[2018-12-03 17:12] aprather51 commented on #64192
+1 with @ccloli I am having exact same issues here.

[2018-12-03 17:12] #62843 closed

[2018-12-03 17:13] jrieken commented on #60011
I am saying it's confusing AF. Why do I get a `layout` or `setVisible` call then? Now I have two ways how to deal with expansion, worst when I am in the constructor `renderBody` hasn't been called yet so that I need to cached that information.

That's the wrong comparison IMO. Everything in the panel & viewlet world works by inheritance except for this.

[2018-12-03 17:14] jrieken commented on #64233
Needed to push

[2018-12-03 17:16] jrieken commented on #64212
IDK - I guess I always click on the twisty no matter what

[2018-12-03 17:17] ramya-rao-a commented on #63703
Thanks @sergeche!

Just waiting for a newer version of the https://github.com/emmetio/abbreviation module, and then we should be able to pull in all the upstream fixes.

[2018-12-03 17:17] #63935 closed

[2018-12-03 17:23] #64041 closed

[2018-12-03 17:24] joaomoreno commented on #60011
So, what do you propose?

[2018-12-03 17:30] joaomoreno commented on #53870
@bpasero The issue was closed but not landed in 3, but 4. So, removing `fixed-in-electron-3.0.x`.

![image](https://user-images.githubusercontent.com/22350/49390546-8ca2cf00-f729-11e8-8310-fa6c88b9f27e.png)

[2018-12-03 17:34] bpasero commented on #63764
@jrieken the size I get is wrong, `offsetWidth` should always be the size of the container as it appears on screen, but I get much smaller width after toggling the sidebar once, which explains why the scrollbar decides to show up, even though the visible space is enough.

[2018-12-03 17:36] MarkMeyerMeyerNet opened #64239 "Cannot install "Winter is Coming" theme"
- VSCode Version: Code 1.16.1 (27492b6bf3acb0775d82d2f87b25a93490673c6d, 2017-09-14T16:24:39.530Z)
- OS Version: Darwin x64 18.2.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
aessoft-class-autocomplete|AES|0.1.0
vscode-generate-getter-setter|DSK|0.5.0
EditorConfig|Edi|0.11.1
beautify|Hoo|1.3.0
output-colorizer|IBM|0.1.2
json-to-ts|Mar|1.5.5
Angular-BeastCode|Mik|7.0.18
material

[2018-12-03 17:36] gof84690 opened #64240 "have Red wavy underline"
- VSCode Version: 1.29.1
- OS Version: Windows 8.1 x64

Steps to Reproduce:

I m Update version 1.29.1
Some time just open dotnet core Console (use VSCode)

"class Program" And "Main(string[] args)" have Red wavy underline

Close, Reopen, Normal

Does this issue occur when all extensions are disabled?: ?

[2018-12-03 17:37] bpasero commented on #53870
@joaomoreno are you sure you linked to the correct issue in Electron in https://github.com/Microsoft/vscode/issues/53870#issuecomment-409955901 ?

[2018-12-03 17:38] johnpapa commented on #64239
Here is his error message

![img_1142](https://user-images.githubusercontent.com/1202528/49390939-22fdd300-f6df-11e8-882f-10a206528ca1.JPG)

[2018-12-03 17:41] realh opened #64241 "Scrollable area's width does not reduce when long lines are removed/reduced"
Issue Type: <b>Feature Request</b>

If any lines are too long to fit the width of the viewport it becomes horizontally scrollable. The trouble is that removing or reducing the length of those lines doesn't reduce the width of the view so that the scrollbar can be removed. I have to close the tab and reopen the file.

I try to avoid long lines, but sometimes it's difficult to avoid temporarily crea

[2018-12-03 17:41] Filgeary commented on #64209
Ok, i will clean my Chrome.

By the way, I have Chrome extensions: uBlock Origin, PerfectPixel by WellDoneCode, Application Launcher for Drive (by Google), Google Docs Offline.

[2018-12-03 17:44] usernamehw commented on #64239
Since all vscode colors have defaults maybe it's a good idea to ignore minimum vscode version in `package.json`...
[code]

[2018-12-03 17:48] bpasero commented on #61762
When I print the keybinding we emit:

https://github.com/Microsoft/vscode/blob/57d85c2667e8e66140e0f7edfb8b6e636c6a4876/src/vs/workbench/parts/webview/electron-browser/webviewElement.ts#L163

At least I am getting the exact same result on Linux (where the keybinding works) as on Windows, weird.

[2018-12-03 17:55] winzig commented on #63869
@joaomoreno That command returns nothing at all. I tried to `cd` into it, and received a permission denied, so I then ran:

`sudo chown $USER ~/Library/Caches/com.microsoft.VSCodeInsiders.ShipIt/`

Restarted the insiders build, and now the software update works!

Sorry about the run-around, I didn't realize there was a ShipIt directory for both kinds of builds...

[2018-12-03 17:57] Platiplus opened #64242 "Bug on padStart function hint (NodeJS)"
Issue Type: <b>Bug</b>

When I try to write a padStart() function on a string, the hint shows the incorrect order of args.
First you should write the number of characters intended on the string, and after that, the filler character or string.

On the hint on VSCode, the order is incorrect.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)

![image](

[2018-12-03 18:01] aguarino77 commented on #64098
No way to start!  Here's my system report

[code]

[2018-12-03 18:06] MarkMeyerMeyerNet commented on #64239
downloading and installing the latest version of code 1.29 resolved the issue

[2018-12-03 18:06] bpasero commented on #64209
@Filgeary the "Chrome" version we are using in VSCode, not by Google Chrome - the browser. You should be able to delete that Cache folder after closing Code to get out of it.

[2018-12-03 18:07] bpasero commented on #64098
@aguarino77 thanks, yours seems to be https://github.com/Microsoft/vscode/issues/62628

@codemonkey800 please check the same

[2018-12-03 18:08] Gerschtli commented on #14444
More than two years after opening this issue, a minimum of at least 1000 user want this feature and all we do is waiting? Is there anything we can do to speed things up? It's a bit annoying how useful extensions trying to help automate things are blocked by such a minimal extension API..

[2018-12-03 18:08] bpasero commented on #62628
Reopening, looks like more people are seeing it. Sounds to me like a Mojave regression.

[2018-12-03 18:08] Gerschtli commented on #64148
Doesn't look like a complete duplicate, but regarding the age of the linked PR, this is some part of vscode, that doesn't get the attention it needs to..

[2018-12-03 18:13] #62556 closed

[2018-12-03 18:13] #63771 closed

[2018-12-03 18:14] Filgeary commented on #64209
Ok.
I already reinstall VS Code.

[2018-12-03 18:17] sbatten commented on #64152
This is a duplicate of a separate issue that is resolved in insiders.  Will be fixed in next release.

[2018-12-03 18:17] #64152 closed

[2018-12-03 18:31] johnpapa commented on #64239
Glad it works!

Is the vscode version setting required? I could remove it from the `package.json`

[2018-12-03 18:31] johnpapa commented on #64239
Feel free to close now.

[2018-12-03 18:32] #64239 closed

[2018-12-03 18:36] Tyriar commented on #62991
@dcelasun could you add `lsof` as a dep to your AUR package?

[2018-12-03 18:36] Tyriar commented on #64226
duplicate https://github.com/Microsoft/vscode/issues/57803

[2018-12-03 18:36] #64226 closed

[2018-12-03 18:38] Tyriar commented on #62953
is this a personal machine or managed by your organization?

[2018-12-03 18:39] Tyriar commented on #63964
Is it just the editor that doesn't work? You mentioned git in your report, does it have something to do with the git integration?

[2018-12-03 18:41] Tyriar commented on #61565
https://github.com/Microsoft/vscode/issues/61613

[2018-12-03 18:41] #61565 closed

[2018-12-03 18:42] Tyriar commented on #62670
https://github.com/Microsoft/vscode/issues/57803

[2018-12-03 18:42] #62670 closed

[2018-12-03 18:43] Tyriar commented on #62882
You could do a keybinding to send the reset sequence, I don't think that's actually what you want though. I recommend creating a basic extension that just sends the kill and new terminal commands.

[2018-12-03 18:43] #62882 closed

[2018-12-03 18:46] dcelasun commented on #62991
@Tyriar thanks for the ping, I've updated stable and insiders builds.

[2018-12-03 18:48] Tyriar commented on #62456
I can't reproduce.

Are you suggesting this is a race condition by quickly snapping the window while the terminal is launching?

[2018-12-03 18:52] Tyriar commented on #62804
Here's what happens:

- Multi-root: Whatever was the last active root (based on files opened), falling back to the first (I think)
- One folder: The folder
- No folders: "home" fallback folder

It seems the only complication is when multi-root happens, but the difference here is that the terminal panel must launch asap without user intervention (we cannot have a picker here) I'm not sure what the

[2018-12-03 18:53] Tyriar commented on #62081
We need more information in order to be able to repro/action.

[2018-12-03 18:53] #62081 closed

[2018-12-03 18:55] Tyriar commented on #62560
The error message tells you what the problem is:

[2018-12-03 18:55] #62560 closed

[2018-12-03 18:55] EricJizbaMSFT commented on #54397
@isidorn I'm getting this every time I try to debug:
![screen shot 2018-12-03 at 10 51 35 am](https://user-images.githubusercontent.com/11282622/49394851-c8b63f80-f6e9-11e8-9e18-b3874901fd74.png)

I created a simple VS Code extension that replicates the bug when you F5:
https://github.com/EricJizbaMSFT/helloworldext

VS Code version: Code - Insiders 1.30.0-insider (9e62a05bc7c5dbb74d165e06f7c3a5f3

[2018-12-03 18:55] Tyriar commented on #61987
This is a Chromium problem (Electron uses Chromium).

[2018-12-03 18:56] #61987 closed

[2018-12-03 18:56] #62503 closed

[2018-12-03 18:57] Tyriar commented on #62392
This is likely related to winpty, tracking in https://github.com/Microsoft/vscode/issues/45693

[2018-12-03 18:57] #62392 closed

[2018-12-03 18:59] Tyriar commented on #61623
https://github.com/Microsoft/vscode/issues/6442

[2018-12-03 18:59] #61623 closed

[2018-12-03 19:00] Tyriar commented on #61892
I believe this is an issue with ipython as it only affects it.

[2018-12-03 19:03] Tyriar commented on #62350
@tylerleonhardt do you have a suggestion of what should happen for powershell?

[2018-12-03 19:07] Tyriar commented on #62041
Is this a personal machine or managed by your org? Also what's `$SHELL` set to and what's in your settings.json file?

[2018-12-03 19:08] Tyriar commented on #61999
https://github.com/Microsoft/vscode/issues/38137

[2018-12-03 19:08] #61999 closed

[2018-12-03 19:10] Tyriar commented on #62033
@bpasero possibly a problem with the notification? How does it alert when popped up?

[2018-12-03 19:13] #63794 closed

[2018-12-03 19:14] MAXMASTER001 opened #67486 "cannot update Node debug"
cannot update Node debug. I think this gievs me the error "Debug adapter process has terminated unexpectedly (exit code: 1)"

![image](https://user-images.githubusercontent.com/11816983/49395763-748e7800-f748-11e8-9c78-287f9085cf21.png)

[2018-12-03 19:23] lllopo commented on #63764
I'm debugging it here with the DevTools console, and the offset width is actually wrong even before the call to 'this.breadcrumbsControl.layout'. I mean - if you put a breakpoint before line 983 and check the offsetWidth - it is already wrong ... at my place at least.

[2018-12-03 19:23] cleidigh commented on #64040
Repeating my comment above for clarity:

Besides this happening on code-open as @roblourens  states, it ALSO happens every time a setting is changed in the new settings editor.  Hopefully the information is helpful...

[2018-12-03 19:30] Tyriar commented on #61618
https://github.com/Microsoft/vscode/issues/57803

[2018-12-03 19:30] #61618 closed

[2018-12-03 19:31] #61573 closed

[2018-12-03 19:32] #61559 closed

[2018-12-03 19:35] Tyriar commented on #61548
Thanks for the feedback. We're looking at improving the overall WSL experience in https://github.com/Microsoft/vscode/issues/63155, your problem seems largely a problem with the Anaconda build though so you might have more luck going over the flow with them.

[2018-12-03 19:35] #61548 closed

[2018-12-03 19:36] mjbvz commented on #63013
Thanks @jrieken! I believe this started happening after the `resolve` call in the TS extension went from being a single async operation to two. Previously, if cancellation occurred after the single operation had been dispatched but before `resolve` returned, we'd still return the fully resolved completion item. After the change in TS, on cancellation we bail early and return the unresolved complet

[2018-12-03 19:36] #63013 closed

[2018-12-03 19:37] roblourens commented on #64079
Offline, we discovered that something in the build/test chain of this project is removing the `//# sourceMappingURL` comment from the .js file. Without that, the sourcemap can't be loaded.

[2018-12-03 19:37] #64079 closed

[2018-12-03 19:38] Tyriar commented on #61465
This issue originates from electron, you can check if it repros on the latest release and create an issue here if you want https://github.com/electron/electron

[2018-12-03 19:38] #61465 closed

[2018-12-03 19:39] Tyriar commented on #60277
We don't support Fedora 22 https://code.visualstudio.com/docs/supporting/requirements#_platforms

[2018-12-03 19:39] #60277 closed

[2018-12-03 19:41] #59365 closed

[2018-12-03 19:43] rebornix commented on #63292
The cpu log shows terminal is doing heavy computation

![image](https://user-images.githubusercontent.com/876920/49397520-b4297580-f6f0-11e8-9519-8d553cd1418c.png)

[2018-12-03 19:45] rebornix commented on #63154
This feature can be turned off by `editor.copyWithSyntaxHighlighting`

[2018-12-03 19:45] #63154 closed

[2018-12-03 19:47] mjbvz commented on #61935
The cancellation files are just a symptom of the `Loading...`. They are expected

Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-12-03 19:47] #64240 closed

[2018-12-03 19:48] mjbvz commented on #64211
Did you open that file in VS Code at some point?

Also, does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-12-03 19:52] sabriele opened #64244 "Incorrect JSX Line Comment of Attribute (Re-open issue #36175)"
**VSCode Version: 1.29.1
OS Version: macOS 10.14.1 (18B75)**

I apologise for opening a new issue for an issue that has previously already been closed+locked (and apparently, solved): #36175. I am still experiencing this and suspect that it is due to some flawed extension as mentioned [here](https://github.com/Microsoft/vscode/issues/36175#issuecomment-341557457). Unfortunately, the extension(s) a

[2018-12-03 19:53] rebornix commented on #63812
@IlyaBiryukov definitely go ahead!

[2018-12-03 19:53] misolori commented on #63144
Closing issue as explorations are completed, will refer to this issue when the change is made.

[2018-12-03 19:53] #63144 closed

[2018-12-03 19:57] Tyriar commented on #16375
We can probably remove the `saveSync` safely based on the comment as anything reading it will get the paths validated.

[2018-12-03 19:59] Tyriar commented on #63292
Duplicate https://github.com/Microsoft/vscode/issues/56517

[2018-12-03 19:59] #63292 closed

[2018-12-03 20:02] chrmarti commented on #64133
@bpasero Is the setting enabled in the Electron 3 build?

[2018-12-03 20:04] souhaiebtar commented on #64159
in brackets editor when writing code, let say
a file `scripts.js`
we write console, the code editor (brackets ) show the documentation
`The console object provides access to the browser's debugging console, the specifics of how it works varies from browser,..` mdn web docs

[2018-12-03 20:04] chrmarti commented on #60773
Disabling the setting by default for tomorrow's Insiders build.

[2018-12-03 20:05] svillar commented on #63866
Linux, Debian unstable in particular

[2018-12-03 20:12] chrmarti opened #64245 "Test: Run dev container from image"
- [ ] macOS
- [ ] linux
- [ ] windows

Complexity: 2

Test the simple case: https://github.com/Microsoft/vscode-dev-containers#image

[2018-12-03 20:16] chrmarti opened #64246 "Test: Open Dialog and New Window"
https://github.com/Microsoft/vscode-remote/issues/296

- [ ] anyOS
- [ ] anyOS

Complexity: 2

Check that Open Folder and New Window behave as expected when working with WSL and dev containers.

[2018-12-03 20:33] thernstig commented on #64211
@mjbvz It is opened when you do a diff in VS Code. Hence the weird name of it.

[2018-12-03 20:34] x62 opened #64248 "Please give line numbers a border or different background color"
Issue Type: <b>Feature Request</b>

Line and editor backgrounds are same color.  This causes me to misplace my cursor when starting a new line.  This issue has been raised years ago.  It seems like an easy fix.   Thank you.
(Yes I have tried the editor.renderwhitespace -> boundary
Kinda hokey don't you think?)

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:1

[2018-12-03 20:36] SRajapakseOscar commented on #51790
Hiding line numbers and scrollbar would be very useful and should also be available in zen mode settings.

[2018-12-03 20:40] cleidigh commented on #58922
See PR #64109 for verification steps

[2018-12-03 20:41] tmh2211 opened #64249 "CHrome/Brave browser lag when VS code is opened and mouse is moved"
Issue Type: <b>Bug</b>

1.Open VS code
2.Open Brave browser (0.25.2) or chrome (70.0.3538.110)
3.For a good demonstration open a video player within the browser
4.While the video is playing move the mouse anywhere over the browser window
5.Video lags (as far as I can see the whole rendering of the browser lags, e.g. scrolling while moving the mouse also demonstrates this behavior)

VS Code version

[2018-12-03 20:44] robmuh commented on #35337
I definitely need this. After finding the file I have to dig extensively through the explorer to find the file and edit it. This prevents quick use of global search to open files for editing (much like spotlight and cortana allow). This is a use case in addition to the regular find and replace that leverages the functionality of global search to facilitate quick file edits.

[2018-12-03 20:48] watikarosm opened #64250 "Can't run python3 and collection module is missing"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2018-12-03 20:55] mjbvz commented on #64244
This is likely caused by the sublime-babel-vscode grammar extension

I just tried #36175 with all extensions disabled and confirmed we still get the correct comment style

[2018-12-03 20:55] #64244 closed

[2018-12-03 20:56] Tyriar commented on #59685
This must be a problem with wsl then, we're just hosting the wsl process and don't control the output.

[2018-12-03 20:56] #59685 closed

[2018-12-03 20:57] mjbvz commented on #64171
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-12-03 20:59] mjbvz commented on #64194
Please share some complete, example code (as text)

[2018-12-03 20:59] #64138 closed

[2018-12-03 21:00] jookyboi commented on #64133
@rebornix Turning system proxy to `off` (instead of the default `force`) does fix the problem in Insiders.

[2018-12-03 21:13] #63779 closed

[2018-12-03 21:19] usernamehw commented on #64248
[code]

[2018-12-03 21:33] mjbvz commented on #64192
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-12-03 21:37] mjbvz commented on #64100
Is the tslint extension listed in the extensions view? Search `@installed` to see all installed extensions

[2018-12-03 21:42] x13pixels opened #64251 "Hexadecimal display of a 32-bit value should pad with zeros"
Issue Type: <b>Bug</b>

Open the watch window and use the ",x" suffix to display a 32-bit variable as hexadecimal. Note, for example, that 25165824 displays as 0x1800000 rather then 0x01800000.

This would make it easier to compare values in the watch window if the hex output was a consistent length.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)

[2018-12-03 21:46] icithis opened #64252 "[less] syntax/linter issues with each functionality"
- VSCode Version: 1.29.1, 1.30.0-insider
- OS Version: macOS Mojave 10.14.1

Steps to Reproduce:

1. Create a .less file.
2. Paste the valid code from http://lesscss.org/functions/#list-functions-each in the first example.
[code]
3. Notice the linting errors dealing with the `each` functionality, valid in LESS since 3.7.0, released 2018-07-11.

Does this issue occur when all extensions are disable

[2018-12-03 21:48] britalmeida commented on #58304
The plan sounds great!

Regarding the UX:
- it would be nice to be able to add a data breakpoint for a variable, also by right-clicking it on the source code directly. Otherwise, there is an extra step of having to add the variable to the Watches first.
- it would also be nice to be able to enter an address manually, instead of just a variable name. This action is usually available on the breakpoi

[2018-12-03 21:50] smlombardi opened #64253 "Support ~/ paths for typescript.tsdk"
Issue Type: <b>Bug</b>

I am getting an error in the workspace:
[code]

The first part of the error path is the project in question:  `/Users/st016lo/github/angular-material-test/`   Not sure why this is being appended to what I put in my user  settings.

My global version of Typescript is installed at
`/Users/st016lo/.nvm/versions/node/v10.1.0/lib/node_modules`

Wherein `/Users/st016lo` is my hom

[2018-12-03 21:54] #64216 closed

[2018-12-03 21:56] rebornix commented on #61278
We no longer have such code so the error won't be triggered any more.

[2018-12-03 21:56] #61278 closed

[2018-12-03 22:01] #64235 closed

[2018-12-03 22:07] raahmed opened #64254 "Docker Refresh Command Paletter Prompts for Username and Password of Unknown Site"
Clicking 'Refresh' on the Docker Extension user interface opens the command palette. The command palette prompts for a username and password.

The command palette does not clarify that the credentials being required are for **Docker**. This is particularly confusing if the container images are placed on Azure Container Registry.

My suggestion would be to have the prompt ask the user for their 'Do

[2018-12-03 22:10] weinand commented on #51785
Verification:
- use simple "hello world" extension
- register for "onDidChangeActiveDebugSession" and "onDidStartDebugSession"
- verify that the session in the event has correct "workspaceFolder" and "configuration" attribute values.

[2018-12-03 22:10] donkikos commented on #49846
Hi @danyeh, when is Armenian language going to be available on transifex?

[2018-12-03 22:12] RMacfarlane opened #64255 "Test: Debugging from process explorer"
Test for https://github.com/Microsoft/vscode/issues/63147

- [x] anyOS @jrieken
- [x] anyOS @egamma

Complexity: 3

Adds a 'Debug' context menu item to node processes. If an --inspect, --inspect-brk, --debug, or --debug-brk flag is found (with or without port number), a debug session is started against a debug port. If none of the flags are found but the process executable is node a debug session

[2018-12-03 22:13] mungojam commented on #17147
I may have misunderstood, but isn't this a bit of a security risk? I don't expect when I clone a repository off the net for it to be able to automatically run arbitrary tasks when I open it in VS Code.This change seems to enable that attack vector.

It's different if I choose to debug it or run tests on it or something, where I know there is a risk.

[2018-12-03 22:20] RMacfarlane commented on #63863
Hey @leegee, I recently checked in a fix for making the Cmd+w shortcut work to close this window. Is this bug report for the shortcut? Or are you also unable to close the window using the close button?

[2018-12-03 22:20] justinTM opened #64256 "VS Code cannot properly handle Network volumes when they are disconnected"
Put simply: VS Code does not handle network interruptions well enough.

### Here's what leads to problems:
Work within a single folder
Folder is hosted on a server (network volume on macOS, ie. smb://)
Volume is only accessible once connected through a VPN (built-in to macOS)
Use VS Code to edit files in this volume folder.
Disconnect from wifi, put the computer to sleep, or disconnect from a VPN.

[2018-12-03 22:21] mjbvz opened #64257 "Suggestion trigger characters not inserted"
Issue Type: <b>Bug</b>

**Repo**
1. In  a js file
1. Type `consol`
1. Press `.` to accept `console` suggestion

**Bug**
Only `console` inserted. The `.` is dropped

VS Code version: code-oss-dev 1.30.0 (Commit unknown, Date unknown)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x 2200)|
|GPU Status

[2018-12-03 22:28] mjmaldonado opened #64258 "Performance Issue submission for #61224"
@bpasero, per your request on [#61224](https://github.com/Microsoft/vscode/issues/61224)

Issue Type: <b>Performance Issue</b>

I started experiencing issues 19 days ago (11/12).

Since my most recent comment on 11/13, I haven't experienced any problems and the dialogue box has not shown up.

Generally, performance wasn't and isn't bad.  What would happen is the dialog box of "The window is no lon

[2018-12-03 22:36] fiveisprime commented on #64254
This belongs over in the Docker extension :)

[2018-12-03 22:46] mjbvz commented on #64257
@jrieken I'm reverting c2c2e48dd3c704b8585ba7a7c642d75afca74ce7 so that it does not hit insiders. Still looking into fix

[2018-12-03 22:47] JayKayAce commented on #64250
What versions of python do you have installed on your system?
Have you tried
* Open vscode
* pressing CTRL+Shift+P
* write "select python enterpreter"
* press enter and then it should list your python repls

Best regards JayKayAce

[2018-12-03 22:52] mjbvz opened #64259 "Listener leak in diryDiffDecorator"
Issue Type: <b>Bug</b>

**Repo**
1. In a js file:

[code]
1. Keep typing `.l` then hitting enter to accep the log suggestion. Undo a repeat

**Bug**
In dev tools console, see:

[code]

Looks like we keep adding listeners for the same model over and over again:

https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/scm/electron-browser/dirtydiffDecorator.ts#L1047

VS Code version:

[2018-12-03 23:03] Zyrsha opened #64260 "the Minimap is a major downgrade from what we had 10 years ago"
Back in 2008, we had all kinds of awesome functionality in Visual Studio with the Minimap.

We had the document margin map with different color codes. And before that,
We had BareMetal Scroll
We had RockScroll
and we had stuff like Visual Assist,
all working together.

- You could see selections, brightly highlighted in the map.
- You could see search results, brightly highlighted in the map.
- Yo

[2018-12-03 23:08] RMacfarlane commented on #63437
What's the output of running `/bin/ps -ax -o pid=,ppid=,pcpu=,pmem=,command= | grep Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron`?

[2018-12-03 23:11] mjbvz commented on #63630
You can email them to `matb at microsoft`

[2018-12-03 23:12] skn3 opened #64261 "trackpad two finger scroll ignores windows settings and is way too fast!"
- VSCode Version: 1.29.1
- OS Version: 1803 - 17134.407

Steps to Reproduce:

1. Open a long document
2. Scroll using two fingers on bootcamp macbook trackpad

Does this issue occur when all extensions are disabled?: Yes

I am running latest available vscode on windows 10 via bootcamp. I have all updates installed. If I try and scroll any portion of vscode using two finger scroll, then the the scr

[2018-12-03 23:16] RMacfarlane opened #64262 "Test: GitHub Pull Requests extension"
Test for https://github.com/Microsoft/vscode-pull-request-github/issues/678

- [x] macOS @kieferrm
- [x] linux @sandy081
- [x] windows @gregvanl

Complexity: 3

**Set up**
Install the latest Github Pull Requests extension (0.3.1). The [pullrequest-demo](https://github.com/auchenberg/pullrequest-demo) repo can be used to test against.

**Verify**
The extension now has a "Suggest Edit" command in th

[2018-12-03 23:17] icopp opened #64263 "Add option to disable "Working Tree" editing from the Source Control pane"
When I use the Source Control pane, it's rarely if ever that I want to actually see the diff version of the file. I'd rather have opening a file from this pane just open it as a normal editor. Can an option be added for this?

[2018-12-03 23:22] mjbvz commented on #46718
@roblourens I feel workspace search should probably respect `search.exclude` but I don't think TS should be the one to determine this. If we to enable this, one option is to:

* Make VS Code filter the returned results.
* And also encourage providers to consult the `search.exclude` so that they don't return results that will be filtered out

[2018-12-03 23:31] roblourens commented on #46718
Yeah if there is a max result count, then the provider definitely has to do the filtering. Hopefully eliminating results saves more time than it costs to do the glob matching.

[2018-12-03 23:32] rushton3179 commented on #20330
Anyone working on this? I am picking it up otherwise.

[2018-12-03 23:37] mjbvz commented on #64253
We only support workspace relative or absolute paths for tsdk (not shell conventions like `~`). A few extensions such as python use libraries like [this one](https://www.npmjs.com/package/untildify) to support `~` paths.

I've updated the title and have marked as a feature request. The setting we'd want to support is:

[code]

[2018-12-03 23:40] mjbvz commented on #56026
Let me know if you still setting this on the current VS Code insiders 9e62a05bc7c5dbb74d165e06f7c3a5f3c7549096 with extensions (and TS plugins) disabled. We've made several fixes around intellisense suggestions and I can't repo this issue anymore

[2018-12-03 23:40] #56026 closed

[2018-12-03 23:41] rickvanprim commented on #37379
related: #44146

[2018-12-03 23:48] IlyaBiryukov commented on #64017
Ok, then I guess we should handle the command without parameters and ask users what they want to apply the command to.

[2018-12-03 23:48] #64017 closed

[2018-12-03 23:53] rebornix commented on #63852
The information we ask is what the Issue Reporter put into the clipboard. You can also follow https://github.com/Microsoft/vscode/wiki/Performance-Issues to provide more detailed info.

[2018-12-03 23:55] lzcd opened #64264 "Request access to calendar without explanation"
- VSCode Version: 1.29.1
- OS Version: 10.14.1

Steps to Reproduce:

1. Opened Visual Studio Code
2. Recieved OS request to grant Visual Studio Code access to Calendar

[2018-12-03 23:56] rebornix commented on #63837
I mislabeled this issue, sorry for that. @auchenberg , do you have any idea of how we can better handle this warning?

[2018-12-03 23:57] weinand commented on #58304
@britalmeida thanks for the feedback.
- if you read my proposal carefully, you will find that I already mention "setting data breakpoints directly".
- VS Code will never deal with "addresses". It only sends strings to the backend and the backend can decide what to do with it.
- VS Code provides the UI, but not the implementation in the backend. So the conditions, hit counts and log points are only

[2018-12-03 23:59] krupenja commented on #64264
Dupe of #55236

[2018-12-04 00:00] RMacfarlane opened #64265 "Select options remain open when navigating away from settings editor"
Issue Type: <b>Bug</b>

1. Open the settings editor
2. Focus a setting that has a dropdown so that the options are displayed
3. Switch editors

The dropdown remains open:
![screen shot 2018-12-03 at 3 59 34 pm](https://user-images.githubusercontent.com/3672607/49409221-74748500-f714-11e8-82cd-2d70091aa127.png)

Not sure if this is an issue with the select itself, or the settings editor.

VS Code v

[2018-12-04 00:01] #35080 closed

[2018-12-04 00:01] IlyaBiryukov commented on #62609
I'll try to send it out today. Also December is fine.

[2018-12-04 00:08] mjbvz opened #64266 "Incorrect completion inserted for ts function compl"
Issue Type: <b>Bug</b>

**Repo**
1. With `"typescript.suggest.completeFunctionCalls": true`
1. For a TS file:

[code]

1. Trigger suggestions at the `|` and select `push`. Hit enter.

**Bug**
The line is completed to:

[code]

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:06:21.742Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|I

[2018-12-04 00:10] mjbvz commented on #64266
This was fixed by d5843e550fd5fcc9785c2f126b876818a7f2217f. Forgot to open an issue

[2018-12-04 00:10] #64266 closed

[2018-12-04 00:17] rebornix commented on #64125
@BipulRaman do you see `Â` when you set `"editor.renderControlCharacters": true`? I tried your sample file but can't get `Â` from it.

[2018-12-04 00:18] rajinder-yadav commented on #63272
The bug exist for me in chrome, nothing happen in the playground got SHIFT+CTRL+E, but if I change the code to CTRL+E the pop is displayed.

[2018-12-04 00:20] #59922 closed

[2018-12-04 00:21] rebornix commented on #63862
@leegee can you open "Keyboard Shortcuts" and search for "closefindwidget" and see it's bind to `Escape`? I can't reproduce this issue on my mac.

[2018-12-04 00:21] cleidigh commented on #58724
Addressed with PR #64267
See PR for verification steps

[2018-12-04 00:33] mjbvz commented on #64242
Seems like https://github.com/Microsoft/TypeScript/issues/23555. I can't repo in latest VS Code build:
![screen shot 2018-12-03 at 4 31 47 pm](https://user-images.githubusercontent.com/12821956/49410287-f5358000-f718-11e8-878c-1e8dfee84e70.png)

* Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?
* Are you using a cust

[2018-12-04 00:33] mjbvz commented on #64259
Duplicate of #64238

[2018-12-04 00:33] #64259 closed

[2018-12-04 00:42] Maldrek opened #64268 "Will not open in browser w/wo live server"
When I go to hit open with live server or open in default browser I get the error 'Open browser failed!! Please check if you have installed the browser correctly!'. The live server button or the 'Go Live' (Ritwick Dey's 'Live Server' extension) option result in nothing. The browser doesn't open with the page although it will read as though it has moved to the port. When I go to the port specified

[2018-12-04 00:43] cleidigh commented on #64265
@roblourens
Ha, I was afraid this would occur.
@joaomoreno set the _sticky flag that Jackson added for debugging.  I was going to ask him if this was intentional.  @joaomoreno was his left as 'true' by mistake when you're doing some mouse work for list?

I will verify if this is the case and fix unless requested otherwise...

[2018-12-04 00:46] 756445638 commented on #64171
You cannot reproduce this issue ? I have not install vscode insider.

[2018-12-04 00:50] mjbvz commented on #64171
There's not enough information to try reproducing. Please follow [this guide](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions) to submit a proper issue report. This should include:

- Exact steps to reproduce the problem
- Installed extensions
- When the problem started

And please test this on insiders

[2018-12-04 00:50] axe-z opened #64269 "format selection does not work correctly"
Mac os 10.14.1
Vscode latest

every function params gets scrammed on formats:
Post: {
		author: ( _ , args, ctx, info ) => users.find(user => user.id === _.author ),
        },

becomes : author: (_,args,ctx,info) => users.find(user => user.id === _.author),

params should have spaces, or the option somewhere. Really wished the context menu would have prettier.. The context menu is severely under

[2018-12-04 00:50] rajinder-yadav commented on #63272
The problem must be with VSCode, it's doing something strange.

1. I showed using `xev` all the correct key events are generated.
2. I showed setting shortcut for other GUI apps, which are easily set to CTRL+SHIFT+E

Also why SHIFT+CTRL+E work after I press SHIFT+CTRL+D?

[2018-12-04 00:51] roblourens opened #64270 "Test multiline search improvements"
Test https://github.com/Microsoft/vscode/issues/62961 and https://github.com/Microsoft/vscode/issues/62304

- [x] macOS @alexandrudima
- [x] linux @Tyriar
- [x] windows @joaomoreno

Complexity: 3

This only applies to the search view, there are no changes to the editor find widget.

- The search and replace inputs should expand to fit multiple lines of text, up to some max, and they can scroll aft

[2018-12-04 00:58] 756445638 commented on #64171
is This also have something to do with extension , I just uninstall all extension , and I still get the error.

[2018-12-04 00:58] 756445638 commented on #64171
I will try insider later.

[2018-12-04 01:00] roblourens commented on #64265
Good catch, it looks like a mistake, I'll revert it so it can get into tomorrow's build. Let me know if that's not the case @joaomoreno.

[2018-12-04 01:01] roblourens commented on #64265
Actually looks like you are on it @cleidigh, go ahead if you want to create a PR.

[2018-12-04 01:02] SmallLuma commented on #62953
Yes,it is my personal machine.

[2018-12-04 01:02] smlombardi commented on #64253
Or, like the project manager extension does it, with a `$home`

[2018-12-04 01:03] mjbvz opened #64272 "VS Code stalls for a second or two when triggering suggest on very large js file"
From #63473

0. Use `localityBonus`
1. Open `10000.js` from the repository in #63473 (Either @alexandrudima or I can share this file)
1. Wait for js/ts to finish loading
1. On a blank line near the start of the file, trigger suggestions.

**Bug**
There is a several second long hang for the entire editor. Based on the [profile](https://github.com/Microsoft/vscode/files/2641921/Profile-20181203T1702

[2018-12-04 01:05] kieferrm opened #64273 "Log levels passed to extension are off by one"
Issue Type: <b>Bug</b>

`vscode.env.logLevel`  is supposed to be 1-based (as defined by vscode.LogLevel by reaches the extensions as 0-based value.

VS Code version: Code - Insiders 1.30.0-insider (9e62a05bc7c5dbb74d165e06f7c3a5f3c7549096, 2018-12-03T06:12:08.874Z)
OS version: Darwin x64 18.0.0

[2018-12-04 01:06] cleidigh commented on #64265
Fixed with, #64271

[2018-12-04 01:09] cleidigh commented on #64265
@roblourens - you have to merge, I'm not allowed :-(

[2018-12-04 01:10] roblourens opened #64274 "Test search via FileSearchProvider and vscode-cached-search-provider lib"
Test #59922

- [x] Windows @stevencl
- [x] anyOS @jrieken

Complexity: 2

Test that file search via the FileSearchProvider API and the extracted support library works correctly

- Install https://marketplace.visualstudio.com/items?itemName=roblourens.test-search-rg
- Start vscode with `--enable-proposed-api roblourens.test-search-rg`
- Test that quick open search works fine
- Single folder and mul

[2018-12-04 01:12] #64265 closed

[2018-12-04 01:14] aisen0921 opened #64275 "Python extension's intellisense is not working"
Issue Type: <b>Bug</b>

os: win10
python: 3.3.5、3.7
I have already  install the vscode and python extension again ,
and remove other extensions.
But it's still not working.

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2018-12-04 01:18] #60187 closed

[2018-12-04 01:21] roblourens commented on #60187
Verification steps

- Use create-react-app to create a basic app (**don't** use the --typescript option)
- Use this launch config for tests:

[code]

- Set breakpoints in a .test.js file
- Verify that they don't shift around and can be hit
- Note that they may not be hit on the first run. Rerun the tests from the terminal (in the same debug session) or use a `debugger` statement. https://github.co

[2018-12-04 01:27] phucvo0709 opened #64276 "Not realtime showing suggestions code?"
- VSCode Version:  1.29.1
- OS Version: MACOS 10.14.1

My code does not track code to display Suggestions, Errors due to help seeking help?

![nh ch p man hinh 2018-12-04 luc 08 21 17](https://user-images.githubusercontent.com/35060381/49412271-6f5c1800-f79e-11e8-942c-aa68e6190513.png)

[2018-12-04 01:31] #64276 closed

[2018-12-04 01:31] #64275 closed

[2018-12-04 01:32] #64268 closed

[2018-12-04 01:39] mjbvz commented on #64257
Sorry @jrieken, I took a look but am not sure how about this one. c2c2e48 would be nice to have but is not a regression so it's not essential for November

[2018-12-04 01:44] luabud commented on #60053
I'm sorry if I missed some part of the conversation, but why exactly is the "to activate" being removed from the reload button? I think that "reload to activate" is more informative than just "reload". I remember the first time I installed an extension and I didn't know what "reload" meant nor that I needed to do it in order to activate the extension.

[2018-12-04 01:46] mjbvz opened #64278 "[Test] SignatureHelpContext"
Test for #54972

- [x] Any OS @rebornix
- [x] Any OS @weinand (macOS and linux)

Complexity: 3

**Summary**
Signature help provides now take a context object that includes information about how the provider was triggered.

Signature help providers can now also be registered with a distinct set of `trigger` characters and `reTrigger` characters. Re-trigger characters are only fired when signature h

[2018-12-04 01:47] hipstersmoothie commented on #64100
vscode-tslint is not installed

<img width="363" alt="screen shot 2018-12-03 at 5 47 07 pm" src="https://user-images.githubusercontent.com/1192452/49413057-890c4980-f723-11e8-9263-20208166efc4.png">

[2018-12-04 01:50] 756445638 commented on #64171
[extensions.json - lucyVscode - Visual Studio Code 2018_12_4 9_11_11.mp4.zip](https://github.com/Microsoft/vscode/files/2642021/extensions.json.-.lucyVscode.-.Visual.Studio.Code.2018_12_4.9_11_11.mp4.zip)

[2018-12-04 01:50] 756445638 commented on #64171
windows capture screen auto stopped when extend started.

[2018-12-04 01:54] ganeshkbhat commented on #61145
@sbatten Thanks for your time.

[2018-12-04 01:56] mjbvz commented on #64100
These error are coming from the TSLint Plugin.

I'll update the error string to remove `vscode-tslint`

[2018-12-04 01:57] tifDev commented on #64087
No im referring to the keybinding "ctrl+m" . Vscode is automatically changing that to "ctrl+º" because of my keyboard layout but i dont want to!

[2018-12-04 01:57] #64100 closed

[2018-12-04 02:00] ganeshkbhat commented on #61154
I am also facing the same issue of the custom right click context menu closing immediately. Whenever you right click on the editor or the terminal it immediately closes. I was on Ubuntu 18.04 V and Node 10.x. I upgraded Ubuntu 18.04.1v with latest updates and installed node 11.x. Now the issue is not happening in normal scenarios. `Now the right click context menu closes immediately only in the la

[2018-12-04 02:01] mjbvz commented on #64171
I still don't understand.  Please just explain what you are  trying to do step-by-step and what goes wrong

[2018-12-04 02:13] #63698 closed

[2018-12-04 02:15] 756445638 commented on #64171
I was trying to debug my extension .
I fellow the official "language extension guidelines" .
I have write some codes as you see .
press "F5" start my extension , nothing came out , because I have some debug code like "console.log" , and nothing came out at all .
I go to "debug menu" make vscode pause on caught exception and get the exception and "CALL STACK".
I don't know this exception came from.

[2018-12-04 02:19] mjbvz opened #64279 "[Test] extension configuration of TS Server plugins"
Test for #63181

- [x] AnyOS @dbaeumer
- [x] windows @gregvanl

Complexity: 2

**Summary**
VS Code extensions can now contribute contributed TypeScript server plugins. This is documented [here](https://github.com/Microsoft/vscode-docs/blob/vnext/docs/extensionAPI/extension-points.md#contributestypescriptserverplugins)

**Testing**
Verify the docs make sense.

Test that synchronization works using

[2018-12-04 02:21] sbatten commented on #64137
/duplicate #62593

[2018-12-04 02:21] #64137 closed

[2018-12-04 02:26] Cow258 opened #64280 "await keyword still not included in suggestions"
From [Microsoft/TypeScript#28811](https://github.com/Microsoft/TypeScript/issues/28811)
(There are robots here to prevent overlooked. )
(Please close this issue after assigned. Thank you.)

Issue Type: <b>Bug</b>

The `await` suggestion is still not working as of typescript@3.2.1.
I tested on VSCode - Insiders 1.30.0.
So I open an issue again.
Thank you.

**TypeScript Version:** typescript@3.2.1

[2018-12-04 02:33] mjbvz commented on #64171
That extension will not work as configured. It is activated using `onCommand:extension.sayHello`, which means it expects there to be  `extension.sayHello` command. Since  no such command is contributed, your extension will never be activated.

As a start, try activating it on a language instead: "onLanguage:lucy"

For extension development help, try asking questions over stack overflow or gitter

[2018-12-04 02:33] #64171 closed

[2018-12-04 02:34] TylerLeonhardt commented on #62350
You'll want the [call operator (`&`)](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_operators?view=powershell-6#call-operator-) which should do what you want.

[code]

[2018-12-04 02:35] TylerLeonhardt commented on #62350
This issue doesn't just apply to Windows but any OS that uses PowerShell.

[2018-12-04 02:36] sbatten commented on #64170
@roblourens which `menu.ts` are you referring to?

[2018-12-04 02:39] sbatten commented on #63022
@umnovI any luck with this?

[2018-12-04 02:40] yushuanghe commented on #63964
I cannot confirm whether git is related or not. The TAB page I created in git folder cannot be edited, but the file that has been opened for editing is normal. Everything works fine in the other window.

[2018-12-04 03:03] ccloli commented on #64192
@mjbvz I've done a clean VSCode installation (1.29.1) and can still reproduce the bug. Then I tried VSCode insiders (1.30.0-insider, 9e62a05bc7c5dbb74d165e06f7c3a5f3c7549096), looks like the bug is disappeared in both zip and a clean installation, and installing all the extensions and setting the same `settings.json` works fine. So maybe the bug is fixed in insiders.

![image](https://user-images.

[2018-12-04 03:06] sean-mcmanus commented on #63726
Thanks a lot for fixing this -- I've also been recently plagued by my search results accidentally being dismissed.

[2018-12-04 03:13] sbatten opened #64282 "[Test] Menu bar refactor does not regress behavior"
Test for #63954
- [x] macOS @Tyriar
- [x] windows @sandy081
- [x] linux @rebornix

Complexity: 4

**Summary**
This iteration, there was some refactoring of the menu bar code in order to separate much of the VS Code workbench related logic from the menu bar widget itself. This work was merged in PR #63954. While this PR contains the overflow logic as well, this test item is meant to test that the m

[2018-12-04 03:23] tomavic opened #64283 "Lines and file sidebar and bottom status bar is being displayed as dots after installing new VGA Card"
I ran into ambiguous problem, After installing new Nivida Geforce VGA card and new LG screen, I opened Vscode then I found this

![image](https://user-images.githubusercontent.com/17650005/49416622-48441d00-f783-11e8-9e36-631d79cd6237.png)

![image](https://user-images.githubusercontent.com/17650005/49416819-f0f27c80-f783-11e8-9168-78cfd4e0709b.png)

Previously I was running old screen and Intel b

[2018-12-04 03:50] ladyrick opened #64284 "workspace setting doesn't work."
Issue Type: <b>Bug</b>

I had set in user setting
[code]
and in workspace setting
[code]
But when I open a new terminal, it's still git-bash.
Open cmd.exe is expected.

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-47

[2018-12-04 04:00] iyashpal commented on #64107
![image](https://user-images.githubusercontent.com/19922707/49418264-41c79c80-f7a7-11e8-9018-c5996d084e45.png)

[2018-12-04 04:14] tonywyt12 opened #64285 "CTRL+left click go to a definition then can not continue to the next definition(C++)"
Dear MS,
After CTRL + Left click goto a definition, it switch to a source file name with all uppercase, then i can not goto the next difinition while i am in the uppercase name file. Actually the real source file is not named with all uppercase, i am not sure where the all uppercase file comes from and how could i continue to goto the next difinition with CTRL + Left click.

[2018-12-04 05:37] roblourens commented on #64170
https://github.com/Microsoft/vscode/blob/master/src/vs/platform/actions/common/menu.ts#L39

[2018-12-04 05:44] ishrathkkm opened #64287 "Intellisense"
Issue Type: <b>Bug</b>

intellisense not working sometimes for automatic import

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz (8 x 2712)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabl

[2018-12-04 05:50] likid1412 commented on #64181
execute: `code --disable-extensions`, and the problem is still reproduces.

Need any more info?

[2018-12-04 05:56] bpasero commented on #64209
And is the warning gone?

[2018-12-04 05:57] skprabhanjan commented on #64253
@mjbvz , Can i take a look at this?
Some starter points would be helpful ,thanks :)

[2018-12-04 05:58] bpasero commented on #62033
Using the `alert` `role`:

https://github.com/Microsoft/vscode/blob/57d85c2667e8e66140e0f7edfb8b6e636c6a4876/src/vs/workbench/browser/parts/notifications/notificationsAlerts.ts#L70

We cannot give focus to the notification obviously when it appears.

[2018-12-04 05:58] bpasero commented on #63764
@lllopo ah ok good to know, but I cannot reproduce when I remove that call so it must be related...

[2018-12-04 06:00] #61538 closed

[2018-12-04 06:01] #59306 closed

[2018-12-04 06:01] bpasero commented on #59295
Follow our docs to resolve this: https://code.visualstudio.com/docs/getstarted/userinterface#_preview-mode

[2018-12-04 06:01] #59295 closed

[2018-12-04 06:02] bpasero commented on #64133
@chrmarti I cannot answer your question because I do not know the answer

[2018-12-04 06:02] bpasero commented on #64098
/duplicate https://github.com/Microsoft/vscode/issues/62628

[2018-12-04 06:02] #64098 closed

[2018-12-04 06:03] bpasero commented on #63782
We are building exploration builds that use a much newer version of Electron (our UI framework). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/45498d93166483c2eff886e28f8dab915ae382fc/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/5a736c2e4904ed114fae

[2018-12-04 06:05] bpasero commented on #64175
Does this help:
Follow our docs to resolve this: https://code.visualstudio.com/docs/getstarted/userinterface#_preview-mode

[2018-12-04 06:05] bpasero commented on #64174
@WHITE-ILMARE so you say that the nodemon file watcher detects a change as soon as you open a file?

[2018-12-04 06:06] bpasero commented on #64181
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-12-04 06:10] wta12 opened #64288 "Support Relative Path"
Window 10 x64 (1803)
VS Code 1.29 Portable Mode
I am currently organizing VS Code and Python Interpreter Folders on my flash usb as follow:
E:\Programs \VSCode
     --------------\PythonInterpreter
If I set PythonPath as the absolute path - python debugger works, I should reassign new path if disk letter (E:) has been changed on the new computer. How to create the dynamic reference for current dis

[2018-12-04 06:12] gitbryanolan opened #64289 "When I'm selecting a specific html tag like <div> it select all the <div>... is there a way to disable it?"
Issue Type: <b>Performance Issue</b>

When I'm selecting a specific html tag like <div> it select  all the <div>... is there a way to disable it?

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.17134

<details><summary>Extensions (2)</summary>

Extension|Author (truncated)|Version
---|---|---
html5-boilerplate|sid|1

[2018-12-04 06:13] #63335 closed

[2018-12-04 06:16] gitbryanolan commented on #64289
What can I do about this?

On Tue, Dec 4, 2018 at 2:13 PM vscodebot[bot] <notifications@github.com>
wrote:

[2018-12-04 06:18] Kamilius commented on #63630
@mjbvz sent

[2018-12-04 06:20] BiliKid opened #64290 "Cannot start VS code when running a VPN firstly"
- VSCode Version: 1.29.1
- OS Version:  windows 7 SP1

Steps to Reproduce:

1. running a SSL VPN firstly, and I cannot start vs code with no error information.

but after run the "netsh winsock reset"  in windows cmd.exe, and then I could start VS code again.

This was happened after I took a update, but I cannot remember the specific vision of VS code.

Does this issue occur when all extensions a

[2018-12-04 06:33] jpike88 commented on #59506
This is an annoying one... if there's ```import a from 'b'``` syntax in the file, shouldn't that be easy enough to detect? I don't know of any scenario where mixing both is allowed

[2018-12-04 06:38] websiddu opened #64291 ".vue file can be opened in 3 different tabs or sections"
Thanks a lot for the extension.

Many times the Vue file could grow longer when using webpack and because of its single file architecture. Its very frustrating to jump between the CSS, HTML and JS sections and take a lot of time to scroll. At the same time, I don't want to split the file into 3 different files.

It will be great if the vue file opened will show CSS, HTML and JS in 3 different sect

[2018-12-04 06:42] bpasero commented on #64181
@likid1412 does it just take long to open the dialog to ask for the file name? does it reproduce when saving an existing file?

[2018-12-04 06:45] wiener0zyj commented on #63896
@weinand I see, thanks for your explanation!

[2018-12-04 06:50] usernamehw commented on #64263
/duplicate of #63005  Should be in the next release **1.30.0**

[2018-12-04 06:50] #64263 closed

[2018-12-04 06:50] MrHuangJser opened #64292 "insider 1.30.0 : UI abnormal"
- VSCode Version: insider 1.30.0
- OS Version: MacOS 10.14.1

Steps to Reproduce:

1.upgrade vscode insider to 1.30.0
2. open vscode
3.![image](https://user-images.githubusercontent.com/20551693/49423860-c3352400-f7d3-11e8-8c2e-1ae04f4b32bd.png)

Does this issue occur when all extensions are disabled?: Yes/No

[2018-12-04 06:53] KaoImin opened #64293 "Workspace does not work"
- VSCode Version:1.30.0-insider (1.30.0-insider)(07202fb, 2018-12-04T06:06:15.581Z)
- OS Version: MacOS 10.14.1

Steps to Reproduce:

1. update to the latest insider version
2. open a workspace

The vscode has bugs like this:
![image](https://user-images.githubusercontent.com/24822778/49424044-5d956780-f7d4-11e8-9721-184b8680d602.png)

Does this issue occur when all extensions are disabled?: Yes/N

[2018-12-04 06:54] Filgeary commented on #64209
Yes. No problems anymore.

[2018-12-04 06:55] MrHuangJser commented on #64293
same problem ...

[2018-12-04 06:57] usernamehw commented on #64289
[code]

[2018-12-04 06:58] MrHuangJser commented on #64292
ps: can't find anything in the control panel
![image](https://user-images.githubusercontent.com/20551693/49424227-f0ce9d00-f7d4-11e8-890b-43955dbb73e5.png)
also can't open dev tool panel

[2018-12-04 06:59] bm-stschneider opened #64294 "Latest VSCode Insiders build broken"
Issue Type: <b>Bug</b>

I just updated the insiders version and there is a whole lot missing and nothing seems to work when I hit F1 it is loading indefinetly

VS Code version: Code Insider 1.30.0-insider (07202fbfb82bdada89472dd4b1c3c699b0eab0b4, 2018-11-15T19:06:21.742Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-498

[2018-12-04 07:03] pingshunhuang commented on #64294
Hitting deadlines and saw the update number badge in the bottom left corner. Click update, KaBOOM!

![screen shot 2018-12-04 at 6 02 05 pm](https://user-images.githubusercontent.com/32624534/49424531-f5a04a80-f7ee-11e8-9849-4a76d2f3784f.png)

[2018-12-04 07:04] TreTuna commented on #64294
I'm getting similar behavior when I just updated.

Version 1.30.0-insider (1.30.0-insider)
07202fbfb82bdada89472dd4b1c3c699b0eab0b4
2018-12-04T06:06:15.581Z

Here's a screenshot:
<img width="1792" alt="screenshot 2018-12-03 23 00 36" src="https://user-images.githubusercontent.com/16496746/49424449-7f98d680-f74f-11e8-9c0f-7ecc9fc19118.png">

[2018-12-04 07:08] TreTuna commented on #64293
Duplicate of https://github.com/Microsoft/vscode/issues/64292

[2018-12-04 07:08] Erchamion opened #64295 "Windows not displaying properly"
- VSCode Version: 1.30.0-insider
- OS Version:  MacBook Pro High Sierra 10.13.6

Steps to Reproduce:

1. Get Latest update (07202fb)
2. On restart of VSCode the window layouts are not displaying properly.  See attached screenshot.
<img width="1280" alt="screen shot 2018-12-04 at 2 03 56 am" src="https://user-images.githubusercontent.com/11239968/49424572-027a5b00-f769-11e8-87c6-8a41203efc07.png">

[2018-12-04 07:09] TreTuna commented on #64294
Just adding, this is a duplicate of https://github.com/Microsoft/vscode/issues/64292

[2018-12-04 07:09] usernamehw commented on #64260
/duplicate of #20934 or #20853

[2018-12-04 07:09] #64260 closed

[2018-12-04 07:09] TreTuna commented on #64295
Insiders just broke... Duplicate of https://github.com/Microsoft/vscode/issues/64292

[2018-12-04 07:10] iranzo opened #64296 "Markdown: Update field automatically"
This is probably not only relevant for markdown, but that's what I was trying to do.

As some documents allow for a field to define a 'last updated', it would be good to have a way to get a field updated automatically on 'last modified/updated'  when saving

[2018-12-04 07:12] qmy777 opened #64297 "can not use my vscode"
- VSCode Version: 1.30.0-insider (1.30.0-insider)
- OS Version: mac OS Mojave version 10.14

Steps to Reproduce:

1. open vscode and can't use
2. close vscode and quit its proccess
3. reopen vscode and still can't use
![what happened to my vscode!!!](https://user-images.githubusercontent.com/9345799/49424886-ee6d4280-f7d6-11e8-8c33-60018addb03c.png)

Does this issue occur when all extensions are d

[2018-12-04 07:12] BipulRaman commented on #64125
@rebornix , Â will not be visible in the editor, but when you will run the script, you will see exception. "editor.renderControlCharacters" was not set to true for me. I am not able to reproduce the issue repeatedly, but i have captured screenshot for the same code in two different editor. Please have a look on attached screenshots.
![powershell ise](https://user-images.githubusercontent.com/83124

[2018-12-04 07:17] qmy777 commented on #64297
this is a duplicate of #64292

how to resolve this problem:
[Insiders(1.30.0) displays Windows 10 buttons on Linux (#63081)](https://www.github.com/Microsoft/vscode/issues/63081)

closed

[2018-12-04 07:17] #64297 closed

[2018-12-04 07:19] joy9977 opened #64298 "Very slow"
Its very slow after the recent VSC-updates and plugins. Please help find the plugin or reason to fix this slowness issue

[2018-12-04 07:21] royling commented on #64292
same problem here.

[2018-12-04 07:21] jrieken commented on #64298
please follow this guide: https://github.com/Microsoft/vscode/wiki/Performance-Issues

[2018-12-04 07:26] LukeLin opened #64299 "更新insiders最新版本后出现白屏"
Issue Type: <b>Bug</b>

更新insiders最新版本后内容区出现白屏

VS Code version: Code - Insiders 1.30.0-insider (07202fbfb82bdada89472dd4b1c3c699b0eab0b4, 2018-12-04T06:12:08.117Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz (8 x 4200)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: ena

[2018-12-04 07:30] bm-stschneider commented on #64292
For a quick fix here a link to the previous build
https://az764295.vo.msecnd.net/insider/9e62a05bc7c5dbb74d165e06f7c3a5f3c7549096/VSCode-darwin-insider.zip

[2018-12-04 07:32] likid1412 commented on #64181
does it just take long to open the dialog to ask for the file name?
-- NO, open the dialog for file name is OK, just `Cmd + S` saving file take long.

does it reproduce when saving an existing file?
-- NO, saving an existing file is OK.

[2018-12-04 07:34] leegee commented on #63863
When on the bug-reporting screen (illustrated), I can't find a 'close'
button, ESC has no effect, nor does CMD+W.  But I' mnot running Insiders.

[2018-12-04 07:35] leegee commented on #63862
Sorry! My ESC key is broken!

[2018-12-04 07:35] #63862 closed

[2018-12-04 07:36] #64288 closed

[2018-12-04 07:38] MrHuangJser commented on #64292
have been fix

[2018-12-04 07:38] LukeLin commented on #64299
duplicated issue

[2018-12-04 07:38] #64299 closed

[2018-12-04 07:48] liudonghua123 commented on #11387
I like this feature 😃

[2018-12-04 07:53] jrieken commented on #64292
We have unpublished latest insiders so that things should be back at a working state

[2018-12-04 07:53] umnovI commented on #63022
@sbatten still can repro. It's not that often tho.
![screenshot at 2018-12-04 10 49 53](https://user-images.githubusercontent.com/30232564/49426734-768d2100-f7b2-11e8-828a-cb220f22c2d8.png)

Code version:
[code]

[2018-12-04 07:54] #64285 closed

[2018-12-04 07:55] lgraubner commented on #63437
[code]

[2018-12-04 07:55] jrieken commented on #64269
@axe-z what language and what formatter extension is this?

[2018-12-04 07:57] jrieken commented on #64249
please follow this guide:https://github.com/Microsoft/vscode/wiki/Performance-Issues

[2018-12-04 08:00] joaomoreno commented on #61154
@ganeshkbhat What is your VS Code version?

[2018-12-04 08:04] joaomoreno commented on #63919
Could you record a screen recording?

Can you reproduce with `code --disable-extensions`?

How did you install VS Code?

[2018-12-04 08:05] jrieken commented on #64170
Yeah, we did move the debouncing from the context key service into each menu. That made it N instead of 1 event. There are cases that require sync-context key events, that's why. What I am not sure about is if the profiler shows correct information. @alexandrudima and I have seen this before and our assumption was that performance tab put stronger emphasis on these calls because you don't see the

[2018-12-04 08:05] joaomoreno commented on #63924
@misolori What do you think?

Also note that changing this will affect other users and we'll soon get "but I was accustomed to the old icon!" messages.

[2018-12-04 08:06] joaomoreno commented on #63818
@TheV360 Maybe it's easier if you send us the image, so we can reproduce.

[2018-12-04 08:10] jrieken commented on #64272
Funny coincidence - I saw this yesterday when working on smart select features. The issue that locality bonus works by using smart select ranges. That appears to be slow in large files... I have added a new provider that is bracket based only, much faster, and more suited for this.

[2018-12-04 08:11] jrieken commented on #64257
Fair enough - making the insert-call async was a bold move ;-). Moving this to December for a proper fix

[2018-12-04 08:11] joaomoreno commented on #64027
I'm pretty sure this can happen if VS Code fails to refresh the index version of the file in time for that second stage... 👍  Good catch

[2018-12-04 08:13] joaomoreno commented on #64029
Unfortunately, selecting + committing doesn't do anything. After selecting, you must stage them by clicking on any of the `+` (Stage) inline actions. Once staged, only those changes will be committed.

[2018-12-04 08:13] #64029 closed

[2018-12-04 08:14] furai opened #64300 "PPA/deb package out of date"
Hello,

It seems that there are no recent builds of VSCode.

https://packages.microsoft.com/repos/vscode/pool/main/c/code-insiders/

They stopped like a week ago. Is it intended?

Cheers,
Furai

[2018-12-04 08:15] joaomoreno commented on #62777
I don't think Code ever registered a handler for `file://` at all. It does register itself as a handler for `vscode://` uris, though. If this worked before, was it maybe because you edited the `code.desktop` file, or maybe you configured the OS to use Code for `file://` uris?

[2018-12-04 08:16] sefaaydin opened #64301 "Farklı Kaydet ile kaybolan sayfa"
Merhaba;
Html bir dosya açtım. ismi A.html olsun. üzerinde düzenleme yapıp kaydettim. ama A.html dosyasını kapatmadım. daha sonra ctrl + shift + S tuşu ile kaydetttiğim A.html dosyasının ismini B.html ile değiştirerek farklı kaydettim. Malesef eski dosyam olan A.html dosyasını kapatıp yerine yeni isimde kaydettiğim B.html dosyasını açtı. A.html dosyasındaki yaptığım düzenlemeri geri almama izin ve

[2018-12-04 08:16] joaomoreno commented on #60010
@brennenberkley Can you give me exact path names, so I can reproduce on my side?

[2018-12-04 08:16] joaomoreno commented on #63666
After you disable window background updates, can you restart your machine before attempting to get a new update?

[2018-12-04 08:17] joaomoreno commented on #63386
/duplicate #64027

[2018-12-04 08:17] #63386 closed

[2018-12-04 08:18] joaomoreno commented on #64037
@isidorn <kbd>End</kbd> is <kbd>Fn RightArrow</kbd> in your keyboard.

What navigation do you need?

[2018-12-04 08:20] joaomoreno commented on #64050
Can you show me what you are doing with the right click on the file?

[2018-12-04 08:20] misolori commented on #63924
At first glance, the icon does appear to look like some type of "search" button. Upon inspecting it, you can see that there are two files being compared (i.e. a diff). It's hard to see these details at a quick glance, so if there is a better icon we could use I'd be up to changing that. GitHub uses these icons for diffs/compare:

<img width="79" alt="image" src="https://user-images.githubuserconte

[2018-12-04 08:21] joaomoreno commented on #63117
Not really. @gert7 Can you reproduce on 1.29?

[2018-12-04 08:31] joaomoreno commented on #64221
This requires API changes: `altCommand` on `SourceControlResourceState`, something like that.

[2018-12-04 08:32] joaomoreno commented on #64188
No suggestion really... if the views don't fit in the splitview, there isn't much we could do besides enabling the splitview to scroll. When doing so, you'll risk having scrollbars inside scrollbars... which might end up not being such a big problem. We'd have to try it out.

[2018-12-04 08:33] #60948 closed

[2018-12-04 08:35] alexandrudima commented on #64170
Yeah, AFAICT the Performance tab is astronomically inflating setTimeout times, I don't know why, perhaps to capture stack traces or something. The JavaScript Profiler tab is IMHO much more trustworthy.

[2018-12-04 08:35] ggrimbert commented on #63919
The video is in the archive attached. I had to pause one time which is why the video jumped.
[VsCodeVideo.zip](https://github.com/Microsoft/vscode/files/2642970/VsCodeVideo.zip)

Steps to reproduce :
- Create new folder
- Open vscode on this folder
- Create Git repository
- Create text file and write some content inside
- Commit the file on the active branch (master)
- Create and change branch fro

[2018-12-04 08:37] joaomoreno commented on #53870
@bpasero I created https://github.com/electron/electron/issues/13911, which was flagged as duplicate of https://github.com/electron/electron/issues/5723 which was said to be fixed by https://github.com/electron/electron/pull/13546 in https://github.com/electron/electron/issues/5723#issuecomment-408591913.

It's a big mess.

[2018-12-04 08:37] joaomoreno commented on #63866
Does everything else in Code work?

[2018-12-04 08:39] joaomoreno commented on #63924
I like it. If you find me those assets, let's do it together!

[2018-12-04 08:41] joaomoreno commented on #63919
Does this happen on other dialogs? Try `File > Open Folder` or `Help > About`.

[2018-12-04 08:48] ggrimbert commented on #63919
No, this is the only one blocking my screen.
But I now remember that I had a similar problem some months ago https://github.com/Microsoft/vscode/issues/50026

[2018-12-04 08:52] joaomoreno commented on #64292
All of the occurrences I've seen are macOS only.

I also cannot repro on Windows.

[2018-12-04 08:53] isidorn commented on #64104
The highlight we left inentionally since you can interact with elements that are expandable.
Apart from that the highlight makes it easier to distnguish between different elements (i know people wanted some grouping).

Closing this for now and if we get more complaints I am open to changing that. Or if you feel strongly about it let me know.

fyi @joaomoreno

[2018-12-04 08:53] #64104 closed

[2018-12-04 08:54] joaomoreno commented on #63919
Definitely sounds like an Electron issue on your specific setup.

[2018-12-04 08:56] alexandrudima commented on #63272
@rajinder-yadav If you can reproduce the bug in Chrome, then this is an issue within Chromium, since Chrome contains no source code authored by us. Please go to https://bugs.chromium.org/p/chromium/issues/list

[2018-12-04 08:58] psychelzh opened #64302 ""Git" show modifications incorrectly for unicode characters with "gbk" encoding"
- VSCode Version: 1.29.1 (system setup) (commit: bc24f98b5f70467bc689abf41cc5550ca637088e)
- OS Version: Windows 10, 1809, 64-bit

I am doing coding in the locale of Chinese language, with the encoding of `gbk` (or `cp936`), which is not compatible with `utf8` encoding. For unicode characters (such as Chinese), `git` will always show modifications as the following screenshot, even if there is no m

[2018-12-04 09:00] kenny0002 opened #64303 "#region do not work for *.vue in typescript"
I want to use region&endregion, but not work for *.vue ( in typescript script ).

My code:
<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
@Component
export default class Index extends Vue {
  //#region props

  /** Data Source*/
  @Prop({ type: Array, required: true })
  source?: any[];

  //#endregion
}
</script>

[2018-12-04 09:03] psychelzh commented on #64302
I guess this is also an issue for other encoding paradigms incompatible with `utf8`.

[2018-12-04 09:04] Zyrsha commented on #15178
I've encountered a bunch of extensions that are broken or work poorly due to this specific issue.

For example: I simply wanted a hotkey/command to close saved documents ...
**But I had the wrong idea in wanting to do that**

I tried to use this extension:
https://marketplace.visualstudio.com/items?itemName=lukebatchelor.code-papercuts
Watch it slowly step through each tab attempting to figure out

[2018-12-04 09:05] Zyrsha commented on #15178
I've encountered a bunch of extensions that are broken or work poorly due to this specific issue.

For example: I simply wanted a hotkey/command to close saved documents ...
**But I had the wrong idea in wanting to do that!**

I tried to use this extension:
https://marketplace.visualstudio.com/items?itemName=lukebatchelor.code-papercuts
Watch it slowly step through each tab attempting to figure ou

[2018-12-04 09:06] NaumanMoazzam commented on #63666
Okay, i did restarted the machine but i was still getting this error. I update my machine uninstall some background services. And now it is not showing. It's resolved. Thanks.

[2018-12-04 09:11] #64209 closed

[2018-12-04 09:12] #64295 closed

[2018-12-04 09:12] bpasero commented on #57756
Had to revert https://github.com/Microsoft/vscode/commit/fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970

See https://github.com/Microsoft/vscode/issues/64292

[2018-12-04 09:13] bpasero commented on #64283
We are building exploration builds that use a much newer version of Electron (our UI framework). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/45498d93166483c2eff886e28f8dab915ae382fc/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/5a736c2e4904ed114fae

[2018-12-04 09:16] #64291 closed

[2018-12-04 09:16] bpasero commented on #64290
Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can find

Thanks!

[2018-12-04 09:17] bpasero commented on #64181
Can you follow this wiki and post the results back here to understand more about why performance is so bad for you: https://github.com/Microsoft/vscode/wiki/Performance-Issues

Thanks!

[2018-12-04 09:18] tonywyt12 commented on #64285
Dear MS,

I have only installed the default c/c++ extension provided by MS, here is the repository:
https://github.com/Microsoft/vscode-cpptools

C/C++ for Visual Studio Code Change Log
Version 0.20.1: October 31, 2018

[2018-12-04 09:18] bpasero commented on #64094
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2018-12-04 09:19] tomavic commented on #64283
Aha! That orange label :+1:

I downloaded it and will try with/without plugins and themes. I don't know actually where the problem comes from. So I exclude any relation with the new VGA or LG screen. What do you think @bpasero

[2018-12-04 09:21] bpasero commented on #64283
👍

[2018-12-04 09:22] nikober opened #64304 "[scss] Uncorrect backlight of SCSS extends"
Issue Type: <b>Bug</b>

like this -

  .digit-sm{
      @extend .digit
  }
  .digit-md{
      @extend .digit
  }
  .digit-lg{
      @extend .digit;
  }

[2018-12-04 09:33] alexandrudima commented on #64087
@tifDev `ctrl+m` stays `ctrl+m`. You are hovering and highlighting a different keybinding. Look, at line 66 is your keybinding that uses `ctrl+m`. Also, please note that on line 61 nothing is changed, your `keybindings.json` is not touched by VSCode, it is just a hover message that tells you what is most likely printed on your keyboard based on your current keyboard layout.

[2018-12-04 09:35] dotpointer commented on #62638
Got the same issue when opening a JS file from the left panel file lists, it starts chewing "initializing JS/TS language features" which never seems to stop and it causes high CPU.

Found a workaround here to disable these "features":
https://github.com/Microsoft/vscode/issues/54261

The workaround, which as mentioned also disables some built-in linting:

[2018-12-04 09:37] #63666 closed

[2018-12-04 09:39] isidorn commented on #64037
@lovettchris in debug console, shift + tab to focus the output and than just click End will take you to the end.
@Tyriar already gave the command for the terminal, and that one should be customisable.
So i think we are good here, closing

[2018-12-04 09:39] #64037 closed

[2018-12-04 09:40] alexandrudima commented on #64225
Ok, here are my findings:
* This has nothing to do with the extension host
* The JSON language server spins at 100% CPU for any file called `tasks.json`
* IMHO there is something in the schema of `tasks.json` that leads to the JSON language server to spin at 100%
* That process is not using the C++ watchdog module

I suggest we:
* fix the issue in JSON next milestone (@aeschli)
* fix the issue in

[2018-12-04 09:42] joaomoreno commented on #64302
/duplicate #48038

[2018-12-04 09:42] #64302 closed

[2018-12-04 09:42] joaomoreno commented on #64104
@isidorn Yeah, if you hear more about the hover being a nuisance, let's just disable it.

[2018-12-04 09:53] isidorn commented on #54397
Thanks for the repro steps, reopening and I plan to investigate later today / tomorrow

[2018-12-04 09:58] jrieken opened #64306 "Process Explorer Open in FullScreen"
* macOS
* run in fullscreen mode
* open the process explorer
* 🐛 the prices explorer window also opens in fullscreen mode...

[2018-12-04 10:07] jrieken commented on #64274
@roblourens the extension is broken because it misses the extension.js file...

[2018-12-04 10:08] usernamehw commented on #64149
Found that pressing and releasing <kbd>Ctrl</kbd> before picking workspace workarounds it.

[code]

But the issue is still there...

[2018-12-04 10:09] jrieken commented on #64255
Works like a charm - would be even cooler if we can support electron_run_as_node and SIGUSR1

[2018-12-04 10:09] BiliKid commented on #64290
- there is not output of `code --verbose`
- I cannot start Code , how to open Console
- When I start Code after running `netsh winsock reset`, and then open Console, the output:

/C:/Users/Administrator/AppData/Local/Programs/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:1446  INFO standard startup
/C:/Users/Administrator/AppData/Local/Programs/Microsoft VS Code/resources/app/

[2018-12-04 10:12] halzahrani79 opened #64307 "VS Code consume CPU"
Issue Type: <b>Performance Issue</b>

Once I open visual studio code , it consumes most of the CPU although i have no extensions installed , but the built-in ones

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.10586

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770 CP

[2018-12-04 10:17] insrce opened #64308 "VScode 能使用 WSL中安装的Git&Python"
网上有支持：http://blog.plusls.cn/windows/vscode-using-python-in-wsl/
但不够完整，期望官方给予这些功能.
期待：VScode 能直接使用 WSL 下安装的 Git/Python/PHP等。利于集成开发

[2018-12-04 10:20] jrieken commented on #64274
I have created a vsix locally after cloning https://github.com/roblourens/test-search-rg. 🤞 that I am testing the right thing now...

[test-search-rg-0.0.3.vsix.zip](https://github.com/Microsoft/vscode/files/2643433/test-search-rg-0.0.3.vsix.zip)

[2018-12-04 10:21] jonathan-zageno commented on #56810
I don't know which version I had installed, but this morning I couldn't start code on OSX any longer. So I went back to version 1.25.1 and it works fine.

[2018-12-04 10:30] BiliKid commented on #64290
I compare the output of `netsh winsock show catalog` before and after, I attach the difference, that may be helpful.

Winsock 目录提供程序项
------------------------------------------------------
项类型:                             分层链项
描述:                               SangforLSP_x64 over [MSAFD Tcpip [TCP/IP]]
提供程序 ID:                        {62816A64-DAC2-48DD-B3AD-843C916DDF82}
提供程序路径:

[2018-12-04 10:31] BiliKid commented on #64290
I compare the output of `netsh winsock show catalog` before and after, I attach the difference, that may be helpful.

Winsock 目录提供程序项
------------------------------------------------------
项类型:                             分层链项
描述:                               SangforLSP_x64 over [MSAFD Tcpip [TCP/IP]]
提供程序 ID:                        {62816A64-DAC2-48DD-B3AD-843C916DDF82}
提供程序路径:

[2018-12-04 10:33] usernamehw commented on #64149
@bpasero , **BUT I'M NOT HOLDING <kbd>Ctrl</kbd>**

To review the steps:

* Open vscode
* Open 2 editors
* Close both of them (2) by <kbd>Ctrl</kbd>+<kbd>W</kbd> (When closing tabs by clicking issue doesn't repro)
* Open recent as <kbd>Shift</kbd>+<kbd>Alt</kbd>+<kbd>P</kbd> (When opening recent via <kbd>Ctrl</kbd>+<kbd>R</kbd> or from command palette issue doesn't repro)
* Select the workspace <k

[2018-12-04 10:33] lukebatchelor commented on #15178
Haha. Funny you linked that, my comments above were for when I was making that add-on :P

You'll be pleased to know that "close all saved" is actually built into VSCode now (thanks to @soneymathew)

[2018-12-04 10:43] sandy081 commented on #63941
Is it for creating an output channel from log file?

[2018-12-04 10:44] isidorn opened #64310 "User data dir not passed to extension host debugee vscode window"
1. Get the hello world vscode extension
2. Start vscode with a new `--user-data-dir`
3. Try to debug the extension, notice that the new vscode window is opened, however the `--user-data-dir` is not passed to the new window. This results in the extension host not starting properly which shows up after some time.

[2018-12-04 10:45] joaomoreno opened #64311 "Search: find, replace input boxes miss scrollbar"
Testing #64270

When having a tall multi-line input, the search find & replace boxes are missing a scrollbar when scrollable.

[2018-12-04 10:46] weinand commented on #64310
/duplicate #44734

[2018-12-04 10:46] #64310 closed

[2018-12-04 10:46] jrieken opened #64312 "compareItemByScore blocks extension host"
re #64274

* run quick open on a huge workspace
* notice the extension is unresponsive and has been profiled
* see that `roblourens.test-search-rg` is using most time running `compareItemByScore`

<img width="718" alt="screenshot 2018-12-04 at 11 44 36" src="https://user-images.githubusercontent.com/1794099/49436744-2ca83900-f7ba-11e8-801f-5d5d6af551d8.png">

[exthost-39af76.cpuprofile.zip](https:

[2018-12-04 10:47] sandy081 commented on #64146
I think we do not support launching an extension from OSS build.

@bpasero / @weinand  Please correct me if I am wrong.

[2018-12-04 10:48] sandy081 commented on #44109
What does this view contain?

[2018-12-04 10:49] jrieken commented on #64120
That's because it captures a stack trace. Not sure how often events have been registered to get to 33ms. Please file a new issue when you see this often, we can then disable the warning for stable builds

[2018-12-04 10:49] isidorn commented on #64229
This works great as described.
However after adding a new sub-source with `"a"` clicking on it I get an error. I believe this is expected since this is just mock behavior, however let me know if you would like an issue for this and I can create one.

`Unable to open 'bar-1000-source-0': File not found (file:///foo/bar-1000-source-0).`

[2018-12-04 10:49] #64229 closed

[2018-12-04 10:51] sandy081 commented on #60053
@luabud Its not just about activate, there are other scenarios like uninstall where we cannot have small and proper label. To be consistent we have `Reload` label and description showing why it has to be reloaded.

[2018-12-04 10:51] #60053 closed

[2018-12-04 10:51] weinand commented on #64229
Correct, I did not implement the "sourceRequest" for the sub-sources.
So what you see is the expected behavior.

[2018-12-04 10:54] jrieken opened #64313 "errors when having no search provider"
Test #59922

* have an extension that contributes a file system but not a search provider (like the memfs sample)
* open file search (cmd+p)
* :bug: you see an error message pop up, the console also has errors

[code]

[2018-12-04 10:55] weinand commented on #64146
Of course we **do** support launching an extension from OSS build.
And we have special code to prevent the problem described above from happening.

[2018-12-04 10:56] weinand commented on #64146
@Yumasi does this problem reproduce if you run VS Code without extensions?

[2018-12-04 10:59] isidorn opened #64314 "Loaded scripts should have a collapse all action"
Refs: #64230

As other debug views that are trees the loaded scripts view should have a Collapse All action in the top of the view.
Here's a code pointer to the action https://github.com/Microsoft/vscode/blob/07202fbfb82bdada89472dd4b1c3c699b0eab0b4/src/vs/workbench/browser/viewlet.ts#L188

[2018-12-04 11:01] svillar commented on #63866
Yep, actually works pretty good, congrats for the great job.

The git log does not show anything special, is there any environment variable or something like that that I could use to enable verbose debugging in order to know what's going on there?

[2018-12-04 11:02] usernamehw opened #64315 "Add a command to clear input"
Should work in any input: Settings search, Keybindings search, Extensions search, Find Widget, Quick Pick ...

[2018-12-04 11:05] BeklievParviz opened #64316 "Ctrl + click to follow link in scss when imporing file contains a dash in name"
Issue Type: <b>Bug</b>

Here's the screenshot:
https://yadi.sk/i/Uq14W8bS3jmTog

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz (5 x 2200)|
|GPU Status|2d_canvas: unavailable_software<br>checker_imag

[2018-12-04 11:05] isidorn opened #64317 "Loaded scripts: session and folder should be a bit more distinguishable"
Refs: #64230

In the loaded scripts view if I am debugging multiple sessions how we display sessions and folders is not distuingishable enough. Currently they have these two distinctions:
* sessions do not show a folder icon (which is great, but not visible in the default icon theme)
* sessions have a differetn hover text

I suggest to experiment with prefexing the session title with `Debug Sessio

[2018-12-04 11:06] nelsonec87 opened #64318 "Remember Open Terminals and paths"
When reopening vscode/workspace/project it would be nice to have the previously open terminals opened in the right paths

[2018-12-04 11:12] isidorn commented on #64230
Works great

[2018-12-04 11:12] #64230 closed

[2018-12-04 11:15] #64207 closed

[2018-12-04 11:25] sandy081 opened #64319 "onDidChangeConfiguration is not triggered in main process"
Testing #64282

Windows

- Open VS Code with default options for menubar (custom and default visibility)
- Go to full screen mode
- Change the visibility to `toggle`
- Check menu toggling works 👍
- Change menubar to `native`
- Restart VS Code
- Check menu toggling works 👍
- Exit from full screen
- Check menu toggling works 👍
- Change the visibility back to `default`

🐛 Menu bar is still in togglin

[2018-12-04 11:32] sandy081 commented on #54594
I saw this issue while testing https://github.com/Microsoft/vscode/issues/64282 today.

[2018-12-04 11:33] Yumasi commented on #64146
@weinand yes, I'm still facing this issue if I run vscode with `--disable-extensions`.

[2018-12-04 11:39] weinand opened #64320 "new tree no longer shows ellipsis for long items"
testing #64003:

new tree:
![2018-12-04_12-33-09](https://user-images.githubusercontent.com/1898161/49439538-9546e400-f7c1-11e8-92f7-121e5c1fbff9.png)

old tree:
![2018-12-04_12-38-01](https://user-images.githubusercontent.com/1898161/49439546-9ed04c00-f7c1-11e8-9faa-fc465dd96f97.png)

[2018-12-04 11:47] augusto630 opened #64321 "VSCode Suddenly closes when updating"
- VSCode Version: 1.29.1
- OS Version: Windows 10 Pro Version: 1703 Build: 15063.1418

Steps to Reproduce:

1. Select "Update" when update prompt appears,
2. Request for restart VSCode appears, select "restart later"
3. Close VSCode after some time
4. Open VSCode (no prompt regarding whether is updating or not)
5. VSCode suddenly closes (update is applied and it works normally if opened again)

Th

[2018-12-04 11:48] isidorn opened #64322 "Automatic extension host profiling does not work if debugging extension"
Refss: #64222

Have an extension which causes heavy cpu load. Debug that extension and start the command which causes the cpu load.
No notificaiton that the extension host is taking a hit from your extension.

After discussins with @jrieken
This happens beacuse the extension host allows only one connection, and we can not profile it since the debug is already attached.
In this case we should at le

[2018-12-04 11:49] alexr00 opened #64323 "Sequence of opens and closes leads to open folder not being restored"
Found testing: #64143

Repro:
Open a folder in VS Code
Open another instance of VS Code. It will correctly open without a folder.
Close the first instance of VS Code
Open a new instance of VS Code

Expected: The new instance should open the originally folder.
Actual: The new instance opens without a folder.

[2018-12-04 11:52] chrmarti commented on #64133
Also with Electron 3.

[2018-12-04 12:17] miseifert opened #64324 "Build task: "tsc build" throws "Cannot read property 'forEach' of undefined""
[code]

Steps to Reproduce:

1. Press <kbd>Ctrl </kbd> + <kbd>Shift</kbd> + <kbd>B</kbd>
2. Choose "tsc build ... tsconfig.json" or "tsc watch ..."

A shortened screenshot that shows the chosen option and error message:

![unbenannt](https://user-images.githubusercontent.com/36030114/49441404-a6deba80-f7c6-11e8-8d93-9a0a10363085.png)

Also happens with extensions disabled.

[2018-12-04 12:20] harlecin opened #64325 "Jupyter Integration - Allow Execute Selection + integrate with pweave"
Hey there:)

thx for integrating Jupyter with VS Code!

I used to rely on the Neuron extension and I really liked the option to send whatever selection I make to the ouput window. Currently you have to send the entire cell, which is one of the primary reasons I don't like the original Jupyter notebook, because I cannot step through my code.

Would it be possible to include [PWeave](https://github.

[2018-12-04 12:22] WHITE-ILMARE commented on #64174
Yes.
And opening a file which is not being watched by nodemon will trigger webpack's hot update as well.

[2018-12-04 12:31] harlecin opened #64326 "Jupyter output pane does not respect VS Code Color Scheme"
Working with the Jupyter extension works like a charm, but unfortunately, the color scheme from the editor is not respected by the output pane.

Here is a picture showing the problem with Monokai:
![monokai-color-not-working-jupyter-output](https://user-images.githubusercontent.com/11078385/49442048-9596ad80-f7c8-11e8-99a4-e5889c587366.PNG)

- VSCode Version: 1.29.1
- OS Version: Windows 10

The e

[2018-12-04 12:34] ferdugong commented on #12448
I'm having problems too related to this behaviour.
I suppose most of the people having this problems are programming on a case-insensitive filesystem (HFS+, APFS, NTFS) as myself.

This actually causes me problems while developing because when I'm capitalising a filename git won't recognise the change causing my the same error as @StJohn3D, because the import inside other files wouldn't match the

[2018-12-04 12:39] ibbgomes commented on #43169
I also have this issue with VS Code 1.29.1 on Windows 10. The above fixes didn't work.

[2018-12-04 12:43] weinand opened #64327 "Allow to theme native link tooltips"
This is more a FYI than a bug:
On Elementary OS (Juno) native hovers are black which results in a discrepancy with VS Code's custom hovers:
https://user-images.githubusercontent.com/1898161/49442612-4cdff400-f7ca-11e8-8f2e-74473bd9bb67.gif

It would be nice if hovers would be consistent within VS Code (even if that doesn't match the style of the underlying platform).

/cc @misolori @aeschli @bpase

[2018-12-04 12:43] alexandrudima opened #64328 "Wasted space in the multiline search input"
Testing #64270

<img width="216" alt="screenshot 2018-12-04 at 13 42 34" src="https://user-images.githubusercontent.com/5047891/49442689-8fa1cc00-f7ca-11e8-9664-e774e7a2f424.png">

[2018-12-04 12:48] SrikalyanBurra commented on #62174
Same issue... please reopen

[2018-12-04 12:55] misolori commented on #64202
@chrmarti I'm assuming this isn't available on insiders since we reverted yesterday's version?

<img width="258" alt="image" src="https://user-images.githubusercontent.com/35271042/49443201-1c00be80-f7cc-11e8-9637-d145efbb6aba.png">

[2018-12-04 13:15] Robhox commented on #63690
I could reproduce the bug with any md file (on macOS and windows). The scroll position is not saved for the **Mardown Preview** (which you can get by pressing ⇧⌘V or Ctrl+Shift+V in a md file).
I'm looking at this issue right now to fix it

[2018-12-04 13:21] #64326 closed

[2018-12-04 13:22] alexr00 commented on #63156
@budarin, I [linked ](https://github.com/Microsoft/vscode/issues/63156#issuecomment-443677968)you a stack overflow article with how to configure npm to use bash. Do you always want your npm scripts to use bash, or do you only want them to use bash when you're running them from VS Code? I'm trying to understand the use case so I know if this is a feature people might want.

[2018-12-04 13:29] joaomoreno opened #64330 "Search viewlet hides replace box when using Ctrl Shift F"
Testing #64270

1. Open Search viewlet
2. Show Replace box
3. Open a file, select some text and <kbd>Ctrl Shift F</kbd>

The replace box is now gone!

[2018-12-04 13:30] skprabhanjan commented on #63690
@Robhox , Thanks for the update.
Are you looking into this or should I continue solving this ?

[2018-12-04 13:34] joaomoreno opened #64331 "Search viewlet misses layout calls when replace box changes height"
Testing #64270

1. Open Search viewlet
2. Reveal Replace box
3. Press <kbd>Shift Enter</kbd> a few times in the Replace box to get some new lines
4. Search for `a`, make sure you get results
5. Clear all text from Replace box
6. Click the empty space in the tree

Tree will have wrong height:

![screenshot dmbg41](https://user-images.githubusercontent.com/22350/49445103-59b41600-f7d1-11e8-8f4c-ebd5

[2018-12-04 13:34] Yumasi commented on #64146
As I said above, it seems to be the case given the version number given by VS Code, but I'm not the one who built it. It's from the `code` package available in the ArchLinux community repository.

[2018-12-04 13:35] Robhox commented on #63690
@skprabhanjan I would love to solve it if it's ok for you

[2018-12-04 13:38] weinand opened #64332 "watches view: "collapse all" issue"
testing #64003:

- add a watch expression "x"
- add a watch expression "a"
- run this program on linux:
[code]
- drill down into array and expand range notes
- press "collapse all" button

Observe:
not everything is collapsed

The same works fine in stable

[2018-12-04 13:39] skprabhanjan commented on #63690
@Robhox , sure go ahead , seems like your first contribution , so will leave this to you :)

[2018-12-04 13:41] bpasero commented on #61762
I think a better solution (that I just verified works on Windows) is to listen on the actual keyboard event in the `webview `and serialize that one over to the `renderer `to dispatch to the keybinding service. It looks like one property is missing from Electron's `before-input-event` that causes us to ignore the keyboard event. The property is `keyCode`.

[2018-12-04 13:42] bpasero commented on #64174
That is weird indeed.
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2018-12-04 13:44] bpasero commented on #64323
@alexr00 I am not sure I would agree and I am not sure this is a bug. When you close the first instance, there is no notion anymore of a window that had that folder opened, right? So why should opening another instance restore that folder instead of opening empty?

[2018-12-04 13:45] joaomoreno opened #64333 "Search viewlet selects entire search input when hidden and shown"
Testing #64270

1. Open Search viewlet
2. Type some text in the Find input box
3. Pick up the resize sash and collapse the viewlet until hidden, then expand it until visible again

The entire Find input box input will be selected.

[2018-12-04 13:47] nivnahmias commented on #62628
also experiencing this issue, very frustrating

[2018-12-04 13:52] CurtisDS commented on #2766
Option 4!

Basically just switch the way its handled. When you open the md file, open it in preview only mode. And press the shortcut `ctrl+shift+v` to open the edit tab, instead of opening the preview tab.

Opening both edit and preview at the same time would be fine for me as a quick solution though. But I do think it makes more sense for the main tab to be the preview and then if you need to ed

[2018-12-04 13:57] weinand opened #64334 "New tree based debug hover: the hover widget is not always fitting to the tree"
Testing #64003:

- For a single long string I see the hover wrapping nicely.
- for a structured object with a long string attribute the widget does not "fit the tree" and the long string is not line wrapped either. And there is no horizontal scrolling.

If I expand substructures, a vertical scrollbar appears.
Why does not happen the same in the horizontal case?

In stable I see a horizontal scroll

[2018-12-04 13:58] stevencl opened #64335 "Error when typing character in quick open"
Issue Type: <b>Bug</b>

When typing in a character in quick open, I get the following error after each character:

spawn C:\Users\stevencl\.vscode-insiders\extensions\roblourens.test-search-rg-0.0.3\node\_modules\vscode-ripgrep\bin\rg.exe ENOENT

While testing https://github.com/Microsoft/vscode/issues/64274

VS Code version: Code - Insiders 1.30.0-insider (fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970

[2018-12-04 13:58] #64219 closed

[2018-12-04 13:59] aguarino77 commented on #62628
same here, no way to open VsCode

[2018-12-04 14:02] weinand opened #64336 "new tree debug console truncates output"
testing #64003:

- use this program:
[code]
new tree:
![screenshot 2018-12-04 at 15 01 06](https://user-images.githubusercontent.com/1898161/49447005-b74a6180-f7d5-11e8-8b06-7a2183f2848d.png)

old tree:
![screenshot 2018-12-04 at 15 01 24](https://user-images.githubusercontent.com/1898161/49447016-bd404280-f7d5-11e8-9266-6e8d0a9cb8e1.png)

[2018-12-04 14:02] isidorn commented on #64334
The new tree does not yet support the horizontal hover.
Once that is implemented we plan to add it. Assignign to december since we plan to add it then to the tree I believe.

fyi @joaomoreno

[2018-12-04 14:03] bpasero commented on #62628
Open for ideas from a macOS brain. The relevant crash seems to be:

[code]

[2018-12-04 14:09] monken commented on #64011
Same here. My EC2 instance with Ubuntu 18.04 and Mate desktop actually freezes so opening the Dev Tools is not an option.

[2018-12-04 14:10] binperson opened #64337 "windows Blank"
- VSCode Version: 1.30
- OS Version: windows 10

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/13867836/49447319-30b37580-f811-11e8-868d-c747d5010d49.png)

Blank！！！

Does this issue occur when all extensions are disabled?: Yes/No

[2018-12-04 14:11] isidorn commented on #64327
This is not debug specific. But holds true for all our vscode hovers.
Assigning to @misolori to decide if we should do something here
fyi @bpasero

[2018-12-04 14:13] bpasero commented on #62628
Anyone here willing and able to setup Code to run from its sources so that we are able to debug a bit?

Instructions: https://github.com/Microsoft/vscode/wiki/How-to-Contribute

[2018-12-04 14:16] alexr00 commented on #63932
Looks like you're right https://stackoverflow.com/questions/21077670/expanding-resolving-in-node-js

[2018-12-04 14:17] weinand opened #64338 "new tree debug console: long object attribute values are not wrapped and there is no scrolling"
testing #64003:

run this code:
[code]

Observe:
the long string does not wrap and there is no horizontal scrollbar:
![screenshot 2018-12-04 at 15 12 28](https://user-images.githubusercontent.com/1898161/49447697-7d7a5a80-f7d7-11e8-9fee-b173ae957b13.png)

It would be nice if structured objects (trees) would wrap in the same way as single long strings do.
In the absence of that horizontal scrolling

[2018-12-04 14:18] bcube commented on #62200
I have the same problem.

OS : masOC Mojave 10.12.1
Default Browser : Chrome

However, when accessing the url devicelogin with Safari, I can login successfully for my VS Code.

[2018-12-04 14:21] isidorn opened #64339 "Auto create issue title for automatic extension host profiling"
Refs: #64222

After the extension has been flaged as slow if the user clicks the Report Issue button the issue is created in the proper location.
However it does not have a title. As we have seen from our unlucky experiment couple of milestones back users are usually in this case were uncreative when assigning a title since they are not sure what is going on.
To prevent that and to make it easier

[2018-12-04 14:22] alexr00 commented on #64040
We have two problems here:
- Tasks it writing this to output and no one likes that. I'm looking for a better place to write this.
- The output panel re-opens at unexpected times, like zoom and settings change. @bpasero, do you know why this could be?

[2018-12-04 14:23] sandy081 commented on #64262
Not able to sign in to github from my linux VM. Is there a different mechanism to sign in ?

[2018-12-04 14:23] isidorn opened #64340 "Automatic extension host issue should contain a link to explanation"
Refs: #64222

Automatic issue creation should have a link in the issue to our docs or at least release notes where we explain how we auto detect bad extensions by doing profiles.
This way the extension owner will not be puzled and will figure out why his extension got flagged.

The doc should explain how to use the cpu profile and what the extension author should do once he gets an issue like this

[2018-12-04 14:24] aguarino77 commented on #62628
Ok, which commit you suggest? The latest on master?
On 4 Dec 2018, 15:14 +0100, Benjamin Pasero <notifications@github.com>, wrote:

[2018-12-04 14:24] chrmarti opened #64341 "Tree view message is escaped"
Issue Type: <b>Bug</b>

Testing #64205

Plain text (`Issues & PRs`) should be rendered as such:

![image](https://user-images.githubusercontent.com/9205389/49448189-a6e7b600-f7d8-11e8-9117-d06582b9fad8.png)

VS Code version: Code - Insiders 1.30.0-insider (fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970, 2018-12-04T09:26:33.257Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|I

[2018-12-04 14:30] misolori commented on #64327
Are we able to control the menu styling here for the native menu tooltip? Similar to how Windows uses the same menu style across all hovers we should try to make it consistent here (if we can).

[2018-12-04 14:31] alexr00 commented on #64225
I think this should be fixed as a result of fixing #64207. That one caused ALL json files opened after tasks.json to have no intellisense.

[2018-12-04 14:33] ggrimbert commented on #63919
There is no problem with the dialog. Everything runs fine

[2018-12-04 14:33] alexr00 commented on #64323
The only reason the second instance of VS Code opened without a folder was because the first one already had a folder open.  I still expected VS Code to remember that I was last using that folder.

That said, I'm not sure this is a bug either. It might just be bad user expectations :)

[2018-12-04 14:34] dbaeumer commented on #64225
@alexr00 thanks for looking into it.

[2018-12-04 14:35] jrieken commented on #64339
Do you know how that works with GH issue links?

[2018-12-04 14:36] weinand opened #64342 "input variables: pressing esc should abort task without generating error notifications"
testing #64214:

If a user presses ESC to cancel a dialog, I suggest to abort the whole task silently.
Interpreting the result of an cancelled input dialog as an empty string is not helpful.

Using ESC for the node process picker even generates this error:

![screenshot 2018-12-04 at 15 34 29](https://user-images.githubusercontent.com/1898161/49449083-6d17af00-f7da-11e8-93a6-e8d6b2f952a6.png)

[2018-12-04 14:36] chrmarti opened #64343 "Tree view message: Support commands"
Issue Type: <b>Bug</b>

Testing #64205

Setting `isTrusted` on the MarkdownString is documented as enabling commands, but that doesn't work. Since a lot of other Markdown is already support, it would seem to make sense to also allow commands. (If not: Needs a note in the `message` documentation.)

VS Code version: Code - Insiders 1.30.0-insider (fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970, 2018-12-04

[2018-12-04 14:36] bpasero commented on #64323
@alexr00 in that last step "Open a new instance of VS Code", how do you open that instance?

[2018-12-04 14:37] dbaeumer commented on #64324
Not sure if this is us or @mjbvz

[2018-12-04 14:38] isidorn opened #64344 "Running extensions view needs UX love"
Refs: #64222

F1 > Show running extensions

You see a view which was done by @alexandrudima @jrieken and me in one afternoon without a lot of UX thinking.
If we are going to navigate users to this view (which we now do - check #64222 for details) I believe it needs more UX thinking and love.
First we should figure out if this should be integreted in the extensions viewlet or it deserves to be a se

[2018-12-04 14:40] isidorn opened #64345 "Report issue button in a cramped spot"
Refs: #64222

I did not want to create UX issues for running extensions view, for that I simply created this item https://github.com/Microsoft/vscode/issues/64344

This one I only created because it feels like a minor regression

Previosuly the report issue was aligned to the right. This I personally prefered because it was not in a cramped spot with everything else on the left. And because it was

[2018-12-04 14:40] segevfiner opened #64346 "A problem matcher generating a path to a non-existent file and jump to problem leads to an infinite loop"
- VSCode Version: 1.29.1
- OS Version: macOS 10.14.1

Steps to Reproduce:

1. Create the following:
    **hello-nested/hello.go**:
[code]

    **.vscode/tasks.json**:
[code]

2. Run the build task.
3. Press `F8`.
4. VS Code seems to enter some infinite loop. The open editors view is flickering and the UI becomes unresponsive.

Does this issue occur when all extensions are disabled?: Yes (except vs

[2018-12-04 14:42] lzz1996 opened #64347 "windows10系统打不开Visual Studio Code"
离线的情况下不能打开Visual Studio Code，但是联网以后可以打开，没有任何问题；

[2018-12-04 14:43] chrmarti opened #64348 "Tree view message: Does not wrap"
Issue Type: <b>Bug</b>

Testing #64205

![dec-04-2018 15-41-31](https://user-images.githubusercontent.com/9205389/49449486-4a39ca80-f7db-11e8-8ab8-2f94dbaa0498.gif)

VS Code version: Code - Insiders 1.30.0-insider (fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970, 2018-12-04T09:26:33.257Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(T

[2018-12-04 14:44] misolori commented on #64344
Totally agree, I've already added this to the UX backlog :smile:

[2018-12-04 14:45] isidorn commented on #64339
@jrieken I do not, but looking at @RMacfarlane code here
https://github.com/Microsoft/vscode/blob/07202fbfb82bdada89472dd4b1c3c699b0eab0b4/src/vs/code/electron-browser/issue/issueReporterMain.ts#L811

It seems you can just add `title=`. Though to be precise I would try to reuse that code

[2018-12-04 14:45] chpmrc commented on #63959
Can we remove the `insiders` label? This happens with the stable release too. Thanks.

[2018-12-04 14:46] isidorn commented on #64344
@misolori that's great to hear. I would be happy to provide feedback and potentially do engineering work after we decide what needs to be done.
I would guess @jrieken also has thoughts to share.

[2018-12-04 14:47] go2sh opened #64349 "Uri for Diagnostic doesn't respect the filesystem case sensitivity"
- VSCode Version: 1.29.1
- OS Version: Windows 7

Steps to Reproduce:

1. Create a DiagnosticCollection from an extension with the file uri all lowercase on an case-insensitive filesystem (e.g the output of cl.exe)
2. See the diagnostic showing up within a different file

![image](https://user-images.githubusercontent.com/150886/49449754-e06df080-f7db-11e8-8dd2-c4fe2ccbe9d1.png)

I checked, that w

[2018-12-04 14:48] isidorn commented on #64225
Yes this is probalby fixed. However my [comment](https://github.com/Microsoft/vscode/issues/64225#issuecomment-443775805) still holds.

So should we simply move this to december and remove the important to reflect that?

[2018-12-04 14:48] aguarino77 commented on #62628
Does not open either:

[code]

and the report says
[code]

[2018-12-04 14:49] isidorn commented on #64327
Well we can not change the native hover. But we can change all vscode hovers to match the native ones.
That is what this feature request now reflects I would say.

[2018-12-04 14:51] isidorn commented on #64338
This behavior was like that always.
I agree that it would be cool if we had wrapping enabled in the tree. And we might tackle this in december with dynamic heights in the tree.
Assigning to December to investigate if we can wrap better than

[2018-12-04 14:53] misolori commented on #64327
That will be interesting, especially with intellisense hovers as it contains syntax highlighting and can wrap to multiple lines.

[2018-12-04 14:55] stevencl opened #64350 "Using mouse to interact with install specific version of extension closes menu rather than selecting item"
Issue Type: <b>Bug</b>

Use command palette to select install specific version of extension.
In the list of extensions to select from, click on one with the mouse.
The command palette/quick open disappears instead of showing the list of versions of the selected extension.

When using the keyboard everything works as expected. I can use the keyboard to arrow up and down through the list and use the

[2018-12-04 14:56] martellaj commented on #62804
This makes sense and probably makes it not worth it. I like the control I get when I click the "new terminal" button (when the terminal is already opened) that allows me to choose which folder gets opened up.

When there's no terminal open (in the multi-root case), it's not always the case that the one I want to open is the last one I was working in. Selfishly, this issue doesn't affect me anymore

[2018-12-04 14:59] qaisjp opened #64351 "Highlighting the argument name is string matching, instead of highlighting the actual argument number"
This is a resubmission of #10293 (which was moved from https://github.com/Microsoft/vscode-go/issues/327)

VS Code version: Code 1.29.0 (5f24c93878bd4bc645a4a17c620e2487b11005f9, 2018-11-12T07:39:38.932Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz (8 x 2700)|
|GPU Status|2d_canvas: enabled<br>check

[2018-12-04 15:01] d4nyll commented on #63482
**Feedback**: the help text in the settings tab suggests that lookbehinds are supported. I'd suggest it is rephrased to avoid such confusions until it is implemented.

![screenshot from 2018-12-04 14-54-18](https://user-images.githubusercontent.com/9997953/49450276-959caa80-f7d4-11e8-9166-bb13a45fb70f.png)

[2018-12-04 15:06] geajack commented on #63932
Is there an alternative way to write out the paths in the meantime?

[2018-12-04 15:06] ay0o opened #64352 "Running terminal process "lost" switching workspaces"
- VSCode Version: 1.29.1
- OS Version: macOS 10.14.1

Steps to Reproduce:

1. Run VSCode and open a few terminals. Now, in one of them run for example a docker container (`docker run nginx`). Notice it's not running on background!! (`-d` is not specified)
2. Switch to a different workspace.
3. Switch back to the previous workspace. First thing you can notice is that there is only one terminal, not

[2018-12-04 15:09] chrmarti commented on #62200
@bcube Could you try with an incognito window in Chrome?

[2018-12-04 15:09] jedrichards commented on #42243
Furthermore, although out of scope of this ticket, shouldn't the presence of a local `typescript` module in `node_modules` also be seen as a reason to prompt the user to use that TypeScipt version?

[2018-12-04 15:11] alexr00 commented on #64342
This makes sense to do.

[2018-12-04 15:13] lwxbr commented on #2743
If integrate with Microsoft account would be hard. Maybe it could be implemented at first like profiles do, separate **all user config** in a single folder only. Then, the user could create, for example, a git repository to sync it in other places. Sync is a thing that Git does well.

[2018-12-04 15:16] isidorn opened #64353 "Notification that an extension took to long requires some polish"
Refs: #64222

I suggest to:
1. Use the warning notifcation, not an info. Since it is a warning after all, not something positive
2. I would try not to use the word `task` so users do not think corallate this with our Task framework. I suggest the following text

Extension 'nov-ext' took a very long time for computation and it has prevented other extensions from running.

![screenshot 2018-12-04 at

[2018-12-04 15:18] joaomoreno commented on #64202
To help with testing, use the following extension:

[http-test-0.0.1.zip](https://github.com/Microsoft/vscode/files/2644595/http-test-0.0.1.zip)

It will put 2 commands in the command palette:

- `Make HTTP Request`
- `Make HTTPS Request`

[2018-12-04 15:18] weinand opened #64354 "undefined input variables are silently ignored"
testing #64214:

- in a task use an input variable with an unknown name `${input:unknown}`
- run the task

Observe:
- the variable is not substituted and there is no error popping up.

Since a task with an unresolved variable makes no sense (and might be even dangerous if the ${...} is passed to a real shell) I suggest to popup an error alert (not a notification) indicating a need for immediate at

[2018-12-04 15:19] sandy081 commented on #64350
Good catch @stevencl

Related to quick pick hence forwarding to @chrmarti

[2018-12-04 15:23] isidorn opened #64355 "Consider automatic tasks prompt to be a silent notification"
Currently if I open a workspace with an automatic task I will be asked via a notification if it is ok to run the task automatically.
This will be done for every workspace that I open that has an automatic task.

SInce I am personally very senstive to us adding new notifications and since this does not seem user critical (e.g if the user does not answer he can still use vscode). I suggest that we m

[2018-12-04 15:31] usernamehw commented on #64344
What about features? It would be nice to sort extensions by `Activation`/`Startup Activation` to find the most hungry of them quicker.

[2018-12-04 15:32] bcube commented on #62200
@chrisbenti I tried incognito and it works and i can login in my VS Code.

I also tried to logout from azure.portal in my **normal** window but it is still not working.

[2018-12-04 15:33] isidorn commented on #64344
Yeah I guess we should also add some features.
But there are some things which the view already does well, so I would first be intrerested in just making those clearer / nicer before we add functionality on top.

[2018-12-04 15:33] tifDev commented on #64087
Oh sorry my mistake in the last message, **im talking of the keybinding " ctrl+' " on line 61**. As you said, that hover message says whats is currently happening: is changing to "ctrl+º" but i dont want to. How can i block it?

[2018-12-04 15:34] weinand opened #64356 "input variables: suggest to use "name" or "id" instead of "label""
testing #64214:

A variable reference is tied to its definition via the "label" attribute.
In addition the "label" does not show up in the UI anywhere.

This makes the use of "label" somewhat confusing because it suggests a UI concept.

I suggest to either use "id" or a less-technical "name" attribute instead.

[2018-12-04 15:38] roblourens commented on #63482
Thanks @d4nyll, I meant lookahead. Fixed.

[2018-12-04 15:40] alexr00 commented on #64324
This is an issue with tasks.

[2018-12-04 15:45] sandy081 commented on #64101
@mattmcnabb Can you please provide the sample to reproduce.

[2018-12-04 15:46] bpasero commented on #62628
@aguarino77 great, this points to a different location compared to the other stack trace, maybe we are getting closer. Some questions:
* is there any special character in the path from where you launch?
* can you run `./scripts/code.sh --verbose` to see if we get more output
* does it make any difference if you run `./scripts/code-cli.sh`

[2018-12-04 15:47] bpasero commented on #64355
I actually do not consider "silent notifications" very good UX for notifications that prompt the user for something. I think we should not use this concept in other places where we actually want some input from the user.

I do agree though that this new notification is very spammy.

[2018-12-04 15:47] roblourens commented on #64154
Hm, there should not be any "credentials" involved. Is it possible that you have an invalid GITHUB_TOKEN variable in your environment?

[2018-12-04 15:53] budarin commented on #63156
Our team use the project crossplatform.
Linus & OSX is used bash by deafault, but windows - does not.
We dont want to every our member to know and set up npm to open bash - we use VSCode so it must work crossplatform with bash terminal and bash commands

[2018-12-04 15:58] chrmarti opened #64357 "References View: Keep history when there are no results"
Issue Type: <b>Bug</b>

#64227

It seems to keep the current results when there are no results in a new search. Similarly the history should be kept showing.
- Search with some results.
- Clear results.
- Search on an empty line.
-> Viewlet goes blank and the 'Clear' button doesn't show up.

(When there are results show, a search with no results will make the message go away.)

VS Code version: Co

[2018-12-04 16:01] weinand opened #64358 "consider to allow for variable substitution in the inputs section"
testing #64214:

I assume that variable substitution in the "inputs" section is disabled to avoid recursion...

However, I think it would be helpful to allow "simple" non-interactive variables like ${env:...}, ${config:...}, ${workspaceFolder:...}. This makes it possible to do something like this:
[code]

[2018-12-04 16:03] alexr00 commented on #64324
Fixed by 939d390bc31a074

[2018-12-04 16:03] #64324 closed

[2018-12-04 16:07] weinand opened #64359 "input variable type names are very generic"
testing #64214:

input variable type names "prompt" and "pick" are very broad and generic.

Since I can imagine that the next feature request will ask for a file picker, a folder picker, and a general process picker, I wonder whether we could come up with more specific names that leave room for other future pickers and prompts.

[2018-12-04 16:08] jeffreybradley1963 opened #64360 "Bash terminal on Linux "ls" command changes how some switches work"
- VSCode Version: 1.29.1
- OS Version: Ubuntu 18.04 (Linux 4.15.0-39-generic

Steps to Reproduce:

1. open Terminal
2. type "ls -I *.sh"
3. This should ignore/exclude *.sh files as it does from an Ubuntu Terminal instead it ignores the -I
4. I can put it in a bash script file and when I run from terminal it still ignores it.
5. I can use the long method "ls --ignore='*.sh' and it works

Does this

[2018-12-04 16:09] aguarino77 commented on #62628
@bpasero
* no, I am launching from `/Users/andrea/GIT/vscode`
* the verbose results is here below
* no change if code-cli is called

[code]

[2018-12-04 16:10] #64341 closed

[2018-12-04 16:12] isidorn opened #64361 "Input schema needs love"
The input schema which we use for tasks and debug needs a bit of love.

1. All sentences should end with a dot
2. The description sound short and not very useful. Can we try to copy what descriptions we are using in vscode api for quick pick api. There might be some good sentences there

[2018-12-04 16:14] sandy081 commented on #64343
Commands are supported and references view does use it - https://github.com/Microsoft/vscode-references-view/blob/master/src/extension.ts#L116

[2018-12-04 16:16] alexr00 commented on #63932
You can write out a relative path with ../ or make it an absolute path. I will add the ~ expansion soon!

[2018-12-04 16:16] chrmarti commented on #62200
@bcube You could try deleting the cookies the login page has set. Just start the login and on the first page navigate to the cookies:
![image](https://user-images.githubusercontent.com/9205389/49455902-4496b180-f7e8-11e8-9928-d4f5683afc12.png)

Clicking the cookies text will open a dialog where you can delete them.

[2018-12-04 16:17] sandy081 commented on #64348
It does wrap in references view. Can you provide your message to reproduce

[2018-12-04 16:20] isidorn commented on #61625
Works great now

![screenshot 2018-12-04 at 17 19 33](https://user-images.githubusercontent.com/1926584/49456140-ca1a6180-f7e8-11e8-8d11-0f7f80adddca.png)

[2018-12-04 16:22] cbluth commented on #62456
No really suggesting that, but i tried it a million times to verify at which point the error would occur.
Originally, the issue seemed to happen randomly when opening a new vscode window, but then I tried to reproduce the issue by doing it fast, and i tried it a little delayed.

I could only reliably reproduce the issue if the window was still launching.

No, with the build i pasted below, i canno

[2018-12-04 16:23] isidorn commented on #56853
Verified by hovering over the markdown preview

[2018-12-04 16:23] Tyriar commented on #64360
This has to be environment/config based on something, vscode has no control over bash or ls.

[2018-12-04 16:23] #64360 closed

[2018-12-04 16:23] weinand opened #64362 "support "command" input variable type"
Input variables have introduced an excellent way to parameterize and configure builtin interactive variables. But they lack support for contributing new variables.

But there is an easy way to combine the new input variables with the existing command based variables: a new input variable type "command" makes it possible to turn any command based variable into an input variable.

Example:
[code]

/

[2018-12-04 16:26] work-hrf opened #64363 "Error Problems"
Issue Type: <b>Bug</b>

The solution has no problem but vscode editor make it error

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4590 CPU @ 3.30GHz (4 x 3300)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disa

[2018-12-04 16:30] aguarino77 commented on #62628
I agree with @nivnahmias
It seems to have something to do with cylanceSvc process. If I stop the service and immediately start code (before cylanceSvc resurrects), it starts!

[2018-12-04 16:32] isidorn commented on #63942
This does not work for me both for js and ts files
@mjbvz let me know if I am doing something wrong here
Adding verification steps needed since I am not 100% sure what shold be highlighted here

![screenshot 2018-12-04 at 17 29 56](https://user-images.githubusercontent.com/1926584/49456979-4792a180-f7ea-11e8-96e2-17f9e75b1ee4.png)

[2018-12-04 16:33] isidorn commented on #63814
@roblourens can you please add verification steps?

[2018-12-04 16:38] queeniema commented on #63941
Sorry, I meant to support the original requests... i.e., additional/modification of methods in the API.

[2018-12-04 16:39] bpasero commented on #63353
Same cause as https://github.com/Microsoft/vscode/issues/63764

[2018-12-04 16:39] #63353 closed

[2018-12-04 16:40] isidorn commented on #61590
The hover titles can still be aligned @roblourens and @sandy081
Though the overall alignment is good adding verified

[2018-12-04 16:43] octref commented on #64304
Well if you wrote standard SCSS, that is, with `;` at the end, then the syntax highlight is fine.

[2018-12-04 16:44] bpasero commented on #63764
fix via https://github.com/Microsoft/vscode/pull/64364

[2018-12-04 16:45] weinand commented on #64146
If you do not want to use the official builds, I suggest that you build VS Code yourself by running one of the following platform builds after you have cloned the VS Code repo:
[code]

[2018-12-04 16:47] sbatten commented on #54594
@sandy081 was the behavior unique to the latest insiders or could you reproduce with stable

[2018-12-04 16:48] Eynorey opened #64366 "crashes when launched right after update without internet connection"
Issue Type: <b>Bug</b>

Hi!
- it automatically updated in the background from (up until then) the newest version (it would normally display release notes on next start)
- I started it w/o an internet connection
- it fails to start, I tried multiple times (shortly appears in the task manager but disappears right away)
- it only works again after connecting to the internet
- assumption: tries to get

[2018-12-04 16:49] #64366 closed

[2018-12-04 16:49] Eynorey commented on #64366
clone of https://www.github.com/Microsoft/vscode/issues/62424

[2018-12-04 16:49] sandy081 commented on #54594
I tested only on latest insiders did not try on stable

[2018-12-04 16:50] weinand commented on #64327
Actual I suggested the opposite:

[2018-12-04 16:51] websiddu commented on #64291
@bpasero I was searching thought the issues and couldn't quite find the one similar to this. I was wondering if the API allow us to do something like this. So I can try and build an extension.

I'm just looking for some more information. Thanks.

[2018-12-04 16:51] vkotaru commented on #64011
Hi @Tyriar, vscode completely freezes and the only options available is `quit` and no other options are visible in the menu.

[2018-12-04 16:53] queeniema opened #64367 "Setting to disable autocompletion fuzzy matching altogether"
Issue Type: <b>Feature Request</b>

Sometimes, it is annoying to see completely unrelated results when using autocomplete. See the attached screenshot. I am expecting a _pure_ search (ie, consecutive characters only), but am seeing a lot of results pop up simply because they share the same letters.

<img width="494" alt="screen shot 2018-12-04 at 8 51 21 am" src="https://user-images.githubusercont

[2018-12-04 16:56] sandy081 commented on #61590
I updated Keyboard shortcuts actions title to `Open Keyboard Shortcuts` and `Open Keyboard Shortcuts (JSON)`. Did not add `(UI)` part as `Open Keyboard Shortcuts` is the default command to open the editor.

@roblourens Same can be done for Settings editor actions?

[2018-12-04 17:02] brennenberkley commented on #60010
@joaomoreno I recreated all of my workspaces and that fixed the issue, but I've done that before and it came back eventually in the new workspaces. But all of the projects are in `/Users/Brennen/work/`, and most of them are rails projects. One of the workspaces that was giving me trouble was `/Users/Brennen/VS Code Workspaces/ALL.code-workspace` where the contents of that file look like this: (I c

[2018-12-04 17:02] #64292 closed

[2018-12-04 17:02] safield opened #64368 "List all valid snippet scopes in the documentation"
This feature request can be closed. The desired information is available.

[2018-12-04 17:04] #62407 closed

[2018-12-04 17:04] bpasero commented on #62628
@aguarino77 can you try to comment out this line:

https://github.com/Microsoft/vscode/blob/610665d9d5050895a5f92e536ff281b589dd624b/src/vs/code/electron-main/main.ts#L151

And start again.

PS: sorry, what is `cylanceSvc`?

[2018-12-04 17:04] #64368 closed

[2018-12-04 17:05] usernamehw commented on #61590
@sandy081, can those items **not** be named that way (in parenthes). vscode search not matching them: #27636 and there is no progress on that issue. It would be ideal for the time being not using brackets at all.

[2018-12-04 17:11] aguarino77 commented on #62628
cylanceSvc is an antivirus

I commented out the line, but with no luck

[2018-12-04 17:11] JonJaggerJack opened #64369 "Bug d’exécution pas"
Salut,
Mon VS Code ne s’exécute pas sans connexion internet depuis la mise à jour de Windows vers 1809

[2018-12-04 17:12] roblourens commented on #63814
- Ensure `search.usePCRE2: false`
- Search for a regex with backreference or lookahead pattern.
- A notification should show up suggesting that you enable `search.usePCRE2` (if you don't see it you may have hidden it already, try with a clean user data dir)
- The notification should have a "don't show again" option.

[2018-12-04 17:13] #63795 closed

[2018-12-04 17:13] weinand commented on #64278
@mjbvz could you please points us to a sample as a starting point.

Please see [here](https://github.com/Microsoft/vscode/issues/64229) how I try to help testers to be successful within a reasonable amount of time (that actually corresponds the complexity).

[2018-12-04 17:13] #63758 closed

[2018-12-04 17:16] roblourens commented on #64315
Eh, is it really necessary?

[2018-12-04 17:20] rajeshwarpatlolla commented on #64150
If i do that, it is not even recognising the framework, how can it format ?

[2018-12-04 17:21] Tyriar commented on #64300
Thanks for the report, we're investigating.

[2018-12-04 17:30] rajeshwarpatlolla commented on #64150
I tried uninstalling the prettier now, but still the same issue.

[2018-12-04 17:36] roblourens commented on #61590
@sandy081 looks like they match now so there's nothing to do for settings right?

The filtering issue is annoying...

[2018-12-04 17:37] acid1232 opened #64370 ""Align" property in table"
Issue Type: <b>Feature Request</b>

It displays an error but this propery is correct

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.17763

[2018-12-04 17:38] MikeVelazcoMtz commented on #64369
I think it will be required more information.

Which language are you working on?
Which OS?
Are you using additional resources (external services, servers, etc.)?

[2018-12-04 17:40] roblourens commented on #64120
This was for a typical text search. But what do you think I should be doing here, ignore the warning for now, move the listener to be registered less often, or come up with a way to disable it for this particular instance?

[2018-12-04 17:40] octref commented on #64150
Are you formatting a Vue file? If so why your issue is saying "Formatting HTML file"?

Have you read https://vuejs.github.io/vetur/formatting.html#settings?

![image](https://user-images.githubusercontent.com/4033249/49461386-91b35d00-f7c1-11e8-872a-a52269edff9b.png)

[2018-12-04 17:41] isidorn commented on #63814
Like all notificatinos it has a dont show again as a secondary action under the wrench
I think this is correct behavior, adding verified

![screenshot 2018-12-04 at 18 40 44](https://user-images.githubusercontent.com/1926584/49461507-2767e000-f7f4-11e8-9c1a-6eff99bffb57.png)

[2018-12-04 17:45] roblourens commented on #64170
Wow, I never knew that. This stuff doesn't even show up on the JS Profiler chart. I've gone out of my way to avoid setTimeout before...

[2018-12-04 17:45] #64170 closed

[2018-12-04 17:45] rajeshwarpatlolla commented on #64150
Yes, I am using vue file itself.
Tried this, still no luck.

"vetur.format.defaultFormatterOptions": {
    "js-beautify-html": {
      "wrap_attributes": "force-expand-multiline"
    }
  }

[2018-12-04 17:46] roblourens commented on #63814
It wasn't there until I added it...

[2018-12-04 17:49] roblourens commented on #64328
How do you think we should use it, wrap text around the query options? I think it would look weird and be hard to implement with a textarea. Or move those switches somewhere else, I don't know where.

[2018-12-04 17:52] roblourens commented on #64312
It should not be unresponsive because this code yields sometimes to allow other work to happen. How does the EH get detected as unresponsive and after how much time is it considered unresponsive?

[2018-12-04 17:52] rebornix commented on #37114
@tete1030 thanks for your help! I already left comment there ;) The trick is only input outside of the webview is running into this weird issue.

[2018-12-04 17:52] roblourens commented on #64330
This is by design. If you want to search/replace, use cmd+shift+h.

Otherwise it's impossible to get rid of the replace box with the keyboard.

[2018-12-04 17:52] #64330 closed

[2018-12-04 17:57] chrmarti commented on #64300
Started working again. An internal certificate didn’t verify.

[2018-12-04 17:57] #64300 closed

[2018-12-04 17:57] rebornix commented on #64125
Looks like an encoding issue in the terminal.

[2018-12-04 17:58] #64248 closed

[2018-12-04 18:16] usernamehw opened #64371 "Show contrast ratio in `Developer: Inspect TM Scopes`"
Since it has the info about both `foreground` & `background` it would be handy to show the contrast ratio in the widget.

[2018-12-04 18:21] usernamehw opened #64372 "Ability to remove bot suggested duplicates comment"
Often (more than half of the time) vscode bot creates a comment containing irrelevant links. It would be great:

* If bot can monitor upvotes: On downvote from issue author => delete the comment
* If it can't => On comment `/nope` from issue author => delete the comment

Maybe bot can simply automatically delete it in ~3 days after publishing it.

[2018-12-04 18:22] isidorn commented on #63814
Ok, than it seems we only auto-add for extension notifications.

[2018-12-04 18:31] JonJaggerJack commented on #64369
Je travaille avec Html,Css,Php,Python.J’ai des extensions et thèmes installés et pour le système d’exploitation c’est Windows 10 1809

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

________________________________
De : Miguel Angel Velazco <notifications@github.com>
Envoyé : Tuesday, December 4, 2018 7:39:46 PM
À : Microsoft/vscode
Cc : JonJaggerJack; Autho

[2018-12-04 18:46] #64280 closed

[2018-12-04 18:50] roblourens commented on #64274
Yeah, sorry guys. Thanks @jrieken that's right. And @stevencl I forgot that the extension would only work on the platform that I published it on...

@stevencl Please test with these steps:

- Clone https://github.com/roblourens/test-search-rg
- npm install
- Run the "Extension" launch config

[2018-12-04 18:50] kieferrm opened #64534 "Improve keyboard friendliness of history in Reference List"
Testing https://github.com/Microsoft/vscode/issues/64227.

1) search for references
2) give editor focus
3) run `References: Clear` from the command palette
4) <kbd>Cmd+0</kbd> to focus references list
=> I have to use tab to get to the correct history entry to re-run. I'd like to use arrow keys to navigate or even <kbd>F4</kbd> as this is what I would use in this view anyways. When navigating the

[2018-12-04 18:50] #63437 closed

[2018-12-04 18:52] roblourens commented on #64333
I think this is by design. Typically when you open the search viewlet you want to start doing a search. It might feel weird in this case just because you are using the mouse. But we don't really distinguish between what causes the viewlet to be visible, like this vs `cmd+b`. Do you think it's an issue?

[2018-12-04 18:53] kieferrm opened #64535 "Allow re-running reference searches from command palette"
Testing https://github.com/Microsoft/vscode/issues/64227.

Related to https://github.com/Microsoft/vscode-references-view/issues/45.

Right now I can only use the history after clearing the references search. Allow me to rerun a references search from the command palette no matter whether or not the references list shows results.

[2018-12-04 18:58] RMacfarlane commented on #62664
Duplicate of https://github.com/Microsoft/vscode/issues/63437, have checked in a fix. The problem was that when reading the output of `ps`, we expected the decimal separator to always be `.`, when it was actually determined by locale

[2018-12-04 18:58] #62664 closed

[2018-12-04 19:02] roblourens commented on #64313
https://github.com/Microsoft/vscode/issues/58370

We need some warning or message but maybe we leave it in devtools but don't show a notification.

[2018-12-04 19:02] #64313 closed

[2018-12-04 19:03] ramya-rao-a commented on #63703
@octref All that is left to do is to update vscode-emmet-helper module to consume the latest versions of the `abbreviation`, `markup-formatter` modules

[2018-12-04 19:05] roblourens commented on #63618
Sorry, please try one more time with the latest Insiders. If it still doesn't work, please set `"trace": true` and upload the log from the path in the debug console here.

[2018-12-04 19:11] kieferrm opened #64373 "Can't close the process explorer using Cmd+W"
Issue Type: <b>Bug</b>

I'd like to close the process explorer just like any other window using keyboard shortcuts.

VS Code version: Code - Insiders 1.30.0-insider (fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970, 2018-12-04T09:26:33.257Z)
OS version: Darwin x64 18.0.0

[2018-12-04 19:13] #64270 closed

[2018-12-04 19:13] busticated opened #64374 "webview prevents input via showInputBox() prompt on ubuntu..."
hey there :wave:

i ran into another weird issue - this time only on Ubuntu: when my custom webview is open, the `vscode.window.showInputBox()` prompt is broken.

here's a screencast showing the issue:
![webview-input-bug-small](https://user-images.githubusercontent.com/367674/49465547-c4a22480-f7b2-11e8-900b-2713d43742f3.gif)

**Steps to Reproduce:**
1. show webview in the editor panel
2. run a c

[2018-12-04 19:19] leye0 commented on #47069
@zzdumeng 😨
It's almost faster to rename tags manually 😆

[2018-12-04 19:27] mikeharder opened #64375 "Check for Updates fails with "Unexpected token ܞ in JSON at position 1""
When VS Code starts or I click "Check for Updates...", I get the following error message:

[code]

I captured the failing update request and response in Fiddler:

[code]

In contrast, here's a successful update request and response from a clean VM where I installed the latest VS Code:

[code]

Other than the version string, the only difference in the requests is the failing one includes a `If-None

[2018-12-04 19:33] kieferrm opened #64376 "TS reference code lens should be able to open reference list"
Issue Type: <b>Feature Request</b>

Rigth now when clicking the code lens, peek reference is called. I'd like to use the reference list view instead.

VS Code version: Code - Insiders 1.30.0-insider (fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970, 2018-12-04T09:26:33.257Z)
OS version: Darwin x64 18.0.0

[2018-12-04 19:37] masbaehr commented on #14710
Yea that happened to me as well.
Please add such a feature

[2018-12-04 19:38] #64325 closed

[2018-12-04 19:38] zoehneto commented on #58095
Adding an expand all button as requested in #54941 might also be a workaround for this issue.

[2018-12-04 19:38] #64296 closed

[2018-12-04 19:38] #64303 closed

[2018-12-04 19:38] mjbvz commented on #64303
Please file this against the vetur extension

[2018-12-04 19:39] mjbvz commented on #64287
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-12-04 19:43] Tyriar commented on #64318
We leave this sort of thing up to extensions to fill, for example https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-terminals

[2018-12-04 19:43] #64318 closed

[2018-12-04 19:43] Tyriar commented on #43169
@ibbgomes https://github.com/Microsoft/vscode/issues/57803

[2018-12-04 19:44] roblourens opened #64377 "Cursor in debug variable hover is always a text cursor, not a pointer"
Testing #64003

I can't take a screenshot of my own cursor but

- Debug anything
- At a breakpoint, hover a variable
- Hover text in the popup
- See that the cursor changes to the text cursor, not the arrow pointer. In 1.29 it is always the arrow

![screen shot 2018-12-04 at 11 43 02 am](https://user-images.githubusercontent.com/323878/49468469-d20edd00-f7b9-11e8-869f-26e2afa42faf.png)

[2018-12-04 19:45] PhABC commented on #60664
`1.29.1` does not solve this issue either.

Ubuntu 16.04, using `xdg-open file.html` opens vscode instead of default browser.

[2018-12-04 19:47] Ryan-Gordon opened #64378 "Ability to have user settings conditional on project type"
Here is a prerequisite issue which gives the functionality to change status bar colour : https://github.com/Microsoft/vscode/issues/1884

And here is an issue which requests similar behaviour but at a more abstract level : https://github.com/Microsoft/vscode/issues/62868

As a vscode user
I would like a way to change different settings or have different settings applied depending on language
so th

[2018-12-04 19:49] Tyriar opened #64379 "Terminal find widget shadow is visible when find widget is hidden"
The shadow is visible just under the panel actions

![image](https://user-images.githubusercontent.com/2193314/49468747-a2140980-f7ba-11e8-8e0e-f48da21a32cf.png)

[2018-12-04 19:51] mjbvz commented on #62806
Yeah this does not work well using an overload since most cases aren't caught. We have to revert the proper fix, 96ddd4f288c627550f4d467f14dc556785c5d962, because the conditional types broke our build (and would have broken anyone using TS 2.8 or older to target newer VS Code versions).

I'm just going to revert the overload too and mark this as not worth the effort

[2018-12-04 19:53] Tyriar commented on #62456
I managed to reproduce, likely related to the resize occurring before listeners are installed.

![image](https://user-images.githubusercontent.com/2193314/49468960-177fda00-f7bb-11e8-950a-a40aae44a118.png)

My repro:

1. Open vscode and the terminal
2. Make the window very narrow
3. Close vscode
4. Run `code` and hit super+left while the terminal is blank

[2018-12-04 19:57] Tyriar commented on #64258
Can you try run `code --status` quickly when the window is not responsive? That will tell us is there are some processes that are thrashing the CPU.

[2018-12-04 19:57] roblourens commented on #64232
Works great! Can't find any issues.

[2018-12-04 19:57] #64232 closed

[2018-12-04 20:16] amerov opened #64380 "Ruby hash keys highlighting"
- VSCode Version: 1.29.1
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Open a Ruby file
2. Type hash keys

Does this issue occur when all extensions are disabled?: No
![screenshot from 2018-12-05 01-05-51](https://user-images.githubusercontent.com/196747/49470151-171f2780-f82b-11e8-8cad-2796ead96b55.png)
![screenshot from 2018-12-05 01-04-41](https://user-images.githubusercontent.com/196747/

[2018-12-04 20:33] Ryan-Gordon commented on #64378
To add onto this
It seems my use-case and goal is more of a
 "I want to have access to workbench and other settings in a per-language manner"
Similar to how I can have different editor settings depending on language

[2018-12-04 20:38] MarekLew commented on #61297
Note: when I write "folder name" then I think "workspace folder name" ex. {..."name":"folder/name" ...}

[2018-12-04 20:53] mayo84 commented on #7570
Today I had a similar issue but with graphql-playground-electron v1.8.3. It seems that some win10 update has broken something in electron 2.x framework. The exploration version of vscode with electron 3 is working perfectly. Thanks devs!

[2018-12-04 21:06] weinand commented on #64251
VS Code does not format any values. Please file issue against the debugger extension you are using.

[2018-12-04 21:07] #64251 closed

[2018-12-04 21:14] roblourens opened #64381 "Did you run npm install?"
- Clone a new repo
- Open in vscode
- Tasks output panel pops up and says `Running gulp --tasks-simple didn't list any tasks. Did you run npm install?`
- I didn't but I was just about to! Get off my back! 😁

This doesn't happen in stable, can this be less aggressive? Does it absolutely need to detect tasks when I haven't asked it to run a task yet?

[2018-12-04 21:19] mjmaldonado commented on #64258
If/when it happens again I definitely will.  Thanks for the support thus far.

[2018-12-04 21:22] mjbvz opened #64382 "Highlight @example code in jsdocs as javascript / typescript"
From https://github.com/Microsoft/vscode/issues/63942

[`@example`](http://usejsdoc.org/tags-example.html) tags in jsdocs are considered code blocks. They should be highlighted as code

[code]

[2018-12-04 21:26] Sgt-Nukem opened #64383 "[Windows] [V-Sync] [Nvidia] Very bad flickering and spasms in fullscreen mode (Update)"
When using "gamer settings" for V-Sync on nVidia Hardware on Windows 10...

...Visual Code will flicker and spasm like crazy in fullscreen mode. Heaving many blocks all over the place blinking 10+ times per seconds. VS Code looks like having a seizure then.

I could pinpoint the problem down to why I have this issue on my home computer only. It's because I'm playing games there, too, and have the

[2018-12-04 21:41] pieandcakes commented on #63705
@weinand Can you help explain why task processing would be part of the extension? We haven't added task support to the cpp extension so I don't know where I would look to figure out why this user is getting this error?

cc: @wardengnaw

[2018-12-04 21:43] weinand commented on #63705
@isidorn are you able to you help?

[2018-12-04 21:47] #64175 closed

[2018-12-04 21:49] conleymon opened #64384 "syntax coloring and intellisense very slow"
Issue Type: <b>Performance Issue</b>

All of a sudden, intellisense is unusably slow. This becomes noticeable for files  with 150 lines.  It holds true after re-installation and with no extensions installed.

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|

[2018-12-04 21:59] Tyriar commented on #64282
Tested with OSS build due to https://github.com/Microsoft/vscode/pull/64365

[2018-12-04 22:03] #64143 closed

[2018-12-04 22:06] Tyriar commented on #64125
Please create an issue over at https://github.com/PowerShell/vscode-powershell

[2018-12-04 22:06] #64125 closed

[2018-12-04 22:07] #64382 closed

[2018-12-04 22:08] Tyriar commented on #64011
It looks like there's some exception during launch so I was hoping the menu would be available. Something else you could try is launch using `code --verbose` to see if the problem shows up in the output.

[2018-12-04 22:09] Tyriar commented on #62804
In that case I would recommend using ctrl+shift+` as you will get the picker then, just not with the general toggle panel commands.

[2018-12-04 22:09] #62804 closed

[2018-12-04 22:11] Tyriar commented on #64337
https://github.com/Microsoft/vscode/issues/57803

[2018-12-04 22:11] #64337 closed

[2018-12-04 22:15] Tyriar commented on #64284
It's a security feature, run this command:

<img width="341" alt="screen shot 2018-12-04 at 2 12 58 pm" src="https://user-images.githubusercontent.com/2193314/49476486-fd4ff700-f7ce-11e8-8a5f-e560a2f5332a.png">

[2018-12-04 22:15] #64284 closed

[2018-12-04 22:16] Tyriar commented on #63964
Can you provide a screenshot of the "TAB page" you can't edit?

[2018-12-04 22:17] Tyriar commented on #62350
@TylerLeonhardt thanks for the info 👍

[2018-12-04 22:18] mjbvz opened #64385 "Should task user input be shell escaped?"
Testing #64214

**Repo**
1. On osx.
1. With tasks.json:

[code]

1. Run the task.
1. In the input box, enter:

[code]

1. Run the task

**bug**
Special shell characters not escaped. Not sure if this is expected or how this could be handled better. Backticks probably aren't a real problem but quotes (or spaces) could be

[2018-12-04 22:18] kieferrm opened #64386 "Issue Reporter login to GH"
Issue Type: <b>Feature Request</b>

When a user has the GH PR extension installed, then the user may have a logged-in session with GH. We should think about leveraging this. (I hit rate limited from time to time.)

VS Code version: Code - Insiders 1.30.0-insider (fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970, 2018-12-04T09:26:33.257Z)
OS version: Darwin x64 18.0.0

[2018-12-04 22:27] mjbvz opened #64387 "Tasks schema could alert for inputs where you try using "options" with "prompt""
Testing #64214

**Repo**
Open this `tasks.json` in vscode:

[code]

**Bug**
No warnings in the json file but they fail when you try running them.

Type `prompt` should not allow `options`, while type `pick` should require options. I think you can use json schema conditionals to enforce these

[2018-12-04 22:33] #64205 closed

[2018-12-04 22:40] cantonios commented on #2741
Most links related to obtaining the user-data-dir refer here, but the provided solution of using `storagePath` is workspace-dependent.

It seems `storagePath` is the fs-equivalent of the memento `workspaceState`.

Is there a similar option somewhere for the fs-equivalent of the memento `globalState`?

I *could* use the extension folder `extensionPath`, but this would mean that data will be lost if

[2018-12-04 22:44] #64220 closed

[2018-12-04 22:51] Tyriar commented on #62901
The core issue is fixed but still have some issues which I'll comment over on #63406

[2018-12-04 22:57] Tyriar commented on #63406
Just did verification for https://github.com/Microsoft/vscode/issues/62901

My only problem with ctrl+shift+e now is that it should still be centered when the file was outside of the viewport imo. To clarify I use `"explorer.autoReveal": false` and a keybinding for `workbench.files.action.showActiveFileInExplorer`.

That's what I want 👍

[2018-12-04 22:57] agusputra commented on #64379
Hi Tyriar, how to reproduce this bug?

I'm using vscode 1.29.1.

[2018-12-04 23:00] mjbvz opened #64388 "Not seeing any user facing alert for stalled extension"
Issue Type: <b>Bug</b>

Testing #64222

1. For an extension:

[code]

1. Install the extension ([test-ext-0.0.2.vsix.zip](https://github.com/Microsoft/vscode/files/2646483/test-ext-0.0.2.vsix.zip)) and run the say hello command.

**Bug**
During the stall, I see alerts printed in the dev console but not user facing warnings. No hidden notifications or alerts

VS Code version: Code - Insiders 1.30.0

[2018-12-04 23:05] supakorn-ras opened #64389 "Large files does not render editor correctly."
- VSCode Version: 1.29.1
- OS Version: Arch Linux 4.19 Linux jamie-laptop 4.19.4-arch1-1-ARCH #1 SMP PREEMPT Fri Nov 23 09:06:58 UTC 2018 x86_64 GNU/Linux

Steps to Reproduce:

1. Open a C++ file with large size (1800+ lines)
2. Have multiple extensions in hand - e.g

Does this issue occur when all extensions are disabled?: Yes/**No**

 My extensions list:
akamud.vscode-theme-onedark
akamud.vscode

[2018-12-04 23:07] TylerLeonhardt opened #64390 "vscode.window.activeTerminal doesn't update when an extension opens a new terminal"
In [this PR](https://github.com/PowerShell/vscode-powershell/pull/1619), I was attempting to use `vscode.window.activeTerminal` to handle a keybinding differently.

What I noticed is that the `activeTerminal` does not get updated after our extension creates and shows a new terminal. See [this code](https://github.com/PowerShell/vscode-powershell/blob/master/src/process.ts#L102-L110) for how we are

[2018-12-04 23:18] rajinder-yadav commented on #63700
OK this time apt-get updated `code-insiders`. This is really inconsistent behavior. Sometimes I have to update with dkpg using manual download and other times not.

However code-insider still fails to reload, CTRL+SHIFT+P -> "Reload window" closes the running instance down only.

[code]

[2018-12-04 23:22] rajinder-yadav commented on #63272
Thanks @alexandrudima, can't be bother to create an account to log the bug. I'll live with it for now.

[2018-12-04 23:37] rebornix commented on #64319
What I ran into Native menu bar does not respect the visibility setting on Linux but the state is always 'Visible'.

[2018-12-04 23:40] #64282 closed

[2018-12-04 23:43] #64141 closed

[2018-12-04 23:44] mjbvz commented on #64141
To verify:

1. In VS Code workspace, add `[fdsafdasfds](package.json#L100)` in the `Readme.md`
1. Open preview
1. Click link in preview
        * Line 100 of `package.json` should be revealed
1. Click link in markdown editor.
          * Line 100 of `package.json` should be revealed

[2018-12-04 23:47] mjbvz commented on #64222
Blocked by testing some of this by #64388. Any reason why I would not be seeing the user facing alerts?

[2018-12-04 23:59] mjbvz opened #64391 "Closing script tag not highlighted properly in markdown files"
Issue Type: <b>Bug</b>

**repo**
1. For a markdown file:

[code]

**Bug**
Closing script tag is not properly highlighted:

![screen shot 2018-12-04 at 3 58 32 pm](https://user-images.githubusercontent.com/12821956/49480945-85d59400-f7dd-11e8-850d-3b426dbb4db4.png)

VS Code version: code-oss-dev 1.30.0 (Commit unknown, Date unknown)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</sum

[2018-12-05 00:05] amerzafar commented on #50426
I have same problem in running simple .net core api on mac

[2018-12-05 00:09] d-a-s opened #64393 "Syntax highlighting problem, unreachable code or unbalanced brackets"
Issue Type: <b>Bug</b>

I was working on a section of code, and when I went to the top to add a helper function, I found that as soon as I typed `return` in the new function's body, before I could type the rest of the return statement and the closing bracket for the function, much of the code disappeared (see screen shot).
![screenshot_2018-12-04_19-03-01](https://user-images.githubusercontent.com

[2018-12-05 00:13] roblourens opened #64394 "Editing variable from object to primitive value, expand arrow isn't removed"
Testing https://github.com/Microsoft/vscode/issues/64003

- Debug this code, set a BP on the console.log:

[code]

- Expand the `x` object
- Edit `x` to a primitive value like `123`
- `x` still has the expand arrow in the variables pane

![image](https://user-images.githubusercontent.com/323878/49481333-47d96f80-f7df-11e8-8cc9-ea8df871d010.png)

- The expand arrow goes away correctly in 1.29

[2018-12-05 00:17] mjbvz opened #64395 "Confusing ... suggestion showing in ts files on arrow functions"
Issue Type: <b>Bug</b>

**repo**
1. Using TS 3.2
1. Open a ts file:

[code]

**Bug**
Notice the `...` under `x`. When you move the cursor over the `...`, we offer the `convert to braces` / `remove braces` refactoring

This behavior is really confusing. Accepting these refactors will not get rid of the `...`, which is actually an `infer type` suggestion

VS Code version: code-oss-dev 1.30.0 (Commit

[2018-12-05 00:17] mjbvz commented on #64395
Root cause https://github.com/Microsoft/TypeScript/issues/28702 but I'm just going to disable these suggestions entirely on broken TS versions

[2018-12-05 00:19] #64395 closed

[2018-12-05 00:19] roblourens commented on #64377
Also in the console

[2018-12-05 00:25] currentcreative opened #64396 "bash: promlsource: command not found"
- VSCode Version: 1.29.1
- OS Version: OS X

Steps to Reproduce:

1. Open VS Code
2. Look at terminal...don't even have to have a document open.

Does this issue occur when all extensions are disabled?: Yes
![screen shot 2018-12-04 at 7 24 25 pm](https://user-images.githubusercontent.com/1802530/49481754-49fcf780-f7fa-11e8-9221-814ba9a8bca7.png)

[2018-12-05 00:31] roblourens opened #64397 "Debug console always scrolls to top when switching consoles"
Testing https://github.com/Microsoft/vscode/issues/64003

- Debug two launch configs so you have two debug consoles
- Switch to console A, scroll to the bottom of the output
- Switch to console B
- Switch back to console A, see that it is scrolled to the top. It should preserve the scroll position or default to scrolling to the bottom.

[2018-12-05 00:36] roblourens opened #64398 "Debug console does not initially scroll with output"
Testing #64003

- Debug a program that produces lots of output
- Initially the debug console stays scrolled to the top, while output goes out of sight. I have to scroll down to catch up, and once I've scrolled to the bottom, the debug console correctly continues to scroll as new output shows up

[2018-12-05 00:39] roblourens opened #64399 "Callstack context menu contributions don't appear"
Testing https://github.com/Microsoft/vscode/issues/64003

- Debug node
- Right click context menu
- "Node: Toggle skipping file" item does not appear: https://github.com/Microsoft/vscode-node-debug2/blob/master/package.json#L501g

[2018-12-05 00:43] roblourens opened #64400 "Tree error from callstack"
Testing https://github.com/Microsoft/vscode/issues/64003

- Start debugging, pause
- Focus a call stack frame
- Press space
- `Data tree node not found: fulfilled ... `

![image](https://user-images.githubusercontent.com/323878/49482354-a6085180-f7e3-11e8-9996-3497a0074113.png)

[2018-12-05 00:46] mjbvz commented on #64355
With the silent notification proposal, would running tasks be deferred until you deal with the notification? Just want to make sure code is never automatically executed when you open a workspace

[2018-12-05 00:56] roblourens opened #64401 "Navigating multiline debug console input"
Testing https://github.com/Microsoft/vscode/issues/64003

- Have wrapped lines of text in the debug console input
- arrow up/down only navigates history, I can't use it to move the cursor between wrapped lines

Also
- Have multiple lines of text (with actual newlines via shift+enter)
- Arrow up/down does move the cursor between lines but I can't navigate history

I should be able to navigate throu

[2018-12-05 00:59] roblourens commented on #64401
Actually I see there is just a difference between navigating the history (up/down only goes through history) and editing (up/down only controls the cursor in the input).

I think this is actually not bad, you can close this if you want.

[2018-12-05 01:11] #64003 closed

[2018-12-05 01:18] joshunger opened #64402 "Re-writing of import paths causes failures since they're re-written after a file save which causes failures on fast rebuilds such as webpack or parcel running"
Issue Type: <b>Bug</b>

INTRO: I love this overall feature please keep it. https://code.visualstudio.com/updates/v1_24#_update-import-paths-when-a-file-is-moved-or-renamed

However ...

Re-writing of import paths causes failures since they're re-written after a file save which causes failures on fast rebuilds such as webpack or parcel running.

This is a fun bug. Let me know if you can reproduce t

[2018-12-05 01:36] Aerosiderolito opened #64403 "Print my code in visual studio"
Issue Type: <b>Feature Request</b>

Please can you add a print option?

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)
OS version: Windows_NT x64 10.0.17134

[2018-12-05 01:41] kingpalethe commented on #33752
Same issue here. Need to find a way to move the hint below the current line.

[2018-12-05 01:44] gauravsaini commented on #63161
So the rg.exe instances are not closing if you type in a new keyword.
Ideally if you type in new text in the search box the old rg.exe should close and new thread should spawn.

[2018-12-05 01:52] weikinhuang commented on #63539
ping @Tyriar?

[2018-12-05 01:52] nik-shornikov commented on #63611
Awesome... thanks for fixing my immediate problem. Is this by design or still a (lesser) bug?

[2018-12-05 02:09] huanhexiao commented on #63505
Do you mean pressing enter could get rid of the sticking？
I am sorry，when this issue occurs，everything is freezing.
i have to enter into tty1 to “killall code” , to retrieve it

[2018-12-05 02:32] tankzhangying opened #64404 "debug chrome"
Issue Type: <b>Bug</b>

ReferenceError: suggestionsSummaryListHeader is not defined
    at HTMLParagraphElement.eval (eval at E (chrome-error://chromewebdata/:14:208), <anonymous>:3:21)
    at w (chrome-error://chromewebdata/:5300:845)
    at L.b (chrome-error://chromewebdata/:5306:231)
    at L.e (chrome-error://chromewebdata/:5305:393)
    at window.jstProcess (chrome-error://chromewebdata/:5308

[2018-12-05 02:33] tankzhangying opened #64405 "debug chrome"
Issue Type: <b>Bug</b>

发生异常: ReferenceError
ReferenceError: closeDescriptionPopup is not defined
    at HTMLAnchorElement.eval (eval at E (chrome-error://chromewebdata/:14:208), <anonymous>:3:21)
    at w (chrome-error://chromewebdata/:5300:845)
    at L.b (chrome-error://chromewebdata/:5307:113)
    at L.e (chrome-error://chromewebdata/:5305:393)
    at window.jstProcess (chrome-error://chromewe

[2018-12-05 02:37] WHITE-ILMARE commented on #64174
Thanks...

[2018-12-05 02:37] #64174 closed

[2018-12-05 02:40] roblourens opened #64406 "Tree view markdown message may be too powerful"
We discussed this during the api call, I'm not sure whether there was any more discussion about it. Do we really want to let extensions render any markdown in the tree? If they can render lists, tables, images, etc, then some extensions will probably go all-out. But the tree view message isn't a good place for heavy fancy content so it could result in a bad experience.

![image](https://user-image

[2018-12-05 02:45] yushuanghe commented on #63964
Sorry, I didn't take a screenshot. I can't reproduce it now.

[2018-12-05 02:56] roblourens commented on #64335
It was only published with the macOS ripgrep binary, see https://github.com/Microsoft/vscode/issues/64274#issuecomment-444213248

[2018-12-05 02:56] #64335 closed

[2018-12-05 03:09] alistaircom commented on #63068
I am also having this issue.  I have:

* disabled all extensions
* ensured I am running the current stable build: 1.29.1
* removed all themes, am running the default Light (Visual Studio)
* removed all custom settings from settings.json
* quit the app and relaunched

See screenshot:

<img width="373" alt="screenshot 2018-12-04 19 05 20" src="https://user-images.githubusercontent.com/855160/4948753

[2018-12-05 03:11] roblourens commented on #64405
See this note about these errors. These errors are not from vscode or the extension, they are a sign that your app can't be loaded. Make sure that you are running a server for your app.

https://github.com/Microsoft/vscode-chrome-debug#errors-from-chrome-errorchromewebdata

[2018-12-05 03:11] #64405 closed

[2018-12-05 03:11] roblourens commented on #64404
#64405

[2018-12-05 03:11] #64404 closed

[2018-12-05 03:14] roblourens commented on #63068
Anyone still seeing it, try `killall dock` or restarting the mac.

[2018-12-05 03:29] xiaoxiangmoe commented on #64138
@mjbvz Why is this problem out-of-scope? Which repo should I ask this question? Thanks.

[2018-12-05 03:37] iyashpal commented on #64107
- VSCode Version: <code>Code 1.29.1  (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.375Z)</code>
- OS Version: <code>Windows_NT x64 10.0.17134 </code>
- CPUs: <code>Intel(R) Pentium(R) CPU G2020 @ 2.90GHz (2 x 2893)</code>
- Memory(System): <code>7.84 GB(3.31GB free) </code>
- Memory(Process): <code>243.70 MB working set(243.70MB peak, 215.93MB private, 40.63MB shared) </code>
- Lo

[2018-12-05 03:39] panzhiyi3 commented on #63618
It works!Tried the new version,everything is fine!
1.30.0-insider
Commit: fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970
Date: 2018-12-04T09:34:30.209Z

Thanks! TwT

[2018-12-05 03:46] pablo9 commented on #64050
![image](https://user-images.githubusercontent.com/8023405/49488752-05ed0f80-f859-11e8-9656-96ef63606567.png)

open with -> select another application

![image](https://user-images.githubusercontent.com/8023405/49488838-7300a500-f859-11e8-8cfb-ccc1b987f058.png)

always use VS Code for .TXT files

[2018-12-05 03:49] alistaircom commented on #63068
Yes, `killall Dock` fixes it.

Here's hoping there will be a fix that doesn't include restarting your dock or your Mac to have an icon work.

[2018-12-05 04:14] roblourens commented on #62685
Side note, the sample previewHtml extension doesn't work anymore.

`Unable to open 'CSS Property Preview': Cannot read property 'document' of undefined.`

[2018-12-05 04:16] roblourens commented on #63068
Is there an open dupe for this @bpasero or @joaomoreno? I also see https://github.com/Microsoft/vscode/issues/59578

[2018-12-05 04:16] roblourens commented on #63618
Great, thanks for trying it!

[2018-12-05 04:38] KaierChou opened #64407 "Extension's Markdown is garbled"
**When I use MD locally and browse it, is OK.**
![image](https://myimage.kaier33.top/vsmd_ok2.png)
**but, when i browse extension , it garbled.**
![image](https://myimage.kaier33.top/vsmd_bad2.png)

It looks normal in here , but, when i browse extension's informattion , it garbled

Name | Description | Default
| ------ | ------ | ------ |
CaringOtaku.defaultCity | CityName | 深圳
CaringOtaku.freewea

[2018-12-05 04:42] sabriele commented on #64244
Thank you Matt; you're right, I've been able to verify that disabling the sublime-babel-vscode extension gets the comment style to work correctly.

[2018-12-05 05:13] rajeshwarpatlolla commented on #64150
I still have issues with js formatting.

Before formatting(this is how i want it to be formatted)
[code]

After formatting(which i don't want this formatting)
[code]

[2018-12-05 05:30] mjbvz commented on #64407
Duplicate of #26841

[2018-12-05 05:30] #64407 closed

[2018-12-05 05:30] mjbvz commented on #64403
Duplicate of #7076

[2018-12-05 05:30] #64403 closed

[2018-12-05 05:36] gtk2k commented on #64124
Thx!
solved.

[2018-12-05 05:36] #64124 closed

[2018-12-05 05:52] 19317362 commented on #64053
Today, I found this issue is Zoom related.
After Ctrl + - , It works good. Ctrl+ + , the issue comes again.

[2018-12-05 05:58] bpasero commented on #63068
Sounds like a bug in Mojave to me, but I never saw that.

Are people seeing any suspicious output when running "code --verbose"?

[2018-12-05 06:00] bpasero commented on #62628
@aguarino77 so when you turn off this program everything works?

@debabratakarfa @nivnahmias can you confirm that? do you run this tool too?

[2018-12-05 06:04] bm-stschneider opened #64408 "Next Error blocks replace in search and replace"
Issue Type: <b>Bug</b>

When I jump to the next error in a file and it is lets say in line 1, it blocks the  replace field in search and replace.
![image](https://user-images.githubusercontent.com/30625381/49493284-e60b1b00-f85b-11e8-9b82-530d5f748b17.png)

VS Code version: Code - Insiders 1.30.0-insider (fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970, 2018-12-04T09:26:33.257Z)
OS version: Darwin x64 17

[2018-12-05 06:12] snailuj commented on #41513
I had been experiencing the same problem intermittently for a couple weeks after setting "window.titleBarStyle": "custom". Setting it back to "native" as referred to by @mofax fixed it for me.

[code]

Using Dell 24" Ultrasharp UHD monitor and an AOC 27" UHD with onboard Intel graphics on an ASRock K6 Z370 mboard.

[2018-12-05 06:12] roblourens commented on #63068
And has anyone seen it with any other apps?

[2018-12-05 06:12] tumbleintoyourheart commented on #7570
I faced the same issue today, both vscode stable version and insider version won't launch without a network connection
Thanks for the Loopback adapter workaround, not perfect but it did make my day

[2018-12-05 06:14] likid1412 commented on #64181
Restart seems to solve this problem...

I found my **QuickLook** can't show any file, then restart my mac, and then every thing is fine.
I will post more info if the problem reproduce.
Thanks for answering my question~

[2018-12-05 06:15] iRoachie opened #64409 "Gracefully handle git hooks"
Most projects will have some form of precommit hooks for linting or tests through libraries such as [lint-staged](https://github.com/okonet/lint-staged) and [husky](https://github.com/typicode/husky).

When committing via the source control panel in VSCode there's no visual indicator for when a git hook is running. I think this could be an opportunity to put some UI indicator around this.

[2018-12-05 06:18] SmallLuma commented on #62953
The terminal process command 'C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe' failed to launch (exit code: 2)

[2018-12-05 06:27] DiamondYuan opened #64410 "typescript type is not compatible"
code
[code]

![_c57890b2-2b6f-4792-b324-945d43656246](https://user-images.githubusercontent.com/9692408/49494222-d3afd200-f899-11e8-9624-19af4f616863.png)

[2018-12-05 06:33] chrmarti commented on #64343
@sandy081 I'm missing something, shouldn't this work:
[code]

That doesn't show a link for me.

[2018-12-05 06:35] chrmarti commented on #64348
It stops at the longest non-wrapping part:
[code]

[2018-12-05 06:44] miseifert commented on #64324
Thank you very much!

[2018-12-05 06:47] alistaircom commented on #63068
I have not seen it in any other apps. This post on Stack Exchange seems to be indicating an identical issue:

https://apple.stackexchange.com/questions/338881/there-is-a-tiny-icon-on-macos-dock-that-is-not-clickable

[2018-12-05 06:56] #64181 closed

[2018-12-05 07:08] debabratakarfa commented on #62628
@bpasero I am also using cylance antivirus in my Mac

[2018-12-05 07:15] n0v1 commented on #54179
@matt-best-elateral see https://github.com/Microsoft/vscode/issues/54593#issuecomment-431820312 (mocha example) for a possible workaround. I think you would have to use `${command:extension.vscode-wsl-workspaceFolder}/${relativeFile}` instead of `${file}` as your argument.

[2018-12-05 07:20] weinand commented on #64278
@mjbvz that's helpful, thanks a lot.

[2018-12-05 07:30] misolori commented on #64355
I'm not too bothered by this notification (assuming nothing runs if I ignore it) but it does feel a bit spammy.

An alternative way to approach this is to show the notification after a user runs a task that's set to be automatic, as it'll be more in context and aimed at users who actually run tasks.

[2018-12-05 07:31] chrmarti opened #64536 "Copy All on long list of results hits listener threshold"
Issue Type: <b>Bug</b>

Testing https://github.com/Microsoft/vscode/issues/64227

![image](https://user-images.githubusercontent.com/9205389/49497216-27092c80-f868-11e8-89d6-99c2766986c8.png)

VS Code version: Code - Insiders 1.30.0-insider (fa87e67ebfd6b8014ba697ddbc6c2d6c0e2cb970, 2018-12-04T09:26:33.257Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---

[2018-12-05 07:32] #64227 closed

[2018-12-05 07:38] jrieken commented on #64347
Please file issues in English. Thanks

[2018-12-05 07:38] #64347 closed

[2018-12-05 07:40] jrieken commented on #64351
Please file this issue against the extension in question. There is now API that allows to get this right.

[2018-12-05 07:40] #64351 closed

[2018-12-05 07:41] jrieken commented on #64363
Steps?

[2018-12-05 07:43] jrieken commented on #64367
That's not the design because people prefer to type the important letters to get as fast as possible to the suggestion they want. However, matches are sorted by quality and those strict prefix matches are atop. I don't understand what the problem here is.

[2018-12-05 07:43] jrieken commented on #64369
Please file issues in English. Thanks.

[2018-12-05 07:43] #64369 closed

[2018-12-05 07:44] nivnahmias commented on #62628
@bpasero yeah we're working with Cylance as well.
i've been working alongside our IT department and have managed to solve this issue by updating our security policy.

This may be a bit out of scope of vscode itself but the solution included adding 2 exclusions for security policies with memory protection enabled:

1. `/Visual Studio Code.app/Contents/MacOS/Electron`
2. `/Visual Studio Code.app/Con

[2018-12-05 07:45] jrieken commented on #64384
Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2018-12-05 07:48] egamma commented on #60861
Closing for now

[2018-12-05 07:48] #60861 closed

[2018-12-05 07:49] jrieken commented on #64322
Actually, I am not sure that we can do anything here. When debugging you are likely causes slowness yourself. So even a warning/log-message might be misleading.

[2018-12-05 07:49] jrieken commented on #64339
I will give it a try

[2018-12-05 07:50] egamma commented on #54645
API is in place and has been adopted.

[2018-12-05 07:50] #54645 closed

[2018-12-05 07:51] jrieken commented on #64345
closing as dupe of #64344. I also don't like it much but the code is a mess and it serves its purpose. Not keen on investing more into something we are going to nuke.

[2018-12-05 07:51] #64345 closed

[2018-12-05 07:52] jrieken commented on #64353
Not sure about that - it's nothing bad, it's a *compute*r after all and I don't wanna scare people into filling thousands of issues...

[2018-12-05 07:53] jrieken commented on #64353
That makes sense

[2018-12-05 07:55] jrieken commented on #64340
Not sure how much information can be put in there..

[2018-12-05 07:57] jrieken commented on #64120
You can already do that - each emitter can be configured individually using the `EmitterOptions`. However, having the container listen instead of its children is often the better approach, esp the all listeners are the same.

[2018-12-05 07:58] jrieken commented on #64269
Please retry without extensions enabled. Select 'Extensions View > ... > Disable all Installed Extensions' and try again. Thanks.

<img width="577" alt="screen shot 2018-05-09 at 08 45 10" src="https://user-images.githubusercontent.com/1794099/39799711-82d97e00-5365-11e8-8bd8-6b6fc3500370.png">

[2018-12-05 08:00] jrieken commented on #64312
The extension host sends and ACK after each message we send it. If that doesn't happen within 3 secs we start profiling until the extension host is responsive again but no longer than 5 seconds. In your profile didn't block the full 3+5 seconds but around 3+3 and above function is the culprit - it ran for seconds sorting or comparing

[2018-12-05 08:13] #63798 closed

[2018-12-05 08:13] #63769 closed

[2018-12-05 08:14] retepaskab opened #64411 "Find in files doesn't look in all opened files"
We have written th
Issue Type: <b>Bug</b>

1. Open 1 file
2. Ctrl-shift-F something
3. open some more files (I used command line for this, not VSCode's menu item)
4. search for something, using the already opened find in files tab
5. not all results are displayed
6. click on each open file's title tab
7. search for something, using the already opened find in files tab
8. now all results are displa

[2018-12-05 08:16] alexandrudima commented on #34345
To the verifier, there are now two commands `editor.action.addCursorsToBottom` and `editor.action.addCursorsToTop` that implement the desired behaviour.

[2018-12-05 08:17] wasimakram-mulla opened #64412 "Javascript or TS initializing"
Issue Type: <b>Bug</b>

It keeps waiting with an error "Javascript  or TS initializing..." and because of it none of my extensions work

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:11:49.509Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3 CPU       M 380  @ 2.53GHz (4 x 252

[2018-12-05 08:21] egamma commented on #64255
Nice!

It is also a convenient way to attach to a node process that you started from the built-in terminal with --inspect.
@weinand this should be documented in our docs as another way for how to debug a node progress.

[2018-12-05 08:24] wuchujiecode opened #64413 "Fork Bomb with python"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. python 2.7  & Mac os 10.14.1
2. fork bomb
![44444](https://user-images.githubusercontent.com/12055501/49499861-2db89380-f8aa-11e8-8215-27b47faa7388.jpg)

Does this issue occur when all extensions are disabled?: Yes/No

[2018-12-05 08:30] alexr00 commented on #25310
Verification steps: Run a task using the Run Task command. Then run the Rerun Task command. Also try specifying runOptions: { reevaluateOnRerun: false } in the task definition and run the Rerun Task command.

[2018-12-05 08:32] alexr00 commented on #39096
verification steps: create a new file and save it as a ksh script. The file type should be recognized as a shell script.

[2018-12-05 08:34] alexr00 commented on #38657
Verification steps: In a folder with tasks, run the Configure default build task command and select a task. Rerun the command and confirm that you can now select a different task. Check the tasks.json file to see that both tasks have been updated. Repeat for Configure default test task.

[2018-12-05 08:44] joaomoreno commented on #64308
This issue was closed because it doesn't meet our standards of a properly filled issue. Please read our guide about [Submitting Bugs and Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2018-12-05 08:44] #64308 closed

[2018-12-05 08:45] joaomoreno commented on #63866
Did you see this? https://stackoverflow.com/questions/26193654/node-js-catch-enomem-error-thrown-after-spawn

[2018-12-05 08:45] joaomoreno commented on #64321
What is the timespan between 3 and 4?

[2018-12-05 08:46] joaomoreno commented on #63919
@bpasero Some thoughts?

[2018-12-05 08:50] isidorn commented on #63406
Got it, thanks @Tyriar
We'll look into this next milestone

[2018-12-05 08:52] joaomoreno commented on #60010
@brennenberkley But you can no longer reproduce?

Blocks of code are possible with triple-backticks.

[2018-12-05 08:52] alexr00 commented on #64355
This notification is only shown if the user opens a folder with an automatic task and hasn't approved it before, so right now VS Code developers are probably the only people who will see it.

Correct, no automatic tasks run if you ignore it.

[2018-12-05 08:52] joaomoreno commented on #64333
Not really, just thought it'd be interesting to note. Feel free to close! :+1:

[2018-12-05 08:53] isidorn commented on #64353
But it is also nothing good. I mean it is not an error, it is a simple warning.
Not sure how scary a warning icon is.

fyi @bpasero @misolori

[2018-12-05 08:53] joaomoreno commented on #64050
And what happens after you choose VS Code?

[2018-12-05 08:55] joaomoreno commented on #64375
Yeah, our update server should never return 304... so are you behind a proxy? There must be some man-in-the-middle somewhere.

[2018-12-05 08:56] isidorn commented on #64322
I am fine with not tacklign this for November and we see if actualy extension authors complain about this in the future.

[2018-12-05 08:57] weinand commented on #64255
@jrieken if we would stop using Electron's node and shipping an official node.js version, SIGUSR1 would work out of the box...

@egamma yep, makes sense, but I wonder how often regular users would want to open the "VS Code process explorer" to debug their own processes...

[2018-12-05 08:57] alexr00 commented on #64359
How about "promptString" and "pickString"?

[2018-12-05 08:58] weinand commented on #64359
yep, I like that!

[2018-12-05 09:04] revolz opened #64414 "Visual Studio Code Insiders encounters problem in downloading OmniSharp package"
**Latest Visual Studio Code Insiders**
Version: 1.30.0-insider (user setup)
Commit: 85f805acf9436381b878cab5ab6c5146beec7893
Date: 2018-12-05T06:19:36.555Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.15063

**Error Message**
Installing C# dependencies...
Platform: win32, x86_64

Downloading package 'OmniSharp for Windows (.NET 4.6 / x64)' 	Retrying

[2018-12-05 09:10] phistuck opened #64415 "Works in "files to include", fails in "files to exclude""
- VSCode Version: 1.29.1 (user setup)
- OS Version: Windows 10 1709

Steps to Reproduce:
1. Search in files in workspace (the workspace is for c:\projects\foo, the workspace file is placed in c:\projects\foo\foo.code-workspace and the `folders: [{path: "."}]`).
2. Put `./foo/` in the includes and `./foo1/` (or `./foo/`) (for example) in the excludes.
3. Search.

Expected -
The search works and exc

[2018-12-05 09:13] #63725 closed

[2018-12-05 09:13] bpasero commented on #62628
Ok I will close this issue as it seems caused by Cylance

[2018-12-05 09:13] #62628 closed

[2018-12-05 09:14] bpasero commented on #64383
We are building exploration builds that use a much newer version of Electron (our UI framework). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/45498d93166483c2eff886e28f8dab915ae382fc/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/5a736c2e4904ed114fae

[2018-12-05 09:14] bpasero commented on #64389
We are building exploration builds that use a much newer version of Electron (our UI framework). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/45498d93166483c2eff886e28f8dab915ae382fc/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/5a736c2e4904ed114fae

[2018-12-05 09:54] svillar commented on #63866
Not sure what you mean. I'm probably hitting that same issue indeed but as I mentioned my system is not in a OOM situation and I do have swap contrary to what the other report says.

But yeah the error seems to be related to a malfunctioning spawn implementation.

[2018-12-05 10:05] ewantowie commented on #61876
Ok, thanks for the update. Just looking into whether we can install GTK3 locally and set LD_LIBRARY_PATH just for VS Code. At first attempt, the rpm for libgtk3 doesn't let us relocate on install. Let me try a few things and I will update when I have some more info.

Due to our development environment, we have to stay within preset images for our linux installs to ensure proper compatibility of ev

[2018-12-05 10:07] ferozsho commented on #64155
Thanks
@mjbvz its working with [insiders build] version.
but unable to work with VS code default version.
can you please tell me the both differences.

[2018-12-05 10:12] #64274 closed

[2018-12-05 10:13] #64203 closed

[2018-12-05 10:13] #64255 closed

[2018-12-05 10:14] #64413 closed

[2018-12-05 10:15] #64414 closed

[2018-12-05 10:16] bpasero commented on #63919
@ggrimbert does this happen with any dialog? e.g. try with closing a dirty editor?

[2018-12-05 10:20] ggrimbert commented on #63919
No, I haven't find any other dialog that does it except this one https://github.com/Microsoft/vscode/issues/50026 that has been fixed by removing the modal

[2018-12-05 10:31] alexr00 commented on #64381
We now detect tasks earlier because of automatic tasks. Based on this and other feedback we should not show anything in the output for automatic task issues!

[2018-12-05 10:33] brgrz opened #64416 "Allow only for some editors to open as preview (from SCM)"
I'd like to be able to set in settings open working tree files in Preview mode but everything else without preview.

I have Enable Preview disabled so all files remain open after clicking on them once and working tree changes files start to pile up (I often glance over them when staging them for commit).

If I Enable Preview I have to do single/double clicks which is annoying, at least to me.

As

[2018-12-05 10:33] matt-best-elateral commented on #54179
Thank you n0v1.  I haven't had immediate success with this but will continue to try variations.

[2018-12-05 10:34] sandy081 commented on #61590
Yeah they match now, but I think Settings has another action called Open Settings (UI).

[2018-12-05 10:34] jrieken commented on #64388
I does that because your extension doesn't have a repo-url in its package.json. We figured not to blame those extensions because a user cannot really follow up (except for removing that extension)

[2018-12-05 10:37] sandy081 commented on #64262
@roblourens I do not see any errors in console and I have default proxy settings in VS Code.

[2018-12-05 10:37] jrieken commented on #64322
I wouldn't know what to do in November, December or any other month. For us a paused (on breakpoint) extension host appears as unresponsive and we shouldn't show a warning message then. What would that be? "Extension host is unresponsive. If you are debugging ignore this message, iff not we can also not help you..."

[2018-12-05 10:39] alexr00 commented on #64380
@amerov, sounds like this is an issue with the extension you're using for Ruby since it doesn't repro without extensions. If you look at the info page for the extension it should have a link somewhere for where to file issues!

[2018-12-05 10:42] isidorn opened #64418 "Search view layout in panel can be improved"
![screenshot 2018-12-05 at 11 36 14](https://user-images.githubusercontent.com/1926584/49508294-9f7ce700-f882-11e8-97a1-83b546155f47.png)

1. Notice the search and replace inline buttons all the way to the right. They look disconnected and far away
2. Notice all the empty space on the right. This space feels unused, and I feel like we could have a better layout / presentation of results in this ca

[2018-12-05 10:43] samwincott opened #64419 "Unable to save file with Windows 1252 encoding"
Issue Type: <b>Bug</b>

I am trying to save a .CSV file with Windows 1252 encoding, but each time the file is reopened it appears to change back to UTF-8 encoding.

Steps to reproduce:
1) Open CSV file
2) Select the UTF-8 icon on the bottom right of editor.
3) Select the "Save with Encoding" option.
4) Select the "Western (Windows 1252)" option.
5) Save the file.
6) Close and reopen the file.
7) T

[2018-12-05 10:44] isidorn commented on #64322
If you can not do anything I suggest to at least pring a message in the console that you can not connect.

[2018-12-05 10:46] isidorn commented on #64394
@joaomoreno this looks like an issue with the tree.
If the element with the same ID after a refesh no longer has children the expando is left behind.
Assigning to you also if you have time to investigate.

[2018-12-05 10:46] bpasero commented on #61762
Fixed via https://github.com/Microsoft/vscode/pull/64417/commits/42cde7e5aa79232d9a8adcf3d6527d97cfcc32cb

[2018-12-05 10:46] #61762 closed

[2018-12-05 10:47] alexr00 commented on #64225
Since this is an issue that has probably been around for a while it can probably wait until @aeschli can do it.

[2018-12-05 10:48] RedBaron97 commented on #46242
I am currently working on this issue and expect to have it solved by the end of the week! Thanks

[2018-12-05 10:48] joaomoreno commented on #64394
Pretty sure it's the same as #64074, but let's see.

[2018-12-05 10:51] The33Coder opened #64420 "Duplicates Character When Using Special Characters in Mac OS"
- VSCode Version: 1.29.1
- OS Version: 10.14.1

Steps to Reproduce:

   1. Use a latin keyboard layout (like English)
   2. Press a letter until appears his variations
   3. Choose one

![dec-05-2018 11-46-30](https://user-images.githubusercontent.com/12548652/49508654-83c61080-f883-11e8-819e-a1e12c6716d7.gif)

Does this issue occur when all extensions are disabled?: Yes

I know there are other sa

[2018-12-05 10:52] bpasero commented on #63919
We are building exploration builds that use a much newer version of Electron (our UI framework). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/45498d93166483c2eff886e28f8dab915ae382fc/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/5a736c2e4904ed114fae

[2018-12-05 11:01] ggrimbert commented on #63919
I've tried with the .deb version downloaded from your link, and from the apt version available on my system. The same error appears.

[2018-12-05 11:02] amerov commented on #64380
@alexr00 I don't install any ruby from marketplace.
Is it builtin extension issue for https://github.com/Microsoft/vscode/tree/master/extensions/ruby.

[2018-12-05 11:03] #64356 closed

[2018-12-05 11:03] jrieken commented on #64339
Learnt something!

[2018-12-05 11:05] #64339 closed

[2018-12-05 11:07] #64359 closed

[2018-12-05 11:10] jrieken opened #64423 "Git stash icon is a bad fit"
The new git stash icon isn't a good fit and appears must more heavy/bold than other icons.

<img width="359" alt="screenshot 2018-12-05 at 12 09 57" src="https://user-images.githubusercontent.com/1794099/49509816-bcb3b480-f886-11e8-862a-8ce2d24c1dcd.png">

[2018-12-05 11:12] isidorn commented on #63942
The updated sample works fine, adding verified label

[2018-12-05 11:13] dbaeumer opened #64424 "Quick Pick seems broken with sub''''$"

[2018-12-05 11:13] manucorporat opened #64425 "[TS 3.2.1] JSX should accept string as element type"
- VSCode Version: 3.2.1
- OS Version: OSX 10.14.1

Steps to Reproduce:

1.
[code]

**ERROR**
[code]

This affect the [stencil](https://github.com/ionic-team/stencil) project when updating to ts 3.2.1:

[2018-12-05 11:13] isidorn commented on #62806
@mjbvz ok. Removing verification-needed than

[2018-12-05 11:15] isidorn commented on #63705
This usually happens when it is a background task and the user did not specify that in his tasks.json
I suggest to add `"isBackground": true` to the `tasks.json` and check if the issue can still re reproduced

[2018-12-05 11:16] dbaeumer opened #64426 "Quick pick seems broken with sequential open"
- open a new workspace folder
- Terminal > Run Task
- The comes a picker with a message that no task can be found. Select it
- You should get a second picker with a message to create a task.json file

Setting a break point in `quickInput.ts` line `1123` shows that in both cases the items are returned correctly but the second picker newer shows.

[2018-12-05 11:16] dbaeumer commented on #64426
@chrmarti please assign back if this is something we need to address. But I am pretty sure that worked before (may be some Promise conversion?)

[2018-12-05 11:17] #59439 closed

[2018-12-05 11:21] dbaeumer commented on #64346
@segevfiner can you please provide a GitHub repository we can clone that demos this. There seems to be more to it (e.g. another folder hello-nested). Makes it easier to ensure we are looking at the same bug

[2018-12-05 11:23] dbaeumer commented on #64385
@alexr00 we should escape them. There is code in the terminal runner that does the escaping.

[2018-12-05 11:23] bpasero commented on #64419
VS Code supports a wide range of file encodings. You can see the full list when you click on the lower right status bar where the encoding is shown and then choose to either reopen the file with a specific encoding or save the file with a specific encoding:

![image](https://user-images.githubusercontent.com/900690/33760971-db202986-dc07-11e7-8ca0-f8d8938cef7f.png)

There are two options how to co

[2018-12-05 11:23] #64419 closed

[2018-12-05 11:23] egamma opened #64427 "Run task notification tweaks"
Testing #64217

![image](https://user-images.githubusercontent.com/172399/49510182-ba9e2580-f887-11e8-90b8-09d112c181bd.png)

To decide whether I want to allow the task to run, it would be helpful to also have a button that opens the tasks.json. This would yet add another button. It could replace the 'Not this time' button. This button is not that useful since the user can just close the notificat

[2018-12-05 11:34] #64262 closed

[2018-12-05 11:38] #64354 closed

[2018-12-05 11:38] manucorporat commented on #64425
Wrong repo, sorry

[2018-12-05 11:38] #64425 closed

[2018-12-05 11:39] giordanocardillo commented on #37350
+1 here, is now the only reason I use webstorm!

[2018-12-05 11:39] go2sh commented on #64349
Yes, the file gets opened multiple times, depending on which diagnostic you click. And also the diagnostics are only shown in the respective editor tab. Additionally, you can set breakpoints in those files, which get hit, but the correct file is opened, where the breakpoint is not shown.
![image](https://user-images.githubusercontent.com/150886/49511176-b0315b00-f88a-11e8-8bf4-fe40217dfd8f.png)
![

[2018-12-05 11:41] udidi opened #64428 "虚拟内存无法释放，磁盘爆满"
- VSCode Version:  1.29.1 (system setup) bc24f98b5f70467bc689abf41cc5550ca637088e
- OS Version: Windows 10 1809 17763.134

Steps to Reproduce:

1. 电脑的虚拟内存设置为“自动管理所有驱动器的分页文件大小”
2. 工作一段时间（我使用 python 编程和调试大约 2 小时
3. 打开设置-系统-存储-本地储存-系统和保留，可以看到虚拟内存非常不正常，我最大达到过 50G+
4. 此时 C 盘一般容量就满了，然后卡机，我也是因此才发现这个问题

Does this issue occur when all extensions are disabled?: Yes
我已经尝试了禁用所有插件，并再次遭遇了这个问题。

目前的解决办法：
手动设置系统的

[2018-12-05 11:42] sandy081 commented on #63941
@queeniema May be not now. We will get back to it if there is a demand.

[2018-12-05 11:43] #63941 closed

[2018-12-05 11:45] bpasero commented on #41691
@jrieken did this ever happen again lately?

[2018-12-05 11:45] sandy081 commented on #64406
We discussed about it in couple of other related issues and outcome was either to

- support limited set of markdown features
- do not support at all

CC @jrieken

[2018-12-05 11:51] jrieken commented on #64428
Please file issues in English. Thanks.

[2018-12-05 11:51] #64428 closed

[2018-12-05 11:52] sandy081 commented on #64343
Ah I see.. I think message should not be a property, instead Tree view should provide a method to set message like `setMessage(message)`. This will avoid above patterns and issues.

[2018-12-05 11:52] jrieken commented on #41691
yes, happens always

[2018-12-05 11:53] jrieken commented on #41691
I see this when working without an external monitor. I usually have multiple code windows running in full screen and it seems that only one is restored as fullscreen and others, previous full screen windows, have the screen cheese

[2018-12-05 11:54] YisraelV commented on #55106
@weinand I'm working on this right now and saw you suggested the shape should be different. Any ideas as to how?

[2018-12-05 11:55] jrieken commented on #64349
Adding @bpasero for opening the document multiple times - I was under the assumption that we normalise things before opening them...

[2018-12-05 11:56] sandy081 commented on #64378
@Ryan-Gordon

This looks to me per project rather per language? Caution that a project can have files with multiple languages. So changing the workbench colours per file is not a good idea.

[2018-12-05 11:57] bpasero opened #64429 "Breadcrumb for "out of workspace" files is bad"
Just open a file that is no within the workspace and look at the "description" part of a label having a leading `\.\`

![image](https://user-images.githubusercontent.com/900690/49512095-38186480-f88d-11e8-9ad9-c7def4392ce8.png)

This seems to be a regression from this month, thus moving to this month.

[2018-12-05 11:57] a2757326588 commented on #63705
@isidorn This problem still exists after I added it.

[2018-12-05 11:58] bpasero commented on #64424
@dbaeumer what?

[2018-12-05 11:58] #64342 closed

[2018-12-05 11:58] alexr00 commented on #64380
Ah, I saw this and thought that you installed an extension:

I will take a look.

[2018-12-05 11:59] alexr00 commented on #64385
Ok, moving to December.

[2018-12-05 12:00] bpasero commented on #64349
There is no such thing as normalising something. We do not try anything but take the URI as it comes.

Duplicate of https://github.com/Microsoft/vscode/issues/12448

[2018-12-05 12:00] #64349 closed

[2018-12-05 12:56] scrossan-crown commented on #64412
I am also having this issue since I upgraded to version 1.29.1. I have been having the issue with typescript / javascript language features as well as php. I use a php intellisense plugin called `intelephense` and it's been getting stuck loading / initializing and then doesn't provide the usual intellisense features.

[2018-12-05 13:01] pablo9 commented on #64050
The TXT file opens in VS Code, but not assigned as default programm for that filetypes. for any file types even for php or html.

[2018-12-05 13:08] ltlombardi opened #64430 ""go to definition" not working while debugging Powershell"
Issue Type: <b>Bug</b>

start debuging script. While stopped, click F12 to go to definition.
A horizontal blue line will start moving below the file title bar to indicate that the IDE is processing my request. It never finishes.
Peek definition , Find All references , List all references also not working

VS Code version: Code 1.29.1 (bc24f98b5f70467bc689abf41cc5550ca637088e, 2018-11-15T19:13:36.3

[2018-12-05 13:10] ltlombardi commented on #64430
It's not covered by the links provided above.

[2018-12-05 13:30] #64430 closed

[2018-12-05 13:42] sandy081 commented on #62477
This message appears when a user installs a language and current message makes sense because it tells the user that there is a change in language is needed and not just restart. Saying just restart might be misleading the user.

I would remove the `No` Button and leave the rest as is.

[2018-12-05 13:44] #63764 closed

[2018-12-05 13:46] yannickvidal commented on #24783
This also fixed the "/" key of the numpad acting like "page up" for me

[2018-12-05 13:48] macbielecki opened #64431 "Deleted branches appear on "Pull from..." select dropdown list"
Deleted branches appear on "Pull from..." select dropdown list (like if they were cached somewhere):
![image](https://user-images.githubusercontent.com/29729527/49516338-ae22c880-f899-11e8-894a-07c49b2e82f2.png)

Version: 1.30.0-insider (user setup)
Commit: 04cbc78e23eeddc368d634ed52402dbc6f28ebc9
Date: 2018-11-23T10:06:54.093Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
O

[2018-12-05 13:48] #62477 closed

[2018-12-05 13:50] sandy081 commented on #64273
@roblourens I think you have introduced the `LogLevel` in proposed API, so moving it back to you.

[2018-12-05 13:53] #64202 closed

[2018-12-05 13:55] sandy081 commented on #61918
History is per find widget and not sure how find widget is created for these editors. Hence forwarding to editor land.

[2018-12-05 14:00] sandy081 commented on #64103
I cannot repro either of the errors in insiders

[2018-12-05 14:01] weinand opened #64432 "API documentation for "retrigger" events incomplete"
testing #64278:

The comment for `SignatureHelpContext.isRetrigger` says:

My experiments showed that in addition to the two reasons mentioned above retriggers occur for document changes too: if I press "deleteRight" (which doesn't move the cursor), I still get retrigger events.

[2018-12-05 14:04] weinand commented on #64278
@mjbvz works great; found only minor issue #64432 in API doc.

[2018-12-05 14:05] alexr00 commented on #63170
duplicate of #62991

[2018-12-05 14:05] #63170 closed

[2018-12-05 14:05] sandy081 commented on #62411
This was the change from @aeschli adopting URIs for files.

[2018-12-05 14:09] jrieken commented on #64272
This isn't a regression (we ship locality bonus since summer) and the underlying token tree implementation is unchanged since 4 yrs. As much as I would like to fix this today, it's not a regression and because the changes are bigger it's not worth the risk...

[2018-12-05 14:15] bpasero commented on #41691
Ah yeah, now I can easily reproduce. This is actually a consequence of https://github.com/Microsoft/vscode/issues/32247 and reported as https://github.com/electron/electron/issues/13077

I cannot even add a simple workaround because the window reports back to me that it is indeed fullscreen even though it is not. Only after a timeout of 0 I get the correct value. I have pinged Electron people.

[2018-12-05 14:16] bpasero commented on #32247
This is https://github.com/electron/electron/issues/13077

[2018-12-05 14:27] misolori opened #64434 "Creating a new file while sidebar is hidden could be improved"
![gif](https://user-images.githubusercontent.com/35271042/49519667-cbf42b80-f8a1-11e8-8ce1-6c31712ef4f9.gif)

Steps to Reproduce:

1. Open file
2. Hide sidebar (Cmd+B)
3. Command Palette > New file
4. Sidebar appears with new file added next to the current file

It would be great if running `File: New File` from the command palette would show you a picker with the path pre-populated, allowing you

[2018-12-05 14:37] isidorn commented on #64353
Looks better! Thanks!

[2018-12-05 14:41] sandy081 commented on #43099
@jrieken I see provider is invoked with extension name but not sure what is `e` there?

![image](https://user-images.githubusercontent.com/10746682/49520767-49b93680-f8a4-11e8-8af2-c870f6e26bc6.png)

[2018-12-05 14:45] #62411 closed