[2020-05-08 15:45] lucasavila00 commented on #97172
No input from me.
The action that triggers both events in both windows is Codespace telling me it shut down because I didn't use it in the last 30 minutes.

[2020-05-08 15:46] bpasero commented on #97172
Ok thanks, I will follow up with checking what the extension actually does in that moment.

[2020-05-08 15:46] alexhenriquepv opened #97269 "Closes VSCODE stops the application"
![image](https://user-images.githubusercontent.com/12400276/81422765-d0bdae80-9129-11ea-8c02-e10ec7d4fc3d.png)

Issue Type: <b>Bug</b>

Whe click in the trash icon in the integrated terminal, the application chrash.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Ite

[2020-05-08 15:47] chrmarti commented on #97199
@shamarin Can you launch 1.45.0 with `--log-net-log=netlog.json`, retry (is it with the extension viewlet, the update check or just by itself?) and attach the resulting `netlog.json` here?

[2020-05-08 15:50] shamarin commented on #97199
How to do that? I don't know.

[2020-05-08 15:50] bpasero commented on #97265
Happy for help in https://github.com/microsoft/vscode/issues/96409

/duplicate

[2020-05-08 15:50] #97265 closed

[2020-05-08 15:53] bpasero commented on #97172
@lucasavila00 but in your initial steps it seems you are first clicking OK before the second window closes, so it is not happening automatically?

[2020-05-08 15:58] nanixne commented on #97188
yes, this is regression it work correctly on 1.44.2

[2020-05-08 15:59] chrmarti commented on #97199
@shamarin Take the following steps:
- Close all VS Code windows.
- Open a command line window.
- Launch `code --log-net-log=netlog.json`.
- Trigger the auth dialog (what triggers it?).
- Close VS Code.
- Upload the `netlog.json` on this issue through the GitHub web UI (mail won't let attachments through).

/cc @deepak1556

[2020-05-08 15:59] jay-dimock commented on #93072
This happened to me today for the 3rd time. Very annoying. I went ahead and disabled background updates and also disabled auto update for extensions. Hopefully that will fix it but jeez! It should not be happening, period.

[2020-05-08 16:01] DerekSMorin commented on #14836
@beltaurus - you helped me a bit, I thought I could only do the last part of the filename.

This doesn't work: C:\Development\Source\DotNet\framework\oqpers\database.cpp
This works: database.cpp
This works: oqpers\database.cpp
Even this works: Development\Source\DotNet\framework\oqpers\database.cpp

Guess it must just be a cross-platform goodness problem :)

[2020-05-08 16:02] lucasavila00 commented on #97172
It is happening as soon as it shuts down.

It just happened again I can confirm it:
No need to click OK in A before B closes.

I'm sorry, I probably forgot the details when I first reported the issue and misreported it.

[2020-05-08 16:05] lucky-wolf opened #97270 "pulldown menus all flash white"
Issue Type: <b>Bug</b>

Create a VBox VM for...
Install Linux Mint 19.3 w/ Cinnamon
Install VSCode - Insiders Edition
Choose a dark theme in VSCode (the default is fine)
As you pull-down menus from the top menu-bar, they all draw first in bright white, then overlay the dark theme - making them flash.

NOTE: this occurs whether I use the default display settings, or I agree to use the DOM model.

V

[2020-05-08 16:07] justinhj commented on #85836
Closing since have not reproduced for many weeks

[2020-05-08 16:07] #85836 closed

[2020-05-08 16:09] shamarin commented on #97199
Did it. Thank you for helping me!

[netlog.zip](https://github.com/microsoft/vscode/files/4600162/netlog.zip)

[2020-05-08 16:10] joaomoreno commented on #96928
@alexdima While I don't dispute the fact that the sash is on top of the horizontal scrollbar, which it is:

![image](https://user-images.githubusercontent.com/22350/81424872-e5646b80-9156-11ea-8206-761bc608676a.png)

I believe the user isn't talking about the sash, but rather that there seems to be a mismatch between the sash being highlighted and being hit on: when they click and drag it's as if

[2020-05-08 16:11] nanixne commented on #97188
i downloaded from https://releases.pagure.org/liberation-fonts/liberation-fonts-ttf-2.00.1.tar.gz
which contains all three with multiple style liberation fonts.

[2020-05-08 16:11] caponetto opened #97271 ""Open with..." on explorer does not work"
[code]

Steps to Reproduce:

1. Open a folder that has some text files;
2. Right click on any text file and choose "Open with...";
3. Select "Text Editor - Built-in".

**Expected behavio**r: the file is opened.
**Current behavior**: nothing happens.

Does this issue occur when all extensions are disabled?: Yes

[2020-05-08 16:13] nanixne commented on #97188
if you keep fontsize 13 (or any other value which is not default) every thing works.
so it seems that initial part with default fontsize has some issues, just my two cents.

[2020-05-08 16:14] JacksonKearl commented on #97192
Any idea why this is just now showing up? Looks like the code is old and I'm pretty sure I've use the UI for rulers before.

[2020-05-08 16:15] mawyju commented on #40115
Bumbing this one up as well.

It's been a few months now that about third of our team switched to VS Code for as3 and JavaScript coding, and this indent-ignoring in class level causes many false-positive conflicts and file change detections on our GIT, which is disturbing especially when merging... Thanks!

[2020-05-08 16:17] JacksonKearl commented on #89353
Yes. And it will be out in the next Insiders release.

[2020-05-08 16:24] chrmarti commented on #97199
@shamarin I see some requests successfully authenticate. Can you search for and install extensions when you keep entering the credentials?

@deepak1556 I ruled out the removal of header forwarding (03a7223ee2a086bbcf028801da9370d5deff5093) with the build in https://github.com/microsoft/vscode/issues/97199#issuecomment-625860342 and the `session.setProxy()` call with the `netlog.json` (that only sh

[2020-05-08 16:24] severomario opened #97273 "Message error when you change editor.fontWeight for a number value"
- VSCode Version: 1.45.0
- OS Version: Windoes 10 Pro

Steps to Reproduce:

1. File > Preferences > Settings
2. Type **font** in the search field
3. Try to update the value in **Editor: Font Weight**
4. If you try to insert a number value the software will returns the following message: ``_Setting has an invalid type, expected "string". Fix in JSON_``

![image](https://user-images.githubuserconten

[2020-05-08 16:29] TylerLeonhardt commented on #97219
Interesting... Have you heard of anything like this before @daxian-dbw?

@imdeep2905 so it does work for you some/most of the time?

[2020-05-08 16:29] DonJayamanne opened #97274 "SaveAs functionality in Notebook API"
Assume we have the following scenario:
* NotebookA has been opened twice (side by side)
	* It is my understanding that extension authors need not worry about how many editors are opened for the same document.
	* Thats great
* User starts executing all cells in NotebookA
* Now user saves one of them as NotebookB.
* At this point one of the Notebook is NotebookA and other is NotebookB & both are ope

[2020-05-08 16:31] mahesh4576 commented on #97015
Hi,
This is not a feature request.
I have only small knowledge about the SNMP traps for monitoring activities.
Is there a possibility to do my step 2 via SNMP V3. As i describer more, if i installed SNMP V3 on "server A", can I generate SNMP traps via SNMP V3 with supporting shell script. Hope shell script is used to read some service running status & generate SNMP traps.

[2020-05-08 16:32] imdeep2905 commented on #97219
Yup it seems like it works perfectly most of the time.

[2020-05-08 16:35] DonJayamanne opened #97275 "Add metadata to Notebook and NotebookCell"
Currently when VS Code provides the NotebookData and NotebookCellData, there's no way to add metadata to the two objects.
We'll need the ability to store some metadata (at least a identifier) for each cell returned in NotebookCellData.

This is required as cells in ipynb files contain some metdata and the output also contains a lot of additional metadata that cannot be stored in NotebookCellData.

[2020-05-08 16:37] fornellas opened #97276 "Flickering menus"
- VSCode Version: 1.45.0
- OS Version: Linux Mint 19.3 Tricia

Steps to Reproduce:

1. Open VSCode
2. Click the menus

This video better shows the issue: https://photos.app.goo.gl/R6cs3EdQqihjfqwR7.

Does this issue occur when all extensions are disabled?: Not sure, but it happens on a fresh install.

[2020-05-08 16:39] #94170 closed

[2020-05-08 16:41] sknazimuddin opened #97277 "Terminal process terminated with exit code : 4294967295"
- VSCode Version: 1.45.0(user setup)
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. New Terminal
2. The Terminal process terminated with exit code : 4294967295

Does this issue occur when all extensions are disabled?: Yes/No

 I can't run Python without the python extension.

[2020-05-08 16:44] Tyriar commented on #97277
Do you have anti-virus software that could be blocking the terminal? If so try following the instructions in https://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-the-errors-connectnamedpipe-failed-windows-error-232-or-terminal-exited-with-code-x-on-windows

/label "needs more info" integrated-terminal

[2020-05-08 16:46] devjavivazz opened #97278 "Search file on file_list"
<b>Please Add Feature Request</b>

On Explorer "left container" (file list) add "filter files"
home.html
contact.html
another...
another...
another...
...

If I want search home.html file, then ...
**Search:** hom...

_(result...)_
home.html
home.php
...
...

VS Code version: Code 1.45.0

[2020-05-08 16:47] roblourens opened #97279 "Need double click to open extension readme"
- Open extension viewlet
- Single click on an extension
- It's selected but not opened, it should open
- Double click
- It opens

[2020-05-08 16:47] DonJayamanne opened #97280 "Saving Notebooks when multiple editors for same notebook are opened"
Widgets in Jupyter Notebooks have state in them.
It is possible to save a Jupyter notebook with the state information in the ipynb file.
This way, when the ipynb file is opened, the widget state is available and it can be rendered (even without a real kernel).

Saving widget an nb with widget state is optional, and we as extension authors can some how prompt/determine whether this additional infor

[2020-05-08 16:47] devjavivazz commented on #97278
![image](https://user-images.githubusercontent.com/1087216/81428312-b8499600-9121-11ea-8ea2-dcebae228ef1.png)

[2020-05-08 16:49] bigfatwhale opened #97281 "Python debugger customization."
Hi,

I'm trying to do some debugger extension customization for python whereby for files imported from a database (e.g. like redis), i would like to be able to open them in vscode and also breakpoint and step through them. I'm familiar with FileSystemProvider api but not so much the debugger api. Can someone point me to the place in the code where the python debugger interacts with the files in th

[2020-05-08 16:51] DonJayamanne commented on #97275
Dup of https://github.com/microsoft/vscode/issues/97077

[2020-05-08 16:51] #97275 closed

[2020-05-08 16:54] shamarin commented on #97199
I couldn't search and install any extensions because to make any action in program I need to close proxy auth popup. After that even if I pressed OK in popup window with correctly entered credentials extension installer and search showing dialog that it couldn't connect to internet.

[2020-05-08 16:55] felipecassiors commented on #83678
I implemented `argsString` for [vscode-bash-debug](https://marketplace.visualstudio.com/items?itemName=rogalmic.bash-debug) in https://github.com/rogalmic/vscode-bash-debug/pull/139. Take a look:

![](https://user-images.githubusercontent.com/29582865/81350560-948e3d80-9098-11ea-96d4-dc4e6d1fbd9e.gif)

[2020-05-08 16:59] AlencarGabriel commented on #95472
I ran the command "Reset View Locations", and the icons were successfully reset!

Thanks!

[2020-05-08 17:02] DonJayamanne opened #97283 "Notifying renames of notebook files"
Today the notebook file associated with a notebook is defined in `NotebookDocument.uri`.
Will this value automatically change when user renames a notebook?

Will extension get some kind of a notification about this.
We will need some notification to manage our internal state & swap the file names.

@rebornix /cc

[2020-05-08 17:02] andm13 opened #97284 "Unable to save"
I recently tried to save a file and i dont have permisions to save it. I ran visual studio as an admin and i still get the error. I can make changes in notepad or other IDE.

[2020-05-08 17:09] misolori commented on #97218
This actually has nothing to do with pinned tabs as it appears blank normally:

![image](https://user-images.githubusercontent.com/35271042/81430200-e88a3800-9113-11ea-9ae4-d9f7a0d2117c.png)

[2020-05-08 17:12] haroldao commented on #97284
what was your issue message?

[2020-05-08 17:14] misolori opened #97285 "Allow to reopen closed webviews"
Webviews appear to not restore via `Cmd+Shift+T` or running the `Reopen Closed Editor` command:

1. Open a webview, like a PR/welcome page/release notes
2. Close tab
3. Restore tab
4. :bug: tab is skipped and goes to next

This is also affected by pinned tabs but I assume it's related to the reopen command.

[2020-05-08 17:15] chybisov commented on #95346
@gnaeus enums should be yellow :)

[2020-05-08 17:19] andm13 commented on #97284
I get unable to save because of permission but if I check the files I have
all the permissions.

On Fri, May 8, 2020, 12:12 PM Harold ARABA <notifications@github.com> wrote:

[2020-05-08 17:20] markerdown opened #97286 "Error in using decorator"
Issue Type: <b>Bug</b>

 After the update, even if "experimental decorators": true is set, the decorator still reports errors. I'm sure the previous version has no such errors

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 6.1.7601

[2020-05-08 17:22] jvesouza commented on #96987
This is fixed, great job.
Thanks.

[2020-05-08 17:22] ButchAnton commented on #97082
No log messages were produced.

[2020-05-08 17:23] Tyriar opened #97287 "Markdown grammar/highlighting doesn't understand mixing bold and italics"
Left (markdown file) is wrong, right (markdown preview) is correct

![image](https://user-images.githubusercontent.com/2193314/81431409-f04adc00-9115-11ea-9017-b3552060841b.png)

[2020-05-08 17:37] haroldao commented on #97284
did you search your issue on StackOverflow?

[2020-05-08 17:38] jrounds commented on #38137
You can see I commented on sept 19, 2019 that this was gone because at the time I tested all three versions of bug reports on this and none of them did it and prior to that all 3 were bugs for me.

As of May 7th 2020 the python test in sept 19th, 2019 comment is back.

Not sure what changed.  However the original issue on this bug report works correctly for me still (unable to reproduce)

The pyth

[2020-05-08 17:40] andm13 commented on #97284
I did but could not find a solution. But installing the program again and
restarting my pc worked.

On Fri, May 8, 2020, 12:38 PM Harold ARABA <notifications@github.com> wrote:

[2020-05-08 17:51] #97284 closed

[2020-05-08 18:26] roblourens commented on #97192
I only added those validations last month.

[2020-05-08 18:26] vimson opened #97288 "Command + C not working"
Issue Type: <b>Bug</b>

Dear Team,

After an update in Mac OS Catalina, Command + C is not working. Even if i select a text the context menu not showing any command there.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T15:57:33.467Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3210M

[2020-05-08 18:28] JacksonKearl commented on #97192
My bad, read the "a month ago" as "8 month ago".

[2020-05-08 18:31] Colengms commented on #97177
@aeschli .  We had previously created new TextMate scopes for our prior custom implementation of semantic colorization using decorators.  I assumed I should not map our new semantic tokens to our custom TextMate scopes - They should probably be retired.  Therefor, I don't believe I have existing scopes to map my new semantic tokens to.  I'm using superType to map to the closest existing types, but

[2020-05-08 18:33] roblourens commented on #85969
Still seems likely that gitignore, exclude settings, etc are involved somehow. Searching in a specific folder can override those patterns.

[2020-05-08 18:34] garyshell commented on #97265
@bpasero this is not really a duplicate.  I read thru the #13902 issue and saw no mention of the scroll SPEED. The problem I have is that the new feature scrolls too fast.

[2020-05-08 18:37] LucaGabi opened #97289 "Easy Shortcuts"
F1 shows a list of command and a shortcut if one is defined or empty otherwise
**Request**
Place a button "Set Shortcut" instead of empty space
Allow Ctrl-Click to change existing shortcut

[2020-05-08 18:46] LucaGabi opened #97290 "File Explorer - Show Modified Files only"
Allow for File Explorer to toggle between all files and current session modified files.
The feature dose not require git in any way.

[2020-05-08 18:48] mjbvz commented on #97260
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2020-05-08 18:49] mjbvz commented on #97258
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-05-08 18:50] mjbvz commented on #97232
Works fine for me in VS Code insiders (1.46). Let me know if you still see the issue in that version

[2020-05-08 18:50] #97232 closed

[2020-05-08 18:51] mjbvz commented on #97223
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

Also please always share the text of the code along with screenshots

[2020-05-08 18:51] akred opened #97291 "Terminal buggy / not visible after reducing"
- VSCode Version: 1.45.0
- OS Version: Linux Mint 19.3

Version: 1.45.0
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:10:24.511Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.0.0-32-generic

Steps to Reproduce:

1. Open VS Code and Terminal (Bash Shell)
2. Reduce in toolbar VSCode and do other stuff during some time (I don't

[2020-05-08 18:53] mjbvz commented on #97220
<img width="1206" alt="Screen Shot 2020-05-08 at 11 53 05 AM" src="https://user-images.githubusercontent.com/12821956/81438978-7bca6a00-9122-11ea-8d44-fc8b75dc1325.png">

Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-05-08 18:53] mjbvz commented on #97183
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-05-08 18:54] mjbvz commented on #97163
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-05-08 18:55] #97143 closed

[2020-05-08 18:55] mjbvz commented on #97116
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

If so, can you share the error stack you see using VS Code insiders?

[2020-05-08 18:55] rebornix commented on #96482
Fixed in master.

[2020-05-08 18:56] #96482 closed

[2020-05-08 18:56] rebornix commented on #96564
Fixed in master now.

[2020-05-08 18:56] #96564 closed

[2020-05-08 18:57] Arpitx opened #97292 ""editorLineNumber.activeForeground" Not Highlighting the Current Line"
**- VSCode Version:** 1.45.0
**- OS Version:** Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Copy and paste the line "editorLineNumber.activeForeground" with a color code assigned to the same
2. After successfully performing step 1, if a user tries to write code, the active line number is not highlighted. A file has been attached for reference.

Does this issue occur when all extensions are d

[2020-05-08 18:58] #97099 closed

[2020-05-08 18:59] Hitnnan opened #97293 "Translation for Context Menu on Windows"
Well, even if I install the Portuguese Brazilian pack, when I right-click on any program or on Desktop, appears the line that says "Open with Code".
I just need that line translated, because is very odd my system that is in Portuguese, with this line in English.
That line should looks like: "Abra com VS Code", or "Abra com  Code". The first one is better, I think.
Thank you!
[https://imgur.com/gal

[2020-05-08 18:59] rebornix commented on #97077
turns out to be duplicate of https://github.com/microsoft/vscode/issues/96433, let's track it here.

[2020-05-08 19:00] #97077 closed

[2020-05-08 19:21] #97226 closed

[2020-05-08 19:22] AGiantSquid opened #97294 "Cannot add folder to workspace"
Issue Type: <b>Bug</b>

- Click "File" > "Add Folder to Workspace..."
- Select folder I wish to add in pop-up
- Nothing Happens

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 4.4.0-18362-Microsoft

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Cor

[2020-05-08 19:24] garyshell commented on #97265
@bpasero Oh wait,  I see you referenced a second issue and that one does indeed address my issue.

[2020-05-08 19:31] garyshell commented on #96409
To add my specifics here from #97265, I am on a Mac and using a Mac "Magic Mouse" that mimics a trackpad for horizontal and vertical scrolling.  Both of those work as expected within an editor window, but when using horizontal scroll in the tabs, it shoots instantly to the last tab when scrolled right and instantly to the first tab when scrolling left.

[2020-05-08 19:36] AGiantSquid commented on #97294
![add-folder-not-working](https://user-images.githubusercontent.com/26531374/81442448-7839e180-9128-11ea-8e61-11ffe620092c.gif)

[2020-05-08 19:41] CoenraadS opened #97295 "VSCode engine version != vscode version?"
- VSCode Version: 1.45.0
- OS Version: Windows 10

Steps to Reproduce:

I have an extension that broke between 1.44.0 and 1.45.0

So I made an update, setting the vscode version to
`
"engines": {
        "vscode": "^1.45.0"
    },
`

However after publishing, vscode 1.45.0 would not find an update.
Now I downgraded the engine version to 1.44.0 and the update is found

[2020-05-08 19:52] deepak1556 commented on #97199
@chrmarti the net-log shows there is an explicit request for authentication from the proxy server

[code]

If the authentication scheme is basic, it will trigger the `login` event on app module https://github.com/electron/electron/blob/master/docs/api/app.md#event-login

We are handling this in https://github.com/microsoft/vscode/blob/master/src/vs/code/electron-main/auth.ts which provides the dia

[2020-05-08 19:53] chrmarti commented on #97199
Reproduced and I misunderstood: The UI is non-functional in that the buttons do not do anything. The dev tools show (the dialog is modal so I can't copy the text):
![image](https://user-images.githubusercontent.com/9205389/81443594-f96b9580-9175-11ea-91d1-fd0373da6e96.png)

[2020-05-08 19:56] copdips opened #97296 "Release Notes opened in VSCode keeps returning to the top of the page after change focus back"
- VSCode Version: 1.45.0
- OS Version: Windows 10

the issue's existed since many versions ago.

Steps to Reproduce:

1. open Release Note from menu Help->Release Notes, then scroll down to not see the top the page
2. switch to another tab in editor
3. switch back to Release Notes
4. now it returns back to the top the page of Release Notes.

Does this issue occur when all extensions are disabled?:

[2020-05-08 19:57] wbpluto opened #97297 "Add Cancel or Clouse button to input box triggered by Extensions"
At present, the parameter input box popped up by Extensions can only be closed by keyboard ESC. I hope to provide a visual button in order to improve the accessibility of the interface.

![image](https://user-images.githubusercontent.com/5191513/81444130-3735e180-91a9-11ea-8c45-1d45429dc9dd.png)
![image](https://user-images.githubusercontent.com/5191513/81444141-3ac96880-91a9-11ea-9429-af5285b8c9a

[2020-05-08 19:58] gaelhameon opened #97298 "Using classes in jsdoc comments results in different behaviors depending on how the class was required"
Issue Type: <b>Bug</b>

I have a class Foo in a file deep in my project.

Everything works fine if I require it directly: intellisense understands that when I use `Foo` in my jsdoc comments, I mean that I want instances of Foo:

![image](https://user-images.githubusercontent.com/17253950/81443634-0ee0bf80-9176-11ea-961c-38bcc56b9853.png)

But if I require the same file through other files, intelli

[2020-05-08 20:04] stevenr3 commented on #96860
I don't really think this issue is C++ extensions fault.
Pasting long text into terminal not working is a general VSCode issue.

Steps to reproduce:
1. Select a large block of text
2. Paste into VS code terminal window, and observe that nothing happens
3. Paste same in Win7 native cmd/powershell and observe paste works fine.

But there is another open issue [https://github.com/microsoft/vscode/iss

[2020-05-08 20:07] usernamehw commented on #97296
/duplicate of #94945

[2020-05-08 20:07] #97296 closed

[2020-05-08 20:08] Tyriar opened #97299 "Find widget hover feedback is inconsistent"
![image](https://user-images.githubusercontent.com/2193314/81444933-dd8fd180-912c-11ea-9a01-d7c94dcb8f78.png)
![image](https://user-images.githubusercontent.com/2193314/81444949-e7193980-912c-11ea-96f6-2a613cbca5a9.png)

Most buttons in the UI don't have any hover feedback, including find in terminal.

[2020-05-08 20:12] #96277 closed

[2020-05-08 20:14] chrmarti commented on #97199
@deepak1556 helped track it down to the addition of a content security policy that makes the script execution fail: https://github.com/microsoft/vscode/commit/a873a9cca89d733f92e39489e5121364da88f182
[code]

Removing that policy fixes it for me.

[2020-05-08 20:17] misolori commented on #97299
This is coming from here:

https://github.com/microsoft/vscode/blob/d996bb1d285c80dbf262526553d90e414243d63b/src/vs/editor/contrib/find/findWidget.css#L129-L131

FYI @aeschli since it looks you were the last one to edit that line

[2020-05-08 20:21] mjbvz commented on #97271
The bug is that `open with` should not be shown at all in these cases

[2020-05-08 20:21] #97271 closed

[2020-05-08 20:22] chrmarti commented on #97199
Removing lines 7 and 8 from `<install folder>/Contents/Resources/app/out/vs/code/electron-browser/proxy/auth.html` appears to be a workaround (if you cannot go back to 1.44).

[2020-05-08 20:30] morbec opened #97300 "Option to sign up commit apparently is not working"
- VSCode Version:  1.45.0
- OS Version: macOS Catalina 10.15.4

Steps to Reproduce:

1. Set up VS Code to sign commits: `"git.enableCommitSigning": true`
2. Try to commit

Does this issue occur when all extensions are disabled?: Yes

[vscode-git.log](https://github.com/microsoft/vscode/files/4601415/vscode-git.log)

[2020-05-08 20:32] #97299 closed

[2020-05-08 20:33] misolori commented on #97299
I've removed the background hover feedback on the find widget arrows, find in selection, and close. Verifier should make sure to check all find widgets (search, editor search, terminal, etc.).

[2020-05-08 20:34] joanmarie commented on #95433
@isidorn I can do something in Orca and have started working on it (nothing yet committed: speech is easy, doing the braille is uncovering some issues related to the whole "named div" thing. So I'm probably going to wind up having both speech and braille dive down looking for the real objects to present. In this case links.)

In the meantime, something I noticed about the keyboard navigation: Once

[2020-05-08 20:39] deepak1556 opened #97301 "Debt: use ipc to communicate with the auth dialog"
Follow-up to https://github.com/microsoft/vscode/issues/97199 , since `executeJavaScript` calls are hard to debug and they are just inline script evaluation that can easily break CSP.

1) We should change `BrowserWindowConstructorOptions` for the auth window

**from**

[code]

**to**

[code]

2) Setup ipc channel in the preload script

3) Replace `executeJavaScript` call in `vs/code/electron-main/

[2020-05-08 20:45] benman64 opened #97302 "on welcome page add option beside each project to open in this workspace"
I don't know an easy way of loading into current workspace. The other option is file->add folder to workspace. It could be that I'm not understanding vscode workspaces too. Maybe an option already exists? If not then feature request :)

[2020-05-08 20:54] #97192 closed

[2020-05-08 21:05] deepak1556 commented on #97151
https://github.com/CodySchrank/gSwitch seems to be widely used one.

Thanks for confirming, most likely support for your gpu was updated in chromium. I am not sure which commit fixed it, have to check.

But for now you can work with `"disable-hardware-acceleration": true` in your insiders build. We will be pushing the runtime present in exploration to insiders soon.

[2020-05-08 21:07] pfongkye commented on #96640
Hello @joaomoreno @bruno-brant
I would like to work on this issue if no one else is.
Regards.

[2020-05-08 21:08] jmagosta opened #97303 "Corrruption of .ipynb files"
This is an intermittent fault that has occurred a few times.

Complaint:  VC code truncates .ipynb (Jupyter notebook files) when quiting.

Observations:  THis may be an interaction with git, or with the interactive shell. Or it could be a corruption that occurs in the embedded javascript that bokeh inserts into the .ipynb file.

Setup:  Version: 1.44.2 (system setup)
Commit: ff915844119ce9485abfe8

[2020-05-08 21:16] sbatten commented on #97229
/duplicate #96117

[2020-05-08 21:17] #97229 closed

[2020-05-08 21:19] ZDTaylor opened #97304 "Workspace-level task can't resolve User task for dependsOn"
- VSCode Version: 1.46.0-insider
- OS Version: Windows_NT x64 10.0.18383

Steps to Reproduce:

1. Create a task in a the user tasks.json file
2. Create a task in a workspace folder that depends on the user-level task
3. Run the workspace-level task
    * Tasks output shows: Couldn't resolve dependent task 'name' in workspace folder: 'pathToWorkspace'

Does this issue occur when all extensions are

[2020-05-08 21:19] rogererens commented on #84574
I'm able to run the 1.46.0-insider from the VSCode-win32-x64-1.46.0-insider.zip file.

But when I use the VSCodeUserSetup-x64-1.46.0-insider.exe installer, with all checkboxes ticked, the installed executable still hangs after double-clicking the desktop-icon (or choosing from the Start menu).

[2020-05-08 21:20] ZDTaylor commented on #97304
I found #90286 but it appears to only have worked when the task is at the same level, not from workspace -> user level.

[2020-05-08 21:26] LightningRpper opened #97305 "Launch program "C:\Users\my_user\workspace" does not exist.................except it actually does."
When running code in VS Code, I'm getting an error saying that the workspace folder does not exist, when in fact it does. What's going on here?

![cide](https://user-images.githubusercontent.com/54909296/81450718-931c4e00-9148-11ea-9ccf-beb0fc17d6db.PNG)

[2020-05-08 21:29] BrandonKi commented on #96290
This may be some weird windows behavior, but whenever I pass args to `code.cmd` using call, it is blocking.
An example of this would be a bat file with only `call "path/to/code.cmd" "path/to/file"` .
However if no args are given it works completely fine for me.

[2020-05-08 21:35] mjcrouch commented on #97305
presumably "program" should be the full path to the executable file insdie the folder, not just the name of a folder - I would guess that's why it complains...

[2020-05-08 21:39] gjsjohnmurray commented on #97297
See also #75186, which was closed as a dup (dubiously IMO).

[2020-05-08 21:40] vinyloup opened #97306 "result of "codium --prof-startup" for analyze"
1. :warning: We have copied additional data to your clipboard. Make sure to **paste** here. :warning:
## System Info

* VSCodium: 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f)
* OS: linux(4.15.0-99-generic)
* CPUs: Intel(R) Core(TM)2 Duo CPU     E8400  @ 3.00GHz(2 x 2521)
* Memory(System): 3.85 GB(0.89GB free)
* Memory(Process): 249.30 MB working set(152.14MB private, 4.89MB shared)
* VM(likel

[2020-05-08 21:45] oluwatosinolamilekan opened #97307 "No progress for installation"
![image](https://user-images.githubusercontent.com/29930457/81451973-95e56600-917d-11ea-8f24-8a7355406b8d.png)

[2020-05-08 21:46] deepak1556 commented on #84574
Sorry for the silence in here, we have updated the steps to obtain crash report without additional tools https://github.com/microsoft/vscode/wiki/Native-Crash-Issues#update

Currently this change is only available with insiders version https://code.visualstudio.com/insiders/ . Install the latest insiders and follow the steps from above but replace `code` with `code-insiders`

[2020-05-08 21:57] gjsjohnmurray commented on #54938
What are the prospects of getting this API finalized soon?

[2020-05-08 21:59] #97034 closed

[2020-05-08 22:00] rjmxtechnology commented on #93072
Disabling the background updates seemed to fix it for me, but it shouldn't be happening to begin with, very frustrating

[2020-05-08 22:01] roblourens opened #97308 "Settings with invalid defaults"
`timeline.excludeSources` and `timeline.pageSize` have null defaults but the types don't include null. Consider using a non-null default like an empty array, if there is no difference, it will be easier to display in the settings editor.

[2020-05-08 22:09] SwiftPredator opened #97309 "Cant open specific jupyter notebook"
- VSCode Version: 1.45
- OS Version: MacOS 10.14.4

Steps to Reproduce:
 Hello,

yesterday my vscode and notebook worked fine. But today after the notebook crashed and i tried to stop the kernel, which failed duo timeout. I forced vscode to close. Now when i try to open the notebook, i get the following output from the verbose log:

[I 00:00:59.072 NotebookApp] Creating new notebook in /
[I 00:00:

[2020-05-08 22:13] #97188 closed

[2020-05-08 22:13] nanixne commented on #97188
I cannot reproduce it today..

[2020-05-08 22:19] #95990 closed

[2020-05-08 22:23] #97309 closed

[2020-05-08 22:24] SwiftPredator commented on #97309
After reinstalling the python and extension and vscode it worked again.

[2020-05-08 22:25] pavel-a opened #97310 "Markdown preview - jump to precise source location in the .md document"
Issue Type: <b>Feature Request</b>

Currently double click in preview jumps to unrelated location in the .md file (last edit location?)

Would be cool to jump from any place in preview to corresponding place in its source .md file.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363

[2020-05-08 22:30] daxian-dbw commented on #97219
@imdeep2905 what `EditMode` are you using with PSReadLine (run `Get-PSReadLineOption | % EditMode`)? `Emacs`?

This indicates `ctrl+v` is not bound in PSReadLine.
@TylerLeonhardt mentioned VSCode on windows is updated to directly pass `ctrl+v` to PSReadLine, is that change first introduced in `1.45.0`? Could this be related to that?

[2020-05-08 22:31] nhrones commented on #97258
This was a problem in a unique situation.  I was building a node app that
built .d.ts files from WebIDL files.  I forgot to 'exclude' the folder that
received the new .d.ts files.
This created a very unstable TS environment.  Once I 'excluded' the output
folder in tsconfig.json, I could no longer reproduce this error.
Thanks for the quick reply.

On Fri, May 8, 2020 at 2:49 PM Matt Bierner <notifi

[2020-05-08 22:41] JacksonKearl commented on #95086
Data for recall (how many correctly labeled vs how many in dataset) and accuracy (how many correctly labeled vs how many total labeled) for each label:

area:
[code]

editor:
[code]

workbench:
[code]

assignee:
[code]

[2020-05-08 22:48] petevdp commented on #97165
Apologies for not mentioning that I was working on this, but I implemented a fix for this in  #97311

[2020-05-08 23:11] lazzyn commented on #70413
Oh common Microsoft, do it already. This has been in Visual Studio for ages.

[2020-05-08 23:21] BenderEviler opened #97312 "QuickSuggestion does not desappear"
Issue Type: <b>Bug</b>

When i'm finished writting a word that the quick suggestion failed to guess, that suggestion remains on the screen. So, if a hit the 'enter', instead of going to the next line, it will unnecessarily accept the word, and i'll have to hit 'enter' again.
Steps to reproduce:
1 - create a new .txt file
2 - inside the file write "babe baby"
3 - insert some lines and try to write

[2020-05-08 23:21] roblourens commented on #97192
Better fix inb82e5905ef2ae58d709abe2c7d58a057230940fd

[2020-05-08 23:21] gsogeek commented on #96598
This is a result of a windows update interacting with a Radeon GPU.

[2020-05-08 23:21] #96598 closed

[2020-05-08 23:22] mcandre opened #97313 "Recognize more shell script files"
Let's expand the file patterns recognized as POSIZy shell scripts:

* Files with ash, dash, posh, yash shebangs
* zsh core configuration files (`zshrc`, `.zshrc`, `*.zshrc`, `zshenv`, `.zshenv`, `*.zshenv`, `zlogin`, `.zlogin`, `*.zlogin`, `zprofile`, `.zprofile`, `*.zprofile`, `zlogout`, `.zlogout`, `*.zlogout`)
* Slant rhyme filenames like `bashrc_Apple_Terminal`, `zshrc_Apple_Terminal`

This la

[2020-05-08 23:22] mjbvz commented on #97310
Can you please provide an example where it jumps to the wrong location?

[2020-05-08 23:30] im-richard commented on #70413
I'm going to have to start adding an additional 500 calories to my diet just because my finger is having to fight with the constant scrolling so much.

It may seem like a small feature to them, but it has actually caused me to contemplate moving editors. The only reason I haven't is because I have VSCode setup exactly how I want it, and screwing with a new one right now is just going to lag my wor

[2020-05-08 23:36] J3m5 commented on #70413
Get ready for the next iteration plan! 💪 ✊

[2020-05-08 23:41] kieferrm commented on #85254
The following comes from a short test-run with @rebornix of GH Codespaces in Safari on iPad. Some of the issues are caused by the VS Code WebUI being embedded in an iframe. This will change in the near future as we’ll move out of iFrame.

### IFrame issues
- The workbench is too big; the workbench resizes according to the size of the container which currently is the iframe, however once we are out

[2020-05-08 23:44] joanmarie commented on #95433
Ok, support landed in Orca master to present the newly-focused status bar in speech and braille.

[2020-05-08 23:52] danielsouzat opened #97315 "Move cache folders to .cache on Linux platform"
All VSCode related storage seems to be inside '~/.config/Code\ - \OSS' or inside the project folder. And inside that folder we have some cache folders: 'blob_storage', 'Cache', 'CachedData', 'CachedExtensions', 'Code\ Cache', 'GPUCache'. If those folders can be safely deleted as apparently is wouldn't be better to have them inside '~/.cache/Code\ - \OSS'? It would make easier to backup code settin

[2020-05-08 23:52] kieferrm commented on #85254
@grorg you mentioned on twitter you’d be interested in helping to improve the safari experience.  5, 6, 7, 9 seem that they could benefit from your help.

[2020-05-08 23:53] DonJayamanne opened #97316 "Allow adding metadata to CellDisplayOutput"
https://github.com/microsoft/vscode/issues/96433 tracks ability to add metadata to cells, & notebooks.
We also need the ability to add metadata to cell output as well.

Consider the following example:
* When rendering matplotlibs in Jupyter, the output contains additional metadata useful for rendering.
* E.g. if a png/svg is returned metadata can be returned in the output indicating whether a whit

[2020-05-08 23:56] ChrisPapp commented on #97165
I was playing around with this and managed to fix it, so I created. My browser did not update so I didn't see your message, sorry for duplicate PR  :sweat_smile:

[2020-05-09 00:02] #90981 closed

[2020-05-09 00:04] tlemo opened #97317 ""Open definition to the side" opens definition in the same group"
Issue Type: <b>Bug</b>

 "Open definition to the side" works... unless there are multiple definition candidates. In this case the disambiguation popup shows up, after which the definition is opened in the *current* group, rather than *to the side*

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:10:24.511Z)
OS version: Linux x64 4.15.0-99-generic

Extension|Au

[2020-05-09 00:06] roblourens commented on #95497
Which OS are you using?

[2020-05-09 00:15] oluwatosinolamilekan commented on #97307
None of them as solution to it

[2020-05-09 00:20] saihaj commented on #93814
Workflow: Commands

Error: Error: Action could not execute becuase label *question is not defined.

Issue: saihaj/testing-github-workflows#16

Repo: saihaj/testing-github-workflows

[2020-05-09 00:35] petevdp commented on #97165
No problem! haha both our bads I guess :rofl:

[2020-05-09 00:56] johnmellor commented on #53262
@v-kydela You can add a custom keybinding for Collapse All that works without having to first focus the outline window.

For example using the [Commander extension](https://marketplace.visualstudio.com/items?itemName=giyyapan.commander) to chain multiple commands together you can add the following to [keybindings.json](https://code.visualstudio.com/docs/getstarted/keybindings#_advanced-customizati

[2020-05-09 01:01] finite-light commented on #91817
This issue appears to have been resolved in the new release.

[2020-05-09 01:14] s1nce opened #97318 "Setting has an invalid type, expected "string""
- VSCode Version: 1.45.0
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Change Font Weight to any value instead of "normal"
2. Then you will get this error
Setting has an invalid type, expected "string". Fix it in JSON.

Does this issue occur when all extensions are disabled?: Yes

[2020-05-09 01:22] regs01 commented on #95168
This isn't good way of UI.  It's visually messing up sections. It's when designers taking over UI and putting style above productivity. The good way of UI is when each section on screen that is not related to each other should have visual contrast separation. That's why nobody liked Office 2013.

#93764 proposal received just one like, yet has been implemented.

[2020-05-09 01:28] jvesouza commented on #95433
@joanmarie It looks great! Thank you.

[2020-05-09 02:12] a-tiller opened #97320 "Terminal attempts to do automatic github authentication even when disabled."
- VSCode Version: 1.45.0
- OS Version: Ubuntu 19.10

Steps to Reproduce:

1.  add: `{
  "git.enabled": false,
  "git.terminalAuthentication": false,
  "git.githubAuthentication": false,
}`
to settings.json
2. git push from the integrated terminal

Does this issue occur when all extensions are disabled?: Yes

Error text:

Missing or invalid credentials.
Error: connect ENOENT /run/user/1000/snap.cod

[2020-05-09 02:12] jvesouza commented on #97156
@isidorn   I tested and got the following results:

* If I move the focus to notifications and press enter or space bar, the focus is moved to the editor if there are no notifications.

* If I move the focus to problems and press the space bar or enter, the focus sometimes is moved to the editor and sometimes is moved to problems view.

[2020-05-09 02:24] #92279 closed

[2020-05-09 02:28] JacksonKearl commented on #93814
Hmm... probably need to make error logging better configurable.

[2020-05-09 03:59] deadcoder0904 commented on #97220
Hey @mjbvz, that's not JSX. Notice, you are missing the `() => ` like:

[code]

I don't have insiders build but it doesn't work with all extensions disabled while using the latest version which just released (April 2020) :)

[2020-05-09 04:00] quyleanh commented on #97199
But can I fix the proxy setting for not showing popup? I don't want to enter username and password every time opening vscode.

[2020-05-09 04:01] charbelnicolas commented on #97270
This has already been fixed in an recent exploration build, who knows when, or if they will ever backport the fix. Maybe in a year or so when they decide to upgrade to the newest or more recent builds of electron and chrome , maybe then we will see a fix.

[2020-05-09 04:14] texastoland commented on #96409
@bpasero Maybe it's obvious but the issue looks like a tab change is triggered every single scroll event. It just needs throttled with at least 100 ms threshold. There's already a decorator in common:
https://github.com/microsoft/vscode/blob/e0639de66595b5e4e41c9b3d0116f865237ff8a5/src/vs/base/test/common/decorators.test.ts#L167-L174

[2020-05-09 04:14] mjbvz commented on #97220
Yes it is valid jsx. Your example also works fine for me in insiders:

<img width="943" alt="Screen Shot 2020-05-08 at 9 13 27 PM" src="https://user-images.githubusercontent.com/12821956/81463749-c377e280-9170-11ea-883b-807ad32b2977.png">

Do you import react or reference it anywhere in your project?

[2020-05-09 04:30] Kingwl commented on #95385
I'd like to work on this.

[2020-05-09 04:46] imdeep2905 commented on #97219
That command you told me to run ```(i.e. Get-PSReadLineOption | %EditMode)``` gives no output.

[2020-05-09 04:57] Kingwl commented on #66950
It's useful feature, I'd like to work on this.

[2020-05-09 04:59] JoeyPacini opened #97323 "Folding Breaks"
- VSCode Version: 1.45.0
- OS Version: Windows 10.0.18363.815

Don't know if it's a bug or if I mess up but... :

Steps to Reproduce:

1. Add some comments folders.
2. Add another comments and a line of code then all folders dissapears.
3. I can't do any folder anymore.

<a href="https://gifyu.com/image/nLGl"><img src="https://s6.gifyu.com/images/VsCodeBug.gif" alt="Vs-Code-Bug" border="0"></a>

(

[2020-05-09 05:04] rafee opened #97324 "Read from stdin, wsl"
- VSCode Version: 1.45.0 (Windows)
- OS Version: Ubuntu 20.04/WSL2

Feature from #6161

Steps to Reproduce:

1. `man curl | code -` on WSL2 Terminal
2. Temporary file created with blank content

Does this issue occur when all extensions are disabled?: Yes/No, Not checked, because this disables WSL extension as well and shows error.

[2020-05-09 05:09] heshuimu commented on #58038
+1

[2020-05-09 05:16] deepak1556 commented on #97199
If your proxy server is only configured for basic HTTP authentication, you will have to enter the credentials on the first run and the credentials will be cached, successive runs will delegate to the cache unless credentials were rejected then auth dialog will be prompted again.

For any further proxy configuration, I would suggest to contact your network administrator to try other proxy authentic

[2020-05-09 05:20] jmagosta commented on #97303
I'm going to close this  - I don't think there's enough evidence to pursue it.  _JM

[2020-05-09 05:20] #97303 closed

[2020-05-09 05:30] mjbvz commented on #97258
Ok, let me know if you hit this again or if you have reliable steps to reproduce this.

[2020-05-09 05:30] #97258 closed

[2020-05-09 05:31] deadcoder0904 commented on #97220
No, I'm using it with [Next.js](https://nextjs.org) so no need to do

[code]

It's just a basic project I just started & couldn't find `aria` autocompletion within it.

[2020-05-09 05:35] mjbvz commented on #97179
Opened https://github.com/microsoft/TypeScript-TmLanguage/issues/822 to track upstream

[2020-05-09 05:35] #97179 closed

[2020-05-09 05:44] bpasero commented on #97285
This is intentional because there is no way currently a non-file based editor can signal that it can simply be restored. Check is here:

https://github.com/microsoft/vscode/blob/602d2a217c6fd4c25afc14467ead4eae0c7923ce/src/vs/workbench/services/history/browser/history.ts#L615

However this could possibly be improved by simply asking the editor input factory to serialize the editor and then bring i

[2020-05-09 05:45] nascarsayan opened #97326 "No internet connection under corporate proxy ( net::ERR_NO_SUPPORTED_PROXIES )"
- VSCode Version: 1.45.0 (April Release)
- OS Version: MacOS Catalina 10.15.4

Steps to Reproduce:

1. Using VSCode in a corporate environment with proxy
2. Set `http_proxy="http://<host>:<port>/"`, `https_proxy=$http_proxy` in the environment variables
3. In `settings.json`
   1. Don't set `"http.proxy"`
   2. Set `"http.proxyStrictSSL": false`
   3. Set `"http.proxySupport": "on"`

4. No interne

[2020-05-09 05:46] bpasero commented on #96409
@texastoland happy to test this out in a PR. I gave debouncing a very brief try and felt it was not working, but I was not using that annotation but something else.

[2020-05-09 05:46] texastoland opened #97327 "Quick Open and Quick Access view usability issues"
I'm not sure if this is a bug or feature request. I love the Quick Access view conceptually. But it only stays open for me while keeping control pressed and receives no filter input like the main file/line/symbol/command palette. The only navigation is by either <kbd>Q</kbd>/<kbd>⇧Q</kbd> again or the arrow keys with the other hand. Switching the shortcut to a function key at least keeps the view

[2020-05-09 05:47] texastoland commented on #96409
I'll give it a shot 🤙🏽

[2020-05-09 06:07] nascarsayan commented on #97326
It seems setting in environment variables
`http_proxy="http://<host>:<port>/"` gives error but
`http_proxy="http://<host>:<port>"` doesn't.
OR in `settings.json`
`"http.proxy": "http://<host>:<port>/"` gives error but
`"http.proxy": "http://<host>:<port>"` doesn't.

The **proxy URL** isn't being parsed correctly IMO.

[2020-05-09 06:16] milesxu commented on #91817
I have some doubt about this.
It's true that I cannot find any text erased by prompt when I am using VS Code 1.45.
However, when I use tmux in a remote integrated terminal, each time when I reopen the terminal, there is a bright line flashing in it (but the contents in terminal are remained intact).
Before VS Code 1.45, if I use tmux in a remote integrated terminal, reopen it would cause all the c

[2020-05-09 06:35] bpasero opened #97328 "Quick fix from hover interaction issues"
Steps to Reproduce:

1. hover over a problem
2. click on Quick fix link

=> 🐛 menu appears somewhere?
=> hover closes?

I would either expect the hover to stay and the menu to appear right below, or at least that the menu appears below the problem.

![cap](https://user-images.githubusercontent.com/900690/81466215-074e0480-91d0-11ea-83fb-b9341e8f0d28.gif)

[2020-05-09 06:39] quyleanh commented on #97199
I mean I would like to enter the credential only one time. Can I? If I close the vscode and reopen, the dialog is display. Is there any mechanism to set vscode use the Windows proxy setting?

[2020-05-09 06:56] senayuki opened #97329 "Git has some problum in code indentation of Python"
- VSCode Version:1.45.0
- OS Version:Windows 10 1909

Steps to Reproduce:
1.Change code indentation
![image](https://user-images.githubusercontent.com/27473098/81466372-beb03e80-9203-11ea-8460-701bbd9fde73.png)
2.Use `Stage Selected Ranges`, then the change of code indentation was ignored.
![image](https://user-images.githubusercontent.com/27473098/81466390-f15a3700-9203-11ea-9e46-5de3093708ed.png

[2020-05-09 06:57] jochenvw opened #97330 "Task execution - cwd option - 'The terminal shell CWD [path] does not exist'"
Trying to write a task that executes a simple script, but cannot get it to work as soon as I try to configure the current working directory.

This task works:
[code]

outputs:

[code]
This one doesn't:
[code]
Outputs:
[code]

I must be overlooking something stupid - just followed this guide:
[https://code.visualstudio.com/docs/editor/tasks#_compound-tasks](https://code.visualstudio.com/docs/editor

[2020-05-09 06:59] suchoss commented on #95497
Win 10 (64).
![image](https://user-images.githubusercontent.com/39336141/81466610-50538800-91d3-11ea-8ae3-441135e961d0.png)

I recorded a video what happens. <https://youtu.be/ItwnmGe6h-o>

[2020-05-09 07:10] FremdSprach opened #97331 "line display will be truncated if its length exceeds 10000"
Issue Type: <b>Bug</b>

Just type more than 10000 charactors, say 10009, in one line in the editor's view, drag the horizonal bar to the right most side, the last 9 charactors cannot be seen.

In other words, is the line view display limited to 10000 characters?

VS Code version: Code - Insiders 1.46.0-insider (d487078dc7fc1c276657cadb61b4f63833a8df55, 2020-05-07T16:19:54.327Z)
OS version: Windows

[2020-05-09 07:20] gauravmak opened #97332 "prefixes non-links in the Extension Readme"
Issue Type: <b>Bug</b>

VS code and Marketplace automatically prefixes the links in the Readme of the package as per the homepage URL set in the `package.json` file.

In [my case](https://marketplace.visualstudio.com/items?itemName=freshbitsweb.laravel-traveller), it is prefixing a non-link as well. At multiple places, I am displaying `regex` statements to the users but the homepage URL is prefixe

[2020-05-09 07:28] kannan-balasubramanian commented on #97223
Yes, it's still reproducible after commenting and saving the file.
Please note that before saving the file the highlighting works fine, but the moment the file is saved then the highlighting goes wrong.

The format on save is enabled.
------------------------------
Please find below the React code (PS: the bug reporting editor doesn't highlight the below code properly, so have uploaded the code [h

[2020-05-09 07:35] damianatorrpm opened #97333 "c++ auto type show type"
Issue Type: <b>Feature Request</b>

auto my_int = 7;

on hoverg auto it shows int

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:50:03.709Z)
OS version: Linux x64 5.6.8-1-default

[2020-05-09 08:12] xinshani opened #97334 "碰到了两个bug"
Issue Type: <b>Bug</b>

1、cmd+f 打开搜索框，在搜索框中写入搜索内容，在切换tab 工作窗口后，当年的搜索索引不是一个数字，而是一个问号
2、折叠代码后，在选中代码，不会高亮

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T15:57:33.467Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4308U CPU @ 2.80GHz (4 x 2800)|
|GPU Status|2d_canvas: enabled<br>flash_3d:

[2020-05-09 08:17] LeuisKen commented on #96109
I found my problem is not as complex as I imagined. By using some tricks, I wrote a simple extension that could do this work. And I just publish it to the marketplace.
https://marketplace.visualstudio.com/items?itemName=LeuisKen.latency

[2020-05-09 08:29] grislux55 opened #97335 "VSCode hangs when kill a terminal which cached data"
- VSCode Version: 1.46.0-Insider or 1.45.0
- OS Version: Windows 1909 (18363.720)

Steps to Reproduce:

1. Press Ctrl + Shift + `
2. Type '0 0' (Don't press Enter here)
3. Click 'Kill Terminal'

Extra:
I tried powershell 7.0 and 5.0. The problem exists both.

Does this issue occur when all extensions are disabled?: Yes

[2020-05-09 08:46] Koopos opened #97336 "ctrl+p not work"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-05-09 08:46] #97336 closed

[2020-05-09 08:46] Koopos commented on #97336
ctrl+p not work,when there is a window,if not has any window,it works

[2020-05-09 08:47] Koopos opened #97337 "ctrl+p not work"
ctrl+p not work,when there is a window,if not has any window,it works

[2020-05-09 09:02] MAWMN opened #97338 "tasks unexpectedly provided a task of type "shell""
Issue Type: <b>Bug</b>

Windows 10..PlatformIO..Arduino(Wemos-D1)

The task provider for "C/C++" tasks unexpectedly provided a task of type "shell".

happens on every task I run, reboot of Win10 did not solve the issue..

Using latest version from yesterday (08-05-2020)

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.

[2020-05-09 09:16] pushkine opened #97339 ""var in object" check breaks highlighting when var is named "type""
1.45.0
[code]
![Code_2020-05-09_11-12-19](https://user-images.githubusercontent.com/30108880/81469590-07f19580-91e6-11ea-89eb-8aee015e3c57.png)

[2020-05-09 09:21] DrDecane opened #97340 "SmartCase search only works in some directories"
Issue Type: <b>Bug</b>

1. set `"search.smartCase": true` in user settings
2. Case insensitive search now works just fine for some folders/directories, but does not work at all for others.

Does this issue occur when all extensions are disabled?: Yes

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18362

<details>
<

[2020-05-09 09:36] mjcrouch commented on #84297
Hi - I'm implementing this for perforce - is there a way to identify that a user has explicitly requested a refresh?

I don't really want to hit the server for the file log every time we switch tabs (hence I've implemented a cache), but I would think if someone has pressed the refresh button then we would want to force an update to the state.

For example, if another person has submitted the file

[2020-05-09 09:41] geniusupgrader commented on #32818
Another workaround:
use VSCode in the Cloud with [code-server](https://github.com/cdr/code-server) and let the browser take care of dragging the tabs around!

[2020-05-09 10:29] davidanthoff opened #97341 "Notebook cell queued status"
Could we add an additional notebook cell status of `vscode.NotebookCellRunState.Queued`? It would indicate that this cell is queued for execution, but not currently running.

Jupyter typically uses a `*` as the execution ID for that in the UI, but I feel that in the UI story here an additional cell status might be best?

[2020-05-09 10:38] Mr-wang-1 opened #97342 "when i use Remote-ssh i got this problem"
[18:32:12.143] Remote server is listening on port 42233
[18:32:12.143] Parsed server configuration: {"agentPort":42233,"osReleaseId":"ubuntu","arch":"x86_64","webUiAccessToken":"","sshAuthSock":"","platform":"linux"}
[18:32:12.144] Starting forwarding server. localPort 52654 -> socksPort 52643 -> remotePort 42233
[18:32:12.145] Forwarding server listening on 52654
[18:32:12.145] Waiting for ssh tu

[2020-05-09 11:01] DearRude commented on #11770
I can't stand why VScode does not have RTL support yet.

[2020-05-09 11:02] giltho opened #97343 "FormattingOptions should match the LSP's"
Hi!

The LSP describes more formatting features than what VSCode can provide. Therefore, the LanguageClient can only handle part of the protocol's available parameters (see the related issue : microsoft/vscode-languageserver-node#617)

In particular, the [FormattingOptions interface](https://github.com/microsoft/vscode/blob/306235b1e6780216df21da373965323f7a921888/src/vs/editor/common/modes.ts#L10

[2020-05-09 11:06] iveselin commented on #64599
Exactly what I am searching for right now, any updates or plans?

[2020-05-09 11:08] bergmeister commented on #4772
@Tyriar Are you aware of any (good) workarounds for migrating a setting to its new value (use case: functionality of a setting was split into more settings)? I am thinking
- Change user's setting and remove this custom code after a few months. Not sure how well this works in the various settings levels (user, workspace, codespace or synced) but I think an extension can change at least the user's s

[2020-05-09 11:22] #96737 closed

[2020-05-09 11:35] GregHilston commented on #97151
@deepak1556 Understood, this solution totally works with me!

I wasn't sure if continuing the dialogue work help VS Code, so glad we got to the bottom of this.

I think we're good to close this if you are and I'll go with this solution.

Thank you guys :) What a pleasant experience,

[2020-05-09 11:57] binay798 opened #97345 "Found a bug while copying and pasting the code"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

At first i copied two lines of html code and i tried to paste those two lines of code in another two line of same file by using ( alt + left click ) on two different lines . But those copied codes didn't paste on the two different lines as i expected. I expected that both lin

[2020-05-09 12:14] zhydn opened #97346 "Export a class decorated with decorators, which cannot be automatically imported in other files"
- VSCode Version:1.45
- OS Version: win10 1909

Steps to Reproduce:

1. Export a class decorated with decorators, which cannot be automatically imported in other files
2.
[code]
3.  ![Snipaste_2020-05-09_20-13-28](https://user-images.githubusercontent.com/43907589/81473522-950e0c00-9231-11ea-9b62-76ee91d1ec21.png)

Does this issue occur when all extensions are disabled?: Yes

[2020-05-09 12:31] saihaj commented on #93814
I didn’t knew it will open it here. Where can I change it?

[2020-05-09 12:32] Tyriar commented on #97338
/duplicate https://github.com/microsoft/vscode/issues/96636

[2020-05-09 12:32] #97338 closed

[2020-05-09 12:33] Tyriar commented on #97337
What do you mean by when there is a window and when there is not any window? A screenshot or [gif](https://gifcap.dev/) could help illustrate this.

[2020-05-09 12:33] Tyriar commented on #97335
/duplicate https://github.com/microsoft/vscode/issues/76548

[2020-05-09 12:33] #97335 closed

[2020-05-09 12:33] Tyriar commented on #97333
/extC++

[2020-05-09 12:34] #97333 closed

[2020-05-09 12:35] Tyriar commented on #97332
@fiveisprime do you know where marketplace issues go?

[2020-05-09 12:38] Tyriar commented on #97329
Set this to show the diff in that case:

[code]

[2020-05-09 12:38] #97329 closed

[2020-05-09 12:40] Tyriar commented on #97328
I was looking into this a little while doing the terminal hover, it didn't see that easy to fix as it hides because of a mouseout event. Maybe the mouseout listener needs to get disabled in favor of a context menu close event at that point?

[2020-05-09 12:42] Tyriar commented on #97320
Did you restart the terminal after your disabled it?

[2020-05-09 12:47] Tyriar commented on #97315
Everything in there used, a lot of it is part of the Chromium user data directory though.

For backup you should check out the upcoming [settings sync feature](https://code.visualstudio.com/docs/editor/settings-sync) (insiders only atm).

[2020-05-09 12:47] #97315 closed

[2020-05-09 12:49] akred commented on #97291
FYI : This post relate the same issue here : https://medium.com/@iamstorm/vscode-bug-on-linux-7ca4c4544d24

[2020-05-09 12:49] Tyriar commented on #97312
You can use this setting to disable the feature in plain text:

[code]

I do the same in markdown as it drives me crazy for similar reasons, you can always hit ctrl+space to trigger it manually still though.

[2020-05-09 12:50] Tyriar commented on #97306
You're using vscodium, not vscode?

[2020-05-09 12:50] #97306 closed

[2020-05-09 12:54] a-tiller commented on #97320
Yes, I've both killed the terminal and restarted the VM.

Not sure if this is helpful, but before I added the two new settings vscode was trying to handle the authentication even though I had `git.enabled: false` set (requesting username and password from the command palette). That's what sent me looking for the new settings in the first place.

[2020-05-09 12:56] Tyriar commented on #97291
/duplicate https://github.com/Microsoft/vscode/issues/69665

[2020-05-09 12:56] #97291 closed

[2020-05-09 12:59] Tyriar commented on #97288
Can you put a [gif](https://gifcap.dev/) together after enabling screencast mode (F1 > screencast) showing the problem?

[2020-05-09 12:59] Tyriar commented on #97281
/extPython

[2020-05-09 13:00] #97281 closed

[2020-05-09 13:02] Tyriar commented on #97276
The video doesn't play for me, looks like it's about the custom title bar though. You could try launch with --disable-gpu to see if that fixes it.

[2020-05-09 13:02] hediet opened #97348 "Custom Editor API Feedback - Controlling the Dirty Flag"
I'm trying to integrate drawio into VS Code as editor for pngs with an embedded drawio document.
As pngs are binary files, I'm using the proposed custom editor API.

The drawio iframe captures all key events (so that shortcuts work). This includes `ctrl+s`.
In my extension, I can react to that (drawio sends a `save` request to the parent window when `ctrl+s` is pressed in the drawio iframe).

Howe

[2020-05-09 13:03] Tyriar commented on #97276
Might be https://github.com/microsoft/vscode/issues/97270?

[2020-05-09 13:03] Tyriar commented on #97269
/duplicate https://github.com/microsoft/vscode/issues/76548

[2020-05-09 13:03] #97269 closed

[2020-05-09 13:04] Tyriar commented on #97015
It really seems like this has nothing to do with vscode.

[2020-05-09 13:04] #97015 closed

[2020-05-09 13:08] Tyriar commented on #97262
The command name changed, update to this:

[code]

[2020-05-09 13:08] #97262 closed

[2020-05-09 13:22] roblourens commented on #97068
Thanks for filing this. Do you think these buttons should be marked as radio buttons? They work like tabs or radio buttons.

@isidorn what do you think? I could add these pretty easily https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_radio_role

[2020-05-09 13:26] roblourens commented on #97094
Strange, I can't reproduce this. If you update to the latest insiders 1.46 does it still happen?

[2020-05-09 14:06] bashgaa opened #97350 "Can't install extension"
When i install extension from browser
 following "https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-request-github" url. But notification shows An "unknown error occurred. Please consult the log for more details."

Extension not install

[2020-05-09 14:07] adebiyial opened #97351 "Incorrect Find Count"
- VSCode Version:  1.45.0
- OS Version: Darwin x64 19.4.0

Steps to Reproduce:

1. Create any file (JS, for example).
2. Type multiple `console.log()`
3. Find (`CMD + F`) `console`
4. Delete each instance of `console` found
5. Check the Find window to the top-right, the count shows something like *? of 5*

Does this issue occur when all extensions are disabled?: Yes/No
<img width="987" alt="Screen

[2020-05-09 14:17] roblourens opened #97352 "Quickopen with folder name doesn't work in folders that have sibling clauses"
- Open multiroot workspace that includes the vscode repo (named vscode)
- Open quickopen, enter `vscode azure-pipelines`
- No results
- It works when there are no sibling clauses present

[2020-05-09 14:27] wbing520 commented on #97350
Could you please give more details, like screenshot? What is your browser, VS code version and OS version? It works on Chrome, Windows 10 (Version 1909) with VSCode 1.45.0. Thanks.

[2020-05-09 14:29] roblourens opened #97353 "Quick open doesn't select the first entry on open"
- Press cmd+P
- The first entry should be selected but isn't in Insiders

Stable:
![image](https://user-images.githubusercontent.com/323878/81476432-83981600-91d7-11ea-9701-8368723235a2.png)

Insiders:
![image](https://user-images.githubusercontent.com/323878/81476438-901c6e80-91d7-11ea-80e6-bded788cb93e.png)

[2020-05-09 14:37] jhomme opened #97354 "Show Key Stroke Only If Assigned In Command Pallet"
Issue Type: <b>Feature Request</b>

This will help the user learn key strokes faster. Do not display "Unassigned." Do not display the extra information that shows when looking through key assignments in the area where the user edits key strokes. Only show the key strokes if the user can use them. For example, if they cannot select text because they are not in an editor, do not show the key stroke

[2020-05-09 14:49] ivankravets commented on #96636
Hi @alexr00, again a ton of reports about "The task provider for "C/C++" tasks unexpectedly provided a task of type "shell" for @PlatformIO. How could we fix it?

[2020-05-09 15:11] Darshan20J opened #97355 "Settings has an invalid type, expected "string". Fix in JSON. Live Server Not Previewing."
- VSCode Version: 1.45.0
- OS Version: Windows 10 1903

Steps to Reproduce:

1. Settings > Liveserver
2.  Settings : Host
3. Edit in JSON settings:json

![vscode error](https://user-images.githubusercontent.com/59853594/81477124-a0facd80-9233-11ea-9140-66e8e9e05d96.jpg)

4. I have edited in JSON settings and saved the file but it still not working for me. Take a look
![vscode error2](https://user-

[2020-05-09 15:14] simoebenhida opened #97356 "Read line hover details!"
I'm not sure if this already exists! But it will be cool to have `Line` Object return details hover of a line! So it can help when developing an extension!

![Screen Shot 2020-05-09 at 15 12 21](https://user-images.githubusercontent.com/19809072/81477485-86aafa80-9207-11ea-93a8-d0acdbc7b3d0.png)
For example, here I want to get the namespace of that variable!

`TextDocument.lineAt(Position).hoverDe

[2020-05-09 15:18] wbing520 commented on #97334
I only duplicated the first issue, So that just translate the first one from Chinese to English as followings:
Issue Type: Bug
1、cmd+f 打开搜索框，在搜索框中写入搜索内容，在切换tab 工作窗口后，当年的搜索索引不是一个数字，而是一个问号

1.  Click cmd + f ---> open search window ---> enter search content --> in the search tab window, it would show #OrderNum of #TotalNum beside the search textbox --->Click "Tab", change to another tab window, besi

[2020-05-09 15:19] JacksonKearl commented on #93814
it’s in Utils.ts.

[2020-05-09 15:42] dudiharush opened #97357 "TS Server fatal error: Debug Failure."
We have written the needed data into your
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-825

[2020-05-09 15:47] LSUESL commented on #97355
I'm seeing this error sprinkled throughout the settings page. I do not have Live Server installed, so I don't think it's related to that. For example, the GitLens "Heatmap: Age Threshold" setting gives this error, and setting it to an empty string does not remove the error.

I've been trying to isolate this for the past couple of days, and backed out most all of my extension installs, and even rei

[2020-05-09 15:59] fornellas commented on #97276
@Tyriar from the description, it seems the same as #97270 . There's a comment there about a fix potentially being ready.

Google Photos sometimes takes a bit to load the video, please try again. It worked fine for me now on a incognito window.

[2020-05-09 16:01] Darshan20J commented on #97355
Thank You ! But I need some help.

[2020-05-09 16:04] susiwen8 opened #97358 "provideCompletionItems will automatically add on 'JavaScript Language Basics'"
I have registered `provideCompletionItems`, but seems like it will automatically add build in Snippets, How can I remove those?
<img width="691" alt="Screen Shot 2020-05-09 at 23 59 43" src="https://user-images.githubusercontent.com/20318608/81478734-be3e9480-9251-11ea-9f8c-b34755da8949.png">

[2020-05-09 16:08] Neurrone commented on #86414
Pending a proper fix, could `explorer.compactFolders` default to false if not otherwise set if screen reader usage is detected? It causes some difficulty when trying to navigate in the explorer view.

[2020-05-09 16:11] Neurrone opened #97359 "Number of items no longer announced in tree views by NVDA"
Issue Type: <b>Bug</b>

In explorer view, navigate through the tree view.

Info about the number of items e.g, "node_modules 2 of 5" used to be read but somewhere in the past few months this is now gone.

This isn't that big of a deal but if there aren't technical reasons why this is not set I'd rather have it because this is actually useful in some cases. For example, working through a find and r

[2020-05-09 16:13] Neurrone commented on #97359
CC: @isidorn

[2020-05-09 16:23] TylerLeonhardt commented on #97219
Maybe just paste the result of `Get-PSReadLineOption`

[2020-05-09 16:31] tgodzik commented on #97355
Happens the same to me, looks like it detects that `1.23.4` etc. is not a string. If you write localhost there, it will most likely stop showing an issue. We have a setting that has a value like `0.9.0` and that is also shown as not a string despite actually being a string.

[2020-05-09 16:36] BenderEviler commented on #97312
I don't want to disable quick suggestions on txt files, I want it to work properly. This is a bug and it has to be fixed.
Besides, this bug happens not only on txt files, it happens in any kind of file.

[2020-05-09 16:42] BenderEviler opened #97362 "Quick suggestion doesn't desappear when it has to"
Issue Type: Bug

When i'm finished writting a word that the quick suggestion failed to guess, that suggestion remains on the screen. So, if a hit the 'enter', instead of going to the next line, it will unnecessarily accept the word, and i'll have to hit 'enter' again.
Steps to reproduce:
1 - create a new .txt file
2 - inside the file write "babe baby"
3 - insert some lines and try to write "babe",

[2020-05-09 16:43] #97354 closed

[2020-05-09 16:44] jhomme commented on #97354
I noticed that this already happens.

[2020-05-09 16:50] Shabirmean opened #97363 "Set java vmargs in vscode at workspace level"
I would like to be able to set java VM arguments at workspace level. That is, not having to have it in each launch configuration in the **_launch.json_**. This would be a specific arguments_(say a java-agent)_ I want to be added and used whenever a launch is triggered for the current workspace in vscode. I also don't want it to be global to all Java projects opened in vscode, just the current work

[2020-05-09 17:02] mahesh4576 commented on #97015
Noted & thank you for the feed backs.

[2020-05-09 17:33] ShaleenAg opened #97364 "Update Installation"
Issue Type: <b>Bug</b>

Vs code is not identifying my install location ....whenever I try to update it ..........it goes to the default location and not my current one and the update fails

here is the inno updater log
[code]

VS Code version: Code 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-11T01:48:12.622Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summ

[2020-05-09 17:37] rafalagoon commented on #80798
There is no workaround? It makes VSCode so hard to use in Linux...

[2020-05-09 17:45] jeanp413 commented on #97345
@binay798 I think you are looking for this setting `"editor.multiCursorPaste": "full"`. By default it's set to `"spread"`

[2020-05-09 18:01] veddandekar opened #97365 "If find and replace is launched with multiple cursors present, automatically send first to find and the second to replace"
When we have text selected and press the ctrl+F key combination to launch find, the selected text is directly sent to the find field. However, if we select text and press the ctrl+H key combination to launch find and replace, highlighted text is only sent to the find field and the replace field is left blank.

This is an understandable limitation in most applications as they only support a single

[2020-05-09 18:21] raminismayilov commented on #28795
Here's my band-aid for this irritating bug: once I switch to VS Code (w/ ALT+TAB), I do one quick scroll regardless of direction **while holding SHIFT**, and then continue normal scrolling. No jumps.

[2020-05-09 18:28] CXXVII opened #97366 "Delete files not found in Recycle bin"
I discard my folder in source control in activity panel VS CODE. I didn't know it was deleted in my PC. I checked those file recycle bin but there are not here. Any one know how to get it. Please help me.
Thank you.

VS CODE version : 1.45.0
OS : Windows 10 Pro 1903 (OS Build 18362.418)

[2020-05-09 18:30] daniel-liuzzi commented on #96862
@bpasero and @alexr00, perhaps my phrasing wasn't all that clear, and this made the triage bot think I'm asking question. I am certainly not; I meant to report what appears to be a bug. I have now edited my original post to reflect this. Kindly consider reopening this issue. If you need more information, I'll be more than happy to to provide it. Thanks.

[2020-05-09 18:34] SourceressNL opened #97367 "Update crashes when MS Outlook is active"
Issue Type: <b>Bug</b>

If MS Outlook is active and Visual Studio Code starts to (auto)update, the program crashes and is unusable afterwards. I have to completely remove it and install it again, with MS Outlook turned off.
I have to do this every single update, since Outlook is always active on my machine.

The error says the update can't be installed because it has no access to the Visual Studio

[2020-05-09 18:48] mahmou7d commented on #28795
ممكن افهم تفاصيل اكثر

[2020-05-09 19:02] vinyloup commented on #97306
I don't thank you for this premature closure of my issue.
It is the option --prof-startup (the same in vscode or vscodium) which created this automatic issue in vscode repo.
Now that you have quickly closed my issue how can I transfer this to the vscodium repo ?

[2020-05-09 19:05] IllusionMH commented on #97331
/duplicate of #7772
See that issue for details

[2020-05-09 19:05] #97331 closed

[2020-05-09 19:24] hediet opened #97369 "Extension API: window.activeColorTheme does not report the correct theme"
- VSCode Version: 1.45.0
- OS Version: Win / Lubuntu

Steps to Reproduce:

1. Chose a light theme
2. Restart VS Code
3. Invoke an extension command that does this:
[code]

This extension should now report `Theme is light`. However, for me it reports `Theme is dark`.
If I change the theme to a dark theme, then back to a light theme and then run the extension command again, it correctly reports `The

[2020-05-09 19:47] jahirvidrio opened #97370 "TS Server fatal error: Debug Failure. False expression: Script should not exist and not be open already"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-05-09 19:48] #97370 closed

[2020-05-09 19:48] jahirvidrio commented on #97370
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.7.5
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A9-9410 RADEON R5, 5 COMPUTE CORES 2C+3G    (2 x 2895)|
|GPU S

[2020-05-09 19:49] jahirvidrio opened #97371 "TS Server fatal error: Debug Failure. False expression: Script should not exist and not be open already"
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.7.5
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A9-9410 RADEON R5, 5 COMPUTE CORES 2C+3G    (2 x 2895)|
|GPU S

[2020-05-09 20:01] mccarthyp-snet opened #97372 "Built-in functionality to easily add a command to right-click context menu"
Built-in functionality to add a command to the right-click context menu would be great. I had to learn how to create my own extension just to add "Run Selected Text in Active Terminal" to the context menu in the Editor. Seems simple enough to add this as a built-in functionality, though.

[2020-05-09 20:06] Jejulia commented on #91613
I've encountered the same issue when changing the `Code.exe` to run as administrator.
However, if I change the setting in the file shortcut `Visual Studio Code` alternatively, this issue never happens again!

[2020-05-09 20:10] takezoe commented on #97355
https://github.com/microsoft/vscode/commit/5d8cb8a6a30e2123d0dca80b2cf4e4bbd7d1518b fixed this issue as well as https://github.com/microsoft/vscode/issues/97192? Actually, there are further modifications in settings validation in the latest master: https://github.com/microsoft/vscode/blob/306235b1e6780216df21da373965323f7a921888/src/vs/workbench/services/preferences/common/preferencesValidation.ts

[2020-05-09 20:25] pedroassis opened #97373 "Improve new constant color"
- VSCode Version: 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c)
- OS Version: MacOS Catalina 10.15.3

Variable highlighting is all over the place, there seems to be a new type of highlighting for a local variable, but its confusing/annoying.

The shade for it is too close to the unused variable color.

Steps to Reproduce:

1. Create a new File
2. Set the language to JS
3. Paste the snipped
[co

[2020-05-09 20:26] bland328 commented on #97030
Thanks very much for the attention to this. I totally understand that it is far from emergent, but think it would be a useful addition, as sometimes a file is just a file :)

[2020-05-09 20:44] dimitry-ishenko opened #97374 "Markdown preview is rendered with strange fonts"
Issue Type: <b>Bug</b>

1. Remove all font settings in settings.json.
2. Create new file and change language to Markdown.
3. Enter the following:
<img src="https://user-images.githubusercontent.com/2858291/81481345-6413e400-91fd-11ea-8513-89e81cd4dfc7.png" width="75%" />

4. Press Ctrl+Shift+V to show preview:
<img src="https://user-images.githubusercontent.com/2858291/81481379-bbb24f80-91fd-11ea-

[2020-05-09 20:48] sharksforarms commented on #80798
If you set `window.titleBarStyle` to `custom` it seems to be better

[2020-05-09 21:00] dimitry-ishenko commented on #97374
If I completely uninstall Courier New from the system, the code blocks are now rendered with DejaVu Sans Mono, which again is not specified in any of my settings:

<img src="https://user-images.githubusercontent.com/2858291/81484802-9251ed80-9216-11ea-9daa-e6a6bb4760c0.png" width="75%" />

[2020-05-09 21:25] Spambit opened #97375 "Replacing a text in a ts file does not retain casing of replacing text"
Version: 1.45.0
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T15:57:33.467Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0
Steps to Reproduce:
1. Open a typescript file
2. Press `Command + F` in Macbook to bring up replace text tool in that file
3. Put 'test' in first text box and `testToBe` in 2nd textbox
4. Hit enter
5. S

[2020-05-09 21:45] thomasio101 commented on #70764
How about GitHub [CodeSpaces](https://github.com/features/codespaces)?
(Doesn't Microsoft offer that already!?)

[2020-05-09 21:47] gjsjohnmurray commented on #97366
Did you get this message?

![image](https://user-images.githubusercontent.com/6726799/81485687-04dac180-9247-11ea-9bea-a2ff4c16d61c.png)

[2020-05-09 21:48] mltony commented on #41423
@isidorn, on that chromium issue page someone has commented that it is allegedly fixed now. Would this imply that when new version of chromium is included into vscode, we'd be able to set editor.accessibilityPageSize to infinity?

[2020-05-09 21:51] premkash commented on #63068
Happened to my mac too.
![image](https://user-images.githubusercontent.com/442902/81485759-85012700-9247-11ea-88f3-b802d0adc39d.png)

See that miniscule vscode in the dock.

Version: 1.45.0
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T15:57:33.467Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

[2020-05-09 21:53] gjsjohnmurray commented on #97366
If you still have the file open in VS Code you might be lucky. Look for its tab with a '(deleted)' suffix in the label.

![image](https://user-images.githubusercontent.com/6726799/81485795-d5788480-9247-11ea-87d4-963553005755.png)

Make the file dirty (e.g. add a space and delete it).

Save the file.

[2020-05-09 21:54] Tyriar commented on #97306
GitHub's issue transfer only works within an organization, you would need to copy the content and paste it into a new issue.

[2020-05-09 22:03] mich2k commented on #96652
updated:
Code - Insiders

[code]

code-exp

[code]

[2020-05-09 22:09] kirbygit commented on #97037
I have completely removed chromium

[2020-05-09 22:19] mahmou7d commented on #97037
مرسل من هاتف Samsung Galaxy الذكي.
-------- الرسالة الأصلية --------من: Daniel Imms <notifications@github.com> التاريخ: ٨‏/٥‏/٢٠٢٠  ٤:١٠ م  (GMT+02:00) إلى: microsoft/vscode <vscode@noreply.github.com> نسخة: Subscribed <subscribed@noreply.github.com> الموضوع: Re: [microsoft/vscode] does vscode have anything to do w/
  FilterFindFirst and FilterFindClose (#97037)
Looks like a Chromium log?

—You ar

[2020-05-09 22:19] felixbraun97 opened #97376 "Semi-automatic adaptive font size"
TLDR: Please add additional **semi-automatic adaptive** options to specify the **font size**.
Simpler alternative: Please add option to bind font size levels as a shortcut.

1) This option should be possible to be enabled or disabled via a keyboard shortcut. The default font size should be used as fallback.
2) Select font size (semi-)automatically depending on the **window size**.
The user should

[2020-05-09 22:20] deepak1556 commented on #96652
@mich2k sorry we haven't pushed electron 8 to insiders, please continue to use the exploration build if you need hw acceleration. I will update this bug once electron 8 based insiders is ready.

[2020-05-09 22:39] deepak1556 commented on #97037
What @Tyriar meant was this comes from the chromium runtime VSCode is written on, removing chromium from the system will not help.

I am not sure what codepath in chromium triggers this but does this impact the behaviour of VSCode in anyway ?

Also curious, why are you using VSCode via wine ?

[2020-05-09 22:55] wolf99 opened #97377 "Terminal controls lost when on right or left and window size is changed"
Issue Type: <b>Bug</b>

I have the Terminal pane (actually includes Problems, Output and Debug Console also) setup to display on the right. This is achieved by right clicking on the area at the top of the pane, next to the tab names and selecting "Move panel right" (issue happens on left either).

This part works as expected. The issue occurs when I resize the window, when in "restore" size, by cl

[2020-05-09 22:56] kirbygit commented on #97037
@deepak1556 nope I was using an software editor because I can no longer create another virtual machine and thus why I decided to use wine instead and directly run .exe into it. There is no impact at all on VSCode but on the terminal it keeps giving me this messages

[2020-05-09 22:59] wolf99 opened #97378 "Issue reporter cannot report issues"
Issue Type: <b>Bug</b>

Any time I have used the issue reporter from VSCode, upon clicking the "Preview on GitHub" button it reports:

![image](https://user-images.githubusercontent.com/281700/81486970-ee396800-9250-11ea-90bb-89cf0523acb6.png)

I think I don't have a huge list of extensions (relatively speaking) to list to be included so maybe _aby_ list of extensions results in too large a messag

[2020-05-09 23:09] jhomme commented on #97068
Hi,

I think radio button behavior would be fine. I don’t know what is possible.

Jim

==========

Jim Homme

Skype: jim.homme

FreeChess: jhomme

Twitter: jimhomme

Facebook: jimhomme

From: Rob Lourens <notifications@github.com>
Sent: Saturday, May 9, 2020 9:23 AM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Jim Homme <jhomme1028@gmail.com>; Author <author@noreply.github.com>
Subject: Re

[2020-05-09 23:10] deepak1556 commented on #97037
Thanks for the context, the logs mostly indicate calls to stub methods we can ignore it for now. I am closing this issue as no further action can be made on VSCode end.

I haven't used wine in a long time but isn't it possible to share folders, that way you can run VSCode on the linux host and develop for the wine environment ?

[2020-05-09 23:10] #97037 closed

[2020-05-09 23:20] deepak1556 commented on #97276
@fornellas can you check if the issue is fixed with the exploration build https://az764295.vo.msecnd.net/exploration/7faa10cfc640a15751049cdc6e894c5d146ff7dd/code-exploration-1588920827.tar.gz ? Thanks!

[2020-05-09 23:21] wolf99 opened #97379 "Killing bash upsets panel toggle keybinding"
- VSCode Version: 1.44.2
- OS Version: 10.0.8363

Steps to Reproduce:

1. Open the terminal panel (tried with cmd and bash shells)
2. Kill the shell (`exit` in cmd, `^d` in bash, or just use the garbage can icon), so that there is no shell instance open.
3. Try to toggle the panel to close it using the `workbench.action.terminal.toggleTerminal` keybinding (default is `Ctrl+'`).

Expectation: Panel

[2020-05-09 23:22] deepak1556 commented on #97270
@lucky-wolf can you verify if the issue happens with the exploration build https://az764295.vo.msecnd.net/exploration/7faa10cfc640a15751049cdc6e894c5d146ff7dd/code-exploration-1588920827.tar.gz ? Thanks!

[2020-05-10 00:03] kirbygit commented on #97037
I see what you mean thank you

[2020-05-10 00:49] pfeerick commented on #96636
@ivankravets It looks to be a two-fold issue... recent change in VSCode has exposed an configuration issue in the C/C++ extension. Explained here: https://github.com/microsoft/vscode-cpptools/issues/5388#issuecomment-625275433, with a fix to hide that message due in the next few days: https://github.com/microsoft/vscode-cpptools/issues/5388#issuecomment-626082004

[2020-05-10 00:59] njmalhq commented on #38381
Ditto @stt this issue, and its closed cohorts have been rendering vscode significantly less usable for three years.  Looks like a lot more energy has gone into closing "related" bugs, rather than fixing the problem.

[2020-05-10 01:34] sunliangqin opened #97381 "Redundant conditions specified for keyboard shortcuts"
Issue Type: <b>Bug</b>

I noticed that some keyboard shortcuts have the same condition specified which seems redundant.

![image](https://user-images.githubusercontent.com/211268/81488814-06928e00-9223-11ea-824d-cf78eff99054.png)

![image](https://user-images.githubusercontent.com/211268/81488828-2b870100-9223-11ea-9b79-65af8805e8ed.png)

VS Code version: Code - Insiders 1.46.0-insider (d487078dc7

[2020-05-10 01:36] roblourens commented on #97107
Can you check whether any of the tips in here are relevant? https://github.com/microsoft/vscode/wiki/Search-Issues#missing-search-results

You could also try updating to the just released 1.45

[2020-05-10 01:46] #97352 closed

[2020-05-10 01:46] jli opened #97382 "markdown.preview.breaks doesn't add any extra line breaks"
- VSCode Version: 1.46.0-insider, also 1.45.0
- OS Version: Mac OS X Catalina, also High Sierra

Steps to Reproduce:

1. Turn on `markdown.preview.breaks`
1. Create markdown file with multiple consecutive line breaks somewhere.
1. Open markdown preview.

The settings description for `markdown.preview.breaks`: "Sets how line-breaks are rendered in the markdown preview. Setting it to 'true' creates

[2020-05-10 01:49] roblourens commented on #97068
I guess there are also tablist/tab roles which would be more appropriate https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Tab_Role

[2020-05-10 01:56] roblourens commented on #97273
/duplicate of https://github.com/microsoft/vscode/issues/97192

[2020-05-10 01:56] roblourens commented on #97318
/duplicate of https://github.com/microsoft/vscode/issues/97192

[2020-05-10 01:56] #97318 closed

[2020-05-10 01:56] #97273 closed

[2020-05-10 01:57] roblourens commented on #97340
Can you give some more details about what you see? Is there anything different about the directories?

For a case that doesn't work, please do the following

- Run the command "Set log level" and change it to "Trace"
- Run the search again
- Show the search-related messages in the "Log (Window)" output panel

![image](https://user-images.githubusercontent.com/323878/35987940-02aae15a-0cb2-11e8-83f

[2020-05-10 02:21] omidiu opened #97383 "git ".ignorefile""
Issue Type: <b>Bug</b>

The problem is when I commit file in git and after that want to remove it from tracking in "gitignore" using "git rm --cached <file>" visual studio doesn't show that file Faint again.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|

[2020-05-10 02:23] #92339 closed

[2020-05-10 02:23] #92226 closed

[2020-05-10 02:26] gjsjohnmurray commented on #97378
See https://github.com/microsoft/vscode/issues/60237#issuecomment-428259472

[2020-05-10 02:47] Darshan20J commented on #97355
So now what should i do to fix that issue?

[2020-05-10 03:00] JotaRata opened #97385 "(C#) Folding is disabled when writing code"
Issue Type: <b>Bug</b>

I have a file where I defined many large Dictionaries
Fold every Dictionary to reduce space
Write anything, errors will arise, as the code is not writed completely yet

(example, if you start typing:
public float GetMyFloat(string arg){ ...
A error will popup in the Problems tab, as you haven't defined a return yet)

As soon a problem appears in the Problems tab, every fold

[2020-05-10 03:24] nahuel opened #97387 "add setting to middle click paste on cursor position, not on mouse pointer"
Currently when you use mouse middle click to paste text, the cursor is moved to the mouse pointer location and then the clipboard text is added to the buffer (in Linux at least). It will be nice to make middle click ignore the mouse pointer location, and paste the clipboard text at the current cursor position, just *exactly* as a normal <kbd>Ctrl-V</kbd> paste. A new setting can be added with the

[2020-05-10 04:14] ika-musuko commented on #50984
Hi, I made a PR for this about a month ago. Please take a look when possible. Thank you.

https://github.com/microsoft/vscode/pull/93653

[2020-05-10 04:52] Pangeranmw commented on #60697
@LuamMaul thanks bro it worked.. i just unlock \bin folder using IObit unlocker.. then delete the \bin folder, the last, i click the retry button on the error notifications..

[2020-05-10 05:33] ctsstc opened #97389 "Markdown Preview - Headers with Emojis do not Match Github Linking Strategy"
- VSCode Version: 1.45.0
- OS Version: Windows 10

[code]

Problem: Markdown linking doesn't match with github's link generation strategy when a header contains an emoji.

I would like emojis to be supported. Maybe github needs to change? Maybe they have a decent reason not to? This is the only relevant story I could see to find where they are removing them: https://github.com/thlorenz/anchor-mark

[2020-05-10 05:47] imdeep2905 commented on #97219
[code]

[2020-05-10 06:00] amankkg opened #97390 "GitHub Authentication redirect window says Signing In to null..."
- VSCode Version: 1.45.0
- OS Version: Ubuntu 20.04

**Steps to Reproduce:**

1. Within VSCode trigger GitHub OAuth browser dialog
2. Successfully sign in using GitHub account
3. Observe instructions step #3 as in an attachment

**Actual behavior:**

**Expected behavior:**

**Does this issue occur when all extensions are disabled?** Yes, it is not related to VSCode itself

![Screenshot from 2020-0

[2020-05-10 06:22] coughingmouse commented on #93021
I would say this is a bug as revi initially suggested, not a feature-request. I'd love to know why anyone would think of this as a feature.

[2020-05-10 06:26] bpasero commented on #96862
i am not sure about that reference you mention but if you check the keybindings editor you can see the `Ctrl+W` closes the window when no editor is open:

![image](https://user-images.githubusercontent.com/900690/81492445-f7015c80-9297-11ea-8e81-3269318f6b22.png)

You can configure that.

[2020-05-10 06:29] bpasero commented on #97294
I cannot reproduce when I try with WSL, but something to note is that the paths in the folder picker seems weird, they almost look like windows paths but with slashes. I am not sure about this setup, for me paths show up as unix paths.

[2020-05-10 06:30] #97289 closed

[2020-05-10 06:39] bpasero commented on #97353
@roblourens I cannot reproduce, tried running out of sources and with insiders. Do you reproduce with a new user data dir and no settings/keybindings?

[2020-05-10 06:40] bpasero commented on #97327
@texastoland to clarify, you would like what `Cmd+P` gives your for quick open view? If you press `Cmd+P` and leave `Cmd` hold and press `P` you can navigate in the list and pick on release.

[2020-05-10 06:46] texastoland commented on #97327
I think you heard the opposite of what I attempted to convey. That's a quite unusable pattern. I gave a concrete use case with switching tabs to explain why. In short I want to be able to filter the quick access/quick open/tab switcher views like the command palette.

[2020-05-10 06:50] bpasero commented on #97327
I do not understand your "solution". They are all using the same "quick pick" widget underneath.

[2020-05-10 06:52] texastoland commented on #97327
I mean it doesn't stay open and can't be filtered for me and never has in the case of the tab switcher. I looked at the file but not in depth. I just made the assumption they were different widgets because of the difference in behavior.

[2020-05-10 06:58] bpasero commented on #97327
`Ctrl+Tab` and `Ctrl+Q` as you already figured out use the "quick navigation" modes where the input field is hidden. But there are other commands to get the "normal" mode, e.g. for editors:

[code]

[2020-05-10 07:19] texastoland commented on #97327
Wow you guys think of everything. One small feedback is the various quick navigation modes (file/line/symbol/workspace symbol/editor/view/command) are tricky to discover. A "master" navigation or menu item or even web page would be extra helpful. Thanks so much for the top!

[2020-05-10 07:19] #97327 closed

[2020-05-10 07:19] mrash14 opened #97391 "Unable to debug code"
Issue Type: <b>Bug</b>

Hi, after I update fedora and vscode, when I run debug trow an error in Developer Tool (console) and no more. now I cannot run my code. simple launch of django project. console error is:

ERR timeout after 1000 ms: Error: timeout after 1000 ms
    at t.RawDebugSession.handleErrorResponse (file:///usr/share/code/resources/app/out/vs/workbench/workbench.desktop.main.js:3061:3

[2020-05-10 07:37] texastoland commented on #97327
For anyone who stumble on it I found just adding shift key variations of the bindings helpful:

[code]

[2020-05-10 07:42] mrash14 commented on #97391
problem resolved when I remove my Vitualenv and recreate it. if you show me the real error, it helps me to resolve this problem. The main problem is .so file puthonlib-3.7 is deleted in new fedora 32.

[2020-05-10 07:43] paul-a-byford opened #97392 "VS Code Not Recognising Git Repo"
Issue Type: <b>Bug</b>

After updating to 1.45.0 VS Code is not recognising the git repo, it was working fine before the upgrade.
* The Source Control panel has the message 'The folder currently open  doesn't have a git repository.' and has the initialise repository button
* However if i run `git status` in the integrated terminal I can see the branch that i was on and the status of untracked and

[2020-05-10 07:43] #97391 closed

[2020-05-10 07:44] tumf87 commented on #42149
this would be awesome, especially given the option of splitting terminals side by side.

[2020-05-10 07:50] #97172 closed

[2020-05-10 08:03] Abir-Tx commented on #96893
Yeah after modifying the keybinding it is working now.
Thanks :-)

[2020-05-10 08:28] bpasero opened #97393 "Changes view input box moves up when clicking on a change"
Steps to Reproduce:

1. I am in a multiroot setup, which probably is required for this
2. have 1 change
3. click it

=> 🐛 you see the view move up a bit

![recording](https://user-images.githubusercontent.com/900690/81494406-0341e580-92a9-11ea-9f3c-7a51f0fd5e49.gif)

[2020-05-10 08:31] kashyapharsh opened #97394 "The term 'd' is not recognized as the name of a cmdlet"
We have written the neede
Issue Type: <b>Bug</b>

when i try to run  c or c++ code ,the terminal returns the value as: "the term 'd' isnot recognised as the name of a cmdlet........" sometime, whereas sometime it run successfully.
I am not able to clear out thsi problem, as i m not getting the actual reason of this problem

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 20

[2020-05-10 08:34] aeschli commented on #90799
Closing due to lack of additional information

[2020-05-10 08:34] #90799 closed

[2020-05-10 08:38] aeschli commented on #91168
Closing, no changes planed for now. We have https://github.com/aeschli/typescript-vscode-sh-plugin/issues/14 to track that and when the TypeScript team takes over our code they can reconsider.

[2020-05-10 08:38] #91168 closed

[2020-05-10 08:39] aeschli commented on #92017
duplicate of #12493

[2020-05-10 08:39] #92017 closed

[2020-05-10 08:41] aeschli commented on #90343
We have #47331 to track such a cross language / multi-file support

[2020-05-10 08:41] #90343 closed

[2020-05-10 08:46] #92139 closed

[2020-05-10 08:53] #97392 closed

[2020-05-10 08:53] paul-a-byford commented on #97392
reboot resolved

[2020-05-10 08:56] rajinder-yadav opened #97395 "vscode is not compliant to X Session Management spec."
Issue Type: <b>Bug</b>

VSCode does not save X Session info on Linux, as a result session management is broken.

See: https://bugs.kde.org/show_bug.cgi?id=421035

VS Code version: Code - Insiders 1.43.0-insider (e6a45f4242ebddb7aa9a229f85555e8a3bd987e2, 2020-02-21T05:40:52.685Z)
OS version: Linux x64 5.6.11-1-default

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen

[2020-05-10 08:57] johnfenny commented on #71966
I see there are dozens of other tickets referencing this same issue. I haven't read through all of them so I'm not sure what the status of this bug is, but since this ticket is still open (after a year) and that I'm still experiencing said issues constantly, with the most recent occurrence happening approximately 4 minutes ago, I'm assuming it hasn't been resolved yet. This happens to me all the t

[2020-05-10 08:59] DrDecane commented on #97340
That's the trace it gives me for both a working and not working case somehow. However, in the not working case it obviously does not find any word and does not go to the next match either

![trace](https://user-images.githubusercontent.com/49991315/81494986-2bcbde80-92ad-11ea-8995-0feb77d7c0d6.PNG)

[2020-05-10 09:03] johnfenny commented on #71966
I see there are dozens of other tickets referencing this same issue. I haven't read through all of them so I'm not sure what the status of this bug is, but since this ticket is still open (after a year) and since I'm still experiencing said issues constantly, with the most recent occurrence happening approximately 4 minutes ago, I'm assuming it hasn't been resolved yet. This happens to me all the

[2020-05-10 09:05] sergilazaro commented on #23957
@Jav3k @purduemike That doesn't work when you want to hold ctrl and then "click word > C > click word > V", which is a fast way to select a word, copy it, select a different one, replace it. I can do this in traditional Visual Studio, and I do this really often, but it's pretty annoying that there's zero ways to configure VSCode to do this. I don't want to make this the default behavior, I don't m

[2020-05-10 09:17] EugeneDae commented on #52364
**If any of you use macOS I'd like to invite you to try my new extension:
https://marketplace.visualstudio.com/items?itemName=dae.vscode-mac-color-picker**

![macOS Color Picker](https://github.com/EugeneDae/vscode-mac-color-picker/raw/master/res/how-to.gif)

It invokes the **native** color picker (= built-in into macOS), hence it opens and works fast and the codebase is very tiny. Also, the eyedr

[2020-05-10 09:41] noam-honig commented on #71966
I also run into this issue frequently.
The fix I use is to change the settings as follows:
![image](https://user-images.githubusercontent.com/16635859/81495779-75232a80-92bb-11ea-8928-cea8b35e69db.png)

Disabling Conpty

[2020-05-10 09:45] fsgiudice commented on #13960
+1

[2020-05-10 09:49] fornellas commented on #97276
@deepak1556 downloading and running binaries from domains unrelated to this project seems... fishy. Can you please point me to the source? Perhaps I can build it myself.

PS: `--disable-gpu` does not fix the issue.

[2020-05-10 09:56] tysonite opened #97396 "Can't push changes to Github workflows if VS Code authenticated as OAuth Github app"
Issue Type: <b>Bug</b>

* Authenticate VS Code as OAuth App on Github
* Modify `.github/workflows/<any_file>`
* Commit & Push

Error will appear:
[code]

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 4.4.0-18362-Microsoft

<details>
<summary>System Info</summary>

|Item|Value|
|--

[2020-05-10 09:56] mihael-stormrage opened #97397 "Debugger links to lines are broken"
- VSCode Version: 1.45.0
- OS Version: Windows_NT x64 10.0.18363

When I'm getting an error in code interpretator tells in which file, line and on which symbol it is. And it gives me a link like "file:///file:line:symbol", but when I'm trying to follow it I'm getting an error "Unable to open 'file.js:19:23' ":
![image](https://user-images.githubusercontent.com/54357100/81495796-24bcc480-92dd-11ea-

[2020-05-10 10:05] lc150303 opened #97398 "javascript optional chain completions"
Issue Type: <b>Bug</b>

After disable the javascript.suggest.includeAutomaticOptionalChainCompletions, and have an object A with declared type { B?: {C: 0} }. when I typed A.B.C,  it will be auto replaced by A.B?.C, but in js file the '?.' operator should not exist.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18

[2020-05-10 10:54] daniel-liuzzi commented on #96862
Oh, I see it now. By default, both Ctrl+W and Ctrl+F4 bind to `View: Close Editor`, but Ctrl+W happens to also bind to `Close Window` (whereas Ctrl+F4 does not.) I wasn't even aware a single shortcut could bind to multiple commands. Thanks for clarifying this!

[2020-05-10 10:57] hediet opened #97399 "Extension Development: ensure package.json contributions match the implementation"
When developing extensions for VS Code, a lot of string keys are used. These keys are usually defined in the contribution section of a `package.json` and must match the keys used in the code to register the implementation. It is very easy to rename one part and forgetting the other.

# Example
*package.json*
[code]

*extension.ts*
[code]

# Problem
All `hediet.vscode-drawio` strings have to match.

[2020-05-10 10:59] wangbh0722 commented on #85845
The same problem here. [#91525](https://github.com/microsoft/vscode/issues/91525)

[2020-05-10 11:00] HydrIoner opened #97400 "卡死"
- VSCode Version:1.44.2
ff915844119ce9485abfe8aa9076ec76b5300ddd
x64
- OS Version:Windows10 19619.1000

Steps to Reproduce:

1. New terminal several times
2. Delete Terminal
3. Dead

Does this issue occur when all extensions are disabled?: Yes/No

[2020-05-10 11:05] Jet132 opened #97401 "Semantic highlighting - Used variable marked as unused"
Issue Type: <b>Bug</b>

Since version 1.45 a lot of class attributes in TypeScript get marked as unused, even though they are used.
![image](https://user-images.githubusercontent.com/37117573/81497408-a3563980-92be-11ea-9b35-5aa91e38f445.png)
I haven't tested this with JS, but I can clearly see that it only appears after the TSServer has finished loading.

VS Code version: Code - Insiders 1.46.0-i

[2020-05-10 11:12] nazariyv opened #97402 ""Taller" debug console input line + ability to move it to the top of the debug console"
How difficult is to move the debug console line to the top and make it a bit larger?

Currently it is very "short" line at the bottom of the screen.

<img width="518" alt="Screenshot 2020-05-10 at 12 11 38" src="https://user-images.githubusercontent.com/13678461/81497605-705c7780-92b7-11ea-9243-0a52b7961e63.png">

[2020-05-10 11:21] cybarspace commented on #97230
Ok, found a "hacky" fix.

1. Install the [multi-command](https://marketplace.visualstudio.com/items?itemName=ryuta46.multi-command) extension.

2. Install the [Shortcuts](https://marketplace.visualstudio.com/items?itemName=gizak.shortcuts) extension.

3. Edit settings.json to add the following lines :
[code]
4. Restart VS Code.

This adds a triangle-up icon to the status bar which does stage, comm

[2020-05-10 11:23] #85133 closed

[2020-05-10 11:23] #82134 closed

[2020-05-10 11:24] #77756 closed

[2020-05-10 11:31] csrapr opened #97403 "VSCode updated automatically and closed all windows"
my vscode force closed for an update and I lost 14 hours of DL training
DON'T DO THAT AGAIN
thank you.

[2020-05-10 11:45] haakonstorm commented on #30793
Bump

[2020-05-10 12:11] scriptingstudio opened #97404 "Powershell syntax highlighting"
Powershell methods `foreach` and `where` are not highlighted after curly bracket. With parenthesis it works fine.

Example code:
`@($group).where{$_.count -gt 1 -and $_.name}.foreach{...}`
"where" is highlighted.
"foreach" is not highlighted.

It does not depend on powershell ext. I use the latest vscode.

[2020-05-10 12:32] raykle opened #97405 "The terminal CWD does not exist"
![image](https://user-images.githubusercontent.com/3097366/81499211-6446d900-92fc-11ea-8b58-83acaa1ef053.png)

- VSCode Version:
[code]

- OS Version:
[code]

Steps to Reproduce:

1. In the integrated terminal, cd to a folder whose name contains _Chiness_ like `测试`.
2. Click the button `Split Terminal`, it fails and alerts a message like the screenshot above.
[code]

Does this issue occur when all

[2020-05-10 12:36] pavel-a commented on #97310
Hi Matt
Very simple. I open a md file with several subheaders, like:

## Part 1
blah blah 1

## Part 2
blah blah
.... etc

Then I open preview and double click on Part2 header or text below it.
Code immediately activates the .md document, but it does not navigate anywhere close to Part 2.

In the opposite direction this works fine: when I right click on .md tab title and select Preview, it navigat

[2020-05-10 12:57] Tyriar commented on #97276
@fornellas that's our release server where all automatic and manually downloaded updates are served from.

[2020-05-10 13:09] elspnm commented on #97355
Uninstall VS Code fully > delete .vscode and Code folder then install the user setup not the system setup file. Then install the live server. It works fine in both win 7 and 10 with latest chrome v81.

Try and reply.

[2020-05-10 13:45] rajatsingh25aug opened #97406 "Please add an option to disable warnings from simplifycompositelit"
I keep on getting warnings like this `redundant type from array, slice, or map composite literalsimplifycompositelit`.

The point is that I write the code explicitly that way and I don't know how to disable this warning.
<img width="1679" alt="Screenshot 2020-05-10 at 7 13 11 PM" src="https://user-images.githubusercontent.com/17253992/81500853-7ae83280-92f2-11ea-9265-29e5278d77f4.png">
Please writ

[2020-05-10 13:56] janwilmans commented on #92339
@jrieken while I think this is a great way to handle feature requests, isn't this really a bug?
The files _are_ being saved, the 'format on save' is enabled, and its not formatting on save?!

[2020-05-10 14:01] alefragnani opened #97407 "Setting to display (true/false) author name in Timeline"
First of all, I would like to congratulate you for the new Timeline view. It's a great feature 👏 .

Having said that, I would like to ask for a **setting** to choose whether the Author name should be displayed or not, on each entry.

I would give three scenarios which I find a setting would be a good idea:

* **Personal projects**: When you deal with personal projects (like I do a lot in my spare

[2020-05-10 14:16] DanTup opened #97408 ""New folder" in tree context menu doesn't give focus to the tree if it was with another app"
I seem to hit this quite a lot (even though it seems quite contrived!):

- Open two separate VS Code windows
- Put focus into the first VS Code window (in an editor)
- Without focusing the second VS Code window, right-click on its Explorer tree and pick "New Folder"

The explorer will add a new node to the tree, however it never gives focus to this VS Code window, so when you start typing, the tex

[2020-05-10 14:59] icavalheiro commented on #96886
Hi @jrieken ,

After running the command I got an empty output... This let me think my git might had a bug or something... Checking git version I realized I was running the **2.9.0.windows.1**, and this is not the latest version, updating to the **2.26.2.windows.1** and restarting _vscode_ fixed the issue.
This might have been a bug with GIT or something...
Closing.

[2020-05-10 14:59] #96886 closed

[2020-05-10 15:19] Bynsu opened #97409 "No semantic highlighting in HoverProvider code blocks"
- VSCode Version: 1.46.0-insider
- OS Version: Windows 10.0.17763 x64

Steps to Reproduce:

1. Write an extension that uses HoverProvider
2. In provideHover, use MarkdownString.appendCodeblock to append code block in any language with semantic tokens support
3. When hovering, code block semantic tokens will remain with default colors instead of being highlit appropriately.

Does this issue occur w

[2020-05-10 15:30] xackus commented on #97013
I am affected by this when debugging a C++ program on a machine in my local network.
I haven't encountered any other timing issues.

[2020-05-10 15:32] rioj7 opened #97410 "vscode.d.ts: return value of TextEditor.edit and TextEditor.insertSnippet - Promise or Thenable"
- VSCode Version: 1.44.2

Snip from `vscode.d.ts`
[code]

The `@return` says it returns a Promise but the type description says a `Thenable`.

Which one is correct?

[2020-05-10 16:12] benlowry opened #97411 "Provide different sorting for "Source control providers" view"
When working in a folder that has multiple repositories, like a folder containing a Github org's projects, there are two features that would improve the UI:

- ~~allow the box containing the repositories to resize, it's fixed at the moment with space for 10 repositories after that you have to scroll~~
- sort the repositories by name, this has been mentioned #42850 but nothing happened and the curr

[2020-05-10 16:26] sanket-bhalerao commented on #54638
i would love to see code navigation for scss files

[2020-05-10 16:31] tollvam opened #97412 "VSC terminal doesn't have same authorisation than os terminal"
- VSCode Version: 1.45
- OS Version: macOs Mojave 10.14.6
- Python version (& distribution if applicable, e.g. Anaconda): 3.7.4
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): 'anaconda 3' virtualenv

Expected behaviour:
Having the authorisation for the VSC terminal (bash) to control Excel via xlwings library, as it's possible when it's done directly in the os terminal

[2020-05-10 16:37] kanlukasz opened #97413 "code-icon.svg - net::ERR_FILE_NOT_FOUND"
Env:
[code]

**Steps to Reproduce:**

1. Open VSCode
2. Run Help -> Release Note

![obraz](https://user-images.githubusercontent.com/30685349/81504981-b41da400-92ec-11ea-8c8f-568cf090c4c9.png)

**Does this issue occur when all extensions are disabled?:**
To be honest I haven't checked (sorry) but I think it has nothing to do with extensions.

[2020-05-10 17:19] jonathan-meyer commented on #97233
I found a work around.

Uninstall 1.45 and install 1.44

[2020-05-10 17:23] jonathan-meyer commented on #97199
here are screen shots from my VSCODE

https://github.com/microsoft/vscode/issues/97233

[2020-05-10 17:53] uniqeorn commented on #97413
The first time in the new update I have been trying out my phone

[2020-05-10 18:11] mjbvz commented on #97398
Please share a complete code example

[2020-05-10 18:11] xiaoxiangmoe opened #97415 "Support fold regions for lambda without block"
[code]

This TypeScript code can't fold unless we change all `x=>y` to `x=>{ return y; }`

[2020-05-10 18:19] chaitanyajikomaragiri opened #97416 "cannot able to install c/c++ header files"
Issue Type: <b>Performance Issue</b>

Sir
Recently I downloaded visual studio code . I am new to this , I facing a problem to download the header files . Please help me to download

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2020-05-10 18:23] rayfoss opened #97417 "ampersand in regex search buggy [\d-&]"
- VSCode Version: 1.45.0
- OS Version: Windows 10

Steps to Reproduce:

1.type & into a document
2.search for it with regex `[\d-&]`

This is valid JavaScript regex, but vscode flags it as invalid syntax. Range out of order in character class

Does this issue occur when all extensions are disabled?: Yes/No

[2020-05-10 18:24] vamfish opened #97418 "Cannot install some extensions in WSL"
1. I export an Windows Subsystem Linux (WSL) of Ubuntu18.04 on another PC (OS Version: 18363.720 with wsl 1) as a "tar" file
2. Then I import the "tar" file into this PC (OS Version: 19041.208 with wsl 2)
3. I delete the origin `.vscode-server`  under my \home, then run the command `code` to reinstall the server of vscode
4. Open the VS Code in Windows, then try to install some extensions into WSL

[2020-05-10 18:28] pcgeek86 opened #97419 "VSCode Terminal Hangs when calling SSH command line from debugger"
- VSCode Version: 1.44.2
- OS Version: Windows 10 1909

Steps to Reproduce:

1. Install PowerShell extension for VSCode
2. Create and run a PowerShell script, containing an SSH command

Does this issue occur when all extensions are disabled?: Impossible to test, as the debugger wouldn't be available unless the PowerShell extension is installed.

[code]

[2020-05-10 18:33] rayfoss commented on #97417
Looks like browser JavaScript is wrong and the regex engine in vscode is right

[2020-05-10 19:02] akbyrd opened #97420 "Application frequently stalling for ~10 seconds"
Issue Type: <b>Bug</b>

I've been periodically encountering an issue where VS Code hangs for about 10 seconds after every action I perform. This includes modifying text, opening menu bar, and saving a file.

When this happens, one of the child processes is pegging on of my CPU cores at 100%. This is the command line for the sub process (excuse typos, I couldn't find a way to copy this and had to t

[2020-05-10 19:06] soulshined opened #97421 "Context Menu Should Follow Access Key conventions"
Please include a way to access the context menu items with access keys.

Currently, I can't find a way to enable access key shortcuts for the contextual menu, you have to either memorize all the shortcuts (kind hard to do now that there are so many extensions adding their own, but that's a good problem to have I think 😏) or arrow up/down to the respective item.

This probably isn't a problem for p

[2020-05-10 19:07] #95908 closed

[2020-05-10 19:18] the-ress commented on #45543
/duplicate #66750

[2020-05-10 19:26] tylertownsend opened #97422 "Debian package for Code-Insiders is not disabling hardware acceleration."
- VSCode Version: 1.46-insider
- OS Version: Linux x64 4.15.0-99-generic (Ubuntu 18.04.04 LTS)

Steps to Reproduce:

1. Open Insiders
2. Install Synthwave84 extension (v0.1.5)
3. Open argv.json and set `"disable-hardware-acceleration": true`
4. Close out of VSCode-Insiders and reopen.

Does this issue occur when all extensions are disabled?: No

Notes
 - There seems to be a bit of latency with ext

[2020-05-10 19:39] oli06 opened #97423 "Messed up Debugger using Python"
- VSCode Version: 1.45.0
- OS Version: macOS Catalina

I use vscode to write and debug python scrapy (webcrawler) code. Sometimes the debugger messes up totally. Running lines of code one or two steps later or crash the python interpreter with errors that make no sense at all.

The interesting thing is that if i use `print("foo")` the debugger works fine again. If I remove the print() the debugger

[2020-05-10 19:42] fornellas commented on #97276
@deepak1556 confirmed your exploration build fixes the issue. FYI, it can be repro at VirtualBox + fresh Ubuntu as well.

This issue is more noticeable with dark themes, but it is still fairly noticeable with white themes. It seems the root cause is that drawing a simple drop down menu is taking a **humongous** amount of time, during which, the area is white.

My machine runs Chrome just fine ("sa

[2020-05-10 20:05] xZTylerxZ1 opened #97424 "OneDrive File Read"
Issue Type: <b>Bug</b>

When accessing files in OneDrive it produces the error of cannot read even though you can open a folder.

1) Have a file in OneDrive with a regular js file inside
2) Open the folder in OneDrive through VS Code
3) Attempt to open the JS file in VS Code

This does not allow me to read any of the files. It should allow me to read/write.

VS Code version: Code 1.45.0 (d69a79b73

[2020-05-10 20:10] #97424 closed

[2020-05-10 20:13] lusicsmusics opened #97425 "still your platform is not genius why"

[2020-05-10 20:14] the-ress commented on #43302
I don't think it's a bug. It's just what SmartScreen does. It's being extra cautious and runs the check before any action - including the built-in Edit command. Then it starts the editor (even though the SmartScreen wording might suggest it runs the script).

![b9019d36-b68f-447c-a109-1bfe64328c84](https://user-images.githubusercontent.com/1612377/81509425-de7e5a00-930a-11ea-8863-6e78e279283c.gif)

[2020-05-10 20:22] klesun commented on #97355
@elspnm I have same issue with other random [vscode-phpstan](https://marketplace.visualstudio.com/items?itemName=calsmurf2904.vscode-phpstan) extension. I tried uninstalling vscode and removing `/c/Users/User/.vscode`, then installing the "Insiders" build: `v1.46.0-insider` dated `2020-05-07` and the issue does not seem to be fixed there yet.

![image](https://user-images.githubusercontent.com/520

[2020-05-10 20:42] nschonni opened #97427 "Terminal links includes trailing brace for braced hyperlinks"
Issue Type: <b>Bug</b>

Installing from nodejs/nodejs.dev, there is a warnin around @babel/polyfill.
[code]
The autolint in the terminal highlights `https://babeljs.io/docs/en/babel-polyfill)` including the trailing `)`, making the link fail

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>S

[2020-05-10 20:58] juanmbraga commented on #97169
Yes @rebornix, issue #519 does involve this in a way, but wouldn't this be slightly different in the sense that it is a request for either a change in the entire interface (unlikely) or a switch to activate a more touch friendly UI?
If, however, this feature request is deemed to be redundant in relation to issue #519 , I am ok with it being closed.

[2020-05-10 21:01] roblourens commented on #97340
Are you sure that case sensitive search mode is not toggled on?

[2020-05-10 21:20] Xumochuan commented on #97035
Hi, @alexdima
Great.
There were 2 shortcuts about "go to file..."

![image](https://user-images.githubusercontent.com/47884397/81510782-13a89d80-9347-11ea-9da8-00b9b18b8b72.png)

Ctrl+E is working.
Thanks

[2020-05-10 21:20] #97035 closed

[2020-05-10 21:25] barroudjo opened #97428 "intellisense not giving the right suggestions with lodash pick"
- VSCode Version: 1.45.0
- OS Version: win10 1903

Steps to Reproduce:

1.Copy paste the following code
[code]
2. If you try to use intellisense on the variables intellisenseNotWorkingRight you will see that only `tata` is proposed (as well as `Enum`, which is wrong), but not `toto`. However the type is shown as right: both variables are of type `Pick<Foo, Enum.toto | Enum.tata>`. So there is some

[2020-05-10 21:30] inazarenko opened #97429 "Markdown in hover widget rendered poorly"
Issue Type: <b>Feature Request</b>

Some extensions use markdown in the text they provide for the hover-over widget for identifiers. E.g. vscode-clangd produced the following example:

[code]

The hover widget uses editor font size (in my case, 18) for the entire contents of the widget. However, it only sets the editor font (in my case, Consolas) for the code fragment in the last section. The firs

[2020-05-10 21:50] infixint943 opened #97430 "Inserting code snippet causes auto scroll to placeholder / top line of snippet"
Issue Type: <b>Bug</b>

Like what the heading says, inserting a code snippet anywhere in the code file causes an autoscroll. This is a slight inconvenience, as while inserting snippets, viewing code above it is desirable, causing us to rescroll into view. So adding an option to revert to the functionality in the stable release would be preferred

VS Code version: Code - Insiders 1.46.0-insider (d4

[2020-05-10 22:45] rauenzi commented on #97373
This seems to be part of the new update https://code.visualstudio.com/updates/v1_45#_new-color-for-constants-in-the-default-dark-theme

However I wish they also provided a way to revert the change in that changelog because it makes it impossible to distinguish for me as well.

[2020-05-10 23:02] deepak1556 commented on #97276
Thanks for testing, VSCode is not responsible for drawing the menus, the issue stems from electron and it is being tracked under https://github.com/electron/electron/issues/18184

However, I am able to repro the issue with exploration build on my parallels vm. I haven't investigated this issue further.

You can workaround with `"window.titleBarStyle": "custom"` for now, the runtime in exploration

[2020-05-10 23:02] #97276 closed

[2020-05-10 23:14] deepak1556 commented on #95190
@JHaller27  would be good to check if our exploration build that has Electron 8 runtime fixes the issue https://github.com/microsoft/vscode/issues/94074#issuecomment-607079209

@Shindanaide the menubar issue is tracked under https://github.com/microsoft/vscode/issues/80798 , please follow that for updates. Thanks!

[2020-05-10 23:41] rushvora opened #97431 "Breakpoint Section Not Expandable After Collapsing/Expanding Other Sections in Run & Debug Menu"
- VSCode Version: 1.46.0-insider & 1.45.0
- OS Version: macOS Catalina 10.15.4

Steps to Reproduce:

1. Add tons of breakpoints to make the scrollbar appear. When added, the breakpoint section is draggable.
2. Now collapse/expand the other sections (Variables, Watch, Call Stack, Run). The breakpoints section is no longer draggable.
3. At this point, adding another breakpoint immediately makes it d

[2020-05-10 23:45] #95168 closed

[2020-05-10 23:51] kieferrm opened #97432 "Iteration Plan for May 2020"
This plan captures our work in **May**. We will ship in **early June**. This is a ~~4-week~~ 5-week iteration. (We extended the iteration by one week on 05/18/2020.)

## Endgame
- **June 1st, 2020**: Endgame begins
- **June 5th, 2020**: Endgame done

The endgame details for this iteration are tracked in https://github.com/microsoft/vscode/issues/98811.

## Plan Items
Below is a summary of the top

[2020-05-11 00:05] TeamNewBorn opened #97433 "code is not highlighted"
Issue Type: <b>Performance Issue</b>

I have a problem, I have seen several videos before downloading the program and one of the things that attracted me was the colors in the codes, but when I download it this function does not appear, any solution?

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18362

<details>
<

[2020-05-11 00:06] lc150303 commented on #97398
I have a jsconfig.json with
[code]
and the setting is `"javascript.suggest.includeAutomaticOptionalChainCompletions": false`, and the code is
[code]
the '?' was inserted after i typed `a.b.c;`.

[2020-05-11 00:07] lc150303 commented on #97398
@mjbvz
as above

[2020-05-11 00:24] TheSpyder opened #97434 "Github authentication fails with "certificate has expired""
Issue Type: <b>Bug</b>

1. open a repository that requires github authentication
2. trigger a command such as `git pull` to trigger authentication
3. accept in the browser, which returns back to vscode (happens both when I allow the URL scheme and when I copy/paste the token into the "signing into" prompt)
4. I see `Error: certificate has expired`.

The github authentication output doesn't say muc

[2020-05-11 00:41] thiagomota456 commented on #97107
Thanks. My problem is in the .gitignore

[2020-05-11 00:41] #97107 closed

[2020-05-11 00:43] finite-light commented on #91817
Yes, I also encountered this problem, the bright flashing line looks like the bottom status bar of tmux，anyway, there is not much inconvenience now for me :)

[2020-05-11 01:11] lucky-wolf commented on #97270
Thanks, I check it out and leave a response tomorrow.

[2020-05-11 01:14] matthewkwong2 commented on #97199
Yep, this is a working workaround, at least for now.

[2020-05-11 01:30] HydrIoner commented on #97400
`fanyi.baidu.com`

[2020-05-11 02:06] da-art85 commented on #519
✳️https://github.com/Microsoft/vscode/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Abug==CoC__https://github.com/microsoft/vscode/blob/master/CONTRIBUTING.md💯🦸‍♀️

[2020-05-11 02:07] SliverYuki commented on #94614
Why not consider providing file type(or language) configuration？Just like [Auto Rename Tag](https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-rename-tag)
![image](https://user-images.githubusercontent.com/19161689/81517980-2cc54480-936f-11ea-8901-0b2f16d2e18e.png)

[2020-05-11 02:31] Dan503 commented on #97199
The file location for me (Windows 10 default install location) was here:
[code]

And yes it works! Removing lines 7 and 8 from that file fixed the issue for me :D

[2020-05-11 02:32] Daiyichen opened #97435 "升级到1.45.0版本，网络有代理，输入账号、密码登不成功"
升级到1.45.0版本，网络有代理，输入账号、密码登不成功

[2020-05-11 02:33] elspnm commented on #97355
Have you tried to run the VSCode in compatibility mode (win7) . In win 7 there is no issue at all.
But when it comes to win10 lot of issue for different people. Ofcourse this extension needs to fix those bugs.

[2020-05-11 02:42] jshaolin opened #97436 "Objects properties in React Native are all suffixed with a '?'"
- VSCode Version: 1.45.0
- OS Version: Windows 10 Home Edition 1809

- Dump from VS Code About:
Version: 1.45.0 (user setup)
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:18:48.860Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Just upgrade to 1.45.0
2. Create a stylesheet using StyleShe

[2020-05-11 02:52] God512 commented on #97435
I also find this problem after upgrading to 1.45.0.

In previous version, after launching vs code, a window is popped. In this window, I can input username and password for authentication of proxy and press `OK` button. And then this window is closed. vs code can connect to internet via proxy.
But for 1.45.0, I also can get this window, but window isn't closed after input username/password and  pr

[2020-05-11 02:54] connor4312 commented on #93115
I ended up making a small library with my variables boilerplate -- along with a codegen script that extracts and enumerates all the theme variables from the vscode repo: https://github.com/connor4312/vscode-webview-tools

[2020-05-11 03:07] johnzjq opened #97437 "Drag tab to start a new window"
Issue Type: <b>Feature Request</b>

As a developer, I would like to drag a tab to anywhere out of the focus of vscode to start a new window, so that I could be able to move the new window to another virtual desktop

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

[2020-05-11 03:09] Moeyoo commented on #60877
This problem is very annoying. I have to press "**space backspace enter**" to skip autocomplete instead of just an "enter" to execute a single command. It makes debug console almost unusable. Please fix this bug.

[2020-05-11 03:18] TobiSchluter commented on #43302
Interesting didn't notice that, probably i just used less on a command line to view the batch file.

So it's a UI bug ("issue") in Windows. It's  kind of self-defeating if SmartScreen makes you believe that you're about to execute a file when you're trying to look at it in order to decide whether to execute it.

I'm leaving this open, as there may be a way to register "Open with Code" with the Exp

[2020-05-11 03:29] vamfish commented on #97418
Update:
After a few hours, I tried again. And ALL extensions installed into WSL successfully.

[2020-05-11 03:29] #97418 closed

[2020-05-11 03:29] jeanp413 commented on #97010
Duplicate of #96726
Also created #97438 that fixes it

[2020-05-11 03:31] Moeyoo opened #97439 "Disable autocomplete with enter in debug console"
- VSCode Version: 1.44.2
- OS Version: Windows 10

### Please reopen issue https://github.com/microsoft/vscode/issues/45156
**This bug affects multiple OS and multi languages. It makes debug console almost unusable. Please consider fix it.**

#### Other reports:
https://github.com/Microsoft/vscode/issues/60877
https://github.com/microsoft/vscode-python/issues/7113

[2020-05-11 03:50] gegertyson1314 commented on #97435
Our company also encountered such problems. Now we can't work normally.

[2020-05-11 04:09] bzarco commented on #96522
I just found this as I was writing a bug for #97440. The issue also happens for single root workspace files. Adding "inputs" in the workspace folder .vscode/launch.json does indeed work, as resolution defaults to reading there regardless of the config's source (more info in #97440).

[2020-05-11 04:30] shamarin commented on #97199
I couldn't find such code in my auth.html file. I have "<meta http-equiv="Content-Security-Policy"
		content="default-src 'none'; img-src 'self' https: data:; media-src 'none'; child-src 'self'; object-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; connect-src 'self' https:; font-src 'self' https:;">" on line 7 and 8

[2020-05-11 04:53] aditya237 commented on #96264
heyy

[2020-05-11 05:11] sungle3737 opened #97442 "Intuitive terminal keybindings with sendSequence"
### My current custom keybindings
[code]
These work well with 1.45 update (integrated terminal update)

[Reference](https://code.visualstudio.com/docs/editor/integrated-terminal#_send-text-from-a-keybinding) - but I need more Information

I want to use **'ijkl'** keys like **'wasd'** gaming standard like my custom project [intuiter](https://github.com/sungle3737/intuiter)

### So My Idea is
- Can

[2020-05-11 05:14] NoahSchelling commented on #97199
Same issue, and improved.
(environment)
Windows10 1909 64bit
Visual Studio Code 1.45.0 (system setup)

The target is
"C:\Program Files\Microsoft VS Code\resources\app\out\vs\code\electron-browser\proxy\auth.html"
Comment out lines 7 and 8
	meta http-equiv="Content-Security-Policy"
		content="default-src 'none'; img-src 'self' https: data:; media-src 'none'; child-src 'self'; object-src 'self'; scr

[2020-05-11 05:16] texastoland opened #97443 "Restore preferences from remote backups"
I accidentally rimrafed my `.vscode-insiders` directory with all my extensions. I found the backup but I can't do anything with it. There's no restore button, context menu item, action in the command palette, mention in the [official doc](https://code.visualstudio.com/docs/editor/settings-sync), or previous issues here. The CLI can't even consume the JSON file. I'm going write something with grep

[2020-05-11 05:27] kanlukasz commented on #97437
Sounds like https://github.com/microsoft/vscode/issues/10121

[2020-05-11 05:28] usernamehw commented on #97442
/assign Tyriar

[2020-05-11 05:29] usernamehw commented on #97439
/assign isidorn

[2020-05-11 05:31] usernamehw commented on #97436
It means optional properties.

[2020-05-11 05:38] yoohahn commented on #97373
Same for TypeScript. Really poor choice of color here from the team.
Would love to disable this change or at least be able to override the color.

[2020-05-11 05:41] usernamehw commented on #97431
/assign isidorn

[2020-05-11 05:43] usernamehw commented on #97425
/question

[2020-05-11 05:44] #97425 closed

[2020-05-11 05:49] shamarin commented on #97199
Confirm, commenting those lines solve the problem.

[2020-05-11 05:52] doronAtuar opened #97444 "Copying a long value from debug watch results in pasting partial value"
- Version: 1.45.0
- Commit: d69a79b73808559a91206d73d7717ff5f798f23c
- Date: 2020-05-07T15:57:33.467Z
- Electron: 7.2.4
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- OS: Darwin x64 18.7.0

For me it reproduced with C++
But it probably occurs in other languages as well, haven't verified that.

Steps to Reproduce:
1. Start a debugging session
2. add an expression that has a

[2020-05-11 05:56] deepak1556 commented on #97199
@quyleanh by default VSCode will respect system proxy settings. But based on the logs I saw in this issue, proxy settings are mostly set over PAC and they are configured for basic auth, VSCode has no choice but to explicitly request the credentials. The authenticated proxy connection will be valid in an open VSCode session as long as the Proxy server allows it, but once you close and reopen VSCode

[2020-05-11 06:01] vscodeerrors opened #97445 "Cannot read property 'important' of undefined"
Issue Id: <b>febf4b17-7afa-11a3-927f-72d7c28583a0</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />TypeError: Cannot read property 'important' of undefined<br />[/vs/workbench/contrib/extensions/browser/configBasedRecommendations.ts#57:12 ([object Object])](https://github.com/microsoft/vscode/blob/d69a79b73808559a91206d73d7717ff5f798f23c/src/vs/workbench/contrib/extensions/browser/confi

[2020-05-11 06:02] vscodeerrors opened #97446 "Capabilities for imagePreview.previewEditor already set"
Issue Id: <b>313b7387-2f9b-19d3-4eae-e942e4f9586b</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />Error: Capabilities for imagePreview.previewEditor already set<br />[/vs/workbench/contrib/customEditor/browser/customEditors.ts#277:9 (registerCustomEditorCapabilities)](https://github.com/microsoft/vscode/blob/d69a79b73808559a91206d73d7717ff5f798f23c/src/vs/workbench/contrib/customEditor

[2020-05-11 06:02] feeva commented on #97237
Note, Ctrl + click on Welcome page works well. (at least Windows 10 for me)

[2020-05-11 06:02] bpasero commented on #97446
Similar:

[code]

[2020-05-11 06:04] vscodeerrors opened #97447 "Cannot read property 'getViewLineMinColumn' of undefined"
Issue Id: <b>944278ba-3246-b297-75af-3635bd66595e</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />TypeError: Cannot read property 'getViewLineMinColumn' of undefined<br />[/vs/editor/common/viewModel/splitLinesCollection.ts#770:31 (getViewLineMinColumn)](https://github.com/microsoft/vscode/blob/d69a79b73808559a91206d73d7717ff5f798f23c/src/vs/editor/common/viewModel/splitLinesCollection

[2020-05-11 06:04] vscodeerrors opened #97448 "Cannot read property 'length' of undefined"
Issue Id: <b>5ac98425-8dbf-468c-f74e-c36bcc1347fb</b><br /><br />*Versions* <br />- 1.45.0<br />-  d4b8ec9da3bf1061a948fbb1b0d9d3db750cc79f<br />-  ece7aaee861d7261a728d52ce436c667030ce17d<br />-  fd5d9a30259bb2bebab3e62dfd8315c2e1b27744<br />-  829230a5a83768a3494ebbc61144e7cde9105c73<br />*Stack* <br />TypeError: Cannot read property 'length' of undefined<br />[/vs/editor/contrib/parameterHints/

[2020-05-11 06:04] vscodeerrors opened #97449 "Cannot read property 'getModelColumnOfViewPosition' of undefined"
Issue Id: <b>0ea181d1-0d98-457f-645a-79a45f46e8a1</b><br /><br />*Versions* <br />- 1.45.0<br />-  d4b8ec9da3bf1061a948fbb1b0d9d3db750cc79f<br />-  fd5d9a30259bb2bebab3e62dfd8315c2e1b27744<br />-  ece7aaee861d7261a728d52ce436c667030ce17d<br />-  a0fe37870c42e0704a492cdc6b8550b4cf23f63c<br />*Stack* <br />TypeError: Cannot read property 'getModelColumnOfViewPosition' of undefined<br />[/vs/editor/c

[2020-05-11 06:05] vscodeerrors opened #97450 "Cannot read property '_placeholderDecorations' of undefined"
Issue Id: <b>cd89b5bc-cbb4-ea64-a55e-858b525be78f</b><br /><br />*Versions* <br />- 1.45.0<br />-  ece7aaee861d7261a728d52ce436c667030ce17d<br />-  829230a5a83768a3494ebbc61144e7cde9105c73<br />-  fd5d9a30259bb2bebab3e62dfd8315c2e1b27744<br />-  d4b8ec9da3bf1061a948fbb1b0d9d3db750cc79f<br />-  a0fe37870c42e0704a492cdc6b8550b4cf23f63c<br />*Stack* <br />TypeError: Cannot read property '_placeholder

[2020-05-11 06:05] vscodeerrors opened #97451 "Cannot read property 'startLineNumber' of undefined"
Issue Id: <b>7a80640b-3b2e-d7d7-a3ab-e2f49e302e9a</b><br /><br />*Versions* <br />- 1.45.0<br />-  ece7aaee861d7261a728d52ce436c667030ce17d<br />*Stack* <br />TypeError: Cannot read property 'startLineNumber' of undefined<br />[/vs/editor/common/core/range.ts#323:25 (collapseToStart)](https://github.com/microsoft/vscode/blob/d69a79b73808559a91206d73d7717ff5f798f23c/src/vs/editor/common/core/range.

[2020-05-11 06:05] vscodeerrors opened #97452 "Cannot read property 'templateData' of null"
Issue Id: <b>68bafaaf-314b-72c5-33ee-e626d1c2161a</b><br /><br />*Versions* <br />- 1.45.0<br />-  d4b8ec9da3bf1061a948fbb1b0d9d3db750cc79f<br />-  ece7aaee861d7261a728d52ce436c667030ce17d<br />-  fd5d9a30259bb2bebab3e62dfd8315c2e1b27744<br />-  4bd206856db30c27d38aa0f1fbe74bac6156edc7<br />-  abb4a35cfc26102f93fd00df7b59ce1a19c2017a<br />-  a0fe37870c42e0704a492cdc6b8550b4cf23f63c<br />*Stack* <b

[2020-05-11 06:06] vscodeerrors opened #97453 "Uncaught Error: Cannot read property 'reprocess' of undefined"
Issue Id: <b>062d2ec3-7ca8-2a57-9c42-a30f669cd58f</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />Error: Cannot read property 'reprocess' of undefined<br /><br />TypeError: Cannot read property 'reprocess' of undefined<br />[/vs/workbench/services/configuration/browser/configurationService.ts#506:114 (onDefaultConfigurationChanged)](https://github.com/microsoft/vscode/blob/d69a79b73808

[2020-05-11 06:06] vscodeerrors opened #97454 "Cannot read property 'createOnigString' of undefined"
Issue Id: <b>268e0e4b-cd04-d2ab-01d0-2d55c0c80a55</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />TypeError: Cannot read property 'createOnigString' of undefined<br />    at Grammar.createOnigString (\node_modules.asar\vscode-textmate\release\main.js:2601:30)<br />    at Grammar._tokenize (\node_modules.asar\vscode-textmate\release\main.js:2697:33)<br />    at Grammar.tokenizeLine2 (\n

[2020-05-11 06:06] vscodeerrors opened #97455 "Maximum call stack size exceeded"
Issue Id: <b>eff483a6-8894-7eb2-4707-c05c52f0a5b9</b><br /><br />*Versions* <br />- 1.45.0<br />-  a0fe37870c42e0704a492cdc6b8550b4cf23f63c<br />-  abb4a35cfc26102f93fd00df7b59ce1a19c2017a<br />-  fd5d9a30259bb2bebab3e62dfd8315c2e1b27744<br />-  d4b8ec9da3bf1061a948fbb1b0d9d3db750cc79f<br />*Stack* <br />RangeError: Maximum call stack size exceeded<br />    at wasm-function[220]:0x23566<br />    a

[2020-05-11 06:06] vscodeerrors opened #97456 "Illegal value for lineNumber"
Issue Id: <b>bb3ecac3-b435-2276-70e7-fe108a0ea939</b><br /><br />*Versions* <br />- 1.45.0<br />-  a0fe37870c42e0704a492cdc6b8550b4cf23f63c<br />-  d4b8ec9da3bf1061a948fbb1b0d9d3db750cc79f<br />-  fd5d9a30259bb2bebab3e62dfd8315c2e1b27744<br />*Stack* <br />Error: Illegal value for lineNumber<br />[/vs/editor/common/model/textModel.ts#828:9 (getLineFirstNonWhitespaceColumn)](https://github.com/micr

[2020-05-11 06:07] vscodeerrors opened #97457 "Cannot read property 'setMode' of undefined"
Issue Id: <b>3cd1972d-e854-26ff-fa07-9e8084a656bb</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />TypeError: Cannot read property 'setMode' of undefined<br />[/vs/workbench/contrib/debug/browser/repl.ts#275:15 (setMode)](https://github.com/microsoft/vscode/blob/d69a79b73808559a91206d73d7717ff5f798f23c/src/vs/workbench/contrib/debug/browser/repl.ts#L275:15 (setMode))<br />[/vs/workbench

[2020-05-11 06:07] vscodeerrors opened #97458 "Cannot read property 'state' of undefined"
Issue Id: <b>b749d939-cbba-96eb-7a49-120b63630703</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />TypeError: Cannot read property 'state' of undefined<br />[/vs/workbench/contrib/extensions/browser/extensionsList.ts#151:16 (renderElement)](https://github.com/microsoft/vscode/blob/d69a79b73808559a91206d73d7717ff5f798f23c/src/vs/workbench/contrib/extensions/browser/extensionsList.ts#L151

[2020-05-11 06:07] vscodeerrors opened #97459 "Cannot read property 'body' of undefined"
Issue Id: <b>de429439-c5d5-13b2-ed17-cf9039cae2ae</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />TypeError: Cannot read property 'body' of undefined<br />[/vs/workbench/contrib/debug/browser/debugSession.ts#595:15](https://github.com/microsoft/vscode/blob/d69a79b73808559a91206d73d7717ff5f798f23c/src/vs/workbench/contrib/debug/browser/debugSession.ts#L595:15)<br />    at processTicksAn

[2020-05-11 06:07] ziad-akiki opened #97460 "Window oversized vertically"
Issue Type: <b>Bug</b>

My setup includes a 200% scale - 3000x2000 screen resolution and a 100% scale FHD monitor (Extended mode).
When opening VS Code on the FHD monitor (Maximized), the window is oversized vertically, the status bar is trimmed at the bottom and the title bar above is trimmed from the top.

![Bottom screenshot](https://user-images.githubusercontent.com/40595927/81528823-2f6f6c00-

[2020-05-11 06:08] vscodeerrors opened #97461 "Illegal value for lineNumber"
Issue Id: <b>2060dfc7-0c8e-d13e-5ec8-dfa1d09a5db0</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />Error: Illegal value for lineNumber<br />[/vs/editor/common/model/textModel.ts#820:9 (getLineMaxColumn)](https://github.com/microsoft/vscode/blob/d69a79b73808559a91206d73d7717ff5f798f23c/src/vs/editor/common/model/textModel.ts#L820:9 (getLineMaxColumn))<br />[/vs/editor/common/viewModel/sp

[2020-05-11 06:09] vscodeerrors opened #97462 "Cannot read property '0' of undefined"
Issue Id: <b>573477a2-f558-630e-474b-62e48d925fcf</b><br /><br />*Versions* <br />- 1.45.0<br />-  d4b8ec9da3bf1061a948fbb1b0d9d3db750cc79f<br />-  fd5d9a30259bb2bebab3e62dfd8315c2e1b27744<br />*Stack* <br />TypeError: Cannot read property '0' of undefined<br />[/vs/editor/contrib/parameterHints/parameterHintsWidget.ts#302:48 (getParameterLabel)](https://github.com/microsoft/vscode/blob/d69a79b738

[2020-05-11 06:09] vscodeerrors opened #97463 "Cannot read property 'dispose' of undefined"
Issue Id: <b>5ea9579d-0c2c-a44d-4f66-e3c18df2fa54</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />TypeError: Cannot read property 'dispose' of undefined<br />[/vs/workbench/browser/parts/views/viewPaneContainer.ts#1200:14 (onDidRemoveViewDescriptors)](https://github.com/microsoft/vscode/blob/d69a79b73808559a91206d73d7717ff5f798f23c/src/vs/workbench/browser/parts/views/viewPaneContainer

[2020-05-11 06:09] vscodeerrors opened #97464 "Cannot read property 'dataId' of undefined"
Issue Id: <b>2145d6b6-406c-1de3-dc6e-516a7478ca60</b><br /><br />*Versions* <br />- 1.45.0<br />*Stack* <br />TypeError: Cannot read property 'dataId' of undefined<br />[/vs/workbench/contrib/debug/browser/variablesView.ts#197:28](https://github.com/microsoft/vscode/blob/d69a79b73808559a91206d73d7717ff5f798f23c/src/vs/workbench/contrib/debug/browser/variablesView.ts#L197:28)<br />    at async out/

[2020-05-11 06:19] muuvmuuv opened #97465 "Horizontal scrolling on editor tabs with Apple Trackpad acts weird"
- VSCode Version:
Version: 1.45.0
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T15:57:33.467Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0
- OS Version: macOS 10.15.4

Steps to Reproduce:

1. enable `"workbench.editor.scrollToSwitchTabs": true,`
2. use Trackpad with two finger to scroll on editor tabs
3. see flickering

D

[2020-05-11 06:22] matthew-e-brown opened #97466 "PHP Auto-indentation is broken until HTML language mode is toggled"
- VSCode Version: 1.45 (user setup)
- OS Version: Windows_NT x64 10.0.18363 (Windows 10)

When working with a PHP file, I expect the following to occur when I press `Enter`:

[code]

This has always been the case when working with HTML and PHP files alike. However, recently, in PHP files, I see the following:

[code]

Changing the language mode from PHP to HTML and back again in a single file fixe

[2020-05-11 06:30] deepak1556 commented on #94148
@chrmarti for something unrelated, I was using https://github.com/joaomoreno/proxy-containers/tree/master/basic-auth and was able to verify that proxy settings are respected through settings.json and env variables. Tried exactly the same steps as above only the containers are different.

[2020-05-11 06:30] derekriemer commented on #93254
I cannot reproduce this again.

[2020-05-11 07:06] ChayimFriedman2 opened #97467 "Show All Tasks When Filtered Clears Filter"
Issue Type: <b>Bug</b>

 1. Open a workspace with collapsed tasks, for example npm tasks.
 2. Run command 'Tasks: Run Task'.
 3. Type something in the textbox to filter the tasks.
 4. Choose 'Show All Tasks...'
 5. The filter is being cleared.

I expected the filter to remain since I'm looking for a named task.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:

[2020-05-11 07:16] develerik opened #97469 "Respect ssh config includes"
It would be great if the ssh remote extension could show hosts defined in an included file.

For example in my `~/.ssh/config` file I have a line telling to include another file `Include config_local` and in this included file I defined all my ssh host configurations. If I now click on the remote connection button in vs code it doesn't show me any connection I defined in the included file.

[2020-05-11 07:29] bpasero commented on #97237
This is actually a general issue and seems to originate from https://github.com/microsoft/vscode/commit/102f6d3a00300ac6dfaace5330e5781415122599

We could probably isolate the change that was made to pass `undefined` only for context menus, but not in other cases to give others a chance to adopt this somewhat breaking change.

To recap:
* some menu entries relied on the `event` being passed around

[2020-05-11 07:32] bpasero opened #97470 "Debug: do not rely on event being passed around into command"
Extracted from https://github.com/microsoft/vscode/issues/97237

Debug contributes a menu entry such as:

https://github.com/microsoft/vscode/blob/6177de0c0f52b6977b5d2f2bdf9482620c4fd5c5/src/vs/workbench/contrib/debug/browser/debug.contribution.ts#L416-L423

Within it probes for an `event` which we no longer pass around: https://github.com/microsoft/vscode/blob/6177de0c0f52b6977b5d2f2bdf9482620c4

[2020-05-11 07:35] weinand opened #97471 "Debug hover is too narrow and horizontal scrolling useless"
Insiders:

The debug hover is too narrow and horizontal scrolling is useless because it allows only to see a few more characters.

In order to be useful a debug hover must allow horizontal scrolling to the very end of every string.
And it would help if the default size of a debug hover is a 50% wider.

[2020-05-11 07:35] isidorn commented on #96987
Thanks for letting us know, adding verified label.

[2020-05-11 07:36] FDiskas opened #97472 "Git Pull From, when git.fetchOnPull=true, does nothing"
Issue Type: <b>Bug</b>

Git pull from command does not works as acpected. I select this from Source controll view. And I select a branch (origin/develop) from dropdown menu. In OUTPUT I see only thous commands and no fetch from origin develop
[code]
I supose the folowing command to be executed
```> git pull origin develop```

VS Code version: Code - Insiders 1.46.0-insider (d487078dc7fc1c276657cad

[2020-05-11 07:37] tieTYT opened #97473 "go to line should select text from the current cursor when holding down shift"
This would be a very useful feature for those using dictation software to program. Because I am, when I want to highlight a few lines of text, I use "go to line" to get my start destination. It would be nice if I could hold down shift and then use "go to line" again and have it highlight the lines from my current cursor position to the 2nd line I specified (whether or not the 2nd line is above or

[2020-05-11 07:40] isidorn commented on #41423
@mltony in theory yes. In practice no since Chrome still has performance issues with large textArea. Once that get's fixed we will deprecate pageSize setting and always put the whole content of the editor.
@joanmarie might know more about the chrome performance issue

[2020-05-11 07:53] waruyama opened #97474 "Cannot log in manually to Github"
- VSCode Version: 1.45.0
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. If I enter `git pull origin` into the console, as of today a popup window will show:

![image](https://user-images.githubusercontent.com/43434568/81536203-7318a480-936b-11ea-98a3-19225f648472.png)

I suspect it has to do with this feature in the Git extension:

![image](https://user-images.githubusercontent.c

[2020-05-11 07:55] Barry-SH commented on #97435
Whether is there a workaround way to make proxy work well ?

[2020-05-11 07:56] joaomoreno commented on #97224
What extensions do you have installed in that machine?

[2020-05-11 07:59] isidorn commented on #95433
@joanmarie great. Yeah that is by design, more details here https://github.com/microsoft/vscode/issues/97241
Press `esc` to focus the status bar once the focus is on a status bar entry

[2020-05-11 08:00] Stakker commented on #26398
Hi. Just adding my two cents here

I have a 2013 MBP (Nvidia GPU). I mostly use VS Code on an external *low* DPI screen (1080p), but it behaves the same way on the internal Retina screen too. Window size makes no difference.

I also tried changing font rendering settings but none made any difference, including disabling AA completely. I downloaded the exploration build but didn't notice a differen

[2020-05-11 08:02] isidorn commented on #93896
@roblourens @ctmayn looking at the PR this fixes the Focus of the note book output which is great! Thanks!
However nothing about the second part of our discussion is captured by the PR. Namely how we should show results in plain text once screen reader is detected. More in the two comments by me and @rebornix above
https://github.com/microsoft/vscode/issues/93896#issuecomment-610223080
https://git

[2020-05-11 08:10] gjsjohnmurray commented on #96893
See also https://github.com/microsoft/vscode/issues/92893#issuecomment-600418796

Does the default keybinding deserve to be changed?

[2020-05-11 08:14] alexravenna commented on #94862
I'm suffering from this problem as of a few days now even though I'm using Insiders 1.45:
![image](https://user-images.githubusercontent.com/29532881/81538555-2b941780-936f-11ea-90a5-d6242b65d62d.png)

![vs_code_insiders_proxy](https://user-images.githubusercontent.com/29532881/81538851-9cd3ca80-936f-11ea-97ff-dea96c6670b0.gif)

I'm behind a corporate proxy so I have to have to have these environm

[2020-05-11 08:17] dbaeumer commented on #90995
@sbatten any feedback?

[2020-05-11 08:21] Stakker commented on #26398
VS Code scrolling also uses a whole lotta CPU. Here's how the two processes roughly look on average while scrolling continuously:

Default settings: Code Helper (Renderer) 55%, Code Helper (GPU) 45%
With --disable-gpu: Code Helper (Renderer) 70%, Code Helper (GPU) 15%.

In comparison, Sublime Text has one process that uses just 22% of CPU (and it's 100% smooth).

[2020-05-11 08:23] tamtranjy commented on #97224
C/C++ 0.27.1
C++ Intellisense 0.22
Notepad++ keymap 1.0.5
Python 2020.4.76186

[2020-05-11 08:31] VMinute opened #97475 "Task started with vscode.tasks.executeTask doesn't generate any completition notification if dependency task fails, preventing its execution."
Issue Type: <b>Bug</b>

In my extension, I need to provide users a flexible way to perform some operation (copy build output to a local folder that will be then deployed to a device). Since the way to do it is heavily dependent on language/tools used I decided to let user define a task with a specific name that would be executed by the extension. Everything works fine when a single task is defined

[2020-05-11 08:32] sandy081 commented on #97443
/duplicate

[2020-05-11 08:32] sandy081 commented on #97443
https://github.com/microsoft/vscode/issues/93960

[2020-05-11 08:33] #97443 closed

[2020-05-11 08:33] VMinute commented on #97475
I opened also a question on stackoverflow, in case there is a workaround that does not require changes to vscode.
https://stackoverflow.com/questions/61678941/how-to-detect-failure-of-task-execution-from-a-vscode-extension

[2020-05-11 08:37] joaomoreno commented on #97117
From what I can understand, `shift click` in the editor does the following:

- (1) recursively collapses all descendants, if the current node is expanded;
- (2) recursively expands the node and all descendants, if the current node is collapsed, just like `alt click`.

We can't use `shift click` in the tree, since that expands the selection.

But we can have `alt click` do (1) before it actually co

[2020-05-11 08:38] joaomoreno commented on #97133
Do you have any errors in the Developer Tools?

[2020-05-11 08:39] joaomoreno commented on #97141
I'm not sure I fully understand the issue, but can you completely uninstall VS Code? And then reinstall it?

[2020-05-11 08:40] joaomoreno commented on #97147
What extensions do you have installed?

---

Can you reproduce the issue again, but first:

- Open `Developer: Show Running Extensions`
- Click the `Start Extension Host Profile` button at the top right, it's the circle
- Reproduce the issue
- Stop profile

You can show me a screenshot of the profile result. You can also send me the profiling results.

---

You can upload the video to youtube and

[2020-05-11 08:41] texastoland commented on #97443
My workaround was:

[code]

[2020-05-11 08:43] egamma opened #97476 "Migrate extension samples to eslint"
The following examples are still using tslint and should be migrated to use eslint.

This is the guide https://code.visualstudio.com/api/advanced-topics/tslint-eslint-migration

- [ ] i18n-sample
- [ ] helloworld-sample
- [ ] fsconsumer-sample
- [ ] webpack-sample
- [ ] lsp-embedded-language-service
- [ ] lsp-embedded-request-forwarding
- [ ] basic-multi-root-sample
- [ ] lsp-log-streaming-sample

[2020-05-11 08:44] nrail-joerg-walter opened #97477 "Add value for internalConsoleOptions: open console on session start AND on restart"
I would like to be able to have the console shown on restarts during a debug session.

[2020-05-11 08:47] texastoland commented on #93960
One related note is it was unintuitive to find the backup because the activity bar icon visible in the docs is hidden until you are already in one of the sync panels.

[2020-05-11 08:52] moimran opened #97478 "Import issue for python in mac os"
Hi Team,

I get import issues while using python on mac OS catalina, I am using virtual env, I have pointed interpreter to virtual env, I looked over internet no luck, desperate to use python is vscode.

I have tried every possible solution on internet but no luck, it works well in pycharm after pointing
root folder to 'actions', I tried similar settings on vscode with .env but no luck

Here is ho

[2020-05-11 08:56] LWChris opened #97479 "Smart text highlighting in log files"
Issue Type: <b>Bug</b>

It appears to me VS Code tries to improve the highlighting even of raw text files like log files. For example, it seems to make timestamps green and numbers with two or more digits blue.

I like this feature, but it should either exclude hexadecimal numbers or learn to highlight them consistently altogehter. The current scheme makes logs that contain MAC addresses very diff

[2020-05-11 08:57] sungle3737 commented on #97117
In my experiment

## Editor
- `shift + click` - according to my question's gif, `shift + click` unfold tree level one by one, not all descendants
- `alt + click` - Also, alt click remember last folding level, and toggle between (All Folded/Remembered Folding Level)

## Explorer
- `shift + click` (click selected folder) - do nothing
- `alt + click` - expand recursively all descendants (i think it s

[2020-05-11 09:04] CXXVII commented on #97366
I don't remember exactly. I think it show message. It’s my fault😔 Thank you

[2020-05-11 09:04] sungle3737 commented on #97117
alt click was my misconception!
another feature request - `alt + click` - unfold all codes in editor

[2020-05-11 09:05] joaomoreno commented on #96376
Can you elaborate on this?

[2020-05-11 09:06] joaomoreno commented on #97009
It's related to this being a standalone editor. We can inherit the editor settings here.

[2020-05-11 09:06] CXXVII commented on #97366
Thank you 😊

[2020-05-11 09:07] gegertyson1314 commented on #97435
We can only work offline......

[2020-05-11 09:08] #97366 closed

[2020-05-11 09:12] #97470 closed

[2020-05-11 09:13] isidorn commented on #97470
@bpasero thanks for the suggestion, however currently the debug view title bar is not a menu, thus the solution you propose is not possible.
I have simply removed support to open the launch.json to the side. We might re-introduce it in the future once the users start complaining.

[2020-05-11 09:13] joaomoreno commented on #97009
Actually I can't reproduce this.

![recording (3)](https://user-images.githubusercontent.com/22350/81544915-66e71400-9378-11ea-9fd3-b50528f34c8a.gif)

@Alex131089 Can you please provide a [screen recording](https://gifcap.dev/)?

[2020-05-11 09:18] joaomoreno commented on #96960
Libraries aren't actually folders in your system, so what folder could Code open?

[2020-05-11 09:19] joaomoreno commented on #96918
![gif](https://media.giphy.com/media/voOhKPgzYsyPu/giphy.gif)

[2020-05-11 09:19] joaomoreno commented on #96131
#5970

[2020-05-11 09:19] #96131 closed

[2020-05-11 09:21] #45543 closed

[2020-05-11 09:22] vbrozik opened #97480 "VS Code shows cryptic error message Error: net::ERR_NO_SUPPORTED_PROXIES when it cannot resolve HTTP proxy DNS name"
Issue Type: <b>Bug</b>

After the upgrade all the attempts to check for VS Code updates show this error message:

net::ERR_NO_SUPPORTED_PROXIES

------ This is in the main log:
[2020-05-11 11:12:43.362] [main] [info] update#setState checking for updates
[2020-05-11 11:12:43.387] [main] [error] Error: net::ERR_NO_SUPPORTED_PROXIES
    at SimpleURLLoaderWrapper.<anonymous> (electron/js2c/browser_ini

[2020-05-11 09:25] #97431 closed

[2020-05-11 09:27] bpasero commented on #97470
@isidorn I think it is fine to remove the support, but curious how you can contribute to it like a menu if it is not a menu? where does it appear?

[2020-05-11 09:30] QuestionAndAnswer opened #97481 "Some strange slash symbol in launcn.json config description."
- VSCode Version: 1.45.0
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Create launch.json config
2. Add configuration for node.js
3. Set "outFiles" options to anything and hover mouse over property word.

![image](https://user-images.githubusercontent.com/6842709/81546461-11fccb00-9383-11ea-969c-3728c3cf03e2.png)

You'll see in the end of description (in example section) differe

[2020-05-11 09:33] isidorn commented on #97470
@bpasero the top level main menu debug submenu.

![Screenshot 2020-05-11 at 11 33 12](https://user-images.githubusercontent.com/1926584/81546822-3785d680-937b-11ea-8418-f9fcc6eba2cd.png)

[2020-05-11 09:38] anatolyburakov commented on #83678
@felipecassiors that looks great! now, if only it worked with other debuggers (hint hint!)...

[2020-05-11 09:42] #97165 closed

[2020-05-11 09:44] Raynos opened #97482 "Go to definition for nodejs javascript file broken by existance of `.d.ts`"
- VSCode Version: 1.44.2
- OS Version:  Ubuntu

Steps to Reproduce:

1. Go to a nodejs project that has multiple dependencies in node_modules
2. Hit go to definition on a javascript `require` statement
3. Expect to be taken to javascript source code for that module
4. Sometimes taken to foreign `.d.ts` file.

Does this issue occur when all extensions are disabled?: Yes

## Example go to definition

[2020-05-11 09:48] joaomoreno commented on #97224
Could you show me what kind of URLs from GitHub are being hit? This is very strange, since Code doesn't talk to Github automatically.

[2020-05-11 09:49] DrDecane commented on #97340
Absolutly. What would even be the point in setting smartCase to true but then toggle on case sensitive search?

[2020-05-11 09:50] joaomoreno commented on #97056
Have you tried opening that folder?

`File > Open Folder`

[2020-05-11 09:50] kagawagao opened #97483 "vscode-insider crushed after bump version to 1.46.0"
- VSCode Version: 1.46.0-insider
- OS Version: MacOSX 10.15.4

Steps to Reproduce:

1. open app

crush report
[code]

Does this issue occur when all extensions are disabled?: No

[2020-05-11 09:51] #97345 closed

[2020-05-11 09:54] tamtranjy commented on #97224
I do not know the URL. I can only catch the SrcIP and DstIP of his laptop then compare them with the IP addresses in _https://api.github.com/meta_.

[2020-05-11 09:57] alexdima commented on #96928
Why not? The status bar is most of the times empty and not clickable, while the scrollbar is always clickable. What is especially ugly here is that the scrollbar reacts to the mouse hover and fades in, making it appear ready to be responsive to the click, but then the click doesn't reach it.

:+1: We can also do this.

[2020-05-11 09:58] kagawagao commented on #97483
work well after reinstall

[2020-05-11 09:58] #97483 closed

[2020-05-11 09:59] isidorn commented on #97471
Agree, we could improve this.
However we are not controlling the width, that is done by the Tree.
@joaomoreno is there some way for me as a client to increase the width of each element? I can do it via css and adding a margin, but to check if there is something leaner?

[2020-05-11 10:00] #97174 closed

[2020-05-11 10:00] isidorn commented on #97174
This is how we designed the feature, we first collapse everything but the roots, and only then the roots.
We might reconsider and add a setting to control this in the future.
fyi @roblourens

[2020-05-11 10:03] alexdima commented on #97243
This number is currently hard coded [here](https://github.com/microsoft/vscode/blob/8f0f44cd0f718e9c2277758b400b7b34676d7bf6/src/vs/editor/common/services/markerDecorationsServiceImpl.ts#L143). This is intended behaviour. The idea is that if you have so many errors/warnings in a single file, it doesn't help to render another 1000 errors. This most likely indicates some kind of configuration proble

[2020-05-11 10:06] #97059 closed

[2020-05-11 10:07] jrieken commented on #97173
Does not reproduce for me - neither with TypeScript nor with python

[2020-05-11 10:08] joaomoreno commented on #96928
But it doesn't seem to be because of the sash: otherwise the sash would be moved, instead of the text being selected, right?

[2020-05-11 10:10] joaomoreno commented on #97054
This is not the merge feature, these are literally merge characters inserted by Git and the language service fails to detect them, and it's in its right to do so.

We won't do anything here besides implementing an actual merge editor, making these merge markers irrelevant.

[2020-05-11 10:10] #97054 closed

[2020-05-11 10:11] sandy081 commented on #97279
/duplicate

https://github.com/microsoft/vscode/issues/97228

[2020-05-11 10:12] #97279 closed

[2020-05-11 10:16] Astero-H opened #97484 "Can't connect to the extensions Marketplace"
Issue Type: <b>Bug</b>

1- Launch Vs Code
2- Click on Tab Extensions
=> Message received : "We cannot connect to the Extensios Marketplace at this time, please try again later"

N.B : I'm not behind a proxy - I re-installed VSCode

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info<

[2020-05-11 10:17] isidorn commented on #86414
@Neurrone let's assign to next milestone so we look into a proper fix. Thanks for bringing this up.
If we do not fix it, we can disable the compactFolders for screen readers.

[2020-05-11 10:17] jrieken commented on #97312
Use the value `smart` for this setting `editor.acceptSuggestionOnEnter`

[2020-05-11 10:17] #97312 closed

[2020-05-11 10:20] #55169 closed

[2020-05-11 10:20] #96708 closed

[2020-05-11 10:22] lc150303 opened #97485 "type checking bug of JavaScripts"
Issue Type: <b>Bug</b>

my jsconfig.json is
[code]
and the codes are
[code]
it underlines the 's' in `for of` with red wavy line, saying

but  '--downlevelIteration' doesn't exist in jsconfig.json.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T16:18:48.860Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2020-05-11 10:29] weinand commented on #97471
I would even tolerate if the width of the tree is set to some hardcoded value (e.g. 1500).

[2020-05-11 10:31] bpasero commented on #97470
@isidorn my understanding is that the menus support alternative commands. @sbatten can you verify?

[2020-05-11 10:40] jrieken commented on #97145
@dbaeumer wrote that code and I only un-commented it ;-)

[2020-05-11 10:41] vbrozik commented on #97480
After further investigation I realized that the main problem is in the cryptic message:
Error: net::ERR_NO_SUPPORTED_PROXIES

I realized that something permanently set the Windows environment variable http_proxy. It looks like VS Code versions before 1.45 did not use this environment variable.

I am going to edit the Issue.

[2020-05-11 10:47] chrmarti commented on #94148
@deepak1556 Thanks, wasn't aware of that. I ended up coming up with my own container for the policy issue in auth.html from last week: https://github.com/microsoft/vscode-proxy-agent/tree/master/tests/test-http-auth-proxy.

[2020-05-11 10:48] isidorn commented on #97439
We can reopen the original issue, thus closing this one

[2020-05-11 10:48] #97439 closed

[2020-05-11 10:48] isidorn commented on #45156
Since we got multiple requests for this reopening for now and assinging to backlog

[2020-05-11 10:49] isidorn commented on #97470
@bpasero my point was simply: it was not working for the main menu, it was only working for the debug title area which is not the menu.
So I would not make the change that it suddently only works in the Main Menu.

[2020-05-11 10:55] chrmarti commented on #94862
@keelung-yang @alexravenna Is the proxy using some kind of authentication and do the environment variables include username and password?

Does it work when you clear the environment variables before launching VS Code?

[2020-05-11 10:58] waruyama commented on #97474
The old behavios can be restored by unckecking the "Terminal Authentication" setting in the Git extension. I initially missed the part that says that a restart is necessary.

![image](https://user-images.githubusercontent.com/43434568/81554398-ff849080-9386-11ea-87dd-5f814ac65267.png)

[2020-05-11 10:58] #97474 closed

[2020-05-11 11:07] #97199 closed

[2020-05-11 11:08] isidorn commented on #97068
@roblourens I would go with the role `button` and the `aria-pressed` attribute. More details here https://w3c.github.io/aria/#button
You can experiment how NVDA behaves with that and if it will read the desired state.

[2020-05-11 11:11] #97010 closed

[2020-05-11 11:12] joaomoreno commented on #97199
Sorry for the breakage, all! We'll include the fix in the May recovery build, out soon.

[2020-05-11 11:15] arisferyanto commented on #13953
@vdh I set [skipLibCheck](https://www.typescriptlang.org/tsconfig#skipLibCheck) to true in tsconfig and "problems" tab stopped showing errors from node_modules.

However, based on [this stackoverflow thread](https://stackoverflow.com/questions/52311779/usage-of-the-typescript-compiler-argument-skiplibcheck), turning on this option degrades type checking. Appreciate if someone from VS code or types

[2020-05-11 11:21] isidorn commented on #97359
@Neurrone thanks a lot for filling this. I can reproduce this with NVDA and Orca. We properly set the aria attributes `aria-setsize` and `aria-posinset`. So I am not sure why screen readers are not reading this content
@joanmarie can you maybe investigate on the Orca side?

It might be that our "weird" tree selection confuses screen readers, since we set aria-selected = false on focused elements.

[2020-05-11 11:21] MarcoZehe commented on #97068
Nope, role="button" and aria-pressed makes one into a toggle button. A toggle button is in essence a checkbox in disguise, and this would be inappropriate. Either use radio button semantics, or use tablist/tab/tabpanel, and the selected (not focused, but active) tab gets aria-selected="true", the other(s) aria-selected="false". With toggle buttons, as @isidorn suggested, you have the problem that,

[2020-05-11 11:22] #96833 closed

[2020-05-11 11:22] #96748 closed

[2020-05-11 11:23] #88743 closed

[2020-05-11 11:26] hediet opened #97488 ""Open With..." does not work"
- VSCode Version: 1.44
- OS Version: Windows 10

Steps to Reproduce:

1. Install my [Draw.io](https://github.com/hediet/vscode-drawio/) extension
2. Open a new `.drawio` file (a drawio editor shows up)
3. Try to open this file with the default text editor using the `openWith` command

It should open the `.drawio` file with the default text editor, but nothing happens.
As my extension just uses the

[2020-05-11 11:32] joaomoreno commented on #97307
This is a limitation of Inno Setup, which won't get fixed any time soon. Sorry about that!

[2020-05-11 11:32] #97307 closed

[2020-05-11 11:33] joaomoreno commented on #97300
The only thing this will do is add `-S` when calling `git commit`, so you should [setup git to be able to sign your commits](https://git-scm.com/book/en/v2/Git-Tools-Signing-Your-Work).

[2020-05-11 11:33] #97300 closed

[2020-05-11 11:34] joaomoreno commented on #97293
This is actually already done: https://github.com/microsoft/vscode/blob/master/build/win32/i18n/messages.pt-br.isl#L9

But you would have to have selected Brazilian Portuguese at the time of installation.

[2020-05-11 11:34] #97293 closed

[2020-05-11 11:36] adelphes opened #97489 "Debug Console does not flush console.log before exit"
Version: 1.45.0
Commit: d69a79b73808559a91206d73d7717ff5f798f23c
Date: 2020-05-07T16:10:24.511Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.4.0-29-generic

Steps to Reproduce:

1. Start a debugger with the following program:
[code]
2. When the program exits, see that the Debug Console has not printed all 1000 objects.

Does this issue occur when

[2020-05-11 11:40] leonardder commented on #97359
I think it would help to know where the regression started to occur. It could also be a bug in Chromium.

[2020-05-11 11:42] jrieken commented on #97317
From there, you need to use command+click to open to the side. We don't seed the widget with an open-to-side-by-default mode because there is no visual indication for that. Also, command+click is always opening a location to the side.

[2020-05-11 11:42] #97317 closed

[2020-05-11 11:43] bersbersbers opened #97490 "Selection runs through all failed tests after each test"
- VSCode Version: 1.45.0
- OS Version: Windows 10

Steps to Reproduce:

I honestly don't know, but I think the screenshot may speak for itself:

![Y2iBnBjeuC](https://user-images.githubusercontent.com/12128514/81558040-483f4800-938d-11ea-81db-62a59719d0a2.gif)

I'm happy to help debugging.

[2020-05-11 11:47] hediet opened #97491 "Custom Text Editor API: Automatic Normalization Problems"
In my Draw.io extension, I provide a custom text editor for `*.drawio` files which are basically xml documents.
However, the Draw.io editor is exporting these files with windows line endings and does not format them.

I try to update (i.e. reloading from the underlying text document) the Draw.io editor as few times as possible, since every update destroys the internal undo history and resets the c

[2020-05-11 11:54] morbec commented on #97300
Hi @joaomoreno

Thanks for your comment but I already have git set up to sign commits and it works as expect in the terminal but when I try to commit via VS Code nothing happens, I expected to have a place (popup for example) where  I could type my passphrase as in the terminal but I can't type my passphrase anywhere.

[2020-05-11 11:55] joaomoreno commented on #97278
@devjavivazz Have you tried just typing?

https://code.visualstudio.com/docs/getstarted/userinterface#_filtering-the-document-tree

[2020-05-11 11:55] #97278 closed

[2020-05-11 11:56] joaomoreno commented on #97300
Got it, that's https://github.com/microsoft/vscode/issues/43809

[2020-05-11 11:58] Neurrone commented on #97359
When focus was over one of the tree items, I did nvda+f1 to bring up debug info and this is what NVDA reports for the focused object:

[code]
roles:treeitem; level:4; setsize:0; posinset:0
[code]

[2020-05-11 12:03] joaomoreno commented on #97224
Are you sure no other extensions are installed?

[2020-05-11 12:03] bpasero commented on #97285
Upon second thought, I think my proposed idea is also not good because when an editor closes, assuming that you can serialize it may be risky. I think we would need some new infrastructure to support this scenario.

[2020-05-11 12:04] nsgundy commented on #97096
@bpasero See https://code.visualstudio.com/docs/editor/variables-reference#_variables-scoped-per-workspace-folder

[2020-05-11 12:05] newyeo opened #97492 "Unable to start debugging. Launch options string provided by the project system is invalid. Unable to determine path to debugger. Please specify the "MIDebuggerPath" option."
Type: Debugger

Describe the bug

OS and Version: win10
VS Code Version:
C/C++ Extension Version: 0.27.1

Bug description:
Hit the green button at left it can debug successfully while hit the debug button at bottom it launch the Unable to start debugging shown in picture below

To Reproduce

When I use vscode in windows 10 to debug the program using gdb button at bottom it launch such a error. But

[2020-05-11 12:07] gitvadim opened #97493 "Restore Windows setting is ignored if app opened via Open With Code shortcut"
Issue Type: <b>Bug</b>

# Repro steps:

1. Set Restore Windows to none,
2. Open a new Editor
3. Open a few documents
4. Close the editor
5. Right click any folder and select Open with Code

# Actual result

The app will open with all the documents that were open before you closed it

# Expected result

If Restore Windows is set to none the app should open 'empty' with no documents but scoped to th

[2020-05-11 12:08] joaomoreno commented on #97264
Still a work in progress: https://github.com/microsoft/vscode-pull-request-github/issues/1664

[2020-05-11 12:08] #97264 closed

[2020-05-11 12:09] joaomoreno commented on #97393
Look at that amazingly super optimized GIF!

[2020-05-11 12:09] alexdima opened #97494 "Error: LinkedMap got modified during iteration"
* Run from sources:

[code]

cc @dbaeumer

[2020-05-11 12:10] joaomoreno commented on #97471
What do you mean? You control the width of the container, the tree just fits to 100% of its width.

[2020-05-11 12:10] Fatemeh-max opened #97495 "extention"
Issue Type: <b>Performance Issue</b>

It always say's that it cannot connect to the extentions marketplace

[2020-05-11 12:12] joaomoreno commented on #97230
I'm glad you found a workaround for this! Let me know how the commit template goes.

[2020-05-11 12:17] alexr00 commented on #97305
@mjcrouch is correct. A folder is not an executable.

[2020-05-11 12:17] #97305 closed

[2020-05-11 12:20] Tyriar opened #97496 "Move generic hover widget to base ui and extend in ContentHoverWidget"

[2020-05-11 12:22] Twintails opened #97497 "Copy Line Down with multiple cursor inputs"
Issue Type: <b>Bug</b>

![shift+alt+down](https://user-images.githubusercontent.com/4665314/81561011-1d86cc80-9358-11ea-9f54-bca55c458b89.gif)

Have a line with two cursor inputs
Then "shift+alt+down"
The first cursor goes to the new line, the second cursor stays behind.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.3.0

[2020-05-11 12:23] alexr00 commented on #97330
`$(workspaceFolder)` should be `${workspaceFolder}`

[2020-05-11 12:23] #97330 closed

[2020-05-11 12:24] sandy081 commented on #93960
Yeah currently it is not shown by default and is shown only when you try to access the sync views using commands because they are advanced and showing them with some action makes sense.

[2020-05-11 12:24] joaomoreno commented on #97113
How do you `Restart extension`?

@jrieken Is this a valid scenario? Can an extension be activated by a trigger of another extension's command? Do you have an idea why this wouldn't work?

[2020-05-11 12:29] #95383 closed

[2020-05-11 12:29] knopp opened #97498 "Lists in views are no longer on a separate GPU layer"
Right now when scrolling project explorer vscode redraws entire window (as can be seen on mac by enabling "Flash screen updates" in Quarz Explorer. This can be rather sluggish on HiDPI screens.

This does not happen when scrolling code editors, as they are using separate layers (triggered using translate:transform3d(0,0,0)) i believe.

Same should be done for panes. The scrolling performance is mu

[2020-05-11 12:29] jrieken commented on #97113
Valid and it should just work. Only thing I think of is that it's actually a different event

[2020-05-11 12:30] Tyriar commented on #94656
I think this has been pulled in.

[2020-05-11 12:30] #94656 closed

[2020-05-11 12:30] alexdima commented on #96928
@joaomoreno I cannot reproduce the initial issue in the opening post. I would fix it if I could reproduce. But then the discussion expanded and we landed on how the scrollbar is covered by the sash in the bottom...

[2020-05-11 12:32] xsrf commented on #95060
Hey, I do have issues with blurry text rendering for years now in VSCode and also in MS Terminal.
Today I found out that it is caused by Intel HD Graphics Conservative Morphological Anti-Aliasing (CMAA). The hint in #44168 by @perryizgr8 that `--disable-gpu` solved the issue helped a lot! So I check if it is caused by some 3D graphics / anti-alias options and indeed, it is. If you do have Intel HD

[2020-05-11 12:39] alexdima commented on #97295
I think this is about the extension viewlet / marketplace not finding a good update.

[2020-05-11 12:39] jrieken commented on #93368
@aeschli turns out the different behaviour in uri-equality came in only last year via https://github.com/microsoft/vscode/commit/37efd5cc323418b47133d8b9c229b3bc4140ecb3 - no issue linked, no reasoning why this was done. Given that we want to revisit cell uris (going back to fragments) I am planning make fragment-component part of equality again.

[2020-05-11 12:43] hensz commented on #96376
Sometimes whitespaces have a meaning. Perhaps this is only for formatting reason, perhaps some other tool like our commit hook is relying on this.

I just looked into the commit hook, but the logic is too complicated for me ;-)
Perhaps we can adapt the hook, there's some special handling of "footer" which I haven't heard before.

Nevertheless in my opinion there should be a way to pass user-define

[2020-05-11 12:44] jrieken commented on #97095
very much related to https://github.com/microsoft/vscode/issues/95234

This is valid request but I don't think using document symbol notion makes a lot of sense here. It's more like a table of contents provider with toc entries (that are similar to document symbols) Custom editors are then in charge of revealing them because only they know how to scroll an element into view.

[2020-05-11 12:45] Tyriar commented on #97492
/extC++

[2020-05-11 12:45] #97492 closed

[2020-05-11 12:46] #97490 closed

[2020-05-11 12:48] Tyriar commented on #97495
/duplicate https://github.com/microsoft/vscode/issues/97484

[2020-05-11 12:48] #97495 closed

[2020-05-11 12:49] jrieken commented on #97181
Please share you extension repo or a full sample that allows us to reproduce this

[2020-05-11 12:49] sandy081 commented on #97484
Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/

[2020-05-11 12:52] sandy081 commented on #97295
Can you please provide us the extension to reproduce this?

[2020-05-11 12:53] jrieken commented on #97343
I don't think that's needed, all those trimming features are built into VS Code itselves and no formatter is needed for that. We have a "catch-all" signature for various different options: https://github.com/microsoft/vscode/blob/af3c79edcbc5b353b1ed3a69bca2ae95831ad089/src/vs/vscode.d.ts#L3417-L3420

I honestly think that enough, because it kinda matches what vs code offers by default and other o

[2020-05-11 12:54] joaomoreno commented on #97113
@usama8800 What happens if you _click the branch name on the at the left side of the status bar_ instead on step 4?

[2020-05-11 12:55] sandy081 commented on #97082
Are you able to reproduce consistently?

[2020-05-11 12:55] bpasero commented on #97096
@nsgundy that seems to be debug and task specific, not in general. You can use this in `task.json` and `launch.json`.

[2020-05-11 12:56] bpasero commented on #97393
"Kap your hands, say yeah" :D

[2020-05-11 12:57] bpasero commented on #97494
@dbaeumer wanna take this? Looks like a similar issue to what you fixed here:

https://github.com/microsoft/vscode/blob/d3a10a33b3c73f34106bdd7513adb6ed2a431456/src/vs/workbench/browser/parts/editor/baseEditor.ts#L259-L260

[2020-05-11 12:57] joaomoreno commented on #96928
I also can't repro it. I have plenty of space to select the scrollbar and it seems to always work as the hover feedback predicts it to work.

So, let's pump the editor's horizontal scrollbar height?

[2020-05-11 12:59] bpasero commented on #97493
@gitvadim where editors dirty in that session or did you use untitled workspaces?

[2020-05-11 12:59] sandy081 commented on #97126
@isidorn We already announce that [here](https://github.com/microsoft/vscode/blob/71a587e2cb8af5b7bea4cf699f1f4425acf5e207/src/vs/workbench/contrib/extensions/browser/extensionsActions.ts#L236-L236) using an alert. Let me know if there is something missing here?

[2020-05-11 13:01] sandy081 commented on #97240
Assigning to @isidorn for insights.

[2020-05-11 13:01] jrieken opened #97499 "Timeline entries should not end up in history"
* open timeline for something
* select many to its entries to find a certain version
* 😞 the history is now full of timeline entries that I never use again

<img width="718" alt="Screenshot 2020-05-11 at 14 46 41" src="https://user-images.githubusercontent.com/1794099/81564547-31522300-9398-11ea-802d-671738d272a2.png">

[2020-05-11 13:05] alexdima commented on #97046
@sungle3737 The diff editor scrollbar includes something called a diff overview ruler. Normally, this shows additions and deletions across the two files, e.g.:

![image](https://user-images.githubusercontent.com/5047891/81564760-8a21bb80-9398-11ea-8797-52d71584b3e9.png)

From your screenshot, it appears that it is colored in one single block color. Also, from your screenshot, it appears to me that

[2020-05-11 13:08] ManavRaja opened #97500 "Add full GitHub support for VS Code ."
Visual Studio Code should have full GitHub support so we can do everything we need to in GitHub in VS Code instead of using Git & then pushing to a GitHub repository. (Like Atom Code Editor)

[2020-05-11 13:09] jrieken opened #97501 "There are two KeytarCredentialsService implementations"
We have

1. `src/vs/workbench/services/credentials/node/credentialsService.ts` and
1. `src/vs/platform/credentials/node/credentialsService.ts`

Both look very, very similar

<img width="1232" alt="image" src="https://user-images.githubusercontent.com/1794099/81565317-6b6ff480-9399-11ea-9d1f-72ccaf894335.png">

[2020-05-11 13:14] joaomoreno commented on #96376
Let me know how it goes.

[2020-05-11 13:20] kuhlaid commented on #30191
What about changing the terminal window scrollbar? I tried
`"terminal.scrollbar.verticalScrollbarSize": 50` with no luck. This scrollbar is painfully tiny.

[2020-05-11 13:21] joaomoreno commented on #96928
Related to https://github.com/microsoft/vscode/issues/84315#issuecomment-559138911

[2020-05-11 13:25] thejavascriptman opened #97503 "Markdown preview fails to load on any project"
Version: 1.46.0-insider
Commit: 2b472d1e4aaaecdda5ca96289869f90ae82de3a1
Date: 2020-05-11T10:00:38.669Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.4.38-1-MANJARO

Steps to Reproduce:

1. Launch vs code
2. Open any directory that contains a `.md` file
3. Approximately 1 out of 5 times the markdown preview will fail to load until you completely cl

[2020-05-11 13:26] isidorn commented on #97240
@sandy081 thanks for the ping. The issue is that you are setting `aria-labelledby=markers-panel-arialabel` on the filter input. Just remove that and it will be good since you set a proper aria-label on the element

So this line should be removed https://github.com/microsoft/vscode/blob/8f0f44cd0f718e9c2277758b400b7b34676d7bf6/src/vs/workbench/contrib/markers/browser/markersViewActions.ts#L326

![S

[2020-05-11 13:30] dtiziani opened #97504 "Scroll tabs with Scroll too sensitive on OSX"
Issue Type: <b>Bug</b>

The feature to switch tabs through scroll is too sensible, using macOSX with magic mouse. if there was a sensitivity configuration would be nice.

VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T15:57:33.467Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ C

[2020-05-11 13:31] bilomania opened #97505 "Laggy vsc"
i cant select my code without lagging

System Information:

CPUs	AMD FX(tm)-6350 Six-Core Processor (6 x 3892)
GPU Status	2d_canvas: enabled
flash_3d: enabled
flash_stage3d: enabled
flash_stage3d_baseline: enabled
gpu_compositing: enabled
multiple_raster_threads: enabled_on
oop_rasterization: disabled_off
protected_video_decode: unavailable_off
rasterization: enabled
skia_renderer: disabled_off_ok

[2020-05-11 13:31] paprikman opened #97506 "Indentation breaks after closing curly brackets in JSX"
- VSCode Version: 1.46.0-insider
- OS Version: Windows 8.1

Steps to Reproduce:

1. Create an element in JSX return\render
2. Open curly bracket inside of it, then close it, for example:
[code]
![indent_issue](https://user-images.githubusercontent.com/57448756/81566534-72f0c700-93b4-11ea-9619-449bcea3da2f.gif)

3. The code indentation in this line will be broken (see gif for better explanation). N

[2020-05-11 13:31] isidorn commented on #97471
@joaomoreno yes you are right, but we do not control the width between the end of the element and the start of the vertical scroll bar. Thus what we need is a small width margin at the end each element so it does not overlap the vertical scroll bar. I can do that via css.

[2020-05-11 13:33] isidorn commented on #97068
@marcozehe thanks a lot! Makes sense.

[2020-05-11 13:37] weinand commented on #97471
Please note: the overlap between the content and the vertical scrollbar is not the issue: I want to be able to scroll horizontally to the end of the string!

[2020-05-11 13:38] gjsjohnmurray commented on #97504
Probably a dup of #96409

[2020-05-11 13:38] ArturoDent commented on #95582
I note that there is no intellisense for the args  as of

[code]

Nor is an error indicated if I omit the `args` key as in

[code]

[2020-05-11 13:39] isidorn commented on #97126
@sandy081 thanks for the pointer. The first time I tried it I could not hear the announcment, now it seems to be ok.
@kapilraghuwanshi can you please provide steps which you do when you do not hear the Announcment that the extension got installed?

[2020-05-11 13:40] #96928 closed

[2020-05-11 13:41] joaomoreno commented on #96928
Sash was moved to be on top of both the editor and the status bar, half half.

[2020-05-11 13:41] isidorn commented on #97471
@weinand ok, sorry I misunderstood you.
@joaomoreno sorry for the ping this issue is on my side.

[2020-05-11 13:42] gjsjohnmurray commented on #97465
/duplicate of #96409

[2020-05-11 13:42] 9at8 commented on #95387
I can take this! @Tyriar

[2020-05-11 13:43] #97465 closed

[2020-05-11 13:46] Tyriar commented on #97496
We could also expose the widget in a HoverService for ease of use in the workbench, this would handle:

- Ensuring only 1 is shown at a time
- Timeout scheduling, resetting if the mouse moves
- Easy breaking out of the container

See dialog and context menu service for similar services.

[2020-05-11 13:47] isidorn commented on #97489
I can reproduce this also with the js-debug. Thus forwarding to @connor4312 to investigate first on the debug extension side.

[2020-05-11 13:47] aeschli commented on #97323
Looks like a TypeScript issie. Have this code:
[code]

No folding ranges are returned
(To verify, set a breakpoint in foldingModel.update)

[2020-05-11 13:48] Tyriar opened #97507 "Keybindings sync appears to be retrying when it should not, hammering the server"

[2020-05-11 13:49] Tyriar commented on #95387
@9at8 great! 👍

[2020-05-11 13:49] aeschli commented on #97401
This is the constant color, not the unused color.

[2020-05-11 13:50] Tyriar commented on #96463
Took 4 builds to finally succeed ☹️

@bramus can you check if setting inheritEnv to false works with this build? https://az764295.vo.msecnd.net/insider/325bc186522b43100dbb0811b2a767d84c5fef76/VSCode-darwin-insider.zip

[2020-05-11 13:51] aeschli commented on #97313
Also see  #95583.
PRs are welcome!

[2020-05-11 13:55] TomasHubelbauer commented on #97181
https://github.com/tomashubelbauer/vscode-video

[2020-05-11 13:55] joanmarie commented on #97359
Presumably this Chromium bug which is already fixed. https://bugs.chromium.org/p/chromium/issues/detail?id=1066632

In case someone reports something similar regarding the selected item count, that would presumably be this other Chromium bug which is already fixed.
https://bugs.chromium.org/p/chromium/issues/detail?id=1058961

[2020-05-11 13:57] aeschli commented on #97294
@AGiantSquid How come you have the `/c/Users/...` folder. Did you create a symlink or change the wsl config?

Can you check if there's anything in the logs? (Output > Log...)

[2020-05-11 14:00] alexdima commented on #96928
I've also increased the default height from 10px to 12px, so whereas before there were 6px to hit the horizontal scrollbar (10px-4px), now there should be 10px (12px-2px).

[2020-05-11 14:00] sungle3737 commented on #97046
![image](https://user-images.githubusercontent.com/27716524/81570155-2bc9fc80-93db-11ea-920c-88688efdd2e1.png)
[code]
yes i added transparency it works! thank you!

[2020-05-11 14:00] #97046 closed

[2020-05-11 14:03] joanmarie commented on #41423
The performance issue is filed here: https://bugs.chromium.org/p/chromium/issues/detail?id=1076525

In comment 1 put where the problem/crazy-lag/timeout is happening. But we're going to need someone with AXPosition smarts to fix it. (My hopes that this was a simple problem were dashed.)

[2020-05-11 14:03] theSeifHub commented on #95427
@ahmedElsehrawy while vscode 1.42 did, v-1.44 didn't offer any manual download option, I had to visit marketplace.visualstudio on my browser and download each extension, then install from VSIX.
Thanks though, I did already fix the problem by changing my DNS servers

[2020-05-11 14:04] BenderEviler commented on #97312
jrieken,
You solutions did not solved the problem.
The problem is not that I have to hit enter twice, that's a consequence of the problem.
The problem is, quick suggestion is not going away when it's supposed to.
If i've finished writting a word, that word should not still be available in the quick suggestion.
There are three easy steps that I described to reproduce the problem, I think you didn't

[2020-05-11 14:06] isidorn commented on #97359
@joanmarie awesome!

My feeling is that this is not super important so we will not back port. Though please let me know if someone is passionate about this and we can see with @deepak1556 about potentially backporting the fix.

[2020-05-11 14:07] BenderEviler commented on #97312
That solved the problem.
Thanks!

[2020-05-11 14:10] gitvadim commented on #97493
@bpasero
I did not create any workspaces (at least knowingly); the editor can be dirty but does not have to -- the issue reproduces regardless.

[2020-05-11 14:12] jrieken commented on #97181
Please try without this line: https://github.com/TomasHubelbauer/vscode-video/blob/master/.vscode/launch.json#L15

[2020-05-11 14:17] TomasHubelbauer commented on #97181
I added it because it would produce the same error without it. I added in on the suggestion of the error message, but it did not help as per my original report. Without it, the same thing happens.

[2020-05-11 14:17] bwateratmsft commented on #81007
We just got our first GitHub issue from said confusion: https://github.com/microsoft/vscode-docker/issues/1961

[2020-05-11 14:18] alexr00 opened #97509 "Auth redirect now opens a new window of VS Code"
1. Install GitHub Pull Requests and issues
2. Sign out of GitHub in VS Code if you were signed it
3. Sign in using the "Sign in" in the PR view
4. Get taken to browser and allow
5. Click the button to redirect back to VS Code
Expected: goes to same window and finishes auth
Actual: creates a new VS Code window.

[2020-05-11 14:20] #97197 closed

[2020-05-11 14:20] bramus commented on #96463
Doesn't seem to work. With `inheritEnv ` set to `false` I get:

[code]

[2020-05-11 14:23] jrieken commented on #97181
oh wait. are you using insiders or stable?

[2020-05-11 14:25] TomasHubelbauer commented on #97181
Ah! Sorry for wasting your time. It's been a while since I worked on VS Code extension development and it didn't occur to me that I needed to use VS Code Insiders to use these APIs. Thanks for spotting this!

[2020-05-11 14:25] #97181 closed

[2020-05-11 14:26] isidorn opened #97510 "Make suggestion widget aria label more concise"
As reported by @pawelurbanski
Everytime it is triggered screen reader reads: "Suggestion. Use navigation keys to navigate".. And then the item…
Since users trigger this many times per day, reading the "Use navigation keys to navigate" is not needed

[2020-05-11 14:27] isidorn commented on #97510
We could instead just read "Suggestion" and then the `aria-label` of the selected item. Or just the `aria-label` of the selected item.