[2019-12-03 11:05] aeschli commented on #59536
To verify create a HTLM document with ids and links that jump to these ids.
Note: Does not work across files!

[2019-12-03 11:06] isidorn commented on #86042
This makes sense. However where would you remember this choice? And what if the user made the wrong choice, how would he undo his choice?
Writing into settings is ugly imho, and writting into storage makes it hard for this to be undone.

I am open for suggestions
fyi @weinand @roblourens @connor4312

[2019-12-03 11:09] sandy081 opened #86044 "Show debug view when opening a folder from debug view"
Testing https://github.com/microsoft/vscode/issues/85774

- Open empty vs code
- Go to debug view
- Open folder from the link in the view
- Folder gets opened but user lands into explorer view. Instead user should be landed into debug view to start debugging.

[2019-12-03 11:09] georgestevens99 opened #86045 "GitHub Desktop has a much better user experience for accounts"
Issue Type: <b>Feature Request</b>

In GitHub Desktop the File>Options>Accounts dialog provides a really nice, intuitive, and easy way to switch between numerous Git accounts and authentication to the repos in them.

I am very disappointed that VS Code offers NOTHING in this area.  Am I missing something?

I am forced to drop out of VS Code and open up the Windows Credential Manager and delete the

[2019-12-03 11:10] isidorn commented on #86038
This was also under discussion between @weinand and me.

Same as with the disabled buttons we want to sell to the user that he should open a folder and that much more features will be available. And yes this also makes sense if the user has no file open, and wants to start debugging. Depends on what debugging he wants to do. If he just wants to debug/run a file than the first message is just fine,

[2019-12-03 11:11] isidorn commented on #83668
Thanks, adding verified label.

[2019-12-03 11:19] IllusionMH commented on #86040
/needsMoreInfo

What do you mean with "moving the debugger cursor to another line"?
Debuggers for Node, Chrome, and Edge have "Step into" and "Step Over".
Basically Step Over will continue execution to next statement which is usually next line.

[2019-12-03 11:20] sandy081 opened #86046 "No link to open a file"
Testing https://github.com/microsoft/vscode/issues/85774

- Open a folder that has no launch.json
- Open debug viewlet

![image](https://user-images.githubusercontent.com/10746682/70046366-324f7f00-15c6-11ea-9542-4d675c2897ba.png)

🐛 Message `Open a file...` does not have a link to open file.

[2019-12-03 11:22] sandy081 opened #86047 "Debug/Run actions are not enabled when opening a node project"
Testing #85774

- Open a node project (eg: vscode-smoketest-express)
- Go to debug view

Debug and Run buttons are not enabled.
I expect them to be enabled as the debugger knows creating a program in `launch.json` automatically.

[2019-12-03 11:23] alexr00 opened #86048 ""editor.gotoLocation.multipleDefinitions": "goto" F12 doesn't work to go to next symbol"
Testing #85925 on Windows
I set `"editor.gotoLocation.multipleDefinitions": "goto"` then in the VS Code repo went to abstractTaskService.ts and did right click -> go to definition on `ITaskService` in line 198.
- A definition was opened ✔
- I saw a message in the status bar "Symbol 1 of 2. F12 for next" ✔
- I hit F12. Instead of going to the other definition it just repainted the status bar messag

[2019-12-03 11:25] isidorn commented on #86046
As designed.
We agreed that the `open a file` will only have a link if you are in the No Folder vscode. Since in this case you should open a file within your workspace which you already have. Using a native dialog does not make a lot of sense imho. However for consistency I do not mind changing.

As with other issues I am flexible and can change it. Just pointing out that this was done on purpose

[2019-12-03 11:26] isidorn commented on #86047
You do not have a javascript file open. Thus VSCode UX does not know which debug adapter to pick.
This is a fair feature request, however nothing that is within reach with the current architecture.

[2019-12-03 11:26] IllusionMH commented on #86020
/causedByExtension

VSCode doesn't provide support for LaTeX out of the box and as you mentioned

Please create issue for extension you are using

[2019-12-03 11:26] #86020 closed

[2019-12-03 11:28] alexr00 commented on #86048
Similar but different problem with `"editor.gotoLocation.multipleImplementations": "goto"`.
I tested with `IViewZone` in editorBrowser.ts and after successfully going to the first symbol and showing the status bar message, F12 then ran a References Peek.

[2019-12-03 11:29] sandy081 opened #86049 "Open folder link is not opening the project folder"
Testing #85774

I used vscode-smoketest-express for testing
- From an empty vscode widnow, in debug view, open file `~bin/www` in `vscode-smoketest-express`
- Now click on open folder link that says to further configure..
🐛 I would expect the picker/dialog to show the root folder to open instead it shows the `bin` folder.

[2019-12-03 11:31] isidorn commented on #86049
Dup of https://github.com/microsoft/vscode/issues/85769

[2019-12-03 11:31] #86049 closed

[2019-12-03 11:32] IllusionMH commented on #85964
Is it Full screen or maximized (when you see window controls minimize, restore, close)?

Most likely duplicate of #85595 and #85592

[2019-12-03 11:33] jrieken opened #86050 "Dropdown in settings look different"
re https://github.com/microsoft/vscode/issues/85988

* ubuntu 16.04, FF70
* open setting editor
* 🐛 the drop downs look embossed (those in debug look normal)

<img width="1063" alt="Screenshot 2019-12-03 at 12 31 45" src="https://user-images.githubusercontent.com/1794099/70047777-04b80500-15c9-11ea-839a-694e085746db.png">

[2019-12-03 11:33] sandy081 commented on #86037
I think this is expected ad remote viewlet has special behaviour and is not merged.

@alexr00 Please confirm?

[2019-12-03 11:34] isidorn commented on #86044
Yes, fully agree. The issue is that when opening a folder we always open the Explorer view.
This would have to be passed through from the debug to the dialog service to the window service.
Not for endgame, assinging to next milestone to look into this.

[2019-12-03 11:35] alexr00 commented on #86037
That is correct, remote viewlet has special behavior and is not merged since the merging conflicts with the drop down.

[2019-12-03 11:36] eman291 commented on #83930
#
Duplicate of #
@zeroidentidad

[2019-12-03 11:36] eman291 commented on #83930
#86048

[2019-12-03 11:36] jrieken opened #86051 "Screen cheese in remote picker"
re #85988

see attached screen capture, the chevron moves over the text

<img width="359" alt="Screenshot 2019-12-03 at 12 35 56" src="https://user-images.githubusercontent.com/1794099/70047984-827c1080-15c9-11ea-96c3-deb1dcd9f297.png">

[2019-12-03 11:37] isidorn commented on #86037
I find that inconsistent - couldn't we merge the actions from the container with the actions of the view? Would there be too much?
Feel free to close as designed.

[2019-12-03 11:37] eman291 commented on #83930
#

[2019-12-03 11:38] asterkrans commented on #69480
A quick fix would be to just roll-back the smart scroll-lock feature until it works.

[2019-12-03 11:39] alexr00 commented on #86031
macOS specific, since on Windows none of them have rounded corners, the chevron is centered, and the height is the same. I'll need to borrow a Mac :).

[2019-12-03 11:41] aeschli opened #86052 "[html] Mirror Cursor does not work with double-click selection"
Testing #85973

[code]

- double click on `foo` to select the full word
- type a new name. Does not rename the closing foo

[2019-12-03 11:42] isidorn commented on #86031
If you use our `SelectBox` you should be fine since in all other places it is aligned.
[Here](https://github.com/Microsoft/vscode/blob/8b449d1a0874b52b9a2d088ed1be6a7fd8d0051b/src/vs/workbench/contrib/debug/browser/debugActionViewItems.ts#L49) is how the Debug is using it
Not sure if you can do the same...

[2019-12-03 11:43] alexr00 commented on #86037
Since the drop-down functions as a filter I think keeping the things it filters (views, including actions) below it it is clearer than having the title change and having actions move to be next to the drop-down. If we merge, it could look like those are top level actions and a top level title, which it is not. I will bring up at the next UX sync to get more input.

[2019-12-03 11:44] sandy081 commented on #86046
How is this helping for new users without guiding them with actions. Open file message was more confusing to me when I transitioned from empty window debug view to folder debug view. We might have to change the wordings to tell user to open a file in the folder user has opened and have a link that can open quick pick.

[2019-12-03 11:47] alexr00 commented on #86031
I use the `SelectActionViewItem` which does use the `SelectBox` similarly to how Debug is using it. I will look into what could be missing.

[2019-12-03 11:48] sandy081 commented on #86038
IMO for newbies or first time users, it is quiet confusing to do more configuration when I have not opened any thing that is debuggable.

[2019-12-03 11:51] alyahmedaly commented on #86040
@IllusionMH what I mean is moving the cursor to the previous executed line so you can execute it again like c# for example in visual studio you can move to debug cursor to any other line
here you can see that you can change code flow using debug cursor. [visual studio docs](https://docs.microsoft.com/en-us/visualstudio/debugger/navigating-through-code-with-the-debugger?view=vs-2019#BKMK_Set_the_ne

[2019-12-03 11:51] sandy081 commented on #86042
Yeah good point that what if user makes wrong choice. I do not have suggestion for where to remember it unfortunately.

[2019-12-03 11:52] quanru opened #86053 "Tab in Search field in Replace in Files should focus Replace field"
And shift-tab in the Replace field should then move the focus back to the Search field. This is the tab focus behavior in the Edit > Replace fields. This would enable rapidly doing many different replacements by tabbing and shift-tabbing between the Search and Replace fields.

- VSCode Version: 1.40.2
- OS Version: mac 10.15.1

Steps to Reproduce:

Select Edit > Replace in Files.
Focus the Search

[2019-12-03 11:52] isidorn commented on #86037
That's makes sense, however since it is for a UX sync, we will probably not tackle it this week. Thus maybe assign to next milestone not this one?

[2019-12-03 11:52] gjsjohnmurray commented on #86040
@alyahmedaly I assume you are referring to [Jump to Cursor](https://code.visualstudio.com/updates/v1_36#_jump-to-cursor) which arrived in 1.36 but only lights up if the debug extension you're using supports it.

[2019-12-03 11:53] sandy081 commented on #86034
Sorry for providing full details. Updated the summary.

[2019-12-03 11:55] belokarvp opened #86054 "code runner"
Issue Type: <b>Feature Request</b>

code runner is installed in Microsoft VS Code (System Installation)

After running the the code previous output is not being cleared

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 6.3.9600

[2019-12-03 11:57] aeschli opened #86055 "[html] auto rename: auto-remove results in extra undo"
Testing #85973

[code]

- set cursor at the end of `foo`
- insert space, space is only added to first element
- undo
- space is not removed (but added on the closing tag)

According to @jrieken this could be solved by adding a keybinding that takes over the space key when a certain context is set. It removes the multicursor and then inserts the space.

[2019-12-03 11:58] Maxxee commented on #16488
(Sorry for "invading" this thread - well, it's not really invading, it's about the search feature after all and all other threads are closed.)

I really appreciate that you made the search feature remember the search phrases by pressing up/down or alt+up/alt+down.
This was really needed.
Now excuse me, but what is so difficult about adding something visual to the **Visual** Studio Code like two ar

[2019-12-03 11:59] isidorn commented on #86031
Maybe some .css rules are written to target only the vscode internal containers (just an idea, I would check css). I would search for `border-radius` css rule.

[2019-12-03 12:01] sandy081 opened #86056 "Debug view is not merged into viewlet header if it only view in debug viewlet"
Testing #85908

Debug view is not merged into viewlet header if it only view in debug viewlet

![image](https://user-images.githubusercontent.com/10746682/70049406-e94ef900-15cc-11ea-9d68-c14d30e21110.png)

[2019-12-03 12:02] udattam opened #86057 "Live coding not successful"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-12-03 12:03] aeschli opened #86058 "[html] space added to closing element"
Testing #85973

[code]

- set cursor at the end of `foo`
- insert space, space is added on the closing element as well

[2019-12-03 12:04] sandy081 commented on #86039
Assigning to @alexr00 as remote viewlet has special treatment.

[2019-12-03 12:05] fredow68 commented on #85774
@FantasySoftwareDesigns

Look at https://github.com/chrmarti/testissues/issues/52646

[2019-12-03 12:05] quanru commented on #86053
I found a way out:
![image](https://user-images.githubusercontent.com/11739753/70049711-49af5c00-1608-11ea-8e9d-b8833293d082.png)

[2019-12-03 12:05] #86053 closed

[2019-12-03 12:06] quanru commented on #86053
#34676
#12645

[2019-12-03 12:06] sandy081 commented on #86019
Ok, I can show remote (incoming) on the left and current on the right and allow user to update the current and apply changes.

[2019-12-03 12:08] sandy081 commented on #85799
https://github.com/microsoft/vscode/issues/84072

[2019-12-03 12:08] #85799 closed

[2019-12-03 12:08] alexandrudima commented on #85846
@vmittal26  Can you please do the following:
- disable all extensions
- comment out all your `settings.json`

Open a simple file, like the following `simple.ts`, where the definition lies within the same file:
[code]

Holding the control key and hovering over `MyClass` or over `sayHello` should render a preview of the definition, e.g.:
![image](https://user-images.githubusercontent.com/5047891/700

[2019-12-03 12:08] idoprz commented on #77131
Another suggestion:
Complex webviews (like graphical editors) requires much communication with the extension code. maintaining it with post messages are hard, since you need to handle callbacks, etc'.
I created an RPC library to ease this communication [https://github.com/SAP/vscode-webview-rpc-lib](vscode-webview-rpc-lib).
It could be great if it would be part of the VSCode APIs.

[2019-12-03 12:15] IllusionMH commented on #86040
This sounds like Time Travel Debugging and unfortunately it needs support from JS runtime.
AFAIK only [node-chakracore supported TTD](https://www.linux.com/news/nodejs-chakracore/) and this unfortunately there is nothing similar in V8 (and therefore Node, Chromium etc.)

[2019-12-03 12:34] alexandrudima commented on #85873
@icq4ever

I have installed the Korean input method and typing with that does not crash VS Code for me. Here is the one I have configured:

![image](https://user-images.githubusercontent.com/5047891/70051531-8ad84980-15d1-11ea-94b0-f6abb928d481.png)

Can you perhaps give more precise steps? Like what exactly are you typing?

[2019-12-03 12:34] skshahriarahmedraka opened #86059 "bug in python"
Issue Type: <b>Bug</b>

in python "None" is working but  not comming in suggestion list

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:38.728Z)
OS version: Windows_NT ia32 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 2500U with Radeon Vega Mobile Gfx   (8 x 1996)|
|GPU Status|2d_canvas: enabled<br>flash_3d

[2019-12-03 12:35] markrendle commented on #77131
Funnily enough I was just thinking this morning about a custom view of `.gitignore` files to make editing those easier. Especially when there are multiple `.gitignore` files in a project, a GUI editor might be able to incorporate all of them into a tree view, allow drag/drop between branches, generate globs by selecting multiple files to match, all sorts of things.

[2019-12-03 12:37] alexandrudima commented on #85694
@yanniszark In some Linux distributions, middle clicking is reserved for moving windows. Did you perhaps change window compositors, or have upgraded your distribution since it last worked? Does middle clicking work for you in other applications?

[2019-12-03 12:39] RobAndrewHurst opened #86060 "JSON limited to 5000 items"
Issue Type: <b>Bug</b>

Hello. I am looking to increase the symbols limit on the JSON Language Features (Extension).

I work with massive JSON files for configurations and need to better understand what layer I am in the JSON.

Please advise about how to remove the limit, or increase it.,

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:40.719Z)
OS version:

[2019-12-03 12:43] cpheps commented on #84706
I haven't seen this issue in several weeks now. I don't know if it got fixed by something else but I would feel comfortable closing the issue if there is nothing driving it.

[2019-12-03 12:47] Cellv2 commented on #85889
@sandy081 Considering this is working completely fine on VS Code (non insiders) but is broken on insiders and has worked fine on insiders in the past, do you still suggest the same thing?

[2019-12-03 12:48] vky84 commented on #12622
I need it badly too , i hope it will soon be implemented.

[2019-12-03 13:08] jrieken opened #86061 "Save All vs Save All Files"
re https://github.com/microsoft/vscode/issues/85144

There is `Files: Save All` and `Files: Save All Files` and I can't say what the difference is... I believe this has something to do with custom editors and iff I would talk about text editors, e.g "Save All Text Files'

<img width="762" alt="Screenshot 2019-12-03 at 14 06 05" src="https://user-images.githubusercontent.com/1794099/70053620-1e137e

[2019-12-03 13:09] #85908 closed

[2019-12-03 13:17] aeschli opened #86062 "Sync: Failed to sync keybindings if keybindings.json file doesn't exist"
Testing #85941

- start with fresh user data
- enable sync, check log
[code]

[2019-12-03 13:18] aeschli commented on #86062
No syncing happens until the `keybindings.json` file is created

[2019-12-03 13:19] gjsjohnmurray commented on #86009
Did you try adding this to your settings.json file?

[code]

[2019-12-03 13:19] dbaeumer opened #86063 "No activations event for file events"
Testing https://github.com/microsoft/vscode/issues/85929

We should have activation events for the provided file events (e.g. `onWillRename`, ...)

[2019-12-03 13:19] alexr00 commented on #86039
Original decision was that none of the views in the filter-view should be hide-able. Looks like I missed a spot!

[2019-12-03 13:21] isidorn opened #86064 "Tunnels: Add a Port... feedback"
#85926

I do not like how we have the Add a Port... action inline in the view. This goes against our pattern in other views and does not bring values once you have configured your ports and just takes up space.
Instead of having it always inline I suggest the following as in the WATCH view:
* Add the context menu action in the view "Add a Port..."
* Double click in empty area adds the port
* Have

[2019-12-03 13:25] David263 commented on #85853
Sorry about that. The table at page https://en.wikipedia.org/wiki/Unicode_font indicates that 'GNU Unifont' and 'GNU FreeFont' include the Devanagari block (0900–097F), and that the same two fonts also include the very short Devanagari Extended block (A8E0–A8FF). The Devanagari/transliteration website that I got that string from used the uncommon font 'Shobhika' throughout. This font is available

[2019-12-03 13:25] isidorn opened #86065 "Tunnels view: keyboard shortcuts missing"
Refs #85926

Tunnels view, keyboard focus on a forwarded port.
Cmd + backspace on Mac and Delete on Win / Linux should delete the forwarded port.

Similarly if the Open in Browser is the only "positive" primary actions space and enter should open the port in browser.
F2 could rename the port also. On mac this might be what should happen on Enter.

[2019-12-03 13:31] chrmarti commented on #86011
Looking closer, I think it merged. There was a keybinding on both platforms for the same command with different keys and that was overwritten (Mac won it seems).

This is from looking at the result now. Let me know if that doesn't make sense and I can try to reproduce.

[2019-12-03 13:32] jrieken commented on #86063
This needs to go into the textfileservice and(or?) the working copy service

[2019-12-03 13:35] isidorn opened #86066 "Tunnels view: ux polish needed on presented data"
Refs: #85926

All the data is currently presented using the same font and with no special decorations which makes the text hard to process.
Since you are not an extension I believe you have full control of the rendering and due to that I think we should polish up how we present this data. Here are some suggestions:
* Instead of the word "to" use an arrow or some icon that would represent forwardin

[2019-12-03 13:35] aeschli opened #86067 "sync settings: sync when keybindings.json is modified"
Testing #85941

- have two machines with settings sync
- open `keybindings.json` on both
- make and edit in the editor
- only on focus change (or 5 min?) the editor syncs

[2019-12-03 13:36] ultraGentle commented on #85306
Confirmed!  Much appreciated.

[2019-12-03 13:37] sandy081 commented on #86011
It merges when the incoming/outgoing changes do not conflict from their base. Please let me know if this is the case or not?

[2019-12-03 13:37] usere12 opened #86068 "Support onDidExecuteCommand"
Hello,

I am working on VS Code extension. I am using webview for my extension and I am looking into way how I can listen and implement additional logic to VSCode commands like 'undo'/'redo'.

I found that there was already feature request for "onDidExecuteCommand" support - #1431
And according to that GitHub issue it was implemented and also merged to master, but then it was removed from master -

[2019-12-03 13:37] joaomoreno commented on #85971
This is so good, I'm switching to this for self hosting.

[2019-12-03 13:38] aeschli opened #86069 "sync settings: resolve conflict complete button is too hidden"
Testing #85941

- have two machines that have settings sync
- open `keybinding.json` in both make a conflicting change
- conflict editor shows. Solve the conflicts
-  the 'resolve' checkmark is hard to find. Maybe use the blue button..

[2019-12-03 13:39] chrmarti commented on #86011
I enabled sync between platforms for the first time. What's the base in that case?

[2019-12-03 13:39] isidorn opened #86070 "Tunnels view: rename feedback"
Refs: https://github.com/microsoft/vscode/issues/85926

1. When a port has no name I find it a bit weird that the action is called Rename. Maybe it shuold be `Set Label` or something like that.
2. Once I give it a name, triggering Rename should select the whole old name (to make it easier for the user to delete the old name - we do this in Explorer).

Also Rename is a bit vague. Does Rename change

[2019-12-03 13:42] isidorn opened #86071 "Tunnels view is not multi selection aware"
Refs: https://github.com/microsoft/vscode/issues/85926

1. Use shit + click to have multiple items selected in the TUNNELS view.
2. Exectue any action, like Stop Forwarding Port -> it is executed only on one port 🐛

I suggest to either disable multi selection fully or if you have it enabled you need to respect it in all actions.

[2019-12-03 13:44] w-flame commented on #86014
I did some research and found that bug wal introduced in version 1.39

[2019-12-03 13:44] joaomoreno opened #86072 "Terminal: Switching terminal background color doesn't react appropriately"
Testing #85971

1. Open a terminal
2. Select some text
3. Open settings and change `terminal.selectionBackground` through `workbench.colorCustomizations`

- When using `canvas`, it appears the entire selection is gone
- When using `experimentalWebgl`, selected text gets cheesy and the selection background color doesn't change:

![image](https://user-images.githubusercontent.com/22350/70056198-5538

[2019-12-03 13:47] joaomoreno opened #86073 "Terminal: First row gets clipped at the top"
Related to https://github.com/microsoft/vscode/pull/84440, tested on Linux

Using `experimentalWebgl`, the very first row of my terminal is clipped by one pixel at the top. Notice the `i` dot:

![image](https://user-images.githubusercontent.com/22350/70056360-a21c3480-15db-11ea-9784-4760ec752b99.png)

Does not repro when using `canvas`.

[2019-12-03 13:47] RobertoMalatesta commented on #85753
It is set to true.

[2019-12-03 13:48] isidorn opened #86074 "Stop forwarding port still forwards the port"
Refs: https://github.com/microsoft/vscode/issues/85926

1. os x, open our [express smoke test](https://github.com/microsoft/vscode-smoketest-express) in a docker container with node10
2. npm install, open debug viewlet create a launch.json by clicking on the launch gear and press debug start
3. Forward a port 3000 to your localhost 3000. Hit the port locally and notice how you get the application

[2019-12-03 13:48] kbernard-fiveco opened #86075 "Tab completion until next delimiter"
Wouldn’t it be interesting to have a feature "tab completion until next delimiter" ?

Let's take an example :
In "settings.json", if you type "edi" and you toggle intellisense, it will propose : editor.acceptSuggestionOnCommitCharacter / editor.acceptSuggestionOnEnter / etc.
Actually I want to access "editor.minimap", so I have to manually complete "editor" and start typing "minimap" to finally ha

[2019-12-03 13:49] aeschli commented on #86067
Same problem with `settings.json`. I need to remove the focus for that the settings changes are pushed.

[2019-12-03 13:50] isidorn opened #86076 "Focus on Tunnels View from command palette has no effect"
Refs: https://github.com/microsoft/vscode/issues/85926

1. Connect to a remote, have the tunnels view visible in your remote viewlet
2. F1 > Focus on Tunnels View. No effect 🐛

[2019-12-03 13:55] aeschli opened #86077 "sync settings: initial settings are lost when enabling `sync.keybindingsPerPlatform`"
Testing #85941

- have a windows and a linux machines that have settings sync
- put different keybindings on both
- on the one machine add `  "sync.keybindingsPerPlatform": false` to the settings, change focus
- on the other machine the existing `keybindings.json` file is overwritten
-> should be a conflict

[2019-12-03 13:55] joaomoreno opened #86078 "JSONC: Completion inserts one extra double quote"
In our settings editor, put cursor in `|`:

[code]

Trigger suggest and select any option, like `"canvas"`, end result will have a double double quote:

[code]

[2019-12-03 13:56] Souravgoswami commented on #86009
That works, thank you very much!

[2019-12-03 13:56] #86009 closed

[2019-12-03 13:58] gjsjohnmurray commented on #86077
See also #86011

[2019-12-03 13:58] yanniszark commented on #85694
@alexandrudima thanks for the response!
I'm working on Ubuntu 18.04.
This is the output of `lsb_release -a`:
[code]

In Jetbrains Goland, vertical selection with middle click works as expected.

[2019-12-03 14:03] joaomoreno opened #86079 "Terminal: Characters escape their background color"
Testing #85971

Notice the following WebGL screenshot of the [truecolor-test](https://unix.stackexchange.com/questions/404414/print-true-color-24-bit-test-pattern/404415#404415):

WebGL:

![image](https://user-images.githubusercontent.com/22350/70057549-a0ec0700-15dd-11ea-849f-8161f05be494.png)

Canvas:

![image](https://user-images.githubusercontent.com/22350/70057572-ac3f3280-15dd-11ea-8669-9994

[2019-12-03 14:04] isidorn opened #86080 "Hovers show extension and unnecesery extension reason"
Refs: #85933

Setup eslint as specified in #85933
Hover over an extra semicolon. Notice that the hover says `eslint` which makes sense such that the user is aware from what extension the error message is coming. However I do not understand why we also say `(no-extra-semi)`. Why would a user care about this? It just feels to me like clutter since the message from the extension should be explanatory

[2019-12-03 14:06] gjsjohnmurray commented on #86059
/needsMoreInfo

Please provide detailed steps on how to reproduce this. Screenshots may be useful (e.g. from Snipping Tool on Windows). They can be pasted directly into GH from your clipboard.

[2019-12-03 14:06] joaomoreno opened #86081 "Terminal: Reducing terminal font size crops terminal content"
Testing #85971

Repros both on canvas and webgl:

1. Open terminal, fill it with output
2. Reduce terminal font size

Terminal content will be _clipped_ at the top:

![image](https://user-images.githubusercontent.com/22350/70058008-6cc51600-15de-11ea-9b52-b8068fbf8306.png)

It fixes itself as soon as I resize the panel

[2019-12-03 14:07] gjsjohnmurray commented on #86057
/needsMoreInfo

Please review what you posted (see above) and add information.

[2019-12-03 14:11] dbaeumer commented on #86080
This is actually as designed since a lot of users using eslint ask for embedding the code to know which setting to use to enable / disable the rule.

The extension actually sets the code of a diagnostic. If we want to change this VS code should have a setting to not show the code.

@sandy081 please speak up if you think such a setting makes sense.

I will close the issue as designed since it is ac

[2019-12-03 14:11] #86080 closed

[2019-12-03 14:11] joaomoreno commented on #85971
@Tyriar Fantastic work here, really works great! :clap:

Some perf numbers, running `tree -a` in vscode with canvas:

[code]

When running with webgl:

[code]

2s down to 1.5s, that's very impressive.

[2019-12-03 14:13] #85875 closed

[2019-12-03 14:14] #85541 closed

[2019-12-03 14:15] isidorn commented on #86080
Ok, this makes sense to make it easier for the rules to be discovered.
I was not seeing any value in showing it, thus I complained, but I was wrong.
I do not think this shuold be configurable unless more users complain.

[2019-12-03 14:21] baybal commented on #85823
[code]

[2019-12-03 14:22] sandy081 commented on #86011
When you enabled sync across platforms for the first time ever then its base and remote are null. So local wins and uploaded to remote.
When you enabled sync across platform on another machine for the first time (but not first time ever) then base should be null and remote should be the latest on the server.

[2019-12-03 14:23] joaomoreno opened #86082 "Sync: Review UX behind turning on/off"
Testing https://github.com/microsoft/vscode/issues/85944

I already raised this concern before, let's just have it in an issue:

I believe that allowing the user to turn Sync on/off is an anti-pattern. Just like Edge or my Android phone, sync just works, without me enabling/disabling it.

The current approach also has ambiguous command labels like `Sync: Turn On`... like what does this mean? If I

[2019-12-03 14:24] meghandownes commented on #57488
Thank you for the topic.  I was able to solve my problem (I did not load askpass first) and this posting straightened me out. Thank you! Ubuntu 19.10

[2019-12-03 14:24] jrieken commented on #86043
Yes - that a known bug that we cannot fix anymore as too many extension are relying on the "wrong" encoding.

[2019-12-03 14:24] #86043 closed

[2019-12-03 14:26] jrieken commented on #86068
Sorry, no. See this more explanation: https://github.com/microsoft/vscode/issues/78091#issuecomment-518545491

[2019-12-03 14:26] #86068 closed

[2019-12-03 14:26] alexr00 commented on #86064
Good feedback, thank you!

[2019-12-03 14:26] joaomoreno opened #86083 "Sync: Have an option to copy the Sign In link"
Testing #85944

In my weird setup, Code can't really open links in the system browser. When I chose `Sync: Turn On`, a popup came up asking me to sign in. I clicked `Sign In`, the browser failed to open. The opener service should be used here, which will give the user the chance to copy the link instead.

[2019-12-03 14:27] jrieken commented on #1431
We have decided against this API: https://github.com/microsoft/vscode/issues/78091#issuecomment-518545491

[2019-12-03 14:28] alexandrudima opened #86084 "No squiggle when @use file is missing in SCSS"
Testing #85979

* Create a new folder with a single file `test.scss` with the contents:
[code]
* I would expect a squiggle if I point to a module that does not exist on disk.

[2019-12-03 14:30] alexandrudima opened #86085 "Go to definition across modules in SCSS does not work"
Testing #85979

* Create a file `provider.scss`:
[code]

* Create a file `consumer.scss`:
[code]

In file `provider.scss` executing jump to definition on `gradient-striped` will correctly jump to the mixin declaration location. But when trying the same in file `consumer.scss`, nothing happens.

[2019-12-03 14:32] isidorn commented on #85933
Works nicely. I also set it up for our VS Code repo. I tested on macOS.

[2019-12-03 14:32] jrieken opened #86086 "Unhappy "Run Java" experience"
re https://github.com/microsoft/vscode/issues/85774

* open java-12 dev container
* rename .vscode folder to .vscode-off
* open debug viewlet, select "Run with Java"
* 🐛 no run... there is a progress message about generating configuration and a launch.json file is shown but that is all...

[2019-12-03 14:33] alexr00 commented on #86070
"Port Name" is a holdover from SSH, where they call it a "name". Label makes sense to me. I've also gotten feedback though that it should be "Rename" to match how explorer works. I'm leaning more towards always having "Set Label" as it is the clearest to me.

[2019-12-03 14:34] dbaeumer commented on #85929
Worked nicely for me. I tested under Windows.

[2019-12-03 14:36] alexr00 commented on #85753
Can you share your tasks.json if you have one and all of your settings.json files?

[2019-12-03 14:38] DanTup opened #86087 "Add a SaveAll event for extensions to listen for"
This was previously raised in #80868 but I don't believe the workarounds work. I thought the `onDidExecuteCommand` might help, but that's been pulled.

The use case is to support "hot reload on save". The user makes changes, hits Save, and we want to reload all the changes into a running application.

The problem with just doing this on-save, is that Save All will trigger multiple requests. The fi

[2019-12-03 14:39] joaomoreno opened #86088 "Sync: Notification after start"
Testing #85944

As soon as I chose what to sync I got this notification:

![image](https://user-images.githubusercontent.com/22350/70060514-fbd42d00-15e2-11ea-8ff9-44b7655e1f2c.png)

Is it really needed? Shouldn't sync have its own status bar contribution where I could click and see its status, instead? As soon as I close that notification, there's nothing in VS Code telling me that I'm all _synce

[2019-12-03 14:41] joaomoreno opened #86089 "Sync: Turning Sync back on asks for what to sync again"
Testing #85944

Should we really ask the user again what they want to sync, once they re-enable sync?

![image](https://user-images.githubusercontent.com/22350/70060709-54a3c580-15e3-11ea-9771-58e1469faa27.png)

[2019-12-03 14:42] DanTup commented on #86043
@jrieken are there any plans to address this in some other way? It feels weird to have to do manual replacements on URIs all over the place for expected behaviour (probably extensions will end up making their own class). Couldn't it be solved with a flag on the object, so we can opt-in to "correct" behaviour?

[2019-12-03 14:44] joaomoreno opened #86090 "Sync: Improve sync output"
Testing https://github.com/microsoft/vscode/issues/85944

I'd like to see the following data when looking into the sync log:

- Duration of each sync operation
- Amount of settings/keybindings/snippets synced each call

![image](https://user-images.githubusercontent.com/22350/70060794-7a30cf00-15e3-11ea-93eb-d9027957e973.png)

[2019-12-03 14:44] anteburazer commented on #85687
New version works more reliably. Didn't notice that update is available because VS Code didn't prompt me to update. Also manual update didn't work.

So far v1.40.2 is more stable.

[2019-12-03 14:46] joaomoreno opened #86091 "Sync: Improve sync triggers"
Testing https://github.com/microsoft/vscode/issues/85944

Sync should happen when I edit the settings file. Right now when I edit it nothing really happens. If I switch to another app and then back, sync happens. This feels pretty strange.

[2019-12-03 14:47] alexandrudima commented on #85694
Thanks for your quick reply.

VS Code is built with Electron, which is built with Chromium. Can you please try opening https://vscode-web-test-playground.azurewebsites.net (it might take a long time to load) in Chromium on the same machine? Does using the middle mouse button work there?

[2019-12-03 14:49] alexr00 commented on #83523
The breakpoint is hit but the issue still happens. It only seems to happen when I have just created the workspace file:
- Open a folder
- Have a launch.json with something in it so the new debug getting started view is gone
- Save workspace as
- Add a launch configuration in the .code-workspace file
- The break point gets hit after saving the file
- The drop down still doesn't update with the new

[2019-12-03 14:53] joaomoreno commented on #86082
Also minor: the sign out command is simply `Sign Out`, it should be `Sync: Sign Out`.

[2019-12-03 14:54] DutchBlackOp opened #86092 "Previously opened tabs are lost when opening code through the file explorer -> right click file -> open with code"
1. I close Visual studio code while there are saved tabs open in code.
2. I open the file explorer and select a file.
3. Right click the file and select "open with code"
4. The saved tabs that were open in visual studio code are not there. (only the new file is visible)
4(expected). The saved tabs are open and the new file is open in visual studio code.

[2019-12-03 15:01] weinand commented on #85324
saw the same while testing https://github.com/microsoft/vscode/issues/85984

[2019-12-03 15:04] #86078 closed

[2019-12-03 15:04] yanniszark commented on #85694
@alexandrudima I loaded the web page and the middle click vertical select still doesn't work.
When I try to select vertically, it just selects normally.
Also, middle click for paste works.

[2019-12-03 15:04] alexandrudima commented on #85058
@sbatten IMHO I think evaluation is "too late".

I would tackle this specific issue in the following way:
- introduce the concept of a constant context key registry.
- e.g. on macs, we can register the following constants: `isMac: true`, `isWindows: false`, `isLinux: false`
- then, add support for this constant context key registry in all the `ContextKey*Expr.create` methods.
- e.g. calling `Conte

[2019-12-03 15:05] phatmann opened #86093 "Integrate ErrorLens functionality"
Issue Type: <b>Feature Request</b>

The ErrorLens extension shows code errors inline. This is so intensely helpful and useful that it should be part of VSCode itself.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:52:45.129Z)
OS version: Darwin x64 19.0.0

[2019-12-03 15:07] joaomoreno commented on #86082
Also: should it really be a global notification (in the gear icon) that you're not signed in? That's another reason to drop the whole user controlled toggle.

[2019-12-03 15:08] alexandrudima commented on #85694
Aha! Thanks for the last extra detail to jog my memory. Indeed, the middle mouse button by default will paste the selection clipboard on Linux. You can disable that via `"editor.selectionClipboard": false`. Once the selection clipboard is disabled, the middle mouse button can be used for column selection.

[2019-12-03 15:09] joaomoreno opened #86094 "Sync: Failed to sync keybindings if keybindings.json file doesn't exist"
Testing https://github.com/microsoft/vscode/issues/85944

After running a second instance pointing to a fresh user data dir, settings were successfully synced but then this appeared in the logs:

[code]

Also, extensions didn't get synced at all... I wonder if it's because the whole sync process stopped in this error?

[2019-12-03 15:10] chrmarti opened #86095 "Token theming: Last rule wins?"
Testing #85972

With the rules:
[code]

It appears the last one wins except when changing the order of the two rules.

![Dec-03-2019 16-10-07](https://user-images.githubusercontent.com/9205389/70063012-68512b00-15e7-11ea-810b-d225c2d0f724.gif)

[2019-12-03 15:10] joaomoreno commented on #86094
After I created an empty file `/tmp/tmp.DEqspUHO2E/User/keybindings.json`, I got these errors:

[code]

[2019-12-03 15:11] joaomoreno commented on #86094
Once I set that file's contents to `[]`, everything worked, including extensions syncing.

[2019-12-03 15:12] joaomoreno opened #86096 "Sync: Decouple sync areas"
From https://github.com/microsoft/vscode/issues/86094, testing https://github.com/microsoft/vscode/issues/85944

Right now extensions fail to sync when there's an error syncing keybindings. All synchronization areas should be decoupled from each other.

[2019-12-03 15:12] joaomoreno commented on #86094
Created https://github.com/microsoft/vscode/issues/86096 to address this

[2019-12-03 15:12] yanniszark commented on #85694
@alexandrudima yes that was it!
Thanks a lot for the help!
I can now go back to my favorite editor :smile:

[2019-12-03 15:14] joaomoreno opened #86097 "Sync: Theme failed to apply"
Testing https://github.com/microsoft/vscode/issues/85944

Due to https://github.com/microsoft/vscode/issues/86096, my settings were synced first and only then my extensions. Once everything was synced, my theme still did not apply. I had to reload the window to have it applied.

[2019-12-03 15:16] isidorn commented on #86086
This is up to the Java extension, they can handle the No Workspace Run however the extension wants. Due to that I have moved this issue to the java repository https://github.com/microsoft/vscode-java-debug/issues/724

[2019-12-03 15:16] #86086 closed

[2019-12-03 15:16] noam-honig commented on #85937
This also happens to me when I use kill terminal to kill other npm tasks. for example git push

[2019-12-03 15:20] alexandrudima commented on #85620
@Barugon I have tried with the file at https://github.com/Barugon/CotA/blob/5baf3fdc0beef31e1a8c8bd2cb0afe7f4f65f4bd/thread_pool/src/lib.rs

But for me, when I place the cursor on line 124, the bracket highlights are correct:
![image](https://user-images.githubusercontent.com/5047891/70063864-caf6f680-15e8-11ea-993a-8e910604b19c.png)

[2019-12-03 15:21] #85694 closed

[2019-12-03 15:21] chrmarti opened #86098 "pwa-node: Missing newline in debug console on restart"
Testing #85984

There are one or two newlines missing after the exit code:

![image](https://user-images.githubusercontent.com/9205389/70063889-d77b4f00-15e8-11ea-8178-05c7a1ba6c0b.png)

[2019-12-03 15:26] alexr00 commented on #85937
Thanks for the additional details! You're seeing https://github.com/microsoft/vscode/issues/71966. Until it's fixed or until there's a better work around, you can try setting `terminal.integrated.windowsEnableConpty` to false. This will cause other problems, but it should stop the freezing.

[2019-12-03 15:26] #85937 closed

[2019-12-03 15:27] weinand commented on #85984
After 5 hours of testing vscode-pwa with **node.js** and **extension debugging** I've decided to stop because I had reached the Complexity level of 4.
I suggest that the other testers start with **Chrome testing**.

[2019-12-03 15:29] joaomoreno opened #86099 "Sync: Stuck in "conflict mode""
Testing: https://github.com/microsoft/vscode/issues/85944

I have two instances open. On one window I changed font size to 20, on another to 25. One got the conflict.

Issue #1: I resolved the conflict... by resolving I just set font size back to 14. The editor didn't update the font size at all. The font size isn't respected any more on that window, no matter what value I set it to. If I reload t

[2019-12-03 15:29] joaomoreno commented on #86090
Also typo:

[code]

[2019-12-03 15:31] aeschli opened #86100 "Endless download save dialogs"
Version: 1.41.0-insider (user setup)
Commit: 97855786a014be2440751b038b373c3726e11fe8
Date: 2019-12-03T05:40:39.806Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.17134

- open a remote WSL window
- clone https://github.com/eclipse/eclipse.jdt.ui.git
- select `org.eclipse.jdt.text.tests/src/org/eclipse/jdt/text` and choose `Download` from t

[2019-12-03 15:32] chrmarti opened #86101 "Extension editor overflows into Terminal"
Issue Type: <b>Bug</b>

![image](https://user-images.githubusercontent.com/9205389/70064811-6b99e600-15ea-11ea-9c36-4e53f1d4c5d4.png)

VS Code version: Code - Insiders 1.41.0-insider (97855786a014be2440751b038b373c3726e11fe8, 2019-12-03T05:40:39.806Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20

[2019-12-03 15:33] alexandrudima commented on #85847
I have removed the console logs

[2019-12-03 15:33] #85847 closed

[2019-12-03 15:36] #83523 closed

[2019-12-03 15:36] isidorn commented on #83523
Good steps, thanks.

[2019-12-03 15:37] KevinGuancheDarias opened #86102 "Remote-Containers: git clone no such device or address"
- VSCode Version: **1.40.2**
- OS Version: Windows **7**

# Summary:
git cloning a private repository using **GIT_TOKEN** env var doesn't work when used inside `"postCreateCommand"` property

# Steps to Reproduce:

1. Create a private repository in Github
2. Create PAT and put it in .env file as GIT_TOKEN=token_value
3. Pass the env file to docker in the runArgs
4. Build the container from whitin

[2019-12-03 15:37] gjsjohnmurray commented on #86101
Looks like #83209

[2019-12-03 15:38] isidorn commented on #86100
The cancel should cancel all the download dialogs, to get out of this bad experience.
As for a better suggested name - I believe there is already an issue for this. And that I can tackle separatly.

[2019-12-03 15:40] aeschli commented on #86100
I had `"explorer.compactFolders": true`, not sure if this relevant

[2019-12-03 15:41] isidorn commented on #82291
Works for me. Might be a bit too strong for my personal taste, though I understand it is configurable. Adding verified label

![Screenshot 2019-12-03 at 16 41 12](https://user-images.githubusercontent.com/1926584/70065669-c849d080-15eb-11ea-941a-cdc74513957f.png)

[2019-12-03 15:42] aeschli opened #86103 "Compact folders: Context menu actions not selection aware"
Testing #85928

- open a remote WSL window
- clone https://github.com/eclipse/eclipse.jdt.ui.git
- set `"explorer.compactFolders": true`
- in the explorer, move the mouse over `org.eclipse.jdt.junit.runtime/src/org/eclipse/jdt/` (underline appears) and pick `Copy Relative Path` from the context menu

The path copied is `org.eclipse.jdt.junit.runtime/src/org/eclipse/jdt/internal/junit/runner`

Same

[2019-12-03 15:42] noeltdolan opened #86104 "ssh - only able to open one file at a time"
- VSCode Version: 1.40.1
- OS Version: Mac Mojave and Windows 10

Steps to Reproduce:

1. Connect to remote server via ssh
2. Navigate to first file
3. Open.
4. Navigate to second file
5. Open
6. Result first file closes.

Works correctly on version 1.38.1  using remote ssh extension.

[2019-12-03 15:43] isidorn commented on #86100
Should not be relevant.

[2019-12-03 15:46] aeschli commented on #86103
Works when using keyboard and Shift + F10

[2019-12-03 15:48] anthonykozak opened #86105 "Accessibility Support is breaking the magnifiers caret following"
- VSCode Version: 1.40.2
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Open VS Code and the windows magnifier app (type "magnify" in windows menu)
2. In Magnify settings, check the options to follow keyboard input
3. In VS Code, create a new file, type several lines of text, then play with the arrow keys to move the caret backward and upward, notice how the magnifier is following properly.

[2019-12-03 15:49] octref commented on #85976
I swapped with Isi for #85994.

[2019-12-03 15:50] aeschli opened #86106 "Compact folder: Shift + F12 changes the selection"
Testing #85928

Ubuntu and Windows with WSL

- clone https://github.com/eclipse/eclipse.jdt.ui.git
- set "explorer.compactFolders": true
- use the keyboard to navigate to `org.eclipse.jdt.junit/src` (underline shows)
- Shift + F12 to show the context menu. Note that the underline is now at `org.eclipse.jdt.junit/src/org/eclipse/jdt`

[2019-12-03 15:51] anthonykozak opened #86107 "Magnifiers caret following is not working in the Terminal view"
- VSCode Version: 1.40.2
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Open VS Code and the windows magnifier app (type "magnify" in windows menu)
2. In Magnify settings, check the options to follow keyboard input
3. In VS Code, create a new file, type several lines of text, notice how the magnifier is following properly.
4. Open a terminal view (PowerShell or CMD), and type text, notice h

[2019-12-03 15:55] sandy081 commented on #86094
/duplicate

[2019-12-03 15:55] #86094 closed

[2019-12-03 15:56] sandy081 commented on #86094
https://github.com/microsoft/vscode/issues/86062

[2019-12-03 15:57] sandy081 commented on #86096
Yeah, currently failure in one sync area stops others. This should be independent.

[2019-12-03 15:59] sandy081 commented on #86083
Auth related, assigning to @RMacfarlane

[2019-12-03 16:04] sandy081 commented on #86088
Is not that it is always synced once it is turned on and not sure how helpful the status is in such case. I think it is important for user to know when there is an action to be taken like resolving conflicts or sign in required.

[2019-12-03 16:04] sandy081 commented on #86088
Regarding the notification, I thought it will help user to know that sync has started. But I am open to remove this.

[2019-12-03 16:06] isidorn opened #86108 "Electron 7: out of source debugging - source maps not discovered"
Refs: https://github.com/microsoft/vscode/issues/85994

macOS

1. `scripts/code.sh`
2. F1 > developer tools > set a breakpoint
3. There are no `.ts` files, only javascript files even though I have source maps enabled in the chrome dev tools configuration

This works fine when I run with the previous Electron.

[2019-12-03 16:13] solomatov opened #86109 "Command (and other callback) exceptions should be reported to the debug console"
When exception happens during command execution, nothing is printed anywhere, and it's pretty hard to understand what's going on.

What do you think about catching exceptions on the extension/vscode boundary, and reporting them into the console? If you are ok, then would you be open to accepting PRs adding such reporting?

[2019-12-03 16:14] #85561 closed

[2019-12-03 16:14] #85562 closed

[2019-12-03 16:18] jrieken commented on #86043
@jrieken are there any plans to address this in some other way?

The general answer is "no" (see https://github.com/microsoft/vscode/issues/83645) but it depends on your use-case

[2019-12-03 16:20] byyxx128 commented on #85869
Great, seems you found the real reason (not related to a specific language).
Waiting for the new insider release to confirm...

[2019-12-03 16:22] jrieken opened #86111 "Create launch.json not tabable"
re https://github.com/microsoft/vscode/issues/85774

* open simple debug viewlet
* move focus onto a Botton
* press tab to move focus
* :bug: focus skips the "create ..."-link

<img width="525" alt="Screenshot 2019-12-03 at 17 21 34" src="https://user-images.githubusercontent.com/1794099/70069118-8ae84180-15f1-11ea-9787-264a5bde6e57.png">

[2019-12-03 16:32] jrieken opened #86112 "Viewlet flicker when launch fails"
re https://github.com/microsoft/vscode/issues/85774

* use node-12 dev container
* "forget" to run `npm i`
* press "Run with Node.js"
* the viewlet immediately changes to complex mode and then quickly changes back because launching failed
* I'd say it would be better to wait until launching was successful

![Dec-03-2019 17-29-58](https://user-images.githubusercontent.com/1794099/70069903-dc450080-

[2019-12-03 16:34] jrieken opened #86113 "Strange casing with "Debug And Run""
re #85774

I'd say it should be "Debug and Run" maybe "Debug & Run"

[2019-12-03 16:35] ghuser commented on #59679
@bpasero is there any further feedback needed for this issue? I think now it is reproducible.
As `@pascollin` verified:

`node_modules` is by default on the watch exclusion list, so no inotify watches should be added for that directory.
Since `node_modules` usually contains thousands of files this seems to be causing the exhaustion of inotify watches (one watch per file).

[2019-12-03 16:40] Tyriar commented on #85971
@joaomoreno good to hear! For these types of commands the webgl renderer ends up rendering _more_ frames with less CPU time too 🙂, less rendering time = more parsing time.

[2019-12-03 16:40] misolori commented on #85988
@isidorn sorry I should've clarified, when I said "custom" I meant that all dropdowns now use the chevron as the "custom" icon:

![image](https://user-images.githubusercontent.com/35271042/70070446-7c296c80-15a8-11ea-8d8e-777bcac1949e.png)

As opposed to the native one:

![image](https://user-images.githubusercontent.com/35271042/70070515-96fbe100-15a8-11ea-96d1-dcee673b4124.png)

[2019-12-03 16:44] Tyriar commented on #85716
@sandy081 I see plenty of settings files organized like mine when I ask people for settings. Is the problem implementing the merge algorithm, perhaps we could leverage git if it's available to do the merge for us?

[2019-12-03 16:45] connor4312 commented on #85966
Using the DOM renderer on Lubuntu 19.10, the contrast ratio does not apply to the truecolor test:

![image](https://user-images.githubusercontent.com/2230985/70070851-23a69f00-15a9-11ea-97e5-0fa097ef4176.png)

Canvas and webgl work, and dom works with the default palette color

![image](https://user-images.githubusercontent.com/2230985/70070907-42a53100-15a9-11ea-9869-b2f89e3c90a0.png)

[2019-12-03 16:45] opensas commented on #32581
Hate to be one of those 'me too' guys, but I'm also waiting for this to be merged. Minimap is prety useful WHEN yo need it, but with the current implementation it always ends up eating precious screen space, setting the opacity level would be great, on mouse over it could come back without opacity...

[2019-12-03 16:46] #85774 closed

[2019-12-03 16:46] Tyriar commented on #86073
This might be https://github.com/microsoft/vscode/issues/84432

[2019-12-03 16:47] Tyriar commented on #86073
Can you share font and related settings you have?

[2019-12-03 16:48] Tyriar commented on #85966
@connor4312 can you create an issue? Maybe I missed a case

[2019-12-03 16:50] DanTup commented on #86043
The place I hit this was `asExternalUri`. If that will be updated to use a compliant URL (I presume it would if `openExternal` is), then I think that solve the place I've had to put custom replaces. However the issue that's linked to is closed and links back to that issue, so it's not clear whether that's still the plan?

[2019-12-03 16:53] jrieken commented on #84045
Verified tho I have noticed that this makes the call stack view quite nervous - I believe that's because the hide the filename and line/column information on hover

[2019-12-03 16:54] jrieken commented on #86043
https://github.com/microsoft/vscode/issues/85930

[2019-12-03 16:57] Tyriar commented on #86072
@joaomoreno I think the canvas case is fine as opaque selections don't work, I was thinking about forcing opacity when using canvas/dom to help with this https://github.com/xtermjs/xterm.js/issues/2594

Upstream for webgl: https://github.com/xtermjs/xterm.js/issues/2595

[2019-12-03 17:00] Tyriar opened #86114 "DOM renderer doesn't apply min contrast ratio to true color cells"
https://github.com/xtermjs/xterm.js/issues/2593

[2019-12-03 17:01] jrieken commented on #83834
To verify: have a snippet with prefix "foo" and insert it at '|foo', 'f|oo', and 'foo|'. Insert via tab and shift+tab to toggle between insert and replace mode

[2019-12-03 17:08] Tyriar commented on #86079
Same root cause as https://github.com/microsoft/vscode/issues/86081

/duplicate

[2019-12-03 17:08] #86079 closed

[2019-12-03 17:12] weinand opened #86115 "Node debugging doesn't work in Web UI"
testing https://github.com/microsoft/vscode/issues/85988:

When trying to debug a node.js program I get this error dialog:

![2019-12-03_18-11-28](https://user-images.githubusercontent.com/1898161/70073102-8ecb9200-15f8-11ea-8db1-f86c1f71eae8.png)

and the DevTools console shows this:

![2019-12-03_18-11-51](https://user-images.githubusercontent.com/1898161/70073121-9a1ebd80-15f8-11ea-9f2d-1f15081

[2019-12-03 17:18] Tyriar opened #86116 "Go to References with a single reference could cause confusion"
Testing https://github.com/microsoft/vscode/issues/85925

It's strange when there is only a single reference that nothing happens except for (maybe) moving the cursor to the start of the symbol:

<img width="108" alt="Screen Shot 2019-12-03 at 9 14 46 AM" src="https://user-images.githubusercontent.com/2193314/70073287-6b2f2a00-15ad-11ea-9290-8a9ec00e9bcf.png">

shift+f12

<img width="102" alt="Scr

[2019-12-03 17:18] Barugon commented on #85620
@alexandrudima
I disabled the rust-lang extension and it works correctly. This is their issue so I'm closing this one.

[2019-12-03 17:18] #85620 closed

[2019-12-03 17:20] pranshuchittora opened #86117 "[Bug]Terminal: garbage characters on scroll after running child_process"
**Description**
Demo Video => [https://youtu.be/HXlDxt4kaMo](https://youtu.be/HXlDxt4kaMo)
I know this is a crazy scenario, but it must be resolved. I ran a node process which include a child_process in the code's terminal instance. After running I saw some weird characters on scrolling.

[code]
Steps to Reproduce:
(Install [htop](https://hisham.hm/htop/) if you don't have)
1. Create a new `.js` f

[2019-12-03 17:20] misolori opened #86118 "Opening search results in editor should not create duplicate tabs if results are unchanged"
Testing #85965

1. Create a search result
2. Click "open results in editor"
3. Click "open results in editor" again
4. 🐛 The same results keep opening in a new tab
![image](https://user-images.githubusercontent.com/35271042/70073469-d416a200-15ad-11ea-9c8f-7c347e6d6374.png)

Similar to the builtin Markdown preview extension, we should not duplicate the results in a new tab if they are the same res

[2019-12-03 17:21] alexandrudima commented on #85853
The upstream issue I have reported to Chromium regarding the rendering of `nūta॑nairu॒ta` at https://bugs.chromium.org/p/chromium/issues/detail?id=1029992 has been closed as won't fix. Since this issue was a tracking issue for their issue, I will close it now.

@David263

Editor text rendering is delegated to Chromium. If you find text rendering to be flawed in any way, please create a fiddle at h

[2019-12-03 17:21] #85853 closed

[2019-12-03 17:21] jedwards1211 opened #86119 "[API Docs] Incorrect withProgress type signatures in docs"
The API Docs website says the type signature is
[code]

However, the real signature has `Progress<{increment?: number | undefined, message?: number | undefined}>`.

It seems there's a bug in whatever code is used to generate the docs.

[2019-12-03 17:21] weinand opened #86120 "Web UI: application menu is empty"
While testing https://github.com/microsoft/vscode/issues/85988:

The application menu is empty in Chrome:

![2019-12-03_18-20-58](https://user-images.githubusercontent.com/1898161/70073716-b1aa7600-15f9-11ea-81a7-820c02281f81.png)

It works fine in Firefox

[2019-12-03 17:21] Tyriar opened #86121 "Extra quote is added when completing settings"
Testing https://github.com/microsoft/vscode/issues/85925

I have this set:

[code]

In settings with the following state:

<img width="62" alt="Screen Shot 2019-12-03 at 9 19 26 AM" src="https://user-images.githubusercontent.com/2193314/70073592-0de7a880-15ae-11ea-8d8e-7b659a445616.png">

Type "go" and trigger intellisense:

<img width="161" alt="Screen Shot 2019-12-03 at 9 19 36 AM" src="https://

[2019-12-03 17:23] gloss-water commented on #32581
@opensas at this point the feature has been PR'd multiple times over the last couple years, with varying methods of implementing it.  the PRs get ignored each time, the [only real response i've seen so far](https://github.com/microsoft/vscode/pull/58324#issuecomment-420343521) isn't particularly promising or helpful for moving forward either

[2019-12-03 17:23] Tyriar commented on #86121
Consider fixing for November, think it's a regression

[2019-12-03 17:24] #85925 closed

[2019-12-03 17:24] weinand commented on #86115
The Web UI uses the `.vscode-remote` folder which contained some obsolete extensions that introduced the `toggleAutoAttach` command.
Emptying that folder made the problem disappear.

[2019-12-03 17:24] #86115 closed

[2019-12-03 17:25] David263 commented on #85853
Alexandru, Thank you for your help.

Two things:

1. How do I create a fiddle that changes the font used by VSC, and runs VSC?

2. Please answer the question I asked at the end of my previous posting.

Thanks,
David

On 12/3/2019 12:21 PM, Alexandru Dima wrote:

[2019-12-03 17:25] jedwards1211 commented on #83991
I just started building an extension that uses `withProgress` and it's taking the progress bar several seconds to move, even when I'm reporting progress updates continuously.  I'm pretty sure something is wrong with it

[2019-12-03 17:25] JacksonKearl commented on #85994
I'm only seeing recent builds for Windows, should I work from the month old linux build or will you be triggering another build?

[2019-12-03 17:26] David263 commented on #85853
In other words, do I create one or three Chromium bug reports?

[2019-12-03 17:27] jrieken opened #86122 "Print a warning when completion provider change the insert behaviour during resolve"
This is one outcome from https://github.com/microsoft/vscode/issues/85741 and about a message (and telemetry?) that we should show whenever a `CompletionItemProvider` changes an item so that its insert, sorting, or filtering behaviour would change. E.g. only detail and description should be filled in. When command and/or additional edits are added that's also bad but less bad than changing range o

[2019-12-03 17:31] connor4312 commented on #85971
Seems to work well! I noticed the "hidden" style also isn't supported. Other than that, seems to behave well on Windows.

Color test script if others find it useful:

[code]

And naughty strings: https://github.com/minimaxir/big-list-of-naughty-strings/blob/master/blns.txt

[2019-12-03 17:34] JacksonKearl opened #86123 "Call hierarchy duplicate entries"
testing #85924

- VSCode Version: 1.41.0-insider (9785578)
- OS Version: macOS Mojave

Steps to Reproduce:

1. https://github.com/jrieken/demo-callhierarchy
2. open sample/test.abc
3. show or peek call hierarchy

![image](https://user-images.githubusercontent.com/8586769/70074634-f27d9d00-15af-11ea-8c2f-939d805a6c88.png)

Not sure if this is from the extension or what but definitely unexpected.

D

[2019-12-03 17:36] jrieken commented on #86123
I'd say that's my dummy extension... I will take a look but you can double check with the other (better) sample that we have

[2019-12-03 17:38] #85988 closed

[2019-12-03 17:38] jrieken commented on #85967
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2019-12-03 17:38] Tyriar opened #86124 "Semantic tokens proposed API lacks a link to the tracking issue"
Testing https://github.com/microsoft/vscode/issues/85976

https://github.com/microsoft/vscode/blob/3c1508c227a0a4a7a10d56e9365b0f5f5d532749/src/vs/vscode.proposed.d.ts#L71

New format for the regions:

https://github.com/microsoft/vscode/blob/3c1508c227a0a4a7a10d56e9365b0f5f5d532749/src/vs/vscode.proposed.d.ts#L548

[2019-12-03 17:38] JacksonKearl opened #86125 "nonintuitive iconage in call heiarchy"
testing #85924

![image](https://user-images.githubusercontent.com/8586769/70074864-759ef300-15b0-11ea-8872-6c4c966793bc.png)

The "refresh" icon on the tree items makes me think it will reload the results of that node, especially as we use the icon to do the same in the top acton bar. I think using the "Show incoming/outgoing calls" icon would make more sense.

[2019-12-03 17:41] jrieken commented on #86125
@misolori Do you have a suggestion? I was considering the "phone handle icon" that we use to toggle the call hierarchy direction.

[2019-12-03 17:44] isidorn commented on #85994
I talked to @deepak1556 and he is triggering newer builds as we speak.

[2019-12-03 17:44] weinand opened #86126 "Breakpoints show up as white in Firefox"
testing https://github.com/microsoft/vscode/issues/85988:

When debugging in the Web UI on Firefox breakpoints are white and misaligned:

![2019-12-03_18-41-06](https://user-images.githubusercontent.com/1898161/70075300-cb00f180-15fc-11ea-97e9-684d85f7a2f3.png)

In Chrome they look ok:

![2019-12-03_18-39-52](https://user-images.githubusercontent.com/1898161/70075321-d5bb8680-15fc-11ea-9fb9-bf9382

[2019-12-03 17:44] isidorn commented on #86113
I was also thinking aobut & when doing this. However we do not use it anywhere in our UX, so I did not want to break that. I will change And -> and

[2019-12-03 17:46] isidorn commented on #85988
Ok. It looks good on all platforms as I was unable to detect the difference :)

[2019-12-03 17:47] isidorn commented on #84045
Yes, the view is now more nervous. I could show this with a timeout. However we do not do this in other views. Open to suggestions.

[2019-12-03 17:47] misolori commented on #86125
@jrieken using the same icon makes sense here. Related: the current phone handle icon looks out of place with the old style, I can re-create it to match our new style.

[2019-12-03 17:48] isidorn commented on #86112
Yeah, agree. We should still show the simple view while in initatialising phase.

[2019-12-03 17:48] connor4312 opened #86127 "Allow SCM decorations to be shown in subsets of their locations"
While testing https://github.com/microsoft/vscode/issues/85952, I noticed that there's no way for users to keep the old functionality if they don't want decorations shown in the minimap for some reason: they can choose to show them in all locations, one location, or no locations, but not just the gutter and overview like stable has. It might be useful to tweak the setting to allow this.

[2019-12-03 17:49] isidorn commented on #86126
@misolori can you look into this? I can also help so just ping.

[2019-12-03 17:50] JacksonKearl opened #86128 "[call heiarchy] root result not highlighted"
testing #85924

![image](https://user-images.githubusercontent.com/8586769/70075775-4a1d0800-15b2-11ea-8968-d06efbf11b8c.png)
I'd expect lizard to be highlighted in the editor here

[2019-12-03 17:51] eamodio commented on #84507
I updated the [Extension API Process](https://github.com/microsoft/vscode/wiki/Extension-API-process) wiki with the changes.

[2019-12-03 17:51] #84507 closed

[2019-12-03 17:52] JacksonKearl commented on #86123
Yes its fine in the other extension. Fine to close unless there's something odd there.

[2019-12-03 17:53] roblourens commented on #86042
I disagree, if they want the choice to be remembered, they can create a launch config.

[2019-12-03 17:54] misolori opened #86129 "Search results does not persist on reload when search input has text"
Testing #85953

1. Enter a search term
2. Enter a "files to include"
3. Reload editor, results persist
  <img width="50%" src="https://user-images.githubusercontent.com/35271042/70075882-7cc70080-15b2-11ea-814a-5df4be8d876c.png">

4. Remove "filest to include" param, reload editor
5. 🐛 Results do not persist
  <img width="50%" src="https://user-images.githubusercontent.com/35271042/70075766-472217

[2019-12-03 17:55] misolori commented on #86126
@isidorn yea I'll take a look at this

[2019-12-03 17:55] roblourens commented on #84703
After using this feature for awhile, I don't think this is necessarily an issue.

[2019-12-03 17:56] bjnsn opened #86130 "Newest version clobbers window manager keyboard shortcuts"
Issue Type: <b>Bug</b>

Windows manager ShiftIt no longer controls the window size/position after the most recent version update. Windows of other applications continue to work properly. Changing keyboard shortcuts appears to have no effect. Controlling directly through window manager menu not controlling either. Either shortcuts or menu based control works with common apps such as Chrome, Finder,

[2019-12-03 17:57] jedwards1211 opened #86131 "ProgressCallback should be throttled instead of debounced"
This explains the cause of #54295.

The progress callback is decorated with `@debounced`:

https://github.com/microsoft/vscode/blob/d57b8538763b9db16bd8ca3b4dd17f5aa129b87f/src/vs/workbench/api/common/extHostProgress.ts#L88

This basically means that while I'm continuously reporting progress updates, the displayed progress doesn't update.  It only updates once it's been more than 100 milliseconds

[2019-12-03 18:00] roblourens commented on #85915
I think that everything else is handled by

[code]

[2019-12-03 18:00] IllusionMH commented on #86075
Just in case - these completions support fuzzy matching so you can type any part of properties in case you mention you can just type `mini` or `edmin` and you should see `editor.minimap...` suggestions on top

[2019-12-03 18:01] roblourens commented on #86129
I assume this is due to triggering the search again after the window reloads. @JacksonKearl please don't trigger search automatically when the window reloads, it will lead to slower startup or complaints about CPU use on startup.

[2019-12-03 18:05] roblourens commented on #85921
I definitely don't see that, how do you hide the search view?

[2019-12-03 18:05] okaybenji commented on #30038
How do I get the filter dropdown shown in this screenshot to activate this feature? I don't see the funnel icon. Instead I have a gear with a minus sign on it:
![My filter UI](https://i.imgur.com/PvSmoNc.png)

[2019-12-03 18:07] Tyriar opened #86132 "Semantic tokens: Feedback on use of word bitmap in API docs"
Testing https://github.com/microsoft/vscode/issues/85976

Typically the team bitmap is used to describe a .bmp image, what the API is describing I would refer to as bit flags. Using this terminology would let users not familiar with the concept to more easily search about it.

Before:

Proposal:

[2019-12-03 18:07] #85644 closed

[2019-12-03 18:08] psclkhoury commented on #85921
@roblourens I usually do ctrl + B to toggle the activity bar visibility, or switch to the EXPLORER view or any other view. We have a big code base so the search usually takes more than 5 seconds so it gives me enough time to hide the search view before the search is done.

[2019-12-03 18:14] Tyriar commented on #86088
I called this out when I saw it too

[2019-12-03 18:14] Tyriar commented on #86089
I think we should keep this, turning off should happen very infrequently and one of the valid reasons for this could be to reconfigure what is synced for users less familiar with settings.

[2019-12-03 18:16] gjsjohnmurray commented on #86121
Maybe related to #86078?

[2019-12-03 18:17] Tyriar commented on #86121
Yep

/duplicate

[2019-12-03 18:17] #86121 closed

[2019-12-03 18:25] Colengms opened #86133 "Incorrect shortcut is displayed for Focus Breadcrumbs"
Routing this here from: https://github.com/microsoft/vscode-cpptools/issues/4678

On Windows, this shortcut is displayed correctly in the command palette.  On Linux (repro'ed in a VM), the shortcut is displayed incorrectly.

Windows:
![image](https://user-images.githubusercontent.com/49173979/70078064-e34e1d80-15b6-11ea-9b51-5a7e0798d778.png)

Linux:
![image](https://user-images.githubusercontent.

[2019-12-03 18:25] mjbvz commented on #85999
That error is in the TS Server so it unlikely any VS Code changes around workspaces could have broken things. It's possible something with the electron update file watching could have changed something, although we would generally expect other extensions to be effected as well

Can you share the project or small repo project so I can try to investigate?

[2019-12-03 18:26] jedwards1211 commented on #86131
The OP on #54295 had presumed the following:

However AFAICT the increment reducing works fine, the problem is just that updates are debounced instead of throttled.

[2019-12-03 18:27] roblourens commented on #85638
Just make the window narrower until the left and right sides run into each other.

[2019-12-03 18:28] roblourens commented on #85921
Oh, during  the search, now I see it thanks

[2019-12-03 18:32] mjbvz opened #86134 "Still show total count of problems even when all problems are filtered out"
Issue Type: <b>Bug</b>

From #85943

**Repo**
1. Create a few problems
1. In the problems view, filter them all out

**Bug**
If only some suggestions are shown, we show `4 out of 10` in the problems filter. However if all problems are filtered out, we don't show this.

I suggest we show `0 out of 10` in these cases as well

VS Code version: Code - Insiders 1.41.0-insider (97855786a014be2440751b038

[2019-12-03 18:34] mjbvz opened #86135 "Include link to clear filters in problems view empty message"
Issue Type: <b>Bug</b>

From #85943

**Repo**
1. Create a few problems
1. In the problems view, filter them all out

**Feature request**
<img width="499" alt="Screen Shot 2019-12-03 at 10 32 21 AM" src="https://user-images.githubusercontent.com/12821956/70078813-47bdac80-15b8-11ea-9531-19c17b3d3d2d.png">

In the problems view, we show `no results found ...`

I suggest that we also show some additi

[2019-12-03 18:35] #85253 closed

[2019-12-03 18:36] rebornix commented on #85252
Move this item to backlog as there are blockers that we want to track.

[2019-12-03 18:36] rebornix commented on #85254
Move this item to backlog as there are blockers that we want to track.

[2019-12-03 18:39] saish-borkar commented on #85448
Hi @joaomoreno ,
After uninstalling the VS Code, the HKEY_CURRENT_USER keys are deleted. But that option still exists and after clicking that I'm getting the following error hope that might help.

![image](https://user-images.githubusercontent.com/13750931/70079007-d7e80a00-1629-11ea-9883-7aed33184503.png)

![image](https://user-images.githubusercontent.com/13750931/70079022-e3d3cc00-1629-11ea-8ac

[2019-12-03 18:40] rushenn commented on #18071
Those who looking for this feature, try this extension https://marketplace.visualstudio.com/items?itemName=AESSoft.aessoft-class-autocomplete

[2019-12-03 18:41] JacksonKearl commented on #85989
It's not clear to me when `debugIcon.breakpointStackframeForeground` should be used. It seems like it's only used for the topmost frame when it's focused, every other focused frame gets `debugIcon.breakpointStackframeFocusedForeground`.

I think when the top frame is focused it should also get the focused color. Also, I don't see frames that aren't focused so I don't know why there are two colors.

[2019-12-03 18:41] antwan commented on #84319
+1, glad I'm not the only one noticing this.
It's super annoying, specially when you happen to paste the whole line instead of what you actually double clicked and intented to copy.

For the record the faulty behaviour actually puts the cursor when you double click instead of selecting word (i.e. two single clicks instead of one double click).

MacOS 10.14.6
VSCode: 1.40.1

[2019-12-03 18:43] connor4312 commented on #86088
I think showing a status on the first sync is useful to confirm to the user that things are wired up and working, since there's no other way to tell that the operation was successful short of trying on another machine. But I was also confused when I saw the "started" within a "completed" message, I had to open the output log to know that the sync actually worked.

[2019-12-03 18:45] JacksonKearl opened #86136 "Debug color tokens missing/inaccurate description text"
Testing #85989

`debugIcon.breakpointStackframeForeground` and `debugIcon.breakpointStackframeFocusedForeground` both have description text "Icon color for breakpoints"

[2019-12-03 18:45] Tyriar commented on #86088
@connor4312 the other way to look at it is to not bother the user unless something went wrong, so if the first sync failed for some reason show a warning icon on the gear menu.

[2019-12-03 18:45] mjbvz opened #86137 "problems.showCurrentInStatus should not require cursor to be inside error"
Issue Type: <b>Bug</b>

#85943

# Feature Request
For `problems.showCurrentInStatus`, it seems the problem is only shown in the status bar when the cursor is inside the error range. I think it would be helpful if the error also was shown:

- If there is a single error in the current selection
- If cursor is on the same line as the error

VS Code version: Code - Insiders 1.41.0-insider (97855786a01

[2019-12-03 18:46] zelko-ring opened #86138 "Menu system crashes when run on Linux Mint inside of VirtualBox"
Issue Type: <b>Bug</b>

Hello,

I like VSCode, but now I've got a problem with it.

I'm running VSCode on:
- Linux Mint 19.2 Cinnamon 64-bit
- ...which is running inside of VirtualBox 6.0.14 r133895
- ...which is running in Windows 10 (version 1809; build 17763.864)

Problem: From time to time entire VM crashes with an error that looks like so:
"The instruction at 0x000(some addr) referenced memor

[2019-12-03 18:48] mjbvz opened #86139 "problems.showCurrentInStatus: Clicking on error in status bar should do something (maybe f8)"
Issue Type: <b>Feature Request</b>

#85943

With `problems.showCurrentInStatus` enabled, I think that clicking on a problem in the status bar should do something. My vote would either be to:

- Open the f8 view in the editor for the error
- Or open the problems panel and reveal the error

VS Code version: Code - Insiders 1.41.0-insider (97855786a014be2440751b038b373c3726e11fe8, 2019-12-03T05:35:54

[2019-12-03 18:51] dound commented on #85644
Thank you so much @roblourens, this did the trick!

[2019-12-03 18:54] isidorn commented on #86042
Ok. No action planned. Closing as out of scope.

[2019-12-03 18:54] #86042 closed

[2019-12-03 18:57] mjbvz commented on #85823
Opened https://github.com/microsoft/TypeScript/issues/35474 to track upstream

[2019-12-03 18:57] #85823 closed

[2019-12-03 18:57] isidorn commented on #85989
There are two colors becuse the top stack frame when focused gets the yellow color.
If you click on any other stack frame other than the top it is green. As shown in this gif.
The names are maybe not the best and they are there for historic reasons. I am open to suggestions on how to make this more clear. Thanks

![frame](https://user-images.githubusercontent.com/1926584/70080585-1f10d380-1607-11e

[2019-12-03 18:59] Tyriar opened #86140 "A request has failed from JSON Language Features"
As of today whenever I open a new window I get this message:

<img width="464" alt="Screen Shot 2019-12-03 at 10 55 16 AM" src="https://user-images.githubusercontent.com/2193314/70080486-7ee18d00-15bb-11ea-8738-6290ab22e7f1.png">
<img width="262" alt="Screen Shot 2019-12-03 at 10 55 21 AM" src="https://user-images.githubusercontent.com/2193314/70080489-8012ba00-15bb-11ea-96c1-cb48695a6f32.png">

T

[2019-12-03 19:02] mjbvz commented on #85958
I guess in this case we could expand the replacement range for all suggestions to cover the entire expression. Either that or get TS to return additional text edits instead of replacing the entire expression

Not a priority since this case—a mix of completions that need to insert async and ones that don't—isn't typical

[2019-12-03 19:03] connor4312 commented on #86099
Trace output when this happens, which also prevents syncing:

[code]

[2019-12-03 19:03] connor4312 commented on #85944
No new issues from me aside those that Joao already ran into.

[2019-12-03 19:03] #85944 closed

[2019-12-03 19:04] Braunson opened #86141 "Extension host terminated unexpectedly."
Version: 1.40.2 (system setup)
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:54:45.096Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Open VS Code
2. See popup with error Extension host terminated unexpectedly.

Does this issue occur when all extensions are disabled?: No

Trying to figur

[2019-12-03 19:06] RMacfarlane opened #86142 "Terminal minimum contrast ratio not met for dom renderer"
Issue Type: <b>Bug</b>

Testing https://github.com/microsoft/vscode/issues/85966

1. Use WSL on windows
2. Set `terminal.integrated.minimumContrastRatio` to 21
3. Run true color test from https://unix.stackexchange.com/questions/404414/print-true-color-24-bit-test-pattern/404415#404415

Using the canvas renderer, white and black text are used at this contrast ratio:
![true_color_canvas](https://us

[2019-12-03 19:10] mjbvz opened #86143 "Problems view filter input should prioritize showing problem count when the input becomes narrow"
Issue Type: <b>Feature Request</b>

For #85943

**Repo**
1. Move the panel to the right.
1. Create a few problems in a file, for example:

[code]

3. In the problems view, type in some long seach text (`xxxxxxxxxxxxxxxxxxxxxx` for the example above). This should show the total problems filter in the problems filter box
4. Now make the problems panel very narrow

**Bug**
The problems count is colla

[2019-12-03 19:10] RMacfarlane opened #86144 "Consider providing link to WCAG doc in terminal.integrated.minimumContrastRatio setting description"
Testing https://github.com/microsoft/vscode/issues/85966

The setting description currently provides examples that reference WCAG compliance levels. It might be helpful to include a link to documentation about this standard.

[2019-12-03 19:11] connor4312 commented on #86088
I generally agree with that philosophy. But in this scenario I don't expect that UI-heavy flow (going through quickpicks, MSA sign-in and callback) to end with a silent success, my mind expects to see some UI for the result of that process--particularly since I can't readily validate whether it was a silent success or silent failure. Maybe that's just me though 😛

Showing a success toast could als

[2019-12-03 19:14] JacksonKearl commented on #85989
I think "debugIcon.breakpointStackframeForeground" should be every stackframe icon besides the topmost one, and "debugIcon.breakpointCurrentStackframeForeground" should be the topmost one.

[2019-12-03 19:14] mjbvz commented on #85932
Also give a quick test to  the image preview as it now uses this:

- Create/change/and delete images and confirm you can view the diff from the changes view
- Try with large images as well

[2019-12-03 19:19] mjbvz opened #86145 "Dirty custom editor should prompt the user on close"
From #85991

**Repo**
1. Using the `.abc` editor from  https://github.com/mjbvz/vscode-experimental-webview-editor-extension/
1. Open an `.abc` file and make changes
1. Close the custom editor editor

**Bug**
No prompt. Changes lost

[2019-12-03 19:22] mjbvz opened #86146 "Custom editor webviews should not be recreated on rename"
From #85991

**Repo**
1. Using the `.abc` editor from  https://github.com/mjbvz/vscode-experimental-webview-editor-extension/
1. Create a file called `x.abc`. Open it
1. With the custom editor for `x.abc` still open, rename `x.abc` file to `y.abc` in the VS Code file explorer

**Bug**
Notice that the editor's webview is destroyed and then recreated. It would be preferable in this webview were kept

[2019-12-03 19:23] roblourens opened #86147 "Missing hot exit for custom editors?"
Testing https://github.com/microsoft/vscode/issues/85991

- Disable autosave
- Open a .abc file and a .cat file, modify both, they get dirty indicators.
- Reload the window
- Seems like the .abc file loses the content, and the .cat file was saved?

[2019-12-03 19:24] digobarreto opened #86148 "terminal not work, exit code: {0}"
Open and terminal display message: the terminal process terminated with exit code: {0}

[2019-12-03 19:24] mjbvz commented on #85991
Also try opening multiple copies of the same custom editor in different groups for a single resource. Make sure that editor history is properly shared between the visible editors

[2019-12-03 19:26] Tyriar commented on #85958
I don't really understand why the `setEncoding` score is so high, I would think that nothing should be able to beat an exact match like `send`.

[2019-12-03 19:30] eamodio commented on #85579
Duplicate of https://github.com/microsoft/vscode/issues/84695

[2019-12-03 19:31] eamodio commented on #85624
Duplicate of https://github.com/microsoft/vscode/issues/84695

[2019-12-03 19:33] mjbvz commented on #77131
@KevinWuWon What if we allowed saving of unchanged files too? (unchanged just being files that we don't have any edit stack for) I believe text editors already support saving unchanged files. I  believe it is still best to keep the dirty indicator itself tied to the undo/redo/revert so that the UX is consistent with that of text editors

[2019-12-03 19:34] rebornix opened #86149 "[html] auto rename doesn't exit when deleting at the end of a tag"
Testing #85973

[code]

* put cursor at the end of `/foo` of line 4
* press Delete (delete the right side character)
* keep deleting
* auto rename mode doesn't exit

[2019-12-03 19:35] jedwards1211 opened #86150 "[Contributing] repo probably shouldn't have both .prettierrc.json and tsfmt.json"
Because it has `.prettierrc.json` and I had the prettier extension installed and active, when I save any files within this repo, it formats them with prettier.  The precommit hooks then complain that the file is formatted improperly.

[2019-12-03 19:35] rebornix opened #86151 "[html] auto rename doesn't exit when move cursor the end of line"
Testing #85973

[code]

* put cursor at the beginning of `foo` of line 2
* press cmd+right
* auto rename mode doesn't exit, there is still a secondary cursor on line 4

[2019-12-03 19:36] RMacfarlane opened #86152 "Only one install option for extensions that list multiple extension kinds"
Issue Type: <b>Bug</b>

Testing https://github.com/microsoft/vscode/issues/85948

1. Connect to a remote using WSL, containers, or SSH
2. Search for the test extensions "sandy081.ui-workspace-extension" and "
sandy081.workspace-ui-extension"

Expected:
Since both extension kinds are supported for these, I thought I would see buttons to install either locally or on the remote

Actual:
Only one opti

[2019-12-03 19:38] sbatten commented on #86029
@sandy081, caused by your indexing changes from earlier this milestone?

[2019-12-03 19:39] RMacfarlane opened #86153 "Not able to install extension with multiple kinds to other location"
Issue Type: <b>Bug</b>
Testing  #85948

Related https://github.com/microsoft/vscode/issues/86152

1. Connect to a remote using WSL, containers, or SSH
2. Search for the test extension "sandy081.workspace-ui-extension" and install it on the remote
3. Reload window and go to extension viewlet again

Expected:
Button to install the extension locally to be available

Actual:
No option is given

VS Cod

[2019-12-03 19:41] RMacfarlane opened #86154 "Add ["workspace", "ui"] extension kind description to API docs"
Testing https://github.com/microsoft/vscode/issues/85948

The [documentation](https://code.visualstudio.com/api/advanced-topics/remote-extensions#incorrect-execution-location) for the new extension kind property is really nice! I think it should also include an entry for ["workspace", "ui"] for completeness

[2019-12-03 19:42] vmittal26 commented on #85846
Hello ,

I tried with one simple file named as sample.ts as mentioned above , there are no extensions and
and I have commented my settings.json , still issue is present , attached are the screenshots

[2019-12-03 19:43] vmittal26 commented on #85846
![samplets](https://user-images.githubusercontent.com/34622587/70083862-3960a680-1633-11ea-8471-b5d54c58cdea.png)
![image](https://user-images.githubusercontent.com/34622587/70083916-52695780-1633-11ea-9e89-b7c7cc27b632.png)

[2019-12-03 19:44] sbatten commented on #86120
please try tomorrow, it is likely being drawn underneath the activity bar and hopefully fixed with fix from today.

[2019-12-03 19:46] jedwards1211 commented on #86150
Nope this is not a duplicate of that issue

[2019-12-03 19:48] sbatten commented on #86101
/

[2019-12-03 19:48] #86101 closed

[2019-12-03 19:50] jedwards1211 opened #86155 "[Contributing] How do I format code for PRs to this repo? Tried running the Format Document command with tsfmt, hygiene still complains"
My first problem was that I have the prettier extension installed and it was formatting by default.  But I also tried installing the `tsfmt` extension and doing Format Document With... tsfmt, and hygiene *still* isn't happy.  The error message isn't very helpful:

[code]

* For one this doesn't provide guidance on *which formatter* to use with `Format Document`.
* It also doesn't give me any hints

[2019-12-03 19:51] jedwards1211 commented on #86155
Not a duplicate

[2019-12-03 19:51] rebornix opened #86156 "[html] auto rename broken state when deleting tags"
Testing #85973

[code]

* put cursor at the end of foo of line 2
* press backspace three times
* auto rename mode doesn't exit, and leave the document in a weird state

[2019-12-03 19:52] jedwards1211 opened #86157 "[Contributing] How do I whitelist sinon for a new test case for a PR?"
I need `sinon.useFakeTimers` in a new test for a PR I'm making but the precommit hook doesn't allow it:

[code]

I don't see where I would tell it that importing from `sinon` in the tests is okay, and I'm wondering if there's any reason you don't want me to use Sinon in these tests?

[2019-12-03 19:55] rebornix opened #86158 "[html] auto rename weird cursor state management"
Testing #85973

[code]

* put cursor in the middle of foo of line 2
* press arrow down then up
* it's weird as it behaves like I'm pressing arrow left and right

[2019-12-03 19:56] roblourens commented on #85991
It seems like a possible issue that there are n instances of the editor for the same resource opened n times, and they all save independently. A real implementation would probably want to coordinate editors to only write a save to disk once rather than write n times simultaneously.

[2019-12-03 19:57] rebornix opened #86159 "[html] no suggestion for closing tag"
Testing #85973

[code]

* put cursor in the middle of `foo` of line 2
* trigger suggest, get suggestions like `footer`
* press arrow down
* trigger suggest again, get nothing

[2019-12-03 19:59] roblourens opened #86160 "Webview editor z-index"
Testing #85991

Can the webview be forced beneath the rest of the workbench?

![image](https://user-images.githubusercontent.com/323878/70085039-5a3de300-15c4-11ea-91a7-f81396df118e.png)

[2019-12-03 20:00] #85950 closed

[2019-12-03 20:00] rebornix commented on #86151
Another case

![cursorend](https://user-images.githubusercontent.com/876920/70085072-688bff00-15c4-11ea-8022-1d4dfa05e2d2.gif)

[code]

* Move cursor into `foo` of line 2
* Move cursor to the end, there are two cursors
* Move down, the cursors go into the tag

[2019-12-03 20:01] roblourens opened #86162 "Custom editors in inconsistent state"
Testing #85991

I've managed to do this a couple times but I don't have repro steps yet. Just doing a combination of typing in different editors, undo/redo, save, reload window.

Once an editor opened after reloading the window with different content than the other editors.

In this case, an editor has different content after undoing all the way back:

![Dec-03-2019 12-00-41](https://user-images.g

[2019-12-03 20:03] eamodio commented on #85226
Looks good -- tested on Windows

[2019-12-03 20:03] #85226 closed

[2019-12-03 20:06] moshfeu commented on #77131
@mjbvz I believe that should be an API to control the dirty indicator.
Also, the save option (file > save + key binding) should be enabled in custom view and there will be another API l, something like `workspace.onDidSave` maybe.
I'm facing with the exact issue in an extension I'm working on, also with Monaco.

[2019-12-03 20:07] v-kydela commented on #53262
@Relequestual - This has been assigned to someone for over a year. How do we know we wouldn't be duplicating effort with a branch that's nearly complete?

[2019-12-03 20:11] MattEsquivel opened #86163 "CTRL+ALT+ARROW should not delete empty lines"
Issue Type: <b>Bug</b>

In VS I used to use SHIFT+ALT to reduce or increase the indent of many lines at once. In VS Code when I use CTRL+ALT to do the same it is annoying because:
1) It deletes empty vertical space lines. That is not my intent, my intent is to delete extra spaces, not empty lines.
2) When you use the arrow key after making the large cursor it moves the entire cursor, which is not

[2019-12-03 20:16] simkessy commented on #85945
It works with the insider version and all the extensions disabled. I'm not sure why it doesn't work with the default version of VSCode but I'm happy using the insider edition anyways. Thanks.

[2019-12-03 20:17] deepak1556 commented on #85994
Sorry for the delay, internal builds got held up, new release will be completed in 1hr, will update here.

[2019-12-03 20:19] Tyriar commented on #86114
/duplicate https://github.com/microsoft/vscode/issues/86142

[2019-12-03 20:19] #86114 closed

[2019-12-03 20:27] misolori commented on #85968
@octref does this not apply to vendor prefixes? Looks like those are still alphabetical:

![image](https://user-images.githubusercontent.com/35271042/70086207-bdc91000-15c6-11ea-84c0-26af85b92a55.png)

[2019-12-03 20:28] jodyford opened #86164 "Custom Marketplace URL"
I use VS Code on a disconnected corporate network.  We have an internal site with VS extensions.  But, being able to customize the URL for the Marketplace in VS Code would improve the usability of this IDE on my network and improve the search-ability of extensions on our network.

Thanks,

Jody

[2019-12-03 20:28] eamodio commented on #85654
@alexr00 In this screenshot you can see how they are not nested correctly

![image](https://user-images.githubusercontent.com/641685/70086834-2b823580-15e1-11ea-8dfd-7e551cd2ef4f.png)

[2019-12-03 20:33] Tyriar opened #86165 "Semantic tokens: Tokenization appears to be really slow"
Testing https://github.com/microsoft/vscode/issues/85976

It appears colors are not updated until typing has stopped for around 500ms, being this slow seems like a problem?

![Kapture 2019-12-03 at 12 32 01](https://user-images.githubusercontent.com/2193314/70087322-f538bc00-15c8-11ea-9051-3e4790f6fc22.gif)

I'm not typing particularly fast in the above gif, compare this to today with tm grammars

[2019-12-03 20:35] Tyriar opened #86166 "Semantic tokens: No documentation on how/why to use resultId"
Testing #85976

resultId/previousResultId appears in several APIs but there aren't any docs around it so I couldn't test it.

[2019-12-03 20:39] Tyriar opened #86167 "Semantic tokens: When is SemanticTokensRequestOptions given?"
Testing #85976

In my testing on a TS file, the options arg in provideSemanticTokens was always `{}`, regardless of whether a new line was added/deleted or a change was made on a single line. When are options given?

[2019-12-03 20:40] KevinWuWon commented on #77131
@mjbvz The dirty bit is important not just for the visual indication that there are changes, but also for controlling whether the Save/Don't Save/Cancel dialog appears when the user closes the tab.  Also for the "Close Unsaved" command and the like.

[2019-12-03 20:46] eamodio commented on #85341
@deepak1556
I can still repro on today's insiders when the devtools are docked to the right (left, bottom, and undocked are fine).

Although, I also noticed an even stranger issue if the devtools are docked to the left (which I toggled by accident). If they are docked to the left, it seems like electron gets confused as to where the window controls are. They seem like they are layered on top of th

[2019-12-03 20:47] eamodio commented on #85713
I don't have any `sourceMapPathOverrides`, so setting `cwd` for me gets source maps to work.

[2019-12-03 20:47] Tyriar opened #86168 "Semantic tokens: Allow extensions to provide tokens eagerly"
Testing #85976

I mention in https://github.com/microsoft/vscode/issues/86165 how the provide tokens call is only triggered after typing has stopped for a while. If an extension wants to "go all in" and provide edits to that function, I would expect it to be able to react immediately following `onDidChangeTextDocument` which are fired on every change. This will often just result in just increasing

[2019-12-03 20:56] aateeque opened #86169 "VsCode starts into the same Workspace everytime"
Issue Type: <b>Bug</b>

Whenever my VsCode starts, it lands on the same unsaved worksapce which has three folders. This even happens on a fresh install on a different PC. It's as if I am carrying it around on the Roaming Profile on the network.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>

[2019-12-03 21:00] mjbvz commented on #86160
MacOS, correct? Any repo steps?

[2019-12-03 21:23] andytael opened #86170 "GIT isn't recognized in VsCode"
Issue Type: <b>Bug</b>

Install vscode
install git using brew
edit settings.json and add
"git.enabled": true,
"git.path": "/usr/local/bin/git"
restart vscode
hit Ctrl+shift+G

Vscode tells me the following:
"No source control providers registered."

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:52:45.129Z)
OS version: Darwin x64 18.7.0

<details>
<summary>Sy

[2019-12-03 21:28] andytael commented on #86170
It is not the same issue as #81158 as I dont have any local GIT repositories yet.

[2019-12-03 21:30] kismet-cai opened #86171 "Cntrl + Shift + E should toggle explorer pane"
Issue Type: <b>Feature Request</b>

Cntrl + Shift + E should toggle explorer pane, clicking on Explorer in the View menu should also toggle explorer pane in and out of view.

VS Code version: Code 1.40.1 (8795a9889db74563ddd43eb0a897a2384129a619, 2019-11-13T16:49:35.976Z)
OS version: Windows_NT x64 10.0.18362

[2019-12-03 21:36] matthewwithanm opened #86172 "Confusing Command Palette Hover Highlight"
- VSCode Version: 1.40.2
- OS Version: OSX 10.14.6

![Untitled](https://user-images.githubusercontent.com/126263/70091548-32a14780-15d1-11ea-906b-c7328aa9d839.gif)

Steps to Reproduce:

1. Move your mouse to where the command palette or file search would be if it were open.
2. Open the command palette or file search.
3. The mouse cursor will disappear but the row it's "on top of" will remain highl

[2019-12-03 21:37] andytael commented on #86170
Running Git: Show Git Output gives:
[code]

[2019-12-03 21:41] andytael commented on #86170
Solved the problem, VSCode must be opened with a file that is part of a GIT repo. Rooms for improvement here.

[2019-12-03 21:44] connor4312 opened #86173 "Sync: Settings conflict file closes when opening the editor"
https://github.com/microsoft/vscode/issues/85944

 1. Get into a conflicted state and start resolving conflicts
 2. Close and re-open VS code
 3. The conflicted settings file is open briefly and then closes, even if conflicts remain

I'd expect that we'd be able to continue using or reuse the same file.

[2019-12-03 21:45] Tyriar opened #86174 "Semantic tokens: Use of array buffers with wrapping objects"
Testing #85976

For an extension that wants to be as performant as possible they would want to provide a set of token edits using the following API:

[code]

It's mentioned in the provider docs:

But this doesn't really seem to be the case for edits as you need to create an "edits" object, an extra array and an "edit" object for every single change, this could be a huge amount of edits if a line i

[2019-12-03 21:46] eamodio opened #86175 "Clicking into the hatched area in a diff doesn't focus the editor"
![image](https://user-images.githubusercontent.com/641685/70092295-fa5b3280-15eb-11ea-9078-e17627db894a.png)

I would expect clicking in the hatched area would focus the editor and put the cursor at the end (or beginning) of the hatched area.

[2019-12-03 21:46] ariffjeff opened #86176 "Javascript: code blocks auto indent improperly when apostrophes/quotation marks are present"
Issue Type: <b>Bug</b>

When apostrophes/quotation marks are present on the first line of an if statement or for loop, and the VS Code command "Reindent Lines" is done, code within the statement or loop is indented incorrectly (no indentation).

[code]

... turns into the following after "Reindent Lines" ...

[code]

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-2

[2019-12-03 21:48] roblourens commented on #85713
Yeah but the effect is just to get the default sourceMapPathOverrides to work. The debugger should handle this rather than require the user to, and it should actually be handling this correctly in vscode-pwa already.

[2019-12-03 21:51] connor4312 opened #86177 "Sync: provide a command to forcefully sync"
I know by reading issues that I can force a sync by opening the settings editor, but it may be useful to provide a more explicit "sync now" command.

[2019-12-03 21:54] connor4312 opened #86178 "Sync: Large settings cause a retry loop"
#85944

If the user settings are large, above the 100KB limit we have set for the server right now, sync fails 'silently' and keeps retrying, as seen in the log data. We should display errors that require user intervention.

[code]

[2019-12-03 21:54] roblourens commented on #86162
One repro is just to have several editors open, make a change, then reload the window without saving. Then I get this:

![image](https://user-images.githubusercontent.com/323878/70093033-6631a100-15d4-11ea-8029-1d01c8b4c4cd.png)

the real content is without `abc`

[2019-12-03 21:54] sbatten opened #86179 "Toggling regex mode in search sometimes flickers results"
Testing #85953

Minor issue

Repro steps:
1. Do a search that will not change results when toggling regex mode
2. Toggle regex mode on and off

:bug: => sometimes the line `X results in Y files` flickers with less results before settling on the initial state.

[2019-12-03 21:56] eamodio commented on #85713
Ah, awesome 👍  -- will try that out soon.

[2019-12-03 21:57] mjbvz commented on #86162
Can you please test to see if you can get into this state without a window reload. The window reload cases are related to hot exit and I have not tested or tried to implement them yet

[2019-12-03 21:59] sana-ajani commented on #85989
Yeah, agreed with Jackson. We can edit the help text for those to be "Icon color for current stackframe" and "Icon color for other stackframes".

Other feedback would be on the "debugIcon.startForeground" setting, since that one isn't a part of the actual debug toolbar, but is in Debug View. The help text says "debug toolbar icon for start debugging", maybe we can change it to "Icon color for star

[2019-12-03 22:00] mattkrick commented on #76762
worth noting this isn't just an issue with `find`. would love to see this in the F2 to rename input!

[2019-12-03 22:02] DavidGoldman opened #86180 "SCM: Support `scmResourceState` in `when` clauses"
See also #27946 for a related request/question.

The SCM API described [here](https://code.visualstudio.com/api/extension-guides/scm-provider#menus) allows you to conditionally add commands to the SCM menus based on the `scmProvider` and `scmResourceGroup`, but not based on the  `scmResourceState`.

Conditions on the `scmResourceState` would be valuable for mercurial extensions (which differentiat

[2019-12-03 22:02] bowdenk7 commented on #85966
![image](https://user-images.githubusercontent.com/820883/70093532-739b5b00-15d5-11ea-8cd3-28a66b02ec94.png)

![image](https://user-images.githubusercontent.com/820883/70093544-7dbd5980-15d5-11ea-909f-2213c394cb11.png)

0, 16, 17, 233, 234, 235 seem to not be working for me.

[2019-12-03 22:06] rebornix opened #86181 "Compact Folders: Context menu actions use wrong folder path"
re #85928

Open a workspace with following folder structure
[code]

* Right click on either `.github` or `ISSUE_TEMPLATE` to open Context Menu
* Run an action from the Context Menu, the result is always the same no matter which sub node you click on

For example

* Reveal in Explorer on `ISSUE_TEMPLATE` opens `.github` folder
* Reveal in Explorer on `.github`, still opens `.github` folder instead

[2019-12-03 22:06] bowdenk7 opened #86182 "experimental webgl markdown link is broken"
In settings:

![image](https://user-images.githubusercontent.com/820883/70093773-ff14ec00-15d5-11ea-9ab1-417b30674d96.png)

I'm assuming we want that link to be clickable.

[2019-12-03 22:08] rebornix commented on #86032
It's weird that you also need to press Arrow Right more than once to expand the compressed node, however you only need one mouse click to expand.

[2019-12-03 22:10] misolori opened #86183 "Better linting support for sass variable references via @use"
Testing #85979

![image](https://user-images.githubusercontent.com/35271042/70094103-a42fc480-15d6-11ea-8ab7-a452c93a7048.png)

1. Create a `helper.scss` file with a `$red` variable
2. Create a `main.css` file with a `@use` ref for the helper file
3. Try and use the variable in an element
4. :bug: No linting errors but sass compile throws errors

I would expect better linting to avoid compile erro

[2019-12-03 22:12] octref opened #86184 "Suggest and hover widgets have greyscale rendering"
Ref #85143

Parameter hints doesn't have this issue, but hover and suggest widget suffer from it.

Top to bottom are parameter hint, suggest and hover:

![image](https://user-images.githubusercontent.com/4033249/70094049-82364200-15d6-11ea-95a9-a3eac4a81b77.png)

Version: 1.41.0-insider
Commit: 97855786a014be2440751b038b373c3726e11fe8
Date: 2019-12-03T05:31:49.954Z
Electron: 6.1.5
Chrome: 76.0.380

[2019-12-03 22:13] roblourens opened #86185 "Search editor match highlight background is too dark"
Testing #85965

Very hard to see the highlight here:

![image](https://user-images.githubusercontent.com/323878/70094231-f244c800-15d6-11ea-885b-dcbc431c4a2b.png)

Compared to the highlight of search results in the actual editor:

![image](https://user-images.githubusercontent.com/323878/70094260-01c41100-15d7-11ea-9103-540aba1ab908.png)

I think it should just use the same color

[2019-12-03 22:15] octref commented on #85143
One thing I'm not sure is if we count webviews such as Markdown Preview as part of our workbench UI. Currently text there are using greyscale rendering.

![image](https://user-images.githubusercontent.com/4033249/70094411-510a4180-15d7-11ea-98dc-9004fc8b4b6e.png)

[2019-12-03 22:17] eamodio opened #86186 "Completion in json settings adds and extra " in some cases"
Issue Type: <b>Bug</b>

If you start with quotes, it leaves rogue quotes. This works fine in 1.40.2

![completion](https://user-images.githubusercontent.com/641685/70094516-a9017200-15f0-11ea-8777-8f6106cb9846.gif)

/cc @jrieken

VS Code version: Code - Insiders 1.41.0-insider (97855786a014be2440751b038b373c3726e11fe8, 2019-12-03T05:40:39.806Z)
OS version: Windows_NT x64 10.0.19033

<details>
<sum

[2019-12-03 22:18] misolori opened #86187 "No hover information on sass rules"
Testing #85979

Hovering over any sass rules doesn't render any info even though we show that on completion.

![image](https://user-images.githubusercontent.com/35271042/70094431-59627c80-15d7-11ea-867b-be1caed2d3c4.png)

![image](https://user-images.githubusercontent.com/35271042/70094603-b8c08c80-15d7-11ea-922a-e961bcd0afd4.png)

But we do show additional info on other css properties:

![image](

[2019-12-03 22:19] roblourens opened #86188 "Can't follow search editor links on Windows"
Testing #85965

- Use windows
- Open a search editor
- Hold ctrl over a relative path or text result line, nothing happens
- Press F12 with the cursor on a result, nothing happens

Works on Mac though

[2019-12-03 22:20] rebornix opened #86189 "Compact Folders: Shift+F10 changes focused folder"
re #85928

Open a workspace with following folder structure

[code]

* Move focus to `.github` with keyboard
* Shift+F10
* Focus moves to `ISSUE_TEMPLATE`

[2019-12-03 22:21] roblourens commented on #86188
Sorry, this was an old result editor that wasn't valid for the workspace...

[2019-12-03 22:21] #86188 closed

[2019-12-03 22:21] caillou commented on #85767
@joaomoreno I see that you added the ![help wanted](https://img.shields.io/badge/-help--wanted-fef2c0.svg) badge. Could you maybe give me a hint or two on where to get started on this, then I might give it a try.

I already figured out, that the bug comes from the fact, that the CSS ends up with fractional `px` values.

[2019-12-03 22:21] connor4312 commented on #85458
Found a quirk: https://github.com/microsoft/vscode/pull/85459/files/1ae9ff4cb19c57bc061712b843b07f6e2cdc173f#diff-344b8481439db2d9949984cbd9332879

[2019-12-03 22:22] roblourens opened #86190 "When opening result from search editor, the cursor should go to the match"
Testing #85965

- Open search editor, put cursor on a result
- Press F12
- The file is opened and the cursor is at the beginning of the line, but the cursor should be on the match itself

[2019-12-03 22:28] connor4312 commented on #84553
Imo the duration should be configurable. The quick highlight is a good, but depending on how contrasting the color is it might be difficult to notice in the few hundred ms of display, and in general (non-configurable) duration-based visual effects are not good for vision impaired users.

[2019-12-03 22:28] roblourens opened #86191 "Search editor shouldn't ask to save on close"
Testing #85965

- Close search editor
- It asks whether to save

I thought you had a way to make the editor "saveable" but not ask whether to save? It is kind of annoying and makes the search editor feel "heavier"

[2019-12-03 22:29] octref opened #86192 "Extension View's publisher have greyscale rendering"
Ref #85143

Version: 1.41.0-insider
Commit: 97855786a014be2440751b038b373c3726e11fe8
Date: 2019-12-03T05:31:49.954Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 4.15.0-55-generic

![image](https://user-images.githubusercontent.com/4033249/70095208-07baf180-15d9-11ea-8efe-ba906c61b1c1.png)

[2019-12-03 22:30] DavidGoldman commented on #86180
Here's an example of how specific commands make the SCM more intuitive for the user

For a modified file:
* Revert: undo changes
* Remove --force: remove the file even though it is modified

For an added file:
* Untrack: forget the add (`hg forget` == `hg revert` == `hg remove --force`)

For a removed file:
* Restore: restore the file

Using terms instead like `revert` or `remove` may be confusing

[2019-12-03 22:30] JacksonKearl commented on #86185
We explicitly don't want it to be the same color, as that makes searching in the search results difficult (everything looks the same). Right now its a half-transparent version of the normal highlight, but we could adjust it to be 75% or something? It is configurable by extensions or end users.

[2019-12-03 22:31] rebornix commented on #86181
Actually a duplicate of https://github.com/microsoft/vscode/issues/86103

[2019-12-03 22:31] #86181 closed

[2019-12-03 22:31] #85928 closed

[2019-12-03 22:32] JacksonKearl commented on #86191
We previously explicitly exempted the search editor from the Save on Close prompt but @kieferrm felt strongly about us not doing that.

[2019-12-03 22:32] gjsjohnmurray commented on #86186
/duplicate of #86078

[2019-12-03 22:32] #86186 closed

[2019-12-03 22:38] rebornix opened #86193 "WebGL Renderer: characters not positioned correctly"
Re #85971

* macOS
* zsh with oh my zsh

Open with Canvas rendering

![image](https://user-images.githubusercontent.com/876920/70095788-73ea2500-15da-11ea-8482-7e2bd066b9bb.png)

Open with WebGL rendering

![image](https://user-images.githubusercontent.com/876920/70095798-7b113300-15da-11ea-99c2-4ab7c1802f83.png)

Switching between them

![webglrevert](https://user-images.githubusercontent.com/876

[2019-12-03 22:39] JacksonKearl commented on #86179
Given that we need to run the search all over again, there will always be cases where the result count resets. We try to avoid this by delaying the rendering of new results by ~200ms, but depending on the size of the search that might not be enough to get all of the results, and at the cusp of being able to get all results in the allotted delay time, there will always be flickering.

[2019-12-03 22:43] rebornix opened #86194 "WebGL Renderer: selection not rendered in background"
Re #85971

* macOS
* zsh with oh my zsh

* Run scripts described in https://github.com/microsoft/vscode/issues/85971#issuecomment-561273784
* Open with Canvas rendering and select all

![image](https://user-images.githubusercontent.com/876920/70096161-4782d880-15db-11ea-8ff8-6ee6cb135919.png)

* Open with WebGL rendering

![image](https://user-images.githubusercontent.com/876920/70095798-7b113300-

[2019-12-03 22:44] roblourens opened #86195 "code-search files should be excluded from all searches"
Testing #85965

This should be done differently -

https://github.com/microsoft/vscode/blob/a868166d9ece2af3be2579ce5c873117790db87b/src/vs/workbench/contrib/search/common/searchModel.ts#L986-L989

either it should be done in the QueryBuilder so it applies to searches that don't go through SearchModel (like through extension API) or it should be added to the `search.exclude` default.

[2019-12-03 22:46] gjsjohnmurray commented on #86169
Perhaps you are. Do you want the workspace? If not, use Close Workspace from the File menu.

[2019-12-03 22:47] jhamet93 opened #86196 "Remote SSH VSCode Command"
I'm trying to write a custom extension which from a high level, will remotely SSH to a external machine (via `vscode.newWindow`) and then upon success, automatically open a certain folder location (via `vscode.openFolder`).

The issue I'm running into is I do not want to open a folder until the SSH connection is complete. However, it appears the execution of the vscode command completes before a s

[2019-12-03 22:50] mjbvz commented on #86021
@sbatten Adding you since we are just using VS Code's context menu service

[2019-12-03 22:50] mjbvz commented on #86017
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

Also, please include the source of the markdown file (as text)

[2019-12-03 22:53] gregvanl opened #86197 "Git status add and modified decorations in minimap too narrow on high contrast theme"
- VSCode Version: 1.41 Insiders
- OS Version: Windows, macOS

Found while testing #85952

Tomorrow Night Blue:

![image](https://user-images.githubusercontent.com/12818376/70096660-6f267080-15dc-11ea-80fa-898c8dcf2305.png)

High Contrast:

![image](https://user-images.githubusercontent.com/12818376/70096707-89604e80-15dc-11ea-9c56-2da85dbe7ff1.png)

Compared to the red deleted content decoration,

[2019-12-03 23:00] rafidka opened #86198 "Closing empty file with undo history should show a confirmation message"
- VSCode version information information:

**Version**: 1.40.2
**Commit**: f359dd69833dd8800b54d458f6d37ab7c78df520
**Date**: 2019-11-25T14:52:45.129Z
**Electron**: 6.1.5
**Chrome**: 76.0.3809.146
**Node.js**: 12.4.0
**V8**: 7.6.303.31-electron.0
**OS**: Darwin x64 18.7.0

- **OS Version:** macOS Mojave 10.14.6

Steps to Reproduce:

1. Open a new empty file.
2. Make some changes to the file.
3. De

[2019-12-03 23:00] deepak1556 commented on #85994
New builds have been published, make sure the electron version points to `7.1.3` . Thanks!

[2019-12-03 23:04] rebornix commented on #85971
Incredible performance ⚡️  I tried to cat a relative large log file (300MB, 2M lines)

WebGL
[code]

Canvas
[code]

DOM

after waiting for 10 minutes, it didn't finish but stopped printing ...

[2019-12-03 23:07] RMacfarlane opened #86199 "Search results editor - problems triggering hover on Linux"
Issue Type: <b>Bug</b>

Testing https://github.com/microsoft/vscode/issues/85965

This is possibly just an issue with my VM, I'll test again on actual hardware tonight.

1. Have `editor.multiCursorModifier` set to alt
2. With `"search.enableSearchEditorPreview": true` set, run search and open it in an editor

Pressing ctrl and hovering over results doesn't show a hover with the line in context. So

[2019-12-03 23:08] rebornix commented on #86193
Look weird with font size 14

![image](https://user-images.githubusercontent.com/876920/70097663-ba418300-15de-11ea-8caf-721e4af40a32.png)

[2019-12-03 23:08] connor4312 commented on #84495
Running these steps, I get a bunch of question marks when I reopen the file, and still with windows1252 encoding, on OS X.

![image](https://user-images.githubusercontent.com/2230985/70097661-b9a8ec80-15de-11ea-944e-87b34b284250.png)

[2019-12-03 23:08] roblourens opened #86200 "Refreshing search editor doesn't work in CRLF mode"
Testing #85965

- Open search editor
- Change EOL mode to CRLF
- Click Refresh

Error: `Cannot create regex from empty string`

[2019-12-03 23:09] JacksonKearl commented on #86199
Can you get hovers from other definition providers on the VM? TS, for instance.

[2019-12-03 23:11] Ciantic commented on #35266
I'm used to having Haskell prompt with a pickle (for obvious reasons) in front:
[code]

It works with VSCode when it's running bash e.g. inside docker container development. But it ceases to working when I use it inside Powershell in Windows.

Just giving me:

[code]

I think this is some Powershell/Windows problem.

[2019-12-03 23:13] vscodeerrors opened #86201 "TreeError [MarkersPanel] Tree element not found: [object Object]"
Issue Id: <b>990a4e3b-c48d-4deb-8a07-b908a2df554d</b><br /><br />*Versions* <br />- 1.41.0-insider (12/2/2019 5:20:41 AM)<br />*Stack* <br />Error: TreeError [MarkersPanel] Tree element not found: [object Object]<br />[/vs/base/browser/ui/tree/objectTreeModel.ts#281:9 (getElementLocation)](https://github.com/microsoft/vscode/blob/7cf4cca47aa025a590fc939af54932042302be63/src/vs/base/browser/ui/tree

[2019-12-03 23:13] RMacfarlane commented on #86199
Ah, good question. Nope, that's also not working on this VM. So, this is unrelated to the feature

[2019-12-03 23:13] #86199 closed

[2019-12-03 23:15] taiyosogawa opened #86202 "Make remote timeout configurable"
We'd like to make the remote development timeout configurable to handle longer connection times. I believe it is currently configured to 20 seconds.

[2019-12-03 23:17] roblourens opened #86203 "Search editor query is deescaped when refreshing"
Testing #85965

- Search for `something\n` (literal \n) with that text in some file to find a match
- Open a search editor
- It's correctly escaped as `something\\n`
- Click refresh
- The query turns into `something\n` and finds no results

[2019-12-03 23:18] taiyosogawa opened #86204 "Reduce files in vscode remote distro"
The vscode remote distro currently has many small files, which causes unzipping the archive to be slow. Would it be possible to pack the dependencies into fewer files?

[2019-12-03 23:19] misolori commented on #85637
@m2u-84 does this happen with all views or just the SCM view? Does it change if you open a project with Git? I'm not able to reproduce, though I do see that the border is small.

[2019-12-03 23:21] mjbvz opened #86205 "JS/TS fatal errors should log TSServer error body"
When a fatal error happens communicating with the TSServer, we should log the error message itself. Currently we only log the command name

[2019-12-03 23:21] itsxallwater commented on #68647
I'm a contributor on an extension called [MV Basic](https://github.com/mvextensions/mvbasic) that provides language support for a language (PickBASIC) that, depending on the vendor/flavor in use, has different language definitions and syntax highlighting requirements.

The language definitions are readily solved for by loading them at runtime in the language server, leveraging a configuration sett

[2019-12-03 23:22] gregvanl opened #86206 "scm.diffDecorations missing enum descriptions"
- VSCode Version: 1.40.2
- OS Version: Windows

Found while testing #85952

![image](https://user-images.githubusercontent.com/12818376/70098289-60da5380-15e0-11ea-9451-a14a7ac38145.png)

Just shows general setting description. Need to add enumDescriptions array in scm.contributions.ts.

[2019-12-03 23:23] misolori commented on #85872
Hmm...this doesn't load any remote fonts as everything is bundled. I tried to reproduce with a slow network and am not able to see the same result. Does this happen often? Can you try this out using [insiders](https://code.visualstudio.com/insiders/) and seeing if it reproduces?

[2019-12-03 23:28] hello341 commented on #85737
I think I figured it out and it seems to be working well now

[2019-12-03 23:32] octref commented on #85978
I had fun. Pretty good library. Thanks 👍

![image](https://user-images.githubusercontent.com/4033249/70098799-f6c2ae00-15e1-11ea-87b2-9f563a6f411c.png)

[2019-12-03 23:32] #85978 closed

[2019-12-03 23:36] IMBurbank commented on #32581
This feature is just as important today as it was 2.5 years ago.

It's quite disappointing that this feature request has never been directly addressed, even in response to PRs, particularly since it's an opt-in feature - minimap opacity would only change if set to less than 100%.

If there's a reason this feature request won't be accepted, I think a lot of people would appreciate knowing that so t

[2019-12-03 23:36] mjbvz commented on #83591
Moving to backlog since this doesn't show up in VSO itself. It seems to be a safari bug

[2019-12-03 23:37] gjsjohnmurray commented on #86148
/duplicate of #73790

See https://github.com/microsoft/terminal/issues/1838 for screenshot showing checkbox to clear.

[2019-12-03 23:38] #86148 closed

[2019-12-03 23:39] mjbvz commented on #83703
Closing this for verification. This iteration we only did some minor styling fixes and added a max width. Adding a proper outline would be difficult and should be tracked by a separate item

[2019-12-03 23:39] #83703 closed

[2019-12-03 23:42] mjbvz commented on #86160
Looks like same root cause as #82653

Unfortunately we have to keep webview elements outside of the main dom layout to avoid reparenting them

[2019-12-03 23:42] #86160 closed

[2019-12-03 23:47] mjbvz commented on #81897
@andrecasal Can you please provide concrete repo steps with a small example project? I can't seem to trigger this

[2019-12-03 23:47] gregvanl opened #86207 "SCM decoration colors in the overview ruler don't match minimap and gutter"
- VSCode Version: 1.41 Insiders
- OS Version: Windows

The SCM change decorations in the overview ruler are all the same color (blue is the default) while in the editor and minimap add/modify/delete are different colors.

The colors are themeable editorOverviewRuler.addedForeground, etc. but I wonder why we leave them all blue by default?

[2019-12-03 23:49] #86051 closed

[2019-12-03 23:49] claytoncarney commented on #84158
Just a note. I find it is not possible to double click as suggested. The first click opens the file, adding it to the Open Editors list, which scrolls down the list, The second click then opens the previous file in the list. The only way to double click on a file is after it is already open; then yes it receives focus. However, that requires a total of three clicks and a mouse move.

[2019-12-03 23:51] gjsjohnmurray commented on #86171
/duplicate

See https://github.com/microsoft/vscode/issues/85785#issuecomment-560317290

[2019-12-03 23:51] #86171 closed

[2019-12-03 23:53] mjbvz commented on #84908
<img width="1280" alt="Screen Shot 2019-12-03 at 3 53 14 PM" src="https://user-images.githubusercontent.com/12821956/70099906-08f21b80-15e5-11ea-9915-017a391ce01d.png">

Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2019-12-03 23:54] octref opened #86208 "Remote Explorer UI: UI consistency with Debug Viewlet"
Test #85927

![image](https://user-images.githubusercontent.com/4033249/70099807-c29cbc80-15e4-11ea-9535-0b3b52682590.png)

Notice that:

- Debug has round corners. Remote Explorer UI has angled ones.
- The description feel cramped to the left in the Explorer UI (`Containers`). Should give a few more pixels to the left, just like Debug Viewlet (`Unit Tests`)

[2019-12-03 23:54] #86031 closed

[2019-12-03 23:56] misolori commented on #86031
Added rounded corners on the Mac:

![image](https://user-images.githubusercontent.com/35271042/70099978-40f95e80-15e5-11ea-8718-e22f4622d043.png)

[2019-12-03 23:58] #86206 closed

[2019-12-03 23:58] #86136 closed

[2019-12-03 23:58] danixeee commented on #68647
@itsxallwater  I found a workaround using [setDecorations](https://code.visualstudio.com/api/references/vscode-api#TextEditor.setDecorations) method, although it requires much more work.
I need to "paint" keywords of a language that is created in a runtime. Also, grammar changes should repaint a document, [here](https://user-images.githubusercontent.com/16227576/65926150-1841c680-e3f4-11e9-928f-4d

[2019-12-03 23:59] roblourens commented on #86162
No, I'm pretty sure the reload is necessary

[2019-12-03 23:59] #86162 closed

[2019-12-04 00:01] octref opened #86209 "Remote Explorer: Either hide WSL on non-Windows OS or show some information"
Ref: #85927

Currently it's blank on macOS:

![image](https://user-images.githubusercontent.com/4033249/70100267-18259900-15e6-11ea-8d7a-588ea8d6ef76.png)

Here's what Git Viewlet does:

![image](https://user-images.githubusercontent.com/4033249/70100276-21af0100-15e6-11ea-9c09-29610b306e8b.png)

[2019-12-04 00:02] mjbvz commented on #86145
Nevermind. This just doesn't happen when you are running in the oss build but it does work in insiders build

[2019-12-04 00:02] #86145 closed

[2019-12-04 00:05] mjbvz commented on #85963
Does this work in chrome?

[2019-12-04 00:07] mjbvz commented on #70464
Let's give it a few more days and see if they respond. Otherwise, we can fork the repo and take your PR into the fork

[2019-12-04 00:07] #86126 closed

[2019-12-04 00:09] misolori commented on #86026
@rebornix do you have any idea how this dotted border is being added to all `select` inputs on FF? I've tried the various `select::-moz-focusring` and `select::-moz-focus-inner ` with on luck and am at a loss.

[2019-12-04 00:13] mjbvz commented on #85765
Please try collecting the TS Server log:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, open the `TypeScript` section of the output panel.
1. At the very top of that log output, find the `<semantic> log file` line. It should look something like:

[code]

Look through that log file for errors or stack traces. If you can share the log, I c

[2019-12-04 00:13] JacksonKearl commented on #86179
@sana-ajani also noticed flickering, going to increase the delay. Seems like 100ms isn't enough for windows.

[2019-12-04 00:14] #86179 closed

[2019-12-04 00:16] mjbvz commented on #85234
@cameron-sjo Can you please test using insiders

@synth3 Are you still seeing this? It may be the same issue as #84826 but I'd need the full logs to confirm that

[2019-12-04 00:19] sana-ajani commented on #85953
Besides a bit of flickering in the search results and in the "X results in Y files" line, this works well! Super neat

[2019-12-04 00:20] Menci commented on #85872
![image](https://user-images.githubusercontent.com/11341955/70101088-da208780-166e-11ea-88d0-50e2b835b80b.png)

Still reproduces @misolori

[2019-12-04 00:20] #85953 closed

[2019-12-04 00:22] #85971 closed

[2019-12-04 00:22] matiassantos commented on #83403
Ugh, I'm facing the same problem, it's leaving me out of options, I cannot work with this constant error that also freezes all, my logs look just like the one from @synth3, I also increased the memory but it's making it easier for the server to restart, but not keeping the error from happening.
Any thoughts on what else we can try to make it work?

[2019-12-04 00:22] JacksonKearl commented on #85953
@sana-ajani @sbatten Increased the delay a bit in 27a00da to try to reduce flickering. We can see if its enough on the next build.

[2019-12-04 00:25] misolori commented on #85872
Does the icons ever show after some time or do they never show? And do you have any custom Windows settings that would prevent fonts from loading?

[2019-12-04 00:28] deepak1556 opened #86210 "Deleting multiple files through explorer invokes the event listeners per file"
When testing https://github.com/microsoft/vscode/issues/85929

Steps to reproduce:

1) Register delete event listeners

[code]

2) Select multiple files from the explorer with `Cmd+Click` and delete using context menu.

3) Expect to receive single event fire for all the files but instead the listener is fired individually for each file being deleted.

Output:

[code]

[2019-12-04 00:29] Menci commented on #85872
It will NOT show automatically after some time. But if I reload the CSS file in DevTools (by clicking the formatting button "{ }"), the icons appears.

![image](https://user-images.githubusercontent.com/11341955/70101501-0b4d8780-1670-11ea-9dd2-8c84cc13bd88.png)

[2019-12-04 00:32] octref opened #86211 "Give `html.autoSelectingMatchingTags` a more descriptive name"
Currently looking at `html. mirrorCursorOnMatchingTag`

[2019-12-04 00:35] octref commented on #85976
I prioritized testing shipping features today. I'll block off time tomorrow morning to do more testing.

[2019-12-04 00:36] JacksonKearl commented on #86070
I also thought the rename was going to change the port being forwarded. "Set Label" would make more sense to me.

[2019-12-04 00:38] RMacfarlane commented on #83599
Clearing selection works as expected, but the find widget still isn't getting dismissed on Escape on Safari and Firefox

[2019-12-04 00:39] JacksonKearl opened #86212 "Cancelling "Add a port" forwards port 0"
#85926

Click "Add a Port". Click out of the box to cancel. Port 0 is forwarded.

[2019-12-04 00:40] arulrajnet commented on #17594
With a smile

https://code.visualstudio.com/updates/v1_40#_better-handling-for-unicode-combining-characters

[2019-12-04 00:42] JacksonKearl commented on #85926
The above also apply to Windows. Also, not sure if this is a standard syntax, but in containers we use "2222:22" to say "forward remote port 22 to local port 2222. That could be nice to have as a way to specify what the local port should be.

[2019-12-04 00:43] Menci commented on #85872
I tried to change `font-display` for `codicon` font in `workbench.desktop.main.css` (formatted):

[code]

And in `workbench.desktop.main.js`:

[code]

But it doesn't work -- the warning message disappeared but `codicon` icons still don't not appear.

[2019-12-04 00:43] #85926 closed

[2019-12-04 00:44] #81765 closed

[2019-12-04 00:46] Menci commented on #85872
There seems no way to launch vscode with DevTools opened. So I can't know if the font loads wrong during startup. (Reloading window seems not a fully reload, the console warning messages don't appear.)

[2019-12-04 00:47] #85941 closed

[2019-12-04 00:56] deepak1556 opened #86213 "Deleting/Renaming a folder in explorer doesn't return all the affected files in the event listener"
When testing https://github.com/microsoft/vscode/issues/85929

Steps to reproduce:

1) Use the example code from https://github.com/microsoft/vscode/issues/86210

2) Delete a folder in the explorer and watch an event received that only contains the folder name being deleted. Same for renaming a folder as well.

Not sure if this is as designed or what is the right behavior here, wouldn't it be bett

[2019-12-04 00:57] deepak1556 commented on #85929
Works pretty good on macOS 👍 , identified a couple of edge cases.

[2019-12-04 00:57] #85929 closed

[2019-12-04 01:02] #85973 closed

[2019-12-04 01:05] deepak1556 commented on #85872
@Menci can you run with `code --verbose` and paste the log here. Thanks!

[2019-12-04 01:08] roblourens opened #86214 "Bad state while resolving keybindings conflicts"
Testing #85941

- Change keybindings, get conflicts
- Open the json editor to resolve conflicts
- Resolve the conflicts (but don't click the checkmark)
- Reload the window
- Click the checkmark
- Get an error "new data exists"
- Close the `.keybindings.json` editor, run "Sync: Resolve Conflicts" again
- Click the checkmark
- Now I get the error `Unable to write file (Error: File Modified Since)`

[2019-12-04 01:17] andrecasal commented on #85015
I thought strict null checking only applied to typescript through the `"compilerOptions": { "strictNullChecks": true }` option. I tried putting that inside the `jsconfig.js` file on a project but `adventurer.dog = null;` didn't yield an error.

Maybe I should ask the documentation team for an example/clarification?

[2019-12-04 01:18] regoje opened #86215 "Keep selected item when typing line numbers"
- VSCode Version: 1.40.2

Steps to Reproduce:

1. In quick open search for a file
2. Using arrow keys select it
3. Type :123 (colon followed by a line number to go to in that file)
4. The selection is reset to the first result

If, however, :123 is entered and the file then selected the correct line number is juumped to.

![Peek 2019-12-04 09-17](https://user-images.githubusercontent.com/1166932/7

[2019-12-04 01:23] mjbvz commented on #85015
Actually looks like there is a bug in jsdoc case. Here's simple code that demonstates how the feature works:

[code]

With the following jsconfig:

[code]

[2019-12-04 01:23] andrecasal commented on #81897
I'm not able to trigger this problem anymore. It seems to have been fixed in version 1.40.

[2019-12-04 01:23] #81897 closed

[2019-12-04 01:26] mjbvz commented on #85015
Opened https://github.com/microsoft/TypeScript/issues/35485 to track no error being generated while accessing values on optional properties in strict mode

[2019-12-04 01:28] andrecasal commented on #85015
Thanks @mjbvz! When I insert a `.` in front of a, no suggestions pop up.

[2019-12-04 01:29] andrecasal commented on #85015
They do in Insiders v1.41.0 👌

[2019-12-04 01:31] andrecasal commented on #85015
But setting `"javascript.suggest.includeAutomaticOptionalChainCompletions"` to `false` still inserts the `?.x`.

[2019-12-04 01:32] mattfysh commented on #83403
This seems like it's been getting worse lately... any chance a growing cache somewhere could have something to do with it? Having to restart vscode multiple times per day now.

[2019-12-04 01:32] paulmillr commented on #3998
The interval option is named `interval: 500` etc, see https://github.com/paulmillr/chokidar#api

[2019-12-04 01:37] RobertoMalatesta commented on #85753
@alexr00 Yes. I'll have to edit out some info for security and non-disclosure reasons.

The key point I think is the error line reported in the internal terminal when opened with ^B:
`/usr/bin/env: ‘node’: No such file or directory`
If I open a new internal terminal ("+")  and issue:
`tsc -p tsconfig.json`
or
`tsc -p tsconfig.json --watch`

tsc executes.

R

[2019-12-04 01:37] cameron-sjo commented on #85234
@mjbvz My apologies, life has been a little crazy for me. I have to 1.40.1 and still having the issue. Installing at the moment, and I'll see if I can still reproduce.

[2019-12-04 01:43] YooSungHyun commented on #38999
+1 Same Issue Here!!!!!!. That is make me crazy bro.

win 10, vscode 1.40.2. and admin used!

[2019-12-04 01:50] RobertoMalatesta commented on #85753
tasks.json:

[code]

tsconfig.json:

[code]

[2019-12-04 01:52] misolori commented on #84553
I’ll tweak the colors so it has a stronger contrast.

[2019-12-04 01:54] david-minaya commented on #9872
+1

[2019-12-04 02:18] nailao commented on #84706
1.40.2 is resolved.

[2019-12-04 02:20] torchlard commented on #46403
Disagree. We need those extensions, but we don't need an icon from it placed in title bar. I don't understand why this simple UI change being ignored for long time, it should be very easy implement, just hide all in 3 dots ...

[2019-12-04 03:12] deepak1556 opened #86217 "onDidDeleteFiles misfires when file is already deleted from a different app"
When testing https://github.com/microsoft/vscode/issues/85929

Steps to reproduce:

1) use the code example from https://github.com/microsoft/vscode/issues/86210 that purposely delays the response from `willDeleteFiles` handler.

2) Delete a file in the explorer, while the delay from the above handler happens

3) Delete the file from terminal

4) After the `willDeleteFiles` resolves, it will trigg

[2019-12-04 03:12] yzhang-gh commented on #83337
I try making it clearer.

- I have `"editor.find.autoFindInSelection": true`, which means enabling "Find in selection" if there is text selected upon pressing <kbd>Ctrl</kbd>+<kbd>F</kbd>. It works well

  ![selected](https://user-images.githubusercontent.com/7588612/70108843-32fb1a80-1685-11ea-8d23-7737bc5484f3.gif)

- If there is no selection, the word under cursor will be used as the seed for s

[2019-12-04 03:14] #85546 closed

[2019-12-04 03:37] akaroml commented on #29757
Just tried to put the short name in the front and it looks good enough for me. What do you think? @fbricon
![image](https://user-images.githubusercontent.com/16755094/70110533-4066d380-168a-11ea-8471-668fafa160d8.png)

[2019-12-04 03:39] robopo opened #86218 "Unresponsive & freezes"
Issue Type: <b>Bug</b>

Freezes for a few seconds, is unresponsive to mouse and keyboard. Started with 1.40.2

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17134

[2019-12-04 03:58] jpike88 commented on #85999
deleting and reinstalling vscode fixed the issue...

[2019-12-04 04:07] jpike88 commented on #85999
false alarm still a problem

[2019-12-04 04:08] jpike88 commented on #85999
its tied to the typescript version

[2019-12-04 04:08] ck97756 commented on #84449
I have this issue too.
VS Code version: 1.40.2

[2019-12-04 04:12] jpike88 commented on #85999
TS 3.6.4 -> 3.7.2 is causing the issue

[2019-12-04 04:12] robertmiles3 commented on #5402
@othyn I think the first thing I posted might be fixed. But the second one (end of line) is not. It's still a major annoyance to me.

[2019-12-04 04:15] #85999 closed

[2019-12-04 04:18] pfaz69 opened #86219 "multiprocessing no longer working while debugging (it works on terminal though)"
here's the Error Traceback:
            Traceback (most recent call last):
              File "/home/paolo/.vscode/extensions/ms-python.python-2019.11.50794/pythonFiles/lib/python/old_ptvsd/ptvsd/log.py", line 110, in g
                return f(*args, **kwargs)
              File "/home/paolo/.vscode/extensions/ms-python.python-2019.11.50794/pythonFiles/lib/python/old_ptvsd/ptvsd/pydevd_hooks.py",

[2019-12-04 04:21] jpike88 commented on #85999
error in log:

[code]

Could not find source file is a weird error, that path DEFINITELY exists.

[2019-12-04 04:34] swiftouch opened #86220 "Auto Refresh when Re-accessing Release Note / Extensions Instructions tabs"
I know this has been reported before. I'm just reiterating how retarded it is that tabs "auto-refresh/reload" on access/focus. Who the hell thought that up?

You throw up the release notes on update and then it loses our place every time we re-select the tab.
 Same with extension instructions and notes.

This is dumb AF behavior. Why is there no setting to change it?

[2019-12-04 04:36] luthfikw commented on #85795
i am using golang, go debugger @sandy081

https://github.com/Microsoft/vscode-go

[2019-12-04 04:58] Sabarishtgi commented on #85905
no sir windows 7 sir

On Mon, Dec 2, 2019 at 7:17 PM John Murray <notifications@github.com> wrote:

[2019-12-04 04:59] prabowomurti opened #86222 "Move line up/down should keep the indentation"
Issue Type: <b>Feature Request</b>

When I move the `echo $row->id;` line up, and down it again, it goes from :

[code]

to

[code]
As you can see that the indentation is also changed.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:52:45.129Z)
OS version: Darwin x64 17.7.0

[2019-12-04 05:20] GRGSIBERIA commented on #85849
@alexandrudima  No, does not work.
VSCode works the same as Chrome.
I don't remenber when the special software does not work on Chrome.
I know that Electron is very chromewell.
I think that VSCode does not be fixed unless Chrome is fixed.

[2019-12-04 05:39] deepak1556 commented on #85932
Works well on linux 👍 also verified image diff.

[2019-12-04 05:48] MxDany commented on #85480
The same file works fine in these editors: Visual Studio, Notepad ++, Beyond Compare, etc., no one cares.☹

[2019-12-04 05:51] deepak1556 commented on #86018
Fixed with https://github.com/microsoft/vscode/pull/83796/commits/22c3db00ec057fecf0144c4c7f8c6bc6cb60e5d6

[2019-12-04 05:52] iSatishYadav opened #86223 "Proxy configuration doesn't allow URLs with port number AND pac files"
- VSCode Version: 1.40.2 (user setup)
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1.` File` -> `Preferences` -> `Settings`-> `Application`-> `Proxy`
2. Under `Proxy` try entering URL `https://user:password@proxyurl.com:8080/file.pac`
3. Error message appears: `Value must match regex `a regex`.

![image](https://user-images.githubusercontent.com/4049421/70115911-2bd50c00-1687-11ea

[2019-12-04 05:54] akaroml commented on #29757
Further playing with my modification, there is actually a new problem. As I keep on typing "spring" to limit the search scope, the highlighting works in a weird way. I was expecting the term "org.spring" to be highlighted, but only "spring" is. I guess it has something to do with the string match algorithm in vscode.

![image](https://user-images.githubusercontent.com/16755094/70116188-eae7f200-16

[2019-12-04 06:08] chrmarti commented on #86011
What if remote has a keybinding for the same command as local when base is null? Should the two keybindings stay or just one of them?

Is there a way to reset remote and base to null?

[2019-12-04 06:13] deepak1556 commented on #86012
Good catch, thanks!

[2019-12-04 06:39] Menci commented on #85872
[code]

[code]

[2019-12-04 06:41] zEdS15B3GCwq opened #86224 "Windows Timer Resolution always increased to 1ms while code.exe is running"
Issue Type: <b>Performance Issue</b>

Launching code.exe always sets platform time resolution to ~1ms (instead of the default ~10-15ms), which stays increased until the vscode window is closed. Apparently, this behaviour wastes power and is not recommended by Microsoft.

For reference, a similar issue is known to affect Visual Studio (not Code) WPF, as far as I am aware.

Method:
1. With and witho

[2019-12-04 06:41] onoffpt commented on #35480
Simply fantastic. Thanks.

[2019-12-04 06:45] kimarudg commented on #84618
I have been experiencing this as well since last week. Intellisense stops working.

[2019-12-04 06:46] Csirme opened #86225 "Debug Launch.json Configure “cwd” other than "${workspaceFolder}" doesn't work"
{
            "name": "DEMO",
            "type": "coreclr",
            "request": "launch",
            "preLaunchTask": "build",
            "program": "/Users/DEMO/Documents/WorkCode/DEMO/src/DEMO/Test/DEMO/bin/Debug/netcoreapp2.1/DEMO.dll",
            "args": [],
            "cwd": "/Users/DEMO/Documents/WorkCode/DEMO/src/DEMO/Test/DEMO",
            "stopAtEntry": false,
            "server

[2019-12-04 06:48] luannguyend86 commented on #84189
The issue seems disappeared after upgrading to version 1.40.2.
Thanks VSCode team for the fixing.
I will now close the tickets

[2019-12-04 06:48] #84189 closed

[2019-12-04 06:49] s-j-a opened #86226 "cannot view contents of Map<DateTime, List> while debugging"
Issue Type: <b>Bug</b>

I am programming using dart and flutter.
I have a structure defined as Map<DateTime, List> , each element of List is also a map. During debugging I cannot view the data in the List maps. Expanding each list element shows only its meta data values (_checSum, _data, _deletedKeys, _hashMask, _index etc...) not the map key/values.

this worked fine in previous versions

VS Code

[2019-12-04 06:52] ahollandusc commented on #84618
Same problem here as @dudeinco with constant recompilation every keypress!
Disabling all plugins didn't fix it.
Reverting to 1.39 did it - thanks @PaunCostin
https://code.visualstudio.com/updates/v1_39

[2019-12-04 06:57] KonFr opened #86227 "Make Activity Bar items toggleable by keyboard shortcut"
At the moment it is possible to open Activity Bar item using keyboard shortcuts (Explorer Ctrl-Shift-E, Search Ctrl-Shift-F etc.) but you have to use mouse to hide it back. Would be nice to use same keyboard shortcuts to hide them, toggle visibility of those.

[2019-12-04 07:04] eamodio opened #86228 "Hovers no longer show up above the current line"
Issue Type: <b>Bug</b>

They now appear to overlap the current line
![image](https://user-images.githubusercontent.com/641685/70120296-34ebbc00-163a-11ea-8a64-0b8b2bf270bc.png)

VS Code version: Code - Insiders 1.41.0-insider (43e3581aa635406ada2d8138d7ee242ddabefc1c, 2019-12-04T05:29:38.104Z)
OS version: Windows_NT x64 10.0.19033

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|

[2019-12-04 07:07] zeromsi opened #86229 "Give application wise theme enabling option."
If I open multiple workplace, I can hardly acknowledge which workplace to work on.

[2019-12-04 07:07] kbernard-fiveco commented on #86075
Hi,

That's true that fuzzy matching can be used when you know what your are looking for.

But if Intellisense is used to "explore" what is inside a imbricated Structure (in C) or Class, and you do not know the name of what you are looking for, the fuzzy matching will not be very usefull.

Actually, if I am not mistaken, this what Eclips does, it only propose suggestion until the next structure/cl

[2019-12-04 07:09] eunjoohwang12 commented on #86227
🔑

[2019-12-04 07:26] sandy081 commented on #85716
git is not available as it is done in core. we have to implement 3-way merge for text or do not merge and let the user do it by showing the diff of remote and local.

[2019-12-04 07:28] sandy081 commented on #30038
This is still in insiders and will be available in stable soon (coming release). You can always download insiders to try.

[2019-12-04 07:34] sandy081 commented on #86143
This is the case even now and I have not got any issues for this and its been there for long time. Hence closing as out of scope.

[2019-12-04 07:34] #86143 closed

[2019-12-04 07:36] sandy081 commented on #86029
Also in stable, so I think not by changes done in this milestone.

[2019-12-04 07:39] giunit commented on #84649
Was this issue fixed? Currently having the same issue.

[2019-12-04 07:40] sandy081 commented on #85889
I see, in such case let me reopen it.

[2019-12-04 07:41] #85687 closed

[2019-12-04 07:46] sandy081 commented on #85795
ok please file the issue against the go extension.

[2019-12-04 07:46] #85795 closed

[2019-12-04 08:01] sbatten commented on #86021
interesting, didn't think about this too much in the past. interestingly, i see that many native Windows context menus let you "select" disabled items to read with the screen reader. The "native" electron menus however do no allow this, what's happening on macOS?

[2019-12-04 08:09] Gunawanart opened #86230 "SHORTCUT NOT WORKING"
Issue Type: <b>Bug</b>

I CANT USE SOME SHORTCUT, I ALREADY BLOCK SOME CODE BUT I CANT COPY AND PASTE IT WITH SHORTCUT CTRL+C AND CTRL+V.   I ALSO CANNOT USE CTRL+A FOR SHORTCUT

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD FX-9800P

[2019-12-04 08:09] maguobiao opened #86231 "中文乱码"
Issue Type: <b>Bug</b>

java println中文，出现乱码

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5300U CPU @ 2.30GHz (4 x 2294)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_b

[2019-12-04 08:15] usernamehw commented on #86220
/duplicate of #27498

[2019-12-04 08:15] #86220 closed

[2019-12-04 08:16] jrieken commented on #84045
Would it be possible to not have either or but to have the restart button push the details to the left?

[2019-12-04 08:17] jrieken commented on #86125
Yes, please a new icon. I took it from the VS set but something more modern is very much appreciated.

[2019-12-04 08:18] gjsjohnmurray commented on #86227
Do you know that <kbd>Ctrl+B</kbd> already exists as that toggle?

[2019-12-04 08:19] jrieken commented on #86123
yeah - closing. I already invested too much in my abc-lang

[2019-12-04 08:19] #86123 closed

[2019-12-04 08:20] KonFr commented on #86227
No, I did not know this, thank you @gjsjohnmurray

[2019-12-04 08:20] #86227 closed

[2019-12-04 08:23] aKumaraGHB opened #86233 "pls provide direct download links for SSH remote extension (VS Code server Work space Extension) download"
referring to
Remote Development using SSH https://code.visualstudio.com/docs/remote/ssh

our linux back end servers which contain source code (which I intend to open with VS code) has no Internet access. So the SSH extension cannot perform the required download in remote machine.

Therefore please provide direct download links (as zip files) for the VS Code server Work space Extension

[2019-12-04 08:24] paulbennet opened #86234 "Search field autofocus issue"
Issue Type: <b>Bug</b>

- Start a new global search ( Cmd + Shift + F )
- Focus 'files to include' input and type something
- Focus moves to 'Search' input automatically

Note: Seems only happens when 'Search' input is empty initially

VS Code version: Code - Insiders 1.41.0-insider (43e3581aa635406ada2d8138d7ee242ddabefc1c, 2019-12-04T05:26:19.040Z)
OS version: Darwin x64 19.0.0

<details>
<summa

[2019-12-04 08:26] alcedo opened #86235 "VS Code online terminal: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?"
VSCode Version: i am using the online version of VS Code:
https://online.visualstudio.com/environment/1cafe73c-2f24-4e26-abaa-63990105dbcd

Steps to Reproduce:

1. install docker
2. run docker ps

![image](https://user-images.githubusercontent.com/1174679/70125886-b848f400-16b2-11ea-9b10-ed10d9cf0a7f.png)

![image](https://user-images.githubusercontent.com/1174679/70125902-c0a12f00-16b2-11ea-80c2-

[2019-12-04 08:27] paulbennet commented on #86234
Though [issue 84768](https://www.github.com/microsoft/vscode/issues/84768) is almost the same, this occurred today for me, and I keep insiders version updated everyday.

[2019-12-04 08:28] qcq opened #86236 "how to connect to remote os's docker"
I have a requiremnt, which my code can only build under redhat, but I have debian,, and my work pc is  windows, if visual stdio support from my pc to connect the debian's redhat docker.

[2019-12-04 08:29] nickdepinet commented on #86227
Additionally, if you want to use the same keybinds then you can add following overrides to your keybindings.json for either whenever the pane is visible or only if the context focus is on it:
[code]

It doesn't appear that there is good context registering for the repository, debug, and extensions viewlets

[2019-12-04 08:31] KonFr commented on #86227
Thanks @nickdepinet for useful information

[2019-12-04 08:32] #86039 closed

[2019-12-04 08:37] fFelixja opened #86237 "Liveshare can not remove text"
The bug occur as I join a collaboration session and tries to add a _Discussion_. When writing the comment I cannot delete the input, such if a typo occur the whole comment has to be rewritten instead of deleting the typo.

Version: 1.40.2
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:52:45.129Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
O

[2019-12-04 08:37] jharrang commented on #4180
@bpasero Thanks for implementing! Now that this is closed, is it possible to finally implement https://github.com/microsoft/vscode/issues/25887 and https://github.com/microsoft/vscode/issues/37350? This would address a critically missing piece of editor functionality that has been heavily requested for over two years.

Also mentioning @alexandrudima who has been consolidating a number of issues to

[2019-12-04 08:37] alexr00 commented on #86018
I still see it with new exploration build. The black is consistent between insiders and explorations, but the grey is not:
![image](https://user-images.githubusercontent.com/38270282/70126598-ac8d0b80-1679-11ea-817c-4d6497eed90c.png)

[2019-12-04 08:39] Linhk1606 opened #86238 "VSCode 的代码补全总是出现在屏幕中央, 而不是光标处"
Issue Type: <b>Bug</b>

如题

VS Code version: Code - Insiders 1.41.0-insider (43e3581aa635406ada2d8138d7ee242ddabefc1c, 2019-12-04T05:29:38.104Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8500T CPU @ 2.10GHz (6 x 2112)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage

[2019-12-04 08:43] alexdevero opened #86239 "Hover information in package.json is mis-aligned"
Issue Type: <b>Bug</b>

Hover over script or dependecy in package.json to show information bubble. The bubble should be above the dependency or script text. Now it is on the far right.

VS Code version: Code - Insiders 1.41.0-insider (43e3581aa635406ada2d8138d7ee242ddabefc1c, 2019-12-04T05:29:38.104Z)
OS version: Windows_NT x64 10.0.19033

<details>
<summary>System Info</summary>

|Item|Value|
|--

[2019-12-04 08:48] alexr00 commented on #86208
Fixed by @misolori in https://github.com/microsoft/vscode/issues/86031

[2019-12-04 08:48] alexandrudima commented on #86168
Thanks for your feedback!

The editor is already adjusting tokens in that cheap way on the renderer process. On all text model edits, the semantic tokens get adjusted by the editor. So pressing <kbd>Enter</kbd> will move all of the ones below down, typing will move all of them on the same line to the left... It is possible that a language specific implementation would do better, but then perhaps w

[2019-12-04 08:48] #86168 closed

[2019-12-04 08:48] #86208 closed

[2019-12-04 08:50] jrieken commented on #85958
Yeah, the problem is that the range selects much text - using only `setEncoding` as filter text then won't match. I think the only available fix would be to make the edit only insert `setEncoding` with the corresponding text and to have the `await` keyword inserted via an additional text edit

[2019-12-04 08:54] jrieken commented on #85915
Yeah - that should catch most of it but I also see [special handling](https://github.com/microsoft/vscode/blob/293cabc6a15616ea0093360dacc6fd8cc3a2cfe0/src/vs/workbench/services/search/common/searchService.ts#L395) for untitled files and the `search-result` mode. It looks like the search service is missing a concept of "ignored schemes" or phrased different, while it only has a search for provider

[2019-12-04 08:54] sandy081 commented on #86011
it shall show conflict in this case.

[2019-12-04 08:56] #85737 closed

[2019-12-04 08:56] #86213 closed

[2019-12-04 08:57] sandy081 commented on #86178
this is a new limitation that got introduced recently. @Tyriar FYI

[2019-12-04 08:57] jrieken commented on #86213
Yeah - that's the designed behaviour and I have also made an attempt to [document](https://github.com/microsoft/vscode/blob/8d2160686e73b3ea2fd5d44628f4b7348e6aeff4/src/vs/vscode.d.ts#L8632) that with the event. Think about deleting node_modules and the avalanche of event that would be required if listing all children, apart from the fact that we don't have this information when such operations ar

[2019-12-04 08:58] sandy081 commented on #86177
May I know the usecase why do you want to have that command given that sync happens every 5 mins and also on special events?

[2019-12-04 08:59] #85933 closed

[2019-12-04 09:04] sandy081 commented on #86153
It is primarily workspace extension and why is it expected to have an action given that install does not have any affect.

[2019-12-04 09:04] othyn commented on #5402
@robertmiles3 Damn... well that's an annoying annoyance! I'm still having an issue with the first one too, both of which are an annoyance coming from sublime.

[2019-12-04 09:06] sandy081 commented on #86152
Yeah it is because their preferable location is either workspace or ui and they get installed in the preferable location.

[2019-12-04 09:06] #86152 closed

[2019-12-04 09:08] akiirui commented on #85589
@deepak1556 thanks for reply, here is `font-config-info` ouput:
<details>
<summary>font-config-info</summary>

[code]

</details>

and my fontconfig

<details>
<summary>fontconfig</summary>

[code]

</details>

I checked in web vscode, it's not have this issue (chromium version 78.0.3904.108)

[2019-12-04 09:11] alexr00 commented on #85654
This is also poorly aligned since the icons are now too far left:
![image](https://user-images.githubusercontent.com/38270282/70128146-ae0c0300-167c-11ea-956c-7a3dee2f62fb.png)
They are both bad. We need to change how custom trees are aligned more thoroughly to fix this.

[2019-12-04 09:15] usernamehw opened #86240 "Search Editor Preview: Highlight file in paths"
Example is WebStorm's finder screenshot from https://github.com/microsoft/vscode/issues/23931#issuecomment-468454610

![53601335-d4df5b00-3b79-11e9-9374-d2f5b04c2f5c - Copy](https://user-images.githubusercontent.com/9638156/70129045-1c59c100-168f-11ea-84b2-f9f5ace0ac65.png)

Or Better Search extension

![search](https://user-images.githubusercontent.com/9638156/70129477-d9e4b400-168f-11ea-9830-847

[2019-12-04 09:15] #86231 closed

[2019-12-04 09:15] jrieken commented on #86218
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2019-12-04 09:15] sandy081 commented on #86088
Good output.

Summarising:

- No extra UI
- Show the success message only once with addition info as mentioned above.

[2019-12-04 09:17] sandy081 commented on #86099
Where did you set the font size? In settings editor or conflict editor?

[2019-12-04 09:18] usernamehw opened #86241 "Search Editor Preview: Support syntax highlighting"
#23931

|    Expected     |  Actual         |
| ------------- |-------------|
| ![Screenshot (105)](https://user-images.githubusercontent.com/9638156/70135342-f3d7c400-169a-11ea-8e28-b21fa49fa354.png)    | ![Screenshot (106)](https://user-images.githubusercontent.com/9638156/70135362-fcc89580-169a-11ea-8e09-828773bf0493.png)  |

[2019-12-04 09:19] jrieken commented on #85951
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2019-12-04 09:19] alexandrudima commented on #86167
#### `SemanticTokensRequestOptions.ranges`
This option is currently not exercised in the implementation. Here is my thinking for when we would use it.

When a file is opened, we would do two requests:
- the first request `A` for semantic tokens would be with `ranges` set to the current viewport. The language server would first see this request and can answer with a small subset of tokens (only the

[2019-12-04 09:19] #86167 closed

[2019-12-04 09:19] MrChenWithCapsule commented on #85480
Is there a better alternative than jschardet?

[2019-12-04 09:19] sandy081 commented on #86201
@joaomoreno This keeps coming and I do not know the steps to repro. Is it possible to get a method from tree to know if the model exists or not?

[2019-12-04 09:20] #86219 closed

[2019-12-04 09:21] #86225 closed

[2019-12-04 09:21] Hagay-Reinman opened #86242 "Make breakpoint candidates less noisy"
- VS code : 1.40.2:
- Ubuntu 18.04.3 LTS :

Steps to Reproduce:

1. Create any break point
2. See that 2 or more icons of break point is shown in the editor, see attached picture.
![Selection_100](https://user-images.githubusercontent.com/45554685/70129770-0bf21800-1688-11ea-8398-f5738e697347.png)

Does this issue occur when all extensions are disabled?: Yes/No

[2019-12-04 09:22] jrieken commented on #85997
If it is bound to nothing what do you expect it to do then? Except for doing nothing?

[2019-12-04 09:24] jrieken commented on #86010
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2019-12-04 09:24] alexandrudima commented on #86165
TM grammars are interpreted synchronously in the renderer process, and in most typing situations, while actually typing. (the exception would be when opening a very large file and typing at the bottom of it before tokenization has reached the bottom). So, in most cases, the TM grammar is running synchronously on typing...

Today, the request is made 500ms after the last typing stops. Since we neve

[2019-12-04 09:25] jrieken commented on #86054
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2019-12-04 09:27] #85995 closed

[2019-12-04 09:27] #86075 closed

[2019-12-04 09:28] deepak1556 commented on #86213
Sounds good, but the result of the operation `FilesDeleteEvent` has a value that says `/**
		 * The files that got deleted.
		 */
		readonly files: ReadonlyArray<Uri>;` which seems misleading, can we better clarify that ?

Also any reason for this event listeners to care about changes to a folder value ? Maybe avoiding that would keep it simpler ?

[2019-12-04 09:28] jrieken commented on #86087
Why are you not using option 1) or 2)?

[2019-12-04 09:29] #86093 closed

[2019-12-04 09:30] isidorn commented on #86189
DUp of https://github.com/microsoft/vscode/issues/86106

[2019-12-04 09:30] #86189 closed

[2019-12-04 09:31] sandy081 commented on #86089
I know it is not frequent action, but is not annoying for the user if we show it always and user knows about it?

Anyway moving this discussion to https://github.com/microsoft/vscode/issues/85216

[2019-12-04 09:31] #86089 closed

[2019-12-04 09:32] sandy081 commented on #85216
From @joaomoreno

Should we really ask the user again what they want to sync, once they re-enable sync?

![image](https://user-images.githubusercontent.com/22350/70060709-54a3c580-15e3-11ea-9771-58e1469faa27.png)

Reply from @Tyriar

I think we should keep this, turning off should happen very infrequently and one of the valid reasons for this could be to reconfigure what is synced for users less f

[2019-12-04 09:33] sandy081 commented on #86090
Do you mean the size of file or number of entries?

[2019-12-04 09:33] jrieken commented on #86109
It depends ;-) The `extHostCommands` logic doesn't catch/handle error but relies on the caller to handle them correctly. I think that's a good approach because error handling often differs from caller to caller. So, it depends what are trying and where are seeing error going unnoticed?

[2019-12-04 09:33] DanTup commented on #86087
@jrieken I mentioned this above - my understanding is that they only allow you to know "when the last file was saved". Using this means it would never fire if the user has additional dirty files but is clicking Save (not Save All) to save just one of them.

If the user modifies (but does not save) `fileA.dart` then switches to `fileB.dart` and modifies and saves that, they expect a hot reload of o

[2019-12-04 09:33] dbaeumer commented on #86140
IMO the console complaining about the lack of a corrupted.info file is not the cause of the JSON language server to fail. In case this fails it will continue showing default English strings.

I create a new issue in the vscode-nls repository which actually prints that message. It is: https://github.com/microsoft/vscode-nls/issues/27

Assigning to @aeschli for the JSON language server problem.

[2019-12-04 09:34] dbaeumer commented on #86140
@Tyriar can you please comment on https://github.com/microsoft/vscode-nls/issues/27 so that I undertstand what could cause this.

[2019-12-04 09:35] sandy081 commented on #86097
I do not think order matters here. Theme should be applied even if the extension gets installed after. Will investigate.

[2019-12-04 09:37] aeschli opened #86243 "suggest widget misplaced"
Version: 1.41.0-insider (user setup)
Commit: 43e3581aa635406ada2d8138d7ee242ddabefc1c
Date: 2019-12-04T05:29:38.104Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.17134

Also on Ubuntu 18.04

Create
[code]

- code completion in`use`. Suggestvwidget is off.
![image](https://user-images.githubusercontent.com/6461412/70131089-ff6ac100-1681-11e

[2019-12-04 09:38] jsyt commented on #85997
I expect it to move the cursor to the end of the text just like in the editor.
Thanks!

[2019-12-04 09:39] aeschli commented on #86243
Releated #86239

[2019-12-04 09:41] whizsid commented on #86222
Can you provide an animated GIF that containing what you did? I have tested it and worked.

[2019-12-04 09:42] #86237 closed

[2019-12-04 09:42] sandy081 commented on #86082
There are also other tools like Chrome which provide this toggling option. I assume that context is shown from the global menu where it shows all user configuration data and we also show a dialog after turning on explaining user what is getting synced.

Sign out command is temporary but will add Sync prefix.

I think so it is. Again same reasoning as above.

Again moving this to https://github.com

[2019-12-04 09:42] #86082 closed

[2019-12-04 09:43] weinand commented on #86040
The feature known from C# is not called "Time Travel Debugging" but it is called  "Jump to Cursor" as @gjsjohnmurray correctly pointed out. This feature is automatically enabled in VS Code if the underlying runtime supports it.

"Time Travel Debugging" is supported by VS Code too, but only the Chakra-based runtimes and a few other debuggers support it. Again, this feature is automatically enabled

[2019-12-04 09:43] #86040 closed

[2019-12-04 09:43] usernamehw opened #86244 "Search result in editor tab: Configure what to show"
#23931 Just an idea. The syntax is just an example of modified a bit `window.title` setting.

Default config:
[code]
Default result:
[code]

---

Zen-like config:
[code]

Zen-like result:
[code]

File before each match:
[code]
File before each match result:
[code]

Other possible variables:

- `${absolutePath}` - show absolute path instead of relative
- `${lineUp}` - show some context
- `${lineDow

[2019-12-04 09:46] #85989 closed

[2019-12-04 09:46] isidorn commented on #85989
@JacksonKearl Sure, those suggestions work for me. Can you please create an issue and assign it to @misolori and me. Thanks!

[2019-12-04 09:50] lukas-runge opened #86245 "Markdown Side Preview disappearing when *.md tab in focus/edited"
Note: This does not occur when using stable version, just insiders.

- VSCode Version: 1.41.0-insider
- OS Version: Linux x64 5.0.0-37-generic

Steps to Reproduce:

1. create test.md
2. open side preview
3. edit test.md
4. preview disappears

Does this issue occur when all extensions are disabled?: Yes

[2019-12-04 09:50] #86170 closed

[2019-12-04 09:51] alexandrudima commented on #86243
I have bisected this to https://github.com/microsoft/vscode/commit/74ffa7942a107b9cfc45525e508ac601b79aacc1

[2019-12-04 09:51] jrieken commented on #86155
F1 > Format Document

[2019-12-04 09:51] #86155 closed

[2019-12-04 09:51] alexandrudima commented on #86239
I have bisected this to 74ffa79

[2019-12-04 09:51] alexandrudima commented on #86243
Let's track in #86239

[2019-12-04 09:51] #86243 closed

[2019-12-04 09:51] #86238 closed

[2019-12-04 09:55] alexandrudima commented on #86239
I have reverted via https://github.com/microsoft/vscode/commit/7f1975a4fb29d0a788c21f17eb2aad056fec22d8 , new builds are running...

[2019-12-04 09:55] #86239 closed

[2019-12-04 09:57] #86209 closed

[2019-12-04 09:58] AeneasZhu opened #86246 "Python Interactive Window Disappears When Clicking Left Side after latest insider update"
![gifhome_1920x1040_7s](https://user-images.githubusercontent.com/44701446/70132442-33180c00-16bf-11ea-9cb1-6f4eaff2a5d1.gif)

I think this is VsCode's Problem not the python team's. After I upgraded the latest version hours ago, it happened as shown above. Even when I press `shift+enter` to run cell, the Interactive Window doesn't show up unless I click the right side.

[2019-12-04 10:02] IZEDx commented on #84241
Same issue here. It's getting quite confusing now having workspaces point to different "src" folders.

[2019-12-04 10:03] alexr00 commented on #86014
Upstream https://github.com/jeff-hykin/cpp-textmate-grammar/issues/426

[2019-12-04 10:03] HenrikHolmIT commented on #84685
Working around this issue has become a nightmare.
My process:
I press F5 to debug
Wait a second and remember that I have to click Building text in the status bar
Then click the Kill Terminal trashcan
Wait for the Debug VS Code to open
Start to debug code
Do the actions I need to do to get to the code I want to debug
Realize the code is not compiled with the latest changes so I start over
Repeat...

[2019-12-04 10:05] aeschli opened #86247 "[scss] @use proposals: Don't use CompletionItemKind.Text"
Testing #85979

[code]
- do code compete inside `""`.
- proposals `sass:color` and others use the textual icon.

->Should only be used for textual (non-context aware) proposals

[2019-12-04 10:07] isidorn opened #86248 "Restart frame: make it less nervous"
As pointed out by @jrieken

Verified tho I have noticed that this makes the call stack view quite nervous - I believe that's because the hide the filename and line/column information on hover
Would it be possible to not have either or but to have the restart button push the details to the left?

Plan to experiment with flex and overflow.

[2019-12-04 10:07] isidorn commented on #84045
Makes sense. Created a follow up item for this https://github.com/microsoft/vscode/issues/86248

[2019-12-04 10:07] aeschli commented on #86022
@charli20 Can you add a small code sample?

[2019-12-04 10:09] alexandrudima commented on #86174
Thank you for the very good feedback!

Exactly **that** is the reason why tokens are delta encoded relative to the previous tokens. I was hoping the toy example of 3 tokens to do a better job at showing that, but I should have called it out perhaps more explicitly, or perhaps the example is too condensed and I should break it up in more steps, perhaps with 3 total requests.

In any case, suppose t

[2019-12-04 10:09] #86174 closed

[2019-12-04 10:09] sandy081 commented on #86157
Allowed sinon in all test packages

[2019-12-04 10:09] #86157 closed

[2019-12-04 10:09] aeschli commented on #86060
duplicated of https://github.com/microsoft/vscode/issues/84259

[2019-12-04 10:09] #86060 closed

[2019-12-04 10:09] stevencl opened #86249 "Emmet abbreviation shown above list of CSS property completions"
Testing #85968
Issue Type: <b>Bug</b>

Invoke CSS property completion by typing 'a' inside a selector.

Expect to see the top item in the completion list - align-items. Instead see align-self at top of the list (this is an emmet abbreviation).

![image](https://user-images.githubusercontent.com/1704059/70133509-2a531600-167e-11ea-9902-061553ab2b4a.png)

Same discrepancy when typing b, f, o, and v

[2019-12-04 10:10] s-e1 opened #86250 "Intellisense for trimStart() and trimEnd()"
Issue Type: <b>Feature Request</b>

Intellisense doesn't show trimStart() and trimEnd().

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18363

[2019-12-04 10:11] weinand opened #86251 "Firefox on macOS: discrepancy in dropdown menu look"
Testing https://github.com/microsoft/vscode/issues/85987:

on macOS I noticed a discrepancy in the look of dropdown menus:

![2019-12-04_11-07-39](https://user-images.githubusercontent.com/1898161/70133568-a7828900-1686-11ea-882b-52ff17d18a8e.png)

I like the debug config dropdown (green arrow) and I dislike the other dropdown boxes (red arrows).

[2019-12-04 10:12] sandy081 commented on #86091
/duplicate

https://github.com/microsoft/vscode/issues/86067

[2019-12-04 10:12] #86091 closed

[2019-12-04 10:12] aeschli commented on #86140
@Tyriar Can you enable `"json.trace.server": "verbose"` and check the `JSON Language Server` output?

[2019-12-04 10:13] alexr00 commented on #84685
I made the typescript problem matcher less local specific in https://github.com/microsoft/vscode/commit/e82dd213dde5a1b042d6c2e65dd7bd49345c683b
Can you try installing [VS Code insiders ](https://code.visualstudio.com/insiders/)and see if that works for you?

[2019-12-04 10:14] davidgreen99 commented on #86017
It is NOT reproducible on Version: 1.41.0-insider (user setup).
It IS reproducible on Version: 1.40.2 (user setup)
both on OS: Windows_NT x64 10.0.14393

1. I open the local folder containing my repo, containing images in the 'media' folder:

2. In markdown I reference an image like this:
![localized image](/en-us/federated-authentication-service/media/policy-definitions.png)

3. Preview in Versio

[2019-12-04 10:15] isidorn commented on #86242
Those are breakpoint candidates. On which you can click to add a breakpoint.
Renaming this issue to make breakpoint candidates less intrusive.
We should add opacity and decrease the size they take. They should be less noisy

[2019-12-04 10:18] jrieken commented on #86125
Catch 22 - the icon atop always shows the other direction, e.g when in "caller of" mode the icons shows the "call from" mode to switch to that mode but the inline command should be always be the current mode. that means the icons are always different...

<img width="402" alt="Screenshot 2019-12-04 at 11 15 40" src="https://user-images.githubusercontent.com/1794099/70133986-735b9800-1687-11ea-82a6-

[2019-12-04 10:19] isidorn commented on #86015
Not a regression, leaving to @bpasero once he comes back from vacation.
Also on insiders we have changed the save behavior, so this might be different now.

[2019-12-04 10:19] #86132 closed

[2019-12-04 10:19] fortydegrees opened #86252 "VSCode force opening window on error"
I'm developing a react native app that uses typescript. Whenever I run the app and it encounters an error, VSCode forces focus and opens up a file in node_modules.

This is really annoying as I have to scroll all the way up the file list and collapse the node_modules folder, and then navigate back to the original window I was working on. I've looked around and haven't been able to find a page desc

[2019-12-04 10:23] isidorn commented on #86107
For the magnifier to work the Terminal would have to have the hidden text input field like the editor does. The textInputField would always be in sync with the content of the Terminal.
@Tyriar assigning to you. We do not currently have the hidden text input field in the terminal correct?

[2019-12-04 10:24] afernando79 opened #86253 "VSC Insiders unable to connect to WSL server"
Issue Type: <b>Bug</b>

Start VSC Insiders (within Windows)
Open folder
Bottom left Reopen folder in WSL

Results:
[2019-12-04 10:09:04.286] Resolving wsl+ubuntu, resolveAttempt: 1
[2019-12-04 10:09:05.324] Starting VS Code Server inside WSL (u)
[2019-12-04 10:09:05.324] Extension version: 0.41.2, Windows build: 18362. Multi distro support: available. WSL path support: enabled
[2019-12-04 10:09:06

[2019-12-04 10:26] alexandrudima commented on #85997
I think we have covered the keybindings from https://support.apple.com/en-us/HT201236 , which doesn't have `Control-V`...

[2019-12-04 10:26] isidorn commented on #86105
@anthonykozak Thanks for filling this issue. I will investigate next milestone into this.

[2019-12-04 10:29] isidorn commented on #86092
@DutchBlackOp Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2019-12-04 10:30] isidorn commented on #86210
The issue is that the file-explorer calls the textFileService per resource. To tackle this we should introduce a bulk call in the textFileService.

[2019-12-04 10:30] #86128 closed

[2019-12-04 10:32] qjebbs commented on #84685
@alexr00 Thanks for the work, I'll try it. But I'm just wondering why don't to make it more flexible by (focus on the part isn't likely changing):

[code]

This works for me.

[2019-12-04 10:34] jrieken opened #86254 "Settings UX allows user selection"
* Mac
* triple click selects works, dragging selects more

<img width="665" alt="Screenshot 2019-12-04 at 11 33 55" src="https://user-images.githubusercontent.com/1794099/70135252-f847b100-1689-11ea-9ddf-4a00f99175d8.png">

[2019-12-04 10:37] qjebbs commented on #84685
PS: With the current stable release, I change the `tasks.json` by what `RegExp` you committed:

[code]

It doesn't work, and prompts "cannot tract task" or something (in Chinese). I think the insider release should have same result, doesn't it?

[2019-12-04 10:44] alexandrudima commented on #86230
@Gunawanart uninstall or disable the vim extension. It appears you actually do not want vim mode, despite the fact that you installed the vim extension 🤷.

[2019-12-04 10:44] #86230 closed

[2019-12-04 10:47] #86048 closed

[2019-12-04 10:49] isidorn opened #86255 "Electron 7: going simple full screen turns everything white"
Refs: https://github.com/microsoft/vscode/issues/85994

macOS, Catalina, electron exploration build

1. "window.nativeFullScreen": false
2. Go full screen -> whole screen is white and code is unusable

Due to the severity of the issue adding label important

![fullScreen](https://user-images.githubusercontent.com/1926584/70136311-0991bd00-168c-11ea-8b2d-db0dbee91dce.gif)

[2019-12-04 10:50] ghuser commented on #3998
@zebralight It seems that watcher ignore rules stop working (at least on linux) on workspaces with more than one root folder added to the list (left workspace panel). And that is why cpu goes high.

See how to verify using `strace`: https://github.com/microsoft/vscode/issues/59679#issuecomment-555054743

[2019-12-04 10:51] isidorn opened #86256 "Electron 7: going full screen makes the whole screen flickr"
Refs: https://github.com/microsoft/vscode/issues/85994

Catalina, Electron 7.1.3

1. Make sure to have "window.nativeFullScreen": true
2. Go to full screen -> the transition is not smooth, there is a flash of black screen for a moment

The full screen transition for my current chrome 78 is much more smoother

[2019-12-04 10:54] weinand opened #86257 "Firefox on macOS: drag-n-drop to desktop doesn't work"
Testing https://github.com/microsoft/vscode/issues/85987 in Firefox on macOS:

Dragging a file from the VS Code explorer to the desktop results in some `vscode-remote-//localhost-80` link.

This works fine in Chrome.

[2019-12-04 10:55] cankush625 opened #86258 "Maximize button doesn't work correctly"
- VSCode Version: 1.40.1
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. When the maximize button is clicked, it is expected that the application windows must be maximized and when clicked again it will toggle.

Does this issue occur when all extensions are disabled?: Yes

The Autohide taskbar is enabled.

[2019-12-04 10:58] jrieken commented on #86116
I'd say that's mostly https://github.com/microsoft/vscode/issues/84553#issuecomment-561438782 and the lack of a good reveal color. What happens (and that works with at the default light theme) is that the current position is highlighted for a (very) short while and that should you a better understanding of what's going on. Let's see how well that works once we have a better color.

[2019-12-04 11:00] isidorn opened #86259 "Electron 7: black title bar always present"
Refs: https://github.com/microsoft/vscode/issues/85994

Catalina, Electron 7.1.3

Open VSCode, note that there is always a black title bar top. This is quite distrurbing to the eyes and it was not present before.

FYI here is my `settings.json`

[code]

![Screenshot 2019-12-04 at 11 58 10](https://user-images.githubusercontent.com/1926584/70137043-693c9800-168d-11ea-99bc-7bd5405c5fe4.png)

[2019-12-04 11:01] rip3rs commented on #84772
This should be added on the documentation.
https://code.visualstudio.com/api/references/theme-color

Or be more prominent so that people don't go everywhere to find this specific issue :)

[2019-12-04 11:02] isidorn commented on #86259
Hmm now I also see it in insiders, so might be just unlucky coincidence that my Catalina updated.

[2019-12-04 11:11] jrieken commented on #85741
Closing this as question. I have also created #86122 follow-up on our side to be more explicit (telemetry, logging) about this.

[2019-12-04 11:11] #85741 closed

[2019-12-04 11:15] IllusionMH commented on #86258
Most likely duplicate of #81102

@cankush625 please update to latest version 1.40.**2** it should contain the fix and close issue if it work correctly with latest version.

[2019-12-04 11:16] laem commented on #86253
I can confirm, I have the same issue today.

[2019-12-04 11:19] IllusionMH commented on #86130
/cc @deepak1556 can it be related to updated Electron?

[2019-12-04 11:19] HenrikHolmIT commented on #84685
@alexr00 Updated to 1909. Seems the problem has god away. F5 opens a debug VSCode window now and it seems to always run the latest code.

I'm happy now.

[2019-12-04 11:22] weinand commented on #85225
I like the behavior since it is very intuitive.

[2019-12-04 11:22] #85225 closed

[2019-12-04 11:24] isidorn commented on #85994
Looks good. I will continue to self host on it for the rest of the week and file issues if I hit them.
Closing this for now.

[2019-12-04 11:24] #85994 closed

[2019-12-04 11:25] alexr00 commented on #84685
@qjebbs I think you'd need to add a bit more to the task:
[code]
Insiders installs side by side with stable, so it's pretty easy to try out.

[2019-12-04 11:27] alexandrudima commented on #86163
@MattEsquivel

- `Ctrl+Alt+Up`/`Ctrl+Alt+Down` are commands for introducing multiple cursors. Multiple cursors is a feature that is similar, but different to column selection.
- We have also implemented column selection. By default, those commands are available via `Ctrl+Shift+Alt+` arrow keys. But we lack virtual space. That is tracked in #13960 . You can also use the middle mouse button to do co

[2019-12-04 11:27] #86163 closed

[2019-12-04 11:27] isidorn commented on #86257
This feature is currently implemented that it uses the chrome transfer protocol.
We would have to see what is needed so that firefox supports this.

[2019-12-04 11:27] jrieken commented on #37363
<img width="86" alt="Screenshot 2019-12-04 at 12 26 45" src="https://user-images.githubusercontent.com/1794099/70138816-5fb52f00-1691-11ea-9f53-788d1f5bff8c.png">

It is there but not really pretty, esp when expanded but I believe we already talked about it

[2019-12-04 11:29] alexandrudima commented on #86141
@Braunson Can you please attach/look at the logs at `F1 > Developer: Open Logs Folder` and look for `exthost` logs.

[2019-12-04 11:34] #86113 closed

[2019-12-04 11:35] Ahmed-Elswerky opened #86260 "can't reach hidden task bar with position top when vscode window maximized"
- VSCode Version:1.40.2
- OS Version:windows_NT x64 10.0.18362

Steps to Reproduce:

1.open vscode
2.maximize it's window

Does this issue occur when all extensions are disabled?: Yes

I set my task bar to hidden and when mouse reaches the top, it displayes, this works fine with all programs, but only the latest two updates in vscode that this not happening

[2019-12-04 11:43] IllusionMH commented on #86252
Are you sure you don't have checked "All Exceptions" and "Uncaught Exceptions" checked in Breakpoins section?

[2019-12-04 11:46] fortydegrees commented on #86252
Not that I know of. Not for VSCode (which doesn't show anything in Breakpoints section) or for Chrome Dev Tools

[2019-12-04 11:47] alexandrudima commented on #86036
@lamysafari

VS Code is built with Electron, which is built with Chromium. Text rendering in the editor is basically delegated to Chromium, so VS Code has the same text rendering as Chrome.

Do you observe any rendering differences (to the worse) when opening https://jsfiddle.net/f1ymushw/ in Chrome versus opening it in Edge or Firefox? If you do, then please open an issue directly against Chromiu

[2019-12-04 11:49] alexalannunes opened #86261 "Highlight still appers different colors"
Issue Type: <b>Bug</b>

Today I updated my VSCODE and, again, In my editor appered two highlight background color.
In the old days I had this problem before, and it was fixed changing some configs!
in /usr/share/applications/code.desktop

I had to put `--disable-gpu` nit the code.desktop file

Follow:
https://github.com/microsoft/vscode/issues/84690#issuecomment-554008427

In this release, I had t

[2019-12-04 11:51] #86111 closed

[2019-12-04 11:57] alexandrudima commented on #85962
@javidh I was not able to reproduce what you describe. When I do option+click on a cursor or on a selection, it gets removed as I would expect:

![TO_UPLOAD](https://user-images.githubusercontent.com/5047891/70140679-8ffecc80-1695-11ea-883b-3fde5c52e1b6.gif)

[2019-12-04 11:57] isidorn commented on #86046
After discussions with @weinand we decided to leave it as it is now. And we are open to change it in the future.
The open a file action could potentially open the explroer. And then the user could chose from there.
Though let's wait for feedback.

[2019-12-04 11:57] alexandrudima commented on #85940
Let's track in #86239

[2019-12-04 11:57] #85940 closed

[2019-12-04 11:59] alexandrudima commented on #86239
A new insiders with the fix is now available.

[2019-12-04 12:00] isidorn commented on #83543
I agree. However not for endgame. Pushing out to next Milestone.

[2019-12-04 12:00] cankush625 commented on #86258
Yes, the new version 1.40.2 fixed it.
Closing the issue.

[2019-12-04 12:00] #86258 closed

[2019-12-04 12:02] tomasaschan opened #86262 "Remote WSL does not start after last update"
Issue Type: <b>Bug</b>

After the latest update to VS Code Insiders, opening a remote connection to WSL fails with this error:

[code]

VS Code version: Code - Insiders 1.41.0-insider (7f1975a4fb29d0a788c21f17eb2aad056fec22d8, 2019-12-04T10:20:42.228Z)
OS version: Windows_NT x64 10.0.19033
Fetching remote diagnostics for 'WSL: Ubuntu' failed: VS Code Server for WSL closed unexpectedly.
Check WSL t

[2019-12-04 12:18] lukas-runge commented on #86245
New vs code insiders version just dropped - I installed it and it fixed the issue. Thanks you guys ;-)

[2019-12-04 12:18] #86245 closed

[2019-12-04 12:25] IcedAnt opened #86263 "Right-click menu behind 'Branch name' menu"
Version: 1.40.0 (system setup)
Commit: 86405ea23e3937316009fc27c9361deee66ffbf5
Date: 2019-11-06T17:02:13.381Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.14393

&

Version: 1.40.2 (user setup)
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:54:45.096Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.

[2019-12-04 12:37] torchlard commented on #83133
just add an option allow all icons hide in "..."

[2019-12-04 12:45] jakiwar commented on #60145
I just fixed my WMIC issue by turning of auto attach with the following versions (thx for the tip)
![image](https://user-images.githubusercontent.com/11963547/70143588-53829f00-169c-11ea-93fd-ed03a42962a2.png)

[2019-12-04 12:55] tomasaschan commented on #86262
Good bot! Yes, this is a dupe of #86253, although visible on a different (later) version.

[2019-12-04 12:55] #86262 closed

[2019-12-04 12:55] tomasaschan commented on #86253
So do I, but on a different version: VS Code version: Code - Insiders 1.41.0-insider (7f1975a, 2019-12-04T10:20:42.228Z).

[2019-12-04 13:02] #85984 closed

[2019-12-04 13:05] alexandrudima commented on #85849
Thank you for your fast answer. Given our current architecture, we cannot support this input method on our side unless we receive input events from Chromium.

Can you please create a new issue at https://bugs.chromium.org/p/chromium/issues/list and link to it here.

[2019-12-04 13:07] lfjbb opened #86264 "the file explorer become nothing after use go to definition (F12)"
![捕获](https://user-images.githubusercontent.com/35714131/70145001-150bd500-16da-11ea-8b12-25f749d98df4.PNG)

- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-12-04 13:11] alexandrudima commented on #85846
@vmittal26 Your screenshot looks funny because normally TypeScript renders the typescript version in the status bar:

![image](https://user-images.githubusercontent.com/5047891/70145098-a14cd680-169f-11ea-883d-1cc72bb32360.png)

Also, for that code sample, it is expected to see squiggles on `x` because it is not initialized.

I think there is something not working with our built-in TS extension on

[2019-12-04 13:16] #85638 closed

[2019-12-04 13:17] sandy081 commented on #85638
Made status bar items on the left remain (not hidden) and status bar items on the right wraps as the size reduces.

[2019-12-04 13:27] jrial commented on #84745
This is a known issue when running Chrome (and Electron, and anything built on Electron) under VirtualBox. See https://www.virtualbox.org/ticket/15417 and https://www.virtualbox.org/ticket/12738

The issue has been known for many years. Apparently there aren't enough resources at VirtualBox to work on a fix, so don't expect one soon. For now your best bet is either using the `--disable-gpu` flag,

[2019-12-04 13:27] SferaDev commented on #86253
Same issue on version 1.41.0-insider (7f1975a, 2019-12-04T10:20:42.228Z).

[2019-12-04 13:27] #85977 closed

[2019-12-04 13:28] acobbjones commented on #84649
+1
I am, as well.

[2019-12-04 13:28] jrial commented on #84745
Additionally, if memory serves well, I believe my workaround back in the day was to quit the application with `ctrl-q` as soon as the graphical glitches started to appear. If you catch it in time, you can simply quit and relaunch the application and your VM will keep on truckin'.

[2019-12-04 13:29] RandomFractals commented on #77131
First of all this is really great idea to simplify scaffolding of webviews and custom editors for different file types.

Question: if a custom web editor requires separate config for webview settings, connection strings, etc. would you expect it to manage that via exposed state API?

I'd love to port [Data Preview 🈸](https://github.com/RandomFractals/vscode-data-preview) to this API when it's full

[2019-12-04 13:31] prjemian commented on #84745
Aha!  Well, thanks for getting to the root cause of this issue.  I confirm your empirical approach to *quit as soon as glitches start to appear*.  That has worked for me as well.  For now, this conversation has helped me remember to use `--disable-gpu` when in the VM.

Let's leave this issue open until the upstream (VirtualBox) issues are resolved, if ever.  That would be helpful to others who enc

[2019-12-04 13:33] prjemian commented on #84745
@deepak1556 & @jrial: I applaud you both on your responsiveness and diligence on this issue.

[2019-12-04 13:35] #86112 closed

[2019-12-04 13:36] FVanGenck opened #86265 "Toggle References View Position"
I am using the Search Results and the Find All References quite a lot.
Both are very useful in an editor while programing.

Yet I would like to have both in the same spot. It doesn't make sense for me to look at search results in 2 different places.

As the search results lines can be quite long, I prefer these results in the bottom panel next to OUTPUT and TERMINAL.

This is already possible for

[2019-12-04 13:37] chrmarti commented on #85844
https://github.com/microsoft/vscode/commit/8bb358f24dba9545abaa7b4a2db02568fd7398d0 added checks that will return early if the label's text is still the same. That doesn't consider highlights and other options. Will do a PR for @sandy081 to review. (/cc @joaomoreno)

[2019-12-04 13:37] vmittal26 commented on #85846
I am glad that screen shot made u smile :)

You are right ctrl + space is also not showing anything also no errors means red lines
if some import or missing or any other error , how to enable TS Extension i don't know how to enable/disable it I am surprised what got changed few days back everything was ok

[2019-12-04 13:37] alexandrudima commented on #85853
@David263 I would like to try to understand what are the 3 other issues that you mention.

#### 1. Regarding the Hebrew "הֽ͏ַ"
Can you share the code fragment that was problematic? We have a number of known issues around RTL, perhaps one of the existing issues already contains the exact issue you are experiencing?
 - https://github.com/microsoft/vscode/issues/11770
 - https://github.com/microsoft/

[2019-12-04 13:40] alexandrudima commented on #85846
Can you please check via the extensions viewlet on the left > ... > Show builtin extensions > scroll down in the first section:

![image](https://user-images.githubusercontent.com/5047891/70147124-f25ec980-16a3-11ea-9313-d541d78fa532.png)

[2019-12-04 13:40] gjsjohnmurray commented on #84649
#74782 is on the iteration plan for 1.41, which is expected to be released next week.

[2019-12-04 13:41] johnrix commented on #35480
Been using the git integration a good bit of late, thanks to this update. :-)

[2019-12-04 13:45] vmittal26 commented on #85846
Thanks a lot :) issue is fixed ,built in typescript extension was disabled somehow , all things resumed to normal

[2019-12-04 13:47] ThomasRoca opened #86266 "Javascript error main process"
Issue Type: <b>Bug</b>

I cannot open VScode clicking on its icon or when opening a file associated to it. For some reason, i can open it when right clicking on the icon and selecting open a New Window

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|

[2019-12-04 13:49] #85846 closed

[2019-12-04 13:50] sandy081 commented on #86135
`Clear Filters` link used to be there and removed it. So bringing it back.

[2019-12-04 13:52] isidorn opened #86268 "getMultiSelectedResources should be removed"
Instead the commands should ask the explorerService or the openEditors service if they have any context

Code pointer https://github.com/Microsoft/vscode/blob/6ee34c59734ef4a2b0323b9cbb72ac1d0d092912/src/vs/workbench/contrib/files/browser/files.ts#L56

[2019-12-04 13:52] isidorn commented on #86103
Good catch. Debt follow up work https://github.com/microsoft/vscode/issues/86268

Verifier have the compact folders in the explorer and verify all context menu actions work on the expected context (if you click on the middle item it will execute on it).

[2019-12-04 13:53] #86103 closed

[2019-12-04 13:58] #85144 closed

[2019-12-04 14:01] #86226 closed

[2019-12-04 14:05] #86135 closed

[2019-12-04 14:08] alexandrudima commented on #85846
@vmittal26 Well, did you disable it in the past (and possibly forgot about it) or did it become disabled by itself without you doing anything? The latter would be a bug and we would like to know how that could have happened.

[2019-12-04 14:18] sandy081 commented on #86134
Looked into this and a message is shown in the content area appropriately for all cases. So felt showing `no results or `0 out of x` again is redundant and also confusing especially for active file case. Hence doing no fix.

[2019-12-04 14:18] #86134 closed

[2019-12-04 14:19] sandy081 commented on #85216
Moving to December to incorporated received feedback.

[2019-12-04 14:19] sandy081 opened #86269 "Enable keybindings sync tests"
Enable keybindings sync tests

[2019-12-04 14:20] #85893 closed

[2019-12-04 14:22] sandy081 opened #86270 "Write extension action tests for multi extension kind"
Follow up from https://github.com/microsoft/vscode/issues/85036

Write extension action tests for multi extension kind

[2019-12-04 14:22] #85036 closed

[2019-12-04 14:24] giordanni612 opened #86271 "Azure Repos extension icons not rendered in Status Bar"
- VSCode Version: 1.40.2
- OS Version: Win 10 x64

After update VSCode to 1.40.2 version, the Azure repos icons are not rendered. The Azure Repos extension version is 1.149.2.
![Screenshot (408)](https://user-images.githubusercontent.com/46970296/70150303-d2191580-1677-11ea-8bc1-0f5342dea85a.png)

Steps to Reproduce:
1. Update to 1.40.2 version
2. Open VS Code

Does this issue occur when all exten

[2019-12-04 14:25] rosyatrandom opened #86272 "Support for string case handling (ie: pascal, camel, kebab...)"
Because some frameworks are insensitive to some case variants, or coerce case types depending on context, it would be handy to be able to find/replace these variations more easily.

For example, frontend frameworks that turn camelCase js properties into kebab-case HTML attributes can be a pain point when having to convert the text yourself, both when writing it and searching for the variant

In-pl

[2019-12-04 14:29] JacerOmri commented on #86253
same on 1.41.0-insider, i'm adding the console log here, the only difference i spotted is the truncated "U", on my log it's uppercase. I don't know if that helps with anything.
[code]

[2019-12-04 14:40] jkellywilkerson opened #86273 "StatusBar Height - StatusBar content gets cut off"
Issue Type: <b>Bug</b>

The StatusBar content gets cut off at the bottom when maximizing the window on a Full HD secondary monitor to my Surface Book 2 with HiDPI panel.

This seems to only happen when the Visual Studio Code window is on the secondary screen as the window and status bar appear normal when maximized on the Surface Book 2 screen.

Here are the version details:

Version: 1.40.2 (user

[2019-12-04 14:41] #84259 closed

[2019-12-04 14:42] nmai commented on #84618
Seems like the Typescript team fixed the underlying issue that was causing this and I think(hope) it got included in the 3.7.3 release today. So I suspect the next VSCode update will have this fix as long as they upgrade the internal TS version.

Until then, as a possible fix you guys can try switching your Intellisense TS server to "Use Workspace Version". Your project will need to be on a TS ver

[2019-12-04 14:42] sandy081 opened #86274 "UX to show sync errors"
UX to show sync errors

It can happen that sync server may be not reachable or having some other issues. In such a case it would be nice to inform user sync is not happening because of so n so error.

[2019-12-04 14:42] Tyriar commented on #86174
Makes sense, thanks for the detailed write up. I'll reread the docs today and see if i just missed something of if we can call it out better.

[2019-12-04 14:43] gjsjohnmurray commented on #85905
Strange then that the issue reporter put 6.0.6000 as your OS version. The Internet (e.g. [here](http://www.jrsoftware.org/ishelp/topic_winvernotes.htm)) seems convinced this is Vista.

From a Windows command shell, what does the `ver` command report?

The dropdown in the first of your two screenshots shows "1:powershell". On the second one it begins "2: " but I can't see the full path.

Does anyth