[2018-07-01 19:17] amoghe opened #53403 "Search backwards (ctrl+f, then shift+enter) does more than intended"
Related: https://github.com/Microsoft/vscode/issues/22157

- VSCode Version: 1.24.1
- OS Version: Linux (ubuntu - xenial)

Steps to Reproduce:

1. `Ctrl+f ` <-- start searching for a word
2. `Enter` <-- searches forward
3. `Shift+Enter` <-- searches backwards, *but also opens terminal and starts a python repl*

Does this issue occur when all extensions are disabled?: *Yes*

[2018-07-01 19:19] amoghe commented on #53403
Duplicate of #53151

[2018-07-01 19:19] #53403 closed

[2018-07-01 19:35] wysisoft commented on #53401
how is this not clear? Open VSCODE. file->New File.
Type $asd123 into the editor
do a replace all and choose "Match Whole Word".
try to replace "a" with "x" and it wont, because you chose "Match Whole Word"
try to replace "$" with "x" and it will.

VSCODE 1.24.1

[2018-07-01 19:35] MarekLew commented on #51039
No problem. I just pointed out that the bug is not where you marked it(is deeper). In my opinion bug is in counting of resources.

[2018-07-01 19:42] sandy081 opened #53404 "Install All button is missing in Workspace Recommended Sections view"
Steps to reproduce:

- Open a folder that has extension recommendations in `.vscode/extensions` file
- Go to extensions view and open `Show Recommended Extensions`
- Make sure none of the workspace recommended extensions are installed

Expected: Workspace Recommendations view should have install all button
Actual: Workspace Recommendations view is missing install all button

![image](https://user-

[2018-07-01 19:47] #53404 closed

[2018-07-01 19:48] sandy081 commented on #53404
@ramya-rao-a Pushed fix in both masters and release branch

[2018-07-01 19:56] mateuszuram commented on #30058
Hi,
One way to do that is to add clear command before actual task command like below.
"command": "clear;ninja",
I'm using tcsh shell and ninja to build.
Regards,
Mat

[2018-07-01 19:59] Geobert commented on #30058
Does not work for me, VSCode on Win10.

[2018-07-01 20:03] janderudder opened #53405 "Sort extensions by extension update date"
It's in the title : I could use the possibility to browse installed extensions sorted by ~~installation~~ update date.

I often install a batch of extensions at a time, for a given language, or about a given feature. Some times I find unrelated extensions during the search and install them too.
So I restart the editor with a whole bunch of new extensions, and its behavior may be quite different co

[2018-07-01 20:57] mateuszuram commented on #30058
Windows doesn't have clear command, but you can try cls:
"command": "cls;ninja",

[2018-07-01 21:50] roblourens commented on #53401
This works for me. Which OS are you using?

Are you using the editor find, or search (ctrl+shift+f)?

[2018-07-01 22:03] wysisoft commented on #53401
![image](https://user-images.githubusercontent.com/15177964/42139293-548e7610-7d48-11e8-8cfa-a560d4b3d416.png)

windows 10, Ctrl+H

[2018-07-01 22:09] roblourens commented on #53401
Ok, I see the same. Your title says "doesnt work for $" so I thought you weren't expecting it to match.

I think this is by design because it matches the regex `\b\$\b`

[2018-07-01 22:29] wysisoft commented on #53401
Note that I wasnt selecting to use regular expressions. It replaces the $ character no matter where in the string it occurs. Are you saying VSCODE is incapable of replacing the $ character when matching that character only?

[2018-07-01 22:36] roblourens commented on #53401
I don't understand exactly what you expect to happen, please spell it out step by step.

[2018-07-01 22:43] aviolentgrace commented on #52540
Redmond, Washington, USA

[2018-07-01 22:58] roblourens opened #53406 "Reuse code shared between search-rg extension and vscode core"
The rg SearchProvider extension uses code that's also used inside vscode. Since there is no way to directly share vscode's internal code with an extension, I need to decide whether it should be shared in a common node module between the two, or just forked.

Lots of the shared code is trivial and is ok to fork, the exception is `quickOpenScorer.ts` which is about 600 lines long.

One complication

[2018-07-01 23:18] NavyAdmiral opened #53407 "Holding ALT while collapsing vscode makes Status Bar stay"
- VSCode Version: 1.25 insiders
- OS Version: windows 10

Steps to Reproduce:

1.in a custom menu implementation of vscode, hide statusbar by default
2.now hold ALT to view the status bar and minimize vscode while doing this
3.when u maximize vscode status bar is there.

Does this issue occur when all extensions are disabled?: Yes

![Picture](https://i.imgur.com/QCj3dXC.png)

[2018-07-01 23:29] wysisoft commented on #53401
I'm very suprised that VSCODE, Sublime, VS2017, Notepad++ all behave the same. I guess we can close this issue.

[2018-07-01 23:29] #53401 closed

[2018-07-01 23:38] octref commented on #52540
@aviolentgrace Are you behind Microsoft VPN?

[2018-07-02 00:06] SkybuckFlying commented on #52720
These screenshots still put these weird scrollbars in a too positive light.

1. On a resolution of 1920x1200 the thumb is so small it's easy to miss.

2. Further more I took another look at it and the thumb and bar is actually not visible at all IT'S HIDDEN. Only when the user starts to scroll does it become somewhat visible.

3. I was expecting the thumb to be at the bottom of the scrollbar as us

[2018-07-02 00:08] roblourens opened #53408 "Editor on git index is no longer read-only"
- Edit a file tracked by Git
- Stage the file
- In the SCM, viewlet, click the file in the "staged" section to open an editor that says `(Index)`
- Type in the file
- In 1.24.1, I can't edit it because it's a read-only editor
- In 1.25, I can type in the editor, but changes aren't actually written anywhere. If I switch away from the file and switch back, they are gone

[2018-07-02 00:17] EgoAleSum opened #53409 "Debugger connects to wrong port when specifying an IP to bind to"
- VSCode Version: 1.24.1
- OS Version: macOS 10.13.5

Steps to Reproduce:

1. Configure `package.json` so there's an explicit IP to bind to in the `--inspect` parameter. For example: `"debug": "./node_modules/.bin/nodemon --inspect=127.0.0.1:9230 index.js`
2. Start the debugger, trying to attach to the running process.
3. The debugger thinks the port is `127`, from the first octet of the IP addres

[2018-07-02 01:05] roblourens commented on #46905
I can't get this project to build anymore. I get `ERROR in node_modules/@angular/flex-layout/core/typings/observable-media/observable-media.d.ts(1,22): error TS2305: Module '"/Users/roblou/Downloads/messedUp_Breakpoints/node_modules/rxjs/Rx"' has no exported member 'Subscribable'.`

I think flex-layout depends on a different version of rxjs, not sure how to fix it. There's no package-lock.json.

T

[2018-07-02 01:05] #46905 closed

[2018-07-02 01:25] Goblinlordx opened #53410 "OS X Unable to open or install"
- VSCode Version: 1.24.1
- OS Version: OSX 10.13.4

Steps to Reproduce:

1.  Download zip from page https://code.visualstudio.com/updates/v1_24
2. Unzip using archive tool that comes with OSX
3. Move file from location it was unzipped to Application folder
4. When attempting to run it fails verification (then asking if I want to move to trash)

Does this issue occur when all extensions are disable

[2018-07-02 01:35] Ritzpak opened #53411 "Cannot Start Debugging"
What version of Delve are you using (dlv version)?
    5cd86b1
    What version of Go are you using? (go version)?
    go1.10.3.windows-amd64
    What operating system and processor architecture are you using?
    Windows Server 2016 Datacenter x64
    Visual Studio Code v1.24.1 x64
    What did you do?
    Followed the install instructions.
    What did you expect to see?
    Hitting a breakpoint

[2018-07-02 01:57] goddyZhao commented on #53410
@Goblinlordx , it sounds weird. Maybe you can try the following two approaches

### Approach No.1
1. Delete the vsc application from your /Application folder
2. `rm -rf ~/.vscode`, which will clean vsc's settings and caches

### Approach No.2
If `Approach No.2` does not work for you, you can try to build it from source, following [this guide](https://github.com/Microsoft/vscode/wiki/How-to-Contrib

[2018-07-02 02:02] Goblinlordx commented on #53410
@goddyZhao I followed these instructions I found:
https://github.com/Microsoft/vscode/issues/7426#issuecomment-277737150

After doing this I was able to get it opening again.  When I open "Developer Tools" and view the console I see these permission errors:
![image](https://user-images.githubusercontent.com/2612830/42141921-5348a268-7de7-11e8-9d72-f16a3cb548c1.png)

I am going to try complete remo

[2018-07-02 02:09] firelizzard18 commented on #49325
**To clarify,** I am suggesting something separate and different from the WebView API. I want a **separate** API that can be used to build editors. As in, something that would make VSCode's UI components accessible and allow extension developers to contribute editors that used VSCode's own UI elements.

@dschaefer

[2018-07-02 02:12] Goblinlordx commented on #53410
Approach No. 1 was essentially what I had already done.  I did do it again though just now with a freshly downloaded zip.  Same thing happened though.  When attempting to open the first time:
![image](https://user-images.githubusercontent.com/2612830/42142127-b6554d56-7de8-11e8-8f67-3a0cd8bac81c.png)
![image](https://user-images.githubusercontent.com/2612830/42142181-c55a8320-7de8-11e8-8be8-24aca5

[2018-07-02 02:23] alexreg opened #53412 "Does not warn when creating more specific key binding than existing key binding"
- VSCode Version: 1.24.1
- OS Version: macOS 10.13.5

Steps to Reproduce:

1. Create key binding like `Cmd + S, Cmd + X`.
2. Observe that existing key binding for save (`Cmd + S`) does not work.
3. No warning/conflict is displayed in *Keyboard Shortcuts* editor, when it should be.

Does this issue occur when all extensions are disabled?: Yes

[2018-07-02 03:08] teki commented on #45492
I have the opposite experience with `--high-dpi-support=1`, it used to work, now the glitches are back with 1.24.1. `--disable-gpu` does not do anything either.

macOS 10.13.5 (MacBook Pro 15 mid 2015), Intel Iris Pro GPU, 4k external display.

[2018-07-02 03:20] aviolentgrace commented on #52540
Ah, yes. I think I have a couple of msft auto-VPN solutions installed. Lemme try disabling them...

[2018-07-02 03:32] felix9ia commented on #52380
@rebornix @chrmarti 是我提isssue使用了中文的原因吗？我的英语很烂，所以才觉得使用中文，然后你们可以通过翻译器来看我的issue。请问，这个智能提示丢失的问题不存在嘛？我现在依然存在这样的问题啊。

[2018-07-02 03:33] teki commented on #45492
Managed to get it into usable shape with enabling reduce motion: https://support.apple.com/kb/PH25204
My guess is that Chrome is still running out of GPU memory.

[2018-07-02 03:35] gregvanl opened #53413 "No syntax highlighting for in-product release notes code blocks."
- VSCode Version: 1.25 Insiders
- OS Version: Windows 10

Steps to Reproduce:

1. Help > Release Notes
2. Look for json or TypeScript code blocks

![image](https://user-images.githubusercontent.com/12818376/42144120-3fb92a2a-7d6e-11e8-93e9-e91ee6e11fc6.png)

Code blocks are simply white on black (default dark theme) with no syntax highlighting.

Seems to only happen on the first time. If you close

[2018-07-02 03:36] gregvanl commented on #53413
DevTools console output:
 INFO no standard startup: not just one text editor
/C:/Program Files/Microsoft VS Code Insiders/resources/app/out/vs/workbench/workbench.main.js:1375  INFO No grammar found for scope source.applescript
/C:/Program Files/Microsoft VS Code Insiders/resources/app/out/vs/workbench/workbench.main.js:1375  INFO No grammar found for scope text.html.textile
/C:/Program Files/Micr

[2018-07-02 03:37] gregvanl commented on #53413
No such console output on second try when there is syntax highlighting.

[2018-07-02 03:55] gregvanl commented on #53413
I wonder if this could be due to change to delay load TextMate grammars https://github.com/Microsoft/vscode/commit/54ff9a1974b784df1d84b5b6f12664c145707b94#diff-7d43e3fab25f026e232da23df0f2139c @aeschli

[2018-07-02 04:01] AccessibilityTestingTeam-TCS commented on #52398
Basically the point here is that the headings like "Search", "Explorer" etc. are not identified as headings. They should have proper heading levels. The side bar content - "Search", "Explorer" etc. can be accessed using landmarks (D command in NVDA for navigating to landmarks) and then try to read headings inside that using (H command in NVDA for headings). There are no heading levels found for ab

[2018-07-02 04:07] allenyllee commented on #2809
@chabad360

maybe here? https://github.com/Microsoft/vscode/blob/fd4bf73a031cbe1135e7cde3b3386627a92fe601/src/vs/platform/configuration/common/configurationModels.ts#L207-L211

[2018-07-02 04:15] dschaefer commented on #49325
The main reason I suggest the webview approach is that it complies with their architecture of keeping extensions in their own processes to keep the main UI responsive. I'll create new bugs for my suggestions and leave this one to your original goals.

[2018-07-02 04:15] roblourens opened #53414 "Change smartStep behavior for Node/Chrome debugging"
The history of this issue is in https://github.com/Microsoft/vscode-chrome-debug-core/issues/245. Filing this in the vscode repo for searchability.

tl;dr...

**What**

Previously, `"smartStep": true` would cause the node debugger to not stop in code without sourcemaps. This includes two types of things: files that don't have sourcemaps at all (like code that isn't transpiled or .js files shipped

[2018-07-02 04:19] ToMakeSense commented on #48341
#15727

[2018-07-02 04:30] roblourens commented on #53396
This sounds like an issue with extensions you're using for php/python intellisense. Please file specific issues with more details on those extensions.

[2018-07-02 04:30] #53396 closed

[2018-07-02 04:34] roblourens commented on #53402
It sounds like this is a feature from an extension. Is that right? Please file an issue on the repo for the extension you are using.

[2018-07-02 04:34] #53402 closed

[2018-07-02 04:36] roblourens commented on #53293
Does it show up when the language mode is English?

[2018-07-02 04:37] Zingoer commented on #51543
@HappySven
I've download the Nerd Font Meslo to my ~/.local/share/fonts.
I try to change my `terminal.integrated.fontFamily` to
`"terminal.integrated.fontFamily": "Meslo LG S Regular"`
or
`"terminal.integrated.fontFamily": "Meslo LG S Regular Nerd Font Complete"`
But I still get the same problem. Do I need to do anything to enable nerd font?

[2018-07-02 04:38] #53052 closed

[2018-07-02 04:38] #53091 closed

[2018-07-02 04:38] #53092 closed

[2018-07-02 04:39] amgalan81mn opened #53415 "find - regular expression"
Issue Type: <b>Bug</b>

\d{6}-\W this criteria not working on this text editor, in other text editor works

text
  180702-
  180703-180704

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz (8 x 3600)|

[2018-07-02 04:39] roblourens commented on #53198
Please update when you have time and I can reopen it.

[2018-07-02 04:39] #53198 closed

[2018-07-02 04:39] #53290 closed

[2018-07-02 04:39] #53291 closed

[2018-07-02 04:41] roblourens commented on #53353
This issue was moved to PowerShell/vscode-powershell#1398

[2018-07-02 04:41] #53353 closed

[2018-07-02 04:42] bpasero commented on #19372
Duplicate of https://github.com/Microsoft/vscode/issues/47193

[2018-07-02 04:42] #19372 closed

[2018-07-02 04:46] roblourens commented on #53415
I guess the difference is whether `\W` matches `\n`, which it seems like it should because they match in the JS regex engine, and replacing it with a `\n` matches

[2018-07-02 04:57] deviantnasir commented on #20310
Need this feature asap in next update as built-in feature.

[2018-07-02 05:01] naveed-butt commented on #53088
No the issue does not appear after I have disabled the extensions

[2018-07-02 05:02] naveed-butt commented on #53088
Here is the Window log

[2018-07-02 10:01:30.278] [renderer1] [info] standard startup {"version":"1.24.1","ellapsed":2007,"timers":{"ellapsedExtensions":919,"ellapsedExtensionsReady":2330,"ellapsedRequire":672,"ellapsedEditorRestore":489,"ellapsedViewletRestore":29,"ellapsedWorkbench":602,"ellapsedWindowLoadToRequire":328,"ellapsedTimersToTimersComputed":19,"ellapsedNlsGeneration":0,"ellapsedAppRe

[2018-07-02 05:04] arjun27 opened #53416 "Select all inside webview inputs is not working"
Issue Type: <b>Bug</b>

The keyboard action cmd+A does not trigger text selection inside an input field of a webview. From my debugging, the keyboard event gets intercepted by vscode, and is never received by the webview. These closed issues seem to be related:

- https://github.com/Microsoft/vscode/issues/50735
- https://github.com/Microsoft/vscode/pull/38387

This is affecting my extension ([Sla

[2018-07-02 05:04] naveed-butt commented on #53088
Why would you close this ? I could not reach my machine over the weekend...

[2018-07-02 05:15] ddryo commented on #51987
@joaomoreno
I  tried  fully reinstall VS Code.
But, the problem couldn't fix...

[2018-07-02 05:22] bpasero opened #53419 "Git: commit box grabs focus after reload"
Steps to Reproduce:

1. open SCM viewlet
2. focus into the editor
3. reload window

=> focus ends up in the git commit box

Any other view does not steal focus from the editor, so it must be something in the SCM viewlet that passes DOM focus to the commit field.

[2018-07-02 05:29] JeanPwal opened #53420 "can't show _"
Issue Type: <b>Bug</b>

Ubuntu vscode terminal can't show the _ when filename include _

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:47:35.732Z)
OS version: Linux x64 4.4.0-128-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E3-1225 v6 @ 3.30GHz (3 x 3312)|
|GPU Status|2d_canvas: enabled<br>flash_3d: ena

[2018-07-02 05:37] ElSousou commented on #53392
- The 1.18.1 was automatically installed yesterday, so I thought it was the last version - my bad, I did not check.
- No other version was shown available when I used the "Search for updates button".
I downloaded the last 1.24.1 version and reinstalled it, problem fixed.
Problem fixed, sorry for time loss.

[2018-07-02 05:37] #53392 closed

[2018-07-02 05:43] Goblinlordx commented on #53410
Wow... so I have literally no idea what happened.  I tried installing some other Application and it worked, then I tried installing VS Code again and it worked.

[2018-07-02 05:45] ddryo commented on #51987
@joaomoreno
Sorry,  the problem fixed!
I did not fully reinstall.  I forgot delete `~/Library/Application Support/Code`.

[2018-07-02 05:48] roblourens commented on #53392
No problem thanks for checking

[2018-07-02 06:03] kozubikmichal commented on #53330
Yeah I now that panels can be anything but my idea was that one could register symbol provider for some panel -> and those with symbol provider registered would be displayed within the outline view.

That means to keep it completely on the webview panel owner

[2018-07-02 06:03] bpasero commented on #53295
@alexandrudima @sandy081 can you help here, why would `[Extension Host] Could not identify extension for 'vscode' require call from C:\Users\YASHU\.vscode\extensions\EditorConfig.editorconfig-0.12.4\out\src\editorConfigMain.js` be reported in insiders only?

[2018-07-02 06:08] vscodeerrors opened #53421 "Cannot read property 'value' of null"
Issue Id: <b>a619cc3f-182f-ce62-9b8c-76e5ab7030ed</b><br /><br />*Versions* <br />- 1.25.0-insider (6/28/2018 5:15:12 AM)<br />*Stack* <br />TypeError: Cannot read property 'value' of null<br />[/vs/base/browser/ui/inputbox/inputBox.ts#229:20 (value)](https://github.com/microsoft/vscode/blob/07d89abf1522a67f0e8105770505077f454ab021/src/vs/base/browser/ui/inputbox/inputBox.ts#L229:20 (value))<br />

[2018-07-02 06:15] somarlyonks opened #53422 "gyp configure error when building on Manjaro"
[code]

Built with `yaourt -S code`.

`node v8.11.3`, `node-gyp v3.7.0`.

[2018-07-02 06:26] SkeLLLa opened #53423 "vscode-tscancellation-* files flood /tmp directory"
- Version 1.24.1
- Commit 24f62626b222e9a8313213fb64b10d741a326288
- Date 2018-06-13T17:47:35.732Z
- Shell 1.7.12
- Renderer 58.0.3029.110
- Node 7.9.0
- Architecture x64
- OS Version: Linux x64

There are lot's of similar issues, but they are all closed without any working solution.

Steps to Reproduce:

1. Start VSCode
2. Do some coding
3. After some time  `vscode-tscancellation-*` files will ap

[2018-07-02 06:32] weinand commented on #53409
/findDuplicate

[2018-07-02 06:34] weinand commented on #53411
Please file against go extension.

[2018-07-02 06:34] #53411 closed

[2018-07-02 06:40] lonix1 commented on #6302
It's 2018 now. I don't have any app that doesn't have this feature (except vscode).

[2018-07-02 06:49] jamesmillerburgess commented on #50244
Really looking forward to this! 👍

[2018-07-02 06:52] Goblinlordx commented on #53410
After a reboot, the installation is failing again when it does verification.

[2018-07-02 06:54] weinand commented on #53409
@EgoAleSum how do you start the debugger?

[2018-07-02 07:05] mjbvz commented on #53423
This is by design. These files are used internally and are not responsible for the cpu usage you are seeing

Do you see the high cpu usage in the [latest VS Code build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-07-02 07:06] mjbvz commented on #53416
Duplicate of #8794

[2018-07-02 07:06] #53416 closed

[2018-07-02 07:07] EgoAleSum commented on #53409
@weinand this is the launch.json:

[code]

[2018-07-02 07:08] mjbvz commented on #53400
This issue was moved to Microsoft/TypeScript#25358

[2018-07-02 07:08] #53400 closed

[2018-07-02 07:08] bpasero opened #53424 "Grid: running 2x2 grid on an existing grid flips editors"
Steps to Reproduce:

1. enter 2x2 grid
2. enter it again

=> the layout flips (top right editor ends up bottom left)

[2018-07-02 07:10] #53370 closed

[2018-07-02 07:11] mjbvz commented on #53340
Please try upgrading your workspace to use `typescript@next` by following [these instructions](https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions). Do you still see this issue after upgrading?

[2018-07-02 07:11] #53288 closed

[2018-07-02 07:13] mjbvz commented on #53186
Duplicate of https://github.com/Microsoft/TypeScript/issues/24914

Try upgrading your workspace to use `typescript@next` by following [these instructions](https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions)

[2018-07-02 07:13] #53186 closed

[2018-07-02 07:13] joaomoreno opened #53426 "Updated extension fails to show Reload button"
1. Start Code with an outdated extension, auto update enabled
2. Show the Extensions viewlet

The extension will appear to be updating... but then it returns back to this:

![image](https://user-images.githubusercontent.com/22350/42149850-20df1adc-7dd8-11e8-984a-9a24339a5631.png)

[2018-07-02 07:15] isidorn commented on #53408
@bpasero thanks for the fix, I will review it now.

[2018-07-02 07:16] liuliangsir opened #53427 "Visual Studio Code - Insiders top bar not existed"
- VSCode Version: 1.25.0-insider(6ca99aca80e80224f1c0bd4370c6ec4941c3bc54 x64)
- OS Version: Win10 pro(17134.81)

Steps to Reproduce:

1. launch Visual Studio Code - Insiders
2. take a look at the top bar

Does this issue occur when all extensions are disabled?: Yes/No
Yes

Here is a couple of screenshots

![image](https://user-images.githubusercontent.com/8049878/42149799-35ddc0f0-7e0a-11e8-93cf-

[2018-07-02 07:18] jonwlong opened #53428 "boolean intelisense false and true defaults with quotes"
Issue Type: <b>Bug</b>

Editable = "false"is default
should default to false (without quotes)

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz (8 x 2904)|
|GPU Status|2d_canvas: enabled<br>flash_3d:

[2018-07-02 07:18] Geobert commented on #30058
No luck neither :(
[code]

[2018-07-02 07:19] derekwallace opened #53429 "Search and replace in a column selection does not work"
- 1.25 insiders
- Windows 10

Steps to Reproduce:

1. Create a file like this
mv file.A.txt file.A.txt
mv file.A.rpt file.A.rpt

2. I want to create this i.e. find and replace "A." --> "."
mv file.A.txt file.txt
mv file.A.rpt file.rpt

3. Using column select mode i can select the columns for the 2nd argument of mv

![image](https://user-images.githubusercontent.com/5574230/42150092-8249a06a-7dd0-1

[2018-07-02 07:21] isidorn commented on #52140
This is fixed in latest. Please try vscode insiders, or wait for the next update in a couple of days. Thanks

[2018-07-02 07:21] #52140 closed

[2018-07-02 07:22] #53369 closed

[2018-07-02 07:27] ShayCormac1963 opened #53430 "Allow to adjust the zoom level increments and raw default zoom level ctrl+0"
https://github.com/Microsoft/vscode/issues/53334
You can change keybindings and settings by changing your user keybindings.json and settings.json files. The defaults only exist in memory.

[2018-07-02 07:35] ShayCormac1963 commented on #53430
maybe i can develop a extension to Implement this function.but i don't know how to develop a extension and why you are unwilling to make a writable default settings?

[2018-07-02 07:36] jrieken commented on #53371
assigning to endgame master

[2018-07-02 07:38] jrieken commented on #53336
Tricky, it's about programming constructs and I'd say lets not translate them for now

[2018-07-02 07:38] #53336 closed

[2018-07-02 07:41] jrieken commented on #53358
@IBIT-ZEE Is this a request for a generic outline view? We already do support outlines from multiple sources (extensions) and the tree would show them as siblings. Is there something else that's missing?

[2018-07-02 07:45] alexandrudima commented on #53337
Duplicate of #49342

[2018-07-02 07:45] #53337 closed

[2018-07-02 07:45] jrieken commented on #53427
cc @bpasero

[2018-07-02 07:46] jrieken commented on #53428
@jonwlong I what language does that happen?

[2018-07-02 07:50] TomasHubelbauer commented on #47193
I'd like to extend this request to relative file path, since #46719 has been auto-closed without a resolution proving fragmentation of information in issue threads to be alive an well. Cross-copying my comment from there:

FWIW I would also like to see *Copy Relative Path* and an internal command next to the *Copy Path* one which exists on the tab context menu currently. That one should be renamed

[2018-07-02 07:56] alexandrudima commented on #53344
Customizing <kbd>Enter</kbd> and <kbd>Escape</kbd> is one of the most tricky things to do, but here is what you should do.

#### Step 1. Collect all the usages of <kbd>Enter</kbd>
* go to the default keybindings and look for `"enter"`

[code]

---

#### Step 2. Immediately drop out non-conflicting keybindings
* remove keybindings which are for UI pieces completely outside the editor:
[code]

---

[2018-07-02 08:14] BergnerM opened #53432 "Comments in powershell scripts defined with <# ... #> cannot be collapsed"
Comments in powershell scripts defined with  <# ... #> cannot be collapsed

[2018-07-02 08:23] weinand commented on #53409
Thanks!
yes, the failure of parsing `127.0.0.1:9230` is a bug.

BTW, if you know the port already from the package.json, why do you go through the trouble of picking a process first?

This configuration directly connects the debugger to the port:
[code]

Or you could even tell VS Code to launch your program via nodemon:
[code]

[2018-07-02 08:29] alexandrudima commented on #53253
@Tyriar __Can you attempt to run without menus displayed?__.

I don't know if Linux suffers from the same issue OSX suffers from, where displaying a keybinding next to a command in the menu makes it that the menu system invokes the command when the keybinding occurs. Perhaps @bpasero has a duplicate for this somewhere?

You can find out this simply by placing a breakpoint in your action and seeing

[2018-07-02 08:34] alexandrudima commented on #53388
@dwap392 Can you search for `e` and `r` in the keybindings editor (ctrl+k ctrl+s) and see if there are bindings to them?

[2018-07-02 08:34] isidorn commented on #53371
Could not find GitHub ui to change this currently our first release is marked as latest
https://github.com/Microsoft/vscode/releases/tag/1.11.2

It seems like release should be created via GitHub ui in order for this latest release tag to be respected
https://github.community/t5/How-to-use-Git-and-GitHub/Why-last-release-is-not-marked-as-quot-latest-release-quot/td-p/1762

@joaomoreno do we want t

[2018-07-02 08:36] poalrom commented on #15991
How i can get selected folder if command runs using keybind? Function's params will be null

[2018-07-02 08:45] ldhios opened #53433 "How to quick open file always in new tap?"
I use  "command+p" seach file then press "enter" to open the result file. It will replace current tab file.
How to setting keep it always new tap?

[2018-07-02 08:52] weinand commented on #53409
duplicate of #52238

[2018-07-02 08:52] #53409 closed

[2018-07-02 08:53] guusw opened #53434 "Global command completion in "?" quick menu ignores multiple options"
Issue Type: <b>Bug</b>

Open the quick menu (ctrl+p) type ? to get the list of possible global commands.

When you type the first letter of a command with multiple options (`term` or `task` for example), code will automatically complete the typed letter to the first match.
This may be undesirable as I want to quickly be able to type `?term` as well, which right now doesn't seem possible unless you

[2018-07-02 08:53] ldhios commented on #53433
![image](https://user-images.githubusercontent.com/9722423/42154281-e44d5774-7e17-11e8-9a53-5aba0f0b1d6b.png)
When hold down command and click mouse, it will jump to function implementation. bu it will display two result preview. like above picture. How to disable the feature. I don't like it.

[2018-07-02 08:55] bpasero opened #53435 "Have a "Copy Relative Path" action as alternative to "Copy Path""
Steps to Reproduce:

1. right click on a file (explorer, open editors, editor tab)
2. find only "**Copy Path**"

=> would be nice to `Alt` click to get **Copy Relative Path**

[2018-07-02 08:56] #53435 closed

[2018-07-02 08:59] weinand commented on #52238
duplicate of #46670

[2018-07-02 08:59] #52238 closed

[2018-07-02 09:02] dbaeumer commented on #53139
The problem with using `zh-hans` instead of `zh-cn` is tracked here #53317 and got fixed. I tested it this morning and both `zh-tw` and `zh-cn` work for me.

@byyxx128 what infinite loop are you seeing?

[2018-07-02 09:04] bpasero commented on #53427
@liuliangsir did you maybe configure your settings to hide the menu?

[2018-07-02 09:04] dbaeumer commented on #50441
@jerryc127 I tested this this morning with both traditional and simplified Chinese and they both work for me using the latest language packs from the market place. There was a problem last week with wrongly generated ids. Could you retest it. If it still fails for please open a new issue since the problem described in this one got fixed.

[2018-07-02 09:06] sandy081 commented on #53281
Duplicate of #53426

[2018-07-02 09:06] #53281 closed

[2018-07-02 09:07] weinand commented on #40158
Removed text from June release notes:

In VS Code, breakpoints are shared between all debuggers and every debugger can decide whether to honor a breakpoint or adjust the breakpoint position, for example, move it to a different line. This results in dynamic state that is associated with a breakpoint for the duration of a debug session. With parallel debug sessions, there can even be multiple states

[2018-07-02 09:07] dbaeumer commented on #53397
@jerryc127 see my comments in the other issue :-). If you still see this can you please provide me with the following information:

- the content of the languagePacks.json file located at C:\Users\${your user}\AppData\Roaming\Code - Insiders where ${your user} is your user id
- the content of the clp directory located at the same location. You can zip the content.

And the commit id of the VS Code

[2018-07-02 09:07] kongchenglc opened #53436 "git more click"
Issue Type: <b>Bug</b>

the more button click look like double click

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz (4 x 2712)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d:

[2018-07-02 09:08] sandy081 commented on #53130
Fallback is only for extension name and locale id contributed by respective extensions still should be `zh-cn` and `zh-tw`.

[2018-07-02 09:09] josefhosek commented on #53336
@jrieken thanks for confirmation! We will mark these strings as "notranslate" so only source text can be used as translation.

[2018-07-02 09:10] bpasero commented on #53253
@alexandrudima I think you mean https://github.com/Microsoft/vscode/issues/35225

[2018-07-02 09:12] drifter1007 commented on #53377
@sandy081   any clue to  solve this eperm error .
@roblourens

[2018-07-02 09:13] dbaeumer commented on #53363
The command is named `Task: Configure Task`. I have updated the doc.

[2018-07-02 09:13] #53363 closed

[2018-07-02 09:20] jrieken commented on #52789
I have pushed a new setting called `editor.suggest.filterGraceful` (defaults to `true`) which can be used to turn off graceful matching.

[2018-07-02 09:21] #52789 closed

[2018-07-02 09:21] dbaeumer commented on #53310
@jan11011977 problems are owned by the extension that generate them and hence an extension is responsible for cleaning them up. In addition as outlined in #52348 it depends on the language whether problems should be cleared on file closed or not. In general the VS Code recommendation for languages extensions ares:

- if it is a single file language (like html) then problems should be clear if a fi

[2018-07-02 09:22] adashen commented on #53303
@weinand
Please refer to https://github.com/VSChina/iot-edge-abnormality-detection/blob/master/.vscode/launch.json for the json.

It is an iot edge scenario. And the debug targets are dotnet process running in docker container.
VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.17134

[2018-07-02 09:22] alexandrudima commented on #53257
@isidorn @bpasero We have no readonly models, we have only readonly editors.

The reason is simple: most likely you want to prevent the user from editing the model than the system. e.g. the output channel is a readonly editor with a buffer that can be modified; if we are to display a readonly file from disk, then we might want to listen to file change events and update the contents of the buffer f

[2018-07-02 09:23] dbaeumer commented on #53339
This is possible using the "dependsOn" property on a task. Unfortunately it is missing documentation but an example is here:

[code]

[2018-07-02 09:24] #53339 closed

[2018-07-02 09:24] dbaeumer commented on #53339
I do have an issue to add doc for this feature.

[2018-07-02 09:29] bpasero commented on #53257
@alexandrudima but we have a lot more places where a model is not shown in an editor but potentially still can be edited programmatically, to give some examples:
* search & replace operates only on the model, not on the editor
* extensions can instantiate models (`openTextDocument`) without showing them and make edits to it through our API

So we need to carry the notion of the model being readonl

[2018-07-02 09:30] SkeLLLa commented on #53423
@mjbvz I'll try 1.25.

Regarding those files - could they be safely deleted? Or, probably, vscode should delete them after it's being closed?

[2018-07-02 09:30] sandy081 commented on #53378
Duplicate of #53426

[2018-07-02 09:30] bpasero commented on #53433
Follow our docs to resolve this: https://code.visualstudio.com/docs/getstarted/userinterface#_preview-mode

[2018-07-02 09:30] #53433 closed

[2018-07-02 09:30] #53378 closed

[2018-07-02 09:31] alexandrudima commented on #52720
1. The slider has the length depending on the length of the content (`scrollHeight`) relative to the length of the viewport (`height`) with a minimum of 20px.

2. The slider appears when a scroll event occurs or when the mouse is over the scrollable surface
![kapture 2018-07-02 at 11 26 46](https://user-images.githubusercontent.com/5047891/42156239-d7ef01bc-7dea-11e8-98fc-4a01ead9599b.gif)

3. The

[2018-07-02 09:31] weinand commented on #53303
Please file this issue against the C#/.net repository https://github.com/OmniSharp/omnisharp-vscode/issues

[2018-07-02 09:32] #53303 closed

[2018-07-02 09:33] dbaeumer commented on #53318
Strange. I cloned the project, ran npm install and then opened code and it shows:

<img width="494" alt="capture" src="https://user-images.githubusercontent.com/1931590/42156552-a6342fac-7deb-11e8-8a14-8fd8b2d6a8e5.png">

Can you provide any additional info.

[2018-07-02 09:33] sandy081 commented on #27336
Duplicate of #48430

[2018-07-02 09:33] #27336 closed

[2018-07-02 09:34] alexandrudima commented on #53295
ping @jrieken to investigate.

[2018-07-02 09:40] muyu66 commented on #53293
how to display English in VSCODE without change my SYSTEM? I don't find this option in Preference

[2018-07-02 09:41] dbaeumer commented on #53275
@ramya-rao-a just to make sure this will work correctly in all cases:

- there is no problem of having `zh-hans` or `zh-hant` in the extension name
- the language id must always be `zh-cn` or `zh-tw`. The ids are API (extension might rely on it) and we can't change them. These are also the value returned from the Electron OS call to get the app locale.

This means that these two statements

[code]

[2018-07-02 09:44] #53434 closed

[2018-07-02 09:45] sandy081 commented on #53366
@x-strong I cannot reproduce it. Can you please let me know what are the extensions you have installed and which extension pack you are trying to disable?

[2018-07-02 09:46] sandy081 commented on #53389
Duplicate of #53426

[2018-07-02 09:46] #53389 closed

[2018-07-02 09:50] liuliangsir commented on #53427
@bpasero you are absolutely right. Oddly enough, The following configuration item is appended to User Settings configuration file. But I am sure I never do that thing.

Here are some configuration items

[code]

[2018-07-02 09:51] sandy081 commented on #53398
@Enteleform What is the source of `keyBindings`? Are they defaults from VS Code or also coming from other extensions?

I suppose, out of the product, we should do not have any duplicates

[2018-07-02 09:51] jrieken commented on #53295
Hm, `\.vscode\extension` and Insiders... Shouldn't the path then be `.\vscode-insider\extension`? We build an [extension index](https://github.com/Microsoft/vscode/blob/91e82ed2fef68f9f0a8aea9276fdad35ff649e66/src/vs/workbench/api/node/extHostExtensionService.ts#L239) from the real paths and when a file requests the `vscode`-module we check from what extension that comes... The path mismatch could

[2018-07-02 09:53] jrieken commented on #53436
Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2018-07-02 09:54] jagreehal commented on #5923
+1 please fix this issue

[2018-07-02 09:56] sandy081 commented on #53412
@alexreg We show the similar keybindings while you are assigning the keybinding

![image](https://user-images.githubusercontent.com/10746682/42157664-9b226784-7dee-11e8-80c5-bbf159ac4c23.png)

If you have assigned it by ignoring the link in above screenshot, you can also find similar keybindings using the following action

![image](https://user-images.githubusercontent.com/10746682/42157750-e49e96

[2018-07-02 09:56] #53412 closed

[2018-07-02 09:58] bpasero commented on #53427
@liuliangsir so if you remove that setting, everything should be fine?

[2018-07-02 09:59] sandy081 commented on #53377
@drifter1007 On what platform are you on? Is it happening with all extensions or some extensions?

[2018-07-02 09:59] bpasero commented on #53295
@mittalyashu do you maybe run from the command line and configure the extensions home directory as command line flag?

[2018-07-02 10:03] bvicinay opened #53437 "Highlight the breakpoint when stopping on a breakpoint with custom debugger"
How can this be done, the debugging api does not seem to allow this. This is a very important feature of creating a debugger.

For example, when a StoppedEvent is emitted a line and file could be passed in to be highlighted by the UI.

An issue like this was closed in the past: [36094](https://github.com/Microsoft/vscode/issues/36094)

[2018-07-02 10:03] drvkize0 commented on #48200
The problem disappeared after upgrade to 1.24.1

[2018-07-02 10:03] #48200 closed

[2018-07-02 10:04] sandy081 commented on #52720
Thanks @alexandrudima for responding to scrollbar questions.

All views (including extensions viewlet) are consistent in how we show sliders and I do not want to introduce new behaviour here.

[2018-07-02 10:07] sandy081 commented on #53139
Its because the Simplified Chinese language extension has `zh-Hans` as locale id. Hence when you say `Install and Restart` the locale id is set to `zh-Hans` in the file.

[2018-07-02 10:10] sandy081 commented on #53317
Thanks @danyeh

[2018-07-02 10:10] #53317 closed

[2018-07-02 10:10] Yajo commented on #45242
Let me explain my use case, in case it helps:

- Usually, I use a multi-monitor setup in the office, where I have big screens. There, I want centered layout.
- Sometimes, I unplug the laptop and work in its smaller screen. There, I want full layout.
- I switch from project to project usually.

Right now, it seems the setting is saved somehow as a hidden _project_ setting. IMHO, this should be a (h

[2018-07-02 10:12] alexandrudima commented on #53257
@bpasero that should live in the layer above the `TextModel`, as the `TextModel` is not aware of file systems (reading, writing), dirty state, read only file systems, etc.

btw, it is trivial to create a readonly `TextModel` that throws every time its text is attempted to be edited or when `setValue` is called, but then you are going to need to deal with disposing `TextModel`s correctly and creati

[2018-07-02 10:12] beastdestroyer commented on #50249
@roblourens Weird issues on my end with the Settings GUI (2018-06-29), My screen resolution is 1360x768, and with the file explorer (or any menu from the sidebar open), the settings outline looks oddly left-aligned:
![image](https://user-images.githubusercontent.com/30497573/42158046-3e22be82-7de7-11e8-9f66-e18dc09c587b.png)

With the sidebar menus closed, it looks alright, but there is still this

[2018-07-02 10:16] jerryc127 commented on #53397
it was solved, thanks.
I try to reinstall the Chinese traditional language pack,
And it shows the error "Unable to write into the file because the file is dirty. Please save the file and try again."
According to #19161, I solved the problem.

[2018-07-02 10:16] #53397 closed

[2018-07-02 10:17] liuliangsir commented on #53427
@bpasero if I remove that setting(`"window.menuBarVisibility": "toggle"`) or change the value of `window.menuBarVisibility` to `visible`, everything is fine.

[2018-07-02 10:18] beastdestroyer commented on #53377
@sandy081 Tried that (Using win10 April 2018 update, inisders build 2018-06-29) and my update to Material Theme did complete successfully

[2018-07-02 10:18] joaomoreno commented on #53325
Very strange. We were able to reproduce this easily until we added another repo and removed it. It doesn't repro any longer.

Will investigate.

[2018-07-02 10:18] MeikTranel opened #53438 "Add to Path & Context Menu Integration no longer work in current insiders"
Issue Type: <b>Bug</b>

When installing insiders fresh, while enabling Add To Path and context menu integration, none of those features work.
Doing the same on the current regular release of code works perfectly fine.

I tried using different kinds of accounts (admin, local admin, domain admin) but none of them worked. The entries are just not registered to registry.

VS Code version: Code - Insid

[2018-07-02 10:19] joaomoreno commented on #53299
You probably had it setup with a PAT, which has expired. Have you tried recreating a new PAT and using that as auth?

[2018-07-02 10:20] joaomoreno commented on #53301
This API is coming out for stable only in July.

[2018-07-02 10:20] #53301 closed

[2018-07-02 10:21] MeikTranel commented on #53438
the recommended duplicate does not cover my issue. also hi @Tyriar 😄
You might wanna flag this "update-install" ;)

[2018-07-02 10:29] Gama11 commented on #53331
Good question. Adding some log calls, it seems like it happens on the execute call:

![](https://i.imgur.com/FdkkrTf.png)

[2018-07-02 10:29] joaomoreno commented on #53410
I don't think I've ever seen this issue. Something must be wrong with your machine. We'd love to know if you ever find it out.

Do you perhaps have an antivirus installed?

[2018-07-02 10:30] joaomoreno commented on #53422
Do you have `pkg-config` installed?

[2018-07-02 10:31] joaomoreno commented on #53371
We do not use GitHub releases. We would disable that tab if we could.

[2018-07-02 10:31] #53371 closed

[2018-07-02 10:34] #53398 closed

[2018-07-02 10:36] weinand commented on #53437
@bvicinay with "Highlight the breakpoint" you mean select "the breakpoint in the BREAKPOINTS view"?

[2018-07-02 10:43] bvicinay commented on #53437
Yes, a breakpoint that was set by a user. When the debugger stops at the breakpoint.

[2018-07-02 10:43] bpasero commented on #53257
@isidorn talked with Alex, makes sense to not push this down to the code editor model. I believe we have to check all our usage patterns where we modify a model and guard against that:
* workbench places like search & replace that operate on the model
* extensions that use edits on a visible text document
* extensions that apply workspace edits

For each we need to see how to react, e.g. after dis

[2018-07-02 10:44] bpasero commented on #53427
@liuliangsir so for which value do you think there is a bug then?

[2018-07-02 10:45] weinand commented on #53437
Why is it important to select the breakpoint?
Isn't it sufficient to highlight the breakpoint in source?

[2018-07-02 10:50] jan11011977 commented on #53310
Thanks for the reply. I am using Python and Perforce for version control. It looks like for a python file (unlike, say Javascript), the problems do get cleared from the list when the file is closed. However there seems to be a bug where if a .py file is checked into Perforce, the problems for it stay around after closing it. If the file isn't checked into Perforce, then the problems do disappear.

[2018-07-02 10:52] RonanQuigley opened #53439 "Updating import paths causes third party modules to use the types folder"
- VSCode Version: 1.25.0-insiders Commit: 6ca99aca80e80224f1c0bd4370c6ec4941c3bc54
- OS Version: Windows 10

Steps to Reproduce:

If this is better in the typescript repo feel free to move it over there.

![ts-bug-one](https://user-images.githubusercontent.com/33596237/42159859-281784be-7ded-11e8-96e2-977350433227.gif)

[Note that this happens with any third party module, not just React.]

Current

[2018-07-02 10:59] Enteleform commented on #53398
@sandy081

Sorry about that, it seems that all of those were added by extensions. Just tested by disabling all extensions & re-running the script above.

On a related note - is there any way to disable keybindings/settings/command-palette-entries/etc. from being added automatically by extensions? Or to at least disable the vs-code default setting files from being active, using only values defined

[2018-07-02 10:59] bvicinay commented on #53437
I need to highlight the breakpoint in the source, in the editor. When the breakpoint is reached, the editor window of the file with the breakpoint should show and hightlight the line with the breakpoint that was reached. Nothing to do with the breakpoints view. This seems to not happen automatically when a StoppedEvent is sent. Sorry for the misunderstanding.

[2018-07-02 11:00] janosh opened #53440 "Allow to use macOS services via keybindings"
I have the exact same problem as unnamedcrewman reported [here](https://github.com/Microsoft/vscode/issues/1628#issue-123759576). I'm trying to use a keyboard shortcut that calls a system service which in turn invokes a productivity tool called PopClip on mac OS. As unnamedcrewman mentioned, the shortcut and service work in every application I tried except for VS Code. Unfortunately, the linked is

[2018-07-02 11:01] liuliangsir commented on #53427
I have no idea. But I would like to say, After setting `"window.menuBarVisibility": "toggle"`, It appears not to work. Namely, I’m not sure the moment of `window.menuBarVisibility` toggled.

[2018-07-02 11:04] venkatsgitaccount opened #53441 ""Are you missing a using or assembly reference" error occured while code changed"
Issue Type: <b>Bug</b>

After changing any code or editing the reference error occured.But build get successful.The errors are cleared after restarting the application.

Also Go to definition is not working.

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|

[2018-07-02 11:07] weinand commented on #53437
VS Code automatically reveals and highlights the source under these two conditions:
- the target is running and
- a stopped event is received.

It does **not** highlight the source if the target is **not** running.

So when you are emitting (artificial) stopped events, make sure that the VS Code is the running state by emitting a "continue" event first. See https://github.com/Microsoft/vscode-debu

[2018-07-02 11:11] drifter1007 commented on #53377
@sandy081  Hey I  am using it on win7 .Its happening to only some extension.

[2018-07-02 11:12] drifter1007 commented on #53377
@sandy081 Thanks bro it  worked :please go to extensions installation folder (Use command Open Extensions Folder) and delete the folder belongs to the extension and re-try.

[2018-07-02 11:16] #53377 closed

[2018-07-02 11:45] flower17 commented on #3145
+1
Same here. I usually type 'wid' and press enter expecting to get 'width', but it prints 'widows'.

[2018-07-02 12:00] #52762 closed

[2018-07-02 12:00] #52719 closed

[2018-07-02 12:22] bpasero commented on #53427
@liuliangsir `"window.menuBarVisibility": "toggle"` means you need to press the `Alt` key to show the menu. This is working as intended.

[2018-07-02 12:33] somarlyonks commented on #53422
@joaomoreno Yes.

I figured it out and built it successfully.

The complains seemed to be caused by `proxychains`.

[2018-07-02 12:34] #53422 closed

[2018-07-02 12:39] bpasero commented on #47187
The `glob.ts` code is so insanely complicated and tweaked that I am not able to make a change where `siblingsFn?: () => string[] | TPromise<string[]> `could change to something like `hasSinlingsFn?: (name: string) => boolean | TPromise<boolean>` without knowing what is going on, so I will have to defer this to @chrmarti who I believe added these optimizations to glob.ts to see if it is feasable to

[2018-07-02 12:42] bpasero commented on #53257
@isidorn clients of [`createModelReference`](https://github.com/Microsoft/vscode/blob/e3dc63dd0f64c2fb7c36f86f297aae3789bbf50a/src/vs/editor/common/services/resolverService.ts#L23) would be a good start, these will create a workbench editor model and potentially modify it.

Search & replace is a bit different because I think we do not instantiate models for those unless already opened, but I could

[2018-07-02 12:45] jrieken opened #53442 "Avoid aync and winjs-promise"
A [while back](https://github.com/Microsoft/vscode/pull/47144) we have made an effort to compile the vscode-sources down to es6 but had to stop that because TypeScript doesn't allow async-functions that don't return native promises, see https://github.com/Microsoft/vscode/pull/47144#issuecomment-380910256. Back then we didn't trust native promises because thy don't interact nicely with winjs-promi

[2018-07-02 12:46] Tchoupinax commented on #45094
Hello,

What are news about this feature ? Up ! :)

[2018-07-02 12:50] jrieken commented on #53442
Assigning people based on rough code-ownership...

[2018-07-02 12:57] dsanz006 opened #53443 "Debugger does not detect soft links correctly"
I have seen more issues related to symlinks, but not exactly this one, that is why I am opening a new one.

My problem is that my whole C++ project is inside a soft link. When I use the VS Code debugger it works correctly (it detects my breakpoints and everything). But, when it stops in a breakpoint, it does it opening the file as a duplicate. The path of this file is the one without the symlink,

[2018-07-02 13:01] RueDeRennes commented on #3352
+1

[2018-07-02 13:04] alexreg commented on #53412
@sandy081 Right, although when I enter the following chord, that disappears, which I think is not good. Also, the message "1 existing command" can apply to the same command, if you set the key binding to the same thing, which is rather confusing.

[2018-07-02 13:06] jrieken commented on #53441
Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2018-07-02 13:10] bpasero commented on #53440
If someone has ideas how to make this happen, feel free to chime in.

[2018-07-02 13:12] NorthboundTrain opened #53444 "Share find clipboard across workspaces"
I'd like to be able to share the find text between different workspaces. If I search for fooBarBaz in one workspace, I want to be able to switch to another and see the same search text. Support for this seems like it may be possible given the "editor.find.globalFindClipboard" preference, but I want to synchronize only within vscode, not with the OS at large.

Thanks!

[2018-07-02 13:15] weinand commented on #53443
The C++ debugger you are using is only seeing the hard path to the file, it does not know anything about soft links.

Mapping hard paths back to symlinks automatically is difficult because VS Code does not know all the symlinks that exist. In addition there can be more than one symlink that covers the same hard path. To what symlink should VS Code map back?

The only solution that I can think of i

[2018-07-02 13:15] bpasero commented on #48275
I have pushed a change that ensures a `FileEditorInput` can be created upon reload even if the file system provider is not loaded yet. I checked all usages of `canHandleResource` and think the only other unsafe usage is within [`ResourceContextKey#set()`](https://github.com/Microsoft/vscode/blob/07d98e92758be9dd1d7de42ac67a70aa057544dd/src/vs/workbench/common/resources.ts#L53) as indicated in http

[2018-07-02 13:20] weinand commented on #53443
duplicate of #33861

[2018-07-02 13:20] #53443 closed

[2018-07-02 13:25] dbaeumer opened #53445 "Can't build locally anymore"
I get the following exception when building locally using `npm run gulp vscode-win32-x64`. Reason is that for some Search features a tag 1.25.0 is expected but we upgraded already to insider 1.26 and 1.25 isn't tag yet. We should at least not fail the build completely in this case.

[code]

[2018-07-02 13:34] isidorn commented on #53442
Assigning to @weinand for this reference https://github.com/Microsoft/vscode/blob/91e82ed2fef68f9f0a8aea9276fdad35ff649e66/src/vs/workbench/api/node/extHostDebugService.ts#L126

@sandy081 let me know if you want me to convert the panel viewlet `create` method which spreads everywhere

[2018-07-02 13:39] joaomoreno commented on #53445
@roblourens We've also hit this when building forks for VS Code on branches other than master. Can you make this a little bit more fault tolerant?

[2018-07-02 13:44] SirR4T commented on #53318
Pulled in latest changes from the project, ran npm install.
Deleted .vscode folder, and the .code-workspace file.

No luck, still seeing the above reported behaviour.

![screen shot 2018-07-02 at 7 10 41 pm](https://user-images.githubusercontent.com/2033712/42167491-d9ec9772-7e2b-11e8-86e1-ff471d5a0291.png)

What other information will be relevant here? I don't see anything in the Output tab.
How

[2018-07-02 13:44] jkanchelov commented on #45094
It could come really handy when #10121 is implemented.

[2018-07-02 13:58] #46670 closed

[2018-07-02 14:00] #51522 closed

[2018-07-02 14:00] #52731 closed

[2018-07-02 14:10] Tyriar opened #53446 "Reloading the window when small will cause the window title to overlap the menu"
![image](https://user-images.githubusercontent.com/2193314/42168814-e5e39676-7dc6-11e8-9662-fc5c3e6baa26.png)

[2018-07-02 14:14] barry-hall commented on #7640
I have found setting the following in user settings is as close as I can get to scrolling one line at a time;

`"editor.mouseWheelScrollSensitivity": ".2"`

It will show an error "Incorrect type. Expected "number". But still seems to do the trick.

[2018-07-02 14:16] #2416 closed

[2018-07-02 14:16] #53284 closed

[2018-07-02 14:17] njkevlani commented on #53372
I'd like to take solve this issue. @sandy081 any suggestions? What files will I have to work with for this?

This would be my first contribution to VSCode!

[2018-07-02 14:33] LucaChiappino commented on #2915
I don't know if there is some relation with this discussion but when the cursor is on a <div>,  the vertical red line (on the left in the image) that supposed to indicate the closing tag is not following the correct div but his parent

![image](https://user-images.githubusercontent.com/19210337/42169993-95f09674-7e15-11e8-8ba4-9d217792715e.png)

[2018-07-02 14:35] artagel commented on #53371
Is there a public api that provides the latest version of vscode?

[2018-07-02 14:37] joaomoreno commented on #53445
I had to push this in order to get a build running: https://github.com/Microsoft/vscode/commit/87668839f3f2941c6b5f6e097171bd643c697e3d

[2018-07-02 14:42] reggi opened #53449 "Git Rename"
When I rename a file I see it delete and add rather then a `git mv`.

https://github.com/Microsoft/vscode/issues/31380

![image](https://user-images.githubusercontent.com/296798/42170418-74e45848-7de4-11e8-94d0-96004007eb93.png)

[2018-07-02 14:44] isidorn commented on #51995
Dup of https://github.com/Microsoft/vscode/issues/52016

[2018-07-02 14:44] #51995 closed

[2018-07-02 14:46] isidorn commented on #52293
Dup of https://github.com/Microsoft/vscode/issues/52016

[2018-07-02 14:46] #52293 closed

[2018-07-02 14:51] isidorn commented on #52619
This is a simple adding of a .title on a div in the extensions view.
Assigning to July, @sandy081 let me know if you need help

[2018-07-02 14:51] isidorn commented on #52598
Dup of https://github.com/Microsoft/vscode/issues/52016

[2018-07-02 14:51] #52598 closed

[2018-07-02 14:52] isidorn commented on #52453
Dup of https://github.com/Microsoft/vscode/issues/52016

[2018-07-02 14:52] #52453 closed

[2018-07-02 14:52] isidorn commented on #52457
Dup of https://github.com/Microsoft/vscode/issues/52016

[2018-07-02 14:52] #52457 closed

[2018-07-02 14:53] isidorn commented on #52445
Dup of https://github.com/Microsoft/vscode/issues/52016

[2018-07-02 14:53] #52445 closed

[2018-07-02 14:53] isidorn commented on #52439
Dup of https://github.com/Microsoft/vscode/issues/52016

[2018-07-02 14:53] #52439 closed

[2018-07-02 14:54] isidorn commented on #52281
Dup of https://github.com/Microsoft/vscode/issues/52016

[2018-07-02 14:54] #52281 closed

[2018-07-02 14:55] isidorn commented on #52012
Dup of https://github.com/Microsoft/vscode/issues/52016

[2018-07-02 14:55] #52012 closed

[2018-07-02 14:55] tomeaton17 opened #53450 "Support built in Windows 10 ssh-agent"
- VSCode Version: 1.24.1
- OS Version: Windows 10 Build 17134

Steps to Reproduce:

1. Add ssh key to `ssh-agent` with `ssh-add`
2. Try to push/pull from repository

Does this issue occur when all extensions are disabled?: Yes

I can work around this issue with the following steps:

- Open powershell
- `start-ssh-agent`
- `code`

This becomes irritating and time consuming as it has to be done ever

[2018-07-02 14:56] isidorn commented on #52617
Dup of https://github.com/Microsoft/vscode/issues/52016

[2018-07-02 14:56] #52617 closed

[2018-07-02 15:00] #50955 closed

[2018-07-02 15:00] #52565 closed

[2018-07-02 15:00] chabad360 commented on #2809
Thanks, will have a look at it.

[2018-07-02 15:07] chabad360 commented on #2809
@DonJayamanne can you point me to where in the Python add-on, the file responsible for parsing env vars is?

[2018-07-02 15:14] yanckst opened #53451 "Allow refactoring tools in the outline view"
Hi,

I'm not sure if some people could see this future useful but, it would be very nice to allow users having refactoring tools inside the outline view. Right now, the only features we have are a filter and a sort for finding/sorting elements in the code.

What if we can add more feature in this view? I don't know if it was designed for that, but it can help a lot for refactoring the code.

Here'

[2018-07-02 15:31] jrieken commented on #53451
/duplicate of #49925

[2018-07-02 15:32] #53451 closed

[2018-07-02 15:32] jrieken commented on #53451
Please complete #49925 with things mentioned here but not there

[2018-07-02 15:39] kbumsik opened #53452 "Terminal cannot escape from `yes` command using Ctrl+C."
- VSCode Version: 1.24.1
- OS Version: Manjaro Linux

Terminal cannot escape from `yes` command using Ctrl+C. It is also applies to the others like Ctrl+Z.

In other terminals, `yes` command immediately exists when pressing Ctrl+C.

Steps to Reproduce:

1. Run `yes` command in the Integrated Terminal.
2. Try Ctrl+C
3. Terminal ignores Ctrl+C and keeps printing.

Does this issue occur when all exte

[2018-07-02 15:43] mikemaccana commented on #34442
This is a little higher priority for terminal users now that Sets was pulled from Fast Ring Windows 10 builds.

Sets clearly has a long way to go - starting a new tab was a slow process of opening the new tab, waiting for edge to start (if it didn't crash) and then searching for the app you wanted to start (another powershell, duh). So right now, tabbed terminals is: wait for a bunch of bugs to be

[2018-07-02 15:46] yanckst commented on #49925
As requested, this comment comes from [issues/53451](https://github.com/Microsoft/vscode/issues/53451)

Right now, the only features we have are a filter and a sort for finding/sorting elements in the code.

What if we can add more feature in this view? I don't know if it was designed for that, but it can help a lot for refactoring the code.

Here's a GIF demonstrating the current features :
![vsc

[2018-07-02 15:47] mjbvz commented on #53439
Please try upgrading your workspace to use `typescript@next` by following [these instructions](https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions). Do you still see this issue on typescript@next?

[2018-07-02 15:47] KamasamaK commented on #2915
@LucaChiappino That is the [indent guide](https://code.visualstudio.com/updates/June_2016#_indent-guides) and is unrelated to tag matching. The placement is intentional.

[2018-07-02 15:50] dsanz006 commented on #53443
I understand VS Code doesn't know anything about soft links, however it seems to use the soft link sometimes and the hard path some other times. In all my configuration files (**.code-workspace, tasks.json, launch.json...) I am setting all the paths relative to ${workspaceRoot}. VSCode seems to use the soft link for the **.code-workspace file, and the hard link for the tasks.json and launch.json f

[2018-07-02 15:54] sandy081 commented on #53442
@isidorn I will take care of all viewlets. Just for FYI, I moved away from `async-await` in all viewlets `create` method. If we have to retain that, we have to change the base `create` method which will have a big ripple affect.

[2018-07-02 16:02] Tyriar commented on #53452
Duplicate https://github.com/Microsoft/vscode/issues/42234

[2018-07-02 16:02] #53452 closed

[2018-07-02 16:03] sandy081 commented on #53442
Looks like @joaomoreno did the changes for viewlets.

[2018-07-02 16:04] arvindkannan1 commented on #3451
Hi i am having the same issue on centos. Anyone knows how to solve?

[2018-07-02 16:06] 23pret commented on #3451
Hi - i am having same issue on centos.. any ideas how to solve?

[2018-07-02 16:07] Tyriar commented on #53253
It happens still when I hide the menus using the native title bar. When using the custom title bar the issue goes away though, so this is a dupe of https://github.com/Microsoft/vscode/issues/35225

[2018-07-02 16:07] #53253 closed

[2018-07-02 16:08] Serhioromano opened #53453 "User profile"
What am going to ask is huge. ш know it might take a lot of work. It is not a small thing but very important for me.

I am using VS Code from day one. And during that time I have few OS reinstalled and on PC change. Every time when that happens I need to install all plugins and configure VS Code again.

Now I've realized that I use VS Code without reinstall for quite a while.

1. I have pretty muc

[2018-07-02 16:08] IlyaBiryukov commented on #53257
About extension applying changes to a document opened from a read-only file system provider, we do need that working. The issue is the behavior of save. I think saving a document should just be disabled for read-only provider.

[2018-07-02 16:08] user3323 commented on #52371
@chrmarti  @Tyriar  hey, it's happened again. But now - behavior even MORE strange.

I had all my Untitled files in workspace, named "WSPACE 1".
I closed it.
Then, drag and drop'ed folder into VS Code, and saved this new workspace, as "WSPACE 2".
Closed VS Code.
Start VS Code..... and I'm getting my WSPACE 2 opened, with ..... those 8 Untitled files from WSPACE 1.

Console log error:
`INFO  no sta

[2018-07-02 16:08] Tyriar commented on #35225
@bpasero is the custom title bar the final fix for this though? I don't see a custom title bar even feeling that great on Linux.

[2018-07-02 16:09] Tyriar commented on #53420
Duplicate https://github.com/Microsoft/vscode/issues/35901

[2018-07-02 16:09] #53420 closed

[2018-07-02 16:11] roblourens commented on #53391
Sure, we can check both.

[2018-07-02 16:14] SkeLLLa commented on #53423
@mjbvz In my case it may take a lot of time, because `tmp` is cleared on reboot/shutdown. However usually I just hibernate my laptop. So sometimes amount of those files reaches more than 1000.
And just an IMHO it's a good practice to make clean-up before shutdown or after file is no longer needed.

[2018-07-02 16:15] weinand commented on #53443
I didn't say that VS Code doesn't know anything about soft links.
I said that the C++ debugger does not know anything about soft links.

VS Code understand symlinks and follows them correctly.
But the C++ debugger doesn't.
So any "hard" path returned by the debugger needs to be mapped to the original symlink.

And that's the problem VS Code cannot solve without help because the backward mapping is

[2018-07-02 16:15] bpasero commented on #53257
@IlyaBiryukov yeah good point, extensions still need to be able to make changes to the model in case it updates. We could maybe change our model in a way that a readonly model never shows up as dirty to the user.

[2018-07-02 16:16] bpasero commented on #35225
@Tyriar what @sbatten is doing will make it also better for the native menu: all entries will be built via commands and update properly.

[2018-07-02 16:21] roblourens commented on #50249
1. I did add an extra margin between the TOC and the settings list, which makes it look more natural on larger displays, but I agree that it doesn't look great with that window size. I will keep tweaking it.

2. You're right, I didn't notice that before. Now I can't stop noticing it. Thanks.

3. Yeah I guess that's the explorer trying to sync its selection to the editor pane, I'll fix that.

4. Go

[2018-07-02 16:25] jalovatt opened #53454 ""Empty snippet" is an invalid snippet"
Issue Type: <b>Bug</b>

- Open one of the user snippets JSON files
- Type " to bring up the empty snippet suggestion
- Tab to insert it

The provided snippet inserts top-level curly braces, which (I don't know JSON) an existing snippet file already has, making the new snippet invalid.

[code]

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS vers

[2018-07-02 16:26] roblourens opened #53455 ""Keyboard" incorrectly shows expand twistie on Windows"
![image](https://user-images.githubusercontent.com/323878/42175319-e1e5a574-7dd9-11e8-96e2-cf35e636b9c5.png)

It only has settings that don't apply on Windows, and `hasChildren` logic is wrong. It shouldn't be shown at all.

[2018-07-02 16:31] roblourens commented on #53445
It should break the build for real builds that we will release. But it can be skipped for others. How can I tell the difference?

[2018-07-02 16:31] jrieken commented on #53454
Yeah, I'd say the default proposal shouldn't show when the file is already populated. @aeschli Unsure if that is in my schema or not

[2018-07-02 16:39] benorosz commented on #43169
I didn't fix the problem, but I got around it. For me, neither bash nor Powershell worked, but cmd did. So in my settings.json, I added
`"terminal.integrated.shellArgs.windows": [
        "/K",
        "path/to/bash.exe"
    ]`
Now, every time I start up a terminal instance, it will open as cmd then run bash and be usable as bash from then on. It does take it a second to startup, but part of that

[2018-07-02 16:40] roblourens commented on #53445
I could change it to count from the release branch, instead of the tag.

[2018-07-02 16:48] roblourens commented on #53445
Actually I'll just check for `process.env.BUILD_SOURCEBRANCH` like I already do for the upload step.

[2018-07-02 16:54] Tyriar commented on #35225
@bpasero so the keybindings will update when contexts change?

[2018-07-02 16:59] Tyriar commented on #53312
You need to do `C:>code d:\Subfolder\Foo\bar\File.txt`, we don't (and can't AFAIK) track working directories  across drives.

[2018-07-02 16:59] #53312 closed

[2018-07-02 17:06] roblourens commented on #53445
Oh, I see that this is really about the gap between incrementing the package.json and tagging, not local builds.

[2018-07-02 17:09] #53268 closed

[2018-07-02 17:11] chuckries commented on #48600
@isidorn Sorry for the late response on my end. Yes I am still able to repro this, please reactivate the issue:
![image](https://user-images.githubusercontent.com/6598594/42177037-0102376e-7de0-11e8-9500-4185e2cd06d8.png)

You made need to increase cThreads from 5 to 20 or so.

[code]

[2018-07-02 17:20] RMacfarlane commented on #51752
@AccessibilityTestingTeam-TCS What is the expected behavior for these? The menu bar is native from the OS, so on Windows, pressing `Alt+Spacebar` shows a context menu, and the keybindings `Ctrl+Up arrow`, `Ctrl+Down arrow` and `Alt+F4` work for minimizing, maximizing, and closing.

[2018-07-02 17:31] mterrel commented on #9502
@victor-perez Your solution worked great for me. Thanks!

[2018-07-02 17:34] #53309 closed

[2018-07-02 17:39] RonanQuigley commented on #53439
Yup that fixes it, but it creates a new problem. It leaves files in the workspace that say deleted from disk after the move has taken place.

![gif](https://user-images.githubusercontent.com/33596237/42178100-fe48cd34-7e26-11e8-885a-a81df82343ef.gif)

Might be worth adding: none of these issues happen with 1.24 and typescript 2.9.1 that it ships with.

[2018-07-02 17:40] Tiltowaite commented on #53312
After parsing a name from the command line, you pass the name to this function and the relative paths will be resolved.

https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-getfullpathnamea

From: Daniel Imms <notifications@github.com>
Sent: Monday, July 02, 2018 10:01 AM
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: Tiltowaite <georgeforsman@outlook.com>; Author <author

[2018-07-02 17:40] jbrownson commented on #49325
@dschaefer please post a link here if/when you open the new issue, I'd like to follow it too.

[2018-07-02 17:41] dsanz006 commented on #53443
I understand, thank you.

[2018-07-02 17:53] #37103 closed

[2018-07-02 17:53] thedonquixotic commented on #16363
Hey guys, I think I might actually have a solution though this might be a bad suggestion on my part.

I've recently been fiddling around with editing the Windows theme using registry editing. It's.... probably not super recommended, and I can't tell you how right at this moment (uh... because in the process I also totally borked my install of Windows 10), but from what I've been learning (or break

[2018-07-02 17:55] Tyriar commented on #53355
This is what I see:

![image](https://user-images.githubusercontent.com/2193314/42178760-651e6636-7de6-11e8-91a6-9d0a90bc6d0a.png)

I think the root cause of this is https://github.com/Microsoft/vscode/issues/48136

[2018-07-02 17:55] #53355 closed

[2018-07-02 18:13] sbatten commented on #53244
@bpasero things would simplify in `layout.ts` but we still need the absolute positioning to center the title when possible. i.e. when the menubar doesn't touch the middle of the titlebar we can still center the title in the window, not the remaining space.

[2018-07-02 18:13] Tyriar commented on #53312
That's cmd's job, we just show what cmd tells us to. Your request belongs in https://github.com/Microsoft/console

[2018-07-02 18:15] user3323 opened #53457 "Multiple windows can open when restoring workspace with dirty files"
- VSCode Version: 1.25.0-ins
- OS Version: win7x64

You work in your workspace (with some opened tab editors), named "MyProject".
Save it to `D:/test/`
Then, close workspace.
After that, you decide, that folder `test` should be `test123`, renaming it.
Launch VS Code ---> Open workspace ...  ---> Find your workspace in test123 .... open it.
And all your tab editors - are gone!
Well, they actually n

[2018-07-02 18:17] #53455 closed

[2018-07-02 18:20] roblourens commented on #53088
I can always reopen it :)

That doesn't show the issue, can you see if the full stack is in the dev tools console? (Help > Toggle Developer Tools)

[2018-07-02 18:45] roblourens opened #53458 "Wrong "open recent" order"
- Open folder A
- Invoke "Open Recent", ctrl+r, open folder B
- Invoke "Open Recent"
- Folder A should be the second item in the list because it was used most recently, but it isn't

This isn't happening 100% of the time but if I open 3 windows and switch between them in a different order a few times, then it gets screwed up.

I use this really often so this is probably new within the last couple

[2018-07-02 18:46] danyeh commented on #46711
According to [steps and criteria to add language to Transifex](https://github.com/microsoft/localization/wiki/How-to-request-a-new-UI-language-for-VS-Code-project), need three contributor votes before enable a language.
We count:
https://www.transifex.com/user/profile/steinrl/
https://www.transifex.com/user/profile/lars.magnus.herland/
https://www.transifex.com/user/profile/andreona/

Now Norwegia

[2018-07-02 18:46] #46711 closed

[2018-07-02 18:51] #53414 closed

[2018-07-02 18:54] EgoAleSum commented on #53409
Thanks for the update.

To answer your points above, not because relevant for this bug, but because it might give you some input on how I'm using the product and the challenges I have:

1. I have a monorepo which has multiple packages. I don't explicitly set the port so when I start the debugger I can choose which instance of node (+ nodemon) to attach to, and debug multiple packages.
2. I had exp

[2018-07-02 18:54] danyeh commented on #28719
@andreona , I enabled Norwegian Bokmål (nb) for VS Code projects in Transifex according to request in  issue 46711. I understand you requested different flavor of Norwegian language. I assume you are fine to contribute to Norwegian Bokmål (nb), So I added you there. Let me know if you feel it is not good.

[2018-07-02 18:55] danyeh commented on #28719
The Norwegian Bokmål (nb) request: https://github.com/Microsoft/vscode/issues/46711

[2018-07-02 19:01] dnistreanu commented on #52614
The issue is annoying and after some research I see that there are other issues like that reported. I updated description because in fact scenario is very simple.
Please fix, for me it can result in a switch to other editor.

[2018-07-02 19:02] ninrod commented on #28126
@joaomoreno, this fixes the issue, thank you very much.

[2018-07-02 19:02] #28126 closed

[2018-07-02 19:09] adityaaggarwal1992 commented on #53361
Thanks @isidorn

[2018-07-02 19:13] egamma opened #53459 "Floating debug tool bar not properly aligned when using custom menus"
- enable custom menus  "window.titleBarStyle": "custom"
- set the debug toolbar to floating

Notice that the debug toolbar is not properly aligned with the bottom of the tabs.

![image](https://user-images.githubusercontent.com/172399/42181795-70cdab30-7e3c-11e8-9068-affa5144c983.png)

[2018-07-02 19:18] jalovatt opened #53460 "Suggestion content is dependent on editor.quickSuggestionsDelay"
Issue Type: <b>Bug</b>

Sorry if this is a duplicate; no combination of search keywords got me anything.

The content of the quick suggestions list is only being updated when _editor.quickSuggestionsDelay_ times out. That is, with longer delay times (200ms is comfy for me and avoids helpful suggestions on how to auto-complete "if" or "function"), typing too fast results in an incomplete list.

Exa

[2018-07-02 19:21] JonKohler commented on #53235
@Tyriar - This isn't a tool that you have to go look at to see if it just so happened to find something, and then try to go fix it later.

It actually comes up right in the github checks API, and will tell you if there are issues found with the PR

See how the PowerShell team uses it, here: https://github.com/PowerShell/PowerShell/pull/7220

In that PR, it failed as the submitted sent in code that

[2018-07-02 19:25] tomastech commented on #51776
I am experiencing this issue too on my macbook and imac, both running macOS HS 10.13.5. The process continues even when VSCode is closed.

![screen shot 2018-07-02 at 20 39 46](https://user-images.githubusercontent.com/1606440/42182341-27e157c6-7e3e-11e8-949c-8328edd69605.png)
![screen shot 2018-07-02 at 20 40 07](https://user-images.githubusercontent.com/1606440/42182351-2e7ae69c-7e3e-11e8-8c06-1

[2018-07-02 20:02] BrainSlugs83 commented on #10121
Chiming in with what others have said -- Not being able to dock the various panels is a bit of a deal breaker for me as well. -- It was the third thing I tried to do in VS Code (right after changing the theme to light, so that I could see the menus, and installing the mssql extensions).

To be helpful -- what would be useful to me is not just being able to open files on multiple screens, but being

[2018-07-02 20:11] Tyriar commented on #53235
But we already do these types of quality checks using linters which already run on our CI and tell us before merging, I think it would be simpler just to keep doing that and adding extra rules where it makes sense.

Also I've used Code Climate in the past and didn't find it that useful. It's mainly just a convenient way to get a bunch of linters running on your code, but if you're already running

[2018-07-02 20:14] JonKohler commented on #53235
ahha! ok, I misinterpreted your previous comment, this makes 100% now. Thanks for taking the time to respond, I really appreciate it, and keep up the good work!

I've gotten to the point where I dont even use sublime or traditional visual studio anymore, just 100% vscode :)

[2018-07-02 20:15] roblourens commented on #47459
This should be fixed by enabling the new experimental search by setting the `searchRipgrep.enable` setting (then reloading the window).

It's tricky to fix in the default search so I'll consider it fixed with that.

[2018-07-02 20:15] #47459 closed

[2018-07-02 20:18] jalovatt commented on #45177
Yes please.

Due to the setup of the repository I'm working in, a particular project might have its own subfolder but also has to have a package file at root-level. Would be great to have the package as part of the workspace.

[2018-07-02 20:29] redlagoon opened #53461 "<style> within PHP code breaks syntax highlight."
What the title says.

This:

[code]

Breaks the syntax highlighting.

Version without the style tag:

[http://prntscr.com/k1rea0](url)

Version with the style tag:

[http://prntscr.com/k1reez](url)

As you can see, it's clearly bugged.

- VSCode Version: 1.24.1
- OS Version: Windows 10

Steps to Reproduce:

1. Copy the code into a `.php` file. Probably also inside a mock class.

Does this issue oc

[2018-07-02 20:29] jonfer opened #53462 "[erb] provide html instellisense in erb files"
- VSCode Version: 1.24.1
- OS Version: MacOS 10.13.3

Steps to Reproduce:

1. Create an html.erb file with some html in it.
2. Click in a tag, it should select the matching tag, but it doesn't

Does this issue occur when all extensions are disabled?: Yes

I really like all the features it provides, and would love to continue to use it to develop in Ruby on Rails. The problem is that not having any

[2018-07-02 20:30] #53461 closed

[2018-07-02 20:30] sean-mcmanus commented on #53368
Why are you trying to reproduce it with a Hello World example when I have a repro with the C/C++ extension at https://github.com/Microsoft/vscode-cpptools/tree/release ? Our repro should be pretty simple to use. I would guess something with our more complicated code is the key to reproducing the bug. The same version of our C/C++ extension repros the issue on Insiders VS Code, but not the 1.24.1 V

[2018-07-02 20:40] roblourens commented on #53406
I propose creating `vscode-fuzzy` (name TBD) that would contain

- src/vs/base/parts/quickopen/common/quickOpenScorer.ts
- src/vs/base/common/filters.ts
- src/vs/base/common/comparers.ts
- And their tests

I'll publish it as UMD modules, which assuming that our loader is compatible with what TS outputs as UMD, would be easy.

The other dependencies of these files are trivial. This feels like a coh

[2018-07-02 20:46] danyeh commented on #53130
As of today, we have zh-cn, fr, it, ja, ko language pack loc completed and published in Marketplace.

[2018-07-02 20:47] AlanJayWeiner commented on #26284
+1  (or maybe +much more...)

I find it incredibly annoying modified tabs aren't highlighted.

I can hover over each tab and see if a dot or an x appears, but that requires extra work (and I might forget).
I can open the 'open editors' on the left (which I usually have hidden...) but that's also extra work (and I might forget...).
The editors icon on the left does show how many dirty files, but I

[2018-07-02 20:47] mjbvz opened #53463 "Release notes: "[Embedded Page] Blocked script execution...""
Steps to Reproduce:

1. Open release notes
2. Open webview developer tools

**Bug**
In the dev tools console, see the error: `[Embedded Page] Blocked script execution in...`

[2018-07-02 20:52] sean-mcmanus commented on #53368
Oh...my co-worker wasn't able to reproduce the bug -- there must be something strange with my VS Code Insiders. I deleted all my settings (and disabled other extensions) so I don't understand how I could be getting different behavior from other machines or my VS Code non-Insiders. I'll try reinstalling VS Code Insiders.

[2018-07-02 21:03] RMacfarlane commented on #53320
Duplicate of https://github.com/Microsoft/vscode/issues/51521

[2018-07-02 21:03] #53320 closed

[2018-07-02 21:03] #51521 closed

[2018-07-02 21:06] #53463 closed

[2018-07-02 21:11] arrowplum commented on #40009
Or no?

[2018-07-02 21:30] johnpapa opened #53464 "Deleting all files in a folder should result with the empty folder being selected"
Version 1.25.0-insider (1.25.0-insider)
macOS 10.13.4 (17E202)

Steps to Reproduce:

0. Start with a project with multiple folders, each with multiple files in them
1. Select all of the files in a folder
2. Delete the files (not the folder) so the folder is empty
3. Notice that the selected folder is no longer selected

[2018-07-02 22:20] ajackson-cpi opened #53465 "SCM Diff --> Open File --> Line Number Reset"
Issue Type: <b>Bug</b>

When viewing a Source Code Management (git) diff editor, I scroll to the interesting areas. But when I click "Open File" to be rid of the left-side view, I'm reset to the top of the file.

Though minor, its impact is significant: I'm usually thinking about the change to be made, not about file navigation. This causes confusion by kicking me out of the solution mindset and i

[2018-07-02 22:30] amcasey opened #53466 "Rename file refactoring opens a bunch of deleted files"
Version: 1.25.0-insider
Commit: 26eb2a9af5827d71e1f65096c0ce712c5ad2740d
Date: 2018-07-02T12:37:21.268Z
Electron: 1.7.12
Chrome: 58.0.3029.110
Node.js: 7.9.0
V8: 5.8.283.38
Architecture: x64

Win10

As I've been renaming a file (app1.ts -> app2.ts -> app3.ts -> etc), VS Code has been re-opening the old, deleted versions on each iteration.

![image](https://user-images.githubusercontent.com/1050807

[2018-07-02 22:30] amcasey commented on #53466
FYI @mattbierner

[2018-07-02 22:32] amcasey commented on #53466
[GH53466.zip](https://github.com/Microsoft/vscode/files/2157006/GH53466.zip)

I doubt it matters, but here's the particular project.

[2018-07-02 23:03] sbatten commented on #52884
@bpasero

I originally created the second one because the original was used for the alternative actions throughout the workbench, but that behavior was still under discussion. Now, I've modified it by quite a bit to fit my needs and changed the name even.

On windows, the window can't be resized from a draggable region, so the resizer let's you grab from the top.

UI jargon, that stuffs called win

[2018-07-02 23:13] gurubobnz commented on #28795
Came here after noticing the same, standard Ubuntu 18.04 installation (fresh), VSCode installed from the Ubuntu Software "store". I have the same behaviour if I scroll up and down in VSCode and then switch to Chrome (e.g. this long page) and scroll I get a jump. I also have the same issue with the Slack app which is built on top of Electron I believe, but only when using Alt-Tab - clicking on the

[2018-07-02 23:45] SetTrend commented on #24869
Just for the sake of showing that this kind of formatting is not an unpopular one:

https://docs.npmjs.com/misc/coding-style#comma-first

[2018-07-03 00:10] andy-ms opened #53468 "Completions: prefer slight misspelling over distant substring match"
Issue Type: <b>Bug</b>

Type:
[code]
* Type `fragile()`.

Expected: Corrects to `frajile`.
Actual: Corrects to `supercaliFragilisticExpialidocious`.

VS Code version: Code - Insiders 1.25.0-insider (499122702e462b458117122a6885e6aeb3cec0a4, 2018-06-29T05:19:31.733Z)
OS version: Linux x64 4.13.0-43-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-

[2018-07-03 00:13] GlenPerkins commented on #47523
Yes, eventually this "background" really needs to be in the background, not painted on top of everything else. As it is, the best you can do with it is to use transparency to make it look as if you've put colored plastic tape over your selection, which dulls it and changes its foreground color.

[2018-07-03 00:42] sean-mcmanus commented on #53368
It looks like our call to document.save() is failing -- since the document fails to save, it doesn't exist when we later call open on it. Do you know of anything that could cause document.save() to fail with Insiders or how to get diagnostics on the failure reason?

[2018-07-03 01:00] #51373 closed

[2018-07-03 01:00] #51453 closed

[2018-07-03 01:08] mjbvz commented on #53348
This issue was moved to Microsoft/TypeScript#25386

[2018-07-03 01:08] #53348 closed

[2018-07-03 01:13] mjbvz commented on #53250
Thanks. Opened https://github.com/Microsoft/TypeScript/issues/25387 to track this upstream

[2018-07-03 01:13] #53250 closed

[2018-07-03 01:55] wistcc commented on #53464
After trying to fix this I got to [this line](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/electron-browser/fileActions.ts#L666) which is working as expected.

Then I noticed that the only way to reproduce this is by removing a file that is opened. Even removing just one file (that is opened) the parent folder won't be selected as you can see in [this video](https:/

[2018-07-03 01:59] morgzz commented on #541
+1

[2018-07-03 02:22] ldhios commented on #53433
Hi, @bpasero
   Thanks for your reply.
I set    "workbench.editor.enablePreview":false,
    "workbench.editor.enablePreviewFromQuickOpen":false,  The first issues is solve.
But the second issues not solve.  not found relevant setting , when my search the 'User Settings' with use 'preview' keywords. Can you help me? I am troubled by this issues recently.

[2018-07-03 02:24] komagic opened #53469 "it should be able to set "fontWeight" for suggestion widget"
<img width="485" alt="2018-07-03 10 21 52" src="https://user-images.githubusercontent.com/13415767/42195328-ef6a5cea-7eaa-11e8-8d98-1d3be6795526.png">

it should be able to set "fontweight"  in suggestion widget, like "editor.suggestFontSize",

create a fontWeight variable in suggest.ts
<img width="870" alt="2018-07-03 10 36 01" src="https://user-images.githubusercontent.com/13415767/42195779-406e

[2018-07-03 03:50] willhackett opened #53471 "Xbox Live: Achievement Get: Git commit"
Why not increment my Xbox Live Gamerscore for tap, tap, tapping away in my IDE. Add achievements for committing, merging, resolving conflicts, rebasing — pit players against each-other to create unnecessary office competition.

![image](https://user-images.githubusercontent.com/12025460/42197814-f91af034-7ec7-11e8-970c-ef9df31e28bd.png)
Image credit: Slide 35 of this -> https://www.slideshare.net/

[2018-07-03 03:52] jxom commented on #53471
+1

[2018-07-03 04:06] TX-QAQ commented on #53344
What if the condition I need is more specific beyond the existing built-in "when condition"?
If I liberalize my condition and check the condition inside the command, there is no way to trigger the "when condition check" of next possible key.
Therefore, can I somehow implement my our "when" condition
or throw any certain Exception in my command to return to the "when rule" matching part?

[2018-07-03 04:35] bpasero commented on #35225
@Tyriar no, menu items can show up as disabled or removed if the context does not match anymore. this allows to contribute an entry to the main menu that is only enabled/visible under certain conditions (something that we did not have before).

[2018-07-03 04:36] bpasero commented on #53244
@sbatten sorry, I do not follow that rationale, I would center the title between menubar and window controls and let the title shrink when size is little, then let the menubar shrink so that the window controls take over.

[2018-07-03 04:39] monkeysuffrage commented on #53292
It's happening again after switching to Insiders. I noticed it first saving a PHP file so I tried "php.validate.enable": false - but this didn't help.

Here is output of code --status:

Version:          Code - Insiders 1.25.0-insider (368ab9c31b5c0930a40ab3f0e0d768ebbeeb9ef8, 2018-06-26T05:18:23.085Z)
OS Version:       Windows_NT x64 10.0.17134
CPUs:             Intel(R) Core(TM) i7-4700MQ CPU @

[2018-07-03 04:47] bpasero commented on #53368
Maybe you have the setting `workbench.editor.closeOnFileDelete` enabled and others do not?

[2018-07-03 04:48] bpasero commented on #53292
@monkeysuffrage how do you "Create a new file in terminal" and when does it wait for 60s?

[2018-07-03 04:53] monkeysuffrage commented on #53292
If I do "touch xxx" in terminal for example, vscode will spin in the left
side file area. Also when I save a buffer it sometimes takes 30 seconds or
so to save.

On Tue, Jul 3, 2018 at 12:49 PM Benjamin Pasero <notifications@github.com>
wrote:

[2018-07-03 04:55] bpasero commented on #53292
@monkeysuffrage is there any remote file system involved or is the file local on disk?

[2018-07-03 04:57] bpasero commented on #53458
@roblourens the logic lives in `historyMainService` and [there has not been a relevant change for a long time ](https://github.com/Microsoft/vscode/commits/74fcd9ae313957df6ed910966616225d67831a24/src/vs/platform/history/electron-main/historyMainService.ts). I can also not reproduce. If you have more specific steps that reliably reproduce, let me know. Also maybe try on another machine of another

[2018-07-03 05:00] monkeysuffrage commented on #53292
It's all local and on a fast SSD

On Tue, Jul 3, 2018 at 12:56 PM Benjamin Pasero <notifications@github.com>
wrote:

[2018-07-03 05:01] roblourens commented on #53458
I'll debug it tomorrow, it repro'd very consistently today.

[2018-07-03 05:07] bpasero commented on #53292
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-07-03 05:45] naveed-butt commented on #53088
This is the error in the log file...
[2018-07-03 10:44:26.721] [renderer1] [error] Pending request cancelled: /codecheck: Error: Pending request cancelled: /codecheck
    at RequestQueue.cancelRequest (C:\Users\naveed.butt\.vscode\extensions\ms-vscode.csharp-1.15.2\src\omnisharp\requestQueue.ts:62:29)
    at RequestQueueCollection.cancelRequest (C:\Users\naveed.butt\.vscode\extensions\ms-vscode.cs

[2018-07-03 05:47] naveed-butt commented on #53088
and this is the developer console error...

workbench.main.js:sourcemap:2265 Error: Cannot read property 'forEach' of undefined
    at project.elements.forEach.element (C:\Users\naveed.butt\.vscode\extensions\fernandoescolar.vscode-solution-explorer-0.2.29\out\model\Projects\Kinds\StandardProject.js:293:33)
    at Array.forEach (native)
    at StandardProject.parseDocument (C:\Users\naveed.butt\.v

[2018-07-03 05:54] tbhaxor commented on #53387
well done microsoft support team :angry:

[2018-07-03 05:54] formulahendry commented on #52803
Got it. Thanks for the screenshot. This issue could not repro on 'Extensions Viewlet'

[2018-07-03 05:55] sbatten commented on #53244
@bpasero when the window is large enough to show all parts of the title bar and still center the title on the window width(not the space between the menubar and controls) we should

[2018-07-03 05:58] hidnarola opened #53472 "Function is not showing"
Issue Type: <b>Bug</b>

I have minimised function in previous version now it's not showing in vscode.

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:41:50.128Z)
OS version: Darwin x64 17.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-3220 CPU @ 3.30GHz (4 x 3293)|
|GPU Status|2d_canvas: unavailable_software<b

[2018-07-03 05:58] naveed-butt commented on #53088
Looks like an issue with Solution Explorer. You can close this one now :)

[2018-07-03 05:58] #53088 closed

[2018-07-03 05:58] #53472 closed

[2018-07-03 05:59] roblourens commented on #53458
I think this is what's happening

- I switch windows and so 'recently opened' windows are updated. menubarPart.ts in every window listens to that and calls getRecentlyOpened to sync recent entries: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/menubar/menubarPart.ts#L270 (sorry @sbatten)
- That would be fine, but getRecentlyOpened has the side effect of adding the

[2018-07-03 06:02] roblourens commented on #53458
Yeah with a dumb fix like `storedRecents = objects.deepClone(storedRecents);` in getRecentlyOpened, I can't reproduce it anymore

[2018-07-03 06:06] roblourens commented on #53445
I have a better fix which simplifies this whole process, but makes the generated build id longer. First I need to test it with my Bing counterpart to make sure it's handled ok on their end.

[2018-07-03 06:19] Narenvaran opened #53473 "Integrated terminal ctrl+' not working"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|

---

Steps to Reproduce:

1. ctrl + ' not working
2. i am going manually to select integrated terminal

[2018-07-03 06:30] jrieken commented on #53468
Unsure... We only swap neighbouring characters but we don't skip or replace characters in the search word. Even that can confuse people and I don't know if more graceful matching is wanted. Tho, we now do have a setting in which this can be captured.

[2018-07-03 06:33] jrieken commented on #53406
cc @alexandrudima

We can load it but I am not so sure about bundling.

[2018-07-03 06:36] anoop-ananthan commented on #50417
is there no solution to this problem? Hot-reloading will not work,  Nodemom won't work. All it has to do is not ignore watching files in `node_modules`. the solution in the above link doesnot work.

[2018-07-03 06:44] monkeysuffrage commented on #53292
I don't see nightly builds at that link. I'm using 1.25.0-insider which I
installed this week. Anyway I don't think this issue has been resolved.

On Tue, Jul 3, 2018 at 1:08 PM Benjamin Pasero <notifications@github.com>
wrote:

[2018-07-03 06:58] C0FF33 commented on #20837
+1 This really is a no-brainer user setting to add, in fact, if nothing else, it should be turned off by default.

[2018-07-03 07:05] beastdestroyer commented on #50249
@roblourens Thanks! Time to test it all the way!

[2018-07-03 07:05] joaomoreno commented on #53442
Down to 13.

[2018-07-03 07:05] muuvmuuv commented on #53453
You are searching for something like this: https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync

[2018-07-03 07:05] hqzh opened #53474 "add React JSX label fold"
![1](https://user-images.githubusercontent.com/26128706/42203792-7846e228-7ed2-11e8-9cec-bf8a44e49183.png)
![2](https://user-images.githubusercontent.com/26128706/42203798-7adbeca4-7ed2-11e8-9db9-bdaf5a9fceb7.png)
I can't fold tags in React component,not perfect

[2018-07-03 07:06] beastdestroyer commented on #53462
I agree, however for this issue, it lies. more on Pug (jade) : there isn't really any intellisense there too

[2018-07-03 07:11] jrieken commented on #53442
done

[2018-07-03 07:12] yume-chan commented on #53293
<kbd>F1</kbd>, 配置显示语言 (Configure Display Language), change "zh-CN" to "en", restart code

[2018-07-03 07:21] joaomoreno commented on #53371
Sure:

[code]

Where `PLATFORM` can be:

- `win32`, `win32-x64`
- `linux-ia32`, `linux-x64`
- `darwin`

And `QUALITY` can be:

- `stable`
- `insider`

Example:

[code]

[2018-07-03 07:33] #53471 closed

[2018-07-03 07:34] vadym-huza commented on #23902
+1

[2018-07-03 07:35] MeikTranel commented on #53438
[code]

[2018-07-03 07:37] mikkotikkanen opened #53475 "Got git stuck on "please clean your repository before pulling""
Issue Type: <b>Bug</b>

Working from the train, the internet is not always most reliable. I committed and tried to sync changes to remote repo. Immediately after pressing sync I realized that there was still changes to be committed, quickly committed the remaining files as Code was still trying to connect to remote. Eventually it managed to connect only to greet me with "please clean your reposito

[2018-07-03 07:38] joaomoreno commented on #53438
Just confirmed the issue, great catch, thanks for filling!

[2018-07-03 07:38] jrieken commented on #53442
👏 Thanks everyone!

[2018-07-03 07:38] #53442 closed

[2018-07-03 07:40] hardikdangar commented on #28795
To all the linux falks here, there is very easy hack. you can install imwheel and it will fix this issue. I have been using this hack for a while now and haven't noticed any issues. if you are on ubuntu its as easy as sudo apt install imwheel and then add that into your system startup programs by opening startup applications gui and adding program /usr/bin/imwheel.

[2018-07-03 07:41] MeikTranel commented on #53438
Just to confirm that this is one of my installers weirding out 😄
the bug is that current VSCode-Insiders write an empty string into path right? (thus the double semicolon) ?

[2018-07-03 07:42] joaomoreno commented on #53438
No, I believe the double semicolon comes from something else in your system. We were writing on a completely wrong registry key.

[2018-07-03 07:50] bpasero commented on #53406
For the case of `URI` I think we went a different path and simply copied the contents to a module but did not end up using it in our core. Are we proposing to start sharing code between core and extensions through UMD modules? If so, would we apply this to URI as well?

[2018-07-03 07:51] bpasero commented on #53292
@monkeysuffrage does it happen with any file type you create?

[2018-07-03 07:52] dbaeumer commented on #53318
@SirR4T what you can do is the following

- open a terminal
- run `gulp --tasks-simple` in the workspace folder

What tasks will be listed.

I am using gulp version

[code]

[2018-07-03 07:52] jrieken commented on #53406
Yeah, it was the same (unsolved) issue back then

[2018-07-03 07:55] joaomoreno commented on #53442
Nice!

[2018-07-03 07:56] Serhioromano commented on #53453
@muuvmuuv that looks similar. But not exactly what I've suggested. Although it is a very good alternative to use in the mean time.

Although your suggestion can sync but not everything i'd suggested. Also I suggest profiles, so it is easy to switch between them. If you think futher you can create PHP profile and JS profile with different settings.

[2018-07-03 07:57] bpasero commented on #53244
@sbatten understood, here is an idea after talking with @joaomoreno about this:
* if the window is small, do not use any absolute positioning, just put the menu, title and controls in divs with a flex layout. the title should be centered between menu and controls and should be the first one to disappear when the size gets smaller. after that, the menu should disappear until only the window control

[2018-07-03 07:58] joaomoreno commented on #53475
This is strange, because Code gets that message from `git.exe`. Let me know if you can repro, I'll reopen if you do so.

[2018-07-03 07:58] #53475 closed

[2018-07-03 07:59] joaomoreno commented on #53465
Does this work for you if you set a cursor/selection before switching editors?

[2018-07-03 07:59] xiaocaibird commented on #4758
+1

[2018-07-03 08:00] joaomoreno commented on #53244
I also suggest to never use `order` and simply rely on DOM order. Keeps things easier to maintain.

[2018-07-03 08:03] Ritorna opened #53476 "[TextMate / Typescript / Theme] Detecting Type of exported Class"
When importing a Typescript class, within the project it is defined in, textmate would match the class to `variable.other.object`:
![image](https://user-images.githubusercontent.com/10747768/42205000-83ae1426-7ea3-11e8-9da7-7b3ba636f5b6.png)
Normal class export:
![image](https://user-images.githubusercontent.com/10747768/42204956-65252094-7ea3-11e8-91be-b11ce61937ed.png)

I'd rather have it matche

[2018-07-03 08:06] monkeysuffrage commented on #53292
I think so. It seems to go away for awhile at least if I close out all the
vscode windows and restart.

On Tue, Jul 3, 2018 at 3:52 PM Benjamin Pasero <notifications@github.com>
wrote:

[2018-07-03 08:07] hunhejj commented on #49708
@mjbvz What other info do you need in order to investigate this issue?

[2018-07-03 08:20] samael205 opened #53477 "file tracking by git"
Versión: 1.24.1
Confirmación: 24f62626b222e9a8313213fb64b10d741a326288
Fecha: 2018-06-13T17:51:32.889Z
Shell: 1.7.12
Representador: 58.0.3029.110
Nodo 7.9.0
Arquitectura x64

Steps to Reproduce:

1. Create a json file in .vscode folder
2. Modify it
3. The file if you have a repository git, is tracked by git.
4. Add the json file on .gitignore file
5. Modify de json file
6. The file continues being

[2018-07-03 08:21] sandy081 commented on #53398
@Enteleform You can disable the complete extension but not each contribution from it.

Settings are always inherited from Default settings and are overridden by user settings.

There is no explicit file for commands and context menus. They all come from extension's `package.json` file.

[2018-07-03 08:22] lhynananana opened #53478 "终端python光标位置"
Issue Type: <b>Bug</b>

Ctrl+`进入终端。输入python进入python.exe。输入print。输入()，会发现括号在t前面。

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6400 CPU @ 2.70GHz (4 x 2712)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flas

[2018-07-03 08:23] tomeaton17 commented on #53450
When you try to push/pull from the repository it errors `Permission denied (public key)`.

I can't find the `ssh-agent` version, but it is part of the OpenSSH tools included in Windows. Found at `C:\Windows\System32\OpenSSH\`.

[2018-07-03 08:23] borekb commented on #30807
Related: OS-specific settings https://github.com/Microsoft/vscode/issues/17619

[2018-07-03 08:28] sandy081 commented on #53372
References:

- https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/preferences/browser/preferencesService.ts#L170 for Opening raw default settings

- https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/preferences/browser/preferencesService.ts#L265 for not opening default settings

[2018-07-03 08:33] joaomoreno commented on #53477
Did you `git add` the file at any point?

[2018-07-03 08:33] joaomoreno commented on #53450
Is this an insider version of Windows?

[2018-07-03 08:35] sandy081 commented on #53257
Search & replace does not instantiate any model directly, but uses bulk edit service API from @jrieken.

[2018-07-03 08:42] QzSG commented on #53478
@lhynananana 你使用的是哪个终端， CMD，powershell 还是其他的？

[2018-07-03 08:45] bpasero commented on #53292
@monkeysuffrage can you also reproduce when you create a new file from the file explorer?

[2018-07-03 08:45] dbaeumer opened #53479 "Clicking into menu / title bar area doesn't close custom menu"
- custom menu bar
- open a menu
- click to the right of the Help menu into the title bar

I expect the menu to close

[2018-07-03 08:45] tomeaton17 commented on #53450
No I am using Windows 10 Pro Build 17134. There seems to be some inconsistencies on my system on which OpenSSH version I am using, for example `where ssh-add` points to `C:\Windows\System32\OpenSSH\ssh-add.exe` but `where start-ssh-agent` points to a git repository. This a problem on my end. Sorry for the confusion.

[2018-07-03 08:45] #53450 closed

[2018-07-03 08:47] bpasero commented on #53457
@user3323 to be clear, you are using a workspace file that has a single entry pointing to a folder? Or are you opening a folder and not a workspace?

[2018-07-03 08:49] jrieken commented on #53257
Which uses the TextFileService from @bpasero

[2018-07-03 08:50] bpasero commented on #53458
Thanks for the investigation, so it seems related to using a custom menu on Windows/Linux (I am on macOS). Moving to July, I think this needs fixing.

[2018-07-03 08:55] MeikTranel commented on #53438
Well.. damn. need to check that then 😄

I just reinstall to get this, right?

[2018-07-03 08:58] justin-romano opened #53480 "cannot format cpp files"
Issue Type: <b>Bug</b>

when attempting for format with alt-shift-f i get the error
"There is no document formattor for 'cpp'-files installed."
I have attempted to install clang-format as suggested by MS c++tools
but still get this message. Not sure if there is supposed to be a simple cpp formattor as there seems to be with javascript and typescript
[code]

VS Code version: Code 1.24.1 (24f62626b2

[2018-07-03 08:58] bpasero commented on #53257
Yeah, it is rather the `ITextModelService` which is being used to resolve the model and apply the edits. Maybe somewhere [here](https://github.com/Microsoft/vscode/blob/ecda8b719441832720c43a67b04667813f294b7e/src/vs/workbench/services/bulkEdit/electron-browser/bulkEditService.ts#L213) it should throw an error if the model is readonly (we know that at that point).

[2018-07-03 09:00] #52732 closed

[2018-07-03 09:20] monkeysuffrage commented on #53292
Hi Benjamin,
Sorry I didn't follow that. Can you reword the question please?

On Tue, Jul 3, 2018 at 4:46 PM Benjamin Pasero <notifications@github.com>
wrote:

[2018-07-03 09:24] bpasero commented on #53292
@monkeysuffrage you indicated that you create a file using the integrated terminal and I am wondering if you also see this when you use the file explorer to create a new file:

![grid-tw](https://user-images.githubusercontent.com/900690/42211322-9aecb6f0-7eb3-11e8-972a-2e9e5440b1d3.gif)

[2018-07-03 09:34] user3323 commented on #53457
@bpasero

**MyProject.code-workspace**

[code]

[2018-07-03 09:43] ethancfchen commented on #49660
Any update?

[2018-07-03 09:57] monkeysuffrage commented on #53292
You're wondering if I also have an issue when I create a new file from
vscode? In that case yes, I do.

On Tue, Jul 3, 2018 at 5:25 PM Benjamin Pasero <notifications@github.com>
wrote:

[2018-07-03 09:58] dbaeumer commented on #51139
I retested this and it is still very bad. A nice reproducible test case is as follows:

- clone vscode
- set it up for development (see https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source)
- open VS Code
- open some TS files under src
- open a terminal
- in the terminal run npm run gulp vscode-win32-x64

Although the out folders are listed in the tsconfig.json as e

[2018-07-03 10:03] Rudy24 opened #53481 "git log 之后，不能输入任何操作"
每次git log 之后，都看不见输入的文字了，只能在重新开一个窗口

[2018-07-03 10:05] ethancfchen opened #53482 "Weird behavior when delete a character in Zhuyin"
- VSCode Version: 1.25.0-insider
- OS Version: macOS High Sierra 10.13.5

Steps to Reproduce:

1. Switch Zhuyin IME to 'ABC' mode (by click `caps lock` once)
2. Open new file in VSCode
3. Add `"editor.renderControlCharacters": true` to user settings (to see the invisible character)
4. Type `fff` then delete
5. Switch to 'Zhuyin' mode by click `caps lock`
6. Type `ㄑ` (`f`) then delete (click `delet

[2018-07-03 10:05] joaomoreno opened #53483 "Repeated characters inserted in editor"
Create the following `file.py`:

[code]

Close the file, open the file again, move the cursor to the end of line 2 and type `d`.

![issue](https://user-images.githubusercontent.com/22350/42213559-690bccce-7eb9-11e8-99b9-09c766bf6d19.gif)

[2018-07-03 10:07] bpasero commented on #53292
Can you follow this wiki and post the results back here to understand more about why performance is so bad for you: https://github.com/Microsoft/vscode/wiki/Performance-Issues

Thanks!

[2018-07-03 10:07] alexandrudima commented on #53483
Duplicate of #49480

[2018-07-03 10:07] #53483 closed

[2018-07-03 10:09] dbaeumer commented on #51139
Even closing all TS files when this happens doesn't help to cool down the tsserver. I tested it with typescript@next.

[2018-07-03 10:14] user3323 commented on #53457
@bpasero

take a look ...

![workspaces bug](https://user-images.githubusercontent.com/24613274/42213894-af766ac6-7ec2-11e8-8163-f7e9b046bd7c.gif)

so, it turns out, that **_one workspace can contain 2 (or more) different workspaces, if the path to a workspace will differ_**

[2018-07-03 10:24] jtsom opened #53484 "Extensions do not update"
Issue Type: <b>Bug</b>

Launch VS Code. New Extensions will begin to auto-update. The tag next to the extension will say "Installing". Then it will change to "Update to <version>".

I'm seeing it currently with VS Live Share. It's trying to update to 0.3.379 and will not. If I restart VS Code it will show as updated. This has happened with other extensions.

VS Code version: Code - Insiders 1.25.0

[2018-07-03 10:31] isidorn commented on #53464
`explorer.autoReveal: false`
should customize that behavior, let me know if that does not fix the issue and I can reopen. Thanks

[2018-07-03 10:31] #53464 closed

[2018-07-03 10:35] joaomoreno commented on #53438
The latest insider should already have the fix: https://az764295.vo.msecnd.net/insider/fb0b8f12036bfb69a47a1b3354126794a093e749/VSCodeSetup-x64-1.25.0-insider.exe

[2018-07-03 10:37] isidorn commented on #53459
This is happening because `this.partService.getTitleBarOffset()` is returning `22px`
Which is wrong in this case, it should be `30px`
It seems like the partService [here](https://github.com/Microsoft/vscode/blob/9ab41a4464e62739fa8850d2aa312de2f72eb20d/src/vs/workbench/electron-browser/workbench.ts#L1208) should be aware if windows and custom menu is turned on
Forwarding to @bpasero and @sbatten

[2018-07-03 10:59] alexandrudima commented on #53344
Yes, it is possible to drive a context key from an extension. From an extension, you can invoke the command `setContext` to define a custom context key.

Here is a working example which wraps that command in a class:
https://github.com/Microsoft/vscode-extension-samples/blob/f06607de44240b400ac275822babc707fa935911/vim-sample/src/extension.ts#L238-L253

[2018-07-03 11:00] #52229 closed

[2018-07-03 11:01] ivankravets commented on #53156
Could you explain in details here? What do you mean by "shown"? We have different views for debugging, see the main screenshot here https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide

"Memory" or "Disassembly" views are collapsed. Should VSCode, in this case, call `getChildren` even if a user has not asked?

[2018-07-03 11:17] AccessibilityTestingTeam-TCS opened #53485 "Move editor group into next/previous group(Ctrl+Alt+ Left/Right arrow) commands are not working"
Environment Details:
VSCode Version : 1.24.1

Additional Details:
MAS Violated: MAS2.1.1

Repro Steps:
1)Launch VS Code.
2)Open Keyboard Shortcuts.

Actual:
Move editor group into next/previous group(Ctrl+Alt+ Left/Right arrow) commands are not working. After using this command, screen starts rotating.

Expected:
Both the commands should work.

Recommendations:
Refer below link which is repository

[2018-07-03 11:20] beastdestroyer commented on #53484
I had this issue, the solution provided by one of the devs is to:
1. Go into the extensions folder and find the folder that belongs to the bugged extension (usually in format of ```extensionAuthor.extensionName``` )
2. Delete the contents and the folder itself
3. Restart VSCode
4. Reinstall extension from VSIX or marketplace

It should install without any problem and with the latest version.
Hope

[2018-07-03 11:24] alexandrudima commented on #53406
AFAIK the easiest way to share code at this time btw VS Code core (not monaco editor) and an extension would be a node module that is authored with commonjs.

[2018-07-03 11:27] AccessibilityTestingTeam-TCS opened #53486 "[Accessibility]A11y_VSCode_KeyboardShortcuts_Keyboard: Refactor(Ctrl+Shift+R) shortcut command is not working."
Environment Details:
VSCode Version : 1.24.1

Additional Details:
MAS Violated: MAS2.1.1

Repro Steps:
1)Launch VS Code.
2)Open Keyboard Shortcuts.

Actual:
Refactor(Ctrl+Shift+R) shortcut command is not working.

Expected:
After using Ctrl+Shift+R command, refactor function should work.

Recommendations:
Refer below link which is repository of bug fixes code snippets:
https://microsoft.sharepoint

[2018-07-03 11:36] wistcc commented on #53464
Yes, that fixes it. Thanks!

[2018-07-03 11:48] alexandrudima commented on #53152
As this might be the cause of #52950, we should investigate for june

[2018-07-03 12:08] tudor33sud commented on #53323
I have the same problem on a nodeJS project... Intellisense / Go To Definition are stuck. I'm not even using Typescript, just pure NodeJS and it happens to two of my projects with all the extensions uninstalled.

Is there any way to check intellisense logs so I could report the issue? I cannot share all the project code...

[2018-07-03 12:38] kongchenglc commented on #53436
my English is so poor , so i use gif to speak.
![vscode](https://user-images.githubusercontent.com/20537203/42220222-eda20844-7f00-11e8-9882-dec66065c90d.gif)

[2018-07-03 12:47] alexrussell commented on #53253
@Tyriar sorry, but am I right in thinking this is closed because is it believed that this behaviour is caused because anything action added to the macOS menu bar that has a keyboard shortcut 'supplied' with the menu item itself automatically has that shortcut bound always (regardless of `when` in the keyboard shortcut config) - because Code's (or Electron's?) own shortcut handling is not handling

[2018-07-03 13:00] #52575 closed

[2018-07-03 13:11] deepak-ranolia opened #53488 "After update, "ng serve" service terminal not reloading/refreshing after saving the typescript file"
Issue Type: <b>Bug</b>

Hi,
I was using visual studio version 1.24.1 earlier
And one day i updated it to version 1.24.1 and on the same day when i was working, the pc crashed....So i have to restart the pc
After restart, when i opened VISUAL STUDIO CODE(Version:1.24.1) : -
1. The auto format for the code automatically enabled(or may be it was in the software update). My whole code formatted to a f

[2018-07-03 13:15] sandy081 commented on #52803
@bpasero I could reproduce the issue with the outline view `...` menu on windows. As user mentioned, it only happens when the context menu is shown above `...`. When it is has to be shown below `...` it is good.

[2018-07-03 13:17] bpasero commented on #53457
Thanks, the video is helpful to understand what is going on. All UI state is associated with the path of the workspace file on disk. If the file is moved, the UI state will be dropped assuming this is a different workspace. We do this intentionally to support the case of e.g. making a copy of the workspace and opening both in separate windows.

A workspace can have 0-N folders (with N 1 to many).

[2018-07-03 13:20] jalovatt commented on #53460
Using Lua. Running _vscode_lua_ and _color_highlight_.

- Add a snippet with a dot in the prefix. Example:
[code]

- Set _editor.quickSuggestionsDelay_ to a higher value to make the issue easier to see. 200ms makes it fairly obvious to me, but 500ms would really show it off.

- Type everything in the prefix up to, but not including, the dot. The suggestion list should appear fully populated, inclu

[2018-07-03 13:22] bpasero commented on #52803
I can reproduce, it looks like one entry is automatically selected if the menu opens to the top. This will improve when @sbatten custom menu lands as default.

[2018-07-03 13:22] joo commented on #29403
Really needed! From intellij idea to vscode, need to format all file to vscode formater's code style.

[2018-07-03 13:24] jrieken commented on #53460
/duplicate of #37166

[2018-07-03 13:32] ivandjordjevic commented on #29403
You can set format on each save by adding additional properties in User Settings for VSCode. It doesn't format all files but at least format document is automatically applied each time you save a file you're working on:

[code]

[2018-07-03 13:34] jalovatt commented on #37166
Just because I don't see it mentioned anywhere here and it may be of some help in isolating the problem...

In #53460 I found that this issue is linked to the _editor.quickSuggestionsDelay_ setting. With a snippet triggered by typing ```foo.bar```, typing ```foo.``` before the timer runs out will cause issues populating the list. Typing ```foo``` and pausing long enough for the timer to finish bef

[2018-07-03 13:36] joaomoreno commented on #53426
@sandy081 I still don't see a `Reload` action. Also, when I run `Show Outdated Extensions` and then back to `Show Installed Extensions`, the extension appears disabled:

![image](https://user-images.githubusercontent.com/22350/42222929-cdede7f4-7ed6-11e8-93a4-24342cf4c278.png)

[2018-07-03 13:38] joaomoreno opened #53489 "Recommended and Disabled extension views always come back"
1. Hide both the `Recommended` and `Disabled` views
2. Run `Show Recommended Extensions`
3. Quit
4. Launch Code again
5. Open Extensions viewlet

`Recommended` and `Disabled` views are back!

[2018-07-03 13:47] sandy081 commented on #53130
Thanks @danyeh for the update.

- `zh-cn`: This needed fix from our side
![image](https://user-images.githubusercontent.com/10746682/42223168-6752f4a2-7ed7-11e8-9d71-7da3459a0f05.png)

- `fr`
![image](https://user-images.githubusercontent.com/10746682/42222274-f5a837a6-7ed4-11e8-948d-2f1ec6dc1421.png)

- `it`
![image](https://user-images.githubusercontent.com/10746682/42222297-08653434-7ed5-11e8-8

[2018-07-03 13:48] alexandrudima commented on #53152
Possible steps to reproduce. (There might be other steps):
* have side by side a `.js` file and the user `settings.json`
* in the user `settings.json` write `"editor.hover.enabled": false`
* **reload workbench**
* in the `.js` file begin debugging
* in the `.js` file stop debugging
* comment out the setting in the settings side editor

[code]

[2018-07-03 13:53] #53152 closed

[2018-07-03 14:04] alinnert commented on #53073
May I add my thoughts to this discussion?

While it's true that menus use a bottom-right shadow, to me they also look like a relic of Windows' older days (and I don't really like them). The shadow of application windows on the other hand seem to be exactly centered, like `0 0 20px(?)` (but it's hard to tell if they really are; maybe there's a tiny vertical offset). And I think macOS uses shadows t

[2018-07-03 14:15] sandy081 commented on #53426
@joaomoreno Good catch.

[2018-07-03 14:15] screaney commented on #53439
Just to throw in my 2 cents, this also happens with my project.  Usually when it happens, I end up with about 400 3rd party .ts files open.

[2018-07-03 14:16] alexandrudima commented on #53253
I believe we had a terminal top level menu for a brief time this month in the insiders channel. It has been removed in the meantime, perhaps you hit the issue at the exact time the top level menu was there ?

[2018-07-03 14:21] #53426 closed

[2018-07-03 14:25] sandy081 commented on #53275
@ramya-rao-a This broke the recommendation prompts as the change is using the mapped locale id for getting minimal translations.

As @dbaeumer mentioned, we should use `zh-hans` or `zh-hant` only for extension names and locales should be always `zh-cn` and `zh-tw`. Pushed a fix for this here -3962b545e89b373168ba5d7ff08b7e340879ef4b

[2018-07-03 14:32] mohouyizme commented on #16363
@fl3x1324 Good news! but I think it's not enough since the menu bar colors should be customizable within the themes.

[2018-07-03 14:34] bpasero commented on #53485
Marking as "upstream" because this seems to be a keybinding the monitor takes for rotating. I do not think we can change anything about that.

[2018-07-03 14:38] isidorn commented on #51077
All those items in the welcome screen are links, so I do not understand what is unexpected in the fact that they are read as "clickable" or "link" on mac.
I just tried chrome and web browsers behave the same - so I think this is expected behavior.

So I am not sure there is a way to fix this, unless we stop using html links in the welcome screen and wrap them around with actions.

[2018-07-03 14:40] isidorn commented on #51752
@RMacfarlane that sounds to me like they are accessible via keyboard. Not sure what is the problem here, not everything should be possible to tab into.
You can say the same for our main window.

[2018-07-03 14:40] ricobautsch opened #53490 "Wrong cursor position in a tsv (tab separated values) file"
Issue Type: <b>Bug</b>

I have a file with tab separated values.
The cursor for editing is not placed correctly in the document, especially if i want to edit columns nearly the end of the document.
Following i paste the content of my file - for example try to edit the char "u" near the end of the document.
My file contains the following content (a single line with tab separated values):

12	b	06	T

[2018-07-03 14:43] isidorn commented on #51760
This should be done for all viewlets, not just extensions.
@JacksonKearl @ramya-rao-a do you plan to look into this or should I forward to someone else?
In case you do I guess this should be done somewhere in the `CompositePart` https://github.com/Microsoft/vscode/blob/9ab41a4464e62739fa8850d2aa312de2f72eb20d/src/vs/workbench/browser/parts/compositePart.ts#L409

[2018-07-03 14:44] isidorn commented on #51823
I feel like this is low hanging fruit -> assigning to July and also adding @misolori

[2018-07-03 14:53] roblourens commented on #53458
I'm also on MacOS

[2018-07-03 14:54] isidorn commented on #51824
This works fine on mac with VoiceOver, but not on windows.
Not sure if this is low hanging fruit, leaving to @chrmarti and @bpasero to decide

[2018-07-03 14:54] isidorn commented on #51825
Dup of https://github.com/Microsoft/vscode/issues/51824

[2018-07-03 14:54] #51825 closed

[2018-07-03 14:55] isidorn commented on #51827
Dup of https://github.com/Microsoft/vscode/issues/51824

[2018-07-03 14:55] #51827 closed

[2018-07-03 14:55] isidorn commented on #51828
Dup of https://github.com/Microsoft/vscode/issues/51824

[2018-07-03 14:55] #51828 closed

[2018-07-03 14:57] wittawat456 opened #53491 "Tuxedo"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.

[2018-07-03 15:00] isidorn commented on #52179
Dup of https://github.com/Microsoft/vscode/issues/51824
Also we do not suport jaws

[2018-07-03 15:00] #52179 closed

[2018-07-03 15:00] isidorn commented on #52327
Dup of https://github.com/Microsoft/vscode/issues/51824

[2018-07-03 15:00] #52327 closed

[2018-07-03 15:01] isidorn commented on #51832
Dup of https://github.com/Microsoft/vscode/issues/51824

[2018-07-03 15:01] #51832 closed

[2018-07-03 15:01] andy-ms commented on #53468
`supercaliFragilisticExpialidocious` doesn't contain `fragile` as a substring though, only `fragil` -- so it must be skipping to the `E`. There's no autocorrect if I use `Oxpialidocious` instead.

[2018-07-03 15:02] kurtnovack commented on #53491
Was not expecting to see that as a profile photo today.

[2018-07-03 15:03] isidorn commented on #51831
This feels like law hanguing fruit. Assigning to July and also to @chrmarti to give code pointer to @misolori

[2018-07-03 15:05] isidorn commented on #52604
Dup of https://github.com/Microsoft/vscode/issues/51831

[2018-07-03 15:05] #52604 closed

[2018-07-03 15:07] isidorn commented on #52602
Dup of https://github.com/Microsoft/vscode/issues/52593

[2018-07-03 15:07] #52602 closed

[2018-07-03 15:07] isidorn commented on #53143
Dup of https://github.com/Microsoft/vscode/issues/52593

[2018-07-03 15:07] #53143 closed

[2018-07-03 15:10] isidorn commented on #52593
@misolori assigning to you also.
Here's a code pointer https://github.com/Microsoft/vscode/blob/9ab41a4464e62739fa8850d2aa312de2f72eb20d/src/vs/base/browser/ui/inputbox/inputBox.ts#L205

[2018-07-03 15:11] alexrussell commented on #53253
A-ha, yes, that must be it. For certain in the latest Insiders build, the behaviour no longer happens (and, indeed, the `editor.action.addSelectionToNextFindMatch` action *does* appear to happen when focussed on the Explorer).

Interestingly, despite `editor.action.addSelectionToNextFindMatch` being tied to `cmd+d` in the menubar, when I'm focussed on the terminal, it correctly *only* splits the t

[2018-07-03 15:15] isidorn commented on #51841
@sbatten this should be fixed with the new custom menu, correct? Assinging to july for discussion

[2018-07-03 15:18] isidorn commented on #51848
Duplicate of https://github.com/Microsoft/vscode/issues/51077

[2018-07-03 15:18] #51848 closed

[2018-07-03 15:20] schellem opened #53492 "Allow for horizontal scrolling a page at a time"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.17134
- Extensions:

Extension|Author (truncated)|Version
---|---|---
csharp|ms-|1.13.1
PowerShell|ms-|1.5.1
vetur|oct|0.11.3

When clicking in the horizontal scroll bar area the page jumps to a relative location. This makes it hard to be sure you are reading the ent

[2018-07-03 15:21] isidorn commented on #51839
Dup of https://github.com/Microsoft/vscode/issues/51850

[2018-07-03 15:21] #51839 closed

[2018-07-03 15:21] isidorn commented on #51850
This issue has a lot of duplicates, let's assign it to july to discuss what is needed for this
ping @bpasero

[2018-07-03 15:22] isidorn commented on #51903
We do not support jaws

[2018-07-03 15:22] #51903 closed

[2018-07-03 15:23] isidorn commented on #52441
We do not support jaws

[2018-07-03 15:23] #52441 closed

[2018-07-03 15:23] isidorn commented on #52286
We do not support jaws

[2018-07-03 15:23] #52286 closed

[2018-07-03 15:24] jrieken commented on #53468
I don't call that correction but matching. The logic is that every character of the search string must appear (in order) in the word and that the first match must be strong (those are matches on upper-case letters or after separators like - and _)

[2018-07-03 15:24] isidorn commented on #52269
We do not support jaws

[2018-07-03 15:24] #52269 closed

[2018-07-03 15:24] isidorn commented on #52190
We do not support jaws

[2018-07-03 15:24] #52190 closed

[2018-07-03 15:26] isidorn commented on #52185
We do not support jaws

[2018-07-03 15:26] #52185 closed

[2018-07-03 15:26] #53491 closed

[2018-07-03 15:26] isidorn commented on #51972
We do not support jaws

[2018-07-03 15:26] #51972 closed

[2018-07-03 15:27] user3323 commented on #53457
@bpasero  omg, as-designed.

What about this?

![image](https://user-images.githubusercontent.com/24613274/42229102-55b08360-7eee-11e8-85a8-6572d42c5b47.png)

I've recorded GIF to show you the problem, then I've closed all tabs, closed QQQ workspace, deleted it.
Opened my old workspace.
Closed VS Code.
Opened VS Code - and I've got my workspace, with ...... FOUR separate windows with Untitled file

[2018-07-03 15:31] isidorn commented on #51899
Can not repro this issue.
Video is unrelated to this issue, it is a duplicate of https://github.com/Microsoft/vscode/issues/51850

[2018-07-03 15:31] #51899 closed

[2018-07-03 15:31] isidorn commented on #51873
Dup of https://github.com/Microsoft/vscode/issues/51850

[2018-07-03 15:31] #51873 closed

[2018-07-03 15:33] isidorn commented on #51955
@sbatten This should be fixed with the new menu bar on windows, correct?
If yes please close this

[2018-07-03 15:38] isidorn commented on #51978
I feel like this is an easy aria label change, assigning to July

[2018-07-03 15:39] jrieken commented on #53457
🍿

[2018-07-03 15:39] isidorn commented on #52553
Dup of https://github.com/Microsoft/vscode/issues/52554

[2018-07-03 15:39] #52553 closed

[2018-07-03 15:40] roblourens commented on #53406
@jrieken so you copy changes from our uri.ts to vscode-uri every time you make a change? That's what I was trying to avoid but these files don't change that much so maybe I just leave them forked in the same way for now.

@alexandrudima I think we wouldn't be able to load commonjs modules since we use amd.

[2018-07-03 15:44] schellem commented on #53492
This is not a duplicate of Issue #51535

[2018-07-03 15:58] sandy081 commented on #53484
Duplicate of #53426

[2018-07-03 15:58] #53484 closed

[2018-07-03 16:02] sandy081 commented on #53156
There should not be a call to `getChildren` when the view is collapsed and user has not asked for.

[2018-07-03 16:04] ivankravets commented on #53156
It seems that a bug. It calls `getChildren` every time. Could you reproduce it?

[2018-07-03 16:07] isidorn commented on #51992
I can not reproduce this with latest vscode insiders and latest NVDA.
@AccessibilityTestingTeam-TCS can you reproduce using latest vscode insiders and latest nvda?

in the video you are tabing between these two elements if that is part of the issue please write it in steps. Thanks

[2018-07-03 16:10] isidorn commented on #51999
IMHO this is desired behavior, since the first read is the hover, and the second read is only once you click. Are you sure this is unexpected? Since we have this behavior for all our buttons and none of the users complained

[2018-07-03 16:19] isidorn commented on #52020
This is fixed in latest vscode insiders and latest nvda, all suggestions are read out properly

[2018-07-03 16:19] #52020 closed

[2018-07-03 16:22] #52030 closed

[2018-07-03 16:22] isidorn commented on #52030
https://github.com/Microsoft/vscode/issues/51999

[2018-07-03 16:24] isidorn commented on #52207
Dup of https://github.com/Microsoft/vscode/issues/52036

[2018-07-03 16:24] #52207 closed

[2018-07-03 16:26] isidorn commented on #52443
Dup of https://github.com/Microsoft/vscode/issues/51760

[2018-07-03 16:26] #52443 closed

[2018-07-03 16:28] isidorn commented on #52451
Dup of https://github.com/Microsoft/vscode/issues/51760

[2018-07-03 16:28] #52451 closed

[2018-07-03 16:30] isidorn commented on #52398
Dup of https://github.com/Microsoft/vscode/issues/51760

[2018-07-03 16:30] #52398 closed

[2018-07-03 16:30] isidorn commented on #52291
Dup of https://github.com/Microsoft/vscode/issues/51760

[2018-07-03 16:30] #52291 closed

[2018-07-03 16:31] isidorn commented on #52277
Dup of https://github.com/Microsoft/vscode/issues/51760

[2018-07-03 16:31] #52277 closed

[2018-07-03 16:31] isidorn commented on #52276
Dup of https://github.com/Microsoft/vscode/issues/51760

[2018-07-03 16:31] #52276 closed

[2018-07-03 16:31] isidorn commented on #52010
Dup of https://github.com/Microsoft/vscode/issues/51760

[2018-07-03 16:31] #52010 closed

[2018-07-03 16:34] JacksonKearl commented on #51760
I will look into this. Changing the title to be a heading rather than span doesn't seem to do anything. Will investigate further.

[2018-07-03 16:35] isidorn commented on #51760
@JacksonKearl thanks for looking into this.

[2018-07-03 17:12] wsmelton opened #53493 "Update Extension does not show reload anymore [Insiders build]"
Issue Type: <b>Bug</b>

1. You get the notification in the Extensions panel that you have an update for an extension (e.g. shows "update to x.x.x").
2. Click the Update button for that extension.
3. Button changes to installing.
4. Button changes to "update to x.x.x" showing the same version.
5. Reload window
6. Check extension and it was updated to the "x.x.x" version.

The previous behavior show

[2018-07-03 17:32] rwatts3 opened #53495 "Editor Automatically Replacing Special Characters."
- VSCode Version: Insiders 1.25
- OS Version: Win 7

Steps to Reproduce:

1. Special Characters such as ' or html characters within the editor
2. Notice changes when diffing files for svn or git even if the file was not physically altered.

Does this issue occur when all extensions are disabled?: Yes

[2018-07-03 17:34] rwatts3 commented on #53495
This appears to be happening from the core editor somewhere around the sprint leading to 1.25.
I held off on submitting the issue thinking it would be resolved. However there are several projects where a line was changed without my input.

This is certainly a problem as it's not ideal to commit line changes that i'm not intending to implement. And I am therefore having to go back and check every p

[2018-07-03 17:34] SetTrend opened #53496 "Add options for positioning tool tips"
I feel that tool tips in VS Code are hiding important information.

I rather find myself hitting &lt;ESC&gt; than actually reading a tool tip because the tool tip is constantly hiding information from a previous line which I need to refer to in order to complete my current line of code:
<br/>

![vs code tooltip](https://user-images.githubusercontent.com/9283914/42234673-92a58a34-7ef5-11e8-8748-e4f

[2018-07-03 17:43] V-ed commented on #3526
This feature has been added by the PR #48023 and will be available in the `1.25` release of VSCode ([proof](https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_25.md#sub-word-support)).

@alexandrudima, This is one of the few duplicates for this feature request that has no recent movement. Shouldn't it be closed as duplicate of the oldest duplicate I can find, a.k.a. #541?

[2018-07-03 17:46] V-ed commented on #541
This feature has been added by the PR #48023 and will be available in the `1.25` release of VSCode ([proof](https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_25.md#sub-word-support)).

@alexandrudima seems to be using the issue #46203 as the source of this addition, just to point it out because there is recent activity here, which seems to not know this has been added (_and is e

[2018-07-03 17:56] ddobson commented on #53247
I'm also having this issue. Neither restarting nor disabling all extensions seems to fix it. I'm currently running 1.24.1 with a brand new project.

<img width="1262" alt="screenshot 2018-07-03 10 51 18" src="https://user-images.githubusercontent.com/7988792/42236369-8d6203ae-7eaf-11e8-83de-e5ece7e7e338.png">

[2018-07-03 18:00] aaroncraig10e commented on #50448
This is a prime example of a developer deciding for the community what best practice is, and it's horribly arrogant and frustrating.

VSCode should not dictate any given workflow.  It should support my workflow, because as an intelligent engineer, I know the best workflow for my use case.

Refusing to add what must be a trivial feature simply because you as the maintainer of the project wouldn't u

[2018-07-03 18:09] V-ed opened #53497 "Subword navigation : Confusing keybinding name"
Issue type : Modification Request

After the PR #48023 has been merged, a feature I really like has been added to VSCode and is currently in Insiders. Thing is, there is two commands that confused me when I first read them :

![vscode cursorWordPartStartLeft](https://user-images.githubusercontent.com/16652915/42236216-455932b2-7ec8-11e8-93ce-83f09909c746.png)

`cursorWordPartStartLeft` and `cursor

[2018-07-03 18:11] mjbvz commented on #53323
@tudor33sud Did you test in insiders? Please open a new issue

[2018-07-03 18:13] mjbvz commented on #53486
Where were you trying to trigger refactoring? This command only works in languages that support refactorings, such as javascript and typescript

[2018-07-03 18:16] nealot commented on #2766
Option 4 really seems like it could be useful. Almost 90% of the time I'm reading markdown and not writing it so it would be nice to enable preview without source. I always end up having to close the source tab because it gets really crowded. I'd like to just go through different markdown files and only have the preview open in a split layout.

[2018-07-03 18:22] V-ed opened #53498 "Subword navigation : Apply introduced feature to whole UI"
Issue type : Feature Request

After the PR #48023 has been merged, a feature I really like has been added to VSCode and is currently in ~Insiders~ `1.26`. This change is working well so far in the editors, but I would want to be more extended through the whole vscode UI.

By "_through the whole UI_", I mean Search boxes, Command Palette, **file/folder renaming**, even the terminal (_stretched requ

[2018-07-03 18:23] sean-mcmanus commented on #53368
@bpasero I have closeOnFileDelete set to true for VS Code Insiders and non-Insiders -- it's the default. The bug repros with no settings modifications at all (just defaults).

[2018-07-03 18:24] andy-ms commented on #52089
Fixed by #25364.

[2018-07-03 18:25] Tyriar commented on #53235
@JonKohler nice, and thanks for taking the time to report an issue :smiley:

[2018-07-03 18:28] adenta commented on #4873
Any updates? Would love this ability.

[2018-07-03 18:28] Tyriar commented on #53473
You're on v1.7 from October 2016, you should update to the latest before reporting an issue.

[2018-07-03 18:29] #53473 closed

[2018-07-03 18:30] hagabaka opened #53499 "Improve custom emmet snippets editing experience"
There is an existing feature to edit Emmet snippets, accessible from the File - Preferences - User Snippets menu item. However there seems to be no way to add Emmet *abbreviations*. Emmet allows adding custom abbreviations through a ["snippets.json" file](https://docs.emmet.io/abbreviations/types/), but the file-type specific and global snippets file in VSCode don't follow the same structure as do

[2018-07-03 18:31] Tyriar commented on #53478
This is likely related to winpty, tracking in https://github.com/Microsoft/vscode/issues/45693

[2018-07-03 18:31] #53478 closed

[2018-07-03 18:31] Tyriar commented on #53480
https://github.com/Microsoft/vscode-cpptools

[2018-07-03 18:31] #53480 closed

[2018-07-03 18:32] mjbvz commented on #53474
Duplicate of #51266

See that issue for root cause and workaround

[2018-07-03 18:32] #53474 closed

[2018-07-03 18:34] mjbvz commented on #53466
This is after applying the "update imports" action, correct? Do you see this if you upgrade the workspace to TypeScript@next?

[2018-07-03 18:35] mjbvz commented on #52089
Thanks @andy-ms!

[2018-07-03 18:35] #52089 closed

[2018-07-03 18:38] Tyriar commented on #53488
These are all because of extensions, try disabling some. prettier and beautify are prime candidates.

I don't understand what you mean here, why would the terminal "reload" when you save a file?

This is a new feature, see https://code.visualstudio.com/updates/v1_24#_highlight-unused-variables-and-imports for how to disable.

[2018-07-03 18:41] MeikTranel commented on #53438
Used your installer, still didnt work? Where is the Entry for Open With Code Insiders supposed to be in registry`?

[2018-07-03 18:41] sbatten commented on #51955
@isidorn I don't think the new menus quite meet the criteria yet. While they are more obvious than before, I think at a minimum, the HC theme should have a bright orange border, which it does not currently

[2018-07-03 18:41] Tyriar commented on #53253
@alexrussell yes it must have happened when the Terminal menu was in (it's coming back soon https://github.com/Microsoft/vscode/issues/53158)

`terminal.integrated.commandsToSkipShell` only drives which commands/keybindings should *not* go to the process inside the terminal and instead be evaluated by VS Code's keybinding system.

[2018-07-03 18:42] #53158 closed

[2018-07-03 18:51] mfour-merickson commented on #53384
@roblourens Thanks for the suggestion, it seems to be working at the moment with this change.  I will continue to monitor, hopefully this is the permanent solution

[2018-07-03 18:53] sheetalkamat commented on #51139
Looking at the log it seems like you have multiple projects open based on files open. Also noticed that most of the directory watcher callback were for the inferred project but none of them schedule project update (ignoring the file/directory that its invoked on) The compiler options for that inferred project would be:
[code]
And current directory for that project would be projectRoot from open re

[2018-07-03 18:56] sbatten commented on #53073
I agree with @alinnert here. Modern applications in windows tend to use either no shadow or one with no horizontal offset. If you look at a UWP, they don't really use any shadows, which works for them because of border, so then take a look at Office which seems to use a very subtle border with a slight vertical offset only.

[2018-07-03 19:06] deepak-ranolia commented on #53488
### I don't understand what you mean here, why would the terminal "reload" when you save a file?
 @Tyriar : In visual studio code [ terminal window ] I have an angular application in development mode. So whenever i start coding the application i run command "ng serve" from terminal so that i can see the application in browser[http://localhost:4200]...So if i will save the file after some changes i

[2018-07-03 19:08] Cryonis commented on #50303
Is there any update to this feature? It would be immensely helpful for when you're dealing with a lot of scrap code.

[2018-07-03 19:10] bgraeb commented on #51576
@bpasero Hey! Do you have an update on this?

[2018-07-03 19:14] sean-mcmanus commented on #31046
@johanforssell If one of the Go to Definition targets is invalid, I believe you should create a new bug...otherwise, I think it's "by design". This issue is just about the fact that it auto-moves the context to one of the definitions.

[2018-07-03 19:16] amcasey commented on #53466
Yes, after updating imports.

As far as I can tell, I was running 7084e6cf473e401a1291cd637e91e9caf0b94707.

[2018-07-03 19:30] geoffrey-vl opened #53500 "Icons are missing in the SCM view"
Issue Type: <b>Bug</b>

The source control panel is not showing the "open file", "discar changes", "stage" icons at the right side of changes files (git).

Also Visual Studio Icons extension not rendering icons, while the Great Icons extension does.

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:47:35.732Z)
OS version: Linux x64 4.4.0-130-generic

<details>

[2018-07-03 19:34] DieLaughing opened #53501 "Markdown preview doesn't show headers"
When I open a regular markdown file using hashtags to set the heading level, it simply doesn't change anything in the preview and just displays the hashtags without marking anything up or down
UNLESS I ADD A SPACE.

I don't know if I'm losing my mind, or just got really old when nobody was looking, but I could have SWORE that

##Header##

was a legit header in Markdown. But apparently, the rules c

[2018-07-03 19:41] bradkemper commented on #25887
I was very surprised that this did not already exist in VS Code. BBEdit isn't perfect, but it does have that.

[2018-07-03 19:41] MikhailArkhipov commented on #35551
Language server protocol needs to be updated as well. Currently it does not seem to copy the field over from external LS to the TS side of things.

[2018-07-03 19:43] mattacosta commented on #44685
In my case new insider builds come out super early in the morning and are promptly detected. Sometimes a second insiders build will then be released an hour or two later though, so when I finally get back to the editor I have to update multiple times. This would be a great quality-of-life improvement.

[2018-07-03 19:53] unional opened #53502 "Inconsistent completion for re-export"
- VSCode Version: 1.24.1
- OS Version: Windows Server 2016

Steps to Reproduce:

[code]

It would be great if autocomplete also allows (and prefers) importing from './b'

[2018-07-03 20:00] #52847 closed

[2018-07-03 20:00] #52860 closed

[2018-07-03 20:09] soulshined opened #53504 "Split Editor's [Contextual Menu Options]"
This might be circumstantial to me, but I just find splitting windows is not as intuitive as other editors I've used.

I personally think the best and easiest fix would just add 2 contextual menu options (split horizontally, split vertically).

When splitting, the split button (next to the more button) is great, but it keeps the same file on each pane it's in, which I understand is a need, but I w

[2018-07-03 20:38] sbatten commented on #53293
@muyu66 I am unable to repro this issue with a standard underscore character. Would you mind copying and pasting the problem path into the issue? It appears a bit lower than the standard underscore.

[2018-07-03 20:40] sbatten commented on #53244
@bpasero @joaomoreno There is also the case of full screen mode with the menubar set to visible. In this case the titlebar part is no longer present, but the menubar should be.

[2018-07-03 20:51] Tyriar commented on #53488
@deepak-ranolia that's 100% a problem with the application you're running within the terminal, file watching and reacting to it is up to `ng serve` to do and act upon.

[2018-07-03 20:51] #53488 closed

[2018-07-03 21:05] sbatten commented on #52933
I think what native does is actually move keyboard focus to the mouse location. There is no difference between the two. Removing the keyboard focus would violate #52385

[2018-07-03 21:06] sbatten commented on #52933
Also @octref, This is pretty much what happens today already. It looks weird when using a mouse, but not in Edge, because they violate #52385

[2018-07-03 21:08] danyeh commented on #53130
Remaining language pack loc completed and published in Marketplace - de, es, ru, zh-tw.

[2018-07-03 21:09] fatherjack opened #53506 "auto region folding for DSC Configuration"
Issue Type: <b>Feature Request</b>

currently VSCode does not offer to fold lines within a DSC Configuration such as

    Configuration ConfigName {
        param()

        xVHD {
        ...
        }
    }

should fold to

    Configuration ConfigName {...}

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.16299

[2018-07-03 21:13] coolreader18 opened #53507 "Allow a dash after @param in jsdoc comments?"
This is associated with #53365.

[Here are some screenshots of the problem](https://imgur.com/a/OoxdKqx). The WIP tsdoc spec [allows a hyphen](https://github.com/Microsoft/tsdoc/issues/1) after the param name, and I believe jsdoc does as well. This would cause a double dash if the description was a single line (— -), and a bullet point if it were multiple lines because of markdown. I started a pul

[2018-07-03 21:15] sbatten commented on #53427
@liuliangsir Since the setting is working as intended, I will close this issue `as-designed`. If you find that the menubar visibility setting changes again without you doing so, please open a separate issue. thanks

[2018-07-03 21:15] #53427 closed

[2018-07-03 21:29] JacksonKearl commented on #52395
\duplicate #51968

[2018-07-03 21:30] JacksonKearl commented on #52395
/duplicate #51968

[2018-07-03 21:31] #52395 closed

[2018-07-03 21:33] JacksonKearl commented on #51968
/duplicate #51496

[2018-07-03 21:33] #51968 closed

[2018-07-03 21:33] JacksonKearl commented on #52001
/duplicate #51496

[2018-07-03 21:33] #52001 closed

[2018-07-03 21:39] mjbvz commented on #53501
CommonMark requires a space after the `#` for headers. Our built-in preview targets commonmark markdown but this can be extended by extensions

[2018-07-03 21:39] #53501 closed

[2018-07-03 21:40] mjbvz commented on #53502
Please try upgrading your workspace to use `typescript@next` by following [these instructions](https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions). Do you still see this issue when using `typescript@next`?

[2018-07-03 21:40] owlcode commented on #5048
I'm pretty sure that active tab should be inside "files to include" by default when searching / replacing. Although I have found pretty good workaround - click twice on "regular expression", all files will be included. If your phrase is unique enough, it's not that hard to find current file. Worked for me.

[2018-07-03 21:41] JacksonKearl commented on #53185
@roblourens Attempting to do `Ctrl+down` on settings (old and new) and keybindings in Insiders and not seeing anything happen. Just `down` works, but that conflicts with the normal use of `down` to reach the end of the input field. In Search however, `Ctrl-down` works and `down` takes you through history. Are we still in the process of moving to `Ctrl-down` everywhere or are we doing something els

[2018-07-03 21:43] misolori commented on #53140
This also happens on dark/light themes in the various states (hover/selected)

![image](https://user-images.githubusercontent.com/35271042/42245867-4659bd4c-7ecf-11e8-98f7-866ee5af719a.png)

[2018-07-03 21:52] sbatten commented on #53224
same issue as #52533

[2018-07-03 21:52] #53224 closed

[2018-07-03 21:53] mjbvz commented on #53476
This requires semantic highlighting #585

Closing as out of scope for textmate grammars.

[2018-07-03 21:53] #53476 closed

[2018-07-03 21:55] misolori commented on #52570
This passes on our light theme but fails on dark

[2018-07-03 21:57] sbatten commented on #52697
should be addressed with #51493

[2018-07-03 21:57] #52697 closed

[2018-07-03 21:57] misolori commented on #52580
This only fails on our dark theme

[2018-07-03 21:58] mjbvz commented on #53387
You are on an old version of VS Code (1.23).  Does this reproduce in the [latest VS Code build](https://code.visualstudio.com/insiders/) with all extensions disabled?

Other things to try:

- Add  `require` call anywhere in the file. This will tell VS Code that you are working with node code rather than plain browser code.

- You can also tell VS Code that you are using node by installing the node

[2018-07-03 22:00] JacksonKearl commented on #53185
Could we maybe rename `search.focus.nextInputBox` to just `editor.focus.nextInputBox` and use it everywhere?

[2018-07-03 22:00] mjbvz commented on #53394
Do you have a proof of concept that shows this to be an actual security issue?

[2018-07-03 22:03] tsmanner commented on #43440
I just ran across something similar while writing an extension, realizing that I don't want ligatures for certain language types (i.e. a machine generated output file).  The ability to enable or disable ligatures by file type or by TextMate token type in a `.color-theme.json` or `language-configuration.json` file would be really nice!

[2018-07-03 22:05] mjbvz commented on #20219
Addressed by #51104

https://github.com/Microsoft/language-server-protocol/issues/500 tracks this for the LSP

[2018-07-03 22:05] #20219 closed

[2018-07-03 22:05] misolori commented on #52586
This only fails on our light theme

[2018-07-03 22:06] sbatten commented on #52913
related #52933 and #52936

[2018-07-03 22:08] #53393 closed

[2018-07-03 22:09] sbatten commented on #52917
@bpasero is this still happening? I cannot repro

[2018-07-03 22:10] sbatten commented on #52924
dupe of #52533

[2018-07-03 22:10] #52924 closed

[2018-07-03 22:10] misolori commented on #52481
Duplicate #52593

[2018-07-03 22:10] #52481 closed

[2018-07-03 22:11] sbatten commented on #52925
dupe of #52494

[2018-07-03 22:11] #52925 closed

[2018-07-03 22:11] misolori commented on #52541
Duplicate #51831

[2018-07-03 22:11] #52541 closed

[2018-07-03 22:13] sbatten commented on #52921
dupe of #52368

[2018-07-03 22:13] #52921 closed

[2018-07-03 22:13] misolori commented on #52479
This only fails on our light theme

[2018-07-03 22:14] misolori commented on #52480
Duplicate #52593

[2018-07-03 22:14] #52480 closed

[2018-07-03 22:15] sbatten commented on #52920
related to #53244

[2018-07-03 22:16] sbatten commented on #52918
resolving as dupe of #52920

[2018-07-03 22:16] #52918 closed

[2018-07-03 22:17] misolori commented on #52432
This only fails on our light theme

[2018-07-03 22:20] misolori commented on #52420
This only fails on our light theme

[2018-07-03 22:21] sbatten commented on #52285
@yume-chan Thank you for your feedback. Though this issue was created very early, this item now exists broken up in several other issues. I am going to close this one for simplicity.

[2018-07-03 22:21] #52285 closed

[2018-07-03 22:21] misolori commented on #52254
Duplicate #51831

[2018-07-03 22:21] #52254 closed

[2018-07-03 22:21] misolori commented on #52267
Duplicate #52593

[2018-07-03 22:21] #52267 closed

[2018-07-03 22:22] sbatten commented on #52285
dupe of #52929

[2018-07-03 22:22] misolori commented on #51861
Duplicate #51831

[2018-07-03 22:22] #51861 closed

[2018-07-03 22:42] sbatten commented on #52952
related to #53244

[2018-07-03 22:43] sbatten commented on #52954
related to #53244

[2018-07-03 22:45] roblourens commented on #53185
On input fields that don't have history like settings and keybindings, it's just down. We could add bindings for ctrl+down for those fields too to be consistent, although I like down a lot more anyway.

[2018-07-03 22:46] roblourens commented on #53185
I don't think it helps to have a common command for this because it's going to be different in every case.

[2018-07-03 22:56] mjbvz commented on #41487
Does this reproduce in the [latest VS Code build](https://code.visualstudio.com/insiders/) with all extensions disabled? I made some fixes around file casing recently

[2018-07-03 23:00] mjbvz commented on #51815
@timfish You are correct. The fix was mistakenly not taken into 2.9.2.

It should be fixed in typescript@next however. You can upgrade your workspace to use that version by following [these instructions](https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions)

[2018-07-03 23:02] mjbvz commented on #40672
Does this reproduce in the [latest VS Code build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-07-03 23:04] mjbvz commented on #32760
Fixed when we upgraded marked versions with 678f87ed45c0f18a76ad19fa9de555e77dea78a8

[2018-07-03 23:04] #32760 closed

[2018-07-03 23:07] doug-numetric opened #53509 "[python] syntax highlighting breaks on function annotations"
- VSCode Version: 1.24.1
- OS Version: macOS 10.13.5

Steps to Reproduce:

1. Create a new file: `test.py`
2. Paste in the following text:
[code]

Does this issue occur when all extensions are disabled?: Yes

Appears to be a regression of: https://github.com/Microsoft/vscode/issues/1467

[2018-07-03 23:10] IlyaBiryukov commented on #46192
@Tyriar is the `TerminalRenderer` API stable in insiders build *1.25.0*, or there will be more changes?
I adopted the terminal renderer APIs from that build and everything works like a charm.

[2018-07-03 23:30] sbatten commented on #53007
dupe of #52912

[2018-07-03 23:30] #53007 closed

[2018-07-03 23:31] sbatten commented on #53008
dupe of #52368

[2018-07-03 23:31] #53008 closed

[2018-07-03 23:32] sbatten commented on #53005
related #52929

[2018-07-03 23:32] #53005 closed

[2018-07-03 23:34] sbatten commented on #53003
related to #52933

[2018-07-03 23:37] sbatten commented on #53013
related to #52344

[2018-07-03 23:41] sbatten commented on #53020
dupe of #52914

[2018-07-03 23:41] #53020 closed

[2018-07-03 23:42] sbatten commented on #53063
dupe of #52854

[2018-07-03 23:42] #53063 closed

[2018-07-03 23:50] sbatten commented on #53119
dupe of #52533

[2018-07-03 23:50] #53119 closed

[2018-07-04 00:02] roblourens opened #53510 "Fix or delete checkFilePatternRelativeMatch"
We have code in fileSearch.ts which checks whether `folder+pattern` is an absolute path match for a file that exists. If so, it's supposed to not apply excludes to that file. But it doesn't work if you type out the query because it will be searching in the cache anyway. It's been broken for quite a while.

If we fix this feature we should move it to openFileHandler.ts like we did for the absolute

[2018-07-04 00:04] JacksonKearl commented on #53185
Should extensions also be just down, given there's no history?

[2018-07-04 00:12] mattacosta opened #53511 "Incorrect indent when moving code down"
Issue Type: <b>Bug</b>

Steps to reproduce:
1. Select lines 1-3.
2. Press Alt+Down a few times.

Sample code (typescript):
[code]

Expected:
The code should be indented and then de-indented as appropriate.

Actual:
The code is always indented.

Notes:
Moving code up works correctly.

VS Code version: Code - Insiders 1.25.0-insider (33ba00346fd1bc889d5adc2f386c64fdb3657e61, 2018-07-03T14:40:32.630Z

[2018-07-04 00:18] mjbvz opened #53512 "vscode.executeCodeActionProvider should include source actions"
**Steps to Reproduce:**

1. In an extension, run the `vscode.executeCodeActionProvider` command against a js file with some imports

**Bug**

Notice that no `source.organizeImports` actions are included in the results

[2018-07-04 01:15] sbatten commented on #52494
@Studio384 @bpasero what do we think of this spacing. Should address all 3 issues
![spacing](https://user-images.githubusercontent.com/6561887/42251600-15322e16-7eed-11e8-9f25-bedf11dcadae.png)

[2018-07-04 01:49] roblourens commented on #53185
I think so.

[2018-07-04 01:52] dielangsea opened #53513 "right-click to run some cmd like gulp, etc"
collect some cmd line like gulp like webstorm for right-click to run, easy to run some cmd

[2018-07-04 01:59] #53513 closed

[2018-07-04 01:59] roblourens commented on #53513
This sort of thing is a good candidate for extensions

[2018-07-04 02:00] #52534 closed

[2018-07-04 02:00] #51177 closed

[2018-07-04 02:02] roblourens commented on #50788
I'll close this in favor of the master issue https://github.com/Microsoft/vscode/issues/47058. I've implemented almost everything brought up here - file search now gets the query, both APIs are URI-based, added some docs. There's still a TODO with maxResults and hitLimit but there's a note in the other issue about that.

[2018-07-04 02:02] #50788 closed

[2018-07-04 02:04] jtruzzi commented on #9872
@bpasero Following @nickretallack comment:

i don't think that Issues #2105, #10859 and #19230, that you closed as duplicates of this one, are duplicates at all.
As you mentioned this issue "asks about a maximum number of editors per editor group ", while those other issues ask about number of editor groups limited to only three. As you can see in this screenshot, LEFT, CENTER and RIGHT, regardles

[2018-07-04 02:29] jordoreed commented on #5402
In the words of someone famous and wise, "Give me alt+select, or give me death."

[2018-07-04 02:33] muyu66 commented on #53293
@sbatten  Such as "D:\asdsad_dasd" , "C:\Web\hrm_api".   I just create a folder with _  all will be like this.

It may be my alone problem.
[underline.zip](https://github.com/Microsoft/vscode/files/2161666/underline.zip)

[2018-07-04 02:34] WangPengJu opened #53514 "show @deprecated in editor"
![fe8f45fd-60ed-476a-95eb-0cf3f096e633](https://user-images.githubusercontent.com/9954852/42253736-c5a2293a-7f75-11e8-8e93-10309d7eb989.png)
show line

[2018-07-04 02:50] Emeryao commented on #16363
Hey guys, take a look at [what](https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_25.md#custom-title-bar-and-menus-for-windowslinux) I just found 😝

[code]

[2018-07-04 02:53] FishOrBear commented on #16683
@weinand
It may be better to set the global configuration and local configuration , otherwise set the same `skip file" for different configurations.

[2018-07-04 02:58] JoeXu88 opened #53515 "intllisense not stable"
Issue Type: <b>Bug</b>

frequently meet no symbol found issue, seems intellisense not stable, after automatically download c/c++ related module

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:41:50.128Z)
OS version: Darwin x64 16.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz (8 x 2300)|
|

[2018-07-04 02:59] jingr1 opened #53516 "extension can not install"
The extension market show "No extension found" and when I want to search some extension, it report “An unknown error occurred. Please consult the log for more details.”
![image](https://user-images.githubusercontent.com/7448804/42254467-5aa6ef4a-7f79-11e8-8a50-c132dbf6fa93.png)

[2018-07-04 03:19] lidm1989 opened #53517 "x11forwarding not woking"
- VSCode Version:1.24.1
- OS Version:centos7

I use vscode via x11forwarding. I'm sure that my environment is ok, because I test by xterm. Vscode can't lanuch, the error:

`.....
[main 11:14:25 AM] Resolving machine identifier...
[main 11:14:25 AM] Resolved machine identifier: ef82848e38b0b2a5622203fa032a1531839642715badf2c32f47de2aa103f2e3
[main 11:14:25 AM] update#setState idle
[26794:0704/11142

[2018-07-04 03:29] Retrospection opened #53518 "SyntexHighlighting error"
Issue Type: <b>Bug</b>

### Environment
- OS: windows 7 x64
- VS Code Version: 1.24.1

### Content

when explore the Source code of Vue (0948d999 of master branch), in create-element.js from line 55, the editor can't render the code color correctly.

### ScreenShot

![Image](http://wx1.sinaimg.cn/large/70976d6cgy1fsxo4y2tczj20ku0p5abl.jpg)

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b

[2018-07-04 04:41] SirR4T commented on #53318
@dbaeumer `gulp --tasks-simple` does indeed list down all the 45 different tasks defined in gulpfile.js . This is true for the integrated terminal window in vscode, as well.

[2018-07-04 05:07] deadcoder0904 opened #53520 "When .git is removed from Terminal, it isn't reflected in the sidebar Files Panel & Git Panel"
- VSCode Version: 1.24.1
- OS Version: Mac OS 10.13.5

Steps to Reproduce:

1. Clone a git repo
2. Edit some files to see some git diffs in Git Panel
3. Launch Terminal inside VSCode & then remove `.git` folder
4. You will still see Git diffs in side panel

Does this issue occur when all extensions are disabled?: Yes

[2018-07-04 05:11] jeanp413 commented on #52653
@bpasero sorry for the late reply
- With the latest insiders build `Version:          Code - Insiders 1.25.0-insider (499122702e462b458117122a6885e6aeb3cec0a4, 2018-06-29T05:19:31.733Z)
` I no longer get an error with `code-insiders --status`.
- I tried following the steps in the link provided but the file called `core` never gets generated.

Notice that after a few seconds the animations of the a

[2018-07-04 05:18] byyxx128 commented on #53139
@dbaeumer Well, if `zh-hans` is used instead of `zh-cn` (I'm not sure who change it... maybe the extension?), VS Code will displayed in English, and ![image](https://user-images.githubusercontent.com/20079289/42257944-395e71ca-7f27-11e8-849c-cfcd9beffa1a.png) always pops when VS Code start. And if I click ![image](https://user-images.githubusercontent.com/20079289/42257992-72ee7872-7f27-11e8-9ef1-

[2018-07-04 05:51] benjaminjackman commented on #1751
FWIW I think maybe this extension sort of manages to pull it off, allowing css to be embedded into typescript / javascript for use with the styled component's library (using string template literals)

https://github.com/styled-components/vscode-styled-components

[2018-07-04 06:10] bpasero commented on #53510
@roblourens isn't that code obsolete now that we moved the logic of opening an absolute path to the `openFileHandler` anyways?

[2018-07-04 06:12] bpasero commented on #52494
@sbatten yes I would revisit:
* spacing to application icon
* spacing between menu items in the menu bar
* spacing of menu items within a menu

This is probably also related to revisiting the font used for menus.

[2018-07-04 06:13] bpasero commented on #52653
@jeanp413 that above video is running out of "master" or another branch? Because on master we have yet returned to Electron 1.7.x.

[2018-07-04 06:15] lonix1 commented on #52732
The problem is still there, try this:

    mkdir /tmp/datadir
    sudo code --user-data-dir /tmp/datadir/ --list-extensions

That works.

So:
- it tells me the extensions for a non-sudo user, which seems to be a bug
- vscode only prints some stuff and exits, so I it shouldn't be necessary to specify `--user-data-dir /tmp/datadir/` (if this is fixed then automated backups would work as root)

[2018-07-04 06:16] bpasero commented on #51576
No

[2018-07-04 06:16] roblourens commented on #53510
It covers a different case, absolute paths vs paths relative to a workspace folder.

[2018-07-04 06:16] bpasero commented on #53384
@mfour-merickson are you just deleting a singe file or a large folder? does this happen for any folder you open?

[2018-07-04 06:18] bpasero commented on #53368
@sean-mcmanus yes I meant to ask if you have `workbench.editor.closeOnFileDelete` configured to `false` (which would be non-default).

Again, please try to distill a reproducible case with a simple hello world extension. The fact that it does not even reproduce for someone else on your team makes me wonder if its related to a configuration you have. You could also try to run "`code --user-data-dir

[2018-07-04 06:29] bpasero commented on #53504
https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_25.md#grid-editor-layout

[2018-07-04 06:29] #53504 closed

[2018-07-04 06:32] roblourens commented on #53510
The absolute path code that we moved already is for when I type `/Users/roblou/code/vscode/package.json`. This relative path code is for when I type `out/vs/css.js`. Normally it would be excluded by an exclude pattern but this code tried to skip the excludes for that file if it's an exact match relative to the workspace folder.

[2018-07-04 06:33] bpasero commented on #53457
@user3323 if you have untitled files that are dirty we will restore them because they contain data from you (the user) that we cannot just ignore. We will always open editors that were dirty again when you start again.

We might have a bug in the logic that decides how many windows to open to show these dirty files. I think currently we will open a window per (previous) workspace we had that conta

[2018-07-04 06:37] bpasero commented on #53510
@roblourens interesting, I did not know we have this logic. Yeah we can move this into the openFileHandler too provided we can make it smart enough to not fire too often (e.g. only do it when it contains a slash or backslash). I think we should not do it for top level files because that would mean we do a file check on each keystroke.

[2018-07-04 06:46] #53515 closed

[2018-07-04 06:53] jrieken commented on #49708
@sandy081 This is how I ask for the configuration, I think that's correct: https://github.com/Microsoft/vscode/blob/63102e94c3e05d34e205f1b56496bb253c8b2ce4/src/vs/workbench/api/electron-browser/mainThreadSaveParticipant.ts#L208

[2018-07-04 06:55] jrieken commented on #53406
Yes, it's a full copy with some minor adjustment due to other dependencies. This work OK because uri doesn't change much. For *real* code re-use a different story would be better.

@roblourens No, the loader does support loading it but not bundling it. That means you cannot use them from within `/common/` and `/browser/`

[2018-07-04 07:13] deepak-ranolia commented on #53488
![screenshot from 2018-07-04 12-37-47](https://user-images.githubusercontent.com/33685167/42261861-20eca6ce-7f87-11e8-99ef-c9586922ee02.png)
 @Tyriar I have attached the screenshot, Here i can run all the cmds related to angular and all. All are working fine and my application has no bug[May be there is other configuration for the reload problem] and i can easily see my app on browser[Ip changed h

[2018-07-04 07:18] royalrover opened #53521 "debugging a process which creates a daemon child process, the deamon is killed when stop debugging"
Debugging a App with a daemon child process，but when I stop debug，the daemon is killed。 So I guess vscode find child processes and send SIGKILL to child. How can I do sth to prevent kill the daemon?

code:
[code]

[2018-07-04 07:28] DDB19 opened #53522 "Unable to synchronize with GIT VSTS since last VSC update"
Issue Type: <b>Bug</b>

Hello, since the last update/upgrade of VSC on my workstation, I am unable to synchronise my local GIT repository with our online VSTS instance.
I have tried to change my PAT on VSTS, with the same result.
I have an error message "Git : fatal: unable to access
'https://xxxxxx.visualstudio.com/xxxxxx/_git/xxxxx/': Failed to connect to xxxxxx.visualstudio.com port 443: Timed

[2018-07-04 07:29] sbatten commented on #52494
@bpasero the image above has some spacing changes addressing the concerns of OP

[2018-07-04 07:39] sandy081 commented on #53493
Fixed in latest insiders.

[2018-07-04 07:39] #53493 closed

[2018-07-04 07:42] sandy081 commented on #53516
@jingr1 Can you please open your dev tools using command `Developer: Toggle Developer Tools` and provide us the logs?

Can you please check if your internet connection is good.

[2018-07-04 07:51] bpasero commented on #52494
@sbatten yeah better. I still feel like the spacing to separators could be reduced:

![image](https://user-images.githubusercontent.com/900690/42263960-bee99b10-7f6f-11e8-9388-9a118d55fed7.png)

[2018-07-04 07:54] bpasero commented on #48022
@WalterZou could I ask you once more to reproduce this issue with the following build: https://az764295.vo.msecnd.net/insider/c13b8641174a66e6316d809c785fdc884998bc89/VSCode-darwin-insider-unsigned.zip

Please stop any running Code Insiders before trying.

[2018-07-04 07:56] bpasero commented on #48304
@leemhenson can you try to reproduce the original issue with the following build to verify it is fixed for you: https://az764295.vo.msecnd.net/insider/c13b8641174a66e6316d809c785fdc884998bc89/VSCode-darwin-insider-unsigned.zip

[2018-07-04 08:00] #51927 closed

[2018-07-04 08:00] #52626 closed

[2018-07-04 08:00] #53059 closed

[2018-07-04 08:01] weinand commented on #53521
VS Code kills the debuggee (and child processes) only if it has started it.
I suggest to use an "attach" debug configuration.
Here VS Code attaches to an already running process and at the end of the debug session it detaches without killing anything.

[2018-07-04 08:01] #53521 closed

[2018-07-04 08:01] isidorn commented on #53459
@sbatten not sure this is a good fix. Getting the `clientRect` `height` will force a browser re-layout. And `partService.getTitleBarOffset` is called whenever quick open is shown, debug actions widget is dragged and quick open is layouted (can be very often).
Could we not instead look at the configuration service and based on that return the value like before?

fyi @bpasero

[2018-07-04 08:11] gusbemacbe commented on #48043
@bpasero

Sorry for my absence, I was busy with my college, now I am on holidays, but I was also busy with the design of icons on holidays.

With  `force-color-profile: srgb` as default in VSCode, it must work for me on a macOS and Linux on a particular computer, but it must not work for other people on macOS and other OSes on other different computers and different screens, it is why you should a

[2018-07-04 08:15] gusbemacbe commented on #48043
I do not know if you and @RMacfarlane think it is good idea to switch different GPU options added to `settings.json` instead of changing the `app.commandLine.appendSwitch` default.

[2018-07-04 08:18] user3323 commented on #53457
@bpasero

GIF:

![workspaces bug 2](https://user-images.githubusercontent.com/24613274/42264899-a80ea632-7f7a-11e8-9526-db2375344ea8.gif)

- Creating Untitled file (111111)
- Creating Untitled File (222222)
- Saving it to ZZZ (from folder mySpaces)
- ---> Open workspace (renaming mySpaces to mySpaces33)
- Opening ZZZ from mySpaces33
- Creating Untitled file (33333333333333333)
- Creating Untitled

[2018-07-04 08:18] royalrover commented on #53521
But the daemon is created by the master process, if use "attach" configuration, I should start the daemo manually, is that so?

[2018-07-04 08:23] weinand commented on #53521
Just add an argument "--debug=12345" to the spawn call where you launch your demon.

How did you start debugging in your original setup?

[2018-07-04 08:23] royalrover commented on #53521
Can I listen a signal in daemon to prevent killing the daemon process? I do not want the daemon dead.

[2018-07-04 08:32] dbaeumer commented on #53139
@byyxx128 ok. Now I understand. The correct id is `zh-cn`. There was a bug with a published `zh-cn` Language pack that used `zh-hans` instead bringing you into this loop. This got fix for today. So everything should be fine again when using `zh-cn`.

[2018-07-04 08:32] dbaeumer commented on #53139
@byyxx128 any objection to close ?

[2018-07-04 08:33] sandy081 commented on #53130
Verified all core language packs showing recommendation prompt in their respective languages.

[2018-07-04 08:33] #53130 closed

[2018-07-04 08:33] WalterZou commented on #48022
@bpasero I have tried just now, and it crashed with the output below:
[code]

[2018-07-04 08:34] joaomoreno opened #53523 "Expose diff editor border color"
We need a theme color for the diff editor border between the two editors. Currently, the separation happens due to the shadow only... which a theme can define to be really nuanced...

![image](https://user-images.githubusercontent.com/22350/42266089-b0047c5e-7f75-11e8-86ae-a824ebba6b07.png)

[2018-07-04 08:36] dbaeumer commented on #53318
@SirR4T this is really strange. One thing that could be different is that the auto detection first looks into node_modules for a gulp command and then globally. Does `.\node_modules\.bin\gulp.cmd --tasks-simple` work as expected as well. If so would you be willing to debug this ?

[2018-07-04 08:37] gusbemacbe commented on #48043
I think I understood what happened with @josh-tepper's integrated terminal of VSCode which suffered of a flickering. The flickering was caused and affected by Electron bug due to the GPU fail. See the reference, although Atom and VSCode are unrelated: https://github.com/atom/atom/issues/15323

[2018-07-04 08:40] sandy081 commented on #53516
@jingr1 Click on the console tab in dev tools and you can see errors there.

[2018-07-04 08:42] dbaeumer commented on #51139
@sheetalkamat thanks for looking into this. Is there anything that I can do to avoid this. Is this because I use the tsserver from `C:/Users/dirkb/Projects/mseng/node_modules/typescript`. I only do that because you ask me to verify the bug on latest typescript.

All I see is ~20% CPU load of the tsserver when compile VS Code using `npm run gulp vscode-win32-x64` with me not even using VS Code.

[2018-07-04 08:44] jingr1 commented on #53516
This is the error logs:
![image](https://user-images.githubusercontent.com/7448804/42266590-72d273a2-7fa9-11e8-940e-9e5676440b2e.png)

[2018-07-04 08:53] isidorn commented on #51986
This feels like the weclome page should be restructured. Leaving to @chrmarti to decide

[2018-07-04 08:53] sandy081 commented on #53185
Might be an issue if we want to show history in Extensions input box in future.

[2018-07-04 08:54] sandy081 commented on #49708
Looks correct

[2018-07-04 08:56] sandy081 commented on #49708
Looks like override identifier settings are not working in folder settings.

[2018-07-04 08:56] tudor33sud commented on #53323
@mjbvz  I can confirm that on insiders my intellisense it's working again. I'll use that until the update

[2018-07-04 08:57] isidorn commented on #52257
Dup of https://github.com/Microsoft/vscode/issues/52383

[2018-07-04 08:57] #52257 closed

[2018-07-04 08:58] isidorn commented on #52544
Dup of https://github.com/Microsoft/vscode/issues/52383

[2018-07-04 08:58] #52544 closed

[2018-07-04 08:59] sandy081 commented on #53516
@jingr1 Could be a proxy issue - Please check this https://code.visualstudio.com/docs/setup/network

[2018-07-04 08:59] MeikTranel commented on #53438
@joaomoreno i just checked the commit hash. Your commit is the head of the installer you linked. The fix still didnt work for me.

[2018-07-04 09:00] sandy081 commented on #53156
Its not happening to me. Do you have a sample to reproduce it?

[2018-07-04 09:00] isidorn commented on #52556
Dup of the other quick open items
https://github.com/Microsoft/vscode/issues/52383
and tab wrongly jumps

[2018-07-04 09:00] #52556 closed

[2018-07-04 09:03] isidorn commented on #52392
Dup of https://github.com/Microsoft/vscode/issues/52000

[2018-07-04 09:03] #52392 closed

[2018-07-04 09:03] isidorn commented on #52400
Dup of https://github.com/Microsoft/vscode/issues/52000

[2018-07-04 09:03] #52400 closed

[2018-07-04 09:04] isidorn commented on #52410
Dup of https://github.com/Microsoft/vscode/issues/52000

[2018-07-04 09:04] #52410 closed

[2018-07-04 09:07] isidorn commented on #52000
@JacksonKearl @sandy081 volunteres to tackle this?
Maybe we tackle this in one place (the view class which as a tree)?

[2018-07-04 09:09] isidorn commented on #52558
Dup of https://github.com/Microsoft/vscode/issues/52383

[2018-07-04 09:09] #52558 closed

[2018-07-04 09:09] isidorn commented on #52555
Dup of https://github.com/Microsoft/vscode/issues/52383

[2018-07-04 09:09] #52555 closed

[2018-07-04 09:09] isidorn commented on #52554
Dup of https://github.com/Microsoft/vscode/issues/52383

[2018-07-04 09:09] #52554 closed

[2018-07-04 09:11] leemhenson commented on #48304
I can confirm that build does not error out for me.

[2018-07-04 09:17] isidorn commented on #52007
This works perfectly fine for me in the latest nvda and vscode insiders.
![screen shot 2018-07-04 at 11 17 38](https://user-images.githubusercontent.com/1926584/42268458-dfb9fa9a-7f7b-11e8-8ae5-316d435197ea.png)

[2018-07-04 09:17] #52007 closed

[2018-07-04 09:18] alexandrudima commented on #53490
I cannot reproduce on my machine, but I've heard others reporting it. It might happen for certain fonts and on certain machines, that the monospace font rendering is not 100% monospace. i.e. we measure the width of one character (`w`) and then assume that N characters have the width `N*w`... but this does not always hold true .. unclear why.

Does this issue go away when using the internal setting

[2018-07-04 09:19] isidorn commented on #52407
Dup of https://github.com/Microsoft/vscode/issues/52008

[2018-07-04 09:19] #52407 closed

[2018-07-04 09:20] isidorn commented on #52008
This is a general tree issue, forwarding to @joaomoreno to figure out if this is low hanging or not

[2018-07-04 09:21] isidorn commented on #52009
Dup of 2 other issues already created

[2018-07-04 09:21] #52009 closed

[2018-07-04 09:22] bpasero commented on #53459
@isidorn @sbatten yeah I also felt like this could be just hardcoded

[2018-07-04 09:22] alexandrudima commented on #3526
Here is an example for how you can bind the new commands:

[code]

[2018-07-04 09:22] #3526 closed

[2018-07-04 09:23] isidorn commented on #52302
dup of https://github.com/Microsoft/vscode/issues/52332

[2018-07-04 09:23] #52302 closed

[2018-07-04 09:23] bpasero opened #53524 "Terminal menu still shows up when custom menu is used"
We should also take out the "Terminal" menu when using the custom menu:

![image](https://user-images.githubusercontent.com/900690/42268779-b069f4f6-7f7c-11e8-92cf-6f439db0a302.png)

//cc @egamma

[2018-07-04 09:23] alexandrudima commented on #541
Yes, thanks to @brentwang23 for the PR!

Here is an example for how you can bind the new commands:

[code]

[2018-07-04 09:23] #541 closed

[2018-07-04 09:24] isidorn commented on #52472
Dup of https://github.com/Microsoft/vscode/issues/52582

[2018-07-04 09:24] #52472 closed

[2018-07-04 09:28] isidorn commented on #52017
@JacksonKearl let me know if you might be interested in this
Assigning also to @sandy081 as this is coming from the composite bar which uses the action bar
https://github.com/Microsoft/vscode/blob/fe82cb86cbcf606e0d7d0c218a988edf3acd828a/src/vs/workbench/browser/parts/compositebar/compositeBar.ts#L72

[2018-07-04 09:29] bpasero commented on #48043
@gusbemacbe yeah I am just trying to figure out if `force-color-profile: srgb` alone fixed the flickering for your particular case. And it looks like it does (note that current insider versions are no longer on Electron 2.0.x but back to 1.7.x).

The latest build with Electron 2.0.4 to play with is: https://az764295.vo.msecnd.net/insider/c13b8641174a66e6316d809c785fdc884998bc89/VSCode-darwin-insid

[2018-07-04 09:30] isidorn commented on #52422
Dup of https://github.com/Microsoft/vscode/issues/52542

[2018-07-04 09:30] #52422 closed

[2018-07-04 09:31] bpasero commented on #51917
@phea do you still hit this with latest from `electron-2.0.x` branch (we had to remove the update from `master`)?

[2018-07-04 09:31] #48304 closed

[2018-07-04 09:31] jingr1 commented on #53516
@sandy081 it seems a proxy issue. but why the insider version can works well at the same PC.

[2018-07-04 09:31] isidorn commented on #52301
Dup of https://github.com/Microsoft/vscode/issues/52542

[2018-07-04 09:31] #52301 closed

[2018-07-04 09:33] isidorn commented on #52542
QuickPick usualy has hunderds if not thousands of results. I see no value in the user knowing what is that number. We could maybe read it out only if lower than some number.

I feel like this should be closed as designed
@bpasero let me know what you think

[2018-07-04 09:34] WalterZou commented on #48022
@bpasero Can't open now...
![image](https://user-images.githubusercontent.com/3727208/42269348-7daffa36-7fb0-11e8-9a5b-302488e2155f.png)

[2018-07-04 09:35] isidorn commented on #52025
This feels like law hanging fruit, the keyboard popup should simply read out the title text. Leaving to July

[2018-07-04 09:36] isidorn commented on #52027
I can repro this, and I feel like this is law hanging fruit, let's leave it for July

[2018-07-04 09:40] bpasero commented on #48022
@WalterZou I have seen this issue before, seems macOS related. You can always start it from the command line like this: `./Contents/MacOS/Electron`

[2018-07-04 09:41] ricobautsch commented on #53490
Yes, the issue is going away when using your suggestion and setting "editor.disableMonospaceOptimizations": true.

I found another thing.
The issue is only present, if i enabled Whitespace rendering with the setting "editor.renderWhitespace": "all".
I enabled this, because i have to see the number of tabs between two visible values.
Maybe the issue is not with rendering the visible chars, but with

[2018-07-04 09:47] tbhaxor commented on #53387
@mjbvz i am using arch linux and vscode is not officially supported by arch linux but downloaded from its AUR repository. And on aur its the latest version :smile:

[2018-07-04 09:48] WalterZou commented on #48022
@bpasero Here is the screenshot:
![image](https://user-images.githubusercontent.com/3727208/42269993-54b7b414-7fb2-11e8-889f-de583e345ffb.png)

[2018-07-04 09:48] tweakimp commented on #44604
Is this still being worked on? `"activityBarBadge.foreground"` is not doing anything as far as I know.

[2018-07-04 09:49] isidorn commented on #52036
This feels like low hanging fruit, assigning to july so @alexandrudima can look into

[2018-07-04 09:51] isidorn commented on #52200
Dup of https://github.com/Microsoft/vscode/issues/51977

[2018-07-04 09:51] #52200 closed

[2018-07-04 09:53] user3323 commented on #53457
@bpasero  well, it's not about "many windows" problem, but is about WHY untitled files from workspace (**_that has been closed_**) open in absolutely another work area?

Why do they mix? It's totally wrong.

[2018-07-04 09:53] isidorn commented on #52047
Even though it is fine that this popup can not be focused, esc should still close it.
Option 2 is to focus into the popup so the text is read, and allow to navigate via tab to close it.
Feels law hanging -> july

[2018-07-04 09:57] goosenphil commented on #49305
I am also experiencing this issue

[2018-07-04 09:58] isidorn commented on #52036
After discussing with @alexandrudima pushing this out to backlog until an actual user complains.
This screen is not meant to be seen by a user needing a screen reader, since the default is screen reader friendly behavior.

[2018-07-04 10:07] bpasero commented on #48022
@WalterZou I meant from the Help > About dialog

[2018-07-04 10:08] bpasero commented on #53457
@user3323 because these files contained changes from you (the show up as dirty). dirty files will always restore, no matter how you close the workspace or delete it. the only way to prevent that is to close these dirty files. Otherwise we would loose data that the user provided, which is a no-go.

[2018-07-04 10:09] isidorn commented on #52038
Dup of https://github.com/Microsoft/vscode/issues/52383

[2018-07-04 10:09] #52038 closed

[2018-07-04 10:10] EwanDubashinski commented on #10952
+1

[2018-07-04 10:12] isidorn commented on #52040
This is a balance between concise information and reading everything.
Feels liek low hanging fruit, assigning to July so we discuss
fyi @bpasero

[2018-07-04 10:12] WalterZou commented on #48022
@bpasero Sorry, did you mean this:
![image](https://user-images.githubusercontent.com/3727208/42271416-d85cd396-7fb5-11e8-940f-9ec993e34338.png)

[2018-07-04 10:13] isidorn commented on #52180
Duplicate

[2018-07-04 10:13] #52180 closed

[2018-07-04 10:15] isidorn commented on #52426
Dup of https://github.com/Microsoft/vscode/issues/51850

[2018-07-04 10:15] #52426 closed

[2018-07-04 10:15] AlexZeitler commented on #51543
@Zingoer `MesloLGM Nerd Font` fixed it for me as well. Thanks!

[2018-07-04 10:16] isidorn commented on #52552
Dup of https://github.com/Microsoft/vscode/issues/52551

[2018-07-04 10:16] #52552 closed

[2018-07-04 10:17] isidorn commented on #52551
Dup of https://github.com/Microsoft/vscode/issues/51824

[2018-07-04 10:17] #52551 closed

[2018-07-04 10:18] isidorn commented on #52418
Closing this as designed. User can delete the > and reneter it

[2018-07-04 10:18] #52418 closed

[2018-07-04 10:19] isidorn commented on #52305
Dup of https://github.com/Microsoft/vscode/issues/51824

[2018-07-04 10:19] #52305 closed

[2018-07-04 10:22] isidorn commented on #52154
Leaving this to @sandy081 to decide if it is low hanging fruit

[2018-07-04 10:23] isidorn commented on #52175
Feels like a duplicate of https://github.com/Microsoft/vscode/issues/52154
Will rename that one

[2018-07-04 10:23] #52175 closed

[2018-07-04 10:28] isidorn commented on #52577
This is a general workbench issue, renaming. Assigning to july to investigate
fyi @bpasero

[2018-07-04 10:30] isidorn commented on #52283
This feels like low hanging fruit - the actions should just have proper titles
Assigning to july, @Tyriar feel free to move out

[2018-07-04 10:30] ivankravets commented on #53156
I tried [this](https://github.com/Microsoft/vscode-extension-samples/tree/master/tree-view-sample) example and can't reproduce. So, I decided to dive into deeper.

So, when I move `platformio-debug.disassembly` into `views->explorer`, VSCode does not call `getChildren`. Everything is OK. However, when I move it to `debug` and start a debug session it call `getChildren`. See configuration below.
[c

[2018-07-04 10:31] isidorn commented on #52304
This feel like the terminal service could simply do `aria.alert` whenever a new terminal is opened. Similar to how we do in debug lang. Feels like low hanging fruit, assigning to july

[2018-07-04 10:33] isidorn commented on #52562
Sounds reasonable. Leaving to @RMacfarlane to decide if we should tackle this

[2018-07-04 10:35] isidorn commented on #52464
Very similar to https://github.com/Microsoft/vscode/issues/51077
@sandy081 so maybe discuss with @chrmarti on a potential solution

[2018-07-04 10:37] isidorn commented on #53486
In the attached video you can see that the tester tryed to trigger refactoring in an HTML file. This funtionality is not enabled for HTML files. Thus closing as designed

[2018-07-04 10:37] #53486 closed

[2018-07-04 10:46] dbaeumer opened #53525 "Provide code action invokation has no diagnostics and range set if context.only === source"
It was my understanding that for code actions the call contains the diagnostics relevant for the call so that they can be used to compute the necessary edits.

If `context.only === 'source'` I would have expected that:

- all diagnostics of the file are provided
- the range of the call is the whole file

Is there any reason why this is not the case?

For ESLint I have for example optimizations tha

[2018-07-04 10:46] pronebird commented on #53518
Same here, but related to back ticks. It used to work before.

![capture](https://user-images.githubusercontent.com/704044/42273048-4f04b71c-7f88-11e8-851c-2cfd886b048e.PNG)

[2018-07-04 10:46] dbaeumer commented on #53525
@jrieken FYI.

[2018-07-04 11:01] jrieken opened #53526 "WinJS.Promise removal plan"
We are heavy users of WinJS.Promise and that's not good. We started with the monaco-editor before native promises existed, so WinJS.Promises came in handy. However, times have changed, native promises are real and sticking with WinJS.Promises became a dead end. Time for change...

Migrating from WinJS.Promise to the native promises isn't a find/replace-job because of some incompatibilities, namely

[2018-07-04 11:05] Pato91 commented on #53500
The search input for the branches appears to be a password input instead of a plain text input. It masks the branch text you are typing into the text field/text input.
![vscode](https://user-images.githubusercontent.com/29727441/42273872-30c915c6-7f93-11e8-9a3e-dcac70209e36.png)

Version 1.24.1
Commit 24f62626b222e9a8313213fb64b10d741a326288
Date 2018-06-13T17:47:35.732Z
Shell 1.7.12
Renderer 58.0

[2018-07-04 11:14] AnatolyKovalenko commented on #51694
@mjbvz This problem not fixed!
Go definition not work in pure .js files !!!
If i CMD + click, nothing happens.
Microsoft/TypeScript#24861  not help me, that not my problem!

[2018-07-04 11:28] liyuhang1997 opened #53527 "Switch between different window issues with Microsoft Pinyin"
Force return to the last switched window when I turn on `floating IME mode icon`

- VSCode Version: `1.24.1`
- OS Version: `Microsoft Windows [Version 10.0.17134.112]`

Steps to Reproduce:

1. Press `Windows Key`, Search `IME` and press `Enter Key`
2. Found `中文(中华人民共和国)` and click `Options`, Found `Microsoft Pinyin`（微软拼音） and click `Options`
3. Click `Appearance`
4. Found `Choose how long to show

[2018-07-04 11:32] ghuser opened #53528 "All "Find in Folder" results open in the same tab when clicked, unless the content is modified"
When performing a find in folder, and see the search results, whichever result is clicked it replaces the same tab.  This happens even if I perform multiple searches.
So I cannot perform 3 consequent searches and open 3 tabs out of them.

It seems like the tab that has been opened from the search result, is treated specially, because even if I select another active tab, and click on a search resul

[2018-07-04 11:45] leonormes opened #53529 "process.env.PATH not set on load"
Issue Type: <b>Bug</b>

I use i3wm on Ubuntu 18:04, and have now made a Clean install.

When I open VSCode using the i3 launcher, code doesn't load the `PATH` properly. It has a minimal setting and none of the custom ones.

In code developer tools console I get with `process.env.PATH`;

`"/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"`

In the t

[2018-07-04 11:45] user3323 commented on #53457
@bpasero  I'm not quite sure, what you mean by "loose data". Do you mean **_lose_**?

Maybe we understand a word "workspace" in different ways.
For me "workspace" - it is something, that **_divided/separated/isolated from another work areas_**.
For you ..... I really don't know.

And, please, do not ignore my comments...

I've wrote:

What can you say about this **_selective algorithm_**?
Why VS C

[2018-07-04 11:51] pronebird opened #53530 "CRLF switch is broken on Windows"
- VSCode Version: 1.24.1
- OS Version: Win 10

Steps to Reproduce:

1. Open any file saved in LF. VSCode shows it's in CRLF
1. Switch to LF from the statusbar
1. The file is changed in Git
1. Run `git diff` and see:
[code]

Does this issue occur when all extensions are disabled?: Yes/No

[2018-07-04 11:52] stijnherreman opened #53531 "IntelliSense breaks for Node.js imports"
Issue Type: <b>Bug</b>

IntelliSense works for a file with this content:

[code]

It also works for a file with this content:

[code]

But at some point IntelliSense breaks, while I'm adding code. Restarting VS Code sometimes fixes it.

VS Code version: Code 1.24.1 (24f62626b222e9a8313213fb64b10d741a326288, 2018-06-13T17:51:32.889Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System

[2018-07-04 12:00] #52998 closed

[2018-07-04 12:10] uniapi commented on #10952
close does not suit when you've opened VSC from a parent directory as every time you should:
$ cd target
+1

[2018-07-04 12:20] bpasero commented on #52577
I agree, ideally there is an `ARIA` role we could set for disabled buttons etc.

[2018-07-04 12:23] bpasero commented on #53457
@user3323 let me try to explain:
* you open an untitled file
* you write into it
* it becomes dirty indicating unsaved changes
* you quit
* you delete the workspace
* you start
* we restore the dirty changes from your previous session

This is so that we preserve changes you made to the untitled files. The same happens when you open a folder and delete it with dirty files within. It is essentially

[2018-07-04 12:28] bpasero commented on #51850
Hitting `Tab` once should just move focus into the tree, that works for me. We cannot navigate in the tree via `Tab` key because the items do not have `tabindexes`.

[2018-07-04 12:29] bpasero commented on #51824
That sounds like a bug in NVDA to me, but maybe we can tweak the ARIA label for inputs. We could also see if there is a `aria-placeholder` attribute to use but then we should use it everywhere.

[2018-07-04 12:38] isidorn commented on #53459
The current fix is fine for stable, thus pushing this out to July

[2018-07-04 12:45] bpasero opened #53532 "Editor: load changes to file in the background if file already loaded"
**Setup:**
* open 2 files
* switch between them

**Today:**
* we go to disk each time to check if the file on disk has changed

**Proposed:**
* show the file instantly without going to disk
* check for the file having changed in the background

**The consequences are:**
* files will load instantly when opened once during the session (good)
* if the file has changed on disk (and we missed the file

[2018-07-04 12:48] TillFProtzek commented on #45792
I hope this get resolved.
Setting http.proxyStrictSSL to false is working, but this can't be a permanent solution.
VSCode needs a setting either to include a self signed root-ca, or a setting to ignore self signed certificate errors.

[2018-07-04 12:54] #53532 closed

[2018-07-04 13:00] user3323 commented on #53457
@bpasero  preventing data loss? I've created this issue, because of my huge concerns about **_data loss_**.
Because I've faced this problem.
And I'm quite sure, that many other users faced this problem, as well.
Maybe they just don't know what happened and why. And they cannot repro and describe it here.

You still don't know what to say about data loss in dirty files 3333 and 4444. (from other pa

[2018-07-04 13:03] jrieken opened #53533 "ERR Model is disposed!: Error: Model is disposed!"
[code]

[2018-07-04 13:08] isidorn commented on #53152
Nice steps, can not repro with latest insiders -> verified

[2018-07-04 13:15] #53533 closed

[2018-07-04 13:19] isidorn commented on #52000
Actually this might be a tree issue, let's bring in @joaomoreno for opinion

[2018-07-04 13:19] isidorn commented on #51850
Yeah that makes sense. Also note this issue https://github.com/Microsoft/vscode/issues/52000
Which leans towards that the focus should always be on the first tree item, not on the whole tree

[2018-07-04 13:21] isidorn commented on #52542
In practice results come instantaniously. Thought we could experiment with an alert for the number of items. Might be noise. Let's assign to July

[2018-07-04 13:27] oliversalzburg opened #53535 "Debug adapter process has terminated not at all unexpectedly"
Issue Type: <b>Bug</b>

The Node debug adapter crashes at least a dozen times every single day for one of my projects.

In a previous ticket I was told that this is not supposed to happen, which is also the reason why no more information regarding the cause is made available to the user. I still think that's a mistake, but I would happily accept a solution where the adapter is simply not crashing

[2018-07-04 13:29] itamark commented on #51248
Hey @joaomoreno @sarahwbs has the solution to this been resolved in any way? I'd like to take it if possible.