[2016-03-29 12:57] alexandrudima opened #4737 "Do not set X-Requested-With in vs/text loader plugin requests"
Tracking issue for microsoft/vscode-loader#2

[2016-03-29 13:08] isidorn opened #4738 "[jade] comments have string color"
1. Open a .jade file (e.g. there is one in our vscode smoke test repo)
2. Comment out a line - notice the comments are blue or orange (dark theme) which are usually the colors we use for strings
3. I would expect green, the same we use for other languages

This behavior is like this for a while, so I do not think it is important.

[2016-03-29 13:13] isidorn opened #4739 "New untitiled file not saved on exit"
- OS Version: I see it both on el capitan and linux

Steps to Reproduce:

1. file > new file > write some simple content
2. exit vscode - you get a prompt if you want to save, click 'Save' > name the file and sav it inside the repo
3. no changes are visible in repository - vscode is still open, and there is no file that I just saved. I still see the untitiled file open and there is no way for me t

[2016-03-29 13:24] donaldpipowitch commented on #4618
Thanks. Could you give me some hints or big picture where I should look at?

[2016-03-29 13:24] dbaeumer commented on #2086
@daslicht is your repository public somewhere. Then I have a look there.

[2016-03-29 13:25] isidorn opened #4740 "Application insights warnings in console"
- VSCode Version: 0.10.13-insider
- OS Version: Linux

Steps to Reproduce:

1. open vscode, work a bit on a repo (e.g smoke test)
2. notice application insights warnings in console

@egamma you mentioned that the telemtry seems to be broken, is this related?

![screen shot 2016-03-29 at 15 23 48](https://cloud.githubusercontent.com/assets/1926584/14109452/643b9080-f5c2-11e5-8d18-196f4a2619a7.png)

[2016-03-29 13:31] joaomoreno opened #4741 "Duplicate outline entries for JS top-level functions"
![image](https://cloud.githubusercontent.com/assets/22350/14109628/2eb381c4-f5c3-11e5-940e-a99f173f245e.png)

JS outline always shows duplicate entries for top level functions.

[2016-03-29 13:38] joaomoreno commented on #4618
Sure. But now that I took a closer peek, this feels like it will go to the TypeScript people.

The parameter hints provider should be returning to us an [`IParameterHints` object](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/parameterHints/browser/parameterHintsModel.ts#L78) which contains information about the signature as well as [the current parameter](https://github.co

[2016-03-29 13:38] jsloyer commented on #4721
@jrieken I wrapped it in a `try-catch` and still no extra output.  Try placing the code in `src/vs/workbench/parts/git/browser/views/changes/changesView.ts` in the `render` method.
[code]

[2016-03-29 13:41] isidorn opened #4742 "Tab moves focus needs ux love"
Steps to Reproduce:

1. command palette > Toggle use of tab key for setting focus
2. notice red notification in the status bar - I believe we can find a better color for this

Though there should be some contrast since this is an important scenario for accessibility

![screen shot 2016-03-29 at 15 39 27](https://cloud.githubusercontent.com/assets/1926584/14109918/a2f53310-f5c4-11e5-94d7-b9ce9ddb46

[2016-03-29 13:56] #4739 closed

[2016-03-29 13:57] joaomoreno opened #4746 "Send a Tweet reports bad maximum length"
Due to `#HappyCoding` being appended to it

![image](https://cloud.githubusercontent.com/assets/22350/14110427/ac5b90b4-f5c6-11e5-9b97-bdfaa4264166.png)

[2016-03-29 14:05] joaomoreno commented on #2047
I just hit this in the smoke test:

- Run the build task
- View the error list: some errors are there
- Ctrl click the file in which the errors occurred, in the output panel
- View the error list: errors are gone!

[2016-03-29 14:26] joaomoreno opened #4748 "Tweet feedback box has no background in HC theme"
![image](https://cloud.githubusercontent.com/assets/22350/14111408/e659ccaa-f5ca-11e5-99c9-e2a9b15fc02f.png)

[2016-03-29 14:28] isidorn commented on #4214
I now get a nice warning to install git > 2.0

[2016-03-29 14:29] egamma commented on #4741
Moving to TypeScript for investigation

[2016-03-29 14:29] egamma commented on #4741
This issue was moved to Microsoft/TypeScript#7725

[2016-03-29 14:29] #4741 closed

[2016-03-29 14:31] Tyriar commented on #4727
@alexandrudima I don't think I've seen that before.

[2016-03-29 14:33] joaomoreno opened #4749 "locale.json should have Intellisense for supported languages"

[2016-03-29 14:34] bpasero commented on #3044
For some weird reason Chrome/Electron decides to fire the mouse-down event on our sash when the context menu opens from this context menu button.

[2016-03-29 14:34] Tyriar commented on #4679
@bpasero remember though that "mixing languages" may be natural depending on the language. I imagine typing `git pull` is far more natural to Japanese programmers than `git プル` which requires an extra effort to type due to the ime change.

[2016-03-29 14:35] joaomoreno opened #4750 "Unlocalized `Tasks` string"
![image](https://cloud.githubusercontent.com/assets/22350/14111729/22735afc-f5cc-11e5-87f5-079df57618cb.png)

Flagging `important` just to catch your attention.

[2016-03-29 14:36] egamma commented on #4708
We fetch the schema dynamically whenever possible. I've just checked and this seems to be the case

![image](https://cloud.githubusercontent.com/assets/172399/14111788/61927c40-f5cc-11e5-9536-98ed48d66254.png)

[2016-03-29 14:37] bpasero commented on #4679
Yeah, I see the issue for commands that are really close to their terminal counter parts.

[2016-03-29 14:38] bpasero commented on #4679
Maybe we should just document for those NLS strings that they should not get translated at all?

[2016-03-29 14:38] dellheng commented on #143
+1

[2016-03-29 14:40] joaomoreno opened #4751 "Spanish and French translations mistranslate the spacing in global actions"
[The string that adds a category to an action label](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/quickopen/browser/commandsHandler.ts#L266
) to be displayed in the global command palette is mistranslated by the Spanish and French translations.

**Spanish** - removes the space in front of the `:`

![image](https://cloud.githubusercontent.com/assets/22350/14111824/84f81c80

[2016-03-29 14:41] joaomoreno commented on #4751
Setting to `important` to catch your eye.

[2016-03-29 14:42] Tyriar commented on #4697
@stephenmartindale no worries. It doesn't happen too often and is easy to move using https://github-issue-mover.appspot.com/ when it does. I'm a little hesitant to make the setup/contributing section any more busy.

[2016-03-29 14:43] isidorn commented on #4665
As far as I understand there is not `launch.json` invovled here, you do not have `preLaunchTask` set, you are just launching a task from `tasks.json`.
Thus forwarding to @dbaeumer

[2016-03-29 14:45] isidorn commented on #4656
This is a feature request against our json schema which currently does not support his.
Forwarding to @aeschli

[2016-03-29 14:46] Tyriar commented on #4713
I believe go to symbol generally requires an extension to work, for example the C# extension https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp

Closing this, feel free to open a new issue if you have a particular language you're concerned about. It will likely be up to extensions to add this behavior though.

[2016-03-29 14:46] #4713 closed

[2016-03-29 14:48] Tyriar commented on #4724
Closing off as it would probably fix itself during an update.

[2016-03-29 14:48] #4724 closed

[2016-03-29 14:54] isidorn commented on #4739
Looks good with latest build

[2016-03-29 14:56] alexandrudima commented on #4727
@Tyriar This is what I often see while selfhosting (gulp watch) on Ubuntu. It happens most often when I do git operations and sometimes when I type (with autosave enabled).

If I then do another change in the file, it gets picked up. I always thought it's the fault of our gulp watch scripts, but maybe it's a timing thing and they end up reading the file as empty.

[code]

[2016-03-29 14:57] skol-pro commented on #3797
What's the status regarding that today ?

[2016-03-29 15:06] dbaeumer commented on #4750
@bpasero if I localize this and a user switches between English and German what will happen with the drop down. Will we have two entries one with Tasks and one with 'Aufgabe'. Would we need an Id and a label for a output channel.

[2016-03-29 15:08] dbaeumer commented on #4751
@johnliu2016 can you cycle that back to the translation team?

[2016-03-29 15:19] bpasero commented on #4750
@dbaeumer yes this would require an additional identifier next to the label for a channel which I think would make sense but is a larger change, not a one liner.

[2016-03-29 15:23] bpasero commented on #4750
@dbaeumer actually I just tested this: I switched to "Tasks", then shutdown and renamed this to "Aufgaben" and started up again. I lost my last selected output channel, but there are no duplicate entries in the list.

@isidorn can you confirm that we are not using the stored output channel name otherwise?

If so, I think we could just translate the output channel names too.

[2016-03-29 15:26] grazies commented on #4750
Sent using CloudMagic Email<https://cloudmagic.com/k/d/mailapp?ct=pi&cv=7.9.8&pv=9.2.1&source=email_footer_2>

[2016-03-29 15:32] Tyriar commented on #4727
@alexandrudima ah, I tend to stop `gulp watch` when I do a destructive git command and I also don't use autosave.

[2016-03-29 15:35] isidorn commented on #4750
@bpasero just checked code, once there is new output the active channel will be set to that, however if there is no output comming the active channel can be in a broken state read out from the storage service (e.g. "Aufgaben"). In that case we use the wrong identifier in a lot of places. Just find all references in `outputServices.getActiveChannel()`
Not sure if this breaks anything though.

[2016-03-29 15:36] bpasero commented on #4750
Right. I would think having identifier + label is a cleaner solution anyway.

[2016-03-29 15:44] iDev0urer opened #4753 "Adding language definitions to regular plugins"
Is it possible as it currently sits to add language definition files to normal extensions? For instance Atom has a grammars folder where you can put your syntax files for the languages that your extension adds to the editor. If this isn't currently implemented it would be a nice thing to add

[2016-03-29 15:47] alexandrudima opened #4754 "Super annoying message, please leave me alone"
Saw this 3 times today. Please add a leave me alone button.

![image](https://cloud.githubusercontent.com/assets/5047891/14114163/4d197bc4-f5d6-11e5-9ac3-42f5613fc978.png)

[2016-03-29 15:56] bill-mybiz opened #4755 "TypeScript, mocha, chalk doesn't output color to debug console?"
In my 0.10.11 version, chalk console logging using chalk works. In the 0.10.12-insider version it doesn't.

- VSCode Version: 0.10.12-insider
- OS Version: Windows 10
- Language: TypeScript 1.8.9, Node 4.1.1, Mocha 2.3.4,
- Launch:
[code]
Steps to Reproduce:
1. `import chalk = require('chalk');`
2. `console.log(chalk.magenta('some text'));`

[2016-03-29 15:58] bill-mybiz commented on #4755
![lost coloring](https://cloud.githubusercontent.com/assets/1253349/14114626/37212472-f59d-11e5-8428-cdb85cdf027d.png)

[2016-03-29 15:59] izcream commented on #4700
thanks i gonna try this

[2016-03-29 16:05] isidorn commented on #4750
Yup I can add the identifier.

[2016-03-29 16:09] Tyriar commented on #3362
@bgashler1 what sort of dialog do you think we want to go for?

- Modal dialog (like Sublime)
- File-like tab (like Atom)
- Non-native dialog (like :smile: feedback form, <kbd>esc</kbd> & `x` button to dismiss)

[2016-03-29 16:22] pcgeek86 opened #4756 "Task Runner: Define multiple commands"
- VSCode Version: 0.10.11
- OS Version: Mac OS X El Capitan

I would like to be able to specify multiple commands in a Task Runner. Right now, only one command is supported. Is the best way to do this with a shell script?

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2016-03-29 16:24] pcgeek86 opened #4757 "Task Runner: Define array of tasks"
- VSCode Version: 0.10.11
- OS Version: Mac OS X El Capitan

The documentation for Task Runners doesn't indicate how to define more than one task in the `tasks.json` file. How do I define more than one? The default `tasks.json` file that gets auto-generated only has one task definition. I tried creating a JSON array, but received error messages about the file format.

Cheers,
Trevor Sullivan
Micro

[2016-03-29 16:25] pcgeek86 opened #4758 "Task Runner: Provide input parameters"
- VSCode Version: 0.10.11
- OS Version: Mac OS X El Capitan

I would like to provide input parameters when a task is executed. How can I accomplish this?

Cheers,
Trevor Sullivan
Microsoft MVP: PowerShell

[2016-03-29 16:29] Tyriar commented on #4756
Duplicate of https://github.com/Microsoft/vscode/issues/981

[2016-03-29 16:29] #4756 closed

[2016-03-29 16:30] Tyriar commented on #4757
This issue was moved to Microsoft/vscode-docs#250

[2016-03-29 16:30] #4757 closed

[2016-03-29 16:36] bpasero commented on #4750
I also think this is not a candidate.

[2016-03-29 16:38] Tyriar commented on #4755
Duplicate of https://github.com/Microsoft/vscode/issues/571

[2016-03-29 16:38] Tyriar commented on #564
Related: https://github.com/Microsoft/vscode/issues/571

[2016-03-29 16:39] Tyriar commented on #4753
This page has information on creating language colorizers. https://code.visualstudio.com/Docs/customization/colorizer

[2016-03-29 16:39] #4753 closed

[2016-03-29 16:40] Tyriar commented on #4695
Thanks for deduping this @Reanmachine :+1:

[2016-03-29 16:40] #4695 closed

[2016-03-29 16:45] v-pavanp opened #4759 "Build errors are not highlighted in editor when performing build operation with CTRL+SHIFT+B"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:

1. Launch app and open any folder which contains .ts file.
2. Setup the task.json and tsconfig.json.
3. Now perform the build operation with CTRL+SHIFT+B
4. Verify output and editor window.

Actual: Getting errors in the output window but there is no red flag in the editor.

![image](https://cloud.githubusercontent.com/a

[2016-03-29 16:45] bill-mybiz commented on #4755
Hi @Tyriar! I appreciate the quick response. Does that really apply if it works in 0.10.11 already but does not work in the 0.10.12-insiders version?

[2016-03-29 17:02] pcgeek86 opened #4760 "Task Runner: Alternate version number not accepted in tasks.json"
- VSCode Version: 0.10.11
- OS Version: Mac OS X El Capitan

Steps to Reproduce:

1. Define a task in `tasks.json`
2. Change the version number to something other than `0.1.0`

<img width="539" alt="screen shot 2016-03-29 at 10 58 44 am" src="https://cloud.githubusercontent.com/assets/466713/14116556/915400e0-f59d-11e5-872b-689c25fbae06.png">

<img width="565" alt="screen shot 2016-03-29 at 11 01

[2016-03-29 17:02] jrieken commented on #4721
Oh.. All of the [vscode.d.ts](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts) can **only** be used in the extension host, not in the main part. Sorry, I know it's confusing, but for the extensions we try to surface all of our internal APIs in a nice & compact way - that's why we have the `vscode`-module. Our internal API is less polished and has grown. Still, I am happy to help

[2016-03-29 17:03] #4721 closed

[2016-03-29 17:04] pcgeek86 opened #4761 "Can't select warning messages to copy to clipboard"
- VSCode Version: 0.10.11
- OS Version: Mac OS X El Capitan

Steps to Reproduce:

1. Create a file that has an error or warning in it (eg. an improperly formatted JSON file)
2. Make sure the appropriate language mode for the file is selected
3. Use `F8` keyboard shortcut to navigate between warnings and errors
4. Try to select, and copy-paste text from a warning or error message.
5. Notice that th

[2016-03-29 17:06] jrieken commented on #4678
No clue, not even sure if I wrote that code...

[2016-03-29 17:07] thomastaylor312 commented on #515
@bpasero I have been unable to duplicate this again. However, I did update OS X since we first discovered the problem, so maybe it was a bug fix with connected shares? Grasping at straws here.

[2016-03-29 17:07] jrieken commented on #2047
@dbauemer Is this maybe due to marker ownership conflicts between a task and a language worker?

[2016-03-29 17:09] jrieken commented on #3797
It's a little big fixed... The true issue is in TypeScript-land and we have refrained from massaging their text edits. @alexandrudima tracks the issue on the TypeScript-side, tho unsure what the status is?

[2016-03-29 17:09] bpasero commented on #515
@thomastaylor312 that would be very nice, please try how it behaves for a while!

[2016-03-29 17:15] thomastaylor312 commented on #515
I'll keep trying for the next week and let you know if I see anything

[2016-03-29 17:19] iDev0urer opened #4762 "Feature request: allow extension developers to add items to menu"
I'd be surprised if this hasn't come up before, but if it has I haven't been able to find it. It would be extremely nice if extensions had the ability to create menus, both on the top of the screen as well as adding items to the context menu. This could be controlled through a separate .json file or by adding a section to the `contributes` section of `package.json`.

[2016-03-29 17:26] Tyriar commented on #4755
@bill-mybiz oh sorry, misread, didn't think it was a regression?

[2016-03-29 17:34] Tyriar opened #4763 "Navigate the folder explorer by typing folder name"
Similar to how file explorers/tree views work on most platforms, it would be convenient to be able to navigate through the folder explorer using a-z. For example:

- <kbd>ctrl</kbd>+<kbd>0</kbd> or click to focus sidebar
- Type "foo" in quick succession to go to the directory (in the current directory) starting with `/fo?o?/`, if it exists

[2016-03-29 17:40] seanmcbreen commented on #3555
Add comment about insiders release ready for testing.

[2016-03-29 17:40] #3555 closed

[2016-03-29 17:45] bgashler1 commented on #3362
@Tyriar We should use a native modal dialog, if possible.

[2016-03-29 17:48] Tyriar commented on #4438
Assigning to @joaomoreno as it seems to do with extensions.

[2016-03-29 18:03] nicolo-ribaudo opened #4764 "[scss] intellisense doesn't work with nested properties"
VSCode version 0.10.11

[code]

Intellisense suggests `font-family`, while it should only be `family`
![scss-intellisense-nested-property](https://cloud.githubusercontent.com/assets/7000710/14118305/3480f1b0-f5e9-11e5-8fe7-aaa628a50147.png)

[2016-03-29 18:21] ramondeklein opened #4765 "Warn the user if Code is run as root"
- VSCode Version: 0.10.11
- OS Version: OS X 10.11.4

Steps to Reproduce:

I have installed VSCode via the regular installer on OS X. I accidentally used VSCode in a sudo terminal session. Since then, I cannot install any plugins anymore. I have removed the `~/.vscode` and `~/Library/Application Support/Code`, but no luck. Reinstalling VSCode doesn't help :(

When I try to install an extension, th

[2016-03-29 18:27] mysticatea commented on #4696
Thank you.

#4696 is this issue. Just link to #4691.
I'm sorry, I hadn't found this in known issues since I mistyped "pallet".

Just information for people which are looking at this issue:

- "Configure locale" in v0.10.12-insiders but it was changed to "ロケールの構成" in v0.10.13-insiders.

[2016-03-29 18:34] bill-mybiz commented on #4755
@Tyriar Yeah I think I would consider it a regression, but I'm not sure if it would be a regression in VS Code per se or if it's something that breaks chalk and possibly others. I just know that for tracing asynchronous code, the console coloring has been a Godsend as I'm able to match interspersed log entries extremely efficiently.

[2016-03-29 18:35] ramondeklein commented on #4765
I found a similar issue on StackOverflow: http://stackoverflow.com/questions/36234643/cannot-install-extensions-in-visual-studio-code. A reboot seems to be the solution. Same here, but I'll leave this issue open, because rebooting OS X is not the most obvious task to do.

I tried running VSCode as root again to check if it would reproduce the problem, but it didn't. Sorry that I am not able to pro

[2016-03-29 18:40] darcome opened #4766 "F12 and CTRL + space for PHP functions and variables of classes written by me"
I'd really like to have intellisense and code completion (did I use the right words?) for php classes written by me and not only for the standard ones

Thanks in advance

[2016-03-29 18:47] v-pavanp opened #4767 "Not getting intellisense for predefined common variables in task.json and launch.json."
- VSCode Version:0.10.12-alpha
- OS Version: windows10

Steps to Reproduce:
1. Launch app and open any folder which contains .ts project
2. Add task.json file or select the node.js environment to generate launch.json.
3. Try to update the property value with predefined common variables like ${file},${cwd}, ${workspaceRoot} etc. in task.json or launch.json .
4. Verify intellisense should display fo

[2016-03-29 19:01] darrinm commented on #815
I got it working! Thanks T18970237136 for the start. This HTML hosts the editor when served from the 'out' directory VSC builds to:
[code]

[2016-03-29 19:20] dbaeumer commented on #4734
@MuhammadRashed I can't reproduce this using VSCode 0.10.11. Which JS file did you open?

It looks like you had the vscode workspace open. The workspace itself is configured for TS and not JS and if you opened a file in the out folder it could happen that too many files get loaded into the JS language server. We fixed this for 0.11.13.

Can you provide more details about a file that reveals the be

[2016-03-29 19:20] dbaeumer commented on #4734
@jrieken @egamma FYI.

[2016-03-29 19:41] v-pavanp opened #4768 "Error count is not showing up in the status bar when building TypeScript node.js project."
- VSCode Version: 0.10.12-alpha
- OS Version: WIndows10

Steps to Reproduce:
1. Create a TypeScript->Node.js->BlankConsoleApp in Visual Studio.
2. Launch VSCode and open project folder.
3. Configure tasks.json by selecting typescript setting.
4. Keep the default setting for tasks.json and compile the project with: CTRL+SHIFT+B.
5. Verify error message in the output window and status bar.

Actual:

[2016-03-29 19:47] SE2Dev opened #4769 "[c++] C & C++ Syntax Highlighting Issues"
- VSCode Version: 0.10.11
- OS Version: Windows 7

## Issue 1:
In the following code (using C++ syntax highlighting), the string literal(s) are not highlighted at all.
This issue is exclusive to C++ syntax highlighting and does not occur with C syntax highlighting.

#### Code:
[code]

#### Result
![Bug Screenshot](https://raw.githubusercontent.com/SE2Dev/VSCode-BugExample/master/resources/c-vs-cpp

[2016-03-29 19:56] andersekdahl opened #4770 "Fuzzy search to open file doesn't show most relevant suggestion first"
- VSCode Version: 0.10.11
- OS Version: Windows 8.1

![fuzzy](https://cloud.githubusercontent.com/assets/163637/14121605/7c85ea38-f5f8-11e5-8d02-cd2d1bd2f297.png)
As you see in the image, I've searched for `overlay/index` but the file I'm looking for is not the first suggestion even if there is only one file whose path fully matches what I've written. Changing `/` to `\` doesn't seem to matter.

B

[2016-03-29 20:14] sahas- commented on #4657
Thanks, that works.

[2016-03-29 20:14] felixfbecker commented on #4766
Working on it

[2016-03-29 20:17] felixfbecker commented on #4669
editorconfig already has this implemented (insert final new line)

[2016-03-29 20:18] felixfbecker commented on #4588
But emmet should not trigger inside `<?php ?>` blocks, only in the HTML sections

[2016-03-29 20:19] felixfbecker commented on #4578
I noticed this aswell. Always getting EPERM errors when updating/removing packages with VS Code running.

[2016-03-29 20:21] felixfbecker commented on #4540
Maybe something like an `.vscode/extensions.json`

[2016-03-29 20:21] Peter-Juhasz commented on #1959
Currently the whole concept is incorrect or incomplete. You place breakpoints onto a **statement** and not onto a line. A line can contain multiple statements, and lines are only presentation features of the source code (at least in most of the languages).

[2016-03-29 20:22] vsccarl opened #4771 "Inconsistent shortcut key translations in menu vs workbench"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10 / Ubuntu 15.10

Steps to Reproduce:
1. Change to another language, I used Spanish.
2. Hover over the Explorer/Search/Git/Debug icons on the left

Actual:
It is translating the shortcut word Shift. Elsewhere, such as the file menu, it is not translated.
![shortcuttranslation](https://cloud.githubusercontent.com/assets/12900364/14122547/14d641

[2016-03-29 20:24] weinand commented on #1959
@Peter-Juhasz correct. We accept PRs that fix this!

[2016-03-29 20:25] felixfbecker commented on #4406
Working on it

[2016-03-29 20:35] SamVerschueren commented on #4669
I know, I'm core contributor of the EditorConfig plugin but my plugin was created when extensions were still closed beta. And it seems that still some people prefer to not have a config file for this feature.

[2016-03-29 20:41] bpasero commented on #4578
What workspace setup? Please give me hints how to reproduce the locking.

[2016-03-29 20:42] Tyriar opened #4772 "Add extension deprecation and redirection"
Allow extensions to specify they are deprecated in their `package.json`, with an optional alternative extension(s) field. This setting can inform the user of the deprecation in-product, and if specified, potentially update to the new extension automatically without informing of the deprecation?

Related: https://github.com/Microsoft/vscode/issues/3670

[2016-03-29 20:42] SetTrend commented on #4705
@isidorn : Oops... I accidentally excluded the .vscode folder. Added it now to the repository.

@weinand : Nope, the suggested solution didn't help:

![debugerror](https://cloud.githubusercontent.com/assets/9283914/14123150/746dbd92-f5ff-11e5-8445-c43c7addf5b9.png)

[2016-03-29 20:46] drberg opened #4773 "Python hangs on timer.sleep in loops"
[Look here instead](https://github.com/Microsoft/vscode/issues/4776)

This can be deleted. I couldn't figure out how to do it myself.

[2016-03-29 20:48] pranjithkumar opened #4774 "typescript Syntax Highlighting Issues ?: operator"
- VSCode Version:0.10.10
- OS Version:windows 10

Steps to Reproduce:

1. type
       `var a              = ENV === 'dev' ? "a" : "b";`

2. " : " is consider as variable type

![err](https://cloud.githubusercontent.com/assets/2296934/14123335/a494c0b0-f61d-11e5-9974-2dc11a4de218.png)

[2016-03-29 20:50] digeff opened #4775 "Errors appear multiple time in the Errors and Warnings window"
- VSCode Version: 0.10.11
- OS Version: Windows 10 Enterprise

The button in the status bar says 2 errors 0 warnings which is correct. The popup shows a lot of times the same 2 errors. There is some disconnect there.

Steps to Reproduce:
I'm not sure how to reproduce it, although I'm guessing that the fact that my build task was a "watch" and it was giving the same errors multiple times helped.
I'

[2016-03-29 20:51] drberg opened #4776 "Python hangs on timer.sleep in while loop"
- VSCode Version: 0.10.11
- OS Version: OS X 10.11.4 (15E65) and Windows 10
- Python Version: 2.7.11

Steps to Reproduce:
1. Use this .vscode/tasks.json
[code]
2. Run this python code in VS Code
[code]
This will not print anything, and the VS Code will hang

(3.) This will work:
[code]

[2016-03-29 21:18] digeff opened #4777 "The preLaunchTask 'build' terminated with exit code 0. Why do I get this?"
- VSCode Version: 0.10.11
- OS Version: Windows 10 Enterprise

Why do I see this? Isn't 0 a "successful" exit code?

Steps to Reproduce:
I'm not sure how to reproduce it.
![image](https://cloud.githubusercontent.com/assets/14098140/14124165/f597f050-f5b8-11e5-95f6-05a6b23ef966.png)

[2016-03-29 21:21] gregvanl opened #4778 "Can't column select first character on a line if drag left"
- VSCode Version:0.10.13 insiders
- OS Version:Windows 10

Steps to Reproduce:

1. Open a file with characters without indenting
2. Set cursor to the right and try to column select moving mouse to the left
You can't select the first characters on lines.
You can select the first characters if you start on the first character and move the mouse to the right.

[2016-03-29 21:29] saml opened #4779 "Cannot pass environment variable that is already defined in shell's rc file."
- VSCode Version: 0.10.11
- OS Version: Ubuntu 14.04

Steps to Reproduce:

1. Export a variable in your default shell  (`~/.zlogin` for zsh;  `~/.bash_login` for bash, for example. You can use `.bashrc` as well).

[code]

2. Pass different value of the same variable to VSCode.

[code]

3.  VSCode uses value defined for login shell, not current session:

    Help > Toggle Developer Tools. And in Co

[2016-03-29 21:55] vsccarl opened #4780 "[Linux] Rearranging working files with a long path shows white box"
- VSCode Version: 0.10.12-alpha or 0.10.13-insiders
- OS Version: Ubuntu 15.10

Steps to Reproduce:

1. Add keybindings.json to your working files
2. Grab the file and drag it, as if you were going to rearrange the working files.

Actual:
Shows a white bar off the right of the file name since the path is too long. It appears that the length of the bar is related to the length of the full path.
![w

[2016-03-29 22:15] weinand commented on #4705
@SetTrend thanks for making the project available.

There a two problems with your setup:

1. `outDir` expects the folder where the generated code lives. For your project this is `${workspaceRoot}\\output\\js`.

2. the source map spec says: 'If the sources are not absolute URLs after prepending of the “sourceRoot”, the sources are resolved relative to the SourceMap (like resolving script src in a

[2016-03-29 22:32] vsccarl opened #4781 "Adding node_modules folder to .vscode directory causes hang"
- VSCode Version: 0.10.12-alpha
- OS Version: Ubuntu 15.10

Steps to Reproduce:

1. Open a Node.js project
2. If you haven't already, run npm install to generate the files under node_modules
3. In VS Code drag the node_modules directory to move it under .vscode directory
4. Wait a few seconds then the window will hang.

[2016-03-29 22:32] mquandalle commented on #4774
Reproduced in Version 0.10.13-insider.

[2016-03-29 22:38] bcmn opened #4782 "Documents created in VS Code don't appear in Open Recent"
- VSCode Version: 0.10.11
- OS Version: Windows 7

Steps to Reproduce:

1. Create a new file, save, and close.
2. Navigate to File > Open Recent. The newly-created file is not shown. Opening a second time  will cause it to be shown.

I may be pedantic, but this seems unintuitive.

[2016-03-29 22:41] vsccarl opened #4783 "System error after trying to move a folder out of .vscode directory"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. With a Node.js project, drag the node_modules folder to be under the .vscode directory
2. Try to move it back under the root folder

![directorymoveerror](https://cloud.githubusercontent.com/assets/12900364/14126283/b4fc1d44-f5c4-11e5-9007-b48aef028741.JPG)

[2016-03-29 23:37] nojvek commented on #4180
Oh I just saw that after doing an upgrade. This seems fairly recent. This really bought me a lot of joy when it worked.

[2016-03-29 23:49] TJSoftware commented on #1617
:+1: the `Ctrl-Space` was not expected.

Are there any others outside of markdown that require the use of `Ctrl-Space`?

Asking out of ignorance here, is this something that markdown files can be made into an extension like C# is an extension?

[2016-03-30 00:51] v-pavanp opened #4784 "Debugger is throwing error while trying to run prelaunch task from launch.json."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10
Setup:
Launch.json:
"program": "${workspaceRoot}/app.js",
			"preLaunchTask": "build",

Steps to Reproduce:
1. Create a Typescript node.js console app in Visual studio.
2. Launch VS code and open root directory.
3. Configure task.json with below entries and refer created task into launch.json.
      {
        "version": "0.1.0",
	"command": "

[2016-03-30 01:46] minggo commented on #4735
@isidorn Is there any clue of this issue? Please let me know if you need any more information. Thanks.

[2016-03-30 02:11] danielbber commented on #143
+1

[2016-03-30 02:12] zhouhao27 commented on #2726
In my package.json:

[code]

In my launch.json:

[code]

I'm wondering if I can debug "**npm start**", "**npm run debug**" or not?

[2016-03-30 03:06] Lonefy opened #4785 "Console only supports `zh-cn command` in 0.10.13-insider Win10(Chinese-Simplified)?"
- VSCode Version: 0.10.13-insider
- OS Version: win10

How can i  switch back to the `English commands` or the console can support both 'English' and 'Chinese'?When i'm coding, I have to switch the IME.
![image](https://cloud.githubusercontent.com/assets/7921431/14130287/67cf555e-f664-11e5-9c1d-072d51adf8d0.png)

![image](https://cloud.githubusercontent.com/assets/7921431/14130295/753ae82a-f664-11

[2016-03-30 03:24] saml commented on #4779
Looks like this is the place that resets envvars:

https://github.com/Microsoft/vscode/blob/25ce394231a63cad030c804460bd957a1102d14e/src/vs/workbench/electron-main/main.ts#L252-L256
[code]

https://github.com/Microsoft/vscode/blob/25ce394231a63cad030c804460bd957a1102d14e/src/vs/base/node/env.ts#L22
[code]

Do we really need to execute `$SHELL -c env` there?  Can we assume or check if `env` command

[2016-03-30 05:07] bpasero commented on #4180
It was always possible to edit the right hand side of the diff editor for git changes view.

[2016-03-30 05:15] websurfshop commented on #3600
@aioutecism  This one is actually usable with .12, way to go man!

[2016-03-30 05:40] darcome commented on #4766
Is there any way I can help you? maybe testing your work?

[2016-03-30 06:08] jandrieu commented on #4727
I was able to reproduce the problem.  The error is that the file is being emptied and saved, then saved again with the new content.  As expected it has nothing to do with dust.  Fortunately, I'm using fs.watch, so it was easy to isolate.  Here's the output of running the attached **watcher.js** script on the attached **watched.txt** file as I edit the latter (just adding/deleting spaces so sadly,

[2016-03-30 06:10] sindresorhus commented on #4708
npm does a lot of normalizations of package.json, meaning it supports a lot of shortcuts. Someone should probably go through this list https://github.com/npm/normalize-package-data#what-normalization-currently-entails and ensure it's all supported.

[2016-03-30 06:17] SamVerschueren commented on #4708
@sindresorhus Thanks for pointing to the docs. Will add it to my todo.

[2016-03-30 06:18] johnliu2016 commented on #4751
Cloned this issue to translation team for loc fix.

[2016-03-30 06:54] egamma commented on #4759
Do you have a problem matcher defined for the task?
Can you pls add you tsconfig.json and task.json.

[2016-03-30 07:02] joaomoreno commented on #4754
I'll add it. But we want it to be annoying, [because](https://github.com/msysgit/msysgit/releases).

[2016-03-30 07:06] joaomoreno commented on #4634
Closing as duplicate of #4438

[2016-03-30 07:06] #4634 closed

[2016-03-30 07:07] egamma commented on #4588
This appears to be standard emmet expansion behaviour, reproduced in other emmet integrations like sublime.

It would help to give users control to not bind emmet to the TAB key.

[2016-03-30 07:17] TeamGoTango opened #4787 "Code folding does not appear if code is not properly formatted"
- VSCode Version:0.10.11
- OS Version: Windows 7 Enterprise, Service pack 1

Steps to Reproduce:

//paste this code ( GO ), code folding stops working for all code after it.
func recursiveSum(array []int) int {
	return sumRecursive(array, 0, len(array)-1) //no space before and after -
}

//code folding starts to work if re-written as [ notice the space after len(array) ]
func recursiveSum(array []

[2016-03-30 07:21] bpasero commented on #4691
Related: https://github.com/Microsoft/vscode/issues/1964

[2016-03-30 07:23] alexandrudima commented on #4754
I like how you use because :). Because internet :).

[2016-03-30 07:25] leegee opened #4788 "This window is no longer responsive (on paste of 300 lines)"
- VSCode Version: 0.10.11
- OS Version: Microsoft Windows [Version 10.0.10586]

This is more of a crash report than a bug report. Perhaps it should be a feature request for optional automated crash reporting...?

I have a Node JS project open, running smoothly for a week or so, loving the editor.

7 'working files', all small.

Pasted 350-odd lines of console output into a new, blank document, and

[2016-03-30 07:41] dbaeumer commented on #4759
@v-pavanp from the screen shot it looks like the tsconfig.json file sits inside the .vscode folder. It must sit in the root in this example.

[2016-03-30 07:42] dbaeumer commented on #4759
@v-pavanp please ping if moving the tsconfig.json to the workspace folder doesn't solve the problem. Then please attach the workspace folder.

[2016-03-30 07:43] dbaeumer commented on #4751
@johnliu2016 thanks!

[2016-03-30 07:45] dbaeumer commented on #4755
@bpasero I think this is the output window.

[2016-03-30 07:45] vscodeerrors opened #4789 "Uncaught Error: Not supported"
Issue Id: <b>03f6aac6-3d9c-f3b7-932f-3d5014148a26</b><br /><br />*Versions* <br />- 0.10.12-insider<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />*Stack* <br />Error: Not supported<br />[/vs/editor/common/viewModel/splitLinesCollection.ts#L109:9](https://github.com/microsoft/vscode/blob/ef2a1fcaa553d14d7731b284a5ac5e4a55c42936/src/vs/editor/common/viewModel/splitLinesCollection.ts#L109:9)<

[2016-03-30 07:46] bpasero commented on #4755
https://github.com/Microsoft/vscode/issues/4616

[2016-03-30 07:46] #4755 closed

[2016-03-30 07:47] vscodeerrors opened #4790 "Uncaught Error: Not supported"
Issue Id: <b>03f6aac6-3d9c-f3b7-932f-3d5014148a26</b><br /><br />*Versions* <br />- 0.10.12-insider<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />*Stack* <br />Error: Not supported<br />[/vs/editor/common/viewModel/splitLinesCollection.ts#L109:9](https://github.com/microsoft/vscode/blob/ef2a1fcaa553d14d7731b284a5ac5e4a55c42936/src/vs/editor/common/viewModel/splitLinesCollection.ts#L109:9)<

[2016-03-30 07:48] #4789 closed

[2016-03-30 07:50] dbaeumer commented on #4750
@bpasero I marked it as a candidate to translate the string.

@bpasero & @isidorn what is your advice. What is the harm caused by translating it. It is not clear to me from the last comments.

[2016-03-30 07:53] mucsi96 commented on #4639
+1

[2016-03-30 07:56] mucsi96 commented on #4639
@Treri Is VSCode reading from keybindings.osx.json file directly? Or you have to rename it manually to keybindings.json on OSX?

[2016-03-30 07:58] Treri commented on #4639
@mucsi96 I just soft link **keybindings.osx.json** to **keybindings.json**

[2016-03-30 08:01] egamma commented on #4787
This is as designed, the code folding is based on indentation.

Semantic based/AST based code folding is on the backlog

// @aeschli

[2016-03-30 08:03] haisum commented on #55
Check this post on reddit by author of sublime text on how they totally nail it https://www.reddit.com/r/programming/comments/4cfz8r/reverse_engineering_sublime_texts_fuzzy_match/

[2016-03-30 08:08] raphael2711 opened #4791 "How get my own and exsiting CompletionItems in vscode"
- VSCode Version:0.10.11
- OS Version:

I try to get my own and all exsiting Completion Items.
I create a plugin and implemant the Completion Items Provider.
But my problem now is that i only can see my created item.

provideCompletionItems(document: vscode.TextDocument, position: vscode.Position, token: vscode.CancellationToken): Promise<vscode.CompletionItem[]>
    {
        return new Promise((

[2016-03-30 08:14] haoliangwu commented on #4070
hi all,

I encounter the same issue seems like this.

When I started debugging at the first time(with F5), then error message didn't display. Then if I try to reconnect to debug instance(with Ctrl + Shirt + F5), the error message display.

I defined a task that compiles code from ES6 to ES5 and added it to `preLaunchTask`. Via "F1->Tasks: Run task" there is no problem.

something like this:
![_007

[2016-03-30 08:16] egamma commented on #3964
you can customize your keybindings by adding the following

[code]

[2016-03-30 08:19] isidorn commented on #4070
Do you have some errors shown in the lower right corner of your screen?

[2016-03-30 08:22] mucsi96 commented on #4639
I see.Thanks @Treri

[2016-03-30 08:25] dbaeumer commented on #4758
This is not supported right now. What would be cool is if you select the task in the quick box if you could provide params there. But this filters right now.

[2016-03-30 08:28] dbaeumer commented on #4749
Dups: #4613

[2016-03-30 08:28] #4749 closed

[2016-03-30 08:30] alexandrudima commented on #612
fyi @egamma
One idea I had was to copy-paste the rule and prefix the command with a minus:
[code]

[2016-03-30 08:31] bpasero commented on #55
@haisum thanks so much for sharing, what a coincidence that I am currently looking into improving our scoring algorithm.

Note however that this is not really talking about how to make find in files fast, rather how to score the results for the quick open box.

[2016-03-30 08:34] isidorn commented on #4750
@dbaeumer the potential harm by translating this is that we use that label as the id we store for the active channel. There might be some consequences before the first input of some channel comes to the user.
All in all if you decide to translate this and ship as part of 1.0 please test that nothing gets broken in output switching by starting vscode in one language and then starting it in another

[2016-03-30 08:35] weinand opened #4792 "Support paging of stack frames"
Currently we show only a fixed number (20) of frames of a stack trace.
We should improve this in the following way:
- in the CALLSTACK view show a 'more' affordance at the bottom of the stack trace if there are more frames available than the PAGESIZE specifies.
- pressing 'more' loads another PAGESIZE frames.
- if there are no frames available no 'more' affordance is shown.
- the PAGESIZE value ca

[2016-03-30 08:35] #4726 closed

[2016-03-30 08:36] haisum commented on #55
@bpasero  yup I checked, it's not in much depth but I thought it may help in getting some perspective.

[2016-03-30 08:36] dbaeumer commented on #4618
@joaomoreno: actually the TS protocol contains the information about rest arguments. They have a isVariadic property on the SignatureHelpItem. May be we should expose something like this in our API. Simply saying we are on the first parameter is not correct from a caller perspective.

[2016-03-30 08:36] isidorn commented on #4726
Good catch.

To verify, have a prelaunchTask that produces an error. Try to debug, after an error is detected close action should stop debugging, continue action should start debugging.

[2016-03-30 08:39] hulang opened #4793 "Release version 1 tomorrow?"
https://github.com/Microsoft/vscode/wiki/Roadmap
I saw this.

[2016-03-30 08:43] dbaeumer commented on #4618
We could for example extend ParameterInformation in the vscode.d.ts with the variadic property. Then the UI could handle cases like too many parameters and rest parameters when rendering the signature help.

[2016-03-30 08:43] dbaeumer commented on #4618
@jrieken what is your take on this?

[2016-03-30 08:45] isidorn commented on #4735
@minggo @weinand package.json looks good to me as well. Our node debugger is using the same principal and all works fine.
There are no specific requirments on Windows.

Are you sure that path exists on your machine?
What happens if you open command prompt and do the following
[code]

[2016-03-30 08:47] bpasero commented on #4750
From the screen shot it looks that one channel was already translated (the "Extensions" output channel)? So we already ship with this, I suggest to translate them all (including the "Git" one).

[2016-03-30 08:48] weinand commented on #4792
@isidorn I've added paging support to the debug protocol, vscode and node-debug.

[2016-03-30 08:50] haisum commented on #55
Let me know if I am link spamming here but I think this also seems relevant example. https://github.com/wincent/command-t/blob/master/doc/command-t.txt. It's open source and super fast vim plugin for file searching.

[2016-03-30 08:52] dbaeumer opened #4794 "Output channel should support id and display name"
In addition it would be nice if we change the API to have a Channel object. When calling Append on it it happens the message. I often forget the first arg which is the id right now.

[2016-03-30 08:53] dbaeumer commented on #4794
@bpasero FYI.

[2016-03-30 08:53] dbaeumer commented on #4750
Talked to @egamma  and decided not to translate those for 1.0 since we don't understand the consequences.

Opened #4794

[2016-03-30 08:53] #3818 closed

[2016-03-30 08:54] bpasero commented on #3818
I introduced an extra boost of +5 points for consecutive matches in a string. Other scorers seem to do that to boost those matches higher over others.

[2016-03-30 08:54] bpasero commented on #4794
:+1:

[2016-03-30 08:55] bpasero commented on #55
No worries, keep 'em coming :+1:

[2016-03-30 08:56] bpasero commented on #4770
@andersekdahl I would be interested in getting access to the workspace for me to reproduce this, if possible?

[2016-03-30 08:56] weinand commented on #4735
@iamchenxin  who generates the message `DebugAdapter bin folder not found on path`? This makes no sense because why should a 'bin' folder on the path?

[2016-03-30 08:58] minggo commented on #4735
Sorry, it is my fault. Because my Windows machine hide file types, so i copied `cocosFXDebug.js.map` into extension.

[2016-03-30 08:58] #4735 closed

[2016-03-30 09:01] isidorn commented on #4735
@weinand we generate that message on the vscode side. I agree we should improve the message, how about
`Debug adapter not found on the following path: {0}`

[2016-03-30 09:01] arktas79513 opened #4795 "Expand selection functionality issues"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:
1. Create statement which assigns some value to nested property like  `scope.vm.renderSettings = {};`
2. Put cursor into `renderSettings`
3. Execute command `editor.action.smartSelect.grow`

Expected behavior:
`renderSettings` part would be selected
![exp](https://cloud.githubusercontent.com/assets/5990013/14137038/988b602a-f6

[2016-03-30 09:08] andersekdahl commented on #4770
I don't think that possible unfortunately. I'll see if I can create an isolated workspace to reproduce it and share that.

[2016-03-30 09:09] weinand commented on #4735
@isidorn "not found on the path" is misleading because it sounds like "not found on the search PATH that you should configure in your profile". We should just say: `Debug adapter executable '{0}' not found`

[2016-03-30 09:10] joaomoreno commented on #4438
Just installed CentOS 7. All seems to work fine.

<img width="916" alt="screen shot 2016-03-30 at 11 09 36" src="https://cloud.githubusercontent.com/assets/22350/14137397/ef9c6fd2-f667-11e5-87df-3e588f1fbf57.png">

[2016-03-30 09:14] #4188 closed

[2016-03-30 09:14] Unkulunkulu commented on #4039
It would be nice to have a separate "respect document indentation" setting instead of using "auto" values in the indentation settings. This would allow me to set defaults for new documents but still respect whatever's already used on existing ones.

So instead of this:

[code]

We would have:

[code]

And then if I open an existing document with tab indentation, I wouldn't end up with mixed indent

[2016-03-30 09:16] bpasero commented on #4727
@jandrieu I can reproduce with VS Code and other editors that use node for writing the file. It looks like the basic file watching facility in node.js on Linux reports 2 change events when writing to a file (see https://github.com/nodejs/node/issues/3042) and the first time you read from the file it is likely empty and only after gets the content filled in.

Are you able to switch to a better file

[2016-03-30 09:18] bpasero commented on #4770
@andersekdahl thanks. I just pushed a fix for our scorer and was wondering if it fixes this issue too. That would help me to verify quickly.

[2016-03-30 09:20] andersekdahl commented on #4770
I can't seem to reproduce it in another workspace. Can I get access to a build with your fix to test if it solves the issue?

[2016-03-30 09:26] andersekdahl commented on #4770
Is it this commit 914716033fb45fd437b89008bad1ecd0b5a38bf8? Building from source on that commit now.

[2016-03-30 09:28] egamma commented on #4793
pls see #3555

[2016-03-30 09:28] #4793 closed

[2016-03-30 09:36] bpasero commented on #4770
@andersekdahl yes, that one will boost scores higher for consecutive matches. I would assume "Overlay" to be #1 after that change.

[2016-03-30 09:37] jrieken commented on #4618
Yeah, needs thinking but why not. Assigning to me and adding the API tag

[2016-03-30 09:40] jrieken commented on #4791
@raphael2711 By _all existing Completion Items_ do you mean the default textual completions?

[2016-03-30 09:41] andersekdahl commented on #4770
Can't build from source unfortunately, I have VS 2015 but I'm missing `cl.exe` and don't have a VS setup file to run to install it. Could you comment on this issue when your commit is in a public release?

[2016-03-30 09:44] hulang opened #4796 "关于jQuery，能否像Visual Studio 里面使用一样强大"
在使用Visual Studio 10+写js代码使用jQuery非常方便
目前需要扩展才能使用，能否不扩展，默认支持。。

[2016-03-30 09:46] #4709 closed

[2016-03-30 09:52] #3974 closed

[2016-03-30 09:59] weinand commented on #4792
@isidorn backward compatibility: if `StackTraceResponse` has no `totalFrames` attribute, fall back to old semantics, that is do not show 'more' button.

[2016-03-30 10:04] #4678 closed

[2016-03-30 10:04] bpasero commented on #4770
@andersekdahl building a version of it now that I can share to you.

[2016-03-30 10:15] Ciantic commented on #612
@alexandrudima Isn't the "unneccessary" in there?

[code]

Would be sufficient I think.

[2016-03-30 10:19] #3655 closed

[2016-03-30 10:20] bpasero commented on #4770
@andersekdahl try with https://az764295.vo.msecnd.net/alpha/e261525aad152779f5fda7c253a0f62d92a529ff/VSCodeSetup-alpha.exe

[2016-03-30 10:29] isidorn commented on #4777
Looking at the code [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L557). This should be immposible on latest.
Can you please try to reproduce this on latest insiders - 0.10.13-insider.

If you can please find repro steps I will gladly reopen this bug

[2016-03-30 10:29] #4777 closed

[2016-03-30 10:31] andersekdahl commented on #4770
That seems to fix it, thanks!

There are still some other things though. Typing `overlayindex` (without slash) gives me the same behaviour as the image I posted. And searching for just `overlay` gives me matches for two files named `overlay.xxx` but no match at all for files in the folder `Overlay`. The search seems to heavily promote search hits in file names and not the paths.

[2016-03-30 10:33] isidorn commented on #4784
This behavior is as expected, for some reason you preLaunchTask exited with error code 1 - which means there was an error. Though in some cases you might still be able to debug, thus we present the `Continue` action.

You probably tried running the task multiple times - thus there are two entries in the output.

If you want to understand the true cause of your issue, you should investigate why you

[2016-03-30 10:33] #4784 closed

[2016-03-30 10:38] bpasero commented on #937
I cannot reproduce.

[2016-03-30 10:38] #937 closed

[2016-03-30 10:39] bpasero commented on #4770
@andersekdahl that is totally true yeah. actually I am running the scorer first over the file name and then over the file path to naturally promote file matches over path matches.

[2016-03-30 10:41] bpasero commented on #4770
@andersekdahl I am still wondering why you would not get any match in "overlay" though for files that live in that folder.

E.g. in this workspace I have a folder "lib" and can search for files within:

![image](https://cloud.githubusercontent.com/assets/900690/14139673/c0331892-f674-11e5-8708-82e17b4ecd13.png)

[2016-03-30 10:50] andersekdahl commented on #4770
Yeah it's hard to tell. Like I said, I couldn't reproduce it in a test workspace. Could it have something to do with the size of the workspace?

[2016-03-30 12:50] henry-kr opened #4797 "Word Wrap isn't working on very long lines."
- VSCode Version: .10.11
- OS Version: Win 8 (6.1.7601)

Steps to Reproduce:

1. open a .txt file where the lines are wrapping.  The lines are very long (between 1,000 chars and 1,500 chars).
2. click on toggle word wrap.  you'll see nothing happens whereas I'd expect the wrapping to stop happening.

[2016-03-30 13:14] joaomoreno commented on #423
Treating this as duplicate of #637. Sorry for closing this earlier one.

[2016-03-30 13:14] #423 closed

[2016-03-30 13:15] bpasero commented on #4239
@isidorn I added a new broadcast you should listen to: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/thread/electron-browser/threadService.ts#L29

[2016-03-30 13:15] bpasero commented on #4770
@andersekdahl good point, there is an actual limit of results in quick open.

[2016-03-30 13:15] #4410 closed

[2016-03-30 13:17] isidorn commented on #4410
For now I only added comments for 'Tab size'.
I will add more comments as we find places where the meaning is uncelar for the translators. That feels to me like a better approach than going through the code and figuring out where it is clear and where not.

[2016-03-30 13:18] joaomoreno commented on #637
Let me present what I call the **Global Extensions Viewlet** solution.

[![image](https://cloud.githubusercontent.com/assets/22350/14143068/87c505e6-f689-11e5-9064-3a3e498793a7.png)](https://moqups.com/mail@joaomoreno.com/MD4BIKB5)

The idea is to use the sidebar area to manage your extensions.

- Similar to viewlets you can get into it by clicking an icon in the activity bar.
- Contrary to viewle

[2016-03-30 13:22] bill-mybiz commented on #4616
@bpasero I am not sure what y'all mean when you say a 1.0 candidate. I noticed this currently in the insiders release. Will this be fixed before the next actual release after 0.10.11?

[2016-03-30 13:53] bpasero commented on #4616
@bill-mybiz will be fixed post 1.0 release, end of March likely.

[2016-03-30 13:53] bpasero commented on #4616
And you can always configure to use an external console in the launch.json to get the full ASNI support in.

[2016-03-30 14:25] Tyriar commented on #4438
Deleting `.vscode` and `.vscode-insiders` seemed to fix the issue for the user.

[2016-03-30 14:29] Tyriar commented on #637
Any reason in particular that the extension would not display in the editor view? There is a lot of good content/images in many extensions that will barely fix in the sidebar.

[2016-03-30 14:29] Tyriar commented on #3356
Duplicate of https://github.com/Microsoft/vscode/issues/637

[2016-03-30 14:29] #3356 closed

[2016-03-30 14:30] daviwil commented on #637
Looks cool!  Don't you already have an extension's README in its Marketplace metadata?  Seems like you could just automatically show the README for any of the selected extensions, but maybe I'm missing something there.

[2016-03-30 14:31] jpierson opened #4798 "Step Into (F11) steps into transpiled JavaScript when debugging TypeScript that uses async/await"
- VSCode Version: 0.10.11
- OS Version: Windows 10
- Node Version: 4.2.2
- TypeScirpt Version:

Steps to Reproduce:

1. Set a break point on a line of TypeScript code in an async function that uses the await keyword on the Promise result of another async function. Example: `const result = await callMyApi()`.
2. Start debugging in VS Code by selecting a related launch profile in a TypScript project

[2016-03-30 14:33] Tyriar opened #4799 "Add processes and protocols information to architecture wiki page"

[2016-03-30 14:47] yussica opened #4800 "intellisense in html files"
- VSCode Version:0.10.11
- OS Version:OS X 10.10.5

When I edit a html file with some javascript code, there is no intellisense. But the previous version does have the intellisense. For instance, I typed 'aler', vscode would popup a list to choose. In the latest version html file only intellisense html tags

[2016-03-30 14:48] bpasero commented on #4770
Marking as closed, given the initial report seems fixed.

[2016-03-30 14:48] #4770 closed

[2016-03-30 14:48] #3614 closed

[2016-03-30 14:51] andersekdahl commented on #4770
Fine by me, I'll see if I can create test cases for the other things I mentioned and open new issues if I can.

[2016-03-30 14:52] andersekdahl commented on #4770
Thanks for the quick replies btw!

[2016-03-30 14:54] bpasero commented on #4770
np :+1:

[2016-03-30 14:59] bpasero commented on #4642
The easy workaround for anyone hitting this is to just exclude with **/*.js.map: true

[2016-03-30 15:05] joaomoreno commented on #637
That would go into the same problem that we have for settings. Doing so would take an editor away, and you'd have to manually restore the state after you're done with extensions. It's sad that it happens with configuration settings today and we definitely don't want to go the same way with this.

[2016-03-30 15:12] jrieken commented on #637
I'd go a step further and not allow editors or (debug) output windows while managing extensions (or for the future managing aspect of the product, like settings, keybinding etc.) My reasoning is that managing the product and coding (typing, searching, debugging) are two fundamentally different tasks that deserve separation.

Our workbench is optimised for the `coding`-task with the 3-level parent-

[2016-03-30 15:17] daviwil commented on #637
+1, looks great!  What tool are you guys using for these mockups!

[2016-03-30 15:18] jrieken commented on #637
Credits to @joaomoreno  for finding: https://moqups.com/

[2016-03-30 15:47] bill-mybiz commented on #4616
@bpasero It sounds like it will be fine to use the external console. I'm still at a loss as to the 1.0 timeline...VS code is going from 0.10.11 to 1.0? Also, you are aware it is the end of March already? :-O

Regardless, I really appreciate all of the VS Code team's hard work and actively addressing issues such as these. :+1:

[2016-03-30 15:59] Tyriar commented on #4691
Another user who wants either English back or supports English in addition to their native language. https://github.com/Microsoft/vscode/issues/4785

[2016-03-30 15:59] Tyriar commented on #4785
Duplicate of https://github.com/Microsoft/vscode/issues/4691, thanks for the report :)

[2016-03-30 15:59] #4785 closed

[2016-03-30 16:03] Tyriar commented on #4783
This might be to do with node hitting the max path length on Windows.

[2016-03-30 16:10] bpasero commented on #3062
@ianwesterfield @ironcladlou @isinbahadir  to be clear, you would still want the working files to reveal the active file but not the folder view below?

[2016-03-30 16:13] bpasero commented on #4616
@bill-mybiz sorry, I meant to say "end of April". We plan to release 1.0 (our next release) later in April, but have closed already for fixes.

[2016-03-30 16:20] Tyriar commented on #4780
I can reproduce this on Ubuntu, only on truncated working files entries. Doesn't seem to reproduce in a minimal example https://output.jsbin.com/gatovemeha/edit/

[2016-03-30 16:34] Tyriar commented on #4779
@bpasero @joaomoreno any comment on why this is used over `process.env`? I just fixed an issue with it recently because multi-line variables weren't working.

[2016-03-30 16:37] #4438 closed

[2016-03-30 16:37] #4773 closed

[2016-03-30 16:43] alefragnani opened #4801 "Define compatible platform for extensions"
It would be interesting to be able to define the platforms (Windows, Linux, Mac) that an extension is _compatible_, and then, be filtered in `Command Palette`, to present only the compatibles.

Sometimes the extension is developed explicit for specific platforms, and sometimes it is not ready (yet) for all platforms, or present temporary issues, and could be _turned off_ until it is fixed.

Thanks

[2016-03-30 16:44] kyberias commented on #4690
C:\Users\jaakk_000>where git
C:\Users\jaakk_000\AppData\Local\Programs\Git\cmd\git.exe

[2016-03-30 16:44] Tyriar commented on #4766
We defer to extension developers for rich PHP development right now, closing this off.

[2016-03-30 16:44] #4766 closed

[2016-03-30 17:00] bpasero commented on #4431
Will be addressed in https://github.com/Microsoft/vscode/issues/3998

[2016-03-30 17:00] #4431 closed

[2016-03-30 17:01] bpasero commented on #4252
Will be addressed in https://github.com/Microsoft/vscode/issues/3998

[2016-03-30 17:01] #4252 closed

[2016-03-30 17:01] bpasero commented on #1766
Will be addressed in https://github.com/Microsoft/vscode/issues/3998

[2016-03-30 17:01] #1766 closed

[2016-03-30 17:03] bpasero commented on #4788
I am not able to reproduce. Can you try with our latest insider build?

[2016-03-30 17:05] bpasero commented on #4782
The list of "File > Open Recent" is being populated from interactions from outside VS Code into vs code (e.g. drag and drop, terminal, open with) or using the native file dialog, not from actions within vs code. I assume the second time you open the file you used the native file dialog to open the file.

[2016-03-30 17:09] bpasero commented on #4780
Lets hope this gets fixed with future Chrome updates.

[2016-03-30 17:11] bpasero commented on #4783
@vsccarl can you check for the max path length? can you give me access to the workspace? did you run any task in the background or in vs code that could lock the node modules folder?

[2016-03-30 17:19] remcoros opened #4802 "TextDocument.insert unintentionally moves cursor to end of file when ..."
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

See: https://github.com/editorconfig/editorconfig-vscode/issues/40 for more info and a screenshot
1. Install editorconfig extension and create a .editorconfig file
2. set insert_final_newline = true
3. enable auto-save in vscode (using a delay)

This issue only occurs when the cursor is at last line, last character of the fil

[2016-03-30 17:32] SamVerschueren commented on #4802
Don't need to set `auto-save` to test this. Just make sure `insert_final_newline` is set to `true` in `.editorconfig`. Create a new file. Type in some lines and make sure the cursor is at the end of the file( the last position possible) and save the file. Cursor will jump to the next line.

// cc @alexandrudima

[2016-03-30 17:33] bcmn commented on #4782
I see. Yeah, I was using the file dialog to open the file. To clarify -- the issue wasn't with the method of opening the file, but that saving a new, from-scratch file through the file dialog doesn't add to the Open Recent list.

[2016-03-30 17:41] remcoros commented on #4802
This might have something to do with the handling of the "virtual" last line. It's not a real line until it has content and it's own line ending. But from an editor's perspective, it is an empty line to render and show.

[2016-03-30 17:41] ironcladlou commented on #3062
IMO, yes. I have no issue with the active file being highlighted in the working files section, but for the folder view below, I expect:

1. A way to keep the folder view static regardless of my working file
2. A command to reveal the current working file in the folder view

[2016-03-30 18:04] vsccarl commented on #4783
@bpasero The max path that I found is 146 characters. I uploaded the project here [https://github.com/carltosc/nodejsSample.git](url) with the folder 'stuck' in .vscode. There weren't any tasks running that should have locked the folder. I can give you access to my machine if you need also.

[2016-03-30 18:06] bpasero commented on #4782
@bcmn I am not sure I can follow, if in Sublime Text I save an untitled file, it does not appear under File > Recently opened.

[2016-03-30 18:10] bpasero commented on #4783
@vsccarl and when you restart vscode, can you move the folder around? I cannot reproduce...

[2016-03-30 18:18] vsccarl commented on #4783
@bpasero I installed the latest alpha updates and it was still reproducible. Restarting after allowed me to move it out of the .vscode directory. But now trying to move it to another directory gives the same issue.

[2016-03-30 18:26] bcmn commented on #4782
@bpasero Okay, its an arbitrary UI choice, then! Up to you. Displaying under Open Recent would seem most common (enough that I assumed it was an issue), and certainly more consistent with other Microsoft programs -- Visual Studio, Office suite, etc.

(I did say it was pedantic!)

[2016-03-30 18:35] Tyriar commented on #2690
@SofianHn if you get a chance could you point me at where the OS metrics are gathered?

[2016-03-30 18:43] AltekkeE commented on #4658
Looks like it came back in 0.10.13 ??

[2016-03-30 18:52] pcgeek86 commented on #3422
Definitely need this resolved for PowerShell

[2016-03-30 18:56] bpasero commented on #4782
@bcmn ok I am not familiar how Visual Studio behaves here. We do show recent files you open within VS Code in quick open (Ctrl+P) as well as quick navigate (Ctrl+Tab), maybe you could get used to that?

[2016-03-30 18:57] bpasero commented on #4783
@vsccarl maybe the move operation is not fully finished when you try a second time? can you run with ProcMon to see when the file operations are done and then do the move after it is done?

[2016-03-30 18:59] raphael2711 commented on #4791
Yes i mean the default  textual completions.

[2016-03-30 19:04] daslicht commented on #2086
Nope, not yet but I can push it, until that which files would you else need to look at else then above ?
Thank You !

[2016-03-30 19:12] TimTheTinker commented on #1060
This may accomplish vertical text selection, but I think what the community wants is rectangular selection (of which multiple adjacent insertion-point cursors on the same column is a subset)

[2016-03-30 19:13] brennanMKE opened #4803 "Add support for swipe gestures on Mac"
- VSCode Version:
  Latest
- OS Version:
  OS X 10.11

Steps to Reproduce:
1. Use VS Code's forward and back navigation hot keys
2. Try to do the same by swiping left and right

On a Mac the Safari web browser can use the forward and back buttons to go back and forth with web pages. I do this with VS Code using hot keys when working with various files. I navigate forward by clicking through functi

[2016-03-30 19:14] #4239 closed

[2016-03-30 19:39] egamma commented on #1060
This is now support in the insiders build https://code.visualstudio.com/download?insiders=true
pls see: https://code.visualstudio.com/download?insiders=true

[2016-03-30 19:58] bgashler1 commented on #4748
Thanks for catching this.  Will get on it.

[2016-03-30 20:01] bgashler1 commented on #4502
Good find, @jrieken .  This is not the only color that I've heard from users is in need of some tweaking.  I will enhance the contrast.

[2016-03-30 20:03] bgashler1 commented on #4306
We're thinking of doing some notification work in the future (i.e. a unified area for notifications).  This will address many other related issues with notifications.

While we wait to get that in the product, I can provide a temporary solution for this.

[2016-03-30 20:57] xeoneux opened #4804 "Unable to format CSS code files"
- VSCode Version: 0.10.11
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. Open any CSS file.
2. Press `Shift` + `Option` + `F`

[2016-03-30 21:06] stevencl commented on #637
I like the idea of having a higher level affordance that you can use to switch between coding and management. We might want to consider positioning the affordance at the top of the sidebar though for a couple of reasons:

1. In Monaco we found that many people overlooked the area at the bottom of the sidebar when looking for key functionality
2. Since conceptually the affordance is described and t

[2016-03-30 21:08] xeoneux commented on #4803
In that case, managing horizontal scroll might be a problem. Swipe gesture could be supported when `Command` or `Control` key is pressed perhaps?

[2016-03-30 21:14] vsccarl opened #4805 "Git clean with a large amount of files causes hang"
- VSCode Version: latest alpha
- OS Version: Windows 10

Steps to Reproduce:
1. After working through this #4783 I removed then re-added my node_modules folder from .gitignore
2. Go to the Git tab and clean all (266 files in my case)

Actual:
Caused VS Code to hang

[2016-03-30 21:17] justin-romano commented on #55
You guys thought about using something like lucene to do that sort of
pattern matching? Just index all the source in the background. Pretty quick
and portable (but we don't use it for source indexing)

On Wed, Mar 30, 2016 at 9:55 PM, Benjamin Pasero <notifications@github.com>
wrote:

--
Justin Romaine
Senior Systems Architect
Spark Dental Technology
justin.romaine@gmail.com
ph 021 764 506
hm 09 4

[2016-03-30 21:28] Tyriar commented on #2480
Another issue with using a wiki over a repository; images need to be uploaded somewhere separate from the wiki as GitHub doesn't support images on the wiki like in issues. https://github.com/Microsoft/vscode/issues/4799

[2016-03-30 21:36] Tyriar commented on #2480
@Microsoft/vscode is anyone opposed to including the documentation in the main repository under `./docs` (or `./doc`, `./documentation`, etc.) and turning off the wiki all together? This would help fix these issues with the wiki and potentially also improve the visibility of the developer documentation.

It can still have roughly the same structure:

- `./docs/welcome.md`
- `./docs/project-managem

[2016-03-30 21:38] Tyriar commented on #2480
One problem with doing this is that the table of contents would be manual.

[2016-03-30 21:48] Tyriar commented on #637
I liked Bracket's extensions UX, they have a button on the top-right which opens up a modal dialog with extension/theme search. Regardless of the direction we go, the presence of a button on the UI will make extensions much more convenient and accessible.

[2016-03-30 21:52] Tyriar commented on #4306
When considering the future direction, remember that differentiating green and red is one of the biggest color blindness problems.

[2016-03-30 21:56] parliament718 opened #4806 "[html] Prevent single line auto-formatting for html attributes"
Is there any way to prevent Visual Studio form auto-formatting html onto one line?

For example

[code]

Gets auto-formatted to:

[code]

This seems unreasonably opinionated, especially since many frameworks these days take advantage of element attributes. It's not nice to have 5+ attributes on one line and is the reason I've avoided auto-formatting my html, as much as I would REALLY like to be ab

[2016-03-30 22:50] vsccarl opened #4807 "[Latest alpha] Debug loading indefinitely after creating launch.json for node.js"
- VSCode Version: Latest alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Using the latest alpha, clone https://github.com/heroku/node-js-sample.git
2. Run npm install
3. Open folder in VS Code
4. Go to Debug tab and generate the Node.js launch file

Actual:
Debug shows loading bar underneath and cant debug until restarting VS Code

[2016-03-30 23:25] jandrieu commented on #4727
Unfortunately, chokidar is worse. =(

I modified the example code I gave earlier to use Chokidar.  It did reduce the # of events to one per file edit (which is better), but it was hit or miss whether or not the resulting read of the file included the contents of the file (which made it inconsistent).

I wrote a small script to automatically change my target file using node:
[code]

So... the good

[2016-03-30 23:54] bgashler1 commented on #4147
@isidorn thanks for sharing your thoughts on this.  The icon is consistent with the icon in VS for extensions, so we will probably leave it unless we hear from users that it's not clear.  We should definitely keep an eye out for this kind of feedback during the Insiders release when we get the viewlet in the product, and we can respond quickly to that.

While we work out the viewlet ideas, I will

[2016-03-30 23:59] bgashler1 commented on #4111
Since we will be improving the extension experience soon and notification experiences, this shouldn't be any concern pretty soon.  I propose we leave this the way it is. Closing unless there are objections.

[2016-03-30 23:59] #4111 closed

[2016-03-31 00:09] bgashler1 commented on #637
These are some excellent ideas.  I think making management (settings, themes and extensions) as a mode of the product is a wise choice, because it would allow you to leave your editors all intact.  It also gives us more real estate and a neater, more consistent place to render these views.

[2016-03-31 00:12] bgashler1 commented on #4111
Related to #637

[2016-03-31 00:31] bgashler1 commented on #3962
Totally agree.  I think this will address your concern.

![correctedicon](https://cloud.githubusercontent.com/assets/11839736/14162037/26983932-f69d-11e5-863d-5e171ae77fe7.png)

[2016-03-31 00:53] bgashler1 commented on #3502
Agreed this needs to be fixed.  I'm going to be modifying some other colors related to other issues, and will be sure to address this.

Is there any reason why we had the variable highlight be blue?  The only reason why I can think of is that it is a strong color that stands out.  When a user wants to know where a variable was defined, this could be useful.

Perhaps for the variable highlight we c

[2016-03-31 01:05] bgashler1 commented on #3476
Appears to be impractical to solve using `text-decoration: underline` in Chromium until it fully adopts the full CSS 3 spec on `text-underline-position`.

What I'll do is use a `border-bottom: 1px solid` instead.  Tested locally, and it looks good to me:
![untitled-2](https://cloud.githubusercontent.com/assets/11839736/14162578/f02c591e-f6a1-11e5-928d-78f1cf266a15.png)

[2016-03-31 02:06] yanxyz commented on #4679
I have just installed VS Code Insiders and found all the commands are translated. eg. when installing an extension instead of typing `ext` I have to type:

![image](https://cloud.githubusercontent.com/assets/737120/14163219/d334fd0a-f725-11e5-8570-1176c23a29ba.png)

My Windows language is Chinese. I have to guess which Chinese word I should use when referring to the VS Code Docs, however which wor

[2016-03-31 02:06] v-pavanp opened #4808 "[Win8] Getting error on command prompt when trying to launch VSCode."
- VSCode Version: 0.10.12-alpha
- OS Version: WIndows8

Setup:  I had old build installed on my windows8 Machine.

Steps to Reproduce:
1. Try to launch an app from command prompt with command  > code-alpha
2. Verify app should launch successfully.

Actual:
1. Application launched successfully but I could see some crash error message on command prompt as below :
[VSCode Crashes.zip](https://github.

[2016-03-31 02:38] DracotMolver opened #4809 "matchOnDescription allow me to open Visual Studio Code as CrhomeBrowser"
- VSCode Version: 0.10.10
- OS Version: Linux - Distro. Elementary OS

Steps to Reproduce:

I'm learning about **showQuickPick**. So I set the option **MatchOnDescription**.
So the code is like follow:
[code]
When I run this code to taste it and I hit down F1 to type down the command line, it shows me the list
 'rgb', 'hex' but when I type down any word from my keyword, the editor change and displ

[2016-03-31 03:07] xianghongai opened #4810 "The window is no longer responding,can't reopen/keep waitting/close"
hi,@alexandrudima
- VSCode Version:0.10.11
- OS Version:windows 10 x64
![](https://cloud.githubusercontent.com/assets/2075006/14057991/16968754-f34c-11e5-9ecd-cfff4f649270.png)<br>
open many js/html/css document,<br>
vscode prompt appears"HTML CSS Class Completion:Fetching CSS rules frome CSS files,please wait",<br>
 will trigger **"The window is no longer responding"** ,<br>
can't reopen/keep wai

[2016-03-31 03:08] bgse commented on #4801
A problem I can see with this is that it could encourage to take the easy way out. Given most extensions probably start out as a tool someone needs for their personal use, I could already see my lazy self:

"Hmm, this will probably run on Windows just fine, but I should test it first."

Now testing it will require me to reboot my computer, but because I am a lazy person I just mark the extension a

[2016-03-31 03:59] alefragnani opened #4812 "[folding] Allow to specify if decorator should hide in collapsed region"
When you define `decorators` for an editor (`activeEditor.setDecorations`), you must define a `Range`, which can be a specific line where you want to add that decorator (an image with `gutterIconPath` for instance).

But if you **Fold** the lines where this decorator is defined, the icon is not hidden with the lines, but instead, it is shown in the line where the folding starts.

I didn't find any

[2016-03-31 04:18] zhouhao27 opened #4813 "How to debug node project for specific script command?"
My package.json file:

[code]

Is it possible to use vscode to debug for "npm run debug" ? Thanks.

[2016-03-31 04:18] alefragnani commented on #4801
I understand your point, but I think that the same way that a _lazy_ developer could choose the easier path and activate and extension only for selected platforms, he/she could publish an unfinished extension  with _known issues_, and maybe, never fix it.

At least being able to define compatible platforms, it prevents the users from installing extensions that will not work.

[2016-03-31 04:36] besser commented on #143
An extension like Terminal Plus would be awesome too!
https://atom.io/packages/terminal-plus

[2016-03-31 05:05] bpasero commented on #55
The fact that we need to search source code might make Lucene a less ideal candidate. We also need to support regular expression searches.

[2016-03-31 05:07] bpasero commented on #4727
@jandrieu since you already have the code sample, why don't you file this against node.js directly and we link the issue to this one here?

[2016-03-31 05:09] vincent-ly commented on #508
I have to restart vscode 1-2 times a day because the memory usage climbs over 1GB and things start feeling sluggish. It's using the amount of memory that a full blown IDE would, so there's definitely some leak going on.

[2016-03-31 05:11] bpasero commented on #508
@vincent-ly can you share more details about the workspace you see this with?

[2016-03-31 05:33] vincent-ly commented on #508
@bpasero There are about 30-40 js/scss/html files that uses a couple of bower components with gulp (without the vscode task runner). I work with 2 editor panes and frequently use the file search, pretty standard. The memory usage is under 100mb on startup, but builds up over time, even when minimized.

Does intellisense play a factor? I have Angular and jQuery type definitions installed.

[2016-03-31 05:36] bpasero commented on #508
You can try our insider build where we worked on reduced memory pressure to see if that makes it better: http://code.visualstudio.com/download?insiders=true

Do you have extensions installed?

[2016-03-31 05:39] vincent-ly commented on #508
@bpasero Just angular snippets
https://marketplace.visualstudio.com/items?itemName=johnpapa.Angular1

I'll try the insider build and report back, thanks!

[2016-03-31 05:40] Brock535 opened #4814 "Changes to CSS Code Not Being Reflected Within Browser"
I have been attempting to learn HTML and have begun to use CSS. I have had no problems so far with my basic CSS codes being reflected through both IE and Chrome. But now I am only able to see HTML code instead of the CSS that supports it, as well. I tried doing a full cache to both IE and Chrome, and created completely new files to see if that would help (but with no success).

Attached is a pictu

[2016-03-31 05:50] Tyriar commented on #4814
[Stack Overflow](http://stackoverflow.com/) is probably the place to ask these sorts of questions. At first glance you might be running into something called content security policy by running the HTML file locally. Try moving your styles directly into `<style>` tags in the HTML file. If you want to find the root cause I recommend Googling for the problem first and then asking on Stack Overflow if

[2016-03-31 05:50] #4814 closed

[2016-03-31 05:58] prashantv opened #4815 "Tab in Makefile should use tab character, not spaces"
- VSCode Version: Version 0.10.13-insider (0.10.13-insider)
- OS Version: OSX 10.11.4

Steps to Reproduce:
1. Open Makefile
2. Press "tab", spaces are inserted.

[2016-03-31 06:02] Tyriar commented on #4815
It seems make is the inverse of yaml in the respect http://stackoverflow.com/a/2131227/1156119

[2016-03-31 06:37] pcgeek86 commented on #3153
FYI I'm using the Insider build, and it's still broken.

![2016-03-31 00_38_00-visual studio code - insiders](https://cloud.githubusercontent.com/assets/466713/14167470/ceac4ca4-f6d8-11e5-95b7-5210208ff5b4.png)

[2016-03-31 06:41] pcgeek86 opened #4816 "PowerShell: Non-standard verb causes squiggly lines throughout entire function"
- VSCode Version: 0.10.13-insider
- OS Version: Windows 10 Version 1511

Steps to Reproduce:

1. Install PowerShell Extension
2. Write a function that uses an "unapproved" verb
3. Notice the excessive squiggly lines

@daviwil

![image](https://cloud.githubusercontent.com/assets/466713/14167538/2dcc1a84-f6d9-11e5-9a3e-3a967dd37871.png)

Cheers,
**Trevor Sullivan**
https://trevorsullivan.net
https:/

[2016-03-31 06:45] crabulik opened #4817 ""Format Code" in .js files doesn't work (ts server died)"
- VSCode Version: 0.10.11
- OS Version: Windows 7 Enterprise

I don't know, how reproduce this issue on the other system, but in my case it looks like that.

I've started JS project with Aurelia Framework.
And at the begining "Code Format" was working, but after some time i noticed, that:
1. Code Format isn't working in JS files;
2. VS Code shows me warning, that TS engine died 5 times for the las

[2016-03-31 06:49] #4691 closed

[2016-03-31 06:50] bpasero commented on #4691
I changed our matching in the commands quick open to also match non-ascii beginning of words. This is not yet fuzzy matching, but returns a lot more results that make sense.

Basically the matching is now supporting any beginning of a word (e.g. "gp" matches "Git: Pull" as well as "g p" does).

[2016-03-31 07:10] joaomoreno commented on #4690
Can you show me what is in your `PATH` variable?

[2016-03-31 07:15] mysticatea commented on #4696
Also, link to #4679.

[2016-03-31 07:23] isidorn commented on #3502
Not sure what was the reason for the original color.
I think it looks good, however it is hard to give feedback without first trying it out. I think this is one of those things where we have to just try it out. People will notice immediatly and you will get feedback.

[2016-03-31 07:27] yisk commented on #945
You should show a hint about "Alt" every time user hides menu. I just waste an hour searching for how to unhide the menu.

[2016-03-31 07:40] bpasero commented on #945
We do that for our 1.0 release. You can always access any commands (including the menu toggle) from the command palette (Ctrl+Shift+P).

[2016-03-31 07:53] justin-romano commented on #55
true.

On Thu, Mar 31, 2016 at 6:05 PM, Benjamin Pasero <notifications@github.com>
wrote:

--
Justin Romaine
Senior Systems Architect
Spark Dental Technology
justin.romaine@gmail.com
ph 021 764 506
hm 09 445 9166

[2016-03-31 08:05] jandrieu commented on #4727
Will do.

[2016-03-31 08:14] #4807 closed

[2016-03-31 08:14] isidorn commented on #4807
Good catch.

[2016-03-31 08:20] Alphapage commented on #1135
I'm agree with you.
It would be great to have a notifications center.

For extensions, status bar messages is the only way to display info for a short time without disturbing the user too much, but it is difficult to attract the attention.
The only way is to show a warning|info|error message, but the user must interact with it which is not necessary in most cases. So, a notification center would b

[2016-03-31 08:24] jrieken commented on #4791
That the current design. When a more specific completion provider returns a non-empty result, less specific completion providers won't be checked anymore. We do that because we assume the provider is more accurate in that case.

[2016-03-31 08:25] jrieken commented on #3153
Yes, we have not found time to tackle this in March.

[2016-03-31 08:32] aeschli commented on #4812
What you see is what's expected. The currently implemented folding strategy is based purely on the indentation of lines. A folding region starts when a line has a smaller indent than one or more following lines, and ends when there is a line with the same or smaller indent.

To be more smart and to, for example, understand fucntions and their decorations, we will have to go one step further and in

[2016-03-31 08:34] alexandrudima commented on #4810
Hi @xianghongai Thank you for filing this issue.

Can you please point me to a set of files (a zip archive) or a github repository that reproduces this for you?

I have tried opening a bunch of html/css/js files with this plugin installed, but I am not seeing the hang.

[2016-03-31 08:34] aeschli commented on #4812
@alefragnani If you could add also a code snippet that would be great. That way I can use this as test once we add language agnostic folding.
Thanks a lot!

[2016-03-31 08:37] alexandrudima commented on #4788
@leegee I also cannot reproduce.

[2016-03-31 08:38] alexandrudima commented on #4788
I would love it if we're able to reproduce the crash, if you have any futher steps or details I would very much appreciate it!

[2016-03-31 08:39] aeschli commented on #4800
duplicate of #3465

[2016-03-31 08:39] #4800 closed

[2016-03-31 08:42] dbaeumer opened #4818 "Translations are missing key SelectStartMenuFolderBrowseLabel for file Default.isl"
The translations are missing a proper translation for the key SelectStartMenuFolderBrowseLabel in file vscode-distro\build\tfs\win32\i18n\Default.resx.lcg. The item is still in English in all translations.

[2016-03-31 08:42] dbaeumer commented on #4818
@johnliu2016 can you please forward this to the translation team.

[2016-03-31 08:44] leegee commented on #4788
I am sorry, I can no longer reproduce.

I have not changed anything in my set-up/the editor.

I guess it was an accumulation of things: having used the editor for about 10 hours a day for a couple of weeks or so, I rarely see a problem, but yesterday I found it frequently unresponsive, and had to pskill it several times.

Will open another ticket if it happens again and I can offer more info on ho

[2016-03-31 08:44] #4788 closed

[2016-03-31 08:46] egamma commented on #4788
@leegee also we fixed some memory leaks that are available in the insider build https://code.visualstudio.com/download?insiders=true

[2016-03-31 09:11] egamma commented on #4817
@crabulik

The recommendation is to add a jsconfig.json and to exclude the 'non source' js files. We have improved the documentation, pls give it a read: https://github.com/Microsoft/vscode-docs/blob/vnext/docs/languages/javascript.md

Can you please try this again in the insiders build which has improvements in this area https://code.visualstudio.com/download?insiders=true. It should no longer cr

[2016-03-31 09:11] leegee commented on #4788
Excellent! I'm getting it now, thanks!

On 31 March 2016 at 09:46, Erich Gamma <notifications@github.com> wrote:

[2016-03-31 09:15] egamma commented on #4816
Hi @pcgeek86 the warning ranges are produced by the powershell extension.

[2016-03-31 09:20] egamma commented on #4816
I've tried to move it for you using (https://github-issue-mover.appspot.com/), but I ran into an error, sorry about that

[2016-03-31 09:20] #4816 closed

[2016-03-31 09:22] johnliu2016 commented on #4818
@dbaeumer ported loc team

[2016-03-31 09:24] #651 closed

[2016-03-31 09:24] jrieken commented on #651
This code is gone

[2016-03-31 09:24] jrieken commented on #831
Code is gone

[2016-03-31 09:24] #831 closed

[2016-03-31 09:24] dbaeumer commented on #4658
This issue was moved to Microsoft/TypeScript#7744

[2016-03-31 09:24] #4658 closed

[2016-03-31 09:24] dbaeumer commented on #4658
We are closing the original file MyClass.ts and open the new file MyOtherClass.ts in terms what we send to the tsserver. Since the error is reported by the tsserver moving to TS project.

[2016-03-31 09:26] dbaeumer commented on #4818
@johnliu2016 Thanks!

[2016-03-31 09:36] dbaeumer commented on #2086
Hard to say. Most of the time it is a file layout thing as well. Can you try another thing. Can you run the tasks by pressing Ctrl+Shift+B and then show the output of the Task (Shift+Ctrl+U) and attach it here.

[2016-03-31 09:39] #4792 closed

[2016-03-31 09:40] pcgeek86 commented on #4816
Let's see how @daviwil wants to handle it.

[2016-03-31 09:40] isidorn commented on #4792
@weinand check it out and let me know what you think.
I will also create a test plan item for this.

[2016-03-31 09:41] eligrey commented on #3521
@Tyriar is this available in the current release? There was an update recently but it doesn't seem to include this.

[2016-03-31 09:42] dbaeumer commented on #4776
Dups #4449

[2016-03-31 09:42] #4776 closed

[2016-03-31 09:45] farfromrefug commented on #2075
+1 copyLinesDownAction and copyLinesUpAction are not the same!
what we want is ```copySelectionDownAction```  and ```copySelectionUpAction```

[2016-03-31 09:46] isidorn opened #4819 "Test: Stack frame paging"
- [x] win - @alexandrudima
- [x] mac - @joaomoreno
- [x] linux - @v-pavanp

Previously we only supported showing 20 stack frames in the call stack pane in debug viewlet. Now if a call stack has more than 20 stack frames it is possible to load the additional stack frames. Verify:
* If there are more than 20 stack frames the call stack view shows this and makes it possible to load additional stack f

[2016-03-31 09:48] isidorn commented on #4435
This has been fixed as part of #4792

[2016-03-31 09:48] #4435 closed

[2016-03-31 09:49] SiriusGuo opened #4820 "Setting open file in new tab (not replaced current tab)?"
- VSCode Version: 0.10.11
- OS Version: Windows 10

How can I setting open file in new tab when I select it from folder/file tree just like sublime text?(not replaced opened tab.)
I can't find where to config this.
Could anybody help me please?
Thx!

[2016-03-31 09:52] dbaeumer commented on #2047
Not sure about @egamma case but @joaomoreno case is because of ownership. With Salsa we now validate the files with tsserver and no errors are produced. Since eslint-stylish uses the owner javascript Salsa clears all JS errors. May be for JS linters we should use a separate owner.

[2016-03-31 09:52] isidorn commented on #4299
This is a workbench concept that all globaly handled errors are shown to the user via message service are also logged to the console.
In this scenario you would only want them to be shown in the message service. However we do not have that notion for the errors that are handled globaly by the workbench.
@bpasero or am I missing something?

[2016-03-31 09:52] isidorn commented on #4044
Closing until user provides more details.

[2016-03-31 09:52] #4044 closed

[2016-03-31 09:55] egamma commented on #2047
My example is using .ts files and tslint.

[2016-03-31 10:00] leegee opened #4821 "Renaming file marks for git delete but not git add"
- VSCode Version: 0.10.13-insider
- OS Version: Microsoft Windows [Version 10.0.10586]

Steps to Reproduce:

1. Open a folder of a project using git version control
2. In VCS 'Explorer', right-click file in the folder view (under Working Files) and rename it
3. Switch to Git view.
4. Notice that old name of the file is marked D for delete, and the new name is U for untracked.
5. Outside of VCS, us

[2016-03-31 10:01] raphael2711 commented on #4791
Thank's

[2016-03-31 10:01] #4791 closed

[2016-03-31 10:05] #4315 closed

[2016-03-31 10:05] isidorn commented on #4519
@delmyers if I understand correctly, you would like some more UI affordance to show the user which thread is currently stopped. If there are multiple threads, instead of showing 'Paused on breakpoint' we could say 'Breakpoint Thread {name}'. Or you had something else in mind?

Would you like to make a contribution for this or should we look into this?

![screen shot 2016-03-31 at 12 05 01](https:/

[2016-03-31 10:23] daslicht commented on #2086
SOLVED !:
I never thought that warning could make the pretask fail.

I had such warning:
[code]

After removing bluebird and all its dependencies the task is running !

:dancer:

Thank you !

[2016-03-31 10:38] #4513 closed

[2016-03-31 10:51] weinand opened #4822 "Show hover on launch config gear"
- VSCode Version: alpha
- OS Version: OS X 10.11.4

I had a syntactically broken launch.json without being aware of it. It showed up in VS Code like this:

![2016-03-31 11-46-28](https://cloud.githubusercontent.com/assets/1898161/14172008/4bfa27aa-f736-11e5-96c9-9bd2ae227e70.png)

The gear icon showed a red dot which I hadn't seen before and I didn't know what it means.
Hovering over it did not sh

[2016-03-31 10:56] isidorn commented on #4822
I agree we should add a hover to make the user experience nicer.

As for the squiggly being green and not red the JSON schema does not allow me to do this.
Please create a feature request against @aeschli
I know Martin's point is that he is not showing this in red becuase the JSON syntax is not broken.

[2016-03-31 11:39] bpasero commented on #4299
Yes, we typically rather spam the dev console with anything that ends up in errors land.

Can you point to the code in debug land that logs these errors? We can maybe add another flag to explicitly bypass the logging to dev console.

[2016-03-31 11:51] weinand commented on #4435
@isidorn I suggest to show the 'Load more stack frames...' in italic to make it look different than normal frames.

[2016-03-31 11:51] weinand commented on #4792
@isidorn I suggest to show the 'Load more stack frames...' in italic to make it look different than normal frames.

[2016-03-31 12:06] be5invis commented on #330
I think I can investigate the `characterHardWrappingLineMapper.ts` to provide a correct CJK-aware wrapper with Kinsoku Shori.

[2016-03-31 12:08] crabulik commented on #4817
@egamma Thnx, it helped with Format Code

[2016-03-31 12:27] be5invis commented on #330
Maybe around line 188:
[code]
We can add another code class `BREAK_IDEOGRAPHIC` and do similar things like this:
[code]
To initialize `BREAK_IDEOGRAPHIC`, we can simply write this
[code]

[2016-03-31 12:31] iHuahua opened #4823 "Exception when run my extension with other extension"
- VSCode Version:0.10.11
- OS Version:Windows 7

Steps to Reproduce:

1. ext install cpptools
2. yo code
3. F5

it will stop on :
path.js:line 8
throw new TypeError('Path must be a string. Received ' + util.inspect(path));

[2016-03-31 12:39] baloodevil opened #4824 "Code coloring incorrect for 'implements' when 'extends' is also used"
- VSCode Version:0.10.11
- OS Version:Windows 10 Pro

Steps to Reproduce:

1. Add class with signature like:
`export class MyClass extends MyBaseClass implements MyInterface`
2. See that `implements` is incorrectly colored green instead of blue (at least in the default color scheme).  If you remove `extends MyBaseClass`, then `implements` is properly colored blue.

[2016-03-31 12:50] alefragnani commented on #4812
Hi @Tyriar , I will post a code snippet latter, when I go back to my home :smile: , but in the meantime you could see the same behavior using **breakpoints**.

If you set a **breakpoint** inside a function and fold the entire function, the **breakpoint** is presented in the folding line.

If that is the expected behavior, than it's ok... I just thought it should suppress the icon.

Thanks

[2016-03-31 13:10] isidorn commented on #4299
Erros from the debug adapter are handled [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/node/rawDebugSession.ts#L82)

[2016-03-31 13:27] rhires opened #4826 "How to escape the pipe character in Markdown?"
- VSCode Version: 0.10.11
- OS Version:Win 10

After doing some searching, I was unable to find how to escape the pipe character - if I include it in my table, it throws off all my formatting.

[2016-03-31 13:29] isidorn commented on #4567
@rkeithhill I have looked into this and the issue is that the powershell adapter sends the 'initialized' event before vscode sent the 'initialize' call.
[Here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/debugProtocol.d.ts#L54) we specify that the adapter can send the 'initialized' event at any time. However that does not seem to be the right approach since

[2016-03-31 13:34] bpasero commented on #4299
And where does it reach our code to print it to the console and user?

[2016-03-31 13:36] isidorn commented on #4299
My understanding was that because I do not handle this error - but I bubble it up, the workbench will handle it. And workbench handling it means - show it via message service and print to console.
Am I mistaken?

[2016-03-31 13:38] bpasero commented on #4299
Right. If you want to handle errors for the user, just use the message service and prevent error bubbling?

[2016-03-31 13:40] isidorn commented on #4299
Makes sense that I can do it here but I still think some errors must bubble up - like the global workbench actions. Since for those I am not interecpting the error.
Though for this case I can do as you suggested.

[2016-03-31 13:46] grairdon88 opened #4827 "Suggest the user to set up a proxy when ECONNREFUSED occurrs"
- VSCode Version: 0.10.11
- OS Version: Windows 8.1 Pro

Steps to Reproduce:

1. Open Visual Studio Code
2. Open Command Palette
3. Type ext install PowerShell (really, any extension).
4. Error happens: Error: connect ECONNREFUSED

[2016-03-31 13:48] Tyriar commented on #3521
@eligrey it's in the insiders build, not yet in stable.

[2016-03-31 14:01] brockallen opened #4828 "Slow/laggy when opening large (~200K) files"
- VSCode Version: 0.10.11
- OS Version: Win 10

Steps to Reproduce:

1. Open folder containing this file: https://github.com/kjur/jsrsasign/blob/master/npm/lib/jsrsasign.js
2. Open file and scroll around a bit. VS Code gets really slow/laggy.

[2016-03-31 14:01] rebornix opened #4829 "[DebugAdapter] Return Object instead of plain string in evaluateRequest"
- VSCode Version: 0.10.11
- OS Version: Mac OS

When we implement our own debug adapter, we need to override `evaluateRequest` functionality. For now the return result is simply a string per definition

[code]

However if we inspect objects when we debug TypeScript project, we can get a TRUE object

![image](https://cloud.githubusercontent.com/assets/876920/14177672/fd2bf870-f789-11e5-8a12-973eb76

[2016-03-31 14:08] rkeithhill commented on #4567
Thanks for the update. cc @daviwil

[2016-03-31 14:10] alfalabs opened #4830 "hangs while opening HTML file"
- VSCode Version:0.10.11
- OS Version:Win7

While opening HTML file, toast message appears:

then windows popup titled Visual Studio Code:

Steps to Reproduce:
1. open an HTML file

[2016-03-31 14:12] SamVerschueren commented on #4826
How is this even related to VS Code? This is just simple markdown editing... Google -> https://github.com/gitlabhq/gitlabhq/issues/1238#issuecomment-10022918

[2016-03-31 14:13] daviwil commented on #4816
Which version of the PowerShell extension are you using? This was fixed recently in Script Analyzer so you shouldn't see it in version 0.5.0 of the PowerShell extension.

[2016-03-31 14:13] weinand commented on #4798
@jpierson this basically a problem of the generated source map and the fact that VS Code does not (yet) tries to be smart. Here is my example:

[code]

As you can see in this [visualization](https://sokra.github.io/source-map-visualization/#base64,dmFyIF9fYXdhaXRlciA9ICh0aGlzICYmIHRoaXMuX19hd2FpdGVyKSB8fCBmdW5jdGlvbiAodGhpc0FyZywgX2FyZ3VtZW50cywgUCwgZ2VuZXJhdG9yKSB7CiAgICByZXR1cm4gbmV3IChQIHx8IChQ

[2016-03-31 14:21] bpasero commented on #4668
:+1: , we should look into this when we make markdown a real extension.

[2016-03-31 14:23] bpasero commented on #4299
I think we once had the idea to be able to annotate errors so that we can handle this in one place and not every author has to do it. E.g. to be able to specify options (show to user, show in dev console). We never really took a crack on this, but I am also easy to review such a change if you wanna tackle it.

[2016-03-31 14:28] isidorn commented on #4299
Yes I can take a look. What is the current place where we handle these global errors?

[2016-03-31 14:32] asotog commented on #78
Would be nice to not show git ignored files in the project explorer :)

[2016-03-31 14:34] bpasero commented on #4299
I think it all goes down to errors.onUnexpectedError and its error handler in there.

[2016-03-31 14:39] Tyriar commented on #4824
This is fixed in master, thanks for the report.

[2016-03-31 14:39] #4824 closed

[2016-03-31 14:58] mucaho commented on #1033
+1, I'm currently trying to package `vscode` for the [NIXOS package manager](https://github.com/NixOS/nixpkgs) and having the same problem.
If I append to `LD_LIBRARY_PATH` before calling `./scripts/code.sh`, it gets overwritten with the default `LD_LIBRARY_PATH` (presumably from `.bash_profile`), which leads to `electron` crashing because it can't find the shared libraries.

[2016-03-31 15:01] Kurtz1993 opened #4831 "Question: Any plans to add CodeLens to JavaScript/TypeScript?"
Hi!

I was wondering if there are any plans to add this awesome feature to JavaScript/TypeScript language in future releases. That'll be awesome!

[2016-03-31 15:15] MicrosoftMTR opened #4832 "Microsoft MTR"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-03-31 15:18] alexandrudima commented on #4828
@brockallen Thanks a lot for filing this! :+1:

.. Looks like most time is spent in `decodeTextMateToken`:

![image](https://cloud.githubusercontent.com/assets/5047891/14180718/99a3d0e0-f764-11e5-9a83-df750fac48a3.png)

[2016-03-31 15:26] TimTheTinker commented on #143
In light of yesterday's announcement (!!!!!!!!!!!) I suspect this thread is
nearly a moot point :-)

[2016-03-31 15:26] isidorn commented on #4415
Fixed via a4e106699b06cac7e78a8a7178a308ed50bb7f5e
All my other templates only have html elements, so not disposing is needed there

[2016-03-31 15:26] #4415 closed

[2016-03-31 15:33] isidorn commented on #3606
This seems to be fixed via c284835

[2016-03-31 15:33] #3606 closed

[2016-03-31 15:34] alexandrudima commented on #4802
I will double check in this specific case, but the general idea is that the cursor moves when the document is edited from an extension.

e.g. if the cursor is at the second line and an extension inserts 20 lines at the top of the file, the cursor will go to the 22nd line.

(I call this side-editing):
https://github.com/Microsoft/vscode/blob/5ba4f734dfaca254fe40354a27f1cfcffc1b75ec/src/vs/editor/te

[2016-03-31 15:51] egamma commented on #3059
Assigning the April for investigation.

[2016-03-31 15:56] robbpriestley commented on #275
Thanks for all the hard work. I know this is still in development, so I can hardly complain. Still, I was unsuccessful getting the experimental debugging (described above) working. True, I only put in a couple of hours and could have tried harder. But for me, I'm guessing there's more benefit to waiting for stability than tinkering around with experimental builds and such. Cost vs. benefit, I supp

[2016-03-31 16:08] be5invis commented on #330
#4825 should fix this.

[2016-03-31 16:10] rob3c commented on #2091
I think it should still be labeled a bug, as the current behavior doesn't allow for you to remain in the newly-scrolled screen without using the mouse to put focus in the new position. This is because the cursor stays put even when it completely scrolls out of view. Since this is all about keyboard navigation, then requiring the mouse seems counter to the spirit of it.

Most editors have the curso

[2016-03-31 16:16] aeschli commented on #4769
Hi @SE2Dev, thanks a lot for your great example project. It was very helpful understanding the issue.
I delivered a fix for the first issue.

The second one, however, is a known problem of the c grammar
The C grammar uses $base instead of $self to refer its own rules, as done in a block.
$base is the parent grammar, in your case the exampleLang grammar. So that's why you had to use start again ins

[2016-03-31 16:16] #4769 closed

[2016-03-31 16:19] aeschli commented on #4830
@alfalabs Do you have any extensions installed that could cause that? In the built-in HTML support we don't do any fetching of CSS.

[2016-03-31 16:19] claudiusraphael commented on #143
+1 --- just spinning thoughts:

as i (hopefully) understand VS-Code itself is web-based in its internal structure and presentation abilities; if so, to have the opportunity to gain the max out of it:

- would it be possible to have a webview for example to a minimal vbox | vagrant instance to with bindings to the internal VS Code interface mapping? means:

-- using the parsing- | intellisense- -me

[2016-03-31 16:27] claudiusraphael commented on #143
P.s.: My hidden aim on that topic is gaining a All-in-one--Solution, that can be used on top of Core-Server | Hyper-V-Server installs for a complete windows-based aio-fully-virtualized-collaborative-and-single-developer-project-editing-suite a.k.a VS Code, for all those that like to use bare metal and cost-free solutions with minimal security implications and guaranteed-operability independent of

[2016-03-31 16:29] SE2Dev commented on #4769
Thank you very much. I thought the second problem might have had something to do with $base, but wasn't able to find any definitive information on it, the link you provided should definitely help.

[2016-03-31 16:31] alfalabs commented on #4830
@aeschli
Yes, I installed VScode yesterday and a bunch of extensions before running it.
I would expect that a third party extension should never cause VScode to hang.
This issue should be reopened as to protect VScode from bad extensions.

[2016-03-31 16:46] #4832 closed

[2016-03-31 16:59] pcgeek86 commented on #4816
Here's the version I'm using. Looks like 0.5.0.

![image](https://cloud.githubusercontent.com/assets/466713/14183868/a4c2849c-f72f-11e5-926d-be7218ed3ec3.png)

[2016-03-31 17:04] #4826 closed

[2016-03-31 17:05] Tyriar commented on #4820
Do you mean when navigating the explorer with the keyboard?

[2016-03-31 17:08] Tyriar commented on #4809
It might be showing the dev tools because an error occurred? Try looking at the errors by clicking on the red `x` in the top-right.

[2016-03-31 17:12] Tyriar commented on #4806
@parliament718 here is a list of the options available for the formatter https://github.com/Microsoft/vscode/issues/4066

[2016-03-31 17:14] Tyriar commented on #4803
If it's not supported by Electron then it won't be possible in VSCode.

[2016-03-31 17:15] bpasero commented on #4809
Hm, we might indeed bring up dev tools automatically if an error occurs. @DracotMolver please click on the ">>" in the toolbar to the right to reveal the "Console" and click that.

You can also share the code with me so that I can have a look?

[2016-03-31 17:15] Tyriar commented on #4796
I'm assuming this is talking about jQuery intellisense support, I think this would be best left up to an extension.

[2016-03-31 17:15] #4796 closed

[2016-03-31 17:19] bpasero commented on #4809
@DracotMolver I can reproduce this issue, nevermind. There is a bug in our end but you are also using the API in a way we did not think about: "matchOnDescription" only makes sense if the labels you pass in have a description. To create a pick entry with label, you need to pass in an object that implements the QuickPickItem interface: https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d

[2016-03-31 17:20] bpasero commented on #4820
I am marking this as duplicate of #224 because today you cannot use tabs in vscode.

@SiriusGuo as a workaround you can Ctrl+click on a file to open it to the side of the file, so that you do not replace the file.

[2016-03-31 17:20] #4820 closed

[2016-03-31 17:20] Tyriar commented on #4774
Duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/81

[2016-03-31 17:20] #4774 closed

[2016-03-31 17:24] #4809 closed

[2016-03-31 17:25] Tyriar commented on #4740
@seanmcbreen you mentioned there was some issues with telemetry too, do you think this could be related?

[2016-03-31 17:30] bpasero commented on #637
+1 for having a UI that is not interfering with my coding workflow. for that we should make it very clear (in terms of UX) that the UI for managing extensions, settings, etc. is visually looking different from our workbench. my fear is that once you go into the management UX, it looks too similar to the actual coding UX. I am fine reusing the concepts of sidebar, viewlet and editor (which is reall

[2016-03-31 17:33] bpasero commented on #4723
I think this is a general issue with any label that gets truncated.

[2016-03-31 17:35] peteromueller opened #4833 "CPP `dotnet restore --configfile NuGet.Config` fails"
- VSCode Version: 0.10.11 (February 2016)
- OS Version: 10.11.4

Steps to Reproduce:

1. install VSCode
2. install ext install cpptools according https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools

The at step  4: dotnet restore --configfile NuGet.Config.

I get the following error:
dotnet restore --configfile NuGet.Config
log  : Restoring packages for /Users/pmueller/.vscode/e

[2016-03-31 17:38] daviwil commented on #4816
That's weird, not sure why it's marking the whole thing for you.  Here's what I see:

![image](https://cloud.githubusercontent.com/assets/79405/14184945/86956ed8-f72c-11e5-8849-53c251f1a2ee.png)

Can you try uninstalling/reinstalling the PowerShell extension?  Not sure if that will help, just trying to track down how you could be using an out-of-date Script Analyzer.  I'm shipping it bundled with

[2016-03-31 17:39] daviwil commented on #4816
Also "ext install" may not be the best way to verify the version you have installed, it just shows you the latest version.  Try running the "Extensions: Show Installed Extensions" command to find the actual version that's installed.

[2016-03-31 17:39] egamma commented on #4817
@crabulik thanks for verifying - closing.

[2016-03-31 17:39] #4817 closed

[2016-03-31 17:41] SamVerschueren commented on #4802
@alexandrudima In that case, I understand that the cursor is moved. But I'm not quite sure about the use case of adding a new line at the end of a line. I wrote a test for it, but am having issues installing the npm dependencies of vscode.

[code]

This test will fail because the cursor will go to the 5th line, right? Maybe it's an idea that it should be possible to insert at `line.length + 1`. In

[2016-03-31 17:41] egamma commented on #4831
@Kurtz1993 we like the feature too, it is on the backlog.

[2016-03-31 17:45] egamma commented on #4813
// CC @weinand he has answered this question several time before.

[2016-03-31 17:49] Tyriar commented on #4723
To work around the ugliness of doing this only when truncated, it looks like atom just adds `title` all the time.

[2016-03-31 17:49] isidorn commented on #4829
Yes this functionality is avialble to all debug adapters. Go, powershell and others use it.
The `variablesReference` from the response is the key here, if that is greater than zero vscode will treat it as a complex object. Once the user tries to expand the object VSCode will try to get all the children of that variable using the reference.
https://github.com/Microsoft/vscode/blob/master/src/vs/wor

[2016-03-31 17:49] #4829 closed

[2016-03-31 17:53] jrieken commented on #2990
Idea is that `Uri#toString` will take a parameter that controls to what degree encoding happens. If not wished only what is required to parse into the same result again is encoded, a sample would be the `#`-character inside a path: `file:///pröjects/c#/file.cs#l=12` will toString like this: `file:///pröjects/c%23/file.cs#l=12`

[2016-03-31 18:09] savpek commented on #2816
Can this be made way that it actually is integrated with git?

What VsCode requires to integration may be user to set "git repository for user settings", and whenever user wants they can push changes to github and they can be pulled (syncronized in other locations).

I can currently do this manually because VSCode relies on json files (which is good thing), however some tooling may make this kind

[2016-03-31 18:57] Tyriar commented on #2816
Comment so I'm participating.

[2016-03-31 19:02] cheizer commented on #92
Issue is still occurring with 0.10.11.

I simply added a symlink and that works

`ln -s /Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron /Applications/Visual\ Studio\ Code.app/Contents/MacOS/Atom`

[2016-03-31 19:36] fififofo opened #4835 "New files don't display on explorer"
- VSCode Version: 1.8.2
- OS Version:
10.11.4
Steps to Reproduce:
1.Create a file outside of the editor with the editor open
2.Check editor, file listing on explorer do not change

[2016-03-31 19:42] JoshStrobl commented on #58
An API for opening a folder is the last cog in a wheel (*and the most crucial*) for an extension I'm writing. Would love a couple APIs landed to open a folder with:
1. A new window, maybe defined as (`vscode.window.openNewWindow(uri : vscode.Uri)`
2. Current workspace, maybe defined as (`vscode.workspace.openFolder(uri : vscode.Uri)`

Using nodejs's `child_process` isn't really viable, because:
1.

[2016-03-31 19:53] alanwright commented on #508
+1

Seeing the same issue on VSCode for Windows `0.10.11`. It typically crashes every night consistently when not in use. Given steps to collect info I'd be glad to help.

Running on a TypeScript git repo with 28,438 Files, 4,812 Folders. Has gulp watchers as well, with many TypeSript defs.

I have the following extensions installed:

- PowerShell
- C#
- Material Theme Kit

[2016-03-31 19:55] bpasero commented on #508
@alanwright could you try if it still reproduces with our latest insider build (http://code.visualstudio.com/Download#insiders). If so, can you share the workspace with me?

[2016-03-31 19:56] dchw commented on #4542
Something similar seems to be happening to me, but not using gvfs. I save a file, and suddenly all open files are closed. This is on Windows 7, Code version 0.10.11.

Here are the relevant logs from when it happened last. File paths edited for confidentiality.

`[File Watcher] [CHANGED] c:\Users\Some.User\src\project\tslint.json
csharpWatcherService.ts:76 [File Watcher]  >> normalized [CHANGED] c:

[2016-03-31 19:57] Rad0x6f opened #4836 "Regular expression ".*" does not match anything"
- VSCode Version:
Version 0.10.11
Commit f291f4ad600767626b24a4b15816b04bee9a3049
Date 2016-03-11T17:10:35.304Z
Shell 0.35.6
Renderer 45.0.2454.85
Node 4.1.1

- OS Version: Windows 7 Enterprise SP1

Steps to Reproduce:

1. Ctrl+F, then turn on Regex (Alt+R)
2. Find `^.*$`
==> Bug. Does not match any lines

Note that `.*` doesn't match anything either.
Also note that `..*` (or for a full line `^..*

[2016-03-31 20:04] Tyriar commented on #92
@joaomoreno is this something we need to fix?

[2016-03-31 20:27] devnullnor opened #4837 "Color file types in Explorer"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce: Explorer bar

When finding files in the Explorer, my eyes have trouble focusing. File types like .js, .html, and .css could be colored to easier distinguish them from one another.

[2016-03-31 20:58] buzinas commented on #1616
That was my first try, but when trying to open the same project folder in a new instance, VSCode simply focus on the already opened window, instead of opening the project in the new one.

My team really needs this, it's terrible to stop client debugging, and then attach server one, and then stop, and attach client again. In fact, we're using the browser itself for client debugging, and VSCode for

[2016-03-31 21:06] rhires commented on #4826
I saw the thread you posted, and it did not solve the issue. It's related to VS Code b/c vscode purports to support Markdown, and when it fails using this editor in this way, it's worth reporting.

[2016-03-31 21:21] Tyriar commented on #4826
Yes please let us know anyway you feel we can improve the product :)

This is what I see in 0.10.12 (not yet released):

![image](https://cloud.githubusercontent.com/assets/2193314/14191249/bc09ccde-f74b-11e5-931d-faa7c44ae6ea.png)

Seems fine, now at least.

[2016-03-31 22:16] sridmad commented on #4833
Peter,

Thanks for trying out the extension. We are pushing an update to the extension today that should have more detailed steps for installing debugger bits.

Thanks,
-sridhar

[2016-03-31 22:28] pcgeek86 commented on #4816
Here's the output from "Extensions: Show Installed Extensions"

![image](https://cloud.githubusercontent.com/assets/466713/14192834/7bd31e56-f75d-11e5-95ff-9a73b73b26f2.png)

I'll try re-installing it. Where's the best place to track this bug in an open state?

[2016-03-31 22:33] vsccarl opened #4838 "Git output shows --allow-empty-message command after commit"
- VSCode Version: 0.10.12-alpha (latest)
- OS Version: Windows 10

Steps to Reproduce:

1. Modify a file
2. Stage changes and add a commit message.
3. Show Git output

Actual:
Git output shows the --allow-empty-message command during the commit, but a message is required when using commit in VS Code

Is this by design? I notice it does show the commit message after pushing to GitHub.

[2016-03-31 22:55] vsccarl opened #4839 "Debugging express prototype/constructor variables infinitely nested"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open a Node.js Express application (I'm using https://github.com/heroku/node-js-sample)
2. Set a breakpoint inside index.js at line 4 (app.set('port', ...)
3. Start debugging
4. Expand express: function createApplication() {...}
5. Expand Application: Object
6. Expand checkout: function (path){...}
7. Expand prototyp

[2016-03-31 22:55] axemclion commented on #1235
@wuchuguang The extension is now live - https://github.com/Microsoft/vscode-react-native

[2016-03-31 22:58] vsccarl opened #4840 "No hover values for long watch variables"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Start debugging
2. Find a heavily nested variable to add to watch and/or slide the debug bar to the left so it is very thin.

Actual:
Hovering over watched variables does not display their value. If there is a heavily nested variable, even expanding the debug section to the right as far as it goes still displays ...

[2016-03-31 22:59] vsccarl commented on #4783
@bpasero I'm not hitting this issue with the latest alpha.

[2016-04-01 00:11] ericmartinezr opened #4841 "Syntax color fail with "target:event" for angular2"
- VSCode Version: 0.10.11
- OS Version: Windows 7

Steps to Reproduce:

1. Set up an angular2 project
2. Write `@HostListener('document:keydown', ['$event'])`

That syntax is valid for angular2, but the color fails as shown in the following image

![image](https://cloud.githubusercontent.com/assets/13039652/14194430/e7e7220a-f784-11e5-8036-81ed392983c5.png)

[2016-04-01 00:23] alefragnani opened #4842 "Allow to disable drag and drop in the files explorer"
It would be interesting to be able to disable the _drag and drop_ operations in the TreeView, mostly to avoid _mistakes_ :disappointed:

Another option it would be to make the _Undo/Redo_ operations to work for the TreeView operations.

Thanks in advance

[2016-04-01 00:24] v-pavanp opened #4843 "Extensions recommendations list is not displaying Cordova extension when opening Cordova project."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Create Cordova project structure using Yeoman. (Project Type Windows 8 mobile app)
2. Launch VS code and open root directory of Cordova project.
3. Click on extension info icon from the status bar.
4. Select options for Extension recommendations and verify list.

Actual: Not getting option for Cordova extension.
Expect

[2016-04-01 00:26] javafun commented on #4004
Still can't install C# extension and receive the following error

Failed to execute git

[2016-04-01 00:40] v-pavanp opened #4844 "Getting multiple info pop-ups after installing Cordova extension and they are contradictory."
- VSCode Version:0.10.12-alpha
- OS Version:Windows10

Steps to Reproduce:
1. Create Cordova project structure using Yeoman (Proj type WIndows8 Mobile app).
2. Launch VS code and open proj root folder.
3. Click on extensions Icon from the status bar and select option for install extension.
4. Select Cordova extension and install it.
5. Verify extension should be installed successfully and user sho

[2016-04-01 00:46] alefragnani commented on #4812
Hi @aeschli ,

The code is fairly simple. I just create a `TextEditorDecorationType` and assign it to the `vscode.window.activeTextEditor` with an array of `Range`, which each element defines a line in the text.

* Creating the decoration
[code]

* Defining the lines that will show the decoration. Each `activeBookmark.bookmarks` element is a `number` that represents a line number in the text
[code

[2016-04-01 00:49] DracotMolver commented on #4809
So, is it a new feature when it opens the web browser?. Because all the errors are displayed in the console debugger. ooh...Sorry if I use the API in a wrong way :P. I thought that the parameters were optionals.
Ok I solve it doing this. - It was something awful as a code...but it works as a test lol.
[code]
Now I realized that this should be obvious because it says matchOn**Description**, so it h

[2016-04-01 01:10] unional commented on #4578
Just confirmed the issue persist with `--disable-extensions`.

What I tried is to click on the file under the folder before I delete the folder.

[2016-04-01 01:24] Lonefy commented on #637
if the extension itself has some settings, how about provide a GUI and interfaces for these ext-settings :)

[2016-04-01 01:43] chrisxvin opened #4845 "Provide file icons per file type"
- VSCode Version: Feb. stable build (0.10.11)
- OS Version: Win 10 Pro

Steps to Reproduce:
1.  Install VSCode.
2.  See any code file in Explorer, icons are changed to vscode style, and cannot tell out C#/C++/H/etc...

Please add an option to choose whether to use VSCode file icon or not.

PS: This problem doesn't appears in insider build 0.10.13.

[2016-04-01 02:16] daviwil commented on #4816
File it over on the vscode-powershell repo if you don't mind.  I might have to get some logs from you to see what's going on.

[2016-04-01 02:41] mucaho commented on #2647
I've done some digging and figured out how to install an extension manually. There may be a better way to do this, but can't find any documentation on it:
* Retrieve [https://vscode.blob.core.windows.net/gallery/index](https://vscode.blob.core.windows.net/gallery/index), it's a cached index of all extensions available on the gallery in json format.
Search for the desired extension, e.g. by `publis

[2016-04-01 04:43] martellaj commented on #491
@bpasero Are you working on this issue meow?

[2016-04-01 05:08] bpasero commented on #491
No, we just decided to give issues an owner.

[2016-04-01 05:10] bpasero commented on #4783
k

[2016-04-01 05:10] #4783 closed

[2016-04-01 05:11] bpasero commented on #4783
@vsccarl actually this bug sounds very similar to this one here: https://github.com/Microsoft/vscode/issues/4578

[2016-04-01 05:13] bpasero commented on #4578
@unional @felixfbecker I need steps, something like:
- you start vscode by opening a folder with a node_modules folder
- you click on a JS file
- you open a terminal and use NPM to remove a package

Yes, no?

[2016-04-01 05:16] unional commented on #4578
Yes.

[2016-04-01 05:21] rebornix commented on #4829
@isidorn thanks for pointing out the usage of variableReference.

Just one more question, is multiline output possible? We've raised the same question in https://github.com/Microsoft/vscode/issues/255 .

[2016-04-01 05:26] bpasero commented on #4578
I cannot reproduce:
- checked out the typescript project https://github.com/Microsoft/TypeScript.git
- npm install
- opened the project in vs code opened the files Jakefile.js and binder.ts
- opened a terminal and typed "npm uninstall iconv-lite"

Can you find a reproducible case with that workspace?
Does it reproduce with VSCode insiders release (http://code.visualstudio.com/Download#insiders)?

[2016-04-01 05:29] unional commented on #4578
What I do is: Open a file under the folder that you are going to delete.
e.g. open `/build/a.js` and then delete `/build`

[2016-04-01 05:31] bpasero commented on #4578
I am able to reproduce now, it seems related to opening a JS file.

[2016-04-01 05:31] bpasero commented on #4783
@vsccarl I see this now as well, lets continue in #4578

[2016-04-01 05:34] unional commented on #4578
Also TS files. My files are TS

[2016-04-01 05:35] bpasero commented on #4578
@dbaeumer I can reproduce easily:
- open a project with node_modules folder (e.g. typescript)
- as soon as I open any JS or TS file, I cannot move the node_modules folder anywhere because it is used/locked
- I can move however when I did not open a TS/JS file
- also, when I disable TS/JS by setting the tssdk variable to bogus I can move

It seems either TypeScript and or Salsa lock files in node_m

[2016-04-01 05:37] #4782 closed

[2016-04-01 05:37] #4693 closed

[2016-04-01 05:37] #2207 closed

[2016-04-01 05:41] unional commented on #4578
Addition:
Not only in `node_modules`. The folder containing the file you are opening is also locked.

Feel free to update the title of this issue.

[2016-04-01 06:11] xianghongai opened #4846 "how to auto detect , auto encoding ?"
hi ,
- VSCode Version: 0.1011
- OS Version:windows 7 x64

![3](https://cloud.githubusercontent.com/assets/2075006/14199058/5ee79aa4-f813-11e5-8ca2-86d781fe4ed9.png)

not working

[code]

[2016-04-01 06:18] martellaj commented on #491
I started to look at this one (because it's something I really wanted), but found there is a setting (`"explorer.workingFiles.maxVisible": 50`) that handles it perfectly. Personally, I don't think this feature should be implemented.

[2016-04-01 06:36] stephenmartindale commented on #2798
Without any add-ons, full-fat Visual Studio's block indentation (with tabs as spaces) solves most of the problems because, if you are indented and add a new line, a single back-space is all that is required to jump out one indentation level. As it stands, VS Code handles this poorly - if you use soft tabs and need to get out by one indentation level, you have to press backspace n times where n is

[2016-04-01 06:54] stephenmartindale commented on #2798
@egamma: Thanks for suggesting that extension - it's properly brilliant! I hope the VS Code devs are reading this thread because I would love to see that behaviour as a first-class option or even the _default_ behaviour of the backspace key when soft-tabs are enabled.

[2016-04-01 07:05] jedmao commented on #2798
@stephenmartindale, it's not just backspace, but arrow-key navigation as well. The [TabSanity](https://marketplace.visualstudio.com/items?itemName=jedmao.tabsanity) plugin resolves both, but there are some kinks with multiple cursors I haven't yet had the time to sort out.

[2016-04-01 07:06] joaomoreno commented on #92
First time I see this, thanks for the dig. I can look into it.

[2016-04-01 07:07] joaomoreno commented on #4827
Make sure you configure your [proxy explicitly](https://code.visualstudio.com/docs/supporting/faq#_proxy-server-support).

[2016-04-01 07:08] isidorn commented on #4829
@rebornix multiline output should be possible using the [output event](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/debugProtocol.d.ts#L119). If each line ends with a `\n` we will nicely split them on the vscode side.

If it does not work as expected feel free to create a new issue

[2016-04-01 07:08] joaomoreno commented on #4762
cc @jrieken

[2016-04-01 07:09] joaomoreno commented on #4805
What git version are you using?

[2016-04-01 07:09] isidorn commented on #1616
fyi @weinand

[2016-04-01 07:11] joaomoreno commented on #4821
This is expected.

If you do the rename using the Windows Explorer and run `git status` they will also show as deleted and added files. Once you commit, rename detection will occur and it everything will be logged as renames by git.

[2016-04-01 07:11] #4821 closed

[2016-04-01 07:13] aeschli commented on #4806
We're currently using the HTML formatter from https://github.com/beautify-web/js-beautify. Maybe you can file your request (which I think is reasonable) there as well.

[2016-04-01 07:25] jrieken commented on #4762
Yes, menu bar and action bar contributions we shall have

[2016-04-01 07:26] jrieken commented on #58
Optimistically adding for April - stretch tho.

[2016-04-01 07:37] leegee commented on #4821
Sorry my report was not clear enough.
*Please look again at step 4,* and compare it with your observation of 'just how git works.'
Currently, your product dose not reflect the way git operates, and from your response, I gather that is not the intention.

[2016-04-01 07:41] stephenmartindale opened #4847 "closeAllFiles does not close Default Settings and Default Keyboard Shortcuts"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

1. Bind a keyboard shortcut to `workbench.files.action.closeAllFiles`
2. Open either `File -> Preferences -> User Settings` or `File -> Preferences -> Keyboard Shortcuts`
3. Observe that the right-hand pane shows your editable settings file and either `Default Settings` or `Default Keyboard Shortcuts`, respectively.
4. Press

[2016-04-01 07:44] jrieken commented on #2990
With 65cb339 I pushed a change that allows you to `skipEncoding` when calling `URI.toString`. That or `fsPath` should be sufficient when talking to other applications/systems

[2016-04-01 07:44] #2990 closed

[2016-04-01 07:46] jrieken commented on #4311
done with #4640

[2016-04-01 07:46] #4311 closed

[2016-04-01 07:55] aeschli commented on #4804
There is an extension for css formatting.

[2016-04-01 07:55] #4804 closed

[2016-04-01 08:03] aeschli commented on #4738
Jade uses scope `string.comment.buffered.block.jade` for these comment, so it's rather random if this is a string or a comment.
I also think it's minor so for now I would not start customizing our theme for Jade.

[2016-04-01 08:04] aeschli commented on #4686
This is caused by #3008

[2016-04-01 08:04] #4686 closed

[2016-04-01 08:10] borekb opened #4848 "Customizable 'Open in Command Prompt' console"
_Open in Command Prompt_ currently opens `cmd.exe`, it would be nice to customize it to run e.g. Cmder or ConEmu which are much better alternatives.

[2016-04-01 08:15] aeschli commented on #4681
@Janne252 Our grammars can not have dynamic content. But what you can do is contribute decorations from your extension. You'd still have the grammar file. It would provide the basic colors (comments, strings...), but on top of that you could color your special identifiers using decorators.
It's not something we do ourselves, but it's worth trying out.
To see decorators in action, check out the [de

[2016-04-01 08:15] #4681 closed

[2016-04-01 08:17] weinand commented on #1616
@buzinas I recommend to create a sub folder for the server or client part of your project. Then you can easily create another VS Code window where you can run another debugger. We are using this approach  and it works great.

[2016-04-01 08:18] aeschli commented on #4675
I think it's rather inconsistent what VS does here. No plans to adopt the coloring of type declarations and some type references.

[2016-04-01 08:18] #4675 closed

[2016-04-01 08:21] jrieken commented on #3153
The problem is that the suggest model computes `::` as being the current word. It will use that to filter the suggestions and end up with nothing left

![screen shot 2016-04-01 at 10 13 17](https://cloud.githubusercontent.com/assets/1794099/14201649/7f4ba3aa-f7f3-11e5-8a18-f0874b66f3a7.png)

[2016-04-01 08:25] jrieken commented on #3153
@joaomoreno It's time to finally get rid of that current word notion. My proposal is to not use the word definition anymore but use the `overrideBefore` and `overrideAfter` (which corresponds to the `TextEdit` the api surfaces)

[2016-04-01 08:31] aeschli commented on #4812
@alefragnani Ah, now I understand. Ignore my first comment (I removed it).
There's no API for you to find out if a line is visible or not. We actually try to avoid that.
Would it make sense that you could specify if your annotation should hide for a folded region?
@alexandrudima Alex, FYI.

[2016-04-01 08:32] aeschli commented on #4670
To implement what you suggest we would have to get an understanding on what a comment is.
#3422 is the first step for this.

[2016-04-01 08:36] joaomoreno commented on #4821
That only works because you are calling `git mv` which automatically stages your files.

The correct analogy to what Code does, that is without the staging, is to run `mv foo bar` instead of `git mv foo bar`.

[2016-04-01 08:43] dbaeumer commented on #4578
I open https://github.com/Microsoft/TypeScript/issues/7762 on the TS side.

[2016-04-01 09:14] squarerootfury commented on #4542
@dchw  I never had the editor in Split view, so this may be a different issue with smiliar result.

[2016-04-01 09:25] jgillich commented on #2647
@egamma Can you please elaborate, is it possible to build VS Code with the extension gallery or is that a closed source component?

[2016-04-01 09:34] bpasero commented on #4808
@v-pavanp "where code-alpha" what does it print?

[2016-04-01 09:34] dbaeumer commented on #4760
This is expected since the task runner currently only support 0.1.0 format of that file. There is no 0.2.0

[2016-04-01 09:34] #4760 closed

[2016-04-01 09:36] dbaeumer commented on #4771
@johnliu2016 can you please forward to the translation team.

[2016-04-01 09:39] weinand commented on #4798
I've added experimental support for automatically skipping code that has a source map but where the mapping does not exist and would end up in the generated code. This can be enabled in the launch config by setting an attribute `smartStep` to `true`.

@jpierson @felixfbecker please let me know if you think this is useful.

[2016-04-01 09:41] #4264 closed

[2016-04-01 09:52] johnliu2016 commented on #4771
@dbaeumer forwarded to loc team

[2016-04-01 09:59] jrieken commented on #3153
@rkeithhill We have understood the problem and are working on a fix. What you can try to get unblocked faster is tweaking the word definition for Powershell. Today, it seems to match for `:` and disabling that should get you going until we get our fix out

[2016-04-01 10:06] aeschli commented on #4656
This is pretty tricky to implement in the schema validator.

[2016-04-01 10:07] #4148 closed

[2016-04-01 10:08] aeschli commented on #4833
This issue should go in the C++ extension issue tracking system (email at mailto:c_cpp_support@microsoft.com).
@sridmad Can you add it to your tracking system?

[2016-04-01 10:08] #4833 closed

[2016-04-01 10:14] isidorn commented on #4767
@v-pavanp how exactly do you get intelli-sense for ${workspaceRoot}? Can you give me steps? I do not get intelli-sense for any of those properties.
@aeschli is it possible for me to define these global variables which should always be offered in my schema?

[2016-04-01 10:58] grairdon88 commented on #4827
Thanks! Did not know that, sorry!

[2016-04-01 11:06] z-ax commented on #2726
Alright, +1 to this. I'm writing Electron application and launch via `npm start` or some Gulp task, because some stuff needs to be generated before `electron main.js` can be launched from the app subdir.

Any way to apply this to `launch.json` nicely?

[2016-04-01 11:26] felixfbecker commented on #4578
Just happened again, I did not open any file in the node_modules directory. I just opened a folder (vscode-node-debug) in VS Code and ran npm install, which failed because of locked files:
[code]

[2016-04-01 11:31] alefragnani commented on #4812
@aeschli No problem. In fact it was my fault, because I should have added this GIF right in the first post :smile:

About your suggestion, I totally agree :+1: .

Thanks again

[2016-04-01 11:35] felixfbecker commented on #4798
@weinand If I understand you correctly, this is more an issue with TypeScript's/Babel's source map generation?
I have tried out the tool with your example, but compiled with the gulpfile from my debug adapter: [link](https://sokra.github.io/source-map-visualization/#base64,InVzZSBzdHJpY3QiOwoKdmFyIF9fYXdhaXRlciA9IHVuZGVmaW5lZCAmJiB1bmRlZmluZWQuX19hd2FpdGVyIHx8IGZ1bmN0aW9uICh0aGlzQXJnLCBfYXJndW1lbn

[2016-04-01 12:07] weinand commented on #4798
@felixfbecker I've fixed the dependencies in vscode-node-debug and after removing node_modules and doing an `npm install` the `vsce package` created a vsix that works with the insiders release. There is no need to rebuild VS Code.

[2016-04-01 12:12] weinand commented on #4798
@felixfbecker my experimental "smart step" feature should be independent from what transpiler tools are used to generate JavaScript and source maps. The feature should just hide generated code by auto stepping through it. If you enable the feature you can see on the console how many "step ins" commands were issued.

[2016-04-01 12:21] dbaeumer commented on #4818
@johnliu2016 this is fixed in the latest translation I received today. Feel free to close.

[2016-04-01 12:24] felixfbecker commented on #4798
@weinand I am still hitting the source files. Ran git pull, rm -re -fo node_modules, npm i, gulp build, vsce package and installed it

[2016-04-01 12:29] weinand commented on #4798
@felixfbecker how it should look like: https://dl.dropboxusercontent.com/u/2433608/2016-04-01%2014-23-27.mp4

[2016-04-01 12:31] felixfbecker commented on #4798
@weinand No idea why it's not working, can you send me your vsix?

[2016-04-01 12:37] dbaeumer commented on #4578
@felixfbecker as described in Microsoft/TypeScript#7762 this has nothing to do with the node_modules folder. It can easily happen with other folders as well. And it is not related to having a file open in the folder. It is enough to add any ts file which is part of a tsconfig.json which affects other directories.

[2016-04-01 12:38] dbaeumer commented on #4771
Thanks!

[2016-04-01 12:44] weinand commented on #4798
@felixfbecker here is my sample project:
[async.zip](https://github.com/Microsoft/vscode/files/199616/async.zip)

[2016-04-01 12:45] cafreeman opened #4850 ""Install shell command `code` doesn't do anything""
- VSCode Version: 0.10.13 Insiders
- OS Version: Mac OS X El Capitan

Steps to Reproduce:

1. Install the insiders 0.10.13 Insiders build
2. Open VS Code and run the "Install `code` command in PATH" utility from the command palette.
3. restart terminal
4. try to run `code`
5. nothing happens

Checked `.bashrc`, `.bash_profile`, and `.zshrc` (`zsh` is actually my shell, but I checked the `bash` one

[2016-04-01 12:45] #4648 closed

[2016-04-01 12:46] felixfbecker opened #4851 "Allow YAML for all configuration files"
JSON has a couple of issues:
 - Many things need to be escaped
 - Not human-readable very well
 - No line breaks in strings
 - No advanced features like repeating/references
 - comments are not officially supported

I propose that VS Code supports YAML aswell as JSON for all config files (settings.json, launch.json, tasks.json, snippets.json). Especially for Snippets it would be much better experi

[2016-04-01 12:48] dbaeumer commented on #4775
@digeff if you use a wachting build task you need to instruct VSCode when an 'incremental' build starts and when it ends. Otherwiese VS Code can not know when to clear old errors.

The properties on a problemMatcher are

[code]

And example for the problem matcher for the tsc compiler can be found here: https://github.com/Microsoft/vscode/issues/4316

[2016-04-01 12:48] #4775 closed

[2016-04-01 12:50] dbaeumer commented on #4768
There aren't any compile errors reported from the task that's why the count is still 0. The error comes from starting the compiler. If this happens we open the console. In your example you are simply missing the tsconfig.json file.

[2016-04-01 12:50] #4768 closed

[2016-04-01 12:55] felixfbecker commented on #4798
I meant the extension file as apparently I can't get it to compile and install correctly

[2016-04-01 12:59] weinand commented on #4798
@felixfbecker I'd like to know what problems you are seeing when trying to build vscode-node-debug? Is this on Windows? I just tried it there and for me it works.

[2016-04-01 13:02] vscodeerrors opened #4852 "e.getViewer is not a function"
Issue Id: <b>003377f7-f4ce-1854-6943-1737708d7aa5</b><br /><br />*Versions* <br />- 0.10.13-insider<br />*Stack* <br />TypeError: e.getViewer is not a function<br />[/vs/workbench/parts/files/browser/explorerViewlet.ts#L159:22 (getViewer)](https://github.com/microsoft/vscode/blob/43ff6af3d4564f59196caa9be4897fc33c15f24c/src/vs/workbench/parts/files/browser/explorerViewlet.ts#L159:22 (getViewer))<b

[2016-04-01 13:02] #4852 closed

[2016-04-01 13:03] vscodeerrors opened #4853 "Cannot read property 'onTokensChanged' of undefined"
Issue Id: <b>74730508-4ac5-6cd6-832d-ddf2f9e62f40</b><br /><br />*Versions* <br />- 0.10.12-insider<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />*Stack* <br />TypeError: Cannot read property 'onTokensChanged' of undefined<br />[/vs/editor/browser/view/viewLayer.ts#L228:18 (onTokensChanged)](https://github.com/microsoft/vscode/blob/ef2a1fcaa553d14d7731b284a5ac5e4a55c42936/src/vs/editor/bro

[2016-04-01 13:03] vscodeerrors opened #4854 "Cannot read property 'unshift' of null"
Issue Id: <b>8f79ac6d-2abf-ad4a-2527-34d2a291ce9a</b><br /><br />*Versions* <br />- 0.10.12-insider<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />*Stack* <br />TypeError: Cannot read property 'unshift' of null<br />[/vs/editor/common/services/modelServiceImpl.ts#L159:15 (unshift)](https://github.com/microsoft/vscode/blob/ef2a1fcaa553d14d7731b284a5ac5e4a55c42936/src/vs/editor/common/service

[2016-04-01 13:07] aeschli commented on #4644
these issues got fixed by  2d56597

[2016-04-01 13:07] #4644 closed

[2016-04-01 13:10] weinand commented on #4798
@felixfbecker when looking at your [sourec map](https://sokra.github.io/source-map-visualization/#base64,InVzZSBzdHJpY3QiOwoKdmFyIF9fYXdhaXRlciA9IHVuZGVmaW5lZCAmJiB1bmRlZmluZWQuX19hd2FpdGVyIHx8IGZ1bmN0aW9uICh0aGlzQXJnLCBfYXJndW1lbnRzLCBQLCBnZW5lcmF0b3IpIHsKICAgIHJldHVybiBuZXcgKFAgfHwgKFAgPSBQcm9taXNlKSkoZnVuY3Rpb24gKHJlc29sdmUsIHJlamVjdCkgewogICAgICAgIGZ1bmN0aW9uIGZ1bGZpbGxlZCh2YWx1ZSkgewogICAgICA

[2016-04-01 13:13] felixfbecker commented on #4798
@weinand I think my Insiders build might be broken, getting all kinds of ENOENT and null pointer excs. Don't have time to investigate further right now. But +1 for the feature.

[2016-04-01 13:16] apalchys opened #4855 "Windows 10: Deleting always fails with error message"
- VSCode Version: 0.10.11
- OS Version: Windows 10 x64
NOTE: Recycle bin is disabled.

Steps to Reproduce:

1.  Try to delete any file in VS Explorer
2.  Get "Failed to move {filename} to the trash"
3.  Hitting "Delete Permanently" does nothing.

Also it was reproducible with previous versions.

[2016-04-01 13:27] jumpinjackie opened #4856 "[feature request]: Allow diff view (from select for compare command) to be used to edit both sides"
- VSCode Version: 0.10.13-insider
- OS Version: Windows 7 64-bit

It would be nice if the diff view in the select for compare can be used to edit both files being compared instead of just the file on the right side.

It would make it easy to edit two very similar files at the same time, that only differ in certain parts.

[2016-04-01 13:35] buzinas commented on #1616
@weinand Yes, since debugging both in the same instance would be much harder to accomplish - removing the limitation would be good enough (and probably an easy thing to ship).

Since our codebase huge, and we have lots of build processes / continuous integration etc etc, it would be kind of complex to make a folder refactor as you're suggesting. But I'll make a clone of the repo and give a try, ma

[2016-04-01 13:38] weinand commented on #1616
@buzinas as I said, the sub-folder can be empty. The only thing that VS Code will create in that folder is another launch.json file. So no folder refactor is necessary.

[2016-04-01 13:40] buzinas commented on #1616
@weinand Could you please show me an example of that?

[2016-04-01 13:48] alexdresko commented on #1723
@bpasero By assigning this to yourself, does that mean it might happen? If so, please let me know if you would like some help, even if it's just for feedback.

[2016-04-01 13:51] aeschli commented on #3976
Found the issue (on our side)
Duplicate of #4769

[2016-04-01 13:51] #3976 closed

[2016-04-01 13:51] JeandeCampredon commented on #1690
+1

[2016-04-01 13:55] aeschli commented on #4477
Found the issue on our side. Duplicate of #4769

[2016-04-01 13:55] weinand commented on #1616
@buzinas here we go:
![2016-04-01 15-49-19](https://cloud.githubusercontent.com/assets/1898161/14208835/9bd0e764-f821-11e5-8c81-ab8eadc0a029.png)

- Client and server code are in the same project.
- `_dummyFolder` only exists to be able to open another VS Code window on it.
- launch.json in _dummyFolder has 'go up' one level to refer to the server code.

[2016-04-01 13:57] jrieken opened #4857 "suggest widget failed to render emoji"
* have a suggestion that contains an emoji in it's label (`new CompletionItem('😀')`)
* trigger IntelliSense and see that the emoji doesn't render

[2016-04-01 13:58] jrieken commented on #4857
![screen shot 2016-04-01 at 15 57 22](https://cloud.githubusercontent.com/assets/1794099/14209016/82cd21f0-f822-11e5-9df8-2a3a2b3b1298.png)

[2016-04-01 13:59] aeschli commented on #4599
Duplicate of #4769

[2016-04-01 14:00] buzinas commented on #1616
@weinand  Oh, that's really cool. I'll give it a try! Thank you :)

[2016-04-01 14:08] aeschli commented on #4061
duplicate of #4769

[2016-04-01 14:08] weinand commented on #1616
@gregvanl I think my workaround from above would be a good FAQ item for the debugger section?

[2016-04-01 14:08] bpasero opened #4858 "Provide an action to reveal the currently active file in the explorer"
This is in preparation to provide a setting to disable auto-reveal of the currently opened file in the explorer (#3062)

[2016-04-01 14:09] #4858 closed

[2016-04-01 14:12] bpasero commented on #4858
Please test with corner cases like no-folder-opened or file is not inside workspace.

[2016-04-01 14:16] dchw commented on #4542
@squarerootfury I also get it when working with a single document, it just seems to happen more when working with multiple documents. Definitely more often when performing the scenario I mentioned in my last post, but its still there when not in split mode.

[2016-04-01 14:17] jrieken commented on #4823
@iHuahua What do mean by `yo code`? do you create a new extension that you want to run? What is the _full_ reading of the console?

[2016-04-01 14:24] buzinas commented on #1616
@weinand Although it's launching both here now, the breakpoints don't work.

It seems that the new instance doesn't send debugging info to the master one. How do you debug the server in that example of your screenshot?

[2016-04-01 14:38] weinand commented on #1616
@buzinas yes, you are right, the VS Code on the _dummyFolder has no access to source, so it cannot set breakpoints.

Solution: don't make the _dummyFolder a sub-folder but make it a super-folder:

![2016-04-01 16-35-23](https://cloud.githubusercontent.com/assets/1898161/14210175/1a84e38e-f828-11e5-9e04-463cd2a913b2.png)

[2016-04-01 15:15] weinand opened #4861 "Strange "Canceled" message"
- VSCode Version: alpha
- OS Version: OS X 10.11.4

If the debug adapter terminates unexpectedly I now see this strange "Canceled" message:

![2016-04-01 17-09-13](https://cloud.githubusercontent.com/assets/1898161/14211137/b8ff2bba-f82c-11e5-8a9e-e747a05e8405.png)

[2016-04-01 15:16] dchw commented on #4542
@squarerootfury The more I think about it, the more I realized you are right. If this does seem to be a more general issue, then its worth filing a more general bug. I'll go do that.

[2016-04-01 15:17] jrieken commented on #3153
With that PR in the goings we will use a smarter way of selecting what text from the current line to filter you completion items against. When providing a `TextEdit` like above we will use the range that it defines (in the same `0,0,0,5` and use that for filtering) otherwise (only `label` is present) we will fall-back to the word range until the position.

There is still an issue because we filter

[2016-04-01 15:33] dchw opened #4862 "Consider to not close files when receiving delete events"
- VSCode Version: 0.10.11
- OS Version: Windows 7 Pro

What I Would Expect:

I would love it  if my files did not close, or if I got a warning that something bad happened before my files close.

Steps to Reproduce:

Preface: It happens in all sorts of circumstances, but this is the fastest way I have seen to reproduce it. It does involve installing a plugin, but this happens to me (and other membe

[2016-04-01 15:52] carcigenicate opened #4863 "Sometimes won't react to touchpresses"
- VSCode Version: 0.10.11
- OS Version: Windows 10 10586.164
- Surface Pro 4

Steps to Reproduce:

1. Install Code
2. Attempt to press anything using only a touchscreen.

I'm not entirely sure how to reproduce it. I downloaded Code yesterday to learn Typescript, and none of the buttons worked when I tried to use the touch screen, but worked if I used the touchpad or pen. I uninstalled it, because

[2016-04-01 15:57] weinand commented on #2726
@z-ax until I find the time to add this feature here is a setup for OS X and linux that uses an npm script to launch a program in debug mode.

Unpack this [project zip](https://github.com/Microsoft/vscode/files/199901/npm-run.zip) and make the included script `fakenode.sh` executable.

Open the project with VS Code and set a breakpoint in hello.js:2.

Start debugging: the breakpoint should be hit.

[2016-04-01 15:58] jrieken commented on #4857
never mind, it was applying highlights to the label that are based on the filter text...

[2016-04-01 15:58] #4857 closed

[2016-04-01 16:02] weinand commented on #4813
This is a duplicate of https://github.com/Microsoft/vscode/issues/2726.

I've just added an example project that shows how this can be done: https://github.com/Microsoft/vscode/issues/2726#issuecomment-204349900

[2016-04-01 16:02] #4813 closed

[2016-04-01 16:02] Anjmao commented on #4837
+1. Where is like 10 bugs(feature requests) to add file type icons to easer find different files :)

[2016-04-01 16:13] z-ax commented on #2726
@weinand, thanks for reply, but until it's supported, will better work as before :)

[2016-04-01 16:16] Tyriar commented on #4837
I don't think we would color files based on the file type, we are however looking at including git status to color files https://github.com/Microsoft/vscode/issues/178 and adding file type icons https://github.com/Microsoft/vscode/issues/211

[2016-04-01 16:16] #4837 closed

[2016-04-01 16:20] Anjmao opened #4864 "Wrong syntax Highlighting"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

1. open vs code
2. create typescript file with keywords like class

Here is how it should be, class with green color, return with pink
![image](https://cloud.githubusercontent.com/assets/3028012/14212988/36aeb4ca-f83e-11e5-85ba-d5094d0bd733.png)

Here is how it actual looks
![syntax](https://cloud.githubusercontent.com/assets

[2016-04-01 16:20] Tyriar commented on #4837
There's an extension API request to change color and opacity of files in the explorer too https://github.com/Microsoft/vscode/issues/1394

[2016-04-01 16:21] weinand commented on #2726
Since the port number might make it difficult to adopt my approach from above, I will add support for a `port` attribute in the launch configs of request type `launch`. With this you can specify in your launch config to which port VS Code will try to connect (instead of letting VS Code choose a port randomly).

I've created this [feature request](https://github.com/Microsoft/vscode-node-debug/issu

[2016-04-01 16:22] buzinas commented on #1616
That's kindda problematic for our project.

But thanks for your time and attention! :)

For the next projects I'll use this approach, and for the current ones, I'll be waiting till we can open the same project in two different instances. Could this be done with an extension? If yes, I would consider developing it myself.

[2016-04-01 16:26] weinand commented on #1616
@buzinas but every folder has a parent folder, right? So VS Code can always open it (even if you cannot freely choose the name).

No, an extension cannot fix the issue that a folder cannot be opened in two VS Code windows. (Most likely the problem is just a single if-statement that needs to be removed ;-)

[2016-04-01 16:28] alexgorbatchev commented on #4039
I would really love to see an option to format on save

[2016-04-01 16:37] fa7ad commented on #211
Is the file tree exposed to extensions api? if you can expose it, i think that would allow the community to create an extension for this and for any further opinionated customizations all the while VSCode itself can remain neutral on the issue

[2016-04-01 16:38] Tyriar commented on #4856
Duplicate of https://github.com/Microsoft/vscode/issues/4180

[2016-04-01 16:38] #4856 closed

[2016-04-01 16:44] Tyriar commented on #4850
@cafreeman the insiders build will actually install `code-insiders`, the "typo" in the command palette for the insiders build is captured in https://github.com/Microsoft/vscode/issues/3877

If you're still experiencing issues, you can try running `whereis code-insiders` to help diagnose the issue.

[2016-04-01 16:44] #4850 closed

[2016-04-01 16:52] #297 closed

[2016-04-01 16:52] iDev0urer commented on #728
Would be nice to also add svg support to html

[2016-04-01 17:06] ivogabe commented on #211
If that would be added, I'd like to port my icon extension ([Brackets Icons](https://github.com/ivogabe/Brackets-Icons)) for Brackets to VS Code. In Brackets, an icon provider can be added, which is a function that returns an icon as a DOM element for a specified file name ([docs](http://brackets.io/docs/current/modules/project/ProjectManager.html#-addIconProvider)). Since VS Code doesn't expose t

[2016-04-01 17:18] Tyriar commented on #2480
@egamma @seanmcbreen @waderyan

[2016-04-01 17:19] bpasero commented on #991
Marking as upstream for better menu API around enablement.

[2016-04-01 17:19] jschraub opened #4865 "Enhanced Scrollbar (add minimap)"
Feature Request

Add the Enhanced Scrollbar feature from VS 2013 and VS 2015 into VS Code.  It's an extremely efficient way to move around within a file and would be a great feature to have in VS Code.

If this is already an extension or an option, I could not find it.

[2016-04-01 17:21] bpasero commented on #211
No API atm to change the explorer.

[2016-04-01 17:28] aeschli commented on #4767
@isidorn Not with the schema. But you could contribute your own completion provider.

[2016-04-01 17:42] daviwil commented on #3153
Thanks a lot for working on this!  I believe `insertText` should also be inspected since the real completion text for PowerShell will come from there.  The `label` and `filterText` are used for different purposes and don't necessarily reflect the text that will be inserted.

How are you currently filtering the proposals against the text that is being completed?  What's the goal for filtering, just

[2016-04-01 17:56] devnullnor commented on #4837
Thank you. Consider this case is solved/closed.

[2016-04-01 18:16] NocFlame opened #4866 "Syntax Highlighting fails in for loop"
- VSCode Version: 0.10.11
- OS Version: Windows 7, 10, Mac 10.11.4

Steps to Reproduce:

1. Start VS Code
2. Type a for loop without a spaced condition i.e j< 10
![screen shot 2016-04-01 at 20 01 10](https://cloud.githubusercontent.com/assets/1550134/14215888/1ee84efc-f846-11e5-861d-384528b462ad.png)

[2016-04-01 18:28] alanwright commented on #508
@bpasero It reproduced over night with insider build. I tried in both our private larger enlistment and our open source enlistment, and only the larger private enlistment seemed to cause the problem, which I unfortunately can't share (it is Microsoft internal though so maybe we can get you access? My alias is alanwri)

Is there anything I can do on my machine to capture logs and share with you?

!

[2016-04-01 18:52] fa7ad commented on #211
@bpasero is there plans for such a thing in the near future? if yes, any rough ETA?

[2016-04-01 18:55] bpasero commented on #211
@egamma @chrisdias please chime in.

[2016-04-01 18:56] bpasero commented on #508
Please share with me on my alias benjpas, thanks! Would also appreciate some details how you use VS Code on that workspace to cause the memory increase.

[2016-04-01 19:31] mquandalle opened #4867 "Animate sidebar toggling"
Sublime Text has a fast and smooth transition on sidebar toggling. I noticed that some of the VSCode elements also have a similar transition, like the “find widget” (opened on <kbd>Ctrl</kbd>+<kbd>F</kbd>).

Should the sidebar have this transition on VSCode?

[2016-04-01 19:40] bgashler1 commented on #362
## About the blurriness
This is a known issue with Chromium.  SVG cursors in Chromium are rasterized before they are displayed, hence the blurriness.
https://bugs.chromium.org/p/chromium/issues/detail?id=325565

## My workaround
I was able to address blurriness on webkit browsers (i.e. Chromium) using a `-webkit-image-set` rule to display appropriate scaled versions for the pixel density of the di

[2016-04-01 19:41] Tyriar commented on #4426
Let's see how it goes with the packages before doing something like this. This is only really an issue if the zip archive is used on Linux.

[2016-04-01 20:14] claudiusraphael opened #4868 "RUN: VS Code from no-or-not-enough-user-rights-supporting-based- (FAT-XX|exFAT|UDF) -drives, independent of targeted OS"
- VSCode Version: latest | downloaded now 20160401220400
- OS Version: Ubuntu Linux Xenial | latest updates as of right now (just an example)

Steps to Reproduce:

1. Download VS Code for Linux 32|64 & Extracting|Unpacking|Unzipping it to a FAT-XX|exFAT|UDF-based drive
2. Try to launch it

TARGET: Running VS Code from drives which are formatted with file-systems, which do NOT support USER-RIGHTS o

[2016-04-01 20:23] claudiusraphael commented on #362
Dunno, if it is lining up with the mentioned:

Under Ubuntu-Xenial 32-|64-Bit latest the cursor obviously looses its svg (if that one is the one used allover), instead showing off 3-vertical-lines-stacked-vertically. I could not determine a specific surrounding-|environmental- -condition (means: independent of ram-|-usage|-free || available-ressources-in-general || install-specific-differences).

[2016-04-01 20:37] bgashler1 commented on #362
@claudiusraphael this issue is talking about the "flipped cursor" over the line numbers on the left of the editor.  Is this the cursor you are not seeing correctly?  What exactly is the problem you're seeing (if you can snap a photo of your screen, that would be helpful).

[2016-04-01 20:49] regs01 commented on #1614
@felixfbecker
just a prompt to elevate on save will save a lot of time.

[2016-04-01 20:53] regs01 commented on #422
@bpasero kind off. so i just resize it once and it will save my size, then any instance, no matter if 1st, 2nd or 3rd will open with my size. well, any other app does like this.

[2016-04-01 21:01] Tyriar commented on #4866
Duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/11

[2016-04-01 21:01] #4866 closed

[2016-04-01 21:11] claudiusraphael commented on #362
Right now, i have no screenshot available, but as soon as i got into that condition again AND remember that i asked for a solution ;) i will spend a bucket full;

What brought me to the idea that it is (at least) in relation to this issue, is that the area whereas the cursor showed the (seemingly based on missing graphic - comparable to a javascript that can't get the image to be loaded quick enou

[2016-04-01 21:37] iDev0urer opened #4869 "Error: Header must provide a Content-Length property"
- VSCode Version: 0.10.11
- OS Version: Windows 7

I am getting the following error when trying to create a language server:
[code]

My method that starts the server:
[code]

And the server itself
[code]

The server code doesn't ever get hit and I never see the console.log(). I have also completely erased the content in the server file and the error prevails

[2016-04-01 21:53] vsccarl opened #4870 "Watch for deletes in out of workspace files"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:
1. Add user settings file to working files
2. Reveal in explorer or navigate to the file
3. Delete the file in File Explorer

Actual:
File remains in working files even though it doesn't exist.

Expected:
When you remove other files from your project, they are immediately removed from both the project and working files.

[2016-04-01 21:54] asotog commented on #78
@bpasero tried fixing this as this https://github.com/asotog/vscode/commit/d3cac5b26e57521dc39f8390e3cdf76c1f917342

[2016-04-01 22:25] DmitryEfimenko commented on #4787
I think it'll be an often inconvenience for developers. A common example is to disregard indentation when specifying an inline html template in a javascript file. Here is an example from angular app::
[code]

[2016-04-01 22:29] bgashler1 commented on #362
@claudiusraphael if I'm understanding you correctly, then this cursor disappearing problem you are having is happening not just in VSCode, but it's also happening throughout your operating system.  Or is it just within VS Code?

[2016-04-01 22:34] vsccarl opened #4872 "Modifying a file while running debug does not properly update"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. With a basic Node.js project set a breakpoint anywhere in index.js before you set the port.
I cloned this https://github.com/heroku/node-js-sample.git and have a breakpoint set on line 1 of index.js
2. Start debugging
3. After hitting the break point, change the port from 5000 to say 8000
4. Continue debugging

Actua

[2016-04-01 23:25] ghost opened #4873 "Add read-only mode"
- VSCode Version: 0.10.11
- OS Version: Fedora 23, 64bit

Details:
- Please add read-only mode and its keyboard shortcut.
- It should be a switch. When turned on, opening new files will be in read-only mode.
- It should be persistent across restarts.

This feature should be very useful for code reviewing. And I think it's not hard to implement.

Thank you,

[2016-04-01 23:52] v-pavanp opened #4874 "Getting unknown platform error when trying to debug cordova project on windows though running Project from command Palette is working fine."
- VSCode Version: 0.10.12-alpha
- OS Version:Windows10

Steps to Reproduce:
***Create setup for Cordova project.***
      - a.	Run npm command from command prompt to install cordova.  (npm install cordova –g)
      - b.	Create cordova project using yeoman “ yo cordova” and select Windows option.
      - c.	Verify cordova version by running command: cordova –v
      - d.	Install platform package us

[2016-04-02 00:03] bgashler1 commented on #362
Reopening until I test this on Windows, since I also fixed the blurry cursor on Windows

[2016-04-02 00:05] bgashler1 commented on #3185
Duplicate #3586

[2016-04-02 00:05] #3185 closed

[2016-04-02 01:25] sarbbottam opened #4875 "Support portable settings"
In Mac following customizations are found at `~/Library/Application Support/Code/User`:
* `keybindings.json`
* `settings.json`
* `snippets`

Where as `installed extension`s are found at `~/.vscode`

Could there be a `settings` file with the installed extension, so that the extension can be installed from the list? Something like `package.json`?

I am not sure where the current `color theme`  prefe

[2016-04-02 03:43] Tyriar opened #4876 "Intellisense should not trigger on cut, backspace or delete of selections"
This may be a personal preference, it feels weird to me.

Steps to Reproduce:
1. Type some intellisense symbol (eg. `window` in javascript)
2. Select 1+ characters at the end (eg. `dow` in `window`)
3. <kbd>ctrl</kbd>+<kbd>x</kbd>, <kbd>delete</kbd> or <kbd>backspace</kbd> to remove the text
4. I would not expect intellisense to come up at this point

[2016-04-02 06:25] bpasero commented on #1723
This issue is currently assigned to the backlog. Every sprint we pick items from the backlog to plan for the current iteration. Please see https://github.com/Microsoft/vscode/wiki/Issue-Tracking#planning

[2016-04-02 06:39] bpasero commented on #422
@regs01 I suggest you open a separate issue on that topic as this one here talks about a different problem.

[2016-04-02 07:05] bpasero commented on #4054
#224 should address this too

[2016-04-02 07:05] #4054 closed

[2016-04-02 07:11] bpasero commented on #2759
#224 should address this.

[2016-04-02 07:11] #2759 closed

[2016-04-02 07:40] haibison opened #4877 "Toggle case of selection"
- VSCode Version: 0.10.11
- OS Version: Fedora 23, 64bit

Please add command to toggle case of selection, such as:

- `lower case`
- `UPPER CASE`
- `Capitalize Words`
- Invert: `Input` -> `iNPUT`

Thank you  `:-)`

[2016-04-02 08:03] Tyriar commented on #4877
Looks like this extension might be just what you're looking for https://marketplace.visualstudio.com/items?itemName=wmaurer.change-case

[2016-04-02 08:03] #4877 closed

[2016-04-02 08:06] haibison commented on #4877
Thank @Tyriar , I searched in internal commands but didn't find it. Next time I'll search the store too.

Have a nice day  `:-)`

[2016-04-02 10:22] ghost opened #4878 "Auto-completion with Tab and Enter"
- VSCode Version: 0.10.11
- OS Version: Fedora 23, 64bit

It would be great if there's an option for (auto-completion):
- Pressing <kbd>Tab</kbd> will replace the rest.
- Pressing <kbd>Enter</kbd> will insert into current caret position.

Or vice-versa.

Thanks,

[2016-04-02 10:31] gojavapro commented on #143
+1

[2016-04-02 10:52] Ramaqmar opened #4879 "جميل جدا"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-04-02 10:54] Ramaqmar commented on #4879
hi tha

[2016-04-02 11:19] prasannavl commented on #422
@bpasero I'd say that the point made by @regs01 and this are highly related. So much so, that fixing this unless explicitly overridden should fix that as well naturally.

The idea is that whenever a window is created, it should now use the last saved size. Now, the intricate detail here is that the last saved size should never be the maximized size. (If the window is maximized when it quits, it sh

[2016-04-02 11:22] prasannavl commented on #422
Pseudocode (It doesn't reflect electron's api. Just the idea):

[code]

[2016-04-02 11:56] bpasero commented on #422
@prasannavl I am not entirely convinced that the one issue is the same as the other. your issue talks about the fact that when you maximize a window from a certain size and then restart and restore, the previous size is not restored. I see this as an actual bug we should fix eventually.

The other point is about how new windows should be sized when you open them. I am not sure there is a solution

[2016-04-02 12:45] bpasero commented on #4876
:100: , I am very annoyed by intellisense popping up when deleting text.

[2016-04-02 13:10] prasannavl commented on #422
@bpasero The problem you mention can be solved this way, in a manner to keep everyone reasonable happy until more advanced configurations (if all worth going through the trouble) are added.

If its the first window opened by the application, use the same size.
If it is indeed a new one, cascade x, and y a bit. Now in order to do this, first check x + width, and y + height to make sure its not outs

[2016-04-02 13:19] prasannavl commented on #422
PS: You could also very well, just let the platform's window manager handle the secondary windows positions, by ignoring the x and y completely. Windows should handle the cascading on its own (Win32 should, but not sure if electron overrides it) I would consider that as a first stage to the solution.

[2016-04-02 13:43] mrahhal opened #4880 "LineStart and LineEnd editor keyboard shortcuts"
The only thing keeping me away from vscode are the following shortcut configurations (which I make heavy usage of) that exist in Visual Studio as well as other editors like atom:

- Editor.LineStart (just like the `home` button)
- Editor.LineEnd (just like the `end` button)

The reason is that for example I like to assign `alt+A` to LineStart which is much more accessible than `home`.

[2016-04-02 13:51] bpasero commented on #422
I am quite sure that the framework we use (Electron) on Windows does not provide any functionality to position the window in a clever way, but I can try again.

[2016-04-02 14:35] jamesqo opened #4881 "[cpp] Switching to Atom's language-c for C/C++ syntax highlighting"
TextMate's [repo](https://github.com/textmate/c.tmbundle) for C/C++ syntax highlighting doesn't look like it's been updated in a while, while Atom's JSON-based equivalent is being [actively maintained](https://github.com/atom/language-c/commit/4c6e4f971429ec235cfb664387dea6dade25d38b) and is easier to read. Should we switch to the latter?

Related issue I opened on Linguist about this: github/ling

[2016-04-02 15:06] mquandalle commented on #4606
I haven’t look at Chromium49 smooth scrolling yet, but it seems to me that this wouldn’t help VSCode scrolling that is managed using CSS `transform3D` and absolute positioning.

[2016-04-02 15:07] egamma commented on #2647
@jgillich this has already been elaborated here https://github.com/Microsoft/vscode/issues/60#issuecomment-161792005, hasn;t it?

[2016-04-02 15:13] egamma commented on #4881
// CC @asthana86

[2016-04-02 15:18] egamma commented on #4879
Looks like this issue was created for testing purposes only, closing.

[2016-04-02 15:18] #4879 closed

[2016-04-02 15:27] prasannavl commented on #422
@bpasero Why I'm not highly familiar with electron at the moment, I do know enough to agree that it doesn't provide any clever positioning. But what I was pointing at, was that does electron let the platform manager natively handle its position, or does it override the native functionality and thereby dum it down?

If its the former, then should be easy or I'm afraid the logic that I mentioned usi

[2016-04-02 15:43] jgillich commented on #2647
@egamma Well, given how vital extensions are to a editor like VS Code, I couldn't quite believe what I read and had to ask for confirmation.

[2016-04-02 15:48] egamma commented on #4874
This issue was moved to Microsoft/vscode-cordova#88

[2016-04-02 15:48] #4874 closed

[2016-04-02 16:10] egamma commented on #4843
The list of recommendataions is a curated list and cordova is not on this list, so this works as designed.

[2016-04-02 16:10] #4843 closed

[2016-04-02 16:11] vanduc1102 opened #4882 "Request an Icon like Eclipse on Linux"
Can you guys provided an icon or linux version like Eclipse did, So that when I create a shortcut on Ubuntu. I can assign the icon for shortcut.
Thanks

[2016-04-02 16:15] egamma commented on #4796
@hulang actually all you need is to install the jquery.d.ts from the definitly typed repository, pls see https://code.visualstudio.com/docs/languages/javascript#_snippets-for-javascript.

[2016-04-02 16:19] egamma commented on #4830
@alfalabs reopening, but now please provide detailled information about your setup:
- which extensions do you have installed
- attach the html file that caused the hang

[2016-04-02 17:35] kirokuan commented on #206
+1

[2016-04-02 17:41] regs01 commented on #422
I just wanted to say exactly same. It's been pretty common in Windows to cascade windows. I was saying use same size, but i didn't say anything about same position, right because of cascading.

So there is a logic that could work flawlessly
1. First instance should open with saved size, saved position and saved state (maximized/restored).
2. Second instanced should only utilize saved size, but not

[2016-04-02 17:44] balcsida commented on #2207
Yes, it worked for me too (I did a complete Windows reinstall)

[2016-04-02 18:59] gertcuykens commented on #3077
Just to make sure we are talking about the same, CSS variables would enable support for

https://drafts.csswg.org/css-variables
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
https://www.polymer-project.org/1.0/docs/devguide/styling.html

![image](https://cloud.githubusercontent.com/assets/863731/14228451/bdb13682-f915-11e5-99c7-5b62b2fd2ea0.png)

[2016-04-02 19:05] mtrivolli commented on #4492
@weinand I've tested this with the release 0.10.13-insider from March 29th and it does not seem to be resolved: If I put a breakpoint in the line before "debugger" it actually stops, but at the call to System.register in the transpiled code:

![image](https://cloud.githubusercontent.com/assets/16635831/14228475/2e3ec77a-f916-11e5-83ba-ef8aa68d4830.png)

Sorry if I'm being to impatient!

[2016-04-02 19:39] kamilkosek opened #4883 "Support opening files through URL handling"
VSCode Version: 0.10.11
OS Version: Windows 10

Details:
Please provide a URL handler for accessing vscode from external applications.
For example :
`vscode://open?url=file://path/to/file`
`vscode://new?text=text_that_will_be_in_file&type=js`

This would be very useful for lets say browser extensions etc....

[2016-04-02 19:45] gertcuykens commented on #4039
Using polymer which is a mix of html and javascript, shift + option + f doesn't work on it.

You can use this as a test base for formating https://github.com/PolymerElements/polymer-starter-kit

[2016-04-02 19:58] Tyriar commented on #4882
.deb packages are coming in the upcoming release which will installs a .desktop entry as well as a bin command. It's currently available on the insiders build: http://code.visualstudio.com/insiders

[2016-04-02 19:58] #4882 closed

[2016-04-02 20:07] aeschli commented on #4644
duplicate of #4769

[2016-04-02 20:24] weinand commented on #4492
@mtrivolli as I said: this is in the alpha release, **not** in the insider release. And I did not say that the issue is resolved.

[2016-04-02 22:05] Peter-Juhasz opened #4884 "Difficult to read intellisense popup box"
**Visual Studio Code** (version 0.10.11 on Windows 10586.164):
![image](https://cloud.githubusercontent.com/assets/9047283/14229163/73d5eb04-f92c-11e5-9963-49df1a64e733.png)

Source code, documentation, signature, all look almost the same. The following issues make it difficult to read:
- Same background as the underlying text view
- Same font and color as source code for documentation and signatu

[2016-04-02 22:50] Tyriar commented on #4884
Ping @bgashler1

[2016-04-03 04:23] mucaho commented on #2647
@jgillich I think there has been a slight misunderstanding: If you read one of the [following comments in #60](https://github.com/Microsoft/vscode/issues/60#issuecomment-162411071), it says that you just need to modify a configuration file for it to work.
I've just added 3 lines to the configuration file and that enabled the extension manager!

[2016-04-03 07:50] bpasero commented on #4847
Has been fixed for our next release. You can try it out from our insiders release: http://code.visualstudio.com/Download#insiders

[2016-04-03 07:50] #4847 closed

[2016-04-03 07:51] bpasero commented on #4846
@xianghongai so in what encoding is this file?

[2016-04-03 07:52] bpasero commented on #4855
@apalchys there can be many reasons why moving to trash does not work (e.g. you are on a SUBST drive, or mounted network). The bug that deleting permanently fails is fixed for our current release. You can try it from our insiders release: http://code.visualstudio.com/Download#insiders

[2016-04-03 07:52] #4855 closed

[2016-04-03 07:53] bpasero commented on #4862
Something seems to trigger a DELETE event on c:\Users\Some.User\src\some-project\. Can you share the workspace with me and the setup to reproduce?

[2016-04-03 07:54] bpasero commented on #422
Allright, let me update the issue to reflect the discussion.

[2016-04-03 08:31] Peter-Juhasz commented on #4848
Or PowerShell

[2016-04-03 09:11] bpasero commented on #3473
Duplicate of https://github.com/Microsoft/vscode/issues/241

[2016-04-03 09:11] #3473 closed

[2016-04-03 09:17] bpasero commented on #1109
Please reopen if this still happens with our latest cli work.

[2016-04-03 09:17] #1109 closed

[2016-04-03 09:19] SetTrend opened #4885 "Can't select File Explorer panel using the keyboard"
When activating the File Explorer panel by hitting `<CTRL>+<SHIFT>+<E>`, either the "Working Files" section or the project folder section is active.

However, I don't seem to be able to scroll beyond any of both lists using the arrow keys on my keyboard, which is rather annoying.

- VSCode Version: 0.10.11
- OS Version: Windows 10/64

Steps to Reproduce:

1. Hit `<CTRL>+<SHIFT>+<E>` on the keyboar

[2016-04-03 10:18] SetTrend commented on #4705
Thanks, @weinand , for your very informative answer!

With your information I was now able to update the source map paths assignment. I uploaded an update to GitHub to reflect the changes I made.

However, the TypeScript source is still not used by the debugger:

![typescript](https://cloud.githubusercontent.com/assets/9283914/14231895/c1f31f1a-f994-11e5-8496-eec9f564063b.png)

Is that the bug you

[2016-04-03 10:25] Odonno commented on #241
Does electron API method `app.addRecentDocument()` not working ? I tried to debug the app but didn't find how to debug other than UI thread...

[2016-04-03 10:29] lychichem commented on #4679
As a Chinese user who do l10n work for Mozilla Firefox, I strongly suggest you DO NOT translate command strings in command panel. I have to try to translate all the command I want to use to Chinese exactly identical to your translation, that is very painful. You can just give out an explanation which is shown when mouse is on the command name and just translate the explanation.

[2016-04-03 11:03] apalchys commented on #4855
@bpasero Confirm. it is fixed in 0.10.13-insider.  Thanks.

[2016-04-03 11:38] andmos commented on #4875
I agree. Atom let's you also install extensions from the command line with the ``apm install`` command. Something similar would be nice for VSCode as well. I use OS X, Linux and Windows, keeping my settings in sync is possible with Git, but the extensions has to be managed manually.

[2016-04-03 12:05] bpasero commented on #241
It does but there is more requirements for this to work on Windows.

[2016-04-03 12:25] Odonno commented on #241
The `task` jumplist seems to work (where you can ask for a new window). Why is it different ?

[2016-04-03 13:26] bpasero commented on #241
Yes, tasks seem to be a different concept that work without issues.

[2016-04-03 14:11] pflannery commented on #241
It's either

1) An issue with vscode in the registry
2) Electron is failing at [SHAddToRecentDocs](https://msdn.microsoft.com/en-us/library/windows/desktop/bb762105(v=vs.85).aspx). Problem with SHAddToRecentDocs is that it doesn't return a result so it's hard to determine whats going on.

or both.

[2016-04-03 14:18] pflannery commented on #241
same issue is happening to me on atom too https://github.com/atom/atom/issues/4241#issuecomment-204981921

[2016-04-03 15:02] bpasero commented on #241
See https://github.com/atom/electron/blob/master/docs/tutorial/desktop-environment-integration.md#windows-notes

[2016-04-03 15:08] bpasero commented on #4803
This recently came available in Electron 0.37.4 but I am really wondering how this feature would work together with horizontal scrolling?

[2016-04-03 15:14] xeoneux commented on #4803
@bpasero Override when `fn` key is pressed maybe? :smile:

[2016-04-03 15:18] pflannery commented on #241
@bpasero Just tried with latest Atom beta and i can get files to appear in the jump list but only using the file menu - https://github.com/atom/atom/issues/4241#issuecomment-204994777

[2016-04-03 15:25] bpasero commented on #241
VS Code switched away from using Squirrel for Windows for installation so it is well possible that Atom includes installation procedures that make it possible to show files in the jump list and VS Code's installer needs to do the same. Would still like to find out what exactly is needed.

[2016-04-03 15:43] bpasero opened #4886 "HTML tests are failing"
https://travis-ci.org/Microsoft/vscode/jobs/120206982

[2016-04-03 16:30] cchamberlain commented on #3600
Macros (q) and Multiline editing (v<number>j>) are needed.  Neovim integration would be awesome.

[2016-04-03 16:38] maxim-sheronov opened #4887 "VS Code does not create ui window if xflux program runs"
- VSCode Version: 0.10.11, 0.10.13-insider
- OS Version: Ubuntu 15.10

Steps to Reproduce:

1. install and run xflux (quite popular program) from https://justgetflux.com/
2. try to run vs code

AR: code process starts, but does not starts process with type=renderer and ui window does not appear
also appears one more process of xflux app

if you kill all xflux processes and rerun vs code, again xfl

[2016-04-03 16:43] maxim-sheronov commented on #4887
Sorry guys, I've put xflux launch command to my ~/.profile file
I think, that vs code re-execute this file and that's why xflux starts again

[2016-04-03 16:43] #4887 closed

[2016-04-03 17:05] danguilherme commented on #126
After using @danlofquist and @peterblazejewicz solutions, I had to reinstall VS Code C# extension to get it working. Thanks!

[2016-04-03 18:26] egamma opened #4888 "April Iteration Plan"
While watching the community feedback on 1.0, we have already started to work on the next update. We will continue to ship monthly. This plan captures what we work on during April and will ship early May.

We arrived at the following themes for April:
* Ramp up the work on the next major version.
* Do some explorations.
* Reduce engineering debt in vscode and the primary extensions which the team

[2016-04-03 18:50] andy9775 opened #4889 "Issue with autoformat, rest spread and insider version"
- VSCode Version: 0.10.13 (insider)
- OS Version: OS X 10.10.5

Steps to Reproduce:

1.create a new .js file and past the following example code in:

[code]

2.`cmd-shift-p` then type `format code`

With the spread operator (`...rest`) this causes a weird formatting issue (indent level) resulting in:

[code]

Removing all instances of the spread operator (`...rest`) and repeating step 2 formats th

[2016-04-03 18:51] mhalber opened #4890 "Code completion with C/C++ extension"
Hi,
I've been testing the new C/C++ extension, however I am running into some problems with code completion suggestions.

Here is an example with C/C++ extension installed, forcing suggestions using cmd+space.
It results in perpetual "Loading..." pop up:
![screen shot 2016-04-03 at 2 38 39 pm](https://cloud.githubusercontent.com/assets/6202456/14234198/bff5f8d4-f9aa-11e5-8469-06e0e4058893.png)

Wi

[2016-04-03 19:10] charleswhchan commented on #4701
Hi @Tyriar, I just try again and it is still reproduceable (at least on my machine :smile:)

Here's a screencast:
![vscode](https://cloud.githubusercontent.com/assets/679475/14234302/f9441776-f994-11e5-9a1b-a6e0a6b941b3.gif)

[2016-04-03 19:41] rkeithhill commented on #4567
@isidorn I *think* we have this fixed.  The fix behaves correctly in the Insiders build but not the Alpha build.  Strangely, it appears the Insider build at 0.10.13 is a bit ahead of the Alpha build at 0.10.12.  So I'm hoping that the Insiders build has been "fixed" whereas the Alpha build hasn't.  If this remains the case, I would consider this bug fixed.  **My only ask is that the debug protocol

[2016-04-03 19:53] weinand commented on #4567
@isidorn your analysis makes sense but if I send the 'initializedEvent' **after** the 'InitializeRequest' has returned the Capabilities I see in Mock Debug that the 'LaunchRequest' arrives before the 'setBreakpointsRequest'. As a consequence no breakpoints are hit because the program has already terminated.

So here is the old sequence for Mock Debug:
[code]

This sequence looks already broken bec

[2016-04-03 20:09] weinand commented on #4705
@SetTrend I've pulled your changes and did a 'gulp tsc' on Windows 10 but the `sourceRoot` in the map file still lacks another '..'. After adding it, VS Code opens the TypeScript for me:

![2016-04-03 22-03-33](https://cloud.githubusercontent.com/assets/1898161/14234646/16f401ca-f9e8-11e5-9153-a336fff2157a.png)

BTW, the trace output in your screenshot looks different then my Windows 10 screenshot

[2016-04-03 20:14] FrancisFaure opened #4891 "Manage encoding files by extension of filenames"
Hello "VS Code" team,
- I do a language extension for "VS Code",
  (https://github.com/FrancisFaure/vfp_tmlanguage_generator)
  (Visual FoxPro)
- I search a setting for the "codepage" on file extensions files (.PRG) on "Windows 1252" and not "UTF-8" by default
- I try (without succes to add "files.encoding": "windows1252" in "package.json"
- "VS Code" website say  :
  users can change all codepage

[2016-04-03 20:39] rkeithhill commented on #4567
@weinand Hehe, that is why we have code in the PowerShell extension to capture "launch info" from the `launchRequest` message and not actually launch until we've received both messages (launchRequest and configurationDoneRequest) regardless of the order they come in.  That said, this is not an ideal situation.

[2016-04-03 20:50] skyaddict commented on #869
Would this feature allow me to exclude **/*.css but not **/*.cssx.css? Can anyone think of a way this could be done now?

[2016-04-03 20:55] SetTrend commented on #4705
Strange... Perhaps it's because I have some [spaces in the path (see this issue)](https://github.com/nodejs/node/issues/5060)?

Actually I found the three `".."` in the path alright. Have you seen my code in the `tsc` task:

[code]

The path is getting calculated. The trace log gives the correct path to the TypeScript file. It just isn't used.

[2016-04-03 21:14] weinand commented on #4705
@SetTrend yes, the space in the path could be the reason why the 'src' pathes start with 'file://'. I will try to reproduce.

I'll try again to explain why 'sourceRoot' is wrong (no, I will not debug the code in the gulp script because VS Code only uses the resulting source map ;-)

Here is the concatenation based on the source map v3 spec:

[code]

The resulting path still has an 'output' segment

[2016-04-03 21:18] nevadascout opened #4892 "Allow manually specifying promise timeouts"
- VSCode Version: 0.10.11
- OS Version: Windows 10

I have a promise that takes just over a second to complete, but due to [this code](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/node/extensionHostProcess.ts#L53) (shown below) it is always rejected.

[code]

I would like to be able to specify a timeout manually for my promise to allow it to run for 2 seconds _(for example)_ be

[2016-04-03 21:30] weinand commented on #4705
@SetTrend no, spaces in paths do not result in pathes starting with 'file://':

![2016-04-03 23-27-42](https://cloud.githubusercontent.com/assets/1898161/14235069/001d9af4-f9f4-11e5-8b73-ab3523e0217d.png)

[2016-04-04 00:10] v-pavanp opened #4893 "Allow file operations on entries in opened editors"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:
1.  Launch app and add any file or open any folder.
2. Verify rename operation inside explorer using F2 key.

Actual: There is no way to rename explorer contents using any keyboard shortcut or with mouse double click.

Scenario:
I tried to add a html file but forgot to add extension. As there is no way to rename the file

[2016-04-04 01:02] holyman2k opened #4894 "Cannot search for new line character using find"
- VSCode Version: 0.10.11 (0.10.11)
- OS Version: OSX 10.11.4 (15E65)

Steps to Reproduce:

1. open code
2. in a new file type "hello
world" (hello [new line]world)
3. edit -> find
4 in search box type "\n" and select regular express

nothing is found but there is a new line character in the text file

[2016-04-04 01:48] codeblooded commented on #3600
My big 4 (before anything else imo):
- [ ] open
- [ ] wq
- [ ] yyp
- [ ] line number command support like `:2,10dd`

[2016-04-04 04:27] gregvanl opened #4895 "Tasks.json environment variable expansion case sensitive"
- VSCode Version:0.10.13 alpha
- OS Version:Windows 10

Steps to Reproduce:
1. Add an variable to your tasks.json ex. ${env.PATH}
        "command": "echo",
   "isShellCommand": true,
   "args": ["${env.PATH}"],
2. Run the task.
   This will expand correctly on Linux and OS X but not Windows since the expansion is case sensitive and PATH on Windows is "Path".
   Env Var expansion shouldn't be case

[2016-04-04 04:56] leonardosnt commented on #3605
Me too

[2016-04-04 04:58] leonardosnt commented on #3605
@bgashler1 I'm using "editor.cursorStyle": "block", and is not working with "High contrast" theme, is just with High contrast, with others he is working fine.

Sorry for my poor english.

[2016-04-04 05:52] #3062 closed

[2016-04-04 05:53] bpasero commented on #3062
April release will have a new flag `autoReveal` (default: `true`) to control this behaviour. In addition there is a new command `Show Active File in Explorer`

[2016-04-04 06:13] lextm commented on #117
The repo has been moved to https://github.com/vscode-restructuredtext/vscode-restructuredtext and preview feature has been added since 0.0.7.

[2016-04-04 06:29] aeschli commented on #4886
Failures are caused by 94ccb58... Use concrete types

[2016-04-04 06:49] egamma commented on #4890
// @asthana86 - pls adopt

[2016-04-04 06:52] jumpinjackie opened #4896 "Feature request: Please remember last x git commit messages where x is configurable or some arbitrary number (w/ option to paste any of these messages in the git message box)"
- VSCode Version: 0.10.13-insider
- OS Version: Windows 8.1

I was doing a commit with a big commit message, after the commit, it turns out I left out a few un-staged files, so I went and undid the last commit and started to re-commit with all files staged.

The problem was that in the process, I lost the previous commit message as I was ready to commit this one and VSCode didn't remember my last

[2016-04-04 07:01] bpasero commented on #4893
This is by design, you need to open a folder to perform all file operations.

[2016-04-04 07:17] mkyjakova opened #4897 "[loc][Query][DevDiv] Typo in source "id""
- VSCode Version:
- OS Version:

Steps to Reproduce:

Hi, we have a query about the English source text. Can you help please?

source:
Map all files matching the glob pattern in their filename to the language with the given id.
Map all files matching the absolute path glob pattern in their path to the language with the given id.

File Name:
extensions\json\server\out\jsoncontributions\fileAssociat

[2016-04-04 07:20] mkyjakova opened #4898 "[loc][Query][DevDiv] Please clarify placeholder "{0}""
- VSCode Version:
- OS Version:

Steps to Reproduce:

Hi, we have a question about the source text. Can you please help?

source:
{0}
{0}
{0}

Resource ID:
".resx", 0; "json.bower.package.hover"
".resx", 0; "json.npm.package.hover"
".resx", 0; "json.nugget.package.hover"

File Name:
extensions\json\server\out\jsoncontributions\bowerJSONContribution.nls.resx
extensions\json\server\out\jsoncontribut

[2016-04-04 07:24] jrieken opened #4899 "scripts/code.sh interfering with VS Code Alpha"
Sometimes the dev version of VS Code and VS Code Alpha seem to 'merge' on the mac. Then they show as one one icon. Also, reloading VS Code Alpha sometimes make the extension host of VS Code Dev crash...

[2016-04-04 07:24] jrieken commented on #4899
@joaomoreno We talked about this

[2016-04-04 07:27] joaomoreno commented on #4899
Very creepy yeah

[2016-04-04 07:27] joaomoreno commented on #4899
cc @bpasero any thoughts?

[2016-04-04 07:31] mkyjakova opened #4900 "[loc][Query][DevDiv] Typo in source "id""
- VSCode Version:
- OS Version:

Steps to Reproduce:

HI, we have a query bout the English source text. Can you please help? Thanks!

Source:
Language id for which this snippet is contributed to.
Language id for which this syntax is contributed to.

File Name:
src\vs\editor\node\textMate\TMSnippets.nls.resx
src\vs\editor\node\textMate\TMSyntax.nls.resx

Resource ID:
".resx", 0; "vscode.extension.c

[2016-04-04 07:36] damienleroux opened #4901 "Indent ES7/Babel Object Rest/Spread Properties in arrow functions"
- VSCode Version: 0.10.13-insider
- OS Version: window 7 Pro SP1

Using VSCode and Babel/ES7 for JavaScript, I have issues when indenting code using [the object spread operator](https://github.com/sebmarkbage/ecmascript-rest-spread). This specification allow to write:

[code]

Steps to Reproduce:

1 . write this code:

[code]
All works fine when auto indenting this code

2 . When trying to make `c

[2016-04-04 07:43] egamma commented on #4901
The TS/JS language service does not support Rest/Spread properties, pls see https://github.com/Microsoft/TypeScript/issues/2103.

[2016-04-04 07:46] #2777 closed

[2016-04-04 07:49] bpasero commented on #2777
The change is to let `saveAs()` go through the same code as `TextFileEditorModel.save()` so that appropriate events are being fired. This fixes two issues:
* API listeners will get notified on text document being saved both for untitled documents as well as existing documents that get `saved as` another file
* our save participant can participate and trim trailing whitespace if this is configured

[2016-04-04 07:50] leegee commented on #4821
Exactly -- that's why I filed a bug report, because Code mishandles version-controlled files.

[2016-04-04 07:52] alexandrudima commented on #4894
Thank you for filing this. Duplicate of #313

[2016-04-04 07:52] #4894 closed

[2016-04-04 07:52] bpasero commented on #4899
The dock issue might well be https://github.com/Microsoft/vscode/issues/4443

I never saw a reload in selfhost crash the extension host in dev though...

[2016-04-04 07:54] jrieken commented on #3153
Yes, it's about discarding completions that don't match the previous text. The actual filtering is an [OR](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/modes/modesFilters.ts#L35) of(prefix, substring, camel case) and at a later step the best matching result is picked from the remaining items.

[2016-04-04 07:59] weinand opened #4902 "Make order of ConfigurationDoneRequest and LaunchRequest deterministic"
Currently the order of ConfigurationDoneRequest and LaunchRequest is not deterministic, that means it is possible that a ConfigurationDoneRequest comes after the LaunchRequest. This is problematic because only a ConfigurationDoneRequest indicates that all breakpoints have been registered and that a LaunchRequest is able to hit all those breakpoints. If the ConfigurationDoneRequest comes after the

[2016-04-04 08:03] damienleroux commented on #4901
Using ESLint to lint error, I succeed to [lint ES7/babel code as wanted](http://stackoverflow.com/questions/36327096/visual-studio-code-linter-es7-babel-code/36327097#36327097). So VSCode work perfectly well with ES7 code. Indentation in VSCode already fills a lot of use case: it is very awesome. Just the sum of this spread + anonymous function doesn't work :( as expected.

Thank you for the link

[2016-04-04 08:04] pavelthebest commented on #4827
The same problem here.
- VSCode Version: latest, downloaded on 04.04.2016, shown as:
Version 0.10.1
Commit df352367df2efcfa9d602d471e4e2f42140a0f05
Date 2015-11-17T15:21:23.766Z
Shell 0.34.1
Renderer 45.0.2454.85
Node 4.1.1
- OS Version: Linux 64bit
- Settings:
	"http.proxy": "http://proxy........:81",
	"https.proxy": "http://proxy.........:81",
	"http.proxyStrictSSL": false,

Steps to Reproduce:

[2016-04-04 08:05] mkyjakova opened #4903 "[loc][Query][DevDiv] Typo in source "id""
- VSCode Version:
- OS Version:

Steps to Reproduce:

Hi , we found a possible typo in the source text. Can you please have a look?

Source:
Dependencies to other extensions. The id of an extension is always ${publisher}.${name}. For example: vscode.csharp.
Did not get a thread from debug adapter with id {0}.

File Names (respectively):
src\vs\platform\extensions\common\extensionsRegistry.nls.resx

[2016-04-04 08:13] mkyjakova opened #4904 "[loc][Query][DevDiv] Please clarify placeholders "{0} {1}""
- VSCode Version:
- OS Version:

Steps to Reproduce:

Hi we have a query about the source text. Can you please clarify?

Source:
{0} {1}

File Name:
src\vs\workbench\browser\parts\editor\sideBySideEditorControl.nls.resx

Resource ID:
".resx", 0; "inputDecoration"

Query:
Can you please clarify what the placeholders will be replaced by? Thanks!

[2016-04-04 08:16] stephenmartindale opened #4905 "Column-Select is biased to the right - this is inconsistent with traditional shift-select behaviour"
- VSCode Version: 0.10.13-insider
- OS Version: Windows 10

I am properly enjoying the new _insider_ release - it offers so much! - and it is with great regret that I must file this first bug...

Steps to Reproduce:

1. Create a block of text such as this one:

[code]

2. Place the caret on the first line, on the left of the `var` keyword.
3. Hold `alt + shift` and left-click on the right hand sid

[2016-04-04 08:18] KushagraGitter commented on #69
put below lines in file setting.json
   "http.proxy": "http://yourproxy.com:8080",
    "https.proxy":"https://yourproxy.com:8080"

[2016-04-04 08:29] faustomura opened #4906 "How to debug Typescript Angular 2 browser side code on Windows?"
- VSCode Version:0.10.11
- OS Version:Windows 8.1

I can't debug browser side typescript code of Angular 2 "Tour Of Heroes" sample code ( http://plnkr.co/edit/?p=preview )
The only way to debug browser side code is use the "Debugger for chrome" extensions?
Are a alternative way to debug browser side typescript code? Alternative in Internet Explorer/Firefox?

If i try to add a breakpoint with Debug

[2016-04-04 09:06] v-pavanp opened #4907 "Linter error flag is showing up while changing language mode to CSS and then back to original."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:
1. launch app and open any HTML file.
2. Verify file type displayed correctly in the task bar.
3. Click on file extension from task bar and change it to CSS.
4. Verify proper error and warning flag should be raised on editor.
5. Now click on auto detect and verify it should change to HTML and all the errors should go away

[2016-04-04 09:20] joaomoreno commented on #4827
I will implement a message to indicate that you should consider set up a proxy, whenever this happens.