[2016-08-23 01:52] frost-byte opened #10814 "Weird auto-formatting while editing a twig template file."
- VSCode Version: 1.4.0
- OS Version: Windows 10 Home, 1607

Steps to Reproduce:

1.  Edit a .twig file
2.  Try to adjust the formatting - line breaks and spaces around curly braces, % (symbols used by twig)
3.  Save the file. (can be triggered by editing other parts of the file as well)

![vscode_twig](https://cloud.githubusercontent.com/assets/852776/17877601/704bfc08-68b2-11e6-88e7-485335d3d2d2

[2016-08-23 01:53] coreh commented on #8054
Also doesn't work on OS X:

![screen shot 2016-08-22 at 22 49 48](https://cloud.githubusercontent.com/assets/418473/17877648/39e68274-68bb-11e6-89d1-94b2a730d712.png)

[2016-08-23 02:01] 928PJY commented on #10777
Thank you so much ! it help me a lot!!

[2016-08-23 02:07] stackerJobs opened #10815 "GotoLine"
- VSCode Version: 1.4.0
- OS Version:win10

I am writing a extension and I want to achieve the function 'gotoline' with a linenum  ,and I just found a command named "workbench.action.gotoline" but not a API , what should I do ,
Any help will be appreciated.

[2016-08-23 04:15] bpasero commented on #10804
+1 for supporting extensions like `d.ts` however I am not sure how to best support this via CSS classes. @aeschli should I just add another class for the full extension (anything after the first dot of the file name)?

[2016-08-23 04:17] iamsunny commented on #9388
I'm also having this trouble. Most of the time I want to drag and drop files into the editor from the explorer bar. As soon I select a file to drag, it opens it in preview mode and I lose the focus of the current editing file in editor.

[2016-08-23 04:25] hamenon commented on #10340
@waderyan Yup, thats exactly it.

I see your point about users not knowing what version they are on. We can improve the message below the install to include something like a "Find out yours" link that points to documentation on finding out the VS Code version.

[2016-08-23 04:47] bpasero commented on #10805
@brunocasado looks like something in that folder causes our extension host to crash. Would you be able to share this folder with us?

[2016-08-23 05:05] Jaykul commented on #6979
Can the hard-coded colors be separated a bit more?
Right now the dark and light colors are **so** close to each other you can barely tell them apart.

[2016-08-23 05:09] kuulemart opened #10816 "String with curly braces breaks C# highlighting"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

When C# string contains curly braces then highlighting breaks down afterwards. Code example (see highlighting after first string in code):

namespace Test
{
    class Test
    {
        string Test1 = string.Format("{0}", 1);
        strin

[2016-08-23 05:13] Jaykul opened #10817 "Integrated Terminal leaves out the background color of output when the foreground is the same."
- VSCode Version: 1.5.0-insider
- Commit 435df14a684df718c5ec523f9d674e63d1662c37
- Date 2016-08-22T08:10:56.602Z
- Shell 0.37.6
- Renderer 49.0.2623.75
- Node 5.10.0
- OS Version:  Windows 10 (10.0.14393.82)

If the foreground and background colors of the output are the same, instead of getting a space with the *specified* background color, I get the background color of the terminal showing throu

[2016-08-23 05:17] buehler commented on #6874
Oh shiny 👍
Thanks for the explanation.

[2016-08-23 05:33] zertosh commented on #55
For the fuzzy finding, over in [Nuclide](https://github.com/facebook/nuclide/tree/master/pkg/nuclide-fuzzy-native), we use [fuzzy-native](https://github.com/hansonw/fuzzy-native), which are Node bindings for [wincent/command-t](https://github.com/wincent/command-t) with multithreading support. It's crazy fast.

[2016-08-23 05:59] joaomoreno commented on #10281
Does it reproduce with the [latest Insiders release](http://code.visualstudio.com/insiders)?

[2016-08-23 06:01] Phisherman opened #10818 "Selection with Ctrl A selects also console"
- VSCode Version: 1.4.0
- OS Version: Windows 10 Enterprise 2015 LTSB

Steps to Reproduce:

1. Open terminal and explorer in VS Code. Click on file in explorer.
2. Press `Ctrl A`. This should only select the text from the opened file but it also selects the terminal text.

![image](https://cloud.githubusercontent.com/assets/2873986/17881711/d15f2402-6907-11e6-9c3d-567049e5249e.png)

[2016-08-23 06:13] baadillahnabil commented on #10797
oh i'm sorry my mistake... i mean HTML syntax in `.php` file

[2016-08-23 06:32] alexandrudima commented on #9582
@jrieken You can have the pleasure of closing :)

[2016-08-23 06:36] aeschli commented on #10804
+1 for supporting two-part extensions.
@bpasero We could add another ext-file-icon class the node. And maybe use the full filename in the name extension?
E.g. for lib.d.ts we would end up with
`lib\.d\.ts-name-file-icon d\.ts-ext-file-icon ts-ext-file-icon.`

[2016-08-23 06:40] nathanhammond opened #10819 "Turn off Intellisense by file type and scope"
- VSCode Version: 1.4.0
- OS Version: OS X 10.11.3

Steps to Reproduce:
1. Create Markdown file.
2. Begin typing.
3. After writing enough you end up getting Intellisense prompts for every new word you write:

![screen shot 2016-08-22 at 11 29 45 pm](https://cloud.githubusercontent.com/assets/20542/17882396/087a66dc-68c1-11e6-858d-c1091422bcf4.png)

This makes for a _terrible_ Markdown editing expe

[2016-08-23 06:52] rgl commented on #10736
I don't get any output.

Oh, I completely forgot about this... but maybe this is related to a known [Electron issue](https://github.com/electron/electron/issues/683). Even doing the workaround (e.g. getting update.com from the squirrel for windows repository) it still does not work over WinRM.

[2016-08-23 06:55] aeschli commented on #2867
@1st1 VSCode doesn't use the name in the tmLanguageFile. We instead use the first 'alias' in the language contribution: https://github.com/Microsoft/vscode/blob/master/extensions/python/package.json#L9.
Replacing a grammar is independent of its name. Any extension can replace the built-in grammar by making a grammar definition for the same _language id_, and by adding a extension dependency to the

[2016-08-23 06:58] aeschli commented on #2867
As the name is not used, we can of course still change it, but I recommend to keep it as is so that people can see where the grammar comes from.

[2016-08-23 07:13] sandy081 commented on #10815
@stackerJobs there is an API in vscode for extension writers to go to a line in the editor

``TextEditor.selection``

This will set the cursor (position/selection) at the required line

[2016-08-23 07:17] #10330 closed

[2016-08-23 07:18] bpasero opened #10820 "TypeError: Cannot read property 'className' of null"
When switching "open editors" view from visible to hidden or vice versa.

@isidorn it looks like when the view changes, it does not get disposed and so old listeners are hanging around?

[2016-08-23 07:26] mushanshitiancai commented on #4972
@brianwhited I post a extension that can paste image from clipboard [Paste Image](https://marketplace.visualstudio.com/items?itemName=mushan.vscode-paste-image)

Because I use applescript to handle image in clipboard, so it only work in MacOS.

[2016-08-23 07:26] lw-schick opened #10821 "PDF Preview in VS Code"
- VSCode Version: 1.4
- OS Version: Windows 7

It would be cool to have a PDF Preview in vs code. We're using vscode to read our documentation repository, and there are still many PDFs from external service providers we have to keep there...

[2016-08-23 07:30] rebornix commented on #9786
@sandy081 I tested it again but found that `vscode.commands.executeCommand("editor.fold", {levels: 2});` only folds line 1 but not line 2.

My repro steps are : run `vscode.commands.executeCommand("editor.fold", {levels: 2});` on line 1, open fold on line 1 and I found line 2 is not folded.

[2016-08-23 07:57] isidorn commented on #10548
What language are you debugging?
In order for us to investigate this we need a simple code snippet for which we can reproduce this. Can you please provide this?
In the variables view do you see a value for mapping.selector?

[2016-08-23 07:57] jrieken commented on #10075
Why would you do that? I think not listening to events when you are invisible and potentially never visible again is generally a good thing

[2016-08-23 07:58] #6094 closed

[2016-08-23 07:59] jrieken commented on #10819
@nathanhammond As a global workaround you can turn off all textual completions with `editor.wordBasedCompletion: false`

[2016-08-23 08:03] #9582 closed

[2016-08-23 08:06] sandy081 commented on #9786
@rebornix See the attached video, it works as expected for me

![aug-23-2016 10-04-38](https://cloud.githubusercontent.com/assets/10746682/17884527/1c0fafb0-6919-11e6-9d08-21495e8b4b88.gif)

First, I folded 2 levels by `2zc` command and later unfolded each by `zo` command.

[2016-08-23 08:07] jrieken commented on #10286
closing as duplicate

[2016-08-23 08:07] #10286 closed

[2016-08-23 08:08] joaomoreno commented on #6094
![louis](https://m.popkey.co/a16137/Y9qx3.gif?c=popkey&p=usa_network&i=suits-ent&l=search&f=.gif)

[2016-08-23 08:08] sandy081 commented on #10814
@frost-byte As you mentioned that it caused by TWIG pack extension, we would probably get the fix in the extension. Closing this here.

[2016-08-23 08:08] #10814 closed

[2016-08-23 08:15] isidorn commented on #10211
fyi @dbaeumer

[2016-08-23 08:16] sandy081 commented on #10811
@AnthonyMichaelc We are happy to receive your feedback and enhance the product. Since you mentioned there are already two extensions in this area, I would suggest to communicate with those extensions via issues about your feedback and make them enhance/improve so that the whole community will get benefit. I think coming up with duplicates won't be a good idea.

So, I would recommend to move this i

[2016-08-23 08:16] #10811 closed

[2016-08-23 08:19] robertohuertasm commented on #10804
Sorry to bother you again. Are folder icons planned in any way? It would be also nice to be able to customize the look of some special folders: .git, .meteor, node_modules, typings...

[2016-08-23 08:19] isidorn commented on #10614
Dup of #10192

[2016-08-23 08:19] #10614 closed

[2016-08-23 08:21] sandy081 commented on #10808
@AnthonyMichaelc Thanks for pitching in and helping out.

@FructuosoRobles Please let us know if your issue is solved otherwise open the issue with what you are expecting

Thanks.

[2016-08-23 08:21] #10808 closed

[2016-08-23 08:25] weinand commented on #10809
@pieandcakes for enabling the exception breakpoint filters, you have to return the filters as the `exceptionBreakpointFilters ` Capability from the `InitializeRequest`:
https://github.com/Microsoft/vscode-debugadapter-node/blob/master/protocol/src/debugProtocol.ts#L752

Here is an example from node-debug:
[code]

[2016-08-23 08:25] #10809 closed

[2016-08-23 08:29] sandy081 commented on #10807
@derekperkins `shift+end` and `shift+home` keyboard shortcuts are working as expected for me.

On Mac I used following keys for

end : `fn + right arrow`
home: `fn + left arrow`

Can you please try with these and let me know if it is still not working.

Thanks

[2016-08-23 08:35] akashdeep-singh opened #10822 "bash for Ubuntu for Windows wouldn't open in the Terminal inside VSCode"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14905

Steps to Reproduce:

1. Open VSCode on Windows
2. Open a command prompt inside VSCode using Ctrl+`
3. Type bash and hit enter

Error: 'bash' is not recognized as an internal or external command, operable program or batch file.

Bash is enabled on my system, an

[2016-08-23 08:38] isidorn commented on #10210
VSCode will try to evaluate the variable before it copies it's value to the clipboard [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/electronDebugActions.ts#L25)
This was originally done because the node debugger cuts off long string value unless they are evaluated.

So the bottom line issue here is that the debug adapter can not evalute the lo

[2016-08-23 08:39] mrmlnc commented on #10822
Have you tried this instruction https://code.visualstudio.com/docs/editor/integrated-terminal#_configuration?

[2016-08-23 08:41] sandy081 commented on #10802
@drew-wallace That's a good idea. If I remember, I have seen a video of a vscode extension that does something similar. But sadly, I am not able find that extension in our repo. So this is doable with the current APIs.

Since this is for an extension request. Please feel free to contribute to vscode extensions and you can always ask us questions if you have any.

Thanks.

[2016-08-23 08:42] #10802 closed

[2016-08-23 08:42] isidorn commented on #9638
Let's make a decission about this at today's ux meeting?

[2016-08-23 08:43] sandy081 commented on #10798
@xyingzhi I am not sure if the given steps are helpful enough to recreate or understand the issue you are facing. Can you please give us a little more detailed steps..

Thanks.

[2016-08-23 08:46] sandy081 commented on #10795
@japsancha It works for me when I saved a file, closed it and opened it, folding state is in previous state.

 Can you please provide more steps to re-create the issue you are seeing?

Thanks.

[2016-08-23 08:46] isidorn commented on #10426
Seems to only happen for the docker case (can not repro for express app), setting to september to investigate then

[2016-08-23 08:49] bpasero commented on #6094
Louis <3

[2016-08-23 08:50] bpasero commented on #10796
https://github.com/Microsoft/vscode/issues/7951

[2016-08-23 08:50] #10796 closed

[2016-08-23 08:50] bpasero commented on #10796
@oflebbe Code is not an image editor, if you need an image editor, I suggest you use an image editor 👍

[2016-08-23 08:51] akashdeep-singh commented on #10822
@mrmlnc While these instructions are helpful in changing VSCode's Terminal, they do not solve my particular issue.

On Windows, I can use bash by simply typing bash on a command prompt, and it gets me the bash shell.

VSCode essentially uses the same command prompt, but still the bash command wouldn't work as expected.

[2016-08-23 08:51] sandy081 commented on #10794
@SetTrend I see the cursor position is retained while doing `ctrl+tab`. May I know is there anything else we would be knowing about your set up, say extensions or custom configurations?

[2016-08-23 08:51] dbaeumer commented on #8358
This is on purpose since the TS compiler warns about overriding privates with same name in subclasses. However the signature are generated minimal (no type information) to make them more stable.

[2016-08-23 08:51] #8358 closed

[2016-08-23 08:53] dbaeumer commented on #7446
Unfortunately this will not make the August milestone since TS is not ready yet.

[2016-08-23 08:54] isidorn commented on #10248
Yes, the formater will format based on a language and that does not change the indentation (correct me if I am wrong @jrieken)
And to format indentation we have specifally introduced those actions which you have discovered.
The optimal scenario would be that the language formater would respect our indentation settings - @jrieken would that be possible?

[2016-08-23 08:54] dbaeumer opened #10823 "Improve error reporting in tsserver."
The TypeScript extension should report errors / failed requests from the tsserver in the TypeScript output channel.

[2016-08-23 08:56] nchanged opened #10824 "Snippets aren't trigged without a space before"
- VSCode Version: Version 1.4.0 (1.4.0)
- OS Version: MacOS

I am not sure if it's intentional, but very annoying nonetheless.
I have a snippet "then" that creates this code:

[code]

[2016-08-23 08:57] #10823 closed

[2016-08-23 08:58] bpasero commented on #10075
@jrieken 👍

[2016-08-23 08:59] whitecolor commented on #4039
+ webstorm does a great job for keeping code formated, VSCode yet is quite bad at it, hope for the best!

[2016-08-23 09:00] sandy081 commented on #10793
@whitecolor Can you try opening a folder in the extension that might set the workspace and try `vscode.workspace.findFiles`?

[2016-08-23 09:04] isidorn commented on #10813
Can not repro with latest vscode insiders.
Clicking on the debug button it gets disabled immediatly for me. Do you see the issue with latest vscode insiders, and if yes can you attach a short video demonstrating the issue.
Just to avoid confussion which exact debug button are you refering to?

[2016-08-23 09:08] dbaeumer commented on #10211
@joshtynjala  if you only have one command in the tasks.json you can refer to that 'task' using the command string. If the command is for example 'npm' we generate a task with the name npm which you then can use in the launch.json.

I agree that this might be cumbersome if the command is a full path. Instead of having the launch.json fixing this we should allow to name single tasks in the tasks.js

[2016-08-23 09:08] giacomorebonato commented on #10517
Ok, I am going to re-open this.
I have isolated the problem [in this repo](https://github.com/giacomorebonato/firebase_ts_problem).
I think this is a problem with Typescript that doesn't seem to exclude the typings in the node_modules... even though it is in the exclude list.

[2016-08-23 09:11] rebornix commented on #9609
@sandy081 Played with `revealLine` not sure I'm doing correctly but when I run ` await vscode.commands.executeCommand('revealLine', {lineNumber: 1, at: 'top'});`, the window scroll down by 1 line and the cursor doesn't move. The cursor behavior is expected but seems `top` is not working. I suppose `'revealLine', {lineNumber: 1, at: 'top'}` will move current line to the top first line in the window

[2016-08-23 09:12] #10556 closed

[2016-08-23 09:13] isidorn commented on #10556
Thanks! @ramamurthynagaraj

[2016-08-23 09:14] dbaeumer commented on #10742
No actually not.

[2016-08-23 09:17] dbaeumer commented on #10740
Updated title.

[2016-08-23 09:20] rebornix commented on #9786
@sandy081 thanks for the video, it addresses the behavior well and now it's working on my machine perfectly as well!

[2016-08-23 09:27] oflebbe commented on #10796
#10577 is the duplicate. The #7951 may be related. Thanks for finding the dups. Haven't found  them.

[2016-08-23 09:49] whitecolor commented on #10793
.Yes I think it is ok if I use excecuteCommand `openFolder` first. so probably can be closed

[2016-08-23 09:49] #10793 closed

[2016-08-23 09:56] ypyf commented on #1636
+1

[2016-08-23 09:57] Sirzechs opened #10825 "[php] Support embedded Javascript (and HTML)"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. open a php file or create new one
2. type methods such as `console.log()` or `.prev()` `.next()`

![vscode-js-php](https://cloud.githubusercontent.com/assets/7927156/17887802/c69e5226-6930-11e6-9061-1ace44874020.png)

[2016-08-23 09:58] sandy081 commented on #9609
@rebornix Yeah, please check if there is some side effect from Vim extension, because this was working properly in the sample.

[2016-08-23 10:00] sandy081 commented on #10791
Duplicates #5865

[2016-08-23 10:00] #10791 closed

[2016-08-23 10:03] sandy081 commented on #10789
Duplicates #8376

[2016-08-23 10:03] #10789 closed

[2016-08-23 10:13] egamma opened #10826 "Source preview in hover is missing a '...' indication"
Please see
https://github.com/Microsoft/vscode-go/issues/439#issuecomment-241232675

[2016-08-23 10:14] jrieken commented on #9861
@bgashler1 Sure about the `Option` key? This implementation is about `alt` as in alternative command. I would not expect `option` to ever work

[2016-08-23 10:15] jrieken commented on #10248
Technically the formatter can do whatever it wants to do, but most formatters don't change the indentation or use the current editor ident settings when formatting

[2016-08-23 10:26] #9734 closed

[2016-08-23 10:27] isidorn commented on #10248
Thus closing this as designed

[2016-08-23 10:27] #10248 closed

[2016-08-23 10:30] sandy081 commented on #10788
@MartinHaeusler There is a quick outline available when you type `ctrl+shift+o` which is a keyboard shortcut for the command `Go to Symbol...`

Guess this works for you.

[2016-08-23 10:44] amosharper commented on #101
Just wanted to vote for this. Can't believe it's been open for almost nine months - VSCode is not a Sublime killer without hot exit.

[2016-08-23 10:51] MartinHaeusler commented on #10788
@sandy081 Thanks for the suggestion, that's already a good start. I would prefer a "permanent" view though, something that visually sticks around all the time, like a sidebar, and is always in sync with the current file in the editor.

In the `ctrl+shift+o` menu, there's also no folding (e.g. members of a class are shown as children of the class) and the types of the members (e.g. field types, met

[2016-08-23 10:54] AhmerAli opened #10827 "How to run PHP code from Visual Studio Code (VSCode)?"
I posted my question on [stackoverflow](http://stackoverflow.com/questions/39067908/how-to-run-php-code-from-visual-studio-code-vscode). Kindly help me.

[2016-08-23 10:55] mkyjakova opened #10828 "[loc][Query][VSCode] Please clarify placeholder"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
%1 Source File

File Name:
build\win32\i18n\messages.en.resx

Resource ID:
".resx", 0; "SourceFile"

Query:
Is the placeholder a number? If not, please, clarify what it stands for.
(es)

[2016-08-23 11:00] mkyjakova opened #10829 "[loc][Query][VSCode] More context for "tab""
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
\n\t\t\t\t\t\tArgument Properties:\n\t\t\t\t\t\t'to': String value providing where to move.\n\t\t\t\t\t\t'by': String value providing the unit for move. By tab or by group.\n\t\t\t\t\t\t'value': Number value providing how many positions or an absolute position to move.\n\t\t\t\t\t

File Name:
src\vs\workbench\browser

[2016-08-23 11:07] Glober777 commented on #10702
No, I haven't because that would mean reducing security, which is something I wanted to avoid.

Actually, working with our firewall admins we were able to identify that if we exclude the following domains (from being re-encrypted) the issue goes away:
visualstudio.com
vsassets.io

I hope that would help others.

[2016-08-23 11:09] MartinHaeusler commented on #10788
By the way, Visual Studio doesn't have that feature either. It needs third party plugins to achieve that, for example ReSharper for C#:

https://www.jetbrains.com/help/resharper/2016.2/Reference__Windows__File_Structure_Window.html

[2016-08-23 11:13] whitecolor opened #10830 "Not full docs/params descriptions in tooltip helper"
- VSCode Version: insiders
- OS Version: window 10

[code]
See not full docs/params descriptions in tooltip helper:
![image](https://cloud.githubusercontent.com/assets/736697/17889980/6b2d5bdc-694c-11e6-9718-7e8561de19c1.png)
and no way to extend the tooltip.

[2016-08-23 11:14] mkyjakova opened #10831 "[loc][Query][VSCode] Please clarify placeholder"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Not showing {0} further errors and warnings.

File Name:
src\vs\workbench\api\node\extHostDiagnostics.nls.resx

Resource ID:
".resx", 0; "limitHit"

Query:
Could you clarify the meaning of the placeholder?	EVA	8/22/2016 10:30:42 AM

[2016-08-23 11:15] MartinHaeusler commented on #10788
One more detail: the eclipse outline allows to switch the display between alphabetic member sorting and "as occurs in file" sorting with a single UI button press - a very handy feature.

[2016-08-23 11:22] whitecolor opened #10832 "Display not visible block start for large blocks"
Looking at the bottom of the code block (`{...}`) We don't know what this block refers to:
VSCode:
![image](https://cloud.githubusercontent.com/assets/736697/17890041/e69c4a62-694c-11e6-927b-ad4414ad910b.png)

Webstorm has a nice feature of displaying clicked block beginning if it is not visible on the sreen
![image](https://cloud.githubusercontent.com/assets/736697/17890140/72865dce-694d-11e6-89d

[2016-08-23 11:31] sandy081 commented on #10788
@MartinHaeusler That's a good input. We already have a feature request for having a separate view for outline - #5605.

I would make this a dup of #5605. Please subscribe to that item and provide feedback there.

Thanks.

[2016-08-23 11:31] #10788 closed

[2016-08-23 11:32] sandy081 commented on #10785
@whitecolor Can you more specific and detail on what you are looking for?

[2016-08-23 11:33] MartinHaeusler commented on #10788
Alright, thanks, I'll do that.

[2016-08-23 11:36] sandy081 commented on #10783
@joaomoreno this looks to me a dup of #534 if so, please close it. Otherwise a new issue for you :).

[2016-08-23 11:47] sandy081 commented on #10781
@whitecolor This issue does not happen to me. Can you please provide more information that will help us to reproduce it. say,

- Is there anything difference in your workspace/set up, any extensions as such
- I assume by debugging extension you mean launching the extension you are developing
- what do you mean by activate?

[2016-08-23 11:50] stevencl opened #10834 "UX meeting agenda 23 August 2016"
- Icons
- Horizontal layout UX
- Debug UX #10437 #9740 #1931
- Close button for horizontal panel #9638

@Microsoft/vscode - let me know if you want to join the meeting and I will send you the invite.

[2016-08-23 11:51] MartinHaeusler commented on #5605
As I mentioned in #10788 , the "symbols tree view" could be made a LOT more powerful than in atom. In my humble opinion, Eclipse got that aspect of the UI absolutely right. Here's a screenshot of the outline view displayed by Eclipse for a Java file:

![outline](https://cloud.githubusercontent.com/assets/16356998/16942947/4c382adc-4d99-11e6-8703-a8a64a1ca62d.png)

There are several things worth me

[2016-08-23 11:56] lovebdsobuj commented on #101
@amosharper, Why you mention some specific Shareware program name.
Here is freeware **Notepad++**,
Notepad++ have great feature about this,
See this...
![screenshot_2016 08 20_08h38m31s_001_](https://cloud.githubusercontent.com/assets/10352682/17890885/82407d78-695a-11e6-9059-a75b0b4e99dd.png)
https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/10441491-remembering-last

[2016-08-23 12:06] #8392 closed

[2016-08-23 12:19] jmtian commented on #10789
ok, thanks for your patience !

tjm98@126.com

From: rcneves
Date: 2016-08-23 00:44
To: Microsoft/vscode
CC: kiddo; Author
Subject: Re: [Microsoft/vscode] Markdown Preview not correct (#10789)
This don't :)
See "oficial syntax proposal" at: https://daringfireball.net/projects/markdown/syntax#header
It makes sense to separate "markup" from "information"
—
You are receiving this because you authored

[2016-08-23 12:27] whitecolor commented on #10781
Well it stops to reproduce after insiders update, maybe it is gone for me too.

[2016-08-23 12:33] sandy081 commented on #10781
Thank you, closing this.

[2016-08-23 12:33] #10781 closed

[2016-08-23 12:37] Gama11 opened #10835 "Ctrl+C doesn't clear the line in integrated cmd.exe"
- VSCode Version: 1.4.0
- OS Version: Windows

Steps to Reproduce:

1. Open a Terminal
2. Type something, then press Ctrl+C

Expected result: you get a new empty line as you would in a standalone `cmd.exe` window.
Actual: nothing happens.

Note: it seems Ctrl+C works as expected for interrupting a process.

[2016-08-23 12:44] ivancuric opened #10836 "[scss] autocomplete for @directives"
- VSCode Version: 1.4.0
- OS Version: OSX 10.11.6

Steps to Reproduce:
1. type `@inc` or `inc`
2. there is no autocomplete for `@include`, just `:increment`

There should be snippets or autocompletes for `include`, `extend` `mixin` and other Sass directives.

[2016-08-23 12:47] sushmitkumarpatil opened #10837 "Vertical selection"
Add support for Vertical selection by holding `Alt` key like Visual Studio.

[2016-08-23 12:48] mayconbeserra opened #10838 "Debugger is not displaying correctly a decimal property value"
- VSCode Version: 1.4.0
- OS Version: OS X 10.11.6
- .NET core version: 1.0.0-preview2-003121

Steps to Reproduce:

1. Create a class with a decimal property
2. Create a test and set any value to the decimal property
3. Put a breakpoint after changing the decimal property
4. Debug
5. Inspect the decimal property value from the class

As you can see in the screenshot, the debugger is not working co

[2016-08-23 12:48] whitecolor opened #10839 "Allow to select entries of the explorer by typing the start of the name"
When looking up the files tree I can use pageup, pagedown
![image](https://cloud.githubusercontent.com/assets/736697/17892223/8febeeae-6959-11e6-826c-78bda76e1210.png)

It would be great to be able to navigate using leters so if I type it would jump to the next folder that matches the patter, many IDEs (like for example `webstorm`) provide this feature.

[2016-08-23 12:51] ivancuric opened #10840 "[css] support `contain` property in css"
- VSCode Version: 1.40
- OS Version: 10.11.6 (15G31)

The css [`contain` property](https://drafts.csswg.org/css-containment/) is not properly recognized in VScode. Should be
`contain: none | strict | content | [ size || layout || style || paint ]`

[2016-08-23 13:11] sandy081 commented on #10624
I am not sure if white space rendering uses guide setting.. I think there is a different setting `highlight.whitespace`.

[2016-08-23 13:15] #10624 closed

[2016-08-23 13:21] #9740 closed

[2016-08-23 13:24] sandy081 commented on #9542
Closing this, since this is no longer an issue for VIM.

[2016-08-23 13:24] #9542 closed

[2016-08-23 13:39] brunocasado commented on #10805
@bpasero  can be a image? or?

[2016-08-23 13:43] whitecolor commented on #10785
Just to be able take standard color scheme(s) and modify it store on the user settings level and use them.

[2016-08-23 14:04] bpasero commented on #10805
@brunocasado I meant the contents of the folder if possible?

[2016-08-23 14:08] #10596 closed

[2016-08-23 14:08] bpasero commented on #10829
@mkyjakova tab means a tab in the editor stack (it does NOT mean tab vs whitespace for an editor).

[2016-08-23 14:12] joaomoreno opened #10841 "TSServer cancelled requests should not show stack in output pane"
![image](https://cloud.githubusercontent.com/assets/22350/17895146/6ab25c0c-694c-11e6-943f-d09cf9b73bc0.png)

[2016-08-23 14:14] joaomoreno opened #10842 "Output pane comes up with hover"
Put this in a JavaScript file:

[code]

Hover on `new`.

[2016-08-23 14:15] joaomoreno commented on #10842
Also, `[object Object]` seems pretty useless here:

![image](https://cloud.githubusercontent.com/assets/22350/17895262/d9bc26be-694c-11e6-9769-3402951137ce.png)

[2016-08-23 14:15] isidorn opened #10843 "Cannot read property settings of undefined in themeService"
Get latest, start vscode out of source, notice exception in console.
`themeDocument` is `undefined` [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/themes/electron-browser/themeService.ts#L626)

![screen shot 2016-08-23 at 16 12 42](https://cloud.githubusercontent.com/assets/1926584/17895180/8a7d609a-694c-11e6-9d11-975d0e456459.png)

[2016-08-23 14:16] #10691 closed

[2016-08-23 14:19] brunocasado commented on #10805
Removed:

./assets/bower_components
./node_modules

if you want this folders let me know

[list.txt](https://github.com/Microsoft/vscode/files/432627/list.txt)

[2016-08-23 14:27] joaomoreno commented on #10782
Note that you already have these operations, although a bit hidden:

![bug](https://cloud.githubusercontent.com/assets/22350/17895775/70ad6582-694e-11e6-903a-54990d8b47d7.gif)

[2016-08-23 14:30] joaomoreno commented on #10783
Yeah, you seem to be mixing up installing extensions with updating Code.

What very likely happened was that Code was launched under the Admin user after updating, which is the bug.

You can now install extensions successfully right?

[2016-08-23 14:30] joaomoreno commented on #10702
Thank you.

[2016-08-23 14:30] #10702 closed

[2016-08-23 14:32] weinand commented on #10574
@isidorn I've added a first cut of this to the debug protocol and node-debug.
If you pass a `supportsRunInTerminalRequest` with value true to the InitializeRequest, node_debug will call the `runInTerminalRequest` on VS Code. See https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/node/v8Protocol.ts#L69

[2016-08-23 14:33] bpasero commented on #10805
@brunocasado great, what are the steps to get these 2 folders back?

[2016-08-23 14:35] aeschli commented on #10843
fixed by 886e308f7e699350db880dd7485d94be997470a0

[2016-08-23 14:35] #10843 closed

[2016-08-23 14:36] #10842 closed

[2016-08-23 14:36] brunocasado commented on #10805
not exclude them hehe

[list.txt](https://github.com/Microsoft/vscode/files/432675/list.txt)

[2016-08-23 14:37] #10820 closed

[2016-08-23 14:38] isidorn commented on #10820
No, the view gets properly disposed, however when reacting to icon changes we were acting on configuration changes before the whole explroer view would get constructed. Added a null guard to protect against that
fyi @aeschli

[2016-08-23 14:43] joshtynjala commented on #10211
Ah, thank you! I didn't realize that. Perhaps a note [in this document](https://code.visualstudio.com/docs/editor/debugging) that makes this special case more obvious would be helpful. I would not have guessed on my own that the "command" field could be used like this.

Agreed. Luckily, I'm running things that are in the PATH environment variable.

This would be convenient! I'm planning to write s

[2016-08-23 14:50] bpasero commented on #10805
Sorry, without being able to reproduce on our end we will have a hard time finding out what the issue is.

Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-08-23 14:51] bpasero commented on #10820
I added that code btw.

[2016-08-23 14:52] #10543 closed

[2016-08-23 14:53] isidorn commented on #10211
ping @gregvanl

[2016-08-23 14:54] dviljoen opened #10844 "Search returns no results"
- VSCode Version:1.4.0
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Open source directory
2. Click search charm (top left) and enter simple text
3. Progress bar indicates a search is in progress
4. No results.
5. I open a source file that I know has the text and search within the file and find multiple occurrences of the same text.

[2016-08-23 15:03] SetTrend commented on #10794
I dug into this issue more deeply and recognized that this problem is only true for read-only files.

Here you can see a screencast showing me trying to CTRL+TAB user settings:

![cursor position is not retained](https://cloud.githubusercontent.com/assets/9283914/17897152/7046e7a8-6953-11e6-805d-7bfae4af967f.gif)

[2016-08-23 15:07] jrieken commented on #2800
got fixed with the changes for #9764

[2016-08-23 15:07] #2800 closed

[2016-08-23 15:14] jrieken commented on #10561
We could do something like [textmate interpolated shell code](http://manual.macromates.com/en/snippets) but for vscode commands. For instance a snippet would look like this

[code]

When inserting such a snippet we identify the command references and replace them with whatever their execution returned (`executeCommand`). As arguments we could pass the document, position, and snippet

[2016-08-23 15:15] aeschli commented on #10804
We added support for folder name associations as well as we support now complex extensions (up to any number of dots).
Note that there has been some renames in the iconDefinitions in regard to the properties for font glyphs.
Also note that when you name your icon-theme file with the ending icon-theme.json the JSON language mode will give you tooling support (hovers, validation and intellisense)

[2016-08-23 15:24] Tekbr opened #10845 "Add a setting to prevent explorer to open last opened file when getting visible"
- VSCode Version: 1.5.0 - insider
- OS Version: Windows 10

-- Sorry for the English, I used Google Translator --

This behavior would be normal? In certain moments it can become annoying.

It can happen in other situations my was as follows.

Steps to Reproduce:
1. Open a folder other folders and files inside.
2. Click on a file that does not get the Preview Editor.
3. Open User Setting.Deixe the

[2016-08-23 15:47] brunnopleffken commented on #8708
@bpasero Not trying to ignore the issue, but just giving my two cents: really worth being stuck in an old version of Chromium and an equally old "zero-point-x" version of Electron because of an inverted cursor?

Reading their changelog, you're missing a bunch of new features and improvements: https://github.com/electron/electron/releases

[2016-08-23 15:51] Tyriar commented on #10574
Keep in mind that the command sent would be sent to the currently configured shell (bash, zsh, powershell, cmd, etc.).

[2016-08-23 15:53] fortinmike opened #10846 "Feature Request : Edit last commit message"
I like the built-in Git support in Code, but I often need to switch back to SmartGit and the CLI for a specific feature: the ability to quickly edit the last commit message (unless already pushed), in one step.

Alternatively, it would be nice if undoing the last commit restored the commit message in the message field. It's almost the same feature, when you think about it. Might be a simple way to

[2016-08-23 16:04] andy-ms commented on #9215
Sorry, but I was unable to build on Windows (using the latest c++ devtools from visual studio gives errors with oniguruma) and the problem does not happen on linux, so it'll have to wait until the next build.

[2016-08-23 16:17] TheColorRed opened #10847 "[File Hierarchy] Old selection not removed upon new selection"
- VSCode Version: 1.4.0
- OS Version: Windows 10

I am not sure what caused this, but once in awhile I have multiple items selected, even though one of the items is not selected. Somehow it isn't clearing the old selection when a new selection is selected.

Here is an example:

![multiple-select](https://cloud.githubusercontent.com/assets/1571806/17899874/76a02cda-6922-11e6-9be8-6e298b7ab4a9.PNG)

[2016-08-23 16:18] bgashler1 commented on #10834
# Notes

### Explorer Icons
The team feels that monochrome looks better than color icons.  Being a cross-platform app, having color icons for folders tend to mismatch some platforms.  For example, orange—the color we were proposing for the folder icons and that is consistent with Visual Studio—is not the color macOS uses for folders in Finder.
Action item: monochromize the folder icons in the Expl

[2016-08-23 16:18] #10834 closed

[2016-08-23 16:18] nathanhammond commented on #10819
@jrieken Indeed, but that cure is worse than the malady since the majority of the time I _do_ want (and benefit tremendously) from textual completions.

So rather than do that I simply moved my markdown editing into a different tool (also suboptimal).

[2016-08-23 16:26] Tyriar commented on #396
@nvcnvn it's not as trivial as it may look to implement this as a lot of vscode assumes that only a single folder can be opened. As such it will need to go through UX and likely touch many parts of the codebase, potentially with impacts on the extension API as well.

[2016-08-23 16:27] robertohuertasm commented on #10804
That's really cool! Will folder name association support open/close states too? That would be awesome!

[2016-08-23 16:32] Tyriar commented on #10709
The team is very sensitive to adding new Chrome to the UI. Currently you can't add buttons anywhere within VS Code and I believe that is an intentional design decision.

Coming soon to the terminal however is the ability to send text to a terminal, which will enable extensions to create custom commands, see https://github.com/Tyriar/vscode-terminal-api-example.

[2016-08-23 16:32] #10709 closed

[2016-08-23 16:35] Tyriar commented on #10818
Cannot reproduce on Ubuntu, @Phisherman does this repro 100% of the time for you? Also does it occur on the [Insiders build](https://code.visualstudio.com/insiders) too?

[2016-08-23 16:35] chuckries commented on #10210
I'll take a look at this from the debugger side. I didn't realize an evaluation was performed on copy.

[2016-08-23 16:37] Tyriar commented on #55
Thanks for sharing @zertosh!

[2016-08-23 16:38] Phisherman commented on #10818
@Tyriar Yes. I tried it on two different PCs. Both with Windows 10 and I can reproduce this behaviour every time. I'll try the Insiders build later and will notice you.

[2016-08-23 16:40] waderyan commented on #10792
@nitinbansal1989 thank you for opening this issue. Can you help me in recreating this?

1. Paste some simple code that demonstrates the issue. I will open a new window and paste the code in.
2. Describe the exact steps you took to see the issue (i.e. select entire code block, right click, select Format Code)
3. Paste a screenshot of what you see.

I will do the steps on my machine to confirm it is

[2016-08-23 16:41] Tyriar commented on #10817
Not sure what's happening here as it works just fine in bash, I would suspect powershell is trying to be tricky?

![image](https://cloud.githubusercontent.com/assets/2193314/17900848/c12a77d6-6915-11e6-9d9e-8dd773530ff7.png)

@daviwil any ideas?

[2016-08-23 16:42] Phisherman commented on #10818
@Tyriar The Insiders build doesn't have this problem.

[2016-08-23 16:43] brunocasado commented on #10805
@bpasero

I'll try.

[2016-08-23 16:49] maxcli opened #10848 "cannot read property onDidStop of null"
- VSCode Version: 1.4.0
- OS Version: win 10 ver 1601

 I see error :   cannot read property onDidStop of null

Steps to Reproduce:

1.  debugging powershell,
2.

[2016-08-23 16:51] Tyriar commented on #10743
Duplicate https://github.com/Microsoft/vscode/issues/9448

[2016-08-23 16:51] #10743 closed

[2016-08-23 16:52] waderyan commented on #10717
This issue was moved to Microsoft/TypeScript#10500

[2016-08-23 16:52] Tyriar commented on #10818
@Phisherman great, looks like it's fixed already then :+1: I'll close this off.

[2016-08-23 16:52] #10818 closed

[2016-08-23 16:52] waderyan commented on #10717
This issue was moved to Microsoft/TypeScript#10502

[2016-08-23 16:52] waderyan commented on #10717
Reopening to track feature request.

[2016-08-23 16:53] maxcli opened #10849 "VS Code running Pester test gives odd results"
•VSCode Version: 1.4.0

•OS Version: win 10 ver 1601

In  VS Code, this assert fails. The same assert works fine in Powershell ISE.
it "**Verify functionxx mock was called one time" {
Assert-MockCalled functionxx -Exactly 1

Steps to Reproduce:
1. debugging powershell pester test ,
2.

[2016-08-23 16:53] waderyan commented on #10735
ping @dbaeumer

who would be best to talk to on the team about this?

[2016-08-23 16:54] waderyan commented on #10755
This issue was moved to Microsoft/TypeScript#10503

[2016-08-23 16:54] #10755 closed

[2016-08-23 16:55] waderyan commented on #10765
Can you help me in recreating this?

1. Paste some simple code that demonstrates the issue. I will open a new window and paste the code in.
2. Describe the exact steps you took to see the issue (i.e. select entire code block, right click, select Format Code)

I will do the steps on my machine to confirm it is reproducible.

[2016-08-23 16:55] lgreenlee opened #10850 "Hang, requiring restart"
Version 1.4.0
Commit 6276dcb0ae497766056b4c09ea75be1d76a8b679
Date 2016-08-04T16:49:32.489Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0
Linux ubuntu 4.4.0-34-generic #53-Ubuntu SMP Wed Jul 27 16:06:39 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Steps to Reproduce:

1. Start VSCode
2. Code for a while ( 30 - 90 minutes )
3. The UI will freeze and vs code will need to be restarted. Only affects the

[2016-08-23 16:55] alefragnani commented on #396
I remember when Atom came out, with the same _single folder_ limitation. The complains were also the same, specially the comparations with Sublime. Then, when _multiple folder_ support was released, some packages(extensions) were broken, due to the new API. Others didn't broke but also didn't support it as well. It took some time until it became _stable_ in the entire ecosystem.

As @Tyriar said,

[2016-08-23 16:57] whitecolor opened #10851 "Extended glob patter for findFiles"
It seems that `vscod.workspace.findFiles` doesn't support extended patterns such as:

`**/+(gulpfile.js|package.json)` or `'**/@(node_modules|jspm_packages|bower_components)/**'`

http://www.linuxjournal.com/content/bash-extended-globbing

it is quite limiting.

[2016-08-23 16:58] Jaykul opened #10852 "Add command-line option for updating."
Now that the insider's are getting _nightly_ new builds, we need a way to trigger the download and install **before** opening the editor, so we don't have to open it, and then wait for it to fetch the update, and then restart again... every morning.

Ideally, a command-line option, or just a separate helper script, which could take care of fetching and starting the update install. Then we could (o

[2016-08-23 16:59] waderyan commented on #10517
Excellent. Thank you for the clear steps. Moving to TypeScript as this is a TS issue.

[2016-08-23 16:59] waderyan commented on #10517
This issue was moved to Microsoft/TypeScript#10504

[2016-08-23 16:59] #10517 closed

[2016-08-23 17:01] whitecolor commented on #10765
1) Well insert do this: `const functionWithParamsOnNextLine = (params) => { }`
2) Go with cursor before `(params)` and press enter
[code]

It actually fixes indentation it after explicit formatting it with `Alt+Shift+F`, didn't know about it, but I would prefer automatic correct code formatting.

[2016-08-23 17:06] ddreggors commented on #396
So what exactly is being argued here?
I mean all I see is "don't make improvements because it could break things"...

Hint:
ALL IMPROVEMENTS IN CODE CAN BREAK SOMETHING!

That is the point of debugging, refactoring, pre-releases (alpha, beta, rc, etc...)
Come one, seriously? I never ever met a serious programmer that was afraid to improve code because it might break something. Be cautious yes, tak

[2016-08-23 17:16] Tyriar commented on #396
@ddreggors I'm not arguing, I'm simply stating some information about the issue. I said what I said so that @nvcnvn doesn't attempt to construct a PR for this as this will need to be done by the team due to the list of stakeholders.

As @nvcnvn pointed out, this issue is on the [roadmap](https://github.com/Microsoft/vscode/wiki/Roadmap) meaning the team will be looking at it soon. We're a relative

[2016-08-23 17:20] EM1L opened #10854 "VSCODE with ext PowerShell 0.7.0 - Throws errors and fails..."
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

On Windows 7 workstation with latest SP etc.

1. Download VSCODE and do a fresh install;
   1.1 This also happens for me as a result of an upgrade of the PowerShell extension to Version 0.7.0; Basically I have tried this on two different wor

[2016-08-23 17:22] ddreggors commented on #396
@Tyriar  Understood, I just keep seeing these comments from several people that seem to suggest it is best not to add this feature for one reason or another. The worst of which was due to the fact that code is not an IDE, when others clearly compared other editors not IDEs. It made me want to get to the root of the fear of this change to get past it if possible.

I can understand the worry of that

[2016-08-23 17:31] Tyriar commented on #396
@ddreggors it would be wasted effort for anyone to touch this before it's been discussed in one of our [UX meetings](https://github.com/Microsoft/vscode/issues?q=is%3Aissue+label%3Aux-meeting+is%3Aclosed)

[2016-08-23 17:34] ddreggors commented on #396
Fair enough, you would know best on that end. It is nice to know that this is being discussed though. :-)

Thanks for efforts, and what looks like the start of a very good editor.

[2016-08-23 17:35] daviwil commented on #10817
Hmmm, not sure, maybe @lzybkr has an idea?

[2016-08-23 17:36] sorabh86 opened #10855 "html block comment problem in php file"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. create an php file
2. type some html and try to comment using ctrl+/ <- single line,
 alt+shift+a <- block level (this is better to be default shortcut of ctrl+shift+/ used for all famous text editor so i had changed)
3. you will see ht

[2016-08-23 17:37] sorabh86 commented on #10855
I didn't tested but i am sure same problem will be detected on asp files.

[2016-08-23 17:43] Tyriar commented on #10817
I don't totally understand how [winpty](https://github.com/rprichard/winpty) translates to/from ANSI escape sequences for Windows. It may be something to do with that?

[2016-08-23 17:43] derekperkins commented on #10807
That combo worked for me, but an external keyboard with physical End/Home buttons does not work when combined with Shift. Inside VSCode, I can use Home and End and they work as expected, but Shift + End or Shift + Home does nothing. Those same commands do work in Sublime, Atom, Microsoft Word, etc, so correct keybindings are being sent.

[2016-08-23 17:45] lzybkr commented on #10817
It's not PowerShell, I see the same if I use:

[code]

[2016-08-23 17:47] kachkaev commented on #396
It also seems to be a wasted effort [to suggest this topic for your UX meetings](https://github.com/Microsoft/vscode/issues/9506#issuecomment-233793155) :–)

I temporary switched back to Atom as it has become much more stable in 1.9 release. It used to crash when any large file was open and that was the main reason at started looking at VSCode at some point. Really looking forward to see multiple

[2016-08-23 17:47] Tyriar commented on #10817
I'm guessing it's winpty then, I've read somewhere that it uses screengrabs for some stuff. We're also on an older version of it. I'll close this off as it's purely an upstream issue.

[2016-08-23 17:47] #10817 closed

[2016-08-23 17:47] Tyriar commented on #10817
Thanks for the help @lzybkr, @daviwil

[2016-08-23 18:04] MeirionHughes commented on #10709
Not the chrome/electron menu; the left-side:

![buttons](https://cloud.githubusercontent.com/assets/3584509/17903578/f6a061fc-6963-11e6-8381-fc7bd5b6ccf9.png)

That space is begging to be filled with user-buttons. I really do not want to have to type terminal commands I regularly use and almost every other UI out there allows at least some customization.

For instance: I could have a button that r

[2016-08-23 18:05] bgashler1 commented on #9861
@jrieken When I say <kbd>Option</kbd>, I also mean the <kbd>Alt</kbd> key.
![img_0674](https://cloud.githubusercontent.com/assets/11839736/17903609/ff7c6462-6920-11e6-928b-d5c936d49a30.png)

When your cursor is already over this button and you press either of these keys (depending on your platform), the alternate action and its icon appear (i.e. "Open Preview to the Side").

[2016-08-23 18:09] #10841 closed

[2016-08-23 18:51] CrabDude opened #10856 "[DELETED]"
[DELETED]

[2016-08-23 18:59] rogerpence commented on #1636
+1

[2016-08-23 19:16] kevcunnane commented on #4308
@weinand - I am seeing this issue with VSCode and the insiders build on Mac. First it only affected my insiders build install but later it started causing the regular build to require a break point. I've tried reinstalling Node, deleting vscode and any references to it but nothing worked so far. Are there any recommendations for doing a full clean of all dependencies to resolve this issue? It's a

[2016-08-23 19:16] probonopd opened #10857 "Provide official AppImage builds for Linux"
Please provide Visual Studio Code in the [AppImage](http://appimage.org) format for Linux. This would allow users to
- Test Visual Studio Code without having to install it
- Use Visual Studio Code on machines where they have no root rights
- Run Visual Studio Code on Linux distributions for which no native package is provided

AppImage is a bundling format for Linux that lets users download one si

[2016-08-23 19:29] bcherny commented on #6884
This was indeed an OSX issue for me. The following worked:

[code]

See http://apple.stackexchange.com/questions/31866/copy-and-cut-sometimes-dont-work

[2016-08-23 19:58] rjwiii commented on #10854
I am having the same issue. See screenshot.
![vscode-error](https://cloud.githubusercontent.com/assets/4544754/17907552/7479a3fa-694a-11e6-8294-8750acf76a95.PNG)

[2016-08-23 20:00] Jalalx opened #10858 "Cursor in terminal prevents reading words correctly."
VS Code is just amazing! It's fast and easy. The only problem I found is that cursor there, If you call it a "Problem"! It's a bit annoying :confounded:

I couldn't move it using mouse or keyboard arrows. I think it should be placed at end of line, because in the begining, it might prevent reading some words correctly. :confused:

- VSCode Version: 1.4
- OS Version: Windows 10 x64bit

Steps to Rep

[2016-08-23 20:01] Tyriar commented on #10709
@MeirionHughes this is the issue for allowing extensions to add buttons to that section of the UI (the activity bar) https://github.com/Microsoft/vscode/issues/8511

We prefer to defer functionality like this to extensions and #8511 combined with the terminal API (#9957). In the meantime I would recommend playing with [tasks](https://code.visualstudio.com/docs/editor/tasks) as a way to quickly lau

[2016-08-23 20:02] dbaeumer commented on #10735
@waderyan I am pretty sure this is the tsserver and not the extension host which contains the typescriptServiceClient.

@vegetableman if you can reproduce this can you provide use with the command line of the `Code Helper` that is causing high CPU. That helps understand what the process is actual for.

[2016-08-23 20:26] DustinCampbell commented on #10561
That'd be way cool

[2016-08-23 20:30] clperez opened #10859 "Configure the maximum number of Editor Groups"
I would like to be able to configure the number of editors. I would like to limit it to two.

[2016-08-23 20:47] rjwiii commented on #10854
Fix on the way ...

https://github.com/PowerShell/vscode-powershell/issues/254

rjwiii

[2016-08-23 21:02] davelane commented on #10248
I would expect the "Format Code" command to do this. This is also what happens in every IDE and editor that I can think of (from memory). Not a biggie anyway. I just figured out issuing "Indent using Spaces" is possible from Command Palette and then you are prompted for the number of spaces. I must say though that nobody could reasonably be expected to figure this out (what is happening, what to d

[2016-08-23 21:19] jabooth commented on #10782
@joaomoreno thanks hadn't seen that `git add -p` UI  (and yeah, it's not very discoverable there IMHO).

Still seems that there is still no `git checkout -p` UI though?

If so, would you be open to a PR that simply added a new entry to that menu called `Clean Selected Lines`? The same as `Stage Selected Lines` but reverts the selected change rather than staging it?

This would complete a family of

[2016-08-23 21:23] giggio opened #10860 "List extensions in a file in user folder"
I want to maintain all my configuration in a git repo, and this includes my extensions. It already stores my keybindings, settings and snippets, as they are in files in a user folder, which I commit to git. But VSCode does not list the extensions in any file in this folder.
I want you to list them in a file, and use this file to restore the extensions when VS Code opens. This way I can always cont

[2016-08-23 21:37] whitecolor commented on #10248
I think it is ok that you have to implicitly change tab size.

[2016-08-23 21:40] MeirionHughes commented on #10709
Why limit this to extensions though?

I would think the above config example would make this easy for users to add their own without the need to jump through hoops. Its also applicable for both user and workplace setting files so you can have per-project button setups.

* Its not hard to implement;
   * icons from a icon-font might be easier?
* It doesn't affect the UI layout,
* It doesn't affect

[2016-08-23 21:52] DustinCampbell opened #10861 "Allow debug launch configurations to be added dynamically"
Today, when a C# .NET Core project is opened, the C# extension does a fair amount of work to generate a launch.json file (if none exists already) that matches the current settings in the project. However, if the user changes the launch configurations in their project it gets out-of-sync with launch.json. For C#, the duplication of launch configurations between launch.json and the project files add

[2016-08-23 22:17] aptgetmoo commented on #6442
@jieverson sorry for bumping an old thread, but I did get it working on Raspbian on a RPi3 model B.

[code]

Although node@6.4.0 is not available in the default `apt-get` repositories, you can still install it with `apt-get` through [these instructions](https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions).
You'll then have to manually downgrade `npm` -- I di

[2016-08-23 22:32] basarat commented on #10376
I've had tabs in alm.tools for a while and occasionally it looks like *one monaco editor* is in focus but the input gets send to some other one :-/. Subscribing to this thread to see what happens :rose:

[2016-08-23 22:37] Tyriar commented on #10709
Why is the activity bar locked down?

- To keep the editor feeling "light-weight"
  - We don't want to clutter the UI
  - Opening the flood gates could have performance implications
- Keep the complexity of code down
- Extensions can't make much meaningful UI that would warrant allowing access to the buttons, it has been designed as a place to launch viewlets, not arbitrary commands

Why would thi

[2016-08-23 22:57] sam-s4s commented on #10683
I have my own custom webpack setup, but it is similar, including Typescript 2.

I will try adding that setting in...

I'm a little unsure how that should affect the IDE though... and that it sometimes works and sometimes doesn't is strange...

[2016-08-23 23:10] nonanonno opened #10862 "wrappingIndent with cjk characters"
- VSCode Version: 1.5.0
- OS Version: Ubuntu 16.04

Steps to Reproduce:
1.  set following parameters to setting.json

   "editor.wrappingIndent":  "same"
   "editor.wrappingColumn": 10
2.  input tabs or 2 (or more) spaces and some cjk characters like this

   あああああああああああああああ

![screenshot from 2016-08-24 07-58-46](https://cloud.githubusercontent.com/assets/10045065/17912842/4cee9c8c-69d1-11e6-9882

[2016-08-23 23:11] CamSoper opened #10863 "Integrated terminal ignores line break from posh-git"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

1.  Put the following line in `settings.json`:

[code]

2.  And the following two lines in `C:\Users\<user>\Documents\WindowsPowerShell\profile.ps1`:

[code]
    (This loads the posh-git module included with GitHub for Windows on Powershell startup)

3.  Launc

[2016-08-23 23:12] heese opened #10864 "New windows should get the size of the previous active window"
- VSCode Version: 1.4.0
- OS Version: Win10

Steps to Reproduce:
1. Open VSC and resize the window, e.g., make it a bit larger
2. Open a new window by File => New Window or Ctrl + Shift + N

The new window has some pre-defined size. I would expect that it has the same size as the first one.

[2016-08-23 23:15] CamSoper commented on #10863
Never mind, must have been transient.  My bad.

[2016-08-23 23:15] #10863 closed

[2016-08-23 23:23] shioyang commented on #1749
+1

[2016-08-23 23:23] #10856 closed

[2016-08-23 23:44] chuckries commented on #10210
I think we need some way to opt out doing an evaluation on 'Copy Value' and just hand back the value sitting in the UI. As it stands, for copying `Message` out of `$exception` in the following screenshot:
![image](https://cloud.githubusercontent.com/assets/6598594/17913595/1b9edb3c-6950-11e6-9c7c-5c644c9a19b3.png)
We are asked to evaluate the expression `$exception [Exception]['Message [string]']`

[2016-08-23 23:47] bobmagicii commented on #7984
opacity won't be enough and just be as annoying. it needs to be repositioned.

[2016-08-23 23:50] chuckries commented on #10210
Another option would to pass a token to the variable that needs to be re-evaluated rather than sending a raw string. My understanding is that this token approach is used other places in the debugger UI.

[2016-08-24 00:09] wesrupert commented on #10210
If VS Code wants to perform this evaluation, the best method I see for giving us the context would be to give us the same data as we get for the setVariable command, i.e. a context (stackframe or variablesReference) and the name, and we can handle it from there.

[2016-08-24 00:13] brunocasado commented on #10805
@bpasero even with disabled-extensions error occurs.

Look the out in terminal. See if this have any relation.

`
bruno@bruno-Latitude-3540:~/projects$ nvm use node && code --disable-extensions transactionals
Now using node v4.2.6 (npm v2.14.12)
bash: cannot set terminal process group (-1): Inappropriate ioctl for device
bash: no job control in this shell

<--- Last few GCs --->

   10244 ms: Mark

[2016-08-24 00:15] whitecolor opened #10865 "Make active/clickable tooltip typing elements"
![image](https://cloud.githubusercontent.com/assets/736697/17914179/5d8f0d82-69b9-11e6-9ffd-1345af54e8bd.png)
It would be cool if one could click on `vscode.DecorationRenderOptions` (that is on the screenshot) and see the description of this type/interface.

[2016-08-24 00:18] wesrupert commented on #10210
Seeing as the underlying behavior is from a desire to get a "better" string out of the value, it would also be nice to have a separate context for this evaluate command, e.g. `"context": "copy"`. Looks like it currently doesn't send a context at all, as trying to copy the args local in a sample app gives the following command: `evaluate: {"expression":"args [string[]]","frameId":1000}`.

[2016-08-24 00:24] EM1L commented on #10854
Thanks for the link rjwii :+1:
Looks like we are going to get a fix very soon :)

[2016-08-24 00:24] #10854 closed

[2016-08-24 00:47] mong87suk opened #10866 "Debug adapter process has terminated unexpectedly on Raspberry pi"
- VSCode Version: 1.5.0
- OS Version: Raspbian GNU/Linux 8.0 (jessie)

Steps to Reproduce:

I installed visual studio code on raspberry pi.

pi@KERNEL_BZ:~ $ uname -a
Linux KERNEL_BZ 4.4.13-v7+ #894 SMP Mon Jun 13 13:13:27 BST 2016 armv7l GNU/Linux

This is raspberry pi's information.

This is installation process

1. git clone https://github.com/mirosoft/vscode

2. cd vscode

3. ./scripts/npm.sh

[2016-08-24 00:47] lucaslra opened #10867 "Add Django Template Suport"
I would love to have at least some syntax highlighting when using Django template system.

[2016-08-24 01:22] jgoshi opened #10868 "Intellisense Lightbulb does not appear when green squiggle hovered in C++ file"
- VSCode Version: 1.4
- OS Version: Windows 10
- Cpptools Version: 0.8.1

Steps to Reproduce:

1. Open any folder that has a cpp file. The cpp file can be really simple and just include a header that cannot be found.
2. Mouse over the green squiggle line. I would expect the light bulb (code action) to show up but it doesn't. Note that if you move the keyboard cursor (either move the arrow keys or

[2016-08-24 01:42] CodeCorrupt commented on #8771
This appears to have been fixed. I'm no longer experiencing the issue. (Not sure which update fixed it though)

[2016-08-24 02:45] jieverson commented on #6442
I really cant get it to work here.
[code]
![16-08-23-23 38 35](https://cloud.githubusercontent.com/assets/1031323/17916580/f99896f0-698a-11e6-9eef-f397006c7c21.png)

I got some errors trying to install nodesource repo. After the errors, if I try to apt-get nodejs, I still get the v4.

[2016-08-24 03:42] cjqpker opened #10869 "【Error: Error: Illegal value for `line`】 after "save all""
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1.Edit -> replace in Files ----> replace sth in more than one files
2.File -> save all ----> 【Error: Error: Illegal value for `line`】

[2016-08-24 03:55] guogaigai opened #10870 "console.log is not Display in debugger"
- VSCode Version:1.3.1
- OS Version: ubuntu 12.04

Steps to Reproduce:

1. I Installed the Debugger for chrome extension
2. I try to add console.log in chromeDebug.js and the vscode-chrome-debug-core/out/chrome/chromeDebugAdapter.js and other files in the same directory
3. When i press F5 to debug webapp on chrome debugger , i can not see the console.log info i added  in the Debug Console.

Does t

[2016-08-24 04:40] 1050676515 opened #10871 "don't have any symbol info for lua?"
- OS Version:Win7

Steps to Reproduce:

1. can't find symbol info for lua-file

[2016-08-24 04:51] dragonwolf83 commented on #3355
I think @bgashler1's UI is a great way for this to be done. It is a much better experience for UI-driven people and is a good way to handle switching between beginners/causal users and power users.

It was suggested before to have a prompt for users to choose between GUI and JSON settings. Instead, I would recommend a Tooltip UX next to the show settings UI icon from the mockup. The Tooltip would

[2016-08-24 05:09] bpasero commented on #8708
@brunnopleffken this issue does not block our Electron update, but this one https://github.com/electron/electron/issues/5715

Feel free to provide a PR to fix this issue for them 👍

[2016-08-24 05:12] bpasero commented on #10805
@brunocasado thanks, this is useful information. So we run out of memory opening that folder in Code.

Is that folder a git repository that you checked out from GitHub or a project generated with Yeoman?

[2016-08-24 05:18] MeirionHughes commented on #10709
To be fair when #8511 is done I can make an extension to do exactly what I propose (read a config from .vscode and add activity buttons) anyway.

[2016-08-24 05:37] giddyupgrp commented on #1046
Adding both my thumbs up to the request for this feature. Its driving me crazy that its not there.

[2016-08-24 05:38] rbenson commented on #10729
I wouldn't recommend using Narrator to test anything. The tool is only meant for initial set up of Windows, or "I must read something, and have no other options." NVDA, JAWS[1], WindowEyes, or ZoomText are better tools to use to test.

Recommend removing the bug label

[1]- JAWS has a "free 40 min mode", but it is explicitly outlined in the TOS that use of JAWS by devs to use this mode to get arou

[2016-08-24 05:47] rbenson commented on #10643
There are a range of users, sniffing for a screen reader is a bad idea. Using a mouse is quite difficult for me, and I don't need a screen reader. Having these tips are extremely helpful, especially when you consider the font size in the Intellisense or if the tip is long

[2016-08-24 05:50] skl131313 opened #10872 "Indent Guidelines Colorization and Preview of Line."
I was wondering if it would be possible to add colorization to the indent guidelines, as to correspond to what the type of statement it is. A different color for a class declaration, function, or loop block.

As well as a feature, showing a preview of the statement starting the block when it is out of view as to know what it is when hovering over the line for a specific indent.

The feature is imp

[2016-08-24 05:53] bpasero commented on #10844
We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-08-24 05:54] bpasero commented on #10869
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-08-24 05:55] bpasero commented on #10845
Yes, we do restore the last opened file once you make the explorer visible. This helps in cases where you jump from one viewlet back to the explorer to bring you back in context. I am closing this "as designed".

[2016-08-24 06:04] joaomoreno commented on #10782
That action also exists, when you are looking at a staged file:

![image](https://cloud.githubusercontent.com/assets/22350/17919918/5b2daf5e-69d1-11e6-8d1b-90fa231608a8.png)

The functionality is there, just not very discoverable IMO. We can think about making it shine a bit more...

[2016-08-24 06:08] joaomoreno commented on #10782
Oh my bad, I mistook what you meant by your last comment.

I'd be totally interested in such a PR. The logic code is what matters, don't worry about UI; you can put the action right next to the `Stage Selected Lines` action. The `Stage Selected Lines` action will be a big help in getting there, namely the [`stageRanges.ts`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/git

[2016-08-24 06:09] #8771 closed

[2016-08-24 06:09] joaomoreno commented on #8771
Thanks.

[2016-08-24 06:17] zertosh commented on #10565
I was just wondering this too. Seems like you can't turn off languages at all. I want to disable javascript snippets, and the language features (like suggestions, hover, etc.) from typescript, so I can run my own language service for javascript. I'd still want to keep the syntax though.

[2016-08-24 06:33] jabooth commented on #10782
@joaomoreno great, I'll take a look at this when I get a free minute. Thanks a lot for the pointers!

[2016-08-24 06:42] guogaigai commented on #9957
Is there any terminal API provided for extension developers to create a terminal with the specified path as the  initially start ,thank you @weinand

[2016-08-24 06:51] mbarzeev commented on #10575
Thanks, that seemed to fix it :)

[2016-08-24 06:52] sandy081 commented on #10871
@1050676515 By symbol info you mean Symbols out line (Go to Symbol... or ctrl+shift+o command). If not may I know what exactly it is.

Thanks

[2016-08-24 06:56] 1050676515 commented on #10871
It is solved.I installed lua-for-vscode plugin.Thank you for reply

[2016-08-24 06:56] #10871 closed

[2016-08-24 07:01] sandy081 commented on #10867
@lucaslra This can be done through a language extension to VSCode. Unfortunately there is no such extension now. Feel free to contribute if you would like to.

Thanks.

[2016-08-24 07:03] alexandrudima opened #10873 "Korean IME does not work in Firefox"
file:///C:/Alex/src/vscode/src/vs/editor/test/browser/controller/imeTester.html

![image](https://cloud.githubusercontent.com/assets/5047891/17921327/a137509c-69d9-11e6-9fdd-9154804e7dbf.png)

[2016-08-24 07:04] sandy081 commented on #10865
@whitecolor you can do that by hovering on that. You can either do simple hover or ctrl + hover (which shows more info)

[2016-08-24 07:11] sandy081 commented on #10855
duplicate #10797

[2016-08-24 07:11] #10855 closed

[2016-08-24 07:18] sandy081 commented on #10850
@lgreenlee Very sorry to hear that VS Code is crashing. In order to know the root cause for it would you let us know

- What kind of project are you are coding. How big is it?
- Is it a Git repository
- Do you have a special setup?

When this happens would you be able to run a CPU profile from the developer tools (help > toggle developer tools) to see where we spend so much time?

Also, did this n

[2016-08-24 07:21] sandy081 commented on #10849
I wonder it could be related to the power shell extension on VS Code. I would suggest to check with the extension - https://github.com/PowerShell/vscode-powershell

[2016-08-24 07:22] #10849 closed

[2016-08-24 07:22] sandy081 commented on #10848
I wonder it could be related to the power shell extension on VS Code. I would suggest to check with the extension - https://github.com/PowerShell/vscode-powershell

Please reopen the issue if not so. Sorry for not being very helpful here.

[2016-08-24 07:26] sandy081 commented on #10844
Can you also please check that if the file that has results is not excluded

- Exclusion list under search text box
- Exclusion list in settings `search.exclude`

[2016-08-24 07:30] sandy081 commented on #10837
@sushmitkumarpatil Can you please be more elaborate about your request? More context/details about Vertical selection? Is it in editor or where?

[2016-08-24 07:30] joaomoreno commented on #10860
Might wanna give this extension a try:

https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync

[2016-08-24 07:30] #10860 closed

[2016-08-24 07:31] bpasero commented on #10847
Standard tree behaviour, I guess the one is the select, the other is the focus.

[2016-08-24 07:33] bpasero commented on #10707
And then you can reopen.

[2016-08-24 07:33] #10707 closed

[2016-08-24 07:35] jrieken commented on #9861
Thanks, understood.

[2016-08-24 07:37] bpasero opened #10874 "Toggle word wrap on diff editor fails: editor.invokeWithinContext"
- open a diff editor
- from the menu pick View > toggle word wrap

[code]

[2016-08-24 07:37] sushmitkumarpatil commented on #10837
In editor we should be able to select the text vertically, like in below image.
![verticle selection](https://cloud.githubusercontent.com/assets/2450835/17922232/9b81f176-69fb-11e6-8610-7454aad9b1f8.png)

[2016-08-24 07:37] jrieken commented on #9957
@Tyriar One more thing - we have an extension `vscode-api-tests` in which you can write tests against the (latest) API. They will be run as real extension with `scripts/test-integration.sh`.

[2016-08-24 07:38] alexandrudima opened #10875 "Edge hit testing is incorrect when the line has a trailing space"
This does not reproduce when `renderWhitespace` is off

![edge-mouse2](https://cloud.githubusercontent.com/assets/5047891/17922271/6ecf7ce2-69de-11e6-8ac4-4d347dfd1fd8.gif)

[2016-08-24 07:38] sandy081 commented on #10830
@whitecolor It is showing the complete doc. May i know what is not being shown here?

[2016-08-24 07:39] guogaigai commented on #10870
@weinand  Can you answer my question ? thanks

[2016-08-24 07:39] DonJayamanne commented on #2867
Closing, as nothing further to be done anymore.

[2016-08-24 07:39] #2867 closed

[2016-08-24 07:40] jrieken commented on #10868
Currently, we only show them on cursor change events. @egamma We talked about being more explicit for code actions. New ideas?

[2016-08-24 07:41] #10829 closed

[2016-08-24 07:43] jrieken commented on #10831
It's a number of errors/warnings not showing due to hitting a limit, like `Not showing 387 further errors and warnings`

[2016-08-24 07:43] #10831 closed

[2016-08-24 07:47] sandy081 commented on #10827
@AhmerAli Please post your question here - https://github.com/felixfbecker/vscode-php-debug

[2016-08-24 07:47] #10827 closed

[2016-08-24 07:47] DanTup commented on #10574
@weinand  I'm not familiar with/haven't installed the Insiders builds yet - that change is in master, does that mean we can try it out in insiders from tomorrow? :)

(Also,  how releases are cut; presumably not from master if there's in-progress stuff like this that might not make the release? I searched but couldn't find any info on the relationship between branches/releases/etc.)

[2016-08-24 07:49] Kainax commented on #3112
+1 Please add sidebar coloring theme

[2016-08-24 07:50] sandy081 commented on #10816
This issue was moved to OmniSharp/omnisharp-vscode#702

[2016-08-24 07:50] #10816 closed

[2016-08-24 07:51] #10867 closed

[2016-08-24 07:51] isidorn commented on #10210
Passing a `"context":"copy"` in this case makes sense to me.
@weinand opinion?

[2016-08-24 07:53] sandy081 commented on #10837
@sushmitkumarpatil You can use `ctrl+d` keyboard short cut to do this.

[2016-08-24 07:54] joaomoreno commented on #10857
cc @Microsoft/vscode

@probonopd This is incredibly cool. I've just watched your [presentation on Youtube](https://www.youtube.com/watch?v=mVVP77jC8Fc) and everything resonated with me. I admire the work you're doing there, keep it up!

@Tyriar Given the huge friction we're seeing with auto-updates on the deb and rpm packages and the crazy benefits this would give us in terms of packaging and incr

[2016-08-24 07:58] joaomoreno commented on #10846
Duplicate of #6190 #9796

This is already on the latest Insiders release.

[2016-08-24 07:58] #10846 closed

[2016-08-24 08:00] joaomoreno commented on #10847
This happens due to the [`FileController`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/browser/views/explorerViewer.ts#L545) treating folders differently from files, regarding focus and selection.

[2016-08-24 08:00] jrieken commented on #6874
fyi @DustinCampbell

![aug-24-2016 09-55-30](https://cloud.githubusercontent.com/assets/1794099/17922794/237724a4-69e1-11e6-81ac-e30549a39617.gif)

With this  hacked-up completion item provider (note that the filter text must be set)

[code]

Still on my list

* use the 'official' text mate snippet syntax, so instead of `{{}}` it should be `$0` for the final tab stop
* (stretch) make all textual c

[2016-08-24 08:01] joaomoreno commented on #10828
No, it's a file type. Examples:

- JavaScript Source File
- TypeScript Source File
- C++ Source File

[2016-08-24 08:01] #10828 closed

[2016-08-24 08:01] weinand commented on #10870
The chrome debugger is a separate extension and not part of VS Code. I'll will move this issue to the correct repository.

[2016-08-24 08:02] weinand commented on #10870
This issue was moved to Microsoft/vscode-chrome-debug#214

[2016-08-24 08:02] #10870 closed

[2016-08-24 08:04] #10326 closed

[2016-08-24 08:05] UVk opened #10876 "Cannot find runtime 'node' on PATH."
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:
1. Open VS
2. Launch Project

Cannot debug node application. Reinstalled node and VS, added node to PATH. nothing worked.

[2016-08-24 08:05] weinand commented on #10866
The cpp tools are not part of VS Code but a separate extension. I'll move this issue to the correct repository.

[2016-08-24 08:06] jrieken commented on #4274
I can write some doc but it'll take me a few days until I get to it - we are approaching end of milestone and my list is still long 🙈

[2016-08-24 08:07] weinand commented on #10866
This issue was moved to Microsoft/vscppsamples#164

[2016-08-24 08:07] #10866 closed

[2016-08-24 08:07] sushmitkumarpatil commented on #10837
@sandy081  It is possible only if the same text is there in all lines. In below image there are some strings in which i want keep only last part(98777*), `ctrl+d` will help me to select same text(not selected REF-2015 ), but I want to select any text in column.

![image](https://cloud.githubusercontent.com/assets/2450835/17922927/2bf6f4c4-69ff-11e6-814d-f37c3b967de7.png)

[2016-08-24 08:07] Timmmm commented on #10783
Ah yes it works now. I think I was confusing the VSC update with the extension installation, which wasn't working because VSC couldn't update. Sorry!

[2016-08-24 08:08] jrieken commented on #10824
@nchanged Can you paste the snippet you are using (esp the prefix) and how do you trigger snippet completions, via TabCompletion, the 'Insert Snippet' command, or via IntelliSense?

[2016-08-24 08:09] probonopd commented on #10857
Thanks @joaomoreno for your kind words; your [PowerShell](https://github.com/PowerShell/PowerShell) colleagues are currently also [reviewing](https://github.com/PowerShell/PowerShell/pull/2027) it.

[2016-08-24 08:10] probonopd commented on #10857
By the way, I don't know how applicable this is here, but [electron-builder](https://github.com/electron-userland/electron-builder) has support for building AppImages for Electron applications too.

[2016-08-24 08:11] weinand commented on #10838
The .NET debugger is not part of VS Code but a separate extension. Moving issue.

[2016-08-24 08:12] weinand commented on #10838
This issue was moved to OmniSharp/omnisharp-vscode#703

[2016-08-24 08:12] #10838 closed

[2016-08-24 08:15] probonopd commented on #10857
Here are some example AppImages of Electron-based apps that you can download and try:
* https://bintray.com/probono/AppImages/Atom/_latestVersion#files
* https://bintray.com/probono/AppImages/Brackets/_latestVersion#files
I could upload one of Visual Studio Code but am uncertain whether the license permits it.

[2016-08-24 08:15] weinand commented on #9957
@guogaigai please direct questions about the integrated terminal to @Tyriar. I'm only a client of that API.

[2016-08-24 08:16] joaomoreno commented on #10783
I'll reopen and use this issue for its current title: `Windows: Code should run as same user after updating`

[2016-08-24 08:16] qlqllu opened #10877 "JavaScript function is not listed in "ctrl+shift+o""
- VSCode Version:1.4.0
- OS Version: Windows10

Steps to Reproduce:

1.  Create a JS file with this content:
[code]
2.  Open this JS file and type "ctrl+shift+o", notice that the `p1` function is not listed in the symbols list.
3. However, `p1` can be listed in this file
[code]

Please notice that the only difference is the place to declare the `obj` variable.

[2016-08-24 08:16] joaomoreno commented on #10857
Go ahead, we are MIT.

[2016-08-24 08:18] weinand commented on #10574
@DanTup you can try this as soon as this issue is closed. Currently the VS Code side of things is missing.

Releases are cut from Master. In-progress stuff will either be disabled or just not not mentioned in the release notes.

[2016-08-24 08:19] AhmerAli commented on #10827
Problem is resolved now. Thanks for your reply

[2016-08-24 08:19] #10847 closed

[2016-08-24 08:19] bpasero commented on #10847
I hate that old controller...

[2016-08-24 08:21] c633 commented on #10864
It's probably a personal preference. It should be a user setting instead of hard-coded.

[2016-08-24 08:21] #10218 closed

[2016-08-24 08:28] cjqpker commented on #10869
I tested it and find out it was caused by "go extension", thanks!

[2016-08-24 08:31] #10869 closed

[2016-08-24 08:33] whitecolor commented on #10865
![image](https://cloud.githubusercontent.com/assets/736697/17923718/f032f0be-69fe-11e6-8d06-a1b492cc5349.png)

Hm, for example in this case I can not hover (+ctrl or not) on `GetResponse` and what it is.

[2016-08-24 08:40] whitecolor commented on #10830
@sandy081

the description is incomplete and comes off in the mid-sentence, and only one param (`command` is present)

Here is from vscode.d.ts:
![image](https://cloud.githubusercontent.com/assets/736697/17924001/22e4ce78-6a00-11e6-9695-6f3213effdd6.png)

[2016-08-24 08:41] ebastuart opened #10878 "Syntax highlighting breaks without any reason. (Javascript)"
- VSCode Version: 1.4.0
- OS Version: Windows 10 64bit, latest updates

the highlighting breaks without any reason. there are no errors and the code is valid, but the code remains white (no highlighting)  down to the end of the file.

![image](https://cloud.githubusercontent.com/assets/5196882/17923865/6ff90dc4-69e6-11e6-83e6-ee5cb5891069.png)

[2016-08-24 08:48] probonopd commented on #10857
Here is my experimental Visual Studio Code AppImage generated by the script above on Travis CI ([build log](https://travis-ci.org/probonopd/AppImages/builds/154680774)):

https://bintray.com/probono/AppImages/Code#files

To download and run, simply:

[code]

Since the AppImage packaging runs on Travis CI this can be integrated into CI workflows easily. There still some minor glitches that could be

[2016-08-24 09:03] joaomoreno commented on #10857
It just works, so cool! Thanks for the sample. We will definitely consider this.

[2016-08-24 09:14] mong87suk commented on #10866
Thank for your support.

[2016-08-24 09:17] drinktee opened #10879 "Open file slow"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.4.0
- Macbook pro 2015, i5 , 8G
Steps to Reproduce:

1.just open a source file  xxx.go
2.I feel it's slower than earlier version like 1.3

[2016-08-24 09:32] nchanged commented on #10824
![then](https://cloud.githubusercontent.com/assets/1629088/17925564/1f1eb538-69f6-11e6-9ae1-659534247dbe.gif)

@jrieken If press ctrl+space it shows it, but not when i just press "tab"
Of course, there is another issue (with typescript) if a function return a Promise, it has it's own "then" suggestion. Don't know how to override it

![then2](https://cloud.githubusercontent.com/assets/1629088/17925

[2016-08-24 09:38] stevencl commented on #1749
We have some early designs for this experience that we would like to share. If you are interested in reviewing these designs with us, please join us on Tuesday 30th August at 16:00 BST on this Google Hangout:
https://hangouts.google.com/call/ez36wxxp35cr3g77rlbuv3mho4e

We will share our designs and ask for your comments and feedback.

[2016-08-24 09:39] stevencl commented on #5911
We have some early designs for this experience that we would like to share. If you are interested in reviewing these designs with us, please join us on Tuesday 30th August at 16:00 BST on this Google Hangout:
https://hangouts.google.com/call/ez36wxxp35cr3g77rlbuv3mho4e
We will share our designs and ask for your comments and feedback.

[2016-08-24 09:43] #10574 closed

[2016-08-24 09:44] isidorn commented on #10574
Released a first version of this. Please note the following:
* I am not using the Terminal extension API since vscode debugger UI is not running as an extension, so I am accessing the TerminalService directly
* Currently ignoring: `env`, `cwd` and `processID`

[2016-08-24 09:47] jrieken commented on #10824
@nchanged Did you enable tab completions? By default is off and you must have something like `"editor.tabCompletion": true`

[2016-08-24 09:49] weinand opened #10880 "make runInTerminal honour 'env' and 'cwd' and run on all platforms"
see https://github.com/Microsoft/vscode/issues/10574

[2016-08-24 09:50] weinand commented on #10574
@DanTup before you jump on this: please note the limitations mentioned above. I'll work on this via https://github.com/Microsoft/vscode/issues/10880

[2016-08-24 09:53] weinand opened #10881 "Setting Variable in UI that fails will attempt to set bad value again if user clicks elsewhere"
_From @rkeithhill on August 21, 2016 21:50_

I'm in the middle of implementing this cool feature for the PowerShell extension.  I could be doing something wrong but what I notice is if I try to set a value to a variable that is readonly, I get the error message in the UI as expected.  But when I try to click somewhere else to dismiss the error UI, VSCode sends the setVariableRequest again, so we w

[2016-08-24 09:56] sandy081 commented on #10837
@sushmitkumarpatil Ok, I am reopening this.

[2016-08-24 10:06] nchanged commented on #10824
Yes, same thing...

[2016-08-24 10:08] jrieken commented on #10824
Thanks - I can repo. Seems to be related to the other content on the line... A simple `then` does it, `a().then` not

[2016-08-24 10:16] vimarshc opened #10882 "Peek Definition not working for Angular.JS 1.5.8"
- VSCode Version: 1.4.0 (1.4.0)
- OS Version: 10.11.3 (15D21) [OSX El Capitan]

Following are the steps that I've found on various blogs to install Intellisense for Angular.js
1. Create jsconfig.json in the root of the project
2. Install typings via npm
3. Run `typings install dt~angular --global `

I am using a service in my controller, I have used DI to use the service in my controller.
For exam

[2016-08-24 10:17] nwolverson commented on #6874
@jrieken I notice your current implementation has a command running after the text edit is made - I think that should enable my use case, where the additional edit (again inserting/modifying an import statement) is made via an external language service (ie provided asynchronously only after an individual completion is selected).

Am I right in that? I think it could be a common enough case.

[2016-08-24 10:19] Meligy commented on #101
Given how popular that specific shareware program is, it's not unusual that many of us could have been using it for quite a while before Visual Studio Code, and have been using this feature in it way more than the specific freeware program you mentioned.

@lovebdsobuj Please *kindly* do not spend too much time on this in the thread because that would be thread hijacking. Hopefully you'd agree that

[2016-08-24 10:22] #10192 closed

[2016-08-24 10:23] isidorn commented on #10192
Now it should work as before with one limitation, you are no longer able to use the context menu to add watch expressions while you are not in a debug session.
The reason for this is that we try to keep our context menus minimalistic so we had to cut some actions from it. Thus debug: add to watch will only be present while you are debugging

[2016-08-24 10:25] crazyluffy opened #10883 "when I split windows to two or more mindless, and want close one, the vscode show that whether to save the file to close, no matter what I chose, the file will close in all whidows. so my question is how to close one splited windows without any effect to other windows, like vi -O?"
- VSCode Version: Code 1.3.1 (e6b4afa53e9c0f54edef1673de9001e9f0f547ae, 2016-07-12T13:35:06.227Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.
2.

[2016-08-24 10:27] isidorn commented on #10800
@sandy081 looking into your status I see that you are deep into themes and editors, thus you might investigate into this. The issue is that I am currently taking a theme from the editor [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/repl.ts#L232). I want the theme but not the current line highlight.
One option would be to overwrite that css on

[2016-08-24 10:38] jrieken commented on #6874
Yes and no. If you want to make additional modifications to the document I d recommend to use the `additionalTextEdit`-property. It will make you life easier wrt to subsequent edits, touching/overlaping edits, undo, keeping selections/multiple cursors stable etc.

I'm obviously just guessing because I don't know anything about your language service but if you have a chance to compute those additio

[2016-08-24 10:44] smuuf commented on #10837
On Windows you should be able (at least for me it works) to use `SHIFT+ALT+<MOUSE_CLICK&DRAG>` to create block selection.

Although I would ***really*** love to have it available through pressing the middle mouse button, as in *SublimeText*, instead of this finger-breaking key-mouse combo.

[2016-08-24 10:51] aptgetmoo commented on #6442
Wow, that really is very strange! I guess you can try using the binaries from [node themselves](https://nodejs.org/en/download/current/), since they do provide arm-packaged binaries?
For me, the nodesource installer only added (and installed keys for)
[code]
to my `/etc/apt/sources.list.d/nodesource.list` file, and didn't touch any mirrors in other apt settings.
I'm running the latest Raspbian ima

[2016-08-24 10:52] ivancuric opened #10884 "Actions when using multiple cursors are only executed on the main one"
If I try to use Emmet's or VScode's selection expansion, emmet's wrap function or any other extension the action is only executed on the first cursor.

A use case I often use in ST3: `cmd+d` to select class names, then `ctrl+d` to expand to the container in question and finally `ctrl+w` to wrap all the containers in another container.

In VScode, any action apart from text editing (typing or delet

[2016-08-24 11:01] #10875 closed

[2016-08-24 11:04] matejkramny opened #10885 "Restore all windows on launch"
- VSCode Version: 1.4.0
- OS Version: macos 10.12

Steps to Reproduce:

1. Open two windows, load a project into them
2. Quit vs code
3. Re-open vs code, only one window opens.

VSCode only remembers one workspace. It should remember all open windows and restore them on launch.

[2016-08-24 11:14] nwolverson commented on #6874
@jrieken Unfortunately that's not possible if all edits must be provided for all completion items up front - rather than eg as a promise on the completion item (or at least the downsides you list are more acceptable than having to do so).

[2016-08-24 11:39] whitecolor opened #10886 "Allow QuickPick list items be formatted with HTML"
Just as proposal:
Allow Extension QuickPick list items be formatted with HTML, this would allow extension creators:
1) Have some additional "hidden" information using tags
2) Style selection options to make it more convenient for user

So just need to treat quickPick list items as HTML, not raw text.

[2016-08-24 11:53] mrwonko opened #10887 "Regex find with line start matches mid-line on "find next""
- VSCode Version: 1.4.0
- OS Version: Mac OS X 10.11.6

Steps to Reproduce:

1. Open/create a document containing a line with multiple characters except `{`
    1. alternatively, just fill the line with a bunch of `a`s
2. Search for `^[^{]`. The first character of the matching line is selected, as expected, with the find box stating something like "1 of 338"
    1. or `^a`, if you went with 1.i
3.

[2016-08-24 11:55] yahiko00 commented on #10717
Also, I'm wondering if it could be possible to display in TypeScript, on demand, the whole prototype chain of a given class in order to have in one glance all inherited properties without navigating through all ancestors of such a class. Maybe I should create a proposal...

[2016-08-24 11:55] jrieken commented on #6874
Running an async aftermath command isn't a show stopper. Make sure to use small edits and compare the document version before and after the long running operation.

[2016-08-24 11:56] whitecolor commented on #10865
Another simple example:
![image](https://cloud.githubusercontent.com/assets/736697/17929674/6e6e8dbe-6a1b-11e6-81a1-43766720be20.png)
It is not possible to see what are `CreateCommandParams` and it is very unconvincing.

@sandy081 please, reopen if you consider it is a problem

[2016-08-24 12:00] anatsegev opened #10888 "Support links in the suggestion documentation"
- VSCode Version:  0.1.0
- OS Version: All browesers

Can you please support links to external documentation inside the suggestions documentation window (and inside the further-documentation window)?

Thanks,
Anat

[2016-08-24 12:08] jtsom opened #10889 ""Check For Updates" Missing on OS X"
- VSCode Version: Code - Insiders 1.5.0-insider (c4f365235906cd689e55376e44cc106003ac06b3, 2016-08-24T06:04:42.373Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Launch VS Code
2. Look for "Check For Updates" command in the "Code - Insiders" menu

It's gone.

[2016-08-24 12:31] spraguey opened #10890 "File closes when network drive goes away"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 14.5.0

Steps to Reproduce:

1.Connect to a network drive using SMB or AFP
2.Open a file on one of those drives in VSCode
3.Disconnect the drive.
4.VSCode crashes

Sublime does NOT behave this way.

Here's why it is a problem... I'm working on a set of files on a network drive

[2016-08-24 12:37] fortinmike commented on #10846
Whoops, I searched only in open issues before posting. Sorry about that.

In glad to see that this will be included in the next Code release! Thanks to all involved.

[2016-08-24 13:05] victorschinaider opened #10891 "Problem to copy content of a opened file"
- VSCode Version: 1.4.0
- OS Version: Windows 10

Steps to Reproduce:

1. In "Open Editors", open two different files with some content
2. Choose one of the two files to open in editor
3. When it's open, click and open the other file, and press "Ctrl + a" and, after that, try to copy by pressing "Ctrl + c"
4. Open the first file again, and try to paste the content. The clipboard contains content b

[2016-08-24 13:22] brunocasado commented on #10805
@bpasero  from azure git.

[2016-08-24 13:38] mrmlnc commented on #10891
Yes, sometimes noticed the same behavior. But couldn't find any patterns of occurrence of the problem.

[2016-08-24 13:42] bpasero commented on #10805
@brunocasado can you share the git repository URL. is it publicly accessible?

[2016-08-24 13:47] jrieken commented on #9138
The problem with this `keepOpen` flag is that it gives the impression the editor (as the object you program against) will be kept open (as in active/not disposed) but that's not true since in the API world models that are bound to an editor are considered an 'editor'. Maybe we should just change the default to be pinned always.

[2016-08-24 13:49] brunocasado commented on #10805
unfortunately its not possible.

[2016-08-24 13:51] jrieken commented on #10568
My current thinking is make editors using `showTextDocument` always be `pinned` - mostly for the sake of simplicity. @alefragnani what is your use-case for this?

[2016-08-24 13:52] thepauleh commented on #2394
.eslintrc.json *

[2016-08-24 13:52] philkloose opened #10892 "Pasting Large Amounts of Text to Terminal Doesn't Work"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7601

I find that when I'm copy/pasting a chunk of text from an editor window that the paste command stops working when I reach some arbitrary, variably large size.  Usually a few thousand characters of text will trigger the bug.

Steps to Reproduce:
1. Open VS Code a

[2016-08-24 13:56] isidorn commented on #10574
Also `externalConsole` now might not be the best name since the intergrated terminal is not external.

[2016-08-24 14:04] isidorn commented on #9886
`tree.setScrollPosition(1)` will always scroll to the very end.
I personally prefer the current behavior where the expanded element is always shown since if we always scroll to the last element the user might find this too sudden.
@weinand opinion?

[2016-08-24 14:07] alexandrudima commented on #10484
I cannot reproduce on Windows when typing `sennsei` => `せんせい`

[2016-08-24 14:12] alexandrudima commented on #9736
@Tyriar That is actually the hidden textarea being revealed at the cursor position, not at the cursor selection start. Here I highlight it in your screenshot:

![image](https://cloud.githubusercontent.com/assets/5047891/17933732/7b5d5592-6a15-11e6-9cae-db14b987f091.png)

Once you end the composition (e.g. via a <space>) the textarea disappears.

[2016-08-24 14:15] abhishekanand opened #10893 "Feature Request : Provide multiple terminal choices within same instance of VSC"
- VSCode Version: NA
- OS Version: NA

Steps to Reproduce: NA

Per this link, Integrated Terminal in the docs , you can create multiple instances of the terminal and even change it from CMD to BASH to PowerShell.
Can VScode provide options have multiple terminals choice.  1: CMD, 2: BASH, 3: PowerShell within the same instance of VSC?

[2016-08-24 14:15] joaomoreno commented on #9886
Why do you even expand it actually? Have you considered doing what Chrome does?

![image](https://cloud.githubusercontent.com/assets/22350/17933851/f4f1ce4c-6a15-11e6-874e-d02df17f3bb1.png)

[2016-08-24 14:16] abhishekanand opened #10894 "Feature Request : Highlight a single line and execute just 1 line at a time in integrated terminal"
- VSCode Version: NA
- OS Version: NA

Steps to Reproduce: NA

When editing CLI or PowerShell and executing commands, either we cut-n-paste 1 line at a time or have VSC execute all commands. Is there a way to highlight a single line and execute just 1 line at a time?

[2016-08-24 14:16] alexandrudima commented on #9736
Here are alternative steps that make the problem clear:
* select more than 1 line
* in Japanese, type `sennsei`
* observe how the textarea is painted at the cursor position (when IME started) instead of at the selection start.

![ime-position](https://cloud.githubusercontent.com/assets/5047891/17933847/f01c7bec-6a15-11e6-8073-08df786930d8.gif)

[2016-08-24 14:18] weinand commented on #9886
Yes, not expanding would work for me.

[2016-08-24 14:18] isidorn commented on #9886
That was the original behavior but some users asked for the expansion and I found it neat.

Then let me go back to not auto-expanding.

[2016-08-24 14:19] isidorn commented on #9886
Here's the user request btw https://github.com/Microsoft/vscode/issues/6019

[2016-08-24 14:22] #9736 closed

[2016-08-24 14:35] Lakritzator commented on #10461
I have the same problem, just wanted to confirm that I cannot use Visual Studio Code behind a Corporate proxy. Had a hard time installing it, as the installer need admin right, but in the end it was for nothing as there is not much sense of using it without extensions :disappointed:

[2016-08-24 14:36] owennicol opened #10895 "Allow to Drag and drop files from explorer into working file to produce a URL link"
- VSCode Version: 1.4.0
- OS Version: OSX El Capitan

Would like the ability to drag a file from the integrated explorer and have it create the relevant link in my html/js file - in the same way that Visual Studio Professional does

[2016-08-24 14:38] isidorn commented on #10509
@joaomoreno I can repro this consistently on win7, but not on the mac

[2016-08-24 14:43] joaomoreno commented on #9886
Isidor, it's not just _not expanding_. Chrome shows a few keys/values in the collapsed state. I wouldn't change it without that, do we have it?

[2016-08-24 14:48] isidorn commented on #9886
No we do not have that, that is the value of the object that is coming from the adapter. Theoretically each adapter could add this snippet to the value so vscode would not need to handle this. Another option is that vscode internally expands the object and generates this snippet

[2016-08-24 14:50] egamma commented on #9500
@mrmlnc starting to implement this. I think we need both solutions that you described above:

1. we should honor when the user defines a different profile for an existing language
2. it should be possible to contribute a language to vscode that gets emmet support without that the user needs to configure emmet support in the settings.

[2016-08-24 14:53] martellaj opened #10896 "How do I provide user input via console while debugging a Node app?"
- VSCode Version: 1.3.1
- OS Version: OS X El Capitan 10.11.3

Steps to Reproduce:

1. Simple Node script that uses [prompt](https://github.com/flatiron/prompt).
2. Run app via debugger.

**Expected result**: Prompt waits for user input, accepting it via the debug console.
**Actual result**: Prompt waits for user input, but does not accept input via the debug console.

Am I missing something here,

[2016-08-24 14:55] #10881 closed

[2016-08-24 14:56] wbsdty331 commented on #211
+1
Very useful feature.

[2016-08-24 14:57] martellaj commented on #10896
I should've read more.

[2016-08-24 15:00] martellaj commented on #10896
It's really as simple as setting the value of `externalConsole` in the *Launch* task to `true`. When you run the task, it'll open in the native console (Terminal, in my scenario on OS X) and run as normal. While it would be great to have this integrated into Code at some point, this solution works perfectly well.

[2016-08-24 15:00] #10896 closed

[2016-08-24 15:06] brandonmp opened #10897 "UI flicker on Save, with some fun side effects"
this was discussed a little in [https://github.com/Microsoft/vscode/issues/7322] but it was closed b/c of non-response  ( @bpasero )

[Here's a screencast](https://youtu.be/3lnbWsz4KeU) of the buggy behavior

[Here's a diff't screencast](https://youtu.be/FTzFv1GyTPo) of similar actions in the same file that don't reproduce the bug

- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04

Steps to Repro

[2016-08-24 15:26] djohns505 opened #10898 "Menus unreadable when Windows is in high contrast mode"
Code is not aware of the OS setting. Enable high contrast mode in Windows (not the Code theme) and all of the menus are white text on a white background

<img width="533" alt="code high contrast" src="https://cloud.githubusercontent.com/assets/587960/17936641/779d8224-69ed-11e6-9ea9-364ac582f3d1.PNG">

[2016-08-24 15:26] lovebdsobuj commented on #101
Actually,
- Asking to save on exit time, it's a old model.
- Exit time need to keep all opened tab as well.
- Asking to save file when user try to close opened tab. It's a new modern model.

[2016-08-24 15:30] TommyEsteban commented on #981
This is the solution for cmake . and make

[code]

[2016-08-24 15:47] isidorn commented on #8114
@weinand Each suggestion needs to have a [type](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/modes.ts#L336) and currently this is missing in the debug protocol

[2016-08-24 15:49] weinand commented on #8114
@isidorn ok, I'll add this. For now just hardcode 'property'

[2016-08-24 15:50] DustinCampbell commented on #6874
Very pretty @jrieken!

[2016-08-24 15:50] wallverb opened #10899 "[TS] Wrong debugger hover value"
- VSCode Version: Code - Insiders 1.5.0-insider (c4f365235906cd689e55376e44cc106003ac06b3, 2016-08-24T06:04:42.373Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

Code:
[code]
Notice that hovering `keys` from `let keys` doesn't show values of `keys` but rather definition of `lodash.keys`

![zvc9sxcsfp](https://cloud.githubusercontent.com/assets/1723815/17937651/d281d3e0-69f0-11e6-975b-9aef

[2016-08-24 15:50] adbertram opened #10900 "[powershell] collapsible regions"
- VSCode Version: 1.4.0
- OS Version: OSX

Code collapsing works well in PowerShell for most things but it doesn't work for the region tags.
# region
## Stuff here
# endregion

[2016-08-24 15:51] wallverb commented on #10548
Typescript.
I will create separate issues with reproducible steps

[2016-08-24 15:51] #10548 closed

[2016-08-24 15:52] zachCatalyst commented on #10819
I've notice the same behaviour editing markdown that actually drove me to another tool (just for Markdown). Often I'll have a short todo list or notes in a plain text file this will happen to also, less often / irritating but similar.

I would love to see something like:

// blanket disabled for everything
editor.wordBasedCompletion: false

// blanket enabled for everything
editor.wordBasedComplet

[2016-08-24 15:59] gregg-miskelly commented on #10210
Personally I don't think 'context' is enough -- VS Code shouldn't attempt to concatenate children together to build the name of an expression as this isn't language-agnostic. As Wes suggested, I think the clean way to handle this problem is to add a new request (GetFullValue?) which works the same as `setVariable`. For debugAdapters that don't support GetFullValue, VS Code should default to copyin

[2016-08-24 16:04] rchiodo opened #10901 "Colorization of large cpp/h files fails after so many lines"
- VSCode Version: 1.4.0
- OS Version: Windows 10 RS1

Steps to Reproduce:

1.  Open file C:\Program Files (x86)\Windows Kits\10\Include\10.0.10586.0\ucrt\stdio.h
2.  Colorization stops at about line 612 for me

![image](https://cloud.githubusercontent.com/assets/19672699/17938187/c22b4a92-69d9-11e6-927f-f5b030fc71c7.png)

[2016-08-24 16:07] jrieken commented on #10455
@aeschli Any API with which I can reuse your existing work on icon sets?

[2016-08-24 16:10] hhi opened #10902 "file explorer mouse/keyboard handling"
Within the File Explorer,
when using mouse button, it would be nice to extend with following functionality:
- single click (replaces the file with the clicked one in current tab)
-- double click (opens file but now as an extra tab)
using the keyboard
- default behavior of enter key is now to rename a file (should be configurable in settings)
- it would be nice to be able to open the selected file

[2016-08-24 16:11] aeschli commented on #10804
What's still on the todo list:
- changing from a user setting to a Preferences > File Icon Theme action. That's mostly for UX consistency with the color themes. But having both Theme and File Icons in the settings is something we might still do in the future.

[2016-08-24 16:16] chrmarti commented on #55
Our fuzzy sorting is reasonably fast at this point. It might still be an overall improvement if we can make it faster (time permitting).

Most of the time is currently spent in the file traversal. I've just switched over to use native commands (find/dir) to do that, yet it remains the main part where time is spent.

My measurements using Pythons os.walk() indicate that it would be faster to use a

[2016-08-24 16:20] jrieken commented on #10826
I can repo...

[2016-08-24 16:20] bpasero commented on #10897
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-08-24 16:22] jrieken commented on #10819
Understood - I will tackle this in September. With it we should also think about configuring word based completions wrt  strings and comments. Tho not interesting for markdown folks like or hate it...

[2016-08-24 16:28] aeschli commented on #10455
We should think of making an icon contribution point where an extension can publish a list of named icons. Such a named icon could then be used at places like the status line (maybe even in the completion proposals list?)
The icons can be defined in a font or be an SVG located in the extension.
The file icon theme could also use that contribution point. Right now the file icon theme definition fil

[2016-08-24 16:33] giggio commented on #10860
@joaomoreno No, that does not help at all. I don't want some cryptic extension saving my info. I want to have dot files config persisted and versioned using Git, and available to others using Github. And I don't want to depend on the extension to define what and how I save my info.
I have this with other text editors, why not with VS Code? This is a **common pattern** on the Linux community.
See a

[2016-08-24 16:34] giggio commented on #10860
Also, please discuss before closing issues, it is not polity at all. This is **not** good open source etiquette.

[2016-08-24 16:35] joelday commented on #4274
@jrieken Nobody even knows about this thing yet. I think it can wait. I'll get started soon, too. :)

[2016-08-24 16:43] waderyan commented on #10717
@yahiko00 yeah that would be great. The more detailed the proposal the more likely it could get picked up. If you think it applies to VS Code open it up as a new issue in VS Code's repo, otherwise open it in TypeScript. They're very responsive.

[2016-08-24 16:45] timtimmytime commented on #4309
For those trying on OS X it is   `option+command+c`  to toggle case sensitivity.

[2016-08-24 16:47] brandonmp commented on #10897
Thanks @bpasero - `disable-extensions` solves the problem, so ostensibly this is an extension issue.

Should have checked that before posting! Will try and track down which extension is crazy & follow-up as you suggested.

[2016-08-24 16:47] #10897 closed

[2016-08-24 16:52] kyleshrader commented on #852
https://code.visualstudio.com/docs/extensions/our-approach :cry:

[2016-08-24 16:56] dvlsg commented on #10806
Side note, this is actually available in [Visual Studio 2015 Update 1](https://www.visualstudio.com/en-us/news/vs2015-update1-vs.aspx) without resharper. I believe a default shortcut of Ctrl+F12 was added in Update 2.

[2016-08-24 16:58] nathanhammond commented on #10819
A "grand unified plan" of configuring it would be fantastic and I'm in no particular rush. Blacklists or whitelists at a global level provide some alleviation as a quick fix, but if instead everything were context aware you could provided completions inside of a Markdown code block that is annotated for a language.

[code]

So your proposal for taking context into account is valuable in _many_ sce

[2016-08-24 17:05] whitecolor commented on #10851
Or another proposal is to add ability for mult-pattern so it would be possible to pass array of simple patterns.

BTW `findFIles` works quite slowly is it because it checks all the nested folders and tests all files against exclude pattern?

[2016-08-24 17:14] aptgetmoo commented on #6442
okay, for the sake of completeness, I tried to run a full build and package VSCode on a RPi to see if it is possible. On the RPi3 Model B, this fails because the *optimize-vscode* stage allocates too much memory.

Specifically where we OOM seems to vary between runs, sometimes it's an `Array.prototype.forEach` call and sometimes it's `JSON.stringify`.

This isn't a *huge* problem as "fast" builds

[2016-08-24 17:45] mrmlnc commented on #9500
@egamma, on one hand I have nothing against current solution (partial fix). But on the other hand, when I install extension (for example, HAML), I want to support Emmet out of the box. Also users must now have additional settings. And we still have a list of available languages.

[2016-08-24 17:51] Kingscity opened #10903 "Crash once a while"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Open software
2. Start editing, typing, copying and pasting
3. (not sure if type too "fast"), and it stop and crush

[2016-08-24 17:59] wallverb opened #10904 "[TS] Value not shown on first hover"
- VSCode Version: Code - Insiders 1.5.0-insider (c4f365235906cd689e55376e44cc106003ac06b3, 2016-08-24T06:04:42.373Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

[code]

When hovering `obj` for the first time - value is not being show.
When moving out and hovering again - the value will be shown

![irxuqyl05t](https://cloud.githubusercontent.com/assets/1723815/17941833/fc31733c-6a02-11e6-

[2016-08-24 18:04] mong87suk opened #10905 "ERROR:browser_main_loop.cc(217)"
- VSCode Version: 1.5.0
- OS Version: Raspbian GNU/Linux 8.0 (jessie)

Steps to Reproduce:

1. I installed  VS code on raspberry pi

2. When I tried run it. so following error happened.

3.  I've tried this way : [Linux SUID Sandbox Development](https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox_development.md)

Run following line.
pi@KERNEL_BZ:/usr/lib/chromium-browse

[2016-08-24 18:06] wallverb opened #10906 "[TS] Debugger does not show value for object field"
- VSCode Version: Code - Insiders 1.5.0-insider (c4f365235906cd689e55376e44cc106003ac06b3, 2016-08-24T06:04:42.373Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

[code]

Hovering `field` of `obj.field` does not show it's value

![xcab2reoq7](https://cloud.githubusercontent.com/assets/1723815/17942065/e048c84a-6a03-11e6-921a-e50c5b9bde7f.gif)

[2016-08-24 18:10] LiloD opened #10907 "Change List for git"
Hi, is there any plan to let user create different change lists for changed files for git
I find this feature is quite useful in intellij

[2016-08-24 18:15] jtsom commented on #10889
.... and it magically reappeared.

[2016-08-24 18:15] #10889 closed

[2016-08-24 18:26] aybabtme commented on #10344
@jrieken not sure what the memento stuff is. As a user, my expectations is that I'd be able to change that in my user settings (the JSON file) and then never have to think about it again.

[2016-08-24 18:30] wallverb commented on #10878
Maybe related to this https://github.com/Microsoft/vscode/issues/9937

[2016-08-24 18:32] davidcapatch opened #10908 "Colorization fails at 9 nested JavaScript functions"
- VSCode Version: 1.4.0
- OS Version: OS X 10.11.6

Steps to Reproduce:

1. Open a blank .js file
2. Create 9 nested functions following this format
[code]
3. Colorization stops a 9th function

Issue does not occur using this function format:
function foo1() {};

See screenshot
![screen shot 2016-08-24 at 2 25 48 pm](https://cloud.githubusercontent.com/assets/18700676/17942894/4bcf4a82-6a07-11e6-8

[2016-08-24 18:49] probonopd commented on #10857
Renamed and added desktop integration (optional installation into the start menu). Download links updated above.

[2016-08-24 19:08] aggieben commented on #6202
I am also seeing behavior very similar to this, but I'm using plink.exe and pageant.exe as my ssh client and agent, respectively.  Everything works fine in the console, and in Git Kraken - but vscode does not appear to either a) be using plink.exe or b) using pageant.  Is there a way to specify `GIT_SSH_COMMAND` to vscode?

[2016-08-24 19:09] jkjustjoshing opened #10909 "Closing file open in 2 places opens "save" dialog"
- VSCode Version: 1.4.0
- OS Version: OS X 10.11.5

Steps to Reproduce:

1. Open a project in VS Code
2. Split the editor so 2 files can be viewed side by side
3. Open the same file twice and arrange so both are visible
4. Make an edit to the file (either one - the changes should sync between the two views)
5. Try closing one of the instances of the file

**Desired behavior:** The file will close

[2016-08-24 19:10] dougrosenfeld opened #10910 "Quick file find, or jump to file in explorer by typing filename"
- VSCode Version:
- OS Version:

We are literally working with thousands of files. Currently the user is limited to a mouse scrolling through a large folder structure to find the file and manually selecting the file.

We kindly request that finding files in the Explorer be easier. The Windows Explorer is a parallel example.

For example, provide a box where you can start typing in the file name an

[2016-08-24 19:18] bezreyhan commented on #1915
@dbaeumer This has been an issue for me.
[code]

My tsconfig looks like this:
[code]

When I run tsc I do not get any errors but in VS code I am getting the following error: `can't find module ...` any time I import a module from node_modules. (e.g `import * as React from 'react';`)

[2016-08-24 19:32] aptgetmoo commented on #6442
also, `dpkg-dev` seems like a requirement for packaging on Linux, but this is not listed on the Wiki - can someone confirm this?

Either way, it was possible without build errors to compile it targeting `arm` from another machine that has slightly more memory. The resulting .deb installed and ran fine on my RPi.
To build targeting arm requires about 4 lines of gulpfile changes -- in other words, i

[2016-08-24 19:57] sushruth commented on #8990
I had the same issue on windows (in a very restricted corporate environment) and could not find a solution anywhere. The following solved the problem for me (not sure why) :

Edit the vscode shortcut and in `Target` field, type the following text
(Please make sure the paths are right).
[code]

hope this helps.

[2016-08-24 20:05] DanTup opened #10912 "Clicking code action in "F8" popup doesn't refresh code fix actions/close dialog = possibility of duplicate actions"
- VSCode Version: 1.4
- OS Version: Windows 10

I've implemented a code fix provider but hit a bit of a snag. Assume the following code:

[code]

I get a code fix here that says "change `myFun()` to `myFunc()`" and provides an edit which inserts a `c` at the correct position.

If I click the lightbulb and apply it, everything is fine; the change is applied, the menu closes.

However, if I hit `F8`

[2016-08-24 20:10] dahjelle commented on #10400
I don't find the red squiggles all that helpful. If I have a lint error, I'd like to know immediately and without further interaction the details of the lint error. This way, I can fix (or ignore) the problem without interruption to my flow.

While the red squiggles show that a lint error exists, the only way to find out **what** the error is is to:

1. Hover over the squiggle with the mouse.
2. P

[2016-08-24 20:13] DanTup commented on #10912
Related: If I hit F8 to open this window, then type some changes in the editor, then clicking the link applies a stale code fix, which means nothing matches up.

Note: My language service can only provide fixes for a single point (not a range), so there's a chance that's the cause of this (eg. I always have to take the start of the Range code gives me and drop the rest), though I'm not sure?

[2016-08-24 20:16] joaomoreno commented on #10860
Baking this specific feature into the product is simply [not in our 12 month plan](https://github.com/Microsoft/vscode/wiki/Issue-Tracking#ongoing-issue-management), thus I closed the issue.

We can still discuss it, even after closing it; people can still vote on it and comment on it if they feel passionate enough about it as you.

Still, the fact remains: this can be achieved with a few extensio

[2016-08-24 20:18] jdforsythe opened #10913 "In Breakpoints, cursor indicates click-ability where not actually clickable"
- VSCode Version: All (up to 1.4.0)
- OS Version: Windows 10

Steps to Reproduce:

1. Run debug task
2. Click on an any options in the "Breakpoints" but *not* on the checkbox.

The cursor is changed to a "pointer" (to use the CSS term) for the entire line in the breakpoints, but the only thing that is actually clickable is the checkbox. This is extremely annoying! Please make the entire line click

[2016-08-24 20:20] regs01 commented on #9832
There could be some large files that needs to be edited, like SQL files or resource files. NotePad++ and AkelPad handles them well.

[2016-08-24 20:50] fnouama opened #10914 "[Missing feature] We should have an 'update all' button for the extensions"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-08-24 20:57] tapir commented on #10148
Tried fixing the `enableBreakpointsFor` and unfortunately it didn't work.

[2016-08-24 21:01] rbuckton opened #10915 "Allow extension to match a specialized file with an existing extension match"
- VSCode Version: 1.5.0-insider
- OS Version: Windows 10

I'm trying to create a language extension for [ecmarkup](https://github.com/bterlson/ecmarkup), which uses the `.html` file extension. I don't want my language to completely override the existing HTML syntax, just ones with a `<!doctype ecmarkup>` first line.

However, https://github.com/Microsoft/vscode/issues/2883, plus the general way la

[2016-08-24 21:09] keepitterron opened #10916 "No intellisense on 'Case-sensitive Journaled HFS+' volumes"
- VSCode Version: 1.4.0
- OS Version: Osx 10.11.6

Steps to Reproduce:

1. create a new image with `hdiutil create -type SPARSE -fs 'Case-sensitive Journaled HFS+' IMAGENAME` and mount it
2. create/copy a typescript project in it

Mac OS Extended (Journaled) images work just fine.
I use a case-sensitive image to deal with the issues with git and renaming files.

[2016-08-24 21:11] rozzzly commented on #10914
Would save me a lot of scrolling

[2016-08-24 21:15] fnouama commented on #10914
+1 @rozzzly

[2016-08-24 21:22] Tyriar opened #10917 "Allow terminal launch path to be set via integrated terminal API"

[2016-08-24 21:30] Tyriar opened #10918 "Promise resolution when Terminal is ready?"
_From @jabooth on August 24, 2016 16:58_

I'm trying to use this new terminal API to implement a `Run File In Terminal` command for the Python plugin: https://github.com/DonJayamanne/pythonVSCode/issues/261. In this use case, I need to instantiate a terminal and immediately send commands to it.

Perhaps I'm a little confused here, but on todays Insider build:
[code]
the following code
[code]
leads

[2016-08-24 21:30] Tyriar commented on #10918
@jabooth will try get this fixed up soon, thanks for testing it out 👍

[2016-08-24 21:41] #9609 closed

[2016-08-24 21:42] egamma commented on #9500
@mrmlnc I fully agree with you. This is why I didn't close the issue yet. I'm about to check in the 2nd part of the fix which covers the NunJucks scenario.

I've filed this issue to track the documentation gap https://github.com/Microsoft/vscode-docs/issues/541. Is there some emmet documentation we can refer to?

[2016-08-24 21:55] MSLaguana commented on #10148
@weinand any other suggestions, or ways we could try to get more information on how vscode is interpreting the extension?

[2016-08-24 21:58] mrmlnc commented on #9500
@egamma the official documentation not contain a list of available profiles. It can be found in the [`lib/snippets.json`](https://github.com/emmetio/emmet/blob/master/lib/snippets.json) file.

  * `css`
  * `html`
  * `xhtml` - hardcode in code (the same as html, but outputs empty elements with closed slash: `<br />`.)
  * `xml`
  * ~~`svg`~~ (emmet v1.4.0+ we have 1.3.1)
  * `xsl`
  * `haml`
  *

[2016-08-24 22:00] jasongrout commented on #8989
Sorry, I just saw this. This helps get into a MaxPane-like mode, but it doesn't help getting out of it. Ideally, there would be an easy way to maximize the editor group *and* restore the previous layout.

[2016-08-24 22:06] davelane commented on #10248
An honest question: what does "editor.tabSize" in settings actually do then? The only thing I can see is that it appears as "configured tab size" when you do an "indent using spaces" from the command palette. It seems to me, if the indentation is detected when a file is opened and formatting a file (Shift Alt F) doesn't use the configured size it will never get used.

[2016-08-24 22:08] mrmlnc commented on #2707
@udarkness or @egamma, close this issue, please.

[2016-08-24 22:09] mrmlnc commented on #4700
See #9500.

@izcream or @egamma close this issue, please.

[2016-08-24 22:13] whitecolor commented on #10248
Newly created files are treated with this indentation setting.

[2016-08-24 22:18] Tyriar commented on #10575
Closing as duplicate, thanks @Treri

[2016-08-24 22:18] #10575 closed

[2016-08-24 22:18] Tyriar commented on #10858
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2016-08-24 22:18] #10858 closed

[2016-08-24 22:21] mrmlnc commented on #6191
Duplicate #4700.

@izcream or @egamma close this issue, please.

[2016-08-24 22:22] Tyriar commented on #10822
I believe cmd has this built in so that bash will install bash.exe or run it if it exists. There's nothing we can do about it in vscode as I understand it.

[2016-08-24 22:22] #10822 closed

[2016-08-24 22:26] whitecolor opened #10919 "exclude files/folders from being searched (using ctrl+P)"
- VSCode Version: insiders
- OS Version: windows 10

In `.vscode/settings.json` I have:
[code]

![image](https://cloud.githubusercontent.com/assets/736697/17950244/6842eac2-6a73-11e6-9add-c17597d243a1.png)

But files in out dir is still in the pick (ctrl+P) result
![image](https://cloud.githubusercontent.com/assets/736697/17950241/5a77d4c0-6a73-11e6-8aec-f16e566b7086.png)

Is it expected behaviour

[2016-08-24 23:00] Kran001 opened #10920 "Terminal crash with code 1"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.3.9600

Steps to Reproduce:

1.
2.

[2016-08-24 23:06] JUAN2011315 opened #10921 "Jump to definition with F12"
- VSCode Version: 1.4.0
- OS Version: Windows 10

Steps to Reproduce:

1. Por favor incluyan la opción de IR A LA DEFINICIÓN CON F12, en mi caso con el lenguaje PHP.

[2016-08-24 23:23] JoeWinger opened #10922 "Cursor disappears briefly before starting blinking animation."
- VSCode Version: 1.4.0
- OS Version: Windows 10

Steps to Reproduce:

1. Change the "editor.cursorBlinking" setting to either "smooth," "phase," or "expand."
2. Move cursor either with mouse or arrow keys.

The cursor briefly vanishes (as if it's starting the "blink" animation,) then immediately starts the defined animation.

[2016-08-24 23:39] mrmlnc commented on #9500
@egamma, you can replace `emmetSupportedModes` on `['html', 'xhtml', 'css', 'xml', 'xsl', 'haml', 'jade', 'jsx', 'slim', 'scss', 'sass', 'less', 'stylus', 'styl']`.

And small question:

Are you sure that you correctly get the parent language?

[code]

For example, your case with `blade` extension:

[code]

If `let parentMode = languages[1]`:

[code]

[2016-08-25 00:16] mong87suk commented on #6321
Hello @chrisdias,
I'm felinus jeong.
I got the same issue.
Did you fix this issue?

Best regards,
Felinus Jeong

[2016-08-25 00:24] alefragnani commented on #10568
@jrieken the use-case is related in [this issue](https://github.com/alefragnani/vscode-bookmarks/issues/30) in my **Bookmarks** extension. The intention is to _pin_ the editor when the user adds a Bookmark.

What do you think?

[2016-08-25 00:32] bgashler1 commented on #9631
@alexandrudima I've noticed that the Search viewlet leverages the `current-line` CSS class, whereas the Find/Replace widget uses the `lineHighlight` class.

After a lot of thought, I think we should actually just go with `current-line`.  Here's some arguments for doing that

- If you tab out of the Find/Replace while you have some results to the editor, it's clear that the current-line was actuall

[2016-08-25 00:35] DonJayamanne opened #10925 "How to determine if a Terminal created using new API has been closed by the user?"
- VSCode Version: Insider Build

I'm using the [code sample](https://github.com/Tyriar/vscode-terminal-api-example) put together by @Tyriar

Steps to Reproduce:

1. Run the above sample
2. Create a terminal using the new API
3. Send text to this new terminal
4. Close the new terminal using the icon on the top right of the terminal panel
(NOTE: Terminal has now been disposed, but extension is not a

[2016-08-25 01:35] DreamElapse opened #10926 "html文件编辑代码提示不完善"
- VSCode Version: 1.4.0

Steps to Reproduce:

1. 在thml文件内，用内嵌式css的情况下，css样式无代码提示并且用tab快捷键生成的css样式通常不是常用的和通用的样式

[2016-08-25 01:44] pipja opened #10927 "Extensions Marketplace broken on Ubuntu behind proxy"
- VSCode Version: 1.4.0 Linux x64
- OS Version: Ubuntu 16.04.1 LTS

Steps to Reproduce:

1. Setup a fresh copy of VS Code on freshly configured Ubuntu 16.04
2. Click on Extensions button or type "ext install <something>"
3. No results get returned, no error in debug console

Proxy settings are correct on the OS level, Ubuntu software store and everything else works fine.

[2016-08-25 02:00] jaime-olivares opened #10928 "Proposal: iOS support"
I have searched for a similar proposal but couldn't find it here in github.

Per my understanding, VSCode is mainly intended to be a "powerful" editor. I think it has evolved to a full IDE, with compilation, linters, package managers, taskers and debugging capabilities, among others.

Going back to the basis, it seems that VSCode can be compiled for iOS platforms, specially the iPad Pro. The princ

[2016-08-25 02:14] rkeithhill commented on #10881
Cool.  Thanks for fixing this!  @daviwil

[2016-08-25 02:22] davidrensh commented on #4830
Resolved by uninstall HTML Class Completion extension in one click with restart vs code.

[2016-08-25 02:27] pipja commented on #10927
Some more information from a command line try:

code --install-extension ms-vscode.csharp
TypeError: Cannot read property 'firstPage' of undefined
    at /usr/share/code/resources/app/out/vs/code/node/cliProcessMain.js:7:19462
    at Object.v [as _notify] (/usr/share/code/resources/app/out/vs/code/node/cli.js:4:28915)
    at Object.J.enter (/usr/share/code/resources/app/out/vs/code/node/cli.js:5:9

[2016-08-25 02:56] afoliaco opened #10929 "Unable to get intelesens for C# on a multi folder structure"
- VSCode Version: 1.4
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Create the following folder structure
SampleCode/src/Project1
SampleCode/src/Project2
2. Run dotnet new and dotnet restore to create the applications  and the new application restore all the correct dependencies.
3. Create sample class in Project2 and add the Project2 reference on  Projec1 project.json.

Note: I create this

[2016-08-25 02:57] yimingtang commented on #10148
The same problem. I fixed the typo in `package.json` and restarted VS Code, no React Native debug environment showed.

I tried the nightly build too. The bug still exists.

[2016-08-25 02:57] INDYvishal opened #10930 "global search not working"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.3.0

Steps to Reproduce:

1.cmd+shift+f and then search a string  won't give you search results, just stopped after update.

[2016-08-25 03:10] DarceyLloyd commented on #10744
ADDITIONAL: Occurrence Editing
The way select all occurrence editing works at the moment is the same as search and replace, just an inline method of it. Essentially to be useful it needs to go beyond search and replace with:

- Select next occurrence (single)
- Select all next occurrences (multi after cursor position)
- Select previous occurrence (single)
- Select all previous occurrences (multi b

[2016-08-25 03:36] xyyjk opened #10931 "suggestions about preview image file type"
1. there is something important information is lost when preview images file. etc: width&height, file size.

2. file tree on the sidebar doesn't support arrow key in keyboard, like up(down) arrow key to active current file easy.

![](http://i.niupic.com/images/2016/08/25/kHshHm.png)

[2016-08-25 04:13] stackerJobs commented on #10815
It works !Thank you !

[2016-08-25 04:13] #10815 closed

[2016-08-25 04:53] bpasero commented on #8989
`Even Editor Group Widths`

[2016-08-25 04:55] bpasero commented on #55
I find this post very interesting: https://lists.freebsd.org/pipermail/freebsd-current/2010-August/019310.html

[2016-08-25 05:58] FAQinghere opened #10932 "Undo stack lost"
**Update from bpasero on the issue:**

We loose the undo stack very easily when leaving a dirty file in a tab (not visible) and then saving the dirty file:

* open some tabs and make them dirty
* wait for a few seconds
* press "Save All"
* go to those tabs that where not visible and try to undo
=> you cannot undo

**Original description:**

- VSCode Version:
- OS Version: 1.4.0

Steps to Reproduce

[2016-08-25 06:07] guogaigai commented on #10917
thanks for your reply firstly ,  then when will this API release ? @Tyriar

[2016-08-25 06:08] egamma commented on #2707
closing as requested, thanks for the reminder @mrmlnc.

[2016-08-25 06:08] #2707 closed

[2016-08-25 06:10] egamma commented on #4700
duplicate of #9500

[2016-08-25 06:10] #4700 closed

[2016-08-25 06:10] egamma commented on #6191
duplicate of #9500

[2016-08-25 06:10] #6191 closed

[2016-08-25 06:12] jcw007 commented on #10890
I am experiencing a similar issue.

1. Open a folder on a network drive mounted using NFS. Everything works fine, no problem there.
2. Close folder and close VSCode
3. Mount the same network drive with a different path (e.g. NFS server has been rebooted and assigned different IP)
4. Open VSCode and try to open a file/folder

Expected: VSCode should launch the file/folder open dialog
Actual: VSCode

[2016-08-25 06:22] bpasero commented on #10583
@jrieken I added `IConfigurationService.lookup(key)` which returns a structure of

[code]

I think we should expose this to extensions via some kind of new API. Do you have ideas about naming etc?

[2016-08-25 06:25] RoscoP opened #10933 "Provide clipboard access through the VSCode API"
- VSCode Version: 1.4.0
- OS Version: Windows 7

Feature Request:
It would be great to get access to the clipboard in the VSCode API.  My use case is very simple, I want to be able to put specific text into the clipboard when a button is pressed (relative path to a file).  I'm sure other extensions would benefit from clipboard access access as well.

[2016-08-25 06:35] egamma commented on #9500
@mrmlnc thanks for the code review.

No, I wasn't aware of this case `text.html.php.laravel-blade` and I assumed going one specialization level to the left is sufficient. In this case let's not call it the 'parent language' but the 'document language.' This is consistent with text mate documentation

"... first is either text or source and the second is the name of the language or document type."

[2016-08-25 06:38] jrieken commented on #10583
Cool. Is there also some sort of `key` enumeration?

[2016-08-25 06:39] FAQinghere commented on #10932
upon further investigation, upon auto-save (didn't check manual save... will do that next), it is throwing away the undo buffer for all changes made prior to the previous autosave. So you need to repeat the above steps 2 rounds to see the effect.
1. Make a test.txt file
2. Type "buffer 1"
3. Navigate away from VSCode
4. Navigate back to VSCode
5. Type "buffer 2"
6. Navigate away from VSCode
7. Nav

[2016-08-25 06:40] FAQinghere commented on #10932
This does NOT happen if you save manually, regardless of the auto-save setting.

[2016-08-25 06:46] alexandrudima opened #10934 "Review getLinesViewportData"
From debugging we noticed it is sometimes returning one more line than necessary.

[2016-08-25 06:46] alexandrudima commented on #9542
@sandy081 Opened #10934 to follow up

[2016-08-25 06:48] #10826 closed

[2016-08-25 06:50] alexandrudima commented on #10643
@rbenson Today, `Cmd-K Cmd-I` shows the hover and moves focus from the editor to it. Moving the focus is solely done for Screen Readers that work by reading what is focused. This issue is about detecting if a screen reader is attached, and if not, then not move focus from the editor to the hover. It is not about removing  `Cmd-K Cmd-I` entirely.

[2016-08-25 06:52] sandy081 commented on #10830
@whitecolor In the first screen shot you are at the position of first argument, hence hover is only showing the documentation for first argument. You can also see that first parameter is highlighted. Description of the method there is not prominent, hence minimal text is shown.

You can see the complete description when you hover on the method name or do ctrl+space at the end of the method name.

[2016-08-25 06:54] hxlnt commented on #6442
I've been playing around with a build on a different ARMv7 Linux device (PocketC.H.I.P.), but no luck yet. I also hit the out-of-memory issue as well, which I was able to work around by creating a temporary swapfile on a USB stick. (So now I think I just need to find and tweak those four lines you mention, @aptgetmoo!)

I'd love to see a binary for this as well. If it bubbles up, I'm happy to test

[2016-08-25 06:54] alexandrudima commented on #10837
Please see https://code.visualstudio.com/docs/editor/editingevolved#_column-box-text-selection

[2016-08-25 06:54] #10837 closed

[2016-08-25 06:59] joaomoreno commented on #10366
Displaying of contributions is ✅ .

cc @egamma @kieferrm

Conflicts are much harder. While an extension provides a keybinding with a given context, I can't  unequivocally say that it will or won't conflict with another existing keybinding that has a different context. The same keybinding might come from two extensions and act in mutually exclusive contexts, thus never conflicting.

Unless I'm not

[2016-08-25 07:16] bpasero commented on #10583
@jrieken there is https://github.com/Microsoft/vscode/blob/master/src/vs/platform/configuration/common/model.ts#L180 which is currently not within the configuration service but can be used from anywhere.

[2016-08-25 07:16] isidorn commented on #10148
To summarize:
1. Only some users see this issue after a vscode update
2. After reinstalling the react native extension these users still see this issue
3. This issue is still present in the vscode insiders
4. This issue happens on all platforms

Does it help if the users manually delete the extension from the [extensions folder](https://code.visualstudio.com/docs/extensions/install-extension) and

[2016-08-25 07:17] joaomoreno commented on #7619
Update from the Windows team:

[2016-08-25 07:23] #9861 closed

[2016-08-25 07:25] tapir commented on #10148
It doesn't help.

[2016-08-25 07:26] alexandrudima commented on #9631
@bgashler1

Sorry, I'm not sure I understand what you mean. Here are the current things we have:

`current-line`
* is built into the editor and nobody (search viewlet included) controls it.
* rendered only when the editor selection is collapsed [I WILL GET BACK TO THIS]
* rendered also when the editor is blurred
![currentline](https://cloud.githubusercontent.com/assets/5047891/17960098/4afde652-6a

[2016-08-25 07:35] aarondandy commented on #7619
The behavior you describe does not happen on my machine or on any others I have seen. Is that new behavior in a fast ring build? If so, that will solve it in time for most users. I am on 1607 (OS Build 14393.82)

[2016-08-25 07:35] isidorn commented on #10148
Can you try installing the powershell, go or the c++ extension and double check if powershel / go / c++ are offered as possible debuggers when creating a new launch.json?

[2016-08-25 07:36] tapir commented on #10148
I already have Go and yes I can see it along with c++ nodejs and vscode extension targets

[2016-08-25 07:41] sercanov opened #10935 "Auto-completing React Native tags"
- VSCode Version: 1.4.0
- OS Version: OS X Yosemite

I've already opened an issue in vscode-react-native repo but I think it's related to vscode itself.

Microsoft/vscode-react-native#247

When I need to insert a component or any tag, I have to write both opening and closing tags. Auto completion on these could be great to have.

Similar behavior is available on React with double TAB.

Example beh

[2016-08-25 07:43] #10711 closed

[2016-08-25 07:44] isidorn commented on #10148
Can you please try doing the following: F1> open developer tools > sources > open debugConfigurationManager.ts put a breakpoint on line 204. F1 > reload. Check what debug adapter types you get on each breakpoint hit and does react apear there.
You can see me doing this process in the following gif:

![debugdebug](https://cloud.githubusercontent.com/assets/1926584/17960791/70e2c78a-6aa8-11e6-9321-1

[2016-08-25 07:47] jrieken commented on #10723
closing this as a duplicate of #7340

[2016-08-25 07:47] #10723 closed

[2016-08-25 07:50] jrieken commented on #7019
We did add [`ignoreFocusOut`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L1368) flags for quick pick and input

[2016-08-25 07:50] #7019 closed

[2016-08-25 07:51] jrieken commented on #5650
No action planned because there are challenges as outlined above

[2016-08-25 07:51] #5650 closed

[2016-08-25 07:55] alexandrudima commented on #10744
@DarceyLloyd
Here I have added the following keybindings. I am doing it on Windows, but the same principles apply on OSX or Linux, it is just the keybindings are different for `alt+c` and `alt+w` that I touch on below:

I have bound `editor.action.addSelectionToPreviousFindMatch` and `editor.action.moveSelectionToPreviousFindMatch` which are not bound by default:
[code]

Here I am using `ctrl+d` i

[2016-08-25 07:56] DanTup commented on #7340
I'd also love to see some improvements here. I can't merge our rename support currently because of incompatibilities with how Code does rename and how our language server does; it results in very unexpected behaviour.

In Dart, let's say we have this:

[code]

If you put the cursor on `import` Code will give a popup with the word `import` filled in. Firstly, it's not valid for us to rename this bu

[2016-08-25 07:57] weinand commented on #10148
Could someone who experiences this problem try to disable (uninstall) all extensions but the React Native extension and then verify that the problem still exists.

[2016-08-25 08:07] jrieken commented on #10455
Would it make sense to break thing up into icon set and icon association with this milestone? Then we don't end up with two stories of defining icons that are reusable and those that aren't reusable?

[2016-08-25 08:08] bkniffler commented on #10439
Okay, I found a work-around after reading https://github.com/Microsoft/vscode/issues/10735 which is related to this problem.
You can remove `Visual Studio Code.app/Contents/Resources/app/extensions/typescript` folder entirely and the process will not appear.

Obviously this is not a solution, especially not for people who use typescript.

[2016-08-25 08:12] tapir commented on #10148
@weinand already done that multiple times

[2016-08-25 08:14] yimingtang commented on #10148
@weinand It works after I uninstalled all other extensions (VS Code Insiders).

[2016-08-25 08:15] bpasero commented on #1396
@jrieken I pushed a first version of a new `IConfigurationEditingService` with the following API:

`writeConfiguration(target: ConfigurationTarget, values: IConfigurationValue[]): TPromise<ConfigurationEditingResult>`

Where
* `target` can be `USER` or `WORKSPACE`
* `values` is an array of key (`string`) value (`any`) pairs
* `ConfigurationEditingResult` possible error codes that can happen

Resul

[2016-08-25 08:15] bpasero commented on #8937
Done. Continue in https://github.com/Microsoft/vscode/issues/1396

[2016-08-25 08:29] weinand commented on #10148
@yimingtang can you confirm that the flow extension is the culprit?

[2016-08-25 08:30] weinand commented on #10148
@isidorn could you please install the flow extension and try whether you can reproduce this?

[2016-08-25 08:31] Riglerr opened #10936 "[Windows] Cannot create new vscode windows when running as administrator"
- VSCode Version: 1.4.0
- OS Version: Windows 8.1 server Enterprise editin

Steps to Reproduce:

1. Run VSCode as administrator
2. Right click icon in the taskbar and select 'New Window'
Result : No new window is created

The 'New Window' task works as expected when not running as administrator

[2016-08-25 08:32] whitecolor commented on #10830
Ah ok, thanks)

[2016-08-25 08:32] yimingtang commented on #10148
@weinand Awesome, you got it!
![screen shot 2016-08-25 at 4 32 00 pm](https://cloud.githubusercontent.com/assets/529212/17962051/81211884-6ae1-11e6-9f87-a2c4da415b06.png)

[2016-08-25 08:48] Ruikuan opened #10937 "When work with Sogou pinyin Chinese input method, the inputed Chinese word will repeat."
- VSCode Version: Code - Insiders 1.5.0-insider (2f2d6502638fa108f8ddbcc5831b38a35d5a1c11, 2016-08-25T06:09:29.461Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. Download [Sogou pinyin Chinese input method](http://pinyin.sogou.com/). It's a very popular Chinese input method, almost top 1, so I think maybe this issue will puzzle many people.
![download](https://github.com/Ruiku

[2016-08-25 08:51] mrmlnc commented on #9500
@egamma, Sadly, TextMate does not limit the nesting of languages (but recommends use `(source|text).(document type|language).language` pattern).

As I understand from the documentation, `scopeNames` is formed according to the principle: On the right is a higher abstraction. For example, `text.html.php.laravel-blade`, `source.asp.vb.net` or ``.

What do you think about replacing the last condition

[2016-08-25 08:57] #10148 closed

[2016-08-25 08:58] isidorn commented on #10148
The issue was the the flow language support contributed an empty `enableBreakpointsFor` which led to the issue on our side when merging these attributes for adapters that contribute the same type.

There was an exception in the developer tools (F1 > toggle developer tools) which made this clear.

[2016-08-25 09:02] shines77 opened #10938 "[Suggestion]: About the user-define color theme."
- VSCode Version: 1.4.0
- OS Version: Win7 sp1

I have a suggestion:

Why we can not choose another color theme? Not only the dark black style like now, especial when you preview the markdown file. The user experience is too bad on default dark black theme.

[2016-08-25 09:04] weinand commented on #10148
@isidorn why wasn't this exception not reported as an error for the flow extension? I remember that we once had this annoying notification that reported extension errors?
In addition, an exception in the flow extension should not prevent the React Native extension from loading correctly.
Please create issues for these two problem.

[2016-08-25 09:16] isidorn commented on #10148
@weinand it was not reported because there was no underlying issue in the flow or the react extension. Flow extension properly contributes 'enableBreakpointsFor' while the react had a mistype thus not contributing anything. An extension does not have to contribute the 'enableBreakpointsFor'.

I agree that one extension should not prevent another from loading correctly and with this bugfix we have

[2016-08-25 09:21] egamma opened #10939 "Error hover is badly formatted"
![image](https://cloud.githubusercontent.com/assets/172399/17963448/efcd8302-6ab5-11e6-806a-af2f67539c40.png)

[2016-08-25 09:22] weinand opened #10940 "Reuse integrated terminal when running debug target"
When running the debug target in the integrated terminal, every debug session results in a new terminal instance. Managing these terminals is a pain.

Please reuse the terminals based on their title.

Ideally, the terminal API should have a way to find out whether the terminal is "busy" (a process is already running). In this case you would not reuse the terminal but create a new terminal (and app

[2016-08-25 09:25] ruverav commented on #5742
I also noticed it. I installed "fonts-noto" package from the repositories because some people say Noto font family is similar to Droid.

`"editor.fontFamily": "'Noto Mono', 'Courier New', monospace",`

[2016-08-25 09:26] isidorn commented on #10940
Assigning to September, if we decide to ship the integrated terminal support this milestone then I will assign this to August

[2016-08-25 09:29] boyvinall opened #10941 "Menu has issues with very long labels"
- VSCode Version: 1.4.0
- OS Version: Windows 7

Steps to Reproduce:
1. open a folder with a really long path
2. File / Open Recent

Currently the ellipsis is right at the end of the path, which makes it difficult to know which path you're opening if you have several long paths in the list.  Ideally, the ellipsis should reduce folder names in the middle of the path. See https://blog.codinghorror.c

[2016-08-25 09:30] weinand commented on #10940
@isidorn the September milestone is ok. We will ship this feature behind a (non documented) launch config flag in August and we will test it next week.

[2016-08-25 09:33] boyvinall commented on #10941
![image](https://cloud.githubusercontent.com/assets/1652176/17963850/57509e44-6aaf-11e6-9053-658920643907.png)

[2016-08-25 10:17] aptgetmoo commented on #6442
@hxlnt [the gulpfile changes](https://github.com/Microsoft/vscode/pull/10923/commits/007c2cab0d37fff2cc1f8c69b8d1af3c2eabb762) are only for packaging to .deb / .rpm mostly –– using these I was able to build a .deb with:

[code]

I'm really inexperienced with packaging binaries though, so let me know if there's a better / supported way!

[2016-08-25 10:21] jrieken commented on #1396
Why is that. aren't all keys and defaults and scheme known upfront when detecting package.json files?

[2016-08-25 10:24] sandy081 commented on #10938
@shines77 I am not sure if you are aware that you can

- Select a theme from an existing installed themes.

![screen shot 2016-08-25 at 12 22 46 pm](https://cloud.githubusercontent.com/assets/10746682/17965822/d01becb6-6abe-11e6-9c17-1ef94df14c97.png)
![screen shot 2016-08-25 at 12 23 02 pm](https://cloud.githubusercontent.com/assets/10746682/17965821/d018e606-6abe-11e6-8a1a-f2289ecb4cc3.png)

- I

[2016-08-25 10:24] #10938 closed

[2016-08-25 10:30] jrieken commented on #10583
My plan is to add an `inspect` method to the [`WorkspaceConfiguration`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2630) object (along with `update`). The only catch is that users might pick a partial key in which case both methods would bail out.

For instance, such a call won't work `getConfiguration('files').update('watcherExclude.**/node_modules/**', true)` whereas thi

[2016-08-25 10:34] sandy081 commented on #10929
This issue was moved to OmniSharp/omnisharp-vscode#713

[2016-08-25 10:34] #10929 closed

[2016-08-25 10:35] sandy081 commented on #10926
@DreamElapse Can you please provide Summary and description of the issue and steps to reproduce in English.

Thanks.

[2016-08-25 10:37] sandy081 commented on #10921
@JUAN2011315 Can you please provide proper and detailed summary and description of the issue and steps to reproduce?

Thanks

[2016-08-25 10:38] sandy081 commented on #10920
@Kran001 Can you please provide the steps needed to reproduce this crash?

[2016-08-25 10:39] jrieken commented on #10583
@bpasero Why is there the separation between workspace-config-service and the other config-service. I looks rather artificial, esp. with the lower-layer already knowing about [`user`](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/configuration/common/configuration.ts#L46)-settings. Why not merge them and have [`workspace`](https://github.com/Microsoft/vscode/blob/master/src/vs/wo

[2016-08-25 10:40] sandy081 commented on #10919
Yes, if you open the js file manually, Quick open show it in the recently opened section.

[2016-08-25 10:42] jrieken commented on #10935
The completion framework allows you to do that. @aeschli is this something the html-language should do? be configured to do?

[2016-08-25 10:44] sandy081 commented on #10916
@keepitterron Is it only intellisense not working? How about other language specific features like Syntax highlighting, Go to definitions etc?

[2016-08-25 10:49] sandy081 commented on #10914
Duplicates #8124

[2016-08-25 10:49] #10914 closed

[2016-08-25 11:01] sandy081 commented on #10910
Duplicates #10026

[2016-08-25 11:01] #10910 closed

[2016-08-25 11:01] dbaeumer commented on #5650
Agree :-)

[2016-08-25 11:03] dbaeumer commented on #1915
@bezreyhan

The include is a TS 2.0 beta feature. VS Code still ships with the official 1.8.10 version. If you want to use VS Code with TS 2.0 you need to use the `typescript.tsdk` setting.

[2016-08-25 11:07] keepitterron commented on #10916
Syntax highlighting seems to be working fine. Go to definitions or paths don't work at all.
Also, errors are not reported for `ts`. I opened the same file from outside and inside the image and the one outside reports `ts` and `tslint` errors, the one in the image disk only the `tslint` errors.

[2016-08-25 11:17] leaxoy opened #10942 "Invalid file resource . c++"
- VSCode Version:1.5.0-insiders
- OS Version:10.12

Steps to Reproduce:

1.  open a c file.
2. press f12 and then meet this error.
![vscode-error](http://o8z0dg641.bkt.clouddn.com/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202016-08-25%20%E4%B8%8B%E5%8D%887.19.06.png)

[2016-08-25 11:19] jrieken commented on #10912
It's by design that the widget doesn't update when the markers change. We figured it's too noisy otherwise. Also what should really happen? Close? Jump to next/prev marker? However those decisions were made *before* we added the quick fixes to the widget. I see how those should reconcile when the document changes.

[2016-08-25 11:28] sandy081 commented on #10903
@Kingscity Very sorry to hear that VS Code is crashing. I do not think this could be due to fast typing but to know the root cause for it would you let us know

What kind of project are you are coding. How big is it?
Is it a Git repository
Do you have a special setup?
When this happens would you be able to run a CPU profile from the developer tools (help > toggle developer tools) to see where we s

[2016-08-25 11:35] sandy081 commented on #10902
@hhi

I think you would have following setting `workbench.editor.enablePreview` disabled or false. Please enable it and try. I think you will see the requested behavior on single click.

[2016-08-25 11:36] #10930 closed

[2016-08-25 11:37] sandy081 commented on #10901
This issue was moved to Microsoft/vscppsamples#167

[2016-08-25 11:37] #10901 closed

[2016-08-25 11:38] INDYvishal commented on #10930
after update  field 'files to include" needs to have directory specified otherwise search won't work.

[2016-08-25 11:38] sandy081 commented on #10900
Currently folding is supported only through indentation

[2016-08-25 11:48] bjankord opened #10943 "[css] Setting to hide CSS Color preview boxes"
- VSCode Version: 1.4.0
- OS Version: Mac OSX El Capitan v10.11.5

I was curious if there is a setting I can change to hide the CSS color preview boxes?
I'm using the [Color Highlight extension](https://marketplace.visualstudio.com/items?itemName=naumovs.color-highlight) which reduces the need for the color preview box.

Here is an example of some colors with both the preview box and the color hig

[2016-08-25 11:48] sandy081 commented on #10891
@victorschinaider Can you please make it clear on

Or Is it that the first files contains the copied content before paste?

[2016-08-25 11:48] Dwscdv3 opened #10944 "CSS @supports grammar check bug"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

When I use the @supports rule, the editor doesn't understand it and treat it as an error.
_By the way, is there anyway to make the editor ignores errors or warnings?_

[2016-08-25 11:52] keepitterron commented on #10916
If I enable typescript tracing I get in the output console:
[code]

[2016-08-25 11:59] weinand opened #10945 "Crash in node-oniguruma when tokenizing this malformed string with the JS grammar"
[code]

[2016-08-25 11:59] sandy081 commented on #10885
I do not think re-opening all windows is a good idea and it might not be liking to many users. It makes sense to open the recently closed workspace on open.

I will close this for now.. But we can wait to see if there are more users looking for this feature and come back to it.

Thanks.

[2016-08-25 11:59] #10885 closed

[2016-08-25 11:59] wallverb opened #10946 "files.exclude not respected with CMD+P"
- VSCode Version: Code - Insiders 1.5.0-insider (2f2d6502638fa108f8ddbcc5831b38a35d5a1c11, 2016-08-25T06:04:22.901Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Added `"common/typings/**": true,` to `files.exclude` & `files.watcherExclude` & `search.exclude` of Workspace Settings and restarted vscode
2. When doing `CMD+P` then files from these folders still show up - I think it should

[2016-08-25 12:03] dewdad opened #10947 "Feature request: Add workspace specific snippets"
It would be great if we could add project specific snippets. This way common requires or api snippets can be use across the team for a given project.

Thank you

[2016-08-25 12:04] matejkramny commented on #10885
Ok no worries. If I made a PR with this, and it'd be an off-by-default option in settings, would this be useful to the project?

[2016-08-25 12:06] dewdad commented on #10947
Found a parent issue for this here #8102 (Feature Request - Project-level extensions and snippets).

[2016-08-25 12:06] #10947 closed

[2016-08-25 12:09] bpasero commented on #10941
We are not doing anything special but rely on the Electron menu here.

[2016-08-25 12:11] matejkramny opened #10948 "Efficient tab switching workflow"
I came to Code from TextMate and Sublime world. In those editors, you use CMD+[1-9] to switch between open tabs.

How do you efficiently switch between tabs in Code? It seems a little counter intuitive (for me) for cmd+2 to open a split screen.

Please note i am not criticising how it is in VSCode. I get that most users of Code have maybe larger screens and switch between split screens often. Howe

[2016-08-25 12:15] bpasero commented on #1396
@jrieken you are right, I take it back. somehow I thought configuration contributions are only added to the registry when the extension gets activated. but they should get added once the extension host is up and running (for which the configuration registry is aware of and will update).

I have one thought on the possible error cases from the `writeConfiguration` call: Maybe we should not return s

[2016-08-25 12:15] whitecolor commented on #8818
Yes this is needed if `terminalTextSelected` ctr+C should copy the text.

[2016-08-25 12:15] matejkramny opened #10949 "Shortcut improvements"
Is it possible to define shortcuts like:

- `cmd+k cmd+u` (convert selection to uppercase)
- `cmd+k cmd+l` (convert selection to lowercase)
- `cmd+l` when selected multiple lines, create a cursor at the end of each line
- `ctrl+cmd+up(arrow)` move selection up/down

What would be the best way to implement these, and if you don't mind I can make a PR for this?

[2016-08-25 12:16] Orodan opened #10950 "No syntax highlight at some points in js files"
- VSCode Version: 1.4.0
- OS Version: OS X Yosemite 10.10.5

Hi,

using VSCode to write some javascript, sometimes it ends up with no syntax highlight at some points in the file.

Here is an example of what I'm talking about :

<img width="842" alt="capture d ecran 2016-08-25 a 14 15 05" src="https://cloud.githubusercontent.com/assets/7422824/17968669/5c307636-6ace-11e6-8c4e-a013b64f1570.png">

Th

[2016-08-25 12:16] bpasero commented on #10933
@jrieken fyi

[2016-08-25 12:20] bpasero commented on #10583
@jrieken the split between a configuration service in platform and the one in workbench was done because we use the configuration service in many more environments: `CLI`, `shared process`, `main` side and the `workbench` renderer side. Pushing the notion of workspaces down to the platform layer was very bad for those areas where we do not have nor want a notion of workspaces (which is all of them

[2016-08-25 12:21] Egahras commented on #670
One big feature i'm missing and its preventing me and colleagues to use vsCode as out main editor.

[2016-08-25 12:22] bpasero commented on #10909
We fixed this already for August.

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-08-25 12:22] #10909 closed

[2016-08-25 12:22] #10902 closed

[2016-08-25 12:22] bpasero commented on #10898
Menu is rendered by Chrome, so this is an upstream issue.

[2016-08-25 12:24] bpasero commented on #10890
@spraguey @jcw007 can you share more details how it crashes? does it show a crash dialog?

[2016-08-25 12:26] arraqib commented on #5678
Add enable/disable feature or Remove default line highlighting. That will be better......

[2016-08-25 12:28] sramam opened #10951 "issue accessing (writing?) to file from disk when open in vscode on macosx"
- VSCode Version: 1.4.0
- OS Version: MacOSX

Steps to Reproduce:

Problem 1: VSCode gets into a very tight loop saving an open file.
It seems, if you save a file from VSCode and then make a modification to the same file from the shell, while the file is open in VSCode, it causes VSCode to go into a loop - saving the file continuously.

1. Open a file in VSCode (e.g. package.json )
2. Remove a pac

[2016-08-25 12:30] bpasero commented on #10915
Fair request, this is an area where we do not support this nicely. I think we new about this corner case when we fixed all the other issues in this area.

[2016-08-25 12:41] cDecker32 opened #10952 "Auto show/hide terminal window"
Similar to behavior in Visual Studio, is there a way we could get the terminal to show/hide automatically? Leaving some sort of tab at the bottom of the screen?

It opens when:
1. User mouses over the tab
2. Something is written to the terminal

It hides when:
1. User clicks outside of the open terminal window.
2. The terminal has not been written to within a set period of ~10 seconds.

Ex: I'm wo

[2016-08-25 12:46] KvChaos opened #10953 "Need HTML Matching Keystroke"
- VSCode Version: 1.4
- OS Version: Windows 10

In HTML editor, need a keyboard mapping that allows you to jump to the matching tag.  I am aware that if you place the cursor on a tag, the matching tag is highlighted; but in a div that may sufficiently long as to not be visible on the screen, it would be useful to quickly jump to the matching tag.

It would also be extremely useful to have a keyboa

[2016-08-25 12:47] jrieken commented on #10583
I am not saying that you should push down the implementation but the interface. Now depending on where my code lives my service dependency changes which weakens the whole point of having interfaces and injections.

[2016-08-25 12:48] jrieken commented on #10886
closing as dupe of #1833

[2016-08-25 12:48] #10886 closed

[2016-08-25 12:49] sandy081 commented on #10916
@keepitterron Thanks for providing the information.

[2016-08-25 12:49] #10830 closed

[2016-08-25 12:50] jrieken commented on #1396
That how I did it in the API sketch up: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostConfiguration.ts#L61

[2016-08-25 12:53] jrieken commented on #10933
closing as duplicate of https://github.com/Microsoft/vscode/issues/217. Note that we don't have plan to expose the clipboard in the API but recommend the use of npm modules that do this, like: https://github.com/xavi-/node-copy-paste

[2016-08-25 12:53] #10933 closed

[2016-08-25 12:53] alfiepoleon opened #10954 "Eslint error when opening a javascript file: Failed to load plugin jsx-a11y: Cannot find module 'eslint-plugin-jsx-a11y'"
- VSCode Version: 1.4.0 (1.4.0)
- OS Version: OS X El Capitan 10.11.3 (15D21)

I haven't been able to use eslint with my meteor project, it brings up this error everytime
`Failed to load plugin jsx-a11y: Cannot find module 'eslint-plugin-jsx-a11y'`
It works and lints fine with atom and sublime text, but I want to try out VS Code.
I have installed the ESLint extension.
This is my .eslintrc.json
[co

[2016-08-25 12:56] sandy081 commented on #10884
@jrieken Assigning to you since I think it is related to the current work you are doing (not sure). Otherwise please re-assign it.

Thanks.

[2016-08-25 13:01] rdcoe commented on #10436
Sorry, I will not disclose information related to our secure gateway.  Can you provide me information about how vscode connects to the extension repository?  If I knew what transport/application protocols were in-play, as well as port information, then I should be able to define policy that allows the traffic.

[2016-08-25 13:02] jrieken commented on #10884
dupe of https://github.com/Microsoft/vscode/issues/9764

[2016-08-25 13:02] #10884 closed

[2016-08-25 13:03] sandy081 commented on #10883
We fixed this already for August.

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from:
http://code.visualstudio.com/Download#insiders

[2016-08-25 13:03] #10883 closed

[2016-08-25 13:07] spraguey commented on #10890
@bpasero All of the tabs disappear, and there is a small dialog window that says "The window has crashed. We are sorry for the inconvenience! You can reopen the window to continue where you left off." There are close and reopen buttons. Even if I reconnect the drive and click Reopen, it does not recover. It just brings be to the editor with no files/tabs open.

![screen shot 2016-08-25 at 9 05 07

[2016-08-25 13:10] egamma commented on #9500
@mrmlnc :+1: on this change, it makes the core more robust and removes an assumption.

BTW, I'm refactoring the editorAccessor code a bit to make it easier testable. So if you plan to make a PR, please wait until I'm done with this refactoring and we can have unit tests for all this logic.

[2016-08-25 13:16] sandy081 commented on #10879
@drinktee Can you please try by disabling extensions from command line  'code  --disable-extensions`. How big is the file and the project? Also can you provide us any metric and diagnostics like how much slow it is and when this happens would you be able to run a CPU profile from the developer tools (help > toggle developer tools) to see where we spend so much time?

[2016-08-25 13:18] Kran001 commented on #10920
Im just click Focus new terminal, and my VS code give me error with code 1.
I have been doing it with admin privileges, and none. Results was equals.

2016-08-25 13:39 GMT+03:00 Sandeep Somavarapu <notifications@github.com>:

[2016-08-25 13:24] sandy081 commented on #10877
@qlqllu I do not see p1 listed in any of the scenarios and I think it wont be listed as it is a member of an anonymous object

[2016-08-25 13:28] weinand commented on #10876
@UVk could you please launch the 'integrated terminal' in VS Code and  run `where node` in it. What does it show?

[2016-08-25 13:30] Gama11 opened #10955 "Errors from an extension appear in Output instead of JS console"
- VSCode Version: 1.4.0
- OS Version: Windows 10 Version 1607

I'm using an extension that outputs errors fairly frequently (https://github.com/vshaxe/vshaxe). For some reason, these errors go the Output panel for me in a `Haxe` channel:

![](http://i.imgur.com/jj4CjI7.png)

This is quite strange, because for everybody else using this extension I've talked to, these errors go to the JS console of

[2016-08-25 13:34] bpasero commented on #10890
@spraguey can you check if this happens with Atom editor too?

[2016-08-25 13:35] montera82 commented on #102
Any update per this issue, i am getting undefined for my environment variables while in debug mode

[2016-08-25 13:39] adbertram commented on #10900
Correct thus the feature request.

[2016-08-25 13:42] sandy081 commented on #10920
@Kran001 Can you let us know if you have any special terminal settings?

[2016-08-25 13:43] spraguey commented on #10890
@bpasero No, this does not happen in Atom.  In Atom, the file remains open and indicates that it is unsaved (small blue dot in the tab). This is what I would expect in VSCode. It obviously cannot save the file, but it remains open.

Wow, all this time I thought VSCode was based on Sublime. It's Atom. Oops.

[2016-08-25 13:45] weinand commented on #10148
@MSLaguana here is the summary of our investigation:

VS Code had a bug in the code that merges debugger contributions: the merge code would fail if one contribution is empty.

This (rare) corner case was hit by the combination of the React Native and the Flow extension:
The typo `enableBrekapointsFor` resulted in an empty contribution and the Flow extension had another (unnecessary) contribution

[2016-08-25 13:47] bpasero commented on #10583
@rebornix in your summary you ask for a way to find out if a setting is defined in user vs workspace land but it is unclear to me why that is needed? Can you share the use case for this? Would you be OK to just have a method that tells you if a setting is defined by the user or not?

@jrieken if we do not need to distinguish between user and workspace setting then maybe we can simplify this altoge

[2016-08-25 13:53] weinand commented on #102
@montera82 the issue discussed here was a 'user error' and might only be related to your problem if you are using non-string typed values in the "env" section of your launch configuration. If this is the case please fix it as discussed above.

If you have a different problem, please create a new issue with the detailed steps and infor about your OS and node version.

[2016-08-25 13:53] bpasero commented on #10890
@spraguey would you be able and willing to run VS Code out of its source code to try some things out for me in order to nail this issue down? The instructions are here: https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source

[2016-08-25 13:56] Gama11 commented on #10955
It looks like this was caused by a different `vscode-languageclient` version on my PC (2.4.2-next.5 vs 2.3.0). When building the extension with 2.3.0, the behavior is consistent with everyone else's.

[2016-08-25 13:56] #10955 closed

[2016-08-25 13:58] bpasero commented on #1396
@jrieken makes sense, I think I should move this into the service so that we have consistent behaviour also for internal clients. If we do so, I could also provide a better error message so that the extension does not end up with the internal enumeration codes. As a last resort an extension could decide to show the error message to the user if wanted.

I think an extension itself should not react

[2016-08-25 13:59] Gama11 commented on #10955
Specifically https://github.com/Microsoft/vscode-languageserver-node/issues/55.

[2016-08-25 14:02] dbaeumer commented on #9215
@andy-ms that looks like the problem we started seeing when upgrading the C/C++ tooling with VS Update 3. We have worked around it by updating the node-gyp package npm is using to version 3.4.0. (We are currently blocked from upgrading npm itself to >=3.9, the latest comes with the fixed node-gyp.).

[2016-08-25 14:14] jrood commented on #1031
chromeos support, yes please

[2016-08-25 14:17] victorschinaider commented on #10891
@sandy081 Ok, the 4th step needs reformulation.

   4. Now, try to paste the copied content in anywhere. You'll see, based on pasted content, that the clipboard memory region do not suffered any changes by the last "Crtl + C" action.

[2016-08-25 14:20] spraguey commented on #10890
This is definitely not something I have done before, so not sure how useful I will be.  I was able to get through the entire process up to the npm install.  I tried the Incremental Build, though, and it fails with a segmentation fault: 11. This is node 6.2.0, npm 3.8.9.

[2016-08-25 14:22] alexandrudima commented on #10878
@ebastuart Is it possible to share the file with us so we can track down the problem and check if it is an issue with the grammar

[2016-08-25 14:23] jrieken opened #10956 "OutputChannels show up as active editor"
* Have code like below and open an output channel.
* The output channel appears as an editor which is surfacing an implementation detail and not the intent

[code]

[2016-08-25 14:24] jrieken commented on #10956
@alexandrudima @isidorn fyi

[2016-08-25 14:33] jrieken opened #10957 "Cmd+P doesn't work when another quick pick is open"
- press `cmd+shift+P` and see the command palette
- realise you wanted to open a file and press `cmd+P`
- 🐛 instead of opening the file picker the selection in command palette changes

[2016-08-25 14:33] bpasero commented on #10890
Weird that should work though. I am always using node.js 5.10.0. Might be due to out of memory. Does it repeat the error all the time?

[2016-08-25 14:36] dbaeumer commented on #10237
Interestingly when executed from a cmd prompt I can't cancel this as well since it always starts a new 'ping'

[2016-08-25 14:38] dbaeumer commented on #10237
The only way I found to get out of this is to close the cmd which started the command.

[2016-08-25 14:39] weinand commented on #8114
@isidorn I've added a `type` attribute to the `CompletionItem` type and node-debug now returns a 'function' type.

[2016-08-25 14:39] bpasero commented on #10957
@jrieken this is due to the following keybinding rule that you can unset:

`{ "key": "cmd+p", "command": "workbench.action.quickOpenNavigateNext", "when": "inQuickOpen" }`

The idea being that you can press Cmd+P repeatedly to jump to the next item in quick open after opening it.

Thinking about it, maybe this keybinding should look for a context "inFileQuickOpen" instead of working so generaly.

[2016-08-25 14:42] jrieken commented on #10957
often one context key isn't enough 🙏

[2016-08-25 14:48] minedeljkovic opened #10958 "Syntax coloring issue with flow polymorphic types"
- VSCode Version: 1.4.0
- OS Version:  Ubuntu 14.04 LTS

Steps to Reproduce:

1. Create .js file with [flow](https://flowtype.org/) type not using polymorphic types (coloring is ok)
2. Introduce polymorphic type (coloring is broken below the line where polymorphic type is used)

![vscode-flow-coloring](https://cloud.githubusercontent.com/assets/1811622/17973615/6d2b9082-6ae3-11e6-8e28-9a2d10c451eb

[2016-08-25 14:51] devlo commented on #10950
I have the same problem after updating from version 1.0 to 1.4. All worked without problems in 1.0.

[2016-08-25 14:53] jromier opened #10959 "Issues on SAVE"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows 8.1 x64

From at least two releases of Visual Studio Code, I have issues with the SAVE menu item.
I generally work with several tabs opened and when I save the file of the current tab, the tab title still blinking, and the save is not done while I'm not selecting another tab.
But

[2016-08-25 14:54] montera82 commented on #102
hi @weinand ,
i need to know how to source my environment variables when on debug mode.

All my environment variables are stored in a file in my root folder named .env ( which has an entry like so
export DATABASE_HOST=127.0.0.1
)

Now when running the project from command line, i can do

Source .env

Then run

npm start

and the project will be able to resolve the variables.

How do i achieve the

[2016-08-25 14:56] JonathanMEdwards opened #10960 "TS syntax coloring breaks on nested new"
- VSCode Version: 1.4.0
- OS Version: OS X 10.11.6

![image](https://cloud.githubusercontent.com/assets/2237165/17973981/576342a8-6ab2-11e6-887d-95cd2f206961.png)
![image](https://cloud.githubusercontent.com/assets/2237165/17973985/5ee86b66-6ab2-11e6-82df-cc10536e8da8.png)

[2016-08-25 14:56] dooso commented on #10950
I have the same problem in my typescript files.. and i found it just occur in 1.4 , and now  i use back to v1.3.

[2016-08-25 14:59] #10939 closed

[2016-08-25 15:02] AlanWalk commented on #10709
I want to add a svn extension just like git, activityBar is better than terminal or command.

[2016-08-25 15:02] rebornix commented on #10583
@bpasero the reason I separated them is that I'm not sure which category Workspace settings belong to. Workspace overrides User and User overrides Default, there are some similarities between Workspace and User settings, they are set by purpose. To some extent, Workspace setting is like a Super User setting which has the highest priority.

A user case for workspace info is https://github.com/VSCod

[2016-08-25 15:02] mrmlnc commented on #9500
@egamma,

Yes, thanks for the warning. I'll wait your changes.

[2016-08-25 15:03] weinand commented on #102
@montera82 you probably have already a launch.json that has a environment variable:
[code]

Just add your environment variables to that like this:

[code]

Make sure that all env var values are strings.

You can find debugging help here: https://code.visualstudio.com/docs/editor/debugging

[2016-08-25 15:05] Pszek opened #10961 "Feature request: Mercurial support"
I really love default git support for VS Code. I would love to have Mercurial support as well (togglable, non-default).

Really love your product - good job,!

[2016-08-25 15:07] Pszek opened #10962 "Feature request: Working sets"
Sometimes I happen to work on really trashy repository from which I cannot remove anything. Having some functionality for setting working sets (selecting files and folders which we then have visible in file tree) would be really nice.

[2016-08-25 15:09] #8114 closed

[2016-08-25 15:11] joaomoreno opened #10963 "Querying for themes only is broken"
This used to work:

![image](https://cloud.githubusercontent.com/assets/22350/17974556/dad1b866-6ae6-11e6-8519-c168f402e9dc.png)

[2016-08-25 15:11] joaomoreno commented on #10963
cc @modigrv @hamenon

[2016-08-25 15:12] joaomoreno commented on #10936
#1614

[2016-08-25 15:12] #10936 closed

[2016-08-25 15:14] joaomoreno commented on #10907
Can you elaborate on what those are?

[2016-08-25 15:14] alexandrudima commented on #10956
We just changed today that the debug repl is a text editor available to extensions

[2016-08-25 15:15] alexandrudima commented on #10956
The thought process is: if you use & like vim for example, why not type in the debug repl in vim mode too...

[2016-08-25 15:15] joaomoreno commented on #10905
If Code runs in ARM, great, but we're not actively supporting it.

[2016-08-25 15:15] #10905 closed

[2016-08-25 15:15] joaomoreno commented on #10888
#2330

[2016-08-25 15:15] #10888 closed

[2016-08-25 15:17] joaomoreno commented on #10436
HTTPS to `marketplace.visualstudio.com`.

[2016-08-25 15:17] #10436 closed

[2016-08-25 15:17] aleksey-bykov commented on #7015
Merged https://github.com/Microsoft/TypeScript/pull/9837

[2016-08-25 15:19] jrieken commented on #10956
Would make it less work... It might just be a little surprising for folks working with the active editor?

[2016-08-25 15:23] styfle commented on #7015
@dbaeumer Now that it is merged in tsserver will it simply work with vscode or will there need to be more work to integrate it?

[2016-08-25 15:24] DarceyLloyd commented on #10744
@alexandrudima
Nice! I will look into implementing this shortly. This is a feature I would put on the front page in a large gif / HD video as it would hands down grab my attention straight away, aswell as many fellow developers I work with.

[2016-08-25 15:27] #10963 closed

[2016-08-25 15:36] JimmyBurdette commented on #5508
I really liked this feature in Atom and would use it regularly.

[2016-08-25 15:38] nathantschultz commented on #5052
It would be nice if the user could customize the search results highlight color. It's really hard to tell what is highlighted and what isn't when searching.

[2016-08-25 15:38] dougrosenfeld commented on #10026
This is a great request. We too are working with thousands of files in hundreds of folders on multiple network shares. Finding and navigating with a mouse and scrolling through a large folder structure to find the file and manually selecting the file is burdensome - especially when the Explorer jumps around when clicking on a file in the Open Editors pane.

We kindly request that finding files in

[2016-08-25 15:48] jrieken commented on #10583
@rebornix I could make `WorkspaceConfiguration#inspect` return something like this
[code]
Still unsure about the names but the information you need should be there.

I wonder if anyone is interested in the *overridden* values? Like *effective value is 4*, *global/user* value is 2, and *default* is 8.

[2016-08-25 15:49] #8115 closed

[2016-08-25 15:52] rebornix commented on #10583
@jrieken Your proposal looks good to me. I don't see any reason why people wants to know the default value or global value if there is already an effective one as well.

[2016-08-25 15:54] mong87suk commented on #10905
Hello, @joaomoreno
Thank you for your support.
I really want to fix it.
Could you give me some hint to fix it?

Best regards,
Felinus Jeong

[2016-08-25 16:03] fantacytyx commented on #10937
[ QQ pinyin](http://cdn.qq.ime.sogou.com/0db3cec5686d0d317d0f9e3dcff8e081/57bf1595/QQPinyin_Setup_5.3.3208.400.exe)  have the same problem.

[2016-08-25 16:04] sandy081 commented on #10891
Thanks for confirmation

[2016-08-25 16:05] be5invis commented on #10804
love it :)

[2016-08-25 16:05] sandy081 commented on #10962
Duplicates #9498

[2016-08-25 16:05] #10962 closed

[2016-08-25 16:07] be5invis commented on #10804
How about the custom styleing? (i.e. full-workbench themeing)

[2016-08-25 16:07] sandy081 commented on #10961
Duplicates #205

[2016-08-25 16:07] #10961 closed

[2016-08-25 16:09] whitecolor commented on #10919
@sandy081 I'm not sure could you comment this:
1) I have `out` in "search.exclude"
2) I want to find files in `/src` (it is not in out)
3) It shows me all the files that is in `out/src`
![image](https://cloud.githubusercontent.com/assets/736697/17976548/6d7a98ac-6b07-11e6-9542-ca7e54496488.png)

I didn't open them at all. Is it possible to hide them at all in quick view? This this setting "search.

[2016-08-25 16:11] sandy081 commented on #10960
I think its error diagnostics is broken

[2016-08-25 16:12] Motassem-MK opened #10964 "Alt button conflict (toggle menu-bar & multi-select)"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Hi, I'm using Code on windows and there is a little annoying conflict with the "Alt" button when im on full screen, you see Alt is the button used for multi-selection and also for toggling the menu bar, means the menu bar keeps appearing every time i try to mu

[2016-08-25 16:15] sandy081 commented on #10958
This issue was moved to flowtype/flow-for-vscode#29

[2016-08-25 16:15] #10958 closed

[2016-08-25 16:17] sandy081 commented on #10954
This issue was moved to Microsoft/vscode-eslint#119

[2016-08-25 16:17] #10954 closed

[2016-08-25 16:18] sandy081 commented on #10953
Duplicates #8446

[2016-08-25 16:18] #10953 closed

[2016-08-25 16:22] sandy081 commented on #10964
@Motassem-MK You can also configure different key combination for multi-selection?

[2016-08-25 16:24] NikosEfthias commented on #10346
hi @weinand shoudl i pass a full remote path something like /home/<user>/<projectBase>

[2016-08-25 16:25] sandy081 commented on #10950
Duplicates #9937

[2016-08-25 16:25] #10950 closed

[2016-08-25 16:26] montera82 commented on #102
Works well, thanks

someone will need to add this on the getting started article, i could not find there.

[2016-08-25 16:28] jrieken commented on #1396
Agreed. I actually don't use the enum value but its name (providing a little bit of extra detail):  https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostConfiguration.ts#L61

[2016-08-25 16:28] sandy081 commented on #10949
@matejkramny You can write an extension for all of them using our API and Commands. Please refer here

https://code.visualstudio.com/docs/extensions/overview

https://code.visualstudio.com/docs/extensionAPI/overview

[2016-08-25 16:28] #10949 closed

[2016-08-25 16:28] djohns505 commented on #10898
Closing as a duplicate of #9878

[2016-08-25 16:28] #10898 closed

[2016-08-25 16:29] rdcoe commented on #10436
I'm guessing that whatever is implementing the HTTP over TLS connection in vscode is the problem.  I can access that site through my browser and by using a simple curl connect.  Since there are no issues with the server cert, I'm guessing there's a problem in the client making the request.

[2016-08-25 16:30] #9138 closed

[2016-08-25 16:30] sandy081 commented on #10919
I am reopening this for further investigation

[2016-08-25 16:30] mrmlnc commented on #10949
For lowercase and uppercase transformation you can use https://marketplace.visualstudio.com/items?itemName=florianloch.text-transform

[2016-08-25 16:37] matejkramny commented on #10949
Thanks! I'll have a look and write an extension.

I found the `Microsoft/vscode-sublime-keybindings` package but it doesn't cover these bindings.

[2016-08-25 16:41] Tyriar commented on #10952
Related: https://github.com/Microsoft/vscode/issues/3742

[2016-08-25 16:45] Tyriar commented on #10917
@guogaigai v1.5.0 is the plan

[2016-08-25 16:57] yaSebastian opened #10965 "WebView not scaled correctly when zooming vscode"
- VSCode Version: 1.4.0
- OS Version: Windows 10

Steps to Reproduce:

1. Zoom the UI
2. Open any WebView (e.g. Extensions Details or Preview of a Markdown File)

The opened WebView is sized for a zoom, but not scaled, staying at 100%, leaving empty space in it's container.
When Zooming with the WebView being open, it is sized and scaled correctly.

[2016-08-25 16:57] #10685 closed

[2016-08-25 17:02] Tyriar commented on #10721
Cases to test:

- [ ] Launching vscode with terminal closed and opening it
- [ ] Launching vscode with terminal opened
- [ ] Running create new terminal command
- [ ] Running toggle terminal command
- [ ] Running send selection to terminal command

[2016-08-25 17:07] maxcli commented on #10848
i upgraded to 0.7.1 today. It actually makes it worse :-)
The program hangs when I hit F5

[2016-08-25 17:11] maxcli opened #10966 "VS Code hangs when i launch Powershell debug with f5"
VSCode Version: 0.7.0. (Installed Aug 25,16)
OS Version: win 10

I immediately hang

Steps to Reproduce:

1. set a breakpoint on 2nd line of ps1 code.
2. f5

[2016-08-25 17:15] matejkramny opened #10967 "New File improvements"
**Scenario:**
- Editing a file `y.txt` inside a directory `x`
- I want to create a new file `z.txt` in directory `x`
- I am a user who likes to be efficient and loves keyboard shortcuts

**Workflows to create new files:**
1. Take over control of the mouse/trackpad, navigate to +file icon (top left next to explorer). A new file is created inside `x` and I can name it `z.txt`, then edit its contents

[2016-08-25 17:16] cbolivar82 opened #10968 "Option to Context Menu"
- VSCode Version: 1.4.0
- OS Version: Windows 10

it is a improvement that would have VS Code. "In the menu context on windows explorer file we should have the option "Open with
![dmeo fw](https://cloud.githubusercontent.com/assets/7227181/17978901/2834cec0-6ac6-11e6-8f55-0d1caf599a45.png)
 VS Code" like has other editor...

Thanks!

[2016-08-25 17:27] waderyan commented on #10744
@alexandrudima @DarceyLloyd very cool! This would work well in the next iteration of the [code editing intro video](https://code.visualstudio.com/docs/introvideos/codeediting) or possibly as an advanced Tips and Tricks topic.

[2016-08-25 17:35] waderyan commented on #10908
@alexandrudima we've seen this before right? I can't find the issue now but I remember seeing something similar. There was a constant we set for when we would stop colorizing. Can you remember this issue? Maybe it was someone else on the team.

[2016-08-25 17:37] waderyan commented on #10916
@dbaeumer do you think this is a tsserver issue?

[2016-08-25 17:44] waderyan commented on #10960
@JonathanMEdwards thank you for bringing this issue to our attention. Let me make sure I understand the issue properly. Can you help me with the following?

1. Review the steps below and confirm that what I did is what you did.
2. Confirm that I have understood the issue you are seeing correctly.

Here are the steps I took.
1. Create a new file called `test.ts`
2. Write the following code.

[code]

[2016-08-25 17:49] ramamurthynagaraj commented on #10386
Hi guys, created a PR for this issue. Let me know if there are any issues.

[2016-08-25 17:56] LiloD commented on #10907
Right now the git in Code is like
CHANGES
 - file1
 - file2
 - file3
 - ...
All change files are under same group 'CHANGES'

I hope user can define different changes list which means user can create different groups
Something like

User Story 1
 - file1
 - file2

User Story 2
 - file3
 - file4
 - ...

Further more, user can take actions(stage, clean, push) on selected group
For example only clean

[2016-08-25 17:57] bgashler1 commented on #9631
@alexandrudima thanks for the explanation.  I'm actually seeing something a little different on the Search viewlet, though:

![aug-25-2016 10-17-41](https://cloud.githubusercontent.com/assets/11839736/17978969/4b2d0230-6aad-11e6-9295-23b571295320.gif)

The Search viewlet is showing me the current-line for each result I click.  It seems part of what you and I want is already working in the Insiders

[2016-08-25 18:08] Tyriar commented on #10894
Currently all characters are sent as if they were typed, meaning that the lines are evaluated one at a time unless there is a block or line continuation. So I think this is working as expected? There was recently the inverse issue created where PS lines were being evaluated 1 line at a time and not as a block.

[2016-08-25 18:12] #4763 closed

[2016-08-25 18:17] Motassem-MK commented on #10964
well yes, changing the key combination for multi-selection would work too, maybe to Ctrl like some other editors..
but I also couldn't figure out how to do this, as I didn't find it in the huge JSON file of shortcuts.

[2016-08-25 18:27] #10721 closed

[2016-08-25 18:31] Tyriar commented on #10925
@jrieken what's the common/recommended way of communicating this sort of event via the API?

[2016-08-25 18:35] Tyriar commented on #8818
@whitecolor the work in this issue is essentially to add `terminalTextSelected`.

[2016-08-25 18:38] bgashler1 commented on #10744
Maybe we want to have small widget that appears like the Find/Replace widget that lets you toggle case sensitivity.

But wouldn't it make more sense to do this case sensitivity by default for case sensitive languages?  Visual Studio IDE is smart enough to know where you're refactoring and doesn't even bother asking you about case sensitivity.  It can also distinguish between a string or comment co

[2016-08-25 18:54] KevinMarquette opened #10970 "Windows: possible to have drag overlay stick around"
- VSCode
  Version 1.5.0-insider
  Commit 435df14a684df718c5ec523f9d674e63d1662c37
  Date 2016-08-22T08:10:56.602Z
  Shell 0.37.6
  Renderer 49.0.2623.75
  Node 5.10.0
- OS Version: Windows 7

Steps to Reproduce:
1. Open Code to a folder with lots of folders and files
2. Open 2 explorer windows and place them in front of Code leaving the tree view visible between them
3. Click and drag a folder be

[2016-08-25 18:56] tiansivive commented on #6534
@dbaeumer Yes, I configured the PATH in .bash_profile. By the way, I use zsh and launching from terminal works , which is what I ended up doing...

[2016-08-25 19:04] bgashler1 commented on #8672
@jrieken @bpasero the `mix-blend-mode: difference` in the high-contrast theme is to enable highlighting the text in white while inverting the text color.  Without it, it would look like this.
<img width="554" alt="screen shot 2016-08-25 at 12 02 04 pm" src="https://cloud.githubusercontent.com/assets/11839736/17982218/c4901596-6abb-11e6-8feb-db399a1c835e.png">

It hasn't caused any problems.  The a

[2016-08-25 19:17] egamma commented on #9500
@mrmlnc
I've checked in unit test for the EditorAccessor, please review them and add more as needed.

[2016-08-25 20:00] embc89 opened #10971 "Change the encoding file when i open."
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1.
2.

[2016-08-25 20:04] egucciar opened #10972 "Using search feature causes crashing frequently"
- VSCode Version: 1.4.0
- OS Version: Windows 7

Steps to Reproduce:
1.  Search for something using Find ALL or file selection with CTRL + P
2. Observe frequent crashes as of last update

[2016-08-25 20:09] Kran001 commented on #10920
At begin, i have not special terminal settings, this error have been. I
restart my PC, and reinstall code editor, but don't be better. I change
terminal settings to Git-Bash terminal, VS Code have not reacting.
I have special settings just snippets.

2016-08-25 16:42 GMT+03:00 Sandeep Somavarapu <notifications@github.com>:

[2016-08-25 20:09] jcogilvie commented on #8641
+1 for linux support.  I'd love to have the default behavior match that of other applications, or at least be customizable (e.g. browsers, eclipse).

[2016-08-25 20:32] Gama11 commented on #449
We need this feature for vshaxe (https://github.com/vshaxe/vshaxe) as well - the Haxe compiler reports errors with absolute paths if the error is in a haxelib somewhere outside of the current project, and relative otherwise.

[2016-08-25 20:42] Kran001 commented on #10920
Please, try to fix that. i very like this editor, and i want to use him
everyday, and when i was on linux i have been doing it. I can't to do this
now.

2016-08-25 23:09 GMT+03:00 Александр Кран <fedorandsanya@gmail.com>:

[2016-08-25 20:46] JonathanMEdwards commented on #10960
No, that is not the problem. That small example doesn't show the problem, which is that syntax highlighting turns off in various situations. I've attached the full file, where the problem starts at line 1479.
If you remove the nested new on line 1479, syntax coloring resumes until line 1499 where it fails again.

[design.ts.zip](https://github.com/Microsoft/vscode/files/438019/design.ts.zip)

[2016-08-25 20:50] xWulitou opened #10973 "output window encoding error."
- VSCode Version:1.4
- OS Version:windows 10

Steps to Reproduce:

1. use vscode tasks.json like below:
{
-----------------------------------------------------------
    // See https://go.microsoft.com/fwlink/?LinkId=733558
    // for the documentation about the tasks.json format
    "version": "0.1.0",
    "command": "cmd",
    "isShellCommand": true,
    "args": ["/c"],
    "tasks": [
        {

[2016-08-25 20:58] shanalikhan opened #10974 "How to know User selected extension via command or just by shortcut"
Hi,
My extension "code-settings-sync" has shortcut for command to upload / download the settings.
It deletes the extensions also, When user use shortcut for any command to download the settings rather than command palatte, I dont have any way to know because i want to set a confirmation when user use shortcut instead of command palatte.

This check or feature will be nice to have.

[2016-08-25 20:59] bdoss opened #10975 "TypeScript compile errors stop being reported when multiple Index files are open"
- VSCode Version: 1.4
- VSCode Insiders Version: 1.5
- TypeScript Versions: 1.8.10, 2.0
- OS Version: Windows 10

Steps to Reproduce:

Open multiple tabs named Index.ts(x). Compile errors and intellisense only appear to function properly in the first tab opened. Only appears to impact files named Index.ts/Index.tsx from what I am able to reproduce reliably.

Source: https://github.com/bdoss/tsserv

[2016-08-25 21:00] hashhar commented on #9213
I implemented this right now. I'll submit a PR.

[2016-08-25 21:10] delmyers opened #10976 "Selection in the debug console "leaks" into the code editor"
- VSCode Version: 1.4
- OS Version: OSX El Capitan 10.11.5

Steps to Reproduce:
1. Open a code file
2. Do something that will cause output into the debug console
3. Select some text in the debug console
4. Use Shift+Up to select multiple lines

Observe: the selection "leaks" into the code editor (see attached)

![screen shot 2016-08-25 at 2 04 26 pm](https://cloud.githubusercontent.com/assets/2423

[2016-08-25 21:22] mrmlnc commented on #9213
IMO, this functionality is a good candidate for expansion.

[2016-08-25 21:22] delmyers commented on #10976
Also, it seems that it is only possible to copy what is currently visible in the debug console.

[2016-08-25 21:25] hashhar commented on #9213
@mrmlnc I don't know if vscode provides APIs to do that. I implemented it in the core and have submitted a PR. But yes, if there are the required APIs it SHOULD be delegated to an extension.

[2016-08-25 21:29] mrmlnc commented on #9213
@hashhar,

Menu Items and Context Menu Entries: https://code.visualstudio.com/updates/June_2016#_extension-authoring
Open: https://github.com/sindresorhus/opn or https://github.com/pwnall/node-open or your code in `EditInExternalEditor` class.

[2016-08-25 21:30] hashhar commented on #9213
So, what should I do now? Do you know any similar extension? Maybe I can submit a pull to it instead.

[2016-08-25 21:36] hashhar commented on #9213
@SDXC It seems [this extension](https://marketplace.visualstudio.com/items?itemName=lfurzewaddock.vscode-opn) does what you requested?

[2016-08-25 21:51] weinand commented on #102
/cc @gregvanl

[2016-08-25 21:56] SDXC commented on #9213
@hashhar thanks for your efforts but this extension does not do what I need. It's somewhat more complex designed than it helps, I think. I need an extension or built-in functionality that lets me open any file in a configured editor (for example notepad++). Your suggested extension doesn't provide the possibility to open "any" file in an external editor (limited) and like every other extension tha