[2018-08-28 13:12] marcdahan opened #57412 "unable to generate a Visual Studio Code Extension using Yeoman"
my package.json :
[code]
when trying to generate an app, I get this errors .
[code]

thanks for the help

[2018-08-28 13:13] joaomoreno commented on #57334
Our distribution doesn't come with that `edit with code` action... you must've gotten that via some other way.

Does it work if you remove the shortcuts from the start menu and add them again?

[2018-08-28 13:16] sandy081 opened #57413 "Allow to have language without any surrounding pairs"
Testing #57317

- Have following language configuration
[code]
- Have following settings
[code]
- Open a new document with language having above configuration
- Type some text and select the text and type `{`
Expected: Text should not be auto surrounded as no surrounds pairs are configured
Observed: Text is auto surrounded by `{`

[2018-08-28 13:23] chrmarti opened #57414 "LSP: "verbose" "text" outputs JSON"
Issue Type: <b>Bug</b>

Testing #57310

`"text"` is misleading in this case.

VS Code version: Code - Insiders 1.27.0-insider (f881f8c4229863782a01eae80d70b4d6d540e39d, 2018-08-28T09:55:30.360Z)
OS version: Linux x64 4.15.0-32-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (2 x 2194)|
|GPU Status|2d_canvas: enabled<br>check

[2018-08-28 13:25] sandy081 opened #57415 "editor.autoWrapping setting should have value `languageDefined` instead of `always`"
Testing #57317

`editor.autoWrapping` setting has value `always`, this is ambiguous that the auto surround happens always for all characters?. Actually this happens only for configured surrounding pair characters. So, I think it makes sense to rename `always` value to `languageDefined`

[2018-08-28 13:27] jrieken commented on #57390
Good catch

[2018-08-28 13:28] actraiser opened #57416 "Editor crashes/freezes when Search string is too large"
No major issue but I just pasted a large json string (40000 Lines)  by accident into the Find-InputField (STRG-F). The editor would instantly freeze and I had to restart VS Code. Maybe you can introduce some sanity check to avoid this problem.

- VSCode Version: 1.26.1
- OS Version: OSX 10.13.6

Steps to Reproduce:

1. Press STRG-F
2. Paste a very large string into the Input field

Greets
-act

[2018-08-28 13:30] sandy081 opened #57417 "Auto wrapping quotes does not auto surround the text with quotes"
Testing #57317

- Have following surrounded pairs configuration
[code]
- Have following settings
[code]
- Open a new document with language having above configuration
- Type some text and select the text and type `"`
Expected: Text should be auto surrounded by `"`. But not.

[2018-08-28 13:30] #57304 closed

[2018-08-28 13:31] jrieken commented on #57316
This is pretty descent on Ubunutu 18.04 but it gave me a headache on Ubuntu 16.04 because Alt conflict with the ubuntu menu

[2018-08-28 13:33] sandy081 commented on #57346
@dbaeumer There is no `tasks.json` file in the workspace. Is it required if I have `prelaunchTasks`?

[2018-08-28 13:35] jrieken commented on #8962
verified via code review

[2018-08-28 13:35] bpasero opened #57418 "Should TextSearchPreviewOptions totalChars > leadingChars?"
Refs: https://github.com/Microsoft/vscode/issues/57305

It looks like a setting of e.g. `totalChars: 2` and `leadingChars: 10` causes `10` leading chars to show up. I would expect the `totalChars` to be more important than leading chars.

[2018-08-28 13:36] bpasero opened #57419 "What is the intent of maxLines?"
Refs: #57305

I tried changing the maxLines setting but could never see more than one line showing up. How to use it?

[2018-08-28 13:38] Cristy94 commented on #57341
I am using TypeScript.

[2018-08-28 13:39] dbaeumer commented on #57346
No, and the problem got fixed. I broke something this morning with tasks. Latest insider has a fix for it. I think we can close this issue.

[2018-08-28 13:39] sandy081 commented on #57290
@viradhamMS @pkuma-msft Please check if it is an issue with Market place

[2018-08-28 13:42] isidorn commented on #56042
Adding verified. However I still see:
"Keymap extensions" not "Keymaps". Should I create a follow up isse for this? @ramya-rao-a

[2018-08-28 13:42] smlombardi opened #57420 "HTML find replace deletes closing attribute quote"
Issue Type: <b>Bug</b>

I am replacing classes in a project.

I search for
`nc-icon-mini tech_print-round` which would appear in `<i class="nc-icon-mini tech_print-round"></i>`

replace with
`pbi-icon-mini pbi-printer`

It finds in 4 files, click replace all.  At least one of the replaced files now has an error, the closing quote has been deleted:
`<i class="pbi-icon-mini pbi-printer></i>`

This n

[2018-08-28 13:47] isidorn commented on #57346
Ok, closing. @sandy081 please reopen if you still see it with latest insiders. Thanks

[2018-08-28 13:48] bpasero commented on #50641
This is very broken now.

Scenario 1:
* open settings
* click "Workspace"
* search for "Window"
* click on "Window" settings in the tree
* click on "User"

=> workspace settings still showing

Scenario 2:
* open settings
* click on "Window" settings in tree
* search for "Window"
* click on "Window" settings in tree
* click on "Workspace"

=> all "User" settings show up even though I clicked "Works

[2018-08-28 13:49] jrieken opened #57421 "macOS native tabs: duplicate actions for tabs management showing up"
related to https://github.com/Microsoft/vscode/issues/25919

* enabled native window tabs
* restart vs code (with just a single window)
* the window menu shows most tab specific action twice (once with managed enablement state and once without)

<img width="438" alt="screen shot 2018-08-28 at 15 43 20" src="https://user-images.githubusercontent.com/1794099/44727279-f6339180-aad9-11e8-8b88-cfb411bc

[2018-08-28 13:51] isidorn commented on #55648
This works for me nicely if the #region and #endregion are indented all the way to the left. However if they are a bit indented it does not work. @aeschli is this expected?
Here's an example where it is not working (notice the indentation)

[code]

[2018-08-28 13:51] jrieken opened #57422 "GitLens viewlet icon shows during load"
* use git lens
* have the viewlet disabled
* open a new window
* 🐛 while the windows loads the viewlet icon shows

![aug-28-2018 15-44-36](https://user-images.githubusercontent.com/1794099/44727318-0a778e80-aada-11e8-80a1-fbc6fda2b96d.gif)

[2018-08-28 13:53] isidorn commented on #55803
I did not experience issue like this while testing settings today -> verified

[2018-08-28 13:53] pkuma-msft commented on #57290
Looking into it..

[2018-08-28 13:56] aeschli commented on #55648
Sound like a bug to me.

[2018-08-28 13:57] PaulHale commented on #55648
@isidorn it does work if the code within the #region #endregion is also indented. Kind of forces you to indent your code within regions which I personally like. Not sure if this is by design though.

[2018-08-28 13:58] dbaeumer commented on #57310
I couldn't get the streaming to work. I added the code and the following setting but in the extension I always got that no socket is open.
[code]

I would highly recommend to consider https://github.com/octref/vscode-lsp-inspector/issues/1 since a socket transport looks very complicated to set up.

[2018-08-28 13:58] Neurrone commented on #56359
@chrmarti as of the latest build after your commit, it works but there are some weird speech artifacts.

The box has 2 items:

1. Rust: cargo build
2. Rust: cargo check

Some speech output:

[code]

* it is reading the first item as not selected, even though it is highlighted.
* It does the same when pressing down arrow, but also echos the previously selected item.

I'm not sure if this is an issu

[2018-08-28 13:59] GandalfSaxe opened #57423 "Reload file?"
In many other editors, when I file changes from an external change, the file either auto reloads, or a pop-up window informs the user that the file has changed and ask if it should reload. However in VSCode nothing happens. I often find myself having to close the file and open it again.

Couldn't VSCode also ask if the user wants the file to be reloaded (making it non-dirty) or keep it as is (keep

[2018-08-28 14:01] #55999 closed

[2018-08-28 14:02] #57294 closed

[2018-08-28 14:06] 0xdeafcafe opened #57424 "Bug with formatting conditional renders in JSX"
VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:31:26.156Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz (8 x 2900)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseline: enabled<

[2018-08-28 14:06] dbaeumer commented on #57244
Closing as dup

[2018-08-28 14:06] #57244 closed

[2018-08-28 14:08] jrieken commented on #57272
Nope - clearing doesn't help still shows just files and only very few of those. This works with 1.26.1, so it must be a regression with 1.27.x

[2018-08-28 14:12] dwsong07 opened #57425 "setting.json error"
- VSCode Version: 1.26.1
- OS Version: Windows 10 Version 1803

Opening setting.json will prompt the problem window to "Property detected".

Does this issue occur when all extensions are disabled?: Yes

[2018-08-28 14:14] isidorn commented on #57363
This is as designed. If you would like to add that option also for files you can install some file operations extensions or write an extension yourself

[2018-08-28 14:14] #57363 closed

[2018-08-28 14:15] jrieken opened #57426 "search-rg extension ships test files"
The out folder contains a test folder a two tests. We shouldn't ship those with the product.

[2018-08-28 14:15] chrmarti commented on #57310
The referenced commit does not work for me. It first complained about the connection not being open and after working around that it now fails parsing JSON in the webview. Not sure what schema it would expect. https://github.com/octref/vscode-lsp-inspector/issues/1 sounds like a good idea.

[2018-08-28 14:22] jrieken opened #57427 "Overlay point to non existent viewlet"
* hide a few viewlets
* show overlay

<img width="429" alt="screen shot 2018-08-28 at 16 21 46" src="https://user-images.githubusercontent.com/1794099/44729161-81168b00-aade-11e8-8052-4a63978aa0f1.png">

[2018-08-28 14:26] #56822 closed

[2018-08-28 14:27] bpasero commented on #56806
There is still something weird going on:
* open 2 groups
* open 1 editor in each group
* click into the first editor
* click into the first group (it works)
* click into the second editor
* click into the first group

=> it jumps to the editor

I think the intent is right, never allow to select a group if an editor is within.

[2018-08-28 14:32] aeschli commented on #55648
The PR added only`// region` and `// endregion` as folding regions. For consistency we should also support `// #region` and `// #endregion`. That was the original request and what @isidorn tried.

[2018-08-28 14:35] jrieken commented on #57353
fixed via c3e2448766

[2018-08-28 14:35] isidorn commented on #56913
Did not see it today -> verified
Will reopen if I see it again

[2018-08-28 14:36] wbobeirne opened #57429 "ctrl+shift+a and ctrl+shift+e don't work in macOS"
- VSCode Version: 1.24.1
- OS Version: 10.13.2

Steps to Reproduce:

1. Open file in vscode macOS
2. Place yourself on any given line
3. Use the key command `ctrl+shift+[e|a]`, observe nothing happens
4. Go to any other text editor or text field on the operating system
5. Attempt the same command, observe that it highlights everything to the left / right of the cursor respectively

Does this issue

[2018-08-28 14:38] isidorn commented on #56252
This seems like the same stack trace as https://github.com/Microsoft/vscode/issues/57007
Not adding verified yet

[2018-08-28 14:39] #57353 closed

[2018-08-28 14:39] bpasero commented on #55733
@isidorn works nicely in the explorer but I wonder if other lists/trees should also support this. E.g. currently from a search result you cannot pin via middle click (whereas double-click consistently works across all places).

[2018-08-28 14:43] Kacppian commented on #54711
May I work on this If somebody already isn't?

[2018-08-28 14:44] isidorn commented on #55733
@bpasero yeah this could be something to go for all "Open File" trees. Where do we keep that code which is shared for opening?

[2018-08-28 14:45] isidorn commented on #55462
I still see this with latest vscode insiders:
1. vscode repo
2. "launch vscode" configuration (uses chrome)
3. Notice no loaded scripts view -> reopening

[2018-08-28 14:46] bpasero commented on #35225
Blocked by dynamic menus still not being enabled on macOS and Linux.

[2018-08-28 14:47] jrieken commented on #56143
Using Seti and the Todo+ extension I still get the default icon

<img width="586" alt="screen shot 2018-08-28 at 16 47 03" src="https://user-images.githubusercontent.com/1794099/44730754-f20b7200-aae1-11e8-9479-ad47fa3dfef7.png">

[2018-08-28 14:47] smlombardi opened #57430 "Find "Remembers" exclusion even when field is empty"
Issue Type: <b>Bug</b>

I was searching for a string in my html files, originally I created an exclusion of `ex.*` to exclude all my files beginning with that, as in `ex.foo.html`

Later, I wanted to search for the string in ALL my html files and couldn't figure out why I wasn't getting any results, even though I new for sure matches existed.

<img width="483" alt="screen shot 2018-08-28 at 10 40

[2018-08-28 14:47] bpasero commented on #54249
@the1812 are you sure you had native title style enabled and not custom?

[2018-08-28 14:49] isidorn commented on #55699
This is now not consistent with empty SCM which does not show focus even on the container.
Why don't you simply pass focus to the input box (similar as how debug console passes to the input)

[2018-08-28 14:51] HRK44 commented on #34492
Any updates on this? Some 'Sign-in via GitHub' or other OAuth authentifications to retrieve all our settings/extensions would be great.

[2018-08-28 14:51] bpasero commented on #57423
@GandalfSaxe we do have a file watcher in place that will just reload the file automatically, unless it is dirty. File > Revert will also take the latest contents from disk. Could it be a file watching issue on your end?

[2018-08-28 14:52] bpasero commented on #57272
@jrieken thing is, 1.26.1 and 1.27.x use different application bundle identifiers. The dock contents are (as far as I know) very much bound to the application ID. As an experiment you could try to change the ID (Info.plist) once and then back again to see if that causes some kind of cache to clear.

[2018-08-28 14:54] bpasero commented on #55733
@isidorn unfortunately there is no sharing of that code. We often talked about it (e.g. have some kind of `IListOpenListener` that would fire with the right set of instructions) but we never did it for mouse clicks at least.

[2018-08-28 14:55] isidorn commented on #55733
@bpasero should I create a debt item for that?
So we can start sharing since sharing is caring

[2018-08-28 14:56] bpasero commented on #55699
I like that 👍

[2018-08-28 14:57] joaomoreno commented on #57299
Can you show me the full output of `git status`?

[2018-08-28 14:58] isidorn commented on #57368
Now that I think about it I do agree that the refresh button is a little bit too prominent and if I redesigned the explorer I would put it as a top level context menu action.
However changin it now will piss off users who got used to it there.
Yeah we are the latter case and we have auto refresh. However let's leave this open and we might reconsider this in the future.
Another reason to keep it to

[2018-08-28 14:58] joaomoreno commented on #57299
Here's some reference for fixing this: https://stackoverflow.com/questions/3921409/how-to-know-if-there-is-a-git-rebase-in-progress

[2018-08-28 14:58] chrmarti commented on #57427
/findDuplicates

[2018-08-28 14:58] the1812 commented on #54249
@bpasero I'm sorry, it should be `custom` and I updated my description.

[2018-08-28 15:00] sandy081 commented on #57422
This is the compromise made for having nice display of activity bar icons without jumping. Since activity bar icons can come from extensions, waiting for extension host to show the icons will cause jumping of icons in the activity bar. Hence icons are stored and shown immediately after reload.

This is the edge case when an extension is disabled or uninstalled the icon appears and is removed as th

[2018-08-28 15:01] #54870 closed

[2018-08-28 15:04] chrmarti commented on #57427
/findDuplicates

[2018-08-28 15:04] sandy081 commented on #55699
I can do that. Reopening to consider @isidorn's suggestion

[2018-08-28 15:05] jrieken commented on #57422
No, this happens every time I open a new window.

[2018-08-28 15:05] isidorn commented on #52919
Verified it works as documented now

[2018-08-28 15:06] bpasero commented on #55733
@isidorn yeah sounds good, we should at least get the consistent behaviour for middle click

[2018-08-28 15:07] jrieken commented on #57422
cc @eamodio I run with `"gitlens.gitExplorer.enabled": false` and I wonder if git lens does something magic once being active and reading that setting?

[2018-08-28 15:08] isidorn commented on #55205
Some steps so I do not have to read the whole discussion?
What command with what arguments should do what now?

[2018-08-28 15:09] chrmarti commented on #57427
/duplicate #19491

[2018-08-28 15:10] #57427 closed

[2018-08-28 15:10] isidorn commented on #55644
I still see the behavior and the exact colors @mjbvz describied with the Dark+ theme -> reopening

[2018-08-28 15:10] sandy081 commented on #57422
@jrieken

So the extension is enabled all the time?

[2018-08-28 15:11] jrieken opened #57431 "JSON/HTML webpack files duplicate what we have in shared config"
There is a little bit of overlap between the shared config and the config for JSON and HTML.

[2018-08-28 15:14] jrieken commented on #57422
Yes. This is gitlens - I use it a lot but I have the explorer disabled

[2018-08-28 15:15] isidorn opened #57432 "Consolidate file opening across workbench trees and lists"
There should be a common component which handles opening files which would take care of:
* double click to pin
* double click to pass focus
* alt + click to open to the side
* middle click to pin

e.g. have some kind of IListOpenListener that would fire with the right set of instructions
fyi @bpasero

[2018-08-28 15:16] rajeshjeshar opened #57433 "Flutter Auto child: Suggestion was not performed automatically"
Issue Type: <b>Bug</b>

Before updating Vs code 1.26.1 everything was working fine,after updating,i faced the follwoing issue while using flutter projects,

When i type "Row" then vscode will automatically show the next steps eg:
Row(<Widget>children[])

but after updating it started to show some white overlay rectangle highlights then i have to backspace the inside element from Row() then i have

[2018-08-28 15:16] isidorn commented on #49403
I still see this with latest insiders following @roblourens steps -> reopening

[2018-08-28 15:19] sashablazhko commented on #3998
@bbugh same problem

[2018-08-28 15:21] schroding3rscat commented on #57299
I'm afraid I can't. I checked the git section in vscode and it seems that problem disappeared now. Today I did a rebase in SourceTree again and switched branches. I think this helped and `REBASE_HEAD` was removed.
But I added `git status` output to the bug description when I created it yesterday. I run this command when I had a problem.

[2018-08-28 15:21] roblourens commented on #57419
Multiline search isn't supported yet. When it is, this would let consumers request lines in the preview. It won't change the number of actual lines that the match can contain, just text lines in the preview.

For example, vscode will just display the first line in the search viewlet. But, an extension that shows results in an editor might want to show the first 5 lines of a match.

[2018-08-28 15:26] isidorn commented on #57380
Let's just remove the icon now and we can add them once we have categories (if that ever happens)

[2018-08-28 15:27] roblourens commented on #57321
I'm not sure, would a button to clear the input field be helpful? Or remove the @ filters but leave the rest of the query?

[2018-08-28 15:28] misolori commented on #57362
We did think about using right-click only but that isn't very discoverable and it's odd to right-click on a non-list item. Also, the icon is needed for the actions to be accessible (via keyboard) and help be discoverable.

To address the noise, we could look at lowering the opacity and then changing it back on hover.

[2018-08-28 15:29] roblourens opened #57434 "New dropdown control should not show enumDescription preview for files.encoding"
![image](https://user-images.githubusercontent.com/323878/44733410-658a9080-aa9c-11e8-8ded-6d5297340257.png)

[2018-08-28 15:30] allileong commented on #57298
A dirname context key would definitely be useful, but it still wouldn't solve the first example above where exampleFile.js is inside of the directory 'bar' that is inside of 'foo'. It would be nice to be able to know if my resource is inside of 'foo' even if it's several directory layers removed, but I'm not sure what the best way to achieve that would be.

[2018-08-28 15:31] jrieken commented on #57321
Both? A link for clearing @-filters and one for clearing the rest. Or know which on to remove by already testing them with changes in the background.

[2018-08-28 15:31] veremenko-y commented on #57412
I am having the same issue right now.

[2018-08-28 15:32] isidorn commented on #49403
OS X, latest insiders
Node 8.9.1

Program I am using
`console.log('test')`

I am not using node-debug (legacy). I am using node2.
Unfortunetly I can not repro anymore (only saw it once).
Since I can no longer repro it is fine to close this if you want to and I will reopen if I see it again

[2018-08-28 15:35] isidorn commented on #57362
You can always make those actions accessible via keyboard by having custom keybindings for them so I do not buy that argument.
Right click is not discovarble but I do not see that as a problem since these actions are not important.
I understand this is just my preference.

@bpasero what you think?

[2018-08-28 15:35] weinand commented on #49403
The auto attach code for lives in only in node-debug (legacy) and is shared with node-debug2.

How does you launch config look like?

[2018-08-28 15:36] isidorn commented on #49403
[code]

[2018-08-28 15:39] weinand commented on #49403
and you have a breakpoint on line 1 of hey.js?

[2018-08-28 15:41] isidorn commented on #49403
Yes I do

[2018-08-28 15:41] reidca commented on #56399
In the terminal

[2018-08-28 15:42] veremenko-y commented on #57412
@marcdahan try to upgrade to node 10, it is working there

`generator-code` should refuse to install on incompatible versions

[2018-08-28 15:43] isidorn commented on #49403
Tried around 10 times now, and still can not repro.

[2018-08-28 15:48] weinand commented on #57401
@isidorn the new sessions event are no longer arriving here:
https://github.com/Microsoft/vscode/blob/93e30cc319bb2184756819aefbd4f16a27e7a17c/src/vs/workbench/parts/debug/browser/loadedScriptsView.ts#L374

[2018-08-28 15:52] weinand commented on #49403
it is ok if you stop after 1000... ;-)

[2018-08-28 15:54] bpasero commented on #57432
Yeah 🌮

[2018-08-28 15:55] bpasero commented on #57419
Ah, so this travels potentially to an extension that provides search, but is currently not supported by our built in search?

[2018-08-28 15:55] bpasero commented on #55205
Ah yeah good point, but I think that is fine.

[2018-08-28 15:57] bpasero commented on #57362
My reaction was actually not so bad for the wrench because we use that concept of showing action-icons on hover pretty much everywhere where we hide them in the first place (list, tree, split view header). I thought this was a well enough established pattern that it works for settings too. I would stay away from doing some opacity tricks because that makes the behaviour inconsistent with other pla

[2018-08-28 16:01] weinand commented on #57007
@isidorn end session events are not arriving in  https://github.com/Microsoft/vscode/blob/93e30cc319bb2184756819aefbd4f16a27e7a17c/src/vs/workbench/parts/debug/browser/loadedScriptsView.ts#L388

As a consequence the tree for the session is not properly removed.

[2018-08-28 16:05] sandy081 commented on #57422
@jrieken Ah I see... I misunderstood that you are disabling the extension.

@eamodio I am already storing the visibility state. There are two parts to the visibility state. 1. When user toggles it and 2. Through enablement (from extension). I store these two separately as first is global and second is per window.

But looks like for the second one, I am writing into global but reading from window

[2018-08-28 16:07] roblourens commented on #57380
Is it possible to remove it? I think all suggest widget items need an icon

[2018-08-28 16:08] roblourens commented on #57419
Correct

[2018-08-28 16:08] roblourens commented on #57419
The builtin provider will probably support it in a month or two.

[2018-08-28 16:08] jjacode commented on #57318
![image](https://user-images.githubusercontent.com/15765196/44735477-dedcb000-aaa9-11e8-92dc-7c3cb5b5dd92.png)

[2018-08-28 16:10] roblourens commented on #57359
It's already Insiders only, I'll remove it from Insiders.

Where is the Report Issue button?

[2018-08-28 16:11] weinand commented on #57395
Great find!

[2018-08-28 16:12] roblourens commented on #57381
I only added two, the others have always been there, so I think we shouldn't remove them. People probably want an easy way to open settings in a particular scope.

[2018-08-28 16:12] #57381 closed

[2018-08-28 16:13] roblourens commented on #57372
Settings essentially isn't a list anymore, it used to be but that was very unpopular

[2018-08-28 16:15] Gruntfuggly opened #57436 "Search results ellipsis only applies to end of results"
The search results seem to use an algorithm to reduce the context of the result displayed in the tree, however sometimes I find that the width of the tree is still not enough to display the context and the result is truncated with an elipsis:

![image](https://user-images.githubusercontent.com/376658/44735151-87f3cc80-aae3-11e8-8a6a-9c5226277c40.png)

Note - sometimes the highlight is not even dis

[2018-08-28 16:15] weinand commented on #57395
fix: https://github.com/Microsoft/vscode/commit/eef783fb77fe68be5372c69f0a0fe7d67b174a12

[2018-08-28 16:15] #57395 closed

[2018-08-28 16:19] misolori opened #57437 "Breadcrumb menu is often too large"
I've noticed in several places that the breadcrumb menu grows to a really large size that's often unnecessary. The menu should grow depending on the context, like the quick pick. We should set min/max widths and let the menu grow responsively.

![image](https://user-images.githubusercontent.com/35271042/44735812-5870a000-aaa2-11e8-9c43-880e2d10e1ee.png)

![image](https://user-images.githubusercont

[2018-08-28 16:19] movedoa commented on #31537
Any news on this? This gets really annoying when working with third party libraries that use eval :/

[2018-08-28 16:25] selvakumarjawahar opened #57438 "python linter issue"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2018-08-28 16:25] #57278 closed

[2018-08-28 16:27] tuhinkarmakar commented on #53894
@mjbvz Yes, you are right. The problem I reported is unrelated to the original issue. Like you [said](https://github.com/Microsoft/vscode/issues/53894#issuecomment-406133367), TypeScript 3.0 did fix the original issue. But after I upgraded to version 3.0, I faced the issue mentioned above. I just wanted to leave a note here that upgrading to version 3.0 has its own problems.

**P.S.** Though I am

[2018-08-28 16:36] sandy081 commented on #55607
@jrieken OutlinePanel.focus is called from outside but you are setting focus on tree. Don't know if the tree is visible or not at that time.

![image](https://user-images.githubusercontent.com/10746682/44737096-52ee7680-aaf1-11e8-926e-dad7e72ec4de.png)

[2018-08-28 16:39] misolori opened #57440 "Code actions not working on CSS"
Testing #57296

**Repro steps**
1. Create new CSS file
2. Misspell a css property
3. Select an option from the code actions menu

**Result**
- Nothing happens

**Expected result**
- Code actions to apply

![image](https://user-images.githubusercontent.com/35271042/44736944-7f7ca100-aaa5-11e8-9381-20df47a4b4ca.png)

**Console Log**
[code]

[2018-08-28 16:41] sandy081 commented on #55699
@isidorn If I focus the filter input box then the status about Problems view (like No Problems) will not be read to the user. Filer input box will have its own status or information.

[2018-08-28 16:43] sandy081 commented on #53136
@misolori Please let me know when there are any changes to be done from my side.

[2018-08-28 16:50] misolori commented on #57362
Another idea is to do something like we do with code folding and fade in the icon when you're near the blue bar (with a slight delay)?

![gif](https://user-images.githubusercontent.com/35271042/44737765-bbb10100-aaa7-11e8-80a2-83d58c3b6082.gif)

[2018-08-28 16:55] misolori commented on #53136
@sandy081 will do, I think I'll need to play around with the offset of the outline color (and possibly opacity).

[2018-08-28 17:19] IlyaBiryukov commented on #57032
@isidorn today's insiders, 1.27.0, is good.

[2018-08-28 17:32] roblourens commented on #57371
https://github.com/Microsoft/vscode/issues/57359

[2018-08-28 17:32] #57371 closed

[2018-08-28 17:32] roblourens commented on #57347
Nice paging bug...

[2018-08-28 17:34] roblourens commented on #57344
https://github.com/Microsoft/vscode/issues/57347

[2018-08-28 17:34] #57344 closed

[2018-08-28 17:35] sbatten opened #57441 "Activity Bar seems to be trying to load icons for extensions that it shouldn't"
Even with extensions disabled, I am seeing the activity bar attempt to add the gitlens icon to the viewlet. It seems to be coming from the cached info in the user data dir. This is breaking layout for me. Here are some screenshots of dev tools:

![image](https://user-images.githubusercontent.com/6561887/44739910-f027bb80-aaad-11e8-96a5-30d8a3612174.png)

![image](https://user-images.githubusercont

[2018-08-28 17:37] roblourens commented on #57362
If it's not useful, I'll remove it but I'd miss it. In the editor we click the blue bar for actions related to the change itself but I don't think that's a good analogy for this. You can still use the context menu on settings that aren't modified.

[2018-08-28 17:37] #57320 closed

[2018-08-28 17:37] #57426 closed

[2018-08-28 17:37] #57324 closed

[2018-08-28 17:37] #57389 closed

[2018-08-28 17:38] roblourens commented on #57322
https://github.com/Microsoft/vscode/issues/57347

[2018-08-28 17:38] #57322 closed

[2018-08-28 17:39] roblourens commented on #57426
So do the other extensions I copied this from... will fix

[2018-08-28 17:42] roblourens commented on #57325
I think we will do that but not in the very first month.

[2018-08-28 17:42] #57325 closed

[2018-08-28 17:43] roblourens commented on #57326
Why not? Everything else works this way - keyboard shortcuts, old settings editor, even normal files

[2018-08-28 17:46] SkyzohKey commented on #10121
Please guys, do it! This is the most wanted feature ever :dancer:

[2018-08-28 17:47] chiholiu opened #57442 "how about adding a video chat, of chatbox so people could code live together"

[2018-08-28 17:48] roblourens commented on #57327
Where do you see the text cursor? It should be the default arrow on all settings. Maybe it should be pointer for bool instead.

[2018-08-28 17:53] christopherwolf1 commented on #55436
**UPDATE:**

For DDX and debug reference later, updated to the version below and the problem went away;

Version: 1.27.0-insider
Commit: 387c79f8de26cec749415bf400b6e2e99f2e8f14
Date: 2018-08-28T13:12:58.938Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-08-28 17:55] roblourens commented on #57330
0 means "the font size of the editor" but the value itself is 0. If we want to change that, the default could be `null` which would show in the UI as an empty input box. How would you display the real default?

![image](https://user-images.githubusercontent.com/323878/44741050-d9cf2f00-aab0-11e8-954c-448876d6f31b.png)

[2018-08-28 17:56] roblourens commented on #57332
I would say "Show matching extensions" but I think it needs to be clear that the results exclude extensions that you already have installed.

[2018-08-28 17:57] roblourens commented on #57333
Yeah, I don't have a good way to do this, except arbitrarily exclude the top 1% of the screen or something

[2018-08-28 17:59] roblourens commented on #57336
It also can appear when there are local results though. Should we hide "no settings found" when that button is visible?

[2018-08-28 18:01] roblourens opened #57443 "TOC can have empty children while searching"
![image](https://user-images.githubusercontent.com/323878/44741375-b5278700-aab1-11e8-8ac5-ca3c7db87db6.png)

- Search for an "uncategorized" setting in Workbench or Text Editor

[2018-08-28 18:02] roblourens commented on #57345
https://github.com/Microsoft/vscode/issues/57347 again I think

[2018-08-28 18:02] #57345 closed

[2018-08-28 18:03] roblourens commented on #57329
Please set `"trace": true`, run it again, and attach the log file

[2018-08-28 18:04] roblourens commented on #57366
#57320

[2018-08-28 18:04] #57366 closed

[2018-08-28 18:05] AngefloMusic commented on #56647
This is still an issue that I have, same steps to reproduce, the bug with vscode-spotify, I'm sure other's a scouring the internet to find what was causing the issue too.

[2018-08-28 18:06] cleidigh commented on #57382
@roblourens
I will pick this up since it's in the select code...

[2018-08-28 18:07] roblourens commented on #57443
https://github.com/Microsoft/vscode/issues/57350

[2018-08-28 18:07] #57443 closed

[2018-08-28 18:13] #57350 closed

[2018-08-28 18:13] spitchaiah opened #57444 "Code Assist/Auto complete feature is not working for ReactJs"
Issue Type: <b>Bug</b>

Hello,

In Visual Code editor, the code assist or Auto complete feature is not working  for ReactJS libraries.  However it works for my colleague running the same VS Code version & Mac OS.

Eg:

[code]

In the above example, when we type React.createElement, its not showing the method signature with the param names along with its type. Its the same with many of the React li

[2018-08-28 18:13] misolori opened #57445 "Formatting document on HTML does not work"
Testing #57296

**Repro steps**
1. Open a new HTML file
2. Write HTML
3. Run "Format Document" command

**Result**
- Error occurs in output panel

**Expected result**
- Document to be formatted

**Output log**
[code]

[2018-08-28 18:20] isidorn commented on #49403
😊

[2018-08-28 18:30] octref commented on #57411
In the Vim universe this is also called surrond https://github.com/tpope/vim-surround.

[2018-08-28 18:30] isidorn commented on #57382
@cleidigh it would be cool if we do it this week, so I will assign this to August. Hope that is all right.

[2018-08-28 18:32] isidorn commented on #55699
Than instead of doing some fancy aria-tricks I am fine with leaving the focus in the container - so the proper thing is read out.

[2018-08-28 18:33] roblourens commented on #57378
There is a keyboard shortcut, but we thought that it's not natural to have all of them as tab targets.

The keyboard shortcut needs to be read in the aria-label, which I haven't done yet...

[2018-08-28 18:34] isidorn commented on #57359
No clue how I got to see it, but I see it is used here in code
https://github.com/Microsoft/vscode/blob/654108d3619b0ca8d1c0501b4350d3b6c5f1c571/src/vs/workbench/parts/preferences/browser/preferencesRenderers.ts#L797
Can we just get rid of the `IssueWidgetRenderer`?

[2018-08-28 18:35] roblourens commented on #57361
I thought there was an accessibility reason for these, we have other redundant tooltips too. I can get rid of them though.

[2018-08-28 18:37] isidorn commented on #57361
@roblourens check if the screen reader announces anything differently if you remove the `title`. I think there will be no change.

[2018-08-28 18:37] roblourens commented on #57321
Is that really useful though? Search needs it because people collapse the query details then forget that it's searching somewhere else, or don't know how to get rid of the filter. Here, there is clearly a text box and the user just typed in it.

[2018-08-28 18:39] roblourens commented on #57436
Yeah it's not straightforward, and I'm worried about the ellipsis taking up valuable screen real estate in a narrow search viewlet, but it's worth considering.

[2018-08-28 18:44] roblourens commented on #49039
You're not parsing a string, you actually have the original arguments. The EH side intercepts `console.log` with the correct arguments and sends it as-is to the frontend:

https://github.com/Microsoft/vscode/blob/master/src/bootstrap.js#L118

[2018-08-28 18:44] RMacfarlane opened #57446 "Suggestions for other file types returned in css path completions"
Issue Type: <b>Bug</b>

Testing https://github.com/Microsoft/vscode/issues/57309

I expected the completions to only be `.css` files, but this didn't seem to be the case:

![css_import](https://user-images.githubusercontent.com/3672607/44743497-8a403180-aab7-11e8-97a5-5d6f3058b096.gif)

VS Code version: Code - Insiders 1.27.0-insider (387c79f8de26cec749415bf400b6e2e99f2e8f14, 2018-08-28T13:04:31.2

[2018-08-28 18:46] roblourens commented on #57361
https://github.com/Microsoft/vscode/commit/7158f4997a14e0e4dd9b4fe9621ff2fbbc829251

I can't remember why I thought it was necessary...

[2018-08-28 18:47] roblourens commented on #57359
Oh right, for bing settings search. It's insiders-only anyways but it's time for it to be done...

[2018-08-28 18:48] cleidigh opened #57447 "Settings/SelectBox: New option descriptions not calculated for contextview margins & overflow"
Ref: #57304

The SelectBox custom drop-down calculates and manages margins for both bottom and top.  It ensures
that there is always a margin above the status bar. It's

The new option extended descriptions added into the drop-down do not get included in the calculations
and therefore the drop down can overflow into the status bar.

@JacksonKearl - let me know if you want to take this or have me p

[2018-08-28 18:49] roblourens opened #57448 "New way to inspect remote settings search results"
Remove all of this commented-out code

https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/preferences/browser/preferencesRenderers.ts#L701

We need a new way to

- See all the remote settings search result details, in the editor itself
- Produce search result overrides

[2018-08-28 18:50] roblourens commented on #57382
Fixed in a different issue

[2018-08-28 18:50] #57382 closed

[2018-08-28 18:50] octref commented on #57415
Agreed. And to avoid confusion, in the docs it should refer to the specific fields in `language-configuration.json`.
- In the `languageDefined` for `editor.autoWrapping`, `surrondingPairs` should be mentioned
- In the `languageDefined` for `editor.autoClosingBrackets` and `editor.autoClosingQuotes`, `autoClosingPairs` should be mentioned.

[2018-08-28 18:51] roblourens commented on #57376
Bing now returns results for matching settings in all the extensions in the marketplace. We show these results for extensions that you don't already have installed.

[2018-08-28 18:51] cleidigh commented on #57382
@isidorn
@roblourens
HaHa - I was just looking at this and not seeing it !

[2018-08-28 18:53] RMacfarlane opened #57449 "SCSS partials are completed with underscore"
Issue Type: <b>Bug</b>

Testing https://github.com/Microsoft/vscode/issues/57309

I'm seeing the completion resolve to the filename with an underscore:
![scss_partial_completion](https://user-images.githubusercontent.com/3672607/44744017-e3f52b80-aab8-11e8-9012-3ce411648004.gif)

VS Code version: Code - Insiders 1.27.0-insider (387c79f8de26cec749415bf400b6e2e99f2e8f14, 2018-08-28T13:04:31.269Z)
OS

[2018-08-28 18:54] #57309 closed

[2018-08-28 18:54] cleidigh commented on #57378
@roblourens
Are you thinking of having "Press alt-F9 for settings options" or something similar?
that's gonna be a lot of extra stuff, no?

[2018-08-28 18:55] roblourens commented on #57378
Yeah exactly, I'm not sure how that will work, but if it's not a tab target I think it needs to be more discoverable to keyboard users.

[2018-08-28 19:00] octref commented on #57417
I have the same issue. I had the expectation that `quotes` and `brackets` would be two lists of symbols that get auto wrapping. What they really are are `quotes` and `brackets` in the `surrondingPairs` of a language configuration file.

[2018-08-28 19:01] cleidigh commented on #57378
but I think we agree there are already too many tab targets
I wonder if one time announcement when arriving on the settings page would do it
the last thing an accessibility user needs is repetition of a behavior indicator that doesn't change

[2018-08-28 19:02] bpasero commented on #57419
Maybe this should be documented so that it does not draw the wrong assumptions.

[2018-08-28 19:05] JamiLu commented on #56696
Yes it still opens the window the same.

[2018-08-28 19:08] bpasero commented on #55699
Could the input field read out some ARIA context to help here? E.g. how many things you can filter on? Maybe that is something useful to have anyway even when there are markers to filter?

[2018-08-28 19:10] garyking commented on #57311
Yep I'm aware of that option, but I'm making this suggestion because the `search.exclude` option is too aggressive for me (hides search results from files that I don't want to hide).

[2018-08-28 19:13] cleidigh commented on #57434
@roblourens
I think this is a the same thing I just posted  #57447 having to do with problematic margin calculations with the new added descriptions.  Sound correct?

[2018-08-28 19:15] bpasero commented on #57358
@jrieken you might want to enable this option in the settings of the VM:

![image](https://user-images.githubusercontent.com/900690/44745232-72909980-ab07-11e8-9c3b-cbd8eaa16108.png)

Keyboard: Optimize for games

[2018-08-28 19:16] bpasero commented on #57379
Quite sure @dbaeumer fixed this already.

[2018-08-28 19:19] bpasero commented on #57396
@roblourens one thing to keep in mind is that `files.exclude` is being matched on the workspace relative path while `files.watcherExclude` is matched on the full absolute path. So the patterns need to have `/**` at the end for the watcher excludes.

[2018-08-28 19:25] AArnott opened #57452 "terminal.integrated.shellArgs.windows user setting ignores quotes, and escape sequences"
Issue Type: <b>Bug</b>

As described in [this blog post](http://www.cazzulino.com/code-developer-command-prompt.html), add these settings to the User Settings json file (adjusting for your actual VS 2017 install dir as necessary):

[code]

As (somewhat) expected, this gets the VS Code Terminal running with the VsDevCmd.bat script started first. But this doesn't include quotes around the VsDevCmd.b

[2018-08-28 19:44] tylerb opened #57453 "Add Selection to Next Find Match selects an extra match"
Issue Type: <b>Bug</b>

When using "Add Selection to Next Find Match" (default cmd+d on mac) to select the word under the cursor, a second match of the same word is selected when the search panel is open.

Video demonstration: http://cloud.stillwater.me/07969533b382/Screen%20Recording%202018-08-28%20at%2001.41%20PM.mov

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-0

[2018-08-28 19:45] mundusnine opened #57454 "Integrated terminal shellArgs inconsistency with "bash -c -e --rcfile" commands"
- VSCode Version:1.26.1
- OS Version: Debian 9 stretch

Steps to Reproduce:

1.  Install `npm install -D typescript` in project directory
2. Add to workspace settings: `"terminal.integrated.shellArgs.linux": ["-e"," alias tsc=./node_modules/.bin/tsc "]`
3. Open terminal(terminal closes with error "No such directory" or if using -c the terminal just closes by itself. Adding "; bash" only negates al

[2018-08-28 20:01] #56543 closed

[2018-08-28 20:01] #56616 closed

[2018-08-28 20:01] #56621 closed

[2018-08-28 20:01] #56833 closed

[2018-08-28 20:01] #56718 closed

[2018-08-28 20:01] #56808 closed

[2018-08-28 20:01] #56738 closed

[2018-08-28 20:02] #56653 closed

[2018-08-28 20:02] #56751 closed

[2018-08-28 20:02] #56281 closed

[2018-08-28 20:02] #56321 closed

[2018-08-28 20:02] #56418 closed

[2018-08-28 20:02] #56396 closed

[2018-08-28 20:05] Thunraz commented on #56630
Is there any more information I could provide?

[2018-08-28 20:27] octref opened #57455 "AutoWrapping do not provide enough granularity"
Testing #57317

https://github.com/Microsoft/vscode/issues/36259#issue-265458405

The author specifically asked for disabling brackets but not parenthesis.
The new setting does not allow that.

Two common scenarios that I always run into:

In SCSS, let's say I have:

[code]

And I want to wrap `color: blue` in a `.bar` nested selector, so it becomes

[code]

Currently the editing process is very c

[2018-08-28 20:31] octref commented on #20488
Here is what Atom provides: https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/#language-injection

[2018-08-28 20:34] #57317 closed

[2018-08-28 20:41] #57306 closed

[2018-08-28 20:44] garyking opened #57456 ""Rename symbol" when instance property is assigned to itself does not work"
- VSCode Version: Version 1.26.1 (1.26.1)
- OS Version: Mac 10.13.5 (17F77)

Steps to Reproduce:

1. Use the following code:

[code]

2. With the cursor on the `a` in `a()`, run "Rename symbol", and rename it to something else. The symbol in `this.a = ` will not rename.

Does this issue occur when all extensions are disabled?: Yes

[2018-08-28 20:47] sbatten commented on #57418
I used `leadingChars: 4` and `totalChars: 5` and got 9 chars. I expected just 5. Should totalChars be totalMatchedChars?

[2018-08-28 20:48] roblourens commented on #57372
We can't use the arrow keys for navigation because they are used for the input controls. For example, 'down' will open the dropdown control. Is that basically what you're suggesting? You're describing how it worked last month, but we switched to only tab-based navigation, so it's like any other form.

I considered adding commands to focus the next/previous setting control so someone can add their

[2018-08-28 20:54] sbatten commented on #57418
I guess `totalChars` limits the match + trailing chars but doesn't trim the match, so a match longer than the `totalChars` still outputs the full match. Perhaps, there should just be explicit `leading`, `matched`, and `trailing` limits set.

[2018-08-28 20:55] #55948 closed

[2018-08-28 20:58] heycalaway commented on #46426
Has anything become of this? Tried to manually edit the file as well, but no results.

[2018-08-28 20:58] roblourens commented on #57418
I think I have it set up so the match itself will never be trimmed, but I guess that's not right, a match can be very long.

I did it this way instead of specifying the 3 different sizes, because I think these factors are what a consumer really cares about - in the viewlet we want the match to be close to the left, and we want some reasonable upper limit on the total size. But we don't care specif

[2018-08-28 21:02] roblourens commented on #57378
One existing precedent I thought of is in the extension viewlet, aria-label for every item includes "Press enter for extension details". It's annoying but I'm not sure what else to do.

[2018-08-28 21:05] #57316 closed

[2018-08-28 21:08] roblourens commented on #57304
Total carnage 😆 thanks for the testing everyone!

[2018-08-28 21:11] nealot commented on #50249
@roblourens What was the reason for removing the "new" settings?

[2018-08-28 21:15] sbatten commented on #31551
verified but did see the other known issue of reporting one extra character on matches

[2018-08-28 21:15] sbatten commented on #57305
verified other issue and left comments in opened issue

[2018-08-28 21:16] #57305 closed

[2018-08-28 21:25] thany commented on #57368
Pissing of other users is a real concern? Microsoft has some history with that, are they going to find themselves in a better situation now? :)

Anyway, how can removing a *totally* useless button piss off anyone? If there's auto-refresh, literally no one is going to need it, given that auto refresh actually works good.

The git viewlet, I haven't used it, but I don't see why a git plugin needs a

[2018-08-28 21:27] thany commented on #57363
Not really. The option to create a file or folder are already implemented. Not having them where it *does* make sense, is a bug to me.

Extensions must not become bugfixes!

[2018-08-28 21:28] jeanbenitez commented on #57299
Hi! I had the same issue, I solved removing .git/REBASE_HEAD:
`rm -rf .git/REBASE_HEAD`

[2018-08-28 21:29] roblourens commented on #57418
Then they know the length of the match and can derive totalChars from there :D

But still, if you have 3 components, then you are setting it up to limit the size of the match while still showing some trailing context which doesn't make sense. If we combine them, then I can say, give me a total of X characters, which will be as much of the match as you can, or the whole match and as much trailing c

[2018-08-28 21:34] garyking opened #57458 "Allow to sort symbols in workspace"
In "Go to symbol in file", we can sort the results with `@:`. But in "Go to symbol in workspace", we can't sort it with `#:`. Please make it possible to do so.

[2018-08-28 21:38] roblourens commented on #57261
No, it's still not expected for the search process to crash when reloading :)

Any more info would be helpful, most importantly, whether search still works after you notice that message

[2018-08-28 21:51] roblourens commented on #57249
It's not working well for me, I think just because of https://github.com/Microsoft/vscode/issues/57401. So I'll test tomorrow when that's fixed.

[2018-08-28 21:51] roblourens commented on #55462
Sorry, publishing it now.

[2018-08-28 21:53] sbatten commented on #57418
That's not true in the case of regex search

Why not? In the case of logs, it wouldn't be that crazy to be searching for a set of patterns with regex that all boil down to the same thing except when including the trailing content.

As with most things, I would see it easy to say this isn't the common case, but if this isn't the place to enable this kind of extensibility, then where is?

[2018-08-28 22:08] roblourens opened #57459 "Add default previewOptions for findTextInFiles?"
`findTextInFiles` should have some sane upper limit for previewOptions, to prevent extensions from accidentally blowing up and bringing over tons of text.

[2018-08-28 22:09] cleidigh commented on #57447
@roblourens
wait a minute he can't leave until he's done ;-)

But I'll take it

[2018-08-28 22:09] roblourens commented on #57418
That's a good point, I can see the use.

I think the point of these options isn't to slice the match every way an extension might want to display it, it's to protect us from accidentally sending around huge amounts of data between processes. An extension can get the full line if it wants, then slice it down to trim the match and show the trailing context. That doesn't help if the match itself is a

[2018-08-28 22:12] roblourens commented on #57418
I think previewOptions as-is could be extended with parameters for trailing characters (context within the line) and a max length of the match itself. They would still make sense along with `totalChars`, and we should keep `totalChars` because I need to be able to limit the whole preview without picking between the match and the trailing characters up front.

[2018-08-28 22:35] octref commented on #57407
@aeschli This are two minimal cases:

[code]

[code]

The grammar for `@import` hasn't changed, it's that the updated `vscode-textmate` that's throwing this error.

[2018-08-28 22:55] cleidigh commented on #57447
@roblourens
The drop-down height calculation adjustment got removed 👎
can I be assigned as reviewer for future drop-down stuff? I would've passed on calculation requirement had I known.

[2018-08-28 22:58] roblourens commented on #57447
Sorry, that's my fault. I'll make sure to loop you in on other dropdown changes.

[2018-08-28 23:06] #57387 closed

[2018-08-28 23:06] octref commented on #57387
Good catch. The `documentLinks` method is returning an empty range.

[2018-08-28 23:12] cleidigh commented on #57447
absolutely no sorry 's !  I was just surprised it broke.
I think there are auto assignments for issues and PR 's, can I get added that way?

[2018-08-28 23:16] coder3101 opened #57460 "$ref '/definitions/HProperties' in 'vscode://schemas/settings/user' can not be resolved."
- VSCode Version: 1.26.1
- OS Version: Ubuntu 18.04 LTS

Does this issue occur when all extensions are disabled?: Yes/No : N/A

All of a sudden I am getting this warning on all of my settings.json files.

[code]

This occurs even in latest insider build. Line 1 at **{** in the Settings.json

[2018-08-28 23:29] #57384 closed

[2018-08-28 23:32] roblourens commented on #57447
@chrmarti do we have enough issues with the `dropdown` label to train the bot on it?

[2018-08-28 23:35] cleidigh commented on #57447
I assume this '_sticky' was meant to be removed?
looks like it maintains the drop-down open onBlur where it normally closes

[code]

[2018-08-28 23:39] octref commented on #57388
It's beyond me why people would want this, but this is doable with parcel and webpack, and people do use import in this way: https://github.com/webpack-contrib/sass-loader/issues/101

![image](https://user-images.githubusercontent.com/4033249/44756744-bfad4500-aae0-11e8-8e28-ac3c1371836f.png)

[2018-08-28 23:39] #57388 closed

[2018-08-28 23:39] ramya-rao-a commented on #56042
@isidorn I've pushed the label update. Can you verify it in tomorrow's build and leave a note here?

[2018-08-28 23:41] octref commented on #57446
https://github.com/Microsoft/vscode/issues/57388#issuecomment-416775095

Welcome to the world of webpack/parcel :)

Yes, you can import JSON files, font files or any files (even gif/videos) in a CSS/JS file, as long as you setup a loader for it. I know this sounds crazy, but people do that.

[2018-08-28 23:41] #57446 closed

[2018-08-28 23:44] lyndonjohn commented on #57323
The last update resolved this issue.

[2018-08-28 23:44] #57323 closed

[2018-08-28 23:47] octref commented on #57449
This is as-designed, as sass compiles that to `@import url("./_partial.scss");` instead of doing file resolution. We only have the special handling when you do `@import` in SCSS without `url()`.

[2018-08-28 23:47] #57449 closed

[2018-08-28 23:53] octref commented on #57309
@bpasero @isidorn

Let's say you have two files:

[code]

`import.scss`
[code]

`_foo.scss`
[code]

When you run `sass import.scss`, it outputs:

[code]

SASS leaves your `@import url()` alone, so even if the filename is `_foo.scss`, it completes that verbatim.
In the other case, it shows `_foo.scss` but completes `foo`.

![import](https://user-images.githubusercontent.com/4033249/44757222-d3f2418

[2018-08-29 00:01] roblourens commented on #57447
I think we can leave it, it's useful for development. The suggest widget has the same thing, which is probably what inspired it.

[2018-08-29 00:04] auchenberg opened #57461 "Breadcrumbs: Folder slightly misaligned"
Refs: #57280

OS: MacOS (no zooming)

The first folder part of the breadcrumb is slightly misaligned to the rest of the breadcrumb

<img width="352" alt="index js pullrequest-demo 2018-08-28 17-03-57" src="https://user-images.githubusercontent.com/173559/44757504-5cbdad00-aae4-11e8-92fa-c1e8eef68527.png">

<img width="423" alt="index js pullrequest-demo 2018-08-28 17-01-19" src="https://user-image

[2018-08-29 00:06] #57280 closed

[2018-08-29 00:09] auchenberg opened #57462 "Breadcrumbs: Changing zoom level makes the dropdown move to wrong position"
Refs: #57280

OS: MacOS (no zooming)

Changing zoom level makes the dropdown move to wrong position.

![screenflow](https://user-images.githubusercontent.com/173559/44757668-0ef57480-aae5-11e8-8bb8-98b57c5edd86.gif)

[2018-08-29 00:18] linhtto commented on #21820
This shouldn't be hard to fix, so I hope it'll happen soon!

[2018-08-29 00:26] #55462 closed

[2018-08-29 00:27] roblourens commented on #55462
This is published with the flag to enable it but needs https://github.com/Microsoft/vscode/issues/57401 to be fixed.

[2018-08-29 00:38] roblourens commented on #57394
https://github.com/Microsoft/vscode/issues/57447

[2018-08-29 00:38] #57394 closed

[2018-08-29 00:39] llHoYall commented on #55620
`C:\Users\hoya128\hWorkspace\helloworld` is my project path on Windows.

[2018-08-29 00:46] cleidigh commented on #57447
Do you always want the extended descriptions at the bottom of the list, including when we flip the list above?

[2018-08-29 01:02] grandslammer commented on #37628
Any update on this? A dot in between the breakpoint indicator and the line number would be the best place to put it. Red for errors and yellow for warnings. I find it much faster to view issues this way rather than the problems panel.
I'm new to VS Code and have seen this feature in other editors.

[2018-08-29 01:03] G-Lon opened #57463 "VS code更新后无法使用"
系统提示安装更新后，更新完毕后重启显示黑频

[2018-08-29 01:07] #57348 closed

[2018-08-29 01:20] lannonbr opened #57464 "Zen Mode option to view only one editor"
I'd enjoy a zen mode where the only displayed view is whatever editor is focused, so if there is a split view or a grid view, the only one which would be visible in this "minimal" zen mode would be the focused editor.

[2018-08-29 01:25] roblourens commented on #49039
I don't know if I'll have time this week because I have quite a few settings editor issues left, but you could just take my PR for something which is good enough most of the time.

[2018-08-29 01:28] Aalmaho opened #57465 "Feature request"

[2018-08-29 01:30] rben01 opened #57466 "Show intellisense documentation and parameter hints in a pane"
When typing a word, the Intellisense window contains two sections: the autocomplete section, which has suggestions for the current word, and the documentation section, which contains the documentation for the current selection. Currently they are attached; the documentation selection appears immediately to the right of the Intellisense window and is roughly the same size. This is less than ideal f

[2018-08-29 01:34] chongchai commented on #56122
@joaomoreno I find v4.2.1 keytar has more prebuild-install dependency in yarn.lock compared with v4.0.5 keytar. I guess the tunnel-agent package in deps cause the weird proxy error.

VScode 1.25.1 yarn.lock is here
[code]

[2018-08-29 01:39] cleidigh commented on #57447
okay , unfortunately since the new expressions completely ignore calculations to change layout I have to figure out whatever compromise to determine flipping for the layout.  I will come up with a first pass and run it by you.

just as an aside, I'd like to mention it's a pleasure working on this stuff with you, VSC is pretty important to me and a great outlet, most importantly it's great to work

[2018-08-29 01:40] nicbet commented on #46426
As of VSCode 1.26.1 problem still exists.

[2018-08-29 01:46] netroby opened #57467 "[RFC] How about merge VSCode and Atom editor to one editor?"
I am using Atom editor and VSCode editor. I love you two editors.
I have a idea. Now Github as a Microsoft company. And VSCode also Microsoft company.
How about Merge two editor into one editor?

The Atom editor development team and VS Code editor development team can working together. Provided us very power editor on earth.
Atom and VSCode both base on Electron platform.
So i guess it may possibl

[2018-08-29 01:55] singcl commented on #57268
Thanks @johnpapa I have the same problem.

[2018-08-29 02:26] johnramsden commented on #56686
Isn't electron meant to be used in this way anyway? You have it on your system once, and everything that wants to use it shares it, rather than having it multiple times.

Clearly this isn't the way it's used in practice, as many projects bundle a copy of electron. It seems like allowing code to use the system electron would be a step in the right direction.

[2018-08-29 03:00] roblourens commented on #50641
Fixed with https://github.com/Microsoft/vscode/issues/57352

[2018-08-29 03:00] #50641 closed

[2018-08-29 03:00] #57352 closed

[2018-08-29 03:02] veaba opened #57468 "Vscode is unresponsive，will iunstall Dute Display"
Steps to Reproduce:
1.win10
2.latest

Launch vscode：
![22](https://user-images.githubusercontent.com/8652596/44762712-99d47e80-ab7a-11e8-8019-9fb1a1e7ba56.jpg)

Before that, I installed three software：Twitch 、lantern、duet。

[2018-08-29 03:02] roblourens commented on #57370
@sandy081 is there an easy way to find out whether a setting is modified in _some_ folder, or do I need to call `inspect` for every workspace folder to check? All workspace folders multiplied by all settings could be large, which is why I left this out...

[2018-08-29 03:04] #57361 closed

[2018-08-29 03:08] nicbet commented on #46426
See also #49210, #47288

[2018-08-29 03:08] LazarusX commented on #55862
![vscode debug](https://user-images.githubusercontent.com/716650/44762764-bffa1e80-ab7a-11e8-8ac0-7b4728d5cbdb.gif)

With the 2018-08-28 Insider, when server.js and client.js are both paused on breakpoint, and the focus is in server.js, if I press continue (F5), the focus is not auto switched to client.js.

[2018-08-29 03:09] LazarusX commented on #57253
In the latest Insider release, the behavior is different. I have posted my update in https://github.com/Microsoft/vscode/issues/55862#issuecomment-416809128.

[2018-08-29 03:17] veaba commented on #57468
Uninstall  and install.
delete /users/.vscode folder.
It will happen again

[2018-08-29 03:35] #57468 closed

[2018-08-29 03:39] chrisdias commented on #57292
should i open another issue for the fact that when opening the folder I get a bunch of errors that mostly go away when i click on each error in the Problems view?

![image](https://user-images.githubusercontent.com/1487073/44763930-3eff4080-ab02-11e8-9414-a9731954a483.png)

or, if i wait long enough, they simply disappear...

![image](https://user-images.githubusercontent.com/1487073/44763961-6060

[2018-08-29 03:41] roblourens commented on #57367
It's `string | null` which we can't handle yet: https://github.com/Microsoft/vscode/issues/56413

[2018-08-29 03:41] #57367 closed

[2018-08-29 03:42] roblourens commented on #57383
This should be fixed with the change to refresh the search when changing scopes.

[2018-08-29 03:42] #57383 closed

[2018-08-29 03:42] #57465 closed

[2018-08-29 04:00] pkuma-msft commented on #57290
@ericbiewener The issue should be fixed now.. let us know if you still run into trouble. Thank you for reporting this!

[2018-08-29 04:39] ericbiewener commented on #57290
All set, thanks!

[2018-08-29 04:39] #57290 closed

[2018-08-29 04:49] BobFrankston commented on #32467
**Solved**! It's a video server application and I had a subdirectory with junctions (links) to large libraries. Apparently, typescript searches in all the trees before it starts.

There isn't necessarily a fix as such but perhaps typescript could say what it's busy doing -- namely searching the file tree.

There is, however, a related bug in being unable to handle loops created in import (or worse

[2018-08-29 04:59] octref commented on #57310
@bpasero Thanks for the feedback. I should have provided more detailed instructions and a sample. Also I shouldn't test "changing your code to add WebSocket support" without writing documentation first.

However, one issue is this page (https://code.visualstudio.com/docs/extensions/example-language-server) is already a 5000 words essay. I really want to avoid adding anything too specific to it, bu

[2018-08-29 05:00] RMacfarlane commented on #57301
Please grab the latest version of the extension when testing today: https://github.com/Microsoft/vscode-pull-request-github/releases/tag/0.0.18

[2018-08-29 05:01] bpasero commented on #56696
@JamiLu how does it look like with our "VSCode Exploration" build that is using a newer Electron framework: https://az764295.vo.msecnd.net/exploration/94da7241d11facbcc6dcc551d9e63b6170b58525/code-exploration-1535484534.tar.gz

[2018-08-29 05:05] ItalyPaleAle opened #57469 "Support SCSS in HTML with <style type="text/scss">"
I'm using a framework that lets me write SCSS code in HTML files, by marking them in a block with `<style type="text/scss">`. While VS Code seems to be perfectly fine with SCSS, it doesn't seem to support it inside a HTML file. As such, I get errors from the CSS parsers when using SCSS features, IntelliSense isn't working, etc.

[2018-08-29 05:06] bpasero commented on #56630
At this time no, I fear I have no workaround currently other than not using that windows theme.

[2018-08-29 05:17] #3355 closed

[2018-08-29 05:18] roblourens commented on #50249
I will close this, since the new settings editor will be the default settings experience in 1.27 🎉

[2018-08-29 05:18] #50249 closed

[2018-08-29 05:25] roblourens opened #57470 "Settings editor doesn't show the correct target when persisted open"
- Open settings editor
- Select workspace settings
- Reload window
- User Settings is selected but workspace settings are shown

[2018-08-29 05:36] #57303 closed

[2018-08-29 05:47] thienedits commented on #54634
I am on Windows 10, vscode 1.26.1 and typescript 3.0.1 and the prompt never appears for me after moving a folder location.

[2018-08-29 05:56] selvakumarjawahar commented on #57438
clossing this issue , as this issue was due to wrong path setting in the code settings.json file

[2018-08-29 05:56] #57438 closed

[2018-08-29 06:28] zhangxuan1340 opened #57471 "Visual Studio Code Font"
Issue Type: <b>Feature Request</b>

系统整体字体界面非常糟糕，尤其超过1080后的分辨率

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.17134

[2018-08-29 06:29] malutanpetronel commented on #31308
+1 Found this very important ! See Netbeans to find more details on how it works

[2018-08-29 06:30] malutanpetronel commented on #38857
+1

[2018-08-29 06:35] gangsthub commented on #52722
Could this be related with network changes (i.e., switching from one wifi to another or disabling a proxy connection on the machine)?

[2018-08-29 06:41] fredrikaverpil commented on #17619
@sandy081 it was mentioned before, but when you'll bring this up internally, please also keep this one in mind as it's related: https://github.com/Microsoft/vscode/issues/2809

[2018-08-29 06:45] beastdestroyer commented on #57471
For a quick translation, they're saying that the font size of VSCode is very small and not good when on screen sizes larger than 1080p resolution

[2018-08-29 06:46] beastdestroyer commented on #57467
Microsoft has already said they will maintain Atom as it's own independent editor from VSCode, there are no plans to currently merge them too.

[2018-08-29 06:49] Shurna83 commented on #57329
By checking the output, file should be this one:
[debugadapter.txt](https://github.com/Microsoft/vscode/files/2331053/debugadapter.txt)

My output:
[code]

[2018-08-29 06:55] jrieken commented on #57437
Yeah, we see if we can grow the height. It is a little challenging because often we don't know the elements up front...

[2018-08-29 06:55] chrmarti commented on #57447
I included it in the last training, but it dropped out at the stage that checks the precision of the predictions for each label. I'll keep it in and eventually it will make the threshold.

[2018-08-29 06:55] wzj1695224 opened #57472 "Go to Defination lead to a wrong place"
Issue Type: <b>Bug</b>

I have a varible char* in local scope, when I try to find its Defination or Declaration, VSCode found all variables with the same name of the varible in all header files but not found what I wants in local scope.

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System

[2018-08-29 07:00] jrieken commented on #57326
Well, when I think about the Setting UI I really, really don't think about an editor or about editor behaviour. For me it's a single UI piece that happens to be implemented as editor and I don't see any advantage in it throwing new a context at me - I lose my scroll and filter state when this happen.

[2018-08-29 07:03] jrieken commented on #57327
Sorry, not text cursor but default and pointer cursor...

![aug-29-2018 09-03-24](https://user-images.githubusercontent.com/1794099/44771138-7275b580-ab6a-11e8-98b4-41660e7f4ff7.gif)

[2018-08-29 07:07] jrieken commented on #57330
Well, it should show 12 or whatever the editor font size is. The fact that we internally treat 0 as 'use editor font size' is an implementation that leaks into the UI. I think a user that didn't implement the suggest widget won't understand this

[2018-08-29 07:10] DanTup commented on #57261
Oh, gotcha. I thought because it was a SIGKILL that it might be being deliberately killed as part of the restart. I'll post back if I can figure out any more info next time I see it though.

[2018-08-29 07:10] ioma8 commented on #21820
I would help us all. We want to be happy users of Visual Studio code. How
should we help to make it solve?

st 29. 8. 2018 v 2:19 odesílatel linhtto <notifications@github.com> napsal:

[2018-08-29 07:11] albertosantini commented on #52722
No.

I have not any proxy and I have only one wifi.

I would close the issue, because I cannot reproduce it and, lately, I didn't notice it.

In the meantime I changed the box.
Maybe it was a race condition between random network latency and slow machine.

[2018-08-29 07:12] #52722 closed

[2018-08-29 07:17] bpasero commented on #57310
@octref this is very cool, I verified it works on macOS. One question: wouldn't it make sense that the LSP library is providing this functionality out of the box instead of asking each extension to create and setup a websocket connection? I wonder if you need an extra library for this or if you could not just use node.js directly (to prevent the extra dependency)?

[2018-08-29 07:17] #57310 closed

[2018-08-29 07:18] isidorn commented on #52467
@roblourens if I were you I would put this to the backlog. Since we now have the new settings experience

[2018-08-29 07:18] bpasero opened #57473 "LSP stream inspector: weird scroll behaviour"
Refs: https://github.com/Microsoft/vscode/issues/57310

Make sure that the LSP inspector page has a scroll bar and bring up the streaming example, you will notice that the page scrolls down automatically when the inspector output starts to scroll.

Might be a general webview issue (@mjbvz)

![grid-tw](https://user-images.githubusercontent.com/900690/44771865-8cb09300-ab6c-11e8-9d56-9fe56ff96237.gi

[2018-08-29 07:24] RumitTGS opened #57474 "show system date-time when toggle full screen"

[2018-08-29 07:25] bpasero commented on #56925
@octref I suggest to make it clearer that the rule is the thing in parentheses, e.g. this looks weird:

![image](https://user-images.githubusercontent.com/900690/44772199-7f47d880-ab6d-11e8-8a00-493b90e74fc6.png)

[2018-08-29 07:26] joaomoreno commented on #56399
Can you show me a screenshot of that terminal, when it asks for the credentials?

[2018-08-29 07:27] liximomo opened #57475 "createFileSystemWatcher dose not fire for simple path"
- VSCode Version: 1.26.1
- OS Version: Windows 10 Pro

Steps to Reproduce:
[code]
This will not fire any event. Change to this will.

[code]

FYI, both will fire on Mac OS X.

[2018-08-29 07:28] janbaltus opened #57476 "Hotkey issue for Russian and Bulgarian Language pack"
- VSCode Version:1.27.1
- OS Version:

Steps to Reproduce:

1. File menu with Hotkey for Bulgarian and Russian language contain visible && in translation and Hotkey is not working. All other languages do not have this issue. There is no issue in translation string list.

![obrazek](https://user-images.githubusercontent.com/18324209/44772297-c33add80-ab6d-11e8-9527-af3ad4c60e5e.png)

![obrazek](htt

[2018-08-29 07:29] shaishab opened #57477 "Not Expand/Collapsible multi line comments"
Currently unable to expand or collapse for multiline comments (for documentation). It would be better if we could that.

![image](https://user-images.githubusercontent.com/3139652/44772337-60f2d480-ab8f-11e8-86b2-0005180c77fd.png)

[2018-08-29 07:29] sandy081 commented on #57336
Not sure have to see how it looks with results

[2018-08-29 07:31] sandy081 commented on #57441
Fixed.

[2018-08-29 07:31] #57441 closed

[2018-08-29 07:31] bpasero commented on #55648
Verified. But the code in the region has to be indented for this to work.

[2018-08-29 07:33] #53892 closed

[2018-08-29 07:34] valery-lavrik opened #57478 "Меню на кириллице с лишними символами"
главное меню содержит лишние символы - http://prntscr.com/ko4da3

[2018-08-29 07:34] vilitormanen commented on #1012
I'm surprised there is no official comment about the issue. If this is intended and not going to be implemented, please say it in this issue.

[2018-08-29 07:34] sandy081 commented on #55699
I think input field should read about what it is about. In this case it reads the placeholder that tells you about filtering. It also reads the text when you type. Overloading this with general information is not a good idea.

[2018-08-29 07:35] bpasero commented on #48641
@roblourens for consistency I would also add a description to the other enum values:

![image](https://user-images.githubusercontent.com/900690/44772704-e023e080-ab6e-11e8-86a4-c51b8ac352e1.png)

[2018-08-29 07:37] bpasero commented on #47852
I verified the issue as described in https://github.com/Microsoft/vscode/issues/47852#issue-314263301

[2018-08-29 07:37] sandy081 commented on #57292
Not sure how it is related to this issue. Are there any reproducible steps and do you see any errors in the console? Looks to me a new Issue.

[2018-08-29 07:38] sandy081 commented on #57290
Thanks @pkuma-msft

[2018-08-29 07:44] sandy081 commented on #57370
There is no such API but at the end I might also do internally. So, I see it as util method. I do not see how can we make it efficient other than checking a setting is modified for each folder or not. But internally everything comes from cache so getting a setting per resource is not costly.

[2018-08-29 07:44] bpasero commented on #55699
@sandy081 could the empty case just be a tree with one element that reads this info? that would have the added value that - once problems are coming in - focus would already be in the tree and you can start to navigate.

[2018-08-29 07:49] mrmunch commented on #57334
@joaomoreno I did not install it with a start menu shortcut. But after adding it to the shortcuts, the icon on the second monitor shows up now, thanks!
But the second problem - "Edit with VS Code" - still occurs.

[2018-08-29 07:53] kaflan commented on #6614
In mac i problem too

[2018-08-29 07:53] sciobotaru commented on #56260
Solved the issue by removing VS Code and keeping VS Code (User):
![vs1](https://user-images.githubusercontent.com/19649056/44773660-ccca4280-ab79-11e8-8e33-ea9278c256f6.png)

[2018-08-29 07:58] dbaeumer commented on #57476
This seems to happen with the custom menu bar.

Assignig to @sbatten

@bpasero FYI. Not sure if this is something that might be Electron related.

[2018-08-29 08:03] dbaeumer commented on #57478
Dups https://github.com/Microsoft/vscode/issues/57476

[2018-08-29 08:03] #57478 closed

[2018-08-29 08:03] miberg81 opened #57479 ""wating for debugger to disconnect"
Issue Type: <b>Bug</b>

Randomely accurs.  Can't really understand why the issue is comimg. Sometimes adding new debugger will solve it and sometimes it doesnt.

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3 CPU

[2018-08-29 08:10] dbaeumer commented on #32467
Great to hear that you were able to track it down. I agree on the progress suggestion.

[2018-08-29 08:15] dbaeumer commented on #55620
The trace in https://github.com/Microsoft/vscode/issues/55620#issuecomment-415720793 shows that VS Code starts the task correctly, however for some reason npm can't find the `package.json`. Are there any special characters in the path `C:\Users\hoya128\hWorkspace\helloworld`. It looks like the working directory is incorrect.

[2018-08-29 08:16] muhammadsaud-10p opened #57480 "git support: there is no active source control providers"
**_This issue does not occur if you clone repo using vs code command palette._**

- VSCode Version: 1.26
- OS Version: ubuntu 16.4

Steps to Reproduce:

1.  clone git repo using terminal
2.  open folder in vs code
3.  Press ctrl+shift+G, _it says there is no active source control providers_

setting "git.path" in user setting does not fix issue

Does this issue occur when all extensions are disabl

[2018-08-29 08:17] dbaeumer commented on #55620
Can you provide me with the npm log file?

[2018-08-29 08:17] joaomoreno commented on #56648
The event which needed to stop propagation was `dblclick`.

[2018-08-29 08:17] dbaeumer commented on #57379
Yes, fixed it yesterday.

[2018-08-29 08:17] #57379 closed

[2018-08-29 08:18] #56648 closed

[2018-08-29 08:32] muuvmuuv opened #57481 "Extensions startup loading order"
There has been an issue here without a potential solution: #13292

I don't want to give extensions the power to set their priority of loading in my VSCode I rather want myself setting a priority to some extensions I want to have loaded before the others.

For example, I have an extension that shows me saved projects ([Project Manager](https://github.com/alefragnani/vscode-project-manager)) and I w

[2018-08-29 08:33] joaomoreno commented on #57480
If you open the terminal in VS Code and type `git status`, what's the result?

[2018-08-29 08:34] isidorn commented on #49039
@roblourens sounds like a plan, thanks a lot. Have fun with settings :)

[2018-08-29 08:34] joaomoreno commented on #57334
Good to know.

`Edit with VS Code` isn't something VS Code contributes. Another software must've set that up for you.

[2018-08-29 08:34] #57334 closed

[2018-08-29 08:35] vSanjo commented on #46983
Has there been progress on @jstarks or @Alber70g's idea? I can't seem to find an option for it anywhere. Sometimes a replace-all is much quicker than manual processing them, but I still expect errors in a few files. It'd be nice them not saving and ruining the workflow, just merely letting me work through the files that are broken within the editor.

[2018-08-29 08:41] bpasero commented on #57476
Maybe related to https://github.com/Microsoft/vscode/commit/2c9408fecfc0507e78e1ac008e220d433cfef295 ?

[2018-08-29 08:48] #52017 closed

[2018-08-29 08:50] sguillia opened #57482 "New settings editor - hidden selection color"
Issue Type: <b>Bug</b>

The _Search settings_ field inside the new settings editor has no text selection color, or it is the same as the fields background.

When text is selected, one cannot see it.

Also, when pasting something in the middle of the text, the cursor goes all to the right.

Here is a screen recording of the problem
![project-settings-editor](https://user-images.githubusercontent.co

[2018-08-29 08:52] bpasero opened #57483 "Force open files as file on startup (skip canHandleResource())"
- install the remotehub extension
- launch `code-insiders --file-uri remotehub://github.com/Microsoft/vscode/package.json`

You get a message: `Unable to open 'package.json': resource is not available.`

[2018-08-29 08:57] isidorn commented on #55648
@bpasero read my comment from above, this should also work if the code is not indented as well. Reopening so @aeschli can decide if this is intended

[2018-08-29 08:58] marcdahan commented on #57412
@veremenko-y thx a lot. Nowadays the 8.11.4 is "recomended for most users".

[2018-08-29 08:59] isidorn commented on #57376
I would rename this button to
"Show not installed extensions" or "Show extensions from marketplace"

With the current title the issue is that I am not sure what "other" is refering to.

[2018-08-29 09:00] isidorn commented on #57372
Thanks for the explanation. Ok let's go with tab and wait for user feedback

[2018-08-29 09:00] #57372 closed

[2018-08-29 09:02] #52619 closed

[2018-08-29 09:02] isidorn commented on #55862
@LazarusX got it, it is bascially the same issue as #57253 so let's continue the discussion there.

[2018-08-29 09:03] isidorn commented on #56042
@ramya-rao-a the label is good now, thanks

[2018-08-29 09:04] HymanZHAN commented on #57017
Follow-up:
- I tried VSCode 1.26.1 on Ubuntu and there was no problem. All extensions were the same as the one on Windows.
- I followed @pranaykothari 's workaround on Windows and it did work.

[2018-08-29 09:05] djmisterjon commented on #57243
Edit Fixed, it was the FXAA

[2018-08-29 09:09] #57233 closed

[2018-08-29 09:14] jrieken opened #57484 "documentChanges isn't a good name for file management"
re #57276

The `documentChanges` property is slight misleading. It put things in the context of documents but it's (also) about file changes, like renaming a folder.

[2018-08-29 09:17] #56518 closed

[2018-08-29 09:17] dbaeumer commented on #57484
Agree, but we had that one and adding another one makes it problematic to have a fixed order. Otherwise we would have needed to break and I though it is not worth it.

Objections to close?

@aeschli any ideas / comments

[2018-08-29 09:17] jrieken opened #57485 "Remove WorkspaceEdit#changes"
re #57276

There is now `changes` and `documentChanges` - the doc says the latter overrules the former. That makes me wonder why `changes` still exists? For instance, when I create a file (via `CreateFile`) I must also use `TextDocumentEdit` for textual changes etc.

[2018-08-29 09:18] #57276 closed

[2018-08-29 09:19] jrieken commented on #57484
Yeah, see https://github.com/Microsoft/vscode/issues/57485 - I would remove `changes` all together

[2018-08-29 09:20] dbaeumer commented on #57485
`changes` still exists for backwards compatibility. We would need to break to remove it. The current client / protocol still supports servers which send `changes` and not `documentChanges`.

We can remove it in a `4.0` version of the protocol.

[2018-08-29 09:22] IsaacSomething opened #57486 "Remove choices tabstop if tabstop before was removed and was parent of tabstop"
[code]

![snippet-error](https://user-images.githubusercontent.com/25283027/44778881-57ad3c00-ab7e-11e8-991e-97c404c56171.gif)

In the example above i have 3 tabstops for my snippet. The first tabstop wraps the 2nd tabstop and if the user chooses to not use the item on tabstop 1 -ie they backspace the whole thing and then tab into the next tabstop, that next tabstop is tabstop 2 which is the list

[2018-08-29 09:26] dbaeumer commented on #57471
You can control the font size of the editor with the following setting: `"editor.fontSize"`

[2018-08-29 09:27] #57401 closed

[2018-08-29 09:28] isidorn commented on #57401
The issue here was that the loaded scripts view gets created only after a session is already alive so he was missing listeners on session which is already present.

[2018-08-29 09:28] sandy081 commented on #52596
@isidorn This is nothing to do with split view. Each view has to hide its widget (tree or list) when it is not shown. Tree panel is doing correctly and the OpenEditorsView is not hiding the list. Fixed it.

[2018-08-29 09:28] dbaeumer commented on #57466
@alexandrudima @jrieken FYI.

[2018-08-29 09:28] hjh302 opened #57487 "内存占用过高"
Issue Type: <b>Bug</b>

win10 vscode内存占用过高比浏览器占用的内存还要高

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7300HQ CPU @ 2.50GHz (4 x 2496)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabl

[2018-08-29 09:29] #52596 closed

[2018-08-29 09:29] isidorn commented on #57479
Can you please file this issue with exact reproducable steps.
Can you reproduce with vscode insiders https://code.visualstudio.com/insiders/

[2018-08-29 09:30] dbaeumer commented on #57487
@hjh302 can you please provide the description in English.

[2018-08-29 09:30] isidorn commented on #57007
I see something differnetly, the end sessions are arriving however when the last session end arrives view starts refreshing the tree and while that is in progress the view gets disposed which throws an exception. Looking into a fix...

[2018-08-29 09:31] dbaeumer commented on #57460
@aeschli @roblourens not sure who owns this.

[2018-08-29 09:31] dbaeumer commented on #57458
@bpasero please reassign if this is not you.

[2018-08-29 09:31] isidorn commented on #52596
@sandy081 thanks for fixing this.

[2018-08-29 09:32] xuhongv commented on #56060
@z1125 请问您解决了么  我这边也是跳转不了

[2018-08-29 09:33] weinand commented on #57401
Careful: if the order of events has changed that drastically after your refactoring, we are potentially breaking extensions that use the newSessionEvent. I don't like this fix.

[2018-08-29 09:33] sandy081 commented on #55699
@bpasero This is the case now except that empty case is with an element other than tree. When the problems come in first problem will be selected.

[2018-08-29 09:34] isidorn commented on #57401
The order of events has not changed. The only thing that changed is internaly how people register to the loadedScriptsEvent, since it is now on the session, not on the service.
So the extensions will not be affected by this.

[2018-08-29 09:35] dbaeumer commented on #57433
@rajeshjeshar can you please provide a screen cast that demos this.

@bpasero could be an Electron issue since it appeared with VS Code 1.26.1 and it sounds like a rendering issue.

[2018-08-29 09:37] derN3rd opened #57488 "Linux ssh-agent/ssh-askpass problem"
As already reported in #33814, #32097, #52137 the bug isn't fixed for me and the workarounds don't work either

[code]

Steps to Reproduce:

1. Open a Git repo folder
2. Call a Git action like sync, push etc

Does this issue occur when all extensions are disabled?: Yes

I'm using ssh-agent to keep all my keys opened and enter the passwords after I boot (`ssh-add ~/.ssh/id_rsa`). I can use git from

[2018-08-29 09:38] dbaeumer commented on #57425
I can't reproduce this. Can you provide a screen shots that shows this?

[2018-08-29 09:39] dbaeumer commented on #57484
Agree, but that is breaking from a spec perspective. We can only do this in 4.0.

[2018-08-29 09:39] sandy081 commented on #55743
@aeschli What are the steps to verify this?

[2018-08-29 09:40] jrieken commented on #57356
I have pushed a change that make patterns that don't start with `**/` absolute, e.g. `node_modules` becomes `/User/foo/hacking/project1/node_modules`

[2018-08-29 09:41] #57356 closed

[2018-08-29 09:42] jrieken commented on #57485
Yeah, break it if you can. Or overload it - when it's an object i'ts the old thing when it's an array it's the new thing.

[2018-08-29 09:42] jrieken commented on #57461
/duplicate of #57349

[2018-08-29 09:42] #57461 closed

[2018-08-29 09:43] jrieken commented on #57462
Yeah - we should close the panel when zooming happens

[2018-08-29 09:45] jrieken commented on #57486
/duplicate of #31619

[2018-08-29 09:45] #57486 closed

[2018-08-29 09:45] bpasero commented on #56988
@mjbvz fyi see my change in https://github.com/Microsoft/vscode/commit/34a635e92d76ba58b2d0519c3fdc4fab8e7e1214 to bubble out keyboard events from `<webview>` to our keybinding service.

[2018-08-29 09:46] aeschli opened #57489 "labels for remote resources look like local labels"
- install the remotehub extension
- launch `code-insiders --folder-uri remotehub://github.com/Microsoft/vscode`
- open an editor on a file in that folder

- explorer title no longer indicated that the folder is from a remote URL
- hover on files only show `/Microsoft/vscode/src/cli.js`
- recent menu entry looks like a local path
![image](https://user-images.githubusercontent.com/6461412/44779997-2

[2018-08-29 09:48] rajeshjeshar commented on #57433
@dbaeumer  see this [video ](https://drive.google.com/open?id=1SSeHZ-E59OVaGyH0t0oLTdmAHgUSR0Q9)

[2018-08-29 09:49] nealot opened #57490 "Disable breadcrumbs keybinding in preview editors"
Steps to reproduce:

1. Open markdown preview
2. Press `ctrl+shift+.`
3. Examine odd breadcrumbs behavior

The associated keybindings should be disabled for preview editors. Otherwise, the menu will open in the top left corner and you can't ESC to escape.

[2018-08-29 09:52] bpasero commented on #57471
@zhangxuan1340 where? menus?

[2018-08-29 09:53] isidorn commented on #57007
I have created a PR which address this issue https://github.com/Microsoft/vscode/pull/57491

[2018-08-29 09:55] bpasero commented on #57433
@rajeshjeshar does it reproduce from this VSCode build that is a bit more up to date: https://az764295.vo.msecnd.net/exploration/94da7241d11facbcc6dcc551d9e63b6170b58525/VSCode-win32-x64-1.27.0-exploration.zip

[2018-08-29 09:56] sandy081 commented on #57346
@isidorn I still see this issue

[2018-08-29 09:56] JohnnyWestlake commented on #57286
It's annoying this keeps getting closed but no one is doing anything about it... seems to get a new issue opened about it nearly every single day.

[2018-08-29 09:56] #57226 closed

[2018-08-29 09:57] isidorn commented on #57346
@sandy081 I am not sure how old of an extension you have. Would you be so kind to create a repository on github with it, so I try to repro with exactly that extension (or mail it to me)

[2018-08-29 09:59] beastdestroyer commented on #57471
@bpasero Yh he was talking about user interface font, not editor font, forgot to mention that

[2018-08-29 10:01] beastdestroyer commented on #57487
@dbaeumer They are saying that memory (RAM) usage is too high

[2018-08-29 10:05] jimmybrawn commented on #38857
+1

[2018-08-29 10:12] rajeshjeshar commented on #57433
@bpasero i faced this on 1.26.1,and i can't test with 1.27 as of now,
so when i test this above build i will update here!! thnks

[2018-08-29 10:13] chrmarti commented on #57295
Going with "just a bug" and keeping the feature request for later.

[2018-08-29 10:14] #57295 closed

[2018-08-29 10:14] Hussien77 commented on #57460
The same problem I have. Wish Vscode's team releases urgent upating to solve this bug :)

[2018-08-29 10:14] #57462 closed

[2018-08-29 10:14] #57007 closed

[2018-08-29 10:15] miberg81 commented on #57479
No! I cant. It simply happens again and again

On Wed, Aug 29, 2018 at 12:31 PM Isidor Nikolic <notifications@github.com>
wrote:

[2018-08-29 10:16] jrieken commented on #57349
@bpasero I have pushed some height tweak that appear to make sense but my problem is that I am not able to reproduce this. Can you check from master?

[2018-08-29 10:17] xyzdata commented on #57124
# OK

[code]

![](https://images2018.cnblogs.com/blog/740516/201808/740516-20180829181615119-1832507101.png)

[2018-08-29 10:30] isidorn commented on #57403
@joaomoreno very good catch, thanks a lot for this

[2018-08-29 10:30] #57403 closed

[2018-08-29 10:31] sandy081 commented on #57346
@isidorn I can reproduce also with new hello world extension that is generated with yo code.

- Delete tasks.json file
- Kill all open terminals in Terminal view
- Start debugging and then it stuck eventually

Let me know if you are able to reproduce it

[2018-08-29 10:31] isidorn commented on #57479
If you can not reproduce with insiders than it should be fixed in new stable soon.

[2018-08-29 10:31] #57479 closed

[2018-08-29 10:34] bpasero commented on #57349
@jrieken yeah looks better:

![image](https://user-images.githubusercontent.com/900690/44782558-e07ca580-ab87-11e8-9f21-420a63ef10d2.png)

Now it seems though that the icon (TS) is a bit too high.

[2018-08-29 10:37] #55607 closed

[2018-08-29 10:39] hjh302 commented on #57487
The vscode memory footprint of win10 is up to 700M
发送自 Windows 10 版邮件应用

发件人: Progracientist
发送时间: 2018年8月29日 18:02
收件人: Microsoft/vscode
抄送: hjh302; Mention
主题: Re: [Microsoft/vscode] 内存占用过高 (#57487)

@dbaeumer They are saying that memory (RAM) usage is too high
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-29 10:39] alexandrudima commented on #57405
This is correct, but I find it hard to believe this is a real-life use-case. i.e. folks wanting to limit the auto-closing of brackets/quotes to not happen at the end of a line...

[2018-08-29 10:39] alexandrudima commented on #57406
There is a built-in heuristic where quotes will not auto-close **after a word**. This heuristic cannot be configured currently.

The heuristic helps when writing prose like the following in a comment:
[code]

[2018-08-29 10:41] alexandrudima commented on #57420
I think this is about find in files, not find within a file.

[2018-08-29 10:42] alexandrudima commented on #57416
I think this happens with any of our `<input>` fields, e.g.

quick open, find input, replace input, search in files input etc.

[2018-08-29 10:45] alexandrudima commented on #57417
The `surroundingPairs` are still defined by a language configuration. In this case, the language configures `{}`, `[]`, `()` and ` `` ` as surrounding pairs. That means that someone looked at the syntax of the language and in this language, ` "" ` and ` '' ` are not used.

The user facing setting will use the set provided by the language configuration. i.e. if in this language, ` "" ` and ` '' ` a

[2018-08-29 10:46] isidorn commented on #57346
@sandy081 thanks a lot for these great steps. The issue is deleting `tasks.json` - now the task service does not know this is a background task.
However we have a fallback for this situation, so the actuall issue is that the fallback is not triggered.

@dbaeumer please note that I say that a task is started if I get an active event [here](https://github.com/Microsoft/vscode/blob/828d2179178549c744

[2018-08-29 10:51] jrieken commented on #57349
Closing as the icon is too hight in all places.

[2018-08-29 10:51] #57349 closed

[2018-08-29 10:52] alexandrudima commented on #57455
@octref

I typically use move lines in such cases. I also press `shift+alt+f` for formatting and there is still an extra newline in there in this case which I delete:

![kapture 2018-08-29 at 12 48 40](https://user-images.githubusercontent.com/5047891/44783199-e4112c00-ab89-11e8-96d9-6a495974d8c5.gif)

The question is: do you find auto-closing a useful feature or not. I don't see how adding more a

[2018-08-29 11:13] top-master opened #57492 "skip available update"
Every Few Minutes we get a new VSCode update available message and it would be nice to have a **skip version** or **Do not show until next update** option available in drop down menu of **Latter** button of the popup message (but it currently does not have any drop-down menu).

although it is very good to have VS Code by it's self up to date but inside of a large project we never do any update exc

[2018-08-29 11:25] Koljasha opened #57493 "1.26.1 work very slow"
Issue Type: <b>Bug</b>

Dear,
new version 1.26.1 work very slow (Windows, clean install)
1.25.1 was perfectly

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2400 CPU @ 3.10GHz (4 x 3093)|
|GPU Status|2d_canvas: enable

[2018-08-29 11:25] tkiss80 commented on #56856
Hi,

I'd just like to mention that the text in the Release Notes and also in the installer mislead me to think that the installer would take care of the uninstallation of the "global" version. Maybe it would be beneficial to rephrase it/them so that it's clear that uninstallation is a manual step.

[2018-08-29 11:26] BindiyaGowri opened #57494 "Retrieve Package option is not visible from ForceCode Menu in Visual Studio Code"
"Retrieve Package\Metadata" and its sub-options (Retrieve package by package.xml and Get All files from Org) are not visible

![image](https://user-images.githubusercontent.com/22540621/44784808-732f3b80-abac-11e8-8116-8bbc44247d6b.png)

[2018-08-29 11:27] tkiss80 commented on #56856
Ehh, I see the ticket was closed while I was writing the message. :)

[2018-08-29 11:28] DJMcNab commented on #55648
A few thoughts:

 - Sorry that I didn't support `//#region` and friends - it might be worth just copying the Typescript ones into Rust: https://github.com/Microsoft/vscode/blob/1eb0b5bc91f637940facfd0c509a2c35b16f3969/extensions/typescript-basics/language-configuration.json#L29-L34
  However, the [Rust Style Guide](https://github.com/rust-lang-nursery/fmt-rfcs/blob/master/guide/guide.md#comments)

[2018-08-29 11:28] couven92 opened #57495 "JSDoc and TypeScript IntelliSense support for @link inline tag"
[Use JSDoc: {@link}](http://usejsdoc.org/tags-inline-link.html) defines the `@link`, `@linkplain` and `@linkcode` tags in JavaScript and TypeScript JSDoc-style documentation comments.

As can be seen in the screenshot below the IntelliSense tooltip does not recognize the presence of the `@link` tag correctly.

![image](https://user-images.githubusercontent.com/8759693/44784076-ad88e080-ab8c-11e8-9

[2018-08-29 11:30] Mlocik97-issues commented on #57245
maybe you can do something like @#_ms-endgame

[2018-08-29 11:38] Mlocik97-issues opened #57496 "[Snippsets] Remove snippet file (or/& as item in context menu)."
Now when I create new snippset, and after I want remove, I can remove only snippet, but empty snippsets file will remain. If I want remove this file to remove item from context menu (F1 - > Preferences: Configure User Snippset, there are empty file marked as Existing Snippet), so to remove it I need remove file from %appdata%/code/user/snippets/[language].json ... is there way how to remove it dir

[2018-08-29 11:49] Koljasha commented on #57493
if I run code --prof-startup
create 1 file 2017a - (down) and print:
$ code --prof-startup
[ <1 empty item>,
  [ { Error: connect ECONNREFUSED 127.0.0.1:9222
    at Object._errnoException (util.js:1024:11)
    at _exceptionWithHostPort (util.js:1046:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1182:14)
      code: 'ECONNREFUSED',
      errno: 'ECONNREFUSED',
      syscall: 'conne

[2018-08-29 11:49] MathSSDev commented on #57460
Getting the same problem on user settings and workspace settings. I'm trying to add a files.watcherExclude: { ... }

[2018-08-29 11:50] hassanbinsafdar commented on #57400
same here

[2018-08-29 11:54] alexandrudima commented on #57453
@tylerb Thank you for reporting it! I also noticed this a couple of times and it was driving me crazy because I couldn't come up with reproducible steps.

[2018-08-29 11:54] weinand commented on #57397
I do not see this behaviour.
With "hide" you mean the "Hide" action in the context menu on the view's header, correct?

[2018-08-29 11:56] Koljasha commented on #57493
And if need:

$ code --status

Version:          Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS Version:       Windows_NT x64 10.0.14393
CPUs:             Intel(R) Core(TM) i5-2400 CPU @ 3.10GHz (4 x 3093)
Memory (System):  3.96GB (0.77GB free)
VM:               0%
Screen Reader:    no
Process Argv:     C:\Users\f____v\AppData\Local\Programs\Microsoft VS Code\C

[2018-08-29 11:59] jrieken opened #57497 "Open Editor section should offer delete"
When you open a file from outside the workspace, then it cannot be deleted from within VS Code (see #57496). I think it would be a useful addition to add/enable the delete command here.

[2018-08-29 11:59] jrieken commented on #57496
The easiest is to right click the editor title and select 'Reveal in Finder' or 'Reveal in Explorer' and then delete it from there. I have also created https://github.com/Microsoft/vscode/issues/57497 which is about being able to delete a file from the open editors view.

<img width="479" alt="screen shot 2018-08-29 at 13 54 41" src="https://user-images.githubusercontent.com/1794099/44786138-77029

[2018-08-29 11:59] #57496 closed

[2018-08-29 12:01] zwuis opened #57498 "Scroll bars should be added to the drop-down menu in the menu bar"
Issue Type: <b>Feature Request</b>

Zoom in many times (such as 5).
Then click on the menu bar.
The lower half of the drop-down menu is not visible.

So a scroll bar should be added to the drop-down.

VS Code version: Code - Insiders 1.27.0-insider (47d0584301d16d4efd6618f6f33ef14099c92561, 2018-08-29T05:21:26.483Z)
OS version: Windows_NT ia32 10.0.17134

[2018-08-29 12:03] ds64 opened #57499 "New Style Menu Buttons Don't Work"
Issue Type: <b>Bug</b>

Occasionally pressing buttons (e.g. File, Edit, etc.) doesn't work.

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-6100 CPU @ 3.70GHz (4 x 3696)|
|GPU Status|2d_canvas: enabled<br>checker_imagi

[2018-08-29 12:09] rajeshjeshar commented on #57433
@bpasero Sorry still the issue is still there in 1.27 explorer build,but not on 1.23 build

[2018-08-29 12:10] isidorn commented on #57409
@joaomoreno first issue I can reproduce and I acknowledge. The issue here is that the I am getting the `attach` event after the user clicked stop. I still respect that `attach` event. There are some other cases when the `attach` event can come and the session is already done when it should be re-created and since this is a corner case I would not fix this.

However the second more serious issue I

[2018-08-29 12:12] joaomoreno commented on #53520
Yup, I could reproduce what you see @chrmarti. Unfortunately, what happens is the git extension doesn't get file events, for which @bpasero probably already has an issue for. If the file events do reach the git extension, then the UI behaves correctly. Closing this.

[2018-08-29 12:13] #57483 closed

[2018-08-29 12:14] isidorn commented on #57497
Dup of https://github.com/Microsoft/vscode/issues/52713
In that issue I try to explain why we did not add it so far.
As an alternative we could expose the open editors view to extensions.

[2018-08-29 12:14] #57497 closed

[2018-08-29 12:15] braveheart4217 opened #57500 "ctrl+shift+f shortcut not work in vscode 1.26.1"
- VSCode Version: 1.26.1
- OS Version: Windows 10

Does this issue occur when all extensions are disabled?: Yes

if i cahnge findInFiles( default: ctrl+shift+f ) to another shortcut, it works

[2018-08-29 12:17] dbaeumer commented on #57433
@rajeshjeshar can you provide us with a GitHub repository we can clone that demos this?

[2018-08-29 12:18] joaomoreno commented on #57409
@isidorn Keep trying in Linux, I'm sure you can reproduce. I just reproduced it after 5 tries on another Linux box, latest Insiders. It will be very hard to debug since the whole desktop crashes and I need to relogin.

[2018-08-29 12:26] derN3rd commented on #57488
@joaomoreno No, i just installed it to try fix to error with vscode.

I have a script that adds all my keys with `ssh-add` after I login, then I enter my passwords. After that I'm never ask again until I reboot

[2018-08-29 12:28] dbaeumer commented on #57494
Please file the issue against the creator for ForceCode.

[2018-08-29 12:28] #57494 closed

[2018-08-29 12:28] #57351 closed

[2018-08-29 12:30] jrieken commented on #52713
Well, that's a very puristic and little pragmatic view. And it not even true - there is 'Save' and 'Revert File' which following your logic shouldn't be there.

<img width="402" alt="screen shot 2018-08-29 at 14 29 08" src="https://user-images.githubusercontent.com/1794099/44787688-145fc700-ab98-11e8-9b40-debd7d87d0c9.png">

[2018-08-29 12:31] bpasero commented on #53520
@chrmarti to verify that behaviour can you run "code --verbose" and see the output for the file watchers?

[2018-08-29 12:32] bpasero commented on #57433
@rajeshjeshar to double check, you are talking about a visual glitch here not a functionality problem? hard to understand from the video

[2018-08-29 12:32] bpasero commented on #55648
@isidorn the one from isidor

[2018-08-29 12:33] sandy081 opened #57501 "NVDA does not announce placeholder of the quick input box"
- Using NVDA
- Open the language mode quick picker from the status bar

- NVDA does not announces the placeholder text

[2018-08-29 12:33] jrieken commented on #43275
*Verify* that there is `ExtensionContext#logPath`, that it is documented, and that it is unique per extension.

[2018-08-29 12:33] dbaeumer commented on #57493
@jrieken can you help interpreting these numbers.

[2018-08-29 12:34] jrieken commented on #57493
/duplicate of #56644

[2018-08-29 12:34] #57493 closed

[2018-08-29 12:36] jrieken commented on #56644
I wonder that's different on your windows installations...

[2018-08-29 12:37] smlombardi commented on #57420
@alexandrudima Yes

[2018-08-29 12:40] chrmarti opened #57502 "No settings shown after refining filter"
Issue Type: <b>Bug</b>

Verifying #57347

Clicking on a node that will disappear before refining:

![aug-29-2018 14-38-40](https://user-images.githubusercontent.com/9205389/44788115-710fb180-ab99-11e8-9ef2-daab2abb63c5.gif)

VS Code version: Code - Insiders 1.27.0-insider (47d0584301d16d4efd6618f6f33ef14099c92561, 2018-08-29T05:12:15.247Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System I

[2018-08-29 12:41] joaomoreno commented on #53520
@bpasero I ran it out of dev and `console.log` file events as they came from the watcher API. When the bug didn't repro, I was getting events. When the bug repros, no events were coming.

[2018-08-29 12:42] dbaeumer commented on #57487
@hjh302 The memory usage highly depends on the work you do, especially the language you program in. Can you please execute Help > `Open Process Explorer` and provide a screen shot here so that we can see which service consumes the memory.

[2018-08-29 12:42] Koljasha commented on #56644
jrieken: I use Chrome and Opera. No problem, all browsers fast.

[2018-08-29 12:42] DarkLite1 opened #57503 "Format HTML code not working"
Version: 1.27.0-insider
Commit: 47d0584301d16d4efd6618f6f33ef14099c92561
Date: 2018-08-29T05:18:47.523Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

Steps to Reproduce:

1. Open a file called 'Test.html'
2. Go to the command palette and select 'Format document'. Notice nothing happens.

User settings:
[code]

[code]

[2018-08-29 12:43] joaomoreno commented on #57492
You can disable updates by changing the setting `update.channel: none`. You can reenable it when you want to update.

[2018-08-29 12:43] #57492 closed

[2018-08-29 12:44] alexandrudima commented on #57500
What does VS Code detect when you press the desired key combination? Please hover over the input box and take a screenshot:
![keyboard-input](https://cloud.githubusercontent.com/assets/5047891/25478333/fe31c830-2b40-11e7-865c-b2c3bb10dd75.gif)

[2018-08-29 12:44] cboillat commented on #56644
@jrieken I'm using Chrome too. Everything's fast, no other particular problem.

[2018-08-29 12:45] chrmarti opened #57504 "Let filtered settings behave the same as unfiltered"
Issue Type: <b>Bug</b>

Verifying #57347

I somehow like how, when unfiltered, all settings are shown and the TOC is just used for navigation.

Currently the TOC filters the settings further when there is a filter value, that seems like an unnecessary change in UX compared to the unfiltered settings.

VS Code version: Code - Insiders 1.27.0-insider (47d0584301d16d4efd6618f6f33ef14099c92561, 2018-0

[2018-08-29 12:46] aeschli commented on #55648
@bpasero Ah, his example is missing the `//` before region.

[2018-08-29 12:48] subylan commented on #52713
I think the fact that 4 issues have been opened now regarding this shows that something needs to be done about it.

For the programmer, there is no visual indication that the Open Editors pane is solely for view management and not FS, as it appears identical to any open workspace drop-down.

[2018-08-29 12:51] isidorn commented on #52390
@cleidigh thanks for the reply, I have just discussed this with @joaomoreno and we have come up with a solution pretty similar to what you are prosposing - so we are on the same page.

1. We will add a getAriaRole to the [`IAccessibilityProvider`](https://github.com/Microsoft/vscode/blob/828d2179178549c744ea3d7f78e5086252713cf5/src/vs/base/parts/tree/browser/tree.ts#L435) of the Tree
2. We will ad

[2018-08-29 12:52] bpasero commented on #57421
Wtf, I cannot reproduce running out of sources...

[2018-08-29 12:53] anton31kah opened #57505 "Folding html tags not possible in Markdown"
- VSCode Version: 1.26.1
- OS Version: Windows 10 1803 (Education, if that matters)

Steps to Reproduce:

1. Add an HTML tag to a Markdown file
2. Notice how no folding (collapsing) icon appears

![Example](https://i.imgur.com/3VEo5Kw.jpg)

And this is actually possible with other editors, even Visual Studio supports this, so I thought this must be a bug, or maybe I should change something in the

[2018-08-29 12:54] faizaankhan commented on #57141
@Tyriar : This is happening for me normally

[2018-08-29 12:54] chadbr commented on #6614
@MatdeB-SL can't wait to check it out!

[2018-08-29 12:55] freddyjimenez commented on #57400
Same here

[2018-08-29 12:57] zwuis commented on #57498
I mean this:
![in this photo](https://github.com/zwuis/Hello-world/blob/master/..jpg)
(sry for my poor English before)

[2018-08-29 12:57] #49403 closed

[2018-08-29 13:00] weinand commented on #49403
After trying another 837 times, I was able to reproduce (and analyse the problem in the debugger).
There was a name mismatch between the property named emitted by node-debug and the corresponding code in VS Code.

[2018-08-29 13:01] #56940 closed

[2018-08-29 13:01] #57445 closed

[2018-08-29 13:02] dwsong07 commented on #57425
![vscode_error](https://user-images.githubusercontent.com/27623326/44789284-27de5280-abd7-11e8-8912-1779142549c6.PNG)

[2018-08-29 13:04] rajeshjeshar commented on #57433
@dbaeumer Noooooooo....its a fucntionality problem only,

In the build of **1.23** if i tytpe `Row(C)`  then it will automatically show the Suggestion of `Row(Children<Widget>[])`

But after upgrading to both **1.26** and **1.27 Explorer version**,
If i type `Row(C)` then it will not Show any Suggestion,
also i have to type the full word `Row(Children)` and i must have to delete the typed word `Ch

[2018-08-29 13:05] Lumenade commented on #51789
@djmisterjon This looks like it works. Make sure to set it for the right version, user vs system-wide (or both).
![image 2](https://user-images.githubusercontent.com/4733331/44789266-2165c180-ab6a-11e8-9851-d5a69b7ff9dc.png)
Also, for me it didn't start getting blurry until there was an overlay, like a message or the command pallette.

[2018-08-29 13:06] chrmarti opened #57506 "Reveal setting where setting with link was"
Issue Type: <b>Bug</b>

Testing #57304

Clicking on a link in the settings to navigate to another setting should reveal the target setting at the same spot where the original setting was (maybe align titles). Currently the editor seems to scroll as little as possible, so when the link is at the top and the target setting is further down, it is revealed at the bottom which is hard to catch:

![aug-

[2018-08-29 13:07] rajeshjeshar commented on #57433
@dbaeumer This happens for all the Words i type in Vscode,not for a specific Project or file,if u need any more system informations,pls let me know,Now i'm working on 1.23 build without any issues

[2018-08-29 13:08] V-ed commented on #57503
Duplicate of #57445 (which should've been fixed 7 minutes ago!)

[2018-08-29 13:09] sandy081 commented on #55179
Nothing happens when clicking on a setting link that is filtered out

- Search for `detect inde`
- Click on the links in the description of indentation setting.

Nothing happens

[2018-08-29 13:10] alexandrudima commented on #57453
Steps:
* open find widget
* click on a word
* press ctrl+d or cmd+d
* two words are selected when only one should have been selected

![kapture 2018-08-29 at 15 09 47](https://user-images.githubusercontent.com/5047891/44789715-9a324100-ab9d-11e8-8502-ac91f0470a7a.gif)

[2018-08-29 13:15] jrieken commented on #57421
🤯

[2018-08-29 13:15] bpasero commented on #57475
@chrmarti moving to you (this is not a recent regression it seems), this seems to fall through one of our optimizations we have (that is why the second case works where we do not optimize).

This test demonstrates the issue:

[code]

The issue is that in https://github.com/Microsoft/vscode/blob/fc6067f53e269ed234ad10220d2d8b6558c360e2/src/vs/base/common/glob.ts#L412 we seem to compare with the nat

[2018-08-29 13:15] dbaeumer commented on #57346
OK. Here is what is happening. The task is actually started successful even if the tasks.json is delete. Reason is that it is a npm script and the npm script extension contributes the task programmatically. However the task system doesn't know that the task is a background task and not matcher is associated (this information got added in the tasks.json file). Hence the promise doesn't complete nor

[2018-08-29 13:16] bpasero commented on #57433
Ok, then this should be triaged again to someone else as it does not seem Electron related.

[2018-08-29 13:16] chrmarti opened #57507 "Make "Modified in" navigable"
Issue Type: <b>Feature Request</b>

Testing #57304

Just a thought: When I see "Modified in: Workspace" I might want to go there and check. I'd keep font and color as they are and add an underline and pointer cursor to "Workspace" on hover.

VS Code version: Code - Insiders 1.27.0-insider (47d0584301d16d4efd6618f6f33ef14099c92561, 2018-08-29T05:12:15.247Z)
OS version: Darwin x64 17.7.0

[2018-08-29 13:17] Mausic commented on #56890
@joaomoreno ok, thank you

[2018-08-29 13:25] ni5400 opened #57508 "zhi"
The left layout wants to be split and arranged automatically, such as moving the outline column to the right and adding the right sidebar, similar to other IDE, for example PHPSTORM

[2018-08-29 13:27] MartinLoeper opened #57509 "Typescript Autocompletion Not Working For Function Overloads"
- VSCode Version: 1.25.1 1dfc5e557209371715f655691b1235b6b26a06be x64
- OS Version: Linux version 4.15.0-32-generic Ubuntu

Steps to Reproduce:
I provided a small example of the issue (see screenshot below).

1. Create a function with two overloads
2. Try to invoke this function
3. Once you typed in the first parameter, the IDE recognizes that it matches the first overload's signature.
However, th

[2018-08-29 13:27] joaomoreno commented on #57488
Interesting. Are you also not asked if you're using Code's integrated terminal?

Where do you set that script up? In `.bashrc`? Could I see it?

[2018-08-29 13:27] patrickracicot commented on #57400
+1

[2018-08-29 13:32] bpasero opened #57510 "Dynamic menu: allow to pass over role from renderer"
This would allow us to remove this hardcoded stuff that should not exist on the main side:

https://github.com/Microsoft/vscode/blob/7fd581283d452d6676353d1bc531998e249fdf14/src/vs/code/electron-main/menubar.ts#L718-L724

[2018-08-29 13:32] aeschli commented on #57460
@coder3101 Can you run with extensions disabled? This is likely an extension that contributes an invalid setting definition.

[2018-08-29 13:34] shanalikhan opened #57511 "What process.argv0 provides for Mac?"
Can you guys tell me what `process.argv0' provides?
and what it will provide in Mac?

I need to get the executable path of code though api so i can get the `bin` folder later on.

[2018-08-29 13:35] derN3rd commented on #57488
I'm using zsh instead of bash. The interegrated terminal uses zsh as well, so there should be no difference to the normal terminal.
In my .zshrc I have
[code]
and my .dotfiles/.sshAgent file
[code]

after running my .ssh/environment file looks like this:
[code]

[2018-08-29 13:43] isidorn commented on #57340
Let's treat it as a duplicate of https://github.com/Microsoft/vscode/issues/56812
And rename that one

[2018-08-29 13:43] #57340 closed

[2018-08-29 13:43] jrieken commented on #56081
Numbers

| Extension | Before | After| Delta |
|-----------|-------|------|----|
| css | 1759 | 34 | -1725 |
| emmet | 201 | 61 | -140 |
| html | 2094 | 292 | -1802 |
| json | 696 | 297 | -400 |
| typescript | 404 | 278 |  -126 |

Total saving is **4193** files 👏

[2018-08-29 13:44] dough654 commented on #56644
I'll chime in as well since there seems to be more activity on this issue vs mine in the electron repo. I'm also using chrome Version 68.0.3440.75, and the startup performance is fine.

It's my opinion that the update to electron is definitely the cause of the slow down. I write electron apps a lot for work, and I have been stuck on electron v 1.8.X for a while now because of similar slow startup

[2018-08-29 13:47] aeschli commented on #57460
It's caused by HookyQR/VSCodeBeautify:

https://github.com/HookyQR/VSCodeBeautify/blob/97790c4da01aad6d5bab8562c0ffdd3ddd16bd7d/package.json#L164

[2018-08-29 13:47] isidorn commented on #57346
@dbaeumer I did add it. But the issue here is that the task.Active event comes but the promise never finishes.
I have created a PR that fixes this issue https://github.com/Microsoft/vscode/pull/57512
@dbaeumer can you please review if this is the right thing to do. Thank you.

[2018-08-29 13:50] sandy081 commented on #55699
Closing this as the current solution is acceptable.

[2018-08-29 13:50] #55699 closed

[2018-08-29 13:52] hjh302 commented on #57487
• Thank you for helping me out.

发送自 Windows 10 版邮件应用

发件人: Dirk Bäumer
发送时间: 2018年8月29日 20:43
收件人: Microsoft/vscode
抄送: hjh302; Mention
主题: Re: [Microsoft/vscode] 内存占用过高 (#57487)

@hjh302 The memory usage highly depends on the work you do, especially the language you program in. Can you please execute Help > Open Process Explorer and provide a screen shot here so that we can see which service con

[2018-08-29 13:53] joaomoreno commented on #57488
Is it possible that your zshrc bails out earlier if it detects it is not an interactive session?

[2018-08-29 13:54] aeschli commented on #57460
created https://github.com/HookyQR/VSCodeBeautify/issues/266

[2018-08-29 13:54] #57460 closed

[2018-08-29 13:55] bpasero commented on #56992
Sorry guys, I had `VSCODE_NO_SOURCEMAP` set in my bash profile.

[2018-08-29 13:55] #56992 closed

[2018-08-29 13:55] dbaeumer commented on #57487
@hjh302 can you please provide the requested information.

[2018-08-29 13:55] aeschli commented on #57440
fixed by https://github.com/Microsoft/vscode/commit/16fc8709eeaa12584065fc0abd6c2e5a35f6ee87

[2018-08-29 13:55] #57440 closed

[2018-08-29 13:57] aeschli commented on #57400
duplicate of #57445

[2018-08-29 13:57] #57400 closed

[2018-08-29 13:59] derN3rd commented on #57488
I don't think so. I even tried to set the integrated terminal to bash but it didn't change anything.
Maybe vscode is using its own ssh_auth_sock?

[2018-08-29 14:01] aeschli commented on #57342
fixed by https://github.com/Microsoft/vscode/commit/1cdea4a65412031b7a400207661715d7eb923303

[2018-08-29 14:01] #57342 closed

[2018-08-29 14:03] aeschli commented on #57313
Is this still reproducing in the latest insider? If yes, can you provide a small code example?
Any extensions installed that cause that?

[2018-08-29 14:05] sandy081 commented on #54308
Forwarding to @jrieken as it is related to menu

[2018-08-29 14:06] alexandrudima commented on #57453
fyi @sandy081 I believe this got introduced with https://github.com/Microsoft/vscode/commit/83713d3691d09ed14a3069500bf475a2b1709141

[2018-08-29 14:09] craggy2593 commented on #57420
Experienced the same issue. The find is selecting an additional character (see screenshot).

In searching for `()=`, it is highlighting `()=>` (this is definitely after submitting the search), which is causing the additional character to be changed in the replace.
<img width="871" alt="screen shot 2018-08-29 at 14 58 30" src="https://user-images.githubusercontent.com/1264223/44792843-b71a4480-ab9c

[2018-08-29 14:12] DanTup opened #57513 "Using a Symbol() in extension API is broken in insiders (works in Stable)"
In order to expose some API from my extension to the tests without it being part of public API, I used a `Symbol`:

symbols.ts
[code]

extension.ts
[code]

Then in my tests I accessed it like this:

[code]

In Insiders, this throws on the last line. `extApi` always comes back undefined. In Stable, I get back my API as expected. I've verified that the last line of my activate method is being run co

[2018-08-29 14:13] mstrzelec opened #57514 "Integrated console inconsistent behavior with regular PS console - Copy-Item"
- VSCode Version: 1.26.1
- OS Version: Win10

Steps to Reproduce:

1. Open VScode -> Powershell Integrated Console
2.  from any folder try to execute command like Copy-Item ".\Default_files\" "$($env:APPDATA)\Microsoft\Signatures\Something_Default_Files\" -Recurse -Force
(Result will be all files in .\Default_files\ will be copied to ...\Something_Default_Files\ - into that directory (no subdirs c

[2018-08-29 14:16] cursorial commented on #1574
Forgive me if I'm missing something obvious here, but why have the user pass arguments when you could simply define several tasks? Seems like an bit of a misuse of tasks.

[2018-08-29 14:18] sandy081 commented on #56304
@Flanker32 Is it possible to get any stack traces of crash?

[2018-08-29 14:19] cursorial commented on #57505
Can reproduce this on OS X 10.12.6 using VS Code 1.25.1

[2018-08-29 14:20] nir2002 opened #57515 "source control branch workspace"
A great feature would be if every source control branch would have its own workspace/state - meaning, once the user switch branch it will open all the files that were opened when the user last worked on this branch.

[2018-08-29 14:26] chrmarti commented on #57501
Good catch! That broke with setting `aria-activedescendant`.

[2018-08-29 14:26] nir2002 commented on #57515
Duplicate [Preserve open files list when switching branches (#35307)](https://www.github.com/Microsoft/vscode/issues/35307)

[2018-08-29 14:26] #57515 closed

[2018-08-29 14:27] sandy081 commented on #57453
@alexandrudima Sorry for that. Thanks for the fix

[2018-08-29 14:35] dsteg commented on #28861
https://marketplace.visualstudio.com/items?itemName=rafamel.subtle-brackets
causes 100% helper CPU use when it fails (which it does often when editing latex).
This really should be part of the core engine.

[2018-08-29 14:36] MeikTranel commented on #51789
I will try to confirm this on my machine later today and then update the electron issue if this proves to be related.
This should not be regarded as fixed though. Force disabling FXAA for certain apps isn't really handy in all situations.

[2018-08-29 14:38] alexandrudima commented on #57401
@isidorn Do we have a build with this fix to test #57249 further ? I can also test from sources, just LMK.

[2018-08-29 14:39] jrieken commented on #54308
I cannot reproduce. Please provide more information so that I can reproduce this locally.

<img width="268" alt="screen shot 2018-08-29 at 16 38 49" src="https://user-images.githubusercontent.com/1794099/44795028-061aa680-abaa-11e8-9343-7eca97ff7db1.png">

[2018-08-29 14:41] jrieken commented on #57513
Works just fine for me

[2018-08-29 14:47] #57411 closed

[2018-08-29 14:49] isidorn commented on #57489
* In order for the title to show that the folder is a remote URL the remotehub extension would have to register a labelProvider. However we currently do not support that through `package.json`.
To tackle this I have changed that by default we show a workspace suffix which is the scheme unless somebody registers a custom suffix. And I also changed the file scheme to register an empty suffix (to not

[2018-08-29 14:50] austinmccollum opened #57516 "Powershell Terminal - navigation enhancements with ctrl-arrow keys"
In Windows Powershell console outside of VScode, it is possible to quickly navigate through commands on the current line with ctrl-arrow keys to skip words blocks Currently in the VScode Powershell terminal, there is no way to quickly navigate the cursor through the text, the arrow key only affords one character at a time.

[2018-08-29 14:51] isidorn commented on #57401
@alexandrudima sorry about that. We do have linux and os x builds, however integration tests are faililng for windows. I will re-trigger builds since I see you have to test windows - they should be out in 30 minutes. And yes you can also test from source afaik

[2018-08-29 14:54] hbenl commented on #54308
It looks like you tried this with a `view/item/context` contribution, which doesn't have this bug. Try it with a `view/title` contribution.

[2018-08-29 14:55] Gruntfuggly opened #57517 "Unexpected "No formatter" message"
I've written an extension which triggers formatting after a timeout, using various events to reset the timeout. It works quite well, but if I drag a selection and hold the mouse button (which generates an onDidChangeTextEditorSelection event) my extension calls the formatter but the following message is generated:

There is no formatter for 'markdown'-files installed.

This is with a markdown file

[2018-08-29 14:59] DanTup commented on #57513
Ugh, let me try and get a repro running on AppVeyor or something. Out of interest, what platform did you test on? Both places I saw it were Windows - it looked like it might not have happened on macOS/Linux (I figured I must've been mistaken since that seems weird, but I guess it's possible).

[2018-08-29 15:00] alexandrudima commented on #56981
@rebornix I can only reproduce this when having the PR extension installed & enabled. If I disable the PR extension, then I can no longer reproduce. It might be related to the commenting support. Can you please take a look?

[2018-08-29 15:02] djmisterjon commented on #51789
this seem a issue for many engine with shadder.
http://pixijs.download/dev/docs/PIXI.filters.FXAAFilter.html
![image](https://user-images.githubusercontent.com/24865815/44796417-f3d54400-ab7a-11e8-9dd2-abc4eca1d765.png)

[2018-08-29 15:02] #54991 closed

[2018-08-29 15:02] isidorn commented on #54991
I have cut down the delay to show progress from 3200ms to 1200ms. This works nicely on my machine as for local files it does not show progress and still shows it for remote files.
I did not want to cut down the delay more as it might cause that we show progress too much for local file systems.

[2018-08-29 15:02] austinmccollum commented on #57516
looks like there's already been work done here on this
https://github.com/PowerShell/vscode-powershell/issues/818

[2018-08-29 15:02] #57516 closed

[2018-08-29 15:08] cursorial commented on #57505
I've had a quick look into this, seems as though this file is the culprit: `vscode/extensions/markdown-language-features/src/features/foldingProvider.ts`

I'd say it's something to do with this little chunk of code (lines 21-25):

    const isStartRegion = (t: string) => /^\s*/.test(t);
    const isEndRegion = (t: string) => /^\s*/.test(t);

    const isRegionMarker = (token: Token) => token.type

[2018-08-29 15:11] isidorn commented on #56806
I actually like the current behavior.
It always jumps to the editor only if you actually changed the active group / editor. If there is no change it alows you to select what you want.

I can not fix this with the current apporach (that I am reacting on active editor / group change events and if the active group / editor stay the same I get no event). I am not reacting on my click events.

Closing

[2018-08-29 15:11] #56806 closed

[2018-08-29 15:12] johnkors commented on #57146
[code]

[2018-08-29 15:14] DanTup commented on #57513
I can repro using the Hello World extension with [a simple test](https://github.com/DanTup/ext-symbol-err/commit/d8f6ddc6fc02f35b27db53c89556874bedcb44d1):

https://github.com/DanTup/ext-symbol-err

![ext err](https://user-images.githubusercontent.com/1078012/44797118-52fc7e00-aba6-11e8-8c69-c11911c54b3d.png)

If you can't repro (on Windows), let me know if it's worth me setting up on AppVeyor or

[2018-08-29 15:15] #57296 closed

[2018-08-29 15:15] sandy081 commented on #54192
This is another issue related to `shouldAutoexpand` api from the tree which shares the same root cause of #30918.

[2018-08-29 15:16] johnkors commented on #57146
Seems this extension was the culprit: https://marketplace.visualstudio.com/items?itemName=k--kato.intellij-idea-keybindings

[2018-08-29 15:16] #57146 closed

[2018-08-29 15:17] alexandrudima commented on #57511
`process.argv0` evaluates for me to `"/Applications/Visual Studio Code - Insiders.app/Contents/Frameworks/Code - Insiders Helper.app/Contents/MacOS/Code - Insiders Helper"`

[2018-08-29 15:17] #57511 closed

[2018-08-29 15:17] tylerb commented on #57453
@alexandrudima You're welcome for the report. Thanks for the fix! Is it possible to get this fix into my local environment right away? It is a constant nuisance for me.

[2018-08-29 15:18] sandy081 commented on #54192
If you want a node to be expanded or collapsed programatically, may be the right approach is to have an API to expand or collapse instead of causing a data change?

[2018-08-29 15:19] #57508 closed

[2018-08-29 15:20] #49039 closed

[2018-08-29 15:21] isidorn commented on #49039
I have pushed a fix proposed by @roblourens
So the regular string messages work fine for me now.
For handling objects I expect follow up issues.

[2018-08-29 15:23] #57415 closed

[2018-08-29 15:24] alexandrudima commented on #57453
@tylerb It will come out with tomorrow's [Insiders build](https://code.visualstudio.com/insiders/)

[2018-08-29 15:26] isidorn commented on #57253
This behavior is not a regression. We have always behaved like that in stable ( I mean the original comment and the @LazarusX issue).
Multi session focusing is usually delicate and I prefer not to do it on the last day before a release -> assigning to September

[2018-08-29 15:27] fabiospampinato commented on #54192
@sandy081 Why not both an API and listening for a mutation of the `collapsibleState` property? The "problem" with the API is that we would have to keep references to the `TreeItem`s around.

[2018-08-29 15:30] sandy081 commented on #54315
@hbenl Looks like in your code you are using the same id `child` for all nodes. If you are providing an `id` it should be unique.

`id` is optional and when it is removed the last step increase counter for all elements

[2018-08-29 15:30] tylerb commented on #57453
Excellent. Thanks!

[2018-08-29 15:30] isidorn commented on #56996
@DanTup sorry but I did not have time to look into this this milestone.
In case you would like to investigate more please put a brekapoint [here](https://github.com/Microsoft/vscode/blob/a614c102847a3a98baf3edcf4962ebb70fdf9a27/src/vs/workbench/parts/debug/common/debugModel.ts#L189)
The `variables` response should return an error and then you can see how the error variable pops up

[2018-08-29 15:35] joelstransky commented on #56537
Same issue, tried multiple times, re-downloaded the installer multiple times. Tried on a fresh restart. I suspect it has something to do with how I.T. is managing their machines.

[2018-08-29 15:35] shanalikhan commented on #57511
I want to **read the bin directory** from

"/Applications/Visual Studio Code - Insiders.app/Contents/Frameworks/Code - Insiders Helper.app/Contents/MacOS/Code - Insiders Helper"

bin will be present in
`/Applications/Visual Studio Code - Insiders.app/Contents/Frameworks/Code - Insiders Helper.app/Contents/MacOS/bin` ?

[2018-08-29 15:36] joelstransky commented on #56537
Any tips on how I can get the annoying modal in vscode to stop coming back?

[2018-08-29 15:40] hbenl commented on #54315
But I'm only using this `id` for one of the 3 nodes:
[code]

[2018-08-29 15:40] jrieken commented on #54308
That's true. I can reproduce there.

[2018-08-29 15:51] alexandrudima commented on #57511
There is a `bin` folder at `/Applications/Visual Studio Code - Insiders.app/Contents/Resources/app/bin`.

[2018-08-29 15:51] jrieken commented on #54308
By part here work correctly, the `fillInAction...`-function works proper (see screenshot). This must get scrambled downlevel, e.g when merging with legacy actions or so.

<img width="827" alt="screen shot 2018-08-29 at 17 48 48" src="https://user-images.githubusercontent.com/1794099/44799332-f1dba700-abb3-11e8-8244-4709a74089a9.png">

[2018-08-29 15:51] enure commented on #56383
I posted the question on Stack Overflow:
https://stackoverflow.com/questions/51933100/vs-code-intellisense-doesnt-work-with-submodules

Just linking it here incase anyone has ideas on a solution.

[2018-08-29 15:52] jrieken commented on #54308
The ViewletPanel#setActions method seems to be called with the wrong data. Someone on the way it gets broken, my suspect is `prepareAction` which is always doing some funky resort.

<img width="607" alt="screen shot 2018-08-29 at 17 51 51" src="https://user-images.githubusercontent.com/1794099/44799453-3cf5ba00-abb4-11e8-8e83-45cdc5131009.png">

[2018-08-29 15:54] LitileXueZha commented on #11847
Hey guys, how are things going

[2018-08-29 15:56] jrieken commented on #57513
If this isn't a fluke then it's the electron update. I have tested on macOS with a simple Symbol and using that in an export.

[2018-08-29 15:58] jrieken commented on #57517
There is formatter for ranges and whole documents. The latter cannot be used for the former. With what extension are you trying this?

[2018-08-29 15:58] bpasero commented on #57513
@jrieken

There was no electron update this month?

[2018-08-29 16:01] #56541 closed

[2018-08-29 16:01] #56750 closed

[2018-08-29 16:01] alexesca commented on #57313
It cannot be presented with code. It happens when VS highlights syntax errors in the HTML file. Even though I corrected the syntax errors VS keeps showing it, then browsing files and using intellisense gets messy.

I do not know how to reproduce it. It happens to me often in my old and new machine.
It goes back to normal when I restart my laptop or install updates, but it happens again when VS hig

[2018-08-29 16:03] cfjedimaster commented on #57201
I'm seeing this too. As I work with Markdown a lot, I've had to go back to the non-Insiders version.

[2018-08-29 16:04] Whistleman opened #57519 "Open in Browser not working in Kali Linux 2018.3"
- VSCode Version: Latest Update
- OS Version: Kali Linux 2018.3

Steps to Reproduce:

1. Go to any HTML file then, Right Click on it and select "Open in browser".
2.Nothing happens, thats the point. :)

Does this issue occur when all extensions are disabled?: Yes/No No.

HERE::When disabled the extensions using "code --disable-extensions" the  "Open in browser" option is not seen. So, maybe its th

[2018-08-29 16:10] NahianHyder opened #57520 "[html] fold attributes"
Hi,

I work a lot in HTML. I switched to VS Code a few months back from Sublime text 3 and I'm loving it. However I do miss some of the great built-in features of sublime text. I suggest following features along with system keyboard shortcuts.

- Fold tag attributes [Code Folding]
- Expand selection to tag
- Wrap selection with tag

Thanks in advance

[2018-08-29 16:15] jrieken commented on #57513
@bpasero really? I see 1.26 using 2.0.5 and 1.27 using 2.0.7

[2018-08-29 16:16] MalignoAnubis opened #57521 "Error desconocido (no se puede guardar los cambios realizados en un archivo .ts)"
Issue Type: <b>Bug</b>

No se pude guardar cambios realizados en un archivo .component.ts'

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 6.2.9200

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-2310M CPU @ 2.10GHz (2 x 2095)|
|GPU Status|2d_canvas: enabled<br>checker_imaging

[2018-08-29 16:20] waynebloss opened #57522 "VSCode lost my work"
Issue Type: <b>Bug</b>

I created an index.js file `src/lib/yada-yada-yada/`. I edited that file (I think I saved it). Then I attempted to move the file into the parent but VSCode warned me that another file with the same name existed. So I renamed the file first, then moved it. All of my work was lost except for the initial code that I had pasted into the file before I edited it.

VS Code version

[2018-08-29 16:25] DanTup commented on #57513
Also tested on latest Insiders on macOS and it passed, so certainly does seem Windows-specific.

[2018-08-29 16:26] FadeZhanger opened #57523 "Typescript Intellisense fails to reference inherited methods after private property in class"
- VSCode Version: 1.27.0-insider (latest commit on Aug 29)
- OS Version: Windows 10 build 17134
- Typescript version: 3.0.1

Steps to Reproduce:

1. Create a .ts or .tsx file with a class that extends another class (example below)
[code]
2. Give the child class a private property.
3. Try referencing the inherited method from the parent class below the private property in the child class.

Expected

[2018-08-29 16:26] goumang2010 opened #57524 "Quick fix breaks in 1.26.1 for imports fix"
Issue Type: <b>Bug</b>

1. open exist project
2. delete imports statement of some variables.
3. quick fix not work.

However, everything is fine in 1.25

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:31:26.156Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x

[2018-08-29 16:31] bpasero commented on #57513
@jrieken yeah, that not an update that I would think can cause a regression like this, I would put my money on the `stdfork` change rather.

@DanTup are you able to run VSCode out of sources on Windows? That would allow us to rule out the Electron 2.0.7 update as cause for this.

[2018-08-29 16:31] #57524 closed

[2018-08-29 16:32] roblourens commented on #57333
Hey @misolori do you know of other examples of this sort of behavior? I'd like to see how they handle this case.

My theory has been that it should always highlight the very topmost visible setting, because you can't see the heading for that section. Even if you scroll onto some other section that takes up most of the list, at least you can see the heading for it already.

[2018-08-29 16:32] goumang2010 commented on #57524
https://github.com/Microsoft/vscode/issues/57156

[2018-08-29 16:32] jrieken commented on #57326
No sure. It would sure to reuse the existing setting editor when possible but I would prevent explicit split gesture and cmd-drag

[2018-08-29 16:33] cjmaroney01 opened #57525 "convert js file to ts -- does not recognize tab indentation"
i accidentally created a file as a .js file, and then renamed it to .ts.   When i did this, the tslint INSISTED that i was not using tabs to indent, even though i was.  The only way I could fix it was by making a keyboard binding for "indent using tabs" and apply it by doing that keyboard combination.

Later, a colleague and I were converting .js files to .ts that already existed, and we have the

[2018-08-29 16:33] roblourens commented on #57330
Do you know of any other settings with similar behavior that fall back on the value of another setting?

[2018-08-29 16:35] DanTup commented on #57513
It's not something I've done/tried before, so that might depend on how complicated it is and/or the dependencies. I'll have a look shortly.

[2018-08-29 16:39] Gruntfuggly commented on #57517
The extension is here:
https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.format-on-idle

To format the document, it simply uses `vscode.commands.executeCommand( 'editor.action.format' );`.

Would it be better to use `vscode.executeFormatDocumentProvider` and manually apply the returned edits?

If so, where are the options defined?

[2018-08-29 16:50] roblourens commented on #55794
Here are some settings with compound types

- `git.autoRepositoryDetection`
- `html.format.maxPreserveNewLines`

I can't remember which extension has the nullable enum but you can test it with a contribution like

[code]

[2018-08-29 16:51] roblourens commented on #57474
There are extensions for this: https://marketplace.visualstudio.com/items?itemName=Compulim.vscode-clock

[2018-08-29 16:51] #57474 closed

[2018-08-29 16:53] roblourens commented on #48641
I think the others are self-explanatory, I think we should only add enumDescriptions when needed.

[2018-08-29 16:55] roblourens commented on #57370
Ok, I can do it from the frontend and measure whether it affects perf. I can also do it lazily when the row is rendered.

[2018-08-29 16:57] roblourens commented on #57376
I'll try "Show matching extensions"

[2018-08-29 16:58] roblourens commented on #57482
This is probably from your theme, which theme are you using?

[2018-08-29 16:59] roblourens commented on #57482
Maybe same as https://github.com/Microsoft/vscode/issues/57281

[2018-08-29 17:00] roblourens commented on #57430
Those files must be excluded by a `files.exclude` or `search.exclude` setting, or your gitignore file. That's what that button controls.

[2018-08-29 17:01] DanTup commented on #57513
Ok, I think I'm up and running:

![codecode](https://user-images.githubusercontent.com/1078012/44803134-7aa71280-abb5-11e8-8c49-80467eae301d.png)

I'll need some instructions on what you want me to try though!

[2018-08-29 17:22] ridesirat opened #57526 "Wacom pen not draging file tabs"
Hi
yesterday, after the latest VSCodeUserSetup-x64-1.26.1 installation (after uninstalling the previous version), i'ts not possible to rearrange the files order on top because the pen doesn't drag the tabs. But with the mouse it's ok.

![image](https://user-images.githubusercontent.com/42814243/44804129-6284c280-abb8-11e8-80a7-50068636ce57.png)

I have no new extensions or installations and none o

[2018-08-29 17:27] #57301 closed

[2018-08-29 17:39] DanTup commented on #57513
Not sure what I'm doing wrong, but now when I try to run it I see:

[code]

I've run `yarn run watch`, pressed Ctrl+Shift+B and then run code.bat :/

[2018-08-29 17:41] hbenl commented on #54315
I just tried with the latest Insiders build and the bug is still there:
![peek 2018-08-29 19-35](https://user-images.githubusercontent.com/16060807/44804887-fbb8d680-abc2-11e8-82d4-5adbbfd15c4c.gif)
The output in the debug console shows that the three nodes have different IDs `root`, `child` and `grandchild`:
[code]
 Removing the IDs is not a good workaround as it means that the tree loses its col

[2018-08-29 17:43] spicybeef opened #57527 "Search results disappear"
Issue Type: <b>Bug</b>

Step to reproduce:

1. Search
2. Wait a bit after search finishes

For some reasons, the search results disappear after a little bit of time passes.

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) C

[2018-08-29 17:52] octref commented on #57455
Personally I find it useful in 80% of the time. I guess if the setting is provided, I wouldn't turn it on to reduce that to 20%. @JCKodel if you do have a better point, feel free to join the discussion.

[2018-08-29 17:52] #57455 closed

[2018-08-29 17:53] roblourens commented on #57504
Changed this in https://github.com/Microsoft/vscode/issues/55616 I'll let you and @ramya-rao-a fight it out :D

There is some discussion in that issue, basically we decided that the flat list layout + filtering feels better for a smaller number of settings.

[2018-08-29 17:53] roblourens commented on #57504
This could be configurable although it might be a pain to implement.

[2018-08-29 17:55] roblourens commented on #55179
I'm not sure what should happen in that case. Clear the search query? That might be unexpected.

[2018-08-29 17:55] kunalsb commented on #57222
--This is what is showing in the output console. I dont know how to set that user.email.Please help!!

*** Please tell me who you are.
git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'Kunal@DESKTOP-RIC83H7.

[2018-08-29 17:55] fabiospampinato opened #57528 "Smarter file name suggestion"
- VSCode Version: 1.26.1

My [Todo+](https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-todo-plus) extension provides syntax highlighting for the following files:

<img width="147" alt="screen shot 2018-08-29 at 19 48 37" src="https://user-images.githubusercontent.com/1812093/44805452-8d751380-abc4-11e8-9f25-c565cfe6eeb4.png">

When saving a new "Todo" file this will be the

[2018-08-29 17:55] roblourens commented on #57507
Good idea!

[2018-08-29 17:57] roblourens commented on #57420
I think this was https://github.com/Microsoft/vscode/issues/57303. Please try in today's insiders and let me know if you see it again.

[2018-08-29 17:57] #57420 closed

[2018-08-29 17:58] fabiospampinato opened #57529 "Marketplace: broken endless scrolling"
When viewing [my profile](https://marketplace.visualstudio.com/publishers/fabiospampinato), on a large-enough or zoomed-out-enough screen I can't see all my extensions because the endless scrolling algorithm is broken.

I guess it assumes a scroll event will happen, which is not always the case, and it doesn't check if a new page should be loaded.

[2018-08-29 17:58] Tyriar commented on #57285
I suspect this is related to restrictions placed by your IT support, can you reach out to them and ask them about this? Specifically this is the call that's failing:

https://github.com/Microsoft/node-pty/blob/2c1c0e78c8f110b4e3da87a3f9b88ebc9e7b33b8/deps/winpty/src/libwinpty/winpty.cc#L499

The executable that is being launched should be: `%windir%\System32\WindowsPowerShell\v1.0\powershell.exe`

[2018-08-29 17:59] rben01 commented on #29757
I think a superior fix would be to display attributes hierarchically to avoid rewriting common prefixes. So the window would contain:

[code]

Rows not matching the typed string (such as `org` itself, `.springframework` itself, etc) would be dimmed and not selectable, as marked by a leading `x` above.

This takes more vertical space, but takes a lot less horizontal space and is a lot easier to qui

[2018-08-29 18:02] smlombardi commented on #57430
My understanding is that I can exclude items from search on a search-by-search basic by entering a pattern in that field.  So I excluded all files starting with `ex.` since I didn't want to work on them at first. _Normally_ they would be found, since they are project files like all the others, so most of the time I want to search them — just not this morning, I wanted to focus on something else fi

[2018-08-29 18:03] Tyriar commented on #57454
This looks like an environment/setup issue rather than a problem with VS Code itself. The way I would go about doing this is by just adding the alias to your `~/.bashrc` file. If you don't want the alias all the time you could workaround this by:

- Checking to see if `./node_modules/.bin/tsc` exists before adding it
- Checking if `$TERM_PROGRAM` = "vscode" before adding it

But I wouldn't want a

[2018-08-29 18:03] #57454 closed

[2018-08-29 18:05] davidleejy opened #57530 "Re-launch previously opened windows on their previous virtual desktops (KDE/Kubuntu)"
_I don't mind chipping in to implement this feature. Advise welcomed._

**Background:**

Currently on Kubuntu (== Ubuntu with a KDE GUI). KDE has _"activities"_ and _"virtual desktops"_ - a bit similar to Windows. Relaunched vscode windows (say, after rebooting machine) do not remember which _activity_ or _virtual desktop_ they were on earlier - all windows launch in the same _virtual desktop_ .

[2018-08-29 18:07] Tyriar commented on #57452
This is related to the way that we're computing the "Command Line" string in node-pty, here's the code pointer:

https://github.com/Microsoft/node-pty/blob/cafed13d456fa37df46a9dc26f9a5ebdfe88f3f6/src/windowsPtyAgent.ts#L113-L161

The fix here may be to allow passing in a raw string like is allowed in tasks https://github.com/Microsoft/node-pty/blob/cafed13d456fa37df46a9dc26f9a5ebdfe88f3f6/src/win

[2018-08-29 18:10] roblourens commented on #57430
That's right. Most likely, those files are actually excluded by your settings or gitignore. That's probably why they are excluded, not because it remembered the `ex.` pattern.

If you don't think that's the case we can see what the actual parameters of the search were if you follow these steps to collect the logs:

https://github.com/Microsoft/vscode/wiki/Search-Issues#filing-a-search-issue

[2018-08-29 18:11] Swazimodo opened #57531 "Set new tab language"
Issue Type: <b>Feature Request</b>

Sometimes I'll open a new tab to quickly prototype an edit but I do not plan on saving it. However, I do not see a way to set the language of the new tab to get syntax highlighting working. I think there is a way to set the default but that does not always work.

I could see a languages menu option like notepad++ uses being useful. Or if there was a hotkey to ty

[2018-08-29 18:12] Tyriar commented on #3742
@Deji69

![image](https://user-images.githubusercontent.com/2193314/44806663-6b57a300-ab7c-11e8-8f04-d4aefc9b1bef.png)

[2018-08-29 18:15] rebornix commented on #56981
The gutter width was adjusted when we have comments available and somehow the overview width was affected by this. I'm looking into it now.

[2018-08-29 18:17] Tyriar commented on #57514
https://github.com/PowerShell/vscode-powershell

[2018-08-29 18:17] #57514 closed

[2018-08-29 18:17] yourfavorite commented on #51776
I'm experiencing this issue is well. My installed extensions are:
Auto Close Tag
Babel ES6/ES7
Document This
ESLint
Flow Language Support
HTML CSS Support
Prettier
Settings Sync
stylus
TODO Highlight
WakaTime

[2018-08-29 18:23] octref opened #57532 "Cover CSS extension with End to End tests"
For certain language features, such as diagnostics, we don't have coverage.

We can cover the CSS extension with it: https://code.visualstudio.com/docs/extensions/example-language-server#_testing-the-language-server

[2018-08-29 18:25] f-w opened #57533 "Not displaying server name of a file/folder opened from network share"
- VSCode Version: 1.26.1
- OS Version: Windows 7

Steps to Reproduce:

1. Open a file from network share such as \\\\server\e$\foo.txt
3. The file editor tab is not showing server name when hovering over, but only \e$\foo.txt
2. Close the file and go to File > Open Recent. I also only see \e$\foo.txt

![image](https://user-images.githubusercontent.com/12823994/44807212-d2c22280-ab7d-11e8-812b-03e2

[2018-08-29 18:28] amcasey opened #57534 "VS Code appears to create a second TSServer on shutdown"
Currently, the evidence is anecdotal.  If you enable server logging (e.g. by setting the `TSS_LOG` environment variable), on shutdown, the log is clobbered by an almost empty log.  As of https://github.com/Microsoft/TypeScript/pull/26650, you can include the PID in each log path and now we see a new log (with a new PID) created on shutdown.

[2018-08-29 18:29] amcasey commented on #57534
FYI @ahejlsberg

[2018-08-29 18:29] Deji69 commented on #3742
@Tyriar Are you suggesting that this project being open source, the request being relatively easy to fulfil (so much so that 3rd parties have done so via extensions that were broken by updates), and easily over 2 years of people asking for this feature count for nothing?

[2018-08-29 18:29] amcasey commented on #57534
This is the TS Server log and the suggested issues appear to be about VS Code logs, so I don't believe this is a duplicate.

[2018-08-29 18:33] kvanlaan commented on #6614
Cool!

On Wed, Aug 29, 2018 at 5:55 AM chadbr <notifications@github.com> wrote:

[2018-08-29 18:44] qiangli commented on #42835
Noticing the ghost vscode process only now on Activity Monitor. The update never returned for me since day one, thought that's the way it is; I had to restart manually.
I could not kill the process either, only way is to reboot.
on macOS Sierra v 10.12.6

[2018-08-29 18:45] Sara-Cagle opened #57535 "Very slow search after recent updates"
Issue Type: <b>Bug</b>

Using the built-in search feature of VSCode has become unbearable because it is extremely slow after recent updates. My code base is of a small/manageable size, but whenever I search short, simple strings (not a regex search, and also not using Match Case and Match Whole Word), search takes at least a minute, and in some cases never returns results that it should.
This bega

[2018-08-29 18:46] smlombardi commented on #57430
My search exclude settings do not include these files:
[code]
nor does files.exclude
[code]
They are also not in gitignore.  The were only ever excluded because I typed their pattern into the exclude field, which I expected to be temporary and clearing the field would mean the only things excluded would be from the files you mentioned.

Why would search be excluding files that I entered in the fie

[2018-08-29 18:46] #56217 closed

[2018-08-29 18:48] smlombardi commented on #57430
It may have been a transient issue, since as of today is seems to be functioning as expected again.

[2018-08-29 18:50] misolori opened #57536 "Add inputValidation.foreground as a theme token"
In some instances, the `foreground` color does not work well with the `inputValidation` backgrounds. Here's an example where a theme has set `foreground` to `#888`:

![image](https://user-images.githubusercontent.com/35271042/44808471-2f730c80-ab81-11e8-9a61-11fb589da7ff.png)

This forces the theme author to choose only lighter colors that work with `#888`.

If we could set `inputValidation.foregr

[2018-08-29 18:51] fbricon opened #57537 "Pressing `Esc` doesn't cancel Peek/Go to Implementation"
- VSCode Version: 1.27.0-insider  346018a80dd299c50cbf213e0a706ef0f35f3a67
- OS Version: macOS 10.13.6

Steps to Reproduce:

1. open a File where Go To Implementation is supported (and takes a while to execute)
2. Execute Go To Implementation (or Peek )
3. Press `Esc` while the operation is running
4. The operation is not cancelled.

This issue was discussed in https://github.com/redhat-developer/

[2018-08-29 18:52] Tyriar commented on #57266
How do you do it in other terminals?

[2018-08-29 18:53] Tyriar commented on #57266
Also are you launching through the vscode-docker ext?

[2018-08-29 19:01] #54764 closed

[2018-08-29 19:02] octref commented on #56081
@jrieken Looks great! I think a lot of the savings might come from not including `devDependencies` in `node_modules`. Now when I'm publishing extensions I always do `yarn --prod`, but of course I could use webpack too.

It would be great if we can put this to the documentation.

[2018-08-29 19:05] Tyriar commented on #3742
@Deji69 I'm suggesting that this is one issue among over 5000 and resources are limited.

[2018-08-29 19:07] volkanunsal commented on #3742
The absence of this feature is probably the only reason I'm still using SublimeText.

[2018-08-29 19:08] mahesh8488 opened #57538 "Light bulb to fix issue not showing up in tsx file"
Issue Type: <b>Bug</b>

Light bulb to fix issue not showing up in tsx file

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.17749

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-1620 v2 @ 3.70GHz (8 x 3691)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_of

[2018-08-29 19:10] n6ither commented on #3742
And now emails are raining again..

[2018-08-29 19:12] Deji69 commented on #3742
@Tyriar I would happily learn how to contribute just to do it... will that change anything?

[2018-08-29 19:13] buchion opened #57539 "I have to Re Save before a feature Works"
Issue Type: <b>Bug</b>

Valar morghulis, you feedback reporter. How's your life.
I just want to report something.
I write mobile applications using ionic 3 and angular 6. For some very weird reason after I save a file and my app rebuilds some feature don't work until I go back to that file and save again. I dont know why this happens. Maybe its an Ionic problem. But I just felt that you guys shoul

[2018-08-29 19:15] erisman20 commented on #39939
Doesn anyone have a fix for this? Regions do not working the <template></template> section either. Folding works, just not regions.

[2018-08-29 19:28] aeschli commented on #57503
dup of #57445

[2018-08-29 19:28] #57503 closed

[2018-08-29 19:31] aeschli commented on #57313
The built-in HTML support only shows syntax errors in styles (css) and scripts. If you see errors in HTML, then this must be an extension.
You want to disable extensions to find out if all this is caused by a malfunctioning extension. If it is, please let me know so we can file an issue against the extension.

[2018-08-29 19:31] #57313 closed

[2018-08-29 19:34] DJMcNab commented on #16221
This feature looks really useful - has it been considered for [the language server protocol](https://github.com/Microsoft/language-server-protocol)?

Using @phiresky's example, this could be done through the semantic highlighting api - see Microsoft/language-server-protocol#18, Microsoft/language-server-protocol#513, etc. for the proposals.

However, in my opinion `contentText` is an implementatio

[2018-08-29 19:40] eamodio commented on #54764
@sandy081 from those errors it looks like `node-sass` isn't compatible with your OS version 😢

Although I've just tried again from the latest insiders and it seems to be working now.

[2018-08-29 19:47] Kalonjelen opened #57540 "All breakpoints are unverified when debugging on Angular 6/Node 10.9"
Issue Type: <b>Bug</b>

Create a project with Angular 6.
Install Node.js 10.x (10.8 or 10.9 appear to replicate this)
Have debugger with the following options
            "type": "chrome",
            "request": "launch",
            "name": "Launch Chrome against localhost",
            "url": "http://localhost:4201",
            "sourceMaps": true,
            "trace" : true,

Run your server lo

[2018-08-29 19:50] roblourens commented on #57430
If that was what happened, it would be a bug, so let me know if you see it again, and try to collect logs so we can see exactly what happened.

[2018-08-29 19:50] #57430 closed

[2018-08-29 19:54] Tyriar commented on #56686
@johnramsden no, it was never meant to work that way. AFAIK Arch is going into unexplored territory by attempting to do it, which is why officially supporting it probably isn't an option (yet) as @joaomoreno says.

There are certainly a lot of advantages to doing it the way you're suggesting and we've even spoken about it with the Electron team before.

[2018-08-29 19:55] Tyriar commented on #3742
@isidorn would we accept external PRs for this?

[2018-08-29 19:56] chrmarti commented on #57504
I think the UX would be easier to understand if it didn't change behavior when there is a filter value. Of the two modes I favor the TOC being for navigation only, that is very much like a website behaves, so it is very familiar.

[2018-08-29 19:58] Tyriar commented on #56376
I think we need to do something like this https://cs.chromium.org/chromium/src/chrome/installer/linux/rpm/additional_deps?l=23&rcl=21869868a07a3c4a60ee6e31580408d876484f47 to fix this

[2018-08-29 20:01] #57327 closed

[2018-08-29 20:01] #57376 closed

[2018-08-29 20:09] DanaMW commented on #51789
After an hour of testing @djmisterjon 's fix is the most effective. It appears to have worked here (so far) thank you.
Note: On nvida card Control panel, Adding Code.exe Turning FXAA Off.

[2018-08-29 20:15] GandalfSaxe commented on #57423
Hmm ok. I'll try to keep an eye open for under which conditions it happens.

[2018-08-29 20:15] amcasey opened #57542 "[TypeScript] Cancel geterr before any user-invoked operation"
i.e. Extend 558635ad1ba6acf4610db1f3e96076d248c5363e from `change` to requests like `completionInfo` and `completionEntryDetails`.

The corresponding TS issue is https://github.com/Microsoft/TypeScript/issues/19458.

[2018-08-29 20:26] ahejlsberg commented on #57542
FWIW, this issue is really pronounced when you're editing in large files, like `src/compiler/checker.ts` in the TypeScript repro--which I so happen to do a lot! Statement completion will often take as much as five seconds to show up because TSServer is busy computing an error list that will just be discarded anyway.

I'd really appreciate getting this fixed.

[2018-08-29 20:27] octref commented on #57414
@chrmarti Can you show me how does the log look like?

I'm guessing you are seeing logs of this format?

[code]

Then it is expected. This is how logs used to look like.

JSON logs look like this:

[code]

[2018-08-29 20:28] onionhammer commented on #17777
Yes, the explorer is a mess right now with anything more than 1 layer of folders. Has anyone done a PR with any of the proposals here? I saw some really great looking modded explorers in this thread

[2018-08-29 20:31] rebornix commented on #56981
The width of the modified editor was not kept when we adjust the lineDecoration width.

[2018-08-29 20:31] #56981 closed

[2018-08-29 20:31] eli-schwartz commented on #56686
Untrue, Gentoo at least also does this: https://bugs.gentoo.org/579116

There's also an unofficial Fedora repository based on the work of Arch's package: https://copr.fedorainfracloud.org/coprs/mosquito/atom/

:man_shrugging: People want to be able to install Atom on their distro. It's somewhat more popular anyway than the many tons of other based-on-electron software.

[2018-08-29 20:37] joshcsmith13 commented on #57285
Thank you for your help Tyriar.  You got me pointed in the right direction, but it turns out it was simpler(?) than that.  If I tried to launch Powershell from the Start menu, nothing happened.  When I tried running it from cmd, I got "The application has failed to start because its side-by-side configuration is incorrect. Please see the application event log or use the command-line sxstrace.exe t

[2018-08-29 20:50] ddurschlag6river commented on #11396
Some large NPM commands seem to cause the TypeScript server to enter a bad state, solved easily with the "restart typescript server" command. Would be great to use dependsOn to build a task that kicks off this NPM work then restarts VSCode's TS server when complete.

[2018-08-29 20:51] roblourens commented on #54728
`F1000-v117.1.au3` is the expected result right?

[2018-08-29 20:56] garyking opened #57543 "Hide files that aren't in the current workspace from "Go to file""
Sometimes I'll open a file in VSC, such as from `git show <sha1>:file.js | code -`, so the file opens in VSC in the current workspace, while it belongs in `/private/var`. When I close it, it still appears in `Go to file`, so sometimes when I type `file.js` I'll mistakenly choose it, since it might appear as the first file. So VSC tells me the file doesn't exist; then the file disappears from `Go t

[2018-08-29 20:58] nrc commented on #55648
We do prefer a space after a comment, however, we use `//!` for doc comments, so there is precedent for not using a space where there is punctuation which is changing the 'kind' of a comment. On the other hand, these are used `//! words` not `//!words` so `//#region` would still be different.

In general, Rust and it's tools do not have any 'significant' comments and when people have tried to use

[2018-08-29 20:58] roblourens commented on #57535
There are some tips for troubleshooting this sort of issue here: https://github.com/Microsoft/vscode/wiki/Search-Issues#slow-search-rg-running-for-a-long-time-or-consuming-lots-of-cpumemory

But this sounds different than a typical slow search issue. While the search is running, could you open Task Manager and check which processes are using high CPU? Do you see `rg` (the actual search process) or

[2018-08-29 21:03] octref commented on #56925
@connorshea This will indeed be a problem, thanks.

![image](https://user-images.githubusercontent.com/4033249/44814401-71a44a00-ab91-11e8-8f93-17032d0859ca.png)

I updated the logic, so if it's a linting rule, it'll show `[langId].lint.[lintRule]`. Otherwise, it falls back to using `document.languageId`.

![image](https://user-images.githubusercontent.com/4033249/44814476-af08d780-ab91-11e8-9bc3-

[2018-08-29 21:07] roblourens opened #57544 "Loaded Scripts should show paths in original format"
![screen shot 2018-08-29 at 2 02 44 pm](https://user-images.githubusercontent.com/323878/44815542-ab2a8480-ab94-11e8-9006-d81aaee73db4.png)

Chrome devtools:
![image](https://user-images.githubusercontent.com/323878/44815612-d4e3ab80-ab94-11e8-9a51-7d5ae62c6566.png)

I think this should be showing `client%20with%20space` which is the actual path of the URL

And maybe it should be showing the `?bla

[2018-08-29 21:14] Kalonjelen commented on #57540
Note that this happens on both Insiders and generic VSCode.

It also happens with the latest 'correct' release for Node.JS as well as the 10.9 version.

[2018-08-29 21:15] roblourens commented on #54728
Actually it seems like other cases are broken now.

- Have a file `test1.txt`, copy and paste it
- The new file is `test1.1.txt`, in 1.26 it was `test2.txt`

[2018-08-29 21:19] roblourens opened #57545 "Loaded Script tooltip shows path component twice"
Testing https://github.com/Microsoft/vscode/issues/57249

![screen shot 2018-08-29 at 2 08 18 pm](https://user-images.githubusercontent.com/323878/44816162-45d79300-ab96-11e8-8bab-9bd32265fbcd.png)

- https://github.com/Microsoft/vscode-chrome-debug/tree/master/testapp
- Run `gulp buildAndServe`, debug in vscode
- See test2.js in Loaded Scripts, the tooltip shows `client with space` twice in the s

[2018-08-29 21:28] KamasamaK commented on #56719
I found an extension [Version Lens](https://marketplace.visualstudio.com/items?itemName=pflannery.vscode-versionlens) that does this through CodeLens instead of Hover.

[2018-08-29 21:28] roblourens opened #57546 "Loaded Scripts doesn't remove scripts"
Testing https://github.com/Microsoft/vscode/issues/57249

- Follow testapp setup from https://github.com/Microsoft/vscode/issues/57545
- There is always an eval script which comes from the `about:blank` page that chrome-debug navigates to before navigating to the real page. The DA sends a 'removed' event, but it isn't removed from the tree. Usually named like `<eval>/VM21`. Click it.
- Get the mes

[2018-08-29 21:34] andy-ms opened #57547 "Highlight of unused variable treats span end as inclusive"
Issue Type: <b>Bug</b>

* Type:
[code]
* `x` will be underlined as implicitly any, and `x)` will be highlighted as unused.

![unused](https://user-images.githubusercontent.com/19274678/44816923-93ed9600-ab98-11e8-8865-309ceb6096aa.jpg)

* But tsserver is providing the same spans for the implicit-any and unused diagnostics. vscode is treating the former as having an exclusive end, but the latter as

[2018-08-29 21:47] ripvannwinkler commented on #51789
For me at least, the FXAA fix doesn't work. See screenshot:
![2018-08-29 16_46_33-form tsx - client - visual studio code](https://user-images.githubusercontent.com/130069/44817490-36167980-abab-11e8-83c8-dcd4cd9f16d1.png)

[2018-08-29 21:48] connorshea commented on #56925
👍

[2018-08-29 21:52] indrora opened #57548 "Multiple environment profiles (either per-session or per-window)"
VS Code is awesome, and others have taken a liking to it as well. So much so that whole IDEs are being built on top of extensions (such as PlatformIO, vs-code-arudino, Flutter, etc.)

What this means is that I typically have VS Code open three/four times (e.g. one for PlatformIO, one for Arduino, one for Python). While it's awesome I can hotswap between them, PlatformIO makes some changes to the U

[2018-08-29 22:00] Arcanemagus commented on #51789
@ripvannwinkler It looks like you set the global setting, try adding settings for `code.exe` explicitly as specified in the other comments.

[2018-08-29 22:12] lorenjerickson opened #57549 "Formatting HTML documents broken after today's update"
Issue Type: <b>Bug</b>

Open an HTML document, attempt to format it (Alt+Shift+F).  Not that difficult.

I get the following error every time.  The HTML document in question is perfectly valid.

ReferenceError: last_token is not defined
    at m.beautify (c:\Users\loren\AppData\Local\Programs\Microsoft VS Code Insiders\resources\app\extensions\html-language-features\server\dist\htmlServerMain.js:7

[2018-08-29 22:29] #55644 closed

[2018-08-29 22:29] octref commented on #55644
@isidorn Forgot to pull latest grammar into the css extension. This should be fixed now.

[2018-08-29 22:41] RMacfarlane opened #57550 "Links in settings editor don't use high contrast border"
Issue Type: <b>Bug</b>

Related to https://github.com/Microsoft/vscode/issues/56118

- Open settings editor using the high contrast theme
- Focus a link

The outline is the same as normal instead of orange:
![screen shot 2018-08-29 at 3 40 21 pm](https://user-images.githubusercontent.com/3672607/44819488-e4b5bc80-aba1-11e8-8193-ba8049e2bd84.png)

VS Code version: Code - Insiders 1.27.0-insider (47

[2018-08-29 22:45] loicgasser commented on #50417
I can confirm that `files.watcherExclude` is also ignored on Ubuntu 16.04
here is the version I am running:
[code]

[2018-08-29 22:46] D-Jones-1 commented on #57532
I'd like to help with this, or another easier issue. Can someone explain to me what to do and I'll do the work? I can catch on fast. 👍

[2018-08-29 22:46] qzdl commented on #43188
+1, Agree massively with this; Current UI would lead the user to believe that such functionality exists - coming from Atom this was quite a shock haha

[2018-08-29 22:48] fractos commented on #56517
Hitting this issue on a Lenovo T470s (high dpi main display - 2560x1440) since last update to 1.26.* and have been getting notification about terminal renderer being slow. Switching to `dom` renderer type didn't help. I generally run with `--disable-gpu` since I get scroll issues on touchpad and I've tried with and without that. However, starting Code with `--ignore-gpu-blacklist` has completely a

[2018-08-29 22:59] #57550 closed

[2018-08-29 23:00] D-Jones-1 commented on #47332
If there's anything I can do to fix the bug and someone can explain the work to be done, I'd be happy to.

[2018-08-29 23:09] RMacfarlane commented on #56726
@roblourens Should this behavior be limited to Windows? shift+F10 pulls up the context menu on Mac for only this input

[2018-08-29 23:09] roblourens commented on #57364
Good repro steps. I vaguely knew there was something wrong with this.

[2018-08-29 23:09] #57364 closed

[2018-08-29 23:10] roblourens commented on #57249
Tested with the private build

[2018-08-29 23:16] octref commented on #57310
@bpasero There is no native WebSocket object in Node. However the `ws` module has a very shallow dependency tree, so it does not add too much to `vscode-languageserver-node`:

[code]

If we do end up adding WebSocket support built-in for the LS library, `ws` wouldn't be too much a problem.

[2018-08-29 23:18] dls314 commented on #23931
In similar direction as the API asks, I'd like the search results document so I can continue to work with them.
If not an API, it would be nice to be able to export the results to a new document as a built in action.

[2018-08-29 23:20] octref commented on #57532
Hi @D-Jones-1, I would need to do this myself. I suggest looking for `good first issue` issues as a starting point: https://github.com/Microsoft/vscode/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

Here is our docs for Contributing: https://github.com/Microsoft/vscode/wiki/How-to-Contribute

[2018-08-29 23:41] Tyriar commented on #57285
@joshcsmith13 interesting case, glad you got it fixed! 😃

[2018-08-29 23:41] #57285 closed

[2018-08-29 23:45] octref commented on #57532
@D-Jones-1 All issues are assigned to an Assignee, who is the expert for that specific feature area. Just ask them in the issue you'd like to help out.

[2018-08-29 23:47] D-Jones-1 commented on #57532
Thank you.

How can I join the list of beginner Assignees?

________________________________
From: Pine <notifications@github.com>
Sent: 29 August 2018 23:46
To: Microsoft/vscode
Cc: Debbie Jones; Mention
Subject: Re: [Microsoft/vscode] Cover CSS extension with End to End tests (#57532)

@D-Jones-1<https://github.com/D-Jones-1> All issues are assigned to an Assignee, who is the expert for that spe

[2018-08-29 23:50] Tyriar commented on #56686
@eli-schwartz to my knowledge that was never the intent, I'm agreeing that it's a good direction for Electron to go though.

[2018-08-29 23:58] octref commented on #57532
There is no such things such as beginner Assignee. All assignees are VS Code team members.

[2018-08-30 00:00] D-Jones-1 commented on #57532
Ok.. I arrived here from an open sourcing volunteer site.. they sent me to VS code since you needed help..?

________________________________
From: Pine <notifications@github.com>
Sent: 29 August 2018 23:59
To: Microsoft/vscode
Cc: Debbie Jones; Mention
Subject: Re: [Microsoft/vscode] Cover CSS extension with End to End tests (#57532)

There is no such things such as beginner Assignee. All assigne

[2018-08-30 00:05] brettcannon opened #57551 "When python.pythonPath includes ${workspaceFolder}, tasks that use ${config:python.pythonPath} fail to start"
_From @segevfiner on August 28, 2018 22:39_

## Environment data

- VS Code version: 1.26.1
- Extension version (available under the Extensions sidebar): 2018.7.1
- OS and version: Windows 10.0.17134.228 x64
- Python version (& distribution if applicable, e.g. Anaconda): CPython 3.7.0 x64
- Type of virtual environment used (N/A | venv | virtualenv | conda | ...): virtualenv

## Actual behavior

Wh

[2018-08-30 00:05] brettcannon commented on #57551
_From @bhrutledge on August 29, 2018 13:47_

I stumbled upon this issue by way of #1664.

My workspace settings (set automatically, I think):

[code]

What I tried:

[code]

Output:

[code]

Changing `command` to `${workspaceFolder}/venv/bin/python manage.py runserver` works. Just using `manage.py runserver` doesn't work because the virtualenv isn't activated. Of course, if I were using pipenv, I'

[2018-08-30 00:07] indrora commented on #57548
Checked: This is not simply a dupe, but a more meta-bug

[2018-08-30 00:08] octref commented on #57532
If you do want to help fixing bugs
- Read this: https://github.com/Microsoft/vscode/wiki/How-to-Contribute
- Find a bug you want to work on
- Make a fix or ask the bug's assignee (owner) for directions

[2018-08-30 00:09] roblourens commented on #57360
Hey @joaomoreno I'm running into a tree issue in trying to fix this. I have a filter on the settings tree. An element has gone from being included to being filtered out. I call `tree.refresh(element)` with just that one element, and the filter returns false from `isVisible`, but the element is still visible. If I call `tree.refresh()` to refresh the whole tree, the element is "unrendered" like I e

[2018-08-30 00:15] SheepDomination opened #57552 "Markdown Language extension styling"
Who is behind the Markdown Language Features extension for VSCode, I want to know; if the  `markdown.styles` setting can style *markdown* tags using CSS ?

[2018-08-30 00:16] SheepDomination commented on #57552
No Answer.

[2018-08-30 00:17] 3v1n0 opened #57553 "Support filtering tasks activities by file type (language)"
I guess this is related to #1167 but was closed, however I don't think that version 2 of the tasks api properly supports this.

In fact, in my workspace I've multiple files for different languages (scripts and such plus the actual sources), and when hitting my build keybinding I'd like the activity panel to only show the tasks which are relevant for such language (or for the whole project, if any

[2018-08-30 00:17] roblourens commented on #57360
Originally I intended that if you de-modify settings while filtered to `@modified`, they would stay visible. But that was only working because of a bug, and I need to make changes to fix it the right way... I'll open another issue for that.

[2018-08-30 00:27] jesseduffield opened #57554 "Allow to close tabs from left to right rather than in order of most recently focused"
It would be nice if there was a configurable option to close tabs from left to right rather than in order of most recently focused. I've got two notes files I regularly focus, and if I get to a point where I want to effectively wipe the slate clean with my tabs, I want to be able to spam cmd+w until I'm just back to my notes files again. In sublime text this is the default behaviour, but here I'm

[2018-08-30 00:34] llHoYall commented on #55620
The string has only pure ascii character. There is nothing special.
Then, how can I create a npm log file?

[2018-08-30 00:35] SKKOVVURI commented on #56810
Same results like everybody mentioned above.. No output for `code --verbose` with **vscode x64 1.26.1**.
No other instance of **code.exe** running on my Win7. Also restarted the system but didn't help.

[code]

[2018-08-30 00:54] akdor1154 opened #57555 "Python highlighting - raw string literals incorrectly colour escape sequences in some cases"
- VSCode Insiders Version: 1.27.0-insider 47d0584301d16d4efd6618f6f33ef14099c92561 x64
- VSCode Stable Version: 1.26

- OS Version: ubuntu 18.04 x64

Steps to Reproduce:

1. Open/create a python file
2. Write a raw string with some backslashes as a function parameter:
[code]
Observe the backslashes are incorrectly shown as being part of an escape sequence. Raw strings literals have literal backsla

[2018-08-30 00:54] roblourens commented on #57434
`files.encoding` thing was fixed somewhere else.

[2018-08-30 00:54] #57434 closed

[2018-08-30 00:56] darkguy2008 opened #57556 "[HTML] Align attributes of tag only if the line is too long but keep others intact"
I did a search and found this issue https://github.com/Microsoft/vscode/issues/2204 but the bot blocked it and I can't comment. I've tried different HTML alignment settings but they don't seem to match what I'm looking for or maybe I haven't found the right settings?

Here's an example (current code):

![code1](https://user-images.githubusercontent.com/6304136/44823330-10926b80-abbd-11e8-8400-962d

[2018-08-30 01:02] #57355 closed

[2018-08-30 01:03] Shappenny opened #57557 "Terminal/Problems/Output buttons are pushed off-screen on Right"
Issue Type: <b>Bug</b>

# Actual Results
When you click the button "Move to Right" to move the Termnal, Problems, or Output windows to display vertically on the right side of the screen, these windows will hide some of their menu buttons (at the top of this vertical split) if the window is resized too narrowly. This is especially annoying because it can hide the button to switch the windows to the

[2018-08-30 01:05] Shappenny commented on #57557
Ah, this is a duplicate of https://www.github.com/Microsoft/vscode/issues/55944. My apologies.

[2018-08-30 01:05] #57557 closed

[2018-08-30 01:14] hjh302 commented on #57487
发送自 Windows 10 版邮件应用

发件人: Dirk Bäumer
发送时间: 2018年8月29日 21:57
收件人: Microsoft/vscode
抄送: hjh302; Mention
主题: Re: [Microsoft/vscode] 内存占用过高 (#57487)

@hjh302 can you please provide the requested information.
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-30 01:41] #55791 closed

[2018-08-30 01:42] roblourens commented on #57357
I've changed a lot of stuff and haven't seen this, let me know if it pops up again.

[2018-08-30 01:42] #57357 closed

[2018-08-30 02:01] cipchk opened #57558 "Aladdin's lamp is gone"
Version: 1.26.1
Commit: 493869ee8e8a846b0855873886fc79d480d342de
Date: 2018-08-16T18:38:57.434Z
Electron: 2.0.5
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

Steps to Reproduce:

gif:

![a](https://user-images.githubusercontent.com/2987467/44825006-234b8580-ac3b-11e8-8d1b-36e9795eac62.gif)

There is an x-axis scroll bar, the Aladdin's lamp is gone.

Does this issue occur w

[2018-08-30 02:03] MicahZoltu commented on #56690
I run into this problem all the time when trying to delete my `node_modules` folder.  Often this folder has many files, but is relatively small.  As a workaround, is it possible to do a system-wide `node_modules` watcher exclude that will ignore any directory that is part of a tree that includes `nodue_modules`?

[2018-08-30 02:10] braveheart4217 commented on #57500
![screenshot_1](https://user-images.githubusercontent.com/9996013/44825325-b76a1c80-ac3c-11e8-8472-6993d3871b0f.png)

when i press ctrl + shift + f, vscode shows this

[2018-08-30 02:19] leslieeilsel opened #57559 "Bug in extension tab"
- VSCode Version:1.26.1
Commit: 493869ee8e8a846b0855873886fc79d480d342de
Date: 2018-08-16T18:38:57.434Z
Electron: 2.0.5
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64
- OS Version: Windows 10 1803

Steps to Reproduce:
Please see this gif picture:
![error](http://m.qpic.cn/psb?/V12ol6gx2nrILn/p7Feg5GodB7Qp9RgH4F5zKNWCI0leDa2rYkOPmJEvPA!/b/dDEBAAAAAAAA&bo=jgFlAY4BZQECSW0!&rf=v

[2018-08-30 02:35] sbatten commented on #57499
@ds64 do you have any idea on what steps to take to get into a repro-able state?

[2018-08-30 02:36] sbatten commented on #57498
duplicate of #52533

[2018-08-30 02:36] #57498 closed

[2018-08-30 02:49] sbatten commented on #52502
awesome, just verified this as well

[2018-08-30 02:49] #52502 closed

[2018-08-30 02:55] byyxx128 commented on #57487
@hjh302 哥们，别老回复邮件了，他们不是给你发的邮件……你直接上 GitHub 上来看你的 issue。
给你个地址直接点开看。https://github.com/Microsoft/vscode/issues/57487
因为你直接回复邮件格式很乱，中英文夹杂我都看不明白，别说这些老外了……另外他们让你提供资源占用的数据，你截个图发上来，直接用 GitHub 特别方便。
***
✨**You guys needn't translate what I said above, because it's just what I explained to the author in Chinese.**

[2018-08-30 02:57] braveheart4217 commented on #57500
but when i selected in explorer, ctrl + shift + f works

[2018-08-30 03:00] stalkerg commented on #41627
@bpasero this feature keep explorer as file hierarchy explorer, nothing change but it 200% needed.

[2018-08-30 03:05] nealot opened #57560 "[Feature Request] - Add dates to extension view"
Hi, I would like to suggest that the extensions view include some sort of date management to easily see when the extensions were last updated. I think this would be more useful to people than the version number currently being displayed.

When you have 40+ extensions, having to keep track of all their versions is tedious. If we were presented with dates this process would become much simpler.

Thi

[2018-08-30 03:14] ArphonePei opened #57561 "Property "message" of Breakpoint is not updated when sending a Breakpoint Event and property "verified" is true"
- VSCode Version: 1.23.1
- OS Version: Windows Server 2012 R2

Steps to Reproduce:

1. Prepare a non-verified breakpoint which property "message" is not empty.
2. Send a Breakpoint Event from debug adapter to vscode with value of property "reason" is "changed", "verified" is true and "message" is any string.
3. The breakpoint becomes verified, but its message shown in UI is not changed. If I send

[2018-08-30 03:34] #57375 closed

[2018-08-30 03:35] sbatten commented on #57375
@jrieken good catch, looks like native doesn't let you switch menus like that so I've disabled mnemonics at the top level when a menu is open.

[2018-08-30 03:40] #57386 closed

[2018-08-30 03:40] sbatten commented on #57386
idk what label to put here :P

[2018-08-30 03:42] brianherman opened #57562 "Error While Changing Settings Didnt Press Save But error appeared in invaild json"
[code]

https://pbs.twimg.com/media/Dl0W_EpUwAEt9Hv.jpg
1. File >> Preferences >> Settings Ctrl-Comma
2. Paste the following into the Workpaces Settings Editor

[code]
3. Get output error at the bottom.
4. T_T

[2018-08-30 03:49] brianherman commented on #57562
Should I close this I didn't read the error it's actually in the vscode-json-languageservice repo not this one:
[code]

[2018-08-30 03:54] brianherman commented on #57562
[code]
Looks like the null check is there so I guess it will be fixed next month with the next update?

[2018-08-30 03:59] cleidigh commented on #57447
@roblourens
just want to give you update, proving to be a challenge , been working most of the day on this
hopefully I can get it right tomorrow...

[2018-08-30 04:00] sbatten commented on #57399
@joaomoreno sorry, I can't repro this on windows and I don't have access to my Linux VMs while traveling. Also, could you point me to where the nudging down happens so I can add left and right? I was looking in `contextview.ts` but didn't find it.

[2018-08-30 04:09] #57476 closed

[2018-08-30 04:12] sbatten commented on #57476
I reverted to using . instead of \w. which seems to work for underlining. Please verify that they can be triggered with a Russian or Bulgarian layout. No VMs setup while traveling.

[2018-08-30 04:16] RMacfarlane commented on #56030
I'm still able to repro this with the steps above, but only with the keybindings editor open.

Code - Insiders 1.27.0-insider (47d0584301d16d4efd6618f6f33ef14099c92561, 2018-08-29T05:12:15.247Z)

[2018-08-30 04:48] roblourens opened #57565 "Error when window loads with two settings editors"
- Open settings UI
- Split the group so you get two of them
- Reload the window

See this error coming from calling layout on the monaco instance in the search input

[code]

I don't know what's going on, any tips on how to debug this @bpasero or @rebornix?

[2018-08-30 05:01] #57418 closed

[2018-08-30 05:02] roblourens commented on #57418
So anyway... we can extend it in the future if we want to. For now I assert that totalChars > leadingChars and changed it to truncate the match if it's longer than totalChars.

Verification steps, verify that if you call findTextInFiles with previewOptions having totalChars <= leadingChars, you get an error.

[2018-08-30 05:04] clarkkarenl commented on #57233
Fabulous! Thank you @joaomoreno

[2018-08-30 05:09] Nixinova opened #57566 "HTML <big> tags not displaying properly"
Issue Type: <b>Bug</b>

HTML &lt;big&gt; tags are displaying coloured red as if they shouldn't be there but VS is not telling me of any issues with it apart from just the visual issue.

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen

[2018-08-30 05:45] bpasero commented on #57513
@DanTup to start fresh, try with `git clean -xfd` followed by `yarn` and then `yarn watch`

[2018-08-30 05:46] bpasero commented on #56376
@Tyriar where would we add that?

[2018-08-30 05:46] bpasero commented on #57423
Ok

[2018-08-30 05:47] bpasero commented on #56690
@MicahZoltu there was a recent bugfix in this area, can you try if it still reproduces with our insiders release?

[2018-08-30 05:48] bpasero commented on #57565
Adding the grid master @joaomoreno

[2018-08-30 05:50] roblourens commented on #57565
Oh the actual error was `'Cant modify splitview'`, that's the full stack.

[2018-08-30 06:00] bpasero commented on #57522
@waynebloss very sorry for that, I am quite sure this is the same as https://github.com/Microsoft/vscode/issues/56384 which has been fixed meanwhile. You could try it out from our insider release: https://code.visualstudio.com/insiders/

[2018-08-30 06:00] #57522 closed

[2018-08-30 06:02] woshichengxinxin commented on #32461
cpptools takes 8GB space on my poor C disk.

[2018-08-30 06:09] jens1o commented on #57245
Will the release be delayed?

[2018-08-30 06:18] GandalfSaxe commented on #57423
For simplicity I’ll close the issue and then we can reopen if I can provide more clarity.

[2018-08-30 06:18] #57423 closed

[2018-08-30 06:21] simkessy opened #57567 "Intellisense for JS Objects in project?"
Hey, I'm trying to figure out how to get intellisense for javascript objects in my project?

I'm creating one large object like this:

utilities.js
[code]

data.js
[code]

Ideally as I'm working in each file I'd like to be able to type out `obj.data.` and have intellisense applied here but doesn't work.

Allautocomplete plugin gives me too much stuff that's not relevant.

jsconfig.js file doesn't

[2018-08-30 06:38] hippyk opened #57568 "Make os freeze on ubuntu like Chromium"
I solve the problem of Chromium with the help of the answer blow.
https://askubuntu.com/questions/765974/chrome-freeze-very-frequently-with-ubuntu-16-04

I guess it is the same problem on vscode. Can anyone check this?

[2018-08-30 06:44] hjkcai opened #57569 "Support debugging on a Node.js WebSocket source"
Hello, I'd like to ask for a feature. That is to support remote debugging on a Node.js target, which has only a WebSocket link. Currently I have to use chrome devtool to do this, by using this link:

[code]

But if I fill my WebSocket debug link in the `address` field in `launch.json`, it does not work at all.

Thanks!

[2018-08-30 06:47] joaomoreno commented on #57360
Unfortunately, refresh means `rerender the element and refresh its children`. To filter an element you'd have to refresh its parent.

[2018-08-30 06:49] jrieken commented on #57330
Yeah, metadata is needed. When defining a setting we should be able to refer to another setting which defines its default

[2018-08-30 06:50] jrieken commented on #56081
The `vsce` tool does that by default. I run `yarn list --prod --json` to know when runtime dependencies you have and bundles only those. Next step is to not bundle dependencies of excluded/bundled depenencies

[2018-08-30 06:52] chrmarti commented on #56376
https://github.com/Microsoft/vscode/issues/56376#issuecomment-413448431 mentions 1.19.1 as the latest available version.

[2018-08-30 06:53] SanJin-hx opened #57570 "The CSS Language Server server crashed and The JSON Language Server server crashed 1.27.0"
The JSON Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.
t.onDidNotificationChange @ /C:/Program Files/Microsoft VS Code Insiders/resources/app/out/vs/workbench/workbench.main.js:2407

 The CSS Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.
t.onDidNotificationChange @ /C:/Program Files/Microsoft VS Cod

[2018-08-30 06:54] chrmarti commented on #57414
Ok, it's not exactly JSON then. I was wondering if there is a better name than `text`.

[2018-08-30 06:59] testforstephen opened #57571 "Improve DEBUG CONSOLE for program input"
In Java Debug, we found user often uses the DEBUG CONSOLE for program input by mistake. I guess it's because other IDEs like eclipse/intellij both support in-place text input in CONSOLE. Is it possible to improve the DEBUG CONSOLE behavior? Or at least improve the user awareness.

[2018-08-30 07:00] joaomoreno commented on #57399
The nudging happens here: https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/contextmenu/contextmenu.ts#L99

This appears to be a bad place to do it, since it only affects editor context menus. I was able to fix my problem by adding 2 to the `x` coordinate, 1 was not enough. But other menus around the workbench still suffer from the same problem, e.g. explorer.

[2018-08-30 07:02] sandy081 commented on #54806
@eamodio What is the difference when you set the collapsible state of the item to expanded in the beginning. This will expand the element right?

[2018-08-30 07:02] GongT opened #57572 "unzip never reject when zip file invalid"
- VSCode Version: git master
- OS Version: windows 10 x64

Code:
[code]

output:

  **ERR** Error extracting xxx .... (from log.ts:171)

never show `ok all` or `failed`, and no "unhandle promise" warning.

The promise chain must break somewhere. I tried to find it but no success.

----

The rejection is from `extractEntry` function in file `vs/base/node/zip.ts`(line 75).

1. `path.join` will retur

[2018-08-30 07:07] Shurna83 commented on #57329
Thanks for you reply.
I am not sure to exactly understand what you mean, but here are my discoverings:

1. I can see `pino.spec.js` and `pino.spec.js.map` files inside `/target/js` folder
2. I tried to run `.scripts` command but the debugger detaches really fast an I couldn't run it, so I removed the `${file}` argument from my `launch.json` to run all tests. It took a while and I could run `.scrip

[2018-08-30 07:16] ashishmit14 commented on #39939
Facing this same problem here. Feel bad for the commented codes.

[2018-08-30 07:17] eamodio commented on #54806
If I set it to `TreeItemCollapsibleState.Expanded` it will expand the element, but the element won't show up at all until the promise for `getChildren` resolves. So if you are adding an item with lots of children or children that will take a while to load, a user can't even see that item until all the children are ready.

In my case I was trying to add commit search results to GitLens' Results exp

[2018-08-30 07:17] gabzdyl opened #57573 "Select multilpe lines from the same column by holding ALT – like in Visual Studio"
I really need to select multiple lines in text editor, but NOT from column 0. I can do it in Visual Studio by holding ALT on my keyboard. I would be very good to have this feature in VS Code too. Thanks

[2018-08-30 07:23] bjornstar opened #57574 "Intellisense fails to suggest for "assert""
Issue Type: <b>Bug</b>

In a javascript document, when I type assert I get the following suggestions:
- MSFIDOCredentialAssertion
- MSFIDOSignatureAssertion
- RTCIdentityAssertion
- WebAuthnAssertion

None of these suggestions are in any of files in any of the directories in the project.

I expect to see a suggestion for assert from the node library.

I'd like to know where these suggestions are c

[2018-08-30 07:26] joaomoreno commented on #57565
Hmmm :thinking: I can't reproduce with those steps... Any more details?

[2018-08-30 07:27] HeroSuperGaming opened #57575 "Getting error"
- VSCode Version: 1.27 insiders
- OS Version: Windows 10 1803

Steps to Reproduce:

1.Open VS Code
2.On start you will get the error on start

Does this issue occur when all extensions are disabled?: Yes/No Yes
![json_error](https://user-images.githubusercontent.com/28282044/44836332-5263f600-ac3f-11e8-914b-f01d1b26092e.png)

[2018-08-30 07:28] liorbiu commented on #6442
I'm using Raspberry Pi 3b and got this error when I tried to run vscode:
[code]

I installed `electron v2.0.8` and  `electron-mksnapshot v2.0.0`

I installed it by compiling the `master` branch.

[2018-08-30 07:29] derN3rd commented on #57488
I meant it doesn't change anything with the integrated git in VSCode.
Both terminal shells work without any problems.

I will add my .zshrc when I'm at work.

If you have time, I would be available for a remote debugging session today/tomorrow from 10AM - 7 PM CEST

[2018-08-30 07:34] dbaeumer commented on #57575
@aeschli marking as important since it happens in insider.

[2018-08-30 07:35] dbaeumer commented on #57568
If this seems to be Electron related

[2018-08-30 07:38] DarkLite1 opened #57576 "There is no document formatter for 'html'-files installed"
Version: 1.27.0-insider (user setup)
Commit: 98c83caea995f152003c264658c33186d164dfa8
Date: 2018-08-30T05:19:32.583Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

When trying to format a HTML document. it get the following message:

UserSettings.json
[code]

WorkspaceSettings.json
[code]

Default user settings says:
[code]

[2018-08-30 07:39] dustinmoris opened #57577 "Copy with syntax highlighting doesn't work"
Using the latest version of VS Code I don't get the copy with syntax highlighting working as I would expect.

When I copy code in one VS Code window (e.g. C# file) and then paste the code into another VS Code window where I am editing a markdown file then the pasted code is plain text and not HTML formatted. Seems like this feature doesn't work at all, because there is no format whatsoever applied

[2018-08-30 07:39] dbaeumer commented on #57549
@aeschli the second complaining about missing HTML formatter.

[2018-08-30 07:41] dbaeumer commented on #57548
@indrora you can enables / disable extension per workspace.

[2018-08-30 07:43] Deji69 commented on #3742
`is:open created:<=2016-04-01 comments:>10`

According to this query, the number of issues as sought after and neglected as this one is a mere 72. So surely that means it should come somewhat soon..?

[2018-08-30 07:44] hjh302 commented on #57487
Ok, thank you

[2018-08-30 07:46] bruceauyeung opened #57578 "support search history"
after i have searched something through left search panel(Ctrl + Shift + F), i try to find out what keywords i have searched,  but it seems there is no way to do so.
I suggest we should at least record search keywords, and display them using dropdown menu when user focusing search input box, and even further search results per keyword .
I'm using vscode version : 1.26.1
os : ubuntu 1604

[2018-08-30 07:46] hjhyh commented on #57487
![2](https://user-images.githubusercontent.com/41568503/44837312-dc29b880-ac6b-11e8-9db1-9fb7356164b1.PNG)

[2018-08-30 07:47] beardstudio commented on #57266
Genrally, I do ctrl+c to stop the container (in the classical terminal of mac). I tried on the terminal included in vs and here, it doesn't work.

[2018-08-30 07:47] dbaeumer commented on #57531
The language is indicated in the lower right corner (For new files `Plain Text`). Click it and it will open a picker to change the language.

[2018-08-30 07:47] #57531 closed

[2018-08-30 07:48] joaomoreno commented on #57565
There's a whole **visible/focus/active** feedback loop going on here, which causes the editor part to call back into the grid while views are still being added to it. This happens because the settings editor eagerly eats focus when it becomes visible, which seems wrong to me any way:

https://github.com/Microsoft/vscode/blob/051da84e0f85ec291fd2479b665f5c5c2c60ef72/src/vs/workbench/parts/preferenc

[2018-08-30 07:52] dbaeumer commented on #57525
@egamma assigning to you since the problems come from TSLINT.

[2018-08-30 07:53] squelart opened #57579 "Path variables should optionally be available in unix format"
On Windows, I would like to use ${workspaceFolder} in a command that will be run in a unix-like environment (msys).

E.g., ${workspaceFolder} gives something like 'C:\work\prj', but instead I would like to get '/c/work/prj'.

[2018-08-30 07:54] dbaeumer commented on #57521
@MalignoAnubis can you please provide the tile and description in English.

[2018-08-30 07:54] sandy081 commented on #54308
@bpasero `prepareActions` is messing up the order.

[2018-08-30 07:54] isidorn commented on #3742
@Tyriar depends on the PR quality - so if nice clean and easy will consider it. In the meantime there is the extension which users can use.