[2019-10-20 19:43] ArturoDent commented on #82935
Try `$$$1`

[2019-10-20 19:49] Overload119 commented on #82908
Some more things I've been trying and I scour the surprising number of issues related to this.

- I'm able to access this [image](https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/Microsoft.VisualStudio.Services.Icons.Default) in Chrome.
- I've used TunnelBear to use a Proxy and VSCode shows the same error.

Running the command: `Developer: Show Logs`

[2019-10-20 20:00] ArturoDent commented on #82921
Funny that only happens when the "Release Notes" is the active editor.  Seems to work fine elsewhere even if an extension homepage is the active editor.  Weird.

[2019-10-20 20:02] jcollum-autodesk commented on #82856
The system/extension information is probably the culprit. Maybe those should have a copy button for that information that shows after the issue is submitted?

[2019-10-20 20:04] Alfred75 commented on #82925
this is not a dup. It's not the command (as in build, restore, etc...) that is not found but dotnet itself

[2019-10-20 21:00] abhi-v97 opened #82939 "VS Code hangs if you kill terminal after using cls command on cmd."
Issue Type: <b>Bug</b>

Open Terminal. Enter cls command. Try to kill terminal. VS Code hangs consistently for me.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz (4 x 2400)|
|GPU Status|2d_canvas:

[2019-10-20 21:06] Gameghostify commented on #82864
@yume-chan

Thanks, I didn't see that one.

Closing this issue since this is already discussed in #81102 (and an Electron issue)

[2019-10-20 21:06] #82864 closed

[2019-10-20 21:09] joeflateau commented on #82935
huh @ArturoDent that does work. I thought I had tried that already. I'll leave this open because I would expect `\$` to also work. But thank you!

[2019-10-20 21:23] mattacosta opened #82940 "TS status can still show in status bar when going from TS File -> Output Panel -> Settings Editor"
Issue Type: <b>Bug</b>

The `onDidChangeActiveTextEditor` event does not seem to be fired when the previous editor was the output panel and the new editor is `undefined`, resulting in slightly buggy UI behavior.

**Steps to reproduce:**
1. Open a typescript file and the settings page.
2. Show the output panel.
3. Select the typescript file, then click somewhere in the output panel, then select the

[2019-10-20 21:32] JCKodel opened #82941 "Explorer search is useless with collapsed folders"
- VSCode Version: 1.39.2
- OS Version: Windows 1903

Steps to Reproduce:

1. Open any workspace or folder
2. Make sure all folders are collapsed
3. Click on explorer, then try search for a file name
4. It won't find the file nor mark or decorate anything to give us a hint where the file is

Does this issue occur when all extensions are disabled?: Yes/No
Yes

Expected behavior:
a) Filter out all fi

[2019-10-20 21:42] lukacg commented on #82519
Sorry I didn't answer you earlier.
The problem occurs only when I'm ussing VSC.
But the problem temporarily disappeared as the project progressed.
I had trouble using "Fraps" but I will do my best to record this
problem, if it comes up again.

On Tue, Oct 15, 2019 at 5:13 AM Rob Lourens <notifications@github.com>
wrote:

[2019-10-20 21:42] thkrishn commented on #81391
thanks @bpasero ; If I have to be really picky its still a little blurry
But its not as bad when I opened this issue

My base line comparison is with vscode; I don't see any blur.

[2019-10-20 22:07] roblourens commented on #82919
Please file this issue on the vscode-python extension's repo with more details: https://github.com/microsoft/vscode-python/issues

[2019-10-20 22:07] #82919 closed

[2019-10-20 22:07] roblourens commented on #82920
You can ignore the deprecation warning. If there is a problem with git not working, please give more details.

[2019-10-20 22:09] roblourens commented on #82860
What language? What extensions are you using?

[2019-10-20 22:11] roblourens commented on #82880
Please file this on the repo for the Java extension (or the Spring Boot Dashboard extension)

[2019-10-20 22:11] #82880 closed

[2019-10-20 22:12] roblourens commented on #82922
Need more details

[2019-10-20 22:14] roblourens commented on #82923
Please file this on the repo for the C++ extension: https://github.com/microsoft/vscode-cpptools

[2019-10-20 22:14] #82923 closed

[2019-10-20 22:15] roblourens commented on #82926
Please file this on the repo for the Go extension: https://github.com/microsoft/vscode-go

[2019-10-20 22:15] #82926 closed

[2019-10-20 22:15] roblourens commented on #82927
Need more details

[2019-10-20 22:15] #82927 closed

[2019-10-20 22:17] roblourens commented on #82841
Hm, do they work in the normal editor?

[2019-10-20 22:20] GandalfSaxe commented on #15840
@bpasero But how is this an acceptable default for the Mac though? See my comment above.

[2019-10-20 22:20] roblourens commented on #82936
You can check this page to see if there are any relevant tips: https://github.com/microsoft/vscode/wiki/Keybinding-Issues

[2019-10-20 22:22] SteveChinburg commented on #82927
The Vsc terminal doesn’t open in VSO a second terminal opens,

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rob Lourens <notifications@github.com>
Sent: Sunday, October 20, 2019 5:17:58 PM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Steve Chinburg <steve_chinburg@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vscode] terminal

[2019-10-20 22:23] roblourens commented on #82937
Is it not on your PATH? Do you know where it's supposed to be added to your PATH (bashrc, profile) and why it's missing?

[2019-10-20 22:25] roblourens commented on #82747
That button should launch vscode. Not sure which textbox you are talking about.

[2019-10-20 22:27] #82519 closed

[2019-10-20 22:27] #82532 closed

[2019-10-20 22:28] #82654 closed

[2019-10-20 22:29] #82681 closed

[2019-10-20 22:29] #82699 closed

[2019-10-20 22:29] #82721 closed

[2019-10-20 22:30] #82779 closed

[2019-10-20 22:30] #82785 closed

[2019-10-20 22:30] #82796 closed

[2019-10-20 22:31] #82798 closed

[2019-10-20 22:31] #82818 closed

[2019-10-20 22:31] #82820 closed

[2019-10-20 23:30] verhovsky opened #82942 "Option to hide status bar items if their value is the expected one."
I don't need to be told that my file is UTF-8. I only care when it's *not* encoded in UTF-8.

I would like a setting to tell VS Code to hide any StatusBarItem when its value is the "correct" one.

Other suggestions:
- Go: you don't need to be told you're using 8 width tabs.
- Python: if your file is `Spaces: 4` you wouldn't show it and if your interpreter is the latest one you'd hide the `Python 3

[2019-10-20 23:49] johnquintal commented on #82850
Apologies for commenting on a closed issue. But I can reproduce this so I reinstalled VSCode. The problem persisted. With ALL extensions disabled, the problem goes away. I turned off all my extensions and turned them on one by one to determine if it was an extension causing the problem.

In MY case it was, at least: Pivotal.vscode-manifest-yaml@1.11.0 extension. As @evheath does not appear to have

[2019-10-21 00:59] yukiChow commented on #72038
same with me, and even if I change to use gitBash as external terminal, still pop up powershell window

[2019-10-21 01:14] CHN-STUDENT commented on #82841
@roblourens hello roblourens, the textbox seems work normorlly on normal editor but can not in extenstion search or setting search (can not use the command hot key)
![image](https://user-images.githubusercontent.com/21209416/67170209-e2847200-f3e2-11e9-973c-5b02e74965ee.png)

[2019-10-21 01:37] NotWearingPants commented on #82008
Now that `cursorRedo` command was merged (PR#82620) it also should have its label renamed from "Soft Redo" to "Cursor Redo".

[2019-10-21 01:43] NotWearingPants commented on #82535
This awaits resolution of #82929

[2019-10-21 01:47] bonaluo opened #82943 "The code check will contain file that does not exist in the current folder"
- VSCode Version:latest
- OS Version:

Steps to Reproduce:

1. code a folder
2. open a file that no exist in current folder with vscode
3. code check will show error about the file that no exist in current folder

Does this issue occur when all extensions are disabled?: Yes/No

[2019-10-21 01:50] chang-shuai opened #82944 "在工作区只打开一个项目时, git功能失效"
Issue Type: <b>Bug</b>

在工作区只打开一个项目时, git功能失效

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8500 CPU @ 3.00GHz (6 x 3000)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3

[2019-10-21 02:31] ZhangPuXi opened #82946 "Git Merge Shortcuts Disappear in Some Conditions"
- VSCode Version: 1.39.2
- OS Version: Mac OSX

When I merge my code, there's a conflict in a js file.

[code]

And the Accept Incoming Changes button is disappear.

When I start manually fix the conflict, just delete the first <<<<<<< HEAD line, the shortcuts is appear. I'm not sure whether it is a bug. Just report for your information.

[2019-10-21 02:44] tcitr-m commented on #82914
thanks, In the **launch.js** file , ```\\``` can be changed to```/```

[2019-10-21 02:51] tcitr-m commented on #82914
Why is the default `\\`

[2019-10-21 03:09] NotWearingPants commented on #5438
VSCode can hang and crash on this glob regex when it tries to select a language (`languageSelector.ts`) on not-so-extreme conditions:

if I have a file at `C:\aaaa\aaaaa\aaaaaaa\aaaaa\aaaaaaaa\aaaaaa\aaaaaaaaaaa\aaa\aaaaaaaaaaaaa\aaaaaa\aaaaaaaaaaa` and I open it by pasting the following in the <kbd>Ctrl</kbd>+<kbd>P</kbd> palette:
`C:\\aaaa\\aaaaa\\aaaaaaa\\aaaaa\\aaaaaaaa\\aaaaaa\\aaaaaaaaaaa\\a

[2019-10-21 03:11] b-hayes opened #82947 "CTRL+LF is not supported in WSL and should not be used."
Issue Type: <b>Bug</b>

I am editing bash scripts and profiles that are breaking.

I have WSL supposrt installed I amd launching vs code from WSL to edit the files yet it is adding windows line endings and breaking everything.

This makes vscode unsuable.

I really do not understand why windows needs to add Ctrl+LF in everyhting when It understands using just LF.

Windows should follow the standar

[2019-10-21 03:37] roblourens commented on #82943
Need more details, what language are you using? Does this happen when you start vscode with `--disable-extensions`? If so, then this is an issue with an extension.

[2019-10-21 03:38] roblourens commented on #82944
Please give more details: Exactly what are you doing, what happens, and what did you expect to happen?

[2019-10-21 03:38] #82944 closed

[2019-10-21 03:40] roblourens commented on #82947
You can configure this with the `files.eol` setting, otherwise it detects what the file is using already.

[2019-10-21 03:51] bonaluo commented on #82943
the language is JAVA. for  example,we can open rencent file that not belongs to current project

发自我的小米手机
在 Rob Lourens <notifications@github.com>，2019年10月21日 11:40写道：

Need more details, what language are you using? Does this happen when you start vscode with --disable-extensions? If so, then this is an issue with an extension.

—
You are receiving this because you authored the thread.
Reply to t

[2019-10-21 03:55] sbatten commented on #82921
/duplicate https://github.com/microsoft/vscode/issues/68335

[2019-10-21 03:55] #82921 closed

[2019-10-21 04:46] marclundgren opened #82949 "multiple redundant dock items"
Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:00.827Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 19.0.0

Steps to Reproduce:

I haven't been able to isolate the steps to reproduce the problem. I did a fresh OS X install yesterday, downloaded vscode first and this is already happening.

Does this issue o

[2019-10-21 05:09] qliang27 opened #82950 "Can't input any words or number"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。
Issue Type: <b>Bug</b>

Can't input any words or number

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz (4 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enable

[2019-10-21 05:16] mjbvz opened #82951 "Custom editor edit, undo and save scenarios"
List of edit, undo, and save scenarios and how they relate to custom editors. The exact UX detailed is aspirational and may change. For each scenario, I've also noted what would be required at a high level to implement it.  The goal with the custom editor implementation is to match VS Code's UX around text based editors as much as possible.

This document was created to inform the design of the cu

[2019-10-21 05:36] bpasero commented on #82910
I wonder if this issue is reproducible when running VSCode in a browser or bare Electron. For that purpose, can you please:
* install `git` if not installed already (https://git-scm.com/)
* install `node.js` if not installed already (https://nodejs.org/en/download/)
* install `yarn` if not installed already (https://yarnpkg.com/lang/en/docs/install)
* `git clone https://github.com/bpasero/vscode-r

[2019-10-21 05:38] Ardeshir81 opened #82952 "SMC: auto-wrap option for commit description"
HI! I think it would be nice to add an `auto-wrap` option to tell VSCode "Please automatically put a new line on my commit description whenever current line I am typing exceeds `git.inputValidationLength` characters".

[2019-10-21 05:38] bpasero commented on #81391
@alexandrudima is there a setting for the editor that could have an impact? I remember we had something to disable translate3d, but I am not sure we use that anymore.

[2019-10-21 05:39] bpasero commented on #82898
Possibly a candidate to turn into a modal dialog. We cannot change notifications to take focus, that would be quite horrible with the amount of notifications that popup.

[2019-10-21 05:39] #82934 closed

[2019-10-21 05:40] bpasero commented on #15840
@GandalfSaxe if you can come up with a good keybinding, fire up a PR and I can have a look.

[2019-10-21 05:41] #82942 closed

[2019-10-21 05:41] be5invis commented on #82910
@bpasero I cannot reproduce either. Neither Chrome nor bare Electron remember the window position and size if the window is snapped, so after a relaunch it would be placed as a normal window.

[2019-10-21 05:41] bpasero commented on #75111
@up-to-you would you be willing to transform this issue into a bug against Chrome (crbug.com) then? I think it would be great if you could file it as there are possibly some questions being asked by the Chrome team about your setup.

[2019-10-21 05:45] be5invis commented on #82910
UPDATE: Chrome seems remember the window size and placement if it is snapped, so Win-Right does not too. I suspect it applies to all Windows applications...

[2019-10-21 05:52] buggymcbugfix commented on #33752
Anything happening on this front?

[2019-10-21 05:53] Air-EL opened #82953 "Export text from terminal"
Issue Type: <b>Feature Request</b>

Sometimes, we may need to export the results of running the program as text to help us analyze the program's problems.
![image](https://user-images.githubusercontent.com/56814839/67179786-13c46880-f40a-11e9-9235-2af9b49fc95c.png)

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.183

[2019-10-21 05:55] buggymcbugfix commented on #51253
This would be very useful. I really dislike having to move my mouse pointer and wait for the popup to appear. More info and great screenshots in this issue: https://github.com/microsoft/vscode/issues/57466.

[2019-10-21 05:57] Dj-jom2x commented on #82892
thats all i think heres the full log xD

[code]

[2019-10-21 06:16] bpasero commented on #82427
I reported this as https://github.com/paulmillr/chokidar/issues/922 and we have to wait for an official fix. Until then, excluding this directory is the correct workaround.

[2019-10-21 06:17] bpasero commented on #82910
VSCode is built on top of a large number of components that are not maintained by the VSCode team directly. This includes:
* [Electron](https://github.com/electron/electron) as the cross platform UI framework
* [node.js](https://github.com/nodejs/node) for most integration into the OS
* [Chromium](https://bugs.chromium.org/p/chromium/issues/list) as runtime and rendering engine (HTML, CSS, JS)
* a

[2019-10-21 06:17] #82910 closed

[2019-10-21 06:22] qliang27 commented on #82950
I found the software use vim's extension, I uninstall it, then it works.

[2019-10-21 06:22] #82950 closed

[2019-10-21 06:24] ashjas commented on #82656
As i mentioned, this error also appears without any extensions loaded.
secondly, there is no extension needed to browse `\\networkpath` on windows right??
So i have opened a workspace/folder that is on this network path.
And when i search anything, i get the error.

[2019-10-21 06:45] JanHelbling commented on #82700
Same Problem

[2019-10-21 07:00] jrieken commented on #82940
That's the defined behaviour. From the doc

		 * that currently has focus or, when none has focus, the one that has changed
		 * input most recently.

[2019-10-21 07:00] t-mart commented on #80923
I share the same concern as the OP.

Until the fix (optimistically speaking) is implemented, is there a way to access/update these expansions ourselves?

[2019-10-21 07:01] bpasero commented on #81391
@thkrishn sorry can I ask you to try to reproduce again from `vscode-runner`, it would be great to know if you see this in bare Electron as well. What is the build problem you see when running `yarn`?

[2019-10-21 07:03] jrieken commented on #5438
@NotWearingPants Can you attach a profile so we know it's this or another issue? Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2019-10-21 07:05] jrieken commented on #10266
@bobbrow There is nothing that you need to change because c/cpp (see https://github.com/microsoft/vscode/issues/10266#issuecomment-543217382) uses the full word range, while most languages only use the word range till the current position. Tho, having the setting also means that for your extension the default has changed and you can use configuration default (also see https://github.com/microsoft/

[2019-10-21 07:10] jrieken commented on #53034
Yeah, breadcrumbs supports this as well, it's the same settings but prefixed with "breadcrumbs.filteredTypes"

[2019-10-21 07:14] banothurameshnaik opened #82954 "Configure trust domains not working from Preview of Readme file"
Issue Type: <b>Bug</b>

Open preview of any `Readme.md` file (Shortcut **ctrl+shift+v**)

and click on any links from it, then following pop-up shows

![image](https://user-images.githubusercontent.com/25602365/67183933-36ea1a80-f400-11e9-8831-db7bef724e45.png)

But even we click on Configure Trust domains, it won't open trust domain list to add

**It simply ignores and nothing happens**

Please c

[2019-10-21 07:41] harishankarsingh opened #82955 "pdf file is not opening"
I have  to open a pdf file in vs code but it is showing "The file is not displayed in the editor because it is either binary or uses an unsupported text encoding

[2019-10-21 07:43] alexandrudima commented on #82607
AFAIK the extensions do not block entirely the rendering of the menus, of the status bar, etc.

[2019-10-21 07:46] alexandrudima commented on #82667
Ok, it seems that you have a similar issue as #70482 . `` ctrl+` `` is simply reserved and used by the IME, therefore the keybinding does not reach VS Code.

[2019-10-21 07:46] #82667 closed

[2019-10-21 07:48] #82955 closed

[2019-10-21 07:53] alexandrudima commented on #2075
I appreciate that suggestion, but unfortunately I will not be tweaking any default keyboard shortcuts in the foreseeable future, unless there is a really big problem. The reason is that we will very likely end up irritating tens of thousands of users who maybe got used to the old keybinding doing the old thing. I have learned (the hard way) that annoying so many folks for not a strong reason is no

[2019-10-21 07:56] jrieken commented on #82874
Hm, that's interesting and tricky. The feature is implemented by either extending or cropping the provided range... This is the unwanted consequence of that and I am not sure how to handle this...

[2019-10-21 07:56] ereichl commented on #82435
I have the same issue with macOS Catalina 10.15 (19A602)

[2019-10-21 07:58] #43315 closed

[2019-10-21 07:59] #61937 closed

[2019-10-21 07:59] #71631 closed

[2019-10-21 08:01] Alexzanderk opened #82956 "Strange debugger work"
Issue Type: <b>Performance Issue</b>
Hi, please look at! As for me, it's strange behavior form debugger work on the first time and other times.
At the bottom I pinned video
https://youtu.be/W8pXzo_AZ3s

VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:31:32.854Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CP

[2019-10-21 08:11] xroche opened #82957 "Doxygen/Javadoc commands tooltip are wrong"
Issue Type: <b>Bug</b>

The `C++` inline comment `@param`, `@comment`, `@return` etc. are taken as if they were some global variables.

As an example, hovering over a `@param` keyword will yield a lot of global namespace matches (such as `param_type std::uniform_int_distribution<_IntType>::param() const`)

In addition to this issue, `@comment` is also marked in red for some reason.

![image](https

[2019-10-21 08:11] isidorn commented on #82941
Dup of https://github.com/microsoft/vscode/issues/66971

[2019-10-21 08:11] #82941 closed

[2019-10-21 08:11] whiter001 opened #82958 "editor.action.moveCarretRightAction when trigger by alt+l, the line text display disordered"
This problem is likely to recur.

[2019-10-21 08:11] isidorn commented on #82916
Dup of https://github.com/microsoft/vscode/issues/67620
And another issue

[2019-10-21 08:11] #82916 closed

[2019-10-21 08:13] #1472 closed

[2019-10-21 08:26] AsceticBoy commented on #82700
Same Problem

[2019-10-21 08:31] DanTup commented on #82676
This happens on GitHub Actions macOS too, not only Travis.

[2019-10-21 08:33] xuanxuan321 opened #82959 "gray out unused variables in jsx is not working in the version 1.39.2"

[2019-10-21 08:35] #30419 closed

[2019-10-21 08:37] isidorn commented on #82863
@roblourens good catch, thanks for filing the issue.

[2019-10-21 08:37] #82863 closed

[2019-10-21 08:39] #82928 closed

[2019-10-21 08:39] weinand commented on #82928
DAP can be traced in VS Code easily by registering a `DebugAdapterTrackerFactory` via the `vscode.debug.registerDebugAdapterTrackerFactory` method.

See section "Finalized Debug Adapter Tracker API" in https://code.visualstudio.com/updates/v1_30.

Please free free to create a DAP tracing extension and make it available via the marketplace.

[2019-10-21 08:44] #82077 closed

[2019-10-21 08:45] #82083 closed

[2019-10-21 08:45] #82129 closed

[2019-10-21 08:45] #82151 closed

[2019-10-21 08:45] #82158 closed

[2019-10-21 08:45] #82167 closed

[2019-10-21 08:45] #82207 closed

[2019-10-21 08:45] #82239 closed

[2019-10-21 08:45] #82248 closed

[2019-10-21 08:46] #82328 closed

[2019-10-21 08:46] dmstern commented on #75651
@joaomoreno Wow, very cool! This is even better than #75767.
I'll close my PR.

[2019-10-21 08:46] #75651 closed

[2019-10-21 08:46] #82335 closed

[2019-10-21 08:47] #82367 closed

[2019-10-21 08:47] #82371 closed

[2019-10-21 08:47] #82402 closed

[2019-10-21 08:47] #82417 closed

[2019-10-21 08:47] #82429 closed

[2019-10-21 08:47] #82458 closed

[2019-10-21 08:47] #82459 closed

[2019-10-21 08:48] jrieken commented on #82482
This is not the right place to find an answer.

[2019-10-21 08:48] #82482 closed

[2019-10-21 08:48] #82572 closed

[2019-10-21 08:51] weinand commented on #45285
You can use the [DebugAdapterTracker](https://github.com/microsoft/vscode/blob/0bf0936b819aec3789ed9d95b6a1d34868f825db/src/vs/vscode.d.ts#L9085-L9110) API for this.

[2019-10-21 08:52] #45285 closed

[2019-10-21 08:53] alexr00 commented on #82938
Thanks for catching and reporting!

[2019-10-21 08:54] #82938 closed

[2019-10-21 08:55] weinand commented on #63324
@quoctruong when a user closes VS Code, debug sessions still running should be terminated automatically by VS Code.

[2019-10-21 08:55] #63324 closed

[2019-10-21 08:55] #82877 closed

[2019-10-21 08:57] alexr00 commented on #11663
This would also be solved by programatic problem matching, which is tracked by https://github.com/microsoft/vscode/issues/59337

[2019-10-21 08:59] chrmarti commented on #82946
The merge conflicts appear to overlap. Can you provide step-by-step instructions on how to arrive at the above content?

[2019-10-21 09:01] isidorn commented on #82931
Thanks for the feature request.
I agree with the initial comment. However we need to better define what to do for `Debug: Start Without Debugging`. Since the default should not be that it opens and closes after 1 second. So I think Debug: Start Without debugging should by default not close it.

Once we agree on the desired behavior I would also be open to a PR to fix this. Thus adding help-wanted.

[2019-10-21 09:03] isidorn commented on #82894
Thanks for the feedback. However we would not rename the action now since users got used to it. ANd I htink revert file is not such a bad name now.
Thus closing as designed. Thanks for understanding

[2019-10-21 09:03] #82894 closed

[2019-10-21 09:06] isidorn commented on #82897
@stefan-toubia thanks for the feature request. However I think this can be achieved via `"files.exclude"` setting. And an extension can potentially add a context menu command that ouwld modify this setting underaneath.

[2019-10-21 09:06] #82897 closed

[2019-10-21 09:08] ganesanviji opened #82960 "How to add the custom "when clause" in vscode"
Hi,

Currently I am developing the simple add-in for the .NET Core 3.0 web projects. In this case, I want to enable the add-in if the .net core 3.0 projects and if the project is not the .net core 3.0 project, my custom add-in will not be shown.

I have googled regarding vscode add-in extension and the found the default when clause for vscode like "when": "explorerResourceIsFolder" etc. But I want

[2019-10-21 09:10] sohailrajdev97 commented on #82829
@alexr00. I would like to take this up. Any leads for adding this would be appreciated.

[2019-10-21 09:12] aeschli commented on #82456
Also, can you set `"html.trace.server": "messages"` and look at the `Output view, HTML Language Server tab` while you toggle the editors?
![image](https://user-images.githubusercontent.com/6461412/67192287-9988e980-f3f3-11e9-8a58-fd30854132ae.png)

You should see the folding ranges request every time you switch between the html editors.

[2019-10-21 09:13] isidorn commented on #82677
They should both be modal dialogs since they are user initiatied IMHO.
They should not be notifications.

Especailly since me as a User am now surprised by not getting feedback when cehcking for udpates (the notification is on the bottom right corner of my screen which I easily miss)

[2019-10-21 09:18] chrmarti commented on #81397
Could this be caused by the Electron 6 update? /cc @bpasero

[2019-10-21 09:19] joaomoreno opened #82961 "Occurrences markers in scrollbar are indistinguishable from brackets"
With the introduction of highlighting the nearest wrapping brackets I've hit this situation many times in which I believe there are more occurrences of a variable than there actually are. This is because there is no distinction in the scrollbar between the other occurrences of the currently selected variable and the nearest wrapping brackets.

In the following screenshot, my variable only has one

[2019-10-21 09:19] joaomoreno commented on #82961
One idea is to color the brackets differently. Another is to omit them from the scrollbar **if** the cursor is not on top of a bracket.

[2019-10-21 09:20] actboy168 commented on #82143
Thasks.It's fixed.

[2019-10-21 09:21] isidorn commented on #81397
@chrmarti good point. Yes, the timing works perfectly, since @StephenWeatherford mentinoed it stopped ocurring when we reverted back to previous electron, and now reprots it happens again when we updated again to 6.

[2019-10-21 09:22] joaomoreno commented on #82203
@timdang What do you mean? What are the steps to reproduce?

[2019-10-21 09:22] #81493 closed

[2019-10-21 09:22] isidorn commented on #82143
Thanks for letting us know, adding verified label.

[2019-10-21 09:23] joaomoreno commented on #82677
I hate going back and forward on stuff like this, but I do agree with @isidorn. Reverting and moving forward to @sandy081.

[2019-10-21 09:25] joaomoreno commented on #82900
@ntatko What is the SHA1 checksum of that file? What is its full byte size?

[2019-10-21 09:26] joaomoreno commented on #82893
You should file this issue to both extensions instead.

[2019-10-21 09:26] #82893 closed

[2019-10-21 09:28] joaomoreno commented on #82869
Why does this keep breaking.

[2019-10-21 09:30] #82848 closed

[2019-10-21 09:30] #77837 closed

[2019-10-21 09:30] #82849 closed

[2019-10-21 09:31] aeschli commented on #58630
Yes, since September we now warn if an unknown command line argument is used.
Duplicate of #78831

[2019-10-21 09:31] #58630 closed

[2019-10-21 09:33] joaomoreno commented on #82908
Is there anything special about your network?

[2019-10-21 09:35] chrmarti commented on #81397
/cc @deepak1556 for the Electron 6 lead.

[2019-10-21 09:36] ZhangPuXi commented on #82946
1. Copy the above code to a new js file. And all you can see is just raw code.

![image](https://user-images.githubusercontent.com/15119639/67194063-fb177b00-f428-11e9-84b0-ae267a6cdd23.png)

2. Remove the first appearance of <<<<<<< HEAD, and you can see the convenient buttons now.

![image](https://user-images.githubusercontent.com/15119639/67194126-18e4e000-f429-11e9-8733-5dc457df6479.png)

I g

[2019-10-21 09:36] joaomoreno commented on #82949
@bpasero Do you know what it means when icons appear to the right of that separator?

[2019-10-21 09:37] chrmarti commented on #82715
/duplicate #19491

[2019-10-21 09:37] #82715 closed

[2019-10-21 09:39] chrmarti commented on #82685
/duplicate #78887

[2019-10-21 09:39] #82685 closed

[2019-10-21 09:40] bpasero commented on #82949
/duplicate https://github.com/microsoft/vscode/issues/60579

[2019-10-21 09:40] #82949 closed

[2019-10-21 09:41] joaomoreno commented on #82290
Cool. But @isidorn, this doesn't seem to nail the exact issue reported by the user since it was originally reported that:

[2019-10-21 09:41] joaomoreno commented on #82435
cc @bpasero @deepak1556

[2019-10-21 09:42] alexr00 commented on #82829
@sohailrajdev97 I would start by looking at all the references to `FileLocationKind.Relative` in the code base and seeing where things will need to be changed around there.

I think that the problem matcher `filePrefix` will need to be changed to be a `string[]`. https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/contrib/tasks/common/problemMatcher.ts#L135

`getResource` in problemMa

[2019-10-21 09:43] joaomoreno commented on #82861
You're going to have to provide more information than that... what are the **exact** steps to reproduce what you are seeing?

[2019-10-21 09:44] joaomoreno commented on #82873
What does `Git: Show Git Output` show?

[2019-10-21 09:45] reinvanimschoot commented on #82109
Back in Mojave, this fix used to work fine but it doesn't anymore. Is there any other possible solution to this issue?

[2019-10-21 09:45] joaomoreno commented on #82465
/duplicate #47841

[2019-10-21 09:45] #82465 closed

[2019-10-21 09:52] alexr00 commented on #82806
@sherryyshi thanks for trying out the proposed API!

I update the task provider extension sample to see if I could get the same error: https://github.com/microsoft/vscode-extension-samples/commit/0d75c547555a098f8438007c39ca432f819c5354

I didn't see any errors though. A few ideas:
Did you update your package.json?
Maybe try a `git clean -xfd` then `npm install` again.
Not sure how this could resu

[2019-10-21 09:54] alexr00 commented on #82959
Can you please provide a copy/pastable example and a screen shot? Does this issue still occur if you disable all extension?

[2019-10-21 09:54] chrmarti commented on #69955
@bpasero Would you move to the new tree or QuickInput (which uses a list)?

[2019-10-21 09:56] chen-kosile opened #82962 "deepin终端消失"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2019-10-21 09:57] wengshenggui commented on #82820
![2019-10-18_152139](https://user-images.githubusercontent.com/28017224/67195797-35364c00-f42c-11e9-94a3-b1c816896a01.png)

[2019-10-21 09:59] #82957 closed

[2019-10-21 10:01] bpasero commented on #82435
Isn't this a duplicate of https://github.com/microsoft/vscode/issues/74782 ?

[2019-10-21 10:01] #82962 closed

[2019-10-21 10:01] alexandrudima opened #82963 "No diff presented when whitespace differences are on"
fyi @bpasero

* original:
[code]

* modified:
[code]

[2019-10-21 10:02] bpasero commented on #69955
@chrmarti ideally quick open would use the quick input widget. My understanding is that all of the features quick open supports are surfaced on quick input too, but maybe I am wrong. I do not think we would want tree support for quick open, so the list seems fine to me.

One thing making this a bit harder is the fact that we need to support the standalone editor as well, so the quick input widget

[2019-10-21 10:04] joaomoreno commented on #80741
@frobinsonj I think the best we can do is exactly what you've done with `!== 'Dead'`. Feel free to submit a PR!

[2019-10-21 10:04] mattacosta commented on #82940
That is not what happens in practice. When going from the typescript editor directly to the settings page, an event is triggered because the value changes to `undefined`. Therefore, when going from the output editor to the settings page, either the same event should be triggered or the first event was triggered in error. Either way there's a bug.

[2019-10-21 10:04] joaomoreno commented on #82952
#2718

[2019-10-21 10:04] #82952 closed

[2019-10-21 10:05] joaomoreno commented on #82949
YES! I've added the `mac` label to that issue, that's why I couldn't find it...

[2019-10-21 10:06] #82963 closed

[2019-10-21 10:06] joaomoreno commented on #82435
It could be... but might also be a separate issue regarding update..

[2019-10-21 10:11] JanHelbling commented on #82700
I've the same Problem with Linux: (Unexpected token $ in JSON at position 113), for my this .vscode config is working:  [vscode.zip](https://github.com/microsoft/vscode/files/3750124/vscode.zip)

[2019-10-21 10:15] bpasero commented on #82435
@MarshallOfSound heard this before? maybe Squirrel related.

[2019-10-21 10:15] gjsjohnmurray opened #82964 "'(read-only)' suffix no longer added to tab labels of files served by readonly filesystem"
Issue Type: <b>Bug</b>

Looks like the work in https://github.com/microsoft/vscode/commit/54c3db1285e8bc0d7dac0bf7d2b79ed35d5075f6 by @isidorn maybe resulted in the '(read-only)' suffix no longer getting added to the tab label of a file opened from a readonly filesystem. This used to work correctly in 1.38, though only after an additional click (see #69651).

The issue also exists in the latest In

[2019-10-21 10:15] uphlewis commented on #28795
Running `imwheel` causes a really horrible scrolling experience for me- very rough/jumpy especially when scrolling slowly.

Anyone able to actually determine what imwheel is doing to avoid the scroll bug described in this issue? I'd love to find the software/package actually responsible and find/open an issue with them directly.

[2019-10-21 10:19] joaomoreno opened #82965 "TypeScript: Inserting doc comment inserts wrong syntax"
![Peek 2019-10-21 12-18](https://user-images.githubusercontent.com/22350/67197376-efae5a80-f3fc-11e9-8485-102077fe33a7.gif)

[2019-10-21 10:21] mattacosta opened #82966 "json autocomplete is adding extra quotes again"
Issue Type: <b>Bug</b>

**Steps to reproduce:**
1. Open up a package.json file.
2. Add a new property and press tab.
   - If the property type was a string then you get: `"something": """` (triple quotes)
   - If the property type was an array you get: `"something": []"` (trailing quote)
   - etc.

VS Code version: Code - Insiders 1.40.0-insider (82ca6ba87f450245f665ab7a5f3a686e2cd00045, 2019-10-2

[2019-10-21 10:23] joaomoreno opened #82967 "JSON: Key completion inserts one quote too many"
![Peek 2019-10-21 12-22](https://user-images.githubusercontent.com/22350/67197634-8549ea00-f3fd-11e9-8bdb-a07b806491f9.gif)

[2019-10-21 10:23] bpasero opened #82968 "WebView reaches into EditorPart"
From https://github.com/microsoft/vscode/pull/82813. Ideally a component does not have to cast to `EditorPart` but rather rely on some kind of service (like a new `IEditorDragAndDropService`).

Refs: https://github.com/microsoft/vscode/blob/a46824c2e9f90b13cb400fe149044acfeb97f2c2/src/vs/workbench/contrib/webview/browser/webviewEditor.ts#L185

[2019-10-21 10:24] #82965 closed

[2019-10-21 10:29] mattacosta commented on #82966
Even though #82967 is a duplicate (by two whole minutes!), that one has a pretty picture, and more importantly, assignees. So closing this one.

[2019-10-21 10:29] #82966 closed

[2019-10-21 10:33] #69400 closed

[2019-10-21 10:50] #81713 closed

[2019-10-21 10:52] b-hayes commented on #82947
Cool thanks where can I find this setting?
And how can I change the line endings on existing files?
I tried some extensions that show line endings but they cant change them.

Still think LF should be the default esp considering im launching it from wsl or at least offer some visible options for line endings.

[2019-10-21 10:58] ubreddy opened #82969 "Debug breakpoint is not getting bound"
Issue Type: <b>Bug</b>

Unable to debug node.js server program. using babel-node. The breakpoints set are not getting bound.
 nodemon  app.js --exec babel-node --inspect  --delay 2 --verbose
and launch config is
 {
            "name": "Attach to Process",
            "type": "node",
            "request": "attach",
            "port": 9229,
            "protocol":"inspector"
          }
on running

[2019-10-21 11:01] #27801 closed

[2019-10-21 11:01] #82967 closed

[2019-10-21 11:01] gjsjohnmurray commented on #82964
Branch at https://github.com/gjsjohnmurray/vscode-extension-samples/tree/show-82964 simply amends the MemFS sample so it registers as a readonly FileSystemProvider. The files created by first running `MemFS: Setup Workspace` followed by `MemFS: Create Files` behave correctly as readonly, but ever since 1.39 their tabs no longer show the '(read-only)' suffix. Nor does that suffix appear in the wind

[2019-10-21 11:02] #41723 closed

[2019-10-21 11:02] jrieken commented on #82874
This also happens with JSON...

[2019-10-21 11:03] aeschli commented on #82589
@bpasero What do you suggest we do?
How was that workspace file created? IMO that's the problematic point.

[2019-10-21 11:03] #51510 closed

[2019-10-21 11:03] #57784 closed

[2019-10-21 11:05] andersstrommen opened #82970 "MissingMessageError: Missing message source_push:commandDescription for locale en_US."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-10-21 11:06] andersstrommen opened #82971 "MissingMessageError: Missing message source_push:commandDescription for locale en_US."
I receive this message "MissingMessageError: Missing message source_push:commandDescription for locale en_US." when trying to do "sfdx force:source:pull" or "sfdx force:source:push". I can create scratch orgs however.

[2019-10-21 11:06] alexandrudima commented on #62938
We now mark the editor as read-only on the web (https://github.com/microsoft/vscode/pull/81394).

[2019-10-21 11:06] #62938 closed

[2019-10-21 11:07] gjsjohnmurray commented on #69651
Actually, this just got worse in 1.39 - see #82964

[2019-10-21 11:08] versamodule commented on #82893
If an extensions is installed through VSCP, it should be contained in the portable folder location.

[2019-10-21 11:11] synchronos-t opened #82973 "Restore editor's undo state if reopening a closed tab"
If I open a previously closed editor tab with Reopen Closed Editor, it would be useful if it would also restore the undo state, i.e. the undo state should not be purged immediately, but stored to a buffer to restore from if Reopen Closed Editor is used. This would allow to continue editing normally on tabs you close accidentally.

This has been already referenced in #47874, but I believe that requ

[2019-10-21 11:12] gjsjohnmurray commented on #59921
Any progress to report on getting this finalized?

[2019-10-21 11:13] #82969 closed

[2019-10-21 11:27] NicTanghe commented on #10759
if some policy keeps vscode from being uploaded to the microsoft store then obv the policy is wrong.
I have told microsoft a million times already to fire evryone that is working on that project.

[2019-10-21 11:32] joaomoreno commented on #82893
You might want to follow https://github.com/microsoft/vscode/issues/52116

[2019-10-21 11:33] frostius commented on #82638
@mjbvz  I'll run with "all disabled" this week and see if I can find a repeatable sequence.

[2019-10-21 11:41] #24871 closed

[2019-10-21 11:43] #39700 closed

[2019-10-21 11:44] #47540 closed

[2019-10-21 11:44] #51555 closed

[2019-10-21 11:45] #62834 closed

[2019-10-21 11:55] xates commented on #27083
I think the option `autoFindInSelection` should be changed to just `findInSelection` and allow three different values:
- `always`: always find in selection, even if a single word is selected, equivalent to the current `autoFindInSelection:true` option
- `never`: never find in selection, always use selected text to autofill the search box
- `auto` (default value): if one entire line or more lines a

[2019-10-21 12:06] bpasero commented on #82589
@aeschli should have made clear, I only moved the issue. @lramos15 reported it. Maybe @sbatten and @sandy081 also have additional context.

However, given that someone may just check in a workspace file to a repository with absolute paths, I guess we could always end up in that situation.

[2019-10-21 12:09] alexandrudima commented on #32630
Let's track in #32581

[2019-10-21 12:09] #32630 closed

[2019-10-21 12:17] utybo commented on #82489
The issue is either not from xterm.js or has been fixed upstream, because I can't replicate this issue using xterm.js's test webserver with the latest sources

[2019-10-21 12:21] ramjitiwari1997 opened #82975 "Code getting undo automatically"
Hi,
     I have noticed several  that my code changes are being  reversed automatically when i re-open my system.

[2019-10-21 12:32] chrmarti commented on #81939
/duplicate https://github.com/microsoft/vscode-remote-release/issues/1470

[2019-10-21 12:32] #81939 closed

[2019-10-21 12:34] #12106 closed

[2019-10-21 12:35] doplumi opened #82977 "Autocompletion inside package.json for tooling packages configs (e.g. eslint, babel)"
A lot of tooling packages are now offering the capability to declare the configuration inside of `package.json`

E.g.

[code]

I was wondering if autocompletion inside of the file for the various tooling packages was a WIP.

Otherwise, I’d love to produce a PR for it.
What are the modules involved with the autocompletion in this repo?

[2019-10-21 12:36] #12287 closed

[2019-10-21 12:37] alexandrudima commented on #12287
There is a good working extension filling this gap => closing this issue.

[2019-10-21 12:41] FlamingFlowair commented on #47814
The fix proposed in [issue 82802](https://github.com/microsoft/vscode/issues/82802) worked for me.

[2019-10-21 12:42] glecetre opened #82978 "Closed search bar visible when Replace field is multiline"
Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Open any file
1. Hit `CTRL+H` to open the Search and Replace bar
1. In the Replace field, hit `Shift+Enter` to add a line return
1. Close the bar

--> The bottom of the bar is visible while closed.

![image](https://user-images.githubusercontent.com/43233602/67205696-89333780-f410-11e9-8b8b-7fc34ca6e8d6.png)

VS Code version: Code 1.39.2 (6ab598523be

[2019-10-21 12:43] glecetre commented on #82978
This is not a duplicate.

[2019-10-21 12:43] xuanxuan321 commented on #82959
@alexr00

I found that unused variables will be gray out after I disable the eslint plugin，So how do I leave unused variables in grey when I turn on the eslint plugin

[2019-10-21 12:54] #16475 closed

[2019-10-21 12:56] chrmarti commented on #81992
`shift` would be hard to discover. `esc` seems intuitive.

[2019-10-21 12:57] danijel1108 opened #82979 "Git version manger"
Other project's changes numbers still remain in the left side activity bar.

Here are steps you can get issue.
1. Open one project (there isn't any git changes)
2. Open one file of the other project (there are 3 git changes which not committed yet)
3. Remove second project in the git manger.
4. Number 3 still remain with first project although there isn't any changes at all.

[2019-10-21 13:05] V-ed commented on #82931
Is this a new feature? How is that linked to the feature request here? Personally, I would like the described feature request here to be applied to the regular debugging experience, not only in a "debug-less" mode, as even when debugging, when I'm finished (so when the debugger is detached, for example), the console would close if it was opened by the debugger itself.

If the program runs in 1 sec

[2019-10-21 13:10] isidorn commented on #82956
Use the following setting please
"debug.internalConsoleOptions": "openOnSessionStart",

[2019-10-21 13:10] #82956 closed

[2019-10-21 13:12] riven314 commented on #82766
@Tyriar , I found an error from the console of Developer Tools:
[code]
The following messages popped out when I further toggled the terminal (```ctrl``` + ``` ` ```):
[code]

[2019-10-21 13:15] chrmarti commented on #81977
Looks like a DNS lookup issue. `msjsdiag.gallerycdn.vsassets.io` cannot be resolved by the Chromium stack. @deepak1556 Any idea how Chromium's DNS lookup could fail for one hostname but not for others?

[2019-10-21 13:19] xucongli1989 opened #82980 "Provides a way to determine which rows currently handle the folded state"
I'm writing a plugin for folding areas, but I can't find the API I need.
I think an API can be provided, which will have the following functions:
- Determine which rows handle the folded state
- Whether a row is in a folded region
- It is best to customize the folding symbol, such as "{..."

[2019-10-21 13:27] chrmarti commented on #81471
Does this only occur when you are debugging your extension?

[2019-10-21 13:38] #79369 closed

[2019-10-21 13:38] joaomoreno commented on #82979
I can't reproduce this. Can you share a screenshot? Can you right click on the top of Source Control and confirm that there are no more repositories open?

[2019-10-21 13:41] isidorn commented on #82700
This works fine for me.
![hello](https://user-images.githubusercontent.com/1926584/67210311-2a25f080-f419-11e9-9b36-310da17fde7c.gif)

Please file against C++ extension here https://github.com/microsoft/vscode-cpptools

[2019-10-21 13:41] #82700 closed

[2019-10-21 13:41] #82971 closed

[2019-10-21 13:41] #82970 closed

[2019-10-21 13:41] isidorn commented on #82700
Actually here is the issue, please follow it there https://github.com/microsoft/vscode-cpptools/issues/4464

[2019-10-21 13:42] jrieken commented on #10266
Re-opening this as it seems to be a little bit more complicated. There are cases like https://github.com/microsoft/vscode/issues/82874 which don't replace just words but more complex content and cropping isn't the right this to do here. An idea is to add a new flag to `CompletionContext` which expresses if the user wants insert or replace behaviour. It's then up to extensions to honour this - maki

[2019-10-21 13:42] danijel1108 commented on #82979
https://user-images.githubusercontent.com/42989968/67210389-97527980-f44b-11e9-966c-617e60a9016f.png

[2019-10-21 13:42] #80741 closed

[2019-10-21 13:43] angelhdz opened #82982 "[FEATURE REQUEST]"
Custom variables in all JSON configuration files like theme token configuration, launch.json, tasks.json, etc.

It would be nice to store colors in variables when making themes or storing paths.

[2019-10-21 13:47] #82973 closed

[2019-10-21 13:49] Wathsara opened #82983 "Somescripts not working in vscode webView"
I have written the below code to execute in then vscode webview. The thing is it doesnot set the inneHTML in the vscode webview. it worked fine in the browser. how to fix this.

[code]

[2019-10-21 13:51] jrieken commented on #82874
Closing this after pushing a workaround. A proper fix requires new API and extension-buy-in. That's tracked here https://github.com/microsoft/vscode/issues/10266#issuecomment-544520553

[2019-10-21 13:51] #82874 closed

[2019-10-21 13:53] jrieken commented on #82666
Some ideas are collected here https://github.com/microsoft/vscode/issues/10266#issuecomment-544520553. This likely requires new API and adoption work, hence making this slower...

[2019-10-21 13:57] alexr00 commented on #79188
Old:
[code]
Proposed:
[code]

[2019-10-21 14:00] bwateratmsft opened #82984 "Add proper HEALTHCHECK colorization/intellisense (Dockerfile language)"
Copied from @lostintangent original issue here: https://github.com/microsoft/vscode-docker/issues/43

[2019-10-21 14:01] #81158 closed

[2019-10-21 14:03] alexr00 commented on #69785
Current:
[code]
Proposal is to add:
[code]

[2019-10-21 14:06] bwateratmsft opened #82985 "Remapping of escape character not handled (Dockerfile language)"
From @paulcallen original issue here: https://github.com/microsoft/vscode-docker/issues/245

Unfortunately this plug-in does not recognize this and as a result it thinks \f is an invalid escape sequence.

[2019-10-21 14:06] joaomoreno commented on #79635
Yes, you must be aware that the `ctx` is whatever you pass in here: https://github.com/microsoft/vscode/blob/ad9bce89782a7badd56ab3654a167727f6f1b033/src/vs/platform/ipc/electron-browser/mainProcessService.ts#L33

[2019-10-21 14:12] isidorn commented on #82964
The issue here is as I have already mentioned in an older issue:
What is missing it seems is the `textFileService` should have an event which fires when the model becomes readonly. fyi @bpasero
For example when the `lastResolvedFileStat` is set [here](https://github.com/Microsoft/vscode/blob/cfb88f21c9658d2d038c26812fda0ae686711956/src/vs/workbench/services/textfile/common/textFileEditorModel.ts#L

[2019-10-21 14:15] usernamehw opened #82987 "[themes] Should color theme files be minimized?"
Similar to #78159 issue (Only file language is not `json` but `jsonc`).

Themes shipped with vscode are not meant to be manually modified and thus could be compressed.

[2019-10-21 14:15] NotWearingPants commented on #5438
@jrieken
I have debugged vscodethe devtools and saw it was stuck in the `regex.test(filepath)` inside the glob functionality called by `languageSelector.ts`.

I was also able to reproduce this in node.js using just `regex.test(filepath)` with the same regex and filepath.

I don't see a reason to attach a profile if I honed in on the problem. I might upload one later, not sure.

[2019-10-21 14:16] #79635 closed

[2019-10-21 14:22] bwateratmsft opened #82988 "Dockerfile syntax highlighting for escaped quotes is not quite right (Dockerfile language)"
Copy from @dlech original issue here: https://github.com/microsoft/vscode-docker/issues/75

[code]

[2019-10-21 14:23] DanTup commented on #10266
@jrieken if changes to that are unlikely to make the next stable release, what will behaviour be in the stable release - will the change be shipped as-is or reverted?

[2019-10-21 14:30] joaomoreno commented on #82869
Very likely the same as https://github.com/microsoft/vscode/issues/73101

cc @bpasero

[2019-10-21 14:32] joaomoreno commented on #82869
Actually, no... the fix for #73101 caused this issue!

[2019-10-21 14:33] up-to-you commented on #75111
FYI: i just filed the issue https://bugs.chromium.org/p/chromium/issues/detail?id=1016329

@bpasero it will be a good idea to verify it for some inaccuracy and respectively to comment there.

[2019-10-21 14:37] #82869 closed

[2019-10-21 14:43] Alexzanderk commented on #82956
Amazing, thanks!

[2019-10-21 14:43] joaomoreno opened #82989 "Typescript: Missing suggestions in field initializers"
I'm finding that TypeScript fails to provide suggestions in very easy places. Check this out:

![Peek 2019-10-21 16-41](https://user-images.githubusercontent.com/22350/67215425-b76d4300-f421-11e9-8449-dfb3a65b6c63.gif)

[2019-10-21 14:48] mbahri commented on #82873
Here's the whole output I currently have:

[code]

[2019-10-21 14:50] #82096 closed

[2019-10-21 14:50] #50406 closed

[2019-10-21 14:53] #82229 closed

[2019-10-21 14:54] alexr00 commented on #69785
The description would be shown in the task quick pick with the task.

[2019-10-21 14:54] diyijing opened #82990 "terminal remember proxy settings"
Issue Type: <b>Bug</b>

vscode's terminal seems to remember my proxy settings even I deleted them from shell srcript, eg: ALL_PROXY, http_proxy. and them disappear after I reloaded with extensions disabled, but ssh-remote I can't reload with extensions disabled

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 18.7.0
Remote OS

[2019-10-21 14:57] SupinePandora43 commented on #82869
@joaomoreno, can i make issue for https://github.com/microsoft/vscode/issues/82869#issuecomment-544117145 ?

[2019-10-21 14:58] alexr00 commented on #82988
Moved to upstream reop

[2019-10-21 14:58] #82988 closed

[2019-10-21 14:59] aeschli commented on #40634
@perceptron007 That would be great if you can have a look. Open the dev tools and set a breakpoint in `colorDetector.ts - getColorData`

[2019-10-21 15:01] aeschli commented on #82689
The default folding strategy for cls (without any extensions) is based on the indentation of lines. A folding region starts when a line has a smaller indent than one or more following lines, and ends when there is a line with the same or smaller indent.

To be smarter and to be cls aware, a cls extension needs to do this. Please file an issue against the cls extension that you use.

[2019-10-21 15:01] #82689 closed

[2019-10-21 15:04] octref commented on #69400
@joaomoreno Thanks! Make sure you update vscode-docs as well.

[2019-10-21 15:05] aslrz-club opened #82991 "fultter 语法提示失效"
Issue Type: <b>Bug</b>

令“C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe ”无法启动 (退出代码: {2})
你们报了这个错
然后flutter  再也没有语法提示了 我是安装了flutter语法扩展的

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz (4

[2019-10-21 15:07] octref commented on #82843
So this is happening to you on large HTML and CSS files, correct? Please follow #71996 then.

[2019-10-21 15:07] #82843 closed

[2019-10-21 15:09] bpasero commented on #82964
@isidorn yeah makes sense to me. we would probably not be able to detect this change unless the tab gets loaded again because there is no file event when this happens.

[2019-10-21 15:10] amcolash commented on #82547
Why is this closed? Disabling repos is a workaround for specific use cases but not a solution to the problem I mentioned.

[2019-10-21 15:12] octref commented on #82954
@banothurameshnaik If you use the command "Manage Trusted Domains", what's being shown there?

[2019-10-21 15:13] joaomoreno commented on #69400
Good call! https://github.com/microsoft/vscode-docs/commit/e92eee50b76b3efb8c8b677b821b5ad0d2eed12f

[2019-10-21 15:18] gjsjohnmurray commented on #82964
I'm not clear why it worked OK before 1.39. Even now it's not (yet) possible to set an individual file as read-only. All we can do is register a FileSystemProvider with `readonly: true` in its options.

[2019-10-21 15:20] rchiodo commented on #76136
This does occasionally happen still. Usually when debugging mocha based test files. I don't have a consistent repro though.

[2019-10-21 15:27] deepak1556 commented on #79311
@chucklepie did you test with the latest insiders release ? https://code.visualstudio.com/insiders/ ,  the fix has only landed there.

[2019-10-21 15:30] alexr00 commented on #82985
I don't think this is possible with a textmate grammar. This would require some other tokenization engine, so duplicate of https://github.com/microsoft/vscode/issues/77140

[2019-10-21 15:30] #82985 closed

[2019-10-21 15:32] elesiuta commented on #11387
I like the option already described by [madacol](https://github.com/Microsoft/vscode/issues/11387#issuecomment-518857992), which is also how GitHub's split diff works and was already mentioned by [jakearchibald](https://github.com/Microsoft/vscode/issues/11387#issuecomment-349953802)
![Github](https://user-images.githubusercontent.com/8146662/67218918-2ed8ad80-f3f5-11e9-925b-4454bc2dd429.PNG)

The

[2019-10-21 15:32] bpasero commented on #82964
Isi would maybe know under which condition this can happen.

[2019-10-21 15:33] #82982 closed

[2019-10-21 15:35] solomatov commented on #82290
@joaomoreno @isidorn I fixed it on the master version, so it might have been alleviated by some fixes.

Also, we have our internal users reporting an issues, when the item isn't selected even though, the editor is switched which seems to be very similar to what the PR fixes. I talked to @OmarTawfik about this and it seems that the original issue might be the same as that one.

[2019-10-21 15:40] alexr00 commented on #82984
Moved to owning repo

[2019-10-21 15:40] #82984 closed

[2019-10-21 15:44] bwateratmsft commented on #82988
Ah, sorry--didn't realize that file comes from upstream.

[2019-10-21 15:46] bwateratmsft commented on #82984
Ah, sorry--didn't realize that file comes from further upstream.

[2019-10-21 15:46] Pomax commented on #82934
@bpasero can you please mention which issue this is supposedly a duplicate of? Because I don't see a single one that talks about the fact that this dialog is missing settings and a corresponding settings option.

[2019-10-21 15:56] #15991 closed

[2019-10-21 15:58] #79665 closed

[2019-10-21 15:59] #82085 closed

[2019-10-21 15:59] bpasero commented on #79665
**Verification**: Try the new `workbench.editor.splitSizing` works as advertised.

[2019-10-21 16:00] joaomoreno commented on #82869
What are the steps to reproduce?

[2019-10-21 16:00] joaomoreno commented on #82085
Pushed `Extensions: Manage Authorized Extension URIs...`

cc @sguillia

[2019-10-21 16:01] #82983 closed

[2019-10-21 16:02] #82991 closed

[2019-10-21 16:04] SupinePandora43 commented on #82869
@joaomoreno , write in some file vscode marketplace extension url, and open it (CTRL+Click)

[2019-10-21 16:05] Tyriar commented on #82766
/duplicate https://github.com/microsoft/vscode/issues/76542

Remove the `terminal.integrated.inheritEnv` setting to fix this.

[2019-10-21 16:05] #82766 closed

[2019-10-21 16:06] xJonathanLEI opened #82993 "Fail to launch on Windows Remotes hosts with custom default shells"
- VSCode Version: 1.40.0-insider (user setup)
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Set up OpenSSH on Windows
2. Ensure it works fine with VS Code Insider via Remote Development
3. Close existing Remote Development sessions
4. On the Windows host, change default SSH shell to PowerShell following [this guide](https://github.com/PowerShell/Win32-OpenSSH/wiki/DefaultShell)

[2019-10-21 16:06] Tyriar commented on #82489
@utybo oh really? VS Code insiders is basically on xterm.js master right now and we haven't touched the IME/input code for a while... It could be related to Electron? 🤔

[2019-10-21 16:08] xJonathanLEI commented on #82993
It's so annoying because I have to go back to using cmd for SSH just for hosting Remote Development on the machine.

[2019-10-21 16:13] Tyriar commented on #82425
They got back to me, this is done at rpm creation time, not signing or upload so it would be in our codebase:

https://github.com/microsoft/vscode/blob/ed31ffc1b54d401ec6d023c5c06663991ee9b610/build/gulpfile.vscode.linux.js#L123

https://stackoverflow.com/questions/24062375/how-to-build-the-rpm-package-with-sha-256-checksum-for-files
https://starlab.io/adding-sha256-digests-to-rpms/

[2019-10-21 16:19] jbracer19 commented on #82993
still using code 903 (915913) 4 , feel free to check it. Intentions are still keeping the branch local until merged with (child)s   still open for local_check
On Oct 21, 2019, at 11:08 AM, Jonathan LEI <notifications@github.com> wrote:

﻿

  *   VSCode Version: 1.40.0-insider (user setup)
  *   OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

  1.  Set up OpenSSH on Windows
  2.  Ensure

[2019-10-21 16:19] Tyriar commented on #82953
No plans to expose this right now for security and performance reasons, we may reconsider in the future.

[2019-10-21 16:19] #82953 closed

[2019-10-21 16:21] timdang commented on #82203
@joaomoreno The issue went away for a few builds after your commit (#82275), but then came back a few days later after a few updates to the insiders branch.

Source Control panel is once again blank.

Version: 1.40.0-insider
Commit: 82ca6ba87f450245f665ab7a5f3a686e2cd00045
Date: 2019-10-21T05:39:31.415Z
Electron: 6.0.12
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64

[2019-10-21 16:23] Tyriar commented on #82898
@bpasero both the status bar and notifications are not in the tab order or accessible via keyboard, isn't that the real issue here?

[2019-10-21 16:25] sherryyshi commented on #82806
@alexr00 Thanks for taking a look.

My package.json situation is a bit weird - I didn't have `@types/vscode`, but instead had `npx vscode-dts master` to work around  #80498. However I also tried upgrading to `"@types/vscode": "^1.39.0"`, and the issue still repro'ed. This is on the latest released build 1.39.2.

Interestingly though, I tried it on the latest insider (1.40) and did not repro the is

[2019-10-21 16:26] #82939 closed

[2019-10-21 16:28] Tyriar commented on #82918
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2019-10-21 16:28] #82918 closed

[2019-10-21 16:29] xJonathanLEI opened #82994 "SSH: Build task fails on Windows Remotes: ${__process__} does not exist"
- VSCode Version: 1.40.0-insider (user setup)
- OS Version: Windows_NT x64 10.0.18362

**Steps to Reproduce:**

1. Establish a Remote Development session to a Windows host
2. Create a new .NET Core project with (I happen to do C# development):

        dotnet new console -o Reproduce

3. Open the project folder just created in the Remote Development session
4. Create file `.vscode/tasks.json` with

[2019-10-21 16:29] misolori commented on #73257
After thinking this over and playing with the new squiggles, I don't think this something that we'd want to introduce since this doesn't looks crisp as I mentioned above. For this reason I'll be closing this issue and marking it as `out-of-scope`. If we ever revisit this in the future we can re-open.

[2019-10-21 16:29] #73257 closed

[2019-10-21 16:31] #82883 closed

[2019-10-21 16:32] frobinsonj commented on #81563
I would like to have a go at this.

[2019-10-21 16:34] sherryyshi commented on #82806
So this is what I'm seeing:
`CustomExecution2` works on 1.39.2, but NOT on 1.40, and `CustomExecution` does NOT work on 1.39.2 but works for 1.40.

Since our build definition always installs the latest proposed API, our builds will be broken for 1.39. Any suggestions?

[2019-10-21 16:34] Tyriar commented on #82885
Those are milliseconds, not seconds. Changing terminal.integrated.rendererType might help, but the additional slowness may be attributed to additional overhead of going via node or https://github.com/microsoft/vscode/issues/74620

[2019-10-21 16:34] #82885 closed

[2019-10-21 16:35] Overload119 commented on #82908
Not that I'm aware of. I have no other issues, and in fact I've tried sending the exact same request in `curl` and I'm able to get a response just fine.

Are there any flags I can turn on? It looks like --disable-ssl-certificates was recently removed so I was unable to try that step.

This is on my personal laptop, at home, connected via WiFi. I don't use a proxy or have any other special issues.

[2019-10-21 16:35] misolori commented on #82600
Mac dirty state has been added for some quite time now so this wraps up the work for this item:

<img width="578" alt="image" src="https://user-images.githubusercontent.com/35271042/67224433-04cbbf00-f3e6-11e9-952d-33a37c4651a7.png">

[2019-10-21 16:35] #82600 closed

[2019-10-21 16:36] jrieken commented on #10266
idea

[code]

[2019-10-21 16:48] anirudhrb commented on #82026
Since the repo is empty, there is no HEAD. That's what causes the error. I have attempted a PR (#82995). @joaomoreno please have a look.

[2019-10-21 16:48] octref commented on #82050
Does this repro if you disable all extensions?

Can you provide a minimal reproducible example? Like the text of an HTML file.

[2019-10-21 16:49] octref commented on #78776
Doesn't repro for me. @deepak1556 Do you mind giving it a try?

[2019-10-21 16:49] xJonathanLEI commented on #82994
Workaround: Change `"type":"process"` to `"type":"shell"`

[2019-10-21 16:52] phgmacedo opened #82996 "Decrease Activity Bar size"
I always have the activity bar turned off, because it just feels very large and it bothers me.
However, many extensions often add useful buttons and items there.

Currently, it looks like this for me:

![Snipaste_2019-10-21_13-49-51](https://user-images.githubusercontent.com/2473545/67225516-c811bf00-f409-11e9-9ffb-cb3009dc1fb4.png)

But I would like to have it a little bit smaller. That would bot

[2019-10-21 16:56] ebluestein opened #82997 "Debug console output doesn't scroll on highlight + drag of mouse"
- VSCode Version: 1.39
- OS Version: Any (Verified on Windows 10 and Mac)

Steps to Reproduce:

1. Run any debug session that generates a bunch of output text (any amount > the height of the pane)
2. Start selecting the text with the mouse to highlight it. Without releasing the mouse button drag the mouse to the top of the debug console output pane
3. In the ordinary output pane, the pane would sc

[2019-10-21 16:57] roblourens commented on #82855
Well it's disabled when it's not applicable to the current state, but present so you know that it exists for other cases. That's a typical way to deal with this situation and matches what we do with all menus in other cases.

[2019-10-21 16:59] pedrogarcia opened #82998 "Add context menu option to toggle side bar visibility into the "more actions..." menu"
I often have the activity bar turned off.
However, the side bars are actually useful, but not all the time.

It would be great to have a context menu option to toggle the side bar visibility.

![Snipaste_2019-10-21_13-59-20](https://user-images.githubusercontent.com/2473545/67226307-00fe6380-f40b-11e9-9f88-3dd2a5fb5140.png)

[2019-10-21 17:00] roblourens commented on #82795
No, sorry

[2019-10-21 17:00] pedrogarcia commented on #82998
None of these are duplicates.

[2019-10-21 17:01] octref commented on #3145
Chrome publishes its stats: https://www.chromestatus.com/metrics/css/popularity

We could its ordering to assign a ranking order to CSS properties.

![image](https://user-images.githubusercontent.com/4033249/67226143-4f9b0600-f3e9-11e9-9de6-9b8b9c51746f.png)

[2019-10-21 17:05] DanTup commented on #10266
Sounds reasonable. What would the default behaviour be (eg. if you only supply range)? Same as today? So extensions would opt-in before getting any change?

If it is opt-in, would you consider revisiting the default? It wouldn't break anybody (nobody is opted-in) but the default behaviour would be what (I believe) most users would expect so extensions don't have to use `configurationDefaults` (whi

[2019-10-21 17:10] octref commented on #6822
@aeschli What do you think about adding a completion `var($0)`?

[2019-10-21 17:10] rebornix commented on #82975
@ramjitiwari1997 could you please run VS Code with all extensions disabled and see if you can reproduce this issue?

[2019-10-21 17:11] Linskeyd commented on #73904
@chrmarti, any thoughts on @pelmers expanded details above? It'd be great to have an option to skip the default logic for ordering results, maintaining the existing ordering of the provided results.

[2019-10-21 17:12] RMacfarlane commented on #82856
Yeah, that information is very long.

I don't think separating out the step to include them is a good idea, though. That seems like it would just create more burden to the user, since you would have to go back and forth between the browser and VSCode copying information.

[2019-10-21 17:15] octref commented on #51156
Seems already fixed in latest version -> closing.

[2019-10-21 17:15] #51156 closed

[2019-10-21 17:17] sbatten commented on #82867
/duplicate #82722

resolving to previous request to aggregate support

[2019-10-21 17:17] #82867 closed

[2019-10-21 17:21] sbatten commented on #82907
@Kuhluh the compact option is not compatible with the native titlebar (default on linux) as noted in the setting description. however, it is a bug that the compact menu shows up with that setting as it should be ignored.

[2019-10-21 17:21] RMacfarlane commented on #43013
This was fixed in a previous iteration

[2019-10-21 17:21] #43013 closed

[2019-10-21 17:22] roblourens commented on #82231
It's better for these paths to just be considered as relative paths inside your workspace, so the settings will still apply if you copy your projects to a new location.

[2019-10-21 17:22] #82231 closed

[2019-10-21 17:22] Pomax commented on #82934
I already upvoted that one - I can add more details but it doesn't look like anyone even triaged that issue yet? If we're flagging this as duplicate, can that issue be labeled etc.?

[2019-10-21 17:27] banothurameshnaik commented on #82954
@octref
Using the command **"Manage Trusted Domains"** and adding the domain into the list manually

and then coming back to the Preview Page of Readme file to click on the link it works and opens the link into the browser.

But it could be better it automatically adds into a trusted domain list by clicking of **Configure Trusted Domains** as in other files.

[2019-10-21 17:30] Kuhluh commented on #82907
Well, good to know, and thanks for the information.

[2019-10-21 17:33] octref commented on #39088
I don't think this would happen any time soon, or should happen at all.

1. From https://github.com/microsoft/vscode-css-languageservice/issues/44 it seems @angelozerr still wants CSS LS to bundle a few formatters out-of-the-box, thus all formatter failure blames are on VS Code.
2. Let's say we have such a setting `css.formatter` where you can choose among an enum. How does it resolve formatting s

[2019-10-21 17:33] #39088 closed

[2019-10-21 17:34] octref commented on #31702
Seems already fixed:

![image](https://user-images.githubusercontent.com/4033249/67228557-5a0bce80-f3ee-11e9-8da5-f1e956b8f9c5.png)

[2019-10-21 17:34] #31702 closed

[2019-10-21 17:35] sbatten commented on #82589
Copied from previous issue:

@bpasero @aeschli I created my workspace file by saving workspace as and it used absolute paths.

To reproduce that on Windows, I open a folder in VS Code at C:\Users\sbatten\Source\folder then save the workspace as C:\Users\sbatten\Desktop\workspace.code-workspace

[2019-10-21 17:37] bpasero commented on #82898
@Tyriar we explicitly take out status bar entries from `tabindex` because we felt it would generate too much tab stops to be any useful.

As for notifications accessibility, I have to disagree. There is tons of commands to interact with them:

![image](https://user-images.githubusercontent.com/900690/67228669-12ab2f80-f43a-11e9-8a3b-8cfc960d00e8.png)

We do not have a default keybinding associated

[2019-10-21 17:38] bpasero commented on #82898
Related / duplicate: https://github.com/microsoft/vscode/issues/81786

[2019-10-21 17:39] bpasero commented on #82934
@Pomax I can assure you that the issue is not lost if it is still open and was not closed as "out of scope". But we have probably thousands of feature requests that fall into this category, so they may not get a lot of attention in the near term (12-24 months).

[2019-10-21 17:39] mfurseroberts opened #82999 "Rename Refactoring demo in interactive playground broken"
Issue Type: <b>Bug</b>

Open interactive playground.
Click, as instructed on instance of "Book", press F2, get long error.
Alternatively, right-click on "Book" > Refactor > get error "No refactorings available"

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Val

[2019-10-21 17:40] roblourens commented on #82914
I didn't mean change the slashes, I just meant set the `cwd`. There isn't a cache, but I'm glad it's working now!

[2019-10-21 17:40] #82914 closed

[2019-10-21 17:40] roblourens commented on #82943
Please file this on the repo for the Java extension that you are using.

[2019-10-21 17:42] octref commented on #55068
This has been implemented as part of #46591.

[2019-10-21 17:43] #81147 closed

[2019-10-21 17:45] roblourens commented on #82892
I see you say you are trying to build the server, that won't be possible because not all of the components are open source.

[2019-10-21 17:45] #82892 closed

[2019-10-21 17:47] roblourens commented on #82656
Oh strange, but this is the exact error you see, even with extensions disabled?  `Error: No file system provider found for ssh://ssh-fs/`?

[2019-10-21 17:50] toosi opened #83000 "Integrated terminal stops working after update"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

Integrated terminal  shows nothing. Even when I try to open a new one.

Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:40.634Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.16.0-04160

[2019-10-21 17:50] sbatten commented on #82907
re-opening to fix the second part mentioned above

[2019-10-21 17:54] octref commented on #56907
@aeschli Since there's no way to correctly detect this rule, can we deprecate and drop it?

[2019-10-21 17:54] toosi commented on #83000
Solved Now.
vscode kept suggesting to me to set "terminal.integrated.inheritEnv" to false and I did so. I just realized it was the source of the problem. setting it back to true recover the terminal

[2019-10-21 17:54] #83000 closed

[2019-10-21 17:55] iansan5653 commented on #55068
@octref That is not the same issue. This one is to add the regions to the document outline, not to add initial support for them.

[2019-10-21 17:55] roblourens commented on #82656
It seems likely that you have an ssh folder in your workspace. Do you see it if you open the .code-workspace file?

[2019-10-21 17:56] evangrayk commented on #40712
It would be really nice if the SCM API exposed a way to sort files (such as a sort key). This would let us provide our own sorting options. For the original issue, the git extension could provide status / filename / file type. Other extensions could also detect e.g. auto-generated files and sort those lower.

[2019-10-21 18:03] roblourens commented on #82626
Now it seems to work. I'm not sure what I saw, sorry.

[2019-10-21 18:03] #82626 closed

[2019-10-21 18:05] octref commented on #56761
You can get that warning on [stylelint](https://stylelint.io/demo#N4Igxg9gJgpiBcIB0APAtGAFgQwHYHMYACYAHVyKMgBsIAneIgI2oFcZyBfckAGhADOAT1wAXbCgSCwAgX3ARcAMwCW+KWQpFSIOq2owBOxpsqUd2UWj0G0uCGla4A1vYDuuY0VF6YvcmbaICwQYM52DjAAtgAOokJePuz+WuYKtHQRaCq4AG7Y1CpQaJgwKIm+KYE6kFFRMGJZ0XEJCN6VAWY6sGDU2HSWKopoIWFZUKwxhWCWMGgxdBAxMHSiKoZeANqdgUl+O2amgV0gavZ0HG3bqcdpkLgCMGCsa7lzE1MqM6KGaG4qokwaCgKiUShWDSs+TYGxAB0

[2019-10-21 18:06] #56761 closed

[2019-10-21 18:06] jcollum-autodesk commented on #82855
I don't see the benefit of having it there if I can literally never use it. It implies that I can sometimes use it -- but I can't. Not for a file that is opened normally. It's just confusing to have it there.

[2019-10-21 18:08] #57300 closed

[2019-10-21 18:08] octref commented on #57300
Not doable unless hover becomes more capable.

[2019-10-21 18:10] roblourens commented on #82990
Does it work if you run "Kill VS Code Server" and try connecting again?

[2019-10-21 18:10] octref commented on #57407
No longer repros. Closing.

[2019-10-21 18:14] jcollum-autodesk commented on #82856
No matter how you slice it I'm gonna have to do this in a 2 step process:

1. enter a full description of the issue, come back to grab the system information
1. get all the system information and then enter the actual description of the issue on the github page

The process would be cleaner if it was clear that I won't be able to put in all the information necessary on the first pass.

How about:

[2019-10-21 18:15] #58391 closed

[2019-10-21 18:15] octref commented on #58391
Done with https://github.com/microsoft/vscode-css-languageservice/issues/102.

[2019-10-21 18:15] mjbvz commented on #82999
Duplicate of #82419

[2019-10-21 18:15] #82999 closed

[2019-10-21 18:19] RMacfarlane commented on #82856
I'm a bit confused, as the flow you've described is what should happen currently. Perhaps the wording of the dialog could be made clearer?

[2019-10-21 18:20] PierreMarchand20 opened #83002 "Paste shortcut not working anymore"
- Version: 1.39.2
- Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
- Date: 2019-10-15T15:33:00.827Z
- Electron: 4.2.10
- Chrome: 69.0.3497.128
- Node.js: 10.11.0
- V8: 6.9.427.31-electron.0
- OS: Darwin x64 18.7.0

it seems to me that we could copy/paste in the terminal using the usual shortcut. But it seems that the shortcut for paste does not exist anymore:

![image](https://user-images.github

[2019-10-21 18:22] MarshallOfSound commented on #82435
@bpasero is vscode notarized? If not there is no guarantee anything works well on Catalina.  Notarization is a hard requirement.

[2019-10-21 18:24] jcollum-autodesk commented on #82856
I was 100% expecting to be able to enter the issue and all the system information in that dialog box. I wasn't able to. That was surprising. [POLA](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) says that I should be able to put all the necessary info in that dialog, since there are places for all of it.

I'm saying the workflow needs to be clearer -- I definitely have to do this i

[2019-10-21 18:27] misolori commented on #81768
It does appear to handle build errors better, but now I run into an issue where it's trying to finishing building + launching the debugger but never proceeds:

<img width="1350" alt="image" src="https://user-images.githubusercontent.com/35271042/67232191-af97a980-f3f5-11e9-8bca-23acbc29937b.png">

Unrelated?

[2019-10-21 18:28] pnavarrc commented on #54492
I tried setting the keybinding as suggested [here](https://github.com/microsoft/vscode/issues/54492#issuecomment-405701768) without success, editing the keyboard shortcut preferences worked for me though (I just set a shortcut that I won't use)

![image](https://user-images.githubusercontent.com/114084/67232175-a3abe780-f3f5-11e9-8720-e9ee37f6c46d.png)

Maybe there could be a more prominent settin

[2019-10-21 18:29] misolori commented on #75174
The original issue (branch picker not closing when clicking outside of the picker) is now fixed, see https://github.com/microsoft/vscode/issues/82797 for details. Will be closing this one as a duplicate.

[2019-10-21 18:29] #75174 closed

[2019-10-21 18:30] pocesar commented on #82666
I noticed, since the last update, when trying to edit the tsconfig.json (without any paths), between quotes, it becomes `"", "`, like:

![image](https://user-images.githubusercontent.com/461084/67232389-a61f3900-f417-11e9-9477-18ec1e2eb515.png)

select `esModuleInterop` from the suggestion, becomes:

![image](https://user-images.githubusercontent.com/461084/67232434-bafbcc80-f417-11e9-97d1-5c5a0af

[2019-10-21 18:31] #78496 closed

[2019-10-21 18:32] #33749 closed

[2019-10-21 18:32] spmealin commented on #82898
I can see how stealing focus for every notification could become annoying for the user.  Since this particular popup seems to be pretty important (i.e. a complete showstopper for this workflow), I would argue that a way to deal with it should be a bit more discoverable than an unassigned hotkey.

But thanks for the tip on the “Notifications: Show Notifications” action, I’ve assigned that to a hotk

[2019-10-21 18:33] #59709 closed

[2019-10-21 18:34] #62700 closed

[2019-10-21 18:35] #49509 closed

[2019-10-21 18:35] #77076 closed

[2019-10-21 18:36] iandees opened #83003 "Command-C & Command-V does not duplicate the whole line"
Issue Type: <b>Bug</b>

Previously, Command+C would copy the entire line behind the caret to the clipboard (including the newline). Pasting that line with Command+V would insert the line on the next line.

Today, when I tried to perform the same action, it seems to copy the entire line and then paste it on the same line.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019

[2019-10-21 18:37] #75894 closed

[2019-10-21 18:37] #64456 closed

[2019-10-21 18:37] RMacfarlane commented on #82856
Sorry, I'm still missing something here, I don't understand why 2 passes are needed. If you click the "Yes" button shown in the original screenshot, everything you have typed in the issue and all of the system information should be copied to the clipboard. The browser should be opened to GitHub and you can then paste it. The current message doesn't indicate that the GitHub issue page will still be

[2019-10-21 18:39] mjbvz commented on #81574
Just three files left for the stricter create instance checks. @Tyriar and @sandy081 please take a look

[2019-10-21 18:40] #82902 closed

[2019-10-21 18:43] #63677 closed

[2019-10-21 18:44] gjsjohnmurray commented on #75174
I think there's still a good case for adding a "dismiss" button to quickpicks.

[2019-10-21 18:44] #66582 closed

[2019-10-21 18:47] rebornix commented on #82701
@alexandrudima is it possible that composition events break the state of bracket pairs?

[2019-10-21 18:48] #82210 closed

[2019-10-21 18:49] jcollum-autodesk commented on #82856
But I typed one character, what's the use of that? Why have the textbox at all?

If I am unable to actually type my "Steps to Reproduce" in to that dialog, what is the point of having that textbox there? It's confusing/misleading.

What? There's no message of any kind telling me that.

-----

2 passes:

1. enter a full description of the issue,
1. come back to grab the system information

OR

1. g

[2019-10-21 18:50] rebornix commented on #81987
@TreeNewbeer is it possible that you can share the data with us to help troubleshoot? Without more information we don't know how to dig into the issue.

[2019-10-21 18:50] takhasyr opened #83004 "Language server startup failed"
Issue Type: <b>Bug</b>

The powershell language service could not be started.  Expect them to start

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-1620 0 @ 3.60GHz (8 x 3591)|
|GPU Status|2d_canvas: enabled<br>flas

[2019-10-21 18:52] Spongman commented on #82912
I can't get this to repro right now, even with the doc that i was using before. restarting vscode seems to have changed something that hides it. i'll reopen if i come across it again.

[2019-10-21 18:52] #82912 closed

[2019-10-21 18:53] rebornix commented on #81337
We should add this command in the Find Widget scope.

[2019-10-21 18:54] averma74 opened #83005 "Can't see modified git files as orange anymore"
Issue Type: <b>Bug</b>

On my git repo, when I make any change on any file, it used to become orange before, now they don't. The new files I added gets the green color though.

VS Code version: Code 1.39.1 (88f15d17dca836346e787762685a40bb5cce75a8, 2019-10-10T23:31:28.683Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2019-10-21 18:58] tgani-msft commented on #82733
![vs-text](https://user-images.githubusercontent.com/45886079/67234478-17e88a00-f3fa-11e9-9cfc-405d72fce353.JPG)
![vs-code-text](https://user-images.githubusercontent.com/45886079/67234479-17e88a00-f3fa-11e9-99d0-ddbcf6fa4fc1.JPG)

Open the above files in mspaint and enlarge to 300% to see the difference.

[2019-10-21 18:59] mjbvz commented on #82592
Moving this out of October since we've done what we can on our side to fix this. Will continue following up upstream

[2019-10-21 19:00] tgani-msft commented on #82733
The first one is for VS. It's interesting to note that if font scaling is used in VS, it resembles VS Code exactly.

[2019-10-21 19:01] RMacfarlane commented on #82856
Once again, I think the text of this message needs revising, but this is what I meant:

![Screen Shot 2019-10-21 at 11 53 15 AM](https://user-images.githubusercontent.com/3672607/67234141-6ea19400-f3f9-11e9-91ff-79348629aff9.png)

The intended flow is that you

- type the title and complete steps to reproduce in the issue reporter
- if this + system information is too long, the dialog appears aski

[2019-10-21 19:12] rowild commented on #56761
Well, I do not really like your decision, but I will live with it.

The reason why I don't like your decision is that the rules for reporting a bug require a "testing with all extensions disabled" scenario. Now your response is one that DOES require an extension. This is chaotic: Either VScode does SCSS correctly – and that means recognising errors – or using SCSS in VScode requires an extension r

[2019-10-21 19:27] LinAGKar commented on #82747
What button? The only button there is the button to copy to clipboard under "Installation", near the top of the page, and the textbox is right next to it.

[2019-10-21 19:35] fadeevab opened #83006 "wsl.exe as default terminal crashes"
I'd like to share some basic steps to solve any kind of similar issues with WSL in VS Code.

_[Basically, there is an issue #78136 which is closed for conversation, and Google puts the link on the issue at the first result by particular search requests. That is the reason I put it here: I want to link this comment to that issue.]_

If you got the error `The terminal process command 'C:\WINDOWS\Sys

[2019-10-21 19:35] #83006 closed

[2019-10-21 19:36] jbracer19 commented on #82977
i put a few thing together for you to see if the modeling will apply.

[2019-10-21 19:48] pdxDev commented on #82790
I tried with VSCode insiders and I do not experience the same issue.

[2019-10-21 19:57] tmekos opened #83007 "installing visual studio code on macOs catalina"
first install homebrew then.....
$ brew update
$ brew cask install visual-studio-code
$ '/usr/local/bin/code'

[2019-10-21 20:03] tmekos commented on #82302
1. download homebrew:::::  /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
2.  brew update
3.   brew cask install visual-studio-code
4.  '/usr/local/bin/code'
that's it!!

[2019-10-21 20:20] shelbykauth commented on #83003
Same.
Tested after "Developer: Reload With Extensions Disabled" as well, behaves the same.
<details>
  <summary>Copied "About Visual Studio Code" info</summary>

Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:00.827Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 17.7.0

</details>

Definitions:
 - Good="Pas

[2019-10-21 20:25] #82050 closed

[2019-10-21 20:29] jcollum-autodesk commented on #82856
OK yeah I see the message you mean now.

I only have like 6 extensions installed. I suspect that's a normal amount. Keeping that in mind I suspect most users will hit this message.

The flow could be improved. If the list of extensions and system information is too large how about just replacing the "Steps" textbox with a message like "Too much data to send to github, your issue will be created bu

[2019-10-21 20:32] aeschli commented on #82652
duplicate of #58708

[2019-10-21 20:32] #82652 closed

[2019-10-21 20:33] aeschli commented on #82661
The PR needs to be made against https://github.com/jesseweed/seti-ui. The built-in vscode file icon theme is generated from the content there.

[2019-10-21 20:33] #82661 closed

[2019-10-21 20:35] ajkerzner commented on #82425
I was wondering why this was closed.

It might have to be a separate RPM from the RHEL7 RPM.

[2019-10-21 20:39] utybo commented on #82489
Possibly. In case someone with a QWERTY keyboard wants to try, the right Alt key should be considered as the AltGr key when using AZERTY keymaps, so that could be used for devs debugging this maybe? (AltGr (or Right Alt) + 2 then Space should give ~)

[2019-10-21 20:44] aeschli commented on #82658
It also works for me.

[2019-10-21 20:44] #82658 closed

[2019-10-21 20:44] shelbykauth commented on #83003
It does seem highly related.
Testing with reloading window.

Good: Replaces all occurrences / Pastes at all cursors
Bad: Replaces just one occurrence / Pastes at one cursor.

Note: This is in more rapid succession because it doesn't involve moving the cursor

Cmd+D multiple times -> Reload (cursor stays in multiple places) -> Paste -> Good -> Paste -> Good -> Paste -> Good -> Undo, Undo, Undo -> P

[2019-10-21 20:47] mjbvz commented on #82337
Closing as not actionable without more information. Bugs like this are almost always caused by extensions

[2019-10-21 20:47] #82337 closed

[2019-10-21 20:48] dalongi commented on #79371
@alexr00: I'm not sure if my cause is the same as @borekb, but I seem to be able to trigger a fairly reliable repro of "Bad Progress" error with custom view containers.

- I have 2 viewcontainers, but only 1 is ever visible at a time.
- This is enabled by each viewcontainer having a View with a `when` clause. (One is `!isEnabled`, other is `isEnabled`)
- Inside my TreeDataProvider there is an asyn

[2019-10-21 20:49] shelbykauth commented on #83003
So it seems to be tied into something loading.

[2019-10-21 20:49] DwaynesWorld commented on #83003
Since I have disabled and re-enabled the extensions, I have not been able to reproduce either issue.

[2019-10-21 20:52] shelbykauth commented on #83003
Hm... I was able to reproduce both issues with extensions disabled the first time.  But now they won't work while extensions are disabled.

Reloading normally will bring the issue back after a few seconds.  I'll grab the list of extensions.

[2019-10-21 20:55] RMacfarlane commented on #82856
@jcollum-autodesk Can you please try pressing the "Yes" button in that dialog to understand the current flow?

[2019-10-21 20:57] mjbvz commented on #82989
Thanks. Opened https://github.com/microsoft/vscode/issues/82989 to track this upstream

[2019-10-21 20:57] #82989 closed

[2019-10-21 20:57] Alvain1980 opened #83009 "onDidChangeActiveTextEditorsLanguage event"
I make an extension. My task is to add an element to the status bar when working with a specific language, for example, SQL. For other languages, the element should not be displayed.
The problem is that the extension is activated when you change the language in the editor to SQL or open the * .sql file (as per the condition in package.json). The status bar element is shown, but then the extension

[2019-10-21 20:58] mjbvz commented on #82899
This feature is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md) for this

[2019-10-21 20:58] #82899 closed

[2019-10-21 20:58] #82896 closed

[2019-10-21 20:59] A-Fayez opened #83010 "White blinks while navigating through menu bar"
- VSCode Version: 1.38.1
- OS Version:Ubuntu 18.04 LTS

***UX bug explanation***
 - Navigating through menu bars produces a white blink before rendering the whole content which is annoying sometimes.

***
![67242604-249acb80-f456-11e9-9d76-9885a1638e2c](https://user-images.githubusercontent.com/31468857/75129031-c154ca80-56cf-11ea-94f4-ec84ca759546.png)

Does this issue occur when all extensions a

[2019-10-21 20:59] ynma opened #83011 "terminal.newWithCwd not working over Remote - SSH"
- VSCode Version: 1.39.2
- OS Version: macOS 10.14.3

**Steps to Reproduce:**

1. Add the new terminal.newWithCwd command as a new keybinding:

[code]

2. Attempt to use the new keybinding with an open editor while using VS Code Remote - SSH.

**Expected Result:**

New terminal created with the cwd set at ${fileDirname}

**Actual Result:**

Error: '${fileDirname}' can not be resolved. Please open

[2019-10-21 21:00] mjbvz commented on #82875
Please follow [these instructions](https://github.com/Microsoft/vscode/wiki/Performance-Issues) to collect performance information. Using VS Code insiders, reproduce the issue and then the output of `code-insiders --status` to see if the server has high cpu usage

[2019-10-21 21:02] mjbvz commented on #82376
See #69335

[2019-10-21 21:04] shelbykauth commented on #83003
I believe the bug can be described something akin to vsCode's smart pasting not working, and vsCode's pasting behaving like a more standard text editor (NP++ or Window's Notepad, for instance)

[2019-10-21 21:04] mjbvz commented on #78224
This should have been fixed by 201a9c8e4146b7ad00db36c843ecf7550fbef6bb

[2019-10-21 21:04] #78224 closed

[2019-10-21 21:05] jcollum-autodesk commented on #82856
I did that. But before that I trimmed off the "steps to reproduce" a few times to try to get it to fit. I was just thrown off by the error and assumed I had to trim down so it would work.

I was being a bad user and just reacting to the first sentence. I think just changing the string would probably help, something like "This message is too large to send to github directly, please press Yes and we

[2019-10-21 21:07] mjbvz commented on #82376
Duplicate of #70656

[2019-10-21 21:07] #82376 closed

[2019-10-21 21:09] mjbvz commented on #74054
@jrieken Duplicate of #10266?

[2019-10-21 21:09] octref commented on #62515
@alexr00 This is because we had the wrong CSON -> JSON conversion in grammar. Therefore multiline rules aren't converted correctly. For example:

[code]

Is incorrectly converted from https://github.com/atom/language-css/blob/master/grammars/css.cson#L1202-L1267

Is there anyway to might fix that conversion?

[2019-10-21 21:10] RMacfarlane commented on #82856
Yeah the first sentences does make it sound like it has completely failed. Thanks, I like your suggestion!

[2019-10-21 21:10] Pomax commented on #82934
Is there a way to sponsor an issue, then? Because this is borderline a bug: it literally prevents people from doing work in VS Code by going "no, you don't get to save your file, I don't care if you know better and you know I should save this, I will not let you, the user, do what you, the user, know should happen".

I don't have time to work on this, but I'll happily pitch in a few donation bucks

[2019-10-21 21:10] roblourens commented on #82238
Should be fixed in the next insiders build

[2019-10-21 21:13] jcollum-autodesk commented on #82856
Cool thanks for working through it with me

[2019-10-21 21:16] octref commented on #56761
The SCSS support does not share the compiler with SASS itself, so we can't use error messages from there. With SASS adding new syntaxes, we'll continue to make sure auto-completion, hover information etc are working, but we don't have time replicating the compiler and all its error messages.

In my experience Stylelint is very up-to-date with latest syntax, so I'd say just use that.

[2019-10-21 21:19] octref commented on #82025
You can try to configure `html.erb` files to be `html` files with either:

- F1 -> Change Language Mode -> `html`
- In `files.associations` setting, set `"*.html.erb": "html"`

Not all features are promised to work correctly though, as we don't support ERB files out of the box. You might try one of the ERB extensions: https://marketplace.visualstudio.com/search?term=erb&target=VSCode&category=All%

[2019-10-21 21:19] #82025 closed

[2019-10-21 21:24] octref commented on #55068
@jrieken JS doesn't do such outlines either, do you think this feature makes sense?

Outline for

[code]

![image](https://user-images.githubusercontent.com/4033249/67244305-4b351400-f40e-11e9-9e91-5abce6c3ffe5.png)

I think if there is a node for region, it should be a tree like this:

[code]

But `foo` and `bar` not on the save level is very confusing.

[2019-10-21 21:26] rebornix commented on #79640
I can reproduce this issue with file above and latest Java grammar in master but there is no issue with a simple java grammar https://github.com/microsoft/vscode-textmate/blob/master/test-cases/first-mate/fixtures/java.json

[2019-10-21 21:26] octref commented on #63225
Depends on #28459.

[2019-10-21 21:27] rebornix commented on #82901
We didn't expose those commands for the Find Widget in the editor, the commands you see are from Terminal. @Tyriar we may want to add Terminal prefixes for them.

[2019-10-21 21:28] #79548 closed

[2019-10-21 21:32] Madd0g commented on #82901
Oh both these commands are meant for the terminal?

![image](https://user-images.githubusercontent.com/1171003/67244897-9b60a600-f40f-11e9-9c8b-0c39b07fc30b.png)

[2019-10-21 21:33] rebornix commented on #78394
Our implementation of text buffer doesn't come with no cost, it tries to store minimal information, like line break offsets in the buffer and references between chunks of raw data. For a relatively large amount of lines of data, the metadata stored in the text buffer can be large, sometimes even larger than the file itself. Currently we don't have a sound solution for making the text buffer slim f

[2019-10-21 21:35] roblourens opened #83012 "Selected whitespace is not rendered correctly"
Look at this text in the editor with the mode enabled to show selected whitespace.

`// foo   bar`

insiders:
![image](https://user-images.githubusercontent.com/323878/67245019-debb1480-f40f-11e9-9cd0-4410cd82ca52.png)

stable:
![image](https://user-images.githubusercontent.com/323878/67245064-f72b2f00-f40f-11e9-89f8-796689cfc506.png)

[2019-10-21 21:39] Redtile commented on #78394
Ok so for a vmdk file at 16GB approx how much memory do I need to dedicate to it? I have a top of the line custom built rig so in theory there shouldnt be an issue

[2019-10-21 21:40] #82907 closed

[2019-10-21 21:40] RMacfarlane commented on #83012
@roblourens I'm having trouble reproducing, do you still see this when your settings file is commented out? Or with extensions disabled?

[2019-10-21 21:44] octref commented on #64304
Upstream issue, I reported https://github.com/atom/language-sass/issues/272.

[2019-10-21 21:45] PierreMarchand20 commented on #83002
Even in the editor actually it disappeared
<img width="376" alt="image" src="https://user-images.githubusercontent.com/15056323/67245673-76425680-f454-11e9-956f-950fff97ba16.png">
and this with all extensions disabled and after reloading the window

[2019-10-21 21:46] Tyriar commented on #82898
`Notifications: Show Notifications` does seem to cover it, maybe a doc update like @spmealin suggests? Unassigning myself since I don't think we should have a modal for this.

[2019-10-21 21:48] sbatten commented on #73900
fixed by https://github.com/microsoft/vscode/commit/2710db93e2378dd7d9cba121960195a16678195e

[2019-10-21 21:48] #73900 closed

[2019-10-21 21:49] octref commented on #65976
AFAIK `@at-root` can't be at root level, can it? https://sass-lang.com/documentation/at-rules/at-root

[2019-10-21 21:49] octref commented on #65976
When I put it into a selector it works:

![image](https://user-images.githubusercontent.com/4033249/67245924-04e1b400-f412-11e9-9fed-ec848d50f95b.png)

[2019-10-21 21:52] Tyriar commented on #82901
Apparently there are 2 terminal commands, one with prefix and one without 🤷‍♂

[2019-10-21 21:52] misolori commented on #58531
Cleaned up the margins so that all of the views with an input box up top are the same. The Search view has an exception where it requires more margins due to the expand/collapse chevron:

<img width="445" alt="image" src="https://user-images.githubusercontent.com/35271042/67246103-66a21e00-f412-11e9-8572-5dd481f483d7.png">

FYI @roblourens @joaomoreno @sandy081

[2019-10-21 21:53] #58531 closed

[2019-10-21 21:56] #71106 closed

[2019-10-21 21:58] mohsinonxrm commented on #6442
@tejaskale , I was able to build and run from source on the Raspberry Pi 4B itself. It runs fine, however, it complains something (not in front of my Pi) about vscode-sqlite3 and some other error/warning. Overall, yeah, so far so good.
I wasn't able to get headmelted .deb package to work, it loads but VSCode has a blank screen. Anyway, I have my own build from latest now, so don't need that.

For

[2019-10-21 21:59] alexandrudima commented on #15622
The same issue exists with combining diacritics - e.g. `ã`

[2019-10-21 21:59] alexandrudima commented on #79067
Let's track in #15622

[2019-10-21 21:59] #79067 closed

[2019-10-21 21:59] mjbvz opened #83013 "Running 'Open previous editor from history' from command palette selects the first editor unless you press enter very quickly"
Issue Type: <b>Bug</b>

**repo**
1. In the vscode command palette, run the `Open previous editor from history` command by pressing enter to accept it

**Bug**
1. Unless I press and release enter super quickly, I always end up selecting the first previous editor in the history

VS Code version: Code - OSS Dev 1.40.0 (Commit unknown, Date unknown)
OS version: Darwin x64 18.7.0

<details>
<summary>Sy

[2019-10-21 21:59] alexandrudima commented on #17594
Let's track in #15622

[2019-10-21 21:59] #17594 closed

[2019-10-21 22:02] briman0094 commented on #65976
It can't really be "at root level", but if an `@at-root` is in a partial file which is only `@include`d inside selectors in other files, it's perfectly valid syntax and yields the predicted result. The only thing that doesn't work is the syntax highlighting.

[2019-10-21 22:03] mjbvz opened #83014 "Perf issue when resizing panel next to editor"
Issue Type: <b>Feature Request</b>

**Repo**
1. In the VS Code codebase, open an editor
1. Then resize the search resutls panel

**Bug**
This is super slow

![Screen Shot 2019-10-21 at 3 03 32 PM](https://user-images.githubusercontent.com/12821956/67246674-f4cad400-f413-11e9-867c-83fcf6de75f1.png)

[Profile-20191021T150302.json.txt](https://github.com/microsoft/vscode/files/3753054/Profile-2019102

[2019-10-21 22:03] Glysxd opened #83015 "When opening Vscode it doesn't respond."
![xd](https://user-images.githubusercontent.com/56849736/67246684-21d7b080-f42d-11e9-8c91-1eed82f9eef5.png)

[2019-10-21 22:03] iansan5653 commented on #55068
I think it might be useful for JavaScript, but it would definitely be useful for CSS. Large stylesheets get very unwieldy as they expand, and in CSS files the outline only shows the selectors - it never gets more than a level deep.

[2019-10-21 22:05] mjbvz commented on #83014
Oh wait, this is not specific to search results. Assigning better owner

[2019-10-21 22:08] octref commented on #68324
Upstream issue: https://github.com/microsoft/vscode-css-languageservice/issues/186

First two cases already work, it's only reporting error when using parametric mixins with extra space before `(`.

[2019-10-21 22:10] cloudrex commented on #38878
Any updates on this?

[2019-10-21 22:11] roblourens opened #83016 "Empty terminal when task has "reveal: never""
I have this task:

[code]

- Run the task
- Open the terminal
- There is no text in the terminal

[2019-10-21 22:12] roblourens commented on #83016
/findDuplicates

[2019-10-21 22:18] mjbvz commented on #83014
Tested with extensions disabled and still seeing choppy performance. Seems related to setting `"editor.wordWrap": "on"`

[2019-10-21 22:19] roblourens commented on #83016
Got errors like this:

![image](https://user-images.githubusercontent.com/323878/67247443-3ceaf600-f416-11e9-8d5e-1cf096bbee20.png)

[2019-10-21 22:21] tbriggs707 opened #83017 "Linux: Multiple Cursor Copy/Paste"
I am trying to copy/paste several lines of code, but it appears that the behavior for this has changed and I'm not sure how to correct this.

When I select multiple words (cursor on each word). Copy. Place the same number of cursors somewhere else. Paste. Instead of pasting one word with each cursor, it is pasting all words where the last cursor is located.

![Example](https://user-images.githubus

[2019-10-21 22:23] octref commented on #71813
Seems already fixed:

![image](https://user-images.githubusercontent.com/4033249/67247606-c6022d00-f416-11e9-9e7b-f2218fa70bcb.png)

[2019-10-21 22:38] rebornix commented on #78595
![Kapture 2019-10-21 at 14 38 48](https://user-images.githubusercontent.com/876920/67248290-d0252b00-f418-11e9-853b-dada07667715.gif)

I fail to reproduce this issue with current Insiders, it would be great if we can have more info about how to reproduce it.

[2019-10-21 22:43] rebornix commented on #74346
sorry for coming back to the issue late, do you mean you the whitespace was added automatically by mistake?

[2019-10-21 22:43] octref opened #83018 "Offer an setting to turn off inline break points"
I don't like my text to be shifted, also when I'm editing text in debug mode, the breakpoints can get into weird state. Try to delete or move text around the breakpoints and you can easily find this happening:

![image](https://user-images.githubusercontent.com/4033249/67248496-85f07980-f419-11e9-8999-971cc4473962.png)

[2019-10-21 22:45] thkrishn commented on #81391
So i figured the build problems; The system I am using is behind a proxy
after I fixed the build issues ... on `http://localhost:8080/` I just get a blank screen

![image](https://user-images.githubusercontent.com/7133450/67248593-cfd95f80-f419-11e9-8cd6-92bbae5eab13.png)

[2019-10-21 22:52] tbriggs707 commented on #83003
I have been seeing similar issues. Here, all I am doing is `Ctrl+C` and `Ctrl+V` to copy/paste the entire line.

Expected:
![Expected Behavior](https://user-images.githubusercontent.com/2791682/67248276-2a29ee80-f421-11e9-9066-3231d661249a.gif)

Actual:
![Actual Behavior](https://user-images.githubusercontent.com/2791682/67248804-cb657480-f422-11e9-935c-24f023383b83.gif)

[2019-10-21 22:53] #74635 closed

[2019-10-21 22:59] octref opened #83020 "Test media query symbols"
Refs: https://github.com/microsoft/vscode/issues/74635

- [x] Windows @eamodio
- [x] anyOS @JacksonKearl (MacOS)

Complexity: 1

Description: Media query now show as symbols. That means they show up in:

- Outline View
- Go to Symbols in File command
- Breadcrumbs

Write some media queries and make sure the outline look alright for you. To start, you can do

[code]

Useful: https://developer.mozil

[2019-10-21 23:04] mjbvz commented on #73017
I think this is a good use case of the custom editor api proposal: #77131

To implement this, you'd:

1. Register a file system provider for your welcome page
1. Register a custom editor for some special file on that file extension.
1. Using the normal VS Code commands, invoke `open` for your welcome page resource in the target group

The custom editor api will ensure that only a single webview fo

[2019-10-21 23:04] #73017 closed

[2019-10-21 23:04] #71043 closed

[2019-10-21 23:07] mjbvz commented on #61100
Closing as we haven't seen much demand for such an api

[2019-10-21 23:07] #61100 closed

[2019-10-21 23:08] v-andrew opened #83021 "Tasks.json option to overwrite build shell doen't work"
- VSCode Version: 1.39.2
- OS Version: Windows 10

Steps to Reproduce:

1. Set a build shell which is different than default
[code]
2. Run build and see that it is using original shell, not one defined in `.vscode\tasks.json`

Does this issue occur when all extensions are disabled?: Yes

[2019-10-21 23:09] #82856 closed

[2019-10-21 23:09] oglops opened #83022 "Can not jump to symbol with a folder on a read only directory in workspace"
- VSCode Version: 1.39.1
- OS Version: Fedora 30

Steps to Reproduce:

1. add any folder which is read only to workspace
2. change interpreter settings then you will see

Failed to set 'pythonPath'. Error: Unable to write file (NoPermissions (FileSystemError): Error: EACCES: permission denied, mkdir '/path/to/dir/.vscode')

Then because the file is a python 2 file, default interpreter is 3.5, it s

[2019-10-21 23:12] v-andrew opened #83023 "bash receives incorrect build path"
- VSCode Version: 1.39.2
- OS Version: Windows 10

Steps to Reproduce:

1. Set `bash` as default shell
2. Run build task for typescript project
[code]

Does this issue occur when all extensions are disabled?: Yes

[2019-10-21 23:15] v-andrew commented on #83023
Build works when you set build task to us power-shell, however there is an annoying bug https://github.com/microsoft/vscode/issues/83021

[2019-10-21 23:16] v-andrew commented on #83021
Stumbled on it when was trying find a way around with https://github.com/microsoft/vscode/issues/83023

[2019-10-21 23:17] #73800 closed

[2019-10-21 23:31] rebornix commented on #68828
sorry for reaching out late, do you reproduce this issue with all extensions disabled?

[2019-10-21 23:37] rebornix commented on #47683
Tracked in https://github.com/microsoft/vscode/issues/62430 .

[2019-10-21 23:38] #47683 closed

[2019-10-21 23:40] rebornix commented on #62289
Close as lack of enough information here and we can reopen once more info provided.

[2019-10-21 23:40] #62289 closed

[2019-10-21 23:42] rebornix commented on #66314
@leeminki02 could you try latest VS Code and see if you can reproduce, I'm wondering if it's a chromium issue which is already fixed upstream.

[2019-10-21 23:43] rebornix commented on #66361
This is likely fixed via https://github.com/microsoft/vscode/issues/79579

[2019-10-21 23:44] rebornix commented on #65854
It's probably messed up with auto indentation, which you can turn off via `editor.autoIndent`.

[2019-10-21 23:44] #65854 closed

[2019-10-21 23:46] rebornix commented on #67195
sorry for coming back to the issue so late. Could you please provide more info about how to reproduce or if it still reproduces with latest VS Code?

[2019-10-21 23:51] rebornix commented on #75004
Close as it's not operational.

[2019-10-21 23:51] #75004 closed

[2019-10-21 23:53] nausicaasnow commented on #70413
Definitely a **must have** feature.

[2019-10-21 23:56] leeminki02 commented on #66314
@rebornix Yeah, I think it's fixed now! Thanks for the notice! :)

[2019-10-21 23:56] #66314 closed

[2019-10-22 00:03] rebornix commented on #70576
@ridago I'm wondering if you have auto save turned on or anything similar ? Do you see the issue in all languages?

[2019-10-22 00:12] rebornix commented on #77606
A costly a find operation might hang the whole system which is an known issue.

[2019-10-22 00:12] #77606 closed

[2019-10-22 00:16] rebornix commented on #78044
@dbnex14 what I'm trying to figure out is checking what's the default keybinding for Open Voice Over in your system. If it's set to F5, then it will definitely override VS Code's keybindings. By default, on macOS, turning on Voice Over is Cmd+F5 and it doesn't conflict with F5 from VS Code.

I don't doubt that F5 is assigned to Start Debugging on your machine but to figure out why this happens, we

[2019-10-22 00:20] #81517 closed

[2019-10-22 00:20] #81882 closed

[2019-10-22 00:27] rebornix commented on #82343
Feeding large content into the find widget input box can hang the system, no matter whether it's single line or multiple line. However it's easier to run into this case after we support multiple line find.

I'd like to call it a duplicate.

[2019-10-22 00:27] #82343 closed

[2019-10-22 01:01] simonmckenzie commented on #78595
Hi @rebornix,

You're right - it's working in v1.39.2. However, it's still not quite right - if you then press "down" after the hlighlight has been made, the row is copied (rather than a rectangle of text being selected):

![Place the cursor, hold "shift", press "right", then "down", "down", "down"](https://user-images.githubusercontent.com/17579442/67253492-93fad480-f4c3-11e9-80c4-85431574d68a.gi

[2019-10-22 01:05] ChavanSamp commented on #82885
@Tyriar Excuse me, it really is milliseconds. But it's still a perfomace problem, I'll take a look at what you mentioned.

[2019-10-22 01:13] mjbvz opened #83024 "Interactive playground's suggest widget styled everything as links"
Issue Type: <b>Bug</b>

**Repo**
1. Open interactive playground and trigger suggest widget

**Bug**
The styling of the suggest widget shows everything in blue:

![Screen Shot 2019-10-21 at 6 07 08 PM](https://user-images.githubusercontent.com/12821956/67253746-3a949600-f42e-11e9-9d7d-fde7b1f10513.png)

Here's a normal suggest widget for comparison:

![Screen Shot 2019-10-21 at 6 07 11 PM](https://

[2019-10-22 01:23] deraeler commented on #3451
folks - I admit to being a unix novice, however trying to set this up had been a total cluster.  I have an ubuntu 16.04 VM set up on AWS.  The manual VS-CODE install appeared to run fine.  However I get this same issue.
When I attempt to edit that file (/usr/lib/x86_64-linux-gnu/libxcb.so.1.1.0) in either UTF-8 or UNICODE it comes up as gibberish - it's not editable. Same with the ".1" file. What

[2019-10-22 01:26] #81059 closed

[2019-10-22 01:26] #82419 closed

[2019-10-22 01:40] roblourens commented on #82733
To me, it sort of looks like a different font. But even if it's the same, the font rendering will always be slightly different. It should be the same as what you see in Chrome. From the screenshot, I can't tell whether it's wrong.

[2019-10-22 01:42] deraeler commented on #3451
p.s. - the file(s) appear as binary or compressed - anything but text.

Secondly, the verbose output from manually launching 'code' :

[main 2019-10-22T01:09:26.307Z] Starting VS Code
[main 2019-10-22T01:09:26.312Z] from: /usr/share/code/resources/app
[main 2019-10-22T01:09:26.312Z] args: { _: [], verbose: true, diff: undefined }
[main 2019-10-22T01:09:26.314Z] Resolving machine identifier...
[mai

[2019-10-22 01:43] mjbvz opened #83025 "Interactive playground `Errors and warnings` section not useful"
Issue Type: <b>Bug</b>

In the interactive playground, the `errors and warnings` section does not show any errors until you make an edit. Also the code example is weird. We should show a real syntax error instead of errors about using TS in a JS file

VS Code version: Code - OSS Dev 1.40.0 (Commit unknown, Date unknown)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item

[2019-10-22 01:43] roblourens commented on #82747
On other systems, we see this:

![image](https://user-images.githubusercontent.com/323878/67254546-76c9f580-f432-11e9-82f2-3e8a015b8f97.png)

I forgot that you can also get

![image](https://user-images.githubusercontent.com/323878/67254564-8fd2a680-f432-11e9-853e-1c070200db33.png)

I see that the copy button doesn't work. I don't see

which browser are you using?

I will try to forward your feedb

[2019-10-22 01:45] FriskyDev commented on #65854
But, why should I have to turn that off? This used to work fine.

You are just closing it, but no real explanation.

[2019-10-22 01:45] mjbvz opened #83026 "Interactive playground emmet section doesn't work"
Issue Type: <b>Bug</b>

In the interactive playground,  the `emmet` section does not work for me. I don't see any emmet commands in the command palette and can't trigger suggestions for the expansion

VS Code version: Code - OSS Dev 1.40.0 (Commit unknown, Date unknown)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ

[2019-10-22 01:53] ZhaoQiang2015 commented on #82768
Thank you for you reply. My OS is ubuntu 16.04, and I used the default keymap of vscode. last night, I try the operation of copy line down in my Mac laptop. It's behavior is normal. may it only accurs in the Ubuntu's OS?,

[2019-10-22 02:07] jayenashar commented on #3451
don't try modifying the file with a text editor - as you have discovered it's not text but compiled code

this command will copy the file and modify it for vscode use only.

`sed 's/BIG-REQUESTS/_IG-REQUESTS/' /usr/lib/x86_64-linux-gnu/libxcb.so.1 | sudo tee /usr/share/code/libxcb.so.1 > /dev/null`

[2019-10-22 02:11] lambainsaan commented on #57719
One thing we can do is on hover over the errors listed in the scrollbar, it zooms into that section, and allows the user to pick a position to go to, all the errors in the vicinity of the hovered area shows up in the zoomed-in panel, the user can click on some point in the zoomed-in section, which takes the user to that position. Even I have a similar workflow, and it's very cumbersome.

[2019-10-22 02:12] whiter001 commented on #63045
move selections up/down in `editor.action.moveCarret`  would be nice,too

[2019-10-22 02:33] lucasvazq commented on #46326
```Any news on this ?```

[2019-10-22 03:36] roguexiaohuihui opened #83027 "[plug-in development]Error: Cannot find module '..\build\Debug\pty.node'"
I wanted to introduce the node-pty module into plug-in development, but I got an error

![image](https://user-images.githubusercontent.com/22930711/67257717-dae6cb00-f4bf-11e9-9767-dd83f3c57277.png)
![image](https://user-images.githubusercontent.com/22930711/67257736-e9cd7d80-f4bf-11e9-8844-08206762734c.png)

Version information：
"node-pty": "^0.8.1",
"engines": {
    "vscode": "^1.39.0"
},

Wheth

[2019-10-22 03:49] 928PJY commented on #25852
Hi @jrieken, is that any update about this issue? is that any workaround about this issue? I notice that you have removed the `Bug` tag, so just want to know will you take this as a high priority problem or not?

[2019-10-22 03:53] roblourens opened #83028 "Creating a folder opens the selected file"
- Close all open editors
- Focus the explorer, use the arrow keys to move focus to a file
- Click the "new folder" button
- The focused file is opened

[2019-10-22 03:59] heymartinadams commented on #11688
Please please please please please please please please please please please please please please please please please please please please please please please please please...

This feature is so desperately needed.

[2019-10-22 04:20] ashjas commented on #82656
as i mentioned i get it even if i disable all extensions.
Secondly,
the .code-workspace file has this:
[code]
But the previous vscode version has no problem with this workspace file, as search works.

Strange, i removed the above entry, and updated vscode, and the issue has gone.
So, if you are interested, maybe you can reproduce the issue, by adding the above entry to your workspace file on a net

[2019-10-22 04:38] diaszacharias opened #83029 "Always detecting multiple definitions of symbol when peek (Alt+F12) or goto defintions (F12)"
Issue Type: <b>Bug</b>

Defined functions as below,
file1.js
[code]

calling functions in another file
file2.js
[code]
Actual: When trying to goto/peek definition of Fn2 from file2.js, VS code shows two definitions (Note we defined only one definition in the symbol).

Expected: When peek/goto symbols, VS Code should goto symbol directly if only one definitions exist. And display the number of defi

[2019-10-22 04:54] misolori commented on #83007
This is not an issue, but if you do have an issue with Catalina please see https://github.com/microsoft/vscode/issues/74782.

[2019-10-22 04:54] #83007 closed

[2019-10-22 05:35] TheInnovativeTechnologist opened #83030 "Related: VS Code is hard to use on a shared user account and multiple RDP"
I have read thru the following closed issues and cannot see a solution to this problem.  Help please. :)

[VS Code is hard to use on a shared user account and multiple RDP #15674](https://github.com/microsoft/vscode/issues/15674)

[Multi remote desktop session use of VS Code does not behave as expected #31288](https://github.com/microsoft/vscode/issues/31288)

[Windows : Opens in wrong RDP Session

[2019-10-22 05:55] bpasero commented on #82435
Not yet: https://github.com/microsoft/vscode/issues/74782

[2019-10-22 06:06] bpasero commented on #81391
@thkrishn can you open the browser developer tools to see if something is printed to the console?

[2019-10-22 06:06] #82898 closed

[2019-10-22 06:09] bpasero commented on #82934
@Pomax wait a second...

There is a reason the notification appears in the first place and it should absolutely be the exception. If a file has changed on disk while it is open and dirty in VSCode, we alert you that saving will overwrite whatever state there was on disk. If we would not have such an experience, there would be a large number of users complaining that VSCode caused data loss because

[2019-10-22 06:09] bpasero commented on #73284
Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can find

Thanks!

[2019-10-22 06:21] Blasz opened #83031 "Can't load global intellicode plugin when using workspace typescript version"
Version: 1.39.1
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Date: 2019-10-10T23:35:11.314Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

Steps to Reproduce:

1. Install typescript@3.6.2 locally in a project
2. Change vscode to use workspace version instead of vscode's version (3.6.3) via the verison number in the status bar bottom rig

[2019-10-22 06:28] samadmeets opened #83032 "Search text in loaded project inside a specific file type is not working fine"
While searching for some text "abc" in all files "*.xml" of a specific file type inside a loaded project that has a diverse file structure containing .py, .json, .xml,  and so on.

Shows only few results of the complete results when the same project is loaded in different IDE like Eclipse.

[2019-10-22 06:31] bpasero commented on #82883
**Verification**: ensure you can use `env.uiKind` from an extension that is not enabled for proposed API.

[2019-10-22 06:34] bpasero opened #83033 "Test: Add a setting to disable gpu acceleration"
Refs: https://github.com/microsoft/vscode/issues/15211

- [x] Linux @deepak1556
- [x] Windows @roblourens
- [x] Mac @jrieken

Complexity: 2

A new command "Developer: Configure Runtime Arguments" was added that allows to disable GPU if needed.

**Verify:**
* the file is documented well and provides intellisense
* disabling GPU is possible after changing the file and restarting the application (to

[2019-10-22 06:40] Frolikow opened #83034 "проблема прокрутки"
Issue Type: <b>Performance Issue</b>

Проблема происходит в любом файле, на любом этапе работы, в общем всегда. Когда я хочу перетащить ползунок(справа) вверх или низ, я привык что раньше я уводил курсор на край экрана и тащил ползунок. Сейчас мне нужно курсором сделать отступ от правой грани экрана, чтобы попасть в ползунок. Это катастрофически не удобно.

VS Code version: Code 1.38.1 (b37e54c98e

[2019-10-22 06:40] #83034 closed

[2019-10-22 06:44] HenrikHolmIT commented on #15991
This seems like such an easy low hanging fruit to harvest.

The extension we're developing has to do stuff to files located in the currently selected folder. Currently we're trying to guess that folder by looking at the file currently being edited. That's not a particular safe way of doing it but currently the only way.

It would be much more safe to have it handled by VS Code generally.

I'd like

[2019-10-22 06:52] #83004 closed

[2019-10-22 07:00] bpasero opened #83035 "Remote: download folder experience is not ideal"
![image](https://user-images.githubusercontent.com/900690/67264090-5ccbf980-f4aa-11e9-97fe-710b2e5c4d27.png)

I don’t think `ITextFileService` is the right place for downloading a folder. I would rather manually bring up a folder picker to ask the user for the target destination and then use `IFileService.copy()` for the operation to that target folder.

[2019-10-22 07:02] bpasero opened #83036 "Web: allow to drop files into the explorer to upload them"
As a user of web, I want to drag and drop files (1-N) into a folder of the explorer to have them uploaded there. https://developer.mozilla.org/en-US/docs/Web/API/File/Using_files_from_web_applications seems relevant on the topic **Selecting files using drag and drop**

//cc @egamma @lostintangent

[2019-10-22 07:02] alexr00 commented on #83015
Does this reproduce if you disable all extensions? Was there a specific file or folder you were opening?

[2019-10-22 07:04] aaomidi commented on #68988
Let me know if you've figured out the reason for the Render process crashed error.

[2019-10-22 07:04] bpasero opened #83037 "Web: allow to download from the explorer"
As a user of web, I would like to select files/folders from the explorer to download them to disk. https://developers.google.com/web/updates/2011/08/Downloading-resources-in-HTML5-a-download seems relevant.

The challenges are:
* this probably only works through a click event on an anchor
* I am not sure how to support multi-file download
* we need to convert the file URL into the externally resol

[2019-10-22 07:04] jrieken commented on #74054
Not really, this is about writing down all the different behaviours and the attempt to align them or at least align the defaults, like JSON defaults to inserting snippets, TS doesn't etc etc

[2019-10-22 07:04] alexr00 commented on #83022
pythonPath is not part of VS Code. It is in an extension.

[2019-10-22 07:05] #83022 closed

[2019-10-22 07:08] alexr00 commented on #83023
We try to do some path manipulation to help with issues like this, but we can't reliably tell when a parameter should have this done. This is absolutely a bug, but not one that can be easily fixed. Would likely be helped by https://github.com/microsoft/vscode/issues/38381, so marking as a duplicate of that.

[2019-10-22 07:08] #83023 closed

[2019-10-22 07:08] bpasero commented on #82998
This menu is specifically for editor actions, not the sidebar.

[2019-10-22 07:08] #82998 closed

[2019-10-22 07:08] m-brooks commented on #6442
Mohsinonxrm, out of interest have you tried building and running the C# debugger? This has to date been the major shortcoming that in effect prevents one from being able to develop in C# in VSCode on the Pi.

Regards.

Regards,
Michael

________________________________
From: mohsinonxrm <notifications@github.com>
Sent: Monday, October 21, 2019 11:00:52 PM
To: microsoft/vscode <vscode@noreply.githu

[2019-10-22 07:09] #83027 closed

[2019-10-22 07:12] ridago commented on #70576
This had been a while, haven't used VSCode on that OS recently, but I don't
think I had autosave on and I think I was only using Python at the time.

On Tue, Oct 22, 2019 at 2:05 AM Peng Lyu <notifications@github.com> wrote:

[2019-10-22 07:12] DanTup commented on #68988
Unfortunately I did not. I gave up on trying to run them concurrently and instead run more entirely separate instances in the CI script (which means merging coverage, etc. but it seems most reliable). I still do see VS Code crash pretty frequently (running only one instance) though.

More recently, macOS runs just seem to hang at the end (see https://github.com/microsoft/vscode/issues/82676) which

[2019-10-22 07:20] alexr00 commented on #83021
I can't reproduce this. I used this task:
[code]
Can you share your whole exact task?

[2019-10-22 07:22] aaomidi commented on #68988
Is it only happening to you on windows? (The process crashing)

[2019-10-22 07:40] muuvmuuv opened #83038 "Using --user-data-dir in launch.json can not connect to marketplace"
I'm debugging my extension [Sundial](https://github.com/muuvmuuv/vscode-sundial/) and tried to run a debugger which acts as a fresh installed VS Code, so I added `--disable-extensions` and `--user-data-dir` but I get an error in the extensions tab:

[code]

The reason I want this, is that when I test my extension, it changes VS Code settings in the debugging window but because the debugging window

[2019-10-22 07:41] AndiDog commented on #83017
For me, this bug was introduced around 1.39 or 1.39.1.

Also – tested on macOS – Cmd+C followed immediately by Cmd+P does not work (no matter if I leave the finger on Cmd or not)... I first have to put the cursor somewhere else before pasting. This is a quite typical action for instance to duplicate selected text right at the spot.

Probably related to #83002?

[2019-10-22 07:45] suntaoTs commented on #35901
`fontSize: 13` and `fontSize: 15` all can solve this problem. just advise that the default Size not be 14, it will be solved.

[2019-10-22 07:48] DanTup commented on #68988
I don't remember to be honest - it was some time ago. I already spent more time on it than I'd like to repeat to find out again 😁

[2019-10-22 07:51] jbracer19 commented on #35901
ok so wow, what happened
On Oct 22, 2019, at 2:47 AM, suntao <notifications@github.com> wrote:

﻿

@Tyriar<https://github.com/Tyriar>

The line height workaround doesn't work for me in latest insiders

Running Ubuntu in virtualbox

  *   VSCode Version: Code - Insiders 1.18.0-insider (81cca6c<https://github.com/microsoft/vscode/commit/81cca6cc606eeca3443998025bff3893fcfe3ad5>, 2017-10-31T06:24:27.

[2019-10-22 07:58] FrankFang opened #83039 "Failed to get 'appData' path"
- VSCode Version: 1.39.2
- OS Version: Windows 10 professional 1903

Steps to Reproduce:

1. use GitBash
2. set $USERPROFILE to /d/Name
3. run code --wait
4. you will see this dialog:
    ![image](https://user-images.githubusercontent.com/839559/67267397-c5d06300-f4e4-11e9-9540-ac28c92073e1.png)

Does this issue occur when all extensions are disabled?: Yes

[2019-10-22 07:59] FrankFang commented on #83039
Temp solution: https://github.com/electron/electron/issues/10054#issuecomment-326909697

[2019-10-22 07:59] jbracer19 commented on #35901
want me to pwr up?  seemed everyone had a little fun with me so i just shut down for the night. But maybe it wasn’t ? i really would like to know, when i booted to another drive had multiple logins were erasing every drive so i shut back down

On Oct 22, 2019, at 2:53 AM, Rocket <notifications@github.com> wrote:

﻿ok so wow, what happened
On Oct 22, 2019, at 2:47 AM, suntao <notifications@github.c

[2019-10-22 08:02] DanTup opened #83040 "TreeError [MarkersPanel] Tree element not found: [object Object]"
I believe this was expected to be fixed by #71126, however that fixed is included in the current stable release and it still happens (FYI @sandy081 - the bot locked the existing issue, and I couldn't find another tracking this).

I still see this lots - most noticeably in my CI runs it just fills the logs. This one is using the current insiders build:

[code]

https://travis-ci.org/Dart-Code/Dart-

[2019-10-22 08:07] jbracer19 commented on #83040
ok fine , want me to fix it?

On Oct 22, 2019, at 3:05 AM, Danny Tuppeny <notifications@github.com> wrote:

﻿

I believe this was expected to be fixed by #71126<https://github.com/microsoft/vscode/issues/71126>, however that fixed is included in the current stable release and it still happens (FYI @sandy081<https://github.com/sandy081> - the bot locked the existing issue, and I couldn't find anoth

[2019-10-22 08:13] mtsh1000 commented on #56630
This seems to be related to that Win 7 basic theme uses GDI for drawing while aero theme and all later windows versions use DirectX.

[2019-10-22 08:14] xiaotaw opened #83041 "*go to definition* become slow, and finally does not work at all"
- VSCode Version:  1.39.2
- OS Version: Linux x64 4.15.0-65-generic

Steps to Reproduce:

1. open a workspace, open a folder (Here I open GibsonEnvV2, git clone from https://github.com/StanfordVL/GibsonEnvV2)
2. choose a python interpreter from anaconda env (a env where installed **many** third party libraries)
3. read the code, and use **go to definition** for several minutes, e.g. `NavigateEnv`(

[2019-10-22 08:16] jbracer19 commented on #83039
#karma’s a b!7ch.....

On Oct 22, 2019, at 3:01 AM, Frank Fang <notifications@github.com> wrote:

﻿

Temp solution: electron/electron#10054 (comment)<https://github.com/electron/electron/issues/10054#issuecomment-326909697>

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/microsoft/vscode/issues/83039?email_sour

[2019-10-22 08:22] isidorn commented on #82964
It was working because we were caching the title less agressivly.
Now we cache it properly and drop the cache only when there is an actual change.

[2019-10-22 08:23] isidorn commented on #82997
Dup of https://github.com/microsoft/vscode/issues/2163

[2019-10-22 08:23] #82997 closed

[2019-10-22 08:27] isidorn commented on #81768
@misolori Is the build finished successfuly here?
@alexr00 it seems like the task does not report it is done to the debug.

Please note that I pushed the change which should just affect the happy no error case

[2019-10-22 08:28] mtsh1000 opened #83042 "Show opening bracket line when closing bracket is selected"
It would be very useful to show opening bracket line when selecting closing bracket to quickly see the condition or function params your currently in. This could be a breadcrumbs option (second line maybe?)

[2019-10-22 08:28] isidorn commented on #82790
Then please use vscode insiders.
It seems to be fixed with latest electron which we will ship soon in stable.
Thanks

[2019-10-22 08:28] #82790 closed

[2019-10-22 08:28] bpasero opened #83043 "Do not encode URIs when asking to open?"
![image](https://user-images.githubusercontent.com/900690/67269252-a7ec0980-f4b6-11e9-84d8-7e7923940906.png)

Maybe use `toString(false)` in https://github.com/microsoft/vscode/blob/c58aaab8a1cc22a7139b761166a0d4f37d41e998/src/vs/workbench/services/extensions/browser/extensionUrlHandler.ts#L145

[2019-10-22 08:29] jbracer19 commented on #83039
no more teasing bug, i think i can give you what you need, but who was doing what?

On Oct 22, 2019, at 3:16 AM, jballou1@hotmail.com wrote:

﻿#karma’s a b!7ch.....

On Oct 22, 2019, at 3:01 AM, Frank Fang <notifications@github.com> wrote:

﻿

Temp solution: electron/electron#10054 (comment)<https://github.com/electron/electron/issues/10054#issuecomment-326909697>

—
You are receiving this because

[2019-10-22 08:29] jbracer19 commented on #83040
someone was wiping my drives at the end, pretty sure one computer is down, Main will boot , just let me know when your ready

On Oct 22, 2019, at 3:09 AM, Rocket <notifications@github.com> wrote:

﻿
ok fine , want me to fix it?

On Oct 22, 2019, at 3:05 AM, Danny Tuppeny <notifications@github.com> wrote:

﻿

I believe this was expected to be fixed by #71126<https://github.com/microsoft/vscode/issu

[2019-10-22 08:29] jbracer19 commented on #83040
well they hung a carrot and i probably should have stopped jumping for it earlier (figured a couple hours earlier but had consumed all of my day already, so i entertained liked usual,   but nobody can say i lack persistence :)
On Oct 22, 2019, at 3:09 AM, Rocket <notifications@github.com> wrote:

﻿
ok fine , want me to fix it?

On Oct 22, 2019, at 3:05 AM, Danny Tuppeny <notifications@github.com>

[2019-10-22 08:29] isidorn commented on #82996
I am +1 for making the activity bar a bit thiner and more sexy

[2019-10-22 08:32] isidorn opened #83044 "Activity bar broken when toggled back"
VSCode insiders, Catalina

1. Have activity bar hidden
2. Reload VSCode -> toggle activity bar to be shown
3. Broken activity bar 🐛

I can repro this 100%.
I can not repro with stable, thus this is a regression which we should fix thus assigning to October

fyi @misolori @bpasero

![Screenshot 2019-10-22 at 10 30 50](https://user-images.githubusercontent.com/1926584/67269446-09ac7380-f4b7-11e9-8a7

[2019-10-22 08:33] gjsjohnmurray commented on #82964
@isidorn I hope you agree that we at least need to initialize the cached value correctly. If a file is opened from a readonly FileSystemProvider it is correctly treated as readonly in VSCode. But since this change we have lost the indicator text. Surely a regression, no?

[2019-10-22 08:35] isidorn commented on #83018
It is a fair feature request to have a setting to turn off inline breakpoints. However I would not add it until we get more feedback like this.

As for the weird breakpoint locations when you edit text that is a duplicate of https://github.com/Microsoft/vscode/issues?q=is%3Aissue+assignee%3Aisidorn+author%3Amjbvz+is%3Aclosed
And @roblourens can comment more (I think the fix is pushed, but not sure

[2019-10-22 08:39] sguillia commented on #82085
Great, thanks!

The allows extensions in user setting `extensions.confirmedUriHandlerExtensionIds` are not displayed in the quick pick. I wouldn't expect it, but for a moment I forgot they were in my settings :-)

[2019-10-22 08:40] Prurite commented on #43244
Any available fix now? I'm experiencing the same and this is really *annoying*.

[2019-10-22 08:42] bpasero commented on #82884
Better idea that does not require new API in: https://github.com/microsoft/vscode/pull/83045

[2019-10-22 08:50] joaomoreno commented on #82989
@mjbvz You might've missed a copy, that points to this issue.

[2019-10-22 08:50] nfq-sb-tmp commented on #43244
From the looks of it, this is never gonna be addressed. Though I'm unable to comprehend _why_.

[2019-10-22 08:51] hleVqq commented on #43244
From the looks of it, this is never gonna be fixed. Though I can't comprehend _why_.

[2019-10-22 08:54] bpasero commented on #82964
@isidorn I think this is unrelated to the file model, but rather we might need to have another event that causes all file editor inputs to loose their caches when a file system provider becomes available? The way I see it:
* user has many files opened
* files are from readonly file system
* user reloads window
* we show all the files very early as part of restoring the workbench
* after a while th

[2019-10-22 08:56] joaomoreno commented on #82203
@timdang Yes that seems unrelated to our changes, but specific to that extension.

[2019-10-22 09:00] cazfletch opened #83046 "Have an option to disable show local files on open dialog box"
When you are using remote development an extension should be able to disable the `show local` files option when you are using the ` vscode.window.showOpenDialog` api. This is because there are cases when this is not appropriate

[2019-10-22 09:08] johanolofsson commented on #43244
Yes, this is sad! Like I expressed in the beginning this is likely to be a case of opinion among a select few responsible for deciding what to do with this. And this is simply their way of enforcing that. But then again, shortly WASM will dominate the Web and we can all stop writing JS and go back to actually useful IDEs like #realVisualStudio.

[2019-10-22 09:11] notskm opened #83047 "Allow Github workflow badges in extension readme"
Github workflows provide badges to display their status. [Unfortunately, these aren't whitelisted currently.](https://code.visualstudio.com/api/references/extension-manifest#approved-badges) Whitelisting them would be greatly appreciated.

**Example badge URL and documentation:**
`https://github.com/<OWNER>/<REPOSITORY>/workflows/<WORKFLOW_NAME>/badge.svg`

https://help.github.com/en/github/automa

[2019-10-22 09:11] isidorn commented on #83028
We alwasy beahved like this.
Issue being: whenever explorer gets focused if there is no file open we open the focused file. More details https://github.com/microsoft/vscode/issues/67708
The issue which surfaces this is that when the new folder is clicked, we always focus the explorer.

I understand that this is not nice behavior, however I will not change it atm.

[2019-10-22 09:12] joaomoreno commented on #82547
@amcolash You can disable the automatic repository detection as well: `git.autoRepositoryDetection`.

[2019-10-22 09:21] #83043 closed

[2019-10-22 09:22] isidorn commented on #82964
This makes sense.
I have pushed a change to drop all cache when a new file system provider is registered
@gjsjohnmurray can you please try vsocde insiders from Wednesday and let us know if the issue gets fixed for you. Thank you

[2019-10-22 09:24] erikaaron opened #83048 "编辑器功能"
在vscode中新建文件，编辑任意文件时。输入键盘的减号键，所展现的是backspace键的功能。目前无法使用键盘减号键。

[2019-10-22 09:31] dequation opened #83049 "Python Interactive Design - Broken After Update to 1.39.2"
Placement of the new icons in the updated Python Interactive-window design is not optimal.

The new 'Go to code' and 'Remove cell' icons clutter up the screen, and are placed too close to the 'Expand'-arrow, impacting usability (it's now difficult to click the 'Expand' without concentrating on not clicking one of the other icons).

In addition, the coloring of the icon buttons 'Interrupt-' and 'Re

[2019-10-22 09:32] crper commented on #82194
explorer Electron 7 ? now latest

https://electronjs.org/

![image](https://user-images.githubusercontent.com/8272877/67273848-d509dd80-f4f1-11e9-9290-5bb736783686.png)

[2019-10-22 09:37] aeschli commented on #82669
Its a regression in 1.39 that  "remote.WSL.fileWatcher.polling": true no longer is used.

Fixed for October.

[2019-10-22 09:37] #82669 closed

[2019-10-22 09:38] Lauralicious opened #83050 "Invalid Username or Password when cloning Git repository"
Issue Type: <b>Bug</b>

When i want to clone my git repository to Visual Studio, it asks me for a directory, which works fine, and then for username and password. I entered my Github username and password, it still showed me invalid username or password. Do I need to set up anything? I do have Git installed.
Also it doesnt show the tab "Version Control" which should, I think, for Mac.

VS Code ver

[2019-10-22 09:39] farfromrefug commented on #77949
same issue here. Started a few days ago

[2019-10-22 09:39] VishalAswar123 opened #83051 "NOt working"
Issue Type: <b>Bug</b>

codestats extensition not working properly

Extension version: 1.0.16
VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.17133

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>flash_3d: e

[2019-10-22 09:42] dequation commented on #83049
Honestly, just move everything except 'Expand' to the right, and it'll work fine.

[2019-10-22 09:44] sohailrajdev97 commented on #82829
@alexr00 What behaviour can be the expected behaviour when more than one URI is resolved successfully (when we have the same filename in different directories) ?

[2019-10-22 09:47] jorisvanderpol commented on #69785
How will the description be shown? For example under or next to each task in the task list or when hovering over a task in the task list using a tool tip (to save space)?

[2019-10-22 09:48] joaomoreno commented on #82979
Can you right click on the top of Source Control and confirm that there are no more repositories open?

[2019-10-22 09:50] joaomoreno commented on #82873
Can you not omit the repository path from the log? Can you also tell me where is the mount point? Also, which is the parent folder of the `.git` folder?

[2019-10-22 09:50] ackvf opened #83052 "Tool for prototyping TypeScript types faster"
Currently, it's very difficult to develop / debug complex types and there seems to be no official tool for prototyping, or not one the community is aware of.

---
Copy pasted from StackOverflow

https://stackoverflow.com/questions/58500139/tool-for-prototyping-typescript-types-faster

Is there an online tool, IDE or VSCode settings option/extension that allows to prototype type definitions (easier

[2019-10-22 09:51] dequation commented on #83049
In addition, apparently, Python Interactive no longer displays cell outputs. I now have to use explicit 'print'-statements.

This is a serious change to functionality, and removes one of the most useful features of IPython. Please do fix this A.S.A.P.

[2019-10-22 09:51] naruto2o2o opened #83053 "macbookpro 在拖动画面时出现画面刷新有延迟"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2019-10-22 09:53] #83053 closed

[2019-10-22 09:54] naruto2o2o opened #83054 "打开任意页面,在向下或者向上拖动滚轮时画面出现水波状的刷新延迟"
Issue Type: <b>Bug</b>

打开任意页面,在向下或者向上拖动滚轮时画面出现水波状的刷新延迟

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 19.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_st

[2019-10-22 09:54] joaomoreno commented on #77949
@niaal

[code]

Can you check the permissions of that path sequence?

[2019-10-22 09:55] joaomoreno commented on #83030
We simply do not support this use case. My recommendation would be to have multiple Code installations per user that would use RDP, maybe using Portable Mode.

[2019-10-22 09:55] #83030 closed

[2019-10-22 09:57] gjsjohnmurray commented on #83051
/causedByExtension please report this on the repository of the extension.

[2019-10-22 09:57] #83051 closed

[2019-10-22 09:58] Prurite commented on #43244
No this is not only the problem of JS... It affects all languages with this feature like C/C++ ( if I'm not misunderstanding you )

[2019-10-22 09:59] farfromrefug commented on #77949
@joaomoreno to get you the correct log, should i ask it just after the app closes to update?

[2019-10-22 09:59] alexr00 commented on #62515
We might be able to come up with a regex replacement to remove those comments in strings, but I'm not even sure if comments are allowed in strings like that in cson (our coffeescript) grammar doesn't think they are allowed). There are legit strings in there like 'include': '#comment-block'. How are those distinguishable from those comments?

[2019-10-22 10:06] #74558 closed

[2019-10-22 10:06] isidorn commented on #74558
@rebornix please review the fix. I checked out how it beahves and it seems good

[2019-10-22 10:08] aeschli commented on #82739
@roblourens
If I understand right, the issue is that you have the list of the current workspace folders and a search string that needs to be untildified and verified (turned in an URI).
Workspace folders are typically all local or all remote, but you can also consist of URIs of other file system providers, think of `remotehub:/...`. or ftp ect.

IMO the untildifying and verifying needs to happen o

[2019-10-22 10:12] xgqfrms opened #83056 "How to avoid `optional parameter` warnings in TypeScript?"
#  How to avoid  `optional parameter` warnings in TypeScript?

https://www.typescriptlang.org/docs/handbook/functions.html#optional-and-default-parameters

![image](https://user-images.githubusercontent.com/7291672/67276556-895a3280-f4f7-11e9-91cb-ee342398069d.png)

https://stackoverflow.com/questions/tagged/visual-studio-code.

[2019-10-22 10:13] #81286 closed

[2019-10-22 10:13] isidorn commented on #81286
Thanks for filling this.
Please try it out with Wednesday VSCode insiders and let me know if the issue is fixed for you.
I tried it out and now it works great for me.

[2019-10-22 10:19] alexr00 commented on #83016
@Tyriar this seems likely an issue in terminal, since tasks doesn't know or care about whether the terminal is visible. I tried to bisect, but someone made a complicated merge commit so it got messy.

[2019-10-22 10:22] isidorn commented on #83035
Thanks for creating this, however we already have this https://github.com/microsoft/vscode/pull/82881
Thus closing as duplicate and copying your comment there

[2019-10-22 10:22] #83035 closed

[2019-10-22 10:23] isidorn commented on #81654
From Ben: I don’t think ITextFileService is the right place for downloading a folder. I would rather manually bring up a folder picker to ask the user for the target destination and then use IFileService.copy() for the operation to that target folder.

[2019-10-22 10:24] johanolofsson commented on #43244
You are correct that it is an issue for most, or perhaps all, languages in VSCode. My point being that there are imo better choices of IDEs for most other languages than JS/TS, and hopefully we will soon not have to use JS/TS as extensively as we do today due to the rise of WASM.

[2019-10-22 10:31] SetTrend commented on #82776
Confirmed. Yes, my settings show `"editor.autoClosingBrackets": "never"`.

@mjbvz : Would you suggest I add my issue to /microsoft/TypeScript/issues/24468 or to create a new issue as it's already closed for discussion.

[2019-10-22 10:34] aeschli commented on #82851
You need to file this against the extension that you use for C/C++. The folding range provider that defines the folding ranges is defined there.

[2019-10-22 10:34] #82851 closed

[2019-10-22 10:39] gletthereblight opened #83057 "列模式下，选中 n 行时，无法粘贴 n 行到每一行"
- VSCode Version:1.40.0-insider (user setup)
- OS Version:win10 家庭中文版

Steps to Reproduce:

1.列模式下，选中 n 行时，粘贴 n 行数据，之后粘贴内容只会出现在第一行，之后的选中列中，均无法粘贴到
举例：
源表：
1 ""
2 ""
3 ""
粘贴板上内容：
a
b
c
选中源表 3 行后，将粘贴板内容粘贴，结果如下：
1 "a
b
c"
2 ""
3 ""
与期望值不符，之前版本如下：
1 "a"
2 "b"
3 "c"

[2019-10-22 10:41] ewantowie commented on #34940
@bpasero

I can certainly repeat the issue in Electron, but I cannot get the web based client to show anything. The newest version of Chromium I have available is 14.0, so could this be the issue?

[2019-10-22 10:45] milaniihglobal opened #83058 "auto complete doesnt work in JSX"
While trying to return something in callback function of 'map' method, the auto-complete of div tag doesnt work, and it is only div tag which is not get auto completed and all other tags working fine

[2019-10-22 10:45] aeschli commented on #82847
Are you on a very slow machine? That would explain the folding ranges to not appear. There's a timeout of 30 seconds before we give up waiting for the language server to return the results.

Also, can you set `"html.trace.server": "messages"` and look at the `Output view, HTML Language Server tab` while you toggle the editors?
![image](https://user-images.githubusercontent.com/6461412/67192287-998

[2019-10-22 10:48] energygreek opened #83059 "ALWAYS happen, search input covered by search title after a replacement excuted"
1. open search bar, input content to search
2. open replace bar, input content to replace
3. press enter  and it happends

the search input element is covered by the 'SEARCH' title
![image](https://user-images.githubusercontent.com/25223558/67278876-79911d00-f4fc-11e9-8879-bb528950a799.png)

btw, search input have no boarder in Light+ color theme, that makes it hard to use.

[2019-10-22 10:50] #71000 closed

[2019-10-22 10:50] aeschli commented on #82866
Can you set `"json.trace.server": "messages"` and check out the `Output > JSON Language Server` tab. On every modification of save you should see a 'textDocument/publishDiagnostics' message.

![image](https://user-images.githubusercontent.com/6461412/67278999-7715cf80-f4ca-11e9-92c2-68f07279703e.png)

[2019-10-22 10:53] falsyvalues commented on #82870
@mjbvz Should I create another one then?

[2019-10-22 10:54] #83048 closed

[2019-10-22 10:57] aeschli commented on #82882
What language? TypeScript?

[2019-10-22 11:03] aeschli commented on #82947
https://github.com/microsoft/vscode/issues/49418 fixed that shellscripts now use LF by default.

If you start code out of WSL (using the Remote-WSL extension), we use LF as default for all files, unless you have changed the `files.eol` setting. The default is used for new files. For existing files we always detect what's already there and stay consistent. There are command to switch the line delim

[2019-10-22 11:03] #82947 closed

[2019-10-22 11:04] aeschli commented on #82967
@jrieken Duplicate of which issue?

[2019-10-22 11:09] jrieken commented on #25852
Good timing @928PJY - the issue is very complex but I happen to be looking at this. My current work and progress is in #83060. No promises but the problem is acknowledged and understood but also far from easy to fix.

[2019-10-22 11:10] jrieken commented on #82967
https://github.com/microsoft/vscode/issues/10266

[2019-10-22 11:13] andrecasal opened #83061 "Improve description specificity of the git.confirmEmptyCommits"
I'd love it if the `git.confirmEmptyCommits` description would specify that this setting only pertains to the `Git: Commit Empty` command as explained in [#82388](https://github.com/microsoft/vscode/issues/82388#issue-505988675), as opposed to the SCM interface, which would be the expected behavior according to the current description.

[2019-10-22 11:18] bonbonio opened #83062 "Renaming file with / in name, creates folder"
nvm.

[2019-10-22 11:28] aeschli commented on #82980
The API to define folding ranges is:
https://code.visualstudio.com/api/references/vscode-api#FoldingRangeProvider

We don't have an APIs to let you find out out whether a line is folded or not:
Issue is https://github.com/microsoft/vscode/issues/36638

The request to customize `...` is https://github.com/microsoft/vscode/issues/70794

[2019-10-22 11:28] #82980 closed

[2019-10-22 11:29] #83062 closed

[2019-10-22 11:38] selalerer commented on #82779
Thank you @roblourens. That did the trick:

`[11:35:55] Finished optimize-vscode after 104958 ms
[11:35:55] Starting clean-vscode-linux-arm ...
[11:35:55] Finished clean-vscode-linux-arm after 1 ms
[11:35:55] Starting vscode-linux-arm-ci ...
\u2193 ffmpeg-v4.2.10-linux-armv7l.zip [====================] 100%
Downloaded ffmpeg-v4.2.10-linux-armv7l.zip
\u2193 electron-v4.2.10-linux-armv7l.zip [======

[2019-10-22 11:39] #83050 closed

[2019-10-22 11:40] Lauralicious commented on #83050
Turns out I just needed to change my password and now it works. I don't know why and it might still be a bug, but I changed it to a shorter one and now it works.

[2019-10-22 11:40] AndiDog commented on #83017
Another bug: if you use the "Copy" action somewhere in a line (without having selected characters), the whole line would be copied. That's still the case. However, previously, pasting that line somewhere would prepend the whole line from the clipboard before the line of the cursor, but this has now changed to insert the line content right where current cursor is.

[2019-10-22 11:41] sun-xm commented on #22557
Just curious why not save the workspaceStorage data just under .vscode directory in each workspace folder. It's easy to find and delete to entirely reset the workspace? It's much cleaner to me.

[2019-10-22 11:43] sun-xm commented on #22557
Just curious why not save the workspaceStorage data just under .vscode directory in each workspace folder? Easy to find and delete to entirely reset the workspace. It's much cleaner to me.

[2019-10-22 11:46] chrmarti commented on #82946
@ZhangPuXi I don't understand what Git (or other SCM) operations resulted in the file content you have. It looks like the overlapping merge conflicts are not valid merge conflict syntax and for that reason not supported.

Starting from a file without merge conflicts, how did you arrive at the file content you have?

[2019-10-22 11:55] chrmarti commented on #69955
Many features of the QuickOpen widget are available in QuickInput. Let me know when you need more, I'd be happy to get this issue done.

QuickInput only loosely depends on the workbench since it's only a widget. A few injections should make the code work on a lower layer. We should quickly discuss how we want to do this.

[2019-10-22 11:56] gregcousin126 opened #83063 "Multicursor - on paste"
I have a problem with my vscode. when i try to copy multiple lines and paste them onto the editor it wont paste the multiple lines in any other way than paste the copied lines on the first cursor. even if i copy one word and then use the multicursor tool to select/highlight multiple sequences of the same word and try to paste what i copied... it will only copy the word on the first cursor selected

[2019-10-22 12:07] lukaschal commented on #82769
@bpasero Is this repro on RUS as well ? DEU translation looks like a same like ENU. Maybe double quotes inside brackets could by an issue.

ENU: Would   you like Code to [periodically run 'git fetch']({0})?
DEU: Möchten Sie Code [regelmäßig "git fetch" ausführen lassen] ({0})?

[2019-10-22 12:08] lukaschal commented on #82769
ENU: Would you like Code to periodically run "git fetch"?

[2019-10-22 12:09] lukaschal commented on #82769
Would you like Code to [periodically run "git fetch"]({0})?

[2019-10-22 12:09] AlienKevin opened #83064 "indentationRule doesn't work in language-configuration.json"
I'm working on a custom language extension for vscode. In the `language-configuration.json` file, I tried to specify the `indentationRules` like this:
[code]
This is to supposed to support some Python-style indentations like:
[code]
However, the auto indentation never works.<br>
The [doc](https://code.visualstudio.com/api/language-extensions/language-configuration-guide#indentation-rules) says tha

[2019-10-22 12:11] lukaschal commented on #82769
Code が   [定期的に 'git fetch']({0}) を実行してもよろしいですか?

[2019-10-22 12:11] lukaschal commented on #82769
Вы   хотите, чтобы среда Code [периодически выполняла команду "git   fetch"]({0})?

[2019-10-22 12:21] lukaschal commented on #82769
Fixed.

TGT: Möchten Sie Code [regelmäßig "git fetch" ausführen lassen] ({0})?
NEW TGT: Möchten Sie Code [regelmäßig "git fetch" ausführen lassen]({0})?

[2019-10-22 12:22] gletthereblight commented on #83063
Me either,I also discovered it earlier. #83057 is my issues,but in Chinese.This is the same problem,especially affecting me to write sql code.

[2019-10-22 12:28] alexandrudima commented on #83017
@tbriggs707 I cannot reproduce:

![Kapture 2019-10-22 at 14 27 56](https://user-images.githubusercontent.com/5047891/67285623-30c76d00-f4d8-11e9-9528-56622074843d.gif)

Have you tried to disable all extension? Do you have any relevant customizations to your `keybindings.json` ?

[2019-10-22 12:29] alexandrudima commented on #83017
@AndiDog Can you please open a separate issue, I don't believe you have the same issue.

[2019-10-22 12:44] xyproto commented on #44373
For C++, could the line be colored gray if the line starts with `//` **before** the advanced syntax coloring system kicks in? When commenting in and out single lines is mainly when I notice the delay.

[2019-10-22 12:48] bpasero commented on #69955
I think as long as quick input widget lives in `vs/base/browser` we should be OK for the usage from both editor and workbench 👍

[2019-10-22 12:49] jrieken commented on #10266
The default behaviour becomes more complex but also gives extensions the chance to overrule our defaults. My current thinking is the following

* range is of type `object` -> use it as given, extension author as adopted this API and made up his mind. We would validate that an insert range is a prefix of a replace range
* range is `undefined` -> We would fill the word range for replace and the crop

[2019-10-22 12:50] bpasero commented on #34940
@ewantowie you should see a browser open and show something like this:

![image](https://user-images.githubusercontent.com/900690/67287355-3f635380-f4db-11e9-85fa-329e5b722585.png)

Do you get a browser tab to open? If the page is empty, do you see anything in the developer console?

[2019-10-22 12:53] jrieken commented on #83040
cc @joaomoreno

[2019-10-22 12:56] v-andrew commented on #83021
@alexr00 Place you are inserted is against VSCode schema. `windows` is not part of `tasks` elements. I believe you had no code competition when you added `windows`.

Here is my tasks file. I had to remove `options` of a task to make it work on Mac.

[code]

[2019-10-22 12:58] #54617 closed

[2019-10-22 12:59] jrieken commented on #54617
Closing as this didn't get much upvotes - Having said that some of the scenarios here can be tackled via "save without formatting"

[2019-10-22 13:14] #45676 closed

[2019-10-22 13:15] miskeletor commented on #28653
The tooltip says "Unknown Configuration Setting", but it works.

[2019-10-22 13:16] isidorn commented on #45676
I have pushed support for this.
I have tried it out and it seems to work nicely..
Please try it out in vscode insiders from Wednesday and let me know how it beahves

[2019-10-22 13:22] isidorn opened #83065 "Compound preLaunchTask"
Refs: https://github.com/microsoft/vscode/issues/45676

- [x] macOS: @weinand
- [x] windows: @alexr00

Complexity: 3

Have a compound configuration, which references a `preLaunchTask`.
Example of a compound configuration  can be found [here](https://github.com/Microsoft/vscode/blob/2aa29a989591a1d683c46faf82744c53231a1484/.vscode/launch.json#L273)
Verify:
* The compound `preLaunchTask` gets execut

[2019-10-22 13:22] bartstudios commented on #83017
I've the same issue even when disabling all extensions.

[2019-10-22 13:22] ashukum-msft opened #83066 "Install extension click is not showing up in VS Code editor"
- VSCode Version: 1.39.2
- OS Version:

**We are observing one issue with VsCode editor. When we click on Install Button on web, it’s not showing up extension details in VsCode Editor**

**Steps to Reproduce:**

1. Go To VS Code extension details page
2. Click on install button
3. Click on open VS Code button from popup

**Expected:**
1. Extension should  show up in VS Code editor right pane with

[2019-10-22 13:23] isidorn commented on #67431
Please note that this is now possible https://github.com/microsoft/vscode/issues/45676
It does not give you 100% what you want but might help

[2019-10-22 13:25] isidorn commented on #45488
This should work now.
@affenwiesel can you please try this out in vscode insiders from Wednesday and let us know if the issue got fixed for you

[2019-10-22 13:25] #45488 closed

[2019-10-22 13:27] isidorn commented on #70597
Verifyer: verify that you get breakpoint hints in the glyph margin when you aslo hover over the line numbers.

[2019-10-22 13:29] Tyriar commented on #83016
@alexr00 yep this is related to a change in xterm.js where I throw an exception which was too aggressive

[2019-10-22 13:30] isidorn opened #83067 "Test: no notifications in Zen Mode"
Refs: https://github.com/microsoft/vscode/issues/82233

- [x] any os @joaomoreno
- [x] any os @roblourens

Complexity: 2

We no longer show notifications while users are in Zen Mode.
Have some notifications and enter zen mode and verify:
* All the notifications get hidden when you entered zen mode
* You get no more notifications while you are in zen mode
* Error notifications are the exceptions wh

[2019-10-22 13:33] mestriga commented on #26048
Since it happens erratically, with expandable variables that contains other expandable variables, maybe it's related to the behavior of CreateEnvironmentBlock that is described here:
[CreateEnvironmentBlock(,,FALSE) function does not expand REG_EXPAND_SZ type environment variables on Windows Server 2008 R2](https://support.microsoft.com/pt-br/help/2480007/).

[2019-10-22 13:35] bartstudios commented on #83017
Ok, I think I was not up-to-date.  I've been updated yesterday to a previous version that had the bug.  Now it seems okay with 1.39.2

[2019-10-22 13:41] ianstormtaylor opened #83068 "Extreme slowness from `tsserver.js` and `typingsInstaller.js`"
Issue Type: <b>Performance Issue</b>

This performance issue has been happening for **many** months now, but it started somewhat suddenly. I had previously opened https://github.com/microsoft/vscode/issues/69256 but didn't have enough information.

I've now tracked down the problem to the `tsserver.js` and `typingsInstaller.js` processes in the `extensionHost`:

[code]

This doesn't happen always.

[2019-10-22 13:44] ruffson commented on #83063
Same issue here. On `1.39.2`.

[2019-10-22 13:44] csicky opened #83069 "Frezes when closing terminal"
Issue Type: <b>Bug</b>

When I close the terminal the VS Code window freezes completely. The Task Manager shows VS Code with 100% CPU usage. The terminal was running `npm run serve` from a simple Vue project.

![image](https://user-images.githubusercontent.com/3931907/67291678-90c70f00-f4ea-11e9-9be4-dd8c3227253a.png)

Then a message appears and I have to click Reopen.

![image](https://user-image

[2019-10-22 13:46] robert1826 commented on #20530
I've found a simple solution but it might not work for all scenarios.

scenario: search for a keyword in modified files between two branches (like master and current branch) - I'm using gitlens
steps:

1. compare the two branches in gitlens to find the modified files in the compare section
2. right click on 'x files changed' and click open files
3. to to explorer in vscode
4. select the open all f

[2019-10-22 13:50] isidorn commented on #81464
I do not think we do not plan to do anything this milestone.
When we add new tree api we can look into simply adopting that api in the debug console.
Anyways pushing to backlog.

[2019-10-22 14:03] #83049 closed

[2019-10-22 14:04] #83056 closed

[2019-10-22 14:05] joaomoreno commented on #75579
@flexiondotorg I was wondering if you have any thoughts on this?

[2019-10-22 14:08] alexr00 commented on #83058
Can you please provide an example and screen shots?

[2019-10-22 14:10] dojiao commented on #82745
I have the same problem with BCSharp. Somehow I meet it in contrast scene.
1. My mouse didn't open drag-lock
2. VS Code 1.39.2/Chrome 75.0.3770.100 on Ubuntu (18.04.3) could not select normally in editor.
3. VS Code/Chrome on Windows 10 (ver.1903) has no problem.

Otherwise, selecting works out of editor's area.

[2019-10-22 14:11] alexr00 commented on #83064
Looks like your regex is wrong. Check out https://rubular.com/

[2019-10-22 14:12] isidorn commented on #81406
This should be fixed with latest with https://github.com/microsoft/vscode/pull/82235
@alexr00 since you have nice steps, can you be so kind to try it out?
In case it does work not can you ping me so we investigate? Or you can put a breakpoint [here](https://github.com/Microsoft/vscode/blob/2aa29a989591a1d683c46faf82744c53231a1484/src/vs/workbench/contrib/debug/browser/debugCommands.ts#L112)

[2019-10-22 14:12] #83064 closed

[2019-10-22 14:12] 411an opened #83071 "Cyrillc path problem"
Issue Type: <b>Bug</b>

This error often appears and disappears for unknown reasons when I try to start python file. It just eats first cyrillic capital letter, but not always, and I cannot understand why.

[code]

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:35:18.241Z)
OS version: Windows_NT x64 10.0.18362

[2019-10-22 14:13] joaomoreno commented on #81382
Closing this as won't implement, sorry!

[2019-10-22 14:14] #81382 closed

[2019-10-22 14:14] #83038 closed

[2019-10-22 14:15] RadioMan116 commented on #82922
Inline JavaScript is a feature of LESS that used to be enabled by default. It was disabled by default in v3.0.0 of LESS for security reasons. You can use the javascriptEnabled setting to override this behaviour by setting the value to true.

If you receive this error unintentionally, there are most likely one or more backticks (``) in your .less file. }

[2019-10-22 14:16] alexr00 commented on #83071
I don't see where VS Code is in your repro steps.

[2019-10-22 14:20] DanTup commented on #10266
I'm not sure what this means - if the range matches the word range, they would be the same? I would prefer when given a range you use it as-is though. Trying to be smart will likely result in quirks (like found in TS above, and in issues like https://github.com/microsoft/vscode/issues/63129 - which is await a response FWIW :-)).

I don't know if you usually do that for new features extensions can

[2019-10-22 14:25] alexr00 commented on #83021
My example task is a proper task and you should see `windows` as a suggestion in a task :)
Since you have options in your task they override the windows specific options above. We always keep the configuration from the individual task over the "global" configurations.

[2019-10-22 14:28] alexr00 commented on #69785
It is shown in the quick pick detail spot:
![image](https://user-images.githubusercontent.com/38270282/67296473-cb2fac80-f4e8-11e9-84e6-1e54e387da35.png)
The quick pick description spot is taken already by tasks in a multiroot workspace.

I ended up making the property `detail` and putting it on `Task` as it doesn't really belong in the definition.

[2019-10-22 14:28] alexr00 commented on #69785
I also added a setting to turn this off: `"task.quickOpen.detail"`

[2019-10-22 14:30] #82821 closed

[2019-10-22 14:30] Tyriar commented on #83011
@sandy081 is the resolver service being used incorrectly here?

https://github.com/microsoft/vscode/blob/62f9bd73d86c40fedd0e889dac2cf01bcd8111d0/src/vs/workbench/contrib/terminal/common/terminalEnvironment.ts#L194-L203

`${lineNumber}` seems to resolve fine but not `${workspaceFolder}` or `${fileDirname}`.

[2019-10-22 14:33] alexr00 commented on #82829
@cyliang how likely is [this](https://github.com/microsoft/vscode/issues/82829#issuecomment-544884180) to happen in your use case?

@sohailrajdev97 My initial inclination is to just pick the first one that matches. But I'm not sure about how often multiple matches could happen. If it's going to happen often then we would need a larger code change to support it. I think in this case I would not wan

[2019-10-22 14:33] isidorn commented on #77303
Now we cache the file header much less agressively.
This should be fixed via https://github.com/microsoft/vscode/commit/54c3db1285e8bc0d7dac0bf7d2b79ed35d5075f6
@kylrth let me know if you still see this. Thanks!

[2019-10-22 14:33] #77303 closed

[2019-10-22 14:34] Ardeshir81 opened #83072 "SCM: count subfolder's number of changed files"
I like tree-view mode in SCM and usually when I have lots of changes, I collapse all my folders and I double-check diffs module by module. I think it would be great if I had number of (sub)changes beside each collapsed folder

![Screenshot from 2019-10-22 17-47-42](https://user-images.githubusercontent.com/5755214/67296829-e2c16200-f4f5-11e9-9bfa-31943f7f215e.png)
(maybe some number on right of ea

[2019-10-22 14:37] alexr00 commented on #81768
Your task output is missing the start and end pattern that tasks uses to tell debug that the task got far enough. I think you need to add `--info-verbosity verbose` to your webpack task.
See https://github.com/microsoft/vscode/issues/82076#issuecomment-543249046 for more info on that.

[2019-10-22 14:39] alexr00 commented on #79371
@dalongi thanks for the detail steps! Do you have an extension or repo I can try this with? I will be able to look at the issue sooner if so :)

[2019-10-22 14:40] lycwed opened #83073 "Problème selection/curseur multiple"
Issue Type: <b>Bug</b>

Cette dernière action ne collera pas à chaque occurence juste à la 1ère.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7567U CPU @ 3.50GHz (4 x 3500)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabl

[2019-10-22 14:41] Tyriar commented on #82858
Run `ver` in cmd.exe and paste the output

[2019-10-22 14:43] guledali commented on #82025
What!, why did you close it???

[2019-10-22 14:43] alexr00 commented on #82806
In preparation for stabilizing the CustomExecution API I renamed it to remove the 2. Looks like that's what you're seeing.
Can you do a VS Code version check and then use the appropriate name depending on the version?

[2019-10-22 14:44] themnd opened #83074 "prettify do not respect indentation settings"
Issue Type: <b>Bug</b>

1. open a new document
2. change indentation settings to spaces with 2 spaces
3. create some json structure
4. apply the Prettify JSON command
5. BUG: verify that 4 spaces indentation is applied instead of 2 spaces.

Extension version: 0.0.3
VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 18.7.0

<deta

[2019-10-22 14:45] themnd commented on #83074
nope

[2019-10-22 14:48] alexr00 commented on #82925
This is most likely an issue with the code that adds your environment to VS Code on launch (related: https://github.com/microsoft/vscode/issues/21655). Terminal is unaffected because it runs an interactive login shell.
Can you open the dev tools (Toggle Dev Tools) and try running `process.env` in the console? If your path is also wrong there then the issue is with that environment copying code.

[2019-10-22 14:49] #82959 closed

[2019-10-22 14:51] ar-jan commented on #82203
I updated to 1.39.2, but using a git repo I still don't see the git options when making a change (also checked 1.38.1 to see that it is working correctly there).

[2019-10-22 14:53] WembleyFord2 opened #83076 "Issue with Powershell Terminal in vscode on ubuntu"
With a clean copy (removed ~/.code and ~/.config/Code folder), on Ubuntu 18.04, I've having problems with lines that are longer than the terminal width once the cursor has reached the last line of the terminal when in Powershell, using the Powershell 2019.9.0 extension.

Specifically, once the active line in the terminal has reached the bottom of the terminal window, it fails to wrap and the keyst

[2019-10-22 14:55] jrieken commented on #10266
Very simple sample: with `fo|oo` default ranges would select `fo` for insert, and `fooo` for replace. Now, if an extension provides one them as range we could detect that it's either replace or insert, infer the other range, and assign them correctly. That's btw what the TS issue fix does. I believe that's reasonable and goes away as soon as an extension jumps onto the new API.

[2019-10-22 14:55] misolori commented on #82996
This is the same request as #73713, which I marked out of scope due to the low upvotes. I also attempted this in #52641 but it wasn't configurable.

[2019-10-22 14:55] Alfred75 commented on #82925
Thanks,

Just tried but  I get the correct path in the console :

  1.  PATH: "/usr/local/mysql/bin:/Users/urbanmac/miniconda3/bin:/Users/urbanmac/miniconda3/condabin:/opt/local/bin:/opt/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/share/dotnet:/opt/X11/bin:~/.dotnet/tools:/Library/Frameworks/Mono.framework/Versions/Current/Commands:/Applications/Xamarin Workbooks.app/Content

[2019-10-22 14:56] jrieken commented on #83041
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2019-10-22 15:07] qingvincentyin commented on #60697
This is super frustrating... why hasn't anyone mentioned "Citrix Workspace" ???!!! :-)

My Windows Process Explorer, like some other people have observed, displays only "System" as the process that owns the file handle to VS Code folder/files. That doesn't help!

Through trial-and-error, it appears it's `Citrix Workspace`. After I shutdown that application, I can delete the files/folder `C:\Users\

[2019-10-22 15:07] jrieken commented on #57102
/duplicate of https://github.com/microsoft/vscode/issues/46153

[2019-10-22 15:08] #57102 closed

[2019-10-22 15:10] #80375 closed

[2019-10-22 15:13] #83071 closed

[2019-10-22 15:14] #83073 closed

[2019-10-22 15:14] marvingreenberg opened #83077 "Allow sort multiroot workspace list"
This might be considered a bug, although it is ambiguous.  In a multiroot workspace, the folders are sorted according to the order in which they are added, and can be reordered by dragging.  But there is a setting Explorer->Sort Order that says that the ordering will be (by default) that folders are sorted alphabetically.

Either provide a separate setting to allow sorting of root folders in a mul

[2019-10-22 15:14] alexr00 commented on #83074
That command is contributed by an extension!

[2019-10-22 15:14] csicky commented on #76548
Installed the new powershell and set it as default. https://github.com/PowerShell/PowerShell/releases
Now it doesn't freeze anymore when I close it.

[2019-10-22 15:14] #83074 closed

[2019-10-22 15:15] #82599 closed

[2019-10-22 15:16] #71410 closed

[2019-10-22 15:16] #40459 closed

[2019-10-22 15:20] emmanuelmacharia opened #83078 "cant re-enable any extension"
Issue Type: <b>Bug</b>

I had an issue with my cursor in vscode so I used `code --disable-extensions`  to disable all my extensions. Problem is, there is no way to re-enable any of these extensions in the ui or from the command-line. Every option for `enable extension` is greyed out. furthermore, vscode reloads extensions to their previous state upon startup, this still doesnt re-enable my extensi

[2019-10-22 15:21] bpasero commented on #76537
Anyone?

[2019-10-22 15:22] isidorn commented on #81090
I can repro this all the time. However I am pretty clueless who is closing the window.
What I found is that it is not the debug service closing the window [here](https://github.com/Microsoft/vscode/blob/590a0595053f34bcdea30fd4758ee81e5c1629b0/src/vs/workbench/contrib/debug/browser/debugService.ts#L536)

Trying to find out who calls [electronService.closeWindow](https://github.com/Microsoft/vscode

[2019-10-22 15:22] marvingreenberg commented on #83077
This is mostly a duplicate of #41351 - will move comment there.  Search of multiroot did not find multi-root.

[2019-10-22 15:22] #83077 closed

[2019-10-22 15:23] bpasero commented on #83066
Not sure if this is our URL handler again.

[2019-10-22 15:24] marvingreenberg commented on #41351
This might be considered a bug, although it is ambiguous. In a multi-root workspace, the folders are sorted according to the order in which they are added, and can be reordered by dragging. But there is a setting Explorer->Sort Order that says that the ordering will be (by default) that folders are sorted alphabetically.

Either provide a SEPARATE setting to allow sorting of ROOT folders in a mult

[2019-10-22 15:24] xiaotaw commented on #83041
OK, related issue: https://github.com/microsoft/vscode-python/issues/4130

[2019-10-22 15:27] lycwed opened #83079 "Issue with paste multiple selection/cursor"
Issue Type: <b>Bug</b>

This last action will not paste to every occurrence, just the first one.

VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7567U CPU @ 3.50GHz (4 x 3500)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabl

[2019-10-22 15:28] Tyriar commented on #83076
@WembleyFord2 does this happen in gnome-terminal?

[2019-10-22 15:29] dalisoft commented on #76537
I don’t have macOS Sierra currently, issue already fixed?

[2019-10-22 15:34] qiumo opened #83080 "Multiple cursor experience is getting worse"
When I use multiple cursor, I just copy 1 line text, it should be paste at all of the cursors, but it's not work, it only paste at first cursor.

So, you tell me, why I use multiple cursor when I just copy 1 line text? Just for the first cursor?

[2019-10-22 15:34] bpasero commented on #81090
I cannot reproduce, a new window opens with the extension being debugged. I tried insiders and out of sources, 😩

[2019-10-22 15:35] bpasero commented on #81090
Oh this is running tests, yeah I see it...

[2019-10-22 15:38] bpasero commented on #81090
@isidorn seems to be this code:

https://github.com/microsoft/vscode/blob/ff026e06014fdcb2a837c18d6b526bcfa9ff920c/src/vs/workbench/services/extensions/electron-browser/extensionService.ts#L555

If you run code with `--verbose` you see more output:

[code]

[2019-10-22 15:38] bpasero commented on #76537
I think there are still people that complain that native tabs are not working with macOS 10.12. Waiting for someone with 10.12 to respond, then we can see to reproduce with a simple Electron app.

[2019-10-22 15:42] alexr00 commented on #80875
I have the following task in the [hello world sample](https://github.com/microsoft/vscode-extension-samples/tree/master/helloworld-sample):
[code]
I set:
`    "terminal.integrated.shell.windows": "wsl.exe",`
The tasks works as expected.

@sebolio can you clone that extension sample and try it? I have Windows version 1909, so it is possible that has something to do with it.

[2019-10-22 15:42] WembleyFord2 commented on #83076
No, only in Visual Studio code.

[2019-10-22 15:43] dalisoft commented on #76537
I try install Sierra and test in weekend

[2019-10-22 15:44] sbatten commented on #83002
I can reproduce in stable and insiders in the terminal. @PierreMarchand20 I cannot reproduce inside the editor.

[2019-10-22 15:48] frobinsonj commented on #78330
I would like to have a go at this.

[2019-10-22 15:52] seantma commented on #13680
I'm getting some permission error with this attempt. Any suggestions?

[2019-10-22 15:53] sbatten commented on #83002
@Tyriar seems intentional? https://github.com/microsoft/vscode/blob/877ce7ac034390e31c5ecebccbb0683bd2c51c3d/src/vs/workbench/contrib/terminal/browser/terminal.contribution.ts#L362-L366

[2019-10-22 15:54] bpasero commented on #76537
Thanks!

It should be as easy as:
* download Electron fiddle
* pick Electron 6
* in the browser window options add: `tabbingIdentifier: "foo"`
* run it

![image](https://user-images.githubusercontent.com/900690/67304961-e99ba500-f4f4-11e9-8345-1518626d1177.png)

[2019-10-22 15:55] lycwed commented on #83079
issue already detected here [Multicursor - on paste (#83063)](https://www.github.com/microsoft/vscode/issues/83063)

[2019-10-22 15:55] #83079 closed

[2019-10-22 15:56] sbatten commented on #83010
@A-Fayez please try to reproduce with the latest insiders build of VS Code which is built with a newer version of electron. https://code.visualstudio.com/insiders/

[2019-10-22 15:58] studiosi opened #83081 "Command Palette key shortcut not working on Windows when there are several keyboard layouts installed."
- VSCode Version: 1.39.2
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Install several keyboard layouts on Windows, the keyboard layout selector should appear next to the clock on the bar at the bottom of the desktop.
2. Open VSCode
3. Try to open the Command Palette by pressing CTRL+SHIFT+P

CTRL+SHIFT triggers the keyboard layout change on Windows, and the chord does not open

[2019-10-22 15:59] dalongi commented on #79371
I tried to get a minimal repro this morning but unfortunately haven't been
able to (and the extension is an internal/enterprise one, so cannot
share).The workaround I found may also help point to the issue. (Note: this
setup is wonky, the goal is to change the View Container Icon in a given
scenario, similar to a badge)

My previous setup was:
- container id: my-container
  - view id: my-view
- co

[2019-10-22 16:00] #44604 closed

[2019-10-22 16:02] #83002 closed

[2019-10-22 16:03] Tyriar commented on #83002
Works for me in the editor as well 🤷‍♂

Please open a new issue if that still happens on the latest insiders version

[2019-10-22 16:05] sohailrajdev97 commented on #82829
@alexr00 As the number of resolvable paths may vary from one use case to another, I don’t think it’s a good idea to add this feature right now. Resolving the link to a wrong file is as bad as (or even worse than) not resolving it at all.

[2019-10-22 16:26] 108806 opened #83082 "MSVC cant locate the #include from VCPKG."
- VSCode Version:
Version: 1.39.2 (user setup)
Date: 2019-10-15T15:35:18.241Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362
- OS Version:
Microsoft Windows [Version 10.0.18362.418]

Steps to Reproduce:

0 .Run `vcpkg install mman && vcpkg integrate install.`
1. Start .C file with #include <mman\sys\mman.h> //Basic c++ linter lights

[2019-10-22 16:27] tbriggs707 commented on #83017
Keybindings for `Ctrl+V`:
![keybindings](https://user-images.githubusercontent.com/2791682/67305890-58580e80-f4b3-11e9-8058-173173b14f48.png)

When I disable all of my extensions, the behavior is as expected (no issues). So I enabled the extensions one by one to see which was the cause. And I found that it was the Java Extension Pack.
When I disable this extension, the following are also disabled:

[2019-10-22 16:32] chazeon opened #83083 "VSCode remote server not finding glibc, libstdc++ on under home directory"
- VSCode Version: 1.39.2
- OS Version: Darwin x64 19.0.0
- Remote version: Linux comet-ln2.sdsc.edu 2.6.32-754.17.1.el6.x86_64 #1 SMP Tue Jul 2 12:42:48 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

Steps to Reproduce:

1. Manually install glibc with Linuxbrew
2. `ldd` yields
[code]
3. `which ldd` yields
[code]
4. `strings ~/.linuxbrew/lib/libstdc++.so.6 | grep GLIBCXX` yields
[code]
5. Connet with VSC

[2019-10-22 16:34] amaau commented on #33366
bug still there, any news?

[2019-10-22 16:39] timdang commented on #82203
@joaomoreno No. Not the whole UI. Source Control Panel is blank again, just like it was due to this issue.

[2019-10-22 16:46] lilingxi01 opened #83084 "Not run on Mac OS Catalina"
- VSCode Version: 1.39
- OS Version: Mac OS Catalina 10.15

Steps to Reproduce: Just unzip the zip and try to run it.

Does this issue occur when all extensions are disabled?: Yes

<img width="424" alt="Screen Shot 2019-10-22 at 12 45 38 PM" src="https://user-images.githubusercontent.com/36816148/67309445-dd4e2280-f4c9-11e9-84fd-88349ca30e59.png">

[2019-10-22 16:48] Tuzoff opened #83085 "Some references or definitions are not found in Python code"
Issue Type: <b>Bug</b>

0. Open a project by someone who can't really code and try to make sense of it
1. For some names choose either of Peek Reference or Definition, Find All References or Go to Definition
2. Some of the references/definitions are missing though they are easily found in the code

Please note line 229. Initialization "Num = 0" can't be found either in references or definitions, e

[2019-10-22 16:50] frobinsonj commented on #78330
@IllusionMH Can you still reproduce this? Think it may have been fixed in commit aa75677a69cfdc29e18b2edbd44ca548ea82ed9a. I know I used to be able to reproduce this but I can't anymore.

[2019-10-22 16:52] WembleyFord2 commented on #83076
I've just tried installing VSCode, via the .deb package, and the latest Powershell from the MS repositories onto a new Ubuntu installation and I see the same behaviour.

[2019-10-22 17:01] IllusionMH commented on #78330
@frobinsonj thanks for checking this issue.
Unfortunately I'm still able to reproduce this issue wits latest Insiders build.

![image](https://user-images.githubusercontent.com/1312662/67310561-ad714000-f506-11e9-8556-4988fe6297bf.png)

Version: 1.40.0-insider (user setup)
Commit: c58aaab8a1cc22a7139b761166a0d4f37d41e998
Date: 2019-10-22T05:27:32.053Z
Electron: 6.0.12
Chrome: 76.0.3809.146
Node.js

[2019-10-22 17:01] smlombardi opened #83086 "Snippet with choices not working"
Issue Type: <b>Bug</b>

Using a custom-made snippet that had a select menu which used to work fine:
[code]

Invoke the snippet.  The first item is highlighted which is the dropdown with `added,updated,deprecated,removed`.  Choose anything  but the first item.  The one you chose _and_ the first item are added, which make the snippet useless. I have several snippets like this and they all do this no

[2019-10-22 17:11] 3v1n0 opened #83087 "Add [Dollar], [Percent], [Plus], [Star] to the accepted scan codes"
I'd like to have `Alt+$` to go to the end of the line (similar to vim), but as per https://code.visualstudio.com/docs/getstarted/keybindings there's no `[Dollar]` key scan code translation and same for other common mentioned ops

[2019-10-22 17:11] Pomax commented on #82934
yes, but this will pop up even when _as the person working on this file, I know my copy is _not_ dirty, and instead something outside of VSCode changed the file on disk and I _want_ what I have open to save.

Having to do a compare view for every one of those files is not "straight forward", it's workflow breakingly annoying, and not even having the option to say "force save" so I can continue ins

[2019-10-22 17:14] onka13 opened #83088 "Intellisense suggests invalid path when defined baseUrl in jsconfig|tsconfig"
Case 1; No baseUrl and paths in tsconfig;

- All url will be relative. So I want to use "common" prefix for commonlibs files.

Case 2; Define baseUrl and paths;

- intellisense working fine for files in same folder, parent folder and commonlib.
- however up to 2 level parents intellisense suggests wrong path.

- VSCode Version: 1.39.2
- OS: Win x64-10.0.18362

![image](https://user-images.githubus

[2019-10-22 17:19] rebornix commented on #74558
Thanks, I’ll take a look.

[2019-10-22 17:22] wondernate commented on #34442
Would love this!!!  Currently I am using a second instance of VSCode to run my terminal but I loose the ability to link to my current code in the errors.

[2019-10-22 17:26] dhairyanadapara commented on #83063
@gregcousin126 can you please share steps to reproduce it. The video will help more to understand the issue. Thanks

[2019-10-22 17:26] frobinsonj commented on #82978
@rebornix, I hope you don't mind but I had a look into this and I've fixed it. Should I bother with a PR or leave it to you?

[2019-10-22 17:32] rebornix commented on #82978
@frobinsonj not at all, feel free to send out your work and thanks for your contribution!

[2019-10-22 17:32] sohailrajdev97 commented on #82901
@Tyriar There are two entries defined in `terminal.contribution.ts` for toggling regex find. I tried removing one of those and the extra command did not show up in the command palette. I'm not sure whether this is the correct way for doing this. Will be happy to raise a PR for the same.

Refer:

https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/terminal/browser/terminal.cont

[2019-10-22 17:33] shaneknysh commented on #54617
I understand that this is not a popular request but the "save without formatting" comment is not a solution. In a project with 50 files turning off formatting on 47 of those files - which I want to have formatting on - so that 3 of them don't get formatted is undesirable.

[2019-10-22 17:35] rebornix commented on #82762
@vilic could you please go to Keybindings editor, turn on recording mode and type in `ctrl+.` to see what's the result from it?

[2019-10-22 17:35] peterneely commented on #83080
I had this problem too. The "language support for java" extension was causing it. When I disabled it, no more drunken copy/paste. https://marketplace.visualstudio.com/items?itemName=redhat.java

[2019-10-22 17:36] peterneely commented on #83063
I had this problem too. The "language support for java" extension was causing it. When I disabled it, no more drunken copy/paste. https://marketplace.visualstudio.com/items?itemName=redhat.java

[2019-10-22 17:37] peterneely commented on #83003
I had this problem too. The "language support for java" extension was causing it. When I disabled it, no more drunken copy/paste. https://marketplace.visualstudio.com/items?itemName=redhat.java

[2019-10-22 17:37] peterneely commented on #82844
I had this problem too. The "language support for java" extension was causing it. When I disabled it, no more drunken copy/paste. https://marketplace.visualstudio.com/items?itemName=redhat.java

[2019-10-22 17:38] Tyriar commented on #83076
Everything seems fine to me, I'm guessing it's an issue with the powershell extension?

![pwsh](https://user-images.githubusercontent.com/2193314/67313620-1da4a500-f4b8-11e9-9245-7670ec3b1016.gif)

[2019-10-22 17:39] #83076 closed

[2019-10-22 17:39] rebornix commented on #80701
This one is appealing to me. We have see quite a couple of similar issues where either hot exit restore and editor restore stops users from opening vs code.

[2019-10-22 17:49] Wowol commented on #76892
Hi, @adityakaria, are you still working on this? If not, I'll be glad to take it.

[2019-10-22 17:50] ruffson commented on #83063
@peterneely

Seems to be a problem on macos and linux.
Maybe an extension is causing this?

![](https://i.ibb.co/dmRsQhC/demo.gif)
Here I selected several lines and try to paste `1`. Then, I just __type__ a `2` which works fine and then I delete the 2s and try again to paste the `1` again. You can see that only in the last line code gets pasted.

[2019-10-22 17:50] Li0nh3art commented on #82858
![image](https://user-images.githubusercontent.com/56652334/67314569-e099dc00-f4d2-11e9-8c1c-9d1605fc1820.png)

[2019-10-22 17:53] j-o-d-o commented on #82931
The request here would mean to implement a new setting, flag or similar which I definitely would consider a "feature request".
Imho starting to set timers and doing stuff based on that would be confusing for the user and overly complicated.

@isidorn regarding the Start with and without debugging. Currently, I am seeing the same behavior: The debug console gets programmatically opened if I press f

[2019-10-22 17:54] Tyriar commented on #80701
Related: https://github.com/microsoft/vscode/issues/70433

Unassigning myself as it seems to be related to renderer OOM, not hot exit.

[2019-10-22 17:55] IllusionMH commented on #83086
May be related to https://github.com/microsoft/vscode/pull/82349

[2019-10-22 17:55] gjsjohnmurray commented on #83084
/duplicate - see #74782

[2019-10-22 17:59] octref commented on #62515
@alexr00 Yeah, I tried it yesterday and there wasn't a straightforward way to convert them programatically.
Also I have no idea how to remove the whitespaces precisely. Some of them might be used for regex and some aren't.

[2019-10-22 18:02] octref commented on #29126
From @DanTup in https://github.com/microsoft/vscode/issues/76855

---

[2019-10-22 18:02] octref commented on #76855
Duplicate of #29126. I folded your comment into there.

[2019-10-22 18:02] #76855 closed

[2019-10-22 18:03] qiumo commented on #83080
Wow, exactly solution the problem, thank you very much!!
I think I misunderstood VScode developers, and I shoud say "sorry".

[2019-10-22 18:04] octref commented on #82025
Because there's **no official support for erb file**. You can install an extension to support it or make it recognized as HTML file to get partial HTML editing features.

[2019-10-22 18:06] rebornix commented on #81154
@Kcko did you try to use cmd+d when the focus is in the find widget, if that's the case, it's as expected as we run commands only when the focus is in the text editor.

[2019-10-22 18:06] #83085 closed

[2019-10-22 18:07] #81824 closed

[2019-10-22 18:09] A-Fayez commented on #83010
Thanks for your reply and consideration, unfortunately, the same issue remains both on VScode insiders --version 1.40.0 and VScode --version 1.39.2
Could be caused by other factors outside vscode?

[2019-10-22 18:11] #83080 closed

[2019-10-22 18:15] madkinsz commented on #35480
+1 !

[2019-10-22 18:20] Tyriar commented on #82901
@sohailrajdev97 thanks for looking into it and the offer, I put a PR together as it needed some experimentation to figure out the right fix https://github.com/microsoft/vscode/pull/83091

[2019-10-22 18:23] Tyriar commented on #82858
/duplicate https://github.com/microsoft/vscode/issues/73790, you need to disable legacy console mode in cmd.exe/conhost's properties.

[2019-10-22 18:23] #82858 closed

[2019-10-22 18:24] rebornix commented on #74171
Hey, sorry for replying late. As I can't reproduce this issue, can you help check if you can still reproduce with all extensions disabled?

[2019-10-22 18:26] kenhan commented on #82844
Thanks for the tip Peter. But I don't have any java extension installed. So I wonder what's going on.

[2019-10-22 18:26] vilic commented on #82762
@rebornix it gives `"ctrl+"` for both English/Chinese  mode under Pinyin keyboard.

[2019-10-22 18:27] mjbvz commented on #83029
Duplicate of https://github.com/microsoft/TypeScript/issues/33520

[2019-10-22 18:27] #83029 closed

[2019-10-22 18:29] kenhan commented on #82844
In fact, I don't have any extensions installed. And I still have this problem.

[2019-10-22 18:30] #81447 closed

[2019-10-22 18:30] rebornix commented on #82762
I see the problem now. Our keybinding doesn't work with Pinyin keyboard, no matter it's English or Chinese as the keyboard layout is the same. Switching to English IME should work.

[2019-10-22 18:30] mjbvz commented on #83031
Please start by filing this issue against the intellicode extension

[2019-10-22 18:32] rebornix commented on #61161
This is an known issue when the clipboard is large and pasting from it might crash the window.

[2019-10-22 18:32] #61161 closed

[2019-10-22 18:33] #61552 closed

[2019-10-22 18:33] mjbvz commented on #82846
@thiagosantoscunha Can you please follow [these instructions](https://github.com/Microsoft/vscode/wiki/Performance-Issues) to collect performance information. Using the insiders build, reproduce the issue and then share the output of `code-insiders --status`

[2019-10-22 18:34] #82559 closed

[2019-10-22 18:36] #82454 closed

[2019-10-22 18:37] #83052 closed

[2019-10-22 18:38] mjbvz commented on #83052
For example: https://marketplace.visualstudio.com/items?itemName=sokra.ts-inline-types

[2019-10-22 18:38] mohsennirouzad opened #83092 "Unnecessary indent after source tag in html"
Issue Type: <b>Performance Issue</b>

in the beggining of a line following an HTML5 tag of source an additional indent is added. Considering the fact that when closing the tag in the old way (< />) the problem is solved, it is probably an HTML5 incompatibility issue.

Since I have problem embedding a picture, here is an imgur of it:
https://imgur.com/a/LYlyrRU

VS Code version: VSCodium 1.38.1 (b3

[2019-10-22 18:39] mjbvz commented on #82776
Thanks for confirming. Closing this issue as duplicate of #82814

Yes please open a new issue against TS upstream so that it gets attention (but include a link to the previously reported TS issue)

[2019-10-22 18:39] #82776 closed

[2019-10-22 18:42] #74682 closed

[2019-10-22 18:42] octref commented on #74682
That's where you would type an selector, not properties, so there's no property completion.

[2019-10-22 18:43] octref commented on #75905
Seems already fixed.

[2019-10-22 18:44] deraeler commented on #3451
thanks so much for the clarification - I was afraid to try this until I
knew for sure....

This worked - thank you!

Q:  would the instructions using vi have worked also?  I wasn't aware vi
could edit files of this type.

On Mon, Oct 21, 2019 at 10:10 PM Jayen Ashar <notifications@github.com>
wrote: