[2016-12-18 08:07] bpasero commented on #17473
@StyloBill is this when you have a folder opened in VS Code or when using VS Code empty?

[2016-12-18 09:51] fbehrens commented on #11518
Yes, file system level files works  fine.

When I write documentation in markdown, I can link between documents in the following way
[code]

here are working examples on [github](https://github.com/fbehrens/doc-example/blob/master/doc/documentation.md) and [gitlab](https://gitlab.com/fbehrens/doc-example/blob/master/doc/documentation.md)

It would be very useful, if those links would also work in

[2016-12-18 09:52] aluanhaddad opened #17480 "ts: No error for invalid default import w/o tsconfig.json"
- VSCode Version: 1.9.0-insider (typescript@2.1.4/2.2.0-dev20161218)
- OS Version: Windows 10 64

Steps to Reproduce:

1. Create an empty directory
2. Add a single `.ts` file with the following text.
3.  ```ts
    declare module 'commonjs' {
        export = class { };
    }

    declare module '' {
        import commonjs from 'commonjs';
    }
[code]

[2016-12-18 09:56] fbehrens opened #17481 "Cannot reopen closed issue"
I added a comment on the closed issue  #11518 , and would like to `reopen` it, but I can't. How to proceed with this ?

[2016-12-18 10:12] weinand commented on #7745
@Trixt0r does it help if you set outFile like this:
[code]

[2016-12-18 10:17] Trixt0r commented on #7745
@weinad No does not change anything. Also tested it without having `/app` in the path.

[2016-12-18 10:25] baslr commented on #17424
Same, If I issue formating via context menu I get a Error, via shortcut I get a warning.

[2016-12-18 10:26] baslr commented on #17478
Same, If I issue formating via context menu I get a Error, via shortcut I get a warning. #17424

[2016-12-18 10:29] tambry commented on #17481
Because you aren't the original issue creator nor a VSCode contributor/developer with sufficient privileges.

[2016-12-18 10:39] weinand commented on #7745
But you've verified that the generated JavaScript lives under 'app'?

[2016-12-18 10:46] Trixt0r commented on #7745
Yes, as you can see in the screenshot. And the app starts properly if I link `app/main.js` instead of `src/main.ts`.

[2016-12-18 10:48] Trixt0r commented on #7745
I am running this on Windows 10 64bit, btw...

[2016-12-18 11:18] DMahmoodi opened #17484 "problem with Linter installation"
- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:06:37.428Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.5|
|Spell|seanmcbreen|0.9.1|
|indenticator|SirTori|0.2.1|

---

Steps to Reproduce:

1.
2.
I am not sure about how to reproduce the error. It says at the top Linter in not installe

[2016-12-18 11:25] philXYZ1 opened #17485 "New Window Behaviour broke"
- VSCode Version: 1.8.0 (1.8.0)
- OS Version: macOS Sierra 10.12.2

For me, the last months when working VSCode,
spawning a new window with Shift + CMD + n has openened a new window as a 'tab' above the editor,
but in the same instance.

I found this incredibly useful for working with multiple projects in the same VSCode window.

However, this was removed in 1.8, now a new window is openened.
Was

[2016-12-18 11:26] mrmlnc commented on #17485
Please, provide more detailed information (steps to reproduce, screenshots, gif/video, etc).

[2016-12-18 11:31] philXYZ1 commented on #17485
sorry for the empty post, I accidentally hit enter before writing anything - now the post is updated.

[2016-12-18 11:31] mrmlnc commented on #17484
Hello, @DMahmoodi,

If you look at the error, I'm not sure that this related to VS Code. In any case, this is not relevant to this repository and you need to create this question here: https://github.com/DonJayamanne/pythonVSCode

[2016-12-18 11:33] bpasero commented on #17485
https://github.com/Microsoft/vscode/issues/17199

[2016-12-18 11:33] #17485 closed

[2016-12-18 11:33] #17481 closed

[2016-12-18 11:37] AndrewBelle commented on #17469
Indeed, sorry. I updated the first post

[2016-12-18 11:42] bpasero commented on #7048
https://github.com/Microsoft/vscode/issues/5388

[2016-12-18 11:42] #7048 closed

[2016-12-18 11:42] bpasero commented on #17109
https://github.com/Microsoft/vscode/issues/5388

[2016-12-18 11:42] #17109 closed

[2016-12-18 11:45] bpasero commented on #5388
Curren status: you always can set a workspace encoding to be used for all files of an opened folder. You can also configure this globally for any files being opened (`files.encoding`).

Things that would help a lot already is to persist the encoding for particular files when changed from the status bar. This is tracked in https://github.com/Microsoft/vscode/issues/10444

[2016-12-18 12:02] aluanhaddad commented on #17479
@keyiis This is because `Object.entries` and `Object.values` are not part of es2015(es6). You need to use
[code]
or more broadly
[code]

[2016-12-18 12:33] fbehrens opened #17486 "Make markdown links without protocol (iE /README.md) map to file system"
Yes, in markdown i can set file links using the `file://path/to/my/file.md` syntax to create file links. However, this depends on where i cloned the repo on my computer.

When I write documentation in markdown, I can link between documents in the following way

[code]
As expected, a relative link is relative to the current file, an absolute link is resolved to the project root

Here are working ex

[2016-12-18 13:09] M-Yankov commented on #17263
A Little off-topic question: Is there a way to change the background color of diff editor or I need to create a new theme?  For example to make the colors brighter.

[2016-12-18 13:19] dylanparry commented on #15316
This seems to be fixed in the latest release, which bundles a new version of TypeScript. Can anyone else confirm this?

[2016-12-18 13:42] Tekbr commented on #17457
Similar #16826 ?

[2016-12-18 13:42] keyiis commented on #17479
@aluanhaddad
thanks reply!i added "es2017" to lib,`Object.entries` fixed, but still tip error
[code]

[2016-12-18 13:54] weinand commented on #7745
The only remaining explanation is that you have sourcemaps with incorrect paths.
Please add `"trace": "all"` to your launch config and (if possible) post the output here.

[2016-12-18 14:42] Trixt0r commented on #7745
Added `"trace": "all"` but nothing gets written to the debug console.

main.js.map looks like this:
[code]
Where `c:/Users/trixt_000/yame` is my workspace root.

[2016-12-18 14:44] alexdresko commented on #17097
@bpasero It does only have one CPU. I'll fiddle some knobs when I get back from vacation and see if it fixes the problem.

[2016-12-18 14:46] BobbyBabes commented on #16580
@bpasero Thanks for the hint to the trailing comma.
Just upgraded to 1.8.0. It was a bit confusing why I couldn't change settings through the pencil icon, but could with a manual change followed by Ctrl+S.
Now the "... correct errors/warnings in the file ..." part of the error message makes more sense.

[2016-12-18 15:00] Trixt0r commented on #7745
Okay, I found the problem... now I feel a little bit dumb...

`workspaceRoot` in `"outFiles": [ "${workspaceRoot/app/main.js" ]` is missing the closing braces -.-

Thanks for the help and sorry for the inconvenience.

[2016-12-18 15:37] jhasse commented on #3130
@krux02 You're right, a workaround is only a temporary solution. Just wanted to point out that saying "multiple cursors don't work in Linux" isn't correct. It's rather that multiple cursors don't work with some DEs.
If you globally grab the Alt key on Windows, adding multiple cursors with the mouse won't work there, too.

@sharwell What about subscribing to the issue in addition to adding a reacti

[2016-12-18 15:42] marekadamczyk opened #17487 "C# IntelliSense Hints are unreadable (new lines are missing)"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.5.3|
|mono-debug|ms-vscode|0.12.0|
|unity-debug|Unity|1.1.0|

---

Steps to Reproduce:

1. Open any C# project containing sln and csproj file so full IntelliSense will be working.
2. Ho

[2016-12-18 15:44] aluanhaddad commented on #17479
Did you mean `Object.is`? I don't know about `Object.isObject`, never hear of it.
If such a thing exists in your runtime, you can declare that `Object` has it using
[code]

[2016-12-18 15:57] Seairth opened #17488 "tsserver verbose tracing is not showing data"
- VSCode Version: 1.8.0
- TypeScript Version: 2.1.4

With `"typescript.tsserver.trace": "verbose"` set, I am getting the following output:

[code]

As you can see, the contents for `Data`, `Arguments`, etc. are empty.  From what I can tell of other people's log captures, they shouldn't be.

[2016-12-18 16:50] siegebell opened #17489 "session of --extensionTestsPath should not be remembered"
VSCode: 1.9.0-insider
OS: win8.1

Steps:
1. run "Launch Extension" to run your extension
2. open some folder
3. close vscode
4. run "Launch Tests"; i.e. run vscode with `--extensionTestsPath`
5. let the test session run and close automatically
6. run "Launch Extension" again

Observed:
* vscode loads the session from "Launch Tests". I.e. with whatever files and folders were left open from the last

[2016-12-18 16:55] ggregoire commented on #17331
Thank for the update on the second issue. It was quick!

Yes this setting removes the snippets suggestions in the paths but I usually use these suggestions, so it's not really practical for me. :)

By the way, there are not only snippets suggestions in the list, there are also all the symbols used in the file:

![screen shot 2016-12-18 at 10 37 28](https://cloud.githubusercontent.com/assets/591804

[2016-12-18 17:11] thelink2012 commented on #14476
I don't think this is a solution, I don't want to duplicate cached data for each workspace.

[2016-12-18 17:19] xconverge opened #17490 "delete call in API does not call autoClosingPairDelete"
I am trying to invoke the autoClosingPairDelete function from the api

In the source code I see:
[code]

So then I call vscode.window.activeTextEditor.edit with an edit.delete for one char to the left. It does not seem that this snippet of code is executed.

Is there an API call to be able to use the autoClosingPairDelete functionality?

[2016-12-18 17:37] StyloBill commented on #17473
Empty VS Code. When a folder is opened, the setting is working as expected.

[2016-12-18 18:02] etiktin commented on #11696
@alexandrudima Notepad++ "style token" allows you to highlight all occurrences of the currently selected text. There are several styles so you can highlight multiple tokens in different colors. It's really useful when you're trying to analyze/scan data (e.g. highlight "ERROR" and "WARNING" in logs or highlight certain fields in a JSON document).
You can see example screen-shots at:
https://github.

[2016-12-18 18:07] hun1ahpu opened #17491 "[Default settings search] Pasting the search term leaves the settings category collapsed"
- VSCode Version:1.8.0
- OS Version: Windows 10

Steps to Reproduce:

1. Go to File->Preferences->User settings (settings.json)
2. Paste terminal.external from the clipboard

Expected: 3 results found and displayed under External terminal category
Actual: 3 results found, External terminal category displayed as expanded but no settings displayed. You need to double click on the collapse marker to

[2016-12-18 18:11] siegebell commented on #217
@jrieken It's fairly common for editors to provide advanced clipboard features beyond what the system provides, and it makes sense for the feature to exist as an extension, e.g. [vscode-multiclip](https://marketplace.visualstudio.com/items?itemName=slevesque.vscode-multiclip). I'm writing an extension that needs to be able to copy arbitrary text into the clipboard (not just the editor selection),

[2016-12-18 18:17] fabiospampinato opened #17492 "File search - navigate history with arrow keys, and fields with tabs?"
Sublime gives us the ability to cycle through the previous search queries using the arrow keys, the same way as when using a terminal.

Would be cool to have this features also in VSC.

[2016-12-18 18:29] olandese commented on #10625
Same issue for me too

[2016-12-18 18:29] bpasero commented on #17473
ok, this is as designed. when no folder is opened you cannot hide the open editors view.

[2016-12-18 18:50] Harris-Aaron opened #17493 ""window.openFilesInNewWindow": false||true = true. This setting is not valid."
- VSCode Version: 1.8.0 (1.8.0)
- OS Version: macOS 10.12.1

Steps to Reproduce:

1.  Set this operation `"window.openFilesInNewWindow": false,` or  `"window.openFilesInNewWindow": true,`  Is invalid.
2. I think that opening a single file independently opens a new window.
    Open multiple files at the same time only open a window.
    Allows multiple folders (items) to exist in the same window or

[2016-12-18 20:04] dbaeumer commented on #17403
@TheColorRed actually that should work. Could you share your project so that I can investigate why this fails after a while

[2016-12-18 20:10] dbaeumer commented on #17393
@mjbvz without good support for this from TSServer this will never be a nice experience so I stayed away from doing workarounds here. For example the contains tsconfig.json (or jsconfig.json) only works if these files are in the root. It doesn't if in a sub folder. So adding this might cause more confusion than it helps.

In addition it is very hard to pick the right TS file for the NavTo request

[2016-12-18 20:20] sharwell commented on #3130
@jhasse Subscribing puts the notification in the top category here. Replying puts it in the bottom category:

![image](https://cloud.githubusercontent.com/assets/1408396/21296249/0658ad1e-c52d-11e6-96a5-54f3edbf23ef.png)

[2016-12-18 20:40] AStodgyGuy opened #17495 "Explorer: Does not sort files and folders with numerical values accordingly"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.5|
|java-debug|DSnake|0.0.2|
|cpptools|ms-vscode|0.9.3|
|csharp|ms-vscode|1.5.3|
|java|redhat|0.0.7|

---

Steps to Reproduce:

1. Create 3 folders called "Folder 1" , "Folder 2" a

[2016-12-18 21:45] mikes-gh commented on #16261
@jwhitfieldseed Did you mange to report?

[2016-12-18 22:00] rchiav commented on #2384
Same issue. I was just installing this at work and considering moving over from Sublime and ran into this issue.

![image](https://cloud.githubusercontent.com/assets/1301606/21296872/79131270-c543-11e6-8e37-b012b54dbd35.png)

Behind a corporate proxy but I'm able to configure npm with the same proxy just fine. Every other Microsoft app uses the IE settings and works just fine too. Also successfull

[2016-12-18 22:23] mikes-gh commented on #5257
In vscode 1.8 / electron 1.4.6 changing tabs back and forth still gives a new guestintance id for an open webview each time the web view is shown hidden.
AFAIK it should b e possible to keep the guestinstance id and prevent the reload now with electron update?

[2016-12-18 22:56] TheColorRed commented on #17403
Here is the code:

https://github.com/TheColorRed/tmp-ezel

This should be the commands to run before you run the gulpfile:

[code]

[2016-12-18 22:58] Devid- commented on #4865
This is really what is missing from Visual Studio Code.

[2016-12-19 00:04] supernoir commented on #17349
@rebornix yes, I can copy/paste easily when I launch VSC with spotlight works, but from command line (using tmux) doesn't. If it is fixed you can close the issue.

[2016-12-19 00:41] strrchr opened #17497 "Scroll slowly when extension section visible"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.6.0|
|auto-close-tag|formulahendry|0.3.6|
|auto-rename-tag|formulahendry|0.0.8|
|green-theme|vscode|0.1.0|
|beautify|HookyQR|0.6.2|
|cpptools|ms-vscode|0.9.3|
|vscode-icons|robertohuert

[2016-12-19 00:54] cesarvarela commented on #13093
![image](https://cloud.githubusercontent.com/assets/1172479/21298218/75726732-c56c-11e6-95d3-fea69cfa165c.png)

Not just chinese

[2016-12-19 00:54] HankB opened #17498 "Python3 support?"
- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:14:18.217Z)
- OS Version: Linux x64 4.4.0-47-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.4|
|Go|lukehoban|0.6.50|

---

Steps to Reproduce:

1. Edit a Python 3 file with a bang path '#!/usr/bin/env python3'
2.Type '<ctrl>s' to save
3. Click the button that offers to in

[2016-12-19 00:57] cesarvarela opened #17499 "Emoji keyboard not working"
#- VSCode Version: 1.8
- OS Version: macOS Sierra

Steps to Reproduce:

1. Bring the emoji keyboard
2. Try to insert an emoji either by clicking on it or by moving the arrow keys as pressing enter

[2016-12-19 01:24] Tyriar commented on #17349
I cannot reproduce any weirdness with paste specifically on Windows 10 other than the fact that the terminal can override the copy command as in #17232 which could cause the clipboard to be empty. If you're not getting this warning:

Then I don't know what it could be.

Note that the terminal does have it's own paste command which now points to ctrl+v instead of ctrl+shift+v in 1.7, however it rel

[2016-12-19 01:25] Mosho1 opened #17500 "Symbol search doesn't work"
- VSCode Version: 1.8
- OS Version: windows 10

Steps to Reproduce:

1.  Hit ctrl+t
2.  Enter anything

There is a loading indication and nothing happens after more than a minute.

[2016-12-19 01:30] Tyriar opened #17501 "Closing and opening explorer viewlet via sash will change the active editor if it's keybindings.json"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14931
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-theme-onedark|akamud|0.2.5|
|vscode-theme-fruity|Tyriar|0.1.0|
|csharp|ms-vscode|1.1.5|

---

Steps to Reproduce:

1. Open a file
2. Open keybindings.json

    ![image](https://cloud.githubusercont

[2016-12-19 01:36] Tyriar commented on #17462
I cannot reproduce with cmd/Windows 10, it may be related to running bash. It could also be this bug https://github.com/sourcelair/xterm.js/issues/385 which I was having a difficult time reproducing and finding a fix for.

@kieferrm I suggest we defer this for January unless there have been several other reports.

[2016-12-19 02:06] PaulRijkes opened #17502 "Refused to set unsafe header proxyAuthorization"
- VSCode Version: 1.8.0
- OS Version: Windows 7 Professional Service Pack 1
- Installed Chrome version: 55.0.2883.87 m

I'm having trouble to configure Visual Code to use the local proxy here.
Settings wise I think I'm doing everything OK, but Visual Code won't load extensions or do a version update check. In both cases no message or error is displayed, so I've no idea what I'm doing wrong.

When

[2016-12-19 02:07] amrel-shiekh opened #17503 "Terminal enhancement"
- VSCode Version: last
- OS Version: last

Steps to Reproduce:

1. after click on ctrl+`
2. the terminal is opened you have to suggest the location of the terminal with the opened file location

[2016-12-19 02:09] WoShiSunWuKong opened #17504 "can not format HTML correctly when HTML tags have style=".....""
- VSCode Version: 1.8
- OS Version: win10

Steps to Reproduce:

1.
with out  **“style="width:30px;height:30px;"”**，the format is right
![image](https://cloud.githubusercontent.com/assets/16789187/21299029/827832de-c5d2-11e6-8285-fb85cf8d1181.png)

2.
write  **“style="width:30px;height:30px;"”** for  div tag ,then press   Shift+Alt+F，the format is not  right
![image](https://cloud.githubusercontent

[2016-12-19 02:48] brendandixon commented on #17354
@bpasero I'll keep my eyes open. Unfortunately, it's seems to be working again. (Go figure.)

[2016-12-19 03:38] shiftkey commented on #17368
@bpasero testing 1.7.2 (the only difference I did was forcing "Check for Updates" rather than waiting):

No, no prompt for credentials occurring.

Yes, I was running 1.8.0 38746938a4ab94f2f57d9e1309c51fd6fb37553d after the update was applied and VS Code was relaunched.

[2016-12-19 03:38] azlan opened #17505 "VS Code doesn't remember find settings (actions.find)"
- VSCode Version:
1.8.0

- OS Version:
Windows 10

Steps to Reproduce:

1.  Press Ctrl+F, then Alt+C, Alt+W, Alt+R to toggle the options
2.  Restart VSCode
3. Ctrl+F to inspect the settings again

Sublime, Notepad++ will keep the settings by default, at least we can get the option to save the settings in vscode.

[2016-12-19 03:39] zhaomiing opened #17506 "Remove border in editor right hand side over scrollbar"
- VSCode Version: 1.80
- OS Version: macOS 10.12.2

[2016-12-19 04:00] Jonatino opened #17507 "'Real' Files not Being Reopened"
- VSCode Version: 1.9.0-insider
- OS Version: Windows 10 x64 Pro

I noticed that when I have a bunch of untitled-unsaved files with hotexit enabled and if I open a file from explorer, if I close VSCode and open it only the untitled-unsaved files will be restored and not the file I opened from explorer.

Steps to Reproduce:

1. Create new untitled-unsaved tabs
2. Click File -> Open File -> and choo

[2016-12-19 04:02] claytoncarney opened #17508 "Problems Opening Multiple Editors"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.2|
|python|donjayamanne|0.5.5|
|MagicPython|magicstack|1.0.0|
|csharp|ms-vscode|1.5.3|
|python|tht13|0.2.3|

---

I'm fairly certain this problem began after updating to 1.8.0.

[2016-12-19 04:05] strrchr opened #17509 "How to configure the colors in command palette?"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.6.0|
|auto-close-tag|formulahendry|0.3.6|
|auto-rename-tag|formulahendry|0.0.8|
|green-theme|vscode|0.1.0|
|beautify|HookyQR|0.6.2|
|theme-material-theme|jprestidge|1.0.1|
|cpptools|ms-

[2016-12-19 04:17] strrchr opened #17510 "Wrong active tab title background in dark theme with "uiTheme": "vs""
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.6.0|
|auto-close-tag|formulahendry|0.3.6|
|auto-rename-tag|formulahendry|0.0.8|
|green-theme|vscode|0.1.0|
|beautify|HookyQR|0.6.2|
|theme-material-theme|jprestidge|1.0.1|
|cpptools|ms-

[2016-12-19 04:20] jessicah opened #17511 "Resize "Open Editors" pane in Explorer"
- VSCode Version: 1.8
- OS Version: Windows 10

Steps to Reproduce:

1. Open a large number of documents
2. Need to scroll to see all documents in Open Editors pane

I work on a very large repository, 20,000 files, 2000 directories, so I like to open all the documents I want to jump between; then minimise the directory tree view, and use the Open Editors pane to jump between documents.

I find usi

[2016-12-19 04:27] jessicah opened #17512 "Disable automatic scrolling in Explorer pane when switching editor windows"
- VSCode Version: 1.8
- OS Version: Windows 10

Steps to Reproduce:

1. Scroll the Explorer view a little or a lot
2. Focus on another open editor window
3. Explorer scrolls so that currently selected file is in view and centered vertically (if possible)

This is very annoying. I scroll to a different part of my source tree for a reason, switching between windows should have no effect on the Explo

[2016-12-19 04:36] aioutecism opened #17513 "Extension API: Wrong cursorStyle"
- VSCode Version: 1.8.0
- OS Version: macOS 10.12.2

Steps to Reproduce:

1. Create an extension with these code:
[code]
[code]
2. Debug the extension.
3. Change cursor style with the command.
4. Switch between text editors.

I made a screen record:
![2016-12-19 13 30 12](https://cloud.githubusercontent.com/assets/2175401/21301338/0238dbe6-c5f0-11e6-8cf5-0098d3a90379.gif)

[2016-12-19 04:39] yosualb opened #17514 "Hard to unfocusing selected folder when children of root folder is maximum the explorer window"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.51|
|sublime-keybindings|ms-vscode|1.8.0|

---

Steps to Reproduce:

1. Give extra space on root (project) folder explorer for unfocusing selected folder for creating new folder in root f

[2016-12-19 04:46] kieferrm commented on #17514
@yosualb, you can unselect an item in the file explorer by pressing `ESC` twice.

[2016-12-19 04:46] #17514 closed

[2016-12-19 04:51] kieferrm commented on #17512
@jessicah you can change `explorer.autoReveal` to `false` in your user or workspace settings.

[2016-12-19 04:51] #17512 closed

[2016-12-19 04:52] xconverge commented on #17472
Related #17513

[2016-12-19 04:54] kieferrm commented on #17511
@jessicah you can control the behavior and appearance of the Open Editors section with the following two settings: `explorer.openEditors.visible` and `explorer.openEditors.dynamicHeight` in your user or workspace settings.

[2016-12-19 04:54] #17511 closed

[2016-12-19 04:57] rebornix commented on #17349
Now with @supernoir 's info, we can confirm that it's dup of #13366, which is an external issue described in electron repo https://github.com/electron/electron/issues/916 .

For short:

You can mitigate this issue by following https://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard#mac-os-x-pasteboard-access-under-tmux-and-screen

[2016-12-19 04:58] kieferrm commented on #17509
@strrchr are you asking how to change individual colors in vscode?

[2016-12-19 05:02] strrchr commented on #17509
Can I configure the foreground and background colors in command palette's auto completetion box?
![default](https://cloud.githubusercontent.com/assets/8603093/21301733/1b6153d2-c5eb-11e6-8f32-fbf900078325.png)

[2016-12-19 05:03] kieferrm commented on #17508
@claytoncarney What happens on single click in the explorer and what happens on `Ctrl+P` is controlled by the following two settings in your workspace or user settings:

[2016-12-19 05:03] #17508 closed

[2016-12-19 05:10] kieferrm commented on #17507
This happens in a workspace without an open folder.

[2016-12-19 05:18] kieferrm commented on #17500
@Mosho1 pls provide more details steps for how to reproduce the problem. Do you open a folder? What files did you open in the editor? Which editor had the focus when you invoked `ctrl+t`? Which extension have you installed? Thanks!

[2016-12-19 05:21] kieferrm commented on #17498
Pls file the issue against the python extension: https://github.com/DonJayamanne/pythonVSCode/issues

Thanks!

[2016-12-19 05:21] #17498 closed

[2016-12-19 05:22] kieferrm commented on #17497
Not an issue on macOS.

[2016-12-19 05:28] kieferrm commented on #17495
The macOS Finder, for example, handles this case correctly.

[2016-12-19 05:36] kieferrm commented on #17493
@Harris-Aaron when you have `"window.openFilesInNewWindow": true` and you open a file from the Finder than a new window is opened. When you have `"window.openFilesInNewWindow": false` and you open a file from the Finder the file is opened in an existing window.

[2016-12-19 05:36] #17493 closed

[2016-12-19 05:41] Tyriar commented on #17503
I created an extension that exposes a command for this https://marketplace.visualstudio.com/items?itemName=Tyriar.vscode-terminal-here

[2016-12-19 05:41] #17503 closed

[2016-12-19 05:41] kooboo-chenhai commented on #17367
@rebornix 是的,不过今天倒是没有报错了,不知道是因为我更新了最新版本的lint还是说我重启电脑后就好了.后面有情况我会@你们的

[2016-12-19 05:41] #17367 closed

[2016-12-19 05:43] kieferrm commented on #17487
@marekadamczyk pls file the issue with the C# extension. They track their issues here: https://github.com/OmniSharp/omnisharp-vscode/issues  Thanks!

[2016-12-19 05:43] #17487 closed

[2016-12-19 05:44] bpasero commented on #17501
https://github.com/Microsoft/vscode/issues/16616

[2016-12-19 05:44] #17501 closed

[2016-12-19 05:46] kieferrm commented on #17484
@DMahmoodi pls file the issue as described in the previous comment. Thanks!

[2016-12-19 05:46] #17484 closed

[2016-12-19 05:46] Tyriar commented on #17507
@Jonatino yes there is 😄. Before hot exit we didn't support restoring windows with no folder opened at all, here is the feature request for that #207. The reason it's being partially restored with only the dirty files is because hot exit restores on no folder windows currently rely on the fallback hot exit code, where we go through the backups for the window and open/restore them if they weren't a

[2016-12-19 05:46] #17507 closed

[2016-12-19 05:47] bpasero commented on #17510
@strrchr can you share a screenshot what you mean?

[2016-12-19 05:48] bpasero commented on #17509
#3112

[2016-12-19 05:48] #17509 closed

[2016-12-19 05:49] #17479 closed

[2016-12-19 05:50] kieferrm commented on #17478
@roblourens pls have a look using the go extension.

[2016-12-19 06:04] kieferrm commented on #17465
Bug 1 is a dup of #17216.

I'm sure we are tracking the restart issue when you have an invalid locale but I can't find the issue. @bpasero?

[2016-12-19 06:11] kieferrm commented on #17462
@Tyriar when I ran vscode on Win10 in parallels I used CMD and could reproduce the behavior.

[2016-12-19 06:11] kieferrm commented on #17462
@lvhuat we had the other discussion in #17465.

[2016-12-19 06:17] bpasero commented on #17465
For me I can start VS Code with wrong locale without problems on Windows. Moving to @dbaeumer for Windows.

[2016-12-19 06:18] kieferrm commented on #17376
@bpasero when we made the changes we overlooked the Quick Outline style of navigating in keyboard shortcuts and settings. I.e. we broke established and efficient workflows without appropriate consideration. That makes this a regression.

[2016-12-19 06:20] keyiis commented on #17479
@aluanhaddad not object.is.  it's too weird,i used webpack with ts-loader and typings,all work fine!when i change ts-loader to at-loader and typings to @types/...  error appear

[2016-12-19 06:26] kieferrm commented on #17349
Thanks @rebornix. Closing as duplicate of #13366.

[2016-12-19 06:26] #17349 closed

[2016-12-19 06:42] tinaun commented on #6579
using /Sysnative/bash.exe directly works for me in `14986`

[2016-12-19 07:11] jessicah commented on #17511
I set `explorer.openEditors.dynamicHeight` to true, but this hasn't had any effect. I even restarted vscode to ensure it didn't need reloading.

[2016-12-19 07:13] jessicah commented on #17511
Oh, I see visible is a number... that's a confusingly named setting.

[2016-12-19 07:18] BelalH opened #17516 "Groovy fast jump"
- VSCode Version:
- OS Version:
- groovy language
Steps to Reproduce:

1. write function or variable
2. call the function or variable later in code
3. press command and the press on the function call
4. the cursor doesn't jump to that function

[2016-12-19 07:30] sandy081 commented on #17371
@garfieldbanks Thanks for filing an issue for this. May I know if you do not want `edit` icon or you also do not like to new Grouping and Search bar in default settings? Also, may I know the reason/use case of why you want to see Default settings old way? This will help us in filling the gaps and finding the right balanced solution.

Thanks

[2016-12-19 07:35] sandy081 commented on #17452
`editor.referenceInfos` is deprecated and is replaced by `editor.codeLens` and hence warnings are shown. Please use `editor.codeLens`.

[2016-12-19 07:35] #17452 closed

[2016-12-19 07:40] egamma commented on #17516
This is the expected behaviour. Currently there is only coloring support for Groovy provided by VS Code.

[2016-12-19 08:02] mmc41 commented on #7426
I also have had the same problem for many, many releases of code and for different mac os x versions incl. Sierra. It is the single most annoying problem with visual code. The xattr trick did not help. This issue is marked as closed - but it really is not

[2016-12-19 08:15] mmc41 commented on #3520
The xattr trick did not help. I also have had the same problem for many, many releases of code and for different mac os x versions incl. Sierra. It is the single most annoying problem with visual code. Really need fixing.

[2016-12-19 08:17] andychen2016 opened #17518 "can't stop at the breakpoint"
- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:14:18.217Z)
- OS Version: Linux x64 4.4.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|makeRunner|alexnesnes|0.1.1|
|code-gnu-global|austin|0.2.1|
|vscode-instant-markdown|dbankier|0.2.1|
|python|donjayamanne|0.5.5|
|CppSnippets|hars|0.0.5|
|MagicPython|magicstack|0.6.1|
|vscode-clang|mitak

[2016-12-19 08:20] kooboo-chenhai opened #17519 "lint 的es6省略号语法又报错了... (the automatically expand syntax of es6 in vscode report errors again)"
see in the pic:
![1](https://cloud.githubusercontent.com/assets/13828467/21305509/2561cfbc-c607-11e6-9b38-747d9239eddf.png)
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.2|
|vscode-babel-coloring|dzannotti|0.0.4|

---

@reb

[2016-12-19 08:21] hamenon commented on #16156
@chrmarti It is intended to capture the growing extensions. We primarily look at extension growth and see which extensions are trending in the specified timeline. We do have a threshold to avoid just recently added extensions from showing up and thereby duplicating the Recently Added list.

Like you mentioned the number of active application installs would be a great measure to have as its a more

[2016-12-19 08:22] isidorn commented on #17405
Thank you for the suggestion but this is configurarble and we do not want to make people accidentely end up in zen mode and be confused what is going on.

Closing as designed

[2016-12-19 08:22] #17405 closed

[2016-12-19 08:26] sidewinder94 opened #17520 "Hot Exit: Remember File Language mode"
- VSCode Version: 1.8.0
- OS Version: Windows Server 2012 R2

Steps to Reproduce:

1. Open VS Code
2. Create a new file (don't save)
3. Change language mode (i.e. to SQL)
4. Type some text
5. Exit
6. Launch VS Code Again

The language mode selected before closing is lost.

[2016-12-19 08:27] kooboo-chenhai commented on #17519
而且,之前还有一种更奇怪的报错,
某些单词下面的某一两个字母会出现一条红色的波浪号,但是现在重现不了,因为似乎重启后就正常了,至少今天是的.
( too long ,lazy to translate...)

[2016-12-19 08:29] strrchr commented on #17510
![default](https://cloud.githubusercontent.com/assets/8603093/21305658/e878b678-c607-11e6-87ab-25795422649b.png)
My thTheme is a dark theme.
I set its uiTheme to "vs".
Then the active tab title's background color is black. It seems the color is follow my thTheme. I think it should be controlled by uiTheme.
			{
				"label": "Green V3 Theme",
				"uiTheme": "vs",
				"path": "./GreenV3Theme.tmTheme

[2016-12-19 08:36] #17408 closed

[2016-12-19 08:44] bpasero commented on #17510
I think in this case the UI theme has to be set to vs-dark. Moving to @aeschli to confirm.

[2016-12-19 08:50] isidorn commented on #16866
Ctrl + shift + D should open the debug panel.

[2016-12-19 08:50] isidorn commented on #17384
Dup of #17364

[2016-12-19 08:50] #17384 closed

[2016-12-19 08:51] isidorn commented on #17364
Yes this is explained and covered here https://github.com/Microsoft/vscode/issues/17073#issuecomment-267062445

Will be fixed as part of that - closing as duplicate

[2016-12-19 08:51] #17364 closed

[2016-12-19 08:51] alexandrudima opened #17521 "Move keybinding dispatching off e.keyCode"
## Intro

VS Code dispatches keyboard shorcuts to commands by listening to [`keydown`](https://www.w3.org/TR/uievents/#event-type-keydown) events.

At the time VS Code was first released, we shipped with Chromium version 45. It did not support `KeyboardEvent.key`, nor `KeyboardEvent.code` (see the current spec [here](https://www.w3.org/TR/uievents/#interface-keyboardevent)).

It supported `Keyboar

[2016-12-19 08:54] garfieldbanks commented on #17371
@sandy081
How about a button at the very bottom that opens a new tab with the raw file? Kind of like when you preview something.

[2016-12-19 09:04] Ltre opened #17522 "How to append more folder into the workspace?"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eclipse-keybindings|alphabotsec|0.8.0|
|tortoise-svn|fantasytyx|0.1.1|
|php-intellisense|felixfbecker|0.0.12|
|composer|ikappas|0.5.0|
|material-icon-theme|PKief|1.1.5|

---

Steps to Reproduce:

1.

[2016-12-19 09:08] Ltre commented on #17522
。。。 such as multiple folder from Sublime Text Editor

[2016-12-19 09:10] kaefert commented on #1746
I think I'm observing the same issue here. VS Code stops here on every page load. When I step over the marked line the fetchPromise has the status  "rejected".
![screenshot from 2016-12-19 10-06-22](https://cloud.githubusercontent.com/assets/1448723/21306747/d7fdcc50-c5d2-11e6-82f1-caf13685a639.png)

I'm running VS Code 1.8.0, Commit 38746938a4ab94f2f57d9e1309c51fd6fb37553d, Shell 1.4.6, Renderer

[2016-12-19 09:22] kumarharsh commented on #17522
I don't think you can.

[2016-12-19 09:32] Ltre commented on #17522
HOW TO SUPPORT IT?

[2016-12-19 09:52] alarcl opened #17523 "warn when (Ctrl+C) in file (after select text in terminal)"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

|Extension|Author|Version|
|---|---|---|
|theme-karyfoundation-themes|karyfoundation|10.1.0|
|Go|lukehoban|0.6.51|
|vscode-terminal-here|Tyriar|0.0.5|
|language-1c-bsl|xDrivenDevelopment|1.8.6|

---

Steps to Reproduce:

1. Open terminal (Ctrl+`)
2

[2016-12-19 09:59] liaoya opened #17524 "VSCode 1.8.0 on CentOS 7.2 can't install or browse extension"
- VSCode Version: 1.8.0-1481651903
- OS Version: CentOS 7.2.1511

Steps to Reproduce:

1. Update to 1.8 from 1.7.2
2. Can't search or browse extension, but I downgrade to 1.7.2, these extension functions work again.

[2016-12-19 10:02] Tarpsvo opened #17525 "Unsaved changes for freshly opened files (nothing was changed)"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|vscode-theme-onedark|akamud|0.2.14|
|aurelia|AureliaEffect|0.1.12|
|Aurelia|behzad88|1.1.0|
|path-intellisense|christian-kohler|1.2.0|
|vscode-eslint|dbaeumer|1.2.2|
|Edito

[2016-12-19 10:07] bpasero commented on #17376
Suggestion: go back to 2 editors for keybindings.

[2016-12-19 10:11] f111fei commented on #17522
it's in roadmap.

https://github.com/Microsoft/vscode/wiki/Roadmap

Multiple folders inside a single workspace

[2016-12-19 10:15] weinand opened #17526 "Has OutputEvent changed in VSCode 1.8?"
_From @dibyendumajumdar on December 16, 2016 18:7_

Hi @weinand ,

After upgrading to VS Code 1.8 I notice that the debug adapter output is getting messed up. Specifically it seems new lines are being added after every output event? This means that if the debug adapter sends following sequence the result is displayed broken up in multiple lines:

[code]

_Copied from original issue: Microsoft/vsco

[2016-12-19 10:15] plaetzchen79 opened #17527 "Jump to last position via context menu or application menu (eg edit)"
- VSCode Version: 1.7.2
- OS Version:

I would like to jump directly to the last (cursor) position and last edited page via the context (right mouse) oder application menu. I know that there is a keyboard shortcut. But i am more familiar with mouse navigation.

This is common in visual studio express.

Ist there a way to achieve this?

[2016-12-19 10:23] egamma commented on #17527
We want to keep the context menu short and there are corresponding actions in the `Go` pull down menu (`Back`, `Forward`). We have no plans to add them to the context menu.

You can achieve this by an extension that contributes to the editor context menu. If this is a common expectation for VS users then this could be provided by the https://github.com/rebornix/vscode-vs-keybindings extension.

[2016-12-19 10:23] #17527 closed

[2016-12-19 10:27] egamma commented on #17525
@Tarpsvo what file types (e.g. JS) showed this behaviour?
When this happens again can do a `git status` on the command line, does it also show the file as changed?

[2016-12-19 10:31] egamma commented on #17522
Yes it is on the roadmap and it is a duplicate of #396

[2016-12-19 10:31] #17522 closed

[2016-12-19 10:32] Tarpsvo commented on #17525
Yes. File types that showed this behaviour are for example .html, .js and .scss.

I can easily reproduce it in my project. I suspected it has something to do with line-endings, but they all seem to be consistently LF, since I've used the same `.editorconfig` file and plugin ever since I started the project.

[2016-12-19 10:35] dbaeumer commented on #17221
Instead of going back to VS Code version 1.7 you could also use the typescript.tsdk setting to point VS Code 1.8 to a different TS version. To use for example 2.0.10 (which shipped with 1.7) do the following:

- npm install typescript@2.0.10 into the workspace folder
- use the workspace setting `"typescript.tsdk":"./node_modules/typescript/lib"`

Since we can't reproduce the problem with our test

[2016-12-19 10:35] egamma commented on #17519
@rebornix can you help with the translation of https://github.com/Microsoft/vscode/issues/17519#issuecomment-267907723

[2016-12-19 10:37] egamma commented on #17518
This issue was moved to Microsoft/vscode-cpptools#416

[2016-12-19 10:37] #17518 closed

[2016-12-19 10:40] alexandrudima commented on #17521
We have discussed this in detail in our today's daily standup and we are in agreement to go forward with Option 2).

[2016-12-19 10:43] sandy081 commented on #17376
Agreed that disabling outline for Keybindings was not expected and was a side effect of moving to side by side editor. I will revert it to old behaviour of showing 2 editors for key bindings.

Disabling Quick outline/Go to Symbol/Go to line/Find was intentional in Default Settings. This was done in favour of new rich functionality in Default Settings.
- Advanced Search and filtering
- Rich Groupin

[2016-12-19 10:43] weinand commented on #7745
@Trixt0r great to hear that this now works for you.

[2016-12-19 10:43] #7745 closed

[2016-12-19 10:43] chrmarti commented on #14934
@dawsonbotsford This should only happen once - on first startup. Please open an issue if it shows more than once.

[2016-12-19 10:44] #17376 closed

[2016-12-19 10:44] #17468 closed

[2016-12-19 10:45] #16616 closed

[2016-12-19 10:46] bpasero commented on #16616
The explorer is now treating the settings and keybindings in the same way as a normal file, so this bug as reported is fixed.

[2016-12-19 10:50] chrmarti commented on #17340
@coreh What does the command palette (Shift+Cmd+P) show as the shortcut for Toggle Terminal? (Trying to figure out if this is a problem specific to the watermark.)

[2016-12-19 10:52] egamma commented on #17525
This means that VS Code shows the git status correctly and you need to find out what causes the change to the file.

First suspicion is that this could be caused by an extension you have installed.  Can you reproduce this when you have disabled all the extensions. This can be done using  `--disable-extensions` command line option or you disable the extensions in the extensions viewlet.

[2016-12-19 10:54] coolheinze opened #17528 "Ridiculously slow at handling files without line breaks (e.g. minified js, css...)"
- VSCode Version: 1.8.0
- OS Version: macOS Sierra 10.12.2

Steps to Reproduce:

1. Open a minified file
2. Try stuff like scrolling, select all, paste...

[2016-12-19 10:54] coolheinze commented on #17528
Particularly bad when more files are open

[2016-12-19 10:57] kooboo-chenhai commented on #17519
@rebornix
![2](https://cloud.githubusercontent.com/assets/13828467/21310239/7094e284-c61c-11e6-9e88-2e47f9a78baa.png)
@egamma : I means that sometimes it report errors like this picture,it says "property assignment expected", but the code run well in my program.

[2016-12-19 11:01] Tarpsvo commented on #17525
Whoops, turned out to be an issue caused by `editorconfig` plugin indeed. Not a VSCode issue. Thank you for your help, I'll report the same problem in their repository instead.

[2016-12-19 11:01] #17525 closed

[2016-12-19 11:02] Christilut commented on #16109
Yep, would love this too. Atom has this and when calling methods with a string, this really helps preventing mistakes there.

[2016-12-19 11:03] kooboo-chenhai commented on #17519
It appear again now ,  it was well until this vscode version

[2016-12-19 11:10] #17489 closed

[2016-12-19 11:21] dbaeumer commented on #17465
Works for me without problems under Windows. @bpasero did you test under Linux / Mac ? Your last comment is a little confusing to me?

[2016-12-19 11:25] bpasero commented on #17520
https://github.com/Microsoft/vscode/issues/16803

[2016-12-19 11:25] #17520 closed

[2016-12-19 11:27] bpasero commented on #17465
@dbaeumer updated my comment, cannot reproduce an issue on macOS nor Linux.

[2016-12-19 11:27] kingbonio opened #17529 "Typo, easy fix"
- VSCode Version: 1.7.2
- OS Version: Debian 8.6

Steps to Reproduce:

1. ctrl+shift+f
2. Toggle search details

Settings appears as "files excluded through set tings"

[2016-12-19 11:30] dbaeumer commented on #17403
@TheColorRed thanks. I cloned the project and Ctrl+Shift+B works nicely for me. Here is what I see:

![capture](https://cloud.githubusercontent.com/assets/1931590/21311303/cd3ac890-c5e6-11e6-834b-3169dd877a5e.png)

Even repeatedly. Anything special when this fails. What do you see in the Output panel when it fails.

[2016-12-19 11:31] dbaeumer commented on #17465
OK. The missing translation is partly expected due to the fact that translations always come in later.

[2016-12-19 11:34] dbaeumer commented on #17465
Next 1.8.x build will have translations for the Selection menu:

![capture](https://cloud.githubusercontent.com/assets/1931590/21311450/846d47e0-c5e7-11e6-88e4-93886c50e151.png)

[2016-12-19 11:34] #17465 closed

[2016-12-19 11:35] dbaeumer commented on #17465
![capture](https://cloud.githubusercontent.com/assets/1931590/21311468/997216f2-c5e7-11e6-8145-997847dd53d6.png)

[2016-12-19 11:35] alexandrudima commented on #17444
@formulahendry The `TextDocumentChangeEvent` also contains a `range` property, which you could take into account in your logic. I am not sure why this has changed from 1.7.0 to 1.8.0, but the `TextDocumentChangeEvent` is correct. e.g.:

* when having a file with the contents
[code]
* and typing `>`
* this is the text document change event being sent:
[code]

This event is correct, it allows someon

[2016-12-19 11:38] sandy081 commented on #17371
@garfieldbanks I can definitely do that or have a command to show the raw file.
But, I am kind of more interested to know why you would like to need it in first place which the current thing is not doing?

[2016-12-19 11:39] reflog commented on #371
I'd love to have that included!

[2016-12-19 11:44] sandy081 commented on #17371
Disabling Quick outline/Go to Symbol/Go to line/Find/Folding was done in favour of new rich functionality in Default Settings.
- Advanced Search and filtering
- Rich Grouping

I would be more interested to know what is missing in new Default settings that is there in Old one and how is it being helpful? So that I can look in bringing the new default settings on par with old one or have an option t

[2016-12-19 11:45] sandy081 commented on #17378
@pierredewilde As said this is being tracked in #17371, your input over there is much welcome. Thanks.

[2016-12-19 11:57] #17431 closed

[2016-12-19 12:00] rohmanhm commented on #17529
Try to use the new version of [vscode](https://code.visualstudio.com/)

[2016-12-19 12:02] pierredewilde commented on #17371
Thanks for the new Defaults Settings UI.

With the new integrated search, it's fast to find what we are looking for.

The old UI was useful to get offline documentation of all settings.

Keybindings UI still uses the old UI. For coherence, both defaults settings and keybindings should have a similar UI.

[2016-12-19 12:06] rohmanhm opened #17531 "Allow to zoom without zooming the sidebar"
- VSCode Version: 1.8.0
- OS Version: El-Capitan

Issue:

When I hit shortcut `cmd and (+)` to increase the font size in my editor, the sidebar influenced too.
How can I setting for the future, when I increase or decrease my font size with hit the shortcut key like `cmd and (+)` or `cmd and (-)` not influencing the sidebar

[2016-12-19 12:16] formulahendry commented on #17444
That seems not acceptable, since
* Scenario#1 in a html file
Type `<di`, then type `v`, contentChanges return `v`, then type `>`, contentChanges return `<div>`
When typing `v`, why it returns `v` not `<div`?

* Scenario#2 in a html file
Type `<di`, then type `v`, contentChanges return `v`, then type `1`, contentChanges return `1`
When typing `1`, why it return `1` not `<div1`?

* Scenario#3 in a f

[2016-12-19 12:18] bodiam commented on #1808
IntelliJ is also quite at this, but Visual Studio code is quite lacking in this. I'm commenting on this because expand selection is my most used shortcut in IntelliJ, and I tried the same in Visual Studio Code, just to find out it's basically not working. I'm hoping someone might find the time to improve this feature.

[2016-12-19 12:43] johnliu2016 commented on #17269
@lukaschal Please send to linguistic review

[nodeDebug.nls.resx.lcl](https://monacotools.visualstudio.com/Monaco/_git/MonacoLocalization#path=%2FLocalize%2Fchs%2Fvscode-node-debug%2Fout%2Fnode%2FnodeDebug.nls.resx.lcl&version=GBmaster&_a=contents)

      <Item ItemId=";scope.closure" ItemType="0;.resx" PsrId="211" Leaf="true">
        <Str Cat="Text">
          <Val><![CDATA[Closure]]></Val>

[2016-12-19 12:45] kaiwood commented on #1808
Just in case it helps someone, I link to my answer to this topic from Stackoverflow a while ago: http://stackoverflow.com/questions/40949929/how-do-i-select-the-insides-of-div-in-visual-studio-code/40971959#40971959

It's not perfect, but with this keybinding setup, you basically use Emmet's selection / balancing commands in HTML files and standard shrink / grow for everything else. Works for me,

[2016-12-19 13:11] octref opened #17532 "UX about inline traffic light"
I'm thinking about picking up #12628, but would like to get some input from the UX team, so we can get the design right.

## Current State

![](https://cloud.githubusercontent.com/assets/49038/20053382/88475732-a4d8-11e6-97aa-80eb257c5264.png)

However, this design doesn't work when activitybar is hidden or in the right.

## Electron's limitation

Electron allows one of the four following styles,

[2016-12-19 13:16] dbaeumer commented on #17282
@victornoel the ESLint extension doesn't use ESLint from the path. The extension loads the eslint npm module via require in a running node process and we keep that process alive to not start it after every change of a file. This is why you need to install ESLint either into the workspace folder or globally. Alternatively you can set the eslint.nodePath setting to point to a location that is uncomm

[2016-12-19 13:16] #17282 closed

[2016-12-19 13:30] weeblr commented on #14638
Hi

As mentioned here https://github.com/Microsoft/vscode/issues/329#issuecomment-160922808 some times ago, there is another issue with moving to recycle bin when you use code in a portable way (ie with custom settings and extensions dir).

So a CLI option to disable recycle bin entirely, **even if OS provides support for recycling** still does make sense IMHO

Cheers

[2016-12-19 13:31] victornoel commented on #17282
@dbaeumer I see, this wasn't so clear to me, thank you for the clarification!

[2016-12-19 13:32] victornoel commented on #17282
@dbaeumer just a quick question, when it is installed globally, which path is used to look it up by default?

[2016-12-19 13:34] Yayuro opened #17533 "[Request] Possibility to mix light and dark theme"
It would be nice if we can combine light and dark theme together.
For example light for file explorer and dark for code.
I think you cannot do that properly right now.

IMO both feels more separated.
It's just a thought.

![vscode_mixed-theme](https://cloud.githubusercontent.com/assets/9949969/21314525/7efe4ad6-c5ef-11e6-99e1-2d219eafd10e.png)

[2016-12-19 13:37] weeblr commented on #13738
Hi

@Tyriar: In light of #329 and also https://github.com/Microsoft/vscode/issues/14638#issuecomment-267964108, I wonder **where** the hot exit feature is storing its files? would that be compatible with a portable usage of vscode?

If vscode does NOT use the user data dir already (which is subject to the --user-data-dir CLI option), could there be a cli option to set a hot exit saving folder  whe

[2016-12-19 13:38] bpasero opened #17534 "Search: not possible to remove individual search results in a file"
I like how when the replace box is visible I can remove individual search results from the results view. However, as soon as replace is hidden, I cannot anymore. Would be nice to always be able to remove search results even when not replacing 👍

[2016-12-19 13:40] bpasero opened #17535 "Preferences: pressing ESC in search box should clear search"

[2016-12-19 13:40] sandy081 commented on #17535
Duplicates #17442

[2016-12-19 13:41] #17535 closed

[2016-12-19 13:41] bpasero opened #17536 "Preferences: cannot find "cssempty" or "css empty""
Steps to Reproduce:

1. follow the smoke test and try to find the setting `"css.lint.emptyRules"`
2. neither typing "cssempty" nor "css empty" finds it :(

[2016-12-19 13:42] sandy081 commented on #17458
Agreed. It was disabled in the beginning but got broke in between.

[2016-12-19 13:44] #17458 closed

[2016-12-19 13:44] bpasero opened #17537 "Markdown: seeing serif font on Linux in preview"
Smoke testing: When I preview a markdown file on Linux, I see the preview using a serif font for some reason:

![image](https://cloud.githubusercontent.com/assets/900690/21314873/9c708a34-c5f9-11e6-9efb-12268d19c366.png)

This is different from macOS for example.

[2016-12-19 13:46] be5invis commented on #17532
The second image is just a joke...

The first one is actually a plausible plan. The “Title Bar” is built with:

- Grand button, for menu and action input.
- Tabs / Panel titles.
- Space for dragging the entire window (ref: Edge).
- Minimize-Maximize-Close buttons.

[2016-12-19 13:47] sandy081 commented on #17536
It's unfortunate that this was not shown. Setting (Description, key, value) does not contain `css` and `empty` together. Currently search is fuzzy only on description and normal on keys and values. I have a plan to improve search and efficient this milestone.  This is one case where I should do split word search in complete setting.

[2016-12-19 13:51] bpasero opened #17538 "Terminal: sometimes the top of the terminal is cropped"
I am sometimes seeing the prompt being scrolled to the top. I just saw this on Linux but also seen this on macOS:

![image](https://cloud.githubusercontent.com/assets/900690/21315047/8d0c0400-c5fa-11e6-93d9-992fe82b235d.png)

[2016-12-19 13:53] chanep opened #17539 "Javascript type inference problem for classes if constructor argument number doesn't match"
- VSCode Version: 1.8.0
- OS Version: Any

VScode doesn't detect correctly instance type if class constructor is called with different number of arguments.

Example:

[code]

I think it is a little annoying to have to put null's all over the place

[2016-12-19 13:53] weinand commented on #17081
This feature does not seem to be related to extension development.
@roblourens Is this feature just _live edit_ for the "Debugger for Chrome"?

[2016-12-19 13:56] octref commented on #17532
@be5invis I feel it would be better to have a dedicated tabbar separate from titlebar. But that's a discussion for later.

[2016-12-19 13:57] isidorn commented on #17232
I can still seldomly repro this

Example steps which always repro for me:
1. Open terminal -> select some text in terminal
2. Focus editor try to ctrl + v in editor -> getting the warning
3. Close the terminal -> still getting the warning

Used win10,  vscode version 5dcb9c5e92029075d86a4f8274dc3af77288abd8

![terminal](https://cloud.githubusercontent.com/assets/1926584/21315216/5866ca04-c5fb-11e6

[2016-12-19 14:01] be5invis commented on #17532
This is Edge:

![image](https://cloud.githubusercontent.com/assets/240091/21315353/b938cfae-c636-11e6-82f9-da57d03bb16b.png)

[2016-12-19 14:09] #16639 closed

[2016-12-19 14:10] bpasero commented on #17536
I would say this is a very common thing our fuzzy search should support.

[2016-12-19 14:12] isidorn commented on #17293
Can you also reproduce this if you simply enter full screen mode? View menu > Toggle Full Screen?
Do you reproduce this every time you enter zen mode?
Can you still reproduce if you add a setting to your setting file `"window.fullScreenZenMode": false`

[2016-12-19 14:13] bpasero commented on #17532
I still think a design on macOS where the buttons move to the left of the tab-well would be nice to explore similar to how Chrome shows it. It gets more interesting in our case because:
* the activity bar can be on or off or to the right hand side
* the side bar can be visible or not

I also think that we should support this on Windows. There however we have no good access to the native window con

[2016-12-19 14:16] be5invis commented on #17532
@bpasero Simulate using SVG? Typora on Windows has a similar “borderless” mode, but it is not open-source.

[2016-12-19 14:16] be5invis commented on #17532
cc. @abnerlee

[2016-12-19 14:17] isidorn commented on #17207
Zen Mode should just disable tabs - similar to what you get when you enter 	`"workbench.editor.showTabs": false`

However this setting is currently not centrilazide and some service needs to be aware of it.
@bpasero is it fine if you upgrade the part service to also be in charge of displaying of tabs

Assigning to January to investigate into enabling this - since even the venture beat article want

[2016-12-19 14:18] isidorn commented on #9509
@gregvanl another ping for doc update request since people are still hitting this issue

[2016-12-19 14:26] #17353 closed

[2016-12-19 14:27] isidorn commented on #17353
@rebornix ok I changed the order in the code. Let me know if it feels smoother now :)

[2016-12-19 14:27] octref commented on #17532
@bpasero

Then we also need a design for handling traffic lights with hidden activitybar + open sidebar.

As for adding things to activitybar, I think it makes more sense to explore enhancing the custom titlebar. Electron has [`hidden-inset`](https://github.com/electron/electron/blob/master/docs/api/frameless-window.md#hidden-inset) so we can make the titlebar wider, and our use case is pretty sim

[2016-12-19 14:37] #17232 closed

[2016-12-19 14:37] isidorn commented on #17323
Hello @CodeCloak setting up such an old v8 version does not sound fun to me. So let's debug it at your machine.
Can you please check the callstack who is calling `rawUpdate` method which breaks on exception, it should probably be the debug service around line 258, if yes can you please set a breakpoint [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-bro

[2016-12-19 14:46] DollarAkshay commented on #3353
IS this bug still not fixed ?

[2016-12-19 14:51] seminull commented on #3130
I haven't had any of the workarounds that I've research work, and I really wanted them to.  I'm on Linux Mint Sarah with Cinnamon.  Honestly the quickest workaround is just go back to my atom setup.  I need to code, not jack with desktop settings and cross my fingers.

[2016-12-19 14:52] dibyendumajumdar commented on #8645
Hi @weinand

debug adapters that need to be launched from an extension need to support named pipes as their communication mechanism.
the debug adapter is still launched from VS Code (so that stdin/stdout can be configured) but the extension gets a chance to 'calculate' everything that is needed for the launch (e.g. executable, args, and environment).

I have been trying to work out how to support

[2016-12-19 14:53] #17491 closed

[2016-12-19 14:58] weeblr commented on #207
Hi

Just adding my voice here to find a way to achieve this: now that hot exit is there, I finally got to switch to VSCode as my go-to editor for all random files on my various machines, only to discover that those files would vanish when vscode is exited/restarted.

All editors and IDEs I have used in recent years restore states, just because it is so common to keep working on something after a b

[2016-12-19 14:58] daviwil opened #17540 "Quick fix light bulb disappears before it can be clicked"
- VSCode Version: 1.8.0
- OS Version: Windows 10

Steps to Reproduce:

1. Open a file which triggers a quick fix light bulb
2. Hover the mouse over the light bulb
3. Before you click, the light bulb disappears and switches to a breakpoint icon

Filing this on behalf of @wsmelton who filed the issue originally here: https://github.com/PowerShell/vscode-powershell/issues/392

Sometimes the quick fix

[2016-12-19 15:06] Spareo opened #17541 "Files in "files.exclude" are still appearing"
- VSCode Version: 1.8.0
- OS Version: Windows 10

Steps to Reproduce:

1.  Set files.exclude to ignore .pyc files
[code]

2.  Run a python program to generate the pyc files and see if they appear in the file side bar.

I have tried setting the files.exclude setting in both user and workspace setting and the files still appear. It worked before the most recent update.

[2016-12-19 15:11] sqnkov opened #17542 "Huge number of decorations created by extensions leads to UI freezes"
- VSCode Version: 1.8.1 (November)
- OS Version: Windows 10 Home

Extension list:

auto-close-tag - Version :0.3.7
auto-rename-tag - Version :0.0.8
beautify - Version :0.6.2
Bookmarks - Version :0.10.1
code-settings-sync - Version :2.3.8
color-highlight - Version :1.3.0
githistory - Version :0.1.4
gitignore - Version :0.5.0
guides - Version :0.5.1
html-css-class-completion - Version :1.0.3
html-sn

[2016-12-19 15:17] probonopd commented on #10857
@Tyriar any chance you would provide an official AppImage?

[2016-12-19 15:22] CodeCloak commented on #17323
I can do that.

![vscoderequesteddata](https://cloud.githubusercontent.com/assets/10749782/21317858/8971c84e-c5cc-11e6-8f8f-49072dd15ce8.png)

I do actually HIT the breakpoints, but get no visual indication of such, don't see locals, can't evaluate, etc.

[2016-12-19 15:26] BobReid commented on #11908
Upstream PR was merged

[2016-12-19 15:27] sandy081 commented on #16996
Duplicates #17491

[2016-12-19 15:27] #16996 closed

[2016-12-19 15:28] bpasero commented on #17207
As discussed, I move the tabs boolean to `IPartService` and let all clients read it from there including eventing.

[2016-12-19 15:32] bpasero opened #17543 "Settings: default editor overflows available height and scrollbar"
Steps to Reproduce:

1. zoom in once (easier to reproduce then)
2. notice how the editor overflows to the bottom (consumes too much height)
3. notice how the group decorations go over the scrollbar making it hard to grab the scrollbar

[2016-12-19 15:32] mniewrzal commented on #17289
Another example of breaking LS protocol is completion result for `background-color` (CSS):
[code]
Field `insertText` is a structure, **not** just string.

[2016-12-19 15:36] JWess commented on #17430
Ohhh, thanks for the explanation! Would it be possible to make it configurable so that one option saves when focus leaves the editor and one option saves when focus leaves the file? Personally, I prefer when focus leaves the file.

[2016-12-19 15:37] bpasero commented on #17430
@JWess can you explain your use case better? where do you "leave the file" and expect it to save?

[2016-12-19 15:38] TheColorRed commented on #17403
Nothing outputs to the **output console**, or to the **developer tools console**.

I have tried on both Windows/Ubuntu. Is there a way to run without extensions? I could try that...

![isbuildcommand](https://cloud.githubusercontent.com/assets/1571806/21318331/63d5ff5e-c5ce-11e6-8eb4-469ae4216202.png)

[2016-12-19 15:43] isidorn commented on #17323
Ok what seems to be fishy here is that the adapter is returning the thread event with `Id === 3`. My suspicion what is going on
1. VSCode recieves a stopped event for `threadId === 1`
2. VSCode fetches threads from the adapter and weirdly only gets back the thread with `threadId === 3`
3. Null exception happens because a thread with `Id === 1` is stopped but it appears to be non existent

I can in

[2016-12-19 15:45] JWess commented on #17430
Well, if I have two tab groups open (split screen), and I switch focus from one tab group to the other. Or, like you said, if I go to the find widget. Basically I liked that the saving happened frequently, because it triggered my project to build the new changes (we run a "watch" task that watches for changes to the project files).

[2016-12-19 15:45] NiklasRosenstein commented on #3353
Nope. And its still super annoying. I'd give it a shot if I had an idea where to start, but no one seems to be interested in that either.

[2016-12-19 15:48] #10444 closed

[2016-12-19 15:49] bpasero commented on #10444
Pushed a change to persist and restore encodings configured for any opened editor. Once an editor is closed and opened again the encoding will be picked again from the files.encoding setting. The only exception are when using `UTF-8`, `UTF-16 LE` and `UTF-16 BE` with a BOM where we can auto-detect the encoding.

[2016-12-19 15:50] JWess commented on #17430
Also, I thought both options were already supported: onFocusChange, onWindowChange ??

https://code.visualstudio.com/docs/editor/codebasics#_save-auto-save

[2016-12-19 15:52] andrewdigitalchaosca commented on #13665
This is happening very frequently to me as well, working on a network drive as well, every other save I get an error

[2016-12-19 15:53] bpasero commented on #17430
@JWess to be clear it should work when you move focus from one editor to another as long as focus moves out of the editor.

Here is how it used to work in 1.8
* `onFocusChange`: saved when any other focusable thing gets focus even if this thing is within the editor (like the find widget)
* `onWindowChange`: saved when entire windows looses focus

Here is how it works in 1.9:
* `onFocusChange`: sav

[2016-12-19 15:54] egamma commented on #17528
This looks like a duplicate of #17208, that will be addressed in 1.8.1.

[2016-12-19 15:54] #17528 closed

[2016-12-19 15:56] egamma commented on #17529
This fixed in 1.8.0

[2016-12-19 15:56] #17529 closed

[2016-12-19 15:56] isidorn commented on #16866
Also try ctrl + Q

Closing as designed

[2016-12-19 15:58] egamma commented on #17531
This is as designed.

I turned this into a feature request.

[2016-12-19 15:59] JWess commented on #17430
I appreciate the explanation. I originally misunderstood and thought you were referring to the "Search Whole Solution" area (Ctrl + Shift + F), but you were referring to the (Ctrl + F) search, which I agree should not save the file. At any rate, I will continue to observe to see if I can figure out a pattern to mine not working... I just downloaded the latest (5 mins ago), and it still seems to no

[2016-12-19 15:59] egamma commented on #17533
This will be possible once we add more support to theme the workbench and you can also define the background color of the sidebar.

[2016-12-19 16:07] dbaeumer commented on #17282
The resolving sequence is as follows: first eslint.nodePath if set, then relative to the file that is validates up the parent directory chain and then globally.

[2016-12-19 16:12] chadbr opened #17544 "Find/replace case sensitive not working"
- VSCode Version: Version 1.8.0 (1.8.0)
38746938a4ab94f2f57d9e1309c51fd6fb37553d
2016-12-13T17:36:16.206Z

--> same problem in Version 1.9.0-insider (1.9.0-insider)

- OS Version: Mac OSX Sierra

Steps to Reproduce:

1. Search for text
2. Click the case button
3. Previously found text is not found anymore...

![anim14](https://cloud.githubusercontent.com/assets/3179452/21319716/fa2f2d72-c5d3-11e6-

[2016-12-19 16:12] gujiman commented on #17346
@roblourens just wondering why the issue was closed. I have sent the following screenshot which shows the bug:

<img src="https://cloud.githubusercontent.com/assets/9681295/21291425/f0be1814-c4d6-11e6-985e-0476613246f2.gif">

[2016-12-19 16:21] #17198 closed

[2016-12-19 16:21] isidorn commented on #17198
Removed it - let's see if people complaing about missing it.
I personally agree it does not belong in the debug console

[2016-12-19 16:30] isidorn commented on #17348
Currently there is `window.fullScreenZenMode`
We can add an additional setting `window.statusBarInZenMode`
Which is a bit ugly since we already have `workbench.statusBar.visible`, thus they have different prefixes.

I think optimally we would have the following settings
`workbench.zenMode.fullScreen` default true
`workbench.zenMode.statusBar`  default false

I think depricating the old full screen

[2016-12-19 16:30] sandy081 commented on #17146
@roblourens I am sorry, I did not get what you mean. Why not having separate strings for each variation and let the translation team does the rest. For eg:

- Replace `n` occurrences across `x` files with `replace_value`
- Replace `n` occurrences in `file_name` with `replace_value`
- Replace 1 occurrence in `file_name` with `replace_value`

[2016-12-19 16:32] thekalinga opened #17545 "Support for choices in snippets"
- VSCode Version:

Version 1.9.0-insider
Commit 32222e2eefc7a0afe9a1a0ecb4794119efd9bc81
Date 2016-12-16T07:18:07.856Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

- OS Version:

Ubuntu 14.04

Currently there is no way to specify a simple choices in the templates which makes developers life easy when expanding templates

For eg.,

For bootstrap buttons, there are almost 6 types. If we need to su

[2016-12-19 16:34] #15346 closed

[2016-12-19 16:34] thekalinga commented on #17538
I have faced this issue with default settings in my Ubuntu 14.04 aswell

[2016-12-19 16:36] sandy081 commented on #16189
Fixed upstream by changes in `PreferencesService.ts`

[2016-12-19 16:37] #16189 closed

[2016-12-19 16:38] sandy081 commented on #15345
Fixed by adopting to resource content provider

[2016-12-19 16:38] #15345 closed

[2016-12-19 16:40] eliprand opened #17546 "workbench.editor.showTabs does not show tabs anymore"
- VSCode Version: 1.8.0
- OS Version: Mac OS Sierra (10.12.1)

Steps to Reproduce:

1. open VS Code
2. open a project
3. open a new window (&#x21E7; &#x2318; + N)

You can see that the window opens as a new window, not as a new tab in the workbench.
Changing the `workbench.editor.showTabs` seems to have no effect whatsoever.

[2016-12-19 17:08] egamma commented on #17545
@jrieken FYI

[2016-12-19 17:12] egamma commented on #17542
@sqnkov can you pls check whether your scenario is somehow related to #17208?

This issue will be fixed in 1.8.1 that goes out later today.

[2016-12-19 17:15] lemontree2000 opened #17547 "在安装新插件重启后之前打开的文件又要重新打开了"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-new-file|dkundel|2.1.0|
|debugger-for-chrome|msjsdiag|2.3.2|
|view-in-browser|qinjia|0.0.3|
|vscode-icons|robertohuertasm|4.1.0|

---

Steps to Reproduce:

1.在安装新插件重启后之前打开的文件又要重新打开了
2.

[2016-12-19 17:16] #17442 closed

[2016-12-19 17:16] mwolfhoffman commented on #7829
Hey,  Looks like I just solved this problem with a little experimentation. I'm using VS Code and could resolve all of my merge conflicts, except one file wouldn't open and just said "Can't Open This Git Resource". This was a new file I was merging into master from another branch, so it wasn't that it was a conflict but it just didn't exist on the other branch. I went ahead and staged the change th

[2016-12-19 17:19] egamma commented on #17541
This works fine for me, notice that the `*.pyc' only matches pyc files in the top level workbench folder. If you want to exclude them in all folders then use `**/*.pyc'. Can you please try with this setting.

[2016-12-19 17:21] egamma commented on #17547
@rebornix translation support pls

[2016-12-19 17:27] victornoel commented on #17282
@dbaeumer I meant what is the global path where it is looked up? Is it in all the paths present in NODE_PATH variable?

[2016-12-19 17:37] lypscan opened #17548 "Hot-Exit: works only if there is one instance (window) of VS Code open"
- VSCode Version: 1.9.0-insider (also reproducible in 1.8.0)
- OS Version: Windows 10

Steps to Reproduce:

1. Open VS Code anywhere, create new file, write something but don't save
2. Open another VS Code window ( Ctrl+Shift+N ), create new file, write something but don't save
3. Close either window

The expected behavior would be for the hot-exit feature to kick in and not to display the file-sa

[2016-12-19 17:38] metame commented on #16886
1.8 seemed to have fixed it

[2016-12-19 17:41] rebornix commented on #17346
@gujiman no worries. it' a valid issue about Find all reference.

[2016-12-19 17:46] WebFreak001 opened #17549 "Show original english command names next to translated ones for extension (vscode-nls) command names"
Right now it doesn't seem to be possible to show the grayed out english command names next to the translated ones for extensions. I want to achieve the same effect as the built-in commands like in this picture:

![https://i.webfreak.org/fcTnES.png](https://i.webfreak.org/fcTnES.png)
(Top command is how it currently looks, bottom command is the kind of style I want to achieve)

I checked the markdo

[2016-12-19 18:10] Spareo commented on #17541
Oops, my fault. Works fine. Closing the issues.

[2016-12-19 18:10] #17541 closed

[2016-12-19 18:18] claytoncarney commented on #17508
@kieferrm Thanks. Changing those settings restored previous behavior. Just did not see any mention of this change in the release notes. Up to this, I had never made any changes to settings.

[2016-12-19 18:20] xwvvvvwx commented on #14567
#17517

[2016-12-19 18:25] waderyan commented on #17519
@kooboo-chenhai thank you for opening this. Can you share your workspace so we can recreate this on our end?

[2016-12-19 18:29] martynchamberlin commented on #3119
The  only bummer here is that if you go full screen, which I do often with a split pane view in macOS (VSCode on the left, Chrome browser on the right), then you can't see the title bar of the application.

[2016-12-19 18:29] waderyan commented on #17393
FYI I have this prioritized on my end.

[2016-12-19 18:33] waderyan commented on #17335
Hmm... @mhegazy can you peak at this?

[2016-12-19 18:37] dawsonbotsford commented on #14934
@chrmarti I swapped to the Insiders build and I haven't seen this issue anymore. Will let yall know if it arises again. I also got a reset color scheme each time I opened vscode, so clearly something was wonky with persistence.

[2016-12-19 18:41] chrisdias commented on #16616
LGTM

[2016-12-19 18:45] waderyan commented on #17090
Thank you for sharing the snippet. Unfortunately I cannot reproduce.

Can you add this setting to your settings file?

[code]

Then open Output -> TypeScript and copy and paste what you see.

[2016-12-19 19:02] chrisdias commented on #17379
I suspect the answer lies somewhere in here... http://www.dasblinkenlichten.com/docker-networking-101-host-mode/

[2016-12-19 19:12] bpasero commented on #17430
Ok great, that means we can settle on the fact that what you see is an actual bug and might well be a regression from my changes.

When this bug happens, does it help to move focus into the editor and out to another editor in the same window?

[2016-12-19 19:15] bpasero commented on #17348
Yes, +1 for aligning the settings. Another idea I had was to somehow allow an extension to control the Zen mode or come up with a more configurable Zen mode. We will soon add support to hide tabs when entering Zen mode and thus we have quite a bit of things going on:
* fullscreen: yes/no
* status bar: visible/hidden
* activity bar: visible/hidden
* panel: visible/hidden
* side bar: visible/hidden

[2016-12-19 19:16] bpasero commented on #17538
Btw I am using VS Code with a zoom level of 1, not sure if that is related.

[2016-12-19 19:16] bpasero commented on #17546
#15478

[2016-12-19 19:16] #17546 closed

[2016-12-19 19:18] bpasero commented on #3119
@martynchamberlin I think that is the point of going fullscreen in the first place. What is useful is to disable tabs and just benefit from the fact that the space you get from disabling tabs is used to show the path of the file:

![image](https://cloud.githubusercontent.com/assets/900690/21325804/5417ece4-c628-11e6-84bd-d3027878eb5d.png)

(though arguably this does not have a setting to show the

[2016-12-19 19:19] bpasero commented on #17392
...and #16616 is fixed 💥

[2016-12-19 19:21] martynchamberlin commented on #3119
Oh cool, didn't know about this. Thanks! Trying it now.

[2016-12-19 19:23] Mosho1 commented on #17500
I closed all the open files and opened just one and it's working. If I encounter this again I'll reopen. Thanks for the quick response!

[2016-12-19 19:23] #17500 closed

[2016-12-19 19:24] bpasero commented on #17548
This works "as-designed" and was an explicit decision. The rationale is that you cannot close a window unless the application quits in the same way you cannot close a dirty editor when you click the close button. In other words, we prevent you from "hiding" dirty things by explicitly asking to save or discard so that upon next restart there is not things being restored that have been closed before

[2016-12-19 19:28] bpasero commented on #17531
@rohmanhm maybe you wanna give this a try?

![image](https://cloud.githubusercontent.com/assets/900690/21326129/a242f00c-c629-11e6-8df2-8d5f60db7af1.png)

[2016-12-19 19:28] bpasero commented on #17523
https://github.com/Microsoft/vscode/issues/17232

[2016-12-19 19:28] #17523 closed

[2016-12-19 19:28] bpasero commented on #17506
@zhaomiing can you attach a screenshot of what you mean?

[2016-12-19 19:31] bpasero commented on #17499
Seems to work fine for me:

![dec-19-2016 20-31-07](https://cloud.githubusercontent.com/assets/900690/21326269/26dc5f9c-c62a-11e6-8fa3-4f7f1fc2d686.gif)

[2016-12-19 19:41] cesarvarela commented on #17499
I think it depends on the context,

This is a .ts file, I trigger the panel with `ctrl+cmd+space`, and now it works but does some random shit:

![dec-19-2016 16-39-28](https://cloud.githubusercontent.com/assets/1172479/21326510/c6799c84-c609-11e6-81ad-2b4bf1201cd0.gif)

[2016-12-19 19:50] garfieldbanks commented on #17371
@sandy081
I don't see any way the new UI could be changed or even that it needs to be changed to be on par with the old one. I actually think it's good.
But a button or command to view the raw file would definitely be nice.

[2016-12-19 19:53] NCC1701M opened #17550 "Inconsistent keyboard shortcuts between Windows and Linux"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T18:03:00.506Z)
- OS Version: Linux x64 4.4.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-markdownlint|DavidAnson|0.6.0|
|xml|DotJoshJohnson|1.6.0|
|code-settings-sync|Shan|2.3.8|
|html-snippets|abusaidm|0.0.18|
|Bookmarks|alefragnani|0.10.1|
|vscode-svgviewer|cssho|1.3.0|
|tslint|eg2|0

[2016-12-19 19:54] christianmenz opened #17551 "formatting of HTML code when using style attribute"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|

---

Steps to Reproduce:

1. write some simple HTML code like
&lt;div&gt;
    &lt;div style="color:red"&gt;
    &lt;/div&gt;
&lt;/div&gt;

2. format the code -> the HTML formatting is different when you d

[2016-12-19 20:03] Jonatino opened #17552 "Switch to Unsaved Tab When Prompting to Save"
- VSCode Version: 1.9.0-insiders
- OS Version: Windows 10 x64 Pro

Steps to Reproduce:

1. Open any file in VSCode (We will call this tab A)
2. Create new untitled tab and make changes but do not save (We will call this tab B)
3. Switch back to tab A
4. Right click tab A select close others

I think the 'Do you want to save the changes you made to Untitled-1?' should switch to the appropriate tab

[2016-12-19 20:05] mfrost66 opened #17553 "Join lines should be comment block aware"
Join lines should be comment aware, and remove leading comment text from joined line.
For me specifically, this is very useful as applied to javascript jsdoc style comments, as they have a leading '*'.  I suspect this applies equally to other lanagues with similar doc comments (c#, java, etc)

### Comment

[code]
Joined
[code]

### Comment block

[code]
Join arg1 lines
[code]

[2016-12-19 20:09] jldork commented on #10802
Did this extension get created? How would I be able to track progress on extensions like this?

[2016-12-19 20:13] acdha opened #17554 "scss linter does not support mixin keyword arguments"
- VSCode Version: 1.8.0
- OS Version: macOS 10.12.2

The built-in SCSS linter will report an error (“) expected”) for SCSS files which use mixins with a keyword argument map:

[code]

Tools like stylelint, Compass, etc. accept this syntax which appears to be legal as described in http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variable_arguments

[2016-12-19 20:15] Jonatino commented on #207
@weeblr agreed. This should be a feature of any modern text editor. Hopefully they get the chance to add it soon 😄

[2016-12-19 20:17] drew-wallace commented on #10802
@jldork I am almost done with a beta. I made a feature request (#11418 and was pointed to #10801) that would allow me to finish it. Here is the link to my repo: https://github.com/drew-wallace/vscode-motepair. If anyone wants to help me, it would be greatly appreciated.

[2016-12-19 20:26] BagelTheKid commented on #17293
I'm experiencing a similar issue. I'm using a Dell 7510. I dock my laptop for my work day, I have two connected to my docking station.

Steps to Reproduce:

  1. Dock laptop
  2. Enable Zen mode, the monitor that VS Code is in goes straight black.
  3. Exiting Zen mode stops the monitor from going straight black.

I have tried to reproduce this with setting `"window.fullScreenZenMode": false`, and

[2016-12-19 20:29] indiejames opened #17555 "Allow access to terminal/process created by debug session launched into internal terminal."
- VSCode Version: 1.8.0
- OS Version: All

I have run into an issue where when I close a debug session launched in the integrated terminal my code to stop the running process hangs (not a VS Code bug per se). I could ensure that the process gets killed completely if I had access to the process id created during the launch or if I had access to the Terminal created. Providing access to the Terminal

[2016-12-19 20:30] coreh commented on #17340
It doesn't show anything, but I don't have any custom key bindings set on `keybindings.json`

<img width="600" alt="screen shot 2016-12-19 at 18 29 04" src="https://cloud.githubusercontent.com/assets/418473/21328031/0ac8e9c6-c619-11e6-8551-fb383db28766.png">

[2016-12-19 20:31] lypscan commented on #17548
I see what you mean, but for me, the hot-exit feature is almost useless, because, since VS Code doesn't allow opening two or more project folders in the same window, I am kind of forced to work with multiple windows open at the same time. This is why I felt the need to report this, I though perhaps I wasn't alone :)

[2016-12-19 20:31] acdha opened #17556 "Allow to dock the panel to the right hand side vertically"
- VSCode Version: 1.8.0
- OS Version: macOS 10.12.2

My monitor is almost twice as wide as it is tall. It'd be really nice to have the option to display the list on the side of the display similar to the way the panels work since the right half of my display is often almost entirely empty.

[2016-12-19 20:34] basvdlinden opened #17557 "F# interactive shows random characters when editing a line"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Ionide-fsharp|Ionide|2.13.2|
|csharp|ms-vscode|1.5.3|

---

Steps to Reproduce:

1. Type a few characters
2. Press backspace a few times

or

1. Type a few characters
2. Use mouse to select a character in

[2016-12-19 20:38] acdha commented on #17433
I ran into the same issue with a Django template. Normally it's fine since I'm passing in string values but I have a few cases where I'm passing in numbers or JSON (e.g. `<script>var foo = {{ pile-o-data|json }};</script>`) and it'd be nice if there was a clean way to allow that.

[2016-12-19 20:39] JWess commented on #17430
Switching between files in the same tab group doesn't help, nor switching between tab groups.

[2016-12-19 20:42] mjbvz commented on #17499
The text corruption looks like a duplicate of #16562

The panel showing in the wrong location is being tracked by #13093

[2016-12-19 20:43] mlakmal commented on #17187
@joaomoreno this used to work until last week. where our company updated the proxy certificate with self signed cert. after that this is not working,

[2016-12-19 20:45] mjbvz commented on #17486
I believe this is a duplicate of #989

[2016-12-19 20:45] #17486 closed

[2016-12-19 20:46] eliprand commented on #15478
One thing I would like to clarify here is that this is classified as a *feature request*. As mentioned by @bkniffler and subsequent entries, this *was* working with `1.7.x` and stopped working with `1.8.0`. We may want to reclassify it.

[2016-12-19 20:52] cesarvarela commented on #17499
Oh yes this is definitively a duplicate of #16562

[2016-12-19 20:52] #17499 closed

[2016-12-19 21:02] sqnkov commented on #17542
@egamma , sorry to inform, but my problem is not scroll related. Hitting tab(emmet expand and autocompletion no matter the language), typing fast etc. When I switch to a solo pane everything gets faster.

[2016-12-19 21:09] #17435 closed

[2016-12-19 21:36] #17488 closed

[2016-12-19 21:39] mjbvz commented on #17539
This issue was moved to Microsoft/TypeScript#13032

[2016-12-19 21:39] #17539 closed

[2016-12-19 21:40] mjbvz commented on #17539
I've moved this to the TypeScript repo as it appears to be a problem on their side. Until this is fixed, you can workaround this by explicitly calling out that `arg` is optional:

[code]

[2016-12-19 21:42] mfrost66 opened #17560 "Enable "find in selection" by default when replace executed against a multi-line selection"
When doing a replace (in current file) and there is a selection that spans lines, the "find in selection" ought to be enabled by default.

1.  I believe this is standard behavior in most other programmer's editors (visual studio, intellij, textpad++)
2.  Ignoring the current context (multiple line selection) when doing a search makes no sense - why else would the use have made the selection then p

[2016-12-19 21:42] NyanTyrrell opened #17561 "Doesn't work ctrl+/"
- VSCode Version: 1.8.1
- OS Version: Ubuntu 16.04

Settings:
{ "key": "ctrl+/", "command": "editor.action.commentLine", "when": "editorTextFocus" }

Doesn't work ctrl+/. I've reinstalled code, but it doesn't help.

[2016-12-19 21:44] mfrost66 opened #17562 "Default focus to "find" input on execute of replace"
Executing a replace (in file) should set default focus to "find" input field when multiple lines are selected as the find value is not set from the selection and has the value set to the previous find/replace

[2016-12-19 21:46] mjbvz commented on #17427
I do not think we expose any option to control this formatting option currently. Formatting always seems to insert a space.

Is this a formatting option that you would find useful? If so, would you also expect this option to apply to other block statements and before function bodies?

[2016-12-19 21:47] drew-wallace commented on #10801
@jrieken Any update on this issue for my use case?

[2016-12-19 21:49] mjbvz commented on #16819
I believe this was resolved by #16861 and 499a648.

We also followed up with the TS team. Most of the errors are by design and are breaking changes in TS 2.1

[2016-12-19 21:49] #16819 closed

[2016-12-19 21:55] CoenraadS commented on #17561
Same here with default settings:

[code]

[2016-12-19 21:57] mjbvz commented on #17339
@waderyan No, I think this is a different issue. You see the same using classes:

[code]

[code]

From debugging, this looks like a TS issue. I'll move this issue over to them for tracking.

[2016-12-19 21:58] frostius opened #17563 "Entering text in find widget should not clear the selection"
- VSCode Version:1.8.1
- OS Version:Win 10

Steps to Reproduce:

1. Select two or more lines of text
2. Edit|Replace
3. Type search value into "find" input box
4. Weep as your selection is cleared
5. Explain to boss why you miss deadline because editor hates you

[2016-12-19 21:59] mjbvz commented on #17339
This issue was moved to Microsoft/TypeScript#13033

[2016-12-19 21:59] #17339 closed

[2016-12-19 22:01] mrapczynski opened #17564 "Implement copy and paste of whole files across workspaces"
Platform: `OSX 10.11.6`
Version of Code: `1.8.1`

Often when I bootstrap new projects, I like to grab existing files like `.eslintrc` and `.gitignore` from other projects. I've noticed that I cannot right-click a file in one workspace, and paste it into a different directory tree in another workspace.

It would be great to have a cut, copy, and pasting of files across the clipboard in a future upd

[2016-12-19 22:15] QwertyZW opened #17565 "Lingering VS code processes when restarting to update"
- VSCode Version: 1.8.0
- OS Version: Windows 10 Pro, Version 1607, OS Build: 14393.576

Encountered this when updating to version 1.8.1

Lingering VS code processes in the background block it from updating itself

![toomany3](https://cloud.githubusercontent.com/assets/8478946/21331041/89c2b2b2-c60e-11e6-9cb7-27181f0cbe85.PNG)
![toomany2](https://cloud.githubusercontent.com/assets/8478946/21331042

[2016-12-19 22:22] GuardRex opened #17566 "Adding a property to tasks.json (without warning)"
- VSCode Version: 1.8.1
- OS Version: Win10

Steps to Reproduce:

1. Add a custom property to `tasks.json`.

Expected:

Allows custom properties to be set in the file. Custom properties are just ignored by VSC when it consumes/configures the tasks.

Actual:

Complains that the property isn't allowed.

![capture](https://cloud.githubusercontent.com/assets/1622880/21331171/be075530-c606-11e6-84b0-99

[2016-12-19 22:35] mjbvz commented on #17480
I believe this is by design. Let me explain.

When no `tsconfig.json` exists, we create a inferred TypeScript project. This inferred project sets a few default TypeScript compiler configurations, including `"allowSyntheticDefaultImports": true` and `"module": "CommonJS"`. `allowSyntheticDefaultImports` is what suppresses the `no default export` error in this case. These defaults were selected in o

[2016-12-19 22:40] mjbvz commented on #17229
This issue was moved to Microsoft/TypeScript#13036

[2016-12-19 22:40] #17229 closed

[2016-12-19 22:41] chipaubry commented on #17205
@mjbvz Unfortunately I can't share the workspace. It appears to have been an issue with OSX because after a reboot I am no longer seeing the behavior. I didn't make any changes to the workspace.

[2016-12-19 22:50] #17537 closed

[2016-12-19 22:57] hgotur commented on #17097
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.8.1|
|csharp|ms-vscode|1.3.0|

These are the extensions. There were no errors in the dev console. My configuration is also a VM with one CPU.

[2016-12-19 22:59] JLeybovich commented on #4675
Any chance this can be put back on the plate? Lot's of devs use C# with VSCode and this would make our lives easier. Ideally maybe a visual editor to customize code styles for different languages as well? But if not just addressing these discrepancies mentioned above would be enough, there are a lot and in the current state themes for C# are close to useless.

[2016-12-19 23:01] cesarvarela commented on #17427
YES PLEASE!

it should be something like `insertSpaceBetweenClosingParenthesisAndOpeningBraces`

`while(something) {`, `function() {`, `if(something) {`, etc.

[2016-12-19 23:03] JWess commented on #17430
Update (with 'onFocusChange' active):

If I make a change to 'File A' located in 'Tab Group X', then click on 'File B' in 'Tab Group Y', 'File A' remains unsaved. But, when I click back on any file in 'Tab Group X', 'File A' is immediately saved.

[2016-12-19 23:10] guilhermewaess commented on #17519
Same here! very simple to reproduce, just use a .vue component with es6 syntax like this:

`import { mapGetters } from 'vuex';`

![image](https://cloud.githubusercontent.com/assets/5339165/21332438/8032853a-c62f-11e6-9f80-e612a57ef88f.png)

[2016-12-19 23:27] rohmanhm commented on #17531
@bpasero I tried, and not working like I expected. I'm using keyboard not mouse

[2016-12-19 23:28] Tyriar commented on #10857
We'll be getting signed apt/yum repos soon, polishing that experience is the priority on this front for now.

[2016-12-19 23:30] Tyriar commented on #17548
#15467 is exploring our options for this, one of my goals for January is to have a solid way forward on less strict hot exit/customization so expect movement on this in 1.10.

[2016-12-19 23:30] #17548 closed

[2016-12-19 23:31] Tyriar commented on #17524
Are there any errors in the console? (Help > Toggle Developer Tools)

[2016-12-19 23:31] wprater commented on #16206
@alexandrudima Ive found another sublime material theme, but Im afraid it's in the new `sublime-theme` format. Is there a converter for this theme format as well?

[2016-12-19 23:34] Tyriar commented on #13738
@weeblr hot exit stores everything inside `<userDataDir>/Backups` which already needed write permissions.

[2016-12-19 23:37] cvax opened #17567 "Markdown Preview text color not controlled by styles.css"
VS Code: 1.8.1

Why is it that the color for non-blocked text in the Markdown Preview can't be controlled by the styles.css?

This doesn't work.
[code]
The only way I can get the color to change is through changing my VS Code color theme from dark to light. Either VS Code's color theme or UI theme is preventing the Markdown Previewer from controlling that font color via styles.css.

[2016-12-19 23:37] zakdances commented on #2092
I'm still getting this error. The autocomplete just fills in an argument's type, not a correct signature.

[2016-12-19 23:38] mjbvz commented on #17427
Tracking this on the TypeScript side with https://github.com/Microsoft/TypeScript/issues/13038

Thanks

[2016-12-19 23:38] #17427 closed

[2016-12-19 23:44] rohmanhm commented on #17531
@egamma yeah I know, but this bothers me. When I need to change my font size editor, I must go to `user settings` and manually input `"editor.fontSize": 15`

[2016-12-19 23:45] mjbvz commented on #17567
You need to use a more specific css rule. The default text colors come from:

[code]

This allows customizing the style based on the current theme.

To use a custom color, you can either override one of these rules directly, or use a more specific rule that takes precedence over these rules. To inspect the dom and styling of the markdown preview, add the following keybinding

	{"key": "cmd+alt+i",

[2016-12-19 23:45] #17567 closed

[2016-12-19 23:48] mjbvz commented on #2092
@zakdances Are you on 1.9 insiders? This fix is not in VSCode 1.8.

[2016-12-20 00:05] jldork commented on #10802
@drew-wallace shot you an email (pulled from your git log)

[2016-12-20 00:21] zakdances commented on #2092
@mjbvz I'm using 1.8.1 so I guess you can disregard my message. Thanks for the heads up!

[2016-12-20 00:23] chanep commented on #17539
Thanks, Yes, I thought on optional argument but I'm using nodeJs 4.5 which doesn't have that ES6 feature

[2016-12-20 00:30] pechovic opened #17568 "Open In Code - context menu button in Explorer panel"
It would be very handy to have something like "Open In Code" button in the context menu in the Explorer panel in the VS Code to open selected folder in new instance of VS Code Editor.

_Case:_ When I have VS Code open for a folder that contains many subfolders each of which has another git repository set up and way too many files. I need sometimes open a subfolder quickly in another instance of VS

[2016-12-20 00:38] #16542 closed

[2016-12-20 00:43] mjbvz opened #17569 "editor.action.quickFix Only Triggering on First Token of Fix Range"
Using `editor.action.quickFix`, it seems that I can only trigger the quick fix for the first token of the range. Here's an example from TypeScript:

[code]

<img width="361" alt="screen shot 2016-12-19 at 4 40 28 pm" src="https://cloud.githubusercontent.com/assets/12821956/21334144/e2e745f6-c609-11e6-8a1e-a98143db54a3.png">

The quick fix error highlights the entire constructor of `SubClass`, but

[2016-12-20 00:43] mrukas commented on #5728
@katopz The solution you provided in your blog, seems to work the best for me. I really wanted to use the `node2` debugger, but the old `node` debugger works better. `node2` does work, but the problem is that it doesn't show me the values of variables if i hover them. It's also nice that you mention to enable the  `retainLines` option, because it doesn't work if you leave the option disabled. What

[2016-12-20 00:51] emveeoh opened #17570 "[Feature Request] SHIFT + SCROLLBAR scrolls all open windows simultaneously in sync with each other"
Please add the ability to scroll all open code editor windows simultaneously when the user holds the SHIFT KEY and then scrolls the page using the mouse, the mouse scroll wheel, arrow keys or page-up/page-down keys.

Holding SHIFT should synchronize all window scrolling regardless of which code pane scrollbar is selected.

Thank you!

[2016-12-20 00:59] yinay commented on #17360
Oh , the http.proxy is not empty 。I just keep it empty in this.
the same settings can be work ,on version 1.7.
did some one know the http agent changed on v 1.8?

[2016-12-20 01:09] ZCShou opened #17572 "Hot exit causes VSCode reopened"
- VSCode Version: Code - Insiders 1.9.0-insider (95fa5500ee397c21be13581b9a987f0b644c0be5, 2016-12-19T07:11:43.094Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|githistory|donjayamanne|0.1.4|
|output-colorizer|IBM|0.0.8|
|cpptools|ms-vscode|0.9.3|
|vscode-icons|robertohuertasm|4.2.0|

---
Steps to Reproduce:

1.  change an file and don't save,

[2016-12-20 01:14] mjbvz commented on #17331
@ggregoire I'm unable to repo the extra completions showing when trying to complete `import foo from './|'`. If you do not have a `package.json`, the completing on an empty require path will fallback to those word based suggestions.

A few other questions:

* Does the workspace have a `package.json` file?
* Does the workspace have a `jsconfig.json` file?
* If possible, can you please share a simpl

[2016-12-20 01:18] mjbvz commented on #17205
@chipaubry Ok. Closing since the issue seem to have been resolved.

Please let us know if you see this issue again so that we can investigate.

Thanks

[2016-12-20 01:18] #17205 closed

[2016-12-20 01:20] electrotype opened #17573 "Intellisense with TypeScript : too many unrelated suggestions."
- VSCode Version: 1.8.1
- OS Version: Windows 7

Steps to Reproduce:

1. From a first module, export an instance of a TypeScript class which contains getters and methods.
2. Import this instance in another module.
3. Also import 4-5 other unrelated modules.
4. Use a dot to trigger intellisense on the instance from the first module.

Result : too many unrelated suggestions are displayed.

Intellise

[2016-12-20 01:28] roblourens commented on #17146
Just pointing out that other languages don't follow the same pluralization rules as English. But it's already wrong in those languages and we may as well make it better for English :)

[2016-12-20 01:41] kangmingxuan commented on #17269
![incorrect_chinese_translation evaluate](https://cloud.githubusercontent.com/assets/5853053/21335186/edc38348-c697-11e6-9037-14722befac94.jpg)
![incorrect_chinese_translation closure](https://cloud.githubusercontent.com/assets/5853053/21335187/eeff4a9e-c697-11e6-803f-d3c374c78265.jpg)

The incorrect Chinese translation is shown above.

[2016-12-20 01:47] akcorp2003 opened #17574 "Extensions Query behind proxy is broken"
- VSCode Version: 1.8.1
- OS Version: OSX El Capitan 10.11.6
- Chrome:  55.0.2883.95

After the update to 1.8.1, the extensions side bar cannot search for extensions in the gallery when using VS Code behind a proxy. Updating existing extensions is still functional.

The error message is ERR_TUNNEL_CONNECTION_FAILED

The debug log:

    workbench.main.js:94An unknown error occurred. Please consult

[2016-12-20 01:49] roblourens commented on #17081
I think this is not 'live edit', just reloading the page when a file is changed. You can use browser-sync or any other similar tool which is what I would recommend. It could also be covered by an extension, live atom-live-server.

[2016-12-20 01:52] kangmingxuan commented on #17269
​

2016-12-16 17:27 GMT+08:00 John Liu (Moravia IT AS (USD)) <
notifications@github.com>:

--
%Kang M.X.
%National Key Laboratory of Cognitive Neuroscience and Learning
%Beijing Normal University, Beijing, China, 100875
%------------------------------------------------
% 美丽有两种,
% 一是深刻而又动人的方程，
% 一是你泛着倦意淡淡的笑容。
%------------------------------------------------

[2016-12-20 01:52] roblourens commented on #17478
Yeah this is #17424

[2016-12-20 01:52] #17478 closed

[2016-12-20 02:10] zhaomiing commented on #17506
@bpasero thanks for your reply. of course
this is what scrollbar looks like in preview mode
![image](https://cloud.githubusercontent.com/assets/6185738/21335683/7600059e-c69b-11e6-8ba7-f1a808a73680.png)
and this in edit mode
![image](https://cloud.githubusercontent.com/assets/6185738/21335674/659bf97e-c69b-11e6-92b9-5b1e81e944f6.png)
as you can see the white border was distracting.

[2016-12-20 02:10] ModernWebService commented on #17081
Yes Rob, I was trying to refer to atom live server. It literally serves
your html is php etc in a local a server and then reloads/refreshes anytime
you save a change. Cuts down time of having to click refresh or keyboard
commands. And like I said before while you can use gulp to load a live
server script it isn't always as fast. I've used express server from the
marketplace with vs code and enjoy

[2016-12-20 02:14] roblourens commented on #17081
It sounds like atom-live-server just gives you a keyboard shortcut for live-server https://www.npmjs.com/package/live-server which you can use on its own with vscode too.

[2016-12-20 02:17] xhonker opened #17575 "About smart tips and completion"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14986
- Extensions:

|Extension|Author|Version|
|---|---|---|
|theme-onedark|azemoh|0.4.1|
|npm-intellisense|christian-kohler|1.1.0|
|path-intellisense|christian-kohler|1.2.0|
|vscode-eslint|dbaeumer|1.2.2|
|jquerysnippets|donjayamanne|0.0.1|
|vscode-babel-coloring|d

[2016-12-20 02:22] ModernWebService commented on #17081
I will try this once I'm back in front of the computer. My intentions of
this post was to raise the idea of integrating it into the editor as a
suggestion to further the project and add to the user experience. I will
definitely take a look at that combination though and see how it works in
my development

On Dec 19, 2016 21:14, "Rob Lourens" <notifications@github.com> wrote:

It sounds like atom-l

[2016-12-20 02:32] liaoya commented on #17524
Today I update to 1.8.1 and the same issue.

I find the following error in the console:
Failed to load resource: net::ERR_ADDRESS_UNREACHABLE
POST https://marketplace.visualstudio.com/_apis/public/gallery/extensionquery net::ERR_CONNECTION_TIMED_OUT
An unknown error occurred. Please consult the log for more details.

My desktop is behind the firewall and I set http.proxy in settings.json. The VSCo

[2016-12-20 02:40] atombender opened #17577 "Find/replace: Keyboard shortcuts for "whole word" and "case" toggles only work in the search field"
Cmd-Alt-W (toggle whole word) and Cmd-Alt-C (toggle case sensitivity) only work in the editor and when the "Find" field has focus. They do not work in the "Replace" input, for example.

Which is annoying when you've typed what to find, have already tabbed to the "Replace" input, realize that the "whole word" toggle is on, and then try to toggle it back with Cmd-Alt-W, which doesn't work.

The keyb

[2016-12-20 02:48] leighkendell opened #17578 "[scss] don't offer html tags inside rule sets."
- VSCode Version: 1.8.1
- OS Version: macOS 10.12.2

Steps to Reproduce:

1. Edit a SCSS file
2. Observe quick suggestions when typing a CSS property

When typing a property in a SCSS file the suggestions shown also include HTML elements like "h1, h2, p" etc. This is not the same behaviour as when editing CSS or LESS files.

**CSS File**
![image](https://cloud.githubusercontent.com/assets/765486/2

[2016-12-20 02:54] roblourens commented on #17346
Sorry for closing it, I misread

[2016-12-20 02:59] rebornix commented on #17513
The cursor component only listens to the configuration change but when we switch tabs/windows, it doesn't get the change. This issue has been there for quite a while (at least from 1.5).

[2016-12-20 03:13] rebornix commented on #17476
@jacobmcgowan Speaking of `mouse pad`, are you referring to touch pad on your PC?

[2016-12-20 03:25] rebornix commented on #17547
@lemontree2000 你是说，安装插件重启 vscode 后，需要重新打开之前正在编辑的文件吗？

[2016-12-20 03:33] Meeeeow opened #17579 "Terminal first line is broken after scale"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Version 1607

Steps to Reproduce:

1.  A Hi-DPI screen with 125% scale
2.  Press Ctrl + "+" to zoom VSCode
3.  Open terminal

![snipaste20161220_113022](https://cloud.githubusercontent.com/assets/19658647/21337469/6db2b6f4-c6a8-11e6-876b-6986f6cf3ed8.png)

[2016-12-20 04:00] rebornix commented on #17490
Right now the function @xconverge mentioned is bind to command `deleteLeft`. When you press backspace in vanilla Code, Code will actually execute command `deleteLeft`. That's why `TextEditorEdit.delete` doesn't share the same logic.

[2016-12-20 04:07] #17429 closed

[2016-12-20 04:12] Meeeeow opened #17580 "Built in webview incompatible with zoom"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Version 1607

Steps to Reproduce:

1. May require a Hi-DPI screen with 125% scale?
2. Press Ctrl + "+" zoom Code
3. Open release note or markdown preview

![snipaste20161220_120835](https://cloud.githubusercontent.com/assets/19658647/21338049/833593ac-c6ad-11e6-9ab0-1d176833639f.png)

[2016-12-20 04:17] Meeeeow opened #17581 "Allow use origin name(English) to match in "view" picker command"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Version 1607

Steps to Reproduce:

1. Switch language to Chinese
2. Press Ctrl + P open command panel
2. Type "view " with things you want to open.

But, if i type "term" it will show nothing match, i think type "term" is more easy and quick than switch input method then type "zhongduan" and choose which text is correct.

[2016-12-20 04:24] GuardRex commented on #17566
Catching on ... looks like it's in an interface `BaseTaskConfiguration` according to http://code.visualstudio.com/docs/editor/tasks_appendix. Can you provide guidance on how I can put something into the extension that would add a property (`showInStatusBar`) to the interface?

[2016-12-20 04:25] jacobmcgowan commented on #17476
Yes.

[2016-12-20 04:30] giangcoi48k commented on #9388
I've just updated to the latest version 1.8.1 this morning, and it seems that micorosoft are not determined this additional option. I am really disappointed, I really hate the preview feature horribly. I have to consider switching to another ide

[2016-12-20 04:34] soljohnston777 opened #17582 "Could you create an undo close tab?"
Just like in web browsers for that current session.  Could you create an undo close tab to reopen the file you just closed?

[2016-12-20 04:45] Levikov opened #17583 "Unable to use ASUS smart gesture to scroll in VS Code."
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.9.3|

---

Steps to Reproduce:

1. Asus N550JV + Windows 10 Pro build 14393.576 + VS Code 1.80 + 150% Screen Zoom
2.Move two fingers on the touchpad in code editing window. NO respons

[2016-12-20 05:13] illz commented on #1772
I'd also love this

[2016-12-20 05:32] anisylen commented on #7426
I have this same issue and it seems to be an **electron** issue since I had the same issue with Atom until they fixed it in a release. Now it seems to be cropping up on VSCode too. Maybe the VSCode team should look at what Atom did to fix it. Might be a Squirrel framework problem

[2016-12-20 05:49] unional opened #17584 "Making dot-completion and object spread operator work together"
- VSCode Version: 1.8.1

[code]

When you actually type the above code, the first `.` you type will trigger completion, showing `c`. If you press the second `.`, it will become `.c.` and should completion of `d`.

To avoid this, you have to press `[esc]` after you type the first `.`.

UPDATE: this occurs with `typescript@2.2.0-dev20161219`, but not in `typescript@2.2.0-dev20161206`.
Seems like a r

[2016-12-20 05:50] kooboo-chenhai commented on #17519
I give you a simple example without the second bug ,  because the second bug can't be reappeared in it .
![qq 20161220134811](https://cloud.githubusercontent.com/assets/13828467/21339526/fab83b70-c6ba-11e6-95dd-43169aa442b1.png)
![qq 20161220134846](https://cloud.githubusercontent.com/assets/13828467/21339535/0e4bf3fc-c6bb-11e6-96f6-244c645bbbaf.png)
[website.zip](https://github.com/Microsoft/vsco

[2016-12-20 05:53] ahmadalli opened #17585 "'hot exit' and 'open with code' causes funny bug when trying to open an hot exited file"
- VSCode Version: 1.8.1
- OS Version: Windows 10 ver 1607

Steps to Reproduce:

1. in user settings, add `"window.openFilesInNewWindow": false`
2. open a file
3. modify it
4. close code without saving (hot exit feature must be enabled)
5. right click on the file and click on 'open with code'
6. two instances of vs code will be created. one with two tabs: 'untitled1' and the hot exited file in one

[2016-12-20 05:55] bpasero commented on #17506
@zhaomiing what is the "preview mode"?

[2016-12-20 06:01] bpasero commented on #17430
I cannot reproduce that behaviour, see this video what I do:

![view-picker](https://cloud.githubusercontent.com/assets/900690/21339730/ba4a7064-c681-11e6-9c80-3ca500c57e74.gif)

Does it reproduce for you all the time in that setup?

[2016-12-20 06:06] ionut17 opened #17586 "Terminal name autocomplete (with TAB) shifts the completed string to left"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|vscode-javascript-snippet-pack|akamud|0.1.5|
|vscode-theme-onedark|akamud|0.2.14|
|vscode-eslint|dbaeumer|1.1.0|
|javadebugger|donjayamanne|0.0.2|
|jquerysnippets|donjayama

[2016-12-20 06:16] guid2002 opened #17587 "Add function of printing and replace in selected range"
- VSCode Version: 1.8.1
- OS Version: Windows 7 64bits

Please add the following function for coming new update:

1) Printing function
2) Option to replace text in selected range

Thx

[2016-12-20 06:18] BobbyBabes commented on #207
Hot exit doesn't save a history of file changes per file. Dirty or not. A restart, followed by Ctrl+z on a dirty file, brings back nothing.
(Atom does. Ctrl+z restores changes even after multiple restarts. Even when the file was not dirty.)

[2016-12-20 06:30] bpasero commented on #16152
#15833

[2016-12-20 06:30] #16152 closed

[2016-12-20 06:31] bpasero commented on #17556
@acdha to be clear, you want to be able to dock the panels to the right hand side of the editors instead of below the editors?

[2016-12-20 06:32] bpasero commented on #17568
@pechovic what about this: https://marketplace.visualstudio.com/items?itemName=chrisdias.vscode-opennewinstance ?

[2016-12-20 06:32] bpasero commented on #17582
It exists:

![image](https://cloud.githubusercontent.com/assets/900690/21340404/813270a6-c686-11e6-872a-61c0de1d842c.png)

[2016-12-20 06:33] bpasero commented on #17572
This works as designed, we restore your previous work when you restart.

[2016-12-20 06:34] bpasero commented on #17585
Is this https://github.com/Microsoft/vscode/issues/16820 ?

[2016-12-20 06:36] zhaomiing commented on #17506
well forget about the 'preview mode'.
It seems like VSCode could remember files it ever opened or edited, and scrollbar will always like the 2nd screenshot on these files. But if you preview a new file VSCode has never known the scrollbar was like the 1st screenshot. I'm not sure if this's the actual logic but it behaves like this.

[2016-12-20 06:42] bpasero commented on #17506
We seem to show the border as long as we have a marker to show there. I also agree that the border is distracting and wonder if we cannot just remove it always.

[2016-12-20 06:44] ahmadalli commented on #17585
yes. sorry for duplication

[2016-12-20 06:44] #17585 closed

[2016-12-20 06:48] #17572 closed

[2016-12-20 06:49] Tyriar commented on #207
@BobbyBabes that's tracked here https://github.com/Microsoft/vscode/issues/15135

[2016-12-20 06:58] Glidias opened #17588 "After updated to 1.8.1, Javascript intellisense is completely DEAD!"
All .js files have absolute ZERO intellisense. No longer detects typings, F12 and problems, not even native javascript "document"/"window", etc.  For .html files, script tag only detects native js stuff like "document"/"window".

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|

[2016-12-20 07:05] IgorNovozhilov opened #17589 "Always disabled preview button for HTML file"
- VSCode Version:
![image](https://cloud.githubusercontent.com/assets/3082812/21340967/ea900b58-c69a-11e6-999a-ec7ce5de825b.png)

- OS Version: win7 pro

Steps to Reproduce:

1. Open HTML file;
2. Preview button is disabled, push to button, don`t open preview;
![image](https://cloud.githubusercontent.com/assets/3082812/21340990/140b3408-c69b-11e6-83a0-cfd621ef9e6e.png)

3. Press `Ctrl+Shift+V`, pr

[2016-12-20 07:10] wyjieying opened #17590 "terminal"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|vscode-css-formatter|aeschli|0.0.2|
|xml|DotJoshJohnson|1.6.0|
|auto-close-tag|formulahendry|0.3.6|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.2|
|vscode-icons|robertohuertasm|

[2016-12-20 07:11] #17590 closed

[2016-12-20 07:17] rgolea commented on #16222
@alexandrudima the problems view is a good way to view all the errors, but a simple highlight should suffice to bother the user. For example, I am working with a team that isn't quite tidy with their code and the fact that it's highlighted is a good way to bother them and change it. If the errors are just in a simple palette or just underlining the errors, it is not really enough to make a team li

[2016-12-20 07:22] mikelduffy commented on #12587
Same problem on El Capitan 10.11.6, tmux v.2.3. When opening VS Code outside of tmux first (either through the CLI or opening the app directly), then running code inside of tmux it works just fine. When opening VS Code directly from tmux, it is unable to enter fullscreen.

[2016-12-20 07:32] BobbyBabes commented on #207
@Tyriar Thanks I've just subscribed to that issue.

[2016-12-20 07:38] pechovic commented on #17568
@bpasero yes, this is what I was looking for. Thanks!

[2016-12-20 07:38] #17568 closed

[2016-12-20 07:38] wheelhot commented on #13522
How to know which extension overwrites the default MacOS key bindings?

[2016-12-20 07:38] IgorNovozhilov opened #17592 "Don't work live preview in split-editor"
- VSCode Version:
![image](https://cloud.githubusercontent.com/assets/3082812/21341374/45fe62f8-c69d-11e6-85ba-c91e5e5964e1.png)

- OS Version: win7 pro

Steps to Reproduce:

1. Open HTML file;
2. Press `Ctrl+Shift+V`;
3. Press `Ctrl+\`;
4. Close preview in 1st panel, what would happen as in the screenshot;
![image](https://cloud.githubusercontent.com/assets/3082812/21341512/eab9b658-c69d-11e6-820

[2016-12-20 07:55] kaiwood commented on #13522
@wheelhot There's a contributions tab in every extensions overview page which lists every shortcut:

![screen shot 2016-12-20 at 08 53 03](https://cloud.githubusercontent.com/assets/7542/21342393/ffbfe04c-c691-11e6-8479-3e4dfc19ac9d.png)

[2016-12-20 07:55] chrmarti commented on #17340
@coreh What kind of keyboard layout are you using? Is it different from US English?

[2016-12-20 07:59] wheelhot commented on #13522
Thanks!

I just checked my extensions and none seem to map to cmd+q, any other way to find out what could be overriding it? I notice it's only an issue if I were to cmd+q in the code editor itself, if I were to click on the file browser on the left, the program will quit normally

[2016-12-20 08:01] weinand commented on #17323
@CodeCloak does your "C++ engine using v8" add support for multiple threads?

[2016-12-20 08:08] bpasero commented on #17588
@Glidias can you share your workspace? is it open source?

[2016-12-20 08:09] bpasero commented on #17588
Related/Duplicate: https://github.com/Microsoft/vscode/issues/17221

[2016-12-20 08:15] kaiwood commented on #13522
You can at least put the following at the end of your shortcut settings (keybindings.json):

    { "key": "cmd+q",                 "command": "workbench.action.quit" }

Personal settings are evaluated last, so if it's something inside of VSCode it would override it again to the default key. Doesn't really help to find what's the cause of the problem, but at least it has the nice side effect that i

[2016-12-20 08:17] jrieken commented on #10801
No, we actually don't have the information internally in the editor. It is a larger effort to which are aren't fully committed yet

[2016-12-20 08:22] wheelhot commented on #13522
Thanks! That keybinding entry worked! Finally, the annoying issue I have with VSCode is gone.

[2016-12-20 08:24] jrieken commented on #16109
Let's give it a try in January

[2016-12-20 08:29] sandy081 commented on #17371
@pierredewilde May I know what you mean by offline documentation?

@garfieldbanks Definitely, I will provide a command to view default settings as raw file

[2016-12-20 08:33] xujihui1985 commented on #11505
adding large file to exclude solve the problem

[2016-12-20 08:33] pierredewilde commented on #17371
I mean a documented list of all settings to print. Raw (json) file is OK for that purpose.

[2016-12-20 08:35] jrieken commented on #15952
looking not too bad. keep going

[2016-12-20 08:37] jrieken commented on #17400
You describe a valid scenario. Does your extension define what a [word is](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2714)? We should work with that, but I am unsure if we actually do...

[2016-12-20 08:37] ytimenkov commented on #17293
Yes, just going to full screen is the problem.

Yes, switching to full screen is 100% reproducible with my setup.

No, Zen mode itself works fine.

[2016-12-20 08:40] sqnkov commented on #17542
I will upload a ***.gif** as soon as the degradation start.

[2016-12-20 08:43] #17356 closed

[2016-12-20 08:44] jrieken commented on #17218
dupe of #14621

[2016-12-20 08:44] #17218 closed

[2016-12-20 08:47] jrieken commented on #10806
@Tyriar Taking this back because it shouldn't be a TypeScript only solution but implemented in the spirit of other language features, like go to definition, find referenced etc

[2016-12-20 08:47] khaled-hossain-code opened #17593 "Make file dialogs remember last selection per window and not globally"
- VSCode Version: 1.8.1
- OS Version: win 10

Steps to Reproduce:

1. open vs code open a folder "myFolder"
2. open vs code in new terminal and select "yourFolder" folder to open
3. go to window 1 and open folder you will end up in "yourFolder" path rather than "myFolder" path.

[2016-12-20 08:50] isidorn commented on #17293
So this seems to be an electron issue when going to full screen mode
You should be able to also reproduce it with a bare bone [electron app](https://github.com/electron/electron#quick-start) - if yes then you should file this bug to the electron git hub page here https://github.com/electron/electron

Assigning to @bpasero as he might have more ideas

[2016-12-20 08:52] psankar opened #17594 "Bug navigating Tamil script letters"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 15.6.0

---

Steps to Reproduce:

While editing Tamil language words in VSCode, the navigation keys do not work correctly.

For example:

`புன்சிரிப்போடு` is a tamil word that I am trying to navigate with the left/right arrow keys. The cursor should stop at: `பு`, `ன்`, etc. b

[2016-12-20 08:52] jrieken commented on #17210
Assuming you want `&pounds` and `&detail` to be inserted, you should set the label or insertText of the CompletionItem to the those strings, not `pounds`. By default, the editor asks for suggestion all the time, not only when a trigger character is typed. Both can be configured (suggest on type, suggest on trigger character) but you check with the context when computing your list

[2016-12-20 08:52] #17210 closed

[2016-12-20 08:53] isidorn commented on #16616
@chrisdias feel free to add a verified label :)

[2016-12-20 08:54] jrieken commented on #15455
@shanalikhan Can you do this: Hit F1, type Startup Performance, hit Enter. It will open dev tools and print some startup stats. Can you share them with me please

[2016-12-20 08:57] ytimenkov commented on #17293
Yes, I can confirm that this is an electron issue: same problem with bare bone electron app.

[2016-12-20 08:57] #17293 closed

[2016-12-20 08:58] dbaeumer commented on #17549
Currently we replace the %...% place holder with the translated string when reading the package.json file. To implement this we would need to read the package.nls.json file as well and add an additional property to the literal to store the English version of the strings as well. Something like `_${key}_original_value`. Then the code that processes the command contributions could look for the origi

[2016-12-20 08:59] jrieken commented on #17327
When having `\\$\\{0:stuff\\}` only escape the `$`, like so `\\${0:stuff}`. More shouldn't be needed

[2016-12-20 09:00] jrieken commented on #17327
So, opening bracket doesn't need escaping according to http://code.visualstudio.com/docs/customization/userdefinedsnippets#_grammar. This might just need better doc as a 'fix'

[2016-12-20 09:00] dbaeumer commented on #17282
Yes, it looks into all paths present in NODE_PATH. This is what node does by default and we wrote a `script` to reuse Node's resolve algorithm here.

[2016-12-20 09:02] victornoel commented on #17282
Thanks! So I guess the simplest and most generic solution to my problem is to add `/home/user/.config/yarn/global/node_modules` to NODE_PATH then :)

[2016-12-20 09:05] dfroze commented on #17392
Any news regarding the second bug? If possible, can I take this task and fix it?

[2016-12-20 09:07] isidorn commented on #17392
@dfroze we frist have to try to reproduce that issue - let me do that right now

If you are looking for tasks to help with a good idea is to go through our open issues and search for a tag 'help wanted' - https://github.com/Microsoft/vscode/labels/help%20wanted

[2016-12-20 09:11] bpasero commented on #17593
@khaled-hossain-code having trouble to understand the steps, can you maybe add screenshots or best a video?

[2016-12-20 09:11] DanTup commented on #17327
OK, so do braces every need escaping, or only when not after a `$`? (If conditional, it makes escaping more complicated than a simple `.replace`; maybe if that's the case you could add a helper to escape a string correctly?)

[2016-12-20 09:13] craPkit commented on #16648
This works as expected on Windows (7) though.

[2016-12-20 09:13] fedorinoGore commented on #17034
Nope. That behaviour was somehow connected with my working instance of iTerm2 app. After scanning for all processes and finding no zombies, I tried to kill and restart my terminal as other apps also acted strange (yarn, npm, atom). And this makes them all work again. I belive it was corrupted ./bashrc enviroment and has nothing to do with VS Code, sorry, false alert :(

[2016-12-20 09:13] #17034 closed

[2016-12-20 09:13] isidorn commented on #17392
Tried reproducing the second issue -> by holding F11 you are basically juming in and out of zen mode all the time but I still could not get into a broken state like you describe.
Even if the bug could be reproduced it is very random and would not happen in a real life scenario - why would a user hold F11 for 30 seconds?

Anywas closing as designed, does not repro

[2016-12-20 09:13] #17392 closed

[2016-12-20 09:15] egamma opened #17595 "[html] Preview for .html files"
You can open a Preview for `.html` files from the command palette, but there is no corresponding context menu action as is done for `.md` files.

[2016-12-20 09:15] jrieken commented on #17327
You can use the `builder` methods on `SnippetString` to help you escape things, like `new SnippetString().appendText('${0:stuff}')`

[2016-12-20 09:15] DanTup commented on #17327
Ah, opening brace isn't in the docs. Either I misread or you already fixed. I'll update my code, thanks!

[2016-12-20 09:15] jrieken commented on #17327
k. I am closing this as question then

[2016-12-20 09:16] #17327 closed

[2016-12-20 09:16] DanTup commented on #17327
Aha, didn't see those methods. That's great, thanks, think this is a non-issue now :+1

[2016-12-20 09:18] isidorn commented on #3351
Hi @eamodio I tried reproducing this and was unable, namely I wrote a vscode extension which writes to the output channel - for me it nicely autoscrolls to the end

If you can still reproduce this issue can you please create a new issue with a small sample for which this can been seen. And just ping me on the issue - thanks!

[code]

[2016-12-20 09:19] massimocode commented on #17393
Thank you everyone for your responses.

Just to give some feedback as a user, I would feel comfortable being asked to provide something in the workspace config to tell VSCode how to treat the project. I feel like that's a little similar with how I have to specify a tasks.json file to tell VSCode how to build the TypeScript.

But as always, if it could `automagically` do it that would be awesome. A

[2016-12-20 09:22] dbaeumer commented on #17282
Yes that is correct.

[2016-12-20 09:22] egamma commented on #17592
The command `CTRL+SHIFT+V` is bound to the command `markdown.showPreview` it appears that it happens to also show the preview for an .html file, but the preview is not updated in the case of a .html file.

//FYI @aeschli support for previewing html should be contributed by the html extension. See also #17595

[2016-12-20 09:22] khaled-hossain-code commented on #17593
step 1
[url=https://postimg.org/image/dqi94uvo1/][img]https://s24.postimg.org/dqi94uvo1/step_1.png[/img][/url]
step 2
[url=https://postimg.org/image/eu2dgtgb5/][img]https://s24.postimg.org/eu2dgtgb5/step_2.png[/img][/url]
step 3
[url=https://postimg.org/image/p5eq9h80h/][img]https://s24.postimg.org/p5eq9h80h/step_3.png[/img][/url]
bug
[url=https://postimg.org/image/8qkswwq1d/][img]https://s24.post

[2016-12-20 09:23] egamma commented on #17589
see also #17592

[2016-12-20 09:26] egamma commented on #17588
@Glidias for a possible workaround pls see this comment https://github.com/Microsoft/vscode/issues/17221#issuecomment-267932516

[2016-12-20 09:27] GNXB opened #17596 "Auto indent for most popular language"
- VSCode Version: 1.8.1
- OS Version: macOS Sierra 10.12.2

Steps to Reproduce:

1. **Auto indent** features for most popular language such as PHP, CSS, etc.
2. **Hotkey** for performing auto indent when highlighting _some part_ of document or _whole document_

[2016-12-20 09:30] bpasero commented on #17593
@khaled-hossain-code ah, this is about which folder is selected in the windows file dialog?

[2016-12-20 09:31] Cordoha opened #17597 "Web Dev: Twitter Card Feature Request"
# Feature Request

It would be nice to have Twitter Card meta data enabling the various types of Twitter Cards available since it's a lengthy process to enable them. You have to memorize every meta tag **per** card, there's different code for each.

## Summary of the types of Twitter Cards available:
- Summary Card: Title, description, thumbnail, and Twitter account attribution.
- Summary Card wit

[2016-12-20 09:31] khaled-hossain-code commented on #17593
yes it is. window forgets its last opening state.

[2016-12-20 09:33] ghominejad opened #17598 "Simple but useful features that every developer expects at first glance"
- VSCode Version: 1.8.0
- OS Version: Windows 10

1- Building selected file without installing and configuring tasks
    basic extensions : - scss  -less -typescript

2- Html live preview without needs for installing third-party webservers

vscode should support these features internally.

Currently i have to install these tools in every simple test projects and each of them have to be contained o

[2016-12-20 09:34] egamma commented on #17587
@guid2002 thanks for your feature requests. In general please try to follow our guidelines and file a separate issue per feature request.

duplicates #11922

This is already supported, you can select the option to just find in the selection
![image](https://cloud.githubusercontent.com/assets/172399/21345264/d2e4e1d6-c69f-11e6-9c26-7e569a20f5b6.png)

[2016-12-20 09:34] #17587 closed

[2016-12-20 09:47] egamma commented on #17598
@ghominejad thanks for your feature requests, pls try to follow the issue reporting guidelines and file a separate issue per feature request https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-great-issues-and-suggestions

we do not plan to bundle transpilers for LESS and SASS. Support for transpiling typescript is tracked in #17587 973

Duplicates #16081

[2016-12-20 09:47] #17598 closed

[2016-12-20 09:49] isidorn commented on #17471
@wencaiHong I can not seem to repro this, you can see in the attached gif how this works for me
If you do file > preferences > workspace settings - does the `settings.json` get created in your .vscode folder?

Does your launch.json get created if you choose regular node.js?
Can you simple create a new launch.json and then using the blue `add configurations` button to fill the content?

![ubuntu](h

[2016-12-20 09:51] jrappen commented on #6529
@bpasero, @kieferrm maybe you could merge the functionality of the repo linked by @goessner above into the default package?

[2016-12-20 09:51] elcin01x commented on #12493
+1

[2016-12-20 09:52] egamma commented on #17597
This looks like a nice candidate for an extension.
You can contribute snippets from an extension.

[2016-12-20 09:58] Cordoha opened #17599 "Feature Request: Terminal Tabs"
# Feature Request
## Terminal Tabs
There's already a plug-in worth mentioning which enables tabs in the blue bar below the terminal but they are merely just small icons.

## Suggestions
- Tabs Located Beside "Terminal" That Are Actually Tabs.
  - Or Include The "Terminal" Name as a Tab(Which Can Be Renamed), And A (+) Icon To Add More Tabs Which Can Be Renamed.
- Optional Coloured Tabs
- Quick Swi

[2016-12-20 09:58] egamma commented on #17596
Auto indent is supported for many languages including CSS and PHP. Please file specific issues when auto indent doesn't work as expected.

This is tracked in https://github.com/Microsoft/vscode/issues/4039

[2016-12-20 09:58] #17596 closed

[2016-12-20 10:03] #17582 closed

[2016-12-20 10:03] foogao opened #17600 "When debugging NodeJS code, can not step into functions"
- VSCode Version: 1.8.1
- OS Version: macOS Sierra

Steps to Reproduce:

1. Open project
2. Setup breakpoint
3. Click "Start Debugging" button
4. Code stop at the breakpoint
5. Click the "Step Into" button, the code will execute until next breakpoint.

Anyone meet this issue?

[2016-12-20 10:06] weinand commented on #17600
@foogao do you have a watch expression? If yes, please delete them and see whether problem disappears.

[2016-12-20 10:08] NikosEfthias commented on #17424
how come this issue is closed ? I havent seen any solution above in the comments @jrieken

[2016-12-20 10:15] isidorn commented on #17337
@weinand the yellow current line is implemented using editor decorations and this is just how editor decorations work - namely they are tied to the location in the edior and as that location changes the decorations automatically update.
Also not adjusting a current line would have the downside of making it confuzing for adapters that do support live editor.

Closing as will not fix

[2016-12-20 10:16] egamma commented on #17574
@akcorp2003

Can you confirm that this has worked in version 1.8.0?

[2016-12-20 10:21] weinand commented on #17337
@isidorn if the current implementation does not work for us, then we will have fix this on our end.

If we start supporting live editing, then we will have to address your second argument.

[2016-12-20 10:24] egamma commented on #17550
@NCC1701M There are different constraints on each platform when it comes to the available keybindings, we therefore cannot use the same keybindings on Windows and Linux.

[2016-12-20 10:24] #17550 closed

[2016-12-20 10:25] #17179 closed

[2016-12-20 10:26] isidorn commented on #17179
fyi @bpasero we introduced a wrong rule for hover feedback in hc mode that I removed with this commit - all seems good now.

[2016-12-20 10:27] egamma commented on #17554
@acdha as a workaround you can disable the built-in validation with the setting `scss.validate`.

[2016-12-20 10:32] egamma commented on #17557
This issue was moved to ionide/ionide-vscode-fsharp#315

[2016-12-20 10:32] #17557 closed

[2016-12-20 10:40] egamma commented on #17563
@mfrost66

Is the intent to preserve the selection so that find/replace is scoped to the current selection? Then you can do so and preserve the selection using the 'Find in Selection' setting.

![image](https://cloud.githubusercontent.com/assets/172399/21347457/f5bd9ffa-c6a8-11e6-9bbd-b64e9263d9a3.png)

[2016-12-20 10:48] egamma commented on #17561
@NyanTyrrell can you confirm that this has worked for you in earlier versions and that this is a regression? What keyboard layout are you using?

@CoenraadS I've verified that this works for me on win10 on 1.8.1. What keyboard layout are you using?

[2016-12-20 10:50] egamma commented on #17184
@eappatt can you pls answer the question in comment https://github.com/Microsoft/vscode/issues/17184#issuecomment-267667574

[2016-12-20 10:51] egamma commented on #17223
@pranaydutta89 any update?

[2016-12-20 10:53] CoenraadS commented on #17561
@egamma

Apologies, I tested in a new file. In a typescript file it works fine.

[2016-12-20 11:00] egamma commented on #17581
@bpasero This suggests that we should offer the same matching approach in the 'Quick View' menu as we provide in the command palette.

Quick View
![image](https://cloud.githubusercontent.com/assets/172399/21348031/91b1bf48-c6ab-11e6-8b05-dbf7cb8019a5.png)

Command Palette
![image](https://cloud.githubusercontent.com/assets/172399/21348084/cf0a4b58-c6ab-11e6-909c-934182a9136a.png)

[2016-12-20 11:02] egamma commented on #17561
@CoenraadS thanks for the clarification.

[2016-12-20 11:02] sandy081 commented on #16580
Enhanced config editing service to be aggressive when writing to buffer.
- If writing directly to disk, it looks for all validations
- If writing to buffer, all errors are ignored while updating and saved if not dirty.

[2016-12-20 11:05] isidorn commented on #17240
This works fine for me as shown in the attached gif
@WiproPSAccTest the interaction which you might not have done is using the up / down key to navigate through each tree per section. Since tab will jump to the other section - this makes navigating faster and easier imho.
Please let me know if I am missing something here and we can reopen

![nvda](https://cloud.githubusercontent.com/assets/1926584

[2016-12-20 11:05] #17240 closed

[2016-12-20 11:06] shanalikhan commented on #15455
0	"[main] start => window.loadUrl()"	988
1	"[renderer] window.loadUrl() => begin to require(workbench.main.js)"	307
2	"[renderer] require(workbench.main.js)"	3209
3	"[renderer] create extension host => extensions onReady()"	1197
4	"[renderer] restore viewlet"	713
5	"[renderer] restore editor view state"	1
6	"[renderer] overall workbench load"	1073
7	"-----------------------------------------------

[2016-12-20 11:15] isidorn commented on #17251
This works for me as shown in the attached gif - also works if I use keyboard and not mouse.
Namely whenever a debugger is stopped we announce a message in the form
"Debugging paused, reason step, module.js 559 "

@WiproPSAccTest Are you not getting these messages? I see you are using vscode 1.6.1, can you please try with 1.8.1 as I can not reproduce with the latest
Closing until more data is prov

[2016-12-20 11:15] #17251 closed

[2016-12-20 11:19] isidorn commented on #17249
Works for me
Also similar reasons to https://github.com/Microsoft/vscode/issues/17251

Both of these might be bugs with NVDA and have nothing to do with VSCode.
@WiproPSAccTest do you also see inconsistent NVDA behavior when trying it in other apps - for instance Microsoft Word?

![screen shot 2016-12-20 at 12 17 48](https://cloud.githubusercontent.com/assets/1926584/21348649/635a9fd6-c6ae-11e6-9f

[2016-12-20 11:19] #17249 closed

[2016-12-20 11:19] GameHoo opened #17601 "*.txt file save and open bug"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-babel-coloring|dzannotti|0.0.4|
|vscode-great-icons|emmanuelbeziat|1.1.25|
|cpptools|ms-vscode|0.9.2|

---

Steps to Reproduce:

1.Create a txt file ,
2.type some thing and don't save.
3.click the

[2016-12-20 11:19] King66 commented on #5388
I am using Chinese Simplified Win10 now.
Some of my old cpp and cs files(not many) are ANSI(GBK)-encoding which were created by old version of Visual Studio.
VS can open ANSI files correctly and I can search ANSI(GBK) string through files. With VSCode I have to open file and choose the correct encoding to search.

Notepad++ are more powerful dealing with encodings, it can detect many encodings and

[2016-12-20 11:20] isidorn commented on #17248
Works for me
Same as my comment here https://github.com/Microsoft/vscode/issues/17249#issuecomment-268218869

![screen shot 2016-12-20 at 12 19 41](https://cloud.githubusercontent.com/assets/1926584/21348703/9dfd3054-c6ae-11e6-8c32-47a143c94664.png)

[2016-12-20 11:20] #17248 closed

[2016-12-20 11:22] ralfkret opened #17602 "Release notes do not use full windows area when zooming"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vim|vscodevim|0.4.9|

---

Maybe duplicate of #17580. Sorry should have searched before posting.

Steps to Reproduce:

1. Open Release Notes
2. Zoom with ctrl-+
3. When zooming further the effect is more

[2016-12-20 11:27] NCC1701M commented on #17550
On Ubuntu 16.04 I didn't noticed any side effects while using shift+alt+f

[2016-12-20 11:30] isidorn commented on #17171
@WiproPSAccTest do you also see this behavior for all the trees in vscode - namely in explorer or other trees in the debug view?
Is the name nicely set when you actually focus the brekapoint using the up / down key.

My assumpiton is that nvda computes the name from the aria-label property which we nicely set

[2016-12-20 11:39] bpasero commented on #17601
Is this https://github.com/Microsoft/vscode/issues/16820 ?

[2016-12-20 11:40] bpasero opened #17603 "Extensions editor: color clash with tabs"
This looks as if the contents of the editor belong to Position.js:

![image](https://cloud.githubusercontent.com/assets/900690/21349308/89245ad8-c6b1-11e6-877b-c99a253bd5ce.png)

[2016-12-20 11:44] bpasero commented on #16267
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-12-20 11:44] #16267 closed

[2016-12-20 11:44] egamma commented on #17602
This is known issue with the webviews.

@jrieken I suspect that this is a dupe, but I could not find one.

[2016-12-20 11:44] bpasero commented on #16451
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-12-20 11:44] #16451 closed

[2016-12-20 11:44] bpasero commented on #16783
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-12-20 11:44] #16783 closed

[2016-12-20 11:45] bpasero commented on #17005
@OutsourcedGuru ping

[2016-12-20 11:45] bpasero commented on #17012
@tgl123 ping

[2016-12-20 11:45] bpasero commented on #17052
@ShangxuanWu ping

[2016-12-20 11:45] bpasero commented on #17057
@adarshjohny ping

[2016-12-20 11:45] bpasero commented on #17058
@desduvauchelle ping

[2016-12-20 11:57] christianarg opened #17604 "Format document does not work at least on xml files"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vs-code-xml-format|fabianlauer|0.1.4|
|ColdFusion|ilich8086|0.0.4|
|csharp|ms-vscode|1.5.3|

---

Steps to Reproduce:

1. Open Xml File
2. Format Document
3. You'll get the WARN Cannot read property 'substr

[2016-12-20 12:02] stefanaerts opened #17605 "Code Window does not show the different open projects in the menu.How can i rollback?"
- VSCode Version:Version 1.8.1 (1.8.1)
- OS Version:MAC OS X 10.9.5

Steps to Reproduce:

1. open 2 projects at the same time
2. go to window menu

![image](https://cloud.githubusercontent.com/assets/3684599/21349842/807b1432-c6b4-11e6-8eb7-41e4665a68db.png)

[2016-12-20 12:05] jrieken commented on #17580
dupe #5745

[2016-12-20 12:05] #17580 closed

[2016-12-20 12:05] jrieken commented on #17602
dupe #5745

[2016-12-20 12:05] #17602 closed

[2016-12-20 12:10] codeflows commented on #17221
Hi! I'm having a similar problem with VS Code Version 1.8.1, OS X 10.11.6 (El Capitan) with all extensions disabled + just the default settings, apart from `"typescript.tsserver.trace": "verbose"`. In VS Code 1.7.2 everything works fine!

Can't unfortunately share the codebase, but I managed to narrow problem down to the `jsconfig.json` configuration.

Removing `jsconfig.json` completely, or using

[2016-12-20 12:24] ostap1010 opened #17606 "Unmodified files are marked as changed"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|tslint|eg2|0.7.1|
|debugger-for-chrome|msjsdiag|2.4.1|

---

Steps to Reproduce:

1. Open any file
Result: it is marked as changed
Expected result: Unmodified file should

[2016-12-20 12:32] ruslanch commented on #17574
In version 1.8.0 it did not work too.

[2016-12-20 12:39] JensLykkeBrandt opened #17607 "Progress-indicator for tasks"
Tasks that runs often when editing details in html/css/js can be better integrated into VS Code.
A tiny, simple progress-indicator in the status-bar or in the left bar would be cool.

Calculating the progress can be estimated from previous run:  first run can be the endless-progress-animation.
A click somewhere can pull the output into the editor-window for inspection (with 'markup' for grunt/gulp

[2016-12-20 12:40] reaktivo commented on #15833
@bpasero @jrieken Would a external contributor's PR for this feature be considered?

[2016-12-20 12:47] electrotype commented on #17573
Sorry, this is a false alarm. The "problem" (feature??) was in fact introduced by an extension, [auto-import](https://marketplace.visualstudio.com/items?itemName=steoates.autoimport).

Please close this issue!

[2016-12-20 12:51] lukaschal commented on #17120
@calidion See linguistic answer:

Actually "format" is not translated as a noun in the existing translation, it can be backtranslated to the effect of "set the format of the document", which is not an uncommon way of translation.

And the translation of the word "format" is not even that important to me here. If the developer prefers "格式化", we can use "格式化", because that's also an acceptable trans

[2016-12-20 12:56] M-Zuber commented on #1307
What I would want is full `surround with` like exists in Visual Studio [see here for super quick intro](https://msdn.microsoft.com/en-us/library/6hf704tz.aspx) which would let me use any snippet in addition to punctuation.
It is very handy for things like moving code into an `if` or `try/catch`.

The far dream would have us be able to declare an arbitrary punctuation pair and use that like we can

[2016-12-20 13:01] egamma opened #17608 "January Iteration Plan"
This plan captures what we work on during second halve of December and January. We will ship **early February**.

The endgame for this iteration is tracked in #19031

## Plan Items

Below is a summary of the top level plan items.

Legend for annotations:

| Mark  | Description |
| ------------- | ------------- |
| :runner: | work in progress  |
| :hand: | blocked task |
| :muscle: | stretch goal f

[2016-12-20 13:07] sqnkov commented on #17542
![vs code gif](http://g.recordit.co/5XpHGG5B3F.gif)

As I focus the ".widget-matrix" object and hit enter to open a new line and start typing there is a serious delay which You can see from the gif. The time in which the line stays blank is the delay I am referring to.

[2016-12-20 13:12] cesarvarela commented on #3520
Happens to me now with VScode, and happened with Atom in the past.

The xattr thing didn't work for me though.

[2016-12-20 13:18] GameHoo commented on #17601
yes sorry

[2016-12-20 13:38] fenivana opened #17609 "Line wrapping problem in bash on ubuntu on windows"
When the line is full, terminal doesn't start a new line, instead of starting at the same line and eating the chars.

![2016-12-20_21-16-19](https://cloud.githubusercontent.com/assets/11750532/21352480/9d75f384-c6fc-11e6-9653-4f98b8ff8822.gif)

- VSCode Version: 1.8.1
- OS Version: Windows 10 Pro Insider Preview Version 1607 Build 14986.1000

Steps to Reproduce:

1. Config `"terminal.integrated.sh

[2016-12-20 13:39] jrieken commented on #15455
Is that when reloading and after a exit/restart?

[2016-12-20 13:41] NikIvan commented on #17604
It seems that format document also doesn't work in CSS.

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

|Extension|Author|Version|
|---|---|---|
|theme-atom-one-dark|andischerer|0.0.1|
|theme-material-neutral|bernardodsanderson|0.9.0|
|vscode-eslint|dbaeumer|1.2.2|
|vscode-babel-coloring|dzanno

[2016-12-20 13:43] shanalikhan commented on #15455
its when started code , F1 > Startup Performance

[2016-12-20 13:46] WebFreak001 commented on #17549
Maybe add another value? Like keeping title in english and then adding a separate `"translated_title": "%...%"`

[2016-12-20 13:49] fenivana commented on #17609
The problem magically disappeared when I restarted VS Code...

[2016-12-20 13:51] jrieken commented on #17542
Can you ask you to create a profile for us? It goes like this

* open developer tools via *F1 > Toggle Developer Tools*
* select *Profiles* > *Record JavaScript CPU Profile* and press *Start*
* now produce the hang/slowness
* stop profiling (press *Stop* or the read button), save the profile, and share it with us

[2016-12-20 13:51] lukaschal commented on #17269
Waiting for linguistic input.

[2016-12-20 13:53] jrieken commented on #17424
@NikosEfthias This issues wasn't and isn't closed.

[2016-12-20 14:01] sqnkov commented on #17542
It stopped doing it after I opened the devtools. This is awkward. I will be doing some more work today, so let me hit a road-block again and I will save a test sample.

[2016-12-20 14:01] vorov2 commented on #17592
Could be nice if different preview modes would be triggered by the same shortcut and if a preview is not available for a particular mode display an appropriate message in a preview pane.

[2016-12-20 14:01] calidion commented on #17120
@lukaschal

Maybe it is due to the conventions we use.

Translate "Format Document"  to "设置文档格式" or  “格式化文档”  is a bit strange to me.
"设置文档格式” means "Set a type for a document" instead of "Set the format of document"。
which likes I would set it to doc,xls,ts, js etc.

"格式化代码" and "格式化文档” may have very similar meanings in Chinese, but we use "格式化代码" to describe the action of formatting a source cod

[2016-12-20 14:02] gujiman commented on #17346
no probs. Brilliant software by the way

[2016-12-20 14:06] mika76 commented on #14775
@rebornix This is a good comment of double clicking on the empty space - but that only exists if there IS a tab bar which only exists if there is at least one file open. And the new file button that @TheColorRed mentioned is only there if a folder has been opened. So there is still a condition where you have an empty window and now you have to go into a menu... ugh 😷

I suggest you go with the nor

[2016-12-20 14:09] mika76 opened #17611 "Size grip on the main window"
- VSCode Version:1.8.1
- OS Version: Windows 10 x64

I think a sizing grip on the main window would be great. I'm not sure where this great usability feature has disappeared lately with apps, but it's so much easier to grip a block then a corner...

[2016-12-20 14:13] gregatcssi opened #17612 "go to definition reopening same file, but changes Path casing."
- VSCode Version: 1.8.1
- OS Version: Windows 10

Steps to Reproduce:

1. open a file where a class has a definition in the same file.
(mine is under src\app\Services\movieModel.ts)
2. right click and go to definition.
3. check the open in editor files (opens file src\app\services\movieModel.ts  this one is in lowercase on Services)

for me both are listed as open and require to be saved.  if i sa

[2016-12-20 14:13] foogao commented on #17600
@weinand yes, i have some watch expressions, just remove them, works now. thanks

But why? "Watch expression" should be a common scenario, right? Is this a bug?

[2016-12-20 14:13] isidorn commented on #17170
This element can not be focused by designed. As user focus into the debug toolbar the focus will automatically jump to the first item. I believe this is good behavior as we save one tab press by not focusing the parent container.

Let me know if focusing the parent is optimal in this case and I can reopen. IMHO we are doing the right thing now -> closing
Currently we have the same behavior as the

[2016-12-20 14:13] #17170 closed

[2016-12-20 14:17] weinand commented on #17600
@foogao yes, this is a bug. Dup of https://github.com/Microsoft/vscode/issues/15253

[2016-12-20 14:18] #17600 closed

[2016-12-20 14:19] isidorn commented on #17175
@chrisdias @kieferrm do we now need to support Narator?
@WiproPSAccTest As far as I see from this bug description we are working as expected on NVDA but not for Narator. The problem is that narator does not properly read out the native HTML select box, and NVDA does it nicely.
I can add some workarounds for the narator bug on my side but would prefer not to do anything if we are not supporting Nar

[2016-12-20 14:27] gregatcssi commented on #17612
renaming the folders to all lowercase seems to have removed the second file opening.

[2016-12-20 14:34] HiZhaoxiaoyang commented on #17120
“Format Document格式化文档” 和 “Format Code格式化代码” 不行？ 为何都是代码。

[2016-12-20 14:35] foogao commented on #17600
@weinand OK, got it, thanks

[2016-12-20 14:36] isidorn commented on #17204
It is required to give them names as we use the names as IDs in the tree, there is not other way around this now. If the name was not mandatory then we would need to generate ids for them on the vscode side. Not to overcomplicate things lets just make the name mandatory so the adapter is in charge of ids

Closing as designed

[2016-12-20 14:36] #17204 closed

[2016-12-20 14:49] sqnkov commented on #17542
Here is the CPU profile:

[CPU-20161220T164825.zip](https://github.com/Microsoft/vscode/files/663974/CPU-20161220T164825.zip)

P.S. I am currently  at my day job , I am having the exact same problem on my laptop at home.

[2016-12-20 14:52] acdha commented on #17556
@bpasero Correct: I used that for years with TextMate where validation messages & previews lived on the right side, and it works really well on a wide display.

[2016-12-20 14:53] acdha commented on #17554
@egamma thanks – I'd done that earlier but some of the other messages are useful.

[2016-12-20 14:56] Brocco opened #17613 "Feature Request: Allow disabling of angular 1.* HTML options"
Currently in HTML files by default there are autocomplete options for angular 1.* (i.e. `ng-if`, `ng-repeat`, `ng-show`)

Many developers use VS Code for web development without using angular 1.* and would like to either have these helpers turned off by default or have an option to be able to turn them off from within user/workspace settings.

[2016-12-20 14:57] jrieken commented on #17542
Thanks - looks like the editor is busy managing decorations.

![screen shot 2016-12-20 at 15 56 12](https://cloud.githubusercontent.com/assets/1794099/21355080/eec4dd02-c6cc-11e6-9c52-93eab21fb277.png)

Is this a large file and are you using folding? Or do you have a special extension installed that add editor decorations, like the color boxes or other inline renderings/decorations?

[2016-12-20 14:58] calidion commented on #17120
@HiZhaoxiaoyang

应该很少有人会使用”格式化文档“这种用法。 一般我是没有见过。

[2016-12-20 14:58] pleprince opened #17614 "when at zoom < 0, line breaks in html pages are offscreen."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 14.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-markdownlint|DavidAnson|0.6.0|
|xml|DotJoshJohnson|1.6.1|
|material-icon-theme|PKief|1.1.5|
|code-settings-sync|Shan|2.3.8|
|Bookmarks|alefragnani|0.10.1|
|project-manager|alefragnani|0.12.2|
|vscode-color|

[2016-12-20 15:01] bpasero commented on #15833
@reaktivo yes, we are always open to PRs as long as they make sense 👍

[2016-12-20 15:01] DasJott commented on #8901
Hey, today it is the help menu missing!

I currently have 3 instances of vscode running. One of them isses the help menu. I opened the window, the menu was there. I opened a project folder, the menu disappeared.

I just opened another one and loading another project in there, and that window got TWO help menus!
Closed it and did the same thing again, resulting in just one help entry again.

Someth

[2016-12-20 15:02] #17601 closed

[2016-12-20 15:08] dennisfrostlander commented on #17400
@jrieken No, we don't actually use wordPattern. It seems to be left out in [LanguageConfigurationFileHandler](https://github.com/Microsoft/vscode/blob/b70ce7919ff8dc939604228e63a73800745e98b2/src/vs/editor/node/languageConfigurationExtensionPoint.ts#L67-L83). Not sure though on purpose or not.

I played around with wordPattern and it can solve a number of problems. However, it would be tricky to d

[2016-12-20 15:09] dennisfrostlander commented on #17400
Auto-inserting the second quote could also be a solution.

[2016-12-20 15:09] sqnkov commented on #17542
How can I print-out a list of my extensions?

[2016-12-20 15:18] ljohnny commented on #6379
ubuntu 16.10 vs code latest also work.

[2016-12-20 15:25] eappatt commented on #17184
So sorry for late reply. I was away for weekend & wanted to wait a while & add more code to REALLY make sure and so far so good. Checking & modifying my settings seemed to have been the solution.

-E.Patt

[2016-12-20 15:25] eappatt commented on #17184
So sorry for late reply. I was away for weekend & wanted to wait a while & add more code to REALLY make sure and so far so good. Checking & modifying my settings seemed to have been the solution.

-E.Patt

[2016-12-20 15:26] sliontc commented on #17120
As a coder from china, I agree calidion.

[2016-12-20 15:28] dengxqi commented on #17120
agreed with calidion, it is better to use [格式化代码].

[2016-12-20 15:28] CodeCloak commented on #17323
I can't give a definitive "yes" or "no" to that question, because I'm not a 100% sure where to look in our code to get that information. The information I do have leads me to believe yes but the person who would know for sure is on holiday for a week or two.

[2016-12-20 15:31] soljohnston777 commented on #17582
Thanks! I am glad it exists!  Is there any way that could be added as a right click option on the tab bar?

[2016-12-20 15:40] eyalsk commented on #17184
@eappatt It would be nice if you could do this though:

This _might_ help them do some internal testing and maybe reproduce it.

[2016-12-20 15:45] kangmingxuan commented on #17269
@Ikuyadeu

In the first snapshot:
Evaluation(Evaluate) should be 求值, NOT 评估.

In the second snapshot:
Closure should be 闭包, NOT 关闭.

[2016-12-20 15:56] isidorn commented on #17556
Dup of #2806

[2016-12-20 15:56] #17556 closed

[2016-12-20 16:15] egamma commented on #17613
@Brocco there already is a setting for this `html.suggest.angular1` that you can set to false. Doesn't this work anymore?

FYI the suggest settings for HTML are:
[code]

[2016-12-20 16:17] egamma commented on #17184
@eappatt thanks for getting back to us. Please reopen the issue when you can reproduce it.

[2016-12-20 16:17] #17184 closed

[2016-12-20 16:22] egamma commented on #17606
@ostap1010 I'm unable to reproduce this behaviour.

Can you reproduce this behaviour when you have all extensions disabled? You can disable the extensions in the Extensions viewlet.

[2016-12-20 16:26] Brocco commented on #17613
I hadn't known about those settings before, but just tried setting `"html.suggest.angular1": false` in both user & workspace settings and am still seeing the angular 1 options (ng-if, ng-include...) in an html file.

I also tried killing and reopening VS Code with no success.

FYI @egamma, this is with the Insiders version, which I use exclusively.

[2016-12-20 16:28] egamma commented on #17605
On OS X opened windows are shown in the Dock menu for VS Code.
On all platforms there is the 'Switch Windows' command provided in the Command palette.

[2016-12-20 16:28] #17605 closed

[2016-12-20 16:30] egamma commented on #17613
@Brocco then this looks like a regression, the implementation of the html support has changed significantly since these options were introduced.

[2016-12-20 16:33] Brocco commented on #17613
I may try to look into this as well, I'll keep you posted if I find something.

[2016-12-20 16:34] egamma commented on #17604
@christianarg formatting of XML is not provided by VS Code but by  an extension. I see that you have the `vs-code-xml-format` extension installed pls report the issue against the repository of this extension https://github.com/FabianLauer/vs-code-xml-format.

[2016-12-20 16:40] egamma commented on #17604
@NikIvan glad you like the editor.

Actually VS Code doesn't support formatting of CSS out of the box, but there are extension that support this. A popular one is [Beautify](https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify)

[2016-12-20 16:40] #17604 closed

[2016-12-20 17:00] mfrost66 commented on #17563
When I enter a value in the "find" input box, it clears my current selection.  Are you suggesting this is by design?

![find](https://cloud.githubusercontent.com/assets/3818866/21359852/2bc989d4-c6a3-11e6-8251-fff5aa8ca1a4.gif)

[2016-12-20 17:02] waderyan commented on #17573
No problem. Thank you for letting us know.

[2016-12-20 17:02] #17573 closed

[2016-12-20 17:06] jrieken commented on #17614
dupe of #5745

[2016-12-20 17:06] #17614 closed

[2016-12-20 17:07] waderyan commented on #17221
This is interesting... Thanks for tracking this down @codeflows.

@dbaeumer @mhegazy can you take a look at this log? Any idea why `"commonjs"` would cause this behavior.

[2016-12-20 17:09] rajinder-yadav opened #17617 "Scrollbar missing in preview on split view."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.4.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-markdownlint|DavidAnson|0.6.0|
|EditorConfig|EditorConfig|0.3.4|
|jslint|ajhyndman|1.2.1|
|jshint|dbaeumer|0.10.15|
|vscode-eslint|dbaeumer|1.2.2|
|tslint|eg2|0.7.1|
|cpptools|ms-vscode|0.9.3|
|Spe

[2016-12-20 17:09] waderyan commented on #17575
@xhonker thank you for opening this issue. I'm having a hard time understanding what the error is.

From what you've shown it looks like <kbd>F12</kbd> is taking you to the correct location.

Can you clarify what you are seeing? Can you share your workspace so I can recreate it on my end?

[2016-12-20 17:13] waderyan commented on #11505
@xujihui1985 can you make your comment in this issue https://github.com/Microsoft/TypeScript/issues/10735

[2016-12-20 17:15] JWess commented on #17430
It does not always reproduce. When I restart VSCode, it doesn't happen for a while.

![vscodeautosavedemo](https://cloud.githubusercontent.com/assets/8697891/21360471/0825350e-c6ae-11e6-802c-f4828b6672a3.gif)

[2016-12-20 17:18] joelday commented on #15952
@jrieken Thanks! Is there a workflow you would recommend for running/debugging/testing?

[2016-12-20 17:19] ostap1010 commented on #17606
Yes, sorry, works ok without extensions. The problem was in editorconfig extension.

[2016-12-20 17:20] harrytang opened #17618 "problem with baseUrl when enableDefaultLanguageUrlCode=true"
Steps to Reproduce:

1. set enableDefaultLanguageUrlCode=true
2. set baseUrl= https://domain.com
3. Yii::$app->urlManager->createUrl(['site/index']);

Result: https://domain.comhttps//domain.com/en-us
Expected: https://domain.com/en-us

[2016-12-20 17:21] jrieken commented on #17612
@gregatcssi Can you share your `tsconfig.json` with me or do have TypeScript configured to be case sensitive?

[2016-12-20 17:23] harrytang commented on #17618
Sorry wrong project :(

[2016-12-20 17:23] #17618 closed

[2016-12-20 17:23] aluanhaddad commented on #17479
@keyiis That is because typings and @types work differently. Check stack overflow.

[2016-12-20 17:28] aluanhaddad commented on #17480
@mjbvz I am aware of those settings, which is precisely why I filed the issue here instead of on the TypeScript repo.

Specifically see this issue https://github.com/Microsoft/TypeScript/issues/10895
It says that the default is to set `"allowSyntheticDefaultImports": true` by default for JavaScript, not TypeScript sources. The reasoning in that issue is that JavaScript projects are often using Bab

[2016-12-20 17:31] theetrain opened #17619 "Add OS-specific dependency PATHs"
- VSCode Version: 1.8.1

I develop on Ubuntu 16 and Windows 10 interchangeably, and my paths to Node, PHP, and others differ on each platform. I'd like to add OS-specific paths in my settings.json since I synchronise my user settings across each platform via Dropbox.

Something like this would be useful:
[code]

[2016-12-20 17:32] coreh commented on #17340
Oh. That seems to be it!

I'm using **U.S. International – PC**. Switching it to the regular U.S. English keyboard, and reopening the VS Code window does make the shortcut text appear.

Under this layout, \`, ', ^, ", and ~ are dead/combining keys to type accented characters like é ã ô ü ç à. This special handling could probably be what's causing it?

[2016-12-20 17:43] chadbr commented on #17544
this one is killing me - please fix asap :)

[2016-12-20 18:06] sandy081 commented on #17544
@chadbr Looks like you are toggling`Match Whole Word`option instead `Match Case` option. Hence you do not see results. First option is for `Match case`. Please hover on the options to know details.

[2016-12-20 18:06] #17544 closed

[2016-12-20 18:13] rogersachan commented on #17619
Definitely, I'd like to be able to do this so I can tailor a working, cross-platform setup for a repo

[2016-12-20 18:15] rajinder-yadav opened #17620 "Scrollbar jump in font increase"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.4.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-markdownlint|DavidAnson|0.6.0|
|EditorConfig|EditorConfig|0.3.4|
|jslint|ajhyndman|1.2.1|
|jshint|dbaeumer|0.10.15|
|vscode-eslint|dbaeumer|1.2.2|
|tslint|eg2|0.7.1|
|cpptools|ms-vscode|0.9.3|
|Spe

[2016-12-20 18:17] BillDenton opened #17621 "Read only/read write indicator in status bar"
- VSCode Version: 1.8.1
- OS Version: Window 7 Professional

Request to add a RW/RO indicator to right side of the status bar. Clicking on the indicator could offer the option to change the status of the file disk. If accepted would read/write status of file on disk, if declined would just allow the file to be edited. Similar to SlickEdit.
Similar is already implemented in extension https://market

[2016-12-20 18:18] rajinder-yadav commented on #17620
Also please add the ability to only increase the font of preview or edit window independently.

1. If a edit window has focus, pressing 'ctrl +' should increase the fonts for all **edit** windows.
2. If a preview windows has focus, then only increase it's font size on key press 'ctrl +'

[2016-12-20 18:25] Invincibear opened #17622 "parameterHints text blurs on scroll when editor zoom level is non-default"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|PowerShell|ms-vscode|0.7.2|

---

Steps to Reproduce:

1. Zoom out from default/reset zoom level (Ctrl + -)
2. In a .psm1 PowerShell file, type a command, begin typing an argument with a hyphen (eg: Write

[2016-12-20 18:26] nijikokun commented on #17619
I also agree this should be a configurable setting, not always are the binaries I would like to develop with are on my PATH

[2016-12-20 18:30] rogersachan commented on #17619
These values will be addable to the user settings or the workspace settings? I'd rather have the latter.

[2016-12-20 18:42] una commented on #14012
It's not much faster for me, just so you know :/

[2016-12-20 18:58] timpler commented on #3702
Note you can use `"window.zoomLevel": -0.5,` in config that will 'zoom out' entire vscode and then to compensate it you can set `"editor.fontSize"` bigger.

[2016-12-20 19:05] roblourens commented on #14012
Hm, roughly how large is the folder that you're searching in? And how long does it take?

[2016-12-20 19:09] roblourens commented on #17337
No, I'm not doing anything to support live edit.

[2016-12-20 19:14] roblourens commented on #17337
node2 doesn't look any more erratic than node-debug to me. It's what I expect, if I insert a line, then the highlight is off by a line.

[2016-12-20 19:22] hbenl commented on #16937
Some documentation would be nice - `"^\"\\${workspaceRoot}/${1:app.js}\""` isn't really self-explanatory (although admittedly I was able to author my snippets with a few rounds of trial-and-error).

[2016-12-20 19:23] viertaxa opened #17624 ""Restart Window" option for extension updates does not restart all instances of VS Code"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Enterprise

Steps to Reproduce:

1. Update Extension
2. Click "Restart" button
3. Only the active window of VS Code restarts, leaving other windows loaded with old plugin versions

[2016-12-20 19:31] mrmlnc opened #17626 "Auto-close brackets before commas"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z) + 1.9.0 latest Insiders build
- OS Version: Windows_NT ia32 10.0.14393

### Disclaimer

I tried to find similar issues, but couldn't. I'm sorry if this issue already exists.

### Steps to Reproduce:

1. Create TS document
2. Create multiple cursors after `=` before semi
3. Press <kbd>[</kbd>

### Expe

[2016-12-20 19:55] chadbr commented on #17544
Ahahahaha, I'm killing myself ... 😂

Sorry about that

[2016-12-20 20:18] tdotcspot commented on #371
+1

[2016-12-20 20:22] egamma commented on #17606
@ostap1010 thanks for verifying. I assume you have reported an issue against the editorconfig extension. I'm closing this one.

[2016-12-20 20:22] #17606 closed

[2016-12-20 20:29] egamma commented on #17563
@mfrost66 the find widget has received lots of input and I cannot reconstruct the history. All I wanted to point out, is that the scenario to replace inside a selection is supported.

Changing the title and assigning to @alexandrudima for further comment.

[2016-12-20 20:36] egamma commented on #17619
CC @weinand @bpasero

[2016-12-20 20:37] egamma commented on #17621
CC @bpasero

[2016-12-20 20:39] egamma commented on #17620
Duplicates #5745

[2016-12-20 20:39] #17620 closed

[2016-12-20 21:07] pzuraq commented on #14945
Any word on this and #15008? I've been fixing it manually but whenever VSCode updates it wipes that out. Really tedious for me, would love to fix it if I can help.

[2016-12-20 21:38] tomdavidson opened #17627 "TS formatter use format settings from tsfmt.json/tslint.json"
Does Code use [typescript-formatter](https://github.com/vvakame/typescript-formatter) for code formatting? If not, how do we sync up tslint settings with the built-in formatter?

[2016-12-20 21:42] WebFreak001 commented on #16937
Implemented and pushed in native debug as well as reverse continue, but as others stated The `"^\"\\${workspaceRoot}/${1:app.js}\""` is really weird, but I just accepted it and used it

[2016-12-20 21:58] hun1ahpu commented on #12833
@bpasero: Both Sublime and Atom do not add new Group on Next/Prev but just circle through existing ones. It kind of makes sense.

[2016-12-20 22:56] Tyriar commented on #17599
Duplicate https://github.com/Microsoft/vscode/issues/10546

[2016-12-20 22:56] #17599 closed

[2016-12-20 23:05] jimmyharris commented on #14613
Is there any issue on this? I am still seeing this issue in git bash on Windows 10 with the latest release of visual studio code.

[2016-12-20 23:07] eamodio opened #17629 "Output (tasks) pane doesn't autoscroll"
- VSCode Version: `1.9.0-insider` 04f541160e0d41be95df9a964b1b570aec549157
- OS Version: macOS Sierra `10.12.2`

Steps to Reproduce:

1. Setup a build task ('m using a powershell script)
2. Open the output pane to `tasks`
3. Trigger a build (I used the hotkey)
4. The tasks pane will clear, but won't autoscroll

I've had the same issue with a `watch` command (also powershell) but the difference the

[2016-12-20 23:23] KevinMcMurry opened #17631 ""Oriya" found in browsers.js"
Found in Tfs.Service\WebAccess\BuiltInExtensions\Content\CodeEditor\0.1.2\vs\languages\css\common\services\browsers.js

Guidance:
- if this is "our" term, please replace with "Odia"
- if references a browser support property or other external, please resolve by design
- if otherwise, please let me know, thanks

[2016-12-20 23:36] Evilcat325 commented on #10097
+1 here, since I started to write CSS module with React and Test alongside my component, my component usually comes as 3 files handle different things but the same component.
[code]
I remember that on VS studio if the file has similar `.extension` name, it would fold as a single file.
This makes my tree view much simpler and less noise in the view.

[2016-12-21 00:05] alefragnani commented on #17621
Hi @BillDenton ,

I just added both enhancements in the extension repo, as you suggested.

Stay tuned

[2016-12-21 00:10] alefragnani commented on #17624
I think this is a duplicate of https://github.com/Microsoft/vscode/issues/3268

[2016-12-21 00:18] tomitrescak opened #17632 "How to add a new action to the editor that replaces editor content and maintains Undo stack ?"
Hi, I have implemented a java code beautifier which I want to plug into the VS Code editor.
When I call 'setValue' or 'setModel' actions of the monaco editor the text is replaced yet undo stack is destroyed and I cannot undo this action.

Any help is greatly appreciated. Thanks.

[2016-12-21 01:13] unional commented on #1435
`TAP` is a test runner. `ava` is what I'm using now. 👍 , over `mocha`

[2016-12-21 01:29] azlan commented on #17505
I'm bringing this issue because of https://github.com/Microsoft/vscode/issues/8869, Ctrl+D behavior is  linked to these settings.

[2016-12-21 01:42] aleksey-bykov opened #17633 "add suppor for codefixes in TypeScript"
per https://github.com/Microsoft/TypeScript/issues/13068#issuecomment-268406440

[2016-12-21 01:43] kvoth3 commented on #16354
Any update on this guys? Also, is this an issue or just a missing feature?

[2016-12-21 01:44] xhonker commented on #17575
Is in the right place. but Intelligent induction  and Intelligent prompt is none

[2016-12-21 02:32] akcorp2003 commented on #17574
I couldn't (and not sure if I did it correctly) build the version 1.8.0 from source. How can I get  a compiled version of 1.8.0 without building from source?

[2016-12-21 02:36] mjbvz commented on #17633
We just merged in #16299 which adds basic support for TS code fixes. The only fixes TS currently supports are adding missing super calls however. We will pick up other fixes as they become available.

[2016-12-21 02:36] #17633 closed

[2016-12-21 02:41] aleksey-bykov commented on #17633
There are imports and unused identifiers fixes already available, please include.

[2016-12-21 02:42] archshift opened #17634 "Add support for additional global config files (in addition to settings.json)"
It would be very helpful for somebody attempting to sync config files between multiple machines if VSCode supported some system for having multiple config files included at a time.

### Benefits:

Imagine a config folder structure like this on a developer's mac:
[code]

And then like this on a developer's linux desktop:
[code]

Using symlinks, then, a developer would be able to have specialized co

[2016-12-21 02:44] mjbvz commented on #17633
@aleksey-bykov You can already try those out once TS supports by installing `typescript@next` but we're not planning to pick up TS 2.2 as the bundled version until next year.

[2016-12-21 02:48] Jonatino commented on #17552
I will take a stab at this :)

[2016-12-21 02:52] chrisdias commented on #16616
@isidorn sorry, added.

[2016-12-21 03:01] ShashankaNataraj commented on #11153
@aeschli Understood, but this is something every paid editor out there implements. VSCode is better than many of them but this is one feature I sorely miss!

[2016-12-21 03:07] kooboo-chenhai opened #17636 "when press ctrl + C it report this... and can't do copy action"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.2|
|vscode-babel-coloring|dzannotti|0.0.4|

---

Steps to Reproduce:
![image](https://cloud.githubusercontent.com/assets/13828467/21376143/a0c72fb4-c76d-11e6-8a32-b934d7b746cf.p

[2016-12-21 03:15] tomitrescak commented on #17632
Just in case anyone stumbles on the same issue, I'm sure it can be handled more graciously, so I'll leave this open for now:

[code]

[2016-12-21 03:22] hstarorg opened #17637 "Format confused when html file has style attribute."
- VSCode Version: 1.8.1
- OS Version: Win10

Steps to Reproduce:

1.  Create a new html file
2.  Enter some tags, and add style attribute in a tag.
3.  Ctrl + Alt + F(Format) Will confused.

[2016-12-21 03:26] nonoroazoro commented on #6992
+1

[2016-12-21 04:01] Meeeeow opened #17638 "Extension panel is blur in Hi-DPI screen"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Version 1607

Steps to Reproduce:

1. A screen with 125% scale
2. Open 'Extension' panel, scroll down, extension name and introduce text is blur, but first one will not blur

![snipaste20161221_115340](https://cloud.githubusercontent.com/assets/19658647/21377018/0e5c3b4e-c775-11e6-9fa2-2a3046a3f916.png)

[2016-12-21 04:03] jiggak opened #17639 "Indentation detection doesn't work with 3-spaces"
- VSCode Version: 1.8.1
- OS Version: any

Steps to Reproduce:

1. Set the following settings:
[code]
2. Open source file that uses 3-space indentation
3. Notice guessed indentation is not 3-spaces (typically guesses 4)

After attempting to debug this it became clear pretty quickly. The `indentationGuesser` is designed to work with [2, 4, 6, and 8 spaces](https://github.com/Microsoft/vscode/blob/1

[2016-12-21 04:18] MarkPieszak commented on #2163
I believe this is fixed now in 1.8+ and can be closed out :+1:  @roblourens

[2016-12-21 04:34] KathyDinh commented on #17221
Hi.

Unfortunately, I am not allowed to share my TypeScript Project either.
I have followed @mjbvz  instruction and my TypeScript trace log looks similar to @codeflows.

I have tried to remove most of the settings in tsconfig.json like what @codeflows did:
[code]
However, Intellisense is still not working and trace log produces same error

[code]

[2016-12-21 04:37] KathyDinh commented on #17221
I tried @dbaeumer suggestion. Intellisense is back and working.

[2016-12-21 04:53] ttn10 commented on #4865
+1 billion

[2016-12-21 04:59] gluons commented on #4865
Please use 👍 reaction please.

[2016-12-21 05:06] khaled-hossain-code opened #17640 "Does not open the folder"
- VSCode Version: 1.8.1
- OS Version: win 10

Steps to Reproduce:

1. right click on any file and open it with visual studio.
2. click on explorer and it is said no folder opened which is a problem.
https://postimg.org/image/jpw8sbmsx/

if I have to use another file of the folder then I have to open the folder manually or I have to drag a file inside. I request to open the folder automatically as

[2016-12-21 05:10] khaled-hossain-code opened #17641 "Git Bash opening from vs code"
- VSCode Version: 1.8.1
- OS Version: win 10

Request for feature:-
Each time I have to install a npm package I have to open my git bash terminal, as it is the only one which does not give any error while I am installing. can you please add any shortcut so that I can open git Bash in the present directory from vscode.

[2016-12-21 05:19] sivaecekrr commented on #17447
@kieferrm Installed angular1,angular2 by johnpapa and vscode-icons extensions. I have tried to open yeoman project folder which contain js files and tried to run grunt commands in the terminal.
After opening the VS Code and started typing, within some time it got stuck and not responding message shown and got crashed.
Thanks.

[2016-12-21 06:00] mhegazy commented on #17221
Looks like a TS bug. @KathyDinh can you share the full log? Or a sample project?

[2016-12-21 06:02] mhegazy commented on #17221
@waderyan we should probable move this to the TS issue tracker.

[2016-12-21 06:17] atombender opened #17642 "Cmd-G should work in Explorer"
- VSCode Version: 1.8.1

Steps to Reproduce:

1. Search for something
2. Hit Cmd-Shift-E to activate explorer
3. Hit Cmd-G
4. Nothing happens

Cmd-F still works.

I found this out when I was looking for something in some specific files. I clicked on the file, hit Cmd-G and expected matches in that file to be highlighted.

[2016-12-21 06:25] Jai1122 opened #17643 "Provide a way to manually reload an opened file"
- VSCode Version:1.8.1
- OS Version:Windows 7 64 bit

I am trying to analyze the log files. It would be very helpful if i have a feature like a button click or a command to reload a file from disk. I can see the file being reloaded automatically but i am expecting a command to reload the file manually/only when needed.

Any suggestion or help on this feature please?

Thanks,
Jai.

[2016-12-21 06:30] iamdevlinph commented on #932
+1

Any update on this one?

[2016-12-21 06:34] Abdullah2993 commented on #6442
Any update on this?

[2016-12-21 06:49] iamaaron opened #17644 "Ubuntu Installation Not Installing Launcher Icon Pack"
- VSCode Version: 1.8.1
- OS Version: Ubuntu 16.04 LTS

Steps to Reproduce:
1. Install VSCode on Ubuntu via .deb file from https://code.visualstudio.com/
2. Notice that the Launcher icon is missing.

Some notes:
- /usr/share/icons/ does not include an icon pack for VSCode.
- The solution to copy an image to /usr/share/icons/ does not apply the Launcher icon.
- The solution to create a code.desktop

[2016-12-21 06:55] mysticatea opened #17645 "Auto-indentation goes to wrong in arrow callbacks"
- VSCode Version: 1.9.0-insider (04f541160e0d41be95df9a964b1b570aec549157)
- OS Version: Windows 7

Steps to Reproduce:

![wrong-auto-indent](https://cloud.githubusercontent.com/assets/1937871/21379909/e3887d04-c794-11e6-8e98-7d81aa168797.gif)

- In an arrow function as a callback.
- The start of the line is an opening parenthesis.
- I typed a `*` character.

I searched with `"auto indent js is:is

[2016-12-21 07:22] sandy081 opened #17646 "Enhance Search in Default Settings editor"
Enhance Search in Default Settings editor

- [x] [Preferences: cannot find "cssempty" or "css empty"](https://github.com/Microsoft/vscode/issues/17536)
- [x] [Search in Settings editor - not standard search](https://github.com/Microsoft/vscode/issues/17436)
- [x] [Preferences: decorations on whitespace](https://github.com/Microsoft/vscode/issues/17161)
- [x] [Too much fuzzy matching in settings](h

[2016-12-21 07:59] #16508 closed

[2016-12-21 08:24] Chengyanzhao opened #17647 "i need a comments section in extention"
- VSCode Version:1.8.1
I need a comments section in extension!
it's can help me learn more skills by other users.

[2016-12-21 08:26] dennisfrostlander commented on #17400
Could you also consider if the following scenario would be addressed by using the word pattern?

This time, it is the opposite case. Identifiers are not quoted (e.g. Table, OtherTable), but the user types it with quotes.
1. The user types the following and triggers the code completion as shown:
[code]
Note: character ^ is for illustration purposes only and shows where code completion is triggered.

[2016-12-21 08:34] #17624 closed

[2016-12-21 08:35] bpasero commented on #932
Just install https://marketplace.visualstudio.com/items?itemName=tomoki1207.selectline-statusbar

[2016-12-21 08:38] bruceauyeung commented on #17574
updating existing extensions and searching for extensions both dont work here behind a proxy.
vscode: 1.8.1
os: kubuntu 16.04

[2016-12-21 08:42] jrieken commented on #16508
@Microsoft/vscode This will be in the next insider build *including* a warning that complains about environment variables that are undefined while the user shell environment is still loaded. It should only be false positives, but in case something doesn't work (like a Task, debugger, or an extension) check you console for messages, like: `process.env['VSCODE_DEV'] is undefined AND 'process.lazyEnv

[2016-12-21 08:48] chrmarti commented on #17340
Yes, I guess so.

[2016-12-21 08:50] mkyjakova opened #17648 "[loc][Query][VSCode] Please clarify the context"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Copy to Settings

File Name:
src\vs\workbench\parts\preferences\browser\preferencesEditor.nls.resx

Resource ID:
".resx", 0; "copy"
".resx", 0; "copyToSettings"

Query:
Can you please provide some more context for this string? Where/when does it appear?

[2016-12-21 08:51] isidorn commented on #2163
@MarkPieszak no, it is not fixed unfortunetly 🐝

[2016-12-21 08:52] mkyjakova opened #17649 "[loc][Query][VSCode] Please provide more context"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Select a value and copy to Settings

File Name:
src\vs\workbench\parts\preferences\browser\preferencesEditor.nls.resx

Resource ID:
".resx", 0; "selectAndCopySetting"

Query:
Can you please provide more context for this string? Where/when does it appear? Thanks!

[2016-12-21 08:53] mkyjakova opened #17650 "[loc][Query][VSCode] Please clarify the string"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Toggle View Pinned

File Name:
src\vs\workbench\browser\parts\activitybar\activitybarActions.nls.resx

Resource ID:
".resx", 0; "toggle"

Query:
"Does this mean 'toggle the pinned view?"	Junyoung.lee	12/14/2016 8:54:09 AM

[2016-12-21 08:59] isidorn commented on #16937
@hbenl @WebFreak001 the ^ json escaping is explained in our json doc [here](https://code.visualstudio.com/docs/languages/json#_json-schemas-settings)
This is needed only if you use ${workspaceRoot} or a similar variable in your snippet. The problem is coming from the fact that snippet variables have the same syntax as our debug variables, so these need to be escaped (otherwise they would be replac

[2016-12-21 09:00] angexis opened #17651 "toggleTerminal shortcut does not work on French keyboard layout"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.4.0-53-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|material-icon-theme|PKief|1.1.5|
|vscode-docker|PeterJausovec|0.0.10|
|ActiveFileInStatusBar|RoscoP|1.0.2|
|path-intellisense|christian-kohler|1.2.0|
|githistory|donjayamanne|0.1.4|
|python|donjayamanne|0

[2016-12-21 09:06] octref opened #17652 "Message box is cramped"
- VSCode Version: Code - Insiders 1.9.0-insider (04f541160e0d41be95df9a964b1b570aec549157, 2016-12-20T07:05:16.928Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.2|
|debugger-for-chrome|msjsdiag|2.4.1|
|vetur|octref|0.1.2|
|language-stylus|sysoev|1.6.0|
|vim|vscodevim|0.4.9|

---

At half screen size:

![image](https://cloud.gi

[2016-12-21 09:08] isidorn commented on #17175
Closing as this issue is only appearing on narator. Correct me if I am wrong here

[2016-12-21 09:19] ljusten opened #17653 "Streamline find & replace in selections"
Find and replace text in a selection is cumbersome. You have to
1) Mark the selection.
2) Hit CTRL+H to open the Find&Replace tool.
3) Remember to click "Find in selection". If you type into the "Find" field the selection is cleared and you have to start over again.
4) Click the "Find" field.
5) Erase previous text.
6) Enter text to find.
7) Hit tab to get to the "Replace" field.
8) Erase previous

[2016-12-21 09:20] dbaeumer commented on #17607
Hmm, there is a progress indicator for tasks. The spinning / in the left corner of the status bar next to the error indicator. Are you suggesting a % progress indicator?

[2016-12-21 09:22] isidorn commented on #17629
Can not repro.
Tried with using a custom output from an extension using this snippet
Also tried with openinging output pane to tasks, triggering a vscode build

Assigning to @dbaeumer to try to repro as this also might be how tasks are using output.

[code]

![tasks](https://cloud.githubusercontent.com/assets/1926584/21383680/4c11c52a-c767-11e6-816a-19fa87599e79.gif)

[2016-12-21 09:24] dbaeumer commented on #17629
I am not able to reproduce this either using as task producing quite some output. @eamodio can you share a project showing the problematic behavior. Would help tracking it down.

[2016-12-21 09:25] NitroG42 commented on #4429
While I can understand this behaviour, I'm disappointed there is no way to do that. Visual Studio Code seems awesome for use on Projects, but for single/multiple files editing in different context, not so much.
I think fixing this would require deepchange in what a workspace is (not a folder but something more meta, with "empty workspace" becoming a workspace that can have files and folders, and t

[2016-12-21 09:26] dbaeumer commented on #17566
@aeschli is this possible. I know that extensions can contribute JSON schemas however I am not sure if they can modify existing once.

[2016-12-21 09:28] shanalikhan commented on #15455
Ok im also posting another one.
1- Computer Started
2- Started Code - F1 - Performance
3- Took about more than 30 seconds to load only

![capture](https://cloud.githubusercontent.com/assets/8774556/21383880/abdc8888-c789-11e6-9fc9-ab94da80db2c.PNG)

[2016-12-21 09:28] isidorn commented on #17171
This should work nicely in latest - please try with vscode 1.8.1

[2016-12-21 09:39] vytautas-pranskunas- opened #17654 "Custom coloring for picked color theme"
It would be great if there section in user settings appear where user can define custom coloring for picked color theme and those override or extend existing. Because now if I want to add just different color for function color i have to create new theme from scratch.

[2016-12-21 09:42] aspirisen opened #17655 "Editor: Add Git diff margin (Change Markers)"
- VSCode Version: 1.8.1
- OS Version: Win 10

There is a good plugin for Visual Studio which is called [GitDiffMargin](https://github.com/laurentkempe/GitDiffMargin). It shows diff by lines in the editor and you can revert particular changes.

### This is how it works in Visual Studio:
This is original code
![image](https://cloud.githubusercontent.com/assets/3620639/21383991/75832bee-c779-11e6-9cf

[2016-12-21 09:56] lorthirk opened #17656 "Zoom Out hotkey not working on macOS and Italian layout"
- VSCode Version: 1.8.1
- OS Version: macOS Sierra 10.12.2

Steps to Reproduce:

1. Set Italian layout in macOS
2. Start VSCode
3. Zoom in with cmd+= hotkey (maps to cmd+ì in Italian), see it works
4. Zoom out with cmd+- hotkey (maps to cmd+' in Italian), see it doesn't works

[2016-12-21 10:09] waglebr opened #17657 "Request: "Open in Terminal" option for Windows"
- VSCode Version: 1.8.1
- OS Version: Windows 10 version 1607

Now that Windows 10 offers the Bash Terminal, it would be great if VS Code had the "Open in Terminal" option for Windows as well.

[2016-12-21 10:11] JensLykkeBrandt commented on #17607
Yes.

The spinning wheel is... well... a bit dated. In a nostalgic ASCII-kind of way :-)
A progress-indicator is less stressful if its reliable: the spinning doesn’t tell me if a sub-task is hanging or not – all I can do is wait patiently. Not a typical programmer-skill close to a deadline.

But creating a progress-indicator is hard. Often the output is almost identical to the last run, but what i

[2016-12-21 10:13] rjmacarthy commented on #17424
Same issue here.

[2016-12-21 10:14] mamsoudi opened #17658 "Add Duplicate option to tree view context menu"
- VSCode Version: 1.8.1
- OS Version: Windows 10

Steps to Reproduce:

1. Right Click on a Folder in Tree View!
2. There's no option to duplicate the file!

I can do it by copying the file and pasting it in the same folder! But why!? It's much faster to have an option for duplicating a File! and Happens to me a lot that I need to duplicate a File! Thanks in advance! 👍

[2016-12-21 10:19] bpasero commented on #17650
The wording is not very good, but the action label is also not exposed in the UI currently. A view can be pinned or unpinned and "Toggle View Pinned" basically means to switch between the view being pinned or not pinned. A pinned view in the activity bar is sticky and will not close when opening another view. This behaves much like when you keep a program in the taskbar on windows.

[2016-12-21 10:19] #17650 closed

[2016-12-21 10:19] salcam opened #17659 "Tag HTML with style attribute"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|angular-material-snippets|4tron|0.3.1|
|crane|HvyIndustries|0.2.2|
|format-indent|Kasik96|1.3.0|
|Bookmarks|alefragnani|0.10.1|
|python|donjayamanne|0.5.5|
|php-debug|felixfbecker|1.10.0|
|Angular1|johnpapa|0.1.16

[2016-12-21 10:22] lorthirk opened #17660 "Wrong "edt" order in action bar guide"
- VSCode Version: 1.8.1
- OS Version: macOS 10.12.2

Steps to Reproduce:

1. Open the action bar with cmd+p
2. Type ? to show the guide
3. See that the three edt commands are in the wrong order (probably alphabetical, screenshot attached)

<img width="670" alt="schermata 2016-12-21 alle 10 59 18" src="https://cloud.githubusercontent.com/assets/8140139/21384868/90dee3ae-c76c-11e6-813a-5d7523c5d2db.

[2016-12-21 10:28] vfloyd6 opened #17661 "Performance issues when using several "code parsing" plugins"
- VSCode Version:1.8.1
- OS Version:windows 7 Enterprise 64bits

Hello,

I have a big project with a lot of source code files and several languages used (c/c++, java, python).

I'm very interested in the autocomplete and code parsing features. I first tried to install the extension "C/C++" from Microsoft. It works great and the performances are good. You don't have to wait when ctrl clicking a sym

[2016-12-21 10:47] NikosEfthias commented on #17424
i solved (kinda) the issue by adding a new line to the end of files well this not the solution but at least it works

[2016-12-21 11:01] egamma commented on #17661
@vfloyd6

What exactly becomes slow?
- Does autocomplete in C/C++  become slow
- Does autocomplete in Java become slow?
- How does your folder look like? Does your folder include both Java and C++?

[2016-12-21 11:05] egamma commented on #17660
I agree `edt one`, `edt two`, ``edt three` would look more natural.

![image](https://cloud.githubusercontent.com/assets/172399/21386928/9773634e-c775-11e6-813f-f82a6079bf3e.png)

[2016-12-21 11:33] vfloyd6 commented on #17661
The ctrl click on a symbol becomes very slow. When I have only c/c++ installed it takes less than 1second to jump to the definition. When I have more than 1 language support enabled it can take up to 10-15 seconds. I didn't test for the autocomplete but I guess this is the same since it is long to find the definition it should be even longer to find the related members/functions. I will confirm th

[2016-12-21 11:38] mattacosta commented on #15818
Well, as someone that has already done a lot of exploration into an IDE extension for PHP back in February/March, I actually agree with @mousetraps on needing a custom implementation.

Initially, I too tried to start with a generated parser. My "little" concept extension needed to work across all systems and not have any dependencies on the installed PHP version, so I needed a JS/TS implementation

[2016-12-21 11:38] keeshuizer commented on #10625
I also ran into this problem, is there any news about a fix or workaround for this?

[2016-12-21 11:43] mkyjakova opened #17663 "[loc][Query][VSCode] Please clarify the placeholders"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Showing {0} of {1} Settings

File Name:
src\vs\workbench\parts\preferences\browser\preferencesWidgets.nls.resx

Resource ID:
".resx", 0; "showCount"

Query:
{0} of {1} will be replaced with numbers? Thanks!	AL-PC5	12/14/2016 11:36:07 AM

[2016-12-21 11:50] ivancuric opened #17664 "macOS: Support proxy icon in custom title bar"
I love the new dark titlebar, but since the only way to move files in the explorer tab was via the proxy icon I kinda miss the functionality now. Is there any way to bring back the behaviour or improvise it some other way?

- VSCode Version: 1.8.1
- OS Version: MacOS Sierra

[2016-12-21 11:54] MarkPieszak commented on #2163
Oh strange maybe I was in another tab sorry! Apologies :(

[2016-12-21 12:01] #17657 closed

[2016-12-21 12:03] waglebr commented on #17657
I realized that I just had to insert `"terminal.integrated.shell.windows": "C:\\Windows\\sysnative\\bash.exe"` to the User Settings.

[2016-12-21 12:05] mkyjakova opened #17665 "[loc][query][VSCode] Please clarify localizability"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Controls if turning on Zen Mode also puts the workbench into full screen mode.
Hot Exit is now enabled by default
Hot Exit remembers any unsaved files between sessions, so you don't have to save your files before you exit. You can disable this feature with the 'files.hotExit' setting.

File Name:
src\vs\workbench\ele

[2016-12-21 12:14] mkyjakova opened #17666 "[loc][Query][VSCode] Please clarify the string"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Search default settings
Search Default Settings

File Name:
src\vs\workbench\parts\preferences\browser\preferencesWidgets.nls.resx

Resource ID:
".resx", 0; "SearchSettingsWidget.AriaLabel"
".resx", 0; "SearchSettingsWidget.Placeholder"

Query:
Is Search a verb here?  	CnE_Developer_Moravia_ITA1@hotmail.com	12/14/201

[2016-12-21 12:16] mkyjakova opened #17667 "[loc][query][VSCode] Please clarify the string"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Most Commonly Used

File Name:
src\vs\workbench\parts\preferences\common\preferencesModels.nls.resx

Resource ID:
".resx", 0; "commonlyUsed"

Query:
Please clarify what this refers to. Is it the most commonly used settings? Thanks!

[2016-12-21 12:37] adelphes opened #17668 "Allow variables to be displayed in a different base during debugging"
Integer variables are always displayed in decimal format in Locals, Watches and on hover.

It would be nice to have a context menu option to allow the values to be displayed in binary, octal or hexadecimal format, perhaps with a "debug.displayBase" option for a default configuration value.