[2016-05-24 09:57] alexandrudima opened #6766 "integrated terminal: customizing colors through user settings is a bit weird"
Testing #6654

Our story so far when it comes to customizing colors is through themes (fyi @aeschli ). Exposing color values in the user settings makes our story inconsistent. e.g. it would be nice to share a theme as an extension that also customizes the integrated terminal, I think the theme format is open-ended to support any amount of additional keys? This also opens the door for requests such

[2016-05-24 09:57] isidorn opened #6767 "Provide option to show all variables in the variables view (when count > 100)"
#6658
- VSCode Version: alpha
- OS Version: os x

Steps to Reproduce:
1. debug the Typescript repo - checker.ts
2. notice that we only show 100 variables, currently there is no way to show all the 900 variables
3. we could offer the user an option to list all variables - for example via a context menu action on the scope

![screen shot 2016-05-24 at 11 57 05](https://cloud.githubusercontent.com/as

[2016-05-24 09:58] jrieken commented on #6504
We made filtering already independent of the currentWord but use text selected by `overrideBefore` (which default to the current word). In effect filtering is now custom to each suggestion. I wonder if we can do the same for selecting the best match.

[2016-05-24 09:59] dbaeumer opened #6768 "code --installl-extension needs id which is not very user friendly"
- VSCode Version: code-alpha
- OS Version: Linux

To install an extension via the command line you need to know the extensions id which is currently not very visible (only available in the URL). We should either state that this way to install and extension is for pure automation or we should make the feature more user friendly. If I for example type code --install-extension vscode-eslint it should

[2016-05-24 09:59] #6658 closed

[2016-05-24 10:01] Darival opened #6769 "multi-cursor editing stops working on ubuntu"
- VSCode Version: 1.1.1
- OS Version: Ubuntu 16.04

alt+click and column selection "hold shift" + "alt" + "drag" stopped working gradually, now i can't use these at all.

[2016-05-24 10:04] sandy081 commented on #5767
Looks good. Closing.

[2016-05-24 10:04] #5767 closed

[2016-05-24 10:04] alexandrudima opened #6770 "`unixLike` is probably better, but inconsistent?"
Testing #6654

I am not an expert in unix distributions, and most likely `unixLike` is a better term than `linux`/`osx`, but then we should align and use `unixLike` everywhere.

For example, in `tasks.json` (@dbaeumer) and in `package.json` keybindings contributions we use `linux` and `osx` separately. I am not sure about the `launch.json` (@weinand knows better)

[2016-05-24 10:05] dbaeumer opened #6771 "code --unistall-extension: incorrect extension hint."
- VSCode Version: code-alpha
- OS Version: Linux

Steps to Reproduce:

1. code --uninstall-extension xxxx

Observe: you get a message:
[code]

The last line would be better:
[code]

Note that the sample should be ms.vscode-csharp and not ms-vscode-csharp

[2016-05-24 10:07] isidorn opened #6772 "Peek definition should highlihght the line number"
#6655

Peek definition should highlihg the exact line where the definition is, as in some cases it is not clear as to what exact line the user should be looking at, as in this case:

![screen shot 2016-05-24 at 12 05 22](https://cloud.githubusercontent.com/assets/1926584/15500188/dbfca74c-21a7-11e6-9ab1-f885b6f0dfbc.png)

[2016-05-24 10:07] bpasero commented on #6637
My feeling is that this happens because the main process of VS Code is associated with the first desktop and the second window talks to the main process to bring up the window. I am not sure how to change this.

[2016-05-24 10:09] dbaeumer commented on #6770
For tasks I think it is actually useful yo distinguish between Linux and OS X since it refers to programs to be executed which can be different. However thinking about it tasks should even distinguish between different Linux distributions since they can have different disk layouts.

[2016-05-24 10:13] weinand opened #6773 "Integrated Terminal: after exiting PowerShell, a new PowerShell process is lingering"
while testing https://github.com/Microsoft/vscode/issues/6654:

- VSCode Version: 1.1.0 alpha
- OS Version: Windows 10

Steps to Reproduce:

- launch integrated terminal
- open Task Manager and remember process id of PowerShell process
- in integrated terminal type 'exit'

Observe:
- integrated terminal becomes empty (and unusable)
- in Task Manager a new PowerShell process exists

[2016-05-24 10:14] bpasero commented on #6686
@bgashler1 this would rather be an issue with VS Code not detecting file changes. I tried to reproduce with a simple case but failed:

![untitled](https://cloud.githubusercontent.com/assets/900690/15500428/f6db95b8-21a8-11e6-8bf7-d2d7547e60fc.gif)

Does it reproduce all the time for you? Specific steps?

[2016-05-24 10:15] isidorn opened #6774 "Can read property 'getLineCount' of null"
#6655

- VSCode Version: alpha
- OS Version: os x

Steps to Reproduce:

1. open gulpfile.js
2. peek definition on `all` varialbe
3. get the hover in the peek definition
4. hit esc -> notice exception

![screen shot 2016-05-24 at 12 13 24](https://cloud.githubusercontent.com/assets/1926584/15500461/1c1ea68a-21a9-11e6-8e54-0e281d649c14.png)

[2016-05-24 10:18] weinand commented on #6770
@alexandrudima where are you seeing the 'unixLike' ?

[2016-05-24 10:18] saml commented on #1033
As per https://github.com/Microsoft/vscode/blob/71f93aa38eed15c56d23845904e4dab245b86cc3/src/vs/workbench/electron-browser/main.ts#L53-L55  ,  need to set VSCODE_CLI=1 envvar to make this work.

For example, using latest release:

[code]

The following still gets overwritten:

[code]

The following works as expected:

[code]

[2016-05-24 10:19] isidorn opened #6775 "Can not read property then of undefined"
#6655

- VSCode Version: alpha
- OS Version: os x

Steps to Reproduce:

1. open .html file
2. find all references -> notice exception

![screen shot 2016-05-24 at 12 18 28](https://cloud.githubusercontent.com/assets/1926584/15500606/b9b514c4-21a9-11e6-91f7-de607cd2f902.png)

[2016-05-24 10:19] sandy081 commented on #6748
Looks like this has to be supported across CSS, SASS and LESS.

[2016-05-24 10:22] isidorn opened #6776 "Peek definition and goto definition for css?"
#6655

- VSCode Version: alpha
- OS Version: os x

Steps to Reproduce:

1. open a .css file notice that there are 'Peek definition' and ' goto definition'
2. These actions do not do anything in css - why do we have them in the context menu?
3. I would expect them not to be in the context menu - same as for .html

[2016-05-24 10:24] jrieken opened #6777 "double vs single down arrow is bad alternative to enablement"
#6536

The editor groups show a double down arrow to toggle between different editors of the group. When there is only a single editor in the group, the group shows a single arrow. Instead of changing the icon it should use enablement to show if there is more than one editor in a group.

[2016-05-24 10:25] sandy081 commented on #6776
These are used for variables see #3077. Hence they are enabled.

[2016-05-24 10:25] #6776 closed

[2016-05-24 10:27] jrieken commented on #6749
this is really annoying.

[2016-05-24 10:30] #6690 closed

[2016-05-24 10:31] isidorn commented on #5915
I still see this with latest using the sample above

[2016-05-24 10:37] dbaeumer commented on #6667
@jrieken this doesn't seem to be the case for JS. Here is a screen shot with Code Complete in a JS file in our smoke test. Interestingly snippets appear at the end here:

[2016-05-24 10:38] dbaeumer commented on #6667
I will remove the May milestone since this is nothing we can cleanup for May. However we need to agree on a better story here.

[2016-05-24 10:39] bpasero commented on #6747
I am opting for now showing settings at all...

[2016-05-24 10:39] #6655 closed

[2016-05-24 10:44] dbaeumer opened #6778 ""editor.wordBasedSuggestions": false but still getting word based suggestions in mark down"
- VSCode Version: code-alpha
- OS Version: Linux

Steps to Reproduce:

1. set "editor.wordBasedSuggestions": false
2. open a markdown file
3. request code complete

Observe: the list contains word based suggestions:

![capture](https://cloud.githubusercontent.com/assets/1931590/15501367/641390d2-21ad-11e6-840d-6e4386805863.png)

[2016-05-24 10:47] jrieken opened #6779 "multiple close actions in Open Editors section"
#6536

![may-24-2016 12-46-41](https://cloud.githubusercontent.com/assets/1794099/15501404/9a927d4e-21ad-11e6-89a8-701a7fd2442c.gif)

sometimes when dragging an item within a group section the close actions don't hide

[2016-05-24 10:49] jrieken commented on #6778
Good catch. That's for sure for those that come from workers...

[2016-05-24 10:53] isidorn commented on #6779
Dup of #6674

[2016-05-24 10:53] #6779 closed

[2016-05-24 11:04] jrieken commented on #6667
my guess is that that's because of the sortText some suggestions in JS have. we should digg into that...

[2016-05-24 11:21] tebeco commented on #69
Hi, it seems I missed something  :

Here is my configuration (Domain / User / Pass are Url Encoded in the following pictures)
![image](https://cloud.githubusercontent.com/assets/2266487/15501332/3844ea8c-21ad-11e6-8dc4-145284537e7f.png)
![image](https://cloud.githubusercontent.com/assets/2266487/15501186/7026bc9c-21ac-11e6-922a-a00d423ef6bc.png)

DevTools :
![image](https://cloud.githubusercontent

[2016-05-24 12:07] natewallace commented on #6255
which git = /usr/local/bin/git
echo $PATH = /usr/local/bin:/usr/bin:/usr/sbin:/sbin

I tend to always open vscode using the command line via an automator script.  Just now I started vscode using finder and it worked.  I then tried it via the automator script and it didn't work.  I then tried it using the command line directly and it worked.  I then tried via the automator script again and it worke

[2016-05-24 12:08] dbaeumer opened #6780 "JSON rewriting support should offer to write to user or workspace settings"
- VSCode Version: code-alpha
- OS Version: Linux

Steps to Reproduce:

1. Have a workspace with workspace settings
2. Follow steps in https://github.com/Microsoft/vscode/issues/6657

Observe: a message appears that asks you that you have workspace settings and answer with open workspace settings. However the opened workspace setting doesn't contain the file association. It is still added to global

[2016-05-24 12:09] dbaeumer commented on #6667
Yes, it is because of the sort text. @aeschli and I debugged it. However from an end user experience this is confusing. We should invest into a better and more consistent story here.

[2016-05-24 12:11] alexandrudima commented on #6770
`integratedTerminal.shell.unixLike` configuration option. My point is that in the rest of VSCode we have two explicit settings/options for osx / linux. I wasn't sure what you do for the `launch.json` (i.e. can there be platform specific settings and how does it look like)

[2016-05-24 12:22] jrieken opened #6781 "openEditors.visible and openEditors.maxVisible"
#6536

We have two competing/overlapping settings with  "explorer.openEditors.maxVisible" and "explorer.openEditors.visible". I suggest to remove the latter and embrace the already implemented behaviour of `maxVisible = 0`.

[2016-05-24 12:28] dbaeumer opened #6782 "Configure file association action insert broken rule for default settings file"
- VSCode Version: code-alpha
- OS Version: Linux

Steps to Reproduce:

1. Configure setting
2. Put cursor into 'Default Settings' editor
3. Press on JSON in the status bar and execute 'Configure File Association....'

Observe: a rule like this is inserted:
[code]

Either the action should be disabled for the default settings editor or the property should be something like "Default Settings"

[2016-05-24 12:29] isidorn commented on #6781
Not sure about that. Assigning to @bpasero to get his opinion

[2016-05-24 12:30] alexandrudima commented on #6531
You are correct, the merge decorators don't show up if the file is already opened:

![merge-decorators](https://cloud.githubusercontent.com/assets/5047891/15503794/ff33d2b2-21bb-11e6-8533-4df8637c0acd.gif)

[2016-05-24 12:31] joaomoreno commented on #69
You should check with your proxy administrator to know how authentication should happen. Usually the `http://user:password@host:port/` scheme works.

[2016-05-24 12:32] joaomoreno commented on #1033
We now set this variable in all places that code should launch from the command line.

So, what is the full location of your global `code` command?

[2016-05-24 12:33] dbaeumer opened #6783 "Configure file associations not inserting value when settings is dirty and value got removed before"
- VSCode Version: alpha
- OS Version: Linux

Steps to Reproduce:

1. auto save off
2. open JSON file
3. Configure File Association
4. Remove inserted association but don't save
5. redo step 3

Observe: nothing is inserted into the settings file. I know why, but from a user presepctove not expected.

[2016-05-24 12:34] alexandrudima opened #6784 "Integrated terminal cursor is in the wrong position after resize"
Testing #6654

![terminal-resize-cursor](https://cloud.githubusercontent.com/assets/5047891/15503889/8ea06f78-21bc-11e6-87ed-b82ec2435930.gif)

[2016-05-24 12:34] dbaeumer commented on #6783
Actually that doesn't even work if 3 and 4 are left out.

[2016-05-24 12:35] dbaeumer commented on #6783
... when the settings.json file is dirty.

[2016-05-24 12:35] joaomoreno commented on #6255
This is very odd. No idea what is going on there... If you open it several times successfully with the Automator script, the reproducibility is random?

[2016-05-24 12:35] alexandrudima commented on #6735
The same problem occurs on Ubuntu 16.04 when using `clear` -- the cursor disappears

[2016-05-24 12:35] jrieken opened #6785 "dragging an editor pins it"
#6536

* open two different files in two groups - both editors a preview-editors
* use the Open Editors and drop the editor from the _right_ group up to the _left_
* the editor is now pinned and not in preview anymore

[2016-05-24 12:37] weinand commented on #5915
This works fine on Windows.
On OS X and linux only 8192 characters are coming through the output event. It seems that console.log uses a buffer of that size.

[2016-05-24 12:37] joaomoreno commented on #6771
Concerning your last comment, the id is indeed [`ms-vscode.csharp`, isn't it](https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp)?

[2016-05-24 12:38] jrieken commented on #6667
Agree. The idea of the _sortText_ was to give suggestions with complex labels a any chance to get a good sorting. Problem with JS salsa suggestion is that it sets the sort text to either `0` or `1`.

[2016-05-24 12:38] bpasero commented on #6749
Yes, drives me nuts as well.

[2016-05-24 12:39] natewallace commented on #6255
It seems random at initial start up.  If it's working the first time I launch the app it tends to stay working until I shut down my computer.  The reverse is true as well.  If it's not working at initial start up then it tends not to work up until I shut down my computer.

[2016-05-24 12:40] bpasero commented on #6777
@stevencl @bgashler1 what are your thoughts on using enablement? my fear is that enablement is not strong enough indicator if you have a editor group that is not active (and the action shows with slight dimming).

[2016-05-24 12:42] weinand commented on #6770
Yes, I agree keeping Linux and OS X separate is preferred. For debug adapters we use these names:

![2016-05-24 14-40-43](https://cloud.githubusercontent.com/assets/1898161/15504110/a6f6a8c0-21bd-11e6-9315-1fa384d5475d.png)

[2016-05-24 12:42] bpasero commented on #6764
@jrieken can you clarify how this would work?
* are you saying that ~ shows all editors and ~left shows all editors of the left group
* are you suggesting to have a close action within quick open?
* are you suggesting to use the same sort order for navigating across all groups vs a single group?

[2016-05-24 12:44] bpasero commented on #6759
Noticed this too but it could just be a consequence of the font we are using. We could also play with opacity to draw it less prominent.

[2016-05-24 12:45] bpasero commented on #6777
@bgashler1 assigning to you because it is related to https://github.com/Microsoft/vscode/issues/6756 too.

[2016-05-24 12:45] bpasero commented on #6756
Agree.

[2016-05-24 12:46] bpasero commented on #6781
I think this is fine as long as we put a proper comment in settings to explain this.

[2016-05-24 12:48] joaomoreno opened #6786 "I can recursively peek definitions"
Testing #6662

Recursively peeking definitions ends in this state:

![image](https://cloud.githubusercontent.com/assets/22350/15504256/689ea630-21be-11e6-82f7-4afb8f934690.png)

After the first peek, the trees in the following peeks are always empty.

Is this expected?

[2016-05-24 12:48] jrieken opened #6787 "Allow to configure where editors open"
#6536

* see attach gif
* from a folder I have two files pinned
* from the folder I know preview each file and I don't understand why determines their sort order

![may-24-2016 14-45-43](https://cloud.githubusercontent.com/assets/1794099/15504268/76d33b1c-21be-11e6-8050-91a3acbaa124.gif)

[2016-05-24 12:49] joaomoreno opened #6788 "Improve editor.stablePeek documentation"
Testing #6662

The current message for `editor.stablePeek` is:

Maybe rephrase it to:

[2016-05-24 12:49] joaomoreno commented on #6662
Not super comfortable with the setting name, but I lack a better suggestion.

[2016-05-24 12:50] jrieken commented on #6786
It's cool but it should not be like that ;-)

[2016-05-24 12:51] arniu commented on #6611
I mean the keyword `where` will not be highlighted, just rendered with no color.

[2016-05-24 12:51] bpasero opened #6789 "Fill settings automatically when associating file extensions"
The user should be able to make a permanent decision of associating a file extension to a mode. This could work as follows:

* user selects clicks on language picker
* user clicks on entry to "Permanently associate extension"
* user gets asked for the language mode to store
* user gets asked to store it in workspace or global settings
* change is made and user is informed that settings have been u

[2016-05-24 12:52] alexandrudima commented on #983
@cliffowen What keyboard layout do you have configured?

What happens when you go to Preferences > Keyboard Shortcuts and click on the Define Keybinding and type `cmd + numpad+` , `cmd + numapd-` ?:

Here I am doing it with `ctrl` as I am on a Windows machine:

![keybindings](https://cloud.githubusercontent.com/assets/5047891/15504406/0fbf366e-21bf-11e6-889c-a99e0155a159.gif)

[2016-05-24 12:55] bpasero commented on #6747
We reverted the change in favour of the real solution which needs more work and is outlined in https://github.com/Microsoft/vscode/issues/6789

[2016-05-24 12:55] #6747 closed

[2016-05-24 12:55] bpasero commented on #6715
https://github.com/Microsoft/vscode/issues/6789

[2016-05-24 12:55] #6715 closed

[2016-05-24 12:55] bpasero commented on #6712
https://github.com/Microsoft/vscode/issues/6789

[2016-05-24 12:55] #6712 closed

[2016-05-24 12:55] jrieken commented on #6764
No, first I suggest to not use `~`, then yes `left` shows all editors from the left group, `right` all editors from the right group (corresponding to the title the Open Editors section).

Yes, like Cmd+P is having an icon to open to the side

No, I suggest that the sorting of left/center/right groups equals the sorting of the corresponding quick open piece.

[2016-05-24 12:56] joaomoreno opened #6790 "Terminal: Can't press Escape key"
Testing #6654

The escape key surfaces to the workbench, closing the terminal. This is bad in situations where commands really need the escape key, such as vim.

[2016-05-24 12:56] alexandrudima commented on #6482
`code --disable-extensions` disables only user installed extensions and allows the built-in extensions. Is it possible that you have some left-over extensions in your extensions folder ?
[code]

If that folder is empty, then `code --disable-extensions` should be identical to `code` without the flag.

[2016-05-24 12:58] joaomoreno opened #6791 "Terminal: should inherit editor font by default"
Testing #6654

The terminal should inherit the editor's font family and size, by default, instead of providing another default list of fonts.

[2016-05-24 12:59] joaomoreno commented on #6460
I suggest to just close it.

[2016-05-24 12:59] jrieken opened #6792 "little drop when transitioning from preview to pinned"
#6536

* open a file in preview
* when pinning it, it's representation in the Open Editors view drops by a pixel or so

![may-24-2016 14-57-54](https://cloud.githubusercontent.com/assets/1794099/15504591/fb6aec52-21bf-11e6-9082-eda9fac1959e.gif)

[2016-05-24 13:02] joaomoreno opened #6793 "Terminal: tab completion is weird in zsh"
Testing #6654

Maybe this should be filed to the original JS tty implementation.

When typing a command name in the prompt like:

![image](https://cloud.githubusercontent.com/assets/22350/15504680/6996eb86-21c0-11e6-9e9f-003ec158bf3b.png)

And tabbing, I get a few characters repeated:

![image](https://cloud.githubusercontent.com/assets/22350/15504683/6cb80b42-21c0-11e6-94c0-044d6ae77980.png)

Onl

[2016-05-24 13:03] isidorn commented on #6781
We already have a proper comment in settings
ping @stevencl to also get his opinion

closing for now

![screen shot 2016-05-24 at 15 02 40](https://cloud.githubusercontent.com/assets/1926584/15504713/94565352-21c0-11e6-8fbd-0ac55d68e994.png)

[2016-05-24 13:04] bpasero commented on #6764
+1 for making the groups more explicit in quick open and accessible.

@jrieken currently we also have `~` for showing a list of all opened editors in their spatial order (tabs like, `Cmd+Alt+Tab`) and then we have `~>` for showing editors in their MRU order per group (corresponds to pressing `Cmd+Tab`). Would you still expect `~` to work as today (with maybe added close actions)?

[2016-05-24 13:05] bpasero commented on #6781
@isidorn I meant it is fine for me to merge both options. we can add it if people are confused.

[2016-05-24 13:06] stevencl opened #6794 "Preview file does not split"
- VSCode Version:1.1.0-alpha
- OS Version: Windows

Steps to Reproduce:

1. Open a markdown file
2. Click the preview button
3. Now click the split button

Expected: editor to split and show preview in both editors
Actual: Nothing happens

[2016-05-24 13:07] joaomoreno commented on #6770
`unixLike` felt strange to me, when I first saw it. I would keep it separate too.

[2016-05-24 13:08] #6654 closed

[2016-05-24 13:09] stevencl opened #6795 "Closing all files in a group except for a markdown file does not update overflow control icon"
- VSCode Version:1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open multiple files into one group, ensure a markdown file is open
2. In the open editors list, close all files except the markdown file

Expected: Markdown editor overflow control should indicate that the group only contains one file
Actual: Overflow control indicates that there are multiple files in the group

[2016-05-24 13:11] bpasero commented on #6795
@stevencl having a hard time reproducing this, any more reproducible steps? can you reliably reproduce?

[2016-05-24 13:16] bpasero commented on #6536
@stevencl @jrieken @joaomoreno sorry, it should be Ctrl+Tab on Mac not Cmd+Tab for navigating in MRU order. I guess you figured that out already.

[2016-05-24 13:17] stevencl commented on #6795
Yes, I can repro it each time. For example:
![overflow](https://cloud.githubusercontent.com/assets/1704059/15505169/24a0cf70-21ba-11e6-87bc-1bb2bdb8ece2.gif)

[2016-05-24 13:21] aeschli opened #6796 "code-alpha --install-extension errors are in JSON"
Testing #6099
[code]

Having the error as JSON is uncommon. Should be a human readable string.
If structured error messages are useful, maybe add a extra option to the command that defines the resonse format.

[2016-05-24 13:24] joaomoreno opened #6797 "The file names labels seem to be misaligned"
Testing #6536

![image](https://cloud.githubusercontent.com/assets/22350/15505347/6d94f112-21c3-11e6-9014-15401dab11b5.png)

[2016-05-24 13:24] alexandrudima commented on #6329
@aleksey-pastuhov You could also try upgrading to vscode 1.1 which includes a new Chromium version (49 instead of 45!), maybe it got fixed in the meantime in Chromium

[2016-05-24 13:25] joaomoreno opened #6798 "Migrated opened files should not be italic"
Testing #6536

The migrated opened files from the last time I had Code running, before stacks, should not be italic.

[2016-05-24 13:25] dbaeumer commented on #6771
You are correct. My mistake. ms-vscode is the publisher and csharp the extension name. Got confused since our extensions all begin with vscode- in the name which actually is somehow bogus.

[2016-05-24 13:25] aeschli opened #6799 "code-alpha --install-extension lets me install the same extension twice"
Testing #6099
[code]

[2016-05-24 13:26] isidorn commented on #6701
I could not repro this, but pushed a fix which should prevent this null pointer exception.

[2016-05-24 13:26] #6701 closed

[2016-05-24 13:27] stevencl commented on #6786
It would be great to be able to cascade peek definition (and references). Visual Studio supports cascading peek and shows a breadcrumb above the peek window to indicate how deep you have gone:
![peek](https://cloud.githubusercontent.com/assets/1704059/15505464/9484b59e-21bb-11e6-8acc-e9c57b18b51f.png)

[2016-05-24 13:29] weinand opened #6800 "passing a non-existing launch config to 'vscode.startDebug' does not return an error"
While testing https://github.com/Microsoft/vscode/issues/6248:

- VSCode Version: 1.1.0 alpha
- OS Version: OS X

Passing a non existing launch config name to the 'vscode.startDebug' command does not result in an error but launches the first launch config instead.

Since the 'vscode.startDebug' command has become part of our 'official' API, we have to protect ourselves against incorrect values and

[2016-05-24 13:32] Sampo123 opened #6801 "Code format stopped working"
- VSCode Version: 1.0.0
- OS Version: Debian Jessie

Steps to Reproduce:

Really hard to say once again. Everything was fine for a week or so but then the code format just does nothing. Which is a bitch. Also seems to start with random indentation time to times when for example { is added and enter pressed.

Only error I got from the developer console is this:

/usr/share/code/resources/app/node_m

[2016-05-24 13:32] #6705 closed

[2016-05-24 13:37] Maximus5 opened #6802 "Badly formed version information in the VSCodeSetup.exe"
- VSCode Version: 1.1.1
- OS Version: Win 8.1

Just downloaded `VSCodeSetup-stable.exe`.
Sadly it shows version `0.0.0.0` in numerical file and product versions, and "0.0.0.0" in string file version.
Only string product version contains proper "1.1.1".
Please clean up them to let users see proper version in file managers.

[2016-05-24 13:38] jrieken commented on #6764
I am slowly grasping the full complexity of this. So we have (1) spatial and (2) temporal order and we have listing of editors per group (L,C,R) and of all editors (*). That make it 2x4. I wonder if we can achieve the grouping by typing. ala `editors` shows spatial or temporal order and the `editor left` keeps the order but does further filtering and likewise with another prefix for the other sort

[2016-05-24 13:41] joaomoreno opened #6803 "Split action seems to inherit a few opened files from an existing group"
Testing #6536

From this state:

![image](https://cloud.githubusercontent.com/assets/22350/15505900/adadc006-21c5-11e6-9d18-54a639573337.png)

Split the first editor and you get this:

![image](https://cloud.githubusercontent.com/assets/22350/15505909/b587a90e-21c5-11e6-9c51-def4bfb69e25.png)

I expected:

- Left with `appveyour.yml`
- Center with `appveyour.yml`
- Right with `package.json`

[2016-05-24 13:43] #6700 closed

[2016-05-24 13:43] joaomoreno commented on #6777
Agree with disablement. The icon could look more like a 3 horizontal line icon like:

![image](https://cloud.githubusercontent.com/assets/22350/15506047/42799a98-21c6-11e6-9c64-11cf6d65e560.png)

[2016-05-24 13:44] #6650 closed

[2016-05-24 13:44] #6657 closed

[2016-05-24 13:45] AlexChesser commented on #6426
Hey @joaomoreno

**User PATH**
[code]

**System PATH**
[code]

crash running as normal or Admin user user:
[code]

I should also note that VSCODE *does* actually finish launching and appears to be usable so I'm not entirely sure what is crashing.

![capture](https://cloud.githubusercontent.com/assets/355561/15506012/d165c0f2-2193-11e6-90f9-3bd80416a6e4.PNG)

Another "lead" might be the fact that I

[2016-05-24 13:45] joaomoreno opened #6804 "Split action should always pin the editor it creates"
Ditto

[2016-05-24 13:47] stevencl commented on #6785
This is by design - we believe that the act of moving the editor indicates that the user intends to work with the editor. We also only support one preview editor in each group (that's part of the definition of a preview editor). So we couldn't drop a preview editor into a group already containing a preview editor and still persist it as a preview editor.

[2016-05-24 13:48] aeschli opened #6805 "code-alpha --install-extension: How to know the id"
Testing #6099

When installing an extension with `code-alpha --install-extension` I need to pass the id that includes publisher and name.
It's not easy to find that id out. Especially the publisher part is not mentioned on the marketplace page itself: https://marketplace.visualstudio.com/items?itemName=donjayamanne.python
It is in the URL of that page though.

It would be good if it where as easy

[2016-05-24 13:50] #6702 closed

[2016-05-24 13:53] weinand opened #6806 "launching debug via 'vscode.startDebug' API does not work if there is no launch config"
While testing https://github.com/Microsoft/vscode/issues/6248:

- VSCode Version: 1.1.0 alpha
- OS Version: OS X 10

Steps to Reproduce:

- create the simple CS Code extension (TypeScript)
- use this code in the sample extension:
[code]
- press F5
- in the new VS Code window create and open a new workspace
- create a file test.js with this contents:

[code]
- trigger the 'Hello' action

Observe:
t

[2016-05-24 13:56] alexandrudima opened #6807 "Suggestions need a kick to show documentation"
Type `subs` on a string, after moving down and up again the documentation shows...

![suggestions-doc](https://cloud.githubusercontent.com/assets/5047891/15506457/01a544b6-21c8-11e6-80e4-f5f125577c9a.gif)

[2016-05-24 13:59] joaomoreno commented on #6807
Got broken somehow...

[2016-05-24 13:59] joaomoreno commented on #6807
cc @jrieken

[2016-05-24 14:00] joaomoreno commented on #6805
Duplicate of #6768

[2016-05-24 14:00] #6805 closed

[2016-05-24 14:02] joaomoreno commented on #6426
Nothing is crashing. You're just getting log output from the crash service, which is a service that logs crashes. 👍

The problem here is that you are getting that output, when you shouldn't.

Can you change your user `PATH` and replace `%PROGRAMFILES(x86)%\Microsoft VS Code\` with `%PROGRAMFILES(x86)%\Microsoft VS Code\bin`, restart and try again?

[2016-05-24 14:03] joaomoreno commented on #6799
Duplicate of #6732

[2016-05-24 14:03] #6799 closed

[2016-05-24 14:04] #6099 closed

[2016-05-24 14:04] joaomoreno commented on #6796
Duplicate of #6761

[2016-05-24 14:04] #6796 closed

[2016-05-24 14:04] weinand opened #6808 "launching debug via 'vscode.startDebug' API does not work if there is the selected launch config doesn't match the debug type"
testing https://github.com/Microsoft/vscode/issues/6248:

- VSCode Version: 1.1.0 alpha
- OS Version: OS X 10

Steps to Reproduce:

Use the setup from https://github.com/Microsoft/vscode/issues/6806:

- make sure that running the 'Hello' command still launches the node debug session correctly.
- add this fake launch config to the launch.json:

[code]

- in the drop down menu select 'Fake'
- run th

[2016-05-24 14:04] bpasero commented on #6795
Ah good, the important part is that you close hidden editors :)

[2016-05-24 14:11] weinand opened #6809 "passing launch config without a 'type' attribute to 'vscode.startDebug' does not return an error"
testing https://github.com/Microsoft/vscode/issues/6248:

- VSCode Version: 1.1.0 alpha
- OS Version: OS X 10

Steps to Reproduce:

- use the setup from https://github.com/Microsoft/vscode/issues/6806
- remove the 'type' attribute
- run 'Hello' command

Observe:
no error is reported.

'type' is a mandatory attribute that should result in error if missing.
But it should be possible to omit attribut

[2016-05-24 14:16] #6248 closed

[2016-05-24 14:17] digaomatias commented on #313
How long until a solution for this?

[2016-05-24 14:28] #6580 closed

[2016-05-24 14:28] bpasero commented on #6764
@jrieken well we do not show spatial order per group, and we do not show MRU order across all groups, so we have 1 spatial across all and 1 MRU per group. I like the idea of having a way to type into a group (e.g. editors to show all and editors left to search within a group). I would not think there is a strong use case for MRU order across all editors or spatial order within a group (for now at

[2016-05-24 14:29] aeschli commented on #6801
With what languages are you see this?
When format stops working, are other features still doing fine? E.g. Code completion, hovers....

[2016-05-24 14:32] aeschli commented on #6746
Can you add a screenshot that shows where you would like to get that information?

[2016-05-24 14:34] joaomoreno commented on #6802
![image](https://cloud.githubusercontent.com/assets/22350/15507816/5ec175ca-21cd-11e6-977c-45e5241ba58a.png)

As long as it shows in the product version, this is OK.

[2016-05-24 14:35] bpasero commented on #6792
Also noticed it and might be font related again.

[2016-05-24 14:37] bpasero commented on #6787
@jrieken actually @joaomoreno was also confused by this but I am trying to mimic what a tab folder would do: the fact that an editor is in preview mode means that when you open another preview editor, we close the one you have first and then open the other one +1 to the right of the currently one (that is all "tabs" would open to the right of the currently active one).

In this case it looks weird

[2016-05-24 14:37] isidorn opened #6810 "Sidebar pushed out of view when window is very small"
- VSCode Version: alpha
- OS Version: OS X

Steps to Reproduce:
1. open vscode, do not have it full screen, have it just occupy a portion of the screen
2. open developer tools
3. open editors side by side -> layout get broken due to limited size

As you pointed out wokrbench is not aware that the developer tools got opened and thus the layout gets broken.

![screen shot 2016-05-24 at 15 48 14](htt

[2016-05-24 14:38] bpasero commented on #6785
Yes, intentional.

[2016-05-24 14:38] #6785 closed

[2016-05-24 14:38] bpasero commented on #6810
This is likely because I am not aware of the fact that developer tools steel vertical space from me.

[2016-05-24 14:39] aeschli commented on #6734
Yes, our css/less/sass supports are single file only.

[2016-05-24 14:40] aeschli commented on #6751
@mattdufeu You maybe want to ask this question on stackoverflow.

[2016-05-24 14:42] alexandrudima commented on #6807
It works if you type slowly...

[2016-05-24 14:42] natewallace commented on #6255
I was able figure out how to use the debug tools to trace through the code and I think I understand what is going on.

It looks like my problem is in the following section of code:
https://github.com/Microsoft/vscode/blob/889fe706989a52613d5698c72252a4e1a0f67b0d/src/vs/workbench/parts/git/electron-browser/electronGitService.ts#L47-L84

I tested opening vscode using my automator script and for some

[2016-05-24 14:43] bpasero commented on #6737
More insights:
* it does reproduce on Windows only for me
* it does reproduce in our shipped release already
* it seems to be related to the fact that we spam the output panel with lots of output (thousands) in short time

[2016-05-24 14:44] alexandrudima commented on #612
For verifications. Ways to remove the emmet for example:

[code]

[2016-05-24 14:47] #6471 closed

[2016-05-24 14:48] joaomoreno commented on #6255
Good catch. That still doesn't explain why it works *sometimes* though...

Also, what do you get when running `$SHELL -ilc env`? We run this on startup to get the correct environment in Code, which should make it pick up `/usr/local/bin/git` as the right `git` to use.

[2016-05-24 14:48] bpasero commented on #6596
@bgashler1 @stevencl when @joaomoreno tested this today (i looked over his shoulder) we also wondered if there should be a "Close All Editors" on the overflow menu of a group because people might misunderstand it as a way to close all editors of the group. Maybe we should not have the other close actions in there?

[2016-05-24 14:48] jrieken commented on #6742
@sandy081 What editor font setting do you use? It looks very small

[2016-05-24 14:48] vasametropolis commented on #6613
I may not be able to provide a sample repo because we are using GitHub enterprise and I'm not allowed. I will, however, try to find time to reproduce it today and hopefully offer more details.

[2016-05-24 14:49] joaomoreno commented on #6787
It is not as much *moving* it as it is *placing* it.

I wouldn't find it so weird if *any* new editor would always open at the end of its group.

[2016-05-24 14:49] jrieken commented on #6741
sort of by design

[2016-05-24 14:52] sandy081 commented on #6742
Following are my custom user settings:

// Place your settings in this file to overwrite the default settings
{
    "editor.fontSize": 10,
    "files.autoSave": "afterDelay",
    "editor.renderWhitespace": true
}

[2016-05-24 14:54] jrieken commented on #6764
Well, Cmd+P is showing that, right? I am not saying we need all of those. I am aiming for an inventory and then we might have different ideas.

[2016-05-24 14:55] jrieken commented on #6787
that

[2016-05-24 14:56] chrisdias commented on #6671
@joaomoreno Not sure how to phrase this... I can make the blog post to be more clear about this, and that is a more durable document.

[2016-05-24 14:56] mdickin opened #6811 "Closing HTML tags with hyphens are not deindented properly"
- VSCode Version: 1.1.1
- OS Version: Windows 7 x64

Steps to Reproduce:

1. Open an HTML file
2. Type "someTag" and hit Tab, Enter
3. Closing tag is placed on newline at same indentation level as opening tag
4. On a new line, type "some-tag" and hit Tab, Enter
5. Closing tag is indented from opening tag

![hyphenated tags](https://cloud.githubusercontent.com/assets/16612667/15508609/c48257e0-2195

[2016-05-24 15:03] bpasero opened #6812 "Revisit that preview editors show up under "Opened Editors""
Some issues:
* for one it makes it very hard to double click on a file in the explorer to pin it because the first mouse down adds it already and pushes down the view
* then people are confused that the preview editor is open in one position but when you open another editor the preview editor might move up because that other editor was elsewhere
* Joao also does not like the italic decoration when

[2016-05-24 15:03] #5591 closed

[2016-05-24 15:04] joaomoreno commented on #5591
Verification, search by `cpptools`, it should show the C++ extension.

[2016-05-24 15:05] bpasero commented on #6764
@jrieken Cmd+P is yet another source of navigation which does not match any of the ones we have for stacks/tabs because it is is a history of any editor you ever opened regardless of the editor being closed or not. Ctrl+Tab and Cmd+Alt+Tab get their items removed when you close an editor.

So, I think we end up having three: MRU in group, spatial across all groups and MRU in general editor history

[2016-05-24 15:06] weinand opened #6813 "contentprovider-sampler: remove 'out' folder from repository"
testing https://github.com/Microsoft/vscode/issues/6675:

- Remove 'out' folder from contentprovider-sampler sample. The other samples do not have the generated code and maps either.

- The contentprovider-sampler does not have a '.vscode' folder with launch configuration. This is inconsistent with the other sample folders.

[2016-05-24 15:06] bpasero commented on #6787
@joaomoreno @jrieken maybe you could comment on https://github.com/Microsoft/vscode/issues/6812

I am wondering if we should remove the whole idea of showing the preview entry under "opened editors". I think it would fix some issues.

[2016-05-24 15:07] sandy081 commented on #6744
This is true for SASS variable declarations, hence removed CSS tag.

[2016-05-24 15:10] Maximus5 commented on #6802
That is **not** OK! The product version is useless. Imagine, I have thousands of PE files in folder, and as I've said, file manager is able to show **file version**. What meaning has **product** version if I'm browsing **files**?
Don't you suggest to open properties of each file to realize what is it? Instead of take a look in column "file ver"?
So...

[2016-05-24 15:15] zliiii opened #6814 "VSCode Stop Working"
- VSCode Version: 1.1.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open VSCode
2. I get the following screen

![image](https://cloud.githubuserc
![capture](https://cloud.githubusercontent.com/assets/527813/15509173/91f388ac-21a0-11e6-88a5-bb6ccbd62a9f.PNG)
ontent.com/assets/527813/15509095/4617558a-21a0-11e6-9d73-90ce05fcc77a.png)

[2016-05-24 15:20] RandScullard commented on #189
I just noticed that "Ctrl + click to follow link" on a URL still uses the old behavior, so the behavior is now inconsistent between Go to Definition and URLs.

[2016-05-24 15:27] #6806 closed

[2016-05-24 15:27] #6808 closed

[2016-05-24 15:27] zliiii commented on #6814
VSCode stop working after I intalled VS2015 updates

[2016-05-24 15:31] zliiii commented on #6814
It works but very very slow

[2016-05-24 15:31] #6814 closed

[2016-05-24 15:32] saml commented on #1033
Using linux.

[code]

[2016-05-24 15:37] newtack commented on #2521
Any update when this will be available?

[2016-05-24 15:46] Maximus5 commented on #6802
![2016-05-24_18-43-08](https://cloud.githubusercontent.com/assets/1222388/15510350/9e4212a6-21df-11e6-87e2-4e6617e6b488.png)

Even within Explorer. I just do not want to have spare column to see the version.

[2016-05-24 15:59] AlexChesser commented on #6426
Are you a wizard?! (aka: yes, that worked ... thanks)

[2016-05-24 15:59] #6426 closed

[2016-05-24 16:00] tugberkugurlu opened #6815 "Debug hover should have flexible horizontal size"
When you hover over a variable and expand some variables on debug mode, you see the text is not fitting the box:

![image](https://cloud.githubusercontent.com/assets/328122/15507248/bb6c7d2a-21c2-11e6-84ca-b34feaa7e22e.png)

VS Code Info:

[code]

dotnet CLI info:

[code]

[2016-05-24 16:03] natewallace commented on #6255
I get the following from my terminal after running the command:
[code]

I get the following when running the command using the exec function within a running instance of vscode that doesn't recognize git being installed:
[code]

[2016-05-24 16:07] M-Zuber opened #6816 "vs code hangs for while when pressing the tab key for the first time"
- VSCode Version: 1.1.1
- OS Version: Win 10 home

Steps to Reproduce:
1. Open vs code
2. Press the tab key
3. Wait a second or two
4. Get control back
5. Go crazy as it won't happen again until a new instance is opened or an indeterminate amount of time has passed

[2016-05-24 16:07] blendsdk opened #6817 "Monaco Editor Again"
Hi,

Is there any news regarding embedding the monaco editor ina custom HTML page?
I read several posts here and I would like to get an update.

Please pardon me If this question has been answered before.

Thank you.

[2016-05-24 16:09] aaskat commented on #6626
Hello. I made video for this problem.
https://www.dropbox.com/s/e07m581qicygpnk/Untitled.mp4?dl=0

[2016-05-24 16:19] #6675 closed

[2016-05-24 16:28] scottste commented on #6816
I've noticed this as well even after doing `code-insiders --disable-extensions`.

- VSCode Version 1.1.1-insider
- OS Version: OS X 10.11.5

[2016-05-24 16:52] aaskat commented on #6626
I wanna contribute to project. how can I start? if you give me small tasks, like bugs fixing i can resolve  it.

[2016-05-24 17:14] lzybkr commented on #6684
Yes.  See my stackoverflow answer if you want to run the 64 bit version of PowerShell:

http://stackoverflow.com/questions/19055924/how-to-launch-64-bit-powershell-from-32-bit-cmd-exe

[2016-05-24 17:23] Sampo123 commented on #6801
I'm using it with JavaScript. Intellisense and everything else are pretty much fine and even error checking works at normal level. Just the format stopped working. Only other noteworthy thing  is that VS Code seems to be bit off with indentation also at some points. Like when adding a curly bracket at the end of the line and then the cursor is between the curly brackets and I press enter it indent

[2016-05-24 17:25] sumonto commented on #6080
I cannot repro the issue after the latest VS Code updates.
Can you assign this back to me, without closing it?

[2016-05-24 17:35] cliffowen commented on #983
Again, I am using a Mac.. and using El Capitan (since I did not mention that before). The keyboard layout is ANSI US. I speculate the layout is correct though, as VMWare and Parallels both handle the keyboard properly. Actual keyboard is a Logitech Wave.

Oddly enough, Numpad + and - are fine (numpad_add and numpad_subtract). It's the numbers that are not correct. In the capture window, they repor

[2016-05-24 17:40] nojvek opened #6818 "When VSCode crashes it should automatically restart"
It seems this is a very frequent occurrence. It seems like this is a slow freeze crash, which means it happens when editor is left alone overnight.

I understand there is a bug to track but it seems related to the limitation of node giving only 1GB memory. Rather than showing the crash popup, how about just auto-restarting it to the state it was after 30 seconds?

[2016-05-24 17:43] bgashler1 commented on #6812
**Why it might be good to remove them:**

- I also haven't been loving the italicized text in Open Editors now that I've been using it.  I didn't feel like it was strong enough of an indicator to help me find a preview editor that was buried somewhere in a group (it's like a needle in a haystack--I ).  I didn't notice that the preview editor was moving in the group, but after seeing @jrieken's gif

[2016-05-24 17:43] Tyriar commented on #6790
Duplicate of https://github.com/Microsoft/vscode/issues/6455, I'm interested in your thoughts on this @joaomoreno if you want to comment. <kbd>esc</kbd> to dismiss would certainly be useful to close the terminal, and vim is the only example I could think of. Not sure if it should be a setting or what.

[2016-05-24 17:43] #6790 closed

[2016-05-24 17:46] Tyriar commented on #6770
:+1:

[2016-05-24 17:47] #6646 closed

[2016-05-24 17:48] Tyriar commented on #6729
It's wobbly when there is not enough content to fill up the panel. I made it bottom aligned to prevent the wobbliness when the terminal had content.

Not sure there is a way around this unless we fork term.js and change the way that the terminal is represented. Doing so would also enable improvements to selection and enable scroll bars (#6602).

[2016-05-24 17:57] Tyriar opened #6819 "Duplicate lines displayed in editor"
No solid repro for this unfortunately. What I recall doing (Ubuntu 16.04):

1. Copying:

[code]
2. <kbd>ctrl</kbd>+<kbd>n</kbd>
3. Save as "b.scss"
4. Paste

![image](https://cloud.githubusercontent.com/assets/2193314/15514479/0e72bda6-219e-11e6-9c4d-9cecbfb524c8.png)

[2016-05-24 17:59] Tyriar opened #6820 "CSS variable go to definition does not follow Sass/Less @import's"
#6656

Create a.scss:

[code]

Create b.scss:

[code]

Go to definition on `--css-var` doesn't work.

[2016-05-24 18:02] Tyriar opened #6821 "Find all references only finds either definition or usages"
#6656

Both definition and usages should be found, regardless of which type of reference was selected.

![image](https://cloud.githubusercontent.com/assets/2193314/15514633/dac66a60-219e-11e6-8c7e-8fb1b4e0f158.png)

![image](https://cloud.githubusercontent.com/assets/2193314/15514659/fcdf4900-219e-11e6-86ce-41c9105ea713.png)

[2016-05-24 18:04] Tyriar commented on #6821
Opps, it works when I use the right syntax (`var(...)`)

[2016-05-24 18:04] #6821 closed

[2016-05-24 18:06] Tyriar opened #6822 "var should be a suggestion in intellisense css/sass/less"
#6656

CSS

![image](https://cloud.githubusercontent.com/assets/2193314/15514746/71e0cde6-219f-11e6-87d6-93248b160ffb.png)

Sass

![image](https://cloud.githubusercontent.com/assets/2193314/15514735/60b93152-219f-11e6-8160-2fa520763423.png)

Less

![image](https://cloud.githubusercontent.com/assets/2193314/15514763/83fb48bc-219f-11e6-876e-35c41f0bf489.png)

[2016-05-24 18:07] Tyriar commented on #6822
Related to this, when `var(` is types, intellisense should pop up.

[2016-05-24 18:08] Tyriar opened #6823 "Color indicator should appear next to css variables"
#6656

![image](https://cloud.githubusercontent.com/assets/2193314/15514824/d4481e12-219f-11e6-89d0-b19ea06e00ce.png)

[2016-05-24 18:09] v-pavanp opened #6824 "PWD in terminal window is chopping off when changing vscode display position to different resolution (multi monitor scenario)"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows10

Steps:
1. Make sure you are working with multiple monitor.
2. Launch VSCode and update setting in settings.json to powershell terminal.
3. Launch terminal window and change VSCODe position to other monitor (From 1280x1024 to 1280x800) and make it full size.

Actual: Once user drag and drop vscode to other monitor then path for the present work

[2016-05-24 18:12] Tyriar opened #6825 "Expanding a CSS variable within var() sometimes add another var inside"
#6656

This is the most reliable repro I found:

![image](https://cloud.githubusercontent.com/assets/2193314/15514901/3ccf3ad8-21a0-11e6-9109-a54f88fbf344.png)

![image](https://cloud.githubusercontent.com/assets/2193314/15514912/477ad53c-21a0-11e6-9e80-a901f911250a.png)

[2016-05-24 18:14] Tyriar opened #6826 "Presented intellisense for variable definitions is not useful"
#6656

![image](https://cloud.githubusercontent.com/assets/2193314/15514959/85f3bb6c-21a0-11e6-8df9-59be4980c1dd.png)

Expanding add the border snippet:

![image](https://cloud.githubusercontent.com/assets/2193314/15514987/a654bece-21a0-11e6-939f-8654e8107d1a.png)

[2016-05-24 18:17] Tyriar opened #6827 "[css] add property type validation"
A red squiggle would be good here:

![image](https://cloud.githubusercontent.com/assets/2193314/15515044/f087defe-21a0-11e6-8ef1-28b6243db9b3.png)

[2016-05-24 18:21] Tyriar opened #6828 "Support more languages in Ctrl+hover (LESS, CSS)"
#6656

This might be a larger problem with the peek feature.

![image](https://cloud.githubusercontent.com/assets/2193314/15515142/81d8f884-21a1-11e6-87e1-7c14e2c946b0.png)

[2016-05-24 18:24] Tyriar opened #6829 "CSS variable go to definition always goes to the first definition, even when multiple exist in different scopes"
In this example, the variable has 3 definitions:

![image](https://cloud.githubusercontent.com/assets/2193314/15515198/d4f68c8e-21a1-11e6-99b4-5a28395190af.png)

[2016-05-24 18:26] Tyriar commented on #6723
Yes the plan was to remove this after adding it to stable (which I did yesterday). Thanks for the reminder :)

[2016-05-24 18:27] pcherkasova opened #6830 "Lost my work on unix mount"
I have a mounted remote drive with sshfs.
I edit files from this drive with vscode.

At some moment the mount disconnected and then connected again.
When it was disconnected I tried to access one of my remote files in "vscode working files".

Unfortunately I do not remember exact sequence and I cannot repro.
The fact is that after the mount restored, vscode showed me a version of the remote file t

[2016-05-24 18:27] #6656 closed

[2016-05-24 18:29] bgashler1 commented on #6777
I think we need to look at the long term of where this is going.  We introduced the single vs. double arrow because of tabs.  Having two different types of arrows for Open Editors isn't necessary with tabs disabled, but it can be helpful for tabs.  To be consistent we used them in both.

**Single Arrow**
Single arrow does not mean disabled.  It means that none of your editors are overflowing.  You

[2016-05-24 18:32] bgashler1 commented on #6787
See my comment at https://github.com/Microsoft/vscode/issues/6812#issuecomment-221348884

[2016-05-24 18:34] Darival commented on #6769
Fix is here:
https://2buntu.com/articles/1529/visual-studio-code-comes-to-linux/

[2016-05-24 18:38] nwgh commented on #6110
Code was definitely not running prior to starting from the GUI (this happened immediately after a cold boot).

The output of `$SHELL -ilc env` is at https://gist.github.com/nwgh/78e8db860bc09e4d9278b463eadce79e (I wasn't sure whether you wanted output if it's run from a terminal or as a task within code, so I added both, as well as the tasks.json used to run the command).

Looking at the output, t

[2016-05-24 18:43] skovmand commented on #6649
Just tried it on my Ubuntu 15.10 laptop. Renaming the code.desktop to vscode.desktop gives me both title and icon.

I have no clue why, but the same problem was on both systems

[2016-05-24 18:55] Tyriar commented on #6160
@isidorn I couldn't figure out how to debug the C++ program. I did the following:

- Install cpptools
- Create `vscode-repro.cpp`
- Tried to debug, I need to compile first
- After some experimenting I landed on this to compile: `g++ -Wall -Wextra -Werror -std=c++11 -c vscode-repro.cpp -o vscode-repro.out`
- Tried to debug, hit this:

  ![image](https://cloud.githubusercontent.com/assets/2193314/15

[2016-05-24 18:55] lucnoc commented on #6375
@alexandrudima restart and checking processes does not seem to show anything related to vscode.

@joaomoreno nope this is my laptop - a MacBook Pro (15-inch, Early 2011) 2.2 GHz Intel Core i7 - 8 GB 1333 MHz DDR3 running OS X version 10.11.4 (15E65)

[2016-05-24 18:56] v-pavanp opened #6831 "Allow to launch terminal window without file extension."
- VSCode Version: 1.1.0-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Make sure you are working with multiple monitor.
2. Launch VSCode and update setting in settings.json to powershell terminal without extension "exe".
![image](https://cloud.githubusercontent.com/assets/17735796/15515260/1c7b7be6-21a2-11e6-81a0-915c406082f2.png)
3. Launch terminal window by pressing CTRL+` and verify app

[2016-05-24 18:57] Tyriar commented on #6555
@joaomoreno In that case #6588 should fix the problem as you're not meant to run electron directly.

[2016-05-24 18:58] Tyriar commented on #6397
Instead of another setting, how about a generic command line args setting? `--disable-gpu` is another common one people want.

[2016-05-24 19:00] Tyriar commented on #6321
@joaomoreno ditto

[2016-05-24 19:01] kieferrm commented on #6786
Recursive peeking is useful in a lot of situations. However, I'd expect it to reuse the existing window and on ESC or close box to take down only the most topmost one.

[2016-05-24 19:10] bkbonner opened #6832 "Debugging is *painfully* slow when using readline.on"
- VSCode Version:  1.1.1
- OS Version:  OSX  10.11.2 (15C50)
- Using Nodejs 5.4.1 or 6.2.0

Steps to Reproduce:

`
const fs = require('fs');
const readline = require('readline');

const rl = readline.createInterface({
    input: fs.createReadStream('accounts')
});

rl.on('line', (account) => {
    console.log('checking account: ', account);
});
`

accounts file has a list of strings:
00133883
0028

[2016-05-24 19:37] weinand commented on #6662
@kieferrm please close item after setting last checkbox.

[2016-05-24 19:37] #6662 closed

[2016-05-24 19:38] CarlosTorrecillas commented on #6198
@vaishnav4226 the official steps (including running the sh script) did the trick for me as well. Thanks @jasonmm

[2016-05-24 19:44] alexandrudima opened #6833 "Numap keys don't work on El Capitan"
From https://github.com/Microsoft/vscode/issues/983#issuecomment-221346786
From @cliffowen

Again, I am using a Mac.. and using El Capitan (since I did not mention that before). The keyboard layout is ANSI US. I speculate the layout is correct though, as VMWare and Parallels both handle the keyboard properly. Actual keyboard is a Logitech Wave.

Oddly enough, Numpad + and - are fine (numpad_add an

[2016-05-24 19:44] alexandrudima commented on #983
I've created #6833 to track this.

[2016-05-24 19:46] alexandrudima commented on #6819
Any repro steps would be welcome, I am very interested in tracking this down. You can also open Developer tools to see if there's any exception in there...

[2016-05-24 19:46] v-pavanp opened #6834 "VSCode become unresponsive when provided wrong name for terminal in integratedTerminal setting."
- VSCode Version: Latest alpha
- OS Version: WIndows10

Steps to Reproduce:
1.  Launch VSCode and update setting in settings.json to some random text or just "powershell" (no extension) or "cms"
![image](https://cloud.githubusercontent.com/assets/17735796/15517237/9d6f3df6-21ab-11e6-97a3-c8c70084ba4f.png)
2. Reload window to get reflection of the new setting.
3. Now try to launch terminal window w

[2016-05-24 19:52] Tyriar commented on #1033
Try pointing the symlink at `/home/saml/opt/VSCode-linux-x64/bin/code`

[2016-05-24 19:54] Tyriar opened #6835 "Should/can we move the electron executable?"
I've seen a lot of people have legacy/manual symlinks that point at code, not bin/code. Should we move `code` to another directory so they break and it's more clear that bin/code is the right one?

[2016-05-24 19:56] Tyriar commented on #6649
Not sure, but seems more like an issue with Unity to me based on what your comments.

[2016-05-24 20:00] Tyriar commented on #6793
I can't repro this, perhaps something in your prompt script is causing it?

[2016-05-24 20:13] rebornix commented on #6516
@isidorn thanks, I'll take it.

[2016-05-24 20:20] Tyriar commented on #6460
Panel no longer breaks, it just relaunches. However that caused this issue #6683

[2016-05-24 20:20] #6460 closed

[2016-05-24 20:22] Tyriar commented on #6762
Good suggestion, that would also work around the problem of it not repainting correctly. Not super high priority so moving to June.

[2016-05-24 20:26] rebornix commented on #6482
After Windows reboot I can't repro the bug, seems it can only be triggered by some special kind of json content. Need more info from @xenoputtss , otherwise I think we can close it and reopen if we can repro it constantly.

[2016-05-24 20:29] Tyriar commented on #6735
I believe I've reproduced this before, but I think it's one in the category of bugs that would require forking term.js.

[2016-05-24 20:29] Tyriar commented on #6819
I could not reproduce it a second time :(

[2016-05-24 20:33] #2717 closed

[2016-05-24 20:39] Tyriar commented on #6758
Curious, from all my reading `#!/usr/bin/env bash` is superior and more portable than `#!/bin/bash`.

[2016-05-24 20:39] #6758 closed

[2016-05-24 20:40] v-pavanp commented on #6621
I am still getting EPIPE error though pop-up is not showing up. But in developer tool.
Look at bug #6834

[2016-05-24 20:46] v-pavanp commented on #6834
Duplicate of https://github.com/Microsoft/vscode/issues/6683

[2016-05-24 20:46] #6834 closed

[2016-05-24 20:48] Tyriar commented on #6724
Duplicate https://github.com/Microsoft/vscode/issues/6455

[2016-05-24 20:48] #6724 closed

[2016-05-24 20:54] Tyriar commented on #6610
Oh yeah :+1:

[2016-05-24 20:54] #6720 closed

[2016-05-24 20:56] #3882 closed

[2016-05-24 21:02] alexandrudima commented on #6775
Dup of #6739

[2016-05-24 21:02] #6775 closed

[2016-05-24 21:02] alexandrudima commented on #6739
also happens in html

[2016-05-24 21:02] Tyriar commented on #6766
It wouldn't make sense to pull the values from themes. tmThemes, while not very strict, simply would not have these new values when migrating from other editors, so the majority of themes would not have the values we desire. Also, currently 2 themes cannot be applied at once.

This situation, while not ideal, allows the user to customize the colors in isolation on their theme.

Possible steps forw

[2016-05-24 21:04] Tyriar commented on #6307
@joaomoreno ignore this, I opened it based on someone comments but I don't think it's actually a problem.

What I meant what `code.cmd --wait` should wait until the process stops before returning.

[2016-05-24 21:04] Tyriar commented on #6708
Duplicate of https://github.com/Microsoft/vscode/issues/6458

[2016-05-24 21:04] #6708 closed

[2016-05-24 21:05] Tyriar commented on #6458
From @bpasero in #6708

[2016-05-24 21:06] alexandrudima commented on #6739
It is a problem in the UI code.

`ReferenceWidget.setModel` returns undefined in some cases.

[code]

[2016-05-24 21:08] Tyriar commented on #6707
Right now we don't mess with any input/output at all, it's all deferred to the shell. This works perfectly for bash, just how it works via `gnome-terminal`.

[code]

[2016-05-24 21:10] Tyriar commented on #6755
This one is related to limitations of term.js

[2016-05-24 21:20] kieferrm opened #6836 "Support for arrow-up and arrow-down in debugger call stack view"
Currently I have to use the mouse to switch between frames on the call stack. I'd like to use the arrow-up and down keys. When doing so, the editor should switch to show the source of the call stack frame but not grab the keyboard focus. When I press enter on the currently selected call stack frame, the editor should grab focus (as it is right now).

[2016-05-24 21:20] Tyriar commented on #6773
This is intentional, closing in favor of #6683 and #6762

[2016-05-24 21:20] #6773 closed

[2016-05-24 21:23] kieferrm opened #6837 "Support to navigate between debug views using keyboard shortcuts"
We should expose commands to navigate between the different viewlets of the debugger (variables, watch, call stack, exceptions/breakpoints).

Having that I could setup the keybindings and thus debug more efficiently.

[2016-05-24 21:24] Tyriar opened #6838 "Investigate term.js alternatives"
term.js is showing its limitations, the two options are to either fork it ourselves to suit our use case, or go with one of its more prominent forks:

- Community fork, converted to TypeScript https://github.com/sedwards2009/extraterm
- Built for commercial product https://github.com/sourcelair/xterm.js
- https://github.com/IonicaBizau/web-term
- https://github.com/shockone/black-screen

sedwards2

[2016-05-24 21:38] Tyriar commented on #6368
We could make it a boolean flag and all other args are the extensions?

[2016-05-24 21:39] Tyriar commented on #6368
Reopening as we should be able to improve the experience over adding --install/uninstall-extension multiple times

[2016-05-24 21:55] Tyriar commented on #6758
I verified I could install and remove after 096221c

[2016-05-24 22:00] kieferrm opened #6839 "Break points are hit or miss on node 6.2.0 on Windows"
While testing #6659.

If I simply follow the steps, the break point in index.js line 6 is never hit. However, if I insert a debugger statement everything is fine.

The NTVS team (@mjbvz and @mousetrap) are seeing the same / a similar issue.

[2016-05-24 22:01] bgashler1 commented on #6756
I'll look into this.  Do you have any input on what you would be expecting instead of an ellipses icon?

[2016-05-24 22:02] #6659 closed

[2016-05-24 22:06] bgashler1 commented on #6686
That's odd, I can't reproduce.  Maybe it was just a weird glitch I got into.  I'll reopen if I can reproduce it again later.

[2016-05-24 22:09] mjbvz commented on #6839
Here's the issue NTVS where is tracking this problem: https://github.com/Microsoft/nodejstools/issues/934

The behavior we seeing is nondeterministic, sometime debugging works and sometimes it doesn't. I first noticed it in node 6.1, but also see it in 6.2 and suspect 6.0 is also effected.

This Node-inspector issue may be related too: https://github.com/node-inspector/node-inspector/issues/864

[2016-05-24 22:13] 74th opened #6840 "[themes] does not work if publisher name starts with a number"
- VSCode Version: 1.1.1
- OS Version: OSX10.11.4, Windows10

I made and publish a theme, but it did not work.
https://github.com/74th/vscode-naturalcontrast-with-hc

![screen shot 2016-05-25 at 07 08 51](https://cloud.githubusercontent.com/assets/1060011/15521650/d071a18e-2247-11e6-9831-e1bdd99b8b6a.png)

But I changed publisher name "74th" -> "j74th" in package.json, it works.
[code]
[code]

![sc

[2016-05-24 22:35] vsccarl opened #6841 "Auto closing brackets should try to balance brackets"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:
1. Open launch.json or create one
2. Delete the opening bracket { under configurations
3. Re-type the opening bracket

Auto-complete adds in a closing bracket when the closing bracket at the end of the config is showing an error. It would make sense that bracket auto-complete would know that there is an open bracket and to

[2016-05-24 22:35] gregvanl commented on #6595
Hello @ayatokura ,
At present we don't have documentation localization scheduled. What languages would you be interested in seeing localized?  Also which topics do you think would be more useful?
- @gregvanl

[2016-05-24 22:35] weinand commented on #6839
@kieferrm VS Code should not have the same issue as NTVS (our code injection should work around the "illegal access" issue in callbacks).
I think you are seeing a different issue, but I'll try to reproduce tomorrow.

[2016-05-24 22:43] rajinder-yadav opened #6842 "When deleting on a new line cursor fails to move to last indentation"
- VSCode Version:1.1.1
- OS Version: Linux 4.4.0-22-generic

When hitting delete, and the line is blank, cursor should move back to last tab-stop
Steps to Reproduce:

1. Create some code blocks, with each line indented
2. Press enter
3. Press backspace

Issues: cursor moves back only single character, the expected behavior is to move back to previous indentation.

[2016-05-24 23:11] vsccarl opened #6843 "Installing extensions from command line does not prompt for restart"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open Code
2. Install an extension from the command line (e.g. `--install-extension ms-vscode.csharp`)
3. Go back to Code

Does installing from the command line not require restarting Code?

[2016-05-24 23:13] Tyriar commented on #6843
I took this as a given personally, I guess the CLI could ping the instances to show the popup, not sure it's worth it though.

[2016-05-24 23:14] octohedron opened #6844 "Can't toggle comment with key binding @ linux mint 17.3"
- VSCode Version:

Version 1.1.1
Commit def9e32467ad6e4f48787d38caf190acbfee5880
Date 2016-05-13T13:38:00.094Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0
- OS Version: Linux Mint 17.3

Steps to Reproduce:
1. Plug in a Spanish keyboard (from Spain, pic below)
2. Try to use the key-bindings to comment (Ctrl + /)

Description:
I'm trying to select text and comment it, which is "Ctrl + /" and it's

[2016-05-24 23:27] vsccarl commented on #6843
For some extensions, for example C/C++, a warning is displayed on Windows saying debugging is not supported. It will not show this message until Code is restarted.

[2016-05-24 23:37] jabaz opened #6845 "Problem with ansi color codes with decoration part in debug console"
- VSCode Version: 1.1.1
- OS Version: Windows 10 x64

Steps to Reproduce:

In nodejs application, when i use console.log with ansi color codes.

Example, when i use `console.log(\x1b[36m%s\x1b[0m, 'working')`, it works correctly.
![image](https://cloud.githubusercontent.com/assets/13858505/15523170/3295fa1c-2221-11e6-9213-3e8dba93ceaa.png)
But if i use `console.log(\x1b[36;1m%s\x1b[0m, 'working')`

[2016-05-24 23:38] druellan commented on #6443
Thanks @joaomoreno. Fair enough.

[2016-05-24 23:48] jabaz commented on #6845
In windows cmd, when i run same app, it prints:
![image](https://cloud.githubusercontent.com/assets/13858505/15523433/f2b31b9e-2222-11e6-9439-1e3182646500.png)

[2016-05-24 23:49] Tyriar commented on #6723
Fixed https://github.com/Microsoft/vscode/commit/8fc7a0974317188faf8906097940b72b1537360c

[2016-05-24 23:49] #6723 closed

[2016-05-24 23:56] vsccarl commented on #6843
Also items added on the lower status bar do not show until restarting.

[2016-05-24 23:59] kieferrm opened #6846 "Terminal scrolls content to the left without a reliable way of recovering"
OS: Windows

1) open the built-in terminal
2) run command that produces a bunch of output such as 'npm list' or cat a file
3) try to scroll up to reveal text that was already scrolled out of sight
-> content is scrolled to the left (and then gets stuck)
-> there is no reliable way to get the terminal back into a 'normal' state; sometime Enter works, sometimes not

Here is a [screen recording](http

[2016-05-24 23:59] #6770 closed

[2016-05-25 00:01] #6706 closed

[2016-05-25 00:26] boringuser opened #6847 "Find with regex does not locate newlines"
- VSCode Version: 1.1.1
- OS Version: Windows 10 Enterprise

Steps to Reproduce:

1. Create a new file and add a few lines of text, separated by newlines
2. Open find dialog, enable regex, use regex "\n"
3. No matches will be found. Expected behavior would be to find the newlines. Also does not work with replace, so you cannot find and replace newlines.

[2016-05-25 00:26] kieferrm opened #6848 "Built-in terminal super jittery on vertical resize and even disappears sometimes"
OS: Windows

1) open the built-in terminal
2) run a command with a whole bunch or output such as 'npm list' or cat a file
3) grab the sash at the top of the terminal and resize
-> the terminal content flickers wildly
It seems the terminal window jumps back and forth between a minimal size and the actual size indicated by the sash.

Here is a [video of the issue](https://www.dropbox.com/s/67iw8agep

[2016-05-25 00:28] Tyriar commented on #6793
Toggling the terminal continually puts zsh in a weird state too:

![image](https://cloud.githubusercontent.com/assets/2193314/15524184/ed10a2a4-21d4-11e6-85cd-f7e896d7dcbd.png)

[2016-05-25 00:28] boringuser opened #6849 "Whitespace found via regex find is not highlighted throughout the document"
- VSCode Version: 1.1.1
- OS Version: Windows 10 Enterprise

Steps to Reproduce:

1. Open a large document with many lines and whitespace, such as a large code file.
2. Use find dialog with regex enabled to search for "\s".
3. Whitespace will be highlighted, but only on the first or second screen of text. As you scroll down the highlight will terminate.

[2016-05-25 00:36] edumunoz commented on #6569
Thanks Andre for the details on the proposal. I have a few questions:

I don't think this is possible, but is there a way of passing arguments to the action being launched by VSCode? Something that would be useful might be to pass the `launch.json` entry that is being launched.
It would be useful if we want to implement multiple configurations for attaching, e.g., remote machine and locally. If pa

[2016-05-25 00:37] #6683 closed

[2016-05-25 00:37] #6762 closed

[2016-05-25 00:39] Tyriar opened #6850 "Allow terminal to be relaunched without restarting VS Code when it exits with a non-zero exit code"
#6683 fix means the integrated terminal cannot be restarted after the process errors without reloading the window.

[2016-05-25 01:03] Tyriar commented on #6848
@kieferrm are you on a VM?

[2016-05-25 01:05] khoomeister opened #6851 "Find all references doesn't show default export"
- VSCode Version: 1.1.1
- OS Version: Mac 10.11.5
(latest as of May 24 2016)

Steps to Reproduce:

1. Create file `blah.ts` with a default export (e.g. `export default whatever = 123`)
2. In another file, `import someDefault from './blah'`.
3. If you right click on `someDefault` and select "Find all References", should it show the reference to the default export in `blah.ts`?  Right now, it doesn'

[2016-05-25 01:08] ericchan1336 commented on #6699
Sorry, but I tried many times uploading screenshots and it all failed...

[2016-05-25 01:37] #6581 closed

[2016-05-25 01:47] michael-freidgeim-webjet commented on #6387
I am using ps1 on a daily basis. Double-click in File Explorer opens PowerGUI Script Editor. After installing Visual Studio Code and PowerShell add-in double click opened Visual Studio Code and PowerGui and PowerShell menus were not visible.After change in registry menu items were restored and PowerGui menu is a default again.  I don't think, that I done anything else related.

[2016-05-25 01:49] thomas-jeepe commented on #566
Progress so far?

[2016-05-25 01:58] kieferrm commented on #6848
@Tyriar Yes, I ran the test in a VM.

[2016-05-25 02:27] Tyriar commented on #6848
@kieferrm anything Chromium-based behaves pretty poorly in a VM I find, `--disable-gpu` or `--disable-direct-write` normally help the problem.

[2016-05-25 02:27] #6848 closed

[2016-05-25 02:29] Tyriar commented on #6846
Duplicate of #6738

[2016-05-25 02:29] #6846 closed

[2016-05-25 02:30] Tyriar commented on #6738
From @kieferrm in #6846

[2016-05-25 02:39] kieferrm commented on #6848
@Tyriar we should verify that we don't have the issue when not running in a VM. This is the only part of vscode I have experienced issues with running in a VM. Everything else is fast and smooth.

[2016-05-25 02:50] Tyriar commented on #6684
There is no `%SystemRoot%\sysnative`, `%SystemRoot%\SysWOW64\WindowsPowerShell\v1.0\powershell.exe` however does exist but it still prints out the PSReadline warning.

[2016-05-25 02:51] newtack commented on #566
Wallabyjs offers the ability to display a screenshot of the last screen in the unit test in other GUIs (WebStorm, etc.). We really want this functionality in our preferred code editor VSCode as well.

[2016-05-25 02:52] wsg36236 opened #6852 "When installing extension, the focus can not be dismiss, I only waiting install completely."
- VSCode Version:1.1.1
- OS Version:Win10

Steps to Reproduce:

1. When i am installing extension, I must wait for it complete, if I change to do another work, the installing will be abort, and I must to do it again.
2.

[2016-05-25 02:55] Tyriar commented on #6831
I'm assuming you need the .exe because the smarts to check for .bat, .cmd, .exe, etc. are built into `cmd`, not Windows. I'd prefer not to work around this on our side.

The blinking/locking up thing is fixed now https://github.com/Microsoft/vscode/issues/6683

[2016-05-25 02:55] #6831 closed

[2016-05-25 03:00] Tyriar commented on #6847
Duplicate of https://github.com/Microsoft/vscode/issues/313

[2016-05-25 03:00] #6847 closed

[2016-05-25 03:02] Tyriar commented on #6848
@kieferrm I've tested the terminal on Windows 10, OSX and various Linux distros and haven't seen anything like that. I worked on a VM for a month or 2 and saw that sort of thing all the time in VS Code, Atom and Chrome.

[2016-05-25 03:12] Tyriar commented on #6769
This actually never worked on Ubuntu with the default settings. This is a duplicate of #3091

[2016-05-25 03:12] #6769 closed

[2016-05-25 03:32] Tyriar commented on #6608
I don't understand why `code .` returns immediately, so does `code . & echo test`, but `code . & exit` or `code . && exit` waits until vscode terminates...?

[2016-05-25 03:39] ChristopherHaws opened #6853 "Ability to disable GoToDefinition on Ctrl+LeftMouseClick"
- VSCode Version: 1.1.1
- OS Version: Windows 10 Pro

In Visual Studio (full version), I tend to turn off the Ctrl+LeftMouseClick go to definition feature. I personally prefer to have Ctrl+LeftMouseClick select the entire word under my mouse cursor.

From what I can see, mouse events are not configurable at the moment, and they are also not possible to override with extensions (to the best of my k

[2016-05-25 03:39] Tyriar commented on #1681
The dev who built to very popular Python extension just came out with a Java debugger, you might want to check it out https://marketplace.visualstudio.com/items?itemName=donjayamanne.javadebugger

@bpasero should we close this?

[2016-05-25 03:43] Tyriar commented on #6853
Duplicate of #3130, copied your comment over

[2016-05-25 03:43] #6853 closed

[2016-05-25 03:43] Tyriar commented on #3130
From @ChristopherHaws in #6853

[2016-05-25 04:14] roadyyy opened #6854 "Failed to save 'test.txt': A system error occured (ESPIPE: invalid seek, write)"
- VSCode Version: Version 1.0.0
- OS Version: Ubuntu Linux 16.04, Ubuntu Linux 15.10

Steps to Reproduce:
1. connect to ftp using nautilus
2. open any text file with vs code from nautilus
3. add some changes to the file and save it

When you are trying to save the file you get the error saying: "Failed to save 'test.txt': A system error occured (ESPIPE: invalid seek, write)" and the file on the ho

[2016-05-25 04:15] xsstomy commented on #6126
@joaomoreno
There are many files，I do not know the specific number
![2](https://cloud.githubusercontent.com/assets/8943787/15527960/f9884fc6-2271-11e6-8f2b-3cf71ec48ed9.png)

all files in the picture

[2016-05-25 04:47] magpier84 opened #6855 "Invoke vscode commands from task.json"
Is it possible to invoke vscode commands from task.json?
For example, invoke build command (or call extension) before launch debugger.
Thanks!

[2016-05-25 04:52] jmcooper commented on #1884
+1

[2016-05-25 05:06] bpasero commented on #6707
I am using the default terminal on Mac OS.

[2016-05-25 05:07] bpasero commented on #6686
@bgashler1 makes sense, I would think this to be rather an issue with VS Code loosing file events than being related to the tabs work.

[2016-05-25 05:16] Tyriar commented on #6696
Same inside the editor too which is a bit annoying. Plus it's not monospace, not sure if that's an issue or not.

![image](https://cloud.githubusercontent.com/assets/2193314/15528873/02599490-21fd-11e6-97eb-c754ce24a928.png)

[2016-05-25 05:18] bpasero commented on #5288
@alexandrudima ping, should we show the Alt+F1 help only once the first time the user clicks into the editor?

[2016-05-25 05:24] bpasero commented on #6787
@stevencl @bgashler1 I wonder if the user has tabs disabled if we should always just open tabs at the end of the list, similar to working files. Because if tabs are not enabled, the only spatial order that you have is the one in opened editors and there it might make more sense to always open at the end.

[2016-05-25 05:29] #6798 closed

[2016-05-25 05:35] bpasero commented on #6810
Reproduces in stable already.

[2016-05-25 05:36] rozzzly commented on #6838
Might I suggest:
https://github.com/shockone/black-screen

It's an electron/react app that seems to do a really nice job of enhancing the traditional TUI. I haven't had a chance to try it, but never have I seen anything coming close to bridging CLI and GUI. This is really fkn cool, Imagine that intergrated with VS Code!

That project appears to be pretty mature, and it's even written in typescript

[2016-05-25 05:48] #6794 closed

[2016-05-25 05:54] #6803 closed

[2016-05-25 06:03] #6795 closed

[2016-05-25 06:21] bpasero commented on #6759
@bgashler1 maybe you could advise if there is a CSS way to make this better. I do see that the font moves and seems to change its visual font-weightness once it turns italic but I am not sure how to prevent that. Unless we want to play with opacity.

[2016-05-25 06:40] sandy081 commented on #6829
In CSS we treat all variables as global as it is hard to compute scopes. Scopes are known only during run time. For eg: class 'a' and class 'b' can be in hierarchy if corresponding DOM elements are so.

Since all variables are global go to definition will always go to one of the declarations if there are many.

Hence closing this.

[2016-05-25 06:41] sandy081 commented on #6826
Dup of #6748

[2016-05-25 06:41] sandy081 commented on #6825
Dup of #6754

[2016-05-25 06:41] #6825 closed

[2016-05-25 06:43] sandy081 commented on #6820
I do not think we are currently supporting imported variables. Making it a feature request.

[2016-05-25 06:45] alexandrudima commented on #6817
I am working on it, but I need to clean up quite some code before publishing the API, as my hope is to keep it as stable as possible. The file at https://github.com/Microsoft/vscode/blob/master/build/lib/monaco-editor.d.ts is generated from our sources and our sources need to be in a good shape before releasing it.

[2016-05-25 06:45] sandy081 commented on #6823
Its a good suggestion to show some information about the variable where it is used. It would be hard in cases where they are imported.

[2016-05-25 06:46] bpasero commented on #6812
@bgashler1 interesting idea, if I understood you correctly, we would keep an empty slot for each possible preview editor. It would look like this:

![editors](https://cloud.githubusercontent.com/assets/900690/15530504/056c0ed0-2255-11e6-931b-83549086cf43.gif)

While it fixes the issue with annoying double click behaviour, it almost looks like a UI bug that we would grow the "Opened Editors" view w

[2016-05-25 06:48] sandy081 commented on #6822
I do not think there is intelli-sense support for functions in CSS. This would be a good one to provide that.

[2016-05-25 06:53] joaomoreno commented on #1033
It's just that it's hard to identify when that situation occurs (double click on OS X, or Linux even).

Yes, you should point to `/home/saml/opt/VSCode-linux-x64/bin/code`. Note that you no longer need a custom alias; when installing code via the `deb` or `rpm` package, you'll get a global alias pointing to the right place.

`VSCODE_CLI` isn't set in the shell script, but in the JavaScript that fo

[2016-05-25 06:54] alexandrudima commented on #6766
I think #1231 is the best way forward, we need to have VSCode specific themes. I was suggesting TM themes as they have an open format, but you have a very good point: lots of people would like to have a vscode theme A (that changes file explorer colors, terminal colors (maybe even icons?), etc.) + a TM theme B (that changes tokens, selection color, etc).

My recommandation for now is to remove the

[2016-05-25 06:54] alexxx537 opened #6856 "Question about extensions"
Hello,

I was wondering if its possible to implement jump to error by double clicking on error message in output window with extension.

[2016-05-25 06:54] joaomoreno commented on #6455
Thinking about current terminals, I can only close them via a global shortcut, an `X` button or running `exit` in the shell. <kbd>Escape</kbd> should not bubble outside to the workbench.

[2016-05-25 06:55] jrieken commented on #566
I'll see what June allows

[2016-05-25 06:57] joaomoreno commented on #6802
Ok, I didn't know that the **file version** was shown more often...

[2016-05-25 06:57] bpasero commented on #6854
@roadyyy would you be able to write a simple node.js script using `fs.writeFileSync()` API to see if it reproduces with node.js already?

[2016-05-25 06:58] sandy081 commented on #6828
Looks like this is not working for any variables across CSS, SASS & LESS

[2016-05-25 06:59] jrieken opened #6857 "allow for cascading peek"
- open a peek editor for reference search or previewing definitions
- inside that editor you cannot peek anymore
- we should have a way to invoke reference search/peek def in nested editors but without nesting peek inside peek

[2016-05-25 06:59] jrieken commented on #6786
That's in line with @stevencl suggestion. I have created a separate issue for this: https://github.com/Microsoft/vscode/issues/6857

[2016-05-25 06:59] jrieken commented on #6857
@stevencl @kieferrm fyi

[2016-05-25 06:59] ArtemGovorov commented on #566
@jrieken Thanks! No rush, I think I found a good alternative by essentially wrapping the image into an HTML page and displaying the HTML document with the `vscode.previewHtml` command (and custom content provider).

![vsc](https://cloud.githubusercontent.com/assets/979966/15530755/9ca76c7e-2299-11e6-810b-605beaad59dd.gif)

[2016-05-25 06:59] joaomoreno commented on #6255
Ok, no real difference in the `PATH` variable there.

It's like `xcode-select` sometimes fails and sometimes succeeds...

[2016-05-25 07:01] joaomoreno commented on #6080
Will just close it. Feel free to reopen if it happens again.

[2016-05-25 07:01] #6080 closed

[2016-05-25 07:01] jrieken commented on #6756
I do like the ellipses - it nicely represents the fact that there is more/a context menu. The issue is that the down arrow has the same meaning to me. So, I think we should have the down/double down arrows.

[2016-05-25 07:02] jrieken commented on #566
`previewHtml` FTW

[2016-05-25 07:02] alexandrudima commented on #5727
I've looked at the code and improved the keybindings rule for 3 find related keybindings.

The ctrl+enter has a simple explanation. It is something "built-in" to the replace input. Similar how Enter on the find field goes to next match, Shift-Enter goes to previous match, how Enter on the replace field replaces next. They are not configurable, if the need arises for Enter to do something different

[2016-05-25 07:02] #5727 closed

[2016-05-25 07:04] bpasero commented on #6792
@bgashler1 also related to https://github.com/Microsoft/vscode/issues/6759

[2016-05-25 07:06] aeschli commented on #6816
@M-Zuber Which view has the focus when you press tab? If it is in an editor, what type of file is it (JavaScript, HTML...)?

[2016-05-25 07:08] aeschli commented on #6811
duplicate of #6371

[2016-05-25 07:08] #6811 closed

[2016-05-25 07:08] joaomoreno commented on #6110
It seems that the `MOZCONFIG` variable is there in all situations, even when run from that task... I thought you mentioned in the first post that that variable is not set when running within a task? Do you mind adding an `env` to the `options` of this sample task, similarly to your real life scenario? Maybe we'll find that there the `MOZCONFIG` variable would not be set...

[2016-05-25 07:08] M-Zuber commented on #6816
On a clean open of Code, blank file with focus on the file.
But it happens with almost any extension - js, ts, html, cs

[2016-05-25 07:10] aeschli commented on #6801
The error message is likely not related, but also very interesting. To find out more about it we would need the content of the file at that time.

[2016-05-25 07:10] aeschli commented on #6746
I assume this is about printing in the console view.

[2016-05-25 07:11] joaomoreno commented on #6375
The socket files are not stale... OS X and Linux simply do not delete them on shutdown, but on startup. They can be deleted since @lucnoc was able to do so manually.

The shared process seems to be not launching at all in your system... since you never mentioned the existence of a `/var/folders/9c/gkt2df7j11b965s2c1tgxvk80000gn/T/Code-91fbfd-shared.sock` file.

[2016-05-25 07:11] alexandrudima opened #6858 "Could not get external grammar injections to work"
Testing #6693

Modified `$\extensions\typescript\package.json`, added to the `grammars` section:
[code]

Added `$\extensions\typescript\syntaxes\todo.json`:
[code]

I don't see it being picked up in TypeScript comments (inspecting the tokens also did not show it being picked up):
![image](https://cloud.githubusercontent.com/assets/5047891/15531100/b4f2008c-2258-11e6-96ad-b022373b1738.png)

[2016-05-25 07:12] alexandrudima commented on #6693
I could not get it to work

[2016-05-25 07:12] #6693 closed

[2016-05-25 07:14] bpasero commented on #6764
I propose the following:

**Ctrl+Tab**
We allow to type something like `editor <left|center|right> <name>` to open a file from a group. We keep MRU sorting.

**Cmd+Alt+Tab**
We change this to `editor <name>` to pick an editor from any group. We keep spatial sorting.

**Cmd+P**
We do not change the behaviour from how it works today.

[2016-05-25 07:14] #6555 closed

[2016-05-25 07:16] joaomoreno commented on #6397
That's what the user already has.

[2016-05-25 07:16] #6739 closed

[2016-05-25 07:17] jrieken commented on #6739
**verifier**: run a reference search that yields in no result.

[2016-05-25 07:17] joaomoreno commented on #6835
Not trivial, since that location is set by Electron.

[2016-05-25 07:18] blendsdk commented on #6817
Is there anyway I can help? (I would need some basic instructions how to setup though)

[2016-05-25 07:18] bpasero commented on #6818
We talked about this and while it seems like a good solution for users, it hides the fact that we crash. I hope that with the tabs work we can improve this because closing an editor will cause memory to get freed.

[2016-05-25 07:20] joaomoreno commented on #6368
If so, what should this do?

[code]

Should it install the extensions `foo`, `--uninstall-extension` and `bar`?

[2016-05-25 07:21] bpasero commented on #6830
@pcherkasova sorry to hear that. first thing to try out is if you are able to reproduce this with some reliable steps.

Next time it would also be interesting if the file contents on disk are really the same version as remote. In the end VS Code will always try to fetch the contents from disk if it sees that the modification time is different. Could it be that the modification time did not change

[2016-05-25 07:28] isidorn commented on #6837
Currently you are able to navigate between the debug views by pressing ctrl + shift + D and than tab between views. Ctrl + shift + D will focus the first view, or the last focussed view if there was some. I think this experience is not that bad.

Are you looking for something that would for instance focus the breakpoints view directly?

[2016-05-25 07:29] joaomoreno commented on #6843
I'll leave this unimplemented for now. These flags were introduced for people to automate integrations. They like a way to install extensions programmatically... it's not really meant for more users, sicne they have the in-product experience.

[2016-05-25 07:29] #6843 closed

[2016-05-25 07:29] jrieken commented on #6813
fixed by https://github.com/Microsoft/vscode-extension-samples/commit/aa698ac289915429556b462b75fb3a5a3cc901dd

[2016-05-25 07:30] joaomoreno commented on #6840
@alexandrudima Seems like Code fails to load it when the publisher starts with a digit? 😕

[2016-05-25 07:32] mattdufeu commented on #6751
@aeschli sorry, the title might have been misleading. I've changed the title to hopefully reflect better what I mean.

Unless you are saying, there's no need for a wiki page?

[2016-05-25 07:32] joaomoreno commented on #6126
Open a Terminal on your empty folder. Run `git status | wc -l`, which will tell you approximately how many changes there are in your git repository.

[2016-05-25 07:34] joaomoreno commented on #6787
I would keep away from separate behaviours when certain things are enabled or not. Remember that it has repercussions on others features such as <kbd>Ctrl Tab</kbd>.

[2016-05-25 07:35] weinand commented on #6813
@jrieken oops, I just noticed another inconsistency and added it here while you were closing this...

[2016-05-25 07:35] #6520 closed

[2016-05-25 07:36] joaomoreno commented on #6812
Interesting... but doesn't it look ugly?

[2016-05-25 07:36] bpasero commented on #6787
@joaomoreno actually Ctrl+Tab moves in MRU order, so the spatial order does not make any impact here.

[2016-05-25 07:37] joaomoreno commented on #6852
The extension will keep installing while Code is running. If you shutdown Code, it will stop obviously. If you reload your window or open a different folder with it, it will continue installing.

[2016-05-25 07:37] #6852 closed

[2016-05-25 07:37] #3516 closed

[2016-05-25 07:39] aeschli commented on #6766
"integratedTerminal.ansiColors.brightBlack"
"integratedTerminal.ansiColors.cyan"
"integratedTerminal.ansiColors.blue"

I also think it make no sense to have these colors as user settings. A user would not choose to have 'blue' being a red color.
VS Code should define these colors, in three flavors, for the light and dark and hc_black (high contrast) base theme.

I agree that once we add theming th

[2016-05-25 07:43] jrieken commented on #6813
ok - reopen

[2016-05-25 07:49] alexandrudima commented on #6840
The extension host finds the extension and correctly calls into the theme contribution point. I've added `console.log('DETECTED THEMES: ' + extensions.map(e => e.description.id));` at https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/themes/electron-browser/themeService.ts#L117 and the extension is correctly passed to the theme extension point.

Forwarding to @aeschli as it

[2016-05-25 07:51] isidorn commented on #6746
Assigning first to @weinand to see if we can extend the protocal such that output events could have source and line. If we have that the debug console could render this source to the side like chrome does it

[2016-05-25 07:52] dbaeumer commented on #6801
@Sampo123 can you reproduce the formatting problem locally. If so can you please do the following.
- enable TS/JS logging via the setting:
[code]
- open the JS showing the behavior
- Bring Output view to front
- switch to channel typescript
- format the file
- attach the output to this issue.

[2016-05-25 07:53] dbaeumer commented on #6851
This issue was moved to Microsoft/TypeScript#8805

[2016-05-25 07:53] #6851 closed

[2016-05-25 07:54] Sampo123 commented on #6801
Hey,

Thanks for your replies. I'll do that and get back to you this evening. I'm on other projects today so I'll need to do this when I get off so I'll try to get back to you later today, like in 7 hours or so :)

[2016-05-25 07:56] isidorn commented on #6815
Yes, currently the debug hover has fixed size. For inspecting long variables we recommend using the debug console.

[2016-05-25 07:56] aeschli opened #6859 "avoid 'integratedTerminal' and 'externalTerminal'. Rather use 'terminal'"
For #6654.
Right now the settings are called
"integratedTerminal.shell.linux": "/bin/bash"
"externalTerminal.windowsExec": "cmd",

If you look at other settings, we avoid camelcase in the first segment.
I'd suggest to group everything under terminal.

-> One setting that chooses which terminal type to use (e.g. when invoking 'Open in terminal').
'external', 'integrated'. IMO intergrated should be

[2016-05-25 07:58] alexandrudima commented on #6833
@cliffowen Now that I think about it, maybe you need to press `NumLock`? `NumLock` toggles the numpad9 to be page up.

@aeschli Can you please help me out and confirm this is indeed a bug -- you use a mac with an external keyboard I think?

[2016-05-25 07:59] isidorn commented on #6845
Yes, debug console currently has limited ansi support.
We recommend using `"externalConsole": true` in your `launch.json` to use the native console for full ansi coloring.

[2016-05-25 07:59] aeschli commented on #6783
We removed the feature that 'Configure File Association' adds a settings string due to the unresolved issues with the configuration open in a dirty editor.

[2016-05-25 07:59] #6783 closed

[2016-05-25 07:59] aeschli commented on #6782
We removed the feature that 'Configure File Association' adds a settings string due to the unresolved issues with the configuration open in a dirty editor.

[2016-05-25 07:59] #6782 closed

[2016-05-25 08:01] aeschli commented on #6725
Note that we removed the feature that 'Configure File Association' adds a settings string due to the unresolved issues with the configuration open in a dirty editor.

[2016-05-25 08:01] aeschli commented on #6722
We removed the feature that 'Configure File Association' adds a settings string due to the unresolved issues with the configuration open in a dirty editor.

[2016-05-25 08:01] #6722 closed

[2016-05-25 08:01] aeschli commented on #6714
We removed the feature that 'Configure File Association' adds a settings string due to the unresolved issues with the configuration open in a dirty editor.

[2016-05-25 08:01] #6714 closed

[2016-05-25 08:10] jabaz commented on #6845
I know that I can use external console, but it's not so useful.

[2016-05-25 08:16] sandy081 commented on #6765
dup of #6765

[2016-05-25 08:16] #6765 closed

[2016-05-25 08:20] #6786 closed

[2016-05-25 08:30] aeschli commented on #6833
@weinand Andre has a external keyboard with numblock.

[2016-05-25 08:35] warpdesign commented on #6428
I just noticed I have installed clip-x: that's a Windows app which keeps the clipboard history.

I don't think I have any VSCode extension that interacts with the clipboard.

I have disabled Clip-X to see if it's causing the problem (I noticed that when I encounter the bug, I have an empty entry in clip-x).

Then I'll start VSCode with extensions disabled if I'm still having the problem.

[2016-05-25 08:35] weinand commented on #6569
@edumunoz here are my answers to the questions from above:

- it is possible to pass the selected launch config section to the pick action. I had planned this anyway.

- local vs. remote: why make this decision in the pick process? The launch.json could have two launch configs, one for the local and one for remote case. For this it would use a `${action.PickProcess}` and a `${action.PickRemoteProc

[2016-05-25 08:41] jrieken commented on #6778
fixed with https://github.com/Microsoft/vscode/commit/0ac95a8f1d3b831349018669bdd7bc31fa3efe37

[2016-05-25 08:41] #6778 closed

[2016-05-25 08:45] arixse opened #6860 "搜索插件速度缓慢"
- VSCode Version:windows 7 64
- OS Version:

Steps to Reproduce:

1. 搜索插件速度太慢

[2016-05-25 08:46] #6860 closed

[2016-05-25 08:46] isidorn commented on #6855
It is possible to invoke a task (build command) before launching, for instance you can use `preLaunchTask` in your `launch.json`. More details can be found here https://code.visualstudio.com/docs/editor/debugging

Automatically invoking any vscode command before starting debug is currently not supported.

[2016-05-25 08:46] #6855 closed

[2016-05-25 08:46] vilic opened #6861 "Have to delete twice to remove a multi-level folder containing JavaScript/TypeScript files"
- VSCode Version: 1.1.1
- OS Version: Windows 10 10586.318

Steps to Reproduce:

1. Open a folder.
2. Create file `f/f/f.js`.
3. Delete top folder `f`.

  Then it prompts a message asking whether I would want to move it to recycle bin.

4. Click "Move to Recycle Bin".

  Explorer prompts "File Access Denied".

5. Click "Continue" (to gain administrator permission), and "OK" on UAC prompt.

  Code

[2016-05-25 08:48] dbaeumer opened #6862 "Editor removes auto inserted indentation when formatting on type"
- VSCode Version: alpha
- OS Version: Windows 10

Steps to Reproduce:

1. settings.json
[code]
2. TypeScript file
[code]
Observe the blank between foo and ( which causes the formatter to kick in
3. Press enter

Observe: the newly inserted line has no indentation anymore.

The TS server trace looks like this:
[code]

The inseresting request is 132: this removes the indentation on line 2 although we

[2016-05-25 08:48] arixse opened #6863 "Slow loading extensions"
- VSCode Version:1.1.1
- OS Version:Win7 64

Steps to Reproduce:

1. 加载扩展插件速度缓慢

[2016-05-25 08:48] isidorn commented on #6856
It is not possible to implement this behavior by an extension.
Jump to error by doudble clicking error message is built in vscode. However not all formats of errors are supported, so some error paths are not detected.
Please search our github issue history since there are multiple issues already opened about jump to error for more details.

[2016-05-25 08:48] #6856 closed

[2016-05-25 08:52] alexandrudima commented on #6862
Yep, it most likely is the auto whitespace removal, after pressing Enter the line number 2 is marked as containing auto-whitespace. The next edit is on line 1, so the model assumes the auto whitespace on line number 2 is safe to remove (it assumes the user voluntarily edited line number 1 and doesn't care anymore about line number 2).

[2016-05-25 08:55] weinand commented on #6813
@jrieken where does the folder 'etc' come from?

[2016-05-25 09:01] #6742 closed

[2016-05-25 09:02] jrieken commented on #6813
I have no clue, maybe @aeschli knows?

[2016-05-25 09:03] isidorn commented on #6781
I have merged the configurations as Joh suggested.
Notice that for maxVisible having a negative value I still show the open editors seciton - not sure if that is the desired behavior or I should just treat that as 0. I want the hide thing to be explicit so the user could not get it hidden by accident.

[2016-05-25 09:03] #6781 closed

[2016-05-25 09:10] #6703 closed

[2016-05-25 09:17] jrieken commented on #6813
added the `.vscode` folder with https://github.com/Microsoft/vscode-extension-samples/commit/e08c1d4bc04ac74e998217c3ae2344bc889dc045

[2016-05-25 09:34] isidorn commented on #6800
This is now fixed, as the first launch config is not launched but the action is just ignored.
There is still issue #6809 that errors are not propagated properly - looking into that one now

[2016-05-25 09:40] isidorn commented on #6809
Currently the command returns the errors, after consulting with Joh it is the extensions responsibility to handle this error in any way the extension writer wants. Closing as designed. More details:

![screen shot 2016-05-25 at 11 39 38](https://cloud.githubusercontent.com/assets/1926584/15535401/7b2d12a0-226d-11e6-903b-57788d5aaa2f.png)

[2016-05-25 09:40] #6809 closed

[2016-05-25 09:41] #6556 closed

[2016-05-25 09:41] bpasero commented on #6556
Thanks, I merged your PR and assigned @joaomoreno to verify.

[2016-05-25 09:43] weinand commented on #6809
@isidorn What error is returned if attribute 'type' is missing?

[2016-05-25 09:54] weinand commented on #6800
@isidorn just make sure that the error message passed to the following error handler is something like "launch config 'foobar' doesn't exist":

[code]

[2016-05-25 09:55] isidorn commented on #6809
With the commit I just pushed it returns a proper error message 😊

![screen shot 2016-05-25 at 11 53 32](https://cloud.githubusercontent.com/assets/1926584/15535893/80d48448-226f-11e6-8c64-c7ae15b95dcf.png)

Maybe we should tune the error message such that it does not refer to `launch.json`

[2016-05-25 09:59] Brakkar opened #6864 "Prompt user when dirty file gets deleted"
- VSCode Version: 1.1.1
- OS Version: current OSX

Steps to Reproduce:
Vscode with github

1. create a file
2. add content in the file, but don't save it. Stay on it in the editor.
3. delete file (move to trash) from tree file browser

File still shows in working files as unsaved file, and on screen. This is confusing, as 'save all' might recreate the deleted file. A deleted file, even if unsaved,

[2016-05-25 10:01] dbaeumer commented on #6623
This is what I see under Windows:
[code]

Checking under Linux now.

[2016-05-25 10:02] dbaeumer commented on #6623
The tasks.json is:
[code]

Note that the var for the basename is ${fileBasename}

[2016-05-25 10:06] tebeco commented on #69
You're right, VsCode seems to work since this morning. I changed my password there was probably some network cache issue...
I've got access to the Store Extension

Still I encounter something funny :
On the computer I got vs2013.5 vs2015.2, vsCode (latest rtm)
I've installed the .NetCore 1.0.0 Preview 1 (NetCore RC2 + Tooling CLI preview)
online "cli-samples" does not works (some work & some don't

[2016-05-25 10:06] dbaeumer commented on #6623
Same is true for Linux (Elementary OS).

[2016-05-25 10:08] dbaeumer commented on #6623
I am closing the issue. Please ping with steps to reproduce if you still see this.

[2016-05-25 10:08] #6623 closed

[2016-05-25 10:08] #6800 closed

[2016-05-25 10:11] dbaeumer commented on #6623
We get the base name using and node function which should be independent of the Linux you use. That is why I closed it. To double check you could execute the following snippet in a node environment:
[code]
This should print:
[code]

[2016-05-25 10:12] joaomoreno opened #6865 "Hover misses border in Dark theme"
![image](https://cloud.githubusercontent.com/assets/22350/15536515/eeb16f06-2271-11e6-80d1-011f0bb2e78c.png)

[2016-05-25 10:13] joaomoreno commented on #6865
Not really sure who owner is... cc @bgashler1 @aeschli @jrieken

[2016-05-25 10:15] joaomoreno commented on #69
That is an issue with either Nuget or the dotnet tooling...

[2016-05-25 10:15] joaomoreno commented on #69
Closing this discussion as everything's been said.

[2016-05-25 10:22] vakrilov opened #6866 "Value of `this` when debugging Typescript"
- VSCode Version: 1.1
- OS Version: Windows

[Link to original issue](https://github.com/NativeScript/nativescript-vscode-extension/issues/47)
I'm using the [NativeScript extension for VisualCode](https://github.com/NativeScript/nativescript-vscode-extension) and I have the following issue when debugging:

Lambda/arrow functions that have `this` inside their body can be confusing.
Here is and exam

[2016-05-25 10:23] #6599 closed

[2016-05-25 10:33] OldrichDlouhy commented on #6801
I am getting the same issue with editing typescript ts and tsx files. Restarting the VS Code helps in some cases.

This is the text from the Output view:

Sending request: quickinfo (5255). Response expected: yes. Current queue length: 0
Response received: quickinfo (5255). Request took 26 ms. Success: false . Message: No content available.
Sending request: definition (5256). Response expected: ye

[2016-05-25 10:42] jrieken commented on #6709
The issue is stupid URI math we do here: https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/utils/projectStatus.ts#L103. The path we simply concat contains a `#` and therefore becomes a fragment path.

[2016-05-25 10:47] jrieken commented on #6678
and also the `with` methods we have on the underlying type such that uri can be modified nicely. This might prevent some issues when path/uri-math happens

[2016-05-25 10:48] jrieken commented on #6709
We should consider adding more uri modification methods: #6678

[2016-05-25 10:48] #6709 closed

[2016-05-25 10:53] isidorn opened #6867 "Internal error: illegal access for variables and watch expressions"
- VSCode Version: alpha
- OS Version: os x
- node version: had node 6.2 installed but reverted back to 6.1 and still see this behavior

Steps to Reproduce:

1. Debug any simple js application
2. Try to evaluate `console` in watch or repl -> get an 'Internal error: illegal access'
3. I also get this error for some variables in the variables view

![screen shot 2016-05-25 at 12 53 14](https://cloud.

[2016-05-25 10:54] varanthir opened #6868 "VS Code parser problems."
- VSCode Version: 1.1.1
- OS Version: Win 10 Home

VS Code can't parse code properly, script is ok - works.

![code_parser_bug](https://cloud.githubusercontent.com/assets/17810474/15537571/8d619626-2277-11e6-921d-f41be1da733c.png)

[2016-05-25 10:57] jrieken opened #6869 "staged changes are in memory models"
- make a change in a TS files
- open diff editor
- hover over the RHS and enjoy type hover and other language features
- stage the changes
- repeat the hover etc and notice they are all gone

The attached gif shows the URI of the active editor in the console. Note how the `ts` files becomes an in-memory model

![may-25-2016 12-56-24](https://cloud.githubusercontent.com/assets/1794099/15537702/38a4

[2016-05-25 10:58] saml commented on #1033
That works. When I tested bin/code before, I had other vscode instances running

[2016-05-25 10:59] jrieken commented on #6865
@alexandrudima knows - we have a few dups by now ;-)

[2016-05-25 11:00] #6813 closed

[2016-05-25 11:01] #6760 closed

[2016-05-25 11:01] sandy081 commented on #6760
338f9523fa0559d279062a72d302c34eb7c144f2

[2016-05-25 11:02] sandy081 commented on #6754
edf993f4aa2826505db3cac3481b8d37aadf8ffc

[2016-05-25 11:02] #6754 closed

[2016-05-25 11:02] #6744 closed

[2016-05-25 11:02] #6713 closed

[2016-05-25 11:09] jrieken commented on #6772
We actually would color them but the problem is that definition ranges get folded to their start position. That's because TypeScript select the full type not just the identifier when finding a definition...

[2016-05-25 11:12] jrieken commented on #6772
<img width="532" alt="screen shot 2016-05-25 at 13 12 18" src="https://cloud.githubusercontent.com/assets/1794099/15538091/5849323e-227a-11e6-98a9-ff8f308c9d4d.png">

it would look like this...

[2016-05-25 11:13] jrieken commented on #6772
@dbaeumer do you know if TypeScript is doing that on purpose of by accident?

[2016-05-25 11:15] #6521 closed

[2016-05-25 11:16] #5505 closed

[2016-05-25 11:17] mkyjakova opened #6870 "[loc][Query][DevDiv] Typo in source "id""
Hi, we found a potential typo in the source. Can you please have a look?
Source:
Make sure you use the full extension id, eg: {0}

File Name:
src\vs\code\node\cliProcessMain.nls.resx

Resource ID:
".resx", 0; "useId"

Query:
"id" is usually spelled" ID"- Please confirm and fix. Thanks!

[2016-05-25 11:18] jrieken commented on #2628
* Folder
* Directory
* Event (#5407)

[2016-05-25 11:18] jrieken commented on #5407
#2628

[2016-05-25 11:18] #5407 closed

[2016-05-25 11:31] lukaschal commented on #5405
Waiting for linguistic input.

[2016-05-25 11:39] merott-movahedi-cko opened #6871 "A mistake - please ignore"
Opened this by mistake - apologies, and ignore please.

[2016-05-25 11:41] #6871 closed

[2016-05-25 11:42] Merott opened #6872 "Add reverse command for addSelectionToNextFindMatch"
- VSCode Version: 1.1.1
- OS Version: OS X 10.11.4

I know WebStorm does this, but I don't know about other editors. I find it really useful to be able to undo the last selection when using `cmd+d` to select words. It's common to accidentally select one too many words, and then having to start all over.

I'd propose the name `addSelectionToNextFindMatchReverse` for clarity and to make it easily re

[2016-05-25 12:10] jrieken commented on #5016
moving out further cos error telemetry isn't there yet

[2016-05-25 12:12] natewallace commented on #6255
Actually I'm guessing it's the value that's returned from the `which git` command that is varied for some reason.  I just stepped through the code while it's working and the `which git` command is returning `/usr/local/bin/git` as expected which bypasses the call to `xcode-select -p`.

I'm guessing that for some reason the path isn't always correct when the automator script runs.  I've added a com

[2016-05-25 12:15] dbaeumer commented on #6579
This simple example doesn't work either:
[code]
it produces:
[code]
Looks like bash is not known in an spawned cmd.exe.

Interestingly executing this in a command prompt
[code]

works

[2016-05-25 12:17] dbaeumer commented on #6579
Trying this
[code]
doesn't work either. It prints:
[code]

[2016-05-25 12:26] aeschli commented on #6813
I'm also puzzled by the occasional showing up of the etc folder.

[2016-05-25 12:30] dbaeumer commented on #6579
This is either a node problem or a general bash problem. Trying
[code]
doesn't work either in a native node environment.

No further action planned for May. Need to see if spawning bash from a different programming language (e.g. C#) works

[2016-05-25 12:40] isidorn commented on #6757
This is happening because the php adapter is first sending a `stopped` event before the response for `step` returns. I have created an issue for the PHP adapter here https://github.com/felixfbecker/vscode-php-debug/issues/37
Previously we had a workaround that would prevent this issue, but we have remoed this workaround due to other issues https://github.com/Microsoft/vscode/issues/5966

[2016-05-25 12:40] #6757 closed

[2016-05-25 12:44] aeschli commented on #6752
Closing as invalid. The selection on doubleclicking is configured in the 'editor.wordSeparators' setting.

[2016-05-25 12:44] #6752 closed

[2016-05-25 12:45] weinand commented on #6160
I've used this command

[code]
to compile this program:

[code]

Setting a breakpoint on line 18 nicely shows that all threads are stopping when the breakpoint is hit, and all continue on the 'continue' command.

[2016-05-25 12:46] #6160 closed

[2016-05-25 12:47] Brakkar opened #6873 "Html code formatting weird behavior"
- VSCode Version: 1.1.1
- OS Version: current osx

Steps to Reproduce:

Original code:
<img width="618" alt="before" src="https://cloud.githubusercontent.com/assets/5489200/15540411/83175132-2287-11e6-9d12-90dd9691c2ec.png">

Then select all this code and chose "Format code":
<img width="758" alt="after" src="https://cloud.githubusercontent.com/assets/5489200/15540410/82f19140-2287-11e6-8fa9-5c12b

[2016-05-25 12:48] weinand commented on #6246
@seanmcbreen Joh mentioned that you've already verified this. If this is correct please set your checkbox and close this item.

[2016-05-25 12:53] dbaeumer commented on #6772
@jrieken actually I don't know. I see the need for both. So instead of convincing them to change this I would try to convince them to add the identifier range and the full declaration range.

One reason I can think of having the full range is that types don't need to have names. So no identifier range.

[2016-05-25 12:54] dbaeumer commented on #6801
Actually I looks like the tsserver 'lost' the content of the file. Moving to the TS team.

[2016-05-25 12:59] isidorn commented on #6210
![screen shot 2016-05-25 at 12 42 53](https://cloud.githubusercontent.com/assets/1926584/15537633/eca98c4c-2277-11e6-94f3-075d2bc64442.png)

It seems aligned now to me, but the right border seems to be thicker -> postponing to June

[2016-05-25 13:12] aeschli commented on #6716
Should have taken 'insertSpaces' and 'tabSize' from model.

We removed the feature that 'Configure File Association' adds a settings string due to the unresolved issues with the configuration open in a dirty editor.

[2016-05-25 13:12] #6716 closed

[2016-05-25 13:13] #6725 closed

[2016-05-25 13:14] jrieken opened #6874 "CompletionItem - multiple text edits, onDidAcceptCommand"
We should investigate if we should allow running a command on suggest. That would allow for more advanced code actions, like 'add import', 'download typing files' etc on completion. An alternative would be the `onDidExecuteCommand` event which folks ask for. Internally accepting a completion is a command - if we broadcast that someone else could run a followup command.

[2016-05-25 13:16] aeschli commented on #6873
@Brakkar Can you paste the html snippet here?

[2016-05-25 13:19] aeschli commented on #6868
Duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/81

[2016-05-25 13:19] #6868 closed

[2016-05-25 13:21] aeschli commented on #6863
@arixse Please add more details...

[2016-05-25 13:22] weinand commented on #6746
Extending the protocol is easy. But before we do this we need some evidence that debug adapters can actually provide that information.
In case of node.js I do not see a way to provide source and line information. `console.log()` statements in the debuggee result in information sent to stdout (or stderr) which is picked up by the debug adapter and sent as OutputEvents to VS Code. The debug adapter

[2016-05-25 13:22] Brakkar commented on #6873
<div class="form-group">
                        <label for="exampleInputEmail1">link source language:</label>
                        <select name="linkSourceLanguage" class="form-control">
                            <option value="{javascript}" selected="selected">Javascript</option>
                            <option value="typescript">Typescript</option>
                            <option v

[2016-05-25 13:23] jrieken commented on #6874
[`onWill|onDidExecuteCommand`](#1431)

[2016-05-25 13:25] bpasero commented on #6864
@Brakkar we cannot really close the file with user changes because that would mean data loss. We could however maybe ask the user what to do if we detect this case.

[2016-05-25 13:25] bpasero commented on #6861
This is because TypeScript is locking folders.

[2016-05-25 13:28] Brakkar commented on #6864
Yes, would be good and if user agrees, the file should be truly removed from editor as well as all browser tree areas. Tks.

[2016-05-25 13:32] lukaschal commented on #5405
Fixed as suggested.

SRC: Peek Definition
TGT: Apercu de définition

[2016-05-25 13:37] felixfbecker commented on #6746
No, I only read stdout/stderr stream. And that is only for CLI apps, webapps don't even have stdout/stderr

[2016-05-25 13:40] alexandrudima commented on #6872
@Merott Would the existing `cursorUndo` (`cmd+u`) do the trick? (it also works in other contexts)

[2016-05-25 13:43] alexandrudima commented on #6828
I agree, but I also did not implement this feature. If my memory is good I think @bpasero implemented the preview of the definition.

[2016-05-25 13:57] robbpriestley opened #6875 "Intellisense Makes Suggestions When Writing Comments"
- VSCode Version: 1.1.1
- OS Version: OSX El Capitan 10.11.4

Steps to Reproduce:

1. Working on a C# file, add /* ... */ to make a block comment or // to make an inline comment
2. Start typing a comment

Intellisense suggest hints based on what I'm typing in the comment. I don't find this helpful, in fact it's distracting and possibly a somewhat wasteful use of resources.

[2016-05-25 14:01] tonymk opened #6877 "Visual studio code crashes every 2 mins"
- VSCode Version: 1.1.1
- OS Version: win 10 pro, version 1511, os build 10586.318

Steps to Reproduce:

1. Start visual studio
2. open folder
3. wait

Get an error msg, window has crashed We are sorry.....  You can reopen...

[2016-05-25 14:06] jrieken commented on #6875
for may we will add an option to disable word based suggestions. dupe of #5574

[2016-05-25 14:06] #6875 closed

[2016-05-25 14:08] DickvdBrink commented on #6877
What kind of workspace is it? How many files, which languages (eg php, typescript, c#)

[2016-05-25 14:20] weinand commented on #6839
@kieferrm I could not reproduce with node 6.0, 6.1, 6.2 on WIndows 10 (Parallels VM):

![jf2xitkf0x](https://cloud.githubusercontent.com/assets/1898161/15543260/78c35dae-2294-11e6-9074-437fec4c3eb0.gif)

Is there anything I am doing differently?

[2016-05-25 14:30] bpasero commented on #6828
@alexandrudima I am relying on `tokenizeToHtmlContent` : https://github.com/Microsoft/vscode/blob/ben/stacks/src/vs/editor/contrib/goToDeclaration/browser/goToDeclaration.ts#L376

[2016-05-25 14:41] bpasero commented on #6686
Found out how this can happen: reload the vscode with editors open and then do the git operation, it fails to clean up!

[2016-05-25 14:42] weinand commented on #6839
To rule out that Parallel is the reason for the difference, I just tried to reproduce on a Lenovo X Carbon laptop with Window 8 and node.js 6.2. But again, breakpoints are reliably hit and I never missed any.

[2016-05-25 14:43] bpasero commented on #6686
Fixed :)

[2016-05-25 14:43] #6686 closed

[2016-05-25 14:53] oodboo opened #6878 "VS Code freezes on any minified js file opening"
- VSCode Version: 1.1.1-insider
- OS Version: Windows 10

If you try opening any javascript that is minified it will brick VS Code. At first I thought it is due to size but now I am getting the same thing with files small as 10K.

Steps to reporduce:
npm init
npm install dragula --save

Go to node_modules folder and find folder dragula and try opening dragula.min.js.

[2016-05-25 15:12] drewda commented on #1886
I agree, this would be a useful addition.

Currently in the Mac version, it's only possible to rename files by focusing to the Explorer sidebar, moving up or down to the current file, and pressing Enter to edit the name.

[2016-05-25 15:14] kieferrm commented on #6839
I found the difference:

I run in a VM. When I have the source in the window file system everything works fine and the break point is hit. When I have the source on the Mac (which is transparently mounted  as a windows drive) then - playing exactly the same scenario - the break point is not hit.  This seems to suggest that this is either a timing issue or some kind of line delimiter issue. If it's

[2016-05-25 15:26] weinand commented on #6839
@kieferrm I suspect this is UNC file path issue.

[2016-05-25 15:43] ram7489 commented on #3518
Would love this feature! We regularly share code, and it would be much easier to read/understand if there's color coding and indentation.

[2016-05-25 15:46] Merott commented on #6872
@alexandrudima It does the trick, I didn't know the command existed.

I wonder though, is there still a case for this feature? I guess with a dedicated command, you could keep pressing or hold a shortcut to undo all selections, although that doesn't seem very useful, and you could do the same with `esc` anyway. I can't think of any use cases where `cmd+u` won't do the trick - I'm trying. I think I

[2016-05-25 16:03] bpasero commented on #1886
Why not try an extension? Try https://marketplace.visualstudio.com/items?itemName=sleistner.vscode-fileutils

[2016-05-25 16:05] natostanco opened #6879 "How to rebind alt+click ?"
- VSCode Version: 1.1.1
- OS Version: linux

The list of default keyboard shortcuts does not include `alt+click` or any other `click` commands. Is it possible to rebind them?

[2016-05-25 16:11] Tyriar commented on #6579
I got this working without any issues when answering his So question. http://stackoverflow.com/a/37378311/1156119

Windows 10 64 bit, just installed. I have a feeling now that it would have been git bash that it was actually running in.

[2016-05-25 16:14] joaomoreno opened #6880 "Suggest scrollbar has background"
![image](https://cloud.githubusercontent.com/assets/22350/15547534/7bebd3de-22a4-11e6-9400-f5131cee3df7.png)

[2016-05-25 16:15] joaomoreno commented on #6880
@alexandrudima is this related with your recent work? It seems that the scrollbar crops the suggestions.

[2016-05-25 16:17] kieferm commented on #6581
I believe I was tagged on this accidentally.  @kieferrm  is similar to @kieferm

[2016-05-25 16:18] #3464 closed

[2016-05-25 16:20] thomas-jeepe commented on #566
Awesome!

[2016-05-25 16:20] joaomoreno commented on #3464
Thanks for the help in this @aeschli. I was able to simplify the render and splice methods much more; from 319 loc to 272! Feels much better to reason about too. Also ended up dropping the diff algorithm and just unrender and render everything, like you suggested.

[2016-05-25 16:23] joaomoreno commented on #6869
This has been the behaviour since inception.

Even after staging, you can make further changes in `url.ts`. Thus, there is a need for 3 models: the HEAD version, the index version (staged) and the working tree version. The first two are in memory.

What is the real issue here?

[2016-05-25 16:24] bpasero commented on #6787
UX meeting outcome: we think we should provide a setting that allows a user to decide where new editors open. We need this already for tabs (to the right of active editor, to the left of active editor) and we could just let this be an enum with more values (to the beginning of all editors, at the end). Setting this to "at the end" would restore pretty much how working files used to behave.

[2016-05-25 16:24] joaomoreno commented on #6255
Alright. I will close it since it seems this is very specific to your system.

[2016-05-25 16:24] #6255 closed

[2016-05-25 16:26] bpasero commented on #6812
Summary from the UX meeting regarding the concerns:
* we will fix the double click issue without having to hide the preview tab (https://github.com/Microsoft/vscode/issues/6749)
* we will provide an option to configure sorting behaviour of new editors (https://github.com/Microsoft/vscode/issues/6787)
* we would like to test out the italics experience even when tabs are disabled to see if we can ge

[2016-05-25 16:26] #6812 closed

[2016-05-25 16:27] bpasero commented on #6764
Small update from ux meeting, we think "edt" is better than "editor" because faster to type. We already use short form "ext" for extensions.

[2016-05-25 16:28] weinand commented on #6839
@kieferrm I've verified that this is in fact a UNC path issue.

The following screenshot shows that node.js reports the file path for the 'debugger' statement back with a UNC path (green border), which VS Code opens in read-only mode in the editor (see the bogus "core module" detaill at the end).

But the breakpoint is registered with a driveletter path (red border in the tracing information).

![

[2016-05-25 16:31] bpasero commented on #6596
Outcome from the UX meeting:
* we will shorten the names of the actions when they appear in their context
   * editor: close, close others, (close all?)
   * editor shown as tab: additionally "close left", "close right"
   * group: move left, move right, close all
* we will drop actions that target other contexts (no close all groups, close other groups in the context of editors or groups)

[2016-05-25 16:32] bpasero commented on #6749
@isidorn moving to you so that we address this very specific to the explorer problem: can we play around with a delay that only applies when you click from the explorer that allows me to still double click without the thing moving down?

[2016-05-25 16:33] bpasero opened #6881 "Remove chevron when there is no overflow condition"
We decided to hide the chevron for overflow when there is no overflowing editor at all. This applies to having just 1 editor open when tabs are disabled or with tabs, for editors that flow out of the visible view.

[2016-05-25 16:36] bpasero opened #6882 "Move quick open to editor that is the target of the operation"
For Ctrl+Tab it would be much better if quick open opens on the area of the editor that it targets. Once we have support for that we can also play around with using this for other quick open handlers that target the active editor (goto line, goto symbol). Though while the former is mandatory, the latter can be done as part of an experiment to measure the impact.

[2016-05-25 16:37] Tyriar commented on #6160
Thanks @weinand

[2016-05-25 16:38] bpasero commented on #6777
We decide to not show the overflow when it does not apply.

[2016-05-25 16:38] #6777 closed

[2016-05-25 16:38] bpasero commented on #6756
We decided to not show the arrow down if it does not apply.

[2016-05-25 16:38] #6756 closed

[2016-05-25 16:42] Tyriar commented on #6835
How about requiring `VSCODE_CLI` or something?

[2016-05-25 16:43] #6536 closed

[2016-05-25 16:43] bpasero commented on #6536
Thanks for the feedback!

[2016-05-25 16:47] ChechoPerezH opened #6883 "Go to definition doesn't work"
- VSCode Version: 1.1.1
- OS Version: Ubuntu 15.10

when i press F12 (or click on "go to definition" on menu)

![screenshot from 2016-05-25 11-34-19](https://cloud.githubusercontent.com/assets/19575512/15548155/ba949342-226c-11e6-9361-05248acc53d0.png)

doens't work, what can i do?

[2016-05-25 16:55] jaytrent opened #6884 "OSX: paste doesn't work"
- VSCode Version: 1.1.1
- OS Version:  10.11.4

Steps to Reproduce:

1. copy from any document (cmd-C)
2. verify paste works in other apps (cmd-V)
3. attempt to paste into a document open in Code (cmd-V)
4. observe paste fails

[2016-05-25 16:59] Tyriar commented on #6766
I'm all for increasing the priority of #1231, was going with settings values as that's what most other editors. I'll remove the colors for now, it was trivial to add.

[2016-05-25 17:03] Tyriar commented on #6368
I was thinking similar to how npm works: `npm install foo uninstall`. Requiring `--install-extension` multiple times is so verbose.

[2016-05-25 17:05] Tyriar commented on #6397
settings.json:

[code]

[2016-05-25 17:13] Tyriar commented on #6838
Thanks for the suggestion @rozzzly, my main concern with something like that is that it's not leveraging people's terminal setups. For example, I would probably be losing some information I find most useful as I have a custom prompt to display git status for me. Will check it out though.

[2016-05-25 17:21] Tyriar commented on #6838
I have actually tried black-screen before, it seemed kind of cool but it was different to what I was used and didn't particularly want to change :P

[2016-05-25 17:21] justinboyd commented on #2947
I'm also running into this issue where I'm developing on a repo clone, but VS Code isn't picking it up as a repository.

I'm on a Windows 7, 64-bit machine.
Git version 2.8.3

[2016-05-25 17:24] edumunoz commented on #6569
Thanks for the responses @weinand.

Yes, sorry for mixing both.

I assume this can be a `Promise<string>` that the callback of the command would return.

[2016-05-25 17:41] kieferrm opened #6885 "File with long lines cause severe performance issues"
1. Open the following [two test files](https://github.com/Microsoft/vscode/files/282544/test.zip) in vscode.
2. Change user/workspace settings to include:  "editor.wrappingColumn": -1
3. Scroll to a column larger than 1500 -> selecting text with the mouse becomes painfully slow
4. Scroll to a column around 9500 -> typing is not working anymore (or it's so slow that I didn't wait long enough)

For

[2016-05-25 17:43] Tyriar commented on #6879
Duplicate of #3091 and #3130

[2016-05-25 17:43] #6879 closed

[2016-05-25 17:45] JoeCostanzo commented on #1690
+1

[2016-05-25 17:48] rebornix commented on #6746
I'm just directing the console output to OutputEvent, there is no such line information...

[2016-05-25 17:51] Tyriar opened #6886 "Make %COMSPEC% the default terminal on Windows"
Non-legacy terminal seems to work just fine, at least for the slow insiders build.

[2016-05-25 17:51] Tyriar commented on #143
After trying again on Windows 10 with the new cmd, it seems to work just fine. As such I think I'll make the default `%COMSPEC%` which points at cmd by default. This makes it consistent with the open in (external) terminal command. https://github.com/Microsoft/vscode/issues/6886

[2016-05-25 17:55] #6886 closed

[2016-05-25 17:58] nwgh commented on #6110
Yes, that is the most disturbing part of this :) When my `command` and `args` are set up as in the comment from yesterday, the environment variables are set up just fine (including `MOZCONFIG`). Same thing if I add an `env` property to the `options` in the sample task.

If I do nothing but change the `command` to `env` (and drop the `args` property, so as to not confuse `env`) then the environment

[2016-05-25 18:02] nwgh commented on #6110
Oh, and just for completeness, the behavior persists even with latest insiders build 1.1.1 commit def9e32467ad6e4f48787d38caf190acbfee5880

[2016-05-25 18:05] Tyriar commented on #6766
@alexandrudima @aeschli is there some event I can listen to for when the theme changes?

[2016-05-25 18:18] RandScullard commented on #6397
@Tyriar is that setting already available in the software, or is that a proposed solution?

[2016-05-25 18:22] Tyriar commented on #6397
@RandScullard just a suggestion

[2016-05-25 18:28] roblourens commented on #6746
Yeah, the Chrome debug protocol provides the URL/line/column of the source of the log message. I could easily resolve the URL to the original path and pass that back.

[2016-05-25 18:29] Tyriar commented on #6733
Note that this is less important now with cmd.exe becoming the default (#6886).

This is what the HTML shows:

[code]

[2016-05-25 18:31] JasonDunbar commented on #6579
The Git Bash bit makes sense - but kinda defeats what I'm trying to do here; segregate dev tooling to Ubuntu on Windows.

[2016-05-25 18:35] #6452 closed

[2016-05-25 18:36] Tyriar commented on #6621
I can no longer reproduce, the default shell is now cmd.exe so it's not as big of an issue. I guess we'll wait and see if more can repro.

[2016-05-25 18:37] RandScullard commented on #6397
:thumbsup:

[2016-05-25 19:03] pcherkasova commented on #6830
Benjamin,

Thank you for your answer. I will watch for it and if i find a way to repro i will let you know.
I will also check modification time.

Sent from Outlook Mobile<https://aka.ms/qtex0l>

_____________________________
From: Benjamin Pasero <notifications@github.com<mailto:notifications@github.com>>
Sent: Wednesday, May 25, 2016 12:22 AM
Subject: Re: [Microsoft/vscode] Lost my work on unix m

[2016-05-25 19:05] Tyriar commented on #6766
Nevermind, I found `ThemeService` :smile:

[2016-05-25 19:05] ChazyTheBest opened #6889 "auto surround selected word with quotes stopped working for php"
- VSCode Version: 1.1.1
- OS Version: Manjaro 16.06 (rc1)

I don't know what happened but yesterday I was writing some code and when I selected a word and pressed ' the word was quoted, now the word is replaced by one ' instead.

Brackets are still auto closing though...

If I change the language mode from php to another, like c++, then it'll work but if I change it back it won't...

If I rename m

[2016-05-25 19:23] v-pavanp commented on #6831
I brought this up because ExternalTerminal is working without file extension. Basically if you see all these terminals are part of environment variables, so I think it should work with IntegratedTerminal as well without providing file extension (i.e. .exe for windows).

[2016-05-25 19:31] ChazyTheBest commented on #6878
Do you have `"editor.wrappingColumn": -1`?

I do also get freezes because of this. And I think there's a global wrapping limit, because I can see javascripts like Jquery cutted at the end of the row with three dots.

[2016-05-25 19:48] Tyriar commented on #6831
The reason for this is because it's launched from the cmd process `process.env['comspec'] || 'cmd.exe'` (full shell path or cmd.exe) with args `['/c', 'start', '/wait', '""', exec]`. I don't think it's possible to do this for the integrated terminal unfortunately.

[2016-05-25 19:49] Tyriar commented on #6579
I had trouble getting the integrated terminal running `cmd.exe` to recognize bash. I think it's integrated in some weird way. My impression with playing around with it for the first time a few days ago was that it's definitely early days and probably not worth trying to integrate until it's matured more.

[2016-05-25 19:51] Tyriar opened #6892 "Move src/vs/workbench/parts/terminal/common/terminal to electron-browser"
It uses node APIs

[2016-05-25 19:59] joaomoreno commented on #6749
@bpasero Do you mean delaying the moving down when double clicking?

[2016-05-25 20:02] joaomoreno commented on #6835
Also doesn't work, because we still need to execute the executable directly when double clicking it or launching it via an application launcher.

[2016-05-25 20:02] #6892 closed

[2016-05-25 20:05] Tyriar commented on #6835
Ah ok, I guess the answer is no :)

[2016-05-25 20:05] #6835 closed

[2016-05-25 20:08] joaomoreno commented on #6368
Could work, but I will simply close this. We enabled this so people can automate installations, this is not the usual way to install an extension; the product UI is for that. If someone wants to install multiple extensions, they can still do it.

[2016-05-25 20:08] #6368 closed

[2016-05-25 20:09] joaomoreno commented on #2947
@justinboyd can you show me a screenshot?

[2016-05-25 20:10] joaomoreno commented on #6835
I'd like to do it... but not really sure how to. Maybe a warning at startup if detected that it is a tty... but still...

[2016-05-25 20:12] joaomoreno commented on #6110
@dbaeumer Given these findings, I believe this is somewhere in the tasks framework.

[2016-05-25 20:13] joaomoreno commented on #6397
Oh I see, I misread your suggestion, sorry! Might be nice, yeha.

[2016-05-25 20:19] pcherkasova commented on #1751
How about Mason: perl inside html?

[2016-05-25 20:20] Tyriar opened #6893 "Create wiki page that details packaging vscode"

[2016-05-25 20:26] Tyriar commented on #1884
Reopening. This will likely be part of https://github.com/Microsoft/vscode/issues/1231

[2016-05-25 20:29] Tyriar commented on #6368
K sounds good, I have already done [the automation I wanted to do](https://github.com/Tyriar/dotfiles/blob/master/modules/vscode/install_extensions.sh), just waiting on https://github.com/Microsoft/vscode/pull/6366 so it doesn't error out

[2016-05-25 20:30] oodboo commented on #6878
In my case setting is :
[code]

[2016-05-25 20:41] ChazyTheBest commented on #6878
That's the default setting. My VS Code doesn't brick nor freeze with that setting, only if I set it to -1 and start moving horizontally. Also I have multiple minified plugins in the same file.

If you've upgraded recently try cleaning the old config and start fresh (save your config in your project folder) and see what happens.

[2016-05-25 20:50] oodboo commented on #6878
Install is already clean ...

[2016-05-25 21:00] justinboyd commented on #2947
I can provide a screenshot later tonight or tomorrow, but I'm beginning to believe this is an issue with Git and not VS Code.

When executing the "git status" command on my clone repo I get the following error:

"error: object directory /[Path]/.git/objects does not exist; check .git/objects/info/alternates.
error: refs/heads/master does not point to a valid object!
error: refs/remotes/origin/HEAD

[2016-05-25 21:02] ChazyTheBest commented on #6878
Oh sorry, you're in Windows, in Linux you have the config in a different folder.

[2016-05-25 21:04] cliffowen commented on #6833
@alexandrudima Yeah, NumLock is the very first thing to try. But alas, no. Mac doesn't really know about the NumLock. No matter what, numpad9 is just 9 now.

[2016-05-25 21:25] bgashler1 commented on #6686
Awesome!

[2016-05-25 21:35] weinand opened #6894 "Breakpoints not hit if node.js project is located on UNC share"
OS: Windows

If a node.js project is mounted on Windows as a UNC share breakpoints are not hit.

In this case node.js sees file paths as UNC paths whereas VS Code sets breakpoints as drive letter paths. As a consequence node.js does not hit a breakpoint because the file path of a module never matches the registered path of a breakpoint.

[2016-05-25 21:42] bpasero commented on #6749
@joaomoreno yes. this issue is very specific to the explorer only, if you have another idea how to solve it, please let us know,

[2016-05-25 21:48] weinand commented on #6839
Since this is not an issue specific to node 6.2, I've created a bug that better reflects the real issue: https://github.com/Microsoft/vscode/issues/6894

[2016-05-25 21:48] #6839 closed

[2016-05-25 21:49] robbpriestley opened #6895 "Parameter Hints Not Rendering Properly"
- VSCode Version: 1.1.1
- OS Version: OSX El Capitan 10.11.4

Steps to Reproduce:

1. Write the code to create a new object

Expected: Intellisense parameter hints show different signatures with available parameter names.

Actual: blank area shows (see screenshot)

![image](https://cloud.githubusercontent.com/assets/16694050/15557436/d408c008-2287-11e6-8756-100f6061a67d.png)

[2016-05-25 22:04] kavehv commented on #2248
👍

[2016-05-25 22:10] Tyriar commented on #6516
Looks like https://github.com/Microsoft/vscode/pull/6897 is fixing this issue too

[2016-05-25 22:12] danvk opened #6898 "Support directory diffs"
The side-by-side diff view of staged & unstaged changes is completely fantastic. I want to use it for all my `git diff` commands. Frequently I'm diffing against something other than `HEAD`, though. For example, I'd like to see the equivalent of `git diff master` in vscode.

I realize that you can set up vscode as a git difftool, but this forces you to view the files one-by-one, rather than en mass

[2016-05-25 22:13] Tyriar commented on #2248
Does anyone know if it is possible to add text to the gutter? If not we should create a separate feature request for that. This should then probably be moved to https://github.com/waderyan/vscode-gitblame and reference the extension API request.

[2016-05-25 22:15] rebornix commented on #6516
@Tyriar we have `Stage` and `Clean` on the treeview of git changes, #6897 is adding these two to the right top of diff editor view, but it's still file level operation. #6896 is focusing on selected lines :smile:

[2016-05-25 22:23] cesarvarela commented on #1690
Can't believe you guys went past version 1.0 without this!

[2016-05-25 22:25] Tyriar commented on #6707
Seems to work fine for me, <kbd>&uarr;</kbd> to go to recent commands, <kbd>ctrl</kbd>+<kbd>r</kbd> to do a lookup. Regardless, this sort of stuff we can't mess with at the moment as input and output is done by external libs. Restoring any state would also be very difficult currently. There's the possibility for this to change in #6838

[2016-05-25 22:25] #6707 closed

[2016-05-25 22:45] DelvarWorld opened #6899 "Don't debounce searches in the type-to-filter-menus"
- VSCode Version: Version 1.1.1 (1.1.1)
- OS Version: OSX

Steps to Reproduce:

1. Open any menu, like the find files menu, with ⌘P
2. Type the name of the file

Expected:

The file should show up almost instantly, as I'm typing, since after the first 3 keystrokes it should match, **as I'm typing**

Actual:

I have to stop typing and wait 500ms - 1000ms for the file to show up. It looks like you'r

[2016-05-25 23:04] burdiyan commented on #6472
It's also valid for folding directories in the sidebar. On a Mac for example it's a native behavior, when you fold or expand something pressing `alt (option) + mouse click` all nested elements in that folder are folded or expanded respectively.

It would be nice upgrade for VS Code if it could follow the same rule.

Thanks.

[2016-05-25 23:22] v-pavanp opened #6901 "Explicit pause showing wrong message with mouse hove in Call stack"
- VSCode Version: Latest alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch app and open any node js express TS or JS project.
2. Start debugging and pause explicitly once you get a message for listing port number in debug console.
3. You will get message under call stack like "No call stack because program paused outside..."
4. Hover over on call stack message to read full message.
Actu

[2016-05-25 23:23] Tyriar commented on #6766
Improved light theme in https://github.com/Microsoft/vscode/commit/a38efd89f992b75644cb0e8f997bab2543d2bd65

[2016-05-25 23:23] #6766 closed

[2016-05-25 23:37] Tyriar commented on #6733
The follow data is received from Powershell:

[code]

This is the one that adds all the spaces:

[code]

[code]

[2016-05-25 23:48] Tyriar commented on #6733
Stepped through the code, the second message is `\e[?251\r\e[64G\e[?25h`

`\e[64G` sets the position of the cursor to 64 (ie. 63 as its 0-based)
`\e[?25h` runs: `this.cursorHidden = false;`

[2016-05-25 23:53] Tyriar commented on #6733
We could intercept this message and fix this case, but the greater question is why Powershell would tell us to go to the 64th column. Powershell correctly passes `\e[1G` on most new lines with content.

[2016-05-25 23:56] gregvanl opened #6902 "code-alpha won't start on Windows"
- VSCode Version:latest code-alpha
- OS Version:Windows 10

Steps to Reproduce:

1. Take the latest update.
2. close down code-alpha.
3. try 'code-alpha .'  Doesn't launch alpha, Task Manager doesn't show process running.

Just started happening on the latest update 34ccc760e4ae61cbd17b1d894cb10a8e4fbc3fc5

[2016-05-25 23:58] Tyriar commented on #6733
Compare this to the first message from cmd:

[code]

[2016-05-25 23:59] Tyriar commented on #6733
@lzybkr sorry to bother you again, but have you got any ideas on this? Powershell seems to be telling our terminal to go to the 64th character for some unknown reason.

[2016-05-26 00:03] Tyriar commented on #6902
Reproduced, I likely caused it in https://github.com/Microsoft/vscode/pull/6588 because `code --wait` and `code --verbose` works. Looking into it.

[2016-05-26 00:08] #6902 closed

[2016-05-26 00:09] Tyriar commented on #6902
Should be fixed, I queued new Windows and Linux builds, OSX build servers seems to have an issue.

[2016-05-26 00:13] BeginnerForLife commented on #4606
...So, are we going to get smooth scrolling?

[2016-05-26 00:17] cacorka91 opened #6903 "KONTAKT CESNET, z. s. p. o ZIKOVA 4, 16000 PRAHA 6 TEL : +420 224 352 994 FAX : +420 224 320 269 info@cesnet.cz"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-05-26 00:18] caseyhoward commented on #1690
@cesarvarela I agree. Maybe there is an extension or something. I tried looking and couldn't find one.

[2016-05-26 00:22] CreepGin commented on #869
So right now, vscode is not supporting extended globbing for their exclude options. Can someone briefly explain what the holdup is?

[2016-05-26 00:28] lzybkr commented on #6733
PowerShell doesn't generate any VT100, and I don't see any code that sets the cursor position before displaying the logo - so I'm at a loss how that could happen.  The banner message doesn't even start out with any whitespace or newlines.

[2016-05-26 00:48] Tyriar commented on #6733
Maybe it's pty.js doing this then, I'll have a look there thanks.

[2016-05-26 00:50] BeginnerForLife commented on #1046
Agreed.

[2016-05-26 00:57] #6903 closed

[2016-05-26 01:01] chrisdias commented on #6607
@lyret thank you for the suggestion!  we are actually working on a new icon for VS Code, we'll take this design into consideration.

[2016-05-26 01:03] chrisdias commented on #5453
Nightly builds are on their way, please see: http://code.visualstudio.com/blogs/2016/05/23/evolution-of-insiders

[2016-05-26 01:03] #5453 closed

[2016-05-26 01:17] Tyriar commented on #6733
Looks like this is where it happens, still looking into why: https://github.com/platformio/pty.js/blob/prebuilt/deps/winpty/agent/Terminal.cc#L372

[2016-05-26 01:27] Tyriar opened #6904 "Some exclude patterns fail to apply to in-memory search results"
**Update from bpasero:**
The main issue is that our glob patterns are folder based (e.g. exclude `**/node_modules`) and not file based (e.g. exclude `**/node_modules/**`). When we apply the patterns to in-memory editors and editor history we always pass in the full path of the resource and that makes the glob match fail. For search it works because we check the pattern on the parent folders alread

[2016-05-26 01:41] arixse commented on #6863
sublime text是一次性加载所有扩展，而vscode是一次性加载部分扩展，用户输入扩展名字才会去动态搜索，这样就会导致体验不是很好
![Uploading 1.png…]()

[2016-05-26 02:55] fusionplanet commented on #251
@SHarieprasadh when you open the workspace setting file, VS opens an empty settings.json file. Add the following code as show below (change "C:/xampp/php/php.exe" to your php.exe location)

[code]

[2016-05-26 03:32] nrkn commented on #5942
I get the same thing, it's really annoying when you want to step backward or forward through the command history trying to find a certain state, and after each undo/redo it jumps to the top, making it very difficult to tell if you've gone back/forward to the right place.

[2016-05-26 04:19] kiluavineeth commented on #5909
+1

[2016-05-26 04:25] johnazre commented on #6884
I was not able to reproduce this in OSX 10.11.5 following the steps provided. Are you talking about a specific type of "document" or just anything with highlightable text?

[2016-05-26 04:59] andyhu commented on #2394
@waderyan Same issues here. Have you found a solution?

[2016-05-26 05:04] M-Zuber commented on #6816
Just to reiterate, it happens to me on any type of file - usually only for the first time I press tab after opening vscode (but sometimes also in the middle of working)

[2016-05-26 05:30] sakthirajesh opened #6905 "Visual studio code - Intellisense auto complete behaviour"
- VSCode Version: 1.1.1
- OS Version: Windows 7 x64

I'm pretty new to Visual studio code. I am using Visual studio code for AngularJS application development. As I am from a .NET development background, I'm much fond of intellisense feature in visual studio code. But I could feel something is missing in this. When I type any Object name, autocomplete box pops up with suggestion, when I select the

[2016-05-26 05:51] #6764 closed

[2016-05-26 05:52] #6881 closed

[2016-05-26 05:55] alexxx537 opened #6906 "Jump to error by double clicking on message in output window does not work"
- VSCode Version: 1.1.1
- OS Version: windows 7

Steps to Reproduce:

1. My project is in C language.
2. Root folder structure:
---+.vscode

---prj

------(this is where build starts)

---headers

------(only *.h. There are other folders with header files)

---source

------(only *.c. There are other folders with source files)
3. Error message structure:
    ..\source\<file>.c(<line>): error: <mes

[2016-05-26 06:14] joaomoreno commented on #2947
Definitely sounds like an issue with your repo indeed. Will close this since @stuartweir didn't report more info.

[2016-05-26 06:14] #2947 closed

[2016-05-26 06:18] joaomoreno commented on #6749
Maybe do not use double click as the action to pin a file, but rather a contextual action in the explorer items or the editor title?

[2016-05-26 06:21] joaomoreno commented on #6880
@alexandrudima Never mind, I'm coming to the conclusion that this has always been like that. 👍

[2016-05-26 06:23] bpasero commented on #6596
@isidorn by reducing the number of actions in the context menu in "Opened Editors" I decided that we do not need the context menu there anymore. Now it looks like this:

<img width="327" alt="screen shot 2016-05-26 at 08 22 32" src="https://cloud.githubusercontent.com/assets/900690/15565437/062c41a2-231b-11e6-8116-44172cb2045b.png">

Which matches pretty much what we had in working files:

![image

[2016-05-26 06:23] #6596 closed

[2016-05-26 06:24] bpasero commented on #6749
I would only consider that an option if we cannot find a good solution for this problem. There is a global action to pin a file and you can double click on the editor title to pin it. We could add more context menu actions too, but at some point it gets messy there.

[2016-05-26 06:52] #5942 closed

[2016-05-26 06:52] alexandrudima commented on #5942
For verification: this only happens if autoSave is off. We did not record correctly the previous cursor state before applying the trim whitespace edits.

[2016-05-26 06:56] #5838 closed

[2016-05-26 06:57] joaomoreno commented on #5838
Repro: wait 2 minutes before running a git action.

[2016-05-26 07:00] jrieken commented on #6869
The issue is that I don't get any language service feature on the RHS after staging. No hover, no mark occurrences etc

[2016-05-26 07:00] alexandrudima commented on #6828
The method does correctly what it is supposed to do, but the passed in string begins in the middle of a rule (i.e. the text is not in the initial state)

You can think of it similar to a block comment:

[code]

`My peek definition text` will not be colored as a comment because the `tokenizeToHtmlContent` method only gets:
[code]

[2016-05-26 07:03] tht13 commented on #6516
@Tyriar @rebornix Clarrification: #6897 is adding staging and unstaging of a current file the the `F1` command pallete which also allows it to then also be assigned to a keyboard shortcut.

The PR can be extended to detect current text selection in a file and stage/unstage those lines as well. This would then require #6896 to be merged first. It could also be done as a second PR.

[2016-05-26 07:07] #6880 closed

[2016-05-26 07:14] #6271 closed

[2016-05-26 07:14] #6870 closed

[2016-05-26 07:15] joaomoreno commented on #6869
How do you propose to solve this?

Lowering *severity*.

[2016-05-26 07:15] isidorn commented on #6596
Looks good to me, I like that the change from what we had previously is minimal.

[2016-05-26 07:16] skovmand commented on #6649
I don't know either, besides having seen it on two different machines. [I have asked on Stack Overflow](https://stackoverflow.com/questions/37453988/unity-launcher-icon-doesnt-show-icon-and-title-correctly-for-some-desktop-file) for input from others.

[2016-05-26 07:17] joaomoreno commented on #6807
I can't reproduce this. Maybe you show me at your desk @alexandrudima?

[2016-05-26 07:19] alexandrudima commented on #4606
I think this is a good opportunity for a PR:
* the [`ScrollableElement`](https://github.com/Microsoft/vscode/blob/master/src/vs/base/browser/ui/scrollbar/scrollableElement.ts#L57) should get a new option `smoothScrolling` or equivalent that can be exercised from [the editor](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/browser/viewLayout/scrollManager.ts#L38)
* This option can be

[2016-05-26 07:24] alexandrudima commented on #6807
Have you tried in the built version in our project (maybe it matters for timing purposes?)

Every other time when I type `.ac` it happens, but you gotta type `.ac` quickly.

![suggestions](https://cloud.githubusercontent.com/assets/5047891/15566860/7e47e850-2323-11e6-949e-e7ce9262c1cc.gif)

[2016-05-26 07:29] jrieken commented on #6895
This issue was moved to OmniSharp/omnisharp-vscode#377

[2016-05-26 07:29] #6895 closed

[2016-05-26 07:30] alexandrudima commented on #6842
This will come out of the box with the May release thanks to @outcoldman in PR #5423

![u0ntokj0xj](https://cloud.githubusercontent.com/assets/5047891/15567047/696efcb0-2324-11e6-835c-1f297fb9756b.gif)

[2016-05-26 07:30] #6842 closed

[2016-05-26 07:32] bpasero commented on #6899
https://github.com/Microsoft/vscode/issues/5638

[2016-05-26 07:32] #6899 closed

[2016-05-26 07:32] #6901 closed

[2016-05-26 07:32] aeschli commented on #6889
@ChazyTheBest Did you install any PHP related extensions?
You can try to run VS Code without extensions with `code --disable-extensions`

Surrounding with quotes is disabled in PHP comments and strings. Is that maybe what you see?

[2016-05-26 07:32] jrieken commented on #6869
Then either use a file on disk or convince @dbaeumer to work with files that aren't on disk.

[2016-05-26 07:33] bpasero commented on #6606
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-05-26 07:33] #6606 closed

[2016-05-26 07:33] bpasero commented on #6554
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-05-26 07:34] alexandrudima commented on #6849
We have a hard limit for the find highlights and for the selection highlights at 1000. The reason is that you might have open a 30MB file consisting of 30 million `a`s and you search for `a`. In this case, 30 million decorations would be added to the model which will probably result in a OOM. Let's track this in #1110 . I think at one point it is ok to raise the limit, but we will not reduce it un

[2016-05-26 07:34] #6849 closed

[2016-05-26 07:34] bpasero commented on #6828
This goes beyond a bug fix and needs infrastructure.

[2016-05-26 07:35] aeschli commented on #6883
@ChechoPerezH What language is that?

[2016-05-26 07:42] bpasero commented on #6877
@tonymk can you answer?

[2016-05-26 07:43] jrieken opened #6907 "Use non-nullable types in vscode.d.ts"
TypeScript will introduce support for strict null check and explicit handling of `null` and `undefined` - https://github.com/Microsoft/TypeScript/pull/7140. This is a great opportunity for us to make the API more explicit and hopefully a chance to prevent programming errors. Parts of the API can move from _jsdoc_ comments into type annotations. For instance, the active editor is declared like this

[2016-05-26 07:43] aeschli commented on #6863
@arixse The screenshot was not properly added. Can you try again?

[2016-05-26 07:44] alexandrudima opened #6908 "Remove Alt+F1 editor aria label as it is annoying for repeated use"
We need to document it rather than having it in the editor aria label.

[2016-05-26 07:45] alexandrudima commented on #5288
I can remove it completely, and handle its discoverability through documentation. Let's track its removal in #6908

[2016-05-26 07:46] #5974 closed

[2016-05-26 07:47] bpasero commented on #5288
@alexandrudima nice!

[2016-05-26 07:50] #6858 closed

[2016-05-26 07:51] #6009 closed

[2016-05-26 07:51] aeschli commented on #6858
At the moment injects are only applied to tokens generated by begin/end rules.
I'm investigating if that's a bug or not.

[2016-05-26 07:53] alexandrudima commented on #6878
This is caused by us writing the text on the current line to the `<textarea>` we use for input and because we mirror the selection in the editor as a selection in the `<textarea>`. We do so in order to support screen readers, and this is the only way to support screen readers in an editable body of text in Chromium/Electron.

[2016-05-26 07:54] jrieken commented on #6905
@sakthirajesh You can add the snippet below to your keyboard shortcut configuration to the VS Code to accept a suggestion _and_ insert the dot when pressing `.`

[code]

[2016-05-26 07:59] aeschli commented on #6725
Currently only verifiable in code. I added a test in `jsonEdit.test.ts, line 87`.
@jrieken Can verify this matches your scenario. I assume you had everything commented out, also the array brackets.

[2016-05-26 08:00] alexandrudima commented on #6878
I have filed electron/electron#5709 to ask if it's feasible to get on the JS side of things an event so we can do this only when really needed.

[2016-05-26 08:01] jrieken commented on #6725
correct - I had everything commented out

[2016-05-26 08:09] aeschli commented on #6863
@rebornix Can help translating?

[2016-05-26 08:09] oodboo commented on #6878
@alexandrudima If anything can you just ignore `*.min.js` file and read them as plain text ? Without any formatting/parsing etc.

[2016-05-26 08:13] aeschli commented on #6176
With the recent changes of support for css variables, the menus make sense again and we show them everywhere.

[2016-05-26 08:16] roadyyy commented on #6854
I'm a noob to the nodejs, but I will try and let you know of the outcome

[2016-05-26 08:26] #6717 closed

[2016-05-26 08:29] tonymk commented on #6877
It crashes in both .net core and angular2 environments. Testing with single files now. Seems ok so far. Did try to run it in administrator mode, still crashed.

[2016-05-26 08:31] joaomoreno commented on #6869
@dbaeumer Thoughts?

[2016-05-26 08:33] joaomoreno commented on #6807
I did... my machine is just too fast. 👍

Show me in the office.

[2016-05-26 08:34] isidorn commented on #4502
Moving this to June milestone because it is not critical
@bgashler1 please be aware of issues which you assign to the current milestone as we plan to fix them in the current milestone. I moved this out to June because we are wrapping up May

[2016-05-26 08:38] jrieken commented on #6807
This could also be the tsserver not being able to compute the details fast enough. If I remember correctly, they sometimes don't return a result

[2016-05-26 08:39] tonymk commented on #6877
Deleted node_modules to test with fewer files, still crashes. with this stucture.

C:.
│   .gitignore
│   index.html
│   package.json
│   systemjs.config.js
│   tsconfig.json
│   typings.json
│
├───app
│   │   app.component.js
│   │   app.component.js.map
│   │   app.component.ts
│   │   main.js
│   │   main.js.map
│   │   main.ts
│   │
│   ├───components
│   │       clientcustomers.service.js
│

[2016-05-26 08:51] bpasero commented on #6854
@roadyyy odd, did you try with node.js 6? please report to them!

[2016-05-26 08:51] #6727 closed

[2016-05-26 08:51] #6732 closed

[2016-05-26 08:51] #6761 closed

[2016-05-26 08:52] bpasero commented on #6877
@tonymk are you able to share the workspace with us that crashes and list the exact installed extensions that you have?

[2016-05-26 08:52] joaomoreno commented on #6640
I fixed the error message.

As to why the suggestion box doesn't go away on `;`, I'll leave that up to @aeschli. Moving to backlog.

[2016-05-26 08:53] alexandrudima commented on #6878
@oodboo If you add the following setting `"editor.experimentalScreenReader": false` are things faster?

[2016-05-26 08:55] dbaeumer opened #6909 "A workaround for TS isse https://github.com/Microsoft/TypeScript/issues/6700"
- VSCode Version: alpha
- OS Version: Windows 10

The workaround will drop edits that only remove whitespace on a line and make the line empty by this edit. The editor or latest save might clean them up.

[2016-05-26 08:59] sandy081 commented on #6640
Assigned to myself for investigation.

[2016-05-26 09:01] sandy081 commented on #6754
Assigned to @aeschli for verification

[2016-05-26 09:01] tonymk commented on #6877
I just found out how to avoid it from crashing, i noticed a 99+ on the side bar at the git symbol. And it shortly crashed after. So i disabled git. and it is not crashing anymore. Not sure how that works, since the folder i opened does not have a git repository.

As for extensions: C#, Angular2 snippets by balram, gitignore by codeZombie.

[2016-05-26 09:08] oodboo commented on #6878
@alexandrudima Thank you that works, does not brick the Studio and also it will do formatting till some point and then everything will be mostly green. But, I am fine with that, as I would have been fine with the plain text display as well. Thank you.
Are we closing this or you will still leave it as bug?

[2016-05-26 09:11] sandy081 commented on #6826
duplicate #6748

[2016-05-26 09:12] sandy081 commented on #6826
duplicates #6748

[2016-05-26 09:12] #6826 closed

[2016-05-26 09:15] alexandrudima commented on #6878
That flags controls the behaviour of how we synchronize the editor text with the native `<textarea>`. It has no impact feature-wise unless you use a screen reader (except ofcourse the time it takes and stalls the UI).

So you can use it for now as a workaround, but I need to make sure our synchronization is not causing stalls in all cases. I'm looking into limiting the amount of text we write to `

[2016-05-26 09:18] Iconoclasming opened #6910 "Left mouse button up when selecting text with CTRL pressed causes to follow link"
- VSCode Version: 1.1.1
- OS Version: Win8.1 x64

**Steps to Reproduce**:
1. In an HTML file, start selecting link in quotes inside any tag with left mouse button pressed
2. Hold down CTRL
3. Release left mouse button when cursor is above the link

**Expected**: text selection stopped
**Actual**: "follow link" invoked

[2016-05-26 09:25] Iconoclasming commented on #6910
This issue makes me to be very careful while selecting links and CTRL+C CTRL+V them.

[2016-05-26 09:29] sakthirajesh commented on #6905
Thanks. This settings worked.

On Thu, May 26, 2016 at 1:24 PM, Johannes Rieken <notifications@github.com>
wrote:

[2016-05-26 09:35] dbaeumer commented on #6905
OK. Closing then.

[2016-05-26 09:35] #6905 closed

[2016-05-26 09:38] dbaeumer commented on #6906
@isidorn assigning to you as the 'owner' of the output window. @bpasero once looked into this and we concluded that the output channel needs to allow link detection customization for this since detecting the file portion in a problem output can't be done generically. The task framework has the necessary information though due to the problem matcher.

[2016-05-26 09:48] isidorn commented on #6906
dup of #586

[2016-05-26 09:48] #6906 closed

[2016-05-26 09:51] roadyyy commented on #6854
Thanks.

[2016-05-26 09:54] weinand commented on #6877
@joaomoreno any idea if/how git could be involved here?

[2016-05-26 09:54] #6878 closed

[2016-05-26 09:59] bennyscetbun opened #6912 "Mac OS dock menu does not clear and can contain stale entries"
- VSCode Version: 1.1.1
- OS Version: 10.11.5 (15F34)

Steps to Reproduce:
1.  right click vscode icon in the dock

On version 1.1.0 i was able to see the "open recent" values and open a new vscode from it (it was equal to click on File=>open recent=> click a link)
Not anymore :(
Could someone revert that or explain why it s not here anymore?
Thanks

[2016-05-26 10:00] fxck commented on #968
Whatever fuzzy matching is VSC using, it's just bad compared to atom or ST.

When searching for `menu.component.ts`:

1) you can't use spaces, `mncmp` will match, `mn cmp` won't
2) you have to get the order of words right, ie. `mncmp` will match  `cmpmn` won't

[2016-05-26 10:02] dbaeumer commented on #6110
I retested and debugged the task code and it merges the environment and doesn't replace it.

@nwgh just to clarify:
[code]
this worlks, but
[code]
doesn't. Right.

[2016-05-26 10:05] SamVerschueren opened #6913 "Code should not complete when pressing `.`"
- VSCode Version: 1.1.1
- OS Version: Mac OSX 10.11.4

Steps to Reproduce:

1. Create a TypeScript file `test.ts`
2. Start typing `console.log`
3. Then type a `.` as if you want to type `console.log.bind(console)`

**Current behaviour**

It auto completes to `console.log(., optionalParams)` instead of letting the developer continue with `console.log.`

![vscode](https://cloud.githubusercontent.com

[2016-05-26 10:05] alexandrudima commented on #6878
To verify: please also check that using NVDA on the editor text still works.

[2016-05-26 10:08] dbaeumer commented on #6110
And just to double check: the second one even works if you start vscode from a terminal where MOZCONFIG is already part of the environment. How do you set MOZCONFIG into the env in the first place?

[2016-05-26 10:17] bpasero commented on #968
@fxck with our upcoming release we fixed the space issue (1). Intentionally we are not finding results that have wrong order of characters, so yes there is a difference.

[2016-05-26 10:17] arixse commented on #6863
When i type the extension name , it will search this extension online ,this step is slowly

[2016-05-26 10:18] dbaeumer commented on #6869
@joaomoreno I would if I could :-). See https://github.com/Microsoft/TypeScript/issues/4526

[2016-05-26 10:20] stevencl commented on #6402
@bgashler1 - could you suggest a stronger colour to better indicate which search result is being highlighted in the editor? For example, in the above screenshot the last instance of foo on line 3 is highlighted in the editor, corresponding to the selected search result. We would need colours for the different themes I imagine.

[2016-05-26 10:21] dbaeumer commented on #6861
See https://github.com/Microsoft/TypeScript/issues/7762 which is fixed in the upcoming TS 2.0 release.

[2016-05-26 10:21] #6861 closed

[2016-05-26 10:21] stevencl commented on #6402
@bgashler1 - would be great if you could get this soon so that @jrieken can make this change before the end of the month.

[2016-05-26 10:24] oodboo commented on #6878
@alexandrudima I do not have Non Visual Desktop Access “screen reader” why should I install that!? :confused:

[2016-05-26 10:26] alexandrudima commented on #6878
@oodboo Someone from our team will verify this fix, no need for you to do anything.

[2016-05-26 10:28] oodboo commented on #6878
@alexandrudima ah, sorry I had not realized that you've left a team note ... thanks again...

[2016-05-26 10:29] isidorn commented on #5849
Another issue with this idea is that it does not work nicely for multi-threaded applications

[2016-05-26 10:31] isidorn commented on #5723
I think it is fine to automatically expand the scope in this case if it is not expensive. Which is exactly what we do now.

[2016-05-26 10:31] #5723 closed

[2016-05-26 10:32] weinand commented on #5849
@isidorn another good point.

[2016-05-26 10:35] tonymk commented on #6877
Found the problem, there turned out to be a .git file in c:\. (Sigh) So when there was not any .git file in the folder that was opened. It got overloaded with too many files and crashed.

[2016-05-26 10:36] bpasero commented on #6363
@NotepadPlusUser I would expect this issue to be there in standalone node.js already, if you could try out a `fs.writeFile()` to reproduce the issue you should report it to them.

[2016-05-26 10:39] IgorNovozhilov opened #6914 "git "not pushed" status"
- VSCode Version: 1.1.1- insider
- OS Version: win7

Steps to Reproduce:

1. change any files
2. commited
3. there is no information about what is don't sent changes to the server. can be defined only by the presence of the menu button "send".

think it's wrong, we need an indication that the changes are not sent to any remote branch.
you need to add the status icon button in "GIT", analogs with a

[2016-05-26 10:43] MeirionHughes opened #6915 "Better Support for Source Breakpoints when output is in different folders"
- VSCode Version: 1.1.1
- OS Version: Windows 10

Steps to Reproduce:

Given:

[code]

1. In node launch config...
2. set ```"outDir": "${workspaceRoot}/dist" ```
3. set breakpoint in foo.ts
4. set breakpoint in foo.spec.ts
3. Run f5 (node debug)

then:
break-point will resolve for foo.ts
break-point will _not_ resolve for foo.spec.ts

use-case:

I'm outputting source code to both a "dist" and "sp

[2016-05-26 10:43] #4065 closed

[2016-05-26 10:44] stevencl commented on #6486
Preventing accidental drag and drop is commonly done by adjusting the drag sensitivity. In Windows the default is that the mouse has to move 4 pixels before the drag is initiated. Changing this to 15 pixels seems to work well as a reasonable compromise between preventing accidental drag and drop but still looking like drag and drop is supported.

Incidentally, I experimented on Windows using this

[2016-05-26 10:48] IgorNovozhilov commented on #6914
I found :smile:

[2016-05-26 10:48] #6914 closed

[2016-05-26 10:53] #6908 closed

[2016-05-26 10:54] jrieken commented on #6402
I am afraid it's too late already

[2016-05-26 11:00] alexandrudima commented on #4828
@digeff I have just pushed a fix in ca2ca08c63c88f7c0bc2735a37a97ff3b8f600fc that fixes that the `<textarea>` sync we had for accessibility purposes (screen readers) was unbounded and we still have some issues with memory consumption when opening a file (the file gets allocated minimum 2 times), but it gets GC'd after a while (so for your testcase I see the renderer process at 200MB) and with the

[2016-05-26 11:00] stevencl commented on #5551
I understand the space problem. But I am not convinced that combining these sections is the best solution. Perhaps the viewlet needs to support an experience where section headers can be 'docked' to the bottom of the section above them such that they expand and contract with the space available. Similar to how the working files/open editors section works in the explorer but with the addition that

[2016-05-26 11:01] stevencl commented on #6402
No worries. Let's get it done for June then

[2016-05-26 11:02] alexandrudima opened #6916 "Crash when opening this file"
From @sergeykhrykov (https://github.com/Microsoft/vscode/issues/4828#issuecomment-219257250)

Rename it as .js: [viewer3D.js.txt](https://github.com/Microsoft/vscode/files/283987/viewer3D.js.txt)

----

- VSCode Version: 1.1.0
- OS Version: Win 10 x64

Trying to open a large JS file (~85K SLOC) makes window crash.

Steps to reproduce:
1. Open a large JS file (e.g., http://developer-autodesk.github

[2016-05-26 11:03] alexandrudima commented on #4828
@sergeykhrykov Thank you for the repro, I can reproduce the crash immediately. I have opened #6916 to better track it. On a first look, it seems it goes OOM.

[2016-05-26 11:07] alexandrudima commented on #6916
From a quick look, it seems the JavaScript grammar enters 50 nested states while tokenizing.

[2016-05-26 11:15] alexandrudima commented on #6916
This snippet alone also causes the crash:
[code]

[2016-05-26 11:33] joaomoreno commented on #6863
@arixse Is it slow but finishes... or it never finishes?

Are you behind a proxy?

[2016-05-26 11:35] joaomoreno commented on #6807
@dbaeumer Is this true?

[2016-05-26 11:38] alexandrudima commented on #6916
And here is the JavaScript grammar going crazy. After the line it has ~50 pushed states!
[code]

[2016-05-26 11:40] jrieken commented on #5818
@isidorn Nice batches for Pause/Running. Tho, I still see a thread which is paused but has no children. How is that possible? Should the UI show a placeholder?

<img width="404" alt="screen shot 2016-05-26 at 13 39 15" src="https://cloud.githubusercontent.com/assets/1794099/15573439/59b84cae-2347-11e6-84f1-e5fade5bbdc4.png">

(to repo)

* get latest dot net cli stuff and have an app like this
[cod

[2016-05-26 11:42] alexandrudima commented on #6916
I've tracked it down to this rule that matches **for** loops!

Around position 255: `for(e=0;e<a.length;)`

So the grammar thinks that `<a.length` is a type parameter...

[code]

[2016-05-26 11:44] jrieken commented on #6781
@isidorn @bpasero Is there a new build for verification?

[2016-05-26 11:45] jrieken commented on #6709
**verifier** have a workspace folder that contains a `#` character

[2016-05-26 11:53] alexandrudima commented on #4828
@aeschli Where do we get the JavaScript grammar from? https://github.com/Microsoft/TypeScript-Sublime-Plugin ?

[2016-05-26 12:00] jrieken commented on #5823
<img width="258" alt="screen shot 2016-05-26 at 14 00 12" src="https://cloud.githubusercontent.com/assets/1794099/15573859/31ba1b94-234a-11e6-88f3-35ffb7858132.png">

It's OK we don't need to fix this

[2016-05-26 12:04] jrieken commented on #5822
This still happens for me. Still, in the same weird way as before - not always but almost always.

[2016-05-26 12:06] weinand commented on #5822
@jrieken is this project living on a filesystem that is shared between OS X and Windows?

[2016-05-26 12:10] jrieken commented on #5226
Assigning this to @stevencl to coordinate this effort across all the areas @joaomoreno mentioned above

[2016-05-26 12:11] jrieken commented on #5822
No, local to the VM `C:\Users\jrieken\Code\ddd\src\extension.ts`

[2016-05-26 12:13] isidorn commented on #6781
@jrieken build is just triggered should be out in 20mins

[2016-05-26 12:15] isidorn commented on #5818
It is still possible for a thread to be stopped and that for some reason the callstack could not be retrieved (like in the node v6 issue that andre was mentioning in the standuo).
It is up to the adapter to decide if it reports a thread with no call stack as stopped. So this is comming from the c# debug adapter.

fyi @weinand @gregg-miskelly

[2016-05-26 12:15] bpasero commented on #6764
@jrieken we triggered a build if you want to verify this new behavior

[2016-05-26 12:17] bpasero commented on #6757
@isidorn would appreciate if @weinand could verify on your machine because I am out until next week

[2016-05-26 12:19] weinand commented on #5822
@jrieken does this problem occur if longstring is short, e.g. <= 80 ?

[2016-05-26 12:21] jrieken commented on #5822
sometimes this occurs already on the first `console.log` statement here

[code]

[2016-05-26 12:21] jrieken commented on #5822
So I think it's unrelated to that.

[2016-05-26 12:23] isidorn commented on #6757
@bpasero there is still nothing to verify since we depend on the PHP debugger on this one

[2016-05-26 12:24] bpasero commented on #6757
Ah ok.

[2016-05-26 12:25] #4312 closed

[2016-05-26 12:28] alexandrudima commented on #6682
Dup of #6247

[2016-05-26 12:28] #6682 closed

[2016-05-26 12:29] alexandrudima commented on #6865
Dup of #6247

[2016-05-26 12:29] #6865 closed

[2016-05-26 12:31] be5invis opened #6918 "Language-specific OpenType Feature Names for Programming Ligatures"
Given the fact that in different languages, the symbol combination should be combined into a ligature are different, is it possible to provide a language-specific feature name to distinct them? For example, in C++, `>>=` should not be combined together, and we can assign a feature `XCPP` to combine `>>` only. In Haskell, `>>=` should be combined, and feature `XHS_` will be applied. The default `ca

[2016-05-26 12:36] #6247 closed

[2016-05-26 12:38] bpasero opened #6919 "Strange maxVisible behaviour"
I would probably just adjust the height based on the number of things shown in the tree, independently from groups or not. Currently it does not seem to work reliably.

When setting maxVisible: 0 I would expect all elements to hide, like working files did. It is ok to ask the user for a restart in that case.

[2016-05-26 12:43] weinand commented on #5822
@jrieken but it only occurs for 'console.log' (and it does not happen if you comment out the console.logs)?

If yes, then this could be a hint towards finding the culprit.

'console.log' in the extension is somewhat 'heavy' because it is read by the EH instance of VS Code, which sends it back to the original VS Code instance where the debugger runs. There it is broadcasted and the debugger picks i

[2016-05-26 12:46] be5invis commented on #6918
for Code, this feature can be impelmented in CSS only: Assign `font-feature-settings` to `token.<type>`, like:
[code]
Perhaps it can be automated...

[2016-05-26 12:49] jrieken commented on #5822
yes - only ever in `console.log`-statements

[2016-05-26 13:04] jrieken commented on #5996
@aeschli This still has some rough edge, esp with revealing on type and when the prefix ends with a whitespace:

[code]

[2016-05-26 13:05] joaomoreno commented on #6877
Glad you found the hidden `.git` folder. Closing as a duplicate of #4805.

[2016-05-26 13:05] #6877 closed

[2016-05-26 13:07] tsirolnik commented on #1690
God, stop posting these +1's.
And wouldn't it be easy as calling the find&replace function over the found files?
I'll try looking it up

[2016-05-26 13:10] weinand commented on #5822
@jrieken you are seeing this when running Windows in a VM?

When reading all the other comments in this issue it seems that this problem only occurs when running in a VM, but not in real Windows. This supports the hypothesis that this problem is connected to the heavy 'console.log' flow which is more easily affected by a slow setup, e.g. a VM.

[2016-05-26 13:11] aeschli commented on #4828
It's the TypeScriptReact grammar from https://github.com/Microsoft/TypeScript-TmLanguage

[2016-05-26 13:14] ChechoPerezH commented on #6883
@aeschli I'm working with php.

[2016-05-26 13:17] #4383 closed

[2016-05-26 13:21] aeschli commented on #6883
Sorry, the out-of-the box PHP extension doesn't support goto definition.
Please check out the marketplace for a PHP extension.

[2016-05-26 13:21] #6883 closed

[2016-05-26 13:21] #6671 closed

[2016-05-26 13:23] cc5zhenhua commented on #6630
Sorry, can share you my project. I 've got it repro on another machine.

Install old version VScode,  maybe the previous version before 1.1.1.  and open a typescript - project . Then new version prompt shows when I launch the VS Code.
I click the update prompt link directly and Update VS Code to 1.1.1. The issue happens.

Open Same typescript project.
 Click F5 to run with NodeJS. (Actually it's a

[2016-05-26 13:28] joaomoreno commented on #6423
My quick open provider's `DataSource` is being sent data from another input that didn't come from me. Notably, it's getting a [`HelpEntry`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/quickopen/browser/helpHandler.ts#L20) in the `getId()` call...

Quick open needs some serious rewriting, @bpasero ... I don't want to give you this issue since I was the last to touch the q

[2016-05-26 13:28] jrieken commented on #5822
yes - win10 VM

[2016-05-26 13:28] xsstomy commented on #6126
@joaomoreno 5998
![3](https://cloud.githubusercontent.com/assets/8943787/15575995/311f9ab8-2388-11e6-8567-2a260343194d.png)
sorry for that i do not answer timely

[2016-05-26 13:30] marvinhagemeister commented on #5962
I'm affected by the same problem. Here is a stack trace and a [Repository](https://github.com/marvinhagemeister/vscode-todo2/tree/vscode_prelaunch) to reproduce the bug (checkout the `vscode_prelaunch` branch).

First run of the `Test Extension` task is fine, all subsequent runs produce the described error message `Build errors have been detected during preLaunchTask 'npm'`.

[code]

VSCode versio

[2016-05-26 13:31] #6916 closed

[2016-05-26 13:31] joaomoreno commented on #6126
Why are you working on a repository that has 5998 pending changes? You must either commit them more often or work outside of a git repository.

[2016-05-26 13:31] #6126 closed

[2016-05-26 13:43] Zalatos commented on #6131
@joaomoreno thanks for the update

[2016-05-26 13:47] egamma commented on #6816
When it is the tab key and happens on first time, then this is the loading of the emmet node module.

however this doesn't explain this, since the emmet module is loaded only once into the renderer process.

@alexandrudima any other ideas what could go on?

[2016-05-26 13:51] aleksey-bykov opened #6920 "Add transformations to snippets variables"
TextMate snippets page [says](https://manual.macromates.com/en/snippets):

It looks like transformations are not supported in VS Code. Would be a great addition.

[2016-05-26 13:53] alexandrudima commented on #6816
Yes this is caused by emmet loading the first time it is invoked.

@M-Zuber once the May release comes out you can use the following rule in your `keybindings.json` to remove that `Tab` loads and executes emmet:
[code]

Here I am loading emmet (typing tab for the first time in a html file) on my quite powerful desktop at home: 488ms to load.

![image](https://cloud.githubusercontent.com/assets/504

[2016-05-26 14:04] alexandrudima commented on #4828
The slowness on our side is dealt with for this example, let's use this to track Microsoft/TypeScript-TmLanguage#174

[2016-05-26 14:05] RichardJECooke opened #6921 "Keep .js file & breakpoints open when rebuilding with tsc"
- VSCode Version: 1.0.0
- OS Version: Ubuntu 16.04

Steps to Reproduce:
1. Write any .ts file
2. Compile it
3. Open the compiled .js file and add a breakpoint
4. Delete the compiled .js output and compile again
5. VSCode closes the .js file and loses all breakpoints. Now you have to navigate all the way through your folder tree to find and open the file, and readd all your breakpoints. This gets e

[2016-05-26 14:12] stevencl opened #6922 "File is reopened after closing then switching viewlets"
- VSCode Version:1.1.0-alpha
- OS Version: Windows 10

If I close a preview file, then switch from the explorer viewlet to another viewlet and then back to explorer, the file I closed reopens again:

![reopenfile](https://cloud.githubusercontent.com/assets/1704059/15577374/2cf62936-2354-11e6-86d3-24b68a739246.gif)

[2016-05-26 14:22] bpasero commented on #6922
@stevencl we briefly talked about this during my time in Edinburgh, the explorer is very keen on restoring the context you are in when switching views.

Since now we have an explicit way of closing editors we should maybe revisit this.

[2016-05-26 14:25] joaomoreno commented on #6137
This is somehow strange. Like the named pipe stops working.

Is your machine managed by some domain? Is there any thing special about it that comes to mind?

[2016-05-26 14:26] joaomoreno commented on #6137
Actually closing as duplicate of #4921.

[2016-05-26 14:26] newtack commented on #566
Fantastic!

[2016-05-26 14:27] stevencl commented on #6922
Right, but here the context when I leave the explorer is that there are no files open. So I would expect that remains when I go back to the explorer. But instead the file that I had closed before switching to another viewlet is reopened.

[2016-05-26 14:36] jmurphzyo commented on #4804
what about for scss?

[2016-05-26 14:38] joaomoreno commented on #4921
I can't seem to reproduce. Is there anything special about your system? Corporate managed, for example?

The `EPERM` error indicates that it can't connect to the named pipe crated by the first instance. Rests to figure out whether that happens because it fails to connect or maybe the first instance drops the named pipe at some point.

If you keep trying repeatedly, it sometimes works, did I get th

[2016-05-26 14:44] gregg-miskelly commented on #5818
@jrieken if you were confused, you can certainly open a bug at https://github.com/Omnisharp/Omnisharp-vscode/issues for us to add a placeholder (ex: '[No current call stack]') frame.

[2016-05-26 14:45] aaskat commented on #6626
I made new video. can you check this video available for you.
https://www.dropbox.com/s/4jp06ucrk4ka8a1/bug2.mp4?dl=0

[2016-05-26 14:47] gerane opened #6923 "When using Quick Open, have last open file be the Default Selection."
When using <kbd>ctrl</kbd> + <kbd>p</kbd> OR <kbd>ctrl</kbd> + <kbd>e</kbd> to access "workbench.action.quickOpen" the default selection is the currently open file. When opening a file, the last file I want to open is the one currently open. Other Editors have the default set to the last open file, which is the second option for VSCode.
- VSCode Version: 1.1.1-insider
- OS Version: Windows 10

Ste

[2016-05-26 14:49] alexandrudima commented on #6677
After the change in ca2ca08c63c88f7c0bc2735a37a97ff3b8f600fc that limits the ammount of text we sync to the `<textarea>` these files are no longer slow for me.

[2016-05-26 14:49] #6677 closed

[2016-05-26 15:01] joaomoreno commented on #4162
I'm sorry but something is wrong here... I changed my system's language to German and I get:

![image](https://cloud.githubusercontent.com/assets/22350/15579118/80110b72-2363-11e6-8d7f-6411412da23a.png)

Do you guys still see this? cc @egamma @dbaeumer

[2016-05-26 15:01] #4162 closed

[2016-05-26 15:02] akamud commented on #2041
![http://static1.squarespace.com/static/53951756e4b00bb4cdae2705/t/565bab83e4b05079e4bcc313/1448848265740/?format=original](http://static1.squarespace.com/static/53951756e4b00bb4cdae2705/t/565bab83e4b05079e4bcc313/1448848265740/?format=original)

[2016-05-26 15:15] Huachao opened #6924 "Cmd+C/Ctrl+C doesn't reach web view"
- VSCode Version: 1.1.1
- OS Version: Windows 10 Enterprise x64

Steps to Reproduce:

1. Use the command 'vscode.previewHtml' in our extension, like the sample code [vscode preview html sample](https://github.com/Microsoft/vscode-extension-samples/blob/master/previewhtml-sample/src/extension.ts).
2. In another panel will display the previewed html.

However, we can't copy the text from the preview

[2016-05-26 15:32] be5invis commented on #6918
A preview:
![image](https://cloud.githubusercontent.com/assets/240091/15580068/db383e36-2399-11e6-86ee-a7e4d0bd30e1.png)

Code is injected with this CSS:
[code]
Therefore the ligature for `>>=` is only enabled in Haskell, not in C++.

[2016-05-26 15:42] nwgh commented on #6110
@dbaeumer that's all correct - first works when starting from GUI, second doesn't. Both work when starting from CLI.

`MOZCONFIG` is set in a (os-specific) rc script that is sourced from my `~/.zshrc`

I'm now wondering if this isn't getting picked up because whatever source code uses to get environment variables on linux isn't running zsh as an interactive shell (which means `~/.zshrc` would neve

[2016-05-26 15:46] Tadimsky commented on #6137
@joaomoreno I've been playing around with this a bit and I now believe it's due to the fact that I'll often start Code from an elevated command prompt.
Once I have it running elevated I can't stay any normal instances.

My developer command prompt has to be run elevated and so when executing code <folder> from that prompt, I can't start Code again from start menu or from Windows explorer

[2016-05-26 15:49] jamietre opened #6925 "Feature request: word wrapping config by document type"
I always want markdown word-wrapped wrapped. I never want most other files wrapped. So I find myself switching back and forth all the time.

It seems like there is already some document-type specific configuration for html, e.g.

    // Maximum amount of characters per line (0 = disable).
    "html.format.wrapLineLength": 120,

The universal setting is named differently:

    "editor.wrappingColum

[2016-05-26 15:49] nwgh commented on #6110
Yeah, that explains it (on linux, at least - the fact that it all works fine on os x is still a little baffling, and probably bears investigating). If I set an environment variable in `~/.zprofile` or `~/.zshenv`, those get picked up by code run from the GUI. I shall now attempt to refactor my shell rc scripts in an attempt to not break anything, and also to make this all work on both linux and ma

[2016-05-26 15:54] rebornix commented on #6863
He also mentioned sublime always loads the full extension lost at one time, while in VS Code, we will fetch the partial list each time users type a new keyword. This makes him feel bad ...

IMHO, it is due to the special network in China and has nothing to do with vscode side. We are running into the same issue in our website, Wade mentioned it always takes 30s + to load the homepage. Since Shangh

[2016-05-26 15:56] alexandrudima commented on #6885
First slowest thing noticed when selecting some text on line 84 in external-file-59.txt:

rendering decorations:
![image](https://cloud.githubusercontent.com/assets/5047891/15580994/0442f872-236b-11e6-9c10-7f74085cfd88.png)

[2016-05-26 15:57] alexandrudima commented on #6885
`"editor.selectionHighlight": false` has a huge impact of making things faster again

[2016-05-26 16:01] alexandrudima commented on #6885
A single query to `TextRange.getClientRects()` for line 84 in `external-file-59.txt` takes **6ms**!! We call that all the time in order to render decorations / selection at the right spot. It looks like Chromium has a `O(N)` algorithm tucked away in there, even if the text is layouted.

[2016-05-26 16:04] bpasero commented on #6882
For now we decide to not push for it but rather revisit the icon of the overflow.

[2016-05-26 16:04] #6882 closed

[2016-05-26 16:24] roblourens commented on #4921
It's acting a little differently now from when I filed the bug, and I don't see that error anymore.

If I open the first Code instance from the command prompt, then I think I can always open a second one from the command prompt. But, if I try to open the second one from the file explorer, by double-clicking a file or using the context menu option, it doesn't work - I don't get a new instance of Co

[2016-05-26 16:26] gregvanl commented on #6902
Verified fixed on Windows.

[2016-05-26 16:38] alefragnani opened #6926 "vscode.OpenFolder command does not work for Insider version"
- VSCode Version: 1.1.1-insider
- OS Version: Windows

Steps to Reproduce:

When I use the new command `vscode.openFolder` provided in https://github.com/Microsoft/vscode/issues/58 in the **Insider** version, instead of opening another **Insider** instance (or replacing the current one), it _always_ opens the **Stable**.

[code]

Thanks for your help

[2016-05-26 16:43] alexandrudima commented on #6885
And this explains why `wrappingColumn: 300` is the default :). I will follow up on this with filing bugs against Chromium...

[2016-05-26 16:48] #4313 closed

[2016-05-26 16:52] aeschli commented on #4804
I haven't tried these but there seem to be at least 2 extensions that promise to format sass:
https://marketplace.visualstudio.com/search?term=sass&target=VSCode&sortBy=Relevance

[2016-05-26 17:11] alefragnani commented on #6926
Forget it.. my bad 😄

[2016-05-26 17:11] #6926 closed

[2016-05-26 17:28] bgashler1 commented on #6812
@bpasero and @joaomoreno yes, the blank space sounded good in my head until I saw it.  Definitely not pretty.

[2016-05-26 17:36] aaskat commented on #6626
I lost my changes in code several time in this way, and I can't undo changes after this bug.

[2016-05-26 17:51] weinand commented on #6626
@aaskat could you please attach your project (or the three files and the launch configuration) here and I will investigate.

[2016-05-26 17:56] alexandrudima commented on #6736
Dup of #6774 -- that one has better steps.

[2016-05-26 17:56] #6736 closed

[2016-05-26 17:56] #6774 closed

[2016-05-26 17:57] roblourens commented on #4921
And one more thing -

If I open the first instance from the command prompt, I can open a second instance from the *same* command prompt, but if I have a different cmd window open, I can't open a second instance from that different prompt.

[2016-05-26 17:58] alexandrudima commented on #6250
I think this was never implemented

[2016-05-26 18:00] gregvanl opened #6927 "Menu items not localized"
- VSCode Version:1.1.0-alpha
- OS Version:Windows 8.1, OS X

Steps to Reproduce:

1. Configure Language to anything beside english
2. Restart VS Code

The top menu items and their dropdowns are not localized (show as English). The status bar, view bar and command palette show the correct localized strings.

This repros whether you are on a localized OS or not.

[2016-05-26 18:01] alexandrudima commented on #5190
@jhasse We actually have three different possible implementations of `ctrl+delete` that we ship with to please everybody. Here is how you can switch to the other(s):
[code]
or
[code]

[2016-05-26 18:01] Tyriar commented on #6916
I'm glad https://github.com/Microsoft/TypeScript-TmLanguage/issues/11 is finally getting some action, hope this can get fixed for ts and js.

[2016-05-26 18:03] aeschli commented on #6858
To verify, inject against the string scope in typescript.

[2016-05-26 18:04] gregvanl commented on #6927
Doesn't repro on last Insiders so a regression in the last two weeks.

[2016-05-26 18:07] david-driscoll opened #6928 "[json] Json Schema Server?"
Would be possible to get a editor agnostic Json Schema npm package or something we can use as a service?  Something similar to OmniSharp but for Json Schema I suppose.  Ideally it would also be able to be hosted independent of VSCode, so editors like Sublime could call on the same functionality as well.

All the hard work is done to get Json Schema support into VSCode, and I'm looking to derive fr

[2016-05-26 18:12] Tyriar commented on #1231
Duplicate of https://github.com/Microsoft/vscode/issues/76

[2016-05-26 18:12] #1231 closed

[2016-05-26 18:12] DustinCampbell opened #6929 "Provide way for extensions to download and install native dependencies"
- VSCode Version: 1.1.1
- OS Version: Any

This is a request for the [C# Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp). Essentially, the extension needs platform-specific native binaries in order to function (both for debugging support and OmniSharp for language server support). It does this by acquiring the binaries during the extension's first activation, rathe

[2016-05-26 18:13] Tyriar commented on #6766
FYI I closed #1231 in favor of #76

[2016-05-26 18:14] gregvanl commented on #6002
Verified the correct fallback behavior but discovered menu items are no longer localized during testing. https://github.com/Microsoft/vscode/issues/6927
Could this regression be related to the changes.

[2016-05-26 18:19] Tyriar commented on #1690
@tsirolnik it is as easy (or as hard) as that. It can be quite a task with matches spanning across a significant amount of files.

[2016-05-26 18:22] alexandrudima commented on #4836
We have some overly protective code that rejects the regexp if it matches the empty string.

[2016-05-26 18:31] vsccarl commented on #6075
I'm still seeing this in the latest build.

[2016-05-26 18:31] #5863 closed

[2016-05-26 18:34] Tyriar commented on #6733
From my digging yesterday it seems like some obscure at the depths of the old version of winpty being used. Moving to backlog for now due to lower priority as well as no time to fix for May.

[2016-05-26 18:34] joaomoreno commented on #4921
Some other user found out he's using an elevated prompt in #6137, is this your situation too?

[2016-05-26 18:35] joaomoreno commented on #6137
Excellent, let me give that a try.

[2016-05-26 18:36] joaomoreno commented on #6110
We run whatever shell is in `SHELL`... so what do you get with `echo $SHELL`?

[2016-05-26 18:36] digeff opened #6930 "Support Live Reloading Scenarios"
We'd like VS Code and the Node Debugger to support Live Reloading Scenarios. The current behavior is preventing React-Native users from having a good experience: https://github.com/Microsoft/vscode-react-native/issues/74

Currently it's not supported so modifying breakpoints while the program is running can have weird results (Breakpoints set in one line, appear in another line, or get deleted com

[2016-05-26 18:37] lzybkr commented on #6684
If you try to load it explicitly `ipmo PSReadline`, what is the error?

[2016-05-26 18:37] Tyriar opened #6931 "What are .vscode/.browse.VC.db*?"
These 2 files are being created, no idea what they are:

[code]

Something to be concerned about or already fixed?

[2016-05-26 18:38] joaomoreno commented on #6863
Closing this.

[2016-05-26 18:38] #6863 closed

[2016-05-26 18:39] roblourens commented on #4921
Oh yeah, I am. Should have realized that would be significant. So if the first one is opened as administrator, I can't open another from a not-admin window.

[2016-05-26 18:39] vsccarl opened #6932 "Add Change Language option under file preferences menu"
- VSCode Version: 1.1.0-alpha
- OS Version: Windows 10

I think it would make sense to add the language option under the File > Preferences list.

[2016-05-26 18:40] joaomoreno commented on #6137
![image](https://cloud.githubusercontent.com/assets/22350/15585936/19f6ee14-2382-11e6-852f-4b83cf555c7f.png)

Got it! Good catch, @Tadimsky!

cc @bpasero

[2016-05-26 18:41] alexandrudima commented on #6931
@Tyriar Maybe you have installed the cpp extension?

[2016-05-26 18:41] joaomoreno commented on #6137
Alright, #4921 is definitely the same issue. Let's merge them, closing this one.

[2016-05-26 18:41] #6137 closed

[2016-05-26 18:43] Tadimsky commented on #6137
Awesome!

[2016-05-26 18:43] Tadimsky commented on #4921
Haha, sounds familiar. Look at our user tags "Microsoft member" :)

[2016-05-26 18:44] Tyriar commented on #6931
@alexandrudima ah that must be it, do you remember what the cpptools issue repo was?

[2016-05-26 18:56] Tyriar opened #6933 "Integrated terminal configured to use cmder doesn't open at correct directory"
cmder will set itself as `%comspec%` once installed so it becomes the default automatically.

[2016-05-26 18:58] Tyriar opened #6934 "cmder's prompt uses weird escape sequences that are not recognized by term.js"
For example `{lamb}` converts into the lambda symbol in the default prompt.

[2016-05-26 19:06] martynchamberlin commented on #5437
I was about to be seriously bummed about this until I realized that what I [was looking for](https://code.visualstudio.com/docs/customization/keybindings#_navigation) was `workbench.action.quickOpen`.

[2016-05-26 19:07] Tyriar opened #6935 "cmder no longer works on integrated terminal and spams external cmder instances"
Pretty sure ti was at one point, now it's opening a bunch of issues repeatedly as they exit with exit code 0.

[2016-05-26 19:16] nwgh commented on #6110
with `"command": "echo"` and `"args": ["${env.SHELL}"]` the output is `/usr/bin/zsh` (same as if I run `echo $SHELL` from the CLI)

[2016-05-26 20:12] rebornix commented on #6482
@alexandrudima ,finally I ran into the json content which constantly freezes my VS Code (no extensions installed and run as `code --disable-extensions`). The content is uploaded to https://gist.githubusercontent.com/rebornix/e9396e6f91954ca38392dd84b7c2a206/raw/91633bc7a89ed4762e97867b12731c8946aaa3b6/app.js , please help try if it can repro your side.

[2016-05-26 20:16] aeschli opened #6936 "Glob regex matches too much"
`glob.match("**/project.json",...) ` results in the regexp `(?:[/\\].*?|.+?[/\\]|)project\.json`

The or segment is strange `[/\\].*?`.
This results in `/rrproject.json` to be matched

[2016-05-26 20:16] aeschli commented on #5438
"**/project.json" -> "(?:[/\\].*?|.+?[/\\]|)project\.json"  This matches /rrproject.json...
I created #6936

[2016-05-26 20:25] ChazyTheBest commented on #6889
I'm not sure that feature is disabled for comments and strings for php at all, I can surround any selected text, when VS Code wants to ofc.

Do you need visual proof? I could make a video or gif, I can surround any selected text with quotes.

But the problem still remains, when I close and open VS Code again the feature stops working completely with php.