[2017-04-11 08:02] isidorn commented on #24463
fyi @weinand

[2017-04-11 08:05] jrieken commented on #24158
Yeah, we have decided to use an editor/model for the output pane and that's the consequence....

[2017-04-11 08:06] jrieken commented on #24105
Closing because this issue is without actionable information.

[2017-04-11 08:06] #24105 closed

[2017-04-11 08:08] jrieken commented on #23903
dupe of https://github.com/Microsoft/vscode/issues/18639

[2017-04-11 08:08] #23903 closed

[2017-04-11 08:10] tonimora74 commented on #24486
Ok, sorry. I guide you: [userdefinedsnippets](https://code.visualstudio.com/docs/editor/userdefinedsnippets)

"Creating your Own Snippets
You can define your own snippets for specific languages. To open up a snippet file for editing, open User Snippets under File > Preferences (Code > Preferences on Mac) and select the language for which the snippets should appear..."

This option open a "json" wh

[2017-04-11 08:10] jrieken commented on #21595
closing as dupe of #6192

[2017-04-11 08:10] #21595 closed

[2017-04-11 08:12] jrieken commented on #20499
closing as dupe of #15659

[2017-04-11 08:12] #20499 closed

[2017-04-11 08:15] s-h-a-d-o-w commented on #11745
Yet - to quote dbaeumer:

Isn't it the case that if Code did in fact rely purely on external tools, this version conflict could never happen in the first place?

[2017-04-11 08:15] jrieken commented on #19433
This is the designed behaviour because wand the snippet mode not to be too sticky.

[2017-04-11 08:15] gengxuelei commented on #24276
It is better to enhance the path intellisense.
support:
① '/src/img/a.png'
② 'src/img/a.png'
③ './src/img/a.png'
④ '~src/img/a.png'(click the under link to see the detail for this demand)
https://github.com/webpack-contrib/css-loader#usage
⑤ import('src/modules/a.ts');
⑥ import('src/modules/a.vue');
⑦ import('src/css/a.css');
⑧ require('src/modules/a.js');

If the path can be automatically filled,

[2017-04-11 08:15] joaomoreno opened #24492 "Multiple builds on the same commit might come up with different results"
We can't allow this to happen since the Azure CDN takes time to re-cache everything and then we'll get hash mismatches.

cc @alexandrudima

[2017-04-11 08:16] jrieken commented on #18382
We have telemetry on performance and reports on that. Also we have enabled profiling for our users. We know what the ideal startup time is from an empty electron app and have a continuous effort to get faster.

[2017-04-11 08:16] #18382 closed

[2017-04-11 08:17] jrieken commented on #17983
closing as dupe of https://github.com/Microsoft/vscode/issues/2628

[2017-04-11 08:17] #17983 closed

[2017-04-11 08:17] alexandrudima opened #24493 "Breakpoint shown in wrong location"
Testing #24403

* have the setup described in the React guide (i.e. debug config + npm start)
* launch the Chrome debugger
* put a breakpoint in a click handler
* type
* observe the application relaunches, the Chrome debugger reconnects, but there is now an extra breakpoint painted:

![bp](https://cloud.githubusercontent.com/assets/5047891/24899298/0e79db40-1ea0-11e7-9c6f-edcd73b67cca.gif)

[2017-04-11 08:18] azixMcAze opened #24494 "Allow to run 'code -w' and return when vscode is running already"
- VSCode Version: 1.11.1
- OS Version: macOs 10.12.4

Steps to Reproduce:

1. Ensure that vscode is not running
2. In a shell, run `code -w file`
3. vscode is launched and `file` is opened
4. Close the window
5. `code -w file` does not return
6. Quit vscode
7. `code -w file` returns

Expected result:

`code -w file` should have returned at step 5 after the window is closed

[2017-04-11 08:21] #23950 closed

[2017-04-11 08:21] bpasero commented on #24459
Actually this might not be electron update related.

[2017-04-11 08:21] bpasero commented on #22336
Ouch

[2017-04-11 08:22] bpasero commented on #24483
@alexandrudima lets sync on this when we are both in the office, looks like a Chrome regression.

[2017-04-11 08:25] jrieken commented on #16798
This is now better as we sort by score. There is still some ambiguity between the matches because TypeScript doesn't rank `proxy` higher than global symbol suggestions. That's nothing suggest can decide. Closing this as half fixed

[2017-04-11 08:25] #16798 closed

[2017-04-11 08:25] joaomoreno commented on #16884
Not saying that you should, but have you tried using the [`hoverMessage` in a decoration](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L895) instead of relying in Diagnostics? Does that [formatting flexibility](https://github.com/Microsoft/vscode/issues/2330#issuecomment-245214728) allow you to render what you want to render?

It's been my will to have the same formatting pow

[2017-04-11 08:25] bpasero commented on #24038
https://github.com/Microsoft/vscode/issues/24003

[2017-04-11 08:25] #24038 closed

[2017-04-11 08:26] #16160 closed

[2017-04-11 08:26] bpasero commented on #24455
https://github.com/Microsoft/vscode/issues/24003

[2017-04-11 08:26] #24455 closed

[2017-04-11 08:26] bpasero commented on #24456
This issue has already been reported. Please use the search function next time before reporting an issue and/or this time if you are curious about the progress of the issue.

[2017-04-11 08:26] #24456 closed

[2017-04-11 08:26] aeschli opened #24495 "Dark icons and colors shown in light themes"
Not clear what the reproducible steps are, but @alexandrudima both seen it after a update: Light themes with dark icons and some other dark colors shining though in a light theme.

Debugging this I saw that both the 'vs' and the 'vs-dark' classes are set.
Bug is in the workbenchThemeService. When applying the persisted colors, the 'vs' and the 'vs-dark' classes are not cleared.

[2017-04-11 08:27] jrieken commented on #16078
We first need support from the editor for this

[2017-04-11 08:27] gengxuelei commented on #13931
This bug has been fixed with vscode-1.11.1 & git-bash "2.12.2.windows.2",settings:
`"terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe",`

if create a bashrc with "code ~/.bashrc", and enter under settings to this file, it's fine:
[code]

[2017-04-11 08:27] #13931 closed

[2017-04-11 08:27] bpasero commented on #24472
![image](https://cloud.githubusercontent.com/assets/900690/24899693/78d6c1d2-1ea1-11e7-8b90-0792664ce697.png)

[2017-04-11 08:27] #24472 closed

[2017-04-11 08:27] #15454 closed

[2017-04-11 08:28] #24436 closed

[2017-04-11 08:28] #24495 closed

[2017-04-11 08:29] alexandrudima commented on #24483
@ArianeLu I am on a Surface Book with 200% scale and regardless of the scroll top position the editor font is rendered with subpixel antialising:

![image](https://cloud.githubusercontent.com/assets/5047891/24899720/9846a6b8-1ea1-11e7-9bf7-59b6bbb03608.png)

Sometimes, when changing the scale, I need to sign out and sign back in to Windows for all the apps to react to the change. Does signing out

[2017-04-11 08:29] jrieken commented on #12272
dupe of https://github.com/Microsoft/vscode/issues/2628

[2017-04-11 08:29] #12272 closed

[2017-04-11 08:30] #12424 closed

[2017-04-11 08:32] alexandrudima commented on #24483
Could you perhaps share your settings? (i.e. @bpasero @aeschli is it now possible users can define transparent backgrounds via themeing?)

[2017-04-11 08:32] dalyIsaac commented on #3518
+1 It doesn't work with OneNote 2016 either

[2017-04-11 08:32] FuriouZz commented on #22701
I have no problem with the stable version. I have the Insider version in another computer and no problem reported. Maybe, my insider version is breaked =/. Is it possible to reset it ?

[2017-04-11 08:32] Kernell commented on #22336
@bpasero, Fonts also look very bad and not readable.

[2017-04-11 08:33] jrieken commented on #11500
@erichiller Closing this because we have made the following change: When IntelliSense shows automatically because of typing (24x7) and when the (auto)selected suggestion doesn't make a text edit, Enter inserts a new line. Otherwise it accepts the suggestion. When IntelliSense was triggered manually, Enter always accepts the selected suggestion.

[2017-04-11 08:33] #11500 closed

[2017-04-11 08:33] lukaschal commented on #24225
Waiting for linguistic input.

[2017-04-11 08:33] noxdafox commented on #16160
Any reason this got closed?

Was it implemented?
Is it invalid?

[2017-04-11 08:34] jrieken commented on #11500
dupe of https://github.com/Microsoft/vscode/issues/15702

[2017-04-11 08:34] isidorn commented on #12257
This has been fixed via @ArtemGovorov PR to add the output scroll lock action. Closing

[2017-04-11 08:34] #12257 closed

[2017-04-11 08:34] CoenraadS commented on #13612
On my Dell XPS 13, Windows 10 @ 125% scaling, still exhibits the same issue for todays insider build a5e9d3

[2017-04-11 08:38] ArianeLu commented on #24483
@alexandrudima
Noting to share, It's fresh install, without custom settings.
If i changed screen scale, it should more fuzzy in all time, not just after scroll

My user settings:
[code]

https://github.com/Microsoft/vscode/issues/22336#issuecomment-293188857
This commend author may have same issue

[2017-04-11 08:48] rblath commented on #13662
@bpasero Actually the screenshot above is from the stable version 1.11.1. Somehow the link you gave me pointed to stable not insider. But anyway, I downloaded the insider version 1.12 and it shows the same behaviour:

![image](https://cloud.githubusercontent.com/assets/11315009/24900517/69cb7d6a-1ea4-11e7-8f78-08021e89230c.png)

[2017-04-11 08:50] bpasero commented on #24483
I also did a quick test on my macBook pro both with my external monitor and the notebook screen and I am seeing subpixel antialising with any DPI scaling (100%, 125%, 150%). Would also like to understand what kind of setting could cause this.

Btw please only look at the editor and not anywhere else! We did loose subpixel antialising outside the editor but that is Electron unrelated (I can see thi

[2017-04-11 08:51] bpasero commented on #24483
@ArianeLu when you say in your screenshot "this is fuzzy", it seems to me from that screenshot that subpixel antialising is still being used, can you clarify that is different from the screenshots and what produces the fuzzyness?

[2017-04-11 08:51] jrieken commented on #10801
Closing because this issue is without actionable information.

[2017-04-11 08:51] #10801 closed

[2017-04-11 08:54] #4669 closed

[2017-04-11 08:55] jrieken commented on #4201
For the sake of making it easier to write and share language servers, esp wrt the language service protocol we will stick to a pre-defined set of icons and kinds.

[2017-04-11 08:55] #4201 closed

[2017-04-11 08:58] bpasero commented on #22336
@Kernell can you attach a screenshot how it looks and maybe your settings and display/dpi environment? What OS?

[2017-04-11 08:58] jrieken commented on #16160
Yeah, we have a new rule that issues labeled as `extension-candidate` get closed. That doesn't mean they are lost or worth less but it just to reduce the amount of issues we daily look at and just because they won't be fixed in this repo. We will setup dedicated queries for extension candidates and encourage people to look at them.

Thanks and Happy Coding

[2017-04-11 09:00] noxdafox commented on #16160
Makes sense. thanks

[2017-04-11 09:01] mike-lischke commented on #24434
May I add some side notes wrt SCM preview? Since the latest vscode update I get multiple `workspace.onDidOpenTextDocument` notifications in my extension. One for the real file and 2-3 others for the same filename with an additional `.git` extension appended. When I switch off SCM preview this does not happen. These additional notifications cause my extension to fail on some processing of the files

[2017-04-11 09:02] jrieken commented on #24486
Ok, understood but it's not possible to achieve that with the JSON templates. For complex completions  the extension API should be used. That allows you to compute complete completions dynamically. See this as a sample: https://github.com/Microsoft/vscode-extension-samples/tree/master/completions-sample

[2017-04-11 09:02] #24486 closed

[2017-04-11 09:10] ArianeLu commented on #24483
@bpasero Look the char "L" on two screenshot, as you say, it looks like subpixel antialising, but it was difficult to read on my external monitor (DELL P2416D).

The fuzzy looks like have a shadow around the char, I don't think subpixel antialising will cause text fuzzy like this one. Something maybe wrong...

I can't reproduce this issue on VSCode 1.10.2.

## Relative Code:
Element with class `.m

[2017-04-11 09:15] andrewducker commented on #13680
@MartinZubek @jmbelloteau  Does launching it from a command line where you've started SSH Agent fix it for you?

[2017-04-11 09:19] ArianeLu commented on #24483
![compare](https://cloud.githubusercontent.com/assets/4962408/24901878/fdbada80-1eda-11e7-9d50-b88fba261c6a.png)

And this one

[2017-04-11 09:21] niconiemeyer opened #24496 "Folders won't update"
- VSCode Version: Code - Insiders 1.12.0-insider (77df7646504961abefe7c735d7a10171abce9d4a, 2017-04-07T06:11:15.956Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.0|
|cpptools|ms-vscode|0.10.5|
|VHDL|mshr-h|0.0.2|
|arduino-vscode|steveyin|0.2.2|;

When I put some new Folders using windows explorer the Folder View in VS Co

[2017-04-11 09:22] ArianeLu commented on #24483
@bpasero Can you understand my description? Or any idea with my guess about the `transform` attribute?

[2017-04-11 09:23] webamazingstudio opened #24497 "Wrong unfold cuts emmet"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|vscode-theme-onedark|akamud|1.3.2|
|indent4to2|Compulim|0.1.2|
|auto-rename-tag|formulahendry|0.0.11|
|beautify|HookyQR|1.0.2|
|minify|HookyQR|0.3.0|
|bem-expand|lukazakraj

[2017-04-11 09:25] Ben07 opened #24498 "when I write style property in html tag ,I can't see prompt"
- VSCode Version:1.11.1
- OS Version:win 10

Steps to Reproduce:

1. when I type `<p style="wid">xxxholic</p>` in html file,I can't see `width` in prompt,how could I see it?
In previous version,the tips shown by default.

[2017-04-11 09:28] piggyslasher commented on #5911
To be honest, I just love the simplicity of using Cmd+1/2/3 to get to a maximum of three panes. I guess that mapping is the most intuitive I've had. Maybe, just maybe, we can allow horizontal splits inside the vertical panes. I.e. so we have a layout that can be like
[code]

And jumping to the pane you need would be Cmd+Shift/Ctrl+Shift+1 - a nice derivation of the commands now. I think we should

[2017-04-11 09:45] lifez commented on #23611
I will take this

[2017-04-11 09:52] andrewmiko88 commented on #24199
Worked for me, thanks!

[2017-04-11 09:59] andersea commented on #24464
This breaks not just my extension, but all the other class lookup extensions as well. Zignds extension has a quater of a million downloads. You just broke all of them.

[2017-04-11 10:13] Kernell commented on #22336
@bpasero you can see the screenshots in my first message above. Nothing changed.

Windows 10 with default dpi.

[2017-04-11 10:16] Slaiyer commented on #24485
**UPDATE:**

On-the-fly indentation (i.e., as I type out code) works fine until auto-format (Alt-Shift-F) or Save (with "editor.formatOnSave": true, "C_Cpp.clang_format_formatOnSave": true) is performed.
Now the nesting level issue crops up and all indentation is forcibly replaced with spaces irrespective of the specified indentation settings.

My current workaround is to set both "editor.formatOn

[2017-04-11 10:19] pspi commented on #22864
For a short-term remedy, you can jump from the midst of a line to the next line with <kbd>Cmd</kbd>+<kbd>Enter</kbd> (which runs `editor.action.insertLineAfter`). Although this only helps when you don't have to insert anything after the auto-inserted symbol.

[2017-04-11 10:19] manasjoshi opened #24500 "export settings/ user profile (feature request)"
I was using Mac for development for almost 5-6 months with VSCODE and now I'm moving to a new laptop. Its really helpful if I can import/export or sync my installed extensions with user profile so I do not need to install all of them one by one and other customisation I have done.

Note: It is a feature request and not a issue

[2017-04-11 10:25] bang88 commented on #24500
You can use https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync at this moment.

[2017-04-11 10:28] yoyo837 commented on #24475
If i run 'cls' ，It works very well.

[2017-04-11 10:31] peabnuts123 commented on #21655
FYI my Macbook did in fact die the other day and so I no longer have a copy of OSX to verify any of this on for another week or two. Maybe after then I will get serious and actually submits some PRs or something...

[2017-04-11 10:46] yy7054wyq5 commented on #24401
HTML snippet json:
[code]
If i code:
[code]
There is not prompt.

[2017-04-11 10:47] FVilli opened #24501 "Source Control: GIT | Commit & Refresh button are still there and funcional, but not visible !!"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|npm-intellisense|christian-kohler|1.3.0|
|angular2-snippets|danwahlin|1.0.15|
|vscode-eslint|dbaeumer|1.2.8|
|githistory|donjayamanne|0.2.0|
|javadebugger|donjayamanne|0.0.

[2017-04-11 10:57] svechinsky commented on #24473
Encountered same issue on elementary os freya (0.3).
process.env seems to have the bin directory of the virtualenv in path but it still doesn't recognize packages installed in the virtualenv.

[2017-04-11 10:59] henriquedesousa commented on #17502
So what's the solution then?!

[2017-04-11 11:06] prsnnami opened #24502 "Key maps do not work!!"
I run Ubuntu 16.10 and i mapped the keys CAPS + IJKL to the arrow keys , however they do not work properly in VS code but work anywhere else in the System.

I dont know the exact mechanism of the map but i think i mapped CAPS to a third level of shift or something.

[2017-04-11 11:09] prsnnami opened #24503 "JS file and packages suggestions do not show."
Pretty straight forward. It used to work before the update, now i dont get suggestions for either the NPM packages or my local files.

[2017-04-11 11:09] kirusyaga commented on #24361
@alexandrudima I use both Russian and English but I need hints to be shown only in English.

[2017-04-11 11:11] alexandrudima commented on #24483
@ArianeLu

I think the root problem here is that Chromium decides to go to grayscale antialising on your machine/environment. Grayscale antialising is problematic exactly because, as you point out, it cannot correlate the font rendering with real screen pixels.

If you believe it is due to our usage of translate3d, then there is an easy way to test that: use the setting `"editor.disableTranslate3d

[2017-04-11 11:14] alexandrudima commented on #24107
Can someone verify this works on the latest Insiders release (from today). i.e. this should now work even without the setting `"keyboard.dispatch": "keyCode"` on the Insiders build.

[2017-04-11 11:15] alexandrudima commented on #24057
Can someone please verify this works on the latest Insiders release (from today).

[2017-04-11 11:15] alexandrudima commented on #24064
Can someone please verify this works on the latest Insiders release (from today). i.e. this should now work even without the setting `"keyboard.dispatch": "keyCode"` on the Insiders build.

[2017-04-11 11:20] alexandrudima commented on #24461
This is very likely a dup of #24064 or #24107

Can you please try with today's insider build which contains fixes for both those issues.

[2017-04-11 11:20] #24461 closed

[2017-04-11 11:21] alexandrudima commented on #24471
Duplicate of #23964

[2017-04-11 11:21] #24471 closed

[2017-04-11 11:23] alexandrudima commented on #24485
@Slaiyer Does this reproduce when not using zoom level?

i.e. in the settings use `"window.zoomLevel": 0` or go to View > Reset Zoom ?

[2017-04-11 11:24] SenthilKumartd opened #24504 "After upgrading to March 2017 Version 1.11.1 Update"
Hi,

I am getting the following error, after updating the VS Code to March 2017 Version 1.11.1
This is error shown each time while saving a file after editing and do not allow me to save the file within VS Code editor.
Error: Cannot read property 'config' of undefined

Regards,
Senthil

[2017-04-11 11:46] alexandrudima commented on #24422
`ctrl+k ctrl+i` would show the hover without moving the mouse

[2017-04-11 11:48] yPangXie commented on #24431
@joaomoreno It works for me after disabled preview SCM. And the bug will be back if I re-enabled preview SCM.

[2017-04-11 11:49] alexandrudima commented on #24477
@Liudx1985 I can open a file which has more than one page of content and I can do select all (ctrl+a) and copy it entirely (ctrl+c). In other words, this works for me. Is there some more information you can include to help me reproduce?

[2017-04-11 11:50] alexandrudima commented on #24454
This is the native electron input.

[2017-04-11 11:55] jrieken commented on #24464
Sorry, we weren't aware of that, but we were just looking a numerous, equally emotional, complains about suggestions everywhere in strings and comments. I'll bring it up for discussion

[2017-04-11 11:58] jrieken commented on #24401
<img width="1019" alt="screen shot 2017-04-11 at 13 57 51" src="https://cloud.githubusercontent.com/assets/1794099/24908036/e5b01f2a-1ebe-11e7-8b8b-3baf590fe659.png">

Still not reproducible for me. Where in the HTML-file do you type?

[2017-04-11 12:02] jrieken commented on #24498
dupe of #24464

[2017-04-11 12:02] #24498 closed

[2017-04-11 12:02] joaomoreno commented on #22701
Try to fully reinstall it. 👍

[2017-04-11 12:02] rhencke commented on #24456
@bpasero I did search through the issue log as thorough as I could before reporting this, but was unable to find it.  My apologies.  Do you have a reference to the issue?

[2017-04-11 12:04] jrieken commented on #24504
Can you check the console of the developer tools (F1 > Toggle Developer Tools > Console) and see what is being printed there

[2017-04-11 12:05] AmirSavand commented on #21439
I really liked it when you just click on the branch name on bottom left and start typing the branch you want to create. no longer there 😢

[2017-04-11 12:06] OliverJAsh opened #24505 ""Go to File" in editor group command"
I often want the "Go to File" command, but only for editors currently open in the group. This is useful when you have lots of editors open in a group.

The standard "Go to File" command provides a search for all files, so is too noisy for this.

The "Open Next Recently Used Editor in Group" command provides a list of all files open in the group, but there's no interface to search it.

I propose a

[2017-04-11 12:10] pesho commented on #24064
@alexandrudima confirming, it's fixed for me in the latest Insiders build (1.12.0-1491892095_amd64).

[2017-04-11 12:14] eamodio commented on #24482
@joaomoreno Sorry I should have been clearer. I definitely agree that the exception is handled, but for some reason vscode breaks on that line -- like shown in the screenshot every time it starts up and I don't have break on all exceptions on and it just started happened with the previous insiders build than I reported it on (since there was an update in between).

[2017-04-11 12:15] joaomoreno commented on #24434
@mike-lischke #24033

[2017-04-11 12:17] joaomoreno commented on #24482
@weinand A `Promise.reject(null)` seems to break the debugger independently of whether the user has `Break on all exceptions`.

[2017-04-11 12:17] Slaiyer commented on #24485
@alexandrudima `"window.zoomLevel": 0` has no effect on the issue.

[2017-04-11 12:19] joaomoreno commented on #24473
@svechinsky What actually doesn't work? The Python extension? Tasks? Terminal?

[2017-04-11 12:20] joaomoreno commented on #24501
Can you share a screenshot?

[2017-04-11 12:20] tiagolr commented on #4490
+1

[2017-04-11 12:23] jmbelloteau commented on #13680
@andrewducker

From terminal I've connect to my Gitlab with SSH the command:

[code]

...then I've open VScode from terminal with the command:

[code]

When I push from VScode I still get the same error...
That's really a problem !

[2017-04-11 12:25] sirgallifrey commented on #18239
Thank you so much!!
That is the most obscure config ever! I would never find it on my own... Thanks again, you made my vscode so mush better!

![272185fa61322668c896868518f3a8ef_feels-good-man-meme-feels-good-man_430-397](https://cloud.githubusercontent.com/assets/2331645/24908987/955737e6-1e98-11e7-8ee4-f627d20d4c2e.jpeg)

[2017-04-11 12:28] alexandrudima commented on #24502
Duplicate of #23991. A workaround is provided in https://github.com/Microsoft/vscode/issues/23991#issuecomment-292336504

[2017-04-11 12:28] #24502 closed

[2017-04-11 12:28] svechinsky commented on #24473
@joaomoreno To me the issue was that the intellisense couldn't fine the locally (in the environment) installed packages. For some reason changing the pylint file solved this.
Terminal still not pointing to the right python without manually activating the virtualenv.

[2017-04-11 12:29] GeorgeWells opened #24506 "PHP IntelliSense extension - unable to edit files after selecting 'Go To Definition'"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|githistory|donjayamanne|0.2.0|
|php-debug|felixfbecker|1.10.0|
|php-intellisense|felixfbecker|1.1.5|
|debugger-for-chrome|msjsdiag|2.7.3|
|gitblame|waderyan|1.3.0|;

---

Steps to Reproduce:

1. Right clic

[2017-04-11 12:29] gregvanl commented on #22051
I think we can go down to one mechanism for in-product release notes. An added benefit is that by including the release notes markdown and images in the product install, users can view the release notes offline. We no longer need the other two mechanisms, those code paths can be removed. The final snapshot on the website is only for completeness and for users who prefer to read the notes without t

[2017-04-11 12:29] GeorgeWells commented on #24205
I've just raised #24506 which might link to this.

[2017-04-11 12:31] sandy081 commented on #24500
Thanks @bang88. @manasjoshi Please use the above extension for sync.

[2017-04-11 12:31] #24500 closed

[2017-04-11 12:33] eamodio opened #24507 "[Regression] No longer get window.onDidChangeActiveTextEditor events when there is no window.activeEditor"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T14:00:34.044Z)
- OS Version: Darwin x64 16.5.0

---

I'm not exactly sure when this changed, but I used to get the `window.onDidChangeActiveTextEditor` event when there is no active editor -- i.e. closing all documents/tabs, switching to say an extension page (where there is no text editor). The event would just ha

[2017-04-11 12:36] alexandrudima commented on #24485
I think the problem here is that the cpp extension formats, but does not honor the indentation settings of the current editor, which IMHO it is something it should honor.

[2017-04-11 12:37] alexandrudima commented on #24485
Moved to Microsoft/vscode-cpptools#630

[2017-04-11 12:37] #24485 closed

[2017-04-11 12:38] #24147 closed

[2017-04-11 12:38] weinand commented on #5213
dup of #1746

[2017-04-11 12:38] #5213 closed

[2017-04-11 12:39] sandy081 commented on #23912
@roblourens FYI, I changed the Search tree renderer to not to use the Legacy renderer, instead use the templated `IRenderer`. Heard that you wanted to do some changes in this area, hence mentioning you.

[2017-04-11 12:45] joaomoreno commented on #22051
Yeah but we lose the ability to fix the release notes after the product has been shipped.

[2017-04-11 12:45] jrieken commented on #24507
Yes, I can reproduce. Will investigate...

[2017-04-11 12:46] joaomoreno commented on #24473
Got it. Can you reproduce in our latest [insider release](https://code.visualstudio.com/insiders)?

[2017-04-11 12:53] noopole opened #24508 "HTML Language Server Error Code: -32603"
- VSCode Version: 1.11.1
- OS Version: Windows 7 64-bit

Steps to Reproduce:

1. I creat a new and valid HTML5 file with a <script> element
2. When I click in the editor the "Output" window "HTML Language Server" pops up with message :

[2017-04-11 12:55] antkn33 opened #24509 "pop-up box in the way"
When typing out something like a JSON file, for instance, the pop-up
 info box is always in the way of seeing the previous code. It would be nice if this box came up off to the left or right side so as not to obstruct the view of the code.
Thanks

![vscode](https://cloud.githubusercontent.com/assets/14879677/24910071/894f45aa-1e94-11e7-9b0b-a277f19bbca0.png)

[2017-04-11 12:58] Reallogan opened #24510 "The problem about indentation in the terminal"
- VSCode Version: Code 1.11.0 (9122ec4b1068bd391e41974f46a4b54c1b9c90f9, 2017-04-05T20:59:05.375Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.0|
|vscode-icons|robertohuertasm|7.5.1|;

---

Steps to Reproduce:

1.Just as the title。

[2017-04-11 13:02] jrieken commented on #24507
Problem is that this if-statement `if (delta.newActiveEditor) { ...` should be checking for undefined, not falsy `if (delta.newActiveEditor !== undefined) { ...`

[2017-04-11 13:05] #5858 closed

[2017-04-11 13:07] #6295 closed

[2017-04-11 13:07] #7417 closed

[2017-04-11 13:08] #7419 closed

[2017-04-11 13:09] sandy081 commented on #22279
Here is the summary from @dbaeumer, @aeschli and myself

## Extensions
No workspace recommendations. We should show workspace recommendations based on config files and mean.json file.
- jshint: The workspace has a .jshintrc file.
- Angular: We tried language support through Angular language service extension, but it was not working due to a bug which we filed.
- Debugger for Chrome: It has problem

[2017-04-11 13:09] Slaiyer commented on #24485
@alexandrudima just to clarify - since I do not know the scope of Microsoft/vscode-cpptools - the screenshot taken was of a file saved with a `.c` extension.

[2017-04-11 13:10] yy7054wyq5 commented on #24401
In fact, this problem had disappear.I mean when i found the problem, vscode occupy 75% of cpu. And now ,vscode occupy 0% of cpu. Then the problem never appear.
But, when i code html inline style. vscode didn't association css attribute.
[code]

[2017-04-11 13:14] alexandrudima commented on #7465
This works as expected now thanks to @joaomoreno

![image](https://cloud.githubusercontent.com/assets/5047891/24910897/809b0cb6-1ec9-11e7-8067-bb02255808ce.png)

[2017-04-11 13:14] #7465 closed

[2017-04-11 13:14] rhughesjr commented on #23957
Yes, I too would love to have a way to disable this. It's something I always have to turn off in full Visual Studio for anything that does it (ReSharper, Pro Power Tools, etc).

VS allows ctrl-click to select a word. vscode does not, however, I still instinctively try to do this, and the jumping around it causes is quite annoying.

I'm rather surprised there was not an option for it initially, as

[2017-04-11 13:15] #8350 closed

[2017-04-11 13:16] sandy081 commented on #20418
@roblourens FYI, Hope I am not duplicating the effort here :)

[2017-04-11 13:17] #24507 closed

[2017-04-11 13:17] jrieken commented on #24507
to *verify* have an extension with code like below and make sure it prints `<NONE>` when the last editor closes

[code]

[2017-04-11 13:19] alexandrudima commented on #8427
Closing as per Martin's explanation

[2017-04-11 13:19] #8427 closed

[2017-04-11 13:21] jrieken commented on #24401
close as dupe of #24464 because the previous comment

[2017-04-11 13:21] #24401 closed

[2017-04-11 13:26] svechinsky commented on #24473
@joaomoreno Yes, the terminal inside vs is still not pointing to the right environment.

[2017-04-11 13:27] jrieken commented on #24457
@bpasero The tests _fail_ also with your changes, it's just that we don't really report that...

[code]

[2017-04-11 13:31] jrieken commented on #24464
We will not make a candidate fix for 1.11.2. It seems mostly html/xml-users are affected by this change. We will keep an ear open and we can always change the default for either html or all languages to have 24x7 Intellisense in strings.

[2017-04-11 13:32] joaomoreno commented on #12910
Fixed by #20881

[2017-04-11 13:32] #12910 closed

[2017-04-11 13:33] michelkaporin commented on #24411
@StephenBloomquist Thanks for the provided info. The problem you are facing is a problem on VS Code side, at least in the way we handle it programmatically.

I've looked again at the stack trace calls from your image and it seems that `line` and `column` of the `StackFrame`, where exception has been thrown, are not of a `number` type. That is why there is `Error: Invalid arguments` error first and

[2017-04-11 13:36] #20907 closed

[2017-04-11 13:36] jrieken commented on #9049
@roblourens Are we in a good enough state to expose our find in files functionalities for extension authors? Especially wrt regex-searching will we make more changes or is this future proof?

[2017-04-11 13:36] jrieken commented on #22847
closing as dupe of https://github.com/Microsoft/vscode/issues/11247

[2017-04-11 13:36] #22847 closed

[2017-04-11 13:38] jrieken commented on #13639
closing this as dupe of https://github.com/Microsoft/vscode/issues/15178 which came later but is a little easier to understand

[2017-04-11 13:38] #13639 closed

[2017-04-11 13:42] #24091 closed

[2017-04-11 13:43] bpasero commented on #24457
Ah ok, I was not even seeing that 😭

[2017-04-11 13:43] jrieken commented on #24480
dupe of https://github.com/Microsoft/vscode/issues/22882

[2017-04-11 13:43] #24480 closed

[2017-04-11 13:44] jrieken commented on #24204
Closing because this issue is without actionable information.

[2017-04-11 13:44] #24204 closed

[2017-04-11 13:44] alexandrudima commented on #15295
This can be done with the search string:
* `(render\("something"[\s\S\n]*?)(code)`
* regex turned on
* replace string: `$1errorCode`

The first parathesis group captures everything up to `code` in $1 and that will be maintained and the `code` will be replaced with `errorCode`.

[2017-04-11 13:44] #15295 closed

[2017-04-11 13:45] jrieken commented on #24457
not even the build machines do ;-) I think the tests are kind of obsolete now or need a different setup...

[2017-04-11 13:46] jrieken commented on #23823
closing as dupe of https://github.com/Microsoft/vscode/issues/22216

[2017-04-11 13:46] #23823 closed

[2017-04-11 13:48] bpasero opened #24511 "Sorting of Vue extensions is not optimal"
**Refs:** Vue.js test tour (https://github.com/Microsoft/vscode/issues/23385)

There are some issues with vue.js extensions sorting:
* there are 2 extensions for vue called vue that seem to be a fork of the other, but its not clear which to pick
* Pines vetur extension which seems very popular is not to the top

[2017-04-11 13:49] bpasero opened #24512 "Debug: "Select script" picker should show a little more"
**Refs:** Vue.js test tour (https://github.com/Microsoft/vscode/issues/23385)

When debugging a vue.js application using the Chrome Debugger, the script picker showed cryptic names making it hard to find the actual script to debug:

![image](https://cloud.githubusercontent.com/assets/900690/24912457/7065c48a-1ece-11e7-889d-5475cb78850f.png)

Not sure if that is a debug issue or extension issue tho

[2017-04-11 13:50] jrieken commented on #24174
@jihin ping

[2017-04-11 13:50] bpasero opened #24513 ""Configure Task Runner" should pick tasks from package.json"
**Refs:** Vue.js test tour (https://github.com/Microsoft/vscode/issues/23385)

When selecting "Configure Task Runner" and the package.json inside the project already has scripts configured for run, test, build etc. I think we should take those scripts automatically into the launch.json.

[2017-04-11 13:52] jrieken commented on #5305
Closing this because it would require API breakage and because the information asked for is available in the `onWillSave`-event

[2017-04-11 13:52] #5305 closed

[2017-04-11 13:53] bpasero commented on #24457
@jrieken they still test an interesting path though: an extension opens a document and later closes it (either via a global command or via editor.hide()). Since it also seems to hold onto a reference, I think we end up not disposing the model properly. At least the test is touching that area. When are references [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/mainT

[2017-04-11 13:54] mschuckmann opened #24514 "Unable to <alt> keybindings that match top level menus"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:55:56.395Z)
- OS Version: Linux x64 4.4.0-72-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|markdown-toc|AlanWalk|1.5.1|
|numbered-bookmarks|alefragnani|0.7.0|
|project-manager|alefragnani|0.13.5|
|code-gnu-global|austin|0.2.1|
|togglehs|bbenoist|0.1.2|
|vscode-markdownlint|DavidAnson|0.7.1|
|j

[2017-04-11 13:54] #11359 closed

[2017-04-11 13:55] Montago opened #24515 "Folding HTML tags should hide the closing tag."
- VSCode Version: 1.11.1
- OS Version: Windows

instead of showing:
<div ... >
</div>

just show
<div ...>

when folded

[2017-04-11 13:55] NathanJPhillips opened #24516 "Git integration disappears in second and subsequently opened windows in 1.11.1"
Git integration has disappeared for multiple windows in the latest version. VS code now shows no Git content at all for second and subsequent concurrently opened windows.

~~Git integration has disappeared for submodule projects in the latest version. I am not talking about supporting them as submodules - that has never existed, I'm talking about being able to independently open the folder of a su

[2017-04-11 13:56] bpasero commented on #24456
https://github.com/Microsoft/vscode/issues/12893

[2017-04-11 13:56] alexandrudima commented on #20165
The action is called "Go Back". Under Windows it is bound to `alt+left arrow`. For Ubuntu, you can find its binding in the F1 list.

[2017-04-11 13:56] #20165 closed

[2017-04-11 13:56] jrieken commented on #24457
look [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/mainThreadDocuments.ts#L27). the is an age and total size constraint

[2017-04-11 13:57] alexandrudima commented on #20165
An alternative to that action is `ctrl+u` which undoes the last cursor move

[2017-04-11 13:58] bpasero commented on #24505
![image](https://cloud.githubusercontent.com/assets/900690/24912844/9d5a1274-1ecf-11e7-87bf-09fd243ec9d6.png)

Questions are best directed to here: http://stackoverflow.com/questions/tagged/vscode

[2017-04-11 13:58] #24505 closed

[2017-04-11 14:01] vjoao commented on #23239
I'm getting the same error. Reinstalled VS Code 1.11.1, no extensions at all. No errors on console apart from the `Extension host terminated unexpectedly. Please reload the window to recover.`.
Exit code is `3`. Signal is `null`.
Running on Windows 10

[2017-04-11 14:01] bpasero commented on #24457
@jrieken that seems to me like a similar artificial dispose strategy as the one I just cleaned up (disposing when editors change). I think we are now risking to keep models around in memory over a greater time period compared to before my change.

Can we not keep track of references created as part of an editor open request and dispose them when the editor closes?

[2017-04-11 14:01] yy7054wyq5 commented on #24401
Thanks.

[2017-04-11 14:02] #20679 closed

[2017-04-11 14:02] alexandrudima commented on #24054
I believe everything is working as designed. Folding is bound to `cmd+shift+[`. The `[` character can be produced only with `shift+altgr` (i.e. `ctrl`+`alt`+`shift`).  Since we cannot dispatch `cmd`+`ctrl`+`alt`+`shift`+`shift`+`(` (due to shift appearing twice), the command is unbound by default. The only way to improve this is to ship with a French AZERTY optimized set of default keybindings. #1

[2017-04-11 14:02] #24054 closed

[2017-04-11 14:05] smlombardi opened #24517 "Cannot style TS import in theme"
- VSCode Version: Code - Insiders 1.12.0-insider (a5e9d3b5e8e7e9a89dd6624a70aab031f189a6fa, 2017-04-11T06:05:26.421Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-settings-sync|Shan|2.6.2|
|sort-lines|Tyriar|1.2.0|
|Bookmarks|alefragnani|0.13.0|
|project-manager|alefragnani|0.13.5|
|path-intellisense|christian-kohler|1.2.0|
|vscode-eslint|dbaeumer|1

[2017-04-11 14:05] rdebeasi commented on #9669
I thought they were as well! Turns out that `apt install` installs dependencies, while `dpkg -i` does not. http://askubuntu.com/a/705889/486628

[2017-04-11 14:07] isidorn commented on #24512
This is coming from the chrome debugger, forwarding to @roblourens

[2017-04-11 14:07] alexandrudima commented on #24024
I could not reproduce. I have tried the following script to generate a file with lots of links:

[code]

![image](https://cloud.githubusercontent.com/assets/5047891/24913195/ab62f718-1ed0-11e7-800e-ff1936cffb52.png)

[2017-04-11 14:10] andreshg112 commented on #24391
No, I just can type in the password on the terminal.
I don't see a credential GUI like this:
![image](https://cloud.githubusercontent.com/assets/15859884/24913383/a9cac14a-1e96-11e7-8e95-ee201cd177ab.png)

I want to see it again and forget about error described above.

[2017-04-11 14:11] hengkx opened #24518 "terminal style exception"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|npm-intellisense|christian-kohler|1.3.0|
|path-intellisense|christian-kohler|1.2.0|
|vscode-svgviewer|cssho|1.4.0|
|vscode-eslint|dbaeumer|1.2.8|
|vscode-babel-coloring|dzannotti|0.0.4|
|vscode-html-css|

[2017-04-11 14:12] alexandrudima commented on #10684
I believe this was fixed in the meantime
![regex](https://cloud.githubusercontent.com/assets/5047891/24913502/add800dc-1ed1-11e7-8da6-dcef1cc74b3b.gif)

[2017-04-11 14:12] #10684 closed

[2017-04-11 14:12] OliverJAsh commented on #24505
Thanks!

[2017-04-11 14:14] alexandrudima commented on #11027
:+1: This has been fixed in the March stable release. All cursors now do the same thing when typing.

[2017-04-11 14:14] #11027 closed

[2017-04-11 14:15] cubodehelio commented on #24503
Indeed, modules suggestions are not working either for local modules or `node_modules`, at least for JS projects.

[2017-04-11 14:18] diogoca commented on #24218
https://github.com/Microsoft/vscode/issues/24147#issuecomment-292553461 fix that...

[2017-04-11 14:18] weinand opened #24519 "Provide extension recommendations for files in workspace"
while testing https://github.com/Microsoft/vscode/issues/22277:

- open VS Code on MERN starter workspace
- run "Show Recommended Extensions"

Observe: nothing shows up

since the project has an `.eslintrc`, `.babelrc`, and `Dockerfile` file I would expect that at least the corresponding extensions show up.

[2017-04-11 14:21] #21096 closed

[2017-04-11 14:22] roblourens commented on #24512
You're probably using webpack in a mode where it evals everything - those are eval scripts. I suggested showing sourcemapped scripts in that picker which would help here: https://github.com/Microsoft/vscode-chrome-debug-core/issues/186.

[2017-04-11 14:22] #24512 closed

[2017-04-11 14:24] lannonbr commented on #13595
I am interested in helping out with this. Would updating the CSS extension (and related extensions, i.e. sass, less) JSON specifications be the only requirement, or are there any other files to look into and modifying.

[2017-04-11 14:24] isidorn opened #24520 "Debug hover does not use AST"
This is a current limitation of the debug hover that it does not have a full language understanding and due to that tries to find the hovered expression in the variables view. If the hovered expression is not present in the variables view or has duplicates the hover will not show anything.

To improve this the debug hover would need to have an AST understanding of the language which is a feature r

[2017-04-11 14:25] isidorn commented on #2721
Dup of https://github.com/Microsoft/vscode/issues/24520

[2017-04-11 14:25] #2721 closed

[2017-04-11 14:25] joaomoreno opened #24521 "Diff editor no longer shows colors on the left"
![image](https://cloud.githubusercontent.com/assets/22350/24914092/7a0d53fe-1ed3-11e7-91a3-5c8337dc1c79.png)

[2017-04-11 14:25] isidorn commented on #24277
Dup of https://github.com/Microsoft/vscode/issues/24520

[2017-04-11 14:25] roblourens commented on #9049
Yeah, I think we could do this. Someone could implement something like https://github.com/Microsoft/vscode/issues/23931

[2017-04-11 14:27] #24521 closed

[2017-04-11 14:28] Geeprox commented on #24417
<img width="1024" alt="qq20170411-0 2x" src="https://cloud.githubusercontent.com/assets/6435226/24914240/376b29c6-1f06-11e7-9b7d-9830c888b66f.png">

[2017-04-11 14:30] seckinsimsek opened #24522 "Uk keyboard outline navigateback key binding issue"
In UK keyboard with the latest update, I cannot bind my "go back" navigation button to the default value of ctrl+alt+-. In the keybindings.json it says "You won't be able to produce this key combination under your current keyboard layout." for some reason.

- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:55:56.395Z)
- OS Version: Linux x64 4.4.0-72-generic
-

[2017-04-11 14:32] joaomoreno commented on #24492
Doesn't seem to have been fixed.

[2017-04-11 14:33] joaomoreno commented on #24391
Code is asking your for credentials in this screenshot:

![image](https://cloud.githubusercontent.com/assets/15859884/24878821/43c7d640-1dfa-11e7-9c2c-1a0ac9752ebf.png)

[2017-04-11 14:34] isidorn commented on #24277
Reopening because there is some funky behavior shown to me by @weinand that I would like to investigate

[2017-04-11 14:35] joaomoreno commented on #24509
It's always going to be on top of code, independently of where we put it. We put it to the top since Intellisense comes below. You can hide each instance with <kbd>Escape</kbd>. You can also disable it altogether with `"editor.parameterHints": false`.

[2017-04-11 14:35] #24509 closed

[2017-04-11 14:35] joaomoreno commented on #24473
I meant the Python language features.

[2017-04-11 14:36] joaomoreno commented on #24511
cc @hamenon

[2017-04-11 14:36] joaomoreno commented on #24417
Simply increase the column width by dragging it with the mouse.

[2017-04-11 14:36] #24417 closed

[2017-04-11 14:36] andreshg112 commented on #24391
Really sorry, I hadn't realized of it.

[2017-04-11 14:38] joaomoreno commented on #24391
No worries!

[2017-04-11 14:40] pvmhoang commented on #24347
I am sorry for late, please refer to attachment file. Thank you
<img width="767" alt="cmd q" src="https://cloud.githubusercontent.com/assets/1129953/24914727/4da900f2-1eff-11e7-8e64-9dcf75ad66e8.png">

[2017-04-11 14:40] chrmarti commented on #24459
Somehow VSCODE_CLI was still set from an earlier investigation. My bad, sorry guys.

[2017-04-11 14:40] #24459 closed

[2017-04-11 14:41] niconiemeyer commented on #24496
Problem Solved!
Had nothing to do with VS Code.

[2017-04-11 14:41] #24496 closed

[2017-04-11 14:43] roblourens commented on #24466
This is https://github.com/Microsoft/vscode/issues/23624, and is fixed in Insiders.

[2017-04-11 14:43] jrieken commented on #9049
Yeah, like my alternative reference ui: https://github.com/Microsoft/vscode-extension-samples/blob/master/contentprovider-sample/README.md

[2017-04-11 14:43] joaomoreno commented on #23608
Fixed by 3f15d518d

[2017-04-11 14:43] #23608 closed

[2017-04-11 14:45] jrieken commented on #24457
No because I don't want to empower extensions to open documents and thereby make us hold on to them.

[2017-04-11 14:46] joaomoreno commented on #24240
Fixed by #24371, thanks @rishii7 !

[2017-04-11 14:46] #24240 closed

[2017-04-11 14:50] #20418 closed

[2017-04-11 14:51] weinand commented on #24482
dup of https://github.com/Microsoft/vscode/issues/1746

[2017-04-11 14:52] chrmarti commented on #24438
You could use Ctrl + R to open recent files. Or if you open a folder you will have recently opened files in the Command Palette (Ctrl + P) too.

[2017-04-11 14:55] isidorn commented on #24298
@weinand yes this is potentially a duplicate of https://github.com/Microsoft/vscode/issues/22741
To verify that it is a duplicate @ezolenko do you first correctly stop in a file (internal module) and everything is fine regarding the content. Only on subsequent debug sessions you would get the wrong content.
You should also be able to reproduce this with `protocol` set to `inspector`

[2017-04-11 15:00] jrieken commented on #24017
@NoOorZ24 what does the lower left corner show when you open these files? how are you trying to add the snippet? Via 'Insert Snippet' or when typing via the suggest ux?

[2017-04-11 15:12] eamodio commented on #24482
@weinand was there a switch to the something new in the insiders build? Because I don't see this same behavior in 1.11.1 and it just started 2 build ago for me.

[2017-04-11 15:19] chrmarti commented on #21577
Doesn't look like it changed:

Before:
![screen shot 2017-03-01 at 8 18 38 am](https://cloud.githubusercontent.com/assets/9205389/23469261/02438190-fe58-11e6-873e-7c27f385f8c4.png)

After:
![screen shot 2017-04-11 at 8 17 37 am](https://cloud.githubusercontent.com/assets/9205389/24916563/59a58e04-1e8f-11e7-99ad-8a134f5d7556.png)

[2017-04-11 15:23] NathanJPhillips commented on #24516
OK, more information on this. It's not the submodule, per se, but just having two different windows open. The second and subsequent windows don't have Git working in them. I'll search for a duplicate issue with this information and link (I'm sure there must be one).

[2017-04-11 15:25] NathanJPhillips commented on #24431
Is this issue related? https://github.com/Microsoft/vscode/issues/24516

[2017-04-11 15:25] alexandrudima commented on #24522
@seckinsimsek Due to our change in 1.11 to dispatch on scan codes, some bindings might have changed (including the ones you have previously customized).

It should be possible for you to press the Define keybinding button and record a keypress:
* open `keybindings.json`
* click Define Keybinding
* press the desired key combination

Does that work for you?

[2017-04-11 15:26] NathanJPhillips commented on #24516
Can't find a duplicate issue, I'll update the title to better reflect the issue.

[2017-04-11 15:28] #13203 closed

[2017-04-11 15:29] #12352 closed

[2017-04-11 15:29] NathanJPhillips commented on #24516
Closing the window that has Git working in it allows the next opened window to use Git (but not any of the existing opened windows).

[2017-04-11 15:33] StephenBloomquist commented on #24411
@michelkaporin Looks like you hit the nail on the head, the mention of the column number immediately drew my attention to another part of my code.

I switched over from using the Adapter StackFrame to the Protocol StackFrame when I changed the code to take advantage of the `presentationHint` feature. I made the mistaken assumption that, being an optional variable in the Adapter StackFrame, column

[2017-04-11 15:33] jrieken commented on #24457
Also note that these are private references that we manage and this is not disposing models regardless of someone still having a reference on it

[2017-04-11 15:37] isidorn opened #24524 "Better HTML support for react"
Refs: #24403

Currently if my react component returns HTML I do not get any nice HTML support when I try to edit this, instead this code is treated as javascript.

Easy repro steps
1. npm install -g create-react-app
2. create-react-app my-app
3. cd my-app/
4. code-insiders .
5. open app.js and try editing the HTML returned by the component

[2017-04-11 15:39] isidorn opened #24525 "My file wrongly autodetected as Javascript instead of Javascript React"
Refs: #24403

1. npm install -g create-react-app
2. create-react-app my-app
3. cd my-app/
4. code-insiders .

Notice all react files as detected as javascript files. I would expect they are auto detected as javascript react files.

[2017-04-11 15:39] blackhacs opened #24526 "Unable to download VSCode Mac Platform"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. go to https://code.visualstudio.com
2. download Mac Package
or

1. https://az764295.vo.msecnd.net/stable/d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39/VSCode-darwin-stable.zip

[2017-04-11 15:40] miliu99 commented on #4490
Yes, would love to have it. I'm in process converting angular 1 to angular 2 manually, and need to do a lot of repeating "find and replace".

[2017-04-11 15:40] weinand commented on #1746
copied @roblourens comment from Microsoft/vscode-node-debug2#46:

[2017-04-11 15:49] mkhl opened #24527 "English International keyboard: ` and § keys are swapped in keyboard shortcuts on macOS"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T14:00:34.044Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.9.2|
|vscode-docker|PeterJausovec|0.0.13|
|path-intellisense|christian-kohler|1.2.0|
|vscode-eslint|dbaeumer|1.2.8|
|python|donjayamanne|0.6.0|
|theme-dracula|dracula-theme|1.9.1|
|tsl

[2017-04-11 15:52] chrisdothtml opened #24528 "Terminal no longer changing to project directory"
- VSCode Version: 1.12.0-insider
- OS Version: macOS Sierra 10.12.4

Steps to Reproduce:

1. Open a directory in vscode
2. Open the embedded terminal

The embedded terminal used to change the cwd to the directory of my project, but now it's as if I opened a normal terminal window (cwd is my default starting cwd). Could this be caused by the `cd` command in my `.bash_profile`?

[2017-04-11 15:54] vshab commented on #24057
@alexandrudima shortcuts work but the hints are still in Russian which i think is not right.
![2017-04-11 22-48-35](https://cloud.githubusercontent.com/assets/6755908/24918142/8a8bda9e-1f09-11e7-8b9a-1fa9c1fa3eec.png)
For example how Chromium does it:
![2017-04-11 22-53-00](https://cloud.githubusercontent.com/assets/6755908/24918220/d9b0cabc-1f09-11e7-8c73-d60c73ed052d.png)

[2017-04-11 15:55] smlombardi commented on #24517
For some reason, started working.  Possible typo.

[2017-04-11 15:55] #24517 closed

[2017-04-11 15:56] dmitsh opened #24529 "Navigation arrows on the keyboard don't work (Debian package)"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:55:56.395Z)
- OS Version: Linux x64 4.4.0-72-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.52|;

---

Steps to Reproduce:

1. Open a file in VSCode (on Linux)
2. Use navigation arrows (left, right, up, down) to navigate on the text. It doesn't work!

[2017-04-11 15:58] bpasero commented on #24457
That is true, but still: there are other things that do a cleanup after a model is disposed. If I open a model with markers via extension API and close that editor, the markers would probably not go away until one of the rules kick in (3 minutes or size constraint). If we created the reference as part of showing the document, the reference should unref when the editor closes imho.

[2017-04-11 15:58] ktcunreal opened #24530 "Hide unwanted files in explorer"
I'm working on a Django project with vscode-1.10.2.
Just a tiny problem,there're a lot of .pyc files generated everytime I run the server,the explorer in vscode always looks like this:
![0](https://cloud.githubusercontent.com/assets/14197779/24916737/93b15a50-1f0d-11e7-9ca1-fd8979ab11c0.JPG)
The generated file just looks so similar, and I have to choose and click the origins very careful
It would

[2017-04-11 15:58] weinand commented on #24482
@eamodio no, there was no change in that area (and I can reproduce the issue in 1.11.1 too).
Could it be that you have turned off both exception settings in 1.11.1?

![2017-04-11_17-58-19](https://cloud.githubusercontent.com/assets/1898161/24918376/7d5625a6-1ee0-11e7-8424-577b3050c62e.png)

[2017-04-11 15:59] earslap opened #24531 "Keyboard shortcuts not visible in command palette"
I migrated to insider build because of a display bug in macOS Sierra (which fixes the issue) and I'm not sure if this is intentional or not but when I open the command palette, no item lists its keyboard shortcut on the right side anymore. I couldn't find anything in the settings to enable / disable it either so I'm guessing this is a bug.

- VSCode Version: 1.12.0-insider
- OS Version: macOS Sier

[2017-04-11 16:01] bpasero opened #24532 "Theme changes cause most workbench elements to not use ClearType"
Caused by https://github.com/Microsoft/vscode/commit/7db643a5bbf1f633939adf30ff7cd43b7cc29c5e

[2017-04-11 16:01] seckinsimsek commented on #24522
When i try to change it to the key combination "ctrl+alt+-" which was the original, the keybinding.json complains with the following error and it does not bind this key combination.
"You won't be able to produce this key combination under your current keyboard layout."

[2017-04-11 16:01] bpasero commented on #13662
I looked into it and it seems our work on the theming has made it worse for people. Specifically https://github.com/Microsoft/vscode/commit/7db643a5bbf1f633939adf30ff7cd43b7cc29c5e seems to have caused this by no longer setting a background on the workbench container. I am extracting https://github.com/Microsoft/vscode/issues/24532 to at least try to get back to our previous state.

The list widge

[2017-04-11 16:02] jbmercha opened #24533 "QuickOpen should prefer matches with fewer splits of search terms"
- VSCode Version: 1.11.1
- OS Version: Windows 8.1

Steps to Reproduce:

1. create  abc\s1\s2\file.txt
2. create a\bc\file.txt
3. Ctrl + P - quickopen - and type "abc f"

I'd expect the results to prefer the match (abc\s1\s2\file.txt) which does not split "abc" into "a bc"

[2017-04-11 16:03] isidorn opened #24534 "Remove sort order context menu"
Why would anyone want to sort in ascending order. Remove this two items from the context menu to simplify it.
Do we have telemetry for these actions so I can prove my thinking that nobody is clicking on these actions

![screen shot 2017-04-11 at 18 02 08](https://cloud.githubusercontent.com/assets/1926584/24918529/049f1f54-1ee1-11e7-9696-90e21ff4c49c.png)

[2017-04-11 16:04] NoSuchProcess opened #24535 "vscode update to 1.11 removes mostly all default keybindings"
- VSCode Version: 1.11.1
- OS Version: Fedora 25 x86_64, XFCE desktop, LANG=ru_RU.UTF-8

Steps to Reproduce:

1. install 1.11 or update from 1.10 to 1.11
2. press Ctrl+N, Ctrl+S - no result, also drop-down menu shows no keybindings for frequently used (i'd say - standart)  actions.

![bug](https://cloud.githubusercontent.com/assets/3430181/24918609/68e98bf2-1efa-11e7-95a0-c418ed92a455.png)

[layou

[2017-04-11 16:07] chrmarti opened #24536 "Pass implied type to TypeScript language service"
Test tour #23385

Not necessarily something we need to do, but maybe you know how to do this:

.vue files have a script part that assigns a particular type to module.exports. There should be a way to tell the TypeScript language service about that.

Relevant source: https://github.com/octref/vetur/blob/master/server/src/modes/javascriptMode.ts

[2017-04-11 16:09] sean-mcmanus commented on #24399
Exactly which steps did you follow? I assume you just followed the steps for getting the .vsix and installing it and not the later steps for manually downloading the OS-specific binaries from the fwlinks in the package.json? It sounds like there is still a bug/issue with our extension getting installed via the Extensions UI, but we don't have a repro?

[2017-04-11 16:17] eamodio commented on #24482
@weinand Had me worried for a minute there ;) but no, I have `Uncaught Exceptions` checked in both `1.11.1` and today's insiders and only the insiders build breaks at that reject line.

[2017-04-11 16:18] alexandrudima commented on #24414
The vertical scrollbar can be made wider via the "hidden" setting (a VS Code restart is necessary):
[code]

[2017-04-11 16:19] innerlee commented on #24530
http://stackoverflow.com/questions/30140112/how-do-i-hide-certain-files-from-the-sidebar-in-visual-studio-code

[2017-04-11 16:20] NoSuchProcess commented on #24535
[layout.ru_pc105.txt](https://github.com/Microsoft/vscode/files/913919/layout.ru_pc105.txt)

[2017-04-11 16:24] sathish25071992 commented on #24399
ya sean. I followed exactlythese steps,

1. Go to cpptools marketplace (https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools)
2. right click, view source
3. search for VSIXPackage, copy paste to new window to download `ex: https://ms-vscode.gallerycdn.vsassets.io/extensions/ms-vscode/cpptools/0.9.2/1474583577220/Microsoft.VisualStudio.Services.VSIXPackage`
4. rename to cpptools.v

[2017-04-11 16:26] paramsingh88 opened #24537 "Save All Files messes up my code formatting badly"
- VSCode Version: 1.11.1
- OS Version: mac OS Sierra 10.12

Steps to Reproduce:

1. Work on a few files, like html, scss, ts
2. On any file try to hit option + cmd + s or hit save all button from sidebar, it messes up my code in the current file really badly.

I'm really annoyed with this bug, it gets pushed to github and causes a lot of conflicts

For eg: My file  after save looks like this
[code

[2017-04-11 16:27] auchenberg commented on #24403
I have started contributing to React docs, on how to setup VS Code for Chrome debugging:
- https://github.com/react-boilerplate/react-boilerplate/pull/1698

[2017-04-11 16:30] Tekbr commented on #24232
@bpasero
My steps:
1- I typed the text
2 - Press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>E</kbd>
3- I navigated through the file with the up and down arrows
4- I pressed <kbd>Esc</kbd>.
5- Focus still continued in the archives
6- I pressed <kbd>Esc</kbd>.
7- Focus continued in File Explorer

Was not the idea to return the focus of the cursor to editing the file? 🤔

![explorer](https://cloud.gith

[2017-04-11 16:32] alexandrudima commented on #23540
This has not been fixed with the fix for #23441 :|

[2017-04-11 16:40] weinand commented on #24482
Aha, I see that you are doing extension development and you are using Electron's builtin node.js.

We have upgraded the Electron used in Insiders and that seems to have changed. So it looks like the node.js built into Electron now has the same "reject" behaviour as the regular node.js.

[2017-04-11 16:44] chrmarti opened #24538 "Add extension recommendations for Vue.js"
Test tour #23385

[2017-04-11 16:45] ezolenko commented on #24298
No, I was getting dumped directly into the wrong file, on first attach/hit bp, on reconnect/hit bp, and on continue/re-hitting bp (because loop returns there).

The stacktrace and variables in debugger sidebar are always seemingly correct.

I only tried attaching though, since there is no good way to do launch from debugger in my case.

Can't test with inspector because electron doesn't support it

[2017-04-11 16:46] dicroce opened #24539 "Binding a task to a keyboard shortcut."
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 4.9.6-200.fc25.x86_64
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.10.4|;

The method described in the documentation for binding a keyboard short to a custom task no longer works.

---

Steps to Reproduce:

1.
2.

[2017-04-11 16:46] glennsarti commented on #7570
I also have the same issue.  Repro information
Procmon shows code.exe is running, it's accessing a lot of networking reg keys and files.
[code]

[2017-04-11 16:49] alexandrudima commented on #24414
I will push a change that improves the contrast for warnings and errors on the high contrast theme:

![image](https://cloud.githubusercontent.com/assets/5047891/24920460/910d0446-1ee7-11e7-9413-691df03ea050.png)

[2017-04-11 16:50] cdaringe commented on #23976
@cvillerm, agreed.  i figured that's why they have (had?) the "allowLargeRepository" feature.
 VSCode was traditionally able to grok it my large parent project.  that is, i have a `.git` dir in `~/`. it is very restrictive about what files to track.

**confirmed**, per @chrmarti & @cvillerm, the issue seems to pertain to a local vs ancestral `.git` dir.

[2017-04-11 16:52] vincaslt commented on #2915
+1

[2017-04-11 16:53] fmorriso commented on #24065
I went through and added the necessary three back ticks plus optional html or C# so some of the code samples that were in my "used to be a .txt now it is a .md " file and now it's rendering reasonably quickly, so I consider this issue closed.

[2017-04-11 16:53] #24065 closed

[2017-04-11 16:54] #24414 closed

[2017-04-11 16:56] alexandrudima commented on #24057
Yes, we render chords in a special format (in parens) because Electron menus cannot show chords. Let's track that in #24361

[2017-04-11 16:58] alexandrudima commented on #24522
To clarify: are you doing this:

![define](https://cloud.githubusercontent.com/assets/5047891/24920784/c83435ec-1ee8-11e7-83d5-ad5d74fc01f5.gif)

[2017-04-11 16:59] alexandrudima commented on #24522
You can now also do this:

![define2](https://cloud.githubusercontent.com/assets/5047891/24920829/f792dd7a-1ee8-11e7-83b0-171c4493d261.gif)

[2017-04-11 17:01] alexandrudima commented on #7422
This works for me. Alt+Enter adds a cursor to all of the found matches:

![alt-enter](https://cloud.githubusercontent.com/assets/5047891/24920903/43478e78-1ee9-11e7-81e3-bcabfec6aa82.gif)

[2017-04-11 17:01] #7422 closed

[2017-04-11 17:03] dotnetengineers commented on #24277
The problem seems to resolve if all blank lines and comments are removed from the TS file.

[2017-04-11 17:05] ramya-rao-a commented on #24497
You mean that you get the item from the suggestion list instead of emmet expansion?

[2017-04-11 17:06] shanalikhan opened #24540 "How to insert the setting key for arrays and object through API"
Hello,

Following are the two cases:
[code]
How i can **get** and  **add** the key `editor.insertSpaces` In [GO] Section and add new text in array for `"vscode_custom_css.imports`

Following is the current code.
[code]

[2017-04-11 17:07] alexandrudima commented on #15308
workaround: make a selection, press `alt+shift+i` (Create Multiple Cursors from Selected Lines or in the menu Add Cursors to Line Ends)

[2017-04-11 17:07] #15380 closed

[2017-04-11 17:09] shanalikhan opened #24541 "How to format the JSON file through API and save it."
Is there a code api that takes File path and format to its language like `json` and then save it or return the format text so we can save that file after formatting ?
The vscode should check if its possible through any extension or itself, it should do it.

[2017-04-11 17:15] #22441 closed

[2017-04-11 17:19] shanalikhan commented on #11247
I am also waiting for this feature as i want to open the summary page to open in the background so user who is working on other tab should not get disturbed and through API i can add text on that other tab in the background.

When user switch to that api he should see the extension summary.

Extension - code-settings-sync !

[2017-04-11 17:25] alexandrudima commented on #16871
I've reduced the border width from 2px to 1px:

![image](https://cloud.githubusercontent.com/assets/5047891/24921835/7c332104-1eec-11e7-89ce-0a310c9dadfe.png)

[2017-04-11 17:26] #16871 closed

[2017-04-11 17:30] erenhatirnaz commented on #2915
+1
I have the same issue with twig.

[2017-04-11 17:32] Sgtpanda commented on #24529
Also getting this issue, it appears to be related to the new way of checking KeyBoardEvent.code, worse still it's not just navigating the text that doesn't work, using the arrow keys on code completion suggestions doesn't work properly either, the 'Delete' key also seems not to work.

I'm on X11 over SHH, not sure if that could be part of the problem.
As a workaround setting "keyboard.dispatch": "

[2017-04-11 17:41] jcludwig opened #24542 "Feature: The ability to provide a workspace relative path to Recommended Workspace Extensions"
Our team has private extensions that are designed to work in our particular workspace (build commands, testing, etc.). The extensions are checked into source control in the workspace, not published to the store. It would be nice if I could get these to show up in Recommended Workspace Extensions. Seems simple enough to detect if the extension name is a workspace relative path to a vsix file.

[2017-04-11 17:42] rebornix commented on #3518
@dalyIsaac do you mind sharing what platform and version you are using and a gif can help me understand what's going on, thanks!

[2017-04-11 17:45] OliverJAsh commented on #20874
This behaviour occurs regardless of whether one is using spread or not:

[code]

Comment the `id` prop and you will get `{/*id={1}*/}`.

[2017-04-11 17:46] OliverJAsh commented on #23071
I'm not sure this is a dupe of #20874 as the bug occurs regardless of whether one is using spread or not.

[2017-04-11 17:50] rebornix commented on #24302
@smallp may I ask if the `editor.dragAndDrop` is set to `true` and do you mind providing a gif to help troubleshoot?

[2017-04-11 17:52] rebornix commented on #24000
@mistajay do you mean the drag and drop feature doesn't work at all? Is `editor.dragAndDrop` set to `true`?

[2017-04-11 17:54] cvillerm commented on #23976
@cdaringe , that being said, I am wondering why, in case VSCode uses a `.git` in a parent folder (what can be ok with some kind of parent/child projects/folders structure), the list of files reported to be updated isn't restricted to files under the project folder only. This is what is making this list very large, even in case all files are up to date with GIT in the current project folder.

[2017-04-11 17:56] stozk commented on #14716
How do you set that flag as a default, for example when opening folders from the context menu in the explorer?

[2017-04-11 17:57] rebornix commented on #21145
@Tekbr that's actually another feature request, thanks!

[2017-04-11 17:57] jacobdufault commented on #24480
#22882 seems unrelated? That issue is about center positioning, this is about goto def while inside the def not working.

[2017-04-11 18:02] rebornix commented on #13385
It's a good extension candidate and you can follow https://medium.com/hack-visual-studio-code/toggle-any-setting-in-vs-code-using-keyboard-shortcut-arguments-cdb5ddc56955 to get your preferred extension to archive that.

[2017-04-11 18:02] rebornix commented on #16174
It's a good extension candidate and you can follow https://medium.com/hack-visual-studio-code/toggle-any-setting-in-vs-code-using-keyboard-shortcut-arguments-cdb5ddc56955 to get your preferred extension to archive that.

[2017-04-11 18:02] rebornix commented on #17421
It's a good extension candidate and you can follow https://medium.com/hack-visual-studio-code/toggle-any-setting-in-vs-code-using-keyboard-shortcut-arguments-cdb5ddc56955 to get your preferred extension to archive that.

[2017-04-11 18:02] zhengbli commented on #12637
No improvement in the latest insider build. Still have to reside the window every now and then to get around it.

[2017-04-11 18:03] rebornix commented on #20176
It's a good extension candidate and you can follow https://medium.com/hack-visual-studio-code/toggle-any-setting-in-vs-code-using-keyboard-shortcut-arguments-cdb5ddc56955 to get your preferred extension to archive that.

[2017-04-11 18:03] mjbvz commented on #23071
Yes, #20874 is not specific to using a spread. I've updated that bug's title to make this clear

[2017-04-11 18:03] rebornix commented on #20024
It's a good extension candidate and you can use [Settings Cycler](https://marketplace.visualstudio.com/items?itemName=hoovercj.vscode-settings-cycler) or follow https://medium.com/hack-visual-studio-code/toggle-any-setting-in-vs-code-using-keyboard-shortcut-arguments-cdb5ddc56955 to get your preferred extension to archive that.

[2017-04-11 18:04] rebornix commented on #1046
@langdonx it's a valid feature request, do you want to create an issue for me?

[2017-04-11 18:07] #5745 closed

[2017-04-11 18:08] alha02 opened #24543 "auto-select on workbench.action.openNextRecentlyUsedEditorInGroup"
Is it possible to send an argument or make a setting so that using the named function always selects the first match without confirm?

I want to rebind to another key than Ctrl-tab (leader + key in VSCodeVim to be specific), and when I do it seems that I have to confirm the switch with Enter whenever I use it.

[2017-04-11 18:09] initiumSrc commented on #24529
Similar issue here, ESC and CAPS is swapped in my X11 config. After updating to version 1.11.1 the ESC and CAPS are not swapped in the editor but swapped on my system.

The workaround submitted by @Sgtpanda fixes this, but the behaviour is unexpected and confusing.

[2017-04-11 18:12] mjbvz commented on #24503
This sounds like a duplicate of #23962. You should still be able to manually trigger suggestions. To restore the previous behavior, see [this comment](https://github.com/Microsoft/vscode/issues/23962#issuecomment-292079416) for a possible workaround

[2017-04-11 18:12] #24503 closed

[2017-04-11 18:16] gregvanl commented on #22051
Yep, that just occurred to me. I've published two workarounds in the release notes since the 1.11 release. That said, we usually have a recovery build (or two) when we could update the release notes.

[2017-04-11 18:21] mistajay commented on #24000
@rebornix I'm dumb, the option was set to `false`.  Changing it to `true` in user settings made it work, and the `Option` key copies selected text like it is supposed to for me now.

[2017-04-11 18:22] rebornix commented on #24000
@mistajay I'll say our discoverability is not that good :)

@mika76 can you provide a gif for me to troubleshoot.

[2017-04-11 18:33] CoenraadS commented on #13612
Sorry for double comment, but I found using "--disable-gpu" makes scrolling super smooth again for me.

[2017-04-11 18:37] gperdomor commented on #24368
@chrmarti My idea consist in save inside `.vscode` the enabled or required extensions for that particular project, something like whitelist, so, i can share this file in a repository, or simple open the project to other computer and .vscode enabled or disabled the extensions based on that configuration.

[2017-04-11 18:37] aliva commented on #20176
good enough for me :+1:

[2017-04-11 18:39] svipben opened #24544 "CSS formatting"
Hello,

What are you thinking about CSS formatting? VS Code right now format HTML, JS, TS, JSON, but what about CSS? Any future plans to add CSS formatting? I know we have plugin for that, but it will be cool to have built-in CSS formatting.

[2017-04-11 18:44] rebornix commented on #22995
Re https://github.com/Microsoft/vscode/issues/22279, run into this issue while following the guidance of the project.

[2017-04-11 18:47] brucejo75 commented on #22818
Hi @weinand, @roblourens, any update on this?  Thanks!

[2017-04-11 18:48] rebornix opened #24545 "Cannot click process picker in compound mode"
Re https://github.com/Microsoft/vscode/issues/22279

When we try to debug both the client and server code of mean stack, we set up a compound launch task.

For server side code, we use `"processId": "${command.PickProcess}",` to help find the process. Once we hit F5, we see the Process Picker and before we choose the process, the debugger instance for client code launches and Process Picker dismis

[2017-04-11 18:51] chrmarti commented on #24368
You can have recommended extensions in your workspace: https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommended-extensions

You will be prompted to install these when you open the workspace. You would then still have to manually disable extensions you do not want to run in that workspace.

[2017-04-11 18:55] mjbvz commented on #22995
@rebornix Can we try debugging through the issue on your machine this afternoon?

[2017-04-11 18:56] gperdomor commented on #24368
Ok. thanks :D...

[2017-04-11 18:56] #24368 closed

[2017-04-11 19:15] mika76 commented on #24000
Hi @rebornix

Here it is. Funny enough the release notes now Say `option` when before they said `unassigned` (even after restrating vscode a couple of times), but the copy drag still does not work.

In the following gif I do drag-move once to the bottom, then again to the top, and then I try with holding the `option` key and it just keeps selecting the text.

![vscode_copy_drag](https://cloud.gith

[2017-04-11 19:20] adams-sarah opened #24546 "ubuntu: copy text freezes vscode"
- VSCode Version: 1.11.1
- OS Version: Ubuntu 14.04

Steps to Reproduce:

1. Select text
2. Copy

VSCode completely freezes. Cannot recover.

[2017-04-11 19:21] mika76 commented on #24000
Hah I see why the `option` key shows now: https://github.com/Microsoft/vscode-docs/commit/380fe679cce9f12c73888cb12f7999b2203a4b73

A bit of smoke 'n mirrors 🤣

[2017-04-11 19:23] elirnm commented on #24024
Here's the file I'm having problems with. If I copy a small number of urls into another file, they highlight fine (after a brief but noticeable delay), so it's not an issue with recognizing the links.

[urls.txt](https://github.com/Microsoft/vscode/files/914435/urls.txt)

[2017-04-11 19:33] langdonx opened #24547 "Cursor (with copy indication) only changes on mouse move"
- VSCode Version: 1.11.1
- OS Version: Windows 10

Steps to Reproduce:

1. Select text in an editor tab
2. Click and drag text, but don't drop it
3. Hold the mouse still
4. Press and release the CTRL key a lot -- the cursor should change.

In VS 20xx, while dragging text you can press and release CTRL to affect the mouse cursor.  My typical workflow is, 1) select text, 2) drag text, 3) hold contro

[2017-04-11 19:33] langdonx commented on #1046
Cross reference https://github.com/Microsoft/vscode/issues/24547

[2017-04-11 19:39] cleidigh commented on #24119
@joaomoreno
bit of an update
- have done a lot of work analyzing the list in action bar code
- almost have a proof of concept done showing some changes for the extension 's viewlet
- I think this will help drive the conversation
- it's mostly about tabindex but other navigation keys sometimes also
- I hope to push some code up to my repository for demo and conversation maybe tomorrow

[2017-04-11 19:49] mjbvz opened #24548 "Move TS Feature API Gating Into Providers Themselves"
**Bug**
Currently, some TS features are registered on activate only if the TSServer version meet a certain set of requirements.  Now that the TypeScript service can be restarted, this may cause features to be incorrectly enabled / disabled if the TypeScript version changes

[2017-04-11 19:54] Spareo commented on #24473
@joaomoreno I just tried the insider build and got the same issue after launching from terminal with `code-insiders .`

[2017-04-11 20:02] michelkaporin commented on #24411
@StephenBloomquist Great! I am glad you raised this bug, I will correct error handling around exception widget for this case.

[2017-04-11 20:10] mjbvz commented on #23895
Closing since we've complete the test tour. We've already opened a few issues to track discovered bugs and for a few feature requests, and feel free to open additional ones to track findings of this test tour

[2017-04-11 20:10] #23895 closed

[2017-04-11 20:16] scotmeiste opened #24549 "Receive warning about path when opening code"
- VSCode Version:
1.11.1

- OS Version:
Windows 10 64bit

Steps to Reproduce:

1. Open VS Code.
2. Wait a few seconds.
3. (Screenshot attached) Warning message appears: "Warn the path C:\Users\<user name>\AppData\Roaming"

Doesn't appear to be a full warning message. There's no indication to what the actual issue might be. Googling this issue and searching on Stack Overflow yielded no results

![i

[2017-04-11 20:32] tanweershahzaad commented on #18246
Hi It would be nice if renderWhitespace has one more option which would be intermediate option of the two 'boundary' and 'all'. what this will do that it will show only render whitespaces which are not at the boundary cases(i.e don't show whitespaces at the beginning of line too)

[2017-04-11 20:39] buckyster commented on #5745
I'm keeping Atom around solely just to edit markdown files :(

[2017-04-11 20:46] JeffAgostino opened #24551 "[html] Add Surround With"
#18246
There's a feature that I miss in VS Code.
This feature is "Surround With". It help when I need to add a parent tag for a element block.

- VSCode Version: 1.11.1
- OS Version: Windows 10 Pro

[2017-04-11 20:53] rebornix commented on #23944
@chrmarti already provided the answer.

[2017-04-11 20:53] #23944 closed

[2017-04-11 20:54] lgelfan commented on #5605
Probably one of the very few who moved from BBEdit to VS Code, this is one of the features I miss. For reference, BBEdit shows the method you are in that also functions as a drop down (similar to Ctrl/Cmd+Shift+O). I like this non-intrusive feedback that can be persistent.

<img width="337" alt="screenshot_289" src="https://cloud.githubusercontent.com/assets/222257/24930409/68325004-1ed7-11e7-9e0f

[2017-04-11 21:11] renanpdp commented on #178
+1

[2017-04-11 21:16] RichiCoder1 commented on #6328
This also is increasingly applying to Aurelia too. Very similar structure to Angular 2+. Added (configurable) file nesting would cut a full expanded `src` folder w/ collapsed children on one of our average projects by about a 2/3rds in length.

[2017-04-11 21:19] aluanhaddad commented on #6328
@RichiCoder1 yes indeed and, thankfully, Aurelia uses logical, non-redundant naming conventions :)
Have you checked out the aurelia vscode extension and its [Command-Open-Related-File](https://github.com/aurelia/vscode-extension/wiki/Command-Open-Related-File) command. Not really related to nesting but it is very useful.

[2017-04-11 21:21] stbert34 commented on #7426
@Spike81 thx worked for me with only the 2 firsts commands
sudo chown -R $USER:admin ~/Library/Caches/com.microsoft.VSCode
sudo chown -R $USER:admin ~/Library/Caches/com.microsoft.VSCode.ShipIt

[2017-04-11 21:24] sean-mcmanus commented on #24358
@chrmarti Can you reopen this issue? This appears to be a bug with VS Code itself. We call the method vscode.Uri.parse("untitled:" + fullPathToFile); where fullPathToFile has the #, but the result has the # stripped. We need some way to create a new file with # on the path. Using vscode.Uri.file doesn't seem to work.

[2017-04-11 21:26] davidstoneham commented on #14716
Not sure if that is possible. Only works if you open VSCode with the target set, then open the project. This is only seems to be a  workaround for the time being.

[2017-04-11 21:31] andy-ms opened #24552 "Less-than (<) and greater-than (>) symbols escaped to &lt; and &gt; in find output"
- VSCode Version: 1.12.0-Insider
- OS Version: Linux Mint 18

Steps to Reproduce:

1. Ctrl-Shift-F to open find-all
2. Search for `<` or `>`.
3. In the results below, it is escaped to `&lt;` or `&gt;`.

This does *not* happen in VSCode 1.11.1.

[2017-04-11 21:33] hoovercj commented on #20024
Thanks for the shout-out, @rebornix!

Neat optimization adding the settings as arguments to the command directly, I hadn't thought of that.

Quick question though...Any reason that toggle and Settings Cycler shouldn't be the same extension?I n the end the main purpose is the same, and I can see both being useful for different situations.

I could patch it in myself, but it would feel less like ste

[2017-04-11 21:40] langdonx opened #24553 "Dragged selections can only be dropped 1 character away from their origin"
- VSCode Version: 1.11.1
- OS Version: Windows 10

Steps to Reproduce:

1. Make a selection
2. Attempt to drag and drop that selection beside itself (to essentially duplicate it, same as CTRL+C, CTRL+V)

GIF demoing workflow:

![drag and drop](https://cloud.githubusercontent.com/assets/441982/24932069/e8adc014-1edd-11e7-9caa-07817c4dcb05.gif)

[2017-04-11 21:46] ipatalas commented on #23814
Worked like a charm :) Thanks for help again! 👍

[2017-04-11 21:46] #24482 closed

[2017-04-11 21:51] rebornix commented on #24547
It's not a good idea to take it as feature request as it should be the expected behavior.

[2017-04-11 21:52] mjbvz commented on #17156
During last month's TS performance investigation, we tracked down many cases of these zombie processes to this TS file watcher bug: https://github.com/Microsoft/TypeScript/issues/14636 One possible workaround is to make sure that all of your `jsconfig` and `tsconfig` files specify an `include` configuration to limit the number of files that TypeScript scans. TS is looking into a fix with the next

[2017-04-11 21:52] #17156 closed

[2017-04-11 21:53] #24547 closed

[2017-04-11 21:55] chrmarti commented on #24358
@sean-mcmanus Since # is a special character in a URI, it needs to be encoded as `%23` for parsing:
[code]
Or alternatively, because # is not a special character in paths:
[code]

[2017-04-11 21:57] weinand commented on #24482
In tomorrows Insiders build rejects should no longer break.

[2017-04-11 21:59] rebornix commented on #20024
@hoovercj sure, it sounds good to me. My whole point of writing that extension is showing users/extension authors about how to leverage keyboard shortcut `arguments` and you are totally correct, we should make them a single one.

It would be awesome if you can do the patching as I don't know what kind of tweaks to your existing functionality you would like. Once you do the patching, I'll update my

[2017-04-11 22:02] ivan-section-io commented on #18837
I find myself in a similar situation with "Open Folder".
When opening a linked folder directly, it's dereferenced - causing problems for tools needing the original paths for files to operate on.
But if I "Open Folder" the link's parent folder, it appears to not dereference file paths in the folder.

My workaround at the moment: create an extra empty folder to act as the "Folder Open" target and pa

[2017-04-11 22:15] rhummer commented on #18837
I'd vote for a non-default configuration setting.  I'm in a similar situation as ivan, but our linked folder is at the top level so it's not really feasible to use his workaround, and the folders I have vscode setup for are several layers deep. So my work around is to keep that entire folder on the 'correct' drive.

[2017-04-11 22:15] Leedehai commented on #24488
Turned out it is the problem of another C++ plugin.. I uninstalled it but did not reopen VSCode, so that plugin's ghost keeps haunting me.
Problem solved reopenning VSCode.

[2017-04-11 22:16] sean-mcmanus commented on #24358
Okay, thanks. The .with technique doesn't work (result is an undefined document after openTextDocument), but escaping with %23 works (I had tried escaping previously but I pre-maturely thought it wasn't working because it was erroring due to another section of code I needed to change.

[2017-04-11 22:16] #3613 closed

[2017-04-11 22:43] mjbvz commented on #17079
@basickarl Are you still running into this issue with the latest VSCode release?

If you are, please try collecting the TypeScript server log:

1. In VSCode 1.11, add a setting`"typescript.tsserver.log": "verbose"`
2. Reload VSCode and reproduce the issue
3. Run the `Open TS Server Log file command`
4. Share the output from there.

TypeScript powers both our JavaScript and TypeScript language feat

[2017-04-11 22:43] jmbelloteau commented on #13680
@MartinZubek same here, VScode is amazing, much more than Atom.
I love the speed the integrated terminal the UX and the possibility to use git.
Just need to be able to use remote SSH connection for GIT with password for security... make sens nope?

[2017-04-11 23:09] #15214 closed

[2017-04-11 23:17] mjbvz commented on #15214
8ef9c4b should address the release notes being reloaded when they are already showing. Switching away from a webview and then back to it does still require a reload. This currently by-design. I'm investigating a way to preserve scroll position even in these cases with #22995

[2017-04-11 23:24] #24409 closed

[2017-04-11 23:27] mjbvz commented on #17480
It is not possible to specify separate default configs for loose js vs ts files. Without a tsconfig or jsconfig, JS and TS files are loaded into to the same implicit project which shares our default config. This is by-design

As noted in the original issue, if you run into this problem while working in a TypeScript project, just create a `tsconfig`. This will override the default `allowSyntheticDe

[2017-04-11 23:27] #17480 closed

[2017-04-11 23:38] JoshuaNovak919 opened #24554 "Only one window reopens when opening VSCode"
When you have more than one window open and you quit reopen VSCode only one window reopens.

- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T14:00:34.044Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|erb|CraigMaslowski|0.0.1|
|material-icon-theme|PKief|2.0.3|
|auto-close-tag|formulahendry|0.3.10|
|Ruby|rebornix|0.10.4

[2017-04-11 23:39] mjbvz commented on #13454
In VSCode 1.11, we disabled redirection inside of the html preview entirely. Using the example extension, you should now see a message: `prevented webview navigation` in the developer console. This was done for security reasons

If you need this functionality, @jrieken's example using an iframe looks to be the best approach

[2017-04-11 23:39] #13454 closed

[2017-04-11 23:45] roblourens commented on #23257
Hopefully fixed by https://github.com/Microsoft/vscode-chrome-debug-core/pull/199

[2017-04-11 23:45] #23257 closed

[2017-04-11 23:47] MTBandolier commented on #21688
I'm seeing similar behavior with the March release (1.11.1).  For me, the node process doesn't crash, but the status bar flickers from blue to orange (debugging mode) and then back to blue.  The debug console shows:
[code]
If I roll back to the January release (1.9.1), I'm able to attach, and there is no output in the debug console.

[2017-04-11 23:48] mjbvz commented on #22682
Thanks. This issue is being tracked upstream here: https://github.com/Microsoft/TypeScript/issues/6252

[2017-04-11 23:48] #22682 closed

[2017-04-11 23:52] mjbvz commented on #19439
The change file location refactoring required to implement this is tracked by https://github.com/Microsoft/TypeScript/issues/6487

[2017-04-11 23:59] brightghost commented on #1896
Wow. In my case, this issue is almost entirely resolved by changing the 'Primary display' per @keathmilligan 's suggestion  (https://github.com/Microsoft/vscode/issues/1896#issuecomment-282347176). My external display is not 4K, I think it's what they are calling 2K, and the laptop has a similar resolution but higher density. No scaling settings were able to get clear text in VS Code on the extern

[2017-04-12 00:00] mjbvz commented on #17796
Adding @jrieken since he looked into improving suggestion ordering with #22153. As far as I can tell, the TypeScript extension does provide correctly ordered results in many of these cases, but once filtering kicks in, we sometimes end up showing items that were originally weighted lower first in the list

I believe that @bpasero has also been investigating improving file quick open filtering with

[2017-04-12 00:04] mjbvz commented on #4072
This is something that the TypeScript team is currently investigating: https://github.com/Microsoft/TypeScript/issues/14662

Closing as upstream

[2017-04-12 00:04] #4072 closed

[2017-04-12 00:06] mjbvz commented on #20523
This is a duplicate of #2766

[2017-04-12 00:06] #20523 closed

[2017-04-12 00:06] atian25 commented on #3518
Guess:
- maybe vscode is copy as HTML format
- keynote only support RTF format
- word/mail support both

![untitled](https://cloud.githubusercontent.com/assets/227713/24935794/c5c57a6e-1f56-11e7-9198-d78049af1adb.gif)

[2017-04-12 00:09] wbercx commented on #23975
Alright, that makes more sense. Thanks for clarifying!

[2017-04-12 00:11] sean-mcmanus opened #24555 "Unhandled exception occurs in findGit when extension debugging with the Insiders build"
- VSCode Version: 1.12.0-Insiders
- OS Version: All

Steps to Reproduce:

1. Debug some VS Code extension (we use our cpptools).

Bug: It always breaks into the debugger with an unhandled exception.

![image](https://cloud.githubusercontent.com/assets/19859882/24935898/d4917804-1ed9-11e7-995f-5af287cf2db6.png)

[2017-04-12 00:37] nitrologic opened #24556 "Output pane silently truncates start of C++ build error output"
- VSCode Version: 1.11.1
- OS Version: Ubuntu 64

Steps to Reproduce:

1. create an error in your c++, leave out a squiggly bracket say
2. once the build has generated 19849 lines note note how it silently truncates from the start (not the end) and does not bring up a warning or help me make the plainly inadequate OUTPUT window buffer bigger

[2017-04-12 00:43] rebornix opened #24557 "unconfirmed text of CJK IME collapse to one character"
This problem is introduced by Electron 1.6.x, it's the same issue as https://github.com/Microsoft/monaco-editor/issues/320, but we didn't fix all the problems via https://github.com/Microsoft/vscode/commit/eb08a8df708e7b0947bb122c8e6e8b102187c484 but that fix targets v55 but Electron 1.6.x ships with Chrome v56.

![cjk](https://cloud.githubusercontent.com/assets/876920/24936428/107ebe18-1ede-11e7-

[2017-04-12 00:46] rebornix commented on #24557
Verifiers: Please test against Vim extension and make sure CJK IME can still work in both Vim's Normal Mode and Insert Mode.

[2017-04-12 00:51] mjbvz commented on #11851
With #22916, we are exploring allowing the markdown preview to be extended. I've created a prototype markdown preview extension that adds support for rendering mermaid diagrams: https://github.com/mjbvz/vscode-markdown-mermaid

The other part of this would be syntax highlighting of the mermaid fenced code block itself in the editor. This is possible using a grammar injection. I've created another

[2017-04-12 00:51] #11851 closed

[2017-04-12 01:00] mjbvz commented on #24285
The issue is unclear to me. Is it that when triggering suggestions inside of the `opts` object, you don't see any helpful suggestions for the type, but for `opts.|` you do?

I'm able to get either case working properly. Do I need to install the vue extension?

[2017-04-12 01:03] mjbvz commented on #15428
Closing as we need more info to investigate this.

@pocesar, if you are still seeing this in VSCode 1.11, please provide the TypeScript server trace so that we can try to track down what the root cause of this issue may be

[2017-04-12 01:03] #15428 closed

[2017-04-12 01:08] mjbvz commented on #21787
Please try installing [this Vue extension](https://marketplace.visualstudio.com/items?itemName=octref.vetur) to see if that helps for working with vue

If you are still running into this problem, please share some example code or a small sample project so that we can investigate

Thanks

[2017-04-12 01:08] #21787 closed

[2017-04-12 01:11] mjbvz commented on #24476
@1cao2mu Is the file's language mode listed properly as `javascript react` or `typescript react`?

Can you also try collecting a trace to help us investigate:

1. Set `"typescript.tsserver.trace": "verbose",` in your user settings
2. Restart VSCode and reproduce the problem
3. Open the output pane and share the output from `TypeScript`

Thanks

[2017-04-12 01:11] liliangabc opened #24558 "集成终端显示bug"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.15063
---
Steps to Reproduce:
![20170412090601](https://cloud.githubusercontent.com/assets/12065799/24937040/71f34ce0-1f60-11e7-8f9f-d5c2613deb3c.png)
![20170412092646](https://cloud.githubusercontent.com/assets/12065799/24937286/351307be-1f62-11e7-9f2e-a479e2ea0c15

[2017-04-12 01:13] liliangabc commented on #24558
![20170412090601](https://cloud.githubusercontent.com/assets/12065799/24937005/30181418-1f60-11e7-9303-b709995c7450.png)
刚才图片上传失败了 ，重新发送了一下

[2017-04-12 01:15] mjbvz commented on #17612
For anyone seeing this issue while working with JavaScript or TypeScript, can you please try collecting a TypeScript server trace to help us track down what may be going wrong here:

1. Set `"typescript.tsserver.trace": "verbose",` in your user settings
2. Restart VSCode and reproduce the problem
3. Open the output pane and share the output from `TypeScript`

Thanks

[2017-04-12 01:23] LiTiang opened #24559 "Focus search input box by shortcut"
# VSCode Version
1.11.1

# OS Version
OS X EI Captian - 10.11.1

# Steps to Reproduce
1. just edit(or focus) some file ( `ctrl + n` )
2. use shortcut*1 to focus on **EXPLORER** first
3. then use shortcut*2 to focus on **_SEARCH_**
4. u will see u now  focus on input box in **_SEARCH_**

BUT ❗️❗️❗️

U cant focus on input box if u jump from **step 1** to **step 3** without doing **step 2**

WHY ❓❓❓

[2017-04-12 01:24] mjbvz commented on #24276
Opened https://github.com/Microsoft/TypeScript/issues/15146 to track this on the TypeScript side

[2017-04-12 01:25] #24276 closed

[2017-04-12 01:32] kms-ky-truong opened #24560 "[Feature Request] Able to cycle windows in Zen mode"
Hi,

I would like to be able to cycle windows in Zen mode.

- VSCode Version: 1.11.1
- OS Version: macOS Sierra 10.12.3

Steps to Reproduce:

1. Open two windows.
2. From one window, go to Zen mode by _Command+K Z_
3. Cannot cycle windows by _Shift+Command+Tilde_
4. Exit Zen mode, now I can cycle windows by _Shift+Command+Tilde_

Request: vscode should allow user to cycle windows in Zen mode in st

[2017-04-12 01:32] durad opened #24561 "Add selection command concatenates selections when selected terms are next to each other"
- VSCode Version: 1.11.1
- OS Version: Windows 8.1

Steps to Reproduce:

1. Click on File -> New File
2. Type the following text: `cat dog cat cat dog`
3. Select first occurrence of cat with space immediately after it (first four characters)
4. Press ctrl+d three times

Second and third occurrence of word cat will become one selection. Three occurrences of a word cat (plus space) will become only

[2017-04-12 01:52] yubei826 commented on #24558
跟我的一样，我不知道为什么，折腾了好久，还是没好。。。

[2017-04-12 02:09] StephenWeatherford opened #24562 "Arrow keys completely stopped working in Code"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:55:56.395Z)
- OS Version: Linux x64 4.4.0-72-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.59|;

---

Steps to Reproduce:

I was typing, and all of a sudden my arrow keys no longer work inside VS Code.  They work in every other application, just not Code.  I've tried:

1) Sign

[2017-04-12 02:21] johnfn commented on #217
This is a huge frustration for VSCodeVim. node-copy-paste isn't a solution; it has a number of issues. So do all the other clipboard libraries.

Please consider reopening this so we don't have to redebug the wheel.

[2017-04-12 02:24] seanzer commented on #1896
If it's only clear on your primary display, then it might be because the manifest does not specify per monitor dpi aware. Electron is gonna eventually fix it https://github.com/electron/electron/pull/8786

[2017-04-12 02:34] richarddavenport commented on #20599
Yes! I have thought about taking a stab at this in the extensions area, but I know that UI changes seem to take a while to settle in. Like the extensions icon in the activity bar for example. I love to see:

- Extensions that can be turned off/on from workspace settings
- Extensions grouped by type/category/application/framework (user choice)
- Extensions grouped by user definition i.e. Angular/Re

[2017-04-12 02:39] Jasonlhy commented on #24558
This issue looks similar to https://github.com/Microsoft/vscode/issues/24363

[2017-04-12 02:47] tkrajacic commented on #24527
I can confirm the same Problem on my Macbook. It is though still working on my Macbook Pro where the keyboard layout is set to US.

Before the latest VSC update it worked on both machines.

[2017-04-12 02:49] chaojihexiang opened #24564 "vscode中启动调试js时，总是自动打开输入窗口，还得手动点下旁边的调试控制台才可以看到输出，如何自动打开输出控制台？"
- VSCode Version:1.10.2
- OS Version:ubuntu 16.04

Steps to Reproduce:

1.f5调试一个js文件或者ts文件
2.在调试控制台查看打印的内容

[2017-04-12 02:55] spywhere opened #24565 "Certain cursor style stop blinking / animating after a while"
- VSCode Version: 1.11.1 (1.11.1) d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39
- OS Version: macOS Sierra 10.12.4 (16E195)

[Steps to Reproduce](https://youtu.be/gDSD7brYSFA)

- VSCode has run with `--disable-extensions`
- VSCode still has the following user's configurations applied

[code]

[2017-04-12 03:07] Xuerian opened #24566 "Supporting three-character hex color code shorthand in TM themes"
- VSCode Version: 1.12.0-insider
- OS Version: Windows 10

In the course of attempting to style support.function scopes in a theme, I've run into this issue:

![image](https://cloud.githubusercontent.com/assets/2985/24939444/533d41e8-1f0b-11e7-83fc-9dcc763702b7.png)

It classifies the function correctly, the tooltip even includes the defined color (#CFA), but the foreground is still #F1F2F3.

[2017-04-12 03:16] aluanhaddad commented on #17480
@mjbvz Thank you for looking into this further. Also, thank you for taking the time to explain why a fix is not possible.

[2017-04-12 03:23] vincentaudebert commented on #24380
@chrmarti
[code]

And you are right it works fine when disabling the extensions :(

[2017-04-12 03:25] vincentaudebert commented on #24380
It's fine if I don't set the new file as a Javascript file. If it helps.

[2017-04-12 03:41] bl1061702060 opened #24568 "Could not create temporary directory: 权限被拒绝"
- VSCode Version: Code 1.9.1 (f9d0c687ff2ea7aabd85fb9a43129117c0ecf519, 2017-02-08T23:31:51.320Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|output-colorizer|IBM|0.1.0|
|vscode-html-scss|P-de-Jong|0.0.42|
|html-snippets|abusaidm|0.1.0|
|vscode-caniuse|akamud|0.5.3|
|vscode-javascript-snippet-pack|akamud|0.1.5|
|vscode-theme-onedark|akamud|1.3.2|
|proje

[2017-04-12 03:41] bl1061702060 commented on #24568
Could not create temporary directory: 权限被拒绝

[2017-04-12 04:26] natebwangsut opened #24569 "[themes] theme color colorspace not matching display's colorspace"
- VSCode Version: 1.11.1 (1.11.1) (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39)
- OS Version: macOS (Macbook Pro Late 2016) 10.12.4

Backstory:

I just recently obtained a new laptop and see a different in the colour between the editors I use.

Steps to Reproduce:

1. Open vscode
2. Install "Monokai Dark Soda"
3. Choose the theme
4. Open sublime
5. Compare the colour vividity between editors

NOTE: M

[2017-04-12 04:31] scottclayton opened #24571 "Snippets No Longer Work in Comments"
Hi VSCode contributors,

I have been finding since last week's update that using a snippet in a comment doesn't produce the output of the snippet. I've only checked for JavaScript and SQL; the issue was present in both languages, so I'll assume it's something special about comments in general.

Maybe it was an intentional change in the handling of snippets, but I suspect it's a bug, so I'll submit

[2017-04-12 04:49] Deilan opened #24572 "[Feature request] Show tooltips with hints for `tsconfig.*.json` files"
Tooltips with hints are shown on hover over properties in editor for `tsconfig.json` files, but are not shown for `tsconfig.*.json` files. Use of `tsconfig.*.json` is quite common, so it is suggested to show tooltips for `tsconfig.*.json` also.

![untitled](https://cloud.githubusercontent.com/assets/4777512/24941579/312f58ea-1f54-11e7-9a45-ebed07fbffb0.png)

[2017-04-12 04:53] paulej commented on #13665
As @wesruv mentioned, I too am seeing "(deleted from disk)" in the tabs constantly, yet clicking on the tab causes it to go back to normal.

[2017-04-12 04:54] bpasero commented on #24232
No, that was not the idea.

[2017-04-12 04:57] bpasero commented on #24557
Wow, we have checks in our code for a specific chrome version? I was not aware of that, sorry.

[2017-04-12 05:00] rebornix commented on #24557
V55 and V56 have an known IME bug , which we need to workaround for Monaco,
and this version of Electron. I don't see any user reported it these two
days so not a big deal.
On Tue, Apr 11, 2017 at 21:57 Benjamin Pasero <notifications@github.com>
wrote:

[2017-04-12 05:00] bpasero commented on #24537
@paramsingh88 do you have the JS-CSS-HTML-formatter extension installed and if so in which version?

[2017-04-12 05:00] bpasero commented on #24554
`"window.reopenFolders": "all"`

[2017-04-12 05:00] #24554 closed

[2017-04-12 05:02] JoshuaNovak919 commented on #24554
Why isn't that the default? When would you not want to reopen what you have open? Makes no sense.

[2017-04-12 05:29] hamenon commented on #24511
In search we give the name of the extension the top most priority our telemetry shows that that's generally what users search based one. This is followed by the publisher name. In this case since vue matches the display name of the extension exactly and hence it shows up at the top. Pines vetur extension mentions vue only in the short description and in the tag, not the two most immediately notice

[2017-04-12 05:33] #24003 closed

[2017-04-12 05:33] chanchancl commented on #22271
Thanks :)

[2017-04-12 05:50] nitrologic commented on #23987
Hi alexandrudima
![altdrag](https://cloud.githubusercontent.com/assets/3953439/24942978/4bb0175a-1f8f-11e7-9791-cd449be1522d.png)

Plese find attached screen shot. The issue I suspect is the selection, it could be argued that word wrapped content should not be highlighted on line 9.

[2017-04-12 05:54] smallp commented on #24302
Oh, yes ,`editor.dragAndDrop` default value is `false`. After I set it to `true`, it work. But I still cannot drap to copy when I hold ALT.

I'd like to provide a git, but I don't how to make a gif in Ubuntu.

[2017-04-12 05:56] #24532 closed

[2017-04-12 05:59] LexRiver commented on #24232
I was expecting to continue editing the opened file also -)

[2017-04-12 06:11] guhuajun commented on #24568
@bl1061702060 Hey, it's just a permission denied issue. Any luck when using sudo?

[2017-04-12 06:14] guhuajun commented on #24564
https://stackoverflow.com/questions/42796887/switch-focus-between-editor-and-integrated-terminal-in-visual-studio-code/43012779

Maybe you can use keyboard shortcuts instead of clicking around.

[2017-04-12 06:15] bl1061702060 commented on #24568
I just fixed the problem by updating vs code, but I don’t know if it will come again.
在 2017年4月12日，下午2:12，guhuajun <notifications@github.com<mailto:notifications@github.com>> 写道：

@bl1061702060<https://github.com/bl1061702060> Hey, it's just a permission denied issue. Any luck when using sudo?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<htt

[2017-04-12 06:18] bpasero commented on #24483
@alexandrudima here is an update from what I see after doing more testing with the `editor.disableTranslate3d` setting. I can confirm that there is a regression in subpixel-aa when starting to scroll.

**Translate3d: ON, Scrolling: NO**
![screen shot 2017-04-12 at 08 11 04](https://cloud.githubusercontent.com/assets/900690/24943584/992e6d0c-1f57-11e7-8ffc-65ce1ae964f1.png)

**Translate3d: ON, Scro

[2017-04-12 06:21] aeschli commented on #24508
@noopole Can you attach the html content here? Also, in case you use any extensions, can you make sure the bug is not an extension by running code with
`code --disable-extensions`

[2017-04-12 06:26] amithegde opened #24574 "Implement support for syncing all settings"
Please implement a way to sync settings (Theme, Keyboard bindings, installed extensions etc.) across multiple computers without having to use 3rd party extensions or hacks.

[2017-04-12 06:35] Diablohu commented on #23993
Same issue here. Also on Creator Update

[2017-04-12 06:47] alexandrudima commented on #24483
@bpasero I don't think this is happening on all environments. e.g. it is not happening for me. What is the setup that triggers it? 125% scaling in the OS (mine is configured with 200% scaling)?

[2017-04-12 06:51] aeschli commented on #13595
Thanks for offering help. The database of properties used for the css code completions is in https://github.com/Microsoft/vscode-css-languageservice/blob/master/build/css-schema.xml which gets converted to [browser.js](https://github.com/Microsoft/vscode-css-languageservice/blob/master/src/data/browsers.js)
But manually adding data isn't the preferred way. All the underlying data is now publicly a

[2017-04-12 06:54] aeschli commented on #24515
Prerequisite for this would be language aware folding #3422

[2017-04-12 06:56] aeschli commented on #24524
@isidorn Can you attach the source code and give some ideas what you expect?

[2017-04-12 06:59] aeschli commented on #23540
Ah, now I understand how to get the small filter selection widget. :-)

[2017-04-12 07:01] bpasero commented on #24483
@alexandrudima I am running with 125% DPI but I also see this with 100% as well as 200%.

[2017-04-12 07:09] noopole commented on #24508
Sorry (or good news) today I could not reproduce the behaviour: I don't get any "HTML Language Server" section in my output. I'm a bit confused because I changed nothing in my configuration and yesterday I restarted my computer to be sure it was not due to the unstable system.

I just remember that the error occured at every click before a `super()` call in a class `constructor()` method.
My only

[2017-04-12 07:09] #24508 closed

[2017-04-12 07:10] lordchancellor commented on #24186
@alexandrudima I can see that you have the key mappings in #24153 - ping me if you need anything more from me on this! Thanks for your help.

[2017-04-12 07:13] alexandrudima commented on #24483
@bpasero Do you sign out of Windows and sign back in between changes to the scaling setting? There are numerous apps (I wouldn't be surprised if Chromium is one of them) that cannot react to changes to scaling unless you sign out of Windows. (I'm trying to find out what is the root cause of this)

[2017-04-12 07:16] alexandrudima commented on #24557
@rebornix Is Chrome 56 broken in a different way than Chrome 55?

AFAICT this change makes it that we never receive composition updates.

[2017-04-12 07:21] bpasero commented on #24483
@alexandrudima wow, you are right, subpixel-aa works in 200% after doing a windows restart. So maybe this is only an issue when the multiplier is an odd percentage?

[2017-04-12 07:27] jrieken commented on #24457
Generally agreed but we don't create a reference as part of showing a document. It's always first opening a text document and then eventually showing it in an editor

[2017-04-12 07:28] KbSimon opened #24575 "扩展主机意外终止。请重新加载窗口以恢复。"
- VSCode Version: Code 1.11.1 **[Unsupported]** (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|vscode-javascript-snippet-pack|akamud|0.1.5|
|typings-installer|benjaminromano|0.2.0|
|path-intellisense|christian-kohler|1.2.0|
|jquerysnippets|donjayamann

[2017-04-12 07:29] bingzheyuan commented on #24313
@asypost is there any way to change encoding of powershell from GBK to utf8, white might also solve the problem?
如果把你图上的当前代码页编码改成utf8能解决问题么？或者说能改么？

[2017-04-12 07:29] egamma commented on #24483
According this tweet https://twitter.com/paulcbetts/status/852050882523000832 this only affects non-integral DPIs

[2017-04-12 07:36] Talzar13 opened #24576 "Error with 'outFiles'"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.0|
|theme-chrome-devtools-dark|ivanzusko|0.0.1|
|MagicPython|magicstack|1.0.9|
|mssql|ms-mssql|0.3.0|
|csharp|ms-vscode|1.8.1|
|python|tht13|0.2.3|;

---

Steps to Reproduce:

1.

[2017-04-12 07:37] jrieken commented on #17796
Problem is like this: Suggestions can come from multiple providers that don't know each other. The consequence is that there is no way a local sort order from one provider applies globally.

Because of that we sort alphabetically when no filter text is given (the text left of the cursor). As soon as something is being typed we sort/filter completions based on how well they match against the text l

[2017-04-12 07:38] hasubasora opened #24577 "软件更新后很卡"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

|Extension|Author|Version|
|---|---|---|
|one-monokai|azemoh|0.2.4|
|vscode-great-icons|emmanuelbeziat|1.1.47|
|Theme-PastelsonDark|gerane|0.0.2|
|Theme-TwoStones|gerane|0.0.2|
|Theme-zacks|gerane|0.0.2|
|vue-snippets|hollowtree|0.1.1|
|hopscotc

[2017-04-12 07:39] jrieken commented on #17796
@zakdances Yes, it's a snippet and there is a setting to not show snippet in IntelliSense: `"editor.snippetSuggestions": "none"`

[2017-04-12 07:40] jrieken commented on #17796
I'd say this issue is a dupe of https://github.com/Microsoft/vscode/issues/16109 and https://github.com/Microsoft/vscode/issues/23643

[2017-04-12 07:43] #20420 closed

[2017-04-12 07:43] ArianeLu commented on #24483
Really said, for my device, 100% is too small and 150% is too large.
Hack it then work with 126%? LOL, That's impossible

[2017-04-12 07:44] sandy081 commented on #16349
Closing this as there are no plans in fixing this. This is also not a real scenario to occur.

[2017-04-12 07:44] #16349 closed

[2017-04-12 07:45] jrieken opened #24578 "--prof-startup is broken"
* run `code-insider --prof-start`
* 💥 it crashes

[2017-04-12 07:47] sandy081 commented on #16489
Closing this as there are no plans in fixing this. Empty lines are needed for collapsible regions to work. Please reopen if it needs to be fixed.

[2017-04-12 07:47] #16489 closed

[2017-04-12 07:48] isidorn commented on #24524
When I am editing HTML like code I would expect all the nice support I have in real HTML, for instance:
* All the nice HTML suggestions we have. Example: when typing `<`
* Auto indenting / deindent - example: when adding a </div> in html it automatically gets de-indented
* Highlighting matching tags

Here's the source code,

[code]

[2017-04-12 07:50] Hypnoes commented on #24313
@bingzheyuan ```chcp 65001``` This cmd-let can change code page to utf-8. But I don't think it can make things better.

[2017-04-12 07:50] jrieken commented on #24577
Sorry, we don't have a crystal ball and don't know what you have meant by this issue. Please update the issue with steps to reproduce and we will reopen it.

[2017-04-12 07:50] #24577 closed

[2017-04-12 07:50] jrieken commented on #24575
Sorry, we don't have a crystal ball and don't know what you have meant by this issue. Please update the issue with steps to reproduce and we will reopen it.

[2017-04-12 07:50] #24575 closed

[2017-04-12 07:53] yalokin opened #24579 "Hotkeys do not work"
If I start with the Russian language, hotkeys do not work
- VSCode Version: 1.11.1
- OS Version: ubuntu 16.04

Steps to Reproduce:

1. To switch language in system to Russian
2. Start VS Code
3. To try hotkeys, for example ctrl+n
4. To switch language in system to English
5. To try hotkeys, for example ctrl+n

[2017-04-12 07:55] KbSimon commented on #24575
extensionHost.ts:323Extension host terminated unexpectedly. Code: 3 Signal: null
extensionHost。ts:323

[2017-04-12 07:55] jrieken commented on #24571
Yes, we intentionally turned off 24x7 suggestions inside comments and strings. For a details see: https://code.visualstudio.com/updates/v1_11#_intellisense-in-comments.

24x7 suggestions means, suggestions showing up as you type. Especially in comments many people disliked this, so we added a setting which is off by default. Note that you can always manually request completions via ctrl+space. The

[2017-04-12 07:55] #24571 closed

[2017-04-12 07:58] jrieken commented on #24564
@chaojihexiang Please file this issue in English

[2017-04-12 07:58] alexandrudima commented on #24483
@ArianeLu We will look into a solution. My favorite resolution would be to disable our usage of translate3d only in the cases where this issue is hit (i.e. not for folks running at 100% or 200%) due to the scrolling performance implications.

[2017-04-12 08:00] aeschli commented on #24495
verified by @bpasero

[2017-04-12 08:02] basickarl commented on #17079
@mjbvz I'll have a look into it!

[2017-04-12 08:03] isidorn commented on #24560
Hi,

This is a native behavior of the mac os.
Put one chrome window in full screen, and another in regular. Try to cycle them using `Shift+Command+Tilde` -> does not work.

We can not do anything about this behavior thus I am closing this issue

[2017-04-12 08:03] #24560 closed

[2017-04-12 08:03] fbnlsr commented on #24395
I'd like to piggyback on that feature-request with this:

- Always draw the minimap's screen view position
- Add a keybind command to toggle it on/off

[2017-04-12 08:04] isidorn commented on #24277
@dotnetengineers that seems highly unlikely

[2017-04-12 08:04] jrieken commented on #24549
@scotmeiste Please try against without extension enabled, e.g `code --disable-extensions`. My guess is that this messages comes from one of your extensions

[2017-04-12 08:06] isidorn commented on #24298
It is strange that you always get the wrong file, even on the very first debug start when we have no stale internal modules. If that is true than I think it is not a duplicate @weinand

[2017-04-12 08:06] jrieken commented on #24541
Install of there extensions: https://marketplace.visualstudio.com/search?term=css%20formatter&target=VSCode&category=All%20categories&sortBy=Relevance

[2017-04-12 08:06] #24541 closed

[2017-04-12 08:07] lifez commented on #24217
@bpasero What do you want to do on this issue ?

[2017-04-12 08:14] alexandrudima commented on #24529
@dmitsh @Sgtpanda Duplicate of #24107 -- the latest insiders release contains a fix, would you mind validating?
@initiumSrc Duplicate of #23991 - the only workaround for now is to use `"keyboard.dispatch": "keyCode"`.

[2017-04-12 08:14] #24529 closed

[2017-04-12 08:15] alexandrudima commented on #24535
Duplicate of #24057. A fix is available in the latest Insiders Release.

[2017-04-12 08:15] #24535 closed

[2017-04-12 08:15] aeschli commented on #24569
See also https://github.com/Microsoft/vscode/issues/9629

[2017-04-12 08:15] weinand commented on #24576
VS Code seems to pick the wrong debugger: the errors you are seeing come from Node.js which doesn't make sense in your case because you want to debug python.
I tried to reproduce the problem but I only installed the python extension (by donjayamanne). I created a hello.py file with `print("HI there!")` and while this was open in the editor I pressed F5. This started python debugging for me.

Do yo

[2017-04-12 08:15] lifez commented on #22772
@Tyriar Can i take this ?. Could you guide me a little

[2017-04-12 08:16] alexandrudima commented on #24562
Duplicate of #24107 -- the latest insiders release contains a fix, would you mind validating?

[2017-04-12 08:16] #24562 closed

[2017-04-12 08:17] dbaeumer commented on #24146
@isidorn can you please verify.

[2017-04-12 08:18] jrieken commented on #24064
adding `verified`-label based on https://github.com/Microsoft/vscode/issues/24064#issuecomment-293240345

[2017-04-12 08:18] alexandrudima commented on #24565
For certain cursor blinking styles (e.g. `"editor.cursorBlinking": "expand"`) the cursor stops blinking after 10s of idle time. This is done to reduce CPU usage when VS Code is idle (i.e. increase battery life). Do you find this very annoying / a deal breaker ?

[2017-04-12 08:19] alexandrudima commented on #24579
Duplicate of #24057. The latest insiders release already contains a fix.

[2017-04-12 08:19] #24579 closed

[2017-04-12 08:20] jrieken commented on #24057
adding `verified`-label based on https://github.com/Microsoft/vscode/issues/24057#issuecomment-293308764

[2017-04-12 08:21] fbnlsr commented on #24526
Works fine here (France), must be either a DNS issue on your end or the server that was briefly unresponsive.

[2017-04-12 08:23] jrieken commented on #24107
verified by code review

[2017-04-12 08:25] jrieken commented on #24575
You seem to run a patched version of VS Code which is don't support. Please try with a fresh install

[2017-04-12 08:27] alexandrudima commented on #24566
That is because we cannot parse `#CFA` and we therefore treat it as if it would be `undefined`, falling back to the next most specific rule. @aeschli is `#CFA` something we should be able to understand per TM theme spec?

[2017-04-12 08:27] ckosmowski opened #24580 "Wrong or unnecessary translation of "Closure""
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|jshint|dbaeumer|0.10.15|
|githistory|donjayamanne|0.2.0|
|Theme-Dreamweaver|gerane|0.0.2|
|Theme-PastelsonDark|gerane|0.0.2|
|Theme-TwoStones|gerane|0.0.2|
|hopscotch|idleberg|0.1.4|
|crayon-vscode|jansenf

[2017-04-12 08:27] nico-onmap commented on #13612
Having a way to run Code with specific parameters would be a good idea (what about startup.json in ~ that would be used for command line parameters?) but I'd rather see the gpu-related problem fixed.

[2017-04-12 08:27] fbnlsr commented on #24574
That's an interesting request. I personally have all my settings saved as a couple of Gists in my Github account.

I might be wrong but if Code had to handle this by itself it'd mean that it should be able to handle some kind of authentication system to sync settings. So for instance you'd be able to directly connect your Github account and have settings saved as Gist, or Google Drive / OneDrive.

[2017-04-12 08:29] aeschli commented on #24544
duplicate of #19166

IMO we should not package it all to VSCode. We want to share the maintenance work, encourage participation & innovation and want to keep the VSCode download small.

[2017-04-12 08:29] #24544 closed

[2017-04-12 08:31] Xuerian commented on #24566
It's standard hex shorthand and Sublime Text 2/3 support it, though I certainly can't speak to the TMT spec.

See ST3:
![image](https://cloud.githubusercontent.com/assets/2985/24948615/d702bf44-1f38-11e7-9e52-9ab5f8f58fcf.png)

[2017-04-12 08:31] MAQ7 opened #24581 "The TypeScript language service died 5 times right after it got started. The service will not be restarted"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|npm-intellisense|christian-kohler|1.3.0|
|vscode-eslint|dbaeumer|1.2.8|
|vscode-npm-source|dkundel|1.0.0|
|vscode-generate-getter-setter|DSKWRK|0.4.2|
|code-runner|formulahendry|0.6.15|
|terminal|formula

[2017-04-12 08:32] loplopop commented on #24395
Speaking of drawing the position itself, I find the current way of highlighting the position quite inelegant. I think marking the position with a rectangular border with small round corners but without any highlighting inside would be a cleaner approach and then leaving it always on wouldn't be distracting. My guess is that constant display of a blob of highlight on screen isn't very clean.
Anothe

[2017-04-12 08:32] MAQ7 commented on #24005
still exists after updating to 1.11.1

[2017-04-12 08:35] aeschli commented on #24468
format selection is #21218

[2017-04-12 08:35] #24468 closed

[2017-04-12 08:36] aeschli commented on #24352
This is because `label` is in the list of tags not to be formatted.
You can change that list in the setting `"html.format.unformatted"`

[2017-04-12 08:36] #24352 closed

[2017-04-12 08:37] aeschli commented on #24322
duplicate of #22028

[2017-04-12 08:37] #24322 closed

[2017-04-12 08:37] Download commented on #21801
Suffering from this  :(

I was just really getting into VSCode because (after some getting used to it) I was loving it's multi-line editing features and was using them to edit SQL.

Now with latest release (just updated it again hoping it was solved) there is no way I can get it to work anymore in some projects.... I can't figure out why but at some point the editor just starts wrapping and there

[2017-04-12 08:44] Kureev opened #24582 "How to disable TypeScript for JS files"
Hi there,

I have `"javascript.validate.enable": false` in my config, but I still receive type suggestions (from TS?):

![img_2326-min](https://cloud.githubusercontent.com/assets/2273613/24949149/eb4d8270-1f6c-11e7-8a50-d2afe096c3c1.jpg)

- VSCode Version: 1.11.1
- OS Version: Sierra 10.12.4

**Steps to Reproduce:**

1. Disable validation
2. Open JS file
3. Hover variable / flowtype definition

**

[2017-04-12 08:45] dbaeumer commented on #24539
@dicroce how do you bind the keyboard short cut. The official method available since 1.10.x works for me

[code]

which binds ctrl+h to the dir task defined in tasks.json.

[2017-04-12 08:45] #24539 closed

[2017-04-12 08:46] isidorn commented on #24556
This is by design of the output buffer, we always truncate for performance reasons (some extensions can spam the output channel leading to bad vscode behavior).
We are truncating from the start since the last received output is the freshest and should be shown.

What solution are you proposing to improve this experience?
If there are some good ideas I can leave this as a feature request, otherwise

[2017-04-12 08:47] alexandrudima commented on #24546
@adams-sarah I could not reproduce in Ubuntu 16.04 LTS.

Does VSCode freeze when:
* copying out of a plain text file?
* copying out of an input box (like the find widget input)

Can you reproduce this with `code --disable-extensions` ?

[2017-04-12 08:47] dbaeumer commented on #24513
We decided to not implement more auto detection code inside VS Code core (why npm and not make :-)). With the new task API this can now be done in extensions and @egamma started to work on this in the npm extension for VS Code.

Will close the issue since the work in better done in extensions.

[2017-04-12 08:47] #24513 closed

[2017-04-12 08:48] toshiki-h opened #24583 ""How to contribute" page might be missing some information for a newcomer"
My environment was below:
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T14:00:34.044Z)
- OS Version: Darwin x64 16.4.0
- Node Version: v6.10.2
- Npm Version: 3.10.10
- Extensions: none
I tried to install, build, and validate vscode following "How to Contribute" page on the Wiki. However, build and validation failed because the wiki might be missing some inform

[2017-04-12 08:48] jrieken commented on #24578
couldn't reproduce anymore, saw at yesterdays meetup...

[2017-04-12 08:48] #24578 closed

[2017-04-12 08:50] jrieken commented on #24582
You have disabled validation, not the hover

[2017-04-12 08:51] jrieken commented on #24583
Are you sure followed the pre-req guide? https://github.com/Microsoft/vscode/wiki/How-to-Contribute#installing-prerequisites

[2017-04-12 08:52] toshiki-h commented on #24583
Yes, I mean this document.

[2017-04-12 08:53] #24583 closed

[2017-04-12 08:53] #23540 closed

[2017-04-12 08:54] aeschli commented on #24040
fixed by #24292

[2017-04-12 08:54] #24040 closed

[2017-04-12 08:54] Kureev commented on #24582
@jrieken If I disable hover at all, then I won't have flowtype hint

[2017-04-12 08:54] isidorn commented on #23639
Adding verified label since we have at least 2 users confirming the fix solved the issue for them

[2017-04-12 08:56] jrieken commented on #23979
Thanks for info. Closing as acknowledged. Happy Coding!

[2017-04-12 08:56] #23979 closed

[2017-04-12 09:02] Crossady commented on #24313
same issue, while after set the codepage as utf-8, the problem is gone. @bingzheyuan @Hypnoes
(while I don't know how to make powershell's codepage to be always utf-8, I have tried to edit my Registry)
![image](https://cloud.githubusercontent.com/assets/15522755/24949859/a018aae8-1fa1-11e7-973c-eaf998c622c8.png)
![image](https://cloud.githubusercontent.com/assets/15522755/24949875/a957f1a4-1fa1-11

[2017-04-12 09:07] Kureev commented on #17068
Hi there! Any updates on this thread? Can community help you somehow with it?

[2017-04-12 09:07] aeschli commented on #6435
Line number theming got added for March.
In the settings add:
[code]

[2017-04-12 09:07] #6435 closed

[2017-04-12 09:08] jrieken commented on #24582
Is it that you want to disable the builtin TypeScript/JavaScript extensions? Or only a partial disablement?

[2017-04-12 09:10] joaomoreno opened #24584 "NPE in selectBox.ts"
[code]

![image](https://cloud.githubusercontent.com/assets/22350/24950208/87c27504-1f70-11e7-8cfb-05792ed84163.png)

[2017-04-12 09:11] Crossady commented on #24313
by the way the problem happened after I got creator update.

[2017-04-12 09:11] d-kr commented on #22916
Is it possible to add language server support?

[2017-04-12 09:12] Kureev commented on #24582
As it outlined in the issue description, I want to get rid of `Specification: (unknown)` string at the bottom of the hint.

[2017-04-12 09:12] serjKim commented on #1904
+1

[2017-04-12 09:14] jrieken commented on #24540
@sandy081 I am actually not able to do this. The config service fails with an error about an invalid key, like so:

<img width="480" alt="screen shot 2017-04-12 at 11 13 38" src="https://cloud.githubusercontent.com/assets/1794099/24950390/3459ce48-1f71-11e7-8c1a-8b8be097d593.png">

What is the special thing about language overrides?

[2017-04-12 09:15] isidorn commented on #24170
Adding verified based on code review.
Now we are never showing progress for fetch operations

[2017-04-12 09:17] joaomoreno commented on #24242
This was fixed by #24371

![image](https://cloud.githubusercontent.com/assets/22350/24950501/87cf0818-1f71-11e7-9dce-c38800ee5394.png)

[2017-04-12 09:18] jrieken commented on #24582
I'd say neither because I don't find that string in our code base

[2017-04-12 09:19] #23939 closed

[2017-04-12 09:20] isidorn commented on #24580
Thank you for the feedback.
We just started having a process for users contributing to our translations. All the details about this can be found here https://github.com/Microsoft/Localization/wiki/Visual-Studio-Code-Community-Localization-Project
Can you please follow those steps and contribute to our translations?

[2017-04-12 09:21] Kureev commented on #24582
That's strange, because I just run `code . --disable-extensions` and I still see the modal with type suggestions in javascript files.

[2017-04-12 09:21] alexandrudima commented on #24483
I could reproduce. Here are the values I get (with window.zoomLevel: 0) for:

| Scaling factor | Zoom Level | Zoom Factor | Pixel Ratio |
|---|---|---|---|
| 100% | 0 | 1 | 1 |
| 125% | 0 | 1 | 1.25 |
| 150% | 0 | 1 | 1.5 |

I'm looking into disabling the usage of translate3d in the editor when the pixel ratio is not an integer.

[2017-04-12 09:23] isidorn commented on #23977
This is a larger change that touches all git operations. Adding verified after doing a code review since I can not reproduce this issue on my machine.

[2017-04-12 09:23] spywhere commented on #24565
It's not a big deal but it quite annoying as I didn't expect cursor to be that way. If there's a way to configure the idle time before it stop blinking, that'd be a good option for me (at least I could give them more time before stop blinking).

[2017-04-12 09:24] Kureev commented on #24582
Here is how it looks like:
![image](https://cloud.githubusercontent.com/assets/2273613/24950818/9210263a-1f72-11e7-8cd0-d44b28fd4b8b.png)

So seems it's a pre-built feature that I want to disable.

[2017-04-12 09:26] isidorn commented on #24580
Just read our process for the translation issues -> reopening, adding tags and assigning appropriate people.
@ckosmowski you can still contribute using transifex but in case you do not feel like it we have an alternative solution

[2017-04-12 09:28] XmlmXmlmX commented on #24321
What about private package registries @aeschli. Are they not supported as well?

[2017-04-12 09:33] dburles commented on #20716
Thanks @jrieken, works like a charm!

[2017-04-12 09:36] XmlmXmlmX commented on #24321
@aeschli I found the answer: https://github.com/Microsoft/vscode/issues/7430

[2017-04-12 09:37] MartinZubek commented on #13680
@andrewducker Indeed it does work for me this way. :)
Any chance it will work natively without need to start it from command line?

[2017-04-12 09:41] jrieken commented on #24582
Which is somewhat contradicting. The `hide Specification` isn't from TypeScript or another built-in extension. The `type Specification`-hover from the first screenshot is like the second screen shot from TypeScript. What do you want to disable?

[2017-04-12 09:43] aeschli commented on #24569
http://www.hardtoc.com/2014/09/03/not-quite-monokai.html

[2017-04-12 09:48] alexandrudima commented on #24507
Verified on

![image](https://cloud.githubusercontent.com/assets/5047891/24951784/e33ab8b0-1f75-11e7-926e-77ed1846a411.png)

[2017-04-12 09:48] isidorn commented on #24580
ping @danyeh @khoiph1

[2017-04-12 09:56] #23125 closed

[2017-04-12 09:56] joaomoreno commented on #24584
![image](https://cloud.githubusercontent.com/assets/22350/24952177/04cdaf5e-1f77-11e7-8d02-5ea4c4b79b99.png)

[2017-04-12 09:56] aeschli commented on #22667
@gmckeown I updated the Seti font containing your fixes. Thanks a lot!

[2017-04-12 10:01] jrieken commented on #24580
@isidorn I don't want these issue appear in the inbox again

[2017-04-12 10:01] Kureev commented on #24582
Ok, now I understood my mistake here. I thought these notifications I got from the flow, not typescript. Therefore, I think disabling TypeScript is what I want for now. Is there an option / workaround for that?

[2017-04-12 10:03] #24483 closed

[2017-04-12 10:08] isidorn commented on #24146
Adding verified since I can not reproduce both issues with the latest stable candidate

[2017-04-12 10:13] fgarcia opened #24586 "Make the currently active editor more distinguishable from others"
As a user of a large screen space (two monitors) I keep my editor in one side and several terminal windows on the other side.

When my eyes swift from the editor the the terminals and back again, I would like a "very obvious" visual hint of which was the tab I was working on.

Currently all tabs look equally important, but I would greatly appreciate a clear visualization of the active tab

Some ra

[2017-04-12 10:17] isidorn commented on #24102
@bpasero can you please verify?

[2017-04-12 10:20] jrieken commented on #24582
Sorry, not yet but you aren't the first to ask

[2017-04-12 10:21] ytommaso commented on #459
Please integrate this in the next relase 👍
i look this featureRequest 1 time a week 😄

[2017-04-12 10:21] jrieken commented on #24582
I am closing this as a dupe of #17068

[2017-04-12 10:21] #24582 closed

[2017-04-12 10:21] MarkSMT opened #24587 "Vscode keeps opening same protected file at (cold) launch"
- VSCode Version: 1.11
- OS Version: macOS 10.12.1

Steps to Reproduce:

1. unclear

Issue:

VSC keeps opening the same file when it's cold launched.
It's a file that vscode does not have the rights to edit.
(it's an config.plist file)

I opened it once with vscode then shut down the mac without really closing vscode itself.

I think there is an bug with the hotExit feature or something similar.

[2017-04-12 10:24] rfgamaral opened #24588 "Is it possible to configure Babun/ZSH for the integrated terminal on Windows?"
This is "working":

[code]

The only problem is that a new window is opened instead of the integrated terminal.

The command and arguments were taken from [here](http://babun.github.io/faq.html#_how_do_i_integrate_babun_with_conemu_cmder).

Does anyone if it's possible to have the ZSH shell on the integrated terminal and on Windows?

[2017-04-12 10:24] isidorn opened #24589 "Having a watching preLaunchTask does not start debugging"
refs #24403

[code]

Have the following tasks.json
[code]

Have the following launch.json
[code]

Try to start debugging - only the `preLaunchTask` is started but debug does not start.

[2017-04-12 10:25] isidorn commented on #24589
@dbaeumer I will investigate on the debug side what is going on and once I have more details will let you know. Probably connected with the changes done in the task framework

[2017-04-12 10:26] CoenraadS opened #24590 "Unclear when extension cannot be disabled"
- VSCode Version: Code - Insiders 1.12.0-insider (66546c13343f71e3055ce4866d994223f0a811ac, 2017-04-12T06:11:15.687Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|ng-template|Angular|0.1.3|
|path-intellisense|christian-kohler|1.2.0|
|bracket-pair-colorizer|CoenraadS|0.9.0|
|angular-productivity-pack|devboosts|1.2.1|
|githistory|donjayamanne|0.2.

[2017-04-12 10:27] svipben commented on #24544
I found https://github.com/morishitter/stylefmt this plugin for stylelint which is kinda cool.

[2017-04-12 10:28] MarkSMT commented on #24587
Solved the issue by opening the file with sudo and saving it with some random content..
I guess i had opened it with sudo rights.

[2017-04-12 10:28] #24587 closed

[2017-04-12 10:35] #20290 closed

[2017-04-12 10:37] joaomoreno commented on #20290
Thanks for the fix @jordanmkasla2009!

But actually went ahead with a simpler solution on top of yours. Instead of manipulating the strings we should just explicitly require the colon `C:` to be in the URI. So here's how URIs would work for Code:

[code]

[code]

[2017-04-12 10:39] georgimanov opened #24591 "Function Breakpoints - does not hit selected function"
- VSCode Version:
Visual Studio Code - Insiders
Version 1.12.0-insider
Commit 66546c13343f71e3055ce4866d994223f0a811ac
Date 2017-04-12T06:11:15.687Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0

- OS Version:
Windows 10 - 1607

Steps to Reproduce:
1. Create Function breakpoint
2. Select (check) function breakpoint  prior to executing code
3. Start debugging - and it does not hit the breakpoint.
3.

[2017-04-12 10:40] dbaeumer commented on #24589
@isidorn tahnks. Ping me if there is something I need to do.

[2017-04-12 10:43] ckosmowski commented on #24580
Okay i'll have a look at the translation process.

[2017-04-12 11:00] egamma opened #24592 "No warning when a comment is used inside an extension's package.json"
The package.json for an extension doesn't support comments. However, when I add a comment I don't get a warning in the editor, I only get a warning when I try to run the extension.

[2017-04-12 11:07] dbaeumer commented on #24580
We are discussing and fine tuning the process with the translation team. Here are some things to keep in mind:

Transifex has very limited issue tracking capabilities (to my knowledge). You can basically only add comments to translated strings. It is a translation platform not a good issue tracking system.

Since VS Code's issue tracking system is GitHub I think the best we can do for now is to ha

[2017-04-12 11:08] dbaeumer commented on #24580
@egamma FYI.

[2017-04-12 11:26] psychicteeth commented on #3130
+1 - So used to control click selecting a word that this is becoming actively annoying for me.

[2017-04-12 11:27] FredrikFolkesson commented on #10806
I also have problems here, going to declaration on another package works and I get to the d.ts file, but going to implementation I only get "No implementation found"

[2017-04-12 11:30] scottclayton commented on #24571
Thanks @jrieken . It's a reasonable move to turn it off—it does get in the way sometimes—and it's even nicer that it can now be toggled. Thanks for showing the workaround, and have a great day!

[2017-04-12 11:34] TheFluffyOne commented on #22667
Good stuff! If you do see any vertical alignment issues with the updated font -- per https://github.com/Microsoft/vscode/issues/22667#issuecomment-288894359 above -- there's a separate pull request to address this: https://github.com/jesseweed/seti-ui/pull/409. When the Insiders build updates to include your commit I'll test on the machine that had the issue before.

[2017-04-12 11:47] WilliamMarker commented on #24219
Same error,  even with "git.enable": false
![deleteme](https://cloud.githubusercontent.com/assets/8916083/24956129/364c1cbe-1f54-11e7-9c66-fdf27eb522e6.png)

[2017-04-12 11:48] #24584 closed

[2017-04-12 11:49] bpasero commented on #24102
@aeschli any steps?

[2017-04-12 11:52] bpasero commented on #24543
Sorry, but this is not the right place for questions. Please post questions over at StackOverflow: http://stackoverflow.com/questions/tagged/vscode

Thanks for understanding.

[2017-04-12 11:52] #24543 closed

[2017-04-12 11:53] bpasero commented on #24217
@lifez detect older macOS versions and then disable the custom title bar style if we detect unsupported old OS.

[2017-04-12 11:53] bpasero commented on #24533
This issue has already been reported. Please use the search function next time before reporting an issue and/or this time if you are curious about the progress of the issue.

[2017-04-12 11:53] #24533 closed

[2017-04-12 11:53] bpasero commented on #24531
Wow, I can reproduce.

[2017-04-12 11:54] bpasero commented on #24530
Sorry, but this is not the right place for questions. Please post questions over at StackOverflow: http://stackoverflow.com/questions/tagged/vscode

Thanks for understanding.

[2017-04-12 11:54] #24530 closed

[2017-04-12 11:55] bpasero commented on #13612
What is wrong with creating a global shell script that runs `code --disable-gpu`?

[2017-04-12 11:56] bpasero commented on #24483
@alexandrudima awesome, thanks!

[2017-04-12 11:59] bpasero commented on #24586
@fgarcia with the recent support of theming and settings you can actually tweak the background color and foreground color of the active tab:

Something like this in settings to demonstrate what is possible:

[code]

Would that help you?

[2017-04-12 12:05] zersiax commented on #3312
Bump.
Possibly related. When going through a file quickly, either word by word or line by line, you do still get this behavior. Example:

class foo < bar

When I am on this line and go down, often it will repeat the line I was on rather than the new line which may or may not be a blank line. Especially when going character by character this gets annoying, for example when you want to correct a spe

[2017-04-12 12:06] bpasero commented on #13662
@joaomoreno looks like the list widget is also using `translate3d`, would it possible to apply a similar fix as we do now in the editor to disable it when we are running scaled? see https://github.com/Microsoft/vscode/issues/24483#issuecomment-293521870 for more details.

Given that we use the list widget more and more (SCM, IntelliSense) it seems odd that we have fuzziness in those when the rest

[2017-04-12 12:07] aeschli commented on #24566
Unfortunately I didn't find ant spec on the topic. But I haven't seen #RGB used in any of the TM themes.

[2017-04-12 12:10] zersiax commented on #17237
If by IntelliSense you mean the suggestions on code completion etc, I'm pretty sure that works reasonably well with NVDA actually. If your comments are more specific, please clarify?

[2017-04-12 12:15] OliverJAsh commented on #14907
As @marianban pointed out, this feature is not documented. I've raised a PR to fix this at https://github.com/Microsoft/vscode-docs/pull/942.

[2017-04-12 12:15] aeschli commented on #24102
@bpasero
- install Polymer Syntax Theme
- open a .md file
- use the `Inspect TM scopes` command on the default foreground color
- verify that the color is #F8F8F8 as specified in the [theme specification](https://github.com/JonathanWolfe/language-polymer/blob/master/themes/polymer-syntax-theme.tmTheme#L19)

[2017-04-12 12:23] fgarcia commented on #24586
Those settings don't really help that much. They can highlight which tab is active but I still cannot immediately visualize where I was working when I came back to the editor

In the attached screenshots there are four areas where I could have been working. While working outside the editor there is no visual hint in which area I was working

![captura de ecra 2017-04-12 as 14 13 51](https://cloud.

[2017-04-12 12:26] #24531 closed

[2017-04-12 12:29] bpasero commented on #24586
Got it, not ideal :thumbsup

[2017-04-12 12:31] CoenraadS opened #24593 "Intellisense should not show entries that are the same as already typed text"
- VSCode Version: Code - Insiders 1.12.0-insider (66546c13343f71e3055ce4866d994223f0a811ac, 2017-04-12T06:11:15.687Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|ng-template|Angular|0.1.3|
|path-intellisense|christian-kohler|1.2.0|
|bracket-pair-colorizer|CoenraadS|0.9.0|
|angular-productivity-pack|devboosts|1.2.1|
|githistory|donjayamanne|0.2.

[2017-04-12 12:31] bpasero commented on #24102
Thanks, verified.

[2017-04-12 12:33] Seefer opened #24594 "Tab size and space / tab settings annoying behaviour."
I have tab indent size set at 2 and using spaces in both my **User** and **Workspace** settings. If I open a file created elsewhere (project generator created files for example) that have tab indentation of 4, I would expect to be able to just hit **SHIFT-ALT F** to format that document and have my tab settings applied. This does not happen. I have to go to the tab size indicator in VS Codes statu

[2017-04-12 12:35] andy-wood commented on #586
There are many extensions currently using the path#line format, and this appears to be broken across the board on Mac right now.
<img width="895" alt="vscode_error" src="https://cloud.githubusercontent.com/assets/1224545/24957796/f1247ca6-1f5a-11e7-84d3-61f2ae926258.png">

[2017-04-12 12:43] AndreasMager commented on #24043
I have the same issue on Debian/Jessie.

[2017-04-12 12:43] Tekbr commented on #24232
-- Sorry for the English, I used Google Translator --

@bpasero In my view the idea was always this.

It may be a lack of interpretation or even wrong understanding.

Notice that @LexRiver  himself said again that the idea was to go back to the edited file.

For me it got worse than before. I vote for reopening the issue, and check if it's possible to do this by going back to the file. I do not kn

[2017-04-12 12:45] edvinv opened #24595 "Unable to use preLaunchTask with two configurations"
- VSCode Version: 1.11.1
- OS Version: ubuntu

Steps to Reproduce:
1. Create two watching task using typescript compiler named srv and web in tasks.json.
2. In launch.json create three configurations:
      - srv for node with preLaunchTask=srv
      - web from chrome with preLaunchTask=web
      - compound launch named both, which starts both launch configurations: srv and web

If I start srv deb

[2017-04-12 12:46] CoenraadS commented on #24593
Seems to only happen when backspacing, not a big an issue I thought.

[2017-04-12 12:46] #24593 closed

[2017-04-12 12:52] Seefer opened #24596 "Zen Coding expansion issue"
I just tried the following Zen snippet:

[form>div.form-group>label+select](url)

and this seems to insist on expanding to:

[code]

Where am I going wrong :)

- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|azuretoolsfo

[2017-04-12 12:53] fgarcia commented on #24586
Great! I think the easiest and most relevant first step to improve is having an option to highlight the current line "only" in the most recent file

[2017-04-12 12:54] alexandrudima commented on #24561
Duplicate of #6661

[2017-04-12 12:54] #24561 closed

[2017-04-12 12:59] mlewand commented on #18656
@joaomoreno this issue got fixed by #20156.

[2017-04-12 13:00] alexandrudima commented on #22433
@udaykiranp This looks like a bad value for the setting `editor.lineHeight`. You can go to File > Preferences > Settings and in the right hand side select all (ctrl+a) and comment all (ctrl+/). This should reset all settings to the defaults.

[2017-04-12 13:00] alexandrudima commented on #22433
I can look into enforcing a minimum for `editor.lineHeight`.

[2017-04-12 13:02] pwcong commented on #24313
1. open cmd or powershell
2. right mouse click to open configure default
3. open the checkbox "use old version consle (need restart)"

restart the window and all will be solved.

[2017-04-12 13:06] chuntaojun commented on #23563
thank you very much，I had solve this problem

[2017-04-12 13:12] ThePooE commented on #24569
I've just tried the repo, it became brighter but the color saturation is still inaccurate, let me research more into this.

[2017-04-12 13:17] joaomoreno commented on #24519
We simply never implemented recommendations for files which were never open.

[2017-04-12 13:18] joaomoreno commented on #24516
Does the problem reproduce in our [latest insider release](https://code.visualstudio.com/insiders)?

[2017-04-12 13:19] aidantwoods opened #24597 "PHP syntax highlighting breaks when \x7f-\xff is used as label"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T14:00:34.044Z)
- OS Version: Darwin x64 16.5.0
- Extensions: none
---

PHP syntax highlighting breaks when non letter/number/underscore is used as label

From http://www.php.net/manual/en/functions.user-defined.php:

E.g. using the section symbol `§` (`\xa7`)

<img width="423" alt="screen shot 2017-04-12 at 14 09 2

[2017-04-12 13:20] joaomoreno opened #24598 "Git askpass: don't use localhost"
Related to #24431

[2017-04-12 13:22] joaomoreno commented on #24534
If someone complains about the missing actions, you'll be the one bringing them back.

[2017-04-12 13:26] bpasero commented on #24232
How about assigning a keybinding that ESC puts focus to the editor when pressed while the explorer has focus?

Otherwise I do not understand the request to reopen this bug that was fixed, sorry.

[2017-04-12 13:27] #18351 closed

[2017-04-12 13:28] ThePooE commented on #24569
![srgb](https://cloud.githubusercontent.com/assets/4032361/24959812/1a3a7470-1fd7-11e7-94b0-01256bd353aa.png)

From this picture, we can see that if I were to compare what's been rendered in the editor, then we could clearly see that both of the meter and the inspector reported the same thing.

However, if I were to change the meter to different colorspace then the result would be off.
From my gue

[2017-04-12 13:29] ThePooE commented on #24569
![2d-srgb-applep3](https://cloud.githubusercontent.com/assets/4032361/24959991/baa6e560-1fd7-11e7-83c6-ba0287772936.jpg)

sRGB compared to Apple's P3

[2017-04-12 13:32] isidorn commented on #24534
Yeah sure - I'll take the heat for this one 😎

[2017-04-12 13:35] aidantwoods commented on #24597
Note also that this range (while including non-printable control characters) includes mainly accented characters that may be readily available on non english keyboards, or easily available on most keyboards

(e.g. on OSX I can just hold down a key to accent it).

<img width="504" alt="screen shot 2017-04-12 at 14 34 36" src="https://cloud.githubusercontent.com/assets/3288888/24960275/3035326e-1f8d

[2017-04-12 13:39] sandy081 commented on #24574
@amithegde There is an extension in the market place to sync settings across multiple computers. Have you tried this?

[2017-04-12 13:40] weinand commented on #24463
@gregg-miskelly should we surface the `exceptionInfo.breakMode`in any other way?

[2017-04-12 13:40] #24534 closed

[2017-04-12 13:41] joaomoreno commented on #24399
You could use a network analyser like [Wireshark](https://www.wireshark.org/download.html) to see what is happening behind the scenes.

[2017-04-12 13:42] joaomoreno commented on #23976
We're gonna have to re-introduce the `allowLargeRepository` feature.

[2017-04-12 13:43] joaomoreno commented on #22051
Recovery builds are meant for severe bugfixes only. If there won't be any, we won't release just to get release notes in.

[2017-04-12 13:44] aidantwoods commented on #24597
I'd probably suggest supporting the printable range \xa1-\xff.

Taking a cursory look at the output of `python3 -c 'for i in range(int("7f", 16), int("ff", 16) +1): print(hex(i), chr(i))'`: \xc0-\xd6, \xd8-\xf6, \xf8-\xff all appear to be non symbolic (which IMO should probably represent the minimum subset of this range to support).

[2017-04-12 13:46] joaomoreno commented on #24473
@Spareo Does it work when launching Code through double click?

[2017-04-12 13:47] joaomoreno commented on #24555
#24482

[2017-04-12 13:47] #24555 closed

[2017-04-12 13:47] egamma commented on #24187
Translations have been merged. There are still some untranslated strings for Japanese, but we do not want to hold back 1.11.2 because of this.

[2017-04-12 13:47] #24187 closed

[2017-04-12 13:48] joaomoreno commented on #24526
Can you try again today? What's your location?

[2017-04-12 13:49] joaomoreno commented on #18656
Thanks man!

[2017-04-12 13:49] #18656 closed

[2017-04-12 13:50] aeschli commented on #24569
Yes, that's correct, VSCode currently treats every RGB value as sRGB.

[2017-04-12 13:50] joaomoreno opened #24599 "Disable `translate3D` for list when scaling"
Related to #13662

Check d2a5c57366f29f0366ce479e8443506dc1bfb5e1

---

In order to get subpixel antialias with `translate3d`, the dom element also needs an opaque background color. Since this would introduce an odd option to the list, we're simply gonna disable that optimization for Windows, while leaving it for the other platforms.

[2017-04-12 13:50] joaomoreno commented on #13662
Created #24599

[2017-04-12 13:51] isidorn commented on #24591
Assigning to @roblourens since node2 currently does not support funciton breakpoints as far as I see

[2017-04-12 13:52] aeschli commented on #22667
Yes, I had to manually patch seti-ui to get the vertical alignment correct on windows. Thanks for creating a pull request for that!

[2017-04-12 13:53] aeschli commented on #23125
Fixed

[2017-04-12 13:54] sandy081 commented on #24540
@jrieken They should not be any special. I see there is some code to prevent values editing language override keys. But this should not be causing this. Will investigate.

[2017-04-12 13:58] ograycode commented on #23639
I was having this issue (https://github.com/Microsoft/vscode/issues/23639#issuecomment-292163571) and updated my copy of VS Insiders this morning. It now works. 👍

[2017-04-12 13:59] MSP-Greg opened #24600 "Markdown preview - monospace font"
Markdown preview does not have a setting for mono font.  It also does not pick up any changes to the `editor.fontFamily` setting.  My olds eyes prefer Roboto Mono.

Would be helpful, since a lot of markdown includes code snippets, etc...

Or, have I missed something?

Otherwise, thanks for the markdown support.

[Ruby, Rails, & AWS-Ruby Docs](https://msp-greg.github.io/)

- VSCode Version: 1.11.1

[2017-04-12 14:00] chrmarti commented on #24380
Can you disable extensions one-by-one to see which is causing it? You can disable an extension from the Extensions viewlet by clicking on the gear icon to the right of the extension and chose Disable (Always).

[2017-04-12 14:00] ckosmowski commented on #24580
I now created an transifex account and joined the correct team.  Still i can't really find the wrong translation.  There is a resource called "vscode-node-debug" which sounds like what i am looking for but there are no german translations at all.

Is the german translation of missing keys generated automatically so that i can't find the wrong value in the resources ?

[2017-04-12 14:03] sandy081 commented on #24559
@LiTiang Can you please provide your custom keybindings. you can get it by clicking
Preferences -> Keyboard Shortcuts -> keybindings.json

<img width="1363" alt="screen shot 2017-04-12 at 16 01 57" src="https://cloud.githubusercontent.com/assets/10746682/24961589/950f0e9c-1f99-11e7-83e5-2caebdafbf0f.png">

[2017-04-12 14:06] ghost opened #24601 "Have a setting to prevent auto trim whitespace on cursor line"
Add an option to **prevent** **auto trim** whitespace from acting on the **cursor line**.
It is very annoying when I change focus in the middle of typing something and switch back and see my inserted space behind the cursor is gone and I have to hit space again.
hint: _Atom_ has this feature.

[2017-04-12 14:08] kumarharsh opened #24602 "Mouse cursor changed to 'copy', is not reverting back"
- VSCode Version: 1.12-insider
- OS Version: 66546c

I was editing some code, and at some point in time, the cursor became a weird symbol - an arrow with a plus at it's top-right. I inspected, and it's coming from:

[code]
with the `.monaco-editor.mouse-copy .view-lines` being the active class.

I don't understand how the editor went into that state. When I open a new file, the normal `text` curso

[2017-04-12 14:09] bpasero commented on #13662
@joaomoreno awesome ❤️

[2017-04-12 14:09] isidorn commented on #23639
@ograycode thanks for letting us know

[2017-04-12 14:14] michelkaporin commented on #24580
@ckosmowski I apologize, we've created `vscode-node-debug` resource only today for the Node debug adapter (this is an extension, not the tool). Therefore, you don't see translations for it yet, because they have not been recycled from the old translation memory we have. However, you can still create a translation suggestion for this string, even without an existing translation being present.

We w

[2017-04-12 14:14] chrmarti commented on #24219
Which OS are you on? Are you using the latest VSCode release 1.11.1?

[2017-04-12 14:16] bpasero commented on #24599
@joaomoreno it is worth mentioning that for some reason the list widget is always grayscale-antialiasing even when not scaled (basically ever since we have it).

[2017-04-12 14:17] Skatterbrainz commented on #11524
Just add folding for <# ... #> and /* ... */  comment blocks would be very helpful

[2017-04-12 14:25] vadim0x60 opened #24603 "First word in a string highlighted as a keyword in Clojure"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:55:56.395Z)
- OS Version: Linux x64 4.4.0-67-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|javadebugger|donjayamanne|0.0.2|
|python|donjayamanne|0.6.0|
|cpptools|ms-vscode|0.10.5|;

---

Steps to Reproduce:

1. Create a `.clj` or `.edn` file
2. Paste this:
![screenshot from 2017-04-12 17 22 52

[2017-04-12 14:28] WilliamMarker commented on #24219
I'm using Windows 10, Visual Studio Code 1.11.1
When no project is loaded, only the VSC Welcome screen shows, there is no error.
I have a Cordova project, Cordova extensions and dependent extensions installed.
When the Cordova folder is opened, the error develops. regardless if no editor is opened and only the stock VSC "Welcome" screen is displayed.
As the Cordova project is loaded "File > Open F

[2017-04-12 14:29] SenthilKumartd commented on #24504
Here are the console log error messages.

shell.ts:475Cannot read property 'config' of undefined: TypeError: Cannot read property 'config' of undefined
    at t.getExecutionEngine (file:///C:/Program Files (x86)/Microsoft VS Code/resources/app/out/vs/workbench/electron-browser/workbench.main.js:28:2829897)
    at file:///C:/Program Files (x86)/Microsoft VS Code/resources/app/out/vs/workbench/elect

[2017-04-12 14:31] vadim0x60 commented on #24603
I guess the syntax highlighter treats all unescaped ( `'()` ) lists as function calls, but that's actually not the case in Clojure: inside macros or in `.edn` data files lists can be just that: lists.

[2017-04-12 14:32] egamma opened #24604 "Terminal - yarn progress rendering has glitches"
To reproduce run `yarn upgrade` or install in a project on Windows. Notice how the progress bar is rendered on top of the previous line:

![image](https://cloud.githubusercontent.com/assets/172399/24962875/6c21d268-1f9d-11e7-8fcd-5ace48be757f.png)

Running the same command inside the console doesn't have this glitch

![image](https://cloud.githubusercontent.com/assets/172399/24962919/87ed5080-1f9d

[2017-04-12 14:35] crper opened #24605 "vscode use webassembly"
Vscode will use webassembly to improve the implementation of the application speed, webassembly standard is not already officially released!

It seems that nodejs 8 will be the first to introduce webassembly;

Hope to answer the next question, thank you, if you have caused trouble, very sorry

[2017-04-12 14:41] Z3roCoder commented on #19840
Hello!

I didn't want to open up a new Issue for this.
I am still having this problem, mainly with .ts/TypeScript and .js/JavaScript files.

I can work 10 Minutes, up to two hours until Intellisense just freezes,. If i press CTRL+Space, it only says "Loading...", but never actually loads the typings up anymore. I need to Restart VSCode to have it working again.

I am on VSCode 1.11.1
Installed Plu

[2017-04-12 14:45] Lazdog opened #24606 "text show err"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:55:56.395Z)
- OS Version: Linux x64 4.4.0-72-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.10.5|
|vscode-lua|trixnz|0.4.0|;

![Uploading image.png…]()

[2017-04-12 14:45] chrmarti commented on #24285
I can reproduce it with extensions disabled and an otherwise empty folder.

[2017-04-12 14:48] lifpan opened #24607 "[debugger] argc and argv are wrong when set multiple arguments"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:55:56.395Z)

---
When debug code with launch mode, in function "main()", the "argc" is awalys 2 when set some arguments.

E.g.

launch.json
      "program": "/media/lifeng/ocean/llvm/llvm-3.7.0.src/builder/bin/llc ",
      "args": ["mytest.ll -print-after-all"],

Expect:
    argc: 3;
    argv[0]: /media/lifeng/o

[2017-04-12 14:48] isidorn opened #24608 "Git version < 1.9 spam"
If I have an older git installed I always get the message box warning that I should update to a newer version.
This is very frustrating, especially since I see it on every vscode start.
Please add a 'don't ask me again' or something to hide it forever. Or simply show this warning only once

[2017-04-12 14:49] kamujin opened #24609 "NumPad keys ignored"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:55:56.395Z)
- OS Version: Linux x64 4.8.0-46-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|cpptools|ms-vscode|0.10.5|
|csharp|ms-vscode|1.8.1|
|trailing-spaces|shardulm94|0.2.11|;

This seems to be a regression introduced with the latest version(s)

---

Steps to Reproduce:

1. Open document i

[2017-04-12 14:58] viix commented on #15539
+1

[2017-04-12 14:59] chrmarti commented on #24219
Can you try running Disable Preview SCM from the Command Palette (Ctrl + Shift + P)? (`"git.enable": false` should have worked around it too, did you restart VSCode after adding that?)

[2017-04-12 14:59] roblourens commented on #24591
Can you post your launch.json? I think the legacy protocol is being used here.

[2017-04-12 15:01] sqnkov commented on #19840
@aeschli , I can confirm @Z3roCoder 's information.

The issue is back at full power.

[2017-04-12 15:03] JasonKleban commented on #23701
Ok, here's what I came up with:

[code]

[2017-04-12 15:05] joaomoreno commented on #24608
There's a duplicate.

[2017-04-12 15:05] #24608 closed

[2017-04-12 15:08] georgimanov commented on #24591
Sure.
[launch.json.txt](https://github.com/Microsoft/vscode/files/916993/launch.json.txt)

[2017-04-12 15:09] dbaeumer opened #24610 "NVDA is very silient on VS Code"
- VSCode Version: 1.11.2 Smoke Test
- OS Version: Windows & NVDA 2017.1

NVDA is very silent on VSCode right now. Tabbing through button (side bar, search UI, ...) doesn't read anything. Nor does it read something in the editor itself. This used to work IMO.

[2017-04-12 15:11] joaomoreno commented on #23701
Awesome, that's very helpful.

The real issue seems not to be VS Code related, but NPM related.

Why do you have `npm` installed on your repo?

[code]

This is the source of the problem.

When running npm scripts (or ghooks), the `.\node_modules\.bin` folder is going to be placed right in front in the `%PATH%` variable. So,  `C:\Users\jkleban\Repos\repoA\node_modules\npm\bin\npm.cmd` is being pick

[2017-04-12 15:11] #23701 closed

[2017-04-12 15:12] nico-onmap commented on #13612
There is nothing wrong with having a global shortcut. But disabling the gpu to workaround a bug isn't very good if you ask me. Using the GPU instead of the CPU for rendering/scrolling can have a big impact on battery, performance, etc..

[2017-04-12 15:12] hivaga commented on #19545
+1 useless click

[2017-04-12 15:12] isidorn commented on #24610
@dbaeumer can you please try with 1.11.1, 1.11.0 and 1.10.2 to see if this is a recent breakage, all of these builds can be found here https://vscode-builds.azurewebsites.net/stable

[2017-04-12 15:13] rfgamaral commented on #24588
I went another route and installed Cygwin with ZSH and Oh My Zsh and configure VS Code like this:

[code]
For now this is working nicely and it's probably a better a option than Babun which hasn't been updated in a while.

Feel free to close this if no longer relevant...

[2017-04-12 15:15] dbaeumer commented on #24610
After restarting VSCode I was not able to reproduce anymore. Will close.

[2017-04-12 15:15] #24610 closed

[2017-04-12 15:17] kamujin commented on #24609
using "keyboard.dispatch": "keyCode" to workaround problem

[2017-04-12 15:19] vladkosarev commented on #13612
Just tested on xps, seems very promising! On a clean install first impression is pretty smooth. Will need to see how it is with all the addons but there's hope now.

[2017-04-12 15:25] weinand commented on #24591
Please read the limitations of node.js function breakpoints: https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_function-breakpoints

[2017-04-12 15:27] #24591 closed

[2017-04-12 15:32] roblourens opened #24611 "Can't debug latest Node 8 nightlies"
https://github.com/Microsoft/vscode-node-debug2/pull/99

The `--inspect --debug-brk` option works from Node 6.3 through 7.x. The `--inspect-brk` option works from 7.6.0 through 8.x. `--debug-brk` was just removed: https://github.com/nodejs/node/pull/12197. Hopefully it will be put back for backwards compatibility - https://github.com/nodejs/node/issues/12364. Otherwise, VS Code 1.11 won't be able

[2017-04-12 15:37] bpasero commented on #24610
I cannot reproduce:

![image](https://cloud.githubusercontent.com/assets/900690/24966235/ab2a1f5c-1fa6-11e7-9d4d-fa97d9ed73cf.png)

[2017-04-12 15:39] haisapan commented on #3911
I want it too, anyone help?

[2017-04-12 15:40] fbnlsr opened #24613 "Using keystrokes in Explorer"
A nice addition to the Explorer would be the ability to use keystrokes to navigate through folders/files.

In a standard Windows/MacOS explorer, whenever you start typing a file/folder name, the pointer travels to the file/folder with letters beginning with whatever you've typed.

Having that in VSCode's explorer could help navigate throughout the app and the file system using only the keyboards f

[2017-04-12 15:41] mochoamat opened #24614 "VSCode checks Git changes so often"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|githistory|donjayamanne|0.2.0|
|path-autocomplete|ionutvmi|1.4.1|
|csharp|ms-vscode|1.8.0|
|debugger-for-chrome|msjsdiag|2.7.3|
|filenamecomplete|qinjia|0.0.3|
|vscode-icons|robertohuertasm|7.4.0|
|autoi

[2017-04-12 15:44] mochoamat commented on #24614
Note: I have to run the git rebase process 4 time to get it works done

[2017-04-12 15:49] senthilkumar79 opened #24615 "Not able to move or resize the Visual Studio Code Editor Window"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-nupkg|eridem|0.0.4|;

---

Steps to Reproduce:

1.
2.

[2017-04-12 15:50] senthilkumar79 commented on #24615
1.Lauch the VS Code
2.All operations works fine except resizing and maximizing the window

[2017-04-12 15:51] #24022 closed

[2017-04-12 15:52] joaomoreno commented on #24599
There is something I don't understand.

In d2a5c57366f29f0366ce479e8443506dc1bfb5e1, @alexandrudima disables `translate3d` for the current version only if `pixelRatio` isn't an integer. Seems to work fine for him.

On my machine with `pixelRatio = 1`, the list doesn't have sub-pixel antialiasing when using `translate3d`, but the editor does...

So... what more do you know, @alexandrudima ?

[2017-04-12 15:53] alexandrudima commented on #14252
This code no longer exists in that form

[2017-04-12 15:53] #14252 closed

[2017-04-12 15:53] ezolenko commented on #24298
I don't know if that applies to #22741, but in this case confused scripts are all named `main`, so that likely has something to do with it.

[2017-04-12 15:56] gregg-miskelly commented on #24463
@weinard I don't think there is any need to at this time.

As an FYI, the primary reason VS needs this information is that VS lets you change exception settings (which exceptions are stopped on) from the 'exception hit' dialog/peek window. But obviously, at least at this point, that doesn't make sense in VS Code.

[2017-04-12 15:56] alexandrudima commented on #24599
@joaomoreno

source: https://www.html5rocks.com/en/tutorials/internals/antialiasing-101/

- make sure to use an opaque background on the dom node that becomes a new GPU layer and no fancy transparency
- make sure to always position things at integer coordinates

[2017-04-12 15:57] elliotwesoff commented on #23348
I'm having the same issue. It's extremely frustrating. Is there a work around or a fix coming soon?

[2017-04-12 15:58] mochoamat commented on #24614
Note2: I have 11 files opened in VSCode

[2017-04-12 16:00] Tyriar commented on #22772
@lifez sure that would be great 😃

I'm a little concerned that this might be bad for perf if we're constantly checking whether files exist like this. It would be good to look into whether we could cache the results of an [`pfs.readdir`](https://github.com/Microsoft/vscode/blob/705fe98da293d95d19c68f2ef24679fc4c392c1b/src/vs/base/node/pfs.ts#L17) so we don't need to stat each individual file. Let m

[2017-04-12 16:04] alexandrudima opened #24616 "Seeing drag and drop copy mouse cursor when drag and drop is disabled"
I could not capture it in a screenshot:

`editor.dragAndDrop` is false (the defaults)

I am just working regularly, double clicking, using the ctrl key, etc. Observe the `mouse-copy` editor class name:

![mouse-copy-class](https://cloud.githubusercontent.com/assets/5047891/24967442/651a6338-1faa-11e7-8aeb-eede39f0ba00.gif)

version:
![image](https://cloud.githubusercontent.com/assets/5047891/24967

[2017-04-12 16:04] chrmarti commented on #24298
@ezolenko Could you attach/post your launch.json?

[2017-04-12 16:06] joaomoreno commented on #24599
That did it, thanks @alexandrudima!

![image](https://cloud.githubusercontent.com/assets/22350/24967507/a73adefa-1faa-11e7-883f-943fc2b54e58.png)

@bpasero That poses a new problem. How can the list know which background it should use? Maybe we should add that as a new theming key...

[2017-04-12 16:07] alexandrudima commented on #14739
Validating a position on a disposed text document will no longer throw AFAICT

[2017-04-12 16:07] #14739 closed

[2017-04-12 16:11] WilliamMarker commented on #24219
VSC does appear to be working now.  I didn't properly ... "git.enabled": false in settings.json but done properly, it cures the error.  as does (Ctrl + Shift + P)  Disable Preview SCM.

I wonder why this happened in the first place.... won't these settings disable Git?
Should one of the two settings be used over the other?... but thank you very much, ...

[2017-04-12 16:14] wesleyeff commented on #24052
Why is this closed? "Stage selected range" Doesn't do the same thing as "stage selected lines". If I have 5 lines in a row and only want to stage 4/5, I can't do that anymore because it stages the whole block.

[2017-04-12 16:15] etriebe opened #24617 "Open folder is no longer working"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 10.0.16170
- Extensions:

|Extension|Author|Version|
|---|---|---|
|project-manager|alefragnani|0.13.5|
|githistory|donjayamanne|0.2.0|
|csharp|ms-vscode|1.8.1|
|PowerShell|ms-vscode|0.12.2|
|vscode-icons|robertohuertasm|7.5.1|;

---

Steps to Reproduce:

1. Use open fol

[2017-04-12 16:19] ezolenko commented on #24298
[code]

[2017-04-12 16:22] slemireOmni commented on #22266
My current version of VS code is 1.11.1.

I noticed that the VS code editor do not refresh when an external program update a file (copy, save, etc). If the opened file is currently focused in the editor and change externally, it does not refresh.

The workaround to refresh the opened and focused file in VS code is to select another opened file and get back to the edited/updated opened file.

Steps

[2017-04-12 16:22] pocesar commented on #15428
@mjbvz the problem is I don't know how to reproduce it everytime, it seems random, but the problem is still  happening in 0.12 insiders

[2017-04-12 16:23] chrmarti commented on #24219
Disable Preview SCM will use the older Git integration. That will eventually disappear, but is still there as a fallback for now. Marking as duplicate of #23976. Thanks.

[2017-04-12 16:23] #24219 closed

[2017-04-12 16:23] joaomoreno commented on #24052
@wesleyeff Neither this issue not #21513 is closed.

[2017-04-12 16:26] Susanthab opened #24618 "Additional character when copying SSH keys in integrated terminal"
- VSCode Version: 1.11.1 (1.11.1)
- OS Version: OS X 10.11.6 (15G1217)

Steps to Reproduce:

1. Get integrated terminal in VS code.
2. Open /home/<username>/.ssh/<username>_rsa.pub in vi
3. Highlight the key and hit CMD + V
4. Open sublime editor
5. Paste the key
6. It has an additional character. In my case, it was "W"

[2017-04-12 16:26] alexandrudima commented on #24426
To verify/reproduce:

* open a file where there is no document highlight provider (e.g. test.py without the Python extension installed)
* set `"editor.occurrencesHighlight": false`
* click on a word
* the word should not be highlighted in any form.

[2017-04-12 16:27] slemireOmni commented on #7532
My current version of VS code is 1.11.1 and got the same issue.

I noticed that the VS code editor do not refresh when an external program update a file (copy, save, etc). If the opened file is currently focused in the editor and change externally, it does not refresh.

The workaround to refresh the opened and focused file in VS code is to select another opened file and get back to the edited/upda

[2017-04-12 16:28] #24426 closed

[2017-04-12 16:29] nathanjwtx opened #24619 "Python version setting being ignored"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T13:58:12.954Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|theme-monokai-dark-soda|AdamCaviness|0.0.5|
|vscode-icontheme-nomo-dark|be5invis|1.2.6|
|vscode-standardjs|chenxsan|1.1.0|
|python|donjayamanne|0.6.1|
|code-runner|formulahendry|0.6.15|
|Theme-Dark-Dracula

[2017-04-12 16:30] maroy1986 commented on #22266
Seems related to #7532

[2017-04-12 16:37] bpasero commented on #24599
I confirm we have good subpixel-aa when `monaco-list-rows` (the container that uses `translate3d`) has a background color set. We can think about adding a background color to the [theming for tree/list](https://github.com/Microsoft/vscode/pull/24612) and thereby get the color in. It is a bit ugly though because in all cases we want this color to actually inherit the one from the layer below...

[2017-04-12 16:37] rfgamaral opened #24620 "Is there support for 256 colors on the integrated terminal for Windows?"
I have configured ZSH as integrated terminal on my VS Code instance on Windows. Like this:

[code]

This is working, but colors are not that great. It seems that only 8 are supported.

Here's ZSH running on Mintty (it also comes from Cygwin, no extra setup):

![mintty](https://cloud.githubusercontent.com/assets/96476/24968833/83a4746e-1fa6-11e7-973d-e4594981649d.png)

And here's VS Code integrated

[2017-04-12 16:49] bpasero commented on #24617
@etriebe does it reproduce after a full uninstall and then reinstall?

[2017-04-12 16:49] bpasero commented on #24613
This issue has already been reported. Please use the search function next time before reporting an issue and/or this time if you are curious about the progress of the issue.

[2017-04-12 16:49] #24613 closed

[2017-04-12 16:49] roblourens commented on #24552
@bpasero Related to https://github.com/Microsoft/vscode/commit/b15bee9063ed2245aee03be0954da0b473101b92?

[2017-04-12 16:53] jdhitsolutions opened #24621 "Enhancement suggestion for application user profiles"
Since VSCode is spreading in adoption, especially among IT Pros and others who may not have developer backgrounds, I would love to see an option, perhaps during setup or a menu, where a user could select a "profile" that would identify how they primarily plan to use VSCode or what their primary language might be. The profile would then automatically do things like download and install the necessar

[2017-04-12 16:54] praneethc opened #24622 "VS code 1.11 doesn't start"
I have recently updated to VS code 1.11.1 and ever since the update it doesn't start. This is what I get when I `code --verbose`
[code]

[2017-04-12 16:55] etriebe commented on #24617
Yep, still repros after full uninstall/reinstall.

On Wed, Apr 12, 2017 at 9:49 AM, Benjamin Pasero <notifications@github.com>
wrote:

[2017-04-12 16:58] edasaki opened #24623 "Searching through keybinds by keypresses"
Is there any way to search your keybinds/keyboard shortcuts by the keys?

Right now I don't see any easy way to manually check for conflicting keybinds / see what a current shortcut is bound to. Does this exist already? (I wasn't able to find anything after a quick search). If not, it'd be a useful feature to have.

[2017-04-12 17:01] iffy commented on #1218
This one feature prevents us from using VS Code here at work.  We often have Markdown files with embedded null bytes (and other non-printable characters).

[2017-04-12 17:04] #24466 closed

[2017-04-12 17:08] JohnGalt1717 commented on #22711
Any idea when this fix is going to be released?

[2017-04-12 17:13] MichaelRBond commented on #22270
Also, be able to move it to the bottom of the screen, like in Atom, Sublime, emacs, etc ...

[2017-04-12 17:14] roblourens commented on #22711
In about 5 minutes :)

[2017-04-12 17:41] bpasero commented on #24552
@roblourens unlikely, I would rather think related to @sandy081 adopting tree templates.

[2017-04-12 17:41] bpasero commented on #24617
@etriebe share a video of what you do maybe?

[2017-04-12 17:41] bpasero commented on #1218
@iffy may I ask why your markdown files contain 0 bytes?

[2017-04-12 17:43] bpasero commented on #24622
@praneethc can you check if any other Code process is still hanging around and kill it?

[2017-04-12 17:43] roblourens commented on #24552
Oh right that's what I was thinking of. https://github.com/Microsoft/vscode/issues/23912

[2017-04-12 17:43] InfiniSuite commented on #22711
When will it be available in the Insiders Edition? Tomorrow?

On Wed, Apr 12, 2017 at 1:15 PM, Rob Lourens <notifications@github.com>
wrote:

--
*Lee Mellinger*
President & CEO
InfiniSuite, LLC
www.infinisuite.com
Mobile: 1.734.531.8702
Skype: leemellinger
LinkedIn: linkedin.com/in/leemellinger
<https://www.linkedin.com/in/leemellinger>

*Business Solutions for Cloud 2.0*

NOTICE: The information

[2017-04-12 17:44] roblourens commented on #22711
I just published it. You just need to update the extension to 3.0.0

[2017-04-12 17:48] emackey commented on #13807
I'd like this feature as well.  I'm writing an extension that wants to allow the user to load a binary file (one that wouldn't normally open in vscode) and encode it into a data-uri string, and embed it into the current text document.

[2017-04-12 17:50] JulieMarie commented on #24064
Finally looked into why my keypad stopped working and found this thread.  Confirmed as well that the fix above on the latest insiders build works for me too.  Thanks!!

[2017-04-12 18:06] iffy commented on #1218
That's a fair question :) We produce reports about network protocols, some
of which contain non printable characters. We strip, hide or convert the
unprintables (using some custom markup) before producing PDFs, but want to
retain the original binary data within the source.

On Apr 12, 2017 11:42 AM, "Benjamin Pasero" <notifications@github.com>
wrote:

@iffy <https://github.com/iffy> may I ask why

[2017-04-12 18:07] sathish25071992 commented on #24399
Ok. I will give it a try.

[2017-04-12 18:09] bpasero commented on #1218
Ok, I think having a way to force open a file that we think is binary is still valid. E.g. similar how for large images we ask you to open them externally there could be a link to force open them inside the editor:

![image](https://cloud.githubusercontent.com/assets/900690/24972502/ee8413b0-1fbb-11e7-9407-0373eb6d4714.png)

[2017-04-12 18:12] BenRacicot commented on #23974
Hope this is the right place to bring this up. Didn't want to create a fresh issue but I'm seeing super high CPU usage as well.
<img width="686" alt="screen shot 2017-04-12 at 2 09 55 pm" src="https://cloud.githubusercontent.com/assets/1815385/24972615/0243366a-1f8a-11e7-886d-d42da9432da7.png">

[2017-04-12 18:14] JohnGalt1717 commented on #22711
Nice!

[2017-04-12 18:15] praneethc commented on #24622
@bpasero No running Code processes can I see. I uninstalled and reinstalled Code, but the problem is still the same.

[2017-04-12 18:16] bpasero commented on #13665
Sorry to hear that. We mark a file as deleted when we receive a file-delete event from our watcher. I will check again if there are other cases where we could report this wrongly.

[2017-04-12 18:18] bpasero commented on #24622
Are you maybe starting as a different user? Or did you start as root once?

[2017-04-12 18:19] TimCondon opened #24624 "Feature Request: partial path matching for Problem Matcher"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 3.10.0-327.4.4.el7.x86_64

---
It's a lot of work (and sometimes impossible) to set up a problem matcher when error messages don't include absolute paths and/or include a combination of paths relative to different directories.

A simpler approach would be for VS Code to recurs

[2017-04-12 18:20] mjbvz commented on #24600
Try using `markdown.preview.fontFamily` instead. It's a different setting since you often want a different font between the editor font and the preview font

[2017-04-12 18:20] #24600 closed

[2017-04-12 18:26] praneethc commented on #24622
No I didn't run it as root. It didn't require previously. But maybe I'll
try sudo once and let you know.

[2017-04-12 18:32] rebornix commented on #24557
@alexandrudima I tested against v55 and v56, they share the same issue. At the beginning I just changed the filter and still use

[code]

However while using Chinese and Japanese IME, `this.textArea.getValue()` is always obsolete. For example, when users press `h` (first keystroke), the textarea is still empty at this moment. It doesn't affect the result but the width of textarea around the cursor

[2017-04-12 18:35] MSP-Greg commented on #24600
@mjbvz Maybe I wasn't clear enough.  I said

keyword being 'mono'...

The `markdown.preview.fontFamily` settings works fine.  But, it only affects the proportional font used in preview.  I was referring to the monospace font used in markdown preview.

Given that most of the markdown created by developers has code samples, it would be helpful if the markdown preview either had its own monospace fon

[2017-04-12 18:42] glen-84 commented on #10439
@konradhalo @jpap

The issue with the sass-lint extension should be fixed in v0.0.4.

Apologies for the inconvenience.

[2017-04-12 18:42] glen-84 commented on #11096
The issue with the sass-lint extension should be fixed in v0.0.4.

Apologies for the inconvenience.

[2017-04-12 18:43] glen-84 commented on #17740
@stormwarning

The issue with the sass-lint extension should be fixed in v0.0.4.

Apologies for the inconvenience.

[2017-04-12 18:43] roblourens commented on #22818
Meteor writes sourcemaps with fake `meteor://` paths that the legacy node debugger has trouble resolving to files on disk. Your best shot is probably

- Changing the meteor config to output actual paths in sourcemaps instead of something like `"meteor://💻app/server/main.js"` (if this is possible)
- Or using a recent Node version and using `"protocol": "inspector"` which is able to deal with the sp

[2017-04-12 18:44] rebornix commented on #22221
@mko684 can you provide Gif or so to help troubleshoot? I can't reproduce with latest VS Code.

[2017-04-12 18:45] johanbove commented on #11096
Thanks for fixing this! 👍

[2017-04-12 18:45] buckyster opened #24625 "[Feature Request] Display newline characters when "editor.renderWhitespace": "all""
- VSCode Version: 1.11.1
- OS Version: Mac OSX 10.10.5

Steps to Reproduce:

1. Add `"editor.renderWhitespace": "all"` to `settings.json`
2. It renders most whitespaces, but not newline characters.

It would be very helpful to render the newline characters, with distinct renderings for CR vs LF. This is especially helpful if you have a mixed line ending file and want to see where the issues are.

[2017-04-12 18:46] oatkins opened #24626 "File search does not support regular expressions using lookahead patterns"
- VSCode Version: 1.11.1
- OS Version: Windows 10 Anniversary Update

Steps to Reproduce:

1. Enter a search pattern of "Some(?=thing)" or "Some(?!one)"
2. No results even when files in search path contain "Something", "Somehow", etc.

No error is shown. Apparently VS Code should be evaluating the regex according to JS rules, which do support this. (See https://developer.mozilla.org/en-US/docs/Web

[2017-04-12 18:47] rebornix commented on #22501
Can not reproduce with latest Insider version on Windows 10. Close it first and let me know if you still run into it.

[2017-04-12 18:47] #22501 closed

[2017-04-12 18:55] rebornix commented on #24231
Can you provide a gif to demonstrate the problem?  I can't reproduce this issue on latest version of Insider on macOS 10.12.4.

[2017-04-12 19:01] DFelten commented on #24602
Same error here. Once the cursor has been changed, it remains the same. For example:
![arrow-plus](https://cloud.githubusercontent.com/assets/1169185/24974633/1cf381b6-1fc3-11e7-89a1-3ccc741bc5e7.jpg)

[2017-04-12 19:08] praneethc commented on #24622
[code]
Here's what I get.

[2017-04-12 19:11] FuriouZz commented on #22701
I updated my stable version of VSCode and Source Control does not work anymore...

[2017-04-12 19:12] Sindisil commented on #23125
Thanks for the quick fix -- you guys continue to rock!

[2017-04-12 19:17] FuriouZz commented on #22701
A new screencast with VSCode 1.11.1

http://d.pr/v/C36I

[2017-04-12 19:25] JoshMcCullough opened #24627 "Cannot drag-drop text at end of selection."
- VSCode Version: 1.11.1
- OS Version: Windows 10

Steps to Reproduce:

1. Select some text.
2. Hold `Ctrl` and drag the selected text.
3. Drop the selected text directly after the selection.
4. Text does _not_ copy.

E.g. if you select the text "this is text" and Ctrl+Drag it so the cursor is just after the last "t" in "text", the text is not copied.

[2017-04-12 19:26] praneethc commented on #24622
@bpasero   I rolled back to version 1.9 and it starts working fine. Version 1.10 and 1.11 seems to have problems

[2017-04-12 19:28] JoshMcCullough opened #24629 "Add (optional) keyboard binding to select word under cursor."
- VSCode Version: 1.11.1
- OS Version: Windows 10

Steps to Reproduce:

1. Hover over a word.
2. While holding `Ctrl` (or w/e key is configured), click the word.

Expected: The word is selected.

I realize "go to definition" is mapped to Ctrl + click; would be nice to enable word selection though.

[2017-04-12 19:32] jmbelloteau commented on #13680
Hi @MartinZubek,

What does work for you? Can you be more specific? 😄

[2017-04-12 19:32] StephenWeatherford commented on #24562
Sure, if you can tell me what/where to install from.

From: Alexandru Dima [mailto:notifications@github.com]
Sent: Wednesday, April 12, 2017 1:17 AM
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: Stephen Weatherford <Stephen.Weatherford@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/vscode] Arrow keys completely stopped working in Code (#24562)

Duplicate of #2410

[2017-04-12 19:42] selfup commented on #7504
So I set my shell to `bash.exe` and everything was working fine up until the newest update.

Now tmux can only cover half the width of the terminal instead of all of it 🤔

![incomplete-tmux-width](https://cloud.githubusercontent.com/assets/9837366/24976237/e4a894aa-1f85-11e7-842f-808b3bd97877.PNG)

[2017-04-12 19:45] MartinZubek commented on #13680
@jmbelloteau Sure, it no longer ends with "Permission denied (publickey)" error and git pull/push works as they are supposed to. It uses the correct key from the **~/.ssh/.config** file and whenever the key passphrase is needed, this window pops-up:
http://imgur.com/wpExMMP

[2017-04-12 19:47] selfup opened #24630 "BUG on March 2017 (version 1.11) with Embedded Terminal and Tmux on Windows 10 via bash.exe"
# Regression / Bug

- VSCode Version: March 2017 (version 1.11)
- OS Version: Win10

### Steps to Reproduce:

1. Set terminal to `bash.exe` on Win10
2. Open tmux and split pane vertically

### Before:

![complete-tmux-width](https://cloud.githubusercontent.com/assets/9837366/24976389/81931132-1f86-11e7-9efc-779ca7caa8d9.PNG)

### After:

![incomplete-tmux-width](https://cloud.githubusercontent.com

[2017-04-12 19:53] aeschli commented on #19840
@sqnkov @Z3roCoder Please file a new issue. Please try with no extensions and please give detailed information where exactly the freeze happens. In what language, in what size of a file. Code examples are very useful.

[2017-04-12 19:53] JasonKleban commented on #23701
npm is a dependency because one of the things uses the npm api.  Maybe it isn't necessary - I have to look into it.

But why can't the vscode-provided behavior match that of the other shells on my machine, and relative to the same directory?  Shouldn't the vscode invoked stuff work just the same?

[2017-04-12 19:55] jmbelloteau commented on #13680
@MartinZubek so you can push from VScode?! That's great...
Did you launch it from a command line where you've started SSH Agent?
If yes how?
I don't understand why it doesn't work on my environment

[2017-04-12 19:56] gregvanl commented on #22051
Not sure I understand your question. If we think there are too many issues with bundling the release notes and having them available offline isn't a big benefit, then no.
We can go back to the earlier proposal to change the vscode-docs vnext CI build to commit to vscode-website master. It will still be a manual step to review the release notes and publish live.

[2017-04-12 19:56] amithegde commented on #24574
I have tried extensions and gists and dropbox and the like. However, these alternatives won't be considered as the the best way in an office setup where things are closely monitored. If it is provided out of the box, there is nothing better than that!

Alternatively, a way to export all the settings as a json file or something similar would be great too so that it can be checked-in to the reposito

[2017-04-12 20:05] erikdstock opened #24631 "File Search is not excluding .git"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T14:00:34.044Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|compulim-vscode-closetag|Compulim|0.1.2|
|erb|CraigMaslowski|0.0.1|
|vscode-danger|Orta|1.0.1|
|vscode-jest|Orta|2.0.5|
|vscode-docker|PeterJausovec|0.0.13|
|code-settings-sync|Shan|2.6.1|
|sort-lines|Tyriar|1.2.

[2017-04-12 20:06] cleidigh commented on #23955
@egamma
Thanks for commenting (sorry for my slow response)

I think your comment about over linting makes total sense.
as I said above before I realized the format command would save many headaches
it was problematic that hygiene/the formater would fail without any line number indications

I guess the main question I have (perhaps a stupid question) will the formatter
always fix its requirements f

[2017-04-12 20:09] webamazingstudio commented on #24497
Yes. This happened after last update.

[2017-04-12 20:15] mjbvz commented on #24603
Seems like an issue in the Clojure grammar. Opened https://github.com/atom/language-clojure/issues/63 to track the problem

Closing as upstream

[2017-04-12 20:15] #24603 closed

[2017-04-12 20:16] IvanSorokin opened #24632 "Quick fix option "rename file to match type" doesn't work"
- VSCode Version: Code 1.11.1 (d9484d12b38879b7f4cdd1150efeb2fd2c1fbf39, 2017-04-06T14:00:34.044Z)
- OS Version: Darwin x64 15.0.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharpfixformat|Leopotam|0.0.20|
|csharpextensions|jchannon|1.3.0|
|vscode-nuget-package-manager|jmrog|1.1.2|
|csharp|ms-vscode|1.8.1|
|vs-keybindings|ms-vscode|0.1.3|;

---

Steps to Reproduce:

1. Create hello.

[2017-04-12 20:17] mjbvz commented on #24606
Please try uploading the image again. Also, please provide a description of the problem and steps to reproduce it so that we can investigate

[2017-04-12 20:17] #24606 closed

[2017-04-12 20:18] rebornix opened #24633 "unconfirmed text of CJK IME collapse to one character in Integrated Terminal"
The same root cause as https://github.com/Microsoft/vscode/issues/24557 and we need to fix this in Integrated Terminal (xterm.js) as well. We need to adopt next version of xtermjs once https://github.com/sourcelair/xterm.js/pull/632 is merged.

[2017-04-12 20:19] mjbvz commented on #24596
I tested this in an html file and see this expanded to:

[code]

Can you try disabling all extensions by launching code with the `--disable-extensions` flag to see if one of those is the root cause

[2017-04-12 20:30] alexandrudima commented on #24562
The Insiders release can be found at https://code.visualstudio.com/insiders

[2017-04-12 20:31] baslr commented on #7426
ShipIt_stderr.log:
[code]
ShitIt has to ask for username / password for rights to write to /Applications.

Also
`/Applications/Visual%20Studio%20Code%20-%20Insiders.app` does not exist but
`/Applications/Visual Studio Code - Insiders.app`

[2017-04-12 20:32] Tekbr commented on #24232
-- Sorry for the English, I used Google Translator --

@bpasero Corrected in parts, because that was not what was asked for. Sorry for the sincerity. 😉

Before I used it in a different way, a "jerry-rig" (I think that's the English term, if not sorry), but that worked more or less. And that stopped after the update. I looked for the case and found this one. But that is beside the point.

I do not

[2017-04-12 20:37] MartinZubek commented on #13680
@jmbelloteau Yes, I launched vscode from command line I use (it is the git-bash.exe which comes with git for windows by default, to be exact). I didn't have to start the ssh-agent or anything manually though. I guess it starts automatically with git-bash or something.

[2017-04-12 21:00] tracker1 opened #24634 "macOS: Add a setting to enable acceptsFirstMouse for window"
- VSCode Version: Version 1.11.1 (1.11.1)
- OS Version: macOS Sierra (10.12.4)

Steps to Reproduce:

1. Open VS Code
2. Open terminal
3. Open a file for editing
4. Focus on another application
5. Click (once) on the terminal area of VS Code
6. Start typing

You'll notice the typing is at the cursor in the editor screen, it would be really nice if the terminal area were focused for input...  really

[2017-04-12 21:05] mjbvz commented on #24600
Yes, it was not clear to me that you were referring the markdown preview's `code` font specifically. To set this currently, you can use [your own css](https://code.visualstudio.com/Docs/languages/markdown#_using-your-own-css):

[code]

#18105 Tracks making the rendering of code blocks more consistent with the editor. I'm reluctant to add additional styling settings such as `markdown.preview.codeFo

[2017-04-12 21:05] nitrologic commented on #24556
We are truncating from the start since the last received output is the freshest and should be shown.

In a c++ build environment this statement is not true.

[2017-04-12 21:06] nitrologic commented on #24556
I am also suggesting in my issue detail that you suggest how I make this buffer bigger, either using helpful ui or here on github.

[2017-04-12 21:07] mjbvz commented on #10806
@FredrikFolkesson Please open new issues for any problems related to `go to implementation`. Include a small project and a list of  repo steps so that we can investigate

Thanks

[2017-04-12 21:10] MSP-Greg commented on #24600
@mjbvz Thank you for the info.  I have seen that doc in the link.  I'll read the whole thing this time...

[2017-04-12 21:11] brucejo75 commented on #22818
Thanks @roblourens, any thoughts on why `node-inspector` is able to handle the fake `meteor://` paths?
I am writing an issue for the meteor folks and want to make sure I understand this.

Thanks!

[2017-04-12 21:13] mjbvz commented on #24581
A few questions:

* Do you see any other messages or just the warning/error about TypeScript not being restarted?
* Are you using a custom `typescript.tsdk` setting?
* Does this happen for all projects you open, or only some projects?
* Does it happen if you disable extension? Try launching code with `--disable-extensions`

Can you also try collecting the TypeScript server logs:

1. In VSCode 1.11

[2017-04-12 21:14] StephenWeatherford commented on #24562
I get a window saying “Starting Visual Studio Code – Insiders”, but after several seconds it goes away and the app never shows.

From: Alexandru Dima [mailto:notifications@github.com]
Sent: Wednesday, April 12, 2017 1:31 PM
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: Stephen Weatherford <Stephen.Weatherford@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/vscode]

[2017-04-12 21:20] m1tk4 commented on #3006
Also, "integratedTerminal" works very well for this.

[2017-04-12 21:28] bobmagicii opened #24635 "Show a confirmation dialog before DND in the explorer"
please, before doing the final operation

ask us

"are you sure you want to move this file"

the vscode side pane makes it so easy to accidentally move shit it happens to me all the damn time. :(

![image](https://cloud.githubusercontent.com/assets/881944/24980259/561476ee-1f8c-11e7-99c4-52a33fc3b9f9.png)

constantly accidentally drag dropping folders into other folders, this time `tools` got drag