[2020-12-02 02:45] VohuMana commented on #81337
Why is it a feature request to fix broken functionality? I still get the message that pop up saying the functionality has been changed and if I want to change it back I need to go to key bindings and reset the keybinding, the issue is resetting the keybinding does not bring back the old functionality because setting the keybinding seems to be broken or the line break is somehow stealing the key ev

[2020-12-02 02:47] Abbyyan commented on #111697
https://github.com/microsoft/vscode/issues/70444

[2020-12-02 02:48] Abbyyan commented on #111697
As shown in https://github.com/microsoft/vscode/issues/62103 , I can only get the terminal exit code rather than the cmd exit code . Am i right?

[2020-12-02 02:51] mehtaarn000 opened #111698 "Add a LICENSE Auto-filler"
Hello. Whenever I create a `LICENSE` file in Visual Studio Code, it would be great if I got to select my preferred license (such as MIT) and have the file automatically filled out with said license. Thanks in advance.

[2020-12-02 03:04] sana-ajani opened #111699 "workbench.startupEditor setting not showing Getting Started tab"
Testing #111554

Trying out with the setting "workbench.startupEditor": "gettingStarted". Opening up a new window shows a blank window for me, no Getting Started tab.

![recording](https://user-images.githubusercontent.com/9721254/100822807-048f5700-3421-11eb-999e-4dd5489bc368.gif)

[2020-12-02 03:09] dlindhurst commented on #107382
@pselle @mfox1 I just published the [TabSpacerSelect](https://marketplace.visualstudio.com/items?itemName=dlindhurst.tabspacerselect) extension that does this.

[2020-12-02 03:10] dimas-adi-kris opened #111700 "something pops up"
Issue Type: <b>Performance Issue</b>

while i was typing, there is a pop up window. i don't know what it is because when i click space, it confirm something. i don't know if it's something important because i suddenly click space. I'm pretty sure it's from VSCode because i ran VSCode on second screen and the pop up appear on the same screen

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c

[2020-12-02 03:20] ItalyPaleAle opened #111701 "Recommend the Svelte extension when opening a .svelte file"
When opening a file with the `.svelte` extension, VS Code should recommend installing the Svelte extension (`svelte.svelte-vscode`)

[2020-12-02 03:21] AlexBrasileiro commented on #869
Hey @shhlkien one way is to use the logic of two `**` after the folder you want to keep, in your case:

```"client/*[!webpack]**": true```

![Screen Shot 2020-12-02 at 00 20 04](https://user-images.githubusercontent.com/15070031/100824039-28a86380-3434-11eb-92fa-0148c146360c.png)

hope it works :)

[2020-12-02 03:22] AlexBrasileiro commented on #869
That Cool! One more possibility, thanks for sharing  o/

[2020-12-02 03:27] sana-ajani opened #111702 "Getting Started experience resizing window"
Testing #111554

The "skip" button isn't responsive when resizing the window and overlays onto the tasks. Maybe it should be in the bottom corner when the window resizes or at the top, above the tasks? It would be good to have a vertical scroll bar as the window resizes too.

![recording (1)](https://user-images.githubusercontent.com/9721254/100823170-b9c20f00-3421-11eb-9d05-e39fd73b4ca4.gif)

[2020-12-02 03:28] IllusionMH commented on #111696
I'm not sure if Search results are rerendered on settings change. Do you see line number if you run search again after enabling this setting?

[2020-12-02 03:33] Azson opened #111703 "split terminal work fail when the path of project contains Chinese"
We have written the needed data into your clipboard because it was too large to send. Please paste.When I open a project by VsCode which contains Chinese in file path， it doesn‘t work that tried to split terminal.
It show that:
The terminal process failed to launch: Starting directory (cwd) "/Users/azson/Desktop/123/123/\xe8\xaf\x84\xe4\xbb\xb7\xe7\xb3\xbb\xe7\xbb\x9f\xe7\x9b\xb8\xe5\x85\xb3/code/

[2020-12-02 03:38] shaunakv1 opened #111704 "VS code uninstalled itself completely on closing open windows?!"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. VS Code is uninstalling itself automatically! This keeps happening yet someone closed this ticket with all the people complaining #93072
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-12-02 03:42] YoraiLevi commented on #11770
I checked the source code and tested the API for decorating text.
The entire code is based on the `setDecorations` (a method of TextEditor) provided by the [API](https://code.visualstudio.com/api/references/vscode-api#TextEditor). based on this article https://vscode.rocks/decorations/ and the API, it seem that not all css properties are mutable with this method, I had tried blindly using more css

[2020-12-02 03:45] Abbyyan commented on #111697
https://github.com/microsoft/vscode/issues/47066 As shown there, the pid is the shell pid rather than the cmd pid ?

[2020-12-02 03:46] sana-ajani opened #111705 "Getting Started: Reset Progress doesn't reset all"
Testing #111554

`Getting Started: Reset Progress` only resets the progress of the "Get Started" collection, not the "Essentials" collection. Is that intended? Will the user get an option to go through and reset each collection again or reset the whole experience in one command?

![recording (2)](https://user-images.githubusercontent.com/9721254/100825161-710c5500-3425-11eb-830c-4ea3a731e949.gif)

[2020-12-02 03:48] Azson commented on #111703
fixed from same issue：https://github.com/microsoft/vscode/issues/83496

[2020-12-02 03:48] #111703 closed

[2020-12-02 03:51] sana-ajani opened #111706 "Getting started: images need alt text"
Testing #111554

Images aren't loading for the "Get Started" collection. In this case, should there be some alt text or description of the image/gif?

![image](https://user-images.githubusercontent.com/9721254/100825955-4cb17800-3427-11eb-911f-2410f18a861b.png)

[2020-12-02 03:52] shhlkien commented on #869
Thank for your help, I tried many combinations but the result still wasn't as expected. In your way, the folder is appear but all files inside it aren't visible.

[2020-12-02 04:00] Gi0rgi0s opened #111707 "Ability to "Duplicate File" file from right-click menu in file explorer"
- I would like for there to be a "Duplicate File" option in the right-click menu (see attached image).
- This option would generate a copy of the file that was right-clicked.
- In example, if I right click a file called "hello.txt" and clicked "Duplicate File" a second file would be created called "hello2.txt" that would contain the contents of "hello.txt"

<img width="200" alt="Screen Shot 2020-1

[2020-12-02 04:17] sana-ajani commented on #111554
This looks awesome Jackson! I'm really excited to see this experience come together.

[2020-12-02 04:20] LaodaLuo opened #111708 "ctrl could be invalid when after tab switching"
Follow this steps to repeat it:
1. ctrl + tab, to switch another tab.
2. ctrl + z or ctrl + y, to revoke or redo

It would be fail many times to revoke or redo when doing step 2.

[2020-12-02 04:34] ffMathy commented on #111698
Why not just create an extension for this?

[2020-12-02 04:47] ljanu opened #111709 "hlava"

[2020-12-02 04:47] #111709 closed

[2020-12-02 04:56] #111313 closed

[2020-12-02 04:59] gjsjohnmurray commented on #111687
I think you should do it like this

https://github.com/microsoft/vscode/issues/111618#issuecomment-736557773

[2020-12-02 05:01] #111518 closed

[2020-12-02 05:05] sana-ajani commented on #111531
In the treeview extension sample, I can contribute a codicon in the viewContainer for the Package Explorer and I see that in the activity bar. But I'm not sure what/where I should be seeing the icon when I set the codicon for the Node dependencies view in Package Explorer viewContainer.

[2020-12-02 05:06] NaturalFigurehead commented on #111248
@alexdima `code --disable-renderer-accessibility` resolved the issue.

[2020-12-02 05:10] eamodio opened #111710 "Using Page Up/Down keys in a treeview causes errors"
![image](https://user-images.githubusercontent.com/641685/100830861-9d7a9e00-3432-11eb-8493-e720f57d54dc.png)

Here I was paging up/down in the GitLens commits view and get this error.

I don't know if this is related to the `resolveTreeItem` work or not

[2020-12-02 05:12] mehtaarn000 commented on #111698
@ffMathy I have 0 experience with TypeScript, so I probably wouldn't be able to make it anytime soon. My bio has JavaScript in it, but I'm pretty much a beginner with the language.

[2020-12-02 05:13] eamodio commented on #111613
Yeah, seeing the same thing -- they seem to resolve immediately on becoming visible.

[2020-12-02 05:20] eamodio opened #111711 "resolveTreeItem is only ever called once, even after an `onDidChangeTreeData` for that item"
Testing #111515

While the docs do state this, it should not be the case, if you trigger a refresh, via `onDidChangeTreeData`. Refreshing a tree item, completely resets it -- calling `getTreeItem` again, creating a whole new TreeItem, so this reset things so that `resolveTreeItem` would be called again.

[2020-12-02 05:24] MoonbowRay opened #111712 "won't allow typing"
Issue Type: <b>Bug</b>

My computer (HP laptop) doesn't work well with Prettier.  When I save my VSC doesn't fix anything with Prettier.  Also, it is not allowing me to type in the editor anymore <.  I see what I am typing on the status bar below.  However , it is not showing up in the editor itself

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)

[2020-12-02 05:25] louis925 commented on #111685
Yes!

[2020-12-02 05:29] sandy081 commented on #111531
View icons are shown when you drag the view on to activity bar.

[2020-12-02 05:35] eamodio opened #111713 "Accessing links in TreeItem hovers is tricky"
Testing #111515

![treehovers](https://user-images.githubusercontent.com/641685/100832471-f0098980-3435-11eb-94d0-11e7baf92e4c.gif)

Also, when you do hover over the hover, it seems to actually take focus from the tree -- notice the item highlight & actions go away as well as the view header actions. I don't think it should take focus unless you actually click into it.

This might be related to wh

[2020-12-02 05:37] #111515 closed

[2020-12-02 05:40] gjsjohnmurray commented on #111712
Does the problem also happen if you run the command to reload with all extensions disabled?

[2020-12-02 05:42] gregvanl opened #111714 "Smart selection doesn't respect header levels on release notes Markdown"
Testing #111329

1. Open a release notes Markdown file like vscode-docs repo /release-notes/v1_51.md
2. Place the cursor in the paragraph below the "More prominent pinned tabs" H3.
3. Expand the selection

I would expect that the selection would go to the H3 but instead it selects from the top of the file to somewhere about 1/2 way down. Another expansion, selects the rest of the file.

On simpler

[2020-12-02 05:57] sana-ajani commented on #111531
Ah gotcha, thanks for explaining! Cool, this works well.

[2020-12-02 06:05] eamodio opened #111715 "Mixing resolveTreeItem and onDidChangeTreeData leads to TreeItem corruption"
Testing #111515

In `resolveTreeItem`, after a possibly long running operation, I am firing an `onDidChangeTreeData` for the resolved item (after a 50ms `setTimeout`). And I am seeing tooltips for many items swapped around or duplicated. It seems like there is some internal data corruption in the tracking of which resolve goes with which item or something.

You can see it in action using this bran

[2020-12-02 06:20] jrieken commented on #111669
Do you know how? Wouldn't this require to disable arbitrary subsets of extensions which means that it will take quite some steps?

[2020-12-02 06:22] jrieken commented on #111666
Yeah - bisect disables extensions using a low-level mechanism which doesn't allow for user enablement. I am also not sure that it is a good idea to "randomly" re-enable some extensions as that basically breaks the bisect flow

[2020-12-02 06:24] GeekerSu commented on #111151
Definitely cool idea!

[2020-12-02 06:30] Mingun opened #111716 "Menu selections jumps to the first element when try to select sub-menu"
Issue Type: <b>Bug</b>

See attached GIF: when you try to select sub-menu element the menu selection focus jumps to the first element of menu which caused to hide sub-menu.
![VSCodeMenuBug](https://user-images.githubusercontent.com/450131/100836768-b36b7b80-3491-11eb-91d7-2e1727dd8fd2.gif)

For clarify: this happens when I connect to my Ubuntu 18.04/20.04 remotely via RDP (with xrdp). Maybe this b

[2020-12-02 06:33] jrieken commented on #111548
Ok, thanks for the steps. Took a while but this the designed behaviour because the document isn't actually closed. When closing the _editor_ we take the freedom to keep documents arounds for a bit and only clean them up later. You can observe that with the onDidClose/onDidOpenTextDocument events. So, when a document has been kept then it already has the listener for setting the dirty flag.

[2020-12-02 06:33] #111548 closed

[2020-12-02 06:33] johlems opened #111717 "VSCode (Git Bash Terminal *White Boxes* Issue)"
![Capture](https://user-images.githubusercontent.com/19777107/100836943-3220e280-34ab-11eb-8b5f-d44fb6a54eeb.PNG)

I'm not sure if my PC Monitor has a problem or the VS Code itself.

[2020-12-02 06:36] bpasero commented on #111423
No, it has to be `ThemeIcon`.

[2020-12-02 06:40] bpasero commented on #111689
Yeah by design, all file editor inputs are actually shared across all open editors. This is a limitation I cannot easily resolve and I think should be fine.

[2020-12-02 06:41] #111689 closed

[2020-12-02 06:41] bpasero commented on #111687
String is for when you pass a color, which is unsupported here.

[2020-12-02 06:43] bpasero commented on #111633
@NaomiN when this file opens automatically does it appear as dirty? and if so, when you close it and say "Don't save" does it work?

[2020-12-02 06:44] shiduobin commented on #107999
I had the same problem, and the memory explosion was high

[2020-12-02 06:53] jeanp413 commented on #111537
Created a PR to fix this https://github.com/microsoft/vscode-html-languageservice/pull/93

[2020-12-02 07:07] #111618 closed

[2020-12-02 07:09] bpasero commented on #111618
I pushed a fix. I do not change the `color` property provided from the extension to not cause weird side effects, I just internally enforce to use the error foreground color if the background color is set.

[2020-12-02 07:12] #111607 closed

[2020-12-02 07:14] deepak1556 commented on #111248
thanks for testing, merging to https://github.com/microsoft/vscode/issues/107016

[2020-12-02 07:14] #111248 closed

[2020-12-02 07:16] bpasero commented on #111641
This is due to our various `z-index` being used in tabs, I am a bit afraid to change this so late in endgame, will revisit next month.

[2020-12-02 07:19] polinasok opened #111718 "A way to trigger user-visible error/warning/info pop-up outside of an ErrorResponse"
When we get an error while responding to a request, we can return an `ErrorResponse` and set `showUser` to get a very visible error pop-up.
![image](https://user-images.githubusercontent.com/51177946/100839715-86837e00-3429-11eb-9607-3d2c28cf7e77.png)

Sending an ErrorResponse not tied to a request (e.g. a dup of the most recent response) is ignored (https://github.com/golang/vscode-go/issues/182)

[2020-12-02 07:22] KaungZawHtet opened #111719 "Hard to copy texts from debug console."
When copying text from it, selected part should be colorized.
As a bonus req, I wish the feature of copying whole line on debug console ( Currently we can copy entire text from debug section)

[2020-12-02 07:31] bpasero commented on #111603
@weinand I cannot reproduce. Can you confirm that launching VSCode from the dock is 4 or 11 seconds slower? If not, this would hint that we don't resolve the shell environment and thus no notification is shown. If that is the case, I wonder: are you running from a Snap installation or Deb package? And what distribution?

[2020-12-02 07:33] bpasero commented on #111650
**Scenario 1:** what you see is expected. when you run VSCode from the terminal, we will not resolve the shell environment on startup but take everything we have from the moment you start. Since `.bashrc` was edited without restarting the terminal, you do not see your new variable defined. However, terminals inside VSCode are always sourced from `.bashrc` on opening so you may end up with differen

[2020-12-02 07:36] #111512 closed

[2020-12-02 07:41] #111668 closed

[2020-12-02 07:42] bpasero commented on #111668
Yeah I think this is fair. Needs verification:
* this menu action is now always visible and reflects the current state of preview editors
* you can toggle enable and disable it from there

[2020-12-02 07:44] #111549 closed

[2020-12-02 07:51] clankill3r commented on #84162
@github-actions  (not sure if I should at a bot...), @weinand
I'm in the process of reinstalling my OS, I will test a.s.a.p.

[2020-12-02 07:51] baruchiro commented on #11770
So is anyone can create a simple VSCode Extension for that?
I'm sure we will help you after the initialization...

[2020-12-02 08:04] deepak1556 commented on #111662
unable to repro, all tests pass with latest insiders. Also tested with `electron-11.x.y` branch and insiders based on Electron 11.

Pretty sure the electron version from OSS copy mismatched with the version from insiders that was tested, since we had a delay in releasing insiders after the Electron 9 revert.

[2020-12-02 08:04] #111662 closed

[2020-12-02 08:09] alexdima commented on #111599
@rebornix Did you add nls usages to your web worker? If yes, then you have quite a lot of work to do to get that to work.

[2020-12-02 08:10] Mukeshbadyal opened #111721 "Program 'a.exe' failed to run in C++"
When i write the program in C++
Execution is run successfully
but a.exe file is not run
Note:a.exe file is shown but suddenly disappear
![image](https://user-images.githubusercontent.com/68585320/100845832-c8e9a100-34a3-11eb-9b6c-de58362b9383.png)
![image](https://user-images.githubusercontent.com/68585320/100845888-dbfc7100-34a3-11eb-8e81-5d2e78d1ef95.png)

[2020-12-02 08:16] weinand commented on #111694
What debugger are you using?

[2020-12-02 08:17] joaomoreno commented on #111658
Yeah this is a long standing issue with this approach, but one which we don't really have an answer for, unfortunately.

[2020-12-02 08:19] #111698 closed

[2020-12-02 08:20] chanmaoooo commented on #109510
I've checked. I could find the "Delete Word" action and bind a keybinding to it. The function works properly. Thank you!

[2020-12-02 08:22] eamodio commented on #32813
I still want it to make more of the GitLens blame annotations themeable -- since `gutterIconPath` isn't themeable today, so I need to generate svgs with specific colors. But if I could read a theme color, then I could use that value to re-generate the SVGs

[2020-12-02 08:23] weinand commented on #111603
@bpasero
- Launching VS Code from the dock is not 4 or 11 seconds slower.
- I'm not using snap and I'm updating VS Code to the latest via the standard SW update mechanism.
- I'm using Ubuntu 20.04.

[2020-12-02 08:29] Zorono commented on #111629
[code]

[2020-12-02 08:31] regostar opened #111722 "Sort imports does not work for python environment"
- VSCode Version:1.51.1
- OS Version: windows 10

Steps to Reproduce:

1. In a django/python workspace, the Sort imports feature does not work
2. Here is the output :-

Traceback (most recent call last):
  File "/home/ubuntu/.vscode-server/extensions/ms-python.python-2020.11.371526539/pythonFiles/pyvsc-run-isolated.py", line 30, in <module>
    runpy.run_path(module, run_name="__main__")
  File "/

[2020-12-02 08:39] sandy081 opened #111723 "Unable to copy empty deleted line using Copy Deleted Line (number) action"
Testing #111544

- Delete a single empty line
- Use the action `Copy deleted line (number)`
- Paste it
🐛 Does not paste. But it works when I use `Copy deleted lines` action

![Kapture 2020-12-02 at 09 37 46](https://user-images.githubusercontent.com/10746682/100849052-4c929600-3482-11eb-9cb3-f786acaa302e.gif)

[2020-12-02 08:41] isidorn commented on #111015
Thanks for testing!

[2020-12-02 08:41] joaomoreno commented on #111366
There was a problem publishing this commit's specific server bits. It's a separate and isolated issue. Today's Insiders will be OK.

[2020-12-02 08:42] sandy081 opened #111724 "Is not the action shall be named Copy Changed Line instead of Copy Deleted line when the line has changes"
Testing #111544

<img width="1089" alt="image" src="https://user-images.githubusercontent.com/10746682/100849302-a6935b80-3482-11eb-9430-dee9aa84d2c8.png">

[2020-12-02 08:42] glt248 commented on #111571
Sorry it's a fake problem, one of my screen was activated but not powered (closed laptop)...

Thanks!

[2020-12-02 08:42] #111571 closed

[2020-12-02 08:45] shuhaojie opened #111725 "Can not connect sever with ssh"
Hi VS code,
   I try to connect with my server with VScode but it failed.  I have ssh extension downloaded. There are two things that is worth mention. First, I can connect it with my Terminal. Second, not all the servers are not able to connect. I can connect some of them with VScode. Any suggestion?

[2020-12-02 08:45] alexdima commented on #111723
forwarding since this is unrelated to wrapping.

[2020-12-02 08:45] jrieken commented on #111722
/extPython

[2020-12-02 08:45] alexdima commented on #111724
forwarding since this is unrelated to wrapping.

[2020-12-02 08:45] #111722 closed

[2020-12-02 08:46] isidorn commented on #111479
Might be due to electron, but if you can not reproduce with Insiders I would believe this is fixed with latest and I would just close this. However first forwarding to @deepak1556 so he can decide

[2020-12-02 08:46] alexdima commented on #109503
@ccornici Could you please create a new issue with reproducible steps?

[2020-12-02 08:47] #111707 closed

[2020-12-02 08:48] aeschli commented on #111528
I can see that in the lower right corner, the language is `html` (all lower case). The built-in HTML extension uses `HTML`.
Can you run with all extensions disabled (Command: `Developer: Run with Extensions disabled` and check whether you still see the issue?

[2020-12-02 08:48] alexdima commented on #111505
@rajeshkhanikar Do you have a problem with a particular file or with the editor? Can you for example create a new file and paste the desired characters?

[2020-12-02 08:49] jrieken commented on #109594
idk - didn't see this anymore. might have been #110479 which leaked the list templates which then leaked editor and documents. optimistically closing

[2020-12-02 08:49] jrieken commented on #111672
I like that

[2020-12-02 08:50] sandy081 commented on #111649
I think this works for me. This is same old language overrides UX issue. Markdown settings are overridden at language so, you need to update the setting using markdown language as follows

[code]

[2020-12-02 08:51] Rexlu opened #111726 "Editor operation problem."
Issue Type: <b>Bug</b>

When the cursor to select(+Alt) the text range exceeds the screen area, the scroll bar of the window cannot be combined with the cursor action to scroll the text selection range.

But without +Alt to cursor to select the text, can be combined with the cursor action to scroll the text selection range.

This is the cursor scroll text with Alt key's problem.

VS Code version:

[2020-12-02 08:51] alexdima commented on #111630
I've changed the title to reflect easier repro steps:
* type in editor
* click in explorer
* try to undo

[2020-12-02 08:52] bpasero commented on #111612
I pushed https://github.com/microsoft/vscode/commit/c44732014de3bfe009d56b4eb7371ef7d2a4987c which will ensure that the window the files are open in get's focus. However, seeing https://github.com/microsoft/vscode/issues/111620 and https://github.com/microsoft/vscode/issues/111605, this may not be the window that is the parent of that file.

[2020-12-02 08:52] #111612 closed

[2020-12-02 08:53] bpasero commented on #111612
@isidorn maybe you could verify this (out of sources is fine too), I am not entirely sure I got your second comment right.

[2020-12-02 08:53] alexdima commented on #111649
@sandy081 Thank you for taking a look. But I can reproduce, this issue is about using `diffEditor.wordWrap` which I introduced as an override for the `editor.wordWrap`, even if `editor.wordWrap` comes in via language specific settings. In other words, using `"diffEditor.wordWrap": "off"` should disable word wrap in all diff editors, including markdown files.

[2020-12-02 08:54] isidorn commented on #111612
My second comment is: if I pass a code-workspace file to open a brand new workspace that window shuold be focused.

Sure I can verify this, adding label bug so I do not miss this

[2020-12-02 08:56] bpasero commented on #111620
I will merge this into https://github.com/microsoft/vscode/issues/111605 because the fix is related.

[2020-12-02 08:56] #111620 closed

[2020-12-02 08:56] alexdima commented on #111487
@aloncGithub Does this reproduce when disabling all extensions? Press `F1` and then choose `Developer: Reload Window with Extensions Disabled`

![Kapture 2020-07-20 at 15 28 23](https://user-images.githubusercontent.com/5047891/87943040-c3b02a80-ca9d-11ea-847d-5f850fae8f05.gif)

Here I have tried with your steps and could not reproduce:
![TO_UPLOAD](https://user-images.githubusercontent.com/504789

[2020-12-02 08:56] alexr00 commented on #111715
I think we said that you shouldn't call `onDidChangeTreeData` from `resolveTreeItem` when designing the API. I will update the comment, and see if I can ignore `onDidChangeTreeData` from within `resolveTreeItem`.

[2020-12-02 08:57] sandy081 commented on #111649
Yeah I am sorry, I was mistaken about the setting while testing. I was testing with `editor.wordrWrap` and I thought this issue was about that.

I can repro the issue with `diffEditor.wordWrap` setting.

[2020-12-02 08:58] bpasero commented on #111605
The [code to open windows on startup](https://github.com/microsoft/vscode/blob/c44732014de3bfe009d56b4eb7371ef7d2a4987c/src/vs/platform/windows/electron-main/windowsMainService.ts#L541-L795) is a horrible mess. Even Frodo would rather happily travel again through Moria than look at that code for any minute....

I am too afraid to change the existing code. Truth is, we actually do not pick a good w

[2020-12-02 08:59] sandy081 commented on #111544
👌 Works like charm

[2020-12-02 09:01] Danieleeee opened #111727 "set encoding in the integrated terminal"
With the new task runner that executes task in the terminal using a shell this got simplified a lot. Tips and tricks on how to control the encoding can be found here: https://github.com/Microsoft/vscode-docs/blob/vnext/docs/editor/tasks.md#changing-the-encoding-for-a-task-output

As explained there is not generic way how this can reasonably be solved for different OSes and shells.

_Originally pos

[2020-12-02 09:01] isidorn commented on #111620
Makes sense, thanks.

[2020-12-02 09:01] Danieleeee commented on #111727
In my extension, process is executed through processExecution:
oradew-vscode/src/extension/task-provider.ts

Line 80 in 2e9da92

 new vscode.ProcessExecution(

I believe that is the reason why shellArgs don't do the trick here and I am not sure if it is possible to pass chcp to terminal used in processExecution and how.

[2020-12-02 09:02] bpasero commented on #111612
Hm interesting, while this seems to work for folders, it does not seem to work with workspace files. Is that what you saw? Passing a new folder correctly focusses that new folder even when other windows restore, but not when you pass a workspace file from the command line?

[2020-12-02 09:02] isidorn commented on #111719
This is a fair feature request. However no plans to tackle right now -> backlog.

[2020-12-02 09:04] #111544 closed

[2020-12-02 09:09] #111537 closed

[2020-12-02 09:12] ffMathy commented on #111656
It should be mentioned that I tried with many different combinations of choices in `yo code`. All of them were TypeScript though. But I tried with and without webpack for instance.

[2020-12-02 09:12] ItsDigitalEngine opened #111728 "Intellisense Not Working"
Issue Type: <b>Performance Issue</b>

Hello,

Intellisense on my copy of Visual Studio Code is not working. I have tried several troubleshooting methods such as restarting the program, restarting my device, and re-installing my program. Nothing is working. Please advise. Thank you.

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-11T01:11:34.018Z)
OS version: Darwin

[2020-12-02 09:13] bpasero commented on #111603
I cannot understand this, we do have a `--force-disable-user-env` variable to forcefully disable this, but this is probably not being set when starting from the dock.

@joaomoreno need your advice here. Any clues why we would not resolve shell env when started from the dock?

Proof of what I see:

![recording](https://user-images.githubusercontent.com/900690/100852345-a9904b00-3486-11eb-996d-8541c

[2020-12-02 09:13] eamodio commented on #111715
Its in a `setTimeout`, so you won't be able to ignore it -- and it isn't really "within" the `resolveTreeItem` because of that either. So it should definitely not cause data to get mismatched/corrupted.

[2020-12-02 09:13] aeschli commented on #111599
@alexdima I will move the description out...

[2020-12-02 09:19] isidorn commented on #111612
Correct. That is what I saw.

[2020-12-02 09:20] isidorn commented on #111693
Good catch, assigning to November to try to fix

[2020-12-02 09:21] isidorn commented on #111692
Assigning to November to investigate more

[2020-12-02 09:24] joaomoreno opened #111729 "Build: Fix Linux integration tests"
Our Linux Integration Tests have been often failing with out of memory for a while now. They have been disabled until we fix the underlying problems: https://github.com/microsoft/vscode/commit/8041440e5b6f417afec05d8e0cd677282905d520

Log: [427.txt](https://github.com/microsoft/vscode/files/5628146/427.txt)

The log shows warning messages throughout the suite:

And then it finally fails:

A few th

[2020-12-02 09:25] bpasero commented on #111612
Ok will look into that separately.

[2020-12-02 09:30] xavierhazzardadmin commented on #108447
This didn't work for me

[2020-12-02 09:33] bpasero opened #111730 "Notebook integration tests: Element already has context attribute"
For example: https://dev.azure.com/monacotools/Monaco/_build/results?buildId=95890&view=logs&j=1c20ec05-7612-5293-9b87-7ea15c22422f&t=d9b931d5-6469-5709-27a9-2ddd8b3d265c&l=1210

[code]

[2020-12-02 09:35] bpasero commented on #111729
A couple of thoughts:
- we start a test against a built VSCode instance and then shutdown and then start the next, is it possible that previous instances did not shutdown properly and give back memory?
- the out of memory seems to originate from notebook integration tests and maybe we are actually leaking notebooks and don't free memory when closing a notebook (@rebornix, @jrieken )?

[2020-12-02 09:41] joaomoreno commented on #111729
While it seems to always occur during the notebook tests, the memory warnings start showing way before.

[2020-12-02 10:00] lszomoru commented on #111533
Works as advertised 👍🏻

[2020-12-02 10:00] #111533 closed

[2020-12-02 10:00] aminroosta commented on #3352
@aeschli The code has changed significantly since the last time i took a look.
Seems like now we have proper support for languages to provide their own folding ranges.

However, it seems that all of them are not hiding the folding end line (html, js, ts, rs, etc ...).

Would something along these lines be acceptable? https://github.com/microsoft/vscode/compare/master...aminroosta:master

[2020-12-02 10:00] AllanOricil commented on #111619
@prashantvc I solved my problem publishing another patch. But it would be worthy to take a look at that.

[2020-12-02 10:00] #111649 closed

[2020-12-02 10:07] bacuffe1 commented on #111634
Hi Rob, thanks for looking.

Confirmed : "Search: Seed With Nearest Word" was also ticked.
I experimented with disabling it and re-enabling it - neither action made any difference to the described behaviour.
keybindings and settings attached, do you want any others?
[User.zip](https://github.com/microsoft/vscode/files/5628441/User.zip)

[2020-12-02 10:13] Mingun commented on #111579
Thanks, that fixes my problem.

[2020-12-02 10:14] alexdima commented on #111599
Actually we have different definitions for `workerMain.js` in the standalone editor and in the workbench, so we can include `vs/nls` only in the case of the workbench.

[2020-12-02 10:15] bridgetowisdom commented on #111528
Thank you for your reply.
I found `Developer: Reload with extensions disabled` instead of what you specified; I hope they work the same.
Here is the highlighting with the extensions disabled:

![extensions_disabled](https://user-images.githubusercontent.com/62489255/100859355-6c7c8680-348f-11eb-8f5f-a34717b96e0b.png)

The issue is still present.

[2020-12-02 10:15] #111599 closed

[2020-12-02 10:21] aminroosta opened #111731 "Hide FoldRegion end line"
As discussed in #3352 :

[2020-12-02 10:27] weinand commented on #111603
@bpasero the problem is the following:

I have ".bash_profile" in my home directory. Probably that got created by some ASP.NET installer (because it contains mono/.net related stuff).

It seems that applications started from the dock run "bash" in a way that first tries to load ".bash_profile" and only if that fails load ".bashrc".

If I remove ".bash_profile" the shell run by VS Code uses ".bashr

[2020-12-02 10:31] jrieken commented on #111667
<img width="765" alt="Screenshot 2020-12-02 at 11 29 25" src="https://user-images.githubusercontent.com/1794099/100861160-bb2b2000-3491-11eb-9b2b-13a6e91234f3.png">

I now reusing the message from the notification that shows after window reload.

[2020-12-02 10:34] jrieken commented on #111672
Tho, just to clarify: When you "randomly" say "good now" on all prompts then you do get a false result and there is nothing we can to prevent this

[2020-12-02 10:47] #111674 closed

[2020-12-02 10:49] #111531 closed

[2020-12-02 10:49] jrieken commented on #111672
Pushed a change that makes extension bisect start with all extensions disabled. If it's then bad it goes the "might be an issue with vscode"-way. But when always saying "good now" you can get a false result

[2020-12-02 10:51] isidorn commented on #111592
@sandy081 This works just fine for me.
I believe you had the find widget open or some other thing was eating the `esc` key. Which is designed - I gave the exception widget close a normal priority, so closing the find wigdet would happen first.

Please let me know if you always see this, and if you doing something differently than me?

[2020-12-02 10:55] slepovron commented on #111132
Re-installation (via snap store) did not help, but for now I will use the existing solution.
Thank you.

[2020-12-02 11:01] #111593 closed

[2020-12-02 11:01] isidorn commented on #111593
Treating as a bug since closing the exception widget while the focus is in the exception widget should pass focus to the editor. Which it now does.

[2020-12-02 11:02] #111667 closed

[2020-12-02 11:05] #111601 closed

[2020-12-02 11:05] isidorn commented on #111601
Changed this.
I think for the future the pattern with `...` should be: that we add them when additional input is required from a not so connected place - for example quick pick.

fyi @bpasero and @misolori for thoughts on when to use `...` at end of action labels

[2020-12-02 11:07] sandy081 opened #111732 "Extension editor is not opening"
Running from sources

- Go to extensions view and click on an extension

🐛 Extension editor is not opening

[2020-12-02 11:08] sandy081 commented on #111732
Seems caused by the fix - https://github.com/microsoft/vscode/issues/111496

[2020-12-02 11:23] aeschli commented on #111731
Yes, each folding range provider defines how the folding ranges exactly look like. It really depends on the language and the language's formatting conventions. That's why I why in the end each provider needs to come up with their own settings to tune the folding ranges, and why the users that want different folding behavior for a language should file it for that language. I tried to explain that i

[2020-12-02 11:24] isidorn opened #111733 "resourceNavigator.onDidOpen passes elements not indexes"
Out of source, can no repro in insiders
Clicking on list elements no longer opens them.
Open editors -> click on element -> does not get opened
Brekapoints -> double clikc on element -> exception

The issue seems to be that `onDidOpen` `e.element` is no longer an index, but a whole element.
Code pointer where Breakpoints is using this https://github.com/microsoft/vscode/blob/37302386478ae702a0d9ab

[2020-12-02 11:27] #111278 closed

[2020-12-02 11:27] #111263 closed

[2020-12-02 11:27] #111244 closed

[2020-12-02 11:27] #111219 closed

[2020-12-02 11:27] #111165 closed

[2020-12-02 11:27] #110893 closed

[2020-12-02 11:30] aeschli commented on #111731
It's really a hack that you are suggesting, working only for a few cases where there is an end token. But in many cases the next folding range already starts on the next line. Just a example that comes to my mind:
[code]
You can experiment with that by implementing your own folding provider, copying the indentation based strategy and modifying it.
That said, we are lacking a solution when there ar

[2020-12-02 11:30] #111671 closed

[2020-12-02 11:32] isidorn commented on #107704
Still can not reproduce this. Moving to next milestone.
Let me know if somebody can consistetnly repro this so we do a remote debugging session some time next week.

[2020-12-02 11:54] #111617 closed

[2020-12-02 11:55] isidorn commented on #111617
As you suggested I have improved the label. However I will only have the precise lable for in explrorer actions - where I already have the items resolved and I know if they are folders and files.
For dragging outside of vscode I actually do not know if they are files or folders. And due to that in your particular use case I will say "resources".
I think that is fine for now

[2020-12-02 11:55] hahoyer opened #111734 "Implement Line scrolling like in Visual Studio 2019"
If you use the Line-Scroll function, the selected line is preserved - even if it leaves the visible area by scrolling. This is quite annoying and I don't know any editor that does it that way. The other editors make sure that the selected line always stays visible by moving it accordingly when it reaches the top or bottom of the screen. This results in a much better usability. As an example you ca

[2020-12-02 11:57] acoutts commented on #107704
@isidorn I can be available any time 8am-5pm in EST (GMT -5), just let me know the day and I would be happy to do a remote screen share / debugging session.

[2020-12-02 12:07] isidorn commented on #111631
This works just fine for me on my macOS. I tried it intensively 10+ times both via keyboard and context menu
Also assigning to @alexdima since the error is coming from the Undo Redo service and he might have ideas

[2020-12-02 12:09] isidorn commented on #107704
@acoutts great, can you please just send me an email and we can work out the details for next week. inikolic at microsoft dot com

[2020-12-02 12:11] dbaeumer opened #111735 "Cell editor looses focus"
Testing #111552

Steps:

- edit in cell
- press Ctrl+F for find widget
- press escape to close find widget

Observe: cell has no focus anymore

![cast](https://user-images.githubusercontent.com/1931590/100871053-e61c7080-349f-11eb-8983-98ea0d540f40.gif)

[2020-12-02 12:12] isidorn commented on #111659
I believe this is by design of the Editor.
Somewhat similar, just the other way around https://github.com/microsoft/vscode/issues/111630

Also assigning to @alexdima since this is Editor behavior and I think we can easily change it to undo only things from the Editor.

The other way to fix this, is to keep this as it is and to change https://github.com/microsoft/vscode/issues/111630
Basically maki

[2020-12-02 12:14] isidorn commented on #111653
Let's also assign @jrieken for ideas

[2020-12-02 12:15] alexdima commented on #111659
This is consistent with other kind of operations, like a refactoring which renames the file and then typing in the file. At one point, when the focus is in the editor and undoing it will hit the refactoring and will rename the file back. So IMHO this is OK.

[2020-12-02 12:18] dbaeumer opened #111736 "Ctrl+Enter in Notebooks is overloaded"
Testing #111552

Ctrl+Enter has to meanings which IMO is very confusing:

- adds a new cell if a cell doesn't have focus
- runs the code

What makes things worse is that the action menu of a cell indicates that Ctrl+Enter adds a new cell. So I opt to make the short cut adding a new cell work in all cases.

<img width="811" alt="capture" src="https://user-images.githubusercontent.com/1931590/100871

[2020-12-02 12:18] joaomoreno commented on #111732
Sorry about that @sandy081

[2020-12-02 12:21] joaomoreno commented on #111732
https://github.com/microsoft/vscode/issues/111733

[2020-12-02 12:25] #111613 closed

[2020-12-02 12:27] ghost opened #111737 "Can VSCode has "Open in browser" in the context menu when opening HTML files?"
Can VSCode has "Open in browser" in the context menu when opening HTML files?

[2020-12-02 12:37] jmaynard opened #111738 "VSCode opens maximized on some systems"
On just one of my two Linux systems, Visual Studio Code always starts in a maximized window. It doesn't do it on the other one, or on Windows and macOS systems I also use. Both Linux systems are Pop!_OS 20.10, upgraded along the way from each Pop!_OS release from 18.04. VSCode is 1.51.1, and has been doing this since I started using it about 1.36 or so. I'm using the default Gnome Shell on each sy

[2020-12-02 12:40] #111732 closed

[2020-12-02 12:40] #111733 closed

[2020-12-02 12:42] jrieken commented on #111653
@rebornix What save settings do you use? auto save, after delay, or manual?

[2020-12-02 12:43] joaomoreno commented on #111603
We don't actually choose what to source, but simply follow bash's rules by spawning `bash -ilc`. It's up to bash to do what it chooses.

In https://www.golinuxcloud.com/bashrc-vs-bash-profile/

---

So it's strange that your `.bash_profile` misses that `.bashrc` invocation. Nothing to do here for us.

[2020-12-02 12:44] dbaeumer opened #111739 "Open notebook diff editor fails."
Testing #111552

Open the diff editor fails

<img width="375" alt="capture" src="https://user-images.githubusercontent.com/1931590/100874191-7b216880-34a4-11eb-9829-710271989610.png">

[2020-12-02 12:45] joaomoreno commented on #111605
I doubt you'll get this issues our in the wild. So let's just close it silently. 🤫

[2020-12-02 12:46] joaomoreno commented on #111704
Can you try disabling Windows background updates? Set `update.enableWindowsBackgroundUpdates` to `false`.

[2020-12-02 12:46] alexdima commented on #111653
@rebornix I also could not reproduce:

![Kapture 2020-12-02 at 13 46 00](https://user-images.githubusercontent.com/5047891/100874361-bf146d80-34a4-11eb-89e8-e097526da14e.gif)

[2020-12-02 12:46] isidorn commented on #111733
Verified it works, thanks for fix -> verified

[2020-12-02 12:49] joaomoreno commented on #111185
One suggestion is to change the way Code updates for you: by changing `update.mode` to `manual`, Code will only check for updates if you run `Check for Updates`. Does that help you?

[2020-12-02 12:50] alexdima commented on #111631
This error usually happens when there was a text buffer edit, then the text buffer was closed (disposed from memory), then the text buffer opened again from disk, but the opened file sha1 is different than the closed file sha1. @aeschli Your steps do not mention any text edits, but I wonder if you did some in your initial repro?

[2020-12-02 12:50] ZoeLeee commented on #111435
yes

[2020-12-02 12:50] #111552 closed

[2020-12-02 12:54] alexdima commented on #111734
Duplicate of #91867 , #59247

---

You can install the VS Keymap extension or you can use the `editorScroll` command in your `keybindings.json`:

e.g.

[code]

[2020-12-02 12:54] #111734 closed

[2020-12-02 12:56] jan11011977 opened #111740 "CTRL+F3 does not work on selections spanning multiple lines"
Issue Type: <b>Bug</b>

1. Select multiple lines of text
2. Press CTRL+F3
3. VSCode does not search for the selected text, but repeats the most recent search instead

Another way to repro:

1. Select multiple lines of text
2. Press CTRL+F
3. Note that the multiple lines of text have not been populated into the CTRL+F dialog

As an aside, if you press CTRL+D followed by CTRL+F, that does populate t

[2020-12-02 12:58] alexdima commented on #111726
@Rexlu I'm sorry, but I don't understand what "When the cursor to select(+Alt)" means. Do you mean you have a large selection like <kbd>Ctrl</kbd>+<kbd>A</kbd> and then press <kbd>Alt</kbd>? Can you please write more clear steps.

[2020-12-02 13:01] bpasero commented on #111601
@isidorn I would not come up with our own principle here but make sure we adhere to existing UX guidelines such as https://docs.microsoft.com/en-us/windows/win32/uxguide/cmd-menus#using-ellipses. A "..." for me indicates that clicking the action literally does nothing until I have provided further input. It does not matter where I provide this input.

From the guidelines:

[2020-12-02 13:02] isidorn commented on #111639
For me I see something differently. In the last step the Redo works, however the file is brough back empty.

This is due to the fact that we pass `true` here as the `_undoesCreateOperation` https://github.com/microsoft/vscode/blob/f4187f22026ff6537f2ca8132ad3209fceb5071f/src/vs/workbench/contrib/bulkEdit/browser/bulkFileEdits.ts#L97

I have verified that passing `false` here actually fixes the iss

[2020-12-02 13:02] aeschli opened #111741 "Hovers broken in JSON"
- Running out of sources
- open `package.json` move over a property, e.g. `devDependencies`
- no hover appears

Debugging this, I see that the hover provider from JSON works properly. It creates a Hover with a `MarkedString` as content.
However, the `MarkedString` doesn't make it to the renderer (getHover.ts, line 20)

[2020-12-02 13:03] bpasero commented on #111605
Oh I actually think I would like to fix this and I do think it is quite annoying, especially for users that have asked for the feature to restore windows, so I will see what I can do.

[2020-12-02 13:04] bpasero commented on #111605
Ah, the "I am too afraid to change the existing code. " was misleading, I just didn't want to push a fix now in endgame week. Needs some good testing in insiders.

[2020-12-02 13:08] alexdima commented on #111572
@eamodio I cannot reproduce. I tried with GitLens `v11.0.6` using the insiders:
[code]

![Kapture 2020-12-02 at 14 07 36](https://user-images.githubusercontent.com/5047891/100876504-c1c49200-34a7-11eb-87c7-0a83d6ce9a7b.gif)

[2020-12-02 13:10] aeschli commented on #111009
- set a color theme that comes from an marketplace extension
- create a new codespace
- when the codespace is up, verify that the new theme is applied right away, no default theme first.

[2020-12-02 13:10] alexdima commented on #111371
@chrmarti PR welcome

[2020-12-02 13:13] isidorn commented on #111640
@aeschli I tried reproducing this and it requires some effort

1. Create a new file
2. Notice how the focus is automatically moved to editor as expected
3. Edit > Undo File is gone! The editor properly forwards the undo to the explorer (since focus is in Editor)
4. Edit > Redo. Nothing happens. The editor does not properly forward the redo to the explorer (since focus is still in Editor)

Step 3.

[2020-12-02 13:14] alexr00 commented on #111711
Very good catch!

[2020-12-02 13:14] #111711 closed

[2020-12-02 13:15] Saran-technovert opened #111742 "How to solve the below problem Project 'java code_b021bae1' is missing required source folder: '_/Array and String'"
Issue Type: <b>Bug</b>

Project 'java code_b021bae1' is missing required source folder: '_/Array and String',

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:31:29.624Z)
OS version: Linux x64 5.4.0-52-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-5005U CPU @ 2.00GHz (2 x 1995)|
|GPU Status|2d_canvas: unav

[2020-12-02 13:16] #110380 closed

[2020-12-02 13:16] alexr00 commented on #111713
I think you're seeing https://github.com/microsoft/vscode/issues/101639 for the hover disappearing.

[2020-12-02 13:16] #111742 closed

[2020-12-02 13:17] aeschli commented on #110517
We renamed the feature to make clear this is not a rename but an editing feature. Working across files is (currently) not intended.

[2020-12-02 13:17] #110517 closed

[2020-12-02 13:21] #111681 closed

[2020-12-02 13:22] bpasero commented on #111603
As I am not the author of [`resolveUnixShellEnv`](https://github.com/microsoft/vscode/blob/52098eaeb028e123b3f8af1d4a3d64df6db528be/src/vs/code/node/shellEnv.ts#L60-L60), leaving it up to Joao to decide to close or leave open.

[2020-12-02 13:24] fmhsu commented on #60877
Might be a little help until this gets closed: If you change the When Expression of the Keyboards shortcut "Debug:Stop" to "inDebugMode && !inDebugRepl" you can Esc + Enter

[2020-12-02 13:27] #111657 closed

[2020-12-02 13:28] isidorn commented on #111657
Pushed a fix, however please be aware of this limitation https://github.com/microsoft/vscode/issues/111022

[2020-12-02 13:28] #111741 closed

[2020-12-02 13:31] uladzislau-kirychenka commented on #111435
@ZoeLeee  what's about `"typescript.tsserver.experimental.enableProjectDiagnostics"` setting, is it enabled for you ?

[2020-12-02 13:38] #111693 closed

[2020-12-02 13:38] isidorn commented on #111693
I ahve have fixed this that it now brings back the folder, however the folder is empty which is captured via this issue https://github.com/microsoft/vscode/issues/111022

[2020-12-02 13:40] #111589 closed

[2020-12-02 13:40] alexr00 commented on #111589
I could not find a place in our docs where documentation about multiple lock files should live, so I linked to the nodejs documentation on pack-lock.json files.

[2020-12-02 13:44] feline87 opened #111743 "Holding down Ctrl + S shouldn't spam save"
- VSCode Version: 1.51.1
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Run a Node.js project with nodemon.
2. hold down Ctrl + S
3. Watch the "restarting due to changes" spamming the terminal.

Does this issue occur when all extensions are disabled?: Yes

[2020-12-02 13:44] isidorn commented on #111692
I just tried this out and I can not reproduce this.
@meganrogge can you repro with latest code out of source since I pushed some fixes which could potentially fix this?
If you can reproduce can you please try to give more exact steps since these do not work for me?

Thanks!

[2020-12-02 13:45] alexr00 commented on #111715
https://github.com/eamodio/vscode-gitlens/commits/feature/prs

How do I repro with that branch?

[2020-12-02 13:57] alexr00 commented on #111710
@joaomoreno This is also happening in the Explorer tree. I went back to version 1.46.1 (arbitrary choice, it was what I already had downloaded) and found that this issue doesn't happen there so it is at least new-ish.

[2020-12-02 14:00] weinand commented on #111603
IMO this is more a doc/FAQ item:

if a user has the problem that programs are not found on the PATH when launching from the dock (or in general: from the UI), but everything works fine when running from the command line, then the existence of a ".bash_profile" could be the reason.

The nasty thing about this problem is that it does not seem to surface in a lot of other places (other than VS Code).

[2020-12-02 14:00] isidorn commented on #111626
This is a fair feature request.
However it would have to be supported by the Bulk Edit service.
I also think for this we would need a richer label. Also assinging to @jrieken to think about this

[2020-12-02 14:02] jrieken commented on #111626
I think this is relatively easy because we have some progress object, tho maybe not the right one. It would need to be a `Progress<URI>` so that it can report what uri is currently being worked on.

[2020-12-02 14:04] alexdima commented on #111640
@isidorn

The editor never forwards the redo nor undo to the explorer. The editor takes the current focused file, reads the URL from that and finds an undo/redo element with that URL in the undo/redo stack.

So if you create a file called A.txt and open it and focus it in the editor. If you run undo, the undo/redo elements for file A.txt are searched and executed. So an undo results in the deletio

[2020-12-02 14:08] #111581 closed

[2020-12-02 14:20] mbomb007 commented on #111738
I wish it would always open maximized for me...

[2020-12-02 14:22] mdgilene commented on #107704
Running almost any Spring Boot application should also reproduce this issue. Spring boot has some pretty long logs and quite frequently requires a lot of line wrapping. I can confirm that turning off debug console line wrapping fixes this issue for me.

[2020-12-02 14:23] mbomb007 commented on #108368
Possibly related: https://github.com/microsoft/vscode/issues/31449

[2020-12-02 14:26] alexr00 commented on #111635
Yes, you should be seeing the same notification when the NPM scripts view is opened. Were there two lock files at the time that the view was opened?

[2020-12-02 14:30] alexr00 commented on #111643
Completely agree! Giving to @Tyriar as the owner of the workbench hover widget.

[2020-12-02 14:33] jrieken commented on #111640
Well, maybe that's what it should do? Like, when a `UndoRedoSource` is "empty" it could delegate to the "next" source.

[2020-12-02 14:38] aeschli commented on #111508
`ChangeAnnotation`: Likely a change consists of more than a single edit. Can multiple AnotatedTextEdits have the same ChangeAnnotation?
The problem I see is that over the wire, each AnotatedTextEdit will be flattened and on the receiving side there will a ChangeAnnotation instance for each AnotatedTextEdit.

-> needs to be spec'ed how ChangeAnnotation's are identified in order to combine them agai

[2020-12-02 14:40] #111574 closed

[2020-12-02 14:44] AlexBrasileiro commented on #869
@shhlkien that's weird! But in your case, just reverse the logic and use to delete the other folders / files like @Reflyer823 sais before...

``` "client/*[(src|**eslint**)]": true```

![Screen Shot 2020-12-02 at 11 40 14](https://user-images.githubusercontent.com/15070031/100887192-70120c80-3493-11eb-9fa1-44a5ed1fe21e.png)

hope it works :)

[2020-12-02 14:44] meganrogge commented on #111555
@chrisant996 can you pls confirm the suggestion of @gjsjohnmurray will work for you? For most users, we want to keep this behavior as it is.

[2020-12-02 14:50] #106989 closed

[2020-12-02 14:54] metech-skech opened #111745 "images not loading on chrome"
Issue Type: <b>Bug</b>

images i added to html aren't loading on chrome

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 6.2.9200

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) CPU B960 @ 2.20GHz (2 x 2195)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d:

[2020-12-02 14:56] jrieken commented on #111639
@isidorn Using `false` should be OK for that case. Basically that is there to know if delete in undoing a create operation. Create should be understood as "create empty file", not as copy or as re-create after delete.

[2020-12-02 14:56] isidorn commented on #111640
@alexdima thanks for clarifying.
I agree this is expected behavior.

I see how the undo can only be done from the explorer which does not have focus in this case.
I would not change anything here atm, even though @jrieken suggestions makes sense.

After we get more user feedback we might change if the explorer undo requires focus in the explorer...

[2020-12-02 14:57] alexr00 opened #111746 "Extensions viewlet "Install from VSIX" doesn't let me choose a local folder when remote"
I was testing with Codespaces.

1. Connect to your remote
2. Have a VSIX locally that you want to install
3. Extensions viewlet -> ... menu -> Install from VSIX...
4. Expected: The simple file picker shows up and has a "Show Local" option to get to my local filesystem to get the VSIX
Actual: The simple file picker shows up, but doesn't let me get to my local filesystem.

@sandy081 if you already s

[2020-12-02 14:59] shhlkien commented on #869
Yeah, it did work. I really appreciate your help. But that the main problem of this issue when we have to work with terrible folders like `node_modules`, we can't exclude each of them by typing their name until the last things we want to see

[2020-12-02 15:03] bpasero commented on #95697
@joaomoreno tried to verify this but isn't the issue title this: "Don't collapse explorer node on single click (unless on twistie)" but the setting only works when expanding and not collapsing? I find this works a bit weird, I think I would have expected 1 setting to control wether folder click expands or collapses and not make this specific to expand.

[2020-12-02 15:05] ChristophWWagner opened #111747 "Hint popups unreadable"
Issue Type: <b>Bug</b>

Hint popups do not fit the height of multiline text, which makes all multi-line hint-popups (while hovering over a button for example) completely unreadable throughout the whole application.

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 4.4.0-18362-Microso

[2020-12-02 15:05] joaomoreno commented on #111603
To be fair, I don't recall users having such an issue. But yeah let's add it to the docs.

[2020-12-02 15:08] frederikhors commented on #110548
Same here! It is unusable!

Version: 1.51.1 (system setup)
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:34:32.027Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2020-12-02 15:10] joaomoreno commented on #95697
The title doesn't match the feature description.

But yeah I am also not a big fan on distinct behavior based on the node's state. I'll just make it expand/collapse on double click on the name and not make it dependent on the node's state.

[2020-12-02 15:12] joaomoreno commented on #95697
@bpasero Can you verify out of sources?

[2020-12-02 15:13] bpasero commented on #44542
👏

[2020-12-02 15:16] zbianca commented on #111555
@meganrogge I couldn't find that setting and I also had problems with this feature. One of the projects at work requires really **long commit messages** and I oft use the arrows to navigate and keep running into problems now, just like @chrisant996 described.

[2020-12-02 15:17] eamodio commented on #111572
Yeah it went away for me in yesterday's insiders. Maybe it went away when we switched back to Electron 9?

[2020-12-02 15:19] #111585 closed

[2020-12-02 15:20] sandy081 commented on #110844
To verify:

- Have some problems in a file and make sure they are visible in problems views
- Enable the filter - Show Active File Only - in problems view
- Open the diff editor for the above file
- Make sure the problems are visible for that file in the problems view

[2020-12-02 15:20] eamodio commented on #111715
In the Commits view just hover over the commits and see that the commit message in the tooltips will not always match the commit message in the view

[2020-12-02 15:20] #110844 closed

[2020-12-02 15:21] eamodio commented on #111713
Yeah it sounds the same, but I don't have a HiDPI display either

[2020-12-02 15:21] bpasero commented on #95697
The behaviour works as I would expect now. The settings name, not sure. Not every tree is about "folders" and this now also impacts collapsing. Maybe make this similar to the existing `workbench.list.openMode` and call it `workbench.list.expandMode` with options `singleClick` and `doubleClick`? I would say that it is quite obvious that a single click on the twistie expands/collapses.

[2020-12-02 15:22] xdebbie opened #111748 "Sync deactivates when browsing themes - VSCode Insiders"
Issue Type: <b>Bug</b>

Sync deactivates when browsing locally installed themes

VS Code version: Code - Insiders 1.52.0-insider (bf21395291146c014220eb70b54fdfc0a15956b5, 2020-12-01T09:20:33.868Z)
OS version: Darwin x64 20.1.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-1038NG7 CPU @ 2.00GHz (8 x 2000)|
|GPU Status|2d_canvas: enabled<br>flash_3d: e

[2020-12-02 15:28] #111639 closed

[2020-12-02 15:29] isidorn commented on #111639
@jrieken thanks. Pushed that fix then
@aeschli I understand I did not fix 100% the issue you were seeing, but a similar issue. However still closing this, and you can try with latest out of source and let me know if you still see something strange. I believe your original issue was also connected to the focus and is basically a dupe of https://github.com/microsoft/vscode/issues/111640

[2020-12-02 15:29] alexr00 commented on #107461
It no persists across reloads. Very useful!

[2020-12-02 15:30] alexdima commented on #111640
Yes, but the issue will remain and this might have unexpected consequences e.g. undoing in not visible files. e.g.
- create file A.txt
- open file B.txt, type in it
- open file C.txt, type in it
- open file A.txt
- press undo: file A.txt will be deleted, focus moves to C.txt
- press undo: typing in C.txt gets undo, focus remains in C.txt
- press undo: (new proposed logic kicks in and will undo an

[2020-12-02 15:32] aeschli commented on #111631
This works for me today, yesterday it failed consistently.

Ok to close. I'll try to reach out if I get this again.

[2020-12-02 15:33] #111631 closed

[2020-12-02 15:34] jrieken commented on #111639
Thanks @isidorn. This is why all of this is so complicated: https://github.com/microsoft/vscode/issues/107379. The gist is that undo of create should only restore contents when create was invoked with contents, not if the context came later. Using your changes I have re-verified #107379 and things are happy

[2020-12-02 15:35] connor4312 commented on #111656
/jsDebugLogs

[2020-12-02 15:35] eamodio commented on #111572
Not exactly sure but I only saw it very recently. And it was gone again a day or two ago.

[2020-12-02 15:36] isidorn commented on #111639
Thanks for re-verifiying.

[2020-12-02 15:41] jrieken opened #111749 "resolveTreeItem is called twice"
* verifying https://github.com/microsoft/vscode/issues/111613
* have the provider below
* hover over a node
* resolve is called two time per each node

[code]

[2020-12-02 15:43] alexdima commented on #111572
OK, given we cannot reproduce right now, let's close for now and we can reopen if we see it again when we bring back Electron 11.

[2020-12-02 15:44] #111710 closed

[2020-12-02 15:45] joaomoreno commented on #111651
This command isn't really meant to be used outside, but as tight integration with some other features like devcontainers. No big need to document it fully, but thanks for the feedback!

[2020-12-02 15:45] #111651 closed

[2020-12-02 15:48] alexr00 commented on #85992
Verified that the API is gone and I can't find lingering traces of it.

[2020-12-02 15:49] isidorn commented on #111640
@alexdima I see the issue.

I was pondering about this a bit more and my feeling is:
* The current solution seems to be a bit confusing for the users (since all 3 testers filled some version of "Undo is not working because I have no clue where focus is").
* Changing the behavior that the Explorer Undoes without it having focus is dangerous as @alexdima also pointed out.
* Also as @alexdima pointed

[2020-12-02 15:50] NaomiN commented on #111633
Yes, that was the original issue, but I somehow was eventually able to overcome.

[2020-12-02 16:04] aeschli commented on #111508
The tables for well know regex and markdown flavors are not layouted nicely

[2020-12-02 16:05] danielo515 commented on #5312
Is this tied to the Javascript and typescript extension? Because I am not getting word based suggestions, not even for the current file.

[2020-12-02 16:06] sandy081 opened #111750 "Extension action buttons are not prominent in light theme when extension is selected"
![image](https://user-images.githubusercontent.com/10746682/100898112-b598fe80-34c0-11eb-9cf9-ff30dc85152e.png)

[2020-12-02 16:10] sbatten commented on #111687
@bpasero ah, I see. I think this is a doc bug then. I ended up having both the foreground and background set with string because `color` accepts a string and neither have text indicating that string is only used for colors. Also the `backgroundColor` description says "when setting the background color to `statusBarItem.errorBackground`" which makes me think string literal even if it is not allowed

[2020-12-02 16:12] gjsjohnmurray commented on #111555
@zbianca Use the context menu from the gearwheel button (bottom left) and choose "Keyboard Shortcuts". Use the search field to find the `scm.viewNextCommit` command. Right-click on it and choose "Remove Keybinding". If you ever want to restore the default keybinding use the "Reset Keybinding" option on that menu.

[2020-12-02 16:13] pedro-w opened #111751 "Inconsistent markdown formatting for email"
Issue Type: <b>Bug</b>

Markdown's auto-links for emails show differently if the email domain has capital letters in it.
See example below.
I noticed that the regex used in vscode is not the same as the one mentioned in the commonmark spec.
(This is cosmetic only. In the preview, both show the same formatting)

[Commonmark 0.29 autolinks](https://spec.commonmark.org/0.29/#autolinks)

    /^[a-zA-Z

[2020-12-02 16:13] alexdima commented on #111640
I agree with you @isidorn . My concern is that we might have to do a recovery build if many people are confused and we might have to live with this until end of January.

We could do the following: undoing from the editor will undo operations inserted by the explorer, but if it hits an undo-redo element inserted by the explorer, it could first prompt to confirm.

[2020-12-02 16:14] dannyjavi opened #111752 "Failed to cut chunks of code"
When a piece of code is cut there is an empty space, as is logical, if those blank spaces are erased by pressing the shift key shift + delete, what had been cut and then pasted in another part of the file is deleted.

[2020-12-02 16:17] zbianca commented on #111555
Done. Thanks a lot!

[2020-12-02 16:19] #111633 closed

[2020-12-02 16:20] Rexlu commented on #111726
@alexdima Yes, a little like from your description, but the Ctrl+A is for auto select all words.   The action is like using the mouse long press to select words by long pressing the left button alone! But the same action + Alt is the issue ,what I mean for. May you understand what i mean?

[2020-12-02 16:23] gjsjohnmurray commented on #111744
In my experience they **do** have a width limit when in the sidebar. What happens if you move the PORTS view there?

[2020-12-02 16:24] #111687 closed

[2020-12-02 16:24] bpasero commented on #111687
Fair, changed the JSDoc to:

[code]

[2020-12-02 16:25] kieferrm opened #111753 "Collection of layout issues for Getting Started"
Testing #111554.

- [x] Slow down animation when expanding/collapsing items on sublists
- [ ] Since I have the scroll-in-from-the-right animation when opening sublists, I also expect that for other editors such as the playground.
- [x] Icon should be top aligned with text
![image](https://user-images.githubusercontent.com/4674940/100900911-3089f700-3478-11eb-87a2-a0b7c8a6b040.png)
- [x] Should we

[2020-12-02 16:26] alexdima commented on #109938
@David-A-RogersHS2 Can you please also try https://jsfiddle.net/c0x62bma/ (note this is a new URL). This defines the HTML to more closely resemble what vscode does:
[code]

Could you please try to remove the style declarations to see which one might be causing this rendering? My guess would be the `font-feature-settings: 'liga' 0, 'calt' 0;` or `letter-spacing: 0px;`.

[2020-12-02 16:26] gjsjohnmurray commented on #111737
A quick search of Marketplace for "open in browser" suggests there are several extensions that add this.

[2020-12-02 16:28] isidorn commented on #111640
That sounds like a good approach to me.

[2020-12-02 16:28] alexdima commented on #111726
@Rexlu Here is what I have tried:
* mouse down, mouse drag around the editor edges
* mouse down, press alt, mouse drag around the editor edges
Everything appears to behave normally:

![Kapture 2020-12-02 at 17 28 18](https://user-images.githubusercontent.com/5047891/100901115-cbf48980-34c3-11eb-9ef6-687c6022ae23.gif)

What do you expect to happen differently?

[2020-12-02 16:33] lszomoru opened #111754 "Git - Checkout Type setting more resilient to incorrect values"
Repro steps:
1. Open Settings and clear out all the values of the `Git: Checkout Type` setting
2. Invoke the `Checkout to...` command and see that all checkout types are listed
3. Add an invalid checkout type to the setting (ex: `tagss`)
4. Invoke the `Checkout to...` command and see that none of the checkout types are listed

In this situation, Step4 should behave like Step2.

<img width="1011" a

[2020-12-02 16:34] lszomoru commented on #95385
Filed #111754 to track an edge case around setting behaviour when there is one invalid value in the list.

[2020-12-02 16:34] safield opened #111755 "editorFocus returns true when output panel is focused."
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:31:29.624Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.4.0-54-generic

-Set a hotkey to only execute when 'editorFocus' is true.
-when panel problems view is focused the hotkey does not run as anticipated
-when terminal view is focused the hotkey does not run as

[2020-12-02 16:35] aeschli commented on #111508
Annotatoon could also be mentioned in the Waht's new in 3.16 section. https://github.com/Microsoft/language-server-protocol/blob/gh-pages/_specifications/specification-3-16.md#-whats-new-in-316-

Otherwise all looks good!

I also read through Semantic highlighting and all other 3.16 changes.

[2020-12-02 16:39] jrieken opened #111756 "Double tooltip"
* safari (maybe only safari)
* open repo in codespaces
* hover of an issue in the GH view
* :bug: there are double tooltips

<img width="628" alt="Screenshot 2020-12-02 at 14 05 44" src="https://user-images.githubusercontent.com/1794099/100902537-4245bb80-34c5-11eb-82fc-68c46fb65e05.png">

[2020-12-02 16:40] #111554 closed

[2020-12-02 16:40] isidorn commented on #111652
Ok I can finally repro if I do it very fast.
@jeanp413 fyi if you might be interested in a PR since I know you touched this area a couple of times

[2020-12-02 16:41] shaunsingh commented on #106770
As November is over, is there an updated estimate as to when the stable arm64 build will be available?

(don't mean to be rude, just deciding on getting a new machine)

[2020-12-02 16:42] isidorn commented on #111501
@shira-g Those errors do not seem related. Might there be more if you scroll up? Do you have a lunch.json in that repository
@joaomoreno might you have an idea how the debug welcome might not get loaded

[2020-12-02 16:43] isidorn commented on #111606
This has been fixed via 2 independent issues https://github.com/microsoft/vscode/issues/111581 and https://github.com/microsoft/vscode/issues/111657

[2020-12-02 16:43] #111606 closed

[2020-12-02 16:48] cutoche opened #111757 "visual studio code"
Instalacion visual studio code por favor

[2020-12-02 16:49] alexdima commented on #111640
This is what the prompt will read for this case:

![image](https://user-images.githubusercontent.com/5047891/100903911-b9c81a80-34c6-11eb-9375-c9906fd32eca.png)

[2020-12-02 16:51] #109644 closed

[2020-12-02 16:52] isidorn commented on #111640
Looks good!

I can also fine tune the label from the Explorer.
I currently call it "New a.txt". I am open for suggestions
"Create a.txt"
"create a.txt"

[2020-12-02 16:53] alexdima commented on #111640
:+1: I like `"Create a.txt"`. I just pushed so you can test how it feels, running from source.

[2020-12-02 16:54] kieferrm opened #111758 "Accessibility of links in exception widget"
Testing #110567

I tested this with Narrator on Windows.  I tried to tab to the links in the exception widget to open them, but I couldn't find a way to get there. I think I should be able to as Narrator reads the stack trace to me.

![image](https://user-images.githubusercontent.com/4674940/100904499-ee62b480-347b-11eb-80d2-bfafa602ddf0.png)

[2020-12-02 16:54] isidorn commented on #111602
This was never working, however previously we were alos not throwing an error - just silently failing. So I will go back to that behavior.

For Cmd+C working from Finder to VS Code there is already a Feature Request open for this

[2020-12-02 16:55] daytonellwanger commented on #111548
Thanks! So if an extension wants to know whether or not an edit made the document dirty, they shouldn't rely on checking `isDirty` on the document when they get the `onDidChangeTextDocument` that contains the text change, but rather rely on `isDirty` on the last `onDidChangeTextDocument`?

That's a little unexpected, but seems reasonable.

[2020-12-02 16:56] alexdima opened #111759 "Leftover `console.log`"
https://github.com/microsoft/vscode/blob/0db0fa8fc9676dd85a72956035659cc6671e47d8/src/vs/workbench/services/gettingStarted/common/gettingStartedService.ts#L169

[2020-12-02 16:56] #110567 closed

[2020-12-02 16:57] #111602 closed

[2020-12-02 17:00] ItalyPaleAle commented on #106770
Our focus right now is on delivering an Insiders build. Getting a Stable build will be the next step depending on how the experience goes.

For what it’s worth, I’ve been using the Exploration build for the last 10 days and it’s now fairly stable. Most of my issues developing on a M1 Mac are due to other tools rather than VS Code :) (Docker, gpg-agent, Go, etc)

[2020-12-02 17:00] dbaeumer commented on #111508
@aeschli regarding https://github.com/microsoft/vscode/issues/111508#issuecomment-737270028

Actually a change annotation is for a single text edit or a resource edit (create, move or delete of a file). It describes that single change. There is currently no way to add a description to a whole workspace edit. So my question is: do you think we should come up with a better name to make this more cle

[2020-12-02 17:00] isidorn commented on #111640
Feels good to me, just tried it out.

![Screenshot 2020-12-02 at 18 00 02](https://user-images.githubusercontent.com/1926584/100905368-47583a00-34c8-11eb-992c-a893c0f806cf.png)

[2020-12-02 17:05] isidorn commented on #111640
I like the flow

Fyi testers for potential feedback @aeschli @meganrogge @rebornix

Gist of the above discussion: when there is an "aggresive" undo from the editor we now prompt.
What I mean by aggressive is editor undoing something which was intiated from the Explorer.
Also note that we distinguish undos based on where the focus is (as I mentioned in the test plan item)

[2020-12-02 17:07] isidorn commented on #111758
I agree with this 100%.
Assigning to December to try to add it then - since we never had this, no need to rush something in Endgame.

[2020-12-02 17:07] rebornix commented on #111653
I don't have a good way to reproduce again, other than seeing it once yesterday. Close it for now.

[2020-12-02 17:07] #111653 closed

[2020-12-02 17:09] rebornix commented on #111654
Interesting that I can't reproduce anymore. Closing for now. Considering that multiple reported issues were no longer reproducible, I wonder if my machine is in a weird state.

[2020-12-02 17:09] #111654 closed

[2020-12-02 17:10] isidorn commented on #111653
Okey, let us know if you see it again. Thanks

[2020-12-02 17:14] rebornix commented on #111665
@bamurtaugh thanks for the report, it's a duplicate of https://github.com/microsoft/vscode/issues/111599 and already fixed!

[2020-12-02 17:14] #111665 closed

[2020-12-02 17:19] meganrogge commented on #111692
can't reproduce, so think your fixes might have resolved this.

[2020-12-02 17:19] alexdima commented on #111137
@aeschli I don't understand what is wrong. The HC theme [defines these colors](https://github.com/microsoft/vscode/blob/efd8b0141ecdcd4a8c499fd0c1f65b62ed3cc996/extensions/theme-defaults/themes/hc_black_defaults.json#L7-L8) but they do not appear in the `colorMap`, so when the colors are read they end up getting the defaults.

[2020-12-02 17:21] isidorn commented on #111692
Okey, thanks for letting me know. For now closing, and if you still see this we can reopen.

[2020-12-02 17:21] #111692 closed

[2020-12-02 17:21] #111673 closed

[2020-12-02 17:24] nickhasoccured opened #111760 "[html] handle HTML-escaped characters in JavaScript attribute properties"
Issue Type: <b>Bug</b>

- Create an HTML attribute with JS in it, such as a button `onclick` event.

- Since attributes cannot use raw double quotes (Already used to open/close the attribute, HTML will give a syntax error), use `&quot;`.

- VSC will incorrectly mark it as an error

**Example**
```<button onclick="someFunction(&quot;string&quot;);">```

VS Code version: Code 1.51.1 (e5a624b788d92b8

[2020-12-02 17:28] rebornix commented on #111752
@dannyjavi can you please share a recording of what happened to help understand what's going on?

[2020-12-02 17:31] weinand commented on #78127
Since we have a [new debugger](https://github.com/microsoft/vscode-js-debug/), please let us know if you're still running into this problem, and if so please open an issue on that repo.

[2020-12-02 17:31] #78127 closed

[2020-12-02 17:32] jrieken commented on #111747
What do you mean by that? Can attach a screen capture?

[2020-12-02 17:33] vobarian commented on #111683
I think I have narrowed down the steps to reproduce the issue. It seems to happen when I run `npm install` while the project is open in VS Code. Our project uses Lerna and our package.json scripts do this when install is run: `lerna bootstrap --hoist --nohoist=@carfax/*`. Perhaps it has something to do with the symlinks that Lerna creates?

I have **not** been able to reproduce it yet in this Insi

[2020-12-02 17:35] gregvanl commented on #111714
@meganrogge Let me know if you want help creating smaller repros. I wasn't sure what elements might be causing the expansion to get confused. For example, the release notes have embedded images and links and the YAML front matter section, which could all be confusing the expansion.

[2020-12-02 17:37] #111745 closed

[2020-12-02 17:56] tanhakabir commented on #111527
I don't think it's working on my end. I opened 2 instances of Insiders in 4 different user-dirs and extension-dirs but I don't see changes I make to the UI in one propagate to the other. I also get a dialog box that repeatedly pops up when I click "OK":
![image](https://user-images.githubusercontent.com/12758612/100911904-adbb6900-3484-11eb-829d-1a1fbc006a31.png)

[2020-12-02 18:02] rami3l commented on #105114
@Stanzilla I checked today that, even 1.52.0-insider (f4187f2) is still base on Electron 9.3.5 :(

[2020-12-02 18:03] ffMathy commented on #111656
Alright, here are the logs that were produced after letting it run for a while. A brand new `yo code` project.

[vscode-debugadapter-0.json.gz](https://github.com/microsoft/vscode/files/5631175/vscode-debugadapter-0.json.gz)
[vscode-debugadapter-1.json.gz](https://github.com/microsoft/vscode/files/5631176/vscode-debugadapter-1.json.gz)

[2020-12-02 18:03] ffMathy commented on #111656
cc @connor4312

[2020-12-02 18:04] deepak1556 commented on #111729
Discardable memory is the region allocated by the chromium compositor and is designed to be freeable under memory pressure. However the implementation varies across platforms.

On Linux, by default the regions will be allocated under `/dev/shm` and the size calculation is based on it.

Although the VM has enough memory, `/dev/shm` is < 64MB in size and hence the warning leading to eventual failure

[2020-12-02 18:09] meganrogge commented on #111714
@gregvanl thanks so much and good catch. I think I've found the cause of the issue and fixed it.

[2020-12-02 18:10] #111714 closed

[2020-12-02 18:11] deepak1556 commented on #111729
Seems like `--disable-dev-shm-usage` is broken for chromium 83 which is the version we have in Electron 9 when running the app with `--no-sandbox` (that we do). Will have to backport the fix from https://bugs.chromium.org/p/chromium/issues/detail?id=1085829 , will update new release with fix today and deploy the flag.

[2020-12-02 18:14] eamodio opened #111761 "Editor hovers are not showing up in today's insiders"
GitLens hovers aren't showing up in today's insiders -- there are no visible errors.

[2020-12-02 18:16] #111555 closed

[2020-12-02 18:16] jlennox commented on #108264
I would love for VSCode to have official support for vertical tabs. I found the now discontinued VS extension "custom document well" to be a really big productivity boost so I made a clone of it. The extension API in VSCode didn't permit me to do most of the things I wanted so it's sadly not a normal extension.

I don't want to be doing self promotion so no link. But some ideas.

I handled the iss

[2020-12-02 18:16] deepak1556 commented on #111479
Can you start with `code --crash-reporter-directory <absolute-path>` and once crash happens, attach the generated crash dump here. Thanks!

[2020-12-02 18:17] misolori commented on #111761
Got the same thing in launch configs, hovering highlights the property but not hover appears:

![image](https://user-images.githubusercontent.com/35271042/100914192-929e2880-3487-11eb-8401-39d5e3fd21c5.png)

[2020-12-02 18:18] #111697 closed

[2020-12-02 18:18] meganrogge commented on #111717
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2020-12-02 18:19] meganrogge commented on #111743
Why do you need to hold down Ctrl+S?

[2020-12-02 18:26] jmlag commented on #109652
@joaomoreno

The issue is still present for me.

[2020-12-02 18:27] connor4312 commented on #111656
It doesn't look like your extension is activated -- no scripts in the `pruner-foo` repo are loaded by the extension host. Are you running the `Hello World` command?

[2020-12-02 18:35] #111330 closed

[2020-12-02 18:39] Anderson9095 commented on #43626
![Screenshot_1](https://user-images.githubusercontent.com/52376745/100916423-179b3900-34ac-11eb-8463-88ef9e9638c5.png)

[2020-12-02 18:43] bamurtaugh commented on #111550
Is there a reason we open WSL folders in the same window and SSH folders in a new window? It'd seem to make sense to have both inline actions behave the same way.

[2020-12-02 18:54] rzhao271 commented on #106570
@ArturoDent please file a new bug for that issue.

[2020-12-02 18:55] rami3l commented on #111761
The same with `rust-analyzer`. Seems like a problem with hover showing.

[2020-12-02 18:57] isandburn commented on #106661
I was getting this error as well and found this thread while researching issue... i realized that i opened VS Code (~/some/dir code .") in bash terminal from different directory than the project i was working in, as "dotnet new" had yet to create the project's directory; once i created to the dir/project, wrote a little code, and tried to build, i got the reported error... fast forward, i closed o

[2020-12-02 18:58] rzhao271 commented on #105201
Nvm, verified it locally, sorry about that

[2020-12-02 19:04] feline87 commented on #111743
I hold Ctrl + S down to save a file :-)
Why save a saved file again? Is there a reason behind that? It interferes with the normal functionality of nodemon now. It doesn't give nodemon time to restart properly.

[2020-12-02 19:14] rebornix commented on #111534
We should probably better document this, the element at `end` position will not be removed

[code]

In this case you need to call `edit.replaceCells(1, 2, [])`

[2020-12-02 19:14] #111534 closed

[2020-12-02 19:19] YoraiLevi commented on #11770
After a whole lot of investigation I now understand why the vscode team isn't enthralled on implementing rtl support.
In order to support many vscode related features vscode manually renders multiple native textual features such as the cursor, selection, highlighting, popups over a per-line basis text container,
so far, I have found that most of the parts consisting of the interface can be found u

[2020-12-02 19:25] d-koppenhagen commented on #105193
Hey, I think it would be great if an extension would able to temporarily disable the `editor.autoClosingBrackets` settings. I am currently running into the same issue when contributing to the auto-completion functionality:

https://github.com/asciidoctor/asciidoctor-vscode/pull/381

I opened also a thread on stackoverflow: https://stackoverflow.com/questions/65079743/prevent-autoclosingbrackets-wh

[2020-12-02 19:26] stagefright5 commented on #110548
@frederikhors , the problem, in my case was, I could not reproduce it consistently. If you provide the log specified above, that would be great!

[2020-12-02 19:32] roblourens opened #111763 "No "file history" for notebooks"
- Open a notebook
- Find the file history view in scm

![image](https://user-images.githubusercontent.com/323878/100921845-f6c5ea00-3491-11eb-9f92-51f64b62f1ee.png)

[2020-12-02 19:32] d-koppenhagen opened #111764 "prevent autoClosingBrackets when inserting content as result of registerCompletionItemProvider"
VSCode extension development offers a way to contribute to the auto-completion providers aka *InttelliSense*.
It is possible to complete inputs as the following snippet shows.
However, when implementing the snippet below (just as an example), it will watch AsciiDoc files for the `:` (colon) sign input. Once the sign has been entered, the autocompletion provider is executed.
In the example below, i

[2020-12-02 19:33] alexdima commented on #111761
@eamodio @misolori Does this reproduce only on a certain platform? Do the hovers render on errors? Do the hover render when using `F1 > Show hover` ?

[2020-12-02 19:34] ntdog22 commented on #111761
Encountered a similar issue with hovering for JSDoc comments:

![image](https://user-images.githubusercontent.com/6867405/100922073-44daed80-3492-11eb-9a02-02399b50ee3e.png)

[2020-12-02 19:34] alexdima commented on #111761
By the way, hovers show up for me:

![Kapture 2020-12-02 at 20 33 54](https://user-images.githubusercontent.com/5047891/100922092-bdb36700-34dd-11eb-9d99-bc00bc856e57.gif)

[2020-12-02 19:35] alexdima commented on #111761
They don't show up for me in JSON.

[2020-12-02 19:37] sandy081 commented on #111527
Seems you are having issues setting up multiple insiders. As suggested, please try syncing your main insiders with web self host.

[2020-12-02 19:43] ntdog22 commented on #111761
@alexdima In TypeScript, I am not able to see JSDoc comment information on hover as I was able to yesterday (and prior):

**VSCode Insiders About:**
![image](https://user-images.githubusercontent.com/6867405/100922718-13aeed00-3493-11eb-950d-15f37bddb0f9.png)

**Example:**

![image](https://user-images.githubusercontent.com/6867405/100922627-f8dc7880-3492-11eb-9d31-1f1112fd9c82.png)

**Expected Re

[2020-12-02 19:44] alexdima commented on #111761
Duplicate of https://github.com/microsoft/vscode/issues/111741

[2020-12-02 19:44] #111761 closed

[2020-12-02 19:45] alexdima commented on #111761
It looks like #111741 was a problem with the type converters that might impact any hover provider from the ext host.

[2020-12-02 19:46] MichelOtavio opened #111765 "Terminal"
Issue Type: <b>Bug</b>

The Vscode terminal does not let me type any commands.

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 6.2.9200

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz (4 x 2494)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_

[2020-12-02 19:51] Arrioc commented on #33752
I really hate this feature, and I am wasting precious study time trying to configure settings.json to disable it. This box pops up and $@#-blocks me. It's distracting and obstructive. Please fix this. I cant wait till I graduate in 4 months.. the only reason I'm putting up with this bs is so I can follow along seamlessly with my guides which use VSC.

[2020-12-02 19:53] alexdima commented on #111708
@LaodaLuo What version of vscode are you using? Undo and Redo are focused based. Are you sure the focus is in an editor when you attempt to do ctrl+z or ctrl+y ?

[2020-12-02 19:58] meganrogge commented on #111009
![recording (59)](https://user-images.githubusercontent.com/29464607/100924555-a9e41280-3495-11eb-8cf4-b9438adcb1bc.gif)
@aeschli is this how it should look? still a flash of white from the default color theme, but does get applied quickly thereafter.

[2020-12-02 20:06] sbatten commented on #111580
I was testing one of the e2e scenarios and notice that in web, the status bar indicator is easily missed. I could not tell that it was still downloading until I opened the locally and saw it was still populating.

[2020-12-02 20:11] #111417 closed

[2020-12-02 20:11] ByteEater-pl commented on #111694
Node.js. But this issue isn't language specific. I would likely need this functionality too when writing C#, Haskell or Python.

[2020-12-02 20:12] rzhao271 commented on #89191
Brackets don't autocomplete for me now in makefiles, but I'm not sure if part of the original feature request was to keep that behaviour, hence author-verification-requested.

[2020-12-02 20:14] sandy081 commented on #111748
/duplicate

[2020-12-02 20:15] #111748 closed

[2020-12-02 20:22] eamodio opened #111766 "Preserve command line arguments on subsequent windows even when changing folders"
In my `launch.json`, I have `--disable-extension` specified in the `args`

https://github.com/eamodio/vscode-gitlens/blob/53c9a42886e455189577fc7bf99fdc5eed25ae5c/.vscode/launch.json#L51-L74

This works fine for the initial launch, but if I change workspaces/folders in the Extension Development Host window, the `--disable-extension` flag seems to get lost.

[2020-12-02 20:23] DonJayamanne commented on #111534
Is `end` the total number of cells?
I.e. if i want to merely replace a cell (not insert), then is `end == cells.length`?

[2020-12-02 20:29] roblourens commented on #110973
I can't repro this. The `pendingNewState` is supposed to be set after the timer expires here https://github.com/microsoft/vscode/blob/195779a054748ccdf226c89b4aa8c0385872a534/src/vs/workbench/contrib/notebook/browser/view/renderers/cellRenderer.ts#L1032

What notebook did you use to see this @rebornix?

[2020-12-02 20:39] frederikhors commented on #110548
How to reproduce? Simply after auto upgrade today I restarted vscode insiders and it is slow as hell!

[2020-12-02 20:40] meganrogge commented on #111743
Please provide a screenshot or [a gif](https://gifcap.dev/) illustrating the problem with screen cast mode on

[2020-12-02 20:47] tanhakabir commented on #111527
Views aren't synced for 2 instances insiders:
![image](https://user-images.githubusercontent.com/12758612/100929442-7eb0f180-349c-11eb-85ee-b66b716e857e.png)

[2020-12-02 20:50] diego-mazzaro commented on #82415
Just to clarify.. if this may help for something to be done.. It is not that "it doesn't work with glob characters".. ..since glob characters have a meaning they just need to be escaped in the search pattern. (see #111677 )
So the bug is in the pre-filled value when using "Find in Folder" not being escaped and not in the "files to include".
Maybe in the "files to include" side we may ask a feature

[2020-12-02 20:57] Bewinxed commented on #111728
Can confirm, when i hover for the first time after reloading, it shows "loading..." indefinitely, if I move the cursor away from that I don't get hover tooltips anymore :(

[2020-12-02 21:00] RMacfarlane commented on #111730
I can also repro this in Insider's by trying to open the "endgame.github-issues" notebook, it prevents the notebook from rendering:
![Screen Shot 2020-12-02 at 12 53 58 PM](https://user-images.githubusercontent.com/3672607/100930685-490d0800-349e-11eb-854f-d4354df40134.png)

[2020-12-02 21:01] rebornix commented on #110973
@roblourens I found it hard to reproduce now (when I filed this issue I have 100% reproduce all the time), but I did run into this once with following setup

* open `.vscode/notebook/endgame.github-issues`
* run all
* scroll up and down

and then sometimes after all execution finish, I can see some spinner

[2020-12-02 21:04] chmac opened #111767 "Git - Add a command palette option for git rm"
I'd like to be able to open the command palette and choose "Git: Delete Current File" which would do the equivalent of `git rm path` where `path` is the path to the current file.

A `git rm` will fail when the file is not currently committed. If it has uncommitted changes, or is not tracked by git, then it will fail. In this way, it's a "safer" form of delete, while avoiding the system trash folde

[2020-12-02 21:11] LinqLover commented on #111185
Hm, still not perfect. If my machine is rebooted anyway (e.g. thanks to Windows updates), I would like VS Code to have been updated, too.

[2020-12-02 21:12] rebornix commented on #110973
@roblourens it seems if you scroll a cell under execution in and out and at the end you might end up with a weird state

![spinner](https://user-images.githubusercontent.com/876920/100931761-cf761980-349f-11eb-932d-e3ff6fc4fb69.gif)

For example, I just tested the `endgame.github-issues` and run all, as you can see the last second cell has a spinner with `0.0s` execution time. After I scrolled up

[2020-12-02 21:31] deepak1556 commented on #111729
As a follow-up, to see if the notebook tests are forcing the compositor to use higher shared memory than usual, we should do a chrome memory trace https://chromium.googlesource.com/chromium/src/+/master/docs/memory-infra/

[2020-12-02 21:32] JacksonKearl commented on #111666
once the bisect is done can it be put back into the user-disable-able state?

[2020-12-02 21:33] #111759 closed

[2020-12-02 21:33] JacksonKearl commented on #111759
Thanks!

[2020-12-02 21:36] JacksonKearl commented on #111706
fixed not loading with 9d9ae54aa87749c07f83ff0687f7f2277297f1dc, alt text is a good idea.

[2020-12-02 21:45] linqing2004 opened #111768 "https://github.com/microsoft/vscode-github-browser is not available"
- VSCode Version: 1.51.1
- OS Version: Linux 4.1.12-61.1.18.el7uek.x86_64

Steps to Reproduce:

1. Could not download vscode-github-browser  from this link.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-12-02 21:52] ItalyPaleAle commented on #110507
I prefer # 3 too because it does not interrupt the flow for people reading the release notes

[2020-12-02 21:53] rebornix commented on #111739
/duplicate of #111599

[2020-12-02 21:53] #111739 closed

[2020-12-02 22:02] #111329 closed

[2020-12-02 22:08] LittleGreenFrog commented on #109938
That site did not exhibit the problem. gohufont is designed for 14px size.
So once I changed to that and re-ran, the output looked as expected as-is.

--dr

[image: image.png]

On Wed, Dec 2, 2020 at 10:26 AM Alexandru Dima <notifications@github.com>
wrote:

[2020-12-02 22:19] JacksonKearl opened #111769 "Suggest widget detaches from notebook cell"
![image](https://user-images.githubusercontent.com/8586769/100938350-62678180-34a9-11eb-9275-f95731681789.png)
In editors it scrolls with the contents.

[2020-12-02 22:24] JacksonKearl opened #111770 "Hard to select all of an output cell"
When a text output cell is longer than the screen its difficult to select all of the contents. ctrl+A selects the code, and dragging to the edge of the screen does not trigger scroll.

[2020-12-02 22:28] sbatten commented on #83592
This is much better, but I notice that on Windows+FF, the scrollbars have arrows where they do not anywhere else in the product.

[2020-12-02 22:31] sbatten commented on #106528
@rebornix I believe can verify

[2020-12-02 22:34] devinvalenciano opened #111771 "No hover text or code assist text for icons"
Testing [#111551](https://github.com/microsoft/vscode/issues/111551)

Not seeing hover text in the theme file, or more info in the in the code assist.
![image](https://user-images.githubusercontent.com/1389808/100939398-11588d00-34ab-11eb-99c1-22cb36df0d4a.png)
Notice I'm hovering over the "folding-expanded" item name in the next photo.
![image](https://user-images.githubusercontent.com/1389808/10

[2020-12-02 22:45] #111551 closed

[2020-12-02 22:46] AndersenTobias commented on #111469
@egamma I've tried several times to invoke the same behavior but cannot reproduce it myself. Sorry!

[2020-12-02 22:46] #111469 closed

[2020-12-02 22:49] mjbvz commented on #111751
For anyone interested in contributing a fix, here's where the grammar live: https://github.com/microsoft/vscode-markdown-tm-grammar

Make sure to fix it in the [base.yaml](https://github.com/microsoft/vscode-markdown-tm-grammar/blob/master/markdown.tmLanguage.base.yaml) file, which generates the `tmLanguage` file

[2020-12-02 22:50] alexdima commented on #109938
Ok, then my understanding is that to use the gohufont one must also configure `"editor.fontSize": 14` and all is well.

[2020-12-02 22:50] mjbvz commented on #111728
@ItsDigitalEngine What language is this for. Please provide steps to reproduce the issue

/needsMoreInfo

[2020-12-02 22:51] mjbvz commented on #111728
@Bewinxed Please open a separate issue (make sure to fill in the issue template and include proper steps to reproduce)

[2020-12-02 22:51] alexdima opened #111772 "potential listener LEAK detected"
Have a forwarded port or multiple e.g.:
![image](https://user-images.githubusercontent.com/5047891/100941026-3c69cd80-34f9-11eb-886d-0715c8f182eb.png)

Observe console warnings:

[code]

[2020-12-02 22:51] JacksonKearl commented on #111669
Yeah I've been pondering this... rough sketch of something that is roughly `O(nBad * lg(nTotal))`:

[code]

[code]

So in the normal case where only one item is "bad", it takes ~3 more restarts in a 50-100 extension setup (as it needs to check both halves of a split even if it found a bad item in the first half). The delta grows quickly as more items are bad, as the `findOne` can exit even earlier

[2020-12-02 23:01] JacksonKearl commented on #111705
Hm, so it looks like it reset both progresses, but then you opened the command palette and it progressed that one again. When we have more items that shouldn't be a problem. Going to close this out for now as the command is mainly for dev purposes right now, we haven't discussed a proper UX for resetting.

[2020-12-02 23:01] #111705 closed

[2020-12-02 23:05] tanhakabir opened #111773 "Views are not synchronized in global state"
Testing #111527

OS: Windows 10 1909 build 18363.1198
VS Code: 1.52.0 Insiders

When I made 2 instances of insiders with different user directories and extension directories the views aren't sync'd:
![image](https://user-images.githubusercontent.com/12758612/100942177-b6756480-34af-11eb-87a1-32ff18fc6598.png)

Repro steps:
1. Working in an empty directory, cd into this directory using Powershell
2

[2020-12-02 23:05] #111527 closed

[2020-12-02 23:32] Stanzilla commented on #106528
/verified

Thank you!

[2020-12-02 23:33] Stanzilla commented on #105114
oh maybe it was reverted?

[2020-12-02 23:34] tshinnic commented on #33752
It is a strange thing when people can't appreciate how irksome a misfeature is, or even that it is a misfeature. Take Adobe's Brackets editor. Tried it, and immediately and amazingly found it couldn't do bracket-bouncing (aka toggling aka matching). And their reaction to complaints was much like "Really? Gee, I suppose we could do that in a future version..." Brackets couldn't do brackets, and the

[2020-12-02 23:39] mjbvz commented on #111132
Thanks for testing. Let me know if this happens again when the next release comes out (1.52)

[2020-12-02 23:49] mjbvz commented on #83592
As far as I can tell, the standard css scrollbar properties do not give us that level of customization. Tentatively closing hidding the arrows as  `out-of-scope` but if anyone knows how to fix this, just let me know

[2020-12-02 23:49] #83592 closed

[2020-12-02 23:50] rzhao271 commented on #110880
Adding verification-steps-needed since I'm not sure what the new behaviour should be.

Firstly, I was able to make a commit with a name but no email. GitHub allows this by writing `name <>` instead of `name <someemail>` in the log.

When both were missing, I remember getting an error, along with an option to view the log, where I can then see the "missing name" message.

[2020-12-02 23:56] #111735 closed

[2020-12-03 00:23] BlueGhostGH opened #111776 "JSDoc panels no longer show up when hovering over symbols in TypeScript"
Issue Type: <b>Bug</b>

Steps to reproduce:
1. Create an empty TypeScript project (no tsconfig or such)
2. Create a TypeScript file
3. Create a simple function and document it using JSDoc
4. Hover over the function's name

Actual result:
Just the type definition of the function shows up

![actual](https://user-images.githubusercontent.com/17652623/100947527-7a252100-350e-11eb-95db-658833ecd390.png

[2020-12-03 00:25] misolori commented on #111771
Pretty sure it's the same issue as https://github.com/microsoft/vscode/issues/111761

[2020-12-03 00:27] cursorweb opened #111777 "Comma not throwing"
Issue Type: <b>Bug</b>

[code]

there is not an 'red underline' under line 3 col 2. There should be if I recall correctly

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-1065G7 CPU @ 1.30GHz (8 x 1498)|
|GPU Status|2d_

[2020-12-03 00:44] #110973 closed

[2020-12-03 00:44] roblourens commented on #110973
I still couldn't repro it, but after staring at the logic for a long time, I think I see the issue. Try to verify it tomorrow.

[2020-12-03 00:45] marlongerson opened #111778 "Customize field naming convention"
In C#, I would like to be able to customize the format of my automatically generated private fields. While others use `this.` to prefix their private fields, I would like to be able to customize vs code so that it generates my private fields with an underscore `_`. Does vs code have this feature built in? I have only seen it capable via editorconfig plugin, but it would be nice if vscode supports

[2020-12-03 00:49] #108712 closed

[2020-12-03 00:50] chrisdias commented on #111701
will wait until we release `1.52`

[2020-12-03 00:54] JacksonKearl opened #111779 "Markdown Format tabes with emojis looks unaligned"
[code]

![image](https://user-images.githubusercontent.com/8586769/100949367-f8f26d80-34be-11eb-8893-2b0bef6a7ab3.png)

[2020-12-03 00:59] egorgam commented on #111412
I have similar nasty behavior with all v8 apps (vscode too) - hardware acceleration is full broken and I see a lot of lags, but there are not graphic artifacts. It happen when I work with with external 2k display, Big Sur cleanly installed on Macbook Pro 16"

[2020-12-03 01:06] roblourens commented on #105047
Looks fine, but it looks like this was hard to repro, so someone who was seeing this, please try to verify that it's fixed in VS Code Insiders.

[2020-12-03 01:15] #111699 closed

[2020-12-03 01:15] JacksonKearl commented on #111699
Thanks!

[2020-12-03 01:23] RMacfarlane commented on #109690
@jrieken I'm having trouble reproducing the original behavior, when are inline details shown? Even if I clear out all of my settings, when I trigger suggest on the code above, I don't see it:
<img width="498" alt="Screen Shot 2020-12-02 at 5 14 08 PM" src="https://user-images.githubusercontent.com/3672607/100951252-0c073c80-34c3-11eb-9ec9-d54e82d76d5b.png">

[2020-12-03 01:24] JacksonKearl commented on #111706
![image](https://user-images.githubusercontent.com/8586769/100951268-16293b00-34c3-11eb-8425-6f0f0b4b84f1.png)
To verify, disable wifi then open the `Essentials` getting started category, you should see alt text in addition to the broken image link.

[2020-12-03 01:27] #111706 closed

[2020-12-03 01:27] aloncGithub commented on #111487
This problem has been solved. Thank you very much

After testing, it was found that it was a plugin called EditorConfig for VS Code. It caused conflicts.

[2020-12-03 01:44] kieferrm opened #111781 "webview-view-sample not working when run in codespaces"
Testing https://github.com/microsoft/vssaas-planning/issues/1525.

1) Open this repo in a codespace using the desktop client
2) Open a new window on the webview-sample folder
3) `F5`
-> The calico colors view is not styled correctly and the `Add Color` button is not working.

[code]

[2020-12-03 01:48] JacksonKearl opened #111780 "MacOS native title frequently misaligned"
I've been seeing this come up pretty recently in the past couple weeks.

![image](https://user-images.githubusercontent.com/8586769/100952991-6bb31700-34c6-11eb-968a-89967cdf2059.png)

[2020-12-03 01:52] gongteng0215 commented on #100840
It works for me. ts

[2020-12-03 01:57] huntdream commented on #110282
/verified

[2020-12-03 02:13] imajinyun commented on #107103
After the execution, restart VSCode, the work is very fast

[2020-12-03 02:16] jeanp413 commented on #111652
Sure I'll take a look

[2020-12-03 02:25] yume-chan commented on #111778
These code actions are provided by the [C# extension](https://github.com/OmniSharp/omnisharp-vscode/issues), please file an issue there.

[2020-12-03 02:27] Rexlu commented on #111726
@alexdima  The expect is like your test results ! I can't find the settings or something else to do normally like your test result.
I have two NBs in the same issue situation.
Do you have any settings for this test result?

[2020-12-03 02:28] MurlinGao opened #111782 "The code part can't show perfect, the code is black, there is not any other color;"
- VSCode Version: 1.51.1
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.1.0
- OS Version: macOS Big Sur 11.0.1

Steps to Reproduce:

1. when my macbook update to macOS Big Sur , vscode's code part can't show perfect, the code is black, there is not any other color;
![image](https://user-images.githubusercontent.com/51697895/100955876-54217000-355

[2020-12-03 02:36] mjbvz commented on #111776
Does this reproduce with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

Some of your installed extensions, such as IntelliCode, modify VS Code's JavaScript and TypeScript IntelliSense

[2020-12-03 02:37] mjbvz commented on #111779
@JacksonKearl Just to make sure I understand the bug, you expect the vertical pipe characters (`|`) in these examples to all be aligned?

[2020-12-03 02:40] mjbvz commented on #111777
Trailing commas in argument list are valid in JS. The delay arguments for `setTimeout` [is also optional](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/setTimeout), so this looks like a valid function call to me

[2020-12-03 02:40] #111777 closed

[2020-12-03 02:42] mjbvz commented on #111683
Ok, if you can't reproduce this in out insiders build, then the issue may have already been fixed. The current insiders build will become the next stable VS Code release

If you do see this in VS Code insiders, please let me know and I can share steps on how to collect logs so that we can investigate this

[2020-12-03 02:42] #111683 closed

[2020-12-03 02:50] TheAkshayCoder opened #111783 "RuntimeError:"
Issue Type: <b>Bug</b>

import requests
from bs4 import BeautifulSoup
# this will generate  this error
#File "C:\Users\Akshay Thakur\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\__init__.py", line 302, in _win_os_check
    raise RuntimeError(msg.format(__file__)) from None
RuntimeError: The current Numpy installation ('C:\\Users\\Akshay Thakur\\AppData\\Local\\Programs\\Python\\P

[2020-12-03 02:50] egorgam commented on #107103
Now I found my own problem reason - there is really mystic macos bug. In my case that lags are only when I use external 2k display (of course in dGPU mode, radeon pro 5500M) with non-standard color profile (downloaded from reddit). When I selected standard profile in macos display settings menu - lags were gone. And then when I tried a reddit profile - now, no lags too. I don't understand how colo

[2020-12-03 02:53] roblourens commented on #57197
If I start with this

[code]

Then "move line up" on the second line, I get this

[code]

Is that what's expected?

[2020-12-03 02:54] BlueGhostGH commented on #111776
Just checked. Yes, it does also reproduce with all extensions disabled(I've made sure to restart my editor).

[2020-12-03 03:00] JacksonKearl commented on #111779
Yes

[2020-12-03 03:05] nexxai commented on #111479
Attached: [7d83fbe1-13b9-4407-b80f-ec0c48577836.dmp.zip](https://github.com/microsoft/vscode/files/5633397/7d83fbe1-13b9-4407-b80f-ec0c48577836.dmp.zip)

[2020-12-03 03:27] FishOrBear opened #111784 "let str = "////"; Coloring error"
typescript 4.2.0,vscode:1.51.1
![image](https://user-images.githubusercontent.com/19372111/100960043-79b27780-355a-11eb-9722-b93b93a15463.png)

May be the reason for expansion

https://marketplace.visualstudio.com/items?itemName=aaron-bond.better-comments

[2020-12-03 03:28] 363797271 commented on #111695
I tried to disable the extensions in turn.

When Babel JavaScript (vscode language Babel) is disabled, the highlight is normal.

But the annotation problem still exists

[2020-12-03 03:41] #111784 closed

[2020-12-03 03:46] zengchulin opened #111785 "ctrl + left click in vue cannot jump to components"

[2020-12-03 03:50] cursorweb commented on #111777
oh, sorry :(

[2020-12-03 04:12] eamodio commented on #110880
Yeah, you should get the following:
![image](https://user-images.githubusercontent.com/641685/100963146-c151e880-34f3-11eb-91f3-1096e570855c.png)

If either `user.name` or `user.email` is missing from your git configuration.

[2020-12-03 04:51] anirugu opened #111786 "Repository doesn't exist but vs code claim it does."
I have a repos name xyz in my account and if later I will choose to create one with name xyz it will say it exist which is correct. Later I rename xyz to abc now I try to push xyz which is not up there, it still claim xyz is already exist.

This need a fix.

[2020-12-03 05:11] Reflyer823 commented on #869
After analysing your problem, I found that this solution doesn't work as we expected and can not fulfill our requirement.
The glob pattern `client/*[!webpack]` means that it will match all the files or folders where the last character of its name is not in "w、e、b、p、a、c、k". Because here `*` matches any text, and `[!webpack]` matches one character not in this list.
So the folder "src" ends with the

[2020-12-03 05:14] gjsjohnmurray commented on #111782
Probably #100840

[2020-12-03 05:18] gjsjohnmurray commented on #111778
/causedByExtension

[2020-12-03 05:19] #111778 closed

[2020-12-03 05:22] gjsjohnmurray commented on #111776
Probably duplicate of #111741

Please retest when next Insiders arrives

[2020-12-03 05:25] deepak1556 commented on #111729
New electron builds with above chromium fix have been published and PR to disable shm usage is up https://github.com/microsoft/vscode/pull/111787

[2020-12-03 05:28] deepak1556 commented on #111780
/duplicate https://github.com/microsoft/vscode/issues/106001

[2020-12-03 05:28] #111780 closed

[2020-12-03 05:29] akhilravuri1 opened #111788 "Unable to find the registered languages while saving the file."
- VSCode Version: 1.51.0 (user setup)
- OS Version: Windows_NT x64 10.0.15063

Steps to Reproduce:

1. Create a new sample project by selecting ``` New Language support```
2. Now add the following code in package.json to register 3 new languages.
[code]
3. Now when I run the extension it displays only one language type while saving. But while selecting the language mode it shows three languages.

[2020-12-03 05:30] yysh12 opened #111789 "Please include proper multilevel macro expansion"
Please include multilevel macro expansion

e.g.
#define WITHIN(N,L,H)       ((N) >= (L) && (N) <= (H))
#define NEAR_ZERO(x) WITHIN(x, -0.000001f, 0.000001f)

when I hover over "NEAR_ZERO(angular_travel)"
I currently get:
WITHIN(angular_travel, -0.000001f, 0.000001f)
But I want to get:
(angular_travel) >= (-0.000001f) && (angular_travel) <= (0.000001f)

Please this is a must have feature. I am work

[2020-12-03 05:44] SantoshV01 opened #111790 "Each time saving a file editor zooms out!"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. I'm working on a project when ever i want to save a file with vs code editor with "ctrl+s", the code editor zooms out.
2. This is too annoying, please fix this bug.

Does this issue occur when all extensions are disabled?: Yes

[2020-12-03 05:50] zxxc commented on #53557
There multiply implementations possible, i personally don't like having only one defaultConfiguration, instead would be very useful to refer parent config by name, something like:
[code]

I understand that it requires some rules to merge json object, json arrays

But it's definitely very useful feature, even some simplest implementation would help

[2020-12-03 05:51] #111750 closed

[2020-12-03 05:51] misolori commented on #111750
Slightly darkened the list active background color to make this stand out (which also helps some seti file icons in the tree view):

<img width="400" src="https://user-images.githubusercontent.com/35271042/100969415-ec363f80-34e7-11eb-847a-728af28e5d78.png">

fyi @joaomoreno @bpasero

[2020-12-03 05:57] Bewinxed commented on #111741
I’m facing this issue as well with jupyter notebooks and python scripts, hovering any function highlights its:

- On the first hover, a “loading...” appears but loads indefinitely
- Afterwards, hovering any piece of the code does not show the hover menu (reference, definitions, etc...)

Latest insider, clean install.

[2020-12-03 06:13] Nabakamal opened #111791 "Can select/edit multiple lines"
Issue Type: <b>Feature Request</b>

Hello. The popular 'hold the Alt key and drag your mouse down/up a document' to select multiple lines (and possibly edit them at once) doesn't work. The same behavior works in VS as well as Notepad++, etc. It'd be great to have this here as well. Thanks.

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version

[2020-12-03 06:20] ffMathy commented on #111656
The command is not even present 😅

[2020-12-03 06:20] gjsjohnmurray commented on #111791
https://code.visualstudio.com/docs/editor/codebasics#_column-box-selection

Is this what you mean?

[2020-12-03 06:23] ffMathy commented on #111656
Could it be that some of my extensions are blocking it?

Would it make sense if the extension host was clean and ONLY tried to load the extension I am debugging?

[2020-12-03 06:23] deepak1556 commented on #111479
Symbolicated trace

[code]

[2020-12-03 06:26] deepak1556 commented on #111479
So the stack does indicate crash happens when trying to update the window title, was able to repro based on it. Steps

* Open new workspace that has no window title
* Open untitled editor
* Paste the provide text
* Window title will try to update to the text and crash

[2020-12-03 06:28] gjsjohnmurray commented on #111789
Maybe https://github.com/microsoft/vscode-cpptools/issues/4970 but you didn't say what language you are coding in.

[2020-12-03 06:29] deepak1556 commented on #111479
This seems to be fixed with our exploration builds based on Electron 11.

[2020-12-03 06:31] bpasero commented on #111738
You possibly configured `window.newWindowDimensions`?

[2020-12-03 06:32] bpasero commented on #111790
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-12-03 06:35] sandy081 commented on #111766
@bpasero Assigning to you because it seems related to env args.

[2020-12-03 06:36] jmaynard commented on #111738
Nope. It's set to `default`.

[2020-12-03 06:38] sandy081 commented on #111773
Can you please provide steps to repro?

[2020-12-03 06:38] bpasero commented on #111738
This sounds like an OS issue to me given it works in the one. I cannot explain this, sorry.

[2020-12-03 06:41] bpasero commented on #111766
My feeling is that we might need more tweaks similar to what we do in `reload`:

https://github.com/microsoft/vscode/blob/155691d0bec4acfac0e3bbccb362f61278a132de/src/vs/code/electron-main/window.ts#L750-L775

It is quite possible that none of the initial launch arguments are kept when changing folders in the target.

@weinand can you help me understanding how these args end up in the window? Are

[2020-12-03 06:51] marco-m commented on #57197
Thanks @rebornix :-)

[2020-12-03 07:26] RexNext opened #111792 "Move tabs to the right or left edge when vscode's width is in minimum size .."
Hi , i'm learning programming , so i need to have open a Tutorial video file, a VScode , a chrome(web/console) and finally a word file to take note for myself . so i have to resize all of them to proper minimum size, but vscode has no ability to make it in minimum proper size therefor i have problems with it ,

**therefore i suggest that ,first vscode have resize ability to minimum , and when we c

[2020-12-03 07:28] Elichkoto commented on #109652
Guys, sorry for the stupid question, but is it possible to be related somekind with the version of Chrome?

[2020-12-03 07:38] weinand commented on #111783
/extPython

[2020-12-03 07:39] #111783 closed

[2020-12-03 07:41] sandy081 commented on #111592
I do not have any other widgets open except exception widget.

![Kapture 2020-12-03 at 08 39 50](https://user-images.githubusercontent.com/10746682/100978838-3d275180-3543-11eb-8cda-a01ad11bf8a6.gif)

[2020-12-03 07:46] leozicai commented on #108881
I also got the same error when running a program A.py on vscode remotely connecting to the server via SSH. But I can run other programs normally in this way. Even I copy the code of A.py to other programs and it works normally. I found that the only difference in A.py is that the name of its parent folder contains the symbol &. After I removed the & in the folder name, it returned to normal. Maybe

[2020-12-03 07:53] vintzl commented on #110457
No, vscode  is launched via LXC containers.

Thanks, it works again with `--no-xshm`.

But why it is broken **only since** 1.50.0-1602051089

[2020-12-03 08:01] alexdima commented on #111791
@Nabakamal  You can configure `"editor.multiCursorModifier": "ctrlCmd"` and then hold the <kbd>Alt</kbd> key.

[2020-12-03 08:01] #111791 closed

[2020-12-03 08:04] alexdima commented on #111726
@Rexlu Sorry, I forgot that I use `"editor.multiCursorModifier": "ctrlCmd"`, so that would free up <kbd>Alt</kbd> to be usable in column selection.

[2020-12-03 08:04] #111726 closed

[2020-12-03 08:05] #111487 closed

[2020-12-03 08:06] jrieken commented on #109690
The original behaviour depends on the TS version but you might have noticed that many symbols show details when being selected - given the dedicated details widget doesn't show

[2020-12-03 08:13] jrieken commented on #111666
ah, now I get it. This is about the final disablement when bisect has found the bad extension, right?

[2020-12-03 08:16] hpsaturn opened #111793 "C++ IntelliSense autocomplete only give one option"
- VSCode Version: 1.51.1
- OS Version: Debian GNU/Linux 10 (buster)

Steps to Reproduce:

1. do a clean installation of vscode
2. install platformio extension or the dependency of this, C/C++ IntelliSense
3. open any project

![screenshot20201203_091147](https://user-images.githubusercontent.com/423856/100981929-bcb71f80-3547-11eb-9dc8-c111e4e743d1.jpg)
![screenshot20201203_091159](https://user-im

[2020-12-03 08:19] jrieken commented on #111764
You sample doesn't compile but with a "random" value for `label` it doesn't reproduce.

[2020-12-03 08:35] joaomoreno commented on #111750
That's why they were green...? 😆

[2020-12-03 08:49] alexdima commented on #110392
I see the crash in the video and that is horrible and I'm sorry about that. But I still could not reproduce the crash on my machine:

![TO_UPLOAD](https://user-images.githubusercontent.com/5047891/100985813-b5464500-354c-11eb-9555-95a00c6b665f.gif)

The only fishy thing which I did see is that we have a listener memory leak somewhere with these steps:

@joaomoreno I'm not sure if this belongs to y

[2020-12-03 08:54] Tuzhiqiang1996 opened #111794 "运行程序意外停止"
Issue Type: <b>Bug</b>

启动项目，自动停止

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz (8 x 3591)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseline: en

[2020-12-03 08:54] alexdima commented on #111128
@stagefright5 I think this might be caused by one of your installed extensions. Here it is on my machine:

![TO_UPLOAD](https://user-images.githubusercontent.com/5047891/100986459-82e91780-354d-11eb-8504-03c911cdbead.gif)

To validate this, could you please [try the following](https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting):

* Run the command Developer: Toggle Ke

[2020-12-03 09:01] treefrogman opened #111795 "Commit message tooltip width should accommodate standard commit message character limit"
Issue Type: <b>Feature Request</b>

It is common practice to hard-wrap commit messages at 72 characters. VS Code (gently) enforces this when composing the message, but when hovering over the commit in the Timeline panel, the message is wrapped sooner than 72 characters, resulting in icky double wrapping.

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-11T01:11:34.0

[2020-12-03 09:01] gjsjohnmurray commented on #111793
Probably #110971

Please try again after running the command to reset suggest widget size (F1 > Reset Suggest Widget Size)

[2020-12-03 09:10] Tuzhiqiang1996 commented on #111794
![78778977](https://user-images.githubusercontent.com/57666259/100987909-10e2f380-358a-11eb-819a-b8a3eedd3cbe.png)
![Snipaste_2020-12-03_17-05-59](https://user-images.githubusercontent.com/57666259/100987973-21936980-358a-11eb-9bcc-62ff9f61f432.png)
![Snipaste_2020-12-03_17-06-12](https://user-images.githubusercontent.com/57666259/100987979-235d2d00-358a-11eb-9f6c-2d727b43d044.png)
![Snipaste_2020

[2020-12-03 09:10] alexr00 commented on #111695
Can you please provide a copy/pastable example?

[2020-12-03 09:11] Rob4226 commented on #109782
I have had this same issue for a while also. Inside every single directory of every single project a `debug.log` file gets created containing:
[code]
This same thing happened a few months back in a release but it was fixed...But now in the last release or two it is back and really annoying. Is there anyway to stop it? Thank you.

[2020-12-03 09:12] Tuzhiqiang1996 commented on #111794
![78778977](https://user-images.githubusercontent.com/57666259/100988328-91095900-358a-11eb-9b42-1792916a021d.png)
![Snipaste_2020-12-03_17-05-59](https://user-images.githubusercontent.com/57666259/100988365-9d8db180-358a-11eb-873b-6dfa6a359d74.png)
![Snipaste_2020-12-03_17-06-12](https://user-images.githubusercontent.com/57666259/100988388-a2eafc00-358a-11eb-9007-6d69cc53c4be.png)
![Snipaste_2020

[2020-12-03 09:13] mshareefkdy opened #111796 "While letter 'L' and 'A' are pressed simultaneously, cursor moves"
OS: Mac OS
in left side pane -> Source control section, while typing commit message in the textbox, if i press letters L and A on keyboard simultanously the cursor in the textbox moves to the beginning of the text.  This happens when i type very fast. I tried this in 'textedit' software in macos suspecting that it is something wrong with my keyboard but the issue is not found in that editor.

[2020-12-03 09:19] alexr00 commented on #111550
I made the views for both WSL and Containers, and I followed the "opening a folder from a menu causes the folder to open in the current Window". I'm not sure if that's documented anywhere, but someone mentioned that was the way to go when I was implementing them.

[2020-12-03 09:23] ldarshan1991 opened #111797 ""Setting Sync" doesn't sync Tasks"
- VSCode Version: 1.51.1
- OS Version: Windows 10

Steps to Reproduce:

1. Have VSCode on one computer system - `PC1`
2. Have few VSCode Tasks configured in `User Settings` - `Task.json`
3. Turn on `Setting Sync` in VSCode running on `PC1`
4. On a new computer `PC2`, install VSCode
5. Now login to the VSCode on the `PC2` with the same account as `PC1` and restore the settings.
6. Observe that all

[2020-12-03 09:23] gjsjohnmurray opened #111798 "Getting Started: capitalized "Editor" looks weird"
Testing #111554

![image](https://user-images.githubusercontent.com/6726799/100989820-23890880-3549-11eb-808d-fb3d21632eb4.png)

VS Code version: Code - Insiders 1.52.0-insider (92192baf760315ac47fb2caaf3ce6d0778962352, 2020-12-03T05:43:59.635Z)
OS version: Windows_NT x64 10.0.19042

[2020-12-03 09:26] afernando79 opened #111799 ""Find in files" during a liveshare not returning all results until files are manually opened"
Issue Type: <b>Bug</b>

Find in files
Enter text that exists in many files within the shared session's code
Review results -> some missing as host of liveshare demonstrates using screen share

Open file(s) manually and perform search, text is then found.

VS Code version: Code - Insiders 1.52.0-insider (0a80aacc7be1ab03ec0f94b8ac1a84949a83f35d, 2020-11-26T07:36:22.965Z)
OS version: Windows_NT x64

[2020-12-03 09:36] AllanOricil opened #111800 "Find a way to allow us to monetize the extensions"
Find a way to allow us to monetize the extensions. In America they say "there is no free lunch" right? We are developing extensions, bringing views to Microsoft and making VSCode more popular. So there should be a way for Microsoft to allow us to monetize the extensions. There is no way to run adds at the moment inside an electron app, so this option is out, and we cant make our extensions paid, u

[2020-12-03 09:40] gjsjohnmurray commented on #111799
/causedByExtension

Please report at https://github.com/MicrosoftDocs/live-share

[2020-12-03 09:41] #111799 closed

[2020-12-03 09:47] alexr00 commented on #111756
Does not occur in Edge, Firefox, or Chrome.

[2020-12-03 09:47] gjsjohnmurray commented on #111800
See also #90648, #36577, #71968

[2020-12-03 09:48] asas-dev opened #111801 "Support for "--extensions-dir" and "--user-data-dir" as permanent command line arguments"
A **huge** impact:

* Support for short command line calls in project folders: `C:\Projekt> code .`
* For those working in a Windows client-server environment:
  * No more profile issues with quota limitations.
  * No more profile issues with User Profile Service struggling with tons of cache files.
  * No need to work around by changing shortcuts and Windows Explorer registry keys.

A **trivial**

[2020-12-03 09:52] AllanOricil commented on #71968
Microsoft could pay us too a monthly fee according to the number of new users we bring to VSCode. It is like a Marketing Campaign, but we are doing it for free.

[2020-12-03 10:07] gjsjohnmurray commented on #111798
/assign @JacksonKearl

[2020-12-03 10:23] piroQ opened #111802 "Chromebookのほうが使いやすい"
Windowsは起動が遅い。 私は、VScodeじゃなくて、vimやtext(ChromeOSの標準エディタ)を使う。
私のPCは、Chromebookだ。
私のPCのOSは、ChromeOSだ。

[2020-12-03 10:30] yume-chan commented on #109690
@RMacfarlane See my [comment](https://github.com/microsoft/vscode/issues/109690#issuecomment-720355872), press <kbd>Ctrl</kbd> + <kbd>Space</kbd> to make the inline detail appear, otherwise it's completely hidden.

[2020-12-03 10:31] jrieken opened #111803 "Don't show "restart to update" on BigSur"
There is a well-known issue that restart to update doesn't work on BigSur. While it's well-known to us, it likely won't be so popular for our users so I suggest to tweak the wording on BigSur or show an explicit dialog before shutting down. What do you think?

[2020-12-03 10:32] weinand commented on #111021
There is a new "Temporarily Disable" option in the QuickPick.
The fact that it is only visible if auto attach is already shown in the status bar surprised me a bit. But I think the logic behind that is ok.

[2020-12-03 10:33] dbaeumer commented on #111618
Looks nice now.
<img width="86" alt="capture" src="https://user-images.githubusercontent.com/1931590/100998008-4ae8d100-355b-11eb-86f7-4590ddd15cf1.png">

[2020-12-03 10:34] yume-chan commented on #111802
Translation:

[2020-12-03 10:37] yume-chan commented on #111794
Noticing the `Memory (System): 5.87GB (0.91GB free)` and `Window has crashed (reason: oom)`, maybe it's just too little memory?

[2020-12-03 10:45] yume-chan commented on #111776
Happened to me several hours ago. Can confirm it works after an update.

![image](https://user-images.githubusercontent.com/1330321/100999233-75587f80-3597-11eb-847c-a1bf23c0c8fb.png)

<details>
<summary>Version Info</summary>

<pre>
Version: 1.52.0-insider (user setup)
Commit: 92192baf760315ac47fb2caaf3ce6d0778962352
Date: 2020-12-03T05:43:59.635Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12

[2020-12-03 10:55] Tuzhiqiang1996 commented on #111794
okey

[2020-12-03 11:02] joaomoreno commented on #111729
What version would that be? Same version?

When I try to run the integration tests with this flag they just don't run at all:

[code]

[2020-12-03 11:15] MaximeBernard opened #111804 "Renaming a file by changing only the case keeps previous name in the tab"
- VSCode Version: 1.51.1
- OS Version: macOS Big Sur 11.0.1 (Darwin x64 20.1.0)

Steps to Reproduce:

1. Open a folder
2. Create a file called `test`
3. Rename your file `TEST`
4. Switch tab (i go to `Welcome` tab but doesn't matter)

Your tab will have previous name.

Does this issue occur when all extensions are disabled?: Yes

Few notes:

- It seems to only occur if you change the case (upperca

[2020-12-03 11:16] AniketMalik opened #111805 "Vscode drains up to 30% battery while sleeping MacBook Pro 16 ( 2020 )"
- VSCode Version:
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-11T01:11:34.018Z (3 wks ago)
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.1.0

- OS Version:
macOS Big Sur 11.0.1 (20B29)

Steps to Reproduce:

1. Open any project ( in my case Flutter project ) ( fairly small project )
2. Leave 3-4 tabs open and mi

[2020-12-03 11:22] weinand commented on #111766
@bpasero VS Code receives the request to launch another instance of VS Code in "rawDebugSession.ts" from the debug extension and basically constructs a command line from the received arguments:

![2020-12-03_12-05-16](https://user-images.githubusercontent.com/1898161/101002545-52f73f80-3560-11eb-9288-118e7d412586.png)

Then we call `extensionHostDebugService.openExtensionDevelopmentHostWindow(...)

[2020-12-03 11:27] #111310 closed

[2020-12-03 11:27] #111170 closed

[2020-12-03 11:27] #109822 closed

[2020-12-03 11:27] Sevendaye opened #111806 "[Allow pattern for extension Material Icon Theme]"
Hi,

I use the extension "Material Icon Theme", for some reasons it is impossible for the extension to apply the same icon for files that end with * Sreen.js for example (LoginScreen.js, HomeScreen.js) , can you please solve the problem, to allow the extension to use this pattern?

Cordially.

[2020-12-03 11:40] aerogus opened #111807 "crash on copy/past a simple text"
- VSCode Version: 1.51.1
- OS Version: MacOS Catalina 10.15.7

Steps to Reproduce:

1. copy/paste the following text
⭐ 𝗖𝗔𝗟𝗘𝗡𝗗𝗥𝗜𝗘𝗥 𝗗𝗘 𝗟’𝗔𝗩𝗘𝗡𝗧
2. code immediately crash

Does this issue occur when all extensions are disabled?: Yes

[2020-12-03 11:47] ZoeLeee commented on #111435
No

[2020-12-03 11:48] magusikrak opened #111808 "The pointer shifts itself while typing."
- VSCode Version: 1.51.1
- OS Version:  Linux x64 5.4.0-54-generic

![The bug in gif](https://user-images.githubusercontent.com/51502114/101014011-476e3d80-358d-11eb-9c05-dec457f7714e.gif)

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2020-12-03 11:50] fstof commented on #107704
If I can add to the conversation...

I found that once you do manage to scroll to the top of the log, scrolling is smooth again... up until new logs are written

Turning off `debug.console.wordWrap` works fine for me... for now

[2020-12-03 12:03] abdulmk787 opened #111809 "Formatting of react code is bad"
Issue Type: <b>Bug</b>

Write any return function for react component and it formats in an unreadable way

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: enabled<

[2020-12-03 12:29] nikolaytoplev commented on #111529
You found a very important problem.
I am developing vscode extension now and faced such problem.
Thank you for your posting this problem.

[2020-12-03 12:33] Bankimchandrayadav opened #111810 "tqdm behaviour"
- VSCode Version:
- OS Version: Windows10 Home single language

Steps to Reproduce:

1. using tqdm in notebook generates the message about hbox and its properties
2. Progress bar should have been there

Sample code to reproduce that behaviour:
`from tqdm.notebook import notebook as td`
`for i in td(range(0, 10000)):`
`    c=1`

Please note: I have already updated ipywidgets

Does this issue occur

[2020-12-03 12:50] lszomoru opened #116532 "Code cell right hand padding is missing"
<img width="1056" alt="image" src="https://user-images.githubusercontent.com/3372902/101020263-82ad4400-356e-11eb-9b1b-ebc2f3a9e541.png">

[2020-12-03 12:53] erik-krogh commented on #110297
/verified

[2020-12-03 12:58] AllanOricil commented on #101506
@deepak1556 could you tell me when this is planned to be fixed?

[2020-12-03 12:58] alexdima commented on #110076
Well, I don't know. I think it depends from extension to extension. Perhaps the extension itself is somehow configurable? So does the issue reproduce when disabling the extensions?

![Kapture 2020-07-20 at 15 28 23](https://user-images.githubusercontent.com/5047891/87943040-c3b02a80-ca9d-11ea-847d-5f850fae8f05.gif)

[2020-12-03 13:04] mlicciardi opened #111811 "The TypeScript language service died 5 times right after it got started. The service will not be restarted"
Issue Type: <b>Bug</b>

TS 4.0.5

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-11T01:11:34.018Z)
OS version: Darwin x64 20.1.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseline: enabled

[2020-12-03 13:13] yyikiky0 opened #111812 "运行代码就会经常出现窗口无响应"
Issue Type: <b>Bug</b>

运行代码就会经常出现窗口无响应

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_bas

[2020-12-03 13:18] marcoms opened #111813 "Text areas should use native mouse cursor"
- VSCode Version: 1.51.1
- OS Version: macOS Big Sur

Steps to Reproduce:

1. Hover over any text area/text field and see the following:

![Screen Shot 2020-12-03 at 1 10 17 pm](https://user-images.githubusercontent.com/4211302/101022314-24ca2d80-3569-11eb-9500-3e5743fd45e4.png)

This is because of: https://github.com/microsoft/vscode/blob/f74e473238aca7b79c08be761d99a0232838ca4c/src/vs/base/brows

[2020-12-03 13:28] sandy081 commented on #107690
@bpasero Is there a build I can use to verify this?

[2020-12-03 13:33] aeschli opened #111814 "openExternal('vscode://external/..') should be handled internally"
Testing scenario https://github.com/microsoft/vssaas-planning/issues/1593 in Codespaces web UI

- Opening a Python file in a fresh codespace Web UI shows a notification:
![image](https://user-images.githubusercontent.com/6461412/101021812-b2f5e200-3570-11eb-9a10-dec6497a3fff.png)
- Clicking on Yes shows
![image](https://user-images.githubusercontent.com/6461412/101021892-d6b92800-3570-11eb-9518-dd

[2020-12-03 13:36] sandy081 opened #111815 "Configure Task is not working in empty workspace"
Testing #89456

- Open a workspace with no folders
- Run command `Tasks: Configure Task`
- You get `Create tasks.json from template` option. Select it.

🐛 Nothing happens

Same works in an empty window: Selecting `Create tasks.json from template` option shows templates

[2020-12-03 13:42] jrieken opened #111816 ""editor.renderWhitespace": "all" make scrolling very slow"
* start a vscode with fresh user data, e.g `./scripts/code.sh --user-data-dir ~/Desktop/fresh`
* open the attached file: [test.txt](https://github.com/microsoft/vscode/files/5636370/test.txt)
* scroll up and down using the wheel -> 🐎 scrolling is fast (FR at ~17ms)
* add this setting `"editor.renderWhitespace": "all"`
* scroll up and down using the wheel -> 🐌  scrolling is very slow (FR at ~150ms)

[2020-12-03 13:46] #111749 closed

[2020-12-03 13:47] sandy081 commented on #54938
Verified and reviewed the file decoration provider API in `vscode.d.ts.`

[2020-12-03 13:53] cfmaer commented on #73524
Please finalize this, this is really needed to fully implement extensions that use the FileSystemProvider, thanks! Do you need input?

[2020-12-03 13:53] sandy081 commented on #109781
@isidorn This action is available only for few builtin extensions (jsdebug, emmet) and this action reports issues in VS Code repository. IMO it shall be consistent and show this action for all builtin extensions. If repo is not found and extension is builtin we shall enable the action and create issue in VS Code repo. Let me know if you agree, if so shall I reopen this issue?

[2020-12-03 13:54] isidorn commented on #111592
Can you also reproduce if you disable Voice OVer?
Voice Over might be eating up that escape key for some weird reason?
If you click on X it closes just fine?

[2020-12-03 13:54] TIMONz1535 opened #111817 "Allow to disable thin srollbar for scrolling tabs"
- VSCode Version: 1.51.1
- OS Version: Windows 10

I endured for a very long time, but still decided to write this issue. Every day I face the problem that I do not get to the file tab. Instead, I am dropped a couple of pixels below, on the title scrollbar. This causes the tab list of files to travel very far, causing pain and anger every time. It is not even visually highlighted in any way, becau

[2020-12-03 13:55] isidorn commented on #109781
Works for me and let's reopen.
I am opening this for community contributions and adding help wanted

[2020-12-03 13:57] writeawesomecode opened #111818 "[VS Code Marketplace] Repeated downloads are also counted"
- VSCode Version:
- OS Version:

Steps to Reproduce:

I found that vs code marketplace counts the number of repeated downloads. The following code works and it is amazing.  I just run some code, then downloads increased by 6000, it's so easy.

[https://github.com/Wscats/compile-hero/commit/7165a7700487d5ad60184266e696059ceafef697](https://github.com/Wscats/compile-hero/commit/7165a7700487d5ad60184

[2020-12-03 14:01] IllusionMH commented on #111785
/needsMoreInfo

Please provide all info required by issue template.
Vue is not supported out of the box and you need to use extension for Vue specific features e.g. Vetour

[2020-12-03 14:04] IllusionMH commented on #111779
Most likely duplicate of #100730 and not related to formatting.

[2020-12-03 14:08] IllusionMH commented on #111809
/needsMoreInfo

Please provide screenshot of the problem.

Is it reproducible with all extensions disabled?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

Most likely installed formatter extension causes problems.

[2020-12-03 14:10] d-domingues opened #111819 "IntelliSense popup in not expanding to the usual height"
- VSCode Version: 1.51.1
- OS Version: windows 10

For some reason, my vs code intelliSense popup height is too small, I just woke up one day and it was like this, I didn't change any settings at settings.json, I also tried to comment all the settings and reinstalled VS Code but the problem remained.

![image](https://user-images.githubusercontent.com/49404822/101028463-0d933c00-3579-11eb-8cd5-a54

[2020-12-03 14:17] #108472 closed

[2020-12-03 14:19] #106663 closed

[2020-12-03 14:20] gjsjohnmurray commented on #111819
Probably #110971

Please try again after running the command to reset suggest widget size (F1 > Reset Suggest Widget Size)

[2020-12-03 14:20] alexdima commented on #106663
I've pushed a change which hides our cursor when the IME textarea is visible. This should make it that only one cursor is visible.

[2020-12-03 14:22] gjsjohnmurray commented on #111817
I don't think it can be turned off, but you can use `workbench.editor.titleScrollbarSizing` to make it thicker.

[2020-12-03 14:24] alexdima commented on #111813
This is always coming back since years.
- when we used the default OS cursor, people complained that they cannot see it.
- so we added our custom cursor
- but then macOS Catalina shipped with support for dark themes, which improved their native cursor on dark background, so we removed our custom cursor
- then people complained again and wanted back our custom cursor

I think this needs to be an op

[2020-12-03 14:32] Basile13 opened #111820 "Terminal Process "node down"
Visual code studio version: 1.51.1
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 18.7.0

Steps to Reproduce:

1. Install Pymakr extension, add node JS on the system if not already there
2. Close VS Code and re-open it
3. 3 litle windows pop-up on the bottom left screen simultaneous
![image](https://user-images.githubusercontent.com/55885109/101041488-b68f6600-357c-11eb-9d11-410c6d4d2ec

[2020-12-03 14:39] jrieken commented on #89191
I have a `test.mk` file, it shows Makefile at the bottom but when typing any of `(,[,{` no auto closing happens

[2020-12-03 14:39] weinand commented on #111413
This works fine:
- if totalFrames = 1000000
- totalFrames is missing
- totalFrames: startFrame + maxLevels + 20

But funnily it does not work if totalFrames contains the correct number of frames.
In this case the second (and final batch) still shows the "Show all frames" action.

[2020-12-03 14:42] Jupakabra commented on #91534
Doesn't seem to work, at least in zip version.
It opens current project parent folder instead, or just documents folder if no project is loaded.
Also, current stable release allows opening it through a shortcut correctly, even thought reveal in explorer is not visible.
![settings](https://user-images.githubusercontent.com/12775282/101042714-2bb36900-3586-11eb-93c0-1e75681ae3f6.gif)

[code]

[2020-12-03 14:42] #97196 closed

[2020-12-03 14:45] weinand commented on #111413
It could very well be that you are not able to detect the case that totalFrames contains the correct number of frames which results in the unnecessary action. If this is the case I suggest that you remove the action as soon as it was pressed and no additional frames were received.

[2020-12-03 14:46] d-domingues commented on #111819
You are my savior, It worked...

[2020-12-03 14:47] #111772 closed

[2020-12-03 14:47] AllanOricil commented on #32813
I found another use case. Imagine i have an extension that locally serves a page, so the user can work in a separate window. Now imagine I changed theme inside Vscode, how can I notify the local server the theme has been changed? I cant. There should be an event we can hook somewhere to get the new theme that was applied.

[2020-12-03 14:49] dwelle opened #111821 "split `editor.find.seedSearchStringFromSelection` to allow custom setting for project search"
Disabling `editor.find.seedSearchStringFromSelection` is useful for current file search so that you can keep current search active while continue to edit the file. I.e., you don't want your search to be wiped out because you forgot to deselect when hitting `ctrl-f`.

That said, seeding search is still very useful when doing `ctrl-shift-f` to find in files.

Unfortunately, the setting applies both

[2020-12-03 14:53] isidorn commented on #111413
That is fair. Moving this to next week to tackle it in debt week.

[2020-12-03 14:53] #89191 closed

[2020-12-03 14:53] alexr00 commented on #89191
Thanks for catching!

[2020-12-03 14:54] joaomoreno opened #111822 "Remote explorer of Codespaces needs a "nudge" after logging in"
Brand new machine, installed VS Code, enabled Settings Sync, allowed Codespaces extension to login to Github

🐛 Remote explorer doesn't show any codespace, need to hit refresh or "sign in", despite that doing nothing at all

![recording](https://user-images.githubusercontent.com/22350/101044604-61c7fd00-3534-11eb-9a21-96839ab8fb38.gif)

[2020-12-03 14:55] misolori commented on #110971
I've also encountered this several times lately. I'll try and get good repro steps, but what usually happens is I'll manually resize the widget to be a tad smaller (just a few pixels) and then layer as I intelligence comes up the widget gets resized to only show a single item and gets stuck there.

[2020-12-03 14:55] ZerdoX-x commented on #3884
Sorry, but I'm tired of trash in my home directory

[2020-12-03 14:56] weinand commented on #111496
seems to be fixed now, great!

[2020-12-03 15:01] isidorn commented on #111621
I can only reproduce this when dragging two large folders like you do in your gif.
The issue here is that I pass two `ResourceFileEdits` to the `BulkEditService`. `BulkEditService` probably passes them in parallel to the `FileService` and it seems like the `FileService` can not handle moving all these resources in parallel. I think the `FileService` can not handle these parallel operations because

[2020-12-03 15:01] abdulmk787 commented on #111809
Fixed issue by resetting vscode probably an extension issue!

On Thu, 3 Dec, 2020, 19:38 Andrii Dieiev, <notifications@github.com> wrote:

[2020-12-03 15:04] ElectroLund opened #111823 "Cursor follow not supported"
![image](https://user-images.githubusercontent.com/2272478/101046251-203c4f80-353e-11eb-82c1-d684049c43c6.png)
The VSCode feature doesn't seem to be supported as I navigate my source file.

[2020-12-03 15:04] isidorn commented on #111578
Not something I want to change in endgame, thus moving to debt week for discussions.
The issue is that `BulkEditService` currently does not distuinguish between different operations when reporting progress and would be nice if it stayed that way.
Also assigning to @jrieken for thoughts

[2020-12-03 15:05] jrieken commented on #111819
/duplicate

[2020-12-03 15:06] #111819 closed

[2020-12-03 15:08] lllopo commented on #111168
/verified

[2020-12-03 15:08] jrieken commented on #110971
In the last week I did fix a bug where you would get the "wrong" height persisted easily. This should be better now but I am curious to see if there is anything else. Tho, in all strictness what stated here (https://github.com/microsoft/vscode/issues/110971#issuecomment-734255238) is different, e.g that the widget doesn't grow with being resized

[2020-12-03 15:09] nexxai commented on #111479
Will this be explored as a fix in the current version or do I just need to wait for the public builds based on E11 to be released?

[2020-12-03 15:10] sandy081 commented on #108953
I am not able to drag a view onto webview.

[2020-12-03 15:26] gamersover opened #111824 "Proxy Authentication Required error on login"
when setting sync using my github or Microsoft accout, this error is occured
[code]

- VSCode Version: 1.51.1
- OS Version: windows10 20H2/ubuntu 20.04

Steps to Reproduce:

1.  open sync setting
2.  select github or Microsoft

Does this issue occur when all extensions are disabled?: Yes

[2020-12-03 15:38] gregvanl commented on #111714
@meganrogge Works great and very useful now for selecting and being able to reorder H2s and H3s in the release notes.

[2020-12-03 15:44] bpasero commented on #107690
No, I think this is fine to not verify as we dont ship this.

[2020-12-03 15:45] Bewinxed commented on #111776
Fixed in latest update, hover works now!

Commit: 92192baf760315ac47fb2caaf3ce6d0778962352
Date: 2020-12-03T05:43:59.635Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2020-12-03 15:46] bpasero commented on #111621
A bug in file service would be very surprising to me, I am sure users do a lot of copy/paste in the explorer while selecting multiple folders, no?

[2020-12-03 15:47] Bewinxed commented on #111728
Issues already exist for this, and it has been fixed with today's update, thanks!

Commit: 92192baf760315ac47fb2caaf3ce6d0778962352
Date: 2020-12-03T05:43:59.635Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2020-12-03 15:47] meganrogge commented on #111693
still getting a file instead of a folder when I undo and redo even though it says insiders released

[2020-12-03 15:49] bpasero commented on #111804
I cannot reproduce.

Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-12-03 15:49] sandy081 commented on #72878
To verify:

Write a simple extension that calls following command

`vscode.commands.executeCommand('workbench.action.openGlobalKeybindings', 'some query')`

This shall open keybindings editor with provided query arg.

[2020-12-03 15:52] aeschli commented on #111640
Maybe deleting a file (undoing a create, copy, move) should always prompt, regardless if invoked from the editor and explorer.

[2020-12-03 15:56] ffMathy commented on #111656
I also tried it on my work machine now, same result (although the same extensions are installed with that machine via settings sync).

Where to go from here?

[2020-12-03 16:01] Tejas9900 opened #111825 "sign in and login problem"
Issue Type: <b>Feature Request</b>

I want to sign in and login in my visual studio code please help me with this!!!

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 6.3.9600

[2020-12-03 16:02] rzhao271 commented on #110775
@isidorn I don't see the change, still.
I tried with both `window.customMenuBarAltFocus` enabled and disabled, and holding down shift while right-clicking still shows only "Delete"

Version: 1.52.0-insider (user setup)
Commit: 92192baf760315ac47fb2caaf3ce6d0778962352
Date: 2020-12-03T05:43:59.635Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 1

[2020-12-03 16:03] rlegrand commented on #109713
It looks like "show local" is available when adding a folder, but not when saving the workspace.

[2020-12-03 16:05] alexr00 commented on #111168
Thank you @lllopo !

[2020-12-03 16:06] isidorn commented on #111640
@aeschli makes sense, however you can always redo to bring it back. So for now I would not prompt, but I am open to changing this.

[2020-12-03 16:10] JacksonKearl commented on #111666
Yes

[2020-12-03 16:11] TIMONz1535 commented on #111817
I tried, but getting into the tab becomes completely unrealistic.

That is, there is such a situation, I have to switch between files. I could use **Mouse4/Mouse5** between files as in **Notepad++**. But if it's just the next tab/previous tab, **VS Code** just like in **Visual Studio**, this is the previous file being edited/the next file being edited.
**Notepad++** also has buttons to switch left

[2020-12-03 16:11] isidorn commented on #111621
@bpasero yes, but that was sequantial up until this release. Now we also do that in parallell.
I tried and I could not reproduce this issue if I just copy paste from the Explorer using the same folders...

[2020-12-03 16:13] AnthonyWeston opened #111826 "editor.action.refactor command not accessible after removing the keybinding"
Version: 1.51.1 (user setup)
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:34:32.027Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Open the Keyboard Shortcuts tab (File -> Preferences -> Shortcuts)
2. Remove the default Ctrl+Shift+R keybinding for the editor.action.refactor command
3.

[2020-12-03 16:14] alexr00 commented on #111822
Moved to codespaces

[2020-12-03 16:14] #111822 closed

[2020-12-03 16:15] jrieken commented on #111666
Adding @sandy081 - I believe this should be working. When you keep the "bad" extension disabled then I disable it with the extensions service. See this https://github.com/microsoft/vscode/blob/e024fd8b967d532588aa1da1c5a9c5129b0d658c/src%2Fvs%2Fworkbench%2Fservices%2FextensionManagement%2Fbrowser%2FextensionBisect.ts#L287-L289

Tho, in all fairness the window should reload quickly after that (line

[2020-12-03 16:19] bpasero commented on #111621
Oh ok, didn't know.

[2020-12-03 16:20] gjsjohnmurray commented on #111817
/assign @bpasero

[2020-12-03 16:24] jrieken opened #111827 "Startup profiling broken"
* run `code-insiders --prof-startup`
* :bug: doesn't work

[2020-12-03 16:36] jrieken commented on #111827
When running out of sources `./scripts/code-cli.sh --prof-startup` I see this crash. @deepak1556 can you help me understand what's going one here?

[code]

[2020-12-03 16:38] DavidPodrazik opened #111828 "Can not log into terminal"
Issue Type: <b>Bug</b>

My password to log into terminal for the IBMz Mainframe is not working.  I keep getting a permission denied error when trying to log into USS terminal.  I was able to log in earlier but now I am unable to log in.

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:34:32.027Z)
OS version: Windows_NT x64 10.0.19041

[2020-12-03 16:42] vsashidh opened #111829 "Typescript and Javascript format setting to place else in a control block on a new line"
I would like to achieve the following:
[code]

I have tried the following user and workspace settings:

[code]

but they only put the curly braces on new lines and not the else keyword as in

[code]

[2020-12-03 16:42] gwolf2u commented on #109972
here is some more gnome-shell logging, maybe helps
really dependent on work with vscode and this ruins my experience
every time shell crashes, I see (not sure if actual issue, but seems more like it
[code]
I seem to be able to reproduce this only with vscode -- all other text editors are fine
again steps to reproduce is to minimize vscode with a opened file, and with vscode set as default text edi

[2020-12-03 16:46] aeschli commented on #111009
@meganrogge All looks good in the screencast.

[2020-12-03 16:52] aeschli commented on #111806
Feature requests for the Material Icon Theme must be filed against that extension

[2020-12-03 16:52] #111806 closed

[2020-12-03 16:54] jrieken commented on #111827
Working fine one windows. Can someone try with catalina?

[2020-12-03 16:54] alexr00 opened #111830 "Remote explorer isn't respecting view order because of the ports view"
It turns out that view contributed from within VS Code core aren't ordered based on their `group`. Instead, an `order` must be specified.

[2020-12-03 16:57] #111830 closed

[2020-12-03 16:58] jrieken commented on #111827
@alexdima can confirm that this works on cataline, so a big sur regression

[2020-12-03 16:59] #111583 closed

[2020-12-03 17:02] TIMONz1535 commented on #111817
Another example of solution without a scrollbar.
![изображение](https://user-images.githubusercontent.com/7351599/101062107-0c7f0080-35b3-11eb-93e7-303da214cb50.png)

[2020-12-03 17:03] rebornix commented on #111755
The output view is also using a Monaco editor, that's why it's saying `editorFocus: true`. you may want to exclude output in the `when` clause.

[2020-12-03 17:04] #111755 closed

[2020-12-03 17:05] shlok-gandhi opened #111831 "VS Code Terminal Launch Error"
"C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe" terminated with exit code: 3221225477.

What should I do now to restart terminal again?

[2020-12-03 17:05] Nabakamal commented on #111791
Thanks, both. Yes, it's just a little different than what/how other editors let you do this, but, that's fine. Appreciate the prompt response.

[2020-12-03 17:06] jrieken commented on #111793
/duplicate of #110971

[2020-12-03 17:06] alexr00 commented on #111830
@bchuecos FYI.

[2020-12-03 17:07] #111793 closed

[2020-12-03 17:07] jrieken commented on #111823
Do you have "Follow Cursor" enabled?

<img width="468" alt="Screenshot 2020-12-03 at 18 06 54" src="https://user-images.githubusercontent.com/1794099/101062793-5acfd780-3592-11eb-8ea5-98c08aa31983.png">

[2020-12-03 17:07] rebornix commented on #111828
May I ask why is this a VS Code issue? A screenshot or screen recording can help us understand it better.

[2020-12-03 17:08] isidorn opened #111832 "Web: while file upload is in progress Explorer is ignoring clicks"
1. `yarn web`
2. Drag and drop a large folder from outside into VS Code in web
3. While the upload is in progress -> click in explorer -> no Effect :bug:

The issue seems to be that Explorer is refreshing the Tree like crazy for each element that arrives.
This seems to be the side effect of adopting to new file event handling.

fyi @bpasero

[2020-12-03 17:08] isidorn commented on #111583
@bpasero I have pushed a change that the progress is now shown (I was missing an `await`).
For Clicking on a file while upload is in progress I have filled a new issue https://github.com/microsoft/vscode/issues/111832

[2020-12-03 17:09] IllusionMH commented on #111809
/causedByExtension

[2020-12-03 17:09] #111809 closed

[2020-12-03 17:12] bpasero commented on #111788
Does this change when you install this extension into VSCode, does it then show all 3 languages for saving?

In the end we seem to be using this code to get the extensions:

https://github.com/microsoft/vscode/blob/bf24f189f1d17f701b6440fa5845900a5885fcc1/src/vs/workbench/services/dialogs/browser/abstractFileDialogService.ts#L278-L293

If someone wants to debug this and help out to understand why

[2020-12-03 17:13] bpasero commented on #111832
Yes I noticed this too.

[2020-12-03 17:13] bpasero commented on #111583
I commented on that change, I think there is another call you miss to `await`

[2020-12-03 17:14] meganrogge commented on #96359
@mrsidverse click the person icon on the activity bar, then your username, then Manage Trusted Extensions

[2020-12-03 17:19] akhilravuri1 commented on #111788
Hi @bpasero

Thanks for the comment.

I haven’t installed the extension. I just ran it using F5 as I said in my previous comment.

But I will install the extension and I will update you.

[2020-12-03 17:20] legomushroom commented on #111009
Also verified this on the latest insiders 👍

[2020-12-03 17:24] isidorn commented on #111832
Found some optimisations, will push a fix soon...

[2020-12-03 17:31] oltodosel opened #111833 "Search bar stays always on top and blocks suggestions"
- VSCode Version: 1.51.1
- OS Version: Linux x64 5.9.11-arch2-1

Steps to Reproduce:

1. open the search bar
2. type something in right part of the screen so that suggestions would appear close to the search bar

Does this issue occur when all extensions are disabled?: Yes

Screen:
![2020-12-03-192642_1920x1080_scrot](https://user-images.githubusercontent.com/10230453/101065510-eac74e80-359d-11eb-

[2020-12-03 17:34] MaximeBernard commented on #111804
I cannot reproduce in Insiders. I guess you fixed it already congrats 🎉 😄

[2020-12-03 17:43] ElectroLund commented on #111823
Yeah I do have that turned on.  As a test, I looked at a standard C source file and the follow works as expected there.

Then on another AHK file, same results with cursor not following.

The extensions I have installed and enabled are:
AutoHotkey Plus
Bookmarks
C/C++
Increment Selection
Smart Column Indenter
Todo Tree

[2020-12-03 17:51] deepak1556 commented on #111807
/duplicate https://github.com/microsoft/vscode/issues/111479

[2020-12-03 17:51] #111807 closed

[2020-12-03 17:52] jrieken commented on #111823
When you go the other way and click on an item where precisely does the cursor end up?

[2020-12-03 17:52] deepak1556 commented on #111479
Electron 11 will be pushed to insiders next week, I don't plan to explore a fix for Electron 9.

[2020-12-03 17:52] roblourens commented on #111696
You have to rerun the search to rerender results

[2020-12-03 17:52] #111696 closed

[2020-12-03 17:53] deepak1556 commented on #111782
/duplicate https://github.com/microsoft/vscode/issues/100840

[2020-12-03 17:54] #111782 closed

[2020-12-03 17:59] rzhao271 opened #111834 "Cannot click on link when skip is in-line with it"
While verifying #111706

I had the editor zoomed in and the panel up, so 'Skip' showed up on the same line as the 'Essentials' link, and then I couldn't click 'Essentials'

![skipbar](https://user-images.githubusercontent.com/7199958/101068715-eb37f900-354d-11eb-8790-31f1c1e2f91f.PNG)

Version: 1.52.0-insider (user setup)
Commit: 92192baf760315ac47fb2caaf3ce6d0778962352
Date: 2020-12-03T05:43:59.6

[2020-12-03 18:05] RMacfarlane opened #111835 "Tweak to extension install failure message"
Testing https://github.com/microsoft/vscode/issues/109023

Right now this notification reads "Please check logs for more details.", I think this is missing a "the" and should be either "Please check the logs for more details." or "Please check the log for more details."

[2020-12-03 18:06] schulzalbrecht commented on #108304
how can I simply disable the pop-up asking me to sign in to github?

[2020-12-03 18:07] RMacfarlane commented on #108304
@schulzalbrecht What does the pop-up say, is it from an extension?

[2020-12-03 18:12] schulzalbrecht commented on #108304
@RMacfarlane it's from the GitLens extensions. It says: "GitLens would like to connect to GitHub to provide a rich integration with pull requests, issues, avatars, and more. If you choose to connect, you will be prompted to authenticate with GitHub.". When pressing the button "Connect to GitHub", the browser opens and I get the error in the picture above.

[2020-12-03 18:14] yysh12 commented on #111789
I am coding in c++ using the gcc compiler on ubuntu.

[2020-12-03 18:16] roblourens commented on #111634
It seems like this is by design in this command. It's designed to be invoked from the context menu in the files explorer, not to be used via keybinding in the editor. You probably just want the basic `workbench.view.search`

[2020-12-03 18:24] meganrogge commented on #90897
@rebornix this doesn't look like expected behavior. am I doing something wrong?
![recording (63)](https://user-images.githubusercontent.com/29464607/101071677-c776b200-3551-11eb-93df-3c66d86b0ae3.gif)

[2020-12-03 18:25] ishwish2008 commented on #111153
nevermind i can do it with other software

[2020-12-03 18:25] #111153 closed

[2020-12-03 18:27] alexdima commented on #111808
What linux distro do you use? Do you have a specific font family? Did you just install this font family? Do you use some sort of display scaling?

The workaround is to configure `"editor.disableMonospaceOptimizations": true` -- this is an internal setting so it might render greyed out in `settings.json`, but even if the workaround works for you, I would like to understand what the issue is and be

[2020-12-03 18:28] #111634 closed

[2020-12-03 18:34] Quadriphobs1 commented on #110319
Actually, digging further on this it only happens if there is a githook, without githook this works fine.

[2020-12-03 18:34] deepak1556 commented on #111827
Works fine for me on Big Sur 11.0.1 with both insiders and oss version.

`HIToolbox: could not open() theme file`

This would be the root cause, what macOS theme are you using on the system ? Seems like an OS issue, can you restart and try ?

[2020-12-03 18:37] deepak1556 commented on #111729
Yeah its same version `9.3.5`

Seems like new errors:

[code]

I have fixed these in my container branch for electron 11 https://github.com/microsoft/vscode-linux-build-agent/tree/ubuntu-18.04/x64 , can test with that.

[2020-12-03 18:42] SturmB commented on #111418
I'm experiencing the exact same problem.

Furthermore, each undo requires _two_ presses of the shortcut (<kbd>CTRL</kbd>-<kbd>Z</kbd>, <kbd>CTRL</kbd>-<kbd>Z</kbd>) or _two_ executions of the menu item (Edit -> Undo) in order for the action to be performed.

Version Info:
---
Version: 1.51.1 (user setup)
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:34:32.027Z
Electron: 9.3.

[2020-12-03 18:43] alexdima commented on #68646
That is expected behaviour. Cursor undo will only undo the cursor position up until the last file edit.

[2020-12-03 18:43] #68646 closed

[2020-12-03 18:44] JacksonKearl commented on #111834
Will close as duplicate of #111702 for general small window behaviour.

[2020-12-03 18:44] #111834 closed

[2020-12-03 18:47] tanhakabir commented on #111773
Just added!

[2020-12-03 18:48] andrewbranch opened #111843 "Property preview text wraps lines in debug console"
**Describe the bug**

Inspecting an object with function properties in the debug console results in source code soup:

<img width="881" alt="image" src="https://user-images.githubusercontent.com/3277153/101073190-eece7e80-3553-11eb-9f21-a09fe6c08af5.png">

I could be misremembering, but I’m pretty sure until recently, the function’s toString() text got truncated, so that each property only takes u

[2020-12-03 18:50] codeinflash commented on #82662
This is A thing that must be fixed. I can do CTL+P and then Reload Window to kill all previous terminal sessions but it's pain in the ass.

[2020-12-03 18:50] #111832 closed

[2020-12-03 18:50] ElectroLund commented on #111823
When I click on any item in the Outline, the editor window snaps to that item as you would expect.  It's only from the Editor window that the cursor isn't followed.

I also tried disabling all other extensions.

I closed all editors except for the one AHK (no splits).

[2020-12-03 18:50] isidorn commented on #111832
Pushed the optimisastion.
It is still not optimal, however I checked previous stable and the performance is comaprable to what we have with this fix (still a lot of refreshes, but not a gazilion and some clicks get lost).

For more optimisations I would not do last day of endgame but potentialy in debt week

[2020-12-03 18:55] AmanKishore opened #111836 "VS Code crashes my laptop when I open it"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Install VSCode
2. Launch VSCode
3. Macbook with Big Sur crashes

Does this issue occur when all extensions are disabled?: Yes/No

[2020-12-03 18:56] isidorn commented on #111693
@meganrogge  I justr tried latest insiders and it works for me. Here are my steps, let me know if you are using different steps:

1. Select a folder in the Explorer, Ctrl + C, Ctrl + V
2. Ctrl + Z -> Folder copy gets deleted
3. Ctrl + Y -> Folder gets brought back from trash as a folder

[2020-12-03 18:56] bacuffe1 commented on #111634
You're right, I did. (and it doesn't wait for a [enter] to start searching - nice :-) )
I _did_ have to remove the default "when" condition though (my search output pane is always visible)
Thanks Rob

[2020-12-03 19:06] isidorn commented on #110775
@rzhao271 good catch, thanks, let's reopen this

[2020-12-03 19:10] JacksonKearl commented on #111753
Got a good chunk of these done (thanks @misolori!), moving rest out to December.

[2020-12-03 19:13] #110775 closed

[2020-12-03 19:14] JacksonKearl commented on #111779
Ah, I agree.

[2020-12-03 19:14] #111779 closed

[2020-12-03 19:15] #111798 closed

[2020-12-03 19:15] JacksonKearl commented on #111798
Yeah I agree, updated. Thanks!

[2020-12-03 19:16] sandy081 commented on #111835
Picked `Please check the log for more details`

[2020-12-03 19:16] #111835 closed

[2020-12-03 19:19] sandy081 commented on #111826
/duplicate

https://github.com/microsoft/vscode/issues/84072

[2020-12-03 19:19] #111826 closed

[2020-12-03 19:20] gjsjohnmurray commented on #111789
/causedByExtension

Please raise this on the extension's repository.

[2020-12-03 19:21] sandy081 commented on #111621
Just want to double check if this parallel behaviour breaks any existing flows?

[2020-12-03 19:21] #111789 closed

[2020-12-03 19:21] isidorn commented on #111577
@bpasero two progress bars in the explorer. What are the steps for you to see this? I see you are using Code - Insiders?

For the first -> double downloading, is there an easy way to get into this state by running vscode out of source? Since by running `yarn web` the Download folder action complains. So my question is how did you get into this state?

[2020-12-03 19:22] isidorn commented on #111621
Hopefully not, that is why there was a couple of test plan items and why we did this 2 weeks ago in insiders. So far there hasn't been other issues than this.

[2020-12-03 19:22] RMacfarlane commented on #111825
@Tejas9900 You can use the accounts icon above the settings gear on the activity bar to turn on settings sync and log in
<img width="393" alt="Screen Shot 2020-12-03 at 11 22 16 AM" src="https://user-images.githubusercontent.com/3672607/101077538-d19cae80-3559-11eb-805a-6b78e3f33a3e.png">

If you're having a problem with login itself, can you include more details about what's happening?

[2020-12-03 19:25] RMacfarlane commented on #111393
@tinck Is there anything special about your network, are you behind a proxy?

[2020-12-03 19:28] sandy081 commented on #111797
/duplicate

[2020-12-03 19:29] meganrogge commented on #68151
@weinand when I follow these steps, I get:

$ C:/Users/Megan/AppData/Local/Programs/Python/Python39/python.exe c:/Users/Megan/vscode/.vscode/notebooks/meg's/test.py

C:\Users\Megan\AppData\Local\Programs\Python\Python39\python.exe: can't open file 'c:\Users\Megan\vscode\.vscode\notebooks\megs\test.py
C:\Users\Megan\AppData\Local\Programs\Python\Python39\python.exe c:\Users\Megan\vscode\.vscode\not

[2020-12-03 19:29] #111797 closed

[2020-12-03 19:30] roblourens commented on #109706
Hey @rzhao271, when you close an issue as out of scope, you can remove it from the milestone so it doesn't show up in our verification query

[2020-12-03 19:34] CharlesDerek opened #111837 "This resource should have a checksum for downloads"
On the website (https://code.visualstudio.com/docs/), downloading the software shows no reference for checksums.

[2020-12-03 19:35] meganrogge commented on #111672
@jrieken not seeing this happen yet, thinking it's unreleased at this time

[2020-12-03 19:35] madhu-rapolu opened #111838 "Show the number of lines in selection on the status bar"
When I select some text in the editor, I see only the number of characters selected. But I want to see how many lines are in that selected text. Surprisingly, many editors do not have that feature. I had made updates to Programmers' Notepad and jEdit for this to happen and this feature has been enormously handy for me.

As a simple use case, you have a long list of vegetable names, each name on a

[2020-12-03 19:35] JacksonKearl commented on #111666
Oh so it doesn't reload the window if I click "report issue & continue" and I end up stuck in the weird state

[2020-12-03 19:40] #110376 closed

[2020-12-03 19:41] crumblingstatue opened #111839 "GIT_ASKPASS is set unconditionally"
- VSCode Version: 1.51.1 (OSS)
- OS Version: Linux x64 5.9.11-arch2-1

I disable the git authentication with
[code]
But `git push` errors because vscode still set GIT_ASKPASS:
[code]

Furthermore, this also occurs with --disable-extensions, which makes no sense to me because it tries to execute extensions/git/dist/askpass.sh, even though I have the git extension disabled?

Does this issue occur wh

[2020-12-03 19:42] yysh12 commented on #111789
Would you happen to know which extension it is? I'm totally new to vscode.

[2020-12-03 19:48] crumblingstatue commented on #111839
It seems like it sets GIT_ASKPASS in the term environment unconditionally, regardless whether git authentication is enabled or not.
If I unset GIT_ASKPASS, this error goes away.

[2020-12-03 19:49] bamurtaugh commented on #111550
That tends to make sense to me- do you think it'd be jarring to users if we changed the inline menu action for SSH to open the folder in the current window to help with consistency and follow this paradigm?

[2020-12-03 19:58] nexxai commented on #111479
Thanks for confirming.  I will wait for the full release to contain E11.

[2020-12-03 20:11] rebornix commented on #111810
please file issue agains the Jupyter extension https://github.com/microsoft/vscode-jupyter

[2020-12-03 20:11] #111810 closed

[2020-12-03 20:28] gateslm opened #111841 "Error Icon on Manage (gear) when Settings json is formatted incorrectly"
## Problem
Working with students learning to program for the first time, we have them edit the settings manually (so they don't overwrite other settings by pasting in a file and do not get lost scrolling). Many of the students do not format the _user_ settings correctly which results in subsequent issues the new students don't understand. When helping them, we don't realize the settings were typed

[2020-12-03 20:30] roblourens commented on #91534
@meganrogge you can reopen issues when you add verification-found

[2020-12-03 20:30] gateslm commented on #111841
It is a feature request / suggestion. No issues when running Visual Studio Code.

Feature suggestion to help handle user error.

[2020-12-03 20:32] sandy081 commented on #111666
Enablement is disabled if an extension is disabled in environment (by bisect or through cli). It seems the above blamed extension is disabled by bisect already and hence enablement options are not shown.

https://github.com/microsoft/vscode/blob/5d591624ae2944da29969a9de71e1c89959b55ee/src/vs/workbench/services/extensionManagement/browser/extensionEnablementService.ts#L80-L83

[2020-12-03 20:32] Luciano-Holz opened #111842 "Mensagem não aparece no terminal"
A saída do código não aparece no terminal, aparece apenas o horário e time.

[2020-12-03 20:39] sandy081 commented on #91534
It was working while fixed. After bisect, I figured out that Fix of https://github.com/Microsoft/vscode/issues/110353 broke this.

@isidorn FYI

[2020-12-03 20:39] connor4312 commented on #111843
I think this should be an option for the debug console view (if it's not already). As a debug adapter I have no idea how wide the console is / how many characters can fit in it.

[2020-12-03 20:53] epfeiffe commented on #87290
Just submitted a pull request that is ready for review: #111845

[2020-12-03 20:55] sandy081 commented on #111773
It seems to work for me. Sometimes sync does not get kicked off immediately (if sync was done in less than 10s ago). You have to wait for 5 mins for next sync or perform some action that can trigger sync or you can trigger sync manually using Sync Now command from command pallette. To confirm if sync got triggered you can check settings sync log in output view.

[2020-12-03 20:55] #111773 closed

[2020-12-03 20:56] alexdima commented on #111499
:+1: I could also reproduce even with `proportional`.

Settings:
[code]

Open `charCode.ts`:
![TO_UPLOAD](https://user-images.githubusercontent.com/5047891/101087389-6fbc6300-35b2-11eb-9639-b5334b619b86.gif)

[2020-12-03 20:58] #111499 closed

[2020-12-03 20:59] sandy081 commented on #111814
Unassigning myself as it seems url handling related.

Please let me know if there is something I have to do in extensions area.

[2020-12-03 21:01] sandy081 commented on #111592
it works well when I disable Voice Over.

Yes

[2020-12-03 21:03] sandy081 commented on #104222
@sanket-bhalerao We have done some improvements and fixed some memory leaks. Can you please try with our latest insiders and see if you can still reproduce this? If you want to wait for stable release let me know.

You can download insiders from here - https://code.visualstudio.com/insiders/

[2020-12-03 21:04] RobMaskell opened #111847 "Graphic artefacts after updating to Pop_OS 20.10"
Issue Type: <b>Bug</b>

MBP 15" running Catalina 10.15.7 -> VMWare Fusion (11.5.7) -> Pop_OS VM

When the Pop_OS VM was running 20.04 vscode was super stable, after upgrade to 20.10 the graphic artefacts started appearing while running vscode and only for vscode getting worse the longer it was running until it became unusable.

Tried creating a fresh VM from 20.10 iso just in case and same issue.

[2020-12-03 21:09] macintacos opened #111848 "Command mapped to "Space" is getting invoked despite (presumably) correct `when` clause"
Issue Type: <b>Bug</b>

I previously opened this issue [here](https://github.com/microsoft/vscode-pull-request-github/issues/2281), however it was determined that because the extension is using a webview, the `when` clause isn't properly met, which is an issue that VScode would have to handle in order to make sure that it has consistent enforcement across any extension with webviews:

IMO, if I'm

[2020-12-03 21:16] rioj7 opened #111849 "vscode.workspace.openTextDocument(uri) can't open file bigger than 50MB: cannot be synchronized with extensions"
- VSCode Version: 1.49
- OS Version: Windows 8

Steps to Reproduce:

1. Have some text file bigger than 50MB
1. In an extension create an URI for that file with `file` sceme
1. call `vscode.workspace.openTextDocument(uri)` to open the file
1. you get an error message with Details: `Files above 50MB cannot be synchronized with extensions`

Opening the file with File|Open File... : No problem

`cat`

[2020-12-03 21:23] andrewbranch commented on #111843
Huh, actually the debug console _can_ scroll horizontally with this option:

<img width="477" alt="image" src="https://user-images.githubusercontent.com/3277153/101089460-0d3f7480-356a-11eb-9fde-7e14174317bb.png">

This still doesn’t feel great, because it means the console width grows to however wide the text coming from the debugger reaches, which pushes right-aligned text (like the links to log

[2020-12-03 21:23] meganrogge commented on #111831
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2020-12-03 21:24] meganrogge commented on #111820
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2020-12-03 21:29] weinand commented on #68151
@meganrogge I do not quite understand what you did to verify my fix, but your result from above suggests that you did not use PowerShell.

To recapitulate you have to:
- ensure that you use PowerShell in the integrated terminal,
- install the Python extension
- either create a launch config for running a Python program or open a Python program in the editor
- press "Ctrl F5" to "Run Without Debugg

[2020-12-03 21:32] KamasamaK commented on #94316
This looks to have been finalized in #109923

[2020-12-03 21:33] SetTrend commented on #111696
Thanks, @IllusionMH and @roblourens!

Sorry for my late reply. I've been busy the other day.

I was looking for the change to appear in the extra Search editor (shown at the bottom editor group in my screencast). That's where I first ran a new search when I reported this issue.

[2020-12-03 21:33] meganrogge commented on #111842
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2020-12-03 21:46] alexdima commented on #110235
I think you just need to restart gulp sometimes when pulling, for example when we change the editor options. The problem is that we use a const enum for editor options and that our gulp-tsb does not re-emit JS files when a const enum is changed.

[2020-12-03 21:46] #110235 closed

[2020-12-03 21:49] alexdima commented on #99356
Sorry @alexr00 I don't believe this is a feature request? Can you please reassess the issue type?

[2020-12-03 21:54] Robert-Saiter commented on #81589
Having this configurable would be more useful than increasing it to 100000.  I am just guessing but each machine may have a different limit to how much it can handle and I frequently handle text files with millions of lines.  Whatever the maximum amount is that my machine can handle would be the best case for me.

[2020-12-03 21:56] alexdima commented on #40389
I think two distinct things could be done:
- the lookup keybindings code could become aware of `config.*` context keys, since it is safe to trust that the `config.*` values are not changing all the time (for example on focus change). I looked into this briefly, but it is not trivial. Then, the gitlens extension could define keybindings and switch keymaps using a `config.*` context key.
- the other

[2020-12-03 21:56] roblourens commented on #111696
I see, that setting only affects the search view in the sidebar, not the search editor. But you should be able to disable line numbers in the search editor with the normal editor line numbers setting, and you can set it per-language to scope it to the search editor if you want.

[2020-12-03 22:07] roblourens commented on #110511
Is it even possible to verify this in insiders? Maybe with package/product.json hacks?

[2020-12-03 22:08] digitarald opened #111850 "Prompt to save untitled file before run/debug"
Follow up from #110330, a common issue reported from new users who are just getting into coding is forgetting to save files before running them. This is probably based upon experience with cloud-based text and code editing that provide auto-save and live-refresh for an iterative editing cycle.

A stop gap solution that doesn't require too much thought is to prompt the file-save dialog when the fil

[2020-12-03 22:09] alexdima commented on #109975
This is a hover computed by the C++ language. Please report to the C++ extension.

[2020-12-03 22:09] #109975 closed

[2020-12-03 22:14] giammi56 opened #111851 "A custom webview editor restores on the wrong editor group when split and restarted"
Version: 1.51.1 (user setup)
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:34:32.027Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042
ipython 7.19.0 py38hc5df569_0 conda-forge
ipython_genutils 0.2.0 py_1 conda-forge
Type of virtual environment used: conda
Jupyter server running: Local

Steps to Reproduce:

1.spli

[2020-12-03 22:19] alexdima commented on #43008
Closing since we now have semantic tokens. Please reopen if this is still an issue.

[2020-12-03 22:19] #43008 closed

[2020-12-03 22:19] deepak1556 commented on #111729
I am trying to verify with new images but the build keeps failing at an unrelated `Create Build` step due to some network issues, have restarted nearly 5 times now. The same image works fine on `electron-11.x.y` exploration branch.

https://monacotools.visualstudio.com/Monaco/_build/results?buildId=96117&view=logs&j=bd1e231b-cef9-51a2-e461-b67194c0a817&t=292876a9-5aa2-5968-ed4a-1a2d9cd032d6

@joao

[2020-12-03 22:20] David-A-RogersHS2 commented on #109938
This should not be closed!!!!!

This is the current version of vscode
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-11T01:11:34.018Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

This is what it looks like using gohufont at 14 point

Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020

[2020-12-03 22:21] David-A-RogersHS2 commented on #109938
@alexdima Reopen this bug please.

[2020-12-03 22:21] alexdima commented on #92068
This is intentional.
* when starting with the cursor on a word, and pressing cmd+D, the search will become for "whole words"
* when starting with a selection (on a word or otherwise), the search will respect whatever is checked in the find widget for "whole words".

[2020-12-03 22:21] #92068 closed

[2020-12-03 22:23] roblourens commented on #87199
@wumf-terra this is fixed, can you verify?

[2020-12-03 22:24] tautomer commented on #26339
I only realized there is no such a feature after I accidentally git reset hard in a wrong repo....

[2020-12-03 22:24] alexdima commented on #109938
@David-A-RogersHS2 Sure. Can you please try out what I wrote in https://github.com/microsoft/vscode/issues/109938#issuecomment-737340932

[2020-12-03 22:39] SetTrend commented on #111696
Thank you, @roblourens.

How can I set the visibility of line numbers per language? I disabled line numbers at `editor.lineNumbers": "off",`. Still, the Search editor displays line numbers:

![Search editor](https://user-images.githubusercontent.com/9283914/101094643-042bc300-35bd-11eb-976f-db1d25a9f505.png)
<br/>

Actually, considering the Search editor design ... I would have proposed a more tig

[2020-12-03 22:41] eldarkurtic opened #111852 "Folds only argument list, not the entire function"
- VSCode Version: 1.51.1
- OS Version: Big Sur 11.0.1 (Darwin x64 20.1.0)

VSCode folds only the argument list when closing parentheses have smaller indentation than the argument list.
Expected behavior: folds the entire function body.

![folding](https://user-images.githubusercontent.com/8884008/101097205-1445a180-35c1-11eb-8a10-91e726a301cf.gif)

[2020-12-03 22:46] sbatten commented on #7989
@joaomoreno this totally works and is clearly a corner case, but its not the most intuitive notification. i wish I could see that I did something with the merge conflicts and create empty commit changes to something like "ignore all incoming merge conflicts". i imagine anything more custom is not trivial so I do not reopen this.

[2020-12-03 22:54] rzhao271 opened #111853 "Resolution hover message incorrect"
Version: 1.52.0-insider (user setup)
Commit: 92192baf760315ac47fb2caaf3ce6d0778962352
Date: 2020-12-03T05:43:59.635Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

In a package.json file with a `resolutions` field, the description given is the same as that for the `dependencies` field.

Expected: some text about the following:
https:

[2020-12-03 22:57] deepak1556 commented on #101506
Can you provide the output `get-command -All code`

Do you see this issue with insiders https://code.visualstudio.com/insiders ?

[2020-12-03 22:58] eamodio commented on #40389
GitLens keys are currently conditional based on a `config.*` setting.

I thought about the keymap option, but I'm definitely worried about migration and a bit with discovery. I've also thought about not having any keybindings or keymaps. And completely leaving it up to users -- and for migration, if users want to keep their current keybindings, I could just write them out into the `keybindings.jso

[2020-12-03 23:02] deepak1556 commented on #105374
If you are opening vscode without using the wrapper scripts `code.cmd` or `code.exe`, then please set the environment `ELECTRON_NO_ATTACH_CONSOLE` to avoid attaching to the console.

[2020-12-03 23:02] #105374 closed

[2020-12-03 23:03] roblourens commented on #111696
https://code.visualstudio.com/docs/getstarted/settings#_languagespecific-editor-settings

[2020-12-03 23:04] gjsjohnmurray commented on #111789
I think the repo I previously pointed you to is the correct one:

https://github.com/microsoft/vscode-cpptools/issues/

Rather than opening a new issue I suggest you comment on the one I linked to earlier.

[2020-12-03 23:08] gjsjohnmurray commented on #111852
This is expected behaviour for the default indent-based folding. For better folding you need language-specific support. What language are you coding in?

[2020-12-03 23:11] alexdima commented on #63975
@othyn Using the middle mouse button, this works for me:

![TO_UPLOAD](https://user-images.githubusercontent.com/5047891/101099608-4527d580-35c5-11eb-8b88-3aef6089827f.gif)

Would you mind trying one more time to check if this is still an issue?

[2020-12-03 23:12] #105808 closed

[2020-12-03 23:13] deepak1556 commented on #107496
I am unable to repro this with the steps outlined in latest stable with both system and user installed version.

[2020-12-03 23:13] #107496 closed

[2020-12-03 23:16] eldarkurtic commented on #111852
Mostly Python and C++. Do you have a suggestion for language-specific extensions?

[2020-12-03 23:20] eamodio opened #111854 "Allow extensions to contribute a default when clause to be used when a user add a key binding for the command"
Related: https://github.com/microsoft/vscode/issues/40389#issuecomment-738419359

Commands today can often have complex `when` clauses for the conditional for when they should apply, but these conditions aren't able to be expressed to the user when they add a key binding. Maybe we could add a `defaultWhen` or `keybindingWhen` (or something like that) property to commands in the `package.json`, so

[2020-12-03 23:28] RMacfarlane commented on #78733
Is this scenario supposed to work?

1. Select some text in an editor and Cmd+F to bring up find widget
2. Select other text in editor
3. Refocus the find widget
4. Cmd+Shift+F to open global search

The global search isn't populated with anything, I was expecting it to take the text from the find widget

[2020-12-03 23:29] deepak1556 commented on #109782
I unable to repro the situation where debug.log file is generated, have tried

* Latest stable both system and user install
* Latest insiders both system and user install

I was able to repro the log https://github.com/microsoft/vscode/issues/109782#issuecomment-720083009 but that is harmless as I mentioned before.

Closing, can reopen if there is a repro for `debug.log` issue

[2020-12-03 23:29] #109782 closed

[2020-12-03 23:31] gjsjohnmurray commented on #111852
I don't use either of those languages, but it looks like [this extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools) may help you for C++.

[2020-12-03 23:32] yysh12 commented on #111789
Awesome thanks!

[2020-12-03 23:44] RMacfarlane commented on #109104
@rebornix What's a good way to verify this change?

[2020-12-03 23:45] SetTrend commented on #111696
I read that documentation. But that won't have influence on the Search editor, will it?

[2020-12-03 23:47] roblourens commented on #78733
That works for me, do you have any search settings set?

[2020-12-03 23:48] roblourens commented on #78733
Oh in your scenario, if you didn't select the text in the find widget in step 3, it won't copy text to the search viewlet unless you have `"search.seedWithNearestWord": true`

[2020-12-03 23:50] RMacfarlane commented on #78733
Ah, yeah, that was it! I didn't have the text selected or `"search.seedWithNearestWord": true`, thanks.

[2020-12-03 23:50] #78733 closed

[2020-12-04 00:01] RMacfarlane commented on #109765
Hmm, I'm still seeing the original issue with the steps above

[2020-12-04 00:04] alakcreature opened #111855 "Commenting is not working properly"
Issue Type: <b>Bug</b>

I am entering ctrl + / to comment a line in html file but instead it shows comment as given below:

{% comment %}  {% endcomment %}

What to do?

VS Code version: Code 1.51.1 (e5a624b788d92b8d34d1392e4c4d9789406efe8f, 2020-11-10T23:31:29.624Z)
OS version: Linux x64 5.4.0-54-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-

[2020-12-04 00:13] JacksonKearl commented on #109699
Looking at the logs I think I might have just totally disabled the locker... investigating 🙃 https://github.com/microsoft/vscode/runs/1495852851?check_suite_focus=true

[2020-12-04 00:31] mjbvz commented on #111829
This feature is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md)

[2020-12-04 00:31] #111829 closed

[2020-12-04 00:31] mjbvz commented on #111811
/needsMoreInfo

[2020-12-04 00:31] mjbvz commented on #111811
Also does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-12-04 00:32] #111848 closed

[2020-12-04 00:34] mjbvz commented on #111848
Closing this since we can't reliably track where a user is focused inside of a webview and I don't see the payoff of trying to fix this as being worth the engineering cost

As discussed upstream, you can try using `when` clauses that target specific scenarios instead of when clauses that try explicating specific ones

[2020-12-04 00:35] #111776 closed

[2020-12-04 00:36] mjbvz commented on #90897
@meganrogge You need to be in the `javascript react` language mode for this to work. Otherwise JSX expressions are not fully supported.

You can either change the language manually or use `.jsx` files

Marking as verified based on my testing

[2020-12-04 00:36] #90897 closed

[2020-12-04 00:39] #111751 closed

[2020-12-04 00:42] RMacfarlane opened #111898 "Command 'Remote-Containers: Open Folder in Container...' results in an error (Cannot read property 'forceNewWindow' of null)"
Found while testing https://github.com/microsoft/vscode-remote-release/issues/1817

1. Clone https://github.com/Microsoft/vscode-remote-try-dotnetcore and open it in VSCode
2. Run the command "Remote-Containers: Open Folder in Container..." and select the folder

<img width="486" alt="Screen Shot 2020-12-03 at 4 41 39 PM" src="https://user-images.githubusercontent.com/3672607/101107103-70d79b00-35

[2020-12-04 00:48] johngrant commented on #108590
I'm having this issue also. Let me know if I can add diagnostic data to this issue or another.

Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-11T01:11:34.018Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.1.0

[2020-12-04 00:52] mjbvz commented on #109794
@jrieken Looks good! FYI I pushed a minor fix to allow upper case hex characters: ff66544ada8e87a5ec75271b0d606c0c1b425afc

[2020-12-04 00:56] mjbvz commented on #108946
I opened a few UX issues with the current implementation but looks like python is waiting for trusted workspaces:

https://github.com/microsoft/vscode-jupyter/issues/4088
https://github.com/microsoft/vscode-jupyter/issues/4089

[2020-12-04 01:04] mjbvz commented on #109636
Verified that the original problem with the space no longer happens and based on linked PR

[2020-12-04 01:18] aaegic opened #111856 "Typo in settings s/weather/whether/"
- VSCode Version:Version: 1.51.1 (user setup)
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-10T23:34:32.027Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.17134
- OS Version:10.0.17134 N/A Build 17134

Steps to Reproduce:

1.CTRL+,
2.search for weather

Editor › Smart Select: Select Leading And Trailing Whitespace
**Weathe

[2020-12-04 01:22] mjbvz commented on #110439
Marking this as verified since we have not seen recent reports of this issue, although I'll keep an eye on this post 1.52 release

[2020-12-04 01:23] mjbvz commented on #106090
@CGQAQ Did you get a chance to test the fix?

[2020-12-04 01:25] gjsjohnmurray commented on #111587
I started researching this, and ran into the question of how to disable a link (`HTMLAnchorElement`). Found an interesting article [here](https://css-tricks.com/how-to-disable-links/). In summary, setting the `href` attribute to "" will prevent the link from functioning, and CSS selectors can be used to display a no-href one differently from a normal one. Does that sound like the way to go?

If ye

[2020-12-04 01:27] gjsjohnmurray commented on #111856
/duplicate of #110661 and fixed in upcoming release, due out next week.

[2020-12-04 01:28] #111856 closed

[2020-12-04 01:31] gjsjohnmurray commented on #111855
/needsMoreInfo Does this also happen after you run the command to reload with all extensions disabled? If not, it's being caused by one of your extensions and needs to be reported to the extension's repo.

[2020-12-04 01:32] mjbvz commented on #100569
@roblourens I verified this search  no longer triggers an error. However on windows I only see a workspace search for `(?<=\n)\w` returning results from open files. This may be expected but it seemed odd

[2020-12-04 01:36] AlejandroBryan commented on #51118
thanks a lot, guys I did fix the problem. @aeschli

[2020-12-04 01:37] mjbvz commented on #100569
Actually nevermind, I still see errors in the developer tools:

**Repro**
1. On windows in the VS Code Codebase
1. Do a workspace search for `(?<=\n)\w`
1. Open Developer tools

I see lots of errors that look like:

[code]

There errors are not shown to the user so I was not aware they were happening until checking the dev tools

[2020-12-04 01:41] yalishizhude commented on #107103
I use vscode-insiders, It doesn't work for me because of "invalid option"

[code]

[2020-12-04 01:44] taylorthurlow opened #111857 "js-debug attachment fails if --inspect and --remote-debugging-port are the same"
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-11T01:11:34.018Z
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

I have a Node 14 Electron typescript application and I'm trying to set up a launch.json for in-vscode debugging of the application. That also might not make sense, I'm just doing this for the first ti

[2020-12-04 01:49] mjbvz commented on #77289
Still seeing some odd behavior (although this may be expected)

**Repro**
1. On MacOs
1. Set:

[code]
3. Open new terminal

**Bug**

In the terminal, see:

[code]

This does not happen if I use a setting such as `"PATH": "${env:PATH:+:abc}"`