[2016-04-04 09:28] joaomoreno commented on #4821
Code doesn't mishandle version-controlled files. Code works (and should work) just like the Windows Explorer here. It works just like you'd rename a file regardless of git. It works just as you'd run `mv foo bar` in the command line. All of these will make git detect a **delete** and an **add**.

Once you **stage** both those operations, [git will detect that as a **move**](http://stackoverflow.co

[2016-04-04 09:28] pavelthebest commented on #4827
Is the current Linux version 1.10.1 (built on 2015-11-17) and the current windows version 1.10.11? Should it work in Linux version at all?
When I grep for strictSSL in VSCode directory I find nothing.

[2016-04-04 09:31] joaomoreno commented on #4827
@pavelthebest What are your settings exactly?

[2016-04-04 09:32] pavelthebest commented on #4827
AS s you can see in my post before:

`	"http.proxy": "http://proxy.....:81",
	"https.proxy": "http://proxy.....:81",
	"http.proxyStrictSSL": false,
`
I have replaced a part of our proxy by '....'.

[2016-04-04 09:37] egamma commented on #4906
If you want to debug inside VS Code then this is the way to do it.

If there are issues please file them against the extension https://github.com/microsoft/vscode-chrome-debug/issues

[2016-04-04 09:37] #4906 closed

[2016-04-04 09:37] felixfbecker commented on #4888
I'm surprised to not see https://github.com/Microsoft/vscode/issues/1703 here, it has April milestone assigned, I consider it a pretty important bug and it's been around since December....

[2016-04-04 09:39] pavelthebest commented on #4827
Sorry, it was my fault, for some reason I have downloaded wrong version, 1.10.1 instead of 1.10.11. I take everything back. Sorry.

[2016-04-04 09:43] joaomoreno commented on #4827
No problem! Thanks for taking the time to try to fix it, nevertheless. :+1:

[2016-04-04 09:55] weinand commented on #4888
@felixfbecker #1703 is listed in the Bugs section.

[2016-04-04 10:05] haoliangwu commented on #4070
@isidorn
Sorry for the delay, I didn't see any errors shown in the lower corner of my screen.

[2016-04-04 10:08] jrieken commented on #3153
The improved filtering changes are now on master. The rules are that the range of the text edit defines that text that will be used for filtering and that filtering will happen against _label_, _insertText_, and _filterText_. Having said that the PowerShell extension still needs tweaking (wrt the sample above).

Given the editor content `$env:` and a suggestion like `range: 0,0,0,5, insertText:'$e

[2016-04-04 10:08] #3153 closed

[2016-04-04 10:08] dbaeumer commented on #4869
@iDev0urer traditionally the language server uses stdio to communicate between VSCode and the server. If you write to console.log('...') then it is like sending a message. And the header of the message is not correct. This is why you see the exception. There are two options to make this work:

- You still use stdio as the transport and use the connection.console object to log. In you code you woul

[2016-04-04 10:08] #4869 closed

[2016-04-04 10:12] kwaazaar commented on #1440
Yes, schema-based auto-complete would be awesome. And perhaps a schema-validation function as well.

[2016-04-04 10:14] isidorn commented on #4070
Then we would appreciate if you could create a repository on github where we can reproduce this behavior so we can investigate. Or some other way to reproduce this issue.

[2016-04-04 10:39] jrieken commented on #4899
Also, I then see stuff like this tho no ./scripts/code.sh is running

[code]

[2016-04-04 10:39] dbaeumer commented on #4851
@chrisdias assigning to you. This is a overall product decision.

@egamma FYI.

[2016-04-04 10:41] dbaeumer commented on #4864
@aeschli can you please take this.

[2016-04-04 10:42] massimocode opened #4908 "Intellisense triggering after typing comma, space inside a string literal"
- VSCode Version: Feb release + March Insiders
- OS Version: Mac OS X Yosemite

Steps to Reproduce:
1) Enter the following code
[code]
2) Put your cursor after Hello but within the string and type comma then space, the intellisense will kick in (even though you are inside a string literal)

[2016-04-04 10:44] felixfbecker commented on #4888
@weinand My bad

[2016-04-04 10:47] massimocode commented on #4908
Sorry this assumes you have mocha.d.ts

[2016-04-04 10:52] alexandrudima commented on #4905
@stephenmartindale Great catch! There is somewhere a +1 bug in the column selection code (evident by the fact that I can't use column select to the beginning of a line):

fyi @egamma

![column-select-plus-one](https://cloud.githubusercontent.com/assets/5047891/14245817/079b9662-fa64-11e5-9a1d-7772aae927b2.gif)

[2016-04-04 10:53] stevencl commented on #224
We're starting the design work on this experience and would like to involve the community as much as we can. I will be running regular design discussions as we make progress to get your feedback. Most often these will be one on one sessions where we share what we are working on and discuss them with you.

The first sessions will take place this Wednesday. Please sign up here if you are interested:

[2016-04-04 10:56] alexandrudima commented on #4901
@damienleroux When you say "auto indenting", do you mean you run the formatter (`Format Code` from the context menu)?

[2016-04-04 10:59] isidorn commented on #4567
@weinand is there something I could do on the vscode side right now, or should I wait for #4902 first

[2016-04-04 11:02] alexandrudima commented on #4889
This looks similar to #4901. If @damienleroux confirms he's running format we can close one as a dup of another.
---
I think, as @egamma points out in #4901 that this is caused due to the TS/JS language service not yet supporting Rest/Spread properties, (see Microsoft/TypeScript#2103)

[2016-04-04 11:05] alexandrudima commented on #4880
@mrahhal Would the following rule in your `keybindings.json` work? (Preferences > Keyboard Shortcuts):

[code]

[2016-04-04 11:08] weinand commented on #4567
@isidorn Is there anything that you had planned to do here? My assumption is that fixing the doc is all that we can do here. Or is there a real bug on your side?

[2016-04-04 11:12] leegee commented on #4821
I do not think it is a question of 'what [I] want' but what I expect.

As I said, I do not expect renaming a file to remove it from version
control.

I am not a regular user of Windows Explorer, so my expectations do not come
from that domain. I am a regular user of git and Linux, so am used to
moving files to rename them.

I'll give up on this issue now -- I am sure someone else will raise it in

[2016-04-04 11:12] weinand commented on #4872
node.js does not detect and reload modified source automatically. You will have to run a tool like 'nodemon' to get this behaviour.

[2016-04-04 11:12] #4872 closed

[2016-04-04 11:23] mrahhal commented on #4880
Yes! This does work. I used:

[code]

Thanks.

[2016-04-04 11:25] jgillich commented on #2647
@mucaho Seems so, thanks! Now I'm relieved.

[2016-04-04 11:26] bpasero commented on #4899
That should only ever show up if `--extensionTestsPath` is provided from the command line.

[2016-04-04 11:28] bpasero commented on #4891
Currently you can only configure encoding per workspace folder.

[2016-04-04 11:47] bpasero commented on #4870
We do not react to file deletes in the working files section currently.

[2016-04-04 11:49] bpasero commented on #4885
F1 > Focus on Files Explorer. I think we might have added this only recently, so give our insiders release a try: http://code.visualstudio.com/Download#insiders

[2016-04-04 11:49] #4885 closed

[2016-04-04 11:52] #4904 closed

[2016-04-04 12:00] bgse opened #4909 "i18n: wrong german translation for "Warning" label"
- VSCode Version: 0.10.13-insiders

Steps to Reproduce:

1. trigger a warning dialog, e.g. start up vscode with git <2.0.0 installed

![vscode_warn](https://cloud.githubusercontent.com/assets/8385202/14247298/864b6aba-fa6d-11e5-82a8-2415c1bbc02e.png)

"Warning" gets translated to "Warnen" (verb) in german version, but it should be "Warnung" (noun) in this case.

[2016-04-04 12:08] alexandrudima commented on #4865
@jschraub Can you please point out specific features you like or that help you move around more efficiently from the Enhanced Scrollbar of VS 2013/2015 ?

[2016-04-04 12:10] alexandrudima commented on #4863
@carcigenicate This sounds like you might have hit a problem that went aways after a restart.

If you encounter this problem again, we would love to get some steps on how to reproduce.

[2016-04-04 12:10] #4508 closed

[2016-04-04 12:10] damienleroux commented on #4901
Yes it is, doing alt-shift-f

[2016-04-04 12:11] stevencl commented on #4792
Is there a cost to loading the additional stack frames? If not, I wondered if it might be worth loading the additional stack frames automatically when the user scrolls to the bottom of the call stack?

If there is a cost I would do a little clean up:
1. Remove the '...' as this is used to indicate that a dialog or more information will be requested upon clicking.
2. Consider one or more of the fol

[2016-04-04 12:11] bpasero commented on #4508
Actually I notice that 2 files in this workspace are very large (> 6 MB) and essentially the search is really busy processing those 2 files in the end and the file based progress is correct. I pushed a change to adjust the progress based on the size of the file. Let me know how it goes.

[2016-04-04 12:12] alexandrudima commented on #4844
Looks like the extension suggestion doesn't realize the extension was just installed.

[2016-04-04 12:12] FrancisFaure commented on #4891
Thank for the quick answer...
Have you plan to manage encoding files by extension of filenames ?
with by example add property "files.encoding" in file "package.json" of VS Code extension language.
Because same folder could have files encoded 1252 and others utf8
with best regards
Francis

[2016-04-04 12:13] damienleroux commented on #4889
Yes that the same issue

[2016-04-04 12:15] alexandrudima commented on #4901
Thank you! Closing this one in favor of #4889 .

[2016-04-04 12:15] #4901 closed

[2016-04-04 12:17] weinand commented on #4792
@stevencl thanks, these are great suggestions.

Loading stack frames might be expensive. It depends on the debug adapter, so we don't really know in the frontend.

[2016-04-04 12:19] joaomoreno commented on #4821
I don't know how else to put it: Code shouldn't stage on move, in the same way that it doesn't stage on file creation and deletion.

[2016-04-04 12:19] novikov-alexander commented on #4550
Straight using of FindController.ts may cause an error when FindController loads earlier than editor.main

[2016-04-04 12:23] joaomoreno commented on #4896
Besides the situation in which you type a commit message and later figure out you want to do another commit instead, I don't see any added benefit of remembering commit messages, since they will all be quite different from each other. I just don't see the reuse.

Also I don't think that the solution proposed would solve your problem since you didn't actually commit it, so the message wouldn't be r

[2016-04-04 12:23] #4896 closed

[2016-04-04 12:27] bpasero commented on #4835
@fififofo can you make a video so that I can see your setup? I am using liCeCap typically on Mac.

[2016-04-04 12:35] aeschli commented on #4864
@Anjmao What color theme are you on?
The 'sadFile.ts' one looks like the Dark Visual Studio, the first one looks like Dark+.
Make sure to switch to the Dark+.
There were some theme swirls in the past, but we have settled now with to the 2 styles of default themes (VS and plus).

[2016-04-04 12:35] mkyjakova opened #4910 "[loc][Query][DevDiv] Please clarify placeholders "{0} ({1})""
- VSCode Version:
- OS Version:

Steps to Reproduce:
Hi, we have a query about the placeholders in source.

source:
{0} ({1})

File Name:
src\vs\base\browser\ui\actionbar\actionbar.nls.resx

Resource ID:
".resx", 0; "titleLabel"

Query:
Can you please clarify the placeholders? What will they be subtituted by? Thanks!
(vso tfs 557907)

[2016-04-04 12:46] gerane commented on #4263
Atom has this issue as well. I always felt it has something to do with the auto update check upon launch. It always seemed to me that VS Code and Atom are not actually getting elevated to administrator properly. It always appeared to me with Atom, that the updater was being elevated to Administrator, but then it was not properly opening the actual editor as Administrator after then updater was fin

[2016-04-04 12:51] giraluna opened #4911 "Autocomplete only works on every other key press with multiple cursors on same line"
If the primary cursor is not the only cursor on it's line, autocomplete suggestions are only available on every other key press.
![vscode_autocomplete_singleline](https://cloud.githubusercontent.com/assets/6246237/14247922/390e26ea-fa7a-11e5-82a4-6f9a60ee403f.gif)

Manually opening the suggestions works, but causes the next key press to not trigger autocomplete. If secondary cursors are on a diffe

[2016-04-04 12:55] asvetliakov opened #4912 "Is there a way to disable non attribute suggestions for Typescript React?"
- VSCode Version: Latest vscode-insiders release
- OS Version: Win10

Is there a way to disable appearing ctor, foreach, function and others from completion list when only inside of JSX tag? This is very annoying,
see screenshot
![2016-04-04](https://cloud.githubusercontent.com/assets/8881674/14248454/0604cbe6-fa75-11e5-8fb6-2380625f9eca.png)

[2016-04-04 12:55] bpasero commented on #4263
If so, this is an issue with Electron that should be reported against their repo.

[2016-04-04 12:55] gerane commented on #1614
Even if I close all Code Instances, I cannot get an elevated Code on Windows. This makes Code unusable for my use cases. It doesn't matter if I use RunAs or execute code in an elevated cmd or powershell prompt, it is not elevated.

[2016-04-04 12:58] NicolasParada commented on #4606
Well then, eliminate these approach and use the native scroll behavior in chromium >= 49.

[2016-04-04 13:03] jrieken commented on #239
fyi @dbaeumer

[2016-04-04 13:07] isidorn commented on #4567
@weinand no, I do not think there is a bug on my side.

@rkeithhill alpha is ahead of insiders always, we just do not update the version number on alpha regulerly it seems. It sounds strange that your fix works for insiders, and not for alpha as there have been no big changes on alpha that would affect this.
We will release a new insider update tonight so maybe you can try it out then. If not then

[2016-04-04 13:09] gerane commented on #4263
The task manager reports code.exe as running elevated, but I still cannot edit anything that requires elevation. After testing Atom.exe just now, and bypassing its auto update shortcut, it has the same issue. Task Manager reports it as running elevated, but unable to edit anything that requires elevation. I will go look at the Electron issues.

[2016-04-04 13:09] isidorn commented on #4792
@stevencl great suggestions, thanks!

@weinand @stevencl I was also thinking of loading more stack frames once the user scrolls all the way down (similar to how Joao is loading more extensions on scroll down in quick open). As Andre pointed out we do not know how expensive this operation can be. But let me know your preference if I should try to load more on scroll down or go with the current solu

[2016-04-04 13:10] gerane commented on #4263
I will also note, that there is another issue here that says I should be able to close all open instances of VS Code and then RunAs and get elevation, but this does not work on my machines.

[2016-04-04 13:13] isidorn commented on #4840
Can you please include a screen-shot of what you are seeing.
What behavior are you expecting to see?

[2016-04-04 13:23] stevencl commented on #4792
@isidorn @weinand Assuming that automatically loading the additional stack frames doesn't freeze the UI, I think it would be worth trying.

[2016-04-04 13:24] weinand commented on #4792
@isidorn Because loading those frames is expensive we would have to make sure not to load more than the 20 frames initially (even if more than these 20 would fit into the view). So only scrolling should trigger loading more.
But the user experience for this would be strange: the view shows 20 but there is already room for more. But why would the user then start scrolling in this situation?

[2016-04-04 13:27] gerane commented on #4263
Very odd, I decided to do a complete uninstall and reinstall, and I can now get it to run elevated properly if no other instances are running. The etc directory is still not visible, but I can actually open the files and edit them without getting a permissions error.

[2016-04-04 13:30] isidorn commented on #4792
@weinand yes I agree the solution is not so nice in that case. We would always have to load as much as the view can show to make the user experience nice. However since this operation is expensive I would go with the explicti load more action as we have it today + polish from Steven.

[2016-04-04 13:31] stevencl commented on #4792
Good point @weinand I didn't think of that. It makes more sense then to go with the load more button at the bottom of the list.

[2016-04-04 13:36] pcgeek86 commented on #3153
@jrieken Thank you for your work, sir!

[2016-04-04 13:36] rushfrisby opened #4914 "Dark and Light text themes in Marketplace"
I submitted my extension to the VS Marketplace on Friday with the "light" text theme because the hex code for my header is dark gray. When I view the page in the marketplace however I get black text.

https://marketplace.visualstudio.com/items?itemName=RushFrisby.Encryptor

I submitted the extension again with the dark text theme just to see if the logic was somehow reversed but no luck. Here is w

[2016-04-04 13:37] weinand commented on #4792
@isidorn lets go with the "more action" for now.

Here is more detail about the underlying node.js problem: dependent on what version of node the user is running, it actually could make node.js totally unresponsive because node.js tries to move tons of datastructures over the wire in an uncontrollable way. For newver version of node, VS Code is able to inject code that prevents this, but in older

[2016-04-04 13:42] #1029 closed

[2016-04-04 13:43] isidorn commented on #1029
@bpasero please review, now I am using flex for action bar in composite title. I checked all the viewlets and panels and all looks good

[2016-04-04 13:49] AdamAndersonFalafelSoftware commented on #869
@skyaddict My last comment above should work for your scenario as well

[2016-04-04 13:54] bpasero commented on #1029
:100:

[2016-04-04 14:04] #4910 closed

[2016-04-04 14:04] bpasero commented on #4910
0: action label
1: action keybinding

[2016-04-04 14:05] bpasero commented on #4904
0: editor input status indicator (e.g. dirty indicator)
1: editor input title

[2016-04-04 14:06] aeschli commented on #4898
In package.json, bower.json and in project.json, you can hover over a entry in the dependency section. It would show you a hover with the name, description  and the latest version of that dependency.

The resource string mentioned is the first line of the hover, representing the name of the dependency.
I could change it to no use a NLS lookup.

[2016-04-04 14:06] #4898 closed

[2016-04-04 14:25] #4897 closed

[2016-04-04 14:25] bpasero commented on #4897
I renamed "id" to "identifier". It is about the "language identifier", for example "html". I think for 1.0 it is fine to translate this to "ID".

[2016-04-04 14:29] leegee commented on #4821
It's the 'should not' that I am querying -- why should it not? What is Code trying to be? Is there a mission statement...?
I agree that newly created files should not be staged, because I have never met anyone who would expect a new file to automatically be considered as version-controlled.
However, when an operation is performed upon a file that is under version control, I **suppose** most people

[2016-04-04 14:35] glennblock commented on #224
Awesome!
On Mon, Apr 4, 2016 at 3:54 AM Steven Clarke <notifications@github.com>
wrote:

[2016-04-04 14:35] jrieken commented on #3153
no worries, thanks for your patience.

[2016-04-04 14:39] Tyriar commented on #4868
@claudiusraphael do you mean support running VSCode from a location that only has read access?

[2016-04-04 14:58] joaomoreno commented on #4821
It's not a question of a lack of a mission statement, it's about consistency.

I explained the reason: because the user doesn't necessarily wants to stage a rename when he's just performed it. The same way that the user doesn't want to stage the creation of a file as soon as he does it. Or a deletion. Or a text edit. Or any other operation.

When you add a file it appears as an untracked file in g

[2016-04-04 15:00] joaomoreno commented on #4848
Related to #597 #3495

[2016-04-04 15:00] jschraub commented on #4865
Absolutely, @alexandrudima. The ability to at a glance, get a visual representation of your document/code. Having a "10,000 foot view" makes it easy to glance at your document and immediately click into the piece of code for which you are looking. While the Enhanced Scroll bar from VS 2013/2015 offer more features than that, I don't use many of them.

Many other code editors have similar features,

[2016-04-04 15:01] joaomoreno commented on #4838
Closing as "by design".

[2016-04-04 15:01] #4838 closed

[2016-04-04 15:02] joaomoreno commented on #4845
Brad can we get custom icons for each file type?

[2016-04-04 15:13] bgashler1 commented on #224
Looking forward to hearing your feedback to new designs we're exploring related to this issue.  If you're interested, please sign up via the link on Steven's comment above!

[2016-04-04 15:23] jrieken commented on #4892
@nevadascout How would you specify such a timeout?

[2016-04-04 15:26] bpasero opened #4915 "Parameterised commands should not show up in keybindings overview"
While looking into #58 I noticed that we register commands that require arguments to run. They still show up in the list of unassigned commands in the keybindings list which imho is not good because if you try to run them they cannot work without input. I think we should indicate this to the keybinding service that assigning a keybinding to those does not work.

<img width="501" alt="screen shot 2

[2016-04-04 15:28] jrieken commented on #4878
not sure if I understand that. @haibison can you clarify what the different between _replace the rest_ and _insert into current care pos_ means?

[2016-04-04 15:29] borekb commented on #4848
This is probably a duplicate of #3495 then. Closing.

[2016-04-04 15:29] #4848 closed

[2016-04-04 15:29] jrieken commented on #4915
yeah... commands starting with an `_` should already be filtered. Unsure what to do the others...

[2016-04-04 15:36] joaomoreno commented on #4844
This happens because you clicked the `README` link. Not nice but expected. Consequence of #637

[2016-04-04 15:36] #4844 closed

[2016-04-04 15:38] haibison commented on #4878
Hi @jrieken,

Thanks. I mean, for example here's the content I'm typing (the pipe is the caret):

    someFunc|Abc

And the auto-completion list offers `someFunction`. Then:

- If I press <kbd>Tab</kbd>, it replaces `Abc` with `tion`, so it would become `someFunction`.
- If I press <kbd>Enter</kbd>, it inserts `tion` into the caret position, so it would become `someFunctionAbc`.

If there's a whit

[2016-04-04 15:46] Tyriar commented on #4701
Ok so the problem is this keybinding:

[code]

It doesn't feature `"when": "editorTextFocus"` meaning, it's a global shortcut. It definitely feels a little weird to me when the focus is on the explorer, not sure the reason this was done. This also applies to <kbd>ctrl</kbd>+<kbd>c</kbd>/<kbd>x</kbd>/<kbd>v</kbd>

/cc @alexandrudima

[2016-04-04 15:49] glennblock commented on #224
3 and 4am only? No other times? I can't make 3/4 am PST on a Wed.

On Mon, Apr 4, 2016 at 8:14 AM Brad Gashler <notifications@github.com>
wrote:

[2016-04-04 15:49] alexandrudima commented on #4865
Great description! Thank you!

[2016-04-04 15:50] Tyriar commented on #3451
Same issue tracked in atom https://github.com/atom/atom/issues/4360, here's the upstream issue https://github.com/atom/electron/issues/2256

[2016-04-04 15:53] Tyriar commented on #1940
@RussBaz @mariusa I can't reproduce this, can you try reproduce on the [latest insider's build](code.visualstudio.com/insiders) using the deb or rpm packages to install?

[2016-04-04 15:57] shivateja-madipalli commented on #224
It would be good if you have timing according to PST, many (including me) can participate 

{Mobile}

On Mon, Apr 4, 2016 at 8:50 AM -0700, "Glenn Block" <notifications@github.com> wrote:

3 and 4am only? No other times? I can't make 3/4 am PST on a Wed.

On Mon, Apr 4, 2016 at 8:14 AM Brad Gashler <notifications@github.com>

wrote:

—
You are receiving this because you commented.
Reply to this em

[2016-04-04 16:01] jrieken commented on #4908
Today, the scopes or token types aren't known to extensions. Because of that we cannot prevent this yet. The same is true other cases, like IntelliSense inside comments. Closing as duplicate of #719

[2016-04-04 16:01] #4908 closed

[2016-04-04 16:02] egamma opened #4917 "Adopt I18N input"
Commit 8d918188119f1c21246ef65371f6c8b8897d3268

[2016-04-04 16:02] #4917 closed

[2016-04-04 16:03] jrieken commented on #4878
Understoof, thanks for clarifying

[2016-04-04 16:05] jrieken commented on #4912
Agreed - it's a duplicate of #1304. Currently we lack the information to smart enough about this...

[2016-04-04 16:05] #4912 closed

[2016-04-04 16:11] bpasero commented on #58
Pushed for April, the syntax via command is:

[code]

Note that opening a folder will replace the current running instance and this means the currently executing extension host will go down and restart.

[2016-04-04 16:14] #58 closed

[2016-04-04 16:14] davidpmccormick opened #4918 "Missing keybinding to navigate explorer _not_ working files"
Once a file within working files has been clicked on, there doesn't appear to be a keybinding to enable the selection of this file within the tree view of the explorer.

[2016-04-04 16:17] bpasero commented on #4918
For our 1.0 release you can assign the new command `workbench.files.action.focusFilesExplorer`

Try it out today from our insiders release: http://code.visualstudio.com/Download#insiders

[2016-04-04 16:17] #4918 closed

[2016-04-04 16:33] bgse commented on #4909
PR for your convenience:

https://github.com/Microsoft/vscode/pull/4919

[2016-04-04 16:34] glennblock commented on #224
Yes please. I def would like to be part of the conversation.

[2016-04-04 16:43] stevencl commented on #224
Sorry, I know these times aren't convenient for everyone. In the future we will look into ways we can schedule sessions in different time zones as we plan to hold them on a regular basis.

[2016-04-04 16:52] savpek opened #4920 "Expand debug console objects as default"
Current version: 0.10.11.

Feature request:
![image](https://cloud.githubusercontent.com/assets/481896/14255611/7fa70dd8-fa9d-11e5-8463-2fd1ad4039b8.png)

When i type object in console i expect to see actual information about object. Currently it doesn't expand target, so to see what properties eg. it actually i have to: grap mouse -> expand object. I think usually that 'object' or whatever non ex

[2016-04-04 16:58] roblourens opened #4921 "Can't open files in VS Code from Windows Explorer when an Admin instance is already running"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

Open VS Code
In Explorer, double click a file that's associated with VS Code or right click and use "Open in Code".
Often, nothing happens unless I close the previous instance of Code. Sometimes, it works.

[2016-04-04 16:58] glennblock commented on #224
Why not just schedule an additional one this week at a diff time? This is a
hot topic with a lot of interest.

On Mon, Apr 4, 2016 at 9:44 AM Steven Clarke <notifications@github.com>
wrote:

[2016-04-04 17:16] bgashler1 opened #4922 "Linux .deb does not install without running apt-get update on terminal first"
- VSCode Version: 0.10.13-insider
- OS Version: Ubuntu 14.04 LTS

The ".deb" package may not install if a user hasn't already run the command `apt-get update` on the terminal before opening the package and doesn't already have Git installed.  While most experienced Linux users will run this command frequently, I don't think we should count on everyone knowing this—even they may not know what's cau

[2016-04-04 17:18] thomastaylor312 commented on #515
@bpasero I have still not seen any issues. @andersonferrari are you still seeing the problem?

[2016-04-04 17:21] bgashler1 opened #4923 "Add missing screenshot/icon and metadata to .deb package screen in software center"
- VSCode Version: 0.10.13-insider
- OS Version: Ubuntu 14.04 LTS

<img width="1440" alt="screen shot 2016-04-04 at 9 55 22 am" src="https://cloud.githubusercontent.com/assets/11839736/14255999/cecc2670-fa4b-11e5-8d97-6c116ef2dfe9.png">

Steps to Reproduce:

1. Open the .deb package as if you were going to install it
2. Note the page is missing its screenshot and icon as well as the fields for lice

[2016-04-04 17:25] bgashler1 commented on #4701
I've tried to reproduce but cannot in Ubuntu 14.03 LTS using VS Code 0.10.13-insider build.

[2016-04-04 17:27] bgashler1 commented on #4701
However I absolutely agree that if this is actually happening that it's not the way it should be.  If the editor has focus, then a delete key should delete the text not the file.  Only the file deletion modal dialogue should appear when the explorer has context.

[2016-04-04 18:08] WakeskaterX commented on #1559
I'm also seeing this after the else statement in a Jade template.  Notably, right after the else statement where no IF statement is also included.  Leaving a blank line seems to reset the syntax, but both after the  if statement and else statement look incorrect compared to syntax highlighting outside the if statement.

Also there seems to be a weird issue with blank lines before comments too

![s

[2016-04-04 18:29] Galaen opened #4924 "Intellisense not as described [js]"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

1. open an empty JS file.
2. write some unknown variable like "globalVar".
3. [ In this video](https://channel9.msdn.com/events/JavaScript-Webinar-Series/Visual-Studio-Code-for-Angular-developers/Visual-Studio-Code-for-Angular-developers) (around 0:20:30) I can see it should have some kind of green squiggles (for warnings) bu

[2016-04-04 18:29] stevencl commented on #224
Just so you know, the time slots that you see are just the ones that are still available. I had slots open later in the day but those were taken quite quickly.

Like I said, we will try to schedule sessions in different time zones in the future.

Thanks for all the interest.

[2016-04-04 18:32] glennblock commented on #224
I see, well I guess they filled up instantly (which is good)
On Mon, Apr 4, 2016 at 11:30 AM Steven Clarke <notifications@github.com>
wrote:

[2016-04-04 18:38] ironcladlou commented on #3062
@bpasero That's great news. Thanks.

[2016-04-04 18:46] glennblock commented on #224
Can you / do you record the sessions?

On Mon, Apr 4, 2016 at 11:32 AM Glenn Block <glenn.block@gmail.com> wrote:

[2016-04-04 18:53] andyzhu opened #4925 "Cannot install Azure Resource manager tools on VS code running on Mac OSX"
- VSCode Version: 0.10.11
- OS Version: Mac OSX 10.11.4

Steps to Reproduce:

1. ext install azurerm-vscode-tools
2. the VS code displayed "No commands matching"

[2016-04-04 19:03] vsccarl commented on #4840
@isidorn If you hover over the long variable:
![debughover](https://cloud.githubusercontent.com/assets/12900364/14259694/e3342a34-fa5c-11e5-8db9-040c927406f4.JPG)
I would expect the value to be displayed like this:
![debughoverpreview](https://cloud.githubusercontent.com/assets/12900364/14259711/ffa36022-fa5c-11e5-9fbb-1e7c78bfa016.JPG)

When there are heavily nested variables, there is no way to

[2016-04-04 19:09] vsccarl opened #4926 "Call stack shows paused on exception after stopping debugging"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Debug a Node.js project that will cause an exception

![pausedonexception](https://cloud.githubusercontent.com/assets/12900364/14259897/e56a96ca-fa5d-11e5-89c0-f7223bb0a333.JPG)

Actual:
The Paused On Exception error text is still visible after stopping debugging.

[2016-04-04 19:27] seanmcbreen commented on #637
Joao and I chatted about this a little today.  The key things I propose here are:
- I like the idea of editor windows vs modal or a pop-up (rationale below)
- First class action in nav bar (left side) I think is critical - this should also have indicators like git does e.g. green with 3 == 3 suggestions, red with 4 = 4 issues or updates (ignore my color choices :))
- Includes common metaphors for

[2016-04-04 19:28] maliksahil opened #4927 "[html] Add support for Angular2"
Currently VSCode does not have support for Angular2. But it does seem to have prompts for Angular1.
This makes writing Angular2 code difficult.
For instance, when authoring a template for a component, if I wish to use *ngFor, I am prompted to pick Angular1 directives -

![image](https://cloud.githubusercontent.com/assets/4992186/14260484/b3138436-fa79-11e5-81ca-7e0aa86220cf.png)

Also, VSCode is c

[2016-04-04 19:38] Tyriar commented on #4922
@bgashler1 this is happening because git is listed as a dependency. Personally I think the off chance of `git` not being available to `apt-get` before an update if preferable to git integration not working out of the box.

I thought git came pre-installed on Ubuntu 14.04?

[2016-04-04 19:50] andy9775 commented on #4889
Hmm. @alexandrudima, any ideas when this feature is coming to insiders? From reading it seems typescript 2.1 will be coming in 16-18 weeks?

[2016-04-04 19:52] Tyriar commented on #4923
When this was previously reported, basically this is not possible as it requires an upload to Ubuntu's software repositor(ies). The reason we can't do this, apart from the fact it's inconvenient and difficult to automate, is because [our license for official builds](https://code.visualstudio.com/License/) is not compatible with [Ubuntu's license](http://www.ubuntu.com/about/about-ubuntu/licensing)

[2016-04-04 19:52] #4923 closed

[2016-04-04 19:53] Tyriar commented on #4701
@bgashler1 it should be happening on all platforms, not just Linux.

[2016-04-04 19:54] vsccarl opened #4928 "Exceptions/variables still visible after stopping debugging and unresponsive variables window"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Start debugging a Node.js project that will throw an exception
2. Click on an item in the Call Stack

It will show a loading icon next to Exceptions in the variables list.
![exceptionloading](https://cloud.githubusercontent.com/assets/12900364/14261116/1af94826-fa64-11e5-89b9-000895b07714.JPG)

3. Stop debugging befo

[2016-04-04 19:54] bgashler1 commented on #637
@seanmcbreen I'm not sure if modal was the right word to describe it.  Modal tends to mean, like you said, blocking further interactivity until an action has been taken by a user.  What I see this as is a management view, not a mode.  For instance, you could go back and forth between Editing views (including Explorer, Git and Debug) and the Management view via the action bar on the left and pickup

[2016-04-04 20:24] didierfranc opened #4929 "Allow hiding of activity bar"
It will be great if we can hide this bar and focus on code.

![capture d ecran 2016-04-04 a 22 23 11](https://cloud.githubusercontent.com/assets/14132464/14262043/d580dbe2-fab3-11e5-91a0-9ce73d48f928.jpg)

Thanks for your great work.

[2016-04-04 20:26] egamma commented on #4889
@andy9775 at this point we can only refer you to the TS roadmap https://github.com/Microsoft/TypeScript/wiki/Roadmap.

We usually adopt a new TS version in the same vscode iteration it becomes available and support a setting to use a newer version (`typescript.sdk`).

[2016-04-04 20:26] stevencl commented on #637
I think we need to get to the next level of detail on the user scenarios we want to support (i.e., the customer problems we want to solve) and the goals we have for the interaction. We run the risk of debating different UI designs without a shared understanding of the problems we are solving.

[2016-04-04 20:38] chuckries commented on #4308
There is no preLaunchTask, I am using the default configuration for "Launch Extension":

[code]

[2016-04-04 20:42] chuckries commented on #4308
I am able to F5 my extension just fine from the insiders build of Code but not from the public build. Uninstalling has no effect. Is there an AppData folder or something equivalent I can wipe out?

[2016-04-04 21:28] isidorn opened #4930 "No suggestions when there are no characters for suggest widget"
- VSCode Version: latest alpha
- OS Version: os x

Steps to Reproduce:

1. open any file, js, ts, css, for instance actionbar.css
2. enter a new line and try to trigger css intelli-sense, notice there are no suggestions
3. now try to trigger intelli-sense after any character, e.g 'b' notice you get intelli-sense

I also get no suggestions when triggering after a '.'

![screen shot 2016-04-04 at 23

[2016-04-04 21:34] #4840 closed

[2016-04-04 21:51] abhinav-shah opened #4931 "Nothing gets rendered on running VS Code on OS X 10.11.4"
- VSCode Version: 0.10.11 (February 2016)
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. Download VS Code zip.
2. Unzip and launch VS Code App.

On launching the App, the only menu I get is "Code"  and that only has the option to "Quit".
Attached is the screenshot.

![screen shot 2016-04-04 at 2 49 58 pm](https://cloud.githubusercontent.com/assets/5296138/14264439/9b64f130-fa74-11e5-88bf-f9bb

[2016-04-04 22:01] delmyers commented on #4519
Having something that says "Thread {name}" might work. Another option would be to have an arrow or special highlighting that indicates the current thread. Also, to auto expand the thread that is currently being debugged (e.g. the last one paused).

[2016-04-04 22:10] Tyriar commented on #4927
I think this is blocked on https://github.com/Microsoft/vscode/issues/2784

[2016-04-04 22:20] skyaddict commented on #869
Sorry to bother but I have tried many defivations and still can't seem to find the secret sauce.

"**/Css": false,
"**/Css/*!(.cssx).css":true

"**/Css": false,
"**/Css/!(*.cssx.css)":true

[2016-04-04 22:28] isidorn commented on #4792
@stevencl I addressed your feedback with the exception that I still allow the 'Load more stack frames' to be selectable since it has to be keyboard accessible like all our other actions. I just now nicely clear the selection and focus upon clicked.
Try it out and let me know what you think

[2016-04-04 22:32] waderyan commented on #2480
I am in favor. I can't think of any down sides. We still have control over the content and can accept help with PRs.

[2016-04-04 22:41] v-pavanp opened #4932 "Not getting correct launch.json when targeting node.js debugger."
- VSCode Version:0.10.13-alpha
- OS Version: WIndows10

Steps to Reproduce:
1. Upgrade VSCode from 0.10.12 to 0.10.13-alpha.
2. I had many extensions installed with 0.10.12. like (C#, GO, Ruby, Cordova, TSlint etc.)
3. Open any folder which contains .ts file.
4. Generate tasks.json.
5. Set node.js debugger and generate launch.json.
6. Verify launch.json file contents

Actual:
It is taking default

[2016-04-04 22:53] JAForbes commented on #869
@skyaddict it hasn't been implemented yet in vscode

[2016-04-04 23:22] bgashler1 commented on #4701
I cannot reproduce on any platforms.
@charleswhchan would you try installing the latest [insiders build](https://code.visualstudio.com/Download#insiders) and seeing if that works?

Also, can you try this again on another OS?

[2016-04-04 23:26] mrsnl commented on #901
Just sneaking by saying that vscode 0.10.11 (on OS X Yosemite) stages all files for deletion while you least expect it. While browsing through todays diffs the counter suddenly stepped up from 22 modfied files to 99.

Checked console and $ git status showed all files staged for deletion. Happened at least 5 times now. Luckily $ git reset HEAD * solves the problem.

Files are sshfs mounted from a u

[2016-04-04 23:34] bgashler1 commented on #4701
Never mind, I misunderstood and was able to reproduce (I deleted my old, irrelevant comments to declutter).

Yes, @Tyriar you're right, this as global shortcut doesn't make sense to me either.  It's getting the `activeEditor` and selecting text when it doesn't have focus; I can't think of why we would want that.

## Proposed Solution
I noticed that on click of a file Sublime sets focus on their ac

[2016-04-04 23:36] lukehoban opened #4933 "Tooltip background color"
_From @rogeralsing on March 29, 2016 9:17_

The tooltips when hovering method names etc. are somewhat hard to read as the background and syntax highlight is the same as the rest of the code window.
it would be nice if at least the background color was a bit different, (lighter/darker depending on theme)

For example, the peek definition makes things much clearer, there is a distinct bg color that

[2016-04-04 23:38] lukehoban commented on #4933
Moving this to VS Code since it's a general issue. There doesn't appear to be anything an extension can do to override this, but even if there was, it seems to make sense to address generally.

[2016-04-04 23:39] Tyriar commented on #4701
@bgashler1 that would make initiating explorer keyboard navigation impossible with the mouse (click + <kbd>&uarr;</kbd>).

[2016-04-04 23:54] mikecann opened #4934 "Remove unnecessary values from intellisense popup"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

1. Setup code like screenshot:
![hwhlc](https://cloud.githubusercontent.com/assets/215033/14267492/6f6ccb54-fb03-11e5-854d-cf8fdfb9e678.png)

2. Notice the unnecessary values in the intellisense

[2016-04-05 00:03] JoshStrobl commented on #58
@bpasero While I do welcome this API addition and **really** appreciate its inclusion, I'm still not seeing any changes here on providing an API for opening a **new** window with a `vscode.Uri` provided (see my comment above).

Any chance that could land as well?

[2016-04-05 00:08] waderyan commented on #637
I agree with @stevencl. Can we discuss the relevant user scenarios?

Extension life cycle - User Stories
1. Discover extensibility - the user is aware that extensions are available and understands why they may want to install an extension.
2. Specific extension discovery - the user can discover a specific extension to aide their workflow.
3. Relevant extension discovery - the user is given a custo

[2016-04-05 00:22] atilkan commented on #211
+1

[2016-04-05 00:22] bgashler1 commented on #4701
@Tyriar actually Sublime and Atom both change the focus to the editor immediately (but both are able to use keyboard navigation as well).  In in both competing editors, if you click again on the explorer, focus returns to the explorer and remains.  Then you can use keyboard focus.  I actually think this method works quite well.

[2016-04-05 00:48] xianghongai commented on #4846
hi,@bpasero ,
![1](https://cloud.githubusercontent.com/assets/2075006/14268167/85c334ea-fb0a-11e5-83dc-a9e9dcfb6968.png)
ANSI , Chinese Simplified(GBK) .

[2016-04-05 00:54] andersonferrari commented on #515
Hi Taylor,Thank you for your interest.I have upgraded to version 0.10.11... after that the error is not happening so often anymore... every 3 or 4 days that I keep VS Code opened I will have a crash, but it is probably some issue with the Samba in the VM (hyper-v) itself.A few days ago I had the issue and I went to the Windows Event Viewer (I am on Win10) but I didn't find anything specific to tha

[2016-04-05 01:30] jackycheng86 commented on #3702
I have the same request !

[2016-04-05 01:36] rkeithhill opened #4935 "Verified false breakpoint w/message does not reflect message in breakpoint list UI"
- VSCode Version: 0.10.14-insider
- OS Version: Windows 10 1511

Steps to Reproduce:

1. Install PowerShell extension
2. Open Examples folder under the PowerShell extension directory
3. Set a breakpoint in DebugTest.ps1 on any line (with script on it).
4. Close VSCode and from Windows explorer or console, rename DebugTest.ps1 to DebugTest2.ps1
5. Reopen VSCode and the Examples folder.  Note in the

[2016-04-05 02:12] iHuahua commented on #4823
@jrieken yeah, i want to create a new extension, everything is right until i run the new extension by F5. Than i had installed the "cpptools" before.

![qq 20160405101023](https://cloud.githubusercontent.com/assets/2878674/14269404/e265a4ce-fb16-11e5-87d1-bd660740193d.jpg)

[2016-04-05 02:15] WhiteCat6142 opened #4937 "weird highlight on javascript"
- VSCode Version:0.10.11
- OS Version:Win7

Like below
res.**var**y("Accept-Encoding*");*

[2016-04-05 02:16] iDev0urer opened #4938 "Trying to build vscode from source fails on Windows 10"
- VSCode Version: Master branch
- OS Version: Windows 10

Steps to Reproduce:

1. Follow the Windows steps in https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source

When I attempt to build from source I get the following error:

[code]

[2016-04-05 02:19] NickGrease commented on #957
Can someone please tell me if [this](http://stackoverflow.com/questions/36413868/vs-code-intellisense-for-node-type-require) is supposed to work? I've spent the entire day reading just about everything I can - which was a mistake, because I'm pretty sure no one on the planet has the same answer - yes,no,with d.ts,without d.ts, typings, dst, .jsconfig, .tsconfig, user settings, etc - not one straig

[2016-04-05 02:49] iDev0urer commented on #4938
Fixed it by deleting the directory that I downloaded it to, re-cloning, and following the instructions again for installing. No idea what went wrong

[2016-04-05 03:00] v-pavanp commented on #4759
I tried by moving tsconfig.json to the workspace folder but still getting the same result. Also I observer that the default tasks.json setting is not able to identify tsconfig.json file and I need to pass files name with args[] explicitly like below:

{
	// See http://go.microsoft.com/fwlink/?LinkId=733558
	// for the documentation about the tasks.json format
	"version": "0.1.0",
	"command": "tsc"

[2016-04-05 03:01] haoliangwu commented on #4070
@isidorn
It seems that the issue only occurs on Ubuntu, caused I've tested it on Win 7 and Mac OS, the error message didn't display. Maybe it caused by some operations related to super user permissions. If I run VS Code by the super user, the error messages went away.

Anyway, thanks for your help.

My learning extension project is [HERE](https://github.com/haoliangwu/vscode-poshi) if you need it

[2016-04-05 03:04] showerying commented on #4679
BTW, there should be a "UI language" in the User Settings, instead of only showing in the language which is the running OS' default UI language.

[2016-04-05 03:06] kuncevich commented on #3238
I have a problem to attach to my running process. VSCode just failing with error `Cannot connect to runtime process (timeout after 10000ms).`

I have npm script to start `nodemon`: "start": "start http://localhost:2999 & nodemon bin/www"

My `bin/www`:

[code]
Launch.json:
[code]
Any thoughts?

[2016-04-05 03:24] chrisdias commented on #4679
@showerying you can set the locale from the command line or in a `locale.json` file, see here: https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/latest.md#localization

[2016-04-05 03:48] Tyriar commented on #4701
@bgashler1 it used to not focus the editor in 1.5.x. It looks like that's the default now and no setting in atom/tree-view to configure it.

[2016-04-05 04:12] saneyuki opened #4939 "'Later' label mismatch the"
- VSCode Version:
  - 0.10.13-insider
- OS Version:
  - OSX 10.11
  - Windows 10

Steps to Reproduce:

1.
2.

[2016-04-05 04:12] saneyuki commented on #4939
Sorry, this is mis reporting

[2016-04-05 04:12] #4939 closed

[2016-04-05 04:22] saneyuki opened #4940 "ja-JP translation of update notification's "Later" label mismatches meaning in ja-JP custom"
## Version

- VSCode Version:
  - 0.10.13-insider
  - with ja-JP locale
- OS Version:
  - Windows 10
  - OSX 10.11

## Steps to Reproduce

1. Update vscode from menu's "Check for Update..."
2. See the notification bar which display `Visual Studio Code - Insiders will be updated after it restarts.` in English.

## Actual Result

- "Later" button's label is "後続" if you use vscode with ja-JP locale.

[2016-04-05 04:24] iDev0urer commented on #2784
Yes please!

[2016-04-05 04:58] bpasero commented on #515
I suggest we close this and reopen when it happens again. Note though that there was no actual code change to fix the samba issue, it might still be there.

[2016-04-05 04:58] #515 closed

[2016-04-05 05:00] bpasero commented on #4846
@xianghongai can you attach it here?

[2016-04-05 05:00] bpasero commented on #4929
#1105

[2016-04-05 05:00] #4929 closed

[2016-04-05 05:02] #4938 closed

[2016-04-05 05:05] rkeithhill commented on #4567
@isidorn The two channels (latest builds 0.10.14-insider 2016-04-04 and 0.10.12-alpha 2016-04-05) still behave differently for me when I return the initialized event immediately after the initializeRequest response.

Everything appears to work except that if I pause the script and resume it, it finishes but then I get a popup `Error cancelled` window in VSCode.  I also note that we do not get the

[2016-04-05 05:42] johnliu2016 commented on #4528
New DEU string: Die Laufzeit "{0}" wurde in PATH nicht gefunden. Linguistic confirmed DEU does not generally use single quotation marks

[2016-04-05 05:42] #4528 closed

[2016-04-05 05:47] joaomoreno commented on #4359
Hi @dprice, we just released a new Insiders, let me know if that update works.

[2016-04-05 06:01] johnliu2016 commented on #4771
loc team says all instances of "Shift" are localized well, after all if we still see unlocalized "Shift", this probably implies localizability issue.
@vsccarl can you attach a s/s of the untranslated "Shift" of the file menu.

[2016-04-05 06:02] borgdylan commented on #4922
I would recommend installing GDebi first and using that as a deb installer. It will grab all dependencies automatically. http://packages.ubuntu.com/wily/gdebi or http://packages.ubuntu.com/wily/gdebi-kde for KDE users .

[2016-04-05 06:03] borgdylan commented on #4922
@Tyriar git is never pre-installed on ubuntu.

[2016-04-05 06:28] stephenmartindale commented on #4905
Nice GIF. I wanted to post something like that but, while dev. tools are something I know well, screencasting and recording are things of which I ken naught. Can you recommend a tool for the making of such GIFs for future issue reports?

I see it's fixed for April, too. THIS is why I like VS Code - stuff actually happens! We had to wait ten years for "collapse all" in Solution Explorer!

[2016-04-05 06:31] alphashuro commented on #1008
What happened to the cache issue? I'm still spending much time waiting for the extension list to show...

[2016-04-05 06:31] pocesar opened #4941 "Wrong code coloring when mixing templates with strings in Typescript"
- VSCode Version: 0.10.14-insiders
- OS Version: Windows 10 x64

this line inside a .ts file make everything after that line to look like a string:

[code]

[2016-04-05 06:36] joaomoreno commented on #1008
What version are you on? We've had an extension since March: #2621.

[2016-04-05 06:39] johnliu2016 commented on #4568
Loc team fixed the translation according to the context.

[2016-04-05 06:39] #4568 closed

[2016-04-05 06:43] johnliu2016 commented on #4569
All scopes enumeration values are translated except "catch".

[2016-04-05 06:44] #4930 closed

[2016-04-05 06:44] jrieken commented on #4930
fixed that yeserday

[2016-04-05 06:46] novikov-alexander commented on #4551
I see that is solved in last versions

[2016-04-05 06:46] #4551 closed

[2016-04-05 06:47] johnliu2016 commented on #4628
Per loc team -
_
"In UI strings there is frequently used following translations:
Catch되지 않은 예외
확인할 수 없는 예외
Suggested translations are not used frequently.  If it has be to be fully translated, then I suggest ‘확인할 수 없는 예외’.
The translation is changed to '확인할 수 없는 예외'_

[2016-04-05 06:47] #4628 closed

[2016-04-05 06:47] weinand commented on #4567
I've created https://github.com/Microsoft/vscode/issues/4861 for the 'Error cancelled' message.

[2016-04-05 06:48] SamVerschueren commented on #957
Yes that works, but it seems that `module.exports.generateCanvas` should be `exports.generateCanvas`. This seems to be a bug because they are equivalent. If you add internal documentation, that documentation is also attached to the intellisense.

![intellisense](https://cloud.githubusercontent.com/assets/1913805/14273412/d25b8f3c-fb0a-11e5-8082-d411b857b7d5.gif)

Some notes to take into account.
-

[2016-04-05 06:49] johnliu2016 commented on #4570
@weinand source changes reflected to loc, instance of "node" in vscode-node-debug are modified to "Node.js"

[2016-04-05 06:49] #4570 closed

[2016-04-05 06:52] novikov-alexander opened #4942 "Editor-distro doesn't build after update to TypeScript 1.8.9"
- VSCode Version: from 4th of April
- OS Version: Windows 10

editor-distro doesn't build after this commit: update to TypeScript 1.8.9 d778e70
it can't find "fs" module
Steps to Reproduce:

1. git pull origin master
2. gulp editor-distro

[2016-04-05 06:52] johnliu2016 commented on #4751
@joaomoreno missing space in ESN build is fixed, while the standard rule in French is a space before a colon.

[2016-04-05 06:52] #4751 closed

[2016-04-05 06:53] SamVerschueren opened #4943 "intellisense does not work when using `module.exports.fnName`"
- VSCode Version: 0.10.14 (insiders) and below
- OS Version: Mac OS X 10.11.3

Steps to Reproduce:

1. Create a file called `cfx.js` with the following content

[code]

2. Create a file `index.js`

[code]

3. When you type `cfx.` in `index.js`, it will not suggest `generateCanvas`. If you change `cfx.js` to `exports.generateCanvas` instead of `module.exports.generateCanvas`, it works.

This seems

[2016-04-05 06:53] SamVerschueren commented on #957
Issue created https://github.com/Microsoft/vscode/issues/4943

[2016-04-05 06:57] johnliu2016 commented on #4818
@dbaeumer Double confirmed with loc team. Thanks

[2016-04-05 06:57] #4818 closed

[2016-04-05 06:57] alphashuro commented on #1008
0.10.11

[2016-04-05 07:09] joaomoreno commented on #1008
How fast can you GET this request? http://vscode.blob.core.windows.net/gallery/index

[2016-04-05 07:15] egamma commented on #4943
This issue was moved to Microsoft/TypeScript#7824

[2016-04-05 07:15] #4943 closed

[2016-04-05 07:16] alphashuro commented on #1008
I get it quite fast now because my internet speed is back to normal, but I was asking about the cache because sometimes sometimes its slow and it becomes a pain when I want to quickly look for a package and/or install it. When I used sublime package manager it always downloaded a list of packages the first time I do a search. On subsequent searches it opened instantly and I could continue with my

[2016-04-05 07:19] egamma commented on #4937
Fixed in the insider build. You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

[2016-04-05 07:19] #4937 closed

[2016-04-05 07:20] SamVerschueren commented on #4943
Thanks @egamma

[2016-04-05 07:25] rogeralsing commented on #4933
![badtooltip](https://cloud.githubusercontent.com/assets/647031/14274205/2d08b950-fb10-11e5-87cc-8b7897defd3d.png)

Here is an example of the problem.
There is a tooltip in there and it is _Very_ hard to see it

[2016-04-05 07:26] aeschli commented on #4287
David mentioned this is a vscode issue only. I need to investigate again.

[2016-04-05 07:29] dbaeumer opened #4944 "API: Diagnostic objects should preserve custom properties"
Since Diagnostic object flow back to the extension host in code action requests custom properties on these object should be preserved as for CompletionItem.

[2016-04-05 07:31] dbaeumer opened #4945 "API: commands.registerTextEditorCommand should support custom args"
As registerCommand does registerTextEditorCommand should support passing in custom arguments.

[2016-04-05 07:32] dbaeumer commented on #1008
@joaomoreno giving back to you to follow up on the conversation.

[2016-04-05 07:44] bpasero commented on #4931
@abhinav-shah can you run this from the command line and attach the output:

`/Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron`

[2016-04-05 07:45] sunglim commented on #4628
Frankly speaking, I can't accept newly translated string from Loc team :(

Anyway it's already done. let's close this issue.

[2016-04-05 08:00] dbaeumer commented on #4909
@bgse Unfortunately we can't accept PRs on translations since the i18n files are machine generated. I will assign this issue to the translation team and will close the PR.

[2016-04-05 08:03] dbaeumer commented on #239
@bpasero is this something we can work on. I would like to hook up auto fix support for ESLint and doing this before save would really make a good story.

[2016-04-05 08:04] weinand commented on #3238
Please add a nodemon with the  ‘—debug’ option.

From: Aliaksei <notifications@github.com>
Reply-To: Microsoft/vscode <reply@reply.github.com>
Date: Tuesday 5 April 2016 at 05:06
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: André Weinand <aweinand@microsoft.com>
Subject: Re: [Microsoft/vscode] Support `nodemon` development setup by adding support to automatically re-attach when node is res

[2016-04-05 08:08] kuncevich commented on #3238
@weinand the issue being fixed exactly this way and that is why related comment was removed

[2016-04-05 08:13] isidorn commented on #4861
Accidentely closed this, there is still an issue that I am looking into

[2016-04-05 08:32] #4861 closed

[2016-04-05 08:44] bpasero commented on #58
+1, will add a flag.

[2016-04-05 08:50] joaomoreno commented on #1008
I see. We don't cache this locally in your machine, though. We rely on a working Internet connection, since most likely you'd like to install an extension any way, which needs it.

We just implemented a better search experience that no longer relies on downloading the entire list of extensions but runs queries, resulting in a much lighter experience. #4849

[2016-04-05 09:01] bpasero commented on #239
Yeah, stretch for April, otherwise May.

[2016-04-05 09:07] isidorn commented on #4928
Fixed yesterday

[2016-04-05 09:07] #4928 closed

[2016-04-05 09:09] minggo opened #4946 "How to extend javascript code completion and other features"
Now i create `cocos.d.ts` for my javascript library code completion. It works perfectly. But i have some special requirements. In my library, the inheritances looks like:

[code]

As the codes shows, the inheritance is runtime related. How can i extend javascript code completion to let VSCode know `this` is an instance of `cc.Component`'s subclass?

[2016-04-05 09:12] #4926 closed

[2016-04-05 09:12] minggo commented on #4946
@isidorn @weinand Any idea? Thanks.

[2016-04-05 09:18] kurozael opened #4947 "(C#) #endregion directive is not being highlighted in the editor"
- VSCode Version: 0.10.11
- OS Version: OSX 10.11.4 (El Capitan)

Steps to Reproduce:

1. Open Visual Studio Code in a C# project.
2. Create a #region, #endregion block.

You'll notice that #endregion is not highlighted in the same way that #region is.

![noendregionhighlight](https://cloud.githubusercontent.com/assets/486972/14276763/02dfd3ae-fb18-11e5-939d-f0bbff85335f.png)

[2016-04-05 09:20] kurozael opened #4948 "(C#) Custom classes are recognized by intellisense, but not syntax highlighted"
- VSCode Version: 0.10.11
- OS Version: OSX 10.11.4 (El Capitan)

Steps to Reproduce:
1. Open Visual Studio Code in a C# project.
2. Create a new class, i.e: MyClass in a file MyClass.cs
3. Go to a different file. Add a MyClass as a member variable

You'll notice that MyClass is not highlighted in the same way that "bool", or "float" might be.

![nocustomclasshighlight](https://cloud.githubusercon

[2016-04-05 09:20] alphashuro commented on #1008
Why not cache the results initially though? I don't mean to access them without an internet connection, but when on a slow internet connection it would be great if you could quickly find an extension and mark it for installation then immediately continue with your work...

[2016-04-05 09:27] weinand opened #4949 "Data inspection support for ES6 Sets, Maps, and Generators"
test item for Microsoft/vscode-node-debug#51 and Microsoft/vscode-node-debug#41:

- [x] Windows - @bpasero
- [x] OS X - @seanmcbreen
- [x] Linux - @aeschli

VS Code node debugging no longer shows ES6 Sets, Maps, and Generators as undefined or empty objects.

Map:
![map](https://cloud.githubusercontent.com/assets/1898161/14277680/977b973a-fb24-11e5-8232-9c17280a6eeb.png)

Set:
![set](https://cloud.

[2016-04-05 09:28] joaomoreno commented on #1008
Because caching introduces other problems such as: *I just published my extension, why is it not available for installation?* or *I see this extension in the list but I can't install it* (when a user deletes an extension).

#4839 is a good solution for a slow internet connection as well, since we won't download the information of all extensions but rather query for them.

[2016-04-05 09:35] johnliu2016 commented on #4909
Ported to loc team

[2016-04-05 09:35] mkyjakova commented on #4897
Great, thanks!

[2016-04-05 09:35] johnliu2016 commented on #4909
ported to loc team

[2016-04-05 09:38] mkyjakova commented on #4904
Thanks!

[2016-04-05 09:42] mrpengfei opened #4950 "why the tip of method and parameters is Chinese garbled"
- VSCode Version:0.10.11
- OS Version:windows 10

Steps to Reproduce:
why the tip of method and parameters is Chinese garbled.

1.
![qq 20160405161945](https://cloud.githubusercontent.com/assets/5754718/14276360/12949f8a-fb51-11e5-8fac-4a940491a161.png)

2.

[2016-04-05 10:02] weinand opened #4951 "Support inspecting large data structures on 4.x and 5.x versions of node.js"
test item for Microsoft/vscode-node-debug#11:

- [x] Windows - @jrieken
- [x] OS X - @kieferrm
- [x] Linux - @vsccarl

Inspecting large data structures results in slowness (unresponsiveness) issues in node.js because the v8 debugger protocol does not provide a way to access large data structures in chunks. Always the full thing travels over the wire. A particular nasty issue is that local variable

[2016-04-05 10:10] #4765 closed

[2016-04-05 10:14] alexandrudima commented on #4950
Moved to OmniSharp/omnisharp-vscode#140

[2016-04-05 10:14] #4950 closed

[2016-04-05 10:16] weinand opened #4952 "String truncation limit lifted to 10000"
- [x] Windows @jrieken
- [x] OS X @kieferrm
- [x] Linux @vsccarl

The node v8 debugger protocol truncates strings automatically to a (non configurable) 80 characters and appends a '...  (length: 123)'.
Node debug tries to extend this rather small limit to 10000 by retrieving the string contents for long strings through 'evaluate'.

Verify that:
- strings in the debugger are only truncated if they

[2016-04-05 10:20] weinand opened #4953 "Support for dynamically generated JavaScript and source maps"
A recent update to SystemJS has broken this feature. I've disabled it for this milestone.

for https://github.com/Microsoft/vscode/issues/4492:

- [ ] Windows
- [ ] OS X
- [ ] Linux

VS Code got experimental support for dynamically generated JavaScript and source maps produced by the universal dynamic module loader [SystemJS](https://github.com/systemjs/systemjs). To support this the node debug ex

[2016-04-05 10:21] #4754 closed

[2016-04-05 10:22] weinand opened #4954 "Test: Support skipping code when stepping"
for #4798:

- [x] Windows @v-pavanp
- [x] OS X @alexandrudima
- [x] Linux @joaomoreno

We added experimental support for automatically skipping 'uninteresting code' when stepping through code in the debugger. 'Uninteresting code' is code that is generated by a transpiling process but is not covered by a source map so it does not map back to the original source. Typically this code gets into your w

[2016-04-05 10:22] #754 closed

[2016-04-05 10:23] alexandrudima commented on #754
Thank you @JonathanMEdwards !

[2016-04-05 10:23] tinganho commented on #4085
This issue doesn't appear to be fixed yet.

[code]
The interface above is not highlighted correctly in a tsx file.

[2016-04-05 10:23] mindplay-dk opened #4955 "Typing fast"
I type fast. Sometimes, I type very, very fast.

Every now and then, the editor seems to lose a keystroke - does this bother anybody else?

It seems to happen more frequently when using shortcut key combos - for example, I might CTRL+X to cut a line, move the cursor one line up or down, and then CTRL+V to paste. Frequently, one of those three operations simply don't happen.

This is not generally

[2016-04-05 10:26] bpasero commented on #4921
@roblourens is the previous instance of Code healthy in that moment? Can you try to do the same from the command line like this:
* run code.exe --verbose for the first instance (from the directory where code is installed in program files)
* run code.exe --verbose for the second instance and pass it a file to open
* attach the output in case it fails

[2016-04-05 10:30] donaldpipowitch commented on #211
@bpasero Could you list the needed acceptance criteria to get a pull request merged? Maybe I could help then.

[2016-04-05 10:33] jrieken commented on #4934
closing as duplicate of #1304

[2016-04-05 10:33] #4934 closed

[2016-04-05 10:33] bpasero commented on #211
@donaldpipowitch I would think this feature should:
* be configurable with a flag in settings
* provide the necessary icons for all themes (SVG)

Still, our PM/UX might decide to veto. @chrisdias @stevencl please chime in.

[2016-04-05 10:34] jrieken commented on #4944
hard and strech for April

[2016-04-05 10:35] donaldpipowitch commented on #211
@bpasero Thank you. Could you define "be configurable with a flag in settings" a little bit more? What do you want to configure?
- show/hide icons
- match existing (built in) icons to file patterns
- change existing (built in) icons to custom icons
- ...?

[2016-04-05 10:36] martinring opened #4956 "Support snippet variables"
The [documentation on snippets](https://code.visualstudio.com/docs/customization/userdefinedsnippets) says:

Which implicitly says that VSCode does support variables.

The [TextMate documentation on snippet variables](https://manual.macromates.com/en/snippets#variables) says:

Though it does not work, nor does vscode seem to provide an alternative.

---
- VSCode Version: 0.10.11
- OS Version: Fedo

[2016-04-05 10:37] weinand opened #4957 "Getter support"
for Microsoft/vscode-node-debug#14:

- [x] Windows - @bpasero

[2016-04-05 10:38] jrieken commented on #4823
this is an node-internal module. what's it the call stack from your code that leads to this?

[2016-04-05 10:41] #4471 closed

[2016-04-05 10:55] joaomoreno commented on #4914
It's a bit counter intuitive but:

- `light` means that the the background color will be somewhat light, so the text itself will be dark
- `dark` means that the background color will be somewhat dark, so the text itself will be light

Since your background color (`#333333`) is rather dark, you should use the `dark` theme, not the light one.

When I change the theme, *bump the version* and republis

[2016-04-05 10:55] #4914 closed

[2016-04-05 10:57] bpasero commented on #211
I think the first step would be to allow to show/hide built in icons. Being able to customize icons from themes is a lot larger task and would probably fall into the category of being able to theme the entire workbench (#3112)

[2016-04-05 11:07] stevencl commented on #211
In the past we had explored icons in the explorer but we were concerned about the 'Christmas tree' effect (where the number of differently coloured icons is distracting rather than helpful). Perhaps it is due more to the icon designs we used at the time but when we experimented with this we found that when we took the icons away there was no negative impact on productivity or product satisfaction.

[2016-04-05 11:18] iHuahua commented on #4823
@jrieken i had removed cpptools. can you try it by youself?

[2016-04-05 11:19] isidorn commented on #4932
Can not reproduce on my machine, i even installed the go extension.

If you see this regularly on your machine, please do the following
1. create a public repository on github for which i can reproduce this
2. try to create a minimal number of steps needs - e.g. is step 4 really neccessery?

[2016-04-05 11:19] #4932 closed

[2016-04-05 11:35] iHuahua commented on #4846
兄弟，别指望了，我很久之前就提过，他们的回答是目前已经支持带DOM头的文件编码检测，不带DOM的不检测，我弄了个插件检测编码的，现在编码是检测成功了，但是切换编码卡住了，他喵的切换的API不开放，未来很长一段时间这个功能都不会有，不介意的话可以等等我的插件上线，由于接口限制，插件只能到 `Change File Encoding`那一步，顺带把检测的编码告诉你，手动切换一下

[2016-04-05 11:47] iHuahua opened #4958 "Allow to get/set the encoding and charset"
Such as [`IEncodingSupport::setEncoding`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/editor/editorStatus.ts#L910) , i want to code an extension for detect file's encoding. now detect encoding successed, but i don't known how to change encoding by API, could u help me?

[2016-04-05 11:59] pcgeek86 commented on #4471
@joaomoreno Nice, thanks. Good work

[2016-04-05 12:04] tinganho opened #4959 "Cannot delete files on a mounted file system"
I use sshfs to mount a file system from Ubuntu on my Mac. When I try to delete files I get the following error message:

<img width="1411" alt="screen shot 2016-04-05 at 17 07 59" src="https://cloud.githubusercontent.com/assets/1324476/14279702/5d8e29ce-fb61-11e5-9268-3311e49a8db3.png">

And when I click delete permanently it doesn't delete the file. It would be good if it could delete directly wi

[2016-04-05 12:16] NickGrease commented on #957
@SamVerschueren  I was a bit frustrated previously, so thank you for your time. I am using the Insider edition, and the code you wrote does indeed work. At some point yesterday in my attempt to fix my issue, I had downloaded typings, and installed several (node,browserify) d.ts files to my original project, and the fix you proposed above didn't work until I deleted the typings folder in my project

[2016-04-05 12:34] dprice commented on #4359
@joaomoreno - Here's an interesting story for you!

I had previously uninstalled and reinstalled VS Code Insiders and noticed that one file remained after the uninstall; "Code - Insiders.exe." It was locked from deleting even with admin rights. After rebooting it was either gone or I was able to delete (I can't remember). I figured this new update would go smoothly since I had started fresh, but I

[2016-04-05 12:40] bpasero commented on #4846
@iHuahua maybe as full file?

[2016-04-05 12:43] alfalabs commented on #4830
@aeschli @egamma
In my original post, the offensive extension is mentioned in message: " HTML CSS Class Completion"
Here is the link: https://github.com/Zignd/HTML-CSS-Class-Completion
Attached is the index.html file

[index.zip](https://github.com/Microsoft/vscode/files/204451/index.zip)

[2016-04-05 12:44] joaomoreno commented on #4359
That is very interesting indeed! Does it also lock it in the new version? And it never locks the stable release `Code.exe`?

[2016-04-05 12:51] rushfrisby commented on #4914
thanks I'll make the change. must have been cached or delayed when i tried switching to dark.

[2016-04-05 13:05] asvetliakov commented on #1304
Is it possible to introduce setting to disable default snippets completely until this fixed? I'm rarely using default snippets for example and i'd choose to not have them instead messing with completion list.

[2016-04-05 13:07] davidpmccormick commented on #3130
+1 – Atom, Sublime and jsbin.com (presumably others, too) all allow creation of multiple cursors with ⌘+click (on a Mac, at least). It'd be good to be forced to learn as few new shortcuts as possible when switching to a new editor.

[2016-04-05 13:18] donaldpipowitch commented on #211
Thanks. I'll try it. Please be patient, it would be my first contribution to the vscode code base.

[2016-04-05 13:18] con-ssc opened #4960 "Emmet with Umlauts not working"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

1. Make a new html page
2. Write using emmet and use umlauts

The current implementation of emmet doesn't seem to cope with umlauts very well. If tags have umlauts they are cut after the umlaut.

![vscode_issue](https://cloud.githubusercontent.com/assets/8189808/14283004/8646ca76-fb41-11e5-8bde-dfa4b5313c71.png)

[2016-04-05 13:27] s-a opened #4961 "Question: How to display a code thumbnail scrollbar?"
Does this feature already exist?

[2016-04-05 13:28] admmasters opened #4962 "Emmet with JS files (JSX) is not working."
- VSCode Version: Version 0.10.14-insider (0.10.14-insider)
- OS Version: OSX 10.11.4

Steps to Reproduce:
1. Type `div>` within the editor in a JS file (JSX)
2. Emmet does not expand to `<div></div>` as expected.

Note:
This does work if explicitly using a jsx file with "Javascript React" as a language, but then you are missing features like jump to symbol etc that you get with "Javascript".

[2016-04-05 13:32] admmasters opened #4963 "No path autocompletion of ES6 modules."
- VSCode Version: Version 0.10.14-insider (0.10.14-insider)
- OS Version: OSX 10.11.4

Steps to Reproduce:

1. Using ES6 within foo.js try and use autocompletion to insert bar.js
2. "No suggestions"

I don't think this is a bug - rather a feature that does not exist, considering the nature and shape of modern JS, IMHO this should be standard - WebStorm for instance has this and Atom has many plugi

[2016-04-05 13:34] admmasters opened #4964 "Click to symbol does not jump to file but to the import (JSX/JS)."
- VSCode Version: Version 0.10.14-insider (0.10.14-insider)
- OS Version: OSX 10.11.4

Steps to Reproduce:

1. Cmd+Click on a Component in JSX (also JS).
2. VSCode jumps to the import and not the file itself.

Expected:
VSCode should just jump to the file referenced in the import as its smart enough to know the specific import.

[2016-04-05 14:09] indiejames commented on #224
Wish I had seen this earlier so I could have signed up. For what it's worth, I hope you never implement tabs. I have progressed from vim to TextMate to Sublime to Atom and now to VS Code (with a lot of IDEs along the way), so I have had a LOT of experience with tabs. To me they are a crutch that people use and never get past. Managing many open tabs on a large project is an exercise in frustration

[2016-04-05 14:12] mquandalle commented on #4964
I get that behavior also on non-JSX functions.

[2016-04-05 14:26] pokerov opened #4965 "Interface breaks with Windows Classic theme"
- VSCode Version: 0.10.11
- OS Version: Windows 7

Steps to Reproduce:
Interface breaks when used classic Windows theme

1. Change Windows theme to Windows Classic
2. From computer settings, Advanced Settings, Performance select Adjust for best performance
3. When used with similar applications with just quick Alt+Tab interface breaks and sometimes is missing (visually) half of the contents

[2016-04-05 14:28] patrickmcd commented on #224
Ditto @indiejames

[2016-04-05 14:31] errorx666 commented on #224
If you implement tabs, please support multiple rows for many files.  I hate having a scrollbar on my tab bar.  My favorite tabs implementation is [Tabs Studio](https://tabsstudio.com/).

[2016-04-05 14:41] glennblock commented on #224
My workflow I open tabs while I work in Sublime as I need to. I don't leave
tons of tabs open and I often use close all to bring things back to a clean
slate.

I have been developing over 30 years across multiple ides and text editors.
I don't see them as a crutch, the are a useful organizational tool. Yes
they can get get out of control of you have zillions of tabs, but I
don't....

On Tue, Apr 5

[2016-04-05 14:42] jrieken commented on #4823
`yo code` should not install anything related to cpp. Please report the top of the stack as I believe this is then something with the `cpp tools`

[2016-04-05 14:43] weinand opened #4966 "VS Code sends inconsistent Source object in setBreakpointsRequest"
- VSCode Version: alpha
- OS Version: OS X 10.11.4

It is not possible to clear or disable breakpoints in inlined source. The reason for this is that a different Source object is passed to setBreakpointsRequest when clearing or disabling the breakpoint.

- set a breakpoint in inlined source
- restart debug session and inspect Source object passed to setBreakpointsRequest:
  ![2016-04-05 16-31-20](

[2016-04-05 14:45] bpasero opened #4967 "Consolidate theme.*.css into workbench.css"
Looks like leftover from standalone workbench times.

[2016-04-05 14:45] errorx666 commented on #224
"It makes it easier for users to misuse the product" is a terrible reason to not support a feature.  The tool is there to _facilitate_ workflows, not to _dictate_ them.  If a user can't find a comfortable workflow, that user is more likely to choose another tool where they can, rather than adapt to an unfamiliar paradigm.

I'm currently working on a few closely related files, jumping back and fort

[2016-04-05 14:56] dchw commented on #4862
I can't send you a workspace, since all the code files in the workspace have a scary legal warning at the top of them. I _can_ provide you with logs and a more information (and easier repro steps) that do not need a workspace or any plugins. The error and corresponding logs look similar enough that it seems likely to be the same issue. Here is what I did:

1. Create a folder for a new project
2. M

[2016-04-05 15:08] #4966 closed

[2016-04-05 15:09] isidorn commented on #4966
Fixed via f56ccb0

[2016-04-05 15:09] #4080 closed

[2016-04-05 15:11] joaomoreno commented on #4914
Cache would explain it yeah. :+1:

[2016-04-05 15:13] weinand commented on #4733
@bogdanac most likely this is the same as https://github.com/Microsoft/vscode/issues/4966. If you can reproduce could you please confirm that this only occurs in "inlined source". You can find this information at the top of the editor:

![2016-04-05 17-12-28](https://cloud.githubusercontent.com/assets/1898161/14287060/a8a24734-fb51-11e5-9e8a-67d873e0e75e.png)

[2016-04-05 15:13] #4733 closed

[2016-04-05 15:32] chrispepper1989 commented on #1515
is this implemented in the current stable vscode? or do i need to grab the latest from source?

[2016-04-05 15:48] flemingtech opened #4968 "Folding in Python - Hides newlines between functions"
- VSCode Version: 0.10.11
- OS Version: Win7Sp1

Steps to Reproduce:

Before collapsing; Doesn't matter how many newlines I use.
![image](https://cloud.githubusercontent.com/assets/7074286/14288334/37286502-fb24-11e5-8780-d8c642bb2200.png)

After collapsing; I really don't think it should collapse all the newlines, it looks horrible.
![image](https://cloud.githubusercontent.com/assets/7074286/1428

[2016-04-05 15:56] AdamAndersonFalafelSoftware commented on #869
@JAForbes, @skyaddict: I was about to write a reply saying that it already works, but then a mystery was revealed. I can confirm that the search.excludes setting above works for excluding all subfolders of node_modules except for a folder named .local. That is 100% definitely working. However, I was not able to get the same set of patterns to work on a folder other than node_modules, or on individ

[2016-04-05 15:57] alexandrudima commented on #4961
@s-a Do you mean something like a minimap?

[2016-04-05 16:06] aeschli commented on #2233
Implemented by bb6f634ff5 and ddd2a37aff

[2016-04-05 16:06] #2233 closed

[2016-04-05 16:14] s-a commented on #4961
Yes . Like sublime Text. I think in MSVS it is called scroll bar minimap.
Am 05.04.2016 17:58 schrieb "Alexandru Dima" <notifications@github.com>:

[2016-04-05 16:15] fa7ad commented on #211
@stevencl I understand your concerns, to some people it can be distracting. that's why I think the idea of being able to disable/enable it is a good one.

One other thing I want to suggest is the use of SVG icons, rather than raster types like png, that way the icons could be following the color scheme of the current theme and not be multi-colored and distracting.

[2016-04-05 16:16] gregvanl commented on #4778
Looks like duplicate of #4905

[2016-04-05 16:16] #4778 closed

[2016-04-05 16:18] eyalsk commented on #224
@indiejames

It's not too difficult to support two different navigation workflows or even more than two, what's **really** difficult is getting the design right!

If you really want to support tabs and working files or another workflow you need to go few steps backwards, do a zoom out and redesign navigation from the ground up, making workflows a strategy that people can choose from.

Creating an

[2016-04-05 16:29] rkeithhill commented on #4861
FYI, in the Powershell extension scenario, the script didn't terminate unexpectedly from the extension's point of view.  It successfully completed execution of the script.  But I think because VSCode did not send the `disconnect` message (or we didn't send something to cause VSCode to send that message) - VSCode thinks the debug host terminated unexpectedly.

[2016-04-05 16:31] DaveyD opened #4969 "Intellisense for nodejs not working anymore"
- VSCode Version: 0.10.11
- OS Version: Windows 10 64bit

I have a nodejs project that I was working on a few months ago and everything was great.
In the meantime, I had upgraded VScode to latest version.
Today I came back to the project and node intellisense is not working.
I made sure the tsd files were still there, and they are, in `\typings\main\ambient\node\node.d.ts`

I searched around a lit

[2016-04-05 16:39] bpasero commented on #4959
Fixed for GA. You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

[2016-04-05 16:39] #4959 closed

[2016-04-05 16:41] bpasero commented on #4958
We currently do not have API to set the encoding for files from extensions.

[2016-04-05 17:12] daviwil commented on #3153
@jrieken Hmm, we shouldn't be adding a `$` to the `$env:` suggestions anyway.  I'll see if I can figure out why that's happening, could be a bug on our side.  If the suggestion in that case is `AllUsers` instead of `$AllUsers`, would we be OK without changing the insertText range?

[2016-04-05 17:12] daviwil commented on #3153
And thanks a lot for making this change, by the way!  Will be a great benefit to PowerShell developers.

[2016-04-05 17:13] bpasero opened #4970 "Extensions: failed to uninstall extension from "outdated" extensions view"
Steps to Reproduce:

1. have an extension update
2. click in the status bar to open the picker
3. try to uninstall from here

=> cannot find extension with id "python"

[2016-04-05 17:15] bpasero commented on #4862
@dchw maybe related to the git version you are using? which one are you on?

[2016-04-05 17:16] bpasero commented on #4862
@dchw also do you have any extensions installed? can you try with "code --disable-extensions"?

[2016-04-05 17:20] Tyriar commented on #211
I'd personally love to see this added, good quality icons that are easy to distinguish are very useful in reducing the time it takes to find a file in the file explorer. Plus when done right, it can makes the editor look quite beautiful.

Having said that, I don't see this working with a single icon set for dark and light themes. It should be extensible so that users can develop "icon packs" and p

[2016-04-05 17:24] Tyriar commented on #3130
I'm just completely avoiding using <kbd>alt</kbd>+`click` to add cursors until I can customize to make Windows and Linux consistent. Don't want to build muscle memory when it's going to change later.

@alexandrudima any thoughts on when you could get to this? It's blocking [adding cursors via mouse on Linux](https://github.com/Microsoft/vscode/issues/3091). I can take a shot at it if you give a hi

[2016-04-05 17:26] bgashler1 commented on #4521
@bpasero:
@stevencl and I have also seen several other issues come in involving the many varying ways we deliver notifications in the product (such as extension updates, extension tips/tricks, lightbulb for picking a project context, errors and warnings...).

Because of this, we should think about improving all notification experiences.  We can start by seeing what we're currently using and how we

[2016-04-05 17:29] dchw commented on #4862
@bpasero Here is the version of git I am using. I am using it from ConEmu (v. 150813g, 64-bit).

    $ git --version
    git version 2.7.0.windows.1

The same thing happens when extensions are disabled. Just to be thorough, here are logs doing the same thing using the command `code . --verbose --disable-extensions`:

    csharpWatcherService.ts:76 [File Watcher] [ADDED] c:\Users\Some.User\src\gitt

[2016-04-05 17:30] sgtoj opened #4971 "VS Code's Editor Window Does Not Show/Launch (Sometimes)"
- VSCode Version: 0.10.14-insider & 0.10.11
- OS Version: Win10 Build 14279

Steps to Reproduce:

1. *Using and Closing VS Code (Standard or Insider)?*
2. (Re-)Launching VS Code

VS Code (Standard and Insider) will sometimes not show the IDE Window when launch. There are ~4x Code.exe or Code-Insider.exe process that show running in Task Manager. Beside rebooting, the only workaround I have found i

[2016-04-05 17:32] dvlsg commented on #1515
I know it works in the [insiders builds](https://code.visualstudio.com/Download#insiders).

To add to what others above are saying, I would also love to see functionality that starts the column selection from the point where you clicked (alt + left click drag, rebindable to middle click drag?) make it in to vscode. I think the shift-alt-leftclick version does add value, but it feels awkward to me,

[2016-04-05 17:32] admmasters commented on #4964
Updated, you are correct.

[2016-04-05 17:34] bgashler1 commented on #1133
@AmadeusW thanks for sharing.  We would love to get your feedback once we have a prototype of the changes.

[2016-04-05 17:38] s-a commented on #4961
![image](https://cloud.githubusercontent.com/assets/1270662/14291918/fae8351c-fb65-11e5-9672-8094694c6e24.png)

[2016-04-05 17:44] bgashler1 commented on #3355
@mrmckeb what's your email address, and I can send it to you?  Also, we totally appreciate your enthusiasm on prototyping this, but I do want to make sure we don't hurt any expectations as there's a possibility that we may not choose to officially support this feature.  We are seriously considering it, however.  Thanks for your help :)

[2016-04-05 17:51] bpasero commented on #4521
:+1:

[2016-04-05 17:59] bgashler1 commented on #3605
Thanks everyone.  I'll be sure to get a fix in for this.

[2016-04-05 18:02] Tyriar commented on #3355
The extension UI is being discussed in https://github.com/Microsoft/vscode/issues/637, settings may be impacted by this.

[2016-04-05 18:04] bpasero commented on #4862
I just tried to reproduce on Windows 7 with git 2.6.3 and cannot:
![untitled](https://cloud.githubusercontent.com/assets/900690/14292708/8e158576-fb69-11e5-8083-689f77d39b8b.gif)

[2016-04-05 18:05] tinganho commented on #4959
It works on the insiders. Though it always fail on the first attempt. I didn't have this issue when using SublimeText. I wonder why it doesn't work directly? Could it be case sensitivity problems?

[2016-04-05 18:05] JonathanMEdwards commented on #3605
How about the line cursor being thinner than in other themes?

On Tue, Apr 5, 2016 at 2:00 PM, Brad Gashler <notifications@github.com>
wrote:

[2016-04-05 18:12] bpasero commented on #4959
It can well be that the trash feature is not supported in this mounted drive environment. Maybe Sublime falls back to just deleting in that case?

[2016-04-05 18:16] abhinav-shah commented on #4931
Ran it from command line: Didn't get any output

➜  ~ /Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron

[2016-04-05 18:17] bitflower commented on #3269
I have the same problem in VS2015, TS 1.8.9, Gulp executes.

[2016-04-05 18:20] bgashler1 commented on #4845
@joaomoreno: Sure, we support numerous languages, though.  Do we have a list of file associations that are affected so I can design just for those?

[2016-04-05 18:26] pflannery commented on #211
This is what PR #3200 already solves for this feature:

- Icons packs as a standalone icon theme (they can also be included with colour themes)
- 'No icons' as an option (currently defaults to this)
- Capable of using SVG as icons
- Colouring of file\folder resources

What it doesn't include is:

- Exposing Icon or Colouring via javascript extensibility.
- User theme settings (i.e. settings stored

[2016-04-05 18:27] fabiodamasceno opened #4972 "Clipboard access through Extensions API"
- VSCode Version:0.10.11
- OS Version: Windows 10, Mac OSX El Captain

Hi, I'm developing [console-wrapper](https://github.com/fabiodamasceno/vscode-console-wrapper) , that is an extension for javascript console.log (other languages support will be added soon) and I need some access for clipboard content in Extensions API. I think this methods should be enough for most of cases:
- vscode.clipboard

[2016-04-05 18:28] DaveyD commented on #4969
Hi, after more searching I found that this was addressed already in issue #3936
Seems like a jsconfig.json file is now needed - see instructions there
This fix did work for me.

This issue can be closed (or deleted)

[2016-04-05 18:29] #4969 closed

[2016-04-05 18:36] eyalsk commented on #637
Personally I dislike the idea of having a UI management for extensions, I dislike it in Visual Studio and if anything I'd argue that this is nothing but annoyance!

Visual Studio has grown to be a stack of interfaces that I no longer use because I do everything in the command line much faster and I have a better experience with it than clicking on things.

I really hope that the Visual Studio team

[2016-04-05 18:37] bpasero commented on #4931
@abhinav-shah any chance you might have an older version of VS Code installed that Mac tries to open?

[2016-04-05 18:47] v-pavanp opened #4973 "Auto close feature for command palette should be changed."
I personally feel it is annoying when command palette closed automatically without any user action on editor window. It is common use case when user switch focus to the other app and come back to VSCode.
In my case:
1. I generally switch to outlook by clicking on email pop-up alert.
2. When I launch the picker (extension window) and want to read about extension before installing it (moved from VSC

[2016-04-05 18:51] kumarharsh opened #4974 "[javascript] Intellisense issues in large JS project"
- VSCode Version: 0.10.14
- OS Version: Windows 10

After I upgraded to 10.13, and soon after to 10.14, the autocomplete is not triggering. At first I thought that by moving away from salsa for javascript projects would have broken something, but reading your blog post gives me the idea that intellisense would still _work_, albeit not as well as with salsa. But then I found out that even simple wo

[2016-04-05 18:51] Tyriar commented on #637
@eyalsk be sure to :+1: https://github.com/Microsoft/vscode/issues/691 - It would enable something like this:

[code]

[2016-04-05 18:54] dchw commented on #4862
@bpasero Hmmm. That is  odd. I wonder if its something else in my environment, because following those exact steps in you gif causes the document to close on my machine (and also everyone on my team's machine).

Any ideas on other environmental things that could be affecting this? I suspect AV, but company restrictions prevent me from turning it off.

[2016-04-05 18:54] Tyriar commented on #4922
Closing this off as per my last comment.

[2016-04-05 18:54] #4922 closed

[2016-04-05 18:54] eyalsk commented on #637
@Tyriar thanks! ;)

[2016-04-05 18:55] bpasero commented on #4971
Can you try to run VS Code in verbose mode?
* find the Code.exe in the programs folder
* execute `code.exe --verbose`

When you run the second instance you can do the same and it should print something to the console (as well as the first instance should print something).

[2016-04-05 18:58] sgtoj commented on #4971
I will do.

[2016-04-05 18:59] bpasero commented on #4862
Yes, it could be something like that. The only idea I have is to explicitly exclude the workspace folder from file watching (though that can cause other issues): Open settings and find the `files.watcherExclude` setting and fill in something like:

`files.watcherExclude: <path to workspace>: true`

[2016-04-05 19:00] abhinav-shah commented on #4931
nope. I even tried running the [March Insiders Release](https://code.visualstudio.com/Download#insiders) this morning. Still the same thing. It doesn't render anything.

[2016-04-05 19:00] eyalsk commented on #691
_I posted this in another suggestion but maybe this is a better place to post it so here it goes:_

I'd **really** want to have is a Console that I can use to install extensions, install nuget packages, install npm packages or another kind of packages and the only thing it needs is Intellisense for packages but yeah definitely unified experience for installing packages.

Instead of tackling specif

[2016-04-05 19:02] dprice commented on #4359
PE does lock the new version (v0.10.14-insider) but not the stable version. I have no idea why...

[2016-04-05 19:05] Peter-Juhasz commented on #4933
I have summarized some of the issues (beyond background color) that make difficult to read tooltips in #4884.

[2016-04-05 19:11] dchw commented on #4862
I can't seem to find that setting, is that a setting that isn't in 0.10.11? What are the expected issues you can run into when excluding the workspace folder?

[2016-04-05 19:13] chrisdias commented on #2480
double check with @egamma as he does most of the wiki edits.  we will need to update the wiki to point to the appropriate folder.

also, should we call it the `/wiki` folder instead of `/docs`, to avoid confusion with `vscode-docs` repo?

[2016-04-05 19:15] cadupedroni opened #4975 "Code Insider does not work on mac"
- VSCode Version: 0.10.15-insider
- OS Version: 10.11.4 (OS X El Capitan)

Steps to Reproduce:

1. Download the official website
2. Unzip the file and try to run

[2016-04-05 19:22] Tyriar commented on #691
I propose the following args:

[code]

With the `--list-ext` arg returning a flat list of extension aliases:

[code]

[2016-04-05 19:25] Tyriar commented on #4933
Closing in favor of https://github.com/Microsoft/vscode/issues/4884

[2016-04-05 19:26] #4933 closed

[2016-04-05 19:29] Tyriar commented on #4975
@cadupedroni what happens when you run it?

[2016-04-05 19:29] jalipert opened #4976 "[javascript] syntax highlighting bug when object property name starts with "var""
![highlighting_bug](https://cloud.githubusercontent.com/assets/1097608/14295345/29e0b556-fb43-11e5-8a29-7fb348e0cc63.png)

- VSCode Version:0.10.11
- OS Version:Windows 10

Steps to Reproduce:

1. add a property to an object starting with the letters "var"
2. observe incorrect syntactical highlighting

[2016-04-05 19:30] bpasero commented on #4862
You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

[2016-04-05 19:32] bpasero commented on #4931
Sorry, out of ideas. @joaomoreno maybe more ideas?

[2016-04-05 19:35] cadupedroni commented on #4975
The VSCode Insiders he shows at the top of the Code-but Insiders screen closes immediately.

One difference I found on now was in the folder that it creates within ~/Library/"Application Support"/Code-Insiders, have the User folder empty and the DevTools file Extensions with just []

[2016-04-05 19:36] vsccarl opened #4977 "Extension uninstall "x" is not centered"
- VSCode Version: 0.10.12-alpha (latest)
- OS Version: Windows 10

Steps to Reproduce:

1. Open installed extensions

![uninstallxoffset](https://cloud.githubusercontent.com/assets/12900364/14295554/04775684-fb2b-11e5-8744-e23c86754bff.JPG)

[2016-04-05 19:36] cfjedimaster opened #4978 "Make search files exclusion editable"
- VSCode Version: 0.10.11
- OS Version: OSX 10.11.4

Steps to Reproduce:

1. Click on the Search icon
2. Unable to modify "files excluded through settings"

Multiple times recently I've wanted to search though node_modules, but because it is disabled in user settings, the only way I can do that is to remove that exclusion in a project specific config, or edit my user settings.

I get why these def

[2016-04-05 19:41] dchw commented on #4862
Setting the workspace setting does seem to work, and prevents the documents from closing.

I'm still curious what else (besides the git integration) might be affected by turning this off?

[2016-04-05 19:43] eyalsk commented on #691
@Tyriar I'd go with either one of these but the POSIX/GNU+ style is more appealing to me.

PowerShell style.
[code]

POSIX/GNU+ style.
[code]

[2016-04-05 19:45] vsccarl opened #4979 "eslint and jshint extensions do not change uninstall to install button after uninstalling"
- VSCode Version: 0.10.12-alpha (latest)
- OS Version: Windows 10

Steps to Reproduce:

1. Install jshint and eslint
2. Open install extensions
3. Uninstall either or both.

Actual:
The uninstall button remains after uninstalling. If you uninstall more than once, the dialog saying you need to restart does not show up.

[2016-04-05 20:00] delmyers commented on #4519
Sorry, @isidorn, I forgot to mention you in the last comment I added. Having something that says "Thread {name}" might work. Another option would be to have an arrow or special highlighting that indicates the current thread. Also, to auto expand the thread that is currently being debugged (e.g. the last one paused).

[2016-04-05 20:02] isidorn commented on #4519
@delmyers you do not have to mention, I am always subscribed to issues I am interested in and I get notificatinos even if you do not mention me.

[2016-04-05 20:06] kumarharsh opened #4980 "[javascript] syntax highlighting for class arrow properties is broken"
- VSCode Version: 0.10.14
- OS Version: Windows 10

Steps to Reproduce:

1. Write this code:
[code]
2. The syntax higlighting is broken
3. See the image below

![untitled](https://cloud.githubusercontent.com/assets/760112/14296483/02d5767c-fb98-11e5-89fc-51487c19cb1b.png)

[2016-04-05 20:09] joaomoreno commented on #4975
Does it happen if you download it and extract it again?

What application do you use for extracting?

What output do you get when running straight from the terminal?

[code]

cc @bpasero

[2016-04-05 20:12] joaomoreno commented on #4931
Did it use to work at any point in time? Either stable or insiders? Any old version?

[2016-04-05 20:15] abhinav-shah commented on #4931
it never worked for me.

[2016-04-05 20:17] cadupedroni commented on #4975
Thank you very much! Now worked perfectly.

The problem is permission denied.

`I ran sudo/Applications/Visual\ Studio \-\ Insiders.app \ Code/Contents/MacOS/Electron`

[2016-04-05 20:21] mathiask88 opened #4981 "Show extension Readme inside code"
Recently I installed an extension with the command palette. Before that I clicked on `Readme` and a new chrome window opened up. How about showing the extension Readme inside VSCode without changing focus/app?

[2016-04-05 20:32] vsccarl commented on #4979
Also after uninstalling multiple times and then restarting I'm getting this error:
![uninstallmultipleerror](https://cloud.githubusercontent.com/assets/12900364/14297262/cc8ed28a-fb32-11e5-8942-4d79e7ecd0a7.JPG)

[2016-04-05 21:08] vsccarl opened #4982 "Improve the save dialog when deleting dirty files"
- VSCode Version: 0.10.12-alpha (latest)
- OS Version: Windows 10

Steps to Reproduce:

1. Modify a file and do not save
2. Delete the file

Actual:
Confirmation that you want to delete shows up, then after it asks if you would like to save the file.

Expected:
No confirmation asking if you would like to save after confirming delete.

[2016-04-05 21:09] chrisdias commented on #4579
yes, this is correct url. when we push a new build of the website it will redirect to the localized page.

[2016-04-05 21:15] bgashler1 opened #4983 "High-contrast theme has ugly serif font on Output dropdown box"
- VSCode Version: 0.10.11
- OS Version: Mac OS X El Capitan

We have an ugly serif font and mis-styled dropdown box (light theme and larger dropdown control than normal) in the high contrast theme.

<img width="138" alt="screen shot 2016-04-01 at 5 49 32 pm" src="https://cloud.githubusercontent.com/assets/11839736/14298235/ab15dea4-fb38-11e5-9ff7-e084861da7d3.png">

Steps to Reproduce:

1. Go to H

[2016-04-05 21:15] vsccarl opened #4984 "Deleting a folder with a modified file shows save changes prompt when exiting"
- VSCode Version: 0.10.12-alpha (latest)
- OS Version: Windows 10

Steps to Reproduce:

1. Modify a file in a folder and do not save
2. Delete the folder containing that file
3. Exit VS Code

Actual:
Prompt shows asking if you would like to save the file you deleted within the folder. If you choose yes, when you re-open Code the folder and file will be restored.

[2016-04-05 21:22] Alber70g commented on #2793
@aeschli sorry to be so slow in the follow up, but anything that could give me syntax highlighting (as a first step) and/or autocompletion between backticks '`' would be awesome.

[2016-04-05 21:25] chrisdias commented on #4851
Thanks for this suggestion!  We've started down the path of using the `json` file format and I think we should continue along that path, unless we find a compelling reason to move to `yaml`.

Here's the thinking. While `json` has shortcomings, it also has benefits:
- There is a native parser built into the runtime and we care deeply about parsing speed. For example, we parse configuration files du

[2016-04-05 21:25] #4851 closed

[2016-04-05 21:45] weinand commented on #4492
I've added some experimental support for SystemJS to node-debug. It is now possible to set breakpoints in the source and VS Code will hit the breakpoint after SystemJS has transpiled the source at load time. For this I hook the "afterCompile" event of the node runtime.

But there is still (at least) one problem left: since the node runtime does not stop after the generated (transpiled) JavaScript

[2016-04-05 21:59] Tyriar commented on #4426
https://github.com/Microsoft/vscode/commit/cd12a7e389bff8e7ef96a01735e287f536c7f07a

[2016-04-05 21:59] #4426 closed

[2016-04-05 22:06] Tyriar opened #4985 "Test: Include CLI in Linux zip archive and support custom install locations"
Test - @aeschli

Test plan for https://github.com/Microsoft/vscode/issues/4426

- [x] Test zip archive
- [x] Test .deb package
- [x] Test .rpm package -

### .zip test

Extract zip to `~` and attempt to launch with:

[code]

### .deb/rpm test

Install package and attempt to launch with:

[code]

[2016-04-05 22:26] vsccarl commented on #4805
@joaomoreno Version 2.7.2

[2016-04-05 23:01] Reanmachine opened #4986 "Support dragging instruction pointer during debug"
Visual Studio's Debugger has a really useful feature that lets you drag the instruction pointer around while debugging, it's great for replaying a section if you missed something or skipping over logic that you're not interested in.

![Example](http://i.imgur.com/kuYKGSB.gif)

It would be really nice if this was available in VSCode.

[2016-04-05 23:03] v-pavanp opened #4987 "Getting error while launching "npm" install task from launch.json."
- VSCode Version: 0.10.12-alpha
- OS Version: WIndows10

Steps to Reproduce:

1. Launch app and open any folder which contains .ts file.
2. Install eslint extension and restart app.
3. Configure task by generating tasks.json for npm.
4. Update install task as below:
                 {
			"taskName": "install",
			"args": ["install","-g","eslint"]
		},
5. Set node debugger and generate launch.json

[2016-04-05 23:12] Deviad commented on #2793
Hello, I am interested in this feature as well, as this along the fact of having no way to easily use Gulp, is one of the main reason for me to use some proprietary solutions right now.
Plus some unidentified bug with files having several lines of codes that make css linter get timeout error.

[2016-04-05 23:39] v-pavanp opened #4988 "Debugger is crashing when trying to debug with "Step info (F11)""
- VSCode Version: 0.10.12-alpha
- OS Version: windows10

Steps to Reproduce:
1. Launch app and open any folder which contains .ts file.
2. Set node debugger and generate launch.json.
3. Update program path to target correct .js file to debug.
{
	"version": "0.2.0",
	"configurations": [
		{
			"name": "Launch",
			"type": "node",
			"request": "launch",
			"program": "${workspaceRoot}/test.js",

[2016-04-05 23:45] vsccarl opened #4989 "Intellisense suggestions sometimes based off the last letter typed"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Start typing any Javascript. I was trying to get console
2. When typed at the right speed intellisense will sometimes only suggest based off the last letter typed

![intellisenseletter](https://cloud.githubusercontent.com/assets/12900364/14301524/658fb278-fb4d-11e5-873a-9517434fcb53.png)

Sometimes it will be based o

[2016-04-05 23:47] victorhooi commented on #906
Yup, this would be super awesome for me as well! =).

I often use my text-editors as a scratch-pad.

Sublime Text has had this for a while, and Atom had it via third-party extensions (e.g. [save-session](https://atom.io/packages/save-session). However, Atom recently rolled it into the core - perhaps some of their discussion might be helpful to our implementation?

Relevant PR - https://github.com/

[2016-04-05 23:49] startrekdude opened #4990 "Intellisense doesn't work with constant function parameters"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

[files.zip](https://github.com/Microsoft/vscode/files/205553/issue.zip)

1. Create a file called SomeAPI.js with the following content:
[code]
2. Create a file called SomeAPI.d.ts with the following content:
[code]
3. Create a file called app.js with the following content:
[code]
4. Mouse over the line where it says "SomeAPI.

[2016-04-06 00:01] bill-mybiz opened #4991 "TypeScript, string literal, compiler false positive error"
- VSCode Version: 0.10.11, 0.10.13-insider, 0.10.14-insider
- OS Version: Windows 10
- TypeScript Version: 1.8.9 locally via tsdk workspace, also occurs with this setting removed.
- Node Version: 4.1.1

Steps to Reproduce:

1) String literal declaration as follows (You can also download the source [here](https://github.com/ibgib/bibleGib)):
[code]
2) Build the project (ctrl+shift+B) **with the fil

[2016-04-06 00:16] jghaines commented on #2726
For reference/inspiration, here is a npm runner, with debugging, that I created as a [Custom Runner for Cloud9](https://docs.c9.io/docs/custom-runners) (a competing IDE). Their feature is in turn inspired by the Sublime build system.

[code]

[2016-04-06 00:38] v-pavanp opened #4992 "Getting error in chrome developer tool window when trying to switch between "call stack" items."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch app and open a folder which contains .ts file.
2. Set configuration for launch.json and start debugging.
3. Debug with "Step info (F11).
4. Launch chrome debug window Help->Toggle Developer tools.
4. Click on any item displayed in "call stack" section to verify program flow.
5. Verify chrome developer tool.

Act

[2016-04-06 01:02] v-pavanp opened #4993 "Should provide option for "Show next statement" to get the current debug point."
When debugging the large app it is common scenario when user lose the current debug point.
To get the current debug point VSCode should provide an option "Show next statement" in the context menu (when user right click on editor).

Like in Visual Studio:
![image](https://cloud.githubusercontent.com/assets/17735796/14302630/02d566a4-fb58-11e5-8292-e9870e212ef4.png)

[2016-04-06 02:00] minggo commented on #4946
@dbaeumer Any idea?

[2016-04-06 03:08] Tyriar commented on #3068
[code]

[2016-04-06 03:25] Tyriar commented on #3068
The EACCES errors can be fixed by tweaking permissions since .config is normally only `700`: `chmod 775 .config/`

Once that's passed, vscode load and, gives a warning about how you shouldn't run as root. Only files owned by root can be modified in this instance of vscode.

[2016-04-06 03:30] Tyriar commented on #3068
When `gksudo google-chrome` is run this is presented:

![image](https://cloud.githubusercontent.com/assets/2193314/14304972/c50622a4-fb6c-11e5-9f8e-39cfd70c5d39.png)

[2016-04-06 03:32] Tyriar commented on #3068
This works with Chrome:

[code]

[2016-04-06 03:37] Tyriar commented on #3068
The whole thing is pretty messy after understanding it, it would be better to request sudo acces when a file is saved. Something like this might work? https://www.npmjs.com/package/electron-sudo

[2016-04-06 03:46] iHuahua commented on #4823
I am sorry to later for reply.
I am a cpp developer, so I had install extension `cpptools` before. I have not modify anything about .vscode.

![stack](https://cloud.githubusercontent.com/assets/2878674/14305264/241b8fb0-fbed-11e5-93ce-62af4ff1feb7.jpg)
![setting](https://cloud.githubusercontent.com/assets/2878674/14305265/242e2c60-fbed-11e5-80b2-11dbffa7316f.jpg)

[2016-04-06 03:47] iHuahua commented on #4823
@jrieken If I have not reply in time, please email to me, ihuahua#live.com, # => @

[2016-04-06 04:03] iHuahua commented on #4958
@bpasero  Think for your reply. Would you have plan to add API in future? or support encode detect just like ATOM?
https://github.com/Microsoft/vscode/issues/2123
Than my native language is Chinese, and vscode does not support encode detect without DOM header. so, I have to code an extension for encode detect, if both of them could not be supported, it will be a pity. your native language is Engli

[2016-04-06 04:27] donaldpipowitch commented on #211
@pflannery I'm confused. I thought this pull request was rejected. Do you want to finish it? I wouldn't start another pull request then.

[2016-04-06 04:48] omidgolparvar opened #4994 "Add Right-to-Left editing"
Please add a feature to change writing direction.
For example, I want to edit markdown documents, and my language is Persian/Farsi, a Right-to-Left language. Now, when I edit documents, always it is left aligned and direction is left-to-right, and it is not comfortable to edit documents that have both Persian text and English text.

Thanks.

[2016-04-06 04:51] jozsefk9 opened #4995 "Remove all blank lines regex not working"
- VSCode Version: 0.10.11
- OS Version: Windows 10 64bit

Steps to Reproduce:
1. Search and replace with regex turned on: ^$
2. Search and replace with regex turned on: ^\s+$

VSC replaces the blank lines with blank lines :)

See more details here:
https://stackoverflow.com/questions/36350324/visual-studio-code-delete-all-blank-lines-regex

[2016-04-06 05:01] jtremback opened #4996 "Multiple cursor paste pastes contents of all cursors"
- VSCode Version: 0.10.11
- OS Version: OSX 10.11.3

Steps to Reproduce:
1. Select something with multiple cursors
2. Cut or Copy.
3. Paste, and you will get the contents of all cursors at each cursor.

Sublime Text must have a clipboard per cursor because it will only paste the text that was selected by that cursor when you copied it.

[2016-04-06 05:12] Ciantic opened #4997 "[c#] projects.json auto-completion syhould use NuGet.Config"
- VSCode Version: 0.10.11
- OS Version: Windows 10

Steps to Reproduce:

1. Open project.json e.g. one of these https://github.com/aspnet/cli-samples
2. Copy NuGet.config from the sample repo also
3. Start typing "Microsoft.AspNetCore." and try to autocomplete, it does not give you right entries.

This is maybe because VS Code uses some other way (rather than omnisharp) to autocomplete the project

[2016-04-06 05:26] Tyriar commented on #211
@donaldpipowitch see https://github.com/Microsoft/vscode/pull/3200#issuecomment-196675666 for context

[2016-04-06 06:01] golf1052 commented on #2743
I wrote an extension a while ago ([here](https://github.com/golf1052/code-sync)) that tried to help sync extensions between computers using file synchronization services. Originally I only supported syncing themes because syncing extensions seemed somewhat messy.

I think this should be the right way to maintain extensions between computers. Keep a list of what extensions are installed where, be a

[2016-04-06 06:10] aiaisl opened #4998 "How to change vscode language."
I'm update vscode to insider 0.10.14, Is happy to see vscode support Chinese in UI and comment. But the command translates Chinese too, is hardly to input, because I must change IME to type Chinese. Is any idea to deal this problem?

[2016-04-06 06:14] ogasawara-k opened #4999 "ja-JP Too translated default settings.json "window.reopenFolders""
- VSCode Version:0.10.14-insider
 - with ja-JP locale
- OS Version:Windows 10

## Current
[code]

## Request
[code]

[2016-04-06 07:07] jrieken commented on #3153
Happy to help. Yeah, I don't thing it needed to put the `$` in from of the suggest label when `$env:` is already written. Generally, things are easy when completion describe an insert operation at the current position. Tho, when having typed just `$`, it might make sense to propose `$ALLUSER, $MORE_VARS` and then insert `$env:ALLUSER` etc

[2016-04-06 07:15] jrieken commented on #4823
Thanks, that's helpful. @delmyers Can you help? This seems to be an issue with the cpp-extension.

[2016-04-06 07:15] jrieken commented on #2233
👯

[2016-04-06 07:36] grafidi commented on #2048
VSC tries to access my remote git repositories without my knowledge.

When I start it in a git directory, using "code .", I am prompted for my RSA key passphrase:
Enter passphrase for key '{home}/.ssh/id_rsa':
where {home} is my home directory.

If I search for 'ssh' in the process stack, I find:
ssh {host} git-upload-pack '{repo.git}'
where {host} and {repo.git} are the host and path of my remote

[2016-04-06 07:44] vscodeerrors opened #5000 "Tree error, onRemoveItems: viewItem doesn't exist."
Issue Id: <b>f8f5d875-f47c-b693-1175-259149d7ed32</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  ef2a1fcaa553d14d7731b284a5ac5e4a55c42936<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />Error: Tree error, onRemoveItems: viewItem doesn't exist.<br />[/vs/base/parts/tree/browser/treeViewModel.ts#L104:10](https://github.com/microsoft/vscode/blob/43ff6af3d4564f59196caa9b

[2016-04-06 07:45] vscodeerrors opened #5001 "Cannot read property 'id' of null"
Issue Id: <b>ead3abf9-2d5c-e44b-6464-58cb63231722</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  ef2a1fcaa553d14d7731b284a5ac5e4a55c42936<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />TypeError: Cannot read property 'id' of null<br />[/vs/base/parts/tree/browser/treeViewModel.ts#L73:31 (id)](https://github.com/microsoft/vscode/blob/43ff6af3d4564f59196caa9be4897fc33

[2016-04-06 07:45] vscodeerrors opened #5002 "Converting circular structure to JSON"
Issue Id: <b>f238bc2f-c165-77e1-4b80-b744c7ffcbe3</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  ef2a1fcaa553d14d7731b284a5ac5e4a55c42936<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />TypeError: Converting circular structure to JSON<br />    at Object.stringify (native)<br />[vs/workbench/node/pluginHostProcess.js#L4:0 (define)](https://github.com/microsoft/vscode/

[2016-04-06 07:46] vscodeerrors opened #5003 "spawn REG ENOENT"
Issue Id: <b>9cf75569-f3dd-823a-a718-5d80301fedb9</b><br /><br />*Versions* <br />- 0.10.10<br />-  f291f4ad600767626b24a4b15816b04bee9a3049<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />-  97d4ad1c55a82369f65078406ed770e8a34055fc<br />-  db71ac615ddf9f33b133ff2536f5d33a77d4774e<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />-  ef2a1fcaa553d14d7731b284a5ac5e4a55c42936<br />-  18ebb4

[2016-04-06 07:47] aeschli commented on #5003
Also many occurrences:

Error: spawn cmd.exe ENOENT
 at exports._errnoException (util.js:837:11)
 at Process.ChildProcess._handle.onexit (internal/child_process.js:178:32)
 at onErrorNT (internal/child_process.js:344:16)
 at doNTCallback2 (node.js:442:9)
 at process._tickCallback (node.js:356:17)

[2016-04-06 07:47] vscodeerrors opened #5004 "Failed to execute 'btoa' on 'Window': The string to be encoded contains characters outside of the Latin1 range."
Issue Id: <b>f117dd29-12ff-e1e6-c178-26e1d8ec4b0f</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  ef2a1fcaa553d14d7731b284a5ac5e4a55c42936<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />Error: Failed to execute 'btoa' on 'Window': The string to be encoded contains characters outside of the Latin1 range.<br />    at Error (native)<br />[/vs/base/parts/tree/browser/tre

[2016-04-06 07:48] aeschli commented on #5004
Also:
/vs/base/parts/tree/browser/treeView.ts#1101:54 (btoa)
 /vs/base/parts/tree/browser/treeView.ts#728:10 (onModelFocusChange)
 /vs/base/parts/tree/browser/treeView.ts#677:66 (onModelEvents)
 /vs/base/common/eventEmitter.ts#253:21 (events)
 /vs/base/common/eventEmitter.ts#262:8 (_emitToBulkListeners)
 /vs/base/common/eventEmitter.ts#285:8 (_emitEvents)
 /vs/base/parts/tree/browser/treeModel.ts#

[2016-04-06 07:50] vscodeerrors opened #5005 "Path must be a string. Received undefined"
Issue Id: <b>d62ec6f0-0926-ab33-6205-be52435fc002</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />TypeError: Path must be a string. Received undefined<br />    at assertPath (path.js:8:11)<br />    at Object.win32.join (path.js:221:5)<br />    at new ConfigurationProperties (C:\Users\a123\.vscode-insiders\extensions\ms-vscode.cp

[2016-04-06 07:54] alexandrudima commented on #5003
Not clear who should get this or what one could do about it.

[2016-04-06 07:56] Alphapage commented on #4492
It seems complicated to solve for now, but there is always the ```debugger``` workaround.
Did you try in a browser instead of nodejs environment ?

But the main problem is that if you replace the first ```debugger``` by ```throw new Error('an error')```, then vscode only stops without throwing anything:  you need to catch the error manually like this: ```System.import('path.js').catch((err)=>throw

[2016-04-06 07:56] alexandrudima commented on #4996
@jtremback We do the same and it should work.

Is it possible that you change the count of cursors between copy and paste (e.g. you copy with 5 cursors, but then paste with 4 cursors). In other words, if the clipboard has N lines and you have N cursors, each line will go to each cursor. If the counts don't match, then each cursor will get all the content.

Do you have any ideas how to improve in t

[2016-04-06 08:00] alexandrudima commented on #4989
@jrieken This looks like a UI-side issue?

[2016-04-06 08:04] alexandrudima commented on #4961
Thank you, let's track this feature request in #4865

[2016-04-06 08:04] #4961 closed

[2016-04-06 08:08] egamma commented on #4830
// CC @alexandrudima

[2016-04-06 08:09] alexandrudima commented on #4955
@mindplay-dk Definitely not ok, thank you for reporting.

What OS are you on, what version of VSCode are you using. I have tried for about 2 minutes (I got bored :)) and could not reproduce with Ctrl+X, moving up or down and Ctrl+V.

But what happened to me once or twice is that I had the Ctrl still pressed when doing arrow up/down, which caused the editor to scroll one line up/down instead of mov

[2016-04-06 08:10] alexandrudima commented on #4955
Also, do you have installed any extensions that might bind these specific keybindings?

[2016-04-06 08:11] vscodeerrors opened #5006 "Node.js did not repond to request 'listbreakpoints' in a reasonable amount of time."
Issue Id: <b>5868fec1-db90-006a-1a2b-935b790d882a</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  ef2a1fcaa553d14d7731b284a5ac5e4a55c42936<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />-  1912d41ac398208770b8bbdd3ab6149f6a1cd5f5<br />*Stack* <br />Error: Node.js did not repond to request 'listbreakpoints' in a reasonable amount of time.<br />[/vs/workbench/parts/debug/node/rawDeb

[2016-04-06 08:13] bpasero commented on #4973
https://github.com/Microsoft/vscode/issues/444

[2016-04-06 08:13] #4973 closed

[2016-04-06 08:13] vscodeerrors opened #5007 "Cannot read property 'document' of null"
Issue Id: <b>098051f7-8a68-a04d-fe08-5331e1befd6f</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />TypeError: Cannot read property 'document' of null<br />    at extensions\ms-vscode.cpptools-0.4.1\out\src\C_Cpp.js:59:24 <no sourcemaps><br />[vs/workbench/node/pluginHostProcess.js#L4:7](https://github.com/microsoft/vscode/blob/43

[2016-04-06 08:13] bpasero commented on #4978
Hm that is an interesting idea actually...

[2016-04-06 08:14] vscodeerrors opened #5008 "Cannot read property 'then' of undefined"
Issue Id: <b>be511a68-b4be-d0f6-e58e-3e05cc04c590</b><br /><br />*Versions* <br />- 0.10.14-insider<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />-  ef2a1fcaa553d14d7731b284a5ac5e4a55c42936<br />*Stack* <br />TypeError: Cannot read property 'then' of undefined<br />[/vs/editor/contrib/rename/browser/rename2.ts#L116:25 (then)](https://github.com/microsoft/vscode/blob/17fa1cbb49e3c5edd5868f3

[2016-04-06 08:16] vscodeerrors opened #5009 "Uncaught Error: ENOENT: no such file or directory"
Issue Id: <b>103d55ee-a82c-de60-96a5-be88ff0e1e33</b><br /><br />*Versions* <br />- 0.10.9<br />-  f291f4ad600767626b24a4b15816b04bee9a3049<br />-  5b5f4db87c10345b9d5c8d0bed745bcad4533135<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />-  db71ac615ddf9f33b133ff2536f5d33a77d4774e<br />*Stack* <br />Error: ENOENT: no such file or directory<br />    at Error (native)<br />    at fs.lstatSync (

[2016-04-06 08:16] egamma commented on #2480
In favor in general, but is there any migration overhead to get existing wiki contents over to plain md? For example, do we have to convert wiki links to mark down links.

The wiki tab is popular and we need to ensure that the wiki in /wiki is as easily discoverable.

[2016-04-06 08:18] vscodeerrors opened #5010 "Cannot read property 'fsPath' of null"
Issue Id: <b>eeedf677-777c-7a29-d700-9ac6f9a6a4a6</b><br /><br />*Versions* <br />- 0.10.14-insider<br />*Stack* <br />TypeError: Cannot read property 'fsPath' of null<br />[/vs/workbench/browser/parts/editor/editorStatus.ts#L679:119 (fsPath)](https://github.com/microsoft/vscode/blob/17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c/src/vs/workbench/browser/parts/editor/editorStatus.ts#L679:119 (fsPath))<b

[2016-04-06 08:19] vscodeerrors opened #5011 "Cannot read property 'match' of undefined"
Issue Id: <b>1da3c212-7881-3be7-bfa4-62875dcd8ff6</b><br /><br />_Versions_ <br />\- 0.10.13-insider<br />\-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />_Stack_ <br />TypeError: Cannot read property 'match' of undefined<br />[/vs/editor/common/model/textModelWithTokensHelpers.ts#L187:19 (match)](https://github.com/microsoft/vscode/blob/43ff6af3d4564f59196caa9be4897fc33c15f24c/src/vs/editor/comm

[2016-04-06 08:20] vscodeerrors opened #5012 "Cannot read property 'unshift' of null"
Issue Id: <b>c6474b54-bdc0-0c31-6db0-dddf1d13ebeb</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  ef2a1fcaa553d14d7731b284a5ac5e4a55c42936<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />TypeError: Cannot read property 'unshift' of null<br />[/vs/editor/common/services/modelServiceImpl.ts#L159:15 (unshift)](https://github.com/microsoft/vscode/blob/43ff6af3d4564f59196c

[2016-04-06 08:20] egamma commented on #4960
Suspect the issue is upstream. Found this closed issue https://github.com/emmetio/emmet/issues/212 but it is from 2013 and we have this version.

[2016-04-06 08:21] vscodeerrors opened #5013 "Unexpected token ]"
Issue Id: <b>f3cc2e1d-6230-6369-eb72-6ce5b5069350</b><br /><br />*Versions* <br />- 0.10.14-insider<br />*Stack* <br />SyntaxError: Unexpected token ]<br />    at Object.parse (native)<br />    at ConfigurationProperties.handleConfigurationChange (C:\Users\a123\.vscode-insiders\extensions\ms-vscode.cpptools-0.4.2\out\src\C_Cpp_ConfigurationProperties.js:99:43) <no sourcemaps><br />    at C:\Users\

[2016-04-06 08:21] joaomoreno opened #5014 "Broken editor title color"
![image](https://cloud.githubusercontent.com/assets/22350/14310255/5253ee38-fbe1-11e5-9d22-fbf983e24b2f.png)

Compare it with previously:

![image](https://cloud.githubusercontent.com/assets/22350/14310267/6b0c63ce-fbe1-11e5-897a-3a682aeafb26.png)

[2016-04-06 08:22] vscodeerrors opened #5015 "Cannot read property 'then' of null"
Issue Id: <b>bce97e2f-4033-ea3d-45de-cddaec59476a</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />-  ef2a1fcaa553d14d7731b284a5ac5e4a55c42936<br />*Stack* <br />TypeError: Cannot read property 'then' of null<br />    at TypeScriptServiceClient.sendRequest (/Applications/Visual Studio Code - Insiders.app/Contents/Resources/app/extensions/types

[2016-04-06 08:24] egamma commented on #4962
this is the recommended way to do it, we do not want to enable emmet by default in JS.

this should not be the case, since the same language service/parser is used for .js and .jsx files. Can you add a snippet that illustrates the problem.

[2016-04-06 08:24] vscodeerrors opened #5016 "Cannot read property '_acceptIsDirty' of undefined"
Issue Id: <b>c4f0878f-7db4-0ca4-c001-b5b09ebb5441</b><br /><br />*Versions* <br />- 0.10.12-insider<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />*Stack* <br />TypeError: Cannot read property '_acceptIsDirty' of undefined<br />[vs/workbench/node/pluginHostProcess.js#L4:7](https://github.com/microsoft/vscode/blob/ef2a1fcaa553d14d7731b284a5ac5

[2016-04-06 08:25] aeschli commented on #5016
Also found in 0.10.14-insider, 0.10.13-insider

[2016-04-06 08:25] vscodeerrors opened #5017 "Not an extension entry. Found quickOpenService,openOnPreview,groupLabel,... instead."
Issue Id: <b>9b41000f-71a1-be7c-3e8d-e9bea49613a6</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />Error: Not an extension entry. Found quickOpenService,openOnPreview,groupLabel,... instead.<br />[/vs/workbench/parts/extensions/electron-browser/extensionsQuickOpen.ts#L303:9](https://github.com/microsoft/vscode/blob/43ff6af3d4564f

[2016-04-06 08:27] joaomoreno opened #5018 "Broken editor drag and drop"
Can't drag and drop unless I use the editor title label. I used to be able to drag and drop over the whole editor title area.

[2016-04-06 08:29] joaomoreno commented on #5018
This was introduced by d97498920f212b9337aac99ed91800b0842370b5

[2016-04-06 08:31] vscodeerrors opened #5019 "spawn osascript ENOENT"
Issue Id: <b>def759c3-62fe-b6f1-ff32-27679721a3ff</b><br /><br />*Versions* <br />- 0.10.8<br />-  f291f4ad600767626b24a4b15816b04bee9a3049<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />-  5b5f4db87c10345b9d5c8d0bed745bcad4533135<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />Error: spawn osascript ENOENT<br />    at exports._errnoException (util.js:837:11)<br />    at

[2016-04-06 08:31] bpasero commented on #4982
We prompt to prevent data loss, but I agree that the provided options do not make so much sense in that case.

[2016-04-06 08:31] bpasero commented on #4984
This is to prevent data loss.

[2016-04-06 08:31] #4984 closed

[2016-04-06 08:32] joaomoreno commented on #5014
Not sure when this was introduced, but I'm assigning it to you because #5018

[2016-04-06 08:32] aeschli commented on #5019
over 3000000 hits, on 32 machines, 100% on windows

[2016-04-06 08:33] bpasero commented on #4931
@abhinav-shah does it work if you do `sudo /Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron`

[2016-04-06 08:35] bpasero commented on #4862
@dchw are you actually opening `c:\Users\Some.User\src\gittest\` in VS Code or a parent directory?

Disabling file events has some impact:
* git will not update automatically for changes in that folder
* editor does not update for files changed outside
* explorer does not update for files changed outside

But this is all scoped to that one folder, should not happen for sub folders.

[2016-04-06 08:35] bpasero commented on #4958
This issue is currently assigned to the backlog. Every sprint we pick items from the backlog to plan for the current iteration. Please see https://github.com/Microsoft/vscode/wiki/Issue-Tracking#planning

[2016-04-06 08:37] YuichiNukiyama opened #5020 "Save as isn't translated in command palet"
- VSCode Version: 0.10.14 -Insiders
- OS Version: Windows7
- Local: Japanese

 ### Issue
[Save as] isn't translated in command palet. see following image.

![saveas](https://cloud.githubusercontent.com/assets/9623009/14310612/c8b966ca-fc1d-11e5-981d-132814f842c8.png)

In [FIle] - [Save as] is translated as `名前を付けて保存`.

[2016-04-06 08:37] bpasero commented on #4983
@bgashler1 I think I fixed this, check latest!

[2016-04-06 08:40] vscodeerrors opened #5021 "source: property 'sourceReference' is missing"
Issue Id: <b>a7ec43ce-8e47-9380-f877-47043ebb6d6a</b><br /><br />*Versions* <br />- 0.10.12-insider<br />-  4ce22442fa12d252ab0ead8b64b0cf68220196f3<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />-  e0c7d51ffaee89b1db81683697b91531ee57cdbd<br />-  0f5937cb211ab3dd8ac6690ffea102251b05c7f2<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />*Stack* <br />Error: source: property 'sourceRefer

[2016-04-06 08:44] #4967 closed

[2016-04-06 08:49] aeschli opened #5022 "TypeError: Cannot read property 'document' of undefined"
Our error telemetry reports now also reports issues for extension.
The 'Cannot read property 'document' of undefined' occurs for may different plugins, e.g.
 - https://github.com/spywhere/vscode-guides/issues/2
 - https://github.com/Microsoft/vscode/issues/5007
 - .vscode-insiders/extensions/mitaki28.vscode-clang-0.2.0/out/src/extension.js:71:55
 - .vscode-insiders/extensions/Ionide.Ionide-fsharp-

[2016-04-06 08:51] vscodeerrors opened #5023 "Uncaught Error: Can't open this git resource."
Issue Id: <b>9221d31a-0643-5aad-8214-70907ec8dfdb</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />Error: Can't open this git resource.<br />[/vs/workbench/parts/git/browser/gitServices.ts#L111:17](https://github.com/microsoft/vscode/blob/43ff6af3d4564f59196caa9be4897fc33c15f24c/src/vs/workbench/parts/git/browser/gitServices.ts#L

[2016-04-06 08:55] iHuahua commented on #4958
@bpasero yeah, thanks very very much, I love vscode.

[2016-04-06 08:56] weinand commented on #4992
I couldn't reproduce this in the latest or in the Insiders build.

[2016-04-06 08:58] joaomoreno commented on #5014
ping @aeschli

[2016-04-06 09:02] johnliu2016 commented on #4940
@saneyuki Can you attach a s/s showing the mistranslated "Later" label? That would help understand the context

[2016-04-06 09:06] saneyuki commented on #4940
Sorry, I forgot to take the screenshot. I need to wait the next insider update.

[2016-04-06 09:07] saneyuki commented on #4940
@johnliu2016

Sorry, I forgot to take the screenshot. I need to wait the next insider update.

[2016-04-06 09:08] aeschli opened #5024 "Telemetry error log is flooded"
It seems that the new insiders build (0.10.13, 0.10.14) generates far more telemetry error entries than before. It's too many to process by the telemetry tracker.

- The entries are not correctly folded, due to the specific extension path in the trace
 TypeError: Cannot read property 'document' of undefined
 at Function.readLineAt (C:\Users\a123\.vscode-insiders\extensions\vscodevim.vim-0.0.15\out

[2016-04-06 09:11] yi-huan opened #5025 "Use javascript not AutoComplete?"
- VSCode Version: 1.0.0
- OS Version: win8.1

In the old version:
![default](https://cloud.githubusercontent.com/assets/5660790/14311474/44bf32c6-fc1a-11e5-8567-b2b277db63b1.gif)

Now:
![default](https://cloud.githubusercontent.com/assets/5660790/14311539/71559140-fc1a-11e5-85af-ac46c22ecddc.gif)

What should I do can be as old as ?

[2016-04-06 09:11] mossyblog commented on #637
The extension installation shouldn't have build-in UI like this, its defeats the purpose of Visual Studio Code imho. Instead i'd rather just have [Read More] [Install / Uninstall] ..instead of Cloud-down icon.

If the route is to explode this into UI first principles then in reality its just back to Visual Studio we all go?

The target audience is developers so their insights into command line con

[2016-04-06 09:21] vscodeerrors opened #5026 "Uncaught TypeError: Cannot read property 'length' of undefined"
Issue Id: <b>551dfb3c-f0e8-36c7-5863-9ee08211218f</b><br /><br />*Versions* <br />- 0.10.14-insider<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />*Stack* <br />TypeError: Cannot read property 'length' of undefined<br />[/vs/base/common/filters.ts#L64:24 (length)](https://github.com/microsoft/vscode/blob/17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c/src/vs/base/common/filters.ts#L64:24 (length))

[2016-04-06 09:27] vscodeerrors opened #5027 "Cannot read property 'startLineNumber' of null"
Issue Id: <b>94c1f96c-ce28-b33d-26b9-ef160b532344</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />TypeError: Cannot read property 'startLineNumber' of null<br />[/vs/editor/contrib/find/common/findController.ts#L365:8 (startLineNumber)](https://github.com/microsoft/vscode/blob/43ff6af3d4564f59196caa9be4897fc33c15f24c/src/vs/edit

[2016-04-06 09:30] vscodeerrors opened #5028 "Maximum call stack size exceeded"
Issue Id: <b>e373bc63-1857-6dc3-3d67-d977c7faa3bb</b><br /><br />*Versions* <br />- 0.10.14-insider<br />-  ef2a1fcaa553d14d7731b284a5ac5e4a55c42936<br />*Stack* <br />RangeError: Maximum call stack size exceeded<br />[/vs/base/parts/tree/browser/treeViewModel.ts#L68:14 (apply)](https://github.com/microsoft/vscode/blob/17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c/src/vs/base/parts/tree/browser/treeVie

[2016-04-06 09:33] joaomoreno commented on #4977
b1572f504ea9001a28928aae6eb968259b777165 introduced this

[2016-04-06 09:34] felixfbecker commented on #2743
https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync syncs extensions very well

[2016-04-06 09:35] weinand commented on #4988
@v-pavanp above you said "debugger is crashing".
Why do you think that the debugger is crashing?

[2016-04-06 09:39] vscodeerrors opened #5029 "Uncaught TypeError: Cannot read property 'setValue' of undefined"
Issue Id: <b>dde50080-636f-cf99-9146-8947241dd071</b><br /><br />*Versions* <br />- 0.10.13-insider<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />TypeError: Cannot read property 'setValue' of undefined<br />[/vs/platform/keybinding/browser/keybindingServiceImpl.ts#L158:37 (setValue)](https://github.com/microsoft/vscode/blob/43ff6af3d4564f59196caa9be4897fc33c15f24c/src/vs/plat

[2016-04-06 09:40] Mike43110 commented on #224
It would be quite helpful for us who can't make the meetings due to other commitments to be able to give feedback.
Maybe, once the meetings are over on the 1st day, post a video of a meeting(with all involved's permission) which others can view and comment on within the remaining time for meetings?

Obviously it can't be a long period but more feedback can't hurt with hopefully some different view

[2016-04-06 09:41] #5014 closed

[2016-04-06 09:42] dbaeumer opened #5030 "VSCode exits when launching extension tests"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. clone https://github.com/Microsoft/vscode-languageserver-node
2. co dbaeumer/14
3. switch to client & npm install & npm run compile
4. switch to client.test & npm run compile
5. Open code on client-test
6. Press F5 to debug / run client tests

The dev instance of VSCode appears and then both renders including the mai

[2016-04-06 09:45] dbaeumer commented on #5030
Doesn't happen on insider. Removing important flag.

[2016-04-06 09:57] joaomoreno commented on #5019
I suspect that uncaught errors from extensions show up in our telemetry... not very happy.

[2016-04-06 09:57] joaomoreno commented on #4400
[We do have it](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/update.ts#L71) but [broke it](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-main/update-manager.ts#L195) somewhere along the way.

ping @egamma

[2016-04-06 10:11] weinand commented on #5019
There are two different types of 'osascript' usages in VS Code:
- using an absolute path '/usr/bin/osascript'
- just 'osascript' and relying on the search PATH

For the first type I've verified on Windows 10 that the error message shows the full absolute path which looks different from the telemetry error entry from above:

[code]
The second usage type is in `cli.contribution.ts:131`. Since this a

[2016-04-06 10:11] #5019 closed

[2016-04-06 10:15] jrieken commented on #4972
Closing as duplicate of #217.

We don't plan to implement that in VS Code but advise to use a node module like https://github.com/xavi-/node-copy-paste. This is to reduce complexity in the VS Code API because otherwise we have to handle/describe all sorts of clipboard data (think of images and other binary data).

[2016-04-06 10:15] #4972 closed

[2016-04-06 10:22] #5030 closed

[2016-04-06 10:22] senayar commented on #3569
You can simply rename a file or folder again and escape or enter instead of restart Visual Code and the visual bug disappears.

[2016-04-06 10:29] joaomoreno commented on #4981
Duplicate of #637

[2016-04-06 10:29] #4981 closed

[2016-04-06 10:31] joaomoreno commented on #5004
@bpasero seems to be related to the [accessibility](https://github.com/Microsoft/vscode/blob/master/src/vs/base/parts/tree/browser/treeView.ts#L236) [changes](https://github.com/Microsoft/vscode/blob/master/src/vs/base/parts/tree/browser/treeView.ts#L1111)

[2016-04-06 10:32] jrieken commented on #5016
@alexandrudima It seems we still talk about models that don't exist in the ext host... Ideas?

[2016-04-06 10:36] jrieken commented on #5022
For some it seems like `activeTextEditor` isn't understood be `undefined` in cases. Also, I know we make it `undefined` when changing

[2016-04-06 10:38] bpasero opened #5032 "Refreshing the window in light theme causes bad flicker"
![untitled](https://cloud.githubusercontent.com/assets/900690/14313869/677a9b28-fbf4-11e5-99b1-cdd024db0d92.gif)

@aeschli fyi

[2016-04-06 10:44] #5020 closed

[2016-04-06 10:45] mrmckeb commented on #3355
Thanks @Tyriar, I can see how it will.

And no problem @bgashler1 - it's my username @ hotmail.com. I understand that, and I'm purposefully building this as an extension so that even if VSCode doesn't end up with a settings GUI, this work can live on.

I didn't really get the answers I was after here (some great suggestions, but no definite yes/no on what I was trying to achieve). Are either of yo

[2016-04-06 10:49] #5018 closed

[2016-04-06 10:49] #4945 closed

[2016-04-06 11:04] sgtoj commented on #4971
Ran in the problem again. Here is the verbose output when trying to launch Code Insider after experiencing the problem.

[code]

VS Code released version is able to launch without any issues. However, this issue has happen to VS Code release in the past.

Attached the VS Code Crashes log. The last write time of the log is about the same time I closed it.

Attachments:
[operation_log.txt](https://g

[2016-04-06 11:06] #5004 closed

[2016-04-06 11:09] sgtoj commented on #4971
I decided to keep the `"Code - Insider.exe" --verbose` running and kill each of instant of Code via Task Manager. After the killing one of the process, the VS Code Insider launch with a popup saying it had crashed. It then preceded to reload properly.

Here is the verbose logging recorded when doing so...

[code]

[2016-04-06 11:34] TurkeyMan commented on #224
Thanks Steven for taking the time to talk with me!
This engagement with the community is really encouraging, and I'm enjoying
following the vscode development!

On 6 April 2016 at 19:41, Michael Wallace Louwrens <notifications@github.com

[2016-04-06 11:35] pflannery commented on #3355
@mrmckeb

I know that it's possible to load the json schema parser and validator used by vscode with the following:

[code]

[2016-04-06 11:41] mariusa commented on #1940
@Tyriar  installed the insiders rpm package 2 days ago, and now it froze.
There's no log to show, since I started it using the desktop shortcut.

Note that I haven't restarted vscode since starting it 2 days ago.

[2016-04-06 11:57] mzt opened #5033 "Scrolling a Markdown document eats 100% cpu, spawns empty cmd.exe processes,"
- VSCode Version:
0.10.11

- OS Version:
Win 7 x64

Steps to Reproduce:

1. Create an md file and paste the following block multiple times so you can scroll the document:
[code]
2. Hold down arrow and watch processes

![markdown-bug](https://cloud.githubusercontent.com/assets/16809885/14315700/475ef18a-fbff-11e5-86d1-f208c5fee245.png)

[2016-04-06 12:05] felixfbecker commented on #3355
@mrmckeb can you make your repo public? I would like to contribute

[2016-04-06 12:11] cadupedroni commented on #4975
Good morning
Today I went to open the Visual Studio Code and it only works if I run sudo/Applications/Visual\ Studio \ \-\ Insiders.app Code/Contents/MacOS/Electron

When I try to click the icon in the dock, the problem continues, is there any permanent solution that works by clicking on the icon of the vscode insiders?

[2016-04-06 12:48] malibuzios commented on #1850
I was just going to report this. I felt this was the single most significant and disturbing bug on VS code. Anyway, at least for future reference, here's an animated screen capture I've made for it (note I'm using Windows 10 x64 so this is definitely not a Mac-only issue):

![vs code bug](https://cloud.githubusercontent.com/assets/17719551/14317023/dd22f2e8-fc0e-11e5-8672-dbe07378678a.gif)

[2016-04-06 13:08] #2414 closed

[2016-04-06 13:15] thomas-darling commented on #3907
Yeah, we would *really* like this too...

Obviously it makes no sense to talk about adding syntax support for PostCSS, as that is nothing more than a task runner and could theoretically support any syntax, but it would be really great to have an option to at least enable support for the subset of future css syntax supported by CSSNext (http://cssnext.io/features).

Our design/css/html guys work in

[2016-04-06 13:26] yingbo opened #5035 "Command line open a same file twice, generate two windows"
- VSCode Version:  0.10.11
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. In Terminal, type "code ~/.profile" will open the window with .profile.
2. Type "code ~/.profile" again, a new window will open with the same .profile file. It should resume the window in step 1.

[2016-04-06 13:45] bpasero commented on #1850
You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

[2016-04-06 13:47] aeschli commented on #5032
fixed by 1e955490e80f3f2d63aabd6cb3b93e2bc37cd23b

[2016-04-06 13:47] #5032 closed

[2016-04-06 13:50] #4915 closed

[2016-04-06 13:50] joaomoreno commented on #4975
You might wanna delete the whole `~/Library/"Application Support"/Code - Insiders ` directory and never start Code with `sudo` again.

[2016-04-06 13:52] chrispepper1989 commented on #1365
I get a lot of errors for "@apply" with polymer

[2016-04-06 13:58] aeschli commented on #3355
@pflannery Accessing the JSONParser as shown is not supported. These are internal classes of the JSON language service designed to run in a separate process.

[2016-04-06 13:59] bpasero commented on #5032
@aeschli I am on latest and still see it when running  "out of dev"

[2016-04-06 14:01] bpasero opened #5036 "Themes: switching between light and dark theme shows weird artefacts over editor"
![untitled](https://cloud.githubusercontent.com/assets/900690/14319240/bd7df0a8-fc10-11e5-9992-6c7b959921fd.gif)

@aeschli might be a consequence of your changes?

[2016-04-06 14:04] bpasero commented on #4971
@sgtoj wait, are you saying it works with latest stable but not with insiders? or with a previous version?

I suggest to not kill code processes while one is running this might easily bring the other done.

Best would be a setup where one instance runs clean (no other instance) with "--verbose" and when you open the second instance see if anything is being output to the console for the second inst

[2016-04-06 14:06] bpasero commented on #5036
Hm looks like this flashing was already previously so your change might not be related...

[2016-04-06 14:07] bpasero commented on #5035
Two options:
* you configure VS Code to open files in the same window: window.openFilesInNewWindow = true
* you start with "-r" option to reuse last active instance

[2016-04-06 14:19] aeschli opened #5037 "Run tests from extension closes my main window"
- VSCode Version: 0.10.12-alpha
- OS Version: Linux ElementaryOS Freya

Steps to Reproduce:

1. yo code, create a TypoeScript project
2. npm on the new fodler
3. Open vscode on the new folder
4. In the debug viewlet run the tests
5. A window opens, and when closing closes also the main window

[2016-04-06 14:22] felixfbecker commented on #132
I'm working on an extension

[2016-04-06 14:26] dchw commented on #4862
@bpasero We do open `c:\Users\Some.User\src\gittest\` in VSCode. I guess that might be a tradeoff we have to make given the way t he company sets up our computers, if there is not a better solution/fix for us.

[2016-04-06 14:33] stevencl commented on #224
Thanks @TurkeyMan, great chatting with you earlier today.

For everyone else who hasn't been able to participate we will be running these on a regular basis so there will be opportunities to participate at a later date.

The conversations we are having this week are all 1:1 conversations during which we discuss the details of the problems that each individual has experienced. This allows us to get

[2016-04-06 14:35] zevero commented on #110
It is working great!
Thank you!

[2016-04-06 14:35] bpasero commented on #5037
Eh nö?

[2016-04-06 14:35] #5037 closed

[2016-04-06 14:36] pesho commented on #224
@stevencl is it possible to post a summary of the sessions (or even better, recordings) for those of us who are unable to participate, but are still interested in providing feedback.

[2016-04-06 14:39] bpasero commented on #4862
What puzzles me is how you manage to get the DELETE event on that folder, I am not able to reproduce this. A workaround on my end might be to just ignore such an event because I should not react on a DELETE on workspace root.

Do you ever see this issue in sub folders of the workspace?

[2016-04-06 14:44] bpasero opened #5038 "Webview: Background not applied?"
![image](https://cloud.githubusercontent.com/assets/900690/14320830/d77b5ce2-fc16-11e5-84e2-cff975010e67.png)

I have a simple document provider just returning "Hello World" and it looks like the background of the web view is not fully applied?

[2016-04-06 14:45] dchw commented on #4862
@bpasero Yes, we do. If I have a file like this: `c:\Users\Some.User\src\gittest\src\services\someFile.ts`, I can get VSCode to react the same (delete event + closed document in editor) with that file.

[2016-04-06 14:48] bpasero opened #5039 "Webview: very hard to resize editor"
For some reason our sash between editors is not clickable if you try to grab it from the web view side:
* have a web view in slot 2
* move with the mouse from slot 2 towards 1 to grab the resize handle
* you can only grab it when you are outside the web view

It does not seem to be related to the z-index, because the sash has a z-index of 100.

Any clues?

[2016-04-06 14:50] bpasero commented on #4862
Ok so I assume some tool on your machine is firing delete events for folders. It is unclear to me what tool this could be but the way VS Code reacts to this is not good in your case.

Best you can do in that case is to completly disable file events (by using a pattern like `files.watcherExclude: <path to workspace>/**: true`).

This will have drawbacks though but prevent the closing of editors.

F

[2016-04-06 14:51] glennblock commented on #224
+1
On Wed, Apr 6, 2016 at 7:36 AM Peter Petrov <notifications@github.com>
wrote:

[2016-04-06 15:17] #4400 closed

[2016-04-06 15:27] alexgorbatchev commented on #224
I would like to chip in on my expectations of file navigation within a code editor. I've been trying to get used to VScode for weeks now and keep going back to Sublime. Here is what I expect:

1. mouse-less navigation
2. ability to navigate forward and back within the set of open files
3. easily close files

So far I found VScode to unfortunately fail for me on all three. The workspace is unintuit

[2016-04-06 15:44] jrieken commented on #5038
I don't see that @bpasero Can you inspect how large the web view is drawn? And also how large the iframe is?

[2016-04-06 15:49] benlowry opened #5041 "Can't view missing module name when path is too long"
- VSCode Version:  0.10.11
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. start a project in a long path: eg /Users/accountname/work/my-project
2. require a file with the full path: var x = require(__dirname + "/file.js"),
3. launch your app and you'll get an exception with a character limit used up by the folder structure

![screen shot 2016-04-06 at 9 47 30 am](https://cloud.githubuserconte

[2016-04-06 16:07] weinand commented on #4798
I've add experimental support for this. You can enable this feature by adding an attribute `smartStep` with a value of `true` to your launch config.

[2016-04-06 16:08] #4798 closed

[2016-04-06 16:09] bpasero commented on #5038
@jrieken I verified that the webview itself is as large as the editor, so it must be the content within. Can you share with me how to show dev tools for the web view?

[2016-04-06 16:09] bpasero commented on #5038
My extension btw:

[code]

[2016-04-06 16:11] Tyriar commented on #1940
@bpasero @joaomoreno have you two seen the issue before that @mariusa has been experiencing?

[2016-04-06 16:21] bpasero commented on #1940
Is VS Code running out of memory after starting and causing it to crash?

[2016-04-06 16:31] WangJi opened #5042 "Salsa does not warn undeclared variable"
Before Salsa was implemented, when I write like this without define `foo`:
[code]
VS code can give a hint warning that  `the variable foo is not defined`

While after update to 0.10.11,  salsa won't do this. How can I get this feature back?

PS: The ts server I'm using is `1.9.0-dev.20160128`

[2016-04-06 16:58] mindplay-dk commented on #4955
I'm on Windows 10, both at home and at work - on two very different systems with different software installed on each system.

I haven't installed any extensions, I assume just the standard ones are installed.

I'm editing Typescript files - it's possible the Typescript extensions are doing something iffy, perhaps when auto-completing or displaying pop-up information, on-the-fly code inspections,

[2016-04-06 16:59] v-pavanp commented on #4988
Because I am not getting expected output. Here I am expecting error message in the output window but it is showing up like:
https://cloud.githubusercontent.com/assets/17735796/14301299/8966e38a-fb4b-11e5-9e3b-421c93e508d1.png

Expected:
https://cloud.githubusercontent.com/assets/17735796/14301320/a7e2f0c4-fb4b-11e5-8862-2e1edfdf1ac1.png

Also while going further from line number 104 the debugger i

[2016-04-06 17:05] iDev0urer commented on #1833
This would be a super nice feature to have! I would love to be able to modify the document tree a little bit so as to filter out some files that are junking up my view but I have to keep.

[2016-04-06 17:27] bpasero opened #5043 "Keeping arrow down in editor is not very fluid"
When I have a larger markdown file (or any file) and I press and hold arrow down to scroll down, I see some issues:
* CPU goes up to 30% which seems weird for such an operation
* the selection highlighter updates very hectic (this explains the CPU spike)
* the whole scrolling noticably slows down and is not very snappy

I wonder if selection highlight and find match highlight should update buffere

[2016-04-06 17:28] bpasero commented on #5033
@mzt wow weird, I cannot reproduce. Do you run with extensions?

Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions`

[2016-04-06 17:35] stevencl commented on #224
Just to reiterate, any recordings of meetings that happen this week won't be made available as each meeting is a 1:1 conversation where each person discusses the details of how they work and the specific problems that they have with VS Code. During these conversations we won't be going into great detail on any designs.

In subsequent weeks though we will look for opportunities to record and make a

[2016-04-06 17:36] jrieken commented on #5038
There is something to uncomment in `ManagedWebview` in _htmlPreviewPart.ts_

[2016-04-06 17:42] jrieken commented on #4525
Plan is to encourage using `extensionPath`

[2016-04-06 17:45] vscodeerrors opened #5044 "Failed to execute 'btoa' on 'Window': The string to be encoded contains characters outside of the Latin1 range."
Issue Id: <b>d088e77d-edb8-3672-859c-3d6086c36179</b><br /><br />*Versions* <br />- 0.10.13-insider<br />*Stack* <br />Error: Failed to execute 'btoa' on 'Window': The string to be encoded contains characters outside of the Latin1 range.<br />    at Error (native)<br />    at e.render (out/vs/workbench/workbench.main.js:44:23546)<br />    at e.addClass (out/vs/workbench/workbench.main.js:44:23049)

[2016-04-06 17:53] masonicboom opened #5045 "Printing support"
I'm interested in support for printing out code files.

Is there a way to cause the editor to render the full file into the DOM (as opposed to only the visible set of rows)? That seems like the main hurdle.

[2016-04-06 18:12] jbutz opened #5046 "Files with .es6 suffix are treated as TypeScript files"
- VSCode Version: 0.10.11
- OS Version: OS X El Capitan v 10.11.4

Steps to Reproduce:

1. Create a new file with the extension `.es6` and the following code
[code]
2. The Language Mode is automatically set to "JavaScript", but on `this.myValue` you get `Property 'myValue' does not exist on type 'Testing'` errors.
3. Close the file and rename it to use a `.js` extension
4. Open the file and notice

[2016-04-06 18:32] gregvanl opened #5047 "Support to scroll markdown preview with source scrolling"
- VSCode Version:0.10.14 code-insiders
- OS Version:Windows 10

Steps to Reproduce:
1. Open a markdown preview to the side of markdown source
2. Scroll source file

It would be nice to have a way to lock the preview and scroll at the same time.  Especially nice for longer markdown files.

This came in from an internal MS writer using VS Code for Markdown.

[2016-04-06 19:09] vsccarl commented on #4771
@johnliu2016
![untranslatedshift](https://cloud.githubusercontent.com/assets/12900364/14329410/14004c62-fbf0-11e5-8eb3-7c713f856444.JPG)

![untranslatedshift2](https://cloud.githubusercontent.com/assets/12900364/14329463/4e5d7ad8-fbf0-11e5-8cb2-2e7d6967f2f3.JPG)

![untranslatedshift3](https://cloud.githubusercontent.com/assets/12900364/14329469/548aaf16-fbf0-11e5-8cff-91daf62e0c9b.JPG)

![untransl

[2016-04-06 19:22] donaldpipowitch opened #5048 "Automatically fill "files to include" when opening search"
I'd like to add a feature to automatically fill "files to include" with the currently focused directory when opening the search. It is quite handy and other IDEs offer this feature, too.
So if you focus the folder "foo" in tree of the "Explorer" view and you press ⌘⇧F, than "files to include" should be filled with "foo", so the user can search directly in "foo".

The search value is automatically

[2016-04-06 19:26] ZombieProtectionAgency commented on #4995
`^$` and `^\s+$` will only match the contents of a line, not the new line character. More specifically they are zero width tokens. `$` will match just before the end of a line which is usually defined as a `\n`. You could normally use `\n` to match a new line but VS Code doesn't actually support matching across lines yet (https://github.com/Microsoft/vscode/issues/313) so that wouldn't work either

[2016-04-06 19:36] mzt commented on #5033
@bpasero My bad, it was the Instant Markdown extension.

[2016-04-06 19:36] #5033 closed

[2016-04-06 19:38] edgr-sanchez opened #5049 "[Errors on OS X] - Error from the extension host: channel closed AND Extension host terminated unexpectedly. Please reload to recover."
- VSCode Version: 0.10.11
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. All I have to do is open Visual Studio Code and it will give me these error. I am not able to save, and some of the keyboard commands don't work such as backspace.

Troubleshooting:

1. I've deleted all my extensions from `~/.vscode/extensions` but still experience the same errors.
2. I've completely uninstalled VS Code

[2016-04-06 19:46] vsccarl opened #5050 "Cannot validate php file Info popup should have option to open settings"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:
1. Open a php file
2. Dialog pops up saying "Cannot validate the php file"

Expected:
Most other warnings ask if you would like to open the config file.
![phpconfig](https://cloud.githubusercontent.com/assets/12900364/14330474/91f0351a-fbf5-11e5-89ec-989e0aae554e.JPG)

[2016-04-06 19:52] Tyriar commented on #3068
I've managed to get it working fairly nicely being run with sudo using a custom user data dir, however it hangs unless run as the normal user at least once.

This is how it I can get around it currently:

[code]

[2016-04-06 19:57] joaomoreno commented on #5044
@bpasero fixed, right?

[2016-04-06 20:30] egamma commented on #4974
No code changes happened in the area of intellisense and salsa. So I doubt that this has to do with 0.10.14 but it is a more general problem. I also don't full understand the problem you are seeing.

Can you pls add an animated gif that illustrates the problem you are seeing together with the snippet.

[2016-04-06 20:43] abhinav-shah commented on #4931
I tried with sudo. It didn't work.

[2016-04-06 20:50] v-codeel opened #5051 "Intellisense activating inside of strings"
- VSCode Version: 0.10.11
- OS Version: Windows 10

(Code examples will be in C#, but also repro's with other languages)

Scenario 1 Repro:
1. `var x = "%%`
2. With the cursor at `%%`, Type `C`
3. Code Completion suggestions are shown.
![image](https://cloud.githubusercontent.com/assets/10519323/14332053/be020618-fbfc-11e5-97d1-668ce22db799.png)

Scenario 2 Repro:
1. `Console.WriteLine("%%)`
2. In

[2016-04-06 20:54] v-codeel commented on #5051
Repro's on OSX as well.

[2016-04-06 21:03] DustinCampbell commented on #5051
Both are great bugs -- could you please file over in https://github.com/omnisharp/omnisharp-vscode/issues rather than on VS Code itself?

[2016-04-06 21:06] v-pavanp commented on #4666
Looks like the issue is with build indicator icon in the task bar. It is keep moving all the time and no clue to the user when build task gets over.

Can you try with the project placed at https://github.com/v-pavanp/ForTestingCode/blob/master/TypeScript.zip  and follow the below repro steps:

Steps:
1. Update the tasks.json with below args value:
{
	// See http://go.microsoft.com/fwlink/?LinkId=7

[2016-04-06 21:13] Tyriar commented on #3068
All files seem to be created correctly.

[code]

The welcome page never comes up though, and the menu bar hangs when I try to open the license.

[2016-04-06 21:18] mariusa commented on #1940
If there's any data I could provide next time (please see previous console output), I'd be glad to, just let me know exactly what/how please.

[2016-04-06 21:19] kumarharsh commented on #4974
After your comment, I took a look again, and found that the problem is occuring inside *any* file within my project (there is a jsconfig.json file at the root of this project). If I create a new Untitled file, set the Language Mode to javascript, and type, then intellisense and snippets are working properly.

I've set `"javascript.validate.enable"` to `false`. but even setting it to `true` doesn't

[2016-04-06 21:19] kumarharsh commented on #4974
Here is a gif showing the autocomplete not triggering:

![test](https://cloud.githubusercontent.com/assets/760112/14333244/50aaf6d2-fc6b-11e5-9fd0-f51c6df3039c.gif)

[2016-04-06 21:23] kumarharsh commented on #3526
Seems like #1085 does exactly this. Can we move ahead in polishing that PR so that it can be added to  code soon?

[2016-04-06 21:24] vsccarl opened #5052 "Search highlighting in some themes could be improved"
- VSCode Version: 0.10.12-alpha (latest)
- OS Version: Windows 10

Steps to Reproduce:

1. Search for something that occurs in a file many times
2. Click between the results in the same file.

Actual:
Very low visibility that your selection has changed between the results in the same file.

![searchselection](https://cloud.githubusercontent.com/assets/12900364/14333322/f791fff4-fc02-11e5-8838-ffc7

[2016-04-06 21:35] v-pavanp opened #5053 "Build task is not saving the changes before building the project."
- VSCode Version: 0.10.12-alpha
- OS Version: windows10

Note: I am taking error scenario with non-existing file to under this issue correctly.

Steps to Reproduce:
1. Launch app and open ts project from  https://github.com/v-pavanp/ForTestingCode/blob/master/TypeScript.zip location.
2. Now update tasks.json file by providing  args value as "app.ts" and save the changes and build (CTRL+.Shift+B) i

[2016-04-06 21:37] kumarharsh commented on #4974
Removing the jsconfig.json file fixed the issue (but it also took away all the benefits ;) )

FYI, my jsconfig file looks like this:

[code]

[2016-04-06 21:37] v-codeel commented on #5051
Migrated to https://github.com/OmniSharp/omnisharp-vscode/issues/154, but leaving this open since it repro's with languages other than C# (specifically tested with JavaScript)

[2016-04-06 21:46] kumarharsh commented on #4974
on a related note, if salsa can indeed by disabled by setting `javascript.validate.enable: true` then why does the use of decorators still say:
[code]

when the jsconfig file is removed, or the `experimentalDecorators` key removed?

[2016-04-06 21:58] contreras-jorgev opened #5054 "Related to JS #3509 Javascript Completion fails if 'exports' is qualified with 'module'"
- VSCode Version: 0.10.11 (0.10.11)
- OS Version: OS X or Windows

This works:
 -- foo.js --
    'use strict';

     const circle = require('./circle');
     console.log( `The area of a circle of radius 4 is ${circle.area(4)}`);

     circle.   <= you get 'area' and 'circumference'

-- circle.js --
   'use strict';
    const PI = Math.PI;

   exports.area = (r) => PI * r * r;
   exports.circumfere

[2016-04-06 22:16] hamiltonia opened #5055 "ES6 error property declarations"
Copy issue by @zhonshu from https://github.com/Microsoft/vscode-react-native/issues/199

`
renderPhotosList = () => {
if (this.state.showSelectPhotos) {
}
}
`
'property declarations' can only be used in a .ts file.
(property) MainPage. renderPhotosList: () => JSX.Element

in ES6 function bind this

[2016-04-06 22:19] eByte23 commented on #508
I am also getting crashing overnight and during the day.

It  doesn't seem to be particularly related to just a workspace, extremely small workspaces 3-20 files or huge workspaces, predominantly noticed when  having multiple windows open.

Repos I have used that crashed.
1500+ asp,js,.inc(asp) files
70 + files asp.net core, js,cshtml
This repo (https://github.com/gogits/gogs)

[2016-04-06 22:42] gregvanl opened #5056 "diffEditor.renderSideBySide false shows two columns of line numbers"
- VSCode Version:0.10.14 code-insiders
- OS Version:Windows 10

Steps to Reproduce:

1. Set "diffEditor.renderSideBySide":false
2. Select a Git controls file with changes
You will see two columns of line numbers in the left editor gutter.

[2016-04-06 22:52] vsccarl opened #5057 "Paste whole line after a bracket does not correctly indent"
- VSCode Version: 0.10.12-alpha (latest)
- OS Version: Windows 10

Steps to Reproduce:
1. Place cursor/caret at the end of a line and copy to copy the whole line
2. Navigate to the end of a line with an open bracket
3. Paste

Actual:
Does not correctly indent the next line after pasting:
![noindent](https://cloud.githubusercontent.com/assets/12900364/14335365/6b2103fa-fc0f-11e5-8bd6-a9bb89cfcef5.J

[2016-04-06 23:14] Tyriar commented on #3068
Related: https://github.com/electron/electron/issues/1348 https://github.com/electron/electron/issues/4916

[2016-04-06 23:16] vsccarl opened #5058 "Convert to Tab/Spaces toggles render whitespace after saving"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open a file
2. Turn on toggle render whitespace
3. Convert tabs -> spaces or spaces -> tabs
4. Save

Actual:
Toggle render whitespace is turned off after saving.

[2016-04-06 23:19] Tyriar commented on #3068
The issue is with `xdg-open`, notice how the non-`sudo` call exits with 0 but the `sudo` call errors and hangs.

[code]

[2016-04-06 23:26] v-pavanp opened #5059 "Close button is not visible all the time in side by side editing."
- VSCode Version: 0.10.12-alpha
- OS Version: Windows10

Steps to Reproduce:
1.  Launch app and open two files for side by side editing.
2. Adjust the position of the editor area and verify close button.

Actual: Close button is hiding when user adjusting editor view area.
Expected: File close button should be visible all the time.

![animation1](https://cloud.githubusercontent.com/assets/17735796

[2016-04-06 23:28] Tyriar commented on #3068
http://linux.die.net/man/1/xdg-open

[2016-04-06 23:49] vsccarl opened #5060 "Rearrange split view files only working if grabbing the title"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

A hand icon is showing when hovering over the top of an open file but it will only let you grab the window to rearrange if the mouse cursor is over the title of the file.

[2016-04-06 23:55] vsccarl opened #5061 "Trying to rearrange open files causes odd selection"
- VSCode Version: 0.10.12-alpha
- OS Version: Windows 10

Steps to Reproduce:
Related to #5060

1. Open 2 files side by side
2. Grab the top bar of the file (not on the title) and try to move it straight over to the right

![rearrangewindows](https://cloud.githubusercontent.com/assets/12900364/14336394/39393eda-fc18-11e5-9f53-9aa837673ec2.gif)

[2016-04-07 00:27] OlsonDev commented on #491
I'd either like it to be resizable with the mouse or a corresponding `"explorer.workingFiles.minVisible"` get added. So, for example, I could set `"explorer.workingFiles.dynamicHeight"` to `true`, `minVisible` to `10`, `maxVisible` to `20`.

- From 0-10 files, I'd have buffer (empty space) between working files and the folder explorer
- From 11-20 files, it'd dynamically grow
- At 20+ files, I'd s

[2016-04-07 01:20] #3068 closed

[2016-04-07 02:10] Tyriar opened #5062 "Test: running vscode with gksudo or sudo permission"
- @aeschli

Test plan for https://github.com/Microsoft/vscode/issues/3068

- [x] Test Ubuntu
- [x] Test Fedora

### Basic test case

[code]

### Known limitations

- Files can only be saved if the root user has write access, you can check file permissions using `ls -la`. Example output gives `-rw-r--r--` which means user read/write, group read, all read. If the 'daniel' user owns this file, 'root'

[2016-04-07 02:13] rkeithhill commented on #3153
I have verified that static member completion now works with the alpha channel build 2016-04-06.  And yeah, we have some work to do on the `$env:` case.

[2016-04-07 02:16] Tyriar commented on #110
@alexandrudima I've had it turned on for a while now and haven't had any issues. I don't use it often, I've probably used it around 4-5 times spread out across that time. Do you think it's safe to turn on by default?

[2016-04-07 02:21] Tyriar commented on #4968
Duplicate of https://github.com/Microsoft/vscode/issues/3353

[2016-04-07 02:21] #4968 closed

[2016-04-07 02:39] Tyriar opened #5063 "Calls to shell.openExternal hang vscode when running as root user"
See https://github.com/Microsoft/vscode/issues/3068 for context.

Upstream issue: https://github.com/electron/electron/issues/5039

[2016-04-07 03:32] unional opened #5064 "Can't run electron from vscode due to ATOM_SHELL_INTERNAL_RUN_AS_NODE=1"
This seems to be an issue on `vscode`
vscode version: 0.10.11
OS: OSX and Windows

I'm using `vscode` and `vscode-startanyshell` to open `cmder`.

When I run `browserify test.js | tape-run`
It fails with:

[code]

After some digging, it turns out to be ATOM_SHELL_INTERNAL_RUN_AS_NODE=1 causes the issue.

Once I remove that env variable, it started working again.

Reference:
https://github.com/remc

[2016-04-07 03:42] Tyriar commented on #5064
`ATOM_SHELL_INTERNAL_RUN_AS_NODE=1` is set purely for the CLI so that electron does not need to initialize before basic args are dealt with. Electron is then launched without `ATOM_SHELL_INTERNAL_RUN_AS_NODE=1` as a detached process to start vscode [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-main/cli.ts).

What do you think is the issue with that env var?

[2016-04-07 03:42] xianghongai commented on #4846
@iHuahua batch file :)
[文件命名操作.zip](https://github.com/Microsoft/vscode/files/207697/default.zip)

[2016-04-07 03:48] xianghongai commented on #4846
@iHuahua 谢谢了，目前我是几个编辑器混着用的，可以解决一些问题，千万不要用sublime text编辑这种GBK编码格式的文件！我写批处理，几百行代码后，ST突然一个auto encoding 把我代码中文部分全乱码了！而且是撤销不了的乱码。

[2016-04-07 04:29] Tyriar commented on #4781
Can't reproduce, anymore details on a repro?

[2016-04-07 04:32] kripod opened #5065 "Add support for signing commits with GPG"
VS Code should optionally be able to sign git commits with a given GPG key, as it is a good practice for authorization nowadays.

[2016-04-07 04:48] unional commented on #5064
Obviously I don't know about the inner working of electron and vscode. :smile:

What I did is empirically determine that this env var is the cause. I compare the env between a normal terminal and the one spawned from vscode and saw that variable is set.

Once I remove it things started working again.

In https://github.com/remcoros/vscode-startanyshell/blob/master/src/extension.ts#L46
It is simply

[2016-04-07 04:49] rakkarage opened #5066 "Filename number sort in explorer"
- VSCode Version: 0.10.14-insider
- OS Version: Windows 10

Steps to Reproduce:
1. create files named `*(0-10).*`
2. note sorting order, different from windows explorer, unity3d, etc

![image](https://cloud.githubusercontent.com/assets/962340/14340961/dfa58caa-fc5a-11e5-9906-b0dea3cd9bcf.png)

![image](https://cloud.githubusercontent.com/assets/962340/14340974/02e26512-fc5b-11e5-8629-2aec79ac9854.

[2016-04-07 04:54] unional commented on #5064
CC /@remcoros

@remcoros, I tried with `open new command prompt` and that env var is not set.

@Tyriar , I do what vscode is running, `process.env[]` does not have that env var set. i.e. the code you pointed out is working correctly.

Really have no idea why when `child_process.exec()` called by @remcoros the env var is still there.

[2016-04-07 05:01] eklavyamirani commented on #4746
this looks like a good place to start off, is this something I can help with?

[2016-04-07 05:20] bpasero commented on #5038
Weird, now I don't see it at home. Will check tomorrow at work...

[2016-04-07 05:21] bpasero commented on #5044
:+1:
#5004

[2016-04-07 05:21] #5044 closed

[2016-04-07 05:22] unional commented on #5064
Just dig in a bit and here is my finding:
If I run `require('child_process').exec('start cmder.exe /start e:\\')` **directly in vscode developer tool, it is working correctly (i.e. the var is not set).
If I run `start any shell` to run the same thing (through its command), it is not working correctly (i.e. the var is set).

vscode runs extensions in difference process. In those process the `proces

[2016-04-07 05:23] bpasero commented on #4931
Another idea if you want to try it out: Can you run VS Code from sources? See https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source

[2016-04-07 05:24] bpasero commented on #1940
To clarify: The freeze only happens when you open VS Code on a folder that prompts for git credentials?

[2016-04-07 05:35] jozsefk9 commented on #4995
Thank you Zombie. It seems we still have to wait for a while. I did try \n and as you've said it's not working either. At least not at the moment.

[2016-04-07 05:50] mdsitton commented on #1940
That is correct in my case. (some others sound like they may be having other issues?)

[2016-04-07 06:03] bpasero commented on #1940
I tried to reproduce on Ubuntu 15 and I am not even getting the git login dialog there, but VS Code otherwise works fine. @joaomoreno what is needed to get the dialog on Linux?

[2016-04-07 06:21] Tyriar commented on #5065
Doesn't GitHub's authentication basically do the same thing, since you need to auth with GitHub to push to repos you have access to?

[2016-04-07 06:24] johnliu2016 commented on #4771
@dbaeumer can you help understand the shortcut accelerator of key combination display on such main menu, we found no single matching case in loc files

[2016-04-07 06:25] Tyriar commented on #5066
One way this could be done is to split the base name from the extension and sort with that first.

I'm not particularly for or against this. I typically pad with 0's in the rare I have files like this.

[2016-04-07 06:27] #4982 closed

[2016-04-07 06:27] bpasero commented on #4982
Now doing the same as when deleting a folder with dirty files, not asking for confirmation. But keeping the file dirty in the editor.

[2016-04-07 06:28] Tyriar commented on #4746
@eklavyamirani :+1: it's marked help wanted which probably means @joaomoreno won't get to it any time soon.

[2016-04-07 06:28] bpasero opened #5067 "Disable welcome page when user is root"
I had to revert https://github.com/Microsoft/vscode/commit/ad7e861dbb9127e919bc686da162b19cbb7e2391 for some reasons:
* this change seems to cause test failures on Windows and Linux at least on our internal build machines
* you are using node-api in the common layer `process.getuid()`. if so, the entire file has to move into electron-browser namespace

[2016-04-07 06:36] Tyriar commented on #5067
@bpasero is there some place where general wrappers around electron calls can go? The ideal solution for this is to wrap all calls to `shell.openExternal`.

[2016-04-07 06:37] v-pavanp opened #5068 "Debug console window should go away when user perform build with CTRL+SHIFT+B"
- VSCode Version: 0.10.12-alpha
- OS Version: MAC and Windows10

Steps to Reproduce:
1. Launch app and open any ts project.
2. Configure tasks.json and launch.json for node.
3. Build project with CTRL+SHIFT+B and verify output in output window.
4. Now start debugging and verify output in debug window.
5. Make changes in the tasks.json or delete generated .js file and rebuild with CTRL+SHIFT+ B.

A

[2016-04-07 06:38] bpasero commented on #5067
You could add it into https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/window/electron-browser/windowService.ts

[2016-04-07 06:44] johnliu2016 commented on #4940
@saneyuki We went ahead to fix the jpn string as suggested, feel free to verify on update.

[2016-04-07 06:44] #4940 closed

[2016-04-07 07:10] alexandrudima commented on #5036
@bpasero The whole thing is flashing :). But I notice the glyph margin takes a while to react, is that what you mean?

[2016-04-07 07:22] mariusa commented on #1940
I have .git folders in the workspace, but it never asks me for credentials, and I use git only from command line. The freeze seems random to me, and unrelated to git.

[2016-04-07 07:28] prashantv opened #5069 "Snippets are being displayed in auto-complete while inside of a comment"
- VSCode Version: 0.10.14-insider (0.10.14-insider)
- OS Version: OSX 10.11.4

Steps to Reproduce:

1. Start a comment (e.g. in a .go file, start `// `
2. Write some text, and then start entering the beginning of a snippet (e.g. `main`, or `for`)
3. Press enter (expecting line break after the word `main` or `for`)

The snippet is inserted inside of the comment.

Snippets should be disabled inside

[2016-04-07 07:32] joaomoreno commented on #4746
@eklavyamirani Go for it, this is a great issue to start contributing to Code. Let me know if you need any help.

[2016-04-07 07:33] joaomoreno commented on #5051
Forwarding to @dbaeumer due to

[2016-04-07 07:34] bpasero commented on #5061
Fixed yesterday.

[2016-04-07 07:34] #5061 closed

[2016-04-07 07:34] bpasero commented on #5060
Fixed yesterday.

[2016-04-07 07:34] #5060 closed

[2016-04-07 07:35] bpasero commented on #5059
Fixed yesterday.

[2016-04-07 07:35] #5059 closed

[2016-04-07 07:36] bpasero commented on #5036
@aeschli knows, we talked.

@alexandrudima so it seems the glyph margin is not updating as live as the other parts. is there a reason?

[2016-04-07 07:37] prashantv commented on #843
Instead of using `<pre>`, the CSS `white-space` property can probably be set to `pre-wrap`.

`<pre>` version which doesn't wrap:
http://codepen.io/anon/pen/KzZzpg

`white-space: pre-wrap` version with wrapping and respects whitespace:
http://codepen.io/anon/pen/EKoKjQ

[2016-04-07 07:39] joaomoreno commented on #1940
@bpasero #1796

[2016-04-07 07:39] bpasero commented on #5026
Dupe of https://github.com/Microsoft/vscode/issues/4809

[2016-04-07 07:39] #5026 closed

[2016-04-07 07:40] bpasero commented on #1940
Maybe people have configured some special git credential helper that causes this?

[2016-04-07 07:42] bpasero commented on #5048
@donaldpipowitch what about the action "Find in Folder" from the context menu in the explorer on folders?

[2016-04-07 07:44] bpasero commented on #5049
@edgr-sanchez can you open the "Console" application on Mac and find the crash dump? It should look like this:

![image](https://cloud.githubusercontent.com/assets/900690/14344031/51a5389c-fca5-11e5-957d-36f1be9d3d10.png)

[2016-04-07 07:45] bpasero commented on #5035
closing as designed, given the workarounds.

[2016-04-07 07:45] #5035 closed

[2016-04-07 07:58] dbaeumer commented on #5051
@v-codeel we always include textual completions in code complete (e.g words that are in the document). We find this useful in strings and comments. Are you proposing not to show them? They are marked with an icon 'abc' to indicate that they are textual completions only.

[2016-04-07 08:00] egamma commented on #5042
@WangJi the recommendation is to use a linter like eslint pls see https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/vFebruary.md#linters

[2016-04-07 08:00] #5042 closed

[2016-04-07 08:01] dbaeumer commented on #5068
This is configurable in the tasks.json file. Depending on the value of the showOutput property the output window might not come to front when building. This is useful if you have a problem matcher associated which scans the output. Then the result is in the markers and there is no need to look at the output. If you use tsc in the tasks.json then the default for the output window is silent which on

[2016-04-07 08:01] #5068 closed

[2016-04-07 08:07] jrieken commented on #5038
funky. I see it a little when resizing because the webview-body isn't styled, only the iframe. Maybe a resize event got lost - didn't make it to the iframe...

[2016-04-07 08:08] bpasero opened #5070 "Webview: focus tracking not working"
Open a webview to the side of an editor and try to click left and right editor to switch focus (indicated in the title area). I cannot move focus back to the second editor when clicking into the web view.

For markdown, I had to implement my own focus tracking to make this work: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/editor/iframeEditor.ts#L120

[2016-04-07 08:09] jrieken commented on #5007
fyi @egamma - that's what we see with C++ a lot

[2016-04-07 08:09] bpasero commented on #5038
There is another issue where the background color of a webview is always white. I think this got fixed in newer versions of Electron though and might help us: https://github.com/electron/electron/releases/tag/v0.37.3

[2016-04-07 08:10] weinand commented on #5041
@benlowry in the April release we only truncate strings that are longer than 10000 characters.

[2016-04-07 08:10] #5041 closed

[2016-04-07 08:16] dbaeumer commented on #4771
@bpasero @alexandrudima  I looked at the code and it looks like the resolving of a key binding to a user presentable string is done in keytCodes.ts and none of the code there is externalized (ElectronAcceleratorLabelProvider). Is this in oversight ?

[2016-04-07 08:18] krabolov opened #5071 "Intelligence works only for first open files in typescript project"
- VSCode Version: at least 0.10.11 - 0.10.14-insider
- OS Version: Ubuntu 15.10

Steps to Reproduce:

1. Install typings for project's dependencies. Open any file which use external libs from typings. AR == ER: autocomplete works.
2. Open any other file: typings don't work. No autocomplete, but error "Cannon find name"

[2016-04-07 08:23] egamma commented on #5046
What is happening is that VS Code registers `.es6` files as JavaScript files and Code sends them over to the tsserver. Inside the tsserver `.es6`are not treated as JavaScript files but as TypeScript files. For this reason you get the additional errors.

One work around is to disable the error diagnostics from the tsserver for js files: `"javascript.validate.enable": false`

Moving to TypeScript, t

[2016-04-07 08:25] dbaeumer commented on #4759
You have configured the tsc compiler to output absolute paths (I think by listing the files in the files sections). If you do this then you have to tell the problem matchers to match absolute pathes as well. You can do so by changing the tasks.json as follows:
[code]

![capture](https://cloud.githubusercontent.com/assets/1931590/14345013/12004546-fcab-11e5-8404-23f20c029ef0.png)

[2016-04-07 08:25] #4759 closed

[2016-04-07 08:27] egamma commented on #5046
This issue was moved to Microsoft/TypeScript#7926

[2016-04-07 08:27] #5046 closed

[2016-04-07 08:29] egamma commented on #5054
Moving to TypeScript for investigation.

[2016-04-07 08:29] egamma commented on #5054
This issue was moved to Microsoft/TypeScript#7927

[2016-04-07 08:29] #5054 closed

[2016-04-07 08:31] dbaeumer commented on #5015
This happens when the tsdk is configured to a non exising tsserver.

[2016-04-07 08:34] egamma commented on #5055
Duplicate of https://github.com/Microsoft/TypeScript/issues/6997 also see this comment https://github.com/Microsoft/TypeScript/issues/6997#issuecomment-184509014.

If you are on the insiders build then the work around is to disable the JS diagnostics from Salsa and to use eslint https://github.com/Microsoft/TypeScript/issues/6997#issuecomment-201721683.

[insiders build](https://code.visualstudio.

[2016-04-07 08:34] #5055 closed

[2016-04-07 08:35] dbaeumer commented on #4987
@isidorn I move this to you since it is prelaunch related. Is this an error reported by the task or is this message referring to the error count in the status bar ?

[2016-04-07 08:37] YuichiNukiyama opened #5072 "Keyboard Shortcuts message is incorrect."
- VSCode Version: 0.10.14
- OS Version: Windows7
- Locale: Japanese

### Current message
![workbench action cycleeditor](https://cloud.githubusercontent.com/assets/9623009/14345257/eae14122-fce6-11e5-81b2-e1c1d0c6e3fa.png)

### Correct Japanese
`現在のキーボード レイアウト用に Ctrl+@ キーまたはキー シーケンス (スペースで区切る)を押します`

[2016-04-07 08:38] egamma commented on #4924
It is a change, sorry. The recommendation is to use eslint and the vscode-eslint extension to get JS diagnostics. Pls see https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/vFebruary.md#linters.

[2016-04-07 08:38] #4924 closed

[2016-04-07 08:39] dbaeumer commented on #4991
@bill-mybiz I think it is a mismatch of the external tsc command you are using and the tsserver. When you run tsc -version what is printed. If this is not 1.8.9 please upgrade tsc to version 1.8.9.

I am closing this because it is very likely a version mismatch between the external compiler and the internal TS service.

@bill-mybiz please ping if the versions are the same.

[2016-04-07 08:39] #4991 closed

[2016-04-07 08:41] dbaeumer commented on #4998
Two things:
- we are working on allowing to input command names in English as well.
- you can configure the language by either starting vscode with --locale="en" to switch back to English or by running "Configure Language" and edit the corresponding file.

[2016-04-07 08:41] #4998 closed

[2016-04-07 08:43] egamma commented on #3907
@thomas-darling Does it help to disable the built-in CSS validation using `"css.validate": false` and then use one of the CSS linter extensions, e.g., https://marketplace.visualstudio.com/items?itemName=shinnn.stylelint?

[2016-04-07 08:43] Florian-R commented on #4727
@jandrieu Have you open an issue in Node repo? Can find it and this issue is a major PITA.

[2016-04-07 08:44] egamma commented on #4990
Moving to TypeScript for investigation

[2016-04-07 08:44] mkyjakova commented on #4910
Thanks!

[2016-04-07 08:44] egamma commented on #4990
This issue was moved to Microsoft/TypeScript#7928

[2016-04-07 08:44] #4990 closed

[2016-04-07 08:45] dbaeumer commented on #4946
@minggo to my knowledge you can't right now. But moving to TS. May be they have an idea.

[2016-04-07 08:46] dbaeumer commented on #4946
This issue was moved to Microsoft/TypeScript#7929

[2016-04-07 08:46] #4946 closed

[2016-04-07 08:48] egamma commented on #4976
This is fixed in the insiders build 0.10.14

You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

[2016-04-07 08:48] #4976 closed

[2016-04-07 08:48] minggo commented on #4946
@dbaeumer If i can extend TS, then how to make it take effect in VSCode?

[2016-04-07 08:48] dbaeumer commented on #4964
This is how the TS server currently resolved. IMO the behavior is 'technically' correct but not very user friendly. IMO the tsserver should either:

- offer a flag to control that
- resolve the definition to the 'implementation' if the import doesn't rename the symbol
- jump to the import if it does rename the symbol.

[2016-04-07 08:48] dbaeumer commented on #4964
This issue was moved to Microsoft/TypeScript#7930

[2016-04-07 08:48] #4964 closed

[2016-04-07 08:51] dbaeumer commented on #4946
You need to extend the code completion request and do you own computation by either providing an extension and parsing the JS code yourself and computing completion items (you might want to look at the vscode documentation for how to write an extension here: https://code.visualstudio.com/Docs ) or by providing a different tsserver.

[2016-04-07 08:52] johnliu2016 commented on #4999
@ogasawara-k can you attach a s/s indicating both "none", "one" and this long string? It makes sense to keep them consistent

[2016-04-07 08:52] dbaeumer commented on #4963
This issue was moved to Microsoft/TypeScript#7931

[2016-04-07 08:52] #4963 closed

[2016-04-07 08:55] egamma commented on #4974
How did the `jsconfig.json` file look like when intellisense did not work?

If you have no `jsconfig.json` then the `node_modules` folder is excluded by default. Does this work:
{
  "compilerOptions": {
    "target": "ES6",
    "module": "es2015",
    "experimentalDecorators": true
  },
  exclude: ["node_modules]
}

[2016-04-07 08:56] minggo commented on #4946
I know VSCode extension, but it seems too complicated for me to do as good as VSCode internally. As i know, VSCode internally also depend to TS parser to provide code completion. Can i just extend the TS parser internally?

[2016-04-07 09:01] egamma commented on #4974
Interesting, pls file a separate issue with a repro snippet on this. What file suffix are you using?

[2016-04-07 09:06] jrieken commented on #5024
[virtual-0.0.1.zip](https://github.com/Microsoft/vscode/files/208048/virtual-0.0.1.zip)

[2016-04-07 09:12] anyong commented on #1751
Would love to have SQL syntax highlighting throughout my projects. Currently I always write my SQL in a separate file with syntax highlighting, then copy it into my project where it needs to go. In VS Code it's just highlighted as a normal string, so very hard to catch errors and whatnot.

[2016-04-07 09:17] jrieken commented on #5039
I actually don't understand what you mean. It seems to me no different than with other editors. Need to see when we are both in

[2016-04-07 09:18] jrieken commented on #3676
strech for April - fyi @seanmcbreen

[2016-04-07 09:26] bpasero commented on #5039
@jrieken yup I can show you. I am seeing general issues with the fact that the webview seems to be on top of everything:
* for a normal editor (slot 2) I can click on the sash a few pixels left and right of the sash to grab and drag it but when the webview is there, I cannot click the sash as soon as my mouse enters the webview (in other words, the total clickable area for the sash is half compare

[2016-04-07 09:26] egamma commented on #4960
Steps to reproduce:
- Insert  DatenSätze^^
- TAB
-> DatenSä<tze></tze>

I've reproduced it in several emmet integrations (sublime, atom), so this an emmet issue. I've filed https://github.com/emmetio/emmet/issues/439 against emmet.

[2016-04-07 09:27] bpasero commented on #4771
I do not think we control how Electron presents the key bindings in the menus.

[2016-04-07 09:29] egamma commented on #5007
FYI @asthana86

[2016-04-07 09:30] egamma commented on #5005
FYI @asthana86

[2016-04-07 09:31] egamma commented on #5013
FYI @asthana86

[2016-04-07 09:34] bpasero commented on #4297
To verify (Windows only):
* you can open relative paths from the command line (files and folders) and things work as expected
* try to execute some native things to see if you can find regressions (tasks, debug, reveal in explorer, open in command prompt, etc.)

[2016-04-07 09:34] #4297 closed

[2016-04-07 09:39] bpasero commented on #508
@eByte23 do you run with or without extensions? on what platform are you? did you try with insiders release?

[2016-04-07 09:54] ogasawara-k commented on #4999
Current

![default](https://cloud.githubusercontent.com/assets/16556202/14347457/226da5da-fcf2-11e5-8d4c-536795661a50.png)

[2016-04-07 10:03] seanmcbreen opened #5073 "Connect theme browsing to theme acquisition"
cc: @joaomoreno

We have a great theme browsing experience - however sometimes people want to add a theme and may not know how to.  We could connect the theme and the extension experiences together  and filter the extension list by themes to help the user e.g.

<img width="944" alt="screen shot 2016-04-07 at 12 02 12 pm" src="https://cloud.githubusercontent.com/assets/1051190/14347677/9de7e746-fcb

[2016-04-07 10:04] ogasawara-k commented on #4999
@johnliu2016 attached Screen-Shot

[2016-04-07 10:08] eByte23 commented on #508
@bpasero Win10 & OSX with C# as extension.
Have tried insiders but have not noted if it crashed as there is a tabbing bug so I stopped using it but I can leave it running over night to try to repro.

[2016-04-07 10:13] ogasawara-k commented on #4999
another
![p2](https://cloud.githubusercontent.com/assets/16556202/14347999/cc3b83be-fcf4-11e5-826b-6b03fa1202ea.png)

[2016-04-07 10:20] WangJi commented on #5042
Got it.
I didn't read the update log carefully.

[2016-04-07 10:30] alexandrudima commented on #5036
Yes, because the editor updates the DOM at the next animation frame. I will make a change to update the DOM in case of a theme change synchronously.

[2016-04-07 10:31] #5036 closed

[2016-04-07 10:35] kumarharsh commented on #4974
[Like this](https://github.com/Microsoft/vscode/issues/4974#issuecomment-206582529)

[2016-04-07 10:35] kumarharsh commented on #4974
I've also found that just keeping an **empty** file of the name `jsconfig.json` kills autocomplete completely, snippets included.

[2016-04-07 10:43] johnliu2016 commented on #4999
@ogasawara-k Thanks for the screenshots.

"none" and "one" are over-localized, this repro for chs, cht, deu, jpn, kor, rus. @Lukaschal Please revert the translations in following LCL file (e.g. of JPN)

https://monacotools.visualstudio.com/DefaultCollection/Monaco/_git/MonacoLocalization?path=%2FLocalize%2Fjpn%2Fvscode%2Fsrc%2Fvs%2Fworkbench%2Felectron-browser%2Fmain.contribution.nls.resx.lcl&vers

[2016-04-07 10:53] alexandrudima commented on #4771
ElectronAcceleratorLabelProvider correctly does not use nls localize because these strings are passed to electron which then parses them:

https://github.com/electron/electron/blob/e05804848f98959d63337aacd9047cd579c5b23f/atom/common/keyboard_util.cc#L86

[code]

it is then Electron that renders them in the top level menu without any control from our side.

[2016-04-07 10:55] sgtoj commented on #4971
I will do that when it happens again.

[2016-04-07 10:56] kumarharsh commented on #4974
On opening a new folder with code, it seems to be working *as expected* - the autocomplete seems to be coming as well as the snippets. Suddenly I'm really at a loss why it's not working with my actual project folder...

* There is no project-level setting
* There are **885** first-level folders in the `node_modules` directory on account of me using npm@3
* ... i don't know... :disappointed: I'll k

[2016-04-07 10:58] ogasawara-k commented on #4999
@johnliu2016
and "all"  are over-localized,

[2016-04-07 11:11] alexandrudima commented on #843
Thank you @prashantv

Added `white-space: pre-wrap` and here is how it looks for the error message:

[code]

BEFORE:
![image](https://cloud.githubusercontent.com/assets/5047891/14349239/f681bdc4-fcc1-11e5-9cdc-04cbdd850645.png)

AFTER:
![image](https://cloud.githubusercontent.com/assets/5047891/14349261/111fc680-fcc2-11e5-8ba5-993e4e5228ac.png)

[2016-04-07 11:11] stephenmartindale commented on #2047
I can reproduce this problem in 0.10.14-insiders and with errors as well as warnings.

In my case, I have written a custom problem matcher. In my project folder, I have a host application and a web application and they both use TypeScript and have their own `tsconfig.json` and `gulpfile.js`. Errors are relative to whichever one I am building. For example, my problem matcher for the web sub-project

[2016-04-07 11:11] kripod commented on #5065
GitHub auth is NOT related to GPG-signed commits if I know right.

[2016-04-07 11:12] #843 closed

[2016-04-07 11:19] kriox26 commented on #143
+1

[2016-04-07 11:23] johnliu2016 commented on #4999
Thanks @ogasawara-k, @Lukaschal "all' also over localized in the same languages as "none"/"one"

[2016-04-07 11:45] bpasero commented on #5036
@alexandrudima thanks man! <3

[2016-04-07 11:47] bpasero commented on #4771
I think we have to distinguish between Electron menu and hover: In the hover imho we can provide translated labels, for Electron we should follow up with them. I found https://github.com/electron/electron/issues/1632 though I cannot remember we talked to them about this?

[2016-04-07 11:50] #5010 closed

[2016-04-07 11:51] bpasero commented on #508
@eByte23 yes please. what tabbing bug?

[2016-04-07 11:57] aeschli commented on #5069
Some people might want to write snippets for comment content. We don't want to prevent that.
Closing.

[2016-04-07 11:57] #5069 closed

[2016-04-07 11:58] egamma commented on #4974
Did my suggested jsconfig.json help in your existing project? https://github.com/Microsoft/vscode/issues/4974#issuecomment-206768115

The empty excludes array is wrong and you must exclude the node_modules folder and may be others, pls see https://github.com/Microsoft/vscode-docs/blob/vnext/docs/languages/javascript.md#excludes

[2016-04-07 12:04] eByte23 commented on #508
@bpasero seems to be in last two releases of insider with display whitespace on and convert tabs to white space with a file with existing tabs it seems to keep tabbing and not write spaces even on new lines.

I had a chance to do full testing but I shall do that now.

[2016-04-07 12:09] bpasero commented on #1637
Subsumed by https://github.com/editorconfig/editorconfig-vscode

[2016-04-07 12:09] #1637 closed

[2016-04-07 12:10] bpasero commented on #1629
You can associate file extensions to modes with our 1.0 release.
You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

[2016-04-07 12:10] #1629 closed

[2016-04-07 12:19] bpasero commented on #1619
This is now available.

[2016-04-07 12:19] #1619 closed

[2016-04-07 12:22] bpasero commented on #1388
#58

[2016-04-07 12:22] #1388 closed

[2016-04-07 12:24] bpasero commented on #733
This should be done as an extension using the new preview html command.

[2016-04-07 12:25] bpasero commented on #530
@SamVerschueren does #58 help you?

[2016-04-07 12:26] #412 closed

[2016-04-07 12:26] joaomoreno commented on #5073
@seanmcbreen If you have enough themes to fill a page, the `Find more...` will not be in view and the user will need to scroll down to see it. Should we put it at the top?

[2016-04-07 12:28] bill-mybiz commented on #4991
@dbaeumer That does indeed seem to be the case.

It seems that in troubleshooting the previous Salsa+TypeScript issue, we switched to a newer version of node and didn't have TypeScript installed globally. So even though TypeScript is installed as a dev dependency locally for the project, the tsc compiler (versioning) relies on the global install of TypeScript.

Thanks for your help.

[2016-04-07 12:29] sgtoj commented on #4971
@bpasero The Insider version is my main tool. However, I had the same issue with the stable release too. Last time it happened with the stable release, it prompted me to create this issues.

Here is the result of the process you said to follow when it occurred. I have tested it a few times, the second instant never gets past `Sending env to running instance...`

[code]

[2016-04-07 12:30] bpasero commented on #3258
@stevencl @bgashler1 one of the issues with notifications

[2016-04-07 12:32] bpasero commented on #2191
@waderyan editor or search viewlet?

[2016-04-07 12:33] SamVerschueren commented on #530
Somehow yes. I guess it would allow me to ask the user where he wants to run the generator and call `vscode.commands.executeCommand('vscode.openFolder', uri);` But that would still force the user to manually type the entire path into a normal input box right? There is no way to open the UI file picker and let the user navigate and select a directory via that way?

[2016-04-07 12:35] bpasero commented on #508
@eByte23 I suggest you report something like that as separate issue if you think it is one. we introduced a new setting `editor.detectIndentation` which defaults to `true`. Maybe you can try setting it to `false`.

[2016-04-07 13:01] lukaschal commented on #4999
DEU, RUS fixed. JPN, KOR, CHT, CHS waiting for linguistic input.