[2020-08-07 07:58] joaomoreno commented on #102092
Sorry, @rebornix, I think `bug` categorizes failing tests better than `debt`.

[2020-08-07 07:58] joaomoreno commented on #103008
Sorry, @rebornix, I think `bug` categorizes failing tests better than `debt`.

[2020-08-07 07:59] sandy081 commented on #104203
The downloaded VSIX will be available in the folder `<user_settings_folder>/../CachedExtensionVSIXs`. Please provide us the VSIX?

Can you also try downloading the VSIX manually from Marketplace and install it? Are you getting the same error? Please compare if both are same.

[2020-08-07 08:09] sandy081 commented on #104222
Can you please follow this wiki  https://github.com/microsoft/vscode/wiki/Performance-Issues#profiling-the-renderer-process and provide us the profile when this slowness happens?

[2020-08-07 08:18] sandy081 commented on #104028
Ok it confirms that remote WSL has issues downloading the VSIX. Since you claim that you do not have network issues in WSL, I am wondering what could be causing for requests to take such a long time.

@alexdima any idea how to diagnose network requests on remote WSL server?

[2020-08-07 08:18] sanket-bhalerao commented on #104222
@sandy081 where should is attach/send this profile?

[2020-08-07 08:20] sandy081 commented on #104222
Please attach to the issue if it works for you otherwise email to me - sasomava@microsoft.com

[2020-08-07 08:24] joaomoreno commented on #94303
@eamodio Moving this to Backlog.

[2020-08-07 08:24] sandy081 commented on #103420
You have to change the VSIX file extension from `.vsix` to `.zip` and you can attach it.

Reason I am asking the VSIX you downloaded because I am not seeing this issue and this could be some caching issue somewhere. So checking the VSIX you downloaded might confirm it.

[2020-08-07 08:29] onlywanna opened #104227 "The file name could not be modified correctly"
I have changed my file name, but the file is still the same name when it was introduced.
![image](https://user-images.githubusercontent.com/34205436/89625860-188bd780-d8cb-11ea-9340-4e68eaec720f.png)

[2020-08-07 08:37] lianghx-319 opened #104228 "TS Server fatal error: Maximum call stack size exceeded"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 3.9.6

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After en

[2020-08-07 08:37] sanket-bhalerao commented on #104222
sent you an email on the email id.

[2020-08-07 08:41] okemessi commented on #104150
I tried various patterns including opening utf8-named folders, and noticed only "最近開いたファイル" ("Recent" in en version?) in gnome nautilus launcher makes vscode crash. This can be seen in all 3(release, insiders, exploration) versions.
And, after clicking  "Opening Folder", launcher opens "Recent" by default, thus freezes immediately after showing that.

[code]

Yes, I checked that examples and crash

[2020-08-07 08:49] dbaeumer opened #104229 "Smoke test fails: cell action execution"
1) VSCode Smoke Tests (Electron)
       VSCode Smoke Tests (Electron)
         Notebooks
           cell action execution:
     Error: Timeout: get text content '.notebook-editor .monaco-list-row.focused .monaco-editor .view-lines' after 20 seconds.
      at C:\Users\dirkb.EUROPE\Projects\mseng\VSCode\vscode\test\automation\out\code.js:182:23
      at Generator.next (<anonymous>)
      at fulfille

[2020-08-07 08:52] isidorn commented on #95815
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-08-07 08:52] isidorn commented on #104226
@F-Unction what debugger are you using?
VS Code is not interpreting the args in any special way...

[2020-08-07 08:55] F-Unction commented on #104226
gdb
So how can I enter `"` into args

[2020-08-07 08:57] dbaeumer opened #104230 "Some test: Localization test is pending..."
Running the smoke test results in pending localization tests.

[2020-08-07 08:58] Ka0o0 opened #104231 "Installation on Fedora 32 fails"
**Problem Description**

I'm trying to install VS Code on a Fedora 32 virtual machine and followed the guidlines from [here](https://code.visualstudio.com/docs/setup/linux).
I receive an invalid checksum error. I also tried to install 1.47.2 but get the same error.
I already tried to clean the dnf caches, removed and readded the repo but still no luck.
Any suggestions on what I might be doing wron

[2020-08-07 09:01] #104157 closed

[2020-08-07 09:05] sengarashu opened #104232 "Not able to see Hidden Files"
Issue Type: <b>Bug</b>

Not able to See .DS Store File

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:08:29.692Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_sta

[2020-08-07 09:06] alexr00 commented on #104157
To verify, open a typescript project that has a tsc-watch task (most of extension samples are good for this). Run the watch task. Verify that the "Building" status bar item goes away (indicating that the end pattern has matched) after the build has completed. Make a change that triggers the build to start again. Verify that "Building" comes back, and then goes away again. Do this once for en-us, a

[2020-08-07 09:13] IllusionMH commented on #104227
/needsMoreInfo

What OS do you use? Does it have case insensitive file system?

Looks like #100763

[2020-08-07 09:15] isidorn commented on #104226
/extCpp

[2020-08-07 09:15] #104226 closed

[2020-08-07 09:18] roblabla commented on #48659
@melink14 This is very surprising to me, as the debian manfiles still mention those environment variables. Are you sure the variable is set properly? (E.g. if you run `/usr/bin/env`, can you see the `SUDO_EDITOR` variable set?)

Anyhow, you can add your own editor to `update-alternative` easily enough. You should be able to make an sh file with the following content in `/usr/local/bin/code-insider

[2020-08-07 09:23] alexr00 commented on #101073
Interesting. I tried it with a windows codespace and got:

[code]

This is with the build from 8/3. Not sure what could be going on here. I'm going to close and see if someone else can verify.

[2020-08-07 09:23] #101073 closed

[2020-08-07 09:23] alexdima commented on #104028
I don't really know, but one thing is interesting: we download extensions using the nodejs network stack and not `curl`. Perhaps there are some proxy settings that `curl` picks up which nodejs does not? Maybe the best to troubleshoot would be to have a small nodejs script that downloads something from the marketplace (like a well-known hard-coded extension) and prints if it downloaded it OK or not

[2020-08-07 09:29] dbaeumer commented on #104230
OK. I tracked this down. The tests are skipped because of @isidorn marking them as skipped (an issue would have been nice :-))

Looking into why they got skipped is that the API for loading an extension has changed. The new API (https://github.com/microsoft/vscode/blob/master/test/automation/out/extensions.d.ts#L8) now requires a version number and the version provided didn't exist (the version is

[2020-08-07 09:31] IllusionMH commented on #104232
It's excluded by default in `files.exclude` setting. You need to remove it from the list to see it.

[2020-08-07 09:49] melink14 commented on #48659
@roblabla Yes, I was pretty surprised to but found several stack overflow posts mentioning the same thing. I'm on Ubuntu 18.04 specifically but env is definitely set correctly.

Making the global shell script and adding it to update-alternatives did work though so thanks for the detailed tips. I had tried to add code-insiders directly and failed so the idea to make a wrapper script was good!

Does

[2020-08-07 09:50] worksofliam commented on #102057
As a note, I am on 1.47.3 and I could only get debugging to work again with `debug.javascript.usePreview: false`.

Thanks

[2020-08-07 09:51] Sergej-Popov commented on #103631
Clarification with regards to https://github.com/microsoft/vscode/blob/42a9a9998e72756ef598433bb5699545c99fcd69/src/vs/workbench/contrib/files/browser/views/explorerViewer.ts#L509-L513

Problems are always visible not only when the file is open in the editor. I opened one in the screenshot just to show the error, but others that aren't open in the editor are still visible in the Problems pane too.

[2020-08-07 09:54] onlywanna commented on #104227
My operating system is Microsoft Windows 1909 version.

I turn off my vscode and restart it twice.
It behaves normally.

[2020-08-07 09:58] onlywanna commented on #104227
VSCode Version: 1.47.3

[2020-08-07 10:00] rediffusion commented on #102892
@sbatten

Aloha! 🙂

I'm so sorry the problem was in another panel which I set. I'm using 📍 «Display Fusion» for multiple monitors.
With «Windows»'s panels no problems!⭐👍

[2020-08-07 10:00] #102892 closed

[2020-08-07 10:02] onlywanna commented on #104227
![image](https://user-images.githubusercontent.com/34205436/89634503-18460900-d8d8-11ea-8250-e4ba043b7877.png)

[2020-08-07 10:10] sandy081 commented on #104230
Looks like @isidorn introduced this version for aria label. We need a way to find the element by id instead of name / version.

[2020-08-07 10:19] leoselig commented on #104155
@mjbvz I am reliably able to reproduce both with extensions enabled and disabled.
I added that fact, proper steps to reproduce and the version information to the original issue description.

[2020-08-07 10:20] SuperNova-beep opened #104233 "Code crashes all conversions"
We have written the needed data into your clipboard because it was too
Issue Type: <b>Bug</b>

When I use this command :
double cash;
cash = Convert.ToDouble(Console.ReadKey());

It crashes the whole conversion system,
It then says this :
Exception has occurred: CLR/System.InvalidCastException
An unhandled exception of type 'System.InvalidCastException' occurred in System.Private.CoreLib.dll: 'Una

[2020-08-07 10:22] rafaelperozin opened #104234 "How to stop VS Code to duplicate files? (FileName 2.css)"
[code]

I'm using VSCode in Mac and usually, they auto duplicate some file randomly. I suspect that could be related to some git config or command. As you can see, this time the VisualStudio Code generated only 263 files with 2 at the end of the name, but sometimes this happens to 3,000 or 5,000 files.

Why does this happen?

How can I stop it?

You can see some screenshots and more info at https:

[2020-08-07 10:31] #104230 closed

[2020-08-07 10:32] sandy081 commented on #104230
Introduced `data-extension-id` attribute that smoke test can depend on and removed the dependency on label, version & publisher. So you can install an extension just by passing id.

[2020-08-07 10:36] IllusionMH commented on #104234
/needsMoreInfo

Is it reproducible with all extensions disabled?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

Does this happed in latest stable build 1.47 ?

[2020-08-07 10:41] HackAsh96 opened #104235 "'Order by' for open tabs on OPEN EDITORS"
Basically the possibility to order the files based on open time or alphabets, it is annoying to have a lot of files open but you have to go though all of them , when you can just order by alphabet and check the first letter of the file

[2020-08-07 10:45] Shaltz opened #104236 "Ubuntu 18.04.4 : Launching VSCode from a launcher (a system shortcut) takes long time and fails to retrieve/install/show any extensions"
- VSCode Version: 1.47.3 (from snaps/flatpack or from packages, same problem)
- OS Version: Ubuntu 18.04.4

Steps to Reproduce:

FAILS :
1. Launch VSCode using a launcher ( ie a shortcut, accessible by using the SUPER key and then typing 'vscode' in the search bar)...and wait a good 20s for it to load...
2. Go to the Extension tab
3. nothing there and It keeps waiting forever (literally, I can lea

[2020-08-07 10:49] sevencookies opened #104237 "Accessibility on-screen keyboard"
Issue Type: <b>Feature Request</b>

With all other programs, the entering of text will show an enabled on-screen keyboard (enabled via system accessibility preferences). With VS Code, when entering text in any file, the on-screen keyboard does not appear? Would be good to have an option to enable this, similar to screen readers.

VS Code version: Code - Insiders 1.48.0-insider (20cba51fb305868238e

[2020-08-07 10:50] IllusionMH commented on #104233
/needsMoreInfo

Could you please specify how it's related to VS Code editor itself?

Looks like it some runtime problem which is not related to editor.

[2020-08-07 10:50] galenjiang opened #104238 "Question about ts/js deprecated hint"
- VSCode Version: 1.47.3
- Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e
- Date: 2020-07-23T13:08:29.692Z
- Electron: 7.3.2
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- OS: Darwin x64 18.6.0 macOS Mojave 10.14.5

![image](https://user-images.githubusercontent.com/12699258/89632492-db2c4780-d8d4-11ea-9832-cbe68ab20fac.png)
![image](https://user-images.githubusercontent

[2020-08-07 11:09] DanTup commented on #88849
This isn't quite right - looks like I forgot to delete that from `package.json`. We actually spawn in-process:

https://github.com/Dart-Code/Dart-Code/blob/98f568e3a0bb9237a5699f660b0b1ba00d6e1a35/src/extension/providers/debug_config_provider.ts#L467-L478

However, by coincidence yesterday I started moving them back out of process (https://github.com/Dart-Code/Dart-Code/issues/1876) using a `DartD

[2020-08-07 11:17] skmcgowan commented on #87491
I know this is a complex issue and I am not aware of all the detail other than what I read on here and the https://github.com/microsoft/vscode/issues/10121#issuecomment-345770248 .

I see that the electron architecture is one blocker.  The Microsoft teams application has just today popped up saying that my meetings can now pop out, (and they do, its great).  If they have managed that with electron

[2020-08-07 11:19] IllusionMH commented on #104238
/cc @Kingwl @sandersn

[2020-08-07 11:22] #103639 closed

[2020-08-07 11:22] #103628 closed

[2020-08-07 11:22] #103623 closed

[2020-08-07 11:22] #103621 closed

[2020-08-07 11:23] #103607 closed

[2020-08-07 11:23] #103584 closed

[2020-08-07 11:23] #103575 closed

[2020-08-07 11:23] #103564 closed

[2020-08-07 11:23] #103561 closed

[2020-08-07 11:23] #103546 closed

[2020-08-07 11:23] #103533 closed

[2020-08-07 11:23] #103492 closed

[2020-08-07 11:23] #103468 closed

[2020-08-07 11:23] #103433 closed

[2020-08-07 11:23] #103352 closed

[2020-08-07 11:23] #103329 closed

[2020-08-07 11:23] #103265 closed

[2020-08-07 11:23] #102921 closed

[2020-08-07 11:23] #102822 closed

[2020-08-07 11:23] #97649 closed

[2020-08-07 11:23] #95537 closed

[2020-08-07 11:23] #95208 closed

[2020-08-07 11:25] #104232 closed

[2020-08-07 11:45] andreafdaf opened #104239 "Typescript debugger "broken" on 1.47.x and 1.48.0-insider, working up to 1.46.1 (Ubuntu)"
As the title says, looks like Typescript debugger is "broken" on 1.47.x and 1.48.0-insider, was working up to 1.46.1

- VSCode Version: 1.48.0-insider, 1.47.3-1595520028, 1.47.2-1594837870, 1.47.1-1594686231
- OS Version: Ubuntu 19.10

Steps to Reproduce:

1. I have the following debug configuration, I'm not using the tsc task inside the debug config because I keep tsc watch running on the backgro

[2020-08-07 11:45] alexr00 commented on #103942
@smokku thank you for collecting all that! I think I see the problem. Both of the rust extensions contribute `cargo` tasks, so when the the task is resolved, the correct extension must provide the task. That isn't happening, it's only asking the wrong extension to resolve the task.

[2020-08-07 12:33] smokku commented on #103942
Glad I could help.

[2020-08-07 12:35] lszomoru commented on #104185
/needsMoreInfo

[2020-08-07 12:40] jlgenesis opened #104240 "make folder error"
when I make a folder between folders the new folder blank suddely dissapears.

[01.folder1/02.folder2] click 01.folder1 and make new folder.

[2020-08-07 12:41] jtsom commented on #103009
This is still happening in the latest Insiders:
![image](https://user-images.githubusercontent.com/13488/89646424-bc549380-d889-11ea-821d-0812cf825c01.png)
[code]

[2020-08-07 12:45] lszomoru commented on #104194
I believe that this is by design due to the fact that there is a default keybinding for `z`.

![image](https://user-images.githubusercontent.com/3372902/89646716-97c5df00-d8bc-11ea-8a2c-7b39b2a975cd.png)

[2020-08-07 12:48] heartacker commented on #40295
Close to 3 years,......
I think that it will be better that user click `amend` that vscode copy the last-commit message to the commit-input-box. that user can edit again or just click `cmomit` continue.

[2020-08-07 12:58] alexr00 commented on #103942
This is going to require a complex fix. Ideally, the rust analyzer and rust extension wouldn't both contribute very similar cargo tasks. However, it should be possible to deal with this in the tasks system.

[2020-08-07 13:01] heartacker commented on #40295
here is another way is that using cli to execute `git commit --amend` ,then git-scm.exe will open the last commit-msg with vscode(`git config --global core.editor "code --wait"`),then edit,save,close.
if using gerrit. remind that delete the `chang-id` before
![image](https://user-images.githubusercontent.com/1876302/89647553-50f1dc80-d8f0-11ea-913e-4235c250da8a.png)

[2020-08-07 13:02] hey24sheep opened #104241 "Unable to setup for contribution/dev, memfs.ts is detected as backdoor in window defender"
I want to contribute but I am unable to setup or run vscode for development. A little help will appreciated, Thank You.

- VSCode Version: Latest
- OS Version: Windows 10 latest build
- Error Caused by : vscode\vscode-web-playground\src\memfs.ts

Steps to Reproduce:

1. Fork VSCode
2. Run yarn in ./vscode
3. Run .\scripts\code.bat
4. Windows defender will give you a threat notification

![vscode e

[2020-08-07 13:06] orgads commented on #40295
You should *not* delete Change-Id. This is how gerrit associates your commit with the change entity.

[2020-08-07 13:07] lishoujun opened #104242 "Can't "Rename Symbol" variable in fstring (Python 3)"
- VSCode Version: 1.46.1
- OS Version:CentOS release 6.3 (Final)

Steps to Reproduce:

1. add code like this
[code]
2. Rename Symbol a1111
3. only a1111 in first line is renamed, a1111 in fstring isn't renamed

Does this issue occur when all extensions are disabled?: Yes/No
python itself is an extension

[2020-08-07 13:11] mlaopane opened #104243 "typescript language feature failed 5 times"
Issue Type: <b>Bug</b>

Starting VSCode show up the error popup. I have no idea why.

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T15:51:39.791Z)
OS version: Linux x64 5.4.0-42-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-8100 CPU @ 3.60GHz (4 x 3600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<b

[2020-08-07 13:12] heartacker commented on #40295
seem that every commit will generate a new chang-id. if not there are two changeids in the commit-msg. To seek the answers to authority

[2020-08-07 13:18] danielo515 commented on #102750
Then I will not get any intellisense and go-to-file at all? Or will the flow extension take care of that?
By the way, not sure if I mentioned but this is a pretty big repository. Right now I'm using it by opening just two subfolders as part of a workspace, can that have any impact?

Is there any way I can check if that is the case?

I can provide a screen recording if you want to take a look at it

[2020-08-07 13:23] alexr00 commented on #103942
As a work around for you in the mean time @smokku , you should be able to use the Configure Task command to create a tasks.json with the rust tasks you care about.

[2020-08-07 13:25] andisfar opened #104244 "setting breakpoint crashes debug session"
- VSCode Version: 1.47.3
- OS Version: CentOs 7.5

Steps to Reproduce:

1. Launch debug session of multithreaded c++ application (I am using proprietary software which is multithreaded c++ app)
2a. attempt to set a break point and the application in debug crashes.
2b. attempt to disable and then re-enable a pre-existing breakpoint and the application in debug crashes

No issues with a non-multithr

[2020-08-07 13:30] joaomoreno commented on #84297
@eamodio Since you're out on vacation, I'll move this forward.

[2020-08-07 13:31] orgads commented on #40295
If this happens to you, something is wrong with your commit-msg hook...

[2020-08-07 13:31] joaomoreno commented on #103591
Talked to @deepak1556, he will bring in the fix in Electron.

[2020-08-07 13:37] heartacker commented on #40295
Do you mean that I don't need to delete the change-ID, It will keep the ID after Amend? thank for you remind

[2020-08-07 13:44] orgads commented on #40295
Exactly

[2020-08-07 13:44] weinand commented on #104244
/extCpp

[2020-08-07 13:44] #104244 closed

[2020-08-07 13:46] isidorn commented on #104230
I also saw the same...

[2020-08-07 13:47] andrew-maust commented on #103631
Oh alright, I realized I misunderstood so that is why I deleted my comment. I apologize for any confusion.

[2020-08-07 13:48] isidorn opened #104245 "Search smoke test fails"
Linux, run smoke test, notice error
fyi @roblourens
I manually verified that search and replace seems good.

[code]

[2020-08-07 13:48] #104242 closed

[2020-08-07 13:48] osolo opened #104246 "preLaunchTask does not fire on restart for "node" adapter"
- VSCode Version: 1.47.3
- OS Version: Windows 10 1909

Steps to Reproduce:

1. Create an project that uses the node adapter.  In my case I'm targeting Electron with Typescript.
2. Add a `preLaunchTask`
3. Run the application
4. Edit one of the `.ts` files, introduce a syntax error
5. Hit the Restart button on the toolbar or `Ctrl+Shift+F5`

Expected: Should complain about the syntax error.
Actual

[2020-08-07 13:53] Teddy7595 opened #104247 "TS Server fatal error: Debug Failure. False expression."
**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

[2020-08-07 13:53] isidorn commented on #103382
Let's reopen this issue and give more time for @jvesouza to respond

[2020-08-07 13:54] isidorn commented on #104240
Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/
Also please write precise reproducable steps

[2020-08-07 13:55] isidorn commented on #104237
@sevencookies Can you explain a bit more how does the on-screen keyboard help? I am just curious.
I believe this would need to be supported by electron.

[2020-08-07 13:56] #104235 closed

[2020-08-07 14:01] Shaltz commented on #104236
Workaround:
Create a custom launcher with a different icon to recognise it

Create a file
~/.local/share/applications/VSCode.desktop

in it, add this bit of code :

[code]

and now you can search for it like any other application,
it will launch fast and extension will work

[2020-08-07 14:15] andrew-maust commented on #103631
Hi upon further investigation it appears that this feature uses a different list. I believe that it goes off of this list found in settings
<img width="981" alt="Screen Shot 2020-08-07 at 10 13 42 AM" src="https://user-images.githubusercontent.com/69081050/89654582-dd6fb100-d896-11ea-8623-3ee0a3d1468e.png">

[2020-08-07 14:16] adammahon commented on #103261
Just an FYI, this seems to occur when using the `"debug.node.autoAttach": "on"` setting. Which is a problem since using `autoAttach: on` means no launch.json file exists.

[2020-08-07 14:21] alexr00 opened #104248 "Publish to GitHub appears to be no-op"
verifying https://github.com/microsoft/vscode/issues/101795

1. Create new folder
2. Open folder in VS Code
3. Add a file hellofile.js, don't add anything to the file
4. SCM view -> Publish to Github
5. Nothing appears to happen

![recording (12)](https://user-images.githubusercontent.com/38270282/89655236-170ddf80-d8ca-11ea-922c-9c9c04aaa0ae.gif)

[2020-08-07 14:23] alexr00 commented on #104248
Nothing in the git or GitHub Athentication output.

[2020-08-07 14:45] #104224 closed

[2020-08-07 14:45] FelixBenning opened #104249 "Devcontainer multiple postCreateCommands"
Currently the only way to execute multiple postCreateCommands is by using "&&". Since this command is suggested to be used to install additional tools like git, curl, etc. this can get quite long. For example the RTools Extension requires a .NET installation. So if I want a linter for python and R I have to do something like this:

"apt-get update && apt-get install -y git && conda install --name

[2020-08-07 14:45] HackAsh96 commented on #104235
I dont' undersand why you closed this when it's not even implemented for the OPEN EDITORS , if you can do it and if it's already implemented , can you show me where ?

[2020-08-07 14:51] civortech opened #104250 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 3.9.6

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
[co

[2020-08-07 14:51] masternikhilgupta commented on #103744
I have tried, but the same problem exists again. i have attached the Screenshot also.
![Screenshot (24)](https://user-images.githubusercontent.com/69069049/89657960-8cd67300-d8eb-11ea-919f-8844da4d5cca.png)

[2020-08-07 15:01] sandy081 commented on #103246
To verify:

- Run command `Settings Sync: Select Service...`
- Switch between insiders / stable settings Sync service.

Make sure switching is smooth and works as expected (Settings sync continues to sync after switching)

[2020-08-07 15:07] Klaim opened #104251 "VSCode prevents moving any git directory under the working directory on Windows"
Context
--------

Version: 1.48.0-insider (user setup)
Commit: 2277c8e2a3e1cc630a6397301ba54a1dccd8a60d
Date: 2020-08-07T11:32:09.993Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.17134

[code]

### NOTE: This issue have been there for a long time, in years, but I only figured the root now.

It prevents some usage patterns when using [`bui

[2020-08-07 15:08] el commented on #104239
I can confirm this issue is present in `VS Code 1.47.3` and `Ubuntu 18.04.4`
![image](https://user-images.githubusercontent.com/1488164/89659792-0add4e80-d8d9-11ea-8768-4784ba65682a.png)

[2020-08-07 15:09] HackAsh96 commented on #104235
Can you address me on it , cause I cannot find the one that I am addressing 👍

[2020-08-07 15:23] AqeelAT opened #104252 "[Bug] VS Code window spills over to other monitors when the screen is maximized."
Issue Type: <b>Bug</b>

- VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
- OS version: Windows_NT x64 10.0.19041
Does this issue occur when all extensions are disabled?: Yes

1. connect laptop to a secondary monitor
2. launch VS Code
3. double click on the title bar for VS code to maximize the screen
4. You will then see the bars appear on the edg

[2020-08-07 15:29] sandersn commented on #104238
I can repro this with the following program:

[code]

Note that *uses* are marked correctly, just the import is incorrectly marked deprecated:

[code]

The import needs to be treated the same as the uncalled function on the first line.

@mjbvz I can't figure out how to move this to the typescript repo, but I'll start looking at this to be fixed before the full 4.0 release.

[2020-08-07 15:42] heartacker commented on #40295
perfect example in Visual Studio ~Code~
![amend_vs](https://user-images.githubusercontent.com/1876302/89662990-70e0ca80-d907-11ea-8c46-116f432240ac.gif)

[2020-08-07 15:45] sbatten commented on #104176
@rebornix still able to copy cells from the toolbar and paste them with command palette or ctrl+shift+v

[2020-08-07 15:48] alexdima commented on #103873
@connor4312 I cannot reproduce. Here is what I am doing:
* configure `"extensions.webWorker": true`
* create a file `test.js` with the content `console.log(`hello world!`);`
* put a breakpoint on the console statement
* press F5

I notice that the breakpoint is hit:
![Kapture 2020-08-07 at 17 47 34](https://user-images.githubusercontent.com/5047891/89663659-27c45280-d8d6-11ea-8928-6474b615810c.gif

[2020-08-07 15:50] Wellers0n opened #104253 "When I rename a branch in git and use vscode's git it seems to take the old branch after renaming"
- VSCode **Version: 1.47.3**
- OS Version: **ubuntu 18.4**

Steps to Reproduce:

1. Use a branch with name: plug
2. rename this branch to: plugin (use: git branch -m plugin)
3. then use git in vscode to commit. It will commit to the old branch

Does this issue occur when all extensions are disabled?: No

[2020-08-07 15:51] IllusionMH commented on #104252
/duplicate of #85310

[2020-08-07 15:52] #104252 closed

[2020-08-07 15:55] alexdima commented on #103096
@nnethery I looked at the CPU profile and I see something very bizzare around proxies / CAs:

![image](https://user-images.githubusercontent.com/5047891/89664230-1c255b80-d8d7-11ea-9dec-3ae301f11df2.png)

Are you using some weird proxying ?

[2020-08-07 15:59] connor4312 commented on #102057
@worksofliam please file an issue with further details and the template information here: https://github.com/microsoft/vscode-js-debug/issues/new/choose

[2020-08-07 16:03] rebornix commented on #102092
Verifier:

* Create a new GitHub issue notebook
* Create two code cells, first one `abc`, second one `def`
* Join these two cells (Notebook: Join with next/previous cell)
* Verify if the new cell content is `abc\ndef`.

[2020-08-07 16:03] #102092 closed

[2020-08-07 16:04] anvesh437 opened #104254 "VS Code Crash"
Issue Type: <b>Bug</b>

VS code is getting crash when I do coding. Faced twice today.

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4300U CPU @ 1.90GHz (4 x 2494)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<

[2020-08-07 16:05] rebornix commented on #103008
The timeout is due to the first failure of the notebook integration test: `notebook workflow document runnable metadata is respected`.

Verifier, please test:

* Create a GitHub issue notebook
* Create a code cell
* Type in `$`, the execution button should be visible
* Continue typing `$a=123`, the execution button should be gone

[2020-08-07 16:05] #103008 closed

[2020-08-07 16:06] connor4312 commented on #103873
Oh, my bad, I mentally conflated this and https://github.com/microsoft/vscode/issues/104004.

Things work here!

[2020-08-07 16:06] #103873 closed

[2020-08-07 16:07] connor4312 commented on #104239
[code]

You can fix this by pointing your program at the compiled file, rather than the source file.

/duplicate https://github.com/microsoft/vscode/issues/102873

[2020-08-07 16:08] #104239 closed

[2020-08-07 16:08] connor4312 commented on #103261
@adammahon you're seeing https://github.com/microsoft/vscode/issues/103099

[2020-08-07 16:17] sandersn commented on #104238
Fix is available at microsoft/TypeScript#39950.

[2020-08-07 16:20] weinand commented on #102873
@connor4312 in node-debug we were accepting an *.ts entry point as long as we could find a generated *.js file in "outFiles" that would map back to it via a source map. Is using js-debug the same approach?

[2020-08-07 16:23] misolori commented on #95199
@banacorn if you take a look at the sample webview from above you can see an example:

**asWebviewUri**
https://github.com/microsoft/vscode-extension-samples/blob/22d5639ff5c1d88f144c057fc3d29cc9dfd99d62/webview-codicons-sample/src/extension.ts#L34

**CSP**
https://github.com/microsoft/vscode-extension-samples/blob/22d5639ff5c1d88f144c057fc3d29cc9dfd99d62/webview-codicons-sample/src/extension.ts#L

[2020-08-07 16:25] yasanthachamara commented on #103082
No worries @deepak1556 . Please find the HAR file attached.
[file.zip](https://github.com/microsoft/vscode/files/5042562/file.zip)

[2020-08-07 16:25] vtrnnhlinh opened #104255 "can't see Compiler log"
I installed miktex and latex workshop
I tried to build my tex file
they can't build it and ask me to see the compiler log, but when clicking on it, the output is empty

[2020-08-07 16:34] pedroha commented on #104190
Greetings,

I downloaded visualcode insiders and I can open folders fine!

I tried the command

code --user-data-dir .

and it did not open the current directory; however, after that, I was able
to manually open folders: File -> open
And I'm also able to drop and open folders.

Thanks for the help!

Let me know if you need anything else.

Regards,
Pedro

On Fri, Aug 7, 2020, 3:39 AM Isidor Nikolic

[2020-08-07 16:38] yuval-gilboa opened #104256 "Keyboard usability issue in quickopen file command"
Issue Type: <b>Bug</b>

From anywhere in VSCode:

1. Click Ctrl+P
2. QuickOpen prompt opens
3. Start typing file name
4. Quick partial results list is shown
5. Move with down arrow to move focus to one of the files but don't press Enter yet
6. Full results list is returned and focus is moved to first line
7. Press Enter - the first file will be selected instead of the file intended

The focus chan

[2020-08-07 16:38] deckberg-quantumdigital commented on #100758
In the meantime I did fine a work around.  In Windows 7 I changed the color of my cursor to bright green and that works for me.

[2020-08-07 16:39] connor4312 commented on #102873
It is, and we have some tests for it, but it looks like there's something that might not work at parity with node-debug's treatment.

Since I know it works in some cases and this is an uncommon case with an easy workaround, I didn't triage it for July, but will tackle it during debt week or the upcoming iteration.

[2020-08-07 16:44] TimWhiting commented on #103886
I've been getting the same error. It's been happening for awhile for me.

[2020-08-07 16:48] misolori commented on #104115
Oh I definitely like that. One thing we'd need to work around is how it looks when it's centered because of our add new cell buttons:

![image](https://user-images.githubusercontent.com/35271042/89588942-89fb5580-d7f9-11ea-9616-4197d8d656d6.png)

[2020-08-07 16:57] ARTech-7 commented on #103606
So, this issue is being worked on, right?

[2020-08-07 16:58] gurrrung commented on #103222
Can we keep this open?

[2020-08-07 16:58] pmkary opened #104257 "Git Indentation Line in collapsing with the Icons"
### Version
Version: 1.47.3
Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e
Date: 2020-07-23T13:08:29.692Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0

### Problem

I guess the image is worth all the words :) The indentation line and all the icons are in bad place:

<img width="412" src="https://user-images.githubusercontent.com/2157285/89

[2020-08-07 17:05] Untitleddotpy commented on #95062
Did anyone find a solution for this?

[2020-08-07 17:14] arisdanang opened #104258 "Red Mark"
when i clicked a HTML Tag appears a red mark in the HTML Tag.

[2020-08-07 17:17] robole opened #104259 "Problem with including markdown as language for Emmet"
Version: 1.48.0-insider (user setup)
OS: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Open settings.json
2. Add the setting:
[code]
3. Open a markdown file and try to use emmet, it does not work.

There is a workaround discussed in [this stack overflow question](https://stackoverflow.com/questions/49956963/markdown-not-using-emmet). The following will work:

[code]

[2020-08-07 17:23] claudiaregio opened #104260 "Collapse Chevron - Native Notebooks Editor"
Users during Python Extension Native Notebooks QP (5/8) failed usability test on collapse cells.

Potential solution is to make the chevron marker larger or more bold.

[2020-08-07 17:26] RMacfarlane opened #104261 "Value sometimes lost when trying to add item to settings array"
Issue Type: <b>Bug</b>

1. Use the `files.association` setting
2. `Add item` and then fill in a value without a key
3. Tab to cancel

After a moment, focus gets reset on "Key" and the text in "Value" is cleared. Seems to happen only the first time the settings page is open.

![value_cleared](https://user-images.githubusercontent.com/3672607/89671720-558aa680-d898-11ea-82f3-0b7da2248ea3.gif)

VS Co

[2020-08-07 17:31] poojan0099 commented on #103653
where should i type this command: `--log-net-log=netlog.json`
@chrmarti

[2020-08-07 17:32] misolori opened #104262 "Notebook execution hangs even after output completes"
![image](https://user-images.githubusercontent.com/35271042/89672146-190b7a80-d899-11ea-9d4c-6c5288962e37.png)

It's hard to repro this but if you run all cells and then clear all output and re-run a couple of times you will end up in a state where the cell progress hangs even though the output completes. It ends up affecting a lot of cells and hard to tell what's going on:

![image](https://user-

[2020-08-07 17:37] rchiodo commented on #100238
Creating a new file works, but you can't close it.

When I attempt to close the file this happens:

![image](https://user-images.githubusercontent.com/19672699/89672747-0a719300-d89a-11ea-9396-7d2cdffa8be3.png)

[2020-08-07 17:40] rchiodo commented on #100238
@mjbvz is this a known limitation or should I open a separate bug? You kinda made it sound like untitled files just aren't supported.

[2020-08-07 17:41] sandersn commented on #104238
This is now merged and will be available in Typescript 4, although it didn't make it into the RC.

[2020-08-07 17:46] poojan0099 commented on #103653
![image](https://user-images.githubusercontent.com/48233985/89673364-d8951680-d903-11ea-9727-e4f86c86e7c1.png)

The Screen shot of Command Prompt.

[2020-08-07 17:55] joaomoreno commented on #73805
\closedWith 0ff864739b9e4d5d5032308fa13bb7093c6e974d

[2020-08-07 17:55] roblourens opened #104263 "Drag folded cells + undo, redo"
![Aug-07-2020 10-54-13](https://user-images.githubusercontent.com/323878/89674069-5c1b1d00-d89c-11ea-9d85-233b9ed46ef8.gif)

- Follow the steps for the first item in https://github.com/microsoft/vscode/issues/99882
- Drag the cell under 2, it works
- Undo, it's correct
- Redo, now cells are out of order

[2020-08-07 17:55] kentonv commented on #80263
Today I found vscode had leaked 168 file descriptors into my terminal, pointing to lots of Chromium shared memory segments, V8 snapshot, fonts, other static assets, etc.

I think its important that vscode fix this by closing all FDs greater than 2 before exec'ing the terminal. Developers commonly run buggy work-in-progress code in their terminal, and it would be pretty easy for buggy code to accid

[2020-08-07 17:56] joaomoreno commented on #73805
Actually... verification steps:

1. Install VS Code on Windows
2. Go to the installation directory
3. Right click `uninst000.exe`

Make sure product name and product version have values:

![image](https://user-images.githubusercontent.com/22350/89674208-12582400-d8e8-11ea-8882-da4516eedba2.png)

[2020-08-07 18:01] joaomoreno commented on #104248
Can you check devtools?

[2020-08-07 18:03] joaomoreno commented on #104248
Great catch, I broke it this week!

[2020-08-07 18:05] #104248 closed

[2020-08-07 18:06] roblourens commented on #104263
This doesn't repro every time

[2020-08-07 18:06] joaomoreno commented on #104255
How is this related to VS Code?

[2020-08-07 18:08] joaomoreno commented on #103989
Awesome, I'll close this for now and let me know what you think when that lands. 🙏

[2020-08-07 18:08] #103989 closed

[2020-08-07 18:09] joaomoreno commented on #104257
This is bound to happen with the default indentation level. Feel free to increase the indentation level with the `workbench.tree.indent` setting.

[2020-08-07 18:09] #104257 closed

[2020-08-07 18:16] ASLAVA opened #104264 "Live Server extension no longer works correctly after update."
- VSCode Version: 1.47.3
- OS Version: Linux x64 5.4.55-1-lts

Steps to Reproduce:

1. Install Live Server, Go Live
2. Server does not auto-update after update. Must save file after each change for live server to show changes

Does this issue occur when all extensions are disabled?: Yes/No

[2020-08-07 18:17] #104264 closed

[2020-08-07 18:24] andrew-maust commented on #103343
@ardianta Can you clarify something for me?

Is the expected behavior in this structure
[code]
have the path be "../images/example.jpg

and in this case
[code]
to have the path be "/images/example.png"?

[2020-08-07 18:25] bawaalbhai opened #104265 "No sfdx coomands working"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-08-07 18:26] #104265 closed

[2020-08-07 18:38] captainkout commented on #103844
I verified that turning the prettier extension and also setting edit.formatonsave did not resolve this issue.
![image](https://user-images.githubusercontent.com/13241145/89677527-99db6e00-d8bb-11ea-96f3-5bc23ff86858.png)

[2020-08-07 18:43] KeithHanlan commented on #28310
It seems that there are a lot of situations when a user may wish the minimap to be disabled. Perhaps a general solution is called for: editor.minimap.disableIf: ["fileFitsInView", "viewNotInFocus", "notScrolling"]

However it is implemented, it would be very nice if there was support for conditionally disabling the minimap.

[2020-08-07 18:54] mjbvz commented on #104250
Duplicate of https://github.com/denoland/vscode_deno/issues/89

Seems caused by the deno extension

[2020-08-07 18:54] #104250 closed

[2020-08-07 18:54] JacksonKearl commented on #104157
How can I configure my tsc to log under a different locale? I tried changing my system to chinese and I got:

[code]

[2020-08-07 18:54] mjbvz commented on #104247
You are using an old version of TypeScript: 3.8.3. This issue should be fixed in current TypeScript versions (3.9.7+) with current VS Code builds

[2020-08-07 18:54] #104247 closed

[2020-08-07 18:55] mjbvz commented on #104243
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-08-07 18:58] roblourens commented on #104245
Can't repro 🤷‍♂️

[2020-08-07 18:58] mjbvz commented on #102750
It's actually worse: because Flow uses normal `.js` files, VS Code's JS/TS IntelliSense will treat Flow code as normal JavaScript. While some things will appear to work, Flow specific syntax may cause the IntelliSense engine to have major problems (including possibly breaking your code on operations like format or organize imports)

Again, if you are using Flow, disable the built-in JS/TS extensio

[2020-08-07 19:00] mjbvz commented on #104228
Please fill in the issue template /needsMoreInfo

Also does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-08-07 19:06] muisance commented on #103943
I'm afraid I deleted/replaced those just to be safe, but I'll look if I did save a copy or something. But if I'm not mistaken, the actual contents of those files weren't changed by the program (Notepads, that is), I think it's just that the program itself has some issues with signatures/certificates.
I uninstalled Notepads due to obvious reasons, but since I'm a part of Insider initiative, I think

[2020-08-07 19:06] nickfloyd opened #104266 "When deleting a folder or file in GitHub Code Spaces the delete dialogbox does not hide after clicking delete"
**Steps to reproduce:**
1. Open a new or existing project in Code Spaces
2. Create a file or folder
3. Right-click on the created item - choose "Delete permanently"
4. Click "delete" in the dialog box

Note: The dialog box does not hide.

**Env details:**
Google Chrome
Version 84.0.4147.105 (Official Build) (64-bit)

Code Spaces details:
* Settings sync is on
* Logged in with a GH profile
* Projec

[2020-08-07 19:08] longcontest commented on #40115
I am using ubuntu and this issue is present in Visual Studio Code here too. I think i want it to be like CLion where indentation is always at the current indent level and not go into inline. Much useful. It must be fixed

[2020-08-07 19:09] Spongman commented on #101031
there needs to be more places to put the 'floating' toolbar. all of the places you can put it now are obscuring some other UI elements.

[2020-08-07 19:12] JacksonKearl commented on #101795
Blocked on #104248.

[2020-08-07 19:12] MaddyDev opened #104267 "markdown internal file links don't work anymore"
- VSCode Version: Insiders
- OS Version: not OS specific.

Steps to Reproduce:

1. Open any markdown file with relative file links
2. Click open the link, it doesn't open the file instead it opens the file explorer and focuses document open in the editor.

We're using webview to show markdown files.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-08-07 19:15] deepak1556 commented on #103591
After a bit more investigation the issue is not in electron, we are using the wrong api to set persistent zoom levels. There are 3 different ways to set zoom level for a page.

1) Setting `zoomFactor` option on the `BrowserWindow` constructor
   - This will be the default zoom level for a page if set

2) using `webframe.setZoom(Level|Factor)` api
   - This is the renderer side api available to set

[2020-08-07 19:17] deepak1556 commented on #103591
I am gonna revert the change from https://github.com/microsoft/vscode/commit/c7fe3b41ae4c22de8b84a95076b8fe43aa259635 and follow up with the fix in a separate PR for next iteration, mainly because endgame week is closing and only limited testing can be done.

[2020-08-07 19:28] mjbvz commented on #101203
Thanks for testing @JacksonKearl. Yes I only tested with a local web build. Will see if I can figure out what is different about code spaces...

[2020-08-07 19:30] mjbvz commented on #100238
A separate issue would be best. We haven't focused on support for untitled files, in part be because we're still seeing how people use custom editors. We also need proper apis for creating untitled files in the first place

[2020-08-07 19:55] Charles-Gagnon commented on #104267
Note that this is specifically for non-md files.

Attached some [sample files](https://github.com/microsoft/vscode/files/5043401/issue.zip) to demonstrate the issue. In VS Code stable both links in index.md open the respective files. In Insiders only the markdown link works.

The change that seems to have broken this is https://github.com/microsoft/vscode/commit/fdf23dc5f95f4a17b246dbebc9af14dab50

[2020-08-07 19:57] gabrielew commented on #100093
`sudo kill 'sudo lsof -t -i:9229'` fixed for me, but at once a day i have to execute this.

[2020-08-07 19:57] soulshined commented on #104049
This also happens with me on windows 10 but for `Dirtelti.OD`:

![Annotation 2020-08-07 145622](https://user-images.githubusercontent.com/11242654/89683506-461e5400-d8be-11ea-87f2-7cf641a5497f.png)

[2020-08-07 19:59] discombobulateme opened #104269 "Erratic behavior in Node.js debugger when a class has a public class field"
- VSCode Version: 1.47.3
- OS Version: macOS 10.15.6

**Steps to Reproduce:**

1. Copy/Paste this code into your VSC
[code]
2. Insert a breakpoint on line 4
3. Start debugger
4. It stops on line 4. Click on Step Over
5. It doesn't stop on line 5 and finishes the execution
6. Note: it was also checked and on 1.48.0-insider (and doesn't work)
The debugger should have stopped on line 5, but instead,

[2020-08-07 20:03] rchiodo opened #104270 "Creating an untitled pawdraw file does not allow the file to be closed or written"
- VSCode Version: 1.47.3
- OS Version: Windows 10

Steps to Reproduce:

1. Clone the samples at https://github.com/microsoft/vscode-extension-samples
2. Run the custom editor sample
3. Create a new blank pawdraw file
4. Save the file - file does not save to disk
5. Try to close the editor - this error appears

![image](https://user-images.githubusercontent.com/19672699/89683989-63e3bd00-d8ae-11ea-

[2020-08-07 20:04] rchiodo commented on #104270
Related to: https://github.com/microsoft/vscode/issues/100238

[2020-08-07 20:06] #103591 closed

[2020-08-07 20:32] KeyC0de commented on #60977
How's development on this coming along? Will the fix be merged to a future vscode release version? When this happens will this issue be marked as resolved? Anything I can do? Thanks.

[2020-08-07 20:38] RyanAfrish7 opened #104271 "Allow file explorer to have sticky parent directory"
In the explorer view (and possibly other tree views), when dealing with directories having thousands of children items (eg. node_modules), there is no quick way to collapse such a directory and go one level up. I propose making the immediate parent directory element sticky at the top as shown in the image below.

![image](https://user-images.githubusercontent.com/9781909/89685680-75fb4500-d91a-11e

[2020-08-07 20:38] rchiodo commented on #104270
Sorry but this seems to work fine in the latest insiders version. I should have used that to test it first.

[2020-08-07 20:38] #104270 closed

[2020-08-07 20:38] iamrekas opened #104272 "bug/feature - extension install"
- VSCode Version: 1.47.3
- OS Version: win 10

Steps to Reproduce:

1.open remote connection
2.try install any extension

Available install only on remote connected server. it's wrong, cause i wanna install on local, but must to open new instance to install local...

and version if installed SPECIFIED installed already please DON't UPDATE.. force update IS NOT GOOD! sometimes must install older ve

[2020-08-07 20:42] leanmeandean opened #104273 "Cmd+G should gain search context, on Mac"
Issue Type: <b>Feature Request</b>

Text search applications hands the "text content” or “any text” you searched for to the next application. Often that application can then find the matched text using command-G / Find Next. This works as expected with Xcode, Sublime Text, but not with VSCode

ie.
Open text search application ( ie. HoudaSpot )
Search for a string among files
Open matched file in a

[2020-08-07 21:08] sevencookies commented on #104237
Hello,
The on-screen keyboard can help people who have difficulty using a regular keyboard and find it easier to use a mouse, rollerball, joystick, headpointer or some other pointing device. I have trouble using some keys on my keyboard so a virtual accessibility keyboard is useful for me.
I was thinking options to extend the accessibility features of VS Code could be considered in addition to som

[2020-08-07 21:12] KDharmindar commented on #104178
Hi @robole @mjbvz and @epiacentini
Is this issue still open? I would like to fix the issue. I am a new comer and want to become a full time contributor.

[2020-08-07 21:18] epiacentini commented on #104178
I submitted my PR but I am just waiting on it to get approved. @KDharmindar

[2020-08-07 21:20] ultraGentle commented on #60977
PR author here: I think we need to request a 2nd reviewer -- @rebornix was initially quite responsive but it's possible he got pulled away on another project and this got lost in the mix.  (Not complaining, just speculating!)

I don't know how to request another review, so if anyone knows how to flag this or get someone's attention to it, by all means take the ball and run.

Finally, if a 2nd revi

[2020-08-07 21:25] stephenwf commented on #70764
@austinstudio If you go to the iPad safari settings and turn off "Disable pop-up windows" or something similar that will allow you to command click.

Share copy and paste doesn't work with code-spaces though!

[2020-08-07 21:32] #104170 closed

[2020-08-07 21:32] #104176 closed

[2020-08-07 21:32] #104196 closed

[2020-08-07 21:39] deepak1556 commented on #104190
don't specify the current directory, please provide an absolute path `code --user-data-dir /tmp/code-temp-profile`

Seems like a corrupt state, https://github.com/microsoft/vscode/issues/102975 should fix this as well. Closing this in favor of it.

[2020-08-07 21:39] #104190 closed

[2020-08-07 21:47] jlgenesis opened #104274 "Close others, close the tabl also"
Issue Type: <b>Bug</b>

right click the tabs and click close others

expect result: the tab by self should be remain
actual result: all tab closed

VS Code version: Code - Insiders 1.48.0-insider (5696babbc1dce41788bae04b1a04ad35140bebfb, 2020-08-03T05:51:31.732Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 1600 Six-Core

[2020-08-07 21:48] KDharmindar commented on #104178
ok @epiacentini . I will pick something else. I am trying to build it through source. Have you been able to do that?

[2020-08-07 22:01] rebornix commented on #104262
Considering that the reproduce steps include "run all cells and then clear all output", I think it might be the Python extension not handling the token cancellation well. cc @DonJayamanne

[2020-08-07 22:21] danitetus opened #104275 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 3.9.6

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
[co

[2020-08-07 22:38] deepak1556 commented on #104150
Thanks for the added context, this is an electron issue, seems to be specific to the locale being used and also the OS. I am not able to repro the crash on Ubuntu 20.04. Can you file an issue in electron https://github.com/electron/electron/issues with the minimal repro https://gist.github.com/deepak1556/29c2babd2968ffd639a18e37a5d9ff04 and also any locale to be used.

Can you try launch code with

[2020-08-07 22:48] rob3c commented on #103159
@joaomoreno VSCode Insiders build still connects to `https://default.exp-tas.com/vscode/ab` even when telemetry is disabled. It does this every 30 minutes.

Here's a sample redacted request/response pair:
[code]
[code]

[2020-08-07 22:53] rebornix opened #104276 "Notebook: markdown cell height not updated correctly"
Issue Type: <b>Bug</b>

* Create two markdown cell and one code cell
  * md `## header 1`
  * code `repo:microsoft/vscode`
  * md `## header 2`
* Collapse the first markdown cell
* Drag the first markdown cell to the bottom of the document
* The space between the first cell (`## header 2`) and the second (`## header 1`) is way too large

The height of the first list item is larger than the view la

[2020-08-07 23:54] lostmsu opened #104278 "Split launch.json in multiple files to allow local/shared configurations"
When developing a project, I often need to play with launch configurations on my local machine with various environment variables, local files, etc for debugging.

Generally, I store shared launch configurations in `launch.json`, meaning they get checked in with the project into the source control. When I play locally, I need a separate set of launch configurations. E.g. `launch.local.json`, which

[2020-08-08 00:00] mjbvz commented on #104275
Duplicate of https://github.com/denoland/vscode_deno/issues/89

[2020-08-08 00:00] #104275 closed

[2020-08-08 00:27] rholland opened #104279 "assigning short-cut keys to workspace snippets not working."
The example json entry from docs is:
[code]
where langld is the file name of the "json user snippet file".  A workspace snippet file has the name  name.code-snippets.  But assigning keys using that approach does not work. Should it?  I have confirmed that the snippets are found and they work.

[2020-08-08 01:20] hcoat commented on #99691
I am hoping this issue could have another look.

While URLs like `vscode://file/$wsl/distro/path/to/file:18` will open the file in a new `local` window and not a `remote-wsl` window or project.
This is problematic because the extensions and settings are not the same for `local` and `remote-wsl` connections, making the new window unusable for me.

`wsl$` URLs really needs to be opened in the curren

[2020-08-08 01:24] #104104 closed

[2020-08-08 01:38] jlgenesis opened #104280 "open folder open dialog twoice"
We have written the needed data into your clipboard
Issue Type: <b>Bug</b>

click - file ope folder
it shows folder select dialog
after close dialog click close button or select folder and okay
it shows folder select dialog again

VS Code version: Code - Insiders 1.48.0-insider (5696babbc1dce41788bae04b1a04ad35140bebfb, 2020-08-03T05:51:31.732Z)
OS version: Windows_NT x64 10.0.18362

<details>
<su

[2020-08-08 02:16] hantingbyte opened #104281 "Node.js debugger disconnected too early"
- VSCode Version:: 1.47.3 (user setup)
- OS Version: Windows_NT x64 10.0.18363
Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e
Date: 2020-07-23T13:12:49.994Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0

Steps to Reproduce:

1. create source code test.js as below

[code]

2. change the launch.json as below
[code]

3. press F5 and run multiple times, the output c

[2020-08-08 02:41] breathe opened #104282 "UX Improvement: need a new behavior similar to the current workbench.editor.revealIfOpen behavior"
When `workbench.editor.revealIfOpen` is set to true -- the behavior of the editor when 'opening' a link to a file is to reveal the file _in its existing pane_ if its open already.

I enable this because I got sick of having every file accumulating in every single pane in a multi-pane arrangement.  Without the setting enabled I end up having waaay too many tabs open because basically every file bec

[2020-08-08 03:00] caozhaohong opened #104283 "Is it possible to extend exising API 'vscode.extensions.onDidChange()' to 'vscode.extensions.onDidChange(evntType)'?"
I am facing same problem as issue:
    https://github.com/microsoft/vscode/issues/103825

AS-IS: vscode.extensions.onDidChange() can only being called in case 'installed/uninsalled/diable/enable' happened.

TO-BE: I can get onDidChange() only in case 'uninsalled' happened.

My application scenario is:
1) When developer uninsallled my exention, I want to show him a message 'Dear after uninstalled t

[2020-08-08 04:03] deepak1556 commented on #103082
Unfortunately the HAR only contains extension search, did you record with a full reload ? It should be something like the following

<img width="1026" alt="Screen Shot 2020-08-07 at 9 02 24 PM" src="https://user-images.githubusercontent.com/964386/89701994-57348880-d8f1-11ea-8bfe-0bd981b7c539.png">

[2020-08-08 04:11] johndevedu commented on #24916
This has been bugging me for a while. Finally came up w/ a solution that works pretty well. **TL:DR instead of navigating through each file one by one in the SCM panel, get all files open (requires GitLens extension) then review one file at a time -> close tab when done.**

1. Close all tabs (optional, but cleaner experience for me)
2. Use GitLens: Open All Changes (with difftool). I have difftool

[2020-08-08 04:37] TheBossProSniper commented on #32579
Hey guys,

I have disabled it in the settings.json however, it still hasn't worked:

[code]

However,

When I go back to my editor:

![Screenshot 2020-08-08 at 10 05 58 AM](https://user-images.githubusercontent.com/63039748/89702418-c399a100-d95e-11ea-87c5-fe950477bc61.png)

Here is what to developer token option tells me:
![Screenshot 2020-08-08 at 10 07 07 AM](https://user-images.githubuserconte

[2020-08-08 04:47] devmohit-live commented on #38999
Facing Same Issue, it worked in previous version.

[2020-08-08 04:49] yasanthachamara commented on #103082
I have tried again and everything looks like the screenshot you mentioned. Please find the attachment.
[file.zip](https://github.com/microsoft/vscode/files/5044659/file.zip)

[2020-08-08 05:03] Paalon commented on #43647
Including other visualization of invisible characters, it is worth to implement.

[2020-08-08 05:10] DGKSK8LIFE commented on #103295
@deepak1556 Another note: Code launches faster with `--verbose`.

[2020-08-08 05:16] LittleZ001 opened #104285 "VSCode runs the wrong file"
Issue Type: <b>Bug</b>

I'm trying to learn Python and have created a "dataframes.py" file with the following code: -

import numpy as np
import pandas as pd

#read the diamonds.csv file and build a dataframe
df = pd.read_csv("diamonds.csv")

print(df.head(10))
print()

For some reason (really dont' know why) when I run the file from the VSCode   app within Ananconda, it doesn't run this file but

[2020-08-08 05:30] deepak1556 commented on #103295
Do you see a difference in startup when you use `--user-data-dir` without `--verbose`

[2020-08-08 05:35] DGKSK8LIFE commented on #103295
@deepak1556 Yeah it's more performant than that of  `--verbose`; I think the reason for that though is that the dir I'm sourcing it from doesn't have all my extensions and configurations.

[2020-08-08 05:36] DGKSK8LIFE commented on #103295
But in all honesty, the performance difference between the two is minimal/difficult to notice (unless one writes a legit benchmark) @deepak1556

[2020-08-08 06:09] payonel opened #104287 "Pressing Enter on "problem" does not put focus to editor"
With a "problem" selected and the Problems view is in focus, pressing ENTER does not switch the focus to the related line of code in the editor. Double clicking works

Notes:
1. The line of code is selected in the edit window - each time a new problem is selected
2. Again, double click works. But I like to work without a mouse as much as possible

I really think this is a recent problem; I really

[2020-08-08 06:19] deepak1556 commented on #103295
you can attach the output of, `command Palette > Developer: Startup Performance` which has the benchmarks.

Aside from that the original problem is find if the shared process socket is created fine in the original user data dir. Can you run strace and attach the log here, please make sure the extension search problem persists when you trace.

`sudo strace -u <uid> -o ./trace.txt <snap-path>/usr/sh

[2020-08-08 06:22] DGKSK8LIFE commented on #103295
@deepak1556 I'm currently not using insiders.

[2020-08-08 06:26] deepak1556 commented on #103295
sorry about that please replace insiders with the vscode build you are using. `code-insiders => code`

[2020-08-08 06:30] DGKSK8LIFE commented on #103295
k ty

[2020-08-08 06:33] deepak1556 commented on #103082
okay the issue is with devtools exporting har, apparently its not exporting all the data, sorry about that. Do you see a request for `codicon.ttf` ? can you attach screenshot of that request if you see it.

<img width="696" alt="Screen Shot 2020-08-07 at 11 32 52 PM" src="https://user-images.githubusercontent.com/964386/89704136-56f2b800-d906-11ea-9da2-d1bf5c0fdcd6.png">

[2020-08-08 06:36] DGKSK8LIFE commented on #103295
Going to sleep soon. Will get to this tomorrow @deepak1556 thanks for all this support.

[2020-08-08 06:40] fuadnafiz98 commented on #32579
don't know working fine for me with same settings.json :|
![Screenshot from 2020-08-08 12-38-12](https://user-images.githubusercontent.com/43469396/89704266-33665680-d974-11ea-9d44-4323b08d57fb.png)

[2020-08-08 06:54] ardianta commented on #103343
Hi @andrew-maust thank you for ask me.

I would like to use this structure:

[code]

and the path be `/images/example.jpg`.

Or may be we can add configuration to define the root path for images.

[2020-08-08 07:16] caozhaohong opened #104288 "【vsix Completeness】How can VSCode protect the .vsix from Maliciously replacement?"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

Dear team:

  Thank u let us engoyed a perfect tool.

  I want to know something, about following publishing of .vsix:
https://code.visualstudio.com/api/working-with-extensions/publishing-extension

  Question: How can our VS Code Extension Marketplace avoid following case

[2020-08-08 07:23] #104255 closed

[2020-08-08 07:26] caozhaohong opened #104289 "https://stackoverflow.com/questions/ask ----the 'Post your question' is not working"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. login to https://stackoverflow.com/questions/ask
2. write my question
3. Try to clikc the 'Post your question', but it is not working, it is ‘’gray' color

Does this issue occur when all extensions are disabled?: Yes/No

[2020-08-08 07:28] #104289 closed

[2020-08-08 07:29] caozhaohong commented on #104289
Sorry, It is my mistake. It is ok now.

[2020-08-08 07:36] alsaibie commented on #40239
With VSCode being a versatile tool for many independent work environments. This would be a very useful feature, a setting flag in the .code-workspace such as "enable-extensions-only": ["extension 1", "extension 2"  etc] would be a good start to opt-in the workspace-specific extensions settings.

[2020-08-08 07:57] clankill3r commented on #38765
Why is this out-of-scope?

[2020-08-08 08:04] szabi79 opened #104290 "Bug at keyboard-shortcuts-windows.pdf"
Issue Type: <b>Bug</b>

Hello!

Bug at Help!
https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf

Display
Ctrl+ = / - Zoom in/out

is correct:
Ctrl+ +/ - Zoom in/out

Best, Szabi

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.18363

[2020-08-08 08:12] MathiasKandelborg commented on #103929
It seems to me this is a missing feature. Can you elaborate on how this isn't a planned 'feature' and why 20 people have to upvote it to make it into VS Code at some point?

I think this is a trivial feature, and it makes so much sense that I don't see the reason for RFC or doing the voting thing. I know this might be the first time the feature is suggested ( which I'd find weird), but it shouldn'

[2020-08-08 08:21] yasanthachamara commented on #103082
Please find the request screenshot attached.

![Annotation 2020-08-08 135103](https://user-images.githubusercontent.com/33784749/89705855-4bdb6e80-d97e-11ea-99f1-24fa51ef79e4.jpg)

[2020-08-08 08:29] llk2yq commented on #103675
I used to use Github account , and in Last two months. I'm  using MS account now, and in latest version(2020-08-07T05:30:01.305Z) ,this problem still exists.

[2020-08-08 08:31] akacyra opened #104291 "Ncurses reports that VSCode integrated terminal can change colors, but redefining colors has no effect"
VS Code version: Code - OSS 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-30T16:19:47.070Z)
OS version: Linux x64 5.7.11-arch1-1

Steps to Reproduce:

1. Compile the minimal reproduction program:
[code]
`gcc repro.c -lncurses -o repro.out`
This program uses Ncurses to redefine the default terminal red color to blue and prints a string with the new color, only if the terminal (as report

[2020-08-08 09:01] krisbox-git opened #104292 "Select text with touch / stylus / pencil over Remote Desktop"
I know that request was already posted and closed by some bots but it was BEFORE CORONAVIRUS!

Due to covid, we have to work home ... some companies even impose it! So i have an all new surface pro X to connect to my desktop computer and azure windows! Due to the size of the screen on pro tablets that are big but not such big (ipad pro, surface pro...) , pen/stylus is one of the best way to select

[2020-08-08 09:18] joaomoreno commented on #103159
@rob3c I believe that is a third party extension. Can you reproduce if you shutdown Code and restart with `code --disable-extensions`? If so, please file an issue to the extension.

[2020-08-08 09:21] joaomoreno opened #104293 "Experiments service still reaches out to server even when disabling telemetry"
From @rob3c, https://github.com/microsoft/vscode/issues/103159#issuecomment-670773789:

[2020-08-08 09:22] joaomoreno commented on #103159
Actually you are 100% correct, it's a new feature which I wasn't aware of. Created this issue to follow up: https://github.com/microsoft/vscode/issues/104293

[2020-08-08 09:24] joaomoreno commented on #104293
Oh silly me. There's actually a separate issue for the experiments service. @rob3c can you still reproduce if you disable `workbench.enableExperiments`?

[2020-08-08 09:26] joaomoreno commented on #101145
Merging into #104151

[2020-08-08 09:26] #101145 closed

[2020-08-08 09:31] #102078 closed

[2020-08-08 09:31] joaomoreno commented on #102078
OK the current fix should've improved the perf here considerably.

Once this is out in Insiders, can you give it a try @mnunezdm? Thanks!

[2020-08-08 09:37] #101631 closed

[2020-08-08 09:47] vmittal26 commented on #102621
@dbaeumer  sorry but I did not mention explicit set anything , and also I dont know where to set trace values

Could please specify where these settings have to be done

[2020-08-08 10:51] DGKSK8LIFE commented on #103295
code isn't in `/usr/share/` can I use `/snap/bin/code` instead? @deepak1556

[2020-08-08 11:23] #103698 closed

[2020-08-08 11:23] #103345 closed

[2020-08-08 11:23] #85872 closed

[2020-08-08 11:47] deepak1556 commented on #103295
`<snap-path>` mentioned in https://github.com/microsoft/vscode/issues/103295#issuecomment-670831477 should be something like `/snap/code/current/`, so the actual path to be used is `/snap/code/current/usr/share/code/code`

[2020-08-08 12:04] DGKSK8LIFE commented on #103295
@deepak1556

[code]

[2020-08-08 12:09] lonelam opened #104294 "The command "install 'code' command in path" cannot be found."
Issue Type: <b>Bug</b>

The command "install 'code' command in path" cannot be found.
I press ctrl+shift+p, and search with key words. the command cannot be found as usual.
![image](https://user-images.githubusercontent.com/16681599/89710130-fd949280-d9b2-11ea-989d-626b1bcc8fec.png)

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windo

[2020-08-08 12:18] WyriHaximus opened #104295 "pwd mounting in Docker doesn't seem to work"
In Github Codespaces using something like ```docker run --rm -w `pwd` -v `pwd`:`pwd` -it wyrihaximusnet/php:7.4-zts-alpine3.12-dev ls -lasth``` Doesn't seem to mount pwd in the docker images you're running.

[2020-08-08 13:49] stefanhaller opened #104296 "Consider having a setting to allow tasks and debug to format files when running/debugging"
Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Enable `editor.formatOnSave`, and set `task.saveBeforeRun` to "always".
2. Hit F5 to start debugging -> dirty files are auto-saved and formatted. Also, code actions are run. (This is expected.)
3. Hit Command-Shift-B to build without running -> dirty files are auto-saved, but _not_ formatted, and no code actions are run. This is not expected.

This i

[2020-08-08 13:53] muhpol opened #104297 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 3.9.6

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
[co

[2020-08-08 14:01] stefanhaller commented on #104296
See https://github.com/microsoft/vscode/pull/104298 for a proposed fix.

[2020-08-08 14:04] connor4312 commented on #104281
Thanks for the issue, this duplicates https://github.com/microsoft/vscode-js-debug/issues/161

/duplicate

[2020-08-08 14:05] #104281 closed

[2020-08-08 14:08] connor4312 commented on #104269
Thanks for the issue and nice repro. You can get around this for the moment by making the first line of the file not empty.

[2020-08-08 14:16] jooyoungseo commented on #98918
@Tyriar,

In the latest version of VSCode insider, the terminal output `aria-live` event is not automatically read by JAWS (v2020.2006.12.400).

Version: 1.48.0-insider (system setup)
Commit: 2277c8e2a3e1cc630a6397301ba54a1dccd8a60d
Date: 2020-08-07T11:32:09.993Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

[2020-08-08 14:20] jooyoungseo commented on #98918
@Tyriar,

It would be still ideal for screen reader users to not manually switch between browse mode and focus mode. I think there should be another factor causing the "document" role to not work, which we might want to further investigate.

[2020-08-08 14:20] Neurrone opened #104299 "In the find tree view, entering on results no longer brings focus to the editor"
/CC @isidorn

Issue Type: <b>Bug</b>

1. Press ctrl+shift+f and search for something for the current workspace.
2. Tab thrice to move to the tree view of results. Press enter on a result.

Expected: moves focus to the line in the editor where the match was found
Actual: focus does not move.

This is a recent regression because I remember this working for me as recently as this week.

VS Code versi

[2020-08-08 14:24] andrew-maust commented on #103343
Is that what the actual intended behavior is or is that personal preference? @mjbvz Could you possibly way in with some input on which case should be the intended behavior?

[2020-08-08 14:32] Jack-Works opened #104300 "Source Control panel More actions folded"
Version: 1.48.0-insider (user setup)
Commit: 2277c8e2a3e1cc630a6397301ba54a1dccd8a60d
Date: 2020-08-07T11:32:09.993Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/5390719/89712933-aef0f380-d9c6-11ea-8708-f4a3e379cdd1.png)

This menu didn't be categorized in the p

[2020-08-08 15:09] Li-YangZhong commented on #103736
Good explanation. Thanks for the tip, bro @alexdima

[2020-08-08 15:24] usernamehw opened #104301 "Remove invisible characters from vscode.d.ts"
If you try to copy paste glob pattern from `vscode.d.ts` - then it simply won't work because it contains invisible characters:

https://github.com/microsoft/vscode/blob/6d913c4c14bc9d7924cef5f502682873c89bab2d/src/vs/vscode.d.ts#L1901

You can search for regular expression: `[\u200B-\u200D\uFEFF]` or use an extension https://marketplace.visualstudio.com/items?itemName=nhoizey.gremlins to find them

[2020-08-08 15:26] SalehAlbuga opened #104302 "[Dev Containers] An option reopen the folder locally while container is being built"
It would be great if there's an option to cancel the dev container build process and reopen the folder locally. It's more convenient while testing with a large custom dev container and need to cancel the build to make changes to the Dockerfile without having to wait for the full build (or close the connection and reopen the folder again locally)

![image](https://user-images.githubusercontent.com/

[2020-08-08 15:38] ErnirSH commented on #70413
Anyone know if they are working on this ?

[2020-08-08 15:41] Bernhard299 opened #104303 "Marlin 2.0.5 Bigtree skr pro v1.1"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-08-08 15:42] #104303 closed

[2020-08-08 15:42] ericestes opened #104304 "Add titlebar proxy icon to Mac version"
Natively, Mac app titlebars have proxy icons that allow for taking action on the file: seeing its file path, opening any of the folders in that path, dragging to the Finder to move the file in the file system, dragging the file to another app, etc. It'd be great if vscode supported this behavior.

There's also usually a dropdown next to the filename that allows for primarily renaming and moving th

[2020-08-08 15:45] RexNext opened #104305 "Hide Useless path in Terminal !"
Hi, I think it's better if we have  a shortened path in the terminal,
and VsCode automatically hide the long path and replacing it by ". . .",  and once mouse over on, show us the long path,

in my mind, I'd like instead of  this long path
`C:\mainDir\internalDir\otherDir\SecoundDir\EndDir>`
I have to have a short path, something like this
`C:\\\\\EndDir>`
or
`C:\...\EndDir>`
and once mouse over i

[2020-08-08 16:03] jiggy1 opened #104306 "I can't install Python Extension"
In the marketplace, i can't install python extension 'ms-python.python. It shows a fail of installation

[2020-08-08 16:15] ssbarnea commented on #101064
That is clearly a very important accessibility aspect even for English users, as long texts do not fit.

[2020-08-08 17:43] jeremyFreeAgent commented on #100840
I can confirm Hasklig breaks colors. Same issue on Hyper (https://github.com/vercel/hyper/).

[2020-08-08 17:50] kivert opened #104307 "versión actualizada"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-08-08 18:00] ciltocruz commented on #70413
This does not work in vscode installed by Snap. Because the system is mounted in read-only mode.
Any alternative solution?

[2020-08-08 18:25] JustinBeckwith opened #104308 "Support for /// xml comment insertion"
When typing `///` in the header of a function or class in C#, I kind of expect a filled out XML comment section to be added.  In JavaScript or TypeScript, I get this automatically when using `/**`+enter, so I was surprised the same doesn't work for C# (with the `///` of course).  I found my way to an [extension](https://marketplace.visualstudio.com/items?itemName=k--kato.docomment) that does the j

[2020-08-08 18:37] HansUXdev opened #104309 "FIX YOUR DOCS: Make sure to edit the README.md file before you publish your extension"
Just reopening https://github.com/hediet/vscode-drawio/issues/116

[2020-08-08 18:39] HansUXdev commented on #104309
Literally every single step here: https://code.visualstudio.com/api/working-with-extensions/publishing-extension
Has an error because you didn't explain something or it's buried in a maze of other another links.

[2020-08-08 18:55] r3nderer commented on #103762
The nightly build seems to fix the issue.

[2020-08-08 18:57] ArturoDent commented on #101064
@ssbarnea You can drag the left edge of the find widget to expand it.  But it desperately needs a larger font size/letter spacing if you are working with regex's in particular.

[2020-08-08 19:05] Schizo commented on #104203
I just checked those files and they seem to have the html pages downloaded from the firewall instead of the VSIX extensions. How can I figure out, what link vs-code tried to access? In the Developer Tools Network tab, I don't see any blocked entry, but on hitting `install` there mus a procedure pulling data from a 3rd party link?

[2020-08-08 19:06] warpdesign opened #104311 "Autocomplete appears on top of replace dialog"
- VSCode Version: 1.47.3
- OS Version: macOS 10.15.3

Steps to Reproduce:

1. Open a new file and type something
2. Open autocomplete tooltip (by pressing ctrl+space)
3. Open the replace panel
4. Try to scroll the editor

Does this issue occur when all extensions are disabled?: Yes

<img width="636" alt="Capture d’écran, le 2020-08-08 à 21 05 36" src="https://user-images.githubusercontent.com/19

[2020-08-08 19:23] gjsjohnmurray commented on #104280
Please update your Insiders.

[2020-08-08 19:29] gjsjohnmurray commented on #104241
/duplicate of #104049

[2020-08-08 19:29] #104241 closed

[2020-08-08 19:34] quantitative-technologies commented on #102573
From the ubuntu repository:

sudo apt-get install code

I just upgraded to version 1.47.3

On Mon, Aug 3, 2020 at 10:54 AM Alex Ross <notifications@github.com> wrote:

[2020-08-08 20:06] trusktr opened #104313 "Unable to autocomplete base class methods when trying to override them"
When I want to override a method in a subclass, I start typing the base class method's name, but it does not autocomplete.

For example, if I have a base class like

[code]

then when I try to make a base class, like

[code]

where my cursor is at the location denoted by `|`, then I do not see any autocomplete suggestions, and if I press `ctrl+space` (in Linux) I see the result "no suggestions".

[2020-08-08 20:45] #104309 closed

[2020-08-08 20:53] trusktr commented on #104313
I can't reproduce this in this simple [playground example](https://www.typescriptlang.org/play?#code/MYGwhgzhAEBiD29oG8BQ1oAcBO8AuApsIQCbQC2BeAFvCQBQCUKAvqm6qJDAEJjbQCAD0IA7EjARI0GcuyA).

I reality I have a lot more code, and I'm making heavy use of class-factory mixins. So I think this is a bug that has to do with that.

[2020-08-08 20:56] MdFahaad opened #104314 "Three dots in the settings"
Issue Type: <b>Feature Request</b>

There are no three dots shown on the settings right corner.
I got it to know when my instructor was teaching Python.
I hope you solve my problem.
ThankYou

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.18363

[2020-08-08 21:51] roblourens commented on #104314
Do you mean you are missing this menu?

![image](https://user-images.githubusercontent.com/323878/89720407-a082e780-d986-11ea-9279-f9ac76aab921.png)

Can  you share a screenshot of what you are seeing?

[2020-08-08 22:12] #95578 closed

[2020-08-08 22:15] SneakyFish5 commented on #99617
Is something like this what you were looking for?

![beb5e8602dbfd1cd68a2e1c598c98695](https://user-images.githubusercontent.com/32284796/89720404-5f470380-d997-11ea-95b3-62e371979a11.png)

Example of switching between two repositories in the same workspace:

![example](https://user-images.githubusercontent.com/32284796/89720593-43dcf800-d999-11ea-964c-e54665dbfde5.gif)

I currently have it setup

[2020-08-08 22:40] erileff opened #104315 "Spaces showing as "á""
Issue Type: <b>Bug</b>

Every space is showing up in VSC as an "á". It's only VSC -- in Sublime Text, for example, the spaces are just spaces.

In VSC, it looks like:
[code]
<img src="https://user-images.githubusercontent.com/7518276/89721058-ea7bc580-d9a6-11ea-8567-296c4509aff2.png" width="300">

The á symbols aren't really "there" -- they copy as spaces.

VS Code version: Code 1.47.3 (91899dcef7

[2020-08-08 23:06] xaviergmail opened #104316 ""Focus Window On Break" setting does not work as expected"
Issue
===
The `debug.focusWindowOnBreak` setting does not work consistently. It seems to work fine with other debuggers (javascript, for example). However, the VSCode window does not gain focus when a breakpoint gets triggered when using the Unity Debugger extension.

Version Information
===

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS versi

[2020-08-09 00:11] #104316 closed

[2020-08-09 00:28] animeinabox opened #104317 "Can't type into the terminal at launch without closing the terminal and starting a new terminal"
Issue Type: <b>Bug</b>

1. Launch Visual Studio Code
2. Observe that you can't type in the terminal
3. Close the terminal
4. Launch a new terminal process using _CTRL + `_
5. Observe that you can type in the terminal

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|It

[2020-08-09 01:30] xaviergmail commented on #104316
@weinand I don't think the issue is caused BY the extension itself. VSCode should respect the option regardless of how a breakpoint gets triggered

[2020-08-09 01:35] #102832 closed

[2020-08-09 01:57] roblourens opened #104318 "Settings editor accessibility improvements prototype feedback"
Over the past couple iterations, we have been listening to feedback and exploring options for making the settings editor easier to use with a screen reader. Here are some of the issues we've heard:

- The only way to navigate the settings list is by tabbing. Arrow keys, page up/down, or screen reader browse mode don't work.
- The settings list is effectively an infinitely long tab sink. If you tab

[2020-08-09 02:00] IllusionMH commented on #104315
/needsMoreInfo

What font are you using and what is your `editor.renderWhitespace`setting value.

It may be characters instead of dots representing whitespace.

[2020-08-09 02:01] IllusionMH commented on #104307
/needsMoreInfo

[2020-08-09 02:06] Christopher-James-Francis-Rodgers commented on #30191
English translation of diegoshe's comment two posts above this post.
-------------
Hello!

My case is a little different and I am attaching a screen image to show what I mean. Could you help with this?
I want to change the thickness of the horizontal scrollbar at the top. This scroll bar allows you to switch between files. I drew a green square to indicate the scrollbar I want to change.

By the w

[2020-08-09 02:10] gjsjohnmurray commented on #104258
/needsMoreInfo

/gifPlease

[2020-08-09 02:24] #99651 closed

[2020-08-09 02:24] #99620 closed

[2020-08-09 02:24] #99591 closed

[2020-08-09 02:24] #99569 closed

[2020-08-09 02:24] #99547 closed

[2020-08-09 02:24] #97996 closed

[2020-08-09 02:24] #96150 closed

[2020-08-09 02:24] #79526 closed

[2020-08-09 02:39] connor4312 commented on #103762
Thank you for confirming! The currently-nightly changes will be released in VS Code stable next week.

[2020-08-09 02:39] #103762 closed

[2020-08-09 02:47] im-richard commented on #70413
I'm using the css edits that were posted here. It does help the issue and at least I have multi-row tabs now instead of one scrolling bar, but vscode wants to complain for some reason that the install is corrupt.

No idea why, but it goes away when I remove the configuration for custom css. So for now I've just set the error to ignore.

Honestly pretty sad that we have to ghetto-rig something so..

[2020-08-09 02:55] gjsjohnmurray commented on #104300
/duplicate of #103923

[2020-08-09 02:56] #104300 closed

[2020-08-09 02:57] gjsjohnmurray commented on #104280
/duplicate

[2020-08-09 02:58] bksubhuti opened #104319 "KDE WALLET"
- VSCode Version:1.47.3
- OS Version:kubuntu 20.04

Steps to Reproduce:

1.  linux kubuntu 20.04  set kwallet to password ""
2.  Open vscode keyring message comes up.. but it is not keyring on KDE.
It  wants the sudo password.  it also locks up the whole system.  I am wondering if this is a security breach because my keyring is managed by kwallet so it does not exist as keyring.  The password is "

[2020-08-09 02:58] #104280 closed

[2020-08-09 02:59] gjsjohnmurray commented on #104274
Please update to latest Insiders and test again. If problem remains, test with all extensions disabled.

[2020-08-09 03:24] VimLeSai commented on #103298
Yes, it happens while I'm running any node.js applications. Generally when I use windows's powershell or cmd it does not use that much cpu percentage but in vscode it frequently makes high cpu uses which also causes vscode to hang sometime while writing code or moving through files.

[2020-08-09 05:54] amazingcaio opened #104320 "add file associations for ".c++" and ".h++" file extensions"
i think vscode should map .c++ and .h++ file extensions to c++ by default. now, i know c++ is a language that has lots of file extensions associated with it, so it would make sense not doing it for all of them, but i'd argue .c++ and .h++ should be added because it would bring better compatibility with compilers, as some of them, like gcc, recognise them by default, and seti-ui, vscode's default f

[2020-08-09 06:10] amazingcaio commented on #104320
just to be clear, i know vscode already includes .c++ in file.associations out of the box -- i'm talking about including .h++ as well, and trating both of them as c++ files on windows. currently on windows you have to set .c++ and .h++ files to open on vscode, and the files don't have vscode's c++ icon, even when they're opened on vscode by default. (this doesn't happen to other file extensions li

[2020-08-09 06:42] df257 opened #104321 "Externally introduced JS has no code prompt"
![image](https://user-images.githubusercontent.com/7835444/89726578-7f85c980-da4e-11ea-8916-0de33467a711.png)

This way no code prompt.

[2020-08-09 06:54] oaahmad opened #104322 "Overview ruler does not respect breakpoint color"
When "debug.showBreakpointsInOverviewRuler" is true, and "debugIcon.breakpointForeground" is set, the color of the breakpoint in the overview ruler does not respect "debugIcon.breakpointForeground" (it is always red in the overview ruler). I am reporting this as a bug because @isidorn mentioned that the plan was to respect "debugIcon.breakpointForeground" here: https://github.com/microsoft/vscode/

[2020-08-09 07:22] rajsinghUSA opened #104323 "Hotreloading does not work whether using `attach` or `launch`"
VSCode Version: 1.47.3
OS Version: Windows 10 v19041 (Build 19041.388)

Steps to Reproduce:

**Hotreloading** does not work whether using `attach` or `launch` with the following `"scripts"` line in `package.json`
[code]
And the following `launch.json`:
[code]

Does this issue occur when all extensions are disabled?: Yes/No/ Is this no longer possible to test with WSL? It won't even load the projec

[2020-08-09 07:30] rajsinghUSA commented on #102834
~3.~

[2020-08-09 08:07] JacobB34 opened #104324 "Missing Preferences Sync option in settings (VScode)"
Issue Type: <b>Feature Request</b>

I am very new to everything here. Currently working the Odin project so I am not even sure if this is the correct issue. But I am trying to perform an assignment using Git. I am running Xubuntu on Oracle VM VirtualBox. I linked Git. The assignment is to creat a file & open it in my text editor. And the file is not appearing in my text editor. I have spent hours

[2020-08-09 09:15] joaomoreno opened #104325 "Stabilize API `scmResourceState` in `when` clauses for SCM"
Finalize the API from https://github.com/microsoft/vscode/issues/86180

https://github.com/microsoft/vscode/blob/f41efe546c5fad1f75ad938c563aa57e28e0014d/src/vs/vscode.proposed.d.ts#L1990

[2020-08-09 09:16] joaomoreno commented on #103124
Sorry @deepak1556, I have to push this out to September since I'll be out most of August. Feel free to tackle it, given extra cycles.

[2020-08-09 10:31] sr229 commented on #40235
Do we have any updates regarding this? The issue that this has linked has been open since 2017.

[2020-08-09 11:06] PF4Public opened #104326 "Underlines of problems are glitched since switching to electron 9"
- VSCode Version: 1.48+
- OS Version: linux 64

Steps to Reproduce:
Started occuring after electron was updated to 9. Didn't happen on electron 8 and 7.
* Since electron 9, all underlines of problems (errors, warnings, infos) are visually wrong.
![image](https://user-images.githubusercontent.com/10319700/89730541-36cb1200-da48-11ea-858d-c678e0508b2a.png)
![image](https://user-images.githubusercont

[2020-08-09 11:23] #103771 closed

[2020-08-09 11:23] #103520 closed

[2020-08-09 12:26] yacinegithub opened #104327 "Adding double click on terminal's topbar to Maximize/Minimize it"
I suggest to add double click on terminal's topbar to Maximize/Minimize the terminal because sometimes opening emulator may  make it hard to find Maximize/Minimize button of terminal overed and hidden by emulator.

![vsCodeTerminal](https://user-images.githubusercontent.com/35470755/89731983-bc03f600-da4b-11ea-8dc2-349bc90842a4.jpg)

[2020-08-09 12:49] officialanurag opened #104328 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 3.9.6

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
[co

[2020-08-09 13:48] #103808 closed

[2020-08-09 13:49] shubham15gupta09 commented on #103808
No more issue ocured so closing the issue

[2020-08-09 14:05] JoeCodeswell commented on #4490
+1 and Notepad++ Python manipulation of editor.

[2020-08-09 14:12] #104285 closed

[2020-08-09 14:16] #104215 closed

[2020-08-09 14:25] lszomoru commented on #103571
If you are still experiencing the issue with mouse right click, can you please file a separate issue for that? Thank you!

[2020-08-09 14:25] #103571 closed

[2020-08-09 14:35] #103443 closed

[2020-08-09 14:39] lszomoru commented on #103483
Are you able to reproduce this issue if you disable the `Prettier` extension?

[2020-08-09 14:57] alex19EP opened #104329 "frame WebViewes eat keyboard input"
Issue Type: <b>Bug</b>

1. open Release Notes
2. press alt to open the file menu

## what's happening.

menu dosn't opens.

## what should happen.

menu opens, focus moves

VS Code version: Code - Insiders 1.48.0-insider (2277c8e2a3e1cc630a6397301ba54a1dccd8a60d, 2020-08-07T11:32:09.993Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|

[2020-08-09 15:00] nathanjohnson320 commented on #103855
Hi @Kjens93 I had this problem in catalina as well and stumbled on a reddit post for a fix but can't find it right now.

The issue is that the "change input source" keyboard shortcut is getting enabled and it is bound to Ctrl+Space

To disable it:
1.  Go to system preferences -> keyboard -> input sources
2. add a new input source (I did english ABC)
3. Go to shortcuts tab (inside of keyboard setti

[2020-08-09 16:08] Neurrone commented on #104299
actually, this is not just happening in that particular instance, I believe its probably all instances where tree views like this are used, so is somewhat noticeable for me now.

Another instance of this are error / warnings. When you move focus to them and press enter, focus does not move to the corresponding place in the editor as expected but stays in the tree.

[2020-08-09 16:14] borekb commented on #103950
Thanks, @sandy081, I'll be glad to do that. How do I reset reset the Codespaces' `settings.json` to the state before the merge? That version doesn't appear in the Settings Sync view if I'm not missing anything (I can only see remote versions).

BTW I'm attaching my "main" (remote) settings file: [`settings.json`](https://github.com/microsoft/vscode/files/5047981/settings.json.txt)

[2020-08-09 16:16] KSonny4 commented on #103717
I have same problem. Happens on Fedora 30 as well as one Fedora 32. Installed via snap. Here is [dmp.zip](https://github.com/microsoft/vscode/files/5047983/6489cdd8-85ac-40e4-573a97b4-59f337ab.zip).

[2020-08-09 16:36] fazul1977 opened #104330 "TS Server fatal error: Debug Failure."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-08-09 16:37] #104330 closed

[2020-08-09 17:00] manibharathytu opened #104331 "Smooth rearranging of tabs like chrome tabs"
The tab reordering in VScode is not as responsive as the chrome tabs (also sublime text and atom text editors tabs).
When I move a tab in chrome, the adjacent tab respond by smoothly moving towards the vacant position created by the current tab after i dragged the current tab header halfway through. This makes it clear the position of my tab so I can decide whether to drop or not. In VS code, the

[2020-08-09 17:22] Spown opened #104385 "Run to Cursor doesn't actually run"
"Run to Cursor" just sets a breakpoint (obviously not a desired behavior) at the selected line and stays on the line it is currently on (even less so desired).

If I switch back to the default debugger (``debug.javascript.usePreview=false``) - it works as intended.

**VS Code Version:** 1.47.3

**Additional context**
I am debugging a plain NodeJS, not TS or Browser JS. Also tried Insiders.

[2020-08-09 17:35] theverything commented on #103483
It's an issue with more than just prettier. I've seen the same message with ESLint and gofmt

[2020-08-09 18:00] NickGist commented on #62907
Adding this feature would be very nice.
Using F1 > Insert Snippet > is time consuming.
Opening suggestions list by hotkey is not convenient as you need no scroll it to find the snippet, as you can't 'type-to-find' it.
Setting hotkey directly for every usable snippet? We already have too many. Can we use second keyboard to extend?=))

[2020-08-09 18:33] sweettyler opened #104332 "Inconsistent options between "Find" and "Replace""
Issue Type: <b>Bug</b>

1) Open a ".ipynb" file;
2) Select a cell (in edit mode) and press "Ctrl +F", then a search box pops out at the top right corner (ref. attached snapshot). you'll notice options such as "match case" and "match whole word" are not available;
3) However, if I press "Crtl+H", then "match" and "match whole word" are available in find and replace box.

VS Code version: Code - Ins

[2020-08-09 19:27] fortinmike commented on #101555
Maybe figuring out which extensions we have in common might be a good start to find out which one causes this? Here are mine, minus themes (as listed in `~/.vscode/extensions`):

[code]

[2020-08-09 19:28] okemessi commented on #104150
ok, I will post that to electron/issues.
Unfortunately, `--user-data-dir <dir>` did not make sense.
(I can make do with `code .` till this issue solved.)

[2020-08-09 19:28] JUNGHUNKIM-7 opened #104333 "Why isn't theme applied on jupyter mode?"
1.  The theme i installed isnt working completely, some color looks missing even though it is working on file.py correctly.

2. Super heavy ram allocation when i active big csv compared to jupyter lab web!
Typing is too delayed, and incredibly slow.

3. Dosent work Shift + tab (quick docs for module func's explanation)

- VSCode Version:latest
- OS:ubuntu 20

[2020-08-09 19:50] Ryyn-Sd opened #104334 "Add support for svg's, and formatting for css and php"
I would like as much support for svgs as with HTML.

Also I can't format code in CSS and PHP. I would like it if I could.

[2020-08-09 20:09] ArturoDent commented on #104305
If you are referring to the _command prompt,_ it isn't a vscode issue.  For example, see https://stackoverflow.com/questions/52107170/hiding-the-full-file-path-in-a-powershell-command-prompt-in-vscode/52107556?r=SearchResults&s=1|55.6972#52107556 for changing the command prompt in cmd.exe.  There are similar answers for other shells.

[2020-08-09 20:14] wstaud opened #104335 "VS Code extreamly slow after attaching external monitor MacOS/2019 MBP 16"."
- VSCode Version: 1.48.0-insider and latest stable 1.47.3
- OS Version: macOS Catalina 10.15.6

**Steps to Reproduce:**

1. Plug in external monitor
2. Launch VS Code
(Launching VS Code then plugging in external monitor performs as expected)

**Does this issue occur when all extensions are disabled?: Yes/No**
Yes

### Additional Information:

**Summary of Problem:**

I've noticed VS Code will beco

[2020-08-09 20:16] ramumanavalan opened #104336 "Backspace in soft keyboard can't work in editor of vscode(terminal and other places works well) in a android browser. But physical keyboard(bluetooth or wired connected to mobile) works well in editor. This issue may related to android keyboard mechanism."
same issue, backspace in soft keyboard can't work in editor of vscode(terminal and other places works well) in a android browser. But physical keyboard(bluetooth or wired connected to mobile) works well in editor. This issue may related to android keyboard mechanism.
You can test the difference between soft keyboard and physical keyboard's behavior in android browser in https://keycode.info
physic

[2020-08-09 20:23] sweettyler commented on #104332
I guess this is more like an extension bug so I also reported it in https://github.com/microsoft/vscode-python/issues/13362.

![ctrl_H](https://user-images.githubusercontent.com/49961658/89741125-35074b80-da54-11ea-8211-81a493ac8b6d.png)
![ctrl_F](https://user-images.githubusercontent.com/49961658/89741126-359fe200-da54-11ea-9b86-6c58a4916e86.png)

[2020-08-09 21:17] sanbox-irl commented on #104221
More specifically: looks like

[code]

triggers an error as well. "cannot find file specified". To be honest, I'm so unfamiliar with cmd issues that I'm not sure how to parse that string at all, and googling it gives me...some results, but perhaps I just don't have the brainpower to understand some string concatenations.

I'm calling this from Powershell 7, if that makes any difference

[2020-08-09 21:19] sanbox-irl commented on #104221
As an additional hint (though this may be completely unrelated) -- I am now seeing this little popup in my terminal, with this text accompanying:

[code]

I think this is some deep weird git thing and I don't know what's going on at all

[2020-08-09 21:33] dan-drago opened #104337 "VSCode will not remove record of extension that no longer exists"
- VSCode Version:
1.47.3
- OS Version:
10.15.6

Problem:

When I use the extension "Settings Sync", it uploads an extension that no longer exists. [Here](https://gist.github.com/dan-drago/a4d7fbc8aed685726259dabffbba542f) is the uploaded gist. This is the part for a past extension called "sass-indent".

[code]

When I try to sync my settings on another machine, Sync Settings will fail when it arri

[2020-08-09 21:42] weinand commented on #104316
You said that "Focus Window On Break" works fine with other debuggers.
From this I conclude that there is an issue with the specific extension.

[2020-08-09 22:07] ardacebi commented on #101014
With the macOS Public Beta getting out, this is getting more important. Do we have any updates regarding this?

[2020-08-09 22:19] sPreet247 opened #104338 "cmder on vs code"
Issue Type: <b>Feature Request</b>

Hi
Unable to integrate cmder with Vs code.

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.18363

[2020-08-09 22:26] #96817 closed

[2020-08-09 22:35] austincondiff commented on #101014
I agree with @ardacebi. Does someone need to submit a PR for this or can a current maintainer pull one of these options in?

[2020-08-09 22:44] sandy081 commented on #103009
It seems to be happening on workspace settings, can you please open separate issue for this?

[2020-08-09 22:46] sandy081 commented on #103675
Can you please provide the Settings Sync logs from output view when it happens?

[2020-08-09 22:56] sandy081 commented on #104287
@joaomoreno I also see this is not working for search, Is there something changed in underlying `onDidOpen` event?

[2020-08-09 22:57] sandy081 commented on #104306
Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/

[2020-08-09 23:00] sandy081 commented on #104324
Preferences Sync or Settings Sync is not available in stable release yet. We are planning to make it available from next release.

[2020-08-09 23:00] #104324 closed

[2020-08-09 23:01] sandy081 commented on #104326
@deepak1556  Assigning to you as it is electron 9 related. Let me know if I have to do something while it is being adopted. Thanks.

[2020-08-09 23:03] sandy081 commented on #103950
You can get that from `Sync Activity (Local)` view. This view is hidden by default and you can enable it from the `...` -> `views` in Settings Sync viewlet.

[2020-08-09 23:05] sandy081 commented on #104288
Seems to be a Marketplace question but assigning to you (@joaomoreno) if there are any insights from VSCE side.

[2020-08-09 23:06] sandy081 commented on #104337
This feature is not part of VS Code and is contributed by Settings Sync extension. Please file an issue against it.

[2020-08-09 23:07] connor4312 commented on #104323
What do you mean by "does not work"? Does debugging not work? Does the hot reload never occur?

/needsMoreInfo

[2020-08-09 23:07] #104337 closed

[2020-08-09 23:09] manoutoftime commented on #102942
@eric-wieser would this do?

https://code.visualstudio.com/api/references/contribution-points#contributes.configurationDefaults
[code]

[2020-08-09 23:22] connor4312 commented on #104269
Actually, this is the same root problem as https://github.com/microsoft/vscode-js-debug/issues/223. I will follow up there.

/duplicate

[2020-08-09 23:22] #104269 closed

[2020-08-09 23:42] xtqqczze commented on #104049
?

https://github.com/microsoft/vscode/blob/466da1c9013c624140f6d1473b23a870abc82d44/extensions/vscode-web-playground/src/memfs.ts#L108

[2020-08-10 00:02] xtqqczze commented on #96747
@kieferrm I could make the source changes and you could review?

[2020-08-10 00:09] gerarts opened #104340 "File watching breaks on macOS with a case insensitive file-system"
- VSCode Version: 1.47.3 (Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e)
- OS Version: macOS Catalina 10.15.5 (Darwin x64 19.5.0)
- File-System: APFS Volume (Encrypted)

_More detailed information attached below_

Steps to Reproduce:

1. Create a file on a volume with a case-insensitive file-system (APFS)
1. Open the file in VSCode
1. Change the case of one or more characters in the filename (e

[2020-08-10 00:13] vdh commented on #13953
@phatmann That's a **workaround**, _not_ a solution. Bypassing the feature and using _another entirely different feature_ instead is _not_ a way to fix the performance issues. I hate to be persistent about this but I would rather not have a bunch of noise drawing attention away from fixing this great (but experimental) feature. It could become something incredibly useful if it got the attention it

[2020-08-10 00:49] phatmann commented on #13953
@Vdh you are right of course. (And in fact a simpler version of the task, the built in tsk:watch task, works equally well for the workaround). My confusion is this: the workaround is so effective and efficient that I feel no need for the actual feature referenced in this issue. Am I missing something?

[2020-08-10 00:50] gerarts commented on #104340
Simplest case I could create

[code]
Open the file in VSCode
[code]
No update until I force VSCode to update the file

[2020-08-10 01:07] zhangzheming629 commented on #103105
![ND6Q0LH S0 V@}1BT8JMD(I](https://user-images.githubusercontent.com/38377736/89745785-a42e7f80-dae8-11ea-8f46-873d7080d7c1.png)
我也遇到了

[2020-08-10 01:36] vdh commented on #13953
@phatmann If I wanted to run a Typescript watch task, I could already do that. This isn't *just* about running TS checks. It runs *all* of VSCode's checks on every project file. Typescript, ESLint, CSpell, etc… It's really powerful and useful to know that even if I forgot to open a file, I can find errors across the whole project (without running each linter manually across all files, maybe even h

[2020-08-10 02:33] deepak1556 commented on #104326
Can we create a minimal repro with chromium so that a bug report can be created in upstream issue tracker.

/cc @alexdima I remember you had some similar issue upstream wrt to underline ?

[2020-08-10 02:49] netpoetica commented on #102254
Hey Connor, thank you for responding! It appears there was something else nefarious at work here. I was indeed able to set breakpoints. I don't remember exactly what was going on because it was a crazy day at work, but I think I had maybe not been running a watch task, so sourcemap debug breakpoint locations were incorrect. So the solution above did indeed get the debugger running as well as allow

[2020-08-10 02:53] dohkim commented on #101191
Dear all,
resolved issue by command below...i made with bat file.,,
wsl.exe --shutdown

On Fri, Aug 7, 2020 at 2:03 AM putrafajarh <notifications@github.com> wrote:

[2020-08-10 03:04] ylilarry opened #104341 "Option to always open the diff-editor in full window disregarding the current editor layout"
Currently when you click on a git Changes, the diff preview editor opens by splitting the current editor.
For instance, when your open 2 editors in vertical-split mode like this
![Screen Shot 2020-08-09 at 10 55 29 PM](https://user-images.githubusercontent.com/8177295/89748953-c649e280-da93-11ea-8072-eff698b4a674.png)

and then you click on a git change, the diff editor is opened in the left edito

[2020-08-10 03:28] piavgh commented on #104341
+1

Love the way Webstorm did with a separate diff window on top of the current window.
Personally, I feel it easier for my eyes.

![Screenshot 2020-08-10 10:25:38](https://user-images.githubusercontent.com/4060207/89749900-ea3d1080-daf3-11ea-8b3d-71af93072963.png)

[2020-08-10 03:46] deepak1556 commented on #103124
No problem, I can update the module this iteration and perform additional debugging incase it doesn't fix the issue.

[2020-08-10 03:48] deepak1556 commented on #104150
Do you mean it didn't help ? the reason for trying this is that a new user data dir will not have the cached open dialog that will always open with recent folder.

Thanks for opening the upstream issue, lets see where it goes.

[2020-08-10 03:52] #103906 closed

[2020-08-10 04:08] okemessi commented on #104150
really sorry, for my bad english ... I should say it didn't work well.
I have tried that with some folders (in and out of /home), but I could not change the default folder from `recent`.

[2020-08-10 04:22] rajsinghUSA commented on #104323
With the `launch.json` and `package.json` shown, `debugger;` works but hot reload never occurs when a file is saved.

[2020-08-10 04:23] geauxtigers commented on #103220
@deepak1556 I seem to have resolved the issue though I cannot give much insight other than what I have provided.  I have uninstalled and reinstalled anything that I felt could be related.  I did try starting vscode with the command line option but no file was generated and I received no error for an invalid command line switch.  With that said, thanks for trying to help!

[2020-08-10 04:34] rjmccabe3701 opened #104342 "Proxy Connection Failed (not using a proxy)"
I'm getting:

[code]

But I'm not even using a proxy server.  I even started code with ``--no-proxy-server`` and I'm getting the same error.  The docs suggest that vscode accesses the web the same way chromium does, but chromium works ...

I'm running on Windows 10

[2020-08-10 04:38] RichIsOnRails commented on #28432
Having a similar issue. My file list does not update for any terminal actions that create new commands:

Version: 1.47.3 (user setup)
Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e
Date: 2020-07-23T13:12:49.994Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

This is on remote WSL2. I can open the folder locally on the filesystem and

[2020-08-10 04:47] jvesouza commented on #103382
First of all I'm sorry for the delay in replying.

The problem still exists in the most current versions of VSCode. When I visit the details of an extension for the first time using orca as a screen reader, I am unable to navigate the links on the details page with the tab key.
I press the tab key and shift + tab but nothing is read by orca.
The curious thing is that if I visit the details of the

[2020-08-10 04:53] #103806 closed

[2020-08-10 04:56] connor4312 commented on #103105
I see the assignment to Isi but I think this should be closed as an extension issue, unless the UX question is at play. At least when this is hit in js-debug, it's a result of the extension not responding to the disconnect request soon enough, which is an extension issue.

[2020-08-10 04:58] hannahchan opened #104343 "When running Tasks on Windows, check if file is executable before trying to execute"
I have the following two tasks defined in my `tasks.json` file.

[code]

When I run one of these tasks, I get the following error message in Windows 10 which does not occur when running in macOS.

[code]

Upon investigation I find out that in the `bin` directory of Docker Desktop, there is both an file that is named `docker-compose` and `docker-compose.exe`. It looks like vscode is trying to run t

[2020-08-10 05:19] deepak1556 commented on #103220
@geauxtigers can you share what you used as value for `--log-net-log` ?

good to know,, can we close this issue then ?

[2020-08-10 05:20] wstaud commented on #104335
### Found solution:

A calibrated color profile for my monitor was causing the issues. Switching to the default color profile corrected the issue.

[2020-08-10 05:20] #104335 closed

[2020-08-10 05:20] deepak1556 commented on #104150
No worries!

 oh interesting that a new user profile didn't help. Thanks for trying!

[2020-08-10 05:37] HaoHoo commented on #95062
I just install sox via brew command line and then prompt me to add Terminal to microphone access Privacy setting.

[2020-08-10 05:46] mani25th opened #104344 "Push with Merge Request options"
Hi all, thanks your contribution to VSCode to community. I would like to request a feature for git support. Try to push menu with merge request parameter. Below is example of git command for merge request.
git push -u origin manibranch -o merge_request.create -o merge_request.target=master -o merge_request.title="Title of Merge Request"

[
<img width="216" alt="Push with Merge Request - Visual Stu

[2020-08-10 05:57] cmdxiaoha opened #104345 "The formatter make my source code damaged."
1. Run Ctrl-Shift-I on my source code (more than 1000 lines).
2. My source code was damaged.
example:
-------------------------------------------------------------------------------------------
for (i = 0; i < sizeof(gHkCmdMap) / sizeof(HKSTREAM_CMD_MAP_t); ++i)
-------------------------------------------------------------------------------------------
will be changed to:
-------------------------

[2020-08-10 06:28] Shanduur opened #104346 "Open with encoding keyboard shortcut."
I'm working with large codebase which has multiple different encodings for files. Problem occurs, when single file extension can be saved with Windows 1250, UTF-8 or ISO 8859-2 encoding. Is there possibility to add option inside settings to create shortcut for **Reopen with Encoding** to open encoding selection, or even have possibility to create shortcut for every encoding?

![Adnotacja 2020-08-1

[2020-08-10 06:29] epiqu1n opened #104347 "Cannot inject textmate scopes"
Issue Type: <b>Bug</b>

I am not able to use textmate scope injections, including when copying the example from the [VSCode support article](https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide#injection-grammars). I also tried changing the example to ensure it did not conflict with anything.

[From package.json](https://i.imgur.com/pGUw2yK.png)
[syntaxes/injection.json](ht

[2020-08-10 06:32] gitDawn opened #104348 "Ctrl+s doesn't work when foreign language is selected"
Issue Type: <b>Bug</b>

I found out that the shortcut for quick save, ctrl+s, doesn't work when foreign language (Hebrew in my case) is selected. Switching to English and ctrl+s works again.

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|

[2020-08-10 06:54] weinand commented on #103105
If extensions have difficulties to respond to the `disconnect` request is time, then we should relax that requirement on the VS Code side.

[2020-08-10 06:54] #104347 closed

[2020-08-10 07:02] svurgun opened #104349 "Cannot run vscode on linux"
I am trying to run VSCode on a linux box. I don't have root access. I get this error when I try to run code:

./code: error while loading shared libraries: libgtk-3.so.0: cannot open shared object file: No such file or directory

How do I resolve this issue? As far as I can tell, the box has libgtk 2.0 version only.

VS Code version: download file is named code-stable-1595520402.tar.gz
OS: sles 11

[2020-08-10 07:13] epiqu1n opened #104350 "Allow addition of custom textmate scopes without modifying theme"
Issue Type: <b>Feature Request</b>

I would very much like to add custom scopes to VSCode or at least to my current project so that I may style them.  For instance, I would like to highlight the parens for ternary operators `(a ? b : c)` (especially since there is already scopes for the `?`/`:`) and paired opening/closing tags for sections in Mustache files.

However, there are no existing scopes

[2020-08-10 07:18] tifDev opened #104351 "Can't replace spaces in "selection only""
- VSCode Version: 1.47.3
- OS Version: Ubuntu 18.04

Steps to Reproduce:
1. Select some text (containing spaces)
1. alt+l
1. Search field: Put a space " "
1. Replace field: Put nothing or other character
1. Hit button replace

You will see that the spaces don't get replaced.

[2020-08-10 07:39] vammex opened #104352 "annoying automatic text replacer"
Issue Type: <b>Performance Issue</b>

any time i insert "fun" in order to write "function" I get an automatic

function name(params) {

  }

which i don't like
i can change it with smth else but in fact the next time i open VS code i have to reset it again and again, because this replacer set itself as a primary one over all my custom replacing phrases

VS Code version: Code 1.47.3 (91899dcef7b811

[2020-08-10 07:44] alexr00 commented on #104296
@isidorn I deliberately don't have files format when a task build and saves files. I think debug should also not format files in this case.

[2020-08-10 07:49] #103972 closed

[2020-08-10 07:51] jrieken commented on #102956
⬆️ It's likely the go extension and that you have configured to run code actions before saving. So, please follow up with the go extension authors.

[2020-08-10 07:51] #102956 closed

[2020-08-10 07:53] #103855 closed

[2020-08-10 07:55] jrieken commented on #103567
/needsMoreInfo

[2020-08-10 07:57] mjbvz commented on #104308
/extC#

[2020-08-10 07:58] #104308 closed

[2020-08-10 07:58] #104321 closed

[2020-08-10 07:58] mjbvz commented on #104345
/extC++

[2020-08-10 07:58] #104345 closed

[2020-08-10 07:59] mjbvz commented on #104313
/needsMoreInfo

[2020-08-10 08:01] zardlee1937 opened #104353 "vscode could not formatting huge xml file correctly!"
- VSCode Version: 1.47.3
- OS Version: windows version 1909(build 18363.778)

Steps to Reproduce:

1. open a large xml file. in my case, the file size is bigger than 4m.
2. ctrl+shift+p, type Format Document, then watching your xml code style.

Does this issue occur when all extensions are disabled?: Yes/No
No idea.

[2020-08-10 08:01] jrieken commented on #104180
Yeah, that's the design of diagnostics which use a push model, not a pull model.

[2020-08-10 08:03] gjsjohnmurray commented on #104352
Assuming your document language mode is JavaScript (see indicator at right-hand end of status bar), maybe add these two settings to your settings.json

[code]

But you also wrote

so maybe that will turn off too much. In that case, give us more information about your problem.

[2020-08-10 08:05] jrieken commented on #104180
It seems like you want to completely disable the TS extension. Is that right? What's on your agenda there might be an easier way

[2020-08-10 08:11] jrieken commented on #104011
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-08-10 08:14] duzenko commented on #102296
What do you mean by "early"? It's 10th, there's the 1.47.3 update and no 1.48.0

[2020-08-10 08:15] Yngwarr commented on #104169
@mjbvz we want to allow continuous dragging without letting go mouse button. Something like this: [demo video](https://drive.google.com/file/d/1-Fi9mpBh-7bl2hXP--SG1VZCgTDsRPaO/view?usp=sharing).

[2020-08-10 08:17] jrieken commented on #103959
What makes you think so?

[2020-08-10 08:20] jrieken commented on #103870
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Abreadcrumbs+label%3Afeature-request

[2020-08-10 08:21] #103870 closed

[2020-08-10 08:30] jrieken commented on #103702
Use the `editor.quickSuggestions` setting to control this, e.g disable it for plain text

[2020-08-10 08:31] #103702 closed

[2020-08-10 08:34] duzenko opened #104355 "Visual garbage in user folder"
Issue Type: <b>Bug</b>

Why is VSCode generating this content in the user profile?
Is user supposed to do something manually with this?
If yes, give it a readable name.
If no, move it to %APPDATA% or somewhere else.

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T15:31:37.228Z)
OS version: Windows_NT ia32 10.0.18363

<details>
<summary>System Info</summary>

|It

[2020-08-10 08:37] #103682 closed

[2020-08-10 08:38] jrieken commented on #103682
The sortText is only respected when no prefix is selected and since the latter item selects a prefix a score is computed and assigned.

[2020-08-10 08:38] jrieken commented on #103660
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Afeature-request+label%3Asnippets

[2020-08-10 08:38] #103660 closed

[2020-08-10 08:40] Namita123-rgb opened #104356 "go live option is not coming"
Issue Type: <b>Feature Request</b>

i hv just installed vs code and there is no option of go live even though i have installed live server5.6

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 6.2.9200

[2020-08-10 08:41] duzenko opened #104357 "What is this empty space for?"
![image](https://user-images.githubusercontent.com/1481807/89765149-6d636400-dafe-11ea-9003-eda783dfd5ed.png)

Issue Type: <b>Bug</b>

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T15:31:37.228Z)
OS version: Windows_NT ia32 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7300HQ CPU @ 2.50GHz (4 x 2496)|
|G

[2020-08-10 08:41] jrieken commented on #103562
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-08-10 08:45] jrieken commented on #104279
This is working for me. Can you share the file in which you define your snippet or update your sample with a dummy snippet

[2020-08-10 08:48] jrieken commented on #104301
The problem is that you cannot type `*​/` inside a jsdoc comment. That's why these invisible characters are being used. Open for suggestions

[2020-08-10 08:51] isidorn commented on #104329
I can reproduce this - just open any markdown preview and `alt+f` will not open the file menu.
I think we should fix this for this release, as it is a breaking change (in last stable I can nicely press `alt+f` to open the file menu). Due to that I am assigning this to July and @mjbvz can move it out if he would prefer to fix it next milestone

Also fyi @sbatten for custom menus

[2020-08-10 08:54] isidorn commented on #103222
Sure, we can keep it open for a bit more time and we see if more users hit this.

[2020-08-10 08:55] isidorn commented on #38765
This is actually now almost posisble, just use drag and drop of views between viewlet and panel area.

[2020-08-10 09:00] isidorn commented on #104246
Works for me with latest VS Code insiders

![Screenshot 2020-08-10 at 10 59 35](https://user-images.githubusercontent.com/1926584/89766537-9a147d00-daf8-11ea-806f-fd44930b9dfd.png)

@osolo can you repro using latest vscode insiders https://code.visualstudio.com/insiders/

[2020-08-10 09:05] isidorn commented on #104296
I have commented on the PR.
Bottom line: I am fine with changing debug to behave like tasks and am open for a PR for this or I can also do these changes.

[2020-08-10 09:06] gunadhya commented on #104219
Hi @mjbvz , I'd like to work on this.

[2020-08-10 09:06] jrieken commented on #104200
We remember the first (*) reference and then sort result by file/folder names. IMO that makes most sense but there might be cases in which we don't use the first reference. Do you `peek` or `gotoAndPeek` mode?

* using the provider sort order (or having a first item) isn't as simple as it sound as the feature is collaborative and allows multiple extensions to define results here. We merge these di

[2020-08-10 09:13] renkun-ken commented on #102449
I'm wondering if there's anything that could be done on our side to walk-around this at the moment? It looks like this cannot be fixed in a short term due to upstream issue.

Is it possible that we take advantage of the mechanism behind `env.openExternal(Uri.parse(url))` so that the port mapping is enabled?

[2020-08-10 09:16] isidorn commented on #104237
@sevencookies thanks for claryfing, this makes sense.
Yes, we could add either add a setting, or a global command which would show the keyboard or hide it.

However for this we would need some electron support.
I see that in the past the keyboard was being shown by accident, captured here https://github.com/microsoft/vscode/issues/76560
I am not sure if the electron currently has API to control th

[2020-08-10 09:18] isidorn commented on #104245
Let me know if I can provde more details, or feel free to close it...

[2020-08-10 09:19] stefanhaller commented on #104296
Changing debug to no longer auto-format would make it worse for me.

Personally I'm convinced that `SaveReason.EXPLICIT` is the right choice for both debug and build. You say "It is an explicit gesture, however it is not an explicit gesture to save." That's true, but the user made the choice of turning on `task.saveBeforeRun`, which means that running (and building) always includes saving. That ma

[2020-08-10 09:31] cativo opened #104358 "VS Code Unresponsive"
Issue Type: <b>Performance Issue</b>

While working on a project, Every time I open a TS or HTML file VS Code goes Unresponsive. I turned off all Extensions and I still go through the same pain of waiting.

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|

[2020-08-10 09:33] jrieken commented on #103953
There are two things: the model and the view. The former is driven by extensions and the latter is us showing diagnostics, e.g as squiggles, in the panel, etc. We should not temper with the model, it's the source of truth and owned by extensions. The views however can be graceful.

I actually don't know if or why this changed. Adding @sandy081 @alexdima for more insights but afaik squiggles in the

[2020-08-10 09:40] alexr00 commented on #104157
Hmm, I'm not sure how you can do that. @JounQin would you be able to download the latest insiders build and see if the problem matcher is working for you now? https://code.visualstudio.com/insiders/ It installs side by side with stable.

[2020-08-10 09:46] #103375 closed

[2020-08-10 09:48] PF4Public commented on #104326
Can I help with this? If yes, then, how?

[2020-08-10 09:51] jrieken commented on #103469
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-08-10 09:53] jrieken commented on #103454
:-1: We do not accept pull requests like that

[2020-08-10 09:54] jrieken commented on #103454
This is driven from `.vscode/searches/es6.code-search` and each and every user of the listed functions needs to become active.

[2020-08-10 09:55] tomcec opened #104359 "Debugger for Mainframe into logpoints supported languages"
Hi,
can Debugger for Mainframe (https://marketplace.visualstudio.com/items?itemName=broadcomMFD.debugger-for-mainframe) be added to list of supported languages for logpoints https://code.visualstudio.com/blogs/2018/07/12/introducing-logpoints-and-auto-attach#_supported-languages ?

[2020-08-10 09:55] jrieken commented on #103449
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-08-10 09:56] #103269 closed

[2020-08-10 09:58] jrieken commented on #103269
Peek is a special editor and the generic closeActiveEditor won't work. You can need to execute the corresponding command, e.g. `closeReferenceSearch`

[2020-08-10 09:58] JounQin commented on #104157
@alexr00 I'm using this insiders build and can confirm it works.

[2020-08-10 10:00] isidorn commented on #104214
I agree that the debug hover should respect the editor font size. And it respects it when hovering over for an example string.
However it does not work when we use the tree, since we have hard coded limitation in CSS for this.

I am open for a PR which fixes this.
Code pointer, I believe the editor font size is already nicely applied here https://github.com/microsoft/vscode/blob/cf4e4c17544486f644

[2020-08-10 10:00] jrieken commented on #103305
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Afeature-request+label%3Aoutline

[2020-08-10 10:00] zavan commented on #100840
`"editor.fontFamily": "Source Code Pro"` breaks it too, same problem. Removing the setting works.

[2020-08-10 10:00] #103305 closed

[2020-08-10 10:04] isidorn commented on #104271
You can just press `left` and you will get navigated to the parent.
Having a sticky parent element is a fair feature request which I honestly think we will not add. though I can leave it open for now.

[2020-08-10 10:05] jrieken commented on #103267
`"editor.snippetSuggestions": "none",` is the problem

[2020-08-10 10:05] danielo515 commented on #102750
Ok, I'll try that, thanks @mjbvz

[2020-08-10 10:09] jrieken commented on #103284
/extCpp

[2020-08-10 10:09] Abhijeetrkushwaha opened #104360 "Vs code debugging console opens automatically"
- VSCode Version: 1.4
- OS Version: window 10

Steps to Reproduce:

1. When starts vs code this start happening of once
2. When I use wifi(net) that start again but this time it goes in a loop and because of that my pc gets slow down

Does this issue occur when all extensions are disabled?: Yes

[2020-08-10 10:09] #103284 closed

[2020-08-10 10:10] jrieken commented on #103249
Adding @aeschli since his x-cross compile logic seems to be missing this

[2020-08-10 10:11] alexr00 commented on #102573
Given that you're also seeing https://github.com/microsoft/vscode/issues/102907#issue-661119111, I'm going to close this issue as a duplicate of that one. Tasks depend on the terminal, so if after that issue is resolve you still see this, I'll investigate further.

[2020-08-10 10:11] alexr00 commented on #104157
Many thanks @JounQin !

[2020-08-10 10:11] jrieken commented on #103234
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Amenus

[2020-08-10 10:11] #103234 closed

[2020-08-10 10:16] jrieken commented on #103181
I am confused. Is this a debugger issue or is this because the extension host restarted after changing the workspace?

[2020-08-10 10:16] alexr00 commented on #104296
Full discussion is [here](https://github.com/microsoft/vscode/pull/104298). Debug and tasks should have consistent behavior here, and they should not format by default (#96904).

If there is widespread desire for a setting to configure a format on run task and/or debug, then we would consider adding a setting.

[2020-08-10 10:18] isidorn commented on #103382
@jvesouza yes I can reproduce what you are hitting.
On Linux - tab nicely moves focus between links but Orca does not read anything. If I do it again then it just works.

On Windows with NVDA I see similar issues - tab does not move focus through links. If I turn off NVDA then Tab nicely moves focus.
So it might not be Orca specific, though it would be great if @joanmarie or @marcozehe have some i

[2020-08-10 10:18] jrieken commented on #100172
Re-opening for the finalisation process...

[2020-08-10 10:19] ailixter commented on #103305
really sorry if it's duplicate. unfortunately, however, I have never been able to find the original.
anyway, i'm sure it exists and I looking forward to this useful feature.
thank you

[2020-08-10 10:20] v-ruizh opened #104361 "An error occurs when executing "Run/Run Interactive/Pull/Push..." commands for Docker image"
**OS:** All
**VS Code:**
![image](https://user-images.githubusercontent.com/45614674/89772895-6ad03100-db35-11ea-92e2-548d25a81f09.png)

**Repro Steps:**
1. Install Docker extension.
2. In Docker view, right click one Docker image and execute "Run/Run Interactive/Pull/Push..." commands.

**Expect:**
Succeed to execute these commands "Run/Run Interactive/Pull/Push..." without any error.

**Actual:*

[2020-08-10 10:24] jrieken commented on #102935
Yes - items that select a prefix get a score based on the prefix they define. Items that don't select a prefix don't get a score. This generally works well but can be unfair towards shorter or no prefixes.

[2020-08-10 10:24] #102935 closed

[2020-08-10 10:26] jrieken commented on #103015
I say yes. Proof me wrong.

[2020-08-10 10:28] alexr00 commented on #102572
@lzw5399 can you please provide a copy-pastable example that shows the issue?

[2020-08-10 10:29] jrieken commented on #103007
And it doesn't do that? What happens instead?

[2020-08-10 10:30] jrieken commented on #102965
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Arename

[2020-08-10 10:30] #102965 closed

[2020-08-10 10:32] windoncloud opened #104362 "error dialog for typescript"
Issue Type: <b>Bug</b>

error dialog for typescript

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 1992)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash

[2020-08-10 10:32] jrieken commented on #102914
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Asuggest

[2020-08-10 10:32] #102914 closed

[2020-08-10 10:33] jrieken commented on #102915
[`CompletionItem#command`](https://github.com/microsoft/vscode/blob/f0283ed23950bd5c729ded6964874452c593994f/src/vs/vscode.d.ts#L3896)

[2020-08-10 10:33] #102915 closed

[2020-08-10 10:36] joanmarie commented on #103382
@isidorn: Role transition? Are these links somehow special? My gut tells me that these objects are not in the accessibility tree at the time they initially get focus. But my gut might be wrong. And if it's right it would be helpful to know why so we can fix it in Chromium.

[2020-08-10 10:37] amunger3 opened #104363 "VSCode hangs and crashes upon closing pwsh terminal instance"
Issue Type: <b>Bug</b>

Upon closing a terminal instance, VSCode will become unresponsive for a mintute or so before a dialog appears asking if you'd like to reload it. It occurs regardless of whether extensions are enabled but only appears to happen if the shell being closed is PowerShell Core. It doesn't matter whether its the Integrated PowerShell Terminal or otherwise.

#### Steps to reproduce

[2020-08-10 10:38] rohitkrmishra commented on #103007
It shows **No definition found for '<method name>'**

[2020-08-10 10:42] TomasHubelbauer commented on #103181
I have no idea what causes this. Were you able to reproduce?

[2020-08-10 10:44] lzw5399 commented on #102572
Hi @alexr00 , below is an example
[code]

![](https://tva1.sinaimg.cn/large/007S8ZIlgy1ghlwlkxsd3j30et0cr3zr.jpg)

[2020-08-10 10:46] jrieken commented on #103007
and what language is that? what extension are you using for it?

[2020-08-10 10:46] sandy081 commented on #103953
@jrieken Good question

Yes this is used to be sticky and I changed this while fixing the bug - https://github.com/microsoft/vscode/issues/90890 because it caused inconsistencies in UI that problems view (and also goto widget I assume) is pointing to wrong location than squiggles as latter are not getting updated.

[2020-08-10 10:47] jrieken commented on #103181
I am not trying ;-) I know that we don't do anything special for file system providers, esp nothing like creating new JS contexts. So, this can only an issue with debugging and/or when reloading the extension host. Did you try this when bundling and locally installing your extension?

[2020-08-10 10:50] IllusionMH commented on #104357
File type icon

[2020-08-10 10:51] jrieken commented on #103953
I'd say that made it worst ;-) The editor moving squiggles based on its heuristics is something good IMO and other UI pieces could treat that as intermediate source of truth. The error markers that appear in the outline do this - e.g they use the `IMarkerDecorationsService` and `getLiveMarkers`

[2020-08-10 10:52] TomasHubelbauer commented on #103181
I don't think this is related to the extension host reloading, because this happens within the span of a single debugging session. Perhaps it is something with the debugger, but I really couldn't tell you, I have no knowledge of how the VS Code debugger works. I will try to bundle and install locally and report back if that helped. I don't know how to debug this further myself, so if you or anyone

[2020-08-10 10:53] rohitkrmishra commented on #103007
Language: Salesforce's Apex. Extension name: Apex, Salesforce Extension Pack

[2020-08-10 10:54] alexr00 commented on #102572
Thanks, I can repro. Moved to the repository that we get our C# grammar from https://github.com/dotnet/csharp-tmLanguage/issues/183

[2020-08-10 10:54] #102572 closed

[2020-08-10 10:56] #103007 closed

[2020-08-10 10:57] IllusionMH commented on #104363
Most likely #76548 but that was for old Windows builds, not Insiders(Dev Channel).

/cc @Tyriar is it still an issue not only in old Windows builds?

[2020-08-10 10:59] TheoMer opened #104364 "The operand of a 'delete' operator must be optional"
Version: 1.47.3 (system setup)
Commit: 91899dcef7b8110878ea59626991a18c8a6a1b3e
Date: 2020-07-23T13:12:49.994Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

"nexus": "^0.26.0-next.3",

Steps to Reproduce:

1. Create file graphql.ts
2. In file type following code

[code]

Does this issue occur when all extensions are disabled?: No

[2020-08-10 11:01] IllusionMH commented on #104349
/needsMoreInfo

You should specify what's VS Code version, OS version, installation process etc. (as required by issue template)

[2020-08-10 11:04] Vasista-Eranki commented on #99617
@SneakyFish5 : looks good to me.

[2020-08-10 11:05] NightMachinary opened #104365 "[FR] Add option to disable icon bouncing in macOS's dock"
When I have a remote workspace open, every single time that I come to my laptop after some disuse, the remote connection has been closed, and VSCode will keep spamming me with a bouncing dock icon to go and reconnect. Since it is [not possible](https://apple.stackexchange.com/questions/170773/disable-a-specific-app-from-ever-bouncing-in-dock) to disable the dock bouncing from the OS itself, the op

[2020-08-10 11:18] kjeremy commented on #103959
All LSP traffic is logged and the close documentation never shows up in the
trace output. It does it I close a file though.

See the video in the linked issue.

On Mon, Aug 10, 2020, 4:17 AM Johannes Rieken <notifications@github.com>
wrote:

[2020-08-10 11:18] pkruk2 commented on #103953
I acknowledge @ljw1004 points:

But at the same time a very common scenario is:
* user gets diagnostics
* user clicks on first diagnostic and starts fixing it (for example adds/deletes lines)
* user clicks on another diagnostic but it points to wrong location

In my opinion updating both squiggles and diagnostics makes most sense in this case and is most user friendly.

Yes, I agree. I think previ

[2020-08-10 11:23] #103817 closed

[2020-08-10 11:23] #103795 closed

[2020-08-10 11:23] #103727 closed

[2020-08-10 11:23] #103646 closed

[2020-08-10 11:38] IllusionMH commented on #104364
Looks like you are using TS 4.0-beta or later ant this is intended change

See more details in https://devblogs.microsoft.com/typescript/announcing-typescript-4-0-beta/#breaking-changes

[2020-08-10 11:39] clankill3r commented on #38765
I don't get what you mean.

[2020-08-10 11:41] IllusionMH commented on #104362
/needsMoreInfo

Provide more info. At least what's message in this dialog (screenshot etc,), what was before this dialog etc..

[2020-08-10 11:46] KDharmindar commented on #104219
Hello @gunadhya have you been able to fix this? Are you working on this?

[2020-08-10 11:47] jrieken commented on #103959
The video isn't 3 minutes long...

[2020-08-10 11:47] sandy081 commented on #103953
@jrieken makes sense to me.

- I would revert the change and make squiggles sticky
- Update markers view to use live markers to align with squiggles and outline view.

[2020-08-10 11:50] kjeremy commented on #103959
3 minutes? Are you saying that there is a timer that goes off in 3 minutes that would close the file?

[2020-08-10 11:53] sebastianvitterso opened #104366 "Source control message loses focus after files are staged"
Issue Type: <b>Bug</b>

**Source control message loses focus after files are staged.**

Steps to Reproduce:

1. Stage a file, using the plus-icon in the source-control tab.
2. Immediately begin typing the commit message you want for the file's commit.
3. Issue arises: Your typing is cut off because the cursor is no longer in the commit-message text field.

![ezgif-7-464836588150](https://user-imag

[2020-08-10 11:53] jrieken commented on #102815
/duplicate of https://github.com/microsoft/vscode/issues/102580

[2020-08-10 11:54] sandy081 commented on #103382
@isidorn Also assigned this to you because of your expertise here. Please let me know if I have to do any changes to fix here, I would do so.

[2020-08-10 11:54] #102815 closed

[2020-08-10 11:55] jrieken commented on #103959
🙄 https://github.com/microsoft/vscode/issues/103959#issuecomment-671222576

[2020-08-10 12:02] kjeremy commented on #103959
Ha! Your response never showed up in my email which is what I was using to reply... 🤦

[2020-08-10 12:09] kjeremy commented on #103959
Okay I tried it and waited for 3 minutes and received the `didClose` notification at the end of those 3 minutes.

[2020-08-10 12:09] sterim commented on #104296
Thanks for looking into this!

I completely agree with @stefanhaller here. And I agree that Debug and Tasks should behave consistently.

In my view 'formatOnSave' makes a general statement that files are always written to disk formatted.
I personally would take this as a guarantee by the IDE that nothing gets written that is not formatted.
A common use case is to use this to ensure company/reposit

[2020-08-10 12:11] #103959 closed

[2020-08-10 12:19] vyachkonovalov commented on #45424
The issue still exists

[2020-08-10 12:24] #104322 closed

[2020-08-10 12:25] isidorn commented on #104322
@oaahmad good point. I have pushed a change so this should now nicely work.
You can try out vscode insiders in a couple of days (Friday) and try it out.

[2020-08-10 12:29] TheoMer commented on #104364
Hey @IllusionMH I'm actually using typescript 3.9.6

[2020-08-10 12:33] alexr00 commented on #104343
@hannahchan after looking into this further, I think the current behavior is correct. If your task specifies that the command is "docker-compose" then the file that most closely resembles "docker-compose" should be run.

This exact kind of scenario is why we support OS specific task properties. You can do the following to have your task run docker-compose.exe on Windows:

[code]

[2020-08-10 12:33] #104343 closed

[2020-08-10 12:34] IllusionMH commented on #104364
This error doesn't exist in 3.9.6.

As you've mentioned - this doesn't happen with extension disabled. What extensions do you have?
Do you have [JavaScript and TypeScript Nightly](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next)?

[2020-08-10 12:36] JasonWoof commented on #103267
Interesting!

When I comment out that setting, I get a popup when I hit tab. That seems less buggy. For people who like popups, that's cool.

This bug report is requesting that snippet expansion work better with popups disabled.

Specifically, I'd like the snippet that matches the most characters to the left of the cursor to be expanded when I press tab.

I'm fine remapping keys, I just want tab t

[2020-08-10 12:39] TheoMer commented on #104364
Hey @IllusionMH Yes, I do have 'JavaScript and TypeScript Nightly' installed.

[2020-08-10 12:41] sanket-bhalerao commented on #104224
@sbatten , is this fix going to be in the insiders build (August 10)?

[2020-08-10 12:47] IllusionMH commented on #104364
Then VS Code uses TSServer from extension which is `typescript@4.1.0-dev.20200809`(latest version) for providing language features and diagnostics.

You should either pick local TS version (from `node_modules`) instead on latest built-in version (from extension) so both `tsc` and VS Code will show same errors (but lost latest features), or update signature for `args` to make `userId` and `email` o

[2020-08-10 12:49] IllusionMH commented on #104355
Looks like this should be covered in #3884

/assign @Tyriar as author of linked issue

[2020-08-10 12:50] alexr00 commented on #104063
@sandy081 I thought that the check for if the view container is empty should be [here](https://github.com/Microsoft/vscode/blob/648e55967fcc6b2e04ca4593bc2434dba5f4a74c/src/vs/workbench/services/views/common/viewContainerModel.ts#L111-L111); however, it seems that `updateWorkspaceState` can be called more than once, so I could end up showing a view because not all of the view descriptors have been

[2020-08-10 12:54] TheoMer commented on #104364
Hey @IllusionMH Removing typescript nightly did the trick. You've been a great help. Many thanks.

[2020-08-10 12:54] #104364 closed

[2020-08-10 12:56] isidorn commented on #104360
Put this in your settings
`"debug.internalConsoleOptions": "neverOpen"`

[2020-08-10 12:56] #104360 closed

[2020-08-10 12:58] isidorn commented on #104266
Please file this against the code space repository. This is not part of core vscode. Thanks

[2020-08-10 12:58] #104266 closed

[2020-08-10 13:00] fritzfr opened #104367 "Tabs move with marquee effect to the left for no reason"
I have the problem, that the tabs move to the left very slowly with a marquee effect for no reason, I'm not touching my machine at all.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/49151885/89785056-110e3d80-db1a-11ea-809e-68369a98267d.gif)

Video Download: [VSCode_Marquee_bug.zip](https://github.com/microsoft/vscode/files/5050915/VSCode_Marquee_bug.zip)

- VSCode Version:

[2020-08-10 13:01] MarkoMFilip opened #104368 "Cannot connect to remote via ssh unless .vscode-server folder on the remote is deleted"
- VSCode Version: 1.47.3
- OS Version: MS Windows 10 Enterprise 10.0.17763
- Remote OS Version: Ubuntu 18.04.4

Steps to Reproduce:

1. Try to connect to a remote via ssh from VSCode and get the following output (note: I exchanged the remote name with **<remote>**):
`
[14:38:47.598] Log Level: 2
[14:38:47.598] remote-ssh@0.51.0
[14:38:47.598] win32 x64
[14:38:47.600] SSH Resolver called for "ssh-r

[2020-08-10 13:03] IllusionMH commented on #104338
/needsMoreInfo

What actually you are trying to achieve and what you've tried?

[2020-08-10 13:06] isidorn commented on #104299
Yeah this is a regression. Enter should always pass focus to the editor.
I can reproduce this problem. Assigning to July so we try to fix if possible before the release and forwarding for now to @joaomoreno
Feel free to assign back to me

[2020-08-10 13:09] Relax594 commented on #102325
same issue on macOS. Latest version, everything up2date.

[code]

[2020-08-10 13:23] #102933 closed

[2020-08-10 13:31] jrieken commented on #103939
There is no Math.random in this... Can you please note down the sequence of events that you are seeing and the sequence you are expecting.

[2020-08-10 13:32] jrieken commented on #103939
@bpasero to confirm but this is likely because the click first activates the group of editors and only then reaches the tab to reveal the other editor

[2020-08-10 13:34] #95162 closed

[2020-08-10 13:36] isidorn commented on #95162
As we agreed upon I have pushed a change such that `prelaunchTask` is ran before the `resolveDebugConfigurationWithSubstitutedVariables`
I have verified that this does not break the starter TS ext sample.

@daniv-msft it would be great if you try your use case and let us know if it works for you. VS Code insiders with this change should be out on Friday.

[2020-08-10 13:38] DanTup opened #104369 "Holding Cmd while hovering a symbol shows LocationLink's "targetSelectionRange" instead of "selectionRange" as preview"
When returning `Location` classes from a `DefinitionProvider`, VS code shows a preview of the code if you hold Cmd while hovering over a symbol:

<img width="613" alt="Screenshot 2020-08-10 at 14 33 29" src="https://user-images.githubusercontent.com/1078012/89788126-91cb3a80-db16-11ea-9a30-eda1a006ba96.png">

Multiple lines are shown, leading me to believe this is intended to show a snippet of the

[2020-08-10 13:41] apassy opened #104370 "CPU maxes when returning to docking station"
1.  This is persistent across several versions - I have been using VS code since last Sept, and this has happened across all versions.
2.  It is NOT consistent.  I haven't actually gathered data, but I'd say it happens about half the time.
3.  Setup - two laptops connected through a USB3 switch to a Dell USB3 docking station/port replicator, with 3 monitors and single kbd/mouse.
4. Currently on Wi

[2020-08-10 13:41] OzSolomon-MSFT commented on #104246
@isidorn yes, I can repro this with the insiders build.  What can I do to provide more information?

[2020-08-10 13:42] ThiefMaster opened #104371 "Tab key indent on multiple-line selection is weird if any line does not match indent levels"
Issue Type: <b>Bug</b>

I have a file with this content, indentation set to 2 spaces
[code]

If I select all lines and press TAB once, I would expect two spaces to be added in front of every single line:

[code]

However, it seems like vscode is trying to be smart and indent each line to the next level of indentation (ie n*2 spaces):

[code]

This is incredibly annoying. For example look what happ

[2020-08-10 13:43] isidorn commented on #103382
@joanmarie those links are only special becuase they are a part of a webview (which might not belong to the same DOM structure as the rest of vscode)
Though @sandy081 and @mjbvz might know more about the webview and how it is used in the Extensions description view.

[2020-08-10 13:43] DKa-Lab opened #104372 "Help me"
You can resolve the problem by installing the specified framework and/or SDK.

The specified framework can be found at:
  - https://aka.ms/dotnet-core-applaunch?framework=Microsoft.NETCore.App&framework_version=1.1.2&arch=x64&rid=win10-x64
Целевой процесс завершил работу без вызова события, запущенного CoreCLR. Убедитесь, что в целевом процессе настроено использование .NET Core. Это может быть нео

[2020-08-10 13:43] jrieken commented on #103249
The project is now free of nodejs dependencies

[2020-08-10 13:43] #103249 closed

[2020-08-10 13:43] q2apro commented on #71016
When is this setting coming? The implementation seems pretty basic.

And I think, btw, it should be disabled by default. Most of the developers I worked with do not use split screens when they work.

[2020-08-10 13:44] isidorn commented on #104246
It would be great to have a minimal possible repository which reproduces this. So we can just clone it from GitHub and see it repro on our machines.

[2020-08-10 13:45] TomasHubelbauer commented on #103181
For completeness' sake, when packaging the extension as VSIX and installing it through it, the problem persists: it seems as though the runtime is reloaded from under the extension as it is running. It is as if the module import caused the module to evaluate multiple times (clearing the cache in effect), which AFAIK is not the module loading behavior in either CJS nor ESM.

I still don't know exac

[2020-08-10 13:45] #103181 closed

[2020-08-10 13:46] OzSolomon-MSFT commented on #104246
@isidorn did you use the zipped sample project I attached to the but report?  It's very basic.  All you need to do is unzip it and run `npm install`.

[2020-08-10 13:47] OmeGak commented on #104371
The behavior in action:

![ezgif-6-9feace463759](https://user-images.githubusercontent.com/716307/89789353-c512c700-db20-11ea-85db-f963bd5846ef.gif)

[2020-08-10 13:54] isidorn commented on #104246
I tried with that sample and I can not reproduce the issue. Let me know what you are doing differently:

![recording (2)](https://user-images.githubusercontent.com/1926584/89790023-a4973c80-db21-11ea-96b1-2deadcd1ccbf.gif)

[2020-08-10 13:54] #104299 closed

[2020-08-10 13:58] jrieken commented on #103181
Do you see the same with the file system provider sample: https://marketplace.visualstudio.com/items?itemName=jrieken.vscode-memfs?

[2020-08-10 14:07] OzSolomon-MSFT commented on #104246
@isidorn I'm doing the exact same as you:

![2020-08-10_10-06-44](https://user-images.githubusercontent.com/67602429/89791425-4f433700-daf1-11ea-8eaa-6c3993ac07e3.gif)

[2020-08-10 14:09] isidorn opened #104374 "References: tree and peek should pass focus to editor on Enter"
Currently the peek references and the references tree on Enter do not pass focus to the editor.
This is not aligned with how all other trees behave (explorer, problems, search, git)

Also for accessibility reasons it would be nice if all trees behave the same.
That `space` leaves focus on the tree and executes the action. And that `enter` moves focus.

Let me know what you think

[2020-08-10 14:11] #104355 closed

[2020-08-10 14:12] isidorn commented on #104246
Do you have the following setting set?
[code]

[2020-08-10 14:13] Tyriar commented on #104319
Think this is related to auth?

[2020-08-10 14:14] #104305 closed

[2020-08-10 14:16] laurens423 opened #104375 "Debugger skips breakpoints"
Issue Type: <b>Bug</b>

When working on Godot code with the godot-tools plugin, mono debug plugin, in c#, the debugger skips over all of the breakpoints.

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60

[2020-08-10 14:16] Abhijeetrkushwaha commented on #104360
Ok I will do those changes. Thank you for your time.

[2020-08-10 14:18] Tyriar commented on #104363
@IllusionMH this one is an issue in new Windows 10 builds (1903+), there's a fix done for node-pty (https://github.com/microsoft/node-pty/pull/415) but electron doesn't support workers in renderer processes (https://github.com/electron/electron/issues/18540#issuecomment-665752233) so we need to wait until the terminal process is hosted in a node process that's a child of the main process (https://

[2020-08-10 14:18] #104363 closed

[2020-08-10 14:19] WerFra opened #104376 "VS Code doesn't list files that are differing only in capitalisation"
Issue Type: <b>Bug</b>

I have a folder on Windows with CaseSensitiveInfo flag enabled. Inside the folder are two files, one called `Foo.txt` and one called `foo.txt`. VS Code only lists one of them.

This might be related to #103444

## How to reproduce

_Requires elevated command prompt_

[code]

Result is that VS Code only shows `bar.txt` in its explorer

---

VS Code version: Code 1.47.3 (9189

[2020-08-10 14:19] brainvader commented on #101742
@deepak1556 I downloaded .deb from the official download site and installed code.

[2020-08-10 14:21] Tyriar commented on #104221
This is by design but it needs some UX work to better communicate there is no issue: https://github.com/microsoft/vscode/issues/102727

[2020-08-10 14:21] sandy081 commented on #103382
@mjbvz might know.

[2020-08-10 14:22] Tyriar commented on #104221
@joaomoreno any ideas where this `/c` could come from in the CLI?

[2020-08-10 14:22] sbatten commented on #104304
@ericestes if you change the setting `window.titleBarStyle` to `native`, does this do what you expect?

[2020-08-10 14:23] usernamehw commented on #104366
/duplicate of #102498

[2020-08-10 14:23] Tyriar commented on #103796
/duplicate https://github.com/microsoft/vscode/issues/74620

[2020-08-10 14:23] #103796 closed

[2020-08-10 14:24] #104366 closed

[2020-08-10 14:26] Tyriar commented on #104216
Are you trying to run VS Code within the Tizen emulator?

[2020-08-10 14:26] usernamehw commented on #104356
/causedByExtension

[2020-08-10 14:27] #104356 closed

[2020-08-10 14:29] Tyriar commented on #104291
I'm guessing xterm.js doesn't (yet) support this. Can you enable [escape sequence logging](https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-escape-sequence-logging) and check the console for what sequences are sent by ncurses?

[2020-08-10 14:30] daytonellwanger commented on #104180
Yes, that's right. And I'm certainly interested in exploring other ideas, as the `exclusive` flag has been an awkward solution, and will, I think, never make it past a proposed API.

For the guest in a Live Share session, it's almost never valid for local language servers to provide language services, as they don't have enough context for most things, and most of the requests are forwarded to the

[2020-08-10 14:30] OzSolomon-MSFT commented on #104246
This is a fresh install.  My user settings file is empty.

The default settings file has `"debug.onTaskErrors": "prompt"`, so I'm assuming that's in effect.

[2020-08-10 14:30] Jebtrix commented on #102254
Nightly extension does not fix this problem for me, only solutions #2 and #3.

[2020-08-10 14:31] jrieken commented on #104374
Two issues in one? So, for peek this doesn't make sense as enter is the "close peek and reveal reference in outer editor" gesture. Are you saying that instead the inner editor should be focused?

[2020-08-10 14:33] isidorn commented on #104246
Then I suggest you F1 > developer tools > sources > put a breakpoint around [here](https://github.com/microsoft/vscode/blob/b6d267bb672f341ec7006b2194abbdd81ae8fda4/src/vs/workbench/contrib/debug/browser/debugService.ts#L616) and try to investigate
Idealy the `runTasks` should get called.

Also you can try to reproduce with a very plain typescript sample, for exaple vscode starter extension.

[2020-08-10 14:37] jrieken commented on #104369
this came in via https://github.com/microsoft/vscode/commit/459939b9051e86653ef49f910c408a2b64f27bff

[2020-08-10 14:37] isidorn commented on #104374
For me: peek on `enter` does not close the close the peek, but simply moves it - gif attached. On `space` it does not do anything.
I suggest: `enter` - close the peek and reveal reference in the outer editor and pass focus to outer editor.
`space` - what currently enter does

![recording (3)](https://user-images.githubusercontent.com/1926584/89794763-cabfdb00-db27-11ea-94f2-f738632392d4.gif)

[2020-08-10 14:38] isidorn commented on #104376
Same as https://github.com/microsoft/vscode/issues/94307
Even though it is windows

[2020-08-10 14:38] #104376 closed

[2020-08-10 14:39] anantcho opened #104378 "when i am write (code) in Terminal{PS C:\Users\Anant Choudhary\flutter_dev> code}he shows"
code : The term 'code' is not recognized as the name of a cmdlet, function, script file, or
operable program. Check the spelling of the name, or if a path was included, verify that the
path is correct and try again.
At line:1 char:1
+ code
+ ~~~~
    + CategoryInfo          : ObjectNotFound: (code:String) [], CommandNotFoundException
    + FullyQualifiedErrorId : CommandNotFoundException

[2020-08-10 14:42] #104378 closed

[2020-08-10 14:42] jrieken commented on #104374
Using latest insiders I don't see what you are saying. I see enter opening a reference and space doing nothing

[Aug-10-2020 16-40-32.gif.zip](https://github.com/microsoft/vscode/files/5051470/Aug-10-2020.16-40-32.gif.zip)

[2020-08-10 14:43] anantcho opened #104379 "when i am write (code) in Terminal{PS C:\Users\Anant Choudhary\flutter_dev> code}he shows"
cd : An object at the specified path C:\Users\Anant Choudhary\flutter_dev\... does not exist.
At line:1 char:2
+  cd ...
+  ~~~~~~
    + CategoryInfo          : InvalidArgument: (:) [Set-Location], PSArgumentException
    + FullyQualifiedErrorId : Argument,Microsoft.PowerShell.Commands.SetLocationCommand

[2020-08-10 14:46] jahan01 opened #104380 "automationShell.osx doesnt work when set in workspaceFolder"
- VSCode Version: 1.47 - Tested with insider version as well
- OS Version: Mac 10.15

Steps to Reproduce:

1. Open a vscode workspace
2. Set the following in workspace settings ( `.vscode/settings.json`)
[code]
3. Launch a build task (tested with default `tsc build task` without anything in `tasks.json`), it still runs in the default shell.
4. Keep the same setting in global user settings.
5. Laun

[2020-08-10 14:48] RMacfarlane commented on #104319
@bksubhuti What is the keyring message that comes up in step 2?

[2020-08-10 14:48] isidorn commented on #104374
Oh now I see. If I do context menu > Go To References it beahves as you say.
If I do context menu > Peek Refereneces it does not. Which I guess is the difference between these two experiences. Which makes sense, I was just unaware of it.

So you can just treat this issue as a suggestion to change the Find All References tree view

[2020-08-10 14:52] gregvanl commented on #104290
Hi @szabi79 `Ctrl + +/-` will work on Windows and there are actually three keyboard shortcuts by default:

![image](https://user-images.githubusercontent.com/12818376/89796228-39784680-dade-11ea-8516-70a7ba34b6da.png)

but the most visible keybinding for **Zoom In** is `Ctrl + =` as you can see from the Command Palette:

![image](https://user-images.githubusercontent.com/12818376/89796073-08981180

[2020-08-10 14:52] #104290 closed

[2020-08-10 14:57] jrieken commented on #104180
Unsure how that should help with diagnostics and other pushed things like notifications etc. Should this knowledge be shared with extensions so that they ignore said documents? I think that would be a big ask from authors and also a late adoption.

Temporarily disabling extensions is IMO the best solution because it addresses these problems

* don't call providers two times (we use `exclusive` for

[2020-08-10 15:01] jrieken commented on #104374
Yeah, that the difference. WHich is quite subtle..

You be able to find a duplicate for that ;-) I currently lacks API as the tree view doesn't let know how an item was triggered...

[2020-08-10 15:01] #104374 closed

[2020-08-10 15:02] abellynow commented on #102805
Still present in 1.47.3:
[code]

[2020-08-10 15:03] nirmalnishant645 opened #104381 "Slows Down Occasionaly"
Issue Type: <b>Performance Issue</b>

I don't think I can descrbe it, just slows down occasionaly when I am working and it makes it difficult to do anything at all. And then gets back to normal.
It happens while working on files with .py .html .css .js extensions.

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T15:51:39.791Z)
OS version: Linux x64 5.4.0-42-gener

[2020-08-10 15:03] connor4312 commented on #102254
Please file an issue and include a tracelog using the link above!

[2020-08-10 15:05] daytonellwanger commented on #104180
If the language server is never activated, it'll never start pushing notifications. This is similar to your proposal for disabling the extension, except it feels more general. The extension disabling approach will require that Live Share keep a list of extensions that should be disabled on the guest (it's not always the case that the presence of an extension on the host signals it should be disabl

[2020-08-10 15:09] connor4312 commented on #102296
See https://github.com/microsoft/vscode/issues/103792

[2020-08-10 15:12] OzSolomon-MSFT commented on #104246
It looks like inside `restartSession` the debugging session configuration is missing the `preLaunchTask`:

![image](https://user-images.githubusercontent.com/67602429/89797831-6a19a980-daf9-11ea-9c98-ff19f4b392e8.png)

![image](https://user-images.githubusercontent.com/67602429/89797842-6e45c700-daf9-11ea-8190-05ad41bff2c4.png)

The session seems different than the one that is created in `doCreate

[2020-08-10 15:13] isidorn commented on #104246
Yeah, this helps. THanks a lot

@connor4312 can you change that you pass the `preLaunchTask` to child sessions? So when user restarts a child session this case is covered?
I am not sure why I can not repro this on the macOS.

[2020-08-10 15:14] Jebtrix commented on #102254
@connor4312 With so many dups of this bug I didn't want to pile on yet another, but will do.

[2020-08-10 15:15] connor4312 commented on #104323
Okay, thanks for the info. This is not something that the debugger controls, I suggest raising the issue on Nodemon.

[2020-08-10 15:15] #104323 closed

[2020-08-10 15:16] connor4312 commented on #104246
Indeed, this is the same as https://github.com/microsoft/vscode/issues/102296.

Thanks for reporting the issue, it should be fixed in 1.48.0 later this week (and is already fixed on VS Code Insiders)

/duplicate

[2020-08-10 15:17] tino-web opened #104382 "TS Server fatal error: path.replace is not a function"
Issue Type: <b>Bug</b>

?????? Please fill in the sections below to help us diagnose the issue ??????

**TypeScript Version:** 3.9.6

**jsconfig.json (when commenting config file out, TS/JS service starts as usual)**
[code]

**Steps to reproduce crash**
1.  Setup jsconfig.json with paths
2. Start VS code
3. Error starting TS/JS service with

**TS Server Error Stack**
[code]

VS Code version: Code

[2020-08-10 15:20] isidorn commented on #104246
@connor4312 hmm but the user says that he can reproduce with insiders - that is what got me confuse, since I knew you fixed something in this area that is why I first asked for repro in insiders.

[2020-08-10 15:22] bksubhuti commented on #104319
I'll have to get back to you.  It does not do this "every time"  but almost every time.  I cannot take a screen shot because my whole system is locked until I type the sudo password.  It says something like...  please type your password to unlock the keyring.  However, it does not say kwallet, and I have deleted my kwallets and created a new one with "" password.  It still asks for the keyring pas

[2020-08-10 15:23] connor4312 commented on #104246
Ah, okay, I missed that. @OzSolomon-MSFT can you set `trace: true` in your launch.json and share the resulting log (its location will be written in your debug console). That will help us see what's happening.

[2020-08-10 15:27] hyangah commented on #104200
Thanks @jrieken

I am observing the same behavior in both `peek` and `goto -> peak` modes.
The current behavior doesn't seem to choose the first item from the result our language server returned even when there is only one Go definition provider. May be the ordering was changed somewhere from the language client node library to vscode.

I see sorting is not easy, when multiple DefinitionProviders

[2020-08-10 15:34] gunadhya commented on #104219
@KDharmindar Hi, yes I'm working on it.

So looking through the vscode-docs I was able to find `codeActionsOnSave ` feature on this [commit](https://github.com/microsoft/vscode-docs/commit/792ded4db54bfc4f6acfac32c9fb5390ef3f5d5f#diff-33003541724706f07c97e9ba009323aeR197)
and I confirmed it by going on the main site and found references to `codeActionsOnSave` [here](https://code.visualstudio.com/d

[2020-08-10 15:34] OzSolomon-MSFT commented on #104246
@connor4312  please find attached.
[vscode-debugadapter-0.json.gz](https://github.com/microsoft/vscode/files/5051785/vscode-debugadapter-0.json.gz)

[2020-08-10 15:35] duzenko commented on #3884
What seems to be the problem with moving `.vscode` from the user profile root folder?

[2020-08-10 15:37] duzenko commented on #104357
I don't see any icons there

[2020-08-10 15:39] rebornix commented on #104352
@vammex can you confirm if @gjsjohnmurray 's suggestion helps?

[2020-08-10 15:40] ShanIgor commented on #74098
Does anyone have that flickering issue when scrolling? That's the issue I'm facing on my mac (macOS Catalina 10.15.6, Graphics: Intel HD Graphics 6000 1236 MB), but I've just figured out that it's not confined to vscode only. It also happens with WebStorm but it's much less pronounced on Atom, I'd say on Atom it's virtually invisible. And one more important note, I've googled through a ton of diff

[2020-08-10 15:46] connor4312 commented on #104246
Ah, got it, thanks 🙂 We weren't passing the tasks down to deeply nested children.

[2020-08-10 15:47] #104246 closed

[2020-08-10 15:49] isidorn commented on #104246
Great, thanks for fixing.
@OzSolomon-MSFT  thanks for provoding all teh details.

[2020-08-10 15:52] IllusionMH commented on #104357
For some reason your icon theme doesn't show icons for files in breadcrumbs, explorer, and editor tabs as well
![image](https://user-images.githubusercontent.com/1312662/89802463-3743d580-db3a-11ea-959a-07d4b7228d34.png)

What theme are you using? Because when I select `"workbench.iconTheme": null` there are no placeholders for icons.

[2020-08-10 15:54] duzenko commented on #104357
![image](https://user-images.githubusercontent.com/1481807/89803024-f7312280-db3a-11ea-83c6-3fd9a68b7b78.png)

[2020-08-10 15:59] IllusionMH commented on #104357
/causedByExtension

Because extension provides empty icon for files - these places has empty space and not skipped in the same way as with `"workbench.iconTheme": null`.

https://github.com/gebilaoxiong/vscode-flatland-icon-theme/issues/1

[2020-08-10 16:00] #104357 closed

[2020-08-10 16:02] Tyriar commented on #104379
Please provide a screenshot or [a gif](https://gifcap.dev/) illustrating the problem (attaching images won't work via email, you need to go to github.com).

/label "needs more info"

[2020-08-10 16:02] Tyriar commented on #104317
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2020-08-10 16:02] #104317 closed

[2020-08-10 16:06] poojan0099 commented on #103653
@chrmarti ?

[2020-08-10 16:08] Tyriar commented on #104192
/duplicate https://github.com/xtermjs/xterm.js/issues/469

[2020-08-10 16:08] #104192 closed

[2020-08-10 16:11] Neurrone commented on #104374
Hm, wondering if this issue should be reopened?

If the references tree does not move focus to the editor upon pressing enter, that sounds similar to an existing issue, and it would be nice if trees all behaved predictably.

[2020-08-10 16:12] sbatten commented on #104293
reopening until PR is merged

[2020-08-10 16:24] sanket-bhalerao commented on #104338
is that an option?

[2020-08-10 16:26] RyanAfrish7 commented on #104271
Will submitting a PR make any difference?

[2020-08-10 16:26] Tyriar commented on #104236
With the deb package, could you run this:

[code]

The Exec is likely this:

[code]

Is running `/usr/share/code/code --no-sandbox --unity-launch` from a terminal manually slow as well? It is fast on my machine.

[2020-08-10 16:30] connor4312 commented on #103844
Thanks for the detailed logs and info:

In your first comment, it looks like the breakpoint was in the wrong place after one or more page reloads. I know there are some cases where reloading sources / loading new sources doesn't update cached sourcemaps correctly. I will look into that in the immediate future.

In the second comment with being unable to attach, it looks like we got a connection re

[2020-08-10 16:40] Tyriar commented on #104231
This worked for me on a fresh VM so it's likely an issue with your environment.

![image](https://user-images.githubusercontent.com/2193314/89807296-43557600-daed-11ea-9962-acff7bdc3155.png)

It's possible it's related to repo geo replication, can you try again today to see if it's fixed, if not check http://packages.microsoft.com/yumrepos/vscode/ to see if 1.47.3 shows up?

![image](https://user-

[2020-08-10 16:41] #86829 closed

[2020-08-10 16:46] Tyriar commented on #104154
Related: https://github.com/microsoft/vscode/issues/101575

[2020-08-10 16:50] Tyriar commented on #102788
I cannot reproduce this and see that the logs are launching with cwd set to `/home/satyam/website`. The only thing I can think of that this could be is that you are setting the directory with a `cd` call or something in one of your terminal launch scripts. Closing as I don't think this is actionable on our end.

[2020-08-10 16:50] #102788 closed

[2020-08-10 16:56] Tyriar commented on #91290
@testforstephen great feedback thanks!

The intent for the API is that if you provide a link, you must do something when it's clicked. I suggest reverting to the default behavior and trigger a quick open search for something relevant, in your case probably the symbol name `doCreateBean`. This is even better than a no impl found message imo as it provides more information and potentially finds what

[2020-08-10 16:59] roblourens commented on #101924
I'm not sure what selfhost web means these days or what the selfhost web folder is

[2020-08-10 17:03] isidorn commented on #104271
No.

[2020-08-10 17:10] Shaltz commented on #104236
Hi,

I've tried what you recommend and I end up with the same behaviour... slow to launch and the extensions are not loaded...
I followed up by calling

[code]
instead, and it works like a charm...

<TL;DR>
I feel like there is something to do with which executable is called...
on my machine, if you call the exec located here
[code]
it s slow and the extensiosn don't load

if you call
[code]

it w

[2020-08-10 17:13] roblourens commented on #101924
I tried to hit this scenario by running the server myself but I don't really understand it, and I just get this

![image](https://user-images.githubusercontent.com/323878/89810558-1b1c4600-daf2-11ea-8c72-407c2a46c1de.png)

[2020-08-10 17:14] IllusionMH commented on #104344
This one looks like specific for GitLab, and most likely work for GitHub, Bitbucket etc.

Instead you can use extension specific for your repository provider which provides more functions related with provider specific workflows:
**GitHub** https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-request-github
**GitLab** https://marketplace.visualstudio.com/items?itemName=GitLab.git

[2020-08-10 17:15] IllusionMH commented on #104344
This one looks like specific for GitLab, and most likely work for GitHub, Bitbucket etc.

Instead you can use extension specific for your repository provider which provides more functions related with provider specific workflows:
**GitHub** https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-request-github
**GitLab** https://marketplace.visualstudio.com/items?itemName=GitLab.git

[2020-08-10 17:16] #104245 closed

[2020-08-10 17:23] #91290 closed

[2020-08-10 17:23] KresimirCosic opened #104383 "Crash upon opening "open folder" prompt"
Issue Type: <b>Bug</b>

Using 20.04 LTS of Pop!_OS (Ubuntu based). Never had this issue before, even on the same OS version, but I haven't used VSCode in 3-4 months so something might have changed.

Upon opening the prompt to "open a folder location" the program just freezes and crashes eventually in a few seconds.

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23

[2020-08-10 17:23] Tyriar commented on #91290
Moved the API to stable and added a sample: https://github.com/microsoft/vscode-extension-samples/commit/83261e3f32421da84513c5a76e8b6a08fff3c332

[2020-08-10 17:37] aletsdelarosa opened #104384 "Extension tests not working"
- VSCode Version: 1.47.3
- OS Version: Windows 10

Steps to Reproduce:

We have an extension, and it runs and works correctly. When we try to run the tests we are having an error that says that some module cannot be found.

We are using module aliases, so, we have something like this in the `package.json`:
`"_moduleAliases": {
    "@abstractions": "../../.."
},`

and in the file we have this:
`con

[2020-08-10 17:41] JacksonKearl commented on #104218
Thanks for reporting this!

I'm not sure what the correct approach is here... forks probably don't need any of our actions - while I could add logic to make them exit immediately on forks, they'd still be running briefly and consuming your action minute quotas.

IMO it'd be better if GitHub had a way to explicitly include/exclude actions on forking, in the time being your best bet might be to just

[2020-08-10 17:47] joaomoreno commented on #104293
@sbatten Can you give a summary of what's happening here? Given that you reopened this I take it that the setting exists, but it isn't being respected at all... so it was just a coincidence that @rob3c was poking around here?

[2020-08-10 17:48] connor4312 commented on #104385
Thank you for the log, that's helpful. I can't repro locally, but this seems like a bug in vscode rather than the debugger.

The sequence above is accurate -- VS Code sets a breakpoint on line 107, which is verified by the child session (not the wrapper parent session, but that doesn't cause an issue _locally_...) but never sends a `continue`.

[code]

[code]

cc @isidorn. I can take a look later

[2020-08-10 17:49] #93814 closed

[2020-08-10 17:50] alber70g opened #104386 "Option to select "Unified Source Control" or "Old Source Control""
I'd like to see an option to select the old view. For me the new view is very cluttered and hard to get focus. The old view was for me much cleaner and easier to focus. Especially when working in a "monorepo with git submodules" style project that has over 20 submodules.

Old: https://code.visualstudio.com/updates/v1_20#_git-submodules

![Old Source Control](https://user-images.githubusercontent.c

[2020-08-10 17:51] joaomoreno commented on #100172
@jrieken I had this one created: https://github.com/microsoft/vscode/issues/103946

I leave it up to you to decide which one to keep. I won't be able to work in finalizing it since I'm out in August so after choosing the issue, pick one option:

1. Keep it in August and assign someone else;
2. Move it to September and assign myself.

[2020-08-10 17:52] rebornix commented on #104276
can't reproduce any more '(

[2020-08-10 17:53] stamblerre opened #104387 "GlobPattern requires case-sensitive drive letters on Windows"
I am using the file watching API via the [Language Server Protocol](https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#workspace_didChangeWatchedFiles) for the [Go language server](https://golang.org/s/gopls).

It seems that the API requires the drive letter in the GlobPattern to always be lowercased. We have noticed that the rootURI in the language client's in

[2020-08-10 17:53] #104276 closed

[2020-08-10 17:54] MateusAmin opened #104388 "Ubuntu Snap Does Not Have Permissions to Use Audio Interfaces"
For example, this hello world will not work when executed from the VS Code terminal:

https://gstreamer.freedesktop.org/documentation/application-development/basics/helloworld.html?gi-language=c

Here is some relevant Snap documentation:

https://snapcraft.io/docs/interface-management

[2020-08-10 17:58] darthtrevino opened #104389 "When using Surface Dial, Focused Editor does not Scroll"
Issue Type: <b>Bug</b>

When using a Surface Dial, the "scrolling" behavior does not align to the selected pane.

![scrollpanes](https://user-images.githubusercontent.com/113544/89814604-38541300-daf8-11ea-877d-151b8da100e9.gif)

VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:12:49.994Z)
OS version: Windows_NT x64 10.0.20185
Remote OS version: Linux x64 4.19.

[2020-08-10 18:01] sbatten commented on #104293
I just added the new experiment service this milestone. I was not aware of this setting existing for the old service, but now that I am, it should be respected in the new service as well.

[2020-08-10 18:02] roblourens commented on #104085
I think this happened again. I clicked "accept remote and it looks like it accepted local.

[2020-08-10 18:03] FunnyLamma opened #104390 "Microsoft VS total stats"
An command that will show you the stats of the whole application, like how many lines of code everyone has written.

[2020-08-10 18:12] thescripter commented on #103420
I tried attaching the extensions after having renamed them to .zip, and I still get the same error. It's probably some caching issue or they're not getting downloaded correctly. But I'm not sure why these in particular would error out, so would like to get to the bottom of it.

[2020-08-10 18:16] sanbox-irl commented on #104221
it *also* appears when I try to open an external editor using the shortcut. that setting is:
[code]

and then the new windows terminal fails to load...this could be real the cause, tho I don't know how the code command would invoke this

[2020-08-10 18:18] sanbox-irl commented on #104221
ehhh maybe not.

revert that setting to the default `**C:\WINDOWS\System32\cmd.exe**` doesn't make a difference -- same error message, and cmd doesn't come up

[2020-08-10 18:19] hey24sheep commented on #104218
Thanks @JacksonKearl , for now, I have disabled Actions in settings for my fork but I created this bug cuz I wasn't expecting to get actions setup for your branch to run on mine. As a result it created this error regarding keys/secret. So, I thought maybe someone know some other solution to this issue.

My solution : Disable "Actions" in repository settings

Any other elegant or good solution woul

[2020-08-10 18:19] connor4312 commented on #104195
Thanks for the issue, I applied what I believe to be a fix for the scenario you were hitting in the linked commit. If this doesn't fix it for you, please capture a trace log and send it over 🙂

[2020-08-10 18:22] #104390 closed

[2020-08-10 18:23] #104372 closed

[2020-08-10 18:23] #104384 closed

[2020-08-10 18:24] mjbvz commented on #104381
Does this reproduce with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-08-10 18:25] queston02 commented on #104195
Connor thanks for the fix. Should i take the latest nightly build now or tomorrow to test the fix?

[2020-08-10 18:27] daniv-msft commented on #95162
Thanks @isidorn, that's great! I'll give this a try once the VS Code insiders release is available, and I will let you know how it goes.

[2020-08-10 18:27] roblourens commented on #102818
Beat me by 10 seconds... double verified

[2020-08-10 18:28] mjbvz commented on #104361
/extDocker

[2020-08-10 18:28] #104361 closed

[2020-08-10 18:29] JacksonKearl commented on #104218
I think disabling actions in the repository settings is the correct solution here, I didn't know that was an option.

In that case, I'd prefer to leave in the errors to prompt forkers to disable actions rather than silently consume action minutes.

[2020-08-10 18:29] #104218 closed

[2020-08-10 18:29] #104332 closed

[2020-08-10 18:31] mjbvz commented on #104358
Please follow [these instructions](https://github.com/Microsoft/vscode/wiki/Performance-Issues) to collect performance information. Share the output of `code-insiders --status`

[2020-08-10 18:32] hey24sheep commented on #104218
@JacksonKearl can we have a note or something in contribution guide regarding this? Would be helpful.

[2020-08-10 18:36] connor4312 commented on #104195
Tomorrow -- nightly publishes slightly after 5 PM PST each day

[2020-08-10 18:36] JacksonKearl commented on #104218
I have added a note here https://github.com/microsoft/vscode/wiki/How-to-Contribute#getting-the-sources

[2020-08-10 18:38] hey24sheep commented on #104218
Thanks 👍

[2020-08-10 18:50] JacksonKearl commented on #97760
This will be fixed if/when the electron fix goes in, not much I can do here.

[2020-08-10 18:50] #97760 closed

[2020-08-10 19:00] RMacfarlane commented on #104015
When I change the kernel provider to a placeholder one from my sample extension, it doesn't seem to get highlighted in the quick pick:
<img width="712" alt="Screen Shot 2020-08-10 at 11 58 03 AM" src="https://user-images.githubusercontent.com/3672607/89819832-e06dda00-db00-11ea-850a-cc2d2e246885.png">

Here's the code I added in `extension.ts` in the sample renderer:
[code]

[2020-08-10 19:06] RMacfarlane commented on #104076
To verify:
- Sign out of GitHub
- Run the [GitHub authentication example](https://github.com/microsoft/vscode-extension-samples/blob/master/github-authentication-sample
- Check that a badge is displayed on the accounts icon and an entry in the accounts menu that says "Sign in to use github-authentication-sample"

[2020-08-10 19:19] marco-pm opened #104391 "Inconsistent behavior of Reveal in Side Bar for untracked files"
If I have an open editor of a file located at least 2 levels under the repository root (_I'm not 100% sure about this condition, however I tried with files in the main path and under 1 level and the bug is not present_) and add a new file to the repository, locating it in the sidebar (with "Reveal in Side Bar") doesn't always work: the first time it works, the second time it locates the current op

[2020-08-10 19:20] mjbvz commented on #104369
@jrieken Do you know what about that commit is incorrect?

@DanTup Can you please provide steps to reproduce this so we can investigate?

[2020-08-10 19:24] TurboCooler opened #104392 "[Python] Linter shows import is valid but when ref in code shows module not found; however runs correctly"
- VSCode Version: 1.47.3
- OS Version: Windows 10 Enterprise 10.0.17763 Build 17763

Steps to Reproduce:
0. **pre-req python 3.8 for windows installed; happens only when I have virtual environment; cannot repro without a venv**
1. Create Folder
2. Create main python file
3. Create second python file that will reference the first
4. Open code in this directory
5. Double click on either python file

[2020-08-10 19:31] eamodio commented on #104224
At first it seems to work, but hovering around on multiple menus (including deeply nested ones) and then coming back to say the _File_ menu causes the following errors:

[code]

[2020-08-10 19:34] mjbvz commented on #104329
@sbatten Has the way the menus handle mnemonics changed this iteration? The webview still seem to be dispatching the events but they aren't being handled by anyone

[2020-08-10 19:35] #96139 closed

[2020-08-10 19:43] BrunoGiubilei opened #104393 "VS Code stop to work when search for 'DIV'"
I searched for DIV and sent it. It caught everything. I had to shut down Visual Studio.
[https://streamable.com/3ae19u](url)

[2020-08-10 19:43] DanTup commented on #104369
My guess is that [this line](https://github.com/microsoft/vscode/commit/459939b9051e86653ef49f910c408a2b64f27bff#diff-0ce495caad094e6c7241c2b766c87120R174) should be using `targetRange`.

To reproduce, you just need to return a `LocationLink` that has a `targetSelectionRange` that covers a small range (eg. the name of a function, which is what the LSP docs give as an example) and a `targetRange` t

[2020-08-10 19:47] sbatten commented on #104329
@mjbvz nope no changes that i know of

[2020-08-10 19:55] Venipa opened #104395 "Devtools do not open (Stable and Insiders) (fresh installed insiders)"
Issue Type: <b>Bug</b>

Video of issue:
https://i.mavis.moe/f/4xFesJt5pk/2020-08-10-21-53-55mp4.mp4

VS Code version: Code - Insiders 1.48.0-insider (2277c8e2a3e1cc630a6397301ba54a1dccd8a60d, 2020-08-07T11:32:09.993Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 3800X 8-Core Processor              (16 x 3893)|
|GPU Status

[2020-08-10 19:58] #101845 closed

[2020-08-10 20:00] sbatten commented on #104329
should be handled here https://github.com/microsoft/vscode/blob/4a1bcdafe97820778ba86f40c225dbb40585c8f0/src/vs/base/browser/ui/menu/menubar.ts#L1020

[2020-08-10 20:07] Dr-Irv opened #104396 "Cannot copy code from notebook cell into a script file"
Issue Type: <b>Bug</b>

1. Open up a python notebook that has python code in it.
2. Open up a python ".py" file and have the two open tabs side by side
3. Select some lines of code from a single cell in the notebook, and select Edit->Copy
4. Go to the script file and try to paste the code into the script

The code from the notebook does not paste into the script file.

VS Code version: Code 1.47.3

[2020-08-10 20:10] Tyriar commented on #91606
I plan on removing this in this iteration. I believe js-debug was the only consumer which has since moved onto link providers.

[2020-08-10 20:18] connor4312 commented on #103844
Tracking the reload issue in https://github.com/microsoft/vscode/issues/101762

/duplicate

[2020-08-10 20:19] #103844 closed

[2020-08-10 20:22] sweettyler commented on #104332
according to what was replied by a developer, " CTRL+H is coming from our extension, CTRL+F is provided by VS code for webviews", vscode WebView is actually the root causing the problem.

[2020-08-10 20:23] rebornix commented on #104396
/extPython

[2020-08-10 20:23] #104396 closed

[2020-08-10 20:24] unional commented on #50638
This is a major issue for multi-root workspace. Currently I'm hitting with the watch file limits (which I cannot change the environment) and there isn't a way to do `files.exclude` on the each root.

[2020-08-10 20:26] rebornix opened #104397 "DND markdown cell to the end of document miss layout"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Create 6 cells, markdown, code, markdown, code, markdown, code.
2. Fold the first markdown cell
2. Drag it to the end of the document
3. The markdown cell is not layout correctly

![dnd-miss-layout](https://user-images.githubusercontent.com/876920/89827847-09946780-db0d-11ea-98ae-8dfdad9d5926.gif)

Does this issue occur when all extensions a

[2020-08-10 20:33] rebornix commented on #104263
Fixed via bdfef57b0a02f046c1cd713126f7641a053a3c21

[2020-08-10 20:33] #104397 closed

[2020-08-10 20:34] borekb commented on #103950
Bad luck, Codespaces currently cannot turn sync on due to this error:

I'll try to do it again next week or so.

[2020-08-10 20:34] #104263 closed

[2020-08-10 20:34] Tyriar commented on #104084
What does `Import-Module Az.Compute` say?

[2020-08-10 20:34] Tyriar commented on #104084
/extPowershell

[2020-08-10 20:35] #104084 closed

[2020-08-10 20:39] mjbvz commented on #104332
Webviews only provide basic search, not replace. In this case, the extension should intercept  ctrl+f to show the same find/replace UI they show for ctrl+h

[2020-08-10 20:41] mjbvz commented on #104392
/extPython

[2020-08-10 20:41] #104392 closed

[2020-08-10 20:43] mjbvz commented on #104395
Since yoy don't have any webviews open, the `Open Webviews Developer Tools` command is not expected to do anything

Assigning @deepak1556 for the normal dev tools not opening

[2020-08-10 20:43] connor4312 commented on #103400
Closing due to lack of info

[2020-08-10 20:43] #103400 closed

[2020-08-10 20:43] sweettyler commented on #104332
I agree that webview does provide basic search function, but it's too basic - not able to match case, whole word, I can't believe it's 2020 now.

[2020-08-10 20:54] Tyriar commented on #104140
The process running within the terminal is in control of colors.

[2020-08-10 20:54] #104140 closed

[2020-08-10 21:03] Venipa commented on #104395
@mjbvz didnt know that but here's an example with a created webview:
https://i.mavis.moe/f/J5E5EHTrxr/2020-08-10-23-03-04mp4.mp4

[2020-08-10 21:03] webOS101 commented on #101555
I missed the response earlier!  My list is quite a bit smaller:
[code]

Common plugins:
[code]

[2020-08-10 21:07] samilce opened #104398 "Prompt if new shortcut is conflict another after an update"
If a default or user mapped shortcut keybinding conflicted with new shortcut after any vscode or extension update, please inform and prompt the user to review these shortcuts. Collecting statistics about shortcut hit count may be very useful to give advice to keep old shortcut or adding a when statement to new shortcut :rocket:.

An example, `git.commitAll` default keybinding <kbd>Command+K</kbd>

[2020-08-10 21:10] DAmNRelentless commented on #103804
Current workaround:
- add the `open` attribute to the `<details>` while editing
- make sure to delete them after done with editing

[2020-08-10 21:16] cyberbiont commented on #104220
I'd like to know this too. I'm developing an extension that needs to do exactly this.

[2020-08-10 21:21] #91606 closed

[2020-08-10 21:28] roblourens commented on #93598
Closed with https://github.com/microsoft/vscode/issues/99635

[2020-08-10 21:28] #93598 closed

[2020-08-10 21:29] eamodio opened #104399 "Authentication: Sometimes Sign Out doesn't fully sign out"
### Starting with no accounts
![image](https://user-images.githubusercontent.com/641685/89832686-ae26a180-db2d-11ea-9412-7ea83ce65a9b.png)

### Sign into the GitHub Browser extension
![image](https://user-images.githubusercontent.com/641685/89832772-cf878d80-db2d-11ea-9354-10045c078535.png)
![image](https://user-images.githubusercontent.com/641685/89832794-d910f580-db2d-11ea-8532-950935e37acd.png)

[2020-08-10 21:30] connor4312 commented on #103273
Thanks for the issue. This is because of our dependence on js-beautify, which it appears ends up changing some structure of the minified code which prevents the comparison we use to build sourcemaps. I've been wanting to move us away from js-beautify for this reason. This is tracked in https://github.com/microsoft/vscode-js-debug/issues/371

/duplicate

[2020-08-10 21:31] #103273 closed

[2020-08-10 21:33] rebornix commented on #104262
The next Insiders from master will have logging for execution and metadata change. Once that's out, @misolori can you set the Developer Log Lever to Debug and then try to reproduce? Once you reproduce the issue, you can share the logs from Output (Window) and then we can troubleshoot.

[2020-08-10 21:44] #103261 closed

[2020-08-10 21:45] JacksonKearl commented on #104393
Thanks for reporting this! Is there any public repo that you can reproduce this on?

[2020-08-10 21:49] JacksonKearl opened #104400 "Maxed-out searches gives different results with context lines"
When a search is maxed out (10k results+), adding context lines causes the total number of results to decrease.

For instance:
1. Search "test" in search editor, see 10k results
2. Add context lines, see results drops to like 4k.

I noticed this at first with the JS search implementation and figured the search provider impl was incorrect, but then saw it also with ripgrep, which leads me to think

[2020-08-10 21:57] webOS101 commented on #101555
I did a `grep` for the offending string and, per my expectation, found it in the `eslint` plugin:
[code]

cc: @dbaeumer

[2020-08-10 22:05] mjbvz commented on #104329
`alt+f` is working for me and @sbatten in insiders on windows.

For just pressing `alt` to show the mnemonics, this does not seem like a regression from 1.47 in my testing but it was working in 1.46

[2020-08-10 22:07] #102337 closed

[2020-08-10 22:10] eamodio commented on #92290
@mikedld I can't reproduce this either. If you find that your settings are causing this, can you post them?

[2020-08-10 22:19] JacksonKearl commented on #104400
Confirmed searches are ending as limitHit at around 10k lines, including context, @roblourens do you think that's expected or should it always give 10k results, even if that might take many more thousands of lines?

[2020-08-10 22:19] roblourens opened #104401 "Sync settings are excluded from settings editor"
` WARN SettingsEditor2: Settings not included in settingsLayout.ts: sync.ignoredExtensions, sync.ignoredSettings, sync.keybindingsPerPlatform`

[2020-08-10 22:22] roblourens commented on #104401
Oh, these are deprecated. Maybe the error only shows up because I have configured them. Anyway I can add a simple change so that they show up (configured deprecated settings will be shown in the settings UI)

[2020-08-10 22:24] connor4312 commented on #103083
In the linked issue I've made some changes to make this error more explicit and user-friendly. It turns out that when Chrome is running it creates a `lockfile` in the user data dir -- easy enough to detect, and although it's an implementation detail it should be free of false-positives (only false-negatives if they change how it works at a later point in time).

![](https://memes.peet.io/img/20-08

[2020-08-10 22:26] #103083 closed

[2020-08-10 22:33] connor4312 commented on #103048
I'm closing this issue for housekeeping as there've been a bunch of separate threads off the main topic, and the original poster did not follow up with trace logs.

If you're in this thread and still having issues, please do two things:

1. Try out the [nightly build](https://github.com/microsoft/vscode-js-debug#nightly-extension) which contains several dozen bugfixes (will also be released in VS

[2020-08-10 22:33] #103048 closed

[2020-08-10 23:00] connor4312 commented on #102873
@andreafdaf / @nynj I'm having some trouble getting this to happen with my TS projects locally.

Are you able to share an application or small example where this reproduces?

Alternatively, can you describe a little more about your build setup to help me simulate it -- are you just running tsc or using something like webpack or babel to build?

/needsMoreInfo

[2020-08-10 23:24] connor4312 opened #104403 "Allow debugging all scripts in the npm scripts view/extension"
Currently the npm scripts view only allows debugging scripts that have `--inspect` or `--inspect-brk` flags, however we're now capable of debugging scripts even when this is not the case.

We should update the npm scripts view to enable debugging on all scripts. This adds capability and simplifies our code as well.