[2017-06-12 18:14] Tyriar commented on #28541
Is `ng` on your path? Try running `echo %path%` in the terminal and check if `ng` is in one of the folders.

[2017-06-12 18:14] Tyriar commented on #28532
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-06-12 18:14] #28532 closed

[2017-06-12 18:14] ramya-rao-a commented on #28413
Yes, it will take a while for emmet users with `quicksuggestions` off to get used to the new model. We'll get there :)

[2017-06-12 18:15] ramya-rao-a commented on #28359
Thanks @TomasDuda

Closing as duplicate

cc @Tyriar

[2017-06-12 18:15] #28359 closed

[2017-06-12 18:17] zersiax commented on #28448
Confirmed. I have to escape out a couple times and refocus on the editor to see where it landed me the first time. After this, f3 works. But this experience could definitely be streamlined.

[2017-06-12 18:17] jmpp commented on #22337
@sant123 Dunno. Maybe you should ask @ramya-rao-a ;-)

[2017-06-12 18:19] Tyriar commented on #28333
Duplicate https://github.com/Microsoft/vscode/issues/15198, I've been thinking about this a bit recently. I'm not sure if we can offer a consistent search experience (as cool as that would be) as it's built on https://github.com/sourcelair/xterm.js which is probably what @iamdevlinph was calling out.

[2017-06-12 18:19] #28333 closed

[2017-06-12 18:19] ramya-rao-a commented on #28361
I cant repro this.

@cassiobsilva Can you disable all installed extensions, reload VS Code and try again? This is just to ensure that the extensions you have arent causing the problem

![image](https://user-images.githubusercontent.com/16890566/27048505-fea3efde-4f60-11e7-9b40-25ea2c20853a.png)

[2017-06-12 18:19] hjma29 commented on #14836
love to have this feature

[2017-06-12 18:21] Tyriar commented on #15198
@rebornix any thoughts on if could make monaco and xterm.js share code for the find widget? It would be cool if the find in the terminal panel was consistent with other panels and the editor (see https://github.com/Microsoft/vscode/issues/28333).

[2017-06-12 18:22] Tyriar commented on #28362
Duplicate https://github.com/Microsoft/vscode/issues/26038

[2017-06-12 18:22] BuonOmo commented on #28545
I wasn't. It worked when I first pressed <kbd>tab</kbd> in my IDE. I just tried right now, It doesn't work with or without `emmet.syntaxProfiles`.

[2017-06-12 18:25] Tyriar opened #28554 "Terminal selection does not show up if selection.background is not defined"

[2017-06-12 18:25] romulof commented on #26896
The latest release has fixed this for me. Thanks!

[2017-06-12 18:25] romulof commented on #21655
The latest release has fixed this for me. Thanks!

[2017-06-12 18:26] zersiax commented on #27216
After doing some testing, this most likely is a Chromium issue. I had a play with Postman running in a Chrome Stable instance and ran into the same issue, haven't tried any experimental builds though. Looking at the behavior of the braille display it seems the accessibility API registers the event and acts on it, but doesn't actually properly move the caret.

[2017-06-12 18:26] jhasse opened #28555 "[c++] and, or, ... keywords in C++"
- VSCode Version: 1.12.2
- OS Version: Linux

## Python
![python](https://user-images.githubusercontent.com/80071/27048724-2eb93f20-4fad-11e7-9a6f-bf5e64d052fe.png)

## C++
![c](https://user-images.githubusercontent.com/80071/27048728-31c9eab6-4fad-11e7-88e6-b791b2509f1d.png)

`and` and `or` are keywords in C++, too. It would be nice if they would be highlighted blue as in Python.

[2017-06-12 18:26] tklepzig opened #28556 "Improvement: Combine "Complete Emmet Abbreviation" and "Expand Emmet Abbreviation""
- VSCode Version: Code - Insiders 1.14.0-insider (4541e70733f110ada8d0b4266bc922565d74950a, 2017-06-09T05:11:14.033Z)
- OS Version: Linux x64 4.8.0-52-generic
- Extensions: no extensions (I disabled all my extensions)
- Settings:
[code]
---

Steps to Reproduce:

1. Create empty HTML file
2. Write `scr` and trigger suggestions.
3. You can now choose `script`from the list but you have to trigger the

[2017-06-12 18:28] ramya-rao-a commented on #28354
Works for me too

@ChristianTheMinery What theme are you using? Can you try other themes and see if you get the same issue?

[2017-06-12 18:28] fedorinoGore commented on #24820
Same issue.

- VS Code 1.13.0
- OS X 10.12.5

`LC_ALL` is empty
`LANG=ru_RU.UTF-8`
`LC_CTYPE=ru_RU.UTF-8`

The problem appears only if launched from terminal

[2017-06-12 18:29] tklepzig commented on #28413
#28556

[2017-06-12 18:29] RoyTinker commented on #28544
@Webdien123 Do you mean VS Code crashes at step 4?

"Cracked" usually means a malicious third party has gained unauthorized access.

[2017-06-12 18:30] tklepzig commented on #28413
I have just another question to this topic :), see #28556

[2017-06-12 18:30] ramya-rao-a commented on #28479
Closing as duplicate of #26038

cc @Tyriar

[2017-06-12 18:30] #28479 closed

[2017-06-12 18:31] #27862 closed

[2017-06-12 18:31] #27991 closed

[2017-06-12 18:32] #28554 closed

[2017-06-12 18:34] Tyriar commented on #27079
@cleidigh FYI there is a new command `workbench.action.terminal.selectAll` in the latest Insiders which selects all text. Bound by default on macOS to cmd+a but not Windows/Linux (as ctrl+a is a command shell shortcut).

[2017-06-12 18:36] ramya-rao-a commented on #28449
Duplicate of #28093

The fix is available in the Insiders.

[2017-06-12 18:36] #28449 closed

[2017-06-12 18:36] ramya-rao-a commented on #28449
cc @alexandrudima @rebornix

[2017-06-12 18:37] ramya-rao-a commented on #28478
Thanks for the steps @wsmelton, I can repro too.

Found that this is a duplicate of #28093

The fix is available in the Insiders.

cc @alexandrudima @rebornix

[2017-06-12 18:37] #28478 closed

[2017-06-12 18:41] Tyriar commented on #28036
@dbaeumer I would expect either as args or the single string should work. Not sure what's sent now but maybe for bash.exe on Windows you need a conditional that uses the `string[]` approach?

[2017-06-12 18:42] Tyriar commented on #28502
@dbaeumer perfect! :ok_hand:

[2017-06-12 18:43] ramya-rao-a commented on #28545
@BuonOmo What I was asking was if this worked when you had `emmet.useNewEmmet` to `false` and if it did work, did you need to set the mapping in `emmet.syntaxProfiles`?

[2017-06-12 18:46] CherryDT opened #28557 "Integrated console: Certain Unicode characters followed by a link cause the link to duplicate itself and jump around when scrolling"
**EDIT: I now know that it is a duplicate of #26038 (and all its many friends), but maybe the info in here is still useful.**

Version 1.13.0-insider
Commit f977399d58f7b64db35047fafe0c6e59e15f11d5
Date 2017-06-02T10:54:04.063Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0
- OS Version: Windows 10; 15063.296

Steps to Reproduce:

1. Copy this file somewhere: https://www.dropbox.com/s/3vgfq34mfzfqux

[2017-06-12 18:48] Tyriar commented on #28504
Cannot reproduce, probably some null check is needed somewhere. If you have consistent repro steps could you debug into `SelectionManager.ts` and find out what values of the following are:

[code]

Also did the position you clicked make a difference? Your settings.json would be useful too.

[2017-06-12 18:49] abigwonderful opened #28558 "Terminal erratic behavior + duplicate path after updating VSCode"
- VSCode Version: 1.13.0 (1.13.0)
- OS Version: macOS Sierra - 10.12.5
- **using ZSH**

Steps to Reproduce:

1. updated to latest VSCode version
2. open terminal instance
3. look at path (see image)
![vscode-path](https://user-images.githubusercontent.com/1163408/27049687-47535b50-4f6d-11e7-8bfb-a631f64e02d2.jpg)
4. when interacting with terminal (typing/clicking) there is a flicker and text flash

[2017-06-12 18:50] QwertyZW commented on #28547
I downgraded to 1.12.2 and ran into the same issue. Turns out the lag was caused by using those xdebug settings

[code]

Appologies for the false alarm.

[2017-06-12 18:50] #28547 closed

[2017-06-12 18:52] derekriemer commented on #28308
Would you mind doing this for the error text (f8) tooltip?

On Mon, Jun 12, 2017 at 8:45 AM, Alexandru Dima <notifications@github.com>
wrote:

--

Derek Riemer: Improving the world one byte at a time!

   - University of Colorado Boulder Department of computer science, 4th
   year undergraduate student.
   - Accessibility enthusiast.
   - Proud user of the NVDA screen reader.
   - Open source enth

[2017-06-12 18:53] ramya-rao-a commented on #28545
Ah! nice catch

In the old emmet mode, https://github.com/Microsoft/vscode/blob/0117f311aa61d1af3018ee0749702dd5e5691738/src/vs/workbench/parts/emmet/electron-browser/editorAccessor.ts#L264 ensures `handlebar` gets mapped to `html`

This doesnt happen in the new model.

Will look into it, thanks for reporting!

[2017-06-12 18:53] Tyriar commented on #28516
Did you have a selection in the terminal beforehand? If so this is by design, at least at the time of implementation. One of the perks of this new selection implementation is that the selection doesn't disappear whenever the terminal loses focus, so the right click you may be expecting to paste may be doing a copy using the existing selection?

[2017-06-12 18:53] cassiobsilva commented on #28361
Hi @ramya-rao-a
I can't reproduce it too. The solution seemed to be close all instances and open it again.
I will close this issue for now, thanks!

[2017-06-12 18:53] #28361 closed

[2017-06-12 18:57] derekriemer commented on #28306
@jchadwick Does NVDA have hard coded rules? I think this is just a caret positioning bug.

[2017-06-12 18:58] derekriemer commented on #28306
s/jchadwick/@jcsteh/
sorry guys

[2017-06-12 19:01] warpdesign commented on #28516
No, I didn't have a selection in the terminal.

Le 12 juin 2017 20:54, "Daniel Imms" <notifications@github.com> a écrit :

[2017-06-12 19:08] CherryDT commented on #28557
...well yeah, now that I know what to look for, I see it's a duplicate of #26038 and many many others. Closing.

[2017-06-12 19:08] #28557 closed

[2017-06-12 19:10] Apostolique opened #28559 "Intellisense with word wrap breaks below the wrap when using vscodevim.vim"
- VSCode Version: 1.13.0
- OS Version: Windows 10 Pro

Steps to Reproduce:

0. Have the vscodevim.vim extension.
1. Activate Word Wrap.
2. Have a line that is long enough to wrap.
3. Intellisense works above the wrap but stops working below it.

[2017-06-12 19:11] fqborges opened #28560 "[Request] Option to format Javascript flat ternary expressions"
Example of how multiple js ternary expressions are currently formatted:
[code]

Requested preference to format flat js ternary expressions:

[code]

reference: http://eslint.org/docs/rules/indent#flatternaryexpressions

[2017-06-12 19:15] cwberick commented on #28530
Uow.. Sorry, I had not seen this setting. Thanks, problem resolved!

[2017-06-12 19:15] #28530 closed

[2017-06-12 19:16] williamlang opened #28561 "Syntax highlighting for PHP files has stopped working"
PHP files for syntax highlighting has stopped working.

Restarted my machine. Deleted Local Storage for VS Code. Deleted Cache, GPUCache, and CachedData folders.

Removed the entire code folder in Library. Issue still persisted.

- VSCode Version: 1.13.0
- OS Version: macOS Sierra 10.12.5

Steps to Reproduce:

1. Open VS Code
2. Open PHP File

[2017-06-12 19:20] mattfaces commented on #11387
Is there some way to configure VS Code so that it launches an external Diff Tool instead (e.g. Araxis Merge) as a temporary workaround until this issue is fixed? (Even if I have to manually click a button to launch the the 3rd party diff tool.)

[2017-06-12 19:24] chrisj-skinner opened #28562 "Path in terminal duplicates. on hover over app black shadows appear / disapear randomly"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|theme-atom-one-dark|andischerer|0.0.1|
|theme-atom-one-dark|freebroccolo|0.0.1|
|vscode-angular2-emmet|jakethashi|1.0.11|
|Angular2|johnpapa|2.3.2|
|angular2-inline|natewallace|0.0.17|
|vscode-icons|robertohuerta

[2017-06-12 19:26] chrisj-skinner commented on #28558
Same here : https://github.com/Microsoft/vscode/issues/28562

[2017-06-12 19:35] ramya-rao-a commented on #28357
This is being tracked in #10759
Please follow the discussion there

[2017-06-12 19:35] #28357 closed

[2017-06-12 19:37] Tyriar commented on #28516
@warpdesign are you sure? The selections aren't visible currently unless you have a theme that sets `selection.background` (https://github.com/Microsoft/vscode/issues/28554).

If not some follow ups:

- Any errors in devtools console?
- What's in your settings.json file?
- Where are you right clicking exactly (on selection, outside selection, outside viewport)?

[2017-06-12 19:39] ramya-rao-a commented on #28562
The duplicate path is covered in #26038

@Tyriar for the shadow issue

[2017-06-12 19:39] Triztian commented on #28533
I'm experiencing the same in macOS

[2017-06-12 19:41] Tyriar commented on #28562
@chrisj-skinner please post a screenshot of the shadows/shapes.

[2017-06-12 19:41] ramya-rao-a commented on #28559
@Apostolique I cannot repro, can share a gif or video?

[2017-06-12 19:42] wnichols commented on #2472
I have a (possibly unrelated) comment:  I found that the debugger would fail to resolve breakpoints on linux.  However if I caught the debugger on a panic stop I could open files on the stack and successfully put breakpoints in them.
The reason is that my home dir is a symlink.  The situation was resolved when I set GOPATH to the fully qualified directory of my home and go source dir.  Previously

[2017-06-12 19:42] ramya-rao-a commented on #28558
Duplicate of #26038

@Tyriar would the fix for #26038 also fix the flicker/flash issue?

[2017-06-12 19:42] #28558 closed

[2017-06-12 19:47] ramya-rao-a commented on #28544
@Webdien123 Like @RoyTinker said, I am assuming you mean "crashed".

You seem to be using the C++ extension for debugging, most probably this is related to the extension or your specific usage of the extension.

Will move this to the repo for the C++ extension. They will be able to help diagnose this better.

[2017-06-12 19:47] ramya-rao-a commented on #28544
This issue was moved to Microsoft/vscode-cpptools#817

[2017-06-12 19:47] #28544 closed

[2017-06-12 19:48] pcherkasova opened #28563 "I could not find command 'Print'. Does it exist at all?"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.8.0|
|csharp|ms-vscode|1.10.0|
|mono-debug|ms-vscode|0.15.5|
|PowerShell|ms-vscode|1.3.1|;

---

Steps to Reproduce:

1.
2.

[2017-06-12 19:49] ramya-rao-a commented on #28540
cc @bpasero for editor group , @sandy081 for settings

[2017-06-12 19:49] Tyriar commented on #28558
@ramya-rao-a yep, the flicker happens whenever the terminal is "refreshed", for example when a keypress enters a char.

[2017-06-12 19:52] ramya-rao-a commented on #28536
@RenaudThoraval C# debugging is implemented by the C# extension. The extension owners will be able to specify if the issue you are seeing is due to the extension or VS Code.

[2017-06-12 19:52] ramya-rao-a commented on #28536
This issue was moved to OmniSharp/omnisharp-vscode#1564

[2017-06-12 19:53] ramya-rao-a commented on #28518
@CViniciusSDias Can you share a screenshot?

[2017-06-12 19:56] wanecek commented on #16320
It may be of interest to note that [the latest release of WebStorm](https://blog.jetbrains.com/webstorm/2017/06/webstorm-2017-2-eap-172-2827/) brings this feature. I mention this not to suggest making the switch, but rather to further underline that this could be a very useful feature :)

As a side-note, if automatically scanning and using aliases from webpack configurations is a too narrow or tim

[2017-06-12 19:57] Tyriar commented on #19665
@BetaMee the issue was caused by the Windows Creators Update and fixed in KB4020102 (see https://github.com/Microsoft/vscode/issues/19665#issuecomment-304308207)

[2017-06-12 19:59] ramya-rao-a commented on #28473
Cant repro this.

@cutecycle Did you try disabling all extensions? In your logs above there are quite errors from a few extensions.

![image](https://user-images.githubusercontent.com/16890566/27052565-e73df61a-4f6e-11e7-8fec-f4df39e1c379.png)

cc @rebornix

[2017-06-12 20:00] Tyriar commented on #28321
Duplicate https://github.com/Microsoft/vscode/issues/24795

[2017-06-12 20:00] #28321 closed

[2017-06-12 20:10] be5invis commented on #27715
If you close the file and reopen than it refreshes.
Strange.

[2017-06-12 20:12] Triztian commented on #28365
Not sure how to link issues but this is a dupe: https://github.com/Microsoft/vscode/issues/28533

[2017-06-12 20:20] hhmultimediallc commented on #28541
@Tyriar Yes ng is in my Windows path but I'm using the PS shell to execute the ng serve command.  No, ng is not one of the folders but if you follow though with the file association thing (associating it with Notepad++) you get a file named ng in the current directory with the following script which looks to me like a Unix-style shell script.

#!/usr/bin/env node
'use strict';

// Provide a title

[2017-06-12 20:22] weinand commented on #2472
@wnichols by default node.js resolves sym links which results in the failing breakpoint matching. Try launching node.js with the "--preserve-symlinks" option.

[2017-06-12 20:25] Tyriar commented on #28314
@whirlwind-studios any idea how the credential cache works? Perhaps something is missing from the `$PATH` in the integrated terminal only?

[2017-06-12 20:27] Tyriar commented on #28541
@hhmultimediallc sounds like powershell doesn't understand the shebang notation maybe `#!/usr/bin/env node`? Does it work if you run cmd and try again in the integrated terminal?

[2017-06-12 20:34] roblourens commented on #28561
We updated the PHP grammar in 1.13 but it works for me - can you upload a code snippet where it fails?

[2017-06-12 20:35] Tyriar commented on #23396
I suspect this is related to the fix for https://github.com/Tyriar/node-pty/issues/41

Notice how the file and args are returned when args is a string: https://github.com/Tyriar/node-pty/pull/47/files#diff-06c24ba7a8249f1158cb1c985df3993fR98

Changing that line to this may fix that:

[code]

[2017-06-12 20:37] roblourens commented on #28355
Works for me, can you share the whole file that causes this? Does it work if you close the string after `</div>`?

![image](https://user-images.githubusercontent.com/323878/27053972-2ab836b2-4f74-11e7-92e5-dfeec5cc7768.png)

[2017-06-12 20:39] weinand commented on #28551
@DanTup we do not plan to give a debug adapter direct access to all the VS Code UI because we want to keep the API between a DA and its clients (VS Code, VS, VS for Mac, etc.) as small as possible.

However, we understand the need and we try to make it possible that a DA can communicate to the extension (which itself has access to the vscode.d.ts). This still couples the DA to VS Code, but since t

[2017-06-12 20:43] RenaudThoraval commented on #28536
@ramya-rao-a As I said in my post, I tested with previous version of C# extension and the future one in beta and I still reproduce the bug.
I made a clean install of VS Code 1.12.2 on MacOS and Windows 10. The exception works fine, as expected. But as soon as I update VS Code in 1.13, the bug reappears. I think it related with changes in VS Code extension API or something like that.
I hope that C#

[2017-06-12 20:45] DanTup commented on #28551
@weinand Thanks, I'll add a note on there about what I'd like to see.

[2017-06-12 20:45] ramya-rao-a commented on #28510
@Anton #396 is tracking this feature, please add your thoughts there

We also have on-going work for the multi folder workspace in the current milestone (See #28387), so you will see some progress soon :)

[2017-06-12 20:49] mjbvz commented on #28563
Not currently but we are tracking the feature request with #5953

[2017-06-12 20:49] #28563 closed

[2017-06-12 20:50] DanTup commented on #28500
I'd like to be able to report status messages from the debug adapter back to the extension so that I can show text in the status bar. There are some things that would be really spammy to log to the debug output window (for example, I think in full-VS it shows in the status bar every DLL symbols are being loaded for during debugging?).

If status messages is a common requirement, maybe something li

[2017-06-12 20:50] warpdesign commented on #28516
@Tyriar I'll try to make a video. No errors in devtools console.

[2017-06-12 20:54] Apostolique commented on #28559
https://clips.twitch.tv/WiseExcitedKleeVoteNay

[2017-06-12 20:59] Mellbourn opened #28564 "tmux pane_current_path is duplicated"
- VSCode Version: 1.13.0 (1.13.0)
- OS Version: MacOS 10.12.5
- extensions: occurs even when I run code with `--disable-extensions`

Steps to Reproduce:

1. put this in `.tmux.conf`:
[code]
2. start a terminal in VSCode
3. in the terminal start tmux
[code]

Now, in the pane status line I expect to see the current path, e.g. `-0 /Users/klas.mellbourn ---`.

Instead it looks like this `-/Users/klas.

[2017-06-12 20:59] Tyriar commented on #23396
Created https://github.com/Tyriar/node-pty/issues/91 to follow this up in node-pty

[2017-06-12 21:00] mbeatrizmagalhaes commented on #27588
Hi! I would like to work on this, it seems a good way to get started on contributing to VSCode.

[2017-06-12 21:02] rebornix commented on #28484
The first issue is dup of https://github.com/Microsoft/vscode/issues/9069

About the second one, we already create tasks for that https://github.com/Microsoft/vscode/issues/3725

[2017-06-12 21:02] #28484 closed

[2017-06-12 21:03] ramya-rao-a commented on #28411
Can you provide a gif or video or repro steps?

VS Code does provide word based suggestions.

Have you set `editor.wordBasedSuggestions` to `false`?

[2017-06-12 21:06] ramya-rao-a commented on #28400
This issue was moved to Microsoft/vscode-cpptools#818

[2017-06-12 21:06] ramya-rao-a commented on #28401
This issue was moved to Microsoft/vscode-cpptools#819

[2017-06-12 21:06] #28401 closed

[2017-06-12 21:08] TyOverby commented on #22147
Any update on this?

[2017-06-12 21:10] warpdesign commented on #28516
Here is a video (the skin I use supports selection in the terminal).

![vscodepaste](https://user-images.githubusercontent.com/199648/27055292-387e3198-4fc4-11e7-9b80-eb44ad91fe43.gif)

[2017-06-12 21:12] warpdesign commented on #28516
Here is my user settings file:

[code]

And my workspace settings json:

[code]

[2017-06-12 21:13] williamlang commented on #28561
http://imgur.com/a/fYfXA

Perhaps there's something that I should be looking for in my Console that will help?

[2017-06-12 21:13] ramya-rao-a commented on #28564
Duplicate of #26038

cc @Tyriar

[2017-06-12 21:13] #28564 closed

[2017-06-12 21:16] bobbrow commented on #28400
Hi there,

We do not register for a textDocument/completion callback when semicolon is typed.  This is a VS Code bug with the `"editor.quickSuggestions"` setting.  It is popping up after semicolon is typed instead of waiting for a new line.  I repro this on Windows too.

Please reopen and investigate.

[2017-06-12 21:16] ramya-rao-a commented on #28533
Closing as duplicate of #28365

cc @dbaeumer

[2017-06-12 21:16] #28533 closed

[2017-06-12 21:17] ramya-rao-a commented on #28514
cc @Tyriar for terminal

[2017-06-12 21:18] roblourens commented on #28561
Strange. In the lower right corner of the status bar, does it say 'PHP'?

And can you launch vscode with `--disable-extensions` and check whether it reproes?

[2017-06-12 21:19] ramya-rao-a commented on #28529
@jel111 Can you share a video/gif?

[2017-06-12 21:19] timc13 commented on #519
just to add another reason:
- changing the Explorer to a monospaced font is easier to read when scanning for files

[2017-06-12 21:21] ramya-rao-a commented on #28356
That's from electron, I dont think we can change that at the moment.

cc @bpasero

[2017-06-12 21:22] ramya-rao-a commented on #28340
Can you repro this consistently?
Do you see any errors in the Output pane for git?

[2017-06-12 21:23] ramya-rao-a commented on #28340
Also, do you see this after disabling all extensions as well?

![image](https://user-images.githubusercontent.com/16890566/27055863-ad1b20c8-4f7a-11e7-8c6c-06bb9f4ade02.png)

[2017-06-12 21:23] ipatalas commented on #11638
Anyone was able to run this profiler on Windows?

Can't get this to work:
![image](https://user-images.githubusercontent.com/2623329/27055838-06bf9096-4fc6-11e7-9b84-c8120f0cd251.png)

Am I missing something?

[2017-06-12 21:25] ramya-rao-a commented on #28301
@Tyriar This must be related to #26038?

[2017-06-12 21:25] waderyan commented on #28283
We did a fair amount of work to improve downloads for China locations. Are you still unable to download? Try this direct link.

[2017-06-12 21:29] ramya-rao-a commented on #28407
Did you see this while debugging an extension or in general?
Were there any logs in the console?

[2017-06-12 21:31] ramya-rao-a commented on #28402
Thanks @wangweixuan

Closing as duplicate

[2017-06-12 21:31] #28402 closed

[2017-06-12 21:32] williamlang commented on #28561
Disabling extensions fixed the problem.

Is there a way to see what was the last extension that was updated?

[2017-06-12 21:32] ramya-rao-a commented on #28375
Please log the issue in the repo for the extension for ionic that is providing the suggestions and param hints

[2017-06-12 21:32] #28375 closed

[2017-06-12 21:33] #28561 closed

[2017-06-12 21:33] #23396 closed

[2017-06-12 21:34] Tyriar commented on #23396
@dbaeumer please verify using Insiders tomorrow :smiley:

[2017-06-12 21:35] #28301 closed

[2017-06-12 21:36] Tyriar commented on #28514
This is by design, @Gruntfuggly why don't you generate the environment and cache it to pass into the new task next time?

[2017-06-12 21:36] #28514 closed

[2017-06-12 21:37] roblourens commented on #28561
Great, please file an issue on their repo so they can fix it.

[2017-06-12 21:38] Tyriar commented on #28516
@warpdesign very helpful thanks. While I look into this again you should fix up the spaces and tabs in your workspace settings.json :wink:

[2017-06-12 21:38] ramya-rao-a commented on #28494
@JamesLiuft I have no idea what you are referring to. Can you provide a screenshot and be more specific what you are referring to?

[2017-06-12 21:41] ramya-rao-a commented on #28377
@rsbondi Did this work before as expected in VS Code 1.12?

[2017-06-12 21:43] ramya-rao-a commented on #28468
I am able to select part of the text in the search box.

Can you elaborate more on what the exact issue is?

[2017-06-12 21:45] ramya-rao-a commented on #28417
@quonic, @hiepxanh @pdgago Are you seeing the issue in html files only or any other languages too?

cc @mjbvz

[2017-06-12 21:45] warpdesign commented on #28516
@Tyriar glad it helps. You're right, I'll fix it ;)

[2017-06-12 21:47] Tyriar commented on #28516
Can't repro using regular cmd.exe, how does clink get launched?

[2017-06-12 21:48] ramya-rao-a commented on #28374
Do you see any errors in the console? (Run the command `Developer: Toggle Developer Tools` to see the console)

Does it happen consistently? I cannot repro

Can you try disabling extensions and see if this still happens?
![image](https://user-images.githubusercontent.com/16890566/27056713-269a38e6-4f7e-11e7-9d6c-8ce341d79e64.png)

[2017-06-12 21:48] Tyriar commented on #28232
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-06-12 21:48] #28232 closed

[2017-06-12 21:48] ramya-rao-a commented on #28374
cc @alexandrudima @roblourens

[2017-06-12 21:50] Tyriar commented on #28208
Ah, of course! All it was missing was a `preventDefault`. Thanks :smile:

[2017-06-12 21:50] #28208 closed

[2017-06-12 21:52] warpdesign commented on #28516
I installed it using the installer here: [clink installer](http://mridgers.github.io/clink/). No idea how it gets launched.

But I uninstalled it and still get the same bug.

[2017-06-12 21:53] ramya-rao-a commented on #28536
@RenaudThoraval Sorry, it wasnt clear from your earlier message if this was a regression from VS Code's side.

[2017-06-12 21:55] ramya-rao-a commented on #28536
cc @gregg-miskelly from the C# extension side to help out with the investigations here

[2017-06-12 21:56] warpdesign commented on #28516
Hmm.. it might be related to the Windows console: opening an external cmd prompt, right-clicking on the title bar, choosing "default" and checking `use legacy console` seems to fix the problem after restarting Code.

Note that on an external prompt cmd prompt, right-click to paste works, no matter if `use legacy console` is set or not.

[2017-06-12 21:58] RenaudThoraval commented on #28536
@ramya-rao-a No problem ;) I'm not fluent in english so excuse me for all the mistakes I write. I stay tuned if you need more information. I'll do my best to help you in the debugging process.
Regards !

[2017-06-12 22:00] equinox commented on #28417
Potentially the cause: https://github.com/zignd/HTML-CSS-Class-Completion/issues/58

Disabling the extension does make intellisense work again for me. Enabling it again makes it work for a few seconds, then seems to kill off the intellisense again.

[2017-06-12 22:08] jrbobc commented on #28405
Not that I am aware of.  VS Code is using the default dark+ theme.

If there is a special setting for it I'll be happy to check it.

On the command prompt for general use I do have the settings to give it a different background color and transparency.
![vscodeissue_cmdexeproperties](https://user-images.githubusercontent.com/22580656/27057408-b132e63e-4f91-11e7-8767-7b01876137ca.PNG)

[2017-06-12 22:11] rsbondi commented on #28377
Yes, through 1.12 it had been working with [this](https://marketplace.visualstudio.com/items?itemName=rsbondi.highlight-words) plugin, which is based on the example.  You can see in the images for both the example and the plugin how the text is outlined.

Both still work using backgroundColor, the example uses for numbers with 3 or more digits and the plugin uses for light themes.

[2017-06-12 22:11] ramya-rao-a commented on #28519
Try https://github.com/jesseweed/seti-ui

[2017-06-12 22:13] Tyriar commented on #28516
Interesting... So I don't have legacy console enabled and it works just fine in VS Code.

Would you be able to debug into `TerminalPanel.ts` here and see if it's hit?

![image](https://user-images.githubusercontent.com/2193314/27057589-aa1bcccc-4f81-11e7-9808-077bd45aa234.png)

[2017-06-12 22:14] ramya-rao-a commented on #28433
That is coming from the C++ extension you are using. Please log an issue in the repo for the extension

[2017-06-12 22:14] #28433 closed

[2017-06-12 22:16] ramya-rao-a commented on #28399
This is coming from the extension that you are using to the run the file. Please log an issue in the repo for the extension

[2017-06-12 22:16] #28399 closed

[2017-06-12 22:27] roblourens commented on #28513
Right, global search doesn't support multiline regexes, while the editor search does. It's kind of unfortunate that we have this mismatch, but it's the price of having very fast workspace search.

[2017-06-12 22:27] #28513 closed

[2017-06-12 22:28] kiranburra92 commented on #28407
After I updated my vscode, it appeared at top, without doing anything.
It tried uninstalling and installed previous version. But then again it
appeared.

Regards

Saikiran Goud Burra
Teaching Assistant
Masters in Computer Science
sburra2@uh.edu
832-468-2441

On Jun 12, 2017 4:30 PM, "Ramya Rao" <notifications@github.com> wrote:

Did you see this while debugging an extension or in general?
Were the

[2017-06-12 22:28] #28501 closed

[2017-06-12 22:28] Tyriar commented on #10023
Should land in Insiders tomorrow thanks to @jammerware :+1:

[2017-06-12 22:29] mjbvz commented on #28501
I've believe I fixed the cancellation errors. Can you try out the next insiders build and let me know if you still see the other TS errors being reported

[2017-06-12 22:30] weinand commented on #28403
@Eli-Goldberg debugging with node.js 8.0 is completely unrelated to the original bug because it uses a different implementation ("inspector" vs. "legacy" protocol). I will ignore your comment here.
Please file a separate issue so that I can route it to the correct component owner.

[2017-06-12 22:31] Tyriar commented on #28405
I believe the blue selected there is the cause. Nothing we can do AFAIK from our end to change this as the blue is sent from the cmd.exe process.

[2017-06-12 22:31] #28405 closed

[2017-06-12 22:32] mjbvz commented on #28517
This issue was moved to Microsoft/TypeScript#16467

[2017-06-12 22:32] #28517 closed

[2017-06-12 22:33] ramya-rao-a commented on #28472
@collinsnji What do you mean by the "overview map"? Do you mean the minimap on the right?

[2017-06-12 22:35] chrmarti commented on #28507
#27405 by @katemihalikova will take care of this.

[2017-06-12 22:35] jrbobc commented on #28405
Ok. One other thing is that the integrated terminal background starts as black/dark, before top is run.

Sent from my iPad

On Jun 12, 2017, at 5:33 PM, Daniel Imms <notifications@github.com<mailto:notifications@github.com>> wrote:

I believe the blue selected there is the cause. Nothing we can do AFAIK from our end to change this as the blue is sent from the cmd.exe process.

—
You are receiving

[2017-06-12 22:37] ramya-rao-a commented on #28202
haha.. sorry I meant #28039

[2017-06-12 22:38] mjbvz commented on #28072
Closing as we need more information to investigate this

[2017-06-12 22:38] #28072 closed

[2017-06-12 22:38] ramya-rao-a commented on #28361
@cassiobsilva No problem , Happy Coding!

[2017-06-12 22:43] ramya-rao-a commented on #28559
Weird, I cant repro in typescript, so may be its specific to C#

Do you see the same in any other languages?

[2017-06-12 22:43] Tyriar commented on #28423
As called out by @bil-elmoussaoui, we register ourselves as being able to open text/plain files in https://github.com/Microsoft/vscode/blob/76bc7c04a88c81258cb3e53e7b116611f8458b82/resources/linux/code.desktop#L11

We also register ourselves as a low priority text editor in the alternatives system https://github.com/Microsoft/vscode/blob/76bc7c04a88c81258cb3e53e7b116611f8458b82/resources/linux/deb

[2017-06-12 22:45] Tyriar commented on #28405
@jrbobc yeah I've had another report similar to this. The background colors act a little funny when you don't use the default colors in cmd.exe was my conclusion.

[2017-06-12 22:47] ramya-rao-a commented on #28407
@kiranburra92 Can you open the console and share any errors from there? Run the command `Developer: Toggle Developer Tools` to open the console.

@joaomoreno this may be related to #28452

[2017-06-12 22:47] eamodio commented on #28537
FYI -- this has been opened here for quite a long time: https://github.com/DonJayamanne/pythonVSCode/issues/553

And so far I've only seen this behavior with the python extension

[2017-06-12 22:52] ramya-rao-a commented on #28470
Not sure what the extension is doing to show the login window. Please log this issue in the repo for the extension so that they can look into it. If they decide that this is a VS Code issue, they can give us more details and we can look into it

[2017-06-12 22:52] #28470 closed

[2017-06-12 22:52] mjbvz commented on #27936
Thanks. I've opened https://github.com/Microsoft/TypeScript/issues/16468 to track further discussion of this issue. The root cause is that TypeScript does not parse jsdoc contents are markdown, but also tries to extract and `@*` pattern as a jsdoc tag

[2017-06-12 22:52] #27936 closed

[2017-06-12 22:53] quonic commented on #28417
@ramya-rao-a It seems to also happen in Powershell files.

[2017-06-12 22:54] Tyriar commented on #28178
I believe this is already fixed, can you see if you can reproduce in the latest version v1.13?

[2017-06-12 22:55] ramya-rao-a commented on #28467
@adamszymanowski Please log this issue in the repo for the extension you are using. If they determine that the issue is with VS Code and not the extension, they can provide us with more details that we can use.

[2017-06-12 22:55] #28467 closed

[2017-06-12 22:58] #28178 closed

[2017-06-12 22:59] ramya-rao-a commented on #28011
@xingzhuo1983 What value have you set for `editor.wordWrap` setting?

[2017-06-12 23:00] kiranburra92 commented on #28407
How share from the console?
I have pasted the console output.

t.$localShowMessage @ /C:/Program Files (x86)/Microsoft VS
Code/resources/app/out/vs/workbench/electron-browser/workbench.main.js:28
/C:/Program Files (x86)/Microsoft VS
Code/resources/app/out/vs/workbench/electron-browser/workbench.main.js:28
Extension host terminated unexpectedly. Please reload the window to recover.

e.doShow @ /C:/

[2017-06-12 23:01] Tyriar commented on #27108
Nothing's standing out as obviously wrong here to me. I haven't seen any other reports like this or been able to repro so I can't really help without more info or a more reliable repro.

[2017-06-12 23:02] Tyriar commented on #27973
I think I fixed this today, could you try reproduce in the [Insiders build](https://code.visualstudio.com/insiders) tomorrow?

[2017-06-12 23:02] #27973 closed

[2017-06-12 23:03] Tyriar commented on #28050
Launching via `code --disable-gpu` help? This is likely an issue with Chromium which we can't do much about on our end.

[2017-06-12 23:06] spresnal commented on #27973
Sure, I'll check it out. Not familiar with the process of getting the most recent version, but should be able to figure it out. Thanks!

[2017-06-12 23:07] ucirello commented on #28365
if I may add, this is a daily nuisance. IMHO, worth a recovery release.

[2017-06-12 23:11] Apostolique commented on #28559
I can confirm that it still breaks on my side even when I'm coding in TypeScript.

I have managed to pinpoint that the problem comes from the Vim extension.

[2017-06-12 23:13] ramya-rao-a commented on #28559
Which vim extension are you using?

cc @rebornix

[2017-06-12 23:14] Apostolique commented on #28559
I'm using vscodevim.vim

[2017-06-12 23:14] ramya-rao-a commented on #28407
Is that all there is in the console output? If there is a stack trace (may be try expanding the error), please share that as well

[2017-06-12 23:15] kiranburra92 commented on #28407
Hi Ramya,

Now there is no issue, after deleting the git folder.

I am afraid if git folder is necessary for any other kind of work in
future?
ᐧ

Regards,

Saikiran Goud Burra
Teaching Assistant
Masters in Computer Science
University of Houston
sburra2@uh.edu
832-468-2441 <(832)%20468-2441>

On Mon, Jun 12, 2017 at 5:47 PM, Ramya Rao <notifications@github.com> wrote:

[2017-06-12 23:18] ramya-rao-a commented on #28407
@kiranburra92 Yes, you would need the git folder if you are working on anything that is using git as source control

This is definitely related to #28452

Lets use #28452 to track this

[2017-06-12 23:19] ramya-rao-a commented on #28559
thanks @Apostolique

@rebornix vim bug coming your way :)

[2017-06-12 23:27] rianadon commented on #27700
I decided to look into this as I also can reproduce the bug, and when using VS Code built from source I get a "Code - OSS has stopped working" dialog from Windows.

Debugging with Visual Studio and the electron symbols I get the following error in a dialog:

[code]

The stack trace is below:

![image](https://user-images.githubusercontent.com/18223213/27059429-349e0500-4f8b-11e7-8755-629a338770cf.

[2017-06-12 23:34] kiranburra92 commented on #28407
Hi ramya,

It appeared again.

Ctrl+Alt+ keybindings should not be used by default under Windows. Offender:  e  for  code-runner.run
e._assertNoCtrlAlt @ keybindingsRegistry.ts:197
keybindingsRegistry.ts:197 Ctrl+Alt+ keybindings should not be used by default under Windows. Offender:  e  for  code-runner.runCustomCommand
e._assertNoCtrlAlt @ keybindingsRegistry.ts:197
keybindingsRegistry.ts:197 Ct

[2017-06-12 23:36] jcsteh commented on #27216
[**@zersiax**](https://github.com/zersiax) commented on [13 Jun 2017, 04:26 GMT+10](https://github.com/Microsoft/vscode/issues/27216#issuecomment-307876654 "2017-06-12T18:26:21Z - Replied by Github Reply Comments"):

Don't know anything about Postman, but assuming it does custom management of the caret, even if Chrome does fire the selectionChange DOM event, Postman would need to support this even

[2017-06-12 23:39] kiranburra92 commented on #28407
I guess it was because of some python extension.
I just uninstalled it, Do you suggest what kind of python extension should I use?

[2017-06-12 23:50] finappear commented on #396
I have a backend and frontend node project, and have 2 VisualCode editors open, which is a significant resource strain.

I watched both videos and agree with a comment above that these multiple projects need not have anything to do with oneanother. Perhaps one could be a nodejs project while the other is C++.

I did not like the idea of one of the projects becoming the "master" project, with the a

[2017-06-12 23:59] yorkadam commented on #28423
Okay, I understand what you are saying so here is what I did: I did install / uninstall / reinstall several times the pattern is the same.  Installed, VS Code becomes the default. Un-install the File Manger opens as expected.  So, to clarify, xdg-open /home when VS Code is installed causes VSCode to open not file manger, when un-installed xdg-open /home reverts back as expected.   This may not be

[2017-06-13 00:02] ramya-rao-a commented on #28407
The snippet related warnings are unrelated. Your issue is somehow connected to git. @joaomoreno will be able to help better

[2017-06-13 00:06] ramya-rao-a commented on #22337
Yes. Best case scenario is
- We set `emmet.useNewEmmet` to `true` by default in 1.14. Users can fallback to the old model by setting this to `false`
- We remove the setting altogether and only have the new model in 1.15

[2017-06-13 00:13] #25412 closed

[2017-06-13 00:15] finappear commented on #28344
IMHO loading project A and then B or loading B and then A, should not matter as they remain independent. Which settings are used should depend on the concept of "active" project, much like it was in Visual Studio, visually indicated by showing the root folder name in bold, but could be anything. Switching between projects meant context switching all active settings, for debugging, everything the p

[2017-06-13 00:18] mostafa69d opened #28571 "Terminal doesn't support RTL languages"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-html-css|ecmel|0.1.6|;

---

Steps to Reproduce:

1.In this new version there are problems regarding showing Unicode in terminal. (languages like Arabic, Persian ). It happened in this new recent update
2.

[2017-06-13 00:22] #28507 closed

[2017-06-13 00:24] dunnkers commented on #178
+1

[2017-06-13 00:32] wpp2014 commented on #28482
When mouse points to a place, the preview will be transferred to the corresponding place. This is done through a click event, which I want to do with scrolling.

[2017-06-13 00:35] mjbvz commented on #28482
Thanks. This sounds like a duplicate of #19459

[2017-06-13 00:35] #28482 closed

[2017-06-13 00:36] rianadon commented on #27788
I believe the newest version of node-gyp should work with VS 2017 (I set the `msvs_version` npm config option to `2017` and VS Code compiled). However, I also had VS 2015 on my system too so despite the npm flag it might still be compiling with 2015.

Upgrading npm (`npm install -g npm`) may bring `node-gyp` up to a version compatible with VS 2017. Since your npm version is a bit old, @MikeGitb, t

[2017-06-13 00:46] mjbvz commented on #28426
This issue was moved to Microsoft/TypeScript#16470

[2017-06-13 00:46] #28426 closed

[2017-06-13 00:55] mjbvz commented on #28329
I believe this is a duplicate of #28293

[2017-06-13 00:55] #28329 closed

[2017-06-13 00:57] linghu86 commented on #28277
@secsilm
This problem is caused by other extensions
After I uninstalled several extensions, I solved the problem

@alexandrudima Thanks.

[2017-06-13 00:58] #28277 closed

[2017-06-13 01:09] mjbvz commented on #27855
This is a duplicate of https://github.com/Microsoft/TypeScript/issues/15359 We seem to be picking up the global typings from `jasmine` even though you are not using it.

You should be able to write:

[code]

to get the chai intellisense.

To disable the typings from jasmine, you can also explicitly exclude them. Just create a [`jsconfig.json`](https://code.visualstudio.com/Docs/languages/javascrip

[2017-06-13 01:09] #27855 closed

[2017-06-13 01:12] mjbvz commented on #27379
This issue was moved to Microsoft/TypeScript#16471

[2017-06-13 01:12] #27379 closed

[2017-06-13 01:12] ramya-rao-a commented on #28571
@mostafa69d Can you share an example or screenshot?

[2017-06-13 01:22] hhmultimediallc commented on #28541
@Tyriar Not sure I follow but if I open up a regular windows command prompt outside of the VSCode IDE, ng serve works as I expect, which is my workaround to this.  I just wish I could run ng commands inside of the Integrated Terminal instead of having to run them outside of the IDE at the command line.

[2017-06-13 01:31] mostafa69d commented on #28571
<img width="1137" alt="screen shot 2017-06-12 at 9 24 56 pm" src="https://user-images.githubusercontent.com/25212827/27061974-dd48da8e-4fb5-11e7-9bfe-37ac1d6b3449.png">
As you see, all the fields containing a Unicode Characters are messed up. It was working fine before the update.
P.S: A word like "ایران" ---new version-----> "ن ا ر ی ا"

[2017-06-13 01:45] King66 commented on #28285
In addition, select text, then click search of sidebar, it will not escape characters.
![1](https://user-images.githubusercontent.com/11925432/27062229-31842962-501c-11e7-8a1f-8dac7094190c.png)

It's good. And I think escaping characters are rarely used.

[2017-06-13 01:51] rkeithhill opened #28572 "Typo in for callstack viewer implementation - presenationHint should be presentationHint"
- VSCode Version: 1.13.0
- OS Version: Windows 10 CU

There's a `t` missing in `presenationHint`.

Steps to Reproduce:

1. Look at the code:
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugViewer.ts#L547
2. Look at the vscode debug protocol here:
https://github.com/Microsoft/vscode/blob/84e2178de0aafc0cacc767204de7baf64161db44/src/vs/workbench/par

[2017-06-13 02:11] nerdmed opened #28573 "Strange rendering issue with icons"
- VSCode Version: 1.13.0 (1.13.0)
- OS Version: macOS 10.12.5 (fresh install some days ago)

Steps to Reproduce: I have no idea. Sorry. I think you can guess it🥇

After i installed it the icons look okay but after some restarts they look like in the following screens.
Cant fix it with restarts. I have no graphic issues with any other app. Any idea what could be related to this?

`code --force-gpu-

[2017-06-13 02:21] eaglewu opened #28574 "Select multiple lines with ALT+CLICK+Scroll?"
Awesome ALT+CLICK to create multiple cursors, but how to select multiple lines quickly?
Like IDEA i can select multiple lines by hold ALT+CLICK and Scroll.
Scroll when hold ALT+CLICK is NOT select contents, it's just create cursors step by step.

Case below, batch replace the char 'g' to y

[code]

[2017-06-13 02:23] freMea commented on #27083
VS Code version | OS
------------------ | ----
1.13.0  | Win x64 pro (french)

I confirm this feature implementation doesn't currently work as expected and is very buggy and inconsistent. I'm surprised there are not more complains and feedback about it as if nobody encountered this issue in their workflow.

## Steps to reproduce (bug 1)

**The bug occurs when you try to select one and only one lin

[2017-06-13 02:24] chaoer opened #28575 "Quick info shows on hover over comments"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.11|
|beautify|HookyQR|1.1.1|
|cpptools|ms-vscode|0.11.4|
|cmake|twxs|0.0.17|
|cmake-tools|vector-of-bool|0.9.7|;

---

Problems:
When I put the cursor on a comment word (if it

[2017-06-13 02:49] foisonocean commented on #16320
+1 Very useful to me.

[2017-06-13 02:50] eaglewu commented on #28574
vscode
<img width="426" alt="wx20170613-104736 2x" src="https://user-images.githubusercontent.com/3753615/27063725-f9c23f3c-5025-11e7-9132-487c75dc4b36.png">

idea
![wx20170613-104850](https://user-images.githubusercontent.com/3753615/27063740-134d89de-5026-11e7-999d-f1287aed4f00.png)

[2017-06-13 02:50] Tyriar commented on #28571
@mostafa69d do you have an example of another terminal that handles this well? This change was intentional to force the characters onto a grid. Sure it doesn't make some RTL languages look good but when the characters aren't aligned to the grid, bad stuff happens.

I checked Hyper (on hterm) and gnome-terminal and both behave as in 1.13.

[2017-06-13 02:51] truhlikfredy opened #28576 "Atypical keyboard shortcuts are not supported"
- VSCode Version: 1.13.0
- OS Version: amd64 Debian 8

Steps to Reproduce:

1. Have ThinkPad laptop with the next/previous close to the cursor keys
2. Have custom xmodmapings to map them to F14 and F15 keys

3. Try to assign these keys to some functions (I get "unknown" instead of naming the shortcut and I can't assign it to the action)

[2017-06-13 03:09] roblourens commented on #27083
Thanks for the detailed writeup :)

With `autoFindInSelection` enabled, if your selection is within a single line, then it will still search outside the selection. If I toggle the 'find in selection' button on and off, then it actually works as expected. That at least is definitely a bug :bug: I'll leave the rest for @rebornix

[2017-06-13 03:13] Thaina commented on #28519
@ramya-rao-a If I use `iconPath` from that icon theme. But user choose another icon theme. Doesn't that make it inconsistent?

[2017-06-13 03:29] Cliwo opened #28577 "Command + P - Opening new code (abc.cs) does not always make new page"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|unity-debug|Unity|1.2.0|
|unity-snippets|YclepticStudios|0.1.2|
|eppz-code|eppz|1.2.22|
|csharp|ms-vscode|1.10.0|;

---

Steps to Reproduce:

1. Search .cs file (code) using Command + P
2. Left Click or Right Cli

[2017-06-13 03:35] Eli-Goldberg commented on #28403
Sorry, regardless it wasnt a bug in vscode, haopens in chrome too.
Will delete the comment.

[2017-06-13 03:57] phoa commented on #28283
I'm still unable to download. The official download page and all of the direct links still shows the same ERR_SSL_PROTOCOL_ERROR page.

One thing I notice, Google Chrome shows the "Info or Not Secure" symbol on the left side of the URL bar.
Some SSL issue with the CDN maybe?

What about hosting the portable version on the github release page (like Atom's [release page](https://github.com/atom/atom

[2017-06-13 03:59] mostafa69d commented on #28571
@Tyriar Here you go.
This screenshot is from my Mac OS terminal:
<img width="1423" alt="screen shot 2017-06-12 at 11 51 23 pm" src="https://user-images.githubusercontent.com/25212827/27065425-0f2c6cc2-4fcb-11e7-9b89-2403517a0fba.png">

And this one is from the VS Code terminal ( the same query with the same result)
<img width="1178" alt="screen shot 2017-06-12 at 11 52 53 pm" src="https://user-ima

[2017-06-13 04:07] #28454 closed

[2017-06-13 04:08] bpasero commented on #28406
To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to find the `PID` of the process and from a terminal `ps aux | grep <pid>` reveals its arguments.

![image](h

[2017-06-13 04:09] bpasero commented on #28356
This issue has already been reported. Please use the search function next time before reporting an issue and/or this time if you are curious about the progress of the issue.

[2017-06-13 04:09] #28356 closed

[2017-06-13 04:11] bpasero commented on #28398
@chenxizhang how exactly do you open that folder?

[2017-06-13 04:12] bpasero commented on #28497
@alexandruirimiea how do you open that other file? does it reproduce really only after such time?

[2017-06-13 04:12] RSCipher001 commented on #28456
Yes, SASS files are treated like SCSS files

[2017-06-13 04:12] bpasero commented on #28493
That is a OS setting:

![image](https://user-images.githubusercontent.com/900690/27065726-4dabb668-4fff-11e7-8f12-0f4e23a13d8b.png)

[2017-06-13 04:12] #28493 closed

[2017-06-13 04:13] bpasero commented on #28418
@sandy081 Imho we should not crash, marking as candidate for investigation

[2017-06-13 04:14] freMea commented on #14872
VS Code version | OS
------------------ | ----
1.13.0  | Win x64 pro (french)

## Steps to reproduce

1. Select non concurrent block with `CTRL+LeftClickDrag` on gutter
2. `CTRL+F` then enable _find in selection_ feature

## Results

Only the first selected concurrent lines are affected by the _find in selection_ feature. The other are then unselected.

## Expectations

Use the user selected block

[2017-06-13 04:14] #28391 closed

[2017-06-13 04:14] bpasero commented on #28391
Sorry, but this is not the right place for questions. Please post questions over at StackOverflow: http://stackoverflow.com/questions/tagged/vscode

Thanks for understanding.

[2017-06-13 04:15] bpasero commented on #28443
To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to find the `PID` of the process and from a terminal `ps aux | grep <pid>` reveals its arguments.

![image](h

[2017-06-13 04:16] bpasero commented on #28515
@01abhishekjain I cannot reproduce, can you share a video? Does this reproduce all the time? Does it reproduce with extensions disabled?

[2017-06-13 04:17] bpasero commented on #28480
To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to find the `PID` of the process and from a terminal `ps aux | grep <pid>` reveals its arguments.

![image](h

[2017-06-13 04:17] bpasero commented on #28509
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-06-13 04:19] bpasero commented on #28378
It is true that we do not run well on a single CPU, this has been reported before already but I do not find the issue atm.

[2017-06-13 04:21] bernex commented on #28573
Same problem - icons good in Extension and etc sections and bad in Explorer after 3 sec after switching.

[2017-06-13 04:22] bpasero commented on #28460
This is #207

[2017-06-13 04:22] #28460 closed

[2017-06-13 04:25] freMea commented on #27083
Related or duplicate issues:
#14872
#22254
#26417

[2017-06-13 04:42] bpasero commented on #28573
https://code.visualstudio.com/updates/v1_12#_macos-blurry-icons

[2017-06-13 04:42] #28573 closed

[2017-06-13 04:44] alha02 commented on #28454
I'm afraid that this is not quite the solution I was looking for. I have the quickOpen function bound to <leader> and a key (in VSVim), and the request was for it to mark most recently used editor by default. Is that possible in VSCode?

[2017-06-13 04:49] CherryDT commented on #28577
Opening a file either by ctrl+P or single-clicking in the tree opens the file temporarily. You will see the filename written in italics in the tab header.

Once you change something in the file or double-click its tab header or double-click it in the tree, it becomes permanent.

When you open another file while a temporary tab is open, its contents are replaced with the new file. Otherwise, a new

[2017-06-13 04:59] bpasero commented on #28441
@youurayy can you record a screencast how you are doing that?

[2017-06-13 05:05] freMea commented on #27697
Just to be sure the follow will be considered.

Currently, users need to assign custom keybinding to _Emmet_ commands to use it in a efficient workflow.

## Question 1

I see among the available commands that Emmet has 2 flavors for some of them such as:
[code]
Do they refer to new vs old emmet implementation? Witch one to use in future?

## Question 2

If user set this custom keybinding
[code]

W

[2017-06-13 05:05] CherryDT commented on #28434
Skipping optional dependencies is normal, that's why they are optional (fsevents is used only on Mac).

It rather seems to be an issue with ripgrep:

[code]

[2017-06-13 05:07] snovey commented on #28460
Thanks for your help, I wish your new feature.

[2017-06-13 05:09] CherryDT commented on #28429
This was annoying me as well. I proposed some ideas about that in #26216.

[2017-06-13 05:16] jeffreysbrother commented on #28391
@Chillee, when I try this in iTerm it behaves as expected. It is different than Code.
@bpasero, I actually do not understand because I did not ask a single question. Perhaps you can clarify what you mean about not asking questions.

[2017-06-13 05:18] CherryDT commented on #28315
May I add that this can be relevant not only to avoid multiple installations and possibly keeping versions in sync but also when scripts are involved such as pre-commit hooks which do a `npm run something`.

We worked around this in am ugly way by having all npm scripts go through a special `ensure_linux.js` which invokes bash.exe instead of directly calling node if it detects that it's running fr

[2017-06-13 05:20] 5argon opened #28579 "Intellisense popup appear and disappear on every keystroke"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|theme-monokai-dark-soda|AdamCaviness|0.0.5|
|unity-debug|Unity|1.2.0|
|code-runner|formulahendry|0.6.18|
|graphql-for-vscode|kumar-harsh|1.4.1|
|HTMLHint|mkaufman|0.3.3|
|cpptools|ms-vscode|0.11.4|
|csharp|ms-vsc

[2017-06-13 05:22] CherryDT commented on #28220
Note that you can always hover over the tab to see the full path as tooltip.

[2017-06-13 05:27] asphub commented on #2766
Open Markdown links inside md preview Pane within the pane itself, Now it is opening as a new tab and it opens the source. pls fix this problem, It will be great for documentation.

[2017-06-13 05:37] ramya-rao-a commented on #27697
@freMea

To your first question:

- When `emmet.useNewEmmet` is set to `false`, `editor.emmet.action.nextEditPoint` uses old implementation and `emmet.nextEditPoint` uses the new one
- When `emmet.useNewEmmet` is set to `true`, `editor.emmet.action.nextEditPoint` calls `emmet.nextEditPoint` internally
- Eventually (some time when we deprecate the setting `emmet.useNewEmmet` and make the new implem

[2017-06-13 05:42] AlGantori commented on #11745
A better, User Friendly, handling would be to offer the following:

1) Update the current project to match the version VSCode is using (latest version)
a) this action is currently NOT provided.

2) Turn off this warning until the next revision of TypeScript
a) this action is currently NOT provided.
3) Turn off this warning permanently  (I and many of us probably won't do this)
a) VScode provides [

[2017-06-13 05:53] ravid7000 opened #28581 "Emmet: Wrap with abbreviation doesn't work anymore on new version of vs code 1.13.0"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|material-icon-theme|PKief|2.0.9|
|visual-studio-light-theme|SimoneOlivieri|0.0.7|
|indenticator|SirTori|0.4.2|
|theme-verdigris-light|amomum|0.0.1|
|nord-visual-studio-code|arcticicestudio|0.3.0|
|django-html|bib

[2017-06-13 05:57] sant123 commented on #22337
My mistake @jmpp 😂 😂 😂
Thank you @ramya-rao-a

[2017-06-13 06:08] bpasero opened #28582 "Adopt Electron 1.7.x"
Currently blocked by: https://github.com/electron/electron/issues/9696

[2017-06-13 06:09] eamodio commented on #21889
This *seems* worse lately in that the menubar seems to toggle in unwanted cases. For example, alt+click on a button on the `editor/title` -- once you release the mouse, the menubar will be shown. It seems to come up on other cases as well (that are escaping me).

Related -- is there a way to change the shortcut key for the menubar toggle?

[2017-06-13 06:12] hiyangguo commented on #5298
👍

[2017-06-13 06:12] bpasero commented on #28526
@jrieken that is true, but I see no way of setting `rootPath` dynamically if we are not able to reload the extension host in the background. Otherwise this would mean each time a root folder changes we have to reload the entire window.

[2017-06-13 06:23] bpasero commented on #10547
@jrieken currently not.

There is a lot more to making any resource participate in dirty/save lifecycle of the workbench properly beyond making the editor actually writeable by the user. The reason for that is that so far only `file://` and `untitled://` supported saving and this is not implemented in a generic way based on the resource scheme but rather there are 2 registries of models (`ITextFil

[2017-06-13 06:25] #207 closed

[2017-06-13 06:25] bpasero commented on #207
This will be available in tomorrows insider.

[2017-06-13 06:26] #28280 closed

[2017-06-13 06:32] areijngoudt commented on #28340
@ramya-rao-a after rebootinhg my Mac everything works again as expected. Thanks for reaching out.

[2017-06-13 06:32] #28340 closed

[2017-06-13 06:33] alexandrudima commented on #28011
If a file is dominated by long lines, the file will be forcefully wrapped. The rule is:
* a long line is a line with > 10k characters
* a file is dominated by long lines if more than 50% of its characters lie within long lines

In such cases, the editor forcefully wraps. It is possible to unwrap such a file via View > Toggle Word Wrap or via the editor action that appears at the top:
<img width="3

[2017-06-13 06:35] gwiron opened #28583 "Es7's observable not support!"
# E.g:
[code]

[2017-06-13 06:37] alexandrudima commented on #28381
@hancockjt Could you please try our keyboard troubleshooting guide -- https://github.com/Microsoft/vscode/wiki/Keybindings#troubleshoot-linux-keybindings

Does any of the entries apply/resolve the problem for you ?

[2017-06-13 06:40] maxibanki opened #28584 "Installer and Updater without administrator privileges"
Hello,

what about adding a feature to the installer that the installer recognizes it when the administrator permission request failed. When the request failed it should install VSCode into `%AppData%` like WebStorm (which I don't like) for example. With this installation it should be possible to use the integrated updater like a normal installation with administrator privileges.

So you have not

[2017-06-13 06:42] SailorMax opened #28585 "Uninstall extension did not remove previous betas"
- VSCode Version: 1.13.0
- OS Version: Win 10x64

Steps to Reproduce:

1. Install extension beta build of any extension via "..." / "Install from VSIX...";
2. Wait until this extension will get new public version (VSCode will update your beta till latest build) and reload VScode;
3. Uninstall this extension and reload VSCode

Expected: VSCode without our uninstalled extension

Actual: VSCode with

[2017-06-13 06:45] alexandrudima commented on #28440
Here are some of the relevant commands we ship with out-of-the-box:
* `cursorHome` :
  * if the line is wrapped:
     * 1x : moves before the first non-whitespace character on the current view line
     * 2x : moves before the first non-whitespace character on the current buffer line
     * 3x: moves before the first character on the current buffer line (column 1)
  * if the line is not wrapped:

[2017-06-13 06:46] alexandrudima commented on #28439
@kutsokon @burknator Can you please share your settings? Are you perhaps using `workbench.zoomLevel` in your settings ?

[2017-06-13 06:58] collinsnji commented on #28472
@ramya-rao-a yes. That what I mean. I did not know exactly how to call it. I'll update the issue

[2017-06-13 06:59] michelkaporin opened #28586 "Smoke test build status indicator"
To enable visibility of our automated smoke builds we should create an extension that indicates about the current VSTS build status in VS Code status bar.

**Requirements:**
General-purpose extension.
Reusable for other VSTS builds, not only targeted for VS Code.

[2017-06-13 07:02] mrange commented on #21071
Copy with formatting in VSCode now "forces" me to run sublime/notepad as formatting filters. So what I do today is this:

1. Select and copy text in VS Code
2. Paste text in sublime/notepad
3. Select and copy text in sublime/notepad
4. Paste text where I would like unformatted text

Before the formatting copy/paste in VSCode this is what I did:

1. Select and copy text in VS Code
2. Paste text whe

[2017-06-13 07:05] MikeGitb commented on #6474
I'd give you a laugh emotji, If it wasn't so sad ...

[2017-06-13 07:09] michelkaporin opened #28587 "Out-of-the-box color picker"
To improve user experience when working with styling in CSS files we plan to add a colour picker.

There are current implementations of colour picker in extension marketplace but they are heavy-weight and do not form part of the core code.

[2017-06-13 07:10] donaldpipowitch opened #28588 "Fat icons on Mac with Insiders"
![image](https://user-images.githubusercontent.com/1152805/27070164-1104540e-5018-11e7-8747-e9e34e4b55da.png)

![image](https://user-images.githubusercontent.com/1152805/27070181-27669644-5018-11e7-842f-1639b1868c4c.png)

- VSCode Version: 1.14.0.-insider
- OS Version: Mac OS X 10.12.4

Steps to Reproduce:

1. Start VS Code (Insiders)

I think I have this problem for about a month in 95% of all ca

[2017-06-13 07:17] mkjsix commented on #28588
Exactly the same problem here with:

- VSCode 1.13.0
- macOS Sierra 10.12.5

[2017-06-13 07:21] MythicAngel commented on #17329
In outlook, switching over menus, destination menu appears lets say after 500 milisecond. So, there is a smoothing effect.
In VSCode, it appears after 20 second, so the effect is gone and the flash of UI element change is problematic.

[2017-06-13 07:21] kumarharsh opened #28589 "A slow startup has been detected. Profiling data attached"
- VSCode Version: <code>Code - Insiders 1.13.0-insider (64d532ccb681ddbef0039db1effa2949f1993214, 2017-06-01T05:14:13.922Z)</code>
- OS Version: <code>Windows_NT ia32 10.0.15063</code>
- CPUs: <code>Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz (4 x 2400)</code>
- Memory (System): <code>7.84GB (2.32GB free)</code>
- Memory (Process): <code>169.19MB working set (176.35MB peak, 147.78MB private, 34.36MB

[2017-06-13 07:23] mkjsix opened #28590 "Fat icons on macOS Sierra 10.12.5 after installing VSCode 1.13.0"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.8.0|
|EditorConfig|EditorConfig|0.9.3|
|vscode-docker|PeterJausovec|0.0.16|
|vscode-eslint|dbaeumer|1.2.11|
|vscode-yaml-validation|djabraham|0.0.1|
|githistory|donjayamanne|0.2.0|
|python|do

[2017-06-13 07:23] freMea commented on #27697
@ramya-rao-a

Thanks for your answers.

The problem with `editorLangId` in `when` clause is that you must duplicate your keybinding as many times as there are languages to restrict.

It could be partially solved if  `when` clause supported OR operator such as:

```"when": "editorTextFocus && ( (editorLangId == html) || (editorLangId == css) || (editorLangId == js) || (editorLangId == xml) )"```

B

[2017-06-13 07:24] jrieken commented on #28477
@sternzhang please attach those files

[2017-06-13 07:24] jrieken commented on #28490
@kamiwa please attach those profile files

[2017-06-13 07:29] tarekis opened #28591 "Editor display bugged when search bar is opened."
Opening the search or replace bar allows so scroll beyond the editor top bounds.

- VSCode Version: 1.13.0
- OS Version: Ubuntu 16.04 x64

Steps to Reproduce:

1. Open search or replace
2. Scroll beyond editor top

![selection_097](https://user-images.githubusercontent.com/16593597/27070789-b330ac58-501a-11e7-830d-d9b4ee7238c2.png)
![selection_098](https://user-images.githubusercontent.com/1659359

[2017-06-13 07:32] Danieleeee opened #28592 "Different icons from procedure and function in Symbol list"
- VSCode Version: 1.13.0
- OS Version: Windows 7

Hi,
is possible to have differe icons from functions and proceures?
![1](https://user-images.githubusercontent.com/22749175/27070886-18e91d0a-501b-11e7-839f-8bb62a712c75.png)

[2017-06-13 07:33] radu-v commented on #27788
Can confirm that upgrading npm, as @rianadon stated, helped - only VS2017 Enterprise installed

[2017-06-13 07:34] davidamey commented on #28324
OK, so hovering over a link has the tooltip 'cmd + click to follow link' and doing this works.

I think it might be to do with the language extension(s) as I have no auto-complete for Dart either. I've just tried Go and that auto-completes and 'goes to definition'.

Going to uninstall and re-install the Dart and Java extensions.

[2017-06-13 07:34] FLWrd commented on #28493
I changed it to manually, but that doesn't change its behavior. Only in "always" does it do so. Is there yet another setting involved?

[2017-06-13 07:36] SteveDrakey commented on #28217
I am on version 1.13.0 OS Win 10 and I get this issue.

Any git changes are not reflected from VS Code unless they are triggered from VS Code.

[2017-06-13 07:38] #28155 closed

[2017-06-13 07:41] freMea commented on #27628
In the new emmet, would this issue solve the current one when something like `c:r` is expanded as `color: r;` instead of `color: rgb(0, 0, 0);` ?

[2017-06-13 07:46] sergeche commented on #27628
Can be solved by providing more value samples for `c` snippet: https://github.com/emmetio/snippets/blob/master/css.json#L76

[2017-06-13 07:49] johnnyreilly opened #28593 "Is code fighting with npm?"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

|Extension|Author|Version|
|---|---|---|
|githistory|donjayamanne|0.2.0|
|auto-close-tag|formulahendry|0.4.2|
|auto-rename-tag|formulahendry|0.0.12|
|csharp|ms-vscode|1.10.0|
|PowerShell|ms-vscode|1.3.2|
|vscode-sort-json|richie5um2|1.9.0|
|vsco

[2017-06-13 07:51] CzBuCHi commented on #28513
@roblourens okay, fair enough ... some ideas how to improove it:

- execute local search again after selecting specific file - that way i get fast workspace search and correct highlighting after file selection (i dont think that second local search would be too much bottleneck)

- global replacer would loop tru list of matching files from global search and run local repacer on them

- this could/s

[2017-06-13 07:57] aleksey-bykov opened #28594 "an option to display search results in output window"
consider adding an option for displaying the search results in the output window (like Visual Studio does)

[2017-06-13 07:58] NickolasGame opened #28595 "NPM scripts dont runs via buil-in tasks support."
- VSCode Version: 1.13.0
- OS Version: Windows 10 64bit

In release notes is written what you can automatically run task from gulp, grunt, and npm scripts.
In example whats result from it is used new 2.0.0 version of tasks api.

If user want to run npm script via buil-in task system he (she) would probably see this:
![package json- -bootstrap- -visual-studio-code-13 06 2017-9_50_42](https://user-i

[2017-06-13 07:59] alexandrudima commented on #28427
It is possible to configure the wrapping rules using these "hidden" editor options:

Here are their default values:
[code]

If the defaults are incorrect, a PR is most welcome in https://github.com/Microsoft/vscode/blob/ba9a4314e1e25cbd135a6f0d5ea855e8f437d104/src/vs/editor/common/config/editorOptions.ts#L2079

Additionally, here is the word wrapping algorithm if you think any improvements can be

[2017-06-13 08:01] dbaeumer commented on #28365
This happened as a side effect of fixing
https://github.com/Microsoft/vscode/issues/16064. In debug land there was confusion between using '.' and ':' as a separator so we decided to use ':' as a separator for the  scope. Since debug and task share the same variable resolving mechanism this got changed for tasks without a necessary deprecation warning.

So the new syntax is `${env:GOPATH}` or `${e

[2017-06-13 08:03] alexandrudima commented on #28324
@davidamey Thank you for following up on this. I'm not sure what might have went wrong with these extensions. If you find any reproducible steps, it is best to contact the extension authors directly in their issue trackers.

---

I think the only left thread in this issue in this case is with @Krizzu. @Krizzu do you have any additional steps that we can try to reproduce? Perhaps you can share your

[2017-06-13 08:04] alexandruirimiea commented on #28497
@bpasero I simply double click it. 2h is an approximate time, the thing is , this problem reproduces after some substantial amount of time passes. In the beginning, VS Code behaves as expected.

The annoying thing is that when I open a file related to the project I was working on on the old window and it opens in a new window, I have to close both windows in order to have all files in the same win

[2017-06-13 08:08] jrieken commented on #28400
@bobbrow What makes you think this? Quick-suggestions has nothing to do with trigger characters which will always go straight to your provider. Quick-suggestios is about suggesting while you type words. Please share your word definition here

[2017-06-13 08:09] michelkaporin commented on #27903
@isidorn pointed out offline that I did a wrong change. I have to take the topmost stackframe that is available, instead of always taking the first one. Thus, reopened.

[2017-06-13 08:09] jerryjiao commented on #2915
Use this extension:https://marketplace.visualstudio.com/items?itemName=vincaslt.highlight-matching-tag

Can solve this problem directly.

![img](https://i.imgbox.com/iIMnrqFm.gif)

[2017-06-13 08:12] DickvdBrink commented on #28593
I had the same issue, for me updating to 5.0.3 (I had 5.0.0) fixed my issue.
What is your npm version?

[2017-06-13 08:14] dbaeumer commented on #28367
@alexkrechik could you provide me with an example. I am not fully understand what you are asking for.

[2017-06-13 08:15] isidorn commented on #28363
There is already an issue for this. Closing as duplicate. You can search for it in our repository

[2017-06-13 08:15] #28363 closed

[2017-06-13 08:16] Krizzu commented on #28324
@alexandrudima
Deleting `~/.vscode` fixed my problem.

With `"editor.multiCursorModifier": "alt"` I can add more cursors holding `alt` key and use `go to definition` holding `CMD` key.

Setting `multiCursorModifier` to `ctrlCmd` swaps functionality (`alt` for `go to definition`, `CMD` for adding cursors).

[2017-06-13 08:16] isidorn commented on #28339
Dup of https://github.com/Microsoft/vscode/issues/11462

[2017-06-13 08:16] #28339 closed

[2017-06-13 08:16] alexandrudima commented on #28308
@derekriemer Would you mind creating a new issue and pinging @jrieken in it?

[2017-06-13 08:18] jrieken commented on #28458
With the code below I cannot reproduce this. The document is properly updated as I type and the change event comes before the completion request is send

[code]

[2017-06-13 08:19] alexandrudima commented on #28374
I can reproduce, but only every 4-5 clicks. The diff editor looks like it has a null model or that the models were disposed. I think we noticed this before in #25580

fyi @jrieken @bpasero @joaomoreno

[2017-06-13 08:21] johnnyreilly commented on #28593
I tried the latest versions from 3/4/5 including 5.0.3. I'm pretty sure I received it consistently with all though (error message differed slightly but same general gist)

[2017-06-13 08:21] alexandrudima commented on #28324
@Krizzu thanks for getting back to me. I am not sure what could have caused this. If you encounter this again and have some reproducible steps I'd love to investigate further.

---

I'll close this issue for now and please reopen if there are any additional findings.

[2017-06-13 08:21] #28324 closed

[2017-06-13 08:23] jrieken commented on #28395
dups #9936  and #13807

[2017-06-13 08:23] #28395 closed

[2017-06-13 08:25] jrieken commented on #28537
In VS code there is no caching or anything that would prevent parallel invocation of command. Closing this as dupe of DonJayamanne/pythonVSCode#553.

[2017-06-13 08:25] #28537 closed

[2017-06-13 08:25] michelkaporin commented on #27537
@chrmarti very strange that the search failure suddenly has gone, I can explain it only if you intervened in the test run.

Thanks for posting the latest log, apparently we had changed our command for opening an SCM viewlet (from `workbench.view.git` to `workbench.view.scm`) recently, so that I had to take it into account. Corrected it in 631e0a74eece2f5b7829c2723b5249683a5af00d.

Just to clarify

[2017-06-13 08:26] embano1 commented on #24820
Same here:

LANG="de_DE.UTF-8"
LC_COLLATE="de_DE.UTF-8"
LC_CTYPE="de_DE.UTF-8"
LC_MESSAGES="de_DE.UTF-8"
LC_MONETARY="de_DE.UTF-8"
LC_NUMERIC="de_DE.UTF-8"
LC_TIME="de_DE.UTF-8"
LC_ALL=

[2017-06-13 08:26] AlexKTest commented on #28367
In language extenstions, server part,  we can use some document-related event handlers:
onDidChangeContent: Event<TextDocumentChangeEvent>;
onDidOpen: Event<TextDocumentChangeEvent>;
onDidClose: Event<TextDocumentChangeEvent>;
onDidSave: Event<TextDocumentChangeEvent>;

But, there are no 'on switch to document'-like event, that can handle case, when we are switching to some already opened document

[2017-06-13 08:28] tbsvttr commented on #28588
Same Problem with

- VSCode 1.13.0
- macOS Sierra 10.12.5

[2017-06-13 08:30] tbsvttr commented on #28590
Same Problem with:
- VSCode 1.13.0
- macOS Sierra 10.12.5

Problem stayed, even after restart (of macOS and VSCode) and deactivation of all extensions.

[2017-06-13 08:31] #28049 closed

[2017-06-13 08:35] DavidCaabeiro opened #28596 "Selecting, copying and pasting causes editor to freeze"
- VSCode Version: 1.13.0-1496940180
- OS Version: Ubuntu Linux 4.4.0-79-generic

Steps to Reproduce:

1. Select some code (JS file)
2. Hit CTRL-C or CTRL-X to copy/cut and paste

Sometimes without even reaching 2 the UI will freeze and after some seconds a popup will request to re-open, close, wait VSCODE.

I'm attaching a CPU profile while reproducing this.

[CPU-20170613T101713.cpuprofile.gz](ht

[2017-06-13 08:37] ytimenkov opened #28597 "tasks 2.0 incorrectly handles relative paths"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.14393

---

Steps to Reproduce:

1. package.json has following in "scripts" section: `"compile": "./node_modules/.bin/tsc -watch -p ./",`
2. tasks.json:
[code]
3. Run "build" task (Shift+Ctrl+B), I have output in the terminal:
[code]

I suspect that for powershell r

[2017-06-13 08:38] MandarSant opened #28598 "Font ligatures not working (Fira code)"
- VSCode Version: Latest
- OS Version: Windows8.1

Steps to Reproduce:

1.Enter the symbols to convert it to apropriate ligatures
![capture](https://user-images.githubusercontent.com/20091634/27073530-c3d66026-5041-11e7-8328-f78a94c2ef82.PNG)

[2017-06-13 08:48] MashMathias opened #28599 "Feature Request: Add support for HTML applications with .HTA extension"

[2017-06-13 08:49] warpdesign commented on #28516
@Tyriar It's a hit:
![vscodebreakpoint](https://user-images.githubusercontent.com/199648/27074001-004582ec-5026-11e7-8742-986ceb6ff3db.png)

[2017-06-13 08:51] pdgago commented on #28417
For me the problem was caused by the `polymer.polymer-ide` plugin. I disabled it and it's working again. I was having problems with html files.

[2017-06-13 08:53] patrys commented on #28592
It looks like we don't currently have a separate `SymbolKind` for procedures. I think it would be very useful to get one seeing how we have symbol kinds for all kinds of base types.

[2017-06-13 08:54] BaobabCoder commented on #256
You can use `debugger;` to stop in your code or set breakpoint in the compiled js application.

[2017-06-13 08:55] hemulin opened #28600 "Possible dispute between the renderer process and the main process on new version installation "hot reload""
- VSCode Version: 1.13.0
- OS Version: Lubuntu 16.04

Installed the new version in the background while working on the previous one (1.12).
Once the installation finished, reloaded the window (`ctrl` + `shift` + `p` => "reload window").
Apparently this caused some weird behavior where the "about" menu item shows v1.12, the release notes show v1.13 and tons of things didn't work (no debug, no integ

[2017-06-13 08:56] alexandrudima commented on #28542
In all cases the primary cursor is "painted" as a `<div>` of width 2px. Chromium ultimately decides how to "zoom in" to respect the OS settings (possibly by multiplying everything with 1.25, and then proceeding to snap to real screen pixels).

AFAIK there is no possible code change we can do on our side to workaround this snapping / rounding-error quirks. I am thinking this is reproducible using C

[2017-06-13 08:57] alexandrudima commented on #28461
@jaen Could you please try our keybinding troubleshooting guide -- https://github.com/Microsoft/vscode/wiki/Keybindings#troubleshoot-linux-keybindings -- and let us know if anything in there helps in this case?

[2017-06-13 09:04] alexandrudima commented on #28473
@cutecycle In 1.13 we have done some optimizations for VS Code such that it works better with Screen Readers. One of the things we do when we detect that a Screen Reader is attached is that we turn off word wrapping, as the wrapping points cannot be communicated properly to the Screen Readers.

From your screenshot, it appears that on your machine VS Code enters this state (via the "Screen Reader

[2017-06-13 09:04] tosone opened #28601 "Feature Request: Is there any way gives me about binary file info instead of “The file will not display in the editor......” ?"
- VSCode Version: 1.13
- OS Version: ubuntu 16.10

Is there any way gives me about binary file info instead of “The file will not be displayed in the editor because it is either binary, very large or uses an unsupported test encoding.” ?

Just gives me something about the file stat infomation and so on. I think it is very nice.

Hope to see it on v1.14.

[2017-06-13 09:09] alexandrudima commented on #28526
Regarding `workspaceContains`, this is now evaluated only at folder opening time. In other words, if an extension is looking for a file called `hello.txt`, and a folder is opened without that file, and later a file called `hello.txt` is created, the extension does not get activated.

I agree, the natural mapping of `workspaceContains` is to evaluate it on each of the opened folders, at folder open

[2017-06-13 09:13] stonedreamforest commented on #28416
i have the same problem

[2017-06-13 09:13] alexkrechik commented on #28367
In language extenstions, server part, we can use some document-related event handlers:
onDidChangeContent: Event;
onDidOpen: Event;
onDidClose: Event;
onDidSave: Event;

But, there are no 'on switch to document'-like event, that can handle case, when we are switching to some already opened document.

[2017-06-13 09:15] #28536 closed

[2017-06-13 09:16] popcorner commented on #670
Actually, php is designed to work with HTML and use html tag to cover itself, just like javascript/css in HTML. Other languages do not work like that. So HTML support in .php files should be a built-in feature.

[2017-06-13 09:17] 01abhishekjain commented on #28515
@bpasero
![untitled](https://user-images.githubusercontent.com/11534188/27075117-ade81f98-5046-11e7-8573-9bd76aafcf24.gif)

I can reproduce even with all extensions disabled. I'd say it reproduces _almost_ all the time. Out of the blue, it once worked correctly (with the extensions enabled). But since then I have observed it to be reproducible each time I try.

[2017-06-13 09:17] joaomoreno opened #28602 "Keybindings in quick open aren't vertically aligned"
Keybindings need vertical alignment:

![image](https://user-images.githubusercontent.com/22350/27075233-d76eeada-5029-11e7-8cd6-d277e6fb3951.png)

[2017-06-13 09:19] michelkaporin opened #28603 "Type casting autocompletes as HTML tag in TS"
- VSCode Version: 1.14
- OS Version: Win10

Steps to Reproduce:

1. Create TS file with any variable that needs to be casted, e.g. to `string`
2. Type `<string`, then `>`, after `>` is typed, it autocompletes as `<string></string>` tag.

I believe this is very surprising that we have HTML tags autocomplete in TS files.

[2017-06-13 09:20] isidorn commented on #28536
The issue here is that we are now fetching callstacks in two requests, first the top call stack then the rest.
This case reveals an issue when another thread stops in between the first fetch and the rest. In this case we wrongly fetch the top stack frame for both threads, instead of fetching the full call stack for one of the threads, and leaving the other to be lazily fetched when needed.

My fix

[2017-06-13 09:24] John0King commented on #28416
I try a fresh install(windows) ,  now VSCode is `en` by default .
I confirm  `%appdata%/code` is deleted beform I install

[2017-06-13 09:24] isidorn commented on #28572
Fixed via 3d3167ace7

[2017-06-13 09:24] #28572 closed

[2017-06-13 09:25] KeZhang commented on #28007
set ` "type": "node", ` will fix this issue

[2017-06-13 09:25] alexandrudima commented on #28376
These keybindings come in from the `merge-conflict` extensions code:

We typically try to stay away from such keybindings out-of-the-box as they prevent typing special characters.

<img width="855" alt="screen shot 2017-06-13 at 11 24 37" src="https://user-images.githubusercontent.com/5047891/27075591-ebd144a4-502a-11e7-864d-71aa09e2ea94.png">

[2017-06-13 09:25] romanlab opened #28604 "Unhandled error in debug adapter: TypeError: params.args[0].value.match is not a function"
- VSCode Version: Code - Insiders 1.13.0-insider (9a107453944f25e6019b08615e20d63545584855, 2017-06-05T18:12:37.367Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-docker|PeterJausovec|0.0.16|
|vscode-eslint|dbaeumer|1.2.11|
|python|donjayamanne|0.6.4|
|gitlens|eamodio|4.1.1|
|node-module-intellisense|leizongmin|1.3.0|
|Go|lukehoban|0.6.62|
|vscode

[2017-06-13 09:26] alexandrudima commented on #28341
Duplicate of #22423

[2017-06-13 09:26] #28341 closed

[2017-06-13 09:26] dbaeumer commented on #28367
What would a language server do with this. The language server on purpose has no counter part of an active document. The active document is send when a request (like code complete) is sent to the server.

[2017-06-13 09:27] isidorn commented on #28500
@DanTup thanks for the suggestion however we are taking this one step at a time, currently we are looking into what is the minimal set of APIs to make this good.
We will probably be focusing more on feature requests from next milestone onward

[2017-06-13 09:27] alexandrudima commented on #28093
The fix is available on the Insiders channel. We looked at it in the endgame, but it did not fit the severity bar for stable.

[2017-06-13 09:30] alexandrudima commented on #28539
I'm open for changing the message. Please directly push a change to the warning message in https://github.com/Microsoft/vscode/blob/3d3167ace71701c63da04f7e2905f83401af10fa/src/vs/platform/integrity/node/integrityServiceImpl.ts#L122

[2017-06-13 09:31] alexandrudima commented on #28499
Duplicate of #21784

[2017-06-13 09:31] #28499 closed

[2017-06-13 09:34] bpasero commented on #28515
@01abhishekjain could it be that you have auto save enabled in settings?

[2017-06-13 09:35] EvgBoor opened #28605 "Bug in display array in watch area - http://prntscr.com/fj6h2o"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.6.4|
|gitlens|eamodio|4.1.1|
|PowerShell|ms-vscode|1.3.2|
|seti-icons|qinjia|0.1.3|
|theme-sapphire|Tyriar|0.2.1|;

---

Steps to Reproduce:

1.
2.

[2017-06-13 09:36] alexandrudima commented on #28511
@1st I'm sorry I don't understand what you mean. The slider currently works:
* if mouse down occurs on the slider, then dragging will drag the slider
* if mouse down occurs outside the slider, then the view jumps to the mouse down position. The slider does not necessarily jump to the same position, as the minimap itself scrolls in large files.

What would you like to be different ?

[2017-06-13 09:36] cdelaorden commented on #24820
Exactly same issue, macOS Sierra with `LANG=es_ES.UTF-8`, when opened with `code .` from Terminal it goes blurry. If opened from Spotlight search for example, everything's fine.

[2017-06-13 09:39] bpasero commented on #28374
Yeah sounds like it. Could not reproduce when trying just now. For sure an impact is to have tab preview enabled because then we dispose editors/models on change.

[2017-06-13 09:40] bpasero commented on #28497
@alexandruirimiea that is a double click in the windows explorer?

[2017-06-13 09:42] jrieken commented on #28492
Challenges and things we need to tackle

* Today the snapshot data (`snapshot_blob.bin`) is loaded in any v8-context, e.g the main process, the extension host process, renderer processes etc, etc. There might be a way of configuring this but I haven't found it yet
* We statically execute code at load time we cannot execute in a AOT-compile, e.g. things like this [`_isWindows = (process.platform ==

[2017-06-13 09:42] iamdevlinph opened #28606 "Staged selected ranges still appear in the unstaged file"
- VSCode Version: 1.13.0
- OS Version: Microsoft Windows [Version 10.0.15063]

**Steps to reproduce**:
1. Here is the starting phase. 1 staged file and 1 unstaged. I will be staging some lines from the unstaged file which is `ai-chart-resize.directive.js`.
![image](https://user-images.githubusercontent.com/19337229/27076138-dff3e50e-505e-11e7-9d5b-3f19f914363b.png)

2. Here I select lines `50 - 67

[2017-06-13 09:42] bpasero commented on #28486
@Cliwo can you share a screencast of what you are doing and what you are seeing?

[2017-06-13 09:43] #28604 closed

[2017-06-13 09:44] romanlab commented on #28604
seems to be fixed in the latest update.

[2017-06-13 09:47] isidorn commented on #28536
I just verified the fix is good.

[2017-06-13 09:48] warpdesign opened #28607 "[build-windows] Error running scripts\code.bat"
- VSCode Version: insider 24c9b09925...
- OS Version: Windows 10 (64bit)

Steps to Reproduce:

1. Run `scripts\npm.bat install` then `npm run watch`
2. Run .\scripts\code.bat

What happens?
A new electron window is opened but vscode doesn't properly run and outputs errors:

[code]

More errors follow.

[2017-06-13 09:49] akaRem commented on #28588
Same problem

- VSCode 1.13.0
- macOS El Capitan 10.11.6

tried with icon packs

- Material Icon Pack
- Minimal
- Seti

Seti icons don't look fat, but UI components such as x-cross on tabs and buttons on task bar still look ugly.

Icons get normal look after some clicking around, but then again bacame ugly in some time.

[2017-06-13 09:49] PeteX commented on #28427
Thanks for the information about the hidden options, that lets me stop the editor splitting on apostrophes.

I suppose wrapping source code is different to wrapping plain text.  With plain text you really only want to split at white space.  (You can I suppose hyphenate words if you really want to be clever, but I feel that's more appropriate behaviour for a word processor than a text editor.)  Wit

[2017-06-13 09:50] dbaeumer commented on #28520
@stonelee this is not VS Code limiting. It is eslint trigger by the git hook. I am pretty sure that the same error appears if you lint in a terminal. To test this can you run eslint in a terminal to see which errors it produces.

I will close the issue since this is not related to the eslint support provided by VS Code. If you have questions you can still ping me in this issue.

[2017-06-13 09:51] dbaeumer commented on #28487
@Charwaka could you attach your tasks.json file pleas.

[2017-06-13 09:52] joaomoreno commented on #18697
@JeremyLoy What values should we put to disable the menu?

[2017-06-13 09:53] bpasero commented on #28602
Now using `vertical-align: text-bottom`, let me know if that helps.

[2017-06-13 09:54] alexandrudima commented on #27632
There are already 3 ongoing PRs that add various things around links. One of them builds on top of another. This is a great problem to have, we love PRs, but please hold off any additional PRs on this issue :heart: until we resolve the ones we already have

[2017-06-13 09:54] michaelchiche opened #28608 "Blurry icons when opening from terminal"
- VSCode Version: 1.13
- OS Version: Mac OS Sierra 10.12.5

Steps to Reproduce:

1.  type `code .`
2. VS code opens with blurry icons, but when I open it by clicking on the VS Code icon in the Dock, it is all good.

I disabled all my extensions to test.
<img width="51" alt="capture d ecran 2017-06-13 a 11 52 31" src="https://user-images.githubusercontent.com/371278/27076929-d8aa6398-502e-11e7-819b

[2017-06-13 09:55] michelkaporin commented on #28586
In fact, there is already nice extension that provides necessary functionality:
https://marketplace.visualstudio.com/items?itemName=jeppeandersen.vstsbuildstatus

We can make a fork out of it to suit more our needs (e.g. aggregate several build definitions into single 'Smoke Test' one), or use it as-is.

[2017-06-13 09:56] dbaeumer commented on #28386
@NickolasGame we are working on a task 2.0.0 support which lets extension contribute tasks as first class things. We even moved grunt, gulp and jake out of the core and maintain them as extensions. For backward compatibility we still bundle them. Will tasks 2.0.0 there is npm support as well.

I will close the issue since with the task 2.0.0 the support coming from an extension will not differ fro

[2017-06-13 09:56] #28386 closed

[2017-06-13 09:58] warpdesign opened #28609 "[Selection - Output Panel] Selection extended to the current opened file"
- VSCode Version: insiders bbcd10...
- OS Version: Window 10 (insiders)

Steps to Reproduce:

1. Open a new file
2. Open the bottom panel and select some text inside the terminal or output panel
3. While maintaining left mouse button down, move the cursor on the left, over the sidebar

What happens?
Some text is selected in the currently opened file, above the output panel

What should happen?
Sel

[2017-06-13 10:00] bpasero opened #28610 "Code font in "Find References" does not work for me"
I see we now use the editor font in the "Find References" tree:

![image](https://user-images.githubusercontent.com/900690/27077268-c26c5856-502f-11e7-93a9-02a8573d19cf.png)

First of all, if we start to use this we should also use it in the search results view to be consistent (the results already look very similar).

I suggest to have a setting for this though, I prefer the workbench font for se

[2017-06-13 10:02] baixiaoyu2997 opened #28611 "when terminal address have Chinese， will be repeated"
- VSCode Version:1.13.0
- OS Version:win10

Steps to Reproduce:

1.
![4](https://user-images.githubusercontent.com/9149999/27077311-366a5b40-5062-11e7-8839-6de72837afa0.png)

2.
![5](https://user-images.githubusercontent.com/9149999/27077358-6125169a-5062-11e7-94c1-6494e3f36e44.png)

[2017-06-13 10:03] dbaeumer commented on #23396
@Tyriar Thanks. Verified today with latest insider.

[2017-06-13 10:03] dbaeumer commented on #28481
@ramya-rao-a  please assign translation issue to @danyeh

[2017-06-13 10:05] isidorn commented on #28610
Agree for consistency and search.
What is a bit visually jarring to me here is a combination of fonts used in the find all references tree (I understand this is the only lgoical way to do it)

![screen shot 2017-06-13 at 12 02 31](https://user-images.githubusercontent.com/1926584/27077397-3fd0a7ac-5030-11e7-8b47-f4ee3daa9e6d.png)

[2017-06-13 10:06] dbaeumer commented on #28489
@opensw which OS are you on. And can you provide me with the full tasks.json please.

[2017-06-13 10:08] Numinel commented on #28025
I really want to view hex values too. Seems like a small thing to add to the otherwise very good VSCode.

[2017-06-13 10:08] BobbyBabes commented on #207
@bpasero Is that a newspaper?

[2017-06-13 10:09] alexandrudima commented on #28427
I think not collapsing whitespace is ok given our primarily being a source code editor. The wrapping algorithm crams as much whitespace as possible on a line, but if the whitespace would overflow, it overflows over to the next line. This is a somewhat conscious choice, as this might be a string in a source code where it would be unexpected for whitespace to disappear. I know this is sometimes at o

[2017-06-13 10:11] joaomoreno commented on #27705
![hi5](https://m.popkey.co/1e7a99/YdkwL.gif)

[2017-06-13 10:13] Danieleeee opened #28612 "Unable to update extensions under proxy"
- VSCode Version: 1.13.0
- OS Version: Windows 7

Steps to Reproduce:

![extens_proxy](https://user-images.githubusercontent.com/22749175/27077815-a585bc30-5031-11e7-94e2-504361979090.gif)

[2017-06-13 10:15] markus-brt opened #28613 "Tasks: Issue with Windows env variables"
- VSCode Version: 1.13
- OS Version: Win10

We are using a tasks.json ("version": "0.1.0") and after the update it looks like the Windows environment variable expansion (e.g. "${env.TMP}") does not work anymore.

[2017-06-13 10:20] hebu commented on #4891
Yes, please fix the issues with "auto guess encoding". I tried to use this setting, but it tends to guess japanese encodings for utf-8 encoded markdown files or Windows-1252 encoded PowerShell skripts. And if you don't see it while saving, you'll lose all your special characters in the file (thanks to version control at this moment, but still you lose working time...)

[2017-06-13 10:23] csvn commented on #27936
@mjbvz Nice find! Was beyond me to find out what happens where. I suspected TypeScript might be behind the issue.

[2017-06-13 10:25] Coresi7 commented on #17097
@jrieken Problem still on version 1.13
For client, yes, for server and VM, no. More cores means more money and waste of computing resources.
So you may think it wont be used on server or VMs?

[2017-06-13 10:26] HankB commented on #28406
[code.txt](https://github.com/Microsoft/vscode/files/1071025/code.txt)
[top.txt](https://github.com/Microsoft/vscode/files/1071026/top.txt)

I have attached two text files. 'code.txt' is the result of 'ps -ef' filtered for the processes with the name '/usr/share/code/code' and 'Microsoft.VSCod' which capture the processes of which I am aware. (The latter seems to relate to the C/C++ extension as i

[2017-06-13 10:27] RenaudThoraval commented on #28536
Thanks @isidorn for the fix !

[2017-06-13 10:29] 1st commented on #28511
Hello @alexandrudima. The problem is that we see all 3000 lines in a super narrow minimap, where lines of code aren't readable. I like to see a wider minimap with, let's say, 300 lines of code with ability to scroll down, like I show in the animated picture above.

Currently it's a 30 pixel wide minimup with all 3k lines.

[2017-06-13 10:30] jrieken commented on #28610
Yeah, it is a little ugly

[2017-06-13 10:31] #28081 closed

[2017-06-13 10:31] #27914 closed

[2017-06-13 10:33] jrieken commented on #28406
Yeah, two bad things happen here: FileWatcher going crazy and CPP tools going crazy. For the latter, please file a separate issue in their repo. Thanks

[2017-06-13 10:40] NickolasGame commented on #28386
If new tasks will have owerfull and reach api it will be a good idea. Althrough it will be cool to maintain bower support as grunt , gulp , and others.
By the way at this time bundled npm srcipts support is  not work correctly. Please fix this.

[2017-06-13 10:40] alexandrudima opened #28614 "Context menus come up with an overflow when it should go above"
![menu](https://user-images.githubusercontent.com/5047891/27078823-7d666ce6-5035-11e7-9bcd-bf5ea36f9bc2.gif)

[2017-06-13 10:43] NickolasGame commented on #28386
If i make a good pull request with new bower package, will it maintained as core extension?

[2017-06-13 10:47] MartinSchmid2409 commented on #178
+1

[2017-06-13 10:50] alexandrudima commented on #27632
Thanks to PR #28160, there is now `editor.links` which can be set to false to prevent the link detection from running (which implies no more underlines and no more clickability of links)

[2017-06-13 10:50] #27632 closed

[2017-06-13 10:52] claudiosousa opened #28615 "hardware acceleration should be configurable in settings"
Due to the multiple ways of starting code, (UI, context menu, terminal) it is not always easy to specify the --disable-gpu option.

This option should be configurable in the settings file, so it acts gloabaly.

[2017-06-13 10:57] 1st commented on #28510
Sorry, but how is it related with my task? It's totally different request!

[2017-06-13 10:58] 1st commented on #28510
@ramya-rao-a will be good to reopen this ticket. Or, maybe, you pointed me to a wrong ticket that you mentioned above?

[2017-06-13 10:59] DigiAngel commented on #28433
Well this leaves me in a bit of pickle.  They say it's you, you say it's them.  Now what?

https://github.com/Microsoft/vscode-cpptools/issues/811

[2017-06-13 11:14] Murmand commented on #7430
Well, this is really *nice to have* feature for our team, so I tried to figure it out. As @aeschli wrote above, the problem is the `skimdb` url.

As you can find in the [official documentation](https://docs.npmjs.com/misc/registry):

The offical public registry does not support `_design/app/_view` path, because it is not allowed by its configuration. `skimdb` supports that. The `skimdb` URL is use

[2017-06-13 11:20] fj128 commented on #28542
@alexandrudima Interesting, that explains why there's no artifacts at 150% zoom (because it yields 3px exactly). And why there still are artifacts at 150% with "editor.cursorStyle": "line-thin".

Look at this though: https://jsfiddle.net/655jcnmf/2/ when I specify 1.6px width (2 / 1.25), there's no width artifacts!

So, if you could somehow determine OS DPI and also keep track of your own zoomLeve

[2017-06-13 11:22] angelo-moreira opened #28616 "Disable icons in VS Code - Ubuntu 16.04"
- VSCode Version: 1.13.0
- OS Version: Ubuntu 16.04 (Xenial)

Steps to Reproduce:

1.  Add "workbench.editor.showIcons": false, in settings.json
2.  Reload window

It should: not show the icons
Result: Icons are still showing

[2017-06-13 11:47] bizoo opened #28617 "Add prefix argument to Quickopen command (CTRL+P)"
Add an argument (prefix) to "workbench.action.quickOpen" command.
This way you can populate the content with predefined values ("task JS:", "view_", ...) to filter the result using different keybinding.

I think the quickOpenService.show() method has already a prefix argument, so all we need to do is add it to the registered command.

[2017-06-13 11:50] Dashue commented on #7015
Latest release landed, was this part of it? @dbaeumer

[2017-06-13 11:54] hilleer commented on #21839
This is a feature that we would welcome very, very much as well, as it's kind of time consuming and annoying to have to build and forward the vsix file every time you make changes :-)

[2017-06-13 11:57] bpasero commented on #207
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2017-06-13 12:11] CViniciusSDias commented on #28518
From the line 36 on, the highlight is messed up. Before it, it looks just fine:

<img src="http://uploaddeimagens.com.br/images/000/949/753/full/code.JPG" alt="">

[2017-06-13 12:14] markus-brt commented on #20235
Does no longer occur in latest 2 releases.

[2017-06-13 12:16] singerb commented on #28288
I also noticed a regression with Solarized Dark in the terminal, with the colors of text on non-default background colors (such as in a Powerline-style prompt). Notably, only the default background color seems to have a white text color available, while other background colors just have a dull grey where white should be. Bold or not doesn't make a difference. Screenshots of a simple ZSH script to

[2017-06-13 12:25] sandy081 commented on #28476
@itowlson Thanks for finding it. My mistake. Fixed it.

[2017-06-13 12:25] #28476 closed

[2017-06-13 12:26] gregmarr commented on #28440
Yes, that sounds right, thanks.

[2017-06-13 12:26] #28440 closed

[2017-06-13 12:28] vikas027 commented on #28414
Duplicate of https://github.com/Microsoft/vscode/issues/26038, https://github.com/Microsoft/vscode/issues/28453, https://github.com/Microsoft/vscode/issues/28304, https://github.com/Microsoft/vscode/issues/28437, https://github.com/Microsoft/vscode/issues/28451

[2017-06-13 12:32] BobbyBabes commented on #207
@bpasero I was just kidding. The last 2 words sound like a newspaper name. Sorry! Should have added a smilie.

[2017-06-13 12:37] isidorn commented on #28535
After talking to Alex he convinced me this is overly complicated due to debug setting the hover programitically which will fiight the whole configuration story.
Example: while debugging user opens an additional editor -> now this editor should also have hover disabled
Example2: when debugging is done which `hover` option should be respected. There might be a language specific hover which takes pre

[2017-06-13 12:38] isidorn commented on #28536
Here's an example for which I could repro the issue and which we can use to verify

[code]

[2017-06-13 12:39] weinand commented on #28025
I suggest to raise this request against the debugger extension you are using since the format of values id provided by the extension. VS Code does not have generic support for value formats.

[2017-06-13 12:43] pocesar opened #28618 "Insiders randomly crashing"
- VSCode Version: bbcd10ae
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Typing in Typescript file
2. Get a random crash

I couldn't find a reliable way to replicate, but it crashed 3 times since I've updated insiders to the latest nightly. Since it's crashing to the desktop, I have only the `Event Viewer` event

[code]

[code]

contents of the Report.wer https://pastebin.com/r6Kx6eHv

at

[2017-06-13 12:43] sandy081 commented on #28418
Good catch. When an extension contributing tree view is activated before explorer view is shown, then I am aggressively setting the input even before tree is created.

Fixed it.

[2017-06-13 12:45] #28418 closed

[2017-06-13 12:46] sandy081 commented on #27588
@mbeatrizmagalhaes Appreciated. Please submit a PR. Thanks.

[2017-06-13 12:48] tonoslav opened #28619 "Text disappeared after update to 1.13 [Bug]"
- VSCode Version: 1.13
- OS Version: Windows 10.0.14393

Steps to Reproduce:

1. Updated to 1.13
2. Nothing else

![screenshot_1](https://user-images.githubusercontent.com/3399021/27082968-33655bc2-5047-11e7-88ae-df282c37eb16.png)

**Update**

Insider version is the same

**Update 2**

Downgrade to 12.2 fixed the problem

**Update 3**

Problem is with **font-family: system-ui** , how to fix it?

[2017-06-13 12:48] cprogrammer1994 opened #28620 "${workspaceRoot} is empty when no file is open"
- VSCode Version: 1.13.0
- OS Version: Windows 10 64bit

Steps to Reproduce:

1. Open a folder with vscode
2. Create `.vscode/tasks.json`
3. Add a task:

[code]

4. **Close all the files**
5. Run the task: **7. Check**

[code]

If you skip **4.** (or you have at least one open file) the file is executed properly.

#### The problem:

If there is no open file in the editor the `${workspaceRoot}` is

[2017-06-13 12:49] alexandrudima commented on #28542
I have been down this road only last week. The problem is that I could not come up with any formula that makes sense and uses the values I have at my disposal: `window.devicePixelRatio`, `document.createElement('canvas').getContext('2d').webkitBackingStorePixelRatio` which when divided should give the `pixelRatio`, `zoomLevel` or `zoomFactor`.

Perhaps I am missing something obvious but here is wh

[2017-06-13 12:52] sandy081 commented on #26735
We do not have expand all button any where in the product. Introducing this action here might expect to have at other places too.

[2017-06-13 12:53] chrisolsen opened #28621 "end of central directory record signature not found"
- VSCode Version: 1.13.0
- OS Version: Windows 10

Steps to Reproduce:

1. Try to update to the latest version of vscodevim (this is the only plugin I have issues with)

I am not running behind any proxy (as far as I know). I have the issue when I'm at home or work on the same laptop. I do however use Fiddler during development, so it's possible the proxy it sets up is not being removed, but I'm n

[2017-06-13 12:53] #28598 closed

[2017-06-13 12:54] sandy081 commented on #28463
Also added @bpasero to update the description of the setting to include all options.

[2017-06-13 12:55] pocesar commented on #28618
found a quick way (but not always reproducible) to make it happen: open a big typescript file, go to `Help` > `Toggle Developers Tools`, do it a couple of times, it will crash

[2017-06-13 12:56] #27903 closed

[2017-06-13 13:07] alexandruirimiea commented on #28497
No, I use Double Commander, but I think it passes the command of opening the file to the operating system directly.

[2017-06-13 13:07] dbaeumer commented on #7015
@Dashue zes, but you still need to opt into it. Create an tasks.json like this:
[code]
and you should see build tasks to compile TS -> JS without any further config steps.

[2017-06-13 13:10] stevencl commented on #396
Thanks for the continued feedback. There is a definite theme about delaying the persistence of a multi folder workspace until some explicit action from the user (such as save). We'll need to think more about this and investigate further.

[2017-06-13 13:10] dbaeumer commented on #28386
To get full npm script support you need to add a dummy tasks.json for now. Will change with one of the next releases. The tasks.json needs to look like
[code]
If you still see a problem please open an issue then.

Actually our goal is more to converted bundled extensions into real extensions. So moving bower into the core will likely not happen. @chrisdias any additional thoughts

[2017-06-13 13:11] alexandrudima commented on #28511
@1st
* The minimap has the same width as the viewport. If in the viewport there are fitting 100 characters, then the minimap has the width to represent 100 characters:

<img width="1276" alt="screen shot 2017-06-13 at 15 07 37" src="https://user-images.githubusercontent.com/5047891/27083866-3f7eb8f6-504a-11e7-8eb6-0272d7030265.png">

* The minimap does not render all the lines in the file. It will

[2017-06-13 13:18] Dashue commented on #7015
[Info  - 14:17:13] Using tsserver from: c:\Program Files (x86)\Microsoft VS
Code\resources\app\extensions\node_modules\typescript\lib\tsserver.js
[Info  - 14:17:13] Forking TSServer
PATH: undefined

On Tue, Jun 13, 2017 at 2:08 PM, Dirk Bäumer <notifications@github.com>
wrote:

[2017-06-13 13:18] Otiel commented on #12387
I second this, an option would be nice. Something like `workbench.startup`, which would replace the current `workbench.welcome.enabled` with the following values:

* `none` : start empty
* `welcome` : show the Welcome page on startup
* `new-tab` : show a new 'Untitled' tab on startup

[2017-06-13 13:21] ForbesLindesay commented on #5961
This is the main thing preventing me adopting typescript & vscode for everything.

[2017-06-13 13:23] HankB commented on #28406
I've filed an issue against cpptools.
Since the issue seems file related I will add the following information:
- Filesystem EXT4
- Device SATA SSD (on a laptop with I7-4710HQ processor and 16MB RAM.)
- Project is in a subdirectory of '~/Documents/C/c-txtutil/' where '/home/hbarta/Documents' is a symlink to '/mnt/home/hbarta/Documents'

[2017-06-13 13:23] isidorn commented on #27903
@michelkaporin the latest fix looks good. Just FYI using `arrays.first` makes the code neater.

[2017-06-13 13:27] gopi-ar commented on #132
Those who can't use @felixfbecker 's extension because of it's PHP7 requirement, can use Lin Yang's PHP symbols extension:
https://marketplace.visualstudio.com/items?itemName=linyang95.php-symbols

[2017-06-13 13:30] felixfbecker commented on #132
Just to avoid confusion, my extension works with PHP code of any version. You just need to install PHP 7 locally because the extension is written in PHP 7 itself and needs PHP 7 to run.

[2017-06-13 13:31] Andonon commented on #13005
Has anyone figured this...
Debugger listening on 127.0.0.1:36668
14044: _attach: connected
14044: _stopped: got break event from node
14044: _stopped: new ref cache
14044: _handleNodeBreakEvent: suppressed stop-on-entry event
14044: __initialize: got process id 12768 from node
14044: _initialize: target node version: v7.10.0
14044: _injectDebuggerExtensions: code injection successful
14044: _start

[2017-06-13 13:31] #28502 closed

[2017-06-13 13:32] opensw commented on #28489
OS: Linux (Ubuntu 16.04).

"
It looks like bash is not found on our PATH. Does it work if you add the full path to bash in the command?
"
No, it is not working.

Note: in Visual Studio Code 1.12, tasks are working. I ma guessing there is a bug in the new release 1.13.

`{
    // See https://go.microsoft.com/fwlink/?LinkId=733558
    // for the documentation about the tasks.json format
    "version

[2017-06-13 13:34] weinand commented on #13005
@Andonon how does your launch.json look like?

[2017-06-13 13:37] isidorn commented on #27458
Makes sense to try to reuse this in the debug land

[2017-06-13 13:40] weinand commented on #13005
@Andonon if your program is too short, it might execute so fast that the VS Code debugger has not enough time to attach to it.
In this case please add a `"stopOnEntry": "true"` to your launch config. This will force your program to stop on entry.

[2017-06-13 13:41] marekr commented on #1012
Bump, its so strange its not built into VSCode.

[2017-06-13 13:43] NickolasGame commented on #28386
I am already open an issue and its not working with new tasks.json.

[2017-06-13 13:43] danielsokolowski commented on #396
I would also suggest the developers take a look at Eclipse IDE on how it
handles this functionality, they figured it out long ago and it works
great.

On Tue, Jun 13, 2017 at 9:11 AM, Steven Clarke <notifications@github.com>
wrote:

--
*Daniel Sokolowski*
Technical Architect

*Stantive Technologies Group Inc.*
Phone:  +1 (613) 634-7410
http://www.stantive.com

Notice of Confidentiality:
The inform

[2017-06-13 13:44] isidorn commented on #28245
Works fine for me as well on OS X.

@bhkeys please create a sample repository on GitHub for which you can easily reproduce this. Thanks
@gregg-miskelly fyi

[2017-06-13 13:46] hhmultimediallc commented on #28541
**Additional Innformation**
Just did a reinstall of the  Angular CLI and the problem still exists.
npm uninstall -g angular-cli
npm cache clear
npm install -g angular-cli

I see that this item is marked **needs more information**  Please let me know any additional information I can provide.

[2017-06-13 13:47] TheDeveloper commented on #28324
I'm seeing this too. cmd + click no longer works for going to definition. It has changed to alt + click. As far as I can see there is no setting for this. Aside from this, I have got `editor.multiCursorModifier` set to `ctrlCmd` for multiple selections with command key.

[2017-06-13 13:48] Numinel commented on #28025
I use gdb as debugger and there are commands for gdb to view variables as hex but how do I set-up VSCode to use those commands?
I guess this is not the place to ask such questions though.

[2017-06-13 13:49] tiagoefmoraes commented on #24820
Having the same issue, my workaround is to open code in terminal with `LC_NUMERIC=C code .`

[2017-06-13 13:49] NickolasGame commented on #28386
And i'm interseting will new tasks have some UI. Something like button on sidebar for git and other things.

[2017-06-13 13:51] BrandonRice commented on #28374
Alexandru,

That is the same result that I get.  I click on it and don't see anything.
Click on something else and I see what I should see. Then go back and click
on the file I want to look at and I see the same file I just saw.  Click
away and then click on it again and I see the correct preview.

Thank you,

Brandon Rice
Web/Db Application Developer
Office: (817) 200-2374

On Tue, Jun 13, 2017 a

[2017-06-13 13:55] ViggoV commented on #28590
Same here. The screenshot is from an external monitor but on the built-in monitor on my MBP looks like the one above.

VSCode: 1.13.0
macOS: 10.12.4

![skaermbillede 2017-06-13 kl 15 46 41](https://user-images.githubusercontent.com/3153568/27085694-4fb0c7f4-5050-11e7-9c46-20a66262a558.png)

[2017-06-13 13:56] weinand commented on #28025
As a said in my previous comment: VS Code does not have generic support for value formatting (e.g. to view variables in hex). This functionality must come from the debug extension that you are using.

[2017-06-13 13:56] dbaeumer opened #28622 "Allow quick open to control focus of the next viewlet"
- VSCode Version: master
- OS Version: Windows

Currently the workbench gives focus to the editor when quick open closes. I would like to control which viewlet gets focus. The run function for quick open could control this via a return value.

[2017-06-13 13:57] dbaeumer commented on #23752
Fixed by not revealing the output panel anymore when the runner is the terminal. However final support depends on https://github.com/Microsoft/vscode/issues/28622

[2017-06-13 14:00] bpasero commented on #207
:]

[2017-06-13 14:02] Alex-302 opened #28623 "[Usability issue] Highlighted and completely selected strings have the same highlighting color"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: disabled

---

Steps to Reproduce:
GIF
https://user-images.githubusercontent.com/8361299/27085882-347ad584-5059-11e7-96bf-ff978954e4a8.gif

1. find some text
2. go to result
3. Click on search request and drag the result. It is graggable, because r

[2017-06-13 14:03] bpasero commented on #28463
I also once had a user that was not getting the concept of having to add something to the right hand side. I think we need to guide users better how to actually edit the setting on the right hand side. Maybe this is mostly a problem for first time settings users that never had settings on the right hand side to begin with?

![image](https://user-images.githubusercontent.com/900690/27086204-c3451f4

[2017-06-13 14:04] michelkaporin commented on #27903
@isidorn oh yeah, it's so much neater. Changed in ac4bc6116eb7d8819bedbfca39d4dbfb95cf2eb7. Thank you for the hint!

[2017-06-13 14:07] lennylxx opened #28624 "Support JSDoc `@link` inline tags"
- VSCode Version: 1.14.0-insider
- OS Version: Windows 10 OS Build 15063.296

Steps to Reproduce:

1. Create a new file `test.js` with below content
[code]
2. Hover your mouse on `bind`, it shows
![test](https://user-images.githubusercontent.com/5811576/27085923-375af1c4-5083-11e7-9255-240e67669833.png)

Notice that the link is
[code]
There is an extra `}` at the end of the link.
When you click on

[2017-06-13 14:07] momoci99 opened #28625 "change language is not working"
- VSCode Version: code-oss-dev 1.14.0 (Commit unknown, Date unknown)
- OS Version: Windows_NT x64 10.0.15063
- Extensions: none
---

I want to change the language setting in oss-dev
so, i tried to below process but it doesn't well
(I'm a newbie here. Please understand my rudeness. )

Steps to Reproduce:

1. ctrl + shift + p
2. select configure language
3. change locale to another language
(example

[2017-06-13 14:08] CherryDT commented on #28611
Duplicate of #26038

@baixiaoyu2997 As I understand, this is already fixed and will be released soon.

[2017-06-13 14:08] fj128 commented on #28542
I found this: https://chromium.googlesource.com/chromium/src.git/+/refs/heads/lkcr/content/common/page_zoom.cc

And the formula there matches your observed zoomFactor perfectly and pixel values pretty close (if we assume a 2x factor coming from the device DPI or something):

    for zoomLevel in range(-8, 1):
        zoomFactor = 1.2 ** zoomLevel
        print(f'{zoomLevel:>2} | {zoomFactor:0.4f}

[2017-06-13 14:10] ZZYSonny opened #28626 "my suggest for making the file icon better"
Now we have different kind of icon for c++/java/json with different kinds of file
can we make this feature into explorer of windows or something else
for example
a c++ user now have a paper and a vscode icon on it
But I think we can put c++(like what you designed in vscode) in the icon. This can help us distinguish different kinds of file.(currently vscode is my main reader)

[2017-06-13 14:18] CherryDT commented on #28571
@Tyriar I believe "not looking good" would be an understatement - it is pretty problematic that the text is _reversed_, I think the spacing is less of an issue.

As for examples: ConEmu seems to handle it in a better way in that the characters are still aligned in a grid, but RTL rules are adhered so that the text is shown the right way round. This may of course be confusing or cause issues combin

[2017-06-13 14:19] Zoxc opened #28627 "Output tab steals focus from Terminal tab"
The output tab will steal focus from the Terminal tab when I edit code in Rust. This interrupts my workflow since I need that to read error messages from the compiler.
[code]

[2017-06-13 14:22] 01abhishekjain commented on #28515
No, I don't.

[2017-06-13 14:24] isidorn commented on #28536
@weinand noticed that the fix is incomplete and that in some corner cases we might still hit issues. In order to have a proper solution we need a `callStackScheduler` per `Thread` and this will be a larger refactoring which I am now looking into.
Since the proper fix will touch more code areas and since this issue does not happen that often I suggest that we do not release this in the recovery bui

[2017-06-13 14:27] ChristianTheMinery commented on #28354
I believe I've identified the issue - the problem is that farther up the file, there's a PHP tag nested inside a script tag:

[code]

And _this_ is what seems to be breaking the 'colour parsing'. It didn't before, but it does now.

[2017-06-13 14:28] Dashue commented on #7015
Not sure whether you got the mention, as it was added during an edit @dbaeumer

[2017-06-13 14:30] cfjedimaster commented on #13138
Just a +1 that installing realpath worked for me too. Maybe it could just be documented and then this could be considered fixed?

[2017-06-13 14:31] #24667 closed

[2017-06-13 14:34] pm100 commented on #28378
This was a system rendered unusable by simply installing and opening vscode. Took me 10 mins to get task manager open in order to kill it. No other sw running on it. 4gb, 1 cpu hyperv vm running server datacenter. I installed notepad++ instead

Sent via the Samsung Galaxy S7, an AT&T 4G LTE smartphone

-------- Original message --------
From: Benjamin Pasero <notifications@github.com>
Date: 6/12/1

[2017-06-13 14:38] joaomoreno commented on #26982
Great to know.

[2017-06-13 14:38] #26982 closed

[2017-06-13 14:39] jrieken commented on #28378
dupe of https://github.com/Microsoft/vscode/issues/17097

[2017-06-13 14:39] #28378 closed

[2017-06-13 14:39] yizhoucao commented on #28593
same issue here after upgrade to latest 1.13.0

[2017-06-13 14:39] eamodio opened #28628 "[decorators] renderIndentGuides don't move with a before decoration"
- VSCode Version: Code - Insiders 1.14.0-insider (bbcd10ae1a959c1681469533321fa418da7cd9db, 2017-06-13T05:13:35.880Z)
- OS Version: Windows_NT ia32 10.0.16215
---

This is probably a duplicate of https://github.com/Microsoft/vscode/issues/11485 but I wanted to make sure.

## Before
![image](https://user-images.githubusercontent.com/641685/27087719-c84a51da-5023-11e7-8214-197395b00732.png)

## Afte

[2017-06-13 14:41] MathiasMagnus commented on #13138
Considered fixed? Could you give a step-by-step tutorial on how you got it working? Are you talking about launching the native linux client under WSL and have the window show up through Xming?

[2017-06-13 14:42] cfjedimaster commented on #13138
Sorry - I thought the main issue was -launching the Windows code.exe from WSL. And as installing realpath worked for folks, it may be a good solution. If I misread, ignore me (but add me to the list of folks who had success with that tip!)

[2017-06-13 14:44] dbaeumer opened #28629 "Terminal doesn't print output from scripts\test anymore"
- VSCode Version: Master
- OS Version: Windows
- Terminal: PowerShell

Steps to Reproduce:

1. vscode workspace
2. execute scripts\test.bat

Observe: no dots are printed.

[2017-06-13 14:44] joaomoreno commented on #27240
#7426

[2017-06-13 14:44] #27240 closed

[2017-06-13 14:46] joaomoreno commented on #27266
#26925

[2017-06-13 14:46] #27266 closed

[2017-06-13 14:47] joaomoreno commented on #27343
VS Code goes to the foreground on my machine. If it doesn't this is an Electron issue. Can you always reproduce this?

[2017-06-13 14:48] #11569 closed

[2017-06-13 14:48] joaomoreno commented on #27360
Git now listens to the encoding configured in your settings.

[2017-06-13 14:48] #27360 closed

[2017-06-13 14:50] khuongduybui commented on #13138
The main issue I have with running the Windows code.exe is it CANNOT work with the Linux file system.
The main issue I have with working with the Windows file system is it messes up executable bits.

[2017-06-13 14:55] joaomoreno commented on #27367
Which shortcut did you press multiple times?

[2017-06-13 14:55] cfjedimaster commented on #13138
@khuongduybui just keep your files under C. Don't forget you can get there from WSL. So for ex, I was in /mnt/c/projects/foo. I typed "code .", and WSL launched Code and it had the proper path (c:\projects\foo).

[2017-06-13 14:55] chenxizhang commented on #28398
select the folder, In the Context Menu,  Select "Open with Code"

actually,  It's work fine for me before I update windows 10 and OneDrive for Business Sync Client to latest version

![image](https://user-images.githubusercontent.com/1996954/27088790-444f4fbc-508b-11e7-9400-248312e22eb9.png)

![image](https://user-images.githubusercontent.com/1996954/27088859-6fd55960-508b-11e7-93c6-2a2a0deb9d2f.p

[2017-06-13 14:56] joaomoreno commented on #27375
#12764

[2017-06-13 14:56] #27375 closed

[2017-06-13 14:57] joaomoreno commented on #20863
Yes I verified this is fixed with the latest Electron update.

[2017-06-13 14:58] uditalias opened #28630 "Sometimes Typescript errors keep showing in the PROBLEMS tab although the code has been fixed"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|jsx|TwentyChung|0.0.1|
|theme-jsfiddle-like-syntax-vscode|davidmart|0.0.6|
|theme-dracula|dracula-theme|2.1.1|
|docthis|joelday|0.4.4|
|intellij-idea-keybindings|k--kato|0.2.12|
|vscode-icons|robertohuertasm|7.9.

[2017-06-13 14:59] chrmarti opened #28631 "Polish Github extension"

[2017-06-13 15:00] joaomoreno commented on #27429
Not feeling enough vibes for this.

[2017-06-13 15:00] #27429 closed

[2017-06-13 15:01] joaomoreno commented on #26772
We've increased the timeout for not receiving lazyEnv in time, so this should be fixed for you in the latest insiders.

[2017-06-13 15:01] #26772 closed

[2017-06-13 15:02] joaomoreno commented on #27488
Great steps, thanks!

[2017-06-13 15:02] lebnic commented on #28631
My git extension also stopped working...

[2017-06-13 15:03] mostafa69d commented on #28571
@Tyriar
Exactly as you mentioned all the IDEs have problem with RTL languages especially when you hardcode some charachters in your code(I hope VS Code find a solution for this problem too). Anyway at least VS Code was working perfectly in terminal in previous version( In my case Persian which its rules for RTL are same as Arabic)

[2017-06-13 15:04] lebnic commented on #28631
Restarted vscode, now it's working

[2017-06-13 15:04] joaomoreno commented on #27593
#24919

[2017-06-13 15:04] #27593 closed

[2017-06-13 15:05] chrmarti commented on #28370
@acorcuera Did you open VSCode on a folder? What does the Explorer show? Please attach a screenshot.

[2017-06-13 15:05] joaomoreno commented on #27595
We can go back to using named pipes...

[2017-06-13 15:06] eamodio opened #28632 "Clicking on a view node's arrow (from TreeDataProvider) to expand it shouldn't execute its command"
- VSCode Version: Code - Insiders 1.14.0-insider (bbcd10ae1a959c1681469533321fa418da7cd9db, 2017-06-13T05:13:35.880Z)
- OS Version: Windows_NT ia32 10.0.16215
---

Or something. :) It's probably best to not have commands on expandable nodes but if you do, it definitely feels odd that it executes and expands. Maybe the arrow could be its own hit target?

[2017-06-13 15:07] joaomoreno commented on #27626
If you have a standard commit message, use [`commit.template`](https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration). We have support for that.

If you want to amend the latest commit, use the `Git: Undo Last Commit`, it will restore the commit message to the input.

[2017-06-13 15:07] #27626 closed

[2017-06-13 15:07] chrmarti commented on #28376
/fyi @pprice

[2017-06-13 15:07] eamodio commented on #28631
@chrmarti What is the GitHub extension?

[2017-06-13 15:08] dan185818 commented on #22037
I would love to have the ability to pull in environment variables to the window.title also.  The reason for this is that I have an administrative account and a regular account. Plus we're in the middle of a domain migration, so I actually end up with 4 accounts I could be using.  I log in with my regular account, which has NO elevated AD permissions.  With the PowerShell ISE, I am able to have the

[2017-06-13 15:08] chrmarti commented on #28631
It's a not yet published example for custom views.

[2017-06-13 15:10] joaomoreno commented on #27562
@chrmarti #21131

[2017-06-13 15:10] chrmarti commented on #28631
I should add: We will polish that to make useful beyond being an example.

[2017-06-13 15:10] #27687 closed

[2017-06-13 15:12] joaomoreno commented on #27849
If there's a beef with extension recommendations, which I do share, it should be fixed contextually on the extensions viewlet, not in a global affordance.

[2017-06-13 15:13] joaomoreno commented on #27859
#14582

[2017-06-13 15:13] #27859 closed

[2017-06-13 15:14] joaomoreno commented on #27834
#3918

[2017-06-13 15:14] #27834 closed

[2017-06-13 15:14] Eiskis opened #28633 "Streamline keybindings.json editor split view"
- VSCode Version: 1.13
- OS Version: macOS Sierra

Editing user preferences is very nice in VS Code. It has a split panel view inside the editor tab with search and more fine grained tabs to select which settings are being edited (user vs. workspace settings). Here's how it looks like:

![screen shot 2017-06-13 at 16 56 35](https://user-images.githubusercontent.com/1101002/27088919-4de7f04c-5059-1

[2017-06-13 15:15] bpasero commented on #27214
I surely think this is a Hyper.js issue, I cannot reproduce on my Windows. You should report this to them.

Does it reproduce from a normal Windows command line prompt?

[2017-06-13 15:15] bpasero commented on #28515
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-06-13 15:15] joaomoreno commented on #27828
We don't support git from Linux subsystem yet. #13138

[2017-06-13 15:15] #27828 closed

[2017-06-13 15:15] joaomoreno commented on #28315
#13138

[2017-06-13 15:15] #28315 closed

[2017-06-13 15:17] eamodio commented on #28631
Is it in a public repo at this point? Would love to take a look at it as I'm working on custom views for GitLens :)

[2017-06-13 15:18] bpasero commented on #28406
@HankB is that a folder with lots of files you are opening?

[2017-06-13 15:18] 1st commented on #28511
Hello @alexandrudima. You are totally right.

As you mentioned above - I've attached an animated screenshot of VS Code, but was sure that it's a Sublime Text. My mistake :-)

I had a bug locally that minimap didn't appear, and I guessed that the scroll bar that shows different colors (red, green) - is a minimap. I checked in settings and found that minimap is enabled, but in my huge opened files i

[2017-06-13 15:19] bpasero commented on #28398
@chenxizhang can you run "code --verbose <path to that folder>" from the command line and see what output is produced?

[2017-06-13 15:20] 1st commented on #28511
Can I somehow add plus one to your rating? I like what you did answering my question. Just let me know where to press +1

[2017-06-13 15:20] ramya-rao-a commented on #28356
Found the duplicate #16363

[2017-06-13 15:21] ramya-rao-a commented on #28340
@areijngoudt No problem, Happy Coding!

[2017-06-13 15:22] bpasero commented on #28497
@chrmarti assigning to you, maybe something is going wrong in the `findBestWindowOrFolder` call that you added?

[2017-06-13 15:22] ramya-rao-a commented on #28472
In that case, this is a duplicate of #28093
The fix is available in Insiders

[2017-06-13 15:22] #28472 closed

[2017-06-13 15:25] dineshrajan commented on #27286
Want to add one more;
If explorer have 100's of files, scrolling down to find the right one is painful. Will be great if we can type in the file or first few chars and explorer will scroll down to the right file

[2017-06-13 15:25] eamodio opened #28634 "Allow for a `inline` group on a custom view item to show on hover -- like the search close x"
- VSCode Version: Code - Insiders 1.14.0-insider (bbcd10ae1a959c1681469533321fa418da7cd9db, 2017-06-13T05:13:35.880Z)
- OS Version: Windows_NT ia32 10.0.16215
---

We can add items to the `navigation` group to the `view/title` of a custom view, but it would be great if we could also add them to the `view/item/context` as well. Similar to the behavior with the close button on the search results.

[2017-06-13 15:25] sandy081 commented on #28463
Yeah there is a plan to add heading to left hand side explaining how to edit the settings. Also I see users hard to find the edit icon on the gutter area.  May be we can make edit icon of the first setting to be visible when user open settings for discoverability

[2017-06-13 15:29] Kwpolska commented on #28463
Just saying something like

    // To change a setting, click the pencil icon on its left side.

in user’s `settings.json` would help a lot.

[2017-06-13 15:31] #28107 closed

[2017-06-13 15:32] jontro commented on #17552
In addition to this it would be great if all saved files will be closed automatically even if you press cancel

[2017-06-13 15:42] brandondrew commented on #20893
@mjbvz

_How_, exactly?  Judging by the boatloads of issues filed that are similar to this one, it seems that:

1. This is a major problem with VS Code, and
2. people have not been given the tools they need to have to be able to identify the source of the problem.

In other issues I saw a pattern of people saying things like "I disabled X and restarted and the problem went away" only to later come

[2017-06-13 15:44] bobbrow commented on #28400
Our word definition?  Do you mean the C++ grammar?  I can go take a look and see if something changed there.  What's strange is that we get a textDocument/completion event from VS Code only once the `;` is typed.  It's not a continuation of the previous word/symbol.

[2017-06-13 15:45] isidorn commented on #27849
Actually @sandy081 was mentioning that he is working on introducing a split view to the extensions viewlet to show recommendations more prominenently

[2017-06-13 15:45] #27849 closed

[2017-06-13 15:47] bpasero commented on #28622
@dbaeumer is your quick open handler a real `QuickOpenHandler` or using the simple picker API? If you are a real handler you could use the following trick:

[code]

Basically by returning `false` from the `run` method, quick open will stay open so that you can close it via the service (this will not trigger a focus change).

If you are using the picker API, you cannot do this at the moment.

[2017-06-13 15:52] youurayy commented on #28441
@bpasero is there a suggested way to record a screencast on Windows 10?

I've tried to disable `editor.renderIndentGuides` and it feels a bit snappier although the CPU graphs don't support that. I'll see if I can come back with more info.

[2017-06-13 15:52] warpdesign opened #28635 "[Terminal - Windows] Ctrl+c doesn't work"
- VSCode Version: Insiders bbcd10...
- OS Version: Windows 10 (Insiders)

Steps to Reproduce:

1. Open a new integrated terminal
2. Type "node" to run nodejs
3. Type `ctrl + c` (several times)

What happens?
Nothing

What should happen?
The first time `ctrl + c` is pressed, nodejs should print out `(To exit, press ^C again or type .exit)` and the second time it is pressed, it should exit nodejs.

[2017-06-13 15:53] leepfrog commented on #28327
Observing this same behavior on typescript files

[2017-06-13 15:55] shanalikhan commented on #12764
Yes i also want this feature to install from API.
As there is nothing like this that is why i have written own way to get the older version of extension from marketplace for `Settings Sync`. I will use CLI or API to download the extension once this feature gets implemented !

[2017-06-13 16:04] redapplewithleaves opened #28636 "On highlight/select text - cannot unhighlight/deselect text on click - need to do ESC"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|git-easy|bibhasdn|1.9.1|
|file-icons|file-icons|1.0.3|
|auto-close-tag|formulahendry|0.4.2|
|auto-rename-tag|formulahendry|0.0.12|
|minify|HookyQR|0.3.0|
|Angular2|johnpapa|2.3.2|
|vscode-github|KnisterPet

[2017-06-13 16:07] dradickLRE opened #28637 "Go To Definition and Breakpoints"
vscode version: 1.13.0
I am currently working in a PHP environment on Windows 7.

When I use any action to "Go To Definition" the editor now opens up a new tab even when the definition is within the same file. In this duplicated file that has navigated to the definition, I am not able to add a breakpoint for debugging. The only way to put a breakpoint in place is to go back to the original tab for

[2017-06-13 16:11] bluejekyll opened #28638 "Integrated terminal redraws $PS1 repeatedly while typing"
- VSCode Version: 1.13
- OS Version: macOS 10.12.5, Ubuntu 14.04.5 LTS

Other env config:
- Shell: zsh
- Shell manager: oh-my-zsh + powerlevel9k

Steps to Reproduce:

1. I have left and right side zsh utilities in place
2. An extra path is added after the $PS1 when not typing
2.a this is a copy of the displayed path
2.b only the last two dir paths are displayed, these are duplicated in the shell w

[2017-06-13 16:15] davidmaxwaterman commented on #13138
@cfjedimaster @kheiakiyama you might find some success moving your development somewhere under /mnt/c, but be aware that there are caviats; notably, all files are root.root and no such thing as symbolic links.

[2017-06-13 16:17] mavidser commented on #28327
It's not just indentation. It reformats the file to some defaults it sees fit. a=b;c=d; gets spit into multiple lines on saving. Also, replicated this issue in HTML files.

[2017-06-13 16:20] jrieken commented on #27595
We should because it makes us look really stupid on windows. Any reason to backlog-off this?

[2017-06-13 16:22] StephenBloomquist opened #28639 "Callstack not correct when exiting a function to top-most frame."
- VSCode Version: 1.13.0
- OS Version: Window 10 Enterprise 1607
- Debugger: One I've written and maintain for work which allows Typescript debugging through Duktape.

Steps to Reproduce:
1. Step out or otherwise leave a function that would take you to the top-most level on the callstack.

After fixing my debugger to work with the 2 callstack requests (which isn't quite so straight forward in my c

[2017-06-13 16:23] jrieken commented on #28400
No, not the grammar but the [`wordPattern`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2894) extensions either define via an API call or via the language-config file

[2017-06-13 16:27] jrieken commented on #28400
Actually, this doesn't repro for me... @yurriy Please provide more details

![jun-13-2017 18-26-41](https://user-images.githubusercontent.com/1794099/27093146-e74f0962-5065-11e7-8662-899f4c0d781f.gif)

[2017-06-13 16:31] #27347 closed

[2017-06-13 16:31] DarrenDaGH opened #28640 "Cannot open folder in a OneDrive for Business path"
- VSCode Version: 1.13.0
- OS Version: Windows 10 16215.1000

Steps to Reproduce:

1. Open VS Code and choose Open Folder
2. Select a path that is hosted in a One Drive for Business account
3. Click open folder

Expect:
Folder to open

Actual:
VS Code reports "The path '[One Drive for Business Path]' does not seem to exist anymore on disk."

[2017-06-13 16:32] bpasero commented on #28441
@youurayy are you on a 4k monitor maybe?

[2017-06-13 16:33] bobbrow commented on #28400
We don't set a LanguageConfiguration anywhere in our extension.  I honestly didn't know such a thing existed.

[2017-06-13 16:39] fasa123 commented on #28330
Since it occurs so randomly I cannot tell exactly how it happens. But mostly it is as follows:

1. Open folder in vscode

[2017-06-13 16:39] fasa123 commented on #28330
Since it occurs so randomly I cannot tell exactly how it happens. But mostly it is as follows:

1. Open file in vscode
2. Enter insert mode
3. Type

[2017-06-13 16:44] tbsvttr commented on #28590
Hope this is fixed soon. Very annoying at work.

[2017-06-13 16:44] bpasero commented on #28526
After talking to @jrieken today there are some ideas what to do with our current `rootPath` extension API

**Set rootPath to master**
In this case, `workspace.rootPath` always has the value of the folder that was opened that carries the `additionalFolders` setting. This would require a minimal amount of work because multi-root always requires a folder to be opened to begin with. The disadvantage o

[2017-06-13 16:45] bpasero commented on #28526
I am personally in favour of setting `rootPath` to `null` when opening more than one folder. This was already outlined as proposal in @Tyriar and mine document about multi root support.

[2017-06-13 16:51] richarddavenport commented on #20893
I agree with @brandondrew, I have high cpu usage on insiders frequently and the last couple of builds have been so bad I have moved back to the stable build. I use the same extensions for both builds, and it's fine in stable but not in insiders. If the process could be easier to identify, then these problems would (more than likely) be resolved at a much quicker pace.

[2017-06-13 17:00] SachinMaharana commented on #28638
I am also facing the exact same issue(Using oh-my-zsh as well + agnoster theme). Image attached.
![deepinscreenshot20170613222913](https://user-images.githubusercontent.com/8871040/27094480-ce083858-5087-11e7-90ee-8a171db5822a.png)

[2017-06-13 17:04] ramya-rao-a commented on #28510
@1st, Ah sorry, I somehow missed the "extension" part of your issue description.

cc @Tyriar and @bpasero for more on multi root workspace and how that can help and how the Project Manager extension fits into all this.

[2017-06-13 17:07] buszito opened #28641 "[BUG] Enviroment icon render"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|crane|HvyIndustries|0.3.6|
|Angular-BeastCode|Mikael|4.2.11|
|material-icon-theme|PKief|2.0.9|
|php-autocomplete|bschulte|0.4.2|
|gitignore|codezombiech|0.5.0|
|vscode-html-css|ecmel|0.1.6|
|php-debug|felixfbecke

[2017-06-13 17:12] matteo-merzi opened #28642 "Terminal autocompletion prints twice when using emojis in $PS1"
Autocompletion prints folder or file name twice when using emojis in $PS1. At the beginning of the line and where it is supposed to (the end).
Same settings works fine on macOS terminal app.

- VSCode Version: 1.13.0
- OS Version: macOS 10.12.5

Steps to Reproduce:

1. add one emoji to your PS1 variable.
This is my .bash_profile settings:
export PS1="😡 [\W]$ "

2.
(from home folder) cd Desk and th

[2017-06-13 17:12] Triztian commented on #28365
The docs should be updated to reflect that update.

 * https://code.visualstudio.com/Docs/editor/tasks#_variable-substitution

[2017-06-13 17:13] ramya-rao-a commented on #28433
@DigiAngel I have commented on the linked issue in the cpptools repo https://github.com/Microsoft/vscode-cpptools/issues/811#issuecomment-308185399

[2017-06-13 17:15] ramya-rao-a commented on #28613
This is being tracked in #28365
Please follow the workaround in https://github.com/Microsoft/vscode/issues/28365#issuecomment-308038693

[2017-06-13 17:15] #28613 closed

[2017-06-13 17:16] DanTup commented on #28500
@isidorn No worries; I figured it was worth you having the info even if you don't do anything with it for now (never hurts to have an idea of what people might want). My request is pretty minor tbh, the debugger just provides this info so I thought I'd look whether I could surface it anywhere.

[2017-06-13 17:16] Tyriar commented on #28510
Hi @1st, we do not want to ship a "real" project manager within VS Code right for a few reasons:

- There are multiple approaches to project management ([example 1](https://marketplace.visualstudio.com/items?itemName=alefragnani.project-manager), [example 2](https://marketplace.visualstudio.com/items?itemName=felipecaputo.git-project-manager)) and extensions cover these cases well right now.
- Whe

[2017-06-13 17:16] #28510 closed

[2017-06-13 17:17] mjbvz commented on #20235
Thanks. Sorry for the lack of follow up on this issue but glad everything now seems to be working

[2017-06-13 17:17] #20235 closed

[2017-06-13 17:17] tomliv commented on #23206
This is a pretty bad issue for me where I work. To the point of switching back to Atom. I have used the work around of changing the file associations of PHP files to HTML (click the file type in the lower right-hand corner of the window, click "Configure File Association for '.php'...", select HTML)  but this disables syntax coloring of PHP code in the files (but colors the HTML).

Hope this is ge

[2017-06-13 17:17] ramya-rao-a commented on #28611
Thanks @CherryDT, that's right

[2017-06-13 17:17] #28611 closed

[2017-06-13 17:20] ramya-rao-a commented on #28608
This is being tracked in #28345
The fix is in Insiders and the recovery build for 1.13 will have the fix as well

cc @bpasero

[2017-06-13 17:20] #28608 closed

[2017-06-13 17:23] mjbvz commented on #28583
What library is `@observable` coming from? `mobx`?

[2017-06-13 17:25] ramya-rao-a commented on #28575
@jrieken Would this be the extension or us?

HoverProvider shouldnt be triggered at all in comments right?

[2017-06-13 17:27] roblourens commented on #28518
Any way you can share the text of the file? I can't reproduce.

[2017-06-13 17:29] ramya-rao-a commented on #28577
@CherryDT is right. Thanks @CherryDT !

@Cliwo You can read more about this preview mode here: https://code.visualstudio.com/docs/getstarted/userinterface#_preview-mode

There is also an option in the docs linked above to disable the preview mode

[2017-06-13 17:29] #28577 closed

[2017-06-13 17:32] chrmarti commented on #28631
It's here: https://github.com/chrmarti/vscode-githubissues. I'll move it to Microsoft's account before we publish the extension.

Let us know what you have in mind for GitLens. @rebornix is working on another extension adding a few Git-specific views.

[2017-06-13 17:34] mjbvz opened #28643 "Adopt TS 2.4 For VS Code Build"
Adopt TS 2.4 for building VS Code

[2017-06-13 17:34] flaviut opened #28644 "tsserver should be restarted upon crash"
- VSCode Version: 1.13.0
- OS Version: Debian Jessie

Sometimes the typescript server will run out of memory and die, which will break all the stuff that vscode uses it for. It would be nice if vscode automatically restarted the server when that happens.

[2017-06-13 17:35] patrys opened #28645 "Separate DocumentSymbolProvider structure semantics from type semantics"
Currently the symbol kind mixes structure and type. Some things could be multiple things at the same time.

For example there's `variable`, `constant`, `field` and then there's `string`.  The latter could legitimately also represent a variable, a constant or a field. It's not clear which kind to return in which situation. It could be useful to have these become separate fields and separate enums.

[2017-06-13 17:36] MrDesjardins opened #28646 "VsCode not responsive since last update when typing TypeScript code"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Bookmarks|alefragnani|0.15.1|
|bracket-pair-colorizer|CoenraadS|0.10.7|
|tslint|eg2|0.15.0|
|vscode-codemetrics|kisstkondoros|1.7.2|
|debugger-for-chrome|msjsdiag|3.1.3|
|vscode-subword-navigation|ow|1.1

[2017-06-13 17:41] ramya-rao-a commented on #28590
This is being tracked in #28345
The fix is in Insiders and the recovery build for 1.13 will have the fix as well

cc @bpasero

Just to confirm with everyone here. You see this issue when opening VS Code from the terminal and not from a shortcut or the Applications window?

[2017-06-13 17:41] #28590 closed

[2017-06-13 17:42] ramya-rao-a commented on #28588
This is being tracked in #28345
The fix is in Insiders and the recovery build for 1.13 will have the fix as well

cc @bpasero

Just to confirm with everyone here. You see this issue when opening VS Code from the terminal and not from a shortcut or the Applications window?

[2017-06-13 17:42] #28588 closed

[2017-06-13 17:43] AntoineS73 opened #28647 "Slow Launch"
[49b3_main.cpuprofile.txt](https://github.com/Microsoft/vscode/files/1072346/49b3_main.cpuprofile.txt)
[49b3_renderer.cpuprofile.txt](https://github.com/Microsoft/vscode/files/1072347/49b3_renderer.cpuprofile.txt)

- VSCode Version: <code>Code - Insiders 1.14.0-insider (4541e70733f110ada8d0b4266bc922565d74950a, 2017-06-09T05:13:40.587Z)</code>
- OS Version: <code>Windows_NT ia32 10.0.14393</code>

[2017-06-13 17:44] klis87 commented on #22289
I have related problem with html linting problems in ```node_modules``` directory when using ```IntelliSense for CSS class names``` plugin. When I click button to cache all CSS classes to have intellisense of available CSS classes, this plugin scans all directories to find CSS classes. The problem is, that those scans trigger linter rules for all scanned files. So I always end up with 99+ problems

[2017-06-13 17:45] ramya-rao-a commented on #28574
You can use `Ctr+Alt+Down/Up arrow` to have multi cursor on consecutive lines

Is that what you are looking for?

[2017-06-13 17:48] Tyriar commented on #28571
@CherryDT the previous solution (just dumping the unstyled text) is no longer feasible due to optimizations and features coming into the terminal. The new selection model I've been working on for example assumes everything is on a grid containing only half-width and full width chars.

Reversing the text but still aligning it to the grid as in Terminal.app and ConEmu definitely seems doable though

[2017-06-13 17:48] chrmarti commented on #28497
That code shouldn't depend on the time passed.

@alexandruirimiea when this happens again, could you check if opening from a terminal `code <file path>` behaves the same way?

[2017-06-13 17:48] tomliv commented on #28553
My apologies. I think this is in the wrong place. This is for the caniuse extension. Moving...

[2017-06-13 17:50] Tyriar commented on #28609
Upstream PR for this is out https://github.com/sourcelair/xterm.js/pull/700

[2017-06-13 17:50] tomliv commented on #28553
Nope. Two separate issues. Carry on. Reopening...

[2017-06-13 17:51] aefernandes commented on #28386
Hi @NickolasGame - I'm doing a short user research study on this issue. If you have time today or tomorrow, could you sign up? https://calendly.com/anjfer/vscode/06-13-2017

[2017-06-13 17:52] ramya-rao-a commented on #28581
I cant repro this. The "Wrap with Abbrevation" command works as expected for me.

Can you try again after disabling all extensions and reloading VS Code? This is to ensure that none of the extensions are interfering with emmet.

![image](https://user-images.githubusercontent.com/16890566/27096552-5218c8b8-5026-11e7-8ecb-759aa8bc93e0.png)

[2017-06-13 17:54] ramya-rao-a commented on #28599
Have you tried using the `files.associations` setting?

[2017-06-13 17:54] aefernandes commented on #28045
Hi @DrYSG - I'm doing a short user research study on this issue. If you have time today, tomorrow, or Thursday, could you sign up? https://calendly.com/anjfer/vscode/06-13-2017

[2017-06-13 17:55] jdidion opened #28648 "Support curly braces for defining "chunk options" in fenced code blocks of markdown documents"
Rmarkdown (http://rmarkdown.rstudio.com/) enables creation of reproducible documents using R. The main deviation of Rmarkdown from CommonMark is the use of curly braces in the header of fenced code blocks to define options related to the rendering of the figure/table described in the chunk. It would be nice if VS Code does proper syntax highlighting of code blocks in Rmarkdown documents.

- VSCode

[2017-06-13 17:55] ramya-rao-a commented on #28601
#2582 is tracking a lot of expected features around binary files. Please add your thoughts there.

[2017-06-13 17:55] #28601 closed

[2017-06-13 17:57] ramya-rao-a commented on #28591
This is tracked in #28390
Please add your input there.

cc @rebornix

[2017-06-13 17:57] #28591 closed

[2017-06-13 17:57] NickolasGame commented on #28386
It be weird to hear but i dont have a telephon number so i cant sign up.

[2017-06-13 17:57] Tyriar commented on #28609
I merged it into our release branch, fix should come tomorrow.

[2017-06-13 17:57] #28609 closed

[2017-06-13 17:58] aefernandes commented on #27960
Hi @mattmcnabb - I am doing a short user research study on this issue. If you have time this week can you sign up? https://calendly.com/anjfer/vscode

[2017-06-13 17:58] patrys opened #28649 "Add DocumentSymbolProvider support for indicating imports"
Currently imported classes, types, constants and so on look like regular variables. It would be useful to either have a separate `SymbolKind` to indicate imports or a separate boolean flag (so a thing can be a function and be imported at the same time).

[2017-06-13 17:58] NickolasGame commented on #28386
Is there other way to considerate about this?

[2017-06-13 17:58] Tyriar commented on #23142
Merged https://github.com/sourcelair/xterm.js/pull/693 into release branch, fix should come in tomorrow's insiders.

[2017-06-13 18:00] mkjsix commented on #28588
Yes, I usually open VSCode from terminal

[2017-06-13 18:01] ramya-rao-a commented on #28616
@angelo-moreira Can you share a screenshot?

`workbench.editor.showIcons` controls the icons on the opened editors only, not the icons in the explorer view.

Which one are you referring to?

[2017-06-13 18:03] Tyriar commented on #27214
I can't reproduce either.

[2017-06-13 18:03] ramya-rao-a commented on #28612
Are there any errors that pop up?
Any errors in the console? You can open the console by running the command `Developer: Toggle Developer Tools`.

Have you used the proxy related settings like `http.proxy` or `http.proxyAuthorization` ?

[2017-06-13 18:05] #23142 closed

[2017-06-13 18:07] ramya-rao-a commented on #28605
Looks like you are debugging a Powershell script.
Debugging support for Powershell comes from the Powershell extension.
Please log this issue in the repo for the Powershell extension you are using.

If they determine that this is a VS Code issue, then we can re-open this issue

[2017-06-13 18:07] #28605 closed

[2017-06-13 18:09] Tyriar commented on #28593
@johnnyreilly could you install 1.12.2 and see if you have the same issue? https://az764295.vo.msecnd.net/stable/19222cdc84ce72202478ba1cec5cb557b71163de/VSCodeSetup-1.12.2.exe

[2017-06-13 18:10] ramya-rao-a commented on #28619
@tonoslav Whe you say "Insider version is the same", do you mean that you see the issue in Insiders as well or Insiders works as expected and is same as before ?

[2017-06-13 18:11] roblourens opened #28650 "Debug viewlet section headers are blank"
![image](https://user-images.githubusercontent.com/323878/27097406-ff5d9da8-5028-11e7-97c7-f7f9335b9098.png)

[2017-06-13 18:11] roblourens commented on #28650
Since yesterday's Insiders

[2017-06-13 18:13] jmoore315 opened #28651 "Rename symbol broken"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|recent-files|junv|1.1.0|
|graphql-for-vscode|kumar-harsh|1.4.1|
|graphql|mquandalle|0.1.2|;

---

Steps to Reproduce:

1. Rename symbol in a block of text (right click -> rename symbol)
2. Enter new name
3. Press

[2017-06-13 18:14] chrmarti commented on #28526
I'd set `rootPath` for old extensions to keep them maximally functional and remove `rootPath` for newer extensions to force a clear cut so extensions do not end up depending on both old and new APIs.

[2017-06-13 18:14] ramya-rao-a commented on #28354
Thanks @ChristianTheMinery

There was a change to the php grammar this time, so may be that caused this.

cc @roblourens

[2017-06-13 18:17] ramya-rao-a commented on #28481
@dbaeumer will do

[2017-06-13 18:18] ramya-rao-a commented on #28417
Closing this issue as the problem was caused by extensions.
Please log an issue in the repo for the extension that is causing this.

[2017-06-13 18:18] #28417 closed

[2017-06-13 18:23] sladiri commented on #13138
@davidmaxwaterman Can you give an example of a problematic NPM package? I have been using node, nom and yarn for short time now, and there were no issues so far.
Sometimes it is necessary to cd to `/c/...` because path translation breaks (symlink `/mnt/c` to `/c`).

[2017-06-13 18:24] johnnyreilly commented on #28593
Sure - I'll give it a go tomorrow and report back

[2017-06-13 18:29] ramya-rao-a commented on #28621
Are there any errors that pop up?
Any errors in the console? You can open the console by running the command `Developer: Toggle Developer Tools`.

[2017-06-13 18:30] Tyriar commented on #28288
Switched to using the proper colors in the official themes.

Old:

![image](https://user-images.githubusercontent.com/2193314/27098155-6f79d258-502b-11e7-831e-3b91aad4d79f.png)

New:

![image](https://user-images.githubusercontent.com/2193314/27098166-7d9202ac-502b-11e7-8591-3a4c1fe91853.png)

![image](https://user-images.githubusercontent.com/2193314/27098204-9c1a5a44-502b-11e7-9f4b-45ee750d5d9b.

[2017-06-13 18:30] Tyriar commented on #28288
Pushed to master and release/1.13.

[2017-06-13 18:31] yfdyh000 opened #28652 "[Req] Export the Extensions list and status, even import"
It seems the list and status of extensions cannot be export at this time, which is not conducive to backup, sync manualy or share to others.

[2017-06-13 18:33] roblourens commented on #28594
#23931

[2017-06-13 18:33] #28594 closed

[2017-06-13 18:33] ramya-rao-a commented on #28623
Which theme are you using?

[2017-06-13 18:38] Tyriar commented on #28629
I can repro in a regular cmd.exe window. It looks like an issue with the test script itself.

[2017-06-13 18:40] ramya-rao-a commented on #28625
Works in the stable and insiders but not in oss-dev

[2017-06-13 18:41] chrisolsen commented on #28621
Here is the error and the stack trace.
[code]

[2017-06-13 18:42] ramya-rao-a commented on #28627
I am guessing you are using an extension for Rust which opens the output tab.
Please open the issue in the repo for the rust extension you are using.

[2017-06-13 18:42] #28627 closed

[2017-06-13 18:44] Alex-302 commented on #28623
Hi
Any default theme. For example `Dark(Visual Studio)`
Highlighting is not overridden by text selection.

![1](https://user-images.githubusercontent.com/8361299/27098729-4ae7f194-5081-11e7-9ce7-0cef41aef8c1.gif)

[2017-06-13 18:46] ramya-rao-a commented on #28636
@redapplewithleaves Do you any kind of codelens on your file?

I can repro this only when clicking on the line occupied by the codelens
Clicking anywhere else removes the selection.

[2017-06-13 18:47] ramya-rao-a commented on #28637
Are you using any extensions for php?

[2017-06-13 18:47] stephenmartindale opened #28653 "Feature: Setting to hide Vertical Scroll-Bar when the Minimap is Visible"
Please can we have a setting to hide the vertical scroll-bar if the very awesome minimap is visible? With the minimap there, the vertical scroll-bar is just a waste of space.

![capture](https://user-images.githubusercontent.com/6370145/27098953-8b684438-5079-11e7-8a59-bc54529b380a.PNG)

It would also be very cool to show the current view-area in the minimap by changing its background colour in th

[2017-06-13 18:48] ramya-rao-a commented on #28638
Closing as duplicate of #26038

cc @Tyriar

[2017-06-13 18:48] #28638 closed

[2017-06-13 18:49] roblourens commented on #28637
Can you file this on the repo for the PHP extension that you're using?

[2017-06-13 18:49] #28637 closed

[2017-06-13 18:50] CViniciusSDias commented on #28518
Another print:

![image](https://user-images.githubusercontent.com/6991415/27099007-d849bf86-504f-11e7-8e42-20a6703262a4.png)

File content:

[code]

[2017-06-13 18:52] ramya-rao-a commented on #28640
This is being tracked in #28398

Please add your input to https://github.com/Microsoft/vscode/issues/28398#issuecomment-308151757

[2017-06-13 18:52] #28640 closed

[2017-06-13 18:53] ramya-rao-a commented on #28641
This is being tracked in #28345
The fix is in Insiders and the recovery build for 1.13 will have the fix as well

cc @bpasero

[2017-06-13 18:53] #28641 closed

[2017-06-13 18:54] donaldpipowitch commented on #28588
Me, too.

[2017-06-13 18:54] ramya-rao-a commented on #28642
This is being tracked in #26038
The fix is in Insiders and the recovery build for 1.13 will have the fix as well

cc @Tyriar

[2017-06-13 18:54] #28642 closed

[2017-06-13 18:55] Danieleeee commented on #28612
I set the proxy settings.
There are no errors.

[2017-06-13 18:56] ramya-rao-a commented on #28649
Let's track this in #28592

[2017-06-13 18:56] #28649 closed

[2017-06-13 18:57] ramya-rao-a commented on #28592
From @patrys in https://github.com/Microsoft/vscode/issues/28649#issue-235637569

[2017-06-13 18:58] Tyriar commented on #28635
This has been a long standing issue I believe related to winpty. Currently tracked upstream in https://github.com/Tyriar/node-pty/issues/7

@rprichard could this have something to do with the processes not dying when ctrl+c is pressed, similar to https://github.com/Microsoft/vscode/issues/26807?

[2017-06-13 18:59] mbeatrizmagalhaes commented on #27588
@sandy081 I've submitted a PR: https://github.com/Microsoft/vscode/pull/28569
Thanks

[2017-06-13 19:01] mjbvz commented on #28624
Looks like we don't understand `{@link ...}` inline blocks. I've opened https://github.com/Microsoft/TypeScript/issues/16498 to track this upstream

[2017-06-13 19:05] moisesmorillo commented on #15539
Please include in next release :D

[2017-06-13 19:08] ramya-rao-a commented on #28652
cc @sandy081

[2017-06-13 19:08] TurboTim commented on #28365
Thanks!

[2017-06-13 19:11] ramya-rao-a commented on #27891
@webCoderJ If you can no longer repro this issue, then we will go ahead and close it.

[2017-06-13 19:11] #27891 closed

[2017-06-13 19:14] pieandcakes commented on #22388
We also have an issue in the C++ extension where the users stop at some library code that the debugger "knows" the source path for but the user doesn't have that source on the computer. Our users would like a way to turn off notification for these files and I think a per file/filepath or per session method would be helpful.

[2017-06-13 19:19] eamodio commented on #28631
I'm still experimenting at this point, but thinking about a few different options (maybe 2 views).

Here is a peek at one idea
![image](https://user-images.githubusercontent.com/641685/27100311-a53a2490-504b-11e7-98b7-effbaa2a6d13.png)

[2017-06-13 19:20] ramya-rao-a commented on #28085
That's interesting. In your explorer you have "Working Files" where as I always see "Open editors" in that place.

Can you update to the latest version of VS Code (1.13) and share with us what you see?

[2017-06-13 19:20] deadlydog opened #28655 "Cannot have multiple instances of VS Code when running as admin"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|gitignore|codezombiech|0.5.0|
|vscode-markdownlint|DavidAnson|0.9.1|
|githistory|donjayamanne|0.2.0|
|xml|DotJoshJohnson|1.8.0|
|json-tools|eriklynd|1.0.2|
|git-project-manager|felipecaputo|1.3.2|
|mssql

[2017-06-13 19:37] angelo-moreira commented on #28616
Sorry I wasn't aware of the difference I wanted to disable the icons on the explorer, I cannot send screen shot since I have a mac at home, I can however send a screen shot tomorrow in the ubuntu machine that I use at work.

[2017-06-13 19:41] adamvoss commented on #9418
[`Ctrl+Shift+O`](https://code.visualstudio.com/docs/editor/editingevolved#_go-to-symbol) is a bit closer to the functionality your are looking for, but does not have the UI fixture you've requested.

[2017-06-13 19:41] nlxdodge commented on #28518
`<style>
        <?php echo isset($oPage) ? $oPage->GetCss() : null ?>
    </style>`

![codeerrorstyle](https://user-images.githubusercontent.com/8994983/27101090-a5a2cbf0-5080-11e7-9c4b-df537a35b4e3.png)

Same issue:
![version](https://user-images.githubusercontent.com/8994983/27101138-c7c5cb92-5080-11e7-9395-084e358cb3f5.PNG)

Disabled extensions to be sure, same effect.

[2017-06-13 19:42] sean-mcmanus commented on #28400
@jrieken Bob and I have both reproed the bug where the quickSuggestion popup occurs after the semicolon, but the repro appears appears to be random (timing related?) and we don't yet know a good way to force a repro.

[2017-06-13 19:42] 1st commented on #28510
Hello @Tyriar.

In the #396 I found nothing interesting about support of projects. It's about opening two or more folders from different locations.

I don't know how do you work at Microsoft and which ideologies do you use, but please read my thoughts about this topic. I was working for a long time in software development as a web developer, starting from startups and ending Google. I found it's a

[2017-06-13 19:43] adamvoss commented on #23520
Regarding the UI element mentioned in the original post, #9418 is a related issue.

[2017-06-13 19:44] KoltonG opened #28656 "ZSH Terminal Bug in VS Code"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|material-icon-theme|PKief|2.0.9|
|vscode-wakatime|WakaTime|1.1.10|
|vscode-theme-onedark|akamud|2.0.2|
|vscode-eslint|dbaeumer|1.2.11|
|sass-lint|glen-84|0.0.4|
|name-that-color|guillaumedoutriaux|0.1.2|
|mssql|m

[2017-06-13 19:44] mjbvz commented on #28651
Can you please provide a code example of the symbol you are trying to rename

[2017-06-13 19:47] rebornix opened #28657 "Polish Git extension"
Leverage the diff view and custom tree view to visualize commits, stashes and content changes.

## View commits, stashes, pull requests
![viewcommits-stashes](https://user-images.githubusercontent.com/876920/27101337-3aa00448-5036-11e7-9b89-ade63f099e14.gif)

## View content changes in commits/stashes
![viewcontentchange](https://user-images.githubusercontent.com/876920/27101374-5eb4ba90-5036-11e7

[2017-06-13 19:48] mjbvz commented on #28644
If the server is truly crashing, rather than just hanging, we should already restart it automatically.

Can you take look at the TSServer trace to see what is going on:

1. Set `"typescript.tsserver.trace": "messages"`
2. Reproduce the issue
3. Open the output panel and look at the `TypeScript` section. This should log the communications with the TS Server, along with when the server is restarted

[2017-06-13 19:51] rebornix commented on #28631
@eamodio I'm really happy to see we share the same thoughts, you can take a look at https://github.com/Microsoft/vscode/issues/28657 and see where I have gone. I'm going to open source the repo and publish the ext in one day or two.

Do you think it's a good idea to join forces as the list/diff part is the same :)

[2017-06-13 19:52] davidmaxwaterman commented on #13138
@sladiri it's not packages, per se, that are the problem, but using npm itself - eg the whole `npm link` mechanism, and, similarly for `bower link`. If I do this inside WSL, and then try to use vscode outside, then it completely fails on the linked code, causing errors and lost functionality because it thinks the code isn't there.

[2017-06-13 19:52] DHedgecock commented on #9049
Could this be used to create an extension allowing for full page results? This editor is so awesome, but the current find results showing in the sidebar is difficult to use in my opinion. I'd like to make an extension for executing a search and opening the results in an editor (similar to Atom search flow).

Excited to see this land!

[2017-06-13 19:53] rprichard commented on #28635
No, those two issues aren't likely to be related.

It could be related to this upstream winpty issue, https://github.com/rprichard/winpty/issues/116.  For now, I'm considering it a limitation.  The master branch in winpty has a change that improved Ctrl-C handling in new versions of PowerShell (e.g. Windows 10, not Windows 7).  Maybe it'd also improve node.js?

However, I just tested winpty+node,

[2017-06-13 19:54] mjbvz commented on #28648
There are two parts to this:

* Syntax highlighting of the codeblock in the editor
* Correct rendering of the fenced code block in the markdown preview

I believe that both components should come from an extension rather than the core markdown extension.

For the syntax highlighting, take a look at https://github.com/mjbvz/vscode-fenced-code-block-grammar-injection-example

For the preview renderi

[2017-06-13 19:56] youurayy commented on #28441
@bpasero yes!

[2017-06-13 19:56] rebornix opened #28658 "Improve indentation of lines"
Auto indent support for type, move lines and copy/paste

## Type
![defend](https://user-images.githubusercontent.com/876920/27101677-91c87e5c-5037-11e7-9a0c-29085de8641e.gif)

## Move Lines
![movelines](https://user-images.githubusercontent.com/876920/27101691-a28ebb3e-5037-11e7-9721-4bf2adf4530a.gif)

## Copy Paste
![copypaste](https://user-images.githubusercontent.com/876920/27101744-c6b7feb2-50

[2017-06-13 19:57] CherryDT commented on #13138
I think you are talking about WSL symlinks working differently than Windows symlinks and/or junction points.

For reference, the relevant issues are:
https://github.com/Microsoft/BashOnWindows/issues/353
https://github.com/Microsoft/BashOnWindows/issues/559
https://github.com/Microsoft/BashOnWindows/issues/1475

[2017-06-13 19:58] blitzd commented on #28656
Same issue, and it jumps to only showing it once when you're typing - but then back to twice when you stop.

[2017-06-13 20:00] kutsokon commented on #28439
@alexandrudima @burknator Yes, actually I've been using it, so now I set it "window.zoomLevel": 0 and it fixes my problem. I think it's still an issue for people who uses "window.zoomLevel": 0, but I close this topic

[2017-06-13 20:00] Tyriar commented on #28510
#396 is adding support for this.

For multiple folder settings there is an open discussion on #396. Settings can be stored in user data for user-specific settings (we may allow path-based user settings in the future) and workspace settings.

Extensions are free to store this where they feel is best: in ram only, in user data (we expose an API to allow storing in a key-value store there), somewhere

[2017-06-13 20:04] eamodio commented on #28631
Doh -- so I have 1 or 2 days to get this out first? ;) j/k

I would definitely be interested in joining forces (not sure what that looks like at this point though) -- As your PR list was something I wanted to tackle as well.

I have a slack for GitLens https://join.slack.com/vscode-gitlens/shared_invite/MTk0NjA3OTIwNTE3LTE0OTY4OTc3NzQtMWQxODFhZWMyMA (link is good for ~24days) and would love to tal

[2017-06-13 20:04] dbaeumer commented on #28365
@gregvanl can you please update the doc for 1.13. This slipped through my cracks. The debug documentation might need some updating as well.

[2017-06-13 20:04] redapplewithleaves commented on #28636
I haven't used code lens. Not quite sure its on...

Here is a screencast -> Each time the cursor change, I'm clicking on the the mouse. It takes about 7 or 8 times to clear the select.
![2017-06-13](https://user-images.githubusercontent.com/9419314/27102023-a765127e-5038-11e7-8ebf-44978320dc5a.gif)

[2017-06-13 20:04] rprichard commented on #28635
I installed node 8.1.0, and it also worked fine.  In Cygwin64's mintty:

[code]

It also worked fine in VSCode.

[2017-06-13 20:05] CViniciusSDias commented on #28518
I have no installed extentsions:

![image](https://user-images.githubusercontent.com/6991415/27102111-7cdea160-505a-11e7-80db-a4b471210db0.png)

[2017-06-13 20:06] dbaeumer commented on #28629
It does print for me in PowerShell and PowerShell in Hyper.js but not in powershell in the terminal. So it does look like a terminal problem to me at least for PowerShell.

[2017-06-13 20:09] dbaeumer commented on #28629
![cast](https://user-images.githubusercontent.com/1931590/27102278-ebd34092-5084-11e7-966f-54e80f11b11e.gif)

[2017-06-13 20:10] MashMathias commented on #28599
I tried to add following to the settings without success:

// Place your settings in this file to overwrite the default settings
{

    "files.associations": {
        "*.hta": "http"
    }

}

[2017-06-13 20:11] dbaeumer commented on #28629
![cast](https://user-images.githubusercontent.com/1931590/27102353-2f11c5a4-5085-11e7-846a-ce7bc8a05129.gif)

[2017-06-13 20:11] roblourens commented on #28518
The problem seems to be with php tags nested inside tags that would get other styles, ie script or style. There are a few issues around this, I'll collect them into one...

[2017-06-13 20:14] TheCodeGnome commented on #28010
Still seeing the issue in the latest Insider.
![image](https://user-images.githubusercontent.com/15162807/27102414-2ac60f1e-5053-11e7-8449-b0fe718eb9c7.png)

Can you confirm whether it should be fixed there?
![image](https://user-images.githubusercontent.com/15162807/27102397-202e74ce-5053-11e7-8ef4-94df90bfc1a0.png)

[2017-06-13 20:28] waderyan commented on #27343
Ok. This is repeating for me. You can see the application flash in the foreground and then go to the background.

![novscodeinforeground](https://user-images.githubusercontent.com/2449568/27103003-1b9aace6-503c-11e7-8c09-80a8ee79ff60.gif)

[2017-06-13 20:30] CherryDT commented on #28656
Yet another duplicate of #26038
The fix will be out soon, it's already done.

[2017-06-13 20:31] davidpaulhunt opened #28659 "Opening a file often opens jsconfig.json for no apparent reason"
- VSCode Version: 1.14.0-insider (1.14.0-insider)
- OS Version: macOS Sierra 10.12.2

Steps to Reproduce:

1. Open a file in your project directory
2. Move your mouse over to the workspace
3. `jsconfig.json` pops open
4. Close `jsconfig.json`
5. Repeat

![vscodeconfigpop](https://user-images.githubusercontent.com/6889054/27103165-c362f88e-5055-11e7-91f7-eb9fc4b9305a.gif)

[2017-06-13 20:34] DanTup commented on #28175
@isidorn Just a thought - in the case where the `launch.json` *did* change, isn't this still going to fail? The config will be passed through without going through the `startSessionCommand`? It's not going to happen much (so I'm not too concerned), but it seems like when it does work the behaviour is still not going to be correct?

[2017-06-13 20:35] jeopal opened #28660 "[powershell] Color scheme doesn't update after warning resolution."
- VSCode Version: 1.12.2
- OS Version: Windows 10 Enterprise: 10.0.15063 Build 15063

Steps to Reproduce:

1. PS Script Analyzer warning is flagged
2. Click the light bulb and use the auto-resolution
3. (in this example) "where" is changed to "Where-Object" but "Object" is not updated to have the function color scheme.

Screenshots below:

![1 syntaxwarning](https://user-images.githubusercontent.c

[2017-06-13 20:42] chase opened #28661 "When using --wait and a file is passed, close the window when last tabs closes"
I use `code-insiders -w` as my `EDITOR` within Git Bash and I think it would be a nice default to assume that in wait mode that the last editor closed should close the window as well.

This can probably be done using key settings and a certain condition.

- VSCode Version: 1.13.0-insider

[2017-06-13 20:43] jens1o commented on #27367
`Ctrl + Shift + H`, but this is user defined.

[2017-06-13 20:44] CherryDT commented on #28630
+1, I had the same issue recently. I got a `"," expected` error all the time, on the second line of an object. Interestingly, moving the code around moved the error around as well, but it wouldn't go away even though there was no reason for it to be there and the code ran fine. Only reopening the file fixed it.

[2017-06-13 20:44] sandy081 opened #28662 "Support custom views in other locations"
Support custom views in other locations

- [x] Debug

[2017-06-13 20:46] sandy081 opened #28663 "Support sections in Extensions viewlet"
Support sections in Extensions viewlet
- Recommended
- Installed

[2017-06-13 20:51] davidmaxwaterman commented on #13138
Well, I don't know about 'differently' - I'd say 'not at all' :) - but, yeah.

[2017-06-13 20:51] warpdesign commented on #28635
I am using node 7.0.0, and the standard cmd.exe (no powershell or bash but I have the same problem from vscode/bash).

[2017-06-13 20:54] CherryDT commented on #13138
WSL symlinks work in WSL but not in Windows, Windows symlinks work in Windows but not in WSL, that's what I meant.

[2017-06-13 20:55] freMea commented on #23520
Another extension that handle bookmarks among many other productive features: [metaGO](https://marketplace.visualstudio.com/items?itemName=metaseed.metago)

[2017-06-13 21:02] jmoore315 commented on #28651
Update:
was going to add a code sample, but then I tested copying a file where rename was not working, and renaming works in the copied file. This behavior occurs for all files I've tried (attempting to rename a symbol in the original file results in the above error, but renaming works in the copied file

Not sure how vs code stores indexes of files, but maybe my indexes have been corrupted

[2017-06-13 21:03] rafay opened #28664 "VS-Code error"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:43:13.058Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|project-manager|alefragnani|0.18.0|
|ng-template|Angular|0.1.3|
|path-intellisense|christian-kohler|1.4.2|
|gitignore|codezombiech|0.5.0|
|vscode-simpler-icons|davidbabel|1

[2017-06-13 21:07] MartinHaeusler commented on #28592
This would be a really neat feature. There are two types of imports that I can think of right now:

    const myImport = require('....')

and the ES6 syntax

    import {A, B} from '...'

Distinguishing imports from variable and constant declarations would allow editor views to filter out one or the other and/or display them in different ways.

[2017-06-13 21:09] MartinHaeusler commented on #28645
All I can say to this is:
+1

[2017-06-13 21:12] therealkenc commented on #13138
Which are, for anyone counting, different than (default) symlinks in Cygwin / MSYS2 / Git Shell, and different than symlinks in Windows NFS client mounts. And different than directory junction points. Due to, reasons.

[2017-06-13 21:13] mjbvz commented on #28659
I'm unable to reproduce this. Do you have any extensions installed that could be causing this? Can you try starting code with the `--disable-extensions` command line flag to check?

[2017-06-13 21:14] chenxizhang commented on #28398
@bpasero

[93m[main 5:12:21 AM][0m Starting VS Code in verbose mode
[93m[main 5:12:21 AM][0m from: c:\Program Files (x86)\Microsoft VS Code\resources\app
[93m[main 5:12:21 AM][0m args: { _: [],
  help: false,
  h: false,
  version: false,
  v: false,
  wait: false,
  w: false,
  diff: false,
  d: false,
  goto: false,
  g: false,
  'new-window': false,
  n: false,
  'unity-launch': false,

[2017-06-13 21:15] mjbvz commented on #28651
If you have having trouble putting together a minimal example,  also try looking at the logs:

1. Set `"typescript.tsserver.trace": "verbose"`
2. Reproduce the issue
3. Open the output panel and look at the `TypeScript` section.  Look for error messages around the `rename` event

[2017-06-13 21:18] davidmaxwaterman commented on #13138
I'm led to believe that a solution to walk links not working in Windows is being worked on, right?

[2017-06-13 21:23] Montago commented on #12764
Kind of related...

I updated VSCode a few days ago and apparantly Microsoft chose to reset all settings - including AUTO UPDATE Extensions !!

I'm guessing a lot of people didn't notice like me, until it was too late..

so AGAIN i had to manually downgrade an extension 😢

[2017-06-13 21:24] zackkitzmiller commented on #12764
Yup. All extensions upgraded. Broke a few things for me.
On Tue, Jun 13, 2017 at 17:23 Montago <notifications@github.com> wrote:

[2017-06-13 21:28] roblourens commented on #28342
It should... is the file the active editor when you run the search? Is there anything in the "files to include" box that might not include an unsaved file? Does it happen 100% of the time?

[2017-06-13 21:31] mjbvz commented on #28618
I'm able to reproduce this by opening and closing the dev tools quickly, but I don't think that one is TS specific. Here's a crash while working in a small json file: [crash.txt](https://github.com/Microsoft/vscode/files/1072931/crash.txt)

[2017-06-13 21:31] freMea opened #28666 "Stop find operation at last match of the file"
VS Code version | OS
------------------ | ----
1.14.0  | Win x64 pro (french)

It may be just me who didn't find the function or setting to enable. Please enlighten me.

## Steps to reproduce

1. Open any file
2. Run the **find** command, `CTRL+F`
3. Query a string you know it exists in multiple place in file
4. Use `F3` or _next_ button to move to next match

## Results

When you reach the last o

[2017-06-13 21:33] dbandstra commented on #28616
I'm interested in this too. Last update to VS Code added little icons by every file in the explorer, I but I find it way too noisy visually.

[2017-06-13 21:34] roblourens commented on #28354
I do see this, but it doesn't seem like a regression vs 1.12. You're saying that something like this worked in 1.12?

1.12.2:
![image](https://user-images.githubusercontent.com/323878/27105697-60eedd4a-5045-11e7-92d4-e0c58e51005b.png)

[2017-06-13 21:35] roblourens commented on #28355
I assume that this is #28354, above this in the file there is a php tag inside a script or style tag which is messing up colorization.

[2017-06-13 21:35] #28355 closed

[2017-06-13 21:36] mjbvz commented on #28646
I'm unable to reproduce this. First can you please make sure an extension is not to blame by starting code with the `--disable-extensions` command line flag

[2017-06-13 21:36] roblourens commented on #28518
#28354 is probably the same. Will handle it there. Is this a regression from 1.12? Seems the same to me, in the older version.

[2017-06-13 21:36] #28518 closed

[2017-06-13 21:36] jmoore315 commented on #28651
Log output:
`[Trace  - 2:35:03 PM] Response received: rename (19). Request took 1 ms. Success: false . Message: Error processing request. No Project.
Error: No Project.
    at Object.ThrowNoProject (/Applications/Visual Studio Code.app/Contents/Resources/app/extensions/node_modules/typescript/lib/tsserver.js:73032:23)
    at IOSession.Session.getProjects (/Applications/Visual Studio Code.app/Conte

[2017-06-13 21:43] Danieleeee commented on #28592
Hi, I have other problems with the symbols.
Symbols don't recognize constant variable:
![schermata 2017-06-13 alle 23 36 53](https://user-images.githubusercontent.com/22749175/27105830-499ef412-5091-11e7-8b82-0ba82c0f0ca2.png)
Why _**package CONSTANT**_ ? why have the same symbol of **_package body_**?
And where are **_kRevision#_**, **_kRevisionDate_**,... constants?

[2017-06-13 21:44] Tyriar commented on #28635
@rprichard it seems to happen about 50% of the time to me..

[2017-06-13 21:46] dradickLRE commented on #28637
I am using the extension PHP Debug, however, I think there is still an issue here with VSCode. Perhaps I should ignore the breakpoint part of this issue for a moment.

My understanding of the behaviors are as follows:
1. File A exists in the Open Editors
2. File A is triggered to be opened again through some action.
3. A check is made to confirm which side of the editors is currently active
4. A c

[2017-06-13 21:49] khuongduybui commented on #13138
@cfjedimaster that's what I'm doing right now, but I cannot keep track of executable bits when working in /mnt/, everything is 777 there.

[2017-06-13 21:50] Tyriar commented on #28629
@dbaeumer it happens in a normal cmd.exe window though, fixing that would probably fix the problem in VS Code.

[2017-06-13 21:52] patrys commented on #28592
That looks like a problem of the symbol provider for the language in
question (can't guess from the screenshot alone). It seems all three
constants are reported with the name "package CONSTANT" which VSCode then
somehow merges into a single symbol (?).

wt., 13 cze 2017 o 23:43 użytkownik Danieleeee <notifications@github.com>
napisał:

--

Patryk Zawadzki
I solve problems.

[2017-06-13 21:55] 1st commented on #28510
Okey. It looks like not a "freedom for plugins", but a bad style that will end up with uncontrolled settings and cache files stored here and there, and also there. It's not serious solution you are using right now, as I see it.

I don't know why you selected this ideology but it will be harder for you to change your decision in future when you will release the breaking changes, when will add suppo

[2017-06-13 21:55] HankB commented on #28406
I don't think so:
hbarta@yggdrasil:~/Documents/C/c-txtutil/cpputest-starter-project$ find . |wc -l
71

[2017-06-13 21:56] dunstontc commented on #4490
+1

[2017-06-13 22:01] roblourens commented on #28637
It sounds like the extension is probably returning the wrong path or something for "go to definition", since this doesn't happen with typescript or anything else, so I'd send it to the extension for investigation.

[2017-06-13 22:02] Tyriar commented on #28423
I tried it out on a Debian 8 VM and I can't reproduce. After installing, `xdg-mime` still points at what it did before:

[code]

[2017-06-13 22:03] pocesar commented on #28618
yeah, it doesn't seem to be specific to TS, but most of the time I'm editing a TS file, it's crashing

[2017-06-13 22:06] pocesar commented on #20893
I usually work with 4-5 insiders editors opened, and each uses at least 6% of CPU, to the sum of 30% non-stop combined...

[2017-06-13 22:10] ramya-rao-a commented on #28655
Can repro this in Insiders as well

[2017-06-13 22:12] ramya-rao-a commented on #28664
What's the error?

[2017-06-13 22:13] Tyriar commented on #28510
Extensions can do whatever they want, we do not lock them down in where they store data, just provide some convenience APIs they can use. This would annoy me as well if I used Python, you should file an issue to the Python extension https://github.com/DonJayamanne/pythonVSCode

Remember VS Code is a developer tool, attempting to lock down file access for extensions would significantly limit their

[2017-06-13 22:15] ramya-rao-a commented on #28656
Thanks @CherryDT

Yup, yet another duplicate of #26038
cc @Tyriar

[2017-06-13 22:15] #28656 closed

[2017-06-13 22:18] flaviut commented on #28644
I don't know how to reproduce this at will (or I would have submitted a bug in ts), but I'll go ahead and do that and hopefully it happens again :smile:

[2017-06-13 22:18] giovdk21 opened #28667 "Feature request: WSL remote interpreters for extensions developers"
Hi,
it would be great for extension developers to know where (between Windows and the Windows Subsystem for Linux) to find the needed dependencies.

For example now some extensions may require to run `ruby` or a gem (e.g. `ripper-tags`), git, etc. that you may have installed under WSL, but Visual Studio Code won't see them unless you install them on Windows too.

Allowing the user to select whethe

[2017-06-13 22:25] giovdk21 commented on #28036
Hi,
I've the same issue; this is with the insiders build (2017-06-09) on Windows using bash.

[code]

Expected result: `Linux HostName 4.4.0-43-Microsoft #1-Microsoft Wed Dec 31 14:42:53 PST 2014 x86_64 x86_64 x86_64 GNU/Linux`
Actual result: `Linux`

[2017-06-13 22:28] Tyriar commented on #28021
@leftstick we support 14+.

@jrieken https://github.com/leftstick/vscode-git-tags seems to be having issues with `"activationEvents": [ "*" ]` on Ubuntu? Did we change anything with global activation events recently?

[2017-06-13 22:28] mjbvz commented on #20893
Right now to identify the offending process, use the process explorer or run `ps aux | grep -i code`

@alexandrudima is looking into handling extensions leaking processes this month. A better story for identifying high cpu usage from spawned processes may also be within the scope of that investigation

[2017-06-13 22:29] ramya-rao-a commented on #28636
@redapplewithleaves Can you share your settings?

[2017-06-13 22:33] ramya-rao-a commented on #28616
Oh, if you want to disable the file icons altogether, you can change the file icon theme.
Run the command `Preferences: File Icon Theme` and choose either `None` or `Minimal (Visual Studio Code`.

Hope that helps

[2017-06-13 22:33] #28616 closed

[2017-06-13 22:37] ramya-rao-a commented on #28599
you mapped it to `http`
Try `html` instead

[2017-06-13 22:37] cutecycle commented on #28473
![image](https://user-images.githubusercontent.com/12169942/27107456-13d8feca-5066-11e7-80e8-8eeb030805a5.png)

I do remember at some point installing NV Reader but then uninstalling it... I'm not sure what to do there, but editor.accessibilitySupport off worked!

![image](https://user-images.githubusercontent.com/12169942/27107681-5a1f9d2a-5067-11e7-9ca1-6f38ecffdb8d.png)

[2017-06-13 22:49] #27817 closed

[2017-06-13 22:50] mjbvz commented on #28651
If you fully close and then reopen the file, does that resolve the issue? Also, are you able to share the complete logs from a session where this occurs?

[2017-06-13 22:51] cateyes99 commented on #20958
@Dominik-K i overlooked it. After tried, found i can edit the left hand panel of the diff editor now, but can not save with inside the diff editor, so have to go to the changed file's own editor to save it.

[2017-06-13 22:51] ds0nt opened #28668 "Makefile syntax highlighting"
- VSCode Version: 1.13.0
- OS Version: Linux

When editing a makefile, sometimes things don't color as prettily as they could.

I've noticed this when using an `ifeq` block, in particular.

![2017-06-13-185037_841x488_scrot](https://user-images.githubusercontent.com/1015732/27108012-37fcb50a-5069-11e7-8be3-99ad671a8d6e.png)

As you can see, the variables that are indented are not colored, and neit

[2017-06-13 22:52] #28473 closed

[2017-06-13 22:57] rianadon commented on #27788
Glad to help! The docs should also include some of the other options for Windows build tools listed on the [node-gyp readme](https://github.com/nodejs/node-gyp#on-windows) as some are easier than installing another IDE (I've tested with the `windows-build-tools` npm package and it works great).

[2017-06-13 23:07] YMIndustries opened #28669 "Open tabs list is not stored if Windows is shut down"
I haven't tested if this also affects unsaved files (Hot Exit), but at work I encounter this every day and it's quite frustrating.

- VSCode Version: 1.13.0
- OS Version: Windows 10 (Creators Update)

Steps to Reproduce:

1. Open VS Code
2. Open several code files
3. Close VS Code
4. Re-open VS Code
5. Observe that the code files from step 2 are still open
6. Open more code files
7. Restart your c

[2017-06-13 23:08] MikeGitb commented on #27788
Unfortunately, I'm a complete novice when it comes to JS and npm (I was just interested in testing out the 64 bit Version of VSCode and had VS2017 already installed). So someone else needs to take care of updating the instructions.

[2017-06-13 23:21] Anthropic commented on #28621
I'm getting the same issue with the `sleistner.vscode-fileutils` extension so I assume it would be any that need updating. I'm on VSCode Version: 1.13.0 - Win7 sp1

I'm getting the same log entry in my debugger console as above.

[2017-06-13 23:28] jmoore315 commented on #28651
Closing the file then restarting VS code resolved the issue **if that is the only file open**. Once I open another file, rename symbol breaks again (both in the newly opened file and in the first file I opened). Note - the file contents itself are independent of the issue.

Here is the full session log (opening vs code with no files open, successful symbol rename in 1st opened file, failed symbol

[2017-06-13 23:30] Anthropic commented on #28621
![image](https://user-images.githubusercontent.com/1182507/27109078-0232ee46-50e4-11e7-9275-0a35100e82d8.png)

[2017-06-13 23:41] ramya-rao-a commented on #28669
cc @Tyriar for hot exit

[2017-06-13 23:41] jeopal commented on #28660
Turns out the color issue persists after closing and re-opening the program. I even updated to 1.13.0 and it was still the wrong color.

[2017-06-14 00:02] Andrewyg opened #28671 "Add real time collaborate function"

[2017-06-14 00:03] LiPengfei19820619 opened #28672 "Provide an option to show open editor tabs in multi lines."
- VSCode Version:
  1.14  Insider
- OS Version:
  Win 7 64Bit

Steps to Reproduce:

1. Setting:(default setting)
    "workbench.editor.showTabs": true,
2. Open a few files to edit.

At present, the tabs are shown in one line. If there are too many files opened, the line cannot hold all the tabs, then there is a horizontal scrollbar.
However, the horizontal scrollbar is too thin, it's not very easy

[2017-06-14 00:03] JacobGunther12 opened #28673 "Two empty lines appear above document after clicking search result"
- VSCode Version: 1.13.0
- OS Version: macOS Sierra 10.12.6 Open Beta

Steps to Reproduce:
1. Search for anything under the tab on the sidebar
2. Click a result and scroll up to the top

Result:
![image](https://user-images.githubusercontent.com/16949253/27109854-ff6061b8-506a-11e7-8608-6e6f643da3af.png)

[2017-06-14 00:14] ramya-rao-a commented on #28673
This is being tracked in #28390

[2017-06-14 00:14] #28673 closed

[2017-06-14 00:22] ramya-rao-a commented on #28519
I don't believe the icon theme chosen by the user affects the custom explorer.
cc @bpasero to confirm

[2017-06-14 00:25] rebornix commented on #28636
@redapplewithleaves could you please try disable drag and drop in the editor by setting `editor.dragAndDrop` to `false` and see if it happens still? Our mouse target detecting seems not smart enough.

[2017-06-14 00:29] kieferrm opened #28674 "Incomplete error message for untracked files"
- VSCode Version: Code - Insiders 1.13.0-insider (9a107453944f25e6019b08615e20d63545584855, 2017-06-05T18:12:37.367Z)
- OS Version: Darwin x64 16.6.0

---

Steps to Reproduce:

1. check out a remote git branch locally
2. advance the remote branch by 1 commit
3. add untracked files locally
4. pull from remote by clicking the SCM status bar item on the left

<img width="1410" alt="screen shot 2017-0

[2017-06-14 00:33] thelazydogsback commented on #5923
Ignoring the  obvious degenerate cases, why not just make the gutter big enough to hold the maximum number of glyphs currently displayed on any line??

[2017-06-14 00:36] westonsankey opened #28675 "Error Loading markdown.styles CSS"
- VSCode Version: Code 1.13.0 (376c52b955428d205459bea6619fc161fc8faacf, 2017-06-08T16:34:53.678Z)
- OS Version: Darwin x64 16.5.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|mssql|ms-mssql|1.0.0|
|csharp|ms-vscode|1.10.0|
|java|redhat|0.5.0|
|vscode-proto3|zxh404|0.1.1|;

---

Steps to Reproduce:

1. Set the language mode to Markdown.
2. Save the file with the .md extension.
3. Activ

[2017-06-14 00:45] gwiron commented on #28583
Yes，is a mobx

On 06/14/2017 01:24, Matt Bierner wrote: What library is @observable coming from? mobx?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd78767c55493e4bb","name":"GitHub"},"entity":{"external_key":"github/Microsoft/vscode","title":"Microsoft/vsco

[2017-06-14 00:49] mjbvz commented on #28583
For decorator support, create a [`jsconfig.json`](https://code.visualstudio.com/Docs/languages/javascript#_javascript-project-jsconfigjson) at the root of your project and set `experimentalDecorators`:

[code]

[2017-06-14 00:49] #28583 closed

[2017-06-14 00:55] gwiron commented on #28583
Thank you

On 06/14/2017 08:50, Matt Bierner wrote: For decorator support, create a jsconfig.json at the root of your project and set experimentalDecorators:
{
    "compilerOptions": {
        "experimentalDecorators": true
    }
}

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publisher":{"api_ke