[2019-06-20 17:49] roblourens commented on #74188
Where does remoteName come from, the authority?

[2019-06-20 17:50] roblourens commented on #74188
I see the code, the example should be `ssh-remote` for ssh. What will it be for web?

[2019-06-20 17:55] roblourens commented on #75836
The explorer does this by default when you open a file. You can also use the command "Reveal Active File In Sidebar"

[2019-06-20 17:55] #75836 closed

[2019-06-20 17:59] #75850 closed

[2019-06-20 18:00] roblourens commented on #75850
This is a popular suggestion but isn't really practical for us right now.

[2019-06-20 18:29] luabud opened #75855 "Add "open JSON file" to UI settings"
A lot of official and unofficial tutorials (as well as answers provided in Stack Overflow) reference settings to be added in the settings.json file, and on user studies we've seen people struggling to try to find where the settings.json file is stored. It'd be nice to have a "open JSON file" link in the UI settings page to improve discoverability.

[2019-06-20 18:33] thommi1609 commented on #75851
Alright, i found a solution that works for me. In preferences, i set the titlebarstyle to custom.
Switching back to native i still have the issue, so i'll keep it like this for now.

Note:
English isn't my first language, and not knowing that the "right click menu" is called context menu made this harder to google.

[2019-06-20 18:34] #75851 closed

[2019-06-20 18:34] lramos15 opened #75856 "Custom Dialogs"
Issue Type: <b>Bug</b>

It appears that custom dialogs are on by default and unable to be turned off.
1. Edit a file
2. Close without saving

The popup will be a custom dialog and not the native one, setting `"workbench.dialogs.customEnabled"` to false also doesn't work.

VS Code version: Code - Insiders 1.36.0-insider (c3fe2d8acde04e579880413ae4622a1f551efdcc, 2019-06-20T05:19:11.382Z)
OS version

[2019-06-20 18:37] sbatten commented on #75851
fyi @joaomoreno snap-related

[2019-06-20 18:49] Colengms commented on #75642
@Tyrair , This was duped incorrectly.  The cpptools issue should be duped to this, not vice version.  (I work on cpptools).  The issue is, generally, that if there is a background color specified on a TextEditorDecoration, no highlight selection color will be applied to it when that text is selected.  We can work around the issue in cpptools when the desired background color happens to be the same

[2019-06-20 18:52] sbatten commented on #75856
@bpasero looks like DialogService was being double registered with browser and native versions.

[2019-06-20 18:53] #75856 closed

[2019-06-20 18:54] ronnyek commented on #41309
I'd prefer not to make any assumptions that people are perfectly happy, but I do agree that if there was an API and didn't force the toolbars on everyone, that would be acceptable to me personally as well.

VS Code is efficient, beautiful and a great code editor... I feel like somehow UX has taken a back seat completely.

[2019-06-20 19:02] lramos15 opened #75857 "Large JS files cause endless Grammar Loop errors"
Issue Type: <b>Bug</b>

If you open a large Javascript file, more noticeable on minified ones and have the developer console opened you get flooded with `Grammar is in an endless loop`errors.
1. Open dev tools
2. Open a large minified file (I just chose the main.js packaged with vs code

VS Code version: Code - Insiders 1.36.0-insider (c3fe2d8acde04e579880413ae4622a1f551efdcc, 2019-06-20T05:19:11.

[2019-06-20 19:03] Colengms commented on #75642
![image](https://user-images.githubusercontent.com/49173979/59874575-61916d00-9353-11e9-8ef0-a9d0a410a189.png)

[2019-06-20 19:09] mehas opened #75858 "Unexpected [ts] errors in JavaScript files. The errors and warnings cannot be disabled for Typescript while being preserved for Javascript."
- VSCode Version: 1.33.1
- OS Version: macOS 10.14.5

Steps to Reproduce:

1. Create `babel.config.js`
2. Enter:

[code]

3. Observe the `m` in `module` is highlighted with a warning:

Does this issue occur when all extensions are disabled?: Yes

Current user settings:

* `"tslint.enable": false`
* `"tslint.jsEnable": false`

**Workarounds:**

Setting `javascript.validate.enable` to `false` remove

[2019-06-20 19:14] mtaciano commented on #75660
With this command now it works. Strange, so it is something in my data directory.

[2019-06-20 19:17] Somnium7 commented on #68237
@DOHere You cannot do anything to allow it to work completely (aside from converting all your files to standart encoding, which is not possible in many cases). That's the point of this issue.

[2019-06-20 19:18] philosophercode commented on #75850
Thanks for reviewing.

The feature would definitely make the search/find far more efficient in my experience, and others it seems as it is a popular suggestion. It would also encourage use of typing and typescript, similarly tagging content ease the use of a platform. I would appreciate reconsideration or research of implementation.

I will look into the findContoller and see if there is an easy w

[2019-06-20 19:19] marques-p44 commented on #74992
I'm also having an issue with typechecking and high CPU usage. It takes about 4 seconds for a typecheck to complete and show me an error, and the CPU for tsserver shoots up to 300% during that 4 seconds. I've disabled all extensions, even tried Insiders, still same issue. Here's a CPU profile:
[MCPU-20190620T190450.198Z.cpuprofile.txt](https://github.com/microsoft/vscode/files/3311799/MCPU-2019062

[2019-06-20 19:19] mtaciano commented on #75660
Found the issue, it was a sneaky configuration in my workspace overriding my settings, how dumb, thanks.

[2019-06-20 19:19] #75660 closed

[2019-06-20 19:23] thesmallbang opened #75859 "Documentation: CompletionItem - editText vs insertText"
The documentation on the website  says

https://code.visualstudio.com/api/references/vscode-api#CompletionItem.editText
https://code.visualstudio.com/api/references/vscode-api#CompletionItem.insertText

textEdit?:  depreciated - Use CompleteionItem.insertText and CompletionItem.range

Based on this information I went to look at using insertText. In VSCode when you attempt to use insertText you get

[2019-06-20 19:26] dmytro-gokun commented on #75792
@mjbvz I've tried to find some patterns, but failed to do so. Mostly it works, when it fails, it does so silently. So it's pretty hard to notice.  I'm not sure what to do about, but i think it would really help to have the following:

1. A setting to "escalate" the level or the error. It should produces some kind of a modal popup which is impossible to miss.
2. When it fails, it should be possible

[2019-06-20 19:30] marques-p44 commented on #74992
Ok, I think the issue has to do with my TS project. If I just use CRA to make a basic app, typescript is nice and fast again. I'm even using the same tsconfig.json file in the basic app, but no problems at all.

[2019-06-20 19:44] taskmango commented on #52364
Set this setting to "true" in settings.json.
"editor.colorDecorators": true

[2019-06-20 20:09] emamut opened #75860 "Set multiple php.validate.executablePath values"
On my laptop I use **Ubuntu** but in my work I use **Windows 10** and obviously the values of `php.validate.executablePath`. Do you know any way to do it without having to comment and uncomment this line? IMHO You should put an OS option `php.validate.windows.executablePath`

[2019-06-20 20:11] #75860 closed

[2019-06-20 20:37] udnie commented on #75797
Hi,

Looks like I needed to add python extensions to make it work.
working now.

On Jun 20, 2019, at 3:20 AM, John Murray <notifications@github.com> wrote:

@udnie https://github.com/Microsoft/vscode-python/issues

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-20 20:42] KBassford commented on #75780
Really?  I gave enough information to pin down that your URL launcher is borked (pretty narrow to me).  Once you get down to that level, then it's a matter of "How you're calling that URL?"  Anything other than the equivalent of "google-chrome-stable  <insert URL here>" (for Chrome), then you run the risk of running afoul of firejail and/or the browser settings (which it appears that Chrome uses G

[2019-06-20 20:45] rebornix commented on #69745
@mogwai can you help go to command palette and run "Inspect Key Mappings" and share the output here to help troubleshoot?

[2019-06-20 20:55] garymm opened #75861 "code --wait --diff doesn't exit after closing diff if the file is also opened in a non-diff view"
Issue Type: <b>Bug</b>

I have vscode configured as my difftool with this my git config:
[code]

This case works correctly:

1. Start with no open files, and with an unstaged commit to a local file (e.g. foo.txt)
2. In the integrated terminal, run `git diftool foo.txt`
3. The diff shows up as a new tab
4. Close the tab
5. `git difftool foo.txt` exits

This case does not work correctly:

1. Start w

[2019-06-20 20:56] mbelsky opened #75862 "SCM issue"
Hey,

There is an interesting issue with SCM on Windows 10: commit from shell and SCM has different result. When I commit through shell it fails on running tests and it doesn't when I commit through SCM. On MacOS I can't reproduce this issue.

Steps to Reproduce:

1. Clone https://github.com/mbelsky/js-problems and open in VS Code.
2. Run `npm i` to setup jest and husky.
3. Open `problems/001-sum.

[2019-06-20 21:13] stcleezy opened #75863 "Keys sticking in VSCode"
Issue Type: <b>Bug</b>

This started happening a few months ago after a year of using VSCode without issue.

Very frequently (once every few minutes) when programming, the keyboard will stick for 3-4 seconds and repeat whatever key is being pressed at the time. This happens consistently, and only within VSCode.

This happens regardless of language, etc.

VS Code version: Code 1.35.1 (c7d83e57cd18f

[2019-06-20 21:16] stewhi commented on #50448
Has there been any movement on this? I'm encountering the following situation:
Run a watch task with a problem matcher
Introduce a bug
Problem matcher puts an error message on the problems pane
Fix the bug
Problem matcher runs, no errors in the terminal
Problems pane still has the error reported, and the "red squiggle" is still on screen where the bug used to be.
Restarting the watcher clears out

[2019-06-20 21:30] CyriacBr commented on #75843
This seems to be related to this issue: https://github.com/microsoft/vscode/issues/71751

[2019-06-20 21:31] Tyriar commented on #75642
@Colengms ah sorry I thought it was just a limitation of how you did semantic coloring but it I've also seen this issue in the git diff decorations:

<img width="286" alt="Screen Shot 2019-06-20 at 2 31 10 PM" src="https://user-images.githubusercontent.com/2193314/59882849-26e5ff80-9368-11e9-8f12-f9f35872550b.png">

[2019-06-20 22:15] jumattos commented on #75720
Our extension is not yet released (we are on private preview + dogfooding). I will send you a link privately, please refrain from sharing.

Yesterday my team and I digged around a little further and found that the extension works on version 1.33.1 of VS Code, but not on the latest version.

Steps to reproduce:
1. Clone a repository that is set up for our extension (e.g. [spring-petclinic](https://

[2019-06-20 22:23] ws93 opened #75864 "datalist in webview doesn't have a scroll bar"
- VSCode Version: 1.35.1
- OS Version: Win10

Steps to Reproduce:

1. Have a webview project. For example, [vscode-extension-samples](https://github.com/microsoft/vscode-extension-samples/tree/master/webview-sample)
2. Add `datalist` element in html with many options
3. You will find that it doesn't have a scroll bar in the dropdown list. While the same html works good in `Firefox` or `Chrome`

VS

[2019-06-20 22:30] DonJayamanne commented on #75437
No worries, don't need this.
We will just display the test explorer by default. Feels like an unnecessary API.

[2019-06-20 22:30] #75437 closed

[2019-06-20 22:37] juliancoleman commented on #75796
I should also note that this happens for literally one repository. It could be an issue with the `.git` folder entirely.

[2019-06-20 22:40] mjbvz commented on #75864
Likely an electron bug.  Can you please test on one of our exploration builds that uses a newer electron version:

 Download them here:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/14236f9f44cc7c94055bb8e65ebda29a4a91ddc7/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/14236f9f44cc7c94055bb8e65ebda29a4a91ddc7/code-exploration_1.32.0-1

[2019-06-20 22:57] wbrian-onlineed commented on #5446
I was enjoying being a new user of VSCode until today when i ran into this issue. Now it's just infuriating. I'm working on a codebase that has a quarter million lines using Ratliff indentation and i have to reverse VSCode's attempts to be helpful on each and every "}".

+1 on idea to have a "keep" indentation mode that just stays on the same line unless i say otherwise. My other text editor has t

[2019-06-20 23:07] ipstone commented on #75013
Where did you get the smaller icon? I don't have that in my vscode! - I like smaller icons.

[2019-06-21 00:01] mjbvz opened #75866 "Explore using separate syntax server to more quickly answer js/ts syntax related"
# Problem
In js/ts files, simple operations such as getting document symbols or computing folding can take a little while to initially load. The reason for this is that the TypeScript server is single threaded, and we are using a single server instance to power features such as project wide intellisense as well as simple features like getting document symbols. This means that the typeScript server

[2019-06-21 00:03] foureyedraven opened #75867 "desired: show error if curly double quotes used instead of straight"
Issue Type: <b>Feature Request</b>

Unfortunately, copying code from Slack produces weird curly or slanted quote marks; would be nice if these reported as an error when straight quotes are required in .html files.

EG, my index.html was reffing a manifest file that it couldn't find because ref="manifest" had curly quotes (see below).

<link rel=“manifest” href=“https://storage.googleapis.com/.....

[2019-06-21 00:03] #75216 closed

[2019-06-21 00:12] #75866 closed

[2019-06-21 00:32] misolori commented on #75013
@ipstone this is part of our icon exploration, see #8017 for more info

[2019-06-21 01:25] ozyx commented on #74616
What's the use case for this? I'd like to take a stab at implementing this.

[2019-06-21 01:43] wbuck commented on #75774
I'm seeing the same issue with version 1.36.0-insider.
I have some custom tasks for running `makefile` targets which have been working for weeks which are no longer working. When I attempt to run them via my custom key bindings or from the command palette nothing happens.

[2019-06-21 02:02] sbatten commented on #75013
@misolori at 46px
![image](https://user-images.githubusercontent.com/6561887/59892426-d5506b80-938d-11e9-85d3-d6ae085fac97.png)

[2019-06-21 02:06] sbatten commented on #70981
https://github.com/Microsoft/vscode/blob/3074fd588d1a01ae552243a1c4359b4cf0d5227d/src/vs/base/browser/ui/dialog/dialog.ts

[2019-06-21 02:07] lilililee opened #75869 "Unless merge when use vscode git push"
- VSCode Version: 1.35.1 (user setup)
- OS Version: Windows_NT x64 10.0.14393

Steps to Reproduce:

1.
![image](https://user-images.githubusercontent.com/24242242/59892276-f6a36d00-940a-11e9-9368-58d0e16fd58c.png)
Git push

2.
![image](https://user-images.githubusercontent.com/24242242/59892304-0de25a80-940b-11e9-821b-34e6e336ccd8.png)
There have twice commit when only push once， the first merge l

[2019-06-21 02:32] tdchien opened #75870 "Folder .vscode cannot be a symbol link"
Issue Type: <b>Feature Request</b>

I noticed the .vscode directory cannot be a symbol link. This is meaningful when we have many projects and backing up those configurations is necessary.
Of course I don't want it to be saved with the source code when pushing up the project's git
![image](https://user-images.githubusercontent.com/1614393/59893515-4d0eac80-9407-11e9-82a0-d5e843b6fe37.png)

VS Code

[2019-06-21 02:34] tangyanhan commented on #75814
@carloslahrssen Thanks for your support!
For anyone may need it: It's probably an issue with vscode-go and I found a solution here: https://github.com/microsoft/vscode-go/issues/2575
By setting "go.useLanguageServer" to false, everything seems fine again

[2019-06-21 02:59] Astrantia opened #75871 "Filtering trees on type doesnt work"
Using vscode exploration version, I type stuff in the explorer panel, but nothing gets filtered. Does not work in any other trees panel either.

[2019-06-21 03:13] yume-chan commented on #75845
The length of first commit message line is limited by `git.inputValidationSubjectLength` setting and from second line the length is limited by `git.inputValidationLength` setting.

Can't you just set `git.inputValidationSubjectLength` to 72 and `git.inputValidationLength` to a huge number so it doesn't care about what you have inputted?

[2019-06-21 03:22] yume-chan commented on #75867
According to HTML specification, curly double quotes in attributes are totally acceptable.

`ref=“manifest”` will be parsed as `ref="“manifest”"` by any standard complaint parser.

Thus I don't think is worth to implement this check in the core validator. Maybe an extension is more suitable for your specific case.

[2019-06-21 03:26] GDCPedro commented on #75812
![vscodeIssue](https://user-images.githubusercontent.com/36934222/59895382-f5783d00-9416-11e9-8262-f3f2a310ba5f.png)
Or MAYBE Vue.js made this?
I just tap abc on VS code in my VUE.js project,. I figure out sth in win10 system process manager that the VS code and powerShell take a share over 50%.  But one month ago everything went well, maybe some update caused this? :) Thanks friend.

[2019-06-21 03:30] octref commented on #75639
@Tyriar The problem is I introduced a plague. Some of us might default to push with `--all` or `--tags`. When he pushes 1.999.0 back, everyone who pull will get the tag again...

I guess I'll create an Azure build that sends a warning in Slack when the tag gets pushed again.
If at a moment none of the tag-pushers have 1.999.0 tag locally and 1.999.0 doesn't exist on GitHub, the plague can be cured

[2019-06-21 03:31] yume-chan commented on #75808
Duplicate of #52265

It's a problem of Windows itself and had been addressed in Windows 10 1809, so Electron and Code team decided to not workaround it for the old version of Windows you are using (1803).

[2019-06-21 03:40] askareija opened #75872 "Change window font in User Settings"
I want to change the window font, maybe in User Settings. The reason is i want to make it more like MacOS look-and-feel for windows (like toolbar fonts, sidebar fonts, etc.) It looks something like this, (i change the window font to Roboto in developer tools manually)

![ScreenShot_20190621103010](https://user-images.githubusercontent.com/21377617/59895854-610adc00-9410-11e9-9bfb-5e28b5501f5b.png)

[2019-06-21 03:54] jpoon opened #75873 "Extension Testing Failing on Travis"
- Our extension source code hasn't changed (https://github.com/VSCodeVim/Vim), but our builds on Travis have started failing.
- Local build on Windows works fine (don't have Mac/Linux to test on those OS)

The error on Travis doesn't really indicate much:

[code]
https://travis-ci.org/VSCodeVim/Vim/builds/548501416#L279

Could this be another instance of https://github.com/microsoft/vscode/issues/

[2019-06-21 04:04] octref commented on #75773
@joaomoreno Can confirm, not fixed for me either on c3fe2d8acde04e579880413ae4622a1f551efdcc:

![image](https://user-images.githubusercontent.com/4033249/59896846-bbaa3500-941c-11e9-852d-21aecd51c350.png)

[2019-06-21 04:34] yume-chan commented on #75872
duplicate of #519

[2019-06-21 04:42] kanlukasz commented on #52364
What will it give you? This option disables the color picker and we can not launch it from any keyboard shortcut

[2019-06-21 04:43] enzious commented on #71945
Please update the fork :) This is crashing my machine over and over again.

[2019-06-21 05:15] chrmarti commented on #75835
Would that be covered by https://github.com/microsoft/vscode/issues/74967?

[2019-06-21 05:30] yume-chan commented on #8017
This thread has gotten too long which makes it so hard to find duplicate reports.

Does anyone has already reported that the <kbd>Stash All Changes</kbd> icon is a little bit thicker?

![image](https://user-images.githubusercontent.com/1330321/59899750-74c23c80-9428-11e9-8ce1-03293328cb12.png)

[2019-06-21 05:31] jeanp413 commented on #75532
I can reproduce it. Steps:
1. Click on any extension to load it's Readme in an editor
2. Close that editor
3. Change theme (this triggers the webview error)
4. Repeat step 1 (this triggers the guestInstanceId error)

[2019-06-21 05:38] octref commented on #75873
Nope, I ran into the same situation as you: https://travis-ci.org/vuejs/vetur/builds/536382977

For some reason VS Code doesn't launch correctly on Travis's Linux machines any more. They work fine for me on Azure DevOps, though: https://dev.azure.com/octref/vetur/_build?definitionId=1

I was just talking with @joaomoreno about this, and my guess was "Likely I need to install correct dependencies o

[2019-06-21 05:50] saileshkush95 opened #75875 "Fonts look like wash out"
- VSCode Version:1.35.1
- OS Version:Linux (Kde Neon)

Fonts look blurry and wash out.
![Screenshot_20190621_112954](https://user-images.githubusercontent.com/28560875/59900647-a29f8500-9418-11e9-961c-92ffd920d891.png)

[2019-06-21 05:55] eamodio commented on #8017
@yume-chan that icon is from GitLens not vscode itself. Once the vscode icons are settled upon I'll hopefully be able to update the GitLens icons to match

[2019-06-21 05:55] developers-youcong opened #75876 "Compile run vscode to add Chinese plugin is invalid"
## Problem description
why does the packaged VsCode put into the Chinese plug-in and modify the configuration to take effect, but the compiled and run VsCode related plug-in has been put into the corresponding extension directory, but it does not take effect

## rendering
abnormal：
![image](https://user-images.githubusercontent.com/45055576/59900895-1bf4a300-942c-11e9-988c-3ab6c1961724.png)

norma

[2019-06-21 06:09] octref commented on #74563
I can't really repro this. How does your `runTest` look like?

[2019-06-21 06:20] imkathir commented on #69843
Any updates @roblourens

[2019-06-21 06:38] dbaeumer commented on #50448
@stewhi this issue is about to clear problems from Task A from Task B. This is not about clearing problems generally. This is tracked here: https://github.com/microsoft/vscode/issues/66982

Can you provide me with a setup were you see this. In most cases this is caused by not well configured problem matchers.

[2019-06-21 06:45] dominik-kuhn commented on #8017
shouldn't the logo at the top left (in windows) be white instead of colored? as it is in visual studio 2019.

[2019-06-21 06:53] fgarcia opened #75877 "Poor UX for file refactorings"
Moving and renaming files is one of my basic refactorings. I am so glad VSCode is capable of updating each import in my source code, however this task has to big pain points

1. There is no visual feedback/notification of what is going on. No "updating source code..." notification shown. I just found out the refactoring was done because lots of tabs open as modified suddenly 30 seconds later after

[2019-06-21 07:11] daizhan opened #75878 "webpack aliases doesn't work in a multi-folder workspace"
- VSCode Version: 1.35.1
- OS Version: Win10 x64

single folder, alias works and vscode has IntelliSense
![smart](https://user-images.githubusercontent.com/5318547/59904599-8a3e6300-9436-11e9-801e-ff488a1ecf8e.png)

but for multi-folder, it's not work and no IntelliSense
![not-smart](https://user-images.githubusercontent.com/5318547/59904677-bc4fc500-9436-11e9-8aa6-306ffb5b4167.png)

[code]

[2019-06-21 07:23] alexanderby commented on #71827
As for a logo designer, the previous change stabbed me in hart, so I drew this cartoon to explain what's wrong with the icon as much as I could.

Today from technical point of view the icon looks great. Thanks for the change, now I can click on it without negative emotions. Hope the logo will become **infinite** ♾some day!

[2019-06-21 07:24] jrieken commented on #74188
IDK, whatever we define it to be. Debugging shows `127.0.0.1:9888` but I don't know if that the final design or some pragmatic solution. The point is that you shouldn't care too much unless you know for sure what environment a remote describes, e.g wsl

[2019-06-21 07:27] tdchien commented on #75870
I just restart vscode and it's working now. So this should close

[2019-06-21 07:27] #75870 closed

[2019-06-21 07:27] jrieken commented on #75609
But how would TypeScript know that? There are no semantics defined for strings and I think word based completions is the best working solution here. Should IntelliSense not show anything you type `console.log('fooValue')` even tho that word exists in the document?

[2019-06-21 07:28] joaomoreno commented on #75685
If you can, let us know the details, so more people can find it if they hit the issue.

[2019-06-21 07:29] joaomoreno commented on #75779
Let's reopen this.

[2019-06-21 07:30] jrieken commented on #75859
That's not correct, `editText` doesn't exist at all. You likely meant `textEdit`. This is the docs that we have written and that the tooling shows:

* `textEdit`: https://github.com/microsoft/vscode/blob/e4ca6137b4aeae9d9e5fe719bfd117d13bcfa634/src/vs/vscode.d.ts#L3382-L3392

* `insertText`: https://github.com/microsoft/vscode/blob/e4ca6137b4aeae9d9e5fe719bfd117d13bcfa634/src/vs/vscode.d.ts#L3350-

[2019-06-21 07:31] #75859 closed

[2019-06-21 07:33] joaomoreno commented on #75773
The fix is in 9ff8ae037e8e6109d65e4b5e3eb3dc60cc187e21 (today's)

[2019-06-21 07:38] joaomoreno commented on #75452
So, everything within the inner repo's folder is ignored? Not just the folder itself?

[2019-06-21 07:38] xtluo-ai opened #75879 "1.35.1 sucks"
Issue Type: <b>Performance Issue</b>

Updated to 1.35.1 ASAP, and now coding seems very slow:
1. autocomplete stuck frequently
2. suggestions also

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:27:31.086Z)
OS version: Linux x64 4.15.0-51-generic

[2019-06-21 07:38] jrieken commented on #48034
A little more than just the `FileSystemProvider` interface is needed. For once, a few functions in there are options (like `copy`) and for "the one" file system we can offer then all. Also, the `FileSystemProvider` interface allows to return returns sync or async and for the one file system we will always return async. Anyways, the `vscode.workspace.fs`-type will be very similar to the current fil

[2019-06-21 07:39] joaomoreno commented on #74933
When you open Code, can you run `Developer: Toggle Developer Tools`. Is there any error in the console?

[2019-06-21 07:42] joaomoreno commented on #75780
Can you explain this better?

Can you elaborate this? What error? Can you share a screenshot of that?

---

@Tyriar Do the apt repos not have the latest Code published? Can you verify that?

[2019-06-21 07:44] joaomoreno commented on #75796
Interesting. What if you clone that repo all over again to a new folder?

[2019-06-21 07:51] gregtandiono commented on #9432
So, I tried the insiders build, and the overall experience is much smoother.

- The scrolling has improved, but still a bit laggy.
- Typing has improved slightly, as in the lag is still there, but it's not very noticeable for me.

[2019-06-21 07:51] oneslash commented on #75879
Could you follow the https://github.com/microsoft/vscode/wiki/Performance-Issues and provide with more data?

[2019-06-21 07:52] bryanrasmussen opened #75880 "saving typescript extension as css causes lots of typescript errors"
- VSCode Version: 1.35.1
- OS Version: Windows 7

description/steps to reproduce - I realize the subject line sounds crazy but I think it represents a reasonable workflow.

1.  while editing a .tsx file (typescript react extension) save .tsx file as a new css file (this does not display any syntax errors with the .tsx code even though now the file is a css file.)
2. copy in the css (or write the c

[2019-06-21 07:52] carloslahrssen commented on #75879
Hey do you have any reproducible examples of what you’re talking about? It’s difficult to pinpoint the problem without them. Thanks!

[2019-06-21 07:57] #74422 closed

[2019-06-21 07:58] octref commented on #75773
Cool, I confirm it's fixed in the latest build.

![image](https://user-images.githubusercontent.com/4033249/59907346-74806c00-943d-11e9-98a0-3fe0301427e4.png)

[2019-06-21 07:59] egamma commented on #74716
@EmonHaque if I understand you properly this is now working in 1.35.1 and we can close the issue?

[2019-06-21 08:00] xtluo-ai commented on #75879
Sorry, but I don't know how to give a reproducible example, now I have downgraded to 1.34 and everything is OK, strange. Thanks.

Some info.

## programming language

python3

## extensions installed

Extension|Author (truncated)|Version
---|---|---
code-gnu-global|aus|0.2.2
vscode-python-docstring|aza|0.0.5
c-cpp-compile-run|dan|0.5.0
vscode-markdownlint|Dav|0.28.0
vsc-material-theme|Equ|2.9.0
ou

[2019-06-21 08:03] Morgy93 commented on #72708
Still having the exact same issue with 1.35.1 ?!

![image](https://user-images.githubusercontent.com/7961978/59907473-6d406a80-940b-11e9-9927-4288cbd7c596.png)

![terminal](https://user-images.githubusercontent.com/7961978/59907593-bd1f3180-940b-11e9-9fe9-cf29f9aa0d22.gif)

[2019-06-21 08:03] isidorn opened #75881 "Introduce extHostLabel and mainThreadLabel"
Currently the `registerResourceLabelFormatter` and `unregisterResourceLabelFormatter` live in the `MainThreadFileSystemShape`. We should introduce a seperate `MainThreadLabelServiceShape` and move them there

fyi @jrieken

[2019-06-21 08:08] egamma commented on #75849
Does this still happen once you restarted VS Code?

The npm extension shells out to run an npm script, this means npm is run in the process environment of VS Code.

[2019-06-21 08:15] tipleavalentin commented on #72708
@Morgy93 same issue I have on 1.35.1. Also 1.36 insider also doesn't clear after I switch terminal tavbs.

[2019-06-21 08:15] sandy081 commented on #75821
@Skriptach May I know which formatter you are using to format this?
Please disable all installed extensions and check if it is caused by VS Code or an external extension.

[2019-06-21 08:15] meoz commented on #12622
Seems to be a pretty basic feature, any idea why it takes this long to implement ?

[2019-06-21 08:16] isidorn commented on #75815
I can not reproduce this. Can you repro if you use latest vscode insiders with no extensions https://code.visualstudio.com/insiders/
If you F1 > developer tools > break on error can you get a more meaningful stack trace please?

[2019-06-21 08:18] sandy081 commented on #75766
@ebatsin Sorry for not looking deep into it. We support C++ syntax colouring OOB.

[2019-06-21 08:19] Huxpro commented on #75176
@mjbvz that's cool. Thx!

[2019-06-21 08:23] infinnie commented on #71827
It used to be the Visual Studio icon.

[2019-06-21 08:33] isidorn commented on #75871
Works for me with latest vscode insiders
https://code.visualstudio.com/insiders/

Are you doing something different than me?

![tree](https://user-images.githubusercontent.com/1926584/59909478-0e312480-9410-11e9-9079-fc24248022dd.gif)

[2019-06-21 08:35] sandy081 commented on #75539
We retain logs of last 10 sessions, it means you should have max 10 sessions logs. Please check if you have more?

[2019-06-21 08:35] Skriptach commented on #75821
@sandy081
I have disabled all extensions, reload VS Code and bug was reproduced

[2019-06-21 08:36] liganghui commented on #34915
My 400 code is lost for this reason, heartache .

I suggest you install the "Local History" extension to avoid this problem.

[2019-06-21 08:38] sandy081 commented on #75733
Not Supported.

[2019-06-21 08:44] imsergiobernal commented on #4873
This would be great for those who takes a lot of time reading code, to avoid writing by mistake.

[2019-06-21 08:50] Galiant commented on #75685
For me, the solution was that IT help support in my office switch to the admin account on my machine and we installed VSCode what immediately reflect that also working on my account.

My team member(who works remotely) think that this command helped him to run VSCode:

`chown -R ${whoami}:admin /Applications/Visual\ Studio\ Code.app/`

[2019-06-21 08:56] lostfictions commented on #75733
Hm, okay. So it's a bug that I'm able to define settings for multiple languages via this syntax? It seems to work for every other setting! I thought it was really handy :smile:

[2019-06-21 08:59] jrieken commented on #75733
🔝 @sandy081 I leave that to you... We might be able to know what languages we support

[2019-06-21 09:01] ebatsin commented on #75766
@aeschli, I haven't checked on the master build, but it looks like it could be fixed.

The issue has been reported here : [jeff-hykin/cpp-textmate-grammar#224](https://github.com/jeff-hykin/cpp-textmate-grammar/issues/224)

Fixed here: [https://github.com/jeff-hykin/cpp-textmate-grammar/pull/225](https://github.com/jeff-hykin/cpp-textmate-grammar/pull/225)

Merged into vscode here: [diff](https://

[2019-06-21 09:04] #74822 closed

[2019-06-21 09:19] #75312 closed

[2019-06-21 09:20] kamenminkov commented on #75758
Seems like it's fixed in today's insider build, awesome!

[2019-06-21 09:44] ischmal commented on #47783
I support this for instances when I'm not paying attention and accidentally do find-replace to an entire project instead of just the open file. Cleaning up the mess is both humiliating and absurdly tedious.

[2019-06-21 09:47] alexr00 commented on #75758
Thank you for verifying it too.

[2019-06-21 09:53] askareija commented on #75872
oh i didn't see that, sorry.

[2019-06-21 09:53] #75872 closed

[2019-06-21 09:54] anurbol opened #75884 "Plugins list should be version-controlled"
It would be really great if we could list which VSCode plugins are required to be used with a project.
The plugins list could be located in .vscode folder in `plugins.json` next to `settings.json` etc.

Plugins that need this feature are like this one: https://github.com/ExodiusStudios/vscode-comment-anchors
i.e. plugins that enhance code/comments intrepretation.

[2019-06-21 10:04] alexr00 commented on #75847
I made a change to remove the trailing path separator from URIs from the file picker.

[2019-06-21 10:10] isidorn commented on #75847
That should fix @chrmarti problem. But in theory this could also end in our system from the command line. So let's see what @sandy081 has to say

[2019-06-21 10:16] celynwalters commented on #59916
User preference would be great.
Seeing as though symlink status is shown in the explorer, it would at least be obvious to the user what has been copied.
+1

[2019-06-21 10:21] DanTup opened #75885 ""Unable to start terminal process: CreateProcess failed" when trying to open terminal on Windows"
I'm on a fairly clean install of Windows 10 Pro. When I chit `Ctrl`+`'` to bring up the terminal, it just shows an empty terminal window that never shows a prompt (and doesn't accept input):

![terminal](https://user-images.githubusercontent.com/1078012/59916224-7d117c00-9416-11e9-8033-be27a1585a65.png)

In the dev tools console I see this:

[code]

I have no settings relating to the terminal in m

[2019-06-21 10:23] DanTup commented on #75885
Oh whoops, I found out what it is. It's sort-of user error, but I'll leave this open in case you want to improve the way it fails.

The folder I had open in VS Code had a typo in its name, so I renamed it (in Windows explorer) and forgot to re-open it. So VS Code's "open folder" actually didn't exist. Presumably the terminal was failing to launch because you were trying to spawn it in a non-exista

[2019-06-21 10:24] KillyMXI commented on #71827
@alexanderby Oh, nice to see the author of the image here. I had this picture saved, but couldn't remember where I got it from.
Thank you for making it.

[2019-06-21 10:30] paolo-venturi commented on #75294
I tried to disable the parameters indicated in the guide (search.useIgnoreFiles, search.followSymlinks) but the problem continues to exist. In previous versions the problem did not exist.

VSCode Version: 1.35 both regular and insider
OS Version: Win 8/10

Our project is about 20000 files.

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2019-06-21 10:35] HR1991 commented on #75711
but everything was okay suddenly this happen to my vscode

[2019-06-21 10:38] sandy081 commented on #75877
@fgarcia What is the programming language of the files you are trying to refactor by moving?

[2019-06-21 10:40] sandy081 commented on #75838
Yes, Indentations are available in insiders build please try. https://code.visualstudio.com/insiders/

Assigning to @isidorn for your first requirement

[2019-06-21 10:41] jrieken commented on #74410
@joaomoreno Please double check the change I have pushed 🤞

[2019-06-21 10:41] #74410 closed

[2019-06-21 10:42] #75837 closed

[2019-06-21 10:43] sandy081 commented on #75846
I do not think the provided description is helpful. Please explain about the requirement in detail and also please check if there is an extension already or changing configuration  provides your requirement.

[2019-06-21 10:45] sandy081 commented on #75855
This action is available in the UI already.

<img width="954" alt="Screenshot 2019-06-21 at 12 44 52" src="https://user-images.githubusercontent.com/10746682/59917526-7852c500-9422-11e9-8946-3095f3b063f3.png">

[2019-06-21 10:48] sandy081 commented on #75875
Could be electron related?

[2019-06-21 10:49] sandy081 commented on #75884
/duplicate https://github.com/microsoft/vscode/issues/57548

[2019-06-21 10:49] #75884 closed

[2019-06-21 10:51] sandy081 commented on #75876
@developers-youcong I am not sure what is the issue here. Can you please provide steps to reproduce?

[2019-06-21 10:51] sandy081 commented on #75839
Can you please provide necessary information to diagnose the issue. If it is performance related please follow this wiki https://github.com/microsoft/vscode/wiki/Performance-Issues

[2019-06-21 10:56] Kvek opened #75886 "[feature-request] Add icon to only show all modified files (non source control)."
Hi,
It'd be pretty good if there was an icon in the activity bar that showed all the files that are modified. I know that the source control icon does this but I don't want to compare the changes. It would be easier to view the listed modified files in one place than have to navigate the entire app (sometimes a really large app) to search for changed files. Thanks.

[2019-06-21 10:56] #75564 closed

[2019-06-21 10:57] AmirHosseinHmd commented on #9432
Could you please try opening/closing the sidebar, and switching between tabs and tell us your experience?

[2019-06-21 10:59] weinand opened #75887 "Unknown attributes confuse debugger contributions silently"
From Gitter (https://gitter.im/Microsoft/vscode?at=5d0a613526477710bbea174b):
A debugger author was contributing this debugger in his extension's package.json:

[code]
But when running his extension the debug type "papyrus" was not defined.

After some investigation I noticed that "contributionAttributes" is the wrong name for the schema contribution. The correct name is "configurationAttributes".

[2019-06-21 11:01] jrieken commented on #75837
#75564

[2019-06-21 11:04] philippludwig commented on #33725
Yes, please! This is really annoying, especially when autocomplete comes up during writing comments.

[2019-06-21 11:06] alexr00 commented on #75774
I still can't reproduce any of this, but I have a guess about which change caused the issue. I have pushed a potential fix.

Please everyone in this thread update to the next version of VS Code insiders when it release (it will be the version after 9ff8ae0 and have a date after Jun 21). I will add the commit number of the insiders build here, but you might see the update before I can add it here.

[2019-06-21 11:22] edgardmessias commented on #39969
My solution for SVN: Textarea and webview: https://github.com/JohnstonCode/svn-scm/pull/589

[2019-06-21 11:23] gjsjohnmurray commented on #75886
@Kvek - modified relative to what? Aren't you willing to use Git as integrated with VSCode? Are you aware how the context menu from the Changes list also lets you open the file rather than the comparison?
![image](https://user-images.githubusercontent.com/6726799/59919439-54da4b00-941f-11e9-8a84-02df36268509.png)

[2019-06-21 11:29] DOHere commented on #68237
@Somnium7 thanks for letting me know
rather than  converting them to standard encoding, all of my scripts should have utf8 encoding, so shouldn't it work?

[2019-06-21 11:30] gjsjohnmurray commented on #75848
Duplicate of #40295

[2019-06-21 11:36] a-x- opened #75888 "Support workspace settings in multi root environment"
Still actual. related issues: #29456, #28538, #33535, #47995

For example, I have a project (master repo A: backend) with a git submodule (repo B: frontend).

Both have an independent .vscode/settings.json files.

Problem: for instance, any javascript.* settings do not work.
Both A/.vscode/settings.json and A/B/.vscode/settings.json are marked these setting-lines as not effective. See the picture

[2019-06-21 11:37] Kvek commented on #75886
I beg your pardon, I should have phrased it better. I meant the files that have been edited relative
to their previous versions.

I wasn't aware of this, thanks. This is essentially what I was talking about, but instead of having having to click on 'Open file' from the context menu for each file. I was thinking of a list that just shows all the edited files (without the diffs).

[2019-06-21 11:45] gjsjohnmurray commented on #75886
I don't understand why the Changes list doesn't meet your need. All the edited files will display there with the "M" badge. Is your problem that a lot of other files list there with the "U" badge, because they are untracked, i.e. not yet under source control?

[2019-06-21 11:58] isidorn commented on #75838
Leaving open as a feature request Assinging to backlog as we have no plans to tackle 1. in the near future.

[2019-06-21 12:00] mojtabakheyri1997 opened #75889 "Document Formatter"
hello everyone
why vs code don't using default formatter for all kind of file types??
for example for PHP each extention php formatter not working
thanks

[2019-06-21 12:02] isidorn commented on #75887
1. `configurationAttibutes` is not a required property - thus there is no error that it is missing. Extension authors contribute debuggers with no `configuraitonAttributes` and that is perfectly fine. It is possible to put any attribute value there, thus `contributionAttributes` is not flagged as an error. So this behavior is as defined.
2. Ignored papyrus when doing what exactly? We do not offer

[2019-06-21 12:05] nerdo commented on #75717
Having the default shell working in containers helps, but it still doesn't solve this particular issue.

In my case, running tasks doesn't seem to be affected, or there is something else at play.

For example, I have a tasks to enable and disable XDebug in my container. These commands work fine if I open a shell and run them, e.g.:

[code]
That works fine with or without the absolute path to phpen

[2019-06-21 12:07] fractos commented on #12453
Probably be nice if it marked/highlighted unsaved files in the explorer tree as well, I think.

[2019-06-21 12:13] robsonpeixoto commented on #63558
The same on macOS

[code]

[2019-06-21 12:18] octref commented on #75867
Other than what @yume-chan said, we don't have any HTML diagnostic errors and leave that to extensions.

[2019-06-21 12:18] #75867 closed

[2019-06-21 12:29] fgarcia commented on #75877
@sandy081 Typescript

[2019-06-21 12:34] Ventilador opened #75890 "Typescript language server plugin should use a different workspace config key"
_(great, clicked a github popup and lost everything i've wrote, here we go again)_

- VSCode Version: [master branch](https://github.com/microsoft/vscode/blob/master/extensions/typescript-language-features/src/typeScriptServiceClientHost.ts#L120)
- OS Version: Windows 10

Steps to Reproduce:
Its quite complicated

Does this issue occur when all extensions are disabled?:
Yes, but the issue is with

[2019-06-21 12:50] isidorn commented on #75887
After discussing in standup we can improve 1 by saying that only known attributes are supported. I can look into changing that.

[2019-06-21 12:54] idanpa opened #75891 "Support the git-client protocol address"
Github website offers a nice button on the clone menu - "Open in Visual Studio" which let you clone+open the repo directly on Visual Studio, it use `git-client` protocol, e.g.:

[git-client://clone?repo=https%3A%2F%2Fgithub.com%2Fmicrosoft%2Fvscode](git-client://clone?repo=https%3A%2F%2Fgithub.com%2Fmicrosoft%2Fvscode)
Would open Visual Studio if the Github extension is installed.

It would be nic

[2019-06-21 12:55] mva123 commented on #12453
Well, they already have a bullet.

[2019-06-21 12:56] smlombardi commented on #75849
I  discovered that NVM was using 10.1.0 as default, so all new terminals went back to it.  I ran `nvm alias default 10.16.0` and restarted VSCode, works now.

[2019-06-21 12:56] #75849 closed

[2019-06-21 12:56] iiKulakov opened #75892 "PopClip pop-up not shown when highlighting code when using dark themes"
- VSCode Version: 1.35.1
- OS Version: Mac 10.14.6

**Describe the bug**
PopClip pop-up not shown when highlighting code when using dark themes.

**Steps to reproduce the behavior:**
1. Install popClip [https://pilotmoon.com/popclip/](https://pilotmoon.com/popclip/)
2. Activate any dark theme
2. Click on code in VSC
3. Nothing happens

<img width="202" alt="Screenshot 2019-06-21 at 07 42 41" src="

[2019-06-21 13:01] fractos commented on #12453
Not in the tree they don't. It's just in the Open Editors section.

[2019-06-21 13:04] anurbol commented on #75884
@sandy081 Hi! And thanks for quick response. I am confused with the response, though. How is these two issues duplicate? It might be that I was not very clear, but what I mean is: it would be cool if I'd be able to add the `.vscode` folder to `git` repo and in that folder all the project-related/required extensions would be listed. The OP of the issue you mentioned on the other hand, wants to see

[2019-06-21 13:07] gecko-8 commented on #12453
@fractos Can I suggest creating a new feature request for this? This request is specifically about the Open Editors list.

[2019-06-21 13:08] weinand commented on #75887
@isidorn with the typo in the package.json I get this error in a launch config that tries to use the debug type "papyrus":

![2019-06-21_15-07-00](https://user-images.githubusercontent.com/1898161/59924602-624eff80-9436-11e9-8229-a41fda9705b6.png)

[2019-06-21 13:14] alexr00 commented on #75841
duplicate of #69403

[2019-06-21 13:14] #75841 closed

[2019-06-21 13:16] alexr00 commented on #75777
Yes, this is a duplicate of #75774

[2019-06-21 13:16] #75777 closed

[2019-06-21 13:32] bva-mike commented on #20013
@jerch sorry for the late reply, indeed you're correct! What we were running did spawn some processes which were detached.

[2019-06-21 13:33] Neurrone commented on #41356
@isidorn thanks a lot, this is working perfectly now :)

[2019-06-21 13:34] mikemak-es commented on #20013
@jerch sorry for the late reply, indeed you're correct! What we were running did spawn some processes which were detached.

[2019-06-21 13:47] samankiyani opened #75893 "bug message"
We have written the needed data into your clipboard because it w
Issue Type: <b>Bug</b>

Samans-MacBook-Pro:MyNodeTest samankiyani$ npm install -D nodemon
Unhandled rejection Error: EACCES: permission denied, mkdir '/Users/samankiyani/.npm/_cacache/index-v5/c9/03'

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.communi

[2019-06-21 13:50] isidorn commented on #41356
Glad to hear, adding verified label

[2019-06-21 13:50] a-x- commented on #75888
it's the same currently is the vscode multiroot workspace enabled or not.

[2019-06-21 13:58] dylmye commented on #75430
Having the same issue in React JS with same console output, this is preventing Go-to definition from working since latest prod update (1.35.1). Disabling all user extenions doesn't fix this.

[2019-06-21 14:03] fractos commented on #12453
@gecko-8 Of course. It just occurred to me and I didn't want to forget about it.

[2019-06-21 14:09] isidorn commented on #75887
I have pushed a fix that we show a warning when a user types an unsported attribute inside contributes/debuggers or contributes/breakpoints.

As for that error the issue is that the papyrus debugger is not cotnributing the attach request. If you remove the attach part he will match it properly.
The actual issue is that the error message is not precise. Since he can not match the papyrus type with

[2019-06-21 14:09] #75887 closed

[2019-06-21 14:10] svipas commented on #75845
I'm closing it because seems it's some sort of git good practice to have 50/72. Thanks, @yume-chan didn't know about these settings.

[2019-06-21 14:10] #75845 closed

[2019-06-21 14:19] #75351 closed

[2019-06-21 14:26] DerHulk opened #75894 "Provide Code-Levels"
...to solving some Cross-Cutting Concerns (ccc) in development.

The idea to solve the problem of ccc is to create mutliplie level
of code (code-lines) for one class/file at design time.
These level are mixed togheter by the ide at runtime or can also viewed
by designtime.

The system is more syntaxtic sugar of an ide feature as it is a pattern or archtecture, but
it is focused to make the readabi

[2019-06-21 14:29] TRACTOR-MAN commented on #75841
Thanks, sorry that it's a duplicate. Just found it odd that it works for one project but not for others, which used to the best of my knowledge identical vscode setups.

[2019-06-21 14:32] joelday commented on #75887
Wait, I've been staring at that for weeks without noticing it?

That's the best kind of bug. Thanks!

[2019-06-21 14:37] gecko-8 commented on #12453
@fractos No worries, just want to keep the issue focused so there might be an outside chance of it getting implemented :)

[2019-06-21 14:40] aleclarson commented on #75452
Yeah, exactly! It would be okay if only the folder name was grayed out.

Nah, only the parent repo.

[2019-06-21 14:42] Tyriar commented on #75711
You might have tweaked the theme colors of cmd.exe/conhost outside of VS Code, other than that I don't know how this could have happened. Highly recommend moving to Windows 10.

[2019-06-21 14:42] aleclarson commented on #75452
I whittled it down further. If you add the parent repo to the workspace **before** the child repo, the child repo will be grayed out. If you add the child repo **first**, everything is dandy.

Hope this helps!

[2019-06-21 14:45] JWleo opened #75895 "can I make a c++&mpi debug for multi-proess in VSCode ???"
@Tyriar please. can the vscode support the basic function?

[2019-06-21 14:51] Fagneregomes opened #75896 "Git terminal is not clearing with command ctrl + l"
- VSCode Version:  1.35.1
- OS Version: 1903

Steps to Reproduce:

1. integrate git bash to vscode.
2. execute command on the terminal and try to clean.

<!-- Launch with `code --disable-extensions` to check

![ScreenRecorderProject1 (1)](https://user-images.githubusercontent.com/11872631/59931149-bba93580-941a-11e9-9268-b5f513d1939b.gif)

[2019-06-21 14:52] rishabh3112 opened #75897 "BUG: Tasks error: execvp(3) failed on Insiders"
Hi! I have been working on C++ on VS Code Insiders with remote development on WSL1 for about 2 months. Today an update was released which raised this error.
[code]

- VSCode Version: 13.6.0-insider
- OS Version: Ubuntu 18.04.1 LTS

Steps to Reproduce:
1. Have a `tasks.json` like below
[code]
2. Have `outputs` and `programs` folders in root.
3. Run task with file being open
4. This error is encount

[2019-06-21 14:53] ws93 commented on #75864
@mjbvz The windows version Exploration doesn't work at all...
It doesn't show any options if you type something or just click on the input bar.

Yesterday when I was try this at home using a Macbook it also didn't work, same behavior(doesn't have any options) on both normal VS Code(1.35.1) and macOS Exploration.

I think it should be an Electron bug. I cloned their [quickstart](https://github.com/

[2019-06-21 14:54] isidorn commented on #75720
@jumattos thanks for the repro steps.
I have pushed a potential fix for your issue, however I could not verify that it fixes it since I can not log in. If you want to verify if it work just run vscode out of source and try it out (just copy over your extension and the gh pr extension to your user dir /.vscode-oss-dev/extensions).
https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and

[2019-06-21 15:00] innerlee commented on #75894
Cool idea!

It at least can automatically create layers for variable definitions, and each indent levels.

It is cooler if each layer can adjust transparency.

[2019-06-21 15:01] Fagneregomes commented on #75896
see the error.

![ScreenRecorderProject1 (1)](https://user-images.githubusercontent.com/11872631/59931564-9ec13200-
941b-11e9-8a6b-322255276aa3.gif)

[2019-06-21 15:32] a-x- commented on #75888
files.exclude setting in nested project (repo B) is not effective too. But, sadly, vscode event does not highlight it

[2019-06-21 15:35] thesmallbang commented on #75859
Sorry. You are correct the incorrect depreciated comment is coming from the vscode-languageserver-types module .  I'll open this ticket there.

[2019-06-21 15:56] juliancoleman commented on #75796
@joaomoreno the funny thing is that I have done that and the issue still persists. I am not fully convinced that it's an issue with VSCode, but it's the only environment that it happens in.

[2019-06-21 15:57] Tyriar commented on #75896
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2019-06-21 15:57] #75896 closed

[2019-06-21 16:08] ambrt opened #75898 "Pressing enter on folder in filtered File Explorer"
When someone searches with letters in File Explorer and finds folder  but letters don't match any file inside that folder, there's no way to go to that folder (or list all files under that folder)

![feature](https://user-images.githubusercontent.com/10456131/59935450-1dcf5e00-944e-11e9-94ce-194b27440d46.gif)

Enter toggles empty list.
The suggestion is to set ctrl+enter to go to that folder stand

[2019-06-21 16:08] Tyriar commented on #75893
You haven't installed npm right, google around for "sudo npm" of "npm permissions error", etc.

[2019-06-21 16:08] #75893 closed

[2019-06-21 16:14] Smiling-Robotics opened #75899 "aarch64 remote architecture not supported"
When going to use remote-ssh connected to a aarch64 system it states that the aarch64 server architecture is not supported, this seems like a pretty major issue as that chip set is very widely used. Apologies if this is already being addressed.

[2019-06-21 16:29] AmirHosseinHmd commented on #9432
I just downloaded and installed the insiders' build, but I don't feel any difference in terms of smoothness at all.

[2019-06-21 16:35] ravtakhar commented on #9432
@AmirHosseinHmd It was time for a laptop upgrade for myself. I understand this isn't a resolution, but I opted a FHD (1080) display just because the saving on battery life, scaling issues, and the overall experience of having a matte vs gloss display. I put the two displays side-by-side and honestly on a laptop I don't see the benefit of pushing 4k pixels.

I don't think this is something that the

[2019-06-21 16:38] aaronstackpole opened #75900 "Live Tile Icon Not Updated"
Issue Type: <b>Bug</b>

The new VS Code icon is not displayed on the Live Tile. If you Pin VS Code to the Start Menu, the old icon is still shown on the tile.

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8350U CPU @

[2019-06-21 16:39] HaveSpacesuit opened #75901 "Merge Conflict Git Lens missing"
Issue Type: <b>Bug</b>

Ensure `Merge-conflict > Code Lens: Enabled` is chekced in the settings

Merge a git branch causing merge conflict

Open the diff tool

The current and incoming changes are highlighted correctly. The inline toolbar above them which allows to accept the current or incoming is missing.

Similar to [this issue](https://github.com/microsoft/vscode/issues/74153)

VS Code version

[2019-06-21 16:39] aaronstackpole commented on #75900
This is not a duplicate of the Windows 10 Start Menu Tile Icon (#73193) issue. [https://cdn.discordapp.com/attachments/420586902438150145/591668483704750092/unknown.png](url)

[2019-06-21 16:49] acdha opened #75902 "Python setup.cfg files are broken by auto-formatting"
Issue Type: <b>Bug</b>

My Python project has a setup.cfg file. This file is detected as the “Properties” langauge.

I added a multi-line property to the file following the standard syntax:

https://github.com/LibraryOfCongress/concordia/blob/1d48009c0d10c7bf9e6a08bb23ee142d90a68abe/setup.cfg#L25-L26

If I let VSCode format that file, it removes the leading indentation which actually breaks the wa

[2019-06-21 16:52] yamcenutzer commented on #75897
same here,
Works in released version and previous insiders.
My remote is centos machine and the task in question is a bash script.

[2019-06-21 16:53] tomocafe opened #75903 "Ignoring option goto: not supported for code-insiders"
Version: 1.36.0-insider (system setup)
Commit: 9ff8ae037e8e6109d65e4b5e3eb3dc60cc187e21
Date: 2019-06-21T07:52:00.716Z
Electron: 4.2.4
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. Open Remote SSH session (Host: Win10 x64, Remote: CentOS 7 x64)
2. Open integrated terminal (bash shell)
3. `code-insiders -r -g /path/to/myfile.

[2019-06-21 16:53] AmirHosseinHmd commented on #9432
To be honest, since the first day that I bought my 4K laptop, this problem has been a big pain in the ass for me. It's not just about Electron apps, my whole experience when is sluggish and laggy when I'm on 4K resolution. Windows animations are also laggy.

I posted several issues and questions in the Intel website, Microsoft Feedback Hub, and now the VS Code team, but no one has ever really care

[2019-06-21 17:09] andreskebe opened #75904 "Breadcrumbs open-to-side with keyboard no longer working?"
- VSCode Version:  1.35.1
- OS Version: Mac OS 10.14.5

Steps to Reproduce:

1. Select breadcrumbs
2. Select a file
3. hit alt-enter on keyboard to open the selected file to the side
4. Nothing happens

Does this issue occur when all extensions are disabled?: Yes

When i alt (that's my modifier for open to the side, working everywhere else) click on the breadcrumbs, the file is opened to the side.

[2019-06-21 17:18] orta commented on #71827
Hah, that image came up on my Microsoft on-boarding this week - you're now famous @alexanderby 🎉

[2019-06-21 17:20] luabud commented on #75855
I guess it could be more discoverable. In user studies no one noticed this option

[2019-06-21 17:23] tomocafe commented on #75903
Also happening in the stable release;

[code]

[2019-06-21 17:24] nagman opened #75905 "[scss] linter update for variables in #{}"
- VSCode Version: 1.35.1
- OS Version: Ubuntu 18.04

In this piece of SCSS code:
[code]

the `#{$i}` is parsed as an **id** (whether it's not), so the linter throws me that I shouldn't be using id selectors:

`Selectors should not contain IDs because these rules are too tightly coupled with the HTML`

![image](https://user-images.githubusercontent.com/16116486/59940091-1746e380-945a-11e9-85fa-0146

[2019-06-21 17:26] tomocafe commented on #75903
`code --help` on the local host shows the `--goto` switch, but the remote version of the `code` executable doesn't have it.

From the integrated terminal, `code --help` shows much less.

Request is for this version of `code` to also support the `--goto` switch.

[2019-06-21 17:47] alexeigs opened #75906 "Cmd + click on terminal link doesn't work on some computers"
Scenario A:
Installed vscode on Mac Book Pro 2018 edition with Settings A (imported)

Scenario B:
Installed vscode on brand new Mac Book Pro 2019 edition with Settings A (imported)

Scenario A2: Uninstalled VSCode, installed all available mac updates, reinstalled vscode

Both in A and A2 I cannot click on any error links in the terminal `ERROR in /Users/.../...` while in B and also on the computer

[2019-06-21 17:55] FrancoisMongeau commented on #67303
I have the same issue. I searched and there are many similar issues (eg #34943, #34769, #19890) but these are not exactly the same (I think there is some confusion between these related issues). It's difficult to understand the issue ( well described above by @pedrogarci ) as you need to toggle multiple settings.

Plus the app does not behave the same when the user drags the file onto the opened a

[2019-06-21 18:08] graph opened #75907 "broken symlinks not showing in treeview"
- VSCode Version: Version 1.35.1 (1.35.1)
- OS Version: Mac Mojav 10.14.5 (18F132)

Steps to Reproduce:

1. mkdir a; cd a
2. ln -s yay what
3. Checkout the file tree in vscode. Directory a appears to be empty.

Does this issue occur when all extensions are disabled?: Didn't check

There seems to be other issues regarding this but they are all closed with no sign it's been fixed. And I'm experienci

[2019-06-21 18:12] cjbrunner opened #75908 "Live share gets out of sync"
Issue Type: <b>Bug</b>

Sometimes when working with one or more people on a project, our screens can get out of sync.  He will see totally different changes to text on his screen or vice versa.  It's relatively rare (every couple days or so), but folks have to leave and rejoin to get everyone back on the same page.

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12

[2019-06-21 18:13] pedrogarcia commented on #67303
I think in one of the issues @bpasero said that the problem was with a dependency, and therefore they would not fix it.

I guess that not all text editors are born equal, as this one does not consider text editing an important feature enough for a reproducible bug that corrupts file to be treated as important?

Anyway @FrancoisMongeau, you shouldn't be using vscode fora ny important text editing,

[2019-06-21 18:15] ws93 commented on #75864
Issue I submited in Electron repo: electron/electron#18925

[2019-06-21 18:19] #75508 closed

[2019-06-21 18:33] mgabeler-lee-6rs commented on #59040
This also means that you can't make double clicking the workspace from a file browser open it in vscode, unless you're OK with all text files opening in vscode, which is probably not what most folks want.

[2019-06-21 18:37] rebornix commented on #75641
Latest master allows you to set max tokenization line length limit without reloading the workspace, which should unblock our self hosting. The next step should be looking into why onigurma-textmate performs much worse than native.

[2019-06-21 18:42] tomocafe commented on #75903
Moved to microsoft/vscode-remote-release/issues/768

[2019-06-21 18:42] #75903 closed

[2019-06-21 18:47] srappl commented on #33110
I agree, this feature would be great to see.

[2019-06-21 18:52] mjbvz opened #75909 "Status bar items with only a tooltip and no command not showing any details on hover"
Issue Type: <b>Bug</b>

**Repo**
1. In an extension, create a status bar item:
[code]

1. Hover over the status bar item

**Bug**
The expected tooltip is not shown

VS Code version: Code - Insiders 1.36.0-insider (9ff8ae037e8e6109d65e4b5e3eb3dc60cc187e21, 2019-06-21T05:18:36.348Z)
OS version: Darwin x64 18.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM

[2019-06-21 18:58] TheAifam5 opened #75910 "C/C++ Debugger handles the spaces in "program" wrong."
- VSCode Version: 1.35.1
- OS Version: ArchLinux

Steps to Reproduce:

1. Set in `program` path like `/home/theaifam5/My Documents/testapp`.
2. Voila.

Does this issue occur when all extensions are disabled?: Yes

[2019-06-21 19:01] TheAifam5 opened #75911 "C/C++ Does not start debugging"
- VSCode Version: 1.35.1
- OS Version: ArchLinux

Steps to Reproduce:

Dont know how but here is the script:
[code]

Does this issue occur when all extensions are disabled?: Yes

Just shows: “Superuser

[2019-06-21 19:19] #75467 closed

[2019-06-21 19:30] VIMGAS opened #75912 "Allow configuration of terminals/commands to run at workspace startup"
# Feature Request

I'm usually involved with microservices development, therefore, I tend to have multiple services/projects that needs to be up and running locally before I can start developing anything.

It would be great if workspace configuration files could support a true/false option to determine wether or not a terminal should be spawned for a given folder of the workspace at vscode startup

[2019-06-21 19:34] Leo1003 commented on #71945
@enzious  Currently, not to open two directories in single vscode window can avoid it to use nsfw as its watcher. This is the method I use to prevent this bug before the bug is fixed in vscode.

[2019-06-21 19:35] Tyriar commented on #75912
You can accomplish similar to this right now via extensions (https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-terminals) or by using tasks

[2019-06-21 19:36] #75912 closed

[2019-06-21 19:40] minkir014 opened #75913 "Can vscode complete normal text everywhere?"
I'll explain that. Can vscode complete `sub` word in here??????

![all](https://user-images.githubusercontent.com/42807112/59947212-e7eda200-946c-11e9-985e-39a7c8bd5b93.jpeg)

In order to know some parameters of the `url` of my web app.

[2019-06-21 19:46] enzious commented on #71945
I compiled vscode with nsfw v1.2.4 and it's still an issue with the two memory leak fixes.

![image](https://user-images.githubusercontent.com/4645608/59947633-56157300-9433-11e9-9dc0-d9e2e73fad0e.png)

[2019-06-21 20:27] rebornix commented on #75833
@emmajiugo could you please share more information about the platform, OS version, VS Code version, etc to help troubleshoot?

BTW, can you go to keybindings editor and search for alt + z and share the result as well?

[2019-06-21 20:31] DerHulk commented on #75894
Thanks :-). Yes i think this feature could be very flexible. Maybe it must implement a configuration for subset of lines on each level. Also some sort of anker-system could be required to ensure the code-mixing will work.

[2019-06-21 20:35] phyllisstein opened #75914 "Simple Dialog breaks basename logic and fuzzy matching for recents list."
Hey Coders! I've been thoroughly enjoying the recently added Simple Dialog---but for this one glitch that's been driving me up the wall. The cause of the problem just hit me out of the blue, and I figured I would drop you a note.

The issue is that folders opened via the Simple Dialog are subtly broken when they appear in the Open Recent menu later. Whereas directories added via other methods---dr

[2019-06-21 20:46] enzious commented on #71945
Here's a memory image of the memory leak:
![image](https://user-images.githubusercontent.com/4645608/59950521-caecab00-943b-11e9-8f9c-467c38a064e7.png)

[2019-06-21 20:48] Somnium7 commented on #68237
@DOHere I meant UTF8 as standart encoding. When dealing with legacy software (and hardware), it's often not possible to convert your codebase to UTF8 because then it won't work.

[2019-06-21 21:01] mjbvz commented on #75890
PRs welcome. Keep in mind though this is not an official API. We added it for the angular folks to experiment with and it has not been actively maintained and may be changed/removed in the future

[2019-06-21 21:10] mjbvz commented on #75864
Thank you. I'm going to close this as an upstream issue then since I do not think we can work around it on the VS Code side

[2019-06-21 21:10] #75864 closed

[2019-06-21 21:14] misolori commented on #8017
## ⚠️  Icon Exploration Will Be Temporarily Disabled
A heads that I'm going to temporarily disable the icon exploration as we're approaching the end of our [iteration plan](https://github.com/microsoft/vscode/issues/75103) and our [endgame](https://github.com/Microsoft/vscode/wiki/Development-Process#end-game) starts next week. We were hoping to have this ready for this month's iteration but will

[2019-06-21 21:15] mjbvz commented on #75877
This slowness is https://github.com/microsoft/TypeScript/issues/30535. We do show a  message in the status bar while we are checking if a rename can be performed:

<img width="378" alt="Screen Shot 2019-06-21 at 2 13 58 PM" src="https://user-images.githubusercontent.com/12821956/59951798-d5ed0e80-942e-11e9-8b37-fda5aa54b9b6.png">

Unfortunately, even we a different UI, the rename operation would s

[2019-06-21 21:15] #75877 closed

[2019-06-21 21:16] mjbvz commented on #75908
Please file this against the live share extension: https://github.com/MicrosoftDocs/live-share/issues?utf8=✓&q=is:issue+is:open+sort:reactions-%2B1+

[2019-06-21 21:16] #75908 closed

[2019-06-21 21:17] mjbvz commented on #75878
Please start by filing this issue against your vue extension

[2019-06-21 21:17] #75878 closed

[2019-06-21 21:19] enzious commented on #71945
If you break it up like this it looks like a struct leak:
![image](https://user-images.githubusercontent.com/4645608/59951971-46e8f200-9440-11e9-950a-4b55fcc97ae7.png)

[2019-06-21 21:20] rebornix commented on #75844
@svipas are you asking for changing the color for active line number?

[2019-06-21 21:21] mjbvz commented on #65413
Seems the issue is still in 4.0 in my testing. Here's the electron issue currently tracking this: https://github.com/electron/electron/issues/15718. I'll also test in the exploration builds just to confirm it hasn't been fixed yet, so pushing this to July

iframe based webviews do not seem to suffer from this issue

[2019-06-21 21:24] #74454 closed

[2019-06-21 21:25] dhiviyadhanasekar opened #75917 "Cmd Click does not work in some cases after VScode update"
I recently updated VS code to Version 1.35.1 (1.35.1). I command click on some objects that have been exported using `default export` in that file and it no longer take me to that file. It continues to stay where it is.

![Jun-21-2019 14-24-29](https://user-images.githubusercontent.com/6762810/59952284-71cb4a00-9430-11e9-851b-b6363169b8e6.gif)

[2019-06-21 21:37] Kaos-Industries opened #75918 "Quickly swap selections"
I've recently started experimenting with VS Code after having been a Sublime Text 3 user for several years. One of my favourite and most-used features/key bindings of ST3 was the ability to quickly swap two selections of text with Ctrl+T.

By contrast, the closest analogue I've found to this key binding in VS Code is the ability to swap lines with Alt+X. This:

a) limits the selection to be swappe

[2019-06-21 21:48] oliversalzburg opened #75919 "Files not shown in sidebar and are duplicated in index"
Issue Type: <b>Bug</b>

For whatever reason, it appears certain files in a certain project of mine are listed twice in the file index.

![image](https://user-images.githubusercontent.com/1658949/59952940-55ee9500-947e-11e9-9b41-92089d7e929b.png)

They are listed once under the path relative to the project root and once with their absolute path.

In this example, the subject file is `src/js/layout/

[2019-06-21 21:52] mjbvz commented on #75430
@Juan-F-Moncada  Yes, that error would explain why you don't see any errors or intellisense.

Can you please try collecting the TS server logs so we can investigate what the root cause of this may be:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a `tsserver.log` file

[2019-06-21 21:54] mjbvz commented on #74992
@marques-p44 Please open a separate issue

[2019-06-21 21:59] Kaos-Industries commented on #75918
See here: https://techtalkdc.com/transpose-or-why-sublime-text-is-a-better-text-editor-than-visual-studio/.

[2019-06-21 22:05] asztal opened #75920 "TypeScript intellisense does not work when logging in as multiple users on Linux"
- VSCode Version: 1.35.1
- OS Version: Ubuntu Bionic 18.04.02

Steps to Reproduce:

1. Log in as user1
2. Launch VS Code
3. You can use TypeScript intellisense
3. Log out
4. Log in as user2
5. Launch VS Code
6. You cannot use TypeScript intellisense

It tries to write to files in /tmp/vscode-typescript, but that directory is not writeable because it already exists and is owned by user1

Does this

[2019-06-21 22:07] mjbvz commented on #75821
I can't repo this in a clean VS Code insiders instance with no settings. Also, please share the complete source of where you are pasting

[2019-06-21 22:09] basnijholt opened #75921 "φ != ϕ, unicode operators show up as the same"
Reproduce with
1. Paste these characters into a file:
[code]
2. Control + F to find, search for one of them, and both will show up.

These characters are different! I spend a long time to debug a Python program because
[code]

This was also reported here https://github.com/microsoft/vscode/issues/61275 but the issue is locked and closed.

[2019-06-21 22:13] minkir014 commented on #75913
Any look on this????????????????????????????????

[2019-06-21 22:15] mjbvz commented on #75880
I cannot reproduce this

![Jun-21-2019 15-12-47](https://user-images.githubusercontent.com/12821956/59953894-0f297c80-9437-11e9-93b8-b1f030529626.gif)

Are you sure that the language mode of the `.css` file is set to css and not typescript (this is shown in the lower right corner of the status bar)

[2019-06-21 22:35] mjbvz commented on #75061
For actual serving up of the resources themselves, I think the service worker based virtual server approach I've taken for serving up webview content could be used here too. Here's how it could work:

1. Instead of using a unique protocol (`vscode-remote`), we rewrite remote resources to a unique endpoint (`/vscode-remote/authority/path/to/resource`) that still uses http or https.
1. When running

[2019-06-21 22:37] mjbvz commented on #35592
@felixfbecker  Can you please let us know if you can still reproduce this issue

[2019-06-21 22:43] mjbvz commented on #72395
I can't repo this with a simple workspace test:

![Screen Shot 2019-06-21 at 3 43 36 PM](https://user-images.githubusercontent.com/12821956/59954760-5a458e80-943b-11e9-8f9e-a5df24cd9468.png)

Please share an example project that demonstrates this

[2019-06-21 22:46] mjbvz commented on #62742
I cannot repo this. Can you please test in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled.

If you still see the issue:

* Does it happen in all projects you try it in, or only in particular?
* Are the specific steps that trigger this?

[2019-06-21 23:03] lramos15 opened #75922 "Unable to switch default terminal if WSL is disabled"
Issue Type: <b>Bug</b>

If the WSL feature is disabled the select default terminal from the terminal drop down will not work. The developer tools will log that it cannot find `wsl.exe` because it does not exist due to the feature being disabled.

1. Make sure WSL is disabled `Disable-WindowsOptionalFeature -Online -FeatureName Microsoft-Windows-Subsystem-Linux`
2.  Restart your machine
3. Open VS

[2019-06-21 23:04] deepak1556 commented on #75090
https://gist.github.com/deepak1556/899491631e1c7e5e81c4252b6ff91163 is a simple repro without involving vscode. Dragging outside webview element shouldn't cause issues while dragging out eats the events.

[2019-06-21 23:05] Colengms opened #75923 "No High Contrast selection highlight for TextEditorDecorations when on High Contrast theme"
Version: 1.35.1 (user setup)
Commit: c7d83e57cd18f18026a8162d042843bda1bcf21f
Date: 2019-06-12T14:30:02.622Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.18362

This may be a feature request, however it has to do with a potential deficiency wrt accessibility, so opening as a bug.

Using the default High Contrast theme, selecting text will effectively

[2019-06-22 00:07] aaronstackpole commented on #75900
Problem appears to be resolved, possibly was a local caching issue.

[2019-06-22 00:07] #75900 closed

[2019-06-22 00:25] aamarks commented on #20652
I think most of the use cases are covered already by individual token settings and workspace settings that already work. Pretty reasonable to just set the theme for the workspace you use for C+ files differently from the workspace for JS projects.

It would be more obvious you can do that if the menu for `file : prefences : color theme` just opened the settings editor to workbench:color theme wher

[2019-06-22 00:37] ndac-todoroki commented on #20652
I think many workspace includes several languages, especially Markdown. Many people in this thread are wanting to change color themes for markdown.

[2019-06-22 00:52] gregtandiono commented on #9432
**Opening/Closing sidebar** does not do anything for me, performance stays the same.
**Switching tabs** also does not improve performance.

[2019-06-22 00:53] gregtandiono commented on #9432
Maybe you can open up an issue in Electron's repo instead?

[2019-06-22 01:09] luckhpy opened #75925 "debugger webpack: Cannot find module 'webpack-command'"
I want to debugger webpack and encounter an error Cannot find module 'webpack-command', i have installed webpack-cli. here is my config

    {
      "type": "node",
      "request": "launch",
      "name": "node",
      "program": "${workspaceFolder}/node_modules/webpack/bin/webpack.js",
      "args": ["--config", "./build/dev-server"]
    }

[2019-06-22 01:51] zcbenz commented on #75090
@deepak1556 I confirm this is a bug of Chrome, you can reproduce by loading this chrome app in Chrome browser:
https://gist.github.com/zcbenz/67f83babcdee37d7c3ee345bab775737

[2019-06-22 02:07] kaitlynbrown opened #75926 "Glitchy (unusable) Terminal"
- VSCode Version: 1.35.1
- OS Version: Fedora 30

Steps to Reproduce:

1.Open the terminal
2.Try to type anything

Does this issue occur when all extensions are disabled?: Yes

The terminal is completely [unusable](https://imgbox.com/g/DDB0VtjyDE)
Though I suppose it makes for some interesting abstract art

[2019-06-22 02:20] developers-youcong commented on #75876
step1:
Start listening
![image](https://user-images.githubusercontent.com/45055576/59958237-cf65a200-94d5-11e9-9dda-6ee59d78a1ac.png)

step2:
Run it by >.\scripts\code.bat
![image](https://user-images.githubusercontent.com/45055576/59958284-b4dff880-94d6-11e9-9a7b-0bedd08e7d76.png)

step3:
After executing the code. Bat command, an interface will pop up
![image](https://user-images.githubuserconten

[2019-06-22 02:23] Tyriar commented on #75926
There's probably an issue with your graphics drivers, you can turn off GPU acceleration with the setting:

[code]

[2019-06-22 02:23] #75926 closed

[2019-06-22 02:28] edgargrs commented on #74453
https://github.com/microsoft/vscode/issues/63779
I was suffering for the same thing with dash (-)
thank you very much to all :+1:

[2019-06-22 04:39] waguirre opened #75927 "mini map when I click on it does not redirect (INSIDER)"
- VSCode Version: 1.36-Insider
- OS Version: Windows 10

Steps to Reproduce:

1. When  click into minimap

Does this issue occur when all extensions are disabled?: Yes/No

Yes

[2019-06-22 06:26] sov1178 opened #75928 "Strange output to console when running code from the console"
- VSCode Version: 1.35.1
- OS Version: Windows 8 x64

Steps to Reproduce:
1. Open windows console
2. Run code using comand similar to:
`code test.c`

The strings appear from time to time on the console from which code was started:
[code]

I did search for the same issues, read those topics and checked:
1. I have correct PATH settings (it points to VSCode/bin folder).
2. I am **absolutely** sure `c

[2019-06-22 06:45] CapZhang opened #75929 "侧边栏目录层级不明显"
侧边栏的上一级目录和下一级目录之间只差24px，缩进太小了，而且没发现有地方可以调整，也没有缩进线辅助识别，当文件变多之后，很难管理

![image](https://user-images.githubusercontent.com/19522615/59960541-3f871e80-94fc-11e9-8386-cb39e0038e22.png)

[2019-06-22 07:10] Skriptach commented on #75821
Hi @mjbvz
Turns out it depends on ES6 private field usage.
It reproduces if insert after line containing # char. And not if before

[code]

[2019-06-22 07:34] hsamfm commented on #75839
Thank You!

[2019-06-22 07:38] CapZhang commented on #75929
![image](https://user-images.githubusercontent.com/19522615/59961003-bd9af380-9503-11e9-8ba2-1587b319d428.png)

经过一个小时的奋战，最后朋友告知了我这个配置项

[2019-06-22 07:38] #75929 closed

[2019-06-22 07:47] EmonHaque commented on #74716
@egamma, it works on Linux KDE Neon 5.16 but not on Windows 10. Here's how it is on Windows 10 1903:

![Capture](https://user-images.githubusercontent.com/51259204/59961084-09de3780-94f4-11e9-84de-e3b444e4b3c7.PNG)

[2019-06-22 08:07] svipas commented on #75844
@rebornix Sorry for not being very clear. I'm asking for config to show active line number or no. Currently, we can show/hide currently active line, but there's no setting for active line number we need to do it manually by editing color scheme.

`"editor.renderLineHighlight": "none",` it would be like this setting but only for active line number since some of us want to disable highlight.

[2019-06-22 08:28] idanpa opened #75930 "Hide editor context menu items"
After installing extensions the editor's context menu may become really bloated and hard to reach.
Extensions authors usually give the option the remove their menu items, but it would be nice to be able to remove the default ones.

I usually not using  any of the `Copy`/`Cut`/`Paste` menus, and I certainly not using the `Command Palette...` item (when I use the command palette my hands are already

[2019-06-22 08:44] tamuratak opened #75931 "WebviewEditorInset cannot display local SVG files."
- VSCode Version: 1.36.0-insider (1.36.0-insider) 9ff8ae037e8e6109d65e4b5e3eb3dc60cc187e21 2019-06-21T05:08:55.145Z
- OS Version: macOS High Sierra 10.13.6 (17G7024)

Steps to Reproduce:

1. Execute the following sample code of VS Code extension.
2.  A local file, `sample.svg`, is not displayed in `WebviewEditorInset` .  `sample.png` is displayed.
3. In WebviewPanel, both the files are displayed.

[2019-06-22 08:48] markmail opened #75932 "Debug failed to load: Process picker failed (your 131072x1 screen size is bogus, expect trouble)"
Debugger failed to load when using with "attach by process ID".

I'm running VS Code connected to WSL 2 with Ubuntu 18.04.2 LTS.

I had the same code running in pure Windows environment, and debugger launched fine. I start getting this screen size is bogus error when I moved my code to WSL 2, unsure if it's WSL related or VS Code.

Version: 1.35.1 (system setup)
Commit: c7d83e57cd18f18026a8162d042

[2019-06-22 08:53] reinierkors opened #75933 "Git Bash Segmentation Fault"
Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Open VS Code
2. Open new terminal (set to git bash) by adding: "terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe"
3. Type ls or git status a couple of times
4. Get error: 'Segmentation Fault'

This has only happened recently, I've tried installing VS Code insiders with no extensions, same result. I've tried updating git bash

[2019-06-22 09:06] petroemil commented on #10759
[The new Windows Terminal will be distributed through the Store](https://www.microsoft.com/en-us/p/windows-terminal-preview/9n0dx20hk701).

So tell me again how is it not possible to do the same thing with VS Code? It's just a pretty UI on top of a bunch of CLI tools. And the Windows Terminal proves that those CLI tools can be accessed from a UWP/Store app.

[2019-06-22 09:16] xxsong5 opened #75934 "gd(go to definetion) jumped twice, the first time is correct, but the the second time jump to uncorrect location"
- VSCode Version: 1.35.1
- OS Version: windows 7

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-06-22 09:39] xxsong5 commented on #75934
with VscodeVim extension

[2019-06-22 10:30] PaulWang1905 opened #75935 "gnome wouldn't run vscode on double click"
- VSCode Version: 1.36.0-insider
- OS Version: archlinux x64
- kernel version: 5.1.12

Steps to Reproduce:

After double clicking on code-insiders, gnome prompts a message "There is no application installed for "shared library" file type.
 However, VS Code successfully launches via terminal.
 I think it is caused by gcc compile option.

[2019-06-22 10:45] AmirHosseinHmd commented on #9432
I think I didn't make myself clear. I meant do you experience any kind of lag or slowness when opening/closing sidebar and switching between tabs? Because that's my main problem.

[2019-06-22 11:46] reinierkors commented on #75933
Nvm, doesn't seem to be related to VS Code, happening on Atom as well.

[2019-06-22 11:57] reinierkors commented on #75933
For anyone getting the same error, I've managed to resolve it: https://github.com/git-for-windows/git/issues/2242

[2019-06-22 11:57] #75933 closed

[2019-06-22 12:13] Shimul22 opened #75936 "VS Code Tab key respond too slow for PHP while Emmet is active"
The problem is: When I enabled "Trigger Expansion On Tab", and works on PHP and press tab for taking four space (default behavior of Tab key), it takes too much to respond my request. I mean it takes too much to go four space from current position.

[2019-06-22 12:34] sptndc opened #75937 "[Bug] Terminal"
When I want to open a terminal in vscode, what appears is a warning 'The window has crashed' and asks to reopen. This has never happened in the previous version, please fix this issue quickly.

![2019-06-22](https://user-images.githubusercontent.com/20803810/59963974-a02a5180-9524-11e9-8b9e-e85cfb860272.png)

- VSCode Version: 1.35.1
- OS Version: Windows 10 Pro 1903

Steps to Reproduce:

1.
2.

D

[2019-06-22 12:45] svipas opened #75938 "Diff gutter show on mouseover"
SCM diff gutters are useful, but too noisy if you're editing a lot. I would like to have a setting like this: `scm.showDiffDecorations` or something like this with `mouseover` and `always`. So when I hover the gutter diff decorations would be visible the same like `editor.showFoldingControls`

[2019-06-22 13:42] thomas-darling commented on #74539
I've encountered this bug a few of times too, and I think they ware all within the past month or so.
I'm not entirely sure what happens, so this may not be exactly right, but I _think_ it's something like this:

When you try to make a copy of a file, by pressing the `option` key (I'm on macOS 10.14) while dragging the file to the same folder as the file currently resides in, it should create a cop

[2019-06-22 13:42] #75875 closed

[2019-06-22 13:44] Anekenonso opened #75939 "Tab and backspace bug"
The backspace and Tab keys on the keyboard occasionally stop working. likewise some keys on the keyboard.

Does this issue occur when all extensions are disabled?: No

[2019-06-22 14:22] whitecolor commented on #75539
Probably make this configurable?

[2019-06-22 14:26] amanix007 opened #75940 "code helper process takes a lot of cpu power in my mac book pro 2015 13'"
Issue Type: <b>Performance Issue</b>

cwd
/
txt
/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper
txt
/Applications/Visual Studio Code.app/Contents/Frameworks/Squirrel.framework/Versions/A/Squirrel
txt
/Applications/Visual Studio Code.app/Contents/Frameworks/ReactiveCocoa.framework/Versions/A/ReactiveCocoa
txt
/Applications/Visual Studio Code.app/C

[2019-06-22 14:42] SHxKM commented on #74539
While the above is alarming on its own, I’m 100% it’s *not* what happened in my case. I’ll leave it to the moderators to decide whether to split this thread.

[2019-06-22 14:59] Morgy93 opened #75941 "Git source control fails for wsl 9P location"
- VSCode Version: 1.35.1
- OS Version: Microsoft Windows [Version 10.0.18362.175]

Steps to Reproduce:

1. Open some `\\wsl$\{distro}` path
2. `git init`
3. Open with vscode
4. See source control failing
![image](https://user-images.githubusercontent.com/7961978/59965416-f049e980-950d-11e9-8a3a-b4bf3d9bc42f.png)

For bigger git repos it looks funny, because it tries to do something, but then just

[2019-06-22 15:03] Morgy93 commented on #75941
After submitting I found out about the git output window and it seems that the git integration runs with cmd.exe in the background.
Which of course doesn't support UNC paths 😭

Is there any known workaround to this?
Else we may just close this one. 😞

[2019-06-22 15:08] renevaessen opened #75942 "Settings panel unusable with notebook trackpad"
The settings panel is unusable on a small screen laptop without external mouse.

Why?

The only way to see all settings on a configuration-section, scrolling is required due to the small screen.

But this is only possible by dragging the very small indicator/handlebar of the vertical-scrollbar using the trackpad of the notebook.

And this is moving way to fast due to the scrollabe pagesize.

I tri

[2019-06-22 15:16] darkalfx commented on #25196
This bug has been fixed in later version of Electron.

**However**, VS Code **STILL** deletes the file when dragging them from FTP into the Editor Group:
![image](https://user-images.githubusercontent.com/22474506/59965656-215ef580-94df-11e9-9bc3-59ecb6e3321c.png)

So the bug is definitely still present.

[2019-06-22 16:07] dslpp056193 commented on #71996
I have the same problem with latest vscode.

[2019-06-22 17:16] AmirHosseinHmd commented on #9432
@bpasero Would you please take a look at this issue again?

[2019-06-22 18:52] hedgerh commented on #4490
@rstriquer hey hey, i dont believe the API change i made has been released yet, unfortunately.  let me check and see.

[2019-06-22 19:49] a-x- opened #75943 "the Outline json boolean icon: make it more clear and informative"
![telegram-cloud-photo-size-2-5219784569736244186-x](https://user-images.githubusercontent.com/6201068/59968219-f99f7a00-953e-11e9-9629-94082319fdad.jpg)

Actual checked/unchecked checkbox icon would be more clear and informative

Something like this:
e.g. `"private": true`
![image](https://user-images.githubusercontent.com/6201068/59968287-ea6cfc00-953f-11e9-812f-b83c91b39cb2.png)

[2019-06-22 19:52] a-x- commented on #75943
Current icon: [BooleanData_16x.svg](https://github.com/microsoft/vscode/blob/master/src/vs/editor/contrib/documentSymbols/media/BooleanData_16x.svg)

[2019-06-22 20:09] a-x- commented on #75943
I'm gonna make it

[2019-06-22 21:07] a-x- commented on #75943
UPD. Checkbox icon should be styled as disabled (in gray colors), so user will not expect it's clickable

[2019-06-22 21:23] YisraelV commented on #73101
I am looking into this.

[2019-06-22 21:44] thomasgassmann opened #75944 "Allow inputs in launch task to set args array"
As far as I know, it is currently not possible to specify the `args` property of a launch task via its input.
For example, I have the following `launch.json`:
[code]
Yet if I have a more complex CLI I want to debug, there's no way of specifying multiple arguments. I've also tried having a separate input for each argument, but that doesn't seem like a clean solution either, because the number of ar

[2019-06-22 21:52] Ben-Voris opened #75945 "Documentation for running a Cygwin shell causes build to fail"
Following the instructions for setting "terminal.integrated.shellArgs.windows" given at https://code.visualstudio.com/docs/editor/integrated-terminal#_can-i-use-cygwins-shell-with-the-terminal-on-windows
causes `run build task` using Cygwin to fail with:
[code]

A task window opens and shows a bash prompt. `make` runs correctly at that
prompt.

`run build task` correctly runs Cygwin make after rem

[2019-06-22 21:53] #75072 closed

[2019-06-22 22:06] Ben-Voris opened #75946 "Error: Failed to create terminal for task caused by bad value for terminal.integrated.shellArgs.windows"
Issue Type: <b>Bug</b>

# Error: Failed to create terminal for task all

When settings.json contains
`"terminal.integrated.shell.windows": "C:\\cygwin64\\bin\\bash.exe"` and
`"terminal.integrated.shellArgs.windows"` is `" "` instead of
`[" "]`, this appears in the "Output" > "Log (Window)":
[code]

Adding documentation on this error, suggesting that one look carefully
at the value of `"terminal.in

[2019-06-22 23:02] fgarcia commented on #75877
My main concern was never the slowness. It was about how complicated it was to perform and discover the action.

It is not exposed as a command/action or a context menu. The only way to perform the action is through  drag and drop. Which is a big problem when working on a laptop (small screen) or big code trees (like a monorepo)

@mjbvz Please, if you can, remove the "perf" tag. Also my status bar

[2019-06-22 23:07] fgarcia commented on #75877
@sandy081 I've just re-edited the issue to focus on my concern. I hope it is clear now it was not really a typescript problem, but an issue with the editor interface

[2019-06-22 23:50] Tiedye commented on #3025
Is this on the radar still?  It been quite a while waiting for this to get addressed.  It feels like a big gap in an otherwise super polished application.

[2019-06-23 00:18] misaelvergara commented on #3429
This would make life so much easier. Upvote! +1

[2019-06-23 02:42] i164j9 commented on #75130
if I had multiple monitors downloading the documentation and viewing in a browser would be fine, it would be nice to have something I can put on a tablet and reference when needed off to the side rather than having to ALT+TAB between windows.

[2019-06-23 02:42] jeanp413 opened #75947 "Custom context menu disappear right after opening in preferencesEditor"
Steps to Reproduce:

1. Set `"window.titleBarStyle": "custom"`
2. Open settings JSON editor
3. Left click on any ✏️ next to a setting
4. No context menu shown

If I use right click, context menu does show.

Related to #71623

[2019-06-23 02:43] Astrantia commented on #75871
@isidorn I'm doing exactly that and I know it's not because of my mistake because it's been working sometime in past. It's been breaking haptically and then continued working randomly, now it's broken again. I'm on Windows 10 and using Exploration build. By the way exploration hasn't been updated in a while. What do I report for information?

[2019-06-23 02:45] Dreamurrrr opened #75948 "terminal.integrated.shellArgs.windows does not query file paths properly when using enviroment variables"
Note: This issue is similar to bug #65817, though it lacks details, clear examples, and talks about different environment variables in different syntaxes.
Edit: I just noticed that issue (#65817) is marked as a feature request, not a bug. I am filing a bug report.
Edit 2: This issue is similar to bug #57452, however, it is from a older version of VS Code and the issue is locked.

- VSCode Version:

[2019-06-23 03:26] zctmdc commented on #75587
我更换了一个主题,然后他就自己修复了?
I changed a theme, and then fixed it ?

[2019-06-23 04:04] hoshinokanade opened #75949 "TypeScript intellisense auto import not working with left click on suggested items"
- VSCode Version: 1.35.1 (June build)
- OS Version: Windows 10 x64 10.0.17134

Steps to Reproduce:

1. Get a typescript file
2. Try to enter a function to make TypeScript intellisense to suggest.\
In this example I use `readfil` so that I can get `readFile` from `fs`, but it could be any name that require an auto import, e.g. from node_modules or from your code.

![image](https://user-images.githu

[2019-06-23 04:19] hoshinokanade commented on #75949
Tried with the insider build, the issue disappears
[code]

[2019-06-23 04:37] Dreamurrrr commented on #75937
VS Code works for me. Try uninstalling your extensions before attempting to open it again. You can do this by putting this in your File Explorer directory bar and then deleting all of the folders inside of it: `%USERPROFILE%\.vscode\extensions`

[2019-06-23 06:17] 232650413 opened #75950 "窗口出现故障"
Issue Type: <b>Bug</b>

编译SCSS时出现“窗口出现故障”，重新打开也是一样。

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T15:16:14.389Z)
OS version: Windows_NT ia32 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2410M CPU @ 2.30GHz (4 x 2295)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<

[2019-06-23 07:34] stefanstranger commented on #75333
Hi Daniel,

Do you need more information from me?

Stefan [MSFT]

[2019-06-23 07:42] gregtandiono commented on #9432
No, didn't experience lag for opening/closing sidebar and switching between tabs.

[2019-06-23 07:50] kulek1 opened #75951 "Interface doesn't scale - blurry fonts on Retina - macOS"
- VSCode Version: 1.35.1
- OS Version: macOS Mojave 10.14.5

Does this issue occur when all extensions are disabled?: Yes

I have a problem with interface scaling on Retina display.
I'm using external QHD monitor and VSCode is rendered correctly on that display.
Unfortunately when I disconnect it or just display the editor on macbook pro's display then UI looks blurred and it doesn't scale.

I thi

[2019-06-23 07:59] filipw commented on #19694
@jrieken in the more complex completions in Roslyn's case, where Roslyn needs to heavily modify the entire document (i.e. additional using import on completion), Roslyn will actually compute all the changes into a single text change - new text string + range to apply it.

With the current VS Code architecture, it's very difficult to use such a change because we need to manually "uncollapse" which

[2019-06-23 07:59] fvrlak commented on #49766
If your file has name `myfile.py`
than you would type
`sudo chmod 777 myfile.py` - not save thought but works

[2019-06-23 08:42] Leo1003 commented on #71945
I currently can't figure out why some memory are not freed until the program terminted. I think it may related to c++'s allocator.

[2019-06-23 08:55] Jayvirrathi opened #75952 "Extension not reloaded & working"
When vscode insiders is updated then it dont work properly.
No extension are working.vscode insiders is not reloaded when any extension is added or removed.So all extension dont load.Not working Properly as extension are not loaded.

[2019-06-23 09:30] rohita77 opened #75953 "Open multiple workspace each with their own them/color/fonts"
Some time we need to  open multiple projects to work in parallel and cross reference code. Each project can be opened in different instance/workspace of VS Code. However, we can select different theme for different windows of VS code. This simple feature can make working with multiple projects extremely seam less

[2019-06-23 09:44] AmirHosseinHmd commented on #9432
Did you use to experience any lags in those areas (opening/closing sidebar, switching between tabs) before? In the normal build?

[2019-06-23 09:45] AmirHosseinHmd commented on #75111
@rebornix Pay attention to this issue, please.

[2019-06-23 11:30] mariusa opened #75954 "More standard Fedora install via dnf config-manager"
Instead of having to copy-paste this
[code]
it's more simpler/standard to use this
[code]
This requires you to create the vscode.repo somewhere.

Thanks!

Source: https://code.visualstudio.com/docs/setup/linux

[2019-06-23 11:31] brpaz opened #75955 "Snippets: Scope by specific file or pattern"
Global snippets already support being scoped by language and language file snippets are naturally scoped.  I would like to expand that "scoping" logic to specific files by matching the filename, for example.

A good use case for this, let's say I want to create snippets for travis.yml file. Right now what I do is to create the snippet scoped to YAML language.

The problem is that it will appear fo

[2019-06-23 12:18] Coderx7 opened #75956 "[Freature Request] Show System Context Menu when Click on a file in the workspace"
It would help a lot if you could add the capability by which, when you click on a filename in the workspace (for example a zip file, ) you'll be able to access the system context menu (as if for example the file resides on your desktop and you right click on it), and choose an operation( in our case, e.g. extract that zip file, etc.)

[2019-06-23 13:25] #75925 closed

[2019-06-23 13:25] ambrt commented on #75898
The suggested issues by vscodebot seem not to be duplicate.

Just to clarify i can list  files with Quick Open (`ctrl+p >store/`) but can't do that in Explorer Pane

![feature-store3](https://user-images.githubusercontent.com/10456131/59976710-9eb26500-95c8-11e9-93d9-9d5284afef3a.gif)

Maybe if one would type slash after the string then Explorer would show files under the folder.

[2019-06-23 13:29] NizamLZ commented on #75585
@wangchou For me it took effect immediately. Refreshing the view (CTRL + R) or closing and opening vscode also did not help?

[2019-06-23 13:41] anurbol commented on #75884
Oh I've found this feature actually already [exists](http://go.microsoft.com/fwlink/?LinkId=827846). All right then.

[2019-06-23 13:52] iaidar commented on #6328
2019, anything new guys?

[2019-06-23 14:02] mikebronner opened #75957 "Can No Longer Click On Minimap"
Issue Type: <b>Bug</b>

Since this build it is no longer possible to click on the minimap to jump to a position in code. Instead one is forced to drag the view-highlight in the minimap.

VS Code version: Code - Insiders 1.36.0-insider (9ff8ae037e8e6109d65e4b5e3eb3dc60cc187e21, 2019-06-21T05:18:36.348Z)
OS version: Darwin x64 18.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2019-06-23 14:03] mikebronner commented on #75957
The above listed recommendations do not describe this issue.

[2019-06-23 14:15] mogwai commented on #69745
[code]

[2019-06-23 14:25] sarahkittyy commented on #75774
I am waiting for the update but I decided to test a little more and it might have something to do with the shell?
If I create a new task:
[code]
Instead of nothing being outputted / shown at all, I now see this:

![image](https://user-images.githubusercontent.com/31551546/59977570-a0683280-95a0-11e9-8ee1-4b4919adce3b.png)

Setting the shell to `/usr/bin/fish` simply does nothing- vscode gives no f

[2019-06-23 14:44] targboss opened #75958 "no figcaption suggestion"
Issue Type: <b>Bug</b>

when i write the first word of any html element start with the same word except 'figcation' element like it deosn't exist !

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 6.1.7601

[2019-06-23 15:57] Sieboldianus opened #75959 "Code-insiders started from WSL doesn't return to console/ doesn't connect"
Intro:

* I've searched and found 2 similar problems, but no solution reported there works for me and, even when following the guidance, my issue remains. See [46462](https://github.com/Microsoft/vscode/issues/46462) and [44540](https://github.com/Microsoft/vscode/issues/44540)
* I've installed the latest code-insiders release
* VSCode Version: 1.36.0-insider (user setup)
* OS Version: Windows 10

[2019-06-23 16:00] Sieboldianus commented on #75959
Thanks @vscodebot, these issues do not seem to be related to my report above.

[2019-06-23 16:01] usernamehw commented on #75957
/duplicate of #75927

[2019-06-23 16:02] #75957 closed

[2019-06-23 16:26] hektormisplon opened #75960 "Automatic panel position on window resize"
It would be great to have an option to be able to automatically move/hide the panel location on window resize. I like to use my panel on the right side, but when I resize my window to half the width of my screen it would be nice if the panel automatically moved to the bottom of the editor.

(Not sure if there is already some extension available for this)

[2019-06-23 17:03] rutkowskimarek opened #75961 "Source Controll Providers limited to 11 GIT submodules."
![image](https://user-images.githubusercontent.com/17942515/59979521-4dff3400-95e9-11e9-9d53-a19ad167fb4e.png)

Issue Type: <b>Bug</b>

(I report this issues second time) **Source Control Providers display just first 11 GIT submodules** - and ignore if there is more (I have 12 git submodules in super project - yes not common scenario but I need it, and need more - I think there may be up to 32 sub

[2019-06-23 17:20] wangchou commented on #75585
@NizamLZ Just tried. It's not working after restarting vscode.(cmd + q and launching it) Not knowing what's wrong with it. haha~ Are you using mac?

[2019-06-23 17:33] ivanp2015 commented on #1012
Very surprising that overwrite mode is not supported. Please add it.

[2019-06-23 17:50] DilipDalwadi commented on #75487
Above problem is solved. I shut down and restart the PC. I don't know what exactly the problem was. But it's solved now.
Thanks for your helps.

[2019-06-23 18:09] usernamehw opened #75962 "JavaScript rename not working for JSDoc param name for function assignment"
Issue Type: <b>Bug</b>

1. Try to rename **`item`** (at any place)
1. **`item`** in code successfully renamed while JSDoc name stayed the same

[code]

VS Code version: Code - Insiders 1.36.0-insider (9ff8ae037e8e6109d65e4b5e3eb3dc60cc187e21, 2019-06-21T07:52:00.716Z)
OS version: Windows_NT x64 10.0.18362

[2019-06-23 18:38] MostHated opened #75963 "Code-Insiders - Upon selecting "Open Folder", prompt if you would like to open new window."
Hello,
Just a simple suggestion, upon selecting "Open Folder", it would be nice if it could prompt if you would like to open the folder in a new window or the same window instead of straight away attempting to open it within your currently open window.

Thanks,
-MH

[2019-06-23 18:58] tylertian123 opened #75964 "Terminal thinks single-width characters are double-width"
The integrated terminal thinks some single-width characters are double-width. Thus, for every single one of these characters, the cursor gets shifted right one space:
![image](https://user-images.githubusercontent.com/32781310/59980633-9bb67500-95c6-11e9-92ec-b59a52cdbeeb.png)
After entering a character, the cursor corrects itself:
![image](https://user-images.githubusercontent.com/32781310/599806

[2019-06-23 19:07] enzious commented on #71945
@Leo1003 What happens to the memory set back to Node through the callbacks? Is it being handled correctly?

[2019-06-23 19:14] davidanthoff opened #75965 "Have contribution points for markdown extensions that are file specific"
I'd like to add a bunch of extensions to the markdown preview (i.e. custom CSS, potentially my own plugins and a custom script), but not for the general markdown preview, but only for a custom file type. As far as I can tell, that is not possible right now? Is that something that could be added?

[2019-06-23 20:25] camlorn commented on #28316
@Neurrone
I know you can reproduce this semi-reliably (or could). Can you confirm @snufas's solution? I could only ever reproduce it 1 in 20 or less and don't have the same machine configuration as last time I tried to do so.

I know I'm not actively working on this but "works reliably when switching virtual desktops" is this side of plausible so I  want to make sure someone who can repro sees it.

[2019-06-23 20:45] erihanse opened #75966 "Getting popup when I open a Dockerfile"
Issue Type: <b>Bug</b>

Whenever I open a Dockerfile, I'm getting

even though I have the Docker extension installed.

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:27:31.086Z)
OS version: Linux x64 4.15.0-52-generic snap

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2728)|
|GPU Status|

[2019-06-23 20:45] gaui commented on #75669
@joaomoreno ok, but is it possible to allow the user to choose where to save user data, so the snapshot feature in Snap can be utilised (`snap save code`) ?

[2019-06-23 20:55] bluesherpa commented on #75897
This problem is occurring for me as well.  It looks like a, extra " <" character is being added to the of the command when it is executed, illustrated in rishabh3112's screenshot.

[2019-06-23 20:59] GuzioMG commented on #75541
# Hell yeah!!!

OK. I was idle for a while, but now I decided to check one thing. At this point, I need to reveal you my repo link. It's github.com/GuzioMg/McIDE.js. But why I did it? Well, if you open up that repo, you're not going to see vscode extension folder structure. You're going to see the `mcide-4jsapi` folder instead. Why? Because I generated my extension there. And  `mcide-4jsapi` is my

[2019-06-23 21:09] lazdmx commented on #19017
I would like to see '\b' escape char in the list. My use case: I write LaTeX a lot and I write it in Russian, but since LaTeX is overloaded with markup I need to switch input-lang very often, so in order to minimise my switching I define a lot of snippets. But there is a problem with snippets - they are activated only when new word is started, so extra space (from left side or new line)  is requir

[2019-06-23 21:18] GuzioMG commented on #75541
SO, everything I can say you, @octref, is simple "Thank you!".

EVERYTHING, I should do was simply open VSC workspace on another folder. I'm not sure, why I say "thank you" since (after years of trying) I figured it out myself. But thank you for your attention. And time. And totally 20 comments on this issue, which it took us to figure it out. I guess, now you can remove the "*question" label sinc

[2019-06-23 21:28] snufas commented on #28316
@camlorn
so are you suggesting to use notepad++   instead vs code???  that is not a very good idea it does not have saime features it is just bearly better then actual notepad, just with more functions.  virtual desktops works quite whell how ever the code terminal is not accesible at all.  i am using cmd as my terminal  instead powershell  but it opens in saime window,  as a usual terminal does n

[2019-06-23 23:24] abhyudayasrinet opened #75968 "Feature for a back button/command when you are moving across function definitions in classes"
I'm not sure if this has been requested.

A lot of times when I'm reviewing code, I'm moving across function definitions to see the flow of code and it would be easier to quickly go back as well since it's easy to go to the function definitions but I couldn't find a command to go back where I came from.

[2019-06-24 00:08] abhyudayasrinet commented on #27112
so I'm not sure how this works but I have a mouse with 5 buttons and I had set one of them to simulate a backspace/back click which would work with browsers and windows explorer. and in vscode if I ctrl+click on a function definition then click that mouse button it takes me back to exactly where I came from (across files as well)

[2019-06-24 00:29] jeanp413 commented on #74934
@jrieken Summarizing what I found until now:
1.  `OutlineNavigationLabelProvider` doesn't need to have `mightProducePrintableCharacter` defined because it will be overwritten here either way https://github.com/microsoft/vscode/blob/3718e799834243b2124e51a1505bc13d796d3eb8/src/vs/platform/list/browser/listService.ts#L215-L222
2. `BreadcrumbsFilePicker` works as expected because the underlying tree

[2019-06-24 00:32] kalbert312 commented on #25312
Just wasted about an hour on this as well. Deleted the link, copied pasted the link contents to a regular folder in node_modules, and no longer receiving errors.

[2019-06-24 01:04] SheepDomination commented on #71461
@bryceschober Do you mean what was mentioned [here](https://github.com/microsoft/vscode/issues/4758).

@alexr00 You added the feature from issue #4758 in the documentation; although what do I search for in the documentation ?

[2019-06-24 01:31] jeanp413 opened #75969 "Breadcrumbs doesn't filter on type until clicking on the tree TypeFilterController"
Steps to Reproduce:

1. Launch or reload vscode
2. Set `"workbench.list.keyboardNavigation": "filter"`
3. Open a breadcrumb and start typing to filter the contents => contents are not filtered
4. Click two times on the tree TypeFilterController (to deactivate and activate filtering again) on the top right of the breadcrumb.
5. Contents are filtered from now on until reload of vscode.

Related to #

[2019-06-24 01:54] david-waterworth opened #75970 "Toggle Word Wrap"
- vscode 1.35.1
- os Ubuntu x64 18.04

I've observed a minor issue with `Toggle Word Wrap`. It works, but the `tick` which is displayed for other 2-state items on the `View` menu (i.e. `Toggle minimap`) isn't displayed, i.e.it's unticked in either wrap or no-wrap mode.

This is relatively minor, but I suspect it also causes a slight annoyance - the `Toggle Word Wrap` state doesn't persist if I res

[2019-06-24 02:39] gaui commented on #75669
How about this...

[code]

[2019-06-24 02:42] dove-young opened #75972 "VSCode does not alert when extra blank space after EOF"
- VSCode Version: 1.35.1
- OS Version: macOS Mojave 10.14.5

Steps to Reproduce:

1.  Create a shell script file
2. Paste a here document with extra blank space after EOF
[code]
3.  Execute this script on Linux

[code]

On Emacs, `EOF  ` would be recognized and the line `echo this would never been executed. ` would be considered part of the here document.  Hens developer would notice there is type

[2019-06-24 03:01] dove-young commented on #75972
On my Mac, the bash version is
[code]

And on my Linux server, the bash version is

[code]

[2019-06-24 03:05] ExiaSR commented on #74575
@joaomoreno

After some experiment, it turns out the freeze only happens on iTerm2 nightly build (I guess I have to downgrade to the stable release). So I am closing this for now. Thank you so much for your help.

[2019-06-24 03:05] #74575 closed

[2019-06-24 03:19] #75347 closed

[2019-06-24 03:40] angelasubi opened #75973 "Visual Studio Code Crashes"
when i use iterm2 run vscode will crashes!

my shell

⫸  code .
[main 2019-06-24T03:31:57.156Z] update#setState idle
[main 2019-06-24T03:32:27.163Z] update#setState checking for updates
2019-06-24 11:32:27.168 code[77484:2922079] *** Assertion failure in +[SQRLDirectoryManager currentApplicationManager], /Users/sattard/projects/Squirrel.Mac/Squirrel/SQRLDirectoryManager.m:30
fish: 'code .' termina

[2019-06-24 03:51] rajinder-yadav opened #75974 "Show Navigation for Markdown in Outline"
Issue Type: <b>Feature Request</b>

When Editing a markdown file or previewing, it would be nice to show the headings inside "Outline" on the sidebar, which when clicked on would jump to that location in the file or preview.

__This could double as a TOC index.__

VS Code version: Code - Exploration 1.35.0-exploration (1158b7573b3444493ff5ee8355ad23350d76596a, 2019-05-31T05:12:16.034Z)
OS version:

[2019-06-24 03:55] gregtandiono commented on #9432
I did not experience lag in the normal release build either. Scrolling and typing delay is my issue.

[2019-06-24 04:07] danyangguo opened #75975 "debug"
Issue Type: <b>Bug</b>

Why can't the terminal input during debugging?

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:55:35.507Z)
OS version: Linux x64 4.18.0-22-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 3400)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<b

[2019-06-24 04:36] ranasaria commented on #75478
@alanrenmsft, @roblourens - I was not able to reproduce this issue as of the following commit on windows machine.
commit 5a5ccf7ec13f01228d4d607983e3d2efbc81fb3b

[2019-06-24 04:52] Ahsome commented on #63540
Has any progress been made to this?

[2019-06-24 05:00] trusktr commented on #9209
This is such a crucial feature. Coming from other editors, it is just straight difficult to spot errors while scrolling. Looking at the error ticks in the scroll bar and trying to match the little line with the marks is not so convenient either.

This is the first major feature I miss, coming from Atom. Besides that, I really like VS Code.

[2019-06-24 05:03] trusktr commented on #3915
@dbaeumer From https://github.com/Microsoft/vscode-eslint/issues/162#issuecomment-257809198

Could gutters just be more pluggable instead? Seems various gutter extensions clash with each other and over-write the content. Instead, it's be nice for plugins to register a custom gutter.

I think this approach would lead to more options from the community (VS Code's own solution could use the new mecha

[2019-06-24 05:04] trusktr commented on #3915
@tommai78101 That's not really an extension, it's just some simple CSS that @ianizaguirre loaded into VS Code. Although, it would be possible to make an extension to load the CSS...

[2019-06-24 05:42] esteban03 opened #75976 "Rename symbol does not work in angular or vue templates"
When changing the name of a symbol with the tool to perform this operation the name is changed in all typescript files correctly. But when reviewing Angular html files or Vue the names used have not changed. This may not really be an error if not a functionality not covered for these frameworks even though it would be great to add it since completing the functionalities of these tools becomes indi

[2019-06-24 05:51] eladcandroid commented on #35480
@joaomoreno Can you please push it up, with @Dari-K suggestion?

[2019-06-24 06:04] ghost opened #75977 "Go to definition"
Issue Type: <b>Bug</b>

go to definition is not working

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4130 CPU @ 3.40GHz (4 x 3392)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<

[2019-06-24 06:07] SamWolski commented on #63959
Still an issue on VSCode 1.35.1 / macOS 10.14.5

[2019-06-24 06:10] joaomoreno commented on #74898
Again today:

[code]

https://dev.azure.com/monacotools/Monaco/_build/results?buildId=50774

We should probably be more specific on this issue so we find a way to fix it. I suggest to split this into two: Windows and macOS and start investigating on the Windows one which seems to occur more often.

[2019-06-24 06:13] Raben-Corazon opened #75978 "Go to definition"
Issue Type: <b>Bug</b>

go to definition is not working

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4130 CPU @ 3.40GHz (4 x 3392)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<

[2019-06-24 06:23] DimNS commented on #43188
The fact that this is not in PHPStorm is not an indicator, it is a really necessary feature, when the project consists of modules and jump on modules or open all modules in separate windows... Um, thank you, but no.

[2019-06-24 06:29] bpasero commented on #72079
Should we move this to a new issue though? I find the summary has nothing to do with status bar.

[2019-06-24 06:31] bpasero commented on #75714
Can you try to run `code --disable-extensions --user-data-dir <directory>` where `<directory>` is an empty folder? This will ensure Code is starting with a fresh data directory, e.g. no specific settings and without any extensions running.

[2019-06-24 06:32] bpasero commented on #75323
OK

[2019-06-24 06:36] frank-dspeed opened #75979 "PROPOSAL: allow opening of SSH / FISH urls"
As Fish and SSH support landed via Plugins we will need a way to directly open urls via click in vscode

## Features
Open Single File via clicking on a url(link)
Open Folder via url(link)

[2019-06-24 06:39] joaomoreno commented on #74410
Awesome @jrieken, thanks!

[2019-06-24 06:41] bpasero commented on #75725
There is no real way.

[2019-06-24 06:41] joaomoreno commented on #75669
It seems that's a great workaround, you can create an alias for it.

[2019-06-24 06:42] joaomoreno commented on #75869
I'm not sure I understand what is going on. Can you provide exact steps of what you did and what happened and what you expected to happen instead?

[2019-06-24 06:42] alexr00 commented on #75897
Duplicate of https://github.com/microsoft/vscode-remote-release/issues/757

[2019-06-24 06:43] #75897 closed

[2019-06-24 06:43] bpasero commented on #75830
@chrmarti couple of questions since I do not see an issue:
* are you using multiple monitors or just one
* is the new window opening as a native tab or separate window?

[2019-06-24 06:44] bpasero commented on #75820
Sounds like an issue with our startup scripts to me.

[2019-06-24 06:45] joaomoreno commented on #75862
This seems like a user configuration issue, not related to VS Code. First, you should figure out what is the correct behavior in that case: should the linting fail or not? Then, you should try to figure out why it misbehaves in each case. VS Code simply spawns git.exe to commit, so you can inspect processes and see whether the linting task is called at all.

[2019-06-24 06:46] #75848 closed

[2019-06-24 06:46] bpasero commented on #75650
@sb7896 does this reproduce everytime?

[2019-06-24 06:47] joaomoreno commented on #75452
One last question: any specific reason why you're not using git submodules?

[2019-06-24 06:48] joaomoreno commented on #75796
What git version do you have installed? Try updating to the latest.

[2019-06-24 06:49] #75808 closed

[2019-06-24 06:49] aamarks commented on #20652
You're right. While you can [change font](https://github.com/microsoft/vscode/issues/20652#issuecomment-391949295) and [some color](https://github.com/microsoft/vscode/issues/20652#issuecomment-409862378) for some differentiation in languages, you can't swap light/dark within the same workspace without an extension like [jsaulou's](https://marketplace.visualstudio.com/items?itemName=jsaulou.theme-

[2019-06-24 06:49] joaomoreno commented on #75539
@whitecolor 10 session should never take 2-4 GB, can you find which log files exactly take up most space?

[2019-06-24 06:50] joaomoreno commented on #75820
@mycroft16 Can you paste here the full contents of `/mnt/c/Users/Alisha Morgan/AppData/Local/Programs/Microsoft VS Code Insiders/bin/code-insiders`?

[2019-06-24 06:50] Juan-F-Moncada commented on #75430
Hi @mjbvz: I've generated the log and checked that it contains plenty of source code, which I wouldn't like to share.

I've located the first error in the log; here you are it (please, let me know if this is enough for you or not):

Err 126   [8:40:36.81] Exception on executing command {"seq":2,"type":"request","command":"updateOpen","arguments":{"openFiles":[{"file":<Full path of my file>,"fileCo

[2019-06-24 06:50] vadimcn opened #75980 "[debug] "Call Stack" viewlet shows terminated threads."
- VSCode Version: 1.35.1 (also tried current 1.36.0-insider)
- OS Version: Ubuntu 18.04

VSCode's `call stack` view seems to show all threads that ever existed, not just the ones returned by latest `threads` request.

Repro:
1. Build and run mock-debug extension from this branch: https://github.com/vadimcn/vscode-mock-debug/tree/repro-75980
2. Open the `debuggee` folder and start `test` configurat

[2019-06-24 06:51] bpasero commented on #75847
Yes we need to sanitize. We already have [`sanitizeFilePath`](https://github.com/Microsoft/vscode/blob/6a7020dd4a11e0f33b157b3df4baeec90d85701b/src/vs/base/common/extpath.ts#L235) for exactly that purpose but I think it is probably not being used if a URI is passed in (e.g. for remote).

[2019-06-24 06:52] bpasero commented on #75832
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2019-06-24 06:52] #75853 closed

[2019-06-24 06:53] bpasero commented on #65413
Ok, updating labels.

[2019-06-24 06:59] bpasero commented on #9432
@AmirHosseinHmd if you are seeing slowdown on your monitor for other applications, especially Electron applications, I do not think that there is something specific VSCode can do about it. There are some command line things you can give a try, but they are not VSCode but rather Electron specific, e.g. `code --disable-gpu`

[2019-06-24 07:00] chriswiley commented on #75927
You can click and drag the highlighted area, but you can click in a non-highlighted area and have it move to that section of the code. I disabled the other extensions, reloaded the app and closed it out and re-opened it again. Still no go.

[2019-06-24 07:00] SupinePandora43 commented on #8641
i'm used VSCode and buttons 'MOUSE4','MOUSE3' worked for "go back/forward".

but i switched to VSCode-Insiders and that feature is gone!

[2019-06-24 07:00] g-plane commented on #75817
Lack of responses and this isn't a vital issue. Closing.

[2019-06-24 07:02] bpasero commented on #75861
Yeah, this case is probably not covered well by our logic for deleting the wait marker. If someone has better ideas, code is here: https://github.com/Microsoft/vscode/blob/6a7020dd4a11e0f33b157b3df4baeec90d85701b/src/vs/workbench/electron-browser/window.ts#L478

[2019-06-24 07:10] jeanp413 opened #75981 "BreadcrumbsPicker sometimes hides when invoking breadcrumbs.focusNext/focusPrevious"
Steps to Reproduce:

1. Click on first breadcrumb
2. Invoke breadcrumbs.focusNext  <kbd>CTRL</kbd> + <kbd>→</kbd>
3. Go to step 1 and repeat

![breadcrumbsbug2](https://user-images.githubusercontent.com/25115070/59998315-b15a8780-9624-11e9-83a2-c35cc81d66fa.gif)

[2019-06-24 07:17] mycroft16 commented on #75820
Whatever it was, the latest version that just installed has fixed the problem. I am no longer seeing that issue on startup.

[2019-06-24 07:20] #75820 closed

[2019-06-24 07:26] xtluo-ai commented on #75879
My CODE stuck frequently(e.g. autocompleting) after updating to 1.5, rolling back to the previous version 1.49 didn't help. Even a `git push` command would get stuck for 2s in the terminal window, So I wonder what is installed by 1.5? What is running beside CODE may cause this problem? I tested `pycharm` IDE which seems to work smoothly.

[2019-06-24 07:29] mak-ableton commented on #70306
Could someone please reopen this? cc. @roblourens @rebornix. Looks like the bot was a bit over-eager (or rather, the "needs more info" tag should have been removed). Thanks!

[2019-06-24 07:31] jrieken commented on #75955
Valid request, current workaround is to write an extension that does this.

[2019-06-24 07:32] aeschli commented on #74563
I still get that. The test runner is as in the example: https://github.com/microsoft/vscode-extension-samples/blob/master/helloworld-test-sample/src/test/runTest.ts

What happens is that the vscode instance is started without any workspace/folder and seems to use the my `vscode` source folder instead (probably because it's in the recent history).
I suspect it's the filewatcher that tries to read i

[2019-06-24 07:40] joaomoreno opened #75983 "Improve build perf"
Several perf problems with the build that need to be addressed:

- All agents do the same compilation/optimization/minification
- Each extension get compiled/optimized/webpacked 6 (!) times
- `node.exe` gets downloaded 2 times
- macOS agents seem slower than before, though they end up doing more than others:
  - Sourcemaps
  - Bundle stats (`Submitted bundle stats`)

**DONE** :heavy_check_mark:

-

[2019-06-24 07:45] jrieken commented on #75061
I like that. It will help with caching and will allow for a solution in which we rewrite url sync, e.g. instead of using the mutation observer approach I would like to have a place that uses remote-urls marked in code, using some special transformer-function like `domresource`.

[2019-06-24 07:45] #75285 closed

[2019-06-24 07:46] jrieken opened #75985 "June 2019 Endgame"
This is the endgame schedule for https://github.com/microsoft/vscode/issues/75103

## Schedule

* End game master: @jrieken / Zürich
* End game buddy: @rebornix / Redmond
* 06/24 Code freeze for the endgame
* 06/28 Endgame done
* 07/03 Expected release date (this may change)

##### Monday 06/24
- [x] Run [OSS tool](https://github.com/Microsoft/vscode-build-tools/blob/master/distro-tools/README.md)

[2019-06-24 07:51] weinand commented on #75980
@isidorn make sure that only the threads returned by the last thread request (plus additional threads coming reported via the "thread" event) are shown.

[2019-06-24 07:52] cwellsx opened #75986 "Alt-Shift-F concatenates `<` in TypeScript"
Using VS-code to edit TypeScript.

The source code contains this statement:

[code]

If I press <kbd>Alt</kbd> <kbd>Shift</kbd> <kbd>F</kbd> in VS-code to reformat the source which contains this statement, it becomes ...

[code]
... which no longer compiles.

Does this issue occur when all extensions are disabled?: Yes

[code]

[2019-06-24 07:58] tdchien opened #75987 "Focus search input field by keyboard"
Issue Type: <b>Feature Request</b>

How to focus input field by hotkey. It would be good if I could place the cursor on the input text (search keyword, file include, ...) with the keyboard. Similar to pressing Alt + a key combination underlined like window or menu bar
![image](https://user-images.githubusercontent.com/1614393/60001093-e18b4000-968f-11e9-8c31-55829e498fcb.png)
![image](https://user

[2019-06-24 07:59] #65153 closed

[2019-06-24 08:03] dibalavs opened #75988 "breadcrumbs in file explorer tree"
On file explorer I usually see a lot of files in a lot of folders, So navigation is hard enough.
I have some cases which is difficult  to do in file explorer tree.
1) I need to know path to file (file is not the same as in editor view).  (it can be done by by hover mouse button over file, but it need additional movements by my hands, which is slow).
2) I need to quickly jump to for example Makefil

[2019-06-24 08:05] bpasero commented on #75061
Sounds good to me as well.

[2019-06-24 08:09] whitecolor commented on #75539
Yeah I had `verbose` setting for all workspaces set.

[2019-06-24 08:18] pludov commented on #75920
A quick workaround for the inpatients:

sudo chmod 1777 /tmp/vscode-typescript

[2019-06-24 08:28] octref opened #75989 "Backtick in TS comments not highlighted for //"
![image](https://user-images.githubusercontent.com/4033249/60003317-48bcdc00-961f-11e9-8aae-e3f16abdc2d1.png)

Easily reproducible with:

[code]

Version: 1.36.0-insider
Commit: 9ff8ae037e8e6109d65e4b5e3eb3dc60cc187e21
Date: 2019-06-21T05:18:36.348Z
Electron: 4.2.4
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 17.7.0

[2019-06-24 08:33] iqmeta commented on #75623
Gone back, no problems on this version:

Version: 1.31.1 (user setup)
Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:20:54.427Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.16299

[2019-06-24 08:33] iqmeta commented on #75267
Gone back, no problems on this version:

Version: 1.31.1 (user setup)
Commit: 1b8e8302e405050205e69b59abb3559592bb9e60
Date: 2019-02-12T02:20:54.427Z
Electron: 3.1.2
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.16299

[2019-06-24 08:37] verantiadesign commented on #56964
It used to work for a while, but since last update I cannot get it to work anymore. Seeing the last post, I start to think logitech options is the fault after all.

[2019-06-24 08:40] joaomoreno commented on #75779
Went away from SVG :cry: and into old fashioned divs.

[2019-06-24 08:41] #75779 closed

[2019-06-24 08:44] fabienheureux commented on #75932
Fyi, I encountered the exact same issue with the same configuration.
Did not find a way to fix it for now

[2019-06-24 08:48] ShreyasRmsft opened #75990 "qrqwr"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-06-24 08:48] #75990 closed

[2019-06-24 08:49] dylmye opened #75991 "Goto Definition not working - Cannot read property getSourceFiles of undefined"
Issue Type: <b>Bug</b>

Hello! Last week my ctrl+click for goto definition has stopped working. I get the following message from the Typescript output window (on verbose setting):

TypeError: Cannot read property 'getSourceFiles' of undefined
    at ConfiguredProject.Project.getScriptInfos (c:\Program Files\Microsoft Visual Studio Code\resources\app\extensions\node_modules\typescript\lib\tsserver.

[2019-06-24 08:55] ShadyGaDa opened #75992 "A Gutter !?"
Issue Type: <b>Feature Request</b>

One character space between folding markers and first character to place mouse arrow from the start of a line, to enable selection easily.

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 6.3.9600

[2019-06-24 08:55] BraisC opened #75993 "Some file icons missing in Windows Explorer"
- VSCode Version: 1.35.1
- OS Version: Windows 10 1903

Steps to Reproduce:

1. Install VS Code
2. Associate files to VS Code

Does this issue occur when all extensions are disabled?: Yes

And some icons are missing, like for example, icons for PHP or SQL files:
![Captura](https://user-images.githubusercontent.com/12214486/60005336-94e33d00-966e-11e9-8025-49028ef106e5.PNG)

[2019-06-24 08:56] dylmye commented on #75991
Related:

* #71109 - I get past the initialising stage. I've also tried troubleshooting from this issue.
* #75430 - Followed instructions [here](https://github.com/microsoft/vscode/issues/75430#issuecomment-504584352) to provide the error output above. I'm also missing other JS features like hovertext.
* #17221 - Haven't tried [these 2016 instructions](https://github.com/microsoft/vscode/issues/17

[2019-06-24 08:58] ShadyGaDa opened #75994 "Folding in comments"
Issue Type: <b>Feature Request</b>

There does not seem to be folding within block comments.

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 6.3.9600

[2019-06-24 08:59] bpasero commented on #75825
@isidorn wanna do this? I think it is somewhere here:

https://github.com/microsoft/vscode/blob/d813315714aad6390f59cc6a10458d19267d4001/src/vs/workbench/services/files/common/fileService.ts#L645

[2019-06-24 09:02] ShadyGaDa opened #75995 "Change color theme easily."
Issue Type: <b>Feature Request</b>

Easily change color syntax/window theme without a long set of key shortcuts and edit manouvers.

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 6.3.9600

[2019-06-24 09:09] mballabaniapr opened #75996 "types can only be used in a .ts file Flow support"
- VSCode Version:  1.35.1

Steps to Reproduce:

1. Open . a Flow type file

To fix this you need to disable Flow extension or disable Built in typescript extension but it will be poor use of js on this editor.

Does this issue occur when all extensions are disabled?: No

[2019-06-24 09:16] Alilat-imad opened #75997 "intellisense not showing and terminal is buggy"
- VSCode Version: Latest stable version
- OS Version: windows 10

Recently I've noticed that the latest update that intellisense in some case not showing the adequate suggestion and i have to shut VS Code and rerun it again to get the intellisense suggestion, also when running clear in terminal, old runned command still showing.

[2019-06-24 09:26] isidorn commented on #75825
Yeah. I will look into this. Thanks for pointer.

[2019-06-24 09:27] chrmarti commented on #65153
Note: I have renamed the colors to `quickInput.background` and `quickInput.foreground`. (Quick Input is the more generic widget and Quick Open will eventually use that too.)

[2019-06-24 09:28] jimbobbennett commented on #6442
Also need Pi4 support as well! It's a beast of a machine, so will run Code really nicely...

[2019-06-24 09:29] jrieken commented on #74934
Yeah, the irony is that the simple implementations, as in `listWidget`, are actually more error prone because they miss things like `ü`, `ß`, `ø` etc. That's why we use information "from the keyboard/os" instead of just assumptions.

So, the real question is still why doesn't `Esc` produce a printable character on your machine and how can we workaround this. We could simply hardcode `Esc` to be ig

[2019-06-24 09:31] alexdevero commented on #75927
The same issue. Dragging the highlighted area on the minimap works. Click outside the highlighted area in order to move to that area doesn't work.
[code]

[2019-06-24 09:35] jrieken commented on #75061
I'd say it depends on service workers be available for desktop mode...

[2019-06-24 09:37] longtth opened #75998 "Java Extension Pack doesn't "see" the installed AdoptOpenJDK"
- VSCode Version: 1.35.1
- OS Version: Microsoft Windows [Version 10.0.17134.829]

## Steps to Reproduce:

1. install Java Extension Pack  on an installed AdoptOpenJDK11

Does this issue occur when all extensions are disabled?: N/A

## Expected

1. Java Extension Pack auto-detect installed AdoptOpenJDK in PC

image:
![20190624_183148_Greenshot](https://user-images.githubusercontent.com/1010849/600

[2019-06-24 09:38] weinand commented on #75578
The general rule for ID lifetime in DAP is:

- IDs of "ephemeral" objects are valid while in the stopped state (or as Gregg said: "until the next 'continue'"). Examples are variable references, goto targets, step-in target, frames.
- IDs of long living objects are valid at least for the lifetime of the debug session (e.g. processes, threads), or even longer (breakpoints, data breakpoints).

I have

[2019-06-24 09:40] bpasero commented on #75061
@deepak1556 are you aware of any restrictions in Electron to use service workers?

[2019-06-24 09:41] weinand commented on #75578
Assigning to @isidor because he provided the only real code fix for the three issues.

[2019-06-24 09:41] #75578 closed

[2019-06-24 09:43] TRACTOR-MAN commented on #75841
Hi I have been doing some more testing over the weekend with the insiders version 1.36.0.

I have found that the issue seems to be fixed on both linux and windows.

However, I came back to work and found that the issue was still present on my windows 7 machine.  I did some more digging and realized that the link detection algorithm does not work when there are any spaces in the file path from C: t

[2019-06-24 09:48] alexr00 commented on #41406
I talked with @isidorn about this and it looks like this is a status bar problem. None of the items in the status bar are able to be tabbed to and get focus. This was deliberate since the status bar doesn't have new information and it would just be more things to be tabbed through. If we add an aria-label for each status bar item and allow them to be tabbed too, then the label will get read out wh

[2019-06-24 09:49] nezorflame opened #75999 "Bug: Right clicking in the editor triggers additional left-click action"
I'm experiencing the issue which looks like #60119 which is supposed to be fixed.

Setup info from `Help - About`:

[code]

Like the original issue, the problem exists only when the setting `"window.titleBarStyle"` is set to `"custom"`.

[2019-06-24 09:52] alexr00 commented on #75841
There is an issue that shows all the link detection problems so far and it looks like the spaces issue is noted there: https://github.com/microsoft/vscode/issues/21125
@Tyriar fyi.

[2019-06-24 09:58] joaomoreno commented on #75539
@whitecolor I see. Which log files exactly take up most space? Can you give us file names?

[2019-06-24 10:00] bpasero commented on #41406
Yeah I am not sure what else to say here. If we want to fix this issue by adding `tabindex `to status bar entries we risk making a lot of people upset that you now need to tab 20 more times around the UI to reach an element of choice (provided that is the only way how to fix this).

[2019-06-24 10:10] muuvmuuv opened #76000 "Unable to force tabs for Makefile"
So there are existing issue but that didn't help me. VSCode is always preferring spaces in my Makefile. When I click in the bottom right to use tabs and switch to another file which uses spaces and go back to the makefile, VSCode is again using spaces instead of tabs. I expect VS Code to use only tabs and not to switch back to spaces when clicking between files that have different indention types.

[2019-06-24 10:28] jrieken commented on #74188
small update: the `extensionKind` is now a property of `Extension<T>` and not of the `ExtensionContext` anymore

[2019-06-24 10:31] chrmarti commented on #75830
I use 2 monitors with VS Code confined to the primary one. The session opens as native tab on the only open VS Code window. Swing by if you want a demo. :)

[2019-06-24 10:35] chrmarti opened #76001 "Quick open shows no focus affordance in High Contrast"
From @joaomoreno:

1. Change to High Contrast theme
2. F1, press Up and Down, there is a focus affordance
3. Choose `Preferences: File Icon Theme`, there is no focus affordance as you press Up and Down

[2019-06-24 10:42] chrmarti commented on #75674
"Open Folder" is the more frequently used command on Windows and Linux (77% more often than "Open File"). It would make sense to optimize openFileFolder for the folder case by opening at the parent of the last folder. @bpasero What do you think?

[2019-06-24 10:47] equinox commented on #56578
This would be really neat to have, as being able to keep all extensions up to date without actually having to go through: start, search for the updates, update then potentially restart in order to ensure when you need to start coding all distractions are already taken care of.

[2019-06-24 10:49] bpasero opened #76002 "WorkspaceStat.TAGS asks for trouble"
I am not sure who added this, but I see access to `WorkspaceStat.TAGS` from some places (e.g. experiments). I find this a very weird way of reaching into something that should be internal. E.g. can we not have the diagnostics service expose this information as a method and then consumers use that service into having a dependency to workspace stats?

[2019-06-24 10:50] vishal2494 opened #76003 "Regarding add stm32 l496rgt3"
Issue Type: <b>Feature Request</b>

i want interface and debug stm32 l496rgt3 so this board is not added on platformIO please add this boards or give me step how to add custom  boards on PlatformIO

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T15:16:14.389Z)
OS version: Windows_NT ia32 10.0.17763

[2019-06-24 10:51] williamclot commented on #75959
@Sieboldianus I believe I have the same issue you are describing.

[2019-06-24 10:59] bpasero commented on #75674
@chrmarti you gave some statistics but I cannot recall any user complaining about this so far, so changing this is asking for trouble maybe? And I assume this is a change that has an impact on both native and custom dialog.

[2019-06-24 11:03] b1zzu commented on #75564
Hi, I have the same problem using Fedora 30

[2019-06-24 11:07] AmirHosseinHmd commented on #9432
Okay, thank you.

[2019-06-24 11:08] SanwariyaAmit commented on #56964
So I have been following this thread for quite a while.
I had shared the video on how to reproduce it and the workaround to fix it quite a while ago.

I had also asked if someone who's from USA can give Logitech Support (+1 646-454-3200) a call, since that's the only support option I found. Since the issue is inherent to Logitech Options (or maybe Chromium) and not VS Code.

[2019-06-24 11:12] YangHanlin commented on #75774
I have received and installed the update.

This time tasks cannot still be executed; there appears a error message that reads `Cannot read property 'strong' as undefined`. I opened the developer tools and collected the output of the console into
[this log file](https://github.com/microsoft/vscode/files/3320511/-1561374361492.log). It seems another internal error.

[2019-06-24 11:15] AmirHosseinHmd commented on #9432
Thank you for your response.
However, I think that it would be nice if you tell us what you think about this problem yourself?
Is it all about Electron you can't do anything for VS Code? Or VS Code can actually be better in terms of smoothness in future updates? Because I think I'm not the only one suffering from this problem.

[2019-06-24 11:33] DoganM95 opened #76004 "Java Maven Dependencies"
Issue Type: <b>Bug</b>

vscode almost never recognizes maven dependencies. it should just import maven dependencies from  pom.xml automatically. if this already happens, then i dont understand why my imports are underlined red.
if i hoover on a maven dependency which i imported in a .java file, it shows me the class description of that import and seems to successfully have found and imported them,

[2019-06-24 11:53] DoganM95 opened #76005 "Java misplaced/incorrect errors"
Why are comments marked red and empty space recognized as an error?

![image](https://user-images.githubusercontent.com/38842553/60016711-3b3b3c80-9687-11e9-84e1-d661695a6b8f.png)

[2019-06-24 11:57] PacoPacov opened #76006 "Change Keyboard shortcuts on Different Operational Systems"
Can you add a new feature that lets you change the  Keyboard shortcuts of VS Code to use one for different operational system.

Example:
I'm using Linux but I want to change VS Code keybinding to use the one for Windows.

[2019-06-24 12:04] bryanrasmussen commented on #75880
@mjbvz yes, you're right the language mode remains the same when I change the extension to .css (just now when I tried it)

So if it doesn't happen to you that must mean you have some setting enabled to track the language mode by the file extension?

[2019-06-24 12:08] DanTup commented on #75835
That looks like something different (separators rather than additional info about the existing item), though I would love that too (I have a device-picker that includes both active devices and offline emulators that you can launch, and they're somewhat mixed together). It's not clear what that issue is though, it references another issue that was closed as a dupe without an obvious issue that cove

[2019-06-24 12:11] ehorodyski commented on #13680
I hate saying this, but it magically started working for me. Not sure if it was starting SSH through Powershell, or CMD -- I have no idea! Just a bunch of trying and then it magically worked.

[2019-06-24 12:12] bpasero commented on #9432
I think that the problem is present but not well understood, nor easy to fix without substantial investment. From my memories when I briefly switched to a 4k monitor I perceived a drop in performance (e.g. scrolling) that was bad enough for me (personally) to stick with a 2k monitor (this was on macOS).

I can not answer this question. I think there are probably certain limits in place with the te

[2019-06-24 12:17] chrmarti commented on #75674
I'm suggesting the change based on data and am one of the users who would benefit from it. 🤷‍♂

There will always be users complaining about change...

[2019-06-24 12:18] isidorn commented on #41406
@alexr00 can you please experiment with setting the `tabindex=-1` to the statusbar items.
This basically means that those items should not be tabable, but can be focusable. This might be what we are looking for.
More details here https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex

[2019-06-24 12:21] isidorn commented on #75578
@vadimcn @gregg-miskelly can you please verify the 1) is fixed for you so I add a verified label. Thanks

[2019-06-24 12:24] bpasero commented on #74872
Reopening, this is causing https://github.com/microsoft/vscode/issues/75830 for native tabs at least

[2019-06-24 12:28] whitecolor commented on #75539
Were tsserver related logs.

[2019-06-24 12:30] chiboreache opened #76007 "TypeError: Cannot destructure property `range` of 'undefined' or 'null'. workbench.main.js:3241"
VSCode becomes unusable after several hours of use. Closing and opening solve a problem in a few minutes.

Steps to Reproduce:

1. Open VSCode
2. Work few hours

- VSCode Version: 1.35.1-1
- OS: Arch Linux

can't use it without extensions actually

`workbench.main.js:3241 `
[code]

[2019-06-24 12:30] bpasero commented on #75830
A regression from the workaround of https://github.com/microsoft/vscode/issues/74872

[2019-06-24 12:31] #75737 closed

[2019-06-24 12:32] alexr00 commented on #75737
I updated it so they never show. There was not a good place to do delayed registration, so instead I am following the usual pattern to register them but not show them in the command palette. I also opted to never show them in the command palette (even on remote) because those commands were only added as a way to provide keyboard shortcuts while using the file picker. They were never intended to sh

[2019-06-24 12:37] isidorn opened #76008 "Test: Debug jump to cursor"
Refs: https://github.com/microsoft/vscode/issues/25653

- [ ] any os @Tyriar
- [x] any os @dbaeumer

Complexity: 3

Install the C# extension, and have a simple C# program which you can debug. Docs for setting up [here](https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-code). Debug a C# program, you can use a simple console application, or even better if you have something c

[2019-06-24 12:38] alexr00 commented on #75766
@ebatsin thanks for checking with the C++ grammar. I tested in insiders and the issue you show does appear to be fixed now. If you want to check, you can install insiders from [here](https://code.visualstudio.com/insiders/). It installs side by side with the stable release, so you can have both.

[2019-06-24 12:45] bpasero commented on #75674
I feel this will backfire. If I had to pick a solution for this, I would add the "Open File" and "Open Folder" as commands on macOS as well for those that want to distinguish and then we can use better default paths. These commands should probably not show up anywhere but the command palette and keybindings editor.

[2019-06-24 12:48] alexr00 commented on #41406
Adding `tabindex=-1` causes the title of the element to be narrated when the status bar item is clicked. It also still keeps it from getting tabbed to. This would probably be good to add to all status bar entries.

This still doesn't provide a narration when hovering over the element. @Neurrone is narration on hover useful?

[2019-06-24 12:49] bpasero commented on #75830
The workaround for https://github.com/microsoft/vscode/issues/74872 will no longer apply when native tabs are enabled.

[2019-06-24 12:49] #75830 closed

[2019-06-24 12:57] ebatsin commented on #75766
![image](https://user-images.githubusercontent.com/9489603/60020409-42b31380-9690-11e9-9f95-08d41df14db7.png)

I just checked. My issue is fixed in the insiders build

[2019-06-24 13:01] AndreVanKammen commented on #53164
Thanks for the option, the peek window is a really annoying one which breaks my workflow because escape doesn't make it go away. I have to grab my mouse to get it out of the way which is not very user friendly. The other option is pressing enter, but only if you don't press escape 1st. Also the focus (choices) are shown on the right side of the preview, not the point where is was looking.

A simpl

[2019-06-24 13:05] jrieken commented on #53164
Well, the default is to hide on `Esc`. Do you the `editor.stablePeek` setting by any chance?

[2019-06-24 13:05] isidorn commented on #41406
@alexr00 my guess would be that narattion on hover is useful, for helping with mouse navigation.
So it seems that `tabindex=-1` is better then the current state. So I would go with that approach.
But let's wait for @Neurrone feedback.

[2019-06-24 13:06] isidorn commented on #75988
Leaving open as a feature request, pushing to backlog since we have no immediate plans to fix this.
fyi @jrieken

[2019-06-24 13:07] aleclarson commented on #75452
Because I'm tired of committing `.gitmodules` every time a submodule has new commits.

I use [meta](https://www.npmjs.com/package/meta) instead.

[2019-06-24 13:07] #75753 closed

[2019-06-24 13:08] bpasero commented on #75061
I just verified that (in Electron 4) I can register a service worker on the `file://` scheme:

![image](https://user-images.githubusercontent.com/900690/60021231-e9e47a80-9691-11e9-90f8-0126e8e9d3da.png)

However I am not sure why issues such as https://github.com/electron/electron/issues/13740 are still open?

[2019-06-24 13:10] isidorn opened #76010 "VoiceOver: element order is reverse on the right hand side"
from @Peter Saathoff-Harshfield
What I am referring to is that, using standard VoiceOver navigation commands (control + option + left/right arrow), the elements in the status bar are in the opposite order than they appear visually.

From @bpasero

ah yeah, forgot to come back here. the order of items is still reverse though, even when using flex. I need to do that so that elements wrap in an order

[2019-06-24 13:10] isidorn commented on #72079
Yeah, created https://github.com/microsoft/vscode/issues/76010

[2019-06-24 13:12] isidorn commented on #75871
@Astrantia there will be a new insiders build soon,
As for breaking haptically, I can not really help I would need reproducable steps.

Though forwarding this to @joaomoreno as the tree owner

[2019-06-24 13:12] jrieken commented on #75940
Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2019-06-24 13:13] chrmarti commented on #75674
I suggest to make this a feature request then. As suggested by you, this could also be implemented as a setting that changes where the default folder is read from for 'open file or folder' on MacOS.

[2019-06-24 13:14] Neurrone commented on #41406
1. Having the aria-label set would be useful regardless of which approach we go for.
2. Regarding this being focusable, the main use I have for clicking these is to expand / collapse or move focus to the problems or notifications pane. I usually activate these by using the screen reader's virtual buffer, which is able to simulate clicks if its able to find an element, so didn't realize that it isn

[2019-06-24 13:15] onehorsetown commented on #9209
@trusktr

Try this:  https://marketplace.visualstudio.com/items?itemName=IgorSbitnev.error-gutters

[2019-06-24 13:15] isidorn commented on #75898
This is a request to force the tree to show filtered out children of a visible parent.
Thus fowarding to @joaomoreno since the tree would first need to support this

[2019-06-24 13:15] jrieken commented on #75969
I cannot reproduce with the provided steps. Please update

[2019-06-24 13:17] jrieken commented on #75978
Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2019-06-24 13:18] weinand opened #76011 "deprecate 'useWSL' launch config attribute"

[2019-06-24 13:20] isidorn commented on #41406
@Neurrone  Thanks for feedback.
@alexr00 @bpasero So I suggest to go with `tabindex=-1` for all status bar items. This will not make them reachable via tab navigation, but will make NVDA read out it's title as if it were an aria-label.

[2019-06-24 13:23] #76011 closed

[2019-06-24 13:24] kwiat1990 commented on #16221
It would be a very helpful feature.

[2019-06-24 13:34] weinand commented on #76011
- using the "useWSL" attribute in launch configs results in a deprecation squigglie.
- running a launch configs that uses a "useWSL" attribute results in a notification (with the option to turn future notifications off).

[2019-06-24 13:35] alexr00 commented on #75774
Thank you @YangHanlin, that is very helpful! I'm not sure how it could have happened, but I think we are detecting your platform incorrectly. Would you be able to set a couple breakpoints? You should be able to open the developer tools and ctrl+p to find the file.

This one happens when you reload VS Code. I am curious if `_isNative` gets set in this if statement. https://github.com/Microsoft/vsco

[2019-06-24 13:39] bpasero commented on #41406
Fine by me.

[2019-06-24 13:40] #75766 closed

[2019-06-24 13:43] bpasero opened #76012 "Web: glitch when using native fullscreen and vscode fullscreen"
Steps to Reproduce:

1. latest selfhost build
2. open in chrome (macOS)
3. go into native fullscreen (via window buttons)
4. leave native fullscreen
5. go into vscode fullscreen

=> 🐛 there is a grey bar below the editor

![image](https://user-images.githubusercontent.com/900690/60023759-bfe18700-9696-11e9-984e-6a6d8bd08f1d.png)

[2019-06-24 13:43] pie6k commented on #17777
@joaomoreno it looks cool, but would be great if those guides would a bit more visible

![image](https://user-images.githubusercontent.com/7311462/60023794-d556b100-9696-11e9-8e9a-246d8db41852.png)

Right now I can barely see it

[2019-06-24 13:51] #41406 closed

[2019-06-24 13:52] alexr00 commented on #41406
To verify, start a screen reader then click on the errors, warnings, and infos entry in the status bar. It should read something like "link No Problems" or "link 1 Problems".

[2019-06-24 13:54] ak1394 opened #76013 "TreeView becomes invisible when sibling views are expanded"
- VSCode Version: 1.35.1
- OS Version: MacOS Mojave 10.14.5

Steps to Reproduce:

1. Install https://marketplace.visualstudio.com/items?itemName=42Crunch.vscode-openapi&ssr=false#overview

2. Increase zoom level twice to make fonts bigger

3. Unzip xkcd-swagger.json and open it with VS Code.

4. Switch to "API" view with activity bar.

5. Collapse all the tree views (GENERAL, PATHS, PARAMETERS and

[2019-06-24 13:55] DanJBower opened #76014 "Integrated Terminal Scrolls 14 lines"
Scrolling in the integrated terminal jumps 14 lines. This happens on the following integrated terminals; cmd, powershell and powershell core.

This is very similar to [Scrolling via mousewheel in the terminal scrolls by a lot on Windows (~12 lines) #35111](https://github.com/Microsoft/vscode/issues/35111). However, that reports that the jump is only 12 lines and it was fixed over a year ago. It wa

[2019-06-24 13:56] jmcadams-r7 commented on #8641
I found a fix...use JetBrains on OSX...I wouldn't have tried it had they fixed this issue, but it's a million miles better than VS Code at this point. MS is really dropping the ball lately.

[2019-06-24 13:58] bpasero commented on #74559
I am not entirely sure this is related to the update, removing label.

[2019-06-24 13:59] bpasero commented on #74872
Pushed another workaround. The only time this will not work is:
* multiple displays
* second display
* native tabs enabled
* restoring multiple windows

[2019-06-24 13:59] #74872 closed

[2019-06-24 14:02] nickmaccarthy commented on #6442
+1 On this.  Would be great to run this on Pi!

[2019-06-24 14:04] isidorn commented on #41406
@alexr00 it is cool that we added the tabindex, but could we try to get rid of reading "link" as a prefix. Could you try to add an aria-label which would just be "No Problems" for example, would that change the screen reader behavior to not read "link"?
Basically `itemContainer ariaLabel = name`

[2019-06-24 14:10] DanJBower commented on #76014
I forgot to mention this is with an external mouse. My trackpad allows line by line scrolling so it is not an issue with the trackpad.

[2019-06-24 14:11] sandy081 commented on #76013
@joaomoreno Seems related to split view overflow?

[2019-06-24 14:12] sandy081 commented on #76007
Above error is being caused by the extension. Please file the issue against it.

[2019-06-24 14:12] #76007 closed

[2019-06-24 14:14] sandy081 commented on #76006
/duplicate https://github.com/microsoft/vscode/issues/27385

[2019-06-24 14:14] #76006 closed

[2019-06-24 14:15] sandy081 commented on #76005
Please file issue against the corresponding Java extension

[2019-06-24 14:15] #76005 closed

[2019-06-24 14:15] sandy081 commented on #76004
Please file issue against the corresponding maven extension

[2019-06-24 14:15] #76004 closed

[2019-06-24 14:16] sandy081 commented on #76003
Please file issue against the corresponding PlatformIO extension

[2019-06-24 14:16] #76003 closed

[2019-06-24 14:17] sandy081 commented on #75998
Please file issue against the corresponding Java extension

[2019-06-24 14:17] #75998 closed

[2019-06-24 14:21] sandy081 commented on #75995
You can change theme using following ways

-
![image](https://user-images.githubusercontent.com/10746682/60026464-e8b84b00-969b-11e9-93a2-ebd11955984d.png)

-
![image](https://user-images.githubusercontent.com/10746682/60026500-f53ca380-969b-11e9-92f0-9ee8dd560a86.png)

- You can also use keyboard shortcuts

-
![image](https://user-images.githubusercontent.com/10746682/60026556-0ab1cd80-969c-11e9-

[2019-06-24 14:23] sandy081 commented on #75987
You can use following command/key binding

![image](https://user-images.githubusercontent.com/10746682/60026722-654b2980-969c-11e9-900b-e8882a2397a1.png)

[2019-06-24 14:23] #75987 closed

[2019-06-24 14:27] sandy081 commented on #75972
@doivosev Are you using any extension in VS Code to run this script?

[2019-06-24 14:29] sandy081 commented on #75968
Did you try following commands?

![image](https://user-images.githubusercontent.com/10746682/60027170-3e412780-969d-11e9-8885-ae1e433f5781.png)

[2019-06-24 14:31] buncismamen commented on #46403
I hope I could modify it because its kinda annoying
the only things that I wanted is I could disable this feature for some extensions because sometimes is annoying an blocking my tab
just like this
![image](https://user-images.githubusercontent.com/14258779/60027227-444bfe00-96c7-11e9-9534-2ca0810b7792.png)

[2019-06-24 14:36] sandy081 commented on #75958
1. Please provide steps to reproduce the issue.
2. Also try reproducing the issue by disabling all installed extensions

[2019-06-24 14:37] BobLuursema opened #76015 "Executing task only starts terminal"
Issue Type: <b>Bug</b>

When I execute any task it only starts up a shell and it doesn't run the command. This even happens when I start a fresh new workspace and execute the default hello world task.

![image](https://user-images.githubusercontent.com/25150818/60027733-477ec400-969e-11e9-9b5b-7268336730d2.png)

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:

[2019-06-24 14:38] isidorn commented on #75963
Thanks for the suggestion. However always prompting would be a pain.
Thus we have settings, more about that can be foudn here
https://github.com/microsoft/vscode/issues/371

[2019-06-24 14:38] #75963 closed

[2019-06-24 14:39] sandy081 commented on #75953
@rohita77 Do you mean changing the theme in the same window based on the file opened?

[2019-06-24 14:39] alexr00 opened #76016 "Test sequential tasks"
- [x] macOS @kieferrm
- [x] linux via Remote-SSH @kieferrm
- [x] windows @kieferrm

Complexity: 1

Refs: https://github.com/microsoft/vscode/issues/58718

Open a folder and use the following tasks to tests. Verify that the tasks execute sequentially when the dependsOrder is set to sequence. Try changing the dependsOrder and verify that the behaviors is not longer sequential.

Some sample powershel

[2019-06-24 14:40] isidorn commented on #75960
There is no extension available for this, since we do not explose windows size to extensions.
Leaving open as a feature request, though I do not think we will do this since nowhere in the UX do we have automaticing hiding / closing of parts based on overall window size.

[2019-06-24 14:41] #75956 closed

[2019-06-24 14:41] sandy081 commented on #75952
Please check following and provide necessary info

- Run command `Developer: Running Extensions` and see what extensions are running
- Open Developer tools and check if there are any errors in the console
- Open Output panel and open the logs and see if there are any errors in Window, Shared Process & Extension Host Logs

[2019-06-24 14:43] idanwork commented on #74559
I had similar crash on Mac with electron 5.0.4.
This was only reproducible when closing the app from the Dock menu after 2 minutes of running.

I think that in 5.0.5 there was something about the _webContents_ that might be disposed incorrectly. I haven't been able to verify that this was the case for me.

For me work around was to set mainWindow = null on the "before-quit" of the app.
The _"befor

[2019-06-24 14:45] jrieken commented on #19694
We do run `additionalTextEdits` first because `insertText` can be a snippet and we don't really know how/when you leave that. That's kind of a given there. You can do the 'after' trick with a completion command which is always run after the insertion happened, BUT outside the undo stops and async so that will likely result in a bad feel.

The challenge is that `range` is used to select the portion

[2019-06-24 14:46] ShadyGaDa commented on #75995
Only that after restart the theme always resets

[2019-06-24 14:50] sandy081 commented on #75913
Not sure if this has to come from language or editor core. Hence assigning to both of you.

[2019-06-24 14:52] isidorn commented on #75919
Can you reproduce this with latest vscode insiders
https://code.visualstudio.com/insiders/
If yes, if you F1 > developer tools > debug console > do you see some errors there, if yes can you please share theme here?

[2019-06-24 14:52] sandy081 commented on #75902
Please file issue against the formatter that is formatting. I suspect this is from python extension.

[2019-06-24 14:52] #75902 closed

[2019-06-24 14:53] TheRealSyler opened #76017 "Pie menus for vscode."
**Why are pie menus great and better than normal drop down menus ?**
Mainly because you can select commands faster then with drop down menus, and once you are used to them you don`t think about them, you just think about the thing that you want to do whereas with  drop down menus you have move the mouse exactly where the item is and then also press the left mouse button and with pie menus no more

[2019-06-24 14:53] #70387 closed

[2019-06-24 14:54] jrieken commented on #70387
seems to work by now

[2019-06-24 14:54] jrieken commented on #73950
not actionable, closing

[2019-06-24 14:54] #73950 closed

[2019-06-24 14:55] sandy081 commented on #75895
Looks related to c++ language. Please file the issue against c++ extension.

[2019-06-24 14:55] #75895 closed

[2019-06-24 14:56] bpasero commented on #75951
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2019-06-24 14:57] jrieken commented on #75904
It should be Cmd/Ctrl+Enter but that also seems to be defunct

[2019-06-24 14:57] pawelurbanski commented on #75840
Just a quick update… Unfortunately, I cannot get through the initial Yarn package compilation. There is an issue with the postinstall.js script reported by someone on Github.
It stops me from compilation, and working on the fixes locally.

From: Dickson Tan <notifications@github.com>
Sent: czwartek, 20 czerwca 2019 15:53
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Pawel Urbanski <pawel@pa

[2019-06-24 14:57] sandy081 commented on #75892
Please file against the popClip extension

[2019-06-24 14:57] #75892 closed

[2019-06-24 14:57] gyorgynadaban opened #76018 "Code Helper crashes MacOS"
Issue Type: <b>Bug</b>

Having 4-5 Visual Studio Code windows open and attempting to complete a Time Machine backup crashes MacOS 10 out of 10.

No builds were running, no scripts in any open terminals either, all Visual Studio Code windows were sitting idly.

No CPU intensive processes were running, doesn't seem to be related to overheating.

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d

[2019-06-24 14:57] ReggieMarr opened #76019 "Debugger overwrites file contents saved with :w - causes lost work"
- VSCode Version: 1.35.1
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Write code
2. save with vim extension (\:w)
3. Run the debugger with the following \:
        {
            "name": "Python: Current File start_work",
            "type": "python",
            "request": "launch",
            "args": ['example_arg'],
            "program": "${file}",
            "console": "integratedTerm

[2019-06-24 15:01] sandy081 commented on #75879
@xtluo-ai Did you try following the performance wiki and provide us necessary info as recommended there

https://github.com/microsoft/vscode/wiki/Performance-Issues

[2019-06-24 15:02] bryceschober commented on #71461
@SheepDomination In your question, you just linked to the same issue that I originally linked to, so I'm not sure what you're asking. Did you intend to link to a specific comment in that issue?

[2019-06-24 15:04] rebornix commented on #74767
Done.

[2019-06-24 15:04] #74767 closed

[2019-06-24 15:05] joaomoreno opened #76021 "Test: Tree indent guides"
Refs: https://github.com/microsoft/vscode/issues/17777

- [x] MacOS @auchenberg
- [x] any os @egamma

Authors: @joaomoreno

Complexity: 3

* Trees across the workbench should have indent guides (eg. Explorer, Search, Debug, Outline, Problems)
* Indent guides can be configured with the following visibility options: `none`, `onHover` and `always`
* Indent guides should adapt to changing the tree ind

[2019-06-24 15:05] sandy081 commented on #75888
@a-x- In a Multi root workspace we do not allow customising window settings like themes, colors etc per folder.

Can you please provide the list of settings which you think they should be customisable at folder level in a Multiroot workspace and why?

[2019-06-24 15:08] sandy081 commented on #75886
@Kvek As @gjsjohnmurray mentioned the changes view shows you modified files related to your current version. Please let us know what is missing there?

[2019-06-24 15:09] sarahkittyy commented on #75774
I am also experiencing the same error: `Cannot read property 'strong' of undefined`
[code]
[code]
The window log gives this trace:
[code]

[2019-06-24 15:10] sandy081 commented on #75995
Can you please open your `settings.json` file and see if the theme setting is retained or not?

[2019-06-24 15:13] joaomoreno opened #76022 "Test: Raspberry Pi remote SSH"
Refs: https://github.com/Microsoft/vscode-remote-release/issues/13

- [x] any os: @rebornix
- [x] any os: @jrieken

Authors: @joaomoreno

Complexity: 3

1. Get a Raspberry Pi 2/3 with Raspbian installed
2. Enable SSH access on it
3. Configure SSH access to it from your host machine and use the Remote SSH extension to connect to it

[2019-06-24 15:13] sandy081 commented on #75876
Language pack extensions are not supported while running from dev.

[2019-06-24 15:13] #75876 closed

[2019-06-24 15:14] sandy081 commented on #75839
Can you please provide necessary information to diagnose the issue. If it is performance related please follow this wiki microsoft/vscode/wiki/Performance-Issues

[2019-06-24 15:18] bpasero opened #76023 "Perf: investigate startup slow down main:loadWindow <=> willLoadWorkbenchMain"
Looking at the graph from 1.35, we see a spike:

![image](https://user-images.githubusercontent.com/900690/60030904-143f3380-96a4-11e9-9648-930dcd8e976a.png)

Not a lot of code runs between the 2 markers. Should check in history if anything changed that could have an impact.

Marks: `main:loadWindow` and `willLoadWorkbenchMain`

//cc @jrieken

[2019-06-24 15:19] #75625 closed

[2019-06-24 15:19] #75448 closed

[2019-06-24 15:19] #75537 closed

[2019-06-24 15:19] #75484 closed

[2019-06-24 15:19] #75572 closed

[2019-06-24 15:24] maxcct commented on #18651
Just going to throw an additional voice behind this request. Ideally I'd like to have a setting that would make working tree editors close themselves automatically as soon as another editor is switched to. Otherwise I always end up accumulating a silly quantity of open working tree editor tabs.

[2019-06-24 15:26] misolori commented on #75993
This appears to be a Windows bug with file association (see #60716). I am on v1.35.1 and 1903 and am not able to reproduce:

<img width="255" alt="image" src="https://user-images.githubusercontent.com/35271042/60031119-fd272400-9658-11e9-96fd-1d45c18fcac3.png">

FYI @joaomoreno not sure if you know of any workarounds/fixes

[2019-06-24 15:26] #75993 closed

[2019-06-24 15:26] fyrepenguin commented on #74932
no every other works fine in XD and photoshop

[2019-06-24 15:30] bpasero opened #76024 "HockeyApp: investigate error in uploading symbols"
https://monacotools.visualstudio.com/DefaultCollection/Monaco/_build/results?buildId=50776

[code]

[2019-06-24 15:31] didorothy commented on #74731
I'm having this issue also. However, I was playing around with settings and it appears that when I turn on "Terminal > Integrated > Enable Latency Mitigation" that the prompt shows up like it should. It does not eliminate the extra blank lines.

I am running PoshGit and making the git status show in my prompt so there may be what the integrated terminal considers latency while PoshGit determines t

[2019-06-24 15:33] chen86860 commented on #58784
I found that the bug was fixed after version `1.35.1` (I have no clear which version it started) on macOS, so I close this issue. Thanks you guys~ 😃

[2019-06-24 15:33] #58784 closed

[2019-06-24 15:39] Chuxel commented on #75267
@sandy081 I can repro this as well.

Trace logs from Dev Tools Console:
[code]

[2019-06-24 15:39] mjbvz commented on #75996
To use Flow, install the [flow extension](https://marketplace.visualstudio.com/items?itemName=flowtype.flow-for-vscode) and [follow these instructions](https://github.com/flowtype/flow-for-vscode#setup)

[2019-06-24 15:39] #75996 closed

[2019-06-24 15:41] mjbvz commented on #75989
We highlight markdown content in js/ts jsdoc block comments but not in normal comments

[2019-06-24 15:41] #75989 closed

[2019-06-24 15:41] usernamehw commented on #76017
Looks similar to #70074

[2019-06-24 15:42] mjbvz commented on #75976
We don't ship with built-in support for angular or vue. Please file this feature request against those extensions

[2019-06-24 15:42] #75976 closed

[2019-06-24 15:44] sandy081 opened #76025 "Auto import is importing relative paths"
Auto import is importing relative paths

[2019-06-24 15:45] ozyx commented on #74731
Unfortunately this does not fix the issue for me. Maybe it's a fix for a separate issue?

[2019-06-24 15:47] Orlandb31 opened #76026 "Integrate Terminal is showing outside the Window"
When I open the Terminal the visual studio code is shown outside the window, I do not have the option to see the external terminal

![Captura](https://user-images.githubusercontent.com/23524981/60033013-5ef18900-966d-11e9-9831-0cd9aa2b10d2.PNG)

[2019-06-24 15:52] sandy081 commented on #75855
@luabud Is the problem is with the action icon?

[2019-06-24 15:56] misolori commented on #75817
@g-plane we're working on updating this ;)

[2019-06-24 16:01] sethRait commented on #68069
@bpasero are there any updates on this? I've seen other electron apps fix this problem in the past 2 months.

[2019-06-24 16:01] misolori commented on #53405
@johanngerell yes, as @MeikTranel mentioned we have some explorations around updating our UI for extensions and are looking to enable sorting (see #68527). I'm hoping that after we update our iconography (#8017) that we'll be able to tackle this next.

[2019-06-24 16:03] bpasero commented on #74898
Follow up for @deepak1556 : see if there could be an issue with `GetTracingController` calling into Electron code where this tracing controller is provided.

[2019-06-24 16:04] sandy081 commented on #75847
Yes, we should sanitise and normalise the URIs that are entering the system.

[2019-06-24 16:05] weinand commented on #76019
What do you mean by "Contents of all files interacted with the debugger is overwritten."?
Please provide detailed steps.

[2019-06-24 16:05] wbuck commented on #75774
I'm also experiencing the "Cannot read property 'strong' of undefined". I can attempt to debug after work tonight.

[2019-06-24 16:06] misolori commented on #73872
⚠️ Verification steps requires a HiDPI screen ⚠️

Steps:
1. Download .exe file
2. Run installer
3. Verify that icons are not blurry on HiDPI screen (Retina, 4k, etc.)

[2019-06-24 16:07] masters3d opened #76027 "paste clipboard as HTML"
In NotePad++ there is way to paste the contents of the clipboard as HTML when the content come from an HTML page. http://docs.notepad-plus-plus.org/index.php/Editing_Special_Formats

I would like the same functionality from VSCode.

[2019-06-24 16:09] dimtoneff commented on #6442
+1

[2019-06-24 16:13] Ash-Bash commented on #6442
need to order mine soon :)

[2019-06-24 16:14] YangHanlin commented on #75774
@alexr00  I have set the breakpoints according to your instruction, and here is what I find:

(I'm sorry that I am not familiar with front-end development, therefore I may have done it incorrectly)

### The first breakpoint

I set the first breakpoint in Line 50 of `platform.ts` and found that, as VSCode hit the breakpoint on reloading, the variable `_isNative` was `false`.

![Screenshot 1](https:

[2019-06-24 16:15] #75079 closed

[2019-06-24 16:19] #75584 closed

[2019-06-24 16:21] deepak1556 commented on #75061
Service worker support on desktop is same as web for http(s) schemes, as for custom protocols it works if the scheme is registered with privileges using https://github.com/electron/electron/blob/master/docs/api/protocol.md#protocolregisterschemesasprivilegedcustomschemes .

When it comes to `file` protocol, electron managed to hook into the service worker registration and get it working, but I wou

[2019-06-24 16:23] bpasero commented on #75054
I have pushed a change to disable support for simple fullscreen for now. We can bring it back after Deepaks fix ends up in a release. I also added the setting to the collection of settings keys we track for telemetry.

[2019-06-24 16:24] gregg-miskelly commented on #75578
LGTM

[2019-06-24 16:25] adriang133 commented on #71743
I'm also getting this, only with some files.

VSCode 1.35.1
macOS 10.14.5

[2019-06-24 16:26] bpasero commented on #68069
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2019-06-24 16:27] bpasero commented on #75061
@deepak1556 ok, so we can introduce a custom protocol for Desktop and register it as being privileged. Is there any disadvantage from doing this registration?

[2019-06-24 16:28] octref commented on #75936
Duplicate of #71996.

[2019-06-24 16:28] #75936 closed

[2019-06-24 16:32] #74188 closed

[2019-06-24 16:34] jrieken opened #76028 "Test API to know if you are remote"
Refs: https://github.com/microsoft/vscode/issues/74188

- [x] any @mjbvz
- [x] any @aeschli
- [x] any @kieferrm

Complexity: 2

The API is two pieces: `vscode.env.remoteName` and `Extension#extensionKind`. See all the details here: https://github.com/microsoft/vscode/issues/74188#issuecomment-503973407. Try to write an extension that knows
* if it runs remote or with the UI
* if a remote exists or

[2019-06-24 16:40] sethRait commented on #68069
Seems to be fixed in the insiders build.  Any idea when this fix is coming to stable?
![image](https://user-images.githubusercontent.com/8842639/60036433-171a3400-9664-11e9-8fc4-b7707438a031.png)

[2019-06-24 16:51] luabud commented on #75855
Yes, I think it's not obvious what {} means. But then I can't think of any icon that would be more representative than that. I believe having a link with "open settings.json" would be more discoverable.

[2019-06-24 16:51] deepak1556 commented on #75061
Nope no disadvantage, just make sure that in electron < 5 , we need to setup privileges using two different apis for service workers to work properly.

* [protocol.registerStandardSchemes](https://github.com/electron/electron/blob/4-2-x/docs/api/protocol.md#protocolregisterstandardschemesschemes-options) - main process
* [webFrame.registerURLSchemeAsPrivileged](https://github.com/electron/electron

[2019-06-24 17:01] bpasero commented on #74898
Pushed a new flag `--disable-inspect` for `test-integration.sh|bat` that will cause the extension host to not run with `--inspect`.

[2019-06-24 17:02] #74560 closed

[2019-06-24 17:04] mikemaccana commented on #23707
A few common use cases:

 - Emphasizing interesting / unusual / large structures. Eg, a function assignment is more complex than a string assignment.
 - Having code in a monospace font, but prose (like comments) in a regular font
 - Focusing on code rather than comments (or vice versa) by controlling font weight

[2019-06-24 17:18] bpasero commented on #68069
Next week

[2019-06-24 17:18] bpasero commented on #75061
Thanks for clarifying this.

[2019-06-24 17:18] aeschli commented on #75994
Folding ranges are either provided by a language extension, or are based on indentation.
So the question is, in what language do you miss folding ranges in comments. If you use an extension for this language, we can assign this request to that language.
Please add a small code sample that shows what you would like to have.

[2019-06-24 17:19] #75638 closed

[2019-06-24 17:19] zaphod4254 commented on #41309
Toolbar needed.  I'm starting to learn more about PowerShell, being very experienced with VBScript.  I used Notepad++ for most of my vbscript editing, and starting to learn the PowerShell ISE.  PowerShell ISE at least has a toolbar, though it's not customizable as far as I can tell.  I heard about and installed VSCode in the hopes of it having a better toolbar than the PowerShell ISE.  Upon not be

[2019-06-24 17:20] SetTrend commented on #75688
Yes, but folding doesn't behave as I'd expect it to (according to the docs):

![Folding not working](https://user-images.githubusercontent.com/9283914/60038596-178eeb00-96b5-11e9-9107-a1c3b6afc729.gif)

[2019-06-24 17:32] sbatten commented on #76017
/duplicate #70074

[2019-06-24 17:32] #76017 closed

[2019-06-24 17:39] camlorn commented on #28316
I use Notepad++ professionally. I may try VSCode seriously one day but haven't so far had the need and people tend to stick religiously to their editors (plus, this issue does occur for me enough to be annoying, just not enough that I can quickly test).  Ymmv but there is at least a way to get your job done in a professional context if necessary, and that's worth having documented.

I don't want t

[2019-06-24 17:40] sakno commented on #75714
Unfortunately, the same story. Command line is `code --disable-extensions --user-data-dir /tmp/fresh-code/`

[2019-06-24 17:48] RMacfarlane opened #76030 "Test minimap search decorations"
Refs: https://github.com/microsoft/vscode/issues/75216

- [x] Mac @misolori
- [x] Linux @mjbvz
- [x] Windows @gregvanl

Complexity: 3

When using the find widget in the editor, matches should now also be highlighted in the minimap. Note that if there are over 1000 matches, a much more limited set of find decorations will be shown.

- Verify matches are rendered in correct position for different si

[2019-06-24 17:53] luabud opened #76031 "Folder not expanding in file explorer"
- VSCode Version: 1.35.1
- OS Version: Windows 10

Steps to Reproduce:

I was working with this project: https://github.com/luabud/tweeter3. Then I created a file called 2.1_test.py in the **tweeter** folder to try to reproduce a bug with the Python extension. Then I renamed it to test_2.py and now I can't expand that folder anymore.

Does this issue occur when all extensions are disabled?: Yes, i

[2019-06-24 17:56] mosor commented on #72521
This has been happening to me. It happens when I open VSCode from the command line and I have VSCode set to run as admin. Here is my path:
`D:\Apps\cmder\bin;D:\Apps\cmder\vendor\bin;D:\Apps\cmder\vendor\conemu-maximus5\ConEmu\Scripts;D:\Apps\cmder\vendor\conemu-maximus5;D:\Apps\cmder\vendor\conemu-maximus5\ConEmu;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsP

[2019-06-24 18:01] Tyriar opened #76032 "Terminal can get into state where rows aren't redrawn"
![Kapture 2019-06-24 at 10 57 47](https://user-images.githubusercontent.com/2193314/60040998-1fc43780-966f-11e9-9148-9ee732b5ce09.gif)

<img width="714" alt="Screen Shot 2019-06-24 at 11 01 18 AM" src="https://user-images.githubusercontent.com/2193314/60041119-6c0f7780-966f-11e9-9385-9c6d0ad7105c.png">

[code]

[2019-06-24 18:03] Tyriar commented on #76032
<img width="646" alt="Screen Shot 2019-06-24 at 11 03 29 AM" src="https://user-images.githubusercontent.com/2193314/60041236-bb55a800-966f-11e9-96c1-b7e13611ee88.png">

[2019-06-24 18:08] Tyriar commented on #76032
Source maps appear to be messed up, it's probably talking about `lineData`?

[2019-06-24 18:10] Tyriar commented on #76032
Repro on mac:

[code]

cmd+shift+up

[2019-06-24 18:16] Tyriar opened #76033 "Revert xterm addon license workaround"
Revert https://github.com/microsoft/vscode/commit/88f10ca5ed57020a92e09c5548bfd2d2cca96425 once https://github.com/xtermjs/xterm.js/issues/2257 is done.

[2019-06-24 18:18] Tyriar opened #76034 "Enable recently opened in web"

[2019-06-24 18:19] #75441 closed

[2019-06-24 18:39] mbelsky commented on #75862
Thanks for response. The correct behavior in this case: the linting should fail, because 001-sum.js doesn't pass tests.

I found an interesting thing. While I manually run `git commit` through `cmd.exe` or `bash.exe` `lint-staged` generate tasks with `[ 'C:\\Users\\publi\\js\\js-problems\\problems\\001-sum.js' ]` fileList. And when I commit through SCM it generate tasks with `[ 'c:\\Users\\publi\\

[2019-06-24 18:40] sbatten commented on #75970
@rebornix I'd like to tackle this since every other entry uses checks now. Word wrap just needs to have a consistent state that can be used for the menubar

[2019-06-24 18:41] sbatten commented on #75999
@nezorflame can you provide a gif of your full vs code window and the behavior you are seeing?

[2019-06-24 18:43] oliversalzburg commented on #75919
I can not, but I also don't know what causes this specifically. When I Ctrl+P, I don't see `navbar.pug` twice though, so I can't force the error case.

That doesn't exist for me on either Stable or Insiders.

[2019-06-24 18:47] mjbvz commented on #76025
Can you please share some more information.

* What file are you in?
* How did you open the project (folder? workspace?)

I just tested this in both desktop and web and can't repo it in the vs code codebase:

![Screen Shot 2019-06-24 at 11 45 17 AM](https://user-images.githubusercontent.com/12821956/60043766-b136a800-9675-11e9-94d7-79736fbffc7d.png)

[2019-06-24 18:49] rebornix commented on #75844
if I understand correctly, you want to disable active line number highlight, right? Just to double confirm.

[2019-06-24 18:49] mjbvz commented on #75974
@jrieken This is an interesting use case for the outline view, but I don't think our current apis would support it. The markdown preview is just a webview so is there any way to register a documentSymbolProvider for it?

[2019-06-24 18:53] synaptek commented on #75084
@alexr00  - I have created a repo to reproduce this Task issue -

Please see:
https://github.com/EdForge/VSCODE_TEST

I have tested this on multiple machines with various install paths.

Thx
Kevin

[2019-06-24 18:54] pelmers commented on #73904
I would like to implement this by adding a property `sortByValue` to `QuickPickOptions` on the extension API (`true` by default) to control this sorting. Does that sound reasonable and would you review such a PR? @chrmarti

[2019-06-24 18:58] rebornix commented on #75111
@AmirHosseinHmd didn't realize this issue was assigned to me. Do you think we can call it a duplicate of https://github.com/microsoft/vscode/issues/9432 ?

[2019-06-24 18:59] dlebu opened #76035 "Access to proposed APIs lost when extension disabled and then re-enabled."
Issue Type: <b>Bug</b>

This issue affects LiveShare, but we believe it is an underlying VSCode issue. LiveShare is whitelisted to use proposed APIs but we seem to lose that capability in the following scenario:
1. [Host] Sign into LiveShare and start a collaboration session.
2. [Guest - open a new VSCode instance] From the command palette, join the collaboration session you just started.
3. [Gues

[2019-06-24 19:01] mjbvz commented on #75913
Duplicate of https://github.com/microsoft/vscode/issues/21611

[2019-06-24 19:01] #75913 closed

[2019-06-24 19:01] mjbvz commented on #75917
Please share example code that demonstrates this problem

/needsMoreInfo

[2019-06-24 19:18] deepak1556 commented on #75090
Thanks @zcbenz , I did a git bisect on chromium using https://www.chromium.org/developers/bisect-builds-py and found the commit that regressed this behavior https://chromium-review.googlesource.com/c/chromium/src/+/1099183/ . I am gonna report it upstream to get the right fix moving forward. But as temporary can we disable mouse capture on `<webview>` RenderWidgetHost to workaround this issue ?

[2019-06-24 19:21] matt-potts commented on #3998
for me, @BobrImperator's suggestion of adding this text was the key:

[code]

I had already had the first 2 lines. The third line, excluding the tmp directory, immediately dropped the watcher to 49mb, down from almost 1700. Add it in your excludes. It's in the common settings menu for those unaware (cmd+comma).

[2019-06-24 19:41] labanish opened #76036 "VS studio keeps crashing when i save a new js file"
Issue Type: <b>Bug</b>

when i open a new file on vs on a new window, i expect it to run normaly

VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:30:02.622Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz (4 x 2496)|
|GPU Status|2d_canvas: enabled<br>checker

[2019-06-24 19:51] anon176 opened #76037 "Keyboard shortcuts to cycle through function overloads"
Add keyboard shortcuts to cycle through function overloads. https://i.imgur.com/4GA6Inm.png

[2019-06-24 19:54] mjbvz commented on #75880
The language mode should be updated automatically. What is the language mode if you create  a new `.css` file?

[2019-06-24 19:57] mjbvz commented on #75965
Can you share more information about the use case for this?

[2019-06-24 19:58] mjbvz commented on #75949
Closing this as it sounds like it is fixed in the current insiders builds (which will be released as VS Code 1.36)

[2019-06-24 19:58] #75949 closed

[2019-06-24 19:58] mjbvz commented on #76037
Up and down arrow?

[2019-06-24 20:01] vadimcn commented on #75578
Yeah, #1 looks fixed.

[2019-06-24 20:02] ianizaguirre commented on #3915
@trusktr I found someone who made an extension for gutter marks, this might be of use to those interested and are okay with using a plugin: https://marketplace.visualstudio.com/items?itemName=IgorSbitnev.error-gutters

[2019-06-24 20:09] JubinSaniei opened #76038 "no definition found for - vsdcode 1.35.1"
go to definition is not working anymore.
i'm coding in Angular
any help would be greatly appreciated.

here is HTML Code
`<div class="col-md-12">
     <span class="float-right cursor"><i class="fas fa-sync-alt"
          (click)="**refreshTable(model)**"></i>
      </span>
</div>`

refreshTable(model) is the function i have in my .ts file.
it used to work when i hit F12 on any function in my html

[2019-06-24 20:11] sattpat commented on #72235
I ran into the same issue yesterday. Could this ticket be reopened?

[2019-06-24 20:11] Ventilador commented on #75890
Sure thing, first ill have to stabilize my extension to see if its actually possible to achieve what im trying to do, then will submit one, unless someone beats me to it. Thank you so much

[2019-06-24 20:13] davidanthoff commented on #75965
Sure!

I maintain the [julia extension](https://marketplace.visualstudio.com/items?itemName=julialang.language-julia) and I'd like to use it there.

The scenario is that we have a custom file type with the ending `.jmd` (julia markdown). That format is a little bit like R markdown/notebooks, in that one can have julia code blocks in there, and then "weave" these docs, so that these code blocks run

[2019-06-24 20:16] gjsjohnmurray commented on #75688
@SetTrend are you expecting the `Ctrl+K Ctrl+number` chord do do some unfolding (which you caption expanding) as well as some folding (collapsing)? I didn't see that being promised by the doc I pointed you to. But maybe I'm misunderstanding you animation.

[2019-06-24 20:20] deepak1556 commented on #75090
Reported in https://bugs.chromium.org/p/chromium/issues/detail?id=978162

[2019-06-24 20:25] SetTrend commented on #75688
Pardon me choosing the wrong terms. English is not my native tongue.

I interpreted the doc's sentence: "Fold Level `X` (<kbd>Ctrl+K</kbd> <kbd>Ctrl+2</kbd> for level `2`) folds all regions of level `X`" like "Fold Level `X` (<kbd>Ctrl+K</kbd> <kbd>Ctrl+2</kbd> for level `2`) folds all regions of level `X` and unfolds all regions of level `X - 1`".

I tend to believe that the current implementatio

[2019-06-24 20:26] mjbvz commented on #76038
The functionality to have go to definition work between html is provided by your angular extension. Please file this issue against them

[2019-06-24 20:26] #76038 closed

[2019-06-24 20:28] gjsjohnmurray commented on #74281
@skprabhanjan I'd love to see your PR get merged, but for some reason I don't understand it apparently failed in the Windows part of Azure Pipelines. @joaomoreno can you help get this moving?

[2019-06-24 20:35] octref opened #76039 "Test updated vscode-test API and yeoman generated extensions"
Refs: #74560, #74555 and #74436

- [x] Mac @bpasero
- [x] Linux @Tyriar
- [x] Windows @aeschli

Complexity: 3

We have tested the new vscode-test API in #74436. I resolved remaining complaints of #74560 and #74555 in this milestone.

### High Level Changes:

- `vscode-test` API change: https://github.com/microsoft/vscode-test/blob/master/CHANGELOG.md#100-next0--2019-06-24 for #74560.
- `run()` fun

[2019-06-24 20:38] JubinSaniei commented on #76038
thanks for the advise @mjbvz . after installing Angular Language Service extention, problem solved.

[2019-06-24 20:46] atyshka commented on #50386
Yeah this is definitely possible, since it works for firefox and other apps. Anyone know is this is an issue with Electron or VSCode?

[2019-06-24 21:09] Tyriar opened #76040 "Windows is hardcoded in default shell selector"

[2019-06-24 21:12] alanrenmsft commented on #75478
I am also not able to reproduce this anymore. closing for now, thanks @roblourens .

[2019-06-24 21:12] #75478 closed

[2019-06-24 21:27] anon176 commented on #76037
Ah I disabled the Vim extension and up/down started working, thanks.

[2019-06-24 21:27] #76037 closed

[2019-06-24 21:34] SheepDomination commented on #71461
@bryceschober I linked to the same issue because I wanted to know has this issue been implemented into visual studio code and if so; what is it called in the documentation, from my understanding it has been implemented ?

[2019-06-24 21:49] hugonasciutti commented on #75188
I also wanted this feature, I found an extension that does that, [Open - sandcastle.vscode-open](https://marketplace.visualstudio.com/items?itemName=sandcastle.vscode-open), [repository](https://github.com/sandcastle/vscode-open). But it would be great to have natively.

[2019-06-24 21:51] mjbvz commented on #76036
How exactly is the editor crashing? Stop responding? Application crash?

/needsMoreInfo

[2019-06-24 21:53] hugonasciutti commented on #75188
I just wanted to open an HTML file but always have to open the folder to open with the default application.

[2019-06-24 21:56] Kaos-Industries commented on #28442
Thank you so much for that extension!

[2019-06-24 21:59] duane commented on #3684
To add on to the complication, it should really use a buffer-local kill ring, not the system keyboard, so you can kill and then yank without overwriting the clipboard.

[2019-06-24 22:00] ShadyGaDa commented on #75994
I found a discrepancy in JavaScript multi-line comments that would not fold when they should.
I guess this could be down to formatting.
I have noticed a possible addition of toggling
/* 'proper'
 * multi-line
*/
comments as a feature request.
That would be good.

[2019-06-24 22:12] mjbvz commented on #75920
Fixed by #75547

[2019-06-24 22:12] #75920 closed

[2019-06-24 22:18] gholt-aws commented on #21839
+3 We need this for VS Code, Visual Studio and Azure DevOps.

[2019-06-24 22:22] mjbvz opened #76041 "Test finalized DocumentLink.tooltip API"
Test for #74336

- [x] Mac @bowdenk7
- [x] Linux @jrieken
- [x] Windows @stevencl

Complexity: 3

**Overview**
#74336 finalized the `DocumentLink.tooltip` property. This lets extensions customize the hover text of document links

**Testing**
Use the [ContentProviderSample](https://github.com/microsoft/vscode-extension-samples/tree/master/contentprovider-sample) and set a `tooltip` on the document

[2019-06-24 22:26] matrs commented on #50386
Thumbs up the first post, although this is closed i think that's the only way to bring some attention to this. It should be possible, but it seems  clear that it isn't important for this project.

[2019-06-24 22:47] mjbvz commented on #76042
Here's where we handle clicks inside of webviews: https://github.com/microsoft/vscode/blob/355b5692ff64a3604ddad9ea4a8076f6fb9545cd/src/vs/workbench/contrib/webview/browser/pre/main.js#L148

[2019-06-24 22:53] Tyriar opened #76043 "Disable conpty when accessibility mode is disabled"
The way conpty reprints screens causes a lot of issues for assistive technology.

[2019-06-24 22:53] mjbvz commented on #72017
To verify, please make sure you are using TS 3.6 in your workspace and follow @rebornix's original instructions in the github PR extension's codebase

[2019-06-24 22:54] Tyriar opened #76044 "Print &nbsp; instead of "Blank line" for blank lines in the terminal"
Advice from JAWS, this lets the screen reader decide how to handle the empty line.

[2019-06-24 23:03] Tyriar commented on #76044
Upstream: https://github.com/xtermjs/xterm.js/issues/2260

[2019-06-24 23:08] pocesar opened #76048 "Every day now, Insiders update crashes and botches the installation"
Version: 1.36.0-insider (user setup)
Commit: 6a7020dd4a11e0f33b157b3df4baeec90d85701b
Date: 2019-06-24T06:46:00.488Z
Electron: 4.2.4
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Have VS Code Insiders
2. "Restart to update"

During the update, it showed an error about the exe being in use and DeleteFile errored with code 32.

[2019-06-24 23:10] mjbvz commented on #75965
Thanks. For your use case, you do want `.jmd` files to be treated essentially just like normal markdown files (but with these special contributions for the preview)? Essentially, does your extension set:

[code]

to re-use our built-in markdown extensions features, or does it provide its own `julia markdown` language?

I ask because another way this could be implemented is exposing a `Show preview

[2019-06-24 23:11] mjbvz commented on #74932
Let's get some other users to confirm this because I feel like we've already flipped the scrolling once or twice before...

[2019-06-24 23:18] mjbvz commented on #75821
We don't support private fields yet and can't parse files that use them properly. This is tracked by https://github.com/microsoft/TypeScript/issues/9950

[2019-06-24 23:18] #75821 closed

[2019-06-24 23:22] mjbvz commented on #75539
In general, you should not run with `"typescript.tsserver.log"` on unless investigating an issue with VS Code. The logs  it produces are quite verbose and the log file can get very large.

[This upstream issue](https://github.com/microsoft/TypeScript/issues/30967) tracks comically large TS Server log files, but even under normal circumstances the tsserver log file can get quite long during a long