[2019-05-27 16:24] #74417 closed

[2019-05-27 16:32] eightnoneone commented on #14582
@jmbockhorst That looks really nice. I agree there's a threshold of a sane list to show before assuming one should start with a collapsed view. Is a "collapse all" icon like in the workspace tree view a reasonable feature-creep addition here? If it's a long list, It would give the user the option to start from the top and work through a tree in an ordered fashion. Best would be separate ones on Ch

[2019-05-27 16:33] jeyk commented on #74352
@dralley You are correct. I am using Fedora 30 and an AMD Radeon RX 470 graphics card.

[code]

Sometimes the minimap *looks* OK, but is in fact still showing the last file opened.

[2019-05-27 16:38] hwhung0111 commented on #74104
I can reproduce it. And I get the same result while opening files.

Step to reproduce:
1. `touch demo.txt`
2. `ln -s demo.txt demolink.txt`
3. open both of these files in vscode insider
In debian: the file name on the editor will show `demo.txt` and `demolink.txt` respectively.
In macos: both of these will show `demo.txt`
4. `mv demolink.txt folder/`
5. Open the demolink.txt in folder
The file nam

[2019-05-27 16:39] emeidell commented on #74374
Can confirm that changing font fixes the bug. I would have never thought to change the font to fix this.

[2019-05-27 16:47] sanket-bhalerao commented on #71134
is this issue fixed?
i am able to see this issue in current vscode insiders.
Version: 1.35.0-insider (user setup)
Commit: 16de3c28db1d2c6fbe2227d1ffe91c5e7e683bc9
Date: 2019-05-27T05:19:20.616Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.15063

[2019-05-27 16:52] chrish42 opened #74421 "VS Code ignores linters installed elsewhere in $PATH (at least for Python)"
I install all the linters and tools I use for Python each in a separate, isolated virtualenv (via pipx).  The commands (e.g. "doc8", etc.) are then made available in my $PATH. However, I keep getting "linter not installed. Install now?" prompts, so it looks like the heuristic used to figure out if a linter is install looks in the virtualenv of the package only.

It'd be nice if VS Code supported i

[2019-05-27 17:04] Ercik10 opened #74422 "Problems with console.log and document.write"
Issue Type: <b>Bug</b>

When i wrote my class machine couldn't show it on the screen.
<html>
    <head>
        <script>

        function czas(g,m)
        {
            this.g=g;
            this.m=m;

            this.zwiekszMin=function(oIleM)
            {
                m=(m=oIleM)%60;
                if(oIleM>=60)
                {
                    this.zwiekszGodz((m+oIleM)/60);

[2019-05-27 17:09] sanket-bhalerao opened #74423 "Command "clear recently opened" should have a confirmation box or different highlight."
Issue Type: <b>Feature Request</b>

The command "clear recently opened" should have a confirmation that can confirm the user really wanted to clear the recently opened folders.
Its hard to keep track of all the projects/folders in case you are working on multiple at the same time.
Due to this "clear recently opened" command i have been more times than i can admit.
it would be helpful if there is s

[2019-05-27 17:18] sguillia commented on #17777
# +1
@kanlukasz Github recently added a new feature. We can subscribe only for important changes and not for `+1 me too pls fix` !!!!! 🎉🎉🎉🎉🎉🎉🎉🎉🎉

Dear `+1` spammers, you won't have me again.

[2019-05-27 17:18] ryanpage42 commented on #46338
This causes a lot of performance degradation for me. I'm also running nodemon and often the VSCode process will freeze due to poor save delay timing.

[2019-05-27 17:23] cyraid commented on #74342
Okay, thank you bpasero.

The empty group you were talking about works nicely when there are no windows:

![Screenshot 2019-05-27 12 12 50](https://user-images.githubusercontent.com/7562753/58432754-9cb4bf00-8079-11e9-8706-8e5a89860bf3.png)

That is the color I'd like to have all windows except for editing code.

Next, the settings window:

![Screenshot 2019-05-27 12 13 05](https://user-images.git

[2019-05-27 17:34] joaohonorato commented on #70413
Can this be done any time soon, i just love this feature, it awe me to not see it in vscode.

[2019-05-27 17:46] gulshan commented on #74143
Add to milestone?

[2019-05-27 17:53] Pontiaco opened #74424 "When in CSS document letter l is always on CAPS (L)"
When in CSS document,  letter "l" is always on CAPS (L).  When pasted in a clipboard or other external document the letter l is back to normal (not in CAPS).  The other way around is also true.  When copy from the clipboard in normal letter "l", when in CSS then becomes "L"

I have restarted my computer by the way......several times.....

[2019-05-27 17:55] dralley commented on #74352
Interestingly I'm seeing the same type of corruption in Betaflight Configurator, which isn't even an electron app, so it's probably some kind of kernel bug.  (Not that others shouldn't investigate further to be sure).

![Screenshot from 2019-05-27 13-51-43](https://user-images.githubusercontent.com/2751996/58433850-ee177b00-8086-11e9-8486-87e949496bfc.png)
![Screenshot from 2019-05-27 13-51-48](ht

[2019-05-27 18:25] leafi commented on #74378
I'm experiencing this, too.

I'm also on Arch Linux, using GNOME 3, completely up-to-date (Arch is a rolling release distro).

My graphics card is a Radeon RX 580. I have multiple monitors attached.

This started happening, oh, about a week ago? I suspect a mesa bug, or possibly a bug in the Linux amdgpu driver. But I haven't seen visual corruption in any other applications.

[code]

For me, the m

[2019-05-27 19:13] #74012 closed

[2019-05-27 19:33] maxime4000 commented on #73437
So I though it would be easier to reproduce the setup by trying CSS that have a lot of RGB in so here is the animation I use in the gif
[code]

[2019-05-27 19:40] CurtisBelt commented on #74352
Possibly related to mesa 19.0.5, which I have. All of the other Fedora/AMD users here probably have mesa 19.0.5 as well if their system is up to date.

They have a fix in progress. Sorry I don't have time to confirm if this is exactly our issue, but seems plausible enough to mention here.

Source: https://bugs.freedesktop.org/show_bug.cgi?id=110721#c16

[2019-05-27 20:02] Tyriar commented on #74398
I'll be replacing these with importing standalone modules soon:

https://github.com/microsoft/vscode/blob/652650732653c4c4ac1f0f54788486e76aea516e/src/vs/workbench/contrib/terminal/electron-browser/terminalInstanceService.ts#L37-L38

[2019-05-27 20:03] LunaLovegoood opened #74427 "Out of memory when keeping file open while it's being updated"
I have a script which updates file every second. It runs for a quite long time.
Recently I've launched script, opened file in VSCode and left for about two hours. When i came back, VSCode terminated due to the out of memory issue.
Then I've done same thing again but after about 20 minutes I've launched 'Open process exporer' command and it clearly stated that window with that file consumed a lot o

[2019-05-27 20:04] Tyriar commented on #74183
I'm not sure this was actually fixed.

[2019-05-27 20:07] Tyriar commented on #74416
Can you show a screenshot?

[2019-05-27 20:08] Tyriar commented on #74374
/duplicate https://github.com/microsoft/vscode/issues/74183

Please comment more details on your build in that issue, specifically the commit and date of the build (can find in About)

[2019-05-27 20:08] #74374 closed

[2019-05-27 20:13] Tyriar commented on #74183
Tracking the xterm.js side https://github.com/xtermjs/xterm.js/issues/2136

[2019-05-27 20:13] #73949 closed

[2019-05-27 20:18] Tyriar commented on #74358
This looks like a driver issue that we can't do much about, here are your options which were already pointed out:

- Update graphics drivers
- rendererType to dom (slower is expected)
- `code --disable-gpu` (using dom renderer would probably be better than this, it might do good to disable GPU anyway though if you're having issues)

[2019-05-27 20:18] #74358 closed

[2019-05-27 20:30] Tyriar commented on #74388
/duplicate https://github.com/microsoft/vscode/issues/72708

[2019-05-27 20:30] #74388 closed

[2019-05-27 20:36] rebornix commented on #74397
@bpasero the current implementation tweaks `Uri.query` to support both file editing (`file://`) and comments loading (`query` carries pull request information). The new implementation will not do that any more, with the new implementation

* GH PR provides `pr://` and `review://`
* `file` are not touched.

[2019-05-27 20:44] Tyriar commented on #74319
/duplicate https://github.com/microsoft/vscode/issues/74183

[2019-05-27 20:44] #74319 closed

[2019-05-27 21:06] dnicolson opened #74428 "Documentation edit link results in a 404"
Steps to Reproduce:

1. Navigate to https://code.visualstudio.com/api/references/vscode-api
2. Click the `Edit` button

Also, when expanding text items there is a height calculation problem during the animation, resulting in a noticeable jump:

![giphy](https://user-images.githubusercontent.com/2276355/58439359-e03c1700-80d3-11e9-8cde-7af6547f5709.gif)

[2019-05-27 21:48] akurz42 commented on #25887
It's been 2 years since the OP - anybody still having hopes to see this anytime soon? It's the only thing that keeps me from switching from Atom.

[2019-05-27 22:08] onolox commented on #72607
Win 10. I am behind a corporate proxy.
When I hit F5 the message appears 5s later, but 20s later the plugin is loaded normally.

If I desativates the internet in any way the debug starts immediately, like it should.

I think the issue is related to Code trying to use the proxy for localhost. I have a  env variable for proxy exclusion. Or proxy in some way.

But is strange, I don't had this problem

[2019-05-27 22:13] #73222 closed

[2019-05-27 22:15] ramiroagm opened #74429 "Notepad++ "Define your Language""
There is a feature in Notepad++ that allow me to customize the display information, colors and fonts for certain types of files.

IE. I have  some .out files that show some logs that I've created in other applications. Those have certain structure, and I'd like to customize certain parts of the file so I easily can read a log while I program on other window.

[2019-05-27 23:31] baibhavx commented on #12622
This would be very useful. Let's implement this, please!

[2019-05-27 23:40] importnetminecraft commented on #74376
solved by deleting .node-gyp under user folder

[2019-05-27 23:40] #74376 closed

[2019-05-27 23:46] ranolfi commented on #74378
@leafi Thanks for confirming this is not just me. No, I have only one monitor at this moment.

May I ask, have you restarted your machine (full AC power off cycle) since you last updated your mesa package? I would do this myself but I can't for another day or so.

[2019-05-27 23:55] cjlaborde opened #74431 "Terminal not displaying properly after latest update."
- VSCode Version: May 2019 (version 1.35)
- OS Version: Ubuntu Linux 18.04

Steps to Reproduce:

1. Open terminal in visual studio code

Does this issue occur when all extensions are disabled?: Yes/No
Yes, even with extensions disabled same issue.
As well preview when I type letter not displaying properly.
Left is latest version. Right older version
https://i.imgur.com/1ZnwxCJ.png

[2019-05-28 00:02] cjlaborde commented on #74431
Fixed it by changing  terminal render setting from dom to auto setting https://i.imgur.com/ttsl8PO.png
It changed the setting on it's on after reset.

[2019-05-28 00:02] #74431 closed

[2019-05-28 00:08] jimpriest commented on #12185
Frustrating because oddly enough this does seem to work on Windows VSCode.  Was a bit surprised to hop over to Linux and find it failing. :(

[2019-05-28 00:15] mic4126 commented on #73590
tried to add `"/C"`
still same result.

I remember in the previous issue #72950. I install the insider version, then the problem disappear.
The problem only occur after using the insider version for a period.

so is there anyway i can try to reset vscode and try to reproduce the problem again.

[2019-05-28 00:17] nemchik commented on #12185
@jimpriest I have not been able to get this working on Windows, so I'm curious what you've done?

[2019-05-28 00:19] leafi commented on #74378
I did restart, yeah - since I updated mesa, and just before adding to this
bug issue to see if it would clear up. No effect.

OK, it's probably not a multi-monitor thing then...

Have you looked at your terminal tab? Mine's pretty glitchy in much the
same way as the minimap.

On Tue, May 28, 2019 at 12:48 AM Marc Ranolfi <notifications@github.com>
wrote:

[2019-05-28 00:59] MarshallOfSound commented on #73806
This is correct 👍 Squirrel.Mac uses `NSURLRequest` directly --> https://github.com/Squirrel/Squirrel.Mac/blob/cb838776ce22bcbf41def7b9a1352f24120bab29/Squirrel/SQRLUpdater.m#L202-L217

[2019-05-28 01:04] thibaultdelor commented on #73806
@MarshallOfSound Can you advise on the way forward? Do you think that should be handled by electron or somewhere else?

I am happy to work on a PR on any of those repo, I am just not sure what is the right way to do it.

[2019-05-28 01:08] pixieaka commented on #74143
#28409 Is this soon...

[2019-05-28 01:13] MarshallOfSound commented on #73806
@thibaultdelor Unless I'm missing something it sounds like your proxy or machine is mis-configured.  If your proxy is rewriting SSL certs then the SSL cert that your proxy uses needs to be trusted by your machine.  The answer should never be "disable SSL" because that's how you get pwned.

This matches VS Codes documentation:

Along with `--ignore-certificate-errors`:

The _correct_ solution here

[2019-05-28 01:20] kingkongshan opened #74432 "In the case of Chinese input, a few times after pressing "shift"+"-, there will be a stuck phenomenon."
Issue Type: <b>Bug</b>

In the case of Chinese input, a few times after pressing "shit"+"-, there will be a stuck phenomenon.

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 2700X Eight-Core Processor          (16 x 3693)|
|GPU

[2019-05-28 01:26] thibaultdelor commented on #73806
@MarshallOfSound

It is. the CA has been added to my keychain and all other applications are fine with it. I am browsing using Chrome behind the same proxy.
Obviously there is a mismatch here between what my chrome checks and what Squirrel.Mac checks.

Sometimes proxy will use an invalid certificate and the only work around is to ignore the error. I know it's dangerous and using this flag is at my

[2019-05-28 01:37] elliottyates commented on #73824
@Chuxel sorry for the delay in responding. I think what you're saying is the same as what I'm thinking, yes -- I'd like to have a single window open (e.g. for search purposes, across code sources run across multiple different containers) and have the window understand the context I'm in while (a) editing (e.g. understanding which versions of the libraries are referenced, for code introspection) an

[2019-05-28 01:38] allen505 opened #74433 "Random texture appearing in some parts of the vs code window"
Whenever I am using VS Code(VSC) and then I put the laptop to sleep, and after a while I open and unlock my laptop, some random texture appears over the window in some parts as shown in the picture. The texture appearing is also not part of any background app or the wallpaper.
Interestingly, some texture goes away way I bring my mouse over it and some go away when I click it. Clicking it becomes a

[2019-05-28 01:42] MarshallOfSound commented on #73806
Strong disagreement on that, those command line flags are documented and known to only affect Chromium.  If you doing stuff with nodes `https` module or native `NSUrlRequest`s those flags won't affect them at all.

It's an auto-updating framework, one of the most sacred things is ensuring the update is legit.  Adding a flag to disable SSL doesn't sound like a great idea to me.

Gonna stand by my o

[2019-05-28 01:42] shenhai-ran opened #74434 "split settings.json file"
I thought this must be requested, but I really didn't find any open issues.

After I start to use and customize VSCode for a while, especially with some extensions installed, my _settings.json_ becomes very long and also difficult to maintain. Would it be good if I can split the _settings.json_ files into smaller ones, probably for different extensions.

I can image two approaches, either:
add inc

[2019-05-28 02:00] geminiyellow commented on #71827
like an ugly fish, hmm... but i love it.

[2019-05-28 02:12] moisesrodriguez opened #74435 "Blurry title bar when changing tabs"
Issue Type: <b>Bug</b>

When I change tabs, depending on what tab I am the very top where it show the filename and the project name it gets blurry. For example in the header.js tab is blurry

![Screen Shot 2019-05-27 at 9 07 02 PM](https://user-images.githubusercontent.com/3869040/58445814-c1ce1f80-80c3-11e9-8dc7-891bde7a97f9.png)

but in the tab proyectoEscritura.tpl.html it's not blurry and it s

[2019-05-28 02:15] yume-chan commented on #74347
duplicate of #37315

[2019-05-28 02:16] jdneo commented on #74104
Hi @bpasero,

Sorry for the late reply. I was on vacation days before.

Regarding the issue, actually, I'm not sure what's the right behavior should be. But the thing I've observed is that the name of the opened folder is not the same on Mac and Linux. Please let me know anything I can help to help you reproduce the issue.

[2019-05-28 02:40] TylerLeonhardt commented on #73852
So based on your 2nd screenshot, the `Get-DatabaseSpace.ps1` shows up locked by `pwsh.exe` that's spawned from VSCode. Am I interpreting that correctly?

And you're not running anything in that terminal before the issue occurs?

And this is an intermittent problem, is that right (since you're able to restart and save with no problem)?

I wanna make sure we rule out everything. Is there any chance

[2019-05-28 02:47] #71048 closed

[2019-05-28 02:54] wsmelton commented on #73852
Correct on all accounts. Nothing in my profile that touches the files.

I run import-azautomationrunbook to upload the code. It had been 15-20 minutes though since I had last run the command, I recall.

[2019-05-28 02:57] octref opened #74436 "Test @types/vscode and vscode-test"
Test for #71048

- [x] Mac @Tyriar
- [x] Linux @aeschli
- [x] Windows @bpasero

Complexity: 2

Overview: `vscode` has been split into `@types/vscode` and `vscode-test`. See the reasoning here: https://github.com/microsoft/vscode-extension-vscode/issues/147

[Release notes](https://github.com/microsoft/vscode-docs/blob/vnext/release-notes/v1_35.md#splitting-vscode-package-into-typesvscode-and-vscod

[2019-05-28 03:01] jeff-hykin commented on #74219
Oh it should show up that way (strings all one color) on everyone else's. I had a custom textmate setting that I forgot to disable before taking the screenshot.

Here's what it looks like with my settings disabled.
<img width="1359" alt="Screen Shot 2019-05-27 at 10 57 39 PM" src="https://user-images.githubusercontent.com/17692058/58447651-16c56200-80d3-11e9-9aa3-ccbf7c537539.png">

[2019-05-28 03:03] RaspberryPeach commented on #73941
@aeschli Finally, I knew what the problem was. The problem was Synology Cloud Station Drive(The program that synchronizes pc and nas). What's unusual is that there's no problem with other programs.

The following programs did not cause problems:
Visual Studio 2017
Visual Studio 2015
intelliJ

Tested with the following file:
c, cpp, .java

It seems to be an error if open files with Visual studio co

[2019-05-28 03:03] roblourens commented on #74210
Could you share the full log from the "Remote - SSH" output channel?

![image](https://user-images.githubusercontent.com/323878/58114233-2c56fb00-7bac-11e9-8b26-23053f14763f.png)

[2019-05-28 03:04] ambershark-mike commented on #74219
@jeff-hykin Thanks!  I downgraded my vscode but will re-enable it in pacman tonight and update.  I'll let you know but it looks good to me in the screenshot. :)

[2019-05-28 03:23] tuananh opened #74437 "Terminal render issue"
- VSCode Version: Version 1.35.0-insider (1.35.0-insider) 16de3c28db1d2c6fbe2227d1ffe91c5e7e683bc9
- OS Version: macOS 10.14.4

Steps to Reproduce:

1. Toggle integrated terminal on

Screenshot

![image](https://user-images.githubusercontent.com/627278/58448541-9b939880-8132-11e9-875f-59313cc93432.png)

Does this issue occur when all extensions are disabled?: Yes/No

[2019-05-28 03:26] tuananh commented on #74437
Fixed by changing renderer type from `dom` to `auto`

[2019-05-28 03:31] XinChen99 commented on #50426
i have the same problem when editing the latex file as well. Since i had changed the folder name before and it seems that the vscode has a memory that it only remembers the old folder name, that's why i keep getting the same problem when i click the warning links, because it links to the older folder name.

[2019-05-28 03:40] jeff-hykin commented on #50140
As an update to anyone interested in these extensions:
Manual .visx installation is no longer required. @georgewfraser, @EvgeniyPeshkov, and I got both of the extensions running with Web Assembly so now they work out of the box on basically any platform.

[2019-05-28 04:01] e-kk commented on #73862
My understanding is that while you save these files ,we need to provide
sometime to save them to server from vscode.

If we save hit ctrl+s and close immediately is the reason for this i guess,
we need to allow vscode to contact server and to save the data.

But we don't how much time it require for this. If we have response from
server to vscode then it would be good.

Thanks,
Kiran.

On Fri, May

[2019-05-28 04:13] rebornix commented on #74379
I'm not a fan of this api, and you are correct, if the plugin uses the api improperly, it will lead to performance issue and even if the plugin does everything correct, it might still behave poorly visually, for example, the extension host is busy with some tasks executed by other extensions (synchronously) and takes 200ms to deal with them, users will see noticeable latency for just moving the cu

[2019-05-28 04:14] Cophla commented on #74416
![vscode_bug](https://user-images.githubusercontent.com/16767283/58450576-2915bf00-8118-11e9-9274-1423b5f74721.png)

[2019-05-28 04:16] Cophla commented on #74416
Same for powershell:
![vscode_bug2](https://user-images.githubusercontent.com/16767283/58450665-8ad62900-8118-11e9-8f4c-2865e6b49b4a.png)

[2019-05-28 04:17] Cophla commented on #74416
But for Git Bash its working normally without any issue

[2019-05-28 04:31] mitchdenny opened #74438 "(node:15900) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead."
Version: 1.34.0 (user setup)
Commit: a622c65b2c713c890fcf4fbf07cf34049d5fe758
Date: 2019-05-15T21:59:37.030Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Install the Encode Decode extension (mine)
2. Create a text file type some text and select it.
3. CTRL-ALT-C and select a converter
4. Bring up the developer tools, yo

[2019-05-28 04:34] mitchdenny commented on #74438
On second thought it could be from one of my dependencies but might just look like it is coming from VSCode:

https://github.com/substack/node-ent/commit/dee1d4ba651e503e458271ecdd4d81f135ffb910

[2019-05-28 04:38] mitchdenny commented on #74438
Hrm - actually I commented out the module that is using a Buffer and its still happening.

[2019-05-28 04:41] ranolfi commented on #74378
Just did; it is indeed!

[2019-05-28 04:41] zhangkaiyulw commented on #74379
Hi @rebornix, thanks for replying and explaining in this detail.
Do you think a plugin that implements `When mode is active, turn every cursor move commands into selection changing commands.` makes sense?
Is there any way or mechanism that VSCode provide that I can create a feature like this for my plugin?

Thanks

[2019-05-28 04:53] SmallLuma commented on #74040
[code]

[2019-05-28 05:16] skprabhanjan commented on #73341
@sandy081 , were you able to look into this ?
I can remove the notification bubble and send a PR, please confirm :)

[2019-05-28 05:21] skprabhanjan commented on #74281
@joaomoreno , Removing the styling [here](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/scm/browser/media/scmViewlet.css#L76), is that it or I should add it somewhere ? Because you said

[2019-05-28 05:33] OnlyLys commented on #74433
Are you on Linux? This appears to be a problem with Mesa.

More info here: https://www.reddit.com/r/archlinux/comments/btnbpr/awful_artifacts_lately_in_all_chromium_based/

[2019-05-28 05:36] bpasero commented on #74342
@cyraid so you would like to have 2 new colors: a background color for settings editor and a background color for the rich-editor (not the text editor, but the one that can render rich text)?

[2019-05-28 05:37] bpasero commented on #74397
Great, when will this happen?

[2019-05-28 05:39] bpasero commented on #73862
You are on Windows right and open the folder through the Windows dialog?

[2019-05-28 05:43] importnetminecraft commented on #73644
How does the current implementation for this work?
I couldn't find any documentation of localize used this way.

[2019-05-28 06:08] FabianKoestring commented on #29194
Are there any plans to support Alpine-Linux?

[2019-05-28 06:09] e-kk commented on #73862
Yes, following the same. Sometimes front taskbar.

Thanks,
Kiran.

On Tue, May 28, 2019, 11:11 Benjamin Pasero <notifications@github.com>
wrote:

[2019-05-28 06:28] weijiangan commented on #71827
The new icons looks great. However, on macOS something about the insider icon just makes it look... blurry? (for the lack of a better word) on the dock especially with lighter backgrounds.

![image](https://user-images.githubusercontent.com/6372144/58455349-00abb600-8154-11e9-803d-7ad86563d280.png)

I think it's missing some contrasting outlines and drop shadow

[2019-05-28 06:34] PetrovVladimir opened #74439 "java error in "import javax.xml.stream.XMLInputFactory;""
Issue Type: <b>Bug</b>

github: https://github.com/PetrovVladimir/SprintAutoTest
classes: Main.java; ApplicationFactory.java
compile error: The package javax.xml.stream is accessible from more than one module: <unnamed>, java.xmlJava(8390063)

in Idea no proplelm

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 6.1.7601

[2019-05-28 06:40] leetsin opened #74440 "Native spell check"
Issue Type: <b>Feature Request</b>

Hi,

Please add a native spell check in Visual Studio Code for Linux.
The above feature is available for gedit in Linux.

thanks

Thomas Stephen Lee

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:55:35.507Z)
OS version: Linux x64 5.0.17-200.fc29.x86_64

[2019-05-28 06:49] muuvmuuv commented on #73094
Yes searching for the same! My temp solution is:

[code]

[2019-05-28 07:01] joaomoreno commented on #73728
Does the error appear right on startup? Can you show me a screenshot of the full window with the error?

[2019-05-28 07:06] dbaeumer commented on #50426
@xhliu and @XinChen99 how does the error look like in the problems view. Do you use any additional extensions that produce these errors?

[2019-05-28 07:07] joaomoreno commented on #74130
Oh I see what's happening:

The `XDG_RUNTIME_DIR` is taking precedence, regardless of portable. That is definitely wrong. Must fix.

[2019-05-28 07:09] joaomoreno commented on #74281
Yeah we want to keep the git extension section as `CHANGES`, etc.

[2019-05-28 07:10] joaomoreno commented on #73644
Here is it: https://github.com/Microsoft/vscode/blob/91885dd9e3e392d476071f759e391748e250df0f/extensions/git/src/repository.ts#L579

[2019-05-28 07:12] aeschli commented on #73941
What formatter do you use?
I checked, we don't have such a error message in VSCode.

[2019-05-28 07:24] jws2003 opened #74441 "为什么我的tab键突然失效了，都不能用EMMET了，还有其他功能。"
为什么我的tab键突然失效了，都不能用EMMET了还有其他功能。求大神支招，不知道是不是新版本的BUG，刚升级。

[2019-05-28 07:24] sandy081 commented on #74067
Each panel has different focus areas and problems panel has its content has focus area and hence it is highlighted when focused.

[2019-05-28 07:25] #74067 closed

[2019-05-28 07:28] sandy081 commented on #74112
This could be due to an extension you have installed. Please find out the extension (by disabling) that is causing it and report the issue against it.

[2019-05-28 07:28] #74112 closed

[2019-05-28 07:31] #74132 closed

[2019-05-28 07:32] aeschli commented on #74399
Yes, that's the current, intended format. When adding the labels (only used for remote) I didn't want to change the existing 'workspaces3' array as to avoid breaking old clients.
Agree that there's probably a smarter solution, but lots of nulls are also not that much of a waste.
No action planed for the moment

[2019-05-28 07:37] sandy081 commented on #74124
@davidemania Are you still able to repro with old content (directory)?

[2019-05-28 07:38] sandy081 commented on #64441
@rhernandog Please remove that setting from your settings file as it is deprecated and removed.

[2019-05-28 07:38] #64441 closed

[2019-05-28 07:40] sandy081 commented on #73134
@Ciantic Does not related to this issue. Please file a separate issue with any steps to repro. Thanks.

[2019-05-28 07:41] bpasero commented on #74104
The right behaviour in VSCode is to not follow the symlink but actually open it as instructed by the user. However this probably also depends on how the file was opened, e.g. from a native dialog or not.

@hwhung0111 @jdneo thanks for providing steps, but you are missing to tell me how you actually open the file. Just to give an example, here are various ways how you can open files in VSCode:
* fr

[2019-05-28 07:41] sandy081 commented on #74079
@isidorn Yes adopting new tree for custom view is on deck

[2019-05-28 07:42] XinChen99 commented on #50426
![image](https://user-images.githubusercontent.com/18189010/58459825-d8758480-815e-11e9-8ee2-fc1729ef3708.png)
it looks like this, actually i had change the folder name from 'MY PAPER' to 'MY PAPER&CONFERENCE' before, but the vscode seems do not find it and the error message still links to the old path.

additional extensions? i actually don't know which extension may be responsible for the error

[2019-05-28 07:47] jrieken commented on #71580
<img width="1345" alt="Screenshot 2019-05-28 at 09 42 03" src="https://user-images.githubusercontent.com/1794099/58459992-f4603280-812c-11e9-954b-e5f89e3cec50.png">

Looks like preventing default on the mouse down event doesn't work on linux and that therefore the widget hides again (triggered by the context service). You can verify that by right clicking the light bulb. Everything works nicely wh

[2019-05-28 07:47] sandy081 commented on #74157
Yeah, this is a duplicate of #63737. I do not think there are any plans to build this feature into VS Code but as said this can be requested to be incorporated in the extension that generates these errors/warnings

[2019-05-28 07:48] sandy081 commented on #74157
/duplicate

[2019-05-28 07:48] #74157 closed

[2019-05-28 07:49] sandy081 commented on #74166
Please check with the extension that is generating these problems

[2019-05-28 07:49] #74166 closed

[2019-05-28 07:49] jrieken opened #74442 "Snap package uses old icon"
The blurb on the snap package uses the old icon, it installs with the new icon tho

<img width="516" alt="Screenshot 2019-05-28 at 09 26 47" src="https://user-images.githubusercontent.com/1794099/58460393-d5ae6b80-812d-11e9-903d-6eeabedff73e.png">

[2019-05-28 07:51] sandy081 commented on #74137
@bennettdams I think your feature is same as this - https://github.com/microsoft/vscode/issues/57548

[2019-05-28 07:52] #74441 closed

[2019-05-28 07:53] alireza4050 commented on #72042
Also faced this issue. the problem is with gnome launcher .desktop file. it does not run ~/.bashrc or any other shell environment file. running 'code' from terminal inherits the environment and works just fine.

[2019-05-28 07:53] yyb1995 commented on #164
Up till now it seems that this problem hasn't been fixed. It's quite troublesome to drag file between windows everytime. Sincerely hope to add this feature asap.

[2019-05-28 07:54] #74418 closed

[2019-05-28 07:57] jrieken commented on #74418
Using the API command to measure the performance of completions is the wrong approach because the former does much more. The command is orchestrated from the UI side, e.g (1) all providers (running in the extension host (extensions), the web worker (words), and in the renderer (snippets)) are asked, (2) the result is merged/sorted, etc (3) the result is send to the extension host. That's a lot of

[2019-05-28 07:57] sandy081 commented on #73863
@purpleskyfall Looks like the vsix is corrupted. I see you are using VS Code on a VM, are you using the new remote set up - https://code.visualstudio.com/docs/remote/remote-overview?

[2019-05-28 07:58] joaomoreno commented on #74442
This needs to be updated in the snap's admin page: https://snapcraft.io/code-insiders/listing

I have updated Insiders. Let's leave this open for Stable. @misolori Is the icon coming out in the next stable?

[2019-05-28 08:00] jrieken commented on #74410
Sorry, I don't understand. Can you attach a gif? Also do you have 'Follow Cursor' enabled?
<img width="492" alt="Screenshot 2019-05-28 at 09 59 59" src="https://user-images.githubusercontent.com/1794099/58461195-5cb01380-812f-11e9-92bb-e5ff360d4965.png">

[2019-05-28 08:02] notjames commented on #74103
They are both `/run/user/1000`

[2019-05-28 08:03] sandy081 commented on #74262
Yeah output channel max out at 30 MB. It is recommended to append small chunks to data in output channel. Let me know if that works

[2019-05-28 08:09] sandy081 commented on #74221
I see your point, but the actions are associated to views and its same with Search view. Not sure this use case (showing settings of an extension) is strong enough to show actions for container. It might also happen that extensions can contribute views to your view container or in future we can also allow user moving views in which case these actions become irrelevant.

[2019-05-28 08:09] #74221 closed

[2019-05-28 08:13] sandy081 commented on #33840
There is in memory configuration which is available until window reload.

[2019-05-28 08:15] cyraid commented on #74342
@bpasero yes please. Also fgColor of them too if possible.

[2019-05-28 08:16] sandy081 commented on #74196
/duplicate https://github.com/microsoft/vscode/issues/71790

[2019-05-28 08:16] #74196 closed

[2019-05-28 08:17] yairEO commented on #74437
OMG I have wasted so many hours yesterday and today trying to figure out this!

So annoying, the integrated Terminal ignores all font settings, unless a change is made in any of VSCODE Terminal font settings, but this only fixes already-open terminals and new ones will again render with incorrect fonts.

MacOS `10.14.4`
VSCODE `1.35.0 insiders`

![settings json — backoffice-v2 2019-05-28 11-13-54]

[2019-05-28 08:18] paoloalba opened #74443 "Problems with synchronise button"
Issue Type: <b>Bug</b>

press synchronise button after setting gitconfig to automatic rebase for pull. The effect is that even if I have 0 commit to pull, it pulls everything before pushing, then having to deal with a ton of merge conflicts during the pull-rebase phase.
The problem does not appear when I just push the commits without synchronising.

VS Code version: Code 1.34.0 (a622c65b2c713c890f

[2019-05-28 08:21] DanTup commented on #74418
@jrieken sure, I wasn't specifically trying to compare the two - more highlight how much work is going on outside of the extension code. I'm trying to resolve some (significant) performance issues in completion (some of which are definitely my own) but it seems like there's a ceiling to how much I can improve when the significant portion of time/CPU/memory is outside of the provider.

1.2s to show

[2019-05-28 08:23] DanTup commented on #74418
Oh, does this also mean in my test I'm seeing the serialisation cost twice here, but in the editor it's only once?

[2019-05-28 08:23] bpasero commented on #74342
Passing along, not sure if some of this is possible already.

[2019-05-28 08:23] eamodio commented on #71580
I am seeing the same thing as @bpasero but on Windows

[2019-05-28 08:24] #74439 closed

[2019-05-28 08:26] #72387 closed

[2019-05-28 08:27] #74421 closed

[2019-05-28 08:27] wendzhue commented on #71827
It's great that the icon doesn't look oversized anymore!

[2019-05-28 08:28] zyvu commented on #56530
maybe +69 is going to work ?? :)

+69

[2019-05-28 08:28] #74411 closed

[2019-05-28 08:30] jrieken commented on #74424
Can you attached a screen shot and sample code?

[2019-05-28 08:32] #74440 closed

[2019-05-28 08:32] jrieken commented on #71580
@eamodio Using custom menus?

[2019-05-28 08:33] steodor opened #74444 "Open Editor edge case usability issue"
#### VSCode > About:
Version: 1.34.0 (user setup)
Commit: a622c65b2c713c890fcf4fbf07cf34049d5fe758
Date: 2019-05-15T21:59:37.030Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17134

Does this issue occur when all extensions are disabled?: Yes

Steps to Reproduce:
1. open a single file in a deeper folder structure and/or with a long name (so that it t

[2019-05-28 08:35] #74130 closed

[2019-05-28 08:35] eamodio commented on #71580
Yeah

[2019-05-28 08:37] jrieken commented on #74418
Yes

That's OK - we send a copy, keep the original, and clear everything at the end

Depends on the shape of the items, but roughly like so: 50% is deserialise, 25% is sorting, and 25% is UI

[2019-05-28 08:37] isidorn commented on #74031
Assigning to @weinand and @roblourens  to see if the stackFrame id can be preserved and removing the milestone.

[2019-05-28 08:39] rickstaa commented on #74130
@joaomoreno Thanks a lot for looking into it? Is there a way to watch this bug so I know when it is fixed? I looked into the may 2019 milestones but it is already closed there.

[2019-05-28 08:48] dalDevelo commented on #71827
As much as I mentioned that I love the new icon colour earlier in this thread, I have to admit that it doesn't look as great when it is on a semi-transparent background, whether light or dark.

I think it looks great on solid light or dark backgrounds, but defo needs some adjusting for better definition on transparent backgrounds.

[2019-05-28 08:52] dalisoft opened #74445 "VSCode Insiders: Terminal font looks weird"
![](http://joxi.ru/LmGd9O4cwb5Jg2?d=1)

- VSCode Version: v1.35.0-insider
- OS Version: v10.13.6

Steps to Reproduce:

1. Download latest VSCode Insider and load
2. Open terminal

Session-based (until you close terminal):

1. Open settings
2. Change any setting related to Terminal font

Steps to Fix:

1. Open settings.json
2. Remove line `"terminal.integrated.rendererType": "dom"`

Does this issue

[2019-05-28 08:53] bpasero commented on #33840
**Update:** we are not using the in-memory config service for the editor yet.

[2019-05-28 08:54] rickstaa commented on #74130
Ah, I tested it out and this bug appears to be fixed! Thanks a lot, @joaomoreno.

[2019-05-28 08:54] dalisoft commented on #74445
Same issue applies to `External` terminal too

[2019-05-28 08:55] bpasero commented on #74393
Yeah this is not ready for prime time yet.

[2019-05-28 08:56] #74413 closed

[2019-05-28 08:57] isidorn commented on #72139
Thanks for the nice gif. Will investigate in the next milestone.

[2019-05-28 08:57] alexr00 commented on #74219
@ambershark-mike @Muirey03 I'm rolling back to the old atom C++ grammar for _just_ the Objective C++ highlighting.  All the good improvements for C++ will be kept. That way we still have reasonable highlighting out of the box for both languages. Once @jeff-hykin has a solution for the C++ vs Objective C++ conflict I can change it back.

[2019-05-28 08:59] isidorn commented on #73845
Both points are valid. And yes we were inspired by the chrome dev tools console.
However when there is no clear incentive to change behavior I prefer to leave it as it is in the current stable.
Due to that reverting my commit and reopening this issue.

[2019-05-28 09:02] DanTup commented on #74418
@jrieken thanks for the info! I think I've tracked down the issue - I think there is a leak, but this sample doesn't show it - I'll raise an issue with a repro shortly (I suspect it's related to your keeping a copy for resolve).

[2019-05-28 09:05] isidorn commented on #74299
VSCode always saves all files before starting debugging.
I will leave this issue open as a feature request to introduce a setting to disable vscode debug doing the save.

[2019-05-28 09:05] Muirey03 commented on #74219
@alexr00 Thank you, sounds good to me.

[2019-05-28 09:09] bpasero commented on #71580
@sbatten if a fix is too complicated for endgame, we can always return to the previous behaviour and work on a real fix in June.

[2019-05-28 09:09] bpasero commented on #74433
We are building exploration builds that use a much newer version of our UI framework (Electron version 4.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/14236f9f44cc7c94055bb8e65ebda29a4a91ddc7/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/14236f

[2019-05-28 09:09] jrieken commented on #74418
Oh, you are right... Looking at the code there is leak when using the `executeCompletionItemProvider`-command

[2019-05-28 09:10] DanTup opened #74446 "Completion providers with resolve methods leak memory"
Here's a fake completion provider that returns 20k items. Its resolve method does nothing (but exists, so that VS Code thinks it may be used - that seems to be important).

[code]

If you register this provider, then repeatedly invoke completion (I found the easiest way to do this was inserting lots of newlines then hitting `Ctrl`+`Space` then `Backspace` repeatedly), the memory grows continiously

[2019-05-28 09:10] al-wys commented on #71579
Same issue with **TypeScript** in _.tsx_ file.

![image](https://user-images.githubusercontent.com/16317690/58465972-59d31400-816b-11e9-9f7e-da2296d737d8.png)

[2019-05-28 09:10] chongchai commented on #74262
@sandy081  Thanks for your reply.
I did append small chunks, while total data is about 40MB. After invoke clear() api, I append small data to the output channel, the output shows the old content which should be cleared.

Two questions.
1. Is output channel's showing content will be not correct after data size over 30MB？
ps: I have the same extension behavior in the old vscode release (1.25.1). The

[2019-05-28 09:11] muuvmuuv opened #74447 "Access to electron 'systemPreferences' API"
I would like to access this electron API to subscribe to `AppleInterfaceThemeChangedNotification` OS event.

[code]

[2019-05-28 09:12] isidorn commented on #73672
I can not reproduce this.
What are you doing differently than me

1. I have a freshly generated vscode extension repository
2. F1 > start without debugging
3. `noDebug` is passed in the launch request. I verified that breakpoints do not get hit

![extensionDebug](https://user-images.githubusercontent.com/1926584/58466159-69396980-8139-11e9-9ed7-5a20bcd89852.gif)

[2019-05-28 09:14] isidorn opened #74448 ""workbench.iconTheme": null has no effect"
Have the following in your setting
`"workbench.iconTheme": null`

You get icons everywhere.
This was working yesterday. Not today.

[2019-05-28 09:14] muuvmuuv opened #74449 "Is it possible to get access to AmbientLightSensor API?"
I recently saw that there is an API to get the client system light sensor state in Chrome and was wondering if VS Code has access to that as well. If so, can we make this available or use something else to have a similar API?

MDN: https://developer.mozilla.org/en-US/docs/Web/API/AmbientLightSensor

[2019-05-28 09:17] jws2003 commented on #74441
Why my Tab key suddenly failed, can not use EMMET and other features. Ask the great God to tip, do not know is not a new version of the BUG, just upgraded.

[2019-05-28 09:18] #74042 closed

[2019-05-28 09:20] bpasero commented on #74414
@IlyaTurshatov can you reproduce when you try this:
* `code-insiders /Users/bpasero/Desktop/Test/ -g /Users/bpasero/Desktop/Test/test1.cs:1:0 `
* `code-insiders /Users/bpasero/Desktop/Test/ -g /Users/bpasero/Desktop/Test/test2.cs:1:0`

?

[2019-05-28 09:21] DanTup commented on #74446
Running the test I had for #74418 the result is much more obvious:

[code]

[2019-05-28 09:21] alexr00 opened #74450 "Remove atom/language-c grammar from objective-c extension"
See https://github.com/microsoft/vscode/issues/74219 for details.

[2019-05-28 09:21] jrieken commented on #74446
I can confirm that the `executeCompletionItemProvider` leaks but very scary is that the completion model itself doesn't seems to be disposed (tho all the code for it should be in place)

[2019-05-28 09:23] jrieken commented on #74446
wow - this is a good fix. thanks @DanTup

[2019-05-28 09:25] #74219 closed

[2019-05-28 09:26] DanTup commented on #74446
np! Hope it's an easy fix. I'd planned to disable our unimported-file completions in the next release, but assuming you can get this into the May release I think I'll just leave it for people to tolerate (or manually disable) until then 👍

[2019-05-28 09:29] jdneo commented on #74104
I see. For me, I'm using `File` > `Open` to open the symlink.

[2019-05-28 09:31] weinand commented on #74031
@isidorn the original problem occurred in the Java debugger. Fixing this in node.js debugging doesn't help that much for Java.
Please explain the Java folks what to do.

[2019-05-28 09:31] jrieken commented on #74446
wait, I do see the `$releaseCompletionItems` message being send. That happens whenever a suggest session end, e.g the widget closes or suggest is retriggered. Debugging this shows that the item cache is cleared.

<img width="472" alt="Screenshot 2019-05-28 at 11 29 08" src="https://user-images.githubusercontent.com/1794099/58467393-dbab4900-813b-11e9-9440-4e14ad09f5fe.png">

There is the leak when

[2019-05-28 09:32] saurabh-hirani commented on #58718
dependson should have the default behaviour of serial and have parallel as an option. Specifying an array implies to the end user that the dependencies will be satisfied in order.

[2019-05-28 09:33] #73844 closed

[2019-05-28 09:38] DanTup commented on #74446
My repro above is normal use (not calling the command from a test, but triggering from the editor):

Can you repro it doing that? (I don't know if it's important to cancel the completion prior to it being rendered with the list, but that's what I was doing).

[2019-05-28 09:38] bpasero commented on #74448
Seeing this too.

[2019-05-28 09:41] leegee opened #74451 "Open linked file from terminal in existing window"
Apologies if the title is unclear. Here's the situation:

1. Split the screen into three: a terminal, a JS module, and a JS test.

1. When the test fails, it reports 'error at line X in test.js' -- CTRL+click the link

1. The test is opened in a new tab of the module editor.

1. VSC now has open a terminal, and two tab-groups showing the test.

1. Would it be possible to check if a tab-group alrea

[2019-05-28 09:41] chrmarti commented on #71877
The ProxyResolver and vscode-proxy-agent will need to add support for SOCKS5. https://www.npmjs.com/package/socks5-client might help.

[2019-05-28 09:45] gjsjohnmurray commented on #14582
@jmbockhorst does your exploration add twisties to the Resource Groups (i.e. CHANGES and STAGED CHANGES)? I recently opened #74280 because I'd like to do that for a source control provider implemented in one of our extensions. @joaomoreno linked my issue to this one and closed it.

[2019-05-28 09:46] jrieken opened #74452 "Illegal state: service accessor is only valid during the invocation of its target method"
Seeing this sometimes when starting form the console. Sure async/await related

[code]

[2019-05-28 09:48] bpasero commented on #72906
I can confirm a nice speedup with the current solution (on my old Thinkpad, Windows 10, no power plug), good job.

Stable (renderer): `36ms`

![image](https://user-images.githubusercontent.com/900690/58468710-5aa18100-813e-11e9-8473-11afb0f1a97b.png)

Master (renderer): `3.51ms`

![image](https://user-images.githubusercontent.com/900690/58468753-6e4ce780-813e-11e9-9070-b2ff24a8e088.png)

[2019-05-28 09:50] jrieken commented on #74446
@DanTup Can you start with `--logExtensionHostCommunication` and check for a `$releaseCompletionItems` message being send from the window to the extension host process? That message should be send to clear the result of a provide call (give the provider has a resolve-function)

<img width="543" alt="Screenshot 2019-05-28 at 11 49 25" src="https://user-images.githubusercontent.com/1794099/58468911-

[2019-05-28 09:51] isidorn commented on #74031
Dear Java follks,

VSCode is using the tree to represent the variables in the variables view. In order for us to keep the expansion state we need to uniuqly identify each element in the tree.
For that we comput a unique ID for each element: Scope, Variable and so on.
Currently for the scope ID computation we use the [StackFrame.id](https://github.com/Microsoft/vscode/blob/0991cb526e878ec1ed4b17c4e

[2019-05-28 09:52] #72853 closed

[2019-05-28 09:54] jrieken commented on #74446
To clarify further - below screen capture shows how thing relate, the reply to the request (145) contains the id of the result (4) which is then used in the release-call

<img width="799" alt="Screenshot 2019-05-28 at 11 52 35" src="https://user-images.githubusercontent.com/1794099/58469128-2f6b6180-813f-11e9-935d-09b798d4d9a2.png">

[2019-05-28 09:57] DanTup commented on #74446
I switched to Insiders and updated to ensure there's nothing changed since stable, but I still see it. Doing what you see, as far as I can tell there is *not* a call to release.

Here, I hit `Ctrl+Space`, `Backspace`, `Ctrl+Space` so that there were two requests for completion, and the first was cancelled (but seems not released).

![prov](https://user-images.githubusercontent.com/1078012/58469418

[2019-05-28 09:59] DanTup commented on #74446
Wait, further down I did get:

[code]

[2019-05-28 09:59] jrieken commented on #72906
To bust a myth: `3.51ms` to create a promise that (eventually) loads the code. Writing `await import('foo')` desugars to

[code]

Those `3.51ms` are lines 1 and 2 in the sample, not lines 3 and 4

[2019-05-28 10:00] isidorn commented on #73975
In theory VSCode should not modify the original values.
We only change them for presentation purposes.
@jeanp413 would you like to provide a PR which cleans this up?
And easy starting point would be just looking where the replaceWhitespace function is being used. And it should only be used to make something easier to read, not to change the actual value.

[2019-05-28 10:00] sandy081 commented on #74438
/duplicate https://github.com/microsoft/vscode/issues/67534

[2019-05-28 10:02] DanTup commented on #74446
But if I run it a lot of times, then the number of releases don't seem to match the number of requests?

![counts](https://user-images.githubusercontent.com/1078012/58469786-1e6b2200-8138-11e9-9ab4-f3612814cc6f.png)

[2019-05-28 10:03] #71383 closed

[2019-05-28 10:04] DanTup commented on #74446
Maybe it's a race? If the client doesn't get the results (due to cancelling), does it assume it doesn't need to release them - even though the extension host may have added them to some cache?

[2019-05-28 10:05] #74452 closed

[2019-05-28 10:06] DanTup commented on #74446
Is there any good way to filter this log, so I can easily see the completion requests and their replies, without other noise?

[2019-05-28 10:06] jrieken commented on #74446
Yeah, that could be it. The request is being cancelled (which means the UI never gets a result) but if the provider still returns something then we keep it forever

[2019-05-28 10:09] DanTup commented on #74446
If it helps, [here is a log](https://github.com/microsoft/vscode/files/3227015/completion.txt) from my running completion multiple times and seeing this. My guess is that there are missing releases, but it's hard to match all the requests up :-)

[2019-05-28 10:13] isidorn commented on #74362
@aeschli you introduced the splitName so you would be the better one to review this.
Though I do agree that `path.basename` and `path.dirname` should do the thing for the welcome page.
@chrmarti also assigning to you since you own the welcome page

Feel free to assign back to me and I will just stop using splitPath [here](https://github.com/Microsoft/vscode/blob/0991cb526e878ec1ed4b17c4e99a4510420

[2019-05-28 10:15] jrieken commented on #74446
I am simply counting find matches, e.g. there are 5 provider-calls and only 1 release-call, and 4 cancel. I guess dart returns a result despite the cancellation token being in cancel-state, then it's us also not honouring that token and caching the items forever.

I has a fix ready which makes sure we never cache when cancellation happened...

[2019-05-28 10:16] bpasero commented on #72906
This is still a lot faster compared to before: `RotatingLogger` ctor: `7ms` to `1ms` (not being sync anymore)

The actual require now happens at a later point, hard to find in the timeline without perf marks.

Attached profiles:
[profiles.zip](https://github.com/microsoft/vscode/files/3227054/profiles.zip)

[2019-05-28 10:17] tuananh commented on #74437
that's what happened with me as well

[2019-05-28 10:18] bpasero commented on #74442
@joaomoreno yes we updated it in our distro for all our flavours.

[2019-05-28 10:18] jadeGeist commented on #74350
I'd like to give this a try!

[2019-05-28 10:19] jimbomorrison commented on #73761
Been on leave - sorry @roblourens

Not sure whether etiquette is to re-raise or [if I can] re-open.  Output as follows:

[code]

[2019-05-28 10:19] jrieken commented on #74446
Closing this with my fix (https://github.com/microsoft/vscode/commit/034165ac674c36131429301aea78fea7877acb72). @DanTup Thanks for the help!

[2019-05-28 10:19] #74446 closed

[2019-05-28 10:22] octref commented on #74261
Please give specific feature requests.

[2019-05-28 10:22] #74261 closed

[2019-05-28 10:22] skprabhanjan commented on #74281
@joaomoreno , Could not find the exact detail of what to remove.
Removing the style [here](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/contrib/scm/browser/media/scmViewlet.css#L76) will remove it in all places , so that is not correct. I dont understand what **group captions** actually mean ( CC : @gjsjohnmurray , if you could help )
I found there are these ResourceGroup (` me

[2019-05-28 10:22] octref commented on #74139
Yes, vscode html formatter uses js-beautify under the hood. 1.17 and 1.34 uses 2 different versions of js-beautify.

[2019-05-28 10:23] #74347 closed

[2019-05-28 10:23] octref commented on #74347
Duplicate of #37315.

[2019-05-28 10:24] DanTup commented on #74446
Today it does, though vNext checks the tokens and bails out. The testing done just above was using the fake provider I listed right at the top of here though, which has no async work in (so I presume the cancellation token couldn't have been updated since it's single-threaded?).

I don't have all the stuff set up to build VS Code locally since reinstalling Windows (maybe you can make that work in

[2019-05-28 10:26] #71790 closed

[2019-05-28 10:27] Geobert commented on #64488
There is another extension base on tree-sitter with Rust support as well:
https://github.com/EvgeniyPeshkov/syntax-highlighter/

I'm not the author, but I've helped him to improve the highlighting by giving him as much info as possible on Rust (as he doesn't know much about Rust). Still some issues in discussion, but out of the box, it does a pretty good job.

[2019-05-28 10:28] octref commented on #74351
`@custom-selector` is not in CSS spec. You might be interested in https://github.com/microsoft/vscode-css-languageservice/blob/master/docs/customData.md

[2019-05-28 10:29] #74351 closed

[2019-05-28 10:31] isidorn commented on #73457
Yes, I can reproduce and I acknowledge the issue.
VSCode should always send its notion of the line number, not what the debug adapter has reported.

[2019-05-28 10:35] #74449 closed

[2019-05-28 10:35] #74447 closed

[2019-05-28 10:36] jrieken commented on #74447
These issues aren't within the scope of VS Code and it's (general purpose) extension API. It seems you have something in mind that respects ambient light and theme information and I would suggest that you propose to implement that (describe your plans first, e.g. feature request) inside VS Code itself

[2019-05-28 10:36] Ryezenburgslab opened #74453 ""s" key wont work"
Issue Type: <b>Bug</b>

"s" key wont work upon installation or re installation. No idea how to reproduce the problem since its always been there.

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:22.738Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-3520M CPU @ 2.90GHz (4 x 2900)|

[2019-05-28 10:37] bpasero opened #74454 "Status zoom button should be a IStatusbarEntry"
I noticed that [`ZoomStatusbarItem`](https://github.com/Microsoft/vscode/blob/f5bc332/src/vs/workbench/browser/parts/editor/resourceViewer.ts#L237) is a `IStatusbarItem`. This one is typically when you need full control over the rendering of the item, but it seems you are only using text. I suggest to change this to `IStatusbarEntry` and use `IStatusbarService#addEntry()` to show and hide it dynam

[2019-05-28 10:41] bpasero opened #74455 "Debug status should be IStatusbarEntry"
I noticed that [`DebugStatus`](https://github.com/Microsoft/vscode/blob/4eb7879/src/vs/workbench/contrib/debug/browser/debugStatus.ts#L19) is a `IStatusbarItem`. This one is typically when you need full control over the rendering of the item, but it seems you are only using text and an icon we probably already have in our octicon set. I suggest to change this to `IStatusbarEntry` and use `IStatusb

[2019-05-28 10:44] gjsjohnmurray commented on #74281
@skprabhanjan I think @joaomoreno proposes that you **do** remove that style, but that you also change the code [here](https://github.com/microsoft/vscode/blob/2e61cfb5dc9ee22341b8ab423b23cc5018a83bf8/extensions/git/src/repository.ts#L586) to explicitly uppercase the localized captions of the the three `SourceControlResourceGroup` items being created there.

With those changes Git users won't see

[2019-05-28 10:48] isidorn commented on #74455
Makes sense, let's do this next week in debt week.

[2019-05-28 10:57] pinnekamp commented on #11889
Also multiple Outputs, e.g. Output <Python> and Output <Python Test Log>

[2019-05-28 11:04] lmcarreiro commented on #74362
I thought about putting a `.replace(/[\/\\]$/, '')` in the parameter of splitPath before calling it, but I didn't like it.

[2019-05-28 11:05] RaspberryPeach commented on #73941
I use C/C++ made by microsoft.

![123](https://user-images.githubusercontent.com/45388022/58473555-d5d95600-8183-11e9-8cb3-0041a824f08f.png)

[2019-05-28 11:29] lmapii opened #74456 "Print dialog opening cmd-P when cmd-tab'ing into vscode"
This might be related to the unresolved issue #26242

- VSCode Version: 1.34.0 (1.34.0)
- OS Version: macos 10.14.4 (18E226)

Steps to Reproduce:

1. Open vscode, open some file
2. cmd-tab to a different application (for me any application worked)
3. cmd-tab back to vscode
4. hit cmd-p to quick-nav
5. Empty print dialog appears (see screenshot)

Does this issue occur when all extensions are disabl

[2019-05-28 11:49] jtsom commented on #71827
Agreeing with @weijiangan and @dalDevelo, the new icons for Insiders just don't look good against a light background (in this case, the default MacOS Mohave background:

<img width="52" alt="image" src="https://user-images.githubusercontent.com/13488/58475873-223d7b00-811d-11e9-8dff-2e7edd703921.png">

[2019-05-28 12:08] sashkab commented on #21450
Any known workaround for this, except making window wider?

[2019-05-28 12:09] jrieken commented on #64527
/duplicate of #64524

[2019-05-28 12:09] #64527 closed

[2019-05-28 12:11] jrieken commented on #72317
closing in favour of, as duplicate of #64530

[2019-05-28 12:11] #72317 closed

[2019-05-28 12:12] jrieken commented on #64528
/duplicate of #50062

[2019-05-28 12:14] gjsjohnmurray commented on #74453
Is your vim extension doing something with that key?

Do you get the same problem if you disable the extension?

[2019-05-28 12:27] Kirides commented on #72989
Yes please.
I'm in the process of writing an extension to manage some legacy language that features words that would make a "marker" for folding. These words can be any cAsE.

[2019-05-28 12:32] joaomoreno opened #74457 "URI: Should invalidate cached _fsPath when crossing platforms"
The `_fsPath` cache is preserved throughout URI serialization. We should invalidate it when the URI crosses platform boundaries.

Related to https://github.com/microsoft/vscode-remote-release/issues/93

[2019-05-28 12:37] jimpriest commented on #12185
Well I'm pretty sure it used to work - I took notes in Jira ticket of what I used so I wouldn't forget.

find: var="(.*?)"
replace: var="\L$1\E"

Trying it now on my work PC (Windows) it doesn't work.  :(   I get the same results as I was seeing in Linux yesterday.  My note was from Aug 2018 so maybe it's a version issue?

[2019-05-28 12:38] SovietFrontier commented on #64441
@sandy081 so what is the replacement?

[2019-05-28 12:38] #74316 closed

[2019-05-28 12:38] JMPJNS opened #74458 "Multi Cursor in different Files"
The option to have multiple cursors in different files if you have them open side by side.

At the moment you can only type in one file at a time.

[2019-05-28 12:50] #73457 closed

[2019-05-28 12:54] #73587 closed

[2019-05-28 12:56] isidorn commented on #72768
We first need to add the capability to the [`FileSystemProviderCapabilities`](https://github.com/Microsoft/vscode/blob/c14ce2ee7b2742276663faf8a9f165eacae05d02/src/vs/platform/files/common/files.ts#L195)
@bpasero would you like me to add this capability?
`FilePathLength`?
The issue I see is that the capabilities are a bit mask, and do we want this to make a boolean? Which sounds fishy, it should b

[2019-05-28 12:59] IllusionMH commented on #64528
@jrieken I'm not sure that this is duplicate of mentioned issue.
#50062 is about general search/filter while this one is about adding controls for specific filters for references.

In particular references inside of import statements (basically duplicates inside one file where it will be actually used) and definitions (actually #68071 is duplicate of "Hide definition" part of this issue)

[2019-05-28 13:07] nemchik commented on #12185
I'm not a `+1` kind of commenter, but now I kind of wish I had on this thread just to see when I started tracking it. Earliest email I have on this thread was [April 5th](https://github.com/microsoft/vscode/issues/12185#issuecomment-480463158), but I know I've been using VSCode longer than that (at least since  Oct 4, 2018, when generated a GitHub token to start using [Settings Sync](https://marke

[2019-05-28 13:09] hwhung0111 commented on #74410
@jrieken The outline view will remember the previous file scroll position.
![VS](https://user-images.githubusercontent.com/17689651/58480343-c3afe580-818c-11e9-99c6-82339e652115.gif)

[2019-05-28 13:14] bpasero commented on #72768
Maybe @jrieken has an idea. It seems fishy not being able to define the actual max length, but if we do not want to introduce something new then maybe the capability should be something like "max file path length 255 characters" so that by default this restriction does not apply.

[2019-05-28 13:14] hwhung0111 commented on #74104
I also open from File > Open. For me, macos don't have the same behavior even I open the same symlink.

[2019-05-28 13:19] usernamehw commented on #64527
This issue is not about 1 hit, but ok, I guess.

[2019-05-28 13:27] zanza00 commented on #71827
I think that the insider icon lack contrast (at least on MacOS), as far as I can tell there is not a shadow that can make the icon "pop" as other icons especially in the application switcher (cmd+tab), it is also noticeable in the drawer as pointed by @weijiangan

For me personally I can't find the icon visually when put side by side other app icons when is over a white background. I am talking ab

[2019-05-28 13:46] #74448 closed

[2019-05-28 13:50] hediet opened #74459 "Find All References does not find references in modules within same workspace"
- VSCode Version:  1.33.1
- OS Version: Windows 10

Steps to Reproduce:

1. `git clone https://github.com/hediet/typescript-find-references-in-workspace`
2. Open `lib/src/index.ts`, find all references to `helloWorld`
3. Open `client/src/index.ts` permanently
4. Open `lib/src/index.ts`, find all references to `helloWorld`

Does this issue occur when all extensions are disabled?: Yes

Expected outc

[2019-05-28 13:53] Jared-Dev commented on #73788
That is the nice part. Its a setting and could be changed. If structured properly I'm guessing this could be something that is language based.

If this is an `enum` value it would rarely (most likely never) change for me. If there is an internal discussion on this and it still doesn't seem feasible than the summary you provided previously would much better than the current implementation.

For som

[2019-05-28 13:57] aeschli commented on #73941
Thanks for the information. It's an error reported by the C++ extension that has a underlying tto that does the formattimg.
Similar issue here: https://github.com/Microsoft/vscode-cpptools/issues/3271
Can you file this against CPP?

Can you test if the same problem appears for JSON or HTML files?

[2019-05-28 14:01] hediet commented on #74459
Oops. The duplicate detection actually was helpful this time.

[2019-05-28 14:01] #74459 closed

[2019-05-28 14:14] #69844 closed

[2019-05-28 14:18] yyb1995 commented on #55628
Disable Capture Window feature in QTTabBar really works. Thanks!

[2019-05-28 14:21] isidorn commented on #72405
I can not reproduce this on my ubuntu machine with the latest vscode insiders

![Screenshot 2019-05-28 at 16 20 27](https://user-images.githubusercontent.com/1926584/58485545-8e8f9d00-8164-11e9-9f57-512d6637da7e.png)

[2019-05-28 14:25] alexr00 commented on #69403
I can't reproduce this anymore. Looks like it was fixed by something else. My repro steps:
1. Open a folder that is at the same level as the VS Code repo folder.
2. Create this task:
        {
            "label": "TESTING",
            "type": "shell",
            "command": "echo",
            "args": ["src\\vs\\workbench\\contrib\\terminal\\browser\\terminal.ts"],
            "problemMatcher":

[2019-05-28 14:25] PerfectionCSGO commented on #39152
Is there any chance that we could get an update on this one?

[2019-05-28 14:28] joaomoreno commented on #67485
@roblourens Let's merge this early June: https://github.com/microsoft/vscode/pull/74462

[2019-05-28 14:32] joaomoreno commented on #74130
It was fixed today, so the next Insiders build (tomorrow) will have the fix. The next stable (next week) will have the fix.

[2019-05-28 14:35] alexr00 commented on #66507
No longer repros. If you set a keybinding int correctly shows in the Terminal menu.

[2019-05-28 14:35] #66507 closed

[2019-05-28 14:41] jmbockhorst commented on #14582
@gjsjohnmurray Currently it does not, but it is something that could be added fairly easily.

[2019-05-28 14:43] misolori commented on #71827
Thanks everyone for the feedback so far, we'll work on addressing the contrast issues for the Mac and Linux icons.

[2019-05-28 14:45] bpasero opened #74463 "Octicons: ensure size is proper relative to others"
Noticed that some of the icons in the octicon set seem to appear larger, e.g.:

![image](https://user-images.githubusercontent.com/900690/58487478-ee3b7780-8167-11e9-8e43-d244f045cb6e.png)

I suggest to:
* fake a status entry that shows all icons next to each other
* tweak those that appear relatively larger/smaller

With the end result that all icons are relatively the same size to each other 👍

[2019-05-28 14:49] WSLUser commented on #67894
Ping

[2019-05-28 14:51] gjsjohnmurray commented on #14582
@jmbockhorst thanks. I assume the changes you're proposing take account of how the SCM viewlet is generic, with Git being just one user of the generic framework. My #74280 request was to have expand/collapse of the resource groups implemented at the framework level so anything plugging into it gets the benefit.

[2019-05-28 14:54] iansan5653 commented on #3874
I see two potential solutions here:

The Firefox method: toolbar items can be dragged and dropped to rearrange, and any that the user wants to hide can be dragged into an overflow menu. This has the advantage of making all items easily accessible at all times, but because they are different widths, an overflow menu of the items would be awkward.

The Windows method: items can be dragged and droppe

[2019-05-28 14:56] IllusionMH commented on #71827
@misolori there are contrast problems on W10 (especially when VS Code icon is active) too.

[2019-05-28 14:57] jrieken commented on #74410
Yes, that a feature and by design. What's wrong with that?

[2019-05-28 14:59] jrieken commented on #72768
I though long path issues are a think of the past - doesn't windows allow you to workaround this? If not I would with Ben's suggestion and use a capability in that spirit of: names max length is 255 as I don't think there are other restrictions on other systems

[2019-05-28 15:00] misolori commented on #71827
@IllusionMH can you post a screenshot?

[2019-05-28 15:02] graph opened #74465 "remove deleted folders from recent"
1. create a folder
2. open in folder vscode
3. close vscode
4. delete folder
5. open vscode

observe that the folder is in recents, autocompletes when clicking on "more" too. Ideally for it to be removed. Feature request is to remove it from recents so it doesn't bug me when I search for projects.

Thank you.

[2019-05-28 15:04] jrieken opened #74466 "Test go to definition enhancements"
refs: https://github.com/microsoft/vscode/issues/74072, https://github.com/microsoft/vscode/issues/57537, https://github.com/microsoft/vscode/issues/53164, https://github.com/microsoft/vscode/issues/52743

- [x] any @mjbvz
- [x] any @dbaeumer

Complexity: 2

Many small improvements have gone into go to definition and friends. Test that

* you can cancel a request when hitting ESC (test when TS is

[2019-05-28 15:04] Tyriar opened #74467 "Test: True color in terminal"
Test for https://github.com/microsoft/vscode/issues/18544

Complexity: 3

- [x] mac/Linux @kieferrm
- [x] Windows (use WSL in terminal) @sbatten

The integrated terminal now supports true color (24-bit) rendering, please verify that the colors are working in both the DOM renderer\* and canvas renderer:

[code]

Print colors in this mode to the terminal uses the `CSI Pm m` escape sequence where Pm

[2019-05-28 15:06] hwhung0111 commented on #74410
@jrieken I think every file remember their own scroll position is more reasonable.

[2019-05-28 15:06] Tyriar opened #74468 "Test: runInBackground terminals"
Test for https://github.com/microsoft/vscode/issues/72518

Complexity: 1

- [x] mac/Linux @roblourens
- [x] Windows @lramos15

A new option was added when using `createTerminal` called `runInBackground`, please try use it based on the description and verify it makes sense.

[2019-05-28 15:09] #74457 closed

[2019-05-28 15:10] isidorn commented on #73090
Thanks for the nice repro steps.
I have pushed a fix, you can try it out in tomorrow's vscode insiders and let us know if the issue is fixed for you.

[2019-05-28 15:10] asdmem opened #74469 "Automatically Update html and *css modules"
`declare module '*.html' {
  const content: string;
  export default content;
}

declare module '*.scss' {
  const content: string;
  export default content;
}
`
`import template from '../test/test.component.html';
import scss from '../test/test.component.scss';
`
If you move file to another location Automatically Update won't work for them.
Feature request: Automatically Update  should work for t

[2019-05-28 15:11] IllusionMH commented on #71827
![image](https://user-images.githubusercontent.com/1312662/58489218-7c692b00-8173-11e9-932f-933b31a9f790.png)
does't look very contrast when window is active and task bar icon is highlighted.
Not as bad as transparent Mac OS, but worse than before.

[2019-05-28 15:12] #73090 closed

[2019-05-28 15:31] cnjeffliu commented on #74326
Search the reference of anything, eg: variable, obj, function,  and get nothing.

[2019-05-28 15:34] jrieken commented on #74188
@aeschli discussed this in the API sync and the idea is to bring more structure into this. Often URIs are like this: `vscode-remote://foo+barcafebarblablub/some/path` and to extensions only the part before the `+` is meaningful or stable. So instead of having the plain string we could have an object that exposes the `prefix` (`foo`) to begin with.

[code]

cc @roblourens

[2019-05-28 15:36] Studio384 commented on #71827
This shade of green seems to be a mistake in general. I preferred the original green version.

[2019-05-28 15:37] mjbvz commented on #74326
Those are not steps to reproduce. See the guide. For example: what language are you working in?

[2019-05-28 15:37] jrieken commented on #71580
Yes - this commit can be reverted easily

[2019-05-28 15:40] iansan5653 commented on #74445
/duplicate #74445

[2019-05-28 15:40] iansan5653 commented on #74445
/duplicate #74183

[2019-05-28 15:43] TomasPuverle opened #74470 "Switch native keyboard bindings?"
I work across multiple OSs but would like to avoid having to learn three separate sets of keybindings.

Is there a clean way to say, e.g. on Windows, "use the Linux key bindings"?  I know I could copy all of them to my user settings, but that seems... a bit clunky?  Also, it would mean the bindings could diverge over time etc.

Thank you.

[2019-05-28 15:43] 825126369 opened #74471 "下划线丢失"
Issue Type: <b>Bug</b>

我用VSCode 浏览代码的时候，我发现 XM_PERMUTE_0X 这个字段，有时候下划线能看到，有时候就看不到了

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: dis

[2019-05-28 15:44] Dkyn commented on #38999
+1 Same issue, Win 10, run as admin.

[2019-05-28 15:46] RMacfarlane opened #74472 "Test: Comment API contributions"
Refs: #68020

- [ ] any
- [ ] any

Authors: @rebornix, @RMacfarlane

Complexity: 4

This month, we finalized the new commenting API. Much of this has already been tested and vetted, the change from last month was to support menu contributions to:

* `comments/commentThread/title`
* `comments/commentThread/actions`
* `comments/comment/title`
* `comments/comment/actions`

The two "actions" contribut

[2019-05-28 15:52] rebornix opened #74473 "Test: Better Merge complete diff view"
Refs: https://github.com/microsoft/vscode/pull/74231

- [x] any @mjbvz

Authors: @rebornix

Complexity: 2

Previously when you try to compare changes of a merge conflict, there is no context around the changed/modified code and it always shows in current active editor. This month we improved the experience by

* When we compare the change in a merge conflict, we show complete diff of the whole doc

[2019-05-28 15:55] bpasero commented on #74285
**Verification:** there are no more SVGs used in the status bar, specifically:
* errors, warnings and infos are shown with their icons and clicking toggles the problems view
* you see the "Send Feedback" smiley properly and can click it
* running something from debug shows the current launch config in the status bar with a play icon to the left
* running something from the debug shows "Building" b

[2019-05-28 15:56] #74285 closed

[2019-05-28 15:57] Dkyn commented on #38999
uncheck 'run as administrator' solved the problem.

![1](https://user-images.githubusercontent.com/8270948/58492859-63428900-8137-11e9-9879-f3eaecb6165d.png)

[2019-05-28 15:58] GaurangTandon opened #74474 "File Explorer search does not work with numpad keys"
Issue Type: <b>Bug</b>

1. Open File Explorer (Ctrl+Shift+E)
2. Use alphabet keys or number row keys to search for files or folders. This works fine.
3. Now try using numpad keys to search.

**Expected**: search should work as before
**Actual**: search does not work at all. It seems the file explorer is ignoring numpad key presses.

I have also found this bug in Insiders version, and I have also c

[2019-05-28 16:00] jrieken commented on #74188
latest and greatest: https://github.com/microsoft/vscode/blob/a429fd13565d3392c87e31228ec9e8a2bf3708d5/src/vs/vscode.d.ts#L6044-L6057

[2019-05-28 16:02] tobyjug opened #74475 "Autocomplete Not Working Within User Snippets Until Pressing Esc"
- VSCode Version: 1.34.0
- OS Version: 10.14.5

Steps to Reproduce:

1. Trigger Snippet
2. Start typing (no autocomplete)
3. Press `esc`
4. Start typing (autocomplete works)

Does this issue occur when all extensions are disabled?: Yes

CSS example (first without pressing `esc`, then deleting, pressing `esc` and trying again):

![2019-05-28 16-58-18 2019-05-28 16_59_14](https://user-images.githubu

[2019-05-28 16:02] pmpinto commented on #74213
I was about to, but based on [this comment](https://github.com/mrmlnc/vscode-scss/issues/38#issuecomment-283615884) on a similar issue for that extension, I opted to reach out to you guys.

True. And that's how I deal with it most of the time. But in some occasions I just can't remember the value I'm looking for and have to scroll a huge list of suggestions until I find the actual valid values for

[2019-05-28 16:03] julianlam commented on #74431
@cjlaborde Thanks! Was wondering why my terminal went back to the dark ages all of a sudden. I think the option to switch to the DOM renderer was presented during high CPU (or OOM scenarios).

[2019-05-28 16:04] bpasero commented on #74285
/cc @dbaeumer @alexr00 on https://github.com/microsoft/vscode/commit/8c358072716a394625c800b8276ac34d29ffd671 and https://github.com/microsoft/vscode/commit/af9cd4e8f23757a146f7849805364e802be3985b. The task related status bar contributions are no longer in need to render the full contents, rather they now use the more lightweight `IStatusBarEntry` where you can set properties as JSON.

The bigges

[2019-05-28 16:09] orpiske commented on #74433
I believe I have the same issue. In my case, the problem happens only on the terminal. I have the same VS code version on my laptop and it does not have the issue.

@bpasero if you have an RPM version of the exploration builds, I can give it a try as well.

[2019-05-28 16:10] Tyriar commented on #74431
/duplicate https://github.com/microsoft/vscode/issues/74183

[2019-05-28 16:10] bpasero commented on #72768
@jrieken yeah we could revisit this check, I think it was only there because the Windows Explorer would still not be able to handle such long paths.

I believe there is still an absolute maximum of file name length (that is - just the name of the file, not its full path) that is true even on macOS and Linux.

[2019-05-28 16:11] sietede commented on #74174
![code bug](https://user-images.githubusercontent.com/6884667/58493562-11463700-8128-11e9-9208-c74bf97d74dd.JPG)

Those are the results I get after Ctrl + Shift + F, Select "Match Case" option (in red circle),Type "IF". The results include instances of "if" as well which should be an error. Let me know if you need more details.

[2019-05-28 16:20] #74445 closed

[2019-05-28 16:22] bpasero commented on #74433
@orpiske https://az764295.vo.msecnd.net/exploration/fb34c44351af7e0abdf493d6fd70072b35f93edf/code-exploration-1.35.0-1559036183.el7.x86_64.rpm

[2019-05-28 16:22] Tyriar commented on #74183
It looks like the width of cells is correctly measured for a monospace font, but the font being used is proportional.

[2019-05-28 16:26] gjsjohnmurray commented on #74473
Looking at the [code](https://github.com/microsoft/vscode/blob/c3fe962b89dcab0f1ba765e0728c11fddffa2a4a/extensions/merge-conflict/package.json#L122) it seems this option is "Beside" :+1: - so "Besides" is just a typo in this testplan item.

[2019-05-28 16:30] orpiske commented on #74433
@bpasero Thanks. I verified that the problem persists with the exploration build. I attached the screenshot for reference.

![terminal-problem](https://user-images.githubusercontent.com/1851560/58494937-7b85c880-8176-11e9-97eb-be81a5e94309.png)

[2019-05-28 16:34] misolori commented on #74463
Refs: #74285

[2019-05-28 16:35] Tyriar commented on #74437
/duplicate https://github.com/microsoft/vscode/issues/74183

@yairEO thanks for the effort, that's very useful to help diagnose 👍

[2019-05-28 16:35] #74437 closed

[2019-05-28 16:39] Tyriar commented on #74183
Managed to repro with these settings on macOS thanks to @yairEO

[code]

[2019-05-28 16:41] #74471 closed

[2019-05-28 16:44] Somebi commented on #43188
Bump

[2019-05-28 16:49] kieferrm commented on #74456
Can you provide us with any additional information you have?  We have no reproducible scenario. What you describe works just fine for me.

[2019-05-28 16:51] Tyriar commented on #74183
Upstream PR is out https://github.com/xtermjs/xterm.js/pull/2140, will probably pull into the build tonight.

[2019-05-28 16:51] kieferrm commented on #74453
Pls try to reproduce the problem when starting Code with `code --disable-extensions` from the terminal.

[2019-05-28 16:53] allen505 commented on #74433
I don't really know what electron here means. I have spotify but that does not have this problem. About messa, I am using Linux Mint which is based off of Ubuntru and Debian but the post is from Arch Linux. so I'm guessing it's not it. Not sure what Messa means either.

[2019-05-28 16:53] snewfie commented on #1422
Yes found that out yesterday it is working now on all editions of windows

[2019-05-28 16:54] rebornix commented on #74473
@gjsjohnmurray thanks for the spell checking ;)

[2019-05-28 17:00] mjbvz commented on #74405
Duplicate of #13953

[2019-05-28 17:00] #74405 closed

[2019-05-28 17:00] #74348 closed

[2019-05-28 17:00] mjbvz commented on #74348
We designed it so no work is required on the vs code side

[2019-05-28 17:01] mjbvz commented on #74339
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

/needsMoreInfo

[2019-05-28 17:03] #74370 closed

[2019-05-28 17:03] mjbvz commented on #74370
Set `"editor.suggest.snippetsPreventQuickSuggestions": false` to enable suggestions in snippets

[2019-05-28 17:04] sbatten commented on #74435
/duplicate #71743

[2019-05-28 17:04] #74435 closed

[2019-05-28 17:06] mjbvz commented on #74475
Set `"editor.suggest.snippetsPreventQuickSuggestions": false` to enable suggestions in snippets

[2019-05-28 17:06] #74475 closed

[2019-05-28 17:07] kieferrm commented on #74402
Do you use any extensions related to Jinja/Python?

[2019-05-28 17:08] lmapii commented on #74456
Sadly I can't ... The problem disappeared after the second reboot, I'm no longer seeing the behaviour. Might not be vscode directly but something related to electron.

[2019-05-28 17:10] kieferrm commented on #74361
Pls have a look at https://github.com/microsoft/vscode/wiki/Performance-Issues and provide additional details. Thanks!

[2019-05-28 17:11] #74254 closed

[2019-05-28 17:17] rbhanot4739 commented on #74402
I am using Jinja ane vs-python

[2019-05-28 17:18] mjbvz commented on #73733
@skprabhanjan Thanks for the offer but it was a simple fix

[2019-05-28 17:18] #73733 closed

[2019-05-28 17:20] mjbvz commented on #74184
Yes, try on the [insiders build (1.35)](https://code.visualstudio.com/insiders/) with all extensions disabled

[2019-05-28 17:21] mjbvz commented on #74367
Can you please share some example code or a small example project

Also, when you are typing out the import, is the entire line just `import { ` without any import path yet?

[2019-05-28 17:23] Yanpas opened #74477 "Problems markers onthe scrollbar are too dim or too bright"
Issue Type: <b>Bug</b>

With out of the box Dark theme problems (infos,warnings) are too dim:
![image](https://user-images.githubusercontent.com/7345761/58498242-513c0700-8186-11e9-835a-65f66ed709fc.png)

And with out of the box Light theme these items (infos,warnings) are too bright, it's hard to find more important markers like currently selected word or search item:
![image](https://user-images

[2019-05-28 17:26] joelukam commented on #74028
Hi @bpasero, how can I obtain the command line arguments. This problem occurs while running Visual Studio Code, so I'm not quite sure what triggers Helper Process. I notice, when I open Visual Studio, the vent starts spinning and, after some time, the error comes up, at least it does 3 times. I notice a different Process Number every time but not sure if it is in the same library or program.

[2019-05-28 17:27] roblourens commented on #73761
How is /Volumes/jim/spirit mounted, smb? Guessing that for some reason ripgrep thinks that is not a normal folder.

If you are using sshfs you can try out the Remote-SSH extension instead: https://code.visualstudio.com/docs/remote/ssh

[2019-05-28 17:30] ramiroagm commented on #74429
@kieferrm That is an approach of what I want.
I can't find configuration for changing elements by specific words.
Is there any or I just can't find them?

[2019-05-28 17:34] mjbvz commented on #74454
Thanks for the heads up. No blockers that I know of, I think I  just copied what other places in the code were doing

[2019-05-28 17:35] lramos15 opened #74478 "Adding expression to watch is broken"
Issue Type: <b>Bug</b>

1. Start debug process
2. Press the plus button to add an expression, clear it without entering anything
3. Press add again, it doesn't appear.
4. Press clear again.
5. Repeat 3 + 4 a much as possible.
6. Double click the watch box, you will see the expression text boxes are just stacking.

VS Code version: Code - Insiders 1.35.0-insider (84deb302d7e9ea991a1d0edfd4b4261143f

[2019-05-28 17:40] a-x- opened #74479 "go to definition does not work for implicit index.js files"
- [x] I checked similar issueus.
- [x] I checked it with VS Code Insiders w/o extensions
- [x] I checked it w/o extensions

- VSCode Version: 1.34.0
- OS Version: macOS 10.14.5

Steps to Reproduce:

1. cmd-click onto js import

Yay, Look at Minimal repro repo: https://github.com/a-x-/chore-vscode-gotodef-bug
Start with [src/index.js](https://github.com/a-x-/chore-vscode-gotodef-bug/blob/master/src

[2019-05-28 17:43] mjbvz commented on #74479
Try adding `"moduleResolution": "node"` to your jsconfig. That should make it so that we understand implicit `index.js` files, which are a node convention

[2019-05-28 17:47] a-x- commented on #74479
So fast!
Can you add the tips to jsconfig.json documentaion?

----

with given receipt it's working in 1.34.0 now

but, explicit index.js stil not working in 1.35.0-insider
looks like another stupid problem. it's not matter for me:
[code]

[2019-05-28 17:49] a-x- commented on #74479
And json scheme too. It would be much worth

[2019-05-28 18:02] Lunrtick opened #74480 "Code overview visual issues when fullscreen"
- VSCode Version: 1.34.0
- OS Version: Fedora 30, Gnome 3.32.2, 5.0.17-300

Steps to Reproduce:
1. Open vscode windowed but covering full screen width (1920x1080)
2. See issues with overview/code map scroller on right side
3. Make window smaller - no more issues
4. See different problem with .js file - no strange characters, but very jumpy/jittery.

I've attached a gif showing this issue - look at

[2019-05-28 18:02] danieldaeschle opened #74481 "Fedora 30 (Gnome) graphics bug"
- VSCode Version: 1.34
- OS Version: Fedora 30

#### Launch with `code --disable-extensions` to check.
Does this issue occur when all extensions are disabled?: No (disable GPU also doesn't working)

Behaviour:
![image](https://user-images.githubusercontent.com/30751516/58500934-8d219d00-8183-11e9-8c85-d301cf97e42e.png)

[2019-05-28 18:03] danieldaeschle commented on #74481
Only Minimap and Terminal looks like this.

[2019-05-28 18:05] Tyriar opened #74482 "References in contentprovider-sample sometimes don't show"
Ubuntu 19.04

https://github.com/microsoft/vscode/issues/74311

With https://github.com/microsoft/vscode-extension-samples/tree/master/contentprovider-sample sometimes no references would show. Not sure if this is an extension problem or not?

![image](https://user-images.githubusercontent.com/2193314/58500933-1d39f500-8138-11e9-84f9-a5fb80a26d3f.png)

No errors in console, nothing interesting in

[2019-05-28 18:05] nicolo-ribaudo commented on #74229
I don't think that this should be limited to workspaces with different root folders. When I'm working on a monorepo with a lot of different packages (e.g. https://github.com/babel/babel/tree/master/packages), working accross different packages "alphabetically distant" leads to a bad DX.
The file explorer should also allow duplicating the same file tree, like split editor view allows viewing differ

[2019-05-28 18:10] Tyriar opened #74483 "DocumentLink ranges aren't accurate when used in tooltip?"
Ubuntu 19.04

#74311

I added the following to show where the link was going:

[code]

I thought it was going to show where the link was going to be, but was not:

![image](https://user-images.githubusercontent.com/2193314/58501400-30999000-8139-11e9-8f97-88014bf524a0.png)

![image](https://user-images.githubusercontent.com/2193314/58501394-2c6d7280-8139-11e9-855d-3018ddf20f13.png)

Codebase: http

[2019-05-28 18:19] #73931 closed

[2019-05-28 18:19] #74077 closed

[2019-05-28 18:19] #73859 closed

[2019-05-28 18:20] mjbvz commented on #74483
Is that bug that we are rendering this as plaintext, not markdown?

[2019-05-28 18:25] firien commented on #658
The [Extension Authors](https://github.com/microsoft/vscode/wiki/Roadmap#extension-authors) section of [Roadmap 2019](https://github.com/microsoft/vscode/wiki/Roadmap) includes:

would this address this issue?

[2019-05-28 18:28] roblourens commented on #67485
Thanks @joaomoreno!

[2019-05-28 18:35] Tyriar opened #74484 "TypeScript extract type duplicates nearby comments"
https://github.com/microsoft/vscode/issues/74310

![image](https://user-images.githubusercontent.com/2193314/58502969-858ad580-813c-11e9-86f5-57c6954c0caf.png)

![image](https://user-images.githubusercontent.com/2193314/58502989-8facd400-813c-11e9-9dc9-dba849e3e695.png)

[2019-05-28 18:35] Arshia001 commented on #37315
A year and a half (and some more) later...

[2019-05-28 18:37] Tyriar commented on #74483
`emitter.event...` on line `22` is showing in the tooltip that the line is `28` and the character position is `18`

[2019-05-28 18:38] DanHitt commented on #35307
I would love to see this!  Switching projects is very annoying.

[2019-05-28 18:39] mjbvz opened #74485 "Extension pack details page show duplicate extensions"
Testing https://github.com/microsoft/vscode-remote-release/issues/466

**repo**
1. In VS Code, browse to the `Angular essentials` pack
1. Open the `Extension pack` details section

**Bug**
Contributed extensions are duplicated in the list. Here's another extension pack for example:

![Screen Shot 2019-05-28 at 11 39 01 AM](https://user-images.githubusercontent.com/12821956/58503269-38f3ca00-813d-1

[2019-05-28 18:40] stax76 opened #74486 "Icon color"
First of all Visual Studio Code is amazing! I don't have a real issue like a bug or something, just maybe the icon color is too similar too Visual Studio, maybe a totally different color would work better.

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|

[2019-05-28 18:44] Tyriar commented on #74416
This is a bug in Windows 10 1809, unfortunately we have no way to work around the issue so you will need to wait until you get the next version of Windows 10 (1903).

/duplicate https://github.com/Microsoft/vscode/issues/57803

[2019-05-28 18:44] #74416 closed

[2019-05-28 18:44] mjbvz commented on #74483
Aren't you hovering over `event` on line 29?

[2019-05-28 18:48] lramos15 opened #74487 "Can only show one hidden terminal at a time"
Issue Type: <b>Bug</b>

1. Create 2 or more hidden terminals
2. Execute a command on them such as 'echo foo' and then call .show().

Only the first hidden terminal will show up the others will still exist, but cannot be surfaced.

VS Code version: Code - Insiders 1.35.0-insider (a429fd13565d3392c87e31228ec9e8a2bf3708d5, 2019-05-28T16:39:09.837Z)
OS version: Windows_NT x64 10.0.17763

<details>
<su

[2019-05-28 18:48] lramos15 commented on #74468
#74487

[2019-05-28 18:52] michael-mckenna commented on #32320
@peter-gazdik-bt Thanks. Never thought of using the undo command! This is a good temp solution.

[2019-05-28 18:57] austincondiff opened #74488 "Allow to provide custom activity bar Icons"
In my opinion, the activity bar icons are too big and it becomes a distraction because they consume too much visual weight.

I'd like the ability to theme the icons, and customize their size, padding, color, etc.

[2019-05-28 18:59] mjbvz opened #74489 "Java Extension pack does not show contributed extensions"
**repo**
1. Open `java extension pack` in VS Code

**Bug**
The extension details page only shows a `contributions` section, and there is no information about which extensions it contributes

![image](https://user-images.githubusercontent.com/12821956/58504681-05666f00-8140-11e9-8ced-480b1ce8b592.png)

[2019-05-28 19:02] mjbvz opened #74490 "New insiders icon does not look great with yellow warning modal"
Issue Type: <b>Bug</b>

**Repo**
1. Create a multi folder workspace
1. Then try opening another folder
1. This should trigger a modal asking if you want to save the workspace

**Bug**
Nit but the blue/green icon does not look great with the yellow alert icon in the modal:

![Screen Shot 2019-05-28 at 12 00 15 PM](https://user-images.githubusercontent.com/12821956/58504841-5fffcb00-8140-11e9-85a8-5

[2019-05-28 19:10] mr-layco commented on #73393
Anyone?

[2019-05-28 19:15] ianoel230982 commented on #73393
Hey, anyone still looking at this?

[2019-05-28 19:18] rianquinn opened #74491 "ctrl+` has to be pressed twice when terminal is not in foucs"
- VSCode Version: 1.35.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Open file
2. Open terminal using ctrl+`
3. Click on the file
4. Attempt to close terminal using ctrl+`. It will not close.

If the terminal is in focus, pressing ctrl+\` works fine to show/hide the terminal. If the terminal is not in focus, you have to hit ctrl+\` twice and then it will hide (showing still only requ

[2019-05-28 19:24] nadav-ram commented on #71827
This looks great! But I prefer the original green as it seemed more saturated :D

[2019-05-28 19:24] rianquinn opened #74492 "Option to hide terminal when clicking on something other than the terminal"
It would be great if there was an option to hide the terminal if you click on a window other than the terminal itself. It is really annoying when you click on a file tab, and the terminal is still showing (I usually have the terminal as large as possible so the only thing I see is the file tabs).

Another way to set this option would be to have a button on the terminal that if pressed, would cause

[2019-05-28 19:42] Hezkore opened #74493 "increaseIndentPattern cannot be case insensitive"
VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Open language-configuration.json
2. Go to indentationRules > increaseIndentPattern
3. Write something super basic like `(?i)function`
4. Writing `function` in your does not indent correctly

No matter what I write or try; having increaseIn

[2019-05-28 19:47] lparsons commented on #73737
Thanks @aeschli !

[2019-05-28 19:53] Tyriar commented on #74491
Try this keybinding

[code]

[2019-05-28 19:53] #74491 closed

[2019-05-28 19:54] Tyriar commented on #74483
Yes, in the references view it's line 29, but it says that the reference is on line 22, but the tooltip (from `element.range.start.line`) says 28?

[2019-05-28 19:54] mjbvz commented on #74282
Can you please try collecting the TS Server log:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a file called `tsserver.ts`

Please share this log file

[2019-05-28 19:56] gjsjohnmurray commented on #74493
This might already be possible using a not-yet-documented feature I found when logging #72989

The clue I found is in [this comment on #27591](https://github.com/microsoft/vscode/issues/27591#issuecomment-305175307).

[2019-05-28 20:03] sean-mcmanus commented on #74237
Yes -- the "Not a reference" means the name is the same, but the IntelliSense type check failed. There are scenarios where users may want to still see what non-references got filtered out.

Our pending implementation for C++ Find All References is able to quickly get a list of "unconfirmed references" that match lexically, but semantic checking requires that every file with a reference needs to ge

[2019-05-28 20:11] noraj opened #74494 "[Chore] Name of the project/software"
## Description

A big problem with this project is its name. A lot of people are confused and confound _Visual Studio_ with _Visual Studio **Code**_. The names are far too similar and the name of the second is included in the first one.

But they are very different by nature:

- VS
  + Free or Paid, proprietary and close source software
  + IDE for C#, C++, .NET
  + Only available for Windows and

[2019-05-28 20:17] yzhang-gh commented on #73845
Thank you for all the discussion. (Sorry for being late to reply)

However, it is sad to see this change being reverted. We were in the right direction—_**Let the extension determine what to show**_ (i.e. the `repr` function), rather than **arbitrarily** decide to escape certain characters `\n`, `\t` etc.

The original motivation for the escape is "we use `\n` and `\t` in the variables view _to sa

[2019-05-28 20:27] #74468 closed

[2019-05-28 20:52] filipetoyoshima opened #74496 "Search input field with weird left margin"
Issue Type: <b>Bug</b>

Just use the search tool by clicking on the magnifying glass icon and type something that should fill all the input field.

![Peek 2019-05-28 17-51](https://user-images.githubusercontent.com/29482983/58511431-2dba9180-8171-11e9-849a-e43267c706d2.gif)

VS Code version: Code - Exploration 1.32.0-exploration (14236f9f44cc7c94055bb8e65ebda29a4a91ddc7, 2019-02-18T11:47:59.892Z)

[2019-05-28 20:58] EricLiuCY opened #74497 "Outline Bug: The active editor cannot provide outline information (Ruby)"
![Screenshot_1](https://user-images.githubusercontent.com/35042747/58511799-8d14a380-8169-11e9-917d-dff0cd4b8aff.png)

Background:

I am using Ruby version 2.2.3, Rails version 4.2.11
I am developing on a remote VM.

I tried searching for solutions, but the error code "The active editor cannot provide outline information" seems to be one of a kind. Is this a bug? Or are there any solutions to this

[2019-05-28 21:05] mjbvz commented on #74483
As we discussed offline, in this case `range` is range of the link itself, not the reference it points to

[2019-05-28 21:05] #74483 closed

[2019-05-28 21:08] Spacetornado commented on #74297
@isidorn Thanks for the info. Do you think it would be feasible / straightforward to add an "Expand All" button next to the "Collapse All" button on the VARIABLES section? That way the user could:

1. Start debugging.
2. Click Expand All in VARIABLES.
3. Stop debugging.
4. Continue writing code with all variables visible/expanded.

I realize it might be a significant performance hit based on the n

[2019-05-28 21:09] SirCameron commented on #74138
I have the same issue. I've disabled all the extensions and added node_modules et al to watcherExclude. I stopped using Atom for this same issue.

If I stop using VSCode for a bit, it calms... as soon as I start working again, cpu goes nuts.
This only happens with React web apps so far.. React Native nope...

[code]

settings:
[code]

[2019-05-28 21:13] mjbvz commented on #74138
@SirCameron Please open a separate issues, but also make sure you use the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)

[2019-05-28 21:18] #73933 closed

[2019-05-28 21:19] #73925 closed

[2019-05-28 21:21] skasturi opened #74498 "Unable to install remote debugging extension on VS code 1.34.0"
Version: 1.34.0 (user setup)
Commit: a622c65b2c713c890fcf4fbf07cf34049d5fe758
Date: 2019-05-15T21:59:37.030Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.18362

Steps to reproduce:
1. Go to Extensions and search for "remote development"
2. Open "Remote development 0.14.0"
3. Click on "Install"
4. The icon changes to "Installing" and switches back to

[2019-05-28 21:22] mjbvz opened #74499 "Blank editor opened when quickly clicking "Compare changes""
Issue Type: <b>Bug</b>

Testing #74473

**Repo**
1. Set `"merge-conflict.diffViewPosition": "Below"`
1. Open a file with merge conflicts:

[code]

1. Quickly click the `Compare Changes` code lens twice

**Bug**
Two editors open below, but the first editor is blank:

![Screen Shot 2019-05-28 at 2 21 56 PM](https://user-images.githubusercontent.com/12821956/58513296-fee1f280-8153-11e9-968b-c44838e29

[2019-05-28 21:23] Tyriar commented on #74492
This is basically https://github.com/microsoft/vscode/issues/3742 but for the panel instead of side bar, you could also accomplish this by hitting ctrl+` to hide, which I think will focus the last active editor group.

[2019-05-28 21:23] #74492 closed

[2019-05-28 21:26] mjbvz commented on #74499
I believe the expected behavior is that only a single editor should open when clicking this command multiple times. You can open multiple editors when using `"merge-conflict.diffViewPosition": "Beside"` and quickly clicking `compare changes` too, but all the editors in that case have content

[2019-05-28 21:31] cyberpunk2099 commented on #71827
If the logo had a white circle (or maybe hexagon) background, accessibility problem could be solved once and for all.

[2019-05-28 21:34] waldyrious commented on #73727
@joaomoreno thanks! I couldn't find these in the [theme color reference documentation](https://code.visualstudio.com/api/references/theme-color). Should I be looking somewhere else? I'd be happy to contribute the documentation if it's missing.

[2019-05-28 21:43] zamarise commented on #56907
@octref As mentioned in another comment, `"css.lint.propertyIgnoredDueToDisplay": "ignore` didn't work for me either. I set the following in User and Workspace settings and the warning remained.
[code]

[2019-05-28 21:45] mjbvz opened #74500 "Add enumDescriptions for merge-conflict.diffViewPosition"
Testing #74473

We should include descriptions of what the three enum values for `merge-conflict.diffViewPosition` do. For example, I was not sure what `current` was supposed to do at first

[2019-05-28 21:46] #74473 closed

[2019-05-28 21:46] mjbvz commented on #74500
Actually I can handle this if that's ok @rebornix

[2019-05-28 21:54] DanHitt commented on #35307
Any news?

[2019-05-28 21:56] #74500 closed

[2019-05-28 22:01] mjbvz commented on #61140
Yes, I believe that would also solve the issue of duplicate problems for JavaScript and TypeScript

[2019-05-28 22:15] Ryezenburgslab commented on #74453
I disabled all of the extensions and still no luck. Every time I press the s key it masks the next key press then allows me to keep typing.

[2019-05-28 22:43] tlemo opened #74501 "Support fixed width terminal windows"
Issue Type: <b>Feature Request</b>

For the integrated terminal, please add an option to set a fixed _logical_ width, and a horizontal scroll bar when the terminal window is smaller than the logical width. Related to #46192 (but specific to the integrated terminal).

Seems also likely that this is what #48897 was asking for.

Thanks.

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049

[2019-05-28 22:50] mjbvz commented on #72017
Planning to do work to support API proposed by https://github.com/microsoft/TypeScript/pull/31587  in June. We would not actually ship this until TS 3.6 hover

[2019-05-28 22:51] RMacfarlane commented on #74397
We have an issue tracking this in the PR extension: https://github.com/microsoft/vscode-pull-request-github/issues/1099

[2019-05-28 23:09] mjbvz commented on #74334
@aeschli These theme colors do not have any set values by default (but some themes may customize them). Do you think there's a better way to surface this in webviews? I think omitting the variable if it is not set is reasonable

[2019-05-28 23:13] mjbvz commented on #63805
This is still broken in insiders.. I suspect that we just need to pick up a new version of `vscode-css-languageservice` that includes the fix

Adding @aeschli since @octref is out

[2019-05-28 23:27] mjbvz commented on #52485
For verification: this was a documentation only change. Just check that the new description of `"auto"` makes sense and matches the behavior you see in the editor

[2019-05-28 23:33] DianaNites opened #74502 "Extensions panel missing Icons"
Issue Type: <b>Bug</b>

I'm on Gentoo Linux and downloaded the 64bit tar.gz and ran ./code

Everything works, but the extension marketplace has no icons at all, and the space where they should be is missing.

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:55:35.507Z)
OS version: Linux x64 4.19.27-gentoo-r1

[2019-05-28 23:42] rebornix commented on #74500
@mjbvz thanks for the help!

[2019-05-28 23:50] cadwillager82 opened #74503 "Provide simpler getting started settings"
The editor it self is quite the unit. But all the time wasted in settings , was to me an agonizing<br>
and frustrating experience.  And I really doubt that those settings were saved.  Granted the majority of your users are highly educated and trained in there prospective fields and are in need <br> of the vast array of settings available.

I'm just a burned out 68 yr old Vietnam Vet. that is tryin

[2019-05-28 23:59] sean-mcmanus commented on #74237
We also want a similar "type" to be usable in rename to allow users to filter out the rename results by type (I could file a separate issue if you want), but we don't plan to add Rename till July:
![image](https://user-images.githubusercontent.com/19859882/58519598-3ad38280-8169-11e9-829c-a922776e5870.png)

[2019-05-29 00:01] murraycollingwood commented on #73788
Hi Jared

Having a configurable number of levels will not work.  We need more
intelligence than this.  For example:

A library of functions might contain just functions, so we only want this
expanded to 1 level:

function abc() {
}

function def() {
}

A class file might contain a class and functions, so we want this expanded
to 2 levels:

class xyz {

function x1() {
}

}

So, either the outline

[2019-05-29 00:02] mjbvz commented on #72631
Closing this as a likely duplicate of microsoft/TypeScript#30819 based on the repo

[2019-05-29 00:02] #72631 closed

[2019-05-29 00:03] mjbvz commented on #72690
Closing as we need more info from the original poster.

Based on the description, this is like a duplicate of microsoft/TypeScript#30819

[2019-05-29 00:03] #72690 closed

[2019-05-29 00:04] #74497 closed

[2019-05-29 00:10] CoryM commented on #69665
I have found a work around that works for me.  Setting Terminal>Integrated>Renderer Type from Auto to DOM to avoid the GPU acceleration and therefor the texture glitch in chrome.

I am also on a Linux system but team red (amd) on the GPU side.

[2019-05-29 00:56] sana-ajani commented on #74482
+1 seeing this on windows too

[2019-05-29 01:07] ChungTzupo commented on #71827
The blue version looks like better and comfortable :)
Of course, if the current version could be reserved for alternative icons, it would be better more 👍

[2019-05-29 01:25] stljeff1 commented on #32320
please fix.

[2019-05-29 01:25] sean-mcmanus opened #74504 "textDocument/codeAction, documentSymbol, documentHighlight get sent before didOpen"
- VSCode Version: 1.34.0 (probably others)
- OS Version: Windows (probably others)

Steps to Reproduce:

1. Open a document with some LSP provider like the C/C++ extension.

Bug: VS Code sends our C/C++ extension textDocument/codeAction and textDocument/documentSymbol messages for the opened file before it sends a textDocument/didOpen. If the file was previously opened with the cursor on an identi

[2019-05-29 01:47] pixieaka opened #74505 "Emmet built-in plugin cheats starting with @ expand only inside blocks"
@f
[code]
@f+
[code]

@i, @import

`@import url();`

@kf
[code]

@m, @media
[code]

[2019-05-29 02:02] XinYueXiao opened #74506 "每个使用VScode的小仙女都值得拥有"
https://github.com/Microsoft/vscode/

[2019-05-29 02:05] JacksonKearl commented on #37315
A note for future readers: if you propose a solution to the issues I have listed in https://github.com/microsoft/vscode/issues/37315#issuecomment-397482291, @-mention me and I'll take a look at implementing said solution. Until then, I see no path forward that is inline with the goals of the product, and saying "me too" won't make such a path appear.

I am a volunteer contributor, but I am investe

[2019-05-29 02:14] kieferrm opened #74507 "Rendering issues in a new terminal when using dom renderer mode"
Testing #74467.

When switching renderer mode to `dom` in an existing terminal the rendering looks ok. When creating a new terminal I get:

![image](https://user-images.githubusercontent.com/4674940/58524352-d15d6f00-817c-11e9-9449-c8465a8a00f1.png)

and I also can not select anything.

[2019-05-29 02:16] kieferrm commented on #74467
This works as expected in all variations. CPU consumption when scrolling large colored output goes up to 100% in canvas mode and beyond that in dom mode. Dom mode in general is significantly slower.

[2019-05-29 02:16] #74467 closed

[2019-05-29 02:24] KevinGrant12 commented on #57766
I still have this issue.

[2019-05-29 02:25] Tyriar commented on #74507
/duplicate https://github.com/microsoft/vscode/issues/74183

[2019-05-29 02:25] #74507 closed

[2019-05-29 02:26] Tyriar commented on #74467
The slow down is expected for canvas as it only caches the first 16 colors, the webgl renderer caches everything.

[2019-05-29 02:31] misolori commented on #74486
@stax76 can you post a screenshot? Do you mean that the VS Code blue is too similar to the VS purple?

[2019-05-29 02:33] #72149 closed

[2019-05-29 02:33] #74183 closed

[2019-05-29 02:46] ZhengJun003 commented on #72405
I can reproduce it before, but can not reproduce this on my Ubuntu machine with 1.33.1 vscode now.

![image](https://user-images.githubusercontent.com/41051257/58525528-9d2a9280-81fe-11e9-91bc-7d238a14eccb.png)
![image](https://user-images.githubusercontent.com/41051257/58525599-ec70c300-81fe-11e9-9837-d293b8ffe203.png)

[2019-05-29 02:49] roblourens commented on #74263
This would be a good candidate for an extension, in fact there might already be one.

[2019-05-29 02:49] #74263 closed

[2019-05-29 02:55] roblourens commented on #74117
Other people have reported that fuse works but is extremely slow. Does text search return anything?

[2019-05-29 02:59] roblourens commented on #66164
Correct, it also runs in VS. We added the second `config` call awhile back at their request.

[2019-05-29 03:21] Mcmartelle commented on #37315
@JacksonKearl  Would my "disabling bracket swallowing after arrows and clicks" idea be considered "maintaining any complicated state at the cursor layer" and therefore not be a viable solution?

On a different note, it seems that those of us that don't type a closing character to advance the cursor NEVER do it, so adding an option to completely disable it would be fine in my opinion.

@jkyeung to

[2019-05-29 03:24] MaxTan commented on #74506
???

[2019-05-29 03:58] david-waterworth opened #74508 "pydev debugger: warning: trying to add breakpoint to file that does not exist (will have no effect)"
Issue Type: <b>Bug</b>

Version 1.34.0 seems to have broken python breakpoints? When I add a breakpoint is shows as relative, i.e. `/src/file.py` in the debug breakpoints pane.

The issue is my launch.json contains `"cwd": "/opt/ml"`

So when I hit F5 I get the error:

Note it's taken the path relative to the project root `/src/file.py` and combined with the cwd path resulting in an invalid source

[2019-05-29 04:03] #74184 closed

[2019-05-29 04:13] david-waterworth opened #74509 "Python Interactive Illegal value for token color"
Issue Type: <b>Bug</b>

I've encountered another issue after updating to 1.34.0

Every time I try and run code in `Python Interactive` i.e. select code and Ctrl+Enter I get the following message in the `Python Interactive` window.

Error: Illegal value for token color:  at

    in MonacoEditor
    in div
    in Code
    in div
    in div
    in div
    in div
    in div
    in Cell
    in ErrorBou

[2019-05-29 04:19] svipas commented on #74348
@mjbvz Amazing, so it will be enabled by default with TS 3.5? Also, what about locality bonus setting, it's still relevant?

[2019-05-29 04:26] jkyeung commented on #37315
Clearly, there are some people who like the existing behavior, at least well enough. I daresay most Sublime Text users (many of whom actually paid real money for it) like it, which no doubt contributed to the VS Code team deciding to try to replicate it in the first place. So, folks who are in favor of *some* kind of bracket-swallowing are probably reasonably happy with it already, and are not dyi

[2019-05-29 04:29] JacksonKearl commented on #37315
@Mcmartelle see my branch [here](https://github.com/JacksonKearl/vscode/tree/broken-autoclosing-swallowing-fix-demo) for a config option that allows you to never swallow characters. It breaks a few key patterns that to me make it a no-go:
1) Breaks creating empty pairs (the empty string, an empty arg-list, the empty array, etc), you get `"""`, `())`, and `[]]`, respectively. You could get around t

[2019-05-29 05:12] elanandkumar commented on #71827
I like this one more.
👇
<img width="210" alt="image" src="https://user-images.githubusercontent.com/45815177/58530978-5046bc00-81fe-11e9-814c-406ab42c974c.png">

The other one doesn't look great.

[2019-05-29 05:16] stax76 commented on #74486
Yes, I mean that.

[2019-05-29 05:29] bpasero opened #74510 "Octicons: need a "Info" icon that has full background"
Just tracking as bug here that the adoption of the tasks status item needs the previous info icon we had that has full white background.

@misolori that actually makes me wonder if we should revisit some of the octicons that are partially transparent? E.g. in general I think they do not look very good in our status bar, for example:

![image](https://user-images.githubusercontent.com/900690/585316

[2019-05-29 05:30] bpasero commented on #74433
Can you see if it still reproduces when disabling the GPU support in VSCode? You can do that by running VSCode from the command line like this: `code --disable-gpu`

Unfortunately due to the nature of this flag, we currently cannot support a setting to set this on each startup.

[2019-05-29 05:31] bpasero commented on #74028
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2019-05-29 05:37] cllgeek commented on #74506
？？？

[2019-05-29 05:44] mikayzo opened #74511 "SSH key forwarding"
REMOTE-SSH extensions does not allow ssh key to be forwarded even if forwarding is specified in ssh config on local host.

[2019-05-29 05:47] purpleskyfall commented on #73863
Yes, I find the vsix file is corrupted by checking the MD5 value., now my problem is solved. Thank you.

[2019-05-29 05:57] misolori commented on #74510
We could do that, however one thing to consider is other extensions (like LiveShare) use certain icons in their custom viewlet (like the sharing & people icons). We’d just need to be sure to communicate that with them as they use those same icons in VS (I believe).

At the minimum we could replace the info and smile icons. Planning on pushing those changes tomorrow.

[2019-05-29 05:59] mikayzo commented on #74511
that is not related

[2019-05-29 06:03] misolori commented on #74486
Thanks for the feedback. We’re hoping to update our product icon in then next release which makes the colors a bit more vibrant and modifies the shape to make it more noticeable next to the VS icon. Will close this issue but feel free to post any additional comments in #71827.

[2019-05-29 06:03] #74486 closed

[2019-05-29 06:03] JulianTillmann commented on #71789
I have the same issue as @lvanvugt

I see that him and me are both NAV (Dynamics 365 Business Central) Partners, so I'm guessing he's using the same extensions as me

- https://github.com/Microsoft/AL
- https://github.com/PowerShell/vscode-powershell

the PowerShell guys already sent me here

[2019-05-29 06:05] bpasero commented on #74510
Yeah good point, these icons are used in different contexts (even quick pick). Alternatively, we could:
* identify the icons that do not fully have a background
* introduce variants that have a full background
* rewrite any octicon in the statusbar to use that variant to enforce a consistent look down there
* do not change the look in other places

I guess this depends on how much such a change wo

[2019-05-29 06:11] skprabhanjan commented on #74281
@gjsjohnmurray , Sorry got confused with the group captions , Sent a PR to fix this !

[2019-05-29 06:13] skprabhanjan commented on #74454
@mjbvz , I can take a look at this, Will do initial analysis and let you know.
Any pointers from your side will also be helpful.

[2019-05-29 06:14] gjsjohnmurray commented on #74498
![image](https://user-images.githubusercontent.com/6726799/58533792-54181580-81e1-11e9-9979-cd411ca6c9ab.png)

You're not using Insiders.

[2019-05-29 06:17] JulianTillmann commented on #71789
By the way, the insiders version has the same issue
![image](https://user-images.githubusercontent.com/35929603/58533958-38653d00-81ea-11e9-8b7d-40e758ecd1cd.png)

[2019-05-29 06:28] sangeeth96 commented on #40233
Agree with @johnpapa and @tommck. I want to impose certain workspace settings for my team as well but don't want to have my personal settings affect them also. I also use different colors for different instances which I don't want to permeate in the git repo.

On the other hand, there are certain shared settings which I want the entire team to get. For example, we use Vetur to help with Vue.js dev

[2019-05-29 06:39] tomByrer opened #74513 "terminal.integrated.lineHeight has no effect"
Issue Type: <b>Bug</b>

Win10 Home, bash (WSL I assume), font: Fira Code
"editor.lineHeight": 0
"terminal.integrated.lineHeight": 0.5

In editor view, line vertical spacing is by default snug; the way I like.  In Terminal, seems lineHeight is 1.5, with large spacing, despite my setting.  (Restarted terminal in New Window).

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 20

[2019-05-29 06:48] skprabhanjan commented on #73686
@DragWx , When I open a file which is part of a source control repository, It does not open the repo automatically .
@joaomoreno , Can you please confirm on this scenario ?

[2019-05-29 06:48] tonyxu-io commented on #74506
Please stop abusing the issue. @XinYueXiao

[2019-05-29 06:50] lvanvugt commented on #71789
Now on VSCode 1.34.0 it's not bothering me anymore, even though the issue occured once.

[2019-05-29 06:56] bryanrasmussen opened #74514 "Scripts in SVG files are not displayed as JavaScript"
- VSCode Version: 1.34.0
- OS Version: MacBookPro - Mojave

Steps to Reproduce:
1. Make an SVG with the following code (or I suppose an SVG with an inline script)
[code]
2. Notice that there is no syntax highlighting of the JavaScript code

3. Notice that the commented out SVG code in the script element is rendered as SVG code and not as a comment in JavaScript.

Does this issue occur when all ext

[2019-05-29 07:04] levrik opened #74515 "[VSC] Code (still) freezes on deleted image"
Can #69334 be re-opened?
It still happens to me on VS Code `1.34.0`.

[2019-05-29 07:04] AtjonTV commented on #71827
To be honest. Yesterday I made some updates on my system and got a shock when I saw the new icon. I first didnt know what application that was (I am using elementaryOS 5 with a custom icon set that is basicly the macOS icons in nicer).

I LOVE the new icon I got with the update (VSCode overwrote the cron of my icon set).

I did some google searches but didnt find a high quality version of the gree

[2019-05-29 07:12] jrieken commented on #74482
Yeah, that's an issue with the extension... Didn't know it's that popular

[2019-05-29 07:18] jrieken commented on #74504
I doubt this is true but it then must be an LSP client lib issue. The implementation for things like hover work with the document instance which, when set/added fires the event.

[2019-05-29 07:18] joaomoreno commented on #73727
These are token colors. More here: https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide#tokens-and-scopes

[2019-05-29 07:21] Pontiaco commented on #74424
Hi Johannes;

I am sending you the website files and the videos (one showing the bug and
the other showing the extensions).
Hope you can tell me what to do next.

Regards

 main.css - website1 - Visual Studio Code 2019-0...
<https://drive.google.com/file/d/1T03YOz-9YiQLcztjEJMPi5Vu0Ul5Z6Os/view?usp=drive_web>
 ● main.css - website1 - Visual Studio Code 2019...
<https://drive.google.com/file/d/1zrx

[2019-05-29 07:22] isidorn commented on #74478
This is fixed in latest via https://github.com/microsoft/vscode/commit/8fd154e360dee40b123018f5396906fb3f3d655e Broken by disposable store change
fyi @mattbierner

Thanks for reporting

[2019-05-29 07:22] #74478 closed

[2019-05-29 07:23] isidorn commented on #72405
Great, let's close this then

[2019-05-29 07:23] #72405 closed

[2019-05-29 07:26] #33813 closed

[2019-05-29 07:27] jrieken commented on #67698
/duplicate of #33725

[2019-05-29 07:28] #67698 closed

[2019-05-29 07:31] joaomoreno commented on #74442
Given than even the [Twitter account](https://twitter.com/code) already shows the new icon, I've updated all snap icons:

![Screenshot from 2019-05-29 09-30-47](https://user-images.githubusercontent.com/22350/58537995-78312200-81f4-11e9-8418-429760980aa9.png)

[2019-05-29 07:31] #74442 closed

[2019-05-29 07:32] joaomoreno commented on #74442
![Screenshot from 2019-05-29 09-31-59](https://user-images.githubusercontent.com/22350/58538057-a0208580-81f4-11e9-91ba-7a7bf2aa8a55.png)

[2019-05-29 07:32] #74424 closed

[2019-05-29 07:33] jrieken commented on #74424
The font you are using isn't the default font but seems to the root of your problem. Not sure how that happened, but open the settings editor (F1 > Settings), search for "font", and change it back to another font

[2019-05-29 07:34] skasturi commented on #74498
Thank you @gjsjohnmurray . That worked.

[2019-05-29 07:34] #74498 closed

[2019-05-29 07:35] jrieken commented on #74213
So, I want to group by kind? Eg. `A_var`, `B_var`, `Z_var`, `A_prop`, `B_prop`, `Z_prop`, `A_keyword`, `B_keyword`, `Z_keyword`. What happens now when you press `A`? Do you still want to see `Z_prop` before `A_keyword`?

[2019-05-29 07:47] joaomoreno commented on #74103
The error dialog is correct. If Code can't write to the user data dir, that is the most severe error, independently of the root cause.

[2019-05-29 07:48] DanTup commented on #74446
@jrieken I tested this in Insiders (same things as yesterday).. test no longer reports huge numbers and manually spamming the buttons doesn't result in memory climbing anymore:

![memory](https://user-images.githubusercontent.com/1078012/58539074-7c5a4100-81ee-11e9-9deb-d2da83f6a905.png)

So the fix certainly appears to resolve everything I was hitting. Thanks for addressing it so quickly! 😃

[2019-05-29 07:52] DanTup commented on #74510
I just noticed in Insiders this info icon looks weird. I don't know if it falls under this issue (which talks about the BG), but it seems to be too close to the number to its left, and also seems larger than the others.

![info](https://user-images.githubusercontent.com/1078012/58539303-f4286b80-81ee-11e9-8b5d-62a7a7a7616b.png)

[2019-05-29 07:53] joaomoreno commented on #74406
What do you mean? Are you in a multi-folder workspace?

[2019-05-29 07:54] joaomoreno commented on #74443
How is it possible that you can push at all, if there are any commits in the remote branch?

Can you give me exact steps to reproduce this against, say, a Github repository?

[2019-05-29 07:57] isidorn commented on #61608
Adding bug so we verify.
Verifier: make sure that when you are debugging and you step or the program stops that we read out the content on the stopped line

fyi @neurrone for possible feedback

[2019-05-29 07:58] #61608 closed

[2019-05-29 07:59] joaomoreno commented on #74266
@kbakk Did you run Code as `sudo` at any point in time?

@sandy081 We should fix the error message.

[2019-05-29 07:59] joaomoreno commented on #74266
Yup.. that seems to have been the problem.

[2019-05-29 08:01] Pontiaco commented on #74424
You were right!  Changing fonts had the desired effect.  Thanks a lot for
your help.
By the way I am now using: Monaco, Menlo, "Droid Sans Mono" (in that order)
The trio before was: Consolas,'Courier New',monospace'

On Wed, May 29, 2019 at 9:35 AM Johannes Rieken <notifications@github.com>
wrote:

[2019-05-29 08:02] DanTup commented on #73090
Fix looks good, thanks! :-)

[2019-05-29 08:02] joaomoreno commented on #73686
@skprabhanjan You might have configured the `git.autoRepositoryDetection` setting.

[2019-05-29 08:04] isidorn commented on #73090
Thanks, adding verified label.

[2019-05-29 08:13] wyfang commented on #71827
If I can, I want to use a round icon on my Mac, for example:
![123](https://user-images.githubusercontent.com/17900420/58540824-b77b6500-822c-11e9-8f60-777717bc97f9.jpg)

[2019-05-29 08:16] wyfang commented on #74506
？？？

[2019-05-29 08:30] #74508 closed

[2019-05-29 08:30] isidorn commented on #74508
Please file here https://github.com/microsoft/vscode-python

[2019-05-29 08:31] isidorn commented on #74508
Please file here https://github.com/microsoft/vscode-python

[2019-05-29 08:32] jrieken commented on #74188
We are unsure about this, we will not finalise this for May. The current evolution of ideas/proposals:

[code]

[2019-05-29 08:34] dbaeumer commented on #74285
Will make sure I have an eye on it the next days.

[2019-05-29 08:45] DanTup commented on #74188
@jrieken if just knowing "if we're remote" is likely a common use case (it's what I need - I need to make sure I don't show options that will spawn local interactive processes/tools like emulators), why not also expose a simple boolean. You could ship that easily, and make it back onto this once it's finalised (keeping the API simple for those with simple requirements).

[2019-05-29 08:47] AndryWJ opened #74517 "problems all ftp extentions in version vscode 1.31 and highter"
- VSCode Version: 1.30
- OS Version: Win 10

Steps to Reproduce:

1. Install any ftp extension (ftp-kr, sftp ...)
2. Look at the improper operation of the extension, ftp-kr - endless download to the server, sftp - meddirovannaya work 30 seconds to download any file even 1k

https://github.com/microsoft/vscode/issues/68401
This is not an extension problem, I have not found one working normally with

[2019-05-29 08:49] r-bit-rry opened #74518 "Settings "python.autoComplete.extraPaths" support GLOB wildcard"
We use a local eggs folder for each projects which stores all the dependencies for that project.
However when I specify the path to this eggs folder, autocomplete does not recognize the underlying packages folders (unless I specify each one manually).
This can be solved by GLOB pattern/wildcard support.

for example this is what I specify that works:
`"python.autoComplete.extraPaths": [
    "${wor

[2019-05-29 08:51] bpasero commented on #74510
@DanTup yeah thanks for posting the screenshot, this issue is about fixing exactly that. The margins should be equal to make this look good.

[2019-05-29 08:54] LeoLozes commented on #72631
I'm consistently getting a 25%-40% CPU usage from electron_node tsserver.js, both on the last stable and last exploration build, with no extensions. Also, between 600 and 1.200 MB of RAM usage:

![ProcessExplorer](https://user-images.githubusercontent.com/11133817/58543355-9d775d80-81ff-11e9-81dd-18e3c7f0608f.png)

I don't have `@types/styled-components` installed under `node_modules`, however I d

[2019-05-29 08:58] divillysausages opened #74520 "[C#] "this" will autocomplete as "ThreadStaticAttribute" when writing ternary expressions before ending semi-colon has been added"
Issue Type: <b>Bug</b>

It happens mostly when writing ternary expressions (e.g. `(condition) ? doThis() : orThat()`) or when using `()` brackets in an assignment, _but before the ending semi-colon has been added._

When it happens, auto-complete doesn't seem to recognise that `this` exists, but will only show something like `ThreadStaticAttribute` (if there's a `using System;` directive at the to

[2019-05-29 09:09] #74091 closed

[2019-05-29 09:10] mpressen commented on #30974
really annoying and time-consuming to have to click on 'Don't Save' every time i decide to close a workspace.
I use them to have several instance of vs_code on different screens via 'Duplicate workspace in new window'.
Would love a checkbox to tick in order to not see it ever again

[2019-05-29 09:27] DanTup commented on #43768
@jrieken is it too late to finalize this in the May release?

[2019-05-29 09:29] skprabhanjan commented on #73686
@joaomoreno , This is what I am doing

- `git.autoRepositoryDetection` is already set to true.
- I open one file from the repo but it does not open the repo(that whole folder) ( It shows You have not opened any folder yet )
PS : I did a bit of debugging and it is not entering the loop [here](https://github.com/microsoft/vscode/blob/master/extensions/git/src/model.ts#L100) , The value of `workspace

[2019-05-29 09:31] Tony-Truand opened #74521 "Go to file shortcut not working anymore"
Issue Type: <b>Bug</b>

Desipte many restarts, erasing custom shortcuts (that weren't touching this one) The super handy shortcut Ctrl+P doesn't work any more, whereas the menu item is, but I'd like the keybord one to get back functioning

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System

[2019-05-29 09:34] gjsjohnmurray commented on #74517
I have used the ftp capabilities of **Remote FS** without problems on 1.34.

Have you logged your problems with the extension providers?

[2019-05-29 09:35] jrieken commented on #43768
yes

[2019-05-29 09:35] Daijobou opened #74522 "Issue with regex in files search"
Version: 1.34.0 (system setup)
Commit: a622c65b2c713c890fcf4fbf07cf34049d5fe758
Datum: 2019-05-15T21:59:37.030Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
Betriebssystem: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Go to Search for files and input "=>\n([\t ]+)array\(" as regex-option (you don't need search / press enter)
2. Go to Explorer (Icon in sidebar) and go

[2019-05-29 09:43] AndryWJ commented on #74517
Remote FS did not try, thanks. here is an developer comment sftp: https://github.com/liximomo/vscode-sftp/issues/454#issuecomment-490817602

problem ftp-kr:
https://github.com/karikera/ftp-kr/issues/119

[2019-05-29 09:44] joaomoreno opened #74523 "Command palette: `remote container` yields incomplete results"
Testing https://github.com/microsoft/vscode-remote-release/issues/474

When searching for `remote container`:

![image](https://user-images.githubusercontent.com/22350/58547007-d961f100-8206-11e9-9a0a-5c3aacd88074.png)

When search for `remote-container`:

![image](https://user-images.githubusercontent.com/22350/58547019-e088ff00-8206-11e9-91d7-6c8d7ca324ca.png)

Possible fixes:

- Make quick open

[2019-05-29 09:46] dbaeumer opened #74524 "Add support to distinguish between diagnostics created by a reconciler and a builder"
Short summary: currently it is very hard to handle / merge diagnostics that come from to different source having the same owner. This either leads to stale problems or missing problems. For a lengthy discussion see https://github.com/Microsoft/vscode/issues/61140

Having support to distinguish between diagnostics create by a reconciler and a builder would help solve that problem.

[2019-05-29 09:46] jfloff commented on #74117
I've also experience some issues with Google File Stream so I can contribute to the discussion.

Text search does return some results, but only from files that you've previously opened, i.e., if you just opened a project without opening any files, your search will return nothing.

[2019-05-29 09:47] dbaeumer commented on #61140
That is great. I opened https://github.com/microsoft/vscode/issues/74524

[2019-05-29 09:58] DanTup opened #74525 "Breakpoints no longer hit in activate() method when debugging extension (possibly since webpack?)"
Today I noticed that breakpoints aren't working in the activate method of my extension if they are in early-running code (though they work fine in code that runs "later").

For example in this code I added tow breakpoints, but only the second one (shown here) was hit:

<img width="720" alt="Screenshot 2019-05-29 at 10 54 43 am" src="https://user-images.githubusercontent.com/1078012/58547986-589ff6

[2019-05-29 09:59] dbaeumer commented on #74504
Actually, this is very wired and shouldn't happen. I will check this in the LSP test bed. @sean-mcmanus I know that you do a lot of tricks in our custom middleware. Have you checked that the reordering is not caused there?

[2019-05-29 09:59] compojoom commented on #74367
here I made a gif for you:
![2019-05-29 11 54 25](https://user-images.githubusercontent.com/693770/58547943-a7518e80-8208-11e9-8ed7-c33551f9e026.gif)

I have a something.js - in that file I export the const something

in index.js I try to import { some -> and I was hoping that autocomplete will kick in and complete the line. That doesn't happen.

If I go down and type something -> intellisense sug

[2019-05-29 10:01] dbaeumer commented on #50426
@XinChen99 can you provide me with a GitHub repository I can clone that demos this. And which LaTeX extension are you using?

[2019-05-29 10:02] jrieken opened #74526 "broken icons in exploration build"
* use exploration build
* open error peek
* :bug: icons are bust

<img width="1052" alt="Screenshot 2019-05-29 at 12 01 20" src="https://user-images.githubusercontent.com/1794099/58548395-850c4080-8209-11e9-8b48-35fa38cf198d.png">

[2019-05-29 10:04] bpasero commented on #74526
I cannot reproduce when changing the icon theme to our built in ones, so I suspect an issue with the exploration icon theme.

[2019-05-29 10:06] gjsjohnmurray opened #74527 "Enabling Regular Expression mode on Search while field contains invalid regex gives endless "busy" indication"
Issue Type: <b>Bug</b>

1. On Search sidebar with 'Use Regular Expression' option **not selected** paste `=>\n([\t ]+)array(`
2. Select 'Use Regular Expression' option and observe animated horizontal indicator run perpetually. The Stop button above it has no effect.
3. Deselect RE option and blank out the search field.
4. Select  RE option and then paste `=>\n([\t ]+)array(` into the search field.

[2019-05-29 10:08] joaomoreno commented on #73686
Steps:

1. New Window. Notice the SCM panel shows no repositories.
2. Open File, choose a file which lives inside a git repo.

Notice the SCM panel now shows that repository.

[2019-05-29 10:09] gjsjohnmurray commented on #74522
I tried unsuccessfully to reproduce this, but while doing do I logged #74527. Is it significant here that your regex is invalid?

Can you post an animated gif of what you're doing?

[2019-05-29 10:09] wogno opened #74528 "Lock Vscode"
A button that allows to lock vscode while I take a cup of coffee or when I communicate not to type code not desired

[2019-05-29 10:10] jrieken commented on #74237
This is definitely a different issue. The rename UX/flow is not based on confirmations/uncertain data but assumes a language service with full knowledge. What you show looks more like find and replace.

[2019-05-29 10:12] jrieken commented on #74237
How do you imagine that to work? API-wise?

[2019-05-29 10:14] DanTup commented on #43768
I suspected so :) Any reason it couldn't go into June? (someone asked about it, and it seems all the real work is done, it just needs to be available in stable and I could ship :-))

[2019-05-29 10:15] jrieken commented on #74410
Do you have 'Follow Cursor' enabled?

[2019-05-29 10:15] skprabhanjan commented on #73686
@joaomoreno , so it is about the SCM panel .
I assumed it will open the complete repo ( as folder I mean)
Thanks for the clarification  , I will work on this :)

[2019-05-29 10:24] JulianTillmann commented on #71789
I'm also on VCode 1.30.0, but I've had the Problem 5 times today.

[2019-05-29 10:25] vilic opened #74529 "Provide a way to programmatically launch remote folder with provided ssh config entry"
We are trying to prepare remote development environment for each feature/fix, and thus connection config would vary each time.

[2019-05-29 10:25] loretoparisi opened #74530 "Cannot expand code blocks after collapsing and closing the file"
- VSCode Version:
1.34.0
- OS Version:
macOS 10.14.5
Steps to Reproduce:

1. Open a large JavaScript file with code (classes or functions)
2. Collapses blocks
3. Close the file
4. Reopen the same file
5. Try to expand collapsed blocks.

The `+` will not be showed. A `Loading...` box will be presented when hovering on the line number area.
<img width="720" alt="Schermata 2019-05-29 alle 12 21 01" s

[2019-05-29 10:26] OmarTawfik commented on #1422
@snewfie is this comment intended here? Which API did you try?

[2019-05-29 10:27] Daijobou commented on #74522
After restart vscode its gone. I report again with animated gif if I found a way to reproduce this again.

[2019-05-29 10:27] #74522 closed

[2019-05-29 10:30] joaomoreno commented on #73686
I'd like to see a setting for this. Either a new one, or a modification to the current one. What do you propose?

[2019-05-29 10:31] jrieken commented on #74188
The problem isn't about exposing this information but how to call it... Internally we use `remoteAuthority` because remote-uris look like this `vscode-remote://ssh+b3fce7b3-533b/some/path`. The authority portion of that uri (`ssh+b3fce7b3-533b`) is handed over to an [extension](https://github.com/microsoft/vscode/blob/b60faaa149759bb9c24aa197d5901d6e5aa144dc/src/vs/vscode.proposed.d.ts#L131) to "r

[2019-05-29 10:32] bpasero opened #74531 "Cannot run extension tests anymore"
Refs: https://github.com/microsoft/vscode/issues/74436

I am on Windows and just did yo code on a typescript extension. I can run the extension but not run tests. The output I see is:

[code]

![image](https://user-images.githubusercontent.com/900690/58550309-c43c9080-820d-11e9-94a4-68ac53eab24d.png)

[2019-05-29 10:34] bpasero commented on #74531
The test runs fine from the command line via `yarn test`.

[2019-05-29 10:36] bpasero commented on #74531
Actually also seems to run fine from the sample:

![image](https://user-images.githubusercontent.com/900690/58550577-4fb62180-820e-11e9-94f2-65c2fdcae403.png)

Maybe a missing change for the generator?

[2019-05-29 10:37] bpasero opened #74532 "Docs: mention how to migrate to new @vscode story"
Refs: https://github.com/microsoft/vscode/issues/74436

I think we should have a paragraph for how existing extensions can migrate to our new world easily. Otherwise people will have to generate an extension and infer the usage from there. Would be nice to have a migration guide in our docs.

[2019-05-29 10:39] jrieken commented on #43768
We are a small team but there are also some concerns how well (or actually not so well) this aligns with the exiting file watcher API. E.g the latter doesn't have rename at all while the former only has rename.

We need to make it more clear that one source of events is the filesystem and that other source of events is file operations triggered from inside VS Code, e.g `onDidRename` will not fire

[2019-05-29 10:40] skprabhanjan commented on #73686
@joaomoreno , does this require a new setting gievn that there are already many settings for git now.
I will try with the current one and let you know.
Thanks :)

[2019-05-29 10:42] jimbomorrison commented on #73761
I normally use sshfs (as in this report) but have tried a samba mount too with the same results ((cosmetically) would you like the same debugging run with smb to check?)...

I will take a look at Remote-SSH and report back.  Thanks.

[2019-05-29 10:43] sandy081 commented on #64441
@mjbvz @isidorn I suppose above comment is meant for you.

[2019-05-29 10:46] weinand commented on #74525
There seems to be a timing issue: when setting breakpoints in startup/activation code, the code has been already executed before the breakpoints are registered properly.

In theory that should never happen because we are always using the "--inspect-brk" option which stops the debugger on entry and gives us time to registering breakpoints properly.

I need to do some deeper investigation why this s

[2019-05-29 10:46] DanTup commented on #74188
Oh, I hadn't considered that. This makes more sense now, it seems like it doesn't squash to a simple boolean even for my needs after all :-)

(whether or not I could get WSL to "see" the emulator I launched in Windows, I'm not sure, but I guess that's for another day :-))

[2019-05-29 10:47] isidorn commented on #64441
@SovietFrontier replacement for `"workbench.panel.location": "bottom"` is ``workbench.panel.defaultLocation": "bottom"`

[2019-05-29 10:47] danilaml commented on #61787
It looks like there are no blockers now and it's been in "Explore" state for quite some time. Is there any reason left why it's still Deferred?

[2019-05-29 10:48] sandy081 commented on #74434
@shenhai-ran There is a settings UI editor to solve such issues. Let us know if it is not helpful in this case?

[2019-05-29 10:48] DanTup commented on #43768
My expectation was that this would only fire for things the user did in the UI, so that doesn't concern me. In fact, the purpose of this API was for those that needed to construct edits *prior* to the rename, so I'm not sure if it'd ever work with a watcher if it only fires events after they've happened?

[2019-05-29 10:50] DanTup commented on #74525
Ok, let me know if you need any more info from me. I'm actually seeing other weird issues (presumably webpack related), like making code changes and clicking the Restart icon does reload the extension in the host, but breakpoints and source maps seem to get messed up, and sometimes it seems like it's still running old code (even though the disk seems correct, and I saw webpack do the recompile). I

[2019-05-29 10:52] web-padawan opened #74533 "[vscode-uri] breaking change landed in a patch release"
Hi everyone. Not sure where should I ask about [vscode-uri](https://github.com/microsoft/vscode-uri) (the repo does not have open issue tracker) so asking here. If it's not a proper place, please forward me to the right direction .

Problem is that `vscode-uri` has been recently bumped to `1.0.7` and included breaking changes in a patch release.  See the commit: https://github.com/microsoft/vscode

[2019-05-29 10:53] jrieken commented on #43768
Yes, we just need to make sure that everyone understands this.

[2019-05-29 10:54] weinand commented on #74525
The "breakpoint not hit in activation issue" is unrelated to Webpack. I can reproduce in an extension that doesn't use Webpack.

[2019-05-29 10:55] jrieken commented on #74533
ops - that unintentional. I will push a fix asap

[2019-05-29 10:56] bpasero opened #74534 "vscode-dts causing compile errors due to downloading vscode.d.ts into root of folder"
Refs: https://github.com/microsoft/vscode/issues/74436

Steps:
* be on Windows
* yo code a hello world TS extension
* open in VSCode
* run it once from debug, should work fine
* run `npx vscode-dts release/1.32`
* run it again from debug

=> 🐛 I am seeing a lot of errors:

![image](https://user-images.githubusercontent.com/900690/58551689-ec79be80-8210-11e9-8b0b-bfc6590996f1.png)

It looks like th

[2019-05-29 10:57] bpasero commented on #74534
Btw cc @joaomoreno @sandy081 for broken tree

[2019-05-29 10:58] DanTup commented on #74525
Ah, great! I couldn't repro in a small sample so wasn't sure what was causing it.

[2019-05-29 10:59] alexr00 opened #74535 "Native menu shows keyboard shortcut in a different order"
See the Run Task item:
![image](https://user-images.githubusercontent.com/38270282/58551901-67db7000-8211-11e9-853c-c6e7b3f0c46b.png)
Custom:
![image](https://user-images.githubusercontent.com/38270282/58551945-85103e80-8211-11e9-9200-802e4da1a0e0.png)

[2019-05-29 10:59] jrieken commented on #74533
published as 1.0.8

[2019-05-29 10:59] #74533 closed

[2019-05-29 11:00] bpasero commented on #74436
I skiped over the "VSCE" part.

[2019-05-29 11:01] alexr00 opened #74536 "Electron 4: Shift + click on open VS Code in task bar doesn't open a new window."
Found testing https://github.com/microsoft/vscode/issues/74320

In Windows, when you Shift+click on a running item in the task bar it opens a new window of that item.

[2019-05-29 11:05] jrieken commented on #74533
also published 2.0.0 without the default export

[2019-05-29 11:06] complexityclass commented on #73728
Yes, right on startup. It doesn't appear if I have changes in single file and appear for 2 or more files with changes.

Here is a screenshot
<img width="1099" alt="Screenshot 2019-05-29 at 13 56 25" src="https://user-images.githubusercontent.com/2452092/58552356-e2f55400-821a-11e9-925d-5727801a2df1.png">

[2019-05-29 11:08] web-padawan commented on #74533
That was fast! Thanks 👍

[2019-05-29 11:08] bpasero commented on #74523
Moving to @roblourens given prior art in https://github.com/microsoft/vscode/issues/27636

[2019-05-29 11:09] bpasero commented on #61787
@danilaml this will land in insiders during June. We felt the current iteration was too short to push this already. If there are new blockers found, it may delay further though.

[2019-05-29 11:12] bpasero commented on #74536
@alexr00 I cannot reproduce on my Windows 10 box, but this used to be an area of issues. Both things work for me:
* shift-click
* middle mouse click

Do you have Code exploration pinned to the Windows dock?

Ping @the-ress as we had https://github.com/microsoft/vscode/pull/15407 which I think is related.

//cc @deepak1556

[2019-05-29 11:14] weinand opened #74537 "running with VoiceOver turned on: a black rectangle shows up"
while testing #74320 (exploration build) on macOS:

- enable VoiceOver
- activate a text editor
- press "arrow up" or "arrow down" key

Observe:
a black rectangle shows up at the top of the editor:

![2019-05-29_13-06-49](https://user-images.githubusercontent.com/1898161/58552752-7034aa80-8213-11e9-9d4e-8d07e47b20e0.png)

I've compared this behavior with Insiders and Stable, and the problem alread

[2019-05-29 11:14] alexr00 opened #74538 "Exploration icons: Focus on icons is invisible"
Testing https://github.com/microsoft/vscode/issues/74320

With the X not selected:
![image](https://user-images.githubusercontent.com/38270282/58552789-88a4c500-8213-11e9-836d-baad0ce64e77.png)
Focus on X:
![image](https://user-images.githubusercontent.com/38270282/58552831-9eb28580-8213-11e9-91eb-c136322d6f6d.png)

This is what focus on the X looks like in insiders:
![image](https://user-images.g

[2019-05-29 11:16] alexr00 commented on #74538
The view toolbar has the same problem. Its easy to check in the outline view.

[2019-05-29 11:18] maciejw commented on #61787
is exploration build up to date with insiders and only difference is electron? if so, then maybe we have some issues, I'm using exploration build with electron 4.2 and extensions host crashes regularly during startup, sometimes while using editor.

[2019-05-29 11:18] #74120 closed

[2019-05-29 11:25] AndryWJ commented on #74517
Remote FS - I do not see the possibility of synchronization, only direct work with a remote server

[2019-05-29 11:27] dlogik commented on #68188
I too have the same problem with lid closed. Opening rhe lid fixes the issue.

Macbook Pro 2018 running Mojave 10.14.5 with external 4k display connected via USB-C
Radeon Pro 560X
VSCode 1.34.0

[2019-05-29 11:27] SHxKM opened #74539 "VSCode simply deleted file contents in my code folder"
I don't quite know what to say right now. Yes, I should have known better - I should have pushed changes to git. Just as I made a breakthrough with my code, I tried to copy a file (within VSCode menu), and suddenly the file went blank, and poof. Hours of work are gone.

I don't even have the mental will to describe this issue. In 4 years with PyCharm this has NEVER happened to me.

And yes, I obvi

[2019-05-29 11:28] hwhung0111 commented on #74410
No, I didn't enable 'follow cursor'.

[2019-05-29 11:31] yatagarasu25 opened #74540 "Add support of Task Lists to Markdown editor/preview."
Issue Type: <b>Feature Request</b>

Please add support of Task Lists to Markdown preview

Like they do that in github
https://github.blog/2014-04-28-task-lists-in-all-markdown-documents/

Just displaying checkboxes will be ok.
Can be usefull for editiong local todo lists.

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Windows_NT x64 1

[2019-05-29 11:32] dbaeumer opened #74541 "Precondition in comments/commentThread/context doesn't seem to work"
Testing https://github.com/microsoft/vscode/issues/74472

I added the following command to the comments/commentThread/context:

[code]

However the command is not disabled (visually) when the comment changes from empty to non empty

[2019-05-29 11:38] dbaeumer opened #74542 "It is unclear what valid values are for contextValue"
Testing https://github.com/microsoft/vscode/issues/74472

It looks like from reading the doc that `editable` is a valid value. However there is no indication if this is the only valid value. And if not which the other values are.

[2019-05-29 11:38] SeeminglyScience commented on #1422
@OmarTawfik I believe they meant to respond in https://github.com/SeeminglyScience/EditorServicesCommandSuite/issues/41.

[2019-05-29 11:45] BigGregory opened #74543 "Project tree scope lines"
Issue Type: <b>Feature Request</b>

Hi team, thank you for a great tool that I used. But have a small request for you. Please add in tree project vertical lines for indents to better understand project structure. Because if structure is big (lots of nested files and folders) it would be much more handy to visualize it with vertical lines. Thank you in advance

VS Code version: Code 1.34.0 (a622c65

[2019-05-29 11:45] gjsjohnmurray commented on #74517
@AndryWJ yes, Remote FS is a different beast. It implements a `FileSystemProvider`.

I think your best hope is that @liximomo or the creator of one of the other extensions apparently impacted by a change at 1.31 will manage to track down the cause, then raise it here.

[2019-05-29 11:47] jtsom commented on #71827
Uhh.. did they revert the icons in a recent insiders build? I launched Code this morning, and the icon switched back to the original:

<img width="39" alt="image" src="https://user-images.githubusercontent.com/13488/58554832-fb974700-81e5-11e9-9a7f-e8b5c4b61674.png">

[code]

[2019-05-29 11:55] dbaeumer opened #74547 "Couldn't get `commentThread == editable` to work"
Testing https://github.com/microsoft/vscode/issues/74472

I changed the following command in the example to

[code]

But this made the delete command disappear in all cases although I am pretty sure the commentThread is editable

[2019-05-29 12:01] dbaeumer commented on #74542
Actually now I found out how this works: user can have their own sets of `contextValues`. I would suggest to make this more clear in the JS doc by including the JS/TS code that actually set the value. Otherwise users might think (like I did) that `editable` is a given value.

[2019-05-29 12:01] dbaeumer commented on #74547
User error.

[2019-05-29 12:01] #74547 closed

[2019-05-29 12:03] usernamehw commented on #74543
/duplicate of #17777

[2019-05-29 12:03] #74543 closed

[2019-05-29 12:08] shenhai-ran commented on #74434
@sandy081 Thanks for you feedback. Indeed the ui editor is quite good, but some extensions, such as **LaTeX Workshop**, it still needs to edit settings.json .

For instance in the following configuration of LaTeX Workshop in the UI editor, if I want to add any build command, I still need to open the settings.json file and expand it to very very long.
![Code_n0OfehcCUU](https://user-images.githubus

[2019-05-29 12:09] jrieken commented on #74533
Thanks you for the quick error report

[2019-05-29 12:10] jrieken commented on #74410
That's weird - I can only reproduce this when following the cursor (which is then also the correct behaviour).

[2019-05-29 12:12] AndryWJ commented on #74517
This problem has not been solved for a long time. =(
What causes most ftp extensions in version 1.31 and above to crash? maybe vscode developers have an answer?

[2019-05-29 12:13] kieliszek85 commented on #74517
I found out that this issue is related to host's FTP server.
For example pure-ftpd works ok, but pro-ftpd works very slowly.
I have checked vscode-sftp and vs-deploy. It seems to be related to FTP server's configuration, but I am unable to figure out which FTP option causes this issue.

[2019-05-29 12:16] alex473x commented on #26952
+1

[2019-05-29 12:18] dbaeumer opened #74548 "Wrong editor content or header"
![capture](https://user-images.githubusercontent.com/1931590/58556597-afb3c480-821c-11e9-802a-735316aa6293.png)
Happened when testing https://github.com/microsoft/vscode/issues/74466

See the attached screen shot: The header talks about protocol.ts but the content is clearly the setting.json file which I had open. I did move files around using D&D

[2019-05-29 12:22] dbaeumer commented on #74466
Nice improvements!

[2019-05-29 12:32] #74444 closed

[2019-05-29 12:32] isidorn commented on #74444
Search for "horizontal scroll bar" and "tree" to find the duplicate

[2019-05-29 12:35] aeschli commented on #74188
Ideally you could query your environment to find out whether it makes sense to launch a certain tool.
E.g. check whether the DISPLAY variable is set. Or whether you can find a certain executable.

[2019-05-29 12:37] alexr00 commented on #74285
I've taken a look and the task use of the status bar and it still looks ok!

[2019-05-29 12:37] hwhung0111 commented on #74410
My setting:

- disable 'follow cursor'
- double click two files to let it stay on the editor (fileA has 50 items in Outline and fileB has 100 items)
- scroll fileA's outline to 10th item and click fileB, it will scroll 10th item in fileB.
- scroll fileB's outline to the last item and click fileA, it will scroll to 50th item in fileA. (because fileA doesn't have 100 items.)
- scroll fileA's outline

[2019-05-29 12:38] #74309 closed

[2019-05-29 12:39] chrmarti opened #74549 "Smart select on `|"non-empty-string"` selects entire file"
[...]
Also, running smart select on `|"non-empty-string"` results in the entire file being selected and the following error:

[code]

_Originally posted by @diabolicle in https://github.com/microsoft/vscode/issues/74309#issuecomment-495870586_

[2019-05-29 12:39] SovietFrontier commented on #64441
What about `"typescript.suggest.insertParametersForFunctionCalls": true`?

[2019-05-29 12:42] jimbomorrison commented on #73761
`Remote-SSH` works like a charm -- and wow, looks insane so I will be sticking with it.  If you need me to go back at test anything in the old sshfs/smb config just let me know, thanks.

[2019-05-29 12:42] alexr00 commented on #74536
Code exploration is not pinned. Code exploration and insiders were both running (1 window each). Windows version 10.0.18362 Build 18362, aka 1903.

I used the 64 bit Windows archive to install the exploration.

Version: 1.35.0-exploration
Commit: a2873dc8ba39ecacd83de7c8e431e5f5a3107d86
Date: 2019-05-29T05:57:26.707Z
Electron: 4.2.2
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0

[2019-05-29 12:43] alex473x commented on #26952
Found this extension which do the trick: Git Last Commit Message (GLCM)

[2019-05-29 12:43] isidorn commented on #74516
Currently we send the `setBreakpoints` request when the user has manually changed breakpoints in some way (by adding them, disabling/enabling them...).
When the `initiazlied` event arrives. When the file with breakpoints got deleted.
Currently the client does not send them for the `loadedSource` event and there is no way to force the cliend to send the `setBreakpoints` request programatically.
Thu

[2019-05-29 12:45] DanTup commented on #74188
Checking for executables isn't good enough (for ex. you might connect to a container that has the Android SDK installed, so we can list and launch emulators, but you won't see them), though I hadn't considered `DISPLAY`, that might work for some; I'll do some testing. Thanks! :-)

[2019-05-29 12:51] isidorn commented on #74297
@Spacetornado the problam with the "Expand All" button is how deep should we expand? In theory it is possible to expand infinitily. And "Expand All" for just one level seems like it might not be what the user is looking for most of the time.
And yes it would be a performance hit against the debugger.

[2019-05-29 12:55] misolori commented on #74526
Thanks for catching that, I think I know why. Will push a fix for it today.

[2019-05-29 12:56] SounD120 opened #74551 "Debug console should be cleared as soon as the new session starts"
- VSCode Version: 1.34.0
- OS Version: Windows 10, Ubuntu 18, macOS 10.14.4

Steps to Reproduce:

1. Install [Cordova Tools](https://marketplace.visualstudio.com/items?itemName=msjsdiag.cordova-tools) extension
1. Install Cordova cli `npm i -g cordova`
1. Clone demo app with `git clone https://github.com/SounD120/vscodecordovatoolsrepro.git` command
1. Run `cd vscodecordovatoolsrepro && npm instal

[2019-05-29 12:57] jrieken commented on #74548
errors on the console?

[2019-05-29 12:59] weinand commented on #74320
The "'All References' to 'app'" smoke test failed (at least on macOS), but the same happened in Insiders too.

[2019-05-29 13:09] isidorn opened #74552 "comments/commentThread/context and comments/comment/context have no hover to explain"
Refs: https://github.com/microsoft/vscode/issues/74472

1. Open the `package.json` of an extension that contributes `comments/commentThread/context` and `comments/comment/context`
2. Hover over those two -> there is no hover information to help the user understand where the menu is located

Please note that I get nice hover info for the other two `comments/comment/title` and `comments/commentThrea

[2019-05-29 13:13] fwcd commented on #71827
What do you think about keeping the tilted style on macOS together with the new icon?

![image](https://user-images.githubusercontent.com/30873659/58559560-abd77080-8223-11e9-9e4b-74a3f00b219b.png)

![Screen Shot 2019-05-29 at 15 06 31](https://user-images.githubusercontent.com/30873659/58559493-864a6700-8223-11e9-8dd3-e3fbf2e9e92b.png)

[2019-05-29 13:14] jrieken commented on #74410
Ah, same editor... Now I understand

[2019-05-29 13:15] isidorn opened #74553 "comment context keys overly complex"
Refs: https://github.com/microsoft/vscode/issues/74472

Here are the new context keys:
commentController,
commentIsEmpty
commentThreadIsEmpty
comment
commentThread

Please add good docs for them, because they look overly complex for me and easily to confuse.
Apart from good docs I would try to use all of them in the extension sample here https://github.com/microsoft/vscode-extension-samples/tree/0

[2019-05-29 13:15] CookieCrumbles commented on #74143
New icon is lit AF

[2019-05-29 13:17] jrieken commented on #74410
@joaomoreno `IDataTreeViewState` doesn't store the scroll position but I think it would makes sense to do so.

[2019-05-29 13:18] bpasero commented on #74538
@alexr00 can you check if this reproduces when you pick "None" as file icon theme? Wondering if this is too related to the icon exploration.

[2019-05-29 13:19] bpasero commented on #61787
@maciejw which version are you on (check the commit hash from the about dialog). If it is latest then I would be happy for some reproducible steps how to get to these crashes if possible.

[2019-05-29 13:19] isidorn opened #74554 "Comments precondition not respected"
Refs: https://github.com/microsoft/vscode/issues/74472

Have an extension (you can take the comment sample) that contribues the following in the `package.json`
[code]

Note that this action should always be disabled, since the precondition is the opposite of the when clause. However the action does not appear as disabled, but enabled

![Screenshot 2019-05-29 at 15 19 00](https://user-images.github

[2019-05-29 13:21] bpasero commented on #74536
@alexr00 oh this may not work with just the archive, can you try with using the installer?

[2019-05-29 13:21] jrieken commented on #74188
So following @chrmarti's and @dbaeumer's idea of making this totally independent of remote, I think the logical consequence is to not have this inside a wrapper object but straight on the `env` object (which already represents the environment in which vs code and/or the extension host runs). That would result in something like `vscode.env.kind: string | undefined`, alternative to `kind` could be `

[2019-05-29 13:22] bpasero commented on #74320
Yeah thanks I noticed this as well. /cc @jrieken

[2019-05-29 13:22] bpasero commented on #74548
@dbaeumer not good, any chance you can distill some steps how to reproduce this?

[2019-05-29 13:24] waldyrious commented on #73727
@joaomoreno thanks, I can see that a link to the syntax highlighting guide is indeed available in the color theme guide, but I missed it at first.

That said, even if I had found that page earlier, I don't think I'd have been able to figure out how to customize those colors. Even in the [reference documentation for TextMate scopes](https://macromates.com/manual/en/language_grammars) linked from th

[2019-05-29 13:25] jrieken commented on #74188
Tho, on a second thought maybe `vscode.env` isn't the right place at all. Currently all its values refer to the environment in which the editor runs, e.g. `vscode.env.clipboard` is the clipboard to which the UI has access, not the clipboard of the remote side. Same for `openExternal`, `machineId` etc.

That means we might wanna go back to having something on `ExtensionContext`, similar to what we

[2019-05-29 13:32] aeschli opened #74555 "runTests.d.ts spec not consistent with code"
Testing https://github.com/microsoft/vscode/issues/74436

- create a TS extension as described in #74436 and look at runTest.ts
'runTests' is called with testRunnerPath.
The hover of `testRunnerPath` says:
[code]

Looking at [suite/index.ts](https://github.com/microsoft/vscode-extension-samples/blob/master/helloworld-test-sample/src/test/suite/index.ts) I don't see a testRunner exported.

[2019-05-29 13:39] isidorn opened #74556 "comments/commentThread/actions and comments/comment/actions not fully supported"
Refs: https://github.com/microsoft/vscode/issues/74472

`comments/commentThread/actions` and `comments/comment/actions` seem to be new names for `comments/commentThread/context` and `comments/comment/context`. This is great, because the old name is not good - it is not a context menu and can be easily confused.

However the new menu title id simply does not work, while the old one works. So it see

[2019-05-29 13:43] joaomoreno commented on #73727
cc @alexandrudima @rebornix

[2019-05-29 13:48] skywolf123 opened #74557 "The order in which the terminal starts the conda environment during debugging"
Issue Type: <b>Bug</b>

In the anaconda environment, press F5 to start debugging, but the error "DLL load failed" seems to be that the debugging terminal failed to start the conda environment at the first startup, but first executed the python code and then tried "conda activate base".

VS Code version: Code 1.34.0 (a622c65b2c713c890fcf4fbf07cf34049d5fe758, 2019-05-15T21:59:37.030Z)
OS version: Wi

[2019-05-29 13:50] isidorn opened #74558 "Change all occurences and Command Palette is in every editor"
Refs: https://github.com/microsoft/vscode/issues/74472

Notice how the context menu in the comment input box is pretty useless. It has all the unrelated actions. And we have  similar problem in the debug console input box.

I belive the Change all occurences and the Command Palette belong only in the main editor and they should be removed from all others.
@bpasero @jrieken On what context keys do

[2019-05-29 13:54] bpasero commented on #74558
Makes sense to not have them in there. I would think there should be a context key set whenever the editor is not used as a real text editor and then we can change those registrations.

[2019-05-29 13:54] #74531 closed

[2019-05-29 13:54] octref commented on #74531
Fixed, need @aeschli to publish a new version.

[2019-05-29 13:56] bpasero opened #74559 "Crash on macOS when closing window"
I was running VSCode exploration on my mac and closed it (I think via the dock menu). I noticed the application not quitting right away and eventually was presented with a macOS crash dialog.

**Stack:**
[code]

Unfortunately, it looks like electron-atos is no longer able to decrypt the stack, I am getting an error when trying. Maybe there is another way of getting the full stack?

[2019-05-29 13:57] octref commented on #74534
I think that's as-designed. Do you think we should add correct `@types/vscode` dependency instead of downloading raw dts in this case? I thought vscode-dts as an alternative to `@types/vscode`, not something on top of it.

[2019-05-29 13:57] bpasero commented on #74559
Should add: of course this might not be a consequence of Electron 4, just guessing.

[2019-05-29 13:58] CurtisBelt commented on #74352
This is now fixed on Fedora 30 with latest mesa updates. Available in regular system updates: `sudo dnf upgrade`

https://bodhi.fedoraproject.org/updates/FEDORA-2019-4c80229aaa

[2019-05-29 13:58] bpasero commented on #74531
Thanks, I can test this by installing the generator from master, no need to publish for me.

[2019-05-29 13:59] aeschli opened #74560 "Run test options: Polish APIs"
Testing https://github.com/microsoft/vscode/issues/74436

Create a TS extension as described in #74436 and look at runTest.ts. It invokes `runTests` from `vscode-tests `.
https://github.com/microsoft/vscode-test/blob/master/lib/runTest.ts

With vscode-tests becoming more prominent, its APIs should have same quality as our vscode extension APIs. Here are some areas we need to improve before releasi

[2019-05-29 14:01] jrieken opened #74561 "Use `uri`, not resource"
re https://github.com/microsoft/vscode/blob/4c5705f4f8700672b9eaddeefc2a687a23cbedd4/src/vs/vscode.d.ts#L8986

we use `uri` in most cases, in two other cases we use `resourceUri`. `resource` is never used

[2019-05-29 14:04] IllusionMH commented on #64528
@jrieken could you please reconsider and re-open this issue because it is not duplicate of #50062?

[2019-05-29 14:04] jrieken opened #74562 "comments - outdated menu reference"
There is a doc comment that refers to `/actions` which isn't up to date anymore

https://github.com/microsoft/vscode/blob/4c5705f4f8700672b9eaddeefc2a687a23cbedd4/src/vs/vscode.d.ts#L9100

[2019-05-29 14:06] isidorn commented on #74558
There should be a context keys for this. Every editor should have this property is simple widget something.
I can look into adding this context keys for the two actions.

[2019-05-29 14:07] alexr00 commented on #74538
Does not repro with file icon theme none.

[2019-05-29 14:08] dalDevelo commented on #71827
I have the same issue @jtsom !

Mine reverted back to the old logo on the very next insiders build after release. The new logo seems to still exist everywhere else within the insiders build. I have also noticed that in my applications folder the old logo shows up in the applications list, but when selecting the application in finder, the new logo is displayed in the next column (when using column

[2019-05-29 14:09] alexr00 commented on #74536
Works with installer!

[2019-05-29 14:12] jtsom commented on #71827
I followed this to clear out the icon caches - https://mjtsai.com/blog/2019/02/01/clearing-the-icon-services-cache-in-mojave/ and the new (hard to see) icon is back.

[2019-05-29 14:15] maciejw commented on #61787
@bpasero it was on 291cc2dd4, I'll let you know if this is still the issue I've just installed a2873dc8b. I wondered, was it an extensions fault maybe? I synced my settings including all extensions. when this crash will happen, callstack and details from dev console will be enough to help diagnose it? this issue happens randomly I did not find any particular pattern what causes it.

[2019-05-29 14:20] thany commented on #74282
Since it's a pretty sizable file to copypaste here, I made it into a gist. Please see here for the TS server log:
https://gist.github.com/thany/97210324d819edc31171a0d755a673ca

[2019-05-29 14:20] bpasero commented on #74534
@octref I see 2 usecases:
* to download from master
* to download proposed

Either way, the vscode.d.ts should go into the types folder otherwise we can end up having vscode.d.ts twice (once top level and once in node modules folder)

[2019-05-29 14:21] jrieken commented on #64528
Yes, this isn't a dupe but TBH this is far out of scope because the API doesn't define any semantics on references. Eg the editor doesn't know anything about references, they are just pointers to some line of source. The proposed API for call hierarchies (https://github.com/microsoft/vscode/issues/70231) will have this knowledge and while the first UX is peek based, there will likely be a viewlet

[2019-05-29 14:21] #64528 closed

[2019-05-29 14:22] #74536 closed

[2019-05-29 14:22] Kukulkano commented on #58862
I'm interested in the same functionality but I don't find such settings. By which setting am I able to hide elements like variables? Or at least make it start all collapsed beyond level 1?

[2019-05-29 14:22] bpasero commented on #61787
@maciejw yeah we can revisit this once you can still reproduce, looks like you were on quite an old version of the exploration branch.

[2019-05-29 14:31] octref commented on #74560
That's in the readme: https://github.com/microsoft/vscode-test#usage

[code]

I think that can be a feature request, but not blocking release. 1) You can use explicit `launchArgs` 2) Originally `vscode` doesn't have this functionality either.

Files/Folders/path-to-workspace-files. The first argument passed to code executable. I can improve the doc a bit.

Then it's like calling `code --extensionD

[2019-05-29 14:31] joelukam commented on #74028
I run the command from the terminal, here is the complete output
www:~ PpKamara$ /Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron --disable-extensions
[main 2019-05-29T14:17:44.605Z] update#setState idle
2019-05-29 10:17:44.637 Electron[3075:1075093] *** WARNING: Textured window <AtomNSWindow: 0x7fe155ec8070> is getting an implicitly transparent titlebar. This will break when linking

[2019-05-29 14:36] isidorn commented on #74551
Ok so let me get this clear. This only happens if you stop the debug session while it is initialising? If you stop it after some time, and start again the console will get properly cleared. Correct?

[2019-05-29 14:36] bpasero commented on #74028
@joelukam weird, looks like an out of memory situation to me. Does this reproduce after a fresh start of the system, also with an empty window (add `-n` as argument)?

[2019-05-29 14:41] alexr00 commented on #74536
Shouldn't it also work with the archive?

[2019-05-29 14:41] psygo commented on #35901
Excuse me, but I disagree that these `fontWeight` and `fontSize` fixes and circumventions are reasons for closing this issue. It remains as being annoying and unpolished, now either I'm gonna have smaller characters or an overwhelmingly bright terminal. This is a *major visual bug* of VS Code and should be addressed as such.

[2019-05-29 14:45] joelukam commented on #74028
www:~ PpKamara$ /Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron --disable-extensions
[main 2019-05-29T14:17:44.605Z] update#setState idle
2019-05-29 10:17:44.637 Electron[3075:1075093] *** WARNING: Textured window <AtomNSWindow: 0x7fe155ec8070> is getting an implicitly transparent titlebar. This will break when linking against newer SDKs. Use NSWindow's -titlebarAppearsTransparent=Y

[2019-05-29 14:47] aeschli opened #74563 "Test Runner: error when reading fake asar"
Testing https://github.com/microsoft/vscode/issues/74436

Ubuntu

- open https://github.com/microsoft/vscode-extension-samples/tree/master/helloworld-test-sample
- `npm install`, `npm run compile`, `npm test`

tests pass, but terminal prints:
[code]

foo.asar is a fake asar (for testing reasons).
Strange that the test runner would try to load it.

[2019-05-29 14:48] joelukam commented on #74028
I added the status when usage was 100% now I restarted my laptop. I’ll try again and let you know the results adding the argument for an empty window.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Benjamin Pasero <notifications@github.com>
Sent: Wednesday, May 29, 2019 10:39:00 AM
To: microsoft/vscode
Cc: joelukam; Mention
Subject: Re: [microsoft/vscode] Code h

[2019-05-29 14:49] slolo2000 opened #74564 "Code not reachable in Visual Studio Code with Javascript and Go To Definition (F12) functionnality"
- VSCode Version: 1.34
- OS Version: Windows 10 Build 1809 x64 (17763.529)

I would like to write javascript module and access methods with "Go To Definition" functionnality of Visual Studio Code (F12 or ctrl+ left mouse click)

It works well with simples modules but each time I want to extend a module with an variable in argument, Visual Studio code is not able to reach function inside my module.

[2019-05-29 14:50] aeschli commented on #74436
(Documentation link](https://github.com/microsoft/vscode-docs/blob/octref/vscode-test/api/working-with-extensions/testing-extension.md) does not work for me

[2019-05-29 14:52] IllusionMH commented on #64528
Thank you for explanation.
Just to clarify - if #70231 won't help with expected workflow I need to submit Language Service API proposal to enable more info about reference kind first?

[2019-05-29 14:52] tokenflow opened #74565 "broken code in vscode 1.34 OS Mojave 10.14.5"
**Environment data**

VScode 1.34
OS Mojave 10.14.5

**Sample Code**

[code]
**Expected behaviour**

[code]

I know it looks duplicate, but yet the problem is still not solved

[2019-05-29 14:54] IllusionMH commented on #71827
Is is possible to share files with possible icon designs in this thread (.ico for Windows (or several icons in .exe file), other formats for Mac and Linux)?
In this way insiders will be able to check how Insiders icon looks like in their system with new hue, old hue, and also check how Stable icon will look like.

[2019-05-29 14:54] Tyriar commented on #35901
The issue won't be closed until it's fixed.

[2019-05-29 14:57] octref commented on #74534
OK, here's the plan:

- I'll limit `vscode-dts` to only downloading master / proposed.
- I'll print a warning if `node_modules/@types/vscode` is detected when downloading master dts. The old behavior of downloading file into `node_modules/vscode` had been confusing, and if you reinstall dependencies the types are gone again.

[2019-05-29 14:59] joelukam commented on #74028
I restarted my laptop. From the Terminal I ran with parameters -n —disable-extensions. Not running into problems so far. But how can I determine which one is the culprit? Installed extensions for Python, HTML and C#

[2019-05-29 14:59] bpasero commented on #74536
@alexr00 I believe this feature is tied to being installed and having an entry in the windows registry, not sure why.

[2019-05-29 15:01] bpasero commented on #74028
@joelukam well in the previous case where it crashed you were still running without extensions and it was still crashing, so it seems unrelated to extensions, right?

Which kind of folder did you open previously?

[2019-05-29 15:01] SirCameron commented on #74138
@mjbvz it's the same issue, though?

[2019-05-29 15:03] Jared-Dev commented on #73788
@murraycollingwood I think you are placing too much on the outline piece itself. Just like with `#region` this could be up to the plugins for a language to implement. If an `enum` is used I'm having trouble seeing makes that problem something that couldn't be overcome?!

[2019-05-29 15:05] misolori commented on #71827
You sometimes may encounter icon cache issue with the old one showing up on the Mac, [@jtsom's link](https://github.com/microsoft/vscode/issues/71827#issuecomment-496954073) is a good alternate to clear the cache. You can also right-click on the application (in finder) > Get Info > and drag the preview image into the icon in the top left.

@AtjonTV the stable version will be updated in the next re

[2019-05-29 15:06] aeschli commented on #74334
You could set them to fully transparant. (#0000)

[2019-05-29 15:07] jrieken commented on #64528
Yeah, that would be helpful. Something that enhances this API first: https://github.com/microsoft/vscode/blob/4c5705f4f8700672b9eaddeefc2a687a23cbedd4/src/vs/vscode.d.ts#L2718-L2731. E.g instead of returning a `Location[]` allow to return something comparable to `DocumentSymbol`. Once we have it in VS Code, we follow up with LSP. It also needs a reasonable default, e.g. all Location-only reference

[2019-05-29 15:08] joaomoreno commented on #73686
How about we add another value `fileSaved`? We should also make the setting accept an array, so people can mix and match the values.

[2019-05-29 15:09] joaomoreno commented on #73728
Can you show me the full output of `git status -u` on *both* folders?

[2019-05-29 15:09] bpasero commented on #17115
**Verification**: open a file and change the language mode, reload and verify the language mode is still there.

[2019-05-29 15:10] joaomoreno commented on #74523
@bpasero @chrmarti Why not removing that `-`?

[2019-05-29 15:11] aeschli commented on #63805
Updated service...

[2019-05-29 15:16] aeschli commented on #74531
Published generator-code@1.2.0-next.1

[2019-05-29 15:16] joaomoreno commented on #74410
You got it. We have it in the async data tree: https://github.com/Microsoft/vscode/blob/master/src/vs/base/browser/ui/tree/asyncDataTree.ts#L268 It's just a matter of porting it.

[2019-05-29 15:17] bpasero commented on #74523
Yeah I thought this would already happen via https://github.com/microsoft/vscode/commit/9d64a3be869c8fee828455339f3e15c1715166c6

[2019-05-29 15:18] bpasero commented on #74534
@octref I actually suggest to print the warning but also just remove the folder `node_modules/@types/vscode` as part of the operation.

[2019-05-29 15:19] octref commented on #74436
Fixed link

[2019-05-29 15:19] IllusionMH commented on #64528
@jrieken understood. Thank you again!

[2019-05-29 15:19] alexr00 commented on #63986
I think that they look different, but it's subtle.
[code]
![image](https://user-images.githubusercontent.com/38270282/58569218-f82bac00-8235-11e9-9726-0bf5d27a3dc1.png)

[2019-05-29 15:21] jrieken opened #74566 "Update message for `editor.gotoLocation.multiple`"
See screen shot. The message is now out dated as we allow to cycle through other results pressing F12

<img width="501" alt="Screenshot 2019-05-29 at 17 20 39" src="https://user-images.githubusercontent.com/1794099/58569280-1a252e80-8236-11e9-840d-4c42cb8659e7.png">

[2019-05-29 15:21] aeschli commented on #74560
Workspace is not a good name for that. Maybe pathsToOpen. Can be one, multiple, none. Can be paths, URI (--file-uri...). Give the many variants (and who knows what's in the funture), I think it's better the user just uses launchArgs for that.

[2019-05-29 15:24] githublloyd opened #74567 "VS Code terminal highlighted prompt"
Issue Type: <b>Bug</b>

After accepting the recent Windows 10 update, my VS Code editor terminal has changed colours and contrast. Any attempt at changing the Theme still has the command prompt highlight in these inverted/obnoxious colours (dirs, files are hard to see).

It happened just after updating my Windows 10 OS; That spec - Windows 10 Enterprise, Version 1809, Installed on 29/05/2019, OS B

[2019-05-29 15:25] nblagoev commented on #71827
@misolori Did you consider something like @wyfang's proposal? It looks great IMO and it also follows the [macOS icon guidelines](https://developer.apple.com/design/human-interface-guidelines/macos/icons-and-images/app-icon/).

[2019-05-29 15:29] aeschli commented on #74555
Ok, thanks.
But now my question is about
 `run(testsRoot: string, cb: (error: any, failures?: number) => void)`

What is the `testsRoot`? How does the user define it? Is it necessary?

Why do we use the `cb` style. Our APIs typically use Promises...

[2019-05-29 15:30] misolori commented on #71827
@nblagoev yes we did, that was one of our original concepts but felt the circle did not occupy the space efficiently with our logo. That's what lead us to [the original proposed mac icon](https://user-images.githubusercontent.com/6909617/55654261-d3442b00-57e8-11e9-9e61-554a8092919a.png). In the end, after much discussions internally and from feedback from the community we decided to use a single

[2019-05-29 15:35] aeschli commented on #74555
So the testRunner is the module name passed to `--extensionTestsPath`.

Did we change the contract? Before it had to export a test runner, now it is a export with run?

[2019-05-29 15:42] alexr00 opened #74568 "WebviewPanel Webview postMessage doesn't post a message"
Testing https://github.com/microsoft/vscode/issues/47534

The existing doRefactor method in the coding cat sample doesn't successfully post a message. If you put a console.log() in onDidReceiveMessage you'll see that the message never reaches that point when you run the Refactor command.

[2019-05-29 15:42] alexr00 commented on #47534
Verification blocked by https://github.com/microsoft/vscode/issues/74568

[2019-05-29 15:44] adietish commented on #9936
is this going anywhere? we'd love to see this being implemented, would even help in this.

[2019-05-29 15:45] joelukam commented on #74028
@bpasero  Quite honestly, I don't remember! Recently I downloaded and installed .NET Framework and I believe that was the folder I had open but not completely sure. Unfortunately I don't remember either where I installed it. Looking into it now, will let you know as soon as I find it! By the way. I closed VS Code and reopen it from the app icon, so far I'm not running into the same issue. Extensio

[2019-05-29 15:52] Spacetornado commented on #74297
@isidorn That makes sense. If an "Expand Variables" feature was added, one possible implementation would have a setting for the number of levels to expand when it's clicked. It could be set to around 3 as the default, but the user could customize it to any number, with 0 representing infinity. Personally I would set it to around 5 or 6 as that's typically the maximum number of nesting levels I dea

[2019-05-29 15:54] bpasero commented on #74028
Sounds good, lets close this then until you find steps to reproduce.

[2019-05-29 15:54] #74028 closed

[2019-05-29 16:01] jeanp413 commented on #73975
@isidorn I looked at the places where `replaceWhitespace` is being used and I think those are OK. After reading the Debug Adapter Protocol have a few observations:
- Let's say an additional input widget, for editing a variable's value, exists (could be the case that another editor use this widget) that uses a `textarea` (instead of a `textinput`) then, for this widget, using escaped sequences is n

[2019-05-29 16:17] #74463 closed

[2019-05-29 16:17] #74510 closed

[2019-05-29 16:25] gjsjohnmurray commented on #74412
Can this be pinned, i.e. so it appears at the top of Issues? maybe the Iteration Plan (#74143) too? That has been done on previous iterations.

[2019-05-29 16:30] Balya commented on #74517
Same problem with vscode-sftp plugin: https://github.com/liximomo/vscode-sftp/issues/454#issuecomment-488815897
Forced to use the old version of VSCode.

[2019-05-29 16:48] loretoparisi opened #74570 "Java Unresolved compilation problems: cannot to import jar libraries"
- VSCode Version:
1.34.0

- OS Version:
macOS 10.14.5

Steps to Reproduce:

1. Create the `.project` file:

[code]
2. Create the `.classpath` file:

[code]

3. Run a java main with

[code]

4. Got an error:

[code]

Does this issue occur when all extensions are disabled?: Yes/No
YES

[2019-05-29 16:50] TheTyrius opened #74571 "TaskRunner: PowerShell does not execute local binaries without ".\" prefix"
- VSCode Version: 1.33.1
- OS Version: Win10 Version 10.0.17763 Build 17763

Steps to Reproduce:

1. Install local binary, in my case "npm install --save-dev TypeScript", which gives me 'tsc' in the root folder where I am trying to execute it
2. When I invoke the taskrunner it can't use the binary:
[code]

When I switch the default shell to cmd.exe this built-in command execution works as expected

[2019-05-29 16:51] #74541 closed

[2019-05-29 16:51] iansan5653 commented on #63986
The exact colors depend on the theme so it can be pretty subtle but it's there.
![image](https://user-images.githubusercontent.com/2294248/58575652-83924680-8210-11e9-92a5-a4810c931fbd.png)

[2019-05-29 16:52] RMacfarlane commented on #74541
"precondition" was renamed to "enablement", updated the sample

[2019-05-29 16:53] andremacola commented on #73828
If the function has space inside the `()` the auto close works fine with the international keyboard. For ex. Not only PHP but any other language like Javascript

![quotes](https://user-images.githubusercontent.com/3408809/58575738-1fc04b80-8219-11e9-8fa5-f9c926102c73.gif)

[2019-05-29 17:00] RMacfarlane commented on #74554
Duplicate of https://github.com/microsoft/vscode/issues/74541, "precondition" should be "enablement"

[2019-05-29 17:00] #74554 closed

[2019-05-29 17:01] #74552 closed

[2019-05-29 17:02] ollie-o opened #74572 "Syntax highlighting with JSX fragments broken - possible to update latest stable build with fix?"
The problem I'm facing is identical to the one mentioned in [this issue from 2017](https://github.com/microsoft/vscode/issues/39694).

The solution provided in that issue is to use the latest Insiders Build. But not everybody wants to use the Insiders Build because it is unstable.

Since this bug has been fixed in the Insiders Build for 2 years already, would it be possible to add the fix it to th

[2019-05-29 17:04] djmisterjon commented on #74264
any tips or plan to fix this ?

[2019-05-29 17:06] RMacfarlane commented on #74556
Fixed with 2185280ed5783338b418ecdb8f62c4a13a2b560b

[2019-05-29 17:06] #74556 closed

[2019-05-29 17:09] roblourens commented on #74523
Uh, weird I'll have to debug

[2019-05-29 17:13] rebornix commented on #74561
@jrieken thanks, I saw the misalign in the code so picked one, forgot about that we renamed it to `uri` last week.

[2019-05-29 17:14] #74561 closed

[2019-05-29 17:15] guillaume86 commented on #55628
Here's the upstream issue I created: https://github.com/electron/electron/issues/15321

[2019-05-29 17:17] kieferrm commented on #74572
@ollie-o pretty much all changes in insiders roll over to stable on a monthly basis. Thus, if you see the same issue, the issue was either not fixed or it's a regression. Either way, pls provide detailed information that allows us to reproduce the problem.

[2019-05-29 17:17] kieferrm commented on #74572
/needsMoreInfo

[2019-05-29 17:18] kieferrm commented on #74570
Pls file the issue against the Java extension. Thanks!

[2019-05-29 17:18] #74570 closed

[2019-05-29 17:19] rebornix commented on #74558
There is a context key `isInEmbeddedEditor` https://github.com/microsoft/vscode/blob/master/src/vs/editor/common/editorContextKeys.ts#L31 but it's only used in Playground/Walkthrough. We should probably make better use of it.

[2019-05-29 17:22] kieferrm commented on #74565
@tokenflow If I understand the issue correctly this is an issue with the Python interactive window. Please file the issue against the Python extension. Thanks!

[2019-05-29 17:22] #74562 closed

[2019-05-29 17:22] inwardmovement opened #74573 "Broken behavior of ctrl+click multiselection in explorer"
**Actual behavior**
First `ctrl+click` in explorer opens to side, then multiselect.

**Desired behavior**
Ctrl+click in explorer should begin multiselection from first ctrl+click as it is set as `multiSelectModifier` not  `firstOpenToSideThenMultiSelectModifier`.

[My settings](https://gist.github.com/inwardmovement/1b8b7717469c2648bacb57a1498dd84e#file-settings-json)

[2019-05-29 17:24] austincondiff commented on #74488
For example, I'd like to do something like this...

![framer-vscode@2x](https://user-images.githubusercontent.com/806104/58577722-b63a4000-820c-11e9-80c8-d57a4cc5b40c.jpg)

[2019-05-29 17:27] kieferrm commented on #74539
@SHxKM sorry to hear that you lost work. It would help us if you could describe in more detail the steps you took. Thanks!

[2019-05-29 17:30] rlipscombe opened #74574 "Can't cancel VS Code Server update"
Issue Type: <b>Bug</b>

1. Inside WSL, run `code-insiders .`
2. It displays `Updating VS Code Server to version 6964233e...`.
3. This is taking a while, because I'm using tethering.
4. Press Ctrl+C while it's downloading.

The percentage moves slightly to the right, but the download is not cancelled.

VS Code version: Code - Insiders 1.35.0-insider (6964233e81c68f5a5f34e7eb1da0836e1d539f14, 2019-0

[2019-05-29 17:30] ExiaSR opened #74575 "VSCode freezes system when launching from CLI on macOS"
- VSCode Version: `1.34.0`, `1.35.0-insider`
- OS Version: `macOS 10.14.5`

Steps to Reproduce:

1. Open terminal
2. Run `code-insiders --disable-extension --disable-gpu --verbose`
3. Throughout the process, the system is completely unusable 1 to 3 times, each last for a few seconds.

Does this issue occur when all extensions are disabled?: Yes

[vscode-insider log dump](https://gist.github.com/Ex

[2019-05-29 17:33] orpiske commented on #74433
This solves the problem for me.

[2019-05-29 17:35] kieferrm commented on #74520
@divillysausages thanks for the detailed issue. Can you please move the issue over to https://github.com/OmniSharp/omnisharp-vscode/issues? Thanks!

[2019-05-29 17:35] #74520 closed

[2019-05-29 17:36] kieferrm commented on #74518
@r-bit-rry pls move the issue to the Python extension https://github.com/Microsoft/vscode-python/issues. Thanks!

[2019-05-29 17:36] #74518 closed

[2019-05-29 17:40] kieferrm commented on #74517
There is nothing we can do here if we don't have more detailed information about what's wrong in our code. So far, it still seems that what you describe are extension issues.

[2019-05-29 17:40] #74517 closed

[2019-05-29 17:41] sagebind commented on #69665
I've been busy but I intend to revisit this problem to help get it solved if I can. @Tyriar:

I didn't note this, but pretty sure I tried this and this worked. That is, after entering the broken state, sleeping and resuming to invoke the texture regeneration fixes the broken state.

I will reproduce again with the devtools open and see what I can find. If indeed something noticeable shows up in th

[2019-05-29 17:42] kieferrm commented on #69334
According to https://github.com/microsoft/vscode/issues/74515 still happening in 1.34.

[2019-05-29 17:42] kieferrm commented on #74515
I reopened the original issue.

[2019-05-29 17:43] kieferrm commented on #74515
/duplicate of #69334

[2019-05-29 17:43] #74515 closed

[2019-05-29 17:51] #74436 closed

[2019-05-29 17:53] kieferrm commented on #74509
@david-waterworth please move the issue to the python extension https://github.com/Microsoft/vscode-python/issues. Thanks!

[2019-05-29 17:53] #74509 closed

[2019-05-29 17:53] #74506 closed

[2019-05-29 17:54] SHxKM commented on #74539
It’s a .py file that I was working on for hours today, modifying it many times. I think it happened right when I tried to copy/duplicate it to another folder because I wanted (oh the irony) to verify I always have a version of this working structure.

The file tab was definitely open, I don’t know if it was the active tab. Right after that it was empty. I tried restoring it from \__pycache__ to no

[2019-05-29 17:55] rebornix commented on #74560
`ExplicitTestOptions` and `TestOptions` are not clear to me, `ExplicitTestOptions` is a subset of `TestOptions` and the doc doesn't tell what's the major difference between the two.

For most people, IMO they should only write mandatory options and then testing can work as expected. Optional options are advanced users, they need to understand `TestOptions` and tweak as wanted. Right now there are

[2019-05-29 17:57] notjames commented on #74103
I completely disagree with respect to the "user data dir" because the dialog specifically states two completely invalid directories, specifically `/home/<user>/.config/Code` and `/home/<user>/.vscode` *neither* of which were the problem in my case. In my case the issue was in `/run/user/<user_id>`. The error code is misleading and makes for a poor user experience.

[2019-05-29 17:58] rebornix commented on #74397
@bpasero after we release 1.35 and then we can safely publish a new version of GH PR to adopt the api. As there is nothing actionable in VS Code side, close this one and track in GH PR.

[2019-05-29 17:58] #74397 closed

[2019-05-29 17:58] kieferrm commented on #74502
@DianaNites can you pls add a screenshot to this issue? I wonder how wide you made your side bar. We do hide the icons when the side bar is too narrow.

[2019-05-29 17:58] kieferrm commented on #74502
/needsMoreInfo

[2019-05-29 17:59] rebornix commented on #74397
Added this to the May iteration plan for GH PR as well https://github.com/microsoft/vscode-pull-request-github/issues/1154 .

[2019-05-29 17:59] ollie-o commented on #74572
@mjbvz @kieferrm Thanks for the explanation and quick response! I have added more details to the issue description. Thanks 👍

[2019-05-29 17:59] mjbvz commented on #74568
`postMessage` goes to the webview content so you need to add the `console.log` here inside the webview javascript: https://github.com/microsoft/vscode-extension-samples/blob/f63e84e288af649e64d44448a6a1ff744c8faa5d/webview-sample/media/main.js#L30

[2019-05-29 17:59] #74568 closed

[2019-05-29 18:00] rlipscombe commented on #74574
Note that at the time this happened, `ps -ef` showed two `wget` processes running, one of which was owned by PID 1 (i.e. somehow got abandoned). Not sure if this is the cause, a symptom, or an entirely different bug.

It should also be noted that the reason that it was updating in the first place is because I had yesterday's Insiders installed previously.

[2019-05-29 18:01] mjbvz commented on #74530
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2019-05-29 18:02] mdt123 opened #74576 "mocha unit test Error: Cannot find module 'vscode'"
I am working on a vscode extension, and I am using mocha for unit tests. However, I am having issues with the 'vscode' import in the modules that uses it.

I have tried to have the test file in the same directory as the source file, however this did not help.

        //mod.ts
        import * as vscode from 'vscode';

        export class mod {
            foo() {
                return vscode.St

[2019-05-29 18:02] mjbvz commented on #74572
Closing as it is fixed in the insiders build (which will be released as the may update, 1.35)

[2019-05-29 18:02] #74572 closed

[2019-05-29 18:04] mjbvz commented on #74576
Are you trying to run the tests using mocha directly? Or are you using the `vscode` `test` script generated in extensions?

[2019-05-29 18:04] kieferrm commented on #74481
@danieldaeschle What does the terminal look like when you change the terminal renderer to `dom` in your user settings?
[code]

[2019-05-29 18:05] mdt123 commented on #74576
I am running the testes on debug mode using mocha:
`C:\Program Files\nodejs\node.exe --inspect-brk=40665 node_modules\mocha\bin\_mocha --require ts-node/register --require ts-node/register --timeout 999999 --colors C:\Users\t-ouhadd\Desktop\repositories\VSCode-SystemVerilog/test/*.test.ts`

[2019-05-29 18:06] kieferrm commented on #74480
See also #74481.

[2019-05-29 18:09] usernamehw commented on #74573
duplicate of #66925 ?

[2019-05-29 18:10] kieferrm commented on #74402
@rbhanot4739 thanks for the quick response. Please move the issue to the appropriate extension. Thanks!

[2019-05-29 18:10] #74402 closed

[2019-05-29 18:13] kieliszek85 commented on #74517
@kieferrm It affects every extension and it is related to FTP configuration. This issue does not occur with vscode before 1.31

[2019-05-29 18:13] Tyriar commented on #74481
I'm surprised to hear `code --disable-gpu` doesn't work, that's meant to disable GPU rendering in Chromium and that's the only way that artifacts like this would show AFAIK. Some other options:

- Update drivers (if possible)
- Set `"terminal.integrated.rendererType": "dom"`

@danieldaeschle is it always like this or just after sleeping and resuming your PC?

[2019-05-29 18:16] kieferrm commented on #74453
@Ryezenburgslab I wonder if `s` is bound to any command. Let's find out:

1) Try <kbd>F1</kbd> > `Preferences: Open Keyboard Shortcuts`. This opens the keybinding editor.
2) In the search field, select the first icon on the right (Record Keys).
3) Type `s`.

Is `s` a keyboard shortcut bound to any command?

[2019-05-29 18:16] kieferrm commented on #74456
Bummer.