[2020-06-13 13:18] mammadkoma commented on #3130
Not yet

[2020-06-13 13:32] saulotoledo commented on #8171
The extension suggested by @tiagosiebler above is helpful. However, you still lose context. The debugger, for example, does not work.

I understand there may be limitations to implement this feature, but I also vote for it. Working with multiple screens in VSCode is still painful. I have no experience with the project's source code, but ... would something like [this] (https://golden-layout.com/)

[2020-06-13 13:37] roblourens opened #100083 "The wrong action can be triggered when triggering an action item with the keyboard"
- Install an extension that adds EditorTitle actions - Gitlens, Notebooks, Hexdump, etc
- Open one editor where one set of actions show up, then open another editor where a different set of actions show up
- Tab into the editor title, focus some action, trigger it with the keyboard
- The wrong action is triggered

![Jun-13-2020 08-34-11](https://user-images.githubusercontent.com/323878/84570111-b0

[2020-06-13 13:41] #100083 closed

[2020-06-13 13:56] SailorMax opened #100084 "minimize context menu"
Issue Type: <b>Feature Request</b>

Can you try to minimize context menu in long cases? In notebooks they can take all height of screen already! Sometimes with scroll!

You can group not often use items.

For example:
SCM / "..." menu:
 - you can group in submenu "Commit ..." all commit-like items
 - also can group "Apply", "Pop", "Stash" items

context menu of selected text:
 - you can group in s

[2020-06-13 14:00] jim4067 opened #100085 "font-size"
Issue Type: <b>Bug</b>

Hey guys. The latest upgrade (May) changed the application's font family to use my system font but whenever the font size is wrong. It does increase or reduce when i make the changes on my system

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T08:59:04.923Z)
OS version: Linux x64 5.3.0-3-amd64

<details>
<summary>System Info</summary>

|I

[2020-06-13 14:41] tabaddor commented on #99072
I anticipate changing this line:

to this:

`xterm.textarea.setAttribute('aria-label', nls.localize('terminalTextBoxAriaLabel', "Terminal {this._id}, {this._title}"));`

Though prior to setting this attribute I anticipate I will need to add a simple check to see if the title was set or not, along with ensuring this attribute is updated on title changes (renamed instances). Although the latter shou

[2020-06-13 14:41] BartmanAbyss commented on #22364
+1

[2020-06-13 14:52] maristhek commented on #100055
Setting the preview mode settings to true has no effect.

I don't understand why this has become a problem.  The multiple tabs for open editors was working fine for 99% of vs code users prior to the update.  It appears to be a solution to a non-problem.

From: John Murray <notifications@github.com>
Sent: Friday, June 12, 2020 11:08 PM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Maris Kure

[2020-06-13 14:57] peteroid commented on #100026
### issue
I experienced the same issue. I noticed that VSCode can automatically acquire the types for `react-native` but the warning [1] showed from v1.46 [2]

I have to install the types explicitly on the project to enable the autocomplete on v1.46.
[code]

However, installing types explicitly seems not ideal as this issue also affects other libs like `react-redux`. The similar warning message wa

[2020-06-13 15:14] arifikhsan commented on #100075
configuring dns to 1.1.1.1 not solving the issue

[2020-06-13 15:15] arifikhsan commented on #100075
vscjava.gallerycdn.vsassets.io/extensions/vscjava/vscode-maven/0.22.0/1591942965576/Microsoft.VisualStudio.Services.Icons.Default:1 GET https://vscjava.gallerycdn.vsassets.io/extensions/vscjava/vscode-maven/0.22.0/1591942965576/Microsoft.VisualStudio.Services.Icons.Default net::ERR_CONNECTION_TIMED_OUT
Image (async)
(anonymous) @ extensionsList.ts:172
(anonymous) @ event.ts:40
fire @ event.ts:587

[2020-06-13 15:16] arifikhsan commented on #100075
![image](https://user-images.githubusercontent.com/32485694/84572325-67cdf400-adc3-11ea-97ae-c9a7988f7e3b.png)

![image](https://user-images.githubusercontent.com/32485694/84572333-71575c00-adc3-11ea-8a24-fb833a2e8a57.png)

[2020-06-13 15:18] nhooyr commented on #74857
For anyone who wants a remote development environment, code-server works on FreeBSD! It's VS Code but running in the browser instead of electron.

https://github.com/cdr/code-server#quick-install

[2020-06-13 15:24] gjsjohnmurray commented on #100055
So please clarify your problem. Screenshots may help.

[2020-06-13 15:25] arifikhsan commented on #100075
![image](https://user-images.githubusercontent.com/32485694/84572521-ba5be000-adc4-11ea-8861-ae9d6432fa30.png)

why i can install dart, flutter, and vetur?

[2020-06-13 15:25] Tyriar commented on #99072
To get localization to work it will need to be `"Terminal {0}, {1}", this._id, this._title)`, and yes good thinking we should have an if in there are 2 separate `nls.localize` calls, one with and one without the title.

[2020-06-13 15:26] arifikhsan commented on #100075
but others can't

[2020-06-13 15:34] Tyriar commented on #23808
@lambainsaan sounds good, some more info:

- We don't want to use wmic on Windows as it's slow, windows-process-tree was built to use the native windows apis instead.
- There are utils in the codebase I think in the debugging and the issue reporter check process trees, searching `windows-process-tree` or `ps` will probably find it
- The strategy for polling the tree is interesting thing here
- `Wi

[2020-06-13 15:42] arifikhsan commented on #100075
cannot visit this link

[](https://nash.gallerycdn.vsassets.io/extensions/nash/awesome-flutter-snippets/2.0.3/1571590746875/Microsoft.VisualStudio.Code.Manifest)

or

https://hirantha.gallerycdn.vsassets.io/extensions/hirantha/json-to-dart/2.2.0/1590606637423/Microsoft.VisualStudio.Services.Icons.Default

no logs

![image](https://user-images.githubusercontent.com/32485694/84572857-20496700-adc7-1

[2020-06-13 15:44] Tyriar commented on #100047
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2020-06-13 15:44] #100047 closed

[2020-06-13 15:45] bkarlson commented on #99777
I'm experiencing somewhat similar issue on OSX: Option (alt) key at random stops working __system wide__ (even no scan code, I thought my keyboard is dying), but after re-opening VSCode Keyboard shortcuts settings the key is alive again.

Right now it stopped again for not reason, but after mingling with Shift and Fn buttons it works again. Really bizarre behaviour, I could not find any other issu

[2020-06-13 15:47] Tyriar commented on #97682
@wivory attaching via email doesn't work on github, you need to go to github.com for that.

[2020-06-13 15:53] Tyriar commented on #99874
It's not a matter of security, it's a matter of the extension host not being up for the extension to give valid paths for the workspace, and whether to use it work this workspace at all. We cannot block the terminal launch on the extension host as it would then often take 5+ seconds to open.

That's completely out of our hands, the only way to do that is to change `PATH` and/or create a `dart`/`fl

[2020-06-13 15:53] Asad-ullah1 opened #100086 "i am facing this issue on vs i can't make repository becouse of this. and show 5000 cahnges genymotion emulator"
![ssss](https://user-images.githubusercontent.com/52581107/84573089-dc029a80-adb7-11ea-9629-1448d3598a57.png)

[2020-06-13 15:55] Tyriar commented on #99874
After we get [terminal tabs](https://github.com/microsoft/vscode/issues/10546), the design will probably change for the warning to be inline in the tab, though there is still the issue of the tab containing multiple terminals and potentially only some of them being stale.

How about a workaround to make the warning a solid foreground color instead? It's not as much of an issue now that the default

[2020-06-13 15:56] bkarlson commented on #98612
might be related to https://github.com/microsoft/vscode/issues/99777

[2020-06-13 15:56] Tyriar commented on #99929
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.

Also try launch via `code --disable-gpu`

/label "needs more info" integrated-terminal

[2020-06-13 15:59] wivory commented on #97682
OK – will need to wait until I’m back at work on Monday then.

Thanks,

William

From: Daniel Imms <notifications@github.com>
Sent: 13 June 2020 16:48
To: microsoft/vscode <vscode@noreply.github.com>
Cc: wivory <wjivory@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/vscode] Text in middle of terminal section blurred since upgrade to 1.45.0 (#97682)

@wivory <https://githu

[2020-06-13 15:59] Tyriar commented on #99910
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.

You can also try setting `terminal.integrated.rendererType` to `dom` or launching via `code --disable-gpu`.

/label "needs more info" integrated-terminal

[2020-06-13 16:19] tabaddor commented on #99072
Will a submit a PR, but any way to get around this:

![error](https://user-images.githubusercontent.com/44756122/84573686-18aaa380-ad70-11ea-9040-93e277e75250.png)

Was thinking of using a ternary conditional operator, but would see the same warning.

[2020-06-13 16:41] iigmir commented on #100000
Well, more issues don't mean the software is more buggy; because the software more people used, more issues people may be reported.

[2020-06-13 17:13] maristhek commented on #100055
Attached is the screenshot of the project I'm working on, cloned from https://github.com/fantasticdonkey/rIoT.  VS Code is running on Win SRV 2016. The editor window shows my user settings.  It's been saved and vs code has been restarted.  Note that the tab has an open file : haversine.py.  When I click on another file in the Explorer panel the selected file replaces the haversine.py.  It happens

[2020-06-13 17:13] ayatokura commented on #95061
I have confirmed that it works by updating to the latest version 1.47.0 - Insiders in both Windows and macOS environment.  Thanks.

[2020-06-13 17:13] #95061 closed

[2020-06-13 17:35] scottstensland opened #100088 "fails to install golang extension"
Issue Type: <b>Bug</b>

brand new vs code install

I enter  ctrl + p

then paste

ext install golang.Go

to install golang extension as per your page
https://marketplace.visualstudio.com/items?itemName=golang.go

vs code fails with error

connect ENOENT /run/user/1000/vscode-b9b3c598-1.46.0-shared.sock

which is a totally useless error  ... get same error after uninstall then reinstall

installed

[2020-06-13 17:37] tabaddor commented on #99129
I can look into this issue if it is still open.

[2020-06-13 18:13] juanmi108 commented on #100035
I have the same Issue this is the request payload
`{"filters":[{"criteria":[{"filterType":8,"value":"Microsoft.VisualStudio.Code"},{"filterType":12,"value":"4096"}],"pageNumber":1,"pageSize":50,"sortBy":4,"sortOrder":0}],"assetTypes":[],"flags":946}`

[2020-06-13 18:15] feelipecl commented on #100035
any solution?

[2020-06-13 18:19] gjsjohnmurray commented on #100055
I'm not seeing a screenshot here in GitHub. If you copy it to your clipboard, then visit this issue from your web browser, you should be able to paste the clipboard contents directly into the comment box. Then use the Preview tab to check it's there before submitting it with the 'Comment' button.

But earlier you wrote:

True is the default setting:
![image](https://user-images.githubusercontent.c

[2020-06-13 18:46] maristhek commented on #100055
OK How do I open multiple files on separate tabs.

I attached the png to email reply.

From: John Murray <notifications@github.com>
Sent: Saturday, June 13, 2020 11:20 AM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Maris Kurens <maris@analyticgear.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/vscode] workbench.editor.showtabs setting not working (#100055)

I'm not seein

[2020-06-13 18:51] druidgrove commented on #99394
Additionally the debug console clears when chrome page removed, this often contains diagnostics I wish to view.  Console should only clear during a new debug session.

[2020-06-13 18:57] ZooDoo4U opened #100089 "cursorword[right|left] don't work as expected"
I've disable all extensions, removed any conflicting keymapping for cursor movement.  Closed and restarted VS Code.  Not able to get "CTRL+LEFT or RIGHT" arrow to navigate cursorWordStart[Right|Left] as expected.  Given the code below I'll use $$ for the intial cursor loction and $1, $2 for each time i press "CTRL-RIGHT Arrow"..

Sample/originating source:
const productData = ProductData.map...

(

[2020-06-13 19:03] gjsjohnmurray commented on #100055
Looks like attaching a PNG to an emailed reply to a GH issue notification doesn't feed the attachment into the system.

Per the Preview Mode doc I originally pointed you to:
![image](https://user-images.githubusercontent.com/6726799/84577004-b32ad700-adb0-11ea-9a60-1107464be353.png)

Two ways to turn a preview tab (italic) into a regular one:

- Double-click the tab; or
- Right-click it and choose

[2020-06-13 19:13] inwardmovement opened #100090 "Allow keybindings with only modifiers"
I'd like to be able to map `shift+alt` to a command, but cannot as both `shift` and `alt` are modifiers and a keybinding needs an "actual key" to work.

[2020-06-13 19:24] piersh-aetheros commented on #85735
Yes please. I'm glad i'm not the only one who keeps getting annoyed by having to do the 'install/disable/re-enable' steps for extensions.

[2020-06-13 19:25] IllusionMH commented on #100074
Not sure what you count as a problem. GitHub has limit on content that can be prefilled without user action and therefore this message provides info how to perform next steps - paste info into GitHub page.

What action items you expect here?

I wouldn't recommend to disable extension list because it's first thing that will be asked if there are doubts that this is editor issue and I had cases wher

[2020-06-13 19:30] ghuba opened #100091 "IPC "File Watcher (chokidar)" crashed with exit code null and signal SIGABRT"
Version: 1.46.0
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T08:59:06.977Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0

Steps to Reproduce:

Launch vscode by clicking on the icon

Error message:

![image](https://user-images.githubusercontent.com/4511360/84577414-b9995e80-ad70-11ea-90da-6f083bc7ea0f.png)

![image](https

[2020-06-13 19:34] IllusionMH commented on #100071
Looks like duplicate of #80798 could you check that one and close this if it's duplicate.

You can also check exploration build from https://github.com/microsoft/vscode/issues/97270#issuecomment-626248706 to see if it helps (problem looks similar)

[2020-06-13 19:39] roman02 opened #100092 "Commented code fragment isn't displayed as such"
![vscode - poorly displayed commented php code](https://user-images.githubusercontent.com/1476055/84577617-91672b00-ad83-11ea-903a-9dea31c6de70.jpg)
Issue Type: <b>Bug</b>

You will need to see a screenshot

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|

[2020-06-13 19:44] j-quelly opened #100093 "Starting inspector on 127.0.0.1:9229 failed: address already in use"
Running next.js locally and was able to debug last night, now all of a sudden it's stopped working.

[code]

Steps to Reproduce:

1. Create launch.json file
2. Add the following recipe:

[code]

3. Click play

See the following error:

4. `lsof -i :9229`
5. See no results, no processes running on this port.
6. Kill vscode
7. Open activity monitor, kill all node processes
8. Restart computer
9. Iss

[2020-06-13 20:20] Daneto123 commented on #100041
https://github.com/Daneto123/storage/tree/master/storage this is a project and the problem is in main.cpp and file.cpp(split function) if you could help I will be grateful to you.

Thank you for your attention.

[2020-06-13 20:23] mzabaluev commented on #99725
`gdb` assisted by `flatpak-coredumpctl` can only decipher the stack of one of the offending threads, but it can see into the C++ symbols of node-keytar:

[code]

[2020-06-13 20:40] underchemist commented on #98590
Also experiencing this with WSL 2 trying to debug using gdb (Attach)

[2020-06-13 21:06] StephenWeatherford commented on #99410
intersection(t){const i=v.Max(t.**start**,this._start)

[2020-06-13 21:22] Ciantic commented on #63156
If I set up the workspace to use bash as a shell, like this:

[code]

And then try to use VSCode's NPM task runner, it's still trying to find the NPM I have Installed in Windows:

[code]

And fails terribly of course, because trying to use NPM from windows inside WSL is not a good idea.

I think the only option is to use VSCode WSL remote extension.

[2020-06-13 21:24] phgmacedo opened #100094 "Support Grid View in View Containers"
Currently, tabs can be split vertically and horizontally, but with version 1.46, view can only be split vertically.

VS Code should allow views to be split horizontally as well.

![image](https://user-images.githubusercontent.com/2473545/84579315-1281ea80-ada3-11ea-8d41-d78f5b785f41.png)

[2020-06-13 21:28] phgmacedo commented on #100094
Other tools, like like [JetBrains' WebStorm](https://www.jetbrains.com/webstorm/) provide much more flexible layout options:

![image](https://user-images.githubusercontent.com/2473545/84579375-a9e73d80-ada3-11ea-845b-c8bb90bdc18c.png)

[2020-06-13 21:44] slowaways commented on #100051
I don't know how I can give more information.

I have the extension installed and can't run any commands from it. It is as if the extension has been corrupted or installed in the wrong directory.

[code]

[2020-06-13 21:45] VictorQueiroz opened #100095 "TS Server fatal error: Debug Failure. False expression."
Issue Type: <b>Bug</b>

**TypeScript Version:** 4.0.0-dev.20200612
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code - Insiders 1.47.0-insider (7e4cc2c435927e5a2845897961a2af10ee7f784d, 2020-06-12T05:53:29.462Z)
OS version: Linux x64 4.19.0-9-amd64

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.

[2020-06-13 22:07] Lypzis commented on #99927
Experiencing same issue after updating.

[2020-06-13 22:11] kieferrm commented on #93441
@mjbvz @eamodio is looking into adding a view type parameter `vscode.open`. Does that suffice?

[2020-06-13 22:21] krkhan commented on #10144
Been waiting for this for ages. So glad to see it finally happen. Not sure though whether vscode is picking up the font from gtk2/gtk3/qt settings (I have went through great pains to make sure everything looks consistent in all toolkits).

[2020-06-13 22:49] zajo commented on #26398
Any more suggestions on how to resolve this? All other programs work fine, giant Web browser windows scrolling is smooth as silk, vscode renders at ~2 fps, disabling GPU acceleration brings that up to ~4 fps. I can help diagnose the problem, please ping me if you need more info.

Here is my config:

Version: 1.46.0
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T08:59:06.977Z
Ele

[2020-06-13 23:20] vbbalaji opened #100099 "Commenting in HTML + JS mixed mode"
- VSCode Version: Version: 1.45.1 (user setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

Steps to Reproduce:
1. Open a HTML file that also has Javascript in it
2. (a). Select a block of HTML which also has a single line commented. Now VS Code will try

[2020-06-13 23:27] thissell commented on #71937
I had the same issue, and the Sade Mode method did work. Microsoft should probably fix this?

[2020-06-13 23:33] kieferrm opened #100100 "Iteration Plan for June 2020"
This plan captures our work in **June**. We will ship in **early July**. This is a 4-week iteration.

## Endgame
- **June 29th, 2020**: Endgame begins
- **July 3rd, 2020**: Endgame done

The endgame details for this iteration are tracked in https://github.com/microsoft/vscode/issues/101289.

## Plan Items
Below is a summary of the top level plan items.

Legend of annotations:

| Mark

[2020-06-13 23:42] #97432 closed

[2020-06-14 00:02] saleyn opened #100101 "White flash when reloading covered part of window"
- VSCode Version:  1.46.0
- OS Version: Arch Linux 5.6.15

Steps to Reproduce:

1. Open VSCode and some other window.
2. Switch back and forth between windows and observe white flicker of the portion of the VSCode window that was covered by another window, before it gets properly repainted.

Does this issue occur when all extensions are disabled?: Yes

This issue doesn't happen with other applicat

[2020-06-14 00:05] singularitti commented on #95493
Does not work for me with
[code]
. What operating system are you using?

[2020-06-14 00:48] narfanar opened #100102 "Add UI list of all registered action participants (save, file rename, etc.)"
It's currently incredibly frustrating trying to debug slow action participants by turning off extensions one-by-one. Considering how terrible an effect a misbehaving extension can have on the entire experience, and how participants sort of constitute an "interface" for the user (not too different from a permission list), it seems reasonable to have an easy way in the main UI to view all registered

[2020-06-14 01:56] SanyaOdare opened #100103 "Keyboard malfunctioning"
Issue Type: <b>Performance Issue</b>

The enter key of my keyboard works find for any other program but malfunctions and doeasn't work at all whenever I'm using Visual Studio Code.

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2020-06-14 01:59] ArturoDent commented on #100046
See https://code.visualstudio.com/updates/v1_42#_user-level-tasks.   Thanks @gjsjohnmurray

[2020-06-14 02:17] ArturoDent commented on #100073
Yes, I agree that Problems filter input box seems larger than typically necessary, resulting in the loss of panel headers.

[2020-06-14 02:24] #95159 closed

[2020-06-14 02:24] #95158 closed

[2020-06-14 02:24] #95139 closed

[2020-06-14 02:24] #94897 closed

[2020-06-14 02:24] #94797 closed

[2020-06-14 02:27] jessycormier commented on #100022
@mjbvz The source is owned by my company so unfortunately, I will not be able to share it. Is there any other information I can provide that may be helpful :)

[2020-06-14 02:39] superiums commented on #100071
yes, it's same as #90798 .
very sorry that i missed it.

[2020-06-14 02:39] #100071 closed

[2020-06-14 02:42] ArturoDent commented on #100069
By way of clarification, do you want completion for `data-` attributes like there is completion for class names in html when you type `class=""`?  And you get all the classes used in linked `css/scsss` files.

If so, I believe that that class completion is provided by an extension:

https://marketplace.visualstudio.com/items?itemName=ecmel.vscode-html-css (and maybe others)

and not natively by vs

[2020-06-14 02:45] superiums commented on #80798
same in Arch , xfce4.
not happen in my previous xubuntu 18.04.

[2020-06-14 02:49] qscgu23 commented on #99561
![terminal](https://user-images.githubusercontent.com/48400210/84583590-a4820580-ae2c-11ea-8706-2d053ed11574.png)

just like that, always waiting

[2020-06-14 03:53] serenedu opened #100104 "Add setting to disable debug from showing up in package.json"
After upgrading to V1.46.0, this showed up, I asked "how to disable debug in package.json" in this [stackoverflow question](https://stackoverflow.com/questions/62358131/how-to-disable-debug-from-showing-in-package-json), the setting seems to be non-existent.
![image](https://user-images.githubusercontent.com/28700378/84584309-3ee64700-ae35-11ea-8c4d-af0f7ae09436.png)

[2020-06-14 03:55] stephan-t commented on #69665
This issue occurs 100% of the time when resuming the system from suspend with Ubuntu 20.04 and NVIDIA proprietary drivers. I've also seen similar texture corruption in Chromium browser but at a much lower frequency. So the issue in VS Code seems to stem from Electron / Chromium.

Based on the given workaround, I created a [script](https://gist.github.com/stephan-t/561d0e473dddb270be3da6a8ca994306)

[2020-06-14 04:38] gjsjohnmurray commented on #100104
Just a guess - does `npm.scriptCodeLens.enable` affect this?

[2020-06-14 04:40] gjsjohnmurray commented on #100103
Please use Command Palette to reload with all extensions disabled, then retest.

[2020-06-14 04:42] ArturoDent commented on #100104
Please see your SO question, I answered it there: https://stackoverflow.com/a/62368407/836330

[2020-06-14 04:54] gjsjohnmurray commented on #100100
Based on https://github.com/microsoft/vscode/issues/93598#issuecomment-640893897 it looks like there's a better issue to link object editing support to.

[2020-06-14 04:58] greggman commented on #100062
Another 200 since I last posted. Haven't touched the repo.

[2020-06-14 05:23] gjsjohnmurray commented on #100104
@ArturoDent thanks for the correction. I found reference to that setting in https://github.com/microsoft/vscode/issues/51613#issuecomment-406217286 but I guess it got moved.

[2020-06-14 05:25] mariusa opened #100105 "Built-in CSS/SCSS formatting"
vscode has built-in formatting for web development (HTML, JS...), but no CSS & SCSS

Please add built-in CSS/SCSS formatting support, so we don't have to install a 3rd party extension just for this.

Similar old issue, which was closed: #28836

Thanks

[2020-06-14 05:26] matepek opened #100106 "Custom registerDocumentLinkProvider disables built in ones"
Hello,
My extension registers a [link provider](https://github.com/matepek/vscode-catch2-test-adapter/blob/5eac807f03caeb656a8c0369cb0c33118967ae7e/src/ExecutableConfig.ts#L59).
In [this](https://github.com/matepek/vscode-catch2-test-adapter/issues/207) issue a user of mine complains about that with my extension the link recognition doesn't work.

Is that normal or is it a vscode bug and both the

[2020-06-14 05:41] tbhaxor opened #100107 "Disable Typescript Null Checking in Javascript Files"
- VSCode Version: 1.45.1
- OS Version: Linux h3ll 5.4.43-1-MANJARO

Steps to Reproduce: _See the Description_

I am working with Mongoose in a Javascript project. But when ever I try to hit enter after any model object, I get a weird `?` of null type safe.

For example,

[code]

[![enter image description here][1]][1]

`settings.json` file

[code]

  [1]: https://i.stack.imgur.com/saNEU.png

Does

[2020-06-14 06:02] ArturoDent commented on #100107
Is that the `Include Automatic Optional Chain Completions` setting?  It can be disabled.

[2020-06-14 06:12] serenedu commented on #100104
`"debug.javascript.codelens.npmScripts": "never"` did the trick ,thank you all! @ArturoDent @gjsjohnmurray

[2020-06-14 06:12] #100104 closed

[2020-06-14 07:15] huangweiboy2 opened #100109 "About adding a switch function in different development language environments, please note that the environment switch with different language plug-ins installed"
About adding a switch function in different development language environments, please note that the environment switch with different language plug-ins installed

We all know that as VScode is used more and more deeply, we will use a variety of plug-ins used in different development languages, such as developing Java, will use Java related plug-ins, Python uses Python related Plugin, the same goes

[2020-06-14 07:24] zdodds commented on #99924
As a strong advocate for using VS Code in the classroom I would very strongly support a setting by which I could disable this control-click popup in the terminal. (command-click for me, as a Mac user). VSCode is wonderful because I can (through settings) titrate the level by which students feel ownership of what they do. Popups dramatically diminish the feeling of ownership and belonging among nov

[2020-06-14 07:50] ravishekhar88 opened #100110 "VSCode 1.46.0 crashes immediately on startup on macos 10.14.6"
- VSCode Version: 1.46.0
- OS Version: macOS 10.14.6

Steps to Reproduce:

1. Open VSCode
2. Crashes

VSCode was working fine until I rebooted.

Does this issue occur when all extensions are disabled?: Yes

Below is the crash report.

[code]

[2020-06-14 08:02] Neurrone commented on #99564
@isidorn this is excellent and is exactly what I wanted, thanks!

[2020-06-14 08:28] usernamehw opened #100111 "Extra border in fullscreen mode"
Issue Type: <b>Bug</b>

1. Go fullscreen
1. Put cursor on the rightmost part of the screen
1. There's a border on the right part of the window that can't be dragged to scroll

VS Code version: Code - Insiders 1.47.0-insider (7e4cc2c435927e5a2845897961a2af10ee7f784d, 2020-06-12T06:03:53.183Z)
OS version: Windows_NT x64 6.2.9200

[2020-06-14 08:50] ruudhanegraaf commented on #99924
Speaking as somebody who uses VSCode mainly for PowerShell:
One of the differences is that in the editor the hover only appears for commands, functions, variables, and the likes. In the terminal it appears for every single word string. In 99.99% of the cases the hover has no purpose for me, because the output of the script is hardly ever to be found anywhere in the workspace.
So if you could add a

[2020-06-14 09:00] Daniyal-Javani commented on #99668
same problem:
[code]

[2020-06-14 09:21] akanz1 commented on #94820
Unfortunately I did not notice your issue here when I opened mine back in April

See https://github.com/microsoft/vscode/issues/95746

I believe both request the same functionality and could/should be merged?

[2020-06-14 09:32] Abdullah-AlAttar opened #100112 "Starting with vscode 1.43 non-ascii characters with braces and parentheses are not rendered correctly"
Issue Type: <b>Bug</b>
I tried it with extensions disabled.
put the following line in a .lua file
note: also happens with other languages, it just happens that I was using lua.
[code]
this is how it looks in version 1.42.1
![Image of Correct behavior](https://i.imgur.com/RRqtMV8.png)
and this is in  the versions after
![Image of incorrect behavior](https://i.imgur.com/wfLMVpf.png)

VS Code version

[2020-06-14 09:43] MustafaAbdalwahab commented on #100112
I have the same Issue I am running vscode version 1.45 on windows.
<img width="777" alt="Screenshot 2020-06-14 at 1 34 54 PM" src="https://user-images.githubusercontent.com/26796057/84590133-f171d600-ae44-11ea-92d5-93d379ff1bb3.png">

[2020-06-14 10:50] ManPython commented on #100074
Turn off the checkbox as default for system and extensions. Users have often more than 5.

[2020-06-14 11:20] RalfG opened #100113 "Still get padding after exiting Zen Mode"
- VSCode Version: 1.46.0 (user setup)
- OS Version: Windows_NT x64 10.0.19035

Steps to Reproduce:
1. Turn on Zen Mode
2. Close VSCode
3. Reopen VSCode

Does this issue occur when all extensions are disabled?: Yes

Duplicate of #91805, but the problem does not get fixed when removing the `.vscode` directory and reopening VSCode.

My workspace was opened in Remote - WSL. The padding is not present

[2020-06-14 11:26] Gum-Joe commented on #98945
I'm happy to explore a fix here.  I had a look at the VSCode git extension yesterday briefly and managed to track down the repo refresh & watch functions, but nothing to do with .gitignore watching yet.  I'll have a better look if I start work on this, and will be able to clone & explore the repo.

[2020-06-14 11:37] kelvin-dev opened #100114 "Support BUILT-IN feature of local file history"
Please support local file history (by context menu) for local tracking changes per text content;
Ctrl+Z/Undo in code files is not things of professional developers and developer prefers built-in feature over third-party untrusted extension;
Happy coding !

[2020-06-14 11:42] auphofBSF commented on #97790
I as a user of dictation software and contributor to [TalonVoice  ](https://talonvoice.com/) particularly a set of cross platform VSCODE voice commands know that showing the focused view in the title bar would be a simple welcome addition to context management. Thank you for considering this feature-request, I hope we can see it soon

[2020-06-14 11:46] DanTup opened #100115 "Restarting a dynamic debug session with the same name as a regular configuration reads settings from launch.json"
I've had reports that clicking the "Restart" button in the debug toolbar (when restart is handled by VS Code, and not the DA) starts the new session using values from `launch.json` even if the session was a dynamically created session.

I was able to repro this with a copy of MockDebug:

https://github.com/DanTup/vscode-repro-debug-restart
https://github.com/DanTup/vscode-repro-debug-restart/commi

[2020-06-14 11:57] Daniyal-Javani commented on #100035
Nevermind! it's related to vscodium https://github.com/VSCodium/vscodium/issues/418

[2020-06-14 12:16] madispp commented on #95493
`Iosevka Expanded` worked me in Windows and `Iosevka-extended` worked for me in macOS. This is the same name format that Fira Code font suggests for its "retina" variant.

[2020-06-14 12:18] NULL0B commented on #30143
please, people like me with very slow connection needs this

[2020-06-14 12:23] oguru commented on #98247
The bug appears to have resolved itself following the latest update

[2020-06-14 12:24] tbhaxor commented on #100107
@ArturoDent Yes bro, this is exactly what i am doing

[2020-06-14 12:27] Kame-Blitz21 opened #100116 "I dont know what's happening"
Issue Type: <b>Bug</b>

The Notebook Editor is not opening and when I open it shows some sort of error pls tell how to reset vscode

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3320M CPU @ 2.60GHz (4 x 2594)|
|GPU S

[2020-06-14 12:27] tbhaxor commented on #100107
I tried disabling it, but it didn't work

[2020-06-14 12:35] tylerliu1998 commented on #34757
I am also interested. And this feature is really needed. Note that Bracketeer did this according to language syntaxes and only supported a few languages. I do think a simple global one that could delete matching brackets even in plain text is more preferred.

[2020-06-14 12:48] mathieucaroff commented on #98945
I cloned the repository and searched for `.gitignore` (I got 42 results).

I believe I found where the `.gitignore` watching is set up: in [`decorationProvider.ts`, in the constructor of `GitIgnoreDecorationProvider`](https://github.com/microsoft/vscode/blob/af9d0d5df2679d6dd0c2fd9f99d69e4c79376f8b/extensions/git/src/decorationProvider.ts#L24).

The chain then goes as follow:

- `GitIgnoreDecorati

[2020-06-14 12:51] PascalSenn commented on #12578
@monika-prajapati FYI: https://github.com/yshui/picom/pull/382 @tryone1144 is working on the integration for picom

[2020-06-14 13:13] mhanuszh opened #100117 "Multiple Git status indicators"
Issue Type: <b>Bug</b>

I have multiple git status indicators (Modified, Added, Untracked) in the "Source Control" tab:
![Annotation 2020-06-14 150349](https://user-images.githubusercontent.com/5262962/84594189-dd33d600-ae50-11ea-98a4-55f68c9057a0.png)

Is this normal? If yes, what does these mean?
If not, i'm sorry but I couldn't reproduce it. After reloading it seems to be fixed.

VS Code versio

[2020-06-14 13:26] MrAmericanMike commented on #98952
It happens on at launch. I haven't tested yet the "terminal.integrated.rendererType": "dom"
I bet that is on the settings.json or something like that, but I find it always hard to understand on VSC where that file is located and how to access it, a lot of tutorials mention changing settings on the json file, but VSC doesn't make it clear how to find it (Or I'm missing the way)
I could give that a

[2020-06-14 13:43] Anamalia-Christopher opened #100118 "Extension host terminated unexpectedly."
Issue Type: <b>Bug</b>

I do not know what exatly I did wrong but vs code has been buggy of late. I updated it to a newer version (Version: 1.46.0) recently.None of my extensions work because of `Extension host terminated unexpectedly` error I keep getting on start up. I googled the error and the only solution was to delete the extentions causing it. I have deleted all the extensions i have and th

[2020-06-14 13:57] saltukkos opened #100119 "Provide a light high contrast theme"
- VSCode Version:  1.45.1
- OS Version: Windows 10.0.18363

Steps to Reproduce:

1. Enable High Contrast mode in Windows settings
2. Choose a "High Contrast White" theme
3. Visual studio code shows High contrast black theme, ignoring this setting
![image](https://user-images.githubusercontent.com/13440397/84595362-b04be700-ae81-11ea-92c0-817eef01e1a9.png)

[2020-06-14 14:07] kesavamuthu opened #100120 "vs code is too slow"
vs code is too slow to do anything sometimes while typing the letter that shows after sometimes while share the screen using zoom video application to others (the slowness getting into the master level).
This issue already reported here
https://github.com/microsoft/TypeScript/issues/32851#issuecomment-642901341.
 As per the instructions installed the typescript globally
using npm -ig typescript .

[2020-06-14 14:08] Mossop opened #100121 "TS Server fatal error: No Project."
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.9.4
**Steps to reproduce crash**

I just opened my workspace.

**TS Server Error Stack**
[code]

VS Code version: Code - Insiders 1.47.0-insider (7e4cc2c435927e5a2845897961a2af10ee7f784d, 2020-06-12T05:59:19.397Z)
OS version: Darwin x64 19.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-8950HK CPU @

[2020-06-14 14:10] QingFengpoor opened #100122 "github authentication / microsoft authentication erro"
- VSCode Version: 1.46.0
- OS Version: Linux x64 5.4.0-37-generic
Steps to Reproduce:

1. Have no idea about how the bug come up. In OUTPUT, the github authentication and microsoft authentication output the same error:
[Error  - 14:01:49.709] Getting token failed: Error: The name org.freedesktop.secrets was not provided by any .service files
[Error  - 14:02:19.727] Getting token failed: Error: The

[2020-06-14 14:27] mhanuszh commented on #98241
Also doesn't work with Symbolic links on Windows

I have
- Microsoft Windows [Version 10.0.18363.900]
- git version 2.27.0.windows.1
- vscode 1.46.0 a5d1cc28bb5da32ec67e86cc50f84c67cc690321 x64 with ```--disable-extensions```
- "git.decorations.enabled": true

I tried these paths:
```/d/gitDecorBug/original/mnb``` - **Works**

```/d/gitDecorBug/original with spaces/mnb``` - **Works**

```/d/gitDec

[2020-06-14 14:30] tabaddor commented on #96891
I'm not sure if that is a bug, it seems like expected behavior. Until the user is satisfied with the zoom, the position of the CodeLens shouldn't matter too much, however, it does make sense to at least position it reasonably. Any progress on this @Brandon-Gui123?

[2020-06-14 14:58] gregid commented on #100118
Same problem here after upgrade to 1.46.0 - extension host terminates unexpectedly.
This is the console output I got:
[code]

[2020-06-14 15:08] varunsharda opened #100124 "Extension host terminated unexpectedly."
Issue Type: <b>Bug</b>

Extension host terminated unexpectedly. getting this always

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.18363

<details><summary>Extensions (14)</summary>

Extension|Author (truncated)|Version
---|---|---
github-repository-manager|hen|0.3.6
azure-pipelines|ms-|1.170.0
vscode-azureappservi

[2020-06-14 15:14] MrSunml opened #100125 "vscode run to show configuration.jsonValidation.url error"
This error is reported every time it is started, no solution is found.
The error message is as follows：

[tht13.python]: "configuration.jsonValidation.url" 必须是绝对 URL 或者以 "./" 开头，以引用扩展中的架构。
------------------------------------------------------------------------------------------------------------
[tht13.python]: " configuration.jsonValidation.url 'must be an absolute URL or start with'. / 'to refe

[2020-06-14 15:22] gregid commented on #100118
Update: I fixed the problem with terminating extension host by:
1. disabling the `vscode-jest` extension
2. restarting vscode
3. enabling the `vscode-jest extension

[2020-06-14 15:24] gregid commented on #100124
I had the same problem #100118
In my case `disabling` -> `restarting` -> `enabling` the extension helped to fix it

[2020-06-14 15:40] mhanuszh opened #100127 "Link decoration (underlining) - visual glitch"
A Gif says a thousand words:
![Untitled](https://user-images.githubusercontent.com/5262962/84597595-46254900-ae65-11ea-9693-7115d76606d1.gif)

I have
- Microsoft Windows [Version 10.0.18363.900]
- VSCode 1.46.0 a5d1cc28bb5da32ec67e86cc50f84c67cc690321 x64 with `--disable-extensions`
- VSCode 1.47.0-insider 7e4cc2c435927e5a2845897961a2af10ee7f784d x64 with `--disable-extensions`

[2020-06-14 16:03] usernamehw commented on #100127
/duplicate of #76642 or #48321

[2020-06-14 16:04] #100127 closed

[2020-06-14 16:27] CatalanCabbage commented on #37350
_Still_ using IntelliJ for merging 😐

[2020-06-14 16:30] janat08 opened #100128 "HMR port can't be exported in codespaces/online"
HMR- hot module reloading- doesn't work in workspaces, and the bundle sizes are big so reloading the whole page takes quite a bit of time (hot reload doesn't work either).

[2020-06-14 16:57] Brandon-Gui123 commented on #96891
Sorry. I have no experience with how VS Code works internally and can only give suggestions and report bugs.

It's currently VS Code 1.46.0 and the issue is still present. I tried adjusting `window.zoomLevel` but it didn't fix it.

What I noticed was when changing `window.zoomLevel`, the CodeLens text tries to remain where it is (i.e. if it is above the code, it remains above the code; if it is mi

[2020-06-14 17:03] yashswami commented on #99623
@Tyriar , thank you for all the suggestions but I can only afford time of showing you the gif, so here you go.

![vscode](https://user-images.githubusercontent.com/65823519/84599347-9f937500-ae71-11ea-9014-76a5a80e14e2.gif)

Happy Coding 😃

[2020-06-14 17:51] clashbrizz opened #100130 "Getting "Extension host terminated unexpectedly." eveytime i start visual studio code"
[code]

[2020-06-14 17:52] dan-dr commented on #46403
Came here to put a +1 on the OP but man are people here entitled.

Y'all are programmers and this is open source software, if it's THAT important maybe you can put some effort into fixing it for yourself and others.

[2020-06-14 17:52] clashbrizz commented on #100130
can someone help to resolve this issue?

[2020-06-14 17:53] chetrf commented on #29757
To anyone having trouble getting the CSS hack to work, one more detail that finally made it work for me:  I had to change the Editore: Suggest Font Size from zero to something smaller than my default font.  I had almost given up on getting the CSS hack to work.  After I did that the change from 50% to 100% worked.  This is on MacOs Catalina.

<img width="543" alt="suggestFontSize" src="https://use

[2020-06-14 17:57] Zidaan-Hayat opened #100131 "Suggestion:"
When running just `code` without any argv's in the terminal, open the directory you're currently in. Then you can do `code plain` or something like such to open VSC without any directories.

[2020-06-14 17:57] YuryKomar opened #100132 "Very slow on loading"
Issue Type: <b>Performance Issue</b>

Could you please increase a startup performace?
The files opening too slow, it is just a text files, XML, VB, CS or whatever, but very slow for texteditor...

Please urgently improve it.

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summa

[2020-06-14 18:16] akbyrd commented on #94820
Good call. https://github.com/microsoft/vscode/issues/88682 is the oldest and the most upvoted. Between the three issues there's likely enough support to cross the mythical 20 upvote mark.

[2020-06-14 18:19] tabaddor commented on #97761
I can look into this issue.

[2020-06-14 18:24] mvllow commented on #100131
`code .` will open vscode in your current directory. you may also alias this in your shell config

[2020-06-14 18:24] gregid commented on #100130
@clashbrizz Try identifying the most likely extension that could be the culprit - in my case it was `vscode-jest` then disable the extension, restart vscode then enable the extension after restart. If you can't identify one try disabling all of them and then enable one by one after restart.

[2020-06-14 18:26] usernamehw commented on #100111
Actually a zoom issue.

[2020-06-14 18:26] #100111 closed

[2020-06-14 18:30] dfoverdx opened #100133 "Variable expansion in task inputs"
It would be nice if variables like `${file}` were resolved in task inputs.

[code]

Cascading input variable expansion would be cool too, but probably more work than it's worth.

[code]

[2020-06-14 18:41] 0x00000ED opened #100134 "Regexp freezes VS Code when code has emoji"
- VSCode Version: 1.46.0 (user setup)
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Open editor.
2. Create new file.
3. Press win+; select any emoji.
4. Open search panel and select regexp mode.
5. Type /* in search line.
6. RIP.

Does this issue occur when all extensions are disabled?: Yes

[2020-06-14 19:07] lakshits11 opened #100135 "Auto-indent on tab press to match indentation of previous line"
**Issue Type - Indentation**
- VSCode Version: 1.46.0 (May 2020 _Release)_
- OS Version:Windows 10 x64

_Steps to Reproduce:_

- For Comparision to other editors:
  In Sublime (and also Atom), if I press tab under a line of code that already has 4 tab spaces,
  Sublime will automatically jump to the same tab spacing of the previous line (4 tab spaces).

- **But in VS CODE when trying to accomplish

[2020-06-14 19:29] codingonHP commented on #100075
@arifikhsan Do you have any proxy setup on your machine by any chance?

[2020-06-14 19:29] caub opened #100136 "VSCode hitting CPU"
- VSCode Version: 1.46.0
- OS Version: Linux x64 4.15.0-106-generic
- Hardware: CPU i5 8th gen, 16G RAM, SSD

Steps to Reproduce:

1. Run just one instance of VSCode, on a react-scripts app, moderately large, with a few opened tabs, vscode will start hitting CPU when you edit code or save, it's gets really intense if you save invalid code

This problems happens gradually, maybe not just from lates

[2020-06-14 19:30] albu77 commented on #99881
Works for me after updating git

[2020-06-14 19:37] tonyeung opened #100137 "files.exclude .js.map"
- VSCode Version: VSO
- OS Version: VSO

Steps to Reproduce:
[code]
When compiling index.ts the .js.map file doesn't get hidden unless you remove the .ts from `$(basename)`. See https://stackoverflow.com/questions/31587949/hide-js-map-files-in-visual-studio-code for more examples of people recommending the workaround.

Does this issue occur when all extensions are disabled?: Yes/No
VSO

[2020-06-14 19:53] leandrowilliam opened #100138 "Missing title borders"
Issue Type: <b>Bug</b>

The right and botton border of the title box is missing....

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.19041
Remote OS version: Linux x64 4.19.84-microsoft-standard

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7660U CPU @ 2.50GHz (4 x 2496)

[2020-06-14 20:06] sahin52 commented on #100120
Similar issue, normally it wasn't slow but today there was a problem, I haven't faced that issue before. I am using node with WSL on Windows environment. I made the terminal full screen and it was really hard to copy the output from terminal. VSCode wasn't responding fast.

[2020-06-14 20:08] anilj1 opened #100139 "There is no option to not to select any autoformat in go extension."
There should be an option 'none' to select from the go code formatter code. I deal with legacy code and the go code formatter formats the code file on save. The go code formatter is selected by default and the user does not have the choice to disable the formatting feature.

- VSCode Version: 1.46.0
- OS Version: MAC Mojave 10.14.6

Steps to Reproduce:
<img width="942" alt="Screen Shot 2020-06-14

[2020-06-14 20:56] r0kin opened #100140 "Emmet isn't working with PHP"
I've spent the entire day trying to get emmet to work with PHP, whenever I open a .php file, emmet doesn't work. It works prior to selecting a php file but once the file is pressed emmet is disabled and doesn't work until vscode is restarted/reloaded (eg. tab to indent works on js, html and css files).
I've tried multiple methods which I found and they didn't work.

This is my current settings.jso

[2020-06-14 21:06] chanduBS opened #100141 "Chrome + Visual Stuido Code"
Hi Team,

As I observed multiple times in ubuntu, chrome browser is opening in visual studo code.

It is much irritating to test go to browser everytime.

Please update this in the next release

[2020-06-14 21:06] jockrow opened #100142 "Show number Replaces"
In Find Control must Show number found expressions and number Replaced expressions

[2020-06-14 21:15] #100140 closed

[2020-06-14 21:24] cryptoquick commented on #96155
Hi, I'm wondering if the 60 day timeline is a hard limit for closing this issue. I mean, I don't have a lot of social pull, so I'm not sure how else to raise awareness of this issue.

I took a look at this link, and the process has me worried:

<https://github.com/microsoft/vscode/wiki/Issues-Triaging#user-content-managing-feature-requests>

[2020-06-14 21:27] r0kin commented on #100140
Super random fix, took me 5 minutes, I just disabled all my extensions then it worked. I then enabled each extension one by one and it turns out to be my bracket pair colorizer, I just uninstalled and downloaded the bracket pair colorizer 2 and it worked fine.

[2020-06-14 21:32] #100086 closed

[2020-06-14 21:50] WillPower3309 commented on #12578
This will blur it, but afaik still requires transparency on the vscode end

[2020-06-14 21:59] gjsjohnmurray commented on #100139
/extGo

[2020-06-14 22:00] #100139 closed

[2020-06-14 22:14] klakegg commented on #99722
This is still a problem.

* Version: 1.46.0
* OS: Linux x64 (snap on Ubuntu)

This is the log while building a devcontainer:

[code]

[2020-06-14 22:22] gjsjohnmurray opened #100143 "vscode-triage-bot response to /extGo needs updating"
- VSCode Version: n/a
- OS Version: n/a

Steps to Reproduce:

1. Be someone the bot respects.
2. Add '/extGo' to your reply to an issue.
3. Observe that the comment added by the bot links to https://github.com/microsoft/vscode-go
4. Follow that link and find that the repo has moved.

Does this issue occur when all extensions are disabled?: Yes/No n/a

[2020-06-14 22:24] gjsjohnmurray commented on #100143
Example: https://github.com/microsoft/vscode/issues/100139#issuecomment-643827825

[2020-06-14 22:28] gjsjohnmurray commented on #100114
/duplicate of #26339

[2020-06-14 22:28] #100114 closed

[2020-06-14 22:30] gjsjohnmurray commented on #100116
/needsMoreInfo 'some sort of error'

[2020-06-14 22:48] VoidNoire opened #100144 "Make `resources/linux/bin/code.sh` POSIX-compliant to remove `bash` dependency"
I'd like `resources/linux/bin/code.sh` to be POSIX-compliant to remove the dependency on `bash`.

[2020-06-14 23:39] jvesouza commented on #89570
When I access the list of problems and press the tab key, the focus is moved to the show fixes button. I press the enter key but nothing seems to happen.

[2020-06-14 23:43] roblourens commented on #99886
It does use it via the PHP language. I don't see that working in Atom, can you share a screenshot of what you see?

Atom:

![image](https://user-images.githubusercontent.com/323878/84606849-dddb6500-ae6e-11ea-95f3-b60095b9325a.png)

[2020-06-15 00:42] #99860 closed

[2020-06-15 01:11] NickLiu635 opened #100146 "git fatal error: file is outside directory"
- VSCode Version:1.46.0 (a5d1cc28bb5d)

版本: 1.46.0 (user setup)
提交: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
日期: 2020-06-10T09:03:20.462Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

- OS Version: win10 1909 18363.900
- Language: Chinese

log:
git.stage 1
git.stage.scmResources 1
**>** git add -A -- c:\Users\lyj\Desktop\CODE\xxxxx\a

[2020-06-15 01:19] roblourens commented on #99829
Sorry for the trouble. I am investigating the issue that causes hangs, it's been reported but I haven't been able to repro it yet, see https://github.com/microsoft/vscode/issues/88385.

It sounds like you disabled that option, make sure this button is toggled on

![image](https://user-images.githubusercontent.com/323878/84609345-4846d200-ae7c-11ea-92e7-0a88f20c3b32.png)

[2020-06-15 01:24] roblourens commented on #99707
Have thought about doing this, except that any possible hint we could add would be context-specific in a way that I'm worried would confuse somebody. This is tracked in another issue.

[2020-06-15 01:26] roblourens commented on #80633
I think this feedback is covered in the other settings editor accessibility issues. Thanks for the feedback!

[2020-06-15 01:26] #80633 closed

[2020-06-15 01:50] MuTsunTsai commented on #99797
I'm experiencing the same issue. Every time I restart VS Code, Ctrl + Shift + B won't work, until I click on "Configure Default Build Task" in the "Terminal" from menu bar, and then it will work as long as VS Code is open. But next time I restart VS Code I would have to do this again. I believe this began to happen only since the last upgrade.

[2020-06-15 02:24] bvrygud commented on #100124
Even I am having the same issue.

VsCode Version: Version: 1.46.0
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T08:59:06.977Z (4 days ago)
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0

I am trying in mac.

I uninstall all everything related to VS Code using instructions provided in https://docs.microsoft.com/en-us/visuals

[2020-06-15 02:32] bvrygud commented on #100130
Have the same problem mentioned in # #100124

[2020-06-15 02:33] mpx2m commented on #100136
I have the same problem

[2020-06-15 02:40] rxmarbles commented on #98594
Just to provide an update here I did disable `"search.followSymlinks": false` as per the doc above this seemed to have relieved my issue with long running rg processes. However I would like to point out with monorepos becoming more popular especially with `lerna`, should probably look to improving this process in the editor in future iterations.

[2020-06-15 03:06] NewtMa opened #100147 "reafactoring preview is not a flexiable layout"
Version: 1.46.0
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T08:59:04.923Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.3.0-59-generic

Steps to Reproduce:

1.trigger the refactoring preview window;
2.drag it to wherever you like ---- oops, cannot drag them
and yes it can be reproduced on the Insider version

Does this issue o

[2020-06-15 03:08] arifikhsan commented on #100075
no, everything is default

[2020-06-15 03:08] arifikhsan commented on #100075
i solved this by using vpn

[2020-06-15 03:08] #100075 closed

[2020-06-15 03:25] yrarjun59 opened #100148 "How to fix unsupported from title bar"
How can i fix unssupported tag from Visual studio code editor title

[2020-06-15 03:36] fiveisprime commented on #99722
Ah, the devcontainer needs updated. Good catch

[2020-06-15 03:53] ydasc815 opened #100149 "Issue with auto typecasting"
Issue Type: <b>Bug</b>

Refer to the following code :

#include<bits/stdc++.h>
using ll = long long;
using namespace std;
int main(){
    ll n, m, n2=0, n3=0, m2=0, m3=0; cin>>n>>m;
    ll p = n, q = m;
    if(n == m) cout<<0;
    else{
    while(n%2 == 0) n2++, n/=2;
    while(n%3 == 0) n3++, n/=3;
    while(m%2 == 0) m2++, m/=2;
    while(m%3 == 0) m3++, m/=3;
    m2 = m2 - n2, m3 = m3 - n3;

[2020-06-15 04:17] ghost opened #100150 "Could you please rename master branch and remove problematic words?"
Words such as master, slave, blacklist and whitelist are not suitable due to the deep history associated with racism.
They can be more accurate and precise than they are currently.

Golang team has already removed the use of those words in their code along with few others - https://www.reddit.com/r/golang/comments/gy9ylr/go_has_removed_all_uses_of_blacklistwhitelist_and/

There are other big proje

[2020-06-15 04:28] glacjay opened #100151 "menu key applied to the wrong item in explorer"
Issue Type: <b>Bug</b>

- ctrl-shift-e to switch input focus to the explorer panel
- select a file
- press menu key
- another item's context menu is shown

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-6100 CPU @ 3.70

[2020-06-15 05:19] gjsjohnmurray commented on #100146
/duplicate

Other people who have reported this resolved it by updating their Git version.

[2020-06-15 05:20] #100146 closed

[2020-06-15 05:23] gjsjohnmurray commented on #100148
/needsMoreInfo including version, platform and screenshot (copy to clipboard, then paste into your reply on GH website).

[2020-06-15 05:25] askabhi06 opened #100152 "VS code freezes while entering in an infinite loop"
Issue Type: <b>Performance Issue</b>

If I run a infite loop C program in terminal of vs code, the application freezer and after sometime it asks to reopen, Wait or close the program.
I run the following code :-
#include<stdio.h>
int main()
{
    int i;
    for(i=1;i<=5;i++)
    {
        printf("%d",i);
        i=1;
    }

    return 0;
}

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f

[2020-06-15 05:26] reuvygroovy opened #100153 "Running 'PowerShell' Formatter runs endlessly"
![image](https://user-images.githubusercontent.com/1325158/84620715-61359e80-aee1-11ea-9554-732473e62f76.png)

We get this when trying to save PowerShell code. It can run endlessly for minutes or hours. Sometimes after a few minutes it stops, other times is keeps going like the Energizer Bunny . . .

- VSCode Version: 1.45.1
- OS Version: Windows 10

Steps to Reproduce:
The behaviour is inconsiste

[2020-06-15 05:32] krutoo commented on #99862
I am trying to find a project to reproduce the problem...

@mjbvz on `cmd + hover on import` i get this TypeScript log:
<details>
<summary>Output panel (TypeScript, with verbose)</summary>

[code]

</details>

[2020-06-15 05:33] raiskila opened #100154 "Wrong GPU used for hardware acceleration on macOS"
- VSCode Version: Version: 1.47.0-insider
- OS Version: macOS Catalina 10.15.5 (19F96)

### Steps to Reproduce:

Depending on how VS Code is launched (clicking on app icon vs. using the `code` shortcut in terminal), it may use a different GPU for rendering.

The 13 inch MacBook Pro only comes with integrated Intel Iris graphics. This combined with a high-resolution external monitor results in poor

[2020-06-15 05:38] breathe commented on #99833
@mjbvz I'm having trouble _not_ reproducing the problem -- however I think I may have found a trigger ...

I think the errors start happening or start happening more frequently (randomly) if I have large json files open -- and the errors occur even when saving files other than the large json tabs if I have at some point prior opened a large json file ...  I've been inspecting unusually large (100M

[2020-06-15 05:38] spinelsun opened #100155 "Django tests configuration"
Hi, it would be nice to have the ability to configure vscode to discover django tests.
I tried to find use unittests discovery but it doesn't work.

[2020-06-15 06:17] vscodeerrors opened #100156 "Cannot read property 'elements' of undefined"
Issue Id: <b>07bc9399-ab85-de71-d3af-b2d6cf482c61</b><br /><br />*Versions* <br />- 1.46.0<br />*Stack* <br />TypeError: Cannot read property 'elements' of undefined<br />[/vs/base/common/paging.ts#90:14 (get)](https://github.com/microsoft/vscode/blob/a5d1cc28bb5da32ec67e86cc50f84c67cc690321/src/vs/base/common/paging.ts#L90:14 (get))<br />[/vs/base/common/paging.ts#151:20 (get)](https://github.com

[2020-06-15 06:18] vscodeerrors opened #100157 "Cannot read property 'indexOf' of null"
Issue Id: <b>c2d9874a-f39e-c4d7-7961-ecfd4ef17e86</b><br /><br />*Versions* <br />- 1.46.0<br />-  b1ef2bf05f90dd0e6438782411ab84756f97d8f1<br />-  9f89da69154ac6c99dfa7c82986e2df95b7bbe0b<br />-  24ebced0aba496bd7bdacd432aa9e877181bcf63<br />*Stack* <br />TypeError: Cannot read property 'indexOf' of null<br />[/vs/workbench/api/browser/mainThreadStatusBar.ts#35:20 (apply)](https://github.com/micr

[2020-06-15 06:20] vscodeerrors opened #100158 "Uncaught Error: Cannot read property 'reprocess' of undefined"
Issue Id: <b>6a114074-a370-b2a5-eedb-f98db97eda31</b><br /><br />*Versions* <br />- 24ebced0aba496bd7bdacd432aa9e877181bcf63<br />-  9f89da69154ac6c99dfa7c82986e2df95b7bbe0b<br />-  a5d1cc28bb5da32ec67e86cc50f84c67cc690321<br />*Stack* <br />Error: Cannot read property 'reprocess' of undefined<br /><br />TypeError: Cannot read property 'reprocess' of undefined<br />[/vs/workbench/services/configur

[2020-06-15 06:20] dbaeumer opened #100159 "Integration test: VS Code API - openTextDocument failed"
Failed on Windows:

https://dev.azure.com/monacotools/Monaco/_build/results?buildId=78487&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=c9c1d16f-6a21-57a3-556a-d7a168909c84&l=321

[2020-06-15 06:20] vscodeerrors opened #100160 "Cannot read property 'push' of undefined"
Issue Id: <b>5f453a45-6129-d4fe-9d9a-d710123eaefa</b><br /><br />*Versions* <br />- 9f89da69154ac6c99dfa7c82986e2df95b7bbe0b<br />-  a5d1cc28bb5da32ec67e86cc50f84c67cc690321<br />*Stack* <br />TypeError: Cannot read property 'push' of undefined<br />[/vs/workbench/contrib/debug/browser/debugConfigurationManager.ts#723:28 (writeConfiguration)](https://github.com/microsoft/vscode/blob/9f89da69154ac6

[2020-06-15 06:26] cynicaloptimist opened #100161 ""Stage Changes" button in Source Control window uses wrong casing for drive letter"
- VSCode Version: 1.47.0-insider
- OS Version: Windows 10 Pro 1909

Steps to Reproduce:

1. Use the Source Control sidebar to initialize a git repository in an empty folder
2. Create a file (like "test.txt")
3. Click the inline "Stage Changes" button on the sidebar by the new file
4. See this error:
[code]

Git Log contents:
[code]

The command `git add -A -- c:\Users\cynic\Documents\src\vs-code-d

[2020-06-15 06:31] stephen-hank opened #100162 "Auto indent when typing `{}` in .jsx file"
- VSCode Version:1.46.0
- OS Version: macOS 10.15.4

Steps to Reproduce:

1.In reactjs when i typing '}' in jsx, the row will auto indent. like this

![image](https://user-images.githubusercontent.com/33717252/84624838-b5a64180-af14-11ea-8dd1-a9a1f8250bcc.png)

![image](https://user-images.githubusercontent.com/33717252/84624776-9d362700-af14-11ea-8326-20bf6cbb3f20.png)

I expect no indent.

Does

[2020-06-15 06:33] chrmarti commented on #99947
`== null` definitely feels like the quirky parts of JavaScript and I don't think it will help with readability. It's also been a while since I encountered a library that doesn't clearly distinguish between `null` and `undefined`, I guess most projects have moved on from using `==`. My vote: 👎

[2020-06-15 06:35] mapleby opened #100163 "Vscode occupies ASAR file"
- VSCode Version: 1.46.0
- OS Version:windows10 1909

Steps to Reproduce:
Vscode sometimes takes up ASAR's files, causing exceptions in running projects.
1.
2.

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2020-06-15 06:36] sageata opened #100164 "macOS Touchbar support choice between Editing vs Debug Session Touchbars"
I am working on a macOS with Dart and Flutter on a Mac Book with touch bar.

The annoying part is that whenever I enter a debug session the Touch Bar enters the debug session mode and replaces all my editing shortcuts that are found on my touch bar with the debug tools.

Is it possible to customize which Touch Bar to show, either Debug Session or the Editing one?

[2020-06-15 06:43] yashwantmadane opened #100165 "the system can not find the specified at..."
Wi am trying to print the value of i using %u but systm giving me error as following.
Program 'check.exe' failed to run: The system cannot
find the file specifiedAt line:1 char:70
+ ... de\.vscode\" ; if ($?) { gcc check.c -o check } ;
if ($?) { .\check }
+
[code]
    + CategoryInfo          : ResourceUnavailable: (:)
   [], ApplicationFailedException
    + FullyQualifiedErrorId : NativeCommandFai

[2020-06-15 06:47] wivory commented on #97682
Adding 2 screenshots.  Look at the middle of the top line of the terminal section of the screen and you should be able to see that it's somewhat out of focus in one.  Note in addition to my initial comments that minimising / back to full screen doesn't solve the problem - it's only when you resize the window (eg toggle the maximise button) that fixes it.
![all_text_clear](https://user-images.githu

[2020-06-15 06:51] chrmarti commented on #86011
Not sure if there was anything I did in addition, but even then this has likely been fixed since. I suggest to close the issue.

[2020-06-15 06:51] alexdima commented on #99947
My personal preference is to keep `===`. IMHO the difficulty for me to always need to look twice as careful when reading `== null` vs `=== null` is not worth it. If there is a real speed difference, then we should open an issue against v8.

[2020-06-15 06:54] toptensoftware opened #100166 "VS Code specific environment variables shouldn't be passed on to debug targets"
Issue Type: <b>Bug</b>

1. Under Linux, start debugging any dotnet project that can log out the environment variables.
2. Notice the debug target's environment variables include many related to VS Code's configuration.

For example, running any debug target that requires Wayland on Linux will fail because Wayland is disabled by VS Code's configuration. ie: the DISABLE_WAYLAND and changes to the XD

[2020-06-15 06:56] chrmarti commented on #98778
@connor4312 I see this again with:
[code]

The missing version is still the same:
[code]

[2020-06-15 07:03] Romyanmar4 commented on #97682
``<script src="//code.jivosite.com/widget/p3yqJKpweV" async></script>

[2020-06-15 07:04] Romyanmar4 commented on #97682
[<script src="//code.jivosite.com/widget/p3yqJKpweV" async></script>](<script src="//code.jivosite.com/widget/p3yqJKpweV" async></script>b19cEXMX1mxH3​) #98778

[2020-06-15 07:05] jrieken commented on #99098
This happened right after starting to sync and it seems like it was changing while I was reporting the issue. I felt to me like a lack of lifecycle steps or something like it

[2020-06-15 07:07] jrieken commented on #96891
Sure - when an issue's state is "Open" it means that the issue isn't fixed yet

[2020-06-15 07:08] ahmadawais commented on #98161
Please enable that dirty dot when there's edited content. E.g. I don't like to enable tab highlights `workbench.editor.highlightModifiedTabs: true`. So, now I have no info if my pinned tabs have dirty edited content or not. Having the same dirty circle like the one below will go a long way.

![image](https://user-images.githubusercontent.com/960133/84627696-c8af1680-af00-11ea-8606-4988b0f073c3.png

[2020-06-15 07:08] singularitti commented on #95493
I believe it is a temporal workaround, we still need the actual feature to be implemented in VSCode. I tested it on macOS, and it turns out do not work well when characters are slanted.
For example, I set

[code]
the characters do extend than `"editor.fontFamily": "'Iosevka SS14'",`. However, when there are slanted words with spaces between them, selecting the text will expand the spaces and you w

[2020-06-15 07:12] jrieken commented on #99938
Hm... The pattern specifies an absolute path and I wonder if that's the problem. On what machine should that path exist? On the local or remote machine? I'd assume they have different folder hierarchies.

Also, know that you can create a `RelativePattern` for a workspace root folder: https://github.com/microsoft/vscode/blob/5b3517310fb63c42f3ec91200bdb8ea761dc4b56/src/vs/vscode.d.ts#L1880. That mi

[2020-06-15 07:12] perlun commented on #10144
@kdrag0n Thanks for the reply. I don't have any Ubuntu font installed as far as I can tell. Droid Sans is installed though.

### With 1.45.1

As far as checking what font is actually being used, I realized I could easily check this using the devtools (the goodness of Electron apps, really :pray:) Surprise surprise, it's actually Arial at work here! :smile:

![image](https://user-images.githubuserc

[2020-06-15 07:16] jhasse commented on #10144
`system-ui` is a Chrome-only extension.

Have you tried changing your system UI font? Your currently selected "Sans Regular" is "DejaVu Sans".

[2020-06-15 07:21] chrmarti commented on #97480
The trailing slash issue was fixed with #97885.

@hegdevishwa Do you have the `http.proxy` VS Code setting or any of the `HTTP_PROXY` or `HTTPS_PROXY` environment variables set?

[2020-06-15 07:21] jrieken commented on #100159
This test still relies on the FS and should be moved to a virtual file system for more stability

[2020-06-15 07:37] gjsjohnmurray commented on #100161
What Git version are you using? Several other recent issues have reported the "outside repository" problem being resolved by updating their local Git.

[2020-06-15 07:37] aeschli opened #100167 "browser integration test: openTextDocument is flaky"
I've seen the following test failing several time in the product builds during the last week while working on (unrelated) build script changes.

Also failed [today morning](https://dev.azure.com/monacotools/Monaco/_build/results?buildId=78487&view=logs&j=800c766b-cf7f-545c-6b0a-ae5b31f2fdcf&t=51b4207b-308f-5f00-05c4-35120a101a46)).  I will rerun the failed build steps, so this might not show anymo

[2020-06-15 07:41] jdneo commented on #99938
The path is on the remote machine. Actually you can just try with the code lens extension sample to repro that.

[2020-06-15 07:43] hensz commented on #98593
Hi!

Now that was a real help!

I totally forgot that I'm using a symbolic link for my workspace. The "physical" folder /data/usr/workspace is represented by a link /workspace. And the workspace I opened in VS Code is exactly this link: /workspace/test.

So both paths from explorer and the file opened from the explorer is using the symlink:
/workspace/test/struct.cpp
The file with absolute path, o

[2020-06-15 07:44] alexr00 commented on #99947
I also prefer to keep `===` for the same readability reasons as [above](https://github.com/microsoft/vscode/issues/99947#issuecomment-643938930). I have learned that this repository doesn't use `==`, therefore I am never on the lookout for it.

[2020-06-15 07:44] chrmarti commented on #99436
@lambainsaan Great, looking forward to your PR!

[2020-06-15 07:44] joaomoreno opened #100168 "Allow extension badges from GitHub workflows"
Marketplace now supports having github workflow badges in published extensions.

VSCE as well: https://github.com/microsoft/vscode-vsce/issues/389

Only VS Code is left!

[2020-06-15 07:45] usernamehw commented on #100150
/question

[2020-06-15 07:45] Feiks opened #100169 "after updating flutter on vs code"
Issue Type: <b>Bug</b>

Unknown operating system. Cannot install Dart SDK. is printing in  terminal, what can i do???
before it was working perfect

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz (4 x

[2020-06-15 07:46] vinodsai-a opened #100170 "Auto Update to latest version sometimes uninstalls the existing version, but it wont install the latest version. It keeps on showing the error somthing like this "some vscode instance is running please close and retry ""
- VSCode Version:
- OS Version:

Steps to Reproduce:

Auto-updates from vscode will uninstall the current version and it keeps on showing the error something like this "some vscode instance is running please close and retry "

I have to download the latest version every time and install after it is uninstalled

At least user should be given the path of the updater to install after it is uninstalle

[2020-06-15 07:46] #100150 closed

[2020-06-15 07:54] best4him opened #100171 "fatal: ""repository folder""/README.md' is outside repository"
When I am trying to add a file, it fails! I get the following error: fatal: ""repository folder""/README.md' is outside repository. It happens after the last update. It looks like I am not the only one: https://stackoverflow.com/questions/47508212/vscode-git-fatal-error-file-is-outside-directory/62345271#62345271?newreg=2a4134dd0a0448ddb2f67d353b7fe235.

If a add it from terminal, it works! Also,

[2020-06-15 07:54] koutsenko commented on #519
VSCode team, please hire the HTML layout maker for your Electron-based UI.
They are cheap. All you need is fluid design, just grid or column layout.

[2020-06-15 07:59] hegdevishwa commented on #97480
@chrmarti Yes the `http.proxy`  set in VS code with a trailing slash. If I remove it, it works but doesn't work with it.

[2020-06-15 08:03] egamma opened #100172 "Add API support for submenus"
Add support for submenus to simplify the menu structure of the Git extensions '...' menu.

[2020-06-15 08:04] joaomoreno commented on #100168
@sandy081 @mjbvz I couldn't find any other usage of `extensionAllowedBadgeProviders` than this:

https://github.com/microsoft/vscode/blob/69056ab090075a962edddbd30078191c42463755/extensions/extension-editing/src/extensionLinter.ts#L18-L18

This is the extension authoring tooling.

So it seems we don't really use the `extensionAllowedBadgeProviders` list to allow SVGs from specific hosts, did I get

[2020-06-15 08:05] isidorn commented on #99564
@Neurrone thank you, adding label verified.

[2020-06-15 08:15] badsyntax commented on #98080
Hi @alexr00

Unfortunately I'm seeing this race condition again. While the fix for https://github.com/microsoft/vscode/issues/96643 solved the race condition for the state of my code at that time, after moving some code around i'm seeing the race condition again.

Unfortunately I can't provide a repo because it's racy and it looks like it depends on the load on the machine, and will only show when

[2020-06-15 08:16] badsyntax commented on #96643
After moving some code around in my extension, i'm seeing the race condition again. I've added some details to https://github.com/microsoft/vscode/issues/98080

[2020-06-15 08:23] chrmarti commented on #97480
Ack, this is fixed in 1.46. (Only now realize that you are on 1.45 which does not have the fix.)

Closing as duplicate of #97885

[2020-06-15 08:23] #97480 closed

[2020-06-15 08:27] hegdevishwa commented on #97480
@chrmarti Apologies, I didn't realise that. I'll update it. Thank you!

[2020-06-15 08:28] arjo129 opened #100174 "VSCode freezes when huge text file dumps to terminal"
- VSCode Version:
Version: 1.46.0
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T08:59:04.923Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.3.0-59-generic
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Open integrated terminal
2. `cat huge_text_file`
3. Whole VS Code freezes
Additional infoe: huge_text_file has a very long

[2020-06-15 08:28] #100168 closed

[2020-06-15 08:29] bpasero opened #100175 "Explorer: each click results in 2 open editor calls"
I tried to debug this for 1h and could not get to the bottom of it. I suspect that the same listener is created twice, but could not verify that.

Anyhow, steps:
* add a `console.log('onDidOpenResource', new Error().stack);` to https://github.com/microsoft/vscode/blob/18cb88ee6d58d2ea6db2b632b66acc65337bd34f/src/vs/workbench/contrib/files/browser/views/explorerView.ts#L428
* click on a file

=> 🐛

[2020-06-15 08:35] bpasero commented on #99771
I have to pull out, didn't get to it in debt week. It is true that for example the settings editor somehow implemented this in a way that it needs the `openEditor` call and cannot just return an editor input, though that could maybe be changed.

As for @jrieken comment in https://github.com/microsoft/vscode/issues/99771#issuecomment-642520728 I do not understand the issue fully, however found that

[2020-06-15 08:38] michael-hawker opened #100176 "XML Node Collapsing Effected by Tab Indentations"
Issue Type: <b>Bug</b>

1) Open `generic.xaml` from `c:\Program Files (x86)\Windows Kits\10\DesignTime\CommonConfiguration\Neutral\UAP\<Version>\Generic\generic.xaml` where version could be 10.0.18362.

2) Collapse a `<VisualStateManager.VisualStateGroups>` node using arrow on left margin. E.g. Line 6972

3) Note that the whole XML tag is not collapsed, it only goes to line `7042` however this tag

[2020-06-15 08:39] dbaeumer commented on #99947
Same is true for me. In LSP where I get values from the outside I usually normalize them on entrance if there is no semantic difference.

[2020-06-15 08:40] joaomoreno commented on #100175
Let me see what I find out.

[2020-06-15 08:41] bpasero commented on #100175
i hope this is not some weird debug issue, I would not trust the devtools on this one, listeners are weird...

[2020-06-15 08:42] michael-hawker commented on #100176
It looks like if indentation levels of tabs may be effecting this, for instance if you have this:

[code]

It works fine, but if you have this:

[code]

Then the collapse option only appears for the 3rd line:

![image](https://user-images.githubusercontent.com/24302614/84636377-60811600-aea9-11ea-807a-f9673029d27b.png)

The indentation of elements/properties shouldn't effect the ability to collaps

[2020-06-15 08:42] isidorn commented on #40976
@lunixbochs thanks. I have posted a message in your Talon slack project.

[2020-06-15 08:46] isidorn commented on #97790
I am opening this up for PRs.
We should tackle this by adding a new variable `${focusedView}` to the `window.title` setting
Code pointer https://github.com/microsoft/vscode/blob/cb29362cc79fa0c64d29857aa3becd787176203b/src/vs/workbench/browser/parts/titlebar/titlebarPart.ts#L235

[2020-06-15 08:47] aeschli commented on #99914
I think a 'hasChanged' event makes sense, but returning ranges in patches is problematic.

The folding range infrastructure currently relies on the fact that it gets all folding ranges in one go.
In a document where the user has folded some ranges, we need to decide on every update whether the region needs to stay folded, or unfolded as it is no longer reported as a folded region.
If we were to ke

[2020-06-15 08:50] #98593 closed

[2020-06-15 08:50] joaomoreno commented on #100175
Comes from these two:

https://github.com/microsoft/vscode/blob/da8f44cf08d658ef6f44efb995bc089a0e1998a8/src/vs/base/browser/ui/list/listWidget.ts#L634-L637

We gotta kill that open controller.

[2020-06-15 08:52] isidorn commented on #99743
For reference here's the js-debug issue https://github.com/microsoft/vscode-js-debug/issues/523

[2020-06-15 08:54] isidorn commented on #100115
I agree that this is an issue. Let me just verify something: this only happens if the dynamic configuration and a written configuration in `launch.json` have the same `name`?

[2020-06-15 08:56] dbaeumer commented on #98982
@alexdima can you mark the bug as verified since you reviewed and tested the PR.

[2020-06-15 08:57] ievgen-goichuk-rft opened #100177 "TS Server fatal error: Debug Failure."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-06-15 08:57] ersuman opened #100178 "Terminal not showing text"
Issue Type: <b>Bug</b>

VS Code integrated terminal showing blank. Also some formatting style changed => angular modules: imports and declarations used to show at different color but now showing in the same color as keywords like NgModule

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>Syst

[2020-06-15 08:58] #100177 closed

[2020-06-15 08:58] DanTup commented on #100115
In my real extension I don't have a name on the dynamic config (though it's possible if it goes through resolve, that it might be added on).

As a workaround I was considering making up a random name, but since that may show up in the UI (eg. the debug toolbar when the are multiple sessions), having a random name wouldn't be ideal.

TBH, even if I launched from launch.json and then modified it - I

[2020-06-15 09:02] gjsjohnmurray commented on #100176
From https://code.visualstudio.com/docs/editor/codebasics#_folding

Maybe you can find an extension that implements what's necessary for smarter folding of XML.

[2020-06-15 09:03] joaomoreno commented on #100175
Make sure this doesn't break: https://github.com/microsoft/vscode/issues/58124

[2020-06-15 09:04] isidorn commented on #99244
@misolori thanks for looking into this and for finding a good color. I think the focus being more visible is perfectly fine, and the new color still blends well with everything. I personally prefer it to the previous one, simply because it makes the focus more clear.
So feel free to push this, especialy since this is a start of the iteration so we get feedback.

fyi @bpasero

[2020-06-15 09:06] ievgen-goichuk-rft opened #100180 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.9.4
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T08:59:06.977Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canva

[2020-06-15 09:07] weinand commented on #99743
@isidorn the comment for `noDebug` does not yet explain (the new behavior) when `noDebug` is missing.

[2020-06-15 09:07] gjsjohnmurray commented on #100172
See #9827

I'd particularly like https://github.com/microsoft/vscode/issues/9827#issuecomment-619989638 to be catered for in the new API, so an extension can contribute a submenu whose contents are computed at display-time.

[2020-06-15 09:11] gjsjohnmurray commented on #100171
/duplicate of #99881 and others (search for 'outside repository')

People have reported resolving this by updating their local Git.

[2020-06-15 09:11] #100171 closed

[2020-06-15 09:12] gjsjohnmurray commented on #100169
/causedByExtension

[2020-06-15 09:13] petrbroz commented on #99767
This is probably related: I've been trying to achieve the same thing (showing/hiding specific commands in a custom tree view based on whether there are multiple items selected) by using `listMultiSelection` in the `when` clause, but with no luck.

If it is in fact possible to show/hide `view/item/context` items based on the selection count, is that documented anywhere? Thanks!

[2020-06-15 09:13] #100169 closed

[2020-06-15 09:15] dbaeumer commented on #91139
Actually there is little I can do. This is what I get from the eslint when running the extension:

<img width="348" alt="capture" src="https://user-images.githubusercontent.com/1931590/84639924-525ae600-aef9-11ea-8cb3-17eb52a29786.png">

And the task (eslint terminal output) reports:

<img width="700" alt="capture" src="https://user-images.githubusercontent.com/1931590/84640046-75859580-aef9-11ea-

[2020-06-15 09:17] dbaeumer commented on #91139
@sandy081 please ping if you think there is something I should / could do.

[2020-06-15 09:21] ievgen-goichuk-rft commented on #100180
I think it's caused by Deno extension. TS server stopped crashing after I disabled it.

[2020-06-15 09:23] AnrDaemon commented on #95493
@singularitti can this be letter spacing? I've noticed similar behavior when using fractional letter spacing.

[2020-06-15 09:25] Jaroslaw-Brzezinski opened #100181 "ModelService: Cannot add model because it already exists"
Issue Type: <b>Bug</b>

Hello,

An error occurs when a new terminal is attempted to start up (as shown below). At the same time the entire contents of the extension panel disappears and an empty side panel opens.

The virtual machine has been checked and the problem looks local. Reinstalling Visual Studio Code with deleting launch.json and settings.json configuration files did not help.

Version:

[2020-06-15 09:25] Fell opened #100182 "Configuration option that closes the panel when debugging ends"
In https://github.com/microsoft/vscode/issues/99050 a bug was fixed, changing the behaviour of `debug.console.closeOnEnd`. Before 1.46, the whole panel containing the debug console was closed. Now, only the debug console closes, which is expected.

However, I found it quite convienient that the whole panel was closed after debugging. I keep things like the watch window and the call stack in there,

[2020-06-15 09:26] Fell commented on #99050
It works as expected now, however, I miss the old functionality that closed the whole panel after debugging. I created a feature request: https://github.com/microsoft/vscode/issues/100182

[2020-06-15 09:29] aeschli commented on #95455
@AhmedNabeeh Can you add more information?
Maybe add screenshots,  or even a screencast?

[2020-06-15 09:31] stevenjoezhang commented on #99924
This feature may cause the search to be accidentally triggered. I am able to reproduce it on macOS:
1. Drag and select text in Integrated terminal, and do not release the mouse
2. Press `cmd + C` to copy the selected text
3. Release the mouse
4. Release `cmd + C`

However "Search workspace" action is triggered in step 3. In other words, VSCode gave the same feedback to the following two user input

[2020-06-15 09:32] DanTup commented on #99874
I thought that's why the value was cached? Maybe I misunderstood the comment above - if the user accepts, is the value applied automatically without the icon next time?

Sorry, I mean by VS Code handling it in an API. Eg. we request permissions from the user to handle "dart" and "flutter" terminal commands, and when the user types something starting with those in the terminal, they get passed to a

[2020-06-15 09:32] jrieken commented on #100167
/duplicate

[2020-06-15 09:33] #100167 closed

[2020-06-15 09:34] jrieken commented on #99938
Ok, that explains it. The path will be evaluated on the UI side, e.g. inside the render we need to make the decision if code lens providers apply or not

[2020-06-15 09:38] gjsjohnmurray commented on #100135
/confirmationPending

Doesn't reproduce for me:
![junk](https://user-images.githubusercontent.com/6726799/84642368-4587c380-aef4-11ea-9033-54a78e0f038a.gif)

(screencast mode used for clarity)

Version: 1.46.0 (user setup)
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T09:03:20.462Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x6

[2020-06-15 09:39] jrieken commented on #95308
@jdneo Is this a problem that occurs when using `editor.action.peekLocations` but not having a result? I am not a fan of exposing the in-editor-message widget but I can easily tweak the command so that can show a message

[2020-06-15 09:39] #98080 closed

[2020-06-15 09:39] alexr00 commented on #98080
Thanks for all the details. The problem seems pretty clear, so I've pushed a fix. However, I can't repro the issue, so I can't verify it. Please let me know if the next insiders build still has this problem!

[2020-06-15 09:44] isidorn commented on #100182
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-06-15 09:44] badsyntax commented on #98080
Sure will do! How can i check when the next insiders build will be released?

[2020-06-15 09:44] gjsjohnmurray commented on #100135
Ah, I think I see the difference in what you're doing. Looks like you Press Home after the end-if-line-1 Enter, then expect one Tab to give you the same indent on line 2 as line 1 has, right?

[2020-06-15 09:46] #100159 closed

[2020-06-15 09:46] isidorn commented on #99743
@weinand thanks, tackled this via 9bebaefc7b

[2020-06-15 09:47] alexr00 commented on #98080
The `unreleased` label on this issue will be removed when it's in the insiders build. That's probably the easiest way to check. Generally, they are released every 24ish hours.

[2020-06-15 09:55] isidorn commented on #97761
@tabaddor I think it might not be that simple, looking at Joh's comment from above. You are welcome to try to solve this.

[2020-06-15 09:56] singularitti commented on #95493
I am not sure, how do you solve it if so?

[2020-06-15 09:57] DanTup opened #100183 ""Activating extension 'vscode.github' failed: Git model not found." when Git is disabled"
I have `"git.enabled": false` in my VS Code user settings, and this causes the built-in GitHub extension to fail to activate:

For the main VS Code window this is generally silent (other than writing into the dev console), however in the extension host this triggers a `showErrorMessage` so it's quite annoying when working on extensions.

If this extension doesn't function with Git disabled, it sho

[2020-06-15 09:58] lokesh-paulpandi commented on #99238
Yes , it is the same repository. The branch name updates if I restart VSCode and if I switch to a different branch in VSCode , it gets reflected in the terminal.

[2020-06-15 10:09] bpasero opened #100184 "WebviewInput and LazilyResolvedWebviewEditorInput have same type ID?"
Not clear to me how the one relates to the other, but typically editors should have different type IDs per kind. And if the one is only used as parent type, it could remain `abstract`

[2020-06-15 10:12] mfaridzia opened #100185 "Cursor length in vscode terminal is not normal (cursor is too long)"
- VSCode Version: 1.46
- OS Version: Linux Mint 19 Tara
Steps to Reproduce:

1. Open vscode
2. Settings
3. Change the type of cursor in the terminal

This is the settings.json file

Settings.json

{
    "workbench.colorTheme": "Plastic",
    "workbench.iconTheme": "vscode-icons",
    "explorer.confirmDelete": false,
    "javascript.updateImportsOnFileMove.enabled": "always",
    "editor.tabSize":

[2020-06-15 10:18] isidorn commented on #100115
@dantup if you do not set a `name` on your dynamic configuration then the call to `getConfiguration` [here](https://github.com/microsoft/vscode/blob/9bebaefc7bfca937721e7ce3d5fcfde8745e7727/src/vs/workbench/contrib/debug/browser/debugService.ts#L662) should return `undefined` and thus nothing should be read. Unleass you also have a configuration in `launch.json` which does not have a name.
Can you

[2020-06-15 10:20] isidorn commented on #89570
@jvesouza thanks, that sounds like a bug. @sandy081 can you reproduce this?

[2020-06-15 10:21] isidorn commented on #98614
@misolori I like this suggestion a lot for the panel.
So let's go with the elipses. I can look into the implementation.

[2020-06-15 10:23] isidorn commented on #100175
@joaomoreno I see you area already on this. Let me know how I can help. Otherwise once the PR is ready I can make sure all the views are still working as expected: open editors, explorer, debug views.

[2020-06-15 10:26] jrieken opened #100186 "Language service use of a whole notebook as single (concat) document"
Develop an end-to-end sample that maps many cells to a single LS document, e.g have single concat document for a notebook that re-uses TypeScript features and/or features from a language service (LSP)

[2020-06-15 10:32] sdomagala commented on #99981
@connor4312 Thanks for the reply, I believe the problem is now resolved, I can't really tell what changed but three days ago it was broken - even with extensions disabled - and today everything works fine, even with nightly version enabled, maybe there was an update along the way or some env issue?

Anyway, thanks for your help and I'm really glad that it worked cause I am so used to it. I will mo

[2020-06-15 10:33] Utsav-27 opened #100187 "Extension host terminated unexpectedly"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-06-15 10:33] #100187 closed

[2020-06-15 10:38] isidorn commented on #98614
For the first run experience I think a good first steps for this milestone are the following:

- [ ] Show elipses in every view container to make hidden views and the ability to hide views more discoverable
- [x] Have Open Editors collapsed by default
- [ ] Move NPM Scripts into an extension @egamma

We'll see how these changes are accepted by the community and then next milestone we can
- [ ] Sho

[2020-06-15 10:41] jrieken commented on #100106
Custom link provider do not disable the build in once. However, when the built in and a custom provider report a link at the same location than the custom provider takes precedence (that one link)

So, please craft a repo that shows what you are seeing

[2020-06-15 10:42] regs01 commented on #98614
Don't think about it. It's unproductive. It's one of most important feature and fundamentally basic feature of IDE.

[2020-06-15 10:44] Harsha-Yalagach opened #100188 "Global Configuration for "launch.json" such that attributes are shared between configurations"
I have a project/workspace with multiple launch configurations. There are got of configuration values that are common for all the launch configuration, like environment variables, Current Working Directory.

I would want a way to consolidate all these common settings/configuration into a common area, probably a new section/dictionary called "global".

[2020-06-15 10:45] jasonwilliams commented on #98054
@connor4312 do you know if theres a shortcut to cycle between Debug, Terminal, Output and problems?
Sometimes i need to go back and forth between Terminal and Debug.
I know ctrl + ` gets you to Terminal, but doesn't look like its possible to get back

[2020-06-15 10:45] DanTup commented on #100115
I checked, and it was as a I suggested above:

When I launch the dynamic debug session, it goes through my `resolve` method, which populates some default values if they're not sent, including the name:

[code]

So this will pick up the name "Dart" here, which would then match what's in `launch.json`. We add the default name so if you run multiple sessions (for ex. a Dart backend, and a Flutter fro

[2020-06-15 10:46] karthikeyann commented on #91817
This issue appears in vs code insiders 1.47.0 with attached files inside in `${workspaceFolder}/.vscode/`

[settings.json.txt](https://github.com/microsoft/vscode/files/4779722/settings.json.txt)
[c_cpp_properties.json.txt](https://github.com/microsoft/vscode/files/4779723/c_cpp_properties.json.txt)
[launch.json.txt](https://github.com/microsoft/vscode/files/4779724/launch.json.txt)

If I remove t

[2020-06-15 10:47] DanTup commented on #100115
There are 294 results for "restart launch.json" - do you happen to remember anything that would help narrow it down? 😄

[2020-06-15 10:52] DanTup commented on #100115
The only note I could find was this:

https://github.com/microsoft/vscode/issues/47021#issuecomment-381129386

However I still think this is questionable, because if a DA handles restart itself, it would not reload this config - so the behaviour will be inconsistent between DAs that do/don't handle their own restart.

That aside, could dynamic sessions have some flag so they are excluded from the

[2020-06-15 10:53] jrieken commented on #100120
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2020-06-15 11:01] IllusionMH commented on #100074
Now it's more clear.
System - looks like good candidate for off by default.
Extensions list - often may be first question asked, so doesn't look good to remove by default.

Anyway someone from team would weight it on this.

[2020-06-15 11:02] matepek commented on #100106
Repro:

1. Install [cmake-tools](https://github.com/microsoft/vscode-cmake-tools)
2. Install [TestMate C++](https://marketplace.visualstudio.com/items?itemName=matepek.vscode-catch2-test-adapter)
3. Clone [this repo](https://github.com/matepek/vscode-catch2-test-adapter)
4. `cd <new_repo>/test/cpp`
5. `code .`
6. cmake-tools will ask: "Would you like to configure project?" Answer: Yes
7. Open `cat

[2020-06-15 11:05] sdomagala commented on #99981
Hey @connor4312, turns out I was too fast saying that it works.
Turns out that it works only for some repositories but not for the others, which doesn't make sense to me, are there any prerequisites that need to exist in the directory for the debugger to work?

I also found out why it froze when opening terminal - my .zshrc contained one command that used node, namely NVM, and it stopped the execu

[2020-06-15 11:22] #99431 closed

[2020-06-15 11:27] jdneo commented on #95308
Thank you @jrieken!

In Java, we have a feature called `go to super implementation` (navigate to the implementation in the super type). Our current behavior is try to resolve it on hover, if it has a super implementation, then show the button in the hover information:
<img width="608" alt="Screen Shot 2020-06-15 at 7 23 50 PM" src="https://user-images.githubusercontent.com/6193897/84652280-f9fa078

[2020-06-15 11:28] pkruk2 commented on #88309
Hello,

this looks interesting.

My use case: I have extension that would like to use an resource API that requires OpenID Connect authentication for access. The users of my extension would provide required information (issuer url, client id), after user authenticated the extension would receive access token which would then be used to access the resource API.

So without this Authentication Provi

[2020-06-15 11:33] jdneo commented on #99938
So take the WSL as an example, VS Code will evaluate the file's real path (which is a Windows path) to `/home/ubuntu/.....`, which causes the Code Lens not appear, Am I right?

If that is the case, I think I need to cache the pattern and compare it inside the CodeLensProvider, instead of using the DocumentSelector.

[2020-06-15 11:49] jrieken commented on #100106
minimal repro please

[2020-06-15 11:50] matepek commented on #100106
This is almost minimal. 😅
Number 7 is the extra step.

[2020-06-15 11:51] jrieken commented on #95308
Great. Than let's do this. The Java extension will call the [`editor.action.goToLocations`](https://github.com/microsoft/vscode/blob/012e874cb115cf02d8f452d53490e9333b679e5f/src/vs/editor/contrib/gotoSymbol/goToCommands.ts#L717) command when it has its results and I will make sure it shows a message when called without results, e.g support an argument with a custom no result message

[2020-06-15 11:52] jrieken commented on #100106
Really? So it really requires for instance cmake-tools and won't reproduce without?

[2020-06-15 11:55] jrieken commented on #99938
Unsure about WSL and path shapes... Maybe @aeschli can help.

[2020-06-15 11:58] sandy081 commented on #100180
Thanks for letting us know. Please file issue against the extension.

[2020-06-15 11:58] #100180 closed

[2020-06-15 11:58] jdneo commented on #95308
@jrieken Pretty cool! That works for us!

Thank you!

[2020-06-15 11:59] bpasero commented on #98556
@rebornix can this happen?

[2020-06-15 12:00] jrieken commented on #95308
Alright, I'll try to get something in for tomorrow

[2020-06-15 12:01] sandy081 commented on #100165
Please file the issue agains the extension that is causing this.

[2020-06-15 12:01] #100165 closed

[2020-06-15 12:02] sandy081 commented on #100162
May I know if this is causing by any extension you installed?

[2020-06-15 12:02] matepek commented on #100106
I don't know in what other cases it does not work. Maybe if I learned and understood what's happening in vscode codebase I could give a simpler one. You don't expect me to do that, right?

[2020-06-15 12:02] isidorn commented on #100188
This is a fair feature request, however we do not have it on our immediate plan. I have renamed it to make it a bit clearer. Thus assigning to backlog and we might add this in the future. Thanks

[2020-06-15 12:03] AnrDaemon commented on #95493
Answering to your earlier question, I've used a different font and 1px spacing. Not ideal, but bearable.

[2020-06-15 12:03] #100158 closed

[2020-06-15 12:03] isidorn commented on #100166
Forwarding first to @weinand since he looked into environment variables passing. And then he can potentialy forward to dotnet extension

[2020-06-15 12:04] #100156 closed

[2020-06-15 12:04] #100155 closed

[2020-06-15 12:06] #100149 closed

[2020-06-15 12:06] perlun commented on #10144
@jhasse Thanks. Changing the "Default font" in my Cinnamon settings does indeed work. But I prefer to keep the old, perhaps slightly "inconsistent" approach with other programs being displayed with DejaVu Sans and VS Code using Arial.

Why doesn't Chrome/Electron honor the fontconfig settings in this case? It seems quite odd, to be honest.

[2020-06-15 12:11] sandy081 commented on #100136
Do you also see this when you disable all extensions?

To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks.

When Code is consuming lots of CPU, please run "code --status" from the command line (or "code-insiders --status" if you are using VS Code Insiders edition).

Please attach the output o

[2020-06-15 12:16] sandy081 commented on #100128
I do not think this is a feature that VS Code supports out of the box and I assume you are having an extension for your described feature. Please file issue against that extension.

[2020-06-15 12:21] bpasero commented on #100138
This is the native hover we get from Electron.

[2020-06-15 12:21] kesavamuthu opened #100189 "vs code slowness"
1. :warning: We have copied additional data to your clipboard. Make sure to **paste** here. :warning:
1. :warning: Make sure to **attach** these files from your *home*-directory: :warning:
-`prof-6f02.extHost.cpuprofile.txt`
-`prof-6f02.main.cpuprofile.txt`
-`prof-6f02.renderer.cpuprofile.txt`
[prof-6f02.extHost.cpuprofile.txt](https://github.com/microsoft/vscode/files/4780158/prof-6f02.extHost.cp

[2020-06-15 12:28] jrieken commented on #100132
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2020-06-15 12:28] SoundaryaNadgouda opened #100190 "File Saving Issue"
Whenever iam doing modifications in existing file it is not able to save and aslo if i copy some files which is already updated those changes are not refelcting in my vs code

[2020-06-15 12:29] jrieken commented on #100153
/extPowerShell

[2020-06-15 12:33] jrieken commented on #100106
I know that it works because we ship with multiple links providers. So, I expect you to provide a simple extension sample that shows where it doesn't work. Simple cannot mean install tool X and Y because vscode doesn't launch external tools during link detection.

[2020-06-15 12:42] kesavamuthu commented on #100189
Sorry, this issue already reported in #100120 it's breaking the chain I think. I am new to report issues.

[2020-06-15 12:43] matepek commented on #100106
I'm sorry but I'm a but busy right now.

If you are right, I just close the issue at my extension's github repo because I checked that I don't override the link, so it cannot be me.

[2020-06-15 12:44] jrieken commented on #99947
Also 👍 for `===`.

Still, on a meta-level we should really stick to the (few) guidelines and rules that we have and not unilaterally decide to change/ignore them. Historically, we have only added/changed rules after a team buy-in and I think we should stick to this.

[2020-06-15 12:45] Tyriar commented on #100152
/duplicate https://github.com/microsoft/vscode/issues/74620

[2020-06-15 12:45] #100152 closed

[2020-06-15 12:45] kesavamuthu commented on #100120
I hope the required profiler startup log and system details attached are enough. Happy to provide more details.

[prof-6f02.main.cpuprofile.txt](https://github.com/microsoft/vscode/files/4780247/prof-6f02.main.cpuprofile.txt)
[prof-6f02.renderer.cpuprofile.txt](https://github.com/microsoft/vscode/files/4780249/prof-6f02.renderer.cpuprofile.txt)
[prof-6f02.extHost.cpuprofile.txt](https://github.com

[2020-06-15 12:46] Tyriar commented on #100185
Can you share your settings.json file? Also try switching to the DOM renderer:

[code]

[2020-06-15 12:48] Tyriar commented on #98054
@jasonwilliams you can add keybindings for `workbench.action.nextPanelView` and `workbench.action.previousPanelView`

[2020-06-15 12:50] jrieken commented on #100120
What OS is this?

[2020-06-15 12:50] stoklasa opened #100191 "Code reader on the way"
I'd like to propose feature for MacOS and eventually windows too,
Using Handoff system, be able to just take Visual Studio Code and read through the code.

i would find it super useful on my smoke/coffee breaks, or when im travelling, so i can actually think or revise code before commiting.

[2020-06-15 12:51] Tyriar commented on #99874
It's cached by workspace as a lot of this usage would be workspace specific.

Interesting idea, but this what I mean by it's out of our hands is something like this is unexpected from the user and hacky imo.

This is a idea that I liked, I don't think there's an issue tracking it yet though.

[2020-06-15 12:53] kesavamuthu commented on #100120
It's windows 10.
OS Version:       Windows_NT x64 10.0.18363

[2020-06-15 12:57] alexr00 commented on #100133
Duplicate of https://github.com/microsoft/vscode/issues/64358

[2020-06-15 12:58] #100133 closed

[2020-06-15 13:01] mfaridzia commented on #100185
I tried to switch to dom mode before, but it's still the same.

Settings.json

{
    "workbench.colorTheme": "Plastic",
    "workbench.iconTheme": "vscode-icons",
    "explorer.confirmDelete": false,
    "javascript.updateImportsOnFileMove.enabled": "always",
    "editor.tabSize": 2,
    "editor.multiCursorModifier": "ctrlCmd",
    "editor.lineHeight": 30,
    "window.zoomLevel": 0,
    "editor.fo

[2020-06-15 13:07] janat08 commented on #100128
Basically you can't expose ports in web version of visual studio online, renamed codespaces. It links here for feature requests, I hate Microsoft.

[2020-06-15 13:07] janat08 commented on #100128
You must know what hmr/live reload is.

[2020-06-15 13:08] jrieken commented on #95308
I have pushed those changes, this is how you call the [api command](https://github.com/microsoft/vscode/blob/8434c86e5665341c753b00c10425a01db4fb8580/src/vs/editor/contrib/gotoSymbol/goToCommands.ts#L719)

[code]

[2020-06-15 13:08] nerdo opened #100192 "Add the ability to open a folder in a remote container directly rather than having to open it locally first"
I'd like to see the ability to open a folder directly in its remote container instead of having to open it locally and either wait for the prompt to open it in the container or to explicitly run the command from the palette.

Ideally it could be a command-line argument like
[code]

[2020-06-15 13:08] reuvygroovy commented on #100153
??

[2020-06-15 13:09] DanTup opened #100193 "Automatically apply terminal environment changes to terminals that have not been interacted with"
If extensions modify terminal variables (using `ExtensionContext.EnvironmentVariableCollection`), terminals need to be reloaded. If this has happened seconds after the terminal was created (eg. during startup/project open) it seems reasonable that the (unused) terminal could just be immediately recreated, rather than the icon being shown and the user having to do it.

(this was mentioned at https:

[2020-06-15 13:10] DanTup commented on #99874
Maybe it'd be useful to be able to set at both levels? For example if at startup, the Dart extension finds a user-setting that has an SDK path, it'd be reasonable to set that globally. If it's found in a workspace-specific setting, it could be set just for the workspace.

That way, loading a new project could use the global cache and avoid the user having to click buttons to fix the terminal for p

[2020-06-15 13:10] islamyoussef opened #100194 "There is no IntelliSense, quick fix, yellow bulb"
First of all thanks for every help you supply us with,
after updating Flutter & Dart something went wrong, first the colorfull code disappeared every thing became white -I use dark theme- second there is no yellow bulb or IntelliSense.

Note:
1. I'm using VS Code version 1.46.0
2. when i try to install any Extension error appers on the right side says
[Unable to open 'Extension: Todo Tree': An unk

[2020-06-15 13:12] jrieken commented on #100120
Thanks for clarifying. This is a duplicate of https://github.com/microsoft/vscode/issues/22087 and there is no single cause that known to us. Often AV software is at the bottom of this, delaying the fetching of our application bundle.

[2020-06-15 13:12] #100120 closed

[2020-06-15 13:13] jrieken commented on #100153
This is me trying to talk to our triage bot. When powershell formatting hangs than you should have files this issue against them. To double check, when this happens can you format a typescript file?

[2020-06-15 13:15] isidorn commented on #100137
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-06-15 13:16] isidorn commented on #100151
Thanks for filling this issue. This works fine fine for me.
Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2020-06-15 13:20] reuvygroovy commented on #100153
what do you mean by a typescript file?

[2020-06-15 13:21] ebrolask commented on #99870
This fixed my issue. Thannks!

[2020-06-15 13:21] #99870 closed

[2020-06-15 13:23] jrieken commented on #100153
a file that contains typescript source code

[2020-06-15 13:23] deepzeafish opened #100195 "Follow link for files no longer working"
- VSCode Version: 1.46
- OS Version: Catalina

Issue Type: <b>Bug</b>

Until recently I could Cmd+left click on a file path and VS Code would open the related file:

[code]

But now I'm getting this error:

I disabled all installed extensions, but the problem persists.

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T08:59:06.977Z)
OS version: Darwin x64 19.5.0

[2020-06-15 13:25] roblourens commented on #99657
This works fine for me. Can you check whether exclude patterns or .gitignore could be keeping vscode from searching those files? https://github.com/microsoft/vscode/wiki/Search-Issues

[2020-06-15 13:30] reuvygroovy commented on #100153
I didn't try and also don't have one. I mainly got into this issue with PowerShell. Even with the same file/code, the problem sometimes crops up and sometimes dissapears.

[2020-06-15 13:31] #95308 closed

[2020-06-15 13:32] #100153 closed

[2020-06-15 13:32] #99924 closed

[2020-06-15 13:33] Tyriar commented on #99924
Thanks for the feedback all, I've removed the hover and highlight all together for the search workspace links.

[2020-06-15 13:37] Tyriar commented on #99874
Well if prepending to PATH works then you can do this as an extension anyway, it's would essentially just be a convenience method on top of this API.

[2020-06-15 13:38] ashlinchak commented on #28795
So annoying bug and so simple fix - https://gitlab.gnome.org/GNOME/mutter/-/merge_requests/181/diffs?commit_id=5a71ed44115f730263086218316839fad006b71c

For updating Gnome I had to upgrade to Ubuntu 20.04. Now all works fine as it should have been :v:

[2020-06-15 13:39] tabaddor commented on #96891
Interesting. But even when the user is zooming in or out, when the user stops this action, doesn't the CodeLens return to the correct position?

[2020-06-15 13:41] #99874 closed

[2020-06-15 13:42] Tyriar commented on #100185
Remove this: `"terminal.integrated.lineHeight": 30`

![image](https://user-images.githubusercontent.com/2193314/84664442-6986dd00-aed3-11ea-999a-86806dc93aba.png)

[2020-06-15 13:42] #100185 closed

[2020-06-15 13:43] tangentyh opened #100196 "Snippets suppress string auto completions"
Issue Type: <b>Bug</b>

After updating to the new version 1.46.0, I found string auto completions got suppressed by snippets, as the gif shows, and this problem persists in insider version. By saying "suppressed" I mean that when there are snippet candidates in auto completions, the string candidates disappear.
![Jun-15-2020 21-19-35](https://user-images.githubusercontent.com/13913131/84663154-591

[2020-06-15 13:43] Tyriar commented on #100178
Please provide a screenshot of [a gif](https://gifcap.dev/) illustrating the problem (attaching images won't work via email, you need to go to github.com). See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more general info on how to report actionable terminal issues.

/label "needs more info" integrated-terminal

[2020-06-15 13:44] amirmeimari commented on #42253
I'm sure a shrunk version or a custom setting is needed. I like it to be as small as JetBrains WebStorm tab size is.

![image](https://user-images.githubusercontent.com/34706947/84664457-d205a680-af33-11ea-9027-96bf79c94b8d.png)

[2020-06-15 13:44] glacjay commented on #100151
@isidorn just tried the insiders (freshly downloaded one) and the same happened :-(

[2020-06-15 13:46] Tyriar commented on #100174
/duplicate https://github.com/microsoft/vscode/issues/74620

[2020-06-15 13:46] #100174 closed

[2020-06-15 13:50] Tyriar commented on #97682
Can you share your settings.json?

[2020-06-15 13:50] mfaridzia commented on #100185
Yay, it worked, thank you very much.

[2020-06-15 13:50] #100131 closed

[2020-06-15 13:51] Montago commented on #63975
+1

[2020-06-15 13:53] isidorn commented on #100151
@glacjay can you please post a picture, or a short gif? What is the menu key?

[2020-06-15 13:54] isidorn commented on #100164
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-06-15 13:58] glacjay commented on #100151
![output](https://user-images.githubusercontent.com/292719/84666058-32581080-af53-11ea-931b-747d0c5bd6d4.gif)

[2020-06-15 14:00] #100160 closed

[2020-06-15 14:02] jrieken commented on #99136
I have pushed a change that makes the selection color almost transparent when a cell isn't selected anymore. I think that's better than unsetting the selection of an inactive editor. Let me know what you think.

![Jun-15-2020 16-00-35](https://user-images.githubusercontent.com/1794099/84666474-687c9c80-af21-11ea-9a64-627a8539c976.gif)

[2020-06-15 14:02] Montago opened #100198 "Multiline select doesn't start where mousedown occurs"
Issue Type: <b>Bug</b>

When starting a column / multiline select, the selection doesn't start where the mousedown event occurs (like in Visual Studio 2019)

This makes it really annoying to do multiline selects.

eg, when editing 5 lines of HTML elements and you want to add a 'class=""' to all of them. In order to do this, you first need to set the carret on the first line and THEN you can select

[2020-06-15 14:02] jrieken commented on #99136
⬆️ fyi @misolori

[2020-06-15 14:02] glacjay commented on #100151
![图片](https://user-images.githubusercontent.com/292719/84666491-b90ced80-af53-11ea-8119-d4b9c4b9164f.png)

This is the menu key, and it's usually being used to call out the context menu, just like the right mouse button, but without a mouse.

[2020-06-15 14:06] yicainiao opened #100199 "No terminal, no workspace, no working directory on startup of a web UI"
Anyone knows why I don't have a working directory when I launch a Web UI of VS code?

I can open the UI via browser, but seems that I don't have any valid working directory. I cannot connect to my server via terminal, or save a new file to any path.

[2020-06-15 14:06] dzpt commented on #65352
@xeew i'm using Atom icons for above theme.
sure.

[2020-06-15 14:07] isidorn commented on #100151
Thanks for providing more details. However this works just fine for me on Mac and Win.
However I do not have the menu key so I triggered the context menu via Ctrl+Shift+F10.

For know let's keep this issue opened and we see if more people hit it.

[2020-06-15 14:09] theAkito opened #100200 "Spamming DEL on Keyboard Shortcuts view duplicates entries"
- VSCode Version: 1.46.0
- OS Version:
[code]

Steps to Reproduce:

1. Open Preferences -> Keyboard Shortcuts
2. Spam DEL key
3. See duplicate entries created in `keybindings.json`, if you spam DEL key too quickly.

Does this issue occur when all extensions are disabled?: Yes

[2020-06-15 14:13] gjsjohnmurray commented on #100198
Does this occur after you run the Command Palette command to reload with all extensions disabled?

[2020-06-15 14:13] JacksonKearl commented on #100143
Thanks!

[2020-06-15 14:15] glacjay commented on #100151
shift-f10 works fine for me, so I think I must use this instead for now.

Thank you anyway. Waiting for your good news.

[2020-06-15 14:15] tabaddor commented on #100016
I can take a look at this issue.

Not incredibly familiar with the codebase, but where should I be looking?

[2020-06-15 14:17] isidorn commented on #100115
Ok, so the gist is: when there is a config with the same name in the launch.json it gets read. As a workaround I suggest you simply give a different name to the dynamic launch configuration. For example "Dart " with a space at the end.
We can look into fixing this issue on our end in the future when we introduce a distinction between dynamic configuraitons and regular ones - the distinciton which

[2020-06-15 14:19] CodeWithAryann opened #100201 "Can you add In-editor shell command runner to vscode like in pycharm? -: Aryan"

[2020-06-15 14:22] JacksonKearl opened #100202 "Adopt GPU-based issue classification"
Enable the new GPU-based models to run on the vscode repo in an opt-out arrangement, with monthly auto-update and per-label confidence adjustments..

[2020-06-15 14:22] iliyang commented on #11387
As another example, [Diffchecker](https://www.diffchecker.com) also supports word wrapping. [Here](https://www.diffchecker.com/OWTMaTI7)'s an example (where the diff view has some extra new lines, but that's probably some bug).

[2020-06-15 14:23] dreamflasher opened #100203 "Folder settings don't work"
- VSCode Version: 1.46.0
- OS Version: Ubuntu 18.04 LTS

Steps to Reproduce:

1. Create workspace with two folders A and B
2. Change folder setting A: `"python.formatting.provider": "black"`
3. Change folder setting B: `"python.formatting.provider": "yapf"`

# Expected Result
Formatting in folder A will be done by black, and formatting in B by yapf.

# Actual Result
Formatting in both folders is d

[2020-06-15 14:24] #92660 closed

[2020-06-15 14:24] testforstephen commented on #98653
Have tried the fix in the insider, looks like the dirty text models don't exist any more. But i observe a side effect on the moving file scenario.

A typical workflow as below:
- Open file A.java in VS Code.
- Modify file A.java and add some contents, and leave it unsaved.
- Drag and drop A.java to a new folder f1.
- I observed the following events happening:
-> didClose { uri: A.java }
-> didOpen

[2020-06-15 14:25] JacksonKearl opened #100204 "Provide a notebook SDK"
Create documentation for creating notebook extensions, with helpful code samples and examples of how to create providers which perform common actions.

See webview/custom editor docs for examples.

[2020-06-15 14:26] aeschli commented on #100176
Yes, to XML aware folding has to come from an extension. https://marketplace.visualstudio.com/items?itemName=redhat.vscode-xml is an XML extension that does that.

[2020-06-15 14:26] #100175 closed

[2020-06-15 14:27] tabaddor commented on #99512
I can look into this, but does this mean what the issue author documented above is expected behavior?

[2020-06-15 14:27] JacksonKearl commented on #100204
Tracking in https://github.com/microsoft/vscode-docs/issues/3784

[2020-06-15 14:27] #100204 closed

[2020-06-15 14:27] weinand opened #100205 "Add a tabular variables view for debugging"
Today the VS Code debugger UI shows data (aka "variables") only in a tree viewer.
However, trees are not ideal for tabular data, e.g. arrays of records where each record has multiple properties.

To improve this, we will add a tabular view mode to the VARIABLES view.

[2020-06-15 14:28] aeschli commented on #100119
We only have a dark high contrast theme/

[2020-06-15 14:28] weinand commented on #100205
The required work on a table widget is covered by https://github.com/microsoft/vscode/issues/99997

[2020-06-15 14:31] jrieken commented on #91555
closing this as duplicate of https://github.com/microsoft/vscode/issues/580. tho, no further action planned

[2020-06-15 14:31] #91555 closed

[2020-06-15 14:36] joaomoreno opened #100206 "Comments tree: implement accessibility provider"
Due to a bad cast, the comments tree went below the radar when we added accessibility to all lists and trees.

I caught this in the big refactoring of https://github.com/microsoft/vscode/pull/100179.

https://github.com/microsoft/vscode/blob/b01d675cd6cb2c24d41582fcb23210836d233b03/src/vs/workbench/contrib/comments/browser/commentsView.ts#L154-L154

[2020-06-15 14:36] isidorn opened #100207 "List does not fire onOpen when clicked on focused element"
1. `explorer.autoReveal: false`
2. Open a file via explorer, close it in the editor
3. Now the file is focused but not selected in the explorer
4. Click on the file -> it is not opened in the editor 🐛

[2020-06-15 14:41] bpasero commented on #98653
@testforstephen I am not sure what you are trying to build, but do you maybe rather wanna use `vscode.onWillRenameFiles` and `vscode.onDidRenameFiles` to participate in that operation?

[2020-06-15 14:43] bpasero commented on #100157
While this probably fixes the issue, isn't there a typing issue that `text` can be `null`? Feel free to move back to me if you have not touched that part recently.

[2020-06-15 14:47] aeschli commented on #99938
This should work. The code lens engine should see the document as `vscode-remote://wsl+Ubuntu/home/ubuntu/...` and I guess the filter should work.

[2020-06-15 14:47] gclements-chwy commented on #99829
I ran into this too. Things are fine for a little while. Then I do a global search and keys stop entering into the text box and it's time for a hard reboot. The latest incident: I read this ticket, started VS Code, went to global search, I had `if (usePares) {` from a previous search, I clicked on the gear next to files to exclude and everything lagged and it's time for a hard reboot. This is a de

[2020-06-15 14:49] roblourens commented on #99512
If you have workspace folders `foo` and `foo/bar`, and `foo` as a child folder `bar`, then I don't know how you distinguish between the two possible `./foo/bar`, it feels like the `\` in a workspace folder name should have to be escaped. I feel like we would have disallowed `/` in a workspace folder name if we had thought of it :)

Feel free to look into it but I don't want to commit to a particul

[2020-06-15 14:52] jasonwilliams opened #100208 "File Explorer: Add shortcut to go up to the parent directory"
Let's say In the file explorer i'm hovered over a folder in `node_modules`.
We know node_modules can be very big, and after inspecting a vendored file I want to close the directory (using the keyboard).

I'm usually 100 folders deep and i want to get back out, like this screenshot:
<img src="https://user-images.githubusercontent.com/936006/84671806-b55f7380-af1f-11ea-9e55-c9dc4150385a.png" width=3

[2020-06-15 14:53] IllusionMH commented on #100203
/extPython

This setting comes is from Python extension and it's support/behavior should be reported there.

[2020-06-15 14:53] ParogDev opened #100209 "Remote VSCode no access to shell ( Exit code 0 and 2 ) / No acess to VSCode terminal"
Issue Type: <b>Bug</b>

1. Connect to remote server with VSCode using SSH ( Key + Pass )

------

My hosting had to change something to allow VSCode/Node to create threads and connect properly, and now it all works, except anything to do with bash or sh.

Once connected I get a first error notification;

`The terminal process terminated with exit code: {0}`

Followed up with 3 other error notifica

[2020-06-15 14:53] #100203 closed

[2020-06-15 15:00] joaomoreno commented on #100016
@tabaddor I suggest you go here first: https://github.com/microsoft/vscode/wiki/How-to-Contribute#contributing-to-visual-studio-code and start with `good first issue` labeled issues.

[2020-06-15 15:02] sandy081 commented on #100201
Can you please be clear about what is this In-editor shell command runner? Is it something specific to Python?

[2020-06-15 15:03] sandy081 commented on #100200
Not sure what you meant by Spam DEL key. Can you please provide a video or gif to know what it is about.

[2020-06-15 15:04] sguot opened #100210 "The workspace could not save the added directory."
Hello, I have a problem adding to the directory in the workspace. After restarting the editor, it will be cleared and need to be added again.

---

* VS Code version: 1.46.0
* OS version : MacOs Catalina 10.15.4 (19E287)
* extensions : empty(Empty the installation)
* steps
   1. start the vscode.
   2. `explorer` -> `Open Folder` => Select a directory to open.
   3. `File` => `Close Window`.
   4.

[2020-06-15 15:04] isidorn commented on #100157
@bpasero yeah there is a typing issue, and yes I did not touch the typgins there. Assigning also to you. The issue is that probably some extension is not respecting the contract and we are not validating input

[2020-06-15 15:05] sandy081 commented on #100195
May I know where are you clicking such links?

[2020-06-15 15:05] #99797 closed

[2020-06-15 15:06] #99983 closed

[2020-06-15 15:06] theAkito commented on #100200
@sandy081

Thanks for your response.

1. Open Preferences -> Keyboard Shortcuts
2. `for i in shortcuts; do press DEL; sleep 0.01s; done`
3. See duplicate entries created in keybindings.json, if you spam DEL key too quickly.

[2020-06-15 15:06] isidorn commented on #100208
Press the left key please.

[2020-06-15 15:06] #100208 closed

[2020-06-15 15:08] testforstephen commented on #98653
YES, i register listener on the renameFiles event for refactoring operation. IMO, how you restore the model is something that the client implements, and from the user's point of view, i just need know when to close the old file and open the new file. didChange is not user-operated.

[2020-06-15 15:10] sandy081 commented on #100194
For the issue related to Dart & Flutter please file issue against those extensions.

[2020-06-15 15:10] #100194 closed

[2020-06-15 15:13] jasonwilliams commented on #100208
@isidorn Thanks I wasn't aware that worked

[2020-06-15 15:13] jrieken commented on #100196
Please retry without extensions enabled. Select 'Extensions View > ... > Disable all Installed Extensions' and try again. Thanks.

<img width="577" alt="screen shot 2018-05-09 at 08 45 10" src="https://user-images.githubusercontent.com/1794099/39799711-82d97e00-5365-11e8-8bd8-6b6fc3500370.png">

[2020-06-15 15:15] sandy081 commented on #100109
/duplicate

[2020-06-15 15:16] #100109 closed

[2020-06-15 15:18] isidorn commented on #100208
You're welcome.

[2020-06-15 15:18] bpasero commented on #98653
It is true that we first load the model from disk and then update it with the previous contents if you look at this code:

https://github.com/microsoft/vscode/blob/1cc95bad5440a0ce78db0bf0d2913f3f48325166/src/vs/workbench/services/textfile/common/textFileEditorModelManager.ts#L224-L240

It would probably make more sense to load the model directly with the contents we had before, but we currently h

[2020-06-15 15:19] bpasero commented on #98653
I suggest a follow up issue to investigate 👍

[2020-06-15 15:20] tangentyh commented on #100196
@jrieken I think I mentioned in the description that I also tried in the insider version, from which I initialized this issue. And the insider version is newly installed with no extension installed, as the last line shows:

[2020-06-15 15:20] isidorn commented on #100113
F1 > toggle centered mode
Does this help?
Also you can experiment with
	"zenMode.centerLayout": false
if you do not want this

[2020-06-15 15:21] isidorn commented on #100210
I can not reproduce this. Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2020-06-15 15:24] Gruntfuggly opened #100211 "Support pinned tabs when tabs are disabled"
I really want to use the pinned tabs feature, but I don't use the tab row - it's unnecessary when I can just use the list of open editors. Could the pinned tab functionality be applied to open editors too?

[2020-06-15 15:24] Stanzilla opened #100212 "Workspace config no longer getting applied correctly in WSL mode"
When using the WSL Remote extension to connect to a workspace, certain workbench color customizations no longer work. This worked in 1.45. It also works when not using WSL mode.

Version: 1.46.0 (system setup)
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T09:03:20.462Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

[2020-06-15 15:27] sandy081 commented on #100078
Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/

[2020-06-15 15:28] bpasero commented on #100085
/duplicate https://github.com/microsoft/vscode/issues/10144

cc @kdrag0n

[2020-06-15 15:28] #100085 closed

[2020-06-15 15:29] sandy081 commented on #100073
/duplicate

[2020-06-15 15:30] #100073 closed

[2020-06-15 15:31] jrieken commented on #100102
It's actually not super trivial because providers are very dynamic and them being applicable or not can different from file to file

[2020-06-15 15:31] heartacker commented on #97001
YES, I REALLY NEED THIS

[2020-06-15 15:32] bpasero commented on #100157
Actually the type is proper for extensions, someone must have really disabled types to sneak in `null`.

[2020-06-15 15:32] #100157 closed

[2020-06-15 15:32] #100068 closed

[2020-06-15 15:33] bpasero commented on #100211
Yeah I like that, there is nothing preventing us from supporting it, though we currently have no way of indicating that a tab is pinned when tabs are disabled. Maybe we simply do not decorate it at all and you have to know that you pinned it?

[2020-06-15 15:34] bpasero commented on #100055
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-06-15 15:34] sandy081 commented on #100049
I suspect this is nothing to do with VS Code as you said `hit save`. Please file the issue against the extension using which you are debugging/running the program.

[2020-06-15 15:34] #100049 closed

[2020-06-15 15:35] #100062 closed

[2020-06-15 15:35] #100046 closed

[2020-06-15 15:38] sandy081 commented on #100035
Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/

[2020-06-15 15:39] Gruntfuggly commented on #100211
Yes, I guess there's no real necessity to indicate that an editor is pinned. It could be shown in the hover (like it shows modified). If I was being really demanding, then a small pin icon where the close (x) icon appears would work too. You already have a "pinned" codicon.

[2020-06-15 15:39] sandy081 commented on #100025
/duplicate

[2020-06-15 15:39] alexr00 commented on #99563
Introduced by https://github.com/microsoft/vscode/commit/6e50f24e64dd085e373376c381253ead02069ea1

[2020-06-15 15:40] #100025 closed

[2020-06-15 15:40] DanTup commented on #100115
Yeah, that sounds better than being random, I'll do that in the meantime. Thanks!

[2020-06-15 15:42] isidorn commented on #100036
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-06-15 15:42] jrieken commented on #100196
This is what I see from master...

<img width="654" alt="Screenshot 2020-06-15 at 17 42 03" src="https://user-images.githubusercontent.com/1794099/84677809-88b35800-af2f-11ea-954d-3dcab65c1e9a.png">

[2020-06-15 15:44] isidorn commented on #100013
Sounds like file events missing on wsl, for now forwarding to @aeschli as he might know a duplicate of

[2020-06-15 15:44] isidorn commented on #100021
/extPython

[2020-06-15 15:44] #100021 closed

[2020-06-15 15:45] bpasero commented on #100211
Maybe @misolori has ideas.

[2020-06-15 15:46] bpasero commented on #100012
I do not understand this and would like to ask for a screen recording.

[2020-06-15 15:47] Gruntfuggly commented on #100211
Something like
![image](https://user-images.githubusercontent.com/376658/84678334-cad89b80-af27-11ea-9c03-b8eb0d49dffa.png)

[2020-06-15 15:47] isidorn commented on #99563
@alexr00 sorry about the breakage! Are you already looking into this? I can also dive in if needed.

[2020-06-15 15:47] isidorn commented on #100031
Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2020-06-15 15:48] RMacfarlane commented on #100054
Hey @peterkos, here's an explanation of why dialog appears: https://github.com/microsoft/vscode/issues/97171#issuecomment-625439349 The limit is based on number of characters, not bytes, and is unfortunately pretty easy to hit with just system info/extensions.

I'm not seeing what you describe with that information not being copied when you click "OK" in the dialog - all of the diagnostic informat

[2020-06-15 15:49] sandy081 commented on #100004
Can you please elaborate more here.. what does the browser contain? Are you using some extension here?

[2020-06-15 15:52] bpasero commented on #100211
Somehow this pin icon never feels right to me, but what you are suggesting somewhat makes sense to me.

However, I can see people wanting to both have a pin icon and a close icon and then it gets very heavy imho.

[2020-06-15 15:53] tangentyh commented on #100196
![image](https://user-images.githubusercontent.com/13913131/84678555-bbc30f00-af62-11ea-8936-58db47cf1ba0.png)

@jrieken Very strange then... Try the version I am on?

[2020-06-15 15:54] jrieken commented on #100196
well, master is what builds insiders...

[2020-06-15 15:55] Gruntfuggly commented on #100211
I know what you mean - although it is the 'pinned' icon - it is still unpinned.

The close icon only appears on hover (apart from the current editor) so I would be happy if the close icon took priority over the pinned icon.

[2020-06-15 15:56] misolori commented on #100211
Not sure if using text as an alternate option would work any better (it's less noisy but takes up more space). We could also use it in the editor if we want to. We'd also need to make sure this works when the filename is truncated.

![image](https://user-images.githubusercontent.com/35271042/84679196-d86d3180-aee5-11ea-8527-e894319c8fb7.png)

[2020-06-15 15:56] sandy081 commented on #100051
Please file issue against the extension causing this.

[2020-06-15 15:56] #100051 closed

[2020-06-15 15:57] sandy081 commented on #100041
Please file issue against the c++ extension.

[2020-06-15 15:57] #100041 closed

[2020-06-15 15:58] feelipecl commented on #100035
I made the test of the page the photo appeared to me, when entering the console all these problems appear

![image](https://user-images.githubusercontent.com/66842018/84679442-4bcf6d00-aeff-11ea-99a2-5c795ea98a63.png)
![image](https://user-images.githubusercontent.com/66842018/84679459-51c54e00-aeff-11ea-919d-125df83dccab.png)

[2020-06-15 15:59] bpasero commented on #100211
@misolori yeah so a decoration such as you show would also help for https://github.com/microsoft/vscode/issues/98161 if the tab was actually shown in full. Maybe something to play around with, it could even literally be the pin icon at that position.

[2020-06-15 15:59] jrieken commented on #99989
This is not actionable! Please add repro steps

[2020-06-15 15:59] sandy081 commented on #99937
Please specify the program you are running and are you using any extension for doing so.

[2020-06-15 15:59] erfanium commented on #100025
@sandy081 Duplicate of what issue? I didn't find anything.
Thanks.

[2020-06-15 15:59] tangentyh commented on #100196
@jrieken I installed the insider version from `brew` and as you can see it is on `0288447`, which is from yesterday and I guess the problem may be fixed in later commits. Will try the cutting edge build to see if the problem persists.

[2020-06-15 16:01] Dr-Nuke opened #100213 "debugging on python error: Ctrl+click gives "Search Workspace" instead of "jump to line""
- VSCode Version:
Version: 1.46.0 (user setup)
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T09:03:20.462Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362
- OS Version:
Win 10

Steps to Reproduce:

1. produce an error in a python script
![image](https://user-images.githubusercontent.com/56429408/84679298-70dcd380-af3

[2020-06-15 16:02] misolori commented on #100211
Adding a pin icon instead might throw off the balance, but we can definitely play around with this:

![image](https://user-images.githubusercontent.com/35271042/84680010-e66f8200-aee6-11ea-8ef1-e3f875b78b38.png)

[2020-06-15 16:03] sandy081 commented on #100213
Please file the issue agains the extension that is providing this feature. In this case I think the python extension.

[2020-06-15 16:03] #100213 closed

[2020-06-15 16:03] Tyriar commented on #99875
@JacksonKearl stack traces look like Brazil Portuguese apparently.

[2020-06-15 16:04] Tyriar commented on #99875
Please provide a screenshot of [a gif](https://gifcap.dev/) illustrating the problem (attaching images won't work via email, you need to go to github.com). See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more general info on how to report actionable terminal issues.

/label "needs more info" integrated-terminal

[2020-06-15 16:05] maristhek commented on #100055
Tnx.  Got an answer from John Murray : double-click the tab or right-click it and choose 'Keep Open'.  Undocumented feature ?  I could not find  a reference to it.

From: Benjamin Pasero <notifications@github.com>
Sent: Monday, June 15, 2020 8:35 AM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Maris Kurens <maris@analyticgear.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft

[2020-06-15 16:05] Dr-Nuke commented on #100213
no, actually same behavior for a shell script

[2020-06-15 16:05] alexr00 commented on #100092
@roman02 what language is this file? Can you provide a copy/paste-able snippet that I can reproduce the issue with?

[2020-06-15 16:06] alexr00 commented on #99563
@isidorn I'm already looking, I just dropped the commit in there so I can keep track of it!

[2020-06-15 16:06] Bu11etmagnet opened #100214 ""Go to file" truncates paths and is non-resizable"
Version: 1.45.1 (system setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Create a deep directory hierarchy
2. Create several files with the same name in different directories
3. Press Ctrl+P and type in the name of the file

![

[2020-06-15 16:06] shungo27 opened #100215 "bug: "editor.find.loop": false"
If'"editor.find.loop": false' is set, it will not be displayed correctly when there is only one search result.

- VSCode Version: 1.46.0
- OS Version: macOS 10.14.6

Steps to Reproduce:

1. settings.json "editor.find.loop": false
2. copy/paste this text
[code]
3. Move the cursor to the end of the file(cmd + down arrow).
4. cmd + F and find "abc".

Does this issue occur when all extensions are disa

[2020-06-15 16:07] PenelopeFudd opened #100216 "Code won't update on macOS 10.15.5"
- VSCode Version: 1.46.0
- OS Version: MacOS 10.15.5 Catalina

Steps to Reproduce:

1. Start VSCode
2. Click 'Code > Check for updates'

"Cannot update while running on a read-only volume. The application is on a read-only volume. Please move the application and try again. If you're on macOS Sierra or later, you'll need to move the application out of the Downloads directory. See this link for more

[2020-06-15 16:08] mickaelistria opened #100217 "Support completion/intellisense of SCSS/SASS variables & mixins"
We've got a feature request in Eclipse Wild Web Developer for intellisense/completion for variable & mixins in SCSS files. It seems like this is a standard feature of the language thus it should IMO be part of the "reference" CSS language server that's in VSCode.
There is some extension that does that (https://github.com/mrmlnc/vscode-scss/ ) but there isn't much that's not reusable out of VSCode

[2020-06-15 16:08] connor4312 commented on #99981
Ok, thanks for checking. Can you add the following option to your user settings?

[code]

This will cause the the location of a log file to be printed to the Debug Console in VS Code. Then, please share that with me so I can root cause the freeze. Thanks!

[2020-06-15 16:09] connor4312 commented on #98778
@chrmarti terminal environment variables are set per-workspace. Maybe you're on an older workspace where the variable was previously set?

[2020-06-15 16:10] sandy081 commented on #100025
https://github.com/microsoft/vscode/issues/97328

[2020-06-15 16:11] mickaelistria commented on #100217
I did see some other slightly related issues, but I'm not sure one is a perfect match. Feel free to close if it's actually a dup.
@aeschli would such addition be welcome in the language server?
@mrmlnc if this makes sense to bring it into the CSS LS directly, would you be interested in merging your code in? That would be profitable to several other IDEs.

[2020-06-15 16:12] sandy081 commented on #100128
This description would have been helpful.

[2020-06-15 16:16] wivory commented on #97682
{
    "python.testing.nosetestsEnabled": true,
    "editor.formatOnSave":
true,
    "editor.acceptSuggestionOnEnter": "off",
    "editor.rulers":
[
        80,
        120
    ],
    "go.buildOnSave": "off",
    "go.vetOnS
ave": "off",
    "go.formatTool": "gofmt",
    "workbench.colorTheme": "D
efault Light+",
    "files.trimTrailingWhitespace": true,
    "editor.ren
derWhitespace": "boundary",

[2020-06-15 16:18] sandy081 commented on #91139
Thanks @dbaeumer. It seems TS and ESLint are not getting along with each other and generating different line numbers for same error.

I do not want to make any assumptions in the core to fix it. Hence leaving to @mjbvz to see if this difference can be removed or not.

[2020-06-15 16:20] sandy081 commented on #100200
Where are you writing this? Can you please provide a video ?

[2020-06-15 16:22] sandy081 opened #100220 "Send X-Execution-Id header to the requests to settings sync server"
Send `X-Execution-Id` header to the requests to settings sync server

[2020-06-15 16:23] sandy081 commented on #100035
Seems proxy issues

[2020-06-15 16:25] theAkito commented on #100200
@sandy081

Forgive me, if my explanations are confusing.

I am trying to say the following:
1. One should open _Keyboard Shortcuts_ in the _Preferences_ section in _File_, in the VS Code window.
2. You select 1 single shortcut in the list of Keyboard Shortcuts GUI.
3. You press the DEL key on your keyboard really quickly.
4. The DEL key deletes a shortcut.
5. If you press the DEL key on your keybo

[2020-06-15 16:25] connor4312 commented on #98054
One alternative Kai and I talked about last week is using the dropdown

![](https://memes.peet.io/img/20-06-015a5bb9-efc3-432e-876f-eae7a164533d.png)

In addition to "select default shell", "Create new terminal" could be one of the actions and/or extensions could contribute other actions to the area.

[2020-06-15 16:26] sandy081 commented on #99868
Ok it makes it clear and there is an ask for this already. Hence making it duplicate

[2020-06-15 16:27] sandy081 commented on #99868
/duplicate

https://github.com/microsoft/vscode/issues/40233

[2020-06-15 16:27] #99868 closed

[2020-06-15 16:28] misolori commented on #99244
Will add this today and we can gauge the feedback. This also applies to our Light theme, so will update that color to `#0090F1`

<img width="50%" src="https://user-images.githubusercontent.com/35271042/84682264-3ef44e80-aeea-11ea-9b95-0bcd2a7f47e7.png">

![Kapture 2020-06-15 at 9 28 04](https://user-images.githubusercontent.com/35271042/84682503-92ff3300-aeea-11ea-9458-c5d9f5908774.gif)

[2020-06-15 16:30] janat08 commented on #100128
Lol ye, I used the wrong term too, workspaces.

[2020-06-15 16:30] #86011 closed

[2020-06-15 16:33] #96158 closed

[2020-06-15 16:33] #99905 closed

[2020-06-15 16:33] #99996 closed

[2020-06-15 16:34] isidorn commented on #99244
Great, also works for me in Light.

[2020-06-15 16:35] #95926 closed

[2020-06-15 16:35] Tyriar commented on #98054
@connor4312 sounds like a good solution until we gets the tabs/new terminal dropdown separation 👍

[2020-06-15 16:44] RMacfarlane commented on #100074
Yeah, the extensions list is very useful, this is data we definitely want to have by default.

The system information is less often used, true, but sending it at the beginning can help speed up some issues instead of having to do a back and forth to get this information.

I would prefer to keep both as checked by default, so will close this. There is another issue to leverage GitHub login informat

[2020-06-15 16:44] #100074 closed

[2020-06-15 16:47] mjbvz commented on #100039
Please provide steps to reproduce (including extension code)

[2020-06-15 16:48] mjbvz commented on #100039
Actually, you are using the wrong in web inspector. See: https://code.visualstudio.com/api/extension-guides/webview#inspecting-and-debugging-webviews which documents how to inspect webviews

[2020-06-15 16:48] #100039 closed

[2020-06-15 16:50] Aamir2000 commented on #100004
# Explanation

what I mean here is that when we write html to let say for making a website or making a web component. Vscode should at least sync scrolling with the browser we're previewing our html inside and update the browser content as we type in real time. Make it so when we scroll our file in Vscode browser also scroll to the same point so we can see what we're changing or doing in real time

[2020-06-15 16:51] guillermoroblesjr opened #100221 "The TypeScript language service died unexpectedly 5 times in the last 5 Minutes."
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

Alert message showing at bottom of VS Code

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T08:59:06.977Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU

[2020-06-15 16:56] Brandon-Gui123 commented on #96891
Zooming in with your mouse scroll wheel first, then zooming in with `window.zoomLevel` will not set CodeLens position to how it is supposed to be. So far, CodeLens stayed at where it is.

As far as I saw, CodeLens resets its position when I:
- Typed a key into the editor with the glitched positioning of CodeLens in place;
- Switched the opened editor to another one in the same group (basically swi

[2020-06-15 17:05] edzkite commented on #99504
It appears that both providers are being hit, even though the golang provider doesn't show completions where I'd expect it to.
[code]

[2020-06-15 17:06] #99244 closed

[2020-06-15 17:11] cynicaloptimist commented on #100161
Updating my local git installation fixed this, thanks very much for the advice!

[2020-06-15 17:11] #100161 closed

[2020-06-15 17:13] shawee opened #100222 "Support reverse tunnel"
I am trying to do something like
`ssh -R ${remote_port}:localhost:${local_port} remote_address
`which opened a reverse port forwarding from my server and local machine
I tried to used vscode.workspace.openTunnel
(https://raw.githubusercontent.com/microsoft/vscode/master/src/vs/vscode.proposed.d.ts)
api but it only supports a forward tunnel.
Can we support a reverse tunnel as well?

[2020-06-15 17:13] sbatten commented on #100009
@sandy081 this behavior is expected with our current model of always restoring explorer on re-open. even though it is not pinned, it is the default view. @eamodio brought this up a bit back with regards to restoring the last view on restore.

[2020-06-15 17:18] sbatten commented on #100040
Windows 10 has a consistent built-in style for the title bar and that's something we can easily mimic. That's not the case for gtk themes as a user can do whatever they want. For this reason, we recommend the native experience on Linux.

[2020-06-15 17:18] #100040 closed

[2020-06-15 17:22] sbatten commented on #100084
merging with #100172

[2020-06-15 17:22] #100084 closed

[2020-06-15 17:29] greggman commented on #100062
This your problem not mine. your servers have been constantly building and building the repo costing you $$$$$$

I have don't nothing except click the fork button.

You're burning $$$$$. I'm telling you your house is on fire. And your ignoring the message. Good job!

[2020-06-15 17:34] jrieken commented on #99504
To know more about each completion you can do this: Trigger suggest, show suggest details (the secondary suggest widget), hit cmd+? to see where each completion comes from

[2020-06-15 17:38] bpasero commented on #100211
Oh yeah, does not look very elegant...

[2020-06-15 17:38] bpasero commented on #100055
Follow our docs to resolve this: https://code.visualstudio.com/docs/getstarted/userinterface#_preview-mode

[2020-06-15 17:38] #100055 closed

[2020-06-15 17:51] RMacfarlane commented on #98333
Hey @phgmacedo, this is currently expected behavior. Each window has its own instance of the "extension host" process, so there are multiple copies of each extension. To synchronize state between them, they poll the credential manager to see if another window has signed in/signed out. There is no OS event emitted when the credential manager is updated

[2020-06-15 18:03] eamodio commented on #100189
Can you provide  more details as to when/how you are seeing slowness?

[2020-06-15 18:08] misolori commented on #99136
I think this is fine for now, once we support cell background colors I'd imagine we'd move towards that to match the selection in the editor.

[2020-06-15 18:10] #58399 closed

[2020-06-15 18:11] misolori commented on #58399
Verifiers: check that you can use and modify the following colors in a Webview:

- `button.secondaryForeground`
- `button.secondaryBackground`
- `button.secondaryHoverBackground`

[2020-06-15 18:15] sbatten commented on #100094
Currently, we optimized based on location. As you can see side bar stacks vertically and panel stacks horizontally by default but if it is moved to the left or right it stacks vertically as well. The terminal in VS Code splits on its own and follows similar logic.

cc @sandy081 @joaomoreno @Tyriar

[2020-06-15 18:18] misolori opened #100223 "Add secondary button style to Button class"
Now that we secondary button color tokens from https://github.com/microsoft/vscode/pull/100023, we should wire this into our `Button` class as an option to use the secondary button style.

https://github.com/microsoft/vscode/blob/ba7c748250023ac1da4f7409746fb58c834cd43b/src/vs/base/browser/ui/button/button.ts#L18-L21

[2020-06-15 18:20] phgmacedo commented on #98333
@RMacfarlane This is reproducible even with only 1 window open.

And there should be a way to disable it lest having to delete the authentication extension folder. In previous versions it was possible to disable the "Microsoft Authentication" extension so that the CPU usage would not be an issue.

[2020-06-15 18:21] Colengms commented on #99914
We cannot know the active/inactive status of all if/ifdef regions until a semantic parse has been completed.  The boundary of such regions may be anywhere in code, except for within a string or comment.  Either we wait for a semantic parse, proceed without it and possibly fold incorrectly, and/or return a fresh set once that information is available.

[2020-06-15 18:26] RMacfarlane commented on #98333
The extension doesn't know how many windows are open, so it will also poll in the 1 window case.

@sandy081 What determines whether a built-in extension appears when querying "@builtin" in the extensions viewlet? The "GitHub Authentication" extension shows up there but not "Microsoft Authentication"

[2020-06-15 18:27] sbatten commented on #100147
@jrieken made it moveable, can you verify it functions as expected when moved

[2020-06-15 18:29] maristhek commented on #100055
Tnx.

Following the docs :  It is not indicated that preview mode enabled is the default.  It is not indicated that preview mode enabled tabs can be controlled by mouse clicks.

From: Benjamin Pasero <notifications@github.com>
Sent: Monday, June 15, 2020 10:39 AM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Maris Kurens <maris@analyticgear.com>; Author <author@noreply.github.com>
Subject:

[2020-06-15 18:30] mjbvz commented on #100221
Does with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

Also when this happens, the error notification should include 'report issue' button. Click that to get the  error stack

/needsMoreInfo

[2020-06-15 18:32] IllusionMH commented on #100213
VS Code supports go to line for something line `test.py:1`, but `File "test.py", line 1` is custom format and far from something guessable/parsable.
Also see https://github.com/microsoft/vscode/issues/98277#issuecomment-640658189 which mentions that spaces in links are not supported.

[2020-06-15 18:39] mjbvz commented on #100121
Does this happen in other workspaces?

Does this reproduce with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-06-15 18:40] mjbvz commented on #100107
Please share a complete, self-contained code example that demonstrates the issue

[2020-06-15 18:40] mjbvz commented on #100107
Also, test on VS Code 1.46

[2020-06-15 18:42] peterkos commented on #100054
Thanks for the info! That makes a bit more sense. I'm using VSCode version 1.46.0; also updated my original post.

Also I think that was my fault; I tried again (a few times to make sure) and it does indeed copy all info. I must have copied the steps to reproduce myself, overwriting the clipboard 😅

[2020-06-15 18:43] edzkite commented on #99504
What does the secondary suggest widget look like, and how can I toggle it on?

[2020-06-15 18:45] roblourens opened #100224 "Notebook editor layout glitch while resizing"
![Jun-15-2020 13-44-16](https://user-images.githubusercontent.com/323878/84694149-56ddc980-af0e-11ea-9f1c-fcbfeede2018.gif)

Seems like the basic issue is that here, we are using the old scrollWidth to compute the new height, with the new total width, so when sizing the editor to be smaller, `scrollWidth` is always `> width`. I see the same wrong computation in a basic text editor, but I guess it'

[2020-06-15 18:47] sbatten commented on #99998
I haven't found out the cause yet, but I can repro.

[2020-06-15 18:47] mjbvz commented on #100184
This is by-design. `LazilyResolvedWebviewEditorInput ` is just a specialized implementation of `WebviewEditorInput`. From the workbench's point of view, the two use the same editor and are functionally the same

We only need to differentiate `LazilyResolvedWebviewEditorInput` for the implementation of webview editors themselves, such as: https://github.com/microsoft/vscode/blob/cadabab73fef89fe0c4

[2020-06-15 18:47] #100184 closed

[2020-06-15 18:51] mjbvz commented on #91139
@sandy081 As far as I can tell these error do not come from TypeScript, they are both from eslint. Please follow up with @dbaeumer to see see if eslint needs to be fixed or if the problems view can be less strict when checking if two errors are equivalent

[2020-06-15 18:52] mjbvz commented on #99833
Can you please provide a list of steps to reproduce the problem

[2020-06-15 18:56] jianwu opened #100225 "Data corruptted when pasting large JSON in the terminal"
When pasting a large JSON content in the terminal, the pasted data is corrupted occasionally. The larger the JSON content, the chance of corruption is higher. If I same content in the system terminal, everything works normally.

Here is one example:
[code]
When paste in the terminal, it will becomes:
[code]

[2020-06-15 18:57] kesavamuthu commented on #100189
Actually It got closed. I duplicated the issue  #22087 sorry I am a newbie. Also, #22087 denoted slowness because of AV software that's ok. Can I have any solution so that I can do my work on vs code?

[2020-06-15 18:57] #100030 closed

[2020-06-15 19:00] strowk opened #100226 "1.46 brings back "git fatal error: file is outside directory""
- VSCode Version: 1.46.0
- OS Version: Windows 10

Steps to Reproduce:

Same as in https://github.com/microsoft/vscode/issues/89373, except the version is latest

Does this issue occur when all extensions are disabled?: Yes

I see that fix https://github.com/microsoft/vscode/commit/830992d818cbf1a09e744f0ee475c542763bdfff
does not work, because "Output" shows
[code]
"C:" here is lower case. The pr

[2020-06-15 19:02] roblourens commented on #100224
@rebornix I think I've done all the debugging I can do on this. The change in my screenshot might be enough or it might break stuff. Do you have any idea or should we loop in Alex?

[2020-06-15 19:09] roblourens commented on #99189
This happens with DND everywhere, such as in the explorer. You don't get mouse events during DND. You could listen to drag events along with the mouse events.

[2020-06-15 19:17] gjsjohnmurray commented on #100226
Others have reported that updating their local Git version resolves this. What version are you using? Are you able to update?

[2020-06-15 19:18] SapekshGupta opened #100227 "merge-conflict Options Not Available in Settings"
Issue Type: <b>Bug</b>

Cannot find Merge coflict options such as merge-conflict.codelens in VSC settings because of which I am not able to see the code difference options and the inline conflict resolution options when there is conflict during git merge.

Steps: Run below command in git-bash terminal:
`git merge bugfix`
Then observe the file main.html which is under conflict. Ideally, the file sh

[2020-06-15 19:28] steodor opened #100228 "Auto-Import not working as Object key"
- VSCode Version: Version: 1.46.0 (user setup)
- OS Version: Windows_NT x64 10.0.18362
- Other versions from the About popup:
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T09:03:20.462Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0

Steps to Reproduce:

1. Create empty folder; Open it with VSCode
2. Create file `a.js` with content:

[code]

3.

[2020-06-15 19:31] #99386 closed

[2020-06-15 19:34] strowk commented on #100226
Git is of "git version 2.12.0.windows.1", but I'm not sure if that's the git problem.
It seems like git does not like lowercase drive names (I checked that specifically) and I think the mentioned fix was lost between versions.

That method `add` has changed between
https://github.com/microsoft/vscode/blame/1.42.0/extensions/git/src/git.ts#L1159
and
https://github.com/microsoft/vscode/blame/1.46.0/

[2020-06-15 19:46] Tevin-wd opened #100229 "The terminal process terminated with exit code: 127"
Issue Type: <b>Bug</b>

I am not able to use the terminal on any project i open up and I am not sure how exactly to fix it. I have researched and googled the error it pops up but I just do not have the knowledge or experience to understand it and execute and fix. I love VScode and would love to get this fixed or learn a way to like reset all of VScode so that i can just start fresh. Every time i u

[2020-06-15 19:50] sbatten commented on #99998
Looks like it was introduced by this change. https://github.com/Microsoft/vscode/commit/5356ceb23cca764874d675fc01f3c09839cb26f0

win is undefined when no window is open  https://github.com/microsoft/vscode/blob/5356ceb23cca764874d675fc01f3c09839cb26f0/src/vs/platform/menubar/electron-main/menubar.ts#L116-L119

[2020-06-15 19:51] #100228 closed

[2020-06-15 19:53] Tevin-wd opened #100230 "The terminal process terminated with exit code: 127"
Issue Type: <b>Bug</b>

I am not able to use the terminal on any project i open up and I am not sure how exactly to fix it. I have researched and googled the error it pops up but I just do not have the knowledge or experieince to understand it and excute and fix. I love VScode and would love to ge tthis fixed or learn a way to like reset all of VScode so that i can just start fresh. Everytime i un

[2020-06-15 19:53] steodor commented on #100228
Never mind, i'll just type the destructured import (where auto-complete works) then copy/paste that in the Object literal. Would be nice to fix and conceptually i still consider it a bug, but it's by no means an annoying issue any more, so it just became very low priority. Thanks again!

[2020-06-15 19:54] brettfo opened #100231 "Feature Request: New notebook cell should have language as previous."
When creating a new notebook cell, it appears to set its language to the first item in the notebook's supported language list.  If there is a previous cell, it would be beneficial to use that cell's language for the new cell because the developer has already expressed an intent to use the non-default language.

For an example, install the latest [.NET Interactive Notebook extension](https://market

[2020-06-15 19:59] rebornix commented on #100224
thanks for the investigation, @alexdima can you confirm if it's safe?

[2020-06-15 20:05] IllusionMH commented on #100230
/duplicate of #100229

[2020-06-15 20:06] #100230 closed

[2020-06-15 20:10] brettbbonner opened #100232 "No menu bar with remote X display and 'native' titleBarStyle"
- VSCode Version: 1.46.0
- OS Version: Ubuntu 18.04

Running vscode under Ubuntu 18.04 VM, displaying via forwarded X connection to host system, with window.titleBarStyle set to native as recommended in FAQ.  In this configuration, the vscode window has no menu bar, and it cannot be brought up using Alt key.  'View: Toggle Menu Bar' from command palette causes a brief flash in the upper left.

Ste

[2020-06-15 20:11] IllusionMH commented on #100229
/needsMoreInfo

Do you have any settings that start with `terminal.` ?
Did you change anything related to PowerShell?

Does it work if you set `"terminal.integrated.shell.windows": "C:\\Windows\\System32\\cmd.exe"`?

[2020-06-15 20:14] FLS-GabrielBuonomano opened #100234 "Scroll momentum is not set to 0 when hitting the edge of the code window or moving the cursor"
Issue Type: <b>Bug</b>

1. Scroll the code window by swiping a trackpad, allowing the screen to scroll using the gained scrolling momentum until your cursor is out of frame.

2. Move your cursor using the arrow keys within a second or two of it being out of frame. The screen will move to put the cursor in frame, but then continue scrolling, moving it back out of frame.

This bug occurs even if the

[2020-06-15 20:21] phgmacedo opened #100235 "Allow right-click paste inside the debug console"
![image](https://user-images.githubusercontent.com/2473545/84702177-97e4d680-af2c-11ea-9383-4fde85171870.png)

- VSCode Version: 1.46

Steps to Reproduce:

1. Open the debug debug console
2. Right-click inside the console view

There should be an option to paste text. Currently, pasting is only allowed when right-clicking the very narrow text input area.

The debug console should be more similar t

[2020-06-15 20:23] RalfG commented on #100113
Yes, that indeed worked! I did not know centered mode was a separate feature... 🤦‍♂️
Thanks!

[2020-06-15 20:23] #100113 closed

[2020-06-15 20:30] phgmacedo commented on #98333
@RMacfarlane
In 1.45 it was possible to disable, this issue was introduced in 1.46.

[2020-06-15 20:42] richardbladh commented on #99657
You are absolutely right!
It was the .gitignore file that excluded the entire folders.

There is a reason however for our setup and that is to have a kind of view for certain projects, i.e. by having a frontend root folder that sums up all the frontend projects distributed over our entire solution (via symlinks). In the frontend folder however we also have "real" folders with projects in it.

So I

[2020-06-15 20:42] #99657 closed

[2020-06-15 21:01] jhpratt commented on #99777
Running into this on Ubuntu 20.04. The only key that appears to be affected for me is the <kbd>End</kbd> key. It is somewhat random, as if I press it multiple times, it'll work eventually. Holding it down does _not_ do anything different.

[2020-06-15 21:03] ghuba commented on #100091
I found the problem. It was caused by
`export DYLD_LIBRARY_PATH="/usr/local/lib"`
in my `.zshrc`. So some of the libraries being loaded were wrong.

[2020-06-15 21:03] #100091 closed

[2020-06-15 21:04] rebornix commented on #98992
We now support opening a untitled file with specified editor view type through the existing new untitled file command (in master, and tomorrow's Insiders)

[code]

When the command is executed, `NotebookContentProvider.openNotebook` is invoked with an URI with `untitled` scheme. `NotebookContentProvider.saveNotebook` is invoked only when users save so no auto save for untitled files as usual.

[2020-06-15 21:04] #98992 closed

[2020-06-15 21:24] ManPython commented on #100074
Maybe some listing extensions as chexboxlist as important for some case can be more helply?
Most often I not providing info aobut ext due to long list and the main ext realted wuth some problems/issues to be more user friendly in github searching version to provide manualy in this long list. In some way of selecting by checkobx as deafult to add as log list can be more usable, but problem in case

[2020-06-15 21:25] DonJayamanne commented on #99697
Oh shoot, totally forgot about that.
Let me check and get back, sorry.

[2020-06-15 21:31] DonJayamanne commented on #99697
Oh yes, the draw back is that we do not have the list of the folders before creating the webview. At least not in the case of ipywidgets.
The kernel can be changed/selected after the webview has loaded.

& this path can change over time (without closing the webiview/notebook).
This would apply to both the new Notebook as well as the WebView.

[2020-06-15 21:41] DawnPaladin commented on #92033
Updating Git for Windows fixed the problem for me too. Thanks!

[2020-06-15 21:50] roblourens commented on #99782
Fixed in this change

- Get rid of output focus sink when cell has no output, to avoid a dead spot when tabbing through cell (step 3 in OP)
- Fix the toolbar losing focus shortly after tabbing onto it, by avoid context key churn
- Fix domFocus when focus is in a different element from the one that is selected (depends on an earlier PR in listCommands.ts)

[2020-06-15 21:50] #99782 closed

[2020-06-15 21:52] misolori commented on #100077
Thanks for the suggestion, unfortunately this wouldn't work since we have flexible layouts where views can be moved into the panel like:

![image](https://user-images.githubusercontent.com/35271042/84709671-73323400-af17-11ea-9ca4-28288d18885e.png)

So moving the panel titles or actions underneath breaks up the visual hierarchy and consistency (actions are always on the right). Please upvote #8734

[2020-06-15 21:52] #100077 closed

[2020-06-15 22:09] JacksonKearl commented on #93814
Workflow: undefined

Error:
Message: Input required and not supplied: config-path
Error: Input required and not supplied: config-path
    at Object.getInput (/Users/jkearl/Developer/vscode-github-triage-actions/node_modules/@actions/core/src/core.ts:71:11)
    at Object.exports.getRequiredInput (/Users/jkearl/Developer/vscode-github-triage-actions/common/utils.ts:12:56)
    at FetchIssues.onTrigge

[2020-06-15 22:10] JacksonKearl commented on #93814
Workflow: undefined

Error:
Message: Input required and not supplied: config-path
Error: Input required and not supplied: config-path
    at Object.getInput (/Users/jkearl/Developer/vscode-github-triage-actions/node_modules/@actions/core/src/core.ts:71:11)
    at Object.exports.getRequiredInput (/Users/jkearl/Developer/vscode-github-triage-actions/common/utils.ts:12:56)
    at FetchIssues.onTrigge

[2020-06-15 22:10] JacksonKearl commented on #93814
Workflow: undefined

Error:
Message: Command failed: unzip -q area_model.zip -d area_model
unzip:  cannot find or open area_model.zip, area_model.zip.zip or area_model.zip.ZIP.

Error: Command failed: unzip -q area_model.zip -d area_model
unzip:  cannot find or open area_model.zip, area_model.zip.zip or area_model.zip.ZIP.

    at checkExecSyncError (child_process.js:621:11)
    at Object.execSync

[2020-06-15 22:16] tabaddor commented on #96891
Understood. So this issue only occurs when zooming with your mouse scroll wheel, correct?

[2020-06-15 22:26] tabaddor commented on #99998
Is this still unresolved? I can't seem to reproduce this issue.

[2020-06-15 22:34] rchiodo opened #100238 "Creating an untitled paw draw file will not open the paw draw editor"
- VSCode Version: Version: 1.47.0-insider (user setup)
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:
1. Modify the custom-editor-sample to have a 'create new pawdraw' file.
1. Change extension.ts to have code like so:
[code]
3. Modify the package.json to support the new 'catCustoms.pawDraw' command:
[code]
4. Run the extension
4. Attempt to run the command
4. This comes up instead o

[2020-06-15 22:41] shungo27 opened #100239 "panel.dropBackground and activityBar.dropBackground property is not allowed"
panel.dropBackground and activityBar.dropBackground property is not allowed. but there is a description on the Theme Color | Visual Studio Code Extension API(https://code.visualstudio.com/api/references/theme-color). Which one is correct?

- VSCode Version: 1.46.0
- OS Version: macOS 10.14.6

Steps to Reproduce:

1. open name-color-theme.json
2. panel.dropBackground and activityBar.dropBackground

[2020-06-15 22:47] pavlvs opened #100240 "TS Server fatal error: Debug Failure. Expected 1 === 2. Registered script kind should match new script kind."
**TypeScript Version:** 3.9.4
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

[2020-06-15 22:55] ConduciveMammal opened #100241 ""You cannot save this document with extension..." Is this new?"
Issue Type: <b>Bug</b>

In my `settings.json`, I have this setting enabled: `"files.defaultLanguage": "liquid"`, and have done for a long time.

But since the last update, when attempting to save other file types, such as SCSS or JS, I've been getting the following dialog:
![image](https://user-images.githubusercontent.com/18140157/84713658-6e936d00-af63-11ea-824a-1054297962b5.png)

Now simply cha

[2020-06-15 23:07] roblourens commented on #99657
You can tell search to not use the gitignore files by setting `"search.useIgnoreFiles": true`, if that helps. Or if there's something else that make you scenario work better, let me know.

[2020-06-15 23:10] DonJayamanne commented on #97280
Closing as discussed with @rebornix

[2020-06-15 23:10] #97280 closed

[2020-06-15 23:19] danrayson commented on #3130
+1  This needs to happen yesterday.  I searched google for how to remove the default Ctrl+Click functionality because it's the most frustrating thing about VSCode, very disappointed.  As @CCurl pointed out, it's something that developers do not just daily but minutely, and the Go To Definition default is just extremely annoying.  I just want to select a bit of text quickly, is that too much to ask

[2020-06-15 23:21] connor4312 commented on #98353
I'm not sure why postMessage stopped working for you in the webview, but I am planning to change this.

Primarily, there's now the API `acquireNotebookRendererApi(rendererType)` API which exposes events and state scoped per the renderer. The returned object also has the `postMessage` key on it. I plan to introduce an optional `onDidReceiveMessage` method to the `NotebookOutputRenderer` which will

[2020-06-15 23:28] mjbvz commented on #100240
Please provide steps to reproduce the issue

[2020-06-15 23:31] rebornix commented on #93265
fyi API changes for tomorrow's Insiders

* (breaking) `NotebookOutputSelector { type, subType }` is now changed to `NotebookOutputSelector { mimeTypes: string[] }`
* (breaking) `NotebookOutputRenderer.render` is now changed to `render(document: NotebookDocument, request: vscode.NotebookRenderRequest)
* `NotebookContentProvider` now supports hot exit
[code]

[2020-06-15 23:36] pavlvs commented on #100240
It happened after I changed the language on a yet unsaved  file from Javascript React to Babel Javascript.

[2020-06-15 23:46] corthon opened #100243 "Remote-WSL cannot fetch remote environment"
Issue Type: <b>Bug</b>

Failes to connect to host with "connection refused".
Only started happening over the weekend on the latest builds.

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.20150
Fetching remote diagnostics for 'WSL: Ubuntu' failed: connect ECONNREFUSED 127.0.0.1:35329

<details>
<summary>System Info</

[2020-06-15 23:51] #89038 closed

[2020-06-15 23:53] codebrainz commented on #69665
I've seen this in Kicad (wxWidgets/gtk) and Geany (gtk) as well as a [bug report for KDE](https://bugs.kde.org/show_bug.cgi?id=364766#c67). It seems like this is not a VSCode-specific bug but rather with NVidia proprietary driver/X11.

I found a workaround [here](https://forums.developer.nvidia.com/t/gnome-shell-crashes-and-rendering-problems-on-xserver-with-430-26/77317/16) but I didn't test it m

[2020-06-16 00:04] Mina-Mishail opened #100244 "Extentions wont download or even show details"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-06-16 00:04] #100244 closed

[2020-06-16 00:05] Mina-Mishail commented on #100244
Extensions wont download or even show details while using local network but work properly while using mobile hot-spot WiFi ! ?

[2020-06-16 00:08] Mina-Mishail opened #100245 "Why Extensions wont download or even show details"
Extensions wont download or even show details while using local network but work properly while using mobile hot-spot WiFi ! ?

[2020-06-16 00:09] Code4kongo opened #100246 "Unable to sign in"
Issue Type: <b>Bug</b>

When i click on the user icon i m not able to sign in

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T08:59:06.977Z)
OS version: Darwin x64 16.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)2 Duo CPU     L9400  @ 1.86GHz (2 x 1860)|
|GPU Status|2d_canvas: unavailable_software<br>flash_3d: disa

[2020-06-16 00:10] #99898 closed

[2020-06-16 00:11] davedub commented on #99910
I have the same problem. Terminal is completely non-responsive.

Version: 1.46.0
Commit: a5d1cc28bb5da32ec67e86cc50f84c67cc690321
Date: 2020-06-10T08:59:06.977Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 17.7.0
![Screenshot 2020-06-15 17 11 11](https://user-images.githubusercontent.com/961729/84717643-40923680-af2b-11ea-85ce-8ee49ef31edd.png)

[2020-06-16 00:23] mentalisttraceur commented on #100150
This does not seem like a "question" @usernamehw - I mean yes it is technically/grammatically a question, but it is not a question in the same sense of the word "question" that warrants the issue to be closed with a redirect to ask the same thing on stack overflow. This does not belong on stack overflow. This is not a question about *how to do something* with VSCode. This is a request for the VSCo

[2020-06-16 00:25] IllusionMH commented on #100246
/duplicate of #99960

[2020-06-16 00:25] #100246 closed

[2020-06-16 00:26] sam-cross commented on #69665
I'm using Intel HD Graphics - 1st gen. It's not an Nvidia issue.

On Tue, 16 Jun 2020, 00:53 Matthew Brush, <notifications@github.com> wrote:

[2020-06-16 00:34] johnm0nty opened #100247 "propertyIgnoredDueToDisplay warning doesn't handle !important correctly for scss files"
- VSCode Version: 1.46.0
- OS Version: macOS 10.15.5

Steps to Reproduce:

1. Make sure the "Property Ignored Due To Display" setting for SCSS is set to "warning" or "error"
2. Enter the following code into a .scss file:

[code]

This produces a warning:

Even though the code is valid. I assume it's incorrectly parsing the `!important`, because if I remove that the warning disappears.

[2020-06-16 01:14] rebornix commented on #98100
@DonJayamanne we discussed this offline and `command` links are good as Python extension is already pre-processing the data, following links will work

* `[link](command:COMMANDID)` in markdown cell
* `<a href="command:COMMANDID"></a>` in outputs

We can continue discussion if we find the solution not feasible.

[2020-06-16 01:24] Ransaka opened #100248 "Assertion failed! Expression: FALSE"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.When I try to run my python file which runs perfectly with PowerShell , it shows this error.
 Assertion failed!

[code]

Expression: FALSE

Does this issue occur when all extensions are disabled?: Yes/No

[2020-06-16 01:34] sguot commented on #100210
Thanks，It should be the system

[2020-06-16 01:49] 275138572 opened #100249 "a"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2020-06-16 01:54] Xiodra opened #100250 "Login Account"
How to login my account?

[2020-06-16 01:58] PistonY commented on #99929
Hi @Tyriar
I use `code --disable-gpu ` solve my problem.
But how does it happen? Incompatible driver?

I install vscode by `snap` so I think I'm using latest version.
And I use `Driver Version: 440.59` .
This is my `settings.json`
[code]

[2020-06-16 02:05] roblourens commented on #98100
These don't actually work in outputs currently though, I need to hook that up.

[2020-06-16 02:13] WiFiUncle commented on #90447
@UTexas80 Have you solved this problem?

[2020-06-16 02:15] simon-woo commented on #100162
I'm sure it's not cause of the extension. because I has uninstall my vscode completely. and reinstall, it still recurrence this bug.

then I tested this bug using several colleague's editors, They have the same problem.

[2020-06-16 02:19] HyunMook opened #100251 "Relative paths not working"
- VSCode Version: 1.46.0
- OS Version: Windows 10 Pro 1909

Steps to Reproduce:

1.  `Ctrl + Click` the import path have to jump to the file/definition. But the relative paths are not working.

2.
`/webpack.config.js`
resolve: {
      extensions: ['.js', '.json', '.jsx', '.css', 'scss'],
      alias: {
        '@assets': path.resolve(__dirname, 'assets/'),
        '@component': path.resolve(__dirn

[2020-06-16 02:24] #95382 closed

[2020-06-16 02:24] #95287 closed

[2020-06-16 02:24] #95110 closed

[2020-06-16 02:42] eamodio commented on #100239
They have been replaced by `panel.dropBorder` and `activityBar.dropBorder`. Hope that helps!

[2020-06-16 02:42] #100239 closed

[2020-06-16 02:46] #100248 closed

[2020-06-16 02:49] quangkieu commented on #97851
In summary, yes, only the extension view is having performance when I first open this workspace.
The extension tab would return to normal after the first 30(s) mins of delay after open this workspace.
So for context, the text editor view of the file document, folder/file tree does not have this performance problem

[2020-06-16 02:55] IshiKura-a opened #100252 "Delete and Enter do not work"
Issue Type: <b>Bug</b>

When editing a md file, I type in |$1-$9| to form a tuple of a table. Then I cannot delete and enter to edit the md file. But other keys still work .

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2020-06-16 03:11] aealbuja opened #100253 "TS Server fatal error: Debug Failure. False expression."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-06-16 03:12] #100253 closed

[2020-06-16 03:32] Brandon-Gui123 commented on #96891
Yep.

[2020-06-16 03:33] raphadko commented on #46505
+1

[2020-06-16 03:35] raphadko commented on #46505
maybe an extension that set the commented code color the same as the background color would be useful already

[2020-06-16 03:40] simon-woo commented on #100162
![image](https://user-images.githubusercontent.com/33717252/84729389-25283980-afc6-11ea-8971-5d8f361ca197.png)

this is a example gif.

[2020-06-16 03:47] simon-woo commented on #100162
like this.

![image](https://ibb.co/NgRPvRj)

[2020-06-16 03:59] deepak1556 commented on #100110
Symbolized version of the crashed thread

[code]

A crash in the gpu process, most likely fixed in recent chromium versions. Can you check if the crash happens with our exploration build https://az764295.vo.msecnd.net/exploration/f2619b62ced441e336960360892e1cff9a2c54b7/VSCode-darwin-exploration.zip . Thanks!

[2020-06-16 04:01] ericoshina opened #100254 "Can't open preview of markdown"
Issue Type: <b>Bug</b>

I can't find command “Markdown: Open Preview to the Side” on the Command Palette， thus can not open preview of a markdown file when I opened it on the editors. Also, there is no open preview icon on the upper right quarter.

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 10.0.18362

<details>
<sum

[2020-06-16 04:02] deepak1556 commented on #100066
Thanks for attaching the crash report, I am merging this to https://github.com/microsoft/vscode/issues/100110.

[2020-06-16 04:02] #100066 closed

[2020-06-16 04:03] deepak1556 commented on #100110
For now you can workaround with https://code.visualstudio.com/updates/v1_40#_disable-gpu-acceleration

[2020-06-16 04:08] deepak1556 commented on #99968
@AndyLuckert were you able to narrow down on an extension, that might be causing this issue ? I don't have anything to add to what @gjsjohnmurray mentioned for bisecting the extensions, please give it a try. Thanks!

[2020-06-16 04:17] deepak1556 commented on #99725
Thanks for the feedback in https://github.com/microsoft/vscode/issues/99725#issuecomment-643194105 , I will take those features into consideration when moving to https://github.com/nornagon/electron-minidump

As for the issue at hand, I see that you have filed an issue with libsecret. Great work, thanks!

[2020-06-16 04:21] ericoshina commented on #100254
Besides, OUTLINE can not show the outline information for markdown files.
![image](https://user-images.githubusercontent.com/54708017/84731602-eb5a3180-afcb-11ea-8378-1c44ba6cd6bf.png)

[2020-06-16 04:23] szmcdull commented on #99821
The Debug Console
![image](https://user-images.githubusercontent.com/2098590/84731665-2197b100-afcc-11ea-8743-82ab17f71f3c.png)

[2020-06-16 04:23] subscribe-lark commented on #100031
Test

From: Oğuzhan Yavuz <notifications@github.com>
Reply-To: microsoft/vscode <reply@reply.github.com>
Date: Sunday, June 14, 2020 at 22:12
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [microsoft/vscode] Able to Create Unnamed Folder And it Deletes Everything When Trying to Delete Unnamed Folder (#100031)

I tried at Windows 10 2004

[2020-06-16 04:24] testforstephen opened #100255 "Moving a file should load the model directly with the contents it had before"
Version: 1.47.0-insider
Commit: 0288447572790f983c350905bd1fc5b754970a0a
Date: 2020-06-15T05:32:43.514Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0

Currently when you move an unsaved file to a new location, VS Code will load the model with the disk content first, then do an extra update to append the unsaved changes to the model. See a typ

[2020-06-16 04:25] testforstephen commented on #98653
Created a new issue https://github.com/microsoft/vscode/issues/100255

[2020-06-16 04:50] deepak1556 commented on #99729
@ravi0725 can you start vscode with `--log-net-log=netlog.json` from the command line, search for the extension "Salesforce Extension Pack", quit the app and attach the log here.

Can you also check if the issue repros when you create a new user profile for vscode, to do this start vscode with `--user-data-dir <new-path-for-user-data>`

[2020-06-16 04:52] deepak1556 commented on #99524
Since this is related to extension and update process, looping in @sandy081 .If the issue traces back to the runtime, I can look into it.

[2020-06-16 04:56] jdneo commented on #99938
@jrieken @aeschli Is it possible to make the document selector for the code lens work in remote as well?

I understand that code lens belongs to the UI part but since the document selector is dealing with the file path, I think it should be treated as a `'workspace part'` (just my opinion).

[2020-06-16 05:07] feeva opened #100257 "git fatal error: file is outside directory"
- VSCode Version: 1.46.0
- OS Version: Win 64 10.0.18363

Steps to Reproduce:

1. Edit a file and click "stage changes"

I found this same error was reported as "git fatal error: file is outside directory #88890" but I am experiencing it now. This is in the output view:

[code]
I can do it normally with git in terminal or Eclipse Git.

[2020-06-16 05:14] bpasero commented on #100214
This issue has been reported already in either this or a similar form. Please check the label that was assigned to this issue to find it.

[2020-06-16 05:14] #100214 closed

[2020-06-16 05:29] danielhue opened #100258 "Environment variable does not work on launch file"
- VSCode Version: 1.46.0
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. set environment variable on settings.json
"terminal.integrated.env.linux": {
        "TARGET_IP": "11.0.1.1"
 },
2. The environment variable does not work at launch.json like below
"miDebuggerServerAddress": "${env:TARGET_IP}:3000"
The value is empty when running launch.json. How can I set environment variable for launch

[2020-06-16 05:35] bpasero commented on #99998
@sbatten thanks for the fix, yes this was a regression I introduced. I filed https://github.com/electron/electron/issues/24144 because the TypeScript types are not catching this issue.

[2020-06-16 05:35] #99998 closed

[2020-06-16 05:35] gjsjohnmurray commented on #100257
/duplicate of #99881 and others (search for 'outside repository')

People have reported resolving this by updating their local Git.

[2020-06-16 05:36] #100257 closed

[2020-06-16 05:38] mzabaluev commented on #99725
@deepak1556 Yes, it's an issue of a dynamic library from the platform not living up to its (implied) promise of thread safety. Feel free to close this issue, or use it as a low-priority reminder to update platform requirements once [that issue](https://gitlab.gnome.org/GNOME/libsecret/-/issues/48) is resolved and a new version is released.

[2020-06-16 05:40] bpasero commented on #100241
@ConduciveMammal I am trying to reproduce this, but I need exact steps from zero to issue. What I did so far:
* installed the extension `language-liquid`
* configured `"files.defaultLanguage": "liquid"`
* created a new file and saved as *.scss

[2020-06-16 05:42] gjsjohnmurray commented on #100254
Please run the command to reload with all extensions disabled. If the MD preview now works, reload normally then disable each of your 6 extensions in turn until the preview works again.

[2020-06-16 05:45] gjsjohnmurray commented on #100252
Please run the command to reload with all extensions disabled. If the problem is fixed, do a bisect of your 27 extensions to find the culprit.

[2020-06-16 05:49] gjsjohnmurray commented on #100250
/needsMoreInfo such as version. If 1.46 then probably a duplicate of #99960

[2020-06-16 06:00] gjsjohnmurray commented on #100245
Sounds like DNS and/or proxy settings enforced on your local network are preventing connections to Marketplace. Search here for 'DNS' or 'proxy' to find similar issues.

[2020-06-16 06:00] leaf1992 opened #100259 "Terminal内容无法正常显示"
Issue Type: <b>Bug</b>

Terminal输入了文字，但是显示不出来。

VS Code version: Code 1.46.0 (a5d1cc28bb5da32ec67e86cc50f84c67cc690321, 2020-06-10T09:03:20.462Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) CPU G3260 @ 3.30GHz (2 x 3292)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d

[2020-06-16 06:00] bpasero commented on #99374
How to reproduce the issue?

[2020-06-16 06:00] leaf1992 commented on #100259
![image](https://user-images.githubusercontent.com/13012378/84737086-c53b8e00-afd9-11ea-9d65-e2befd21f60b.png)

[2020-06-16 06:01] leaf1992 commented on #100259
![image](https://user-images.githubusercontent.com/13012378/84737137-dab0b800-afd9-11ea-9a7a-f6b1e83ebabe.png)

[2020-06-16 06:01] deepak1556 commented on #99725
I will leave the issue open to track updates and also to avoid duplicate issues that may open.

[2020-06-16 06:03] leaf1992 commented on #100259
Terminal cannot display the entered text and error log normally

[2020-06-16 06:04] leaf1992 commented on #100259
![1592287481(1)](https://user-images.githubusercontent.com/13012378/84737350-527ee280-afda-11ea-8a74-8c74497e8445.jpg)

[2020-06-16 06:05] leaf1992 commented on #100259
The uploaded image can't be displayed when GitHub comments

[2020-06-16 06:08] mzabaluev commented on #99725
Note, though, that the potential for libgcrypt initialization race is still there, between libsecret and libjournald each having its own lazy initialization not synchronized in between each other. In fact, libjournald has no thread synchronization whatsoever: https://github.com/systemd/systemd/issues/16140

[2020-06-16 06:15] LUMOGROUP opened #100260 "I think we shuold translate the Interactive Editor Playground!"
That's all I want you to see.
![image](https://user-images.githubusercontent.com/36226873/83210413-5ebb1100-a18d-11ea-9cdf-0591e616823e.png)

[2020-06-16 06:16] janbaltus commented on #100260
@dbaeumer please confirm this is by design that Interactive Editor Playground is not localized.

[2020-06-16 06:20] yume-chan commented on #100259
We can see your screenshot.

Sometimes GitHub images can't be loaded from China due to some network issue.

[2020-06-16 06:21] awatansa opened #100261 "Feature Request: Add Pin Tab"
Requesting to a Tab Pin Feature just like Edge Browser.

[2020-06-16 06:23] kanlukasz commented on #100261
It is already implemented. Have you checked the latest version?
https://code.visualstudio.com/updates/v1_46#_pin-tabs

[2020-06-16 06:26] usernamehw commented on #100150
I'm not a vscode team member but a community part. There's a limited number of labels I can use:

https://github.com/microsoft/vscode/wiki/Community-Issue-Tracking

Still the wrong label. The right is: Duplicate of #87561.

[2020-06-16 06:27] osorso opened #100262 "@路径提示问题(@Path question)"
Path IntelliSense in version 1.46 cannot call up automatic path prompt after configuring alias, additional configuration is required jsconfig.json ; version 1.45.1 does not require additional configuration jsconfig.json File, can be called up normally

[2020-06-16 06:27] kanlukasz opened #100263 "Problem with visibility of rating stars @ marketplace"
Something has happened to the rating stars on the marketplace. They were orange, now they are black, so if the page on the marketplace is black, the stars are invisible.

#### Screen:
![obraz](https://user-images.githubusercontent.com/30685349/84738905-fe103e80-afaa-11ea-82e2-6c00524edcc6.png)

#### Live eg.:
https://marketplace.visualstudio.com/items?itemName=stylelint.vscode-stylelint&ssr=false#

[2020-06-16 06:30] usernamehw commented on #100263
/duplicate of #99965

[2020-06-16 06:31] #100263 closed

[2020-06-16 06:32] awatansa commented on #100261
Got the feature by just updating 😄. Wow, Updated a product in just 7 mins!!! (⊙x⊙;)

[2020-06-16 06:33] #100261 closed

[2020-06-16 06:36] kanlukasz commented on #99965
Maybe here:
https://docs.microsoft.com/en-us/azure/devops/marketplace/faq-extensions?view=azure-devops
- General Marketplace help - Contact the Marketplace team (vsmarketplace@microsoft.com)

[2020-06-16 06:38] yume-chan commented on #100262
Are you using the Path Intellisense extension?

Did you see ChristianKohler/PathIntellisense#162 ?

[2020-06-16 06:39] jrieken commented on #99504
The default keybinding is Ctrl+Space while completions show. That toggles the details widget. Then hit cmd+? for explain mode. This is how it should look:
<img width="683" alt="image" src="https://user-images.githubusercontent.com/1794099/84739954-d1f5bd00-afac-11ea-9fba-b7b378e50f39.png">

[2020-06-16 06:41] leaf1992 commented on #100259
Turn off the terminal and then turn it on again. The content can be displayed normally again.

| |
叶菲
|
|
邮箱：17606524212@163.com
|

签名由 网易邮箱大师 定制

在2020年06月16日 14:20，Simon Chan 写道：

We can see your screenshot.

Sometimes GitHub images can't be loaded from China due to some network issue.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or

[2020-06-16 06:49] YashKarthik opened #100264 "Font Ligatures stopped working."
- VSCode Version:1.46.0
- OS Version:Darwin x64 18.6.0

Steps to Reproduce:

1. Download and setup FiraCode-Retina

Does this issue occur when all extensions are disabled?: Yes

The font ligatures are woking perfectly in the **Jupyter notebooks**, but when I try to use them in the editor they don't work.

Ligatures and font settings:
[code]

[2020-06-16 06:54] osorso commented on #100262
yes, thanks

[2020-06-16 06:56] jdneo commented on #99958
I tested the insider:

Version: 1.47.0-insider (user setup)
Commit: 0288447572790f983c350905bd1fc5b754970a0a
Date: 2020-06-15T07:44:14.223Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Still cannot run without debug

[2020-06-16 07:03] deepzeafish commented on #100195
In a text file. Language mode doesn't seem to matter.

[2020-06-16 07:06] #99907 closed

[2020-06-16 07:07] sdomagala commented on #99981
@connor4312 nothing is being printed to the console when I add that, but maybe that's because nothing is actually being attached to the debugger? I mean, when I run it, VS Code doesn't switch to debugging (orange stripe on the bottom, start/stop console on top). It just hangs before it has a chance to do that

[2020-06-16 07:07] isidorn commented on #99907
Closing as the fix was merged into the release branch.

[2020-06-16 07:14] dbaeumer commented on #100260
@chrmarti can you please answer. You own the interactive playground.

[2020-06-16 07:17] dbaeumer commented on #91139
@sandy081 both problems do come from ESLint. The one is through a task run in the terminal using eslint on the command line. The other is from the vscode-eslint extension calling into the ESLint node API. I don't know why they generate different end character information but as you can see here they do: https://github.com/microsoft/vscode/issues/91139#issuecomment-644008864

I am not asking that y

[2020-06-16 07:35] feeva commented on #100257
So I upgraded to Git 2.27 as others did, it's ok now.

[2020-06-16 07:41] aeschli commented on #100192
For WSL this works with `code --remote=wsl+ubuntu ... /path/in/wsl`.
Same for ssh.

The problem with containers is that the authority is not user friendly as it encodes a folder path.

What containers could look at is if they can reload the window. e.g.
- User enters `code --remote=dev-container+ pathInHost`
- wsl resolver gets vscode-remote://dev-container/pathInHsost
- resolver reloads the windo

[2020-06-16 07:45] aeschli commented on #100105
We have still no plans to bundle or provide a css/scss formatter.
See https://github.com/microsoft/vscode/issues/19166#issuecomment-409928738

[2020-06-16 07:45] #100105 closed

[2020-06-16 07:47] weinand opened #100265 "VS Code runs stale persisted launch configs"
VS Code 1.46

- start VS Code Stable
- use this launch config:
[code]
- close "launch.json" editor
- run it
- Observe: (everything is good)
  <img width="749" alt="2020-06-16_09-34-37" src="https://user-images.githubusercontent.com/1898161/84745991-a1665100-afb5-11ea-9d65-5055f5e20f0b.png">
- shutdown VS Code
- open same project with VS Code Insiders (or any other editor)
- modify "launch.json" an

[2020-06-16 07:51] aeschli commented on #100099
The comment feature is not smart. It just adds block comments around the selected area.
It's up to the user to decide if that makes sense and adjust the selection accordingly.

[2020-06-16 07:53] Montago commented on #100198
yes, this issue is a flaw in VScode.. not the extensions.

[2020-06-16 07:54] #99136 closed

[2020-06-16 07:54] jrieken commented on #99136
Thanks. I'll leave it like that then

[2020-06-16 07:58] aeschli commented on #100081
What you see is text based smart selection as out of the box, VSCode only has basic yaml support. To get more, you need a YAML extension that is able to parse YAML code and can provide language aware smart selection

https://github.com/redhat-developer/vscode-yaml/ would be such extension, but from what I see it doesn't provide smart selection ranges. I suggest to file an issue there: https://gith