[2016-09-28 06:48] #12709 closed

[2016-09-28 06:49] joaomoreno commented on #12710
#2882

[2016-09-28 06:49] #12710 closed

[2016-09-28 06:49] atian25 commented on #4615
@isidorn
how could I get `startDebug` state?
get notification when the debug process is dead. So I can restart it.

[2016-09-28 06:51] joaomoreno commented on #12719
@isidorn Check Microsoft/vscode-react-native#309

[2016-09-28 06:52] joaomoreno commented on #12722
@Tyriar a little help?

[2016-09-28 06:56] joaomoreno commented on #12753
Please file this in the appropriate extension repository.

[2016-09-28 06:56] #12753 closed

[2016-09-28 06:58] joaomoreno commented on #12762
Please file this in the appropriate EditorConfig extension repository.

[2016-09-28 06:58] #12762 closed

[2016-09-28 06:59] joaomoreno commented on #12764
We don't support this.

[2016-09-28 07:00] joaomoreno commented on #12769
Please file separate issues for separate bugs.

Can you show me a screenshot of the file which appears _locked_?

[2016-09-28 07:01] joaomoreno commented on #12775
An extension is _built-in_, which it comes contained within the product.

[2016-09-28 07:01] #12775 closed

[2016-09-28 07:01] bpasero commented on #12636
Does it reproduce using our insider release? !!! PLEASE DO NOT RUN IT AS ADMINISTRATOR !!!

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-28 07:02] bpasero commented on #12665
I have updated the title: We currently do not detect file changes that happen between restarts of VSCode.

[2016-09-28 07:03] #12784 closed

[2016-09-28 07:06] #12690 closed

[2016-09-28 07:13] jianzhou520 commented on #12354
In atom, it has the same language support pageckage. Looks like image bellow.
![](http://ww2.sinaimg.cn/large/b433dad2gw1f89beg6ajmj20fi0h8q4i.jpg)
It's created for [vue.js](http://vuejs.org/) framework

[2016-09-28 07:15] egamma commented on #12656
From #12661  it looks like @sean-mcmanus  is running with an extension that patches VS Code.

[2016-09-28 07:16] #12699 closed

[2016-09-28 07:17] bpasero commented on #12700
Invalid stack. @ramya-rao-a fyi those linenumbers and callstack do not make sense to me when I follow the traces.

[2016-09-28 07:17] #12700 closed

[2016-09-28 07:18] bpasero commented on #12727
Please contribute to https://github.com/Microsoft/vscode/issues/7570

[2016-09-28 07:18] #12727 closed

[2016-09-28 07:21] bpasero commented on #12731
Yes this was a bad bug we fixed for 1.6.0 release (https://github.com/Microsoft/vscode/issues/11684). Already available in our insiders:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-28 07:21] #12731 closed

[2016-09-28 07:21] bpasero commented on #12755
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-09-28 07:23] bpasero commented on #12727
Btw worthy to mention that I cannot reproduce this on my Windows 7 with internet connections disabled.

[2016-09-28 07:25] dbaeumer commented on #12781
This issue was moved to Microsoft/TypeScript#11203

[2016-09-28 07:25] #12781 closed

[2016-09-28 07:25] dbaeumer commented on #12781
The message comes from the JSON schema maintained by TS team.

[2016-09-28 07:27] joaomoreno commented on #12817
As designed

[2016-09-28 07:28] jrieken commented on #12830
Good suggestions! Thanks.

[2016-09-28 07:29] bpasero opened #12865 "Markdown preview: some files flicker/reset scroll position on type"
In todays insider build I see bad flickering happen when I edit the source file of a markdown preview. This is so bad that it makes it really annoying to have the preview open while editing.

I verified this was not the case in 1.5.

At some point I see the scrollbar disapparing.

This is editing 1.6 release notes in our vscode-docs repo (which includes images, maybe related).

Eventually the flic

[2016-09-28 07:29] dbaeumer commented on #12814
@chrmarti did that happened during extension development. We have a hack in there that restarts the watching task on tsconfig.json changes since the tsc compiler doesn't honor those changes. Have to see if we can remove the hack for 2.0.3.

[2016-09-28 07:30] joaomoreno commented on #12819
Duplicate of #658, we don't support native dependencies yet.

[2016-09-28 07:30] #12819 closed

[2016-09-28 07:31] jrieken commented on #12588
-1 for adding this for to the API but +1 for extracting our code into a node-module. @joaomoreno how feasible is that? how much code do we add on top of other node-modules?

[2016-09-28 07:32] dbaeumer commented on #12798
I will investigate, but the trace shows that an error is still reported by the tsserver. There is little we can do if this is the case.

[2016-09-28 07:33] joaomoreno commented on #12829
Where does that blue come from? AFAIK Code doesn't have those decorations, is that an extension?

[2016-09-28 07:33] dbaeumer commented on #12821
@isidorn assigning to you. All I do is to log stuff in the output panel via append line.

[2016-09-28 07:35] joaomoreno commented on #12840
Are you behind a proxy?

[2016-09-28 07:36] dbaeumer commented on #12706
@jeffery9 please file the issue to the owner of the Python plugin you use. I assume you couldn't reproduce this behavior with --disable-extensions as outline in #12300.

[2016-09-28 07:36] #12706 closed

[2016-09-28 07:36] jrieken commented on #12799
dup of #10583

[2016-09-28 07:36] #12799 closed

[2016-09-28 07:37] jrieken commented on #12811
@Tyriar Can you be a little more specific?

[2016-09-28 07:39] jrieken commented on #12812
Yes - I like a dedicated `delete` method

[2016-09-28 07:39] dbaeumer commented on #11094
Great. Closing as verified.

[2016-09-28 07:39] #11094 closed

[2016-09-28 07:40] con-ssc opened #12866 "Application Hang"
- VSCode Version: Code 1.5.3 (5be4091987a98e3870d89d630eb87be6d9bafd27, 2016-09-22T08:50:42.185Z)
- OS Version: Windows_NT ia32 10.0.10586

I have no exact way to reproduce the hangs. I may have to do with active extensions as well. The only thing I can see that the code highlighting in javascript seems to stutter.
From the event log I get only this

[code]

[2016-09-28 07:40] jrieken commented on #12813
Needs doc and obviously one or both of those files

[2016-09-28 07:42] joaomoreno commented on #12851
The font size is the same but the line height appears bigger, due to the widget padding. I'm also not entirely happy about it but I'll let it go for a while longer, at least an iteration, see if we get more user feedback on it.

It's black and blue, though.

[2016-09-28 07:42] #12851 closed

[2016-09-28 07:43] jrieken commented on #12111
@bpasero btw - This is an `electron-update` issue

[2016-09-28 07:44] dbaeumer commented on #12852
@waderyan very like we receive property from the tsserver in this case.

[2016-09-28 07:46] joaomoreno commented on #12859
#12029

[2016-09-28 07:46] con-ssc commented on #12866
I'm mostly working with .js files, the frequency of hangs increase if I have linters or codelenses on.

[2016-09-28 07:47] dbaeumer commented on #12808
@octref good point. I will reopen and assign to @bpasero to comment.

[2016-09-28 07:47] joaomoreno commented on #12861
Can you show how the command you run looks like exactly?

[2016-09-28 07:47] dbaeumer commented on #12808
@bpasero should this be supported? Do I need to tweak this. The command defines ESLint as category

[2016-09-28 07:48] jrieken commented on #12834
We do that on purpose and it's documented here: https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3795. The reasoning is that saving on close is critical since the OS might not gives us much time to shutdown. Therefore no save participant is being called here

[2016-09-28 07:48] joaomoreno commented on #12866
Can you reproduce when disabling all extensions?

[2016-09-28 07:49] bpasero commented on #12613
@atian25 if you install the code generator it will produce a sample with tests:
* npm install -g generator-code
* yo code
* pick either the TS or JS extension

[2016-09-28 07:49] #12613 closed

[2016-09-28 07:49] jrieken commented on #12834
@bpasero On a second though this is also a change wrt trim whitespace. Before we would run that despite save on shutdown

[2016-09-28 07:49] bpasero commented on #12613
You can also look how other extensions do it, e.g. the famous VIM extension has many integration tests: https://github.com/VSCodeVim/Vim/blob/master/test/extension.test.ts

[2016-09-28 07:50] bpasero commented on #12831
Sounds like a good area for a Pull Request 👍

[2016-09-28 07:50] dbaeumer commented on #12728
@mjbvz no special mark down style. Interesting using it today on a md file in the docs repository shows correct rendering. Will close and assume it works now.

[2016-09-28 07:50] #12728 closed

[2016-09-28 07:51] con-ssc commented on #12866
Maybe, but since I cannot force it to freeze this could take some time. Is there a way to better log those crashes other then the event viewer of windows?

[2016-09-28 07:51] bpasero commented on #12833
I think we should not change the behaviour you mention first, but the latter can be done I think.

Sounds like a good area for a Pull Request.

[2016-09-28 07:52] dbaeumer commented on #12300
OK. Then you need to open an issue with the owner of the Python extension.

[2016-09-28 07:52] orta commented on #12277
The bottom aligned version of this is nice 👍 - feels much more tied to the panels/terminals than when they were separated at the top

[2016-09-28 07:53] egamma commented on #12866
// @kieferrm since we have discussed serviceability for such scenarios.

[2016-09-28 07:53] bpasero commented on #12836
This is an issue with the fact that we do not store any UI state for empty workspaces. I think we have some duplicates here if you want to search for it.

[2016-09-28 07:53] atian25 commented on #12613
thanks @bpasero .

I know about `yo` and `mocha` and had do that, but the boilerplate is very simple, do not contain any guide for integration test. And had do a lots google search.

sorry for disturb, I will take a look at vim, thanks.

[2016-09-28 07:54] dbaeumer commented on #12511
@chrmarti no need to do anything here. @bpasero upgraded Electron yesterday to a newer version which includes a newer node version. This node version reverted the realpath behavior back to its original behavior.

[2016-09-28 07:54] jrieken commented on #12562
Unsure if that breaks cases in which folks have server relative paths (we have seen things like that with the extensions preview). We should consider using `window.location` for the in-page navigation.

[2016-09-28 07:55] jrieken commented on #12668
dup of #10010

[2016-09-28 07:55] #12668 closed

[2016-09-28 07:56] bpasero commented on #12811
@Tyriar you have to handle the error case of the promise you get:

![image](https://cloud.githubusercontent.com/assets/900690/18905103/c73f279e-8561-11e6-9be0-6e4efa7fbff9.png)

[2016-09-28 07:56] #12811 closed

[2016-09-28 07:56] con-ssc commented on #12866
Would devtron help to maybe get more info out of vscode?

[2016-09-28 07:56] jrieken commented on #12824
dup of #5745

[2016-09-28 07:56] #12824 closed

[2016-09-28 07:56] bpasero commented on #12111
@jrieken ah yeah sorry, will add the label back 👍

[2016-09-28 07:57] bpasero commented on #12860
@sachinma these settings are not stored, if you want to persist the settings, please open settings (File > Preferences) and set:
* `window.zoomLevel`
* `editor.renderWhitespace`

[2016-09-28 07:57] #12860 closed

[2016-09-28 07:57] jrieken commented on #12826
@bgashler1 please advice

[2016-09-28 07:58] SailorMax commented on #12784
@joaomoreno It very useful when VSCode use as Git client / secondary editor. (On my PC EditPlus is much faster)
But about "not many people suffer from this" - I think you right :)

[2016-09-28 07:58] bpasero commented on #12808
Duplicate: https://github.com/Microsoft/vscode/issues/1964

[2016-09-28 07:58] #12808 closed

[2016-09-28 07:59] joaomoreno commented on #12588
It's thin.

[2016-09-28 08:00] con-ssc commented on #12866
Just to add this again, "Reopen" doesn't work in this scenario neither.

[2016-09-28 08:01] bpasero commented on #12277
Also like it.

[2016-09-28 08:03] jrieken commented on #12818
We don't modify the content in any way, the page is loaded inside an iframe which is inside a web view. You can debug the web view using the `_webview.openDevTools`-command.

Modify your keybindings like so and you should be able to bring up dev tools for the preview (when it's visible/running)

[code]

[2016-09-28 08:03] #12818 closed

[2016-09-28 08:03] bpasero commented on #12834
Yeah, tricky. Instead of me checking for shutdown and not running the participants, we could move this into the save participant to only run the main-side participants but not the extension host ones (https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/common/editors/textFileEditorModel.ts#L450)

[2016-09-28 08:04] jrieken commented on #12588
I leaving it with you then ;-)

[2016-09-28 08:05] bpasero commented on #12613
@atian25 basically our integration tests are all mocha tests, it is just different how to execute them. you can either run them from within Code from the debug viewlet or from the command line.

[2016-09-28 08:06] jrieken commented on #12827
@kieferrm This is a JS or a TS file?

[2016-09-28 08:11] isidorn commented on #12666
The deprication would be painful since we would have to support both. So -1 on my side
Adding @weinand to get his opinion

[2016-09-28 08:12] jrieken commented on #12772
This is because `:` isn't considered part of a word. If you author your own language you can set the word definition using [`setLanguageConfiguration`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L4108) or you can completion items must set the [`textEdit`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L2326) which allows to define what range of the text

[2016-09-28 08:12] #12772 closed

[2016-09-28 08:13] bpasero commented on #12866
@con-ssc when it hangs, is the CPU of any process high? if so, can we find out which process goes high?

To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to f

[2016-09-28 08:13] isidorn commented on #12707
Fixed in latest

[2016-09-28 08:13] #12707 closed

[2016-09-28 08:13] jrieken commented on #12815
@chrmarti at what point did save/formatOnSave happen?

[2016-09-28 08:16] sandy081 commented on #12740
We already show the example when hovering on `recommendations` property. I agree it is not enough.

- Added an example as comment
- Also a default example snippet

But IMO, providing intelli-sense / completion proposals for extensions would be lot helpful. This can also be used in the extension package.json.

[2016-09-28 08:16] con-ssc commented on #12866
I actually have a screen of that, here [Process Explorer Screenshot](https://github.com/Microsoft/TypeScript/issues/10133#issuecomment-247342197) but what info do you exactly need? And also, how can I identify the thread that is causing the issue since they all look the same?

[2016-09-28 08:17] sandy081 opened #12867 "Implement a completion item provider for extension identifiers"
Implement a completion item provider for extension identifiers in extensions.json

[2016-09-28 08:17] isidorn commented on #12846
Nothing urgent, this is a a message coming from the node debug adatper -> assigning to @weinand

[2016-09-28 08:17] AndrueCope opened #12868 "Preview window and zoom rendering issue."
- VSCode Version: Code 1.5.3 (5be4091987a98e3870d89d630eb87be6d9bafd27, 2016-09-22T08:50:42.185Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. Use the zoom feature on the editor (Ctrl/=)
2. Open the Preview Window.
The Preview window will not open zoomed. It will only show as much text as is visible in the editor window. Using the zoom hot keys causes the Preview Window to jum

[2016-09-28 08:18] bpasero commented on #12866
@con-ssc best, the full command line of the process that has high CPU to find out if this is an issue with the renderer, extension host or other process. If you hover over the process in the tree with high CPU, I think process explorer would show you

[2016-09-28 08:18] bpasero commented on #12656
@sean-mcmanus does it reproduce using our insider build?

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-28 08:18] #12740 closed

[2016-09-28 08:19] con-ssc commented on #12866
Do you also want a dump file?

[2016-09-28 08:22] jrieken commented on #12748
So what do you mean by *in parallel*? In understand you can trigger many async operations (that in parallel at the OS level) but there is no way can process (read parse) their result in parallel as the extension host is a single threaded environment.

If you have computational intensive work (like parsing) to do, you should *not* do it in the extension host but consider writing a language server.

[2016-09-28 08:22] #12748 closed

[2016-09-28 08:23] #12652 closed

[2016-09-28 08:24] bpasero commented on #12503
The error `Failed to clear temp storage: It was determined that certain files are unsafe for access within a Web application, or that too many calls are being made on file resources. SecurityError` is coming ever since we updated to Electron 1.3.x. Since this is reported against 1.5.3 I would think it is unrelated.

@pocesar if you take the contents of that folder and copy it to another location,

[2016-09-28 08:25] sandy081 opened #12869 "As a user, I should be able to see the extension dependencies in the extension editor"
Render dependencies of an extensions in the editor

[2016-09-28 08:26] bpasero commented on #12866
@con-ssc lets start first by finding out which of the processes is running with high CPU load when this happens.

[2016-09-28 08:26] #9179 closed

[2016-09-28 08:26] #11937 closed

[2016-09-28 08:26] simson2010 opened #12870 "cannot search file name in folder"
- VSCode Version: Code 1.5.3 (5be4091987a98e3870d89d630eb87be6d9bafd27, 2016-09-22T13:06:49.879Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1.cmd + F to open find panel
2.Type ".pch" and press "enter"
3.only shows the result contains the string ".pch".

Expected:
3. need show the file with extension ".pch".

[2016-09-28 08:27] con-ssc commented on #12866
I'm monitoring with sysinternals Process Monitor now.

[2016-09-28 08:27] jrieken commented on #12828
closed by #7fb2c97

[2016-09-28 08:27] #12828 closed

[2016-09-28 08:28] jrieken commented on #12865
electron update?

[2016-09-28 08:28] joaomoreno commented on #9882
@alexandrudima The widget layout seems to have the outer editor as the bounding box. But since the widget doesn't overflow the inner editor, it should take the inner editor as the bounding box.

[2016-09-28 08:29] joaomoreno commented on #9920
@gstar42 ping

[2016-09-28 08:29] joaomoreno commented on #11618
@ferarias ping

[2016-09-28 08:30] isidorn commented on #12820
This behavior is as designed. If more users are asking for the behavior you proposed we would welcome a PR
Here is a code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/find/browser/findWidget.ts#L502

[2016-09-28 08:30] dbaeumer commented on #12778
Bundled has the meaning of packaged with VS Code itself.

I have updated the key with a comment as well.

[2016-09-28 08:30] #12778 closed

[2016-09-28 08:31] dbaeumer commented on #12721
@egamma any take on this. Should we try to fold this into the initial release notes message. Would make sense IMO.

[2016-09-28 08:31] simson2010 commented on #12870
will use "Find File" extension instead. will close the issue.
thanks.

[2016-09-28 08:31] #12870 closed

[2016-09-28 08:33] isidorn commented on #12848
This is coming from the json schema suggest provider -> forwarding to @aeschli

[2016-09-28 08:35] jrieken commented on #12830
new names are like this

[code]

[2016-09-28 08:36] #12830 closed

[2016-09-28 08:37] jrieken commented on #12725
Being in main thread as the advantaged of being able to use the 'real' editor and prevent unnecessary data travel. We should at least guard/timeout when calling into the actual formatters

[2016-09-28 08:38] #12757 closed

[2016-09-28 08:39] bpasero commented on #12757
@alexandrudima thanks!

@aeschli I did was Alex suggest and add more brackets to the HTML and Handlebars config (https://github.com/Microsoft/vscode/commit/f6d0cc164585abc90a16ff698f2e9997648075f3)

I noticed another difference: Handlebars and Razor define surroundingPairs with `{ "open": "<", "close": ">" }` while HTML does not. Not sure what the impact is of that.

[2016-09-28 08:40] con-ssc commented on #12866
@bpasero is there a way to send the log, I don't want to put it here in public

[2016-09-28 08:43] adamshone commented on #12743
I'm experiencing the same issue but on Ubuntu 14.04, same vscode version.

[2016-09-28 08:49] bpasero commented on #12866
benjpas@microsoft.com works

[2016-09-28 08:51] jing2si commented on #12493
+1

[2016-09-28 08:52] nicolasg-da opened #12871 "Inspect a Webview"
- VSCode Version: 1.4.0, 1.5.3
- OS Version: 10.11.6

Is there a way to inspect the contents of a Webview?
All I see is an empty object even though there should be some content.

I created a new markdown document with this in it:
[code]
and then showed the preview.

What I see in the ispector when I select the Webview is this:
<img width="501" alt="screen shot 2016-09-28 at 10 43 48" src="https://

[2016-09-28 08:52] jimah commented on #12587
I have not changed the keybinding for fullscreen, both Ctrl+Cmd+F and the View > Toggle Full Screen methods produce the same result.

[2016-09-28 08:55] mablejohn commented on #12755
It's working fine without extensions.

[2016-09-28 08:55] joaomoreno commented on #10551
@hamenon Is there any way I can query for all non `unpublished` extensions?

[2016-09-28 08:56] jrieken commented on #12725
Pushed a change to timeout format on save after 750ms

[2016-09-28 08:56] #12725 closed

[2016-09-28 08:57] bpasero commented on #12866
@con-ssc sorry, I was suggesting the wrong tool. Process Explorer (https://technet.microsoft.com/en-us/sysinternals/processexplorer.aspx) is the one that shows a tree of processes and allows to see the full command line:

![image](https://cloud.githubusercontent.com/assets/900690/18907037/476f0aa8-856a-11e6-8ac3-4c1f3e803f32.png)

[2016-09-28 08:58] mablejohn commented on #12755
Is there any way or techniques to find out which extension are actually malfunctioned.

[2016-09-28 08:58] #10694 closed

[2016-09-28 09:05] bpasero opened #12872 "Poor coloring of JS inside HTML in light theme"
The light theme colors strings in the same value as keywords:

![image](https://cloud.githubusercontent.com/assets/900690/18907314/7e884760-856b-11e6-97c0-aa6a1c04ba9e.png)

Compared to dark theme:

![image](https://cloud.githubusercontent.com/assets/900690/18907327/889f2444-856b-11e6-8e67-bff12d519a44.png)

[2016-09-28 09:11] bpasero commented on #12865
@jrieken could be. Also I cannot reproduce when I am not using icons in the markdown. When this happens I also see the scroll position lost, it always jumps back to the top.

Maybe the content in that file is getting too big for Chrome to update in a smooth way.

[2016-09-28 09:14] CodeZombieCH commented on #12588
A node package sounds like a cool solution. Let me know when it's ready so I can test it and provide feedback.

[2016-09-28 09:16] adamshone commented on #12743
I had a look into this, and it seems like every time you do a search VS Code kicks off a `find` process in the root folder:

[code]
If you do multiple searches you end up with many of these processes...
[code]
I haven't yet checked if these processes ever terminate, but in my repo at least they will take a very long time, due to all the files in `node_modules` etc which exist on the filesystem but

[2016-09-28 09:18] bpasero commented on #12865
This is weird, sometimes it stops reproducing after a while. It also seems window size related. 👎

[2016-09-28 09:18] bpasero commented on #12755
Currently not, sorry.

Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link

[2016-09-28 09:18] #12755 closed

[2016-09-28 09:20] dbaeumer commented on #12705
@mlakmal there is a real issue here that the formatter also told otherwise replaces tabs with spaces.

Regarding the tabSize: the file is always formatted using the tab size detected by the editor and shown in the status line. So if the status line says Tab Size: 4 in the lower right corner then we use tabSize: 4 during formatting even with the setting "editor.tabSize": 2.

I will follow up in the

[2016-09-28 09:21] mablejohn commented on #12755
Thanks for the support.

On 28-Sep-2016 2:49 PM, "Benjamin Pasero" <notifications@github.com> wrote:

[2016-09-28 09:21] ZaJarv opened #12873 "Feature request: add ability to manually check for updates"
Related with this #12817, it will be cool if there will be ability to have full control over app update process. I mean disable automatic updates but have ability to check for updates manually.

Right now I need to go in "User Settings", enable automatic update, restart VSCode, update VSCode, go to "User Settings" again and disable automatic updates. Over complicated, isn't it.

And we can see fro

[2016-09-28 09:22] jrieken commented on #12832
Great find!

[2016-09-28 09:23] #12832 closed

[2016-09-28 09:24] jrieken commented on #12865
@bpasero You work using a certain default zoom level, right?

[2016-09-28 09:26] joaomoreno opened #12874 "Outdated extensions are not removed anymore"

[2016-09-28 09:26] #11174 closed

[2016-09-28 09:26] #12874 closed

[2016-09-28 09:27] #5516 closed

[2016-09-28 09:28] bpasero commented on #5516
Please reopen if this still happens with our 1.6.0 release.

[2016-09-28 09:28] bpasero commented on #9432
Please reopen if this still happens with our 1.6.0 release.

[2016-09-28 09:28] bpasero commented on #5876
Please reopen if this still happens with our 1.6.0 release.

[2016-09-28 09:28] #5876 closed

[2016-09-28 09:28] bpasero commented on #10057
Please reopen if this still happens with our 1.6.0 release.

[2016-09-28 09:29] ferarias commented on #11618
Yes, it works

[2016-09-28 09:30] bpasero commented on #12144
@gerhardcit ping

[2016-09-28 09:30] ferarias commented on #11618
I guess something's wrong in my computer regarding GIT, or console, antivirus, windows policies, .... not to do with Code, really, just the tip of the iceberg

[2016-09-28 09:31] bpasero commented on #12042
@michaeljota
To find out more about this issue, we need to get at the process that is causing the high load. VS Code creates multiple processes, each with different tasks. Depending on your OS you can get at the full command line of the process and paste it here. On Mac, the **Activity Monitor** allows to find the `PID` of the process and from a terminal `ps aux | grep <pid>` reveals its arguments

[2016-09-28 09:31] bpasero commented on #12865
@jrieken yeah, I am on zoom level 1 always

[2016-09-28 09:31] bpasero commented on #12865
![sep-28-2016 11-16-18](https://cloud.githubusercontent.com/assets/900690/18908240/1dfd7e02-856f-11e6-8434-36841769e0e0.gif)

Bad quality gif shows it

[2016-09-28 09:37] #12864 closed

[2016-09-28 09:41] isidorn commented on #12821
@dbaeumer please give me code pointer or @chrmarti reproducable steps
@dbaeumer are you sure you are not calling outputChannel.show() since I see 5 calls to that method in [tasks.contribution](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/tasks/electron-browser/task.contribution.ts#L218)

[2016-09-28 09:45] bpasero commented on #8269
@chrisdias do you receive GH notifications?

[2016-09-28 09:45] sandy081 commented on #11976
I added another fix/improvement while applying filters.

Using Tree.expand on each item or Tree.expandAll is not making any difference.
Will discuss with @joaomoreno and see if I can improve this.

Otherwise Closing this since we improved drastically.

[2016-09-28 09:45] #11976 closed

[2016-09-28 09:46] #12777 closed

[2016-09-28 09:46] isidorn commented on #12777
Debug is a noun in this context - added a comment to our nls

[2016-09-28 09:47] bpasero commented on #8269
Maybe for when the window reloads we should always restore the last used viewlet. Imho it does not make sense to reload and jump back to the explorer.

@chrisdias point  was to show the explorer when opening a folder or starting VS Code fresh. I can see if this would be possible (e.g. finding out that a window was reloaded).

[2016-09-28 09:47] TimLiu1 opened #12875 "Files with same name get overwritten when editing only one of them"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. 一个同名文件，内容不同，修改一个文件，宁外一个同名文件内容被覆盖成我们修改的那个文件了，文件系统自动修改名称
2.

[2016-09-28 09:48] janhancic commented on #12743
On my system (OSX) it kick offs several (identical) `find` processes every time I hit `cmd+P` which also seems like a bug.

[2016-09-28 09:55] #12813 closed

[2016-09-28 09:59] con-ssc commented on #12866
CPU usage is kinda low but Memory Usage of those two processes is high.

![image](https://cloud.githubusercontent.com/assets/8189808/18909156/ce172362-8572-11e6-89f3-fed6f2e37b99.png)

![image](https://cloud.githubusercontent.com/assets/8189808/18909144/c14e78b0-8572-11e6-9cc9-da45ce2405b1.png)

![image](https://cloud.githubusercontent.com/assets/8189808/18909160/d67ac90a-8572-11e6-8b4b-831f13d6d8

[2016-09-28 09:59] jrieken commented on #12812
@bpasero Is there a way using the `IConfigurationEditingService` to remove a value?

[2016-09-28 09:59] isidorn commented on #8269
I do not think we should ever jump back to the explorer - all across our UI we preserve state and I am not sure why explorer is such a special case?

[2016-09-28 10:02] bpasero commented on #8269
@isidorn it is about helping users to explore a project, if you open a folder from command line with VS Code you do not expect to see the extensions viewlet that you might have had opened 3 months ago. I think it makes perfect sense to show the files of the workspace.

The "Reload Windows" case is special and should restore the last used viewlet.

[2016-09-28 10:02] wallverb commented on #12667
`core` is one of my folders - I think that it just shouldn't autocomplete when pressing dots (in path)

[2016-09-28 10:02] bpasero commented on #12866
@con-ssc none of the two look bad to me though, memory can go as high as 1 GB before becoming an issue.

[2016-09-28 10:03] bpasero commented on #12866
@con-ssc can you maybe have an eye on the CPU while you work with code and when it gets so slow and freezes see if the CPU is high or not?

[2016-09-28 10:06] CNMan commented on #12840
i have a local socks5 and http proxy.
[code]

[2016-09-28 10:07] bpasero commented on #12812
@jrieken the code that handles the update of JSON was written by @aeschli and when I pass in `void 0` as value for the setting it indeed seems to get removed from the file (not if I pass in `null`).

[2016-09-28 10:07] gerhardcit commented on #12144
@bpasero , haven't been able to get it to stay high on CPU over the last 2 days.. but also went back to Code Std just to get some stuff done..
Just got build c94c824db64a88bd4909da2e84e44316dbf8e8fb so I'll get profiles next time it happens.

[2016-09-28 10:08] isidorn commented on #8269
I thought we would store this per workspace. So if I closed a workspace in git viewlet I would expect to see it on reopen.
Sure on a new workspace we should always show explorer since that would be the default and we wuold not have anything stored per that workspace.

Just my 2 cents

[2016-09-28 10:08] con-ssc commented on #12866
ok
This Process goes over 30% if I scroll a large js file

https://cloud.githubusercontent.com/assets/8189808/18909160/d67ac90a-8572-11e6-8b4b-831f13d6d8df.png

[2016-09-28 10:12] jojokaran72 commented on #12731
Thanks

On Wed, Sep 28, 2016 at 12:51 PM, Benjamin Pasero <notifications@github.com>
wrote:

--

*Thanks & Regards*
Rakesh Saini
Ph:- +91 7259972414

[2016-09-28 10:14] isidorn commented on #12646
Is it possible that you share your project or a small reproducable setup on GitHub so we can further look into this issue?
When you say output or event start the application what exactly are you expecting to happen that is not happening? More output in the debug console?

[2016-09-28 10:15] #11912 closed

[2016-09-28 10:17] #11655 closed

[2016-09-28 10:17] bpasero commented on #11655
![image](https://cloud.githubusercontent.com/assets/900690/18909855/8ff9e990-8575-11e6-9d4c-18927380362b.png)

[2016-09-28 10:18] joaomoreno commented on #10340
Closing the exploration as it seems our work is done in macOS and Windows.

[2016-09-28 10:18] #10340 closed

[2016-09-28 10:19] isidorn commented on #4615
@atian25 can you please provide more details? What are you trying to do - are you writing an extension? Your extension can be activated on event: 'onDebug:TYPE' where TYPE is for instance `node`. Currently we do not have any notifications when the debugged process dies, for that please file a feature request so we consider to add this in the future.

[2016-09-28 10:21] bpasero opened #12876 "Workbench broken when panels visible in activity bar right on startup"
![image](https://cloud.githubusercontent.com/assets/900690/18909896/cca3014c-8575-11e6-8ee4-64e835c33c76.png)

[2016-09-28 10:21] bpasero commented on #12144
@gerhardcit thanks

[2016-09-28 10:22] bpasero commented on #8269
@isidorn we do store it per workspace but you can still have it stored there for 3 months and come back to it and why would you want to see the extensions viewlet then.

[2016-09-28 10:23] jrieken commented on #12815
Ah, now I understand... I was still in the format on save mind set but this is actually format on type... Maybe  a regression from moving to TS 2.0

[2016-09-28 10:23] bpasero commented on #12866
@con-ssc can you install our insider build (
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders) and select Help > Accessibility Options to see if accessibility is ON or OFF?

[2016-09-28 10:26] bpasero commented on #12129
@joaomoreno I cannot reproduce this anymore. However I see it when you have a window already open, you cannot bring up another window with the extensions from that folder.

[2016-09-28 10:29] #11756 closed

[2016-09-28 10:29] CNMan commented on #12840
`--extensionHomePath="E:\Backup\VSCODE\extensions"`
delete this argument,works fine.
https://github.com/Microsoft/vscode/issues/8990

[2016-09-28 10:29] isidorn commented on #12876
@bpasero can not repro - do you see it all the time? Might it be some rendering with the new electron update?

[2016-09-28 10:30] jrieken commented on #12812
makes sense `null` is a valid value while `undefined` isn't - it get messed up when sending over form the ext host

[2016-09-28 10:31] con-ssc commented on #12866
We have some port restrictions so I won't be able to install extensions to force the problem with the insider build

[2016-09-28 10:31] joaomoreno opened #12877 "Watermark logo should not move when closing all editors"
![bug](https://cloud.githubusercontent.com/assets/22350/18910268/82d85f4c-8577-11e6-88de-ee4e7f029429.gif)

[2016-09-28 10:33] jrieken opened #12878 "WorkspaceConfiguration#update should make global optional"
Updating a setting globally is rare and we should reflect that in the API by making the argument optional.

[2016-09-28 10:34] sandy081 commented on #12750
JSX is a mix of Javascript and HTML. If there are JSX specific colors for javascript and html then those wont get applied. But writing JSX code with type `text/javascript` is not correct.

So, this fix LGTM.

[2016-09-28 10:36] #11707 closed

[2016-09-28 10:37] atian25 commented on #4615
just want to find workaround for cluster debug.

our framework will start 3 process, named master/agent/worker, and worker will reload when file change.

so I want to write an extendsion to auto detect worker's new debug port and auto attach to it.

[2016-09-28 10:40] isidorn opened #12879 "lineNumbers: 'off' still renders a lineNumber div"
1. Open debug repl input or output window
2. Notice how all the text is indented
3. Both repl input and output have `'lineNumber': 'off'` - however the div for line numbers still gets rendered which indents the text
4. This also happens when you simple set `'editor.lineNumbers': 'off'`

Probably caused by Alex's line number refactoring to support relative line numbers. Investigating...

fyi @dbaeu

[2016-09-28 10:41] isidorn commented on #4615
This sounds like a scenario which we do not support at the moment. Please create a new issue with the feature request - extension should be able to react on debuggee terminated

[2016-09-28 10:42] bpasero commented on #12750
@sandy081 you wanna take this? might need to review if our colorization tests fail with this change.

[2016-09-28 10:43] #11477 closed

[2016-09-28 10:43] joaomoreno commented on #11477
Decided to simply disable the action.

[2016-09-28 10:44] isidorn commented on #12664
I know @roblourens fixed some issue with the base path missing thus forwarding to him to assess this issue.

[2016-09-28 10:45] #11646 closed

[2016-09-28 10:47] bpasero commented on #12876
@isidorn wow, only seems to happen when I have the extensions viewlet visible

[2016-09-28 10:51] sandy081 commented on #12750
@bpasero Sure I can take it up. Will check the tests too.

[2016-09-28 10:55] jrieken commented on #12812
yeah - somehow the marshalling process turns `undefined` into `null`. This message is received on the main side:
[code]

which is caused by this funny `JSON.stringify` behaviour (learnt something today)

[code]

[2016-09-28 10:56] bpasero commented on #2330
Since this was on the plan, I am removing the verification-needed label.

[2016-09-28 10:57] jrieken commented on #12812
re https://github.com/Microsoft/vscode/issues/12812#issuecomment-250094424 - I changed my mind because a `delete` method would have the same needs for the global flag and I am not a big fan of it.

I'll add a doc comment about unsetting a value

[2016-09-28 10:58] joaomoreno commented on #11655
Thanks @bpasero !

[2016-09-28 10:59] #12812 closed

[2016-09-28 10:59] joaomoreno commented on #11618
I have to agree... I can't find anything wrong with Code itself here... I'll close it, but keep it in the back of my head. Let me know if you eventually find the issue.

[2016-09-28 10:59] #11618 closed

[2016-09-28 11:02] bpasero commented on #12736
Thanks!

[2016-09-28 11:10] revythas opened #12880 "tab size - bug"
- VSCode Version: 0.2.3
- OS Version: ubuntu 16.04 lts

Steps to Reproduce:

1. Open a .py file
2. At the end of for-loop line, e.g.(for i in x:), press enter. The bug is that the tab size is not correct. Tab size is the double of your actual tab.

[2016-09-28 11:26] msudgh commented on #4962
Put bellow line into your user settings, most probably that will work.
`
        "emmet.syntaxProfiles": {
                "javascript": "html"
        }
`

[2016-09-28 11:42] #12878 closed

[2016-09-28 11:42] johnny19941216 opened #12881 "sass default save as .sass,not is .scss"
- VSCode Version:1.5.3
- OS Version:win7

Steps to Reproduce:

1.
2.

[2016-09-28 11:43] dbaeumer commented on #12798
OK. The problem was that I still called realpath however the workbench and other parts didn't. After fixing this renaming back and forth works.

[2016-09-28 11:49] alloy commented on #12144
This is a profile from version 1.5.3 (not insider) on OS X 10.11.6. Just vertically scrolling two split-panes would result in ~100% CPU usage.

[CPU-20160928T134657.cpuprofile.txt](https://github.com/Microsoft/vscode/files/497917/CPU-20160928T134657.cpuprofile.txt)

[2016-09-28 11:50] dbaeumer commented on #12705
Got fixed for the next update:

![cast](https://cloud.githubusercontent.com/assets/1931590/18912409/879835a6-8582-11e6-9026-be6e80f9bda0.gif)

[2016-09-28 11:54] mlakmal commented on #12705
Thanks @dbaeumer.

[2016-09-28 11:57] PaluMacil commented on #12724
(confirming, all same details)

[2016-09-28 11:58] weinand commented on #12666
-1

[2016-09-28 11:58] #12666 closed

[2016-09-28 11:59] texastoland commented on #3907
I used https://marketplace.visualstudio.com/items?itemName=ricard.PostCSS.

[2016-09-28 12:13] isidorn commented on #12660
@riteshatsencha can you please provide reproducable steps?
What index.js are you refering to? Are you trying to debug?

[2016-09-28 12:15] isidorn commented on #12791
I think this is as designed and that rxvt-unicode and terminator where never supported. Anyways leaving for @weinand to decide.

[2016-09-28 12:17] dbaeumer commented on #12798
Reopening the issue. Even with the fix I can still reproduce this under Mac. TS bug to track: https://github.com/Microsoft/TypeScript/issues/11206

[2016-09-28 12:25] bpasero commented on #12144
@alloy can we create separate issues? I am not sure if the issues are all related.

@gerhardcit I assume you are not wildly scrolling and see CPU spikes?

[2016-09-28 12:26] #12853 closed

[2016-09-28 12:28] isidorn commented on #12793
debug adapter should close the externalTerminal on any debug session end including restart.
@octref does the externalTerminal close when you just stop the debug session or you only see this when you restart?

[2016-09-28 12:30] bpasero commented on #3828
Cool 👍

[2016-09-28 12:30] joaomoreno opened #12882 "NPE when editing file"
I get this NPE every time I edit a TS file in our repo, with the latest Insiders:

[code]

![image](https://cloud.githubusercontent.com/assets/22350/18913416/f096b460-8587-11e6-91e8-5220d46ef1b2.png)

[2016-09-28 12:31] alloy opened #12883 "High CPU usage."
- VSCode Version: 1.5.3
- OS Version: OS X 10.11.6

Steps to Reproduce:

1. Open VSCode with disabled extensions (`--disable-extensions`)
2. Open a JS file from this repo: https://github.com/artsy/emission
3. Scroll vertically (possibly 2 files in split panes)
4. Observe Code Helper process consuming ~100% CPU cycles.

Note that I’m seeing ~15% CPU usage when idle, which also adds up quickly when

[2016-09-28 12:31] joaomoreno commented on #12882
Seems to come from https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/quickFix/browser/quickFixModel.ts#L28

[2016-09-28 12:31] alloy commented on #12144
@bpasero Sure thing https://github.com/Microsoft/vscode/issues/12883

[2016-09-28 12:33] bpasero commented on #4719
Verified on Mac the keys are working when pressed with Cmd+key pressed.

[2016-09-28 12:34] isidorn commented on #12876
@bpasero strangely the whole workbench is pushed to the left - so it is not one element inside the workbench that is pushing.

[2016-09-28 12:34] bpasero opened #12884 "TypeError: Cannot read property 'getRepositoryRoot' of null"
Got this when switching folders with a dirty file:

[code]

[2016-09-28 12:37] bpasero opened #12885 "Debugger: issues with editing variable via double click"
- VSCode Version: 1.6 insiders
- OS Version: Mac OS

Seeing some issues when using double click to edit a variable:

1. when I double click and click somewhere else I get an error even though the value was undefined before. only escape helps:

![image](https://cloud.githubusercontent.com/assets/900690/18913622/fc843d1e-8588-11e6-857c-4c0feb92c33e.png)

Context:

![image](https://cloud.githubuserco

[2016-09-28 12:38] #11779 closed

[2016-09-28 12:39] jrieken commented on #12882
Looks like an editor without a model

![screen shot 2016-09-28 at 14 39 08](https://cloud.githubusercontent.com/assets/1794099/18913676/5dbf3e8a-8589-11e6-8ea0-ebfc987f6498.png)

[2016-09-28 12:44] ceyhunkerti commented on #10715
30. says scala extension exists.

Thanks to author Iliya, but it just supports keyword highlighting and far from being used as scala extension. Supporting language like scala is a hard thing, since it has a complex type system compared to other languages. Even jetbrains has some issues on scala support. I don't now to whom we should ask for scala support, maybe we can team up.

[2016-09-28 12:44] isidorn commented on #12876
Has nothing to do with the panel work in the activity bad - set "workbench.panels.showInSidebar": false, open extensions viewlet and reload -> broken

[2016-09-28 12:46] bpasero commented on #8264
I am still seeing this with latest:

![image](https://cloud.githubusercontent.com/assets/900690/18913816/48eddace-858a-11e6-85f6-068d44286106.png)

[2016-09-28 12:47] sandy081 commented on #12132
See the following screenshot. Identifier is provided in the editor header which can be selectable

![image](https://cloud.githubusercontent.com/assets/10746682/18913825/57d5e6ee-858a-11e6-9887-cd951d827945.png)

[2016-09-28 12:48] #12132 closed

[2016-09-28 12:49] #12803 closed

[2016-09-28 12:50] dbaeumer commented on #12705
Closing.

[2016-09-28 12:50] #12705 closed

[2016-09-28 12:51] #11675 closed

[2016-09-28 12:51] fallenwood opened #12886 "Feature request: disable an extension without uninstalling"
i wonder if vscode provides a method to disable an extension without uninstalling it

[2016-09-28 12:51] dbaeumer commented on #12798
However Windows looks good.

[2016-09-28 12:53] #12010 closed

[2016-09-28 12:54] wallverb commented on #12886
https://github.com/Microsoft/vscode/issues/12710

[2016-09-28 12:54] dbaeumer commented on #12798
This is getting more wired. Now I can reproduce this on Windows as well.

[2016-09-28 12:55] isidorn commented on #12618
This is due to the fact that we are using smaller icons than in the viewlet.
The badge should not change size since it should be consistent with that we have in the viewlets

Assigning this to @bgashler1 to take into account the badge size when designing the icons

[2016-09-28 12:55] jrieken commented on #12882
**steps**:

* install tslint
* open a typescript file
* open peek editor (find reference, preview declaration)
* close peek
* make code to add or remove a marker 💥

[2016-09-28 12:56] #11896 closed

[2016-09-28 12:56] #11914 closed

[2016-09-28 12:57] bpasero commented on #2338
Very very nice 👍

[2016-09-28 12:58] #11984 closed

[2016-09-28 13:00] #12882 closed

[2016-09-28 13:01] #12439 closed

[2016-09-28 13:01] jehugaleahsa opened #12887 "Double-click highlighting separating white space"
- VSCode Version: 1.53.
- OS Version: Windows 7

Steps to Reproduce:

1. Type `abc def`
2. Double click the space before `def`

The white space between the tokens is highlighted instead of the leading or trailing word. This is inconsistent with highlighting in other applications.

[2016-09-28 13:02] bpasero commented on #5217
@kostadinnm since you voted down, you still see this? I am not being notified if you react like that, you gotta talk.

[2016-09-28 13:05] bpasero commented on #12883
If this was Windows I would assume this is because of accessibility ON, but since this is on Mac it might be something else.

@alloy does this reproduce with any 2 files open?

[2016-09-28 13:08] isidorn commented on #12438
This is happening because the reference of those source files changed between steps. Namely the debug adapter sends a brand new source reference between steps. Due to that on the vscode side we think those files are different and we do this 'bad stepping'.
Assigning to @weinand to investigate if node adapter could preserve the reference between steps for internal modules since we use those as an i

[2016-09-28 13:09] joaomoreno commented on #12116
These three fall into the same category:

- `extensionHomePath`
- `extensionDevelopmentPath`
- `extensionTestsPath`

[2016-09-28 13:10] #12432 closed

[2016-09-28 13:17] bpasero commented on #12876
@isidorn for some reason the [characterWidthSurveyor](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/repl.ts#L150) seems to push the workbench. If I set that element to be hidden I cannot reproduce.

[2016-09-28 13:17] joaomoreno commented on #12366
Actually... if I make this change, all we'll see is `Syntax:`. So I will hold off until we get Markdown.

[2016-09-28 13:17] #12366 closed

[2016-09-28 13:18] bpasero commented on #12116
We could change it but need to stay backwards compatible because all our extension host launch configs use this way.

[2016-09-28 13:19] bpasero commented on #12116
Up for a PR if anyone is interested.

[2016-09-28 13:19] dkondratovych commented on #381
Doesn't work for me

<img width="588" alt="screen shot 2016-09-28 at 4 18 32 pm" src="https://cloud.githubusercontent.com/assets/3199501/18914812/4636d5c6-8597-11e6-85e1-64a300ffecab.png">

I am trying different values, but font looks the same

<img width="949" alt="screen shot 2016-09-28 at 4 18 03 pm" src="https://cloud.githubusercontent.com/assets/3199501/18914779/2cf4db08-8597-11e6-8c3e-7c8b30

[2016-09-28 13:22] joaomoreno commented on #12286
@DaveyD Can you tell me the extension that causes this error?

[2016-09-28 13:24] joaomoreno commented on #12129
Yes this seems to work fine for me too...

[2016-09-28 13:24] #12129 closed

[2016-09-28 13:26] joaomoreno commented on #12840
To confirm: you only get the error when you use the `--extensionHomePath` argument?

[2016-09-28 13:28] joaomoreno commented on #12884
This happens during workbench disposal.

[2016-09-28 13:28] #12884 closed

[2016-09-28 13:28] gstar42 commented on #9920
BTW, it still happens. Used it yesterday from WIn7 command line

________________________________
From: João Moreno <notifications@github.com>
Sent: Wednesday, September 28, 2016 1:30 AM
To: Microsoft/vscode
Cc: garry; Mention
Subject: Re: [Microsoft/vscode] Output spam when running code from command line (#9920)

@gstar42<https://github.com/gstar42> ping

-
You are receiving this because you were

[2016-09-28 13:30] Tyriar commented on #12711
Should be fixed in insiders

[2016-09-28 13:30] #12711 closed

[2016-09-28 13:30] isidorn commented on #12876
@bpasero that guy is full of content - characters 'a' to measure the length. Let me try to tune that guy somehow...

[2016-09-28 13:31] jrieken commented on #12815
The edit encloses the current cursor position (replace one whitespace with four). Adding @alexandrudima as you did the initial work here and need some consulting on this

![screen shot 2016-09-28 at 15 29 50](https://cloud.githubusercontent.com/assets/1794099/18915162/6eecd03a-8590-11e6-9237-dd2ed8d41dcd.png)

[2016-09-28 13:32] gerhardcit commented on #12144
@bpasero , was capturing profiles, but ended up with 0 byte file size.
However, it has not run away again. I recon you should close the issue and if it comes back we log it again. From my side it seems resolved somehow.
I have build c94c824db64a88bd4909da2e84e44316dbf8e8fb running.

[2016-09-28 13:38] bpasero commented on #12144
More than happy to close it if it does not reproduce easily.

[2016-09-28 13:38] #12144 closed

[2016-09-28 13:41] bpasero commented on #11181
@chrmarti any advise how to reproduce this? i think it was easy on Windows with the circular symlinks, but now we do not have the dir command anymore on Windows.

[2016-09-28 13:43] seanmcbreen commented on #12522
Deal

[2016-09-28 13:45] Tyriar commented on #12682
Moving key binding related question to @alexandrudima

[2016-09-28 13:46] bpasero commented on #12866
@con-ssc I received the core dump and the procmon trace. Today we do not have a setup where we can easily debug VSCode from coredumps, but we should probably improve this in the future to get a better understanding.

The high CPU during scrolling is suspicious so please try the insiders build. I assume the CPU drops when you stop scrolling?

[2016-09-28 13:47] joaomoreno commented on #12843
This is troublesome. Due to the extension not having a `main` field in the `package.json`, the version check doesn't work... Fixed today for future versions... but can't really fix old versions any more. :(

[2016-09-28 13:50] bpasero commented on #12881
@johnny19941216 can you explain what you mean? Here is what I see:

![image](https://cloud.githubusercontent.com/assets/900690/18916000/2bde8470-8593-11e6-9f53-3072656702b4.png)

This is using our insiders build that now populates the file types in the dialog.

[2016-09-28 13:52] bpasero commented on #12871
I believe you can configure a key for our hidden command to reveal devtools for a webview:

`{ "key": "cmd+b", "command": "_webview.openDevTools" }`

@jrieken fyi

[2016-09-28 13:52] bpasero commented on #12868
This is an electron bug: https://github.com/electron/electron/issues/7375

@jrieken fyi

[2016-09-28 13:54] bpasero commented on #12861
@kefengwei @joaomoreno I think we fixed this in our insider release, I got a related bug some time ago.

Can you try with insiders please?
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-28 13:56] isidorn commented on #12746
Can not reproduce both on win10 and both on OS X.
Do you see this regularly?

[2016-09-28 13:57] joaomoreno opened #12888 "Extension ID should not wrap"
![image](https://cloud.githubusercontent.com/assets/22350/18916278/383ca002-8594-11e6-9476-813b6cc5619e.png)

[2016-09-28 13:59] joaomoreno commented on #12888
It even pushes the install/uninstall actions.

[2016-09-28 14:01] #12885 closed

[2016-09-28 14:01] bpasero commented on #12746
@isidorn also do not see it anymore, fine to close for nw.

[2016-09-28 14:01] #12746 closed

[2016-09-28 14:02] asotog commented on #78
is someone working on this ? i would like to help on this one :P @bpasero

[2016-09-28 14:02] dbaeumer commented on #12747
@waderyan pretty sure I addressed this today. If you try it use master or a build from tomorrow.

[2016-09-28 14:03] isidorn commented on #12265
@dbaeumer can you please share your reproducable steps since I do not want to setup java in order to investigate this. How to setup typescript server tracing and how to get that huge amount of output? Thanks!

[2016-09-28 14:05] dbaeumer commented on #12265
Settings:

[code]

Open content assist quite frequently in a project that has a browser environment.

[2016-09-28 14:06] chrmarti commented on #12610
Using this to track the request for a "Run selected code snippet" action.

[2016-09-28 14:06] dbaeumer commented on #12821
@isidorn yes I am pretty sure I call show(). Does that grab focus ?

[2016-09-28 14:10] #12888 closed

[2016-09-28 14:10] chrmarti commented on #12743
@adamshone These issues should be fixed in 1.6-insders. Let me know if you give that a try.

[2016-09-28 14:14] dbaeumer commented on #12821
I test this on my machine and I can't reproduce this. Here is what I see (watch the task spinner in the lower left corner which indicates the restart).

![cast](https://cloud.githubusercontent.com/assets/1931590/18916960/9bbe741e-8596-11e6-8485-7553394d1fdd.gif)

However if the copied file causes error output by the tsc compiler the Output window comes to front since in your tasks.json you configu

[2016-09-28 14:15] dbaeumer commented on #12821
@isidorn sorry for bothering you. Got misleaded by grabs focus. Feel free to close if you think there is no focus problem.

[2016-09-28 14:15] chrmarti commented on #12354
You might be looking for code snippets then. These can be contributed by an extension. See: https://code.visualstudio.com/docs/customization/userdefinedsnippets

Someone already published an extension that might help: https://marketplace.visualstudio.com/items?itemName=liuji-jim.vue

[2016-09-28 14:17] isidorn commented on #12821
[Show()](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/output/browser/outputServices.ts#L79) takes a preserveFocus as an argument - so just pass true if you want to not pass focus

[2016-09-28 14:20] weinand commented on #12438
is this with node-debug2?

[2016-09-28 14:20] DaveyD commented on #12286
@joaomoreno - Thanks.
The problem was with every extension and theme.
However, I just realized this morning that the cause was my proxy because it was blocking vsassets.io. Once I had them unblock that, everything began to work perfectly.

Does that make sense? (In any case, it's working now... I guess this can be closed?)

Thanks,
David

[2016-09-28 14:21] isidorn commented on #12438
I see it with node-debug.
If it is also happening with node-debug2 @roblourens can comment

[2016-09-28 14:24] dbaeumer commented on #12814
I did some testing and the tsc compiler in watch mode now detects file adds and deletes as well. So we could remove the hack we have but would break people that still rely on 1.8.10. Need to check if I know about the tsc version

[2016-09-28 14:29] joaomoreno commented on #9920
Which version? Can you try the latest?

[2016-09-28 14:30] joaomoreno commented on #12286
Thanks for letting me know.

[2016-09-28 14:30] #12286 closed

[2016-09-28 14:31] dbaeumer commented on #12814
I opt to leave the hack in for another milestone and then remove it.

[2016-09-28 14:33] dvirsky opened #12889 "Files getting corrupted arbitrarily"
- VSCode Version: 1.5.3
- OS Version: Linux (Ubuntu 16.04)

Steps to Reproduce:

While working on VScode, occassionally the code I'm working on gets corrupted - usually a few lines will get deleted or a bunch of spaces added. This usually happens on the file I'm editing, but not at the place I'm editing.

I'm working with the MS C/C++ extension, and clang-format. This could be the auto formatting,

[2016-09-28 14:33] wallverb commented on #12667
Just an update - that this is an issue with strings in general (and has nothing to do with path)

Here I really wanted to type `c.c.c.c.c.c.c.c.c.c.c.c`string:

![rz2sojq4ca](https://cloud.githubusercontent.com/assets/1723815/18917858/fcd94a38-8566-11e6-8974-7f44143d7629.gif)

PS. Thats in `TS` file
Thanks

[2016-09-28 14:35] chrmarti commented on #12814
It did not happen during extension development. I was working without a tsconfig.json at that time. I added/removed one of the .ts files app.ts depended on.

[2016-09-28 14:35] jrieken commented on #12865
I can repo with the `1.6md` page but not with a different sample (which also loads images)

[2016-09-28 14:35] sean-mcmanus commented on #12656
The freezes don't repro without extensions and were caused by at least 2. On my laptop, I was hitting a freeze that used CPU, but on my desktop the freezes used 0 CPU (seemed like deadlocks in node.dll). I'll try the CPU profiler later and preview builds later, but I suspect I'd need to build code.exe/node.dll or somehow get symbols.

I'm back on a higher priority Visual Studio work, so I'm not  u

[2016-09-28 14:38] jrieken commented on #12865
I cannot repo with `./scripts/code.sh`

[2016-09-28 14:39] jrieken commented on #12868
dup of #5745

[2016-09-28 14:39] #12868 closed

[2016-09-28 14:41] joaomoreno commented on #12816
Mainly build issue.

[2016-09-28 14:41] regs01 commented on #381
It does work. It's just Consolas doesn't have light version. Don't know where to report it. But, i think, MS employees here could forward it to font devs.

[2016-09-28 14:42] mac-pro commented on #12619
Thanks,

I used some other Linux editors like Gedit, Kate, Geany... They _all_ had options to puts _all_ the phrases in the file into auto-completion list. That's why I thought it was weird when I found no `toString` in VSC auto-completion list.

I'll file new issue...

[2016-09-28 14:43] sean-mcmanus commented on #12769
Sure, I'll file a separate bug and attach a screenshot later (back to using VS), but the screenshot wouldn't show anything but a json file. I need somehow find the extension that is messing up backspace and tabs...I'll try searching the package.json later.

[2016-09-28 14:45] Jakobud commented on #12819
Does VSCode use Node 5.10.x or 6.6.0 now internally?

[2016-09-28 14:46] Gama11 commented on #12772
Thanks, setting `wordPattern` works nicely.

However, vshaxe also happens to use `:` as a trigger character (for type hint completion), which again cancels completion... `triggerCharacters` is just a string array - I guess there is no way to apply a trigger character selectively, only when the text before the cursor matches a regex for instance?

Now, this is not a huge issue, since we can probabl

[2016-09-28 14:47] chrmarti commented on #12821
See #12814 for the setup I'm seeing this. I was surprised when it switched from the Terminal to the Output panel because I was reading something in the Terminal. Maybe just a side-effect of #12814? That seems to restart tsc.

[2016-09-28 14:49] bgashler1 commented on #12779
For anyone else who is interested, this is a very difficult problem to solve in CSS, if it's possible at all.  We will most likely need to use a script to do this.

CSS isn't so good at auto widths under circumstances like this, which is required to get this centered.  I can explain more if there are any questions.

[2016-09-28 14:49] Tekbr commented on #7552
-- Sorry for the English, I used Google Translator --

@jrieken Ok, sorry for English. Like that word suggestion based on previously typed words happen in any language, and in different situations, as I tried to show the images.

[2016-09-28 14:50] chrmarti commented on #11181
On Linux/OSX opening/closing QuickOpen multiple time while `find` still runs would spawn an additional `find` process. The fix should prevent this and let the first `find` run to its end before spawning a new one when opening QuickOpen the next time.

[2016-09-28 14:51] ptitgraig commented on #9520
Indeed, not working for me either. Windows 7 32bits

[2016-09-28 14:51] octref commented on #12665
The thing is as git operations in VSCode is still very limited, people would do a lot of things on command line/their GUI tools.
And each branch might be very different. Notable examples include `gh-pages`.
I think Code could store branch information on exit and selectively use cached info to restore workspace.

[2016-09-28 14:55] Tyriar commented on #12774
This is because your `%COMSPEC%` environment variable is set to the 32-bit version of `cmd.exe`. If you want it to run the same shell you will want to use the `sysnative` version of `cmd.exe` as per the config docs https://code.visualstudio.com/docs/editor/integrated-terminal#_configuration

[2016-09-28 14:55] #12774 closed

[2016-09-28 14:55] #12834 closed

[2016-09-28 14:57] jrieken commented on #12647
@chrmarti I was unable to test this today. It would be good if redmond can jump in

[2016-09-28 14:58] #12816 closed

[2016-09-28 14:58] adamshone commented on #12743
@chrmarti yep, seems to work fine in that version! We can close this if @janhancic is happy with it.

[2016-09-28 14:59] octref commented on #12829
@joaomoreno It's the git integration on the scrollbar I believe. I tried running vscode with `--disable-extensions` it's still there:

![image](https://cloud.githubusercontent.com/assets/4033249/18918899/15a2666e-8551-11e6-8b52-c7bdc1744c6f.png)

Same for deleted lines (red left & blue right):

![image](https://cloud.githubusercontent.com/assets/4033249/18918984/632c5cfa-8551-11e6-9c75-6dda9deea3b

[2016-09-28 14:59] gstar42 commented on #9920
I updated a few days ago

Sent from my tablet

-------- Original message --------
From: João Moreno <notifications@github.com>
Date: 9/28/16 7:30 AM (GMT-08:00)
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: garry <gstar42@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vscode] Output spam when running code from command line (#9920)

Which version? Can you try the

[2016-09-28 15:00] chrmarti commented on #12647
@jrieken Will do, thanks.

[2016-09-28 15:00] joaomoreno commented on #12819
The next release will be coming out with `6.5.0`. You can find this out in the dev tools: `process.versions.node`.

[2016-09-28 15:03] joaomoreno commented on #9920
Please give me a version number.

[2016-09-28 15:03] bpasero commented on #78
It is not being worked on currently. My main concern is how to make a large .gitignore list performant enough against our glob exclude matching.

[2016-09-28 15:04] Tyriar commented on #12620
Looks like HTML/CSS syntax highlighting within JavaScript/TypeScript template files.

[2016-09-28 15:04] joaomoreno commented on #12829
Oh yeah, sorry man, totally spaced out there.

This was a purposeful decision. We decided to go with blue for the scrollbar colour, independently of the type of code change, to reduce traffic light syndrome.

If you feel passionate about it, we can make it into a setting.

[2016-09-28 15:05] bpasero commented on #12656
@sean-mcmanus you say 2 extensions cause this? can you isolate which one is causing it?

[2016-09-28 15:07] bpasero commented on #12865
I was not able to reproduce with VS Code stable.

[2016-09-28 15:08] bpasero commented on #12587
@jimah when you click the fullscreen button of the Mac OS X window, does it not go fullscreen? Can you share a screenshot or video how this behaves?

[2016-09-28 15:08] bpasero commented on #11181
@chrmarti thanks

[2016-09-28 15:10] gwk commented on #8574
@alexandrudima do you have any idea if the likely source of this bug is in the vscode or electron code bases? I also went hunting around in vscode and could not find anything. I tried downloading an electron tutorial app but could not find a text field in which to test the problem. Any guidance here would be much appreciated.

[2016-09-28 15:10] chrmarti commented on #12743
Thanks @adamshone. @janhancic is reporting a different issue. I will keep this issue open to track that.

[2016-09-28 15:13] sean-mcmanus commented on #12656
The AutoImport extension seemed to be one of the freezers, but I couldn't isolate the other extension. The problem is that the freezing is random and can stop reproing after a certain unknown conditions. One hypothesis put forth from the AutoImport thread that matches my observations is that certain parallel file searches are being done that lead to the freeze, but after the file searching is done

[2016-09-28 15:14] mac-pro opened #12890 "Java: toString is not in auto-completion list"
Hi,

- VSCode Version: 1.5.3
- OS Version: Windows 10

Steps to Reproduce:

1. Open a Java file which has 2 phrases:
  - `toString()`
  - `final long helloWorld = 0;`
2. Try auto-completion. While `helloWorld` is in the list, `toString` is not.

Would you please check? Personally I think it's weird. VSC can learn not-a-keyword `helloWorld`, but it cannot learn a... keyword `toString`?

Thanks,

--

[2016-09-28 15:14] cparker4486 commented on #12820
I'm afraid I don't understand the rationale behind this. This is the first time I've ever encountered this behavior in a program but your response tells me the VS Code team implemented it this way on purpose.

I checked Sublime Text 3114 and Visual Studio Community 2015 and neither behave this way. (I dare say because the way VS Code behaves is not standard and unexpected.)

I'm afraid I don't hav

[2016-09-28 15:15] Tyriar commented on #78
@bpasero can you define large? Here are some common examples https://github.com/github/gitignore

[2016-09-28 15:18] jimibi opened #12891 "Error"
- VSCode Version: Code 1.5.3 (5be4091987a98e3870d89d630eb87be6d9bafd27, 2016-09-22T08:50:42.185Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. I don't know
2.

[2016-09-28 15:21] bpasero commented on #78
@Tyriar yup (https://chromium.googlesource.com/chromium/src.git/+/master/.gitignore):

[code]

[2016-09-28 15:22] bpasero commented on #12656
You should bring this up with the extension developers to see if they hard about it before.

[2016-09-28 15:24] jrieken commented on #12772
Yeah - we blindly call the corresponding provider when that happens. Also repeatedly because suggestion might change (become more specific)

[2016-09-28 15:25] jrieken commented on #7552
Yes - that what #10819 is about.

[2016-09-28 15:25] gwk commented on #8574
For what it's worth the Atom app does not exhibit the broken vscode behavior.

However, Atom's implementation has slightly different behavior than 'traditional' bash and native Cocoa controls. The traditional behavior is to transpose characters before and after the insertion point AND move the caret to after the transposed pair, or if there is no character after the caret (end-of-line case) then t

[2016-09-28 15:27] CNMan commented on #12840
yes

[2016-09-28 15:27] carloscds commented on #12703
@joaomoreno Thanks Joao.

[2016-09-28 15:29] Jakobud commented on #12819
For v 1.5.3 I'm seeing the 6.5.0 (https://github.com/Microsoft/vscode/blob/1.5.3/appveyor.yml) used. But is 1.5.3 not released yet? I still am on 1.5.2 but haven't gotten any sort of update notification. But I do see it here: https://code.visualstudio.com/updates

[2016-09-28 15:30] XVincentX opened #12892 "Show preview editors while navigating through quick open results"
I think it would be really useful to open a temporary editor while searching with CMD+P and open the first file found in the list so I can have an immediate feedback without having to guess what's inside.

[2016-09-28 15:31] EmmanuelBeziat opened #12893 "Allow to enter paths for creating/renaming files"
I waste a lot of time creating new files and complete paths for it, and I think there would be some good ideas to improve this.

For example, when using the "create new file" command (by right click or panel command):

![](https://files.not.live/test_maps.html_-_valeo.map_2016-09-28_16-57-22.jpg)

VSC should be clever enough to understand that I request a complete path (existing or new) to put my

[2016-09-28 15:31] octref commented on #78
@bpasero [ag](https://github.com/ggreer/the_silver_searcher) respects .gitignore and claims to be very performant. The only problem is it needs some effort to get it to work on Windows.

[2016-09-28 15:40] bpasero commented on #12889
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-09-28 15:45] chrmarti commented on #12624
The trailing / and the multiple path segments in the patterns make them bypass one of the optimizations I have put into insiders. If you can simplify the patterns to many `"**/foo": true`, that should work around the issue in insiders. I'll look into improving the optimization.

[2016-09-28 15:45] sandy081 commented on #12750
After further investigation I am not in favor of doing the fix in `JavaScript.tmLanguage.json`. Because this file  is derived from [TypeScriptReact.tmLanguage](https://github.com/Microsoft/TypeScript-TmLanguage/blob/master/TypeScriptReact.tmLanguage). It would be good not to customize this.

I see this grammar is for `js` and `jsx` code.  It makes sense only if it is used to parse the code between

[2016-09-28 15:46] hashhar commented on #78
`ag` has broken gitignore support. It doesn't support directory excludes properly. And let's try to keep external dependencies to a minimum.

@bpasero What would happen if all rules from .gitignore were inputted to the exclude glob field found when searching? Apart from speed issues I mean.

[2016-09-28 15:50] octref commented on #12875
Can you use English to communicate in the repository. Thanks.

Which VSCode version are you using and which OS are you using?
As far as I know Windows/Mac/Linux doesn't allow you to have two files with same name in the same place.

[2016-09-28 15:51] dvirsky commented on #12889
@bpasero I suspect it's an extension as well, my current suspect is a `clang-format` extension, and I've disabled it. it's the best suspect since it's meddling with file content on save. It might have a race condition or something. I'll see if disabling it solves this.

[2016-09-28 15:52] kieferrm commented on #12827
@jrieken this is a JS file.

[2016-09-28 15:55] tmcentee opened #12894 "App/Electron won't start on macOS Sierra 10.12"
- VSCode Version: 1.5.3
- OS Version: macOS Sierra 10.12

I cannot get the latest .app to startup properly, either from the .app release or building from source.

When trying to run the .app, it immediately exits without a crash message/etc. I went into the app bundle and tried to run Electron directly and it simply exits without warning/error.

<img width="686" alt="screen shot 2016-09-28 at 10 5

[2016-09-28 15:58] isidorn commented on #12820
Sure - if everybody else behaves the way you propose that I agree that vscode should allign.
I believe it is just an if statement - should not require a lot of programming skill imho

[2016-09-28 16:03] egamma commented on #12721
@dbaeumer I agree let's fold this message into the release notes.

[2016-09-28 16:07] bpasero commented on #12750
@sandy081 I was thinking that this place would be here: https://github.com/Microsoft/vscode/blob/master/extensions/html/syntaxes/html.json#L180

But I am not so sure anymore how the JS language gets pulled in.

[2016-09-28 16:07] #12750 closed

[2016-09-28 16:07] sandy081 opened #12895 "Follow up on fix for #12750"
Follow up on fix for #12750

[2016-09-28 16:09] bpasero commented on #12750
Ok it gets pulled in via TM import: /Users/bpasero/Development/Microsoft/monaco/extensions/html/syntaxes/html.json

[2016-09-28 16:10] sandy081 commented on #12750
@bpasero I went with the fix from @alexandrudima (made it more explicit). Pushed it as it is a regression and might make people unhappy. As this fix is a workaround and safer.

[2016-09-28 16:12] bpasero commented on #78
I think it would work apart from an unusable slow search :). I think instead of trying to make the gitignore patterns work with our world we should shell out to git itself and ask it if a certain list of paths are valid paths for tracking changes.

[2016-09-28 16:14] Sequoia commented on #11413
Bump. Any news on this regression? Should I open a new ticket?

[2016-09-28 16:23] Tyriar commented on #78
/cc @chrmarti

[2016-09-28 16:24] stevencl commented on #12795
Quick notes

- No strong feeling for styling the letterpress shortcuts.
- Brad and Steven to discuss when and how to review the workbench UX holistically, incorporating horizontal panel design and inline title bar.

[2016-09-28 16:24] #12795 closed

[2016-09-28 16:24] hashhar commented on #78
@bpasero I think git has something like that. Mercurial has a command `hg status -i` which lists the ignored files present in the work tree and a similar command that shows all the tracked files and directories. Something similar can be achieved for git I think.

[2016-09-28 16:28] joaomoreno commented on #12819
1.6.0 went through 2 Electron updates, each of which had a different Node version. Follow [this value](https://github.com/Microsoft/vscode/blob/master/package.json#L4) to know what's the correct version.

[2016-09-28 16:36] bpasero opened #12896 "Restore ability to create a file from a link that points to non existing file"
We used to be able to click on a link to a file that does not exist and create that file, which imho was a very cool flow:
![editors](https://cloud.githubusercontent.com/assets/900690/18922564/7b124b2e-85a9-11e6-9b90-55cbf2626c36.gif)

Ever since links.ts seems to use the openerService we lost this ability and clicking on a missing link does not even return a message to the user that the file does

[2016-09-28 16:36] #12896 closed

[2016-09-28 16:37] bpasero commented on #12893
@EmmanuelBeziat we actually used to support to create a file from a link path but looks like it got broken and I pushed a fix for it (https://github.com/Microsoft/vscode/issues/12896). This is how it should behave:

![editors](https://cloud.githubusercontent.com/assets/900690/18922877/9cbac728-85aa-11e6-9720-39cf36478bcf.gif)

Your request for being able to enter paths in the file box is valid.

[2016-09-28 16:39] #12881 closed

[2016-09-28 16:42] Jakobud commented on #12819
Thanks for your help!

[2016-09-28 16:42] bpasero commented on #12894
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

Please also see: https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source

[2016-09-28 16:44] bpasero commented on #12819
@joaomoreno @Jakobud https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_6.md#electron-update

[2016-09-28 16:46] brendandixon opened #12897 "Feature Request: Default "find" settings (e.g., case sensitivity, regular expression settings)"
- VSCode Version: Code 1.5.3 (5be4091987a98e3870d89d630eb87be6d9bafd27, 2016-09-22T13:06:49.879Z)
- OS Version: Darwin x64 16.0.0

SublimeText accepts default "find" preferences, such as case sensitivity and regular expression settings. It would be very, very nice of VSCode did likewise.

[2016-09-28 16:46] Tyriar commented on #12809
Cannot reproduce on my Mac, cmd+up/down scroll fine and shift+page up/down work (shift+fn+up/down).

One thing that should change is to use just page up/down for scrolling a page to be consistent with the default Mac terminal.

[2016-09-28 16:49] roblourens commented on #12438
Oh that's right, I'm surprised I never noticed that before...

[2016-09-28 16:51] Jakobud opened #12898 "Bug: TextEditor.insert() fails to update TextEditor.selections"
- VSCode Version: 1.5.3
- OS Version: OSX 10.10.5

Steps to Reproduce:

Create an extension command that runs the following code:

[code]

So essentially this code, prints out your current selections to the debug console, then inserts some text where the primary/active cursor is, then again, prints out your current selections.

What you will find is that the differences between the 2 selections th

[2016-09-28 16:54] Tyriar commented on #11640
@benlowry first off please update VS Code so you're on the latest version.

After that it looks like it's failing on the following line: https://github.com/Microsoft/vscode/blob/5b3afc132ef5d50670c1c43a2b9650da532f20e8/resources/linux/bin/code.sh#L36

So you can try tweaking that command. Maybe that shell has issues with setting the environment variable at the beginning of a line?

[2016-09-28 16:56] samuelt1 commented on #78
would it be possible to write an extension to do this?

[2016-09-28 16:57] kieferrm opened #12899 "Improve layout and typography of the Getting-Started watermark"
- VSCode Version: 1.6 insiders
- OS Version: MacOS

See the following screenshot:
![screen shot 2016-09-28 at 08 56 25](https://cloud.githubusercontent.com/assets/4674940/18921450/aba20a7c-8559-11e6-9967-6ec3011c3cbb.png)

1. The blue boxes should be vertically centerline aligned.
2. The bold font is too dense and hard to read particularly as the contrast between the foreground and the background

[2016-09-28 16:58] bpasero commented on #11970
https://github.com/Microsoft/vscode/issues/8544

[2016-09-28 16:58] #11970 closed

[2016-09-28 16:58] roblourens commented on #12664
@jamietre This sounds like https://github.com/Microsoft/vscode-node-debug/issues/96, and should be fixed in Insiders now. Please let me know if it still reproes.

[2016-09-28 16:58] #12664 closed

[2016-09-28 16:59] mjbvz commented on #8264
@bpasero How many spaces is the indent? If it's 4 or more, then the text becomes a code block which will not be highlighted

[2016-09-28 16:59] chrmarti commented on #12779
@bgashler1 Would a table layout work? E.g.: http://codepen.io/anon/pen/xEAJJE

[2016-09-28 17:01] bpasero commented on #11942
More suggestions: Copy Path, Reveal in Explorer, Open Containing Folder,

[2016-09-28 17:01] bpasero commented on #12052
https://github.com/Microsoft/vscode/issues/11942

[2016-09-28 17:01] #12052 closed

[2016-09-28 17:02] bpasero commented on #12863
https://github.com/Microsoft/vscode/issues/11942

[2016-09-28 17:02] #12863 closed

[2016-09-28 17:06] Tyriar opened #12901 "Details of extension dependencies should show up in details or contributions tab"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04

#12647

Publishing an extension with extension dependencies does not show the dependencies anywhere, meaning an "empty" extension with 100 dependencies could exist and radically change the environment without warning the user.

[2016-09-28 17:06] chrmarti commented on #12899
Tracking horizontal alignment as #12779. The suggested changes improve readability for me. @bgashler1 What do you think?

[2016-09-28 17:06] bpasero commented on #12831
Looks like we cannot do this because this keybinding is already taken by editor folding.

[2016-09-28 17:08] kepeter opened #12902 "C# (powered by OmniShar) Extension"
Hello,

Not sure the right place to report, but couldn't figure out better...

Any case... When opening a C# project (folder) - after installing the extension - OmniSharp installed in the background. Everything seems perfect, but the OmniSharp installation is useless as it installs a 64 bit version, that can not be run on this machine!!!

    Attempting to download omnisharp-1.9-beta14-**win-x64**

[2016-09-28 17:08] roblourens opened #12903 "Debug console input has a large gap on the left"
![image](https://cloud.githubusercontent.com/assets/323878/18923930/14865df0-8563-11e6-8dfd-e3fbad42eb62.png)
That text is as far left as I can go

[2016-09-28 17:09] Tyriar opened #12904 "Installing an extension with dependencies that are already installed still displays install dependencies dialog"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04

#12647

Related to #12901

I tried installing an extension with a dependency that I already had installed, it asked me if I wanted to install the extension's dependencies and it did not do anything as far as I'm aware as I alre

[2016-09-28 17:11] roblourens commented on #12903
@octref Pointed out, if you have Vim installed
![image](https://cloud.githubusercontent.com/assets/323878/18924118/dcc7aeea-8563-11e6-8218-207cdde41722.png)

[2016-09-28 17:11] roblourens commented on #12903
Relative line number change?

[2016-09-28 17:12] Tyriar opened #12905 "Extensions with 0 installs should say 0 installs in viewlet"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04

#12647

It shows the extension with nothing on the right, why not be explicit?

![image](https://cloud.githubusercontent.com/assets/2193314/18924149/f383dcf8-8563-11e6-9a2b-8d82a88da921.png)

[2016-09-28 17:12] f-lima commented on #12610
Debug tab don't work with Code Runner extension.
Is it possible make it work in a future VSCode version?

[2016-09-28 17:15] f-lima commented on #12610
Thank you

[2016-09-28 17:15] mjbvz commented on #12858
It sounds like you don't actually want newlines inserted into the text, but want the line to be visually wrapped if it is longer than the window.

To enable wrapping for the current document, use the "Toggle Word Wrap" command (also found under `View`). To enable wrapping by default, add `"editor.wordWrap": true` to your user or workspace settings.

Please give that a try and let me know if that i

[2016-09-28 17:15] #12858 closed

[2016-09-28 17:16] ramya-rao-a commented on #12700
@bpasero agreed, I'll follow up

[2016-09-28 17:16] bpasero commented on #12426
This is now very easy in 1.6: you can either press shift when selecting the "Delete" option from the context menu or by just pressing the delete key and holding shift. I think this is good enough and typical OS behaviour. Closing.

[2016-09-28 17:16] #12426 closed

[2016-09-28 17:18] Tyriar opened #12906 "extensionDependencies should support @x.y.z annotation in addition to ^ and ~ as in dependencies"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04

#12647

Extension authors will use `extensionDependencies` for more than just packs but to rely on the contributions an extension exposes. That means that it becomes important when API breakages occur. An example of this is an

[2016-09-28 17:19] Tyriar opened #12907 "Extensions publish do not warn/error on invalid extensionDependencies"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04
#12647

I published an extension without errors with the following extensionDependencies:

[code]

It published fine but when installed it only installs `Tyriar.lorem-ipsum`.

[2016-09-28 17:20] roblourens commented on #12749
VSCode 1.2 is rather old, but in the newest version, I see an empty variables pane and that error is thrown internally. Playing with it, it usually works in Chrome devtools but I've seen that error there too -

![image](https://cloud.githubusercontent.com/assets/323878/18924395/e9388e96-8564-11e6-96eb-82870383de7f.png)

will address it but probably not for 1.6

[2016-09-28 17:21] wallverb commented on #12893
+10000 for making vscode smarter
If/when you do this - please also make sure it handles renaming/moving of the files in the same way : https://github.com/Microsoft/vscode/issues/9349
Thanks

[2016-09-28 17:22] bgashler1 commented on #12862
This seems odd that we can use either <kbd>Ctrl</kbd> and <kbd>Alt</kbd> to do the same the command.  @bpasero is there a reason why we have both keybindings for this?

@chrmarti is it possible to also use a comma separating all but the last keybinding (in which case we use the "or") so we don't repeat the "or" over and over?

[2016-09-28 17:25] Tyriar opened #12908 "Should extensionDependencies be tied more closely to their parent extension?"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04

#12647

Related: #12906

Perhaps this was a design decision but how I was envisioning this working was that installing an extension `foo` that depended on `bar`. Would result in something like this in the extension viewlet:

-

[2016-09-28 17:26] bpasero commented on #3588
This is coming for September.

[2016-09-28 17:26] #3588 closed

[2016-09-28 17:27] bgashler1 commented on #12779
@chrmarti yes, actually that does it nicely.  The only gotcha is that we're now throwing away some of the nice semantics of having all the definition list items in one definition list.  But this visually addresses what some people were wanting to be addressed.

Could you put this in the code?

[2016-09-28 17:28] Tyriar opened #12909 "Let me refresh the extension list in a reliable way"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04
#12647

It seems very random sometimes when I get informed there is an update to an extension. Sometimes it takes 10+ minutes to get an update, sometimes it's unclear whether I have the updated version and the version string in

[2016-09-28 17:29] bpasero commented on #6737
Let's continue in https://github.com/Microsoft/vscode/issues/12265

[2016-09-28 17:31] Tyriar opened #12910 "Why can't I sort the installed extensions list?"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04
#12647

It seems odd to me that it's disabled on the installed extension list, particularly when the current order is a bit wacky. Sorting by name would make more sense when whatever it's sorting by here:

![image](https://cloud

[2016-09-28 17:32] chrmarti commented on #12779
@bgashler1 Yes, will do. Thanks.

[2016-09-28 17:34] bpasero commented on #78
Currently not.

[2016-09-28 17:34] bpasero commented on #8264
@mjbvz this was one Tab. My original bug report was likely also doing that.

[2016-09-28 17:35] bpasero commented on #12862
@bgashler1 Maybe just show the first keybinding you get and not all of them if there are secondary keybindings defined.

[2016-09-28 17:36] Tyriar commented on #12904
This may have been related to using the invalid extension ID in #12907

[2016-09-28 17:39] kieferrm opened #12911 "Command Palette should show "Go to Symbol in File" and "Go to Symbol in Workspace""
- VSCode Version: 1.6 insiders
- OS Version: any

With #11494 the Go menu now includes `Go to Symbol in File` and `Go to Symbol in Workspace`. The command palette only includes `Go to Symbol` which is `Go to Symbol in File`. There is no command for `Go to Symbol in Workspace`. We should add the command and make sure they are called the same in the command palette and the Go menu.

[2016-09-28 17:41] russellholmes commented on #396
I agree - i think this request is a definite requirement.
You don't always have a project in a single folder - you can have ancillary and sibling folders and not having this feature is a real deal breaker for my just now - thats why i have to use sublime.
Please add it!

[2016-09-28 17:41] mjbvz commented on #8264
@bpasero Take a look at the markdown preview and see how the text is rendered. Our highlighting tries to match what it does.

Content indented using either a four space tab or a literal tab both render as code blocks in my testing:

![screen shot 2016-09-28 at 10 39 08 am](https://cloud.githubusercontent.com/assets/12821956/18925200/d424109a-8567-11e6-8184-b384cab2d68a.png)

[2016-09-28 17:42] bgashler1 commented on #12899
@kieferrm I'd prefer to use less-heavy font-weight that is semi-bold so that it is still differentiated as the master of the detail on the right.  This would be `font-weight: 600`.  What do you think?

<img width="354" alt="screen shot 2016-09-28 at 10 37 01 am" src="https://cloud.githubusercontent.com/assets/11839736/18925131/86924658-8567-11e6-994f-de0f22e596d6.png">

[2016-09-28 17:43] Tyriar opened #12912 "Updating an extension should present the version of the update"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04

#12647

Updating from v1 to v2 could cause issues for users.

![image](https://cloud.githubusercontent.com/assets/2193314/18925290/47cc5534-8568-11e6-8970-4c6036526254.png)

[2016-09-28 17:45] Tyriar opened #12913 "Extension detail pane should indicate the version of the readme, particularly when an update is available"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04
#12647

In the following image the current extension version is v0.0.3 and the latest is v0.0.5. Until testing #12647 I always assumed that the readme was for the latest version of the extension, not the current version.

![imag

[2016-09-28 17:47] bgashler1 commented on #12862
@chrmarti can you do that for now?

[2016-09-28 17:47] Tyriar opened #12914 "vsce should not publish with duplicates in extensionDependencies"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04

#12647

Extensions can be published like the following:

[code]

[2016-09-28 17:48] markoczy opened #12915 "Menubar and Context Menu invisible on Windows High Contrast"
<img width="908" alt="vsc_menubar_bug" src="https://cloud.githubusercontent.com/assets/12068873/18925354/f4e600b2-85b3-11e6-8429-b355f9ba3ba0.PNG">

- VSCode Version: 1.5.3
- OS Version: Win 10 Education 10.0.14393 Build 14393

Steps to Reproduce:

1.  Set Windows to high contrast mode with dark background
2.  Start VS Code and open menu bar or context menu

The result is that the menu items are i

[2016-09-28 17:49] kieferrm opened #12916 "Workspace or Folder or both?"
- VSCode Version: 1.6 insiders
- OS Version: any

The Go menu contains `Go to Symbol in Workspace`.  With #12911 the command palette would contain:
- Go to Symbol in Workspace
- Configure Workspace Recommended Extension
- Show Workspace Recommended Extension
- Open Workspace Settings

We also experimented with "Configure Workspace". However, anywhere else we use "folder", i.e. we don't really have

[2016-09-28 17:49] kieferrm commented on #12916
@egamma  I missing history here.

[2016-09-28 17:51] Tyriar opened #12917 "Updating an extension will install new extensionDependencies without prompt"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:23:37.103Z)
- OS Version: Linux x64 4.4.0-38-generic, Ubuntu 16.04

#12647

Steps to Reproduce:

1. Publish an extension with dependency `foo`
2. Install the extension, prompt
3. Publish new version of the extension with additional dependency `bar`
4. Install the extension, no prompt

[2016-09-28 17:51] roblourens opened #12918 "Info prompt to restart Code after uninstalling extension, but not installing"
When you uninstall an extension, you see this:

![image](https://cloud.githubusercontent.com/assets/323878/18925598/69aa25f4-8569-11e6-95e4-a138a37bdef9.png)

But when you install an extension, you have to see Enable in the extensions pane. It seems like you should see an info bar for both cases (or neither).

[2016-09-28 17:51] mjbvz commented on #12647
I see this error when trying to install the published test-extension-pack-2 on Windows and selecting "Yes":

![image](https://cloud.githubusercontent.com/assets/12821956/18925395/b472d4a6-8568-11e6-89df-d3efba09b19a.png)

When I hit this error, I'd already mucked around with these extensions quite a bit by installing them and uninstalling them, and doing the same for the individual extensions in t

[2016-09-28 17:52] Tyriar commented on #12909
I figured out a work around for this which is to search for it, this took me literally weeks to find though. A refresh button would be far more intuitive.

[2016-09-28 17:52] roblourens commented on #12904
I've been specifically testing this and didn't see it in OSX

[2016-09-28 17:53] Tyriar commented on #12647
@mjbvz I'd guess it's probably a problem with that particular extension.

[2016-09-28 17:53] bastienJS commented on #11153
feature request? thats a bug...

[2016-09-28 17:54] roblourens commented on #12647
Does that file exist?

[2016-09-28 17:54] Tyriar commented on #12647
@mjbvz actually I'd file a bug, .vscode/Icon is probably part of the extension install code to cache the icon.

[2016-09-28 17:55] markoczy commented on #12915
Probably this is also useful, this is my High Contrast configuration (I already tried to change the gray, but still no differnce):

<img width="366" alt="hc_settings" src="https://cloud.githubusercontent.com/assets/12068873/18925670/2e4d6024-85b5-11e6-889e-74ad747fd7bc.PNG">

[2016-09-28 17:56] Tyriar commented on #12904
#12907 is likely the root cause.

[2016-09-28 17:59] pocesar commented on #12503
@bpasero that error happened in stable, not insiders. I wasn't able to get CPU profile in insiders.

and you mean, rename the folder to something else?

[2016-09-28 17:59] roblourens commented on #12281
@joaomoreno In my extensions folder, I have multiple versions of some extensions. I assume there should only be the latest. Is that from this? LMK if you want my extensions dir.

![image](https://cloud.githubusercontent.com/assets/323878/18925905/8e5455e0-856a-11e6-8616-5224eb84c2ee.png)

[2016-09-28 18:01] pocesar commented on #12375
latest version of vscode insiders (c94c8) is showing the wriggly lines and the "problems" tab is displaying the errors, but still randomly getting freezes

[2016-09-28 18:04] chrmarti commented on #12716
- On Windows: That is just how the keybindings are spelled out, also in the command palette.
- _this **or** that **or** these_: Tracked as #12797 and #12862
- The UX meeting hasn't brought forward a clear winner for the shortcut styling. I would keep it as is, @bgashler1 ?
- I will update the text from "Command Palette" to "Go to File" as part of this issue.

[2016-09-28 18:12] mjbvz opened #12919 "Error Installing Test-extension-pack-2 on Windows"
From #12647

- VSCode Version: 1.6 Insiders
- OS Version: Win 10

##### Steps to Reproduce

1. Without any extensions installed, try to install `test-extension-pack-2`
2. Select "Yes" for installing dependencies

##### Actual
I see this error message, and none of the extensions are installed

![image](https://cloud.githubusercontent.com/assets/12821956/18926241/e2bac6f4-856b-11e6-8d22-514164eb16d5

[2016-09-28 18:15] egamma commented on #11413
@Sequoia need @aeschli's insights on this. He is currently out.

[2016-09-28 18:15] octref opened #12920 "Create new terminal affects layout if status bar is off"
- VSCode Version: 1.6
- OS Version: OS X 10.11.6

![term](https://cloud.githubusercontent.com/assets/4033249/18926473/cb28d07a-856c-11e6-925c-8dbba7623d0e.gif)

Possible culprit: https://github.com/Microsoft/vscode/commit/9ad845dbec1c3e84d85ac0c49904e12325534099

[2016-09-28 18:17] gregvanl opened #12921 "Markdown preview clipped when VS Code is zoomed in"
- VSCode Version:1.6.0 insiders
- OS Version: Windows 7

Steps to Reproduce:

1. Open and Markdown file and zoom in several levels.
2. Open Preview

The preview is clipped.

![markdownzoomin](https://cloud.githubusercontent.com/assets/12818376/18926543/12289528-856d-11e6-964b-faa5c82b0f96.png)

[2016-09-28 18:20] mjbvz commented on #12921
Duplicate of #5745

I only know this because I opened #12824 to track the same problem and it was marked as a dup of #5745

[2016-09-28 18:20] #12921 closed

[2016-09-28 18:22] kieferrm commented on #12899
@bgashler1 I personally prefer `normal` due to the blurring effect described above. However, I'm only one voice...

[2016-09-28 18:28] dclarkNV opened #12922 "Windows Debugger breaks on lowercase filename"
- VSCode Version: 1.5.3
- OS Version: Win10

Steps to Reproduce:
1.  Create an .exe that uses mixed case filenames. i.e. Source.cpp
2. Add a breakpoint to Source.cpp
3. Debug and hit the breakpoint

The editor will open up source.cpp alongside Source.cpp. The arrow pointing to the current line is in source.cpp, the breakpoints are in Source.cpp. It's pretty confusing. Both files can have their own

[2016-09-28 18:29] mousetraps opened #12923 "Renaming an open file is jarring"
Testing https://github.com/Microsoft/vscode/issues/12519

See video below:
[2016-09-28_11-04-54.zip](https://github.com/Microsoft/vscode/files/498920/2016-09-28_11-04-54.zip)

While renaming the file aa.php to aaa.php, the following happens within the course of a second:
![image](https://cloud.githubusercontent.com/assets/762848/18926654/82a40602-856d-11e6-9dc9-eb0779136027.png)
- **Frame 1:** Sta

[2016-09-28 18:30] #12862 closed

[2016-09-28 18:32] mjbvz opened #12924 "Extension Search Default Query Should Have Space After It"
- VSCode Version: 1.6 Insiders
- OS Version: OSX 10.11

##### Steps to Reproduce

1. In new VS session, click on extensions section
2. Start typing some search term.

##### Expected
Entered text  becomes search term

#### Actual
Because no space in inserted after the default `@sort:installs` query, the text is tacked onto the end of that:

![sep-28-2016 11-28-47](https://cloud.githubusercontent.co

[2016-09-28 18:32] chrmarti commented on #12780
I'd go with Greg's suggestion to use / in #12797. @bgashler1 ?

[2016-09-28 18:35] Jakobud commented on #12819
Excellent thank you

[2016-09-28 18:36] dbaeumer commented on #12375
OK. Will close this one. Lets followup regarding the freezes in #12503

[2016-09-28 18:36] #12375 closed

[2016-09-28 18:38] mindplay-dk commented on #4955
Don't see a problem there, but it's also running completely vanilla on that page, not running boatloads of plugins plus the Typescript compiler-service, etc. correct?

I was working on a very big TS project back in april, and haven't really worked much with VS Code since then, and never on anything huge. I haven't noticed any issue with recent smaller projects, so it's possible something fixed the

[2016-09-28 18:38] dbaeumer commented on #12721
OK. Will work with @joaomoreno tomorrow to fold that together.

[2016-09-28 18:41] dbaeumer commented on #12814
That is correct. The hack is actually in the $tsc-watch problem matcher that we made along time ago for extension developement :-).

I leave the hack in but in October I will remove it.

[2016-09-28 18:44] hasit opened #12925 "Allow user to pick multiple options from showQuickPick list"
I am making an extension for VSCode where I present the user with a list using `showQuickPick()` like so:

<img width="908" alt="screen shot 2016-09-28 at 11 40 55 am" src="https://cloud.githubusercontent.com/assets/1553055/18927371/75c0a820-8570-11e6-9843-0dc334839170.png">

From what I understand, this way allows user to only pick one item out of the whole list. Is there a way to allow user to p

[2016-09-28 18:44] mjbvz commented on #12919
In my testing, you can install `test-extension-pack-2` if you install `test-extension-pack-1` or `test-extension-pack-2` first.

[2016-09-28 18:45] dbaeumer commented on #12821
Correct the steps #12814 cause this. I think we need to go over all the output channel usages as soon as we have the panel switchers with the badges. The reason why we bring panels in front right now is that there is otherwise no indication that output happened.

 @bpasero, @isidorn would it make sense to open an issue that everybody goes over their show calls. Most of them might not be needed any

[2016-09-28 18:45] dbaeumer commented on #12821
Move to October to correct the show in task land.

[2016-09-28 18:47] roblourens commented on #12707
@isidorn @ramya-rao-a I can verify if either of you have repro steps?

[2016-09-28 18:48] mousetraps opened #12926 "Send feedback dialog doesn't provide correct affordances"
Testing https://github.com/Microsoft/vscode/issues/12519

Hyperlinks should be underlined when hovering in Other ways to contact us box
![image](https://cloud.githubusercontent.com/assets/762848/18927353/6751c2b0-8570-11e6-977f-05eb153d7949.png)

Wrong cursor when hovering over tweet button, and also button should look depressed (physically, not emotionally)
![image](https://cloud.githubuserconten

[2016-09-28 18:51] mjbvz opened #12927 "Extensions UI Should Have Some Sort of Text/Indicator When No Results Are Returned"
- VSCode Version: VS Insiders 1.6

In the extensions UI, when no results are found, there should be text or something that indicates this. Currently, the pane is just empty:

![screen shot 2016-09-28 at 11 47 35 am](https://cloud.githubusercontent.com/assets/12821956/18927580/5cd3134c-8571-11e6-87cb-9e526221764e.png)

To me, with the empty pane makes it unclear if something went wrong or if search

[2016-09-28 18:58] mousetraps opened #12928 "Accessibility Options have permanently disabled checkboxes?"
Testing #12519

I don't know what they do but I want to check them, and I can't!

![image](https://cloud.githubusercontent.com/assets/762848/18927861/753727b0-8572-11e6-9872-5c6e4d91cb79.png)

[2016-09-28 19:02] kostadinnm commented on #5217
Of course I am, Benjamin. I guess, it should be visible elsewhere utilizing DirectWrite's sub-pixel positioning. Had you even tried follow the conversation with damieng on the Atom thread?!
The thing is it's just not clear who's acting up. Clear my mind - was VSCode Chromium-based?! I need to find some other programs that utilize DirectWrite's sub-pixel positioning and compare the fonts' rendering

[2016-09-28 19:07] #12603 closed

[2016-09-28 19:09] anthonydresser commented on #12164
I just noticed that fontweight, fontsize, and fontfamily all have the same problem. Most likely a related problem I imagine.

[2016-09-28 19:21] riteshatsencha commented on #12660
Yes. Trying to debug. BTW, the index.js I am referring to is in node-fetch module.

[2016-09-28 19:25] melanierichards opened #12929 "Enter key non-functional"
- VSCode Version: Code 1.5.3 (5be4091987a98e3870d89d630eb87be6d9bafd27, 2016-09-22T08:50:42.185Z)
- OS Version: Windows_NT ia32 10.0.14937

Steps to Reproduce:

1. Open a current or new file, doesn't matter what file type it is.
2. Press enter, hold and press enter, press enter a thousand times in a row, toggle "Insert" button, no response. This applies to the main enter key and the one on the num

[2016-09-28 19:47] roblourens opened #12930 ""Save as type" is very very wide"
![image](https://cloud.githubusercontent.com/assets/323878/18927962/ef67bd6a-8572-11e6-8451-c21feb05032c.png)

Only because of all the extensions in XML, do we really need to show all of them?

[2016-09-28 19:47] roblourens commented on #12930
#12248

[2016-09-28 19:54] mjbvz opened #12931 "500 Error on Workspace Recommended Extension Search with Invalid extensions.json"
- VSCode Version: Insiders 1.6

##### Steps to Reproduce

1. Create a blank `.vscode/extensions.json`
2. Edit the file like so:

[code]

Go to Extensions and search `@recommended:workspace`.

##### Expected
No search results are returned or some more helpful error message is shown.

##### Actual
A 500 is returned by the server and shown as an error in the UI. It seems the extension names needs a `

[2016-09-28 19:58] mousetraps commented on #12928
Just chatted with @Tyriar - apparently, these aren't checkboxes... they are empty icons masquerading as checkboxes.

[2016-09-28 19:58] ramya-rao-a commented on #12707
@roblourens you can check kusto for error events and make sure this error with similar callstack does not appear

[2016-09-28 19:59] dcbrwn commented on #12822
I suppose that this issue is kind of related to #3746. I'm having the same problem right now with JS code blocks.

[2016-09-28 19:59] Tyriar commented on #12928
This is chrome://accessibility, I guess Electron adds it to the menu by default now?

[2016-09-28 20:00] mousetraps opened #12932 "Help > Accessibility Options context menu should be hidden"
Testing #12519

We handle accessibility in our own way, so having the additional menu item from chromium is confusing. Not to mention, the resulting dialog itself is inaccessible (not resizeable, confusing icons, etc.)
![image](https://cloud.githubusercontent.com/assets/762848/18929790/c4173098-857a-11e6-8c42-16edb8d1b929.png)

Related to https://github.com/Microsoft/vscode/issues/12928

[2016-09-28 20:02] chrmarti commented on #12779
@bgashler1 Pushed a fix, could you take a look?

[2016-09-28 20:13] ihorskyi commented on #5164
Same issue here, can't use neither `cmd+alt+n` nor `alt+cmd+n` for shortcut in vscode.
**MacOS**: 10.9.5
**VSCode**: 1.5.3
**Keyboard Layout**: US

At the same time `cmd+alt+m` & `alt+cmd+m` works fine

[2016-09-28 20:17] waderyan commented on #12763
@seanmcbreen do you know how to create a fwd link? @chrisdias has kept how to do it a state secret ;)

[2016-09-28 20:19] mousetraps opened #12933 "Errors icon in status bar missing tooltip"
Testing https://github.com/Microsoft/vscode/issues/12519

Hovering over errors icon in status bar should have a helper tooltip to "Show Problems"
![image](https://cloud.githubusercontent.com/assets/762848/18930691/f7320b4e-857d-11e6-80d1-d9255773382e.png)

[2016-09-28 20:29] mousetraps opened #12934 "Search very confused about UTF-16 LE file"
Testing https://github.com/Microsoft/vscode/issues/12519

The file: [snap_0.zip](https://github.com/Microsoft/vscode/files/499186/snap_0.zip)

![image](https://cloud.githubusercontent.com/assets/762848/18931231/21dc8cdc-8580-11e6-9eba-ba4ed4102d70.png)

[2016-09-28 20:30] joshsleeper commented on #11751
@bpasero I think what @infinnie is trying to say is that it'd be nice to be able to turn the icons on or off in each location based on one or more config entries.

That is, if I run a small screen with a lot of tabs for example, maybe I'm not keen on showing the icons on the tabs themselves.

I'm not sure how hard that would be to add support for a config entry per-icon-location (or maybe just one

[2016-09-28 20:30] mjbvz opened #12935 "Hang on Workspace Recommended Extension Search with Too Many Recommended Extensions in extensions.json"
- VSCode Version: 1.6 Insiders

##### Steps to Reproduce

1. Create a `.vscode/extensions.json` file
2. Add `"a.a"` to the `"recommendations"`.
3. Really recommend `"a.a"` by repeating it **one hundred thousand** times.
4. Try searching workspace recommended extensions

##### Result
Hang. Window no longer responds for a minute or two before getting search results back.

##### Expected
There would

[2016-09-28 20:37] waderyan commented on #12849
Repo'd.

![image](https://cloud.githubusercontent.com/assets/2449568/18931343/a2054dae-8580-11e6-986e-c47ce8804fc9.png)

Moving to TS.

[2016-09-28 20:37] #12849 closed

[2016-09-28 20:39] waderyan commented on #12849
https://github.com/Microsoft/TypeScript/issues/11217

[2016-09-28 20:40] mousetraps opened #12936 "Extraneous <global> symbol from Salsa"
Testing #12598

![image](https://cloud.githubusercontent.com/assets/762848/18931439/088f3a1c-8581-11e6-8a79-17b54f6a4aeb.png)

[2016-09-28 20:40] waderyan commented on #12852
Repro'd

![image](https://cloud.githubusercontent.com/assets/2449568/18931464/28da5586-8581-11e6-8b6b-e2006d175a46.png)

Moving to TS

[2016-09-28 20:40] #12852 closed

[2016-09-28 20:41] mjbvz commented on #12822
@dcbrwn Yes, this is another manifestation of #3746 but triggered by different behavior

In markdown, the fenced code block tokenizers for various programming languages can currently escape outside of the fenced code block if there is a syntax error in the block. In this example, the `>` is included inside the code content of the fenced code block because of incorrect parsing of block quotes. The

[2016-09-28 20:42] waderyan commented on #12852
https://github.com/Microsoft/TypeScript/issues/11219

[2016-09-28 20:42] #12647 closed

[2016-09-28 20:46] roblourens opened #12937 "Console/Output don't maintain their scroll position when hide/show panel, terminal does"
- Have some output in the Debug Console or Output pane.
- Scroll up
- Hide the panel
- Show the panel
- Now they are scrolled all the way down

That might be ok, but if you repeat the same steps for the terminal, it maintains its scroll position across show/hide. I like that behavior better. Either way, I think it should be consistent.

[2016-09-28 20:51] mousetraps opened #12938 "`Show accessibility help` no longer appears in All Commands list"
Testing https://github.com/Microsoft/vscode/issues/12519

The Alt+F1 shortcut is also unavailable, though ctrl+m works fine
![image](https://cloud.githubusercontent.com/assets/762848/18931776/71ed1ec4-8582-11e6-869a-f7220bf7c5d6.png)

In 1.5, the command would appear:
![image](https://cloud.githubusercontent.com/assets/762848/18931789/7ffc00b6-8582-11e6-92b8-4628e4e3f4c3.png)

[2016-09-28 20:53] joaomoreno commented on #12716
Please don't keep it as is. At least use a monospace font...

[2016-09-28 20:53] robmikh commented on #12929
I'm able to reproduce the same issue on both the stable and today's insider builds. Not only do other applications work correctly, other electron based applications do as well. It seems to be specific to Visual Studio Code. I'm on a desktop running Windows 10 insider builds with a normal USB keyboard.

[2016-09-28 20:54] joaomoreno commented on #12281
@roblourens We've been rolling around with a bug that fails to remove the old extension versions, for which I pushed a fix today. Send me your extensions folder if you see the same dissociation behaviour as @gerane

[2016-09-28 20:55] Mlocik97 commented on #11802
When You fix it?

[2016-09-28 20:55] mousetraps opened #12939 "Ctrl+M doesn't work from markdown Preview window"
Testing #12519

Ctrl+M to toggle "Tab moves focus" mode does not work from File Preview window from markdown file - see below - while preview of `blah.md` is open, Ctrl+M does nothing
![image](https://cloud.githubusercontent.com/assets/762848/18931981/5d9a42ac-8583-11e6-8a9f-935a356fc10d.png)

[2016-09-28 20:58] waderyan commented on #12563
This seems to be the intended behavior. If `includes` or `files` is empty than the TypeScript project is empty. `tsconfig.json` is indicating that the files in the workspace are not part of the TypeScript project and so they should not be included in the TS language service's code navigation, linting, intellisense, etc.

@mhegazy can you correct me if I am misunderstanding? OP has a minimal repo y

[2016-09-28 20:59] roblourens commented on #9354
Verified on OSX and Linux, but I don't see this on Windows. When I press Shift+Delete, nothing happens. Tried some other keys too.

[2016-09-28 20:59] joaomoreno commented on #12906
Although I do see the benefit, we currently neither support installing old extension versions not running different versions of the same extension simultaneously... both situations that would quickly emerge from this.

We're rolling out with this first and let's tackle the specific dependency issues when they come.

[2016-09-28 20:59] #12906 closed

[2016-09-28 21:00] waderyan commented on #12463
Interesting. Ok moving to TS repo.

[2016-09-28 21:00] waderyan commented on #12463
This issue was moved to Microsoft/TypeScript#11224

[2016-09-28 21:01] joaomoreno commented on #12908
We don't want to emphasise this feature. Extension dependencies should be used in rare situations, since we want extensions to be as independent as possible. They can't work as node modules do, so we don't treat them as so.

[2016-09-28 21:01] #12908 closed

[2016-09-28 21:03] joaomoreno commented on #12912
#9974

[2016-09-28 21:03] #12912 closed

[2016-09-28 21:04] ihorskyi opened #12940 "Feature Request: Distraction free (zen) mode"
Would be most useful to have it in vscode. IDE/Editors that have it
- IntelliJ idea/Webstorm
- Eclipse
- Atom
- Sublime Text

[2016-09-28 21:05] joaomoreno commented on #12914
Microsoft/vscode-vsce#134

[2016-09-28 21:05] #12914 closed

[2016-09-28 21:05] mousetraps opened #12941 "Implement an overflow design for the status bar"
Testing #12519

Change window.zoomLevel in settings to 3, and shrink the window a bit until the "responsive" design starts kicking in. Pressing Ctrl+M then toggles the UI between the following two states:
![image](https://cloud.githubusercontent.com/assets/762848/18932111/d3f702dc-8583-11e6-833f-42df3a6fbdd0.png)

This is problematic because
-  there's no indication to the user what just happened

[2016-09-28 21:06] #12871 closed

[2016-09-28 21:07] mousetraps commented on #12941
Also, if you toggle into the tab-moves-focus mode, and start tabbing through the UI, eventually the remainder of the status bar will appear (sort of)
![image](https://cloud.githubusercontent.com/assets/762848/18932310/a9e62292-8584-11e6-8c82-c834d5de1d6e.png)

[2016-09-28 21:07] isidorn commented on #12937
We should maintain scroll position

[2016-09-28 21:07] joaomoreno commented on #12873
We made this choice because we always want our users as much on the latest as possible.

[2016-09-28 21:07] #12873 closed

[2016-09-28 21:08] isidorn commented on #12903
Dup of https://github.com/Microsoft/vscode/issues/12879

[2016-09-28 21:08] #12903 closed

[2016-09-28 21:10] isidorn commented on #12660
Can you please provide nice reproducable steps? Thank you

[2016-09-28 21:10] joaomoreno commented on #12880
In python, after a for-loop line, the line should indent.

[code]

Are you saying that it indents the double? Can you show a screenshot? Recording?

[2016-09-28 21:11] #12886 closed

[2016-09-28 21:11] isidorn commented on #12707
We do not verify error-telemtry usually. If it is not fixed it will just come back again.
Though if you would like to verify just do a code review - check that part of the code and you will see it is now imposible for that field to be null

[2016-09-28 21:12] joaomoreno commented on #12890
![image](https://cloud.githubusercontent.com/assets/22350/18932507/14e01e44-85d1-11e6-9265-a3ec059983e1.png)

[2016-09-28 21:13] #12891 closed

[2016-09-28 21:14] mjbvz opened #12942 "Inconsistent Behavior When Using 'Toggle Word Wrap' and 'editor.wrappingColumn'"
- VSCode Version: 1.6 Insiders
- OS Version:

##### Steps to Reproduce

1. Add `"editor.wrappingColumn": 40` and `"editor.wordWrap": true` user settings.
2. Open a document with a long long.
3. Toggle Word wrap (should disable word wrap)
4. Toggle word wrap again.

##### Expected
Text wraps back to the 40 column mark.

##### Actual
Text wraps to the editor frame boundaries instead.

![sep-28-2016

[2016-09-28 21:16] joaomoreno commented on #12902
Please file this in the appropriate extension repository: https://github.com/OmniSharp/omnisharp-vscode/issues

[2016-09-28 21:16] #12902 closed

[2016-09-28 21:17] joaomoreno commented on #12915
Setting to September for analysis.

[2016-09-28 21:20] joaomoreno commented on #12924
Wanna submit a PR?

[2016-09-28 21:21] joaomoreno commented on #12926
This would make a great PR!

[2016-09-28 21:21] gregvanl opened #12943 "Help > Release Notes still goes to website"
- VSCode Version:1.6.0 insiders
- OS Version:Windows 10

Should Help > Release Notes also display the release notes in product?

[2016-09-28 21:22] mjbvz commented on #12924
@joaomoreno Was just editing the commit when I saw your message :) Just a moment

[2016-09-28 21:24] joaomoreno commented on #12929
Wait, what? You can't press <kbd>Enter</kbd>?

Does it reproduce without any extensions running? Use `--disable-extensions` for that.

[2016-09-28 21:25] joaomoreno commented on #12932
This is needed until the issue is resolved in Chromium/Electron. When it is, we'll simply remove the whole thing.

cc @alexandrudima @bpasero

[2016-09-28 21:25] riteshatsencha commented on #12660
Actually, seems like an issue at my end. I will be closing this thread. Issue is with node-fetch index.js not receiving a proper url.

Thank you.

[2016-09-28 21:25] #12660 closed

[2016-09-28 21:26] joaomoreno commented on #12935
Great catch!

[2016-09-28 21:27] mousetraps opened #12945 "--locale cmd line argument not working (Windows)"
Testing #12519

From the command line, `code-insiders --locale zh-TW` doesn't bring up the correct locale (always English)

[2016-09-28 21:27] joaomoreno commented on #12938
Setting to September: not sure if regression.

[2016-09-28 21:28] sandy081 commented on #12901
Duplicates #12756

[2016-09-28 21:28] #12901 closed

[2016-09-28 21:29] joaomoreno commented on #12941
Oh my.

[2016-09-28 21:30] joaomoreno commented on #12943
We will go to the website as a fallback.

Insiders have no release notes, so we need to fallback to that.

[2016-09-28 21:31] joaomoreno commented on #12945
Setting to September for regression analysis.

[2016-09-28 21:33] sandy081 commented on #12904
Yes, related to #12907.

[2016-09-28 21:33] #12904 closed

[2016-09-28 21:35] robmikh commented on #12929
Yes, that's exactly it. Curiously, Ctrl+Enter works but is insufficient as a work around.

I'll give that a shot when I'm back at my desk. But when I tried the vscode insider build I didn't have any extensions installed and it reproed.

[2016-09-28 21:36] #12519 closed

[2016-09-28 21:40] mhegazy commented on #12563
You are correct @waderyan. an tsconfig.json with empty `files` or empty `include` loads no files. a quick way to diagnose that is using `tsc --listFiles`. so:

[code]

[2016-09-28 21:40] #12920 closed

[2016-09-28 21:42] Tyriar commented on #12937
So the terminal had an issue with this recently where hiding and displaying was keeping the viewport where it was but the scroll bar was being pushed to the top. The reason this happens is because the element is detached and re-attached to the DOM which does not maintain the `scrollTop` position.

Might be useful in finding a fix: https://github.com/Microsoft/vscode/issues/12574, https://github.co

[2016-09-28 22:00] #12809 closed

[2016-09-28 22:09] mjbvz opened #12946 "Incorrect Markdown Colorizaiton for Block Element on Line Immediatly After a Paragraph"
For a markdown file like this:

[code]

The numbered list, html block, and fenced code block elements following the line are nor properly colorized. They are rendered properly in the preview.

![image](https://cloud.githubusercontent.com/assets/12821956/18934111/e025d566-858c-11e6-85df-557fde95dfb1.png)

In the case of the html, the `**html**` text should not be colorized since it is html content,

[2016-09-28 22:10] gregvanl commented on #12943
Sorry, I should have been clearer. I configured insiders to display the release notes in the product (following the test plan).
In this case, shouldn't both the banner and Help > Release Notes both display the release notes in the product.
Or is it by design that Help > Release Notes goes to the website just like Help > Documentation.

[2016-09-28 22:11] robmikh commented on #12929
I launched with `--disable-extensions` and it still repros for me.

[2016-09-28 22:12] waderyan commented on #12621
@kgtkr thank you for opening this issue. This is working with the latest bits for me. Can you try this with [Insiders](http://code.visualstudio.com/insiders) to confirm it works for you?

Also, try installing this [extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.typescript-javascript-grammar) that was released today to solve grammar issues.

[2016-09-28 22:18] waderyan commented on #12655
@evmar thank you for opening this issue. This is very interesting. I cannot reproduce this behavior on my machine however there seems to be a perf issue we can address here.

Can you provide additional specs on your machine?

[2016-09-28 22:19] gregvanl opened #12947 "With tabs disabled, dirty indicator doesn't change to Close X on hover."
- VSCode Version:1.6.0 insiders
- OS Version: Windows 10

When Tabs are disabled, the dirty indicator was moved to cover the Close button at the right side of the editor group title bar.
Should hover display the Close button "x"? The tooltip ("Close") is displayed but the dirty indicator circle remains.
This is not consistent with OPEN EDITORS and when Tabs are enabled where hover shows the Close

[2016-09-28 22:20] waderyan commented on #12655
@mhegazy this is interesting. Can you take a look at this and advise on next steps testing?

[2016-09-28 22:22] mjbvz opened #12948 "Markdown No Colorization of Block Quote Punctuator When Indented"
For markdown file:

[code]

All these are rendered the same and should be highlighted the same. However, the `>` is not highlighted if it is indented at all.

![screen shot 2016-09-28 at 3 20 52 pm](https://cloud.githubusercontent.com/assets/12821956/18934550/33618d36-858f-11e6-8743-75a5e6aeb1ba.png)

Up to three spaces indent should be supported on the first line of the block quote, and any numbe

[2016-09-28 22:25] mjbvz commented on #1668
Since this issue was originally opened to track the markdown preview problems and those seem resolved, I'm going to close this.

I've gone through the example file and opened issues to track some of the editor colorization problems:

#12946 - No/bad colorization of codeblock immediately after a paragraph.
#12946 - No colorization of numbered list punctuator immediately after a paragraph.
#3746 - F

[2016-09-28 22:25] #1668 closed

[2016-09-28 22:28] waderyan commented on #12667
@wallverb thank you for opening this issue.

I'm not seeing the same behavior. I created a blank `.ts` file and started typing. Can you share a minimal repo where you are seeing this behavior? Maybe there is something going on with your setup.

![stringdotbugs](https://cloud.githubusercontent.com/assets/2449568/18934699/1627386e-8590-11e6-930f-8367513fa37c.gif)

[2016-09-28 22:32] octref commented on #12620
@kgtkr

ここで英語を使ってください。パーフェクトな英語じゃなくでも大丈夫です。

Are you using this kind of string
[code]
And want syntax highlighting for them?

@aeschli

He's saying he wants syntax highlighting and intelliSense for HTML/CSS template strings in JS/TS.

[2016-09-28 22:33] ramya-rao-a commented on #1765
Moving to next milestone, as this cannot be verified at the moment

[2016-09-28 22:33] waderyan commented on #12733
Tried this with VS Code Insiders 1.6 and could not reproduce.

Can you try this with [VS Code Insiders 1.6](http://code.visualstudio.com/insiders)? This has the latest TypeScript language service so this should solve your issue.

![formatcodespacing](https://cloud.githubusercontent.com/assets/2449568/18934812/dfd388ac-8590-11e6-86f7-9b2ab5136026.gif)

I'll reopen if the problem persists for you.

[2016-09-28 22:33] #12733 closed

[2016-09-28 22:36] ramya-rao-a commented on #2550
Moving to next milestone, as this cannot be verified at the moment

[2016-09-28 22:38] waderyan commented on #12747
Confirmed this is fixed in the build today.

[2016-09-28 22:38] #12747 closed

[2016-09-28 22:42] waderyan commented on #12825
@ryanechternacht thank you for opening this issue. We fixed over 200+ issues with grammar with this extension (in beta now, will be bundled with product in the future). Can you install the extension and see if it solves your issue?

If it doesn't solve your issue, please open an issue in this repo - https://github.com/Microsoft/TypeScript-TmLanguage/issues

[2016-09-28 22:42] #12825 closed

[2016-09-28 22:44] DanielRosenwasser commented on #12667
This is a mixture of issues.

[code]

`.` is both a completion commit character and a completion prompt character.

So above, if you hit `.` twice it'll prompt completion and then it'll complete to `x.a.`

Recently TypeScript started giving you completions for paths. In a path, `..` is a valid sequence to go up one level, however `..` will prompt and immediately complete on the first entry you hav

[2016-09-28 22:46] chrmarti opened #12949 "QuickFix selection reset"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:05:08.351Z)
- OS Version: Darwin x64 15.6.0

Found verifying #12531

Steps to Reproduce:

1. Add compile error in C#
2. Before or right after the squiggles are shown open QuickFix with the keyboard shortcut
3. Quickly move the selection down a few entries in the list of QuickFixes
4. Wait and o

[2016-09-28 22:48] melanierichards commented on #12929
I can still repro it with `--disable-extensions`. Curiously, it launches as `v.1.2.1` when I do that; otherwise it's `v1.5.3`. fwiw I don't think I had any extensions installed. If I search for Code under "Programs and Features", I see version 1.5.3.

I'm also on internal preview builds (I'm on Web Plat if you need to look me up internally).

Like @robmikh, can use `ctrl+enter` as a workaround.

[2016-09-28 22:48] mjbvz opened #12950 "Cannot Double Click To Insert Emoji Using OSX Emoji Panel 😞"
VSCode 1.6 Insiders
OSX 10.11
##### Steps to Reproduce
1. Open blank text document with UTF-8 encoding.
2. Open the emoji panel
3. Double click on one to insert it into current document
##### Expected

Emoji inserted into file
##### Actual

Two characters are inserted and rendered as missing symbols:

![sep-28-2016 15-46-13](https://cloud.githubusercontent.com/assets/12821956/18935111/b44456d8-859

[2016-09-28 22:50] octref commented on #12793
It doesn't close. When you end debug session, it only prints out some info on externalTerminal but doesn't close it until you press a key.

![image](https://cloud.githubusercontent.com/assets/4033249/18935076/8ab148bc-8592-11e6-9082-b15ccd6e1bc1.png)

Launch Debug -> Restart -> Restart:

![screenshot from 2016-09-28 15-42-03](https://cloud.githubusercontent.com/assets/4033249/18935042/3b124306-859

[2016-09-28 22:52] mjbvz commented on #12950
You can copy and paste them in just fine, it just seems to be using the panel that produces the problem.

[2016-09-28 22:52] roblourens opened #12951 "Breakpoints not resolving properly in attach configuration on Windows"
_From @mousetraps on September 27, 2016 21:19_

Testing https://github.com/Microsoft/vscode/issues/12600

Node v6.6.0 (32-bit), Windows

[code]

From cmd line: `node --inspect --debug-brk app.js`, then run attach debug configuration

![image](https://cloud.githubusercontent.com/assets/762848/18892108/0e76ff42-84bd-11e6-8e91-4f8168941dd5.png)

_Copied from original issue: Microsoft/vscode-node-debu

[2016-09-28 22:52] roblourens commented on #12951
_From @mousetraps on September 27, 2016 21:46_

Diagnostic log:
[vscode-node-debug2.txt](https://github.com/Microsoft/vscode-node-debug2/files/496712/vscode-node-debug2.txt)

[2016-09-28 22:52] roblourens commented on #12951
Ohhh, your command prompt is using an uppercase drive letter. But if you do a launch, it launches with a lowercase drive letter.

I'm glad that I just noticed this exists - https://github.com/Microsoft/vscode-chrome-debug-core/issues/107 - it's the only way to fix this.

[2016-09-28 22:52] roblourens commented on #12951
Fixed

[2016-09-28 22:52] roblourens commented on #12951
Ignore...

[2016-09-28 22:52] #12951 closed

[2016-09-28 22:53] roblourens opened #12952 "Hovering over argument with same name as outer variable produces nothing"
_From @mousetraps on September 27, 2016 21:0_

Testing Microsoft/vscode#12600

Using the following code and a breakpoint at the location specified location
[code]

hovering over screenName at this position should produce the string `"hello"`, instead, no hover appears. Changing the name of the argument resolves the issue.

_Copied from original issue: Microsoft/vscode-node-debug2#34_

[2016-09-28 22:54] roblourens commented on #12952
Hover doesn't work at that point, using either debug adapter. Seems like that's a case where it should?

[2016-09-28 22:55] mjbvz opened #12953 "Support Drag and Dropping From OSX Emoji and Symbols Panel"
- VSCode Version: 1.6 Insiders
- OS Version: OSX 10.11

Using the OSX Emoji & Symbol panel, some applications support dragging and dropping symbols directly from the panel into a text field insert them. Apps that with support this behavior include: TextMate, Text Edit, Safari, and Chrome.

![sep-28-2016 15-51-23](https://cloud.githubusercontent.com/assets/12821956/18935306/fab20cd6-8593-11e6-99dc-

[2016-09-28 23:03] octref opened #12954 "HTML mode produces non-normalized links"
**Updated findings:**
The HTML mode produces non-normalized URIs when they have leading dots. The mode should ensure that the paths used for producing URIs are always normalized so that any "." and ".." are removed from the path and normalized.

While testing #12896:

- Explorer highlights wrong item.
- Two Tabs would open for the file created.

![12953](https://cloud.githubusercontent.com/assets/

[2016-09-28 23:04] waderyan commented on #12667
@DanielRosenwasser thank you for your comments. Why am I not seeing this in my case?

[2016-09-28 23:05] #12931 closed

[2016-09-28 23:05] DanielRosenwasser commented on #12667
You're not seeing the issue because you're dotting in an import specifier (the string in an `import` statement).

[2016-09-28 23:06] mjbvz commented on #12950
This also happens on Windows using the keyboard:

![image](https://cloud.githubusercontent.com/assets/12821956/18935512/57ec7c64-8595-11e6-8376-54f1feb5da4c.png)

Most are rendered as two question marks, but a few do get rendered for some reason.

[2016-09-28 23:06] bgashler1 commented on #12780
I saw you checked that in and it looks good to me.

[2016-09-28 23:06] #12780 closed

[2016-09-28 23:08] bgashler1 commented on #12779
Looks great!

[2016-09-28 23:08] #12779 closed

[2016-09-28 23:12] nebev commented on #12894
I had the same issue. Insiders build works just fine for me.

[2016-09-28 23:14] waderyan commented on #12667
My example is a response to OP's comment

It seems he was seeing the issue with strings in general. His animation shows the issue happening with a string in addition to the import statement.

I am also not seeing the issue in an import statement.

[2016-09-28 23:15] ramya-rao-a commented on #7356
Removing the "bug" tag so that this does not appear in the "need to be verified" list

[2016-09-28 23:16] #12797 closed

[2016-09-28 23:18] bording commented on #5516
@bpasero Just had a chance to try the latest insiders release, and it looks like the problem has been fixed! Do you happen to know what might have fixed it? If so, have a link to the issue?

[2016-09-28 23:18] chrmarti commented on #12780
@bgashler1 Indeed, meant to wait for your opinion, accidentally slipped it in... Thanks.

[2016-09-28 23:19] DanielRosenwasser commented on #12667
That seems related to a bug in the language service

![image](https://cloud.githubusercontent.com/assets/972891/18935814/618cc114-8597-11e6-8781-d0d9d247e0b6.png)

[2016-09-28 23:21] waderyan commented on #12936
This issue was moved to Microsoft/TypeScript#11230

[2016-09-28 23:21] chrmarti commented on #11114
Didn't find the time to follow up, next milestone.

[2016-09-28 23:22] waderyan commented on #12850
This issue was moved to Microsoft/TypeScript#11231

[2016-09-28 23:22] #12850 closed

[2016-09-28 23:24] wallverb commented on #12667
yea - initially i thought it was related to path, but is more generally

here was my repro:

[code]

![ngm3f5a9gs](https://cloud.githubusercontent.com/assets/1723815/18935891/230a9e42-85b1-11e6-9a5b-7ade5e30ffa9.gif)

[2016-09-28 23:25] DanielRosenwasser commented on #12667
I opened up https://github.com/Microsoft/TypeScript/issues/11232 for the other issue.

[2016-09-28 23:26] bgashler1 commented on #12915
This looks like an electron issue (since it's in the native UI).  Not sure I'll be much help here.  Please feel free to assign me back if I'm wrong. :)

[2016-09-28 23:31] mjbvz commented on #12950
@alexandrudima, I just was talking with @seanmcbreen and he mentioned some recent work to fix emojis crashing code. Could this bug be related to #12329?

[2016-09-28 23:33] bgashler1 commented on #12716
IMO, I don't think the monospaced font looks quite right.
<img width="358" alt="screen shot 2016-09-28 at 4 11 07 pm" src="https://cloud.githubusercontent.com/assets/11839736/18935648/448c4fcc-8596-11e6-80f6-c2e90c80ba75.png">

Also we are using Segoe UI font in the command palette
<img width="342" alt="screen shot 2016-09-28 at 4 12 37 pm" src="https://cloud.githubusercontent.com/assets/11839736/

[2016-09-28 23:44] mousetraps opened #12955 "Installing an extension pack should also list other dependencies it intends to install"
Testing https://github.com/Microsoft/vscode/issues/12658

Right now a popup appears asking if I want to install dependencies of the extension pack, which of course begs the question... "what are the dependencies?" More visibility into this would be helpful.
![image](https://cloud.githubusercontent.com/assets/762848/18936227/8ecba7e6-859a-11e6-92eb-52e97fd08a28.png)

[2016-09-28 23:45] mhegazy commented on #12655
I do not think there is any thing special about `path`. so if i were to guess, there is something else going on here. additional context would be appreciated.

[2016-09-28 23:48] bgashler1 commented on #12826
Just from a quick glance at this issue, I would expect this to be a line-highlight, since we're doing that for Search and Find/Replace.  Thoughts?
![screen shot 2016-09-28 at 4 47 47 pm](https://cloud.githubusercontent.com/assets/11839736/18936329/517224a0-859b-11e6-99b2-8c7810beb25c.png)

[2016-09-28 23:48] octref commented on #12779
@bgashler1
Verified this but just wondering, isn't this trivial to solve with flexbox?

[2016-09-28 23:52] bgashler1 commented on #12800
Not sure if we can squeeze this in, but putting it on September just for reference.  @gregvanl is this a common problem in verbatim?  Are they confusing it with an apostrophe `'`?  I only ask because spelling out the key `(backtick)` seems kind of ugly to me and inconsistent with the other keys we're showing.

[2016-09-28 23:53] indiejames opened #12956 "Closing integerated terminal after stopping launched debug session prevents further launching."
- VSCode Version: 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb)
- OS Version: OS X El Capitan Version 10.11.15

Steps to Reproduce:

1. Launch a debug session in the integrated terminal using `runInTerminalRequest`.
2. Stop the session using the red stop button.
3. Close the terminal in which the debugged program was launched.
4. Launch another debug session.

Expected response: Debugge

[2016-09-28 23:56] bgashler1 commented on #12726
Per @chrisdias direction we intentionally made them not interactive.  Although earlier designs did explore making them interactive.

[2016-09-28 23:56] #12726 closed

[2016-09-28 23:57] waderyan commented on #12936
@dbaeumer what do you think about filtering this out? Per @mhegazy's [comments](https://github.com/Microsoft/TypeScript/issues/11230#issuecomment-250335160).

[2016-09-28 23:58] mousetraps opened #12957 "Uninstalling an extension w/ dependencies should also offer to uninstall those dependencies"
Testing https://github.com/Microsoft/vscode/issues/12658

Ideally # of installs is directly proportional to # of uninstalls. Right now, if an extension pack installs several dependencies, you have to go through, find, and uninstall every single one. It's like maple syrup. You get just a little bit on your hand and then somehow it defies the laws of physics, multiplies, and it's everywhere!

Extens

[2016-09-28 23:58] octref commented on #12826
Would be best if the line has some shallow highlight like symbol selection:

![image](https://cloud.githubusercontent.com/assets/4033249/18936434/27415312-859c-11e6-9782-36f0dc2f16d7.png)

While the symbol have a strong highlight, like the brown in search.

[2016-09-29 00:05] bgashler1 commented on #12899
@kieferrm I get where you're coming from.  I realize now why this was blurring the font.  Chrome does synthetic bolding of fonts when there is not an explicit bold-designed font being used.  http://stackoverflow.com/questions/21332475/bold-fonts-in-google-chrome-are-blurry-font-face

[2016-09-29 00:08] bgashler1 commented on #12522
@seanmcbreen I just opened the command palette and typed "Switch..." and then you can execute it.  It worked great for me.  I had 3 windows open and could switch to each one easily in the command palette by the name of the current file or folder that was opened in each window.  Works as expected for me.

[2016-09-29 00:12] mousetraps opened #12958 "Extension not appearing in @outdated list"
Testing #12658 (Windows)

After publishing [test-extension-pack-1](https://github.com/Microsoft/vscode-extension-samples/tree/master/extension-deps-sample), I updated it to add another dependency to it, and also incremented the version. After it was published, the extensions pane never updated to inform me of an updated version, and queries for `@outdated` were similarly unsuccessful. Restarting V

[2016-09-29 00:16] roblourens commented on #11653
You can still change launch configs while debugging, if you hide/show the debug sidebar.
![sep-28-2016 17-15-37](https://cloud.githubusercontent.com/assets/323878/18936782/3e33cf02-859f-11e6-95ae-8f770e952f13.gif)

[2016-09-29 00:16] mousetraps opened #12959 "Adding a new dependency to an installed extension pack does not yield "would you like to install dependencies" prompt"
Testing https://github.com/Microsoft/vscode/issues/12658

Repro steps:
1. adding a new extension to the dependencies of a published and installed extension pack
2. increment the version of the extension pack
3. update the extension pack from VSCode

Expected: prompt asking if I also want dependencies to be installed
Actual: no prompt, which seems inconsistent with the rest of the experience

[2016-09-29 00:22] infinnie commented on #11751
@joshsleeper BTW I am female. What a pity it is for GitHub not to be able to let us config and display our sexes (or genders?)

[2016-09-29 00:31] joshsleeper commented on #11751
@infinnie And I've been trying so hard to be more gender neutral with my comments too! Bah on me, super sorry about that, I promise it wasn't ill intended.

[2016-09-29 00:31] mousetraps opened #12960 "Never-ending extension "update available" loop after updating vscode.engines property"
Testing #12658 (Windows)

Repro steps:
1. Publish [test-extension-pack-1](https://github.com/Microsoft/vscode-extension-samples/tree/master/extension-deps-sample)
2. install extension, restart vscode
3. Increment the version and change the vscode.engines property to `"^1.7.0"`, publish again
4. Search for extension in marketplace

**Expected:**
"no update" button doesn't appear or some warning abo

[2016-09-29 00:41] #12600 closed

[2016-09-29 00:41] ramya-rao-a opened #12961 "Page-Up in git commit text box shifts everything to the left hiding the activity bar"
- VSCode Version: 1.5.3 and 1.6 insiders (9/27)
- OS Version: Windows (doesnt happen in Mac)

Steps to Reproduce:

1. In the Git view, enter multiple lines of text into the commit message text box, until the scroll bar appears.
2. While the text box is focused, press Page-Up / Page-Down.

The entire page is shifted left such that the activity bar is hidden and there is some empty space on the righ

[2016-09-29 00:42] bgashler1 commented on #12751
<img width="242" alt="screen shot 2016-09-28 at 5 41 39 pm" src="https://cloud.githubusercontent.com/assets/11839736/18937195/e70d8f84-85a2-11e6-84cc-2aec77c84078.png">
Block helpers in general aren't getting highlighted.  If and else are examples of those.

[2016-09-29 00:42] #12633 closed

[2016-09-29 00:43] hesantan commented on #206
+1 👍

[2016-09-29 00:50] mousetraps opened #12962 "engines.vscode property not appearing in package.json intellisense"
Testing https://github.com/Microsoft/vscode/issues/12658

As you can see, the property is completion-less
![image](https://cloud.githubusercontent.com/assets/762848/18937293/c4ef9db0-85a3-11e6-919f-e9716b91fe61.png)

Additionally, I think better [documentation](http://code.visualstudio.com/docs/tools/vscecli) about what sort of semver range support exists would also be helpful. e.g Carets appear t

[2016-09-29 00:51] ramya-rao-a commented on #10525
Cannot reproduce in VS Code 1.5.3 on Windows 10 either.

[2016-09-29 00:54] mousetraps opened #12963 "`code --list-extensions` should also show extension versions"
Testing https://github.com/Microsoft/vscode/issues/12658

Right now it's only a list of extension names, but listing the versions as well would be exceedingly helpful for narrowing down potential install issues w/ extensions

[2016-09-29 00:57] #12658 closed

[2016-09-29 00:58] ramya-rao-a commented on #11735
@Tyriar I no longer see the error in the pop up. But I dont see anything else either. Nothing gets launched

`code-insiders --user-data-dir="./GitRepos/vscode-go"`

[2016-09-29 01:02] robmikh commented on #12929
I'm on an internal thread and this is likely not a Visual Studio Code bug.

[2016-09-29 01:08] evmar commented on #12655
I recreated my repro from scratch, and found that the ".d.ts" suffix on my import doesn't actually work with TS 2.0.5.  So I think I was using a funky version of TypeScript?  I will reopen this if I can reproduce it again more reliably.

[2016-09-29 01:08] #12655 closed

[2016-09-29 01:09] bgashler1 opened #12964 "Format html/handlebars messes up on meta tags"
- VSCode Version: Insiders
- OS Version: Windows 10

Regarding test plan item #12100

Steps to Reproduce:

1. Have a block of handlebars code with metadata (this should also apply to html; it seems to already be a bug in the existing stable build for html)
2. Format this block of code.
3. Note that sometimes metadata tags are orphaned onto their own lines of code.

Before formatting
<img width="75

[2016-09-29 01:11] ramya-rao-a commented on #12007
I still see this

![image](https://cloud.githubusercontent.com/assets/16890566/18937640/f3413eaa-85a6-11e6-914c-608188d2b0d2.png)

[2016-09-29 01:21] ramya-rao-a commented on #12340
Clearing the "bug" label as there is nothing to verify

[2016-09-29 01:22] ramya-rao-a commented on #12268
Marking as verified as per https://github.com/Microsoft/vscode/issues/12268#issuecomment-248234252

[2016-09-29 01:24] Thaina commented on #12163
With this feature do you think it possible to extend current explorer?

Such as git explorer extend to support SVN. Instead of separate tab

[2016-09-29 01:27] steveinatorx opened #12965 "Provide an option to always show parent folder for files in tabs"
- VSCode Version: Version 1.6.0-insider (1.6.0-insider)
- OS Version:

This is a fantastic feature for js devs - is there a way to always turn this on so all file tabs show the parent directory name not just when dupe filenames are open?

https://www.dropbox.com/s/oqgf7tdqg5vsm7b/Screenshot%202016-09-28%2018.23.16.png?dl=0
![screenshot 2016-09-28 18 23 16](https://cloud.githubusercontent.com/asset

[2016-09-29 01:28] ramya-rao-a commented on #12360
Moving to a future milestone as this cannot be verified at the moment

[2016-09-29 01:38] Tyriar commented on #11735
@ramya-rao-a I'm not sure it supports quotes? Can you try without them?

[2016-09-29 01:40] zxyqvod opened #12967 "Git / Clean"
- VSCode Version: 1.5.3
- OS Version: Linux/4.8.0-rc7

Steps to Reproduce:

1. Git / Clean, clean a file changes, then cannot reopen it
2.  ... None but reopen vscode

[2016-09-29 01:41] Tyriar commented on #12770
Inside the promise it recurses as it returns the getter not the backing value, I was planning on removing the `setTimeout` in October https://github.com/Microsoft/vscode/issues/12434

Fixing the bug now though.

[2016-09-29 01:50] ramya-rao-a commented on #11735
Tried it. Same result

[2016-09-29 02:04] kefengwei commented on #12861
@bpasero I try with insiders, the problem got solved.thanks.

[2016-09-29 02:16] #12770 closed

[2016-09-29 02:18] Tyriar commented on #11735
@ramya-rao-a have you tried using an empty/non-existent directory?

[2016-09-29 02:18] Tyriar commented on #12768
Duplicate #12770

[2016-09-29 02:18] #12768 closed

[2016-09-29 02:43] fordou commented on #8928
JS doesnt work in HTML document~~

[2016-09-29 02:45] Tyriar commented on #12765
Could not reproduce with the following:

[code]

I'm assuming you ran the command in the example as it was which is expected to fail since `/bin/zsh` doesn't exist on Windows.

[2016-09-29 02:45] #12765 closed

[2016-09-29 03:27] Kongsea commented on #8869
I am also anxiously hoping the selection highlight and find settings are separated.

[2016-09-29 03:37] Tyriar commented on #12766
This exception has been in since the beginning apparently.

[2016-09-29 03:37] kefengwei opened #12968 "the insider can't use System.Diagnostics.Process.Start open path"
- VSCode Version: Code - Insiders 1.6.0-insider (c94c824db64a88bd4909da2e84e44316dbf8e8fb, 2016-09-28T06:09:46.794Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

when i use System.Diagnostics.Process.Start(@"G:/Program Files (x86)/Microsoft VS Code Insiders/bin/code-insiders.cmd", @"c:\Users\kefeng\test.txt") ;  can't open then path and got nothing notifacation.

[2016-09-29 03:38] #12766 closed

[2016-09-29 04:08] bgashler1 commented on #12779
@octref I thought that might be a good solution at first, but couldn't seem to find a way to make it work the way we wanted.  Would love to learn what you would do for future reference.  Let's catch up sometime.

[2016-09-29 04:13] bgashler1 commented on #12826
@octref that also makes sense.  Similar concept.  Why are we using two different grays for these highlights?  They seem like they should be the same.

[2016-09-29 04:37] #12899 closed

[2016-09-29 04:50] bgashler1 opened #12969 "HTML: comments inside a script tag no longer sensitive to script language"
- VSCode Version: Insiders
- OS Version: Windows 10

Regarding test plan item #12100

Steps to Reproduce:

1. Select some JavaScript code inside of a `<script>` block in an HTML file*.
2. Use the keyboard shortcut to "Add a line comment" or run the command from the command palette.
3. Note that in the latest Insiders build, it no longer uses `//`` JavaScript-valid comments; instead, it now uses ``

[2016-09-29 04:57] jjacode commented on #10525
This only appears to be reproducible when the integrated terminal has focus.

[2016-09-29 05:00] octref commented on #12826
@bgashler1 Not two grays. One line of gray background like `our-editor`, then the strong brown background on the keyword (`editor` in your case).

[2016-09-29 05:02] bgashler1 commented on #12826
@octref Sorry for the miscommunication, what I meant was that that the image I posted of a Search match line highlight has a very similar gray to the shallow gray in your image.  But when I checked the color values of each, the differed.  This is one of many color inconsistencies we have that we should eventually resolve.

[2016-09-29 05:07] octref commented on #12826
@bgashler1 That I don't know. Indeed we could use more color consistency.

[2016-09-29 05:08] jorawarsingh opened #12970 "property 'table' does not exist on type 'Console'."
- VSCode Version:1.5.3
- OS Version: window 10

Steps to Reproduce:

1. type console.table will give you

[2016-09-29 05:09] bgashler1 opened #12971 "Pressing enter before a closing tag that was just created indents it in a level"
- VSCode Version: Insiders
- OS Version: Windows 10

Regarding test plan item #12100

Steps to Reproduce:

1. Type `<div` and press tab repeatedly until it completes it for you to have an opening and closing tag: `<div></div>`
2. Your cursor will be between this pair of tags.  Now hit enter/return to send the closing tag to the next line.
3. Note that the newest build of Insiders puts this tag ind

[2016-09-29 05:13] bpasero commented on #8264
Ok. Just fyi here is how Atom renders it:

![image](https://cloud.githubusercontent.com/assets/900690/18941792/406924aa-8614-11e6-9ddf-ea324194ce11.png)

[2016-09-29 05:14] bpasero commented on #12503
@pocesar yes

[2016-09-29 05:15] smuuf commented on #12940
Do you mean something like when you press `F11`?
That works for me, with version *1.5.3*.

[2016-09-29 05:16] bpasero commented on #12821
I also filed Pull Requests to ESLint and TSLint to correct their `show` calls to not steal focus. Focus should only be taken when the user triggers the action to make the output panel visible. Though, on a second thought I wonder if the output panel should ever take focus since it does not allow for input...

[2016-09-29 05:19] bpasero commented on #5217
@kostadinnm I apologise, I went over a lot of issues where I was asking the people to give our insider release a try and somehow I missed to ask this here. We updated VSCode 1.6.0 to a much newer Electron version which bundles Chrome 52. Can you give that one a try to see if the issue is fixed or not?

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

Al

[2016-09-29 05:21] bgashler1 opened #12972 "[html] format inside the script tag"
- VSCode Version: Insiders
- OS Version: Windows 10

Regarding test plan item #12100

Steps to Reproduce:
1. Select all the contents of an html file that has a script tag block somewhere in it (mine was at the bottom)
2. Run "Format Code"
3. Note that nothing inside the `<script>` tag was formatted.

This also is a problem in Stable, and Stable also has another problem where the selection no longe

[2016-09-29 05:22] bpasero commented on #12928
We should take this out for the stable release and only have it in insiders.

[2016-09-29 05:22] bpasero commented on #12932
We should take this out for the stable release and only have it in insiders.

[2016-09-29 05:26] bpasero commented on #12911
Makes sense for consistency.

[2016-09-29 05:27] bpasero commented on #12916
I think this is fine but @egamma can tell otherwise.

[2016-09-29 05:29] bpasero commented on #9354
@roblourens works for me though: ![editors](https://cloud.githubusercontent.com/assets/900690/18942069/6cc30fd2-8616-11e6-81df-6cd5fbc0369c.gif)

[2016-09-29 05:31] bpasero commented on #12938
I cannot reproduce:

![image](https://cloud.githubusercontent.com/assets/900690/18942104/b627f9ee-8616-11e6-8081-07ea8b1f2030.png)

Since it seems to work for me, maybe Alex can debug this in October with @mousetraps or tell why it might not show up in all cases.

[2016-09-29 05:32] bgashler1 commented on #12971
This does not seem to affect Razor cshtml :)

[2016-09-29 05:32] bpasero commented on #12938
I got it: it needs an opened editor. I think this works as designed.

[2016-09-29 05:35] bpasero commented on #12940
@ihorskyi you can hide the sidebar and set the window to full screen (from the view menu). You can even hide the status bar too.

[2016-09-29 05:35] smuuf commented on #5402
1. Is there any specific reason why multi-cursor placing is mapped to **ALT** button instead of Sublime-like **CTRL**? I have a history with Sublime (as opposed to, eg., Visual Studio) and **CTRL** is *more natural* to me (I know `me` is not an argument, but ...). *Is this something that could be configurable? I don't see it in keybindings config. :disappointed:* ... If **ALT** is something only C

[2016-09-29 05:42] bpasero commented on #12926
The tweet button is disabled, thats why the cursor looks like that. You need to type text to make it different.

[2016-09-29 05:46] bpasero commented on #12941
I think this is a general issue with the statusbar overflow design that we need to revisit. I think no matter how small the status bar is, we should always show the "Tab Moves Focus" indicator.

[2016-09-29 05:47] bpasero commented on #12945
Works for me on Mac.

[2016-09-29 05:50] bpasero commented on #12954
Looks like "./foo.txt" and "foo.txt" are not the same in our system...

[2016-09-29 05:51] bpasero commented on #12894
@tmcentee can you try

[2016-09-29 05:51] bpasero commented on #5516
@bording no unfortunately not. We updated Electron which brought major Chrome updates (from 49 to 52) so I think it got fixed meanwhile in Chrome.

[2016-09-29 05:52] bgashler1 opened #12973 "Fallback to word highlighting when contributions don't provide document highlights"
- VSCode Version: Insiders
- OS Version: Windows 10

Regarding test plan item #12100

Steps to Reproduce:
1. May not be a problem, but just filing this issue to be safe.  I'm looking at an old version of VS Code site that was originally written in Razor.  It's the `example-word-count.cshtml` file https://github.com/Microsoft/vscode-website/tree/3cfa8213681f680418997c7671fa1b8c452ac2af
2. Try click

[2016-09-29 05:52] bpasero commented on #12915
This was fixed with the electron update.

@markoczy can you give our insider build a try:
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-29 05:52] #12915 closed

[2016-09-29 05:54] octref commented on #12875
Are you by any chance using this feature? https://github.com/Microsoft/vscode/issues/12896

[2016-09-29 05:55] bpasero commented on #11751
@joshsleeper for that reason there is a setting to disable icons in tabs. that is the only setting we provide for now. I am still trying to find out where else @infinnie would want to configure this.

[2016-09-29 05:56] SiriusGuo opened #12974 "TSC Compiler not matched VS language service."
- VSCode Version: 1.5.3
- OS Version: Windows 10

Steps to Reproduce:

1. Install typescript of last release.
2. restart vscode

![image](https://cloud.githubusercontent.com/assets/6395714/18942548/5a8a11b8-864c-11e6-852a-9c3be3080de6.png)
---------------------------------------------------------
![image](https://cloud.githubusercontent.com/assets/6395714/18942558/70c5dc82-864c-11e6-9715-7bed4c318

[2016-09-29 05:57] bgashler1 opened #12975 "Adding a div causes an extra stray bracket in Razor"
- VSCode Version: Insiders
- OS Version: Windows 10

Regarding test item #12100

Steps to Reproduce:

1. Type `<div` and press Tab repeatedly until it completes to `<div></div>>`
2. Note the extra `>` at the end that was not there before

Insiders pictured below
![insiders - extra closing bracket](https://cloud.githubusercontent.com/assets/11839736/18942587/eb4dea9a-85ce-11e6-9639-95b35e2e7f47.g

[2016-09-29 05:58] bpasero commented on #12929
@melanierichards @robmikh anything in the console when enter does not work?

Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can find

Does it reproduce in in

[2016-09-29 05:58] #12861 closed

[2016-09-29 05:59] bpasero commented on #12770
And the 200ms is just a guess?

[2016-09-29 05:59] chriskuech opened #12976 "VSCode annoyingly autocompletes `"""` in Python to `""""`"
- VSCode Version: 1.5.3
- OS Version: macOS 10.11.6

Steps to Reproduce:
1. Type `"""` on a new line
2. Observe that `"""` autocompletes to `""""` with the cursor before between the third and forth `"`.

[2016-09-29 06:02] bgashler1 opened #12977 "Razor doesn't auto indent on inserting new tag"
- VSCode Version: Insiders
- OS Version: Windows 10

Regarding test plan item #12100

Steps to Reproduce:

1. In a Razor file, add a tag and then press enter/return to go to next line.
2. Note that it is not auto-indented in a level like it is currently on Stable.

![insiders not indenting razor](https://cloud.githubusercontent.com/assets/11839736/18942689/7c4b18e2-85cf-11e6-93ef-5fbc6027907a.gif)

[2016-09-29 06:03] isidorn commented on #12952
There are multiple variables names screenName (in mulitple scopes). Due to the lack of language knowledge we decide to now show anything since we can not be sure over which hover the user is hovering over.
Closing as duplicate - as there are other issues like this which we plan to fix by introducing language knowledge to the hover

[2016-09-29 06:03] #12952 closed

[2016-09-29 06:04] bpasero commented on #10525
I think the integrated terminal steals all keypresses. @Tyriar can comment on that.

[2016-09-29 06:07] bpasero commented on #12947
Investigating...

[2016-09-29 06:08] plaanupam commented on #12646
For any project, like even a file with a simple console.log() was not running. It was just showing debugger listening to port. This happened for around 2 weeks but I tried debugger again and it is working. If anything of that sorts happen again, I'll give more information. Thank you. I will close this issue now.

[2016-09-29 06:08] #12646 closed

[2016-09-29 06:11] bpasero commented on #12765
Yup, works.

[2016-09-29 06:13] bgashler1 opened #12978 "Strange formatting for Razor"
- VSCode Version: Insiders
- OS Version: Windows 10

Regarding test item #12100

Steps to Reproduce:

1. This may not be a problem and might just be me.  Open a large .cshtml file (try the one I link to below) and select everything.
2. Press Shift + Tab several times to collapse all the hierarchy and mess up its formatting.
3. Now Format the file
4. Notice that the file formats weird as pictured b

[2016-09-29 06:18] #12100 closed

[2016-09-29 06:18] isidorn commented on #12923
October to investgiate

[2016-09-29 06:20] #12930 closed

[2016-09-29 06:20] bpasero commented on #12930
Limiting to at most 10 extensions now.

[2016-09-29 06:23] beckend commented on #12563
Then we are done here, thanks for the clarifications.

[2016-09-29 06:23] #12563 closed

[2016-09-29 06:23] #12932 closed

[2016-09-29 06:23] bpasero commented on #12932
Verify you see this entry in our insiders and out of sources on Windows but not in stable on Windows.

[2016-09-29 06:23] bpasero commented on #12928
Closing, we do not control the contents of the accessibility page from chrome.

[2016-09-29 06:23] #12928 closed

[2016-09-29 06:36] joaomoreno commented on #12932
@bpasero Using devtools without this box is practically impossible... not so sure if removing it is a good idea. We ask a lot of our users to user the devtools to find out more about problems.

[2016-09-29 06:39] joaomoreno commented on #12943
I see!

[2016-09-29 06:40] #12947 closed

[2016-09-29 06:41] joaomoreno commented on #12716
Right about monospace! Love your last screenshot!

[2016-09-29 06:41] bpasero commented on #12947
@gregvanl great catch and sense for detail 👍

[2016-09-29 06:47] joaomoreno commented on #12007
@ramya-rao-a Make sure you use a recent commit like [this](https://az764295.vo.msecnd.net/insider/ab6357b397481734e40edab607700c6421e5ea2f/VSCodeSetup-insider.exe), which I've built manually yesterday.

![image](https://cloud.githubusercontent.com/assets/22350/18943660/4665dddc-8621-11e6-9ae1-9b596b97747f.png)

[2016-09-29 06:47] #12007 closed

[2016-09-29 06:47] chrmarti commented on #12716
The contrast between block decorations and keybindings is too low for me to be useful. If we want to add these, I'd suggest to find a way to increase that.

[2016-09-29 06:47] bpasero opened #12979 "Untitled file remains dirty even though it has no content"
Steps to Reproduce:

1. open a new untitled file
2. type text undo, repeat for many times
3. each time the content is empty, expect the dirty indicator to go away

=> often the dirty indicator stays

[2016-09-29 06:48] #12452 closed

[2016-09-29 06:50] remss commented on #12452
Thanks for the anwser.
Please reopen this issue the day you want to implement this settings option.

[2016-09-29 06:50] #12979 closed

[2016-09-29 06:51] joaomoreno commented on #12929
What makes you say that?

[2016-09-29 06:51] joaomoreno commented on #12716
Make sure you try it in all the themes. And there are other ways to show contrast, like a border.

[2016-09-29 06:54] bpasero commented on #12932
@joaomoreno in that case we can always ask them to use our insider build. which is a good advise anyways because often a bug does not show up in insiders build due to:
* the build not being patched by a bad extension
* the build not having the same extensions installed
* the build already including a fix

[2016-09-29 06:54] zhengbli commented on #12929
I see the same thing. I have to press enter like 10 times for it to work

[2016-09-29 06:56] joaomoreno commented on #12950
This used to work, yeah.

[2016-09-29 06:57] bpasero commented on #12929
@zhengbli in 1.5.x or insider release?

[2016-09-29 06:57] bpasero commented on #12716
Imho the spacing now looks bad on Windows:

![image](https://cloud.githubusercontent.com/assets/900690/18943910/c27083a4-8622-11e6-8fe3-35cde2c5bb95.png)

[2016-09-29 07:00] zhengbli commented on #12929
Commit c94c82, 1.6-insiders.

The strange thing is with the same build, I have the issue on my desktop but not on my laptop, all windows 10 64 bit. Investigating.

[2016-09-29 07:01] joaomoreno commented on #12957
Not entirely convinced about this. What if A depends on B and you install first B and then A? Should you uninstall B when uninstalling A still?

[2016-09-29 07:02] zhengbli commented on #12929
I guess it could be a windows 10 problem :) I am using a internal windows 10 build, and it looks like the other two reporters are both Microsoftees.

[2016-09-29 07:02] joaomoreno commented on #12958
#12011

[2016-09-29 07:02] #12958 closed

[2016-09-29 07:02] joaomoreno commented on #12959
Maybe #12011

[2016-09-29 07:03] joaomoreno commented on #12960
Maybe #12011 ...

[2016-09-29 07:09] joaomoreno commented on #12963
I'd make it into an option `--show-versions`, while the default should be the format that can be parsed into calling further commands like `--uninstall-extension`.

[2016-09-29 07:10] bpasero commented on #12954
@jrieken when you have a HTML such as:

`<script type="text/javascript" src="./Game2.js"></script>`

The resulting link that ends up being passed to the `openerService` is `file:///Users/bpasero/Documents/ticino-playground/./Game2.js`

Do you know where this link is being created? I think links should be normalized in a way that "." and ".." are removed.

[2016-09-29 07:10] joaomoreno commented on #12967
It's hard to understand what you mean.

[2016-09-29 07:10] #12967 closed

[2016-09-29 07:11] jrieken commented on #12939
It should not do anything as the `tab moves focus` is for the editor in which tab usually does something else. For me the bug here is that the status bar still shows the tab-moves label even though no code editor is showing

[2016-09-29 07:11] sandy081 commented on #12955
You are right. This is part of the complete feature and will be implemented in Ocotber

Duplicates #12756

[2016-09-29 07:11] #12955 closed

[2016-09-29 07:12] joaomoreno commented on #12968
Does it work for stable? Does it work when adding a `--wait` argument?

@bpasero Could be the Electron update.

[2016-09-29 07:13] joaomoreno commented on #12970
https://developer.mozilla.org/en-US/docs/Web/API/Console/table

[2016-09-29 07:13] #12970 closed

[2016-09-29 07:13] bpasero commented on #12965
Currently there is no setting for this.

[2016-09-29 07:15] bpasero commented on #12954
Also interesting to mention that this does not reproduce in 1.3.

[2016-09-29 07:16] joaomoreno opened #12980 "Bad overflow with letterpress"
![image](https://cloud.githubusercontent.com/assets/22350/18944354/57014d12-8625-11e6-8bb2-78678b646d83.png)

[2016-09-29 07:16] jrieken commented on #12898
@Jakobud fyi when you have an editor in your hands you should it's [`edit`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L965)-method which is better suited for this case.

Then both methods `edit` and `applyEdits` return a thenable on which you should wait. Only when they signal complete the edits and selections have been sync'd.

Please try that and report back

[2016-09-29 07:17] jrieken commented on #12925
dupe of #238

[2016-09-29 07:17] #12925 closed

[2016-09-29 07:21] jrieken commented on #12954
My guess is that the links are created [here](https://github.com/Microsoft/vscode/blob/master/src/vs/languages/html/common/htmlWorker.ts#L601) and that during some string concatenation the links being messed up

[2016-09-29 07:28] infinnie commented on #11751
@bpasero That would be fine!

[2016-09-29 07:28] joaomoreno commented on #12961
The vertical scroll happens due to the feedback widget in the status bar.

The horizontal scroll happens due to the panel being open, which is tracked by #12876. @isidorn These are excellent repro steps.

[2016-09-29 07:29] jrieken commented on #12890
This is the best bug in a long time. Seem like we still use old school map somewhere. Any native property of JavaScript object aren't shown

<img width="405" alt="screen shot 2016-09-29 at 09 27 54" src="https://cloud.githubusercontent.com/assets/1794099/18944694/1c505ab2-8627-11e6-8721-4787eca3d0b4.png">

[2016-09-29 07:30] jrieken commented on #12890
There you go: https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/services/editorSimpleWorker.ts#L127

fyi @alexandrudima

[2016-09-29 07:31] hasit commented on #12925
@jrieken thank you. I look forward to an update on this.

[2016-09-29 07:34] joaomoreno commented on #12876
Your `surveyor` is the problem.

![image](https://cloud.githubusercontent.com/assets/22350/18944796/b39f8816-8627-11e6-8810-33ac476644ff.png)

Make sure your `.repl` is `overflow: hidden`.

[2016-09-29 07:34] joaomoreno commented on #12890
Ahah nice one!

[2016-09-29 07:42] #12876 closed

[2016-09-29 07:46] #11653 closed

[2016-09-29 07:47] dbaeumer commented on #12974
@SiriusGuo this is by design. VS Code 1.5.3 ships with TS 1.8.10. If you install TS globally you now get TS 2.0.3. This can lead to problem inconsistency if you use scripts that use the global tsc compiler in that workspace. This is why we show the message. VS Code 1.6 will ship with TS 2.0.3.

[2016-09-29 07:47] #12974 closed

[2016-09-29 07:48] ranjan-ranjan opened #12981 "Select text + Shift/Ctrl + Scroll behaviour"
- VSCode Version: 1.5.3
- OS Version: Windows 10 Version 1607 OS Build: 14393.187

Steps to Reproduce:
1. Select some text in a file.
2. Shift/Ctrl + scroll behaviour should be same as in Visual Studio.

[2016-09-29 07:49] dbaeumer commented on #12821
Agree that most of the show commands should go away except when user clicks actively on something to open the Output.

[2016-09-29 07:50] bpasero commented on #12265
I am not convinced that this is an issue with the output panel. I rather believe this is an issue with the extension host pumping data to the renderer and then getting stuck. I have test cases that produce the freeze when run from an extension and no freeze when run within the workbench:

Freeze from Extension (simple hello world extension with hello world command):

[code]

No Freeze within Workb

[2016-09-29 07:53] bpasero commented on #11751
Ok then it looks like we are good.

[2016-09-29 07:54] egamma opened #12982 "Show release notes without prompting the user"
Now that we show the release notes nicely inside the product we should show them directly to the user without any prompting.

[2016-09-29 07:55] dakk commented on #5605
+1

[2016-09-29 07:57] #12956 closed

[2016-09-29 07:59] bpasero commented on #12954
@jrieken my understanding is that since HTML moved into an extension the htmlWorker is no longer being used. I see a `languageService.findDocumentLinks` call in [htmlServerMain](https://github.com/Microsoft/vscode/blob/master/extensions/html/server/src/htmlServerMain.ts#L119) but do not see the implementation of that method.

[2016-09-29 08:00] jrieken commented on #12265
@bpasero @dbaeumer Things are being mixed up here. The initial bug talks about `task.json` which doesn't go via the extension host. Somehow you now brought the extension host into the game which is different.

[2016-09-29 08:02] jrieken commented on #12265
Also - if many messages are being send, a warning should be [printed](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/node/extensionHostProcess.ts#L86)

[2016-09-29 08:04] galpeti commented on #12359
Yep I was selecting only those lines. It did not work for the entire file.. I have tried that
Not allowed to append the entire file...

But I had to move the project into another folder, and now  formatting works...
Do not know why.. strange.

[2016-09-29 08:05] bpasero commented on #12265
@jrieken yup, @dbaeumer filed a similar issue and I merged it here. see https://github.com/Microsoft/vscode/issues/12265#issuecomment-250176298

Bottom line is that the TS extension can produce lots of output when the tracing option is turned on and this output is being send from the extension host.

[2016-09-29 08:06] jrieken commented on #12265
It actually does - <img width="536" alt="screen shot 2016-09-29 at 10 05 42" src="https://cloud.githubusercontent.com/assets/1794099/18945776/4e5df992-862c-11e6-800c-201169f8d867.png">

[2016-09-29 08:07] bpasero commented on #12265
Btw I am on Windows 10 and see this, did not try on Mac. I am also scrolling in the output when this happens. The process monitor shows no activity when this happens, so  it is not stuck in high CPU or high memory.

[2016-09-29 08:11] jrieken commented on #12265
45% of the time is spend in the `OutputService`, 17% in the `OutputEditor`, 7% GC'ing

<img width="674" alt="screen shot 2016-09-29 at 10 09 04" src="https://cloud.githubusercontent.com/assets/1794099/18945892/cdf481f8-862c-11e6-901f-d82a6f0c4bcd.png">

[CPU-20160929T100930.cpuprofile.zip](https://github.com/Microsoft/vscode/files/500072/CPU-20160929T100930.cpuprofile.zip)

[2016-09-29 08:12] jrieken commented on #12265
So, I don't believe this is an issue specific to the extension host (albeit some more buffering could happen) but I see that most work is being spend in the parts outlined above.

[2016-09-29 08:12] RobertoMalatesta commented on #12511
Intellisense is still broken on 1.6:
Platform: Kubuntu 14.04
VSC: last nightly: code-insider-1.6.0-1475129007_amd64.tar.gz:

I have a continous build set up (^-SHIFT-B) and if I introduce an error line in correct code 1.5 correctly signals the errors:
![no_error_15](https://cloud.githubusercontent.com/assets/11835025/18945743/3241f998-862c-11e6-81f0-853af48af1bd.jpg)

On the other hand, 1.6 doesn'

[2016-09-29 08:13] bpasero commented on #12265
@jrieken can you reproduce the freeze? is this profile from running from extension host or main side?

[2016-09-29 08:13] bpasero commented on #12265
Also I am not convinced this issue can be tracked down by profiling: When VSCode freezes, there is no high CPU activity nor memory pressure.

[2016-09-29 08:17] jrieken commented on #12265
@bpasero It is very slow and 'yes' this is the main side (OutputService, string-utils etc).

[2016-09-29 08:21] bvancea commented on #12141
@mhegazy @waderyan sorry for the late response.

I set the TSS_LOG as instructed, but looking through the file, I don't see anything out of the ordinary. Just Info and Perf entries.

[2016-09-29 08:21] jrieken commented on #12954
I guess it's here: https://github.com/Microsoft/vscode/blob/master/extensions/html/server/package.json#L11

[2016-09-29 08:28] jiron12 commented on #12749
But should I anyway be able to debugg Proxy objects run in node.js in vscode? Because in fact at lest in my case it does not seam to work... when I create a Proxy object as var and not as property I do not see any variables under 'Variables' in the Debugger view at all and when I add one to the watch I see same message on it 'illegal access'.

Btw.: node.js Version 6.7.0

[2016-09-29 08:28] buehler commented on #12560
Alright :-) After thinking it through, I'd say, the command way is the way I'll go.
It even does not seem to be a workaround, it's actually a pretty nice way to achieve my goal.

So feel free to close this issue!
Cheers

[2016-09-29 08:31] jrieken commented on #12560
K. Thanks for getting back with this

[2016-09-29 08:31] #12560 closed

[2016-09-29 08:34] rmunn commented on #12976
This may need a language-specific solution. If so, then F# should be included in the solution, as it also uses Python-style triple-quoted strings.

[2016-09-29 08:42] #12846 closed

[2016-09-29 08:45] dbaeumer commented on #12977
Assigning to @sandy081  as well since @aeschli  is out.

[2016-09-29 08:48] sandy081 commented on #12960
Not related to #12011. Could be related to compatibility check which I could reproduce.

[2016-09-29 08:49] sandy081 commented on #12959
Not related to #12011

I am not showing the prompt always. Prompt is shown only during installing. If user confirms, manual / auto update do not show prompt. IMO it makes sense coz, showing again is redundant to the user as he/she already knows it installs dependencies.

Duplicates #12917

[2016-09-29 08:49] #12959 closed

[2016-09-29 08:50] sandy081 commented on #12917
I am not showing the prompt always. Prompt is shown only during installing. If user confirms, manual / auto update do not show prompt. IMO it makes sense coz, showing again is redundant to the user as he/she already knows it installs dependencies.

[2016-09-29 08:51] sergiubologa opened #12983 "Shortcut to toggle (show and hide) explorer view"
- VSCode Version: 1.5.3
- OS Version: Windows 8

Steps to Reproduce:
1. Open the _Explorer_ view by pressing `Ctrl+Shift+E`
2. Press again `Ctrl+Shift+E` to open the _Explorer_ view

Expected result:
The _Explorer_ view will open and will be visible to the user

Actual result:
The _Explorer_ view doesn't open. `Ctrl+Shift+E` works only for closing the view.

[2016-09-29 08:53] idoo commented on #7077
Is it possible to build `CMD+K` to clear current render in terminal?

[2016-09-29 08:55] dbaeumer commented on #12972
This never worked IMO.

[2016-09-29 08:56] GregorBiswanger opened #12984 "How can I use the existing Language Service Host for JavaScript?"
Hi,
I would like to write a VSCode Extension. It will support JavaScript IntelliSense in a HTML file.
For own TypeScript code I used a own TypeScript Language Server Host.

I like to save a lot of time and would use the existing Language Service Host for JavaScript from VSCode.
So I can support default JS functions and properties... As example, I have a own TypeScript property from type string.. a

[2016-09-29 08:57] joaomoreno opened #12985 "Can't install "Latest Typescript ..." extension"
Due to #12843

[2016-09-29 08:59] kefengwei commented on #12968
it's work for stable. it's the same when add --wait argument.

[2016-09-29 09:05] dbaeumer commented on #12971
The problem seems to be the superfluous >. If it is not there indentation works correctly.

Discussed with @egamma and this seems to be emmet related.

[2016-09-29 09:07] dbaeumer commented on #12975
This is emmet related.

[2016-09-29 09:07] kostadinnm commented on #5217
No worries.

Here's what I get from the VSCode insiders 1.6.0(are you able to spot the difference between the two 'i'-symbols):
![2016-09-29 11_59_30-visual studio code - insiders](https://cloud.githubusercontent.com/assets/18436405/18947695/cf1aaa70-863c-11e6-92cf-74b2b91bb2cb.png)

It's not a surprise to me, as with the latest chrome browser has the same output in its settings.

Cheers,
Kostadin

[2016-09-29 09:09] ivancuric opened #12986 "[scss] Option to remove scss functions from property autocomplete"
- VSCode Version: 1.51
- OS Version: Sierra

![image](https://cloud.githubusercontent.com/assets/2827047/18947829/eae40254-8634-11e6-813d-fb57ea8d7221.png)

This type of behaviour is highly unpractical, since in 99.9% of cases I want to select a css property. Either group scss functions after css properties or add an option to turn them off.

[2016-09-29 09:10] joaomoreno commented on #12983
<kbd>Ctrl B</kbd> shows and hides the sidebar.

[2016-09-29 09:10] #12983 closed

[2016-09-29 09:11] xckai opened #12987 "markdown preview not work"
- VSCode Version:1.5.3
- OS Version:win10
I in put

##haha
#hehe

and in preview window i got

##haha #hehe

I don't know why .....

Steps to Reproduce:

1. add a file named test.md
2. add some words in test.md
3, click preview

[2016-09-29 09:13] joaomoreno commented on #12987
You need to add spaces:

[code]

[2016-09-29 09:13] #12987 closed

[2016-09-29 09:13] dbaeumer commented on #12973
Word highlight is broken in CSHTML. Not sure if this should be the normal word highlight or whether this is a language word highlighter.

[2016-09-29 09:17] dbaeumer commented on #12964
According to @bgashler1 no regression. Moving to October.

[2016-09-29 09:27] dbaeumer commented on #8938
@egamma I think we can close this.

[2016-09-29 09:35] isidorn commented on #12879
@joaomoreno please code review

[2016-09-29 09:35] dbaeumer commented on #12984
This is currently not possible. We have plans to look into exposing API via the extension itself.

[2016-09-29 09:40] dbaeumer commented on #12265
@StefH reported this when executing a task which is executed in the render (no extension host involved).

May be an easy way to reproduce this is to write a node program that simply produces lots of output and start it via a task.

[2016-09-29 09:40] sandy081 commented on #12960
@mousetraps Good catch.

[2016-09-29 09:41] #12960 closed

[2016-09-29 09:44] DonJayamanne commented on #12300
@jeffery9 Its an issue with the Vim extension.

[2016-09-29 09:54] sandy081 commented on #12917
Not showing the prompt during manual update might not be fair if the extension to update is installed as a dependency of an another extension. In which case, user is not aware. So to be simple and good - Show prompt when user installs or updates and do not show prompt for auto updates.

[2016-09-29 09:56] dbaeumer commented on #12511
@RobertoMalatesta we upgraded Electron to overcome the realpath issue (actually node reverted back to the original behavior so we decided to do the same). However this required another adoption round on the TS end which went into tonights Insider build

I tested this with the latest inside from tonight and it works for me in my play example

![capture](https://cloud.githubusercontent.com/assets/19

[2016-09-29 09:56] egamma commented on #11329
Closing, Thanks to PR #12031 we now show the language ID in the language picker.

[2016-09-29 09:56] #11329 closed

[2016-09-29 09:57] egamma commented on #9571
Shifting - depends on the support of multi cursors in snippets.

[2016-09-29 09:58] dbaeumer commented on #12300
Thanks @DonJayamanne closing this one then.

[2016-09-29 09:58] #12300 closed

[2016-09-29 10:03] dbaeumer commented on #12936
@waderyan: we can do this. However I want to understand why this is in in the first place since we ask for symbols for a specific document.

[2016-09-29 10:06] bpasero opened #12988 "Regression: can no longer copy empty lines"
- VSCode Version: latest 1.6 insider
- OS Version: Mac & Windows

Steps to Reproduce:

1. click somewhere into a line and invoke the copy command
2. paste

=> you no longer paste the full line

This used to work. Marking as important.

[2016-09-29 10:10] bpasero commented on #12954
Ok I will add a workaround for now because I think producing bad URIs can lead to bad bugs that are hard to track. Eventually I should just guard against this on my editor service layer but I am not brave enough to make this change so late.

@aeschli please revisit in October.

[2016-09-29 10:14] bpasero commented on #12968
@kefengwei so everything works in 1.6. insiders if you use `--wait` argument?

[2016-09-29 10:19] dbaeumer opened #12989 "Variables view list array entries twice"
- VSCode Version: 1.6.0
- OS Version: Windows

![capture](https://cloud.githubusercontent.com/assets/1931590/18950174/f1c96c8a-863e-11e6-9084-a76922dcef23.png)

[2016-09-29 10:21] xckai commented on #12987
yes ,thank you

[2016-09-29 10:21] bpasero commented on #5217
<img width="1474" alt="screen shot 2016-09-29 at 12 20 55" src="https://cloud.githubusercontent.com/assets/900690/18950235/33d2377e-863f-11e6-8dda-f71366158431.png">

Looks like I am getting subpixel anti aliasing on my Windows 10. You say you get grayscale anti aliasing?

[2016-09-29 10:22] bpasero commented on #5217
Actually you get subpixel anti aliasing but your result looks different compared to mine (which may not be surprising depending on the monitor hardware).

[2016-09-29 10:25] bpasero commented on #6737
Ok, reopening this since this is about output from the extension host side. It might end up to be a duplicate in the end but maybe we need to also tweak the extension host side to buffer output.

[2016-09-29 10:25] bpasero commented on #12265
Ok lets keep this item to look into the performance on the renderer side and https://github.com/Microsoft/vscode/issues/6737 to check for the extension side.

[2016-09-29 10:27] bpasero commented on #12989
I have seen this too.

[2016-09-29 10:29] dbaeumer commented on #12936
Tried a work around on our end but there is more broken. See https://github.com/Microsoft/TypeScript/issues/11230#issuecomment-250429110

[2016-09-29 10:36] dbaeumer commented on #12945
Works for me under Windows.

@mousetraps there is one limitation with this. If a vscode instance is already running you can't change the local for a second instance. So the switch is ignored. Reason being that the menu bar is owned by the main process and that is only started once.

[2016-09-29 10:36] #12945 closed

[2016-09-29 10:37] dbaeumer commented on #12798
Moving to October. There is nothing I can do today. More fixing requires a TS update.

[2016-09-29 10:40] kostadinnm commented on #5217
Mhm, I hadn't known that matters as well. I have four monitors I could test with. Two of which(some old Belinea 1945SW and one LG Monitor TV M2352) are nearby. It must be monitor-hardware inability on those. The other two are Asus ProArt PA246Q and BenQ BL3200PT.
I'll try my best to get them tested as well. I'm strictly using digital connections(DVI, HDMI) and RDP-ing between the machines(font-smo

[2016-09-29 10:41] #12917 closed

[2016-09-29 10:45] falltodis opened #12990 "[snippets] How can I excute some javascript in snippet"
- VSCode Version:  1.5.3 (1.5.3)
- OS Version: mac os

How can I excute  some javascript in snippet? I want to make a common coment with systemtime which looks like below

[code]

[2016-09-29 10:51] bpasero commented on #12265
I am seeing half of the time spend in the editor in setValue and about 15% in the append function of the outputService:

![image](https://cloud.githubusercontent.com/assets/900690/18951097/7a3415c6-8643-11e6-86bf-b4fc8113d0e5.png)

[2016-09-29 10:55] bpasero commented on #6737
I can not even profile when spamming output from the extension host, that's how much stuff happens between the 2 processes...

[2016-09-29 10:56] LucyMac opened #12991 "File search (ctrl + E) should suggest more relevant options"
- VSCode Version: 1.5.3
- OS Version: Windows 10

Steps to Reproduce:
1. From anywhere inside VSC, ctrl + E opens a dialog to search by file name.
2. Start typing, list of options appear.

Unfortunately, the options are not sorted by any relevance (recently opened, or files from folder currently working on). It would be great if this could be improved!

Example:

I have 6 files open, all from a fo

[2016-09-29 10:57] jrieken commented on #12954
Similarly we could invest if uri should normalise paths but I am also not brave enough for such a change (like ever 🙈)

[2016-09-29 11:00] tapir opened #12992 "git.path doesn't work"
- VSCode Version: 1.5.3
- OS Version: Windows 7 64bit

Steps to Reproduce:

1. Set git path to: ``"git.path": "C:\\msys64\\usr\\bin\\git.exe",`
2. You get error `ENOENT: no such file or directory, lstat 'C:\c'`

Git is not in my path and I don't want it in my path because it brings along bash which is hindering with msys and so on.

[2016-09-29 11:04] gerhardcit opened #12993 "Cmd-X does not delete/cut the current line"
- VSCode Version: Code - Insiders 1.6.0-insider (6746e53a611ecb3e0777fca6a4c8387dc392513f, 2016-09-29T06:04:54.045Z)
- OS Version: Darwin x64 15.6.0
- Extensions: `QassimFarid.ejs-language-support-0.0.1`, `alefragnani.project-manager-0.10.0`, `bradgashler.htmltagwrap-0.0.3`, `donjayamanne.githistory-0.0.12`, `formulahendry.auto-rename-tag-0.0.7`, `tuxtina.json2yaml-0.1.1`, `waderyan.gitblame-1.3.0

[2016-09-29 11:04] jrieken commented on #6737
There is not much happening when you only send output for the output service. Before the incoming data results in a function call we parse the string to JSON using a custom reviver (for RegExp and URI). Looking at the previously taken perf-trace that account for 0.35% of the overall time being spend.

<img width="691" alt="screen shot 2016-09-29 at 13 02 49" src="https://cloud.githubusercontent.co

[2016-09-29 11:08] moigagoo commented on #12993
The same on Windows (with Ctrl+X).

[2016-09-29 11:12] bpasero commented on #6737
There is obviously something going wrong up to the point where the renderer becomes unresponsive and to proof that, notice the difference between running my extension sample with output printing enabled and disabled:

Enabled (after 3 seconds output is shown and you notice that my extension logging turns very slow and eventually everything is frozen):
![editors1](https://cloud.githubusercontent.co

[2016-09-29 11:13] ebugusey commented on #11955
Duplicate of this one #3623

[2016-09-29 11:16] jrieken commented on #6737
What does that mean? You send data but do anything with it? Can you profile the latter and latter?

[2016-09-29 11:17] bpasero commented on #12954
Well not sure if "." and ".." are valid in file URIs. I think they are as long as you have an absolute path to start with.

Tricky thing is to deal with these non-normalized URIs in all our caches and maps where we call toString() and use that to compare for equalness.

[2016-09-29 11:17] ebugusey commented on #3623
The problem is that js doesn't have full support for unicode. Even with `/u` in ES6 it just doesn't work. You should use _oniguruma_ for regular expressions, like Atom does.

[2016-09-29 11:18] bpasero commented on #12954
Maybe calling URI.fsPath should normalize? but then again, I often call toString() and that would not help me with comparision either.

[2016-09-29 11:19] actboy168 opened #12994 "Lua function colorizing error"
- VSCode Version: Code 1.5.3 (5be4091987a98e3870d89d630eb87be6d9bafd27, 2016-09-22T08:50:42.185Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:
![qq 20160929191837](https://cloud.githubusercontent.com/assets/1836844/18951806/9ccdaa6c-8679-11e6-8d53-0301c79b44c0.jpg)

[2016-09-29 11:19] bpasero commented on #6737
@jrieken disabled means, the output gets sent over to the renderer and the renderer does some string magic with it but the output is never reaching the editor. Since in my profiling the majority of time is spend in the editor to render all the output, I do not end up in a freeze eventually.

[2016-09-29 11:21] bpasero commented on #6737
Hm, just starting to profile makes it freeze for me too, even when not doing anything with the output. I believe profiling also puts quite some pressure on the renderer so maybe it causes a similar freeze as showing the output in the renderer.

[2016-09-29 11:26] bpasero commented on #6737
Ok managed to get the profile, imho nothing obvious:

![image](https://cloud.githubusercontent.com/assets/900690/18951967/228b763e-8648-11e6-80e6-40db26634a5c.png)

On a related note: It seems saving profiles from Windows produce empty files :-((((

[2016-09-29 11:30] jrieken commented on #6737
So, looking at the numbers: When I only receive the messages and stop forwarding them to the output service (comment line [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/mainThreadOutputService.ts#L31)) `tickCallback` takes ~650ms, when I don't do that it takes ~5500ms. So, taking roughly half a second for reading 10000 messages isn't 🚀-fast but not the bottle neck

[2016-09-29 11:30] mikaoelitiana opened #12995 "Can't scroll in embeded terminal"
- VSCode Version: Code 1.5.3 (5be4091987a98e3870d89d630eb87be6d9bafd27, 2016-09-22T13:06:49.879Z)
- OS Version: Darwin x64 16.0.0

Steps to Reproduce:

1. Open an embeded terminal
2. Execute a command with a long result
3. Scroll with mouse to see result : the result will not moce

[2016-09-29 11:31] RobertoMalatesta commented on #12511
Sure, @dbaeumer but the published download link still points to commit 6746e53a611ecb3e0777fca6a4c8387dc392513f,
not yet the ...59777 I see in your pic.
-R

[2016-09-29 11:33] mkyjakova commented on #12775
hi @joaomoreno , Thanks! If I understand correctly then, in this case, the string refers to an extension. I'll let the translator know.

[2016-09-29 11:33] nixel2007 commented on #3623
@ebugusey atom does not use oniguruma everywhere or it doesn't help in all cases. I've made a unicode support for Atom-autocomplete using the XRegExp library.

[2016-09-29 11:45] atlanteh opened #12996 "react syntax highlight is broken"
- VSCode Version: 1.5.2
- OS Version: Win 7

vscode syntax highlight for react fails to recognize the following snippet:

[code]
Output:
![capture](https://cloud.githubusercontent.com/assets/3952700/18952648/36cca432-8653-11e6-9d36-95e840183f49.PNG)

Steps to Reproduce:

1. open a JavaScript file
2. copy the above code

[2016-09-29 11:55] JPtenBerge commented on #12445
@aeschli Ah, ok. Would it be a nice feature to have out-of-the-box?

[2016-09-29 11:58] DavidRigglemanININ commented on #11766
So somehow things seem to be working again on 1.5.3. Maybe somewhere along the line I told VS Code to use 1.8 by accident (or rather omitted one click to keep using 1.6). If there's any I can do to verify versions, let me know. I guess the above scenario you mentioned could be a possible explanation. It doesn't look like we 1.6 hardcoded in the settings.json file, just in our package.json config

[2016-09-29 11:59] janhancic commented on #12743
Been using the insiders version for a couple of hours now and haven't experienced the same problem. Feel free to close, and I'll re-open if it starts happening again.

Thanks @chrmarti !

[2016-09-29 12:00] jrieken commented on #12865
So, I can see that sometimes (unclear when/how) the embedded iframe looses it's `scrollTop` (it's being reset to 0). What I can do is to set it back to the *before* value when that happened. Might not always be good but it might be an improvement.

[2016-09-29 12:00] egamma commented on #12975
This isn't a regression. What has changed in September is that `<` is now auto closed with '>'. This uncovers the emmet behaviour.

As an initial fix I've removed the auto closing of '<', this makes the behaviour consistent with August.

[2016-09-29 12:02] isidorn commented on #12989
Dirk's steps:

1. put a breakpoint here https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/features/documentSymbolProvider.ts#L66
2. attach to extension host, open js file -> cmd + shift + o

[2016-09-29 12:04] dbaeumer commented on #12721
OK. To not make the message for the release notes any longer @egamma and I decided to simply remove the version check.

[2016-09-29 12:05] #12721 closed

[2016-09-29 12:07] dbaeumer commented on #12511
That one `6746e53a611ecb3e0777fca6a4c8387dc392513f` contains the fix as well. The one I use is only available for Windows. Sorry for that

[2016-09-29 12:07] bpasero commented on #12865
That would help for the scrolling issue but I guess the underlying problem is that somehow Chrome decides to just recreate the whole page, much like an explicit refresh on a website.

[2016-09-29 12:08] dbaeumer commented on #12229
I will close the issue.

@kumarharsh please ping if you think I should still investigate into a work around.

[2016-09-29 12:08] #12229 closed

[2016-09-29 12:10] jrieken commented on #12865
We do [that](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/html/browser/webview.html#L116) because otherwise scripts et al won't be reloaded again - however we are (were?) somehow lucky that chrome did restore the position for us. Maybe their internals changed such that that doesn't happen anymore

[2016-09-29 12:10] bpasero commented on #12993
https://github.com/Microsoft/vscode/issues/12988

[2016-09-29 12:10] #12993 closed

[2016-09-29 12:11] fibric commented on #12042
I experienced another hang situation.
![image](https://cloud.githubusercontent.com/assets/623932/18953366/64f82052-864e-11e6-9b93-06bc3837872e.png)

This time, I opened a huge file with 16000+ LoC.

[2016-09-29 12:11] RobertoMalatesta commented on #12511
No problem.
That's the VSC: last nightly: **code-insider-1.6.0-1475129007_amd64.tar.gz** download I did this morning and that I made the screenshot I posted.
So the issue is still there.

[2016-09-29 12:14] dbaeumer commented on #11766
This explains it then. If you don't have typescript.tsdk in the settings.json pointing to the local 1.6 TS then VS Code always used 1.8.10 for code complete, error checking, ...

@DavidRigglemanININ please be aware that VS Code 1.6 will ship with TS 2.0.3 in the box. So you might see additional errors since the compiler got more precise. If you need to go back to 1.8.10 then you can install 1.8.10

[2016-09-29 12:14] #11766 closed

[2016-09-29 12:14] #10136 closed

[2016-09-29 12:17] jrieken commented on #12954
Yeah, `fsPath` and `path` should be normalised (resolved). That will then affect also the outcome of `toString` and that's the scary part of it because I believe we have persisted that as cache entries here and there...

[2016-09-29 12:24] isidorn commented on #12989
@weinand @roblourens this is happening because I get indexed properties for an array back both when I ask for 'indexed' and when I ask for 'named' in a [variables request](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/common/debugProtocol.d.ts#L621). Bottom line issue should be somewhere [here](https://github.com/Microsoft/vscode-node-debug/blob/master/src/node/nodeD

[2016-09-29 12:35] egamma commented on #12975
Also change the emmet editor access to consume a trailing '>'

[2016-09-29 12:37] sandy081 commented on #12935
@joaomoreno This is happening while we prepare query from filters using reduce, assign and slice. For each value, we are slicing and assigning which is making it slow.

Fixed it by doing slicking and assigning only once on all values.

[2016-09-29 12:37] #12935 closed

[2016-09-29 12:38] egamma commented on #12971
duplicate of #12975

[2016-09-29 12:38] #12971 closed

[2016-09-29 12:38] #12975 closed

[2016-09-29 12:40] sandy081 commented on #12957
I am also not favor of uninstalling as a pack. Instead what is more useful is either not allowing or prompting the user while uninstalling an extension if it is a dependency of already installed extension.

[2016-09-29 12:45] artagnon commented on #12624
Wow, it's blazing fast now! Thanks. Please look into supporting more complex patterns.

[2016-09-29 12:51] joaomoreno commented on #12935
@sandy081 Shouldn't you filter out duplicates for your query?

[2016-09-29 12:52] egamma commented on #11478
@mrmlnc was looking into fixing this. However, the above approach has the issue that inside replaceContent we cannot know anymore whether the replacement was triggered by a `tab` key/expand abbreviation. The call to replaceContent can also happen as a consequence of `Wrap with Abbreviation` and in this case inserting a TAB would be the wrong thing to do.

Deferring until we have a better fix.

[2016-09-29 12:54] joaomoreno commented on #12281
Moving to October since there hasn't been more info. Today is the last fix day.

[2016-09-29 12:54] joaomoreno commented on #12929
Can any of you guys try installing it in a non-internal windows build and see if you can reproduce it?

[2016-09-29 12:56] #12091 closed

[2016-09-29 12:58] dbaeumer commented on #12511
@RobertoMalatesta  can you share your workspace ?

[2016-09-29 13:02] egamma opened #12997 "Window switcher should indicate the currently active window in the list"
Testing #12522

In the case below an indicator, e.g, trailing 'dot' would have helped me to see which window is the active one.

![image](https://cloud.githubusercontent.com/assets/172399/18954919/6fa77136-8655-11e6-8cfb-c4506d779407.png)

[2016-09-29 13:02] tdekoekkoek commented on #11766
I'm really not sure this should be closed.  What I had was a working version of VSCode and then it does an automatic update which I didn't ask for and then is no longer working.  Should I have to go hunting down which version of typescript is running or change a setting in a config file I've never touched before?  Shouldn't there be some warning?  All I know right now is that prior versions of VSC

[2016-09-29 13:04] #12522 closed

[2016-09-29 13:04] jrieken commented on #12883
@alloy Can you precisely name the file which causes this for you. If I open *a* JS file I cannot repo (*index.js, load_failure_viewjs, opaque_image_view.js*)

[2016-09-29 13:05] sandy081 commented on #12935
@joaomoreno Yah that should be done too.. wanted to do but forgot.. Thanks for reminding.

[2016-09-29 13:07] jrieken commented on #12783
@Molle500 Open search input and toggle the case-sensitivity buttons. It's control by that

[2016-09-29 13:08] mrmlnc commented on #11478
@egamma, Well, I'll think about it in my spare time.