[2019-01-04 23:47] def14nt commented on #65373
@khacminh Try initializing an NPM project if you haven't already and then get the Lodash type definitions by installing the `@types/lodash` package. For an explanation, check out this [Stack Overflow question](https://stackoverflow.com/questions/41573822/what-are-typings-in-typescript) which explains what `@types/*` packages are.

[2019-01-04 23:50] sobjornstad commented on #65910
This is bizarre -- I can't reproduce it with those steps now either. I was able to make it happen many times in a row when I was testing...

Try this one though, it's still working for me when there's a combination of backslashes in the path and only two initial slashes:

    file://c:\test.txt

[2019-01-05 00:16] Proxxaaa opened #66065 "Restarting to update VSC does not work ("Application did not start properly")"
Issue Type: <b>Bug</b>

1. Open up Visual Studio Code.
2. Wait until a prompt appears at the bottom right of the screen, prompting you to restart to install an update.
3. Click "Restart Now," attempting to install the update.
4. Visual Studio Code closes to restart and install the update as regular.
5. An error alert appears, saying "The application did not start properly," or something of the sor

[2019-01-05 00:18] PowerfulCat opened #66066 "SimSun font's spaces are double as wide"
perhaps i'm second one report this confuse.
you known. I have severe obsessive-compulsive disorder.
SimSun is my only love font. I try lot's of other bitmap fonts, but the problem still existed.
I agree with alexandrudima.
"This is something driven by the font. We respect whatever width Chromium decides to render for a space, and I believe Chromium respects whatever the font instructs. I don't bel

[2019-01-05 00:19] mytee306 opened #66067 ""f2" maps to "undefined" and "f12" maps to "scrolllock""
- VSCode Version: 1.30.1
- OS Version: Ubuntu 18.10

Steps to Reproduce:

1. `ctrl+k+ctrl+s` to open up shortcuts
2. `alt+k` to enable recording key strokes
3. Press `f2` -> `undefined`
5. Press `f12` -> `scrolllock`

Tested keys mappings using `xev`
1. `f2` -> F2
2. `f12` -> F12

Does this issue occur when all extensions are disabled?: Yes

[2019-01-05 00:20] VErwin commented on #66057
ah - that make sense. Thanks for responding :-)

[2019-01-05 00:30] laddywig opened #66068 "Hot Keys for "Open to the Side""
Issue Type: <b>Bug</b>

I have two folders each tied to different, but similar GIT remote repositories. They both share similarly named files. When I open one file and then go to Open to the Side option, it only works when I right click and choose the option. In this situation, if I open one file and then chose it's sister file and use "Cntrl+Enter" to execute the Open to the Side option, it opens

[2019-01-05 00:30] roblourens commented on #66062
Please file this on the PHP Intellisense extension's repo.

[2019-01-05 00:48] queeniema opened #66069 "Cannot use HTTPS URL for gutterIconPath in window.createTextEditorDecorationType"
Issue Type: <b>Bug</b>

I'm trying to use an icon from an HTTPS URL for the gutter icon like so:

[code]

But the icon doesn't show up in the gutter when I call `TextEditor.setDecorations`. If I provide a path to the icon file, then it works fine:

[code]

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:05:00.654Z)
OS version: Darwin x64 18.2.0

<details>
<sum

[2019-01-05 01:06] dattx0 commented on #66040
i have the same issue, my font is Consolas (vs code, Ubuntu 16.04.5), i changed 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback' to Consolas in font family setting, i could do this in previous versions

[2019-01-05 01:13] jabacchetta commented on #638
Agreed on this. VSCode simply can not be used for large refactors as is. I have to open up WebStorm (which will undo _everything_ from that refactor command).

[2019-01-05 01:19] johnneil2018 opened #66071 "big tits"

[2019-01-05 01:21] def14nt commented on #66071
@johnneil2018 You're so clever. A throwaway account. Piss off.
@jrieken Feeling good to close this? :+1:

[2019-01-05 01:45] mytee306 commented on #66067
# Solved

- Turn off computer
- Press power-on
- Press `f2` a couple of times while booting up
- In the main tab of your bios switch `function key behavior`
[code]

[2019-01-05 01:45] #66067 closed

[2019-01-05 02:11] mjbvz commented on #65410
Addressed by #66070

[2019-01-05 02:11] #65410 closed

[2019-01-05 02:14] mjbvz commented on #58597
I've checked in a fix for this and also have been adding pinning tests for the TS completions since they are growing quite complicated.

This is a change in a core behavior that has existed for a while so we'll need to see what the user feedback is like on it (and I'm not in favor of adding a setting to enable/disable this behavior)

[2019-01-05 02:36] #66071 closed

[2019-01-05 02:46] jabacchetta opened #66073 "File rename and refactor"
Currently we can use the `rename symbol` command and that will rename the symbol and its usages (exports, imports, usages in other files, etc.). That's a great start, but I'd love to see this feature expanded to do the following:

- Many times a file name will coincide with the symbol being refactored. The refactor option should be available when renaming the file, so everything can be done at onc

[2019-01-05 02:52] mjbvz commented on #66005
@usernamehw I think `$` is treated like any other letter. `xaddon` also will not show in this case:

[code]

Not sure about why `_` is treated differently. We don't seem to be doing anything special on the TS side and after debugging through the suggest model I still don't understand. @jrieken do you know why completions with an `_` prefix would still show up here?

[2019-01-05 03:10] mjbvz commented on #54586
With #58597 addressed, the behavior for path completions now matches how we handle normal completions. Replacing the entire path segment also matches how path completions work for other languages like html and css.

Since there hasn't been any other feedback on this issue since June, I'm closing this as by-design

[2019-01-05 03:10] #54586 closed

[2019-01-05 03:18] mzhukovs commented on #31537
Hope this makes it in soon. My skipFiles keeps growing, smartStep doesn't seem to do anything for me, not sure if it's just my webpack setup or what. Instead of skipFiles - is there some basic way to just say ok, only step into .ts files for debugging? Basically the opposite of skipFiles, only debug files in the project...

[2019-01-05 03:47] kumarharsh commented on #65693
That's correct... Perhaps some sort of batching needs to be implemented to handle these type of cases?

[2019-01-05 04:08] jayatathi opened #66076 "Task bar button(vsc icon) separate view for multiple workspace."
example:
Admin Folder  - vs logo icon gray color
User Folder - vs logo icon green color

Each one is separately view in Task bar button.

Suppose i am working on three different Technologies like Angular, React, View i was unable to find in Task bar icon.

[2019-01-05 05:20] mostafaabobakr7 opened #66077 "vscode support nunjucks ?"
###  vscode support for nunjucks  [.html, .njk, .nunjucks]
**-format
-IntelliSense
-syntax highlighting**

_as a workaround this extension have snippets "IntelliSense "_
https://github.com/luwenjiechn/nunjucks-vscode-snippets

![image](https://user-images.githubusercontent.com/27288406/50720622-1c38f600-10b9-11e9-8ef4-455e5e85cf6c.png)

- VSCode Version: insider v1.31
- OS Version: windows 10

[2019-01-05 05:38] shiyee opened #66078 "不能安裝擴展"
Issue Type: <b>Bug</b>

不知道哪裡出了問題，我現在不能安裝任何擴展了。。。

安裝的進度條一直在進行，多久都不會消失。。。

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3 CPU         540  @ 3.07GHz (2 x 3066)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled

[2019-01-05 05:38] qiangshi1 commented on #66040
Well my font family is {'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback'}.I want to change it to {'Nimbus Mono L'}.But after I change the setting,it doesn't work.The font isn't changed.

[2019-01-05 05:40] shiyee commented on #66078
重裝了，也刪除了安裝目錄和個人目錄下的文件也不行

[2019-01-05 05:50] sanmaopep commented on #64192
ctrl+shift+p "Restart TS server" will help me when JavaScript Intellisense doesn't work.
Maybe because "TS server" is too busy and restarting it will work it out again?

[2019-01-05 05:54] why-does-ie-still-exist commented on #51789
Got a new laptop with a 1060 and intel integrated graphics, and the blurriness happened to me too. It's not vs code, because the blurriness also happens on [edex-ui](https://github.com/GitSquared/edex-ui), another electron project. However, after reading this thread, I turned off FXAA like @gabaruga did in Nvidia Control panel, and now both edex-ui and vs code work perfectly.

Help info:
[code]

[2019-01-05 05:58] CharlesWuQiushi commented on #63305
I don't know! I haven't changed any inside settings, but I can't search for a string. Until now.

[2019-01-05 06:08] eamodio commented on #62214
I think this is somewhat related to this: https://github.com/Microsoft/vscode/issues/54806

[2019-01-05 06:11] eamodio commented on #62612
This looks like a duplicate of: https://github.com/Microsoft/vscode/issues/60979

[2019-01-05 06:16] ddzy commented on #66078
安装vscode explore版的试一下

[2019-01-05 06:24] robgraeber opened #66079 "TSDoc Optional Parameters - Different Coloring"
For some reason, it seems like optional tsdoc params as noted by [] braces are colored differently than regular tsdoc params. I'm trying to turn the color off for them, but all the solutions for turning off jsdoc colors doesn't affect optional params. Is there another solution?

- VSCode Version: 1.30.1 (latest)
- OS Version: OS X 10.14

To Reproduce:

Create a tsdoc comment with optional paramete

[2019-01-05 06:47] technolingo commented on #26029
Mine are missing, I want them back.

[2019-01-05 06:56] KamasamaK commented on #66079
It's being colored as a string because it has the `string.other.link.title.markdown` scope applied to it. It seems to be expecting that it be preceded with the type because that fixes it.

[2019-01-05 07:18] robgraeber commented on #66079
@KamasamaK Thanks that's interesting and was able to fix my issue. This was for a typescript file so it's suppose to not have a type, I updated the issue.

[2019-01-05 07:18] #62612 closed

[2019-01-05 07:30] bpasero commented on #65773
@radres does it reproduce if you configure: `"window.titleBarStyle": "native"` after a restart?

[2019-01-05 07:30] bpasero commented on #66034
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2019-01-05 07:31] #66045 closed

[2019-01-05 07:32] bpasero commented on #65959
If someone wants to investigate 👍

[2019-01-05 07:51] SokHeangKhun commented on #34442
I have 2 monitors and I want to dock out the terminal, output and etc which dock on the bottom of the editor to be in my another monitor with its own window which give me clearly space to work. When do I get this feature in Visual Studio Studio Code?

[2019-01-05 08:05] beastdestroyer commented on #66053
Since SVG is an XML variant, would support for XML be included? Or would that have to be a request under Atom's XML package?

[2019-01-05 08:19] jcklpe commented on #65517
Thanks @joaomoreno I ended up doing basically as you said. I replaced settings.json with a symbolic link that pointed to my configs repo folder.

[2019-01-05 08:36] mayaru commented on #28795
**for precision touchpads try this after installing imwheel**

gedit ~/.imwheelrc

None,      Up,   Button4, -1
None,      Down, Button5, -1
Control_L, Up,   Control_L|Button4
Control_L, Down, Control_L|Button5
Shift_L,   Up,   Shift_L|Button4
Shift_L,   Down, Shift_L|Button5

now, if you use a precision touchpad, keep the two -1 values.
if you are using a mouse, change them both to 1.

seems to b

[2019-01-05 08:47] egamma commented on #66078
please see https://github.com/Microsoft/vscode/issues/66024#issuecomment-451499883

[2019-01-05 08:47] #66078 closed

[2019-01-05 08:49] egamma commented on #66076
@jayatathi not clear from the description what the problem is, please illustrate the problem with a screenshot.

[2019-01-05 08:53] egamma commented on #66068
@laddywig from the description it is not clear what the issue is. Can you please describe the steps that cause the problem in a way that we can reproduce it. Please use screenshot to illustrate what is going on.

[2019-01-05 08:55] bpasero commented on #66030
I think this is already in proposed: https://github.com/Microsoft/vscode/blob/28e7467/src/vs/vscode.proposed.d.ts#L1123

[2019-01-05 09:00] egamma commented on #66055
@scarolan Are you creating and cloning the files across different platforms (e.g. Windows and OS X)? Have you checked how you configured git's line ending handling  `core.autocrlf` https://help.github.com/articles/dealing-with-line-endings/?

[2019-01-05 09:05] egamma commented on #66066
I agree with @alexandrudima. This issue is a duplicate of https://github.com/Microsoft/vscode/issues/37100, nothing we can do to address this on the VS Code side.

[2019-01-05 09:05] #66066 closed

[2019-01-05 09:07] jfmmm commented on #38999
Same problem also when admin, work fine when not.

[2019-01-05 09:13] egamma commented on #66063
@VErwin this works for me. You have to select the empty drop down so that the list of installed extensions appears.

@RMacfarlane we can avoid this confusion by showing the text 'Select Extension' rather than leaving the box empty.

![image](https://user-images.githubusercontent.com/172399/50722629-2b786d80-10d2-11e9-95d6-dde0b0831978.png)

[2019-01-05 09:20] egamma opened #66080 "Issue reporter: force reporter of an issue to make a choice whether the issue is for VS Code or an extension"
Currently the issue reporter defaults to filing an issue against VS Code:

![image](https://user-images.githubusercontent.com/172399/50722683-e86aca00-10d2-11e9-98df-f7d880d3f178.png)

To reduce the number of issues filed against VS Code that should be filed for an extension I suggest that the user has to make an explicit choice. That is the drop down should default to something like 'Select Sourc

[2019-01-05 09:37] likecreep commented on #66020
@egamma Hi, thanks for your time. I tried disabled all extensions and reinstall all of them one by one. And I found this problem was caused by one particular extension. After I uninstalling it, now everything works fine. I'll close this issue. Thank you!

[2019-01-05 09:37] #66020 closed

[2019-01-05 09:44] egamma commented on #66020
@likecreep what was the extension that caused this problem?

[2019-01-05 09:56] shimonacarvalho commented on #14836
Same here, upvoted. Strongly considering actually making a shortcut to open in notepad++ (also doesn't seem to be a thing) and then using notepads find all feature.

[2019-01-05 10:05] a-vrma commented on #49279
Are you using the VsCodeVim plugin?

[2019-01-05 10:34] likecreep commented on #66020
@egamma The extension is SVG Viewer. I just tried installing it again, and every extension can't be activated again. After uninstalling it, everything works fine.

[2019-01-05 11:10] BalintFarkas commented on #10026
Cool, looking forward to this!

[2019-01-05 11:54] christophfriedrich commented on #43504
*TODO Highlight* is good for simple cases. I wanted to style more than one regex, so I found the [*Highlight* extension](https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-highlight). It can even style different capture groups of the same regex differently!

With *Highlight*, the strikethrough style would be configured like this:

[code]

[2019-01-05 12:02] sheria commented on #7570
Same as here can't open VS Code since I updated my laptop :-(

[2019-01-05 12:09] interglobalmedia opened #66081 "VS Code installation disappeared and now can't download VS Code on my Mac"
- VSCode Version: 1.30
- OS Version: 10.14 (but problems started with 10.13.6)

Steps to Reproduce:

1. Install on my machine?
2.

Does this issue occur when all extensions are disabled?: Yes/No Yes but can't even it get it downloaded. It opens up in downloads and that is it. Can't use it after that. The whole thing started when I uninstalled a corrupted version of 1.30 and re-installed. Have had

[2019-01-05 12:17] msqaddura commented on #66017
yes it does seem so, yet  isnt it supposed at least via tsconfig>exclude to understand that this file is not to be validated? and actually linting errors disappeared after i excluded the files in ts.config.json so there must be a charm

Otherwise, how could I solve the problem, some IDEs (who had the same issue with [ts]) offer the "Mark as Text" functionality, but `I <3 VSCode` and the point is n

[2019-01-05 12:34] KamasamaK commented on #66079
I see. If it's for TypeScript, I'm not sure why you would need to indicate optional parameters in the TSDoc since the language supports that constraint already. I'm not sure if that's part of the TSDoc spec and I've personally never seen it.

[2019-01-05 12:57] zheng1013757145 opened #66082 "Editor prompt to force code (setTimeout)"
- VSCode Version: 1.30.1
- OS Version: Window

1. Editor input setTimeout forces code to the module
![image](https://user-images.githubusercontent.com/23191825/50724682-69a27b00-112c-11e9-910a-76d44bec8098.png)
The added code is as follows
![image](https://user-images.githubusercontent.com/23191825/50724686-76bf6a00-112c-11e9-9f6c-405b09ec4bc5.png)

[2019-01-05 13:01] zhongbinfan opened #66083 "Error icon appears clipped in the status bar"
Just Look like this:
![image](https://user-images.githubusercontent.com/38887536/50724729-f9482980-112c-11e9-88af-b9023389b566.png)

This happen in many themes!!!

[2019-01-05 13:01] zhongbinfan commented on #66083
OS:  macos

[2019-01-05 13:15] robgraeber commented on #66079
@KamasamaK I think you're right, the TSDoc playground didn't recognize it. Never mind seems like this is working as intended. Thanks for the help!

[2019-01-05 13:15] #66079 closed

[2019-01-05 13:25] OlafvdSpek opened #66084 "Editorconfig vs auto detection"
Issue Type: <b>Bug</b>

Auto detection of tab settings appears to override explicit settings from .editorconfig files.
It should be the other way around..

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 6.1.7601

[2019-01-05 13:39] fangxu622 opened #66085 "Failed to start the socket server. (Error: listen EADDRNOTAVAIL 192.168.153.213)"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.
![image](https://user-images.githubusercontent.com/16681534/50725015-20552a00-1132-11e9-8a49-f77ffb6389e2.png)

how to resolve this ,and i reinstall vscode and python extension. it doesn't solve the problem . ubunt 18.04

[2019-01-05 14:16] q312102408 opened #66086 "Replace a single file"
我做了一个对中文友好的功能.. 需要把<workbench.main.js> 替换掉.但替换后,程序不能运行,我要怎么做才可以运行..

I made a friendly to Chinese. The function of the. Need to put the < workbench. Main. Js > replace. But after replacement, program can not run, how can I do to run..

![u2de x1co33nxhf l2judb](https://user-images.githubusercontent.com/38882827/50725361-6eb8f780-1137-11e9-9684-71ed98fb0e47.png)

[2019-01-05 14:23] JakubKoralewski opened #66087 "Caret (text cursor) going back to start of line after period of inactivity [unknown extension problem]"
**Version:** 1.30.1 (user setup)
**Electron:** 2.0.12
**Chrome:** 61.0.3163.100
**Nodejs:** 8.9.3
**V8:** 6.1.53441
**OS:** Windows NT x64 100.17134

### Steps to Reproduce:

1. Seems like you need to begin a new indentation level?
2. Then after a while when it shows the git information it jumps to the beginning. It's not the GitLens extension though. I tried turning it off.

![imgur](https://i.im

[2019-01-05 14:38] JakubKoralewski commented on #66087
### This line in the settings was the reason from the **Live Sass Compiler**:
[code]

[2019-01-05 14:43] hyj1991 commented on #7570
I encountered the same problem in the windows 1809 version :(

[2019-01-05 14:47] JakubKoralewski commented on #66087
Actually the issue is still there :/

![why are you so indecisive man](https://i.imgur.com/luU4BY9.gif)

[2019-01-05 15:14] phdoerfler opened #66088 "Support Pinch-To-Zoom for changing editor font size / zoom level"
This touchpad gesture currently results in scrolling vertically in the editor which, I assume, nobody wants anyway.
Instead this could be used to temporarily change the editor font size similar to [IntelliJ IDEA on macOS](https://imgur.com/a/7UCTBrB). I hope this short screen cap makes it clear.
What I especially like about this is that it's a very fine adjustment and only in the current editor.
T

[2019-01-05 15:15] JakubKoralewski commented on #66087
It's the [Vetur](https://marketplace.visualstudio.com/items?itemName=octref.vetur) extension.
I will post there. Closing.

[2019-01-05 15:15] #66087 closed

[2019-01-05 15:20] javadbat commented on #65163
![image](https://user-images.githubusercontent.com/11534875/50725906-acf3ee00-111a-11e9-8aa7-6b6c6a844dd0.png)
say address already in use .
what that mean?

[2019-01-05 15:58] egamma commented on #66083
@zhongbinfan please define themes that expose this behaviour so that we can reproduce this behaviour.

[2019-01-05 15:59] offero commented on #54593
@n0v1 Worked for me. Thank you!

[2019-01-05 16:03] egamma commented on #66086
From the description it is not clear what the problem is. Can describe what you are doing step by step with screen shots and the describe what the expected behaviour is and what the behaviour is that you are seeing.

[2019-01-05 16:05] #66086 closed

[2019-01-05 16:06] SamKacer opened #66091 "API for sending messages to screen readers via live region"
While developing extensions that target screen reader users, it would be useful to be able to have the ability to have some text directly and immediatly read by the screen reader. It seems that VS Code uses live regions to achieve this (at least in the case of autocompletion suggestions). It would be useful if setting the text in this live region to be read by screen readers could be done through

[2019-01-05 16:09] egamma commented on #66085
@fangxu622 it looks like you have an issue with debugging Python, which is a separate extension, pls file an issue against the python extension and include detailed steps for how reproduce the problem.

[2019-01-05 16:10] #66085 closed

[2019-01-05 16:13] egamma commented on #66081
@interglobalmedia please try to delete the existing VS Code installation and then do a fresh VS Code install.

[2019-01-05 16:17] egamma commented on #66084
@OlafvdSpek do you have the editor config extension installed?

[2019-01-05 16:32] markuskramerIgitt commented on #7570
Same issue

Version: 1.30.1 (user setup)
Commit: dea8705087adb1b5e5ae1d9123278e178656186a
Date: 2018-12-18T18:12:07.165Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.17763

[2019-01-05 16:32] DemonOne commented on #59650
I ran into this issue just now trying to use python language support with the virtual file system example, same thing happens, no completions and populating python.autoComplete.extraPaths doesn't help.

[2019-01-05 16:34] markuskramerIgitt commented on #7570
This issue has label fixed-in-electron-3.0.x

Is there a timeline for electron 3?

[2019-01-05 16:48] OlafvdSpek commented on #66084
No.. isn't it installed by default?

[2019-01-05 17:08] VErwin commented on #66063
Hi @egamma  -  Sounds like this is a User-Experience fix.   I don't have this extension installed.  A user should NOT have to install an extension in order to report a bug against it.  This is definitely a design flaw.

I don't think that changing the text to 'Select Extension' would have helped this scenario.  I understand the desire to limit accepting bugs that only have this field populated, bu

[2019-01-05 17:10] egamma commented on #66084
Not it is a separate extension that needs to be installed https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig.

[2019-01-05 17:10] #66084 closed

[2019-01-05 17:15] Rafi993 opened #66092 "Ability to create modes"
I work on multiple projects and multiple languages so I have some extensions installed that were installed for specific project and I arrange my work space little differently when I work with different languages. It would be awesome if user could create **modes** where only some extensions that user specified are enabled and some settings are applied only for that mode.

So when I work with React

[2019-01-05 17:16] faradoxuz commented on #65665
There is not any difference what you do there. and "window.titleBarStyle": "native"

[2019-01-05 17:34] VErwin commented on #66063
If you had a check-box like this, it would allow the data-validation to be over-ridden if the checkbox is selected.  It would allow the "Select Extension" field to be blank, thereby allowing users to submit bugs against Extensions that are not installed.

![extensionbugreporter_mod](https://user-images.githubusercontent.com/45025626/50727200-85763480-10cc-11e9-83d3-7c512c5fed61.png)

[2019-01-05 17:48] terryupton commented on #6236
Is this on the VS Code roadmap at all? Having come from Sublime Text 3 - I do miss the native spellchecker and the plugins I have tried don't really live up to Sublime Text 3 spell checking facility, as they get confused with comments/strings/copy vs actual code etc.

[2019-01-05 18:54] tunedin76 commented on #65974
I did a step-by-step installation of PHP formatter one last time I had gotten it working earlier in the day and then something caused it to stop working again I'm sure it's a settings issue I just wish that there was a little bit more collaboration between the extension authors and the vs code contributors for better documentation in either case I'll let you know definitely if I find out more

Sen

[2019-01-05 18:56] Tomek-PL commented on #36951
I use only 2 types of coding: UTF-8 and Windows-1250 (Central European ANSI code page)
I setted the Auto Guess encoding = True
The problem is that the Visual Studio Code incorrectly detects Windows-1250 as ISO 8859-2 and some letters are not displayed correctly.
What and where should I set files.guessableEncodings to use Windows-1250 (polish letters)?

[2019-01-05 19:21] zenVentzi opened #66093 "Touchpad scroll behaves as arrow keys(yes duplicate;desperate attempt)"
Please excuse my purposeful opening of a duplicate issue. I understood that it's an issue with Chromium and not VS Code. Starred and commented the issue on chromium. But seeing that it's more than 1 year old and not even confirmed, with only 3 stars.. compared to hundreds of pages with other way more starred & commented issues.. maybe what I am trying to ask is could somehow VS Code's community gi

[2019-01-05 20:35] malmaud opened #66094 "Explorer not showing what files are modified"
- VSCode Version: 1.30.1
- OS Version:  OS X 10.14.2

The explorer panel has suddenly stopped showing which files are modified for a specific repository. Note in the screenshot how the source control panel correctly detects multiple files have been modified and yet there is no color-coding of files in the explorer window. I've attached the Git output log. This bug is specific to editing this repos

[2019-01-05 20:39] malmaud commented on #66094
Actually, I guess this might be a duplicate of https://github.com/Microsoft/vscode/issues/5970 since the explorer view works correctly if I open the folder directly instead of opening a symlink to the folder.

[2019-01-05 20:39] #66094 closed

[2019-01-05 21:01] bliteknight commented on #65942
I had a similar issue. The reason is because the installer thinks your code.exe is installed in
"C:\Users\<user name>\AppData\Local\Programs\Microsoft VS Code\Code.exe" but mine was installed in C:\VisualStudioCode\Code.exe

So I had to update all my registry entries that pointed to the wrong location to fix this.

Is there an easier way to set the install location for code.exe so the updater know

[2019-01-05 21:35] laddywig commented on #66068
Might be as designed, just seems different work flows between using the
context menu and the shortcut keys. Here's a document to highlight what I
was doing and how to reproduce the issue (quirk?).

Hope this helps!

On Sat, Jan 5, 2019 at 2:55 AM Erich Gamma <notifications@github.com> wrote:

[2019-01-05 21:58] o0rebelious0o opened #66096 "code failing to run while developing with API rate limit exceeded for <IP>"
- VSCode Version: master source branch
- OS Version: Win10 1809 17763.195

Steps to Reproduce:
1. Build and then run the vs code OSS version from source using .\scripts\code.bat several times in a short-ish period.  I'm not sure exactly how long I've been building and running for this morning/afternoon.

Expected: built vscode runs.
Actual: vscode fails to run with unhandled exception from `intern

[2019-01-05 22:12] OlafvdSpek commented on #66084
Shouldn't it be bundled and enabled by default?

[2019-01-05 22:48] jayenashar commented on #3451
I managed to fix this with a single command, and don't need to override `LD_LIBRARY_PATH`.  I do have to write to `/` though.

`sed 's/BIG-REQUESTS/_IG-REQUESTS/' /usr/lib/x86_64-linux-gnu/libxcb.so.1 | sudo tee /usr/share/code/libxcb.so.1 > /dev/null`

[2019-01-05 22:52] JL2210 commented on #3451
That doesn't seem like a good idea... Messing with libraries is pretty
dangerous.

[2019-01-05 23:33] ivanp2015 commented on #20530
+1 for this feature. Especially would like to have "all open files" and "modified files"

[2019-01-05 23:37] o0rebelious0o commented on #65438
I have reproed this locally and tracked down the issue.

git.ts:getBranch receives the branch string, `@test\test`, as an argument, `name`.

The first thing it does it compare the branch name to 'HEAD', else tests if the name of the branch begins with an '@' using the regex `} else if (/^@/.test(name)) {`.

In the case of the branch beginning with an '@', it then replaces the name argument to the

[2019-01-05 23:44] jayenashar commented on #3451
my `sed` command makes a copy in `/usr/share/code`.  i'm not messing with the library file itself with `-i`

[2019-01-05 23:47] JL2210 commented on #3451
I know, however modifying libraries is still dangerous. If you changed the
length of the file at all there could be serious repercussions (e.g.
Segmentation faults).

On Sat, Jan 5, 2019, 6:45 PM Jayen Ashar <notifications@github.com wrote:

[2019-01-05 23:56] jayenashar commented on #3451
sure, but only `code` would be affected, same as @rcarmo 's solution...

[2019-01-05 23:59] res0nat0r commented on #3451
No code changes needed, just do this below it worked for me:

/etc/x2go/x2goagent.options:

X2GO_NXAGENT_DEFAULT_OPTIONS+=" -extension BIG-REQUESTS"

On Sat, Jan 5, 2019, 6:57 PM Jayen Ashar <notifications@github.com wrote:

[2019-01-06 00:01] JL2210 commented on #3451
See, now that's a less "hacky" solution.

[2019-01-06 00:10] yuritoledo commented on #28795
Try to add this guy in your vscode settings: `"editor.smoothScrolling": true,`

[2019-01-06 00:16] jayenashar commented on #3451
agreed, but i'm using vnc

[2019-01-06 00:58] roblourens commented on #65163
It means there's another running process using that port. Try again and you should get a different port.

[2019-01-06 01:13] roblourens commented on #65742
So all good now?

[2019-01-06 01:13] #65742 closed

[2019-01-06 01:17] DavidBabel commented on #43501
@icirellik It's now in the general backlog, it may be reimplemented some day

[2019-01-06 01:44] roydukkey opened #66098 "The selection.background theme colour is different than the defined value and inconsistent"
The colour that is being used for widget's form field selection background is not the colour that is specified. Even adding a alpha channel doesn't mitigate the issue.

- VSCode Version: 1.30.1
- OS Version: MacOS 10.14.1 (18B75)

Steps to Reproduce:

1. Set `selection.background` to `#FF0000FF`
2. Open Find/Replace widget
3. Select a portion of the text in the text field
4. Notice the selection's

[2019-01-06 02:40] DeminMaxim commented on #66005
Duplicate of # @jrieken

[2019-01-06 02:41] timdmackey commented on #65044
Okay, so I found a complete regex pattern for pug in the original repo that vscode's pug extension is based on: [davidrios/pug-tmbundle](https://github.com/davidrios/pug-tmbundle)

Here's the the original regex definition (from [/Preferences/Miscellaneous.tmPreferences](https://github.com/davidrios/pug-tmbundle/blob/master/Preferences/Miscellaneous.tmPreferences))
[code]

I reformatted the regex p

[2019-01-06 02:44] johngrabner commented on #65742
Yes, all good.
Thanks.

Sent via the Samsung Galaxy S7 edge, an AT&T 4G LTE smartphone

-------- Original message --------
From: Rob Lourens <notifications@github.com>
Date: 1/5/19 7:14 PM (GMT-06:00)
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: johngrabner <john_grabner@hotmail.com>, Author <author@noreply.github.com>
Subject: Re: [Microsoft/vscode] Error: Both localRoot and remoteRoot mu

[2019-01-06 02:49] fendouliuyun opened #66100 "could not edit file"
when i want to edit file on vscode,it could not show anything

[2019-01-06 03:09] pablovillauy opened #66101 "download link for windows is not working"
- OS Version: WINDOWS

Steps to Reproduce:

1.
https://vscode-update.azurewebsites.net/latest/win32-x64-user/stable

2.
This site can’t be reached vscode-update.azurewebsites.net took too long to respond.
Try:

Checking the connection
Checking the proxy and the firewall
Running Windows Network Diagnostics
ERR_CONNECTION_TIMED_OUT

[2019-01-06 03:40] Yzrsah commented on #65897
Erich,

Just opening an extension's project and pressing F5 does not entirely help: it's an isolated action and it does not compose, therefore we're always only working on "the" extension.

Say for example:
I have 5 or 6 extensions with modifications that are currently being worked on or tested for usage in the larger scope and context of a super project with multiple project workspaces.

What is

[2019-01-06 03:48] Yzrsah commented on #65897
Erich,

Just opening an extension's project and pressing F5 does not entirely help: it's an isolated action and it does not compose, therefore we're always only working on "the" extension.

Say for example:
I have 5 or 6 extensions with modifications that are currently being worked on or tested for usage in the larger scope and context of a super project with multiple project workspaces.

What is

[2019-01-06 04:58] ExE-Boss opened #66102 "[json] Auto detect JSON schema when located next to the file"
It’s a somewhat common practice when having repositories with many JSON data files to keep a JSON schema with the same basename but with a `.schema.json` extension, eg.:

[code]

VSCode currently requires all these mappings to be defined in the folder settings.json, which can quickly grow pretty large in packages like [mdn-data](https://github.com/mdn/data).

[2019-01-06 05:41] ayoubkhan558 opened #66103 "Search Window Layout Error"
![error](https://user-images.githubusercontent.com/20210961/50732560-42d15c80-119f-11e9-83e7-a615072e2e60.JPG)
![errr vs cde](https://user-images.githubusercontent.com/20210961/50732561-42d15c80-119f-11e9-96fc-a4e5c1ee1479.JPG)

- VS Code Version: **1.30.1**
- OS Version: Windows **10 (Version: 1709, Build: 16229)**

Steps to Reproduce:

1. It should display like this
![sai](https://user-images.gi

[2019-01-06 06:19] akbyrd commented on #658
Documentation would be great. This is definitely a nasty corner case to figure out for newcomers.

[2019-01-06 07:32] chungweileong94 opened #66104 "PowerShell is not render/showing properly"
- VSCode Version: 1.30.1
- OS Version: Windows 10 (build 17763.195)

Steps to Reproduce:

1. Open the Terminal with PowerShell
2. The PowerShell will having rendering issue(blank) initially
![image](https://user-images.githubusercontent.com/15154097/50733423-2e558a00-11c8-11e9-911d-860833b62fb0.png)

Does this issue occur when all extensions are disabled?: Yes

[2019-01-06 07:37] parthi2929 commented on #9539
Please please please make it just a symbol (again, not blinking one) for update notification. It is very very annoying every time I have to switch it off.

[2019-01-06 08:08] ivaraja15 opened #66105 "Gradient Generator"
Inside VSCode we have background color preview in CSS like that add something that will help us to generate color gradients! Hoping it will come soon!

[2019-01-06 08:37] SCBuergel opened #66106 "Python tutorial: plot closes right after script ended"
The plot window in the tutorial closes immediately after the script is done running. This is probably expected but very different from what is described there, this should be at least mentioned. When I instead single-step through the code, I can see the plot for that step.

- VSCode Version: Version 1.30.1 (1.30.1)
- OS Version: macOS 10.14.2

Steps to Reproduce:

1. Follow your [python tutorial](

[2019-01-06 08:38] michael-james commented on #65648
Thank you for working on this! I would like my department at work (we correct translated HTML and work with Arabic and Hebrew) to start using VS Code but I know that the ability to view these RTL languages right-align will be a crucial requirement.

[2019-01-06 09:33] Ash258 commented on #66104
/duplicate of #57803

[2019-01-06 09:38] khacminh commented on #65373
@def14nt
The bug occurs with all of my npm installed package. VSCode 1.29.1 works like a charm

[2019-01-06 09:41] jabacchetta opened #66107 "Emmet expansion with React components"
There are currently two ways to expand a React component.

1. Type in the opening bracket, begin typing in the component name, accept the suggestion, type in the closing bracket, and then let VSCode's auto closing tag feature do the rest.

2. Enable the following setting: `"emmet.triggerExpansionOnTab": true,`.  After which we can then just start typing the component name, accept either the word o

[2019-01-06 09:42] Tyriar commented on #65663
@bpasero any insights into the real solution would be appreciated, I was convinced this was a bug in VS Code itself until I confirmed --disable-extensions worked and searched for the culprit extension. Editor config is a very popular extension (even featured right now) and this bug is forcing me to uninstall.

[2019-01-06 09:42] muxhub opened #66108 "I build with arm64 but armhf"
Device : Jetson Xavier

Processor : ARMv8 Processor rev 0 (v8l) × 8

OS Type : 64-bit

Version of source code : 1.30.1

My steps:
[code]
I get a package named "deb/code-oss_1.30.1-1546767579_armhf.deb", and I get an error when I install the package with "dpkg".

[code]

[code]
It works fun when i run `./scripts/code.h`, but I get armhf packages.

[2019-01-06 09:58] natanfudge opened #66109 "sortText of ItemCompletion are being ignored when comparing to ItemCompletion that doesn't specify the sortText field"
Issue Type: <b>Bug</b>

- Create a new Typescript extension with `yo code`.
- In package.json, replace the `actionEvents` field with

		"activationEvents": [
			"*"
		],
- Replace extension.ts with the following code:

		import * as vscode from 'vscode';

		export function activate(context: vscode.ExtensionContext) {

			let provider = vscode.languages.registerCompletionItemProvider("plaintext", {

[2019-01-06 11:05] ewantowie commented on #61876
Just to update this issue, it is most definitely not possible to 'install' gtk3 to a different location.

As mentioned above, version 1.25 is pretty stable for us and works.

[2019-01-06 11:30] egamma commented on #66105
This is a great extension opportunity. See also this extension https://marketplace.visualstudio.com/items?itemName=bierner.color-info

[2019-01-06 11:30] #66105 closed

[2019-01-06 11:40] javadbat commented on #65163
i try too many times but always get the same error with different port

[2019-01-06 11:42] Alecyrus commented on #28291
work fine in vscode now
![vscode](https://user-images.githubusercontent.com/13865581/50735483-d9773b00-11ea-11e9-9ad2-b946fd050073.gif)

but i really want to know how to solve this in monaco-editor, (Microsoft/monaco-editor [#1261](https://github.com/Microsoft/monaco-editor/issues/1261) )

![chrome](https://user-images.githubusercontent.com/13865581/50735507-1fcc9a00-11eb-11e9-9871-256cd9a8c208.gi

[2019-01-06 11:51] GriffinAustin commented on #66101
Works for me on Windows 10 Google Chrome. What browser(s) have you tried thus far?

[2019-01-06 12:17] usernamehw commented on #66103
Are you saying that extra lines should never show up?

[2019-01-06 13:16] vickylance opened #66110 "I have a rendering issue in the last line of the cursor in a file."
- VSCode Version: 1.30.1
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. I have a jsx file happens with js files as well. So if I open the file and have eslint autosave and save the file which has some autofixable bugs while my cursor is at the bottom most new line of the file
2. I get a rendering issue as shown in the screenshot below which blinks along with the cursor.

Does this issue occ

[2019-01-06 13:48] dimitryvolkov opened #66111 "Pressing F5 to continue while on breakpoint does not continue debug session"
- VSCode Version: 1.31.0-insider (commit bae6c84d46cd)
- OS Version: Windows 10 Build 1803

Steps to Reproduce:
1. Press F5 once to start debugging JS code
2. Break on some breakpoint
3. Press F5 again to continue debugging
4. Notification appears on bottom right: "There is already a debug configuration ".. running", and debug session isn't continued.

Does this issue occur when all extensions are

[2019-01-06 14:14] dafeinayius opened #66112 "Vscode doesn't support xfce4-terminal when start debugging"
Version:1.30.1
OS:Arch Linux
Debug tools:GDB
Debug terminal can't pop up if I choose xfce4-terminal. If I choose other terminal like tilix, it will work.

[2019-01-06 14:32] egamma commented on #66101
Works for me as well. @pablovillauy can you try again? Did you work for you before?

[2019-01-06 14:34] egamma commented on #66100
@fendouliuyun please provide more detailed steps so that we can reproduce the issue. See also our issue reporting guidelines.

[2019-01-06 14:42] egamma commented on #66093
As you say it is a duplicate. please see https://github.com/Microsoft/vscode/issues/61824#issuecomment-451380300.
Also did you try the window.smoothScrollingWorkaround setting https://code.visualstudio.com/updates/v1_22#_windows-workaround-for-scroll-lag

[2019-01-06 14:42] #66093 closed

[2019-01-06 15:40] Mlocik97-issues opened #66113 "[terminal] Don't throw error, when you close the terminal through the "exit" command."
Issue Type: <b>Bug</b>

The terminal process terminated with exit code: 9009
t.onDidNotificationChange @ /C:/Users/[USER]/AppData/Local/Programs/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:2509

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|It

[2019-01-06 15:43] egamma commented on #66084
@OlafvdSpek we want to keep the bundled extensions to a minimum to keep the VS Code install small. What we do is to recommend the editor config extension as soon as we detect a .editorconfig file.

It appears that you have overlooked this recommendation?

[2019-01-06 16:31] vickylance commented on #66110
@egamma Ah sorry totally forgot I have attached the screenshot to the issue please refer

[2019-01-06 16:45] pedrogarcia opened #66114 "Cannot drag window when clicking empty space in titlebar near the help menu"
Issue Type: <b>Bug</b>

1. Click to drag window near the Help button, but outside of the mouseover highlighted area.
2. Window is not dragged.

See screen recording:
![](https://thumbs.gfycat.com/HarshImaginativeAlabamamapturtle-size_restricted.gif)

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17134

<details>
<s

[2019-01-06 16:57] FenixPromo opened #66116 "some strange thing with "window.menuBarVisibility": "hidden" and alt+shift on linux"
Some strange thing with "window.menuBarVisibility": "hidden" and alt+shift on linux

Steps:
1. press ALT = no effect
2. press ALT+SHIFT = toggle language + show menu
3. press ALT = no effect
4. press ALT+SHIFT = toggle language + hide menu

Why?

Screen:
![bug](https://user-images.githubusercontent.com/40690322/50739038-3115a680-11eb-11e9-9e93-a4eed236c30c.gif)

- code: 1.30.1
- OS: Linux Manjaro

[2019-01-06 17:01] aslatter commented on #59650
From digging around in the vscode sources and debugging, the problem with the TypeScript language-service is specific to it - it goes out of its way to prevent itself from working over a virtual file-system.

Any extension which does not support vfs likely needs its own fix, specific to that extension, so if the python support is provided by an extension you may want to file an issue to that exten

[2019-01-06 17:10] Rafi993 commented on #66092
can I load into the wokspace with only some extensions disabled depending on some command line args now ?

[2019-01-06 17:42] def14nt commented on #65373
@khacminh Can you acknowledge my previous post? Did it work for you?

[2019-01-06 17:55] saadat99 opened #66117 "Visual bug - Ticking image of menus appears in the code section"
I first saw this bug about a year ago and it never got fixed. I recorded it because it's hard to describe but basically, an image of menus appears in the code section.
I think it has something to do with Terminal because each time I open the terminal it disappears
https://youtu.be/YVFjxVCJWkA

- VSCode Version: Latest
- OS Version: Windows and Ubuntu

Steps to Reproduce: I don't know how it happen

[2019-01-06 18:03] FenixPromo commented on #66116
Wow.

"window.enableMenuBarMnemonics":false - Fixes this!

Sorry for duplicate! :)

[2019-01-06 18:03] #66116 closed

[2019-01-06 18:39] Cloudmersive commented on #5953
When is it coming?!

[2019-01-06 18:39] Cloudmersive commented on #5953
Notepad can print...

[2019-01-06 19:01] dlech commented on #7570
https://github.com/Microsoft/vscode/issues/52629#issuecomment-445791322 says in February.

[2019-01-06 19:30] pablovillauy commented on #66101
thanks for your responses.
it is not working either today. it is strange.
i am using chrome in windows 10.

[2019-01-06 19:46] egamma commented on #66101
I've not seen other reports that the link is not working (checked twitter and other issues).
Is it the first time you try to download from the web site?

[2019-01-06 20:16] pablovillauy commented on #66101
yes yes. first time.
but it's strange, it is just an azure site.
i will ask a friend to download and put it in a onedrive or something like that

thanks for your help

[2019-01-06 20:35] romange opened #66118 "intellisense stops working after just few minutes"
Issue Type: <b>Bug</b>

1. open a C++ project
2. start editing. It will show red marks of compilation errors here and there.
3. After just few minutes - any indication of intellisense and realtime compilation disappears.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:07:32.870Z)
OS version: Linux x64 4.15.0-42-generic

<details>
<summary>System Info</summary

[2019-01-06 20:41] itamark commented on #65743
Same here:
OSX Mojave 10.14
Code: Version 1.31.0-insider

[2019-01-06 21:14] #66118 closed

[2019-01-06 22:00] CodyWalraven commented on #34341
I would really like this feature as well, when using other extensions to show the color behind the text I would still like to be able to have the color picker available while leaving the default color decorator box hidden.

[2019-01-06 22:03] AndreKR opened #66119 "Go to Last Edit Location only works one time"
Issue Type: <b>Bug</b>

1. Open a number of files
2. Make an edit in one file
3. Make an edit in a second file
4. Go to a third file
5. Press <kbd>Ctrl</kbd>+<kbd>K</kbd> <kbd>Ctrl</kbd>+<kbd>Q</kbd>, the cursor will go to the second file
6. Press <kbd>Ctrl</kbd>+<kbd>K</kbd> <kbd>Ctrl</kbd>+<kbd>Q</kbd> **again**, nothing happens

I expected the cursor to go to the first file.

VS Code version: C

[2019-01-06 22:49] klimyuk opened #66120 "vscode debug this undefined"
- VSCode Version: Version 1.30.1 (1.30.1)
- OS Version: 10.14.1 (18B75)

Steps to Reproduce:

1. `nodemon --inspect=0.0.0.0 --nolazy -L --exec \"babel-node\" src/server/app.js`

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[code]

[code]

<a href="http://tinypic.com?ref=1ep4c3" target="_blank"><img src="http://i63.tinypic.com/1ep4c3.png" border="0" alt="Image and video host

[2019-01-07 00:03] GriffinAustin commented on #66101
@pablovillauy Can you try using another browser?

[2019-01-07 00:14] pablovillauy commented on #66101
same problem with edge

Hmmm...can’t reach this page                                 Try this                                                                                                           Make sure you’ve got the right web address:  https://vscode-update.azurewebsites.net                                     Search for "https://vscode-update.azurewebsites.net" on Bing

[2019-01-07 00:47] jiayisheji opened #66121 "How to cancel file locks, or open source settings blocking"
When I use `angular-cli` to have a function, it will delete the files in the dist file dynamically, and it will report an error `operation not permitted, unlink`
The reason is that the folder is locked
How to solve this problem, or can be configured

[2019-01-07 01:33] jabacchetta opened #66122 "Auto import (and import fix) for React components"
There are a few issues with importing React components:

**1. Export not detected**

Whether or not it's detected appears to be a random occurrence from what I can tell. If this happens, opening the file first will fix the issue.

![one](https://user-images.githubusercontent.com/12591890/50744458-f3b01980-11e8-11e9-940b-2cc6af0906a7.gif)

**2. Can't auto-import a nested component**

It does not ap

[2019-01-07 02:16] GriffinAustin commented on #66101
@pablovillauy Can you try another machine on the same network and try your original machine on a different network?

[2019-01-07 02:38] gaogaolater opened #66124 "can not find function reference ,and always show loading animation forever"
Issue Type: <b>Bug</b>

can not find function reference ,and  always show loading animation forever

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:05:00.654Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz (4 x 2700)|
|GPU Status|2d_canvas: enabled<br>checker_imag

[2019-01-07 02:44] jcklpe commented on #13138
Just a follow up note on my earlier comment.

While I got vscode installed in WSL and running graphically with vcxsrv it's kind of a hassle to have to launch vcxsrv everytime I want to use vscode to open a file from WSL bash cli. I found a solution which was to create the following alias:

`alias vscode="/mnt/c/'Program Files'/'Microsoft VS Code'/Code.exe"`

using vscode keeps it from interfering

[2019-01-07 02:49] pablovillauy commented on #66101
thanks Griffin!
I did it from another laptop in the same network and it works.
I am curious about the issue in my laptop...

[2019-01-07 02:49] #66101 closed

[2019-01-07 03:33] leejinseok opened #66125 "Unicode and emojis is terminal are sometimes the wrong width"
Version: 1.30.1 (user setup)
Commit: dea8705087adb1b5e5ae1d9123278e178656186a
Date: 2018-12-18T18:12:07.165Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Windows_NT x64 10.0.15063

Steps to Reproduce:
1.
2.

Does this issue occur when all extensions are disabled?: Yes

![image](https://user-images.githubusercontent.com/7136340/50747655-674d3780-1278-11e9-854e-b51c2fc191

[2019-01-07 05:18] twig commented on #65900
that worked well, thanks for the tip!

[2019-01-07 05:19] #65900 closed

[2019-01-07 05:36] devwenfang opened #66126 "Emmet toggle comment not working correctly for jsx"
- VSCode Version: 1.30.1
- OS Version: win10 v1803

This issue occurs for both js & jsx extension files

Steps to Reproduce:
![vscbug](https://user-images.githubusercontent.com/28700378/50750725-41786080-1281-11e9-9efa-93bf8ee1ab4c.gif)

Does this issue occur when all extensions are disabled?: Yes

[2019-01-07 05:49] roblourens commented on #66103
The extra space is available so that the find widget doesn't overlap results in the editor. But the extra space shouldn't appear immediately when you press ctrl+f, it should only open if you navigate through results, or scroll to it. Does this match what you see?

[2019-01-07 05:49] roblourens commented on #65793
Yeah please share a repo, thanks.

[2019-01-07 05:52] usernamehw commented on #66103
Probably a duplicate of #28390

[2019-01-07 06:11] bpasero commented on #65665
@faradoxuz so it does reproduce both with native and custom title style?

[2019-01-07 06:13] bpasero commented on #65663
Adding @jrieken to this thread who added the API for doing something pre-save.

Yes, probably a good idea at some point.

[2019-01-07 06:15] abrahamdev22 commented on #66041
any updates for this visual code issue?

[2019-01-07 06:18] ramya-rao-a opened #66157 "Debugging errors in the console aren't refreshed when debugging the second time"
From
https://github.com/Microsoft/vscode-go/issues/2118#issuecomment-451383018 by @mvrhov

The test would be create a simple file with 2 errors, try to run it with F5... correct one error, pres F5 to run.. old error message remains in debug console. VScode restart is required to see the next error message

From
https://github.com/Microsoft/vscode-go/issues/2118#issuecomment-451832599 by @ramya-rao

[2019-01-07 06:25] notseenee opened #66127 "Long branch name disappears on small window sizes"
- VSCode Version: 1.30.1
- OS Version: macOS Mojave

Steps to Reproduce:
1. Create a git repo with a long branch name
2. Make the window smaller

Screenshot:
![image](https://user-images.githubusercontent.com/27017118/50752151-1b62b880-12a1-11e9-8887-0f4f2dc54213.png)
![image](https://user-images.githubusercontent.com/27017118/50752154-20276c80-12a1-11e9-9430-4d22dd7a613d.png)

Does this issue occ

[2019-01-07 06:54] bpasero commented on #66119
/duplicate https://github.com/Microsoft/vscode/issues/42880

[2019-01-07 06:54] #66119 closed

[2019-01-07 06:58] wmertens commented on #18818
Hmm indeed this is a duplicate of #9798. Maybe just retaining initial case is a simpler feature but I'll close this anyway.

[2019-01-07 06:58] #18818 closed

[2019-01-07 07:07] rozzzly commented on #50445
I'd like to add to @adityawibisana's comment:

This makes the assumption that your `package.json` contains something like:
[code]
What's key is that your launch a node process with the `--inspect`/`--inspect-brk` set.

[2019-01-07 07:13] adityawibisana commented on #50445
@rozzzly : No, my package.json:

[code]

[2019-01-07 07:31] prosenjit-itobuz opened #66129 "Search input command + a not working"
Issue Type: <b>Bug</b>

At the search input command + a shortcut key not working. If any keword field unable to clear easyly. Needed to hold the backspace!

I was clearing this field this way. command + a shotcut key select search field. And hit the backspace.

VS Code version: Code - Insiders 1.31.0-insider (28e7467661d67c05c3662ff900ee1984f7e2fbcc, 2019-01-07T06:12:49.904Z)
OS version: Darwin x6

[2019-01-07 07:34] AnsonYeung commented on #65636
This also happens with css code.

[2019-01-07 07:36] prosenjit-itobuz commented on #66129
Duplicate #65743

[2019-01-07 07:36] #66129 closed

[2019-01-07 07:39] Sneezry commented on #63270
@aeschli I have verified your solution works for me. I add configuration below in my package.json:

[code]

An interesting thing I found is configuration below does NOT work for me:

[code]

Anyway, I really appreciate your help!

[2019-01-07 07:43] alexandrudima commented on #64893
@OlafvdSpek I am not 100% sure. We are calling `String.localeCompare` which is documented [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/localeCompare). I am not sure how this is implemented in Electron's context.

[2019-01-07 07:46] alexandrudima commented on #65244
@McSneaky Let's continue tracking in #23690

It might be some weird coincidence.. But I am 100% certain that [we don't detect keyboard layout changes on Linux](https://github.com/Microsoft/node-native-keymap/blob/37c21529b2684d01c7a7527dbbde5382de9c698d/src/keyboard_x.cc#L235-L237).

[2019-01-07 07:46] #65244 closed

[2019-01-07 07:48] jamesray1 opened #66130 "Freezes with a triple-split terminal frequently when entering a commit message"
My computer has been known to freeze but for the past few months after adjusting the swappiness etc. it hasn't been too bad.

However, when I try to have a triple-split integrated terminal (one to check git diff HEAD, another for git add ., and another for git commit—separating them for convenience by accessing the previous command by pressing the up button), often, when I am editing the commit me

[2019-01-07 07:53] alexandrudima commented on #65576
@cyantedyu

Here is how you can bind <kbd>Ctrl</kbd>+<kbd>F</kbd> to executing `cursorLeft`, which is the default binding for <kbd>ArrowLeft</kbd>. You can edit all keybindings in your `keybindings.json`.

[code]

Please read our extensive documentation at https://code.visualstudio.com/docs/getstarted/keybindings

[2019-01-07 07:53] #65576 closed

[2019-01-07 08:05] windyGex opened #66131 "WebView should support to disable DNS Cache"
- VSCode Version: 1.30.1
- OS Version:
![image](https://user-images.githubusercontent.com/197348/50755563-5d393200-1294-11e9-967d-2aa885ea37c2.png)

Steps to Reproduce:

1. Start a local static server for files, it has a.js
2. Modify test.com to 127.0.0.1
3. Open a webview contains the following code
[code]
4. Now you can get expected result, but if you remove the host, when you open the webview n

[2019-01-07 08:06] #62905 closed

[2019-01-07 08:11] Jay-Schneider commented on #56112
I found this issue on my search for how to split the integrated terminal vertically when it is at the bottom. I was surprised to see that this still seems to be impossible and also would be interested in having this feature.

Just for all others finding this while looking for a solution: I now workaround it by starting tmux in my rightmost terminal to achieve a setup as @aneilbaboo describes it.

[2019-01-07 08:19] mydmdm opened #66132 "autoclosing markdown preview when closing md file"
Issue Type: <b>Feature Request</b>

When editing markdown file, it is quite convenient to have the preview in a aplit view. However, when I switch to another opened file (or closing the md file), the preview of markdown and the split is still there. This is annoying because I can only use half of the window for the new file.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a,

[2019-01-07 08:22] RobertoSnap commented on #37947
Is this still only possible with submodules? @rhymu8354

In that case
+1 for nested git repo support

[2019-01-07 08:30] barakimam commented on #65385
I have quite a lot, here is a link to the list
https://gist.github.com/codeprefect/723e92a5cda1b0ad7130b14c4290b198#file-extensions-json

[2019-01-07 08:37] getcodetony opened #66133 "My extension cannot work"
Issue Type: <b>Bug</b>

I install extension on vs code and the extension is able to load but unable to work. Basically, i can't use all the extension on vs code. please help.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2019-01-07 08:41] dbaeumer commented on #65593
@jrieken is it expected that all symbols disappear in the case if one symbol information has an empty string? If yes, then I can add some code on the LSP client side to filter them.

[2019-01-07 08:46] isidorn commented on #65938
@octref I think not. But I leave that up to @dbaeumer and @alexr00

[2019-01-07 08:53] joaomoreno commented on #66029
There isn't any way of knowing since it is an installation-time feature. Can I ask: what is the goal you are trying to achieve?

[2019-01-07 08:55] aeschli commented on #63270
Oh, right, that's expected, we only support * in the pattern.

Thanks for trying this out. I'm closing the issue then.

[2019-01-07 08:55] #63270 closed

[2019-01-07 09:03] djmisterjon opened #66134 "text input search reference [suggest]"
Hi it possible to see in future a **text input box** for custom key search reference ?
thanks

![image](https://user-images.githubusercontent.com/24865815/50758755-16662080-1231-11e9-9d29-7f3f20de4a07.png)

[2019-01-07 09:04] smbkr commented on #66133
Did you follow all the steps in the readme for this extension?

[2019-01-07 09:06] jrieken commented on #65593
Well, an empty name isn't expected. Let's say it that way ;-). I have another issue (which is about JSON) that is struggles with empty names. I will push a change so make sure that we drop those symbols

[2019-01-07 09:08] weinand commented on #38327
this feature has become available via #64362.

[2019-01-07 09:08] #38327 closed

[2019-01-07 09:10] aeschli commented on #66098
This is about the selection color in the settings editor find box. It seems to take the selection color from `selection.background` but does something to it.

[2019-01-07 09:11] #65668 closed

[2019-01-07 09:12] jrieken commented on #66005
Yes, unlike `_` and others is `$` not a listed a separator character and therefore it scores like a normal/weak characters.

@Tyriar Nothing has changed in how we score. The `_addons` suggestion has a lower score because the first character didn't match, in contrast to `addOscHandler` - here also an upper-case character is hit which gives even more bonus points. The ordering can be configured via

[2019-01-07 09:14] jrieken commented on #66030
Yes, @sandy081 added this via https://github.com/Microsoft/vscode/issues/23251

[2019-01-07 09:17] alexandrudima commented on #65677
fyi @joaomoreno @jrieken

[2019-01-07 09:18] sandy081 commented on #65956
Ok, I see the issue. It is because, I am rendering the diagnostic message as markdown and I am escaping the string only for html content. Strangely markdown renderer is not rendering markdown tags always but only some times. For example

[code]

Markdown tag (tick) is not considered in above case where as it is in following

[code]

[2019-01-07 09:19] alexandrudima commented on #65165
We have lost the patch that "fixes" the Chromium key swap on ISO keyboards once we moved to Electron 3.0

[2019-01-07 09:22] isidorn commented on #65930
Duplicate of some of these https://github.com/Microsoft/vscode/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+debug+console+ansi+

[2019-01-07 09:22] #65930 closed

[2019-01-07 09:22] isidorn commented on #66111
Fixed in latest. Dup of https://github.com/Microsoft/vscode/issues/65948
Thanks for reporting and for using insiders

[2019-01-07 09:22] #66111 closed

[2019-01-07 09:31] alexr00 commented on #63874
@dbaeumer, do you know if modifying an npm task to have a `dependsOn` is supposed to work?

[2019-01-07 09:34] aeschli opened #66135 "set scope for TS -> Inject Service"
Can we set the scope for the TS -InjectService / Event snippets to TypeScript ?

They show up when editing JSON...
![image](https://user-images.githubusercontent.com/6461412/50760317-b343b080-1267-11e9-84d8-a215430612af.png)

https://github.com/Microsoft/vscode/blob/ac39335c816fe2f665e947138dd74b5a5b3147d1/.vscode/shared.code-snippets#L25

[2019-01-07 09:39] isidorn commented on #66000
We will not respect the windows options because this is not exposed by Electron.
However we could expose a vscode setting for changing the scroll bar behavior. Currently the editor supports changing this internally, however we would need an external setting.

Thus leaving this open as a feature request to see if more users request it.

fyi @alexandrudima @bpasero

[2019-01-07 09:40] alexr00 commented on #49712
In your user settings, what are `terminal.integrated.shellArgs.windows` and `terminal.integrated.shell.windows`?

Do you have the PowerShell extension enabled in VS Code? Does this reproduce if you disable the extension?

[2019-01-07 09:40] joaomoreno commented on #64658
I also have VirtualBox on my machine, maybe we can figure out a way to repro this? Any chance you can send me a copy of your VM?

[2019-01-07 09:44] jrieken commented on #66135
True - funny that no one had seen this before...

[2019-01-07 09:44] joaomoreno commented on #66027
After step 9, since you staged all changes, there should only be a (1) in the SCM count badge, although I see a (2) in your screenshot. What does the SCM viewlet display?

[2019-01-07 09:45] alexandrudima commented on #58167
I've adopted the event in the editor too.

[2019-01-07 09:45] #58167 closed

[2019-01-07 09:45] #66135 closed

[2019-01-07 09:49] joaomoreno commented on #66052
Unfortunately, this is not possible via API right now. Depends on https://github.com/Microsoft/vscode/issues/21131

[2019-01-07 09:49] #66052 closed

[2019-01-07 09:50] thany commented on #63654
No it can't be. Please reopen.
Intelligence flickers on and off while typing. How is that expected? If this is really meant to be, please reopen still, because it's undesirable. It also only happens in JSON and (so far) not in any other languages, so that all on its own makes it a bug.

[2019-01-07 09:51] alexandrudima commented on #65294
@johananl @seesemichaelj Can you reproduce this also when opening a page with Chromium e.g. https://microsoft.github.io/monaco-editor/

I believe this is an upstream bug in Chromium with high DPI monitors. Most likely they have some confusion and compare CSS pixels with screen pixels or something like that...

[2019-01-07 09:53] linvi opened #66136 "Vscode very slow when debugging javascript (macOS)"
- VSCode Version: 1.30.1
- OS Version: MacOS Sierra 10.12.6

This problem started to appear in November update.

Steps to Reproduce:

1. Start debugging a node process
2. Perform any operation on one of the file open in vscode (scrolling, navigating)
3. The UI becomes totally unresponsive. Any operation takes 5/10/20 seconds. The opened `window` process takes all the CPU as shown on screenshot bel

[2019-01-07 09:53] joaomoreno commented on #66065
Please change the following setting: `"update.enableWindowsBackgroundUpdates": false`. This will avoid using `inno_updater.exe` at all.

[2019-01-07 09:53] #66065 closed

[2019-01-07 09:56] evollhhan opened #66137 "Support jscheck with jsdoc"
I have create a jsconfig.json file in my project and turn jscheck on.

Here is my code

index.d.ts
[code]

index.js
[code]

[2019-01-07 09:56] dbaeumer commented on #62623
Lets see if we find something out in January.

[2019-01-07 09:59] OlafvdSpek commented on #66084
Or the detection / recommendation is broken..
Just now I opened a CMakeLists.txt file. The same directory contains .editorconfig but I see no recommendation.

[2019-01-07 10:01] cyantedyu commented on #65576
Thanks for your reply, This is not the issue,
actually there's also keybinding for ctrl+f in my keybinding json,
but i can't use ctrl+f in quick open,
so i want sth to globally translate a key to another key,
so that i can use ctrl+f, then automatically translated to the arrow key,

[2019-01-07 10:02] weinand commented on #66136
How does your debug configuration (launch.json) look like?

[2019-01-07 10:03] joaomoreno commented on #65942
@SE2017-Hugh Please change the setting `"update.enableWindowsBackgroundUpdates": false` to disable background updates. You'll still have updates, just not running in the background.

[2019-01-07 10:03] #65942 closed

[2019-01-07 10:03] dbaeumer commented on #65766
I can't since I am not a member of that GitHub repository. Assigning to @danyeh

[2019-01-07 10:06] alexr00 commented on #65976
This issue was moved to atom/language-sass#265

[2019-01-07 10:08] joaomoreno commented on #66108
You should use `vscode-linux-arm64-build-deb` instead. Give it a try!

[2019-01-07 10:09] #66108 closed

[2019-01-07 10:12] joaomoreno commented on #66029
You shouldn't need to know about user/system at all. What you need are the paths to two directories: `user-data-dir` and `extensions-dir`.

@jrieken What do you think about exposing them via API?

@sandy081 Any objections?

[2019-01-07 10:15] sandy081 commented on #65956
### Analysis

In order to have nice hover for a diagnostic, I was generating the html and sending it using markdown string. While doing this, I am escaping the message, but the markdown tags are not escaped and they are getting rendered.

### Fix

Quick and safe fix is to revert the above change.

The proper fix would be is to move diagnostic hover rendering as an editor contribution. Otherwise, i

[2019-01-07 10:18] DanTup commented on #65993
@isidorn Here's a simple repro:

https://github.com/DanTup/vscode-repro-65993

It's the mock debug essentially just with the breakpointsRequest replaced with similar code to above: https://github.com/DanTup/vscode-repro-65993/commit/6cb6355af8a4ba5a6ae4073aea6ccad2af1c137a

To repro the issue, open a folder with a `.md` file and add breakpoints to lots of lines, then press F5 to run. Once the mock

[2019-01-07 10:32] dbaeumer commented on #63874
@alexr00 I think it works and we should support it.

[2019-01-07 10:37] joaomoreno commented on #63194
@flexiondotorg Any thoughts on this one? I can't actually get the Code-Insiders snap working with any other font than the ugly Courier New. :thinking:

[2019-01-07 10:37] isidorn commented on #65930
Becuase I believe it is a duplicate

[2019-01-07 10:38] bpasero commented on #65082
@alexrussell can you please report back with todays insider update if it still reproduces?

[2019-01-07 10:38] bpasero commented on #65165
@bengry can you try to reproduce with todays insider build?

[2019-01-07 10:39] bpasero commented on #65165
Closing as duplicate of https://github.com/Microsoft/vscode/issues/65082

[2019-01-07 10:39] #65165 closed

[2019-01-07 10:40] joaomoreno commented on #65981
Yup can repro now!

[2019-01-07 10:42] bpasero commented on #66096
Yup, you can resolve this by exporting a GITHUB_TOKEN variable with an access token from your account.

[2019-01-07 10:42] #66096 closed

[2019-01-07 10:46] alexandrudima opened #66140 "Cannot use Shift+Alt+F to format TS file"
Steps:
* open a TS file
* press Shift-Alt-F
* this ends up focusing the search input in the search viewlet

---

Looks like there is a new keybinding that we are shipping with which ends up blocking the keybinding for formatting:

![image](https://user-images.githubusercontent.com/5047891/50763995-b5127180-1271-11e9-939e-5b4df13ebbdc.png)

Looks like it came in via https://github.com/Microsoft/vsc

[2019-01-07 10:46] DanTup commented on #64193
@isidorn I'm a little confused trying to add a breakpoint there, as the debugService file seems completely different (only a few hundred lines) for me:

![screenshot 2019-01-07 at 10 44 00 am](https://user-images.githubusercontent.com/1078012/50763965-3fa2a300-1269-11e9-9e42-be479d55ea22.png)

However if it helps, I made a repro from the mock debug here:

https://github.com/DanTup/vscode-repro-641

[2019-01-07 10:47] jimmybrawn commented on #16488
lets start 2019 with this feature ye? 🤣

[2019-01-07 10:49] steinmetzdenver commented on #66041
The only response I got was to refer me to a long list of other users with
the same problem but offered no real help.
I tried the VSC beta "insider" version on their website and that works fine
offline.  Obviously something is wrong with the official update.
Seems like a lot of people are spending a lot of time and effort on this,
thinking the problem is with their system instead.

Le lun. 7 janv.

[2019-01-07 11:00] 3ToThe6 commented on #66027
<img width="774" alt="a" src="https://user-images.githubusercontent.com/32224706/50764463-9d58de80-12ad-11e9-9add-646abb659855.PNG">
<img width="774" alt="b" src="https://user-images.githubusercontent.com/32224706/50764465-a2b62900-12ad-11e9-8f6a-4f4c8ff85329.PNG">
I did `git diff` and `git diff --cached` in terminal, and got:
<img width="914" alt="c" src="https://user-images.githubusercontent.com

[2019-01-07 11:04] egamma commented on #66121
@jiayisheji this could be caused by an extension. Can you reproduce the problem when you have all extensions disabled, by starting code using `code --disable-extensions`.

If you can no longer reproduce it then you have to find out which extension is causing the lock.

[2019-01-07 11:05] muxhub commented on #66108
Thank you! I build the deb success, and I can install it ,but I cannot find vscode in my panel!

[2019-01-07 11:09] shanalikhan commented on #66029
Similar issue opened that also focused on Settings Sync years ago.

https://github.com/Microsoft/vscode/issues/2741

This issue needs to be solved on priority because whenever User Based Installation becomes default way of installing Code, Settings Sync wont work.

[2019-01-07 11:14] Braintelligence commented on #793
First functionality that I can't reproduce in VSCode which I had in Atom and its on the backlog for over 3 years?

[2019-01-07 11:16] alexandrudima commented on #65645
@Daijobou I see that something is weird in the gif, but I don't understand the exact steps you are doing. Can you please write down each step as precisely as possible.

Alternatively, you can run `F1 > Developer: Enable screencast mode` (will make VS Code render the keys that you are pressing). Here I am trying to reproduce but without success:
![kapture 2019-01-07 at 12 16 07](https://user-images

[2019-01-07 11:17] alexrussell commented on #65082
All fixed on 28e7467661d67c05c3662ff900ee1984f7e2fbcc.

[2019-01-07 11:17] #65082 closed

[2019-01-07 11:23] alexandrudima commented on #62810
@mergesort I think you might have something installed on your machine that is causing this weirdness (outside of VSCode). Can you please try with a guest account perhaps (which would not start up all the software you typically run)... ?

[2019-01-07 11:23] alexandrudima commented on #65437
Let's track in #65456

[2019-01-07 11:23] #65437 closed

[2019-01-07 11:24] Ky6uk commented on #54586
@mjbvz the original issue a little bit different. Problem is a different completion with multiselect. Look at gif file. I selected two similar parts then I selected suggested thing but first selection do replace entire line when second selection only part of.

![issue](https://user-images.githubusercontent.com/46930/42891446-106dad16-8ab8-11e8-9af2-3d083f1db30a.gif)

[2019-01-07 11:31] astier opened #66141 "Show 'clear search' in settings-UI even when matched settings are found"
## Problem
Currently when one types a term in the search-bar of the settings-UI and no matching settings are found then a *Clear Search* option appears which deletes the term in the search-bar if clicked. However, this option does not appear when matching settings are found. If one wants now to remove the term from the search-bar one has to manually select the typed term and press the delete-butto

[2019-01-07 11:34] alexandrudima commented on #65174
Due to how the native menu dispatches keybindings, there are still differences between Windows and macOS when focus is in the hover:
 - on macOS, pressing cmd+A does nothing (because it ends up executing `editor.action.selectAll` due to the dynamic menu items)
 - on Windows, pressing ctrl+A selects all (i.e. the default browser select all, including the search input, etc.)

Let's keep this issue a

[2019-01-07 11:39] Daijobou commented on #65645
I can't find "screencast" mode in german gui. Is here a key shortcut? Here my steps for windows 10, I can everytime reproduce this:

step1. Insert this code:
[code]
step2. Go after "{" and press return. It should create a new line with tabulator
step3. Go with mouse to beginning of line 6 (thats now the second "text text text"-line)
step4. Selected this line with SHIFT+CURSOR DOWN
step5. Press SHI

[2019-01-07 11:42] DanTup commented on #34026
FWIW, while setting up a repro using the mock debugger today, I noticed that OutputEvents can be given source locations (it didn't show in the completion until I cast it like `new OutputEvent(`${message}\n`, category) as OutputEvent & DebugProtocol.OutputEvent`.

So, I realised I could regex my paths out of the call stacks and just attach them to each line this way.

Before (no links):

![screensh

[2019-01-07 11:50] alexandrudima commented on #65876
@samueltlg I still believe this is an issue with the `VSCodeVim` extension. Here is the experiment I have conducted.

### Create a minimal extension:
* `package.json`:
[code]
* `index.js`:
[code]

---

The above extension makes it that typing in any editor will end up **always going through the extension** and only then going to the default typing. This feels snappy and good for me:

![kapture 201

[2019-01-07 11:51] #53857 closed

[2019-01-07 12:04] Dzenly opened #66142 "JSDoc does not generate parameters description when function is assigned to object property not in object initialization."
For this code:
[code]
Automatic JSDoc creation by `/** [Enter]` does not create parameters description and creates just
[code]
For these cases, JSDoc works correctly:

[code]

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:07:32.870Z)
OS version: Linux x64 4.18.0-13-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2019-01-07 12:09] zmicx commented on #65945
@egamma
![image](https://user-images.githubusercontent.com/26269444/50767448-dac26980-12b7-11e9-8415-767bdc7ea337.png)
this is code status
![image](https://user-images.githubusercontent.com/26269444/50767475-ee6dd000-12b7-11e9-86f5-edff5670bd08.png)
this is my search view

[2019-01-07 12:12] mattelacchiato commented on #28795
This didn't helped on my machine.

[2019-01-07 12:15] the-ress commented on #53764
Replacing `code.cmd` with a `code.exe` (with the functionality of `code.cmd`) could solve both this issue and #43237.

[2019-01-07 12:40] designbyadrian commented on #59072
Selection highlighting in every open editor is a must-needed feature

[2019-01-07 12:55] CodeMyst opened #66143 "API - Event that fires when a file is opened"
The already existing event `onDidChangeActiveTextEditor` doesn't fire when a file that's not a text file is opened (for example an image).

It would be good if there was an event that would fire when any type of file is opened.

[2019-01-07 13:18] marcosmesser commented on #62623
@dbaeumer Sorry, I don't have a Windows / pt-br environment anymore, and won't be able to test it. But, regarding your last question; I do believe there was a locale.json set to English, as I had been using that installation for a few months (always in English), with several extensions (all in English; although, I don't how many had localization).

[2019-01-07 13:28] czfadmin opened #66144 "When typing, sometimes the cursor position will fall back by one character position."
Issue Type: <b>Bug</b>

This problem is similar to #747, but my problem is that the intentional or unintentional cursor automatically returns to the position of the previous character and cannot be correctly positioned.

![error](https://user-images.githubusercontent.com/13393959/50770681-19a9ec80-12c3-11e9-9b54-c308e109eee5.gif)

VS Code version: Code - Insiders 1.31.0-insider (28e7467661d67c05c3

[2019-01-07 13:42] Dzenly opened #66145 "Javascript, Nodejs: Go to definition for required file does not work if required file does not contain exports."
a.js
[code]

b.js
[code]

c.js
[code]

VSCode 1.30.1.
Linux 4.18 x64..

Yes.

[2019-01-07 13:50] dengdairiluo opened #66146 "use VS code as git text editor can‘t rebase -i"
Issue Type: <b>Bug</b>

 When I use  git rebase -i HEAD~5 VS code show nothing. when I change to vim git shows what I need.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:05:00.654Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz (8 x 2700)|
|GPU Status|2d_canvas

[2019-01-07 13:51] ammarfahad opened #66147 "The vs code is not runing without the internet"
Issue Type: <b>Performance Issue</b>

After updating the Windows 10 to version 1809, VS-Code is not runing without the internet. Many of the users is facing this problem, please fix this as soon as possible. Looking forward to the reply.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>Syste

[2019-01-07 13:52] jrieken commented on #66143
/duplicate of #15178

[2019-01-07 13:52] #66143 closed

[2019-01-07 13:53] Braintelligence opened #66148 "Autocompletion / Intellisense in HTML for href anchor links doesn't work"
- VSCode Version: Version: 1.30.1 (user setup)
Commit: dea8705087adb1b5e5ae1d9123278e178656186a
Date: 2018-12-18T18:12:07.165Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
- OS Version: Windows_NT x64 10.0.17134

Steps to Reproduce:

1. Create html file and some elements with their own id like so: `<div id="TEXTHERE">`
2. Create an `<a>` tag with href like this: `<a href="#

[2019-01-07 14:04] SetTrend commented on #66000
Thanks, isidorn. Your efforts are highly appreciated. 👍

[2019-01-07 14:08] natanfudge commented on #66019
Thanks for the response jrieken.
When typing `l`, I would have expected it to complete `log` because _`exception` has already been filtered out._  On the other hand, when I type `e` It's pretty obvious I want to type `exception` again, since `exception` starts with `e`. Although when I type `er`, exception should absolutely not be an option, and `error` should again be the dominant suggestion.

An

[2019-01-07 14:09] alexandrudima commented on #65876
@samueltlg I also wondered what is the overhead of going through the extension host for typing, so I applied the following diff to vscode to measure it:

[code]

Please note that the rendering occurs at the next animation frame, so it is delayed until Electron things it would be a good idea to paint, i.e. the times below do not indicate the time it takes to interpret the typing, but indicate the e

[2019-01-07 14:14] egamma commented on #66144
@czfadmin can you reproduce the issue when you have all extensions disabled ([issue reporting guidelines](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions))?

[2019-01-07 14:17] alexandrudima commented on #65583
@vasiliyaltunin This sounds like a CentOS specific issue/question. Perhaps you can ask this question on StackOverflow or perhaps you are able to search for it online.

[2019-01-07 14:17] #65583 closed

[2019-01-07 14:18] czfadmin commented on #66144
@eamodio ,sorry, this problem does not occur when I disable all extensions, so it should be caused by a plugin that has been installed.

[2019-01-07 14:20] bpasero commented on #65959
@joaomoreno I believe this could be some bug in your IPC library where the same call gets executed simply twice because reloading the window from an unresponsive window is a bit special (e.g. we cannot run the dispose handlers in the renderer).

**To reproduce:**
* change an action (really any you can invoke via command palette) to "`process.crash()`"
* run out of sources and invoke the action
* w

[2019-01-07 14:20] egamma commented on #66144
@czfadmin then you should try to selectively disable an extension in the Extensions Viewlet to identify the extension and then please file an issue against this extension.

[2019-01-07 14:21] #66144 closed

[2019-01-07 14:31] Foxhoundn opened #66149 "Type annotations are incorrectly labelled as variables in TM scopes"
- VSCode Version:  1.30.1
- OS Version: 10.14

Steps to Reproduce:

1. Create a theme and assign color to `variable.other.readwrite`
2. Create a function with enough parameters for the function to be broken to multiple lines

![screenshot 2019-01-07 at 15 21 54](https://user-images.githubusercontent.com/8861481/50773238-9b345700-1290-11e9-9fb4-c6ed0eb6ad8c.png)

It works fine if at least **one** o

[2019-01-07 14:33] alexandrudima commented on #65996
@jabacchetta We could perhaps add yet another setting to disable semantic hovers and have hovers only show error messages.

But please note that error messages are presented in multiple places (perhaps 1 or 3 could be a workaround to what you ask for):

1. in the problems panel (quickly toggle via cmd+shift+M on macOS):
![image](https://user-images.githubusercontent.com/5047891/50773468-33cad700-1

[2019-01-07 14:38] Dzenly opened #66150 "Context menu 'Find all references' on files from file explorer."
There was an issue, but its status is unclear.

https://github.com/Microsoft/vscode/issues/6625
I am surprised why there are so little likes %)

Cases:
* Node.js/JavaScript - all places where the current file is required by `require`.
BTW: if I use "Find all references" on `require('./some-file.js') - VS Code does show me them. So the ability itself is already supported but there is no interface i

[2019-01-07 14:39] alexandrudima commented on #65887
@rogeramitchell I can see in the screen recording that in some cases you cannot type but unfortunately I cannot reproduce using a clean installation of VS Code with the steps you have provided.

![kapture 2019-01-07 at 15 38 10](https://user-images.githubusercontent.com/5047891/50773866-4abdf900-1292-11e9-8fcb-396b7c0b3779.gif)

Does this reproduce for you when disabling all extensions?

[2019-01-07 14:40] bpasero commented on #66146
@dengdairiluo does `git config -e --global` open it in VSCode?

[2019-01-07 14:40] usernamehw commented on #66134
Duplicate of #50062 ?

[2019-01-07 14:40] zersiax commented on #65219
Awesome to see this, can't wait to see this in action :)

[2019-01-07 14:43] alexandrudima commented on #65995
The action uses [`IConfigurationService.updateValue`](https://github.com/Microsoft/vscode/blob/7a835ad2642760345b02d4c8c7b899559926f4c8/src/vs/workbench/parts/codeEditor/electron-browser/toggleMinimap.ts#L26:L30) in a very straight forward way... Otherwise, perhaps editing works and we are not receiving file change events for the `settings.json`...

@sandy081 Giving to you to investigate, since th

[2019-01-07 14:43] joaomoreno commented on #65981
I've fixed the issue and removed the `if`, so closing this.

I can still reproduce the issue in which the measurements are wrong, but I can't find anything wrong on my side. I'm very much convinced that it happens because of the 3 points in the previous comment, especially (2).

![screenshot cpma1u](https://user-images.githubusercontent.com/22350/50773601-8efcc980-1291-11e9-81f2-fe44ef7ae021.png)

[2019-01-07 14:43] alexr00 commented on #65951
This issue was moved to dotnet/csharp-tmLanguage#146

[2019-01-07 14:43] #65951 closed

[2019-01-07 14:44] joaomoreno opened #66151 "Implement proper JS layout for settings editor"
From https://github.com/Microsoft/vscode/issues/65981

I've found a couple of problematic things with how the DOM is laid out in the settings editor, which I suggest to fix asap:

1. The `settings-toc-container` and `settings-tree-container` elements, both children of `settings-body` seem to take both full height and width of its parent. We should use a layout scheme there and have them side-by-si

[2019-01-07 14:44] #65981 closed

[2019-01-07 14:45] joaomoreno commented on #66151
My intuition tells me that the issue in which the list gets incorrect results from height measurements in the settings editor will also be fixed with this issue:

![screenshot cpma1u](https://user-images.githubusercontent.com/22350/50773601-8efcc980-1291-11e9-81f2-fe44ef7ae021.png)

[2019-01-07 14:49] alexandrudima commented on #65969
@gwk I have tried for a couple of minutes, but I cannot reproduce. Redo and Undo work consistently well for me. Do you have any user settings that might impact things?

There are some settings which lead to edits being created on save, e.g. `files.trimTrailingWhitespace` and others, but even those would just mess with the "redo" stack and never with the "undo" stack.

Please let me know if you fin

[2019-01-07 14:54] jamesgeorge007 commented on #66151
@joaomoreno I would like to work on this 👍
I'm not that comfortable with the `vscode` codebase. It would be great if you could guide me on resolving this issue.

[2019-01-07 14:56] jamesgeorge007 commented on #63874
@alexr00 I would like to give it a shot. What is to be done further?

[2019-01-07 14:57] alexandrudima commented on #65910
@bpasero The presented error message appears to come from here -- https://github.com/Microsoft/vscode/blame/master/src/vs/workbench/browser/parts/editor/editorGroupView.ts#L827:L831

I believe you own that area, the editor code is simply invoking `IOpenerService.open` and I believe that one ends up calling `ICodeEditorService.openCodeEditor` which finally calls `IEditorService.openEditor`, which i

[2019-01-07 14:58] peni4142 opened #66152 "Continous Integration Test with Azure DevOps"
## The Problem: 'node node_modules/vscode/bin/test'

Local does it work.

With an own agent I get the following output:

[code]

Hosted agent (Pool:Hosted VS2017·Agent: Hosted Agent):

[code]

All tests pass.

[code]

I hope I have just omitted unnecessary information. The project itself is bigger, so it would be harder to get more specific to the test and the extension itself. The error messages,

[2019-01-07 14:58] isidorn commented on #65219
@zersiax glad to hear!
@cleidigh might you be interested in working on this? Just checking...
I plan to implement it otherwise.

[2019-01-07 15:00] usernamehw commented on #2741
[code]

Is there anything terribly wrong with this way of getting `User` dir?

[code]

[2019-01-07 15:01] alexr00 commented on #43664
I see, thank you.

[2019-01-07 15:02] jsilvagni opened #66153 "Editor does not work"
After the last update i cannot edit an existing file or i cannot type in a new file. I cannot type in the search bar. I can only switch the opened files.

[2019-01-07 15:04] jrieken commented on #66019
Ok, that's kind of what it does today "Select recent suggestions unless further typing selects one". The thing is that `e` and `error` or `e` and `exception` score equally well and that then the original order (alphabetical) is used to make a decision. I can check if we can use the history instead.

[2019-01-07 15:06] alexandrudima commented on #66069
I believe for security purposes, we don't load up remote icons inside the editor. As a workaround, I think you can use node's `https` and download them somewhere and then point us to them on the disk... And perhaps convert them to something more safe like `.png` before passing them to us for rendering...

**But**... IIRC the full explanation is that there could be some `.svg` files that are create

[2019-01-07 15:10] jamesgeorge007 commented on #66036
@jrieken Can you guide me on resolving this issue?

[2019-01-07 15:11] Cybernetixs commented on #66114
I just started having the same issue after upgrading to 1.30.1.

VS Code version: Code 1.30.1  2018-12-18T18:12:07:165Z
OS version: Windows_NT x64 10.0.17134  (24G ram)

If there is a window behind VS code I cannot move the VS code window unless I resize the left and right sides of the window first, and then move it.

[2019-01-07 15:14] Tyriar commented on #66005
@jrieken thanks, will try running with `editor.suggest.filterGraceful` for a while. It's a shame I need to turn off the typo detection to get this though, ideally for me it would show all results from filterGraceful=true, but when the search term appears exactly somewhere in the result it should match higher, so for the OP screenshot:

[code]

[2019-01-07 15:16] Tyriar commented on #66130
@jamesray1 what version of VS Code? Could you see if it happens on the latest Insiders build? http://code.visualstudio.com/insiders

[2019-01-07 15:20] alexr00 commented on #63874
The original issue indicates that the `dependsOn` property is being respected, the schema just doesn't allow it. The next steps would be to make sure that the `dependsOn` property is being respected when modifying an npm task. Then, figure out what's wrong with the schema. The schema can be found [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/tasks/electron-browser/j

[2019-01-07 15:21] alexr00 commented on #65951
This issue was moved to davidrios/pug-tmbundle#27

[2019-01-07 15:22] alexr00 commented on #65983
This issue was moved to davidrios/pug-tmbundle#28

[2019-01-07 15:23] Tyriar commented on #65663
There's also this discussion happening on the extension repo: https://github.com/editorconfig/editorconfig-vscode/issues/208#issuecomment-451728131

[2019-01-07 15:30] alexr00 commented on #11699
You're right, this is a Windows only fix. I was under the mistaken impression that this was a windows only bug. Thank you for catching!

[2019-01-07 15:31] #66152 closed

[2019-01-07 15:32] Tyriar commented on #66113
We show the alert whenever the shell exits non-zero, you can turn this off all together with this setting:

[code]

We're unable to detect just that case though.

[2019-01-07 15:32] #66113 closed

[2019-01-07 15:32] alexr00 commented on #60851
Ok, thank you for the additional info.

[2019-01-07 15:35] ExE-Boss commented on #66102
This is just when the schema is located next to the file in the same directory, just with a `.schema.json` extension.

[2019-01-07 15:35] egamma commented on #61203
@Ermish since I haven't heard from you I assume things are fine and I'm closing the issue.

[2019-01-07 15:35] #61203 closed

[2019-01-07 15:36] alexr00 commented on #63370
@sujan-s, can you give me some copy/paste-able SQL that this reproduces with?

[2019-01-07 15:40] jabacchetta commented on #66122
Regarding point 2, I loaded up WebStorm today to check out what I thought VSCode might be missing, because I remember enjoying the React component experience there.

As it turns out, they actually require the opening bracket as well before offering suggestions. So I'm not sure if this can be improved or not.

What they did do better, though was:

- As soon as the suggestion was selected, the entir

[2019-01-07 15:40] alexr00 commented on #62193
This issue was moved to atom/language-shellscript#135

[2019-01-07 15:40] #62193 closed

[2019-01-07 15:41] weinand commented on #66112
what debug extension are you using?

[2019-01-07 15:41] #66104 closed

[2019-01-07 15:42] eeasoftware commented on #3352
I am writing in PHP

Prior to the update methods, if/etc statements in a class collapsed like the following:
Uncollapsed:
`[-]  public function TestMethod()`
`      {`
`            Return 'Test';`
`      }`

`[-]  if (1==1) {`
`            $i = 10;`
`      }`

Collapsed:
`[+] public function TestMethod() ...`
`[+] if (1==1) ...`

After the update methods, if/etc statements in a class collapsed lik

[2019-01-07 15:42] alexr00 commented on #62193
I moved the issue to owners of the text mate grammar. Looks like there are still occasional changes to the repository is still being maintained.

[2019-01-07 15:45] jrieken commented on #66005
I understand - it involves fiddling but I can try to penalise type-matches more.

[2019-01-07 15:49] Foxhoundn commented on #66141
This should be a case for all the inputs around the editor (search, replace etc.), to have a little `x` to quickly erase the input's content.

![screenshot 2019-01-07 at 16 48 27](https://user-images.githubusercontent.com/8861481/50777501-13ece080-129c-11e9-964b-11c1995048fd.png)

[2019-01-07 15:50] Tyriar commented on #66049
Does that path run in a regular cmd.exe window?

[2019-01-07 15:51] aeschli commented on #64623
Set a cursor on each of the lines to collapse (e.g. at the beginning of `Retailer`) then invoke the 'Fold' or 'Fold Recursively' command. Avoid the selection.

[2019-01-07 15:52] Tyriar commented on #65682
@amitguptagwl did you use sudo to install?

[2019-01-07 15:52] alexr00 commented on #63382
This issue was moved to textmate/yaml.tmbundle#30

[2019-01-07 15:52] #63382 closed

[2019-01-07 15:52] VIMGAS commented on #66049
@Tyriar It does, but I already solved the problem... Turns out bash.exe was configured to run as administrator and it caused the bug. Everuthing is working fine after disabling it.

[2019-01-07 15:53] #66049 closed

[2019-01-07 15:53] weinand commented on #66120
Most likely this is a babel related issue.
Please provide complete steps to reproduce this.
This is what I get:
![2019-01-07_16-52-49](https://user-images.githubusercontent.com/1898161/50777747-bdcc6d00-129c-11e9-9569-fc1a16ad9de9.png)

[2019-01-07 15:53] Tyriar commented on #65433
@tvgfinman are there any errors in the devtools console? (Help > Toggle Developer Tools)

[2019-01-07 15:55] Tyriar commented on #65958
The black issue is fixed in Insiders, as for the weird viewport problem that's https://github.com/Microsoft/vscode/issues/57803

[2019-01-07 15:55] #65958 closed

[2019-01-07 15:55] aeschli commented on #64429
What I described is what our own paths util does.

[2019-01-07 15:56] alexr00 commented on #63382
I moved the issue to the owners of that grammar. Thank you for filing the issue!

[2019-01-07 15:59] aeschli commented on #63230
Do you use https://github.com/iambibhas/vscode-django-template?

[2019-01-07 15:59] jrieken commented on #64429
Well, don't use that ;-) You might be lucky when calling  `getRoot` first and then call `dirname` only on the none root part

[2019-01-07 16:01] bengry commented on #65165
@bpasero working after today's insiders build. Thanks!

[2019-01-07 16:05] jabacchetta commented on #40338
Would love to have import blocks automatically folded in files with a simple user setting.

[2019-01-07 16:11] #65115 closed

[2019-01-07 16:13] jrieken commented on #66036
sure, checkout

* https://github.com/Microsoft/vscode/blob/3a0a2e90c740b6f4207f0aaa95d5bcae9d434eb9/src/vs/workbench/parts/snippets/electron-browser/snippetsFile.ts#L123, and
* https://github.com/Microsoft/vscode/blob/3a0a2e90c740b6f4207f0aaa95d5bcae9d434eb9/src/vs/workbench/parts/snippets/electron-browser/snippetsFile.ts#L227

[2019-01-07 16:13] nmaxcom commented on #64606
Yes, I have no idea why but nothing has changed. I'm using VSCode 1.30.1 and this is the status:

![image](https://user-images.githubusercontent.com/8936090/50778860-40562c00-129f-11e9-870f-95d155cbac71.png)

And that's the only file I have opened in a tap. But should flag the rest:

![image](https://user-images.githubusercontent.com/8936090/50778984-801d1380-129f-11e9-912f-703271fbcdb4.png)

[2019-01-07 16:19] aeschli commented on #63097
To implement what you suggest, the indent-on-enter feature would need to be syntax aware.
It needs to find out that the current cursor location is at the end of a statement and then use the indent from the beginning of the statement.

Our indent-on-enter is currently regex based, meaning it has no language syntax understanding.

[2019-01-07 16:22] joaomoreno opened #66154 "Place shell completion scripts in correct paths"
Need to bring this back properly: https://github.com/Microsoft/vscode/commit/493ad1da77eed29af78eea248983f34b5ef44dc1

[2019-01-07 16:22] axetroy opened #66155 "search does not ignore prefix space"
Issue Type: <b>Bug</b>

this match the search
![2019-01-08 00 19 27](https://user-images.githubusercontent.com/9758711/50779416-35b98800-12db-11e9-90d5-8582113b8fd0.png)

This have prefix space, and it doesn't match
![2019-01-08 00 20 11](https://user-images.githubusercontent.com/9758711/50779417-36521e80-12db-11e9-80fe-67850293e790.png)

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278

[2019-01-07 16:23] joaomoreno commented on #66151
@jamesgeorge007 Please look for `help wanted` and `good first issue` issues. More info: https://github.com/Microsoft/vscode/wiki/How-to-Contribute#contributing-to-code

[2019-01-07 16:32] getcodetony opened #66156 "Extension Guide by spywhere"
Apparently, this extension Guide by spywhere is causing this issue.

When i installed this extension, vs code prompt me this notification:
<Guides extension has detected that you are using "editor.renderIndentGuides" settings. Guides will now disable all indentation guides by override the style to "none".> It also give me the options to continue to use Guide or use the built in indentation of vs c

[2019-01-07 16:35] aeschli commented on #62867
@amgalan81mn Please give an example along with describing the expected/improved behaviour.

[2019-01-07 16:40] bpasero commented on #66127
Marking as duplicate of #6651, #35744, #3874

[2019-01-07 16:40] #66127 closed

[2019-01-07 16:41] joaomoreno commented on #65959
Related to https://github.com/Microsoft/vscode/issues/62524 ?

[2019-01-07 16:43] joaomoreno commented on #66027
Can you reproduce if you open folder `a` instead of folder `b` in Code?

[2019-01-07 17:01] bpasero commented on #62524
People that got this, did you see a dialog asking to reload the window because it either has crashed or is unresponsive? Asking because we have a repro here: https://github.com/Microsoft/vscode/issues/65959

[2019-01-07 17:01] bpasero commented on #65959
🥇

[2019-01-07 17:33] ramya-rao-a commented on #66157
VS Code version 1.28 works as expected.
VS Code version 1.29 had the issue of no errors showing up in the debug console
VS Code version 1.30 and Insiders 1.31 (as of today) as the bug currently being described in this issue

[2019-01-07 17:37] roblourens commented on #66151
The reason for the weird layout is that we want the scrollable area of the settings tree to cover the whole area of the settings editor under the TOC tree so I can put the cursor in the margin and scroll. Also we want the scrollable element's shadow to cover just the width of the middle part over the TOC and settings tree. The scrollable element is inside the settings tree, and I had to get creati

[2019-01-07 17:43] jamesgeorge007 commented on #66036
- [vscode/src/vs/workbench/parts/snippets/electron-browser/snippetsFile.ts](https://github.com/Microsoft/vscode/blob/3a0a2e90c740b6f4207f0aaa95d5bcae9d434eb9/src/vs/workbench/parts/snippets/electron-browser/snippetsFile.ts#L123)
The type of description field is to be made as `string[]`

[2019-01-07 17:44] Tyriar opened #66158 "Turn on conpty by default for Windows Insiders"
Need to fix kill bug first

[2019-01-07 17:45] Tyriar commented on #66158
https://github.com/Microsoft/node-pty/issues/253

[2019-01-07 17:46] roblourens commented on #64606
Since it works for me, I'm not sure where to point you. You could try sharing the logs with me with these steps:

- Run the command "Set log level" and change it to "Trace"
- Run the search again
- Show the search-related messages in the "Log (Window)" output panel

![image](https://user-images.githubusercontent.com/323878/35987940-02aae15a-0cb2-11e8-83f1-d95c5dc3881b.png)

Or, try simplifying you

[2019-01-07 17:47] samuela commented on #62524
@bpasero yes, cf some of my previous comments for details

[2019-01-07 17:51] usernamehw commented on #66156
[code]

[2019-01-07 17:55] roblourens commented on #66141
I disagree, the user is going to be typing anyway, they can press backspace. In the search view at least you can still use the "clear search results" button to clear all the inputs whether results are present or not (in Insiders only)

[2019-01-07 17:56] roblourens commented on #66141
This I agree with, I will keep the issue open to do this.

[2019-01-07 17:56] roblourens commented on #66153
Please explain some more about what exactly you are doing and what you see.

[2019-01-07 18:01] markuskramerIgitt commented on #7570
Thank you, @dlech!

[2019-01-07 18:05] nmaxcom commented on #64606
As you've seen, the regex is correct. The issue is it only seems to search within the opened tabs.

Now we are getting somewhere!:

[code]

[2019-01-07 18:10] roblourens commented on #65163
Ok, it seems likely that you are putting the gulp process in debug mode, and the nodemon process is taking the same flag and starting in debug mode on the same port. I see you have the `inspect` flag set for nodemon in your gulpfile. That should start nodemon listening on debug port 9229. Try adding `"port": 9229` to your launch config. That should just attach to nodemon instead of starting gulp w

[2019-01-07 18:22] RMacfarlane commented on #66155
To confirm, in the second search, a space has been added before `first line` in the search query? If so, then I think this is by design. Search does not trim whitespace, as someone might want to be able to find a term with some specific leading or trailing whitespace

[2019-01-07 18:22] tuath opened #66160 "Vue-CLI requires a "npm run serve" to run before i can launch a "chrome" session."
Using ng-cli or vue-cli requires something like : npm run serve or npm start...

It would be nice if there were a way to create a tasks.json item that would, upon workfolder opening, automatically launch a npm run serve task so that way can quickly get going.

It's sad i have to "npm run serve" everytime i restart developping (and had closed stuff on my laptop).

[2019-01-07 18:23] usernamehw opened #66161 "Extension recommendation should consult disabled extensions first"
Issue Type: <b>Bug</b>

Opening file like `.vue` with `vetur` disabled results in showing notification:

It should be able to detect if I have disabled extensions that provide `.vue` language support and create notification of the sort:

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:12:07.165Z)
OS version: Windows_NT x64 10.0.17763

[2019-01-07 18:33] RMacfarlane commented on #66156
If you open the settings page, there is a dropdown of more actions at the top:

![screen shot 2019-01-07 at 10 24 04 am](https://user-images.githubusercontent.com/3672607/50785849-a96d7d80-1266-11e9-95ad-86d2cdbee82c.png)

From there you can choose "Show modified settings" to see all of your settings that have been changed from default values, and then by hovering over them, select the gear and ch

[2019-01-07 18:33] #66156 closed

[2019-01-07 18:33] usernamehw opened #66163 "Preview issue from bot duplicated comment"
Issue Type: <b>Feature Request</b>

Current message does not show info on hover:

* [Extension search for "vue" is abysmal (#65987)](https://www.github.com/Microsoft/vscode/issues/65987)

You can just remove `www.` and have a fully working hovercard:

[code]

* [Extension search for "vue" is abysmal (#65987)](https://github.com/Microsoft/vscode/issues/65987)

[2019-01-07 18:33] Tyriar commented on #47265
@alexr00 I'm not familiar with this `terminalGroup` concept, there is a similar request for the terminal API, we should align these if it's possible https://github.com/Microsoft/vscode/issues/45407

[2019-01-07 18:33] astier commented on #66141
May I ask you why there is only a clear-search-option when no matched settings are found? Why can't we have it also when results are found? Feels kind of half-baked to me. Either there is an option available which enables to clear every search or there is no such option.

[2019-01-07 18:37] roblourens commented on #66098
When we set the selection color, it's blended somehow with the color behind it. As you can see, when you set it to `ff0000`, it's not actually that color. This is done by the browser. But the settings input is not a native text input, so we have to set the color manually. I couldn't figure out exactly how the blending works so I had to guess a transparency level and I picked something that seemed

[2019-01-07 18:37] #66098 closed

[2019-01-07 18:47] roblourens commented on #66141
I don't want to clutter the UI by adding buttons for something that doesn't really need a button.

[2019-01-07 18:48] roblourens commented on #66134
Not really clear what you are asking for. What would this text input do?

[2019-01-07 18:54] octref commented on #66053
This issue only concerns SVG. VS Code has some support for XML, and there are extensions for XML too: https://marketplace.visualstudio.com/search?term=xml&target=VSCode&category=All%20categories&sortBy=Relevance

[2019-01-07 19:03] roblourens opened #66164 "Node and Chrome DA localization does not work"
- Change display language and install appropriate language pack
- The easiest way to see a message from the DA that should be localized is to break the config. e.g open the vscode repo, pick one of the launch tasks, and change `runtimeExecutable` to a path that doesn't exist.
- Run that launch config
- See that the error message is in English.

FYI @weinand @dbaeumer

[2019-01-07 19:03] rebornix commented on #41882
[code]

@octref I know it's probably not good that questioning the design proposal without providing a solution ;( but how does putting a setting in the `registerDocumentFormattingEditProvider` API help with this problem? For extensions which don't provide formatter enablement, this solution doesn't work but if the extension does have a setting (which is required by this API proposal), why can't u

[2019-01-07 19:22] octref commented on #41882
I guess the idea is to have enablement handled on VS Code side.

When you format `a.ts`, you find it misformats. Suppose there are 3 formatters registered for TS, you don't know which one is currently being used.
The plan is to offer some help. For example, commands such as `Find active formatter for current file`, `List all formatters for current file`. Or even one step further, when you run `For

[2019-01-07 19:30] djmisterjon commented on #66134
@roblourens input for custom search.
For now we need select a string, right click and choose Find All Reference.
Ok but this is fine, what if i want enter my custom keyword ?

[2019-01-07 19:31] gianlucaborello opened #66165 "Search results are not opened anymore"
- VSCode Version: Version 1.31.0-insider (1.31.0-insider)
- OS Version: Mac OS Mojave

Steps to Reproduce:

Focusing on search results don't open the files anymore, starting from this Insiders release.

If I search for something in the workspace, the results are correctly shown in the search panel. However, manually clicking on them or using the commands "Focus Next Search Result" / "Focus Previou

[2019-01-07 19:31] segevfiner commented on #66154
Ohhh, so the VS Code binary has different names in different kinds of builds. So the completion scripts should simply be installed with that name too. I will have to template them out to also replace the name inside them, which is a bit annoying since you won't be able to test them in Git & users won't be able to copy them from Git without replacing the placeholders manually. I will try to come up

[2019-01-07 19:36] gianlucaborello opened #66166 "window.newWindowDimensions maximized not working"
- VSCode Version: Version 1.31.0-insider (1.31.0-insider)
- OS Version: Mac OS Mojave

This behavior started a couple Insider releases ago. I have `"window.newWindowDimensions": "maximized"`, but if I start the editor from scratch, the window is not maximized anymore, it's resized at a distance of about 50 pixels from the bottom and from the right, forcing me to manually maximize it every time I s

[2019-01-07 19:42] roblourens commented on #66140
Thanks, didn't realize this applied when the explorer is not focused.

[2019-01-07 19:42] #66140 closed

[2019-01-07 19:46] roblourens commented on #66163
Seems like github should fix that...

[2019-01-07 19:51] gianlucaborello commented on #66166
This is the behavior, as you can see the window is not maximized upon start:

![image](https://user-images.githubusercontent.com/4187028/50789989-88128e80-1272-11e9-9d84-5353b291bad4.png)

[2019-01-07 19:53] mjbvz commented on #66137
This is being tracked upstream by https://github.com/Microsoft/TypeScript/issues/14009

[2019-01-07 19:53] #66137 closed

[2019-01-07 19:54] RMacfarlane commented on #66165
Can you grab the commit hash for the insiders version from `About Visual Studio Code - Insiders`? I haven't been able to reproduce yet with those settings, I'm on insiders `28e7467661d67c05c3662ff900ee1984f7e2fbcc`.

Does running `Reload Window With Extensions Disabled` have any impact?

[2019-01-07 19:55] mjbvz commented on #66082
Please file this issue against the vetur extension

[2019-01-07 19:55] #66082 closed

[2019-01-07 20:02] gianlucaborello opened #66167 "Search results rendering issues"
- VSCode Version: Version 1.31.0-insider (1.31.0-insider)
- OS Version: Mac OS Mojave

This started just in the past few Insider releases. When I search items and then I scroll through the search results (either via the focus commands, or using the mouse), many times the rendering is messed up, like this:

![image](https://user-images.githubusercontent.com/4187028/50790497-f277fe80-1273-11e9-8cea-

[2019-01-07 20:04] klimyuk commented on #66120
it's my .babelrc
[code]

[2019-01-07 20:04] gianlucaborello commented on #66167
What's interesting is that, once it happens, even if I close/open the panel, or do another search, the bad rendering will keep showing, the only workaround seems to restart the entire editor.

[2019-01-07 20:11] klimyuk commented on #66120
packages version

[code]

[2019-01-07 20:13] gianlucaborello commented on #66165
Thanks for your reply.

I am on the same Insiders version as yours, same commit. I restarted the editor now and it worked for 5 more minutes before breaking again (I use search probably thousands of times a day).

Once it broke, I ran "Reload Window With Extensions Disabled", issued another search, and I have the same exact issue.

FWIW, there doesn't seem to be any error in the Output panel.

Let

[2019-01-07 20:43] cleidigh commented on #65219
@isidorn
Absolutely.  I need some work to do since SelectBox has absolutely ZERO ISSUES :-p HA HA !

I will start looking into it to get familiar with that code.

[2019-01-07 20:46] Merwanedr opened #66168 "keyboard turns into qwerty when running VSCode as a root user with AZERTY keyboard"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-01-07 20:50] Evanlec commented on #4490
Surprising to me that this feature is still missing

[2019-01-07 21:05] astier commented on #66141
Why then not remove the clear-search-option completely? What purpose does it give in the case when no settings are found in contrast to when settings are found?

[2019-01-07 21:20] jabacchetta opened #66170 "Find all references without /index in the import path"
I'm running into an issue where `Find All References` does not work if the import path does not include the `/index`. Is this expected? Is there a workaround available, or a fix on the way?

![references](https://user-images.githubusercontent.com/12591890/50794077-c0749580-128f-11e9-99bc-9030db1fa608.gif)

[2019-01-07 21:30] LittleLittleCloud opened #66172 "Encouter prevented webview navigation when using webview api"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.
https://stackoverflow.com/questions/54032106/encouter-prevented-webview-navigation-when-using-webview-api

[2019-01-07 21:30] LittleLittleCloud commented on #66172
the url is
https://stackoverflow.com/questions/54032106/encouter-prevented-webview-navigation-when-using-webview-api

[2019-01-07 21:34] sandy081 commented on #66029
Is it safe/ok to assume the parent of the extension dir as `extensions-dir`?

[2019-01-07 21:35] laddywig commented on #66068
Hmmm, it's showing up on my thread as being attached. It's a word document,
is it getting stripped in transition? I'll try and attach it again. I'll
copy and paste everything in the email if the document doesn't go through
this time.

[image: image.png]

On Sun, Jan 6, 2019 at 9:27 AM Erich Gamma <notifications@github.com> wrote:

[2019-01-07 21:37] sandy081 commented on #65995
@redrbrt Can you please check if there are any errors in the developer tools console? Use command `Toggle Developer Tools`.

[2019-01-07 21:40] nric opened #66173 "Python Interactive Window / Jupyter window is always 1st or 2nd group from left and can't be permanently moved"
Not sure if this is a bug or a missing feature:

I keep having the problem that I can not have the Python Interactive output on the third or higher group column. If I put the tab there, it jumps back to the 2nd on the next run cell.

Quite annoying when I want to live my OCD and have the view ordered by layers for example.

Not subject to the request/report, but at this point thank you guys a mill

[2019-01-07 21:44] sbatten commented on #65191
@hesxenon as a colemak mod-dh user myself, I understand that pain. I actually have an AutoHotKey script that allows me to use CapsLock as a toggle for knei as arrow keys.

[2019-01-07 21:47] sbatten commented on #62570
this issue is likely fixed, please re-open if you still encounter the issue.

[2019-01-07 21:47] #62570 closed

[2019-01-07 21:52] bgmort opened #66174 "Keep replace history and find/replace options in sync with find history"
This request applies to both the editor find/replace dialog, and the find in files panel.  Currently there is a history available for both the find fields and the replace fields, (alt+up/down).  It would be very useful if these were kept in sync, along with the match case/whole world/regex options for that search.  In other words, the find history would not just be a history of the contents of the

[2019-01-07 21:58] mjbvz commented on #33413
Fixed by #65440 which introduces a new `activeSignatureHelp` field on the `SignatureHelpContext` object. This new field is proposed API for December/January

Please share any feedback or concerns about the current api proposal

[2019-01-07 21:58] #33413 closed

[2019-01-07 21:58] RMacfarlane commented on #66165
Can you run `Developer: Toggle Developer Tools` when it happens and see if there is anything in the console?

[2019-01-07 21:58] sbatten commented on #65700
/duplicate #65456

[2019-01-07 21:59] #65700 closed

[2019-01-07 21:59] hesxenon commented on #65191
well thats an interesting workaround, will def do that until a solution
arrives

On Mon, Jan 7, 2019, 22:45 SteVen Batten <notifications@github.com wrote:

[2019-01-07 22:00] redrbrt commented on #65995
Sure (this is "on ready" vscode reloaded)
![extensions enabled](https://user-images.githubusercontent.com/1587912/50795602-60ccb900-1294-11e9-82b5-a4fec6096371.PNG)
On "toggle minimap" event/action no log is fired

[2019-01-07 22:00] sbatten commented on #65723
@Kumar21 Can you provide a graphic of your idea?

[2019-01-07 22:02] RMacfarlane commented on #66173
Hi @nric, could you include a screenshot of the UI you're talking about?

[2019-01-07 22:02] sbatten commented on #65739
@pecigonzalo I'd probably recommend sticking with native if you have a DE that supports a global app menu.

[2019-01-07 22:02] #65739 closed

[2019-01-07 22:04] roydukkey commented on #66098
@roblourens Why would a transparency be applied to the color? Shouldn't this be handled by the theme, especially since color values are allowed to specify an alpha channel?

As a theme creator, I would expect to maintain control of blending. And, since blending isn't (possibly even can't be) applied in the same manner everywhere, would it be better to not make assumptions?

[2019-01-07 22:06] sbatten commented on #65787
@razor09 when you hold right click, does the menu draw underneath the cursor? If so, can you provide a screen shot or gif of the entire vs code window?

[2019-01-07 22:09] sbatten commented on #65792
/duplicate #58427

[2019-01-07 22:10] #65792 closed

[2019-01-07 22:13] RMacfarlane commented on #66170
From the gif, it looks like you have a class `Text` in `index.js` that you're importing somewhere else. I would expect you to need to specify the complete absolute or relative path to the file to be able to import it - is there anything special about your project set up?

[2019-01-07 22:13] mjbvz commented on #66017
Yes, vscode's exclude settings are not related to typescript validation. The `tsconfig` exclude setting just determine the TypeScript project, it will also not disable validation for TS files you open

A few options:

- Disable all TS validation by setting `"typescript.validate.enable": false`

- Get TS to support a `@no-check` flag: https://github.com/Microsoft/TypeScript/issues/26887

- Use file

[2019-01-07 22:13] #66017 closed

[2019-01-07 22:15] roblourens commented on #66098
In the settings editor input I'm just trying to emulate what the browser is already doing. We aren't in control of the blending that the browser does there.

[2019-01-07 22:18] mjbvz opened #66175 "Adopt TypeScript 3.3"
Track shipping TypeScript 3.3 with VS Code 1.31

- [TS 3.3 roadmap](https://github.com/Microsoft/TypeScript/wiki/Roadmap#33-january-2019)
- [3.3 milestone](https://github.com/Microsoft/TypeScript/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22TypeScript+3.3%22)
- [3.3.1 milestone](https://github.com/Microsoft/TypeScript/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22TypeScript+3.3.1%22)

[2019-01-07 22:20] #65947 closed

[2019-01-07 22:20] sbatten commented on #65947
this should be resolved in latest insiders

[2019-01-07 22:22] RMacfarlane commented on #66166
Looks like this is a duplicate of https://github.com/Microsoft/vscode/issues/65280

[2019-01-07 22:22] #66166 closed

[2019-01-07 22:22] mjbvz opened #66176 "Support two new TypeScript opt in preferences"
Part of #66175

TS is adding two new opt-in preferences for editor functionality:

- https://github.com/Microsoft/TypeScript/issues/28679
- https://github.com/Microsoft/TypeScript/issues/28677

VS Code already supports the features these preferences gate so we just need to make sure we pass the correct preferences to the TS Server

[2019-01-07 22:22] sbatten commented on #66114
@pedrogarcia this should be fixed in the latest insiders

[2019-01-07 22:22] #66114 closed

[2019-01-07 22:29] Tyriar opened #66177 "November Recovery 2 endgame"
- [x] Create a milestone `<Month> Recovery <year>`
- [ ] ~~Include an issue 'update translations'~~
- [x] Assign candidate issues to the recovery milestone **team**
- [x] Review the `candidate` issues, and if they pass the review assign them to the recovery milestone **team**
- [x] All `candidate` fixes are peer reviewed and pushed to `master` and then cherry-picked into the release branch **team*

[2019-01-07 22:35] mjbvz commented on #66064
The path mapping:

[code]

Is not valid. `"@open-weather/types"` must be mapped to a single TS file or module instead of a set of files using `*.ts`.

Try something like:

[code]

[2019-01-07 22:35] #66064 closed

[2019-01-07 22:38] RMacfarlane commented on #66170
What does your `jsconfig.json` look like? Does setting the module like in https://github.com/Microsoft/vscode/issues/36699 resolve the issue?

[2019-01-07 22:45] mjbvz commented on #65435
The context is correct when the signature help widget first appears but it gets lost as soon as I interact with the arrow buttons. `editorFocus` becomes false but the `activeEditor` context remains `"workbench.editors.files.textFileEditor"`

[2019-01-07 22:48] jabacchetta commented on #66170
Yes, that did it, thanks @RMacfarlane !

Do you have any suggestions on where to read up on the specifics of why these options are required, to get a better understanding of how VSCode works behind the scenes?

In other words, I don't understand why that feature just wouldn't be baked in by default?

[2019-01-07 22:49] mjbvz commented on #66142
Thanks. This is already tracked by https://github.com/Microsoft/TypeScript/issues/27638

[2019-01-07 22:49] #66142 closed

[2019-01-07 22:56] mjbvz opened #66180 "Incorrect range replaced on multiple cursors when accepting suggestion"
From https://github.com/Microsoft/vscode/issues/54586

**Steps to Reproduce:**

1. For a js file:

[code]

1. Create two cursors: one before `abc` and one before `abc1234`.
1. Trigger suggestions
1. Accept suggestion for `abc`

**bug**
File becomes:

[code]

[2019-01-07 22:57] mjbvz commented on #54586
Created simplified example with https://github.com/Microsoft/vscode/issues/66180

[2019-01-07 23:02] mjbvz commented on #66180
@jrieken Adding you since the TS extension now sets the replacement range to cover the entire word for the case:

[code]

For `|abc1234` however, it looks like the same range is being re-used. I'm not sure if or how we can support multi-cursors for custom ranges like this

[2019-01-07 23:03] #66170 closed

[2019-01-07 23:05] mjbvz commented on #65952
Yes, this needs to be implemented per-language. Closing as extension candidate

[2019-01-07 23:05] #65952 closed

[2019-01-07 23:07] RMacfarlane commented on #66170
Great! There's some documentation on the `jsconfig` [here](https://code.visualstudio.com/docs/languages/jsconfig). [This](https://code.visualstudio.com/api/language-extensions/overview) has some information about language extensions in general - all built in language support is from extensions that are bundled from VSCode

[2019-01-07 23:08] mjbvz commented on #65373
@khacminh It sounds like automatic type acquisition may not be working as expected. This is what provides IntelliSense for packages like lodash

Can you please try collecting the typings install log:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a folder with a `ti-*.l

[2019-01-07 23:15] mjbvz commented on #65112
Closing as upstream issue: https://github.com/Microsoft/TypeScript/issues/29031

[2019-01-07 23:15] #65112 closed

[2019-01-07 23:20] aarongable opened #66182 "URL containing + not properly detected in integrated terminal"
Steps to reproduce:
**1)** Open the integrated terminal
**2)** Run a command whose output includes a url which contains a "+". For example:
[code]
**3)** Try to ctrl+click the link which contains a +

Expected result:
**4)** The whole url is detected

Actual result:
**4)** Only the url up to but not including the + is detected. The rest ("+/1399451") is ignored.

![screenshot](https://user-images.

[2019-01-07 23:38] tvgfinman commented on #65433
See below:
[Errors VS Code.docx](https://github.com/Microsoft/vscode/files/2734665/Errors.VS.Code.docx)

[2019-01-07 23:39] nric commented on #66173
sure, see attached.
The middle group column is where the Pyhon Interactive output is "fixed". I want it on the right group. Putting the tab on the right group colum will be reverted once I execute the next cell.
![vscode1](https://user-images.githubusercontent.com/35203350/50799687-5551b000-12dd-11e9-935d-9de1b53811fa.png)

[2019-01-07 23:44] huguesalary opened #66183 "Wrong window focused when opening from command line"
Issue Type: <b>Bug</b>

Open directory one: `code /one`.

Then open directory two: `code /two`.

The focused window after opening directory `/two` will be the 1st window (directory `one`).

In my opinion, the newly opened window should be focused.

VS Code version: Code 1.30.1 (dea8705087adb1b5e5ae1d9123278e178656186a, 2018-12-18T18:05:00.654Z)
OS version: Darwin x64 18.2.0

<details>
<summary>Sys

[2019-01-07 23:48] octref commented on #65938
Can I get a custom command that always skips `preLaunchTask` so I can bind it to my F5 then?

[2019-01-07 23:54] Tyriar opened #66184 "Improve experience for really long settings descriptions"
After https://github.com/Microsoft/vscode/pull/66179 😱

![image](https://user-images.githubusercontent.com/2193314/50800250-527e9d00-1294-11e9-95dc-068c9e31516e.png)

Some options:

- Have a read more button when things get too long
- Have string that appear only in the JSON/intellisense

[2019-01-07 23:57] Tyriar opened #66185 "Intellisense details cannot scroll vertically the first time it's shown"
This only appears to happen the first time it shows up, successive times work fine.

![image](https://user-images.githubusercontent.com/2193314/50800363-c325b980-1294-11e9-84b5-c5bb1a289c93.png)

Using the setting in https://github.com/Microsoft/vscode/pull/66179

[2019-01-08 00:13] mjbvz opened #66187 "JS/TS completion sometimes replaces next character as well"
Issue Type: <b>Bug</b>

**repo**
1. For the js file:

[code]

1. Put cursor before the `,` and type `u` and then `n` very quickly
1. Press enter to accept `undefined` suggestion

**Bug**
Sometimes the `,` is also replaced, resulting in:

[code]

VS Code version: Code - Insiders 1.31.0-insider (28e7467661d67c05c3662ff900ee1984f7e2fbcc, 2019-01-07T06:12:49.904Z)
OS version: Darwin x64 18.2.0

<detai

[2019-01-08 00:32] RMacfarlane commented on #66173
Ok, thanks! I think this is actually an issue with the extension itself, and not VSCode. It looks like someone has already reported an issue on the extension: https://github.com/Microsoft/vscode-python/issues/3808

[2019-01-08 00:32] #66173 closed

[2019-01-08 00:38] roblourens commented on #66141
I guess that when no settings are found, you definitely want to clear the filter because there's nothing else to do, but when you are searching, you either found the setting you want or you want to tweak your search query to search for something different. When the page is full of settings, adding a button/link to clear the query would be UI noise.

[2019-01-08 00:45] usernamehw commented on #64315
I'm going to fallback to `autohotkey` for this one. Will be useful not only for vscode.

[code]

[2019-01-08 00:45] #64315 closed

[2019-01-08 00:48] victoriqueko opened #66188 "Search results for "UTF-8 with BOM" files shifted on first line by a character again"
Issue Type: <b>Bug</b>

1. Open a folder containing UTF-8 with BOM files
2. Search something that on the first line in Search View
![image](https://user-images.githubusercontent.com/4309091/50801820-4391fc00-1321-11e9-862d-f8b7248054f9.png)

VS Code version: Code - Insiders 1.31.0-insider (28e7467661d67c05c3662ff900ee1984f7e2fbcc, 2019-01-07T06:20:02.775Z)
OS version: Windows_NT x64 10.0.17134

[2019-01-08 00:52] roblourens commented on #66174
I don't think it makes sense to combine the histories of those two fields because they represent different types of searches in different places, and I don't usually want to mix the two up.

Keeping the options along with the history probably makes sense, I think it has come up before but I don't think there is an issue for it.

https://github.com/Microsoft/vscode/issues/16488 will also help with

[2019-01-08 00:53] roblourens commented on #65636
https://github.com/Microsoft/vscode/issues/65649

[2019-01-08 00:53] #65636 closed

[2019-01-08 01:04] amitguptagwl commented on #65682
yes

[2019-01-08 01:09] timdmackey commented on #17450
I noticed this problem for the first time today. I get the same **`chdir(2) failed`** error when I try to split the terminal.

- The issue occurs whenever I use the "Split Terminal Command".
- Using the "New Terminal" command **does not** throw this error.

[2019-01-08 01:11] ghiscoding commented on #63152
@misolori
Just a quick proposition, some user might not understand why their view is changing (or even when it's changing). So perhaps adding a dropdown to choose the view that the user would want might help!? I basically think of exactly how that can be customized in Outlook with Pane View customization.

I'm also assuming that your "transition GIF" in your previous [post](https://github.com/Micr

[2019-01-08 01:12] mjbvz commented on #66187
@jrieken I think there may be a race condition with suggests and document edits here.

After recent change, TS now calls `getWordRangeAtPosition` inside of `provideCompletionItems` in order to compute the range of completion items. Here's what I believe happens in the buggy case:

1. User types `u` and then `n` very quickly
1. Completions are triggered on the `u`
1. The TS completion provider is i

[2019-01-08 01:24] jamesray1 opened #66190 "Opening the same folder in two windows doesn't work"
Issue Type: <b>Bug</b>

Open a VS Code Insiders window. Open a folder. Now open another window, and open the same folder.

Expected result: the folder opens in the second window.

Actual result: directs me to the first window with the open folder.

VS Code version: Code - Insiders 1.31.0-insider (e02e44464c02d617b98d0a3265bf5efef7794436, 2018-12-21T06:15:51.434Z)
OS version: Linux x64 4.19.12-2-MA

[2019-01-08 01:36] gwagener commented on #64561
I'm on 1.30.1 and just ran into an issue with this. The "exclude settings and ignore files are disabled" messaging was visible, but it wasn't obvious why or what I could do to fix it. I ended up Googling it, finding this thread, and learning I needed to click the gear symbol.

[2019-01-08 01:40] sbatten opened #66191 "Implementing ISerializableView in VS Code code base causes strange path"
Issue Type: <b>Bug</b>

Start in grid.ts
Make a class that implements ISerializableView
Use the code actions to auto implement the interface
:bug: => weird code path in priority import

VS Code version: Code - Insiders 1.31.0-insider (28e7467661d67c05c3662ff900ee1984f7e2fbcc, 2019-01-07T06:20:02.775Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|--

[2019-01-08 01:41] LittleboyHarry opened #66192 "Abnormal indentation on the top hierarchical navigation bar menu in Markdown."
- VSCode Version: 1.30.1 (user setup)
- OS Version: Windows_NT x64 10.0.17134 (Win10)

Steps to Reproduce:

1. Type some secondary headlines with differ in number of words

<img width="432" alt="untitled-1 - visual studio code 2019_1_8 9_30_15" src="https://user-images.githubusercontent.com/13063376/50804410-c4082b00-1328-11e9-86cf-7413de01b0b2.png">

2. Click the top hierarchical navigation bar i

[2019-01-08 01:50] LOGANLEEE opened #66193 "Key Input and scope Bug"
- VSCode Version: Version 1.30.1 (1.30.1)
- OS Version: 10.14.2 (18C54)

Steps to Reproduce:

1. CMD + F => Type texts => CMD + A or ESC
2. Arrow Key or ESC key doesn't work while coding in editor sometimes.

Does this issue occur when all extensions are disabled?: yes

using Eclipse Keymap Plug-in over 6month without problem till yesternday.
it works fine for a while after reloading vscode but fe

[2019-01-08 01:51] mjbvz commented on #66187
d9e2246 temporarily reverted using the word range for js/ts completions because this bug is pretty annoying while working in the VS Code codebase

[2019-01-08 01:58] roydukkey commented on #66098
I see.... https://developer.mozilla.org/en-US/docs/Web/CSS/::selection#Accessibility_concerns

This is rather annoying.

[2019-01-08 02:41] seesemichaelj commented on #65294
Going to my LoDPI setup, my horizontal 1080p monitor even shows flickering (that I'm now just noticing) between `normal` and `text` but defaults to text. Moving the window to my vertical 1080p monitor (so a width of `1080` instead of `1920`), I don't notice the flicker.

If I extend my vscode window across my 4 monitors (2 vertical 1080's + 2 horizontal 1080's = 6000 pixels), I'll notice the curso

[2019-01-08 02:45] 3ToThe6 commented on #66027
No. The issue only occurs when I open folder `b`. I also did a new test in which file name `b.txt` was replaced by `c.txt`, and this issue could also be reproduced.

[2019-01-08 02:46] jamesray1 commented on #66190
Duplicate of https://github.com/Microsoft/vscode/issues/35207.

[2019-01-08 02:46] #66190 closed

[2019-01-08 02:48] jamesray1 commented on #66190
Duplicate of https://github.com/Microsoft/vscode/issues/35207 and https://github.com/Microsoft/vscode/issues/2686

[2019-01-08 02:52] chnliquan opened #66194 "close"
close

[2019-01-08 02:53] freeacger opened #66195 "Vscode code completion display problem"
- VSCode Version: 1.30.1
- OS Version: 10.14.2

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/1319129/50806897-94125500-1333-11e9-8a56-2b4b942922c8.png)

Does this issue occur when all extensions are disabled?: Yes

[2019-01-08 02:54] #66194 closed

[2019-01-08 02:57] alanyinjs opened #66196 "Merge conflicts: allow edit side-by-side in `compare changes` view"
Ref: #25887 #34585 #27562

It would be great if we could allow side-by-side editing when there are merge conflicts. This would be beneficial especially in the case where we merge branch A into B and both branches had commits that we want to keep.

Sometimes 'accept both changes' is simply not good enough as git sometimes doesn't diff the branches properly when producing merge conflicts. Diffing th

[2019-01-08 02:57] chnliquan opened #66197 "custom activitybar icon dose not display when reload window"
- VSCode Version: 1.30.1
- OS Version: 10.3.3

The extension I developed is not uploaded to the market. It is only used within the team. When the extension is updated, it calls vscode.commands.execute(workbench.action.reloadWindow) to reload. After the overload is completed, my custom activitybar icon is not displayed (it can be clicked). i need to reload again to see the activitybar icon, how can

[2019-01-08 02:58] khacminh commented on #65373
hi @mjbvz
Here is my `ti.log` file after re-produce the issue:

[code]

[2019-01-08 03:16] khacminh commented on #65373
@def14nt

I did read your comment and install the `@type/*` packages. However, I **don't** think this is the solution and the issue should still stay **open**. Without installing the `@type/*` packages, VSCode 1.29 (and before) intelliSense works like a charm. The issue occurs on VSCode 1.30

[2019-01-08 03:34] jamesray1 commented on #66190
When I duplicated the window in a new workspace the computer froze for several minutes. My computer has had freezes before. CPU and memory maxed out.

[2019-01-08 03:50] misolori commented on #63152
@ghiscoding thanks for the suggestion! Can I ask why you'd want to customize this layout and what  you'd want to do?

Our main reasoning for doing this two-part view was so that we could help optimize the space for two specific types of users without alienating the other. New users need guidance to get started and existing users jump back into their projects a good majority of the time. While I ca

[2019-01-08 04:08] ghiscoding commented on #63152
@misolori the suggestion is basically to address what I wrote in first paragraph of my previous post

Basically your implementation changes the layout after a month without advising the user of the change. Some users might not know why or when it changed (I know myself because I read this thread, but apart from that, I probably wouldn't know that the layout changes after a month). A new dropdown w

[2019-01-08 04:14] tzurbaev commented on #65056
This bug was introduced in f9a9e4e748b84c08b19b2c7f82954b559792d133 by defaulting `window.titleBarStyle` value to `native` (from `custom`). You can revert it by creating `"window.titleBarStyle": "native"` entry in your user configuration file (`CTRL+,`).

I guess the main source of such behaviour (losing focus on `alt` keydown with custom menus) lies in the electron codebase, but I'm not familiar

[2019-01-08 05:02] cleidigh commented on #65219
@isidorn
@zersiax
@alexandrudima

Looked at the code and the comments from

Questions/opinions:

- Assuming we add something like "Current Line: 148." to call out the current line, could be prefix or suffix:
   "Current Line: y.  Type a line number between 1 and {0} to navigate to x"
     "Type a line number between 1 and {0} to navigate to x.  Current Line: y"

- Should line numbers only be read

[2019-01-08 05:46] sujan-s commented on #63370
Hi Alex,

Here is a sample snippet—

[code]

You can compare this with the above screenshot, the quotes are all mixed up.

[2019-01-08 05:54] roblourens commented on #66098
Indeed...

[2019-01-08 05:55] roblourens commented on #64561
Can you suggest a more useful wording?

[2019-01-08 06:36] chenruyi commented on #7570
encounter this problem too,
os: Windows 1809 (17763.195)
code vision: 1.30.1

run code by command
`code`
dns.js:246
    this._handle = new ChannelWrap();
                   ^

Error: EFILE
    at new Resolver (dns.js:246:20)
    at dns.js:377:25
    at dns.js:431:3
    at NativeModule.compile (bootstrap_node.js:606:7)
    at NativeModule.require (bootstrap_node.js:550:18)
    at net.js:45:13
    a

[2019-01-08 07:05] rps-v commented on #43169
Had the same issue. What fixed it for me was enabling **Windows Enable Conpty** in settings.

![image](https://user-images.githubusercontent.com/26383032/50815048-68d43980-1324-11e9-92ce-124e2f928ed3.png)

Version: 1.31.0-insider (system setup)
Commit: f599942a5f1ce23445eb1dd7e0ff799ab7a0a175
Date: 2019-01-08T06:19:45.505Z
Electron: 3.0.13
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: W

[2019-01-08 07:08] alexandrudima opened #66199 "Do not require a window reload after installing extension"

[2019-01-08 07:43] iAladdin opened #66200 "terminal panel (oh-my-zsh) always duplicate first character after using tab completion"
- VSCode Version:Version 1.30.1 (1.30.1)
- OS Version:Mac OS Mojave 10.14 (18A391)

Steps to Reproduce:

1. using zsh on terminal config
2. type sour and press tab
![2019-01-08 15 33 09](https://user-images.githubusercontent.com/209606/50816312-21b56b00-135b-11e9-8d93-503d7faf4426.gif)
3. zsh same config work perfect with iterm2
![2019-01-08 15 39 10](https://user-images.githubusercontent.com/2096

[2019-01-08 07:45] def14nt commented on #65373
Maybe they just removed the typings in the later version to slim it down idk

[2019-01-08 07:46] alexandrudima commented on #66069
@queeniema AFAIK I think the MIT license allows you to copy those icons as long as you acknowledge the copyright holder - Microsoft - and include a copy of the MIT license - https://github.com/Microsoft/vscode/blob/master/LICENSE.txt.

[2019-01-08 07:59] alexandrudima commented on #66168
@bpasero is running `code` with `sudo` something we support on macOS? i.e. I remember you mentioning we should never do that as it would wreck our machines with folders with wrong permissions, etc.

[2019-01-08 08:02] alexandrudima commented on #65435
@mjbvz You would need to make the widget focusable (tabIndex > 0) and then add keybinding rules for arrow up and arrow down. I think you are observing how browsers work. i.e. what you describe has nothing in particular to do with VS Code.

[2019-01-08 08:24] bpasero opened #66201 "Share fonts across components"
From https://github.com/Microsoft/vscode/pull/65776#issuecomment-451950751

Instead of components defining their own font rules, we should have one CSS class that components can pick to get a certain font style, e.g. one use case seems to be to use a monospace font in the workbench.

[2019-01-08 08:30] bpasero commented on #65294
@johananl are you sure you are on 1.30 and not 1.31 insiders? Because in that build we did change Electron from 2 to 3.

[2019-01-08 08:37] bpasero commented on #65413
Our `electron-4.0.x` branch is up to date and running with Electron 4.0.1

[2019-01-08 08:38] #65956 closed

[2019-01-08 08:42] sandy081 commented on #65956
Fix is for Diagnostic messages and not for hover providers. Please verify using a diagnostic provider.

[code]

![image](https://user-images.githubusercontent.com/10746682/50819178-98397500-1329-11e9-81be-fa5ee1ddeb07.png)

[2019-01-08 08:42] Hamzeh75 commented on #38317
Hi
I agree with guys, that is really annoying, I'm wondering why they still didn't fix this problem ... !!!
why Ctrl+S work in peek preview ?!? its fine in Visual Studio

[2019-01-08 08:46] alexandrudima commented on #65219
I like your suggestion to always put the text "Current Line: y" at the beginning. I suggest we start with that and collect wider feedback (wait for bugs :) ).

[2019-01-08 08:47] joaomoreno opened #66202 "Parameter Hints doesn't go away"
Not sure what I've done to get into this state. Started happening today in Insiders:

![peek 2019-01-08 09-46](https://user-images.githubusercontent.com/22350/50819446-5bba4900-132a-11e9-8e06-e0e2fa218de5.gif)

Not much in Devtools:

![image](https://user-images.githubusercontent.com/22350/50819472-6b399200-132a-11e9-95fe-6469955e1a1c.png)

Looking into the history of parameter hints, assigning to

[2019-01-08 08:49] bpasero commented on #65294
@seesemichaelj does it reproduce when you run `code --disable-gpu` ?

[2019-01-08 08:52] weinand commented on #65938
@octref creating a launch config without the `preLaunchTask` is not an option?

[2019-01-08 08:53] joaomoreno commented on #66202
Repro steps:

1. Open parameter hints with a parens
2. Press <kbd>UpArrow</kbd>

[2019-01-08 08:53] isidorn commented on #65219
@cleidigh Yes, let start very simple with the Current Line prefix. Feel free to create a PR and I can review.
If the NVDA does not read it out, than that is an unrelated issue and @chrmarti would know more

[2019-01-08 08:54] XeniaSiskaki commented on #65665
I have the exact same problem in Ubuntu. Configuring `"window.titleBarStyle": "native"` didn't help me either

[2019-01-08 08:55] chrmarti commented on #66163
Including `www.` avoids GitHub's backlinking from the referenced issues which would be too noisy. Closing `as-designed`.

[2019-01-08 08:55] #66163 closed

[2019-01-08 08:55] seesemichaelj commented on #65294
yes, both `1.30.1` and `1.31.0-insider`

[2019-01-08 08:56] isidorn commented on #66000
@alexandrudima why isn't this exposed via our settings schema?
That's the reason why I could not find the setting originaly.

[2019-01-08 08:57] alexandrudima commented on #65294
Thanks @bpasero for the hint. But I did not have at hand an installation of 1.29.0 to check.

---

@johananl You mentioned the issue only reproduces in 1.30.0 and not in 1.29.0? - https://github.com/Microsoft/vscode/issues/65294#issue-392174645 - "Upgrading from 1.29.0 to 1.30.0 seems to cause the mouse cursor to behave unexpectedly"

---

@seesemichaelj @johananl Can you please confirm this was a

[2019-01-08 08:57] peni4142 commented on #66152
Thank you for your answers... Why closing it? At least the error message is a bug. How to ask for something on StackOverflow, there isn't any hint for the Problem.

[2019-01-08 08:59] alexr00 commented on #63894
I tried this out in stable (1.30) and insiders (1.31) and I can't reproduce it in either. Can you try updating to one of those and see if it still reproduces for you?

[2019-01-08 09:00] joaomoreno commented on #66202
Bisecting points to 4a38520d592310b0ec0f4bf4ab1314686e34712d as the culprit.

[2019-01-08 09:01] jrieken commented on #66134
And what should this feature do? How would it work? Search inside results or initiate search?

[2019-01-08 09:02] #65728 closed

[2019-01-08 09:06] juristr opened #66203 "Intellisense preview tooltip stuck after a while - remains open"
- VSCode Version: Version 1.31.0-insider (1.31.0-insider)
- OS Version: macOS Mojave 10.14.2

**Steps to Reproduce:** .

Unfortunately it's rather hard to give step-by-step reproduction as it starts happening "after a while". When writing the code after a bit, the intellisense preview of the function gets stuck and remains above the course until a restart. Using ESC or any other try to close it do

[2019-01-08 09:06] AeneasZhu opened #66204 "vscode cannot start offline under win10 1809"
vscode cannot open offline under win10 1809, but can under win10 1803. How to fix it?

Version: 1.30.1 (user setup)
Bug: cannot open offline on win10 1809, but ok on 1803

[2019-01-08 09:08] joaomoreno commented on #65956
LGTM
![image](https://user-images.githubusercontent.com/22350/50820582-590d2300-132d-11e9-88b9-14c840f7a4ef.png)

[2019-01-08 09:09] jrieken commented on #41882
No, the idea is that formatters must adopt this, e.g they should follow: https://code.visualstudio.com/blogs/2016/11/15/formatters-best-practices#_multiple-formatters

[2019-01-08 09:10] joaomoreno commented on #66202
@mjbvz I ended up reverting the commit and re-releasing Insiders.

[2019-01-08 09:11] jrieken commented on #66180
Yeah, that's the designed behaviour as we only ask for the primary curser and try to make it work for secondary cursors. Also not sure what to do here, esp when a range is given...

[2019-01-08 09:18] xx2342341 opened #66205 "Missing data when file is replaced"
When I open a working file and have written a lot of content in it, because of a mistake, the file is replaced by another file with the same name, and then I return to my VSCODE interface. At this time, all the previous contents are lost and are automatically replaced with the content of the new file, this design is not considered, because I did not even receive a prompt , VSCODE will automaticall

[2019-01-08 09:19] bpasero commented on #65773
I pushed a fix to ensure that the folder dialog knows from which window the request was made to open to ensure the thing opens in there.

[2019-01-08 09:19] #65773 closed

[2019-01-08 09:26] VErwin opened #66206 "Add Boolean operators to "Find""
VS Code > Main Editor Window > Find (Ctrl + F)

Add new Boolean operators to search functionality.  It would be nice if it used both Windows Query Language (AND, OR... ect) and logical operators (&, ||… ect).

![newfeaturerequest_booleanooperatorsearchfield](https://user-images.githubusercontent.com/45025626/50821370-e0ce3f80-12e3-11e9-9ae9-b9c33aa7c1d6.png)

[2019-01-08 09:27] apupier opened #66207 "Webview: support cookie and localStorage"
it would be nice to allow usage of Cookie and localStorage in Webview API, it will ease integration of web UIs relying on it.

@mjbvz in this comment https://github.com/Microsoft/vscode/issues/48464#issuecomment-384105131 you said that it was disabled. Do you any pointers for the reasons why? Any ideas on what needs to be done to support it?

[2019-01-08 09:34] sandy081 opened #66208 "Copy Extension Information has broken links for built in extensions"
- Open Extensions View
- Go to built in extensions
- Click on cog wheel icon and click `Copy Extensions Information`

🐛 Link in the copied information is broken

[2019-01-08 09:35] bpasero commented on #65665
I am quite certain this is fixed with my fix for https://github.com/Microsoft/vscode/issues/65773

[2019-01-08 09:35] #65665 closed

[2019-01-08 09:39] alexr00 commented on #66160
I think that the new task run option will do exactly what you want here. https://code.visualstudio.com/Docs/editor/tasks#_run-behavior
Check out the `runOn` property. You can use that to create a task that runs when you open the folder.

[2019-01-08 09:39] #66160 closed

[2019-01-08 09:44] alexr00 commented on #63137
This issue was moved to atom/language-java#186

[2019-01-08 09:44] #63137 closed

[2019-01-08 09:48] alexr00 commented on #63137
Moved to the owning repository since this is an issue with the text-mate grammar that we consume.

[2019-01-08 10:00] juristr commented on #66203
This seems even worse. A side-effect of this is that in case you get multiple overloads of a function, the cursor seems to be trapped inside the tooltip, so navigating around with the keyboard arrow keys doesn't work anymore.

![image](https://user-images.githubusercontent.com/542458/50823568-945f2000-1334-11e9-94cb-c499f58d3e06.png)

[2019-01-08 10:03] kennychen0606 commented on #63230
I have solved the problem.Thank you.

[2019-01-08 10:07] juristr commented on #66203
@bpasero @joaomoreno is it possible to somehow get a console trace or something from VSCode to help you guys identify what the problem here could be? Insiders version isn't really usable with this right now as I keep getting my cursor trapped by this tooltip 😅

[2019-01-08 10:15] damir-sirola commented on #66203
I'm experiencing the same issue on Windows (same version of VSCode).
Instead of restarting VSCode you can just run "Reload Window" from Command Palette.

[2019-01-08 10:37] klimyuk commented on #66120
I can give you my example of a project
[sample.zip](https://github.com/Microsoft/vscode/files/2736335/sample.zip)
just run `npm run dev` setup breakpoint and hit by url http://0.0.0.0:3000

[2019-01-08 10:42] zersiax commented on #65219
I could be horribly mistaken but I really don't think you need to do that?
If you just make sure the number is in the edit field to start with, highlighted so when you type it gets overridden pretty much like any other edit field, I think NVDA will just read it when the dialog comes up as it being the contents of the edit field. It's not really a stretch to figure out that it's talking about the c

[2019-01-08 10:43] isidorn commented on #66047
I can not reproduce this. Once I click on the start debug button all consecutive clicks are disabled.

Can you reproduce this with latest insiders, if yes please provide reproducable steps.
Thanks
https://code.visualstudio.com/insiders/

In the following gif I am clicking like crazy on the start debugging button and only one session is started

![start](https://user-images.githubusercontent.com/19

[2019-01-08 10:51] isidorn commented on #66157
@ramya-rao-a how does go write errors to the debug console?
In step 3 when debugging fails do you actually see a drop down of multiple debug consoles?
Does switching the active debug console actually show the error? Is the actual issue that the new debug console does not get focus becuase the session failed?

[2019-01-08 10:53] usernamehw commented on #66204
/duplicate of #7570

[2019-01-08 10:53] #66204 closed

[2019-01-08 10:54] Foxhoundn commented on #66149
Another occurrence of this bug.

![screenshot 2019-01-08 at 11 52 40](https://user-images.githubusercontent.com/8861481/50826455-f707ea00-133b-11e9-9fce-a8831c74f18f.png)

[2019-01-08 11:06] juristr commented on #66203
@damir-sirola Yep, that's what I meant with restarting 😁, however it stops my devserver etc..

[2019-01-08 11:14] mistralol commented on #65533
I Also Have this problem.

* I start vscode. ref: win1
* Open a project "folder1"
* File -> New Window (ref win2)
* Win2 -> File -> Open Folder -> "Folder2"
* "Folder2" Folder opens in first window.
* Win2 still left with no open folder.

Started at some point in November / December. Just updated this morning still happening. See exactly the same thing as the youtube video that @mil-ast had upload

[2019-01-08 11:22] ti-mo commented on #59162
Just noticed the same behaviour here. Why does this happen?

[2019-01-08 11:30] MathiasMagnus commented on #585
@dannymcgee You know what drives me bonkers? That collaborative code editing with remoting an entire session over the wire, even across IDEs of different flavors is implemented **before** text coloring. 🤯

[2019-01-08 11:34] DanTup commented on #64193
Sounds good to me :-)

I didn't realise it was valid to send a stack frame without a source, though I am already using `deemphasize` so with the fix #65012 my code works fine. I left this issue open just because it seemed like the expected behaviour didn't work quite right. If you want to WontFix this and recommend using `deemphasize` as a solution, that's not a problem for me 👍

[2019-01-08 11:36] bpasero commented on #65294
@seesemichaelj does it reproduce when you run code --disable-gpu ?

[2019-01-08 11:36] bpasero commented on #65294
Are you using zoom?

[2019-01-08 11:39] open-source-explorer commented on #65136
@ alexandrudima Which file should I work upon inorder to resolve this issue?

[2019-01-08 11:47] weinand commented on #54212
@rodrigovaras your proposed "simple way" API returns the contents of launch configs which makes it easy to merge 'in-memory' launch configs for use in VS Code's drop down menu.
But the API does not make clear how a user would interact with those 'in-memory' launch configs.
Normally a user can open any launch config for editing or viewing (by selecting it in the drop down and then pressing the gear

[2019-01-08 11:48] bpasero commented on #54801
Related: https://github.com/electron/electron/issues/13447

[2019-01-08 11:55] isidorn commented on #65993
The problem here is that you are returning verified: false in the response.
The problem is that whenever breakpoints change I will call the setBreakpointRequest and to that one you are always responding verified: false
Please do not return that response and all will be good.

I understand that in an another case you returnging verified true, but there seems to be a timing issue here which I do not

[2019-01-08 11:56] #65545 closed

[2019-01-08 11:57] isidorn commented on #64193
Yup, I recommend deemphasize and will not fix this. Thanks for understanding.

[2019-01-08 11:59] isidorn opened #66209 "Label service rules should be contributable via extension"

[2019-01-08 11:59] DanTup commented on #65993
@isidorn I'm a little confused. The code here is returning `verified: false` because the breakpoints are not verified. It then deletes them all and re-creates them as `verified`. At the end of this code, there should be no unverified breakpoints.

In the real project, the verified breakpoints come as a result of them actually being resolved by the VM, this is just mock code that just illustrates t

[2019-01-08 12:08] adityawibisana commented on #50445
@rozzzly : 💯  That was using node v5, anyway :)

[2019-01-08 12:36] johananl commented on #65294
Yes, it does.

The zoom functionality in Code? No, I'm not.

I am, however, using **scaling** on my displays. I have the Gnome "Scale" setting at 200% (because text is unreadable otherwise). When setting scale to 100% the problem disappears. So, the issue seems to be scaling-related.

Hope this helps troubleshoot this further.

[2019-01-08 12:48] SetTrend commented on #66000
Thanks!

It seems, though, as if this setting doesn't affect the Explorer view, does it?

![scrollbars always hide](https://user-images.githubusercontent.com/9283914/50831682-fa0ad680-134b-11e9-91b8-3ef7a0958303.gif)

[2019-01-08 12:57] isidorn commented on #66000
@SetTrend yes, this only affects the editor.

[2019-01-08 13:10] zhongbinfan commented on #66083
@egamma
Color！
It happens except for the default theme.

[2019-01-08 13:17] jrieken commented on #65992
<img width="573" alt="screenshot 2019-01-08 at 14 00 26" src="https://user-images.githubusercontent.com/1794099/50832201-c335c000-134d-11e9-879b-bbd736fa74ce.png">

Doesn't actually reproduce for me... Can you share the full file with me?

[2019-01-08 13:18] alexandrudima commented on #66000
@isidorn because you need to restart VS Code for the setting to apply and work is needed in the scrollbar and in the editor to handle the change event.

[2019-01-08 13:30] #63391 closed

[2019-01-08 13:34] alexandrudima commented on #66000
AFAIK none of the (code) editor settings ask for a reload. I know disabling the telemetry crash reporter process requires a restart, but the settings that really need a restart should IMHO be very few.

I am not arguing about anything... I am just describing that to expose these as real user settings some work needs to be done to polish things, to react to the change event, perhaps even come up wi

[2019-01-08 13:40] javadbat commented on #65163
its get better and execute bootstrap.js
and then serve app successfully but after some sec it throw error and stop debugging

![image](https://user-images.githubusercontent.com/11534875/50833973-16b50780-1368-11e9-8ea5-6d48417474d8.png)

the project run and served without any problem after that but debug mode disapear after select any option on message box

[2019-01-08 13:42] bpasero opened #66210 "Status bar: no longer able to "Manage Extensions""
Steps to Reproduce:

1. right click on the TS version in the status bar
2. pick "Manage Extension"
3. 🐛 nothing happens

Works fine in stable.

[2019-01-08 13:42] SetTrend commented on #66000
... and, I may add, to extend this feature to _all_ panels, including Explorer and Terminal, as it is an accessibility setting.

[2019-01-08 13:44] Kumar21 commented on #65723
Sure,, I was talking about this feature..
![icon demo](https://user-images.githubusercontent.com/16679527/50833978-df9b2200-1378-11e9-9924-e51b9ceb124c.png)

I have tried to achive this by using HTML come inside back tick (` `) at  **MenuBar** . But I got issue during build as i can't pass HTML inside back tick for String type menues

[2019-01-08 13:46] rogeramitchell commented on #65887
@alexandrudima disabling all extensions, I am unable to reproduce. I re-enabled all extensions, and was able to reproduce. I disabled only this extension `salesforce.salesforcedx-vscode-lightning`, and was unable to reproduce. I'll open an issue with Salesforce as they are the maintainer of that extension. Also, I'll try disabling all extensions in the future to see if the issue persists. Thanks f

[2019-01-08 13:49] alexandrudima commented on #65887
:+1: Thank you for following up @rogeramitchell

[2019-01-08 13:49] #65887 closed

[2019-01-08 13:50] usernamehw commented on #65723
Possible duplicate of #53868

[2019-01-08 13:51] usernamehw commented on #53868
It would be great to have icons in custom menus (and they're now the default ones).

![create-debug-configuration-context-menu](https://user-images.githubusercontent.com/9638156/50834624-9db4b080-1365-11e9-8071-e483e3014e06.png)

[2019-01-08 14:01] darekf77 commented on #65918
Solution for me was to change of color theme.

[2019-01-08 14:06] juristr commented on #66203
Latest Insider update Version 1.31.0-insider (1.31.0-insider) (7b375fcb821bee9342656c39492223c7b5fc8830) seems to have fixed this. Leaving the issue open for a couple of hours to verify it doesn't pop up again

[2019-01-08 14:10] MariuzM opened #66211 "SQL Format issue"
I have this SQL query:

[code]

But when i do format it make it like this:

[code]

Is this a bug?

[2019-01-08 14:12] pecigonzalo commented on #65739
Ok, maybe we should tag this "wontfix", I dont know if you guys use tags or not, I believe its still a bug as de window decoration should not affect the menu.

[2019-01-08 14:23] Tyriar opened #66212 "Diagnostics are not aligned correctly"
Notice the problem is shifted several pixels down and covers some of the below text.

@rebornix for monaco, @jrieken for diagnostics

![image](https://user-images.githubusercontent.com/2193314/50836243-95c92200-130d-11e9-8730-85b96c3b72e7.png)

VS Code version: Code - Insiders 1.31.0-insider (f599942a5f1ce23445eb1dd7e0ff799ab7a0a175, 2019-01-08T06:19:45.505Z)
OS version: Windows_NT x64 10.0.18305

[2019-01-08 14:40] sandy081 opened #66213 "Reduce number of listeners in Extensions view and editor"
Currently every widget and actions in each extension (viewlet and editor) has a global listener to check if there is a change and update itself. This causes 100s of listeners being added to a global event. Avoid this by

Having a single listener per extension in viewlet and editor and propagate the change to its actions and widgets.

[2019-01-08 14:41] isidorn commented on #65993
@DanTup will investigate a bit more tomorrow and will write details here.

[2019-01-08 14:43] #66213 closed

[2019-01-08 14:48] scarolan commented on #66055
You are 100% correct - it turns out git was the culprit.  Still, it would be nice to be able to force LF all the time, everywhere for certain file types (shell scripts).  I'm going to close this issue.

[2019-01-08 14:48] #66055 closed

[2019-01-08 14:56] dengdairiluo commented on #66146
Yes. I use "git config --global core.editor code" to set vscode. when I use "git rebase -I"
<img width="630" alt="1" src="https://user-images.githubusercontent.com/10458959/50838273-978bf780-1398-11e9-8f4b-38d9ef05b505.png">
<img width="883" alt="2" src="https://user-images.githubusercontent.com/10458959/50838276-9c50ab80-1398-11e9-8f86-d4c9b149971e.png">

[2019-01-08 14:58] dengdairiluo commented on #66146
When I use vim,
<img width="646" alt="image" src="https://user-images.githubusercontent.com/10458959/50838371-d457ee80-1398-11e9-83de-e1a5d5e2b2f0.png">

[2019-01-08 14:59] Tyriar opened #66214 "TextEdit.setEndOfLine applies an edit and invalidates redo stack even when no change is made"
Repros in 1.30.2 and 1.31.0-insiders, _not_ 1.29.1

Repro:

1. Install Editor Config extension
2. Add .editorconfig file to root with this contents:

[code]
3. Open some file
4. Delete 2 lines
5. Save
6. Undo three times (notice that you have to undo 3 times to undo the 2 edits, this is because `TextEdit.setEndOfLine` caused an extra edit)
7. Save
8. Try redo, this doesn't work because `TextEdit.s

[2019-01-08 15:00] Tyriar commented on #65663
I think this is the underlying cause of the issue https://github.com/Microsoft/vscode/issues/66214

[2019-01-08 15:01] Cre3per opened #66215 "C++17 namespace attributes break syntax highlighting"
- VSCode Version: 1.30.1 dea8705087adb1b5e5ae1d9123278e178656186a x64
- OS Version: Debian testing buster Kernel: x86_64 Linux 4.18.0-2-amd64

Steps to Reproduce:

1. Using C++ language mode and the Default Dark+ theme, copy/write the following code into the editor
[code]
Github also seems to have a problem with this.

Does this issue occur when all extensions are disabled?: Yes

[2019-01-08 15:01] Tyriar commented on #43169
Please stop commenting here if you're on Windows 10, you're seeing a bug in Windows that is fixed in the next version #57803.

[2019-01-08 15:06] Tyriar commented on #17450
@timdmackey the cwd in split terminal is driven by this:

![image](https://user-images.githubusercontent.com/2193314/50838835-d9268f00-1313-11e9-81af-ba2ac19da14f.png)

It sounds like inherited (likely) breaks when it contains a `'`? Can you create a new issue for this?

[2019-01-08 15:09] Tyriar commented on #65682
I just googled and it looks like the deb problem can be caused by anti-virus? It's likely a problem with your environment and not with VS Code https://bugs.launchpad.net/ubuntu/+source/dpkg/+bug/1739991

[2019-01-08 15:09] #65682 closed

[2019-01-08 15:09] bpasero commented on #66146
@dengdairiluo so you are saying that the file opens in VSCode in both cases but simply in the one case the editor is empty?

[2019-01-08 15:11] jrieken commented on #66214
Not sure what has changed, this code has been stable in the last months: https://github.com/Microsoft/vscode/blob/5aba426b77d58dbeedbc539d1780931b917cb8bb/src/vs/workbench/services/bulkEdit/electron-browser/bulkEditService.ts#L92-L104

[2019-01-08 15:12] dbaeumer commented on #66164
In dev mode it doesn't have an argument. When we produce the produce there is some JS rewriting happening which injects `__filename` as an argument. So localization and language pack only work in the product. Not when running from dev or when developing an extension.

[2019-01-08 15:13] sunq0001 opened #66216 "identifier "cout " is undefined, although C++ code can run with 0 errors"
- VSCode Version:1.30.1(user setup)
- OS Version: Win10

Steps to Reproduce:

### configuration

launch.json
[code]

c_cpp_properties.json

[code]
tasks.json

[code]
### extensions:

- C/C++ 0.20.1
- C++ Intellisense 0.2.2

### demo code

[code]
in terminal, it shows error

but output can show correct result. 0 errors.

could you help take look into this issue?

Does this issue occur when all exte

[2019-01-08 15:16] #66216 closed

[2019-01-08 15:32] bitfield opened #66217 "Terminal stops redrawing when logged in as 'root'"
Issue Type: <b>Bug</b>

1. Activate the integrated terminal.
1. Run `sudo su -` to become root.
1. Type a command which generates enough output to cause the screen to scroll (e.g. `man --help`)
1. Press Shift-Cmd-Up to select all text between the cursor position and the previous command.
1. The last few lines of output are highlighted, but the terminal is now unresponsive.
1. Pressing keys does no

[2019-01-08 15:34] Tyriar commented on #21125
Another issue: https://github.com/Microsoft/vscode/issues/66182

[code]

![image](https://user-images.githubusercontent.com/2193314/50840642-ce6df900-1317-11e9-80ef-9d1dd5705fc6.png)

[2019-01-08 15:34] Tyriar commented on #66182
Merged into https://github.com/Microsoft/vscode/issues/21125

[2019-01-08 15:34] #66182 closed

[2019-01-08 15:41] Tyriar commented on #66130
This is pretty old, a while ago there was a problem where an exception was thrown in core terminal code which bricked it, maybe you're seeing that? Could you update and see if it's all good now?

[2019-01-08 15:42] tgrk commented on #66153
Hi, I am experiencing same issue for version 1.30.1. Problem appears every now an then when I open file in side buffer (either from menu or using shortcut). I am able to scroll buffer, open context menu etc but I am not able to use arrow based navigation and any editing/selection of text in that buffer.  I found a workaround that makes secondary buffer responsible again by clicking on output panel

[2019-01-08 15:48] #63466 closed

[2019-01-08 15:49] #63230 closed

[2019-01-08 15:49] OnorioCatenacci commented on #59544
Just for the reference of anyone else that may see this: It's not "_file:\_" that is a workaround for this.  It's "_file://_" that works around this issue.

[2019-01-08 15:49] Tyriar commented on #66200
It's happening because of the emoji at the start of the line, see https://github.com/Microsoft/vscode/issues/66125

[2019-01-08 15:49] #66200 closed

[2019-01-08 15:51] aeschli commented on #63039
Thanks for the PR. Closing this issue and using the PR to track progress.

[2019-01-08 15:51] #63039 closed

[2019-01-08 15:59] aeschli commented on #62879
That should only happen if the formatter changes the code in such a a way that there's no longer a folding region.
Here's what I see with the built-in HTML formatter on collapsed code. Formatting does not uncollapse:
![folding-on-format](https://user-images.githubusercontent.com/6461412/50842293-ab1e6a80-1366-11e9-8c96-7a63b6820d65.gif)

Please add a small reproducible code sample and describe the

[2019-01-08 16:00] juristr commented on #66203
for me it is solved with the latest Insider. @damir-sirola can you confirm?

[2019-01-08 16:12] #66177 closed

[2019-01-08 16:42] yangshuairocks commented on #65992
I tried on a newly created VM with the three snippets I mentioned and I can't reproduce the issue. So it seems the three snippets is not the reason here. Do you have any suggestion on how can I debug and find the root cause?

[2019-01-08 16:42] aeschli commented on #62377
I still don't know of a search index for all private scopes. We just provide a hard coded list. I added the proposed scoped.

I fixed the query for the scoped package names

[2019-01-08 16:42] #62377 closed

[2019-01-08 16:42] #66218 closed

[2019-01-08 16:43] bpasero commented on #66218
Indeed we would not return an exit code of 1 if there is any error when loading and running the mocha test files. I pushed a change to make it fail, however this could end up with a ripple of now failing extension tests for all extensions, so I might have to pull this out again (even though I think the change is right - because not being able to run tests should not be reported as exit code of 0).

[2019-01-08 16:44] queeniema commented on #66069
Thanks for the info!

[2019-01-08 16:44] #66069 closed

[2019-01-08 16:46] oxysoft commented on #1012
It's a especially useful when changing values in similar or matching character columns. See the following example:

[code]

I've just got done copy pasting this line 3 times. As you can see, `x` needs to be changed in 4 locations. (and no I can't do `offset / period`, this is with Unity3D) I would go into overwrite, change the first two `x` on the left, press `<END> <LEFT>` to move at warp speed a

[2019-01-08 16:48] #60599 closed

[2019-01-08 16:50] aeschli commented on #57968
duplicate of #63097

[2019-01-08 16:50] #57968 closed

[2019-01-08 16:52] geisels commented on #65278
I have same problem. In anothers application all fine.

Version: 1.30.1
Commit: dea8705087adb1b5e5ae1d9123278e178656186a
Date: 2018-12-18T18:07:32.870Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
OS: Linux x64 4.15.0-43-generic

[2019-01-08 16:57] Quentinix commented on #66211
It may be a problem on an extension, VSCode does not allow formatting.
I use SQL Formatter from Cymon [https://marketplace.visualstudio.com/items?itemName=cymonk.sql-formatter](https://marketplace.visualstudio.com/items?itemName=cymonk.sql-formatter)

The result of formatting
[code]

[2019-01-08 16:58] roblourens commented on #66164
It doesn't work in the product either.

[2019-01-08 16:58] aeschli commented on #60546
The updater will remove the VSCode instllation including the built-in extensions. Don't put anything in there.
Instead use the extensions location in your user folder (e.g. `C:\Users\youruser\.vscode\extensions`)

[2019-01-08 16:58] #60546 closed

[2019-01-08 16:59] chrisjsewell commented on #66218
Cheers

[2019-01-08 17:00] jrieken commented on #65992
Hm, tricky... Do you have any special settings for the suggest widget? What do you see when running F1 > Insert Snippet?

[2019-01-08 17:03] roblourens commented on #64606
Oh, interesting! Are those files extremely large or something? Try without `search.usePCRE2` enabled.

FYI @BurntSushi

[2019-01-08 17:12] melMass commented on #64565
There is a prompt so the autodetection is there.
The dialog does not follow the

that many other VSCode prompts have.
We need that to be an option which is not the case for now (I think).

I like @cdaringe 's proposal but at settings level rather than adding a flag to `code`'s executable. I don't mind the UI flashing ( while auto reloading on workspace detection ). We should then just post a new n

[2019-01-08 17:15] instanttim opened #66219 "When saving an open "folder" as a workspace, needless hierarchy is added."
Issue Type: <b>Bug</b>

When opening a folder (dir) in VSCode, the sidebar "section" header becomes the folder name and you can easily open and close it to see all the files or hide them. When you save as a workspace, it changes the header to be the name of the workspace (which is fine) but then puts the single folder as an item inside the section. Now you have two disclosure triangles that essent

[2019-01-08 17:16] foodini opened #66220 "Opening a new window/instance presents an unbrowsable environment."
- VSCode Version: 1.30.0
- OS Version: Mac OS 10.13.6

Steps to Reproduce:
1. Open a project directory. My project includes a mix of C++/Go/Python. I don't believe the issue is extension-related because it occurs for all languages.
2. Control-click on some identifier and click "Go To Definition"  (This will work.)
3. Hit Control-Shift-O, and enter the name of a file in the project (delete the @ si

[2019-01-08 17:23] Tyriar commented on #65753
This is how I've been seeing this most of the time:

[code]

[2019-01-08 17:32] BurntSushi commented on #64606
Yeah, I'm not too familiar with PCRE2 JIT internals, but if the stack can grow based on the stuff being searched, then that error is always going to be possible. ripgrep could grow two additional flags to mitigate this. One such flag is the ability to increase the stack size. It's conceivable that we might want to bump this above the default anyway. Another flag is the ability to disable the JIT.

[2019-01-08 17:41] RMacfarlane commented on #66206
Search supports using regular expressions, which allows for robust pattern matching. You can turn it on for a search using the last button inside of the text input:

<img width="457" alt="screen shot 2019-01-08 at 9 38 46 am" src="https://user-images.githubusercontent.com/3672607/50848502-4ee92580-1329-11e9-9d81-8a43e86ef91b.png">

[2019-01-08 17:41] #66206 closed

[2019-01-08 17:42] Tyriar commented on #65433
@TylerLeonhardt any idea what the problem could be?

[2019-01-08 17:48] huguesalary commented on #66183
@bpasero it seems to me you did reproduce it, or maybe I'm not seeing your recording correctly.

But what I see in your recording is you opening `test-ts`, switching back to your terminal, then opening `test-js`, which makes the `test-js` window flash quickly, and right away `test-ts` shows up and is focused.

I would expect `test-js` to pop-up and stay in focus.

[2019-01-08 17:54] luabud commented on #66047
I was able to reproduce it with an open folder:

![vscodedebugger](https://user-images.githubusercontent.com/45497113/50849258-514c7f00-132b-11e9-8434-3d08c740094a.gif)

[2019-01-08 17:56] #36053 closed

[2019-01-08 17:56] #65508 closed

[2019-01-08 17:59] huguesalary commented on #66183
Ok, I think maybe you hit a key in your recording that made the `test-js` window get back in focus, and that's what confused me.

I tried again on my mac and I actually have a better understanding of what's happening:

This bug occurs with multiple monitors.

With the following setup:
- On monitor 1: nothing.
- On monitor 2: my terminal.

1. In my terminal, I run `code ./test1`, which somehow open

[2019-01-08 18:00] rebornix commented on #65641
@joaomoreno @Tyriar FYI, we may need to verify this when publishing snap.

[2019-01-08 18:05] RMacfarlane commented on #66219
Hi @instanttim, I think this is by design. The primary purpose of a workspace in VSCode is to allow opening multiple projects at a time, see https://code.visualstudio.com/docs/editor/multi-root-workspaces for more info. If you are only interested in working with a single folder at a time, then you can continue to open just that folder instead of saving it as a workspace.

[2019-01-08 18:05] #66219 closed

[2019-01-08 18:06] rebornix commented on #65643
This issue was solved in Insiders which updates to Electron 3.0.x.

[2019-01-08 18:06] rebornix commented on #65643
/duplicate of https://github.com/Microsoft/vscode/issues/65580

[2019-01-08 18:06] #65643 closed

[2019-01-08 18:07] rebornix commented on #65526
@chulpyo can you help try our Insiders version, which updates to Electron 3.0 and see if you can still reproduce?

[2019-01-08 18:11] RMacfarlane commented on #66211
Hey @MariuzM, what type of file is this saved in? Out of the box, VSCode does not come with a formatter for SQL files. As @Quentinix says, this may be a problem with an extension you're using. Can you provide a list of extensions you're using?

[2019-01-08 18:12] Tyriar commented on #65641
Duplicate https://github.com/Microsoft/vscode/issues/51308

[2019-01-08 18:12] #65641 closed

[2019-01-08 18:16] #19770 closed

[2019-01-08 18:18] RMacfarlane commented on #66195
@freeacger Can you provide a larger code sample that can be used to reproduce the problem?

[2019-01-08 18:20] astier commented on #66141
I find myself often in one of the following situations when some settings for my typed search-term are found:
- Wrong settings are found because I didn't know the correct search-term and now I want to delete the complete term and type a completely knew one with the hope that the new term will show me the correct results.
- I typed the correct term and found the correct settings. After changing the

[2019-01-08 18:21] roblourens commented on #64606
I do need to at least expose this error to the user because right now I only whitelist certain errors.

It would be awesome if ripgrep could detect that certain regex features are used, and decide which engine to use. Technically I could do this in vscode too but it's an awkward thing to do at that level. I don't want to turn on PCRE2 all the time by default if it is slower (https://github.com/Bur

[2019-01-08 18:21] instanttim commented on #66219
@RMacfarlane but the workspace-level settings that can be "synced" by committing to the repository is quite useful. Wouldn't it seem reasonable though to only add the additional hierarchy when you add the second folder? So with only one folder, it's just like working with a single folder is already. Once you have more than one folder it pops them in there?

[2019-01-08 18:23] RMacfarlane commented on #66205
Duplicate of https://github.com/Microsoft/vscode/issues/23107, let's track this there

[2019-01-08 18:23] #66205 closed

[2019-01-08 18:23] PeterJohnson commented on #7570
This looks like the same issue and says one workaround is to add a loopback adapter.  What it looks like is happening is that specific Windows version (1809) shuts down DNS when there's no adapter active.  Adding the loopback adapter fakes Windows into keeping DNS up.   https://discuss.atom.io/t/atom-wont-start-without-internet/60939/6

[2019-01-08 18:26] mittalyashu opened #66221 "Run pre-defined rules"
Using `.vscode/settings.json` we are define custom settings specific to that repository. Same way...

We can create a `.vscode/rules.json` file to define certain types of rules which will run automatically when we will open that repository.

**For example:**

[code]

These are just a few example of the idea, we can even create more complex rules.

[2019-01-08 18:32] ndeviant commented on #38899
I agree wth equinusocio. I enabled autoReveal just to prevent scroll of sidebar, but i want to see the actually active tab in sidebar.
Looks like you disabled this since [https://github.com/Microsoft/vscode/issues/14745](url) issue. But it was really fine before, and I expect the selection to show the active file.

[2019-01-08 18:33] instanttim commented on #66219
I did some testing. If you don't use workspaces, but open the folder directly, there is still a Settings tab called "Workspace Settings" and changing values there creates the .vscode directory and puts a settings.json in there. This is very odd, since when using workspaces that same behavior indicated with a settings tab called "Folder Settings". Perhaps I should open an issue that the settings UI

[2019-01-08 18:34] sbatten commented on #65739
@pecigonzalo the setting affects menus and window decorations. all menus in the application are affected by this setting as see the title bar contains the menu bar with the custom setting.

[2019-01-08 18:34] cdaringe commented on #64565
i started getting the prompt.  for me personally, the prompt is sufficient.  adding the setting would still be a nice-to-have, but i'm now content.  will leave open for the other interested parties

[2019-01-08 18:35] RMacfarlane commented on #66219
Haha, I was in the middle of trying to write up an explanation, but you beat me to it. https://stackoverflow.com/a/51881104/10136042 does a good job of explaining workspaces

[2019-01-08 18:35] sbatten commented on #65723
@usernamehw yep, thanks for the pointer

[2019-01-08 18:35] #65723 closed

[2019-01-08 18:38] equinusocio commented on #38899
No news after almost 14 months...

[2019-01-08 18:42] BurntSushi commented on #64606
@roblourens Aye, see: https://github.com/BurntSushi/ripgrep/issues/1155

[2019-01-08 18:42] roblourens commented on #65945
- How long does it take search to complete?
- Do you see an `rg.exe` process using lots of CPU while the search is running?
- Do you see Windows Antimalware using CPU while the search is running? (msmpeng.exe)

[2019-01-08 18:43] usernamehw commented on #66221
Looks more like an extension idea.

Something of the sort https://marketplace.visualstudio.com/items?itemName=gabrielgrinberg.auto-run-command

[2019-01-08 18:46] RMacfarlane commented on #66220
Hi @foodini, you can open the same project in a new window by using Cmd+Shift+P and then typing `Workspaces: Duplicate Workspace in New Window`. There's an open feature request for allowing opening the same project in multiple windows more generically, without having to use that command: https://github.com/Microsoft/vscode/issues/2686. But for now I think that command should do what you want.

[2019-01-08 18:46] #66220 closed

[2019-01-08 18:49] bcdady commented on #65857
I feel the most negative performance impact when I'm trying to use the new OUTLINE panel (in Explorer Side Bar) and while using Code Spell Checker [streetsidesoftware.code-spell-checker]. I most often work with PowerShell and Markdown files, and it seem that when the PowerShell Integrated Console is running (in Terminal, as required for OUTLINE at least), is when Code feels most laggy.

[2019-01-08 18:51] sbatten commented on #65056
on windows, holding shift with alt to focus the menu is acceptable, but that doesn't appear to be the case on linux, so i'll try to make this better on linux.

[2019-01-08 18:51] skyvondave commented on #50713
So a duplicate issue should be filed?

[2019-01-08 18:53] sbatten commented on #65056
not that I expect anyone to relearn the way they hit shortcuts, but as a workaround, if you hit alt, then shift instead of shift, then alt, the menu bar won't be focused.

[2019-01-08 19:02] poshcodebear commented on #43169
@Tyriar, are you positive that's the same issue?  Based on the description, that's different than the behavior I've seen on Windows 10, and I've not installed 1809 on any of my machines yet.

[2019-01-08 19:03] RMacfarlane commented on #66197
@chnliquan 	Can you paste the part of your `package.json` that adds the custom activity bar view? Does it meet the icon specifications [here](https://code.visualstudio.com/api/references/contribution-points#contributes.viewsContainers)?

[2019-01-08 19:06] luxsnell opened #66222 "Closes without warning"
- VSCode Version: 1.30.2
- OS Version: Windows

Steps to Reproduce:

Whenever I hit X button to close (quit), it just closes without any warning !

[2019-01-08 19:07] Tyriar opened #66223 "Let me theme diff editor's inserted text background differently in the scroll bar"
Currently `diffEditor.insertedTextBackground` and `diffEditor.removedTextBackground` are used to color both the background in the editor and the decorations in the scrollbar. The problem is in order to make the text contrast good enough so that I can read the text, that make the color in the scroll bar unreadable.

Before (good scroll bar, bad editor):

![image](https://user-images.githubuserconte

[2019-01-08 19:26] jonpincus opened #66224 "Code Helper consumes 100% of CPU"
Issue Type: <b>Bug</b>

Issue Type: <b>Performance Issue</b>

This only started happening after I upgraded to version 1.30.1   Now, it happens fairly frequently - enough that it's borderline unusable.  It stays at 100% CPU for anywhere from 5 seconds to a minute or two.  I've disabled all my extensions.

It seems to happen more often when I'm running the app in the debugger, but also happens spont

[2019-01-08 19:30] Tyriar commented on #66223
This is what I'd like to do:

![image](https://user-images.githubusercontent.com/2193314/50853935-90cd9800-1338-11e9-9e30-a3ea25f4bafa.png)

So I guess 2-4 more theme keys:

[code]

Provided that the scroll color is not purely based on the background color of the editor by design?

I can try do this if I get some guidance on the approach and a code pointer.

[2019-01-08 19:33] Tyriar opened #66225 "Selection should be drawn on top of diff editor insert/delete backgrounds"
![image](https://user-images.githubusercontent.com/2193314/50854177-3aad2480-1339-11e9-8660-a30e22649e49.png)

[2019-01-08 19:34] loligans commented on #63152
Would it be possible to add a setting to hide the "Show Welcome Page at Startup" checkbox?

[2019-01-08 19:34] RMacfarlane commented on #66193
Hmm, there is a bug for this in version 1.31.0 of VSCode, but not 1.30.0: https://github.com/Microsoft/vscode/issues/65456

When this happens, can you see if there is anything in the console by doing CMD+Shift+P `Developer: Toggle Developer Tools`? And just to confirm, you have tried disabling all extensions by running `Reload Window With Extensions Disabled`?

[2019-01-08 19:38] mjbvz commented on #66207
The webview has is no concept of cookies or localstorage because it has no concept of a host, it is just an html document that is rendered and not a webpage that you visit. No plans to change this.

You can use the webview state apis to workaround this: https://code.visualstudio.com/api/extension-guides/webview#getstate-and-setstate

[2019-01-08 19:38] #66207 closed

[2019-01-08 19:38] mjbvz commented on #66203
Duplicate of #66202

[2019-01-08 19:38] #66203 closed

[2019-01-08 19:42] gregg-miskelly opened #66226 ""debugType" command "when" conditions do not work after a debug session restart"
- VSCode Version: Version: 1.31.0-insider (system setup)
Commit: 7b375fcb821bee9342656c39492223c7b5fc8830
Date: 2019-01-08T09:30:46.424Z
Electron: 3.0.13
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.17763

### Steps to Reproduce:

1. Create an extension that registers a command with a `when` condition like `"when": "inDebugMode && debugType == 'coreclr'"` ([C# exten

[2019-01-08 19:46] mjbvz commented on #66202
Thanks @joaomoreno! Caused by this line https://github.com/Microsoft/vscode/commit/4a38520d592310b0ec0f4bf4ab1314686e34712d#diff-8a4c4868765f5b76405fd127beb9ac6aL79 Will check in again with that line reverted

[2019-01-08 19:48] Tyriar commented on #66221
Also heck this one out https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-terminals

[2019-01-08 19:48] #66221 closed

[2019-01-08 19:48] #66208 closed

[2019-01-08 19:50] #66202 closed

[2019-01-08 20:02] Spongman commented on #46897
the weird thing is that if you switch the type of the file to `javascript`, then it formats just fine.

seems like a bug to me.

[2019-01-08 20:06] usernamehw commented on #66223
Could there be added another feature?

Currently colors `diffEditor.insertedTextBackground` & `diffEditor.removedTextBackground` are used to style:
1. Background of the entire changed line
2. Background of the piece of actually changed code in line (derived / 2x less transparent?)

That results - if I change color to be too transparent - the changed code is barely visible.
If I change color to be

[2019-01-08 20:20] usernamehw commented on #66223
There are already colors for scrollbar:
[code]
but they are not respected in diff editor scrollbar.

[2019-01-08 20:21] dbaeumer commented on #66164
@weinand did quite some work to get this working for his debug adapter. Anything you can share. I also remember discussion with @jrieken about difficulties with debug in case it is web packed and uses a dependent npm package that should be localized.

[2019-01-08 20:36] jenstornell opened #66227 "PHP style tag syntax highlighting looks horrible"
- VSCode Version: 1.30.1
- OS Version: Windows 10

Steps to Reproduce:

1. Create a php file with the code in the image.

Does this issue occur when all extensions are disabled?: Yes

![image](https://user-images.githubusercontent.com/927011/50857107-e92e8500-138c-11e9-866f-a126e4551edf.png)

[code]

[2019-01-08 20:43] misolori opened #66229 "Test: New version of Octicons"
Refs: https://github.com/Microsoft/vscode/issues/65508

- [x] macOS: @isidorn
- [ ] Windows: @auchenberg
- [x] Linux: @roblourens

Complexity: 2

We've updated our version of Octicons to the latest (3.1.0 => 8.3.0) and we've also added some additions/modifications (see https://github.com/Microsoft/vscode/pull/65989 for the full description). You should be able to use [any Octicon](https://octicons

[2019-01-08 20:53] octref opened #66230 "HTML attribute completion description"
Although we have no short descriptions for HTML attributes, [custom contributions](https://github.com/Microsoft/vscode/issues/62976) of HTML attributes can have completions.

In the future when https://github.com/mdn/short-descriptions expands to HTML, we can also add descriptions for all [standard HTML attributes](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes), too.

So we should i

[2019-01-08 20:57] gwagener commented on #64561
That's a hard question as I now know what to do so it seems pretty obvious that the gear with a minus on it in the exclude files input represents the "exclude settings".

I think it would be helpful if, when you deselect the gear, a message is immediately shown saying "exclude settings and ignore files will be disabled". Also, having messaging about what will happen on your next search if it's dif

[2019-01-08 21:06] crlang44 commented on #2766
I'm definitely for having the preview open by default, most of the time I want to read md files rather than edit them. We can do this and add a setting to change it if you want the editor open by default instead.

[2019-01-08 21:27] ChazyTheBest opened #66231 "Array interpolation in PHP has wrong syntax highlighting"
- VSCode Version: 1.26.0-insider
- OS Version: Manjaro Linux
- No extensions

Steps to Reproduce:

1. Double quote an array (either indexed or asoc).
2. The square brackets don't have the appropriate syntax highlight color (white).

`echo "123$foo[bar]456";`

Does this issue occur when all extensions are disabled?: Yes/No

[2019-01-08 21:32] #66227 closed

[2019-01-08 21:44] VErwin commented on #66206
Hi Rachel :-)  Thank you for providing the screenshot. 👍

The tooltip and icon as they are currently presented aren't very helpful for me.  To me it read as wildcard - which is the opposite of what I'm trying to do.  This might be a dumb question - but it seems that while pattern matching is helpful, it still gives me more results.  I want to narrow down my results.  Is there a 'not' operator?

Al

[2019-01-08 21:45] dbechrd commented on #16488
This would save me an insane amount of time on a daily basis.. the problem is compounded by the fact that you can't open VSCode twice in the same directory (it just focuses the already open window) so it can't even be worked around by having two instances of VSCode running.

Having to delete my search during a refactor to look for something else, then recreate it manually and re-prune the list of

[2019-01-08 21:45] caadam opened #66232 "Support multiple levels in TreeView menu"
Just like the WPF/Win32 treeview I'd like to see support for multiple levels in the treeview context menu.

For example:

![image](https://user-images.githubusercontent.com/9862845/50860791-8bc52300-13e2-11e9-84a0-8a98149e80de.png)

[2019-01-08 21:57] OliverJAsh opened #66233 "Move/rename file as a command"
I like to use files using the VS Code file explorer, as this is the only way to move/rename a file and then have TypeScript prompt you if you would like to update imports.

However, in a large project, it gets extremely difficult to move files using drag and drop. Folders tend to get very large, with multiple levels of nesting.

Is there an alternative way to move a file? Perhaps this could be don

[2019-01-08 22:01] nealot commented on #63152
I'm a fan of the visual studio 2010 start page as it emphasizes the various sections quite nicely:

![image](https://user-images.githubusercontent.com/36805289/50858823-85419780-135f-11e9-8c27-61711c01f669.png)

I have the current welcome screen disabled because the keyboard is much faster. However, if the page featured news/tips using the layout above then I might actually enable it.

I'm not sur

[2019-01-08 22:16] bburtin commented on #63630
I'm also hitting this problem.  As I type this, I have about 8 **code** processes running tsserver.js or typingsInstaller.js.  Each one is consuming 30-180% CPU.  Would be great to get a fix or workaround.
[code]

[2019-01-08 22:17] smeijer opened #66234 "Add option to delete remote branch, after merging GitHub PR"
After merging a PR through the GitHub "Pull request" page, I get an option to delete the remote branch after the merge:

![image](https://user-images.githubusercontent.com/1196524/50861990-ad9ab780-139a-11e9-8142-3ca77b50f253.png)

Currently, the Visual Code - Github pull requests page does not have this option:

![image](https://user-images.githubusercontent.com/1196524/50862040-cc994980-139a-11e

[2019-01-08 22:22] RMacfarlane commented on #66222
Hey @luxsnell, sorry for the unexpected behavior! You can control this with the `files.hotExit` setting. By default it is set to 'onExit', which skips the save prompt but will remember unsaved files across sessions so that your content is not lost. If you do want to see a prompt to save files on exit, you can change this setting to 'off' instead.

[2019-01-08 22:22] #66222 closed

[2019-01-08 22:26] Rhobal opened #66236 "Feature Request: generate imports when copying code between files"
In eclipse Java editing, copying a code snippet from a class to another also automatically copies the imports required by the copied code.
Would be nice to have this in VS Code for typescript as well. Currently when I copy some code, I have to manually resolve the imports afterwards.

[2019-01-08 22:37] gianlucaborello commented on #66165
I will also say that starting from this release sometimes search results don't even show up in the panel anymore. And when they do, sometimes clicking on them doesn't open the editor (original described issue).

[2019-01-08 22:47] russelldavis opened #66237 "Keyboard navigation in settings editor is broken"
Issue Type: <b>Bug</b>

1) Open the settings editor
2) Click on an empty place on the page so it has the focus
3) Press down/up/pagedown/pageup to navigate.

Expected: The settings page should scroll
Actual: Nothing happens

Related issue: I tried to navigate using tab instead of the arrow keys. That looked promising, but it only scrolls down partially through the list. It looks like there's some

[2019-01-08 22:50] figalex commented on #14710
Please add something like this, I keep hitting `CMD+w` by mistake! so annoying...

[2019-01-08 22:52] Furqan136 opened #66238 "'File has unexpected size' on apt update"
- VSCode Version: 1.30.2
- OS Version: KDE Neon 5.14 (Latest)

Steps to Reproduce:
1. Run apt-get update in terminal

It used to occur a month or two ago but got fixed. There are some other issues on this topic but they a a year older and have been closed.

Yesterday it started again. It was happening with previous vscode version(1.30.1) too. I updated using the deb file. Following is the terminal

[2019-01-08 22:55] jabacchetta commented on #65996
Yeah, I think I'm usually focused on a single problem when one pops up, rather than multiple that may occur in a file (f8) or across all open files (problem panel), mainly because there are some that I choose to ignore (e.g. spelling errors that I have set up to display as information).

But now that I think about it some more, this might actually not be a big deal once the hover positioning featu

[2019-01-08 22:55] #65996 closed

[2019-01-08 23:00] TheEyeOfBrows opened #66239 "Debug Add Configuration button deletes line when new line present"
Issue Type: <b>Bug</b>

Issue:
When "launch.json" contains an extra line between the open array and the open object for "configurations", the "Add Configuration..." button has unexpected behavior.

Example setup:
[code]

Reproduction:
* Open a new, empty folder
* Select Debug menu from left pane
* Select "No Congigurations" drop down and change to "Add Configuration..."
* Select "Node.js" (should

[2019-01-08 23:00] usernamehw commented on #37727
It's not exactly the solution but there's a new feature in [Insiders](https://code.visualstudio.com/insiders/) https://github.com/Microsoft/vscode/issues/24344

[code]
When holding modifier key <kbd>Alt</kbd> scrolls much faster (applies to views like explorer too).