[2020-10-19 07:13] sergey-beloglazov commented on #23099
+1

[2020-10-19 07:16] zenicu commented on #108102
The search editor almost instantly displays the results, just as the sidebar once did, the sidebar now just rests in a continual loading state when searching for something, returning results only if the file in which I am searching for those words is opened. If I close the file and search again, no results, just unending loading.

[2020-10-19 07:23] patmuk commented on #70764
With the ARM builds officially supported (https://code.visualstudio.com/#alt-downloads) is there a way to create an iPad OS app?

[2020-10-19 07:36] chrmarti commented on #108780
How do you scroll? With the mouse wheel, scrollbar or keyboard?

[2020-10-19 07:37] eddy147 commented on #108713
Thank you for your efforts and such a great editor.

[2020-10-19 07:37] alexdima commented on #108285
:+1: @mjbvz

[2020-10-19 07:42] CaliInn-Li opened #108918 "The built-in Debug Console cannot display Chinese"
- VSCode Version:1.50.1
- OS Version:macOS 10.15.7

Steps to Reproduce:

1.As shown in the figure below, I created a simple HelloWorld application and used Chinese output, where all the Chinese sections became fields beginning with \\
<img width="1511" alt="截屏2020-10-19 下午3 37 33" src="https://user-images.githubusercontent.com/40906144/96415338-04e0e380-1221-11eb-9d9a-bb49966c9bee.png">

The code

[2020-10-19 07:49] pankaj2433 commented on #108780
Mouse wheel

[2020-10-19 07:50] chrmarti commented on #108829
@rebornix Not sure I (as the inbox tracker) should distribute the iOS issues to the team. Assigning to you for now.

[2020-10-19 08:02] jrieken commented on #108808
Without a selection you shouldn't see 'Format Selection With' Are you sure that this wasn't "Format Document With..."?

@dbaeumer Does ESLint contribute a range formatter?

[2020-10-19 08:04] jrieken commented on #108868
Yeah, but we have decided not to fix this. An editor can always be undefined so it doesn't really matter if its undefined for a split seconds or not.  The underlying cause is the mechanics of the workbench

[2020-10-19 08:04] #108868 closed

[2020-10-19 08:06] #97890 closed

[2020-10-19 08:07] jrieken commented on #108878
/duplicate of https://github.com/microsoft/vscode/issues/108447

[2020-10-19 08:08] #108878 closed

[2020-10-19 08:08] chrmarti commented on #108917
What programming language are you using? Does this happen when you disable all extensions (`F1` > `Developer: Reload with Extensions Disabled`)?

[2020-10-19 08:09] #108895 closed

[2020-10-19 08:11] aeschli commented on #108897
dup of https://github.com/microsoft/vscode/issues/12080 but to be honest, this functionality is best provided by extensions (like ritwickdey.liveserver)

[2020-10-19 08:11] #108897 closed

[2020-10-19 08:13] aeschli commented on #108902
You mean the HTML and CSS that the VSCode UI use? No, that's internal. We want to keep the freedom to refactor it any time.

[2020-10-19 08:13] #108902 closed

[2020-10-19 08:14] aeschli commented on #108901
What language mode is your editor in (check the status bar)?

[2020-10-19 08:18] joaomoreno opened #108920 "Zoom bug with window reload"
1. Open VS Code
2. Zoom in
2. Close VS Code
3. Open VS Code
4. Zoom out
5. `Reload Window`

🐛 Window is zoomed in

[2020-10-19 08:23] joaomoreno commented on #108891
We've made Linux ARM builds available. It's a step closer, but publishing an APK is out of our scope, sorry.

[2020-10-19 08:23] #108891 closed

[2020-10-19 08:26] zEdS15B3GCwq commented on #101418
Thanks, I've submitted my thumbs up. I feel, however, that the title may be too developer-specific and may not be clear to the average user. Something like "theme colour customisation for dark/light/high contrast theme kind in general" sounds clearer to me, though I'm sure that can be improved further.

[2020-10-19 08:26] mebest100 opened #108921 "Intellij idea key-binding function do not work when press any pre-defined key-binding plan"
- VSCode Version: 1.50.1
- OS Version: win7 x86 64

Steps to Reproduce:

1.  install Intellij idea key-binding plugins in vscode and edit java code into vscode
2.  Intellij idea key-binding  function do not work at all, it takes no effect when press any key-binding plan defined by the plugins.

Does this issue occur when all extensions are disabled?: Yes/No: No., it do not connected with disable o

[2020-10-19 08:29] chrmarti commented on #108857
Cannot reproduce with VoiceOver.

[2020-10-19 08:37] joaomoreno commented on #108519
Sorry, that was a forced design decision to allow showing multiple SCM repos in a single view. Hope you get a better workflow now!

[2020-10-19 08:37] #108519 closed

[2020-10-19 08:42] ledmirage commented on #108447
I raised similar issue for beautify extension : https://github.com/microsoft/vscode/issues/108878

Following the method here and setting it as default fix for me on vscode 1.50.1

[2020-10-19 08:44] lszomoru commented on #99048
Verification steps:
- Launch VS Code and close existing folder if needed
- Verify that `Git: Abort Rebase` command is not available in the command palette
- Open a Git repository
- Verify that `Git: Abort Rebase` command is not available in the command palette
- Switch to the SCM viewlet, and click on  `...` -> `Commit` -> `Abort Rebase`
- Verify that an information notification is displayed notin

[2020-10-19 08:46] Eskibear opened #108922 "notebook integration for markdown <code> cells"
#### Use case
Native Notebook experience in VS Code is great, and it is natural for rendering tutorials. But currently Notebook is per file extension, and I cannot have a notebook supporting multiple "languages", which is common in tutorials.

For example, I want to write a tutorial containing snippets for both **python** code and **powershell** commands. PowerShell extension recognizes file exten

[2020-10-19 08:48] #83579 closed

[2020-10-19 08:50] bpasero commented on #83579
Leveraging new Chrome/Edge file system access API (https://wicg.github.io/file-system-access/) to support downloading folders or large files.

[2020-10-19 08:50] chrmarti commented on #106369
Could you start VS Code with `--log-net-log=netlog.json`, retry the failing feature and then post the created netlog.json here?

[2020-10-19 08:51] wdarm commented on #108860
OK - no -- it happened again... Put my machine to sleep when I woke it up and unlocked it VisualStudio Code was crashed.

I dug into my Library directory and I have dmp files in the crashpad directory. Attached in a zip.
[CrashPadDumps.zip](https://github.com/microsoft/vscode/files/5400410/CrashPadDumps.zip)

[2020-10-19 08:53] joaomoreno commented on #108831
What output is in `Git: Show Git Output`?

[2020-10-19 08:56] joaomoreno commented on #108843
/duplicate #47841

As a workaround, please disable Windows background updates by setting `update.enableWindowsBackgroundUpdates` to `false`.

[2020-10-19 08:56] #108843 closed

[2020-10-19 08:58] joaomoreno commented on #108381
The question is asked before the repository is even locally, so there's no way to check for that.

[2020-10-19 08:59] joaomoreno commented on #108697
This error dialog shows that the setting wasn't properly set. Please make sure it is properly set and restart your machine to be sure. This dialog won't appear at all if windows background updates are disabled.

[2020-10-19 08:59] #99048 closed

[2020-10-19 09:02] #108769 closed

[2020-10-19 09:03] joaomoreno commented on #107443
@wasserman Can you check @JulianWeidner's suggestion?

[2020-10-19 09:04] #108815 closed

[2020-10-19 09:04] joaomoreno commented on #108674
You can right click the command in that UI and choose `Reset Keybinding`.

[2020-10-19 09:06] joaomoreno commented on #108825
What an odd issue.

Can you enable `Developer: Toggle Screencast Mode` and

[2020-10-19 09:06] joaomoreno commented on #108825
Can you please provide a [screen recording](https://gifcap.dev/)?

[2020-10-19 09:07] joaomoreno commented on #108823
https://github.com/microsoft/vscode/issues/108067

[2020-10-19 09:07] #108823 closed

[2020-10-19 09:22] tiantingrui opened #108923 "Provide dual-screen display function for vscode."
Provide dual-screen display function for vscode.
Just like IDEA, you can drag and drop a file to another screen

[2020-10-19 09:25] gorogoroumaru commented on #108856
Can I take this issue?

[2020-10-19 09:26] GordonSmith commented on #46585
@mjbvz is it just me or did the proposed API never make it into the official vscode.d.ts file?

[2020-10-19 09:28] balintbalazs commented on #108886
I can confirm this behaviour. The contents of the file:
[code]

Version: 1.50.1 (user setup)
Commit: d2e414d9e4239a252d1ab117bd7067f125afd80a
Date: 2020-10-13T15:06:15.712Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

[2020-10-19 09:31] #108865 closed

[2020-10-19 09:33] oxk4r01 opened #108924 "Unable to resolve workspace folder"
- VSCode Version: 1.50.1
- OS Version: Windows 10 pro

Steps to Reproduce:

1. Save some workspace to OneDrive.
2. Try to open it in other computer.
3. Files wont open and a message in sidebar saying 'unable to resolve workspace folder'.
4. I won't get the error if I open that workspace in the original computer.

Does this issue occur when all extensions are disabled?: Yes

[2020-10-19 09:36] bpasero commented on #108899
To answer here:
* `IResourceEditorInput`: is the lightweight, untyped variant of editor inputs that only require a `resource: URI`
* `IEditorInput`: is the instantiated editor input that we need in few cases where just a `resource: URI` is not enough

I think it would be better to ask questions in specific issues that have the "help wanted" label.

[2020-10-19 09:36] #108899 closed

[2020-10-19 09:37] PizzaPartyInc opened #108925 "New Auto Attach options do not work with tsc-watch and inspect-brk flag"
- VSCode Version: 1.50.1
- OS Version: Windows 10 Enterprise Version 1803

Steps to Reproduce:

1. Have a script that uses tsc-watch (version ^4.2.3) to launch a project in debug mode, e.g.
[code]
2. Have launch.json contents:
[code]
3. Set Auto Attach option to any of available new options: Always/Smart/With Flag Only/Disabled
3. run the `start:debug`
4. Process waits for attach to be done manual

[2020-10-19 09:38] isidorn commented on #104673
@pranavlal unforutnelty there is no workaround now. We plan to fix this as part of the Electron update, I will also check with Deepak.

[2020-10-19 09:45] bpasero commented on #108920
Wasn't able to repro :|

[2020-10-19 09:48] bpasero commented on #108880
This is about how we render keybindings in the menu that Electron cannot display:

![image](https://user-images.githubusercontent.com/900690/96429240-039fbe80-1201-11eb-9204-7d573cc009bb.png)

I am [registering](https://github.com/microsoft/vscode/blob/d1578555f7247b8070df0ba625d046859a163f04/src/vs/workbench/browser/parts/editor/editor.contribution.ts#L374-L374) the key as: `KeyMod.WinCtrl | KeyC

[2020-10-19 09:50] bpasero commented on #108880
@jeffmcaffer did you change your keybindings? For me the default key for "Forward" is `Ctrl+Shift+Minus`

[2020-10-19 10:08] isidorn commented on #83579
Very cool 👏

[2020-10-19 10:10] isidorn commented on #107890
@rebornix thanks for pushing a fix, and let's leave this safari specific for now.

[2020-10-19 10:15] chen1573 commented on #108604
Do not use vscode distributed in the Snap Store  can solve this problem.

[2020-10-19 10:15] #108604 closed

[2020-10-19 10:16] cyberalien commented on #108884
Thank you for linking that discussion. Following it I found a solution: https://github.com/microsoft/TypeScript/pull/36412#issuecomment-707221008

[2020-10-19 10:17] nitti87 opened #108926 "Error not shown when a typing error happens inside of quotes"
Issue Type: <b>Bug</b>

When I type `document.querySelectorAll("[data-location='top left'")`, it doesn't tell me that I forgot the `]`

It may be a feature request so forgive me for that

VS Code version: Code - Insiders 1.51.0-insider (89c002ab02f87102d91efc83c191ef1174756c6a, 2020-10-15T23:17:08.035Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|

[2020-10-19 10:18] isidorn commented on #108729
@leonardder thanks for filling this, however duplicate of https://github.com/microsoft/vscode/issues/104673

[2020-10-19 10:18] #108729 closed

[2020-10-19 10:20] isidorn commented on #108904
Dup of https://github.com/microsoft/vscode/issues/101920

[2020-10-19 10:20] #108904 closed

[2020-10-19 10:21] isidorn commented on #108862
This is a fair feature request, however you can customise this.
Let's leave this open for now and if more users request this we might change in the future.

[2020-10-19 10:22] #108862 closed

[2020-10-19 10:23] badsyntax commented on #108657
Thanks for the fix! I will verify once a new insiders is released.

[2020-10-19 10:33] isidorn commented on #108907
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-10-19 10:34] isidorn commented on #108761
/extPython

[2020-10-19 10:35] weinand commented on #108363
Since the "Step in into my code" concept is neither known to VS Code's generic debugging UI nor the Debug Adapter Protocol, it can only be supported by specific extensions via the API mentioned by @connor4312.

[2020-10-19 10:35] #108761 closed

[2020-10-19 10:35] isidorn commented on #108761
Pytho extension can contribute commands to the variables context menu. One of those would be View As Array which could open a custom web view

[2020-10-19 10:37] isidorn commented on #95570
@marion-sousa this issue is currently assigned to Backlog, it is not closed. Which means we acknowledge the issue but no current plans to fix. @Tyriar can maybe provide more details if he has any plans to tackle this in the future

[2020-10-19 10:46] weinand commented on #108339
Thanks for spotting this.

[2020-10-19 10:46] isidorn commented on #108641
I believe this is as designed. However @joaomoreno would know more, thus forwarding to him

[2020-10-19 10:47] #108720 closed

[2020-10-19 10:47] isidorn commented on #108720
There is probably an extension for this. I suggest to use a search engine to find it or to ask on stack overflow

[2020-10-19 10:51] webczat commented on #108857
that just confirms it is likely linux specific, as I've thought :) thanks

[2020-10-19 10:51] isidorn commented on #108747
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-10-19 10:52] #108339 closed

[2020-10-19 10:52] mlewand commented on #85592
Cool, works also for me in the latest insider build 🎉 Now I'm anxiously waiting for the October release 😃

[2020-10-19 10:55] #108242 closed

[2020-10-19 10:57] isidorn commented on #107570
So you would like that there is a max width for the source location in the debug console.
I think this is a fair request which we might tackle in the future.

[2020-10-19 11:07] evilucifero opened #108927 "I can't open VSC under macOS"
Use Command Tool, both iTerm and macOS‘ Terminal APP
➜  ~ open -a "Visual Studio Code"
LSOpenURLsWithRole() failed for the application /Applications/Visual Studio Code.app with error -600.

When I open VSC by click icon, It is failed and show modal "应用程序 Visual Studio 已不能再打开"(English: application Visual Studio Code cannot be open any more.
![image](https://user-images.githubusercontent.com/3679062

[2020-10-19 11:08] KorbinianK opened #108928 "preLaunchTasks not working for multi-root workspaces"
- VSCode Version: 1.50.1
- OS Version: MacOS Catalina 10.15.6

**Steps to Reproduce:**

1. Clone https://github.com/KorbinianK/task-issue/ (very very basic TypeScript setup)
2. Open the workspace through the file
3. Try debugging it with F5
4. The preLaunchTask cannot be found

Does this issue occur when all extensions are disabled?: Yes

**Comment:**
The goal is to debug a typescript project, for

[2020-10-19 11:09] aeschli opened #108929 "Finalize FoldingRangeProvider.onDidChangeFoldingRanges"
For #99914, 'FoldingRangeProvider.onDidChangeFoldingRanges' was proposed as new API.

[code]

This issue tracks the finalization of that API.

[2020-10-19 11:18] gitspeaks opened #108930 "Add color customization for editor action icons"
https://code.visualstudio.com/api/references/theme-color, does not indicate an option to change the color of the top right icons in the tabs row (e.g editor actions).

see example:

![icons-1](https://user-images.githubusercontent.com/37540903/96443697-aeba7300-1215-11eb-8826-1da65e64f297.png)
![icons-2](https://user-images.githubusercontent.com/37540903/96443749-c4c83380-1215-11eb-8c5d-02f0839afa

[2020-10-19 11:20] weinand commented on #108425
@quoctruong The [documentation](https://microsoft.github.io/debug-adapter-protocol/specification#Requests_ConfigurationDone) of the `configurationDone` request is not very specify about the `configurationDone`s response. So VS Code's behavior is conforming within the bounds of the spec.

Changing VS Code's behavior would require that we change the spec too. Since this would be a breaking change, w

[2020-10-19 11:20] jdneo commented on #108719
Hi @jrieken,

I tried to search for it but did not find duplicated one. 😂

[2020-10-19 11:24] #108923 closed

[2020-10-19 11:25] YohanVienne opened #108931 "Output args from task with g++ compiler doesn't work"
- VSCode Version: 1.50.1
- OS Version: Win10 2004
- G++ version: 4.8.3

-o argument on task to compile with g++ a *.cpp file doesn't work, I have tried to add a "build" folder for output, but the compiler only output a exe in same folder of origin

Steps to Reproduce:

1. a simple helloworld.cpp:

`#include <iostream>

int main() {
    std::cout << "Hello World!";
    return 0;
}`

2.Configure a t

[2020-10-19 11:26] thiemeljiri opened #108932 "Cannot disable file auto save"
I cannot disable file auto save.

**I cannot uncheck "Auto Save" under "File" menu.** I disabled it in User settings but this option is still checked in file menu.

Restarting VS Code has no effect. I tried running VS Code without extensions and it behaves exactly the same. So it's very likely not related to any extension.

[2020-10-19 11:28] #108440 closed

[2020-10-19 11:28] #108385 closed

[2020-10-19 11:28] #108330 closed

[2020-10-19 11:28] #108191 closed

[2020-10-19 11:43] isidorn commented on #108662
Acknowledge this issue. For now assigning to backlog and we might tackle in the future.

[2020-10-19 11:46] isidorn commented on #108091
Thanks Ben for looking into this and fixing it.

[2020-10-19 11:50] isidorn commented on #108202
@roblourens thanks for jumping on this and for finding the root cause.

[2020-10-19 11:50] isidorn commented on #107860
We had to revert the fix, thus reopening this.
@roblourens let me know if I missed a commit and if you also pushed a fix for this.

[2020-10-19 11:52] BernardA commented on #108365
adding `"editor.defaultFormatter": "esbenp.prettier-vscode"` to settings.json seems to have resolved the format on save issue.
Format on paste still does not work though.

Note that in previous versions, `"editor.defaultFormatter"` was set to `null` and both format on save and paste worked fine.

[2020-10-19 11:52] slavik-lvovsky opened #108933 "extension cache issue"
- VSCode Version: 1.50.0
- OS Version: Windows 10

Steps to Reproduce in vscode:

1. git clone the test extension repository: https://github.com/slavik-lvovsky/vscode-ext-bug.git
2. run **npm i** in the cloned folder.
3. run the cloned extension using the provided "Extension" launch configuration.
4. **npm i -g generator-code@1.1.0**
5. run the extension "Test Code Gen" command
6. **npm i -g gener

[2020-10-19 11:55] jaepil-choi opened #108934 "VSCode cannot code navigate some libraries."
Version: 1.50.1 (user setup)
Commit: d2e414d9e4239a252d1ab117bd7067f125afd80a
Date: 2020-10-13T15:06:15.712Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Try to code navigate

[code]

2. See that it is only accessible to .pyi, not the source code .py itself.

Does this issue occur when all extensions are dis

[2020-10-19 11:59] lszomoru commented on #106690
Thank you very much for taking the time to write up the feature request and thinking about possible solutions. Overall, I feel that it would be quite confusing if the screencast overlay would jump around the screen depending on the position of the text that you are editing. Have you explored using the `screencastMode.verticalOffset` setting to place the screencast overlay at the top of the screen

[2020-10-19 12:00] jrieken commented on #108719
hehe - this one: https://github.com/microsoft/vscode/issues/34048

[2020-10-19 12:01] nathanshanahan commented on #108365
Was having issue with SCSS and JS files formatting but was not having the same luck with PHP files being ignored.

Solution for me was to remove the previous settings I had assigned in settings.json and reset by making the same selections through the newer settings interface.

[2020-10-19 12:12] gjsjohnmurray opened #108935 "Allow file system provider schemes to participate in history even after close"
Issue Type: <b>Bug</b>

I work on a team developing an extension that implements a FileSystemProvider and a DocumentSymbolProvider.

If the user opens file1 in preview mode (italic tab label), then used F12 when on a symbol defined in file2, this correctly loads file2 in the same tab. But the 'Back' option on the 'Go' menu doesn't get enabled.

I think it is caused by this code executing when file

[2020-10-19 12:18] danielo515 commented on #56525
I was about to open an issue to request something similar to this.
This is what I see:
![image](https://user-images.githubusercontent.com/2270425/96449905-cbef4180-1215-11eb-89f6-8af98e07d065.png)
I think there should be an option to allow float windows to become as big as they may need. This is a chromium based editor, I expected it to be a bit more responsive 😉

[2020-10-19 12:21] jdneo commented on #108719
Ah, I should search for `command title`. (was trying to search with `command name`, `command alias`...🙈)

[2020-10-19 12:31] wdarm commented on #108860
OK - further information --- It happens on both of my machines - my personal Mac and my work Mac.
I don't share a configuration between them or anything like that -- but I do swap them both through the same dock.

They are more or less the same HW config Mac Book Pro 16".

[2020-10-19 12:46] aeschli commented on #99914
I added the following proposed API:

[code]

[2020-10-19 12:50] Ankit0203 opened #108936 "Terminal"
While minimize vs code and then  run any command in terminal in written over path

[2020-10-19 12:58] sktguha opened #108937 "Allow extension developers to specify a validator regex(or even an async validator function) for the extension options"
So it would be good if there was an option to specify a regex in the contributes.configuration options.
For example in my extension I am taking an absolute path to a file. So would be good if I can specify a regex for that in the contributes.configuration option. Even better would be if the extension can specify a validator function (maybe that returns a promise also ?) that will get called on ext

[2020-10-19 13:09] lszomoru commented on #104506
We did recently add the capability to right click on a VSIX in the explorer and install it, so that should cover this scenario.

[2020-10-19 13:09] #104506 closed

[2020-10-19 13:10] weinand commented on #81322
The external terminal is typically launched by VS Code.
And the terminal's executable for Windows is configured via the `terminal.external.windowsExec` setting.
The default is this:
[code]

There where no code changes in that area around VS Code 1.46.

[2020-10-19 13:16] bpasero commented on #108935
Yes, we have limited the support for navigation in history to schemes we know but can think about revisting this.

[2020-10-19 13:20] lszomoru commented on #99269
@isidorn, please correct me if I am wrong but if we were to use type = string with an enum array, that would mean that in the JSON file we would get the suggestions for the value specified in the enum array, however we would get a warning squiggle in case an arbitrary string is specified which is not part of the enum. Is that acceptable behavior as it could cause some confusion.
Do you know any ot

[2020-10-19 13:32] ent3r commented on #108886
For some reason I can't repro anymore, but here is one of the files it created while i still could repro:
[code]

[2020-10-19 13:34] tommai78101 commented on #106690
I'll try that. I wasn't aware of this option yet, and will let you know if it's acceptable to the viewers.

[2020-10-19 13:36] 0ffffffffh opened #108939 "the debugger gets confused on same named structs that defined in separate c modules."
- VSCode Version: 1.50.1 (user setup)
- OS Version: 10.0.19041

Steps to Reproduce:

1. Create two C files for example file1.c and file2.c
2. Define a struct in each c file with identical name but different fields. for example

in file1.c

[code]
in file2.c

[code]

As you know, these types are not exported outside of the module, so these types are internal and isolated each other.

3.  create an

[2020-10-19 13:42] dbaeumer commented on #108783
@zhidong10 can you please provide steps on how to reproduce this. If the Chinese locale is install the windows opens for me with Chinese text

[2020-10-19 13:43] dbaeumer commented on #108808
@jrieken  No, ESLint doesn't contribute a range formatter since they have no API to do this.

[2020-10-19 13:50] sandy081 commented on #106595
May I know ATM, do you have any VSIXs with older versions or there are more than 20 VSIXs  in the cache ? To be more specific, try to install a previous version of an extension from extensions view and also try to install an extension pack that has more than 20 extensions and follow the steps in https://github.com/microsoft/vscode/issues/106595#issuecomment-706256991

[2020-10-19 13:52] subhav commented on #108755
@alexdima I should have made this more clear in the original description, but this is a **bug**, not a feature request.

Tabs should always advance to the next-multiple-of-tab-size from the start of the line. Here's a more clear example of the bug (using Arial, tab size of 8):

![image](https://user-images.githubusercontent.com/4347930/96457909-5459ec00-11ee-11eb-9f4d-3987a8329fcf.png)

The whites

[2020-10-19 13:53] weinand commented on #108578
@isidorn IIRC, we have discussed the approach for avoiding early activation in #96297.

[2020-10-19 14:00] #99914 closed

[2020-10-19 14:01] sandy081 commented on #31079
@usernamehw  Thanks for finding the dup.

[2020-10-19 14:01] #31079 closed

[2020-10-19 14:04] sandy081 commented on #104732
Thanks for confirmation, closing this since it is caused by the extension.

[2020-10-19 14:04] #104732 closed

[2020-10-19 14:08] sandy081 commented on #108911
@prashantvc FYI

[2020-10-19 14:09] sandy081 commented on #108896
I would recommend to first file an issue against the extension that is generating this problems for initial investigation.

[2020-10-19 14:09] #108896 closed

[2020-10-19 14:11] sandy081 commented on #103585
Waiting for user info.

Closing this. Please reopen this with necessary steps and information.

[2020-10-19 14:11] #103585 closed

[2020-10-19 14:13] sandy081 commented on #108635
Assigning to @lszomoru for initial investigation on 502 error from server.

Please reassign it to me if there is anything needs to be done on client side.

[2020-10-19 14:17] sandy081 commented on #107482
Nopes, this is how it is from the time it is implemented by @joaomoreno 😉

[2020-10-19 14:29] engelsdamien commented on #103699
Sorry I forgot to do it earlier, but wanted to update the bug to mention that @annkamsk has finished her internship at the beginning on this month. She was unfortunately not able to get to the `trustedScriptUrl` rewrites I mentioned above, so feel free to take them over.

I will keep following this and the other trusted types related issues, please reach out if you have any questions or need help

[2020-10-19 14:29] sandy081 commented on #108486
/duplicate

https://github.com/microsoft/vscode/issues/107290

[2020-10-19 14:30] #108486 closed

[2020-10-19 14:33] sandy081 commented on #108548
Fixed padding in output.

[2020-10-19 14:33] #108548 closed

[2020-10-19 14:36] RMacfarlane commented on #108489
@VasuInukollu I assume you mean you see an error about writing to the keychain, can you please paste the error text? Although the error text says "keychain", it writes to the Windows Credential Manager on windows

[2020-10-19 14:37] Raspa888 commented on #108903
Same problem!
echo "done" >/var/folders/kh/9r2ycv7921lgg6q7t7twmsym0000gn/T/ipc
zsh: command not found: platformio

[2020-10-19 14:37] sbatten commented on #58377
@deepak1556 this is an old issue about electron's menus

[2020-10-19 14:39] joaomoreno commented on #108920
Time to whip out everyone's favorite recorder:

![recording (7)](https://user-images.githubusercontent.com/22350/96465749-9a807100-1229-11eb-8399-830241d9c39d.gif)

[2020-10-19 14:41] joaomoreno commented on #108920
I can even repro on Linux, out of sources.

[2020-10-19 14:42] #108808 closed

[2020-10-19 14:42] jrieken commented on #108808
Ok. Thanks for clarifying @dbaeumer

[2020-10-19 14:43] weinand commented on #108762
/duplicate #95766

[2020-10-19 14:44] #108762 closed

[2020-10-19 14:44] joaomoreno commented on #108920
Maybe https://github.com/microsoft/vscode/commit/c7fe3b41ae4c22de8b84a95076b8fe43aa259635

[2020-10-19 14:46] joaomoreno commented on #108920
I tried debugging but I got lost with all the places zoom comes into play. 😢

[2020-10-19 14:47] #60430 closed

[2020-10-19 14:47] lszomoru commented on #108635
@ayush987goyal, @eamondo2 - apologies for the inconvenience. The errors that you have seen were caused by one of the Azure App Services getting into a bad state due to which it was unable to connect to the CosmosDB backend. We have mitigated the error by restarting the App Service and we are working with our Azure partner teams to track down the root cause, and put improvements in place to avoid t

[2020-10-19 14:48] sguillia opened #108940 "Show name of Extensions wanting to make changes to the terminal's environment"
**TL;DR**: I'd like this basic security feature

---

I saw this message appear in my terminal:

I understand some extension is willing to intercept my git password.

In this case, the change is certainly legit. But how am I supposed to know if it's not from a malicious extension?

By seeing the extension name, I can guess if it makes sense for this extension to mess with my environment.

Even bet

[2020-10-19 14:53] joaomoreno commented on #107482
This is there since day 1. 😆

[2020-10-19 14:55] misolori commented on #108888
We've always had this problem, the bottom part of the icon has no fill hence why the text shows through. The only alternative is to show this in the gutter when the first column of the row has text, but I'm not sure if that is technically possible.

[2020-10-19 14:55] weinand commented on #108799
This feature request makes a lot of sense. Since all "debug launches" go through a single piece of code it should be possible to remember everything needed to provide a generic "re-run"/"re-debug"

[2020-10-19 14:55] kerosan opened #108941 "implement double shift hot key"
to open Search files i have to press Cmd-Shit-P + Cmd-P. As for me it convenient to press **double Shift**  like in webstorm

[2020-10-19 14:56] joaomoreno opened #108942 "Extension labels are misaligned"
![image](https://user-images.githubusercontent.com/22350/96468073-f21fdc00-122b-11eb-990e-b5b2b76b6558.png)

[2020-10-19 14:56] joaomoreno commented on #108888
Could we add a white trace outline to the icon, making it popup in messy locations?

[2020-10-19 15:03] joaomoreno commented on #108920
Also https://github.com/microsoft/vscode/commit/836fbb1b5db08306d3e90933b4996e4570a59e04 cc @deepak1556

[2020-10-19 15:05] bpasero commented on #108920
Those commits seem relevant, marking "help wanted" if someone has ideas.

[2020-10-19 15:06] #108363 closed

[2020-10-19 15:07] prashantvc commented on #108911
Marketplace does not resolve URLs, we use only absolute paths.
`vsce` generates path for links in the README file, you can use `--githubBranch` to override the branch name.

see https://github.com/microsoft/vscode-vsce/issues/504#issuecomment-711875147

[2020-10-19 15:08] connor4312 commented on #108925
Try running without [--inspect-brk] ([see reason](https://github.com/microsoft/vscode-js-debug/blob/master/COMMON_PROBLEMS.md#my-app-doesnt-start-run-and-i-use---inspect-brk-to-load-it)). Let me know if you still have issues at that point 🙂

Tagging with needs-more-info to auto close after 7d.

[2020-10-19 15:10] misolori commented on #108888
Unfortunately strokes don't work on icons:

![image](https://user-images.githubusercontent.com/35271042/96468577-1efad180-11e1-11eb-8eed-940c2f6db81d.png)

We could try to add the same editor bg color with a slight opacity to account for this:

![image](https://user-images.githubusercontent.com/35271042/96469782-73eb1780-11e2-11eb-868c-095e643c545e.png)

[2020-10-19 15:10] ijoel92 commented on #108761
How does the python extension affect the font selection on the debugger panels?

[2020-10-19 15:10] lszomoru commented on #106690
Spoke with @alexdima who owns the editor and option #1 seems like a valid feature request so labeling the issue accordingly.

[2020-10-19 15:11] connor4312 commented on #108918
\extCpp

[2020-10-19 15:12] #108918 closed

[2020-10-19 15:12] connor4312 commented on #108915
/extCsharp

[2020-10-19 15:28] weinand commented on #39711
I do not see anything that needs to be done here.

[2020-10-19 15:28] #39711 closed

[2020-10-19 15:28] #107543 closed

[2020-10-19 15:33] joaomoreno commented on #108888
Oh man, that looks good.

[2020-10-19 15:36] lukas-mu commented on #108907
Just to elaborate on the use case and as reference for other users trying to achieve similar workflows:

I resorted to manually copying the `task.json` and `launch.json` files into each individual workspace, expecting each workspace to use their respective task/launch configuration. **Turns out this is not how multi-root workspaces work at all.**

You have to **manually select the correct debug co

[2020-10-19 15:39] bpasero commented on #108920
Will fix this when I land https://github.com/microsoft/vscode/pull/104779. I added this check for `0`:

https://github.com/microsoft/vscode/blob/7f035b4be73a7ce9ceafb2128c066b717eafaf87/src/bootstrap-window.js#L51-L51

To reduce required sync IPC calls on startup and that is the issue here. Should be fine once we do this from the main side.

[2020-10-19 15:41] AlphaEndgame commented on #108886
Hello, I can confirm that this issue is still happening on v1.50.1. VSCode keeps creating a debug.log on the root of my working directory with these contents:

`[1019/155955.848:ERROR:directory_reader_win.cc(43)] FindFirstFile: The system cannot find the path specified. (0x3)`

[2020-10-19 15:46] cDurhamZP commented on #108886
I am having the same issue. I've ran as administrator as well.

`[1016/093125.450:ERROR:directory_reader_win.cc(43)] FindFirstFile: The system cannot find the path specified. (0x3)
[1016/121627.459:ERROR:directory_reader_win.cc(43)] FindFirstFile: The system cannot find the path specified. (0x3)
`

Version: 1.50.1
Commit: d2e414d9e4239a252d1ab117bd7067f125afd80a
Date: 2020-10-13T15:06:15.712Z
Elec

[2020-10-19 15:49] deepak1556 commented on #108886
@balintbalazs @AlphaEndgame @cDurhamZP based on the log, the issue you are facing is from chrome and not vscode please refer to https://bugs.chromium.org/p/chromium/issues/detail?id=1138853 for more info.

@ent3r I am closing this issue, can reopen if there is a repro with vscode, the issue is getting side tracked with unrelated bug from chrome or other chromium related browsers.

[2020-10-19 15:49] #108886 closed

[2020-10-19 15:54] ent3r commented on #108886
that would make sense if it wasnt for the fact that i dont have chrome/chromium installed. im guessing since electron is also chromium it goes under that bug?

[2020-10-19 16:03] bg-bi commented on #88369
I would also like this very much. What is the status?

[2020-10-19 16:07] #108939 closed

[2020-10-19 16:08] slwise commented on #108903
I have also noticed this error when doing the update in PlatformIO.

Updating platformio/contrib-pysite            2.38.201019 @ ~2.38.0              [Incompatible 2.39.201019]

I removed the folder ".platformio/penv" and then updated again but with the same error. Not sure if this helps.

[2020-10-19 16:10] tommai78101 commented on #106690
@lszomoru By the way, thanks for the `screencastMode.verticalOffset` suggestion. I believed this might work, and it probably just needs some more tweaking to make sure it doesn't obstruct the user while editing text in the viewport.

[2020-10-19 16:24] usernamehw commented on #108941
/duplicate of #5280

[2020-10-19 16:25] #108941 closed

[2020-10-19 16:36] cDurhamZP commented on #108886
I managed to get the error to go away by removing an extension: JavaScript Debugger (Nightly)

Not sure if correlation or causation, but there it is

[2020-10-19 16:43] Mateushen19 opened #108943 "Problem with terminal"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
![tela](https://user-images.githubusercontent.com/51799470/96480783-11f5d680-1211-11eb-9956-4f43a59044cc.png)

2. Terminal can't open

Does this issue occur when all extensions are disabled?: Yes/No

[2020-10-19 16:46] #108318 closed

[2020-10-19 16:48] #108589 closed

[2020-10-19 16:48] sebRomeo commented on #108589
Closed as exact duplicate of #107570

[2020-10-19 16:55] chinmya1975 commented on #108926
hey there,
this can be rectified by enabling any  linter  in settings command...Linters will keep check on small mistakes

[2020-10-19 16:56] chrmarti commented on #108943
How are you opening the terminal? Which VS Code version are you running?

[2020-10-19 16:59] chrmarti commented on #108937
For `"type": "string"` you can provide a regex with the `"pattern"` property.

[2020-10-19 17:00] chrmarti commented on #108934
/causedByExtension

This is caused by the Python extension. Please file a new issue for it: https://github.com/microsoft/vscode-python/issues/new/choose

[2020-10-19 17:00] #108934 closed

[2020-10-19 17:04] chinmya1975 commented on #108917
Hey There,
If you want to execute a code you need the required extension of that language ex- .py for python make sure these are not disabled

[2020-10-19 17:04] chrmarti commented on #108933
Please ask on StackOverflow on how to remove a loaded module and its dependencies from the runtime: https://github.com/slavik-lvovsky/vscode-ext-bug/blob/82795a0987b44a351d5e2427e25aa4917dc5f547/env.js#L7

[2020-10-19 17:04] #108933 closed

[2020-10-19 17:05] jeffmcaffer commented on #108880
I have not changed any bindings etc. Forward in indeed `Ctrl-Shift-Minus` but as you can see in the screen shot, my menu looks different from yours for some reason. Notice how the <shift> part is not explicitly shown and the dash looks longer than the underscore leading the user to think they are actually opposite.

![Screen Shot 2020-10-19 at 10 00 18 AM](https://user-images.githubusercontent.com

[2020-10-19 17:07] chrmarti commented on #108921
There are several extensions for this which one do you have installed?

[2020-10-19 17:09] misolori commented on #108930
FYI: this would only work for product icons. Icons contributed from extensions would not be affected.

[2020-10-19 17:10] deepak1556 commented on #108886
@cDurhamZP the problem is not the extension but the extension spawning any chromium browser for debugging which would hit the issue I had linked.

@ent3r Depends on what other electron app you might have, if there is a reliable repro it would help.

[2020-10-19 17:10] chrmarti commented on #108916
@joaomoreno Is our snap supported on Arch?

[2020-10-19 17:11] ent3r commented on #108886
I'll have a look if it appears again, thanks for the quick response

[2020-10-19 17:11] masternikhilgupta commented on #108917
Hey... I know this & i was not disable this extensions.

[2020-10-19 17:14] sbatten commented on #67913
@deepak1556  as I recall this has to do with what macOS can display, don't recall if this is electron or macOS limitation.

[2020-10-19 17:16] Wayofthesin opened #108944 "[Feature Request] Add "search in directory" to the project explorer context menu"
I very often search for something in sub-directories of my workspace. It is inefficient to copy directory path every time I need to search somewhere else. It would be massively useful to extend the project explorer context menu with "Search in directory" option. It should bring the user to the "Search in files" tab with extra filter being the directory selected.

The extra filter should be separat

[2020-10-19 17:18] blueostrich18 opened #108945 "Kerberos Authentication with SSH"
I'd like to be able to SSH to a server with Kerberos(gssapi) authentication. Searching github and the internet this is something that many in the enterprise/corporate environments would appreciate. Not sure why https://github.com/microsoft/vscode-remote-release/issues/250 was closed. A valid reason was not given. At the very least make a modification so the plink workaround works again.

[2020-10-19 17:32] sbatten commented on #70896
this issue should be resolved by now.

[2020-10-19 17:32] #70896 closed

[2020-10-19 17:34] sktguha commented on #108937
Ok thank you for the information. How about the second one, i.e specifying a validator function ? For ex I can check if the file actually exists or not and also maybe an option can be added of file type ? Where user can pick a file using a file picker in the settings UI itself ?

[2020-10-19 17:34] deepak1556 commented on #108806
Can you provide steps to how you are opening code, the exact arguments used. Thanks!

[2020-10-19 17:34] depiction commented on #108447
I'm also seeing the same issue. However, setting the default formatter at either the user or workspace level doesn't solve the problem. Format on save is still enabled at both the user and workspace level.

[2020-10-19 17:35] sbatten commented on #71580
this should have been resolved with the shadow dom in editor. @eamodio to verify.

[2020-10-19 17:36] #71580 closed

[2020-10-19 17:43] sbatten commented on #73902
we haven't seen reports of this, not sure if it still reproduces. if it still causing problems, we can re-open

[2020-10-19 17:43] #73902 closed

[2020-10-19 17:49] AndiDog commented on #108806
Nothing super special. The app gets started normally from the macOS dock, or sometimes also through a keyboard shortcut configured in [Hammerspoon](https://github.com/Hammerspoon/hammerspoon) which does something very simple in code:

[code]

Here's the main process's tree currently:

[code]

[2020-10-19 17:50] David-Spooner commented on #108447
I had same issue. Have been periodically looking here and there to try to figure out why prettier stopped working. Just today found this issue and was able to resolve by following suggestions in this thread above.

1) I opened settings and searched "default formatter".  I noted that "Editor:Default Formatter" was set to null and that I had not option for prettier in dropdown.
2) I opened Json sett

[2020-10-19 17:50] isidorn commented on #108302
Dup of https://github.com/microsoft/vscode/issues/104552

[2020-10-19 17:50] #108302 closed

[2020-10-19 17:51] gitspeaks commented on #108930
perhaps this is a good reason to start using  themeable vector icons ?

[2020-10-19 17:54] isidorn commented on #108333
@StephenWeatherford thanks for good steps. Yes I introduced this issue since I have redone how we render the debug hover.
Assiging to October to fix this milestone.

[2020-10-19 17:55] isidorn commented on #108252
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-10-19 17:55] misolori commented on #108930
Ideally we'd want to provide an option for extension icons to be themeable (some extensions add custom colors to their icons) cc @aeschli

[2020-10-19 17:56] sbatten commented on #79544
shift+f10 still works everywhere regardless, not sure what's special about file explorer's view.

[2020-10-19 17:57] isidorn commented on #108178
Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2020-10-19 18:03] wasserman commented on #107443
It is set to "App store and identified developers".

[2020-10-19 18:07] gitspeaks commented on #108930
I think you should make themeable vector icons a requirement for extension since we have an obvious collision with the theme system. Consider something simple as setting foreground/background colors.

[2020-10-19 18:10] DonJayamanne opened #108946 "Trust Notebook Content and readonly notebooks"
Creating an issue to capture what was discussed last week with VS Code:
Python extension would like the following capabilities:
* Hide output when notebook is not trusted (based on some metadata)
* Trusting a ntoebook (updating this metadata) should not mark the notebook as dirty
* Disable saving/editing notebooks when a notebook is not trusted
	* This is required, because of todays implementation

[2020-10-19 18:11] misolori commented on #108930
It'll likely follow what we already have for icons, which is only the foreground:

![image](https://user-images.githubusercontent.com/35271042/96494706-950c3200-11fb-11eb-97d5-644ef50f4153.png)

While I would like to make that the default it could break a lot of extensions, so it would have to be an opt-in.

[2020-10-19 18:12] DonJayamanne opened #108947 "Notebooks - HTML elements (widgets) in output overflow & get displayed under the editor"
In the Python extension when enabling IPyWidgets:
* Some widgest such as beakerx (have calendar controls)
* These controls are floating HTML elements, however when they overflow the bounds of the widget, they end up getting displayed behind the monaco editor.
* Seems like a zindex issue (monaco editors) are dislayed over the HTML content, hence get displayed over outputs.

@rebornix /cc

[2020-10-19 18:12] bs opened #108948 "A keybinding when-clause for if the cursor is on a followable link"
I'd like to bind, for example, cmd-enter to go-to-definition, but have it conditional on having the cursor on a link that has a definition to goto.

I've searched docs and issues and don't see a way to get this (known) context?

[2020-10-19 18:15] dashesy opened #108949 "Method to report dead extensions"
Please provide a way to flag dead extensions.
You can see the [reviews](https://marketplace.visualstudio.com/items?itemName=kriegalex.vscode-cudacpp) but no way to report and extension to be removed.

[2020-10-19 18:15] DonJayamanne opened #108950 "Kernel Picker displayed when running cells before preferred kernel is auto selected"
With the Python extension:
* Assume you open a notebook
* Assume python extension is slow to return the list of kernels (hence slow to return the preferred kernel to VS Code).
* Next, click on the `Run` cell icon.
* VS Code now displays the kernel picker

It seems there's a race condition:
* When `Run` is clicked, VS Code doesn't yet have the preferred kernel from extension
* VSCode then calls ext

[2020-10-19 18:16] sbatten commented on #75097
talked to @connor4312, we can just reset the variable in js-debug

[2020-10-19 18:17] gregvanl commented on #107530
Closing as bolded point release values just below main header seems like a good balance.

[2020-10-19 18:17] #107530 closed

[2020-10-19 18:17] #75097 closed

[2020-10-19 18:20] gitspeaks commented on #108930
I actualy tried setting icon.foreground but the color of the icons in question stay the same.

That would depend on how you go about the implementation... you could apply the color settings only on extensions which register a correct icon format. I expect the move to be swift, it's in the clear interest of extension developers.

[2020-10-19 18:23] tommai78101 opened #108951 "[Screencast Mode] When a keystroke is pressed, it should display the name of the action alongside what keystroke was triggered"
When enabling Screencast Mode in Visual Studio Code, then pressing a keyboard shortcut, depending on the setting preference, labeled "Screencast Mode: Only Keyboard Shortcuts", it should display either 1) a name of the action and the keyboard shortcut that was pressed down by the user, or 2) only the keyboard shortcut.

The issue here is, when the "Screencast Mode: Only Keyboard Shortcuts" is disa

[2020-10-19 18:23] sbatten commented on #80897
Toggling the editor area is not an explicit operation to state that focus should go to the terminal. 2 things provide a better experience around this with one being new since the issue was reported.

1) Use `Toggle Maximized Panel`... this explicitly maximizes the panel (even if hidden) and focuses.
2) A new setting has been introduced `workbench.panel.opensMaximized`. This setting controls if the

[2020-10-19 18:23] #80897 closed

[2020-10-19 18:33] gregvanl commented on #100825
@sandy081 How feasible would it be to add a new filter @cheatsheet to the Keyboard Shortcuts editor to show just the keyboard shortcuts listed in the Keyboard Shortcuts cheat sheet. It would be a hard-coded list of about 140 command IDs.

[2020-10-19 18:34] joshua-berry-ntnx commented on #108752
No problem, thank you for fixing it! 😄

[2020-10-19 18:43] sbatten commented on #89861
see setting `workbench.sash.size`

[2020-10-19 18:43] #89861 closed

[2020-10-19 18:47] #106936 closed

[2020-10-19 18:48] sbatten commented on #90439
I don't think we could ever reproduce this, I am closing as not-reproducible now. If we get more cases/info in the future we can re-open

[2020-10-19 18:48] #90439 closed

[2020-10-19 18:50] sbatten commented on #90466
@deepak1556  should this be resolved now?

[2020-10-19 18:57] bakutheleo opened #108952 "Files created inside VS Code but saved outside of current project are not found in Recently Opened"
Issue Type: <b>Bug</b>

I created a new file, added some text, then saved it as a new name to my Documents folder.  I then closed it. After that I went to reopen it in the same Visual Studio Code session (I had not restarted VSC) and the file was not listed in my recently opened files. I tried opening a new VSC session (without closing my current one) and it was not listed there either. I also tri

[2020-10-19 19:00] sbatten commented on #90603
seems this is just a result of this https://github.com/microsoft/vscode/commit/9aaae201a80c6376c30ba2f63986da03438e423e ... also not sure what the case for the input not being set is, but maybe we need that error back.

[2020-10-19 19:00] #90603 closed

[2020-10-19 19:03] sunliangqin commented on #108911
Good to know. Thanks. Is it possible for the tool to auto detect the branch name or show an error if the branch/generated link doesn't exist?

[2020-10-19 19:04] sbatten commented on #92029
resolved previously with shadow dom menu

[2020-10-19 19:04] #92029 closed

[2020-10-19 19:06] #92749 closed

[2020-10-19 19:13] usernamehw opened #108953 "[Webview View] Can't drag view into Webview View to split"
1. Install any extension that contributes WV
1. Drag WV to the Activity Bar so that this View takes the entire SideBar
1. Try to drag any View into it

[2020-10-19 19:16] isidorn commented on #108761
The view as array feature you mentioned.
The font is a duplicate of make font customisable across workbench - you can search for that issue and upvote it.

[2020-10-19 19:17] isidorn commented on #100757
Makes sense, let me assign to October to experiment with web notifications.

[2020-10-19 19:20] isidorn commented on #108928
You basically need to use workspace tasks I belive. More details here
https://github.com/microsoft/vscode/issues/36966
Though leaving this up to @alexr00 as she might have more details

[2020-10-19 19:20] ihojmanb commented on #108447
this one made it for me!

[2020-10-19 19:25] isidorn commented on #108844
This is a fair feature request. What commands would you expect "Focus Stack Frame Above", "Focus Stack Frame Below"?
If more users request this I would be open for a PR that adds this.

[2020-10-19 19:26] isidorn commented on #108572
And can you reproduce with VS Code insiders?

[2020-10-19 19:52] usernamehw opened #108954 "Matching bracket decoration and :after decoration clash"
1. Have a text:
[code]

2. Create a decoration using `after` close to the bracket:

[code]
3. Matching bracket highlight highlights the text:

![Screenshot (357)](https://user-images.githubusercontent.com/9638156/96504671-af76f780-125d-11eb-86c5-abea0ed72ce1.png)

[2020-10-19 19:57] ap00rv commented on #108447
i think the only thing that needs investigation here is that whether VSCode's default preference of workspace settings over user settings is working properly as mentioned [here]( https://code.visualstudio.com/docs/getstarted/settings ).

cc @jrieken

[2020-10-19 20:03] davidalmarinho commented on #106369
The problem still persists after ran that command.
Here it is the netlog.json file:

The git hub doesn't allow me to upload that file, so I put it in my MEGA drive.
key:
7sqtdJlfI8cVimND2HiVPg
https://mega.nz/folder/J04h3YiL

[2020-10-19 20:22] #108926 closed

[2020-10-19 20:34] #108914 closed

[2020-10-19 20:34] #108910 closed

[2020-10-19 20:35] mjbvz commented on #108908
Duplicate of #107104

[2020-10-19 20:35] #108908 closed

[2020-10-19 20:37] gjsjohnmurray commented on #108944
![image](https://user-images.githubusercontent.com/6726799/96508897-2b1f7700-1253-11eb-8ca7-2de167e7829b.png)

If that isn't what you need please give more details.

[2020-10-19 20:53] ameltzerMSFT opened #108955 "Search not looking for files in paths starting with a dot (.)"
Issue Type: <b>Bug</b>

When I have a file contained in a directory starting with a dot, search is not finding it. This means I often times need to fall back to using findstr in a terminal window to find the text I am looking for.

Search result:
![image](https://user-images.githubusercontent.com/26661268/96510379-48802100-1212-11eb-841c-6347b60384ef.png)

Findstr result:

![image](https://user-im

[2020-10-19 20:53] nathanielastudillo opened #108956 "VSCode Changes looping between two differently-cased filenames (one of which is deleted)"
Issue Type: <b>Bug</b>

VSCode inside WSL:Ubuntu switches between two differently-cased versions of a file indefinitely within the changes tab.

Steps To Reproduce:

1. Start with 2 files, one named Jenkinsfile and one named JenkinsFile
2. Initialize repo with both files (Jenkinsfile, JenkinsFile)
3. Delete file (JenkinsFile)
4. Commit change
5. Edit file (Jenkinsfile)
6. Discard Changes (Jenkinsf

[2020-10-19 20:56] ameltzerMSFT commented on #98212
Update: This is still happening in 1.50.0

[2020-10-19 21:12] brendandebeasi commented on #69665
Same here on Ubuntu 20.04. Happens to Slack, Chrome and anything using a webview (Webkit / Chromium?) renderer. I was able to solve the problem by force quitting the app through System Monitor. Not a perfect solution, but better than restarting

[2020-10-19 21:35] danielt117 opened #108957 ""scm.providerCountBadge" not working"
- VSCode Version: 1.50.1
- OS Version: Ubuntu 20.04

The "scm.providerCountBadge" setting no longer works (none of the 3 option).
If i remember correctly, this is responsible for the number on the right. But even if i set it to "hidden", it's still visible.
Currently it acts like it's always on "visible".

![Screenshot from 2020-10-19 11-34-11](https://user-images.githubusercontent.com/42888821/96

[2020-10-19 21:46] penagos commented on #108844
Yes; those sound like reasonable command names. They're also inline with the nomenclature used for focusing the call stack window, i.e. `workbench.debug.action.focusCallStackView`.

[2020-10-19 21:46] deepak1556 commented on #90466
@GeeLaw can you confirm if this is still an issue with latest insiders https://code.visualstudio.com/insiders/ ?

[2020-10-19 21:54] jsunsawyer commented on #108952
This may be related, but I just ran into an issue where after I opened a project via terminal, 2 files from another open workspace were showing up in my newly opened workspace.

[2020-10-19 21:55] frevds opened #108958 "Terminal not filling whole height after keypress"
Issue Type: <b>Bug</b>

Terminal window somehow does not fill the whole line but seems to have some invisible status bar area.
Clicking on the bottom part of the console does not activate the console then.
This is not always the case though. Switching to another pane such as the Debug Console and going back, the Terminal fills the whole height again, but only until I press the Spacebar key (any ot

[2020-10-19 22:02] frevds commented on #108958
PS: This seems to have something to do with word-wrap of the lines above (see video). If the window is maximized this issue disappears, although not completely. Apparently the height of the console is calculated explicitly rather than automatically by css.

[2020-10-19 22:24] deepak1556 commented on #108806
Can you provide a screen recording, close those unsaved files and from a clean state try to open the app from the dock ?

We only append the `--crash-reporter-id` and the uuid value inside the app forwarding to a different process, it shouldn't be used for app startup.

This is only possible if whatever application is launching the app uses the following style of calls

[code]

Can you also get th

[2020-10-19 22:24] RMacfarlane commented on #45674
Closing as out-of-scope

[2020-10-19 22:24] #45674 closed

[2020-10-19 22:26] RMacfarlane commented on #76530
I think this is used infrequently enough that it doesn't need to be in command palette, so will close this as out-of-scope

[2020-10-19 22:26] #76530 closed

[2020-10-19 22:37] RMacfarlane commented on #108319
Can others who are seeing this issue (specifically, "No authentication provider 'github' is currently registered", not the 801 error) try using the [insider's edition](https://code.visualstudio.com/insiders/) of VSCode? Do you see the problem there as well?

[2020-10-19 22:54] deepak1556 commented on #106369
Thanks for the logs, this is kinda similar to https://github.com/microsoft/vscode/issues/108087 but there is subtle difference in the HTTP2_SESSION stack but then again not sure what is causing the reset.

[code]

Couple of things to try,

1) Can you try pointing to one of the public DNS servers and see if the issue continues ?

2) Can you check if the issue happens with our exploration build http

[2020-10-19 23:11] laterz opened #108959 "vscode can not update ,help"
- VSCode Version:1.50.1
- OS Version:win7

Steps to Reproduce:

1.when i click the button 'Help->Check for Updates' ,always show error:

net::ERR_CERT_AUTHORITY_INVALID
source:Update Service

2.in fact，this occurs since 1.49.1 . so i download the new vscodeUserSetup.exe to reinstall vscode.

Does this issue occur when all extensions are disabled?: Yes

[2020-10-19 23:12] deepak1556 commented on #108225
[code]

gpu process crash due to the above missing drivers. Can you check if the app starts if you use the archive version `.tar.gz` https://code.visualstudio.com/insiders/

[2020-10-19 23:44] mebest100 commented on #108921
Hi, Pls check the installed  extesion link:
https://marketplace.visualstudio.com/items?itemName=k--kato.intellij-idea-keybindings

[2020-10-19 23:58] #94712 closed

[2020-10-19 23:59] mjbvz commented on #94712
Added a hover for the in-product release notes:

<img width="593" alt="Screen Shot 2020-10-19 at 4 57 39 PM" src="https://user-images.githubusercontent.com/12821956/96524151-5347af80-122c-11eb-9280-dcb90993257d.png">

@gregvanl Can you also make sure that our website shows the correct information? The fix was to add a `title` attribute to the html `<code>` element for keybindings

[2020-10-20 00:03] sbatten commented on #95561
still repros

[2020-10-20 00:04] mjbvz commented on #96892
Closing this as out of date. @sirusdas If you are still seeing this with the latest VS Code, let me know and I can share info on how to collect more detailed logs

[2020-10-20 00:04] #96892 closed

[2020-10-20 00:09] sbatten commented on #96381
some work was done for another issue, we don't a clean have a way to ensure the sizes are equal, but we do better in most cases now.

[2020-10-20 00:09] #96381 closed

[2020-10-20 00:14] sbatten commented on #97372
An extension could provide this feature. One extension can provide a way to register arbitrary commands. e.g. https://marketplace.visualstudio.com/items?itemName=maruruh.vscode-quick-menu-builder

[2020-10-20 00:14] #97372 closed

[2020-10-20 00:16] gregvanl commented on #94712
For the website, the hover normally show the keybindings for other platforms (for example macOS, Linux) so only showing the commandId when the value is `unassigned`
![image](https://user-images.githubusercontent.com/12818376/96525087-e1249a00-122e-11eb-9407-d70908aefaad.png)

[2020-10-20 00:17] mjbvz commented on #108454
Actually this effects other in-memory resources too so reopening. To verify:

- Use the Fs provider extension sample
- Open

[2020-10-20 00:18] sbatten commented on #94190
after thinking about this, we would prefer to avoid scrolling the menu in most cases so adding conditions to make it more likely are out of scope. however, the java extension should probably not be doing the above.

[2020-10-20 00:18] #94190 closed

[2020-10-20 00:19] #108454 closed

[2020-10-20 00:22] David263 commented on #108454
This strange bug thread is one reason I've decided not to use VSC as my code editor. I don't want to use an editor, no matter how otherwise functional, that can't fix its own bugs in an intelligent and timely way.

[2020-10-20 00:26] #99069 closed

[2020-10-20 00:27] sbatten commented on #99069
Add some clarifying text since we don't want to change the key names

[2020-10-20 00:30] sbatten commented on #99204
@misolori do we have an icon like this  `>_`? if so we can switch to that and close this issue.

[2020-10-20 00:30] #99205 closed

[2020-10-20 00:30] mjbvz commented on #108454
Somedays you just can't win at open source :)

[2020-10-20 00:33] #99689 closed

[2020-10-20 00:33] mjbvz commented on #59650
This was enabled progressively over the last few months to support serverless. Here's basic IntelliSense shown for in a file using the [memfs example extension](https://github.com/Microsoft/vscode-extension-samples/tree/master/fsprovider-sample):

<img width="1092" alt="Screen Shot 2020-10-19 at 5 19 46 PM" src="https://user-images.githubusercontent.com/12821956/96525912-10d4a180-1231-11eb-87ce-3d

[2020-10-20 00:33] #59650 closed

[2020-10-20 00:34] misolori commented on #99204
Since this issue has had little activity for 4 months from others I think we're fine to close this issue.

[2020-10-20 00:35] #100009 closed

[2020-10-20 00:35] mjbvz commented on #59650
To verify:

1. Using https://github.com/Microsoft/vscode-extension-samples/tree/master/fsprovider-sample
1. Run `MemFS: setup workspace`
1. Run `MemFS: Create files`
1. Try some basic IntelliSense operations in the JS and TS files: hover, suggest, document outline, folding

[2020-10-20 00:36] sbatten commented on #100059
the PR was merged, was this resolved?

[2020-10-20 00:38] #100094 closed

[2020-10-20 00:39] David263 commented on #108454
mjbvz,. I think that is true. Only when there are good bug fixers and good documentation writers and good designers and good coders in the active community does Open Source really shine. Otherwise, I've evaluated 14 code editors and discovered that those that are sold by a single developer for money are freest of bugs and the best documented. In may cases, they are also the most functional product

[2020-10-20 00:40] mjbvz commented on #103454
Remaining (all under `dom.ts`):

- [ ] [`addClass`](https://github.com/microsoft/vscode/blob/cd2a92ae134d4eb20f20f8f6250a4a89c86e7abb/src/vs/base/browser/dom.ts#L72)
- [ ] [`addClasses`](https://github.com/microsoft/vscode/blob/cd2a92ae134d4eb20f20f8f6250a4a89c86e7abb/src/vs/base/browser/dom.ts#L72)
- [ ] [`removeClasses`](https://github.com/microsoft/vscode/blob/cd2a92ae134d4eb20f20f8f6250a4a89c8

[2020-10-20 00:43] David263 commented on #108454
It may be of interest to those who have been following my search for a code editor to know that I've given up my search as fruitless and plan to write my own. It will be lightweight, easily extendible, and work with all OSs because it will be an Ajax/JavaScript/PHP/Bootstrap self-hosted website. It will welcome an Open Source community for extensions and suggestions only, and I will fix any bugs a

[2020-10-20 00:44] #100521 closed

[2020-10-20 00:46] gjsjohnmurray commented on #108935
I previously wrote:

Probably #108454

[2020-10-20 00:46] #101866 closed

[2020-10-20 00:46] sbatten commented on #101866
please post if this issue is still reproducing

[2020-10-20 00:53] mjbvz commented on #108876
Also please share example markdown that demonstrates the problem

[2020-10-20 00:53] #102345 closed

[2020-10-20 00:54] robsonpeixoto opened #108960 "Allow extensions to determine if a position is within a fold"
This issue(https://github.com/VSCodeVim/Vim/issues/1004) very annoying but need it(https://github.com/microsoft/vscode/issues/22276).

Is the right time to discuss about it again?

Thanks

[2020-10-20 00:54] #99204 closed

[2020-10-20 01:13] ayuayue opened #108961 "Starting a Web service in termianl with VsCode sometimes slows access"
- VSCode Version: 1.50.1
- OS Version: win10

Steps to Reproduce:

1. terminal run a web service
2. brower open service

Does this issue occur when all extensions are disabled?: Yes

[2020-10-20 01:13] sbatten commented on #102396
what happens here is logically correct, but not intuitive. making this case intuitive would be quite convoluted. there are a too many cases and fixing this will likely break other cases. what is more noticeable in this case is that a "reset" is desired because of the icon issue. that has since been fixed so I think we can close this one.

[2020-10-20 01:13] #102396 closed

[2020-10-20 01:27] RMacfarlane commented on #54441
Closing since there have been no further reports of this and I'm not able to repro it.

[2020-10-20 01:27] #54441 closed

[2020-10-20 01:31] RMacfarlane commented on #89301
We log 'login' and 'logout' events for the auth providers, so closing this as complete

[2020-10-20 01:31] #89301 closed

[2020-10-20 01:34] RMacfarlane commented on #64386
Closing in favor of https://github.com/microsoft/vscode/issues/95165

[2020-10-20 01:34] #64386 closed

[2020-10-20 01:36] RMacfarlane commented on #93894
Same root cause as https://github.com/microsoft/vscode/issues/108411, so closing this as a duplicate

[2020-10-20 01:36] #93894 closed

[2020-10-20 01:45] DonJayamanne commented on #107992
Yes (used in output using VSCode notebooks API)

This isn't a web server started by Python extension.
When running `%load_ext tensorboard`, tensor flow starts the local web server.

[2020-10-20 01:56] sweihub commented on #108931
I have the same issue with Remote-SSH mode, the args dose not work at all, I use /usr/bin/echo to ouput the comnand line, any prompt solution will be apprecated.

tasks.json

[code]

Output indicates the args dose not work at all.

[code]

[2020-10-20 02:00] #108555 closed

[2020-10-20 02:01] mjbvz commented on #108555
The new behavior should now be:

1. Starting with a single folder
1. Webview created
1. User adds folder to create a workspace
1. Extension host restarts.
1. This should restart the extension and also clear the old webview view
1. We should then try re-resolve the new webview view with the new extension host

[2020-10-20 02:02] sweihub commented on #108931
Quick solution/workaround

Remove the `“type”: "cppbuild"` property will work, my /usr/bin/echo output seems working

[code]

[2020-10-20 02:46] kevinresol opened #108962 "Unable to select intermediate folder when condensed path is not fully shown"
Issue Type: <b>Bug</b>

In the following two screenshots my cursor (not captured in the shot) is over the "physics" folder.

When the condensed path is not fully shown, the "physics" folder does not show hovered effect and clicking it does not bring me to that folder. Instead it just expands/collapses the entire condensed path.
<img width="202" alt="Screenshot 2020-10-20 at 10 40 06 AM" src="https

[2020-10-20 02:48] deepak1556 commented on #108860
Thanks for the dumps, the symbolicated trace

[code]

[2020-10-20 02:50] deepak1556 commented on #108860
yup that is correct assumption based on the above trace

[2020-10-20 02:59] yume-chan commented on #108936
Please use the [issue template](https://github.com/microsoft/vscode/issues/new?template=bug_report.md) to include your operating system and vs code versions.

[2020-10-20 03:11] amitguptagwl commented on #106609
Yes, it has package.json file, node_modules folder

[2020-10-20 03:22] ninotrivelli commented on #108447
I found a solution!!! Delete VS Code completely from your pc, including the folder located in C/user/.vscode that still exists after vscode is uninstalled.

Install vs code in another pc without activating the vscode sync built in feature, and install every extension that you use.
Activate sync. Then download vscode in your original PC, turn on sync, log in,  and select "Replace Local" for the syn

[2020-10-20 03:27] mjbvz commented on #108414
I can't reproduce this. Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

Any extra steps required to trigger the problem?

[2020-10-20 03:28] sravyakusam opened #108963 "autocomplete not working"
Issue Type: <b>Bug</b>

HI, I have :
 "editor.quickSuggestions": {
        "other": true,
        "comments": false,
        "strings": true
    },

Still I dont get autocomplete suggestions in strings. THis is in a json file. How can I fix the issue..?

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.19041

<details

[2020-10-20 03:28] mjbvz commented on #108395
Closing this a we need more information to investigate.

This command will only work if a webview exists (and is visible)

[2020-10-20 03:28] #108395 closed

[2020-10-20 03:29] mjbvz commented on #108288
Did you get a chance to test this?

[2020-10-20 03:29] mjbvz commented on #108188
Closing as not actionable without more info

[2020-10-20 03:29] #108188 closed

[2020-10-20 03:34] mjbvz commented on #107994
The import being added above the comment sounds like a bug. Can you please open a separate issue for that with some example code

Regarding a notification: we've had auto imports for something like three years now and have not see other requests for making them more obvious. I am very hesitant to introduce confirmations or notifications or anything else that could slow user down or make the editor

[2020-10-20 03:34] #107994 closed

[2020-10-20 03:36] mjbvz commented on #107514
Closing as not actionable without more information about how to reproduce this

[2020-10-20 03:36] #107514 closed

[2020-10-20 03:42] mjbvz commented on #102908
I don't think an extension can reasonably hide its individual icons with current APIs, so closing this in favor of the more general solution tracked by #46403

[2020-10-20 03:42] #102908 closed

[2020-10-20 03:43] mjbvz commented on #101750
Duplicate of #84216 I believe

[2020-10-20 03:43] #101750 closed

[2020-10-20 03:45] mjbvz commented on #101181
Duplicate of #108596 (newer issue I know, but I already linked the commit to that one)

[2020-10-20 03:45] #101181 closed

[2020-10-20 03:54] mjbvz commented on #106609
Please share an example project

[2020-10-20 03:59] StephenWeatherford opened #108965 "cpuprofile files generated by vscode for extension performance won't load on Mac"
I'm not blocked, so not high pri, but this is the second time I had to go to a win32 machine to debug a performance scenario because the files won't load on a Mac.  For example, try the one in https://github.com/microsoft/vscode-azurearmtools/issues/1051

I always get this:

(and yes, I did rename to .cpuprofile)

[2020-10-20 04:00] mjbvz commented on #100612
I'm going to close this as by-design. Our `fs` apis do not work with virtual text documents created by `TextDocumentContentProvider`, which really limits what you can do.

The `TextDocumentContentProvider` api was designed for showing text content to the user in an editor. If you want to show virtual documents using custom editors, try using a custom file system provider instead. These can be used

[2020-10-20 04:00] #100612 closed

[2020-10-20 04:04] 947612227 opened #109042 "command + click 崩溃了"
按下转到定义的快捷键之后，vscode崩溃了
![image](https://user-images.githubusercontent.com/39144531/96538925-55f9e180-12cc-11eb-956f-ce9f13267ad9.png)

[2020-10-20 04:04] danyeh opened #108966 "[VCQ][DevDiv_VSO][VSCode][Source|Structure: typo]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:06] danyeh opened #108967 "[VCQ][DevDiv_VSO][VSCode][Source|Ambiguity: confusing sentence]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:07] danyeh opened #108968 "[VCQ][DevDiv_VSO][VSCode][Debug URL]"
<table style="border-collapse:collapse;width:631pt;" width=841><tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-f

[2020-10-20 04:08] danyeh opened #108969 "[VCQ][DevDiv_VSO][VSCode][Placeholder: Install {0} Extension]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:08] danyeh opened #108970 "[VCQ][DevDiv_VSO][VSCode][Source Ambiguity: Format the whole file.]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:08] danyeh opened #108971 "[VCQ][DevDiv_VSO][VSCode][Meaning check: contribute]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:08] danyeh opened #108972 "[VCQ][DevDiv_VSO][VSCode][What is localizable in these strings?]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:08] danyeh opened #108973 "[VCQ][DevDiv_VSO][VSCode][You have {0} installed on your system: ambiguity]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:11] danyeh opened #108974 "[VCQ][DevDiv_VSO][VSCode][Webview views are proposed api]"
<table style="border-collapse:collapse;width:631pt;" width=841><tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-f

[2020-10-20 04:11] danyeh opened #108975 "[VCQ][DevDiv_VSO][VSCode][Meaning check]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:12] danyeh opened #108976 "[VCQ][DevDiv_VSO][VSCode][Meaning check: hook]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:13] danyeh opened #108977 "[VCQ][DevDiv_VSO][VSCode]["Electron" and "Chrome" remain in English ?]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:13] danyeh opened #108978 "[VCQ][DevDiv_VSO][VSCode][Show Tunnels View: localizability]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:14] danyeh opened #108979 "[VCQ][DevDiv_VSO][VSCode][Ambiguity]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:14] danyeh opened #108980 "[VCQ][DevDiv_VSO][VSCode][Source - Unknown Placeholders]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:15] danyeh opened #108981 "[VCQ][DevDiv_VSO][VSCode][The blue color used charts.]"
<table style="border-collapse:collapse;width:631pt;" width=841><tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-f

[2020-10-20 04:15] danyeh opened #108982 "[VCQ][DevDiv_VSO][VSCode][Source | Ambiguity: What does "remote" refer to here?]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:16] danyeh opened #108983 "[VCQ][DevDiv_VSO][VSCode][Source ambiguity: Focus Settings Search]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:16] danyeh opened #108984 "[VCQ][DevDiv_VSO][VSCode][meaning of placeholder]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:16] danyeh opened #108985 "[VCQ][DevDiv_VSO][VSCode][Source | Placeholder: What do the placeholders stand for?]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:18] danyeh opened #108986 "[VCQ][DevDiv_VSO][VSCode][Placeholder meaning check]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:18] danyeh opened #108987 "[VCQ][DevDiv_VSO][VSCode][Placeholder]"
<table style="border-collapse:collapse;width:631pt;" width=841>
<tbody>
 <tr>
  <td style="color:black;font-size:11pt;font-family:Calibri, sans-serif;vertical-align:bottom;border:none;vertical-align:top;border:0.5pt solid windowtext;background:#9bc2e6;border:1px solid #d4d4d4;border-top:none;width:104pt;" width=138 height=20><strong>MS PM</strong></td>
  <td style="color:black;font-size:11pt;font-

[2020-10-20 04:39] PizzaPartyInc commented on #108925
Thanks for the reference!

Unfortunately, removing the `--inspect-brk` does not work. Tried following script variations with all Auto Attach options:

[code]

[code]

The app starts normally, but debugger is not attached.

[2020-10-20 04:40] jeanp413 commented on #108819
I think this is a duplicate of https://github.com/microsoft/vscode/issues/106097

[2020-10-20 05:02] Jaswant9829 opened #108988 "extension host terminated unexpectedly."
extension host terminated unexpectedly.

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 6.1.7600

1.

- [ ]
![Capture](https://user-images.githubusercontent.com/73154682/96542359-8b4c0280-12bf-11eb-93d5-40acb9c6c1bb.PNG)

[2020-10-20 05:08] Jaswant9829 opened #108989 "extension activating"
- [ ]
![activating](https://user-images.githubusercontent.com/73154682/96542738-5a200200-12c0-11eb-80a4-4d8b80bd6f69.PNG)
Issue Type: <b>Performance Issue</b>

when i run any extenion there pop a error activating extenstion

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 6.1.7600

<details>
<summary>Process Info</summary

[2020-10-20 05:12] PizzaPartyInc commented on #108925
Ok, managed to make it work with `--inspect` and "Auto Attach: With Flag". The issue was that after enabling Auto Attach - it is now required to restart the terminal (or VScode). This is a one-time action and once auto attach is enabled - this will no longer be required. VScode gives you a warning, but it's easy to miss:
![image](https://user-images.githubusercontent.com/37663061/96542907-d2c89380

[2020-10-20 05:12] #108925 closed

[2020-10-20 05:21] chrmarti commented on #108917
@masternikhilgupta Can you provide more information, which programming language are you using when this happens? Does it still occur when disabling all extensions? It sounds like the renderer might use up the CPU, can you check again with `code --status` and if so follow https://github.com/Microsoft/vscode/wiki/Performance-Issues#profiling-the-renderer-process to get a profile? (More info: https:/

[2020-10-20 05:55] chrmarti commented on #108921
Make sure the extension is enabled and no other keymap extensions are installed. (Check in the Extension viewlet.)

[2020-10-20 05:59] bpasero commented on #90603
@sbatten I cannot tell if this error is still happening because error telemetry is not showing results for our latest releases, nor do sourcemaps work. Looking at the code I would not be able to understand how the error can happen given `input` is never undefined or null on the active editor pane.

[2020-10-20 06:01] yoyo930021 commented on #108447
I'll provide more information.
Vetur get a issue about auto formatting not working. https://github.com/vuejs/vetur/issues/2388
But if you go to the settings and turn the format off and on, it will work.

In vetur, we will register `DocumentFormattingRequest` in LSP when config change.
https://github.com/vuejs/vetur/blob/master/server/src/services/vls.ts#L142
There is also a comment that says that

[2020-10-20 06:03] bpasero commented on #98504
\closedWith 89c002ab02f87102d91efc83c191ef1174756c6a

[2020-10-20 06:06] bpasero commented on #100059
No, from the PR description:

[2020-10-20 06:07] bpasero commented on #108932
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-10-20 06:08] bpasero commented on #108716
The history of recently opened files is updated based on file events and will remove entries when they get deleted. But if VSCode is not running and files are deleted, the history is potentially stale.

I have no plans to change this.

[2020-10-20 06:08] #108716 closed

[2020-10-20 06:10] bpasero commented on #108880
@jeffmcaffer yes, we have some logic that tries to be clever and detect if we can put the keybinding label into the menu or not. It looks like my keybinding was detected to not be supported and thus appears as label right after the command name.

Do you have any other program (native, macOS) to compare the appearance with? This could be a macOS issue in the end, since this looks like the native ap

[2020-10-20 06:12] YounesN commented on #108856
I assumed that we only need to respect `Workbench > Editor: Enable Preview`. `Quick Open` is a specific functionality and shouldn't affect this issue. @joaomoreno, please let me know if that's not the case and I will update the PR.

[2020-10-20 06:31] Abbyyan commented on #108342
https://docs.github.com/cn/free-pro-team@latest/github/using-git/updating-credentials-from-the-macos-keychain

[2020-10-20 06:36] biter777 commented on #26777
Maybe it's time to include this improvement in the road map?
Please :)

[2020-10-20 06:42] egamma commented on #108798
@misolori

Makes sense.

However, in contrast to the debug icon the remote explorer icon is not badge friendly. The 'ports available badge' covers the 'remote decoration' of the icon. Without the remote decoration visible, the remote explorer icon is not easy to spot.

[2020-10-20 06:48] leonardder commented on #104673
Sorry for opening the duplicate.
To be honest, I'm experiencing this as a pretty major issue. There's no reliable way to find out whether I'm indenting with tab or space, unless I copy stuff to another text editor.

[2020-10-20 06:54] MartinBreznik opened #108991 "TS Server fatal error: Debug Failure. False expression."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.0.2

**Steps to reproduce crash**
1. write code
2. software randomly crashes at what seems to be no particular order
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, f

[2020-10-20 07:05] jrieken commented on #108447
Turns out this is from fixing https://github.com/microsoft/vscode/issues/106376. Before that change, VS Code would pick a random formatter (during format on save) when having multiple formatters and not having a configured default. I understand how this is unpleasant but I wouldn't call this a regression as before things have ben working by chance only.

##### Configure default formatter

As alrea

[2020-10-20 07:06] jrieken commented on #108365
/duplicate of https://github.com/microsoft/vscode/issues/108447

[2020-10-20 07:06] #108365 closed

[2020-10-20 07:08] jerryzhoujw opened #108992 "[device] Better to provide more detail name for device, when device have same name"
I have 2 device:  iPhone 8(14.0) & iPhone8(12.2)

In device list, it shows same as iPhone8, which would be better if it have same name, display extra info, like:

- iPhone 8(14.0)
- iPhone8(12.2)

<img width="452" alt="Screen Shot 2020-10-20 at 3 03 47 PM" src="https://user-images.githubusercontent.com/6405390/96552067-d5e07580-12e5-11eb-983b-61528be82cbe.png">
<img width="203" alt="Screen Shot 20

[2020-10-20 07:09] evilucifero commented on #108927
i update system to 10.15.7 and seems everything going well now.

[2020-10-20 07:10] #108927 closed

[2020-10-20 07:10] molly-w opened #108993 "Different result between external and integrated terminal when reading Cyrillic with encoding=GBK"
- VSCode Version: 1.50.1
- OS Version: win10

Steps to Reproduce:

1. code:
[code]
2.When running in external Command Prompt, input `Привет`, got the right output:
![image](https://user-images.githubusercontent.com/63043224/96552150-f6103480-12e5-11eb-85c6-4d88d9e3e5a4.png)

3.When running in integrated Terminal in vscode, nothing shown:
![tempsnip](https://user-images.githubusercontent.com/630432

[2020-10-20 07:15] merceyz commented on #59650
Can confirm it's been working with zip files using https://marketplace.visualstudio.com/items?itemName=arcanis.vscode-zipfs for quite a while now, thanks! :tada:

[2020-10-20 07:22] tonymorton297 opened #108994 "will not build"
Issue Type: <b>Bug</b>

*** [.pio\build\esp32doit-devkit-v1_chill\libe1b\DHT sensor library\DHT_U.cpp.o] Error 1

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9900K CPU @ 3.60GHz (16 x 3600)|
|GPU Status|2d_canvas: e

[2020-10-20 07:32] valbrea commented on #108924
Similar problem as mine.
When using version 1.50.1, I saved my workspace from WSL to Windows Desktop.
It can't be opened in windows and said 'unable to resolve wrkspace folder'.
I can only open it from bash.
Never encountered before, and the previously saved workspace can still be opened in Windows.

I open '.code-workspace' file in notepad
Old file writes:

[2020-10-20 07:33] yqbboy opened #108995 "vscode远程开发支持"
Does vscdoe1.50.1 support remote development? My JDK version is Oracle JDK1.8. After debugging for half a day, I can't run remote code。。。。
---------------------------------
Version: 1.50.1
Commit: d2e414d9e4239a252d1ab117bd7067f125afd80a
Date: 2020-10-13T14:53:05.704Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.0.0
----------------------------

[2020-10-20 07:35] alexdima commented on #108880
I also get this rendering:
![image](https://user-images.githubusercontent.com/5047891/96553613-b5002c00-12b5-11eb-9b34-0458c4d9350f.png)

@bpasero it might be that you are not using a US standard keyboard layout and that's why it renders differently for you.

I think the problem here is that Electron can render these keybindings fine, it's just that we don't quite like how it renders them because

[2020-10-20 07:36] badsyntax commented on #108657
Looks good to me!

/verified

[2020-10-20 07:47] #108880 closed

[2020-10-20 07:47] alexdima commented on #108880
These ones will now render like this:
![image](https://user-images.githubusercontent.com/5047891/96556447-48872c00-12b9-11eb-9f60-11a1235e60a9.png)

[2020-10-20 07:50] weinand commented on #105417
@Trass3r Please consider to publish your extension on the Marketplace.

[2020-10-20 07:51] #105417 closed

[2020-10-20 07:54] JansthcirlU commented on #108734
This issue still persists after uninstalling and reinstalling Visual Studio Code. This bug is especially annoying for web development since I'm used to Alt + Clicking the localhost address to view my pages. I know that I can just open the localhost address once and then refresh when needed, but that still does not justify such a critical bug in the terminal.

[2020-10-20 07:58] alexdima commented on #108755
Rendering tabs works currently by substituting a tab character with a certain number of spaces. So, for example, on line 2 there are 6 zeros and a tab character; the tab character is rendered with 2 spaces. On line 6, there are 2 zeros and the tab character is rendered with 6 spaces. This works well for monospace fonts and leads to things aligning.

We render tabs with spaces and not by implementi

[2020-10-20 08:00] gui-santos commented on #108414
It happened the same thing with the same repo in VS Code insiders. And there are no extensions in this vs code (in the extensions tab if I filter "installed" extensions I get nothing)

![Screenshot 2020-10-20 at 09 59 50](https://user-images.githubusercontent.com/6597467/96557812-15de3300-12bb-11eb-949d-9b1ae6729173.png)

I just opened my project in VS Code and then I opened a js file. After a few

[2020-10-20 08:12] alexdima commented on #108858
This appears to be a special case of #108755 where all characters are monospace, except for `m`. Let's track in #108755

[2020-10-20 08:12] #108858 closed

[2020-10-20 08:20] joaomoreno commented on #108959
Are you in an enterprise network?

[2020-10-20 08:21] joaomoreno commented on #108474
#100940

[2020-10-20 08:21] #108474 closed

[2020-10-20 08:24] alexdima commented on #108848
Our initial logic for these cases was similar to what you propose here.

We changed it in February (see https://github.com/microsoft/vscode/pull/77762) and IMHO it was a good change because it aligns with many examples of what people are asking for in #49342 (just take a look through that thread).

Azure Portal or OneDrive have probably not updated yet to a newer monaco editor version.

I think wh

[2020-10-20 08:26] alexr00 commented on #108798
@misolori could we flip the remote explorer icon? Badges in the activity bar are an expected and normal occurrence, so it seems like all icons in the activity bar should be badge friendly.

I am open to removing the badge, but it is consistent with how debug works.

[2020-10-20 08:27] alexdima commented on #108813
This is not a keybinding dispatching problem, but rather a problem with our default keybindings, where we have opted to follow browser zoom keybindings for zooming in or zooming out, but not for resetting the zoom.

[2020-10-20 08:30] #108931 closed

[2020-10-20 08:33] artyil commented on #107615
Removing `outFiles` property resolved the issue for me, thanks a lot @connor4312
Saved my day / week 👏 👍

[2020-10-20 08:33] bpasero commented on #108813
/duplicate https://github.com/microsoft/vscode/issues/105171

[2020-10-20 08:34] alexdima commented on #108780
Let's track in #28795

[2020-10-20 08:34] #108780 closed

[2020-10-20 08:34] #108813 closed

[2020-10-20 08:35] joaomoreno commented on #103454
- Terminal @Tyriar
- Webview @mjbvz
- Scrollbar @alexdima
- Lightbulb Widget @aeschli
- Workbench Theme Service @aeschli

[2020-10-20 08:36] chrmarti commented on #95334
Is this still an issue?

[2020-10-20 08:37] CuteShaun commented on #38999
+ 1 same issue, ubuntu 20.04 LTS, vscode version 1.50

[2020-10-20 08:40] IllusionMH commented on #79544
It "works" in Insiders builds (haven't checked since August).

Now context menu stays and can be uses with keyboard to select action, but it's triggered on item that is in the center of Explorer (vertical and horizontal).

[2020-10-20 08:44] chrmarti commented on #105954
@pmarella2 Are you using a VPN client or some local firewall? Can you turn these off and retry?

[2020-10-20 08:45] alexdima commented on #108833
Hmm this works fine for me:

![image](https://user-images.githubusercontent.com/5047891/96562747-6789bc00-12c1-11eb-82ef-3a3e723607f9.png)

[2020-10-20 08:48] #108994 closed

[2020-10-20 08:49] alexdima opened #108996 "Safari: tab linear gradient rendering is not working"
![image](https://user-images.githubusercontent.com/5047891/96563201-f5fe3d80-12c1-11eb-9bae-fc8d0b0058d9.png)

[2020-10-20 08:50] joaomoreno commented on #107443
@wasserman Do you have another macOS machine you can try this on?

[2020-10-20 08:53] joaomoreno commented on #108956
Can you show me that?

What is the actual file name in disk?

[2020-10-20 08:54] joaomoreno commented on #108916
#100940

[2020-10-20 08:54] #108916 closed

[2020-10-20 08:55] bpasero commented on #108996
Up for grab, this may just be Safari not supporting our `linear-gradient` properly:

https://github.com/microsoft/vscode/blob/d1578555f7247b8070df0ba625d046859a163f04/src/vs/workbench/browser/parts/editor/tabsTitleControl.ts#L1633-L1727

[2020-10-20 08:57] alexdima commented on #108996
possibly related, the shadow of the editor minimap is also not rendering well -- https://github.com/microsoft/vscode/issues/108822

[2020-10-20 08:58] laterz commented on #108959
no , home network .anything else is normal, also the Extensions search / install.

[2020-10-20 09:02] chrmarti commented on #106311
It fails to resolve the IP address of the server holding the PAC file. Can you try using 8.8.8.8 (Google Public DNS) as your DNS server?

[2020-10-20 09:03] chrmarti commented on #107821
Closing for now, let me know when you have an example demonstrating the problem.

[2020-10-20 09:10] slavik-lvovsky commented on #108933
I asked the question in StackOverflow but I still think it is a bug. No one answers on it.
You can easily reproduce it using the simple extension I created.

[2020-10-20 09:12] Nours2806 opened #108997 "ctrl+c"
Issue Type: <b>Bug</b>

bonjour,
la touche CTRL+c ne marche plus pour faire une copie, à la place il me fait la commande "insert"
pouvez-vous m'aider ?
merci d'avance

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD FX(tm)-8350 Eight-Co

[2020-10-20 09:13] alexr00 commented on #108907
I would be open to a PR for this.

[2020-10-20 09:14] hediet opened #108998 "Opening Files Through Relative Markdown Links Ignores Custom Editors"
- VSCode Version: 1.50.1
- OS Version: Windows 10

Keywords: **Markdown**, **Custom Editor**, **Text Editor**

*This happens only with custom editors and as such can only be reproduced with third party extensions.*

## Context

I have the drawio extension installed. It works as expected when opening the file by using the explorer view:

![22220577-58c8-47e3-88e2-8e0f6adf540a](https://user-images.g

[2020-10-20 09:17] #108842 closed

[2020-10-20 09:20] alexr00 commented on #100741
Yes, I need to get the hover working properly on resources (files and the like) when they are in the tree. Once that's good, we can move it to stable shortly after.

[2020-10-20 09:21] myfonj opened #108999 "Add "Focus into Activity Bar" action"
Analogically to _"Focus into Panel"_, _"Focus into Side Bar"_, _"Focus on * View"_ commands it should be possible to move **focus on active item in the Activity Bar** with single command.

Currently -- with default settings -- it is only possible to <kbd>Shift</kbd><kbd>Tab</kbd> there from _Side Bar_, but is comparatively more cumbersome and it respects visual order instead of "focus active item"

[2020-10-20 09:22] crystalfp commented on #108755
I know that to align text you need monospaced font and I never tried to write code with a proportional font.
I'm using VSC to write markdown text in which the only need for alignment is in tables. So I found this Duospace font (see #108858) a good compromise for legibility. Anyway my problem is really minor, but I understand that with proportional fonts could become annoying.

[2020-10-20 09:24] hediet opened #109000 "Editors Don't Remember "Open With..." Selection When Dragged"
- VSCode Version: 1.50.1
- OS Version: Windows 10

## Steps To Reproduce

1. Open a file that opens by default with a custom editor with "Open with..." and select "Text"
2. Move the editor to a separate group

![1a0787a9-d2da-4dff-8439-caed7d284aea](https://user-images.githubusercontent.com/2931520/96566746-4081b900-12c6-11eb-8276-6c190668aa0f.gif)

## Issue

Observation: After dragging the text e

[2020-10-20 09:24] #108717 closed

[2020-10-20 09:28] chrmarti commented on #88887
@abist Is this from a download you run in a separate Node process? We add system certificates to VS Code's extension host process, but we cannot pass these to any subprocesses.

[2020-10-20 09:28] tiancihe opened #109001 "Multiple vscode icon on macos dock"
- VSCode Version: 1.50.1
- OS Version: MacOS 10.15.6

Steps to Reproduce:

1. make vscode icon keep in Dock
2. use terminal to open a folder in vscode via `code .`
3. another vscode icon appears in Dock

Does this issue occur when all extensions are disabled?: Yes

[2020-10-20 09:30] alexr00 commented on #108556
@EthanBannister can you share your VS Code settings too? I'm wondering if there are any terminal settings that are causing this.

[2020-10-20 09:32] chrmarti commented on #90900
All our validation assumes you are going to publish the extension on the marketplace. Closing as out-of-scope.

[2020-10-20 09:34] hediet opened #109002 "Refresh Images In Markdown On Change"
It is really nice that the markdown preview renders local images!
However, the preview does not update if those local images are changed.

This is a very handy feature for various scenarios, in particular when custom editors for images are involved (like the drawio editor).

Currently, if you change a drawio diagram, you need to close and reopen the preview of any markdown file that includes the d

[2020-10-20 09:38] gdlx opened #109003 "Make problems filter apply in the editor view"
I wish I could quickly & temporarily disable the wavy problem markers to improve code readability when actually working on fixing the problem.

This becomes an obvious need when the problem applies on a whole method (eg. Too long/complex, ...):
![image](https://user-images.githubusercontent.com/1533042/96567918-a589de80-12c7-11eb-94c5-ca1f7af33510.png)

I think the best way would be to make the pr

[2020-10-20 09:48] thiemeljiri commented on #108932
Hi @bpasero, I've just tried and it behaves exactly the same. In VS Code Insiders I couldn't untick the "auto save" under file menu. This time it was fresh installation I did from the link you provided. I didn't have VS Code Insiders installed before. This is really annoying and should should be investigated from your side. Thanks.

[2020-10-20 09:51] hediet commented on #97491
[I'm doing this now](https://github.com/hediet/vscode-drawio/blob/master/src/DrawioEditorProviderText.ts#L47). It seems like it is working in my case.
Xml formatting and thus normalization is hard, as whitespace is only somewhat significant in xml elements. There are also xml instructions to preserve whitespaces.

I think this problem should be mentioned in the docs of custom text editors.

[2020-10-20 09:51] #97491 closed

[2020-10-20 09:53] RandomFractals commented on #107482
can't you wrap it and show installs and ratings in the next line for smaller viewports like I suggested above?

[2020-10-20 09:54] hediet commented on #108997
It would be very helpful if you could submit your bug reports in English!

Can you check your keybindings? Is Ctrl+C still bound to copy? Does Ctrl+C work outside of VS Code as expected?

[2020-10-20 09:56] vernak2539 opened #109004 "Format on save with extensions stopped working in v1.50.0"
- VSCode Version: 1.50.0, 1.50.1
- OS Version: OSX 10.15.7

Steps to Reproduce:

1. Install `ruby-rubocop` extension and setup
2. Turn on "format on save" setting (vscode)
3. Turn on "on save" setting inside rubocop settings
4. Change `.rb` file to not align with linting
5. Save file

**Expected**: Rubocop should be run on file and update before save
**Actual**: No linting by rubocop is performed

[2020-10-20 09:56] hediet commented on #105319
This would be awesome for the drawio extension, as you could open the editor for a drawio.svg diagram embedded into a readme file with a single click!

[2020-10-20 09:57] chrmarti commented on #93526
Replacement is tracked as https://github.com/microsoft/vscode-remote-release/issues/841.

Fixing by also showing the command when there is no folder open and prompting the user to open one first.

[2020-10-20 09:58] myfonj commented on #108997
(Obligatory questions about whether it happens solely in VSC, extensions disabled /clean profile and if there is no clash visible in Keyboard shortcuts)
(Machine translations + "you should probably better use English next time".)

---

Traductions automatiques. Vous devriez probablement mieux [utiliser l'anglais](https://github.com/microsoft/vscode/wiki/How-to-Contribute#discussion-etiquette) la p

[2020-10-20 10:04] gillesarmand225 commented on #108831
Hi. An error. The commande is not found

[2020-10-20 10:06] #108351 closed

[2020-10-20 10:07] gillesarmand225 commented on #108831
Hi. I tried all of them but nothing. It's worked perfectly till for days ago. I've changed nothing in my configuration.
It's intriguing.

[2020-10-20 10:07] gjsjohnmurray commented on #109004
/duplicate of #108447

[2020-10-20 10:07] isidorn commented on #108351
Correct this is designed. Call Stack is empty when not paused and with a single session.
However I agree it is confusing so I have pushed a commit to improve this. Namely we will show a RUNNING label in the CALL STACK header area when there is a single session running. Try it out with VS Code insiders from tomorrow and let us know what you think.

Alternative is to show the session in this case, h

[2020-10-20 10:08] #109004 closed

[2020-10-20 10:22] gjsjohnmurray commented on #108989
That is a normal notification, but it shouldn't remain indefinitely. I suggest you try disabling each of your extensions in turn and restarting VS Code each time to find out which one is causing the problem.

[2020-10-20 10:23] gjsjohnmurray commented on #108988
I guess this is related to #108989

[2020-10-20 10:25] LennardFi commented on #108807
I don't know where to post this. But this is the translation of the issue description above:

I encountered the same problem. You can see this in the screenshots I attached. I made a screenshot of the top right edge of my left screen. On the right screen vscode is open. As you can see, the first image contains a one pixel sized border of vscode if i maximized the vscode window. The second image do

[2020-10-20 10:26] Nours2806 commented on #108997
yes, this only happens in VSC
yes this happens when extentions are disabled

[2020-10-20 10:45] cakeslice commented on #26777
Yes please!

[2020-10-20 10:51] #108563 closed

[2020-10-20 10:56] isidorn commented on #108271
@eamodio I think this is a fair request.
However, I would be worried that too many actions end up being there which would lead to too many details.

So for now no immediate plans but let's leave in the backlog and I am open to allow this in the future if there are more good use cases.

[2020-10-20 11:02] #108206 closed

[2020-10-20 11:02] myfonj commented on #108997
And `"ctrl+c"` in search input filed of _"Keyboard Shortcuts"_ pane shows … ? Ideally entered via "Record Keys" to see what keystrokes exactly VSC "sees".

[2020-10-20 11:06] chrmarti commented on #101666
Not sure how we got there, but since this is stable API, we'll just keep it that way. Thanks.

[2020-10-20 11:06] #101666 closed

[2020-10-20 11:06] dcermak opened #109005 "scripts/code.sh broken since 1.50.0"
- VSCode Version: 1.49 and 1.50
- OS Version: opensuse Tumbleweed

Steps to Reproduce:

1. clone the vscode git repository, checkout any of the `1.49.*` tags
2. run `./scripts/code.sh` and verify that it works
3. check out either `1.50.0` or `1.50.1`
4. run `./scripts/code.sh`, which fails for me with:
[code]
Note that the file `/home/dan/packages/github.com/microsoft/vscode/build/lib/preLaunch.js

[2020-10-20 11:12] tjx666 opened #109006 "highlight the line jumped to"
Some time when I use `Ctrl + left click` to jump to variable definition, VSCode will locate to the definition on active editor. For now, the cursor will locate to it's definition position, but I can't find the twinkling cursor quickly. If highlight the line jumped to, It would be helpful.

What's more, this should also be applied to many  other situations which jumping cursor such as go to line(Ct

[2020-10-20 11:13] YashMonetate opened #109007 "Ability to mark all test case as skip and vice-versa"
Issue Type: <b>Feature Request</b>

Hi Team,
First of all, thanks for this wonderfull VS code environment. I love it's feature and working with it.

I am writing to place a request by which we could be able to skip all the test case in one go.
Use case: In webdriverio, we can define many test case in one describe block. User should be able to skip/unskip all test case by any short-cut key. I know

[2020-10-20 11:16] dcermak commented on #109005
Indeed, running `yarn install` and `yarn run compile` before `./scripts/code.sh` fixes the issue for me.

[2020-10-20 11:29] #108526 closed

[2020-10-20 11:29] #108514 closed

[2020-10-20 11:29] #108511 closed

[2020-10-20 11:29] #108505 closed

[2020-10-20 11:29] #108500 closed

[2020-10-20 11:29] #108450 closed

[2020-10-20 11:29] #108449 closed

[2020-10-20 11:29] #108433 closed

[2020-10-20 11:29] #108415 closed

[2020-10-20 11:29] #108394 closed

[2020-10-20 11:29] #108345 closed

[2020-10-20 11:29] #108340 closed

[2020-10-20 11:29] #108322 closed

[2020-10-20 11:29] #108312 closed

[2020-10-20 11:29] #108293 closed

[2020-10-20 11:29] #108253 closed

[2020-10-20 11:29] #108227 closed

[2020-10-20 11:29] #108223 closed

[2020-10-20 11:29] #108200 closed

[2020-10-20 11:29] #108184 closed

[2020-10-20 11:29] #108132 closed

[2020-10-20 11:29] #107600 closed

[2020-10-20 11:34] foreignmeloman opened #109008 "Wrong coloring of else statement for ifdef in Makefile"
Issue Type: <b>Bug</b>

In this Makefile sample "else" statement gets a wrong color:

[code]

Screenshot:
![image](https://user-images.githubusercontent.com/11769352/96580534-797f5500-12e9-11eb-983d-f1acf2d1a0cf.png)

VS Code version: Code - Insiders 1.51.0-insider (13b3c937dc5e3816c79bdd2cdf2cdf6f9c727b75, 2020-10-20T06:07:53.466Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System

[2020-10-20 11:39] alexr00 commented on #108928
@isidorn is correct, we don't currently support using a folder task in a workspace.

[2020-10-20 11:39] #108928 closed

[2020-10-20 11:39] iliazeus opened #109009 "A command to open a workspace and navigate to a file in it"
It would be convenient to have a command that opens a workspace and navigates to a specific file in that workspace, all in a new window.

`vscode.open` only opens a file, but does not change the workspace.

`vscode.openFolder` opens the workspace, but does not open files in that workspace.

I cannot just combine them, because `vscode.openFolder` (re)starts the extension host.

[2020-10-20 11:46] myfonj commented on #109006
Remarks:
- How about setting sufficiently contrasting background for "current line" to locate it more easily [1] in general?
- "Go To Definition" already "blinks" target token (not line), you can set more prominent colour of its highlight [2]

Relevant `settings.json` entries examples:

[code]

[2020-10-20 11:47] KorbinianK commented on #108928
@alexr00 so there is no way to do this then, as workspace tasks do not support typescript, only `"shell"` and `"process" `?
Is this a planned feature I can track somewhere? It seems to me a rather important feature for any bigger typescript project.  Every other issue I found through the one linked above and is related, has been simply closed.

[2020-10-20 12:08] thexdd commented on #41860
Yes please

[2020-10-20 12:16] jrieken commented on #108894
Sorry, fuzzy steps don't work. What word/character is deleted? Can you be precise with exact steps, actual and expected outcome?

[2020-10-20 12:16] #108784 closed

[2020-10-20 12:17] jrieken commented on #108892
/needsMoreInfo

[2020-10-20 12:28] bpasero commented on #108932
@thiemeljiri what OS is this?

[2020-10-20 12:30] thiemeljiri commented on #108932
@bpasero Windows 10 Enterprise 64bit

[2020-10-20 12:30] bpasero commented on #108807
I think we might have fixed this with Electron 9.3.2.

Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-10-20 12:31] bpasero commented on #109001
/duplicate https://github.com/microsoft/vscode/issues/60579

[2020-10-20 12:32] #109001 closed

[2020-10-20 12:32] bpasero commented on #108932
Does it reproduce when you configure `"window.titleBarStyle": "native"`

[2020-10-20 12:47] JinZhenlin commented on #96986
I am experiencing the same issue:

- Logitech MX Master 3
- Lotitech Option: Lastest Version (Cannot find the version on Windows)
- Windows 10 Enterprise, 10.0.18363
- VS Code Version 1.50.1

Also, I noticed it was working for an initial 0.5 second when I scroll horizontally. After that half second, it stops working.

[2020-10-20 12:50] alexr00 commented on #108928
This one is actually exactly what you're looking for: https://github.com/microsoft/vscode/issues/93149

[2020-10-20 12:55] LargAnk opened #109011 "Extensions Marketplace not loading"
When I try to view the languages to install them, it just says "We cannot connect to the Extensions Marketplace at this time, please try again later." I want to install C++ and Python, but cannot do so because of this bug. When I install them from the Visual Studio Code website, it still shows this message. Please help.
![Capture](https://user-images.githubusercontent.com/66485719/96588713-fb538c0

[2020-10-20 13:02] raohag commented on #108677
This happens with Java as well

[2020-10-20 13:03] bpasero commented on #108996
Since I cannot figure out why this happens and it looks very bad, I pushed a change to disable `linear-gradient` in tabs on Safari.

[2020-10-20 13:04] LargAnk commented on #109011
![Capture](https://user-images.githubusercontent.com/66485719/96589833-4a4df100-12b3-11eb-97d6-77f208ccc0ff.PNG)

[2020-10-20 13:10] hazrmard opened #109012 "Unexpected line-break in integrated powershell terminal after using Terminal:Clear command"
- VSCode Version: 1.50.1
- OS Version: Windows 10.0.19041 (x64)

Steps to Reproduce:

1. Open integrated powershell terminal
2. Have multiple lines on screen (type random commands or press return a couple of times)
3. Use keyboard shortcut for `workbench.action.terminal.clear`. In my case it is set to `ctrl+L`. Or use the `Terminal:Clear ` command from the command palette (`ctrl+shift+P`).
4. Now

[2020-10-20 13:11] weinand commented on #109005
Yes, you need to build before trying to run VS Code.
For details see: https://github.com/microsoft/vscode/wiki/How-to-Contribute#prerequisites

[2020-10-20 13:11] #109005 closed

[2020-10-20 13:16] sandy081 commented on #95209
**Proposal:**

Provide a contribution point for the extension to register memento keys to sync

[code]

[2020-10-20 13:17] hazrmard commented on #109012
Does not appear to be a duplicate.

[2020-10-20 13:17] weinand commented on #109007
In mocha it is possible to use `.only()` to run only a single test from a test suite.
Did you try this?

[2020-10-20 13:20] weinand commented on #109007
Since the requested functionality depends heavily on the used testing framework, I do not see us implementing this feature in VS Code generically.

[2020-10-20 13:20] #109007 closed

[2020-10-20 13:24] Damix48 commented on #108894
Steps to reproduce:
1. Clone the repo (https://github.com/Damix48/vscode-issue) that contains `personaggi.html` and `main.code-snippets`
2. Open `personaggi.html`
3. Select `gran` at _Ln 140 col 596-600_
4. Type `eng` to use the custom snippet

Actual result:
From
[code]
to
[code]
Not insert `gran` and delete ` p` (space and 'p')
![issue3](https://user-images.githubusercontent.com/23702345/9623835

[2020-10-20 13:26] LennardFi commented on #108807
Yes, already fixed in the newest nightly build. Thx @bpasero

Version of the tested nightly build:
[code]

[2020-10-20 13:27] thiemeljiri commented on #108932
@bpasero Yes. And now I can see that clicking on "Auto Save" under "File" menu actually does some changes in settings.json - "files.autoSave" chnages its value between "off" and "afterDelay". But the tick remains and even when it's set to "off" the files are still save automatically.

[2020-10-20 13:32] #108807 closed

[2020-10-20 13:32] bpasero commented on #108932
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2020-10-20 13:40] thiemeljiri commented on #108932
As I mentioned in the original comment, I have already tried that. And as for VSC Insiders - I have no extensions there.

As for `"window.titleBarStyle": "native"`, I've tried that only in VSC Insiders with no effect.

[2020-10-20 13:45] SounD120 commented on #19561
Hi @bpasero . [React Native Tools](https://github.com/microsoft/vscode-react-native) extension team here. Recently we started to [investigate how we can improve logging](https://github.com/microsoft/vscode-react-native/issues/1272) in the extension and found out that there is no consistent way to colorize output logs in VS Code, so we would like to reboot this conversation.

[We tried to add gramm

[2020-10-20 13:47] isidorn commented on #104673
Let's add important label to make it clear this is a big blocker for our screen reader users.

[2020-10-20 13:50] rndadhdman commented on #67553
I had this same problem today after the 2004 update. I had to reinstall to resolve. Version 1.50

[2020-10-20 13:50] isidorn commented on #108799
Agree it makes sense. Let's assign to Backlog and potentially add this in the future.

[2020-10-20 13:50] bpasero commented on #108932
I cannot explain this, unless maybe your settings file is not valid. Does it show errors when you open it as JSON file?

[2020-10-20 13:53] albertgaya opened #109013 "[PHP] Debug Console doesn't execute some php commands"
Requirements:
- Laravel Project
- Xdebug
- VSCode

Note: It's working before V1.50.1 update.

I'm implementing a Test Driven Development approach.

Steps:
1. Create Test case and write random code
2. Assign a breakpoint
3. Run Debugger
4. Run Test (Execution will stop to breakpoint)
5. Open "Debug Console" and type simple PHP script

[code]

Expected: "Hello World"
Actual: "error evaluating code"

[2020-10-20 13:54] kittaakos opened #109014 "VS Code extension activates twice when launched in debug mode"
Hi there, I can see that my VS Code extensions' `activate` function is called twice when I launch them in debug mode from VS Code. I was sure there is a bug in my code, so I ended up cloning, building and running the [`fsprovider-sample`](https://github.com/microsoft/vscode-extension-samples/tree/master/fsprovider-sample). When I activate the MemFS extension with the `MemFS: Setup Workspace` comma

[2020-10-20 13:54] Ahmeed2m commented on #108898
@mjbvz
same issue here

Issue Type: <b>Bug</b>

**TypeScript Version:** 4.0.3

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
Server: `syntax`
[code]

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a

[2020-10-20 13:54] bpasero opened #109015 "Consider to rename resourceIdentityService"
While looking into lifting services we declare in `src/vs/platform` to `src/vs/workbench` because they are only used there, I came across `resourceIdentityService` (which I moved to `workbench` btw: https://github.com/microsoft/vscode/commit/c57b7cd3d65a5f1404ec5bdd1d17252f65b9cf21).

Since we already have a `IURIIdentityService` (probably came in later), I suggest to rename this service to better

[2020-10-20 13:55] jzombie opened #109016 "Git branch detection when refreshing network folder"
When refreshing the source tree filesystem directory on a networked location (in my case SSHFS), I think the current git branch should reflect if it was changed outside of VSCode when pulling latest directory tree updates.

i.e. If I'm on develop, and I switch to master using CLI, even though the code inside of VSCode renders what's in the master branch, it will still be labeled as develop in this

[2020-10-20 13:55] isidorn commented on #108452
Closing as duplicate of more explorer sorting options.
Thouhg we will probably not tackle this exact request.

[2020-10-20 13:55] #108452 closed

[2020-10-20 13:57] thiemeljiri commented on #108932
No, it doesn't. It is valid. And it happens even if it's completely empty.

[2020-10-20 14:06] isidorn commented on #108850
@webczat I have pushed a change for this. You can try it out with vscode insiders from Wednesday and let us know how it works for you.

[2020-10-20 14:07] isidorn commented on #90408
@jooyoungseo thanks a lot for providing feedback. We plan to organise one accessibility call in the next couple of weeks where the focus will be Notebook accessibility in VS Code. Let us know if you would like to join
As for Alt+F1 not working, it might be already captured via this issue https://github.com/microsoft/vscode/issues/108850 which I pushed a fix for. So you can try it out tomorrow.

fy

[2020-10-20 14:08] bpasero commented on #108932
Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can find

Thanks!

[2020-10-20 14:10] isidorn commented on #108810
Dup of https://github.com/microsoft/vscode/issues/108439

[2020-10-20 14:10] #108810 closed

[2020-10-20 14:13] iliazeus opened #109017 "Open vscode:// links on the extension page"
Linkng to a `vscode://publisher.extension/...` URI in a readme file seems like a nice way of quickly demonstrating the user some features of your extension. But currently, such links do not seem to work; clicking them does nothing.

[2020-10-20 14:15] isidorn commented on #108439
I understand the issue you are facing. However I would not change the default.
I believe most of the user expect enter to pick the suggest item. For example chrome dev tools behaves the same way.

However I will leave this issue open to gather more user feedback and potentially change this in the future. Thank you

[2020-10-20 14:16] isidorn commented on #108528
This is just the size of the editor glyph margin. There can be other things there not only breakpoints (for example quick fixes).
This is designed behavior of the editor thus closing.

[2020-10-20 14:16] #108528 closed

[2020-10-20 14:17] isidorn commented on #108564
You can contribute a command to the `debug/toolbar` menu.
More details here https://code.visualstudio.com/api/references/contribution-points#contributes.menus

[2020-10-20 14:17] #108564 closed

[2020-10-20 14:24] ell1e commented on #108439
@isidorn yeah in chrome dev tools I am having the exact same problem all the time. I think this is just user hostile especially for the faster typer among us, especially since tab is also a quite established key (is it not? Am I too old? I used to expect to need to press tab, this "enter" thing I haven't seen in a while).

Also, the excuse that "the user expects" this I find somewhat weak as an ar

[2020-10-20 14:26] isidorn commented on #108427
As @usatiuk explained this is designed behavior. We will not change this for now, thus closing

[2020-10-20 14:26] #108427 closed

[2020-10-20 14:30] mjbvz commented on #108991
Please try collecting the TS Server log from the crashed instance:

1. Set `"typescript.tsserver.log": "verbose"`
1. Restart VS Code and reproduce the problem
1. Open the `TypeScript` section of the output panel
1. At the very top, find the first line that prints to path to the semantic error log file. It should look something like:

[code]

    That file contains the typescript logs.

Look throug

[2020-10-20 14:31] yukpun opened #109018 "Disable HTML tags mirroring cursor"
Issue Type: <b>Feature Request</b>

Please make possible to disable cursor mirroring for HTML syntax.

VS Code version: Code 1.49.1 (58bb7b2331731bf72587010e943852e13e6fd3cf, 2020-09-16T23:21:17.533Z)
OS version: Darwin x64 19.6.0

![2020-10-20 17 30 28](https://user-images.githubusercontent.com/23419090/96600791-00d4c480-12fa-11eb-8eb8-8e7456af7bd5.jpg)

[2020-10-20 14:34] zanedp commented on #90900
I'm surprised that just updating the message is out of scope.

[2020-10-20 14:34] wasserman commented on #107443
@joaomoreno No.   I understand that there are many variables that could come into play, but if my config is a scenario that isn't captured or understood then I figure you wouldn't have insight into some impacted users.  Is there something explicit I can ask my IT team instead of asking (again) for help to install some software they never heard of?
Is there another Microsoft open source  with a Mac

[2020-10-20 14:40] isidorn commented on #106505
@joanmarie sorry for the delay, I was on vacation...
Good question. This is the simplest way I could make it work:
1) Make the following change [here](https://github.com/microsoft/vscode/blob/49d9c8c79b6fd9aaeeb5e869e37d93cfd0e7b703/src/vs/workbench/contrib/debug/browser/debugConfigurationManager.ts#L117) change `>` to `>=`
2) in `yarn web` vscode instance have the following setting `"debug.allowB

[2020-10-20 14:41] EthanBannister commented on #108556
I see now, sorry about that.  Here is my global config:

[code]

I disabled all of my extensions, with the exception of some that are needed for WSL and Python support.  However, even with all my extensions enabled, the same issue occurs.

[2020-10-20 14:43] IllusionMH commented on #109018
/needsMoreInfo

This looks more like highlight for matched bracket pair instead of mirroring (there is no second cursor or synced changes there).
Is it what you want to disable?

`"editor.matchBrackets": "never"` will disable highlighting. If you need it only for HTML - the use [language specific setting](https://code.visualstudio.com/docs/getstarted/settings#_language-specific-editor-settings)

[

[2020-10-20 14:45] #109013 closed

[2020-10-20 14:45] bpasero opened #109019 "Backup location can change in same session"
I noticed some unsafe usages of the backup location for the workspace here:

https://github.com/microsoft/vscode/blob/1af5af95452a55ea65d365f62607da2dca7886f2/src/vs/workbench/electron-browser/desktop.main.ts#L234-L234

and here:

https://github.com/microsoft/vscode/blob/79c4f10983149bf4420fa20597dfe26f05c85506/src/vs/workbench/services/userData/common/fileUserDataProvider.ts#L41-L41

Truth is tha

[2020-10-20 14:50] svillar opened #109020 "Workspace settings not taking precedence over user settings"
I have formatOnSave enabled in my user settings but disabled in a particular workspace. However everytime I save a file the file is formatted anyway. What's worst, the "modifications" option is enabled in user settings but the formatting is applied to the whole file.

[2020-10-20 14:53] mjbvz commented on #109002
Duplicate of #65258

[2020-10-20 14:53] #109002 closed

[2020-10-20 14:55] mjbvz commented on #108653
The IntelliSense feature is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md) with an example of where this would be useful

[2020-10-20 14:55] #108653 closed

[2020-10-20 14:56] weinand commented on #109014
I cannot reproduce this issue with the "hello world" extension, so this issue is not a general issue of VS Code.

I suspect that the "MemFS: Setup Workspace" action reloads the extension host which will result in a second activation.

If my assuption is correct, you should see a call to the "deactivate" function of your extension before the second "activate" occurs.

[2020-10-20 14:56] ackvf opened #109021 "WordPart navigation in Rename popup input instead navigates in editor"
Version: 1.50.0 (user setup)
Commit: 93c2f0fbf16c5a4b10e4d5f89737d9c2c25488a3
Date: 2020-10-07T06:10:52.432Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.17763

This is not a regression in latest version, it has always worked this way.

Steps to Reproduce:

1. add this key binding to `keybindings.json`
[code]

2. click on a variable name

[2020-10-20 14:56] mjbvz commented on #108532
Duplicate of #93441

[2020-10-20 14:56] #108532 closed

[2020-10-20 14:57] larryosborn commented on #107923
For what it's worth, I have not seen these errors since a system update and vscode update. I think the gremlins have moved on. I can no longer reproduce the issue. 🤷‍♂️

[2020-10-20 14:57] #107923 closed

[2020-10-20 14:58] yukpun commented on #109018
This is what I was looking for. Thanks

[2020-10-20 14:58] #109018 closed

[2020-10-20 14:58] etiennepelletier3 commented on #108903
I just got the same message! There must be a problem with the new update of platform.io...

[2020-10-20 15:00] mjbvz commented on #108414
Please try collecting the TS Server log from the crashed instance:

1. Set `"typescript.tsserver.log": "verbose"`
1. Restart VS Code and reproduce the problem
1. Open the `TypeScript` section of the output panel
1. At the very top, find the first line that prints to path to the semantic error log file. It should look something like:

[code]

    That file contains the typescript logs.

Look throug

[2020-10-20 15:00] kittaakos commented on #109014
Thank you for your reply, I am going to try this and update this thread.

[2020-10-20 15:03] emptyVoid opened #109022 "Format On Save (modifications) formats entire file when resolving merge conflicts"
- Version: 1.50.1 (system setup)
Commit: d2e414d9e4239a252d1ab117bd7067f125afd80a
Date: 2020-10-13T15:06:15.712Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
- OS: Windows_NT x64 10.0.19041

Steps to Reproduce:
1. Edit GIT merge conflict.
2. Save the file.

[2020-10-20 15:05] bwateratmsft commented on #95209
I like that plan. We do have some keys in the Docker extension that are determined at runtime (thus couldn't be in package.json), but I don't think any of them need synchronization.

[2020-10-20 15:11] #103120 closed

[2020-10-20 15:13] isidorn commented on #108632
What you are saying makes sense, however before a user starts debugging there is no debug adapter so we can not disalow setting log points function breakpoint etc even if they will not be supported - we do not know.

Yes we could disable some functionality while the debug adapter is running. For that I have decided to leave this issue open and assing to the backlog so we potentially tackle this in

[2020-10-20 15:15] isidorn commented on #107791
We should set both the `title` and the `aria-label` and it is up to the screen reader to de-dupe this.
Orca on linux for example handles this correctly. I belive Voice Over also and there is this issue on NVDA side https://github.com/nvaccess/nvda/issues/7841

[2020-10-20 15:16] RonnBlack commented on #108668
Specifically the following.
I had Uncommitted changes that were tracked but most likely not staged.
When I attempted the pull it failed. To the best of my recollection the error was something about the account admin requires single sign-on.

I’m not certain about this but to the best of my memory I believe at this point the initially showed but after a brief moment they disappeared. I attributed t

[2020-10-20 15:17] YashMonetate commented on #109007
@weinand Thanks for highlighting. I placed this request keeping in mind that VS code is able to format my code by shift+ctrl+f irrespective of which language/framework is used as obviously each language/framework has different way of writing a function or class etc. so i thought it is possible to identify a test irrespective of used framework.

[2020-10-20 15:17] starionjames opened #109023 "Provide Button to Show Additional Detail When Extension Install or Update Fails"
Issue Type: <b>Feature Request</b>

When an extension update or install fails, an error message toast appears stating the update/install has failed.

The toast includes a button for "Download Manually"

Add to this toast message a button or link that will open a new editor window with additional error information.

The additional information should include:

A formatted and human readable text win

[2020-10-20 15:18] AdamAtri opened #109024 "Typescript error"
Issue Type: <b>Bug</b>

Got a pop up indicating that the typescript service died 5 times

VS Code version: Code 1.49.3 (2af051012b66169dde0c4dfae3f5ef48f787ff69, 2020-10-02T17:54:06.165Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4578U CPU @ 3.00GHz (4 x 3000)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>fl

[2020-10-20 15:22] fniephaus opened #109025 "ThemeIcons not always rendered in vscode.MarkdownStrings"
- VSCode Version: 1.50.1
- OS Version: macOS Catalina 10.15.7

*`ThemeIcon`s an not always rendered in `vscode.MarkdownString`s.*

Steps to Reproduce:

1. Create a decoration with the following `vscode.DecorationOptions`:

[code]

2. VS Code will display the following

<img width="182" alt="image" src="https://user-images.githubusercontent.com/2368856/96606980-29f45580-12f8-11eb-8c82-887e0d5fb626.

[2020-10-20 15:23] kittaakos commented on #109014
I can confirm.

This seems to be an incorrect assumption. I can clearly see, the MemFS extension module is loaded and `activate` called twice, `deactivate` is not called. Have you had the chance to try with the `fsprovider-sample`?

I am going to check if this is a file-system provider-specific issue or not. My extension also has an `onFileSystem:scheme` activation event. Just guessing, though.

[2020-10-20 15:27] isidorn commented on #108296
This works fine for me.
Please use the Notifications Tester extension and latest vscode insiders to file an issue with a good minimal description. Thanks

[2020-10-20 15:27] #108296 closed

[2020-10-20 15:31] Eason-5625 opened #109026 "设置"
Issue Type: <b>Feature Request</b>

Factory Settings are not restored

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 6.1.7601

[2020-10-20 15:33] weinand commented on #109007
VS Code delegates all language specific functionality (e.g. formatting) to (mostly third-party) extensions.
Your feature request would fall into that category too.

Please check out this extension: https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-test-explorer
Maybe it supports already what you are asking for.

[2020-10-20 15:34] jrieken commented on #95209
[code]

[2020-10-20 15:35] polinasok commented on #108632
To clarify my original request: I am not asking for any modification before the DA runs. I understand that it is impossible and tried to make that clear in the first paragraph of my original post.

I do think that it is important to make this clear after the DA runs. Disabling functionality for new breakpoints is the the last suggestion I made and would be a cherry on top. Please do take a look at

[2020-10-20 15:39] jrieken commented on #95209
Alternative proposal avoiding update-sync-not-sync confusion and very simple migration.

[code]

[2020-10-20 15:39] browndav opened #109027 "Move tab (left|right)"
It would be nice if we could right click on a documents tab, and have the option to move it all the way to the left or right, similar to Firefox.

[2020-10-20 15:41] isidorn commented on #108619
I also find this a bit strange since the variable resolver calls the `editorService.activeEditor` [here](https://github.com/microsoft/vscode/blob/49d9c8c79b6fd9aaeeb5e869e37d93cfd0e7b703/src/vs/workbench/services/configurationResolver/browser/configurationResolverService.ts#L54) when resolving the `${file}`

So it might be the defintiion of the editorService that we allow activeEditor to point to

[2020-10-20 15:43] weinand commented on #108799
@TimKingtonFC please check out this extension: https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-test-explorer
It provides "re-run" and a "re-debug" commands.

[2020-10-20 15:46] mitchellmebane commented on #107951
Do you know if this fixes [CVE-2020-17023](https://portal.msrc.microsoft.com/en-us/security-guidance/advisory/CVE-2020-17023), or is that CVE for another related issue?  I can't find any details on what version CVE-2020-17023 was fixed in, or if it's still open.

[2020-10-20 15:54] isidorn commented on #108165
Explorer uses these methods in the following way `getAdded`, `getDeleted`, `e.filter` are about trying to figure out if a file change requires the Explorer tree to refresh.
`getUpdated`  similar to the above, but only for the case that we are using a `modified` sort order, so a re-sorting might be needed, thus we refresh.

If we want to move off these methods and only use `contains` then the alter

[2020-10-20 15:57] albertgaya commented on #109013
@weinand i disabled all the extension except "PHP Debug" but still issue occur

[2020-10-20 15:58] isidorn commented on #108432
Forwarding to @sbatten as I believe he owns the recently opened list. Sorry if I am mistaken.

[2020-10-20 16:01] isidorn commented on #108149
Next time please concise issue description, this reads more like a novel and I already read War and Peace.

We have included the source file name due to a different request.
Though it might make sense for Copy All to not contain the source file name.

Anyways leaving this open for now so we gather more user feedback and we are open to changing this in the future.
Thanks!

[2020-10-20 16:04] connor4312 commented on #107615
Glad it worked for you!

Going ahead and closing this issue as we've not heard back from the original poster in several weeks.

[2020-10-20 16:04] #107615 closed

[2020-10-20 16:05] weinand commented on #109013
Your problem is an issue of the PHP extension. Please file it against that extension.

[2020-10-20 16:07] isidorn commented on #108463
Closing as dup of https://github.com/microsoft/vscode/issues/71315

[2020-10-20 16:07] #108463 closed

[2020-10-20 16:08] Raspa888 commented on #108903
Anyway I can build and upload. Sometimes is not uploading fine but repeating the process it works.
You have to go to the left vertical menu and click on the Platformio icon, then choose the file, in may case is env:melzi_optimized, @slwise in your case should be env:STM32F103RC_btt_512K. Click it and you will see below it build, upload and more options.
I hope this will help!

[2020-10-20 16:10] isidorn commented on #108480
@alexr00 I am not sure how visible the desciription is, if it is visible then it sounds like the default aria-albel should also contain the description. If not then the extension should provide an aria-label which is now part of our API.

Anyways let me know if you would like me to help here.

[2020-10-20 16:11] isidorn commented on #108799
Oh even better. This can be handled from the extension side.

[2020-10-20 16:19] isidorn commented on #99269
I only know of a explorer.autoReveal which is a `boolean` or a `string`. An `enum` or a `string` might not work nicely after all. I do not think it would be nice behavior after all.

So feel free to close this if it is not possible to not get a warning from the JSON schema.

also fyi @aeschli for ideas.

[2020-10-20 16:24] individual11 commented on #106704
Same thing just happened to me after accidentally turning on high-contrast mode on OSX. When I switched it back, VSCode did *not* switch back to my normal theme and I had to switch it manually. Not the end of the world, but agree it's less than ideal.

[2020-10-20 16:25] jrieken commented on #109014
That's because you go through `MemFS: Setup Workspace`. That will restart the extension host and re-activate all extensions that have been active. The deactivate call cannot be to debugged afaik because we don't wait for, a console.log-statement should work tho.

[2020-10-20 16:25] #109014 closed

[2020-10-20 16:29] weinand commented on #108799
But only for running tests supported by the extension. So it is not a generic solution.

[2020-10-20 16:35] danielt117 opened #109028 "The focused repository and the bottom repo are not in sync"
- VSCode Version: 1.50.1
- OS Version: Ubuntu 20.04

Actual behavior:
If i have multiple repositories, and i change the focused repo to another, the selected git repository on the bottom stays on the first repo. And only changes if i commit in other repo, but not when i select it in the upper menu (scm). Currently it's misleading, and sometimes i sync a repo that i don't want.

Expected behavior:

[2020-10-20 16:38] fredyang opened #109029 "vscode cannot infer typescript type properly"
- VSCode Version: 1.50.1
- OS Version: Linux x64 5.4.0-51-generic snap
- typescript version 4.02

Steps to Reproduce:

1. run the type following code in tyepscript playground

https://www.typescriptlang.org/play?ts=4.0.2#code/LAKAZgrgdgxgLgSwPZQARwKYGc4AoGYC2WAXKlBIQEYYBOA2gLoCUqA3qKqgDYZyoEMhANydUAdwAWCXrnxFUAXgFEsAOizSweZqwCEi5dAAmGMAigZjrDiFBiuD1DBRYkvNdyQBzeUOaiIFwAvqChdiCYOLj0AIwANKgAzIkATCzC

[2020-10-20 16:42] #102559 closed

[2020-10-20 16:43] #102681 closed

[2020-10-20 16:48] miguelsolorio opened #109030 "Webview views do not persist view actions on hover"
All other views show the view actions when the entire view is hovered. But on webview views, the view actions go away when the webview is hovered.

![Kapture 2020-10-20 at 09 42 49](https://user-images.githubusercontent.com/35271042/96618120-60f74680-12b9-11eb-97ae-800d1f3b8e36.gif)

[2020-10-20 16:51] ldrahnik opened #109031 "Documentation added as MarkdownString to CompletionItemProvider is not displayed"
- VSCode Version: 1.50.1
- OS Version: Windows_NT x64 10.0.18.363

Steps to Reproduce:

1. register **registerCompletionItemProvider** and return **item.documentation** initialized with **new vscode.MarkdownString('\<p\>Something.\</p>');**
2. and when is completion triggered i see nothing (screen below)

![image](https://user-images.githubusercontent.com/3233644/96618127-d3414880-1304-11eb-9ad0-e

[2020-10-20 17:03] mjbvz commented on #109029
The playground enables `noImplicitAny` (and a bunch of other flags) by default. `tsc` (and therefore VS Code) does not. Add a tsconfig that matches that from the playground, and the behavior is the same

[2020-10-20 17:03] #109029 closed

[2020-10-20 17:09] mjbvz commented on #109024
When this happens, there should be a `report issue` button in the notification. This should generate an issue that includes relevant diagnostic information. Do you see this link

[2020-10-20 17:10] ParkerOP opened #109032 "My code vanished."
Issue Type: <b>Bug</b>

I tried to host my Giveaway discord bot on Heroku but failed so I closed vs code and turned off the pc.When I came back,my all saved codes vanished.Only those codes remained that were there in starting.What I edited in them and all new files that I made were not there.If you think that I tried to host before editing,ur wrong.I edited,saved and even tried my bot using `npm r

[2020-10-20 17:24] legomushroom commented on #95209
@bwateratmsft agreed! But that is a different feature - we need context properties for the settings just like commands have :) Worths creating an issue for that if there isn't one yet 😊

[2020-10-20 17:27] bwateratmsft commented on #95209
@legomushroom I'm not sure I follow. This issue is about using settings sync to synchronize global state (mementos), right? I'm not  sure commands are related.

[2020-10-20 17:32] subhav commented on #108755
Thanks for clarifying the reason, Alex!

1.  At the very least, I think changing the number of spaces used to render a tab doesn't make much sense for proportional fonts. Even fixed-size tabs would be an improvement over the current behavior. Could we at least do that?

2.  Not to suggest that this is a viable solution, but I feel like it's worth pointing out that Chromium's rendering of the actua

[2020-10-20 17:44] UmanShahzad commented on #36700
This is a huge blocker for me to comfortably move from vim to vscode.

[2020-10-20 17:48] sharmayogesh123 opened #109033 "update issue"
Issue Type: <b>Bug</b>

net::ERR_PROXY_CONNECTION_FAILED

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>

[2020-10-20 18:11] sbatten commented on #102447
item 4 must have been a bug at the time but has since been fixed. I can no longer repro that behavior.

item 5&6 are expected, we show the Contextual Title always and if there is only one view inside, we concatenate it. We have special logic that hides the contextual title if the nested view has the same title. Showing the nested view title is important for extensions with multiple views that can

[2020-10-20 18:11] #102447 closed

[2020-10-20 18:12] #103194 closed

[2020-10-20 18:20] sbatten commented on #103926
living with notebook workaround for now

[2020-10-20 18:20] #103926 closed

[2020-10-20 18:23] sbatten commented on #104135
very corner case, optimizing isn't worth the risk imo

[2020-10-20 18:23] #104135 closed

[2020-10-20 18:31] sbatten commented on #105085
sorry never got a repro, if it happens in the future maybe we can get the exact dimensions from dev tools, this might be pixel perfect repro

[2020-10-20 18:32] #105085 closed

[2020-10-20 18:32] ijoel92 commented on #108761
Can't find that issue. Is it still open? Can you point me to it?

[2020-10-20 18:32] lszomoru commented on #99269
Closing the issue for now. Will reopen if @aeschli has any suggestions that would make this work.

[2020-10-20 18:32] #99269 closed

[2020-10-20 18:38] sbatten commented on #105270
request makes sense but really extensions should not aggressively show the channel. a setting would help the user now but any extensions behaving responsibly may not be able to reliably convey info.

[2020-10-20 18:41] sbatten commented on #105352
I updated the text here to make it clearer that panel sections are views within the panel. this nomenclature mimics the side bar which predates the new theme keys. Everything is working as expected.

[2020-10-20 18:41] #105352 closed

[2020-10-20 18:43] sbatten commented on #105413
please let me know if you still see this

[2020-10-20 18:43] #105413 closed

[2020-10-20 18:47] gustavo-reyes commented on #108757
I would like to try to help with this, but I can't reproduce the issue. In step 2 of "Steps to Reproduce", you state "Remove folder_B". I am assuming this means the "Remove Folder from Workspace" option in the VS Code Explorer. Is this correct?

[2020-10-20 18:50] willcassella commented on #36700
I find it very cumbersome to write C++ without this feature. Having a separate vim tab for each pair of .h/.cpp files I'm working on (split vertically) is incredibly useful, as opposed to having a single split and manually swapping out the files in each view every time I want to look at a different class. Even in languages which don't have separate interface/implementation files, having related fi

[2020-10-20 18:53] cynecx commented on #107999
Another observation is that this isn't really related to large files. This is a general memory leak. I can reproduice this by open several 10MB text files and see the memory usage climbing without any reclamation being done even after closing all the editor and waiting several minutes.

[2020-10-20 18:58] JacksonKearl commented on #108531
duplicate of https://github.com/microsoft/vscode/issues/100940

[2020-10-20 18:58] #108531 closed

[2020-10-20 18:59] sbatten commented on #105428
The native menus on Windows do not display correctly either, it adds a special character for the new lines that doesn't look great imo. I recommend we strip them before hitting the menus

[2020-10-20 18:59] nrstaber opened #109034 "Problems tab not showing anything after newly installing VSCode."
- VSCode Version: 1.50.1
- OS Version: macOs Catalina 10.15.7

Steps to Reproduce:

1. Install VS Code with no VS Code files on computer
2. Open project or add errors to project like System.out.println(afdf);
3. Add //TODO
4. Check the Problems tab and see how it says there has been no problems has been detected.
5. It does not matter what I try nothing with show up in this tab.

Does this issue o

[2020-10-20 19:02] sirlancelot opened #109035 "`assert.equal()` deprecation warning shown when using strict import"
Issue Type: <b>Bug</b>

1. Create a new JavaScript file.
1. Import the strict set of Node.js "assert" module.
1. Use assert.equal().
1. Observe crossed out word with deprecation message.

![image](https://user-images.githubusercontent.com/71916/96632128-192dea80-12cc-11eb-85f6-8f58aab5ec9d.png)

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T14:53:05.704Z)
OS ve

[2020-10-20 19:15] jerclarke commented on #29126
What happens if it's too big for the window? Details fall down below completions?

[2020-10-20 19:21] jdforsythe commented on #107615
Yep, tried this and it worked. Thanks @connor4312

[2020-10-20 19:30] sbatten commented on #105559
This does not reproduce in web, so I feel this may be an old chromium or electron bug. assigning to @deepak1556

[2020-10-20 19:30] sirlancelot commented on #109035
It would seem that I have an outdated version of `@types/node`. However, I don't track this file locally, it was downloaded for me automatically by Code. Is there a supported way for me to refresh this cached file?
![image](https://user-images.githubusercontent.com/71916/96634868-f4d40d00-12cf-11eb-8ded-7fd10c90757c.png)

[2020-10-20 19:40] Pomax commented on #108463
@isidorn that sounds like it's related, but also rather different given the initial description?

[2020-10-20 19:41] deepak1556 commented on #105258
@mrmsbarnes is this still an issue with latest insiders https://code.visualstudio.com/insiders/ , if so can you share some screenshots. Thanks!

[2020-10-20 19:45] sbatten commented on #106579
will re-open if we get reports in the future.

[2020-10-20 19:45] #106579 closed

[2020-10-20 19:54] sbatten commented on #106794
Please see the list of existing when clauses here: https://code.visualstudio.com/docs/getstarted/keybindings#_when-clause-contexts

If one doesn't meet your need, you can calculate the context in your extension and use
 `vscode.commands.executeCommand(‘setContext’, ‘inReactJsProject’, true)` to create your on context key

[2020-10-20 19:54] #106794 closed

[2020-10-20 19:55] alwayserik commented on #106311
@chrmarti I am happy to announce that it has started working. I was able to

[2020-10-20 19:57] croddin commented on #100885
The "Reopen With... " menu does not show up now in the latest release.

[2020-10-20 19:57] #100885 closed

[2020-10-20 19:57] #107824 closed

[2020-10-20 19:58] alwayserik commented on #106311
As it stands, I'm not sure how I would modify the pac file to test using Google's public DNS. I will need to request info internally, or maybe you can provide an example

[2020-10-20 19:59] sbatten commented on #107959
I have seen this in multiple electron apps on windows. could be electron or windows.

[2020-10-20 20:01] runxel opened #109037 "Easier switch between shells"
Make it easy to switch between shells for the terminal. I frequently use all three options (cmd, powershell, and wsl) at the same time, but the only way to open them is first to "Select Default shell" and then open a new terminal. This is tedious and time consuming.

(I actually think of this more of a product defect than a request, but alas.)

[2020-10-20 20:01] Skatterbrainz opened #109038 "Problems with 1.50.1 on Windows 10 19041"
- VSCode Version: 1.50.1
- OS Version: 10.0.19041 (Windows 10 x64 Enterprise)

Steps to Reproduce:

1. Launch via shortcut or CLI
2. Wait 1-2 minutes for UI to render
3. Theme is disabled

Does this issue occur when all extensions are disabled?:  Somewhat

The theme is restored, but it still takes 1-2 minutes to reach ready for editing.

I've tried disabling individual extensions, but the UI is ru

[2020-10-20 20:03] zacps opened #109039 "URL: Allow `file://` URLs in hovers to escape to the OS"
Currently markdown hovers or completion popups can contain clickable links. [rust-analyzer](https://github.com/rust-analyzer/rust-analyzer) has recently started resolving links in documentation to point at their hosted documentation. However, the program which generates documentation for Rust can also create local documentation files (html).

We want the user to be able to chose whether these link

[2020-10-20 20:04] #109034 closed

[2020-10-20 20:06] depiction commented on #108447
Changing the default formatter didn't work for me, but I found a solution.

Open any file, right-click and select Format Document. An error popup will likely appear saying that a formatter wasn't set or that the formatter could not be found. Click the popup then select prettier as the formatter.

After doing the above, format on save now works in every file for me.

[2020-10-20 20:06] sbatten commented on #108314
@jrieken let me know if the new positioning has improved this. will reopen if needed

[2020-10-20 20:06] #108314 closed

[2020-10-20 20:10] sbatten commented on #108432
Ctrl+P shows recently touched files within the project already

[2020-10-20 20:10] #108432 closed

[2020-10-20 20:13] patrikf11 commented on #106500
got the same erroe in vs 1.50 .. downgrading to 1.48.2 solved the problem

[2020-10-20 20:14] sbatten commented on #108621
curious if this reproduces in all menus?

[2020-10-20 20:17] deepak1556 commented on #108860
Upstream issue https://github.com/electron/electron/issues/24135

[2020-10-20 20:29] ian-emsens-sb commented on #105413
WIll do, sorry for not being able to provide accurate steps to reproduce.

[2020-10-20 20:37] usernamehw opened #109040 "MarkdownString.appendText doesn't escape quote"
[code]
Expected: Rendered text `> Text`
Actual: Rendered a block quote `Text` with a lot of padding.

[2020-10-20 20:37] usernamehw commented on #109040
/assign mjbvz

[2020-10-20 20:48] alancphilpott commented on #108447
This worked for me, thanks so much!

[2020-10-20 20:53] chrmarti commented on #106311
@alwayserik You would set the DNS in your OS' network configuration. E.g., the following post includes description and screenshots for Windows 10: https://www.windowscentral.com/how-change-your-pcs-dns-settings-windows-10

[2020-10-20 20:58] eamodio commented on #54938
@jrieken Ideally yeah, but the difference between the two imo is quite blurred.

[2020-10-20 21:08] databasedav commented on #81322
sorry this is on Ubuntu 20.04. I commented here because it was the only issue I found with pretty much the exact same issue where ctrl+c doesn't send a SIGINT into the program being debugged and pressing the stop button just closes the terminal and the programs SIGINT handler isn't hit.

I'll post a repro soon.

[2020-10-20 21:08] connerf commented on #62476
Same issue

[2020-10-20 21:08] Qubisc commented on #109037
You could always set a keyboard shortcut for it.
Look under Preferences->Keyboard Shortcuts->Terminal: Switch Active Terminal.

[2020-10-20 21:22] zzik commented on #62104
First off, huge thanks to VS.Code for being free.
I am a beginner, but still, it would make my life so much easier if there was a way to separate folders which I use and change on a regular basis from the ones that I don't.

[2020-10-20 21:36] JacksonKearl commented on #86450
Are you still seeing runaway ripgrep processes on the latest vscode (1.50)? It's a known issue that ripgrep sometimes has perf problems when dealing with symlinks but it shouldn't cause high cpu use outside of running a search.

[2020-10-20 21:44] dlgski opened #109041 "Debugger hangs when a breakpoint is defined"
Since about the June upgrade, I have not been able to debug with the VSCode debugger.  If I have no breakpoints attached, it seems to work, however, if I have a breakpoint attached, the debugger will hang and I will have to restart my VSCode to get going again.

If I open Developer Tools (within VS Code) after it crashes, I see many errors:
[code]

and

[code]

[2020-10-20 21:50] Sytten commented on #108288
Sorry lots of things pulling me this past few days, I did make some more observations though.
It seems that if something changes in the `node_modules` it starts to have this behaviour.
I am using [prisma](https://github.com/prisma/prisma) and it seems to happen if I generate the new client (basically they push some code in the `node_module`). Or maybe it's because it loads too much stuff from the

[2020-10-20 21:58] JacksonKearl commented on #107577
Yes we have code in a variety of places to override middle click behavior...

[code]

Going to pass this off to @bpasero as you've authored most of these, though it does seem the issue is upstream.

[2020-10-20 22:03] #91565 closed

[2020-10-20 22:15] soerenkoehler commented on #108757
Thats correct.

[2020-10-20 22:17] jvesouza commented on #108857
This problem happens in my environment and is quite annoying.

[2020-10-20 22:18] BowenLi1994 opened #109044 "The generated active file is shown in the root of workspace"
- VSCode Version:1.50.1
- OS Version: ubuntu 18.04.5 LTS (Bionic Beaver)

Steps to Reproduce:

1. I open the "project" folder as the root path
2. In the "project" folder, there is a "folder1" subfolder.
3. In the "folder1", there is a "helloworld.cpp"
4. When I try " run build task ..." by using "g++ build active file", the active file "helloworld" will appear in the root folder of "project" inste

[2020-10-20 22:21] timmackey commented on #108149
@isidorn - The issue template invited a concise description.  A concise description has been provided.
The issue template requests steps to reproduce.  They are provided.
Also provided is the rational for my request, and an example of the issue.
If the team wants less information in an issue report, I suggest asking for less information in the template.

I, and I believe others in this community,

[2020-10-20 22:25] pjuangph opened #109045 "Debug font settings"
- VSCode Version: 1.50.1
- OS Version: Windows 10

I noticed there's a change to the font coloring in the debug settings. How am I supposed to read this? This happens because I have 8 threads so each thread highlights the same line when it fails. Highlights overlap and then it's impossible to read anything.
I'm using python with code. Is anyone else seeing the same issue?
![image](https://user-ima

[2020-10-20 22:29] alxbradley commented on #107994
@mjbvz I think the main issue is the context menu is _too fast_ in some cases.

Whatever I typed brought up the menu faster than I realized and I had already pressed `Enter` or `Tab` without seeing what change I was accepting. That's great when you're typing something and you know exactly which item is going to be selected before-hand, but if it's something unexpected, then you'll run into the pro

[2020-10-20 22:29] karrtikr commented on #100870
Is https://github.com/microsoft/vscode/issues/3025 dup of this?

[2020-10-20 22:29] karrtikr commented on #3025
Is https://github.com/microsoft/vscode/issues/100870 a dup of this?

[2020-10-20 22:42] justinsteven commented on #107951
@mitchellmebane this PR fixes CVE-2020-17023 and was released as part of VSCode 1.49.3 and 1.50 👍

VSCode often don’t make it easy to know which release incorporates a given security fix, or which release incorporates security fixes in general. I wish they did, but alas.

[2020-10-20 22:47] mjbvz commented on #108367
Closing this as not actionable without more information and steps to reproduce the issue

[2020-10-20 22:47] #108367 closed

[2020-10-20 22:51] mishranurag opened #109046 "Keystrokes are delayed"
Issue Type: <b>Bug</b>

Sometimes keystrokes don't do anything.  I need to wait for the effect of keystrokes. It especially happens with latex documents.

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20

[2020-10-20 22:54] #107752 closed

[2020-10-20 23:04] fulviocanducci commented on #106794
It does not solve

vscode.commands.executeCommand(‘setContext’, ‘inReactJsProject’, true) to create your on context key

- How do I know that the project uploaded by VS is ReactJs?

- Is there any command that I can run in the code to find out?

[2020-10-20 23:10] tamuratak commented on #109046
Uninstall the extension `Spell Right`.

See https://github.com/James-Yu/LaTeX-Workshop/wiki/FAQ#known-incompatible-extensions

[2020-10-20 23:32] pdfowler opened #109047 "Search fields follow macOS "Add period with double-space" setting which is unexpected"
- VSCode Version: 1.50.0
- OS Version: macOS 10.15.6

#### Steps to Reproduce:

1. Open _System Preferences --> Keyboard --> Text_ and enable "Add period with double-space"
1. In VSCode, open the project search sidebar panel (⇧-⌘-F)
1. Type a normal character (eg: "x"), followed by two spaces

**Result**: The search field reads: `"x."`
**Expected**: The search field reads: `"x  "`

##### Notes:
*

[2020-10-20 23:35] sbatten commented on #106794
it is not a core feature of VS Code to classify project types, that is best handled by extensions

[2020-10-20 23:45] RMacfarlane commented on #106014
Can repro with a test extension that makes multiple getSession requests in parallel:
[code]

Repros on desktop and web

[2020-10-20 23:45] sophin123 opened #109048 "Not showing up the auto-completion suggestion for the new Instance"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

I create a new instance for the Button in C# in Unity like
private Button button;

I got method called Start(){

}
when try to use the button, the autocomplete suggestion doesn't show up.
Is that a problem with the visual code or Unity? I'm bit confused about that scenario.
H

[2020-10-20 23:51] fulviocanducci commented on #106794
So there is nothing in Visual Studio Code to indicate that the project that was loaded is Javascript React?

@sbatten

[2020-10-20 23:57] roblourens commented on #108773
It's by design because I did design it that way :) the slash is the real issue https://github.com/microsoft/vscode/issues/61297.

I did that because there are cases where people add several folders with the same real folder name, but custom names to distinguish them, and this `./` syntax is special to select a workspace folder. Unfortunately it's then ambiguous with an actual path separator.

You

[2020-10-20 23:58] roblourens commented on #108869
Please file this issue on the repo for the vscode-cpptools extension:

https://github.com/microsoft/vscode-cpptools/issues

Thanks!

[2020-10-20 23:58] #108869 closed

[2020-10-21 00:00] roblourens commented on #108102
Are there any errors in the developer tools when you search from the sidebar? Help > Toggle Developer tools

[2020-10-21 00:04] roblourens commented on #108827
Works fine on desktop Safari, and I don't have an iOS device

[2020-10-21 00:07] #108888 closed

[2020-10-21 00:16] Devon7925 commented on #108225
Not sure what changed but it works now

[2020-10-21 00:16] #108225 closed

[2020-10-21 00:25] #108750 closed

[2020-10-21 00:39] JacksonKearl commented on #107588
Updated to `useExcludeSettingsAndIgnoreFiles` as per @usernamehw's suggestion and for consistency with search editor post #108750. Also added these to the keybindings intellisense registry.

[2020-10-21 00:45] sbatten commented on #93417
after a while of debugging I realize this is definitely extensions activating and includes some built-in extensions because --disable-extensions does not eliminate all cases. this is because the vscode-extension-telemetry module does not pay attention to the --disable-telemetry flag but rather the user setting `telemetry.enableTelemetry`.

[2020-10-21 00:52] Coda-Coda opened #109050 "Codespaces - Private Repos and Codespaces: Enable Submodule Cloning"
- VSCode Version: GitHub Codespaces
- OS Version: n/a

Steps to Reproduce:

1. Open a private repo in Codespaces with submodules that are private repositories, with `Codespaces: Enable Submodule Cloning` enabled.
2. Note that the submodules did not clone successfully.
3. Try `git submodule update --init --recursive`.
4. Note the error: `remote: Repository not found.`

Possibly related to:
https://

[2020-10-21 00:57] sbatten commented on #93417
added note the identifiers associated with all events will be stripped still in this case

[2020-10-21 01:34] djmisterjon commented on #109046
ya typescript consume a lot of memory !(Intelisence) sometime i reach 3go ram !!!
![image](https://user-images.githubusercontent.com/24865815/96662021-7309d100-131b-11eb-86cc-4bfabd423bc0.png)
When is too big, just close and restart vscode.
note:
more you open window, more is can be laggy.
More you have [node_module] for is laggy.
Also extensions, but in my case i dont have a lot.

[2020-10-21 01:36] Servail opened #109051 "Allow horizontal scrolling WITH word wrapping enabled!"
When working with files with deep intendations, it's very useful if scope/block is placed near the left side of viewport, which is kind of standard behaviour without word wrapping (if even it smart-autoscrolls horizontally to indentation level of selected line...). Word wrapping is also very useful feature, but as soon you enable it, you're sticked to the first column and forced to watch all the i

[2020-10-21 01:51] JacksonKearl commented on #91478
Currently using all of the go-to-definition infrastructure for things like peek, open to side, keybinds, etc, I don't think we can change this without reimplementing all of that specific to the editor so going to close this out.

[2020-10-21 01:51] #91478 closed

[2020-10-21 01:54] #109006 closed

[2020-10-21 02:00] mebest100 commented on #108921
Sure, Hv enabled this extension and no other keymap extensions installed.

[2020-10-21 02:27] mishranurag commented on #109046
Removing that extension definitely helped. Thanks a lot.

[2020-10-21 02:54] shohid96 commented on #104893
Amazing, very well done!

[2020-10-21 03:06] yuvrajvrma956 opened #109052 "no output"
Issue Type: <b>Bug</b>

when a code is run, no output is shown is the window.

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A9-9420 RADEON R5, 5 COMPUTE CORES 2C+3G    (2 x 2994)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<b

[2020-10-21 03:50] Coda-Coda commented on #109050
_Workaround_: install a separate version of git, `git submodule update --init --recursive` will then prompt you for your password. This is not ideal.

[2020-10-21 03:53] avinashkurup opened #109053 "TS Server fatal error: Unexpected token } in JSON at position 1148"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.0.3

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2020-10-21 04:00] prachi14-techved opened #109054 "Expand and collapse gets stuck"
Hi,

Please note this happens when I am collapsing a code of more than 200 lines.
Gets stuck and the arrow is not visible, though it appears after waiting for 5-10min

[2020-10-21 04:08] eamodio opened #109055 "scm.alwaysShowRepositories won't show status unless git.enableStatusBarSync is set"
We shouldn't be linking these 2 settings. I hide the status bar entry, but want the status in the view.

[2020-10-21 04:33] sandy081 opened #109056 "Cannot use IDialogService in some services due to custom dialog service dependencies"
Trying to use `IDialogService` in [ExtensionService](https://github.com/microsoft/vscode/blob/9be5ce5/src/vs/workbench/services/extensions/electron-browser/extensionService.ts#L43) or in its dependencies like [ExtensionManagementService](https://github.com/microsoft/vscode/blob/9be5ce5/src/vs/workbench/services/extensionManagement/common/extensionManagementService.ts#L24) is causing workbench to e

[2020-10-21 05:20] jonfleming commented on #6560
Another workaround for when you right-click a file and select Open with VS Code from the context menu:

You can use RegEdit to change the command under
     Computer\HKEY_CLASSES_ROOT\*\shell\VSCode\command
from
     "C:\Path\to\VSCode.exe" "%1"
to
     "C:\Path\to\VSCode.exe" "%1" --user-data-dir=C:\Temp

The --user-data-dir command-line option allows you to open multiple distinct instances of Co

[2020-10-21 05:24] mklechan opened #109057 "File Upload still works when "explorer.enableDragAndDrop" is false"
- VSCode Version: 1.49.3
- OS Version: Mac OS

Steps to Reproduce:

1. In settings set "explorer.enableDragAndDrop" to false
2. Drag file from Mac File Explorer to Editor Window
3. Note the file can now be edited and saved to remote or local machine

Does this issue occur when all extensions are disabled?: Yes

[2020-10-21 05:39] folke commented on #108773
I see. Maybe add something like the below to fix it?

[code]

This way, it will use the resource name when no slashes are in the name, and fspath otherwise.

[2020-10-21 05:39] ayushichoudhary-19 opened #109058 "'g++' is not recognized as an internal or external command"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Performance Issue</b>

**'g++' is not recognized as an internal or external command.** I have added my bin path in the environment variables as well. 'g++' is not recognized as an internal or external command! appears every time I run the output.

VS Code version: Code 1.50.1 (d2e414

[2020-10-21 05:57] bpasero commented on #108619
@isidorn the output channel can never be `editorService.activeEditor`, there must be other code that ends up using it. If you can reproduce that `editorService.activeEditor` returns an output channel, please file an `important` bug to me.

[2020-10-21 05:59] bpasero commented on #108165
@isidorn how does it work today, are you not already going over all the resolved explorer items or do you have a fast map for the explorer items too?

I guess it boils down to this: if there are tons of resolved explorer items, it would be faster to iterate over the file changes and otherwise the other way around, correct?

[2020-10-21 06:00] bpasero commented on #106704
That does not sound like intended behaviour to me.

[2020-10-21 06:02] bpasero commented on #107577
@thany to clarify you see this with Slack and Chrome too, not just VSCode?

[2020-10-21 06:03] bpasero commented on #108883
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2020-10-21 06:04] bpasero commented on #109038
Can you follow this wiki and post the results back here to understand more about why performance is so bad for you: https://github.com/Microsoft/vscode/wiki/Performance-Issues

Thanks!

[2020-10-21 06:04] ankur-manocha opened #109059 "Unable to intall plugin"
Run below command in terminal:
ensure you have -salesforce extension pack installed already

PS C:\Users\A.Manocha\VSCode-GIT\BAUDEV\BAUDEV> sfdx plugins:install @salesforce/sfdx-diff
    Error: tunneling socket could not be established, cause=write EPROTO 21008:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:c:\ws\deps\openssl\openssl\ssl\record\ssl3_record.c:332:

    Code: ECON

[2020-10-21 06:06] bpasero commented on #100870
/duplicate https://github.com/microsoft/vscode/issues/3025

[2020-10-21 06:07] #100870 closed

[2020-10-21 06:16] eamodio opened #109060 "Without any editors open the find widget doesn't show in the Output pane"
Once you open an editor, it will show up and work properly.

[2020-10-21 06:22] bpasero commented on #109056
This came in via https://github.com/microsoft/vscode/commit/1d4c7fa5b7412c1e444865ae84927b662c9c7402 and is probably a consequence of having the `window.dialogStyle: custom` setting even in native.

It does not seem to be the `ILayoutService` dependency btw, it seems to be these:
* `IThemeService`
* `IKeybindingService`

Possible that we have a cycle somewhere because extensions depend on so many

[2020-10-21 06:23] eamodio opened #109061 "Views with focus should be treated the same as hover"
When you hover over a view, its title actions become visible. But when the view is just focused (but the mouse isn't hovering over it), the actions hide.

I find this especially problematic for views with dropdown (terminal, problems, etc).

![image](https://user-images.githubusercontent.com/641685/96680905-5d5cd180-1344-11eb-921c-2cf154e4aa08.png)

[2020-10-21 06:48] weinand commented on #109041
What debug extension are you using?

[2020-10-21 06:48] bpasero opened #109062 "Consolidate ModifierKeyEmitter and AlternativeKeyEmitter"
We seem to be having 2 solutions for detecting keypress globally:
* [`ModifierKeyEmitter`](https://github.com/microsoft/vscode/blob/b3204b9260357b44047d8b7fd5f57d8a28fb541c/src/vs/base/browser/ui/menu/menubar.ts#L1011-L1011)
* [`AlternativeKeyEmitter`](https://github.com/microsoft/vscode/blob/e8572c022163b7db3e0424549bdb5ac32b7ebd4e/src/vs/platform/actions/browser/menuEntryActionViewItem.ts#L23-L2

[2020-10-21 06:49] jrieken opened #109063 "Update service shows notifications after resuming laptop"
<img width="1090" alt="Screenshot 2020-10-21 at 08 48 16" src="https://user-images.githubusercontent.com/1794099/96683258-34573380-137a-11eb-9717-19714e1069f8.png">

Open my laptop this morning and all VS Code windows show this notification...

[2020-10-21 06:51] amitguptagwl commented on #106609
I had to format system and reinstall vscode. Currently I'm checking with v1.50.1. And it is working fine. So closing the issue. I'm wondering if it is a clash with some plugin. Because on new installation I have not installed any plugin yet. However, I'll check this again with plugins and report if I face the issue again.

[2020-10-21 06:51] #106609 closed

[2020-10-21 06:52] weinand commented on #109052
- what type of debugging is this?
- please provide reproducible steps

[2020-10-21 06:57] jrieken opened #109064 "Reset setting is slow"
* have a customized setting
* trigger reset setting from its context menu
* 🐌 it takes ~1sec for the new/reset value to appear

![Oct-21-2020 08-56-09](https://user-images.githubusercontent.com/1794099/96684167-716ff580-137b-11eb-8f74-e78a262a2b10.gif)

[2020-10-21 06:59] aeschli commented on #108963
Duplicate of https://github.com/microsoft/vscode/issues/32480

Quick suggestions only appear at the end of a word, but JSON has a special word rule that includes the `"`.
So if you remove the ending "'", it will work.

[2020-10-21 06:59] #108963 closed

[2020-10-21 07:01] sandy081 commented on #109056
Not sure dropping custom dialog support will fix this, because we use custom dialogs in web and the cyclic dependency remains in web. It would be better to split layout service to break the cycle.

[2020-10-21 07:05] aeschli commented on #99269
The schema must use `oneOf` something like
[code]

But I don't think the settings UI has a control for that.

[2020-10-21 07:07] jrieken commented on #109031
That's because of the `<p>` tags - those aren't allowed in the `MarkdownString`

[2020-10-21 07:07] bpasero commented on #109056
Ah yeah good point 👍 .

@sandy081 did you see my note, this is not related to layout service at all. This is because of theme service and keybinding service cycles.

[2020-10-21 07:07] #109031 closed

[2020-10-21 07:08] #109048 closed

[2020-10-21 07:09] aeschli commented on #108875
duplicate of https://github.com/microsoft/vscode/issues/81782

[2020-10-21 07:09] #108875 closed

[2020-10-21 07:09] kittaakos commented on #109014
Thank you!

I should have read the docs:
https://github.com/microsoft/vscode/blob/6c8c6008ef9d86e46b086a00f273b1fee5bd8c51/src/vs/vscode.d.ts#L9867-L9869

It does not.

[2020-10-21 07:11] aeschli commented on #109054
What language? Can you add a sample code or repo where this is reproducible?

[2020-10-21 07:12] aeschli commented on #106704
@individual11 Did you restart VSCode in between? We only remember the last theme in memory.

[2020-10-21 07:21] ChangReily commented on #57753
This is also needed as an option for me.

[2020-10-21 07:28] sandy081 commented on #109056
Right, seems theme service and keybinding service are the root causes. And these services are pulling lot of services which pulls others and so on... so dialog service cannot be used in many of the services which is very unfortunate.

[2020-10-21 07:39] bpasero commented on #109056
I think the issue is the other way around: extension service is used in a ton of places and services itself e.g. to wait when extensions are ready. As such you cannot use the dialog service in any service that is the extension service itself or depends on it I think.

We depend on the dialog service successfully from some services like text-file service and workspace editing, so I think it is only

[2020-10-21 07:42] alexdima commented on #109046
Thank you for following up. Please create an issue directly against the extension.

[2020-10-21 07:42] #109046 closed

[2020-10-21 07:45] sandy081 commented on #109056
I agree that dialog service should be a basic service not depending on other workbench services so that every service can use it - It seems Notification service is a very good example and depending only on storage service, so not sure why dialog service needs other dependencies.

[2020-10-21 07:45] alexdima commented on #109051
@Servail I don't understand what you want. A clarification of what we have:
- `editor.wordWrap: off`: no wrapping
- `editor.wordWrap: on`: wrapping at `viewportColumn` (value depends on the width of your editor)
- `editor.wordWrap: wordWrapColumn`: wrapping at the setting `editor.wordWrapColumn` (value configured in settings)
- `editor.wordWrap: bounded`: wrapping at `min(viewportColumn, editor.wo

[2020-10-21 07:50] OOBELOCAL opened #109065 "Debugging Diagnostics"
Issue Type: <b>Bug</b>

- Publishing to Github.
- Trying Profiling.

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5600U CPU @ 2.60GHz (4 x 2594)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d:

[2020-10-21 07:51] SmartElec commented on #108638
thanks,my `editor.defaultFormatter` is config with others

[2020-10-21 07:51] #108638 closed

[2020-10-21 07:55] infinnie commented on #105697
@rzhao271 May you reopen it?

[2020-10-21 07:57] runxel commented on #109037
Uhm, sorry @retfloww? This has nothing to do with the act of _switching between tabs_ or therelike.
Looks like the terms are overloaded. If I talked about switching it means there is no way to open _a new_ terminal shell, but _with another shell_. (CMD is opened, but I need a WSL shell)
You instead can only open another shell of the same kind, which is okay, but not really what I need.

[2020-10-21 07:58] gui-santos commented on #108414
Hey @mjbvz something weird happened
I can't reproduce the error anymore, after doing the first step you sent me every time I open a js file everything works fine 🤷

I guess we can close this issue and I open a new one if it happens again

[2020-10-21 08:07] gusbemacbe opened #109066 "Latest version of VSCode Insiders crashed on macOS Catalina"
- VSCode Version: 1.50.0 and 1.51.0
- OS Version: 10.15.7

Steps to Reproduce:

1. Download that latest from the site.
2. Drag and drop on Applications folder under the second disk (HDD), .i.e, `/Volumes/Second_HDD/Users/gusbe/Applications/`;
3. Open VSCode.
4. Install Python.
5. Close VSCode.
6. Open VSCode.
7. It crashed.

I reverted to 1.50.0, but it also crashed.

Does this issue occur when al

[2020-10-21 08:10] boaz-codota opened #109067 "Completions ignores sortText"
- VSCode Version: master
- OS Version: ---

Building [TabNine](https://github.com/codota/tabnine-vscode) we encountered a bug in completions, where `sortText` is ignored if any `CompletionItem` does not contain `sortText` attribute. This causes the IDE to totally ignore the `sortText` in the ordering, forcing the sort algorithm to fallback to `label` only.

Steps to Reproduce:

1. Use suggestions

[2020-10-21 08:14] thiezn opened #109068 "Search for Python virtual environments in ~./pythonproject/.venv"
Hi,

I frequently work with multiple Python projects with their own virtual environment in a single workspace (multi-root folders). Its great that we can select the active environment by clicking on the VSCode status bar. However, the way I arrange my workspace doesn't pick up on the virtual environments I've created.

The following [documentation](https://code.visualstudio.com/docs/python/environ

[2020-10-21 08:21] achimnol opened #109069 "Displacement of syntax and language-server highlighting"
- VSCode Version: 1.50.1
- OS Version: macOS 10.15.7

Steps to Reproduce:

1. This does not happen always, but suddenly, opening [this file](https://github.com/lablup/backend.ai-manager/blob/master/src/ai/backend/gateway/etcd.py) results in a displacement of syntax highlights and language-server highlights.
![image](https://user-images.githubusercontent.com/555156/96692535-195be200-13c1-11eb-92ec-

[2020-10-21 08:23] sandy081 opened #109070 "Settings Sync account shows signed out always - running from sources"
- Enable settings sync while running from sources
- reload window (or restart)

🐛 Settings sync account is signed off.

[2020-10-21 08:25] weinand commented on #109065
/needsMoreInfo

[2020-10-21 08:25] cateyes99 commented on #108848
@alexdima thanks, your suggestion makes it even much better 😄. IMHO, I wish it would have been implemented in this way when #77762 was done, don't quite understand why now we need to wait for 20 up votes 🤭 🙄 ...

[2020-10-21 08:27] weinand commented on #109065
Please provide details for what you are asking for.

[2020-10-21 08:27] isidorn commented on #108632
Agree. We should improve this.

[2020-10-21 08:31] DanTup commented on #73656
@alexdima this issue has been "on deck" for over a year but there's been no updates - might it be something that is tackled? Right now it's not clear how extensions are supposed to handle this. Users complain of language servers running when they shouldn't (although recent instances are because of https://github.com/microsoft/vscode/issues/108578).

I would much rather *not* have my extension acti

[2020-10-21 08:33] alexr00 opened #109071 "Provide command to get package manager"
https://github.com/microsoft/vscode/pull/102494#issuecomment-713070638

From @connor4312

![image](https://user-images.githubusercontent.com/2230985/96631352-1252a800-12cb-11eb-8f8e-95339b89957b.png)

[2020-10-21 08:33] lpintes opened #109072 "Alt+shift+f doesn't work"
Issue Type: <b>Bug</b>

I tested this using Golang and Elm extensions. When i press the alt+shift+f keyboard shortcut, the folliwing nonsense appears on status line:

[code]

VS Code version: Code - Insiders 1.51.0-insider (13b3c937dc5e3816c79bdd2cdf2cdf6f9c727b75, 2020-10-20T06:07:53.466Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPU

[2020-10-21 08:35] hope0986 opened #109073 "facing slow file saving problem"
Issue Type: <b>Bug</b>

facing slow file saving problem

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4570 CPU @ 3.20GHz (4 x 3193)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flas

[2020-10-21 08:36] TheVeryDarkness commented on #108876
Wow, vscode insert exact one tab this time. But I wonder how I can get to know which extension does that.
And thank you all.

[2020-10-21 08:39] retfloww commented on #109037
Oh I now undertand what do you mean. Alright, sorry for misunderstanding you.

[2020-10-21 08:40] pleabargain commented on #108572
I'm experiencing same bug

I can save .txt files = no problem.
Saving ipynb files = no joy!

Version: 1.50.1
Commit: d2e414d9e4239a252d1ab117bd7067f125afd80a
Date: 2020-10-13T14:44:48.716Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.4.0-52-generic snap

![save as in jupyter notebook not working Peek 2020-10-21 11-34](https://user-images.githubus

[2020-10-21 08:57] bpasero commented on #109056
Yeah I like that. Notifications have 1 model which is basically the service and then N listeners for UI pieces.

[2020-10-21 09:06] dbaeumer commented on #108987
Assigning based on latest commits.

[2020-10-21 09:09] dbaeumer commented on #108984
@danyeh IMO this has nothing to do with VS Code. Can you please clarify or move.

[2020-10-21 09:10] zenicu commented on #108102
no errors, only endless searching, that small line that strolls above the search bar moving over and over again, not finding any searches results ever.

[2020-10-21 09:35] runxel commented on #109037
No problem. I realized too late that the term "switching" is actually used differently even in VSCode 🤦‍♂️

[2020-10-21 09:39] Jaffacakes82 opened #109074 ".NET test debugging extension path length restriction"
- VSCode Version: 1.50.1
- OS Version: macOS Catalina 10.15.7

Steps to Reproduce:

1. Create a .NET Core test using xUnit
2. Attempt to debug .NET Core test using the `Debug Test` functionality above the unit test (picture for guide)
![image](https://user-images.githubusercontent.com/4850159/96702052-4391ad80-1389-11eb-82e9-ca6dc0058d6d.png)
3. Observe error in .NET Test Log output stating the pa

[2020-10-21 09:44] sandy081 commented on #108522
@bpasero I think `IWorkbenchExtensionEnablementService` depending on `IHostService` is logically correct. But, in web `IHostService` is depending on other workbench services like `IEditorService` -> `IEditorGroupsService` -> `IThemeService -> ...` and causing cycle. Not having consistent base services in desktop and web is causing confusion and debt and it might add up as we evolve. I think fixing

[2020-10-21 09:49] jlorquin commented on #20958
Don't mean to spam here but I would really love this feature to be implemented. Cheers.

[2020-10-21 09:53] mrmsbarnes commented on #105258
This is still a bug to me with latest insider version.  Screenshots (on adjacent monitors) are with Electron 9.2.1 but it still happens with latest version with About shown in CodeVersion.jpg.  I have adjusted to different feature usage, but it would be nice if Code remembered from Exit to restart the layout I wanted.

It's going to take me a while to figure out how to attach files.  drag and drop

[2020-10-21 09:54] mrmsbarnes commented on #105258
![SetAsWanted](https://user-images.githubusercontent.com/8269732/96704165-9b5bf480-1348-11eb-95c1-36c7ce2def53.jpg)
![SaveExitRestart](https://user-images.githubusercontent.com/8269732/96704205-a9aa1080-1348-11eb-97fc-9579551fe31c.jpg)
![CodeVersion](https://user-images.githubusercontent.com/8269732/96704220-af075b00-1348-11eb-9138-229676bd6511.jpg)

Hope screenshots came through.

[2020-10-21 10:00] montacerdk opened #109075 "VS Code cannot resolve the path of tsconfig.json monorepo React - Nest project"
- VSCode Version: 1.50
- OS Version: Ubuntu 18

Steps to Reproduce:

1. Create a mono repository project that contains two projects (React.js and Nest.js) using Create React App and Nest CLI. this what the path looks like :

- **Mono repo** :

![Screenshot from 2020-10-21 10-50-34](https://user-images.githubusercontent.com/26897940/96704310-d9c6d300-138b-11eb-9feb-a917ea16d489.png)

- **React Proj

[2020-10-21 10:02] uloco commented on #38113
Looks like the revert is working at the moment, but when using a different command: `git.revertSelectedRanges`. This works for me, but of course it would be cool if the whole inline review window and actions could be navigated with the keyboard only.

[2020-10-21 10:02] alexr00 opened #109076 ""Unable to open: File is directory" clicking file URI in terminal when local is Windows and remote is not"
Tracked it down to an unsafe use of fsPath:

https://github.com/microsoft/vscode/blob/528b473dba12e696213c747f3b710981cd32d30d/src/vs/workbench/contrib/terminal/browser/links/terminalLinkManager.ts#L190-L202

[2020-10-21 10:03] joaomoreno opened #109077 "Explorer has Download command in context menu"
![image](https://user-images.githubusercontent.com/22350/96705250-527e5d00-1395-11eb-870c-1cb03fb64253.png)

[2020-10-21 10:04] memee opened #109078 "The Ctrl+R in integrated ZSH terminal does not open `bck-i-search`"
- VSCode Version: 1.50.1
- OS Version: Darwin x64 19.6.0 / MacOS Catalina 10.15.7

Steps to Reproduce:

1. Open integrated terminal
2. Press Ctrl+R

Does this issue occur when all extensions are disabled?: Yes

My settings:

[code]

[2020-10-21 10:06] shukla-yogesh opened #109079 "Slow performance"
Issue Type: <b>Bug</b>

non response to commands and very high memory and cpu usage.

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (8 x 2112)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<b

[2020-10-21 10:10] bpasero commented on #109077
I did not change that, we always show "Download" for remotes:

![image](https://user-images.githubusercontent.com/900690/96706031-552d8200-1396-11eb-9756-4fa573324651.png)

[2020-10-21 10:13] smartgamer1280 commented on #107967
I always add and the path and then on the next restart it always says that add interpreter in visual studio code

[2020-10-21 10:14] localjo commented on #108876
Do you have an `.editorconfig` file in your project or workspace? The settings in that file could be overriding your VS Code settings.

[2020-10-21 10:16] scscgit commented on #108688
This also randomly happens to me when trying to undo and redo a few times in a row, often having "empty" entries that require doing the action several times, and after some attempts or waiting I can no longer do the Redo after Undo however much I try. That's why an extension like [xyz.local-history](https://marketplace.visualstudio.com/items?itemName=xyz.local-history) is a necessity, considering

[2020-10-21 10:16] smartgamer1280 opened #109080 "It always says add path to interpreter"
Issue Type: <b>Bug</b>

It doesnt work help me =>>I always add and the path and then on the next restart it always says that add interpreter in visual studio code

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T15:06:15.712Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-5005U C

[2020-10-21 10:17] Rvvlf commented on #109037
Try this extension. https://marketplace.visualstudio.com/items?itemName=Tyriar.shell-launcher.

[2020-10-21 10:21] VasuInukollu commented on #108489
The new build seems to have resolved the problem.

[2020-10-21 10:21] #108489 closed

[2020-10-21 10:25] bpasero commented on #108977
👍 , Electron, Chrome, Node.js and V8 are product names that need no translation

[2020-10-21 10:25] #108977 closed

[2020-10-21 10:31] joaomoreno commented on #109077
Oh sorry, this was WSL, my bad 🙈

[2020-10-21 10:31] #109077 closed

[2020-10-21 10:32] sravyakusam commented on #108963
Hi Aeshcli, I could remove " at the end of the line in json, and see that autocomplete suggestions show up. However I followed the thread #32480, but couldnot see any update if the feature is implemented, to enable intellisense suggestions in the middle of the word.

This was one proposal I saw.

_So, instead of the boolean configuration value we have today, ("editor.quickSuggestions": true) we co

[2020-10-21 10:47] joanmarie commented on #106505
@isidorn Thanks! I made those changes, but how do I set the breakpoint? According to the steps to reproduce, it's in the run menu. But the only thing I have in the run menu is "Install Additional Debuggers..."

[2020-10-21 10:48] AlopexXx commented on #107398
I have the same Problem

[2020-10-21 10:49] joanmarie commented on #106505
Oops, clicking to the left of the line number does it. Sorry for the noise!

[2020-10-21 10:54] hasenradball opened #109081 "[BUG]: Compiler ARGS not taken over/considered when running build with g++ on Win10"
- VSCode Version: 150.1
- OS Version: Win 10.0.18363

Steps to Reproduce:

1. create the "hello world" example from Documentation
2. change the compiler "args" in tasks.json like an other output name, or change the args to be able to compile multiple files
3. run Task
4. the changes in "args" are not considered!

Hint:
on MAC it works fine on Win10 it does not work!

`
{
	"version": "2.0.0",
	"tas

[2020-10-21 10:54] hasenradball commented on #109081
When using the command on the terminal everything works fine

[2020-10-21 10:59] runxel commented on #109037
Thanks for this tip, @Rvvlf! I've tried it and it seems good enough. I still would prefer to be this a built in feature, tho. There is already everything there, the devs would just need to improve in the usability.
(I'd propose a new setting, where you either can have the current behaviour when pressing that "+" i.e. launching a new terminal with the _same_ shell as currently, or being _asked_ whi

[2020-10-21 11:02] joaomoreno opened #109082 "Terminals are reused across workspaces"
Using Remote WSL

1. Open a workspace
2. Open a terminal, type `hello` without pressing <kbd>Enter</kbd>
3. Open another workspace

🐛 Terminal will be open in the same session

[2020-10-21 11:03] bersbersbers opened #109083 "vscode.debug.startDebugging should support named automatic (dynamic) and global (user settings) debug configurations"
I'd like to use `vscode.debug.startDebugging` to switch between debuggers (compare https://github.com/microsoft/vscode/issues/97921, where the proposed solution is to write an extension - I'd like to try this).

Unfortunately, `vscode.debug.startDebugging` is restricted to named configurations from `launch.json` files: that means, global (a.k.a. user settings) `launch` configurations are not suppo

[2020-10-21 11:12] joaomoreno opened #109084 "Persistent terminals should also persist tasks"
Seen on Insiders Remote WSL:

1. Open our selfhost repo
2. <kbd>Ctrl Shift B</kbd> to start our 2 build tasks, notice the two new terminals
3. <kbd>Reload</kbd> to reload, notice the two terminals are not associated with any task
4. <kbd>Ctrl Shift B</kbd> to restart our 2 build tasks, notice another two new terminals 🐛

You can repeat 3 & 4 indefinitely to grow the number of terminals.

[2020-10-21 11:12] vismodo opened #109085 "Bug With Python Tkinter"
Issue Type: <b>Bug</b>

Whenever I run a Python Tkinter window and a mainloop, If I destroy the terminal before I close tkinter window, Visual Studio Code freezes and needs to be reopened. Try this code and do not close the tkinter window. Directly kill the terminal:
[code]

Use Python 3x. As I said, do not interact with the tkinter window.

VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd