[2020-09-29 07:43] #107203 closed

[2020-09-29 07:43] bpasero opened #107650 "Unsafe editor.resource access: explorer"
**Background:** a while ago we introduced canonical resources as a way to solve issues on file systems that are case-preserving but case-insensitive. For example consider files:
* `some/path/FILE.txt`
* `some/path/file.txt`

Previously we would open 2 editors which pointed to the same file but with canonical URIs, we take the first file path into memory and normalize all subsequent ones that only

[2020-09-29 07:44] rmunn commented on #107376
Is there a .editorconfig file in your project that's set to use 2 spaces? That overrides your user settings for that particular project.

[2020-09-29 07:45] bpasero opened #107651 "Unsafe editor.resource access: scmViewPane"
**Background:** a while ago we introduced canonical resources as a way to solve issues on file systems that are case-preserving but case-insensitive. For example consider files:
* `some/path/FILE.txt`
* `some/path/file.txt`

Previously we would open 2 editors which pointed to the same file but with canonical URIs, we take the first file path into memory and normalize all subsequent ones that only

[2020-09-29 07:57] isidorn commented on #2405
@trstringer why did you close this? I think this is still an appropraite feature request?
We currently support a `postDebugTask` which runs after the whole debugging stopped, a postLaunchTask is still not supported as far as I know.

[2020-09-29 07:57] sandy081 opened #107652 "INativeHostService#onWindowOpen event is not working in shared process"
Repro from OSS

1. Open file - `src/vs/platform/extensionManagement/electron-sandbox/extensionTipsService.ts`
2. Add following line in the constructor of `ExtensionTipsService`
`this.nativeHostMainService.onWindowOpen(() => console.log('Hello'));`
3. Run OSS
4. Open multiple windows
5. Open Shared Process Dev tools

🐛 Above statement is not logged

[2020-09-29 07:57] jrieken opened #107653 "Clarify that presentation properties of code action should not change"
Testing #107586

The sentence a little lax IMO because when resolving a code action it is usually showing in the UI and changing presentation properties, like title or kind, would be then be false.

[2020-09-29 07:59] jrieken opened #107654 "Different markup usage"
Testing #107586

It seems that usually things like "Since version x.y.z" is printed italics but not for this instance

<img width="369" alt="Screenshot 2020-09-29 at 09 58 52" src="https://user-images.githubusercontent.com/1794099/94529760-6ae9d480-023a-11eb-972a-36968423e509.png">

[2020-09-29 08:00] milter001 commented on #107229
[2020-09-29 09:31:09.137] [renderer1] [error] An unknown error occurred. Please consult the log for more details.
[2020-09-29 15:59:19.281] [renderer1] [info] [KeybindingService]: / Received  keydown event - modifiers: [ctrl], code: ControlLeft, keyCode: 17, key: Control
[2020-09-29 15:59:19.281] [renderer1] [info] [KeybindingService]: | Converted keydown event - modifiers: [ctrl], code: ControlLe

[2020-09-29 08:08] Yajo commented on #107587
@joao-p-marques please reopen into https://github.com/microsoft/vscode-python

[2020-09-29 08:08] aeschli commented on #107586
I fixed some typos in https://github.com/microsoft/language-server-protocol/pull/1100

[2020-09-29 08:11] #107586 closed

[2020-09-29 08:14] lijian12345 opened #107655 "rightClick(copyPaste) in terminal will still open the right click menu."
- VSCode Version: 1.49.2
- OS Version: Win 10 Pro 19042.508

Steps to Reproduce:

1. Open a VSCode instance.
2. Open terminal and select a text line.(the first graph)
3. (rightClick: copyPaste) Then a menu will appear.

![Code_pcH4weHKra](https://user-images.githubusercontent.com/26590220/94531079-971f4880-026e-11eb-8464-dd0bb03ca83e.png)
![Code_5TUdfQM9NJ](https://user-images.githubusercontent.co

[2020-09-29 08:16] MarioCadenas commented on #99492
Having the same problem, has anyone find a solution to this?

[2020-09-29 08:21] ilishuaiwei opened #107656 "TS Server fatal error: Debug Failure."
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2020-09-29 08:22] #107656 closed

[2020-09-29 08:22] aeschli commented on #107586
The following sentence could be improved:
` This is usally used to compute
the `edit` property of a code action to avoid its unnecessary computation during the `textDocument/codeAction` request.`

...avoid its unnecessary computation ...

It's not that it's **unnecessary** (not for the proposal that is selected) but to delay the computation if the computation is expensive

[2020-09-29 08:23] bpasero opened #107657 "Test ExtensionRecommendationsService: Able to retrieve collection of all ignored recommendations"
[code]

https://dev.azure.com/vscode/VSCode/_build/results?buildId=54035&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=4f94dfce-af9e-52fd-5eb8-ca3006505634&l=13880

[2020-09-29 08:24] teohhanhui commented on #10759
@vkocjancic

https://support.microsoft.com/en-my/help/4557207/surface-go-2-features#section-2

https://support.microsoft.com/en-my/help/4456067/windows-10-switch-out-of-s-mode

[2020-09-29 08:27] DanTup opened #107658 "Debug sessions fail to start for some users after switching to DebugAdapterDescriptorFactory/out of process DA"
In the last release of the Dart extension, I switched to using a `DebugAdapterDescriptorFactory` and running the debug adapter out-of-process rather than in-process.

Everything works fine for me (and I suspect, most users) but some users (@dominikheeb in https://github.com/Dart-Code/Dart-Code/issues/2782 ~and @moseskarunia in https://github.com/Dart-Code/Dart-Code/issues/2819~) have reported that

[2020-09-29 08:27] alexdima commented on #101789
@jrieken I think it should be fine, but I suggest we do it in the debt week, and test it out a bit. Maybe you have a way to find out this special use-case where the text edit is a part of a larger bulk edit and only do it then?

I think many extensions use some vscode API that ends up here with a single file (e.g. liveshare that I know about), and pushing multi edit stack elements with a single bu

[2020-09-29 08:27] alexr00 commented on #106661
If you run that same command in the integrated terminal (not using tasks) does it work?

[2020-09-29 08:33] bpasero commented on #107647
@jrieken share your setting for `window.title`

[2020-09-29 08:36] isidorn commented on #69746
Verifier: follow the steps in the inital comment, and make sure that `copy()` in the debug console copies content to the clipboard

[2020-09-29 08:36] isidorn commented on #86035
@connor4312 can you please add steps for verification

[2020-09-29 08:37] tlightsky commented on #65559
would be nice if wasm can be used in vscode extension

[2020-09-29 08:37] alexr00 commented on #101173
Thanks for reporting the issue. Since this is coming from the C++ grammar, I've opened an issue in the repo of the C++ grammar: https://github.com/jeff-hykin/cpp-textmate-grammar/issues/503

[2020-09-29 08:37] #101173 closed

[2020-09-29 08:39] alexr00 commented on #105553
I'm not able to repro this issue:
![image](https://user-images.githubusercontent.com/38270282/94533878-092c6900-0240-11eb-83e4-9fa9d3e8503c.png)
It is likely caused by one of the extension you have installed.

[2020-09-29 08:40] #105553 closed

[2020-09-29 08:41] bpasero commented on #107480
@rebornix please check how your keychain is configured:

![image](https://user-images.githubusercontent.com/900690/94534180-5f99a780-0240-11eb-98ee-d64b0787ec2f.png)

[2020-09-29 08:44] alexr00 commented on #105215
Platform specific properties in tasks are only supported for `shell` and `process` tasks.

[2020-09-29 08:44] tigert opened #107659 "Fedora package dependency to libX11-xcb is missing from RPM"
- VSCode Version: 1.6.12-1.fc33
- OS Version: Fedora 33 Silverblue (vscode installed in Toolbox container)

Steps to Reproduce:

1. install vscode in fedora toolbox following the instructions: https://code.visualstudio.com/docs/setup/linux#_rhel-fedora-and-centos-based-distributions
2. run code and see "error while loading shared libraries: libX11-xcb.so.1"

Does this issue occur when all extensio

[2020-09-29 08:47] bpasero opened #107660 "Web: settings sync reports as not enabled after enabling"
In web selfhost today:

![recording](https://user-images.githubusercontent.com/900690/94534886-36c5e200-0241-11eb-8f62-81b6a4752bcf.gif)

[2020-09-29 08:48] bpasero commented on #107660
I think there is a window reload after settings sync enabled, I don't think we had that before.

[2020-09-29 08:55] alexr00 commented on #97238
@alexdima is there anything that vscode textmate can do about this?

[2020-09-29 08:55] alexdima commented on #107229
@milter001 Thank you. So it looks that everything is correct now:

So when you pressed `ctrl+[minus]` the action `workbench.action.navigateBack` is invoked correctly. So I believe your initial issue is resolved, and it appears it was caused by customizations done in `keybindings.json`. It is unclear how these changes in `keybindings.json` occurred and if this was a bug or just bad configuration.

[2020-09-29 08:55] #107229 closed

[2020-09-29 08:56] alexr00 commented on #105675
@sstaub can you please give a full example?

[2020-09-29 09:04] alexdima commented on #107616
@rebornix Can you please try this out? I don't have access to an iPad with a keyboard.

[2020-09-29 09:05] buiduydong opened #107661 "can not connect to the market of extensions"
Issue Type: <b>Bug</b>

i can not connect to the market of extensions anh fail xhr

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:13:11.295Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3340M CPU @ 2.70GHz (4 x 2691)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>

[2020-09-29 09:05] jrieken opened #107662 "Orca doesn't announce default value in drop down"
Testing #107610

* ubuntu20 w/ orca
* navigate into "Editor: Render Whitespace"
* go through the list of options
* :bug: is option is read out expect for the default option

<img width="859" alt="Screenshot 2020-09-29 at 11 04 17" src="https://user-images.githubusercontent.com/1794099/94537815-8c02f300-0243-11eb-95f3-403952e97fd0.png">

[2020-09-29 09:07] jrieken commented on #107647
Not customised, the only thing that gets close is `"window.titleSeparator": " 🚴",`

[2020-09-29 09:07] kneefer commented on #107541
Have the same problem:
![image](https://user-images.githubusercontent.com/5238147/94538087-dd12e700-0243-11eb-86a4-74f75e7ceff9.png)

[2020-09-29 09:11] jrieken opened #107663 "Value is read out"
Testing #107610

* ubuntu20 w/ orca
* navigate to "Editor: Format on Save"
* :bug: it doesn't read the "value" if the setting is check or not. It reads the whole description and only when pressing enter it reads "checked" or "unchecked"

[2020-09-29 09:11] shakir-timur commented on #106661
Yes, it worked when typing command directly. Problem was only with commands / hotkeys

[2020-09-29 09:13] jrieken opened #107664 "Screen reader reads settings links syntax"
Testing #107610

* ubuntu20 w/ orca
* navigate to "Editor: Format on Save"
* :bug: the description of that setting uses a references to another setting. This renders as link but the screen reader reads the markdown, e.g _"hash blabala hash"_

[2020-09-29 09:16] GitMensch commented on #62531
Back-Link for the [SO question leading here since Dec 2019](https://stackoverflow.com/questions/59326920/how-to-filter-out-problems-in-vscode-based-on-text), just because.

Note: I did not found the issue here with some minutes searching, it seems reasonable to add "problem pane" to the question's title, at least that would have shown this issue in my (and possible others') search.

[2020-09-29 09:18] bpasero commented on #107647
@jrieken weird, I get this:

Working Area:
![image](https://user-images.githubusercontent.com/900690/94539332-61199e80-0245-11eb-8aa8-247c740dcd9a.png)

Staged:
![image](https://user-images.githubusercontent.com/900690/94539372-6d9df700-0245-11eb-8136-3b9056404768.png)

[2020-09-29 09:19] jrieken opened #107665 "Esc doesn't work when gear icon has focus"
Testing #107610

* ubuntu20 w/ orca
* tab into the gear icon, e.g so that it has a focus border
* :bug: press `Esc` and nothing happens, press `Tab` and you end up in the activity bar

[2020-09-29 09:20] jrieken commented on #107647
You aren't doing step 3 "switch diff editor to text-diff mode"

[2020-09-29 09:23] DavidBenHorin opened #107666 "I cannot debug code on my chrome browser"
I have some js files that when I run them to debug, the browser gives me this error:

This site can’t be reachedlocalhost refused to connect.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_REFUSED
![debug](https://user-images.githubusercontent.com/20887199/94539957-924a9c80-024e-11eb-81dd-99035e2acbcb.png)

[2020-09-29 09:28] alexr00 commented on #105779
Not sure what's going on here. It only occurs if the `//` is in there. The character before the `//` will get `invalid.illegal.newline.js` but I don't know why. Opened an issue for the owners of the html grammar to see if they know more: https://github.com/textmate/html.tmbundle/issues/113

[2020-09-29 09:28] #105779 closed

[2020-09-29 09:34] sandy081 commented on #107660
Caused by this https://github.com/microsoft/vscode/commit/a6dbf4c82c8505b3ab15bb2534004d0b8454bc26#diff-59b1dee2be28a3fac235b08089425173

Added settings sync enablement handler to `workbench.ts` and since this is being shared across multiple set ups, this got broken in our web self host set up.

Fixed.

[2020-09-29 09:34] #107660 closed

[2020-09-29 09:35] alexr00 commented on #106078
We get our grammar for shell script syntax highlighting from https://github.com/atom/language-shellscript, but they aren't supporting the grammar anymore. I'll keep this bug around in case we update where we get our grammar from.

[2020-09-29 09:35] lllopo commented on #106801
The issue got fixed for me with the latest insiders :

Version: 1.50.0-insider (user setup)
Commit: 9de65ab77e587cf7ab5dd00ea301cd5431b0f397
Date: 2020-09-29T07:18:01.270Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

[2020-09-29 09:36] alexr00 commented on #106840
Can you please provide a full example of the behavior you're seeing?

[2020-09-29 09:38] bpasero commented on #107636
Needs investigation if this is maybe a recent regression from the changes to support enabling extensions without window reload in remote.

[2020-09-29 09:39] HaoboGu commented on #107343
This looks good to me!

[2020-09-29 09:40] sandy081 commented on #107632
In this case, your latest state of extensions (which is removing all installed extensions) is pushed to the server. You can see that from the log that extensions updated the data in remote.

May I know what are you expecting otherwise?

[2020-09-29 09:42] sandy081 commented on #107558
Do you see any errors any where else? Any prompts for eg?
Can you also open Output view in the bottom section and check for window and remote logs to see if there are any errors?

[2020-09-29 09:43] jrieken opened #107667 "Debug hover doesn't come back"
Testing #107156

* debug an extension
* hover over an element, debug hover shows
* press `alt`, TS hover shows
* :bug: release `alt`, TS hover still shows

![Sep-29-2020 11-42-50](https://user-images.githubusercontent.com/1794099/94542324-f23e4480-0248-11eb-90d1-190903521bdb.gif)

[2020-09-29 09:44] bpasero opened #107668 "Web: high contrast and color scheme not detected on macOS"
Testing #106389

Works fine on Windows though.

[2020-09-29 09:45] sandy081 commented on #107490
Please share the logs from the following locations
    - Help -> Toggle Developer Tools -> Console
    - View -> Command Pallette... -> Toggle Shared Process -> Console
    - View -> Open View… -> Log (Shared)
    - View -> Open View… -> Log (Window)

[2020-09-29 09:45] bpasero opened #107669 "Web: switching between dark and light color scheme does not restore previous theme"
Testing #106389

On Windows I enabled `"window.autoDetectColorScheme": true` and then set a theme of my liking. When I switch between dark and light mode in Windows, my previous set theme was not restored.

[2020-09-29 09:46] sandy081 commented on #107657
Cannot reproduce it locally. Will check how often this is failing.

[2020-09-29 09:46] jrieken opened #107670 "Debug hover height computation seems off"
Testing #107156

* debug an extension
* hover over a variable
* 🧀 the hover gets scrollbar for something like 5px. That seems completely unnecessary

<img width="1187" alt="Screenshot 2020-09-29 at 11 44 59" src="https://user-images.githubusercontent.com/1794099/94542703-6678e800-0249-11eb-94e5-76e099c2e9c6.png">

[2020-09-29 09:46] bpasero commented on #106389
I saw some weird behaviour with restoring the previous configured theme. I was editing my settings (in the file) and removed all of them, including the `"window.autoDetectColorScheme": true` one. When I saved, my previous theme came back into the settings file. I wonder if we can be more clever and not do this if I change the settings file myself.

[2020-09-29 09:47] vaibhavM55 opened #107671 "vscode other instances do not open in their ubuntu workspace"
- VSCode Version: 1.49.2
- OS Version: ubuntu 18.04.4

Steps to Reproduce:

1. Open a vscode application through file explorer in workspace1 by clicking "open with other applications" -> "vscode" -> open
2. Open a vscode application through file explorer in workspace2 by clicking "open with other applications" -> "vscode" -> open

vscode even if opened through file explorer in workspace2, opens in

[2020-09-29 09:47] isidorn commented on #107658
Since this is not reproducable, leaving this assigned to Andre so he can investigate more once he is back.

[2020-09-29 09:50] jrieken opened #107672 "Two hovers showing"
Testing #107156

With some playing of moving while pressing alt I can get both hovers showing, for different elements. The debug hover shows for the `element` argument (line 160) while the TS hover shows for the `provider` property (line 162)

<img width="873" alt="Screenshot 2020-09-29 at 11 48 18" src="https://user-images.githubusercontent.com/1794099/94543019-d2f3e700-0249-11eb-876e-0c1f1a4b16f

[2020-09-29 09:51] bpasero opened #107673 "[theme] only restore the previous theme if the user has not changed the theme"
Testing #106389

* configure a HC default theme `Abyss`
* enter HC
* theme changes to Abyss
* manually change theme to Kimbie
* leave HC

=> 🐛 all my theme changes are lost

I think I would only restore the previous theme if the user has not changed the theme meanwhile?

[2020-09-29 09:52] isidorn commented on #107520
Thanks. Assigning to September so I investigate further.

[2020-09-29 09:53] sandy081 commented on #107460
I do not know how to follow above steps to repro. Can you please provide concrete steps?

Seems these are extensions installed by user, so, can you please open the folder where these extensions are installed check if they have `package.nls.json` files?

[2020-09-29 09:54] alexr00 commented on #107173
@braxtons12 I'm not familiar with Rust, but I went back to VS Code version 1.41.1 and I still see `meta.attribute.rust`. `entity.name.function.attribute.rust` looks like a more specific scope, and I wouldn't expect that to break anything.

![image](https://user-images.githubusercontent.com/38270282/94543603-8d83e980-024a-11eb-8653-f9b1e7beb2d2.png)

[2020-09-29 09:54] sandy081 commented on #107030
/duplicate

https://github.com/microsoft/vscode/issues/76879

[2020-09-29 09:55] #107030 closed

[2020-09-29 09:58] sandy081 commented on #107571
Output channels, which are not logs, getting persisted in the folder is just an implementation/internal detail and it can happen that sometimes these can be stored in memory.

[2020-09-29 09:58] #107571 closed

[2020-09-29 10:01] isidorn commented on #107614
This is already supported and works just fine for me with latest vscode insiders
In the gif you can see how the value changes are outlined in blue in VARIABLES view.

This color can also be customised via `debugView.valueChangedHighlight` color customisation. So either create a new theme or customise your current theme via `workbench.colorCustomizations` setting

![recording](https://user-images.g

[2020-09-29 10:01] #107614 closed

[2020-09-29 10:02] #107671 closed

[2020-09-29 10:02] isidorn commented on #107650
Thanks for creating this issue. Sounds like something for October thus assigning for that milestone when I plan to tackle this in the Explorer.

[2020-09-29 10:03] anupkmr03 commented on #97332
Hi @gauravmak I tried to reproduce the same use case at our end it works as expected. Can you please help me with the exact steps to reproduce this? I would also like to request you please update your readme once and check if it works for you or not.
![image](https://user-images.githubusercontent.com/16070906/94543836-2a08b480-0268-11eb-93c2-e1d6a6b3e45a.png)

[2020-09-29 10:05] alexr00 commented on #107172
Thanks for filing this issue. Since it's coming from our C++ grammar, I have opened an issue in the repo we get the C++ grammar from: https://github.com/jeff-hykin/cpp-textmate-grammar/issues/504

[2020-09-29 10:05] #107172 closed

[2020-09-29 10:06] dgard1981 opened #107674 "Source control not detecting changes to files"
Issue Type: <b>Bug</b>

When I save a file, previously the Source Control tab would see the changes and I'd be able to stage/commit files. However, since updating to version 1.49.2 yesterday, these changes are not discovered unless I 'Synchronise Changes'.

Additionally, the changes are not displayed on the Explorer tab of VS Code as they previously were, even after I manually 'Synchronise Changes

[2020-09-29 10:07] lszomoru opened #107675 "Pinned tabs - last pinned border is stale"
Testing #107464

Repro steps:
* Set `tab.lastPinnedBorder` to a particular color
* Open three tabs in the editor with the following states:
  - file1 (pinned)
  - file2 (pinned)
  - file3 (not pinned)
* Last pinned border will be displayed on the right side of file2
* Focus file3, and pin it
  - Last pinned border will now show on the right side or file2 and file3
  - Focusing file2, will remove t

[2020-09-29 10:11] isidorn commented on #107666
@DavidBenHorin reproducable steps please.

[2020-09-29 10:12] aeschli commented on #106389
Ubuntu 20.04 supports light/dark mode. Electron detects the scheme on startup, but has a bug that the update event is not working: https://github.com/electron/electron/issues/23861#issuecomment-650540860
So in VS Code, `"window.autoDetectColorScheme": true` works on Linux, but only on startup.

[2020-09-29 10:15] sandy081 commented on #93325
Sorry, this is no longer valid. It seems I cleaned up this while implementing other features.

[2020-09-29 10:15] #93325 closed

[2020-09-29 10:17] WilliamStam commented on #93887
i came here for the "padding to the left of the code" thing to. i keep folding my code when trying to select the beginning of the line. its highly frustrating.

[2020-09-29 10:19] isidorn commented on #107359
Yeah I like @aeschli suggestions.
Since this has been already done on Stable for a full milestone and only one user complained (as far as I know) I suggest to go with the lighter suggestion:
* Only do so when both Invert color nor Increase contrast are set

[2020-09-29 10:20] sandy081 commented on #106857
- Can you please run the command `Settings Sync: Open Local Backups Folder`.
- In the opened folder go to `extension` folder and there will be a file named `lastSyncextensions.json`
- Can you please provide us the content of this file?

[2020-09-29 10:23] iliazeus opened #107676 "Provide extensions with a persistent logging channel"
Right now, there's the extension host log, but it can be non-trivial to filter only the records from a specific extension.

There are also output channels, but, apparently, these are not guaranteed to persist on disk:
https://github.com/microsoft/vscode/issues/107571#issuecomment-700599377

I would love to have a log channel specific to my extension, that would get persisted into files on disks.

[2020-09-29 10:23] sandy081 commented on #107499
What do you mean by not loading? You do not see them in the extensions view?

[2020-09-29 10:31] sandy081 commented on #106971
Here is the comment https://github.com/microsoft/vscode/issues/23251#issuecomment-458075818 that mentions about this.

Thanks for your concern but that's not an issue I suppose because we have multiple people knowing the context about it.

[2020-09-29 10:32] CristiDatas commented on #107609
I still get the error when opening Jupyter Notebook.

[2020-09-29 10:32] jrieken commented on #107623
I don't get this to work/show.

[2020-09-29 10:33] alexdima commented on #107636
This is from 1.49.2, so it cannot be related to the recent changes. My best guess is we never supported this scenario.

[2020-09-29 10:37] jrieken opened #107677 "Single text edits never go with a group set to the UndoRedoService"
@alexdima thanks, `DEBUG` helps me figure out why these edits are in two different groups. The bulk edit (https://github.com/microsoft/vscode/issues/101789#issuecomment-699063512) includes a text edit and a notebook edit, and we pass in the same undoRedo group. However when applying the text edit, since `tasks.length === 1`, it does not use the undoRedo group passed in (if there are more than one

[2020-09-29 10:38] jrieken commented on #101789
created https://github.com/microsoft/vscode/issues/107677 for the follow-up work

[2020-09-29 10:43] sandy081 commented on #38426
I am really sorry that I do not remember why I made this as a duplicate of file decorations API.

Reopening it for badges support in custom views and view containers.

[2020-09-29 10:44] sandy081 commented on #54938
I am really sorry that I do not remember why I made https://github.com/microsoft/vscode/issues/38426 as a duplicate of this issue.

Reopening the other issue for badges support in custom views and view containers.

[2020-09-29 10:49] webczat commented on #107581
how is that announced with a screenreader? I will likely download newest insiders and retry.

[2020-09-29 10:50] sstaub commented on #105675
Here some screenshot for better understanding:
first I use a grey color for the _scope "variable"_, then red for the second example.
<img width="352" alt="variable grey" src="https://user-images.githubusercontent.com/6450325/94548100-8364e980-0250-11eb-91f6-a1f6a295128f.png">
<img width="352" alt="variable red" src="https://user-images.githubusercontent.com/6450325/94548166-9b3c6d80-0250-11eb-8d70

[2020-09-29 10:50] Sharkris opened #107678 "VS code consumes too much memory"
Issue Type: <b>Bug</b>

VS code is consuming  too much memeory and the fan goes in full speed

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:23:52.277Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled

[2020-09-29 10:52] mihaibrana opened #107679 "Minimum height of Open Editors group should respect the user's choice"
Hello :). This is both a feature request and, if I can dare, a small usability bug :)

Even if we increase the height of the _Open Editors_ **Explorer** group to accommodate more opened editors, when the editors are closed and then reopened, the area is again shrink'ed to a lower height. If we again open more editors, we then have to increase it via drag again.

Ideally, this should stay at the si

[2020-09-29 10:56] rickstaa commented on #76542
I also experience this issue when my `settings.json` contains the `terminal.integrated.inheritEnv: False` flag. Like @martinlbrook mentioned this only happens if you use the desktop shortcut.

[2020-09-29 11:02] jrieken opened #107680 "ms-vscode.js-debug is slow to activate"
* get the `ms-vscode.js-debug` activated
* check F1 > Startup Performance
* 🐌 it takes 265ms to load the code for that extension

[code]

[2020-09-29 11:02] vainamov commented on #106801
Can confirm, 9de65ab77e587cf7ab5dd00ea301cd5431b0f397 fixed it for me as well.

[2020-09-29 11:04] vainamov commented on #90466
In addition to #106801, this was also fixed for me in 9de65ab77e587cf7ab5dd00ea301cd5431b0f397.

[2020-09-29 11:06] alexr00 commented on #107344
Moved to the repo where we get our C++ syntax highlighting grammar: https://github.com/jeff-hykin/cpp-textmate-grammar/issues/505

[2020-09-29 11:06] #107344 closed

[2020-09-29 11:07] alexr00 commented on #107346
@wsrfad  what language are you using?

[2020-09-29 11:08] chrmarti opened #107681 "Smoke-Test: Notebook tests fail"
#107568

The Notebook tests fail with timeouts (on today's Linux build):

[code]

[2020-09-29 11:10] isidorn commented on #107679
Makes sense, however we do not have big plans on changing the open editors view at the moment. Thus assigning to backlog for now.

[2020-09-29 11:11] chrmarti opened #107682 "Smoke-Test: Datamigration tests fail"
#107568

The Datamigration tests fail with timeouts (on today's Linux build):

[code]

[2020-09-29 11:11] alexr00 commented on #107565
Moved to the repo that our C++ syntax highlighting grammar comes from: https://github.com/jeff-hykin/cpp-textmate-grammar/issues/506

[2020-09-29 11:11] #107565 closed

[2020-09-29 11:12] JCervero commented on #106879
[a7dc75ff-3eae-44fb-96eb-230aee12be2b.dmp.zip](https://github.com/microsoft/vscode/files/5298499/a7dc75ff-3eae-44fb-96eb-230aee12be2b.dmp.zip)

[2020-09-29 11:13] alexr00 commented on #106435
Thanks for pointing this out @SteelPhase I updated it a few weeks ago. Duplicate of https://github.com/microsoft/vscode/issues/106798

[2020-09-29 11:13] #106435 closed

[2020-09-29 11:14] aminomancer commented on #93887
^ yeah same problem here, unintentionally triggering the code folding over and over. i just had to turn code folding off. which is too bad because i'd like to start actually using that feature, it seems useful. but not if there's like 1 pixel between the collapse button and the spot i need to click to select before the first character on a line

[2020-09-29 11:14] alexr00 commented on #107595
Can you share a complete copy/pastable example?

[2020-09-29 11:15] alexr00 commented on #107508
@shivam-tripathi can you try this in [VS Code Insiders](https://code.visualstudio.com/insiders/)?
If it still happens there, can you share a full copy/pastable example of code where this happens?

[2020-09-29 11:16] jrieken commented on #107678
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2020-09-29 11:21] Timmmm opened #107683 "Add build menu"
This has always seemed like a weird oversight to me. Building code is one of the main things IDEs do, but the interface to start builds is hidden away in shortcuts (Ctrl-Shift-B), in the command palette (`Tasks: Run Build command`) and in obscure JSON files (`.vscode/tasks.json`). In contrast *running* code gets a full menu:

![image](https://user-images.githubusercontent.com/376842/94551633-8e6a4

[2020-09-29 11:24] #107193 closed

[2020-09-29 11:24] #107176 closed

[2020-09-29 11:24] #107155 closed

[2020-09-29 11:24] #107140 closed

[2020-09-29 11:24] #107130 closed

[2020-09-29 11:24] #107105 closed

[2020-09-29 11:24] #107081 closed

[2020-09-29 11:24] #107056 closed

[2020-09-29 11:24] #106492 closed

[2020-09-29 11:24] #107021 closed

[2020-09-29 11:36] WilliamStam commented on #93887
i unfortunately do use code folding.. so been trying to condition myself to click between the 1st and 2nd character and then lift hand off mouse and use arrow key on keyboard and back to mouse. seems "faster" than all the swearing i end up doing by getting it in the right spot. but i suspect we are de-railing this issue now. i just have no idea what to look for / suggest other than "padding" which

[2020-09-29 11:38] thegecko commented on #106414
What further information is needed?

[2020-09-29 11:41] sandy081 opened #107684 "Windows - Cannot open developer tools"
Testing #107466

Developer tools is not working in the vscode build with vscode-file protocol. Running the command `Developer: Toggle Developer Tools` is not showing anything.

[2020-09-29 11:43] aeschli commented on #107035
@safield what you see is the word highlight color that is set for all occurrences of the current symbol at the position. You need to change the following colors in your theme
		"editor.wordHighlightBackground": "#ff0000" // for normal occurrences
		"editor.wordHighlightStrongBackground": "#ff00ff" // for occurrences that are write accesses

That's in the `colors` section of your color theme. See h

[2020-09-29 11:43] #107035 closed

[2020-09-29 11:45] sandy081 commented on #107684
It seems the zip I downloaded and extracted is in wrong location (in Mac). It works now when I moved this to windows drive.

[2020-09-29 11:45] #107684 closed

[2020-09-29 11:47] aeschli opened #107685 "Add Pin/Unpin to open editors context menu"
Testing #107464

The open editors view lets you unpin, but not pin. I suggest to add `Pin/Unpin` to the context menu as well

[2020-09-29 11:49] saharso opened #107686 "Changed files notifications + loading indicator absent on commit and push"
Issue Type: <b>Bug</b>

As after the latest upgrade, I noticed that the blue circle with the number of changed files that is displayed on the git icon, is not updating after I push the changes.

You can see in the attached screenshot that the "changes" tab on the grey sidebar is empty, but the blue notification indicator still shows "4" files, although in reality there are none.

Also, there used

[2020-09-29 11:57] isidorn commented on #106414
This was a mistake by the bot. Reopening

[2020-09-29 11:58] alexr00 commented on #107683
Build and tasks related commands are actually in the terminal menu. To keep from having too many menus, we don't have a separate menu just for tasks. @misolori FYI. Happy to add a tasks menu if that is one of the outcomes of the first run discussions.

[2020-09-29 11:58] #107683 closed

[2020-09-29 12:00] alexr00 commented on #105675
Can you provide some of the code from your example that I can copy/paste?

[2020-09-29 12:04] sandy081 opened #107687 "vscode-file: devtools shows access errors when switching between file/vscode-file builds"
Testing #107466

I am seeing following errors in Dev tools - It seems special build is trying to access the files from normal build. Seems they are in cache some where?

[code]

Similarly when I opened normal build after closing vscode-file build, I am seeing following errors

[code]

[2020-09-29 12:18] sstaub commented on #105675
Here is the PlatformIO project I used for the example and my personal color theme.
[Ticker.zip](https://github.com/microsoft/vscode/files/5298860/Ticker.zip)
[dark++.zip](https://github.com/microsoft/vscode/files/5298867/dark%2B%2B.zip)

[2020-09-29 12:20] Baibhab97 commented on #107588
Hi @roblourens , I would like to contribute. Can you guide me as to what exactly needs to be done?

[2020-09-29 12:25] dbaeumer opened #107688 "Smoke test: Localization sometimes test fails under Windows (flaky)"
Testing #107568

[2020-09-29 12:26] #107670 closed

[2020-09-29 12:26] Timmmm commented on #107683
Oh, so they are. Well that is super confusing! I have literally never looked in the Terminal menu. Why would I think "I want to build this project... better go to the terminal menu!"? I think this just further highlights how confusing the run/build/task menu system is. If you look at the menu most items are related to tasks, not the terminal, and 4 of them are named `Run ...` but aren't in the `Ru

[2020-09-29 12:28] isidorn commented on #107667
Thanks for feedback. Originaly `alt` would always toggle. however we got explicit feedback from Java team here https://github.com/microsoft/vscode/issues/84561#issuecomment-694743958
Which I agree with, when reading a long Javadoc you do not want to hold `alt` down all the time.

Anyways let's keep this open and if we get more feedback I would be open to change it back that `alt` aggressivly toggl

[2020-09-29 12:29] alexr00 commented on #107584
I do not see this icon:

![image](https://user-images.githubusercontent.com/38270282/94558462-2ffa9780-0260-11eb-8158-bd7295752de6.png)

[2020-09-29 12:30] chrmarti commented on #95321
Closing as duplicate.

[2020-09-29 12:30] #95321 closed

[2020-09-29 12:31] dbaeumer commented on #107688
It failes with

[code]

[2020-09-29 12:32] isidorn commented on #107672
I can reproduce this and it is a valid bug.
The issue is that when alt is released we do not want to immediatly hide the editor hover due to reasons discussed in https://github.com/microsoft/vscode/issues/107667
If we change that one to be that `alt` is a live toggle then this would get fixed as well.

[2020-09-29 12:32] hv-gerard opened #107689 "SCM commit message should have it's own whitespace color or be configurable not to highlight whitespace"
VSCode version: 1.49.2
Theme used: "Default Dark+" with some color customizations
Specific relevant settings:
[code]

I've enabled the recently added "trailing" whitespace rendering option, and set the foreground colour to make any trailing whitespace stand out clearly. That works fine. I like the new configuration option, thanks!

Since changing the whitespace foreground colour, I have noticed th

[2020-09-29 12:32] sandy081 opened #107690 "vscode-file: Extension development locations are blocked"
Testing #107466

Platform: Windows

- Debugging the tree view sample extension of our extension samples
- In the debugging window, the package explorer icon is not shown

Here is the css it is using

[code]

<img width="48" alt="image" src="https://user-images.githubusercontent.com/10746682/94558810-a13a4a80-0260-11eb-9476-76970e8f3eee.png">

It works correctly when I used normal build

[2020-09-29 12:33] phinq1910 commented on #107595
You can download my file on github: https://github.com/phinq1910/css-vs-code/blob/master/all_style.css

Hope it will help you

[2020-09-29 12:40] dbaeumer commented on #107688
The calls I do are

[code]

[2020-09-29 12:41] dbaeumer commented on #107688
I looked at the implementation and they basically end up if accessing `.monaco-workbench .part.sidebar > .title > .title-label > h2` which according to the dev tools exists:

<img width="777" alt="capture" src="https://user-images.githubusercontent.com/1931590/94559665-de530c80-0261-11eb-8752-00f49077335c.png">

@joaomoreno any hint / idea?

[2020-09-29 12:45] dbaeumer commented on #107653
That is true for us but doesn't need to be the case for other clients (they might refresh the UI). This is why our client only flags the `edit` property. Do you suggest that we don't allow this at all?

[2020-09-29 12:46] dbaeumer commented on #107654
Good catch. Will fix it.

[2020-09-29 12:47] jrieken commented on #107653
Yeah, I'd say it doesn't make sense to resolve a code action into something completely different

[2020-09-29 12:48] hv-gerard commented on #107689
None of the duplicate suggestions apply. #104310 was the issue that added the "trailing" option mentioned in the description.

[2020-09-29 12:53] bwateratmsft commented on #54938
@sandy081 Can you also unlock conversation on the other one? Thanks!

[2020-09-29 12:53] dbaeumer commented on #107654
Done.

[2020-09-29 12:53] #107654 closed

[2020-09-29 12:54] alexr00 opened #107691 "Typo in ESLint message"
Testing https://github.com/microsoft/vscode/issues/107584

![image](https://user-images.githubusercontent.com/38270282/94560883-86b5a080-0263-11eb-8832-34ce3b61421b.png)

"behave" -> "behalf"

[2020-09-29 12:54] dbaeumer commented on #107653
OK. Will add a sentence.

[2020-09-29 12:55] dbaeumer commented on #107691
THANKS !

[2020-09-29 12:55] alexr00 commented on #107584
How is the Disable button different from the Cancel button?

![image](https://user-images.githubusercontent.com/38270282/94561045-c7151e80-0263-11eb-91bb-21f2f198d66a.png)

[2020-09-29 12:56] dbaeumer commented on #107691
Done in ESLint repository.

[2020-09-29 12:56] #107691 closed

[2020-09-29 12:57] alexr00 opened #107692 "ESLint status bar item doesn't do anything after choosing "Disable""
Testing https://github.com/microsoft/vscode/issues/107584

I chose "Disable" here:
![image](https://user-images.githubusercontent.com/38270282/94561177-f461cc80-0263-11eb-9f3d-366372193b3b.png)

I see that the status bar item is no longer red, which I am happy about.

However, since there is still a status bar item, I expect that I can click on it again and change my decision (see the same dialog

[2020-09-29 12:59] bpasero commented on #107682
[code]

[2020-09-29 12:59] #107682 closed

[2020-09-29 12:59] aeschli commented on #107668
@bpasero Chrome and/or Edge? Does the `Forced Colors` setting work?

On Windows, only Edge has the autodetect behavior enabled where the HC mode triggers the experimental forced colors feature. OSX has no single 'high contrast' configuration setting, it will have to been seen what the browsers will end up doing. Maybe `Inverse colors` will be linked to `Forced colors`?

I would say that will be in

[2020-09-29 13:00] dbaeumer commented on #107585
@jrieken I am a little bit puzzled. How to I talk to the reference viewlet. The API list only interfaces. So how I get to the instance ?

[2020-09-29 13:00] alefragnani commented on #54938
@sandy081 no problem 😉

Thanks for reopening the other issue.

[2020-09-29 13:01] creizyz opened #107693 "[cmake-tools] option to disable automatic rebuild"
I am using [vs-code] **cmake tools** to build a CXX project. In order to **save compile time** every time I switch git branch or cmake variant, I set up my project to use a different build folder for git branches, compilers, and build types. This gives me something like this (settings.json) :

[code]

This works perfectly.

_note : git-branch-name.getName is a home made command._

My problem is th

[2020-09-29 13:04] alexr00 opened #107694 "ESLint status bar item shows even for files it doesn't apply to"
Testing https://github.com/microsoft/vscode/issues/107584

I approved ESLint globally (allow everywhere).
![image](https://user-images.githubusercontent.com/38270282/94561854-e3fe2180-0264-11eb-953e-f8b6b2528de8.png)

Based on this, I expect the ESLint status bar item to only show on files that ESLint applies to:

I have tried opening the following files, and the status bar item shows for all of t

[2020-09-29 13:05] sandy081 opened #107695 "Debug hover is show on top of the item I wanted the hover for"
Testing #107156

- I am debugging the tree view sample extension in our extension samples and when I hovered on following rootPath value in `vscode.workspace.rootPath`, the debug hover is shown covering the item completely

<img width="866" alt="image" src="https://user-images.githubusercontent.com/10746682/94561915-f4ae9780-0264-11eb-9800-cfad66492495.png">

<img width="314" alt="image" src="http

[2020-09-29 13:08] gokulkrishh commented on #107632
@sandy081 My expectation was, when I closed vscode editor and it can no longer sync the settings. When i opened it back it should have synced back extensions.

[2020-09-29 13:09] aeschli commented on #107669
How did you set the theme of my liking? By setting `workbench.colorTheme`? Once you have `"window.autoDetectColorScheme": true` set you would rather modify `workbench.preferredDarkColorTheme`.

[2020-09-29 13:09] dhairyanadapara commented on #107588
Hey @usernamehw , Can you please explain a little more about the issue?

[2020-09-29 13:11] alexr00 commented on #107683
Further history: https://github.com/microsoft/vscode/issues/56836

@bpasero and @Tyriar FYI.

[2020-09-29 13:11] sandy081 opened #107696 "Debug hover looks cut off"
Testing #107156

<img width="794" alt="Screenshot 2020-09-29 at 15 07 08" src="https://user-images.githubusercontent.com/10746682/94562356-88806380-0265-11eb-9e09-8505e0f2bdde.png">

It looks cut off. It shall not span until the edge.

[2020-09-29 13:12] jrieken commented on #107693
/extcpp

[2020-09-29 13:12] #107693 closed

[2020-09-29 13:12] bpasero commented on #107668
This was Edge on macOS with Forced Colors enabled.

[2020-09-29 13:14] sandy081 opened #107697 "Show the help text/tip in the bottom of debug hover to switch to normal hover"
Testing #107156

Show the help text/tip in the bottom of debug hover to switch to normal hover

[2020-09-29 13:16] jrieken commented on #107585
Like so

[code]

[2020-09-29 13:17] sandy081 opened #107698 "Normal hover sticks even after releasing alt and moving cursor"
Testing #107156

- Start debugging and hit a breakpoint
- Hover on any variable to get debug hover
- Press `alt` - you see normal hover
- release `alt` 🐛 normal hover sticks for a while and does not got off even after moving cursor.

[2020-09-29 13:19] isidorn commented on #107698
Yeah duplicate of https://github.com/microsoft/vscode/issues/107667

[2020-09-29 13:19] #107698 closed

[2020-09-29 13:20] #107156 closed

[2020-09-29 13:27] bpasero commented on #107669
I am quite sure I was configuring the theme via `workbench.colorTheme` setting directly in settings JSOn.

[2020-09-29 13:27] alexr00 commented on #106661
How are you launching VS Code?
How did you install VS Code?
If you open the developer tools (command Developer: Toggle developer tools) and in the console run `process.env.Path` is the path to `dotnet` in there?

[2020-09-29 13:29] bpasero commented on #107687
Yeah I noticed that too and I am not sure we can do anything about it. I think Chrome is just hanging onto some caches from previous launch that then fail to resolve.

//cc @deepak1556

[2020-09-29 13:29] usernamehw commented on #107588
@dhairyanadapara It's possible to trigger a search from extension by using this api:

[code]

And it has good amount of options:

[code]

But 2 of them are missing:

1. `Preserve Case`
1. `Use Exclude Settings and Ignore Files`

[2020-09-29 13:32] dhairyanadapara commented on #107588
Thank @usernamehw, got the idea. I will raise a PR to fix the issue ASAP :)

[2020-09-29 13:40] andig opened #107699 "Copying long string value from debug variables gives only abbreviated version"
Expected behaviour: the full value  is copied  instead of the abbreviated  version.

- VSCode Version: 1.49.2
- OS Version: Darwin x64 19.6.0

Steps to Reproduce:

1. Inspect a loooooong string in the Debug->Variables view
<img width="557" alt="Screenshot 2020-09-29 at 15 37 22" src="https://user-images.githubusercontent.com/184815/94565822-f9297f00-0269-11eb-845f-3c6d77902246.png">

2. Copy the v

[2020-09-29 13:43] alexr00 commented on #107595
@phinq1910 do you have this setting set: `editor.maxTokenizationLineLength`?

[2020-09-29 13:43] PedroLima92 opened #107700 "Split terminal weird linebreak"
- VSCode Version: 1.49.2
- OS Version: Ubuntu 18

Steps to Reproduce:

1. Split terminal;
2. Resize column until cwd info is bigger than the column space and line is broken;
3. If cwd addres is big enough, and you make the column small enough, linebreaking and rendering gets strange behaviour;
4. Go back to regular size and text will be left unfixed

Does this issue occur when all extensions are d

[2020-09-29 13:44] bpasero opened #107701 ".nvmrc is outdated?"
We seem to be using this node version:

https://github.com/microsoft/vscode/blob/c8f9d00bb85129b415fd955bcb7d6f0b9c463506/build/azure-pipelines/darwin/product-build-darwin.yml#L24-L24

But the `.nvmrc` wants node 10, not clear to me why:

https://github.com/microsoft/vscode/blob/65579c1715799814ef454fdcc6a723f3579c20de/.nvmrc#L1-L1

[2020-09-29 13:49] m-roberts commented on #106473
+1 for this!

[2020-09-29 13:51] arisdanang opened #107702 "editor.semanticTokenColorCustomizations not working on PHP"
when I modify file settings.json and add property editor.semanticTokenColorCustomizations and I customize it.
when I open my PHP project it doesn't works, but when I open my javascript project it works

[2020-09-29 13:52] isidorn commented on #106637
How best to verify this?

[2020-09-29 13:53] dbaeumer commented on #107585
Thanks!

[2020-09-29 13:57] jrieken commented on #106637
Try it against `vscode.proposed.d.ts`

[2020-09-29 13:58] phinq1910 commented on #107595
I see Max Tokenization Line Length = 2000000

You mean I should increase it, right?

[2020-09-29 14:01] dbaeumer opened #107703 "Use SymbolTreeModel<T> instead of vscode.TreeDataProvider<unknown>"
Testing #107585

Then you can do `vscode.TreeDataProvider<T>` which IMO is easier to understand than `unknown`

[2020-09-29 14:05] phinq1910 commented on #107595
I set it to default of VS Code (20000). Seems now no laggy but somehow my CPU very hight
![Screen Shot 2020-09-29 at 21 04 38](https://user-images.githubusercontent.com/11469723/94569015-6ef80f80-0297-11eb-9a6d-3607260df9a5.png)

[2020-09-29 14:06] sandy081 commented on #107632
No. After you open VS Code (after removing extensions from anywhere, same as changing a file that is being synced) VS Code sees that current state is changed and sync the state to the server. If the server has a different state (synced from a different machine), then VS Code does the merge.

In short, changing the state is same as doing from the tool or outside the tool. It is same as turn off syn

[2020-09-29 14:06] #107632 closed

[2020-09-29 14:08] trstringer commented on #2405
I wasn't sure of the timeline, it was almost a year stale at this point. I'll reopen!

[2020-09-29 14:10] shimodatkh commented on #107558
Thank you for your reply

The error is not found on the VS Code GUI or in the logs under AppData / Roaming / Code.

The capture immediately after clicking the install button is below.
Nothing is displayed in the "Output view".

![SnapCrab_Extension Go - go  WSL Ubuntu-1804  - Visual Studio Code_2020-9-29_22-30-23_No-00](https://user-images.githubusercontent.com/11813560/94569442-af13be00-02a8-11eb

[2020-09-29 14:12] sandy081 commented on #107558
Logs will be available in Output view. Please open the dropdown and select `window` for window logs and `remote server` for remote logs.

Please see if there are any errors there.

[2020-09-29 14:17] bpasero commented on #99492
I think this is not a problem with VSCode but the CI the tests are running with. To proof that, I have created https://github.com/bpasero/test-ts-pipeline which is a simple "Hello World" VSCode extension generated with the latest `yo code` generator. It configures a GitHub workflow to run tests on Windows, macOS and Linux:

https://github.com/bpasero/test-ts-pipeline/blob/master/.github/workflows/

[2020-09-29 14:21] jrieken commented on #107417
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2020-09-29 14:22] acoutts opened #107704 "Debugger output is laggy and janky when scrolling"
When scrolling up on fresh output in the debugging console while running a flutter app, it's very janky and doesn't scroll. After you've "viewed" it at least once then it scrolls up/down fine in the future.

This regression happened sometime recently after upgrading to 1.50.

**Screenshots**
https://i.imgur.com/dpMBVl3.mp4

It's also adding lots of whitespace to the end of each line printed so you

[2020-09-29 14:22] wsrfad commented on #107346
C++

[2020-09-29 14:22] alexr00 commented on #107595
Glad to see that resetting `editor.maxTokenizationLineLength` fixed the slowness. We keep the default value lower than what you had set for exactly this reason. The CPU being high might be something else. Maybe https://github.com/microsoft/vscode/issues/101555 ?

[2020-09-29 14:26] Tyriar commented on #107541
/duplicate https://github.com/microsoft/vscode/issues/106981

[2020-09-29 14:26] #107541 closed

[2020-09-29 14:29] shimodatkh commented on #107558
I got it. I pressed the install button again and tried it, but neither window nor remote server logged anything.

window

![SnapCrab_Extension Go - go  WSL Ubuntu-1804  - Visual Studio Code_2020-9-29_23-25-38_No-00](https://user-images.githubusercontent.com/11813560/94572037-8a6d1580-02ab-11eb-8492-a35dcbca570d.png)

remote server

![SnapCrab_Extension Go - go  WSL Ubuntu-1804  - Visual Studio Cod

[2020-09-29 14:29] claell commented on #61793
@sbatten Can you maybe add the corresponding issues to those processes here? (Ideally in the above description, maybe as a checklists or something)? Unfortunately GitHub does not seem to support blocker issues afaik, but that would be a good thing to use them, I guess. That way people interested can follow up there and maybe help with the effort needed to make this happen.

[2020-09-29 14:42] alexr00 commented on #107344
@wsrfad regarding your question about closing this bug [here ](https://github.com/jeff-hykin/cpp-textmate-grammar/issues/505#issuecomment-700738387), we have several reasons:

- The bug is in a VS Code dependency, so it makes the most sense to have the bug in the repo that owns the dependency.
- Every year, we in VS Code go through literally every single open issue in our repository (as of time of

[2020-09-29 14:44] alexdima commented on #107677
Possible fix:

[code]

[2020-09-29 14:47] wsrfad commented on #107344
I understand the point 1 is applicable in this case, which is bucketing into correct node. I don't seem to understand why (2) and (3) have been mentioned. Otherwise, I would suggest using priorities, so you can query the opened issues and address them accordingly

[2020-09-29 14:54] dbaeumer opened #107706 "Location called twice after setInput is called."
Testing #107585

I recognized that `location` property is accessed twice in a row when calling `setInput`

[2020-09-29 14:59] dbaeumer opened #107707 "Pressing the refresh button results in the following error"
Testing #107585

<img width="372" alt="capture" src="https://user-images.githubusercontent.com/1931590/94575872-0009bf00-0275-11eb-8e16-957b29f76910.png">

Not sure if this is a problem or a mistake on my end not implementing certain methods yet. But it should not result in an error notification.

[2020-09-29 15:00] jrieken commented on #107706
is that something bad?

[2020-09-29 15:00] #107652 closed

[2020-09-29 15:00] jrieken commented on #107707
hm... is there more on the console?

[2020-09-29 15:01] mrillusi0n opened #107708 "Suppress echoing venv activation command."
![image](https://user-images.githubusercontent.com/37063502/94575890-59ccb200-0292-11eb-8066-79a148a49ad3.png)
I'm not sure whether this it's a bug the command is being printed twice (happens always), but anyway, I'd like to be able to suppress the activation command so that when I open a new terminal in venv, I directly get a prompt that's already activated.

[2020-09-29 15:02] bpasero opened #107709 "Duplicate windowTracker.ts"
Looks like we have a `src/vs/platform/windows/electron-main/windowTracker.ts` and `src/vs/platform/windows/electron-sandbox/windowTracker.ts` that are almost identical.

[2020-09-29 15:09] jrieken commented on #77190
done. actually dupe of https://github.com/microsoft/vscode/issues/101789

[2020-09-29 15:09] #77190 closed

[2020-09-29 15:10] dbaeumer commented on #107707
This is all

<img width="714" alt="capture" src="https://user-images.githubusercontent.com/1931590/94577259-a5716280-0276-11eb-9374-c538b42247c0.png">

[2020-09-29 15:10] jrieken commented on #94751
TS now supports the `@deprecated` and usages of deprecated APIs are flag accordingly. Closing as obsolete

[2020-09-29 15:10] #94751 closed

[2020-09-29 15:11] dbaeumer commented on #107706
I noticed it and since I create a new instance I thought I report it.

[2020-09-29 15:12] jrieken commented on #107706
Ah, note the location-property on the input but the location-function on the navigation support?

[2020-09-29 15:14] dbaeumer opened #107710 "Unclear when SymbolTreeInput#with is called"
Testing #107585

I was not able to make the widget call that method. I also have difficulties to understand what my responsibility is in terms of implementing it: is position the current position in the editor of a tracked position on which the reference provider was called before?

[2020-09-29 15:14] #70565 closed

[2020-09-29 15:16] bpasero commented on #106922
Without a repro for me, I cannot be of help, sorry. Will leave this open for 7 days until a repro is found, otherwise this will close.

[2020-09-29 15:17] jrieken commented on #107710
Yeah, more or less. When the original input was created for word "foo" then we try to find the word again when re-running from history. What you have to do is create a new instance of your input with a location having that position. I agree it's cumbersome. The challenge is that the input is just an interface and I don't know how to "tweak" instances of it. That's why I make you implement this fun

[2020-09-29 15:19] roblourens commented on #107630
You will have to kill the remote server, we launch one then keep attaching to it and it has the same environment.

Run the command "Kill VS Code Server on Host..."

[2020-09-29 15:19] #107630 closed

[2020-09-29 15:19] dbaeumer commented on #107710
OK. Understood. May be it is enough to simply document it more

[2020-09-29 15:21] bpasero commented on #107359
@aeschli started in https://github.com/microsoft/vscode/tree/fix-107359 maybe you can continue. I see you are also depending on the `nativeTheme` in theme main service.

[2020-09-29 15:21] dbaeumer opened #107711 "Should the API talk more about locations (uri, position, ranges)"
Testing #107585

The API is currently very generic except the navigation API. Since that already talks about uri, positions and ranges would it make sense to have an API that is tailored towards matches in files. That might make it a lot easier for implementors.

[2020-09-29 15:21] isidorn commented on #107699
Right click -> copy value should give you the expected result

[2020-09-29 15:21] #107699 closed

[2020-09-29 15:22] dbaeumer commented on #107711
For example I have to provide a command right now to open an element in the tree.

[2020-09-29 15:23] roblourens commented on #107581
I'm not sure, is something announced for this when focusing other lists?

[2020-09-29 15:23] Kaiyan-Zhang opened #107712 "Sync disabled automatically when deleteing keyboard shortcut"
Issue Type: <b>Bug</b>

My sync is on. But it was disabled automatically when I was deleting unnecessary shortcuts for me. I says I made too many requests

VS Code version: Code 1.49.1 (58bb7b2331731bf72587010e943852e13e6fd3cf, 2020-09-16T23:27:51.792Z)
OS version: Windows_NT x64 10.0.19042
Remote OS version: Linux x64 4.4.0-19041-Microsoft

<details>
<summary>System Info</summary>

|Item|Value|
|

[2020-09-29 15:23] bpasero commented on #107647
https://github.com/microsoft/vscode/blob/20e9b0b78f3b6e3f58231d870812a51c77897024/src/vs/workbench/contrib/notebook/browser/diff/notebookDiffActions.ts#L46-L46

😱

[2020-09-29 15:23] jrieken commented on #107633
/extPython

[2020-09-29 15:24] #107633 closed

[2020-09-29 15:24] dbaeumer commented on #107706
No, the location property on the input. My be it is my stupid implementation.

[code]

[2020-09-29 15:25] roblourens commented on #107702
Please give an example of exactly what modifications you make and share the file you are looking at, and what should be happening.

[2020-09-29 15:26] jrieken commented on #107711
That's how it initially started but the challenge is that this is locations (like reference search results) and symbols (like call hierarchy). They don't have much in common at the end of the day and that's why the API turned out being so generic

[2020-09-29 15:27] dbaeumer commented on #107694
That is on purpose. The reason is that users are aware of the fact that they are in the `Allow everywhere` mode. Otherwise there is no indication that they trust something without being ask. I will make this clear in the test item.

[2020-09-29 15:27] dbaeumer commented on #107694
Update test item.

[2020-09-29 15:27] #107694 closed

[2020-09-29 15:29] isidorn commented on #107704
@acoutts thanks for filling this. Can you reproduce this issue with VS Code stable 1.49.2? If you can not then it seems like something broke in insiders.
I do not have dart setup and I can not repro with Node.
Is there new output coming in while you are scrolling? Or is there anything special going on?

[2020-09-29 15:29] dbaeumer commented on #107692
Fair. Let me see what I can do.

[2020-09-29 15:30] mbijeesh opened #107713 "puppet extension - Problems not showing"
- VSCode Version:  1.49.1 (user setup)
- OS Version: Windows 10

Steps to Reproduce:

1. Install puppet extension  ( v0.28.0) ( Puppet Development kit - 1.18.1 already installed on the OS)
2. Create a .pp file
3. It should report any problems in the syntax.
4. Whatever the syntax error we create - it is not reported under the PROBLEMS tab.
Always says - No problems have been detected in the worksp

[2020-09-29 15:31] roblourens commented on #107681
This depends on an extension in `./extensions`, is it possible that it wasn't built/up to date in your repo?

[2020-09-29 15:31] webczat commented on #107581
yes. but that is not exactly the question as I cannot say whether I focus the list but can't figure that out because accessibility is broken, or I don't focus the list because I have too old insiders or I do something wrong. so trying to actually figure that out

[2020-09-29 15:32] eamodio commented on #99345
The `...` menu feels like a good addition here as it will aid in discovery of more actions on items.

[2020-09-29 15:35] IanMatthewHuff commented on #107385
Looks great. One quick question, what is the "dot in square" icon? Confess that I don't quite get what that icon means and it almost looks like an actionable checkbox.

[2020-09-29 15:35] #107713 closed

[2020-09-29 15:36] isidorn commented on #107695
The debug hover currently sets the preference to be placed above the location [here](https://github.com/microsoft/vscode/blob/1287f6b14a4c488549ed01f53af11e61b9d5ac73/src/vs/workbench/contrib/debug/browser/debugHover.ts#L325). It is up to the editor to choose the exact location, and in this particular case the editor decided to show the hover covering the item completely.

I am not sure if we can

[2020-09-29 15:38] daiglars commented on #101887
I only saw this happen once. I'll just close this.

[2020-09-29 15:38] #101887 closed

[2020-09-29 15:40] misolori commented on #107385
@IanMatthewHuff it's from our `diff` icons, they originated from GitHub's icon system:

[**Codicons**](https://microsoft.github.io/vscode-codicons/dist/codicon.html)
<img width="400" src="https://user-images.githubusercontent.com/35271042/94580589-f493a500-022e-11eb-9ccd-1db77f2ddb60.png">

[**GitHub Desktop**](https://desktop.github.com/)
<img width="400" src="https://user-images.githubuserconten

[2020-09-29 15:42] isidorn commented on #107696
Yeah it looks too wide for this case. Let me assign to September to investigate if we can do something about the width (to make it a funciton of the editor width)

[2020-09-29 15:42] sandy081 commented on #107712
Can you please provide us the Settings Sync log from Output view when this happened? If you restarted VS Code and lost the log when this issue occurred, you can find it in the logs folder on your disk (run the command `Open Logs Folder...`). This will show us the requests to diagnose.

Restarting VS Code will turn on Sync again .

[2020-09-29 15:43] JacksonKearl opened #107715 "Use setting links in `Preferred .* Theme` descriptions"
Testing #106389
We can make these clickable links.. see "auto save delay" for example.
![image](https://user-images.githubusercontent.com/8586769/94581227-adf27a80-022f-11eb-82db-73a654c0fe90.png)

[2020-09-29 15:43] isidorn commented on #107697
This is a good idea.
For now opening this to PRs. If nobody is interested I can tackle this in the future
Code pointer https://github.com/microsoft/vscode/blob/1287f6b14a4c488549ed01f53af11e61b9d5ac73/src/vs/workbench/contrib/debug/browser/debugHover.ts#L66

If there is somebody interested please first ping us here so we can also involve some design @misolori

[2020-09-29 15:45] connor4312 commented on #97919
We've started on this in https://github.com/microsoft/vscode/issues/107467

/duplicate https://github.com/microsoft/vscode/issues/107467 https://github.com/microsoft/vscode/issues/9505

[2020-09-29 15:46] #97919 closed

[2020-09-29 15:48] connor4312 commented on #107623
The bumped commit was reverted from the last Insiders, so you may need to use js-debug nightly or tomorrow's insiders.

[2020-09-29 15:48] bpasero commented on #107625
I can reproduce it even running out of sources with this:

`scripts\code.bat -g package.json:3:3`

And I do not even see our application starting at all, it just terminates. I can only speculate but maybe Windows does not allow such arguments when they are not relative or absolute.

I see now fix on our end, but leaving open if someone has an idea.

[2020-09-29 15:48] andrew0attard opened #107716 "Single space at the end of wrapped lines"
I feel as though on all parts of a wrapped line, except for the last part, should not show the space indicator when there is a single space at the end of the line. In the below image, I feel like the dot at the end of the first line should not appear since it is a single space, but the two dots on the second and single dot on the third line should.
![AFE16941-CC27-496C-BDE7-C0FDD1AE7036](https://u

[2020-09-29 15:49] isidorn commented on #89595
I have verified that you now use the quick pick with no input -> adding verified label.
But is it just me that the `Sing in & Turn On` button uses a weird font? @chmarti

[2020-09-29 15:52] JacksonKearl opened #107717 "MacOS: System High Contrast mode disables `window.autoDetectColorScheme`"
Testing #106389

Enable macOS system high contrast mode.
Set `window.autoDetectHighContrast` false.

Attempt to use preferred light/dark theme flows. Doesn't work.

[2020-09-29 15:54] #97567 closed

[2020-09-29 15:55] duongle26 commented on #105622
I'm facing the same issue. Is there any update on this?

[2020-09-29 15:56] isidorn commented on #99129
I have verified there is the following color
`gitDecoration.stagedModifiedResourceForeground`
However the other one seems to be `gitDecoration.addedResourceForeground"`

Both of these colors work fine when I change them via workbench.colorCusomtisations -> verified

![Screenshot 2020-09-29 at 17 55 37](https://user-images.githubusercontent.com/1926584/94582824-01d78080-027d-11eb-8f6a-78382a1dabdf.

[2020-09-29 15:56] connor4312 commented on #107612
npm does not pass its arguments through to the script. E.g. running `npm run run:step --preserve-symlinks` will not do anything. You want to have your script contain something like `"run:step": "node --preserve-symlinks foo.js`

[2020-09-29 15:56] roblourens commented on #104133
Now obsolete :)

[2020-09-29 15:56] #104133 closed

[2020-09-29 15:56] #107612 closed

[2020-09-29 15:57] connor4312 commented on #86035
You can follow the docs example for the `serverReadyAction` -- verify that it still works https://code.visualstudio.com/docs/editor/debugging#_remote-debugging

[2020-09-29 15:58] #107464 closed

[2020-09-29 15:58] acoutts commented on #107704
cc @DanTup as he might be able to explain more about what's being piped in there, but I believe it's just stdout/stderr.

I just tested on 1.49.2 and it looks to be fine on that, so it's something changed in a recent insiders build.

[2020-09-29 15:58] #107642 closed

[2020-09-29 15:59] connor4312 commented on #107666
This means that your web server (like a webpack dev server) is not listening, or it's not on localhost:8080. You can change the address in your launch.json.

[2020-09-29 16:00] #107666 closed

[2020-09-29 16:00] connor4312 commented on #107637
For `resolveSourceMapLocations` to show as allowed, you need to set the type to `pwa-node`. This will eventually no longer be needed, but is required at the moment while we still have the old debugger available for compatibility/fallback.

[2020-09-29 16:00] #107637 closed

[2020-09-29 16:01] isidorn commented on #107704
Is it possible to create a minimal reproducable case and put it on GitHub so I can clone this on my machine and investigate further?

[2020-09-29 16:03] isidorn commented on #97567
@jhomme thanks for feedback, we are glad you think this is going in the right direction.
As for the aria-label and `aria-description`, mostly we just use `aria-label` since if I am not mistaken `aria-description` is not yet fully supported by all screen readers. Though it would be great if you create a new issue regarding this where we can continue this discussion and involve the appropriate scree

[2020-09-29 16:03] alexdima commented on #107695
@isidorn Maybe there is a missing `layoutContentWidget` call after changing the inside of the debug hover?

The positioning code will measure the widget and then cache its height. It looks like the editor positions the widget as if it would be only one line height high (i.e. without the wrapping seen in the picture)

[2020-09-29 16:05] isidorn commented on #86035
Thanks for the doc pointer. I have verified it still works -> adding verified label.

[2020-09-29 16:07] dbaeumer commented on #107692
Fixed and updated https://github.com/microsoft/vscode-eslint/releases/tag/2.1.9-insider. Can you please verify :-)

[2020-09-29 16:07] #107692 closed

[2020-09-29 16:08] ValYouW opened #107718 "Check JS setting is not overridden by jsconfig.json"
- VSCode Version: 1.49.2
- OS Version: Windows_NT x64 10.0.19041

In short: when setting `JavaScript › Implicit Project Config: Check JS` is enabled, type-checking is performed for files even if they are in the `exclude` setting of `jsconfig.json` - I'm pretty sure it wasn't always like that. Also in Settings there is a comment stating "Existing jsconfig.json or tsconfig.json files override this s

[2020-09-29 16:09] connor4312 commented on #107615
Thanks for the issue and repro.

The issue is that you have `outFiles` configured to `".ts-node/**"`. In 1.49.0 we made a change to default the locations in which we resolve sourcemaps to the outFiles pattern. Previous, it was "all files excluding node_modules", but this caused confusion if someone actually _was_ debugging in their node_modules (e.g. npm-link'd modules) and hid issues setting brea

[2020-09-29 16:09] arisdanang commented on #107702
[image: Screenshot (534).png]
[image: Screenshot (535).png]
[image: Screenshot (536).png]

Pada tanggal Sel, 29 Sep 2020 pukul 22.26 Rob Lourens <
notifications@github.com> menulis:

[2020-09-29 16:09] jhomme commented on #97567
Hi,
I will test soon with NVDA and JAWS and try to create a new issue that
spells out the symptoms. I will use the JAWS ability to read out what
it thinks the tags and attributes are. It will take some time to write
it all up. No worries, though.

On 9/29/20, Isidor Nikolic <notifications@github.com> wrote:

--
==========

Jim Homme
Website: https://www.jimhomme.com/
Twitter: @jimhomme
Facebook: h

[2020-09-29 16:10] connor4312 commented on #107680
Thanks for the issue. js-debug has become a big bundle that hooks into quite a few things. We can probably split the "debug adapter" portion of the bundle so that only UI contributions get loaded until a debug session starts.

[2020-09-29 16:12] DanTup commented on #107704
Yeah, it should just be stdout/stderr from the Flutter process (though we do have some detection of stack frames to attach location metadata to the OutputEvents).

I don't know if it's related, but in https://github.com/Dart-Code/Dart-Code/issues/2733#issuecomment-679160269 it was noted that there's some weird escaping on Flutter's part (I can see that in the screenshot above). I'm not sure if tha

[2020-09-29 16:15] koljada opened #107719 "Intelisense for ThisType is not working"
Issue Type: <b>Bug</b>

1. Open following typscript playground:
https://www.typescriptlang.org/play?#code/C4TwDgpgBAwg9gOwGYEsDmB3FwAWAJOOAawGcAeGKCAD2AgQBMSoB5AIwCsIBjYAGih4qtek1acewAHxQAvFADeAWABQUdVG6I6tAFywA3Ko1QchUvqEAyKABUcKErfAQKUG3ikGoAeh92XKDgkKAByXEdQqBQEU3NmR1h3QVUAXyMVVS0EEmBNRFQ0AFcAJ2h5Nxo6RmZ2Ll4BISrRWoleKQAKbML9eGR0LFwCYnIYRqkASjkZZTUNbNyoMpIigBs8+VmTEzQIPIYAQ2ADjqmFJb3S2O70ADpsnWB

[2020-09-29 16:25] JensMertelmeyer commented on #10759
@vkocjancic
I guess nothing stops you from bringing your own version of VSC to the store. For example, here is an  installation of Visual Studio Code that was tailored to some programming language I don't know:
https://www.microsoft.com/store/productId/9NXDMCLN8P1X

@teohhanhui
There are use cases for Windows 10 S. I also have been running my laptop in S mode for over a year now. I guess switching

[2020-09-29 16:35] gregiare commented on #20958
I second @KolyaKorruptis and @janosh. In get history when comparing a specific commit against the workspace version it always puts the workspace version on the left. If your used to the new version being on the right this is not intuitive. It would be nice to be able to switch that.

[2020-09-29 16:39] hong-ggg opened #107720 "Terminal looks weird"
- VSCode Version:1.49
- OS Version: Win 10

Since i install vscode,my terminal can't type my letters with cursor. When i made terminal shows more lines,it can automatically correct the typesetting.

![擷取](https://user-images.githubusercontent.com/72063645/94587546-5696ed80-02b5-11eb-9dbd-92ee2dd4ca33.PNG)
![20200930_003756](https://user-images.githubusercontent.com/72063645/94587553-57c81a80-02b5-

[2020-09-29 16:43] RandomFractals commented on #107482
please ship the second version with external links for other ways to sponsor.

[2020-09-29 16:49] RandomFractals commented on #101589
this can't be a good reason to strip out new lines

[code]

Please reopen.

[2020-09-29 16:52] acoutts commented on #107704
I've found something interesting - it only happens when using the logger library to printing: https://pub.dev/packages/logger
But still, something has recently changed in code vs insiders that's broken it, with the logger library staying fixed.

* First download flutter: https://flutter.dev/docs/get-started/install
* Clone the test project: https://github.com/acoutts/vscode_issue_107704
* Add the

[2020-09-29 16:57] connor4312 commented on #107462
I was unable to fully test today as a result of https://github.com/microsoft/vscode-pull-request-github/issues/2168

[2020-09-29 16:58] JacksonKearl opened #107721 "vscode-file build: Can't access seti.woff"
Testing #107466

Linux (Ubuntu)

Saw this logged to console on the first load, subsequent loads are fine. And the icons do appear.
![image](https://user-images.githubusercontent.com/8586769/94589453-1f372b00-023a-11eb-89f8-127df8576e2a.png)

[2020-09-29 16:59] JacksonKearl opened #107722 "vscode-file:// windows cannot access HTTP URLs (CORS issue)"
Testing #107466
Ubuntu

![image](https://user-images.githubusercontent.com/8586769/94589672-6d4c2e80-023a-11eb-9971-755eb2b62d7c.png)

[2020-09-29 17:00] AngryCochinoPup opened #107723 "VS Code display broken in docker container"
VS Code 1.48 works fine in my containers built through gitlab CI. On upgrading to 1.49, opening code inside the container results in the code window displaying in all one color. As far as I can tell, it is still functional (open dialog works from keyboard command, for instance), but everything in the VS Code window is still on the same color, so it is unusable.
Downgrading to 1.48 in the container

[2020-09-29 17:02] DustyPane opened #107724 "settings sync: "Microsoft is currently unavailable""
- VSCode Version: 1.49.2
- OS Version: Windows 10 (10.0.18363)

Steps to Reproduce:

1. launch VSCode
2. right-click the "accounts" icon in the activity bar
3. instead of an option to log into a Microsoft account a message is shown saying "Microsoft is currently unavailable". This is not a general issue since it works fine at the same time on another Windows 10 machine (running the same version of

[2020-09-29 17:04] roblourens commented on #107581
When I focus the explorer, it just reads the focused row. When I focus a notebook row, it only reads "and one more item and 2 more items, group" which is definitely not useful.

[2020-09-29 17:04] roblourens commented on #107702
The screenshots are missing, email doesn't work for them

[2020-09-29 17:06] misolori opened #107725 "Unable to get resourceFolder context keys to work"
Testing #107638

I have this basic extension:

[code]

And also have the contribution set in the `package.json` like so:

[code]

And can't get the menu item to appear when right-clicking on a `test` folder, though if I remove the `resourceFolder` rule it'll show up so I'm wondering if I am either referencing it wrong here or if there is something else missing. I tried searching through our existi

[2020-09-29 17:08] kieferrm commented on #107616
@alexdima confirmed.

[2020-09-29 17:08] JacksonKearl opened #107726 "vscode-file build: unable to load sourcemaps from asar paths"
Testing #107466

Ubuntu

On opening the shared process window I see a bunch of console spam about source maps.

![image](https://user-images.githubusercontent.com/8586769/94590552-b0f36800-023b-11eb-835d-2cd2cc218059.png)

[2020-09-29 17:13] chrmarti commented on #107681
I think I was on the latest from today. Note that I was running the tests against the latest Insiders build, would that have that extension?

[2020-09-29 17:16] arisdanang commented on #107702
sorry sir i dont know if img crack

Pada tanggal Rab, 30 Sep 2020 pukul 00.05 Rob Lourens <
notifications@github.com> menulis:

[2020-09-29 17:22] IntelOrca commented on #99492
@bpasero we found the problem only appears when you start a normal instance of vscode and then close that prior to running command line tests.

[2020-09-29 17:22] imrandogra opened #107727 "website stuck on localhost"
Issue Type: <b>Bug</b>

while opend directory in code for work on project  my localhost website not open and load atleast after few mints and when i uninstall it website work fine .
experimented several time every time found visual studio code culptet.
please advise some solution.
thanks
imran

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:26:09.944Z)
OS ver

[2020-09-29 17:23] roblourens opened #107728 "Debug viewlet doesn't show configurations"
- I opened the `webview-view-sample` folder for the first time (https://github.com/microsoft/vscode/issues/107626)
- It has a launch.json but the debug viewlet shows the experience for workspaces with no launch config

![image](https://user-images.githubusercontent.com/323878/94592235-be115680-023d-11eb-93f2-0ea1c5e65c34.png)

I see this error, dunno if related

![image](https://user-images.github

[2020-09-29 17:24] davins90 opened #107729 "juptyer notebook not working / too slow"
Hi,

as i run a simple jupyter notebook, it takes a huge amount of time to excetuing or maybe it doesn't excute at all even only one cell. What could happen?

Thanks

CPUs | Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 1992)
-- | --
GPU Status | 2d_canvas: enabled flash_3d: enabled flash_stage3d: enabled flash_stage3d_baseline: enabled gpu_compositing: enabled multiple_raster_threads: enabled_on

[2020-09-29 17:25] roblourens commented on #107728
I could only debug through the command palette (`debug ` quick access)

[2020-09-29 17:27] poojamulik commented on #107727
Can you reproduce on any other machines? Or a VM?

[2020-09-29 17:27] JacksonKearl opened #107730 "vscode file build: top menu doesn't seem to work"
Testing #107466

Ubuntu

None of the entries on the top menu seem to work (Edit->Undo, for example)

Nothing logged to console

[2020-09-29 17:28] imrandogra commented on #107727
no diabled all ext now working on one by one to find out culpter

[2020-09-29 17:30] AllanOricil opened #107731 "[Webview] Make it open with a certain "width" and set "min-width" and "max-width""
Make it open with a "width" and set "min-width"

[2020-09-29 17:41] roblourens opened #107732 "Errors in webview view sample webview script"
Testing #107626

I know these are harmless but it would be good for a sample to show people how to set this up without errors

![image](https://user-images.githubusercontent.com/323878/94595421-ac30b300-023f-11eb-8942-c3eee82636b1.png)

[2020-09-29 17:49] roblourens commented on #107626
Are there going to be some docs about this on the website?

[2020-09-29 17:55] vkocjancic commented on #10759
@teohhanhui Maybe you misunderstood me. S mode is pointless with useless Microsoft Store. On top of that, apps installed from store are not guaranteed to run in S mode. Other than that, I love fast boot up time, I love battery performance. Basically, I don't want to switch out unless absolutely necessary.

@JensMertelmeyer There are two reasons:
1. There is nothing I hate more than an app in an ap

[2020-09-29 17:57] Mohanbarman commented on #12080
Any updates guys it's been 4 years now :(

[2020-09-29 18:00] koljada commented on #107719
Sorry,  I guess that's because of missed `noImplicitThis` flag.

[2020-09-29 18:01] NicTanghe commented on #10759
(not a fan of windows)
I disagree s mode makes sense for companies.
You remove your dumbass employies ability to install anything on your companies property. your dumbass employies will probably install allot of viruses if you dont ban then from using annything.

If they change smode to allow installing stuf from admin selected/hosted repos using winget it would be where it needs to be.

it took t

[2020-09-29 18:02] #107719 closed

[2020-09-29 18:04] usernamehw commented on #107732
Similar to https://github.com/microsoft/vscode-extension-samples/issues/342

Looks like no one is assigning issues in that repository.

[2020-09-29 18:06] jxmot commented on #107251
This problem does appear to have been caused by "open" vs "lives-in" path. When ran from the "lives-in" path breakpoints stop execution as expected. In this particular case Windows was configured to use a substitute folder location for "Documents".

I tried adding `"runtimeArgs": ["--preserve-symlinks"]` to launch.json but it had no effect.

[2020-09-29 18:07] canpoyrazoglu commented on #106541
I can also confirm that this bug persists on Code 1.49.2. (and I also realized how much I really used the step buttons on Touch Bar when debugging)

[2020-09-29 18:12] connor4312 commented on #107251
Glad to hear you found a workaround for your issue. Can you grab a trace log running with `--preserve-symlinks` so I can see why that wasn't working for you?

[2020-09-29 18:12] steve1998 commented on #107326
@aeschli Thank you for updating the README. I've now encountered a problem when trying to do `yarn link` on the `vscode/extensions/html-language-features/server` directory. It seems that there is already a link present on that folder called `html-language-features` and when I fire up the Code OSS, it also says HTML language server crashed and non of the autocomplete or hover features were working

[2020-09-29 18:13] deepak1556 commented on #106541
This will be fixed in tomorrow's insider and upcoming stable `1.50`

[2020-09-29 18:13] #106541 closed

[2020-09-29 18:18] jxmot commented on #107251
Sure! Give me a day or two to get back to it.

[2020-09-29 18:21] rebornix commented on #107190
@mjbvz sorry I missed this in my notifications, please help take a look.

[2020-09-29 18:24] deepak1556 commented on #106879
Symbolicated trace

[code]

[2020-09-29 18:25] roblourens commented on #107702
You will just have to upload images through the website

[2020-09-29 18:25] deepak1556 commented on #106879
Abort in libuv from here https://github.com/libuv/libuv/blob/v1.x/src/unix/kqueue.c#L482

[2020-09-29 18:25] roblourens commented on #107681
No, the local extensions have to be built

[2020-09-29 18:28] deepak1556 commented on #106879
We should be able to create a minimal example with electron or node.js , @bpasero where is the code that handles opening files from SMB drive, need some idea to create a minimal repro. Thanks!

[2020-09-29 18:30] deepak1556 commented on #107392
Update to latest stable `1.49.2` and launch with `code --crash-reporter-directory /tmp/vscode-crash`, once the crash happens by opening any dialog, attach the generated crash dumps from that directory. Thanks!

[2020-09-29 18:32] mjbvz commented on #107718
This sounds correct.

The `exclude` excludes the file from any project (i.e. it is in an implicit project)

And any files in implicit projects use the `Implicit Project Config: Check JS` setting

[2020-09-29 18:32] #107718 closed

[2020-09-29 18:33] connor4312 commented on #107251
@JacksonKearl this morning also happened to hit a linked case where --preserve-symlinks in node didn't work. However I think we can be smarter in the debugger to avoid needing to require the flag, opened an investigation for next month: https://github.com/microsoft/vscode-js-debug/issues/776

[2020-09-29 18:33] vmiheer opened #107733 "Remote-ssh: filter recent projects list by attached host"
I work on multiple remote ssh hosts on different projects. After connecting a host, recent project list keeps showing remote-ssh connections from all hosts, including local projects. It would be great if that list only showed remote projects on the host currently connected.

E.g.
I am connected to `cnotch` but the recent list includes projects from other hosts (e.g. `zeus`).
![image](https://user-

[2020-09-29 18:44] JacksonKearl opened #107734 "vscode-file build: unable to auth with github"
Testing #107466

0. using https://az764295.vo.msecnd.net/insider/d8f5cfff08b04367fceb9ccbcff332d03c99d0c2/code-insider-x64-1601360576.tar.gz on ubuntu
1. Attempt to run a github issue notebook cell
2. go through sign in process   in browser
3. browser opens up old insiders (not vscode-file build that spanwned it), asks is extension can handle uri. Quit out.
4. get token from web ui and paste into

[2020-09-29 18:46] eamodio commented on #107725
`resourceFolder` and `resourcePath` are absolute "paths"

Here is an example that adds a _Say Hello_ command to any folders/files in the root `src` folder (not on nested folder/files), and adds a _Say Goodbye_ command to file/folder who's parent folder path ends with `/test` or `\test`

[code]
[code]

[2020-09-29 18:46] eamodio commented on #107638
See here for an example: https://github.com/microsoft/vscode/issues/107725#issuecomment-700909597

[2020-09-29 18:48] mjbvz commented on #107731
Duplicate of #103828

[2020-09-29 18:48] #107731 closed

[2020-09-29 18:50] mjbvz commented on #107732
Duplicate of #96221

[2020-09-29 18:50] #107732 closed

[2020-09-29 18:51] vchealy opened #107735 "Output Console Auto Scroll"
Issue Type: <b>Bug</b>

The Auto Scrolling is not scrolling up in the latest version when running code

VS Code version: Code - Insiders 1.50.0-insider (0580328b728a69768558cc8242067cae7b6a1c21, 2020-09-29T09:07:46.673Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) CPU 2020M @ 2.40GHz (2 x 2395)|
|GPU Status|2d_ca

[2020-09-29 18:53] alexdima commented on #107716
@andrew0attard How do you configure render whitespace ?

[2020-09-29 18:59] mjbvz opened #107736 "CodeLens activated on mouse up"
Issue Type: <b>Bug</b>

**Repro**
1. Enable the references code lens for JS/TS
1. In a JS/TS file with a references code lens.
1. Click down and drag to make a selection
1. Release the mouse while the pointer is over one of the references code lenses

**Bug**
This activates the code lens.

My expectation is that the code lens would only be activated if I clicked on it, not on mouse up

VS Code ver

[2020-09-29 19:00] alexdima commented on #107636
@giahuytn I cannot reproduce with your steps.

* on step 3, the command `Developer: Show Running Extensions` shows ESLint
* on step 4, ESLint is shown again as activated.

[2020-09-29 19:04] mjbvz opened #107737 "Boarder overlap in setting sync 'select service' UI"
Issue Type: <b>Bug</b>

**Repro**
1. Using the standard dark+ theme
1. Trigger the 'select service' UI for setting sync

**bug**
This input has a blue boarder around it, however the two input options cut off this boarder on the sides:

<img width="1298" alt="Screen Shot 2020-09-29 at 12 01 53 PM" src="https://user-images.githubusercontent.com/12821956/94603853-afca3700-024b-11eb-979f-dca545bf531f.

[2020-09-29 19:07] connor4312 commented on #107462
The PR extension only works with the nightly build on Insiders -- other verifies, make sure to use `github.vscode-pull-request-github-insiders` rather than the stable version.

[2020-09-29 19:10] rebornix commented on #107480
@bpasero

<img width="646" alt="image" src="https://user-images.githubusercontent.com/876920/94604285-4bf43e00-024c-11eb-9e96-284f0fec1688.png">

This is identical to all other keychain items I have and I think they are default values. @deepak1556 ping me if you can't reproduce as I'm seeing it every time I get a new Insiders update. Also I saw a second prompt today when switching workspaces.

[2020-09-29 19:12] rquispeq opened #107738 "Vscode doesn't show change in opened file when having same file name with different casing"
Issue type: **Bug**
When I change a file, the section where shows me the changes in git doesn't shows up.

This happen in some files, the only explanation to me its because the file has an issue with git for having 2 names, uppercase and lowercase:

There are these screenshots:

![image](https://user-images.githubusercontent.com/23042251/94603450-e60fb280-025b-11eb-855b-b13183e56d9a.png)

You can

[2020-09-29 19:19] dbaeumer commented on #107584
Cancel cancel the dialog and leaves that state as it was before opening the dialog. So if you were in Allow cancel keeps you in allow. Like other dialogs as well.

[2020-09-29 19:23] egamma opened #107739 "Redo of rename Java Class name has no effect"
Testing #107617

- Remote-Containers: Try a Sample
- Select Java
- Open AppTest.java
- Rename the class name in the file to AppTest2 -> the file is renamed to AppTest2.java
- undo -> the class name is changed back to AppTest, the file name is renamed to AppTest.java
- redo -> no effect

[2020-09-29 19:26] egamma opened #107740 "Undo of rename Java file has no effect"
Testing #107617

- Remote-Containers: Try a Sample
- Select Java
- Open AppTest.java
- Rename the file name of AppTest.java to AppTest2.java -> the class name is also changed to AppTest2
- undo -> the class name is changed back to AppTest but the file name is not renamed to AppTest.java

[2020-09-29 19:31] lolodi opened #107741 "Download fails with ERR_STREAM_PREMATURE_CLOSE starting in 1.49.0"
- VSCode Version: 1.49.0, 1.49.1, 1.49.2, 1.50.0-insider
- OS Version: All

Steps to Reproduce:

I work for Bridge to Kubernetes Microsoft extension.
We used to be able to download our binaries without much trouble but starting with 1.49.0 we started seeing ERR_STREAM_PREMATURE_CLOSE happening in a relevant way, making it impossible for many of our users to use our extension.
We are unable to repr

[2020-09-29 19:35] andrew0attard commented on #107716
Render Whitespace is currently set to trailing.

[2020-09-29 19:38] chrmarti commented on #107681
I think they weren't built, now that I think about it. Can we update the https://github.com/Microsoft/vscode/blob/master/test/smoke/README.md to include that?

[2020-09-29 19:44] tonycheang opened #107742 "Autotrigger completions in snippet placeholders not working"
- VSCode Version: 1.49.2
- OS Version: macOS 10.15.6

Hello, I'm from the team that builds the kite autocomplete extension. We've been trying to get autocompletion within snippet placeholders for alphanumeric characters, but have run into a snag. I suppose I would expect completion requesting behavior to be similar within a snippet as not within a snippet, i.e. alphanumeric characters trigger comp

[2020-09-29 19:45] chrmarti commented on #107681
Down to 1 failure:
[code]

[2020-09-29 19:48] xhermosilla commented on #103373
I have same problem with 1.49.1 vscode version.
If I add to configuration:
"debug.javascript.usePreviewAutoAttach": false
Auto Attach funcionality work.

[2020-09-29 19:49] sandy081 commented on #107662
Also, In Mac, voice over does not announce that the option is default.

[2020-09-29 19:57] sandy081 opened #107743 "Leaving and entering the gear action of a setting using tab and shift tab is not announcing the name of the setting"
Testing #107610

- Tab until you reach the gear action of a setting
- Tab now - it goes to activity bar switcher (explorer) button for me
- Shift + Tab now

Voice over announces following

<img width="637" alt="image" src="https://user-images.githubusercontent.com/10746682/94609250-c51c8100-029e-11eb-88f2-1e94b9f1280c.png">

<img width="655" alt="image" src="https://user-images.githubusercontent.c

[2020-09-29 20:04] sandy081 opened #107744 "Navigation keybindings does not work after pressing escape inside Add Pattern input box"
Testing #107610

- Navigate using down arrow until Files: Exclude settings is selected
- Press Enter
- Tab until Add Pattern button is selected
- Press Enter
- Press Escape

🐛 Cannot use Up and Down arrows now.

[2020-09-29 20:05] connor4312 commented on #103373
Please provide additional details around the scenario you're hitting.

[2020-09-29 20:07] sandy081 opened #107745 "Escape on Files Exclude control is moving the focus to settings table of contents"
Testing #107610

- Navigate using down arrow until Files: Exclude settings is selected
- Press Enter - Patterns box is selected
- Press Down arrow to navigate items inside pattern box
- Press Escape
🐛 focus moves to table of contents

[2020-09-29 20:08] sandy081 opened #107746 "Pressing enter twice on Files Exclude or Files Associations setting should add new item"
Testing #107610

- Navigate using down arrow until Files: Exclude settings is selected
- Press Enter - Patterns box is selected
- Press Enter again

🐛 nothing happens.

Expected that new item is added, just like in drop down control - drop down is opened.

[2020-09-29 20:10] vidorteg commented on #105370
Hi @mjbvz,

I added some images to the steps on the original post, please let me me know if there is anymore information I can provide.

[2020-09-29 20:11] sandy081 opened #107747 "Navigation using arrows does not work after switching tabs"
Testing #107610

- Switch from user to workspace settings tab
- Use arrows to navigate
🐛  Does not work

[2020-09-29 20:13] sandy081 opened #107748 "Voice over does not read that a setting is ignored to sync"
Testing #107610

- Focus on a setting that is ignored to sync

🐛 Voice over does not read that setting is ignored to sync

<img width="647" alt="image" src="https://user-images.githubusercontent.com/10746682/94610644-debec800-02a0-11eb-979e-4b32ba844b1e.png">

[2020-09-29 20:15] sandy081 commented on #107610
👏  Good job - works pretty well with Keyboard

[2020-09-29 20:17] Jesuszilla commented on #107392
[vscode-crash.tar.gz](https://github.com/microsoft/vscode/files/5301636/vscode-crash.tar.gz)

[2020-09-29 20:21] mjbvz commented on #105370
Thanks. That is the correct dev tools. I suspect the issue is related to using an iframe in a webview (which should be avoided when possible)

The dev tools come from Chrome (by way of electron) so this is not in the scope of VS Code itself. Marking as upstream

[2020-09-29 20:26] peterflynn commented on #65109
Looks like this was fixed via a new preference in v1.48 (July 2020): see PR #93160 and duplicate issue #88480.

[2020-09-29 20:27] rmgreenstreet opened #107749 "Cursor in incorrect position"
Issue Type: <b>Bug</b>

Occasionally, when editing a javascript file, using the mouse or arrow keys to move the cursor to a position within a line results in visual representation of the cursor being placed approximately three spaces to the right of the selected position.

Using the mouse or the shift+arrow keys to select a line or part of a line still shows the cursor out of position, but does se

[2020-09-29 20:50] sandy081 commented on #107558
- Can you please enable log level to `trace` using the command `Developer: Set Log Level` and check the logs.
- Also check the logs in Developer tools console - Use command `Developer: Toggle Developer Tools`

[2020-09-29 20:52] misolori commented on #107725
Ah, since I am not too familiar with this it was a bit hard to figure out without an example. We should probably have this in the docs somewhere?

[2020-09-29 20:53] sandy081 commented on #107526
Assigning to @bpasero as it seems an issue with running test env. User confirms that it works when doing the same with VS Code directly.

[2020-09-29 20:55] sandy081 commented on #107489
You can see the list of user modified keybindings using the search filter `@source:user` - I hope this works for you.
You can also open the file and see the list.

[2020-09-29 20:55] #107489 closed

[2020-09-29 20:57] cycomachead commented on #93887
I also mostly want padding to the left of the code block! I got bitten by this 3 times in the last hour. I guess what we really want is more of a gutter. I tried poking around in the internal CSS, but didn't get super far. I think what we need may be a new setting.

[2020-09-29 20:57] sandy081 commented on #107463
Can you please check if the remote server logs has any information?

[2020-09-29 20:59] sandy081 commented on #107395
- Try the command `View: Reset View Locations` from the command pallette
- If does not work, try to start code on a different user data directory. You can do this from command line `code --user-data-dir <directory_path>`

[2020-09-29 21:03] sandy081 commented on #107320
Not sure who gets the benefit or who does not. Some popular theme extensions has main code and not showing the theme picker might be more lose rather showing a picker for other extensions. One workaround would be that C# and Powershell can separate theme extensions and add them as a dependency.

@aeschli Since you have more insights about theme extensions, what do you recommend?

[2020-09-29 21:13] dfee opened #107750 "Specify a different tsconfig.json for linting"
I use a `tsconfig.eslint.json` for linting – this is picked up in my `.eslintrc.js`. However, VSCode complains because it's using `tsconfig.json` to validate my `*.test.ts` files, which is specifically excluded in `tsconfig.json` but included in `tsconfig.eslint.json`.

[2020-09-29 21:14] sandy081 commented on #104626
I am not able to reproduce it. I can see the local python file content. Are there any errors in the shared process console (Use command `Toggle Shared Process` or settings sync log in output view?

[2020-09-29 21:14] sana-ajani opened #107751 "treeView name and description both shorten when size of explorer changes"
Testing #107639

When the explorer view is a smaller size, I think the description should be shortened, but personally, I think the name should remain and not be shortened.

![recording (5)](https://user-images.githubusercontent.com/9721254/94615946-97234680-0276-11eb-8349-cf1ce250a234.gif)

[2020-09-29 21:17] sana-ajani opened #107752 "treeView description doesn't persist when layout is changed"
Testing #107639

![recording (6)](https://user-images.githubusercontent.com/9721254/94617448-950db780-0277-11eb-960d-15da880fe3bf.gif)

[2020-09-29 21:19] sandy081 commented on #107363
It would be very helpful if you can provide the precise steps to reproduce the issue so that we can do better analysis of the problem and the solution

[2020-09-29 21:21] sandy081 commented on #105047
Makes sense.

Let me know if there is anything to be done from my side?

[2020-09-29 21:22] sandy081 commented on #106295
Assigning to @roblourens as it is related to Settings UI

[2020-09-29 21:26] mjbvz commented on #77199
Let's fold this into https://github.com/microsoft/TypeScript/issues/35524

Once JS/TS supports `@see` tags, then we can swap over to using proper links in the `vscode.d.ts` file

[2020-09-29 21:26] #77199 closed

[2020-09-29 21:30] sandy081 commented on #104732
I see that both machines are having same `machine-id`.

@mrvkino Can you please open your user data directory - use command `Open Local Backups folder` and go two folders above. There will be a file called `machineid`. Can you please check what value you have there? Please check the value for both machines.

[2020-09-29 21:37] #107617 closed

[2020-09-29 21:46] yarko commented on #107455
I had been exclusively using code-insiders;  I just installed code (1.49) and Vim and "Markdown-all-in-one" and everything seems to be working fine here.

So - as for VScode issue:  not being able to disable any of the markdown extensions ... and their apparent interaction with blocking editing function:  this is the CORE issue, it would seem (w/o suggesting where the root of the problem is).

[2020-09-29 21:49] RodeoNate commented on #105514
I had this [compile hero](https://github.com/Wscats/compile-hero) vscode plugin that was causing the issue for me.

[2020-09-29 21:55] heaths commented on #107363
1. Open https://github.com/heaths/heaths.github.io in Codespaces
2. Wait a short bit while the container image is created, and VSCode renders
3. Observe a warning about settings being out of sync
4. Viewing the diff, observe that one setting was moved to the top, while another was "deformatted", i.e. the array is not formatted across multiple lines like it once was, though it is in the same spot.

[2020-09-29 22:12] connor4312 commented on #71315
This seems to work for files, but it looks like this still happens when deleting folders (on Windows).

[2020-09-29 22:26] connor4312 commented on #96293
I tried this today and things were not working too well for me. I observed two issues:

- When I selected a dynamic configuration, the config shown in the dropdown was actually my first static launch config, not the dynamic one. However, clicking run on it did the right thing.
- After reloading the window, it did not remember my dynamic configuration.

Here's a video -- the dynamic config opens a

[2020-09-29 22:32] brunzefb commented on #71315
I don't think "explorer.AutoReveal" : false is a good solution.  You still want the to see the active editor highlit in the explorer.  I don't know much javascript or vscode code -- when deleting, it may make sense to first change to (activate) the next (or previous) editor in the tree.  I would not go for the parent folder, as this may be visually far from the place you are deleting. Then program

[2020-09-29 22:34] connor4312 commented on #59040
I tried to verify this but am not sure how to do this myself. I've not used desktop linux extensively; I tried reinstalling Insiders from the `.deb` to see if it associated `.code-workspace` files with VS Code, but that didn't happen.

[2020-09-29 22:39] roblourens commented on #107732
Thanks @usernamehw we will clean that up next month

[2020-09-29 22:49] connor4312 opened #107753 "Unable to create empty git commit if there are any changed files"
While testing https://github.com/microsoft/vscode/issues/105881 I noticed a case:

1. Change a file (but do not stage it)
1. Run `Git: Commit Empty`
1. Say that you're sure you want to create an empty commit
1. You're presented with this screen. There's no way to get past it and create an empty commit without stashing/discarding local changes 🐛

![](https://memes.peet.io/img/20-09-8768b030-acde-4d

[2020-09-29 22:50] sparkleface815 opened #107754 "Missing taskbar icon"
Issue Type: Performance Issue

I haven't opened vscode in about a few months and the taskbar icon is just a blank file icon

![image](https://user-images.githubusercontent.com/68936036/94624476-6558b280-026b-11eb-91dc-4765fade073d.png)

[2020-09-29 22:57] rebornix commented on #106053
@DonJayamanne can you confirm if it's working properly already?

[2020-09-29 22:58] rebornix commented on #106052
@DonJayamanne can you confirm if it's already working?

[2020-09-29 23:00] rebornix commented on #102665
Verifier: please tweak https://github.com/microsoft/vscode-extension-samples/blob/master/comment-sample/src/extension.ts and verify if setting `readOnly` on a comment thread will hide the reply box.

[2020-09-29 23:18] jtsom opened #107757 "Updated MacOS Exploration build"
Issue Type: <b>Feature Request</b>

Is there an update for the MacOS Exploration build available? The Windows build is up to 1.50.0, with a recent date. MacOS is dated back in August.

VS Code version: Code - Exploration 1.49.0-exploration (16616bb90b4b083b9a4d22d7fcd35b565e42d4d6, 2020-08-14T06:30:44.371Z)
OS version: Darwin x64 19.6.0

[2020-09-29 23:19] richtera commented on #107048
I was able to reproduce it once using WSL. So it does seem to be a timing issue. With WSL it seems to work 99% of the time. Also when it doesn't work, I don't know how to actually capture the error. The way it fails completely prevents me to look at any logs. But since it works most of the time and I am able to switch to WSL for most of my coding, I am not sure what else to do to help here. Maybe

[2020-09-29 23:26] roblourens commented on #107746
I think we decided that empty patterns can't be added because that was probably a mistake. If I add one character, then press enter, the pattern is added

[2020-09-29 23:26] #107746 closed

[2020-09-29 23:27] roblourens commented on #107747
I don't understand. Where is focus when this is happening? You would have to go back to the settings list

[2020-09-29 23:30] roblourens commented on #106295
https://github.com/microsoft/vscode/issues/58038

[2020-09-29 23:30] #106295 closed

[2020-09-29 23:49] kieferrm opened #107758 "ESLint: Problem should be recreated on "Reset""
Testing https://github.com/microsoft/vscode/issues/107584

1) Open a `.ts` file.
-> problem at first line
2) Allow eslint in your workspace
-> no problem
3) Reset all eslint library decision
-> no problem but I'd expect one

[2020-09-30 00:07] kieferrm opened #107759 "ESLint: Is it enabled or disabled?"
Testing https://github.com/microsoft/vscode/issues/107584

I tried to get to the same dialog that I get through quick fix or the status bar item using the command palette. So, I chose `ESLint: Enable ESLint` in a workspace ESLint was not allowed to run in yet. I got:

![image](https://user-images.githubusercontent.com/4674940/94628850-f2a10480-0275-11eb-91b2-098036032b50.png)

The problem tells me

[2020-09-30 00:10] kieferrm opened #107760 "ESLint: Levels enablement control"
Testing https://github.com/microsoft/vscode/issues/107584

We now have `ESLint: Enable ESLint`, `ESLint: Disable ESLint` on top of that ESLint execution is allowed or not (either for a workspace or for a session or for everything). Although there are cases where all of that makes sense, that's a lot of enabling/disabling for a linter. Can we merge the concepts?

[2020-09-30 00:16] pushkine opened #107761 "Class instance property with default value not referenced in destructured object property reassignments"
Expected `1 reference` for `Foo.foo`

![Code_2020-09-30_02-05-26](https://user-images.githubusercontent.com/30108880/94628888-792f0380-02c1-11eb-8c4e-9890e036f376.png)
[code]
[code]
1.49.2
tested on ts 4.0.2 and 4.1.0-dev.20200929

[2020-09-30 00:16] kieferrm opened #107762 "ESLint: Command palette entry for managing eslint execution"
Testing https://github.com/microsoft/vscode/issues/107584

I'd like to be able to control eslint execution through the command palette. To me, this is more easily discoverable than going through Problems (either panel or editor).

[2020-09-30 00:25] kieferrm opened #107763 "Notebook folding misplaces cell selection"
Issue Type: <b>Bug</b>

![5IH6f4ggFg](https://user-images.githubusercontent.com/4674940/94629797-9c819080-0278-11eb-830d-2eb7ebd0edef.gif)

1) Have the keyboard focus on a cell that is a "child" of a foldable markdown cell
2)<kbd>ArrowLeft</kbd>
-> I agree that this should fold the section, but now the "parent" should have the keyboard focus. However, it's lost and on <kbd>ArrowDown</kbd> keyboard

[2020-09-30 00:31] kieferrm opened #107764 "ESLint: Status bar item not updated"
Testing https://github.com/microsoft/vscode/issues/107584

1) Reset all ESLint library decisions
2) Open a `.github-issues` notebook file
3) Press the eslint status bar item to get the dialog
4) Press `Allow`
-> status bar item does not update
5) Open a `.ts` file
-> status bar item correctly updates

[2020-09-30 00:36] pushkine opened #107765 "[Request] Warn on rename refactoring conflicts js/ts"
I'd like to be warned when renaming a variable causes code to change behavior
eg. renaming `foo` to `bar`
[code]

[2020-09-30 00:37] kieferrm commented on #107584
Overall, this is a nice flow.

[2020-09-30 00:48] wr200m commented on #3451
This saved the day for me.

[2020-09-30 00:58] deepak1556 commented on #107392
Thanks for the dump, currently there are missing symbols for

[code]

we are using https://symbols.mozilla.org/ as the symbol server. Do you know where I can get debug versions of these archlinux packages ?

[2020-09-30 01:18] fireattack commented on #104626
There are.

Shared process console:
[code]

Log (Shared):

[code]

Log (Setting Sync) has nothing strange.

[code]

[2020-09-30 01:25] kieferrm opened #107766 "Log file colorization issues"
Testing https://github.com/microsoft/vscode-remote-release/issues/3750

I opened a log file in the editor. I think this used the built-in log TM grammar. The highlighted colorizations don't make sense to me.

![image](https://user-images.githubusercontent.com/4674940/94632985-de163980-0280-11eb-8697-9d50cfe71738.png)

[2020-09-30 01:42] giahuytn commented on #107636
@alexdima you need to delete ESLint Extension folder at %userprofile%/.vscode/extensions folder if having. It is the same situation with cases: first time install or upgrade extension

[2020-09-30 01:45] pebanfield commented on #107637
Ug guys. Love this free product, but verifying debug should be in the baseline test suite. It's not obvious where to find previous build version either...

[2020-09-30 01:53] Jesuszilla commented on #107392
I'm not 100% sure, but my bet is on the `eschwartz` repository, according to https://wiki.archlinux.org/index.php/Debug_-_Getting_Traces#GTK3/GLib2

[2020-09-30 01:54] x-strong opened #107767 "Please supply the ability to sort files by modified time asc/desc in groups in source control's Changes view when view as list"
﹀ **Changes**&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ⑩
     | ﹀ **A quarter ago**
     |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;file1.html
     | ﹀ **Half an hour ago**
     |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;file2.ts
     |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;file3.json
     | ﹀ **Two hours ago**
     |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp

[2020-09-30 02:09] testforstephen commented on #106410
A quick question here.

I see `codeAction/resolve` is already added into [lsp 3.16](https://microsoft.github.io/language-server-protocol/specifications/specification-3-16/#codeAction_resolve). Does VS Code client already adopt the spec? // cc: @jrieken @dbaeumer

[2020-09-30 02:12] connor4312 commented on #107637
@pebanfield please file an issue using the template here: https://github.com/microsoft/vscode-js-debug/issues/new/choose

[2020-09-30 02:20] Kaiyan-Zhang commented on #107712
Hi there, the issue occurred on Sep.29, under AppData/Roaming/Code/logs I found the 4 log folders for that day, and inside them two "userDataSync.log" files were found.
`
[2020-09-29 19:30:30.690] [userDataSync] [info] Using settings sync service https://vscode-sync.trafficmanager.net/
[2020-09-29 19:30:30.690] [userDataSync] [info] Auto Sync is enabled.
[2020-09-29 19:30:30.690] [userDataSync] [i

[2020-09-30 02:28] #103716 closed

[2020-09-30 02:54] yangfree commented on #107525
**More info:**
![1](https://user-images.githubusercontent.com/24789671/94637784-fc287c00-030a-11eb-8f69-8b3733cb8e64.png)
![2](https://user-images.githubusercontent.com/24789671/94637782-faf74f00-030a-11eb-9705-06e47643b9a1.png)
![3](https://user-images.githubusercontent.com/24789671/94637783-fb8fe580-030a-11eb-96bf-1be720f5b523.png)
![4](https://user-images.githubusercontent.com/24789671/94637778

[2020-09-30 02:57] cristian3d commented on #103285
Upvoted!

But, please, don't forget about this one https://github.com/microsoft/vscode/issues/3562 .  It'd be a huge improvement, and is a standard feature. Or at least comment why is not possible, so we stop dreaming about it :)

[2020-09-30 03:09] cristian3d commented on #3562
This is, by far, my most wanted feature. It is standard in many other tools, specially when doing source control diffs.

I'd appreciate some comment from the team as to why is not being considered. Is it too hard to implement?

[2020-09-30 03:49] roblourens commented on #104496
I remember seeing this in the past but I don't see the service selection now. I see the configuration step then the account picker and that's it...

[2020-09-30 04:05] nuKs commented on #3998
Try this one https://github.com/microsoft/vscode/issues/3998#issuecomment-341004916

[2020-09-30 04:12] roblourens commented on #107681
I tried a few times with the same setup on linux and can't repro

[2020-09-30 04:39] roblourens commented on #107665
I see that the action bar intercepts all "escape" keypresses, @isidorn it looks like you worked with this, do you know of a way to disable or intercept this or should I just plumb an option to disable that behavior through from ToolBar?

[2020-09-30 04:43] gauravmak commented on #97332
@anupkmr03 What should I change to test if it works?

The [readme of the extension](https://marketplace.visualstudio.com/items?itemName=freshbitsweb.laravel-traveller) on the marketplace still displays the link.

[2020-09-30 04:55] #107664 closed

[2020-09-30 04:55] #107745 closed

[2020-09-30 04:57] roblourens commented on #107663
I don't know whether it should or not. Not all values can easily be read in that context (objects, arrays), some may be long, or confusing outside of the context of focus inside the control. I think it makes sense to interact with the control to get the value. @isidorn ?

[2020-09-30 05:00] shakir-timur commented on #106661
Launching from gnome application menu.
Installed first with deb package from Microsoft website, following installations were updates via package manager (Synaptic).
`process.env.PATH` has the directory with `dotnet` symlink

[2020-09-30 05:07] roblourens opened #107769 "SCM commit message box scrolls instead of wrapping"
This is weird, sometimes overflowing text in the SCM scrolls horizontally, and sometimes it wraps. I think it's supposed to wrap. I can't repro it consistently but saw it a few times in Insiders and OSS.

![image](https://user-images.githubusercontent.com/323878/94644973-84713780-029f-11eb-9522-4d4c39b3a615.png)

cc @meganrogge I know you were working on this, I don't know whether your changes are

[2020-09-30 05:36] aknEvrnky opened #107770 "Multiple language support in single file"
I'm html web coder. I'm writing my html codes in to PHP file. I can change my language mode PHP to HTML form rigth bottom. But sometimes I'm using php codes in my file. Is there any multiple language support for single file ?

[2020-09-30 05:51] andig commented on #107699
Thank you for the feedback. After revisiting the issue my feeling is that this is not working as designed, at least not working as expected. IMHO the usual behaviour for controls showing abbreviated content is to switch to full content once activated (i.e. receiving focus or cursor positioned inside). That way, the usual copy/paste controls would still work. A second aspect is accessibility. It is

[2020-09-30 06:08] jrieken commented on #107727
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-09-30 06:09] jrieken commented on #107729
/extPython

[2020-09-30 06:09] #107729 closed

[2020-09-30 06:10] bpasero commented on #107721
/duplicate https://github.com/microsoft/vscode/issues/107687

[2020-09-30 06:10] #107721 closed

[2020-09-30 06:11] bpasero commented on #107722
//cc @mjbvz I wonder if the `webview` sets a CSP that blocks `vscode-file` possibly?

[2020-09-30 06:12] bpasero commented on #99492
@IntelOrca can you please provide exact steps for me to reproduce exactly that scenario with all the detail you can provide for me to reproduce exactly?

[2020-09-30 06:14] bpasero commented on #106879
@deepak1556 great findings, I think we had this issue for a long time without understanding it fully. Most files are being opened here:

https://github.com/microsoft/vscode/blob/e8760a5d6c0e09ab692e5b3e414eca018745490f/src/vs/platform/files/node/diskFileSystemProvider.ts#L209-L209

And then we use normal `fs.read` primitives from node to read and `fs.close`.

[2020-09-30 06:16] bpasero commented on #107734
@JacksonKearl this flow is probably not very realistic because you end up with 2 different instances of VSCode given the one is the system wide installed and the other only for testing. You still think there is a bug here?

[2020-09-30 06:18] jrieken commented on #107742
When a snippet is active, IntelliSense as you type (aka quick suggestions) is disabled. That is because there is a conflict between the <kbd>Tab</kbd>-key which moves to the next placeholder but also accepts a completion. You wouldn't be able to type in a placeholder and then move to the next placeholder as you would accept a suggestion then. You have the following options

* change the default vi

[2020-09-30 06:18] #107742 closed

[2020-09-30 06:21] jrieken commented on #106410
yes. it is in current insiders and next stable

[2020-09-30 06:21] touhidrahman opened #107771 "Separate theme extensions and regular extensions"
In the installed extensions explorer, a subsection should be there to group the extensions those are purely for themes (and icons). That way user experience will improve while navigating lots of extensions which is normal for a typical vscode user.

[2020-09-30 06:23] humkins opened #107772 "Wrong TSX ternary markup block formatting on save"
I like 'format on save' VSCode feature very much. But I'm experiencing a very annoying wrong formatting of tsx files (my current version is 1.49.2, but I've been observing this for more than month).

Here is an example. Here two lines have extra indents ('single' block)

[code]

the same code in jsx file is formatted correctly

[code]
I tried to switch default vscode formatter to `eslint`, `null`,

[2020-09-30 06:29] chrmarti commented on #107480
Could this be 1.49 accessing via renderer and 1.50-insiders accessing via main process stepping on each others toes?

[2020-09-30 06:33] gjsjohnmurray commented on #107771
You can already do this:

![image](https://user-images.githubusercontent.com/6726799/94650783-43a10f00-02ef-11eb-9159-34af21f04b9c.png)

[2020-09-30 06:37] deepak1556 commented on #107723
/duplicate https://github.com/microsoft/vscode/issues/106569

[2020-09-30 06:37] #107723 closed

[2020-09-30 06:39] bpasero commented on #107480
@chrmarti maybe, @rebornix did you possibly also run stable and get prompted?

[2020-09-30 06:39] #107639 closed

[2020-09-30 06:40] #107584 closed

[2020-09-30 06:45] #107771 closed

[2020-09-30 06:46] timfelle opened #107773 "Ubuntu repo maybe broken?"
- VSCode Version: 1.49.1
- OS Version: Ubuntu 20.04.1 LTS

Steps to Reproduce:

    $ sudo apt update
    Get:6 http://packages.microsoft.com/repos/vscode stable/main amd64 Packages [201 kB]
    Err:6 http://packages.microsoft.com/repos/vscode stable/main amd64 Packages
    File has unexpected size (201047 != 200914). Mirror sync in progress?
    Hashes of expected file:
      - Filesize:200914 [w

[2020-09-30 06:49] testforstephen commented on #106410
thank you @jrieken.

I tried the latest insider at 09-29, looks like the initialize request from vscode client doesn't carry the clientCapability for `textDocument.codeAction.resolveSupport`.

Below is the codeAction capability from LSP initialize params. It doesn't declare the codeAction/resolve support.
[code]

[2020-09-30 06:53] sandy081 commented on #104496
I still see it. Please check if you have configured settings sync store in settings, if so remove it and try.

[2020-09-30 06:53] #104496 closed

[2020-09-30 06:56] chrmarti commented on #107681
Double-checked everything is up-to-date and now it's passing. Must have missed something before. Sorry about that. Closing.

[2020-09-30 06:56] #107681 closed

[2020-09-30 07:00] bpasero opened #107774 "Configuration variables: unsafe file path usage"
The `variableResolver` seems to have a few variables that are derived based on the currently active editor:

https://github.com/microsoft/vscode/blob/b1c54c1483e2dfcf3101f233b3f8f28436127fba/src/vs/workbench/services/configurationResolver/browser/configurationResolverService.ts#L54-L54

The file path casing can be anything and must not necessarily match the casing on disk. As such I think the vari

[2020-09-30 07:02] antonmyrberg commented on #10565
The plugin wasn't was I was looking for, I didn't want to disable all snippets for a lang, just overwrite the existing one.

What I ended up with was just prefixing all my snippets like `>ue` and `>us` (useEffect and useState).
Never collides with the built-ins, but I would really prefer to be able to declare snippets like @ramya-rao-a suggested using `"disableFromExtension": "typescript"` or simi

[2020-09-30 07:03] sandy081 commented on #107741
If I understand correctly, the extension downloads binaries during activation?

[2020-09-30 07:09] sandy081 commented on #107747
Please check the attached gif - at the end after navigating to workspace settings tab and pressing enter, I cannot navigate settings using arrow keys.

![Kapture 2020-09-30 at 09 08 07](https://user-images.githubusercontent.com/10746682/94653905-959c6180-02fc-11eb-96a1-036da9a5a27c.gif)

[2020-09-30 07:10] DinkarSingh commented on #107514
I'm using javascript and even I have tried with java too but Go to function is not working. Well, I have simply open the vs code and write the javascript code but I'm not able to map the method (Go to function). Please if you have any solution please let me know I have tried to install lower version of vs code too but result remain same.

Thank You.
Best Regards,

Dinkar Singh KARANVANSHI
Mob : (+

[2020-09-30 07:11] RevealedFrom commented on #107637
Yes, if I run it using Node (Preview)…, ie type `pwa-node`, the error is not there. I don't have to set `resolveSourceMapLocations`.

[2020-09-30 07:11] jrieken commented on #106410
🤷 idk - that's LSP, not VS Code. Ping @dbaeumer for what version of the LSP client supporting this

[2020-09-30 07:13] chrmarti commented on #107688
Same on Mac (not seen on Linux):
[code]

[2020-09-30 07:14] chrmarti commented on #107568
Also ran it on Mac to get early coverage. Saw #107688, everything else passed.

[2020-09-30 07:15] sandy081 commented on #107712
Thanks for the logs, but I think these were not the ones when the issue happened. In this case logs should contain the entry:

`Turned off sync because of making too many requests to server`

[2020-09-30 07:18] bpasero opened #107776 "Search editor: review potential unsafe editor resource usage"
**Background:** the search editor overrides the editor open behaviour for certain files. It takes the `resource` of the editor here:

https://github.com/microsoft/vscode/blob/46ba25e11d30a9d7477e6c014f7fbcee679d54bc/src/vs/workbench/contrib/searchEditor/browser/searchEditor.contribution.ts#L78-L78

And then later uses that for `parseSavedSearchEditor` and as `backingUri`.

The `editor.resource` pr

[2020-09-30 07:19] LAK132 commented on #96067
It doesn't work with workspace search and replace either. I think vscode is attempting to revert/normalise line endings on save? Maybe it shouldn't do that after a workspace search and replace...

[2020-09-30 07:20] bpasero commented on #107568
@chrmarti thanks a lot!

[2020-09-30 07:20] RevealedFrom opened #107777 "Matches multiple schemas when ony one must validate"
- VSCode Version: 1.49.1
- OS Version: Windows 10 Version 2004

Steps to Reproduce:

I have the following launch.json which was last modified in June 2019:

[code]

All of a sudden, I think after updating to 1.49.1, I get:

Line 7 col 5 is the second `{`.

Does this issue occur when all extensions are disabled?:  No. Came back when C# for Visual Studio Code or PowerShell extension is enabled.

[2020-09-30 07:20] #107568 closed

[2020-09-30 07:23] anupkmr03 commented on #97332
@gauravmak Your readme.md file already contains these URLs, please check readme.md from your extension package it should be look like this.
![image](https://user-images.githubusercontent.com/16070906/94654428-b07dce80-031a-11eb-827a-41cd4c51715e.png)
If it already contains any URL, please remove it and update the extension on portal.

[2020-09-30 07:29] fardolieri commented on #13953
[code]

https://stackoverflow.com/a/60116499/13241345

[2020-09-30 07:29] #107710 closed

[2020-09-30 07:30] bpasero opened #107778 "Search: duplicate results after renaming file to different case"
Steps to Reproduce:

1. on macOS open `file.txt` and search for a word inside to populate search view
2. from the file explorer rename the file to `FILE.txt`
3. trigger search again

=> 🐛 you see 2 results

My feeling is that search somewhere needs to adopt the `IURIIdentityService` to properly de-dupe results that are same.

![image](https://user-images.githubusercontent.com/900690/94655921-a0a4c

[2020-09-30 07:34] bpasero opened #107779 "Comments: review potential unsafe usage of editor.resource"
**Background:** the comments panel uses the active editor resource here:

https://github.com/microsoft/vscode/blob/621ff683e831d0bfc9d7dcf38e2d5880f4b70e3d/src/vs/workbench/contrib/comments/browser/commentsView.ts#L198-L198

And then later uses that for comparing with an element from its model:

https://github.com/microsoft/vscode/blob/621ff683e831d0bfc9d7dcf38e2d5880f4b70e3d/src/vs/workbench/cont

[2020-09-30 07:35] gauravmak commented on #97332
@anupkmr03 That's how it is. Here the current [readme file](https://gist.github.com/gauravmak/6a1739b88dd8cbfbf7ea6e4ca128d41e).

[2020-09-30 07:38] #107703 closed

[2020-09-30 07:39] jrieken commented on #107707
@dbaeumer can you share your extension with me?

[2020-09-30 07:40] isidorn commented on #107699
Already discussed in previous issues. Please search our closed issues.
This is controlled by node and node can not provide a full result unless it's evaluated.

[2020-09-30 07:46] bersbersbers opened #107780 ""Unknown Configuration Setting" extends too far in workspace"
- VSCode Version: 1.49.2, also 1.50.0-insider, 9de65ab77e587cf7ab5dd00ea301cd5431b0f397
- OS Version: Windows 10

Steps to Reproduce:

1. Save this file as ```bug.code-workspace``` and open it:
[code]

This is what you get:
![image](https://user-images.githubusercontent.com/12128514/94657249-7522d600-0301-11eb-9aab-72c1eb207d03.png)

The `"tasks"` entry is incorrectly dimmed out, although hints ar

[2020-09-30 07:54] alexdima opened #107781 "`SymbolTreeInput.resolve` could use something similar to `ProviderResult` and not `Promise`"
Testing #107585

This would make it more friendly and allow to return values synchronously. It would also be nice if a null return value would be interpreted as empty.

[2020-09-30 07:54] isidorn commented on #107665
@roblourens The thing I changed: previosuly pressing `esc` in actionBar would lose focus. I just changed that pressing `esc` should have no immediate effect. It just triggers the [`onDidCancel`](https://github.com/microsoft/vscode/blob/1287f6b14a4c488549ed01f53af11e61b9d5ac73/src/vs/base/browser/ui/actionbar/actionbar.ts#L68) event. So ideally you should be able to listen to this event and do what

[2020-09-30 07:55] alexdima opened #107782 "`SymbolTreeModel.provider` is not optional for an empty result"
Testing #107585

If I want to return an empty result, I still need to return a valid provider (`provider: vscode.TreeDataProvider<unknown>;`).

[2020-09-30 07:58] NikhilGangurde opened #107783 "After closing brackets copy paste content doesn't copy or reopen or paste whole content."
- VSCode about:
[code]
- OS Version: **MAC OS mojave 10.14.5**

Steps to Reproduce:

1. create a <div></div> element put sample content in there may be more to be sure.
2. and close element group copy and try to paste in new or another VS Code file it doesn't copy the whole content only <div></div> and also the closed group doesn't open either.

Does this issue occur when all extensions are disabl

[2020-09-30 08:00] alexdima opened #107784 "References View collapse action is not disabled for empty results"
Testing #107585

Have a `SymbolTreeModel` with empty results. The action is still enabled:

<img width="322" alt="Screen Shot 2020-09-30 at 09 58 51" src="https://user-images.githubusercontent.com/5047891/94658805-98e71b80-0303-11eb-8c13-09964970c539.png">

Compare to the search viewlet:

<img width="162" alt="Screen Shot 2020-09-30 at 09 59 42" src="https://user-images.githubusercontent.com/50478

[2020-09-30 08:07] sandy081 commented on #104626
I suspect this issue is because of path case sensitivity. I do not know how to reproduce it but if you can help me providing some info it would be great.

[2020-09-30 08:19] dbaeumer opened #107785 "Debugger tries to connect when running a npm script"
In a CodeSpace on Github.

<img width="584" alt="capture" src="https://user-images.githubusercontent.com/1931590/94660701-5115c380-0306-11eb-8edf-fb187f51de83.png">

In addition I get a notification to forward a port.

[2020-09-30 08:20] jrieken commented on #107782
closing in favour of https://github.com/microsoft/vscode/issues/107781. I don't think its a real problem to have a provider instance because you have a provider anyways

[2020-09-30 08:20] #107782 closed

[2020-09-30 08:21] fireattack commented on #104626
Sure, let me know what you need.

By the way, the "[sharedprocess] [error] Error: Invalid Resource" error happens when I click the "accept X" button. So the issue that it doesn't be able to load my local python snippet into preview happened before that (the preview file is created at this pah but empty). My original file is at `C:\Users\Administrator\AppData\Roaming\Code\User\snippets\python.json`

[2020-09-30 08:23] MarioCadenas commented on #99492
having the same version on package.json engines and runTests vscode version worked for me

[code]
and

[code]

[2020-09-30 08:31] jashanxoo7 opened #107786 "not able to see go live option"
Issue Type: <b>Bug</b>

as i am using V.S but i am not able to see go live option to preview my work straight from V.S.

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:23:52.277Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8257U CPU @ 1.40GHz (8 x 1400)|
|GPU Status|2d_canvas: ena

[2020-09-30 08:36] fireattack commented on #104626
As for the error in console, I don't have `C:\Users\Administrator\AppData\Roaming\Code\clp\6c3ed5e6192fbbfa4e14c5b119c0f3c1.zh-cn` file. actually, I don't have any files in `\clp\` at all. Not sure why it tried to read something from there.

[2020-09-30 08:42] IntelOrca commented on #99492
My steps are:
[code]
...tests work.
Now launch vscode from start menu, then close it.

[code]

[code]

Gets stuck here.
Adding the following option to my vscode settings fixes it:
[code]

**installed vscode version details:**
Version: 1.49.2 (user setup)
Commit: e5e9e69aed6e1984f7499b7af85b3d05f9a6883a
Date: 2020-09-24T16:29:41.983Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.11

[2020-09-30 08:44] Hellek commented on #107557
I have the same issue for a long time, a year maybe.
Usually it happens after hours of working with vscode. Chance to get an error higher if alot of programs opened in parallel (alot of memory used).
And it always happens when some process is runned, like vue-dev-server

[2020-09-30 08:47] #107781 closed

[2020-09-30 08:50] jrieken commented on #107706
I could cache it but given this is a property (not a function) I think its ok to keep calling it. It is marked as `readonly` which should mean that we expect a constant value.

[2020-09-30 08:50] #107706 closed

[2020-09-30 08:52] sandy081 commented on #107363
I think this is happening because of the issue that Codepsace is using different settings sync service end point for initialisation and a different one for syncing. Hence you (and I am also) are seeing the conflict. We recently fixed this to make sure same end point is used always. You will get this when Codespaces are deployed with new builds.

[2020-09-30 08:52] #107363 closed

[2020-09-30 08:54] andig commented on #107699
Searching through [closed issues](https://github.com/microsoft/vscode/issues?page=2&q=is%3Aissue+label%3Adebug+is%3Aclosed+variable+copy) I have  found https://github.com/go-delve/delve/issues/1190, https://github.com/microsoft/vscode/issues/46288,https://github.com/microsoft/vscode/issues/24769 and https://github.com/microsoft/vscode-go/issues/868.

It seems you're indicating this is controlled b

[2020-09-30 08:55] sandy081 commented on #104626
I would come up with a fix and share the build that has the fix. Let me know if you can help us in validating it?

[2020-09-30 08:55] jrieken opened #107787 "Perf view doesn't show when debugging adhoc"
Testing #107623

* have no launch.json-file
* open app.js which computes `fib(100)` (the expensive way)
* Run Viewlet > Run and Debug > Node.js (preview)
* :bug: the realtime view doesn't show (it does show when running the same app from a lunch.json file)

[2020-09-30 08:56] fireattack commented on #104626
Yeah I can

[2020-09-30 08:56] jrieken opened #107788 "Missing padding in the perf view"
See attached screen capture. The label "CPU 100%/Heap..." has no left padding. The "30s" has also no padding

<img width="230" alt="Screenshot 2020-09-30 at 10 52 42" src="https://user-images.githubusercontent.com/1794099/94664700-7f49d200-030b-11eb-8832-bd215714ff56.png">
Testing #107623

[2020-09-30 08:58] jrieken opened #107789 "Disable or allow DOM/style options when running against node.js"
Testing #107623

* run a node.js app
* select the gear icons and select all options
* for a short while the legend shows all options
* :bug: the view resets to cpu and head. Which makes somewhat sense but then I shouldn't be offered those other options

<img width="1279" alt="Screenshot 2020-09-30 at 10 53 07" src="https://user-images.githubusercontent.com/1794099/94664871-bae49c00-030b-11eb-9a62-

[2020-09-30 08:59] Nafana commented on #107471
@robenkleene  First day looking at the code base, so I could be off on this, but looks like the logic for when "Execute Command" is displayed is in this function:
https://github.com/microsoft/vscode/blob/200296d6e6efba09a84b00003dbdf975ceb93739/src/vs/editor/contrib/links/links.ts#L32

Also, are you planning on doing a PR for this still? If not I can do it.

[2020-09-30 09:01] jrieken opened #107790 "Bad casing for action"
Testing #107623

* open realtime perf view
* hover over the split chart button
* 🐛 the label reads "Toggle realtime split charts".

It should be upper-cased "Toggle Realtime Split Charts"

[2020-09-30 09:01] dbaeumer opened #107791 "Settings editor: File -> Exclude field tabbing issue"
Testing #107610

Add a new exclude pattern. Notice that a lot of stuff is read out that IMO is unnecessary (e.g. workspace name, ....)

[2020-09-30 09:03] joaomoreno commented on #107767
Modification time is something not present in our API nor in Git's model. This will be very hard to achieve.

[2020-09-30 09:03] jrieken opened #107792 "Realtime view doesn't clear when killing debuggee"
Testing #107623

* run app
* terminate app
* the real time view doesn't show an update, e.g should reset itself

<img width="1193" alt="Screenshot 2020-09-30 at 11 02 58" src="https://user-images.githubusercontent.com/1794099/94665562-989f4e00-030c-11eb-9380-a143374f159d.png">

[2020-09-30 09:04] atmaniak opened #107793 "Unable to update via apt : mirror sync in progress ?"
Since a few days i can't update vscode via apt update

- OS Version: Ubuntu 20.04

`E: Failed to fetch https://packages.microsoft.com/repos/vscode/dists/stable/main/binary-amd64/Packages.bz2  File has unexpected size (201047 != 200914). Mirror sync in progress? [IP: 13.66.3.153 443]
   Hashes of expected file:
    - Filesize:200914 [weak]
    - SHA512:a91d388504b56c875620f73b618813be1c127d6bfe9640

[2020-09-30 09:05] jrieken opened #107794 "Offer CPU profiling commands from realtime view"
Testing #107623

I think it would be useful if the real time view offers commands to start/stop CPU profiling. For me that's a natural flow: observe the real time charts, if something is fishy start profiling

[2020-09-30 09:05] JacksonKearl commented on #107734
Potentially... though I'd expect pasting the token to always work. @RMacfarlane would probably know best here.

[2020-09-30 09:05] dbaeumer opened #107795 "I find it very confusing that tab on a focus row doesn't move you to the next row when at the end. It moves to the terminal panel"
Testing #107610

- Focus a row
- tab through the elements
- after being on the tool action the next tab moves you to the terminal tab complete out of the settings editor.

[2020-09-30 09:05] alexr00 commented on #107346
Since this issue comes from the C++ grammar I've moved the issue to that repo: https://github.com/jeff-hykin/cpp-textmate-grammar/issues/507

[2020-09-30 09:05] #107346 closed

[2020-09-30 09:06] bpasero commented on #99492
@IntelOrca tried your steps, works fine for me. Could it be that VSCode is still running after you close it? Does it reproduce with stock settings?

[2020-09-30 09:07] jrieken opened #107796 "Improve working for empty view"
Testing #107623

<img width="347" alt="Screenshot 2020-09-30 at 11 06 21" src="https://user-images.githubusercontent.com/1794099/94665873-00559900-030d-11eb-8a46-4021308773de.png">

The working isn't good. Nuke the double dash and exclamation mark. How about: "This view will show realtime performance stats when an application is runnning"

[2020-09-30 09:08] joaomoreno commented on #107701
Yeah deleted this.

[2020-09-30 09:08] #107701 closed

[2020-09-30 09:10] dbaeumer opened #107797 "Settings editor: search doesn't read the number of matches"
Testing #107610

E.g. 21 Settings Found.

[2020-09-30 09:11] jrieken opened #107798 "Upper bound on time configuration values"
Similar to the lower bound of 500ms you should consider an upper bound. Also, some nice time formatting, like "5.5hrs" instead of "xyz seconds"

<img width="1254" alt="Screenshot 2020-09-30 at 11 09 30" src="https://user-images.githubusercontent.com/1794099/94666252-883ba300-030d-11eb-9541-970ffb3aa245.png">
Testing #107623

[2020-09-30 09:12] subsr97 commented on #107166
I'm facing the same issue.
@leosimoesp Were you able to find the solution?

[2020-09-30 09:12] jrieken opened #107799 "Use seconds as unit for duration settings"
Testing #107623

I'd suggest to use seconds as unit for `debug.flameGraph.realtimeViewDuration` and `debug.flameGraph.realtimePollInterval` cos already the defaults are 30s and 1s respective. Also, the lower bound is half a second

[2020-09-30 09:13] IntelOrca commented on #99492
I checked task manager and there are no code processes running after closing the instance of vscode. It does reproduce with no settings file. My colleague also has the same issue so I don't think it is specific to my installation.

[2020-09-30 09:14] jrieken commented on #107623
Filed a few polish items but I really like this 👏

[2020-09-30 09:14] dbaeumer commented on #107610
I agree with @sandy081. Nice work!

[2020-09-30 09:14] #107610 closed

[2020-09-30 09:17] #107462 closed

[2020-09-30 09:18] bpasero commented on #99492
@IntelOrca can you follow https://github.com/microsoft/vscode/issues/99492#issuecomment-661743191 and print the output here from the run that does not work?

[2020-09-30 09:20] subsr97 commented on #107166
https://github.com/golang/go/issues/41701

[2020-09-30 09:20] isidorn commented on #107699
Correct. I was not aware that you are using the go plugin. Feel free to file an issue in their repository.

[2020-09-30 09:21] Aure77 opened #107800 "Git commit don't keep line break when amend"
If I commit something with Git with a commit message that contains line break and after I tried to amend this commit, VSCode doesn't keep line breaks of original commit.

- VSCode Version: 1.49.2
- OS Version: macOS Calatina 10.15.7

Steps to Reproduce:

1. Commit something in Git with the following message:
[code]

2. Then in `Source Control -> Commit -> Commit Staged (amend)`, a popin show up (_

[2020-09-30 09:26] Aure77 commented on #40295
Still an issue in 2020 ! This bug has been reported in 2017...

[2020-09-30 09:26] #107800 closed

[2020-09-30 09:31] dbaeumer commented on #107688
Actually @joaomoreno help me to track this down. There seems to be something wrong with the workbench view switching. When that test fails you see

<img width="448" alt="capture" src="https://user-images.githubusercontent.com/1931590/94668568-7f000580-0310-11eb-9ae7-554dd04fe568.png">

Observe: the Search viewlet is active but the title shows Explorer.

[2020-09-30 09:32] rohmanhm commented on #107489
Thanks @sandy081, It works!.
I didn't know vscode has that.

[2020-09-30 09:33] nichitapavel commented on #107793
Same here, ubuntu version as @atmaniak, region Tenerife/Spain.

[2020-09-30 09:33] joaomoreno commented on #107688
The smoke tests actually caught something!

![horn](https://media.giphy.com/media/H0mG4bN5BR8OBzPBJX/giphy.gif)

[2020-09-30 09:34] isidorn commented on #107688
Sound the horn of Gondor

[2020-09-30 09:34] Jazzinghen commented on #52855
This happened to me today.

[2020-09-30 09:34] alexr00 commented on #107766
I wasn't able to find such a log locally for myself. @chrmarti or @kieferrm can you share a sample of it? Since it is a `.log` file and it is just being opened by the user, it will automatically get the built in log syntax highlighting.

Some options:
- Find a different log grammar (I'm not in favor of this since I rarely get issues about the log grammar)
- Change what the output looks like a litt

[2020-09-30 09:35] alexr00 commented on #106661
Ok, next time you see the problem, if you could check `process.env.Path` from the VS Code developer tools again that might provide a clue.

[2020-09-30 09:40] bendeg commented on #107793
Same issue here since this morning on 2 debian systems :  Debian GNU/Linux 9.13 (stretch), and the second one is a Debian buster

Réception de:8 http://packages.microsoft.com/repos/vscode stable/main amd64 Packages [201 kB]
Err:8 http://packages.microsoft.com/repos/vscode stable/main amd64 Packages
  Writing more data than expected (201047 > 200914)
  Hashes of expected file:
   - Filesize:200914

[2020-09-30 09:42] IntelOrca commented on #99492
[code]

[2020-09-30 09:43] alexr00 opened #107801 "Listener leak when scrolling PULL REQUESTS view"
1. Scroll aggresivly thourhg the PULL REQUESTS view
2. Notice warning in the developer console

[code]

[2020-09-30 09:46] marsiancba commented on #1214
+1

Problem with mentioned workaround (use 2 glob patterns for js) is that it works only in Explorer but does not work in Search.
In Search it seems to find first glob pattern, then checks `when` and then breaks from loop, so it does not check the second glob/when combination.

[2020-09-30 09:51] isidorn opened #107802 "resourceFolder of a folder is it's parent"
Testing #107638

`resourceFolder` of a folder is it's parent. I find this slightly confusing.
I thought a resourceFolder of a folder resource is itself.

Maybe `resourceDirname` would be a better name to allign better with Node and then users might not be surprised
https://nodejs.org/api/path.html#path_path_dirname_path

Sorry for not providing this feedback earlier. Just my 2 cents

[2020-09-30 09:52] #107675 closed

[2020-09-30 09:53] bpasero commented on #107675
Great catch, whenever pinned tabs change I was only updating the editor that changed, but not the others. Since the border can be on other pinned tabs, I am now going over all tabs to ensure the border is updated properly.

[2020-09-30 09:54] isidorn commented on #107801
author: @isidorn
Just to get notification when this gets closed so I verify it

[2020-09-30 09:57] bpasero commented on #99492
I cannot explain this, after the line `[main 2020-09-30T09:41:10.189Z] windowsManager#open` there should be more output from the window that opens, e.g. I get ` window#validateWindowState: validating window state on 1 display(s)`.

I can try to add more logging to understand why your execution does not result in a window to open.

[2020-09-30 09:58] bpasero commented on #99492
@IntelOrca and do you see the same when you switch to insiders, via:

`await runTests({ extensionDevelopmentPath, extensionTestsPath, launchArgs: ['--verbose'], version: 'insiders' });`

To reproduce I guess you would then first have to start a local installed Insiders.

[2020-09-30 10:01] mustafapc19 commented on #107793
Same ubuntu version 20.04, region: India

[2020-09-30 10:01] infacto opened #107803 "[explorer.sortOrder] Folders first."
The setting `explorer.sortOrder` should allow to sort folders first. Alphabetical order (natual sort), but folders first, then files. Like in Windows file explorer. I'm not sure if this behavior has changed in VS Code. So it's maybe a bug. I see that the root directoy of my workspace is ordered by folders first. But some subfolders not. ...

Demo (actual)

![image](https://user-images.githubuserco

[2020-09-30 10:02] IllusionMH commented on #107786
I guess that you forgot to install [Live Server
](https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer) extension

[2020-09-30 10:03] JensMertelmeyer commented on #10759
So the process of going through the packaging process and keeping a store version up to date is not even worth a few cents from you. And neither is it worth your time for doing it yourself, because you have better things to do.

Fascinating.

[2020-09-30 10:03] alexdima commented on #107740
@egamma

When you say:

How do you rename the file name? Is there a code action that you do or do you do rename from the explorer?

AFAIK the file operations done from the explorer are not undoable (they don't push elements to the undo/redo service).

[2020-09-30 10:04] zaunerc opened #107804 "Debian package repository is broken (Packages.bz2: File has unexpected size)"
The vscode Debian package repository seems to be broken:

[code]
# Environment

- OS Version: Kubuntu 20.04
- Current location: Europe, Austria. Just in case this is a CDN / proxy issue.

# Steps to Reproduce:

1. Add the following repository to your apt sources: `deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main`.
2. Run `$ sudo apt update`.

[2020-09-30 10:15] IllusionMH commented on #107803
/needsMoreInfo

What is your current value for `explorer.sortOrder`? Looks like `mixed` or `filesFirst`, because in other cases folders will be displayed first (works as expected on 1.49.2).
Please check that it's not overridden on folder/workspace level.

Is it reproducible with all extensions disabled?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

[2020-09-30 10:18] asccc commented on #62077
Using `"editor.autoIndent": "advanced",` instead of `"editor.autoIndent": "full",` helped as a workaround.
Its not perfect but at least you'll be able to close HTML tags without re-indenting them every time.

[2020-09-30 10:20] aeschli commented on #107326
Try this:
- `cd vscode-html-languageservice`, `yarn link`
- `cd vscode/exensions/html-html-language-features/server`, `yarn link vscode-html-languageservice`

[2020-09-30 10:24] sujayvenaik commented on #107402
@kieferrm @joaomoreno Can you tell me the exact questions you want information on? I can provide those.
Also if some profiling is needed for my system etc..

[2020-09-30 10:25] IllusionMH commented on #85310
@deepak1556 Do I understand correctly that Electron 9.3.0 contained fix for this one, but was reverted?

[2020-09-30 10:27] IllusionMH commented on #106801
Looks like this was initially caused by Electron 9.3.0 update which was reverted.
Most likely will reoccur after Electron update.

[2020-09-30 10:28] aeschli commented on #107320
I suggest that we tune the heuristic and check whether the extension makes language contributions:
Look for `"activationEvents"` that start with `onLanguage`.
Alternatively we add a new property to the theme contribution `proposeOnInstall: false` (true being the default)

[2020-09-30 10:31] bpasero commented on #106541
Maybe if someone from the people on this issue could verify with todays insider build.

[2020-09-30 10:31] aeschli commented on #107770
Don't change the mode from PHP to HTML. Instead, install a PHP extension:
E.g. https://marketplace.visualstudio.com/items?itemName=bmewburn.vscode-intelephense-client

File issues against the extensions if features are missing.

[2020-09-30 10:31] #107770 closed

[2020-09-30 10:33] bpasero commented on #69746
Verified with extension development, I am not getting intellisense here though:

![image](https://user-images.githubusercontent.com/900690/94674872-1ec19180-0319-11eb-9e9a-9a06732fa7a0.png)

[2020-09-30 10:35] telamonian commented on #79932
@christian-vorhemus You just have to give up and use `"envFile"` to set up your env vars. It is the only way.

I've wasted far too many hours trying to find another one that works consistently

[2020-09-30 10:37] bpasero commented on #107219
Seems fine in https://dev.azure.com/monacotools/Monaco/_build/results?buildId=89410&view=logs&j=3792f238-f35e-5f82-0dbc-272432d9a0fb&t=6ba55b26-6502-59ae-6c43-7e580fa53cb9&l=45

[2020-09-30 10:37] jhpratt commented on #107413
Aren't those icons controlled by the operating system, not the editor?

[2020-09-30 10:39] IntelOrca commented on #99492
If the tests run insiders then it works as it won't conflict with my main release of vscode. However after running my main vscode insiders instance and then running the command line tests that use insiders, I get the same problem still.

[2020-09-30 10:40] MatthewSteeples commented on #10759
@JensMertelmeyer it's not about the money in our case, it's about trust. If Microsoft package up VSCode then I know it'll be the right build. You don't know that the build of PuTTY in the store is taking a copy of all of your private keys and connections and sending them off to the developer. Even if it was free I'd be wary of using it!

[2020-09-30 10:41] bpasero commented on #107688
I just tried this with today's insider build on Windows (Parallels) but could not reproduce.

[2020-09-30 10:42] zaunerc commented on #107804
Duplicate of #107793.

[2020-09-30 10:42] #107804 closed

[2020-09-30 10:43] bpasero commented on #99492
@IntelOrca thanks for trying, I added some more logging but we need to wait for another round of insider builds.

Something to test until then: when you CD into `\.vscode-test\vscode-1.49.2` and simply run the downloaded VSCode from that folder, does it then bring up a window?

[2020-09-30 10:48] alexdima commented on #107677
This also comes up in #107739

[2020-09-30 10:48] #106543 closed

[2020-09-30 10:49] t-schroeder opened #107806 "New search results cleared after search-and-replace operation finishes"
- VSCode Version: 1.49.2
- OS Version: Windows 10 2004

Steps to Reproduce:

1. Use Remote SSH extension to connect to another machine.
2. Open a large project with thousands of files.
3. Do a search-and-replace that affects over a thousand files.
4. While the changed files are being saved perform a new search.
5. As soon as the last file is saved (from the replace operation started in step 3) the

[2020-09-30 10:52] joaomoreno commented on #107688
Yeah @dbaeumer failed to mention this is flaky. Out of the multiple times we ran this while debugging, this repro'd about 50% of the times.

[2020-09-30 10:53] haomingw commented on #107793
same issue for Ubuntu 20.04. region: France

[2020-09-30 10:53] vansul opened #107807 "Cursor Blinking in Integrated Terminal"
I want a option for choosing different cursor blink animation for integrated terminal like in the editor. (Specifically, Expand animation)

[2020-09-30 10:55] aoozdemir commented on #65109
I guess I made my peace with it at some point :) But yeah, the option is there and now we have a choice to select which way we want. Thanks for the comment, closing this issue now.

[2020-09-30 10:55] #65109 closed

[2020-09-30 10:57] sw commented on #106847
@bpasero: the bug is sensitive to the length of the line:
[code]
![image](https://user-images.githubusercontent.com/4478/94676957-6695e800-031c-11eb-9829-3be69ad6538d.png)

[2020-09-30 10:58] joaomoreno commented on #107402
Exact repro steps would be great. A screen recording as well. Detailed version information as well, as per our bug reporting template:

[code]

[2020-09-30 10:59] NikhilGangurde commented on #107783
@jrieken what more info you are required. I posted exactly what the template asked.

[2020-09-30 10:59] yasarsid commented on #92120
@Ciantic  - still awaiting review and merge 👍

[2020-09-30 10:59] joaomoreno commented on #107769
Odd. Never saw it, let me know if you ever get to repro steps.

[2020-09-30 11:00] joaomoreno commented on #107738
I assume you're on Linux?

[2020-09-30 11:01] joaomoreno commented on #107754
This is an upstream Windows issue. Try something like https://www.howtogeek.com/232779/how-to-rebuild-a-broken-icon-cache-in-windows-10/

[2020-09-30 11:01] #107754 closed

[2020-09-30 11:02] Malanius commented on #107793
Same on Ubuntu 20.04.1, region: Czech

[2020-09-30 11:03] arnabanimesh commented on #107413
Editor has to implement the icon though. Then it comes to the user (and OS).
VS Code has its own icons for specific file types (like C, PHP). Currently, there are is no icon for the Rust source code.

[2020-09-30 11:04] joaomoreno commented on #107479
Open Control Panel. VS Code will appear twice. Simply uninstall one of them.

[2020-09-30 11:04] #107479 closed

[2020-09-30 11:05] TomGrooves commented on #107793
Same issue here. Elementary OS 5.1.7 (hera), region: Denmark

[2020-09-30 11:05] #107677 closed

[2020-09-30 11:05] AbdallahNasir opened #107808 "Auto complete converts some import statements mistakenly"
Issue Type: <b>Bug</b>

In notebook editor, try to write
[code]
After clicking Enter to write a new line the Autocorrect will make it
[code]

![screenshot_4](https://user-images.githubusercontent.com/6803217/94677615-e1afcc00-0325-11eb-8339-220d548f1073.png)

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:26:09.944Z)
OS version: Linux x64 5.4.0-48-generic

<d

[2020-09-30 11:06] isidorn commented on #69746
Yeah we do some hacks to get the inteli-sense working in the debug input, and if you have a trailing character things break down a bit...

[2020-09-30 11:06] joaomoreno commented on #107689
Let's just disable render whitespace in the scm editor.

[2020-09-30 11:10] IntelOrca commented on #99492
Yeah, I think it only has the problem when specifying the extension development and testing arguments.

[2020-09-30 11:14] ryanhossain9797 commented on #107413
I think it's upto the `default program` to assign the icon to a filetype.

[2020-09-30 11:22] limonte commented on #107061
From https://github.com/sweetalert2/sweetalert2/issues/2056

[2020-09-30 11:23] limonte commented on #107061
From https://github.com/sweetalert2/sweetalert2/issues/2056#issuecomment-701328165

[2020-09-30 11:24] #107231 closed

[2020-09-30 11:24] #107207 closed

[2020-09-30 11:24] #107178 closed

[2020-09-30 11:24] #106600 closed

[2020-09-30 11:24] #106138 closed

[2020-09-30 11:24] #107020 closed

[2020-09-30 11:30] joaomoreno commented on #107551
After adding a remote, you must first run Git Fetch.

[2020-09-30 11:30] #107551 closed

[2020-09-30 11:31] joaomoreno commented on #107686
@sbatten Did you touch something here lately?

[2020-09-30 11:31] joaomoreno commented on #107686
@saharso Can you reproduce reliably? On any repository?

[2020-09-30 11:32] joaomoreno commented on #107432
@brajjan Have you tried reinstalling VS Code?

[2020-09-30 11:34] joaomoreno commented on #107398
Yeah I've even seen this locally, but failed to repro reliably.

[2020-09-30 11:36] TheZoker commented on #107793
Duplicate of: https://github.com/microsoft/vscode/issues/107773

[2020-09-30 11:37] joaomoreno commented on #106436
`ignore = dirty` only affects the parent repo. And for that VS Code seems to respect it correctly. But the repos, which happen to be submodules in that context, are indeed dirty. More details on https://stackoverflow.com/a/41598706

What would be your suggestion here?

[2020-09-30 11:38] joaomoreno commented on #107009
@SharakPL Please file a separate issue, since it's obviously not the same problem.

@induratized Let me know if you have more details.

[2020-09-30 11:39] jrieken commented on #107677
Thanks!

[2020-09-30 11:40] joaomoreno commented on #107674
By `Synchronise Changes` do you mean the refresh icon atop of the SCM view?

Can you show me the full output of `Git: Show Git Output` **right after** opening the folder in VS Code?

[2020-09-30 11:40] joaomoreno commented on #107589
Closing per https://github.com/microsoft/vscode/issues/98523

[2020-09-30 11:40] #107589 closed

[2020-09-30 11:41] joaomoreno commented on #106485
Can you show me a screenshot of VS Code with the issue?

Are you inside a corporate network environment?

[2020-09-30 11:42] mrwensveen commented on #75141
I'm sorry to bump the issue again, but I couldn't find the bit that I wanted to add to the conversation. After clearing the terminal, when you switch to another terminal and back, the contents are there again. Running `cls` isn't an option for me because I'm looking at the output of several running processes.

My guess is that the cause is the same and that fixing the upstream bug will fix this to

[2020-09-30 11:42] joaomoreno commented on #107125
Yes, uninstalling won't remove extensions or configurations.

[2020-09-30 11:44] isidorn commented on #107728
@roblourens thanks for filling this. However I could not reproduce. I tried openeing the webview-view-sample both from Insiders and from out of source and can not repro.

I pushed a fix looking at the error stack, thanks for that!

[2020-09-30 11:44] #107728 closed

[2020-09-30 11:44] jrieken commented on #107783
Please note that I do not sit next to you. So you need explain steps in great detail. You say

What element? What sample content? What is more? I don't even know the language are trying this with.

and also the closed group doesn't open either.

I don't know what en element is, what is then a group? How do I close that? Do you close the editor? Your laptop lit?

Compare this to playing chess. You

[2020-09-30 11:45] isidorn commented on #107735
Works for me with latest vscode insiders. My steps
1. Open Git OUtput
2. Autoscroll is working

@vchealy what are you oding differently?

[2020-09-30 11:47] dgard1981 commented on #107674
@joaomoreno - I was meaning the sync icon next to the branch name, but the refresh icon you described does the same thing.

Hers is the git output after I open a folder. If there are any uncommitted changes, these are detected at this time. However, future changes are not detected until I refresh in the SCM view.

[code]

[2020-09-30 11:48] jrieken commented on #107808
/extPython

[2020-09-30 11:48] #107808 closed

[2020-09-30 11:50] gjsjohnmurray commented on #107798
Also just spotted the "Visaulizer" typo in that screenshot.

[2020-09-30 11:53] joaomoreno commented on #107674
I'm interested in the actual output, since I suspect there is an issue with the path casing. Please do not replace the actual path with `Open repository: c:\correct-path\to\my\repo`.

[2020-09-30 11:54] joaomoreno commented on #107334
Closing this as designed. We offer the ability to install old versions, but you must change the `update.mode` setting.

[2020-09-30 11:54] #107334 closed

[2020-09-30 11:55] dgard1981 commented on #107674
OK, real path is - `c:\Users\dgard\Documents\Repositories\core-services--transaction-service--function-app`

[2020-09-30 11:55] joaomoreno commented on #107333
You can also reach that action via the F1 command palette and by assigning a custom keybinding.

Closing this as designed.

[2020-09-30 11:55] #107333 closed

[2020-09-30 11:57] joaomoreno commented on #106998
Can you still repro this on the latest Insiders release?

![image](https://user-images.githubusercontent.com/22350/94682202-e58f1e80-0324-11eb-931f-15dd95417596.png)

[2020-09-30 11:58] joaomoreno commented on #106998
Yeah I can confirm this is fixed in `master`.

[2020-09-30 11:58] #106998 closed

[2020-09-30 11:58] joaomoreno commented on #107443
What's the actual issue? Can you show me a screenshot?

[2020-09-30 12:00] #101752 closed

[2020-09-30 12:00] melik65 commented on #106485
![issue](https://user-images.githubusercontent.com/59912391/94682447-a3b6a600-032d-11eb-90c0-7f96bab19770.png)

[2020-09-30 12:02] joaomoreno commented on #107113
That area is exactly the same size as the area of the icons next to it. The area is 32x35 pixels, which is quite a lot. Can you show me a screen recording of the issue?

[2020-09-30 12:02] melik65 commented on #106485
I'm using normaly wifi connection

[2020-09-30 12:12] jrieken commented on #107707
@dbaeumer doesn't reproduce in my sample....

[2020-09-30 12:16] #105512 closed

[2020-09-30 12:20] joaomoreno commented on #107674
OK let's try this then:

1. Set `Developer: Set Log Level` to `Trace`
2. Open the folder
3. Run `Git: Show Git Output`
4. Make changes on a file
5. Hit the refresh icon

And send me entire, unaltered git log file.

[2020-09-30 12:25] alexr00 opened #107809 "Can only undo one notebook workspace edit that toggles the `editable` metadata"
Testing #107622

I have this edit that is executed in a command:
[code]

I ran the command several times.

The little lock icon indicating editable state toggled each time I ran the command ✔

I hit undo a few times. I expected the lock to toggle several time. However, the editable state only toggled once. 🐛

[2020-09-30 12:26] dgard1981 commented on #107674
Output as requested -

[code]

[2020-09-30 12:28] joaomoreno commented on #107659
@deepak1556 Might you perhaps know if this is a new dependency?

@tigert What VS Code version is this?

[2020-09-30 12:30] bpasero commented on #107688
Ok I let @sbatten decide if this is something for September then or not.

[2020-09-30 12:30] joaomoreno commented on #107674
This is interesting, no file events happen at all. Can you see if there are any file event logs in `Output --> Log (Window)` when you touch a file?

[2020-09-30 12:31] anupkmr03 commented on #97332
@gauravmak Can you retry uploading extension again and before you do this please verify that all your regex expressions in readme file are as expected. Let us know if the issue persists even after that.

I just copied the readme file from your repo and uploaded on our test environment it looks fine.

[2020-09-30 12:34] joaomoreno commented on #107377
@isidorn This is a bug on the Explorer, something broke here lately.

Steps:

1. Click on a file
2. Press <kbd>ArrowDown</kbd>, <kbd>Enter</kbd>

The second file should be selected, but the first remains selected.

![recording (5)](https://user-images.githubusercontent.com/22350/94685620-f8f0b880-0329-11eb-8b31-a9b5408aa5a7.gif)

[2020-09-30 12:36] goda commented on #106541
Downloaded insider build and I've verified that the issue is no longer present on my machine.

Version: 1.50.0-insider
Commit: 0c50e1db17168a738235bd7e5c02b9f05ea5df59
Date: 2020-09-30T06:45:45.996Z (5 hrs ago)
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.5.0

[2020-09-30 12:37] joaomoreno commented on #107661
Can you show me the full error? Maybe a screenshot?

[2020-09-30 12:38] joaomoreno commented on #107452
https://github.com/microsoft/vscode/issues/104945

[2020-09-30 12:38] #107452 closed

[2020-09-30 12:39] joaomoreno commented on #105346
Let's move this to cleanup month: October.

[2020-09-30 12:41] joaomoreno commented on #93308
@sandy081 Let's remember this next time we sit together. We already know it's related to fractional scrolling.

[2020-09-30 12:42] alexr00 opened #107810 "Undo of replaceNotebookCellOutput doesn't do anything"
Testing #107622

I have this workspace edit, where `i` increments each time the edit is run:
[code]

I applied the edit several times and watched the output change ✔

Then I hit undo several times, expecting the output to change. It didn't change. 🐛

[2020-09-30 12:43] joaomoreno commented on #75443
Actually closing this as designed. The workspace/folder name should appear in the windows title, that should help. Apart from that, hovering over the repository names should show you their full path.

[2020-09-30 12:43] #75443 closed

[2020-09-30 12:43] dgard1981 commented on #107674
These are the logs around me opening, editing and saving a file from `Log (Window)`.

[code]

[2020-09-30 12:45] bpasero commented on #99492
I just checked and our startup arguments are identical except for the paths. When you manually start that VSCode with the same arguments, does it then also fail? Speaking of `--extensionDevelopmentPath` and `extensionTestsPath `

[2020-09-30 12:46] bpasero commented on #106541
Thanks!

[2020-09-30 12:48] joaomoreno commented on #107674
OK. So is `Z:` an alias to `c:\Users\dgard\Documents\Repositories`?

[2020-09-30 12:51] joaomoreno commented on #107377
@isidorn This can easily be fixed by deleting this code: https://github.com/microsoft/vscode/blob/b1c54c1483e2dfcf3101f233b3f8f28436127fba/src/vs/workbench/contrib/files/browser/fileCommands.ts#L147-L163 It appears it's no longer needed, given the reworkings of list commands, the `list.select` command should work just fine in the explorer.

[2020-09-30 12:52] isidorn commented on #107377
@joaomoreno I just checked stable and we also behave the same there.
So what I see is thta when you press `Enter` focus gets moved to the editor area. Thus the tree no longer has focus, and I thought that the tree only renders selection then.
If after your steps I do `F1 > Focus on Folders View` you can see that the focus is preserved.

Ok now you commented again, let me see what removing that cod

[2020-09-30 12:54] joaomoreno commented on #107147
This is hard to prevent upfront and native dialogs handle it gracefully.

![image](https://user-images.githubusercontent.com/22350/94687681-df9d3b80-032c-11eb-9563-50407ea0423d.png)

@sbatten Could custom menus do the same?

[2020-09-30 12:55] Orum opened #107811 "Code folding does not collapse to terminating bracket"
- VSCode Version:  1.49.1
- OS Version: Linux x64 5.8.6-1-MANJARO

Steps to Reproduce:

1. Create a source file in a bracketed language, e.g. C++.
2. Add a comment similar to that shown here: ![source](https://files.catbox.moe/znu2eh.webp)
3. Attempt to collapse the code block, and notice it doesn't collapse to the terminating scope.

Does this issue occur when all extensions are disabled?: Yes

[2020-09-30 12:55] isidorn commented on #107377
You are correct I can remove that command, however I introduced it explicitly to fix this issue https://github.com/microsoft/vscode/issues/104783

Since when removing the command that issue no longer reproduces I will simply remove the command as you suggest.
Thank you!

[2020-09-30 12:57] alexr00 commented on #107622
I tested the following:
- Delete/Replace cells
- Update cell outputs
- Update cell metadata
- Undo/Redo after workspace edits
- Performance (e.g., #107613)

I used this API to replace and delete cells:
https://github.com/Microsoft/vscode/blob/4482c8794fa5e6b77ae08be69784352b8cde32ea/src/vs/vscode.proposed.d.ts#L1437-L1437

I could not find a way to delete cells.

[2020-09-30 12:57] #103073 closed

[2020-09-30 12:58] joaomoreno commented on #107377
Are you sure? The `list.select` handles that keyboard shortcut too:

https://github.com/microsoft/vscode/blob/78b0d0a446681dd4a98ced495be2ea81bc9b8708/src/vs/workbench/browser/actions/listCommands.ts#L536-L536

Can you check what gets run instead of the `list.select` command on macOS?

[2020-09-30 13:00] isidorn commented on #107377
@joaomoreno in that case the selection does not change. And the select event probably does not fire. Read the description of that issue carefully

"open a file with the mouse
press Cmd+ArrowDown"
So you are pressing cmd+arrowdown on an already selected file

[2020-09-30 13:00] joaomoreno commented on #107377
The problem seems to be that the code that reveals in the tree the opened text editor file is not working in this case, since all your command does is open a file. Notice in the GIF how that reveal feature works just fine when I use the command palette to switch files. But it just seems not to work at all when going through your custom command.

[2020-09-30 13:00] isidorn commented on #107377
Yeah. I agree, that seems to be the issue.

[2020-09-30 13:01] joaomoreno commented on #107377
Oh. Yeah that's the thing. Yeah you need a custom command for that.

[2020-09-30 13:04] isidorn commented on #107377
Found the issue, pushing fix...
THanks for the help

[2020-09-30 13:06] #107377 closed

[2020-09-30 13:06] Subhash-subh1 opened #107812 "Toogle Word Wrap"
Issue Type: <b>Feature Request</b>

When I click on Toogle Word Wrap option but that option not activate. please tell me how I activate that

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:29:41.983Z)
OS version: Windows_NT x64 10.0.19041

[2020-09-30 13:07] isidorn commented on #107377
@Neutrino-Sunset `list.select` unfortunetly does not work in the explorer (you can read our discussion from above). You need to use the following command `explorer.openAndPassFocus`

[2020-09-30 13:08] #107715 closed

[2020-09-30 13:08] isidorn commented on #107580
@rebornix friendly ping
Also @roblourens or @jrieken might have more details

[2020-09-30 13:09] dgard1981 commented on #107674
Correct, I map a drive to avoid issues with long paths/names. The issue that you have linked does indeed seem to be what is affecting me.

I haven't purposely updated Git, but I was running `2.28.0.windows.1` - not sure if that came from the VS Code update?

The linked issue suggests that the problem was introduced in `2.25.0`, so I downgraded to `2.24.0.windows.2` and proper functionality has bee

[2020-09-30 13:09] #107674 closed

[2020-09-30 13:15] aeschli commented on #107811
@Orum Are you using the C++ extension? If yes, this is issue https://github.com/microsoft/vscode-cpptools/issues/5523

If you do not have an extension that provides language aware folding, then VSCode falls back to indentation based folding.

[2020-09-30 13:15] #107811 closed

[2020-09-30 13:23] sandy081 commented on #107320
Checking for language contributions seems to be a smarter 👍

[2020-09-30 13:27] dbaeumer commented on #107706
Makes sense

[2020-09-30 13:31] MaximoTrinidad commented on #3451
The resolution to this issue has been around for a few years now.
I'm not sure ***WHY*** forcing us to continue to manually fix it ourselves. This should have been resolved a long time ago.
;(

[2020-09-30 13:34] IntelOrca commented on #99492
Yep, just `"Code - Insiders.exe" --extensionDevelopmentPath=C:\git\vscode-test-bug\test-99492` is enough to get it to hang.

[2020-09-30 13:35] alexr00 commented on #107457
@kieferrm I would expect that to have been fixed by https://github.com/microsoft/vscode/commit/2a77a2f7a5d596b2903ff91f4ebb23ceb3d3ce56, but you encountered this on a later build. I can't get the issue to repro, are there any additional steps?

[2020-09-30 13:39] lhude commented on #105046
Hello,
Windows 10 version 2004 is the version deployed in my company, and all VS Code users experience this problem.
Downgrading Windows version is not an option here.
I don't understand why this issue has been closed.

[2020-09-30 13:43] Alexzanderk commented on #107572
@mjbvz any updates?

[2020-09-30 13:50] udaykapur commented on #107773
Same issue here since the last 2 hours approximately - just did a clean install of Ubuntu 20.04.01 and installed VS code using the `.deb` file.
Region - Australia.

[2020-09-30 13:55] Neutrino-Sunset commented on #107377
The default configuration appears to be that both `list.select` and `explorer.openAndPassFocus` are already bound to `Enter`.

But I don't understand though. What do I need to do in order to be able to open a file in Explorer using the keyboard and have the correct file appear selected? Do I need to rebind `explorer.openAndPassFocus` to another key or something?

[2020-09-30 14:00] SharakPL commented on #107009
@joaomoreno what makes you so sure it's not the same? It's all about updating git changes in explorer and it all started around the same time. I honestly think there's no point in creating another issue for this just to have it closed later   with follow-up back in this one. Please, confirm you want separate issue for this.

[2020-09-30 14:09] farhanpurdi opened #107813 "repo broken?"
- VSCode Version: 1.49.2
- OS Version: Linux x64 5.8.0-kali2-amd64

E: Failed to fetch https://packages.microsoft.com/repos/vscode/dists/stable/main/binary-amd64/Packages.bz2  File has unexpected size (201420 != 200914). Mirror sync in progress? [IP: 52.230.121.169 443]
   Hashes of expected file:
    - Filesize:200914 [weak]
    - SHA512:a91d388504b56c875620f73b618813be1c127d6bfe96406cc6e9a39fdf3

[2020-09-30 14:11] kieferrm commented on #107457
@alexr00 unfortunately not.

[2020-09-30 14:14] dbaeumer commented on #107764
Fixed in ESLint repository.

[2020-09-30 14:15] #107764 closed

[2020-09-30 14:15] kieferrm commented on #107766
Here is an example:
[remoteContainers-2020-09-30T01:05:59.055Z.log](https://github.com/microsoft/vscode/files/5306122/remoteContainers-2020-09-30T01.05.59.055Z.log)

[2020-09-30 14:17] sws144 opened #107814 "Jupyter Interactive Cells Do Not Work with August 2020 update"
Issue Type: <b>Bug</b>

Cannot click "Run Cell" etc. in actual python script, or it does not show up.
Issue in latest August 2020 release.

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:09:08.021Z)
OS version: Darwin x64 19.6.0
Remote OS version: Linux x64 5.3.0-1035-aws

<details><summary>Extensions (9)</summary>

Extension|Author (truncated)|Version
---|--

[2020-09-30 14:20] nagulvali555 commented on #78138
Facing same issue. - is there any fix or workaround for this. it's annoying to keep pressing reopen button.

[2020-09-30 14:20] infacto commented on #107803
This was weird. Now it works. Because I removed the entry `mixed` from the user settings.json. 😄 This is not trolling. Please believe me: I tested this multiple times. I edit the settings.json. And duplicate entries are highlighted in VS Code. I can swear that this was not set. This setting is maybe from my tests for this issue. This means it was not set before. But now, I'm not 100% anymore. The

[2020-09-30 14:20] #107803 closed

[2020-09-30 14:31] dbaeumer commented on #107762
You can also click on the status.

[2020-09-30 14:34] andronat commented on #107398
I reproduce it consistently in Remote-SSH 😕

[2020-09-30 14:42] gabgagnon commented on #106537
I had the same problem. Many of you restarted VScode so i tried it and it solved the problem. Thanks you guys.

[2020-09-30 15:00] hunghw commented on #107753
I would like to give this a try.

[2020-09-30 15:07] abique commented on #40233
This proposal is simple and very good. Why isn't it done already?
It is taking years to do such a simple thing, this is plain bullshit.

[2020-09-30 15:11] minemax-ua commented on #107793
The same issue. Debian Bullseye.

[2020-09-30 15:16] connor4312 commented on #107785
What is your auto attach setting?

Forwarding is covered by https://github.com/microsoft/vscode/issues/107243

[2020-09-30 15:19] alexdima commented on #107739
An independent extension that creates the same workspace edits:

* `AppTest.java`:
[code]

* `package.json`:
[code]
* `index.js`:
[code]

[2020-09-30 15:23] #107777 closed

[2020-09-30 15:23] connor4312 commented on #107623
Thanks! :)

[2020-09-30 15:26] Maldaris commented on #106436
For example: Given a `.gitmodules` file with the content:
[code]

and the `deps/zlib` submodule properly initialized, but with files added/updated within the directory (ie from the build), the git integration should not display changes from that

An example screenshot from the project which demonstrates the issue in practice:
![image](https://user-images.githubusercontent.com/1953773/94706060-b753

[2020-09-30 15:26] rebornix commented on #107647
Interesting I was using the fallback used by text diff editor

https://github.com/microsoft/vscode/blob/01f9355f655710c10c356ebae66b8070bbfa0566/src/vs/workbench/api/browser/mainThreadEditors.ts#L352

but maybe it's never used as git always provides a label.

[2020-09-30 15:28] kirafadhil commented on #107793
same issue on eos 5.1.7 hera

[2020-09-30 15:29] alexdima commented on #107739
When autosave is off, the problem here is that the `RenameOperation` invokes `IWorkingCopyFileService.move`. That ends up calling `IModelService.updateModel` and that pushes an undo/redo element to the undo/redo service. This is really bad news, because an undo/redo element should not push to the undo/redo service as part of executing/undoing/redoing.

The undo/redo stack looks like this after the

[2020-09-30 15:35] jozsefk9 commented on #107793
Same issue here. KUbuntu 20.04.1. Region: Serbia.
`E: Failed to fetch http://packages.microsoft.com/repos/vscode/dists/stable/main/binary-amd64/Packages.bz2  File has unexpected size (201420 != 200914). Mirror sync in progress?`

[2020-09-30 15:40] alexdima opened #107815 "`RenameOperation` always saves before applying"
See https://github.com/microsoft/vscode/issues/107739

We should discuss how we want to approach applying a rename operation to a dirty text buffer, because today moving a dirty text buffer results in a stack element being pushed to the undo/redo service, which is unexpected when the move is executed as part of a workspace edit rename operation.

[2020-09-30 15:42] alexdima commented on #107739
I've created https://github.com/microsoft/vscode/issues/107815 so we follow up and think of what to do to be able to remove the `save` from the `RenameOperation`.

[2020-09-30 15:42] #107739 closed

[2020-09-30 15:48] IlyaBiryukov commented on #107460
Repro:
1. Install Live Share extension in VSCode
2. Start Live Share session: Live Share viewlet -> Share (Read/Write)
3. That will create a URL and copy it to clipboard
4. Paste that URL in the browser
5. Do not open an app and instead click on "Join Live Share session from the browser" link.
6. VSCode in the web opens and joins the session
7. Check out the extensions viewlet

All extensions show

[2020-09-30 15:49] GaryBoone opened #107816 "Add update button to left panel"
Issue Type: <b>Bug</b>

VSCode frequently needs to restart to update when the default Update: Mode is active. The result is a daily blue icon on the settings gear in the lower left of the window. That then requires 1) selecting the gear icon, 2) dragging down to the bottom of the menu, 3) holding while the menu scrolls up because the update item is off-screen, 4) selecting "Restart to update".
Not

[2020-09-30 15:56] michelerenda2 opened #107817 "slow performance"
Issue Type: <b>Performance Issue</b>

When i do a retrieve my pc doesn't work, it is almost stucked!

VS Code version: Code 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a, 2020-09-24T16:29:41.983Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8565U CPU @ 1.80GHz (8 x 1992)|
|GPU Status|2d_canvas: enabled<br>fla

[2020-09-30 15:57] rgpkms opened #107818 "Accessibility challenges while navigating and reading in vscode"
I am currently using windows10(Microsoft® Windows® Operating System Version 10.0.19041.329), vscode(Visual Studio Code Version 1.49.2), JAWS 2020 screen reader for reading code in vscode. I have encountered the following issues:
1. In order to navigate and read character by character we require to press right arrow key to move to next character and left arrow key to move to previous character. But

[2020-09-30 15:57] MashaMSFT commented on #107333
sure, i could work around this issue, but it doesn't change the fact that this change is annoying, making ppl do extra things to accomplish the same task is annoying, whenever i push to origin now, i sigh in annoyance. no, it's not a big deal, yes there is a workaround, but i think it should at least be noted that it's having this impact to ppl, and if a lot of ppl say the same thing, at least the

[2020-09-30 15:57] RomanVanLoo commented on #46505
+1

[2020-09-30 16:08] wasserman commented on #107443
![image](https://user-images.githubusercontent.com/6733448/94710547-fc2d7980-0314-11eb-8d8b-2ac4ec326139.png)

I'm not sure how to reproduce it once the 1.43 version was installed.  But I do have the same issue with the current Insiders build too.

![image](https://user-images.githubusercontent.com/6733448/94711072-a4434280-0315-11eb-8d70-8ce275b76df1.png)

[2020-09-30 16:15] RiccardoManfrin commented on #28795
Same here

[2020-09-30 16:16] minemax-ua commented on #107793
Well, it looks like it's fixed now. :)

[2020-09-30 16:17] connor4312 commented on #107796
I think I will just have it say "No data available yet". The title says "realtime performance" and it's in the debug view which is otherwise mostly inactive without a running session, so restating that is redundant.

[2020-09-30 16:17] sbatten commented on #107686
@joaomoreno nope, and this is 1.49.1 so I really don't know.

@saharso can you right click `SOURCE CONTROL` and show all hidden views (if there are any) in case there is some context missing here?

[2020-09-30 16:18] PavelSosin-320 commented on #107485
Please, check that your WSL distro rootfs virtual disk is in %LOCALAPPDATA%\Packages\<PackageFamilyName>\LocalState\<disk>.vhdx as it is described in [WSL2 ditro](https://docs.microsoft.com/en-us/windows/wsl/compare-versions).
Record this location for future - if will need to maintain, compress, etc. Linux FS vhdx you will need to cd to this location.
It was WSL2 bug in some distros - vhdx with ro

[2020-09-30 16:31] cstodor opened #107819 "TS Server fatal error: Invalid or unexpected token"
We have written the need
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.0.3

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**

[2020-09-30 16:38] eamodio opened #107820 "Update webview view's urls to contain the extension id like normal webviews"
Testing #107626

I was using the following in my `launch.json`:

[code]

And was unable to get js-debug to debug my new webview view (although normal webviews worked fine). @connor4312 pointed out the `urlFilter` and when I removed that everything worked.

Looking at the urls attached, you can see the difference between a normal webview and the webview view:

![image](https://user-images.githubuse

[2020-09-30 16:38] connor4312 commented on #107820
Thanks, I was just about to open this issue 🙂

[2020-09-30 16:41] atkuzmanov commented on #86003
I would like to have that feature added to VSCode if it is to become my default text editor. This feature is essential to me and I use it all the time. Thanks for the hard work!

[2020-09-30 16:42] arisdanang commented on #107702
[image: Screenshot (534).png]
[image: Screenshot (535).png]
[image: Screenshot (536).png]

Pada tanggal Rab, 30 Sep 2020 pukul 01.25 Rob Lourens <
notifications@github.com> menulis:

[2020-09-30 16:43] ppazos opened #107821 "Git conflict resolution "accept both changes" deletes lines not related with the conflict"
- VSCode Version:1.48.2
- OS Version: Linux Mint 19.3

Steps to Reproduce:

1. I merged a repo and had conflicts
2. For a conflict I clicked on "accept both changes"
3. It did nothing so I clicked again, each time I clicked it deleted some lines not related with the conflict
4. Needed to undo everything and go back to fix manually (accept local, and accept incoming work as expected, but there is s

[2020-09-30 16:45] xz348 opened #107822 "Slow startup - spending too much time on start => app.isReady"
I've searched for a solution but my case seems to be really rare: the application starts in about 10 seconds and the first part, start=>app.isReady, costs over 80% of the total time.

All extensions disabled. Application started with an empty workspace.

## System Info

* Code: 1.49.2 (e5e9e69aed6e1984f7499b7af85b3d05f9a6883a)
* OS: win32(10.0.19041)
* CPUs: Intel(R) Core(TM) i7-9700K CPU @ 3.60GH

[2020-09-30 16:52] unode opened #107823 ""Insert line above" indents incorrectly when there is a blank line above"
### Note

This is a continuation of #28505 which has been closed/locked due to inactivity.

- VSCode Version: 1.45.0
- OS Version: Linux x64 5.7.16

#### Summary

When the line above the cursor is empty and contains no indentation, opening a new line with <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Enter</kbd> results in an unindented line regardless of indentation in surrounding context.

#### Steps to

[2020-09-30 16:55] unode commented on #107823
Tagging @rebornix as a possible reviewer after involvement in the original issue.

[2020-09-30 16:58] pragyamehta commented on #107741
Yes, that is correct. We use the file downloader here [https://github.com/microsoft/vscode-file-downloader-api](url) to download the binaries.

[2020-09-30 16:59] eamodio opened #107824 "Updating the title of a webview view doesn't always update when in the panel"
Testing #107626

When a webview view is in the panel (as its own entry), the updates to the title don't always take effect. I haven't yet figured out when this happens, but it seems to happen often after a window reload when the webview in the panel is focused and the title is updated automatically.

I've also seen the panel "tab" selected state stick as well (where it looks like that webview view

[2020-09-30 17:01] eamodio commented on #107824
Since posting this, I've gotten this to happen with a normal view (that dynamically updates its title), so this seems like it isn't webview specific.

Here you can see that the GitLens File History isn't focused, but it still looks like it is -- and even when I switch to it, the tab title doesn't get updated with the filename as it should.

![image](https://user-images.githubusercontent.com/641685

[2020-09-30 17:03] roblourens commented on #107747
Are you expecting "enter" to move focus from the tabs to the settings editor or "down" to move focus back?

[2020-09-30 17:05] roblourens commented on #107665
I want to be able to trigger a command with escape in the normal way, so I want actionBar to not intercept escape at all. I'll add an option or that

[2020-09-30 17:06] TheMisir opened #107825 "Debug toolbar placement"
First of all I'm sorry for open ended issue / description.

I think placing debug toolbar on somewhere (eg: debug panel, status bar, or title bar) would be nice than placing over tab bar. Sometimes it's really frustration to move debug toolbar around to check which tab is open or checking code below toolbar (check #9315). I'm not good at UI design but I think current design have some flaws.

Here'

[2020-09-30 17:07] roblourens commented on #107795
This is by design. Previously it worked this way and was impossible to tab out of the settings editor. Now it works more similarly to other editors as a tab target and doesn't keep your cursor forever.

[2020-09-30 17:07] #107795 closed

[2020-09-30 17:09] #107647 closed

[2020-09-30 17:12] rebornix commented on #107580
@isidorn the notebook list view contains a webview, which will be destroyed when reparenting it so we have to render notebook list out of the grid view. That's why the notebook list view is not part of `parts.editor`. Do you have any suggestion what we should do here to support F6?

[2020-09-30 17:12] Jeowulf opened #107826 "Ability to skip next instance of word highlighting when using CMD + D"
When using CMD + D to skip-to and highlight the next instance of the word a user has highlighted, it would be nice to be able to skip over an instance (for any of many reasons, but all of which boil down to not wanting the next instance of the word included in this multi-selection) by either adding in a third key to the press binding or using CMD + another hot key. When using this alternative duri

[2020-09-30 17:16] roblourens commented on #107702
It looks like you emailed them again, that won't work

[2020-09-30 17:16] rebornix commented on #107011
It's no longer needed in comment list, thanks!

[2020-09-30 17:16] #107011 closed

[2020-09-30 17:17] GitauHarrison commented on #48659
I created a .env file in my application hosted in my Ubuntu Virtual Machine, but I also get the pop up error message:

"Failed to save '.env': Unable to write file 'vscode-remote://ssh-remote+default/home/ubuntu/my_project/.env' (NoPermissions (FileSystemError): Error: EACCES: permission denied, open '/home/ubuntu/my_project/.env')"

How to gain access and being able to solve this is something I w

[2020-09-30 17:19] claudiaregio commented on #104095
+1 Customer reached out to me saying they're still currently experiencing this issue.

I am also still experiencing this issue and now am getting an error in the bottom right.

![image](https://user-images.githubusercontent.com/19276747/94718228-4e1ad300-0306-11eb-99b7-0648acdd63ad.png)

[2020-09-30 17:20] GitauHarrison commented on #48659
Thanks. But I do not understand how this works or what to do.

[2020-09-30 17:25] KushalSM commented on #107793
Yes for sure...
Same problem:
Zorin OS 15.3, India

[2020-09-30 17:25] eamodio opened #107827 "WebviewView.onDidChangeVisibility isn't firing properly"
Testing #107626

Often when you move a webview view between the panel and sidebar or from a sidebar view into a new sidebar group, the `onDidChangeVisibility` only fires once, and when it fires the `visible` property is set to false. Even though the view is visible.

[2020-09-30 17:26] mjbvz commented on #107819
Please fill in the issue template with details about the problem

[2020-09-30 17:27] nrclark commented on #62725
+1 on this!

[2020-09-30 17:29] 7ranceaddic7 commented on #107539
Can confirm.

[code]
![image](https://user-images.githubusercontent.com/4062616/94719244-c7ff8c00-0307-11eb-89ff-867deb3db41f.png)

[2020-09-30 17:31] vinodkumarpatlolla opened #107828 "vs code is not working and extension are always shows disable"
in my laptop vs code is not working and while open vs code always shows extension disable and all software like java, python also installed but showing error  with this problem  every time showed any error I don't know what happened in a laptop I  did reinstall vs code but the same problem occurred

[2020-09-30 17:31] sbatten opened #107829 "Disabling last item is not smooth"
Testing #107623

I see that when you disable the last item in the graph, on the next tick, the first 2 items are re-enabled. The interaction feels choppy and almost like a bug. I would think it is not necessary to do this, allowing an empty graph should be okay. If we must show something, I think the interaction should instantly change state.

[2020-09-30 17:33] deepak1556 commented on #85310
Yup reverted it for https://github.com/microsoft/vscode/issues/106801 to be addressed in next milestone.

[2020-09-30 17:36] Aarbel commented on #46505
🍿
2 years after

[2020-09-30 17:39] mjbvz commented on #107572
This is expect because you've defined separate projects: one for `test` that does not include `a` and one for `app` that does.

Either restructure your projects or use [project references](https://www.typescriptlang.org/docs/handbook/project-references.html)

[2020-09-30 17:39] #107572 closed

[2020-09-30 17:45] #107662 closed

[2020-09-30 17:45] #107797 closed

[2020-09-30 17:46] biosmanager commented on #106677
@nathan130200 @m6502 I also think virtual space is an essential feature of any text editor and should be implemented with utmost priority!

[2020-09-30 17:46] buster95 commented on #45177
Is this feature planned??, they should consider the possibility to show files in workspace root tree

[2020-09-30 17:48] isidorn opened #107830 "Do not use toString uri comparison"
`extUri.isEqual`

[2020-09-30 17:49] connor4312 commented on #107829
Are you doing this through the quickpick or by clicking items inside the view?

[2020-09-30 17:51] isidorn commented on #107377
The bug was that it did not appear selected. I have pushed a fix for that.
You only need to rebing explorer.openAndPassFocus if you want to use a custom keybinding.

[2020-09-30 17:56] tonycheang commented on #107742
Thanks for the explanation. I don't normally use tab to select completions, so the ambiguity there slipped my mind--makes sense why the default requires the user to opt in.

Related note: should `snippetsPreventQuickSuggestions` disable completions within snippets entirely, regardless of extensions' trigger character set? It seems a bit surprising our plugin could override the setting's behavior b

[2020-09-30 17:56] cmario92 opened #107831 "Sort Settings by Release Date"
As I user, I want the ability to sort the settings, by Release Date.

It is very hard to keep up with the Roadmap, commits and Release Notes(Insiders?) for every update we get(daily). Sorting the settings by the timestamp added, we will be able to figured out what was added, as well as what was not modified/tweaked for our projects in VSCode.

[2020-09-30 17:58] isidorn commented on #107580
@rebornix is there some service which can tell me if the focus is in the notebook?

[2020-09-30 17:58] isidorn commented on #107825
Please use the following setting 	`"debug.toolBarLocation": "docked"`

[2020-09-30 17:58] #107825 closed

[2020-09-30 17:59] mabhay3420 opened #107832 "preview of editor when changing changing color theme"
When changing color theme in vscode by manage-->color theme or (ctrl + K + T) we do not get preview of editor. We need to apply theme and if we don't like it we need to change it again. If preview of editor is made available it would be a good small step towards making the editor more user friendly.

[2020-09-30 18:00] sandy081 commented on #107747
I expect after `enter`, down arrow to navigate settings.

[2020-09-30 18:03] #107832 closed

[2020-09-30 18:03] sbatten commented on #107829
items in the view

[2020-09-30 18:04] sbatten opened #107833 "Hovering some x-value on the graph should show the y-values at that position"
Testing #107623

I know that the goal is to keep this graph lightweight by not using any libs, but a thing I am missing is the ability to look at  historical values on the graph easily with hover.

[2020-09-30 18:04] isidorn commented on #107818
@rgpkms thanks a lot for providing feedback.
Here's a similar issue https://github.com/microsoft/vscode/issues/90578

If you use NVDA it would be great if you can check if you reproduce this with NVDA?
Apart from that it would be great if you check if you can reproduce this behavior with just Chrome textArea, for example this site has a textArea https://bocupp-microsoft.github.io/sample-code/texta

[2020-09-30 18:07] misolori opened #107834 "Operators not working in the when clause with resourceFolder"
Testing #107638

Using the [same example](https://github.com/microsoft/vscode/issues/107725), I changed the `when` clause to:

[code]

So that means that the command should only appear on everything that doesn't match the list in `supportedFolders`. And it does not appear to work as I am getting the command on every item.

[2020-09-30 18:07] #107638 closed

[2020-09-30 18:08] sandy081 commented on #106160
This is expected. Preview shows all entries in the file and not specific to an entry and the action perform replace on selected entry.

[2020-09-30 18:08] #106160 closed

[2020-09-30 18:11] rebornix commented on #105923
This original bug was verified by @isidorn and we don't have any further changes.

[2020-09-30 18:11] #105923 closed

[2020-09-30 18:11] ccarlsonpb commented on #106139
So I managed to have it crash under different circumstances. This time, I attempted to format my document (SHIFT + ALT + F) and it died, but additionally, it also failed to restart afterwards. One thing I noticed was that my CPU usage was maxed out after it crashed, with vscode being the main culprit. Docker also failed to restart, but once I killed docker, I was able to restart vscode, and resour

[2020-09-30 18:11] eamodio commented on #107834
That `when` clause is saying anytime `resourceFolder` is set to anything other than "supportedFolders" it should show. Only the `in` operator supports the dynamic lookup

[2020-09-30 18:12] #107834 closed

[2020-09-30 18:12] sbatten commented on #107833
i now see that if you have the bottom items compact that this does show the hovered text, but that is not intuitive. I don't understand why they would behave differently.

[2020-09-30 18:12] isidorn commented on #107663
For a boolean setting what Joh is suggesting makes sense, but for consistency if we do it for boolean settings we should do for all.
I suggest that for now leave this as it is. And if we also get feedback from the community that mathces this we can append the value to the top aria label.

[2020-09-30 18:14] sbatten opened #107835 "Look for alternative method of collapsing configurator"
Testing #107623

Clicking the graph is not the most intuitive method of collapsing the configurator. I think searching for something more obvious would help. I view the expanded configuration as a legend, esp when in the panel.

[2020-09-30 18:18] sbatten opened #107836 "Toggle visible perf charts does not match command name"
Testing #107623

The title in the quick pick is similar but not the same as the command and makes it less discoverable that the command exists since I search "Toggle visible..."

[2020-09-30 18:19] eamodio commented on #107802
Yeah, I am with you. It tripped me up at first as well. I will rename to `resourceDirname` as you suggest. Thanks!

[2020-09-30 18:21] sbatten opened #107837 "Split icon for perf charts is strange"
Testing #107623

I don't have a better icon in mind but I find the split icon doesn't quite fit the action. Instead of splitting the pane in 2, we are splitting existing charts into as many panes. Additionally, the inverse is to merge, which the icon does not reflect.

[2020-09-30 18:21] #107802 closed

[2020-09-30 18:21] deepak1556 commented on #107659
@joaomoreno not a new one https://source.chromium.org/chromium/chromium/src/+/master:chrome/installer/linux/rpm/dist_package_provides.json, looks like this has been reported a while back and was never added https://github.com/microsoft/vscode/issues/17142#issuecomment-562790162 .

I would like to work with you next milestone to check and cleanup missing deps for snap (https://github.com/microsoft/