[2021-01-25 03:23] dxq0126 commented on #114875
When I use Microsoft input method (Chinese language) to input content notes in source code management, it has a great probability that the input box will become stuck, which I encounter almost every time I submit.

I think this is probably a problem caused by Microsoft's input method. At present, I have replaced the input method. I hope I won't encounter such a problem again.

[2021-01-25 03:24] heartacker opened #114877 "provide intelligence sense about [predefined-variables] when typing launch.json and so on"
PLEASE,
hard to remember so many predefined-variables
https://code.visualstudio.com/docs/editor/variables-reference#_predefined-variables

[2021-01-25 03:26] Diego1149 opened #114878 "Open File Autorefresh doesn't work in WSL when file in local directory is modified through WSL executable and file is already open."
- VSCode Version: 1.52.1
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:

My workflow is simple I have 2 files open at the same time (one in the left and one in the right), the one in the left is a CPP file, I press F5 to build and run it, then I expect an output file (the one in the right) to be automatically updated with the results. However this doesn't work when I run the program

[2021-01-25 03:35] #111287 closed

[2021-01-25 03:35] #111256 closed

[2021-01-25 03:35] #111065 closed

[2021-01-25 03:35] #111011 closed

[2021-01-25 04:00] josephoyo opened #114879 "Please give an option to hide Run Cell | Debug Cell | Run Above from the top of every cell"
![image](https://user-images.githubusercontent.com/73160977/105659879-d2b1e280-5eef-11eb-9b25-8efe5dfb4a34.png)

[2021-01-25 04:13] roblourens commented on #114870
- The note about `!` is out of date, and I will change that in the docs, thanks.
- Globs work differently in those settings vs in the search view, but I will add a note to the docs about that
- `when` is an advanced pattern that isn't even fully supported by the settings editor. I'm not sure I want to describe it in the docs. It's essentially the same as how it's used in keybindings and other sett

[2021-01-25 04:23] PathToLife commented on #5280
Complexities of implementing this:

I originally thought that using the Chord system, which is the double key combination detection system "Ctrl+K, Ctrl+D", might be doable... but it turns out, no, here's why

Shift+AlphaNumeric will not work if shift was in Chord mode:
- If you press "shift" once, then press "shift+a" within 5 sec (to type uppercase A), then the quickOpen will trigger, typing A i

[2021-01-25 04:36] yume-chan commented on #5280
I think shift + shift can only be implemented as a special case, like how alt + mouse click works.

And only shift + nothing should count as the first shift hit, means it must be processed in keyup event. The second is maybe able to be dispatched in keydown event.

[2021-01-25 05:07] nasosev commented on #114719
Same problem for me on v1.52.1.

[2021-01-25 05:38] sanket-bhalerao commented on #114459
@bpasero @deepak1556 ,
the insiders' instance has started working again. I did the following steps.

1. uninstall insiders
2. remove the ~insiders/extensions
3. restart the system
4. download the fresh installer and install
5. enable setting sync to get back all the settings and extensions.
so far insiders' is running fine the blank window issue is not coming.

[2021-01-25 05:40] gjsjohnmurray commented on #114879
/needsMoreInfo

[2021-01-25 06:10] yume-chan commented on #114875
Duplicate of #112621

Please wait for next release, or try Insiders Channel (https://code.visualstudio.com/insiders/)

[2021-01-25 06:12] yume-chan commented on #114871
Duplicate of #72621

[2021-01-25 06:13] #114871 closed

[2021-01-25 06:20] bpasero commented on #114822
@ArturoDent thanks for testing this, yes I would say that is intentional because view names can be anything including multiple words and potentially coming from extensions so I felt it better to surround with quotes.

[2021-01-25 06:22] bpasero commented on #114651
@roblourens yes feel free to change it back as you see fit. I would argue that going through search results should match the experience of clicking with the mouse, so preview seems legit to me.

[2021-01-25 06:43] zbandhan commented on #114335
@bpasero I got this log. But I can't reproduce the issue now that's gone suddenly. Don't know why and how came and go.

[20532:0125/124117.684269:ERROR:browser_main_loop.cc(271)] GLib-GObject: g_value_set_boxed: assertion 'G_VALUE_HOLDS_BOXED (value)' failed
(code:20532): Gtk-WARNING **: 12:41:17.718: Theme parsing error: gtk.css:3611:22: 'none' is not a valid color name
[20564:0125/124117.824694:

[2021-01-25 06:44] #110982 closed

[2021-01-25 06:48] bpasero commented on #114335
Ok let's close it then, the log is not revealing much.

[2021-01-25 06:48] #114335 closed

[2021-01-25 06:57] bpasero commented on #111621
This is actually a bug in our `copy` function when a symbolic link is encountered that is dangling.

[2021-01-25 06:58] hefeng12 opened #114880 "update failed"
Click to check for updates，Lower right corner show net::ERR_INVALID_ARGUMENT``
![image](https://user-images.githubusercontent.com/59465375/105671897-70240b00-5f1e-11eb-80df-2020ae6a1f64.png)

[2021-01-25 07:07] karlind commented on #91613
I ran into a similar problem. I open `sudo code` in Windows WSL, it keeps open `cli.js`.
After check the related script located in `C:\Users\Username\AppData\Local\Programs\Microsoft VS Code\bin\code`, I found it will use a env named `WSL_DISTRO_NAME` to determine if in wsl. If open code in `sudo`, `WSL_DISTRO_NAME` will not be available.

So use `sudo -E code` to keep environment variable rather

[2021-01-25 07:15] #111621 closed

[2021-01-25 07:15] bpasero opened #114881 "Preserve symlinks when copying folders or files"
Today our [`copy`](https://github.com/microsoft/vscode/blob/da0a04fffb90b0f4365b038c39c9e78d97d64e6b/src/vs/base/node/pfs.ts#L512-L512) function does not preserve symbolic links but simply copies the target over. We should probably try to preserve symlinks if possible (e.g. only on POSIX OS).

[2021-01-25 07:16] bpasero commented on #111621
Opened https://github.com/microsoft/vscode/issues/114881 to track supporting symlinks.

[2021-01-25 07:18] wenfangdu opened #114882 "Add a shortcut for removing file from recently opened"
Instead of manually clicking these `x`s, it'll be more convenient and faster to use shortcuts like `delete`, `shift + delete` etc. to remove:
![image](https://user-images.githubusercontent.com/28700378/105673143-90ed6000-5f20-11eb-98a0-77ca1914a3e8.png)

[2021-01-25 07:25] jinnzy commented on #112060
I encountered the same problem as this issue(https://github.com/microsoft/vscode/issues/112349), is there any way to solve it now?
It is normal to use the same version under win10.
- Vscode Version: 1.52.1
- Os Version: 5.9.16-1-MANJARO(arch)

[2021-01-25 07:28] chadbrowski opened #114883 "Intellisense does not work when I use unity"
Issue Type: <b>Performance Issue</b>

Intellisense does not work when I use unity

VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:34:46.910Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz (4 x 2712)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>f

[2021-01-25 07:31] chadbrowski commented on #114883
still not working

[2021-01-25 07:37] weinand commented on #114873
/extRust

[2021-01-25 08:03] usernamehw commented on #114861
@roblourens It's just weird that other inputs work fine.

Actually, Extensions View Filter and Settings GUI both have this issue.

SCM input uses `editor.selectionBackground`.

Search View, Find Widget, Terminal Find widget, Keybinding GUI filter, Search Editor, Problems filter input, Debug Console filter - they all have the right color.

[2021-01-25 08:09] yannickowow commented on #113805
Hi
I did found a bug associated to "Edit Condition" for DataBreakpoints. It did shows "Edit Condition" action but it does not open "Edit" view. Edit icon is not displayed as well.
It works fine actually with FunctionBreakpoints.

Thanks!

[2021-01-25 08:17] kumaraditya303 opened #114885 "Support terminal links for Windows paths containing whitespace"
### Unable to open file path when file path contains whitespace, specially with the username with space.

- VSCode Version:
1.52.1
ea3859d4ba2f3e577a159bc91e3074c5d85c0523
x64
- OS Version: Windows 10 10.0.19042 N/A Build 19042

Steps to Reproduce:

<img width="959" alt="Untitled" src="https://user-images.githubusercontent.com/59607654/105678717-795baa80-5f13-11eb-8378-8f9a24dbaffe.png">

Does thi

[2021-01-25 08:18] chrmarti commented on #101425
We are trying to make space for the content when space is rare by hiding the title. A PR would be much appreciated. Thanks!

[2021-01-25 08:18] memeplex commented on #114807
It seems that this is already supported in Electron, but VSCiode is not using it https://github.com/electron/electron/issues/352
?

[2021-01-25 08:19] #114873 closed

[2021-01-25 08:22] susiwen8 commented on #101425
@chrmarti Hi, PR is sent, Please review it.

[2021-01-25 08:23] kakyoism opened #114887 "F5 no longer launches electron project that previously worked"
- VSCode Version: 1.52.1
- OS Version: Windows 10
- node.js Version: 12.18.3

Steps to Reproduce:

1. Create an empty electron project
2. Create a simple main.js file
3. Create the following `launcher.json`

[code]

On F5, Then VSCode complains that it cannot find node.js in PATH, although my node binary folder is already in the system PATH.

Does this issue occur when all extensions are disabled?

[2021-01-25 08:24] CTimmerman opened #114888 "Link preview tooltip requires two hands to use"
I'd like a "Follow link" link in the link tooltip, similar to some of the other link tooltips.
Current situation requiring use of two hands:
![image](https://user-images.githubusercontent.com/9662163/105679591-fa547b00-5eee-11eb-8253-7a304b09de0b.png)

Related: #78647

[2021-01-25 08:29] isidorn commented on #111621
@bpasero thanks for looking into this and for fixing

[2021-01-25 08:29] andreialecu commented on #113410
Since upgrading to the 16 GB M1 I haven't seen `SIGILL` at all, but today, after a reboot, I got a new `SIGTRAP` crash with these details in it:

[code]

[code]

I wasn't running with crash dump reporting, so I unfortunately don't have more details.

[2021-01-25 08:29] isidorn commented on #112281
Thanks, based on your comment adding verified label

[2021-01-25 08:29] #114798 closed

[2021-01-25 08:29] khashayarnazari opened #114889 "bank melat"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-01-25 08:30] joaomoreno commented on #114742
@aeschli CSS completion.

[2021-01-25 08:30] #114889 closed

[2021-01-25 08:31] joaomoreno commented on #114766
@alexr00 There is some discussion to switch the default behavior for trees: they should only collapse/expand on when interacting with the twistie.

[2021-01-25 08:32] #114778 closed

[2021-01-25 08:32] #114779 closed

[2021-01-25 08:33] #114783 closed

[2021-01-25 08:33] joaomoreno commented on #114789
Please file an issue to Electron: https://github.com/electron/electron

[2021-01-25 08:33] #114789 closed

[2021-01-25 08:34] isidorn commented on #114748
@nitinzd thanks for providing feedback. However are you refering to this PDF on this Page?
https://code.visualstudio.com/shortcuts/keyboard-shortcuts-macos.pdf
If yes then unfortunetly that keybinding table is a bit outdated?

Or are you referring to the bulit in VS Code keybinding editor?

[2021-01-25 08:35] joaomoreno commented on #114817
Can you please provide a [screen recording](https://gifcap.dev/)?

[2021-01-25 08:35] andreialecu commented on #113410
[code]

Slightly different stack trace. The crash seems to be consistent and happens all the time now.

I'm also using macOS Big Sur 11.2 beta, and the latest Insiders.

[Archive.zip](https://github.com/microsoft/vscode/files/5865242/Archive.zip)

Crash dumps attached above.

[2021-01-25 08:38] eamodio commented on #114798
My additional comment never got posted 😠. The additional details were that any inline menu contribution have gone missing IF the contribution was not a codicon (e.g. an svg).

[2021-01-25 08:40] KristofStroobants opened #114890 "Running an untitled (unsaved) file, prompt to save each time"
Issue Type: <b>Bug</b>

Hi,

I've been using VScode Insiders & exploration versions for about 2 years.
Only had one issue with them in the past, but now since a week or 2-3, each time i try to run some Powershell code without saving it, VScode prompts me for a 'save as'. I can get passed it by pressing escape but that gets old real quick.

See my gif for a visual representation of this issue.

![V

[2021-01-25 08:41] #114855 closed

[2021-01-25 08:41] joaomoreno commented on #114875
This is already fixed in `master`, comes out next stable.

[2021-01-25 08:41] #114875 closed

[2021-01-25 08:42] jimmywarting opened #114891 "IntelliSense from remote CDN"
Some developers host there esm script directly on a CDN so you can use `import` directly in the browser. Some even provide JSDoc on dev build files.

It would be grate if vscode could download remote javascript files to a temp directory, cache it and parse it accordingly and even work offline after the files have been downloaded from a CDN.

Deno are one that acts more like the browser and they do

[2021-01-25 08:45] MarcoZehe opened #114892 "Make VS Code less chatty with screen readers"
Right now, several parts of the editor are equipped with landmark roles, like "complementary", "navigation", etc. These landmarks are traditionally associated with document-like structure, not with application interfaces. In addition, with several side bars open etc., the screen reader can get very chatty with saying "complementary" (five syllables) several dozen or hundred times per day.

My sugg

[2021-01-25 08:46] bpasero commented on #111621
@isidorn I am not sure though why the one copy operation would cause the other to stop, that is maybe something you could look into after my fix went in. Maybe you still copy in sequence?

[2021-01-25 08:46] aragong opened #114893 "pre-commit fails using VSCode interface"
Issue Type: <b>Bug</b>

Hello,

I use vscode in windows, mini-conda environment and the integrated interface of vscode to run git.
I am suffering this error trying to setup pre-commit to perform file autoformatting with black:
[code]

However, if I directly run in the terminal `git commit`, `pre-commit` works fine and the hook with `black `also a success. The error has to be related with some bad

[2021-01-25 08:47] Optiligence commented on #114817
you won’t see me scrolling, will you?

[2021-01-25 08:48] jrieken commented on #114868
\extPython

[2021-01-25 08:48] #114868 closed

[2021-01-25 08:50] nqdrizzt commented on #114743
Even after the latest merge the latest insider buidl is missing some icons, in this cats in tne the WSL Extension Remote Explorer. The Buttons missing are used to jump between different remote folder . Pls see screenshot below:

![image](https://user-images.githubusercontent.com/31509303/105682389-aea3d080-5ef2-11eb-9316-7e40fac44159.png)

[2021-01-25 08:51] jrieken commented on #114481
What? That would mean your provider isn't registered anymore. As soon as a provider is registered the command should be visible/enabled

[2021-01-25 08:51] csicky commented on #104183
Imagine there is a software which decides to do the click on right button and right click on left button of the mouse. It is not a "bug", it is a decision of the software makers. What would people do? Open bug reports. Mouse does not behave as expected.

A standard mouse has left button for click, right button for right click, and a scroll wheel for scrolling. The scroll wheel when pressed is the

[2021-01-25 08:51] Optiligence commented on #114817
there is actually no fancy application switching necessary

i just opened `code-insiders --disable-extensions`
selected Help → Release notes and tried to scroll: the first event gets eaten

[2021-01-25 08:53] Optiligence commented on #114817
i scrolled twice here, idk what you want to see
![recording](https://user-images.githubusercontent.com/1899299/105682774-25d96480-5ef3-11eb-8d3e-e39487b43468.gif)

[2021-01-25 08:54] weinand commented on #114887
@kakyoism which of the three launch configurations in your launch.json are you actually running?

[2021-01-25 08:55] joaomoreno commented on #114817
What window manager are you using? Can you reproduce in any other application?

[2021-01-25 08:57] aeschli commented on #114788
I am not able to reproduce with no additional extensions.
If you can, please attach a small code snippet that reproduces the issue.

You can try https://code.visualstudio.com/updates/v1_52#_troubleshooting-extension-bisect to find out which extension causes the problem.

[2021-01-25 08:57] #114788 closed

[2021-01-25 08:58] andreialecu commented on #113410
Seems that I can reproduce the crash above outside of VSCode, even in a plain Terminal simply by running `yarn`. (more specifically yarn 2, which uses wasm for some unzip functionality)

macOS Beta 11.2 broke node 15.6 for some reason.

[2021-01-25 09:00] Optiligence commented on #114817
GNOME/Mutter, happens in X11 as well as Wayland

now that you say it it seems to happen in slack as well, so probably an electron bug

[2021-01-25 09:06] alexdima commented on #114767
🎉 I've just tried it out on latest, and I no longer see `^[[D`

[2021-01-25 09:06] aragong commented on #114893
Checking my vscode preferences. I can see this:
![image](https://user-images.githubusercontent.com/48764870/105684062-b95f6500-5ef4-11eb-87a3-0d4afb6e923d.png)

and the configuration in the JSON:
![image](https://user-images.githubusercontent.com/48764870/105684125-d5fb9d00-5ef4-11eb-9bd4-a43059906dd0.png)

Maybe it will be helpfull

[2021-01-25 09:09] kakyoism commented on #114887
The second one. It works on macOS without issues.

[2021-01-25 09:10] Optiligence commented on #114817
ok, so it seems to be more widespread

it works fine in Firefox as well as e.g. ksysguard, but doesn’t in gnome-system-monitor, nautilus or sublime text

i guess i have to dig more and create an issue somewhere else

[2021-01-25 09:10] #114817 closed

[2021-01-25 09:16] jvesouza commented on #114892
@MarcoZehe Thanks for report this issue.
I wanted to report something similar to what you reported but I was unable to elaborate the problem with this wealth of details.

A problem that I have encountered frequently when editing java code is that when the edited class has errors and I try to use the auto complete function, the error is shown before the suggestions.
This decreases productivity beca

[2021-01-25 09:19] vishalsinghpoker commented on #114832
yes, antivirus auto deletes the vscode installer. after de-activating it's working fine. thanks

[2021-01-25 09:20] aeschli commented on #114561
Fixed on my side. I now call `IExtensionManagementCLIService.installExtensions` with `doNotSync: true`

[2021-01-25 09:20] #114561 closed

[2021-01-25 09:25] HondryTravis opened #114894 "theme bug:In a color theme, the function keyword colors are different"
- VSCode Version: 1.52.1
- OS Version: Darwin x64 19.6.0(MacOS 10.15.7)
Steps to Reproduce:

## frist of all
in theme [Simple Dark]

then

![image](https://user-images.githubusercontent.com/24218012/105686310-0dd50580-5f32-11eb-957a-50906ab59be6.png)

1. method keyword in one object, but they color are different
2. method keyword in one Class, but they color are different

how did i can resolve th

[2021-01-25 09:28] CTimmerman commented on #99967
Link preview text on hover are inconsistent #78647

[2021-01-25 09:32] joaomoreno commented on #114832
Closing this as it seems to be an antivirus issue. I propose to reach out to the antivirus company.

[2021-01-25 09:32] #114832 closed

[2021-01-25 09:35] joaomoreno commented on #114722
Can you show me a screenshot?

[2021-01-25 09:43] joaomoreno commented on #114804
The application is very likely in quarantine, which the `this link` explains. Follow the link for resolution. Let me know how this goes.

[2021-01-25 09:45] #114802 closed

[2021-01-25 09:49] joaomoreno commented on #112846
This is a strange setup which I haven't seen yet. @mavaddat Can you see if it still happens if you set `update.enableWindowsBackgroundUpdates` to `false`?

[2021-01-25 09:50] lszomoru opened #114896 "January 2021 Endgame"
- *January25* Code freeze for the endgame
- *January/29* [Endgame done](https://github.com/Microsoft/vscode/wiki/Development-Process#inside-an-iteration)
- *February/3* Expected release date (this may change)

##### Monday
- [x] Run [OSS tool](https://github.com/microsoft/vscode-build-tools/tree/master/distro-tools) **@sbatten**
- [x] Code freeze at 5pm PT
- [x] Ensure we have a green build on all

[2021-01-25 09:58] leonardder commented on #114892
@MarcoZehe Have you considered disabling NVDA's landmark reporting just for Code as a workaround?
Note that this of course partially relates to that NVDA reports landmarks in focus mode, which might be a point of debate. However, I think it makes sense that NVDA behaves this way.

[2021-01-25 10:01] formikaio commented on #108272
+1

[2021-01-25 10:07] KinjalDodiyaTechifysolutions commented on #114744
thanks It helps

[2021-01-25 10:07] #114744 closed

[2021-01-25 10:09] jrieken commented on #102361
Adding `verified` based on @isidorn's last comment

[2021-01-25 10:11] isidorn commented on #114892
@MarcoZehe thanks a lot for providing feedback.
Even though @leonardder has provided a workaround I think we should behave nicely out of the box.
I suggest that I change the role of `ACTIVITYBAR_PART`, `SIDEBAR_PART` and `PANEL_PART` to have a `role`: `none`.
I plan to do this start of next milestone (so in 2 weeks in Insiders) then you can try it out and let me know what you think.

After that we

[2021-01-25 10:12] jrieken commented on #112479
To verify make sure the wiki page exists: https://github.com/microsoft/vscode/wiki/Inventory-of-performance-marks

[2021-01-25 10:14] H1MSK opened #114897 "Context menu of terminal options on "new terminal""
I'm coding in python recently, and need to sync python packages and environments between WSL and Windows. So it's frequent for me to open two different types of terminals. However, VSCode seems to only support one type currently, and I'm wondering if there could be a right-click menu on the "new terminal" button.

In my imagination, it could be something like this(picture is photoshopped):

![imag

[2021-01-25 10:15] jrieken commented on #112552
To verify:

* open F1 > Startup Performance
* Make sure there are "Raw Perf Marks" sections for the following contexts/processes: main, renderer, local extension host, (maybe) local web worker extension host, (maybe) remote extension host, (maybe) agent process
* For verify the maybes use VS Code with a remote container or on codespaces

[2021-01-25 10:17] KrestenHelstrup commented on #45385
+1. As an embedded developer I would love to prioritize methods over defines.

[2021-01-25 10:18] akosyakov opened #114898 "[ext-api] provide Pseudoterminal.onDidChangeName event"
Current it is not possible to change the name of the pseudo terminal implemented by the extension.

[2021-01-25 10:22] bpasero commented on #114453
@CIRCULARKA how is this not covered already by the existing commands to open the next or previous editor either in a group or across all groups:

![image](https://user-images.githubusercontent.com/900690/105693086-98e8d800-5eff-11eb-89e3-5ba9e08c435a.png)

[2021-01-25 10:23] webczat commented on #106441
hmmm actually this would fix one more thing. there is the weirdness that you can forward-tab through all toolbar items, but when you are in the explorer tree and shift+tab you don't land on the buttons themselves. that may be not fully related because I believe you don't land on any of the buttons so you would have to tab once anyway.

[2021-01-25 10:33] bpasero opened #114899 "Transition into untitled workspace from WSL folder does not seem to work"
Steps to Reproduce:

1. open an empty window connected to WSL
2. open a single folder `/home/<name>/workspaces/jschardet`
3. click File > Add Folder to Workspace
4. select `/home/<name>/workspaces/electron-message-port`
5. the window reloads into the untitled workspace

However it never finishes to load and show the folders:

![image](https://user-images.githubusercontent.com/900690/105694278-1103

[2021-01-25 10:33] gjsjohnmurray commented on #114897
/duplicate of #45444

[2021-01-25 10:34] #114897 closed

[2021-01-25 10:38] bpasero opened #114900 "Cannot open a remote workspace via --remote syntax"
Looking at the implementation of `--remote` support, I do not think we correctly open a workspace when I provide one via command line, e.g. `code-insiders --remote wsl+Ubuntu /home/ticino/workspaces/workspace.code-workspace`

I would have expected that in this method we create a workspace openable if we encounter the `.code-workspace` file extension:

https://github.com/microsoft/vscode/blob/c8ff3

[2021-01-25 10:39] isidorn commented on #114776
Thanks for ideas! Let's assign this to February, and I plan to bring it up in our first UX meeting in that milestone so we can continue the discussion there.

@connor4312  Agree, being able to drag and drop a breakpoint when there are multiple decorations there is a bit of an edge case and I would not really worry about it at the moment. Agree that option 2 is a good start.

[2021-01-25 10:42] d-malashin commented on #105446
this helped me with lags and slow terminal open

[2021-01-25 10:42] jrieken opened #114901 "Add support for an overlay context key service"
this is a follow up from https://github.com/microsoft/vscode/issues/107903#issuecomment-765589206

[2021-01-25 10:43] aeschli commented on #114900
Looks like I broke this with https://github.com/microsoft/vscode/commit/f667462a2a8a12c92dbcdd8acf92df7354063691

[2021-01-25 10:48] jrieken commented on #114901
https://github.com/microsoft/vscode/blob/86d96faaaf8b15a66abc2d766dc47cbdabd177f9/src/vs/workbench/browser/parts/views/treeView.ts#L1126-L1137

We often create CKS that we only use for a few static values (see above). This can then cause issues with them not being disposed of or them being alive for too long. Instead should have a dead/immutable CKS which delegates everything to its parent, esp ev

[2021-01-25 10:48] isidorn commented on #114869
This is an older bug, however let's assign to this milestone since you provided great repro steps and I might have time during endgame to fix.

[2021-01-25 10:50] #114900 closed

[2021-01-25 10:51] joaomoreno commented on #114843
A Codespace's auth is locked against the repo the Codespace was created from. Discussions already happening:

https://github.community/t/cant-push-to-other-private-repos/156447

[2021-01-25 10:51] #114843 closed

[2021-01-25 10:53] jrieken commented on #93686
Verify that you can use `vscode.CancellationError` with requiring proposed API checks. Optionally, verify that you throw this error from a semantic tokens provider without it resetting previous semantic tokens

[2021-01-25 10:58] #114857 closed

[2021-01-25 10:59] isidorn commented on #111850
@digitarald thanks! Also no need to remove the verification-needed label, we just add the `verified` and the bot gets happy :)

[2021-01-25 11:02] shsuman commented on #114587
Yes, I am seeing the right behaviour now. For some reason, it wasn't working at the time

[2021-01-25 11:02] #114587 closed

[2021-01-25 11:03] isidorn commented on #114890
@KristofStroobants thanks for letting us know, but this is designed behavior now. More details here https://github.com/microsoft/vscode/issues/111850

What I do not understand is how was this working before? The powershell extension can not reach any unsaved files?
Are you saying that F5 an unsaved file works with VS Code stable?
@TylerLeonhardt is the powershell extension doing something special

[2021-01-25 11:14] Tyriar commented on #106631
@connor4312 not sure I'm understanding the problem here, isn't `NODE_OPTIONS` meant to be empty if js-debug cleared the mutations?

[2021-01-25 11:14] MarcoZehe commented on #114892
No, since I currently work primarily on a Mac. I could try this with VoiceOver for a VS Code specific activity, but thought that this warrants a discussion for default behavior since we talk about VS Code being a desktop app and not a website. And while you can distribute this default setting in a VS Code module for NVDA, and possibly scripts for JAWS if Vispero were to include that, providing a V

[2021-01-25 11:15] jrieken commented on #111878
To verify

* use this sample extension https://github.com/jrieken/sample-file-participant (or any other extension that adds extra edits during `onWill[Create|Rename|Delete]` events
* move a file
* acknowledge the prompt, follow each path and ensure it makes sense
* have a slow participate case (e.g move `samples/slow.txt`) and make sure there is progress that allows to cancel the participant

[2021-01-25 11:16] MarcoZehe commented on #114892
👍🏼

This sounds awesome, thank you!

[2021-01-25 11:18] Tyriar commented on #114898
Makes sense, if a PR for this comes in for this I can bring it to the API sync. Seems like a good improvement so I don't see why it wouldn't be able to get merged in.

[2021-01-25 11:19] jrieken opened #114902 "Test outline, breadcrumbs, quick pick for notebooks"
Refs: https://github.com/microsoft/vscode/issues/98173

- [x] anyOS @misolori
- [x] anyOS @alexdima

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114902%0A%0A)

---

We have added support for outline, breadcrumbs, and symbol picks for notebooks. This needs testing. Use an extension that supports native notebooks, e.g [GH issue notebooks](https://mark

[2021-01-25 11:20] CIRCULARKA commented on #114453
Ok.

[2021-01-25 11:20] #114453 closed

[2021-01-25 11:20] isidorn commented on #114899
Let's assign to January so we can investigate
Sounds similar to https://github.com/microsoft/vscode/issues/113562

@aeschli let me know if  there is some easy way to get into this state without WSL so I could investigate. I can also try to setup WSL on my Win VM

[2021-01-25 11:27] isidorn opened #114903 "Data brekapoints: support setting conditions and hit conditions"
This should behave just like the function breakpoints.

I would add this if there are debug adapters that would profit from this. So please comment if you are interested in this and what debugger you are using.

[2021-01-25 11:42] gazcn007 commented on #112373
Would love to see the fix soon :) Thanks for working on the issue

[2021-01-25 11:55] soullivaneuh commented on #113362
For anyone struggling with this issue for ArchLinux, it can be solved with ease by installing this package hack: https://aur.archlinux.org/packages/code-marketplace/

[2021-01-25 11:55] bvbeek commented on #110782
Yes, same server

[2021-01-25 11:55] tetious commented on #114743
Confirmed fixed for me too. Thanks very much!

[2021-01-25 11:56] jrieken opened #114904 "Test outline, breadcrumbs, quick pick for text editors"
Refs: #98173

- [x] anyOS @egamma
- [x] anyOS @alexdima

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114904%0A%0A)

---

We have added support for outline, breadcrumbs, and symbol picks for notebooks and that required many changes in the existing outline & breadcrumbs code. Therefore the "classic" outline and breadcrumbs for symbols (classes, functi

[2021-01-25 12:02] Tyriar commented on #113695
I can't do anything about it unfortunately.

[2021-01-25 12:04] #114501 closed

[2021-01-25 12:04] #114475 closed

[2021-01-25 12:04] #114451 closed

[2021-01-25 12:04] #114392 closed

[2021-01-25 12:04] #114367 closed

[2021-01-25 12:04] #108688 closed

[2021-01-25 12:12] offeria commented on #80792
I'm using similar approach. I've downloaded

https://marketplace.visualstudio.com/items?itemName=geddski.macros

and added the following lines in keybindings.json

[code]
and added the following lines in settings.json:

[code]

You can use the **commentDown** command if you want the cursor to go to the next line when you have commented out the current line of code.

[2021-01-25 12:25] Tyriar commented on #114856
/extC++

[2021-01-25 12:26] #114856 closed

[2021-01-25 12:30] aeschli commented on #114894
Can you paste a small but complete code example?
You can use the `Inspect Editor Tokens und Scope` command to get more information on token at a given cursor position.

[2021-01-25 12:37] yannickowow commented on #113805
Thanks.
Since DataBreakpoints implementation in DebugAdapterProtocol supports the same arguments (ie `Hit Count` and `Condition`), it would be great if VS Code can show an unified attribute for this.

[2021-01-25 12:40] IllusionMH commented on #114725
If you are talking about JS runtime - yes.
In JS/TS there will be no problems with `name` in case when you have module scope (file has `import` or `export`). Or if it's not script that will be executed in browser - make sure that `dom` is excluded form `lib` compiler options.

For global scope it becomes tricky especially for `name` that intentionally declared to prevent usage.
Conflict with `let`

[2021-01-25 12:41] yannickowow commented on #114903
Hi
I am currently working on a debug adapter which uses GDB.
For this specific debugger, DataBreakpoints (or watchpoint) can have multiple attributes, such as

- Hardware (-h)
- Temporary (-t)
- **condition (-c)**
- **Ignore Count (-i)**...
(for reference: https://sourceware.org/gdb/current/onlinedocs/gdb/GDB_002fMI-Breakpoint-Commands.html)

For the two first ones, it does not match DAP, so it is

[2021-01-25 12:46] hantatsang commented on #112292
@jasonkuhrt I tried having a go at this but found out this is not a problem with the Markdown renderer nor with VSCode. That's just how JSDoc parsing works - it doesn't like having tags (like `@param` in this case) to be in a list. Tags are treated differently so it shouldn't be part of a Markdown block that you're writing.

I haven't gone as far as inspecting VSCode's jsdoc parsing but I've teste

[2021-01-25 12:48] isidorn commented on #111621
From multiple drag and drop operations I create one `BulkEdit`. Though probably somewhere there is code that canceles the rest of the bulkEdit if one part fails. I can investigate more

[2021-01-25 13:02] aswiseman commented on #114797
@IllusionMH - I'm happy to add the 'synced fields' suggestion to #23099 and then close this issue, if people prefer?

[2021-01-25 13:06] paulcarroty commented on #109176
The branch [electron-12.x.y](https://github.com/microsoft/vscode/tree/electron-12.x.y) arrived.

[2021-01-25 13:06] kahsa commented on #40890
Still problem for me.

Version: 1.52.1
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-16T16:32:10.090Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.10.9-arch1-1

[2021-01-25 13:09] SwathiShetty13 opened #114905 "terminal"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-01-25 13:09] IllusionMH commented on #114797
I think it make sense to track "synced" find/replace history separately from dropdpwn because it brings it own specific challenges which aren't directly related to dropdown.
My comment was about fact that there is already request for dropdown.

@JacksonKearl @roblourens what would be preference here?

[2021-01-25 13:09] #114905 closed

[2021-01-25 13:11] gjsjohnmurray commented on #114902
When a code cell is set to a language for which a DocumentSymbolProvider exists, should I expect to see the same hierarchy within the notebook cell's Outline or Breadcrumb entry as I do if I copy the code from the cell, paste it into a new untitled document, and set that to the same language mode?

[2021-01-25 13:13] SwathiShetty13 opened #114906 "terminal"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-01-25 13:13] jrieken commented on #114902
No

[2021-01-25 13:14] #114906 closed

[2021-01-25 13:19] jrieken commented on #113276
verify that latest `vscode.proposed.d.ts` has new API that allows to register an InlineHintProvider. No further/deep test is required at this point

fyi - use the [vscode-dts](https://www.npmjs.com/package/vscode-dts)-utility to use the latest version of `vscode.d.ts` and/or `vscode.proposed.d.ts`

[2021-01-25 13:20] gjsjohnmurray commented on #114902
Is this already planned for the future? Or should I open an enhancement request?

[2021-01-25 13:23] Tyriar commented on #114157
Seems like it, thanks for creating the issue 👍

/duplicate

[2021-01-25 13:23] #114157 closed

[2021-01-25 13:37] csellis opened #114907 "wordwrap and line length"
It looks like wordWrap and linelength changed. I turned off format on save and uninstalled Eslint/Prettier from the app. I ended up having to set a high line length.

[2021-01-25 13:40] jrieken commented on #114902
This has been thought of but there are currently no plans. We do have the infrastructure in place but code cells are often short-ish, e.g define little symbols, so that this isn't a priority right now

[2021-01-25 13:41] bpasero opened #114908 "Breadcrumbs: drive letter is lowercase"
I noticed that a file I open that is not inside the workspace appears with a lowercase drive letter:

![image](https://user-images.githubusercontent.com/900690/105712978-dc047480-5f1a-11eb-8fe2-a7aacd4d023d.png)

I thought our label provider takes care of uppercasing if presented as label, such as the editor tabs do (when breadcrumbs are disabled):

![image](https://user-images.githubusercontent.c

[2021-01-25 13:43] lonix1 opened #114909 "Bugs in json settings manager"
*Environment*
- VSCode Version: 1.52.1
- OS Version: linux

*Does this issue occur when all extensions are disabled?: Yes/No*

Yes

*Steps to Reproduce:*

1. Must use json settings manager: `"workbench.settings.useSplitJSON": true`
2. Open workspace settings <kbd>ctrl ,</kbd>
3. PROBLEM 1: nodes on the left are not sorted, so it's **very** hard to find things (especially when there are lots of ext

[2021-01-25 13:51] ivancuric opened #114910 "Using Electron's `systemPreferences.askForMediaAccess` fails when running through integrated terminal"
- VSCode Version: 1.52.1
- OS Version: MacOS 11.1 (20C69)

Steps to Reproduce:

1. Create a demo electron app using `yarn create electron-app my-app` or `npx create-electron-app my-app
`
2. Add an `entitlements.plist` that contains camera access support:
[code]
3. In the forge config in package.json reference those entitlements
[code]
4. Run `yarn start`
5. Receive the following error
[code]

This

[2021-01-25 13:58] sandy081 commented on #114748
This issue seems to be about the Keyboard Shortcuts help PDF file.

[2021-01-25 14:00] sandy081 commented on #114760
Can you please share the file in which the crash happens?

[2021-01-25 14:03] sandy081 commented on #114862
/duplicate

https://github.com/microsoft/vscode/issues/113257

[2021-01-25 14:04] #114862 closed

[2021-01-25 14:07] sandy081 commented on #114848
Reopening the original issue - https://github.com/microsoft/vscode/issues/113257

[2021-01-25 14:07] #114848 closed

[2021-01-25 14:08] jrieken commented on #114908
@bpasero this is using the value of [`getOriginalUri`](https://github.com/microsoft/vscode/blob/475d3464e87ebea002b5046ddef8c94ff5eb6739/src/vs/workbench/browser/parts/editor/breadcrumbsControl.ts#L268)

[2021-01-25 14:14] tvvignesh commented on #114743
The latest update works for me as well 👍

[2021-01-25 14:16] jrieken commented on #110972
Then do so!

[2021-01-25 14:21] lukepighetti opened #114911 "Big Sur unsaved changes dialog"
- VSCode Version:

Version: 1.52.1
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-16T16:30:02.420Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.2.0

- OS Version: 11.1 (20C69)

Steps to Reproduce:

1. Have a file with unsaved changes
2. Stash the file

Does this issue occur when all extensions are disabled?: Yes/No
N/A

There is

[2021-01-25 14:21] gjsjohnmurray commented on #114909
Related: #68386

Are you aware of this button as an alternative to `useSplitJSON`?

![image](https://user-images.githubusercontent.com/6726799/105717459-128cc000-5f18-11eb-8e7c-e8e1d0998a04.png)

It's my impression that the Split JSON settings interface is unlikely to get any love from the developers.

[2021-01-25 14:24] sandy081 commented on #114731
@xisui-MSFT you (user/extension author) can force that by adding following setting in your user settings file

[code]

[2021-01-25 14:26] gjsjohnmurray commented on #114911
See #87938, for which the fix appeared in the November 2020 release.

/cc @joaomoreno

[2021-01-25 14:26] sandy081 commented on #114784
You can uninstall that extension if you do not like that or file an issue against that extension if you have bugs/features.

[2021-01-25 14:26] #114784 closed

[2021-01-25 14:27] sandy081 commented on #114668
It seems cli args are not getting respected while launching.

[2021-01-25 14:28] lukepighetti commented on #114911
Warn before stash makes sense, this issue covers the UX change of showing a Big Sur modal dialog instead of a command palette confirmation step.

[2021-01-25 14:31] jardicc commented on #114358
It happened again. So next time I will provide that info. Turned it on now.

[2021-01-25 14:32] Halkcyon commented on #2809
@awits This is an open source project; you're welcome to write a PR and implement this yourself versus whining on the issue.

[2021-01-25 14:32] lukepighetti commented on #114911
Upon reflection, it's entirely possible that this wasn't a command palette confirmation step previously, and that I have confused the Catalina => Big Sur save modal change for a change in VSCode.

[2021-01-25 14:39] bpasero commented on #114908
@jrieken yeah that is fine, we have a way to always uppercase the drive letter when it is being displayed to the user:

LabelService:
https://github.com/microsoft/vscode/blob/dcc1e9df99189622b79282a868460f6b6815bc68/src/vs/workbench/services/label/common/labelService.ts#L286-L288

More generic method without service:
https://github.com/microsoft/vscode/blob/675638196d27275f1daf688a2a4a71e70f68cd78

[2021-01-25 14:40] bpasero commented on #114668
Do not use `Code.exe` directly.

[2021-01-25 14:40] #114668 closed

[2021-01-25 14:43] jrieken commented on #114908
Yeah, I believe my question is why `getOriginalUri` isn't doing this? Its doc says: "and should be used whenever the URI is presented to the user" which you now says in't true

[2021-01-25 14:47] pnrthomp commented on #114668
This is not a solution, considering the official documentation shows it can be used on CLI.

Paul T.

[2021-01-25 14:53] bpasero commented on #114908
@jrieken `originalUri` is the thing that was passed to the editor when opening and that can be different from the canonical URI as such you are using the right kind of URI. However, when the URI is created it can have any form of uppercase or lowercase drive letter (for the file access it doesn't really matter). Only when we display the URI as a label to the user, we need to use the label service

[2021-01-25 14:53] jrieken commented on #114908
I'd say the comment for `getOriginalUri` is bogous/misleading. Nevertheless, I can do all the tweaks but I actually do use a `ResourceLabel` which consumes the label service. So, this might actually @isidorn after all.

https://github.com/microsoft/vscode/blob/475d3464e87ebea002b5046ddef8c94ff5eb6739/src/vs/workbench/browser/parts/editor/breadcrumbsControl.ts#L134

[2021-01-25 14:55] EthanBannister commented on #108556
Unfortunately, I no longer have access to the code that I had been experiencing this issue with, so I would no longer be of any help without recreating the scenario from scratch.

This issue was mostly intended to let development know about it so that hopefully they can improve the product.  It was not a complete blocker for me since I was able to connect to a remote Linux host and work from there

[2021-01-25 14:55] #108556 closed

[2021-01-25 14:56] bpasero commented on #114908
Yeah good point, I have updated the JSDoc:

[code]

[2021-01-25 14:58] jrieken commented on #110993
no actionable information. closing

[2021-01-25 14:58] #110993 closed

[2021-01-25 14:59] sbatten commented on #114882
this seems more like a general request of quick picks

[2021-01-25 15:05] IraShinking opened #114913 "Automatically Skip to setting.json when i trying to debug my C++/C file"
I've confused by this question for such a long time ,that my vscode always **skip to the setting.json without anyother problems or notice when i try to debug my C++/C file**.
  Tonight I try to fix this problem, by checking profiles and looking for a few json file, but i still failed to fix it after modifying these json files. It has bothered my so much and i couldnot find any answer through searc

[2021-01-25 15:06] DanTup opened #114914 "Debugger doesn't focus any source code if all frames are "deemphasized" making it unclear that the debugger paused"
There was some work in https://github.com/microsoft/vscode/issues/65012 to allow DAs to mark frames as "deemphasize" and they would not be auto-focused when the debugger breaks. This allows us to focus on user code rather than framework code.

This generally works great, except in the case where an exception occurs that appears to have no user code in the stack. In this case the debugger doesn't j

[2021-01-25 15:09] jrieken opened #114915 "Notebook diff editor screen cheese"
<img width="1136" alt="Screenshot 2021-01-25 at 16 06 58" src="https://user-images.githubusercontent.com/1794099/105723819-82567700-5f27-11eb-9242-7eb27170330d.png">

* opened internal back
* pull
* got the usual conflict dialog
* selected overwrite
* open diff from SCM viewlet

fyi - I have both version locally, cannot attach to this issue

[2021-01-25 15:17] joaomoreno commented on #114911
Yeah this is just how Big Sur shows modal dialogs, unfortunately. Can't do much here. 😢

[2021-01-25 15:17] #114911 closed

[2021-01-25 15:18] joaomoreno commented on #109640
ping @deepak1556

[2021-01-25 15:19] jenny241093 opened #114916 "Oauth problems connecting to SF"
Hello,

After I made a Windows update I am not able to Authorize an Org with VS Code through Salesforce extensions. Please find below the error:
![image](https://user-images.githubusercontent.com/24233318/105725269-6eb00e00-5f31-11eb-827c-ebc1222ee2bb.png)
And from VS Code:
 sfdx force:auth:web:login -a EV_ZACould not retrieve the username after successful auth code exchange in org: 00D2o000000ZUa

[2021-01-25 15:21] pfitzseb commented on #105229
Alright, it took a while but the VSCode-specific grammar is now included in [JuliaEditorSupport/atom-language-julia](https://github.com/JuliaEditorSupport/atom-language-julia/blob/master/grammars/julia_vscode.json).

Let me know how you want to proceed to get that into VSCode core.

[2021-01-25 15:26] TylerLeonhardt commented on #114890
@isidorn yes the PowerShell extension is able to debug untitled files. This is because the language server and debug adapter come from the same process: the PowerShell integrated console which is a special instance of PowerShell that can handle user input via the integrated terminal and LSP/DAP messages at the same time.

We did we enable untitled file debugging?

1. People could do similar things

[2021-01-25 15:31] Tyriar commented on #111525
Is this still a problem for you? Not sure if it's on my side of tree side.

[2021-01-25 15:34] Wahooney opened #114917 "Format Document doesn't respect auto-detect indentation"
Issue Type: <b>Bug</b>

If I have a file intented with tabs and Format Document it defaults to spaces, ignoring my enabling of Editor: Detect Indentation.

VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:34:46.910Z)
OS version: Windows_NT x64 10.0.19041

<details><summary>Extensions (22)</summary>

Extension|Author (truncated)|Version
---|---|---
shaderlabvsco

[2021-01-25 15:38] Tyriar commented on #112311
I believe `desktop-file-install` is there so that the application shows up in the desktop manager menu immediately, which was some other bug that someone wanted fixed if I recall correctly.

[2021-01-25 15:39] beily524 opened #114918 "Why the extension doesnt' work?"
Issue Type: <b>Bug</b>

why no code suggested for the UI5 controller code? could you please provide us a guide document regarding how to configure this extension? Thank you!

VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:34:46.910Z)
OS version: Windows_NT x64 10.0.18363

<details><summary>Extensions (2)</summary>

Extension|Author (truncated)|Version
---|---

[2021-01-25 15:44] jlperla commented on #105229
Amazing, thanks @pfitzseb

@rchiodo is there any jupyter specific stuff we need to be aware of?

[2021-01-25 15:45] Tyriar opened #114919 "ctrl+backspace doesn't work in the Python REPL on Windows"
Repro:

1. Open terminal
2. Type/paste "test test test"
3. Press ctrl+backspace

![image](https://user-images.githubusercontent.com/2193314/105728691-4bf60900-5ee1-11eb-8944-78d2427e516f.png)

Related: https://github.com/microsoft/vscode/issues/98404

[2021-01-25 15:45] Tyriar commented on #98404
@gvanrossum you might be on an older version of powershell? pwsh 7 works for me. For python, created https://github.com/microsoft/vscode/issues/114919

[2021-01-25 15:46] machineghost commented on #108688
Why not simply add some code to the redo command: whenever it can't redo, it checks the undo history to see what extension was responsible?

[2021-01-25 15:47] weinand commented on #114914
@isidorn I think Dan's suggestion sounds like a good approach:

[2021-01-25 15:48] plainerman commented on #105691
@isidorn, I would like to give this issue a shot (if help is still appreciated) :)

After investigating this issue for quite some time, I believe that the main change should *not* happen in a core util like `fileService.ts` but somewhere along:
https://github.com/microsoft/vscode/blob/5fcd9f7484549db8febcb7f3ac181c4a475f16c1/src/vs/workbench/contrib/files/browser/views/explorerViewer.ts#L1487-L149

[2021-01-25 15:49] jrieken commented on #111865
So, this happens when typing only, right? What happens when you explicitly request suggestion via `ctrl+space`?

[2021-01-25 15:55] weinand commented on #114913
@IraShinking
The Quickpick menu to "Select Environment" only appears when VS Code cannot find the launch.json.

Is the "(gdb) Launch" selected in the debug dropdown menu?
<img width="398" alt="2021-01-25_16-55-10" src="https://user-images.githubusercontent.com/1898161/105729997-1d524f80-5f2e-11eb-9625-f8ad97068562.png">

Where does your "launch.json" live?

[2021-01-25 16:00] connor4312 commented on #106631
It looked like they had set NODE_OPTIONS in their user/global environment variables

[2021-01-25 16:00] lonix1 commented on #114909
@gjsjohnmurray Thanks, yes as I mentioned above I'm using the json editor *in lieu of the gui*. I also outlined reasoning for this.

Many devs commit config to source control, and want to control the config by hand. Relying on a gui means the config is auto-generated and that leads to ugly and hard-to-maintain diffs.

THEREFORE, given that many are using the json editor, the two bugs I mentioned s

[2021-01-25 16:01] martynchamberlin commented on #108368
I'm disappointed to see how unlikely it seeming is that this blatant bug will not be getting fixed. This is an embarrassing bug. Please get this fixed. It's a direct violation of [Visual Studio’s docs](https://docs.microsoft.com/en-us/dotnet/standard/base-types/character-classes-in-regular-expressions#whitespace-character-s) for `\s`.

[2021-01-25 16:02] connor4312 commented on #114887
/jsDebugLogs

[2021-01-25 16:05] Gregoor opened #114920 "Keyboard layout independent way of defining keybindings for an extension"
I'm developing an extension which provides a large number of keybindings, a lot of them mapped to single symbols presses (e.g. `(`, `=`). Now I'm aware that the input producing these symbols differs by layout. For example `=` is `Shift+0` on a german keyboard, where it's a non-modified keypress on US.
What I'd like to have is a way of either declaring these in a layout-independent way, or alternat

[2021-01-25 16:12] lukepighetti commented on #114911
No problem, thanks!

[2021-01-25 16:13] isidorn commented on #105691
@plainerman sounds great. Yeah I think you are spot on, this should be handled on the Explorer side.
Yeah the user decision for replace vs merge can either be a setting or a modal dialog. Probably a setting.
Best would be if you sketh out a PR and just ping me on it and we can contiue the discussion there. Let me know if that works for you.
Thanks for your help!

[2021-01-25 16:16] misolori commented on #104006
This is now published at https://code.visualstudio.com/api/references/extension-guidelines. If anyone has any feedback or suggestions you can click the `Edit` button on the page:

![image](https://user-images.githubusercontent.com/35271042/105732656-895c9580-5ee5-11eb-8bfa-7e54d3223129.png)

[2021-01-25 16:16] #104006 closed

[2021-01-25 16:17] isidorn commented on #114890
Okey, I was not aware of this fancy capability. Thanks for explaining.

No we did not enable untitled file debuging, since no other debug adapter supports this other than powershell, so we changed that when you start debugging if you have an untitled file we prompt the user to save the untitled file. So the debugger could actually debug it.
I understand that this does not really work for powershel

[2021-01-25 16:18] alexdima commented on #108688
The redo buffer is intentionally destroyed when a do operation occurs. So for example, if you undo and then type something, then redo will not work. This is expected.

[2021-01-25 16:22] isidorn commented on #114914
Agree, assigning to this milestone to potentially fix

[2021-01-25 16:25] sandy081 opened #114922 "Test Extensions viewlet actions"
Refs: #92038

- [x] anyOS @egamma
- [x] anyOS @kieferrm

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114922%0A%0A)

---

Refactored Extensions viewlet to use Menu actions. So please do some "free style" testing of all primary & secondary actions on extensions viewlet title works as expected

[2021-01-25 16:26] ucheNkadiCode commented on #114796
The scenario is that if a User is trying to do a command that has a stage in which they need to select a specific file (and they are using a VS Code Search box in this stage), they have any folder such as `node_modules` (for npm) or in this case `.venv` (for Python) which has way too many unnecessary files, the search box doesn't allow us to input a file that the search box does not find to still

[2021-01-25 16:26] isidorn commented on #114908
Sounds like the labelService does not normalize the drive letter for uris outside of the workspace. Let me assign to January and I can investigate this week

[2021-01-25 16:28] Youssef1313 opened #114923 "HTML figcaption tag should be suggested when using the full word instead of only "figc""
- VSCode Version: 1.52.1 commit ea3859d
- OS Version: Windows 10 1909

Steps to Reproduce:

1. In an html file, write `figure` and press <kbd>TAB</kbd>. You'll see the following behavior, which is correct.

    ![image](https://user-images.githubusercontent.com/31348972/105733986-cbfc8d00-5f3a-11eb-9218-39d138dd19e2.png)

    ![image](https://user-images.githubusercontent.com/31348972/105734007-d4

[2021-01-25 16:31] sandy081 commented on #114144
To verify:

- Open a codespace
- make sure you have some extensions those contribute view containers installed. Eg: GitHub Pull Requests & Issues extension, Docker etc.,
- Reload window and make sure activity bar icons are shown immediately

[2021-01-25 16:31] #114144 closed

[2021-01-25 16:33] TylerLeonhardt commented on #114890
@isidorn an untitled file is just a file with `untitled:` uri scheme. DAP doesn't specify that `Uri`s need to _not be_ `untitled:` or that it has to be `file:`.

It would have been nice to have a mechanism to opt in for this behavior or something as it gives folks more friction to switch from ISE to VS Code.

[2021-01-25 16:39] isidorn commented on #114890
@TylerLeonhardt good points.
As mentioned we can introduce a mechanism to opt out of this. I am not sure if it would be a setting or a capability or something else.
@weinand for thoughts

[2021-01-25 16:42] jjiburg commented on #111949
This issue is likely related to #107016

Only spent a few minutes testing, but launching vscode with the `--disable-renderer-accessibility` flag appears to resolve the performance issues.

I took performance profiles with the flag enabled/disabled and will attach to the #107016 issue

[2021-01-25 16:42] #111949 closed

[2021-01-25 16:43] DonJayamanne commented on #114719
@rebornix thanks for your help, confirmed this works but not when debugging.

[2021-01-25 16:43] #114719 closed

[2021-01-25 16:50] jjiburg commented on #107016
I've encountered this degraded performance issue on macOS Big Sur, it appears that launching code with the `--disable-renderer-accessibility` flag resolves it.

I'm attaching two performance profiles in a zip. One run with the flag enabled and smooth scrolling performance and the other with no cmd args passed and poor performance.

[vscode accessibility performance.zip](https://github.com/microsof

[2021-01-25 16:53] machineghost commented on #108688
Could you track whenever an extension destroys undo history (just keep a running buffer of the last extension to remove history), and then when someone tries to redo and can't you could make an alert "Such and such extension performed a Foo action, destroying redo history beyond this point."?

Or if such an alert would be too disruptive, hide it behind a flag, so only people with problems could tu

[2021-01-25 16:57] Youssef1313 commented on #114923
cc: @rzhao271

[2021-01-25 16:57] deepak1556 commented on #109640
@Bleichroder can you try the latest insiders https://code.visualstudio.com/insiders that contains a refactor for spawning shared process.

[2021-01-25 17:02] Tyriar opened #114925 "Test hover lacks padding"
![image](https://user-images.githubusercontent.com/2193314/105738624-1571bb80-5eec-11eb-91f4-9259a5a12609.png)

[2021-01-25 17:03] Tyriar opened #114926 "Test progress indicator gets really dark when hovering"
![image](https://user-images.githubusercontent.com/2193314/105738719-31755d00-5eec-11eb-9e91-ca5ac0063efe.png)

[2021-01-25 17:10] joyceerhl opened #114927 "'Execute Notebook (Run all cells)' should be in '1_run' group"
From https://github.com/microsoft/vscode-jupyter/issues/4010#issuecomment-766427202 /cc @claudiaregio

The Jupyter extension would like to show run-related icons in the editor title menu to be consistent with the ordering in our previous notebook toolbar (screenshot of previous ordering below):

![image](https://user-images.githubusercontent.com/19276747/105642732-4bf1fc80-5e40-11eb-9c78-ed6a5d8cb

[2021-01-25 17:12] BihtSift commented on #104183
Agreed, the point really isn't weather it's a bug or not.  I'm only pointing out that middle mouse scroll is something that isn't always implemented.  It's a feature that originated with web browsers, and many other applications have followed suit (it's not native to the Win32 API and your app doesn't automatically have the functionality).  Many apps don't scroll on middle click:
* Visual studio
*

[2021-01-25 17:18] Tyriar opened #114928 "Test doesn't work error shows error color but hover icon"
![image](https://user-images.githubusercontent.com/2193314/105740611-35a27a00-5eee-11eb-8108-8ba90d5aa1e9.png)
![image](https://user-images.githubusercontent.com/2193314/105740641-39ce9780-5eee-11eb-8981-69eb0a5045c3.png)

[2021-01-25 17:19] roblourens commented on #114861
Yes, native inputs look as expected, inputs that are actually editor instances (usually because they have a suggest widget)sss have to guess the native bg color.

[2021-01-25 17:19] TylerLeonhardt commented on #104952
for verification, this:

[code]

should get you:

[code]

on insert mode replace (default is SHIFT + ENTER)

[2021-01-25 17:27] rchiodo commented on #105229
@jlperla I believe this issue is talking about adding the grammar to VS code. That should make it just work for both our old webview notebooks and the new native notebook support in VS code insiders. So with regards to the grammar (which gets colorization to work correctly), this should just work inside of jupyter.

[2021-01-25 17:29] meganrogge commented on #114715
what happens if you change the renderer type and font?

[2021-01-25 17:29] #114547 closed

[2021-01-25 17:31] meganrogge commented on #114813
Duplicate of #10121

[2021-01-25 17:31] #114813 closed

[2021-01-25 17:31] meganrogge commented on #114824
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2021-01-25 17:32] meganrogge commented on #114830
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2021-01-25 17:32] meganrogge commented on #114842
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2021-01-25 17:33] meganrogge commented on #114845
Please provide a screenshot or [a gif](https://gifcap.dev/) illustrating the problem (attaching images won't work via email, you need to go to github.com). See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more general info on how to report actionable terminal issues.
/label "needs more info" integrated-terminal

[2021-01-25 17:34] rafabr4 opened #114929 "Add a Max Editor Group Width setting"
I often use the command `Maximize Editor Group` for switching between two editor groups, but since I use a large monitor, the width to which the editor is extended is too great. The ratio of editor groups is set at around 85% - 15%.

It would be great if we could set a custom maximum size for the editor (or a split percentage) so we could get a ratio of 70% - 30% or similar, since such a wide edit

[2021-01-25 17:35] meganrogge commented on #114849
please provide your settings, something is probably wrong with your `terminal.integrated.cwd`

[2021-01-25 17:41] TylerLeonhardt opened #114930 "Test PowerShell 7 discovery"
Refs: #110828

- [x] windows @tanhakabir (with no additional PowerShell's installed and with [PS7 MSI](https://github.com/PowerShell/PowerShell#get-powershell) installed or PS7 from the [Microsoft Store](https://www.microsoft.com/en-us/p/powershell/9mz1snwt0n5d?activetab=pivot:overviewtab))
- [x] windows: @sbatten  (test Windows ARM)

Complexity: 2

[Create Issue](https://github.com/microsoft/vsco

[2021-01-25 17:43] #72621 closed

[2021-01-25 17:44] #76642 closed

[2021-01-25 17:44] #93056 closed

[2021-01-25 17:44] #104326 closed

[2021-01-25 17:44] #105114 closed

[2021-01-25 17:44] #106832 closed

[2021-01-25 17:44] #108857 closed

[2021-01-25 17:44] #108962 closed

[2021-01-25 17:44] #109728 closed

[2021-01-25 17:44] #111412 closed

[2021-01-25 17:44] #111479 closed

[2021-01-25 17:44] #111847 closed

[2021-01-25 17:44] #112171 closed

[2021-01-25 17:46] deepak1556 commented on #114910
Merging to https://github.com/microsoft/vscode/issues/95062

[2021-01-25 17:46] #114910 closed

[2021-01-25 17:49] xpe opened #114931 "Keyboard Shortcuts editor: distinguish deleted versus unset keybindings"
## Context

Users can remove a keybinding.

## Problem

In the Keyboard Shortcuts editor, removed keybindings are non-obvious. The editor only shows the *absense* of a shortcut.

<img width="1024" alt="Keyboard Shortcuts editor showing removed keybinding" src="https://user-images.githubusercontent.com/4576329/105744587-5af1b100-5f0b-11eb-9b48-1be792c0df8d.png">

## Discussion

* "If the keybinding

[2021-01-25 17:50] wonkoRT commented on #56279
I'd like this, additionally with an option to copy escaped paths in source code and unescape them while copying and vice versa. Also it would be great if pasting into a source would recognize paths and auto escape them and also convert forward to backslash paths prefixed with \\?\ (escaped \\\\?\\) at least when hitting the max path length limit.

[2021-01-25 17:52] chairy commented on #104006
Thank you Miguel! And Wow, this is INCREDIBLE! Thank you :)

Chairy

On Mon, Jan 25, 2021 at 8:16 AM Miguel Solorio <notifications@github.com>
wrote:

--
*Chairy Cheung* | Interaction Designer | chairy@google.com

[2021-01-25 17:53] gjsjohnmurray commented on #114918
/causedByExtension

[2021-01-25 17:53] #114918 closed

[2021-01-25 17:54] xpe commented on #114931
Some more context: I understand and use the "keybindings.json" file, but I consider that outside the scope of my feature request here. My point here is to recommend improving the user experience of the Keyboard Shortcuts editor.

[2021-01-25 17:55] TylerLeonhardt opened #114932 "Test document test hierarchy polyfilling"
Refs: #107467

- [x] anyOS @sandy081
- [x] anyOS @meganrogge

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114932%0A%0A)

---

1. Grab the test provider sample: https://github.com/microsoft/vscode-extension-samples/tree/master/test-provider-sample
2. Run it and smoke test test features:
    * CodeLens shows in document
    * Run test works (a test th

[2021-01-25 17:58] jrieken opened #114933 ""Task cannot be tracked" frustration"
* use https://github.com/microsoft/vscode-github-issue-notebooks
* run `npm i`
* the project defines an npm script `bundle-all`
* there is a task defined for the bundle-all script
* now, remove this line https://github.com/microsoft/vscode-github-issue-notebooks/blob/4c50e8f23b70dd073c4a181725f38867667e73cd/.vscode/tasks.json#L21
* press F5
* :bug: you get a message about being unable to track a t

[2021-01-25 18:01] connor4312 commented on #114926
This is because the color gets set by the breakpoint hover. We're tackling how to manage this in https://github.com/microsoft/vscode/issues/114776

/duplicate

[2021-01-25 18:02] #114926 closed

[2021-01-25 18:03] connor4312 commented on #114925
This is the `glyphMarginHoverMessage`, cc alex

[2021-01-25 18:07] kriive commented on #109176
This solutions works like a charm. Just compile the electron-12.x.y branch as @paulcarroty has pointed out, change the settings and you're good to go! This is what it looks like on a 4K display on HiDPI! 🥳

![image](https://user-images.githubusercontent.com/24835026/105747048-880c8680-5f40-11eb-838c-988a2f2b5977.png)

[2021-01-25 18:10] connor4312 commented on #114933
I think this is because you have no problem matchers for the task

But the message could be more helpfulk

[2021-01-25 18:10] meganrogge commented on #114858
I find that casting things is useful, as you can see here, I don't see that error.
![err](https://user-images.githubusercontent.com/29464607/105747366-8bc6eb80-5ef5-11eb-8dbf-b2077662d6f0.PNG)

[2021-01-25 18:11] memeplex commented on #109176
Let's call this a workaround, please, a proper solutions involves rendering CSD using your platform theme, not Windows 10's.

[2021-01-25 18:11] jrieken commented on #114933
hm... but I don't want problem matchers...

[2021-01-25 18:13] deepak1556 commented on #113410
Worth reporting with a minimal test case to v8 repo https://bugs.chromium.org/p/v8/issues/list , I will try to do it later today if there is no existing issue found.

[2021-01-25 18:15] 4ndv commented on #109176
Sure, but it's mostly related to electron, not vscode. And for now - this is better than nothing. And it's still better than running blurry vscode under XWayland with fractional scaling (like in my case).

[2021-01-25 18:15] xpe opened #114935 "Keyboard Shortcuts editor: does not show custom arguments"
## Context

Keybindings may have arguments, which are kept in the `"args"` JSON key in "keybindings.json". Currently, the Keyboard Shortcuts editor does not:

* indicate the presence of custom arguments, nor
* show the contents of the arguments

## Problems

Problem #1: When using the Keyboard Shortcuts editor, a user has no way of knowing that custom arguments are in effect.

Problem #2: When usi

[2021-01-25 18:27] #114651 closed

[2021-01-25 18:27] roblourens commented on #114651
I think the default in ListService is correct so I added a new flag to override `pinned` while setting the selection, same as we already do for `preserveFocus`, I think this is ok. FYI @joaomoreno

[2021-01-25 18:29] #113851 closed

[2021-01-25 18:30] jrieken commented on #114933
As suggestion, I now added some problem matcher. It did need a reload of the renderer and now I can launch. Tho, I think a that shouldn't be needed at all

[2021-01-25 18:30] alor-pretatma commented on #114858
This report is not about casting. Please visit this link [https://code.visualstudio.com/api/references/vscode-api#TerminalOptions](https://code.visualstudio.com/api/references/vscode-api#TerminalOptions)

But the problem is, in the image I've given it says

But it should exist.

And when I hit run, this happens:

![Screenshot 2021-01-26 002440](https://user-images.githubusercontent.com/33311165/10

[2021-01-25 18:30] jrieken commented on #114933
updates steps: remove this line: https://github.com/microsoft/vscode-github-issue-notebooks/blob/4c50e8f23b70dd073c4a181725f38867667e73cd/.vscode/tasks.json#L21

[2021-01-25 18:34] deepak1556 commented on #105136
Closing this due to no new reports, please reopen otherwise.

[2021-01-25 18:34] #105136 closed

[2021-01-25 18:34] #104673 closed

[2021-01-25 18:38] deepak1556 commented on #101920
@bpasero The root is fixed in the runtime https://github.com/electron/electron/pull/25114, we should adopt the async api to resolve on our end. Please reassign to the owner of this code path. Thanks!

[2021-01-25 18:39] andreialecu commented on #113410
FWIW: Chrome itself does not seem to crash while running WebAssembly. I went to a bunch of webassembly test suites and everything seems fine.

Not sure why only nodejs would be affected.

Also if I revert to node 14 and run via rosetta, everything still works.

[2021-01-25 18:39] #114630 closed

[2021-01-25 18:43] deepak1556 commented on #113410
Which version of chrome did you test this on ?

[2021-01-25 18:43] arturogh commented on #114804
I've tried running:
[code]

But I get
[code]

Not sure what steps to try next.
Also, at least in my case the message is confusing as the app is not in a read only volume.

[2021-01-25 18:44] DonJayamanne opened #114936 "Custom renderers end up rendering output even when a notebook is hidden"
- Version: 1.53.0-insider
- OS: Darwin x64 20.2.0

I'm  trying to use the new API for trusting (not-trusting) output that was introduced here https://github.com/microsoft/vscode/issues/108946.

Unfortunately when a notebook is not trusted, the custom renderers are still able to render output.
These custom renderers execute JS code & display HTML (which is what we would like to disable when a noteb

[2021-01-25 18:46] MOINMEHMET opened #114937 "the short for run a programm is not working"

[2021-01-25 18:46] andreialecu commented on #113410
Latest:
[code]

[2021-01-25 18:46] #112761 closed

[2021-01-25 18:47] joaomoreno commented on #112223
Fixed by: https://github.com/microsoft/vscode/commit/09bc6fc64b136942e3669f77417fdc15648823d7

[2021-01-25 18:47] #112223 closed

[2021-01-25 18:47] rebornix commented on #114915
Not sure which commit triggers it but the root cause is https://github.com/microsoft/vscode/commit/7468a060129fb55c50635d534c828473b2887828. Reverting this.

[2021-01-25 18:49] Tyriar commented on #106631
I can't repro this. Here's what I tried specifically which I think captured the problem:

1. Create an env var, set to "foo"
2. Launch VS Code
3. Run an extension command that updates the env var to "bar"
4. Relaunch terminal, it's set to "bar"
5. Run an extension command that clears the env collection
6. Relaunch terminal, it's set to "foo"

[2021-01-25 18:49] joaomoreno commented on #112223
**Verification:**

1. Install VS Code stable **debian package** from last month. Check `/etc/apt/sources.list.d/vscode.list`, make sure it points to the old repo `http://packages.microsoft.com/repos/vscode`.
2. Install latest VS Code insider **debian pakcage**. Check `/etc/apt/sources.list.d/vscode.list`, make sure it now points to the new repo `http://packages.microsoft.com/repos/code`.

[2021-01-25 18:50] connor4312 commented on #107467
I do not recommend changing the state of `s1`. I believe I mentioned this somewhere up in the thread, but I realized that the state of these suites is aesthetic in the explorer and can be computed based off their child state instead of having every extension implement 'inheritance'. So this is done automatically. You only need to update s1t1/2 when their corresponding states change.

I worded this

[2021-01-25 18:51] #111587 closed

[2021-01-25 18:52] joaomoreno commented on #111587
**Verification steps from @gjsjohnmurray:**

[2021-01-25 18:55] Media-Evil opened #114938 "Popups blocking text selection"
Issue Type: <b>Bug</b>

Create an .mjs-file, declare a variable, like this:

[code]
Then try to select `foo` via mouse cursor. As soon as you hower over it, the popup will show up, making it impossible to select the desired portion of text. SUPER ANNOYING!

VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:34:46.910Z)
OS version: Windows_NT x64 10.0.18363

<deta

[2021-01-25 19:04] rchiodo opened #114939 "find/replace hangs or loops"
@taisbak commented on [Mon Jan 25 2021](https://github.com/microsoft/vscode-jupyter/issues/4477)

## Environment data

-   VS Code version: 1.53.0-insider (user setup)
-   Jupyter Extension version: 2020.12.414227025
-   Python Extension version: 2021.2.505054260-dev
-   OS: Micosoft Windows 10 Enterprise 10.0.18363 build 18363
-   Python and/or Anaconda version: 3.8
-   Type of virtual environmen

[2021-01-25 19:04] bugpowder opened #114940 "Search results omit certain characters"
- VSCode Version: Version: 1.52.1
- OS Version: Big Sur 11.1

Steps to Reproduce:

1. Create a file text.py with these contents:

[code]

2. Do a file search for the term "foobar"

In the result lines that are shown, the lines with B are shown without the initial "#".

This is not about the variable being named AAA... vs BBB... though, it's about the length of the variable, I just used different l

[2021-01-25 19:08] alexdima opened #114941 "Test Semantic Tokens commands"
Test plan item for #114299

- [x] anyOS @jrieken
- [x] anyOS @dbaeumer

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114941%0A%0A)

---

Please write an extension (or change an existing one) in order to invoke the following commands and request semantic tokens.

For `DocumentSemanticTokensProvider` you can use the Semantic Tokens Sample from https://

[2021-01-25 19:09] aeschli opened #114942 "Allow to contribute to icon registry from icon contribution point"
Extracted from #92791.

Allow extensions to define a new icon by id, along with a default icon.
That icon id can then be used by the extension (or other extensions that depend on the extension) at the places where `ThemeIcon` can be used.

[2021-01-25 19:10] SiddhanthUnnithan commented on #114227
@bpasero we've had one internal user test with Insiders and it's worked! We're asking some others that were running into this issue to do the same. Will follow up in this thread if we run into anything.

[2021-01-25 19:11] aeschli commented on #92791
Closing this issue. https://github.com/microsoft/vscode/issues/114942 is for the icon contribution point

[2021-01-25 19:11] #92791 closed

[2021-01-25 19:20] jhampson-dbre opened #114943 "Developer: Reload Window no longer reloads bashrc for devcontainer"
Remote Containers v0.155.1

Until recently, I could change an exported environment variable defined in the `.bashrc` inside my container, select `Developer: Reload Window`, and the environment variable change would be effective after the reload. Today, I changed an environment variable in `.bashrc`, selected `Developer: Reload Window`, but the variable was still not in the environment. I fully clo

[2021-01-25 19:20] deepak1556 commented on #113410
node 15.6 uses v8 8.6 while above chrome version uses v8 8.8, might want to try with chrome 86.

[2021-01-25 19:21] chrishacia commented on #114491
I am not 100% sure, I am mot exactly sure how I would recreate the issue. Overall I had been working my normal days worth of work,I had walked away from my desk for a short while during which time my computer went idle, screen saver came on, and when I came back I saw that error.

[2021-01-25 19:22] deepak1556 commented on #113410
Trace from the dumps matches the node crash report you had made. Same root cause.

[code]

[2021-01-25 19:25] xpe commented on #38834
There is a lot of good useful converation here. However, please, I would ask that people hold off from saying things such as:

Here's the problem: such comments don't move the conversation forward. They might be off-topic, impatient, or snarky. In any case, they squander people's valuable time and attention.

So, please, let's work together to reduce the signal to noise ratio, not only in this par

[2021-01-25 19:32] UncleClapton opened #114945 "Improve font options for SCM input"
Hello!

It seems there's no way to control `font-size` and `font-weight` for the SCM input widget, despite there being an option for `font-family`. When using my main editor font, this results in uncomfortably large text which is far from ideal. This also may be considered an accessibility issue since users who would prefer a certain font can't adjust it to maximize legibility.

If possible, I'd l

[2021-01-25 19:36] eamodio commented on #111525
Yeah, I still see it sometimes. Typically when switching between views and expanding a new view when the hover was visible from another.

[2021-01-25 19:37] misolori commented on #112730
Here's a quick mockup of what this could look like:

![image](https://user-images.githubusercontent.com/35271042/105756512-97b8aa80-5f01-11eb-87db-a0d73f4a746d.png)

[2021-01-25 19:39] rebornix commented on #114915
Fixed via 7468a060129fb55c50635d534c828473b2887828.

[2021-01-25 19:39] #114915 closed

[2021-01-25 19:44] isidorn commented on #112730
Looks cool!

[2021-01-25 19:46] RokDo commented on #114824
What info you need?

[2021-01-25 19:50] alexdima opened #114948 "Test onEnterRules that can be defined in `language-configuration.json`"
Test plan item for #114348

- [x] anyOS @dbaeumer
- [x] anyOS @rzhao271

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114948%0A%0A)

---

Please try to edit a `language-configuration.json` from one of our extensions (or make a new one if you really want to). Add some `onEnterRules`.

e.g.
[code]

Please also see that the JSON schema is working and th

[2021-01-25 19:57] andreialecu commented on #113410
The last version of Chromium 86 I found is not arm64 native:

`Version 86.0.4240.0 (Developer Build) (x86_64 translated)`

I believe the first arm64 release came after 86.

[2021-01-25 19:58] sbatten opened #114949 "Test: Merged Web Menu and Web App Icon in Title Bar"
https://github.com/microsoft/vscode/issues/112237

- [x] macOS @alexdima
- [x] windows @digitarald
- [x] linux @joaomoreno

Complexity: 2

Authors: @sbatten

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114949%0A%0A)

---

_Edit from @joaomoreno: This is about the `window.menuBarVisibility` setting on the **web**. Also, take this: https://vscode-web-test-playground

[2021-01-25 20:03] misolori commented on #112458
This is no longer needed, closing.

[2021-01-25 20:03] #112458 closed

[2021-01-25 20:05] IllusionMH commented on #56279
@wonkoRT escaping/unescaping should be separate request because need to escape/unescape depends too much on context of from/to operation (config vs string vs import location, language etc.).

This one about removing difference between how paths(mostly relative) are handled in windows vs *nix for display, copy etc.

[2021-01-25 20:05] andreialecu commented on #113410
I was able to find an arm64 build of Chromium 86:

https://github.com/macchrome/chromium/releases/download/v86.0.4218.0-r793075-macOS/Chromium.86.0.4218.0.arm64.sync.app-rev1.zip

Testing with:
https://github.com/guybedford/wasm-demo

Demo 1. works
Demo 2+ crash the tab (consistently)

<img width="619" alt="Screenshot 2021-01-25 at 22 02 36" src="https://user-images.githubusercontent.com/697707/10

[2021-01-25 20:05] joetex opened #114950 "Renamed folder from upper to lowercase, both cases show up in search"
Issue Type: <b>Bug</b>

1) Create project folder
2) Make project folder a git repo (might be unecessary)
3) Add folder into project folder with uppercase letter, i.e. "Test"
 a) Add file with some random text to search
4) Open project folder in VSCode
5) From VSCode, rename folder to "test" all lowercase
6) Do a global search in files for a piece of the random text

You should see two results from

[2021-01-25 20:06] sbarex opened #114951 "Mac: Inconsistent dirty status and the Proxy Icon on tile bar is not draggable"
Issue Type: <b>Bug</b>

I'm on a mac (macOS 11.1 intel).
I have an editor window with opened some tabs.
If all files are saved I can drag the proxy icon on the title bar to drop the current file on other application.

When I edit a file (without saving him) the Mac red semaphore on the title bar is set to the dirty status and the proxy icon is disabled and it cannot be dragged any more. This behav

[2021-01-25 20:10] ArturoDent commented on #114794
I can confirm this is now working for me on W10.

Before I file another issue on it - should the search in open editors find text in an unsaved/open editor?

[2021-01-25 20:21] lramos15 opened #114952 "Hex Editor 1.4.0 test item"
Refs:https://github.com/microsoft/vscode-hexeditor
- [x] anyOS @gregvanl
- [x] anyOS @fiveisprime

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114952%0A%0A)

---
Use this VSIX (change from .zip to .vsix)
[hexeditor-1.4.0.zip](https://github.com/microsoft/vscode/files/5869519/hexeditor-1.4.0.zip)

Test general hex editor functionality. Ensure search,

[2021-01-25 20:27] schroef commented on #113683
Can i ask how i use the code "--disable-renderer-accesibility"? I tried starting the app with Terminal on OSX and add this as a flag. It returns its an unfamilliar code

`Mac-Pro:~ macpro1$ /Applications/Visual\ Studio\ Code.app/Contents/MacOS/Electron --disable-renderer-accessibility
Warning: 'disable-renderer-accessibility' is not in the list of known options, but still passed to Electron/Chromi

[2021-01-25 20:29] aeschli commented on #113993
Fix is now in insiders

[2021-01-25 20:29] #113993 closed

[2021-01-25 20:31] dragonDScript commented on #10546
Like the 'OPEN EDITORS' tab in the explorer?
![image](https://user-images.githubusercontent.com/46191980/105762432-abd9c780-5f54-11eb-869d-075e430d8c01.png)

[2021-01-25 20:31] SharakPL commented on #40239
Actually this feature is already available. You simply need to create an Extension Pack in your `<profile>/.vscode/extensions/` folder, add extensions to its package.json file and whenever you need it simply go to this extension on your extensions list and hit **Enable in workscape**. This will enable all the extensions available in this pack. Here's all you need to make it work: https://code.visu

[2021-01-25 20:31] Tyriar commented on #111525
@alexr00 would this be the tree not calling `hideHover` at some point?

[2021-01-25 20:34] dragonDScript commented on #114950
Have you tried to reload the window?

[2021-01-25 20:37] schroef commented on #113647
Does this option do the same as this menu in the settings? Sound like its the same option. However when i try using Terminal, i get a warning this option is not there. Then checking the settings, its still set to auto. So probably this option is doing something else.

![Screen Shot 2021-01-25 at 16 32 56](https://user-images.githubusercontent.com/6923008/105762990-8e443800-5f2b-11eb-8016-25d36c432

[2021-01-25 20:37] daniv-msft commented on #108760
The user never replied, unfortunately. Since November, we moved to another third-party downloading API to help with this.
Thanks to everyone who had a look into this! I'm closing this issue.

[2021-01-25 20:37] #108760 closed

[2021-01-25 20:45] wonkoRT opened #114953 "Improve editor and clipboard filesystem path handling"
I'd love to see more options and automatism's to handle path escaping and representations with the clipboard and string representations in source files. I very often have to escape one into two backslashes for paths or unescape two back into one and all i could come up with so far is some search and replace macros or just editors with constantly open find/replace dialogs.

Depending on the context

[2021-01-25 20:45] aeschli commented on #112298
Spinning is now limited to sync and loading.

[2021-01-25 20:45] #112298 closed

[2021-01-25 20:51] aeschli commented on #111691
`debug-alt` and `debug-alt-small ` are no longer used by our UI but only around for background compatibility in case an external extension still uses it.

[2021-01-25 20:51] #111691 closed

[2021-01-25 20:56] connor4312 commented on #114653
- total passed/failed tests now has visible text
- used alt+enter to focus in the editor

[2021-01-25 21:02] xisui-MSFT commented on #114731
@sandy081 Ah I see what you mean. Would it be better to add this settings to the remote settings file?

[2021-01-25 21:05] ericaig commented on #32541
Did it work for you @wesbos ?

[2021-01-25 21:11] meganrogge commented on #114824
Enabling trace logging
For some terminal issues it's useful to get trace logs, this can reveal at what point something is failing. Follow these steps to get the logs:

Close all VS Code windows
Launch VS Code from the terminal using code --log trace
At this point you should reproduce the terminal issue you're having
Run the command "Developer: Open Log File..." (F1 opened command palette) and sele

[2021-01-25 21:13] #114389 closed

[2021-01-25 21:13] #114472 closed

[2021-01-25 21:14] levacic commented on #40239
@SharakPL That's not the feature described here and it doesn't solve the same problem.

I (and many others) want to be able to configure enabled extensions within a configuration file that can be committed to a project's repo - so when I open that project (ie. workspace) on a different machine, or anyone else on my team does that, the correct extensions are enabled automatically.

I do not want to

[2021-01-25 21:18] trajano commented on #5280
Maybe we should have a `+nothing` capability doesn't have to be in the GUI I can/should be able to put it in keybindings.json as

    {
        "key": "shift+nothing shift+nothing",
        "command": "workbench.action.quickOpen"
    },

[2021-01-25 21:19] joetex commented on #114950
Huh, reloading worked, like this:
`Ctrl+Shift+P` -> `Developer: Reload Window`

I had tried closing/opening, but I guess that doesn't clear cache.  Thanks!

[2021-01-25 21:20] marekparticle commented on #81589
+1! Would be really useful.

[2021-01-25 21:21] js182 opened #114954 "No preview for Material icons"
- VSCode Version: 1.52.1
- OS Version: Windows_NT x64 10.0.19042

When pressing CTRL + Spacebar normally a window with additional information pops up and when doing so next to specifying an icon, it shows a preview for the currently targeted icon.
Somehow it does not show this preview in the popup, but when saving, closing and reopening the file it shows the tiny leading preview in front of the co

[2021-01-25 21:21] weinand commented on #114937
/needsMoreInfo

[2021-01-25 21:21] #104691 closed

[2021-01-25 21:28] DonJayamanne opened #114955 "Unable to save & retrieve secrets using getPassword"
- Version: 1.53.0-insider
- Commit: dcda88e5a69a52b3a9e141af73b68caae08cb2bf
- Date: 2021-01-25T08:41:30.565Z
- OS: Darwin x64 20.2.0

Steps to Reproduce:

1. Use the new VSC API in insiders
2. Use context.secrets.get & set to save and retrieve passwords
3. No errors, when when invoking `get`, `undefined` is returned. I.e. password isn't saved.

Does this issue occur when all extensions are disabl

[2021-01-25 21:35] TacticalDan commented on #107016
Hey I dunno if this deserves a seperate issue tracking, but after duplicating VSCode locally and messing around I was able to vastly improve scrolling and text selection performance on high-refresh monitors [anything above 60hz aka. below 16ms ]. Currently I'm looking to figure out how to commit this and do a pull request since it's a really easy fix to an ancient 3 year old arbitrary 16ms delay b

[2021-01-25 21:50] JacksonKearl opened #114956 "Search In Open Editors: Search in modified files"
Search in open editors is skipping unsaved modifications.

1. Type some unique phrase in an open editor and search for it, keeping the document unsaved
2. Result appears
3. Enable "Search only in open editors"
4. Result disappears

[2021-01-25 21:51] JacksonKearl commented on #114794
It should, it did at one point must I must have broken it. I created #114956 to track just now.

[2021-01-25 21:51] aeschli commented on #112721
I pushed a fix to Insiders and the Remote-WSL extension

[2021-01-25 21:51] #112721 closed

[2021-01-25 21:56] Tyriar opened #114958 "Integrate new custom editor file into explorer"
The experience of creating untitled files for use in a custom editor isn't great right now (https://github.com/microsoft/vscode/issues/114711). The problem is even worse for custom binary editors because it just feels weird and unexpected to first create an untitled file, and then reopen it using the custom editor and the editor is meant to know to not actually open an empty binary file, but an un

[2021-01-25 22:07] hsmello commented on #114830
@meganrogge , i am sorry for the incomplete report. thank you! details below:

This is the msg
![image](https://user-images.githubusercontent.com/60452857/105771755-f65d4300-5f58-11eb-9504-41f37f32f9e3.png)

settings.json
{
    "javascript.updateImportsOnFileMove.enabled": "always",
    "emmet.includeLanguages": {
        "javascript": "javascriptreact",
        "vue-html": "html",
        "razor"

[2021-01-25 22:08] #110936 closed

[2021-01-25 22:10] mjbvz commented on #114860
You can run the `Restart TS server` command to restart the server. This is not a passable operation (or one we think users should care about pausing in the first place) so no plans to add support for that

[2021-01-25 22:10] #114860 closed

[2021-01-25 22:12] #109457 closed

[2021-01-25 22:17] mjbvz commented on #114891
Our JavaScript and TypeScript intellisense is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md)

[2021-01-25 22:17] #114891 closed

[2021-01-25 22:19] rebornix opened #114959 "Ctrl/Cmd+Z command hijacked by webview contrib in notebook"
Issue Type: <b>Bug</b>

* Open GitHub Issue Notebook
* Make some changes, put focus on the list view (not in any editor)
* CMD+Z, nothing happens

From debugging, the webview /vs/workbench/contrib/webview/browser/webview.contribution.ts#L15-L21 steals it.

VS Code version: Code - OSS Dev 1.53.0 (Commit unknown, Date unknown)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</su

[2021-01-25 22:21] misolori commented on #112593
To verify:

1. Use an extension that uses tree views that fetches data (GH PR)
2. Open large tree node (All PRs)
3. See the loading spinner on tree node is using the new loading icon from above

[2021-01-25 22:25] mjbvz commented on #114828
@aeschli Is there a command to get the folding ranges for a string or a file?

@meganrogge Adding you since you worked on folding recently

[2021-01-25 22:26] #114883 closed

[2021-01-25 22:29] mjbvz commented on #114739
@jrieken Looks like the entries for `b` and `B` have the same score here. Could the suggest widget prioritize exact matches that have the same case as the text to be replaced?

[2021-01-25 22:30] #114874 closed

[2021-01-25 22:30] mjbvz commented on #114874
Themes can contribute a color for italic markdown content. The default dark+ chooses to italicize the text instead

[2021-01-25 22:37] mjbvz commented on #114959
If notebooks always want to handle the undo, I believe they just need to set their [command override priority](https://github.com/microsoft/vscode/blob/9bd54c15ae0c2017f4ea251e9eb9a88fb38d62c9/src/vs/workbench/contrib/notebook/electron-browser/notebook.contribution.ts#L40) higher than the webview's priority (100)

Simply changing the priority seems to work, although I am assigning this back to you

[2021-01-25 22:38] Abdulrahman3053 opened #114960 "Run Error"
Hello,

Whenever I try to run a C++ code on VS, I receive an error which says
"launch: program " does not exist"
How to do I solve this issue?

Thanks.
![image](https://user-images.githubusercontent.com/77923986/105775036-cc168000-5f6e-11eb-9c72-dfbb1c650d49.png)

[2021-01-25 22:41] mjbvz commented on #114805
`Ctrl + Shift + V ` opens a new markdown preview editor.

To change the current editor, try using the `Toggle editor type` command instead

[2021-01-25 22:41] #114805 closed

[2021-01-25 22:48] MightyPen opened #114961 "VS Code needs Expand/Collapse controls for ':::' syntax sections in markdown"
Hello,
In our markdown documentation articles, the Zone Pivot and Versioning features are example that use the increasingly common syntax of `:::` (three colons) at the start of a line, to indicate a special section of content.
In practice, in VS Code markdown editor, when scrolling through .md file that has ::: sections, presently it is too difficult to really follow which section I am currently

[2021-01-25 22:53] mjbvz opened #114962 "Test external uri opener API proposal"
Refs #109277

- [x] Mac @connor4312
- [x] Linux @RMacfarlane
- [x] Windows @TylerLeonhardt

Complexity: 5

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114962%0A%0A)

---

## Background
The new external uri opener api lets extensions hook into opening of http and https links. These openers are invoked for links in editors, hovers, and the terminal, and can also be

[2021-01-25 22:54] #114048 closed

[2021-01-25 22:58] #114959 closed

[2021-01-25 23:06] scscgit commented on #108688
Undo/Redo is definitely one of core functionalities that would deserve some additional configuration options, including a way to limit or log the actions of some extensions. Personally I'd argue for a new "Redo-Undo buffer" that would let us undo any buffer destruction by simply chronologically coming back to the previous "physical" state; think about all the developers who irrecoverably lose some

[2021-01-25 23:39] #114961 closed

[2021-01-25 23:39] mjbvz commented on #114961
VS code's built-in markdown support targets [common mark](http://commonmark.org), which does not support `:::` blocks

However I believe an an extension could add folding support for these

[2021-01-25 23:42] hantatsang commented on #114008
@eamodio Is this `zsh` terminal? I'm trying to replicate the issue with `bash` terminal on Windows but I can't see those branch links you have on the right side of your terminal.

[2021-01-25 23:43] fireattack commented on #104183
With autoscroll, you can click (not hold) middle button and then drag. So it (at least this part) won't be conflicted with column select.

Of course, we still should have (and probably will get) options if it's ever going to be added.

[2021-01-25 23:50] roblourens commented on #114870
Did that but also noticed that we just added a new docs section on "when" clauses. So I will look into what would be appropriate for mentioning that for the exclude settings.

[2021-01-25 23:54] eamodio commented on #114008
It's not mine, it came from a user that reported it here: eamodio/vscode-gitlens#1284, but my guess is it is powershell

[2021-01-25 23:59] eamodio commented on #111909
Not sure the best way to verify this -- likely need to capture the network traffic while running a git `clone`/`fetch`/`pull`/`push` operation.

@sana-ajani Do we have any insight from the GitHub actions team, if they are seeing this?

[2021-01-26 00:03] RMacfarlane opened #114963 "Test: Create issue directly from issue reporter"
Refs: https://github.com/microsoft/vscode/issues/95165
- [x] macOS @ornellaalt
- [x] linux @chrmarti
- [x] windows @tanhakabir

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114963%0A%0A)

---

Previously, the issue reporter only allowed opening an issue as a preview on GitHub, instead of a direct create, which often ran into issues with url length li

[2021-01-26 00:06] eamodio commented on #111210
To verify you could write an extension to use the git api and call the new `openRepository` method, and see that the repository opens in the SCM view.

Or much more easily verify with GitLens Insiders edition:
- open a folder in VS Code where the repository is nested more than 2 levels deep 1 > 2 > 3 > repo-folder
- observe that no repository shows up in the SCM view
- set `"gitlens.advanced.repos

[2021-01-26 00:09] eamodio commented on #110811
Verify that setting `"git.autofetch": 'all'` fetches all remotes, and still that `false` stop auto-fetching, and that `true` fetches the default remote

[2021-01-26 00:10] rebornix commented on #114663
@claudiaregio I think this is something the kernel provider can control (by listening to kernel change and change its `preferred` kernel decision) @DonJayamanne can you confirm?

[2021-01-26 00:12] digitarald opened #114964 ""Skip" in Getting Started should reset startup editor"
_Getting Started_ will keep opening for each new project without any means of disabling it from the page itself. Similar to unchecking _Show welcome page on startup_ in _Welcome_, selecting _Skip_ in _Getting Started_ should reset the `startupEditor` setting to `none` (_Welcome_'s  checkbox resets startupEditor to `newUntitledFile`).

@misolori what are your thoughts? I wanted to double-check that

[2021-01-26 00:19] eamodio opened #114965 "Can't ESC out of completions in Settings (JSON) Editor ("workbench.settings.useSplitJSON": true)"
I believe this started recently, but I can no longer hit `esc` to dismiss the completions widget.

[2021-01-26 00:24] connor4312 commented on #114653
Where are you thinking this should be added? We have the peek view title -- which right shows the test `message` given by the test provider. Are you thinking something additional/instead of that?

[2021-01-26 00:24] odahcam commented on #2809
How you expect him to write a PR if you don't even want to tell him what he needs to solve?

Sure we should upvote before +1 or requesting updates. But we also still need to use our brain and try to understand before criticising.

@awits could be or could not be the guy to solve the issue, but no one will know if no one helps. Let's not be toxic guys.

[2021-01-26 00:27] mjbvz opened #114966 "Test: Find all references to file for JS/TS"
Refs: #66150

- [x] Mac @kieferrm
- [x] Linux @aeschli
- [x] Windows @fiveisprime

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114966%0A%0A)

---

## Background

We've added support for 'find all references to file' for JS and TS. This is only available in TS 4.2+

## Testing
- Make sure you are using TypeScript 4.2+ in your workspace.
- Confirm tha

[2021-01-26 00:35] memeplex commented on #2809
It's as simple as this: 1. you have something relevant to say, then say it, 2. you don't, then just vote. Whining, as @awits acknowledged he/she was doing, adds nothing, sends irrelevant notifications to subscribers like me and eventually the thread becomes locked for good reason. I'm going to leave this here because I don't want to be part of the problem more than I'm already being by answering.

[2021-01-26 00:45] RMacfarlane opened #114967 "Test: New GHPRI create pull request flow"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/2293

- [x] macOS @bpasero
- [x] linux @isidorn
- [x] windows @JacksonKearl

Complexity: 5

Authors: @RMacfarlane, @eamodio

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114967%0A%0A)

---

**Please make sure you are using the nightly version of the [extension](https://marketplace.visualstudio.com

[2021-01-26 01:00] #108950 closed

[2021-01-26 01:01] TacticalDan commented on #107016
After creating a test at https://codepen.io/tacticaldan/pen/KKgjLNe - it does look as though the method used in `viewLayer.ts` is better compared to creating the DOM elements manually in javascript. It feels pretty counter-intuitive but I guess the Chrome renderer is pretty well practiced at parsing HTML strings 🤔 makes sense I guess.

[2021-01-26 01:11] mavaddat commented on #112846
I tried and the problem seems to disappear. There was an update shown pending in VS Code (blue notification on the ⚙ icon), I saved the new setting `"update.enableWindowsBackgroundUpdates": false` in my preferences JSON, restarted VS Code, accepted to download the update from within VS Code, accepted to install the update, accepted to restart VS Code. It worked like it's supposed to this time. 🤷🏽

[2021-01-26 01:14] albasyir opened #114968 "Slow connection, made it stuck for download extension"
- VSCode Version: 1.52.1
- OS Version: Macintosh Bigsur

Steps to Reproduce:

1. Open VSC
2. Try to download VSC Extension
3. Take a look at system activity / task manager for see VSC work or not, the fact, VSC not use any network
4. Repeat step 2 and 3 for 3 times, still like that
5. use VPN
6. it's work, and faster download, why?

Does this issue occur when all extensions are disabled?: No

[2021-01-26 01:18] rebornix opened #114969 "Test rich diff editor for notebook"
Refs: https://github.com/microsoft/vscode/issues/112486

- [x] anyOS @jrieken
- [x] anyOS @Tyriar

Complexity: 5

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114969%0A%0A)

---

We added support for rendering outputs for notebook in the diff editor this iteration. To test this feature, you would need a bit of time setting things up but once that's done, you should

[2021-01-26 01:24] JacksonKearl opened #114970 "Test: Search in Open Editors"
Refs: #106790

- [x] Mac @digitarald
- [x] Linux @joaomoreno
- [x] Windows @gregvanl

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114970%0A%0A)

---

## Background

Added support for searching in all open editors. This is potentially a precursor to searching in a variety of extension-contributed file sets, but for now the only exposure is for open e

[2021-01-26 01:25] rebornix commented on #109680
Verifier: please make changes to github issue notebooks in `.vscode\notebooks\my-endgame.github-issues` and then open changes in diff editor, please test that when you are scrolling in the diff editor, the performance is reasonable.

[2021-01-26 01:28] zeuschops commented on #114451
Apologies for the delay, I haven't gotten a chance to reproduce the issue with VSCode insiders, but the tar.gz file I expanded the over 1 million files from can be found here - [donk.sh/metadata.tar.gz](https://donk.sh/metadata.tar.gz).

[2021-01-26 01:34] yume-chan commented on #114963
I see `Create on GitHub` while the text above still reads "You will be able to edit your issue and add screenshots when we preview it on GitHub."? Maybe should be like "you can edit the created issue to add screenshots" or something similar.

Or make this textarea a rich text editor so we can upload images here directly.

[2021-01-26 01:38] krishnaanaril commented on #114945
Hi @eamodio, How can I help? Are you working on this?

[2021-01-26 01:40] enagic opened #114971 "Bug in URI.isUri() that fails `thing` type comparison"
- VSCode Version: 1.53.0
- OS Version: macOS 11.1

Steps to Reproduce:

1. Create custom URI class that implements the default URI
2. Pass in the custom URI into `URI.isUri(myCustomUri)` and it returns `false`

### Background
This is a proposed fix for `monaco-editor`.

If a model is created using a custom URI, it will fail the `URI.isUri()` check because it "tries" to check `thing` against variou

[2021-01-26 01:44] eamodio commented on #114945
I'm not, so feel free to jump in :smile:. I'd suggest following the `scm.inputFontFamily` setting and add a new one, say `scm.inputFontSize`. I'm not necessarily convinced we need more than the size (since we don't anywhere else except the editor). But I could have my mind changed :wink:

[2021-01-26 01:53] rebornix commented on #114554
The workbench core currently is aware of binary editor, text editor and diff editor. It also has some knowledge of how to create custom editor input (for custom editor and notebook). We may want to move some notebook concept into `src\vs\workbench\common\editor.ts`  (like `INotebookEditorInput`, `INotebookEditorPane` which are counter parts of `IFileEditorInput` and `ITextEditorPane`), @bpasero wo

[2021-01-26 01:53] krishnaanaril commented on #114945
Okay, I'll try then :smiley:

[2021-01-26 02:26] mjbvz commented on #112292
Opened https://github.com/microsoft/TypeScript/issues/42489 to track root cause upstream (the leading spaces are being stripped)

[2021-01-26 02:26] #112292 closed

[2021-01-26 02:33] JacksonKearl commented on #114956
\closedWith 684459c8dc6a65150c9c50ad6aab3aa098036c90

[2021-01-26 02:33] #114956 closed

[2021-01-26 02:41] osortega commented on #114063
Is there an ETA on this bug fix? It will really help us to reduce significantly our extension compile time.

[2021-01-26 02:43] JacksonKearl commented on #114795
Error should be gone now, but results wont be found in user data files on windows yet.

[2021-01-26 03:51] rightbrainy commented on #114722
It's better when indentation is increased.  I guess if you play around with fonts and spacing and search for the right extentions, improves a lot.  Overall I find myself going back to Jetbrains for everything. They pay a lot of attention to detail. Everything is more refined, smoother out of the box.

[2021-01-26 03:56] matepek commented on #107467
Ah, okay, nice.

Since then I had the chance to do some migration and my extension has a prototype version working with the proposed-api.
I've noticed a couple of things.

State inheritance (the first sentence of this comment) is not perfect: If there is a child with `TestRunState.Skipped` then the parent will inherit that. The only scenario when I would like a parent to be in that state when all

[2021-01-26 04:09] r-rachuri opened #114973 "Navigation via Headings in Jupyter Notebook"
In Jupyter Notebook, the feature where we can go to particular Cells based on the Headings defined should be useful while navigating through Notebook. Hope this gets implemented in upcoming releases.

[2021-01-26 04:34] meganrogge commented on #114830
Thanks for the info.

In the settings UI, what do you have the cwd set to?

[2021-01-26 04:38] deepak1556 opened #114974 "Test: Mac universal build"
Refs: https://github.com/microsoft/vscode/issues/113851

- [x] Mac @aeschli with intel
- [x] Mac @kieferrm with apple silicon
- [x] Mac @deepak1556 with intel
- [x] Mac @chrmarti with intel
- [x] Mac @jrieken with apple silicon
- [x] Mac @bpasero with apple silicon

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23114974%0A%0A)

---

## Background

We ar

[2021-01-26 04:40] deepak1556 commented on #114974
I have assigned this item based on the members of team who have access to devices with M1 chips, feel free to reassign or unassign if you are blocked on other items. Thanks!

[2021-01-26 05:05] deepak1556 commented on #106770
Apple silicon builds will be pushed to stable with upcoming `1.53` release, thanks all for the help with identifying issues early on. The current plan is to have the default download as a universal while we will still continue to provide architecture specific downloads https://github.com/microsoft/vscode/issues/114974.

As end user you shouldn't observe any changes when installing the universal st

[2021-01-26 05:05] #106770 closed

[2021-01-26 05:06] digitarald opened #114975 "Missing shortcut on Getting Started's Run button"
STR: Opened the Getting Started on Codespaces

![image](https://user-images.githubusercontent.com/8599/105802929-1c7ee500-5f51-11eb-820e-e59fa3eae86a.png)

Run Code has a few shortcuts, but none is showing up for this button. Showing F5 would be important for this one. I guess we need to change the command to make the shortcut work?

The min-width of 100px for buttons makes it look even more like

[2021-01-26 05:16] matepek commented on #107467
I take that back.

[2021-01-26 05:19] ccloli commented on #112621
Is this bug also drives to terminal input? I'm experiencing a similar problem on terminal, when inputing with CJK IME, the selected word will not be filled, or it will ignore some characters. I also tried the latest inside build but can still get this problem.

![vscode-terminal](https://user-images.githubusercontent.com/8115912/105803068-98237500-5fd7-11eb-8949-7dafe9e79600.gif)

This bug happens

[2021-01-26 05:28] mznet commented on #112621
@ccloli this issue only limited to source control input not terminal input. But just in case, I tried to input korean characters on terminal and it worked well.

[2021-01-26 05:34] nkaminski commented on #105446
+1 on this being a system-wide issue affecting the 2019 MBP; I experience **identical** behavior in both VSCode as well as iTerm and Terminal.app since updating to Big Sur on my 2019 16" MacBook Pro as well.

Issue has been reproducible across all public and beta releases from 11.0 to 11.2 and forcing discrete GPU usage by disabling automatic graphics switching prevents the issue from happening.

[2021-01-26 05:34] darkvertex opened #114976 "Rightclick menu of commit msg textbox has wrong depth"
Issue Type: <b>Bug</b>

1. Rightclick on "Message" box in the Git panel.
2. Realize that the rightclick menu that came up is limited to the proportions of that side panel, even if the items are bigger than it. Screenshot below of what it looks like for me:

![image](https://user-images.githubusercontent.com/941331/105804570-1ea36c80-5f6e-11eb-8ec8-2f2bca3ea5bb.png)
(As you can see, the scrollbar f

[2021-01-26 05:37] gjsjohnmurray commented on #114938
Maybe dup of #112391. Can you test with Insiders?

[2021-01-26 05:46] jumaili opened #114977 "TS Server fatal error: Debug Failure. Expected -5 >= 0"
❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.1.2

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
Server: `syntax`
[code]

[2021-01-26 05:52] ujwal-setlur commented on #105446
How do you disable this?
On Jan 25, 2021, 9:35 PM -0800, Nash Kaminski <notifications@github.com>, wrote:

[2021-01-26 06:19] ccloli commented on #112621
@mznet okay, I just find a related issue and will post it there. Thanks for your testing, and sorry if it distribs you.

[2021-01-26 06:23] ccloli commented on #112978
I'm experiencing the same problem on terminal, when inputing with CJK IME, the selected word will not be filled, or it will ignore some characters. I also tried the latest inside build but can still get this problem.

![vscode-terminal](https://user-images.githubusercontent.com/8115912/105803068-98237500-5fd7-11eb-8949-7dafe9e79600.gif)

This bug happens at around 1.52.0 (maybe, I don't update VSC

[2021-01-26 06:34] roblourens commented on #114965
Why did I reuse the context key for the UI, bad decision

[2021-01-26 06:38] roblourens commented on #114760
I think it is attached @sandy081

But @hencomb are you doing find/replace just in the file, or across the workspace (in the sidebar)?

[2021-01-26 06:43] roblourens commented on #114796
Sorry, I still don't understand the specific request that you have for vscode. I don't understand how the search is being executed or why the file is not found. Maybe you can tell me what you extension is doing here or share a screenshot.

[2021-01-26 07:04] sandy081 commented on #114731
You can but depends upon user's use case.

[2021-01-26 07:09] sandy081 commented on #114931
At present. you can differentiate that by using the source column - If it is `User` then it is removed by user, if it is `Default` then it is unset.

[2021-01-26 07:14] sandy081 commented on #114909
Thanks for the issue. Sorry that we are no longer enhancing split JSON UI in favour of rich UI and so we are not accepting any feature requests or bugs. This editor was mainly there for those who are still passionate to use it. Hence, I would close this issue.

[2021-01-26 07:14] #114909 closed

[2021-01-26 07:18] sandy081 commented on #112730
In other places where I show this similar button (extensions), I also show the main action in the dropdown (from UX feedback I received). So, to be consistent, shall the dropdown also include main `Open Folder` action?

[2021-01-26 07:19] bpasero commented on #101920
Needs Electron 12 though 👍

[2021-01-26 07:19] bpasero commented on #112730
Looks good to me, agree that the primary action must be the first.

[2021-01-26 07:21] bpasero commented on #114554
@rebornix is there a generic concept we could extract to make this easier, similar to what Isi did? What do you need the `isNotebookEditor` for exactly?

[2021-01-26 07:21] sandy081 commented on #114760
Yes, you are right, I missed it. Thanks.

[2021-01-26 07:23] bpasero commented on #114951
I see this as well and assume that setting the window to "document edited" triggers this, which is provided by Electron but may well be standard macOS behaviour.

[2021-01-26 07:23] taisbak commented on #114939
Thank you for the reply.

I thought so as well.

However, I only encountered the problem in connection with the Jupyter notebook extension, which also have undo/redo problems.

Another symptom:
Sometimes find/replace doesn't loop, but uses the offsets found in the original string for replacements in the amended string.

Hope that provides some clues.

[2021-01-26 07:44] bpasero opened #114978 "Edge: Editor mouse selection not rendered correctly anymore"
Steps to Reproduce:

1. start to select in an editor
2. move the mouse up and down
3. selection does not follow

This seems to work fine in Chrome though.

![recording](https://user-images.githubusercontent.com/900690/105815110-be82e980-5fb2-11eb-8cac-968fe4fd5203.gif)

[2021-01-26 07:50] bpasero opened #114979 "User data: register a better label provider"
I see the following label in web selfhost when opening keybindings or settings file:

![image](https://user-images.githubusercontent.com/900690/105815648-8d56e900-5fb3-11eb-8674-9ff9d801de7f.png)

I think this is a bit misleading and leaks the custom protocol to the user, I think we can register a better label provider to show a better label here?

//cc @isidorn

[2021-01-26 07:54] jrieken commented on #114971
Indeed. Nice find.

[2021-01-26 07:55] bpasero opened #114980 "Edge: menus no longer show drop shadow"
Using web selfhost in Edge I see that menus no longer show drop shadows:

![image](https://user-images.githubusercontent.com/900690/105816106-2ab21d00-5fb4-11eb-89ae-dda0ee66b096.png)

[2021-01-26 07:58] sandy081 commented on #114979
I remember @JacksonKearl added label provider for this scheme recently only in web - not sure if this caused this.

[2021-01-26 07:59] sbarex commented on #114951
Yes, I set `window.titleBarStyle: native` to show the proxy icon. But the dirty state it's not right also with the defaul settings.

[2021-01-26 08:01] John-HB opened #114981 "VScode主题和VS 深色主题一样"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2021-01-26 08:01] John-HB commented on #114981
Issue Type: <b>Bug</b>

两者没有任何区别！，还是这两个主题设置的就一样

VS Code version: Code - Insiders 1.53.0-insider (51d19635946a76d2f9007f9e4f4db1c26a0ebfae, 2021-01-25T19:37:36.530Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple

[2021-01-26 08:02] #114981 closed

[2021-01-26 08:02] sandy081 opened #114982 "Align "Accept..." and "Replace..." buttons in settings sync"
![image (1)](https://user-images.githubusercontent.com/10746682/105816620-d0658c00-5fb4-11eb-8354-7df807d732f6.png)

![image (2)](https://user-images.githubusercontent.com/10746682/105816637-d52a4000-5fb4-11eb-945e-7d41cbe7ad24.png)

![image](https://user-images.githubusercontent.com/10746682/105816791-01de5780-5fb5-11eb-9ce8-dd4bc18ec79f.png)

In first two scenarios which are dialogs, it makes se

[2021-01-26 08:07] jrieken opened #114983 "console.log statement in API command"
Testing #114941

https://github.com/microsoft/vscode/blob/30f17c9572ad73b61bbe90f581a28c00ce7910b5/src/vs/workbench/api/common/extHostApiCommands.ts#L189

[2021-01-26 08:09] RahulMittal18 opened #114984 "This version of c:\Users\USER\Untitled-1.exe is not compatible with the version of Windows you're running. Check your computer's system information to see whether you need a x86 (32-bit) or x64 (64-bit) version of the program, and then contact the software publisher."
Issue Type: <b>Bug</b>

This version of c:\Users\USER\Untitled-1.exe is not compatible with the version of Windows you're running. Check your computer's system information to see whether you need a x86 (32-bit) or x64 (64-bit) version of the program, and then contact the software publisher.
Why it is showing so?

VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16

[2021-01-26 08:20] Larksa opened #114985 "Newbie having an issue of an Output Message node: command not found - Mac"
[Running] node "/Users/andrewlarkey/Javascript/index.js"
/bin/sh: node: command not found

Try to follow the instructions to change to a /bin/zsh

Any ideas

[2021-01-26 08:21] jrieken opened #114986 "Universal build uses x64 on M1 mac"
Testing #114974

* download latest insiders
* start
* first start takes a very long time
* VS Code running x64, not ARM

<img width="1323" alt="image" src="https://user-images.githubusercontent.com/1794099/105818921-c2653a80-5fb7-11eb-93a4-db6b1b4e06ac.png">

[2021-01-26 08:22] rbeesley commented on #40239
I might as well add my use case as well...

I'm a polyglot. I have many customizations for many different languages. I anticipated that when I selected Disable (Workspace) that something in .vscode, perhaps settings.json, that I'd be able to create a new workspace and just copy the disabled extensions list. I found instead that this setting seems to be stored in state.vscdb. The format of this val

[2021-01-26 08:22] joaomoreno commented on #114722
Thanks for the update! Closing this for now.

[2021-01-26 08:22] #114722 closed

[2021-01-26 08:24] KristofStroobants commented on #114890
Hi guys,

Thanks for getting back to me on this!

**would have been nice to have a mechanism to opt out for this behavior or something as it gives folks more friction to switch from ISE to VS Code.**

Yes indeed. I really miss this feature. Half of the time I write code, i run it and throw it away. Like you said, just like you'd do in ISE.
I script almost daily so this is a daily annoyance. Luckil

[2021-01-26 08:27] JvDrunen commented on #92705
Any update? not working here:

Version: 1.52.1 (system setup)
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-16T16:34:46.910Z (1 mo ago)
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2021-01-26 08:31] daslicht opened #114987 "Adjustable mouse scrolling lines for file tree"
It woudl be nice if we could define the lines to scroll in the files Tree under Windows.
One nudge scrols about 4 lines atm and that independent from teh Windows Mouse Settings.
4 Lines is a huge JUMP.

[2021-01-26 08:32] daslicht commented on #114987
Under macOS this much better

[2021-01-26 08:35] lyhnbomb opened #114988 "Unexpected highlighting"
Meeting an unexpected highlighting.
Could be caused by opening multiple files with same name, but not sure
![截屏2021-01-26 16 30 47](https://user-images.githubusercontent.com/43680070/105820361-6f5da880-5ff4-11eb-9ffd-ca322cef3340.png)

[2021-01-26 08:38] Gruntfuggly commented on #32541
Somebody else has created an extension too - looks like it works slightly differently, but it might work better for you:
https://marketplace.visualstudio.com/items?itemName=AlexMunteanu.toggle-block-comments

[2021-01-26 08:48] joaomoreno commented on #114804
[code]

This is the important step. Run that one.

The message is correct. When apps are in quarantine, macOS runs them from a read only volume.

[2021-01-26 08:50] CsCherrYY opened #114989 "Automatically expand item in references viewlet"
- VSCode Version: 1.52.1
- OS Version: 19042.746

I'm developing extensions via `references-viewlet API`. Sometimes, although I have implemented `nearest()` in `SymbolItemNavigation<>`, the return item would not expand automatically when I open the view. Exactly, If I just put some simple assignments in `resolve()` of `SymbolTreeInput<>`, this issue occurs. But when I have an await for an async fu

[2021-01-26 08:57] #114984 closed

[2021-01-26 08:58] stellirin commented on #105446
I also see the issue 'system wide', VSCode is simply the place I see it most, most notably in the integrated terminal. GPU usage is likely a placebo / red herring, I use two 4K monitors over usb-c with my MacBook Pro, which forces discrete graphics at all times, and I have the issue.

Removing the signature did appear to help for a while, but VSCode updated itself and I haven't run the command aga

[2021-01-26 08:58] bpasero opened #114991 "Test view: making view visible should move focus into input box"
To be consistent with our other views.

[2021-01-26 08:59] isidorn commented on #114979
@JacksonKearl feel free to also assign to me if you would like me to investigate

[2021-01-26 08:59] joaomoreno commented on #112846
Not really sure, but the background updater seems to mess with your system. Let's keep it this way for now 👌

[2021-01-26 08:59] bpasero commented on #112730
They should all use a "..." at the end of the label if additional user input is required to perform the action which I think is true for all.

[2021-01-26 09:00] alexus1024 commented on #105446
I have experienced the problem too.

- vscode Version: 1.52.1 (and in older versions for a half of the year)
- macOs Big Sur 11.1 (20C69)
- MacBook Pro (16-inch, 2019)

Steps to reproduce:
1. open integrated terminal in vscode
2. press any letter continuously
3. after ~10 repetitions of letter there will be a hang for a second. THe hang does not repeat while on the same line.
5. press enter and tr

[2021-01-26 09:03] isidorn commented on #112730
Yeah I know that pattern, I am just saying that for me personally  in a clean welcome Explorer an `Open Folder` blue button looks better than the `Open Folder...`

[2021-01-26 09:11] lonix1 commented on #114909
Okay thanks - you gotta focus on what you think is more important.

But for the record (and I hope others will find this issue and upvote it), many devs manage config by hand and check it into source control. For those devs, the json editor has two bugs.

I hope you'll reconsider at some point in the future. :smile:

[2021-01-26 09:13] legkoszkur opened #114992 "Visual Studio Code is unable to watch for file changes in this large workspace (error ENOSPC)"
I can not draw any code on my VSC. I have made all advices for this problem from original website but they dont work for me.

[https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-error-enospc)](
https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-err

[2021-01-26 09:13] bpasero commented on #114980
I see other issues in Edge, so closing as upstream.

[2021-01-26 09:13] #114980 closed

[2021-01-26 09:13] bpasero commented on #114978
I see other issues in Edge, so closing as upstream.

[2021-01-26 09:13] #114978 closed

[2021-01-26 09:15] sandy081 opened #114993 "Search smoke test failure"
1) VSCode Smoke Tests (Web)
       VSCode Smoke Tests (Web)
         Search
           dismisses result & checks for correct result number:
     Error: Timeout: get text content '.search-view .messages .message>span' after 20 seconds.
      at /Users/runner/work/1/s/test/automation/out/code.js:181:23
      at Generator.next (<anonymous>)
      at fulfilled (/Users/runner/work/1/s/test/automation/o

[2021-01-26 09:19] bpasero opened #114994 "Explorer: broken after enabling settings sync"
I had a workspace open (with 3 folders) and enabled settings sync. After clicking on the explorer I see now files:

![image](https://user-images.githubusercontent.com/900690/105825478-ec225f80-5fbf-11eb-9f38-5ea70ae33979.png)

And the exception is:

[code]

//cc @joaomoreno

[2021-01-26 09:21] bpasero commented on #114994
It works fine after a restart.

[2021-01-26 09:25] bpasero opened #114995 "UI State: SCM repos view is not syncing properly"
Since a long time I see the SCM repos view not showing up after enabling settings sync.

Steps to Reproduce:

1. open a multi root workspace with folders that each have git repo
2. open changes view
3. enable SCM repos view
4. you should see all git repos in a list to the top
5. enable settings sync
6. let it sync up
7. open a new instance with fresh user data dir and open the same workspace
8. en

[2021-01-26 09:30] sandy081 commented on #114031
Fixed those from user data sync tests. It leaves with following exception:

[code]

Assigning to @mjbvz as it is related to `codeAction.test.ts`

[2021-01-26 09:35] bpasero commented on #112793
I just pushed https://github.com/microsoft/vscode-docs/commit/8f9f070bad51ac303a815e35762bc9287e73e845 to our docs which hopefully makes this clearer.

[2021-01-26 09:36] #114971 closed

[2021-01-26 09:41] jvesouza commented on #114892
@isidorn After I restarted my machine the problem seems to be gone, although I still find it eventually.
I need to investigate further to try to reproduce.

[2021-01-26 09:45] wyhgoodjob commented on #111497
Same issue too, my details:
version:1.52.1.1
Date:2021-01-26
OS:manjaro
Desktop:KDE

I install it from the official application manager(GUI), and get "Loading" from account menu.
When I download a package from the VSCode official website, it works and can sync my account data, but when I use pacman or application manager(GUI) to install Code OSS, it still shows "Loading" at account menu

[2021-01-26 09:51] dineshchandrasekaren opened #114996 "Intellisense is not working in react native project"
Issue Type: <b>Bug</b>

intellisense is not work in react native

Extension version: 1.3.0
VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:34:46.910Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD PRO A4-4350B R4, 5 COMPUTE CORES 2C+3G      (2 x 2495)|
|GPU Status|2d_canvas: enabled<br>flash_3

[2021-01-26 09:51] bpasero commented on #114974
The only way I figured out how to ensure I am on universal build is by checking the size of the application. Not sure we want a way to show this in e.g. the about dialog to diagnose issues?

[2021-01-26 09:53] bpasero opened #114997 "Universal binary: provide a way to figure out if user is using universal binary"
Testing #114974

I think for diagnosing issues in the future it would be good to have a way to know if the user has the universal binary installed or not. E.g. when reporting an issue to GH this info should be added somehow.

[2021-01-26 09:53] dineshchandrasekaren commented on #114996
I told is not working in react native project
Please see above screen shots

[2021-01-26 09:54] dineshchandrasekaren commented on #114996
How to fix it .

My problem is if I type padd means it want to give options to me like paddingLeft, paddingRight,paddingHorizontal,paddingVertical .
But it is not working why how to fix it
You can see it in my images above

[2021-01-26 09:57] jrieken opened #114998 "Consider to use range provider when asking for document tokens"
Testing #114941

* have an extension as shown below
* open a TS file which has no document token provider, but a document-range token provider
* run the command
* 😕 there are no tokens for the document even tho the core could provide them by calling the range provider with the document range

[code]

[2021-01-26 09:58] hencomb commented on #114760
Hi Rob - no it was just in the file (option-command-f on a mac)

Regards
Henry

On Tue, 26 Jan 2021 at 08:39, Rob Lourens <notifications@github.com> wrote:

[2021-01-26 09:59] bpasero opened #114999 "GH PR: picker for repository could provide help text and should stay open on focus lost"
Testing #114967

When I click on the "+" I think the picker could show a description in the input field what I have to do (pick a repository to create pr in):

![image](https://user-images.githubusercontent.com/900690/105830091-5e497300-5fc5-11eb-86f0-5d786380aa7b.png)

It should also not close when I focus out to another window.

Example of how it works better:

![image](https://user-images.githu

[2021-01-26 09:59] bpasero commented on #114999
Actually I wonder, maybe this is using our generic picker to pick a folder in multi repository setup?

[2021-01-26 10:01] isidorn commented on #114994
The error seems to be coming from the Open Editors view since that one uses the list widget, and you can see it in the call stack. So it is not related to explorer being broken.

I can not reproduce this. Here are my steps:
1. Have a MR workspace with 3 folders (`vscode`, `vscode-distro` and `vscode-docs`)
2. Save that MR workspace as `test.code-workspace`
3. Turn on Settings Sync -> Sign in using

[2021-01-26 10:01] jrieken commented on #114986
This is maybe because it was running both variants of that machine already?

[2021-01-26 10:02] isidorn commented on #114892
@jvesouza okey, let me know if you find steps!

[2021-01-26 10:02] isidorn commented on #114987
Sounds like tree and list scrolling feature request, forwarding to @joaomoreno

[2021-01-26 10:04] bpasero commented on #114967
Fyi I wasted 30 minutes until I realised that I need to install the GH PR nightly extension.

[2021-01-26 10:05] jrieken commented on #114974
For me this isn't working

[2021-01-26 10:06] hencomb commented on #114760
Typical action to trigger the crash:  search/replace #9c97da or some other
color with #000000

On Tue, 26 Jan 2021 at 11:57, Henry Combrinck <henrylcombrinck@gmail.com>
wrote:

[2021-01-26 10:06] bpasero opened #115000 "Unable to find GitHub repository matching 'undefined'."
Testing #114967

![image](https://user-images.githubusercontent.com/900690/105830991-78d01c00-5fc6-11eb-97ca-0a5e18452fad.png)

[2021-01-26 10:08] bpasero commented on #114994
@isidorn the explorer being broken in the sense that the view is not showing up. Independent from any errors a view might be throwing that should not have any impact on other views right?

Maybe this is a more general workbench views issue that we need to make sure a runtime exception from one view should not make the other view disappear.

//cc @sandy081

[2021-01-26 10:09] aeschli opened #115001 "Find all references to file fails on vscode repo"
Testing #114966

Version: 1.53.0-insider
Commit: 1a9dd758530782ee4bb09a15bdc484f3dcb9b5a3
Date: 2021-01-26T05:14:17.500Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Linux x64 5.3.0-64-generic

- open the vscode repo. It uses TypeScript from the workspace (4.2.0-dev.20201207)
- open a TypeScript file (e.g. `themeService.ts`), open the command palette and ru

[2021-01-26 10:09] isidorn commented on #114994
@bpasero it should not be possible to hide the Explorer.
So I think you are right this sounds like a general views issue. Let's also assign to @sandy081 he might have ideas

[2021-01-26 10:09] jrieken commented on #114739
Not for me, but you might have selected `a` before and now we remember that

Yes, both have the same score and then we fallback to provider-order. Boosting prefixes that matches a suggestion perfectly might be an option and that will also always prefer suggestions that are a prefix of a longer suggestion.

[2021-01-26 10:10] bpasero opened #115002 "GH PR: clicking on + in SCM repos view should not ask me for which folder to use"
Testing #114967

![recording](https://user-images.githubusercontent.com/900690/105831464-0ca1e800-5fc7-11eb-8b58-6228ba13efb3.gif)

[2021-01-26 10:12] sandy081 opened #115003 "Results peek view shall be closed if test is passed"
Testing #114932

<img width="950" alt="image" src="https://user-images.githubusercontent.com/10746682/105831635-4115a400-5fc7-11eb-8e74-634c5d7e721b.png">

[2021-01-26 10:12] bpasero opened #115004 "No tree view with id 'github:compareChanges' registered."
Testing #114967

I created a PR and saw this message:

![image](https://user-images.githubusercontent.com/900690/105831739-61ddf980-5fc7-11eb-895c-0d9a136b5bf8.png)

[2021-01-26 10:12] isidorn commented on #114933
@alexr00 is out this week. We have always been behaving like this.
Thus assigning to February so I look into this in debt week. This experience definetly needs to be improved. Thanks for sharing feedback Joh!

[2021-01-26 10:13] hencomb commented on #114760
Don't know if this is related (although it only happens when I
search/replace in a huge file) - and because I have dart/flutter extensions
installed - my machine starts to get hot and the activity monitor shows the
culprit:

[image: image.png]

On Tue, 26 Jan 2021 at 12:05, Henry Combrinck <henrylcombrinck@gmail.com>
wrote:

[2021-01-26 10:18] isidorn commented on #114990
@maziac thanks for providing feedback. As @connor4312 has mentioned an invalidated event should hopefully just work.
Also make sure to send to send the `areas = ['variables']` as part of your invalidated event.
Here's how we handle that in vscode https://github.com/microsoft/vscode/blob/fc5f18691dcfd22952c4c2d7cdfb2ae5102535eb/src/vs/workbench/contrib/debug/browser/debugSession.ts#L1021

If this s

[2021-01-26 10:19] sandy081 opened #115005 "Label 1/0 Tests passed does not makes sense"
Testing #114932

<img width="382" alt="image" src="https://user-images.githubusercontent.com/10746682/105832437-3dcee800-5fc8-11eb-8df6-6c8c6833f0cf.png">

[2021-01-26 10:19] bpasero opened #115006 "GH PR: remove notifications asking to create PR"
Testing #114967

Now that we have prominent actions to start the GH PR flow I would suggest to remove this notification:

![image](https://user-images.githubusercontent.com/900690/105832496-517a4e80-5fc8-11eb-8528-e22af3a2c321.png)

[2021-01-26 10:19] aeschli commented on #115001
Works when switching the TypeScript version in the workspace to `typescript@4.2.0-beta`

[2021-01-26 10:24] isidorn commented on #114958
Overall I really like this. I wanted to explore a similar thing next milestone, just for new users https://github.com/microsoft/vscode/issues/114423
Idea being to make it easier to create a new Python File for beginners. We could have a new > submenu that offers to create a python file.

[2021-01-26 10:28] isidorn commented on #114653
If the test `message` has enough information then we are good. But I just tried it and it does not read out what is expected and what is actual.
Since I think you are using an editor for each side, you should be able to set an `ariaLabel` of the editor. That ariaLabel for both the left and right side should contain the info what is expected and what is actual. That way whenever the focus is in tho

[2021-01-26 10:28] sandy081 opened #115007 "Empty test explorer view"
Testing #114932

If the test provider does not provide workspace hierarchy then the test explorer is shown empty.

<img width="328" alt="image" src="https://user-images.githubusercontent.com/10746682/105833425-71f6d880-5fc9-11eb-8e22-2739e67c9466.png">

There shall be at least a message and actions shall be disabled.

[2021-01-26 10:29] isidorn commented on #114653
Also very cool that you tackled most of the things I mentioned in my inital comment already!

[2021-01-26 10:29] joaomoreno commented on #114987
#102261

[2021-01-26 10:29] #114987 closed

[2021-01-26 10:30] jrieken opened #115008 "Output not resized correctly"
Testing #114969

* have two editor tabs open (15" screen)
* open the plotly.txt-notebook
* change to diff mode
* notice all rendered output being too narrow
* close the RHS editor group
* :bug: outputs don't resize

<img width="1264" alt="Screenshot 2021-01-26 at 11 30 25" src="https://user-images.githubusercontent.com/1794099/105833724-e598e580-5fc9-11eb-81b7-d048212ac9b8.png">

[2021-01-26 10:30] bpasero opened #115009 "macOS ARM: test resolver cannot connect"
When using macOS ARM to open a window on test resolver, an error is presented:

`/Users/bpasero/Development/Microsoft/monaco/resources/server/bin-dev/server.sh: line 23: /Users/bpasero/Development/Microsoft/monaco/.build/node/v12.18.3/darwin-arm64/node: No such file or directory`

[2021-01-26 10:31] sandy081 opened #115010 "Test explorer shall show the document tests if workspace tests are not provided"
Testing #114932

If the test provider does not provide workspace hierarchy then the test explorer shall show the document tests

<img width="750" alt="image" src="https://user-images.githubusercontent.com/10746682/105833840-0eb97600-5fca-11eb-8d05-5630f7c9a0e5.png">

[2021-01-26 10:32] jrieken opened #115011 "No getting back from notebook diff editor"
Testing #114969

* open a notebook that has changes
* open diff from the editor title menu
* 🐛 the diff editor has no title menu command to go back to the actual editor

[2021-01-26 10:34] jrieken opened #115012 "Diff editor screen cheese"
Testing #114969

No clear steps, but using the plotly.txt notebook, with the diff-editor and output-diff-rendering I see a lot of screen cheese.

<img width="1275" alt="Screenshot 2021-01-26 at 11 33 16" src="https://user-images.githubusercontent.com/1794099/105834085-54763e80-5fca-11eb-83ee-1e210174babb.png">

[2021-01-26 10:39] jrieken opened #115013 "Warning: Duplicate definition of module 'xyz'"
Testing #114969

While testing I have noticed these errors. That usually hints to a bundling problem, e.g some modules have been bundled multiple times

<img width="677" alt="image" src="https://user-images.githubusercontent.com/1794099/105834658-0c0b5080-5fcb-11eb-96bf-f5ce9b487502.png">

[2021-01-26 10:42] aeschli opened #115014 "Find all references to file: Improve History entry rendering"
Testing #114966

- open the VSCode repo. Update typescript with `yarn add typescript@4.2.0-beta`, reopen the window
- select a `.ts` file in the file explorer (e.g. `themeService.ts`) and run `Find file references` from the context menu, repeat this for other `ts` files
- clear the results in the references view (clear command in the view bar title)

The search history entries are confusing:

![im

[2021-01-26 10:47] sandy081 opened #115015 "Only some state is remembered"
Testing #114932

![Kapture 2021-01-26 at 11 46 33](https://user-images.githubusercontent.com/10746682/105835569-432e3180-5fcc-11eb-9f1f-8879a0c09a83.gif)

Please check above gif, test output for only some expressions are shown and it is confusing

[2021-01-26 10:48] jrieken opened #115016 "Each entry in the SCM view listens to theme changes"
* have many, many changes (like track node_modules)
* open SCM viewlet and scroll around
* see leak warning
* they are triggered from here: https://github.com/microsoft/vscode/blob/d4be66da200acc87e01d3517bfddf799fd8d110b/src/vs/workbench/contrib/scm/browser/scmViewPane.ts#L406

[2021-01-26 10:52] sandy081 opened #115017 "Disable global debug action if test provider does not support debugging"
Testing #114932

<img width="243" alt="image" src="https://user-images.githubusercontent.com/10746682/105836045-f4cd6280-5fcc-11eb-9a32-144a6704f071.png">

[2021-01-26 10:53] jrieken opened #115018 "TypeError: Cannot read property 'document' of undefined"
Testing #114969

* open SCM view
* open diff editor for plotly.txt-notebook
* reload window
* after a short while the error below is printed

This doesn't seem to happen when the explorer is the active view 🤯

<img width="1552" alt="Screenshot 2021-01-26 at 11 57 07" src="https://user-images.githubusercontent.com/1794099/105836544-9f458580-5fcd-11eb-88fc-19e674d126dd.png">

[code]

[2021-01-26 10:58] jrieken opened #115019 "Unable to open 'plotly.txt.ipynb (Untracked)': ModelService: Cannot add model because it already exists!."
Testing #114969

* open notebook editor for plotly.txt
* open diff editor for notebook
* press `cmd+\` to split/duplicate the error to the side
* 💥 an error shows

The bad code is here: https://github.com/microsoft/vscode/blob/51d19635946a76d2f9007f9e4f4db1c26a0ebfae/src/vs/workbench/contrib/notebook/browser/diff/diffComponents.ts#L489

@rebornix the rule of thumb is that you should NEVER use `cre

[2021-01-26 11:00] aeschli opened #115020 "Find all references to file: not all references to vscode.d.ts found"
Testing #114966

- open the VSCode repo. Update typescript with `yarn add typescript@4.2.0-beta`, reopen the window
- select r `src/vscode.d.ts`,  in the file explorer and run `Find file references` from the context menu: No results
- Now open a `ref.d.ts` file and search again, reference found
- we have around 30 reference in various ref.d.ts files.

[2021-01-26 11:05] isidorn commented on #105559
I have tried this with latest VS Code insiders on Windows and I can still reproduce, thus removing `needs more info`.
I can also reproduce this if the Editor Context Menu gets rendered outside of the editor area (for example over the panel). Then the magnifier would not follow it while the focus is on Context Menu actions that are rendered on top of panel.
@sbatten might it be that the menu is mis

[2021-01-26 11:10] isidorn opened #115021 "Terminal shakes while magnifier turned on"
Refs: https://github.com/microsoft/vscode/issues/112490

Windows, turn on Windows Magnifier, make sure you have the Magnifier View Docked (under magnifier settings)

1. Open a terminal, start typing, notice how the docked magnifier shakes left and right making it very hard to see what is going on while typing
2. Now type in the editor, notice how the magnifier shakes considarably less

[2021-01-26 11:15] alexdima opened #115022 "Actions in action bar disappear when clicking "...""
In the Outline, click "..."

![TO_UPLOAD](https://user-images.githubusercontent.com/5047891/105838190-0e23de00-5fd0-11eb-845b-53caa6411ade.gif)

[2021-01-26 11:21] kevingty commented on #114607
It works. Thanks. @isidorn

[2021-01-26 11:23] joaomoreno opened #115023 "Improve engineering overhead of extensions"
Considering we want to keep the core extensions within the VS Code repo for the time being, let's look into improving the engineering overhead of that situation. We want to avoid recompiling extensions unnecessarily, something which happens often in the CI as well as in each dev box.

Here's what I'm thinking:

1. Each extension should have a few npm scripts: `package` (which creates a VSIX), `wat

[2021-01-26 11:24] stevencl opened #115024 "UI state not restored in insiders"
Testing #114826

I have this folder and UI state in stable:

![image](https://user-images.githubusercontent.com/1704059/105838741-6bb42c80-5fc8-11eb-8912-c25c462f5adf.png)

When I close stable and open the same folder in insiders I see this:

![image](https://user-images.githubusercontent.com/1704059/105838852-969e8080-5fc8-11eb-90ad-f577462cc74e.png)

The state is preserved when reopening stable.

[2021-01-26 11:28] Kirchesch opened #115025 "Large Files "Auto Expand" all collapsed Functions/Regions"
- VSCode Version: Latest
- OS Version: Latest

Steps to Reproduce:

1. Open a large file that is fully collapsed
2. Wait about 5 seconds and every region/function will be expanded

Does this issue occur when all extensions are disabled?: Yes

 It seem to happen when vs code is under heavy load, for some reason instead of waiting, it is just giving up, cleaning its own memory idk how it works, but

[2021-01-26 11:34] #114546 closed

[2021-01-26 11:35] #114410 closed

[2021-01-26 11:35] #114394 closed

[2021-01-26 11:35] #114369 closed

[2021-01-26 11:35] #114261 closed

[2021-01-26 11:36] jrieken opened #115026 "Pressing `S` saves file"
Typing the character `s` seems to trigger save, no modifier key required...

* See recording
* I have a save participant that adds semicolons on save
* check the log showing `menubar#runActionInRenderer {"type":"commandId","commandId":"workbench.action.files.save"}`
* notice the highlight flash in the macOS toolbar

https://user-images.githubusercontent.com/1794099/105840178-dff3cd80-5fd2-11eb-86d

[2021-01-26 11:37] jrieken opened #115027 "Renderer log is missing"
* I ran into some trouble with Insiders that I wanted to trace
* opened output
* no renderer log.. 😕

<img width="362" alt="Screenshot 2021-01-26 at 12 32 43" src="https://user-images.githubusercontent.com/1794099/105840352-34974880-5fd3-11eb-9618-7667537d0e72.png">

[2021-01-26 11:37] jrieken commented on #115027
After reload this back

[2021-01-26 11:39] lszomoru commented on #115023
Are we currently using [TypeScript project references](https://www.typescriptlang.org/docs/handbook/project-references.html)? Is this something that could help with the dev box build times?

[2021-01-26 11:41] lszomoru commented on #115023
For the CI runs, it would also be great if we could only run the tests, that test the code that has been modified in the commit.

[2021-01-26 11:50] jrieken opened #115028 "Cannot easily develop a extension with faulty save method"
* develop a notebook (or custom editor) extenion
* have an error condition in its save logic, e.g throw an extension
* you are doomed because you cannot quite the debugee

<img width="1336" alt="Screenshot 2021-01-26 at 12 49 14" src="https://user-images.githubusercontent.com/1794099/105841495-fc910500-5fd4-11eb-912a-dcb1e5e1a77e.png">

[2021-01-26 11:50] qmit1000 opened #115029 "Github"
Issue Type: <b>Bug</b>

I have installed github desktop for my pc but visyal studio0 isnt able to detect it thus i am not able to clone any repository that i need. i am studying to code and this is making it very hard for me to code please tell me what i should do to make  visual studio detect my github application.

my sincere thanks

Justin

VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc9

[2021-01-26 11:51] qmit1000 commented on #115029
i sent this through github on the web

[2021-01-26 11:53] stevencl opened #115030 "UI state not preserved when reloading window after deleting folder"
Testing #114826

Started out with this state:

![image](https://user-images.githubusercontent.com/1704059/105841557-b20b8a80-5fcc-11eb-859e-ea90b0ace332.png)

Deleted folder on disk while keeping VS Code Insiders open

Reloaded window:

![image](https://user-images.githubusercontent.com/1704059/105841679-e8e1a080-5fcc-11eb-8e29-d37725e06e9f.png)

[2021-01-26 11:56] Deji69 opened #115031 "Arrow keys skip characters when 'word wrap' and 'sticky tab stops' are in effect"
**Version:** 1.52.1
**Extensions:** Reproducible after running with `--disable-extensions`

**Reproduction**
1. Enter a really long line which wraps to the next line with 'word wrap' enabled.
2. Indent it with a couple tabs (as 4 spaces) with 'sticky tab stops' enabled.
3. Move the cursor onto the second line of the long word-wrapped line.
4. Attempt to use the arrow keys to move the cursor one ch

[2021-01-26 11:59] stevencl commented on #115030
State also isn't preserved when closing and restarting insiders after deleting folder on disk (rather than just doing reload window)

[2021-01-26 12:00] Deji69 commented on #115031
A duplicate of #112301 indeed, it didn't come up in my search. Glad to see it's fixed, though I guess I'll have to wait or use the insiders build.

[2021-01-26 12:00] #115031 closed

[2021-01-26 12:00] jrieken commented on #115012
Maybe simpler to reproduce

* get `joh/persistOutput` branch for GH issue notebook
* run `npm bundle-all` and hot `F5`
* open a diff for GH issue notebook
* reload the window
* 🧀

<img width="1354" alt="Screenshot 2021-01-26 at 12 57 31" src="https://user-images.githubusercontent.com/1794099/105842195-1848db00-5fd6-11eb-9289-300c6f63759e.png">

[2021-01-26 12:23] dbaeumer opened #115032 "No hover information for `onEnterRules`"
Testing #114948

Add a `onEnterRules` to a language configuration and hover over the string.

Observe: no hover is shown explaining the property.

[2021-01-26 12:24] Samridhi-98 commented on #115029
Hey @qmit1000
Please read these articles mentioned below and follow the steps, hope it will help you to resolve the issue.

Link 1: https://marketplace.visualstudio.com/items?itemName=wraith13.open-in-github-desktop#:~:text=Show%20extension%20side%20bar%20within,Code%20when%20installation%20is%20completed.

Link 2: https://adamtheautomator.com/visual-studio-code-github/

[2021-01-26 12:30] bpasero commented on #115026
@jrieken I cannot reproduce. does it repro when you use a fresh user data dir with default settings? Does it repro in stable?

[2021-01-26 12:32] ldorigo commented on #110825
Just my two cents, but is this really a feature request (that needs 20 upvotes for being approved, knowing that only a small fraction of users are on the insiders edition)?

Not having any way to view what's in my outputs if the line is longer than  VS code's window seems more like a bug (or a major usability issue) to me. It makes it almost impossible to do text analysis/processing in the new not

[2021-01-26 12:36] joaomoreno commented on #115023
The interface between extensions and core isn't at the TypeScript level: it's at the VSIX level. Project references help with creating definition interfaces between projects, but we already craft ours manually: `vscode.d.ts`.

[2021-01-26 12:38] dbaeumer commented on #114948
Tip. The regexp should look like this

[code]

[2021-01-26 12:41] pavel-francirek commented on #114484
Sorry, didn't notice question. My .settings file is:

[code]

[2021-01-26 12:46] bpasero commented on #115024
@stevencl I tried to reproduce this and failed. I wonder if any setting you have configured could have an impact. To begin with, does it reproduce when you run VS Code from a fresh user data dir from the command line (`--user-data-dir <some empty dir>`)?

Can we also try other workspace UI state, e.g. the visibility and size of the panel?

[2021-01-26 12:46] dbaeumer opened #115033 "OnEnterRule with the following action does not work: "action": { "indent": "indent", "appendText": "{ }" }"
Testing #114948

[code]

The result only inserts the `{ }` but doesn't indent. If this is not valid the schema should warn me.

[2021-01-26 12:49] isidorn opened #115034 "Custom hover: allow to move the mouse over it"
Refs: https://github.com/microsoft/vscode/issues/112490

I noticed this behavior both on Windows and macOS

1. Open the Pull Request view or some other view that uses the custom hover
2. Use the mouse to show the custom hover by hovering over some tree item for example
3. Try to move the mouse over the custom hover -> it hides immediatly

We should allow the user to move the mouse over the custom

[2021-01-26 12:49] isidorn commented on #115021
This works well with the ZoomText magnifier software. So there might be an issue with the Winodws Magnifier. I am trying to connect with the Magnifier team and will let you know if I have updates.

[2021-01-26 12:50] Florin-Popescu commented on #107467
Hello!

I developed the [Unity Framework for C Test Explorer](https://marketplace.visualstudio.com/items?itemName=fpopescu.vscode-unity-test-adapter) and just wanted to give my opinion here.

I personally use the Problems view a lot while coding and it would be very nice to have the test results show up there.

I would like to propose that `TestMessageSeverity` (and I also guess [DiagnosticSeverit

[2021-01-26 12:51] isidorn opened #115035 "Magnifier shakes when typing into input fields"
Refs: https://github.com/microsoft/vscode/issues/112490

Windows, turn on Windows Magnifier, make sure you have the Magnifier View Docked (under magnifier settings)

1. VS Code, press F1 (opens the quick pick), start typing, notice how the docked magnifier shakes left and right making it very hard to see what is going on while typing
2. Now type in the editor, notice how the magnifier shakes consi

[2021-01-26 12:52] isidorn commented on #105559
Interestingly this only happens with the Windows Magnifier. With the ZoomText software this works fine. I am trying to connect with the Windows Magnifier team to get more details potentially.

[2021-01-26 12:52] ldorigo commented on #110825
To add on to this, it looks like it isn't even possible to select the output and copy-paste it somewhere else, as that copies the cell (code) instead. So there is currently effectively no way to know what the output of a cell was, other than saving that output to file...

[2021-01-26 12:53] isidorn commented on #112490
Dolphin SuperNova is a paid software and I do not have a license to use it at the moment.
ZoomText is also paid but allows 40 min usage at a time which is perfect for my testing.
Windows Magnifier is free so I could use it easily.

After using it I have to say that the https://github.com/microsoft/vscode/issues/105558 is absolutetly the biggest issue I could hit and due to that assigning that one

[2021-01-26 12:54] bpasero commented on #115030
Sorry I was not putting the correct steps into that part of the test item. In fact, when the folder is deleted or the workspace, we do not restore the UI state. The reason is that the UI state is still associated with the identifier of the workspace before it was deleted. However, dirty files should appear.

I have updated the test plan item, let me know how it goes.

[2021-01-26 13:00] isidorn commented on #112490
This was a test pass and for further improving the experience with the magnifiers we would need more community feedback.
For now closing this as we have done the testing we planned in this milestone.

[2021-01-26 13:00] #112490 closed

[2021-01-26 13:01] isidorn commented on #114607
Lovely thanks, adding verified label.

[2021-01-26 13:03] bpasero commented on #115024
Oh sorry, as I pointed out in slack I forgot one important piece for testing: needs the same `--user-data-dir` for both instances otherwise we cannot simulate the restoral of UI state properly. I have updated the test plan item.

[2021-01-26 13:05] isidorn commented on #115022
I can not really reproduce this - tried both macOS and Windows. But I think it is connected to Custom Menus.
@alexdima do you see this all the time?

I know we show the actions only on `hover` and there is probably some special code for when an action triggers a menu that the actionBar is still visible even though `hover` is not true. @sbatten might know more thus also assigning to him

[2021-01-26 13:10] joaomoreno opened #115037 "Sometimes Git can't authenticate against GitHub"
That domain cropped in the quick input looks suspicious.

![image](https://user-images.githubusercontent.com/22350/105849068-bb790080-5f94-11eb-8132-581fa4e3e4cf.png)

[2021-01-26 13:12] joaomoreno commented on #115037
I'm surprised this even worked until today.

cc @eamodio

[2021-01-26 13:13] jrieken commented on #115026
<img width="785" alt="Screenshot 2021-01-26 at 14 13 11" src="https://user-images.githubusercontent.com/1794099/105849407-a1fda600-5fe0-11eb-91b3-240a83dc54d5.png">

[2021-01-26 13:13] jrieken commented on #115026
Sorry, false alarm. I thought that I had checked that...

[2021-01-26 13:13] joaomoreno commented on #115037
**Verification:** please code review https://github.com/microsoft/vscode/commit/75ff8b113101d1362ef87c588cebfd4f16daf0a4 and https://github.com/microsoft/vscode/commit/9e07bfd5946172f0b7bece7b0cec2b58102944d2. This was just wrong, since it was cropping too much:

[code]

[2021-01-26 13:17] jrieken commented on #115026
This is caused by an extension but I'd say the extension is doing everything right, it uses this when-clause and it seems we aren't evaluating it: `config.jupyter.enableKeyboardShortcuts && notebookEditorFocused && !inputFocus && notebookViewType == 'jupyter-notebook'`

[2021-01-26 13:19] dbaeumer opened #115038 "Expose `provideDocumentSemanticTokensEdits`"
Testing #114941

See screen shot. I am pretty sure I return a resultId

<img width="187" alt="capture" src="https://user-images.githubusercontent.com/1931590/105850092-8fd03780-5fe1-11eb-9001-7f677251cf42.png">

[2021-01-26 13:20] joaomoreno commented on #112338
@meganrogge What an epic battle with the bot.

[2021-01-26 13:27] joaomoreno commented on #114974
@deepak1556 You forgot to update the `Create Issue` link, so people have created issues related to the wrong TPI.

[2021-01-26 13:28] egamma opened #115039 "Extensions viewlet: 'Check for Extension Updates' should us a modal dialog to confirm"
Testing #114922

Since the user initiated the action to check for extension update, the confirmation that no extension needs to be updated should be shown in a modal dialog (same as when you check for an update of VS Code).

<img width="471" alt="image" src="https://user-images.githubusercontent.com/172399/105850830-8bf0e500-5fe2-11eb-9e6a-31a430f19d7b.png">

[2021-01-26 13:33] jrieken opened #115040 "Confusing diff information"
Testing #114969

* create fresh notebook plotly.txt-contents, the file is untracked
* open diff editor
* for one cell/output-pair it says "Outputs changed",
* for all other it doesn't, outputs are collapsed
* I would expect all outputs to rendered equally because they are all untracked

<img width="1338" alt="Screenshot 2021-01-26 at 14 31 09" src="https://user-images.githubusercontent.com/1794099

[2021-01-26 13:37] stevencl commented on #115024
No worries, works now.

[2021-01-26 13:37] #115024 closed

[2021-01-26 13:37] joaomoreno opened #115041 "Path to untitled file from search editor is wrong"
Testing #114970

1. Create an untitled file with `joao`, leave it open
2. Search for `joao`
3. Open search results in search editor
4. Double click the `/Untitled-1` line, get an empty peek with two (?) results on the tree. Double click the contents, get an error `Unable to open...`.

![image](https://user-images.githubusercontent.com/22350/105851730-50c9c400-5f98-11eb-86bf-19bad1574773.png)
![ima

[2021-01-26 13:37] bpasero commented on #107975
/duplicate https://github.com/microsoft/vscode/issues/113757

[2021-01-26 13:38] #115030 closed

[2021-01-26 13:38] #107975 closed

[2021-01-26 13:40] jrieken opened #115042 "Diff editor goes stale"
Testing #114969

* added the plotly.txt-based notebook, file as untracked
* open diff editor, everything is new
* commit the file
* close editors
* reopen notebook, delete a cell
* open diff
* :bug: diff shows old/stale information

<img width="1338" alt="Screenshot 2021-01-26 at 14 38 17" src="https://user-images.githubusercontent.com/1794099/105852148-5fd66380-5fe4-11eb-916c-c98d285de308.png">

[2021-01-26 13:42] Tyriar commented on #115034
We cannot do this by default, it would be incredibly annoying. Note that in the tree view it acts more like a `title` tooltip which is intentionally excluded from assistive technology. If anything a keybinding that matches the editor to show _and focus_ the hover could work for the active tree item:

![image](https://user-images.githubusercontent.com/2193314/105852325-2cbab280-5f99-11eb-9648-75c6e

[2021-01-26 13:43] #114941 closed

[2021-01-26 13:43] isidorn commented on #114967
I am unable to move past the https://github.com/microsoft/vscode-pull-request-github/issues/2395
So I was not able to successfuly finish testing this...

[2021-01-26 13:43] dbaeumer commented on #115038
Makes sense.

[2021-01-26 13:44] egamma opened #115043 "GH PR view should show a welcome view there is no open folder"
Testing #114967

Same as in the explorer the GHPR view should show a welcome view that allows me to open a folder.

<img width="429" alt="image" src="https://user-images.githubusercontent.com/172399/105852612-fa36a700-5fe4-11eb-9d7f-04935c59ac3c.png">

[2021-01-26 13:45] PurpleGranite commented on #115034
@Tyriar are you seriously saying that an inconvenience for others trumps accessibility for all?  I'm utterly shocked at that!!

[2021-01-26 13:46] alexdima commented on #115026
This is a mix of things.

### 1. Why is `s` rendered next to `Save` ?

The reverse keybinding lookup is not context specific. Take for example the Toggle Line Comment built-in keybinding:
[code]
We want to render `ctrl+/` in the menu even when there is no file opened and even when a read only file is opened.

In this case, there are multiple keybindings for "Save": `cmd+s` and `s`. Both <kbd>cmd+s

[2021-01-26 13:47] jrieken opened #115044 "Changing output ids cause false diffs"
Testing #114969

* use the plotly.txt-notebook, tracked, not changes
* delete a cell, save
* diff editor shows the deleted cells but also red/green for other outputs
* text-diff of the output shows that it is output ids (this might be an issue with the jupyter extension)

<img width="1517" alt="Screenshot 2021-01-26 at 14 43 54" src="https://user-images.githubusercontent.com/1794099/105852720-1a66

[2021-01-26 13:52] alexdima commented on #115026
Actually, this now looks fixable with a new property that was added by Electron:

https://www.electronjs.org/docs/api/structures/keyboard-event

![image](https://user-images.githubusercontent.com/5047891/105853482-0a9b5180-5fe6-11eb-8b93-2abf98541301.png)

[2021-01-26 13:53] jrieken commented on #115026
Thanks for the detailed explanation.

I would assume that macOS has more information but that Electron isn't passing them along. So, maybe @deepak1556 can help us here.

These keybinding are currently coming with the preview Jupyter extension. Today, there aren't too many users but we do expect many in the future. These single letter keybindings are very popular for notebooks which means that we s

[2021-01-26 13:54] isidorn commented on #114967
After some tries I was able to move past the  microsoft/vscode-pull-request-github#2395 and now this seems to work, not sure what was the root cause...

[2021-01-26 13:55] bpasero commented on #115028
Either provide your extension as sample or let me know what to change in our custom editor example (https://github.com/Microsoft/vscode-extension-samples/blob/master/custom-editor-sample) to get this to happen. I tried to throw an error from the `save` method in `pawDrawEditor` but only get this:

![image](https://user-images.githubusercontent.com/900690/105853805-6239bd00-5fe6-11eb-9ab0-c30c466e2

[2021-01-26 13:56] jrieken commented on #115026
Oh, that's brilliant. Another thing that we can do (unsure we already do) is to always evaluate the command precondition - when triggered by keybinding or mouse. That would help with some impossible commands, but not for commands that come with a precondition, like save

[2021-01-26 13:56] bpasero commented on #114967
My speculation is that it could be related to wether the branch is pushed to the remote or not before creating the PR?

[2021-01-26 13:57] #114985 closed

[2021-01-26 13:58] jrieken commented on #115028
Throw an error here: https://github.com/microsoft/vscode-github-issue-notebooks/blob/8578b61e431056a277d387950e3221498d4ef561/src/extension/notebookProvider.ts#L269

[2021-01-26 13:59] isidorn commented on #114967
I have pushed it to remote and it was not working. Maybe it needs a manual reload - which makes for a bad experience...

[2021-01-26 14:00] jrieken commented on #114969
This is equally cool as buggy

[2021-01-26 14:01] andrewspode commented on #110232
I'm having this problem as well. I am doing "docker-compose exec container-name sh". Oddly, all my other containers are fine - this is only happening when I've started working with alpine which uses sh instead of bash.

If I do this from the WSL terminal built into Windows 10 - there are no rendering issues, so only happening from within VS Code.

I can also confirm that adding "terminal.integrate

[2021-01-26 14:05] joaomoreno opened #115045 "Compact menu bar visibility on desktop doesn't work"
Testing #114949

Maybe as designed, but setting `window.menuBarVisibility` to `compact` on Desktop is a noop.

[2021-01-26 14:06] lszomoru opened #115046 "Tab wrap - removing right border when tab takes full width"
Testing #114827

When a tab is taking up the full row the right hand border seems to have one extra pixel. Unless this is intended, I think that it would be great to remove it so that all four borders of the tab have a consistent size.

![image](https://user-images.githubusercontent.com/3372902/105855004-de80d000-5fe7-11eb-9217-cde1a706037a.png)

[2021-01-26 14:06] egamma opened #115047 "test"
Issue Type: <b>Bug</b>

test

VS Code version: Code - Insiders 1.53.0-insider (1a9dd758530782ee4bb09a15bdc484f3dcb9b5a3, 2021-01-26T05:12:23.287Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz (16 x 2300)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>multiple_ras

[2021-01-26 14:07] Tyriar commented on #115034
@PurpleGranite I'm saying we've already hit this issue before, so we need to consider another way to surface the hover to users.

If we wanted to stick to purely mouse interaction to access it, I saw a pretty nifty solution to this problem in the game Crusader Kings III which allows many levels of nesting tooltips. When you hover something, a spinner shows in the top right of the hover for ~2 seco

[2021-01-26 14:09] matepek commented on #107467
About [retired](https://github.agodadev.io/agoda-front-end/agoda-com-dictator/blob/5a17a280545bb142c1274276e587844f5da623cc/Src/Agoda.Website/Agoda.Website.MVC/Areas/NewSite/Login/Services/AccountProtectionService.cs#L66) states.

This basically a property which is perpendicular to the `TestRunState`.
If the binary which contains the tests has changed then all the test results are retired/old/expi

[2021-01-26 14:09] joaomoreno opened #115048 "Toggle menu bar visibility doesn't work on web"
Testing #114949

Setting `window.menuBarVisibility` to `toggle` seems pointless on the web, unless we can react on the <kbd>Alt</kbd>.

[2021-01-26 14:09] aeschli opened #115049 "Watch view: Copy value copies array index instead of value"
Verifting  #114353

Have the following node program:
[code]
- set a breakpoint on `console.log`
- reach the breakpoint
- In the watch view, create an expression `x`. Expand x, the first item, Run `Copy Value`

-> '0' is copied to clipboard

Looks like it's always the index, not the value

[2021-01-26 14:11] joaomoreno commented on #114949
@sbatten  The `default`, `toggle` and `hidden` options do not show any title bar at all. Only `visible` does.

[2021-01-26 14:11] chrmarti commented on #114974
@deepak1556 I don't have a silicon Mac. I'll just test with Intel, so you can potentially unassign yourself.

[2021-01-26 14:11] #114904 closed

[2021-01-26 14:11] joaomoreno commented on #114949
@sbatten Should `default` be renamed? It seems that `compact` is the default for web. So calling it `default` is weird.

[2021-01-26 14:13] aeschli commented on #115025
For what language is that?

[2021-01-26 14:13] lszomoru opened #115050 "Tab wrap - flicker when there is not enough room for wrapping tabs to display"
Testing #114827

- Create multiple editor groups
- Ensure that the selected tab is not the first one in the editor group
- Start dragging the sash so that there is not enough room to wrap tabs
- Notice how the name of the tab that is visible jitters as it switches between the name of the first tab, and the name of the selected tab

![recording (1)](https://user-images.githubusercontent.com/3372902

[2021-01-26 14:14] rjmunro commented on #37350
This proposed view does not really help you resolve the conflict. What you actually need to see is the common parent of the 2 conflicting changes and what each of the diffs are - i.e. the information you get from `git config merge.conflictstyle diff3`. See https://blog.nilbus.com/take-the-pain-out-of-git-conflict-resolution-use-diff3/ for examples of why this is useful.

Could this be taken into a

[2021-01-26 14:15] isidorn commented on #114967
I have assigned all the issues to @RMacfarlane, let me know if I should assign them to @eamodio as well (since only know I noticed that he is also listed as author). For now I leave that up to the authors.

In the end I could successfully do the scenario, thus checking my name off.

[2021-01-26 14:20] chrmarti opened #115051 "Universal build: Missing indicator in Issue Reporter details"
Issue Type: <b>Bug</b>

https://github.com/microsoft/vscode/issues/114974

The following does not indicate that this is from the universal Mac build:

VS Code version: Code - Insiders 1.53.0-insider (1a9dd758530782ee4bb09a15bdc484f3dcb9b5a3, 2021-01-26T05:12:23.287Z)
OS version: Darwin x64 19.6.0
Remote OS version: Linux x64 5.4.39-linuxkit

<details>
<summary>System Info</summary>

|Item|Value|
|

[2021-01-26 14:20] matepek commented on #107467
Just a summary of my wish/suggestion-list. (Hit the corresponding emojis if you have the same ^^)
- [retired events](https://github.com/microsoft/vscode/issues/107467#issuecomment-767565151) ❤️
- [new state](https://github.com/microsoft/vscode/issues/107467#issuecomment-765946025): `TestRunState.Loading` 👀
- [lazy load of suites](https://github.com/microsoft/vscode/issues/107467#issuecomment-76594

[2021-01-26 14:21] isidorn commented on #115034
@Tyriar I like the idea to have the Show Hover use the same shortcut for showing the custom hover.

I like the game idea, but showing the spinner might be a bit distracting. For startes can't we just do it without the spinner, so after a timeout of ~2 seconds mouse would not cause it to hide

@PurpleGranite we appreciate the feedback, however let's try to be concise and reduce the drama if possibl

[2021-01-26 14:21] alexdima commented on #115022
Not sure if this extra infor helps. For me, this happens for the smaller views inside a viewlet, but not for the top viewlet "...":

![TO_UPLOAD](https://user-images.githubusercontent.com/5047891/105857047-2f91c380-5fea-11eb-8a1c-9da1822dadb3.gif)

[2021-01-26 14:22] lszomoru opened #115052 "Tab wrap - tabSizing shrink"
Testing #114827

I would have expected that `workbench.editor.tabSizing: shrink` will only shrink the tabs to the minimum width until the full title of the tab is visible, however it seems to be shrinking beyond that which results in some of the tabs having their title cut off:

<img width="462" alt="image" src="https://user-images.githubusercontent.com/3372902/105857070-37516800-5fea-11eb-86d2-3f

[2021-01-26 14:23] isidorn commented on #113562
Let's reopen since @jramsay mentioned that this does not fix the issue for him

[2021-01-26 14:24] Tyriar opened #115053 "Support ${vscodeInstallPath} or similar in environment variable collection"
As a means to workaround the install directory changing frequently in insiders, js-debug its bootloader into workspace storage. This falls apart when rebuilding containers though as js-debug expects the file to be there but it's not, and it cannot fix the problem because the extension has not activated yet. More context: https://github.com/microsoft/vscode-remote-release/issues/4308

The solutions

[2021-01-26 14:25] jrieken commented on #110214
@bpasero is this on-testplan or verification needed?

[2021-01-26 14:26] Tyriar commented on #115034
@isidorn the game also changes the border of the tooltip after the time has passed, we could do this fairly subtly to give a visual indication.

[2021-01-26 14:29] plainerman commented on #105691
Great, I have just created a draft PR where I would like to discuss a few things https://github.com/microsoft/vscode/pull/115054

[2021-01-26 14:29] isidorn commented on #115034
@Tyriar I like that idea a lot! So the border would show that the hover has become "stable".

Alternative idea: just allow the mouse to move over it when screen reader is detected. Since I believe that some of the zoom software is detected as a screen reader.

[2021-01-26 14:30] isidorn commented on #105691
Thanks, let's continue the discussion there.

[2021-01-26 14:32] lszomoru commented on #114822
Tested on macOS 👏🏻

[2021-01-26 14:32] alexdima opened #115055 "`menuBarVisibility` `toggle` and `default` behave like `hidden`"
Testing #114949

* on macOS
* open https://vscode-web-test-playground.azurewebsites.net/?enter=true
* set the configuration option to `toggle`
* press `alt`
* the menu does not show

Similarly, set the configuration option to `default`. The menu is not visible.

[2021-01-26 14:32] jrieken commented on #106886
@bpasero I see this working but it also contains some unexpected results, like typing "js"  and find "html". Is that part of the strategy?

<img width="1289" alt="Screenshot 2021-01-26 at 15 32 38" src="https://user-images.githubusercontent.com/1794099/105858538-ba26f280-5feb-11eb-90aa-74eefd5659bc.png">

[2021-01-26 14:36] jrieken commented on #114915
I now see different screen cheese...

[2021-01-26 14:37] jrieken commented on #102075
verified in source

[2021-01-26 14:39] Tyriar commented on #115034
@isidorn are we also targeting users that have difficulty with using a keyboard, would that be covered by the alt approach?

An extra benefit of the stable tooltip would be enabling selecting and copying text from the tooltip.

[2021-01-26 14:39] oresttokovenko opened #115058 "VS Code doesn't detect PyTorch, but Jupyter Notebooks does"
- VSCode Version: 1.53.0-insider
- OS Version: M1 macOS 11.1

Steps to Reproduce:

1. Open VS Code Jupyter Notebook
2. run `import torch`

Issue is pretty self explanatory, I can't import PyTorch into VS Code. Not sure what is causing this error. I double checked and I am using the right environment.

<img width="1440" alt="Screen Shot 2021-01-26 at 7 26 14 AM" src="https://user-images.githubuserc

[2021-01-26 14:41] eieioxyz commented on #70768
As a developer, I have zero use for these.

But as a tutorial creator, they are downright annoying. I find myself editing around these, trying to cut them out, re-recording portions, etc.

[2021-01-26 14:41] PurpleGranite commented on #115034
@Tyriar I'd be much more in favour of the mechanism in the game you mention - however it would be important to ensure that any form of spinner or status indicator was not hidden by the mouse cursor - most users of magnifiers will have a cursor significantly larger than standard.  Testing with actual assistive software with real-world configurations will be key to ensure it works as expected.

If t

[2021-01-26 14:44] weinand opened #115059 "Some state is not preserved when restarting VS Code after deleting data dir folder"
Testing #114826 on linux

After step 9 "create the folder again with same name" I can not verify the subsequent steps:
- VS Code does not open workspace folder automatically
- there are no dirty editors

Here is the transcript:

[code]

(I assume that "delete the folder" means "delete the data dir")

[2021-01-26 14:45] juniorbotelho opened #115060 "VSCode opening several windows on MacOS with the command "code"."
Bug report

- VSCode Version: 1.52.1
- OS Version: MacOS 11.1 Big Sur

### VSCode opening several windows on MacOS with the command "code"
Whenever I try to run Visual Studio Code through the "code" environment variable, it ends up opening several windows at once and forcing me to close one by one, I have already done some research to try and solve it and I found nothing, I hope that developers so

[2021-01-26 14:47] Tyriar commented on #115034
Perhaps an additional 1px outline on the hover would work better than changing the color, so the border gets a little larger/bolder after the timeout.

Before:

![image](https://user-images.githubusercontent.com/2193314/105860101-1533f780-5fa2-11eb-949e-245b2ec20ff3.png)

After:

![image](https://user-images.githubusercontent.com/2193314/105860140-1fee8c80-5fa2-11eb-8265-4d6aa7509101.png)

I think

[2021-01-26 14:50] Tyriar commented on #115034
Tentatively assigning to February, don't want to rush in for Jan so it can get some testing/discussion.

[2021-01-26 14:52] weinand commented on #115059
After reading the second part "Workspace Validity" is get the impression that "delete the folder" means "delete the workspace"...

Let's try the first part again...

[2021-01-26 14:53] vicchimenti commented on #114168
Thank you for the input, I have been able to sync all my working repos to my new local machine by removing the --global and adding my user.name and user.email manually to each repo individually.

I don't remember having this last issue on my previous machine but if the explanation is that this is expected behavior by design then it feels like a challenging user experience by design. When a user is

[2021-01-26 14:58] isidorn commented on #115034
@Tyriar makes sense to do this next milestone so we get feedback.
A thicker border looks great. I would just be interested in how the transition looks, from regular to thicker and if it is not distrurbing.

So far I have not heard feedback from users that use the keyboard. So for now let's go with the "stable" hover and see how it feels.
Also having the same keybinding shortcut makes sense in gene

[2021-01-26 15:02] locdiep opened #115061 "Go to definition not working"
Issue Type: <b>Bug</b>

I don't know why the go to definition does not work for everything (I use C/C++).

"Go to definition" was working yesterday, but suddenly stop working.

I added all necessary include paths:
[code]

I tried to open my project in another computer using Ubuntu 20.04 and I see the same issue (I use 2 computers for my project and "go to definition" worked perfectly until yesterd

[2021-01-26 15:02] weinand commented on #115059
Ok, I misunderstood the "delete the folder".
Everything works fine.

[2021-01-26 15:02] #115059 closed

[2021-01-26 15:05] jrieken commented on #115026
🥳

[2021-01-26 15:06] chrmarti opened #115062 "Error signing in the second extension to GitHub"
Testing https://github.com/microsoft/vscode/issues/114963 on Linux.

I have GHPR and Codespaces installed, but only one shows in the menu (not sure that is expected):
![image](https://user-images.githubusercontent.com/9205389/105861790-61f1ef80-5fef-11eb-9212-f653cac4cffd.png)

I can successfully sign-in for GHPR and then start the sign-in for Codespaces from the Remote-Explorer. After:
![image](h

[2021-01-26 15:14] locdiep commented on #115061
<img width="856" alt="issue" src="https://user-images.githubusercontent.com/19490612/105863810-dc3c6700-6023-11eb-896d-0391d4c22f37.png">

[2021-01-26 15:15] joaomoreno commented on #108957
The `scm.providerCountBadge` only affects the repositories in the Source Control view, not the Source Control Repositories view. This is because we'd like all actions to be aligned in the Source Control Repositories view and this would break alignment. The setting description also makes this clear:

[2021-01-26 15:15] #108957 closed

[2021-01-26 15:15] jardicc commented on #114358
It says that log file should be here: `c:\Users\Jarda\AppData\Roaming\Code\logs\20210126T095730\exthost1\vscode.typescript-language-features\tsserver-log-IqXoqc\tsserver.log`

But the folder is empty. What now?

[2021-01-26 15:16] locdiep commented on #115061
For example:
<img width="841" alt="Screen Shot 2021-01-26 at 22 13 38" src="https://user-images.githubusercontent.com/19490612/105863964-03933400-6024-11eb-954f-4569da553b97.png">

[2021-01-26 15:16] jardicc commented on #114358
And in other similar folders, I do have 6× tsserver.log in total.

[2021-01-26 15:20] cyrilletuzi commented on #106123
I'm the author of the [Angular Schematics extension](https://marketplace.visualstudio.com/items?itemName=cyrilletuzi.angular-schematics) (400 000+ users), and I'm also facing an issue with unreliable `vscode.window.activeTerminal`.

But the issue seems much larger than what is described here, for me the `activeTerminal` API is totally buggy.

For short, my extension is using a terminal to launch A

[2021-01-26 15:24] yannickowow opened #115063 "Watch: allow to set value of expressions"
Related to : https://github.com/microsoft/vscode/issues/45621 ?

Hi,
I create this request to implement setExpression in VS Code. Since it already supports well "evaluateName", it would be easy to support this in "Watch" view.
In my mind, if debuggee supports setExpression, you could set a value by double-clicking in current one, or by a "Set Expression..." action.
Regards.

[2021-01-26 15:26] meganrogge opened #115064 "feature request - disable tests from test explorer"
Testing #114932

Use case:

I don't want to run a certain test again, so I right click on it and disable it. It appears greyed out and doesn't run. This would prevent me from having to comment it out.

[2021-01-26 15:28] pathnirvana commented on #33752
I have been using vscode for a while now and this is the biggest pain point - can't believe this has been open for 4 years

some intelligent way to only show these hints for rarely used functions or not show again for the same function if the user has already closed by esc

[2021-01-26 15:29] isidorn commented on #115049
@aeschli thanks for filling this.
The problem here is that the `evaluateName` of the first element of the array is `0` instead of `x[0]`.
This is coming from js-debug thus forwarding to @connor4312

[2021-01-26 15:36] jk779 commented on #113247
seems to be this issue here: https://github.com/microsoft/vscode/issues/105446

[2021-01-26 15:36] isidorn commented on #114451
@zeuschops the link does not work for me. Though it would be best if you first try to repro with VS Code insiders. Thanks

[2021-01-26 15:38] isidorn commented on #114144
Works great!

[2021-01-26 15:39] aeschli commented on #114144
Testing with Codespaces (dev), 1.53.0-insider Commit: 1a9dd758530782ee4bb09a15bdc484f3dcb9b5a3, Date: 2021-01-26T05:20:01.859Z, I still see the view icons to appear with delay after the reload.
![viewicons](https://user-images.githubusercontent.com/6461412/105867119-0165b100-5ff5-11eb-9c0d-230cb3a531ea.gif)

@sandy081 Is that expected?

[2021-01-26 15:40] DanTup commented on #48754
@alexr00 @sandy081 should we expect that this will never be implemented? 😞

There are even built-in VS Code trees that behave strangely because of it. For example, the explorer tree follows around the current active file - yet if you open a file not in the tree (for example a new file), it just remains on the last selection.

[2021-01-26 15:41] eboody commented on #33752
Not that I know what I'm talking about, but this seems like something really simple to implement...

[2021-01-26 15:41] isidorn commented on #114132
Works great!
One suggestion: only show the Duplicate Group Left and Duplicate Group Up if there is more than 1 group currently open. Otherwise these actions are same as the others and might just create confusion...

[2021-01-26 15:41] meganrogge opened #115065 "not recognizing some tests I added"
Testing #114932

![recording (6)](https://user-images.githubusercontent.com/29464607/105867416-ef125580-5fa9-11eb-842f-bb5674eb152d.gif)

[2021-01-26 15:42] isidorn commented on #114144
I am using the ppe environemnt on codespaces and for me this works fine.

[2021-01-26 15:42] daslicht commented on #114987
@joaomoreno joaomoreno
```Mouse Wheel Scroll Sensitivity``` is only fo the content NOT the tree !

[2021-01-26 15:43] isidorn commented on #114016
We did not recieve negative feedback and I think the change makes sense -> verified

[2021-01-26 15:43] daslicht commented on #102261
Please make this feature also working for teh tree and not just the content

[2021-01-26 15:45] isidorn commented on #112479
The wiki page exists and looks reasonable -> verified

[2021-01-26 15:46] ayush-j opened #115066 "SSH not working - could not establish connection"
Version: 1.53.0-insider (user setup)
Commit: 1a9dd758530782ee4bb09a15bdc484f3dcb9b5a3
Date: 2021-01-26T05:13:59.356Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Remote-SSH: Connect to SSH host
2. Select host

I have a SSH host added to my VS code install which had been working fine till yesterday. Today, I

[2021-01-26 15:47] meganrogge opened #115067 "Inconsistent behavior when I modify a test"
Testing #114932

When I modify this failing test, to make it pass, it seems to re-run the test,  but when I modify it to make it fail in a different way than before, then it displays the run icon.

![recording (7)](https://user-images.githubusercontent.com/29464607/105867834-5f20db80-5faa-11eb-95cc-acb9907bcd98.gif)

[2021-01-26 15:48] #114932 closed

[2021-01-26 15:48] PurpleGranite commented on #115034
@Tyriar changing the border size does look like a good approach.  Would it be possible - at some point - to make that a configurable option, including specifying the number of pixels the border increases by?

That would give people who don't like it the option to turn it off, and would give people who use magnification tools like I do the option to increase the border by a larger (and therefore mo

[2021-01-26 15:50] bpasero commented on #110214
@jrieken yeah it was "on testplan" last milestone to test the API, but now we need a verification that the API can be used without proposed API flag. That is what I left the verification in this issue for.

[2021-01-26 15:50] isidorn commented on #104453
@connor4312 adding the on-testplan since this should be covered by a test plan item, thus no further verification should be needed if I am nto mistaken.

[2021-01-26 15:51] bpasero commented on #115060
@juniorbotelho are those windows "Untitled" workspaces?

[2021-01-26 15:51] aeschli commented on #110330
Verified that `New File` from the welcome page opens the mode quick pick

[2021-01-26 15:53] bpasero commented on #106886
@jrieken yeah the change was to make all extensions of any language be searchable even when the display label does not show it. And in this case you seem to be hitting `jsp` or `jshtm`.

However I wonder if we should make this smarter and only show the entry if you type the exact name of it?

[2021-01-26 15:53] xpe commented on #114931
While this may be technically true, this is not a good end user experience. Nor should such a claim impede usability improvements.

[2021-01-26 15:53] isidorn commented on #65258
Works great, nice work @hediet
Adding verified label

[2021-01-26 15:55] bpasero commented on #115028
One idea would be to always allow to close a window when you are doing extension development but still trigger the normal shutdown handlers so that an extension developer can properly debug that code.

[2021-01-26 15:56] jrieken commented on #106886
How about showing those strings (as details or description) but only when they have matched something. That would self-explain things

[2021-01-26 15:56] #115033 closed

[2021-01-26 15:58] bpasero commented on #115046
Good catch, I was waiting for this issue. Unfortunately I was not able to figure out a way to do so because there is no CSS rule that I can use to figure out if a tab is the last one in a row or not. I would probably have to inspect each tab during a layout call and dynamically update the border based on the position of the tab which I found a bit overkill.

//cc @SneakyFish5 @DynDux

[2021-01-26 15:58] #115032 closed

[2021-01-26 16:00] bpasero commented on #106886
Yeah that is a possibility but I wonder if https://github.com/microsoft/vscode/issues/106886#issuecomment-767637941 would help produce less unwanted results. I will take a look tomorrow to see if there is something to improve here.

The radical alternative is to simply show all extensions in each label but we felt that this would produce too long labels for the picker.

[2021-01-26 16:01] bpasero commented on #115050
Yeah I was not able to figure out what triggers this and was even suspecting a browser bug (though didn't follow up).

//cc @SneakyFish5

[2021-01-26 16:03] #115052 closed

[2021-01-26 16:03] juniorbotelho commented on #115060
@bpasero Yes, all windows are "Untitled" workspaces.

[2021-01-26 16:05] Tyriar commented on #115034
@PurpleGranite seems reasonable, I'll bring this up in the UX sync next week and see what the rest of the team thinks.

[2021-01-26 16:11] jcuffe commented on #114456
Hello, would also like the answer to this! VSCode has broken my workflow with this change - I am absolutely certain that this method of navigation was possible as little as a month ago, as I have been using it to navigate the codebase of an ES5 Express project at work.

[2021-01-26 16:12] #114998 closed

[2021-01-26 16:13] rebornix commented on #115008
The webview is resized properly, the renderer doesn't respond to that, reported to Jupyter https://github.com/microsoft/vscode-jupyter/issues/4506

[2021-01-26 16:13] #115008 closed

[2021-01-26 16:13] nkaminski commented on #105446
@ujwal-setlur
To turn off automatic graphics switching, go to system preferences > Battery > Automatic Graphics Switching and uncheck the box.

Be aware that this results in a ~30%

[2021-01-26 16:13] #114983 closed

[2021-01-26 16:14] #114641 closed

[2021-01-26 16:14] joshxyzhimself opened #115068 "Request for "Edit settings.json" option in File -> Preferences"
It's a bit sluggish having to remember `CTRL + SHIFT + P` then manually typing `settings.json`; or `CTRL + ,` or navigating `File -> Preferences -> Settings` then search for small `Edit in settings.json` links just to get to the `settings.json` file.

Users new to VSCode are having a legit hard time going through these loops when they just want to do simple changes to `settings.json`.

Can't we ju

[2021-01-26 16:15] bpasero commented on #115060
https://code.visualstudio.com/docs/editor/multi-root-workspaces#_workspace-file

[2021-01-26 16:15] #115060 closed

[2021-01-26 16:17] alexdima commented on #107016
That does not sound right. Can you reproduce this also in Chrome with https://vscode-web-test-playground.azurewebsites.net/ ? How about a non-Chromium browser like FF or Safari? What OS are you on?

[2021-01-26 16:17] eamodio commented on #115026
The key binding display issue is related to https://github.com/microsoft/vscode/issues/40389

[2021-01-26 16:20] aeschli opened #115069 "debug toolbar not reflecting running state"
Testing #110226

Have a node program:
[code]
- set breakpoint on console
- launch the propgram 2 times (see #110226)
- the call stack shows both launched programs and shows that the programs are sitting on breakpoint
- use the process switcher in the debug toolbar
 -> from the toolbar it appears the programs are running, but in fact they are paused and the 'continue' button should show

![debug-to

[2021-01-26 16:21] Tyriar commented on #115021
I'm not seeing a difference between the terminal and editor?

[2021-01-26 16:22] alexdima commented on #114846
@Teiem I'm not sure what you mean by "copy on select". Please let us know if you find a way to reproduce it.

[2021-01-26 16:23] JacksonKearl commented on #114979
Yes that was an intentional change to better differentiate those paths from OS paths. (Previously it'd say something like `~/User/settings.json`, which seems misleading). Happy to tweak if you have any suggestions

[2021-01-26 16:24] Tyriar commented on #114958
@rebornix another opportunity: "New Python Notebook", instead of knowing to create an untitled .ipynb file.

[2021-01-26 16:24] sbatten commented on #115045
![image](https://user-images.githubusercontent.com/6561887/105873064-f2104480-5faf-11eb-8bd2-69a78e48f1fe.png)

[2021-01-26 16:24] #115045 closed

[2021-01-26 16:26] Tyriar opened #115070 "Notebook trust warning is an error"
Testing #114969

Error = something unexpected/bad happened

![image](https://user-images.githubusercontent.com/2193314/105873236-1f5cf280-5fb0-11eb-8184-8f0030f05e61.png)

[2021-01-26 16:27] Scrabble96 opened #115071 "Windows 10 location of settings.json file not given in get started guide"
I was trying to find the Windows location of the settings.json file so that I could edit it. I came across instructions on this page: https://code.visualstudio.com/docs/getstarted/settings#_settings-file-locations but the location for Windows 10 is different.

The guide says:
%APPDATA%\Code\User\settings.json

I eventually found the file in Windows 10 here:
\Users\Username\Appdata\Roaming\Code\Use

[2021-01-26 16:27] susiwen8 opened #115072 "document.hasFocus() is not accurate"
Version: 1.52.1
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-16T16:30:02.420Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 17.7.0

Does this issue occur when all extensions are disabled?: Yes

The comment in [`_documentHasFocus `](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/services/keybinding/browser/keybind

[2021-01-26 16:27] sbatten opened #115073 "Bad rendering of compact menu description"
discovered via https://github.com/microsoft/vscode/issues/115045

![image](https://user-images.githubusercontent.com/6561887/105873387-47e4ec80-5fb0-11eb-9908-303b18141fe3.png)

[2021-01-26 16:27] JacksonKearl commented on #114975
`F5` does not do what we want here, I'm running the command which will find a way to run the app even if no launch config is set up (`workbench.action.debug.selectandstart`), but `F5` only works if a launch config is already set up or the active editor can support running. The command I'm using has no default keybinding. It could be changed to `workbench.action.debug.start` aand it'd get the `F5`

[2021-01-26 16:29] Tyriar opened #115074 "Would you like to install Python extension doesn't state why a user would want to"
Testing #114969

Consider rephrasing to something like this:

![image](https://user-images.githubusercontent.com/2193314/105873588-7ebb0280-5fb0-11eb-99a3-c7f5dd468e14.png)

[2021-01-26 16:30] sbatten commented on #115048
toggle works when using pwa or fullscreen

[2021-01-26 16:30] colomonkey opened #115075 "Show count of selected lines in footer bar"
Show the count of currently selected lines in the info footer bar.

It currently shows characters selected and which line number you are on and it would be nice to show the amount of selected lines. The current way i do it now is select the lines i need to count and copy paste them to a new document starting at line 1. Then i scroll to the last line number to see the amount of lines.

[2021-01-26 16:33] isidorn commented on #115069
@aeschli good catch, this is due to the fact that js-debug encapsuletes a child session with a parent session, and from that dropdown we are not smart enough so we focus the session wrapper
There was already an issue for this, but I can not find it.
Assigning to february to investigate then into fixing it.

fyi @connor4312

[2021-01-26 16:34] Tyriar opened #115076 "Plot context menu doesn't show click feedback for Save as SVG/PNG only"
Testing #114969

![recording (33)](https://user-images.githubusercontent.com/2193314/105874240-38b26e80-5fb1-11eb-8769-261554c5411b.gif)

[2021-01-26 16:34] Tyriar opened #115077 "Only save as SVG works in plot context menu"
Testing #114969

All other items do nothing:

![recording (33)](https://user-images.githubusercontent.com/2193314/105874334-4ec02f00-5fb1-11eb-95e7-3b2a370002a1.gif)

[2021-01-26 16:34] sbatten commented on #115048
linking to https://github.com/microsoft/vscode/issues/114200

[2021-01-26 16:34] #115048 closed

[2021-01-26 16:35] sbatten commented on #115055
linking to https://github.com/microsoft/vscode/issues/114200

[2021-01-26 16:35] #115055 closed

[2021-01-26 16:37] nojvek commented on #96058
@Tyriar For my own sanity, what is the difference between onData and onBinary? I'd assume the onData would be the raw binary data stream. For my own deeper understanding, is there an architecture page that describes how xterm <-> vscode architecture works? If not that is fine too. The topic interests me that's all.

[2021-01-26 16:37] Tyriar opened #115078 "Notebooks +Code/+Markdown is distracting"
Testing #114969

It keeps showing and displaying when you move the cursor vertically

![recording (34)](https://user-images.githubusercontent.com/2193314/105874508-7911ec80-5fb1-11eb-95d4-692a81484191.gif)

![recording (35)](https://user-images.githubusercontent.com/2193314/105874626-a52d6d80-5fb1-11eb-904e-016755e02e24.gif)

Can we improve this somehow? Some thoughts:

- Only show after a timeout

[2021-01-26 16:39] JacksonKearl commented on #114975
We could alternatively assign a default bind to the new action. I have it set to Shift+F5, for instance.

[2021-01-26 16:39] jramsay commented on #113562
Hi @isidorn: I'm available now if you want to take a look

[2021-01-26 16:39] Tyriar opened #115079 "Indent guides don't look great in notebook cells"
Testing #114969

The "status bar" of the notebook cell has the same color as the editor so the indent guides just end all of a sudden:

![image](https://user-images.githubusercontent.com/2193314/105874824-eaea3600-5fb1-11eb-8010-9b75cb8c8436.png)

Compare to editor:

![image](https://user-images.githubusercontent.com/2193314/105874884-f9d0e880-5fb1-11eb-9ef9-e01379e166e9.png)

[2021-01-26 16:40] #115011 closed

[2021-01-26 16:40] isidorn commented on #115021
It might be due to the fact that I use a VM, but here's what I am seeing (hopefully that helps) - shaking is from left to right, and the gif partially captures it, in reality it is a bit worse

![recording (3)](https://user-images.githubusercontent.com/1926584/105874838-5efdfb80-5ffd-11eb-8b47-e6c33d6757b3.gif)

[2021-01-26 16:40] sbatten commented on #115022
@alexdima please confirm, but those look like the native menus on windows/linux. this seems more like a graphical issue with the os/rendering and electron. @deepak1556