[2018-09-28 08:06] feynman11 commented on #59561
@bpasero  no it was a local file. Is there anyway to get more info from the error? All I can see is the error message shown in the bug report.

[2018-09-28 08:20] intellekta commented on #33110
Waiting too

[2018-09-28 08:21] jsynowiec opened #59596 "Breadcrumbs file selector opens in a wrong place"
- VSCode Version: 1.27.2 (1.27.2)
- OS Version: macOS 10.14

Steps to Reproduce:
1. Open a few files
2. Open keyboard shortcuts tab
3. Trigger `breadcrumbs.focusAndSelect` command with a keybinding

Result:
<img width="573" alt="screenshot 2018-09-28 at 10 11 05" src="https://user-images.githubusercontent.com/1029142/46196450-661a7f00-c307-11e8-8184-0aea0295ddfb.png">

This breadcrumbs _pane_ can'

[2018-09-28 08:25] chrmarti opened #59597 "Screen Reader Optimized status bar item inconsistent behavior"
Verifying #52036

Clicking on the status bar item behaves somewhat inconsistently. If I previously clicked 'Yes' in the notification, clicking on the status bar item reopens the notification. If I previously just closed the notification (on X), clicking on the status bar item no longer opens the notification.

[2018-09-28 08:27] isidorn commented on #59597
This sounds like a general notification issue -> forwarding to @bpasero

[2018-09-28 08:31] chrmarti commented on #59597
From looking at the fix it seemed like it was specific to that.

[2018-09-28 08:32] jrieken commented on #59538
Ok, problem is that `#Foo` isn't a valid link and that calling `URI#parse` throws an error. That makes us never call preventDefault...

[2018-09-28 08:35] jrieken commented on #59538
@sandy081  please review https://github.com/Microsoft/vscode/pull/59598

[2018-09-28 08:35] DanDiplo opened #59599 "Support multi-instance, same-user in Remote Desktop environments"
We have VSC installed on a Windows 2016 server. It is useful for editing things like `web.config` files. Our RDP setup allows multiple users to log onto the server using the same account. With most applications this doesn't cause any issues.

However, with VSC we've found that if two users are logged on to the server (with the same user account) and User A has VSC already open then when User B dou

[2018-09-28 08:37] #59596 closed

[2018-09-28 08:37] jrieken commented on #59596
Good news: This is fixed in [VS Code Insiders](https://code.visualstudio.com/insiders/).

[2018-09-28 08:39] levani opened #59600 "Git: Offer to clean workspace when checkout fails due to dirty working tree"
When doing a checkout in vscode and there are local changes in current branch, vscode shows the following dialog:

![screen 1](https://user-images.githubusercontent.com/184472/46197053-bb5f8c00-c319-11e8-8dc0-5f9719948e3a.png)

I think vscode can be smarter here and show the list of actual files that need to be committed or discarded and also offer some useful actions. Here is an example of how we

[2018-09-28 08:41] dbaeumer commented on #50448
@sandy081 the case of an extension crashing should definitely be handled by use and we should clear the markers its owns. Same if the extension host goes down. I will open a issue for it.

[2018-09-28 08:43] dbaeumer opened #59601 "We should make sure that markers are cleared in the following situations."
- when the extension host crahs (not sure if this already happens due to the extension host restart logic)
- when an extension deactivates.

[2018-09-28 08:44] jsynowiec commented on #59596
@jrieken can you please link the mentioned issue? I couldn't find it.

And it seems right, I updated my insider version and no longer can reproduce it on `caaa5369cb4d22b7481e6ff97252cf92937709eb`.

[2018-09-28 08:45] dbaeumer commented on #59337
@g-arjones good catch. Absolutely right.

[2018-09-28 08:46] jrieken commented on #59596
it will be in here: https://github.com/Microsoft/vscode/issues?q=label%3Abreadcrumbs+is%3Aclosed

[2018-09-28 08:50] jsynowiec commented on #59596
Really? Thank you 😒 Never mind then. The important thing is that it's fixed.

[2018-09-28 08:56] chrmarti commented on #52274
It does not move the focus when not in screen reader mode and using space to toggle for me. Whether or not screen reader mode is on only affects mouse clicks in my setup. In that sense I can't reproduce the problem, please add instructions.

[2018-09-28 09:01] joaomoreno commented on #57997
It's an issue in the dropdown widget.

[2018-09-28 09:06] bpasero commented on #59431
@insight47 ok need some more things to try, can you:
* open vscode
* open the console (F12 > Toggle Developer Tools)
* open a file from that remote disk
* save it by writing some content to it
* I would now expect you to see the error console
* open the file with another window to see if your changes have been written to it
* save it again
* I would not expect to see another error in the console

[2018-09-28 09:08] bpasero commented on #59561
@feynman11 can you install node.js from [here](https://nodejs.org/dist/v8.12.0/node-v8.12.0.pkg), then:
* create a XML file on that drive so that you can write to it and remember the path
* open a terminal
* run `node`
* type `fs.writeFileSync(<pathToFile>, "Hello World")`

Does that work without error?

[2018-09-28 09:09] chrmarti commented on #52578
It now reads a text every second that is too long to be read/understood within a single second. I'm not a screen reader user myself, so I can't tell for sure, but does that really fix it?

[2018-09-28 09:10] isidorn commented on #59572
I followed your steps and when I start debugging I get the following
[code]

If I click Debug Anyway - I get no errors you are seeing.
fyi I am on the mac.

1. Can you reproduce this if you disable all other extensions? I see you have C# and others
2. What happens if you simple F1 > execute task > BuildAll

And yes a minimalstic repro steps would help.

You get that error only after 10 second time

[2018-09-28 09:14] bpasero commented on #58689
@roblourens this needs the "Extension host is unresponsive" notification to show up, which I guess is hard to trigger unless you modify some sources. But you can run a simple notification to get similar behaviour:
* write an action that uses INotificationService.prompt()
* add a primary action that sets keepOpen: true
* trigger the notification and click on the button
* verify the notification doe

[2018-09-28 09:18] jrieken commented on #59596
Well, GH issue search is as bad for me as it is for you. I know from the top of my head that this issue has been fixed and that it has been labeled with `breadcrumb`. That is the important bit here. So, sorry, if are really, really interested in knowing the exact issue number you have to find it in that narrowed down list.

[2018-09-28 09:29] #59538 closed

[2018-09-28 09:35] isidorn commented on #59558
I just searched all my logs for 'firstElementChild' and there is nothing in them. Sorry

[2018-09-28 09:37] kodipe commented on #10121
@scriptcoded good question!

I've just found this project https://github.com/illBeRoy/ElectronScriptWindow which allow use BrowserWindow without specific HTML file. Basicaly, it creates base64 encoded string as URL for window: https://github.com/illBeRoy/ElectronScriptWindow/blob/master/src/index.js#L76 on load. After that we should be able to control child from parent via webContents.

[2018-09-28 09:38] bpasero commented on #59558
Ok, just reopen when you see this again and attach the stack.

[2018-09-28 09:38] #59558 closed

[2018-09-28 09:40] isidorn commented on #58393
Adding verified since the rename inbox box is no longer shown. But yes i get a funky error message

[2018-09-28 09:42] bpasero commented on #59552
This happens for notifications that are triggered early enough that the workbench is not done loading yet and did not receive a layout call yet.

[2018-09-28 09:45] isidorn commented on #57664
I got this nice error message

[code]

[2018-09-28 09:48] isidorn commented on #47141
Following @ramya-rao-a steps I do not see any errors in vscode -> verified

[2018-09-28 09:48] dominictwlee commented on #56890
@joaomoreno Command palette and debugger still doesn't work unless vscode is launched from the terminal.

[2018-09-28 09:49] isidorn commented on #56136
@juristr just a friednly reminder if you can verify this is good now, thanks a lot

[2018-09-28 09:49] scriptcoded commented on #10121
@kodipe Neat! That's quite a clever way of doing it. Perhaps I'll look closer into the sources and figure out if this would be a good way of doing it. I would suspect this implies some heavy rewriting of a bunch of core features.

[2018-09-28 09:50] isidorn commented on #57533
No need to verify, since this is a duplicate bug, removing bug adding duplicate

[2018-09-28 09:56] kodipe commented on #10121
@scriptcoded yeah... it's really hard to achieve feature at this moment. I will look for solution for some simple FloatingWindow API and will share with you here if I create something interesting on my fork.

[2018-09-28 09:58] Akumzy commented on #59594
It seem to be coming from this extension [wix.vscode-import-cost](https://marketplace.visualstudio.com/items?itemName=wix.vscode-import-cost)
![screenshot from 2018-09-28 10-44-31](https://user-images.githubusercontent.com/25849232/46201932-51d98080-c30d-11e8-8e39-9be2f61fc3be.png)
![screenshot from 2018-09-28 10-44-54](https://user-images.githubusercontent.com/25849232/46201933-51d98080-c30d-11e8

[2018-09-28 09:59] mrkbutty commented on #58910
@fischeme Yes it is strange as it was working a week or so ago.  I also have similar problem in pycharm (which was also working fine a week ago).  Pycharm says "Cannot run git: Empty git --version output".  So I do think this is environmental.

But I can run git fine in any console.

I have seen a similar problem in the past when "Beyond Trust" service was stopping Docker from controlling VBox.  I

[2018-09-28 10:00] sandy081 opened #59603 "Update docs of Diagnostic.code property"
Update docs of Diagnostic.code property

[2018-09-28 10:03] isidorn commented on #57542
Suggestions are shown after 0.5s, I take that as realtivly quickly considering the size of the file -> verified

[2018-09-28 10:04] joaomoreno commented on #53325
@jrieken Pushing possible fix which could explain the occurrence of this issue in very unlikely circumstances. Also pushed some `trace` logging, so if it happens again, you can set the log level to trace and see if the badge it being set at all.

[2018-09-28 10:05] #59603 closed

[2018-09-28 10:06] isidorn commented on #57722
Verfied via code review

[2018-09-28 10:06] joaomoreno commented on #58910
@mrkbutty Maybe try fully reinstalling Git and VS Code.

[2018-09-28 10:07] #59594 closed

[2018-09-28 10:09] isidorn commented on #47141
This is timing dependent, and I actually tested the build which does not have the fix. So leaving to @ramya-rao-a to verify on her machine

[2018-09-28 10:10] joaomoreno commented on #56890
Have you tried messing around with your `.bashrc` to figure out where it bails out?

[2018-09-28 10:11] chrmarti commented on #57452
@dbaeumer The task does not run, maybe that's expected because the task is passed to the shell as a parameter?

My settings:
[code]

My tasks.json:
[code]

echo.bat:
[code]

The output is:
[code]

When I remove the shell arguments, the task runs as expected.

[2018-09-28 10:16] BIMSOMS commented on #59013
Hi Pine,I'm using out of the box vs code. Mit freundlichen GrüßenMatthias SchneiderBüro für Ingenieurdienstleistungen Matthias Schneider | Am Spritzenmättle 1 | 77704 Oberkirch | Germany | tel.: (+49) 7802 803 450 | mobile: (+49) 152 285 285 22e-mail: info@BIMSO.de | web: www.BIMSO.de | Steuer-Nr.: 14408/38006 | USt-IdNr.: DE264666650 | Bankverbindung: Volksbank Offenburg | BLZ: 66490000 | Konto:

[2018-09-28 10:19] joaomoreno commented on #57990
**Verification:** Add a `data` folder to VS Code's installation folder on Windows and start up Code. It should not be used.

[2018-09-28 10:20] lucacattide opened #59605 "Source control frozen"
Issue Type: <b>Bug</b>

Hi, I noticed that sometimes the SCM manager freezes. I was convinced that was caused by some corrupted plugins, but either with a clean installation with none of them, after N commits/pushes the panel doesn't work anymore. No actions run on button click, neither new edits being tracked. Every time this happens I'm forced to quit/relaunch the program.

Thanks for your assis

[2018-09-28 10:42] mrkbutty commented on #58910
Some more intrigue....

I created 2x scripts one in python another in go, below are the scripts and output.
Python works but Go does not...

[code]

[code]

[code]

[code]

[2018-09-28 10:46] SpectralKH opened #59606 "Delay when searching inside extension pages"
Issue Type: <b>Bug</b>

1. Open an extension page
2. Bring up search by shortcut, then immediately start typing something

You'll see that your first character is missing, assuming you type fast enough. This happens because VSCode does not give the search field focus before the animation is finished. When searching within the editor, this is not an issue, as the search field gains focus before the

[2018-09-28 10:51] Anti-Distinctlyminty commented on #59544
The 'URL' in my case was a mapped network drive, so in step 3 I would paste
`T:\__SharedAssets\Assets_Houdini_Dev\houdini16.5\python2.7libs`
I'm guessing that it only expects something like a github URL, but the equivalent git command in the terminal does work. So it would be good if this worked.

[2018-09-28 10:54] SphericalPotatoInVacuum opened #59607 "1 second delay after tab press"
VS code version: 1.27.2
OS: Ubuntu 16.04

As the title says there is around 1 second delay after tab press anywhere in the editor:
- In the editor field
- In the search field
- In the terminal

I tried disabling every keybinding related to tab, excluding the tab itself, but the delay is still there. I also tried disabling all the extensions, but that didn't help either

[2018-09-28 10:56] mintunitish commented on #59567
This seems interesting. Any tips on how to proceed?

[2018-09-28 10:58] bpasero commented on #59607
@SphericalPotatoInVacuum you mean you hit the "Tab" key to enter a tab into the editor?

[2018-09-28 11:00] SphericalPotatoInVacuum commented on #59607
Yes

[2018-09-28 11:01] nealot opened #59608 "Configurable tooltip hover delay"
Since the tooltip uses my system theme, I find it too distracting when working: I'd like to disable it or at-least increase the delay before it's visible. There is https://github.com/Microsoft/vscode/issues/23946 and https://github.com/Microsoft/vscode/issues/55098 which illustrate scenarios where this feature would be desirable.

[2018-09-28 11:09] Wolfonye opened #59609 "Show default values in jsdoc quick-info."
I hope I didn't overlook any issue that poses the same request in a different wording; if yes I am sorry.

The request:
I repeatedly encounter situations where I would be glad to see the default values
for optional parameters (if specified) in the ctrl+shift+space quick-info.

Is there anything speaking against such a feature?

[2018-09-28 11:15] geek1011 commented on #5243
@80220, I didn't know you use Windows 10. You could still install i3 in a VM, and start it along with x11vnc. Then, you can access the desktop with a VNC viewer.

Also, what I was talking about is using it over VNC. VNC is an image-based protocol, unlike x forwarding.

As for it being a core problem, it seems to be that way, as Chrome and Atom has the same issue.

[2018-09-28 11:33] chrmarti commented on #38804
Now also publishing stable and exploration builds.

[2018-09-28 11:33] #38804 closed

[2018-09-28 11:48] safield commented on #59583
I would consider this basic and core editor behaviour. I would delegating it to extensions would be the wrong choice.

[2018-09-28 11:55] bearoutthere opened #59610 "VSC debugger errors out with ts_helpers.js not found"
When trying to run debugger in VSC with stopOnEntry: true debugger throws the following error and stops.

[code]
I’m not sure where this path is set so i looked in the file systems and found a couple of similar folders

/home/xxx/dev/appxxx/platforms/android/app/build/intermediaries/assets/debug/internal
/home/xxx/dev/appxxx/platforms/android/app/src/main/assets/internal

When VSC shows the error

[2018-09-28 12:04] dotchev opened #59611 "Current branch in status bar confusing with multi-folder workspace"
- VSCode Version: Version 1.27.2 (1.27.2) f46c4c469d6e6d8c46f268d1553c5dc4b475840f
- OS Version: macOS 10.13.6 (17G65)

Steps to Reproduce:
1. Add several folders to the workspace, where each folder is a different git repo on a different branch
2. Open different files from different folders, the branch in the status bar does not change

It seems the branch in the status bar reflects the currently

[2018-09-28 12:08] #58993 closed

[2018-09-28 12:08] #59005 closed

[2018-09-28 12:12] isidorn commented on #57253
Reopening because bot accidently closed it.
But just to get clear can you please write some reproducable steps and in words what is unexpected here. Gif is not very descriptive unfortunetly

[2018-09-28 12:19] jrieken commented on #59392
<img width="963" alt="screenshot 2018-09-28 at 14 18 46" src="https://user-images.githubusercontent.com/1794099/46207989-81968180-c329-11e8-9083-f2f34ba0dbaa.png">

Still seeing, no english alternative...

[2018-09-28 12:21] helpm opened #59612 "meiwenti"
Issue Type: <b>Bug</b>

xiagao

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>flash_stage3d: ena

[2018-09-28 12:26] Astrantia opened #59613 "Give Users The Ability of Choosing Stable VSCode Icon During Insiders Setup"
This would effectively solve the issue of many, many users not liking the green icon. Now with custom file types, the green icon feels even worse. What's the downside of allowing users to decide if they want to use the stable icons for insiders too? I only use Insiders, and I'd rather have blue over green.

[2018-09-28 12:30] kumarharsh commented on #57616
@isidorn sorry for getting back after this long, but I basically searched the store for extensions. The best I could find was `sleistner.vscode-fileutils`. It's pretty good for what it can offer, but the UX of moving a file is terrible. I have to remember paths just to move a file.

If I may ask, what is the reason for not including this in the core editor? It seems like a very very basic need whi

[2018-09-28 12:35] apaatsio commented on #54024
For what it's worth, I have Logitech MX Master and horizontal scrolling is *working fine on Linux*.

[2018-09-28 12:38] scriptcoded opened #59614 "Show JSDoc @file annotations in explorer"
When hovering over a file in the file explorer, the description provided via the `@file` JSDoc annotation should show up. This may also be the case for other languages.

This would apply to synonyms `@fileoverview` and `@overview` as well.

*Simple showcase:*

![2018-09-28_14-35-16](https://user-images.githubusercontent.com/6452991/46208749-fff42300-c32b-11e8-9979-ccb1819bb965.png)

[2018-09-28 12:40] bpasero commented on #59308
I can do it together with https://github.com/Microsoft/vscode/issues/59305

[2018-09-28 12:40] #59308 closed

[2018-09-28 12:42] vit100 commented on #57616
It is just bug - there is cut/paste in menu bar, which is also defective...
and they don't want to accept it.

[2018-09-28 12:44] bpasero commented on #59305
![image](https://user-images.githubusercontent.com/900690/46209047-f1f2d200-c32c-11e8-975d-f79dfbff93ed.png)

[2018-09-28 12:45] isidorn commented on #59305
Fancyyyy

[2018-09-28 12:46] isidorn commented on #57616
@kumarharsh then you can write a new extension which adds just this.
We do not want to add it becuase adding things to the menu will easily make the menu bloated. We prefer to solve issues like this via an extension, such that each user can customize his experience

[2018-09-28 12:46] feynman11 commented on #59561
@bpasero I have been unable to replicate the issue today, I will try those steps if I get the issue again.

[2018-09-28 12:50] BruceGujinhe opened #59615 "code hint too slowly"
Issue Type: <b>Bug</b>

I'm working with php projects, after the files in the project become more and more, it's too slow to get the code's hint. Sometimes I have to wait about more than 5 seconds. that's so terrible.

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:20:44.170Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Valu

[2018-09-28 12:55] SphericalPotatoInVacuum commented on #59607
Issue Type: <b>Performance Issue</b>

I spotted it randomly, but it still persists with all extensions turned off, so I guess it was here since the startup

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.15.0-34-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @

[2018-09-28 12:57] Idealien opened #59616 "Allow to configure `window.title` with _external variables_"
A re-submit of https://github.com/Microsoft/vscode/issues/22037 as the 6-12 month period mentioned in closing the previous is coming up.

In the[ February Release](https://code.visualstudio.com/updates/v1_10#_configurable-window-title), we can now Customize the Window Title, based on a set of variables, which is a great feature 👍

Had you thought about allowing extensions to publish new variables

[2018-09-28 12:59] bpasero commented on #59607
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-09-28 13:00] bpasero commented on #59608
@nealot to be clear, you do not talk about the hover within the editor right?

[2018-09-28 13:00] #59612 closed

[2018-09-28 13:01] #59615 closed

[2018-09-28 13:01] bpasero commented on #59561
Ok please do.

[2018-09-28 13:02] chrmarti commented on #57452
Also: With the quotes the terminal (without task) now opens with an error: `'\"C:\devel\fresh\sp ace\echo.bat\"' is not recognized as an internal or external command, operable program or batch file.`

That seems unexpected. Reopening.

[2018-09-28 13:04] nealot commented on #59608
@bpasero No, that's already covered with `editor.hover.delay` and `editor.hover.enabled`.

[2018-09-28 13:06] bpasero commented on #59608
/findDuplicates

[2018-09-28 13:07] SphericalPotatoInVacuum commented on #59607
There aren't any lags in the "pure" version. I will install some extensions and see if it will change something.

[2018-09-28 13:08] #59608 closed

[2018-09-28 13:09] bpasero commented on #59607
OK

[2018-09-28 13:09] LazarusX commented on #57253
@isidorn You can find my repro steps in https://github.com/Microsoft/vscode/issues/55862#issue-347849695.

[2018-09-28 13:10] sandy081 commented on #59392
@dbaeumer View is an extension point with following schema

[code]

If an extension provides a localised string for name like `%view.name%` and when I am reading the extension point in core, do I receive localised string or a localised string object that has both original and localised value?

[2018-09-28 13:11] jrieken commented on #59601
This happens already today

[2018-09-28 13:12] jrieken commented on #59601
Today, deactivation only happens on shutdown and that's the same as a crash - [`MainThreadDiagnostics#dispose`](https://github.com/Microsoft/vscode/blob/ac8b1fbb90c128ef83309fa4d73723d55111c01a/src/vs/workbench/api/electron-browser/mainThreadDiagnostics.ts#L25) will be called.

@dbaeumer what scenarios do you have in mind?

[2018-09-28 13:17] SphericalPotatoInVacuum commented on #59607
I installed all the extensions except for themes (but I installed icon packs) and I can't spot any delays now

[2018-09-28 13:20] johnpapa opened #59618 "git is working every 10 seconds"
Issue Type: <b>Bug</b>

Here is what i see in vs code every 10 seconds in git output. This happens even if git.autoFetch is false (in settings)

git status -z -u

I just found a setting where if i add it and set it to false, this stops happening.

"git.autorefresh": false,

Is this intentionally set to true by default?

It is distracting to see the git icon with a timer working every few seconds i

[2018-09-28 13:27] Tyriar commented on #59595
Already tracked here: https://github.com/Microsoft/vscode/issues/57803

Nothing I can do on my end apart from complain more towards the Windows Console team. Pressing enter should give you a prompt.

[2018-09-28 13:27] #59595 closed

[2018-09-28 13:29] bpasero commented on #59607
@SphericalPotatoInVacuum does it perform better if you use the stable version again but pick a different user data directory: `code --user-data-dir <some folder>`?

[2018-09-28 13:31] sandy081 commented on #59392
@jrieken I think it is because the german language pack extension is not yet up to date providing the translations for these commands. Only view name is translated because the view is registered with translated string. Once the language pack extension is updated you can see both strings.

[2018-09-28 13:31] #59392 closed

[2018-09-28 13:32] jrieken commented on #59392
ok

[2018-09-28 13:32] JohnDuncanScott opened #59619 "python.venvPath looks in incorrect root"
- VSCode Version: 1.27.2
- OS Version: Windows 10

Steps to Reproduce:

1. Have a Python project folder somewhere on the D: drive
1. Create a Python virtual environment on the D: drive, e.g. "D:\ProgrammingBinaries\Python\env\coding_challenges"
1. Set python.pythonPath to point to "\\ProgrammingBinaries\\Python\\env\\coding_challenges\\Scripts\\python.exe" for the Python project
1. At this point,

[2018-09-28 13:36] vaibhav0320 opened #59620 "Visual studio code extension host teminated unexpectedly."
- VSCode Version:1.15.1
- OS Version:windows 10

Does this issue occur when all extensions are disabled?: Yes

Removing 'Git' folder from "C:\Program Files\Microsoft VS Code\resources\app\extensions" the problem is solved. So, there is an issue with the files in this folder.

[2018-09-28 13:37] SphericalPotatoInVacuum commented on #59607
Nope, the same 0.7-8 second delay

[2018-09-28 13:37] #59619 closed

[2018-09-28 13:48] ttroutindy opened #59622 "Auto Save enabled when set to Off"
I have found that when Auto Save is set to off  and the Auto Save Delay is set to 1000 (default settings), files are saving automatically when they shouldn't.

Setting the Auto Save Delay to 0 and setting the Auto Save to off will allow files to not auto save. The statement on Auto Save Delay says that it only applies when Auto Save is set to afterDelay, so that seems to be broken.

I have disable

[2018-09-28 14:01] hanssens commented on #55236
FWIW: Same for me happend just now. Opening a new instance of VS Code today resulted in these dialogs. I've rejected them with [Don't allow].

What I did:

- Worked on an existing VS Code instance for roughly a day
- Quit the app completely yesterday evening
- Reopend the same instance today (nothing happened)
- Opened a new instance of VS Code with Cmd+Shift+N and the access dialogs popped up

![

[2018-09-28 14:05] CheetahChrome commented on #5402
This situation is like nails on a chalkboard for me. The indiscriminate close felt like a slap in the face. Thx.

[2018-09-28 14:08] #57883 closed

[2018-09-28 14:08] #59091 closed

[2018-09-28 14:09] bpasero commented on #59607
@SphericalPotatoInVacuum ok so it could have been fixed through our nightly builds and that one ends to be the released one next week. I suggest we close this issue and you try out next week when stable is out.

[2018-09-28 14:09] #59607 closed

[2018-09-28 14:16] jdthoen opened #59623 "Save all keyboard command stopped working"
Issue Type: <b>Bug</b>

"cntrl +k s" is only saving the current file and not saving all files.  It appears a second keyboard binding is present for cntrl +k s.  This start earlier this week.

VS Code version: Code - Insiders 1.28.0-insider (caaa5369cb4d22b7481e6ff97252cf92937709eb, 2018-09-28T05:18:20.266Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Valu

[2018-09-28 14:16] Tyriar commented on #52304
The answer to this is that we don't need to announce added or deleted terminals but rather announce the focused terminal only. If the active terminal dies we don't need to announce it, just announce the other terminal or editor that's focused afterwards.

[2018-09-28 14:16] jdthoen commented on #59623
Issue Type: <b>Bug</b>

"cntrl +k s" is only saving the current file and not saving all files.  It appears a second keyboard binding is present for cntrl +k s.  This start earlier this week.

VS Code version: Code - Insiders 1.28.0-insider (caaa5369cb4d22b7481e6ff97252cf92937709eb, 2018-09-28T05:18:20.266Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Valu

[2018-09-28 14:18] bearoutthere commented on #59610
Also if i ignore the error messages above and attempt to walk through the application in debugger i also get bundle.js not found error.  Searching for that file yield the following folders

/home/zzz/dev/appxxx/platforms/android/app/build/intermediates/assets/debug/app/bundle.js
/home/zzz/dev/appxxx/platforms/android/app/src/main/assets/app/bundle.js

changing file permissions to 777 does not chan

[2018-09-28 14:20] SphericalPotatoInVacuum commented on #59607
Thanks for your support! :+1:

[2018-09-28 14:23] Tyriar opened #59624 "Extension triggered quick open no longer focuses first item"
This doesn't seem to apply to cmd/ctrl+p.

Repro:

1. Install git project manager https://marketplace.visualstudio.com/items?itemName=felipecaputo.git-project-manager
2. Configure paths:

[code]
3. Run `GPM: Open Git Project` command
4. Type "vscode"

1.28.0-insiders (not focused):

<img width="328" alt="screen shot 2018-09-28 at 7 19 14 am" src="https://user-images.githubusercontent.com/2193314/4

[2018-09-28 14:23] smistert opened #59625 "Visual Studio Code Crashes"
Version:          Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS Version:       Darwin x64 17.7.0
CPUs:             Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz (4 x 3400)
Memory (System):  16.00GB (4.88GB free)
Load (avg):       3, 3, 3
VM:               0%
Screen Reader:    no
Process Argv:     /Applications/Visual Studio Code.app/Contents/MacOS/Electron -psn_0_18

[2018-09-28 14:28] chrmarti commented on #59624
@Tyriar Did you have Screen Reader mode enabled in 1.28-insiders?

[2018-09-28 14:32] Tyriar commented on #59624
@chrmarti yes. Why is there a difference in how quick open handles ctrl/cmd+p and extensions?

[2018-09-28 14:33] WOo0W opened #59626 "Consider multiline strings/comments when auto detecting indentation"
- VSCode Version: 1.27.2
- OS Version: Windows 10

Steps to Reproduce:

1.  Code like this:
[code]
2. Reopen the file, you will find the tab size has changed to 2

![image](https://user-images.githubusercontent.com/24245520/46214548-fdb2b880-c36d-11e8-9ad5-4fff2fab872d.png)

Does this issue occur when all extensions are disabled?: Yes

[2018-09-28 14:33] #59623 closed

[2018-09-28 14:40] lohxx opened #59627 "Group by methods of a class on go to symbol"
when grouping by the class of a file, let also group by methods of that class, eg: @:ClassName: (shows all methods of this class)

![captura de ecra de 2018-09-28 11-43-11](https://user-images.githubusercontent.com/26140123/46216056-28bcee00-c315-11e8-8a3d-9ecd0581b2c4.jpg)

[2018-09-28 14:41] graph opened #59628 "scroll jumps too much sometimes"
Version: 1.27.2 (system setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64
Happens in all platforms: Windows, Mac, Linux

This one is very hard to reproduce and happens randomly, and happens in the editor & terminal view. Sometimes after reading stuff on the internet I come bac

[2018-09-28 14:54] Tyriar commented on #59628
I'm guessing this is related to Electron as it affects all platforms, can you see if it happens on our experimental Electron v3 builds?

* macOS: [Download](https://az764295.vo.msecnd.net/exploration/5a736c2e4904ed114fae2d5941508505f53afc66/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/5a736c2e4904ed114fae2d5941508505f53afc66/code-exploration_1.28.0-

[2018-09-28 15:04] rjmholt commented on #59572
`Invoke-Build` you get with `Install-Module InvokeBuild`.

The `execvp(3) failed: No such file or directory` is probably because the task refers to `pwsh` and you only have `pwsh-preview` installed. The error message isn't terribly helpful there. Is there a way to (1) allow someone to easily switch to `pwsh-preview` for the executable there and/or (2) throw a more informative error about what fail

[2018-09-28 15:05] Tyriar commented on #57452
@chrmarti this is not meant to work, the quoting should happen for you:

[code]

Verification steps:

[code]

[2018-09-28 15:05] guilala opened #59630 "Open SSH SSH client window pops up when resizing terminal"
- VSCode Version: Version: 1.28.0-insider (user setup)
Commit: b4d09d27509f2c023f63d4315aa966a5ec7581e9
Date: 2018-09-27T14:44:27.811Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64
- OS Version: Windows 10 Home 1803

Steps to Reproduce:

1. Open panel
2. Select terminal (accelerated, canvas) for PowerShell session
3. Connect to some host over ssh

4. Split t

[2018-09-28 15:07] guilala commented on #59630
This issue is not a duplicate of the following:
- Git: Allow to configure location of ssh keys (#33284)
- Feature Request: Remote Operations (#18829)

[2018-09-28 15:08] Tyriar commented on #58814
I don't think this is an issue because the pty launched by node-pty by design is always launched at the same permission level as what it's launched from, therefore the pty can do anything of the parent process anyway. As an action item I'll make a note on the node-pty readme about what not to do https://github.com/Microsoft/node-pty/issues/230

[2018-09-28 15:10] isidorn commented on #59346
I looked into the Running Extensions and that whole view is an old school pain.
I think this should be tackled via https://github.com/Microsoft/vscode/issues/57969 @ramya-rao-a

I actually started to convert but requires some work since the actions currently in the title area of the running extensions view dynamically update their label and icons. So we would need to split them up in multiple comm

[2018-09-28 15:12] isidorn commented on #59572
@rjmholt regarding questions please read my comment from above

1. Can you reproduce this if you disable all other extensions? I see you have C# and others
2. What happens if you simple F1 > execute task > BuildAll - do you see the task completing?

And yes a minimalstic repro steps would help.
is BuildAll a background watching task? If yes then it has to have the isBackground: true
You get that e

[2018-09-28 15:15] jrieken commented on #58985
Acknowledged - lets see what we can do during October. It's not the first time this comes up and the also weird .NET behaviour are reason to change this

[2018-09-28 15:22] alexr00 commented on #59500
I disabled all extensions then restarted VS Code. Still nothing ☹️ What other info can I collect for you?

[2018-09-28 15:22] g-arjones commented on #59337
Even worse, the processId property of the Terminal object is not updated when another process is started so this property is invalid most of the time... @Tyriar

[2018-09-28 15:27] Tyriar commented on #59542
An environment variable wouldn't work for this as once the environment is set and the shell is forked off, we can no longer change it. One way to solve this would be to add a CLI to access the current file of the last active window, but it seems like something that would seldom be used. Moving back to you @joaomoreno 😉

[2018-09-28 15:30] alexr00 commented on #53251
Verification Steps:
Create an extension with this command:

    context.subscriptions.push(vscode.commands.registerCommand('terminalTest.createAndSend', () => {
		const terminal = vscode.window.createTerminal(`Ext Terminal #${NEXT_TERM_ID++}`);
		if((<any>terminal).onDidWriteData) {
			(<any>terminal).onDidWriteData(data => {vscode.window.showInformationMessage('Hello World!');});
		}
		terminal.s

[2018-09-28 15:31] Tyriar commented on #59589
This is likely related to winpty, tracking in https://github.com/Microsoft/vscode/issues/45693

[2018-09-28 15:31] #59589 closed

[2018-09-28 15:32] Tyriar commented on #59574
This is likely related to winpty, tracking in https://github.com/Microsoft/vscode/issues/45693

[2018-09-28 15:32] #59574 closed

[2018-09-28 15:33] g-arjones commented on #59337
@Tyriar Sure, no problem. Also, would you consider passing the Terminal object or the processId to onDidWrite's callback? The api is still proposed so I guess now is the perfect time for something like that.. Would help a lot those interested in this api

[2018-09-28 15:34] Tyriar commented on #47871
@octref that's a different issue deferred to https://github.com/xtermjs/xterm.js/issues/583

This one is specifically about CJK before the link offsetting the links.

[2018-09-28 15:34] #47871 closed

[2018-09-28 15:37] Tyriar commented on #59334
@alexr00 recently made a change in this area and might have an idea what's going on with this case.

[2018-09-28 15:37] Neurrone commented on #28316
@alexandrudima when will Electron 3 be tested for insider builds? Wondering if the much more recent version of Chrome would have a fix for this.

[2018-09-28 15:42] littlee opened #59633 "weird tslint error ?"
![wx20180928-231523](https://user-images.githubusercontent.com/7534668/46218661-c517dc80-c377-11e8-902d-a56b7b27b12d.png)

I found that, sometimes when I type fast in vs code, some tslint error will show like the picture above, notice that the code has no syntax error, and when I type a more character, the error will disappear.

- VSCode Version:
1.27.2
- OS Version:
10.14
Steps to Reproduce:
1. t

[2018-09-28 15:43] Tyriar commented on #59334
Possible candidate, marking with September.

[2018-09-28 15:44] Tyriar commented on #59593
Canvas hardware acceleration is off, you can try the following workarounds:

- Add setting `"terminal.integrated.rendererType": "dom"`, or
- Launch using code.exe --ignore-gpu-blacklist

[2018-09-28 15:44] #59593 closed

[2018-09-28 15:47] alexr00 commented on #59500
Node Debug and Node Debug (legacy) don't appear to be installed when I run from dev (e0e2738819c0f) I'm looking for another pair to try with. Let me know if you know of one or if there's a good way to check extension dependency.

[2018-09-28 15:54] Tyriar commented on #59337
@g-arjones but you call onDidWriteData on the Terminal? Can't you just do this?

[code]

[2018-09-28 15:56] rjmholt commented on #59572
Just tried the **Launch Extension** task from `code-insiders --disable-extensions`, but the new window it opens still has extensions in it (from the same Chrome error window I see). Is there a way to stop the Extension Host from loading extensions?

[2018-09-28 15:56] graph commented on #59628
Yeah It might be electron as I experience the same thing in the Slack app. I'll continue using the experimental builds and let you know if it happens.

[2018-09-28 15:56] alexr00 commented on #59500
Tried with the GitHub Pull Requests extension and the built-in Git extension. Same results: when I try to disable the Git extension it does not disable (👍) but there is no notification(👎).

[2018-09-28 15:57] rjmholt commented on #59572
Also saw our launch.json version was set to 0.1.0 and no `isBackground` was set.

I tried with the version set to 2.0.0 and `"isBackground": true` in the **Launch Extension** task and same result unfortunately. The JSON schema checker informed me that `Property isBackground is not allowed`.

[2018-09-28 15:59] rjmholt commented on #59572
<kbd>F1</kbd> -> **Run Task** -> `BuildAll` works perfectly :)

[2018-09-28 16:01] rjmholt commented on #59572
The error that Chrome console is showing me is:
[code]

[2018-09-28 16:05] rjmholt commented on #59572
Just timed the task execution and that popup does show at the 10 second mark.

After reading the [Background Tasks](https://code.visualstudio.com/Docs/editor/tasks#_background-watching-tasks) page, I don't think we're running a background task; we're not doing any file watching, just calling the build.

[2018-09-28 16:08] rjmholt commented on #59572
Just saw that `"isBackground": true` is intended for `tasks.json`. Tried adding it there to the `BuildAll` task, and the same popup occurs.

[2018-09-28 16:09] bobbrow commented on #56337
Perhaps I don't understand.  It seems to work for me with repeating names:

![image](http://g.recordit.co/YFXLl3Vyhs.gif)

[code]

[2018-09-28 16:10] g-arjones commented on #59337
@Tyriar what I meant was that I would rather subscribe to all terminals at once. Right now I have to subscribe to onOpenTerminal and then call onDidWrite there. But maybe that's just my use case

[2018-09-28 16:14] rjmholt opened #59634 "Can't start VSCode without internet connection"
Looked for a duplicate for this -- saw https://github.com/Microsoft/vscode/issues/58581, but there was no indication of what it was a duplicate of.

- VSCode Version: 1.28-insider (also occurs in 1.27.2)
- OS Version: Microsoft Windows 10.0.18247

Steps to Reproduce:

1. Disconnect from internet (I pulled out my Ethernet cable).
2. `code-insiders`

Does this issue occur when all extensions are dis

[2018-09-28 16:16] Parasrah commented on #28795
I know this is a frustrating bug for many users to deal with (myself included), but let's try not to take that out on the vscode devs. From my understanding this is a bug in chromium, and therefore is making itself known in Electron as well. The vscode devs do amazing work but it could be argued this is out of the scope of their responsibilities. If we want a fix faster the linux community needs t

[2018-09-28 16:18] rjmholt commented on #59634
Ah, all those issues look like the same one I'm looking at. Thanks vscodebot.

However, none of those issues give fuller details or say what was fixed.

I'll see if I can collect more information:

[code]

[2018-09-28 16:29] rjmholt commented on #59572
Getting the "specified task cannot be tracked" popup in VSCode 1.27.2 now, but it seems pretty harmless.

The real problem in insiders seems to be the `isWrapped` property.

[2018-09-28 16:30] bpasero commented on #59346
@isidorn can you give an overview of how the actions change exactly? would it help if some actions moved into the "..." menu instead of being primary?

[2018-09-28 16:30] bpasero commented on #28316
@Neurrone
We are building exploration builds that use a much newer version of Electron (our UI framework). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/86ff36a1cca2c5763c9c57bda2ec8d3443538c89/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/86ff36a1cc

[2018-09-28 16:32] danyeh commented on #14241
@wojtekmaj , Polish language was enabled in community localization tool - Transifex. Translation completion rate has not reached the threshold (50%) that we setup to start to publish beta version of the Polish language pack. It will be great if you can help to nurture Polish community to contribute more. We certainly wish can have Polish language pack as early as possible.

VS Code community local

[2018-09-28 16:36] feralventures commented on #51776
Disabling extensions is not enough. I solved it by uninstalling ms-vscode.csharp en then reinstalling. Plays nice at around 0.4% now.

[2018-09-28 16:40] bpasero commented on #59625
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-09-28 16:42] #59633 closed

[2018-09-28 16:42] bpasero commented on #59634
We are building exploration builds that use a much newer version of Electron (our UI framework). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/45498d93166483c2eff886e28f8dab915ae382fc/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/5a736c2e4904ed114fae

[2018-09-28 16:44] bpasero commented on #59622
@ttroutindy
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-09-28 16:47] Tyriar commented on #59337
@g-arjones I have mixed feelings about this API, it was actually intentionally designed to disallow subscribing to all at once because there is a performance overhead associated with sending all that data over to the extension host. The data only travels when at least one extension uses it.

[2018-09-28 16:49] Tyriar commented on #59630
@rprichard have you seen this happen before? Looks like the hidden console window is showing 😕

[2018-09-28 16:51] g-arjones commented on #59337
@Tyriar I see.. It seems that this really isin't suited to get stdout from a task started in an integrated terminal... :(

I will open the issue for the processId bug, I guess I can work around the other issues if I have a reliable way of getting the PID of the process currently running in the terminal

[2018-09-28 16:53] rjmholt commented on #59634
@bpasero I ran the Windows build and can report that it starts up perfectly without an internet connection :)

[2018-09-28 16:53] thecakeisalie25 commented on #59634
Can reproduce on stable.

[2018-09-28 16:55] g-arjones opened #59635 "Terminal.processId property is not updated once terminal's process is changed"
- VSCode Version: 1.27.2
- OS Version: Ubuntu 16.04 64-bit

Steps to Reproduce:

1. [Clone this repo](https://github.com/g-arjones/vscode-task-provider-bug)
2. Run the extension
3. Run the "Terminal Test Task" provided by the extension
4. You should see something like `1111 == 1111`
5. Run the same task again, you should see that Terminal.processId doesn't get updated

Does this issue occur when a

[2018-09-28 16:56] firelizzard18 commented on #59374
@sandy081 This is a more general approach than #29918.

[2018-09-28 17:02] rjmholt commented on #59634
I'll use the exploration build for the next little week or so if that helps @bpasero

[2018-09-28 17:05] rebornix commented on #46978
@mjbvz it's an upstream now, we added a command `editor.action.wordHighlight.trigger` now to trigger the highlight programatically so if that command works for you always, then it's valid.

[2018-09-28 17:15] DavidLJ opened #59637 "Loses My Bug Report -- which was It Won't Install Kite."
Issue Type: <b>Bug</b>

1.) I just typed my bug report.  Then clicked "Report a bug" and it gave me this form, without the report I had just typed.

2.) Earlier today it pretended to install Kite, but in reality just gave my the flashing undescores as thumper for half an hour.
2a.) Now it won't even pretend.  It just asks for my e-mail and password, then sits there doing nothing.

VS Code version:

[2018-09-28 17:16] busticated commented on #58226
minor but helpful things:

* make the property / method names easily copy+paste-able (ex. `createOutputChannel` [here](https://code.visualstudio.com/docs/extensionAPI/vscode-api#window.createOutputChannel))
* in each property / method section, include the full parent reference so i don't need to scroll around to find it - e.g. `window.createOutputChannel()`

🙏

[2018-09-28 17:28] sbatten commented on #59013
Out of the box 1.27.2 indicates you are using the native title bar and native menu bar. As a workaround you can enable the custom title bar now via the setting `window.titleBarStyle` by changing it to `custom`. The issue with the native bar is https://github.com/Microsoft/vscode/issues/55347

[2018-09-28 17:28] #59013 closed

[2018-09-28 17:31] sbatten commented on #59580
duplicate https://github.com/Microsoft/vscode/issues/57756

[2018-09-28 17:31] #59580 closed

[2018-09-28 17:50] PowerSnail opened #59640 "The area for resizing the bottom pane is too small on KDE"
- VSCode Version: 1.28.0 Insiders
- OS Version: Opensuse Tumbleweed
- Desktop Environment: KDE 5.13.5 (running on 4k screen)

Steps to Reproduce:

1. Open vscode on Linux with KDE with a 4k screen (haven't tested on other setups)
2. Open the bottom pane (e.g. open integrated terminal)
3. Try to resize the bottom pane

When the mouse move over the edge of the bottom pane (even slowly), I could obse

[2018-09-28 17:59] Dari-K commented on #59063
I'm actually having trouble reproducing it, I saw it once on Light+ just after I switched to it, but I haven't been able to get it to happen again.

[2018-09-28 18:00] trevorade opened #59641 "Markdown Codeblocks in documentation contain unwanted asterisks"
- VSCode Version: 1.27.1
- Monaco Version: 0.14.3

Does this issue occur when all extensions are disabled?: Yes

Steps to Reproduce:

1.  Write a JSDoc with a MarkDown code block in TypeScript (or JavaScript presumably or many other languages):

[code]

2.  View function documentation from auto-completion, hover, or parameter hints.  Unwanted asterisks appear in the code block.

VSCode 1.27.1:
![i

[2018-09-28 18:00] Cottser commented on #33746
Just want to echo that this feature is a big deal for users considering a switch from Sublime Text, and I haven't been able to find an extension that supports fuzzy symbol search. I use symbols very often and for me, it's the area I've found the most lacking overall in VS Code. Having a symbol (in this case a method) show up in **Go to Symbol** but not when I use **Go to Definition** (in the same

[2018-09-28 18:08] #59081 closed

[2018-09-28 18:08] #25616 closed

[2018-09-28 18:08] #59075 closed

[2018-09-28 18:08] sbatten commented on #51175
hit what looks like this issue https://github.com/Microsoft/TypeScript/issues/27373 while testing in vscode repo on non-relative paths

[2018-09-28 18:13] Tyriar commented on #59114
I guess my fix only covered one of the cases.

The latest xterm.js should fix this due to the additional bound checking in https://github.com/xtermjs/xterm.js/pull/1693, but since this is an error I expect to have minimal impact on the actual experience and there were some issues when upgrading xterm.js last, I'd say we hold off on this until 1.29.

[2018-09-28 18:27] ramya-rao-a commented on #57999
I would re-open this issue.

The expectation was that the placeholder is read only once.
Now it is not read at all.

[2018-09-28 18:32] StephenWeatherford opened #59643 "Requiring commands in activationEvents seems unnecessary and error-prone"
Why do you require *everything* to be manually spelled out in activationEvents?  It's easy to forget to add it when you add a new command, and then you have a bug which is quite likely to be noticed only by the end user.

It seems like you've got all the information you need already in the package.json to fill out 99% of the activation events automatically.  It seems much better to only require ac

[2018-09-28 18:36] CoenraadS commented on #588
https://github.com/Microsoft/vscode/issues/14756#issuecomment-423148870

[2018-09-28 18:36] ch-hans-chen commented on #21686
@nitish24p

You can try to  copy code block as html format onto Apple's TextEdit.app then re-copy to keynote. The TextEdit.app will translate into RTF format for you. Hope this help.  [reference](https://apple.stackexchange.com/questions/124152/how-do-you-paste-syntax-highlighted-code-into-keynote-13)

[2018-09-28 18:39] sbatten commented on #59112
@sandy081 should we be killing the file extension?

[2018-09-28 18:40] ipip2005 commented on #56644
@bpasero any news on it?

[2018-09-28 18:41] kieferrm commented on #59246
I made a clean macOS install in parallels. I see the same behavior that @misolori describes. I.e. default icons size is the non-vscode icon. When I scale down to 28x28 the vs code icons start to show up.

[2018-09-28 18:41] #59246 closed

[2018-09-28 18:49] #59334 closed

[2018-09-28 18:51] mjbvz commented on #59641
Thanks. This is already being tracked upstream by https://github.com/Microsoft/TypeScript/issues/23517

[2018-09-28 18:51] #59641 closed

[2018-09-28 18:54] mjbvz commented on #59567
The markdown grammar comes from [this repo](https://github.com/Microsoft/vscode-markdown-tm-grammar/). This file is what defines the fenced code block languages: https://github.com/Microsoft/vscode-markdown-tm-grammar/blob/master/build.js After updating it, run the build to regenerate the grammar

[2018-09-28 18:55] mjbvz commented on #59522
Already fixed in VS Code insiders

[2018-09-28 18:55] #59522 closed

[2018-09-28 18:58] mjbvz commented on #59521
Please share some example text that contains the unknown character. Also what file encoding are you using?

[2018-09-28 18:58] jscheel opened #59644 "JS suggested auto-imports stopped working with latest insiders release"
If I type the name of an exported value and press the autosuggest keyboard shortcut, I no longer get auto-import suggestions. This works properly in the stable release, but is broken in the latest insiders release.

- VSCode Version: 1.28.0-insider  (works in 1.27.2)
- OS Version: macOS 10.12.5

Steps to Reproduce:

1. create exported js value in a module
2. in another file, type the name of the v

[2018-09-28 19:00] mjbvz commented on #59523
This works for on-disk files in insiders. Untitled files still are broken

[2018-09-28 19:00] jscheel commented on #59644
I probably should clarify and say that autocomplete seems totally broken, not just when manually triggering suggestions

[2018-09-28 19:03] mjbvz commented on #59575
Why should it be 2 in in this case? Isn't `things` the only implementation of the interface?

[2018-09-28 19:07] StephenWeatherford opened #59645 "vscode should indicate when an extension is being activated (view and command palette) - currently it looks like the extension is at fault"
Please see https://github.com/Microsoft/vscode-azurestorage/issues/233. We got a bad marketplace review because they said the expected nodes were not showing up in the view (see https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurestorage&tracking_data=eyJTb3VyY2UiOiJFbWFpbCIsIlR5cGUiOiJOb3RpZmljYXRpb24iLCJTSUQiOiJtcy5HYWxsZXJ5Tm90aWZpY2F0aW9ucy5yZXZpZXctdXBkYXRlZC1zdWJzY3

[2018-09-28 19:14] philraj commented on #59575
Maybe I'm missing something about the meaning of "implementation" being used here, but I don't see the conceptual difference between assigning a literal value to a typed instance property in a constructor vs. assigning a constructor parameter to a typed instance property in a constructor.

[2018-09-28 19:15] roblourens commented on #59458
I'm referring to something else, not context lines. When you have two matches on the same line, the API will send two result objects. For your extension, it might be better if you can get a single result object that indicates the two matches. That's what I mean by one result per line.

Kai had the suggestion of just using exactly ripgrep's format: https://burntsushi.net/stuff/libripgrep/doc/grep_p

[2018-09-28 19:28] FFY00 commented on #56686
@joaomoreno did you have a look at the point presented? I think it would be very beneficial for you too.

[2018-09-28 19:28] roblourens commented on #59606
I can't repro this, can you include a gif?

[2018-09-28 19:36] mxmzb commented on #33752
i could also imagine to have to suggestions always popup on one fixed position (e.g. bottom right corner of the window) as opposed to following the current cursor position in any way.

[2018-09-28 19:36] peat-psuwit opened #59646 "Shift+Tab doesn't work on Xubuntu 18.04 with LANG=th_TH.UTF-8"
Issue Type: <b>Bug</b>

I can't de-indent text using Shift-Tab on Xubuntu 18.04 if my locale is set to `th_TH.UTF-8`. The problem doesn't occur if the locale is `C.UTF-8` and doesn't occur if I'm using GNOME desktop (Ubuntu 18.04) even with `th_TH.UTF-8` locale.

Step to reproduce:
1. From an installation of Xubuntu 18.04, install package `language-pack-th` to generate the locale.
2. Install VS Co

[2018-09-28 19:37] roblourens commented on #52274
Verify:

Screenreader on:
- Clicking or pressing spacebar on the toggle button keeps focus on the toggle button and reads the status in some way

Screenreader off:
- Clicking moves focus to the input button
- Toggling with space does not move focus

[2018-09-28 19:42] roblourens commented on #59518
This isn't provided by vscode out of the box. If you are using a PHP extension, please file an issue on them.

[2018-09-28 19:42] #59518 closed

[2018-09-28 19:46] trevorade commented on #59641
Thanks @mjbvz,

While I've got your ear and you seem good at tracking down duplicate issues... do you have an Issue which tracks supporting MarkDown for documentation from .d.ts files?

Example (see below :
![image](https://user-images.githubusercontent.com/13050011/46230067-a1777680-c324-11e8-96c9-c262d42979f7.png)

For reference, the code I'm playing with at the [Monaco Playground](https://micro

[2018-09-28 19:54] usernamehw opened #59647 "Suggest a link to available formatters in "No document formatter installed" notification"
When trying to format a file with no formatter installed you get a message:
[code]
Can it also have a **link** to available formatters?

Inside vscode:
![screenshot 52](https://user-images.githubusercontent.com/9638156/46230234-a82bdb00-c370-11e8-8a8a-1988a0129e5f.png)

---

Or a link to the marketplace like this: https://marketplace.visualstudio.com/search?term=scss&target=VSCode&category=Formatt

[2018-09-28 20:02] SpectralKH commented on #59606
@roblourens Will do this once I get back to my PC.

When you press cmd/ctrl+f, do you see that the search field doesn't immediately get focused? You should be able to tell by the border around the search field lighting up.

[2018-09-28 20:03] prestonf2003 opened #59648 "Java runtime"
Issue Type: <b>Bug</b>

This program says that java runtime couldn't be located but i know as a fact that it is downloded and installed onto this computer pls get pack to me ASAP

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Ato

[2018-09-28 20:04] alekseyt opened #59649 "Start without debugging switches sidebar to debug"
Issue Type: <b>Bug</b>

1. Ctrl-Shift-P -> Debug: Start without debugging (Ctrl-F5? I don't know if that's default)

Result: sidebar switches to debug mode.

I ended up setting "debug.openDebug" option to "openOnDebugBreak" (whatever really) as a workaround.

Please also reconsider default value for this option. Before it was probably "openOnFirstSessionStart", this was mildly annoying but it was

[2018-09-28 20:19] aslatter opened #59650 "typescript-language-features doesn't seem to work on virtual file system"
- VSCode Version: 1.27.2
- OS Version: Windows 10 Version 1803

Steps to Reproduce:

1. Install the MemFS demo file system provider extension, follow the instructions to set up a MemFS folder
2. Add a new TypeScript file to the MemFS folder, write some example TypeScript code

I expected that auto-complete, signature help, and hover information would be available in the TypeScript file, but it was

[2018-09-28 20:37] zjturner opened #59651 "Recursive expansion of variable substitutions broken"
- VSCode Version: 1.27.2
- OS Version: Ubuntu

Steps to Reproduce:

1. Install CMake Tools Extension
2. Set `${cmake.BuildDirectory}` to the value `/some/path/${buildType}`.  This is intended to have Debug and Release configure to separate build directories.
3. Then, in `launch.json` naturally you want to debug the executable for the appropriate configuration (Debug/Release), so specify the progra

[2018-09-28 20:54] Darthfett opened #59652 "Button in Find/Replace to swap the content of the text boxes"
Suggestion: Add a button in the "Find and Replace" dialog box that swaps the text in the two boxes.

I use VS Code as my general purpose text editor, and I will often do the following operation:

1. Find and replace a separator value with newline
2. Modify the text (adding lines, removing lines, modifying lines with column select)
3. Find and replace newline with a separator value

This is particu

[2018-09-28 20:57] pixieaka opened #59653 "Add Duplicate file beside copy and paste in explorer"
Add Duplicate file beside copy and paste in explorer.

it very simple

filename.html

right click > duplicate > popup with old name "filename.html" and ask to change the new file name from old file name.

[2018-09-28 21:02] graph commented on #59628
after googling this is probably a duplicate of the issue with this comment https://github.com/Microsoft/vscode/issues/28795#issuecomment-391258341 That comment is probably on to something as I couldn't replicate the issue with the steps of OP. But if I use my trackpad then my mouse scroll wheel smooth scrolling is disabled for a little while. The experimental and stable builds on windows behave th

[2018-09-28 21:03] #59648 closed

[2018-09-28 21:08] #53482 closed

[2018-09-28 21:30] trevorade opened #59654 "Mardown in JSDoc from TypeScript .d.ts lib treated as plain text"
- VSCode Version: 1.27.1
- Monaco Version: 0.14.3

Steps to Reproduce:

1.  Register a .d.ts file with `monaco.languages.typescript.FOOscriptDefaults.addExtraLib`
2.  Trigger documentation in autocomplete or hover.  Markdown in JsDocs of the .d.ts file is not rendered:
    ![image](https://user-images.githubusercontent.com/13050011/46234216-d38fd500-c332-11e8-8029-1ecc3409a4a4.png)

The unwanted a

[2018-09-28 21:45] kieferrm commented on #43201
Our FAQ describe our approach to telemetry and explain to users how to manage any kind of access to online services. They also describe the recommendation system. On first use, users are guided to our FAQ through a notification. There is no data that we could delete resulting from this scenario. We only keep the computed associations between remote hashes and extensions.

[2018-09-28 21:45] #43201 closed

[2018-09-28 21:45] mjbvz commented on #59575
It sounds like you are want the reference code lens instead. In `C1` you are just referencing `I`. In `C2`, `I` is both referenced and then implemented with `{ num: 0 }`

[2018-09-28 21:53] alexr00 commented on #59485
On my host, if I just start debugging it runs the javascript file and breaks in at my break point. On the guest, it create a launch.json then a notification and doesn't run. When I try to start debugging again now that I have this launch.json this notification shows:

![image](https://user-images.githubusercontent.com/38270282/46235205-23b86880-c32e-11e8-8ab2-0d1bbaded8bf.png)

There doesn't seem

[2018-09-28 22:23] joaomoreno opened #59655 "Failed to "Save As" file deleted from disk"
1. Disable auto save
2. Open a file in VS Code
3. Externally delete the file from disk
4. `File > Save As`, keep the same file name

The file isn't saved to disk. There's no error indication.

[2018-09-28 22:27] andreixk opened #59656 "Code Helper high CPU usage on Mac"
Issue Type: <b>Performance Issue</b>

After a few hours the VS Code module (Code Helper) started using over 100% CPU. The problem persists even after exiting VS Code.
The issue posted by another user is closed for some reason, but the problem has not been addressed in any way.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64

[2018-09-28 22:34] mjbvz commented on #59654
This issue was moved to Microsoft/monaco-editor#1079

[2018-09-28 22:34] #59654 closed

[2018-09-28 22:36] mjbvz commented on #59644
To help investigate, can you please try collecting the TS Server log:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a folder with a `tsserver.log` file in it

Look through that log file for errors or stack traces. If you can share the log, I can also take a look to see

[2018-09-28 22:42] mjbvz commented on #59609
This issue was moved to Microsoft/TypeScript#27442

[2018-09-28 22:42] #59609 closed

[2018-09-28 22:44] sbatten commented on #52578
Agree with @chrmarti 's observation. While something is now read, I think the bug itself should be re-opened and fixed later.

[2018-09-28 23:00] lucafaggianelli commented on #45295
Any update on this bug?

[2018-09-28 23:05] alexr00 commented on #59538
It looks like there's still something wrong with links in hover text. I clicked on the same link in `showErrorMessage` and nothing appeared to happen. In the console there is an error:

    ** ERR [UriError]: Scheme is missing: {scheme: "", authority: "", path: "", query: "", fragment: "window.showInformationMessage"}: Error: [UriError]: Scheme is missing: {scheme: "", authority: "", path: "", que

[2018-09-28 23:32] ttroutindy commented on #59622
Closing issue, found the problem was that the User Settings was being overwritten by the workspace settings. The Auto Save for the workspace was set to afterDelay which then was using the After Save Delay field.

[2018-09-28 23:32] #59622 closed

[2018-09-28 23:37] cnshenj opened #59657 "Can't select folded area using margin and mouse"
Issue Type: <b>Bug</b>
1. Fold an area (e.g. a block in JSON) to a line
2. Click the margin of the folded line
3. Try to drag the mouse to select the whole folded area

Expected:
Can select (only) the whole folded area

Actual:
It's either the first line of folded area, or the whole folded area **and** next line.

Other editors do not have this problem, but the solutions are different:
- Visual St

[2018-09-28 23:43] paulyoung commented on #58051
Could this be re-opened? I think it's at least a documentation issue since it's not mentioned in https://github.com/Microsoft/monaco-editor/blob/master/CONTRIBUTING.md#shipping-a-new-monaco-editor-npm-module

[2018-09-28 23:46] alexr00 commented on #56136
@isidorn For verification: Is there a good way to force the state that causes this to happen so I can make sure it doesn't happen?

[2018-09-28 23:47] ahmad2smile opened #59658 "Sort Lines fo object keys"
Issue Type: <b>Bug</b>

Sorting of object keys where keys could have objects or arrays as values in JavaScript result in irrespective sorting of lines rather than have their key value preserved.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Inte

[2018-09-28 23:50] paulyoung commented on #58051
I also had to change `shakeLevel`.

[2018-09-29 01:16] dangerdespain commented on #55128
I'll add my two cents to say that this is a pain in my butt as well.

[2018-09-29 01:40] GuardianXX opened #59659 "Vulnerabilidad en node.dll detectada por Kaspersky internet security 2019"
Issue Type: <b>Bug</b>

Durante el análisis de programas vulnerables del antivirus, este me indicó que el archivo node.dll es una versión vulnerable a ataques de denegación de servicio

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A1

[2018-09-29 02:42] bearoutthere commented on #59610
It's a Nativescript core / Typescript app.  What other info do you need?

[2018-09-29 02:43] Tommy-White commented on #59590
In a nutshell, I want to switch to edit mode when I double-click on the breadcrumbs so that I can copy or modify it(use to jump to other files).

[2018-09-29 03:12] AllenConway commented on #8641
As other's have mentioned (at least on Windows), I can go into my mouse's software configuration (in my case Logitech's SetPoint Settings software), and assign a keystroke assignment to the buttons. In my case I reassigned the back button to '**Alt+Left**' for VS Code. The cool thing is that now navigates backward in code location as I desired, yet also still retains native functionality around th

[2018-09-29 03:35] Banonevar commented on #28432
Same windows 10

[2018-09-29 03:37] chj6 commented on #59521
Thanks for reply!

The character in the github will analysis below code：
<span class="cm-invalidchar" title="\u8" aria-label="\u8" cm-text="�">•</span>
[git history record](https://github.com/chj6/learn/blob/15b8a70cf985fd75dbe8193a7699e060962d5383/js/%08video-safari-record.md)

Encoding：UTF8

[2018-09-29 03:40] BruceGujinhe commented on #59615
Does vscode make index for each projects? phpstorm makes it, so to show the code hint is very quickly.

[2018-09-29 03:49] cheioKID commented on #59514
Yes, but not break exactly, Finder is serving fine, just the desktop becomes white. The white  can not be fix even restart Finder.

[2018-09-29 04:29] BruceGujinhe opened #59660 "code hint too slowly; I uninstall all the plugins, the problem is still over there."
code hint too slowly #59615

[2018-09-29 04:42] nitish24p commented on #21686
Yes i did that back then and it worked

[2018-09-29 04:51] roblourens commented on #59606
It seems to be focused immediately for me. I assume when you say "extension page" you mean the page that's opened when you click an extension in the extension viewlet.

[2018-09-29 05:00] endingly opened #59661 "some problems about UI"
Issue Type: <b>Bug</b>

I want the toolbar to be consistent with the theme elements.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4200H CPU @ 2.80GHz (4 x 2794)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: di

[2018-09-29 05:37] losthua commented on #59424
Thanks，removed C:\Users\XX\AppData\Roaming\Code\Backup file,The normal.

[2018-09-29 05:40] arshadkazmi42 commented on #59567
I would like to take this up. This is going to be my first contribution. Is it still available? Also can someone guide me where can I start to work on this

[2018-09-29 05:44] arshadkazmi42 commented on #24462
I would like to work on this. Can someone guide me where to start for this issue?

[2018-09-29 06:01] attilaferencz opened #59662 "File Pane content broken"
- VSCode Version: 1.26, 1.27, 1.28.insider
- OS Version: Windows 10

Steps to Reproduce:

1. Open VSCode
2. View any (larger?) file in File View Pane
3. Split File View Pane into 2 Groups.
4. Split File View Pane into 3 Groups
5. Widen whole VSCode window over three monitors (total width 5760 pixels)
6. Modify Group widths by dragging left/right the group separators.

Bug:  content of some of the

[2018-09-29 06:30] beastdestroyer opened #59663 "Icons should have a hover state and a clicked/checked state"
Issue Type: UI
No relevant found

In VSCode, different icons have different states applied to them. For example, the gear in the activity bar has a hover state, whereas icons in the top right such as split view have a clicked state. Others such asin the Find sidebar have a blue border to denote toggle, but not a real hover state.

In my opinion, all icons in VSCode should have a hover state and/or

[2018-09-29 06:31] TuxVinyards commented on #45177
@bpasero I have to wonder if the bar isn't being set a bit high.  There's an under-diiscussion label for bugs. Maybe the same is required for feature request.

@others since contributing to this thread have wondered at times if it is actually desirable:

1. I have started using symlinks as a work around,  storing the files in the main folder and placing external links to these where needed.

2. Ot

[2018-09-29 06:32] beastdestroyer commented on #58739
It does happen but it is mainly fixed
Using a screen of 1360 x 768,opening the sidebars to about the letter 'a' under Terminal, then opening Devtools and resizing still makes it clip however the actual screen estate for the Settings GUI is very thin and I doubt anyone is using VSCode with the editor width of a mobile screen.

[2018-09-29 06:41] beastdestroyer opened #59664 "Animated Sidebars"
Continuation of #56021 to meet guidelines for feature-requests

The sidebars in VSCode could have an animation such that they slide in when they are toggled. If this is considered, I would suggest an ease-out animation for a good UX. For a detailed process:

1. Click on, let's say File Explorer
2. Assuming it isn't active, it would slide out to the right
3. This would size it to whatever the user

[2018-09-29 06:49] theSdev commented on #20652
Is dropping +1s useful? If so here's mine: +1!

[2018-09-29 06:58] beastdestroyer opened #59665 "Animated Dropdown Menus"
Continuation of #56021 to meet guidelines for feature-requests.

In light of new custom controls, I feel that the small fades dropdowns have could have some additions. To detail them individually :

1. Sub Dropdowns
  - Sub dropdowns (ones indicated with an arrow), when hovered on, could have the menu shoot out from the side and exalnd down to full height, where the items would then fade in. This

[2018-09-29 07:02] beastdestroyer opened #59666 "Animated Editor Switching"
Continuation of #56021 but to meet guidelines for feature-requests.

This would be a replica of how the Microsoft Office ribbon and how it transitions the content within it.

Let's say you click on a tab to the right of the active editor, all things in the current editof (gutter, decorations, code etc.) would slide to the left and fade out. Then the new editor from the right would slide in from th

[2018-09-29 07:05] moroal commented on #7686
ok , thank you!

[2018-09-29 07:08] #50417 closed

[2018-09-29 07:08] #59122 closed

[2018-09-29 07:08] #58917 closed

[2018-09-29 08:13] sinesc commented on #33752
Doesn't have to be too complicated: Top right editor corner if that's where the cursor is not, otherwise bottom right corner.
Should apply to everything that opens in the editor and hides content below.
Options for both the default position and the fallback position would be a nice bonus.

[2018-09-29 08:32] DeepakTivari opened #59667 "YAML syntax highlighting has issues wrong when using block literals in markdown front matter"
- VSCode Version: Version: 1.27.1
- OS Version: Ubuntu 16.04.5 LTS

Steps to Reproduce:

1.  Create a file ABC.md
2. paste the below YAML front matter

[code]
Syntax highlighting is messed up after the block literal.

![screenshot from 2018-09-28 23-50-42](https://user-images.githubusercontent.com/8651699/46243289-305bc000-c405-11e8-81d5-df566eb95ffc.png)

Does this issue occur when all extensions

[2018-09-29 08:37] wdscxsj opened #59668 "Consecutive backslashes fail to work in snippets"
- VSCode Version: 1.27.2
- OS Version: Windows 10

Steps to Reproduce:

Say we want to add a linebreak between "hello world" in a LaTeX or any other snippet:

[code]

Expected:

[code]

Got:

[code]

The expected result is achieved with 2 extra backslashes:

[code]

Does this issue occur when all extensions are disabled?: Yes

[2018-09-29 09:24] 307914070 opened #59669 "open two same file"
1、in one folder  I hava a javascript file, name is "WikiAPI.ts"
2、when I open it, and edit it,
3、when syntax error, I open error list and click it.
4、can open two file， one is "WikiAPI.ts"  another is "WikiApi.ts"

[2018-09-29 09:45] usernamehw opened #59670 "Can't stage empty removed last line"
Issue Type: <b>Bug</b>

1. Remove an empty line from the end of the document
1. Select all text <kbd>Ctrl</kbd>+<kbd>A</kbd>
1. `Git: Stage Selected Ranges`
1. The change is not staged

If you remove a text before that last line and try - it will stage everything but the last line.

VS Code version: Code - Insiders 1.28.0-insider (caaa5369cb4d22b7481e6ff97252cf92937709eb, 2018-09-28T05:18:20.266Z)

[2018-09-29 09:49] Neurrone commented on #28316
@bpasero still happens for me :(. I can reproduce very easily.

[2018-09-29 09:52] tyrylu commented on #28316
Same there, Win 10 64-bit, latest NVDA. The steps are maybe strange, but work and are as follows:
1. Open vs code
2. Open current firefox
3. Return to vs code, focus is lost
No idea what firefox (or all the mozilla apps) have to do with this and they're not alone in the camp of troublemakers, but they're the ones i identified with certainty.

[2018-09-29 10:32] brandonkal opened #59671 "View logs when fatal execution errors occurred"
## When an extension fails, only a generic notification is show. Here is an example:

**"PHPCBF: A Fatal execution error occurred."**
source: phpcbf (Extension)

The only option I have is to close or click the gear icon and then got to manage the extension. **It would really be helpful if the notification directed me to the logs**, as that error doesn't really do much to explain the problem.

I am

[2018-09-29 11:01] jyavenard commented on #59560
yes, the issue doesn't reproduce with this exploration version

[2018-09-29 11:41] usernamehw opened #59672 "Add an icon to status bar if something is running in terminal"
Is it possible to put an icon somewhere that indicates if there is an active terminal session?

Already set `"terminal.integrated.confirmOnExit": true`. Still want icon.

[2018-09-29 11:47] DarwinJS opened #59673 "1.27 installer moved code.exe from bin, but path stayed the same"
- VSCode Version: 1.27
- OS Version: Windows 10

Steps to Reproduce:

1. Install legacy VS Code which puts "c:\program files\microsoft vs code\bin" on the path
2. Update with installer for 1.27
3. Using "code" at the command line no longer works because path is not to remove "c:\program files\microsoft vs code\bin" and add an appropriate path.  (the \bin subfolder no longer exists)

I find "code.e

[2018-09-29 12:37] kobalicek commented on #45492
Affected as well, but this happened after updating nvidia driver (Linux). Not sure what is the problem, but it means that VSCode is unusable to me. I tried `--disable-gpu` parameter, but with no luck.

[2018-09-29 12:41] GaramNick opened #59674 "Django: Debugging fails to run"
- VSCode Version: 1.27.2
- OS Version: Ubuntu 16.04.5

Steps to Reproduce:

1. Add Django configuration to launch.json
`{
            "name": "Django",
            "type": "python",
            "request": "launch",
            "program": "${workspaceFolder}/manage.py",
            "args": [
                "runserver",
                "--noreload",
                "--nothreading"
            ],

[2018-09-29 15:43] roblourens commented on #59610
Can you share your launch config?

[2018-09-29 16:08] brndd opened #59676 "Powerline problems in integrated terminal on Fedora 28"
![screenshot_20180929_190252](https://user-images.githubusercontent.com/5822375/46247929-1e851780-c41b-11e8-93ee-b1ab49a4969f.png)

The integrated terminal fails to display Powerline characters when they are installed through the Fedora package `powerline-fonts`. This package should enable Powerline support for many fonts without having to use patched fonts. It works with the fonts Liberation Mono

[2018-09-29 16:42] rivy commented on #57162
Additionally, is there any reason that "always" isn't an option here, or, at least, a default fallback for languages that which aren't defining or supporting it? It's quite jarring to lose bracket/quote surround when moving from one file to another.

[2018-09-29 16:52] bearoutthere commented on #59610
[code]

[2018-09-29 17:52] mikelothar commented on #39048
@joaomoreno Thanks. :)

[2018-09-29 18:09] camlorn commented on #28316
I can duplicate this issue sporadically on my machine.  Maybe 1 in 20 or less.  I also use desktop Skype (also Electron), and haven't seen it there, but I don't use Skype heavily enough to guarantee that it's not triggering because all I use it for is phone calls.  That said, I do use the desktop Slack app (Chromium, not Electron) on a daily basis for at least the last 4 months and haven't seen so

[2018-09-29 19:03] paule96 commented on #59257
I have the same Issue. In some files I can fold in another not.

I can solve this to save all files as "LF" and not as "CRLF". This worked for me. Maybe this help you too :)

[2018-09-29 19:34] mjbvz commented on #59669
Duplicate of #51184. The editor can get into this bad state on case-insensitive file systems

[2018-09-29 19:34] #59669 closed

[2018-09-29 19:35] mjbvz commented on #59656
Please follow [these instructions](https://github.com/Microsoft/vscode/wiki/Performance-Issues) to collect performance information. Share the output of `code --status`

[2018-09-29 19:36] usernamehw opened #59678 "[scss] No autocomplete for built-in functions inside maps"
Issue Type: <b>Bug</b>

[code]
There is no autocomplete for `transparentize` and some other functions (`mix`, `lighten`, `darken`, `red`, `rgb`, `saturate` ...)  inside the map definition.

---
VS Code version: Code - Insiders 1.28.0-insider (caaa5369cb4d22b7481e6ff97252cf92937709eb, 2018-09-28T05:18:20.266Z)
OS version: Windows_NT x64 10.0.17134

[2018-09-29 20:01] jackwootton opened #59679 "Unable to watch for file changes in this large workspace - not a large workspace."
- VSCode Version: 1.27.2
- OS Version: Ubuntu 18.04 bionic (x86-64)

Steps to Reproduce:

0. Create a basic web project with a `node_modules` directory which exceeds the limit of file watchers:
1. Recursively count the number of files in the entire project directory using `find . -type f | wc -l`
2. My project has `44452` files (including directories).
3. Check current limit of file watchers using

[2018-09-29 20:19] garyking opened #59680 "Untitled files sometimes remain open in the background"
- VSCode Version: Version 1.27.2 (1.27.2)
- OS Version: macOS 10.13.6 (17G65)

Steps to Reproduce:

1. Open a new untitled tab.
2. Type something in it.
3. Close it, and it will tell you there are still unsaved changes. Choose `Don't save`.
4. Sometimes, the `1` badge will still appear on the `Explorer` icon, indicating that the unsaved document is still open in the background.

This occurs to me

[2018-09-29 20:59] maryam-a opened #59681 "Icon for R files overlap filenames in explorer and tab labels"
- VSCode Version: 1.27.2
- OS Version: Microsoft Windows 10.0.17134

Steps to Reproduce:

1. Open a .R file or a directory containing at least one .R files in VS Code
2. Look at the filename in the explorer and tab label

Does this issue occur when all extensions are disabled?: Yes

[2018-09-29 22:15] davinaizer commented on #33110
👍

[2018-09-29 22:17] devuxer commented on #43819
This one has bitten me several times. I think I've deleted something and it keeps coming back...because there's no error! Hoping this will be fixed. soon.

[2018-09-29 22:41] zjturner commented on #5402
You can get box-select with Ctrl+Shift -> Drag.  But what I can't figure out is how to get box-paste.  It inserts new lines at the point of paste instead of pasting over existing lines.  Does anyone know if this is possible?

[2018-09-29 22:56] Samrux commented on #5402
It is not possible, because VS Code still ignores the integrity of an essential feature such as column selection.

[2018-09-29 23:02] corbob commented on #59572
FWIW: The isWrapped started appearing for me on insiders around September 19th. It may have been occurring sooner, but that's when I launched the vscode-powershell extension to test my PRs.

I've done a test with vscode-terraform which I have on my computer, and it comes up with the specified task cannot be tracked message, but doesn't seem to do the isWrapped thing.

The isWrapped thing is happen

[2018-09-29 23:26] lssbq opened #59682 "Contents of the window rendered within the editor"
Issue Type: <b>Bug</b>

screen shot
![image](https://user-images.githubusercontent.com/17997151/46251306-18765180-c482-11e8-83d4-ea393c30a4b7.png)

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz (8

[2018-09-29 23:29] lssbq commented on #59682
If I put the cursor at then end of the file, this image will flashing with the cursor.
It is randomly appearing.

[2018-09-29 23:53] rjmholt commented on #59572
Perhaps it's our bug on that one then. I'll take a look on Monday

[2018-09-30 00:45] shangxinbo opened #59683 "install plugins error always"
Issue Type: <b>Bug</b>

install plugins error always

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz (4 x 2400)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<

[2018-09-30 00:57] rcdailey commented on #5402
#MeToo

[2018-09-30 00:58] akaroml opened #59684 "Extension Pack tab missing for Java Extension Pack"
Java Extension Pack was updated to use the new "extensionPack" entry in package.json. However, the Extension Pack tab is missing in VS Code:
<img width="796" alt="screen shot 2018-09-30 at 8 54 50 am" src="https://user-images.githubusercontent.com/16755094/46251744-90e30f80-c48e-11e8-8ef2-d6d04af4dd30.png">
Instead, we see "Contributions" and "Changelog"

But for other extension packs, VS Code wor

[2018-09-30 00:59] corbob commented on #59572
I took a look at the codebase, and can't find isWrapped anywhere in either vscode-powershell or PSES. I'm wondering if it's both a vscode and a vscode-powershell thing since it doesn't occur in vscode 1.27.2...

[2018-09-30 01:13] kobalicek commented on #45492
I was only lucky with `--disable-gpu --force-cpu-draw` arguments. It seems that `--disable-gpu` is not enough. This is definitely Blink or SKIA issue, VSCode is just a victim in this case :)

[2018-09-30 01:14] sozercan commented on #59421
Set `defaults write com.microsoft.VSCode NSRequiresAquaSystemAppearance 0` and use native tabs to get dark mode menus and titlebar.

<img width="1067" alt="image" src="https://user-images.githubusercontent.com/852750/46251831-453f5000-c413-11e8-822e-db83ac11102e.png">

[2018-09-30 01:32] chhh commented on #52364
I'm looking for the same functionality. Considering this color picker is already there...

[2018-09-30 02:35] apollomatheus opened #59685 "Ubuntu Bash, file not found"
Issue Type: <b>Bug</b>

All files created directly through VSC is not saved in ubuntu folder, so you need to restart the terminal.
I think the solution would be to create a pipe connection between ubuntu bash and VSC, so every new file is registered by linux system.

VS Code version: Code 1.25.0 (0f080e5267e829de46638128001aeb7ca2d6d50e, 2018-07-05T13:11:58.697Z)
OS version: Windows_NT x64 10.0.17

[2018-09-30 03:08] sevenryze commented on #50685
I suggest one more request, that for quick refactoring and consistency, we could use a flag like - nameStrategy: [common name strategy] - to quick move function to a new file.

Also, i think for now, the new files are always located in the current folder aside as original file, could we set a different file path when using the filename open box?

[2018-09-30 03:27] agurodriguez commented on #50128
I still have no idea why this is happening but this is what I got so far:

Target of the `mousedown` event in the **expected behavior** scenario:

Target of the `mousedown` event in the **unexpected behavior** scenario:

[2018-09-30 04:06] michaellee8 commented on #50795
Any update on this one? It will be wonderful if i may finally develop linux c programs with windows.

[2018-09-30 05:33] jiang-xiche opened #59686 "prettier-code formatter not work"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2018-09-30 05:34] jiang-xiche commented on #59686
Run normally in version 1.23.

In today's version, you cannot format code for Vue files normally.

[2018-09-30 05:35] jiang-xiche commented on #59686
![image](https://user-images.githubusercontent.com/26916168/46253733-a6b7fb00-c4b5-11e8-9c11-b705d129abed.png)
as u see it do not work

[2018-09-30 05:40] jiang-xiche commented on #59686
![image](https://user-images.githubusercontent.com/26916168/46253766-6dcc5600-c4b6-11e8-9d13-fb8a23287125.png)

[2018-09-30 06:10] ChenghaoZHU opened #59687 "Python intellisense got blocked sometimes"
Vs Code version: 1.27.2
OS: windows 10
Python: 2.7.15
![image](https://user-images.githubusercontent.com/15712697/46253976-8e96aa80-c4ba-11e8-8fc0-d7bce4855e2a.png)

The process is too slow.

[2018-09-30 07:12] Kerminate opened #59688 "Fonts are not equal in width on macOS Mojave"
I have updated to macOS 10.14 (Mojave) and I have noticed that fonts are not equal in width on VSC. The font I am using is Menlo.
![image](https://user-images.githubusercontent.com/26789139/46254508-28faec00-c4c3-11e8-84b6-e2885b36c769.png)

[2018-09-30 08:31] vrokolos opened #59689 "Make workbench.action.debug.start accept a parameter for which launch entry to start"
Currently it only starts the selected entry. I wish to start another one. I can't find a way to do that. Is there?

[2018-09-30 08:45] hooper-hc opened #59690 "Suppressing "The import path cannot end with a '.ts' extension" error?"
when i use

`import { PI } from './module.1.ts'`

import an  module .

vscode linter notice  me an error

'The import path cannot end with a ".ts" extension. Consider changing to import “./module.1”。'

hao can i hidden the notice ?

[2018-09-30 08:46] boringwong opened #59691 "New windows do not respect `recentlyUsedByPrefix`"
- VSCode Version: 1.27.2
- OS Version: macOS 10.14

Steps to Reproduce:

1. Type `if` in a `.js` file
2. Select the second suggestion (`if` statement)
3. Type `if` again in another place, see the second suggestion is selected automatically
4. Open a new window (<kbd>⌘</kbd> <kbd>Shift</kbd> <kbd>N</kbd>)
5. Do step 1, the selected suggestion is the first one

Does this issue occur when all extensi

[2018-09-30 09:04] tiwarinitin94 opened #59692 "Multiple Language"
Issue Type: <b>Bug</b>

when I am editing a .php page its only giving me hints related with php language, I should be able to select multiple language functions, For example I have a php page that contains HTML and JS as well. So I want to get hints with each language, aur auto complete things.

I have uploaded an image its the right corner of the software where we select the file type that we are

[2018-09-30 09:04] bearoutthere commented on #59610
I've reinstalled everything again.  Reran nativescript-dev-webpack update scripts that generated new webpack config file.  I also tried without the --bundle option.  The same result.  Unable to open ts_helpers.js.    If i ignore the error and continue it works sometimes but sometimes debugger crashes.
I can be on skype if you'd like a more real time feedback.

[2018-09-30 09:06] tiwarinitin94 commented on #59692
No its not a similar extension, my code doesn't has that problem

[2018-09-30 09:13] #53325 closed

[2018-09-30 09:27] markovicdenis commented on #59421
Perfect! Just a note if you are using VSC Insiders

`defaults write com.microsoft.VSCodeInsiders NSRequiresAquaSystemAppearance 0`

[2018-09-30 09:55] msvaillant commented on #50795
Now it seems clear that more and more people would come and ask for a way to work wsl + vscode, because this toolchain has immersive perspectives for all windows developers. Even to stop duplicating wsl and windows installs and developers stop making wsl support for each vscode extension.

So it would be nice to hear some feedback and roadmap on implementation of "Global wsl support" and for devel

[2018-09-30 10:15] FernandoMiguel commented on #59318
FYI, fixed on macos 10.14.1 beta

[2018-09-30 11:08] vicary opened #59693 "Git: Support fetch prune"
Issue Type: <b>Feature Request</b>

Currently if a remote branch is deleted by others, the only way to have Code know about it is to manually run `git fetch -p` in the terminal and then the `Git: Fetch` command in Code.

We should at least have an option, if not default, to add `-p` on `Git: Fetch` or `Git: Sync`.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T

[2018-09-30 11:31] usernamehw commented on #43231
@joaomoreno, not sure I understand... Is it possible to put decorators from the extension to the existing git viewlet?

[2018-09-30 11:45] bearoutthere commented on #59610
The debugger crash is reproduceable.  It happens on any file change after the initial debugger launch and is caused by topmost().currentEntry being null when trying to navigate to a page.

[2018-09-30 11:47] bearoutthere commented on #59610
Perhaps its a problem with the nativescript plugin with VSC.  I'll try posting there as well.

[2018-09-30 12:00] chrmarti commented on #57999
@ramya-rao-a Did you enable Screen Reader mode when testing? This needs some special handling (not focusing the first item) to work.

[2018-09-30 13:13] wraith13 commented on #16261
This is still happening. ( vscode 1.27.2, macOS Mojave 10.14 ( Darwin 18.0.0 )  )

( I know it is macOS's fault. This is just a report. )

[2018-09-30 15:08] BruceGujinhe commented on #59660
There lots of composer packages in zhe vendor folder of my project, the files maybe more than ten thousand files.
there are just 5 plugins now, such as
- php debug 1.12.6
- php intellissense 2.3.5
- Chinese (Simplified) Language Pack 1.27.2
- vetur 0.12.7
- vim 0.16.5

[2018-09-30 15:51] usernamehw commented on #59692
Duplicate of #1751 ?

[2018-09-30 16:36] FalseProtagonist commented on #56112
I am trying to migrate from emacs and this is the second thing I tried to work out how to do.

How does vscode "think" about windows/frames/buffers? Is there a deep distinction with editors vs panels? Are windows/frames/buffers exposed such that I could write an extension to implement this?

[2018-09-30 16:39] Tyriar commented on #50128
PR out upstream which should fix this: https://github.com/xtermjs/xterm.js/pull/1716

[2018-09-30 16:40] Tyriar commented on #59685
Can you elaborate a little more on the problem? Some repro steps would be great.

[2018-09-30 16:42] Tyriar commented on #56112
@FalseProtagonist currently editors and panels and viewlets are all very different things, you wouldn't be able to write an extension to do this.

[2018-09-30 16:43] Tyriar commented on #59682
Do you mean that the foreground window appears and flashes with the cursor? But it doesn't actually exist?

[2018-09-30 16:44] pgolebiowski commented on #32257
In order to have transparency enabled, I guess we need to have this merged: https://github.com/Microsoft/vscode/pull/52707

@sylveon @duttaditya18 @bpasero @sbatten

The PR has been partially approved and been open for over 3 months. Could we please merge it?

[2018-09-30 16:45] Tyriar commented on #59676
Did you set the font in vscode? See https://github.com/Microsoft/vscode/issues/7116

[2018-09-30 16:46] Tyriar commented on #59672
Making a note in https://github.com/Microsoft/vscode/issues/23808

[2018-09-30 16:46] #59672 closed

[2018-09-30 16:46] Tyriar commented on #23808
We may want to add a "running" icon as part of capturing this state? https://github.com/Microsoft/vscode/issues/59672

[2018-09-30 16:48] Tyriar commented on #59661
Can you point out the problem with a screeshot?

[2018-09-30 16:49] Tyriar commented on #59514
FYI @bpasero, looks like maybe a macOS bug? Not sure this is actionable on our end.

[2018-09-30 16:54] #59628 closed

[2018-09-30 17:09] beastdestroyer opened #59695 "Code Folding Toggles should be smaller"
Issue Type: Bug/UI

- VSCode Version: 1.28.0-insiders
- OS Version: Windows 10 1803 17134.320

Steps to Reproduce:

1. Hover to gutter
2. See code folding toggles, too large

I like that the code-folding buttons are now larger and more clickable, as the previous ones were too small. However they are now abnormally large. They are larger than the line numbers and get cut off by gutter decorations.

[2018-09-30 17:25] TimothyDJewell opened #59697 "Unable to build setup exes due to missing ESRPClient (Missing dependency for build/win32)"
I'm attempting to build a system setup exe for easy deployment of the raw version of the repository.  It looks like the issue is that build/win32 has dependencies on build/tfs/win32, specifically when it comes to loading ESRPClient.  I've tried running NuGet restore on the package defined at [build/tfs/win32/ESRPClient](https://github.com/Microsoft/vscode/tree/1.27.2/build/tfs/win32/ESRPClient), b

[2018-09-30 17:31] sylveon commented on #32257
Meh, it's not approved by any MS employee, just some random person. The ball is on MS's side now, they need to get somebody reviewing it. I'd be glad to make any change requested.

[2018-09-30 17:47] pgolebiowski commented on #32257
Thank you for your answer and contribution, @sylveon.

In that case, friendly ping to the top 10 contributors to vscode who seem to be employed at Microsoft (based on the GitHub profiles):

@bpasero
@joaomoreno
@jrieken
@alexandrudima
@sandy081
@Tyriar
@roblourens
@ramya-rao-a
@dbaeumer
@weinand

[2018-09-30 17:55] shepelevstas opened #59698 "word wrap in *.vue's <style> long rule"
Issue Type: <b>Bug</b>

Word wrap work great and horizontal scrollbar never apears. One exception: a long line in a css rule inside <style> tag in .vue file. Horizontal scrollbar apears and takes about 95%. Words are wrapped but wrapping width is wider than the editor width.

Don't know if it matters: UI in my windows 8.1 is scaled 150%.

In .vue file in <style> section I have a rule:
[code]
and h

[2018-09-30 18:10] humblecoder opened #59699 "Keyboard shortcut to navigate and close "global search""
I use "global search" reasonably often.  However, once I've used it, I need easy access to the results, and an easy way to get rid of the pane.  As an example, in Atom.io, the problem is solved by opening the global search in its own tab, thereby treating it like any other "citizen"; after which a quick `CMD + W` closes it.  Also, the results are easily navigable with the keyboard in said tab.  Si

[2018-09-30 18:47] zac-garby commented on #59688
Looks like ligatures are messing up "fi" combinations. See if you can disable ligatures in settings.

[2018-09-30 18:48] brwa-ata opened #59700 "Crash"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

While I'm using vscode for a while the autocomplete is note working and packaes that I installed become slower please fix it

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

[2018-09-30 18:56] apollomatheus commented on #59685
Usually I open all my workspaces in WSL root folder.
In this case, the steps would be:

1) Open any folder inside roots ( Using **VSC** )
2) Create a file in the **VSC panel**, inside the folder.
3) Now in the **Bash terminal**, you won't be able to find the file, until you reopen the terminal.

I always need to restart the terminal before run 'make' or any other task.

[2018-09-30 19:18] WardenGnaw opened #59701 "Context menu items and its translation"
From https://github.com/Microsoft/vscode-cpptools/issues/2580 by @oktonion

-------------------------------------------------

- Extension Name: cpptools
- Extension Version: 0.19.0
- OS Version: Windows 10
- VSCode version: 1.27.2

I have not found where to contribute translations for this extension, but from the very beginning cpptools had the strings in context menu that are not translated in R

[2018-09-30 19:34] MarianoWalter commented on #59681
Same problem with Select Language Mode:

![image](https://user-images.githubusercontent.com/16270536/46261736-3e294800-c4ce-11e8-88a8-a1d67ec29c2e.png)

[2018-09-30 19:47] matjazmav commented on #59176
After restarting, terminal opened at folder location. I couldn't repeat it.

[2018-09-30 20:03] fittyCent opened #59702 "Go to definition stuck and taking up processor resource"
Issue Type: <b>Bug</b>

Right click and select "Go to Definition". Sometimes VSCode gets stuck looking for the definition and doesn't find it somehow but it keeps trying, taking up a significant amount of processing resource. Laptop's fan starts going crazy, and there's no way to stop it unless I close vscode and reopen.

Metadata:
macOS mojave (was happening high sierra too)
javascript
react.

VS

[2018-09-30 20:27] BenHayat opened #59703 "Please give us Toolbar with icons"
In VS Code's header, under the Menu line, could you please another toolbar of Icons for the most used functions, like Save File, Open File, and etc. Like Visual Studio. We need to be able to configure it ourselves to add/delete items.

[2018-09-30 20:28] roblourens commented on #59699
cmd+shift+f?

cmd+b?

It's not clear what new feature you're asking for, can you be more specfic?

[2018-09-30 20:37] humblecoder commented on #59699
@roblourens `cmd + b` only toggles the left pane.  I have `Search` set up to open on the right side because I use the left side 100% of the time for the file tree view.  Also, I'm not interested in toggling it, but in actually closing it.  I realize that if it's a pane that's simply semantics, but I want it to go away no matter the positioning.  Again, I'm not sure if it's feasible, but it seems l

[2018-09-30 20:39] roblourens commented on #59610
Yeah it looks like you are debugging with the nativescript extension, please file an issue on their repo

[2018-09-30 20:39] #59610 closed

[2018-09-30 20:41] roblourens commented on #59699
Sounds like you have search in the panel, cmd+j will toggle that.

There is a feature request for search in a tab: https://github.com/Microsoft/vscode/issues/23931

[2018-09-30 20:49] juliuswz commented on #59350
I can confirm the same behavior running XFCE on Arch Linux.
I think the issue is with `gvfs-trash` since it has been deprecated. Since `1.37.2`, gvfs completely removes support for `gvfs-trash`.
The `gio trash` is used now.
Maybe a [Electron](https://github.com/electron/electron/pull/9518) issue?

[2018-09-30 20:56] humblecoder commented on #59699
@roblourens `cmd + j` did it!  I'll follow the "search" thread.  Thanks.

[2018-09-30 20:56] #59699 closed

[2018-09-30 21:04] usernamehw commented on #59703
Duplicate of #41309

[2018-09-30 21:11] fourpastmidnight commented on #47841
I had a bit of an epiphany on Friday. I had installed the Vivaldi browser on both my work and home computers. By default, the Vivaldi browser also gets installed into the `%userprofile%\AppData\Local` folder. On my work PC, I have no problems updating the browser. But on my home PC, the updates _always_ fail due to&mdash;can you guess?&mdash;locked files! Locked by the SYSTEM process. The same exa

[2018-09-30 21:16] BenHayat commented on #41309
In VS Code's header, under the Menu line, could you please another toolbar of Icons for the most used functions, like Save File, Open File, and etc. Like Visual Studio. We need to be able to configure it ourselves to add/delete items.

[2018-09-30 21:16] #59703 closed

[2018-09-30 21:42] BenHayat commented on #41309
I'm not going to wait forever from MSFT to add this (if ever). Buying jetbrain's WebStorm.

[2018-09-30 22:33] ericasamoah opened #59705 "Having Offline Issues"

[2018-09-30 22:35] ericasamoah commented on #59705
nope!

[2018-09-30 22:45] safield opened #59706 "settings.json should open in plain editor like keybindings.json"
When I open the default keybindings editor UI, it gives me an option to open keybindings.json file.

When I proceed to open keybindings.json file, it will open it in a normal editor view. This contains all the functionality of a normal editor window.

Conversely, opening settings.json does not match this. In my opinion, it should.

When I open the default settings editor view, it allows me to open

[2018-09-30 22:58] safield opened #59707 "Settings.json search box fails to match lines starting with "// - ""
Version: 1.28.0-insider
OS: Linux Mint 19 (Cinnamon 3.8.8).

-Open the default settings editor UI.
-hit the "..." under the search box hit select "Open settings.json"
-search for a string in any line that begins with "//  - "

The search will fail to match.

[2018-09-30 23:59] aaroncraig10e opened #59708 "Problem pane reports and persists errors in plugin info page"
Issue Type: <b>Bug</b>

I'm on VSCode Insiders.

Navigate to Plugins > Codestream

In the problems pane, I see an error reported (for the `cSpell Checker` plugin) for `webview.html` inside the codestream plugin package.

Should the problem pane even be sending plugin files for code checks?
When I navigate away from the plugin page back to my code, the error message persists.

Related:
- https://gi

[2018-10-01 00:39] scottbass opened #59709 "Add a setting to specify an alternative theme for copy with syntax highlighting"
I searched before adding this feature request.  Apologies if it is a duplicate.
This request is similar to Remove background color for "Copy text with formatting" feature #23734 which is closed.

I use a dark theme but, when copying to email, MS Word, etc, I don't want the dark background, but I do want the rest of the syntax highlighting.  But, the dark theme may mean that other formatting, when

[2018-10-01 00:59] lssbq commented on #59682
Well, from the attached picture you can find the flushing image is like a screen shot in my current active monitor(that time I only have one maximize VSCode). BTW, I have 3 monitors.

And this issue encounted after I upgrade to 1.27.0.

It does not affect the functionality except for appearance. And I wonder that VS will monitor my screen or just a weird bug.

[2018-10-01 01:16] insight47 commented on #59431
Hi @bpasero , I was able to open the remote text file, edit it, and save it without trouble, and with no console errors.

I followed the same process with a CSS file, and received the following in the development console:

[2018-10-01 01:18] insight47 commented on #59431
If I open the same file in Dreamweaver, make a change, and save it, I receive "access denied".

If I try to save it a second time, it saves okay.

[2018-10-01 01:51] safield commented on #30522
+1 for dimming the inactive editor/terminal windows.

I always edit in split window mode, and I would really like the inactive windows to be dimmed.

[2018-10-01 02:02] Kerminate commented on #59688
Thanks.It is true that setting the disabling of the ligatures text is normal.

[2018-10-01 02:02] Kerminate commented on #59688
Thanks.It is true that setting the disabling of the ligatures text is normal.

[2018-10-01 03:33] lukekhamilton commented on #1223
Any updates on this one?

[2018-10-01 04:08] #59167 closed

[2018-10-01 04:29] #59472 closed

[2018-10-01 04:49] gupta-pratik opened #59710 "CherryPy Debugging"
I am trying to attach **CherryPy** (Python) Project with VSCode. I looked into the web but I'm not able to find what should be the configuration in `launch.json` so that I can start debugging it.
This is the link where configuration for most of the python framework is written : https://code.visualstudio.com/docs/python/debugging
So looking for similar configuration steps to debug CheeryPy project.

[2018-10-01 05:06] #59634 closed

[2018-10-01 05:09] bpasero commented on #59063
Also do not see it anymore, closing.

[2018-10-01 05:09] #59063 closed

[2018-10-01 05:11] #59560 closed

[2018-10-01 05:14] bpasero commented on #59431
@insight47 then it seems like this is something VSCode cannot fix if other tools have the same issue. I suggest you check the file permissions. I will close this issue.

[2018-10-01 05:14] #59431 closed

[2018-10-01 05:16] #59300 closed

[2018-10-01 05:18] insight47 commented on #59431
@bpasero if the file permissions were not correct, I wouldn't be able to save the file on the 2nd attempt. I've checked the same file again, and there is no file permission issue.

[2018-10-01 05:19] imhuay opened #59711 "【Markdown】It can't skip to the second one when there are two same heading."
- VSCode Version: 1.27.2
- OS Version:

Steps to Reproduce:

[code]
- The second Test can't be skipped to.

Does this issue occur when all extensions are disabled?: Yes

Another, when I use `code --disable-extensions` to start, it can't recover to click the reload button. It have to restart the vscode.

[2018-10-01 05:27] bpasero commented on #59680
First time I hear this, please try to distill reproducible steps 👍

[2018-10-01 05:28] bpasero commented on #59683
@shangxinbo and what is the error?

[2018-10-01 05:28] roblourens commented on #59652
Do you know of any other editors that have this feature?

[2018-10-01 05:28] #59687 closed

[2018-10-01 05:28] #59688 closed

[2018-10-01 05:30] bpasero commented on #59700
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2018-10-01 05:32] bpasero commented on #59706
`"workbench.settings.openDefaultSettings": false`

[2018-10-01 05:32] #59706 closed

[2018-10-01 05:34] cedric05 commented on #59567
can i take this up?

[2018-10-01 05:36] rjmholt commented on #59634
@bpasero Can you link to what issue this one is a duplicate of? I noticed the other issues like it were all marked as duplicates and closed, but there doesn't seem to be an original open issue.

[2018-10-01 05:37] jyavenard commented on #59560
Saying it's a duplicate is great, but linking to the other bug would be better.

[2018-10-01 05:37] arshadkazmi42 commented on #59567
@cedric05 I have already started working on this. Thanks

[2018-10-01 05:42] cedric05 commented on #59567
ok @arshadkazmi42  please go ahead.  just to be clear, will you be creating new file json5.tmLanguage like this https://github.com/microsoft/vscode/blob/master/extensions/json/syntaxes/JSONC.tmLanguage.json.

[2018-10-01 05:45] cedric05 commented on #59452
can i take this up? some insights will be helpful..

[2018-10-01 05:52] #59655 closed

[2018-10-01 05:53] #59597 closed

[2018-10-01 05:53] #57997 closed

[2018-10-01 05:53] #59305 closed

[2018-10-01 05:53] #59552 closed

[2018-10-01 05:53] arshadkazmi42 commented on #59567
@cedric05 This is my first contribution to vscode. So I was exploring it, is that file required? I was thinking that adding an entry here https://github.com/Microsoft/vscode-markdown-tm-grammar/blob/master/build.js for json5.

[2018-10-01 05:55] bpasero commented on #59634
@rjmholt the search functionality in GH is not great, but actually works for this case. We ask people that file issues to use search to reduce work on developers always having to hunt down duplicates.

![before](https://user-images.githubusercontent.com/900690/46271975-542b1d00-c54f-11e8-871e-441cef969e8d.gif)

[2018-10-01 05:56] dandrestor commented on #34660
I'm also seeing "fatal error" lines not being matched by the $mscompile matcher. On 0.19.0

[2018-10-01 06:03] Darthfett commented on #59652
@roblourens , not particularly for code, but Google Translate allows you to swap between languages with a button.

[2018-10-01 06:11] rjmholt commented on #59634
Yes I performed that search before using the keyword "internet" and didn't find anything — "offline" was not a term that struck me at the time.

But here you've closed the issue as a duplicate, but haven't noted what of. My assumed convention was that there would be a canonical issue that all others are a duplicate of.

Looks like the first issue is this one: https://github.com/Microsoft/vscode/is

[2018-10-01 06:27] juristr commented on #56136
@isidorn Just wanted to check whether the bug is fixed, but I'm getting a strange error now when running the exact same `launch.json` configuration I posted above 🤔

![image](https://user-images.githubusercontent.com/542458/46272941-ae2de180-c553-11e8-8969-d3d324ab2d32.png)

[2018-10-01 06:32] cedric05 commented on #59567
as per my knowledge that will be enough, but json5 has lot more features that json. so it would be better to those as well.

[2018-10-01 06:38] cedric05 commented on #59567
may be it is out of scope. don't bother me @arshadkazmi42

[2018-10-01 06:53] chrmarti commented on #57452
Without the quotes I see the originally reporter error when running a task:
[code]

[2018-10-01 07:04] jrieken commented on #59538
Yeah, the error is to be expected and tracked here https://github.com/Microsoft/vscode/issues/59469

[2018-10-01 07:06] jrieken commented on #59668
https://github.com/Microsoft/vscode/issues/33933#issuecomment-328793257

[2018-10-01 07:06] #59668 closed

[2018-10-01 07:09] jrieken commented on #59691
/duplicate of https://github.com/Microsoft/vscode/issues/55834

[2018-10-01 07:09] #59691 closed

[2018-10-01 07:30] dbaeumer commented on #59601
@jrieken this came up in another issue were people where complaining about stale markers (e.g. an extension not cleaning them). There I agree that if something bad happens to markers that VS Code needs to ensure that they are cleaned (for example the extension host crashes). If this is the case I am OK to close the issue. Just wanted to make sure it is the case.

[2018-10-01 07:34] sandy081 commented on #59374
@firelizzard18 At the end of the day they are talking about the same problem - Ability to configure workspace configuration outside workspace.

[2018-10-01 07:34] spyhole opened #59715 "fit to TypeScript 3.1.1"

[2018-10-01 07:35] sandy081 commented on #59112
@sbatten Yes, We do not want to retain any extensions or names

[2018-10-01 07:36] sandy081 commented on #59606
Search feature is coming from markdown/webview editor.

[2018-10-01 07:41] sandy081 commented on #59707
@safield Search bar tries to match settings and matches comments only for default settings. To search in comments you can use normal editor find.

![image](https://user-images.githubusercontent.com/10746682/46275692-1bdf0b00-c55e-11e8-9aca-20e94de4f899.png)

[2018-10-01 07:41] #59707 closed

[2018-10-01 07:51] rprichard commented on #59630
I haven't seen that before, and I wasn't able to reproduce it.

[2018-10-01 07:57] isidorn commented on #59346
Extension host profile actions changes from start debugging to stop debugging. [Code pointer](https://github.com/Microsoft/vscode/blob/0c4fa8a7b5f8ef2b59663b20d79df7776a697609/src/vs/workbench/parts/extensions/electron-browser/runtimeExtensionsEditor.ts#L535)
@bpasero if you are passionate about getting rid of this I can do it, but I just did not find it smart to invest in something we should actu

[2018-10-01 08:00] tcabolov opened #59716 "In some cases do not open folder in a new window even if the settings say so"
Issue Type: <b>Feature Request</b>

I think it would be better to open folders in the same window if the button "Open Folder" on the exporer pane was pressed. Even if the `window.openFoldersInNewWindow` option is set to `on` in the `settings.json`.
Obviously I do not want the folder be opened in the new window, when the current window is empty.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268

[2018-10-01 08:01] brandonkal commented on #59671
I'm well aware this issue was caused by an extension. Was my issue even read?
The feature request is to have error notification alerts to link to the error in the VSCode log panel.

[2018-10-01 08:06] rajpalkulhari opened #59718 "Text not visible on shell"
Once I do mstsc and then open the shell command on already open VS window, it's not showing any text on same shell i.e. I have to add new shell.

[2018-10-01 08:32] tapvanvn opened #59719 "add breadcrumb to project navigator"
Maybe because I am too lazy for scrolling up and down. But it's might help in projects those have many level directory.

[2018-10-01 08:38] wesleyolis opened #59721 "Intellisense, auto complete, confirmed and selected using tab!"
Issue Type: <b>Bug</b>

Hi,

The productivity loss I have from the space key, automatically selecting an item, is insane.
Please return the functionality to be tab, because everytime I type "fieldA :" I now have my field name change some auto suggestioned delay pop up value,
because I am typing faster than the computer.

I must now type "FieldA" [escape] [space] [colon]

Kind Regards,

Wesley Oliv

[2018-10-01 08:47] jrieken commented on #59601
Yeah, I think we are good here. What people might be issues is this https://github.com/Microsoft/vscode/issues/58564

[2018-10-01 08:47] #59601 closed

[2018-10-01 08:47] bpasero commented on #59346
@isidorn so it is just this one action? Then just add a context key for this scenario.

[2018-10-01 08:47] dimensi opened #59722 "Auto import not use alias then move root project in subdirect"
- VSCode Version: 1.27.2
- OS Version: macOS mojave

Steps to Reproduce:
I moved the project with the client to the "client" folder and I broke "auto imports"
Before i move files to client folder
<img width="1508" alt="2018-10-01 11 54 16" src="https://user-images.githubusercontent.com/11390039/46279081-ce1fce00-c570-11e8-9573-074795e0fd99.png">
After
<img width="1552" alt="2018-10-01 11 59 56" sr

[2018-10-01 08:49] #59716 closed

[2018-10-01 08:49] bpasero commented on #59722
@dimensi are you using typescript or javascript?

[2018-10-01 08:50] dimensi commented on #59722
@bpasero sorry, i missclick and send report too early. Wait please

[2018-10-01 09:01] dimensi commented on #59722
@bpasero i use javascript in project and set jsconfig.json in root.

[2018-10-01 09:04] isidorn commented on #56136
@juristr that sounds like an unrelated issue which has something to do with source maps.  fyi @roblourens
@alexr00 no need to verify this one, since Sandeep verified the issue which this is a duplicate off https://github.com/Microsoft/vscode/issues/59331
Removing bug label, sorry for not doing that earlier

[2018-10-01 09:11] sandy081 commented on #59684
@akaroml It is because of using old version of `vsce` to publish the extension. Please use the latest `vsce` and try.

[2018-10-01 09:11] #59684 closed

[2018-10-01 09:12] MoayyadMaswadeh commented on #58758
Any update on this please? @roblourens

[2018-10-01 09:12] sandy081 commented on #59548
It is because of using old version of `vsce` to publish the extension. Please use the latest `vsce` and try.

[2018-10-01 09:12] #59548 closed

[2018-10-01 09:14] rkramakrishna17 opened #59723 "Auto block comment in Typescript for Arrow functions is not working"
- VSCode Version: 1.27.2
- TypeScript Version: 3.0.3
- Angular Version: 6.0.1
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Create an arrow function inside an angular component
2. Then for writing a block comment for the arrow function, enter '/**'
3. Then auto suggest will popup prompting JsDoc comment
4. After selecting the suggestion, the params are not being listed

example:
for a normal

[2018-10-01 09:16] qkdreyer commented on #26284
Workaround :
- Install extension : [extension/be5invis.vscode-custom-css](https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css)

- Add to settings :
[code]
- Create file `/Users/whoami/.vscode/custom.css` :
[code]

[2018-10-01 09:17] #59674 closed

[2018-10-01 09:17] isidorn commented on #59674
https://github.com/Microsoft/vscode-python

[2018-10-01 09:18] isidorn commented on #59649
This is fixed in latest vscode insiders and will be available in vscode stable in about a week.

[2018-10-01 09:18] #59649 closed

[2018-10-01 09:20] sandy081 commented on #59500
@alexr00 Can you please breakpoint at the following line and see if it is getting hit?

https://github.com/Microsoft/vscode/blob/a144e2fa9fc2fb91a8add05833943a00f3b86371/src/vs/workbench/parts/extensions/node/extensionsWorkbenchService.ts#L775

If it is, can you please check why the error is not being notified?

[2018-10-01 09:20] isidorn commented on #59651
Please file this against the cmake tools extensions. They should resolveDebugConfigurations using vscode api and than they can substitute variables as desired.
VSCode does not support recursive expansions of variables

[2018-10-01 09:24] juristr opened #59725 "Error when trying to attach debugger to Docker container: "Attribute 'localRoot' does not exist""
- VSCode Version: 1.28.0-Insider
- OS Version: MacOS High Sierra (0.13.6)

Steps to Reproduce:

1.  Run a NodeJS process inside a Docker container (with debugging exposed)
2. Launch the Code debugger with the following configuration:

[code]
Path mappings need to be adjusted ofc. This did still work last Thursday (27 Sept).

I receive the following error message:

![image](https://user-images.gith

[2018-10-01 09:28] alexzshl opened #59726 "html-script-indent"
Issue Type: <b>Feature Request</b>

input "scr" , then press Tab:
    <script></script>
then press Enter:
[code]

strange!

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.16299

[2018-10-01 09:29] alexzshl commented on #59726
`    <script>
        </script>`

[2018-10-01 09:31] #58575 closed

[2018-10-01 09:31] jrieken commented on #59721
This isn't something that we have defined - it's still tab and enter. This can be a custom keybinding configuration of yours (please check) or a commit character of the suggestion in question. To know that I need more information, like the language in which this happens, the extension your are using, and the completion in question. In short, I need reproducible steps

[2018-10-01 09:33] #59573 closed

[2018-10-01 09:35] conall1995 opened #59728 "false syntax error in python(django)code"
Issue Type: <b>Bug</b>

hi
code have false error in django code
all=Model.objects.all()

[pylint] E1101:Class 'model' has no 'objects' member
my code work fine :)

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:57:45.963Z)
OS version: Windows_NT ia32 10.0.15063

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-2670QM

[2018-10-01 09:38] bpasero opened #59729 "TS: cannot add imports for "Event""
This never gives me a code action to add the import, probably because "Event" is already defined in the DOM:

![image](https://user-images.githubusercontent.com/900690/46281258-797b5380-c56e-11e8-8f28-956f206aff4f.png)

[2018-10-01 09:45] joaomoreno commented on #43231
Any extension can contribute decorations to any resource. Those decorations will appear wherever that resource appears, including the SCM viewlet.

[2018-10-01 09:51] sandy081 commented on #59346
Done

[2018-10-01 09:53] aeschli opened #59730 "Allow publisher to be undefined"
To make the extension authoring smoother for first time users, it would be nice if we no longer require the 'publisher' to be filled out.

[2018-10-01 09:54] aeschli commented on #59730
fixed by https://github.com/Microsoft/vscode/commit/941c11cfc15f1d3039de4203b287138c32df93b0

[2018-10-01 09:54] #59730 closed

[2018-10-01 10:02] jrieken commented on #53526
Only `6043` references to `WinJS.Promise` are left...

Good news is that after the removal of progress and cancel the migration is simple. Whereever a winjs-promise is being returned a native-promise can and should be returned. Please invest some time to migrate your code:

* `new WinJS.Promise(callback)` -> `new Promise(callback)`
* `WinJS.Promise.as` -> `Promise.resolve`
* `WinJS.Promise.wrap` -

[2018-10-01 10:03] jrieken commented on #53526
@Microsoft/vscode  GH can only assign 10 people to an issue but this is affects everyone

[2018-10-01 10:14] fractos commented on #56628
Any word on this? I'm on 1.27.2 (windows 10) and seeing a 1000 line or so terraform operation in git-bash lock up across two separate Code instances, plus getting the dialog saying window is not responding in both instances. Very really not good.

[2018-10-01 10:17] sandy081 opened #59731 "Clean up actions in Keyboard Preferences Editor"
- Move `keybindings.json` link from editor to title
- Add clear input action

[2018-10-01 10:33] rogierlommers opened #59732 "Provide a way to show BOM characters"
Please see attached screenshot. When I open the file in textmate, it shows that the file has a byte-order-mark. However VSC does not show this. You can find the file [here](https://dump.lommers.org/download/20181001-da4e3275-37e1-42d6-8942-9dfaa414b01f?download=true). So my question is: don't we need a feature to "show" these kind of characters?

![bom](https://user-images.githubusercontent.com/39

[2018-10-01 10:37] #59731 closed

[2018-10-01 10:40] sandy081 opened #59733 "Precondition is not working when adding a menu item to editor title"
- Open Keybindings Editor
- Type some search value or clear the value

🐛 Clear action is not getting enabled/disabled

Under the hoods, this action has a precondition while adding to the editorTitle menu registry. Context value used in this precondition is getting set correctly but still the action is not getting enabled/disabled.

https://github.com/Microsoft/vscode/blob/7b521edfad9707766415f6e23

[2018-10-01 10:49] pbb72 commented on #5940
This was not immediately obvious to me, so it may help other people to know this. While not an ideal solution, you can easily paste columns by creating a new column selection and pasting into that.

1. Select the source column in the normal way (by positioning the cursor in one corner of the rectangle, and then alt+shift+click on the opposite corner, then ctrl+c to copy).
2. Create a new column se

[2018-10-01 10:53] #59469 closed

[2018-10-01 10:54] #59346 closed

[2018-10-01 10:54] jain108shubhamtbt opened #59734 "Getting ERROR "Unable to open '<autogenerated>': resource is not available" when debug with Golang."
# Getting ERROR "Unable to open '<autogenerated>': resource is not available" when debug with Golang.

API server listening at: 127.0.0.1:2345
go list failed on .: can't load package: package .: no Go files in C:\Users\shubham.jain\AppData\Local\Programs\Microsoft VS Code

[2018-10-01 11:14] DanTup commented on #58388
Sorry for the delay in responding, I've been OOO. I've testd both my simple logging sample from above and also #57513 and the issue is resolved for me, it's behaving as it used to 👍

[2018-10-01 11:14] DanTup commented on #57513
(This was fixed with #58388 :-))

[2018-10-01 11:42] usernamehw commented on #43231
@joaomoreno, I was only able to find how to add new scm view and apply decorations to it (https://code.visualstudio.com/docs/extensionAPI/api-scm#_source-control-model) but not how to change the existing one.

Can you provide an example of code or a link to similar extension?

Still, isn't it makes sense to have it inside vscode to be able to theme red/green colors?

[2018-10-01 11:48] #58985 closed

[2018-10-01 11:48] jrieken commented on #58985
I have pushed a fix for this and we will see how well it works, depending on that there is chance that we revert this.

[2018-10-01 11:57] usernamehw opened #59737 "Show suggestions from every nested level"
[code]
Not just TypeScript, but any language.

[2018-10-01 11:58] xcdr commented on #50795
This is also very important feature for me, without this I cannot switch to Windows.

[2018-10-01 12:08] #59080 closed

[2018-10-01 12:08] #59214 closed

[2018-10-01 12:08] #58863 closed

[2018-10-01 12:08] #58904 closed

[2018-10-01 12:08] #59178 closed

[2018-10-01 12:08] #59180 closed

[2018-10-01 12:08] #58902 closed

[2018-10-01 12:09] usernamehw commented on #20886
Duplicate of #5312 ?

[2018-10-01 12:09] safield commented on #59706
That setting does specifically do what is requested here.

"workbench.settings.openDefaultSettings": false opens only the user settings.json....

What I requested is that open settings.json behave exactly as opening keybindings.json.

It should open BOTH the default settings and the user settings, side-by-side, but both in normal text editors, and with normal search, and not the limited settings s

[2018-10-01 12:19] NimaZahedi commented on #47727
@mjbvz @jrieken I'd like to work on this, I just play a bit with the code and try to get the overall understanding of that part of the code. I've made some changes to wordDistance (I'm not sure what the responsibility of wordDistance is! I just want to get it work and see how the result would be).
But I'm wondering to ask if this issue should be fixed on typescript or vscode!
Based on Matt's comme

[2018-10-01 12:29] jrieken commented on #47727
The wordDistance logic is new for the 1.28, see https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_28.md#intellisense-locality-bonus. What changes did you have to make there, what is still missing?

Generally, "yes" this is something TypeScript should get right but the locality bonus feature is now here to compensate for that.

[2018-10-01 12:29] jrieken commented on #20886
yes

[2018-10-01 12:29] jrieken commented on #20886
/duplicate of #5312

[2018-10-01 12:30] #20886 closed

[2018-10-01 12:30] isidorn commented on #58388
@DanTup thanks for letting us know.

[2018-10-01 12:30] #59734 closed

[2018-10-01 12:31] joaomoreno commented on #43231
@jrieken Can you provide guidance on how to add decorations to resources?

Not sure I understand what this means.

[2018-10-01 12:34] Tyriar commented on #56628
@fractos you're probably seeing issues with electron's canvas acceleration, see https://github.com/Microsoft/vscode/issues/56517

[2018-10-01 12:35] Tyriar commented on #56628
I'm locking this as this specific issue is fixed, see https://github.com/Microsoft/vscode/issues/56517 for GPU rendering slowness.

[2018-10-01 12:44] jrieken commented on #43231
The decoration provider api isn't meant for that

[2018-10-01 12:47] jrieken commented on #52549
/duplicate of #24918

[2018-10-01 12:47] #52549 closed

[2018-10-01 12:47] isidorn commented on #59485
@alexr00 thanks for trying this out but let's leave this one to @jramsay to verify since he knows the scenario exactly.

[2018-10-01 12:48] jrieken commented on #700
Closing this because of aforementioned setting (https://github.com/Microsoft/vscode/issues/700#issuecomment-302643280) and because suggests generally sort better now

[2018-10-01 12:48] #700 closed

[2018-10-01 12:50] isidorn commented on #59572
`isWrapped` error seems to be coming from vscode-xterm
fyi @Tyriar @dbaeumer

[2018-10-01 12:54] alfiepoleon commented on #59656
I'm also frequently getting 100 cpu usage, pretty sure it's an extension, but I can't figure out which one, this is the output of `grep`
[code]

[2018-10-01 13:08] #52830 closed

[2018-10-01 13:10] ronihcohen commented on #38459
I'm on it.

[2018-10-01 13:12] joaomoreno commented on #43231
Oh! Too bad, I thought it would be possible to get this now.

[2018-10-01 13:18] isidorn commented on #53526
@jrieken thanks for the ping, I just started on this. One question though: should we keep the method signitures to be `TPromise`, since if we also migrate those than this will spread virally.
Currently I can return a native promise when the signiture says `TPromise`, but not the other way around.

[2018-10-01 13:27] NimaZahedi commented on #47727
Btw, I'm wondering to ask if there is any issue regarding to sortText (^^) on TypeScript's repo.

[2018-10-01 13:29] MarshallOfSound commented on #59283
@bpasero You should be able to test this out on the latest `v4.0.0` nightly 👍

[2018-10-01 13:29] jrieken commented on #53526
Correct - that means you can use native promise where TPromise is expected but not the other way around (which is what we actually want). I see the challenge with the viral spread when changing signature. Two options: 1 power through when feasible e.g. it is your code and/or you have sound understand of things, or 2 use `Thenable` as a stepping stone - it's compatible to both in both directions.

[2018-10-01 13:31] chrmarti commented on #11913
/a11ymas

[2018-10-01 13:32] isidorn commented on #53526
@jrieken yeah I will go with `Thenable` for now, seems to work pretty nicely.

[2018-10-01 13:33] jrieken commented on #47727
We already do that. The initial sort order is defined by the sortText-property and later carried on as `idx`. There is potential for conflict with the word distance but that's implemented to be so that it doesn't conflict too much, e.g. the distance is the containing block not line/character distance

[2018-10-01 13:41] isidorn commented on #53526
Geeez did GitHub just change that I can no longer reference an issue in a commit without the commit closing the issue.
Before I could say
#53526 wihtout closing the issue and
fixes #53526 to close it

Now it seems that GH closes the issue in both cases

[2018-10-01 13:47] NimaZahedi commented on #47727
@jrieken Ah, Ok. Now I got :) Thanks.
So here we need to get  locality bonus feature to work.

[2018-10-01 13:47] dralley commented on #59526
Do you know when the patch will be released via the standard channels?

[2018-10-01 13:52] jpaille opened #59740 "Can't set control space keybindings"
Issue Type: <b>Bug</b>

I go to preferences -> keyboard shortcuts
Then double click on the keybinding column to edit a keybinding.
I hit 'control space' but nothing happens only the control character is written.

I don't think mas os captures the keybinding because i can use it in other apps.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS vers

[2018-10-01 13:56] joaomoreno opened #59741 "Color picker doesn't work well with Undo"
[code]

1. Type something on line 3
2. Hover over `red`, change color via color picker
3. Undo

Both changes will be undone!

It seems this might've been fixed a year ago, but it's broken today: https://github.com/Microsoft/vscode/issues/33348

[2018-10-01 14:08] #57844 closed

[2018-10-01 14:08] #59223 closed

[2018-10-01 14:13] tksuoran commented on #50448
I have a task with a problem matcher which parses task output. If there is any way to specify how/when the problems (found by the problem matcher in the task) would be cleared, please let me know. Or just implement the command which clears all problems generated by custom problem matchers.

[2018-10-01 14:17] ManPython opened #59743 "Need support for .asm (assembly)"
I noticed that VSC in lanaguage list not listing the ASM
https://code.visualstudio.com/docs/languages/overview
Many peoples asking about support .asm (MASM, FASM, NASM)

Anybody has some experienced around this case? Eg. compile, build, debug configuration in launch.json

        {
            "name": "FASM",
            "type": "asm",
            "request": "launch",
            "stopOnEntry": tr

[2018-10-01 14:37] josefhosek opened #59744 "[loc][Query] Suggestion to reduce number of placeholder in resource "breakpointHasCondition""
For string below our translator suggested that it would be a lot easier to localize this resource without having to work with so many placeholders, as from we can see, placeholder {2} is going to get replaced with only two words. Can you please check this suggestion and let us know your opinion? Thanks!

**Original comment**
{0} and {1} are not a big problem if the gender of the word is as clear a

[2018-10-01 14:41] #59743 closed

[2018-10-01 14:42] #53133 closed

[2018-10-01 14:44] negstek commented on #10121
+1 for this feature

[2018-10-01 14:52] bpasero commented on #59346
Thanks!

[2018-10-01 14:53] isidorn commented on #59744
I understand that his can be complex. Without the placeholder we would need 8 strings instead.
For now I will keep it as it is, but in future cases I will try not to have as many placeholders as I understand the issue.

Keeping this open if somebody wants to do a PR which cleans this up nicely.

[2018-10-01 15:01] NotWearingPants opened #59745 "Installed extensions should be listed in `settings.json`"
The list of installed extensions should be kept in the `settings.json` file, along with whether they are enabled or not.

The reasoning for this is that developers want to keep the same setup when moving to a new computer, so usually programs have their entire configuration in a few files (e.g. `.vimrc` or `.bashrc`), and then you can just copy these few files to the new computer and have everythi

[2018-10-01 15:02] safield commented on #59707
I might be confused, but I can not find a "normal editor find".

When I hit ctrl+F it just focuses the specialised settings search box. I am unable to open a normal editor find box.

[2018-10-01 15:07] bpasero commented on #59656
@andreixk ping

[2018-10-01 15:11] duartemolha commented on #4180
Can someone explain to me where I can set originalEditable ?

Really confused. That option is not listed on my settings v1.27.1

[2018-10-01 15:12] #58947 closed

[2018-10-01 15:12] #59194 closed

[2018-10-01 15:13] jpaille commented on #59740
Solved, VMware fusion was catching the control_space key everywhere, even when VMware app is killed.
<img width="558" alt="screen shot 2018-10-01 at 17 10 07" src="https://user-images.githubusercontent.com/2971857/46297496-1e148a00-c59d-11e8-8403-a156b18bc8c9.png">

[2018-10-01 15:13] #59740 closed

[2018-10-01 15:14] davidcummingsaapl opened #59746 "Can't inform vscode of new function breakpoints"
- VSCode Version: 1.28.0-insider (29e6dce4352db76d8956035990b8630580226588)
- OS Version: macOS

The debug protocol provided by vscode allows the IDE to inform the debug server of function breakpoints that should be set by sending a SetFunctionBreakpoints request. This request contains an array of objects of type FunctionBreakpoint.

The debug protocol also allows the debug server to inform the ID

[2018-10-01 15:14] smistert commented on #59625
Thanks Benjamin,

The insider version seems to work just fine!

Sylvain

On Fri, 28 Sep 2018 at 10:42, Benjamin Pasero <notifications@github.com>
wrote:

[2018-10-01 15:17] V-ed commented on #59705
Did you at least try digging into the issues proposed by the duplicate detection bot? You provide no info upon your problem, what is your OS, what even your offline means (Airplane mode on? no hardware card? wifi enabled but not connected? etc), or any other info than simply "nope! - it's not what any of the discussion about VSCode not opening in offline mode talked about!".

Have you taken a look

[2018-10-01 15:28] bpasero commented on #59733
I can see how https://github.com/Microsoft/vscode/blob/4567f19ef87c2d189bee67b7b0c70aadff4533b9/src/vs/workbench/parts/preferences/browser/keybindingsEditor.ts#L292 is called but https://github.com/Microsoft/vscode/blob/4567f19ef87c2d189bee67b7b0c70aadff4533b9/src/vs/workbench/browser/parts/editor/titleControl.ts#L222 does not seem to be called at that time.

/cc @jrieken maybe I am missing someth

[2018-10-01 15:33] #59705 closed

[2018-10-01 15:35] fischeme commented on #58910
@mrkbutty, see my post from Sep 19 for the OS updates that were done.  Still not sure if it was the updates themselves or housekeeping as part of the update process (does the update process always do an OS scan and repair?) that did the trick for me.  A whole bunch of other updates related to MS Office were also installed plus an update to .NET (KB44577035).  I would focus first on making sure you

[2018-10-01 15:41] SpeedCoder5 commented on #3451
still an issue: https://github.com/Microsoft/vscode/issues/35530

[2018-10-01 15:41] NotWearingPants commented on #41309
+1
I still prefer using the keyboard for everything, but this new (and rather basic) UI element gives new possibilities for extensions and configuration that might convince me otherwise.
I would turn it off, but I still would want it to exist as a possiblity if I ever want it.

[2018-10-01 15:45] rebornix commented on #59424
Great!

[2018-10-01 15:45] #59424 closed

[2018-10-01 15:46] rebornix commented on #59582
Duplicate of https://www.github.com/Microsoft/vscode/issues/24395

[2018-10-01 15:46] #59582 closed

[2018-10-01 15:47] DanTup commented on #16222
(FWIW, diagnostics are exposed via an API now, so it may be possible to build this as an extension?)

[2018-10-01 15:50] bpasero commented on #59625
Ok, could be an installation issue then. I suggest you stay on the insiders version, it is updated daily.

[2018-10-01 15:50] #59625 closed

[2018-10-01 15:52] lfaoro commented on #50349
@bpasero why did you close this if it is not fixed? I'm on `1.27.2` and experiencing the same issue.

[2018-10-01 15:56] roblourens commented on #59715
Please explain exactly what your issue is

[2018-10-01 15:56] #59715 closed

[2018-10-01 16:01] roblourens commented on #59652
That's not really the same. I'll leave this open for now but I'm not sure it would be generally useful enough.

[2018-10-01 16:02] chrmarti commented on #58918
This doesn't reproduce for me. It appears to be something with the activation of the extensions.

[2018-10-01 16:03] #44216 closed

[2018-10-01 16:04] Tyriar commented on #59718
https://github.com/Microsoft/vscode/issues/57803

[2018-10-01 16:04] #59718 closed

[2018-10-01 16:06] roblourens commented on #59725
Are you sure it exists? It simply checks whether that path exists, that's it.

[2018-10-01 16:07] bpasero commented on #59733
@jrieken the issue is within this check: https://github.com/Microsoft/vscode/blob/6617952c182a3e182832cb365df95d19b5e85ec7/src/vs/platform/actions/common/menu.ts#L51

Do we miss to fill in the items precondition to that filter?

[2018-10-01 16:08] bpasero commented on #50349
@lfaoro we close issues without reply from the author after some days.

Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-10-01 16:09] joaomoreno commented on #42275
What does the Git Output window show now?

PS: Cool pre-commit hook!

[2018-10-01 16:13] brndd commented on #59676
Yes. More specifically, the way [this particular Fedora package](https://fedora.pkgs.org/28/fedora-x86_64/powerline-fonts-2.6-7.fc28.noarch.rpm.html) installs the Powerline glyphs it should not be necessary to change the font. To my understanding, what the package does is installs a separate PowerlineSymbols.otf font and creates a Fontconfig rule that enables the glyphs for all supported monospace

[2018-10-01 16:19] jrbenito commented on #34385
I´m getting this issue on Linux Ubuntu 16.07 X86_64 with VSCode 1.27.2 behind corporate proxy with self signed certificate (I do have the CA certification installed but VSCode somehow doesn´t use it). With `code --ignore-certificate-errors` it does work again.

[2018-10-01 16:27] bpasero commented on #59433
Via https://github.com/Microsoft/vscode/pull/59742

[2018-10-01 16:27] #59433 closed

[2018-10-01 16:28] alexr00 commented on #59500
@sandy081, the error tries to fire, but in event.ts on line 132 `this._listeners` is undefined. `this._deliveryQueue` is also undefined at the start of the fire function.

[2018-10-01 16:30] Tyriar commented on #59676
@brndd I suspect it's Chromium not respecting it, I wouldn't be surprised if it treats "monospace" specially as well to improve website compatibility. I'm closing this as out of scope as powerline fonts do work when configured explicitly, and the issue you're seeing is likely an upstream problem (or as designed).

[2018-10-01 16:30] #59676 closed

[2018-10-01 16:31] jats22 commented on #43238
Hi! I would like to take this up. Would love any code pointers. Thanks.

[2018-10-01 16:33] Shobhit1 commented on #58176
Is this still open to be taken up? I can try whatever you suggested @jrieken . If @Moniarchy has not started on this already?

[2018-10-01 16:37] brndd commented on #59676
For what it's worth, you're right; it appears to be a Chromium issue. At least the fonts don't work in the Chromium browser either, but do in Firefox (which is clearly the superior browser because of this!)

[2018-10-01 16:42] rebornix opened #59750 "Race condition in extension search"
Issue Type: <b>Bug</b>

Reproduce steps:

* Open search viewlet
* Type `v`
* Wait a little bit but before you get any result back, type `im` so now the keyword is `vim`
* Firstly we will get Vim related results and then it's being refreshed with Vetur results.

![race-condition-search-extension](https://user-images.githubusercontent.com/876920/46302524-28636380-c55e-11e8-8242-a6345a2a19a4.gif)

Th

[2018-10-01 16:43] andr3medeiros commented on #58128
@isidorn Yes, there were build errors, they are printed correctly in the console, and I could reconnect after correcting them.

But the dialog indeed is not showing.

Version: 1.28.0-insider
Commit: 83d5a29433d7f576b59db8019575a0c9dc78a967
Date: 2018-10-01T13:24:42.941Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-10-01 16:44] otonielguajardo commented on #17777
+1

[2018-10-01 16:45] Tyriar opened #59751 "Alt+enter bound to quick fix is triggering the first context menu action"
Repro:

Add keybinding:

[code]

Find a quick fix, and hit alt+enter quickly. The first action is triggered.

I was seeing this here (notice Promise not TPromise): https://github.com/Microsoft/vscode/blob/8ee605ede4c3bf76945a873fd6794b51317475cc/src/vs/workbench/parts/terminal/electron-browser/terminalLinkHandler.ts#L249

![image](https://user-images.githubusercontent.com/2193314/46302713-ab84b980

[2018-10-01 16:48] isidorn commented on #58128
@andr3medeiros is it possible that you create a repository on github which shows this problem. So I can simply clone it and investigate more?

[2018-10-01 16:53] #57281 closed

[2018-10-01 16:53] #59393 closed

[2018-10-01 16:53] #59502 closed

[2018-10-01 16:54] #59741 closed

[2018-10-01 16:54] rogierlommers commented on #59732
I don’t want to change something in the way the encoding is saved, I just want to have insights in the fact that a file has a Byte Order Mark.

[2018-10-01 16:54] rebornix commented on #59741
Verifiers: please make sure file auto save is turned off otherwise there is always an undo stop before the change.

[2018-10-01 16:55] eamodio opened #59752 "Crashes on launch and leaves an empty window"
Issue Type: <b>Bug</b>

I've gotten myself into a strange issue. I was debugging an extension and messing around with the grid layout and I ended up somehow causing an error when trying to close an empty editor group. Ever since then anytime I try to debug an extension it opens the shell of a vscode window, but quickly opens the devtools with the output below. And the vscode window never loads, it

[2018-10-01 17:00] rebornix commented on #59587
This issue was initially triggered by vscode-custom-css extension which will inject styles into our code base. But when users disabled this extension and tried to revert back the change this extension made, the window crashes. I'd like to have @joaomoreno 's expertise on this.

[2018-10-01 17:02] beastdestroyer opened #59753 "Open Editors shouldn't be toggleable if no editors are open"
Issue Type: Bug

- VSCode Version: 1.28.0-insiders
- OS Version: Windows 10 1803 17134.320

Steps to Reproduce:

1. Close all editors (doesn't matter if in a workspace)
2. Click on "Open Editors" in file explorer
3. See toggle switch, but nothing shows

As per this screenshot:
![image](https://user-images.githubusercontent.com/30497573/46303543-08569300-c5a4-11e8-849a-45d5a8df329d.png)

If it is m

[2018-10-01 17:02] sbatten commented on #58928
related #55347

[2018-10-01 17:02] rebornix commented on #59495
You can see those characters by setting `editor.renderControlCharacters` to `true`.

[2018-10-01 17:02] #59495 closed

[2018-10-01 17:03] philraj commented on #59575
Fair enough, thanks.

[2018-10-01 17:03] #59575 closed

[2018-10-01 17:03] misolori commented on #59665
Thanks for the suggestions! The dropdown menus that we use for macOS are from Electron (which have no customization options), but the Windows/Linux custom menu might be able to explore this.

[2018-10-01 17:05] rebornix commented on #59709
Related https://github.com/Microsoft/vscode/issues/20837

[2018-10-01 17:08] smistert commented on #59625
Just crashed on me the same way with the Insider version:

2018-10-01 11:04:52.652 Code - Insiders Helper[54600:1320989] Couldn't set
selectedTextBackgroundColor from default ()

[main 11:05:12 AM] update#setState checking for updates

2018-10-01 11:05:12.870 code[54598:1320876] *** Assertion failure in
+[SQRLDirectoryManager currentApplicationManager],
/Users/sattard/projects/Squirrel.Mac/Squirre

[2018-10-01 17:11] Moniarchy commented on #58176
Hey @Shobhit1 this is still something I've been working on.

[2018-10-01 17:11] axetroy commented on #59732
I got same problem #54913

[2018-10-01 17:15] Tyriar commented on #59572
https://github.com/Microsoft/vscode/issues/59114

[2018-10-01 17:18] mrkbutty commented on #58910
@fischeme yes I have the same issue with gitgui. But I also have all those updates already installed.
I have a bad feeling this may relate to carbon black, I've had nothing but problems ever since my corporate started to use it.

[2018-10-01 17:18] Tyriar commented on #59114
Fixed in https://github.com/Microsoft/vscode/commit/aaee349207f2e5eb1d0b215391bc0a11a6d80437

[2018-10-01 17:27] bobbrow commented on #59701
@oktonion Goto definition labels should only be added to the menu when a language server extension that supports this feature is loaded (like the cpptools extension).  If you disabled the cpptools extension and have no other C++ extensions installed, I believe this is the expected behavior.

The translation issue is simply because we haven't done the localization work yet.  We will be starting tha

[2018-10-01 17:34] mjbvz commented on #59722
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-10-01 17:34] alexr00 commented on #57452
There is an issue with terminalTaskSystem which is not doing any escaping. However I think there's also some contention between `"terminal.integrated.shellArgs.windows"` and tasks. @chrmarti, your expectation is that your terminal starts with your specified args and then runs your task, correct?

As far as I understand, the way it actually works is the task command + parameters are passed as addit

[2018-10-01 17:35] rebornix commented on #59328
@roblourens thanks! I got it reproduced. It seems only happening on a high resolution monitor (like retina) I'll see if it's an upstream issue or not.

[2018-10-01 17:37] octref opened #59755 "Cannot install VSIX extension when internet drops"
See https://github.com/vuejs/vetur/issues/919

To repro:

- Open VS Code with internet connected
- Disconnect from internet
- Install a VSIX file, like https://github.com/vuejs/vetur/releases/download/v0.12.6/vetur-0.12.6.vsix

[2018-10-01 17:37] NotWearingPants opened #59756 "Run extensions inside a sandbox"
Extensions should be ran inside a [vm2](https://www.npmjs.com/package/vm2) `NodeVM`, with a whitelist of builtin node modules that the extension uses, specified in the extension's manifest (`package.json`). The whitelist should be optional - if it is specified, the extension would not be able to use any other builtin module, and if it isn't specified, the extension would be able to use any builtin

[2018-10-01 17:37] octref commented on #59755
Here's the error:

![image](https://user-images.githubusercontent.com/4033249/46305342-05d54880-c566-11e8-97ad-9f1752fc46a9.png)

[2018-10-01 17:39] rebornix commented on #59750
Not sure if it's because I'm a slow typist (or fast?), I ran into this issue half of the time.

[2018-10-01 17:43] mjbvz opened #59757 "Build VS Code using TypeScript 3.1.1"
Upgrade VS Code to build using TypeScript 3.1.1. This upgrade is not expected to have any breaking changes

[2018-10-01 17:51] rebornix commented on #59328
It's introduced by https://github.com/Microsoft/vscode/commit/5c5e503c00a3f1ad517fca8943d52cc4eccaca57 which decreases the cursor `left` position by 1.

[2018-10-01 17:52] RMacfarlane commented on #59745
There's a similar existing feature that doesn't completely satisfy this request, but would help. You can add an `extensions.json` file under the `.vscode` folder in a repo which lists recommended extensions for the repo. Users would see a prompt to install the list if they don't already have them when opening the repo. https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommen

[2018-10-01 17:52] #59745 closed

[2018-10-01 17:54] schneiderbruno opened #59760 "Bar not hide"
Issue Type: <b>Bug</b>

The bar position top in scrips, run indeterminate... not break..
The only soluction is restart the visual studio code.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300HQ CPU @ 2.30GHz (4 x 2

[2018-10-01 17:55] #59757 closed

[2018-10-01 17:59] RMacfarlane commented on #59728
Hi @conall1995, this looks like a problem with a python extension and not VSCode itself. Can you try to narrow down what extension is giving this error by disabling them one at a time? Please file the issue on that extension.

[2018-10-01 17:59] #59728 closed

[2018-10-01 18:00] mjbvz opened #59761 "Fix TS 3.1 error in "extensions/json-language-features/client/src/utils/hash.ts""
With d37076a we updated to use TS 3.1 to build VS Code. As part of this upgrade, I added a few `any` casts to workaround typing error in our code. These casts unblock the build but should be addressed and removed

Please address the comment in this file: https://github.com/Microsoft/vscode/blob/d37076a5967dd09868b34215cabbbca51444d10c/extensions/json-language-features/client/src/utils/hash.ts#L26

[2018-10-01 18:02] mjbvz opened #59762 "Fix TS 3.1 error in "src/vs/base/parts/tree/browser/treeDefaults.ts""
With d37076a we updated to use TS 3.1 to build VS Code. As part of this upgrade, I added a few `any` casts to workaround typing error in our code. These casts unblock the build but should be addressed and removed

Please address the comment in this file: https://github.com/Microsoft/vscode/blob/d37076a5967dd09868b34215cabbbca51444d10c/src/vs/base/parts/tree/browser/treeDefaults.ts#L269

[2018-10-01 18:04] mjbvz opened #59763 "Fix TS 3.1 error in "src/vs/base/test/common/async.test.ts""
With d37076a we updated to use TS 3.1. As part of this upgrade, I added a few `any` casts for what could be logic errors in code. This unblocks the build but should be removed

Please address the comment in this file: https://github.com/Microsoft/vscode/blob/d37076a5967dd09868b34215cabbbca51444d10c/src/vs/base/test/common/async.test.ts#L85

[2018-10-01 18:05] rjmholt commented on #58985
Thanks @jrieken

[2018-10-01 18:06] mjbvz opened #59764 "Fix TS 3.1 error in "src/vs/platform/update/electron-main/abstractUpdateService.ts""
With d37076a we updated to use TS 3.1 to build VS Code. As part of this upgrade, I added a few `any` casts to workaround typing error in our code. These casts unblock the build but should be addressed and removed

Please address the comment in this file: https://github.com/Microsoft/vscode/blob/d37076a5967dd09868b34215cabbbca51444d10c/src/vs/platform/update/electron-main/abstractUpdateService.ts#L

[2018-10-01 18:07] mjbvz opened #59765 "Fix TS 3.1 error in "src/vs/workbench/api/node/extHostTerminalService.ts""
With d37076a we updated to use TS 3.1 to build VS Code. As part of this upgrade, I added a few `any` casts to workaround typing error in our code. These casts unblock the build but should be addressed and removed

Please address the comment in this file: https://github.com/Microsoft/vscode/blob/d37076a5967dd09868b34215cabbbca51444d10c/src/vs/workbench/api/node/extHostTerminalService.ts#L460

[2018-10-01 18:08] BillyONeal commented on #7570
+1 on this report:

[code]

[2018-10-01 18:09] 10manjunath opened #59766 "Save Search Queries"
Issue Type: <b>Feature Request</b>

When working on significantly large number of files, i often use RegEx expressions to search the code. And when i do it multiple times, i need to be able to see my past queries like a dropdown. Saves so much time in writing that expression all over again.

I believe Notepad++ already has it

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f,

[2018-10-01 18:10] kunallanjewar opened #59767 "Error after updating to Mojave MacOS"
Issue Type: <b>Bug</b>

/usr/local/go/pkg/tool/darwin_amd64/link: /usr/local/go/pkg/tool/darwin_amd64/link: combining dwarf failed: Unknown load command 0x32 (50)

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.2

[2018-10-01 18:15] mjbvz opened #59768 "Fix TS 3.1 error in "src/vs/workbench/services/decorations/test/browser/decorationsService.test.ts""
With d37076a we updated to use TS 3.1 to build VS Code. As part of this upgrade, I added a few `any` casts to workaround typing error in our code. These casts unblock the build but should be addressed and removed

Please address the comment in this file: https://github.com/Microsoft/vscode/blob/78d8277315f935b9334f2fa7da7bc367c620efc4/src/vs/workbench/services/decorations/test/browser/decorationsS

[2018-10-01 18:16] NotWearingPants commented on #15442
Hey, any updates on this issue?
Thanks

[2018-10-01 18:17] RMacfarlane commented on #59767
This looks like this is related to Go, not VSCode itself. See https://github.com/golang/go/issues/25908

What version of Go are you using, and can you try upgrading it?

[2018-10-01 18:18] Ash258 commented on #42275
From adding a file, clicking commit and push
[code]

[2018-10-01 18:26] aminevsaziz opened #59770 "Data Explorer / Variables Pane"
Are there plans to support a data explorer, or variables view where one would execute a command and have the ability to explore the variable or even get some information about the variable (type, min, max...etc). Similar to how Rstudio/Pycharm has.

[2018-10-01 18:28] stevenbrix opened #59771 "Can't find/replace new line in Ctrl+Shift+F search/replace"
Issue Type: <b>Bug</b>

This works when using Ctrl+F inside a file, but doesn't work across all files open in the folder. Easiest thing to do is use Ctrl+Shift+F, make sure the regex search is enabled, and type in '\n'. You get an error message that '\n' is not supported.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 1

[2018-10-01 18:28] w9jds commented on #57507
I'm interested in looking into this if that is alright.

[2018-10-01 18:29] myuseringithub commented on #13138
How is `code` & `code-insiders` run without the `.exe` extension ? Is an alias build into the Linux WSL distro ?
Can I do the same for `docker` command, so it would feel native ?

[2018-10-01 18:30] misolori commented on #58893
@diogoan can you provide more info on how you're setting the tile colors and if you're using any windows customizations? I'm also using Win10 1803 and am not able to repro:

![image](https://user-images.githubusercontent.com/35271042/46308005-5603d900-c56d-11e8-86c1-71504cf359a7.png)

![image](https://user-images.githubusercontent.com/35271042/46307950-32d92980-c56d-11e8-91f6-53a342d2bbc3.png)

[2018-10-01 18:32] mjbvz commented on #59708
This seems like a bug with code stream. I believe they are somehow causing `webview.html` to be opened as a text document instead of as webview content. It's possible they are using the old `TextDocumentContentProvider` API but I'm not sure. Using the new Webview API this should never be possible

Please file the issue upstream

[2018-10-01 18:32] #59708 closed

[2018-10-01 18:35] mjbvz commented on #59723
Is `example2` inside of a class? Is a declaration (using `let`, `const`, or `var`), or just a normal assignment?

[2018-10-01 18:35] mjbvz commented on #59702
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-10-01 18:37] mjbvz commented on #59690
This issue was moved to Microsoft/TypeScript#27481

[2018-10-01 18:37] #59690 closed

[2018-10-01 18:37] Tyriar commented on #59760
Can you show the problem in a screenshot?

[2018-10-01 18:39] #59737 closed

[2018-10-01 18:40] myuseringithub commented on #13138
I guess the VS Code installer just adds a specific entrypoint for Linux into bin files (`code` file containing #!/usr/bin/env bash) that are added to the PATH variable.

[2018-10-01 18:41] Tyriar commented on #57452
@alexr00 tasks need to finish though and they won't if you just launch the shell and run some stuff. Also I think that would be a pretty radical departure from the current design.

[2018-10-01 18:45] alexr00 commented on #57452
In that case, the task and `shellArgs` that @chrmarti tested with shouldn't work.

[2018-10-01 18:45] garyking commented on #59680
Yeah I have been having this problem for months, but I have never been able to purposefully reproduce it. It happens about once a day. I have never seen anyone else report this.

I was able to reproduce this once, by simply opening a VSC workspace, then opening a new document, typing random text, then closing it and choosing "Don't save". This tells me that whatever causes it, isn't some action th

[2018-10-01 18:48] #59176 closed

[2018-10-01 18:50] dalemanthei opened #59773 "Filter explorer view to show only changed files and directories"
The explorer currently highlights files which are new or changed from the latest in the SCM. It would be nice to have a command toggle (via ⌘⇧P) to show only these files.

In our case we have a mono-repo style of project and similar or even same named files are very common. It requires care to pick (⌘P) the one based on the folder name. If the explorer could remove unchanged files finding and sele

[2018-10-01 18:51] int19h commented on #13138
Seconding the X410 recommendation for GUI. Also, take a look at this for easy setup:

https://whitewaterfoundry.com/WLinux/

[2018-10-01 18:59] mjbvz commented on #51704
After further discussion with the VS Code team, we have decided to revert this addition with f2f8b7cb08d80184d1df76234b236760ae9a72f5 See that commit for an explanation of why we feel this is the correct decision for guiding users to a better toml experience and for maintaining VS Code itself

[2018-10-01 18:59] roblourens opened #59774 "Search action links can't be activated by keypress"
- Do text search that returns no results
- Focus "Open settings" by tabbing
- Press space or enter
- It should activate the link, but nothing happens

[2018-10-01 19:09] nehayward commented on #31372
Is this still ope? If so I can work on this.

[2018-10-01 19:13] sean-mcmanus commented on #50140
@aeschli Atom has switched to tree sitter for C++ and no longer fixing issues with Text Mate: https://github.com/atom/language-c/issues/232#issuecomment-426018195 . Please advise on how we should proceed for improving the C++ syntax highlighting/etc. experience.

[2018-10-01 19:22] connorshea commented on #43098
mdn/data v2.0.0 now includes `place-items`, just need to update to that version :)

[2018-10-01 19:28] Lovecircle opened #59776 "[folding] when going through search results, collapse region again"
- VSCode Version: 1.27
- OS Version: Win 7 x64

Steps to Reproduce:

Issue #1:
1. When I search for something and go through search results, if a result is located in the folded block of code - this block will be unfolded even though very often I do not need to change it - all I need is to see that this search result is not what I was looking for.

Now:
![3](https://user-images.githubusercontent.c

[2018-10-01 19:30] gbobva opened #59777 "Cyrillic display issues when saved in ps1 format"
Issue Type: <b>Feature Request</b>

Проблемы при отображении кириллицы при сохранении файла в формате *,ps1.
Символы на кирилице в окне редактора Visual Studio Code отображается нормально. Но при выполнении скрипта в консоли, либо при открытии в Powershell ISE кодировка сбивается.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows

[2018-10-01 19:32] paul321 opened #59778 "Pleaaaase make a better app icon."
Here is a screenshot from Windows 10, the app icon it's almost invisible.
![untitled-1](https://user-images.githubusercontent.com/555502/46311132-ebcd5180-c5c9-11e8-91fe-7064e383f625.jpg)

[2018-10-01 19:36] maxbrunsfeld commented on #50140
:wave: Just to reiterate - the Atom team doesn't intend to disrupt other apps like VSCode that are using modules like `language-c`. We will definitely continue to accept good PRs that update the text-mate grammar.

The reason that we've been closing issues like that is just to be explicit about the fact that our team won't be prioritizing work on them in the future, since Atom is moving away from

[2018-10-01 19:36] georgekarapi commented on #59750
Same here

[2018-10-01 19:39] connorshea commented on #8323
I think https://github.com/Microsoft/vscode-css-languageservice/issues/93 is relevant to this issue?

[2018-10-01 19:55] octref commented on #43098
OK, will do next month. Thanks!

[2018-10-01 19:57] RMacfarlane commented on #59771
This isn't supported yet in global search - https://github.com/Microsoft/vscode/issues/13155

[2018-10-01 19:57] #59771 closed

[2018-10-01 20:00] connorshea commented on #47775
I _think_ this'd be where the custom properties would be injected?: https://github.com/Microsoft/vscode-css-languageservice/blob/5d43b341a3b149bcabc3e178ada73ef0b876f2f3/src/services/languageFacts.ts#L777

[2018-10-01 20:04] divayprakash commented on #23591
@joaomoreno I'd be interested in taking this up. Could you help me as to how I should proceed with the same?

[2018-10-01 20:06] graph commented on #59628
so I've been using both versions stable and experimental. And so far both of them are behaving fine. Once I'm focused on triggering a bug it's so much more harder to trigger it lol.

[2018-10-01 20:08] MashMathias opened #59780 "Save and sync extensions to the cloud"
I would like to use my outlook account (or other Microsoft account) to save and sync settings and extensions across all my machines running Visual Studio Code.

[2018-10-01 20:10] weinand commented on #59746
@davidcummingsaapl please file this request against the [DAP](https://github.com/Microsoft/debug-adapter-protocol/issues) since this feature requires a protocol change.

[2018-10-01 20:10] #59746 closed

[2018-10-01 20:11] omerlh commented on #44020
Is there anything else left to do to close this issue?

[2018-10-01 20:28] dralley commented on #59526
@bpasero Do you know when the patch will be released via the standard channels?

[2018-10-01 20:29] Ash258 commented on #42275
Sure.

[2018-10-01 20:31] PrashanthCorp opened #59782 "[Extensions] [Explorer] [Multi select] - when command is specified to show using resourcelang, it shows in context menu inconsistently"
[Github reference](https://github.com/Microsoft/vscode-cosmosdb/pull/831/files#r221035893)
1. In an extension create a command with a when clause contraining the resourceLangID, say JSON.
2. In extension host, open a workspace with multiple file types.
You can skip 1&2 by cloning vscode-cosmosdb , at the branch ps/ImportDocuments, at this commit:  62fd48101811551977af592168751bcb969213a8

3. Selec

[2018-10-01 20:33] schollii commented on #6614
In 1.27.1 can see in the SCM view, there is a hash and then the word "rebasing", but I'm not seeing anywhere a way to continue the rebase.

[2018-10-01 20:34] mitchellpalermo commented on #59656
@alfiepoleon I have the same grep output when I search the PID.

[2018-10-01 20:38] alexr00 commented on #59379
These are the non-word characters right now: ` ~!@#$%^&*()_+`-=[]{}|\;:"\',./<>?`. Looks like underscore should be removed. Are there any others that stand out?

[2018-10-01 20:45] #59765 closed

[2018-10-01 20:51] gersilex commented on #21719
As @tesseslol did not answer, yet, I am willing to try and develop an extension or this feature on my own and have it reviewed by you.

@bpasero Can you point me in the right direction where I could find the actions that get fired, when the sash is dblclicked? It also might to subscribe to an event that gets emitted when the file-exporer content changes, but that's second on my list.

Thanks in ad

[2018-10-01 20:53] RMacfarlane commented on #59780
Duplicate of https://github.com/Microsoft/vscode/issues/2743

There's a settings sync extension that can help with this: https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync

[2018-10-01 20:53] #59780 closed

[2018-10-01 20:57] rebornix commented on #59383
@bpasero we get the folding model asynchronously so the folding regions are restored after the selection is set. The sequence of navigating to an invisible editor and setting selections is

* File open
* Restore view state --- > [Folding.restoreViewState](https://github.com/Microsoft/vscode/blob/8ab695c975bc33870b53805aa5e2929c40461cc4/src/vs/editor/contrib/folding/folding.ts#L151)
* [editor.setSe

[2018-10-01 20:59] Shobhit1 commented on #58176
Awesome. Good luck. @Moniarchy

[2018-10-01 21:00] garethc123 opened #59784 "Code is slow to open - usually 10 - 20 seconds"
Issue Type: <b>Performance Issue</b>

I find that Code is /very/ slow to open sometimes. For example, I have a simple text document on the desktop. When I double click it to open it in Code, it can take anywhere from 10 to 20 seconds before the file is acutal open. The file isn't very big either - maybe 300 lines, 500 words, white quite a lot of white space. Once open it performs very well...

Is

[2018-10-01 21:25] Ash258 opened #59787 "[SCM] Capture git hook output to SCM output panel"
Vscode should be able to capture output of git hooks and append it to scm output panel.

See: https://github.com/Microsoft/vscode/issues/42275#issuecomment-425906395

- Version: 1.28.0-insider
- Commit: 83d5a29433d7f576b59db8019575a0c9dc78a967
- Date: 2018-10-01T13:31:33.485Z
- Electron: 2.0.9
- Chrome: 61.0.3163.100
- Node.js: 8.9.3
- V8: 6.1.534.41
- Architecture: x64
- OS Version: Windows 10 18

[2018-10-01 21:27] MarkPhillips opened #59788 "File Context Menu "Split <direction>" Should Remove Initial File From Editor"
Issue Type: <b>Bug</b>

Open File
Right Click File Tab
Select Split Right
File Correctly Moves To New Grouping On The Right
But Original File Remains Open In Old Grouping
(I use Split to be able to view multiple files at one time.  To me, leaving duplicate files open is unneeded noise.)

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: W

[2018-10-01 21:28] alexr00 opened #59789 "How should `terminal.integrated.shellArgs.windows` and tasks work together?"
Full context here: #57452

It looks like `shellArgs` and tasks are competing. For example:

    "terminal.integrated.shell.windows": "cmd.exe",
    "terminal.integrated.shellArgs.windows": [
        "/k",
        "C:\\devel\\fresh\\echo.bat"
	]

and

      {
            "taskName": "echosomething",
            "type": "shell",
            "command": "echo",
            "args": [
                "H

[2018-10-01 21:29] alexr00 commented on #57452
The original issue where the terminal was incorrectly escaping has been fixed. Opened a new issue to figure out how to reconcile `shellArgs` and tasks. #59789

[2018-10-01 22:12] mjbvz commented on #59437
Opened https://github.com/Microsoft/TypeScript/issues/27487 to track this upstream

[2018-10-01 22:12] #59437 closed

[2018-10-01 22:16] ipip2005 commented on #59784
Duplicate of #56644?

[2018-10-01 22:32] briemarie commented on #28432
Just adding another +1 to the issue occurring on OSX. I have to quit VS Code to get new generated files (protobufs, mocks, etc) to show up in the tree.

[2018-10-01 23:11] jeffmcaffer commented on #1746
I have this problem as well using Node's `util.promisify` (in v 8.9.4). Using the sample below and running from vscode, you would expect "just cause" to pop out on the console. Instead, the debugger stops with "Exception has occurred: Error" (see screenshot below). Continuing the execution works just fine but it means you have to run with `Uncaught Exceptions` turned off which of course, is a chal

[2018-10-01 23:13] Jaakkonen opened #59790 "[Build] Add yarn script for executable optimized build"
Hi!
There's currently only yarn macro for unoptimized build (watch).
I'd suggest a new macro:
[code]
That'd enable developers and foil hats to use only the open source parts of vscode easier.

[2018-10-01 23:16] pmunin opened #59791 "Javascript intellisense import should respect field package.json/module"
Package.json file has a field "module" ([proposal](https://github.com/dherman/defense-of-dot-js/blob/master/proposal.md)). When I edit package.json, vscode obviously aware of this field as it shows description for it:
![image](https://user-images.githubusercontent.com/7120440/46320659-6e93e380-c5ad-11e8-95ea-928afedc4910.png)

However when I try to import this package from another module, intellis

[2018-10-01 23:17] jcklpe commented on #59587
@rebornix

I have an update. I found that the reason it was was crashing is because there were other instances of vscode open in the background on a different screen. So it appears that vscode can't open in admin mode if there is another window of it open elsewhere.

Once I figured this out, I was able to close all other windows and edit my custom css injection like normal. The initial problem wit

[2018-10-01 23:18] Jaakkonen opened #59792 "[Build] Non-working build made by gulp optimize-index-js"
- VSCode Version: Commit 09c738074e6f186903117a97a58a077cd9723278
- OS Version: Fedora 28 kernel 4.18

Running build gotten by gulp optimize-index-js fails on Cannot find module 'minimist'

Steps to Reproduce:

1. Build by runnint gulp optimize-index-js
2. Execute electron out-build/main.js
3. Cannot find module 'minimist'
[code]

Does this issue occur when all extensions are disabled?: Yes (Elect

[2018-10-01 23:33] auchenberg opened #59794 "Integrated terminal isn't accessible with JAWS and NVDA"
_Report from Ryan Shugart over email_

I have some unfortunate news, I just tried to use the terminal in VS Code with both JAWS and NVDA, and it doesn’t seem to be working for me.  I also had Tamas who is joining our team and is a big NVDA user and more familiar with VS Code overall than me try the terminal and he couldn’t get it to read properly either.  We made sure screen reader mode was turned

[2018-10-01 23:43] StephenWeatherford commented on #58388
Works for me, too.  Thanks!

[2018-10-01 23:51] andreixk commented on #59656
output of `code --status`:

[code]

as for disabling extensions, once i do that, i have to restart VSC, but if i restart, the helper goes back to normal CPU usage regardless, so it's hard to tell what fixes it

[2018-10-02 00:05] mumeiyamibito commented on #58918
@chrmarti

I found the cause of this issue.
This issue is occured when `"git.enabled"` is `false`.
I confirmed on "Insert Date String", "Table Formatter", and "join-lines" extensions.

Thus, git function in vscode triggered this issue.

[2018-10-02 00:12] SE2Dev commented on #57238
The original issue that I was experiencing appears to have been caused by git treating the source files as binary for one reason or another, when the encoding changed it treated it rather strangely, yet VSCode still tried to load them as text files. It appears that git itself was the cause. I ended up fixing the issue by pushing the branch to GitHub (which previewed the files correctly despite the

[2018-10-02 00:32] vipulgupta2048 commented on #59778
A good hack around this would be to change the Windows color bar through the settings > appearance. Some lighter colors or black would be good. Logo's are made of colors, this problem would arise in any logo that would be made.

[2018-10-02 00:32] jramsay opened #59795 "[VS Live Share] localPath not found on debug configuration on guest restart"
Version: 1.27.2 (user setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64
OS: Window 10

Steps to Reproduce:

Install Latest VS Live Share extension on Insiders
1.  Host: Share a Node JS App, set a breakpoint and start debugging
2. Guest: Join collaboration session (guest automa

[2018-10-02 00:32] strugee opened #59796 "Please consider opening the source for the website"
I was looking at code.visualstudio.com just now and thought it would be nice to add a link to the source code under the big green download button - after all, it is open source :-)

I would have sent a PR but AFAICT the website code is not actually open. It would be super rad if it was.

[2018-10-02 00:37] RMacfarlane commented on #59777
Using Google translate:

Cyrillic characters in the Visual Studio Code editor window are displayed normally. But when the script is executed in the console, or when opened in Powershell ISE, the encoding is lost.

@gbobva What is the encoding of the file? There is an indicator in the status bar that shows this and can be used to change the encoding:
![screen shot 2018-10-01 at 5 32 35 pm](https://

[2018-10-02 00:43] RMacfarlane commented on #59756
Closing as a duplicate of https://github.com/Microsoft/vscode/issues/52116

[2018-10-02 00:43] #59756 closed

[2018-10-02 00:51] HereThereBeMonsters commented on #24166
I have the same issue in Kubuntu 18.04.1. Interestingly, I have the issue in IntelliJ 18.2 too.
I use a different layout on my laptop keybopard an external keyboard. When coding, I usually use the external keyboard, so the ordering workaround solved the problem in both programs for me.

[2018-10-02 01:17] octref commented on #59796
The code is open source, and all the content of the website is open source at https://github.com/microsoft/vscode-docs, but unfortunately we cannot open source the website. There are many reasons, one of them being that the website code often contains internal content that cannot be shared until certain point of time. Thanks for understanding.

[2018-10-02 01:17] #59796 closed

[2018-10-02 01:36] rodrigoestevao opened #59799 "Fail to copy big content"
Issue Type: <b>Bug</b>

I'm trying to copy a text with more or less 90MB and the VS just brokes. If the file is bigger (~ 180MB) it is broking just when the text is being seleced.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.15.0-34-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen

[2018-10-02 01:51] nudefireninja opened #59800 "Click on background window clears selection"
- VSCode Version: Code - Insiders **1.28.0**-insider (83d5a29433d7f576b59db8019575a0c9dc78a967, 2018-10-01T13:24:08.681Z)
- OS Version: **Darwin x64 13.4.0** (Mac OS 10.9)

Steps to Reproduce:

1. Select some portion of code.
2. Switch to another window or application.
3. Click on the original window (somewhere on the code).

Expectation: the clicked window should become active and **the previous

[2018-10-02 02:04] mjbvz opened #59801 "search-rg extension should use shared tsconfig"
Replace the `search-rg` extension 's custom tsconfig with one that extends our new shared tsconfig:

[code]

This shared tsconfig will ensure that all of our extensions target the same environment. It will also help enforce consistent code quality standards across extensions.

As part of adopting the shared tsconfig, code changes are needed in the `search-rg` extension to make sure it can build in

[2018-10-02 02:05] miguelsolorio opened #59802 "Update: Add progress to update download operation"
When on a slower connection (either client or server), it's impossible to tell at what stage the "Downloading Update..." is at, which leads you to think it may be stuck.

<img width="56" alt="image" src="https://user-images.githubusercontent.com/35271042/46325383-d564cd00-c5ac-11e8-92b4-ccc702069fc2.png">
<img width="201" alt="image" src="https://user-images.githubusercontent.com/35271042/46325378

[2018-10-02 02:06] mjbvz opened #59803 "emmet extension should use shared tsconfig"
Replace the `emmet` extension 's custom tsconfig with one that extends our new shared tsconfig:

[code]

This shared tsconfig will ensure that all of our extensions target the same environment. It will also help enforce consistent code quality standards across extensions.

As part of adopting the shared tsconfig, code changes are needed in the `emmet` extension to make sure it can build in strict

[2018-10-02 02:16] ntpttr commented on #58630
I'd like to give this a shot and assign the issue to myself.

[2018-10-02 02:17] jlamb1 opened #59804 "cpu 100%"
Issue Type: <b>Bug</b>

I've been trying to fix this for months and can't seem to get this to work. I've tried disabling all extensions, monitoring processes in devtools, setting files.exclude and files.watcherExclude to exclude node_modules and vendor files - nothing seems to work. This is a 2017 macbook pro, 2.9Ghz processor with 16BG ram and discrete graphics, and I cannot run this app without

[2018-10-02 02:38] denosawr commented on #59711
I assume you're referring to the Markdown Preview display?

[2018-10-02 03:06] FizzBuzz791 commented on #23591
This seems to be working in version 1.27.2, can you confirm @stef-levesque ?

[2018-10-02 03:33] ntpttr commented on #58630
Pull request is available for this here: https://github.com/Microsoft/vscode/pull/59806

[2018-10-02 03:38] Jack-Barry commented on #12463
This would be an awesome feature to have, and I've found some behavior that might be helpful. My project's structure is basically the following:

[code]

The idea is that all configuration can be kept in one place and not have to litter the root directory. Now, with the proper setting in Webpack config, I am able to use the `paths` from `tsconfig.json` to set aliases. Everything compiles nicely an

[2018-10-02 04:20] Kulkinz opened #59807 "Make it easier to add a javadoc to a .jar file"
I've switched over to VSCode since FRC is now supporting this as it's official IDE. I've set up .jar files for my robot code, yet I can't seem to figure out how to attach a Java Source Attachment, a way to show what each class does, to the jar. Nothing seems to work. It's different from Eclipse where I could just right click the jar and go to settings.

My request is just for a simple way to attac

[2018-10-02 04:27] Raydir commented on #31372
@nehayward  you would be my hero :P

[2018-10-02 04:46] roblourens commented on #59237
Just a heads up @digeff, I am working on this to package node-debug2 with webpack. It shouldn't change anything about the debug adapter is run. But let me know if you have any concerns.

[2018-10-02 04:50] bpasero commented on #58928
@sbatten I think we need the same trick on Windows as well (keep old menus around for a bit).

[2018-10-02 04:52] wad3g commented on #59804
I've been experiencing the exact same issue(s) as @jlamb1 and have tried all of the potential solutions mentioned above on my 2018 MacBook Pro.

I'm not sure how this issue and Docker are associated, but killing the Code Helper process in Activity Monitor temporarily solves the problem, sometimes.

[2018-10-02 04:52] bpasero commented on #59752
@eamodio you were using insiders right? any way to reproduce?

[2018-10-02 04:53] garyking opened #59808 "CLI or URL option to open workspace and a file within it"
Please make it possible to not only open a workspace or file via CLI or URL, but to instead combine them both, and be able to open a VSC workspace and a file within it.

At the moment, I am able to open a workspace in VSC, or a file (but only within the current window), but not both.

[2018-10-02 04:54] bpasero commented on #59680
Yeah please do.

[2018-10-02 04:56] bpasero commented on #59656
@andreixk please run the code --status when you see the high CPU spike.

[2018-10-02 04:56] bpasero commented on #59784
/duplicate https://github.com/Microsoft/vscode/issues/56644

[2018-10-02 04:57] #59784 closed

[2018-10-02 04:58] bpasero commented on #59788
I am closing this "as designed", I do not plan to change this. The split icon makes it clear that you will end up with 2 editors.

[2018-10-02 04:58] #59788 closed

[2018-10-02 05:01] pixieaka commented on #52629
Electron 3.0.2 1.29.0 Exploration ( user setup )
Error 1
![capture](https://user-images.githubusercontent.com/17777237/46329921-c57ed480-c610-11e8-883b-5bb96e21c349.JPG)

Error 2
![capture2](https://user-images.githubusercontent.com/17777237/46329961-d29bc380-c610-11e8-8731-ab0512832e04.JPG)

[2018-10-02 05:01] saidbakr opened #59809 "Vue file type configuration setting does not be saved"
Issue Type: <b>Bug</b>

1. Open any .vue component file.
2. From the bottom status blue bar, click on the "Vue" text with tooltip "Select Language Mode.
3. From the menu select "Configure Vue language based settings..."
4. In the search settings field, enter "match"
5. In the item titled "Editor: Match Brackets". Check the checkbox "Highlight matching brackets..."
6. Return back to any .vue file,

[2018-10-02 05:09] eamodio commented on #59752
Yeah, I was using insiders. I don't really know how to get into that situation -- although I have seen some strange issues (nothing I can repro reliably to really report) with debugging extensions with webviews (because they leave behind empty editor groups on reload) and very infrequently when I close one of the empty editor groups it will error out. But normally it doesn't really cause any issue

[2018-10-02 05:09] #57421 closed

[2018-10-02 05:10] bpasero commented on #52629
@pixieaka yeah, extra points if someone can find out which code is triggering Error1. The second error is expected because we have not released release notes for 1.29 yet.

[2018-10-02 05:12] #59094 closed

[2018-10-02 05:13] pixieaka commented on #52629
Electron 3.0.2 1.29.0 Exploration ( user setup )
----------------------------------------------------------------
Error 1
------------------------------
![capture](https://user-images.githubusercontent.com/17777237/46330067-640b3580-c611-11e8-9161-e07c2e2e9635.JPG)

Error 2 [ Note: When I press Release Notes from about it open web page in my default browser ]
------------------------------
< https

[2018-10-02 05:16] AjawadMahmoud opened #59810 "Nested git repo can't be seen by code"
- VSCode Version: 1.27.2
- OS Version: Windows 10, macOS High Sierra

Steps to Reproduce:
1. Clone a repo.
2. Create a folder in the repo folder.
3. Add the folder to `.gitignore` so that parent folder doesn't track it as a submodule.
4. Clone another repo in the child folder.
5. Open parent folder in code.
6. Code would only show the parent repo, not the nested repo in the child folder.

Does thi

[2018-10-02 05:28] bpasero commented on #59752
I have pushed https://github.com/Microsoft/vscode/commit/f0bfe7ce71b28e91b70c42622bce087f5e03807f to never fail restoring the grid as a workaround (I used to have that code before).

[2018-10-02 05:33] AjawadMahmoud commented on #37947
The reverse order works, but screws up intillisense. My python modules from the child folder won't be able to access parent folder package causing all my child package modules to report errors of undefined module.
I'd suggest adding settings value to the workspace file where it would automatically populate at generation time all the auto-detected git repos. Then, we can manually set the additional

[2018-10-02 05:35] PembaTshiring opened #59811 "Importing Model Classes in laravel projects."

[2018-10-02 05:38] beastdestroyer commented on #59778
Perhaps have it have a dark background like it does as a start tile

[2018-10-02 05:58] GordonSmith commented on #46585
For my use case I would like to host a WebView as a Bottom Panel.  Think of the scenario where a user is submitting SQL from the editor and wants to see the results (ideally in the bottom panel).

[2018-10-02 06:00] id0Sch commented on #59804
I am having the same issue, I think I have isolated it to the Code Helper that runs the typescript server.
For me it happens in medium sized projects who run typescript, when going to . a definition or opening the auto-complete menu - it skyrockets to 100% and will stay there forever.

[2018-10-02 06:02] JonWallsten commented on #55827
@mjbvz Any time in starting me up on this?

[2018-10-02 06:19] juristr commented on #59725
@roblourens 🙈damnit. path changed after last git pull...sorry 😅

[2018-10-02 06:19] #59725 closed

[2018-10-02 06:21] zgjff opened #59812 "can not open on fedora 29"
- VSCode Version: 1.27.2-1536736788.el7
- OS Version: fedora 29

[2018-10-02 06:26] chrisdlangton opened #59813 "Python debugging, call stack and variables panes are blank when paused on breakpoints"
searched 3 pages of existing issues that had 'python' or 'debug'

- VSCode Version: both `code-insiders_1.28.0-1538437803_amd64.deb` and `code_1.27.2-1536736588_amd64.deb` (today's stable and insiders)
- OS Version: Ubuntu (4.15.0-34-generic)

Steps to Reproduce:

1. `dpkg -P code; apt purge code vscode; snap uninstall vscode; mv ~/.vscode/ ~/BACKUP/.vscode; mv ~/.config/Code/ ~/BACKUP/.config/cod

[2018-10-02 06:28] joaomoreno commented on #6614
Once you commit in the viewlet, `git rebase --continue` will be executed instead of `git commit`.

[2018-10-02 06:28] joaomoreno commented on #59787
I suggest to do this behind a feature flag.

[2018-10-02 06:32] bm-stschneider opened #59814 "Indentation changes to wrong value"
Issue Type: <b>Bug</b>

I have set the editor tabSize for twig files to 4 I also have a twig extension which has the tabSize set to 4 spaces.
As soon as I leave the settings the tabSize is changed to 2 spaces and I do not know why it changes.
![image](https://user-images.githubusercontent.com/30625381/46332653-a76ba100-c61d-11e8-82ca-ab809161f3ca.png)
When I look at indent using spaces I see that

[2018-10-02 06:48] joaomoreno commented on #59605
Can you reconfirm that the issue still reproduces with no plugins loaded? You have to shutdown Code and run with `code --disable-extensions`.

[2018-10-02 06:48] joaomoreno commented on #59611
This has been fixed in the last month. Will be out in the next release. The status bar will track the currently open file.

[2018-10-02 06:48] #59611 closed

[2018-10-02 06:50] joaomoreno commented on #59618
Git will refresh its state due to file change events, at most once every 10 seconds. So your workspace must have some file change events occurring. Does it

[2018-10-02 06:50] joaomoreno commented on #59620
Please update your VS Code to the current version: https://code.visualstudio.com/

[2018-10-02 06:50] #59620 closed

[2018-10-02 06:57] joaomoreno commented on #59673
This happened due to a failed update, unfortunately. Can you fully reinstall VS Code?

[2018-10-02 07:00] joaomoreno commented on #59762
Unfortunately, this resulted from the keybindings refactoring a long time ago by @alexandrudima. Even though the type of the handler is now `void`, I'm not brave enough to believe that it will always be `void` at runtime. Closing it as I intend to kill this tree.

[2018-10-02 07:00] #59762 closed

[2018-10-02 07:02] #59764 closed

[2018-10-02 07:04] joaomoreno commented on #59802
We can do it for Windows and Linux but not for macOS: https://github.com/electron/electron/issues/10859

[2018-10-02 07:09] jpike88 opened #59815 "Typescript auto-import and import suggestions not picking up alias path in compilerOptions"
- VSCode Version:1.27.2
- OS Version:MacOS Mojave

Steps to Reproduce:

1. in the following path ```/myproject/server/src/tsconfig.json``` I have my tsconfig.json:

[code]

2. In the path ```myproject/server/src/components/A.ts``` I want to auto import a class from the file ```myproject/server/src/components/B.ts```. I want my alias ```@server``` to be mentioned, or even better used by default.

3

[2018-10-02 07:19] DanTup commented on #35350
I'd like this too - is there any way to make this work today?

[2018-10-02 07:20] nc-jfkh commented on #10026
Any update here?

[2018-10-02 07:29] dbaeumer commented on #59790
@Jaakkonen I am not understanding what you are suggesting. Adding additional scripts to  the package.json ?

[2018-10-02 07:30] #59733 closed

[2018-10-02 07:31] bpasero commented on #59733
I fixed this and @jrieken will look into making the actions disposable so that we are not leaking this newly introduced listener.

[2018-10-02 07:32] joaomoreno commented on #59752
@eamodio Nice move with saving that `editorPart.state`!

[2018-10-02 07:36] eamodio commented on #59752
Thanks 😄. I had tried to debug it, but not knowing the code and dealing with source map line/breakpoint issues I gave up and just captured the state.

[2018-10-02 07:38] dbaeumer commented on #59789
Users currently can override the shell and shell args in tasks if they are unhappy with what is defined in `terminal.integrated.shellArgs.*` using the `options.shell` property. In the above example tasks builds the following command line

`cmd.exe /k C:\\devel\\fresh\\echo.bat /d /c echo HERE`

which also wired is something we can easily explain.

Not honoring shell args will very likely be fine a

[2018-10-02 07:39] josefhosek commented on #59744
@isidorn Thank you very much! This would make life of some localizers a lot easier.

[2018-10-02 07:40] sandy081 commented on #59707
In Settings Editor default Find command focuses to Search box. You can use Edit -> Find to open find box in the file. If you want that to be default behaviour you can update following in `keybindings.json` file

[code]

[2018-10-02 07:41] dbaeumer commented on #50448
@tksuoran currently the problems are cleared when the task is rerun.

[2018-10-02 07:42] dbaeumer commented on #59601
@jrieken thanks.

[2018-10-02 07:42] jrieken commented on #31372
@nehayward Go for it!

* this is were the [model](https://github.com/Microsoft/vscode/blob/72fcd264c552ddd94dfbd0807813ba938d8af8d2/src/vs/workbench/services/keybinding/electron-browser/keybindingService.ts#L157) and [json schema](https://github.com/Microsoft/vscode/blob/72fcd264c552ddd94dfbd0807813ba938d8af8d2/src/vs/workbench/services/keybinding/electron-browser/keybindingService.ts#L206) is def

[2018-10-02 07:54] #59587 closed

[2018-10-02 07:55] #44020 closed

[2018-10-02 07:56] isidorn commented on #56812
No need to reopen, there is already a duplicate here https://github.com/Microsoft/vscode/issues/59368

[2018-10-02 07:56] #56812 closed

[2018-10-02 08:04] NimaZahedi commented on #47727
@jrieken Do we need to do anything here at all? I'm confused!
It seems *locality bonus feature* has been implemented already!

[2018-10-02 08:04] isidorn commented on #59572
@rjmholt `isWrapped` issues is fixedi n latest vscode insiders. Please let me know if now everything works fine.

[2018-10-02 08:06] isidorn commented on #59807
You did an issue just good, however we prefer to seperate issues per extension. So please file this issue in the java extension here
https://github.com/redhat-developer/vscode-java
Or whatever other java extensions you arae using

[2018-10-02 08:06] #59807 closed

[2018-10-02 08:08] #59752 closed

[2018-10-02 08:10] isidorn commented on #59753
We could show a default message if there are no editors and no groups open. Let's keep this open as a feature request for now.

[2018-10-02 08:11] egamma opened #59816 "Settings: field to edit files.exclude is too small"
pls screenshot below, I have to scroll in the field and there is space to make it more wide.

![image](https://user-images.githubusercontent.com/172399/46336561-75613b80-c62b-11e8-82eb-a4610764ad94.png)

[2018-10-02 08:12] isidorn commented on #59770
VSCode already supports custom tree views via extension API, so this is a question if an extension would support this.
Since you are interested in R and Python it would be best to head over to those extensions github repos and ask them this question.

[2018-10-02 08:12] #59770 closed

[2018-10-02 08:12] #55993 closed

[2018-10-02 08:12] JohanssonDaniel commented on #59753
Hi @isidorn I'm looking to make a first contribution to this project. Would this be a good issue to start with?

[2018-10-02 08:14] aeschli commented on #59657
To select a folded range is not really difficult. Place cursor at the beginning of the line with the folding marker, press Shift+down.

But I can look into selecting the full range when clinking on the the line number.

[2018-10-02 08:17] isidorn commented on #59753
@JohanssonDaniel yeah, this might be a good issue not 100% sure.
Code pointer https://github.com/Microsoft/vscode/blob/f25e9c1069f964f015b8081a4f5d2357d7a93f9f/src/vs/workbench/parts/files/electron-browser/views/openEditorsView.ts#L45

If it proves more complicated than you anticipated than I would suggest looking for issues tagged with "help-wanted" and "good-first-issue"

[2018-10-02 08:18] aeschli commented on #59657
https://github.com/Microsoft/vscode/blob/d848101d9dcdfefa839e3fe194686b78132ced58/src/vs/editor/common/controller/cursorMoveCommands.ts#L194

[2018-10-02 08:19] JohanssonDaniel commented on #59753
@isidorn thank you so much. I will look into it and report back!

[2018-10-02 08:19] jrieken commented on #47727
:-) yeah, I think with the locality bonus we are in a pretty good spot. having said that, it's pretty language agnostics by design and more or less works by looking at brackets only. TypeScript, having all the knowledge, will likely be better at computing those orders but lets see how far we get here

[2018-10-02 08:21] isidorn commented on #59782
@PrashanthCorp thanks for the nice issue report, however I think this is designed behavior.
The context menu enablement is based on the primary selected resource and that is always the one you clicked upon. So even if the selected group is the same we make a distinction based on the primary click.
The reason why we need a primary selected resource is that the context enablement only happens based

[2018-10-02 08:21] #59782 closed

[2018-10-02 08:27] aeschli commented on #59686
@octref Pine, can you help translating. Seems to me like this is about Vue?

[2018-10-02 08:30] aeschli commented on #59692
duplicate of #670

@tiwarinitin94 Please try one of the PHP extensions: Intelephense and PHP:
- [PHP IntelliSense](https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-intellisense)
- [PHP Intelephence](https://marketplace.visualstudio.com/items?itemName=bmewburn.vscode-intelephense-client).

[2018-10-02 08:30] #59692 closed

[2018-10-02 08:30] paul321 commented on #59778
I know i can change my task bar color, but we are in 2018 almost 2019 and this icon is really poorly designed with just one color someone rush it out.

[2018-10-02 08:33] isidorn commented on #59368
In order to fix this I suggest to introduce a new option to the [IGlobOptions](https://github.com/Microsoft/vscode/blob/f25e9c1069f964f015b8081a4f5d2357d7a93f9f/src/vs/base/common/glob.ts#L258)
Something like `allowBasenameWithDot` and only explorer would opt into this.
Though @bpasero would be better to comment on the `glob.ts`

[2018-10-02 08:37] aeschli commented on #59695
I'm able to reproduce by changing the line height to 30.
@beastdestroyer Is that the setting you have? Any other settings that you have?

@misolori I guess this got introduced by https://github.com/Microsoft/vscode/commit/615fd2c63813c9f6f561ba80a841c3ac9bfc8625