[2017-07-11 10:56] #29536 closed

[2017-07-11 10:58] aeschli commented on #29252
@bpasero Can you have a look at @jrieken screen?

[2017-07-11 11:01] mirague commented on #5011
@ramya-rao-a @bpasero I'm on version `1.13.1`

[2017-07-11 11:03] aeschli commented on #29464
@dbaeumer My understanding is that you look into changes to the LSP?
Something like:
- adding the multi root info on the `initialize` call
- for configuration, change to an ordered list of { folderUri, settings: any)) or we just add folder settings to the settings map (no API change)

[2017-07-11 11:09] aeschli commented on #29895
[code]

[2017-07-11 11:12] aeschli commented on #29873
This issue was moved to Microsoft/vscode-cpptools#875

[2017-07-11 11:12] #29873 closed

[2017-07-11 11:12] leonsalayog commented on #29983
I've already disabled all my extensions but still no avail. By the way, I'm editing a wordpress .php file here. Maybe if you try it on a .php extension you can replicate my commenting bug.  Imgage attached.

Thanks
![vs code bug report](https://user-images.githubusercontent.com/13758360/28065804-e0b27a22-666c-11e7-845c-975bde2db76c.gif)

[2017-07-11 11:21] aeschli commented on #29425
Microsoft/vscode-css-languageservice#32 is the right place for this. Sorry for not replying earlier.

[2017-07-11 11:21] #29425 closed

[2017-07-11 11:36] ak-hpc commented on #20934
To be useful, minimap has to always show current cursor line and current viewport. Looks like current viewport showing is already implemented in insiders channel, but cursor line is not.

You can use Visual Studio minimap as a reference:
![default](https://user-images.githubusercontent.com/16664561/28066267-f9b09842-6644-11e7-9445-7c3f08483d78.png)
(VS 2013)

It replaces plain slider (there is no

[2017-07-11 11:54] ak-hpc commented on #13960
It would be very nice to have virtual space feature in vscode.

[2017-07-11 12:11] vladamx opened #30389 "[Terminal] Can't follow link which ends with #something"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:18:03.540Z)
- OS Version: Linux x64 4.10.0-26-generic
---

Steps to Reproduce:

1. Run npm/yarn info package
2. See urls like: https://github.com/npm/node-semver#readme can't be followed via ctrl+click

[2017-07-11 12:24] oliversalzburg opened #30390 "Code chokes on bunyan"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.11|
|pgsql|doublefint|0.0.8|
|EditorConfig|EditorConfig|0.9.3|
|JSDocTagComplete|HookyQR|0.0.2|
|vscode-esformatter|howardzuo|1.5.2|
|output-colorizer|IBM|0.1.2|
|vscode-puglin

[2017-07-11 12:26] djalmaaraujo commented on #25919
How can we open a new tab? I know that the `new-window-for-tab` even is available now, but can we force the event to be called? Right now we can't create a shortcut like cmd+t, correct? Is this one of the things this PR will solve?

[2017-07-11 12:48] vegarringdal commented on #28593
@mjbvz fyi,
Been using the VSCode insiders build last 3 days, and no issues like before 👍

[2017-07-11 12:49] hoovercj commented on #11393
Is this a duplicate of #14393?

[2017-07-11 13:01] johnnyreilly commented on #28593
Snap!

[2017-07-11 13:04] andselisk commented on #10821
Bumping again. A reliable *.pdf viewer that would work with synctex would indeed make life easier.

[2017-07-11 13:42] premiercoil opened #30391 "Allow Opening Symlink Directories"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: none
---

Steps to Reproduce:

1. "Open Folder" -> select a symlink/shortcut folder
2. Silently fails

Opening a local folder containing the linked folder works and allows browsing down into the linked folder.

[2017-07-11 13:51] LeoLozes commented on #11348
`F2 ` just renamed a symbol in a file that was in `node_modules`. I spent roughly one hour before understanding what was going on (because of course, the changes made in `node_modules` don't show in the git log). Is that the desired functionality?

Also, I think a small toast / hint saying "24 occurrences replaced in 10 files" would be extremely useful to ensure that you're not destroying half the

[2017-07-11 13:52] marckassay commented on #29706
@maryam-a
I believe the progress indicators highlighted in the image below needs to be in the same state during a clone.  This image was taken during a sync.
![active_indicators](https://user-images.githubusercontent.com/459665/28071669-99c7bbfc-661e-11e7-8988-90c2cea33a95.png)

[2017-07-11 13:55] chrmarti commented on #30341
Can you try starting from the command line with `code --verbose` and post the output here?

[2017-07-11 14:01] chrmarti commented on #29547
@dbaeumer Correct. Maybe the bot should check if the creator is from the team and in that case leave the bug open. It's not clear though if that will improve things overall.

[2017-07-11 14:02] weinand commented on #30390
@oliversalzburg do you see the freeze when selecting the file in the VS Code explorer (instead of clicking on a link in Debug Console)?

[2017-07-11 14:02] roblourens commented on #29811
I was seeing this yesterday when working on terminal theming, and now I can't repro... I'll watch out for it again I guess.

[2017-07-11 14:05] fredinger opened #30392 "Problem with HTML pretty print"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|vscode-color|anseki|0.4.1|
|vscode-html-css|ecmel|0.1.7|
|php-intellisense|felixfbecker|1.4.3|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.3|
|html-css-class-completion|Zignd|

[2017-07-11 14:10] chrmarti commented on #30370
Please provide more details.

[2017-07-11 14:12] leonadler commented on #7893
On arch, installing an update reverts the css file. Having a setting (preferably) or an extension (okay-ish) would be better than manually editing on every release.

[2017-07-11 14:12] chrmarti commented on #30379
@littleShy Can you provide an example?

[2017-07-11 14:14] chrmarti commented on #30392
Does it reproduce when launching with `code --disable-extensions`?

[2017-07-11 14:28] se-m commented on #13665
Hi.
I prefer to mount network shares to folders.
e.g. `mklink /d c:\proj \\server\share\foldername\`
I was faced with a problem that if you open such folder the editor does not read its settings from .vscode at all. But with same share folder mounted as disk vscode works fine.

Is there a way to force vscode work with such folders as with a network drive? (maybe list of folders in user settings)

[2017-07-11 14:28] fredinger commented on #30392
I just disabled the vscode-JS-CSS-HTML-formatter by lonefy. Now it works! Thank you very much for the tip!

[2017-07-11 14:37] #30392 closed

[2017-07-11 14:43] josh-tepper opened #30394 "Attempting to start from command line fails with ASN error"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-docker|PeterJausovec|0.0.16|
|ActiveFileInStatusBar|RoscoP|1.0.2|
|githistory|donjayamanne|0.2.1|
|python|donjayamanne|0.6.7|
|gitlens|eamodio|4.3.1|
|Go|lukehoban|0.6.62|
|cpptools|ms-vscode|0.12.0|
|Ruby

[2017-07-11 14:45] jens1o commented on #29271
Maybe you can ask @50Wliu kindly and he will elaborate? :)

[2017-07-11 14:47] uitgewis commented on #17147
It would be preferable if this supports one to specify it per-task for multiple tasks.

[2017-07-11 14:51] josh-tepper commented on #30394
Weirdly enough, restarting the iterm terminal session seems to resolve.  It also was resolved this issue with git:
https://gitlab.com/gitlab-com/support-forum/issues/1406

Not sure what caused this bad state

[2017-07-11 14:52] 50Wliu commented on #29271
Scope resolution happens [here](https://github.com/atom/language-php/blob/5c0ef02e2615c9ca2ecd33708356aa43f2409f5d/grammars/php.cson#L2296).  The first rule deals with the part before the `::`, all the other rules deal with the part after.  [`class-name`](https://github.com/atom/language-php/blob/5c0ef02e2615c9ca2ecd33708356aa43f2409f5d/grammars/php.cson#L318) (called [here](https://github.com/ato

[2017-07-11 14:52] oliversalzburg commented on #30390
@weinand Interestingly, when I navigate to the file in the explorer panel and open it, Code doesn't freeze.

When I Ctrl+P and select the file, Code freezes. However, something is a bit weird here:

![image](https://user-images.githubusercontent.com/1658949/28074513-0d587e82-6659-11e7-8700-5381823d4502.png)

The project I have currently open lives in `C:\Users\OliverSalzburg\FairManager Projects\c

[2017-07-11 14:57] bpasero commented on #1043
We decided against this. You will still be able to show the root folder when you are in multi-root context. More on that later.

[2017-07-11 14:58] roamn opened #30395 "Emmet bem filter problem"
- VSCode Version: 1.13.1
- OS Version: Windows 10/64bit

Emmet "bem" filter does not work properly and with `"emmet.useNewEmmet": true,` does not work at all.

Steps to Reproduce:
![3215](https://user-images.githubusercontent.com/5599071/28075143-3c90e50e-6663-11e7-81dc-eaea4e24d150.jpg)

Reproduces without extensions: Yes

[2017-07-11 15:26] weinand commented on #30390
@oliversalzburg thanks for this info.
The second bunyan.js in the QuickPick is probably the one opened from the debug console. It was not recognized as a workspace file, so that's the reason why it got an absolute path.

It would be great if you could temporarily replace the space character in "FairManager Projects" by an underscore (or any other character) and see whether this makes a difference.

[2017-07-11 15:28] jrieken commented on #30369
With ` setTimeout( () => reject(new Error('Rejected!')) , 250 )` and `   .catch( err => window.showErrorMessage(err) )` the type of `err` is *not* `string` but `Error`. However, the `show[Information|Warning|Error]Message`-function expect a string

[2017-07-11 15:32] #30369 closed

[2017-07-11 15:33] jrieken commented on #30196
@enzoaeneas Please try without the aforementioned extension

[2017-07-11 15:37] MaurGi commented on #30350
Hey –
It does work from the Powershell terminal – no problem on that side –

Mauro.

From: Christof Marti [mailto:notifications@github.com]
Sent: Monday, July 10, 2017 5:42 PM
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: Mauro Giusti <maurgi@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/vscode] running docker-compose from Powershell terminal yields python error

[2017-07-11 15:39] rohitp93 opened #30396 "VScode doesn't understand its scope C-CPP plugin"
If you try to jump from function to function declaration of an interface. Then the scope is too large if the function used a lot in the code base. So this can be considered an issue especially if you are a user coming from Eclipse. Any plans of creating a better send of scope or context in the show declaration functionality?

- VSCode Version: Code 1.12.1 (f6868fce3eeb16663840eb82123369dec6077a9b,

[2017-07-11 15:40] wkrueger commented on #30286
It does not work in a LOT of cases :(. Or takes a lot to load.

Gets worse when working with typescript + sourcemaps.

I remember debug hover used to work really well on the old ~jan/2017 releases, then they released the new inspector protocol thingy. It's been almost 6 months and js/ts debugging never been the same since that.

[2017-07-11 15:43] mralanjones commented on #23976
Is there anyway to hide the error message? I can't see the open tabs with this error popup in the way.

[2017-07-11 15:48] smlombardi opened #30397 "Cannot paste multi-line block into multiple cursors"
- VSCode Version: Code - Insiders 1.14.0-insider (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-06T20:14:49.095Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.4
vscode-markdownlint|Dav|0.9.1
code-settings-sync|Sha|2.8.2
sort-lines|Tyr|1.3.0
Bookmarks|ale|0.15.2
project-manager|ale|0.18.1
path-intellisense|chr|1.4.2
vscode-e

[2017-07-11 15:49] weinand commented on #30286
Are you saying that the hover works better when switching to "legacy" protocol?

[2017-07-11 15:50] OfekA commented on #30286
Legacy protocol does work on the specific example I gave.

[2017-07-11 15:51] bsvipas commented on #30373
Same for `require`, `module` and so on.

![image](https://user-images.githubusercontent.com/30043375/28077250-eae8442a-6669-11e7-940f-2cb2146919b3.png)

[2017-07-11 15:52] zbandhan opened #30398 "open editors in explorer section is not supposed to be important."
Open editors is not so important when tab is available in vs code. open editor and tab are doing just same there. I guess Tab is only better.
This is just a suggestion but I always appreciate the decision what vs code team is making to make vs code a better editor.
Thanks vs team

[2017-07-11 15:53] csells commented on #12146
I use the region/endregion feature on real-world production code a great deal and miss it for my JS code in VS Code. I'd love to see it added or for VSCode to be extensible enough that a 3rd party extension could add it.

[2017-07-11 15:55] #29469 closed

[2017-07-11 15:55] roblourens commented on #30286
Yes, because it doesn't send scope ranges, so you can hover variables in all scopes.

[2017-07-11 15:58] roblourens commented on #30368
Fixed in 1.14 - #28354

[2017-07-11 15:58] #30368 closed

[2017-07-11 15:58] wkrueger opened #30399 "(Hover inspecting) Make JS/TS debugging great again"
This is more a subjective plea/rant then a bug report itself.

I remember back in ~jan/2017, hover tooltips used to work very well. Even if maybe they had a more humble formatting (ex: a simple JSON.stringify of the object).

Then in some release around february or march we got things like the new node inspector protocol, and some changes in what the debug console uses as a source (in practice, ma

[2017-07-11 15:58] weinand commented on #30286
But you might see wrong values because of false positives.

[2017-07-11 16:00] #30093 closed

[2017-07-11 16:07] roblourens commented on #30286
That's the tradeoff, although people feel very strongly about it, also see https://github.com/Microsoft/vscode/issues/30399. I also talked with someone at //build about this.

[2017-07-11 16:10] weinand commented on #30286
@isidorn let's fix the issue that the hover only works for the top scope (see Rob's comment above).

[2017-07-11 16:10] roblourens commented on #30399
I'm not sure what you're talking about. Missing messages that don't go through `console.log`? https://github.com/Microsoft/vscode/issues/19750 - that's the only issue with the console that I'm aware of.

Using async/await can lead to confusing stacks just by the nature of how async debugging works. Is there something that vscode is doing wrong compared to chrome devtools (or legacy vs inspector) h

[2017-07-11 16:18] wkrueger commented on #30399
So, now to bring a bit of objectiveness ill try to print some examples as I come into them... I actually mentioned many different things...

Example from async code
![image](https://user-images.githubusercontent.com/2209181/28078343-e90d01ec-663a-11e7-85ff-1000577b657b.png)

In that snippet, `mainPersistedSubject` can be obtained through watch (or typing in console) but when hovering it a tooltip

[2017-07-11 16:18] #30381 closed

[2017-07-11 16:20] adrianoresende opened #30400 "Rename/Delete/Duplicate/Move the currently open file"
It would be good to reopen this issue #1886

[2017-07-11 16:20] roblourens commented on #30399
Yeah it seems that async/await transpilation would exacerbate the problem of hovering across scopes from #30286.

[2017-07-11 16:21] kmoe commented on #7893
@leonadler well I guess the idiomatic Arch solution to that is to stick the following in `/usr/share/libalpm/hooks/visual-studio-code.hook` to tweak the file after each package update:

[code]

(This is a joke. Works for me though.)

[2017-07-11 16:22] joaomoreno commented on #30378
Where would you use it in?

[2017-07-11 16:29] bpasero commented on #30372
/cc @Tyriar

[2017-07-11 16:35] adius commented on #13953
@kevinjreece You can use the Semantic History feature of iTerm (https://www.iterm2.com/documentation-one-page.html) to prevent the "fun dance between my terminal and VS Code". When cmd clicking on the filename + line number it automatically opens the corresponding line in vscode!

[2017-07-11 16:35] bpasero commented on #30398
You can hide the "Open Editors" section via this setting: `"explorer.openEditors.visible": 0`

[2017-07-11 16:35] #30398 closed

[2017-07-11 16:37] wkrueger commented on #30399
Hmm, yeah, i think #30286 and #19750 mostly covers it all.

Personally, I think those 2 issues have a big impact in the debugging experience. Naming it: I can still do debugging, but it is now a lot less pleasant/straightforward. Gets even more impact for new users.

Closin it, ty!

[2017-07-11 16:37] #30399 closed

[2017-07-11 16:37] roblourens commented on #30250
I'm not sure that button is responsible for taking up that space, it's more that the file result item looks good with a bit of left margin, and the result under the file item should be contained within the file result item. It could probably be a bit tighter, but I wouldn't push it all the way to the left.

I don't use it that often and think it looks better when it's hidden.

I'll probably be rem

[2017-07-11 16:37] #30250 closed

[2017-07-11 16:38] anaskhan96 commented on #30362
I can't share the source file for legally binding reasons.
Yes, it does happen even on disabling any or all extensions.

However, I just noticed that this problem only seems to occur when the file has template insertions, for example `{{ variable }}`.

[2017-07-11 16:39] roblourens commented on #30399
If there's a particular library or another scenario that's impacted by #19750, please weigh in on that issue, to help me understand the scope. One way around it would be to add a launch config option to simply use stdout instead of the debug protocol messages.

[2017-07-11 16:41] bpasero commented on #207
I would argue that "Close All Windows" should not restore the windows because you are actually closing all of them. In the same way if you close a single window we would never restore it.

If you use File > Exit the windows will restore properly and that is the intent of the `window.reopenWindows` setting.

[2017-07-11 16:42] bpasero commented on #30377
I would argue that "Close All Windows" should not restore the windows because you are actually closing all of them. In the same way if you close a single window we would never restore it.

If you use File > Exit the windows will restore properly and that is the intent of the window.reopenWindows setting.

[2017-07-11 16:45] oliversalzburg commented on #30390
I left work for the day and will have to verify that tomorrow.

However, I tried to repro the issue at home and was not able to. I have the identical project structure here. No matter how I open `bunyan.js`, no freeze. I was not able to create a scenario where I would get the path in the Debug Console though. In case that actually is relevant to the issue.

I also tried to open other files from th

[2017-07-11 16:45] bpasero commented on #29937
Yeah good point, this might actually be my extension API contribution from 2 years ago...

@michelkaporin for now I suggest to assign a priority to your extension for the status bar entry.

[2017-07-11 16:47] niemyjski commented on #22289
I'm also seeing problems reported from files in node_modules. The worst part is I don't know what added the problem... If I don't know how it was reported, where do I start looking to fix it. Which addin etc....

[2017-07-11 16:48] wkrueger commented on #30399
That would definitely help. While the main case here is winston (already mentioned in that thread), we never know when one of the libs we use will have some special logging schema. I should pay attention and post here if I see something.

Ideal scenario would be having both in the same tab (but that probably will bring duplicates). Even if the console tab is slower. But being able to tweak that is

[2017-07-11 16:50] chrmarti commented on #30350
Current versions of Python should know cp65001 from what I read. Please make sure you are running the latest version of docker-compose. @Tyriar Are we setting the pty's encoding ourselves?

[2017-07-11 16:52] chrmarti commented on #30394
I'll close this if you agree. Seems like a transient problem.

[2017-07-11 16:52] #30394 closed

[2017-07-11 16:53] bpasero commented on #21944
@ramya-rao-a fyi I am not convinced this actually works, so far I did not find a crash from the extension host on HockeyApp. Maybe you could also have a look.

[2017-07-11 16:54] chrmarti commented on #30396
This issue was moved to Microsoft/vscode-cpptools#876

[2017-07-11 16:54] #30396 closed

[2017-07-11 16:54] Zyst commented on #12377
Necromancy with +1!

But as a stopgap feature for fellow Windows 10 users, here's what I did to make it look more natural, like so:

![zen-mode](https://user-images.githubusercontent.com/3832380/28079803-58649688-662f-11e7-81ef-8897cb5f49d2.png)

This is done completely through Windows, so you are not doing some weird hack or installing a fork. I was originally writing it as a comment here, but it

[2017-07-11 16:54] bpasero commented on #29977
@roblourens I suggest we add this to our UX meetings (this week and/or next week).

[2017-07-11 17:01] Brickcaster opened #30401 "Quote marks are doubled when typing inside of other quote marks"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: none
---

Steps to Reproduce:

1.Create a string (eg: type a single quote ( ' )).  It's pair is created automatically ( '' )
2.Type the other kind of quote ( " ).  Its pair is created automatically ( '""' ).

Expected behavior: automatic quote pari

[2017-07-11 17:06] Tyriar opened #30402 "Clean up terminal settings"
Currently external terminal and integrated terminal settings are completely separate, with only 3 settings belonging to the external terminal:

![image](https://user-images.githubusercontent.com/2193314/28080219-04a1dba0-6620-11e7-9ca8-fcbd2d5ed791.png)

https://github.com/Microsoft/vscode/pull/30354 wants to introduce a new cross-cutting setting that belongs to both, something like `terminal.expl

[2017-07-11 17:09] rkeithhill commented on #27102
Bump.  Please let me know what info is missing.

BTW as a workaround, I'm using EditorConfig which **does** honor the per-file settings of tab/indent size.

[2017-07-11 17:13] RoyTinker commented on #6328
I'm introducing TypeScript and Angular to a large Dojo project, and I can say this feature will become very important for our team in the next several months.

[2017-07-11 17:16] josh-tepper commented on #30394
sounds good

[2017-07-11 17:17] kieferrm commented on #27556
In order to get a correct picture which tests are failing you need to disable auto-update. One workaround is to patch the `product.json` in the version that is being smoke-tested.

[2017-07-11 17:24] ranbuch opened #30403 "Visual Studio Code Freezes all the time with many search results"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|stylus|buzinas|0.1.0|
|gltf-vscode|cesium|2.0.3|
|csharp|ms-vscode|1.11.0|
|vscode-docker|PeterJausovec|0.0.16|
|cordova-tools|vsmobile|1.2.7|;

---

Steps to Reproduce:

1.Open VS-Code
2.Start working

[2017-07-11 17:25] Gruntfuggly commented on #30378
In the browse and include paths used by the cpp plugin - assuming it would be available...

[2017-07-11 17:26] Tyriar commented on #20446
@dbaeumer @ivankravets I like it :smile: @ramya-rao-a let's go additive but if the key exists and it's falsy, remove the key from the environment (note this in the API jsdoc).

[2017-07-11 17:28] jens1o commented on #7504
Any progress in this issue?

[2017-07-11 17:29] Tyriar commented on #30350
This seems similar to some of the comments in https://github.com/Microsoft/vscode/issues/19665 which should have been fixed with a Windows update. @MaurGi are you up to date on Windows, specifically you need to have installed the KB4020102 fix.

[2017-07-11 17:32] Tyriar commented on #7504
A little, I started working on it one afternoon I was free here https://github.com/Microsoft/vscode/tree/tyriar/7504, I don't think it's in a usable state yet or anything. This is mainly waiting on me freeing up to be able to focus on it more, right now my priorities are accessibility and polishing some of the recent features (selection, links) https://github.com/Microsoft/vscode/issues/30209

[2017-07-11 17:37] jens1o commented on #7504
Okay, thanks for the update. Looking forward that this feature is actually considered! 💟

[2017-07-11 17:42] Tyriar commented on #30385
@bpasero if we can add folders without reloading extensions eventually this would be trivial, just add the folder and keep the untitled file as is. Trying to support this with the reload seemed like it would be more effort than it's worth. Thoughts?

[2017-07-11 17:45] enozero opened #30404 "Allow quick open to filter on folder names by typing folder name after the file"
Quick Open (using `Command P`) is a great tool. However, if you are in a framework like Rails, you'll often have files that are named the same across many different folders, particularly for views. You may have 10s or 100s of `index.html.haml` or `index.json.jbuilder` files. Being able to narrow down the file is practically impossible with VSCode without the ability to also narrow down the folder,

[2017-07-11 17:51] Tyriar commented on #30389
Seems to work in both 1.13 and 1.14?

![image](https://user-images.githubusercontent.com/2193314/28082264-dacba53e-6626-11e7-8b54-f838f3043bfd.png)

Perhaps the problem was that the line was wrapped?

[2017-07-11 17:57] norbertfuhs opened #30405 "Trying to upgrade from Version to 1.13.1 to 1.14 vscode crashes"
- VSCode Version: 1.13.1
- OS Version: Os X 10.11.6

Steps to Reproduce:

1. Check for new updates
2. Click on 'Update now'

Reproduces without extensions: Yes/No

[2017-07-11 17:59] #30405 closed

[2017-07-11 18:01] mjbvz commented on #30386
Please try in VSCode 1.14. I see this working properly:

![screen shot 2017-07-11 at 11 00 27 am](https://user-images.githubusercontent.com/12821956/28082741-28e24f6a-6628-11e7-82b6-14d00a871cdc.png)

Also please make sure that TS 2.4.1 is active in your workspace: https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions

[2017-07-11 18:05] mjbvz commented on #30376
This looks like an question on debugging electron with vscode rather than any issue with vscode . Please try searching for info about debugging electron apps with vscode or asking on [stackoverflow](https://stackoverflow.com)

[2017-07-11 18:05] #30376 closed

[2017-07-11 18:07] oliversalzburg commented on #30390
Alright. I was able to repro the issue at home. It is really the link in the debug console that causes the behavior.

[code]

I didn't try to simplify the path further. But I assume the double-backslash is to blame.

[2017-07-11 18:08] #30294 closed

[2017-07-11 18:09] Tyriar commented on #29499
Maybe revealing in the explorer if it's in one of the root folders, otherwise launching a new VS Code window? I hadn't considered that before you comment :smile:

[2017-07-11 18:10] mjbvz commented on #30373
Yes, we don't include typings for node by default. The presence of a standard node import like `fs` or `path` should trigger them being automatically included but you don't seem to have any of these imports

Just run `npm install @types/node` to install them in  your workspace manually or list `node` types in the `jsconfig.json`:

[code]

[2017-07-11 18:10] #30373 closed

[2017-07-11 18:12] oliversalzburg commented on #30390
Also verified that it is still present in 1.14.0

[2017-07-11 18:13] mjbvz commented on #30362
@anaskhan96 Please reduce the source code to a minimal example that shows this problem. You should be able to strip out any proprietary info. It doesn't matter if the code runs, all I'm interested in is its structure

[2017-07-11 18:17] atombender opened #30406 "Autoindent inserts extra undo item, requires double undo after paste"
- VSCode Version: 1.14
- OS Version: macOS 10.12.5

Here's an example of pasting something, then hitting cmd-Z to undo. As you can see, it first undoes one indentation, then undoes the paste. That's not right, since my paste was a single command, so a single undo should undo it.

![vsc](https://user-images.githubusercontent.com/50314/28082497-eee3dfe0-6672-11e7-998a-8715249ec60b.gif)

Steps to Rep

[2017-07-11 18:18] mjbvz commented on #30308
This issue was moved to Microsoft/TypeScript#17098

[2017-07-11 18:18] #30308 closed

[2017-07-11 18:18] ShiftySituation commented on #30403
Yes... the new build isn't working.   Falling in line with other failed Microsoft products.  Keep up the good work?

[2017-07-11 18:19] corbinu commented on #28265
Hate to be a stickler but this is happening again

[2017-07-11 18:21] rebornix commented on #30403
@ranbuch do you also see this issue when you run VSCode without any extension by `code --disable-extensions` ?

[2017-07-11 18:23] mjbvz commented on #30371
Try the marketplace. There are a number of extensions that provide this functionality already: https://marketplace.visualstudio.com/search?term=open%20in%20browser&target=VSCode&category=All%20categories&sortBy=Relevance

[2017-07-11 18:23] #30371 closed

[2017-07-11 18:24] alexriedl commented on #29990
Related: [9505](https://github.com/Microsoft/vscode/issues/9505)

[2017-07-11 18:25] basil2style opened #30407 "Snippet can freeze the editor"
I found out that latest VScode freezes and not opening any projects.
 Reinstalling VScode 1.13 solved the problem.

- VSCode Version: 1.14
- OS Version: Mac sierra 10.12.5

[2017-07-11 18:29] sandy081 commented on #30375
@DarkLite1 Thanks for filing the issue. It seems you are in multi-root workspace environment which is not fully functional and is still in preview and development mode.

I am currently working in supporting workspace settings in a multi-root workspace which will fix your problem.

[2017-07-11 18:29] sandy081 commented on #30375
Duplicates #29456

[2017-07-11 18:29] #30375 closed

[2017-07-11 18:30] ShiftySituation commented on #30382
I've noticed a similar issue but only happens after the awaited functions run the first time... ie; make a imperative selection that triggers an awaited async call... the code runs in order as it should.  Make another selection to trigger it again and the awaited functions are not awaited and any code after the awaited function runs immediately, then the async functions finish.

[2017-07-11 18:31] goudcode commented on #17777
I would like this as well, it's quite easy to get lost in larger projects.

[2017-07-11 18:34] rebornix commented on #30361
@roblourens I like this idea. The only catch is they way we set CSS make it confusing

`editorCursor.foreground` --> `.cursor { background: } `
`editorCursor.background` --> `.cursor { color: }`

[2017-07-11 18:35] Chiliyago opened #30408 "Cannot Copy from PowerShell Integrated Console"
- VSCode Version:  1.14
- OS Version: Win10

Steps to Reproduce:

1.Try to select and copy text in the PowerShell Integrated Terminal
2.

Reproduces without extensions: Yes

[2017-07-11 18:39] whitevo opened #30409 "Autocomplete advanced snippet sorting"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

Extension|Author (truncated)|Version
---|---|---
javadebugger|don|0.1.2
java|red|0.7.0
vscode-lua|tri|0.5.0

---

Steps to Reproduce:

1. create several custom custom snippets (Examples down)

[code]
2. when snippets created and I write on new fil

[2017-07-11 18:40] mjbvz commented on #30300
I'm unable to reproduce this with the above snippet. Do these error only show up when you are editing the file?

[2017-07-11 18:40] ramya-rao-a commented on #29499
The IWindowService doesn't have a way to open a new window. It has a way to open the picker to choose the folder to open in a new window
Similarly, there is a command to reveal active file in the explorer. But none that takes in a file/folder resource.

So this one is more that just a few lines of change.

[2017-07-11 18:42] Tyriar commented on #28265
deb should be getting to you any time now, rpm is still waiting on signing.

[2017-07-11 18:42] ZZhaoTireless commented on #29499
Sure, I just completed personal stuff, and now I am starting on this issue.

[2017-07-11 18:44] mjbvz opened #30411 "Support External Files Provided by TS Plugin"
**Problem**
Support the new external files option that TS plugins can provide: https://github.com/Microsoft/TypeScript/pull/15308/

We currently allow TSServer plugin extensions to register themselves for custom language modes. The angular extension for example could register the angular plugin with support for the `ng-html` language. There were a few problems with the current implementation:

1.

[2017-07-11 18:45] xparabolax opened #30412 "Ubuntu - Launching with desktop icon doesn't remember open folders"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T20:36:40.018Z)
  - Note: This was occurring on the prior version as well.
- OS Version: Linux x64 4.8.0-58-generic (Ubuntu 16.10 64-bit)
- Extensions: none
---

Steps to Reproduce:

1. Install fresh version of VSCode 1.14.0 (cleared local cache files, ~/.vscode, ~/.config/Code)
2. Launch VSCode, open a folder withi

[2017-07-11 18:45] corbinu commented on #28265
Ok but then it does look like my original feature request is true then. Update notifications should not be showing if the deb is not yet present. It probably is just a simple matter of having the updater hit the the package repo to see if that version is there before displaying.

[2017-07-11 18:47] roblourens commented on #30361
Yeah, @Tyriar and I were just talking about that. I think it makes sense that the cursor "foreground" is the color of the actual cursor block, and the 'background' is the color of the overlapped character. The implementation just looks odd.

[2017-07-11 18:48] jens1o commented on #30408
Working for me:
having this:
![image](https://user-images.githubusercontent.com/11234139/28084850-42388eb4-667a-11e7-98e3-7dbb571001ec.png)
select something:
![image](https://user-images.githubusercontent.com/11234139/28084864-4b575c00-667a-11e7-9a6f-5a219dc8d5a7.png)
Press the right mouse button.
And I got it into my clipboard...

[2017-07-11 18:49] jonathanphz commented on #7800
What's the command to do this? Cntrl + W doesn't seem to work.

[2017-07-11 18:50] jens1o commented on #17777
I also agree this should be considered...

[2017-07-11 18:51] luchillo17 commented on #30403
@rebornix Freezes at start, but works without extensions, just tried and it doesn't happen with `--disable-extensions`.

My ENV:
OSX: Sierra 10.12.5
Node: 7.10.0
NPM: 5.0.3

[2017-07-11 18:51] AskYous opened #30413 "Formatting HTML <span> tags sometimes doesn't work"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-angular2-files|ale|1.3.8
npm-intellisense|chr|1.3.0
gitignore|cod|0.5.0
vscode-markdownlint|Dav|0.9.1
jshint|dba|0.10.15
vscode-eslint|dba|1.2.11
githistory|don|0.2.1
python|don|0.6.7
xml|D

[2017-07-11 18:52] AskYous commented on #30413
I've had this problem for a long time now. It's not due to the new-release.

[2017-07-11 18:53] luchillo17 commented on #30403
@rebornix I want to disable all extensions and try and activate one at a time to see where it crashes, but it doesn't let me disable any with `--disable-extensions`, any idea how to?

[2017-07-11 18:55] mjbvz opened #30414 "TypeScript Extension Multiroot Support"
**Feature**
Ensure that the TS extension works properly for multiroot workspaces

**Items**
- [x] #30262 - Version selector
- [x] #30415 - TS build task support
- [x] https://github.com/Microsoft/TypeScript/issues/16961 - Different inferred project per folder

[2017-07-11 18:58] mjbvz opened #30415 "TS Build Task Multiroot Support"
**Feature**
Ensure that the TS task 2.0 builders work as expected in multiroot scenarios

[2017-07-11 18:58] Tyriar commented on #29840
@dbaeumer currently there is only the line model, no view model. I did a big write up on introducing one to properly support reflowing lines here https://github.com/sourcelair/xterm.js/pull/644#issuecomment-298058556

This has been a pretty long discussion across a few issues but to clarify where we are now, here are my concerns:

- Extra memory overhead in the buffer: I'm currently in the process

[2017-07-11 19:00] Tyriar commented on #30361
Yeah it's confusing, styling the block cursor are the opposite of what you would intuitively think, but it feels correct for the other cursor styles.

[2017-07-11 19:01] ghiscoding commented on #30120
Hi @sandy081 as to my previous post on the other referenced issue

Are we going to have a way to change the position of each views with a user setting option (not just by drag and drop)?

[2017-07-11 19:04] AshleyGrant commented on #24779
@isidorn is there an update on a ETA for this feature?

[2017-07-11 19:04] AudioW opened #30416 "Cannot connect to runtime process, timeout after updating to 1.14.0"
- VSCode Version: 1.14.0
- OS Version: W10 - 16237

Steps to Reproduce:

1. Update to 1.14
2. Try build electron app again

Reproduces without extensions: Yes

After updating to 1.14.0 I get following error when attempting launch:
Cannot connect to runtime process, timeout after 10000 ms - (reason: Cannot connect to the target: connect ECONNREFUSED 127.0.0.1:29840).

Tried reinstalling all modules

[2017-07-11 19:08] chanep commented on #24961
Still have the problem with new version 1.14.0

[2017-07-11 19:11] weinand commented on #30416
Please do not use "type" with "node2".
You can control the protocol to use with the "protocol" attribute.

What version of Electron are you using?
Does it support the "legacy" or the "inspector" protocol?

[2017-07-11 19:12] 0not opened #30417 "Default tasks.json "echo Hello" does not work"
- VSCode Version: 1.14.0
- OS Version: Windows 10
- Terminal: Git Bash

My default terminal is `"terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe"`.

For some reason that I do not understand, arguments are either not passed to bash correctly, or bash does not understand them. The default command is `"command": "echo Hello"`, but bash acts as if it just received `echo` (ju

[2017-07-11 19:14] mohsen1 opened #30418 "Add "Convert to React TypeScript" as a refactoring options"
I wrote [this TS AST transformer](https://github.com/lyft/react-javascript-to-typescript-transform) to convert React from JS to TS. It's a good candidate for the new auto-refactoring feature.

[2017-07-11 19:15] etcetc commented on #12764
Is there a way to remove extensions or upgrade them w/o launching the app?  I just upgraded to 1.14 and now the app freezes on the welcome window.

[2017-07-11 19:15] AudioW commented on #30416
Electron Version 1.6.11

When setting protocol to legacy, the application starts. Is this the intended behavior?

[2017-07-11 19:15] benrbray commented on #30292
I am having a similar issue with the June 2017 version of VS Code, except **the minimap is not fixed when the minimap contents would be changed (e.g. scrolling, typing, etc.)**.  This happens both after Ubuntu sleeps and also sometimes when I switch workspaces.

![image](https://user-images.githubusercontent.com/221963/28086041-76ff1b4c-6632-11e7-9c8a-096449eb0905.png)

<hr>

- VSCode Version: Cod

[2017-07-11 19:16] weinand commented on #30416
Yes, Electron supports either "legacy" or "inspector". Since we do not know which version you are using, you will have to specify the protocol.

[2017-07-11 19:17] lucas-natraj commented on #30416
I'm getting the same issue.. my launch config is
[code]
the config could be wrong, but it was working pretty flawlessly until the update.
i've confirmed that reverting to the earlier version of vscode does NOT fail with `Cannot connect to runtime process, timeout after 10000 ms - (reason: Cannot connect to the target: Parse Error).`

[2017-07-11 19:17] AudioW commented on #30416
Thanks for the fast response!

[2017-07-11 19:17] #30416 closed

[2017-07-11 19:20] weinand commented on #30416
@lucas-natraj set "protocol" to "legacy" and if this works you can remove the "runtimeArgs" and the "port" attributes. VS Code will use the correct port based on the value of the "protocol" attribute.

[2017-07-11 19:23] lucas-natraj commented on #30416
👍
that worked great.. much obliged!

[2017-07-11 19:23] weinand commented on #30416
BTW, we spend lots of effort on the release note. You could have found answers about this issue here:
https://code.visualstudio.com/updates/v1_14#_node-debugging

[2017-07-11 19:27] lucas-natraj commented on #30416
indeed, i've found the documentation excellent.
however, my cursory search (after things suddenly started failing today), yielded this issue so I thought I'd mention it in case others followed the same search route.
apologies for the inconvenience.

[2017-07-11 19:27] aervin commented on #30403
Running VSCode with --disable-extensions seemed to help. VSCode processes no longer grabbing up all available CPU 75% of the time.

[2017-07-11 19:29] todddcls opened #30419 "Add preference to turn off "recently used tasks""
I'm use to using the arrow keys to quickly select which task I want to use.  Now with the addition of this new feature, now the list is constantly changing order.  Please provide a preference to turn this off.

[2017-07-11 19:30] chrmarti commented on #30407
Could you retry with `code --verbose` and append the output here?

[2017-07-11 19:33] luchillo17 commented on #30403
Temporal fix downloaded the 1.13.1 again and disabled updates.
That's ugly.

[2017-07-11 19:36] GavinDu opened #30420 "IntelliSense Not work properly for NodeJS (Latest Version 1.14.0)"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.15063

The IntelliSense does not work properly for nodejs.

[2017-07-11 19:37] etcetc commented on #12764
I ended up reloading 1.131, removing extensions, and then 1.14 started working.

[2017-07-11 19:50] mjbvz commented on #30420
Please describe what is not working and provide some steps to reproduce the issue

[2017-07-11 19:51] erikpaasonen opened #30421 "Bug: Select For Compare feature broken"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

Extension|Author (truncated)|Version
---|---|---
python|don|0.6.7
gitlens|eam|4.3.1
terraform|mau|0.0.16
terraform-snippets|min|1.4.2
PowerShell|ms-|1.4.1
python|tht|0.2.3

---

Steps to Reproduce:

1. Open multiple files
2. In the Open Editors,

[2017-07-11 19:51] shockthetoast commented on #28742
I can confirm that as of 1.14.0 this is no longer being flagged by the JavaScript validator. It seems to be working fine now for both my original issue (multiple events on one tag) and for multiple tags (as per the issue greg84 pointed out).

Thanks!

[2017-07-11 19:51] #28742 closed

[2017-07-11 19:52] benesch commented on #901
Yep, this is happening to me too on macOS. @joaomoreno, would you mind re-opening this issue?

[2017-07-11 19:52] auchenberg commented on #11462
Chrome DevTools recently switched to an inline CodeMirror instance in the console, to enable better multi line support.

https://twitter.com/qmacro/status/813341597412823041

[2017-07-11 19:52] Chiliyago commented on #30408
i have one machine where it is working and another where it won't.  Not sure what the difference is yet

[2017-07-11 19:54] tatmanblue commented on #1992
I would like to add, global option to turn these off.   they get in the way.   better option to have these messages appear in the output console window.

[2017-07-11 19:54] Tyriar commented on #30408
@Chiliyago are you on the same version of VS Code? What are you using to copy?

[2017-07-11 19:55] GavinDu commented on #30420
Before this update, I can have IntelliSense for NodeJS. But now I have to add the jsconfig.json file to enable it.

[2017-07-11 19:57] piersadrian commented on #30407
Here's mine:

[code]

Looks like `--disable-extensions` solves this problem, so it may be a specific extension. Don't have time right now to bisect my extension list...

[2017-07-11 20:04] marvhen commented on #1614
+1

[2017-07-11 20:08] alexkrolick commented on #30407
[code]

[2017-07-11 20:09] Chiliyago commented on #30408
yes both updated today.  Here is video of my experience with the bad machine.

https://1drv.ms/v/s!AiMOucOyxOOXppdARPz2FXAKJ-zU3Q

[2017-07-11 20:10] mjbvz commented on #30420
We'll only enable node intellisense if we see a standard nodejs import such as `require('fs')`. You can also install the typings by running `npm install @types/node` to install them in  your workspace manually or list `node` types in the `jsconfig.json`:

[code]

[2017-07-11 20:10] #30420 closed

[2017-07-11 20:11] Chiliyago commented on #30408
How can I start VS Code temporarily with factory settings?

[2017-07-11 20:13] Chiliyago commented on #30408
@Tyriar to copy I am just attempting to select the text and ctrl-c.  Nothing selects though.

[2017-07-11 20:14] BillDenton commented on #27151
Now, the new task runner is the default, is there a method for launching independent tasks? Or do I still need to use the method above?

[2017-07-11 20:15] jens1o commented on #30408
Yes, that's true. Because Ctrl-C is used to terminate processes mainly... Alternatively, you can bind a keybind to that, if you need that.

[2017-07-11 20:18] Talhamansoor commented on #23976
Solo hazlo, amigo css .vs-dark .global-message-list{display:none}

[2017-07-11 20:19] Chiliyago commented on #30408
@jens1o In my case on this one machine nothing is selecting nor copying in the PowerShell terminal window.. Ctrl-c does and is suppose to copy the selected text in the terminal window unless of course it is in run mode.

[2017-07-11 20:20] aakrem opened #30422 "Copying and moving breakpoints"
Would be nice to have the possibility to copy or/and move a breakpoint from a line to another one.
This is very important especially when we use the conditional breakpoints, a new one needs rewriting the whole condition.

[2017-07-11 20:21] jens1o commented on #30408
Okay, my information was wrong... I was in the wrong program...
Yes it should work, as long as the terminal is focused and there is a selection. May you check whether this entry exists in your keybinding file?
![image](https://user-images.githubusercontent.com/11234139/28088816-39801776-6687-11e7-88a3-26a6b1c01fc5.png)

[2017-07-11 20:21] borekb commented on #28658
Just tried the behavior in 1.14 in a JSON file, it seems that the internal engine for indentation is becoming great but I'm still missing the command(s) to re-indent just the current line or the selection as @vss said. Ctrl+I is actually the very command I have it mapped to :)

Actually, thinking about it some more, I very rarely re-indent the whole file and almost always care only about the curre

[2017-07-11 20:22] Niichie opened #30423 ""Invalid Argument" error when pressing tab ranomly?"
- VSCode Version: 1.14.0
- OS Version: Windows 10

Steps to Reproduce:

1. Open html file
2. Will ranomdly happen after working on it for a bit

![errors](https://user-images.githubusercontent.com/16381287/28088869-1bad232e-6655-11e7-9ddf-d3fdb7377d7d.gif)

Reproduces without extensions: Yes

[2017-07-11 20:23] alexkrolick commented on #30407
Removing just `ruby-on-rails-snippets-0.0.1` seems to fix it for me

[2017-07-11 20:23] Niichie opened #30424 "VScode randomly inserting multiple cursors"
- VSCode Version: 1.14.0 + 1.14.0-insiders
- OS Version: Windows 10

Steps to Reproduce:

1. open HTML file
2. when quickly adding lines, for example paragraphs, it will randomly insert characters. This happens randomly, but is most easily reproduced if you insert several <p> tags quickly.

![multicursor](https://user-images.githubusercontent.com/16381287/28088942-4e8a6522-6655-11e7-8c72-9ae915cc6

[2017-07-11 20:28] piersadrian commented on #30407
@alexkrolick that did it for me, thanks!

[2017-07-11 20:33] tmcintire commented on #29284
I had this issue today.  The only way we fixed it was to switch to lightweight solution loading.

[2017-07-11 20:34] nmitha opened #30425 "Had to downgrade from 1.14 to restore JSX intellisense"
Intellisense broke in React .jsx/.js files in v1.14 for me (not Typescript).  Downgrading back to v1.13.1 resolved it.

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-jest|Orta|2.2.0|
|vscode-docker|PeterJausovec|0.0.16|
|jsrefactor|cmstead|1.3.0|
|git

[2017-07-11 20:41] yosefrow commented on #1749
+1

[2017-07-11 20:54] pcherkasova opened #30426 "Context menu for files in Search section"
Right now there is no context menu for files in Search section. It would be very convenient to have the same context menu as in Explorer section.

[2017-07-11 20:58] GavinDu commented on #30420
@mjbvz I got it. Thank you very much.

[2017-07-11 21:00] drew-wallace commented on #30425
Interesting. I'm having the issue for TypeScript.

[2017-07-11 21:01] mdenson-dayspring opened #30427 "I'm going to have to downgrade from 1.14 - Hangs every 10 - 15 minutes."
Upgraded to 1.14 when it available today. Since then I get about 10 - 15 to work and then I get the message (attached).

Going to figure out how to downgrade to the previous version.

- VSCode Version: 1.14
- OS Version: Windows 10 Pro 1703 / Build 15063.413

![screenshot](https://user-images.githubusercontent.com/1828232/28090463-328b5f20-6641-11e7-9b34-6d646fd679ff.png)

Steps to Reproduce:

1.

[2017-07-11 21:03] erikpaasonen commented on #30421
Can no longer reproduce. Feel free to close this issue if you can't either/anymore.

[2017-07-11 21:07] mjbvz commented on #30425
Can you try:

1. Set `"typescript.tsserver.trace": "verbose"`
2. Reproduce the issue
3. Check the `TypeScript` section of the output window.

Look for error messages in this window when you trigger a completion. You can also paste up the output and I can take a look.

[2017-07-11 21:08] revathskumar commented on #30425
Anyone getting this similar error message on `OUTPUT` tab when `TypeScript` is selected.

![screenshot 2017-07-12 02 35 49](https://user-images.githubusercontent.com/463904/28090709-d824f3ce-66aa-11e7-83e8-9d509446d720.png)

VERSION :
1.15.0-insider (1.15.0-insider)
7bb3b89031cbce46536ba870868d889d639e12f1
2017-07-11T17:41:53.024Z

[code]

[2017-07-11 21:13] drew-wallace commented on #30425
Sorry @mjbvz I didn't read the issue carefully. I am however getting less syntax highlighting than I used to in TypeScript.

[2017-07-11 21:16] mjbvz commented on #30425
@drew-wallace Can you please file a seperate issue with screenshots and sorce code so that I can investigate. Thanks

----

For anyone running into issues with the VSCode 1.14: You probably don't need to downgrade VSCode, just the TypeScript version. [Here are the instructions on that](https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions). We previously shipped

[2017-07-11 21:18] abhijithda commented on #1772
In 'vim' it's pressing '[' character twice to jump to the beginning of the braces that starts at column 0 (which usually the beginning of the function in our case). It would be great to see similar stuffs...

[code]

[2017-07-11 21:20] mjbvz commented on #30425
@revathskumar Can you share your `jsconfig.json`?

[2017-07-11 21:22] mjbvz commented on #30418
Very nice work

To bring this feature to VSCode, you may want to look into bundling the refactoring into a TypeScript Server plugin. Plugins augment TypeScript editor functionality and can be used on other editors  besides VSCode. Here's a sample plugin with more information on getting started: https://github.com/RyanCavanaugh/sample-ts-plugin

That being said, this refactoring presumably would cr

[2017-07-11 21:23] wschaeferiii opened #30428 "Monokai Dimmed syntax highlighting is different - with less distinctions"
With the update today, this syntax highlighting for Monokai Dimmed for javascript (babel) changed pretty drastically, eliminating a lot of distinctions between the text.

Most noticeably, most of text is an ugly white...  which I am used to a light blue (numbers maintain the blue). Template strings have variables still in green, like the rest of the string.  Properties on variables are just white,

[2017-07-11 21:25] shockthetoast commented on #30266
I am seeing a similar issue.

I have been able to fix it in mine when the beginning of the path does not use wildcards, by either ending without a `/` or with `/**`. For example, these work:
[code]
This does not, even though it did before the update:
[code]

The strangest part seems to be the syntax DanTup was using. Doing this results in some, but not all, items in my "wrap" folder being excluded

[2017-07-11 21:25] GharTok commented on #29698
Having the same issue with tsc
npm ERR! code-oss-dev-build@1.0.0 compile: `tsc`

Will post an update if I figure this out.

[2017-07-11 21:27] roblourens commented on #30266
Can you both copy the output from the 'Search' output panel?

@shockthetoast in your case, are any of the files open?

[2017-07-11 21:29] cleidigh opened #30429 "Terminal: Duplicate shell startup lines"
- VSCode Version:  1.14.0
- OS Version: <code>Windows_NT x64 6.1.7601</code>

Problem:

In certain codes to sizes opening a new Windows integrated terminal
will show duplicate shell startup lines.
The problem seems associated with the code window size. For instance
A half screen docked code window with the activity and sidebar visible
is more likely to show the problem, but as the left side screen

[2017-07-11 21:33] cleidigh commented on #29654
@Tyriar
Oh well, beaten to the punch...
The OS X select all got fixed in #30016 - you can close this out.
I have to look for something new to do, if any of the help items are highest priority (and no one's working on them already ;-) let me know. I'm free and looking for work ! I'm also posting the problems I saw.

[2017-07-11 21:42] jacehensley-wf commented on #1967
Has there been any update on this?

[2017-07-11 21:44] mjbvz commented on #30428
I tweaked the grammar this last iteration. The changes to `this` are intentional but we may want use the blue color for more variables again

For reference, here's the 1.13 style:

![screen shot 2017-07-11 at 2 37 25 pm](https://user-images.githubusercontent.com/12821956/28091987-b7541e40-6646-11e7-9aa3-f6e46272f0b6.png)

Here's 1.14 which changes `this` and the default property color:

![screen s

[2017-07-11 21:50] lukaszpolowczyk commented on #30139
@bpasero
Actually, it is more like my idea, not yours...
https://github.com/Microsoft/vscode/issues/26596

[2017-07-11 21:54] cleidigh opened #30430 "Terminal: No re-layout, some truncation on panel resize"
- VSCode Version:  1.14.0
- OS Version: <code>Windows_NT x64 6.1.7601</code>

Problem:

The integrated terminal does not re-layout when views change
such as adding the sidebar. The wrapped  output will stay wrapped
or get truncated.

Steps to reproduce:

- open code with no terminal
- display the sidebar
- start an integrated terminal
- size the terminals to force some wrapping
- generate output w

[2017-07-11 21:56] #30428 closed

[2017-07-11 21:56] pocesar commented on #30300
yes, usually when have errors on the file

[2017-07-11 22:02] mjbvz commented on #30300
Can you please try keeping the developer tools window open and sharing the code when one of these messages is printed

[2017-07-11 22:05] Jaeiya opened #30431 "Folding should persist by file, not tab-only"
I don't use the tab-view, I use the pane-view in vscode. When closing out of a file on the left pane and opening it later on the right pane, all the code folding is lost. This is annoying because I like to keep my code folded for easy scanning. It would be nice if this feature persisted for files, not pane/tabs only.

Thanks :)

[2017-07-11 22:05] pcblues commented on #29861
I haven't come across a use case for renaming the case of a file where the history isn't wanted to be kept. If I change the case of a filename, it's usually a correction for style rather than a desire to create a new file. Interestingly, the file extensions/git/src/git.ts doesn't include mv in its available commands. If you manually do a git mv on a file after changing the case in vscode, it behav

[2017-07-11 22:06] jbw91 commented on #29160
I can confirm this is an issue. It's happening with me as well.

[2017-07-11 22:12] ajitid opened #30432 "VS Code 1.14 breaks heads-up notification coloring"
- VSCode Version: 1.14.0
- OS Version: Windows 10

Color of label 'Info' and of button reverts to default even though is provided in the theme.

![capture](https://user-images.githubusercontent.com/26769888/28093195-e30b8844-66b3-11e7-98a7-3b3d54e7c58c.PNG)

[2017-07-11 22:16] wastingoctober commented on #30421
I'm still seeing this issue. Right-click doesn't work for me after I select a file to compare.

[2017-07-11 22:18] pocesar commented on #30300
it's crashing if I keep the dev tools opened (or try to open it after closing it). right now it's empty

[2017-07-11 22:22] cleidigh opened #30433 "Hover Popup: Ghosting/Overflow into panel when resized"
- VSCode Version:  1.14.0
- OS Version: <code>Windows_NT x64 6.1.7601</code>

Problem:

The code lens hover view overflows/partially ghosts into panel
when panel resized with keyboard command Increase View Size.
It does not matter which panel output or terminal is visible.

Steps to reproduce:

- open code with code in editor and panel visible
- hover over some code to get popup
- focus on termina

[2017-07-11 22:29] cleidigh commented on #29698
@GharTok
Good, I'm not crazy ;-)
can we reopen this?

[2017-07-11 22:46] sean-mcmanus opened #30434 "package.json with a png icon shows a seemingly bogus warning"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cpptools|ms-|0.12.0

---

Steps to Reproduce:

1. Open a package.json with a png for the icon.

Bug: It gives the warning "Relative image URLs require a repository with HTTPS protocol in the packa

[2017-07-11 22:49] alefragnani opened #30435 "Show/Hide `Running Tasks` StatusBar"
- VSCode Version: 1.15 Insiders
- OS Version: Windows

The new `Running Tasks` item in the StatusBar is show even for _Empty Folders/Workspaces_ or Folders/Workspaces that don't have any `.vscode/tasks.json` defined.

It's a great addition to have this new StatusBar item available 👍  , but I think that it should be hidden if the opened Folder/Workspace don't have any task available, or maybe a `Us

[2017-07-11 22:55] pi0 commented on #15478
Anyone noticed Why native tabs are broken again with `1.13-*` ~> `1.14.*` ?  😭

[2017-07-11 23:00] w1lujeng opened #30436 "cut and past NOT working"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:24:22.120Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
live-html-previewer|hdg|0.0.1

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-07-11 23:00] cleidigh commented on #29793
@Tyriar
Oh well, beaten to the punch...
The OS X select all got fixed in #30016 - you can close this out.
I have to look for something new to do, if any of the help items are highest priority (and no one's working on them already ;-) let me know. I'm free and looking for work ! I'm also posting the problems I saw.

[2017-07-11 23:05] KrunchMuffin commented on #16725
THis needs to be addressed

[2017-07-11 23:08] ndneighbor commented on #30427
Confirmed that is also breaks the Mac build of 1.14 this one really screwed the pooch.

[2017-07-11 23:10] mherodev commented on #15611
The biggest offender here is my collection of 5+ linters that are only individually useful alone on specific workspaces.

Preferably I could have my personal settings disable them by default, and them enable them on a workspace level, e.g.

**User Settings**
[code]

**Workspace Settings**
[code]

Then my linters are correctly enabled workspace to workspace.

An improved enhancement would be to hav

[2017-07-11 23:14] homer666 opened #30437 "Any Git operations requiring credentials no longer work"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T20:36:40.018Z)
- OS Version: Linux x64 4.4.0-83-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
githistory|don|0.2.1
godot-tools|gee|0.2.7
cpptools|ms-|0.12.0

(1 theme extensions excluded)

Reproduces without extensions: Yes

---

VSCode would display a prompt asking for my credentials when

[2017-07-11 23:17] chrmarti commented on #30407
@jrieken Can reproduce, the source is at https://github.com/atefth/ruby-on-rails-snippets-vs-code.

[2017-07-11 23:22] chrmarti commented on #30427
Does this reproduce without extensions? Launch with `code --disable-extensions` to check.

[2017-07-11 23:22] ndneighbor opened #30438 "1.14 Window Hangs Upon Opening"
![image](https://user-images.githubusercontent.com/15745278/28094826-e54cf8be-6653-11e7-8c29-919e91d90d36.png)

- VSCode Version: 1.14.0
- OS Version: Mac OS Sierra 10.12.5
Steps to Reproduce:

1. Upgrade to 1.14
2. Use the editor for a few minutes

Reproduces without extensions: Yes

At the moment I am gathering more data as to what extensions it might be colliding with, when I run
it with `code

[2017-07-11 23:24] cschiewek commented on #15478
It works fine for me @ 1.14.0

[2017-07-11 23:27] chrmarti commented on #30403
@luchillo17 Could you list your extensions with `code --list-extensions` and append here?

[2017-07-11 23:33] ndneighbor commented on #30438
![image](https://user-images.githubusercontent.com/15745278/28095285-7edfc392-6656-11e7-8cbf-3ffba3384ab0.png)

`code --disable-extensions` allows me to open a project but still crashes upon opening it

[2017-07-11 23:36] dstorey commented on #28587
I like the plan.

Some additional ideas:
* It would be nice to default to hex shorthand where available (like #111 rather than #111111)
* It would be really cool if VS Code understood your linter rules and defaulted to that format for colours if you have one specified. I could imagine this wouldn't be easy as there are more than one CSS linter.
* CSS4 extends hex to be able to specify the alpha ch

[2017-07-11 23:37] chrmarti commented on #30436
Does this reproduce when launching with `code --disable-extensions`?

[2017-07-11 23:39] devtrix commented on #30438
Same here

[2017-07-11 23:40] dlchen commented on #29887
I second this feature request! I use Source Code Pro ExtraLight (aka `font-weight 200`) in iTerm2 and would love to be able to set my integrated terminal to use the same font-weight. Thanks and keep up the great work!

[2017-07-11 23:41] babakness opened #30439 "Cannot connect to debugger (--inspector flag)"
- VSCode Version: 1.13.1
- OS Version: 10.12.5
- Node: 8.1.2
- Chrome 59
Steps to Reproduce:

1. `node --inspect=0.0.0.0:9229 index.js`

[code]

contents of launch.json
[code]

2. start debugger in VS Code. Stalls for a while then:

`Ensure Node was launched with --inspect. Cannot connect to runtime process, timeout after 10000 ms - (reason: Cannot connect to the target: connect ECONNREFUSED 0.0.0

[2017-07-11 23:42] shockthetoast commented on #30266
Ah, all those files were open. I had no idea that having files open would add them to the search even when they were excluded. Is there any chance that could be made an option?

Now with all the files closed (except the settings.json), I'm running a search for "locked".
If the line in the excludes is: `"_src/wrap/lib/externals/": true,`

I get results in:

- `_src\wrap\css\menu.css`
- `_src\wrap\l

[2017-07-11 23:43] InejGhafa opened #30440 "Vertical terminal"
Vertical terminal.Vertical space is more usefull tbh

[2017-07-11 23:49] kuncevic commented on #6406
Currently my settings are:
[code]
So when I am pressing `ctrl`+`shift`+`c` the new `cmder` terminal windows gets opened, but not a new tab in existing `cmder` window not taking in to account I have this settings in my `cmder`:

![image](https://user-images.githubusercontent.com/1283734/28095710-4a2aef96-66e7-11e7-833b-445f169e55fc.png)
Any thoughts how to fix?

[2017-07-11 23:51] #30361 closed

[2017-07-11 23:52] roblourens commented on #30266
The issue with open files is a bug, tracking it here: #29658

I think the difference between excludes with `/`, `/**`, and no trailing slash is a windows-specific thing. Works as expected on MacOS.

[2017-07-11 23:53] roblourens commented on #30439
What if you omit the `0.0.0.0`?

[2017-07-11 23:55] tuxagon commented on #30438
On Ubuntu 16.10, I have the same issue; however, `code --disable-extensions` will allow me to interactive with vscode.

[2017-07-11 23:55] roblourens commented on #30439
This works for me...

Also, can you navigate to `http://0.0.0.0/json` after starting Node?

[2017-07-11 23:58] CarlosAzocar opened #30441 "Extensions are not displayed after switching to Explorer"
- VSCode Version: 1.15.0-insider
- OS Version: Windows 10 x64

Reproduces without extensions: Yes/No
![issue](https://user-images.githubusercontent.com/18235355/28095806-8229bb22-6672-11e7-90d8-5d0fc5c7fa9d.gif)

[2017-07-12 00:03] JohnMagdy opened #30442 "Microsoft Visual Code - Suggestion"
Hello all, so iam intersted on suggesting every idea i might get for this Amazing Editor.
it 'd be much better if you sir added a feature which we might Backup our opened files with an schedule (like every 5 seconds but it could be customized) and the backup file will be saved as ${File_Name}.${File_Type}@${Time}_${Date}.bak for example `index.html@3:01 AM_12/7/2017.bak` on an temporary directory

[2017-07-12 00:04] epiqueras opened #30443 "Syntax Highlighting Broken on New Release"
Syntax highlighting for object properties and JSX is broken.

- VSCode Version: 1.14
- OS Version: OSX El Capitan 10.11.6

Reproduces without extensions: Yes

[2017-07-12 00:05] jilustrisimo commented on #30438
same here, OSX 10.12.5

[2017-07-12 00:06] chrmarti commented on #30438
@ndneighbor Could you clarify if `code --disable-extensions /path/to/project` works?

@ndneighbor @devtrix @tuxagon Could you append the list of installed extensions here? `code --list-extensions`? Also: Does this happen immediately after startup or only after a while and when doing something specific?

[2017-07-12 00:11] Tyriar commented on #30294
We may want this in the recovery build since it's a regression that makes the cursor char unreadable /cc @roblourens

[2017-07-12 00:12] PooperPig commented on #30403
I'm having very similar experience developing angular 2 with the following extensions
Angular.ng-template
christian-kohler.path-intellisense
CoenraadS.bracket-pair-colorizer
EditorConfig.EditorConfig
eg2.tslint
GregorBiswanger.json2ts
johnpapa.angular-essentials
johnpapa.Angular2
msjsdiag.debugger-for-chrome
natewallace.angular2-inline
PKief.material-icon-theme
rbbit.typescript-hero

I will try to

[2017-07-12 00:13] chrmarti commented on #30443
Could you open a separate issue for git? We prefer to track one problem per issue.

Could you attach a screenshot of the broken syntax highlighting? Which theme are you using?

[2017-07-12 00:14] DServy commented on #30438
Failing on Typescript projects, and also welcome screen becomes unresponsive on start up as well.

[2017-07-12 00:19] bradrich commented on #30407
I am not using the `ruby-on-rails` extension and I am also experiencing issues that are causing the application to become unresponsive. Running `--verbose` showed several issues that had the `confuses snippet` message within them. After removing those extensions, the application still becomes unresponsive, even though there are no further errors being shown. `--disable-extensions` does fix the pro

[2017-07-12 00:19] chrmarti commented on #30438
@DServy Does this reproduce with `code --disable-extensions`?

[2017-07-12 00:21] babakness commented on #30439
http://0.0.0.0/json (port 80?) returns nothing as expected (since a webserver isn't running at that port)

port 9229, nothing.

Omitting 0.0.0.0 and starting node with just --inspect without specifying IP results in this:

Ensure Node was launched with --inspect. Cannot connect to runtime process, timeout after 10000 ms - (reason: Cannot connect to the target: connect ECONNREFUSED 127.0.0.1:9229).

[2017-07-12 00:23] J404 opened #30444 "HTML saving as RHTML"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions: none
---

Usually, when I save HTML files in Visual Studio Code they save as the type HTML. So, when I open the files in my file explorer, I have an option to "Open with Google Chrome" and I can see my HTML page from there in the browser (or any

[2017-07-12 00:24] DServy commented on #30438
@chrmarti Seems to work with that flag enabled.

List of extentions:

- CraigMaslowski.erb
- DavidHelmer.mavensmate
- EditorConfig.EditorConfig
- atefth.ruby-on-rails-snippets
- bengreenier.vscode-node-readme
- casualjim.theme-desertex
- christian-kohler.npm-intellisense
- chuckjonas.apex-autocomplete
- chuckjonas.apex-debug
- chuckjonas.apex-pmd
- codezombiech.gitignore
- cometeer.spacemacs
- dba

[2017-07-12 00:26] devtrix commented on #30438
@chrmarti
This extension was my culprit atefth.ruby-on-rails-snippets-0.0.1

[2017-07-12 00:26] rebornix commented on #30438
if you remove rails 4 snippet extension, the issue can be gone.

[2017-07-12 00:27] devtrix commented on #30438
@DServy
Try removing this extension atefth.ruby-on-rails-snippets-0.0.1

[2017-07-12 00:28] rebornix commented on #30407
@jrieken one good snippet that leads to the freeze

[code]

[2017-07-12 00:31] DServy commented on #30438
@devtrix @chrmarti @rebornix Great catch, thanks again!

[2017-07-12 00:32] Livven commented on #28595
The built-in task support does not work for me either, though it seems because of a different reason since instead of an error message I get the `Usage: npm <command>` help screen similar to when you run `npm` by itself.

[2017-07-12 00:33] jilustrisimo commented on #30438
@devtrix It worked, thanks.

[2017-07-12 00:35] pjgoodall opened #30445 "Repeated notification of update already installed"
- VSCode Version:
- OS Version: Ubuntu Xenial

Steps to Reproduce:

1. Start, or reinstall and start vscode from commandline `code .`
2. Wait for update notification, or check for updates.

Reproduces without extensions: Yes

[2017-07-12 00:37] epiqueras commented on #30443
@chrmarti
I edited the issue to remove the git comment.

The theme is Monokai Dimmed, but I see it happen with all of the built in themes. If I remember correctly, object references used to have a different color from their property accessors.

![sample](https://user-images.githubusercontent.com/19157096/28096642-418a9360-665f-11e7-8f33-3826defa2716.png)

[2017-07-12 00:48] aeschli commented on #29271
The problem is with the following rule:
				{
					"begin": "(?=[\\\\a-zA-Z_])",
					"end": "(?i)\\b([a-z_][a-z_0-9]*)?(?=[^a-z0-9_])",
					"endCaptures": {
						"1": {
							"name": "support.class.php"
						}
					},
					"patterns": [
						{
							"include": "#namespace"
						}
					]
				}

Removing the positive lookahead (?=[^a-z0-9_])) solves the issue, so it seems like the VSCode tex

[2017-07-12 00:50] chrmarti commented on #30407
@bradrich Unfortunately extensions can only be uninstalled when starting with `--disable-extensions`. You could list them with `--list-extensions` and uninstall/install from the command line (see `--help`). Could you post the list of installed extensions here?

[2017-07-12 00:52] airtonix commented on #28344
good start. but two things... three really.

1. sublimetext configuration about this concept makes a lot of sense.

2. the workspace definition needs to be in the workspace settings no the user settings.

3. `folders` is just an array of strings. Does this mean they can be an array of objects? where's the schema documentation for this feature? for example i'd like to do this:

[code]

[2017-07-12 00:52] chrmarti commented on #30438
Duplicate of #30407. Thanks.

[2017-07-12 01:02] karuna commented on #30407
@rebornix thanks. I am removing ruby.json on my config folder and it works just fine now.

[2017-07-12 01:02] chrmarti commented on #30403
The immediate freeze at startup could be #30407 that is triggered by some snippets in extensions.

The problem reported by @ranbuch seems to be a different problem. @ranbuch Does the problem reproduce if you launch with `code --disable-extensions`?

[2017-07-12 01:03] chrmarti commented on #30427
@mdenson-dayspring Also: What kind of files are you working on? Could you attach a screenshot of the window when it is frozen?

[2017-07-12 01:04] dskad opened #30446 "Emmet (HTML) not honoring grouping syntax"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.16237
- Extensions: (tested with all extensions disabled)

Extension|Author (truncated)|Version
---|---|---
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
vscode-eslint|dba|1.2.11
vscode-npm-script|eg2|0.2.0
LogFileHighlighter|emi|1.1.1
auto-close-tag|for|0.

[2017-07-12 01:06] #30438 closed

[2017-07-12 01:08] marckassay opened #30447 "PowerShell Integrated Console unusable with no internet"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.2.11
tslint|eg2|0.16.0
PowerShell|ms-|1.4.1
debugger-for-chrome|msj|3.1.6

---

Steps to Reproduce:

1.  Disconnect computer from internet
2.  Launch VSCode with a project that

[2017-07-12 01:10] LachlanArthur opened #30448 "PHP namespaced trait breaks syntax highlighting"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.15063

Steps to Reproduce:

1. Make a PHP class that uses a namespaced trait

Example:
[code]

Reproduces without extensions: Yes

[2017-07-12 01:10] karuna commented on #30407
@bradrich also if you have user snippets for ruby language it may cause crash.

[2017-07-12 01:12] aeschli commented on #30413
Check out the setting "html.format.unformatted". It defines the elements that are not formatted. Span is part of this, that's why the inner span is not formatted.

[2017-07-12 01:12] #30413 closed

[2017-07-12 01:12] aeschli commented on #29271
This issue was moved to Microsoft/vscode-textmate#50

[2017-07-12 01:12] #29271 closed

[2017-07-12 01:23] onury opened #30449 "High CPU overload after update to VSCode 1.14.0"
- VSCode Version: 1.14.0
- OS Version: macOS Sierra 10.12.5

Steps to Reproduce:

1. Just open a project. (even without extensions) and Code Helper CPU usage goes too high.

Reproduces without extensions: **Yes**

Arguments of Code Helper process:
[code]

EDIT: Also, Code Helper will not quit after quitting VSCode. I have to force-kill everytime.

[2017-07-12 01:25] wjtGitHub commented on #30341
@chrmarti
I'm sorry I didn't see your reply. I reset my computer, and then the problem was solved. However, the reasons for the problem are still unclear. The problem was that I upgraded from 1.12 to 1.13. So vscode couldn't run. But the program will stay in the process.

[2017-07-12 01:25] #30341 closed

[2017-07-12 01:34] tuxagon commented on #30427
I'm getting this same error on Ubuntu 16.10. I can interact with code when I run `code --disable-extensions`; however, if I disable all installed extensions and restart code, then code will still hang like the OP's issue.

[2017-07-12 01:42] onury commented on #410
I need to downgrade due to #30449

[2017-07-12 01:57] kzhui125 opened #30450 "Fresh install on win10(zh-CN), locale.json should be "zh-CN" rather than "zh-cn""
Although "zh-cn" works, but there is a prompt: "value is not accepted".

![1](https://user-images.githubusercontent.com/11925432/28098339-50055e6e-66e8-11e7-8c17-89d63e597a7a.png)

[2017-07-12 01:57] dmastag commented on #28593
VSCode update 1.14 seems to have resolved this

[2017-07-12 02:01] modarend opened #30451 "vscode stuck"
- VSCode Version:    1.14.0 (1.14.0)
- OS Version:  macos 10.12.5 (16F73)

Steps to Reproduce:

1.Jammed tip: window can no longer response to open or close the window, or keep waiting.
2.Choose to wait.
3.Restart or failure has no effect

Reproduces without extensions: Yes/No

[2017-07-12 02:05] Kaijun commented on #178
@karabaja4 great work. Another approach: how about running `git status` at init, and then update whenever the `onFileSave` is fired? would this be more efficient?

[2017-07-12 02:08] AaronFriel opened #30452 "Insider builds not being published to the Debian repo since July 5th"
- VSCode Version:  1.15.0-insider / 1.15.0-1499795530 (ec5b0498651bde043ec357a8f36d475cc0880cfc)
- OS Version: Ubuntu 17.04 / `uname --srop`: Linux 4.10.0-26-generic GNU/Linux`

Steps to Reproduce:

1. `apt-get update`
2. See that no updates are available
3. Do this for several more days and wonder why code-insiders doesn't show up
4. Go to the package repo in a browser and observe that this is be

[2017-07-12 02:08] AaronFriel commented on #30452
neat bot

[2017-07-12 02:11] PooperPig commented on #30403
It appears that Typescript Hero may be the culprit in my case.
With it disabled performance seems normal - with it enabled VS Code shows high CPU usage and is very slow to respond.
I notice this wasn't in the OP's list of add-ons, but maybe it will help with others, and may help identify the root cause.

note: I only installed TS Hero a few days ago whereas the other extensions I've been using for

[2017-07-12 02:31] lokyoung commented on #30451
Having this issue too. VSCode just stuck after updated. Can't do anything now.

[2017-07-12 02:33] erichiller commented on #26681
+1 On Finnish - another here who can help with Finnish translations - let me know when the time is ready.

[2017-07-12 02:33] rafaelsouza commented on #30451
I'm having the same issue, tried to remove extensions but same result.

[2017-07-12 02:36] chenjie4255 commented on #15478
It works fine for me too with 1.14.0
@pi0 Try close all the windows and open vscode again.

[2017-07-12 02:38] thelastfantasy opened #30453 "emmet.extensionsPath do not work on 1.14.0"
![emmet](https://user-images.githubusercontent.com/6077584/28099362-a47ab0b0-66ee-11e7-928a-412dedc873c2.png)

VScode cannot recognize the path.

[2017-07-12 02:40] meanphil commented on #30451
Same here, additionally 'Code Helper' seems to be spinning in the background on 150%+ CPU usage

[2017-07-12 02:52] easykid opened #30454 "New emmet(HTML) does not work with pure number value"
- VSCode Version: 1.14.0
- OS Version: macOS Sierra 10.12.5

Steps to Reproduce:

1.open a HTML file
2.type ```div[custom-attr=123]``` then press ```Tab```
It does not work.

Text abbreviation like ```div{123}``` does not work either.

Reproduces without extensions: Yes

[2017-07-12 03:07] fbandrey commented on #30451
+1

[2017-07-12 03:09] bestvow commented on #30454
![snipaste_20170712_110713](https://user-images.githubusercontent.com/24888709/28100024-4dab6ffa-66f2-11e7-8a85-9890f972a880.png)

[2017-07-12 03:20] Thaina opened #30455 "How can I extend tree view from the main explorer?"
Suppose I have `.cs` file in my project and it was shown in explorer properly. But then I want to add symbol tree view to that `.cs` file

Can I register my tree on the main explorer?
Where could I hook the main explorer instead of create custom tree?

[2017-07-12 03:22] luchillo17 commented on #30403
@chrmarti My issue is not performance related, i don't see my CPU usage going up that hard, it just freezes the moment i open the app, then later it ask me if i want to keep waiting or close the app.

As for the list of plugins, i have many, at least 15 i think, let me see if i find the list the Sync plugin generates in github...

Ok here we go:
https://pastebin.com/FA8iiHHG

[2017-07-12 03:28] EvilArtist opened #30456 "Add duplicate Current line or current selection by shortcut"
In notepad++ I can duplicate current line or selection Text by pressing Ctrl+D. It's similar to Copy and Paste  right after caret position. Hope that, I can do the same in Vscode

[2017-07-12 03:29] rafaelblink commented on #6072
@alexandrudima removing C:\Users\[...]\.vscode\extensions worked perfectly, thanks bro.

[2017-07-12 03:34] timosaikkonen commented on #30449
Ditto, 1.14 is absolutely murdering my CPU.

[2017-07-12 03:39] cleidigh commented on #29698
@joaomoreno
any reason to try new version of node or npm?
or are there any other TSC dependencies I may have incorrectly installed?

[2017-07-12 03:43] iahu opened #30457 "Got a pink background color status bar"
<img width="1024" alt="dingtalk20170712113735" src="https://user-images.githubusercontent.com/1704588/28100791-dca76f16-66f6-11e7-9bd2-eb7e07f3a656.png">
Pink is not my color. I want change a different color. The question is how to change it?
Thanks.

[2017-07-12 03:44] cleidigh commented on #29491
Is this one-liner PR okay?

[2017-07-12 03:51] chrmarti commented on #30427
@tuxagon When starting with `code --disable-extensions` extensions can only be uninstalled, but not disabled. Do you by chance have `atefth.ruby-on-rails-snippets-0.0.1` installed and does uninstalling it resolve the issue?

[2017-07-12 03:58] GharTok commented on #29698
@cleidigh  What I reported earlier was on Windows 10.
Now I have been able to reproduce the same problem on macos (worked fine yesterday)

Today, on a working macos machine I ran git clean -xfd
now when I try ./scripts/npm.sh install it fails

The errors start with TypeScript errors and end with npm ERR!... as follows:
...

lib/tslint/allowAsyncRule.ts(9,14): error TS2415: Class 'Rule' incorrectly

[2017-07-12 03:59] chrmarti commented on #30403
@PooperPig Thanks, that helps!

@luchillo17 You have the Rails snippets installed, these are known to trigger #30407. Could you try running `code --uninstall-extension atefth.ruby-on-rails-snippets` (or use the UI if you're back on 1.13) and then launch code 1.14 to see if that works around the problem?

[2017-07-12 04:00] WilsenHernandez commented on #178
+1 this would be very helpful if added

[2017-07-12 04:05] bpasero commented on #30404
@enozero you can type the folder name (before the file name) and it should narrow down, does that not work for you?

[2017-07-12 04:07] chrmarti commented on #30449
@timosaikkonen Could you check which process and with which arguments this is?

@onury 's command line shows the tsserver.

[2017-07-12 04:09] bpasero commented on #30421
https://github.com/Microsoft/vscode/issues/30269

[2017-07-12 04:09] #30421 closed

[2017-07-12 04:11] andrewzielinski commented on #30451
+1

[2017-07-12 04:12] bpasero commented on #30432
Somehow missed to release note this, it came in as PR. See https://github.com/Microsoft/vscode/issues/28280

[2017-07-12 04:12] #30432 closed

[2017-07-12 04:13] Magnusvb commented on #30451
+1

[2017-07-12 04:15] jens1o commented on #30457
Open your user settings, and insert this:
[code]

You can change the color code at any given time.

[2017-07-12 04:16] bpasero commented on #30457
Sorry, but this is not the right place for questions. Please post questions over at StackOverflow: http://stackoverflow.com/questions/tagged/vscode

Thanks for understanding.

[2017-07-12 04:16] #30457 closed

[2017-07-12 04:16] bpasero commented on #30451
This looks like https://github.com/Microsoft/vscode/issues/30407

[2017-07-12 04:16] #30451 closed

[2017-07-12 04:17] chrmarti commented on #30451
- Does it freeze immediately after startup?
- Do you have the Rails snippets installed? (`code --list-extensions` showing `atefth.ruby-on-rails-snippets`)
  - If so try uninstalling that. (`code --uninstall-extension atefth.ruby-on-rails-snippets`)
  - If not, try launching with all extensions disabled (`code --disable-extensions`) posting the result here.

Let us know if any of that helps. If not

[2017-07-12 04:17] chrmarti commented on #30451
@bpasero Was faster :D

[2017-07-12 04:18] bpasero commented on #30328
Should be ok after https://github.com/Microsoft/vscode/commit/2ae81ab6ec6a7b7dfdb391c54d46f1696b21b945

[2017-07-12 04:18] #30328 closed

[2017-07-12 04:33] ctdalton commented on #23976
Issue still exists with version 1.14.0

[2017-07-12 04:40] roblourens commented on #30439
Right I meant :9229, thanks.

Hm... can you try any other combinations, like just `--inspect` and `http://localhost:9229`, or a different port? Or (god forbid) rebooting? I don't know why node would fail to start the webserver. And chrome should be using basically the same method to discover it...

[2017-07-12 04:42] roblourens commented on #30426
That would be helpful - will track in #8594

[2017-07-12 04:42] #30426 closed

[2017-07-12 04:42] meanphil commented on #30407
Removing the `atefth.ruby-on-rails-snippets` extension fixed it for me. i.e.:

[code]

[2017-07-12 04:43] roblourens opened #30458 "Publish node2 with localizations"
Didn't quite get these in time for 1.14...

[2017-07-12 05:01] mjbvz commented on #30443
Duplicate of #30428 I believe. Should be fixed in next 1.15 insiders build. Looking into taking this into 1.14.1 as well

[2017-07-12 05:01] #30443 closed

[2017-07-12 05:04] ramya-rao-a commented on #30446
We are tracking this in #27784 and https://github.com/emmetio/atom-plugin/issues/23

Thanks for reporting!

[2017-07-12 05:04] #30446 closed

[2017-07-12 05:04] ammarsabir26 commented on #30322
I am working in c# , IDE unity 5.3.2
shift from one tab to the other ,
move back to the 1st tab , 1st tab will no longer focus at the code where
you left it , it will focus somewhere down in the code. i've to scroll
everytime to move back to the code where i left it

On Tue, Jul 11, 2017 at 4:39 AM, Matt Bierner <notifications@github.com>
wrote:

[2017-07-12 05:10] mjbvz commented on #30322
Can you please try taking screenshots or a video of the problem? Also, does this happen if you disable all extensions? Just run the `Extensions: Disable All Extensions` command to check.

[2017-07-12 05:10] ramya-rao-a commented on #30454
@easykid

- Can you share the version of the Insiders build you are using?
- Do you have `emmet.useNewEmmet` set to `true` or `false` ?

Using the `Emmet: Expand Abbreviation` command in the examples you have shown work as expected.

The suggestion list doesn't show the emmet expansion when `emmet.useNewEmmet` is set to `true` in you cases.

Can you confirm?

[2017-07-12 05:11] ramya-rao-a commented on #30453
@thelastfantasy The path should be set to the folder not the file

[2017-07-12 05:11] #30453 closed

[2017-07-12 05:11] myleslee commented on #28327
just upgraded to 1.14.0 and 4-space nightmare is still there.

[2017-07-12 05:24] AlbinOS commented on #30407
From my side I had to remove the ruby extension and reboot my Mac.

Thanks for the support !

[2017-07-12 05:32] Magnusvb commented on #30451
Solved. Thanks!
The Terminal way did not worked for me, so I manually removed "atefth.ruby-on-rails-snippets-0.0.1" from .vscode/extensions

[2017-07-12 05:35] cleidigh commented on #29698
@GharTok
just to be clear, you are seeing build problems with NPM install
do you have problems doing binary packaging?
I have seen similar errors to what you describe, but these have2 been inconsistent.
sometimes doing a clean and restarting solves the problem, but for no apparent reason

[2017-07-12 05:37] rrkandala commented on #30448
I'm having same problem.
Using 'use' inside a class breaks syntax highlighting.

[2017-07-12 05:43] joaomoreno commented on #29698
cc @mjbvz @jrieken Have you seen these errors?

[code]

[2017-07-12 05:44] AshleyRodanHP commented on #1749
It just reverted with the last update.
Last update i would cmd+1 and it would split it vertically and now when i do cmd+1 it splits it horizontally.

Id ont see any option in my setting to change this. Was looking for toggleEditorGroupLayout with no avail. :/

Current version is Version 1.14.0 (1.14.0)

[2017-07-12 05:44] csreddy commented on #30449
This is killing my productivity, absolutely unusable. Is there a way to switch to previous version until you release fix for this ?

[2017-07-12 05:44] tkrajacic opened #30460 "Regression June 2017: Flickering when resizing window or resizing terminal panel"
On the latest June release there is some severe lagging and flickering on the main window on resizing the editor. That wasn't the case before the last update.

- VSCode Version: June 2017 (1.14)
- OS Version: macOS 10.12.5
- Macbook Pro with Retina screen

Steps to Reproduce:

1. open any file
2. resize window or the terminal split panel

Reproduces without extensions: Yes

I made some screen reco

[2017-07-12 05:48] joaomoreno commented on #30378
OK, wouldn't the current workspace path be enough for you?

[2017-07-12 05:49] timosaikkonen commented on #30449
@chrmarti Damn, didn't think to check that before downgrading. Having too chaotic a day to troubleshoot this further today but I suspect it's tsserver as well, since I'm working on TS projects too.

@csreddy You can grab the previous version from https://code.visualstudio.com/updates/v1_13

[2017-07-12 05:50] DanTup opened #30461 "Test failing in Code 1.14 checking isActive on extension after openTextDocument"
I had this test in my extension which began failing with the 1.14 release:

[code]

The extension works fine so I don't think there are no real consequences of this but before I change the test I wanted to make sure this was an expected change (I tried looking through source of getExtension/openTextDocument but couldn't see any obvious change). My guess is that some either timing changed in openTe

[2017-07-12 05:50] joaomoreno commented on #29861
Code doesn't need to. The equivalent of `git mv` is achieved by renaming the file and staging the two changes (add, delete). It will appear as a move in the index. That is exactly what you would get with `git mv`: the change is staged.

[2017-07-12 05:51] joaomoreno commented on #30437
What does `ls -la /usr/share/code/resources/app/extensions/git/out/askpass.sh` return?

[2017-07-12 05:52] joaomoreno commented on #30445
What version do you have installed? What version does it tell you to download?

[2017-07-12 05:53] spences10 opened #30462 "Drag and drop files not working"
- VSCode Version: Code - Insiders 1.15.0-insider (7bb3b89031cbce46536ba870868d889d639e12f1, 2017-07-11T17:55:51.921Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
markdown-toc|Ala|1.5.5
Bookmarks|ale|0.15.2
vscode-color|ans|0.4.1
unique-lines|bib|1.0.0
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
vscode-es

[2017-07-12 05:54] csreddy commented on #30449
@timosaikkonen thank you!

[2017-07-12 06:03] alexshak commented on #30449
Can confirm this is also happening on Windows 10.

[2017-07-12 06:04] sandy081 commented on #30120
@ghiscoding No, you can reorder only through drag and drop.

[2017-07-12 06:05] bugs181 opened #30463 "Javascript definitions break with node_modules"
- VSCode Version: 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40)
- OS Version: OSX 10.10.1

Steps to Reproduce:

1. Open first file, hold command, hover above item. Item turns blue and is underlined with a preview.
2. Open second file, hold command, hovering above item does nothing.
3. Additionally, right clicking item and selecting context menu 'Go to definition' will provide the error 'No def

[2017-07-12 06:06] michelkaporin commented on #29937
I see, @bpasero, thanks!

[2017-07-12 06:09] mjbvz commented on #30460
Duplicate of #24643

[2017-07-12 06:09] #30460 closed

[2017-07-12 06:10] mertcelen commented on #30437
@joaomoreno
I had the same issue, the permission list is below
`-rw-r--r-- 1 root root`

Giving run permission is solve this issue as expected.

[2017-07-12 06:12] King66 commented on #28663
![1](https://user-images.githubusercontent.com/11925432/28104105-f9aaa0e6-670b-11e7-99cb-6a09da80eef3.JPG)

Maybe it's better not to recommend extensions under start 3 ?

[2017-07-12 06:17] levani commented on #25632
I'm behind a proxy on windows 10 and also experienced this. Disabling the proxy seems to fixed it. Was trying to update from vscode 1.13.1

[2017-07-12 06:18] mjbvz commented on #29698
This look like the errors you see when building with TypeScript. 2.4.

Are you synced to a point after https://github.com/Microsoft/vscode/commit/96643e312a8a4b3f9836c43061408f7b04c96f90 ?

[2017-07-12 06:26] mjbvz commented on #30449
For anyone running into issues with the VSCode 1.14: you probably don't need to downgrade VSCode, just the TypeScript version. [Here are the instructions on that](https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions). We previously shipped with TS 2.3.4 so you'll want to try installing that version locally and using it in your workspace

----

To help us investi

[2017-07-12 06:27] mbiebusch commented on #30159
Happens on other devices, too. You might want to try WIN + UP and WIN + DOWN as well to "fix" the issue.

[2017-07-12 06:28] mjbvz commented on #30463
Can you please share some code or a small project that demonstrates this issue.

Also try creating a [`jsconfig.json`](https://code.visualstudio.com/Docs/languages/javascript#_javascript-project-jsconfigjson) at the root of your project to ensure all JS files are part of the same project

[2017-07-12 06:31] mjbvz commented on #30383
Duplicate of #14298

[2017-07-12 06:31] #30383 closed

[2017-07-12 06:33] mjbvz commented on #30342
Is this issue consistent? Does it happen when you first start vscode or randomly after a little while?

[2017-07-12 06:34] mjbvz commented on #28646
Closing. Please let us know if you see this issue in the latest vscode builds with extensions disabled

[2017-07-12 06:34] #28646 closed

[2017-07-12 06:36] iOSQiao commented on #24788
when I debug react-native, I've had this problem, too.
![2017-07-12 14 35 03](https://user-images.githubusercontent.com/13956756/28104798-5ed1046c-670f-11e7-941c-7ef24000c552.png)
How should I solve this problem?

[2017-07-12 06:37] mjbvz commented on #29116
Closing as without more info, this sounds like a dup of #28324.

@txssseal Try running the `go to definition` commands directly. If this does not work as expected in js/ts, please let me know

[2017-07-12 06:37] #29116 closed

[2017-07-12 06:38] mjbvz commented on #30221
Closing as there is not enough information to investigate this issue

[2017-07-12 06:38] #30221 closed

[2017-07-12 06:38] zephrxx commented on #10023
Can it use the console caption as the default session name?

[2017-07-12 06:39] easykid commented on #30454
@ramya-rao-a

I have ```emmet.useNewEmmet``` set to ```true```.

I'm not sure about the version of the Insiders, I just downloaded the latest stable version this morning.

Using ```Emmet: Expand Abbreviation``` command work as expected, but not with ```tab```.

[2017-07-12 06:41] leixu2txtek commented on #30437
@joaomoreno  I had the same issue.

[code]

[2017-07-12 06:41] mjbvz commented on #30005
@blog-lyn Try setting `"typescript.disableAutomaticTypeAcquisition": true`. Then restart code and see if you still run into the issue

Here's the TS issue tracking high typings installer CPU usage: https://github.com/Microsoft/TypeScript/issues/16203

[2017-07-12 06:44] Leedehai opened #30464 "Bug: Markdown Preview does not work; shows a blank page: VSCode 1.14.0"
- VSCode Version: 1.14.0
- OS Version: macOS 10.12.5

Steps to Reproduce:

1. Open an empty file, type in some words, and save it as "test.md"
2. Commands "Markdown: Open Preview" and "Markdown: Open Preview to the Side" both do not work: a blank preview page is open, no words displayed.

Reproduces without extensions: Yes, the bug still exists.
![image](https://user-images.githubusercontent.com/1

[2017-07-12 06:44] mjbvz commented on #24152
Seems this got wontfixed by chromium: https://github.com/Microsoft/vscode/issues/30425

[2017-07-12 06:44] #24152 closed

[2017-07-12 06:45] easykid commented on #30454
When the value is mixed with non-numeric characters, like ```div{1a}``` or ```div[attr=a1]```, ```tab``` works fine.

[2017-07-12 06:48] bgraeb commented on #30464
Same on Windows 10.0.15063

[2017-07-12 06:51] hasubasora opened #30465 "Automatic line feed failure"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-class-suggestions|And|1.0.7
ivue|dai|0.1.0
Vue2|duc|0.1.3
vscode-html-css|ecm|0.1.7
vscode-great-icons|emm|2.1.9
vue-snippets|hol|0.1.2
weex|jay|0.4.0
format-indent|Kas|1.3.0
format-php|Kas|1

[2017-07-12 06:52] GharTok commented on #29698
@cleidigh yes, scripts/npm install is the issue (both Windows 10 and macos)

On macos I can now replicate the problem, so hopefully can isolate and fix it soon.
Still working on it, here is what I have determined so far.

EXISTING local VSCode project release/1.13 scripts/npm.sh install WORKS
after running git clean -xfd scripts/npm.sh install FAILS

**NEW VSCode Clone branch release/1.13 - Instal

[2017-07-12 06:57] mjbvz commented on #29698
@GharTok Try cherry-picking 96643e3 into your local 1.13 branch and then running `git clean -xfd` `./scripts/npm.sh install`

[2017-07-12 06:58] chukwu commented on #30451
Yeah...ruby on rails snippet extension was the bad guy.
Thanks

[2017-07-12 06:59] #30444 closed

[2017-07-12 07:02] GharTok commented on #29698
@mjbvz thanks - trying it now

[2017-07-12 07:03] bpasero commented on #30462
I can reproduce (in insiders only). @sandy081 could this be a regression from your DND work of sections?

[2017-07-12 07:03] egamma opened #30466 "Pick latest stable version automatically when generating extensions"
It should now generate 1.14

[2017-07-12 07:04] fr43nk commented on #30377
Ok, I can see your concern but actually I don't close vscode that way :) Perhaps it's possible to add a configuration option, to restore the windows, if I choose "close all windows" from the  windows taskbar.

[2017-07-12 07:04] bpasero commented on #30466
Ideally we would just automate this so that the generator always points to latest (e.g. by looking at the latest tag at https://github.com/Microsoft/vscode/releases

[2017-07-12 07:06] dbaeumer commented on #30435
Agree. I am currently polishing it.

[2017-07-12 07:10] fdvmarkus commented on #30452
Looks like the update released on 11th of July was [not published in the yum-repo for the normal (not insider) release](https://packages.microsoft.com/yumrepos/vscode/), either.

[2017-07-12 07:11] revathskumar commented on #30425
@mjbvz My `jsconfig.json`
[code]

[2017-07-12 07:11] Darep commented on #30464
Similar here on OSX 10.10.5 but instead of showing up empty, I get a "command not found" on VSCode 1.14.0:

![image](https://user-images.githubusercontent.com/218910/28105943-6c30ee76-66ea-11e7-8100-f5121e59e17a.png)

[2017-07-12 07:13] limerickgds opened #30467 "vscode javascript react format not use when i update to 1.14.0"
when update vscode version to 1.14.0, i format .jsx file not work.
but i change language mode javascript React to javascript . format file , it worked,but eslint has error remind.

- VSCode Version: 1.14.0
- OS Version: 10.12.5

Steps to Reproduce:

1.  update vscode version
2. format file

Reproduces without extensions: Yes
open file , format it , also not work.

[2017-07-12 07:21] ppasieka opened #30468 "Emmet doesn't work with vue files"
- VSCode Version: 1.14.0
- OS Version: Windows 10

Steps to Reproduce:
1. set in settings
[code]
2. open vue file
3. start typing ul>li [press TAB]
nothing happens.
But if I use Ctrl+Shift+P and select **Emmet: Expand Abbreviation** then it works

Also in HTML file I have this nice intellisense with preview how tags will be expanded. In vue file nothing like that appears

Reproduces without extens

[2017-07-12 07:21] dbaeumer commented on #27151
Yes, you can now run n tasks in parallel.

[2017-07-12 07:26] neotiango opened #30469 "1.14.0 version don't debug start Electron"
- VSCode Version: 1.14.0
- OS Version: MAC 10.12

`    {

      "name": "Debug",
      "type": "node",
      "request": "launch",
      "cwd": "${workspaceRoot}",
      "runtimeExecutable": "${workspaceRoot}/node_modules/.bin/electron",
      "program": "${workspaceRoot}/win.js"

    }    `

Result error: Cannot connect to runtime process, timeout after 10000 ms - (reason: Cannot connect to the ta

[2017-07-12 07:28] michelkaporin commented on #30390
Seems like an issue with the way link is opened. I am calling `editorService.openEditor()` for that, might be that I am passing wrong arguments or should migrate detector to fit multi-root. I will get back once I looked into it.

[2017-07-12 07:29] Jack-Works opened #30470 "Conflict with Onedrive file on-demand feature"
- VSCode Version: 1.14.0
- OS Version: Windows 10 Build 16237

Steps to Reproduce:
1. Enable File on-demand feature in Onedrive
2. Open a file in Onedrive folder

Reproduces without extensions: Yes

Verbose Log:
[6184:0712/152810.854:INFO:CONSOLE(28)] "Unable to open 'all.ps1': File not found (c:\Users\Jack\OneDrive\all.ps1).: Error: Unable to open 'all.ps1': File not found (c:\Users\Jack\OneDrive

[2017-07-12 07:29] dbaeumer commented on #29840
@Tyriar thanks a lot for the detailed explanation. Having solution 2 will for sure make my life easier and will not make things worse on my end. Regarding option 3: I am not interested in the view model since I need lines unwrapped. The line model is what would work best for me assuming that the line mode doesn't have any `\n` in there to make lines visually wrap .

[2017-07-12 07:32] GharTok commented on #29698
@mjbvz  That worked - tried on two systems - Thank you very much!

[2017-07-12 07:32] jrieken commented on #30409
Can you provide a screen shot? In what language does this happen? What are the other suggestions?

[2017-07-12 07:33] ksr11 opened #30471 "There is no Find text option in CSV preview"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.install Excel preview plugin(Powered by Wijmo)
2. Click on preview button in right hand side while opening a csv file.
3. CSV file opens in Grid view fashion. But  press Ctrl+F button
4. You can observe that Find dialog box never appear.
Result is  could not able to scroll to right cell .

Reproduces without extensions: Yes/No

[2017-07-12 07:40] bsvipas commented on #30373
@mjbvz Thanks!

[2017-07-12 07:40] King66 opened #30472 "Insiders: rename file, then right click"
- VSCode Version: Code - Insiders 1.15.0-insider (74f5073c54f1139d2fb0eccb251cae5ed6e8215b, 2017-07-12T05:16:04.162Z)
- OS Version: Windows_NT x64 10.0.15063

![xx](https://user-images.githubusercontent.com/11925432/28106938-59998880-6718-11e7-81fd-cebec744418c.png)

[2017-07-12 07:44] Danktuary commented on #30448
Yep, same here. It's worth noting that it only happens on traits that go deeper than the base namespace; single-level traits work normally. What I mean is: `use Thing;` works normally, but `use Some\Thing;` breaks syntax highlighting.

Here's a screenshot for those curious about this:

![VSC PHP trait broken syntax highlighting](http://i.imgur.com/YEQ5hTr.png)

[2017-07-12 07:45] Gruntfuggly commented on #30378
No - unfortunately our code base is large, so I have multiple workspaces within the same repo. The browse and includes paths have several entries which are outside the workspace, but within the git repo. Relative paths don't always work, but some workspaces are at different levels within the repo. The repo can also be checked out in any other folder. So the one thing that is consistent between the

[2017-07-12 07:47] mjbvz commented on #30471
Likely duplicate of #2187 since I believe the CSV preview uses a webview. Also try filing an issue against the CSV extension to track this

[2017-07-12 07:47] #30471 closed

[2017-07-12 07:49] mjbvz commented on #30467
1. How are you running format?
1. If you start code with the `--disable-extensions` command line flag, do you still see this issue?
1. Can you share a small example file that is not being formatted properly

[2017-07-12 07:50] vishaltelangre opened #30474 "The window is no longer responding"
- VSCode Version: v1.14
- OS Version: macOS Sierra - v10.12.5 (16F73)

Steps to Reproduce:

1. Click on the update notification shown by the vscode editor.
2. After reopening it, the editor is frozen and displays a dialog shown in below screenshot.
3. I even trashed the "Applications/Visual Studio Code.app" file and download/installed a fresh zip from https://code.visualstudio.com/. Still, the sam

[2017-07-12 07:51] karabaja4 commented on #178
@Kaijun I’m not sure how would I implement that. Where would onFileSave event come from?

If it comes from Code on document save (assuming I know how to attach to it), the files modified outside Code would be ignored.
If it comes from a folder watch logic that is implemented on the solution tree, this would have to be done recursively for the whole tree. I am not sure if it’s worth performance-wis

[2017-07-12 07:51] joaomoreno opened #30475 "Javascript formatting has changed considerably"
1. Open `vscode/build/gulpfile.vscode.js` in Code
2. Run Format (or simply save the file, in case you have auto format on save)

The file changes considerably, and forbids me to use a more compact formatting, like it used to. Some examples:

[code]

becomes

[code]

or

[code]

becomes

[code]

I am forced to disable auto format on save for javascript files. 😢

[2017-07-12 07:52] thw0rted commented on #1777
Looks like this went live with 1.14 (June update).  I actually came here looking to tone auto-detection *down* a bit -- it's detecting all my pre/post tasks as well as the ones I actually want to run.  It looks like it selects "configured" tasks first, so this isn't a huge issue, but it'd be nice to be able to hide some NPM tasks completely (and/or not show pre/post tasks in the first place).

[2017-07-12 07:53] aaccioly commented on #30377
This. I wasn't even aware that there was such an opinion, plus the fact that it behaves differently than when we directly close the window is weird.

When I have a single window I close it by pressing the X button. When I enable the "restore tabs" behaviour all editors and browsers that I can think of restore all tabs. When dealing with "Close All Windows" I would expect the same behaviour.

[2017-07-12 07:55] sirzxj opened #30476 "bug report"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:24:22.120Z)
- OS Version: Darwin x64 15.4.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
velocity|sod|0.1.0

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-07-12 07:56] mjbvz commented on #30475
I'm unable to reproduce this with TS 2.4.1. Could it be coming from one of your installed extensions?

[2017-07-12 07:56] DuskDweller commented on #30469
For the time being try adding this to your launch.json

"protocol": "legacy"

[2017-07-12 07:57] sandy081 commented on #30441
Sorry for that. My changes to support view management has broken it. Fixed.

[2017-07-12 07:57] dbaeumer commented on #29464
@aeschli that is not the idea. What I will do is the following do to the fact that with multi root things are more dynamic:

- have an event that signal changes to the workspace folders. This event will be sent right after the initialize call. If I sent it in the initialize people might still assume that the list of folders is fixed and will not change. But language server have to get much more dy

[2017-07-12 07:57] #30441 closed

[2017-07-12 07:58] joaomoreno commented on #30475
Could be, especially because it doesn't reproduce with TypeScript, let me see.

[2017-07-12 07:59] dbaeumer commented on #1777
@egamma please see https://github.com/Microsoft/vscode/issues/1777#issuecomment-314684785. We should not have pre post scripts auto detected.

[2017-07-12 07:59] dbaeumer commented on #1777
Assigning to @egamma to address above issue.

[2017-07-12 08:01] weinand commented on #30469
from the VS Code 1.14 [release notes](https://code.visualstudio.com/updates/v1_14#_node-debugging):

[2017-07-12 08:01] #30469 closed

[2017-07-12 08:02] dapidmini commented on #30421
I'm still getting this issue. how to fix it?

[2017-07-12 08:05] meden commented on #19915
Hello,

I understand that there is a workaround for this issue, but the issue still stands, so maybe you could consider reopening it: the editor is broken (for me) with its default configuration.

Moreover, the setting `editor.disableMonospaceOptimizations` is marked as `Unknown configuration setting` by the editor, making it even more obscure.

Thank you.

[2017-07-12 08:05] tholu opened #30477 "macOS: Select all does not work in file picker"
- VSCode Version: 1.14.0
- OS Version: macOS Sierra 10.12.5

Steps to Reproduce:

1. Open a new File, Save As... (file picker appears)
2. Click at the end of the filename or use cursor (selection of "Untitled-1" gone)
3. Cmd+A or to select all characters does not work in the filepicker

[2017-07-12 08:08] tomsaleeba commented on #14229
I'm running Linux Mint, nvm and fish.

I followed the instructions in https://github.com/Microsoft/vscode/issues/14229#issuecomment-276796749 and I still couldn't get it to work. I could see $PATH included the NVM path to the binary but it wasn't picking it up.

My `launch.json` had

         "runtimeExecutable": "node",

...and removing that fixed my problem. I could then see in the *Debug Consol

[2017-07-12 08:09] dbaeumer commented on #30417
Very likely a dup of #28036

[2017-07-12 08:10] dbaeumer commented on #28036
@Tyriar please see https://github.com/Microsoft/vscode/issues/30417#issue-242153847. It contains a work around by quoting the command line. Is this what I am supposed to do for bash under Windows?

[2017-07-12 08:15] vishaltelangre commented on #30474
Well, I found that the extension `~/.vscode/extensions/atefth.ruby-on-rails-snippets-0.0.1` was making it unresponsive. After removing it, now it is working fine.

[2017-07-12 08:15] #30474 closed

[2017-07-12 08:19] joaomoreno commented on #30475
Duh, I did have some `esformatter` extension installed, as part of a bug I had to investigate yesterday.

![doh](https://media.giphy.com/media/xT5LMpBWU96Yivdfeo/giphy.gif)

Sorry about that!

[2017-07-12 08:19] #30475 closed

[2017-07-12 08:20] sandy081 opened #30478 "Support custom views in Debug viewlet"
With loaded scripts view feature, we need to support custom views in Debug viewlet. `debug` is the location to contribute views to Debug viewlet.

[2017-07-12 08:21] psingl opened #30479 "Two windows at a time"
- VSCode Version: 1.14.0
- OS Version: Windows 8
When trying to open a specific folder in VSCode through command line using command <code>code .</code> Instead of opening a folder in a single new window only it opens two new windows and that folder in both the windows.

[2017-07-12 08:21] #30478 closed

[2017-07-12 08:27] snarum commented on #21768
I think it is a bit difficult to distinguish the source code window from the panel, at least if they have same background color, as all default themes have. Tabifying the window would help with this, but could it be a quick fix to add a panelTitle.background settings in color scheme?

[2017-07-12 08:27] sandy081 commented on #30462
@bpasero Yes this is caused from that. Looking into it.

[2017-07-12 08:33] adyanced opened #30480 "Upgrade to V1.14.0 is a bad dream"
I am using VS Code to debug a RN project. as I upgrade to V1.14.0 this morning, a bad dream is coming:
1. The 'Stop Debug' button act as 'Reset', have to double-click to stop debugging
2. The 'Reset' button reload the apk endlessly
3. The apk always stopped at
![image](https://user-images.githubusercontent.com/6321512/28108896-b4f47ce2-671f-11e7-96cb-61045d81e284.png)
except the first load

How to

[2017-07-12 08:35] weinand commented on #30480
How does your launch configuration look like?

[2017-07-12 08:37] parzh opened #30481 "Need to reopen all windows to update scope of inner terminal"
#### Versions:
- VSCode: 1.14.0
- OS: Windows 10 [10.0.14393]

#### Steps to Reproduce:

1. Open one or more VSCode windows (instances, projects);
2. Using any terminal, install any library globally (i.e. Java, or `npm install -g <package>`);
3. Without exiting the opened VSCode window, launch one more;

#### Expected:
the installed library to be visible in the inner terminal of newly opened VSCod

[2017-07-12 08:38] pi0 commented on #15478
But i swear it was broken :)) Will try upgrading vscode on another mac to make sure it wasn't false positive :))

[2017-07-12 08:42] sandy081 commented on #30462
It seems tree view is listening on `window` for `drop` and split view is stopping the event. @joaomoreno provided the fix in tree view to listen on tree element for `drop`.

[2017-07-12 08:42] #30462 closed

[2017-07-12 08:42] weinand commented on #30480
Or you are suffering from this:
from the VS Code 1.14 [release notes](https://code.visualstudio.com/updates/v1_14#_nodejs-v80-related-changes):

[2017-07-12 08:42] sandy081 commented on #28663
@King66 not sure if I understand your comment. Do you mean not to show the recommended sections at all?

[2017-07-12 08:44] BillDenton commented on #27151
To summarise my understanding: Different tasks (as named by "taskName" in tasks.json) can run in separate terminals. I was trying to run task which is external to VS Code so it isn't monitored for completion, another instance of the same task could be run and would continue running after VS Code exits (and doesn't block exit). I have succeeded in doing this by:
    {
      "taskName": "Example",

[2017-07-12 08:45] adyanced commented on #30480
This is launch.json:

{
    "version": "0.2.0",
    "configurations": [
{
    "name": "Debug Android",
    "program": "${workspaceRoot}/.vscode/launchReactNative.js",
    "type": "reactnative",
    "request": "launch",
    "platform": "android",
    "sourceMaps": true,
    "outDir": "${workspaceRoot}/.vscode/.react"
},
        {
            "name": "Debug iOS",
            "program": "${workspaceR

[2017-07-12 08:48] weinand commented on #30480
You are using the React Native extension (which is not a standard part of VS Code).
I'll move this issue to the React Native repository.

[2017-07-12 08:48] King66 commented on #28663
@sandy081  I mean Code recommend a extension which has 2.5 star....
![1](https://user-images.githubusercontent.com/11925432/28109520-ed22a862-6721-11e7-814e-199bdf103c39.png)

[2017-07-12 08:50] weinand commented on #30480
This issue was moved to Microsoft/vscode-react-native#471

[2017-07-12 08:50] #30480 closed

[2017-07-12 08:51] hokm opened #30482 "Path to OneDrive does not exist"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.16232
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
code-gnu-global|aus|0.2.2
ftp-sync|luk|0.3.3
cpptools|ms-|0.12.0
csharp|ms-|1.11.0
vscode-icons|rob|7.10.1
twig|wha|1.0.2

---

Steps to Reproduce:

1. Install Windows Insi

[2017-07-12 08:54] simonl65 opened #30483 "User settings now has a lot of "javascript.format..." options that should be in the defaults instead"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
project-manager|ale|0.18.1
code-gnu-global|aus|0.2.2
phpserver|bra|1.1.0
gitignore|cod|0.5.0
vscode-stylesheet-formatter|dba|0.2.0
git-extension-pack|don|0.1.2
githistory|d

[2017-07-12 08:55] dotlouis commented on #30449
@mjbvz Having the same issue: vscode lagging and taking up to 25% CPU.
here is my TSlog: https://pastebin.com/MfP4viaV

[2017-07-12 08:55] bpasero commented on #30470
#27285

[2017-07-12 08:55] #30470 closed

[2017-07-12 08:56] vscpp opened #30484 "[Installer] Update failed when another user using VS code"
- VSCode Version: 1.14
- OS Version: Windows Server 2012 R2

Steps to Reproduce:
Background: We have a remote server and allow two developer log in for development by their account.
1. Two people open VS code for coding
2. Update available. One user click update then update VS code.
3. Another user VS code still running, update failed, and can't fallback. Must uninstall then re-install VS code. -

[2017-07-12 08:56] rizkyramadhan commented on #30448
Erm...  me too ?

![image](https://user-images.githubusercontent.com/126301/28109794-7f012f18-671a-11e7-810c-1de9d9ca0805.png)

The syntax highlighter breaks after the second `use \Yard\Lib\JsConvert`

[2017-07-12 08:57] ovidner commented on #25934
The `"editor.disableTranslate3d": true` and `"window.zoomLevel": 0` workaround works for me*, until I open a file in *diff/changes mode*, which triggers the flickering and forces me to restart. Minimap setting does not seem to have any impact on this behavior. You might have some luck by avoiding the diff mode.

*MBP 2016 15" (macOS 10.12.5), with VS Code 1.14.0 maximized on external 5K monitor se

[2017-07-12 08:58] limerickgds commented on #30467
@mjbvz
1. Right click and choice format
2. There is still this issue
3. file ：
[code]

[2017-07-12 08:59] #30407 closed

[2017-07-12 09:00] #30118 closed

[2017-07-12 09:00] onury commented on #30449
@mjbvz downgrading typescript version to 2.3.4 fixes it for now.

[2017-07-12 09:03] dreadnautxbuddha commented on #14909
Waiting for updates regarding this feature. Switching from Atom to VS Code is painful without this.

[2017-07-12 09:04] gtzinos opened #30485 "Electron causes high CPU on KDE"
Hi,
I downloaded the new stable vs-code version and now i am facing more issues.

1) I don't find my extensions
2) Crash again and again during development
3) My memory and cpu use increased

Please check before push to production.

OS: Windows 10
vs-code: 1.14.0
Shell: 1.6.6

[2017-07-12 09:07] nadircan opened #30486 "Excessive logging of `vscode.workspace.rootPath`-usage causes high CPU load"
- VSCode Version: 1.14.0
- OS Version:  Microsoft Windows 10 Enterprise  10.0.15063
I updated my vscode this morning. My system cpu usage increased to %100. It was not like that before.
My cpu is i7 6500u.

[2017-07-12 09:11] jrieken commented on #30407
Fix on master and cherry picked to `release/1.14`.

The underlying issue is an unhappy recursion of snippets: Repeating placeholders get expanded when having no value, so `${1:foo}bar$1` will be inserted as `foobarfoo`. Now, if a subsequent reference of a placeholder occurs *inside* the first definition, like `${1:foo${VAR:bar$1baz}}` our logic creates a cycle in the parse tree. Further operation

[2017-07-12 09:13] #30437 closed

[2017-07-12 09:13] Flarna opened #30487 "Debugging not working in version 1.14.0 using NodeJs 6 on integratedTerminal"
- VSCode Version: 1.14.0
- OS Version: Windows 10

Steps to Reproduce:
1. Launch debugger for NodeJs using NodeJs 6 and `console` set to `integratedTerminal`

Reproduces without extensions: Yes

Launch config:
[code]
results in
[code]

If I remove the `"console": "integratedTerminal"` line it works.

Using `"protocol": "legacy"` has no influence.

Using NodeJs 8 instead of NodeJs 6 avoids the prob

[2017-07-12 09:15] stkb opened #30488 "NPM scripts not running with new task runner 2.0"
- VSCode Version: 1.14.0
- OS Version: Windows 10 CU
- Reproduces without extensions: Yes

I saw #28595 but this seems to be a slightly different problem. Just upgraded to v1.14 and trying the new task runner. But it's not working for npm tasks: it just outputs the npm help text.

tasks.json:
[code]

Output:
[code]

Using npm v5.0.3

In settings.json: `"terminal.integrated.shell.windows": "bash.ex

[2017-07-12 09:15] joaomoreno commented on #30437
Pushed to `release/1.14` branch

[2017-07-12 09:20] jpike88 opened #30489 "Keep coloured toolbar in OSX fullscreen"
We have two projects, client and server. I configured workspace settings to have client be green, server be blue. Really useful.

Until however, I fullscreen one of them. Then the coloured toolbar disappears, which defeats the purpose of styling it in the first place.

Would love an option to keep showing it in fullscreen, just to keep that distinction in there.

This is useful:
![screen shot 2017

[2017-07-12 09:21] macOneOone commented on #30485
Try those steps:

1. Rollback to previous version.
2. Open and press Update Now.
It should fix because this is OS issue and not VSC it self.

I did and it worked. Hope it has the same effect to you.

[2017-07-12 09:22] jrieken commented on #30486
@nadircan Are you using the `atefth.ruby-on-rails-snippets` extension? It contains a (valid snippet) that makes us choke. See https://github.com/Microsoft/vscode/issues/30407 for more details. It might be that

[2017-07-12 09:23] whitevo commented on #30409
I'm not aware if this happening anywhere in any language.

Under other suggestions I meant what it displays right now,
I don't know how is the order structured.

How do I provide screenshot if this feature does not exist?

Currently what it shows:
![image](https://user-images.githubusercontent.com/10964567/28110864-4db1bc34-66fc-11e7-9469-6d8778648a54.png)
Now when I choose my option and go to nex

[2017-07-12 09:24] jrieken commented on #30461
@DanTup What is the activation event you are using?

[2017-07-12 09:37] Jusys opened #30490 "Debug Active Bar - usability feature-request"
I like to use Debug Action Bar but it's somewhat inconvenient - it covers open tabs and I must move it around constantly (see image):
![vsc-old](https://user-images.githubusercontent.com/30110941/28110505-555e579a-66fb-11e7-99ac-e0e41e0695fb.jpg)

Suggestion:
Please, add a config file option "debug.actionBarPosition": "default" || "workbench".
"default" or not specified - classic behavior
"workben

[2017-07-12 09:39] Clarkey opened #30491 "Make update process faster on Windows"
I'm in a corp environment where we have a policy-driven on-demand virus scanner. This painfully slows down the update process of VS Code due to the scanning of every individual .js file.

I'm using a HP Z620 with SSDs... I can't imagine how slow it is for the average user with the same virus scanner.

Is there a way to 'bundle' the installation files together to increase speed during installation,

[2017-07-12 09:44] #30435 closed

[2017-07-12 09:46] whitecolor commented on #7504
@Tyriar you are working on splitting terminal that still in the bottom or terminal that can be aligned vertically for example?

[2017-07-12 09:47] dirkseidel commented on #30128
Since today's update to 1.14.0 it works again but I still have to change and save the value of mouseWheelScrollSensitivity after every restart for smooth scrolling to be in effect correctly.

[2017-07-12 09:49] mesche opened #30492 "Correct translation: Change of 'miToggleDevTools' in german (deu)"
- VSCode Version: Code 1.14.0
- OS Version: Darwin x64 16.6.0

File: i18n/deu/src/vs/code/electron-main/menus.i18n.json
Line 143
Key: miToggleDevTools
Correct value: '&&Entwicklungertools umschalten' to '&&Entwicklertools umschalten'

[2017-07-12 09:53] weinand commented on #30478
@sandy081 is there a way to determine the location (= slot within the others views) where the view will appear?

[2017-07-12 09:55] dajk commented on #30295
@bpasero
First of all, thanks for your response.

I've just tried to reproduce, open a VS Code from terminal with `code --disable-extensions`, and after few minutes working it happens again, exactly the same like before.

[2017-07-12 09:56] dbaeumer commented on #30109
This works for me when executing the script in powershell and cmd.exe executing the task in the terminal using the new 2.0.0 support available in 1.14.

<img width="593" alt="capture" src="https://user-images.githubusercontent.com/1931590/28112235-89c9245e-66f8-11e7-9e72-0f7fd10486c9.png">

Also works when executing in the old output runner:

<img width="631" alt="capture" src="https://user-images

[2017-07-12 09:56] #30109 closed

[2017-07-12 09:56] marvinhagemeister commented on #28492
Note that v8 snapshots have been disabled because of security concerns as of today. https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/

Not sure if this affects electron, too.

[2017-07-12 10:00] NitroGhost opened #30493 "Global search: shows in results when excluded"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
regex|chr|0.1.0
vscode-eslint|dba|1.2.11
python|don|0.6.7
pgsql|dou|0.0.8
vscode-scss|mrm|0.6.2
mssql|ms-|1.0.0
csharp|ms-|1.11.0
debugger-fo

[2017-07-12 10:04] urbgimtam commented on #15114
I know this was closed, but just wanted to add that the path written had the wrong syntax for VS Code.

Instead of
`"php.validate.executablePath": "C:/PHP/php.exe"`

it should be written
`"php.validate.executablePath": "C:\\PHP\\php.exe"`

This should solve the problem.

[2017-07-12 10:09] pettomartino commented on #22637
👍  vote for this feature

[2017-07-12 10:10] jrieken commented on #30409
Thanks for getting back to me. The little `ABC` icon means that it is a textual suggestion that was computed by looking at what words have been typed so far (`function`, `func`, `player`, etc). The other suggestions are snippet suggestions which by default sort below other suggestion. Extensions might also add more suggestions to the list.

There are a few options to tweak this behaviour. Use `"ed

[2017-07-12 10:10] #30409 closed

[2017-07-12 10:11] ChALkeR commented on #21417
This is most likely caused by https://github.com/electron/electron/issues/8455 (judging by the symptoms and globalmenu usage).

_Adding a link again, as the link in https://github.com/Microsoft/vscode/issues/21417#issuecomment-285015019 is broken atm._

[2017-07-12 10:14] james-gould commented on #23976
Yeah I'm still getting this, seems to occur whenever I `Ctrl + Space` for intellisense in a CSS file.

[2017-07-12 10:17] michelkaporin opened #30494 "Explorer drag and drop stopped working"
Version: todays Insiders (74f5073)
OS: Windows

Select a file in explorer and drag it to any folder -> file is not moved to the folder.

[2017-07-12 10:19] OMGasm opened #30495 "Close quick open when opening a menu"
Clicking on the preferences icon/update indicator does not close the command palette or similar menus.
(Also applies to the 'open changes' and '...' buttons)

- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.14393
---

Steps to Reproduce:

1. Open the command palette(or similar)
2. Click(any button) on the prefere

[2017-07-12 10:22] AmmarHasan commented on #23543
I will create a PR for this

[2017-07-12 10:23] St1c commented on #30449
same here, setting to use workspace version of typescript (2.3.4) didn't help

[2017-07-12 10:25] freMea commented on #29146
VS Code version | OS
------------------ | ----
1.14.0  | Win 10 x64 pro (french) 14393

Yes with v1.14.0, there is improvements but as you said, our custom emmet snippets are not honored with `"emmet.useNewEmmet": true`, only variables are loaded.

Example:
[code]
One can not use `c:h` then `tab` key to expand our custom expansion that are ignored. It is the same for some old default one that are

[2017-07-12 10:26] juanmirod commented on #30486
I just updated and VSCode is unusable, I can navigate between tabs and open/close files, but the moment I start to write cpu use goes up and the editor starts lagging.

[2017-07-12 10:28] egamma commented on #30466
@joaomoreno mentioned to me a way to fetch this information that is not dependent on the existance of a tag, but uses the information from our builds website.

[2017-07-12 10:32] cameron-martin commented on #30449
I'm having the same problem and was using the same TS version (2.2.1) as I was using with VSCode version 1.13.1, which does not exhibit this problem.

[2017-07-12 10:34] crewone opened #30496 "XSLT Emmet stopped working"
- VSCode Version: Insiders 1.15.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Make an XSL file with a basic XML structure
2. Type 'wh' + tab, it incorrectly expands to '\<wh\>\</wh\>'
3. Set "emmet.useNewEmmet":false in preferences
4. Type 'wh' + tab in the XSL file... it expands (correctly) to: '<xsl:when test=""></xsl:when>'

Same for other xsl emmet extensions.

'if' expands to '\

[2017-07-12 10:34] Avol-V opened #30497 "Unrequested (wrong) indentation"
- VSCode Version: 1.14.0
- OS Version: Ubuntu 16.04.2

Steps to Reproduce:

Just type `if ( some )` in ts file and press `Enter`
[code]
But i use brace-in-new-line code style so then I type `{` and `Enter` with this result:
[code]
should be:
[code]

There was no such annoying indentation in version before 1.14, and it was OK — I decide how to make indentation by myself.

Changing `editor.autoInden

[2017-07-12 10:37] freMea commented on #27697
@ramya-rao-a

Good job. Thanks for your hard work for Code 1.14.0.

[2017-07-12 10:49] danielo515 opened #30498 "Configure excludes is not suitable for mono-repos"
Probably related with #26337 and #16115

- VSCode Version: 1.14 insiders
- OS Version: Mac OSx El capitan

Steps to Reproduce:

1. Create any kind of mono_repo, with subfolders including node modules
2. Intellisense will ask you to configure excludes very often

Reproduces without extensions: Yes

Basically the problem is that you can not exclude recursive subdirectories. I have a mono-repo struct

[2017-07-12 10:51] nadircan commented on #30486
![errorvscode](https://user-images.githubusercontent.com/11965934/28114309-f5a1e14c-6708-11e7-8683-4c15026c44d7.PNG)

Also i get this error. @jrieken I remember,  I dont use that extension. I cant access extension tab. It comes empty.

[2017-07-12 10:52] hilja opened #30499 "Make the scroll beyond last line show to two lines of code at the top, not one"
I had this at the other day:

Prerequisites: Uses an empty line feed at every file.

1. Looks at an empty file in awe, why it's empty...
2. Restarts Code, because that always helps to everything.
3. Still empty file.
4. Checks GitHub, yep the file is there.
5. Comes back to Code and _scrolls up_, the file was there, I just didn't see it because of the empty line at the end.
6. Does a facepalm and

[2017-07-12 10:55] kucharovic opened #30500 "Monokai PHP Syntax Highlighting Broken on New Release"
Syntax highlighting of method names, `$this` variable, `::class` constant for PHP language in Monokai theme is broken. See screenshot:

![monokai-php-syntax](https://user-images.githubusercontent.com/1418898/28114320-a3bbbba8-6700-11e7-8315-4b73482b1d78.png)

- VSCode Version: 1.14
- OS Version: Ubuntu 16.04

Reproduces without extensions: Yes

[2017-07-12 10:56] yonathan06 commented on #26411
This error is back again, after updating to v1.14
[code]

[2017-07-12 11:00] onury commented on #30449
@St1c, @cameron-martin  did you first kill Code Helper process?

[2017-07-12 11:06] St1c commented on #30449
I don't see any Code helper process when I quit Code. When I start it again - with use of workspace typescript (2.3.4) the CPU is still high

[2017-07-12 11:10] whitevo commented on #30409
I already have:
"editor.wordBasedSuggestions": true
"editor.snippetSuggestions": "inline"

remembering last suggestion, you pointed to topic which has no answers how to make it work for me.

I know what are these suggestions. I am asking how can we make the suggestions sorted in different order or will this feature come.

[2017-07-12 11:16] dial8gue opened #30501 "Extra space appears at the beginning of uncommented line in html/css"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
python|don|0.6.7
---

Steps to Reproduce:

1. Open any html/css file
2. Comment line with ctll+/
3. Uncomment line with ctll+/
4. Extra space appears at the beginning of uncommented line

Reproduces

[2017-07-12 11:17] thorwins opened #30502 "Visual Studio code not responding"
- VSCode Version: 1.14.0
- OS Version: MacOS Sierra (10.12.5)

Steps to Reproduce:

1.launch Visual Studio
2. it will be frozen, after a bit it show a dialog window: The window is not longer responding

Reproduces without extensions: Yes/No

[2017-07-12 11:21] flyingtassel commented on #30464
Same on Windows 7 SP1

[2017-07-12 11:21] DeeHants opened #30503 "The find windows still hides the first line when it wraps."
Following the fixes in #5525 (#10662, #24994, etc) the first line of content is moved below the search box when it's open.
However, it still seems to have issues with word wrapping in 1.13.1.
When the first line is short, it is moved down fully below the find window.
When it's too long and wraps, the line isn't moved down as far, and is still half occluded.

1. Ensure wordwrap is on
   "editor.wor

[2017-07-12 11:22] DeeHants commented on #5525
I've just opened #30503 as the find window still overlaps lines that wrap.

[2017-07-12 11:36] brunoeris commented on #30502
The same here : /

VSCode: 1.14.0
MacOS Sierra 10.12.5

[2017-07-12 11:37] pcblues commented on #29861
I ran tests to check this:
- The problem is that on a case-insensitive file system, Code doesn't bring the file name change through to git if only the case of the name is changed.
- Changing the case of a file in Code is not the same as  _git mv_ on a case-insensitive file system.
- When you push the changes to a remote repository and clone the repository to a case-sensitive file system, the origi

[2017-07-12 11:40] simlw opened #30504 "start debugging "Cannot connect to runtime process, timeout..." error"
- VSCode Version: 1.14
- OS Version: macOS 10.12.5

When I start debugging, I get this error:
[code]
But VSCode Version 1.13 is OK. I have saw that the debug console info is different between the two versions. In the console log of Version 1.14, there is one more parameter **--inspect=21937**.
The following is the log info:
[code]

And here is my launch.json:
[code]
Is this a bug or something wron

[2017-07-12 11:43] SteveALee commented on #1777
@thw0rted oh, I missed that. Mainly as I now use npm from the terminal for all operations :)

[2017-07-12 11:43] kethonC opened #30505 "update 1.14.0,markdown plugin can't preview"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

Extension|Author (truncated)|Version
---|---|---
python|don|0.6.7
vue|jcb|0.1.5
Go|luk|0.6.62
csharp|ms-|1.11.0
language-vscode-javascript-angular2|nwa|0.0.11

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-07-12 11:44] RobinNord commented on #30502
Same here at:
Win 10 Enterprise: OS 14393.1358,
VSCode: 1.14

[2017-07-12 11:45] #30505 closed

[2017-07-12 11:46] thorwins commented on #30502
I solved the issue uninstalling VSCode completely and reinstalling it

[2017-07-12 11:46] #30502 closed

[2017-07-12 11:46] saada commented on #178
@karabaja4 I think Code detects outside changes as well. So hooking into such "event" with maybe a debounce system so that multiple file changes in the same interval don't trigger too multiple git status checks. This could work!. Perhaps someone familiar with the fs piece can chime in?

[2017-07-12 11:47] weinand commented on #26411
Most likely this is not an error, but you didn't notice the following in the VS Code 1.14 [release notes](https://code.visualstudio.com/updates/v1_14#_nodejs-v80-related-changes):

and you might be interested in this improvement too: https://code.visualstudio.com/updates/v1_14#_simplified-setup-for-restart-debug-session

Combining both, your launch config should look like this:
[code]

[2017-07-12 11:49] freMea commented on #29041
@jrieken
Thanks. I can not wait to see this feature in next release. So will we be able to see preview of our custom VSCode snippets for any languages?

[2017-07-12 11:57] peanutDD opened #30506 "SCM: Disable Preview ：cannot find the command"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:24:22.120Z)
- OS Version: Darwin x64 16.6.0
- Extensions: the listing length exceeds browsers' URL characters limit
---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-07-12 12:00] #27396 closed

[2017-07-12 12:03] F0rt1s commented on #30486
I have the same problem. After opening an angular 4 project, when I start typing in a typescript file processor load rises, typing is sluggish and after a while I get "The window is no longer responding".  Only running extensions are the ones installed by "Angular Essentials".

[2017-07-12 12:09] mikejpoirier commented on #30427
I experienced the same issue when working on a NativeScript project.  Editing TypeScript files would cause VSCode to hang after just a few key presses.  Rolled back to 1.13.

[2017-07-12 12:18] F0rt1s commented on #30449
switching the ts workspace version back to 2.3.4 worked for me.

[2017-07-12 12:19] ypapouin commented on #28486
Indeed, same issue here with C# code and Code 1.14, after I set editor.codeLens to false the issue disappear.

Indeed to with Code 1.14, it massively change the scroll bar position

[2017-07-12 12:21] jag-s-gill commented on #19811
I can't get this to work. I setup a project with two files and jsconfig.json:

File1.js:
`export class File1 {
  hello = function () {
    console.log('hello');
  }
}`

File2.js:
`import File1 from './file1'
export class File2 {
  sayHello = function () {
    File1.hello();
  }
}`

jsconfig.json:
`{
  "include": [
    "file1.js",
    "file2.js"
  ]
}`

I try to find all references for 'hello' in F

[2017-07-12 12:24] yoyo930021 commented on #15478
Have `Window -> Show Tabbar` when Start.
![2017-07-12 8 18 52](https://user-images.githubusercontent.com/9126398/28117387-ce34dbfa-673f-11e7-8c65-b01fce4ba871.png)
but broken when `Open new Window`
![2017-07-12 8 19 08](https://user-images.githubusercontent.com/9126398/28117431-fd8f9bce-673f-11e7-8280-e91c66cb7284.png)

[2017-07-12 12:26] jrieken commented on #30409
It's label as feature request. That means it is not available yet and still needs to be implemented. I'd suggest to subscribe to that issue and then notified when schedule and tackle this. Also, pull requests are always welcome.

[2017-07-12 12:27] jrieken commented on #29041
Yes you will. Try it out already today with our insider builds: https://code.visualstudio.com/insiders

[2017-07-12 12:33] DanTup commented on #30461
@jrieken `.dart` files or workspace containing `pubspec.yaml`.

[code]

Looking closer in the tests, it's an untitled file with a temp path:

[code]

So maybe something changed around there. I'll try and dig into it further tomorrow; was a bit short on time last night.

[2017-07-12 12:34] Lurkerc opened #30507 "Quick recommended time setting invalid"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-file-peek|abi|1.0.1
html-snippets|abu|0.1.0
copy-relative-path|ale|0.0.1
file-smart-reopener-vscode|big|0.0.1
githistory|don|0.2.1
windows-explorer-context-menu|ele|1.0.2
vscode-element-hel

[2017-07-12 12:45] bpasero commented on #30466
Yeah, see https://github.com/Microsoft/vscode-update-server/issues/12#issuecomment-314710581

[2017-07-12 12:47] alesmik opened #30508 "No snippet suggestions after whitespace"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:24:22.120Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.2.11

---

Steps to Reproduce:

1. Create new "*.html" file, <Ctrl+Space>, choose a snippet from suggestions, insert it... Ok.
<img width="514" alt="1" src="https://user-images.githubus

[2017-07-12 12:48] tmhrtwg opened #30509 "Auto indent doesn't indent properly with tab/space"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:24:22.120Z)
- OS Version: Darwin x64 16.6.0
---

I've found a bug with the new auto indent feature while using nested scss maps.

Steps to Reproduce:
1. Get a nested map inside a file with scss syntax.
2. Move a line down with your keyboard and see the following effect:
![vscode-autoindent-scssmap](https://user-

[2017-07-12 12:50] weinand opened #30510 "EH debugging: use a better name for the launch config's preLaunchTask"
(from a gitter question)

Currently the generated launch.json for the "hello world" extension uses a "preLaunchTask" named "npm" which confuses users, because they think that this is the raw "npm" command.

But this "npm" refers to the "npm" task configured in the task.json.
Only after understanding this connection it becomes clear what this "npm" really means:

[code]

I suggest that we rename th

[2017-07-12 12:51] bpasero commented on #27285
https://github.com/nodejs/node/issues/12737 might be the underlying technical issue in node.js, which is the library we are using for all file access.

[2017-07-12 12:55] bpasero commented on #30479
@psingl can you share your settings? can you also maybe share a video of how this looks like?

[2017-07-12 12:59] logidelic opened #30511 "Copy-Paste and other keyboard functionality stops working"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
spellright|ban|1.0.27
prettify-json|moh|0.0.3
cpptools|ms-|0.12.0
PowerShell|ms-|1.4.1
debugger-for-chrome|msj|3.1.6

---

Steps to Reproduce:

1. Use vscode for a while

Result: Copy-paste stops

[2017-07-12 13:06] billg118 commented on #29284
@tmcintire What exactly did you have to do for that? Could you list out the steps? I still have this error and it makes it very hard to code.

[2017-07-12 13:07] MickeySegal commented on #30486
I'm having the same huge CPU usage in an Angular 4 project, resulting in freezes for ~15 seconds on a fast computer.  The problem occurs whether or not the code is running in a browser.  I first saw the problem within minutes of the VSCode Version: 1.14.0 release.  OS=Windows 10 (both before and after the updates of 11 July).

Extensions:
- angular2-inline
- Bracket Pair Colorizer
- Debugger for C

[2017-07-12 13:10] luchillo17 commented on #30403
@chrmarti Indeed it works now, however does it means i cannot use such plugin until either they patch it or VSCode does?

[2017-07-12 13:11] dmlemos commented on #28432
VSCode doesn't handle refresh properly when working on a multi-folder root. I have to manually trigger `Files: Refresh Explorer`

The files were not in git.

[2017-07-12 13:17] bcardarella opened #30512 "[Features] Add Task keyboard shortcut"
Unless I am missing it, I don't see any keyboard combination to bring up the tasks menu. There is a keyboard shortcut for the build task, but not the more general tasks. It would be great to have one.

[2017-07-12 13:21] jrieken commented on #30486
Ok, different folks with potential different problems. Everyone here please do the following

* F1 > Toggle Developer Tools > Select *Profile* tab
* Select *Record JavaScript CPU Profile*, select *Start*
* Now do whatever you did you make it hang, appear as slow, show the not responsive warning
* Stop recording, *Save* the profile, and attach it here.

Thanks.

[2017-07-12 13:21] bpasero opened #30513 "Resolve latest tag commit from update server for vscode API module"
https://github.com/Microsoft/vscode-update-server/issues/12#issuecomment-314710581

[2017-07-12 13:22] sandy081 commented on #30478
@weinand No order of the view cannot be defined. By default all custom views go to the bottom.

[2017-07-12 13:23] sandy081 commented on #30494
Duplicates #30462

[2017-07-12 13:23] #30494 closed

[2017-07-12 13:25] sandy081 commented on #28663
@King66 Its not based on stars but we have a set of extensions recommended for languages / file patterns. Also a workspace can define recommendations.

[2017-07-12 13:25] bpasero opened #30514 "Help: Welcome and Help: Interactive Playground fail to work when no window open"
- OS Version: macOS

Steps to Reproduce:

1. close the last window
2. the help menu shows actions (Welcome, IA Playground) that should not show up as enabled

[2017-07-12 13:34] davnicwil commented on #16204
@bpasero this issue isn't really a duplicate of #9819, in my opinion. Changing the color of the squiggles is an improvement, and a welcome change in v1.12, but I also want to add a background highlight to the error. Will there be more properties coming which allow for this?

[2017-07-12 13:34] King66 commented on #28663
@sandy081 got it, thanks for you reply.

[2017-07-12 13:40] Dominik-K opened #30515 "Make the compare action label easier to understand when file names are identical"
If I've selected a file `a.yaml` for comparison in multi-root folder `rootA` and use the context-menu on another file `b.yaml` in root folder `rootB`, then showing "Compare with `rootA/a.yaml`", i.e. adding the root path `rootA`, instead of just `a.yaml` would be helpful.

cc #28344

[2017-07-12 13:42] PunchyRascal commented on #7201
I am not sure if my problem is related, but a very similar issue exists with regular serach&replace (Ctrl+H).
- 'replace all' doesn't do anything
- 'single replace' replaces an occurrence not highlighted by the search (first 1000 occurrences)

[2017-07-12 13:43] MaximoTrinidad commented on #27285
Strange!!

In my case, I upgrade Windows 10 Insider Build 16237, open OneDrive settings to unchecked the Files-On-Demand option.

This is on OneDrive Version 2016 (Build 17.3.6944.0627). I'm in both Code Version June 2017 version and Code Insider Version July 2017.

Now, everything seems to work fine.

![onedrive_code_2017-07-12_9-41-03](https://user-images.githubusercontent.com/19892435/28120583-

[2017-07-12 13:43] ismay opened #30516 "Move settings.json on mac to ~/.vscode"
Currently the user settings are located at `$HOME/Library/Application Support/Code/User/settings.json`. However when managing these settings in a dotfiles repo it's easier to manage if the settings are located directly in the users home directory or in a folder (say `~/.vscode`).

My suggestions would be `~/.vscode`, which would then also house `keybindings.json`, etc. Similar to atom's `~/.atom`

[2017-07-12 13:45] bpasero commented on #30515
@Dominik-K well we actually never show any parent in that menu simply because we do not have much space. I think your suggestion applies already for single folder case too where you might want to know which file to compare to.

[2017-07-12 13:49] bpasero commented on #29603
This works now with our new explicit workspace model.

[2017-07-12 13:49] #29603 closed

[2017-07-12 13:52] ZhangPuXi opened #30517 "script tag indent error"
- VSCode Version:1.14.0
- OS Version:Windows 8.1

Steps to Reproduce:

1.create an HTML file
2.type a script tag `<script></script>`
3.when hit Enter before the `</script>` the indent is wrong, `</script>` should has the same indent with `<script>`
4 then hit the Enter after the `</script>`, the `</script>` will have no indent

Reproduces without extensions: Yes/No

[2017-07-12 13:52] Dominik-K commented on #30515
@bpasero Oh, you're right. I didn't noticed this before as inside one project == folder, the filenames are mostly unique. But with the new, useful multi-root folders, it offers the opportunity to easily compare files with the same name, e.g. Kubernetes configurations, across different projects.

[2017-07-12 13:54] F0rt1s commented on #30486
As reported on a different thread: Changing the typescript workspace version to 2.3.4 fixes the problem.

[2017-07-12 13:54] freMea commented on #29041
Excellent ! It works as expected.

[2017-07-12 13:55] ZhangPuXi commented on #30517
I want to keep my code like this
![image](https://user-images.githubusercontent.com/15119639/28121098-9e482746-674c-11e7-95e7-9f986f7cf537.png)
with step 3, it's like this
![image](https://user-images.githubusercontent.com/15119639/28121132-bcbcdce4-674c-11e7-983b-5384e51d57be.png)
with step 4, it's like this
![image](https://user-images.githubusercontent.com/15119639/28121149-cc0e2856-674c-11e7-8

[2017-07-12 13:58] ZhangPuXi commented on #30517
I need to remove the empty line and add spaces before the `</script>` to make my code looks good. But if I have another script tag, I need to do the same operation again and again. Would you like to fix this? Great thanks advance. Thank you!

[2017-07-12 14:05] JamesBewley commented on #29749
I've updated to version 1.14.0 and this is all working fine now.  Also made lots of changes to launch file and gulp so difficult to pin down what the cause was exactly.

Please close.

[2017-07-12 14:06] chrmarti commented on #30427
Likely #30449, where the TypeScript service eats the CPU. Try https://github.com/Microsoft/vscode/issues/30449#issuecomment-314666925 to help investigate / as a workaround.

[2017-07-12 14:06] #30427 closed

[2017-07-12 14:11] chrmarti commented on #30403
@luchillo17 Correct, the fix for that problem (#30407) is lined up for the recovery build (1.14.1). We have no ETA yet, but I think it's less than a week.

Keeping this issue open for the originally reported problem against 1.13.1.

[2017-07-12 14:11] dbaeumer commented on #30094
I deprecated the one in core and defined two new once working with lessc and node-sass in the corresponding extensions.

@aeschli please have a look at the corresponding commit and let me know if you think this is not the right place to do this.

[2017-07-12 14:11] #30094 closed

[2017-07-12 14:13] Bigous commented on #14099
Hi, I've found the [Expand Selection To Scope](https://marketplace.visualstudio.com/items?itemName=vittorioromeo.expand-selection-to-scope) extension and it works very much like the SublimeText feature.

Very good.

[2017-07-12 14:14] powermr commented on #30517
I have met with the same problem！

[2017-07-12 14:14] chrmarti commented on #30449
@St1c Could you open a new issue so we can investigate separately? (Use: Help > Report Issues to get things pre-filled.)

[2017-07-12 14:15] danielo515 opened #30518 "VSCode as difftool does not work without --wait"
- VSCode Version: 1.14 insiders
- OS Version: OSX El capitan

Steps to Reproduce:

1. configure vscode as difftool as explained here https://code.visualstudio.com/docs/editor/versioncontrol
2. Remove the --wait option

For some reason that I'm unable to understand, VSCode can not be used as a git difftool if you remove the --wait option. What happens is that the vscode is opened with no content, n

[2017-07-12 14:17] gulshan opened #30519 "Inline actions in diff view for copy, replace, previous and next"
This proposal requests inline actions in diff view, like the inline merge actions are provided for git merge markers within the editor-
![image](https://user-images.githubusercontent.com/751732/29218899-314ce20a-7ed8-11e7-839c-3113d226a28f.png)

The code actions can be `Copy to left/right/other side`, `Replace left/right/other side`, `Previous` and `Next` (for going to previous/next diff). And as

[2017-07-12 14:19] stkb commented on #28595
@Livven Having the same problem; I opened #30488 for it.

[2017-07-12 14:21] jrieken commented on #30486
This is a kitchen sink issue. /cc @mjbvz since some folks suggest this has something to do with angular & TypeScript

[2017-07-12 14:22] smlombardi commented on #30188
@ramya-rao-a This has returned today in insiders 1.15  2017-07-12T05:03:23.744Z

![jul-12-2017 10-17-57](https://user-images.githubusercontent.com/835148/28122390-11db59be-66ec-11e7-9138-0433eb174a06.gif)

[2017-07-12 14:28] BuonOmo commented on #28545
@ramya-rao-a now that the issue is fix, what should I do to have emmet in my hbs templates ?

I tried:

[code]

but it just doesn't autocomplete in my file (using 1.14.0).

[2017-07-12 14:31] dbaeumer commented on #29622
Moving to August due to vacation time.

[2017-07-12 14:32] simonneedham commented on #30486
I upgraded 4 hours ago. Since then I've seen slow/unresponsive intellisense and plenty of  'not responding' & 'the window has crashed' messages.

Extensions Installed:
- Angular Language Service
- Angular v4 TypeScript Snippets
- C#
- Debugger for Chrome
- TSLint
- TypeScript Hero
- Visual Studio Keymap
- vscode-icons

I've run a few profile captures, but only been able to capture a slow/non-respo

[2017-07-12 14:32] dbaeumer commented on #15179
Will keep the item open for August. Most of the stuff discussed in here is now in the 1.14 build.

[2017-07-12 14:34] nmitha commented on #30425
Hi all,

My jsconfig.json:

{
    "compilerOptions": {
        "experimentalDecorators": true
    }
}

And I also have the following in my user settings:

"files.associations": {
        "*.jsx": "javascript"
}

I'm writing ES6 .js and .jsx files (not explicitly using TS).  I had
absolutely no Intellisense in my JS files after upgrading, then downgrading
resolved it.  I didn't check if the culprit

[2017-07-12 14:37] dbaeumer opened #30520 "Problem collector should shorten buffer if longest problem matcher < buffer size"

[2017-07-12 14:39] mfrost66 opened #30521 "setup was unable to close applications"
- VSCode Version:1.13.1
- OS Version:Win 10

Install fails even after closing all apps.  Can't troubleshoot without knowing which app(s) the installer is failing to close.

<img width="374" alt="capture" src="https://user-images.githubusercontent.com/3818866/28123151-cead14bc-66e5-11e7-958e-eab64ddf913e.PNG">

<img width="203" alt="tasks" src="https://user-images.githubusercontent.com/3818866/2812

[2017-07-12 14:40] #29771 closed

[2017-07-12 14:41] dbaeumer commented on #27190
Moving to August due to vacation time.

[2017-07-12 14:42] mfrost66 commented on #30521
Found 6 background vscode instances

[2017-07-12 14:42] #30521 closed

[2017-07-12 14:42] jrieken commented on #29960
For insider we now delete everything older 8 days, for stable older 3 months

[2017-07-12 14:42] #29960 closed

[2017-07-12 14:44] johnnyreilly commented on #30486
I'm wondering if TypeScript Hero is the problem here...  Just disabled it and **so far** it hasn't locked up again.

[2017-07-12 14:45] atmortensen commented on #1952
@ramya-rao-a emmet.useNewEmmet was working great for awhile, but yesterday vscode updated and now it only works sometimes. When I type 'w' I expect the it to be 'width' but right now it's putting 'white-space' instead.

![28123302-e5effcaa-66dd-11e7-9e0d-0a08e7706af2](https://user-images.githubusercontent.com/24929893/28123409-1bfbc0b8-66de-11e7-8352-bba2e91e5207.png)

[2017-07-12 14:46] jasonhulbert opened #30522 "Dim or otherwise indicate "inactive" editor/terminal"
One of the best features of VS Code is the built-in terminal. However, I often begin typing in the editor when in fact I think I'm in the terminal - and vice versa. To alleviate this issue, it would be helpful to visually indicate which portion of the IDE is "active" vs. "inactive". A subtle dimming effect might just do the trick.

[2017-07-12 14:48] jasonhulbert commented on #30522
Of course, this would be best suited as an option and, since it could be jarring to current users, not the default behavior.

Personally, I could also see this being useful in split-editor views as well.

[2017-07-12 14:49] MickeySegal commented on #30486
The other main thread on this issue is https://github.com/Microsoft/vscode/issues/30449, discussing changing the typescript workspace version to 2.3.4

[2017-07-12 14:52] 0not commented on #28036
@dbaeumer According to the bash man page, the argument to `bash -c` should be quoted. Anything after the string to be executed is passed in as parameters.

[code]

For example, `"command": "\"echo $0\" Hello"` prints "Hello" as expected.

It appears that the command does need to be quoted when passed to `bash -c`, but I don't know enough about the task system to say if that's feasible. I just figu

[2017-07-12 14:54] andy-ms opened #103596 "Formatter indents double after multi-line parameters"
**TypeScript Version:** nightly (2.5.0-dev.20170712)

**Code**

[code]

Type `enter`, then `return 0;`.

**Expected behavior:**

[code]

**Actual behavior:**

[code]

Running "Format Document" fixes it.

[2017-07-12 14:59] jrieken commented on #30486
Thanks @simonneedham and @johnnyreilly. There is something fishy with us and TypeScriptHero. I'll make sure to have local repro to confirm my theory and update this issue

[2017-07-12 14:59] developering commented on #16320
@wanecek Were you able to get Peek Definition and CMD+Click working with the `path-intellisense.mappings`? Adding those mappings did allow for suggestions as I'm typing an import statement and using a webpack alias, but didn't seem to change the functionality at all with Peek Definition or CMD+Click. If you were able to get that working somehow, I'd love to see more details on your setup.

[2017-07-12 15:00] simonneedham commented on #30486
@johnnyreilly @jrieken  I just switched off TypeScript Hero. Instant improvement.

[2017-07-12 15:02] steveostudios commented on #16222
+1 I think this feature would be fantastic!
In Atom having a dot on the left is _way more helpful_. My eye is constantly looking at the beginning of a line when reading code. Rarely ever do I look over to the purposefully look at the right side of my screen.

[2017-07-12 15:03] J404 commented on #30444
Thank you for the fix! I saw the file, but do I have to implement this myself or will I just have to wait until the next update?
Thank you!

[2017-07-12 15:04] okonon commented on #30464
same on OSX 10.12.4 running VSCode 1.14.0 (1.14.0)

[2017-07-12 15:06] weshoke opened #30523 "Language Type being detected as C for C++ files"
- VSCode Version: Version 1.14.0 (1.14.0) b8cd5b9556d8b70ea560d35b903422363f6c5c40
- OS Version: OSX 10.12.4 (16E195)

Steps to Reproduce:

Not sure how to reproduce.  Maybe there's a log I can send?

I very clearly have C++ files being detected as C files:

<img width="277" alt="screen shot 2017-07-12 at 8 02 19 am" src="https://user-images.githubusercontent.com/339696/28124462-97002bec-66d8-11e7

[2017-07-12 15:10] weinand commented on #29749
@JamesBewley Thanks a lot for resolving this.

[2017-07-12 15:10] #29749 closed

[2017-07-12 15:18] dj-hedgehog commented on #396
I have to commend your, dear VSCode team.
Finally I am able to ditch Atom since Multi-Root Workspaces landed in the Insiders Builds!
Since two years .gitignore etc. are not respected in Atom when searching in multi-root workspaces and you got it right from the beginning!

Is persistence of workspaces tracked in another issue?

[2017-07-12 15:18] jrieken commented on #30486
So, the following is happening here and a good example for how easy things can go south... As some of you already know, we are currently working on supporting [multiple root folders](https://github.com/Microsoft/vscode/labels/multi-root) in VS Code. Many things have already happened in that area and one thing we focus on is extensions. Until now, there is just the `vscode.workspace.rootPath`-API w

[2017-07-12 15:19] shinestmt opened #30524 "want the Windows UWP app"
- VSCode Version:
- OS Version: Win 10

Reproduces without extensions: Yes

[2017-07-12 15:24] enkol commented on #29132
For me, it looks like the problemis partially fixed.
I did not get any permission errors on build, with VSCode 1.14.
But the tsserver process still seems to watche my tmp folder, despite having it on all known exclude lists ([see comment 310366877](https://github.com/Microsoft/vscode/issues/29132#issuecomment-310366877)).
This slows down my build process quite a bit.

[2017-07-12 15:25] bpasero commented on #30444
This should be available in tomorrows insider release and for the June recovery release soon.

[2017-07-12 15:29] J404 commented on #30444
Okay, thank you!!

[2017-07-12 15:29] roblourens opened #30525 "Add the ability to control if the nodejs console window closes on exit of the node app."
_From @paulvanbrenk on June 21, 2017 19:36_

Add the ability to control if the nodejs console window closes on exit of the node app.

Based on the exit code, we would like the following options.

* `both` always keeps the console open
* `normal` keeps the console open when the exit code is `0`
* `abnormal` keeps the console open when the exit code is not `0`
* `default` close the console, when the

[2017-07-12 15:29] roblourens commented on #30525
_From @weinand on July 12, 2017 14:40_

@roblourens are using the DAP 'runInTerminal' request for running node.js in the console? If yes, then this feature request can probably be moved to VS Code.

[2017-07-12 15:29] MickeySegal commented on #30449
The workaround of disabling TypeScript Hero is discussed in https://github.com/Microsoft/vscode/issues/30486

[2017-07-12 15:31] DannyFeliz commented on #396
Yesterday the VS Code Team released a new version of VS Code with the [Multi Root Workspaces](https://code.visualstudio.com/updates/v1_14#_preview-multi-root-workspaces) feature 🎉 . Actually, is only available in from the Insiders build so you can download it here [Download VS Code Insiders](https://code.visualstudio.com/insiders)

*File Explorer*
![](https://code.visualstudio.com/images/1_14_add-

[2017-07-12 15:31] roblourens commented on #30500
Is it broken? I see it marked as `keyword.other.class.php` which seems correct.

[2017-07-12 15:31] JonnyBoy333 opened #30526 "Autocomplete/Intellisense Does Not Show All Options For Object Value"
- VSCode Version: 1.14.0
- OS Version: macOS 10.12.5

Autocomplete/intellisense is not showing all the options for an object that goes into a function parameter even though it is defined in a typescript interface.

Example:
[code]
![screen shot 2017-07-12 at 10 27 36 am](https://user-images.githubusercontent.com/15164008/28125639-cae175a6-66ec-11e7-813c-22a579c65554.png)

It appears that only the

[2017-07-12 15:38] bogomips commented on #30449
Same here!
The interface becomes unresponsive for several seconds and I see
the process /usr/share/code/code using the 100% of the cpu.

GitHub Extension for Visual Studio version: not extensions
Visual Studio version: 1.14.0
I think it happens since the last update, I deactivated every plug-in but it keeps happening.

[2017-07-12 15:39] #30486 closed

[2017-07-12 15:40] chrmarti commented on #30476
Missing details.

[2017-07-12 15:40] #30476 closed

[2017-07-12 15:40] jrieken commented on #30486
Pushed a fix to `master` and `release/1.14` which mean Insiders is fixed in ~12 hours and stable as soon as we release 1.14.1

[2017-07-12 15:42] bpasero commented on #30472
Looks like a regression from the views management changes.

[2017-07-12 15:42] roblourens commented on #30448
Maybe related to https://github.com/Microsoft/vscode-textmate/issues/50

[2017-07-12 15:44] roblourens commented on #30493
Covered by https://github.com/Microsoft/vscode/issues/29658

[2017-07-12 15:44] #30493 closed

[2017-07-12 15:44] chrmarti commented on #30482
Looks like #27285.

[2017-07-12 15:46] chrmarti commented on #30483
@simonl65 Did you mean to say 'on by default'? Which ones would you want to see on by default?

[2017-07-12 15:49] chrmarti commented on #30485
@gtzinos Does it freeze immediately after startup? Could you check which process and with what arguments is using much CPU? Does it reproduce when launching with `code --disable-extensions`?

[2017-07-12 15:51] pzuraq opened #30527 "[coffeescript] syntax highlighting breaks when using embedded JS"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:24:22.120Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
material-icon-theme|PKi|2.0.10
vscode-paste-and-indent|Rub|0.0.8
vscode-custom-css|be5|2.3.2
jshint|dba|0.10.15
vscode-eslint|dba|1.2.11
gitlens|eam|4.3.1
vscode-elixir|mjm|0.5.0
prettify-json|moh|0.0.3
se

[2017-07-12 15:56] buehler commented on #30486
I'm currently working on a hot fix for typescript hero, so that the extension only accesses `workspace.rootPath` once and passes it down to the components via DI.

[2017-07-12 15:57] buehler commented on #30486
@jrieken Out of curiosity, when did you guys add the reporting for rootPath?

[2017-07-12 15:57] chrmarti commented on #30498
This issue was moved to OmniSharp/omnisharp-vscode#1633

[2017-07-12 15:57] roblourens commented on #30465
More details?

[2017-07-12 15:57] #30465 closed

[2017-07-12 15:58] chrmarti commented on #30506
That command no longer exists. How do you trigger that?

[2017-07-12 16:00] benjaminmillhouse opened #30528 "Convert to ES2015 class feature does not acknowledge tab size"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

Extension|Author (truncated)|Version
---|---|---
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
vscode-eslint|dba|1.2.11
githistory|don|0.2.1
gitlens|eam|4.3.1
vscode-html-css|ecm|0.1.7
vscode-npm-script|eg2|0.2.0
JSDocTagComplete|Hoo|0.0.

[2017-07-12 16:02] bugs181 commented on #30463
I was originally wrong about the subdirectories. I've found the culprit but don't know why yet. It appears to happen when I have `cheerio` as a `node_module` dependency.

Attached is an example project. Opening `file1.js` and `file2.js` work as expected until you open `broken/broken.js`. It may have something to do with the `package.json`. I've even tried removing `jshint` and `mocha` in that file

[2017-07-12 16:04] chrmarti commented on #30507
I don't think there is any guarantee we can make here. How are you measuring this and why do the 9 ms matter?

[2017-07-12 16:06] chrmarti commented on #30512
You can configure one in File > Preferences > Keyboard Shortcuts. (On Mac: Code > Preferences > Keyboard Shortcuts).

[2017-07-12 16:06] #30512 closed

[2017-07-12 16:06] Gama11 commented on #30498
@chrmarti I think "Mono" in this issue was referring to the [monorepo "workflow"](https://danluu.com/monorepo/), rather than a "(C# ) Mono repo"?

[2017-07-12 16:17] chrmarti commented on #30524
#10759

[2017-07-12 16:17] #30524 closed

[2017-07-12 16:25] Tyriar commented on #20505
Sat together with @chrmarti yesterday to figure this thing out, the fix for this is coming in 1.15 :tada:

It was an obscure bug that was happening when the terminal was created before the panel was shown. It was caused by https://github.com/Microsoft/vscode/commit/eb85ea83e04a1e308dc96fbf5da576ba0b68abcd to fix https://github.com/Microsoft/vscode/issues/22328. The reason is because since we were

[2017-07-12 16:28] yamcenutzer commented on #15530
same here broken in windows and linux incarnations of 1.13, 1.14

[2017-07-12 16:35] icyJoseph commented on #28709
Unfortunately I have to join this club. VS code just gets idle/frozen and I gotta alt+tab several times or try to click/scroll to get it back up...

[2017-07-12 16:37] PCPrincess commented on #30209
Multi-Folder - Color Picker - Tasks Panel =>  Yay!

[2017-07-12 16:38] bpasero commented on #30482
#27285

[2017-07-12 16:38] #30482 closed

[2017-07-12 16:41] Tyriar commented on #30522
Some things that could help you with this:

- `"terminal.integrated.cursorBlinking": true`, this is how I tell where the focus is. The terminal cursor is also hollow when it's not focused which helps.
- The high contrast theme adds a border around the terminal when it's focused:

  ![image](https://user-images.githubusercontent.com/2193314/28128558-f5a2d4d6-66e4-11e7-9ab4-2516ce9afd79.png)

  Prob

[2017-07-12 16:49] mjbvz commented on #30526
This issue was moved to Microsoft/TypeScript#17127

[2017-07-12 16:49] #30526 closed

[2017-07-12 16:49] ranbuch commented on #30403
When disabling all extensions works good.
[code]
Those are all my extensions.

I think you should close this one.

Thank you!

[2017-07-12 16:55] Musaab commented on #19839
I'm fully updated and having this problem today.

[2017-07-12 16:56] jasonhulbert commented on #30522
@Tyriar thanks for the response!

I do have blinking cursor set currently and when I'm on my macbook it's usually in a close enough proximity (visually) so that I see it but when I'm on my two large external displays at fullscreen it's easy to miss the blinking cursor if you looking elsewhere and working quickly.

The high contrast mode makes my eyes bleed haha. None the less, that's great to poin

[2017-07-12 16:59] mjbvz commented on #30467
Thanks. This seems like a bug with the TypeScript server that powers our JS and TS language features. I've opened https://github.com/Microsoft/TypeScript/issues/17128 to track this

Closing as upstream

[2017-07-12 16:59] #30467 closed

[2017-07-12 17:06] ranbuch commented on #30403
Just append again :(

[2017-07-12 17:10] bpasero commented on #30522
I do not like the border (in fact I even get annoyed by our blue focus ring so I disabled it via theme customization). I would prefer a solution that does not introduce ugly borders.

[2017-07-12 17:10] mjbvz commented on #30528
Thanks. Tracked upstream by https://github.com/Microsoft/TypeScript/issues/17129

[2017-07-12 17:10] #30528 closed

[2017-07-12 17:12] jasonhulbert commented on #30522
@bpasero What are you thoughts on the dimming effect? Possibly with an optional "amount"?

[2017-07-12 17:14] Tyriar commented on #30481
@parzh does the package happen to edit the `PATH` environment variable?

[2017-07-12 17:16] Tyriar commented on #29840
@dbaeumer option 3 including reflow https://github.com/sourcelair/xterm.js/pull/644#issuecomment-298058556 is required in order to get unwrapped lines

Not sure when I'll have time to work on this, pretty swamped atm. It might be a good opportunity to collaborate if this is high priority for you?

[2017-07-12 17:17] JonnyBoy333 commented on #30526
Thanks the quick action. I would like to note, however, that other IDE's seem to be able to handle this situation, which is why I put it under the vscode github instead of typescript.

Example:
WebStorm
![screen shot 2017-07-12 at 12 14 13 pm](https://user-images.githubusercontent.com/15164008/28130252-ed73d99c-66fb-11e7-9f1b-fad40f1a1fc0.png)

[2017-07-12 17:19] Tyriar commented on #30452
@AaronFriel the insiders build is frozen when we are stabilizing the stable channel. It took particularly long this iteration but this was expected. Everything's back to normal now :+1:  https://packages.microsoft.com/repos/vscode/pool/main/c/code-insiders/

@fdvmarkus I published v1.14.0 to the repo earlier this morning, for the rpm we need to get it manually signed by another team which takes a

[2017-07-12 17:19] #30452 closed

[2017-07-12 17:20] MickeySegal commented on #30449
A new version of TypeScript Hero was released with a workaround to this problem.  More information at https://github.com/buehler/typescript-hero/issues/242

[2017-07-12 17:21] MickeySegal commented on #30486
A new version of TypeScript Hero was released with a workaround to this problem. More information at buehler/typescript-hero#242

[2017-07-12 17:22] Tyriar commented on #7504
@whitecolor that splitting branch was purely about splitting within the terminal panel, but being able to have arbitrary horizontal/vertical splits similar to terminator. One concern which I'm sure will be discussed with the team in time is that will behave vastly different to splitting in the editor.

No date in sight for this work as I have higher priority stuff I'm on currently. This is somethi

[2017-07-12 17:23] mjbvz commented on #30463
Thanks. Looking at the trace, I see a few errors reported on the TS Server. I've opened https://github.com/Microsoft/TypeScript/issues/17131 to track this

As a workaround, try downgrading your TS version to 2.3.4.  [Here are the instructions on that](https://code.visualstudio.com/Docs/languages/typescript#_using-newer-typescript-versions)

Closing as upstream

[2017-07-12 17:23] #30463 closed

[2017-07-12 17:30] andy-ms commented on #30449
Hi @mjbvz, looking through that log, I noticed that VSCode seems to be asking for `"getApplicableRefactors"` on the same file several times in a row. Is there a way to disable that feature in VSCode so we can see if it's related to the problem?

[2017-07-12 17:33] seesemichaelj opened #30530 "Keyboard Shortcut to Skip Preview Using Quick Open"
I almost always use Quick Open (Ctrl/Command + P) to open my files. Sometimes I want to open multiple files, but they open in Preview by default when using the Quick Open.

I know that there is a user setting that allows you to disable Preview, but 85% of the time I enjoy the Preview.

This is a feature request to add a keyboard shortcut to open the selected file in Quick Open and skip Preview mod

[2017-07-12 17:36] #30458 closed

[2017-07-12 17:36] Tyriar commented on #30522
I prefer borders personally :stuck_out_tongue:

![image](https://user-images.githubusercontent.com/2193314/28131157-e83a0874-66ed-11e7-9caf-a01377534bd4.png)

[2017-07-12 17:37] ramya-rao-a commented on #28545
set `"emmet.showExpandedAbbreviation": "always"`

[2017-07-12 17:37] Tyriar commented on #19839
@Musaab I believe this is just how powershell works, you might want to switch to cmd.exe

[2017-07-12 17:38] Tyriar commented on #10023
@zephrxx what's the console saption?

[2017-07-12 17:39] richarddavenport commented on #30449
Just venting for a second...I mentioned I had problems with [high cpu](https://github.com/Microsoft/vscode/issues/20893#issuecomment-308179423) and felt like it was pretty much [ignored](https://github.com/Microsoft/vscode/issues/20893#issuecomment-308262869). I suspect that while I was using insiders, this was my problem all along. I really hope that when someone brings up cpu usage problems, the

[2017-07-12 17:41] mirao opened #30531 "PHP: Incorrect syntax highlighting in Class::constant"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T20:36:40.018Z)
- OS Version: Linux x64 4.10.0-26-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
codeception-snippets|die|0.0.4
githistory|don|0.2.1
php-debug|fel|1.11.1
php-intellisense|fel|1.4.3
AWK|lug|0.0.2
ftp-sync|luk|0.3.3
mads|mir|0.0.5
HTMLHint|mka|0.3.3
vscode-icons|rob|7.10.1
code

[2017-07-12 17:41] ramya-rao-a commented on #30188
I am on the Insiders dated 12th July on Mac

<img width="752" alt="screen shot 2017-07-12 at 10 38 36 am" src="https://user-images.githubusercontent.com/16890566/28131294-4ee35a4e-66ee-11e7-9473-f9dad2483537.png">

Can you run code with all extensions disabled and see if you still have issues?

<img width="683" alt="screen shot 2017-07-12 at 10 41 26 am" src="https://user-images.githubusercontent.

[2017-07-12 17:42] icyJoseph commented on #30403
Hi!

I've been having the same issue, please refer to my comment here:

https://github.com/Microsoft/vscode/issues/28709

[2017-07-12 17:42] Tyriar commented on #30445
There was a 1-2 hour delay to publishing the deb this release, that was likely the cause.

[2017-07-12 17:42] #30445 closed

[2017-07-12 17:44] chrmarti commented on #30498
Thanks @Gama11 . @danielo515 In which file are you specifying these excludes? That doesn't seem to be a built-in config file.

[2017-07-12 17:45] dnecklesportfolio opened #30532 "can you add duplicate feature when right clicking files in explorer view"
hi this is a feature -request..

[2017-07-12 17:45] cealmees commented on #29284
Same issue too.

[2017-07-12 17:47] chrmarti commented on #30403
@ranbuch Can you confirm this still occurs with 1.14? (release yesterday)

[2017-07-12 17:47] ramya-rao-a commented on #1952
@atmortensen The suggestion list is shared by the css completion provider and emmet. What you are seeing are suggestions from the css completion provider which trumps the emmet suggestion which is 9th in the list above. Which makes sense... alphabetically speaking.

This is by design.

If you want emmet specifically you can explicitly use the `Emmet: Expand Abbreviation` command (bind a keyboard s

[2017-07-12 17:48] mjbvz commented on #30449
@andy-ms Not on its own but you can try a hack: with a workspace version of typescript, edit the `node_modules/typescript/package.json` version from `2.4.1` to `2.3.9`. This will disable any features that are gated for 2.4, which is mainly the refactoring actions

[2017-07-12 17:48] Kampfmoehre commented on #30530
+1 I would also like to see this feature implemented.

[2017-07-12 17:51] adman2002 commented on #30205
New version fixed this issue, thanks!

Adam Parker, MCSA
Member, Director of Technology

Kraft Enterprise Systems, LLC
10 Cadillac Drive, Suite 380
Brentwood, TN  37027
(615) 542-1558
aparker@kraftenterprise.com<mailto:aparker@kraftenterprise.com>

Sign up for timely news updates from KraftCPAs here<http://www.kraftcpas.com/Newsletter_Email_List.php>!

From: Matt Bierner [mailto:notifications@gith

[2017-07-12 17:51] icyJoseph commented on #30403
@chrmarti Sorry for meddling, in my case it still happened after the update.

[2017-07-12 17:52] ShiftySituation commented on #30403
@chrmarti I can... after the update yesterday 1.14 is when we started experiencing the issues.

[2017-07-12 17:55] #30205 closed

[2017-07-12 17:55] rufusroflpunch opened #30533 "Copy/paste to clipboard not working"
- VSCode Version: 1.14.0
- OS Version: macOS Sierra 10.12.5

Steps to Reproduce:

1. Open VS Code
2. Attempt to copy from editor, or paste text into the editor.

Reproduces without extensions: Yes

[2017-07-12 18:00] chrmarti commented on #30434
@joaomoreno Wasn't there a requirement for the icon to be available in the repository for when the extension is not installed yet? Has that changed?

[2017-07-12 18:01] MickeySegal commented on #30449
Once people started listing their extensions in https://github.com/Microsoft/vscode/issues/30486 it became clear quickly which extension triggered this bug.  For Insider versions, it is more difficult to get a critical mass of people reporting a problem.  Selectively turning off extensions can get the same information, but since this problem was evident only sporadically on fast computers, the cyc

[2017-07-12 18:04] Tyriar commented on #30447
Please report against the powershell extension https://github.com/PowerShell/vscode-powershell

[2017-07-12 18:04] #30447 closed

[2017-07-12 18:05] Adondriel commented on #30499
I can see why this is an issue, but I also think it's kind of a small one, for me in this example:
![image](https://user-images.githubusercontent.com/1113496/28132535-1b6ee256-670b-11e7-9616-ab9772370f12.png)
When I scroll down, the title bar gains a nice little shadow, that makes it very apparent that I have a line above it. Could this be due to your theme?

[2017-07-12 18:05] Tyriar commented on #30442
Files are actually backed up to support our hot exit feature, they are however deleted when the file is closed by the user. I suggest looking at extensions to fill this need or write one yourself to backup active files to disk.

[2017-07-12 18:05] #30442 closed

[2017-07-12 18:06] chrmarti commented on #30403
@icyJoseph That sounds like another problem, could you open a separate issue for that?

[2017-07-12 18:06] giovdk21 commented on #28036
@dbaeumer & @0not could you please have a look at my previous comment or [here](https://github.com/giovdk21/wsl-bash-tools)?

The workaround I implemented works in a similar way but basically I'm collecting all the shell arguments with a powershell script and then calling `C:\Windows\System32\bash.exe -c "$args_str"`

This not only fixes it but it also allows for other parameters to be appended at

[2017-07-12 18:07] Tyriar commented on #29491
Ping @sandy081

@joaomoreno should @sandy081 be the assignee on this issue?

[2017-07-12 18:08] andy-ms commented on #30449
@MickeySegal The original post by @onury says this happened without extensions. I presume the same is true for @dotlouis's log.

[2017-07-12 18:08] Tyriar commented on #30440
Duplicate https://github.com/Microsoft/vscode/issues/2806

[2017-07-12 18:08] #30440 closed

[2017-07-12 18:08] cleidigh commented on #29698
@mjbvz
I'm still having problems with the binary packaging phase
Using:
upstream/master            722e6ba347 Merge pull request #30365 from Microsoft/roblou/terminalCursorColor

Per @joaomoreno  suggestion packaging with:
npm run gulp -- vscode-win32-ia32

see error below:
any ideas?

[13:37:50] [i18n] zh-cn has 142 untranslated strings.
[13:37:50] [i18n] zh-tw has 224 untranslated strings.
[13:3

[2017-07-12 18:10] Tyriar commented on #14701
I think this was fixed a long time ago.

[2017-07-12 18:10] #14701 closed

[2017-07-12 18:12] chrmarti commented on #30530
You could use `Keep Editor` bound to `Ctrl+K Enter` (`Cmd+K Enter` on Mac) on the open editor.

[2017-07-12 18:15] seesemichaelj commented on #30530
I'll use that in the meantime while this gets implemented. Thanks for the tip!

[2017-07-12 18:16] Tyriar commented on #29793
@cleidigh a bunch of team members actually jumped on terminal issues on Monday so a lot of the easier ones are taken :stuck_out_tongue:

Here's the backlog: https://github.com/Microsoft/vscode/issues?q=is%3Aopen+label%3Aintegrated-terminal+label%3A%22help+wanted%22

There's a bunch of issues in the upstream project too if you're interested in contributing there https://github.com/sourcelair/xterm.

[2017-07-12 18:18] Tyriar commented on #23808
We're moving ahead with the wmic stuff as part of https://github.com/Microsoft/vscode/issues/30152, this will be something we can look at afterwards as we'll have a mostly complete picture of the process tree. /cc @Lixire

[2017-07-12 18:19] rufusroflpunch commented on #30533
Interestingly enough, this only seems to be happening when I launch vscode from within tmux. If I launch from a normal terminal, it behaves correctly. Also, when launched from tmux, the editor freezes when dragging and dropping tabs.

[2017-07-12 18:23] BuonOmo commented on #28545
It worked, thank you!

[2017-07-12 18:24] adman2002 opened #30534 "JavaScript Intellisense Try/Catch Variable Type"
- VSCode Version: 1.14.0
- OS Version: Windows 10

Steps to Reproduce:

When writing javascript, variable in try catch block is type of any instead of Error:

![image](https://user-images.githubusercontent.com/29957980/28133364-6504c634-6705-11e7-8658-f91afb8ac71d.png)

[2017-07-12 18:25] MickeySegal commented on #30449
Interesting.  The problems in https://github.com/Microsoft/vscode/issues/30486 went away with disabling extensions.  It seems like there is more than one cause to these CPU issues with VSCode 1.14.0

[2017-07-12 18:28] #28643 closed

[2017-07-12 18:30] bpasero commented on #30522
Yeah dimming might be better. We have this problem already today where when having multiple editors open side by side it is not clear which editor is active.

[2017-07-12 18:30] bpasero commented on #30532
This issue has already been reported. Please use the search function next time before reporting an issue and/or this time if you are curious about the progress of the issue.

[2017-07-12 18:30] #30532 closed

[2017-07-12 18:32] bpasero commented on #30530
Yeah I do agree that quick open is missing a way to open an entry in pinned mode, similar to how double clicking in the explorer will pin a file.

[2017-07-12 18:34] enozero commented on #30404
Ah... interesting. I hadn't ever thought to try the folder before the filename in the quick open tool. My mind automatically thinks of the file name then to narrow down the search from there once I see that the search has too many listings and that I can just keep typing to narrow down the search. Is there a way to allow searching the folder names after the file name? If not, that would be a fanta

[2017-07-12 18:35] zephrxx commented on #10023
By caption I mean the highlighted part in the screen shot below.
![capture](https://user-images.githubusercontent.com/5190347/28133860-18d448ca-66f6-11e7-8987-04ad87b7696b.PNG)

[2017-07-12 18:35] Tekbr commented on #23543
-- Sorry for the English, I used Google Translator --

@AmmarHasan If you can take my notes into consideration, I'm grateful.

My expectations are that the information will not be saved in the search when I close Settings and Keyboard.

But they should pernacesser the searched content when I drag the guide to another group.

[2017-07-12 18:39] chrmarti opened #30535 "Expose the collapsible state of the tree item"
That would allow the TreeDataProvider to preserve the collapsibleState on updates.

[2017-07-12 18:40] Tekbr commented on #30495
-- Sorry for the English, I used Google Translator --

In my opinion regardless of the `workbench.quickOpen.closeOnFocusLost` option being set to `false`, I think the mouse click should remove the Command Palette. That is, if I click in the middle of the file the Command Palette should close.

So @bpasero , can this request be followed in this case or should I create another?

[2017-07-12 18:42] thedamon commented on #29701
This is weird. It kind of is an issue with vsCode then if they're using invalid json, isn't it? ;-)

Wonder if there's any specific reason to not just use `*.js` for settings

[2017-07-12 18:42] Tyriar commented on #10023
Ah, well I don't think we have access to that and also it would be too long for the dropdown. In https://github.com/Microsoft/vscode/issues/30152 we're looking into getting Windows closer to the Linux/macOS experience which shows the active program/shell:

- If you launch powershell it will say "powershell"
- If you launch cmd *inside* powershell, it will say "cmd"
- If you launch npm install *ins

[2017-07-12 18:43] Tyriar commented on #30152
I think for the case of executables we should trim the .exe. We don't gain much by saying "powershell.exe" over "powershell".

[2017-07-12 18:45] jbsulli opened #30536 "Fenced JavaScript in markdown adds ">" when you type "<""
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
jshint|dba|0.10.15
vscode-todo-parser|min|1.8.10
debugger-for-chrome|msj|3.1.6
language-liquid|nei|0.0.2
vscode-jest|Ort|2.2.0

---

Writing a less-than sign automatically adds a greater-than sign

[2017-07-12 18:46] Tyriar commented on #30408
@Chiliyago hmm, I can't seem to reproduce using the powershell extension. Do you happen to have config in your powershell profile related to mouse usage?

[2017-07-12 18:48] Tyriar commented on #30429
I can't seem to reproduce. I do see weird wrapping happening *during* a resize but there isn't anything we can do about that (related to upstream https://github.com/rprichard/winpty).

[2017-07-12 18:49] Tyriar commented on #28265
@corbinu actioning that is being tracked in https://github.com/Microsoft/vscode/issues/21651

[2017-07-12 18:50] Chiliyago commented on #30408
no i do not have a PowerShell profile related to mouse usage.  I can do a
Webex with you if you have time.

On Wed, Jul 12, 2017 at 11:47 AM, Daniel Imms <notifications@github.com>
wrote:

--

*Tim Odell*

Mobile    (949) 636-5272
Skype      TimOdell
Twitter <https://twitter.com/TimOdell>
LinkedIn <http://www.linkedin.com/in/timodell>

[2017-07-12 18:50] #8132 closed

[2017-07-12 18:53] chrmarti commented on #30449
@MickeySegal Indeed, this one is about the TypeScript server which is unrelated to #30486. (Thanks for publishing your extension with a workaround!)

[2017-07-12 18:54] bpasero commented on #30495
@Tekbr yours sound like a separate request

[2017-07-12 18:55] Tyriar commented on #30430
The terminal doesn't relayout on Windows as a consequence of the backing library and how it works https://github.com/rprichard/winpty

winpty does not attempt to track wrapped lines or reflow them, probably because it's already complicated enough attempting to get the Windows console APIs to work like the Unix pty API.

There is a related issue https://github.com/sourcelair/xterm.js/issues/622 whi

[2017-07-12 18:55] #30430 closed

[2017-07-12 18:57] benjaminmillhouse opened #30537 "Intellisense not detecting array type"
- VSCode Version: 1.14.0

Steps to Reproduce:

1. Add an array as a property of an object and document the @type
2. View Intellisense for the property

<img width="489" alt="screen shot 2017-07-12 at 2 44 36 pm" src="https://user-images.githubusercontent.com/13835886/28134836-3646bd68-6712-11e7-9627-245b251d13d8.png">

Reproduces without extensions: Yes

[2017-07-12 18:57] Tyriar commented on #28265
@corbinu actioning that is being tracked in https://github.com/Microsoft/vscode/issues/21651

[2017-07-12 19:01] MickeySegal commented on #30449
We have multiple threads here that are getting a bit conflated.  And https://github.com/buehler gets the credit for posting a quick fix for bug that tripped up TypeScript Hero - my role was just to add a thread https://github.com/buehler/typescript-hero/issues/242 that I knew he'd see.

[2017-07-12 19:05] dearsaturn commented on #30425
I'm experiencing this too :(

[2017-07-12 19:09] lagbox commented on #30448
I am seeing syntax highlighting being broken when a multiline use statement is in a class (regardless of namespace concerns). Randomly down the file it corrects itself.

[2017-07-12 19:10] corbinu commented on #28265
Thanks!

[2017-07-12 19:11] parzh commented on #30481
@Tyriar: Yes, it does

[2017-07-12 19:15] davegregg commented on #30464
Same on Ubuntu 17.10 alpha running VSCode 1.15.0-insider

[2017-07-12 19:27] cleidigh commented on #30429
@Tyriar
Hmm, so you never see duplicate lines of the window shell? I can reproduce this easily, it's quite consistent.
I have a suspicion it may be related to the PTY startup time.
I'll try to look into it more

[2017-07-12 19:30] MaximoTrinidad opened #30538 "Any plan to have the ability to resize the font size in VSCode?"
Just wondering is there any plan to resize the font when you code.  I've been doing a lot of presentation using VSCode and makes it ough not to have a way to (at least) increase the font size.

:)

- VSCode Version: 1.14.0
- VSCode Insider Version: 1.15.0-insider
- OS Version: Windows 10 Build 16237 and Ubuntu 16.04.2

[2017-07-12 19:38] cleidigh commented on #29698
@mjbvz
just saw and tested your commit now using typescript 2.4.2
the binary build completes without error but when I open Code I get the menu bar and a blank window

![image](https://user-images.githubusercontent.com/25272315/28136573-2f9fcba2-6718-11e7-80fc-1f5c316ff452.png)

[2017-07-12 19:39] Chillee commented on #30538
@MaximoTrinidad Set the `editor.fontSize` option.

[2017-07-12 19:40] teqonix opened #30539 "Context menu for unsaved buffers not appearing after selecting one buffer for compare"
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:36:31.751Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
plsql|cas|0.0.3

---

Steps to Reproduce:

1.  Launch VS Code
2.  Create a new file (File --> New)
3.  Write some example text in the "Untitled-1" buffer (e.g. "Test123")
![image](https://user-image

[2017-07-12 19:52] Tekbr opened #30540 "Allow Close Command Palette with the Click of the Mouse"
- VSCode Version: 1.15.0 - Insiders (74f5073, Date 2017-07-12T05:15:55.615Z)
- OS Version: Windows 10

Settings:
`workbench.quickOpen.closeOnFocusLost: false`

-- Sorry for the English, I used Google Translator --

As seen with @bpasero  in this issue #30495 .

Allow the Command Palette to be closed by clicking anywhere in the VSCode:

- navigate between Active Bar options;
- in the menu bar (unti

[2017-07-12 19:53] Tekbr commented on #30495
@bpasero Thanks for the answer. I created this issue #30540.

[2017-07-12 19:53] roblourens commented on #30448
Is is the same as this issue, or is a different issue specific to a multiline use statement? Can you post an example?

[2017-07-12 19:54] MartonEstok commented on #28709
@icyJoseph thanks for sharing this. I can confirm that Atom does freeze the same way for me too. Unfortunately I don't know if the atom solution mentioned in the comment can be somehow replicated in vscode. if anybody knows, please share.

By the way, my workaround is (in Win10) to create a second desktop where only vscode is opened, and instead of ALT+TAB I use Windows+CTRL+LEFT/RIGHT to swap bet

[2017-07-12 19:55] babakness commented on #30439
@roblourens But Node does start the server and Chrome can connect... VSCode doesn't. I tried all those variations to no avail... VS Code does not work on this version of Node for me... what version of Node are you using? What does your Launch.json look like?

[2017-07-12 19:55] MaximoTrinidad commented on #30538
@Chillee ,

That helps!  Thanks.  I forgot to look under the settings JSON file.

But, maybe an option under the pull-down menu to make it more visible and/or a Ctrl-key implementation.

:)

[2017-07-12 19:55] chrmarti opened #30541 "Anonymous class missing references / missing in implementations"
- VSCode Version: Code - Insiders 1.15.0-insider (74f5073c54f1139d2fb0eccb251cae5ed6e8215b, 2017-07-12T05:07:15.561Z)
- OS Version: Darwin x64 16.6.0
- Extensions: Many

[code]

Test.bar() does not show an implementation and the implementation does not show a reference:
![image](https://user-images.githubusercontent.com/9205389/28137232-66daed7a-6701-11e7-9e10-1764214d92c8.png)

[2017-07-12 19:56] Tyriar commented on #30481
In that case this is by design. All VS Code windows inherit the main processes' environment, and the terminal inherits the window's environment.

You will have to either relaunch or modify `PATH` yourself via the terminal.

[2017-07-12 19:56] #30481 closed

[2017-07-12 19:57] mjbvz commented on #30541
This issue was moved to Microsoft/TypeScript#17139

[2017-07-12 19:57] #30541 closed

[2017-07-12 20:00] mjbvz commented on #30537
This issue was moved to Microsoft/TypeScript#17140

[2017-07-12 20:00] #30537 closed

[2017-07-12 20:00] Tyriar commented on #30325
@donghaoren could you open devtools (Help > Toggle developer tools) and inspect the element with the invisible text? I'm interested in the classes on their `<span>`s.

[2017-07-12 20:04] james2mid opened #30542 "'Change Keybinding' doesn't work everytime."
- VSCode Version: Code 1.14.0 (b8cd5b9556d8b70ea560d35b903422363f6c5c40, 2017-07-10T18:24:22.120Z)
- OS Version: Darwin x64 16.6.0

When hitting enter quickly after typing a keybinding, the keybinding is not always set.

[2017-07-12 20:07] lagbox commented on #30448
I am seeing the issue that this issue is pointing out and additionally what I mentioned.
First screenshot is the issue as described by the OP.
![screenshot from 2017-07-12 15-58-25](https://user-images.githubusercontent.com/3752215/28137622-faafbe26-671b-11e7-9e55-e676e43bf043.png)
Second screenshot is correct highlighting in regards to not having the `use` across multiple lines.
![screenshot from

[2017-07-12 20:11] AaronFriel commented on #30452
@Tyriar: is there a reason the insiders build & the repositories go out of sync when this happens?

[2017-07-12 20:12] donghaoren commented on #30325
I just upgraded to version 1.14.0 and those texts are visible now. For both version 1.13.1 (which had the issue) and 1.14.0, the class is `xterm-color-8`.

[2017-07-12 20:18] james2mid commented on #30542
Update: Actually only occurs when the action doesn't already have a keybinding attached to it. To make it work, you need to 'Reset Keybinding' and then change it.

[2017-07-12 20:19] mikehaas763 opened #30543 "Multiline parameter list for lambda/arrow function loses syntax highlighting"
- VSCode Version: 1.14.0
- OS Version: Sierra 10.12.5

Steps to Reproduce:

1. Write some typescript in a typescript file like
[code]

2. See that there's missing syntax highlighting
3. Screenshots given below

![image](https://user-images.githubusercontent.com/2096573/28138068-77320570-671d-11e7-80ce-fdfa26393d24.png)

![image](https://user-images.githubusercontent.com/2096573/28138130-b162bafa-6

[2017-07-12 20:21] lagbox commented on #30448
This is a better representation of the OP's issue (without the multiline, to not confuse the issues)
![screenshot from 2017-07-12 16-20-18](https://user-images.githubusercontent.com/3752215/28138252-188bd70c-671e-11e7-81c5-d3ec4dc19347.png)

[2017-07-12 20:22] mjbvz commented on #30543
This is a duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/481 which has been marked wontfix. See [this comment](https://github.com/Microsoft/TypeScript-TmLanguage/issues/481#issuecomment-311740997) for more details

[2017-07-12 20:22] #30543 closed

[2017-07-12 20:24] smlombardi commented on #30188
Ugh.  It's working again.  No idea why it just conks out sometimes.

After posting the bug earlier, I set Emmet usenew to false and used Code for a while like that.

Then after reading your post, I set it back to true and it works.  Not sure if there's something in that process that "kicked it" into working again.

[2017-07-12 20:27] mjbvz commented on #30534
This is by-design since you can throw any type in JS.

I've opened https://github.com/Microsoft/TypeScript/issues/17142 to track support for annotation the caught exception value's type using jsdocs

[2017-07-12 20:27] #30534 closed

[2017-07-12 20:27] giorgim opened #30544 "Format HTML file which contains JS/JSX"
After trying to format (Shift + Alt + F) HTML file which contains JS/JSX, this is the result I got:

![screenshot_1](https://user-images.githubusercontent.com/26545183/28138484-0194a788-6762-11e7-8e08-58a963963eb6.png)

What did I do wrong?
You can see it especially failed on formatting the JS class. Put all in one line etc.