[2018-11-01 09:12] #61768 closed

[2018-11-01 09:16] TeodorKolev commented on #61948
[Trace  - 11:16:09 AM] TypeScript Server: canceled request with sequence number 2604
[Trace  - 11:16:09 AM] TypeScript Server: canceled request with sequence number 2605
[Trace  - 11:16:10 AM] TypeScript Server: canceled request with sequence number 2606
[Trace  - 11:16:14 AM] TypeScript Server: canceled request with sequence number 2607
[Trace  - 11:16:17 AM] Response received: completionInfo (26

[2018-11-01 09:18] huyaweii commented on #62364
there is my launch.json:

{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
      "type": "node",
      "request": "launch",
      "name": "mobile-service",
      "program": "${workspaceFolder}/scripts/s

[2018-11-01 09:28] #58336 closed

[2018-11-01 09:39] sandy081 commented on #59926
@eamodio Is it possible for you to debug and figure out where the focus is being set? I can help you with providing some pointers.

[2018-11-01 09:39] Septh opened #62367 "Allow multiple activationEvents to be met before activating an extension"
Issue Type: <b>Feature Request</b>

**> Context**
I am thinking about refactoring my [wow-bundle](https://github.com/Septh/vscode-wow-bundle) extension.

In its current form, wow-bundle overwrites vscode's builtin Lua grammar with a WoW-specific one, which is far from ideal for people who need to edit Lua files that are not part of a World of Warcraft addon.

So one of my main concerns is activati

[2018-11-01 09:42] zivcaspi opened #62368 "Console opens unasked-for"
Issue Type: <b>Bug</b>

Should I start VSCode to edit a file and there being some totally-unrelated extension issues (such as an extension wanting to deploy some update perhaps?), the console opens up completely unasked-for. Not only am I presented by multiple toasters announcing stuff I don't care about (no dotnet cli on the path -- yes, but I'm editing a text file, so why would I care?), the con

[2018-11-01 09:42] zivcaspi commented on #62368
Issue Type: <b>Bug</b>

Should I start VSCode to edit a file and there being some totally-unrelated extension issues (such as an extension wanting to deploy some update perhaps?), the console opens up completely unasked-for. Not only am I presented by multiple toasters announcing stuff I don't care about (no dotnet cli on the path -- yes, but I'm editing a text file, so why would I care?), the con

[2018-11-01 09:42] sandy081 commented on #62154
@sbatten Can you check which extension is providing these errors?

[2018-11-01 09:43] pvanek commented on #62251
FYI: fixed downstream https://github.com/qorelanguage/qls/issues/2

[2018-11-01 09:43] #62251 closed

[2018-11-01 09:45] dbaeumer commented on #62241
@alexr00 can you please investigate. I think it might be a problem on how we pass this on to the terminal.

@omartin2010 which bash shell are you using ?

[2018-11-01 09:46] outmans opened #62369 "VS Code smart encoding to avoid "�"s and for a smoother workflow"
Whenever I open a file with accented letters (Ó (o-acute) for example), the encoding is set to **UTF-8** and the characters are displayed as "�", until I reopen the file with **ISO 8859-1**. And most of the time I just want to copy something pretty quick from the file but since it copies however text is displayed I end up wasting time in reopening. This is the biggest reason I find myself going ba

[2018-11-01 09:46] sandy081 commented on #62318
`items` is defined by `json` schema.

[2018-11-01 09:47] bbaassssiiee commented on #62130
The Git output only shows what happens using VSC. If I switch branches from a shell there is no new output. (don't worry about the line about no upstream)

[2018-11-01 09:47] weinand commented on #62364
What kind of script is "scripts/start"?
If you add a `"stopOnEntry": true"` to your launch config, do stop at the entry point of your program?

[2018-11-01 09:49] joaomoreno opened #62370 "Error hover semantic information should be rendered separate of error message"
From @octref in #62159

If we have access to semantic information we should render it much better. The message should come first. Then the source on a separate line, with a `Source:` label preceding it and in non-monospace font (since source should be a user-readable string like `CSS Lint`). Then, the code with the same style, but with monospace, since code is often a library/OS error code. Someth

[2018-11-01 09:49] sandy081 commented on #62298
@alexr00 Feel free to take it up or let me know if we can look into it together.

[2018-11-01 09:51] sandy081 commented on #60568
@joaomoreno Seems related to https://github.com/Microsoft/vscode/issues/58918 ?

[2018-11-01 09:55] joaomoreno commented on #62130
Even if you focus VS Code? Even after 10 seconds? Hm...

[2018-11-01 09:55] sandy081 commented on #62341
@mjbvz

- I cannot reproduce it, is it happening for some specific error?
- Do you see any errors in the console?

[2018-11-01 09:56] dotnetCarpenter commented on #62314
@JacobStewart64 Sounds like you're running out of file watchers, especially if you get  `ENOSPC`, which is #45295. Unfortunately, there is nothing you can do if you're using multi-root (#40898), but if not, you can set `"files.useExperimentalFileWatcher": false` and ignore the folders with a lot of files that you don't need to auto watch, with `"files.watcherExclude"`.

If your hardware got a lot

[2018-11-01 09:57] isidorn commented on #62368
About notifications file that against extensions please.
As for the console I do not know which console are you talking about? Can you post a screen shot? Are you actually debuging?

[2018-11-01 09:58] dotnetCarpenter commented on #40898
@woytowg, no it hasn't always been broken, but it has been broken for a very long time. From the top of my head, I would say 1 year.

[2018-11-01 09:59] sandy081 commented on #60718
I see your point, but not sure how the tree looks like in the case where an extension has packed extensions and also dependencies.

I also think that this cannot get implemented unless it is highly requested. If you are passionate about we are always happy to take a PR.

[2018-11-01 10:00] joaomoreno commented on #62246
/duplicate #60664

[2018-11-01 10:00] #62246 closed

[2018-11-01 10:01] joaomoreno commented on #62094
Please file this in the appropriate extension repository: csharp.

[2018-11-01 10:01] #62094 closed

[2018-11-01 10:02] joaomoreno commented on #62109
Focus one of the folders and press <kbd>Escape</kbd> to unselect it.

[2018-11-01 10:02] #62109 closed

[2018-11-01 10:03] zivcaspi commented on #62368
This one. I’m not debugging anything – just trying to write some docs 😊

[cid:image001.png@01D471DA.D45C6060]

From: Isidor Nikolic <notifications@github.com>
Sent: 1 November, 2018 11:59
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: Ziv Caspi <zivc@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/vscode] Console opens unasked-for (#62368)

About notifications file

[2018-11-01 10:04] huyaweii commented on #62364
my start.js:
[code]

when stopOnEntry is true,  it will stop at the entry point of my program.
@weinand

[2018-11-01 10:07] PEKTOP opened #62371 "Horizontal scroll for debug sidebar"
<img width="344" alt="image" src="https://user-images.githubusercontent.com/1898063/47845798-05370880-ddd7-11e8-831f-aed75ad89280.png">

[2018-11-01 10:09] chrmarti commented on #58918
Should we also remove the `await` here to avoid waiting for user input during activation: https://github.com/Microsoft/vscode/blob/4c963c08950f9c4b5623f4064f671967f13cd4ea/extensions/git/src/main.ts#L156

[2018-11-01 10:09] #62371 closed

[2018-11-01 10:11] isidorn commented on #62368
@zivcaspi you did not attach the image, please try again

[2018-11-01 10:12] joaomoreno commented on #60547
Fixed by https://github.com/Microsoft/vscode/pull/61448

[2018-11-01 10:12] #60547 closed

[2018-11-01 10:12] #61645 closed

[2018-11-01 10:13] davidnorthetal opened #62372 "ctrl+q can't be configured to not close vscode"
- VSCode Version: 1.27.2
- OS Version: ArchLinux x64

Steps to Reproduce:

1. unbind/change all Keybindings that involve <Ctrl+q>
2. open Tab: Preferences: Open User Settings
3. press <Ctrl+q>, vscode will exit

Does this issue occur when all extensions are disabled?: **yes**

[2018-11-01 10:16] sandy081 commented on #62159
@octref This is a feature and not a regression. Here is some context

Last milestone we started showing error codes in the problems view (https://github.com/Microsoft/vscode/issues/49215)

![image](https://user-images.githubusercontent.com/10746682/47845815-4ecb2780-ddc6-11e8-9b31-652a7dc69a34.png)

Some extensions like `tslint` were already showing error codes in the message (since they were not

[2018-11-01 10:20] weinand commented on #62364
and if you then set a breakpoint a few lines down from the entry point of my program and press "continue" do you hit that breakpoint?

[2018-11-01 10:23] sandy081 opened #62373 "Remove error codes from message, source or from other properties"
@Microsoft/vscode: Those who are owning built-in extensions and are contributing diagnostics, please remove the error codes from the message or source or other properties, since we now also render error codes.

https://github.com/Microsoft/vscode/issues/49215, https://github.com/Microsoft/vscode/issues/60749

[2018-11-01 10:37] isidorn commented on #62346
I still can not reproduce this
@eamodio @roblourens can you please do some debugging on your end: put a breakpoint [here](https://github.com/Microsoft/vscode/blob/f1736d3c892a6b035f741a737ffac4bac8fb2740/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L621) and figure out if it is nicely being called once you click on stop. If yes check if the sessions array contains the session and

[2018-11-01 10:49] gjsjohnmurray opened #62374 "Debug Restart option requires a manual focus shift"
Issue Type: <b>Bug</b>

1. Set up the vscode-mock-debug sample and run it.
2. Begin stepping through readme.md example "code" using Step Over button on debug toolbar.
3. After a step or two, click the Restart button on that toolbar.
4. The debug toolbar disappears. It is necessary to change focus (e.g. click onto body of the open readme.md file, or onto a different application) in order to make de

[2018-11-01 10:55] akaroml opened #62375 "Add API that allows webviews to open in background"
## Symptom
I'm using the `createWebviewPanel()` API to present a web view. I want the new web view to **NOT** take the focus by setting the `preserveFocus` option to `true`.
The documentation stated this:

VS Code does not seem to respect the option and presents the new webview in the front.

Here's the actual `showOptions` I'm using:
[code]

## Expected Behavior
VS Code conforms to the contract a

[2018-11-01 10:59] WaleedAshraf commented on #61831
Got it. Will open new PR by this weekend. 👍

[2018-11-01 11:06] aeschli commented on #62146
FYI @xxyy... We tested your PR in this weeks test pass. Of course, fixes are welcome, as always. I'm out the coming month, but @octref can help getting them pushed.

[2018-11-01 11:06] aeschli commented on #62147
FYI @xxyy... We tested your PR in this weeks test pass. Of course, fixes are welcome, as always. I'm out the coming month, but @octref can help getting them pushed.

[2018-11-01 11:06] aeschli commented on #62148
FYI @xxyy... We tested your PR in this weeks test pass. Of course, fixes are welcome, as always. I'm out the coming month, but @octref can help getting them pushed.

[2018-11-01 11:07] aeschli commented on #62149
FYI @xxyy...

[2018-11-01 11:09] isidorn opened #62376 "Extensions view does not show progress while queriying for extensions"
1. Open extensions view, type something
2. Notice that the progress is not being shown
3. I would expect a blue progress on top of viewlet as we do in all other viewlets, especially since this query on the gallery can be long running

[2018-11-01 11:12] #61730 closed

[2018-11-01 11:12] #61782 closed

[2018-11-01 11:15] Globegitter opened #62377 "[json] IntelliSense doesn't work for scoped packages in package.json"
- VSCode Version: 1.28.2
- OS Version: elementary OS 5.0 Juno (Ubuntu 18.04)

Steps to Reproduce:

1. Add a package.json file
2.  within `{ "dependencies: { }}` try to add any npm dependency starting with `@`, such as `@babel/core`.

I expected to see autocomplete in the same way as for non-scoped packages like when typing `babel-` and it suggests me the unscoped babel packages.

Does this issue o

[2018-11-01 11:16] aeschli commented on #62318
See here for more information on JSON schemas: https://json-schema.org/understanding-json-schema/
arrays are documented here: https://json-schema.org/understanding-json-schema/reference/array.html

[2018-11-01 11:16] #62318 closed

[2018-11-01 11:17] aeschli commented on #62100
Please file this against the Powershell extension that you use...
Maybe this one? https://github.com/PowerShell/vscode-powershell

[2018-11-01 11:18] ahtcx opened #62378 "Allow diff between current open file's changes and the saved original"
Sometimes I forget what changes I've done between saves and that would be a useful feature.

[2018-11-01 11:33] yyynnn commented on #58839
add args `"--login", "-i"`
https://stackoverflow.com/questions/50326422/vscode-terminal-windows-git-bash-aliases-getting-ignored

[2018-11-01 11:41] zivcaspi commented on #62368
<img width="184" alt="a" src="https://user-images.githubusercontent.com/3773221/47849859-c6578180-dddb-11e8-85b0-64e472d837f8.png">

[2018-11-01 11:50] isidorn commented on #62368
Some extension seesm to be openeing the problems panel, but forwarding to @sandy081 as he might know more

[2018-11-01 11:54] joshunger opened #62380 "Auto import names should not include Mjs for mjs files"
Issue Type: <b>Bug</b>

1. Create `commands/sbdc.mjs`
2. Create `index.mjs`
3. Open `index.mjs` and type `await sbdc`

Actual:
![image](https://user-images.githubusercontent.com/2301847/47850323-72787880-dd9a-11e8-9ea3-c9da43c4a245.png)

Expecting: Visual Studio recommends `sbdc`

VS Code version: Code - Insiders 1.29.0-insider (4b2fac2b6da220f62ff58b2766e4ecc1f561be94, 2018-10-30T16:46:24.907Z)
O

[2018-11-01 11:54] joshunger commented on #62380
Will this be fixed under https://github.com/Microsoft/TypeScript/issues/18442 ?

[2018-11-01 11:59] richardscholten73 commented on #62271
By this i mean that when i push my commits with visual studio code by pressing the up down arrows on the lower left of the screen. This is directly right from the current branch name. If there is nothing to sync the button does not show up or down arrows but a "recycle" icon.

When i do a regular "git push" with git in a console/command window, it works as expected (the new branch is created at th

[2018-11-01 12:02] joshunger opened #62381 "Go to Definition does not work for mjs files"
Issue Type: <b>Bug</b>

Go to Definition (⌘+Click) does not work for mjs files.

VS Code version: Code - Insiders 1.29.0-insider (4b2fac2b6da220f62ff58b2766e4ecc1f561be94, 2018-10-30T16:46:24.907Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7267U CPU @ 3.10GHz (4 x 3100)|
|GPU Status|2d_canvas: enabled<br>checker_imagi

[2018-11-01 12:08] EnricoAlbertini opened #62382 "make easier to integrate external portable software(ex. portable Git or clang) in order make vscode a fully portable modular IDE"

[2018-11-01 12:21] #62180 closed

[2018-11-01 12:28] REQJ commented on #62075
Mhhh, the .gitignore file changed the content alone… I've restaured the old content and it's work, but why this content have changed alone .. ? Thanks joaomoreno

[2018-11-01 12:29] DonGlover commented on #62300
Your question is not clear in the context of the repo steps I provided above. What is it that you are actually truing to ask?

[2018-11-01 12:37] vikyd commented on #62109
Yes! It works!

But after focus one of the folders, you should press <kbd>Escape</kbd> `2 times` to unselect it.

[2018-11-01 12:39] alexr00 commented on #62241
Yes, I will look into this.

[2018-11-01 12:52] Anti-Li opened #62383 "The 'Convert to ES6 Module' in the TS language support has an aftereffect."
Issue Type: <b>Bug</b>

I chose the IntelliSense 'Convert to ES6 Module' at the import statement, then I generated it, but failed. If I don't convert, it runs fine. I think the convert of IntelliSense should be equivalent, at least the result should not cause a error.

[code]

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x

[2018-11-01 13:16] bin-zhao commented on #62116
Yes.

[2018-11-01 13:19] skqr commented on #60856
I was going to mention how the change to non-multiple line broke find next, but @antcodd beat me to it.

Searching within the line you're looking at is completely pointless. The edge case would be a really really long line, and being an edge case, users can enable "within selection" themselves.

[2018-11-01 13:20] graph commented on #61759
[code]

that's on my linux machine.

[2018-11-01 13:21] zeh commented on #22068
For reference, this now seems to be possible with the new [webview API](https://code.visualstudio.com/docs/extensions/webview). A [sample extension](https://github.com/Microsoft/vscode-extension-samples/tree/master/webview-sample) already exists.

So I believe this ticket can be closed as this functionality is now available. cc @jrieken @egamma

[2018-11-01 13:27] Jared-Ervin opened #62384 "Ability to execute python code in ipython console"
Currently you can change the path to python to point to ipython, but this breaks many other extensions. It would be great to have a "send to ipython" command so users could make use of the many features ipython has over the traditional python console without losing the ability to format and lint code.

[2018-11-01 13:28] bbaassssiiee commented on #62130
[vsc.mov.zip](https://github.com/Microsoft/vscode/files/2538664/vsc.mov.zip)

[2018-11-01 13:32] xxyy commented on #62149
Looks like I misinterpreted what kind of messages I'd get from the backend, sorry for that! We could resort to showing a generic message like 'Unable to resolve JSON schema from (url)', which would probably be sufficient for most issues. I also considered logging the error to console (don't know your policy on that), but if we get whole pages in the error message, that's not an option.

Displaying

[2018-11-01 13:33] sandy081 opened #62385 "Warning is shown after automatically navigating from last merge conflict"
Testing #45853

- Enable `merge-conflict.autoNavigateNextConflict.enabled`
- After merging the last conflict following warning is shown

![image](https://user-images.githubusercontent.com/10746682/47854824-12f28b00-dde3-11e8-9f1b-bbb3b83e29f1.png)

If auto navigation is enabled then I do not think this warning is needed

[2018-11-01 13:41] weinand commented on #62346
@isidorn I can reproduce the problem reliably.
Starting to debug issue...

[2018-11-01 13:42] eamodio commented on #59926
Yeah will try. I did try writing a sample that was closer to what GitLens does but I can reproduce it so far. But still 100% of the time with GitLens.

[2018-11-01 13:45] thomassen88 commented on #61586
Sorry for the late reply. I have upgraded to 1.28.2. As Don Glover says, it still happens. Now it only occure sometimes, not everytime as before. Its very random and i cant put my finger on why it happens or if it happens when i open certain files or projects, its just so damn random :p Its not a big problem, but its kind of annoying.

[2018-11-01 13:49] ralphchristianeclipse opened #62386 "Intellisense Filter Tabs just like on Visual Studio"
Is there a way to have the same idea for the tab features for intellisense where you filter it by methods, properties etc.

[2018-11-01 13:49] sandy081 commented on #59400
Marking this as verified that gear icon is also visible when hovering on title. But I would also prefer to open the context menu when I right click on the title. This behaviour is also there in extensions view.

@roblourens If you agree I will file a new issue for that.

[2018-11-01 13:57] JiuShiNewBee commented on #61892
Same problem with me, I have to copy and paste manually.

[2018-11-01 14:01] #58918 closed

[2018-11-01 14:04] weinand commented on #62346
The issue is (again) a missing call to `this.endInitializingState();`
I've debugged the whole flow after clicking the red stop button and everything looks correct.
At the end an `didEndAdapter` event is fired and we end up in https://github.com/Microsoft/vscode/blob/b31b07741b0947d03c5333c136402253d2ba1e6f/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L510

But at the end of the ha

[2018-11-01 14:05] sandy081 commented on #62341
I can reproduce it now. This looks to me a dup of https://github.com/Microsoft/vscode/issues/62216

[2018-11-01 14:05] #62341 closed

[2018-11-01 14:05] omartin2010 commented on #62241
@alexr00 , so I said I'm running 16.04, I made a mistake. I'm running 18.04. Just reinstalled ubuntu on my machine for some reason, not realizing a new install would give me that new version.

[2018-11-01 14:08] dwelle commented on #62320
@joaomoreno sometimes happens to me, too (windows 7), but even when not, the sash is too narrow for my liking.

WTBS, couldn't vscode do something like chrome devtools?

![image](https://user-images.githubusercontent.com/5153846/47856338-3ddede00-dde7-11e8-9b31-26c17745e58f.png)

(the area highlighted in yellow can be dragged to resize → i.e. if there's no button, the whole header acts as a handle

[2018-11-01 14:09] chrmarti commented on #35225
Still works:
[code]

VS Code version: Code - Insiders 1.29.0-insider (d7ac6e838f51a03f7d417b4758f5fb075878d615, 2018-11-01T06:11:43.390Z)
OS version: Darwin x64 17.7.0

[2018-11-01 14:13] joaomoreno opened #62387 "Splitview views should use width and height values instead of just size"
Related to:

- https://github.com/Microsoft/vscode/issues/61450
- https://github.com/Microsoft/vscode/issues/60018

[2018-11-01 14:14] joaomoreno commented on #60018
Had to revert https://github.com/Microsoft/vscode/commit/febf978c2834da84531dfc3759988845c15ef758 due to https://github.com/Microsoft/vscode/issues/61450

We need to improve this and use a width/height combination and cache on those individually. Created https://github.com/Microsoft/vscode/issues/62387

[2018-11-01 14:15] #61450 closed

[2018-11-01 14:22] sandy081 commented on #62341
After investigating figured out that this is not a dup.

[2018-11-01 14:22] Sell24 commented on #61328
I followed your instructions before and it works fine for what I need. So I appreciate the time to answer and to fix.

[2018-11-01 14:23] #62168 closed

[2018-11-01 14:30] gordingin commented on #61872
can this be REOPENED. This have nothing to do with SVN. I am trying to save ALL my edited files with ALT+F and ATL+S.

[2018-11-01 14:31] zimmelbc opened #62388 "Debugger ignores changes in breakpoints"
Issue Type: <b>Bug</b>

Running VS Code v1.28.2 executing a React application and debugging Node.js v8.9.3 on Chrome v61.0.3163.100. I set breakpoints and the debugger stops as expected. If I then add/edit/remove breakpoints, the debugger ignores any changes. Stopping and starting the debugger then detects the new breakpoints.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850

[2018-11-01 14:32] chrmarti commented on #59469
The error is gone, marking verified.

[2018-11-01 14:39] sandy081 commented on #59926
That's awesome if you can reproduce. Please check what reveal options are being sent here

https://github.com/Microsoft/vscode/blob/03f7c83b237ceb2ea8fd5eac90c21bd3b2512ceb/src/vs/workbench/api/node/extHostTreeViews.ts#L225

[2018-11-01 14:41] joaomoreno commented on #61811
This is pretty weird. I can't reproduce:

[code]

But I also didn't fix anything.

The code looks good, as there is a semicolon in there: https://github.com/Microsoft/vscode/blob/03f7c83b237ceb2ea8fd5eac90c21bd3b2512ceb/resources/linux/code-url-handler.desktop#L12

When I download that exact same deb,  and extract it, I verify that the semicolon is there. :thinking:

Let me know if you still hit i

[2018-11-01 14:41] #61811 closed

[2018-11-01 14:42] sandy081 commented on #62368
@zivcaspi Can you please try disabling all extensions and see if the problems panel is getting opened?

If not, please try to disable each extension and find out which extension is doing this and file an issue against it.

[2018-11-01 14:44] YisraelV commented on #62112
It seems I'm going to have a lot of code reading and understanding for this one. Not sure how much time it's going to take so if anyone wants to take this don't wait because of me.

[2018-11-01 14:45] egamma opened #62389 "Testing: hello code"
Testing #62107

## Overview:
The documentation introduce the term 'static language support' and 'dynamic language support', this is misleading terminology. Both language features are dynamic. For our existing extensions we use the terms: Basic and 'Language Features'.
![image](https://user-images.githubusercontent.com/172399/47858408-4c7bc400-ddec-11e8-9ea8-bc3305b2e768.png)
We should follow the t

[2018-11-01 14:49] gjsjohnmurray commented on #62374
Try setting EMBED_DEBUG_ADAPTER = true and then launching the Extension debug config of vscode-mock-debug per the instructions at https://code.visualstudio.com/docs/extensions/example-debuggers#_alternative-approach-to-develop-a-debug-extension

When I flip EMBED_DEBUG_ADAPTER to false I no longer get the problem.

[2018-11-01 14:52] isidorn opened #62390 "Remove initialising state from service"
Intiialising state should not leave on the service, but on the session instead.
Since we are now adding sessions to the model as soon as they are created this should be possible.

The upside of this is that we will no longer need to manage this from the debugService

[2018-11-01 14:53] isidorn commented on #62346
@weinand yeah calling this.endInitializingState() at the end of that handler makes sense. I will push a fix like that later today.

For debt week I have created this item
https://github.com/Microsoft/vscode/issues/62390

[2018-11-01 14:57] TheColorRed opened #62391 "Show panel buttons on headers when split views are collapsed"
In the `Open Editors` section, when collapsed the `Save All`, `Close All` buttons get hidden.
In the `Files` section, when collapsed the `New File`, `New Folder`, etc buttons get hidden.

It would be nice if these buttons were still usable when the section is collapsed.

[2018-11-01 14:58] #61534 closed

[2018-11-01 15:00] #60986 closed

[2018-11-01 15:03] chrmarti commented on #51496
Not working as described as expected behavior above:
- "From the search box arrow keys can be used": Up/down arrow keys don't do anything when in the search box.
- "Enter/Space on any list item should open the extensions editor": Space doesn't open the editor.
- "If I’m on the last actionable item and hit tab, I would expect to go to the beginning of the actionable items.": It goes to the next sec

[2018-11-01 15:07] #18673 closed

[2018-11-01 15:09] charpeni commented on #49215
Starting from `vscode-eslint@1.28`, the easiest way to get eslint's rule id is to open the Problems window.

![image](https://user-images.githubusercontent.com/7189823/47860228-74583100-ddc6-11e8-9296-1a4f6f3845dc.png)

cc @cdeutsch @drKnoxy

[2018-11-01 15:10] #60037 closed

[2018-11-01 15:21] gordingin commented on #61872
I can confirm this does work in version in version 1.24.0 but 1.28.2 is doesn't.

[2018-11-01 15:41] amkr2525 commented on #62250
which vesion vs code are you using?

[2018-11-01 15:48] octref commented on #62318
Oh well, for some reason I tried `"item": "{ \"type\": \"string\" }"`, but not `"item": { "type": "string" }`...

[2018-11-01 15:50] amkr2525 commented on #62250
Still my problem is not solved.And you are saying this is duplicate but how? Initially it had worked properly but now it did not may be any setting problem may occur because in my laptop this problem occur but  my friend it doesn't.

[2018-11-01 15:51] amkr2525 commented on #62250
but how?

[2018-11-01 15:55] amkr2525 commented on #62250
If you know the solution then please tell me but don't say any irrelevant thing.

If you know the solution then please tell me but don't say any irrelevant thing.

[2018-11-01 15:57] sbatten commented on #61872
@gordingin The issue you are experiencing is keybindings conflicting with mnemonics which is the same issue as #61038 … The issue has been fixed in insiders but has not yet been released in stable.

[2018-11-01 16:01] DungVA1 opened #62392 "Can't "clear" in gitbash"
- Integrate gitbash instead cmd
- type 'clear'

NOT clear all text

[2018-11-01 16:04] octref commented on #62159
I enjoy things lined up in the left, so I hope you can consider @joaomoreno's idea in #62370. I can also just not return `code` for lint diagnostics, since it's covered in the `source`.

![image](https://user-images.githubusercontent.com/4033249/47863321-410ca680-ddb4-11e8-8b5f-ef2b3d53646b.png)

My problem is: As someone who's writing a LSP, there is no place I can find information & track breaki

[2018-11-01 16:12] #61774 closed

[2018-11-01 16:14] yoisel commented on #56517
I use vscode on xubuntu 18.04 over remote desktop (xrdp). In my case it is also unusable.

[2018-11-01 16:14] roblourens commented on #59400
I'm not a big fan but it's been suggested a few times so sure, it's worth filing a new issue to discuss it.

[2018-11-01 16:15] joaomoreno commented on #60664
This seems to be caused by calling `app.setAsDefaultProtocolClient` here: https://github.com/Microsoft/vscode/blob/b7eb0f4040f4eaf72275d512c3ce431103f6e3cf/src/vs/platform/url/electron-main/electronUrlListener.ts#L45

We don't really need this call in macOS or Linux, so now we just run it for Windows.

[2018-11-01 16:16] SuperManEver opened #62393 "Why currently I'm able to open only one file per window?"
With the latest update of VSCode I'm only able to open only one file per window? Why is that? it's not convenient at all

[2018-11-01 16:18] roblourens commented on #62382
I'm not sure what you're asking for, please be more specific

[2018-11-01 16:27] adam-beck opened #62394 "VSCode will not start/debug Forked Processes in VMWare"
- VSCode Versions:
  - 1.28.2
  - 1.29.0-insider
- Host OS: Windows 10 Pro
- Guest OS: Ubuntu 18.04
- Node.js Version:
  - 8.12.x
  - 10.13.0
- Virtualization Software:
   - VMWare Workstation 14.1.3 build-9474260
   - VMWare Workstation 15.0.1 build-10737736

Steps to Reproduce:

1. Create file that creates a cluser of workers. See https://nodejs.org/api/cluster.html#cluster_cluster

[code]
2. Cr

[2018-11-01 16:31] sbatten opened #62395 "Duplicate entries in quick open"
- VSCode Version: 1.29-insiders
- OS Version: Windows 10

Not sure what gets you into the state but, I now have duplicate entries in the quick pick recent files list.

![image](https://user-images.githubusercontent.com/6561887/47865221-dc077f80-ddb8-11e8-9a9f-d9d51f6fe59c.png)

Does this issue occur when all extensions are disabled?: Yes/No

[2018-11-01 16:33] #60664 closed

[2018-11-01 16:33] #62216 closed

[2018-11-01 16:42] octref commented on #62149
That's fine. Users don't really see logs.

[2018-11-01 16:42] #62147 closed

[2018-11-01 16:42] octref commented on #62147
Let's track this in #62149.

[2018-11-01 16:46] tzsk commented on #6328
Is this too hard to do? About 2 Million Java Community members need this feature ASAP. PLEASE....!!!

[2018-11-01 16:56] lukepighetti opened #62396 "Allow scripts in *.code-workspace"
Hello! I use workspaces to handle monorepos. Works great. We put our build scripts at the repo root and they reach into each folder as needed. I would like to be able to put a script at the top level so we can trigger these scripts from the command palette. In searching for a solution it seems that the scripts need to be placed in `%WORKSPACE_ROOT%/%WORKSPACE_FOLDER%/.vscode/config.json` which mea

[2018-11-01 16:59] #61154 closed

[2018-11-01 17:12] RMacfarlane opened #62397 "Can't drag VSCode window after opening dev tools"
Issue Type: <b>Bug</b>

1. Make sure titlebar is set to "custom"
2. Toggle developer tools
3. Try to use the titlebar to drag VSCode, no response

![nodrag](https://user-images.githubusercontent.com/3672607/47867372-8b932080-ddbe-11e8-8908-2cf22b8ebab5.gif)

VS Code version: Code - Insiders 1.29.0-insider (d7ac6e838f51a03f7d417b4758f5fb075878d615, 2018-11-01T06:11:43.390Z)
OS version: Darwin x64 1

[2018-11-01 17:20] jeremychone commented on #62354
@roblourens Yes, I just tested the insiders build and it was fixed on my simplified repo I made in the comment referenced. In the next couple of days I will test it on our full (with .map / .ts files) and report if I see any issue.

Thank you so much for your responsiveness. It might seem to be a corner case which is why people did not notice that much, but we have a Kubernetes centric development

[2018-11-01 17:22] kirit0s opened #62398 "Shortcut open menu bar and conflict with shortcut command (only with title bar style: custom)"
- VSCode Version: 1.28.2 (user setup), also 1.29.0-insider (user setup) with zero extension
- OS Version: Windows 10 x64 1803

Steps to Reproduce: press `shift + alt + t`.
Actual: open menu bar.
Expecting: don't open menu bar (as it was in native title bar style).

Does this issue occur when all extensions are disabled?: Yes

For example: I have custom keyboard shortcut `shift+alt+r shift+alt+t` (

[2018-11-01 17:32] kieferrm commented on #62249
/duplicate of #10121

[2018-11-01 17:32] #62249 closed

[2018-11-01 17:33] misolori commented on #54838
So this appears to add support for dark mode on Mojave. But now this adds a dark line for our light themes (bug?):

![image](https://user-images.githubusercontent.com/35271042/47868041-77502300-ddc0-11e8-8b35-54ff6fc60f69.png)

[2018-11-01 17:33] #62397 closed

[2018-11-01 17:33] roblourens opened #62399 "Parameter suggest popup has extra empty space"
[code]

Trigger the parameter helper window, see empty space where doc comment would go:

![image](https://user-images.githubusercontent.com/323878/47868498-88e5fa80-ddc1-11e8-935e-29a8be211ce3.png)

[2018-11-01 17:35] busticated opened #62400 "`workbench.action.showCommands` command should accept a filter term..."
hi there :wave:

i have an extension with a number of commands. i've created a welcome screen to try and help onboard my users that behaves similarly to VSCode's main welcome screen. on my welcome screen i have a link to "show available commands" which when clicked ultimately runs `executeCommand('workbench.action.showCommands')`

it would be great if there was a way to filter the command palette

[2018-11-01 17:36] busticated commented on #62400
perhaps some overlap with 👉 https://github.com/Microsoft/vscode/issues/38841

[2018-11-01 17:39] sbatten commented on #62154
@sandy081 I was using my own test extension locally

[2018-11-01 17:47] sbatten commented on #61109
duplicate of  #35225

[2018-11-01 17:47] #61109 closed

[2018-11-01 17:47] roblourens opened #62402 ""Update imports" prompt is slow to appear"
- Open vscode workspace
- In file explorer, move `src/vs/platform/search/common/replace.ts` from 'common' to the sibling 'test'
- Wait 5s or more
- "Would you like to update imports?" prompt finally appears

[2018-11-01 17:48] busticated opened #62403 "Command Palette should steal focus from active webview..."
hey there :wave:

i ran into a weird one. i have an extension which presents a webview with a number of html button elements. when these buttons are clicked, they often run a command via `executeCommand` which in turn prompts the user via `showInputBox`.

when a user clicks, the button is focused, command is run, and the input box is shown prompting the user to enter some info. they enter text and

[2018-11-01 17:49] roblourens commented on #62402
- Move it a second time before the prompt appears
- The prompt appears once
- Click "no"
- The prompt appears again immediately

[2018-11-01 17:54] RMacfarlane commented on #59523
I'm still able to reproduce this issue on this version:

Version: 1.29.0-insider (user setup)
Commit: d7ac6e838f51a03f7d417b4758f5fb075878d615
Date: 2018-11-01T06:20:59.729Z

[2018-11-01 17:56] octref commented on #62373
This came in CSS because of https://github.com/Microsoft/vscode/issues/56925.

`css.lint.someRule` in the beginning does make more sense to me than in the end.

![](https://user-images.githubusercontent.com/4033249/47863321-410ca680-ddb4-11e8-8b5f-ef2b3d53646b.png)

With this I can easily see which linting rule is triggering the error.

[2018-11-01 17:56] sbatten commented on #60543
@usernamehw what theme is shown here? If I create a new theme without a menu background color specified, the default is not transparent.

[2018-11-01 18:01] roblourens opened #62404 "Task "clear" doesn't work for "npm" task"
From #30058

I don't know whether this is supposed to work. I modified the build task from https://github.com/Microsoft/vscode-chrome-debug-core/blob/master/.vscode/tasks.json to clear the terminal before building, and to be a build task instead of watching. So it looks like this:

[code]

- I run `task my build task`
- I run it a second time
- It doesn't clear the terminal, the output from the fi

[2018-11-01 18:02] AJB99 commented on #519
Why are there hardcoded size values at all?

I'm so sick of listening to trillion-dollar global corporations whine about how difficult it is to do simple things. Microsoft doesn't have junior devs anymore?

Currently, it is not in my plans to use VSCode until it offers the simple, simple feature of being able to read my goddamned file tree. Not sure if I'll bother to consider it in the future.

[2018-11-01 18:07] kieferrm commented on #62396
It seems to me that the proper layout in your case would be to move the scripts you have at the root into a dedicated scripts folder and to make that scripts folder part of your workspaces. This way, tasks, etc. can pick up the scripts as expected.

[2018-11-01 18:07] #62396 closed

[2018-11-01 18:09] kieferrm commented on #62393
@SuperManEver can you please provide the exact way you open files? What platform are you on? On what version of VS Code? Thanks!

[2018-11-01 18:09] kieferrm commented on #62393
/needsMoreInfo

[2018-11-01 18:10] roblourens commented on #60204
Awesome, I have wanted this

[2018-11-01 18:13] 435vic commented on #61623
Actually, *all* of the dependencies in `resources/app/node_modules.asar.unpacked` are 64 bit, maybe we are missing a flag or something?

[2018-11-01 18:21] kieferrm commented on #62378
/duplicate of #26339

[2018-11-01 18:21] #62378 closed

[2018-11-01 18:22] pieandcakes commented on #62085
It works again.

Build:
Visual Studio Code - Insiders
Version: 1.29.0-insider (user setup)
Commit: d7ac6e838f51a03f7d417b4758f5fb075878d615
Date: 2018-11-01T06:20:59.729Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-11-01 18:29] roblourens commented on #61776
@RMacfarlane

Maybe those are processes stuck around from an old instance of vscode that didn't shut down cleanly?

[2018-11-01 18:31] sbatten commented on #62398
duplicate of https://github.com/Microsoft/vscode/issues/61644

[2018-11-01 18:31] #62398 closed

[2018-11-01 18:36] kieferrm commented on #62403
The QuickPick should be able to request focus when being opened via command execution.

[2018-11-01 18:37] shew82 commented on #62320
In the video I attached, this actually happens between the 5 and 10 second mark - the pane is resized while the cursor remains an arrow.

[2018-11-01 18:44] dominikzogg commented on #61776
@roblourens same problem on 3 different notebooks, with the same project

[2018-11-01 18:44] kieferrm commented on #62372
<kbd>Ctrl</kbd>+<kbd>Q</kbd> on ArchLinux works system wide and is consumed by the window manager. You need to unbind it there. See https://bbs.archlinux.org/viewtopic.php?id=78712.

[2018-11-01 18:50] SuperManEver commented on #62393
@kieferrm I open files in a usual manner just by click file a project explorer on the left.
Version: 1.28.2
Commit: 7f3ce96ff4729c91352ae6def877e59c561f4850
Date: 2018-10-17T00:20:56.183Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64
I use Ubuntu 18.04

[2018-11-01 18:50] octref commented on #62205
@sandy081 Can you document behavior when the passed number is >3, <0, or 0?

[2018-11-01 18:53] ramya-rao-a commented on #51496
Verification Steps:

- From the search box, Ctrl+down-arrow (Cmd+down-arrow in Mac) to step into the list just like the Search Viewlet. From there on up and down arrow to traverse the list
- From the search box, tabbing shouldnt go over list items or the actionable items in the list items
- When Focus is on any item, Enter opens extension editor
- When Focus is on any item, tab moves focus to the

[2018-11-01 18:59] mjbvz commented on #62383
What error do it cause?

[2018-11-01 19:05] octref commented on #62325
Note to self: Use "deprecationMessage" to mark deprecated, then remove in Dec.

[2018-11-01 19:06] lehoanganh298 commented on #35480
I did what you said but it doesn't work, git status not show untracked files but vscode still show and count a bunch of untracked files.

[2018-11-01 19:11] lukepighetti commented on #62396
Thanks for letting me know and I believe closing this issue is reasonable. Cheers.

[2018-11-01 19:15] octref opened #62405 "Reinstall Language Pack shows neither Restart button nor Info Message"
While verifying #60834:

- Install Japanese Language Pack
- VS Code shows "Restart" Info message
- Restart
- Uninstall Japanese Language Pack
- There is only one button: Install. There is nothing that prompts me to switch back to the default display language English, or anything that prompts me to restart.

Hope when a Lang Pack is uninstalled and the display language is configured to use it, a me

[2018-11-01 19:16] octref commented on #60960
@mjbvz Need steps for verifying, and not sure why it's marked as Webview.

[2018-11-01 19:28] aperomsik commented on #35480
Sorry @lehoanganh298 -- I did not mean to imply that it _does_ work that way, only to suggest that it _should be fixed_ to work that way.

[2018-11-01 19:43] headmelted commented on #61623
Just for the sake of completeness, it might be worth also setting
npm_config_target_arch (depending on how your setting up your environment).

On Thu, Nov 1, 2018, 18:35 Victor Javier <notifications@github.com> wrote:

[2018-11-01 19:44] octref commented on #61215
![image](https://user-images.githubusercontent.com/4033249/47875475-e2efbb80-ddd3-11e8-81fd-dec4653eb4ce.png)

[2018-11-01 19:51] octref opened #62406 "Cannot run `code-insiders --prof-startup`"
I'm on d7ac6e838f51a03f7d417b4758f5fb075878d615.

Running the command generates a file `~/prof-0031` and the below error messages.

[code]

[2018-11-01 19:54] octref commented on #59505
Opened #62406 while testing this. @misolori can successfully run the command, though.

[2018-11-01 19:54] breyed opened #62407 ""overwrite" mentioned where "override" was meant"
In Azure Data Studio user settings, the text on top says "Place your settings here to overwrite the Default Settings." That should be "override", not "overwrite". If I overwrote the default settings, they would be gone and I couldn't fall back to them.

Azure Data Studio version: azuredatastudio 1.1.4 (5d6390505643df3edd6f734c80082006efbeff5e, 2018-10-29T20:34:47.838Z)
OS version: Windows_NT x64 1

[2018-11-01 19:58] isidorn commented on #62085
Thanks for letting us know, adding verified label

[2018-11-01 19:58] usernamehw commented on #60543
Well, it defaults to dropdown background - and it **can** be transparent:
[code]

You can try using `"dropdown.background": "#ff000020",` on `Solarized Light` theme.

[2018-11-01 19:59] octref commented on #62406
Here's what I did:

- Ran `code-insiders --prof-startup` when Insider is open
- Saw error message
- Completely shut down Insiders
- Ran the command again. Still the error message.

Also, instead of just showing the errors, can we also show a suggestion such as:
[code]

[2018-11-01 20:05] TheETK opened #62408 "The extentions"
I have recently gotten visual studio code and I was following a tutorial and then he added an extension that I needed to as well, did I do something wrong or is it the software because I have an internet connection that is stable, but the program is still unable to connect
![screen shot 2018-11-02 at 7 00 58 am](https://user-images.githubusercontent.com/44683175/47876345-2ea27380-de6d-11e8-8ddc-0b

[2018-11-01 20:07] weinand commented on #62394
You have tow launch configs. Which one are you using?
What version of node.js are you using?

[2018-11-01 20:12] labregowski commented on #13680
@whatsyourgithub, sorry to disturb again. I am trying to help my colleague and he is not succeeding  (doing as you suggested above works for me but not for him). These are the symptoms:
He is able to perform a git fetch from the PS console but when he pushes ot syncs using gitacora (the plugin to automatically sync that also I use without any issues) he gets following error message:
`Permission de

[2018-11-01 20:12] egamma commented on #62265
I can no longer reproduce it, closing.

[2018-11-01 20:12] #62265 closed

[2018-11-01 20:19] cfreundlich commented on #39492
@omri374 is there any status on a PyCharm-like explorer window for pandas?  Would be great to have a colorful and scrollable DataFrame object.

[2018-11-01 20:27] elprans opened #62409 "Search improperly matches files inside .git"
- VSCode Version: 1.29.0-insider (4a29bd3731e40c07622bae0e9b0ac3b422b5672a)
- OS Version: Gentoo x64

Steps to Reproduce:

1. Enable git rerere `git config rerere.enabled true`
2. Deal with a merge conflict, git records `preimage`/`postimage` for the merge conflict files.
3. In VSCode, perform a search, and you'll get results from `.git/rr-cache` even though `.git` should be completely ignored:

!

[2018-11-01 20:34] #62384 closed

[2018-11-01 20:35] adam-beck commented on #62394
I'll update my question but here is the information

I'm using the `"name": "Cluster"` launch configuration.
I'm using Node.js version `10.13.0`

[2018-11-01 20:35] roblourens commented on #62388
Can you set `"trace": true`, run it again reproing the issue, and upload the log here?

[2018-11-01 20:35] isidorn commented on #62391
This is true for all split views. And I personally prefer it the way it is now.
Since it is a feature request against split views forwarding to @sandy081

[2018-11-01 20:38] kieferrm commented on #62369
/duplicate of #36230

[2018-11-01 20:38] #62369 closed

[2018-11-01 20:38] roblourens commented on #62395
Now I remember, this issue: https://github.com/Microsoft/vscode/issues/61805

You can clear history to get rid of them, then should be ok.

[2018-11-01 20:38] #62395 closed

[2018-11-01 20:38] eamodio opened #62410 "Splitting the terminal doesn't open a quickpick anymore"
Issue Type: <b>Bug</b>

Clicking on the "Split Terminal" button used to show a quickpick when in a multi-root workspace, but now it seems to just duplicate the current terminal.

Is that intentional? I personally preferred it the other way if so 😉

/cc @Tyriar

VS Code version: Code - Insiders 1.29.0-insider (d7ac6e838f51a03f7d417b4758f5fb075878d615, 2018-11-01T06:20:59.729Z)
OS version: Windows_N

[2018-11-01 20:38] weinand commented on #62394
Could you please try whether this works with node.js 8.x?, e.g. by adding a `"runtimeVersion": "8.12"` to your launch config if you are using "nvm" or "nvs".

[2018-11-01 20:40] mjbvz commented on #62386
Duplicate of #50291

[2018-11-01 20:40] #62386 closed

[2018-11-01 20:40] roblourens opened #62411 "Moved workspace not removed from "recently opened""
- Open some `foo.code-workspace`
- See that it's in the "Open Recent..." list
- Close vscode
- Delete that code-workspace
- Open vscode
- Use Open Recent to select that deleted workspace
- Get a message that `foo.code-workspace` doesn't exist anymore
- See Open Recent again - the workspace is still in that list

If I follow the same steps with a folder instead of a workspace, then the folder is re

[2018-11-01 20:43] misolori opened #62412 "URL is broken when selecting "Create Issue and Restart" after running `code-insiders --prof-startup`"
Issue Type: <b>Bug</b>

Found this while verifying #59505.

Steps to reproduce:
1. Run `code-insiders --prof-startup`
2. Select `Create Issue and Restart` from this dialog:
![image](https://user-images.githubusercontent.com/35271042/47878181-e6d30c00-ddda-11e8-81b5-41c3d7f0850d.png)
3. 🐛 Browser opens to broken URL
  ![image](https://user-images.githubusercontent.com/35271042/47878278-1da92200-ddd

[2018-11-01 20:43] adam-beck commented on #62394
It does not work with Node.js version `8.12.0` either.

![2018-11-01 16_43_12-milksteak - vmware workstation 14 player](https://user-images.githubusercontent.com/6046654/47878668-40483480-ddf5-11e8-9e90-4569d506f195.png)

[2018-11-01 20:44] eamodio opened #62413 "Clicking on a "..." menu again after opening doesn't close the menu"
Issue Type: <b>Bug</b>

Prior to the new menu work (which I **love** btw), if you clicked on the "..." icon again after opening the menu it would close it. That doesn't work anymore, the menu just stays visible.

/cc @sbatten

VS Code version: Code - Insiders 1.29.0-insider (d7ac6e838f51a03f7d417b4758f5fb075878d615, 2018-11-01T06:20:59.729Z)
OS version: Windows_NT x64 10.0.18267

<details>
<summar

[2018-11-01 20:44] mjbvz commented on #60960
Not sure how to do this without a poor behaving extension. To check:

1. Clone https://github.com/Microsoft/vscode-extension-samples/tree/master/webview-sample
1. Update the webview to set an URI without a scheme for the iconPath, such as: `bla.png`
1. Start extension; open webview; then reload vscode
1. Make sure we don't throw an exception

[2018-11-01 20:47] genosonic commented on #62395
I'm experiencing this issue as well, along with other weird behaviors.

**Steps to reproduce:**
1. Ctrl + P
2. Many of the files appear twice on the Recent files list

Another issue, that I imagine is related to the first one, occurs:
3. Click to open any file that appears as duplicate
4. Modify it by typing any key

Two strange things occur:
- A duplicate new tab of the same file appears to the r

[2018-11-01 20:49] misolori opened #62414 "Mojave dark mode adds black border around app for light themes"
Issue Type: <b>Bug</b>

Related to #54838

When dark mode is enabled, a black border is added around the app, which looks great in out dark theme:
![image](https://user-images.githubusercontent.com/35271042/47879037-e63b7500-dddc-11e8-82f5-8c1af786a0ab.png)

But in our light theme this looks bad:
![image](https://user-images.githubusercontent.com/35271042/47878988-cefc8780-dddc-11e8-8199-add5c267d

[2018-11-01 20:50] Septh commented on #62367
Well, after some digging in the docs, it seems that I misunderstood the point of the activate() method... My bad. ;)

[2018-11-01 20:52] roblourens commented on #62116
Which one? You want to show them or hide them? I don't quite understand the problem.

[2018-11-01 20:58] sbatten commented on #60543
@usernamehw right, it uses dropdown as this is sensibly a similar style of UI, but dropdown also does not default to transparent. You can either override the theme that is using a transparent background for dropdown in your settings.json:
[code]
or report an issue with the theme

[2018-11-01 20:58] #60543 closed

[2018-11-01 21:09] #61481 closed

[2018-11-01 21:12] #61813 closed

[2018-11-01 21:14] misolori commented on #62343
That's generated from [these word docs](https://github.com/Microsoft/vscode-docs/tree/master/docs/customization), thanks to @gregvanl 😄

[2018-11-01 21:14] #62343 closed

[2018-11-01 21:15] roblourens commented on #61776
Any chance you can get the full arguments for those processes like from `ps ax`?

When you shut down vscode, do they go away?

[2018-11-01 21:19] #62346 closed

[2018-11-01 21:20] isidorn commented on #62346
Pushed a workaround that I end the initialising state on adapter exit. This should fix it and can not have any side effects (since if we are not initialising it is a no-op).
The actual fix is assigned for debt week as mentioned in my previous comment.

[2018-11-01 21:23] roblourens opened #62415 "NPM script explorer is not auto-updated"
- `"npm.enableScriptExplorer": true,`
- See some npm script, `test`
- Open package.json, rename the npm script to `test2`
- The entry is not renamed in the NPM Scripts explorer until I click refresh, I would expect it to autoupdate if possible

[2018-11-01 21:24] mjbvz opened #62416 "PCRE2 search does not support \u{0061} in regex"
Issue Type: <b>Bug</b>

Testing #61744

**Repo**
1. Enable pcre2 search
1. Open search and enable regular expression search
1. Search for `\u{0061}` (`a`)

**Bug**
No search results.

If you disable pcre2 search and search then you get the expected results. `\x{0061}` does work with PCRE2

VS Code version: Code - Insiders 1.29.0-insider (d7ac6e838f51a03f7d417b4758f5fb075878d615, 2018-11-01T06:11:4

[2018-11-01 21:28] fischeme commented on #4873
For me, it mainly relates to my build output... I often peek at those files and it is all to easy to start editing the files, save, do a build, and overwrite my changes.  From my perspective, it would be great to be able to list a file match pattern to treat as read only in the editor, e.g. dist-*/**

[2018-11-01 21:30] Al2Me6 commented on #519
Indeed, there is a hack. But consider the consequences of the hack: I have to take ownership of files contained within a system directory just to change the font? To me that is absolutely not worth the security risk. Most importantly, this is a **basic feature that should not require a hack.**

[2018-11-01 21:30] weinand commented on #62394
I've tried to reproduce your problem with your exact code and launch config on Ubuntu 18.04, but it works fine for me:
![cluster](https://user-images.githubusercontent.com/1898161/47881097-77ced500-de25-11e8-803b-2396b25d5826.gif)

Please note that VS Code now has a debug console per session (process). That explains why you are not seeing the children's PIDs in one place.

[2018-11-01 21:31] roblourens commented on #62416
I remap `\u1234` to `\x1234` but not `\u{1234}` because it isn't supported by JS correctly yet.

[code]

[2018-11-01 21:32] roblourens commented on #62416
Also see https://github.com/Microsoft/vscode/issues/61746

[2018-11-01 21:35] weinand opened #62417 "Cannot clear "top" debug console"
VS Code Insiders

- run cluster sample
- terminate all processes
- clear console

Observe: nothing happens

- switch to another debug console
- clear console

Observe: console is cleared

[2018-11-01 21:37] weinand opened #62418 "Debug consoles cannot be deleted"
VS code Insiders

- run cluster example
- stop all processes

Observe: there are many debug consoles but no way to get rid of them

<img width="339" alt="screenshot 2018-11-01 at 22 32 44" src="https://user-images.githubusercontent.com/1898161/47881520-a26d5d80-de26-11e8-9e29-9e607d3fdd72.png">

[2018-11-01 21:38] whatsyourgithub commented on #13680
Sounds like his key is not linked to his github account, or his github account is not added as a collaborator on the repo.

[2018-11-01 21:45] weinand opened #62419 "Need launch config option to disable multiple debug consoles"
Using debug consoles for multi-process debugging is painful in many situations.

We need a launch config flag to turn this off (and Cluster and multi process debugging should disable multiple debug consoles).

[2018-11-01 21:45] elprans commented on #62409
Other files like `.git/COMMIT_EDITMSG` are also included in search.

[2018-11-01 21:49] weinand opened #62420 "multi debug consoles is not aligned with integrated and external terminals"
- run cluster sample

Observe: every process gets its own debug console

- set "console" attribute to "integrated terminal"
- run cluster sample again

Observe: all processes run in a single terminal

We should consider to represent the multi debug console feature as a new console type "multi console".

[2018-11-01 22:05] adam-beck commented on #62394
Do you think this could be because I'm inside of a VM. I'm not too informed on subjects so I wouldn't know how to even begin debugging what would be causing yours to work and not mine. Maybe you're even on a VM?

I'll ask a co-worker to see if they can get my example up and running on their native machine.

[2018-11-01 22:11] hipstersmoothie opened #62421 "Huge Slowdown"
- VSCode Version: 1.29.0-insider (1.29.0-insider)
- OS Version: 10.13.6

In the past two days VSCode has become unusable. Currently it y freezes every 5 minutes and has to reopen itself.

[2018-11-01 22:16] weinand commented on #62394
I'm on a Parallels-VM on macOS configured to have 4 cores.
That's the reason why I see 4 child processes.

Could you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces.

[2018-11-01 22:34] adam-beck commented on #62394
This unfortunately didn't help either.

Sorry I just meant launching the debugger from VSCode. If I run this from a terminal window I see the expected `console.log`s. However, you mentioned I shouldn't expect to see them from within VS Code because "debug console per session (process)".

I don't think so because when I launch from a terminal window it works as expected and I can access the URL. I

[2018-11-01 22:55] rebornix commented on #60742
I found

[code]

is still not working.

[2018-11-01 22:56] rchiodo opened #62422 "Start without debugger doesn't start without debugger"
Issue Type: <b>Bug</b>

Create an extension
Build the extension
Start debugger without debugging

Expected:
Another copy of VS code starts without starting the debugger

Actual:
Another copy of VS code starts and the debugger is attached.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>Syst

[2018-11-01 23:02] mjbvz commented on #60742
@rebornix `"https://raw.githubusercontent.com` prevents loading  content in an iframe like the markdown preview. Can you try `https://cdn.jsdelivr.net/gh/highlightjs/highlight.js@6747ca77b6ec3fea25f7265fa1f295719f619542/src/styles/tomorrow-night-blue.css`

[2018-11-01 23:03] jkells commented on #62421
Having the same issue, every 5 minutes or so the window freezes, sometimes it recovers after 30 seconds or so. This is a medium sized typescript project running webpack-dev-server in watch mode as a build task.

Extensions I've got installed:

Extension | Author (truncated) | Version
-- | -- | --
bracket-pair-colorizer | Coe | 1.0.60
vscode-eslint | dba | 1.7.0
gitlens | eam | 8.5.6
tslint | eg2 |

[2018-11-01 23:19] rebornix commented on #60742
@mjbvz it works as expected.

[2018-11-01 23:19] #60742 closed

[2018-11-01 23:36] #62107 closed

[2018-11-01 23:40] labregowski commented on #13680
I am managing the bitbucket server and I added his pub key there (and actually he is able to access fetch and push when he uses the command line via PowerShell).
Or is it something i dd not catch from your answer?

[2018-11-01 23:47] MatthiasWinkelmann commented on #62421
I am experiencing the same problem. Console.app shows the following errors, mot often associated with opening files. That is also when the 30-second plus freezes seem to be happening.

~~Of note: the system does not react to input during these freezes, yet neither CPU, nor I/O rate or RAM seem be excessive. The "spinning beachball" type of event is associated with I/O issue IIRC.~~

Now it just di

[2018-11-01 23:53] roblourens commented on #61555
What should be verified here vs the other issue?

[2018-11-02 00:01] roblourens commented on #59552
Verification tip??

[2018-11-02 00:21] roblourens opened #62423 "Custom menu bar is a tab trap"
I can tab into the menu bar, but once I tab into it, I can't tab out of it. Seems like I should be able to escape

[2018-11-02 00:25] dennist12 opened #62424 "Could not open vs code 1.28.2 if I not connected to internet"

[2018-11-02 00:27] roblourens opened #62425 "Notifications: custom context menu stealing focus causes issues"
From verifying #57997

- On Linux for custom dropdown
- Click a notification to activate it and show buttons
- Tab to gear icon
- Space to show it
- Esc to hide it
- The notification is no longer active and buttons aren't visible
- I can get the focus outline on the notification but space doesn't do anything, I can't get the buttons to show up

![nov-01-2018 17-25-57](https://user-images.githubuse

[2018-11-02 00:29] omartin2010 commented on #62241
And I've confirmed the issue is there with 16.04 and 18.04.

[2018-11-02 00:38] xxyy commented on #62087
Generally, I'd love to, but I really can't get this done by tomorrow, sorry!

On Thu, 1 Nov 2018, 21:28 Pine, <notifications@github.com> wrote:

[2018-11-02 00:43] kieferrm commented on #62362
This is fixed in the Windows 10 October 2018 update (also know as RS5).

[2018-11-02 00:43] kieferrm commented on #62362
/duplicate of #13612

[2018-11-02 00:43] #62362 closed

[2018-11-02 00:50] kieferrm commented on #62361
1. You navigate between differences with <kbd>F7</kbd> and <kbd>Shift</kbd>+<kbd>F7</kbd>. The corresponding commands are `workbench.action.compareEditor.nextChange` and `workbench.action.compareEditor.previousChange` if you want to change the keybindings.

2. In the keyboard shortcut editor search for "merge". You can bind your own keyboard shortcuts to any of the **Accept** commands.

[2018-11-02 00:50] #62361 closed

[2018-11-02 01:00] fujitatakesh commented on #62361
I confirmed that a keyword "nextChange" is assigned already to alt+F5.
It could be useful for me.
Thank you for replying.

[2018-11-02 01:10] ramya-rao-a commented on #18673
Verified by running from source

[2018-11-02 01:11] #62092 closed

[2018-11-02 01:14] kieferrm commented on #62424
This will be fixed as soon as we move up to electron 3.0.

[2018-11-02 01:14] kieferrm commented on #62424
/duplicate of #7570

[2018-11-02 01:14] roblourens commented on #57452
What is the correct format of that setting now? I tried both (with escaped double quotes and without) and neither seems to work. I either get `'C:\Program' is not recognized as an internal or external command'C:\Program' is not recognized as an internal or external command` or with escaped quotes, opening a normal terminal complains that `'\"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Comm

[2018-11-02 01:14] #62424 closed

[2018-11-02 01:17] mjbvz opened #62426 "Very poor marketplace search ordering for "Java Debugger'"
Issue Type: <b>Bug</b>

**Repo**
1. In extension view, search for `Java Debugger`

**Bug**
The `debugger for java` extension is not in the first 10 results

![screen shot 2018-11-01 at 6 15 33 pm](https://user-images.githubusercontent.com/12821956/47888551-55779000-de02-11e8-97a4-f1d79f9faad4.png)

VS Code version: Code - Insiders 1.29.0-insider (d7ac6e838f51a03f7d417b4758f5fb075878d615, 2018-11-0

[2018-11-02 01:17] roblourens opened #62427 "Random notifications from update service"
I've been getting notifications like this at random times, more often the past day or two, maybe due to update server changes? Several times today.

![image](https://user-images.githubusercontent.com/323878/47888484-fb76ca80-de01-11e8-8a7d-bdbe7cdd2318.png)

![image](https://user-images.githubusercontent.com/323878/47888537-41339300-de02-11e8-9237-d593dffa5e62.png)

But in the past, I also get "Th

[2018-11-02 01:19] mjbvz commented on #37929
Using our process explorer, I still see the java debugger extension being activated in this case. There is also  a slight delay when clicking on the gear

[2018-11-02 01:29] bin-zhao commented on #62116
Ok. my *user default settings* is:
[code]
I want to exclude *.o file by default, so *.o is here. now I have a workspace which need to include *.o file(**show** *.o file), so I added a new setting to my *workspace settings*:
[code]
This setting **removed** *.o, which would **show** *.o file in workspace, I think it would be work, but no effect.
Is this explanation clear?

[2018-11-02 01:36] Pyxelx opened #62428 "download page is broken."
Can't access the download page to download the program, at all.
Seems the entire update domain is down for the matter.

![chrome_2018-11-01_21-36-10](https://user-images.githubusercontent.com/31185937/47889021-28d17180-de1e-11e8-8bf2-0611c8266ec9.png)

[2018-11-02 01:40] kieferrm commented on #62421
@hipstersmoothie @jkells @MatthiasWinkelmann @Astrantia does that also happen when launch `--disable-extensions`.

[2018-11-02 01:40] d3r3kk opened #62429 "Cannot download vscode for extension testing from URL "https://vscode-update.azurewebsites.net/api/releases/stable""
Probably related to #62427

- VSCode Version: ^1.26.0
- OS Version: Windows 10

Steps to Reproduce:

[View results from one of our builds here.](https://vscode-python.visualstudio.com/VSCode-Python/_build/results?buildId=1827&view=logs)

1. Download sources for vscode-python. `C:\dev> git clone git@github:Microsoft/vscode-python`
2. CD into the vscode-python dir. `C:\dev> cd vscode-python`
3. Run

[2018-11-02 01:41] Pyxelx commented on #62429
this is related to my issue and afew others
@ https://github.com/Microsoft/vscode/issues/62428

the download domains are completely broken/down at the moment.

[2018-11-02 01:41] d3r3kk commented on #62429
Note: The URL gets redirected to https://update.code.visualstudio.com/api/releases/stable if you paste it into a browser.

Thanks for looking into this!

[2018-11-02 01:42] Pyxelx commented on #62429
hope they fix this soon. was looking to download stable but can't due to the domains being down.

[2018-11-02 01:44] mjbvz commented on #62429
Duplicate of #62427

[2018-11-02 01:44] #62429 closed

[2018-11-02 01:44] mjbvz commented on #62428
Duplicate of #62427

[2018-11-02 01:44] #62428 closed

[2018-11-02 01:47] ramya-rao-a commented on #60037
Verified from source

[2018-11-02 01:50] kieferrm commented on #62410
@eamodio you can control this now with `terminal.integrated.splitCwd`.

[2018-11-02 01:50] #62410 closed

[2018-11-02 01:50] mjbvz opened #62430 "Slow scrolling for binary file opened as text"
Issue Type: <b>Bug</b>

**Steps**
1. Open this binary file in VS code: [img.ping.txt](https://github.com/Microsoft/vscode/files/2540746/img.ping.txt)
1. Select that you want to open it as text. It should open as `utf-8`
1. Try scrolling through the file

**Bug**
Notice a lot of scrolling slow down and jitter. [Profile-20181101T184133.json.zip](https://github.com/Microsoft/vscode/files/2540748/Prof

[2018-11-02 01:50] hipstersmoothie commented on #62421
I am on a typescript project as well

[2018-11-02 01:53] zfzackfrost commented on #62427
I can confirm the same problem. I have the same issue on Ubuntu Linux.

[2018-11-02 01:54] kieferrm commented on #62409
@elprans what do your **Search: Exclude** and **File: Exclude** settings look like? If non of them contains `**/.git` then we'll search inside the `.git` folder.

[2018-11-02 01:54] kieferrm commented on #62409
/needMoreInfo

[2018-11-02 01:56] Pyxelx commented on #62427
It is not a operating system based issue, the webserver itself is having problems.

[2018-11-02 01:58] FranjoIM opened #62431 "Cannot access installation file for macOS Mojave"
I'm trying to install the VSC through terminal for Anaconda. I keep getting following message: "Please make sure you are connected to the internet!" After I tried directly accessing the website, I get the following message:

<img width="614" alt="screen shot 2018-11-01 at 9 57 17 pm" src="https://user-images.githubusercontent.com/29928096/47889610-2d4b5980-de21-11e8-82d2-ad796eadcd90.png">

[2018-11-02 01:59] Pyxelx commented on #62431
This is a duplicate of https://github.com/Microsoft/vscode/issues/62427

[2018-11-02 02:04] FranjoIM commented on #62427
Is there any way around it?

[2018-11-02 02:13] robsonsobral commented on #519
@Al2Me6, no, you don't. The config I'm using on my `settings.json`:

[code]

Some of my coworkers are using `"editor.fontSize": 14`.

[2018-11-02 02:14] CelticMinstrel commented on #61972
Though the example was C++, I would want to see this in pretty much every language; I might turn it off for Markdown or plain text if there was an option to, but for anything else, I wish it would strip that whitespace.

[2018-11-02 02:15] codingspirit commented on #62427
Seems https://marketplace.visualstudio.com/ can't be accessed. Server issue AGAIN?

[2018-11-02 02:16] elprans commented on #62409
@kieferrm Both **Search: Exclude** and **File: Exclude** are set to default values:

![screenshot_20181101_221527](https://user-images.githubusercontent.com/347119/47890101-bc597100-de23-11e8-91ce-583045cfd503.png)

[2018-11-02 02:18] elprans commented on #62409
Also, in an earlier log screenshot you can see that `.git` is included in the `"excludePattern"`.

[2018-11-02 02:18] Pyxelx commented on #62427
works for me, may be a cache issue on my end or something is actually wrong.

![chrome_2018-11-01_22-17-29](https://user-images.githubusercontent.com/31185937/47890144-fdea1c00-de23-11e8-986b-c3130177bc91.png)

[2018-11-02 02:18] usecodelee commented on #62427
Both downloads and updates are returned 502

[2018-11-02 02:19] Pyxelx commented on #62427
Downloads are working for me now, but give it time, may be a cache issue.

[2018-11-02 02:29] techsin opened #62432 "Add an ability to color code folders in sidebar!"
It'd make my life easier if I could custom color code the folders and all directories in them.

So I can easily Tell whether register.js is from backend or frontend directory.

While reveal in sidebar is very useful. I've to visually trace it back to section of code the file belongs to.

![new project](https://user-images.githubusercontent.com/4664695/47890561-c8463280-de25-11e8-8ac0-d8c152234ae9.

[2018-11-02 02:43] yaowen2011 commented on #62355
well, gona change my answer, it may  the  extension called "Vetur"  cause the high loads, i`m gona leave a message for the extension author, sorry for the bother.

[2018-11-02 02:45] DungVA1 commented on #62392
How I can to fix it ?

[2018-11-02 02:46] Sara-Cagle commented on #61821
Yes there are a couple of errors being printed.
[code]

[2018-11-02 02:59] entonio opened #62433 "Allow code and file navigation to always open in a separate editor"
I've searched for this and to my surprise didn't find it.

When control/cmd-clicking a code element to go to its source, or when clicking a file on the folder pane, sometimes the target file will open in the same editor we're using, rather than in a separate one. I don't like that.
If we're in an editor with unsaved changes, or if we double-click the file on the folder pane,  it will always open i

[2018-11-02 03:01] ShangLiChun opened #62434 "内存占用太高,已经无法正常使用电脑,几乎卡死"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2018-11-02 03:03] octref commented on #62087
OK, I'll push fixes.

[2018-11-02 03:36] chongchai commented on #62366
@alexandrudima Thanks for your explanation, I really appreciate it

[2018-11-02 03:36] haugerbr commented on #62082
@roblourens Haven't seen it reproduce in either yet.

[2018-11-02 03:57] octref commented on #62159
Don't want to change back & forth, so waiting for #62370's discussion and moving to November.

[2018-11-02 04:07] roblourens commented on #62082
Let me know if it comes up again.

[2018-11-02 04:07] #62082 closed

[2018-11-02 04:08] roblourens commented on #62116
Oh, now I understand. You need to override individual keys by adding something like this: `"**/*.o": true`. That should give the result you expect.

[2018-11-02 04:08] #62116 closed

[2018-11-02 04:25] eypsum opened #62435 "Allow fuzzy result on searching symbol in file"
- VSCode Version:
1.28.2
- OS Version:
 Ubuntu Gnome 16.04.5 (x64)

Steps to Reproduce:
I search very often a symbol in current active file using by ctrl+shift+o.
I noticed that takes some inaccurate results than Sublime Text in cases like below.
    **symbols with Under and Upper case naming**
    example 1)
    onSomeHandle()
    onAnotherSomeHandle()
    let search with words such as 'osh' usin

[2018-11-02 04:27] Chandu3245 opened #62436 "VScode is Freezing"
- Extension Name: all default extensions
- Extension Version: NA
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:
[code]
Initially VScode gets freezed, then a popup promts at left bottom with message "Extension host is now responsive". Dont know why I am experiencing this behaviour recently in VScode, its annoying

[2018-11-02 04:47] Chandu3245 commented on #62421
Its very much annoying, freezes for every 5 minutes.

[2018-11-02 04:48] bearuse opened #62437 "Can't parse C code properly."
Issue Type: <b>Bug</b>

With special character input, it can't parse C codes properly.
Color is not matched with codes and byte code.
For example, it can't parse '\\\"' in below source codes.

if(parm[0] == '\\\"')
				{
					if(parm[size+1] == '\\\"')
					{
						LOG_MESSAGE("Writing data with ASCII codes\n");
						ret = Diag_SetDID(did_no, &parm[1], &err_code, DID_ORIGIN_ETC);
					}
					else

[2018-11-02 04:49] bearuse commented on #62437
Special character is not input properly.
'\"' -> '\\\"' is right.

[2018-11-02 04:52] bearuse commented on #62437
I attach a unmatched color in the codes.
![image](https://user-images.githubusercontent.com/5081705/47894480-6da0eb00-dea6-11e8-885c-1fc5f0840820.png)

[2018-11-02 04:56] ManfredSteiner commented on #61922
I disagree @weinand's summary, an extension could solve this issue, when another ssh connection is automatically established if starting a  remote debugging session. This session could redirect outputs.
I know this kind of debugging from remote-platform debugging with Netbeans and Java. The java code is compiled on fast work system, then the java classes are transferred via ssh to the remote syste

[2018-11-02 05:24] marszallek opened #62438 "High Usage CPU VS Code"
In VSC
It is happening with this code in JS.

CPU %	Memory (MB)	pid	Name
3	72	1456	code main
0	57	1672	     window (Process Explorer)
0	180	2704	     window (pok.js - Visual Studio Code)
0	60	2508	         extensionHost
50	113	1380	             electron_node tsserver.js
0	51	4200	                 electron_node typingsInstaller.js typesMap.js
0	10	5240	         electron-crash-reporter
0	61	4304

[2018-11-02 05:30] sh-tech opened #62439 "In the configuration of the integrated terminal's shell the Linux configuration is applied to osx"
- VSCode Version:1.28.2
- OS Version:macOS Mojave version 10.14.1

Steps to Reproduce:

1. Install VSCode by homebrew
2. I tried to change the shell of the integrated terminal from bash to zsh (setting.json)
    Specifically, I changed terminal.integrated.shell.osx.
　` "terminal.integrated.shell.osx" : "/usr/local/bin/zsh" `
3. Somehow it does not work properly
4. I changed the item of Linux this

[2018-11-02 05:42] shirshak55 commented on #519
@robsonsobral how to change ugly font of sidebar?

[2018-11-02 06:07] Astrantia opened #62440 "Expose more of Settings gui api"
Currently extensions cant offer settings with array type:
![image](https://user-images.githubusercontent.com/32885386/47896488-1c600f80-de44-11e8-8540-3ebf029eef47.png)

Vscode uses this internally, so I would like to see this made possible for extensions too

@roblourens

[2018-11-02 06:09] Riajyuu opened #62441 "Preview Error of Markdown Checklist"
Issue Type: <b>Bug</b>

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17134

Just compare these two screenshots:
VSC:
![image](https://user-images.githubusercontent.com/16912240/47896495-beb1de80-dea8-11e8-909b-de8b86bfd77d.png)

GitHub:
![image](https://user-images.githubusercontent.com/16912240/47896506-cb363700-

[2018-11-02 06:19] dominikzogg commented on #61776
@roblourens

[code]

@RMacfarlane linux, ubuntu 18.04 based, elementary os

[2018-11-02 06:31] romanoledergerber commented on #61614
Same Issue Version 1.28.2

[2018-11-02 06:31] eamodio commented on #59926
@sandy081 I think I finally found the reproducible case -- it ONLY happens if the view is on the SCM sidebar. If it is in its own sidebar or in the explorer sidebar it all works fine.

[2018-11-02 06:31] romanoledergerber commented on #61434
Same Issue Version 1.28.2

[2018-11-02 06:45] eamodio commented on #59926
It looks like it is because of this line, as it isn't checking the focus flag first:
https://github.com/Microsoft/vscode/blob/220bff273eed39013f24b6d26fc17f2a742ce10f/src/vs/workbench/parts/scm/electron-browser/scmViewlet.ts#L1490

It also seems to me that here, we should be passing the `focus` flag in:
https://github.com/Microsoft/vscode/blob/220bff273eed39013f24b6d26fc17f2a742ce10f/src/vs/workbe

[2018-11-02 06:48] joaomoreno commented on #62427
**Service Status**

There was some faulty behaviour on our update servers, as we were investigating an issue with them. There was some amount of downtime between CET 10PM and 6:30AM. Servers are back up and should be 100% operational by now.

[2018-11-02 06:56] oiervictor opened #62442 "Unknown Bug"
Issue Type: <b>Bug</b>

Whenever I try to change the options in Settings, vscode will report errors: Can not add index to parent of type array. I can't change the theme too.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2018-11-02 06:59] chrmarti commented on #62403
But you can type in the input box? So it must have focus. Is there anything special in that regard about webviews?

[2018-11-02 07:01] amiknyg opened #62443 "Show unpushed commits in Source Control View"
It would be great if you could show unpushed/local commits in the source control view.

[2018-11-02 07:12] #61832 closed

[2018-11-02 07:12] sandy081 opened #62444 "Right click on setting title in settings editor to show 'copy setting id' menu"
Request
Allow users to right click on the title of a setting in the setting editor. This would display the same context menu as clicking on the gear that appears next to the setting.

Extracted from https://github.com/Microsoft/vscode/issues/59400

[2018-11-02 07:14] sandy081 commented on #62154
Ok, it explains. VS Code does not remove the markers automatically when file is closed or deleted. It is responsibility of the owner of the markers to clean up. So closing this as designed.

[2018-11-02 07:14] #62154 closed

[2018-11-02 07:19] sandy081 commented on #62373
@octref `source` property should only mention the source of the diagnostics like `ts`, `tslint`, `css`. And it should not embed code/rule information. There is `code` property for that.

About where to show the `code`, please provide your opinion here -https://github.com/Microsoft/vscode/issues/62370

[2018-11-02 07:55] chrmarti commented on #62421
Everyone: Please try running with extensions disabled (`--disable-extensions`) and acquire a performance profile (https://github.com/Microsoft/vscode/wiki/Performance-Issues).

[2018-11-02 07:55] Icaxwu opened #62446 ""selectionHighlight" : Highlight is not obvious"
Issue Type: <b>Bug</b>

when the setting "selectionHighlight"  enabled, Highlight is not obvious，I hope that the highlighted word is more obvious.

![image](https://user-images.githubusercontent.com/10125433/47900339-8239af00-deb7-11e8-8a73-50f403d0a9f6.png)

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 6.1.7601

<deta

[2018-11-02 07:59] isidorn commented on #61555
Yeah let's remove the verificatino needed, let's just verify that other issue

[2018-11-02 08:00] lua9520 commented on #38999
+1 Same issue. Win10, Run VSC as Admin, Drag & Drop doesn't work. I can provide more details if needed too.

[2018-11-02 08:03] alexandrudima commented on #35225
@sbatten As we are all aware from multiple discussions on this topic, contexts are different depending on where the focus sits. I can implement a new method in `IKeybindingService` to look up keybindings based on context, but then won't you have 100% the same problem as the one described in #55453 , which cannot be solved due to performance concerns -- specifically https://github.com/Microsoft/vsc

[2018-11-02 08:04] jrieken commented on #62240
Yeah, you can use this: https://github.com/Microsoft/vscode/blob/220bff273eed39013f24b6d26fc17f2a742ce10f/src/vs/editor/contrib/suggest/suggest.ts#L270

[2018-11-02 08:08] jrieken commented on #62290
It depends on the scheme and if it's known by the file system providers - only then we can provide a meaningful path. Are you using virtual documents?

[2018-11-02 08:09] isidorn commented on #62422
Starting without debugging is only supported if the extension supports it.
@rchiodo I can not reproduce what you are saying. Can you reproduce with latest vscode insiders https://code.visualstudio.com/insiders/
Though it is expected that the debugger is attached, it is just not expected that you can hit breakpoints and stop. What exactly are you seeing?

[2018-11-02 08:09] jrieken commented on #61100
We currently don't expose the resolve functions as commands but instead we allow to resolve N (defined by an arg) eagerly

[2018-11-02 08:12] jrieken commented on #62267
:-1: for ranks et al. this will just make folks set their ranks to `MAX_VALUE` because you never know what other providers are installed from other extensions... We have to define (or document) the sort order by other means (I think today it is severity of the diagnostics they eventually tackle and label)

[2018-11-02 08:12] isidorn commented on #62170
FYI I have decided to not steal F11 on windows and linux, it will be there only on mac
via https://github.com/Microsoft/vscode-node-debug/commit/660175936b0d83277a1b8b2a8a0f2f868ccd032b

[2018-11-02 08:13] isidorn commented on #62170
To verify:
Use windows or linux
1. Have a launch configuration with type node

[2018-11-02 08:14] joaomoreno commented on #61524
@sandy081 This test isn't hitting a tree/list rendering limit. It's hitting a JavaScript limit: `splice` requires passing in all new items as arguments to its function call, all of which end up on the stack, so if you splice a large enough collection of items, you end up exceeding the max stack size.

[2018-11-02 08:18] isidorn commented on #62290
I am not sure what is the definition of a virtual document but I am provding the content from memory. You can see a code pointer in my above comment on what I am doing, registering a contentProvider for the scheme `debug`. When an uri comes with that scheme I provide the content from memory.

[2018-11-02 08:19] jrieken commented on #62335
Weird, but not a regression...

[2018-11-02 08:19] alexandrudima commented on #62367
@Septh Yes, contributions are always applied, irrespective of `activationEvents`. That one is only for the case where your extension writes code.

[2018-11-02 08:19] #62367 closed

[2018-11-02 08:31] sandy081 commented on #62391
I also prefer the current approach.

In general header actions depends on the state of the view. When view is collapsed view is hidden and it could be possible that it can be removed from the document for performance reasons. Actions might not behave expected in that case.

Sorry for not considering this.

[2018-11-02 08:31] #62391 closed

[2018-11-02 08:32] jrieken commented on #62290
Yeah, those we ignore... Today, only schemes that are supported by the file system provider and the untitled scheme are supported, let's see what we can do here...

[2018-11-02 08:38] kopepasah commented on #25021
@CoericK dots indicate spaces, while arrows indicate tabs.

[2018-11-02 08:38] sandy081 commented on #62159
Sure, we can improve how to show `source` & `code` properties. But I do not think it is not related to this issue. This issue is about not to include additional details in `source` and use `code` for codes or rules.

Please do not do that. Source should be the origin of the diagnostic which is `css` in your case. Again, use `code` for codes or rules.

@dbaeumer I suppose above comment is for you.

[2018-11-02 08:38] kopepasah commented on #25021
@alexandrudima any update on the ability to show a different character/glyph for tabs?

[2018-11-02 08:41] jrieken commented on #62421
Can anyone create a CPU profile of the renderer? The process is explained here: https://github.com/Microsoft/vscode/wiki/Performance-Issues#the-rendererwindow-process-consumes-a-lot-of-cpu

[2018-11-02 08:42] sandy081 commented on #61524
Good findings.

[2018-11-02 08:43] joaomoreno commented on #59552
@roblourens Try running that snippet at the ctor of the active viewlet (eg Search), that's how it reprod: if messages were sent to the notification service before the workbench was ready.

[2018-11-02 08:43] Mornedeklerk opened #62447 "i have a light theme installed on visual code and i want to customize is to how i want it to look, and i did that on the json settingss but it keeps telling me at the bottom "value expected" and i dont know how to get rid of it because it says theres a mistake and i cant use everything on vs code then"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/visual-studio-code.

[2018-11-02 08:44] joaomoreno commented on #62075
No clue :thinking:

Glad to know you're OK now.

[2018-11-02 08:44] #62075 closed

[2018-11-02 08:45] joaomoreno commented on #62300
If you restart VS Code, do the Release Notes appear again?

If you restart again, do they appear once again?

And so on...

[2018-11-02 08:45] isidorn commented on #62420
Currently the `console` field is contributed by the node debug adapter, vscode is not aware of this.
So I would suggest that this one we solve on the node debug side piggy backing on https://github.com/Microsoft/vscode/issues/62419
So after we add that flag the node debug adapter would turn on that flag if the console attribute is not internalConsole.

[2018-11-02 08:48] isidorn commented on #62419
I think this makes sense and as you say it should be launch config, not a vscode setting since it depends on the launch configuration.
The following names we already use in launch configs: console, internalConsoleOptions.
What would be the name of the new setting and do we make it a boolean or string in case it needs more tuning in the future.
The simplest one is `multiConsole: true|false`, but le

[2018-11-02 08:48] joaomoreno commented on #62130
Awesome, thanks for the screen recording, much easier to understand!

Anything special about the workspace path? What does `cwd` return? What about `git rev-parse --show-toplevel`?

PS: Gotta love that <kbd>Cmd Shift 5</kbd>, right?!

[2018-11-02 08:49] joaomoreno commented on #62320
Yeah I really like how devtools does that, we could try something like that, what do you think @isidorn?

[2018-11-02 08:49] isidorn commented on #62418
This is by design. I think this should simply be fixed via https://github.com/Microsoft/vscode/issues/62419

Closign this for now, we can reopen in the future if 62419 proves to not be a good solution

[2018-11-02 08:50] omoking opened #62448 "i have a problem with this code (@media)"
@media screen and (max-width: 800px) {
    .leftcolumn,  .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

only the (rightcolumn) is working well i have checked the spelling and every thing but it didn't work too i tried   codes like this with some other things but didn't work too please help

[2018-11-02 08:50] alexr00 commented on #62154
@sandy081, what about the ts and js errors? I had not installed any marketplace extension to provide those problems.

[2018-11-02 08:51] sandy081 commented on #62220
Planning to October as this is a regression.

[2018-11-02 08:52] joaomoreno commented on #62413
Let's add it!

[2018-11-02 08:52] isidorn commented on #62320
Yeah, that is a neat idea.
The only downside is that I am not sure we can do this in other places where we use sashes, but looks like an elegant solution for panels.
Should we also do this for viewlet title area to be dragged left / right? Might work imho

[2018-11-02 08:53] joaomoreno commented on #62443
/duplicate #68

[2018-11-02 08:53] #62443 closed

[2018-11-02 08:56] sandy081 commented on #62220
![kapture 2018-11-02 at 9 55 49](https://user-images.githubusercontent.com/10746682/47904541-8a78f680-de85-11e8-9b88-a2edf9204197.gif)

[2018-11-02 08:59] sandy081 commented on #62154
Regarding TS and JS, Errors should be cleared when files are deleted. But not when files are closed. Please correct me @mjbvz if I am wrong.

[2018-11-02 09:03] iahmedov commented on #41513
Same issue as @tkuraku described

VS Code Version: 1.28.2
Ubuntu: 16.04
Grpahics: Integrated

[2018-11-02 09:04] amiknyg commented on #62443
Hi, I don't agree on that this is a duplicate of #68
I read throug that request and its a request to get a total history integration into vscode. My request is only to easly see that you have local commits that are not pushed to the repository. I agree on that a history implemenation would be nice to be able to have full history tree to be able to see what has happened on the repository. But my re

[2018-11-02 09:05] davidnorthetal commented on #62372
@kieferrm I have checked, but I'm using i3-wm and I've made sure that i3 **isn't** configured to consume `Ctrl`+`q`

Other applications like chromium also don't quit on Ctrl+q - applications like Thunderbird or Thunar quit with Ctrl-q but they also show this in the menu bar under `File->Quit` - so it seems very much that this **is** application specific and that vscode does exhibit wrong behavior

[2018-11-02 09:09] DanTup commented on #62267
I'm really not convinced that would happen for a few reasons:

1. Most languages only get fixes from one extension
2. Extension authors probably (hopefully) care more about delivering a good experience that putting their things at top - people will uninstall their extensions if they do stupid things
3. They can still "rig" things if you use the diagnostic message, they just have to be more creativ

[2018-11-02 09:12] #61745 closed

[2018-11-02 09:12] #61636 closed

[2018-11-02 09:18] YisraelV commented on #62112
@alexandrudima I fugured out the source of the bug. Using this information I found another bug. I can suggest a solution as well.

**Why is this happening**

In the example of the OP we have 3 delete operations:
a. delete line 2
b. delete line 2
c delete line 3
[This merging](https://github.com/Microsoft/vscode/blob/220bff273eed39013f24b6d26fc17f2a742ce10f/src/vs/editor/contrib/linesOperations/lin

[2018-11-02 09:37] stevencl commented on #42476
Sorry again for the delay.

@cleidigh - what configuration do you want me to export?

[2018-11-02 09:37] denis-budyak-aurea opened #62449 "Alt-based menu accelerators do not work in Russian Display Language"
- Install "Russian Language Pack For Visual Studio Code"
- Make sure you have Cyrillic keyboard layout installed
- Ctrl-Shift-P - "configure display language" - set to "ru"
- Restart VS Code
- Press "Alt" - main menu will be activated
- Then press any underlined letter for any dropdown submenu on the keyboard. Normally, the menu should drop down. This does not happen. "Справка" submenu drops down

[2018-11-02 09:38] robleolo opened #62450 "Intellicode fails completely after hot reboot (python)"
1) Have anacondas running
2) Install system VSCODE
3) Install User VSCODE
             --> runs normally for certain number of normal restarts etc (not hot reboot).
4) Run a hot reboot
5) intellicode fails to produce any reference to imported packages or other user-created scripts. Also 'run python file in terminal' functionality fails, although can still obviously run python file by manually inpu

[2018-11-02 09:42] dale426 opened #62451 "when open multiple terminals very caton or dead"
所需的数据太大，无法直接发送。
Issue Type: <b>Bug</b>

1. use ‘ctrl + \’ open  more than three terminal
2. edit some code

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz (8 x 3600)|
|GPU Status|2d_canvas: enabled<b

[2018-11-02 09:56] jjavierdguezas opened #62452 "Avoid showing another tab automatically when the terminal has the focus"
First thanks for this amazing tool!
Sometimes, I start vscode and start typing in the terminal and it is very annoying that another tab is showed in the middle of what I'm writing (to show me the Output tab  for example).
![vscode](https://user-images.githubusercontent.com/13673443/47908405-70dbad00-de8d-11e8-9f30-352a91dacbba.gif)
Could you please avoid this behavior?
Do not allow another tab to

[2018-11-02 09:56] baxebu commented on #50965
Why you close this issue?

[2018-11-02 09:58] joaomoreno opened #62453 "Enable automatic OSS discovery in build"

[2018-11-02 09:59] baxebu commented on #50965
Why can't you hide this icon, make this functionality? Why don't you want to hear people's opinions? You don't give a fuck ?

[2018-11-02 10:10] scruti commented on #61565
Had the same issue. The launch time of the snap became unbearably slow.

[2018-11-02 10:12] dbaeumer commented on #62159
@octref I see the point however from a pure LSP point of view we can only spec the data and not the rendering of it. There could have already been a client that renders the source and error code in which the UI would have looked bad.

The thing we can do in the LSP is adding comments that this data is `usually` presented in a user interface. So for diagnostics something like this:

[code]

This wo

[2018-11-02 10:14] #62412 closed

[2018-11-02 10:15] alexr00 commented on #61195
@jrieken, how should this be verified?

[2018-11-02 10:16] isidorn commented on #62417
@weinand good catch, thanks! I have verified this works now with the cluster example from [here](https://github.com/Microsoft/vscode/issues/40123#issue-281453170)

[2018-11-02 10:16] #62417 closed

[2018-11-02 10:29] #62220 closed

[2018-11-02 10:36] HTw-ss opened #62454 "terminal messy code"
![image](https://user-images.githubusercontent.com/20150944/47910238-2ed25b80-decd-11e8-928b-2be2329a065e.png)
I use git bash to commit will not cause chinese Character decode problem.
But when I use visual studio code terminal bash to write commit message the problem arises.
The problem arises on the VSC newest version 1.28.2.
And I find that the problem arises in the several recent versions.
Do

[2018-11-02 10:39] alexr00 commented on #57452
Looks like this has completely regressed. It only ever worked in insiders, so moving this to November.

[2018-11-02 10:39] joaomoreno commented on #57452
After discussing this with @alexr00, it is my understanding that this has been an issue in stable for long. Given that we're at the end of endgame and it's not a regression nor severe, I'll push this out to November.

[2018-11-02 10:41] Geobert commented on #50140
I'm wondering if tree-sitter can solve this https://github.com/Microsoft/vscode/issues/51157

[2018-11-02 10:43] joaomoreno commented on #61646
@ramya-rao-a I see two PRs were merged, should this issue be closed?

[2018-11-02 10:51] createdbyjurand opened #62455 "Format Document (Shift + Alt + F) word wraps long code lines"
Issue Type: <b>Bug</b>

Format Document option does word wrap long lines of code even though I set in Preferences "no wrap".

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz (8 x 4008)|
|GPU Status|2

[2018-11-02 11:12] cbluth opened #62456 "Integrated Terminal Pane changes shape"
Version: 1.28.2
Commit: 7f3ce96ff4729c91352ae6def877e59c561f4850
Date: 2018-10-17T00:20:56.183Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

Steps to Reproduce:

1. `code ./project-dir`
2. see on monitor vscode launching (integrated terminal not fully drawn to screen yet)
3. use SUPER^Left arrow to "snap" window to left of screen (ubuntu 18.04 feature)
4.

[2018-11-02 11:12] chrmarti opened #62457 "Stop waiting for * extensions to activate when trigger is satisfied"
Following a discussion on #58918.

When a command invocation triggers * extensions to activate, the command should be run as soon as it is registered (and that extension being activated) without waiting for additional extensions to finish activation.

[2018-11-02 11:14] sandy081 opened #62458 "File opens back after closing"
- Have a TS and TSLint error.
- Open Problems view and Select TS Error
- Close the file now

🐛 It opens back

[2018-11-02 11:16] #62458 closed

[2018-11-02 11:16] #62448 closed

[2018-11-02 11:21] alexr00 commented on #56304
Reminder to wait to test this until the @joaomoreno has the array splice fix in.

[2018-11-02 11:30] chrmarti commented on #60664
The original issue doesn't repo on my Linux / Mac.

[2018-11-02 11:35] sandy081 commented on #62458
Verified in sources

[2018-11-02 11:35] sandy081 commented on #62220
Verified running from Sources

[2018-11-02 11:36] chrmarti commented on #60724
Noticed that VoiceOver doesn't read the ARIA label when just tabbing through. Verified the label is there.

[2018-11-02 11:45] weinand commented on #61922
@ManfredSteiner your solution is just an elaborate form of my first scenario.

Yes, you can add an extension on top of the remote shell/SSH that redirects stderr and stdout to the debug console. But there is no big advantage in doing so because the debug console is rather limited in comparison to the integrated terminal and SSH.

[2018-11-02 11:47] Attaulla9 opened #62459 "Small boxes appearing on Code editor when running a node js script from the VS terminal"
- VSCode Version: 1.28.2
- OS Version: Ubuntu 18.04

Steps to Reproduce:
1. Wrote a Node js Puppetter  script, opened the terminal
2. Ran the script from the terminal, these boxes show up.

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[Screenshot attached](https://i.postimg.cc/QN61HJYy/Screenshot-from-2018-11-02-16-59-07.png)

[2018-11-02 11:51] gjsjohnmurray opened #62460 "Outline displays wrong hover text for SymbolKind.File"
Issue Type: <b>Bug</b>

Implement a DocumentSymbolProvider with a simple provideDocumentSymbols method that returns one SymbolInformation entry for each value of the vscode.SymbolKind enumeration, e.g.
[code]

View the result, and observe how the hover tip for entry 0 (i.e. SymbolKind.File) is "property"

![image](https://user-images.githubusercontent.com/6726799/47913433-f7938880-de93-11e8-83d2-7

[2018-11-02 11:53] weinand commented on #62418
Since Integrated terminal can be deleted, the same should be possible for debug consoles.

Disabling multiple debug consoles doesn't help in deleting them.

[2018-11-02 12:08] andreylc opened #62463 "Periodically loads the CPU up to 80%. Периодически загружает процессор до 80%."
Issue Type: <b>Bug</b>

When working with css, php files, the editor process consumes up to 80% of CPU power.
При работе с css, php файлами процесс редактора потребляет до 80% мощности процессора.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|C

[2018-11-02 12:20] knopp commented on #519
Yeah, that does change the font size, but as a side effect you get this annoying trembling during scrolling (https://github.com/Microsoft/vscode/issues/28439). There really is no good solution right now for adjusting UI size. I understand hardcoded values for prototyping, but having production software shipping with such annoying usability issue is a bit mind boggling, especially given how much ef

[2018-11-02 12:33] beantowel opened #62464 "wrong indentation detection for python"
Issue Type: <b>Bug</b>

open a file including these line:
[code]
vs code will detect the indentation as `Spaces: 8`, where the correct indentation setting should be 4 spaces.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:20:56.183Z)
OS version: Linux x64 4.15.0-38-lowlatency

<details><summary>Extensions (13)</summary>

Extension|Author (truncated)|Version

[2018-11-02 12:58] gpoussel commented on #62437
This code is wrong, isn't it?
As far as I can tell, single-quotes are used for single-character only. And in your code, you use `'\"'` which is two characters. Backslashes are not escaping anything here.

[2018-11-02 13:04] qinyu2014 opened #62465 "卡"
很卡
ColdHelper内存占用很高

[2018-11-02 13:13] schicks opened #62466 "selecting first option from dropdown when typing a ("
Issue Type: <b>Bug</b>

Using mocha;
* Create a test file with a top level describe block (describe, context, and it are all in the global namespace)
* create a context within the describe
* when you add the parens after context to call the function, it gets autocorrected to the first symbol in the list.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:18:43.3

[2018-11-02 13:14] shinebayar-g commented on #9347
2 years lol

[2018-11-02 13:18] tamimmirza opened #62467 "Anaconda custom environment not activating"
Issue Type: <b>Bug</b>

I created an Anaconda Python 3.7 environment labled "Django" in which I installed django via pip

But when I try to invoke the command "django-admin startproject web_project .".  The terminal states that django is not installed.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17763

<details>

[2018-11-02 13:25] joaomoreno opened #62469 "SQLite tests failing on my machine"
The `basics (broken DB falls back to in-memory)` test keeps failing on my machine.

[code]

[2018-11-02 13:30] jrieken commented on #62460
Yeah, we reuse some icons for different types

[2018-11-02 13:31] Aliaksei-Martsinkevich opened #62470 "Typescript hangs after "@enum" JSDoc tag was typed"
Issue Type: <b>Bug</b>

I have jsconfig in my project and following patter is commonly used to represent enum. Everything works fine at this point.

![before](https://user-images.githubusercontent.com/16012334/47917559-f1fd6900-deba-11e8-8ef6-d3e034fc1842.PNG)

But when I add JSDoc with `@enum` tag, Typescript just hangs, and all suggestions are broken.
Also there is an error: 'Type expected'.

![

[2018-11-02 13:36] gjsjohnmurray commented on #62460
But for SymbolKind.File why does the hover tip say **'property'** ?

[2018-11-02 13:36] SpectralKH opened #62471 "Don't show unsaved changes icon when the file is unchanged"
I would expect there to be an issue for this already, but I could not find one.

If you open a file, type a character. Then instead of CMD+Z, you delete the character. Now the file shows this icon:
![image](https://user-images.githubusercontent.com/11315492/47918178-0d14ac80-deac-11e8-9bd1-486e1d1848f5.png)

This behaviour is unnecessary in my opinion, as the file is the same as the saved version.

[2018-11-02 13:38] alexr00 commented on #61459
I still see icons in the Setting suggest widget:
![image](https://user-images.githubusercontent.com/38270282/47918437-ea36c800-deac-11e8-86cd-ce1751a49b0d.png)

[2018-11-02 13:39] joaomoreno commented on #60664
This is Linux only! Basically:

1. Create a `file.html` file on the Desktop
2. Install the Code deb package
3. Associate file.html to open with Firefox. Verify by double clicking on it.
4. Run Code
5. Double click file.html. It should keep opening in Firefox.

[2018-11-02 13:40] jrieken commented on #60014
This is what I do:[Screen Recording 2018-11-02 at 14.38.27.mov.zip](https://github.com/Microsoft/vscode/files/2542611/Screen.Recording.2018-11-02.at.14.38.27.mov.zip)

[2018-11-02 13:41] joaomoreno commented on #62469
Fixed by re-running `yarn`. :man_shrugging:

[2018-11-02 13:41] #62469 closed

[2018-11-02 13:42] weinand commented on #62354
works fine for me now.

[2018-11-02 13:43] chrmarti opened #62472 "Week ranking in extensions viewlet"
Issue Type: <b>Bug</b>

Searching for 'azure app service' the extension with that name is place 10:
![image](https://user-images.githubusercontent.com/9205389/47918721-aa241500-dead-11e8-880d-981c4ac40169.png)

VS Code version: Code - Insiders 1.29.0-insider (220bff273eed39013f24b6d26fc17f2a742ce10f, 2018-11-02T06:13:24.258Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

[2018-11-02 13:45] weinand commented on #62345
@mjbvz good catch!

The bug no longer shows up...

[2018-11-02 13:46] jrieken commented on #62460
Yeah, that is weird indeed...

[2018-11-02 13:46] jrieken commented on #62460
This is the problem: https://github.com/Microsoft/vscode/blob/f9f38b2bbf5d5049cad387b97b8fa85e98c6d3c4/src/vs/editor/common/modes.ts#L839

[2018-11-02 13:48] chrmarti commented on #61732
I had two cases where I saw a profile like this, but it no longer reproduces:

![image](https://user-images.githubusercontent.com/9205389/47918341-9b892e00-deac-11e8-98c8-bda02933f14f.png)

[2018-11-02 13:50] weinand commented on #62202
works fine in latest.

[2018-11-02 13:50] chrmarti commented on #60664
1.28.2 did not associate the file with Code under Ubuntu 18.04. Trying with Fedora now.

[2018-11-02 13:53] weinand commented on #62417
works fine now.

[2018-11-02 14:05] joaomoreno opened #62473 "Debug console fails to render if debug starts before revealing debug console"
Uncovered by the smoke test on Linux:

1. Open workbench on a debuggable workspace, make sure Debug Console is not visible
2. <kbd>F5</kbd> to Debug

Debug console comes up but empty.

If I open the Debug Console before starting to debug, everything works fine. The same can be verified by adding the following snippet before [this line](https://github.com/Microsoft/vscode/blob/f9f38b2bbf5d5049cad38

[2018-11-02 14:08] dbaeumer opened #62474 "Clear doesn't work for extension contributed tasks"
To reproduce:

package.json
[code]

tasks.json
[code]

Observe: terminal is not cleared.

To make this work we need to add the clear here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/tasks/node/taskConfiguration.ts#L750

Sorry for not catching this when reviewing.

[2018-11-02 14:08] RamonRobben opened #62475 "Lag spikes when typing"
Lately I'm having lots of lag spikes.
I'm not sure why since I'm not doing anything special except for typing when it occurs.
I managed to grab a profile just before, during.

Profile:
[CPU-20181102T145806.zip](https://github.com/Microsoft/vscode/files/2542737/CPU-20181102T145806.zip)

About info:
![image](https://user-images.githubusercontent.com/12982618/47919992-2835eb00-deb1-11e8-8395-be851ef5

[2018-11-02 14:09] SamueleDassatti commented on #61934
I agree, it would be much more consistent.

[2018-11-02 14:11] chrmarti opened #62476 "Setup has detected that setup is currently running"
Issue Type: <b>Bug</b>

Unexpected since I did not run any setup myself. Shortly before that the (1) badge showed up on the gear icon.

![image](https://user-images.githubusercontent.com/9205389/47920110-8236b080-deb1-11e8-93d5-ab2a3839552c.png)

VS Code version: Code - Insiders 1.29.0-insider (220bff273eed39013f24b6d26fc17f2a742ce10f, 2018-11-02T06:18:20.695Z)
OS version: Windows_NT x64 10.0.1713

[2018-11-02 14:15] usernamehw commented on #62471
Duplicate of #919

[2018-11-02 14:16] frevds commented on #22261
That sounds great!

I went to install the extension V0.0.6 into my regular VSC, instead of using the separate Insider edition.
It however does not seem to work for me.. it does show the right files containing references, but there are no sub nodes with actual results, just empty root nodes for the file:

![image](https://user-images.githubusercontent.com/5341447/47920206-c629b580-deb1-11e8-9abf-d8

[2018-11-02 14:16] tksuoran commented on #51163
The issue has become more serious recently. I use tasks which cat (or sed) files to terminal, and that gets parsed to problems. Now that output is truncated, effectively for all such tasks, as result not all problems get parsed to Problems window.

[2018-11-02 14:24] joaomoreno opened #62477 "Improve localization extension installation message"
![screenshot from 2018-11-02 15-12-26](https://user-images.githubusercontent.com/22350/47920777-34bb4300-deb3-11e8-84a7-87f24a695420.png)

Rephrase this to something like:

Have a single button:

We don't need a `No` button, since the notification can be dismissed.

[2018-11-02 14:31] joaomoreno opened #62478 "Smoke Test: Localization tests are broken"
Localization tests are broken since installing a localization extension doesn't render the `Reload` button any more.

[2018-11-02 14:31] joaomoreno commented on #62478
The fix is to wait for the uninstall button instead.

Fixed by https://github.com/Microsoft/vscode/commit/c49207f9a3ad7fd77d0398f96b5b0348fd2d1221

[2018-11-02 14:31] #62478 closed

[2018-11-02 14:32] danielgary opened #62479 "Terminal Text Invisible at Launch"
Issue Type: <b>Bug</b>

When a new integrated terminal is opened, all text is invisible.  If I type, I can see my characters, but the directory text is invisible.  Once I have pressed enter, the text becomes visible again.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary

[2018-11-02 14:32] danielgary commented on #62479
![2018-11-02 09_20_57-window](https://user-images.githubusercontent.com/5438098/47921292-37517480-de82-11e8-82a6-a4ebe3509f55.png)

I have reviewed previous issues with similar descriptions and none of them describe my issue.

[2018-11-02 14:33] sandy081 commented on #60014
Interesting. I used the same code you provided in the description. Let's catch up directly.

[2018-11-02 14:35] sandy081 commented on #62472
cc @viradhamMS @pkuma-msft. Please check it.

[2018-11-02 14:35] chrmarti commented on #61732
Continuing here: https://github.com/Microsoft/vscode-azure-account/issues/87.

[2018-11-02 14:40] mrkafk opened #62480 "Keyboard shortcut for Copy Relative Path doesn work on Linux Debian 9"
- VSCode Version: 1.28.2, installed from Apt repos on Debian 9.5 amd64
- OS Version: Debian 9.5 amd64, KDE Plasma desktop

Steps to Reproduce:

1. When in some edited file press `ctrl+shift+alt+c`

2. Paste clipboard content anywhere.

# Expected result:

Relative file path is copied to clipboard.

Copying via right-click on tab name, click Copy Relative path **works**.

# Actual result:

The path

[2018-11-02 14:48] designbyadrian commented on #17777
@samdenty I can't access your gist. Has it been moved or deleted?

[2018-11-02 14:48] alexr00 commented on #62275
@RMacfarlane, does this need a new version of the extension?

[2018-11-02 14:51] sevenryze commented on #26307
Any update for this feature? Goto website to download is a little bit inconvenient.  so, please..

[2018-11-02 14:51] mrkafk opened #62481 "Report Issue does not work on Debian 9.5, KDE Plasma desktop - some extension seems to be the cause"
- VSCode Version: 1.28.2, installed from Apt repos on Debian 9.5 amd64
- OS Version: Debian 9.5 amd64, KDE Plasma desktop

Steps to Reproduce:

1. Ironically, selecting Help | Report Issue results in empty issue report window:

![issue_reporter](https://user-images.githubusercontent.com/593219/47922166-b791cd00-deb6-11e8-8580-ce907018c8f3.png)

Does this issue occur when all extensions are disable

[2018-11-02 14:51] kekun001 commented on #17691
Add me to! my profile space is limited at work.

[2018-11-02 14:55] alexandrudima opened #62482 "New empty viewlet"
This viewlet has no explanation, no buttons and I believe it will be confusing for our users:

![image](https://user-images.githubusercontent.com/5047891/47922506-8a91ea00-deb7-11e8-97e5-5a1630f7e623.png)

I maybe missed the stand-up where this viewlet was presented and what its purpose is, so I think I more likely represent end-users who will experience confusion as to what is the purpose of this

[2018-11-02 15:00] weinand commented on #62473
To reproduce this issue outside of the smoketest:
- make sure to have "debug.internalConsoleOptions" set to "openOnFirstSessionStart"
- close panel with debug console, terminal etc. in workspace
- quit VS Code
- start VS Code
- start debugging with F5

Observe:
- the panel opens with debug console but stays empty
- clicking in the REPL text box shows the message to start a debug session

[2018-11-02 15:05] dbaeumer opened #62483 "Add support for Goto Declaration"
VS Code currently only supports `Goto Defintition` inside the editor. However there are languages like C++ that distinguish between declarations and definitions. We should add official support to have `Goto Declaration` in the UI and a corresponding provider in the API.

This should also include a corresponding complex command to invoke the request.

[2018-11-02 15:05] nunnsby commented on #37414
I guess it is a matter of changing the OnFocus function, or equivalent, to update the tab name when it is OnFocus to the text in Line 1.

Obviously there should be a limit to the length of text it populates.

I don't see two similar Line 1's being a "train smash" as the user can still find which of the tabs they are after quicker than going through all the untitled's.

Lastly, I guess it could act

[2018-11-02 15:09] Wand3rvogel commented on #17691
https://code.visualstudio.com/docs/editor/portable

[2018-11-02 15:14] danielgary commented on #62479
Actually, this appears to be a duplicate of #61172

[2018-11-02 15:14] #62479 closed

[2018-11-02 15:15] #34345 closed

[2018-11-02 15:19] tommai78101 opened #62484 "When a breakpoint is enabled in VS Code, have its highlighting show up in the Scrollbar Minimap and in the Scrollbar itself"
I think it might be related to this issue, https://github.com/Microsoft/vscode/issues/9209, but I have no knowledge on whether it's truly related, or it's a separate issue.

1. Prerequisite: Of course, you need the programming language extension for VS Code in order for VS Code to mark a breakpoint to a certain file, based on the file document's extension.

Whenever you set a breakpoint in VS Code

[2018-11-02 15:20] tommai78101 commented on #62484
Perfect, thanks @vscodebot

[2018-11-02 15:22] tommai78101 commented on #62484
Closing issue because it's a full-on duplicate.

But, as of November 2, 2018, this feature request is very unpopular because of the way breakpoints and errors are colored in VS Code, and that has compounding issues on top of it (separating breakpoints from errors, highlights/labels customizations, etc.).

[2018-11-02 15:22] #62484 closed

[2018-11-02 15:23] tetchel opened #62497 "[Extension] Is it possible to stop a TreeItem tied to a workspace resource from getting Emphasized?"
Sorry if this doesn't belong here, but I already have [a StackOverflow question](https://stackoverflow.com/questions/53094634/stop-treeitem-from-being-emphasized) which no one has helped with. Copied here:

In my extension, I have a TreeView where the TreeItems have their `resourceUri` set to point to a folder in the workspace. When I have errors/warnings/etc in those folders, the folder gets Emph

[2018-11-02 15:29] IllusionMH opened #64520 "[Suggestion] Switch count/VCS badge and Remove action button"
It would be easier to dismiss files and references if results Remove action buttons will be aligned.

At this moment if `explorer.decorations.badges` is `true` badge will be rendered for file entry and Remove button will be shifted. And shift won't be constant because badge width depends on errors/warnings and Git status.

[2018-11-02 15:32] sbatten commented on #35225
@alexandrudima this iteration, I have made some improvements that greatly reduce the amount of updates the menu based on context. My current view is that the global application menu reflects the global context so enablement/disablement/keybindings must be based on context keys in the global scope. Thoughts?

[2018-11-02 15:41] zimmermanw84 commented on #58686
This is also a problem for me. It worked yesterday, and today it no longer works.
[code]
launch.json
[code]

[2018-11-02 15:46] reecebradley opened #62486 "markdown previewer with yaml code block colorizer"
Issue Type: <b>Bug</b>

1. create a markdown file
2. create a yaml code block like this:
[code]
You'll notice the space in the "long name" doesn't colorize correctly in the preview. the inline markdown editor is correctly handling spaces.

![image](https://user-images.githubusercontent.com/1536861/47925558-800e2b00-de8c-11e8-8377-28c3861a9f55.png)

Tried this in vscode insiders as well, same behav

[2018-11-02 15:48] Stanzilla commented on #50140
@bobbrow is that a finite decision? Would have been nice to share the code with Atom here.

[2018-11-02 15:53] kieferrm commented on #62480
@mrkafk the binding is defined to only work when the editor does not have focus. If you change your config to
[code]
it will work.

@isidorn it seems counterintuitive to only bind the shortcuts outside of the editor.

[2018-11-02 15:59] eamodio commented on #59926
@sandy081 should that first line just be protected from being called when `focus` is falsey? And for the 2nd should `focus` be passed in?

[2018-11-02 15:59] eamodio commented on #59926
If so I can send a PR if that helps.

[2018-11-02 16:02] kieferrm commented on #62467
@tamimmirza pls file the issue against the Python extension at https://github.com/Microsoft/vscode-python/issues. Thanks!

[2018-11-02 16:03] #62467 closed

[2018-11-02 16:04] isidorn commented on #62473
@weinand thanks for nice repro steps. Good catch, thank god for the smoke test :)
Will fix later today / tomorrow

[2018-11-02 16:07] #62460 closed

[2018-11-02 16:12] #61868 closed

[2018-11-02 16:14] jrieken commented on #62475
The JS is relatively idle, nothing spiky there..

<img width="909" alt="screenshot 2018-11-02 at 17 12 57" src="https://user-images.githubusercontent.com/1794099/47927072-93d48400-dec2-11e8-99ed-9bbb6ebfee1d.png">

@RamonRobben please run `code --status` when this happens

[2018-11-02 16:14] Stephanevg commented on #61721
Hi, thanks for you attempts guys. I got help on twitter, and I was actually missing data in apt list.
It was basically containing only 3 lines.
After adding a bunch of them, I was able to download that missing pakage that we see in my very first screen shot (libg.conf2-4). Once I had that one on my machine, I could finally install vscode. :)

Cheers

[2018-11-02 16:14] #61721 closed

[2018-11-02 16:16] myusrn opened #62487 "Keyboard Shortcuts Ide Tab and Browser Pdf Shift+Alt+... entries"
Issue Type: <b>Bug</b>

The Keyboard Shortcuts ide tab [ Ctrl+K Ctrl+S ] and browser pdf [ Ctrl+K Ctrl+R ] references have a bunch of Shift+Alt+... entries.  For whatever mental reason I, and i'm guessing others, find these really confusing given historically we are used to seeing keyboard shortcuts involving use of Shift key listed as Ctrl+Shift+... and Alt+Shift+....  My recommendation here is t

[2018-11-02 16:20] RMacfarlane commented on #62481
@mrkafk Can you hit `Ctrl+Shift+I` while focused on the issue reporter window to bring up the dev tools, and see if there is anything in the console?

[2018-11-02 16:20] kieferrm commented on #62464
The auto indentation rules come from the Python extension. Please file the issue there: https://github.com/Microsoft/vscode-python/issues. Thanks!

[2018-11-02 16:22] kieferrm commented on #62463
@andreylc can you pls follow the steps in https://github.com/Microsoft/vscode/wiki/Performance-Issues to report the performance issue? Thanks!

[2018-11-02 16:22] kieferrm commented on #62463
/needsMoreInfo

[2018-11-02 16:29] inarius opened #62488 "Not searching some files that aren't in an open folder"
Issue Type: <b>Bug</b>

I've been having this problem for a few weeks - it used to work correctly. I have tested without extensions and it still occurs.

 I open a set of log files (not a folder) and want to search all of them for errors. There are files with *.err file extensions which are repeatedly not getting searched in unless I click to focus them.

Precondition:
  * Create some log files, i

[2018-11-02 16:29] kieferrm commented on #62454
@rebornix do you see the same?

[2018-11-02 16:33] RMacfarlane commented on #62481
Actually, nevermind, I have a repro now. Installing `mkloubert.vscode-deploy-reloaded` did it for me.

[2018-11-02 16:36] roblourens commented on #62395
If so, and you are on the latest insiders, that would sound like a different issue. Can you open a new issue with details @genosonic ?

[2018-11-02 16:37] octref opened #62489 "Problems: Tree misalignment if an error has long message"
1.28:

![image](https://user-images.githubusercontent.com/4033249/47928194-b6df4380-de82-11e8-991a-b599bfa825bd.png)

Repro: Write below to a css file.

[code]

[2018-11-02 16:38] octref commented on #62159
@dbaeumer

This is not clear to the user. Where in the interface? How is it presented? Monospace font or default UI font?

I would appreciate an illustration that shows **association between the data and the UI**. Here's a simple one I made in 1 minute:

![image](https://user-images.githubusercontent.com/4033249/47925000-50562780-de7a-11e8-8e77-5a5eff8b1163.png)

I think this is a doc issue: We sh

[2018-11-02 16:40] #62159 closed

[2018-11-02 16:43] octref commented on #56925
@connorshea Sorry this got reverted because of https://github.com/Microsoft/vscode/issues/62159. I'll try to bring it back next milestone.

[2018-11-02 16:44] FernandoMiguel opened #62490 "sort source control providers panel"
the Source Control Providers panel is sorted by the order you add the entries.
![screenshot 2018-11-02 16 42 01](https://user-images.githubusercontent.com/168366/47928448-46561800-debe-11e8-92a3-d6594ea5280e.png)

would be nice if we could sort alphabetical , date added, custom (drag and drop)

Version 1.29.0-insider (1.29.0-insider)

[2018-11-02 16:44] kieferrm commented on #62452
This comes from the C# extension. VS Code does not reveal output by itself. Please file the issue against https://github.com/OmniSharp/omnisharp-vscode/issues. Thanks!

[2018-11-02 16:44] #62452 closed

[2018-11-02 16:44] octref commented on #62373
The only one in CSS which I changed back in https://github.com/Microsoft/vscode-css-languageservice/commit/4f23ae8bcf629565484bd4153d5b899b940f7ef2. Let's move discussion to #62370.

[2018-11-02 16:44] #62373 closed

[2018-11-02 16:46] roblourens commented on #61195
I didn't have a consistent repro, but I'll call it verified based on code review, and I haven't seen it lately.

[2018-11-02 16:50] kieferrm commented on #62452
VS Code does not reveal output automatically. Pls file the issue against the C# extension here: https://github.com/OmniSharp/omnisharp-vscode/issues. Thanks!

[2018-11-02 16:51] neeravp opened #62491 "Emmet: Support class names like width-1/2"
With the advent of utility first css frameworks like tachyon and tailwindcss, class names like `width-1/2` etc are very common now a days.
Emmet doesn't seem to provide a filter for such names. However **PHPStorm** is already supporting the use of such class names in emmet
[code]
expands to
[code]
in PHPStorm

Support for such class names via emmet is essential so to say in the world of utility fi

[2018-11-02 16:52] octref commented on #62370
Another problem: changing `source` back to `css` is not nice in problems view. Previously I get:

![image](https://user-images.githubusercontent.com/4033249/47928811-84364a80-de84-11e8-9a8a-c6d76e667e43.png)

Now I get:

![image](https://user-images.githubusercontent.com/4033249/47928824-8dbfb280-de84-11e8-8753-72e95880ef8c.png)

Good things I miss from previous one:

- `source` and `code` display

[2018-11-02 16:52] MattSidor opened #62492 "When resolving a merge conflict, adding resolved file to staged changes triggers warning"
- VSCode Version: 1.28.2
- OS Version: macOS Mojave (10.14.1) and High Sierra (10.13.x)

Steps to Reproduce:

1. Merge a branch that creates a merge conflict.
2. Resolve the conflicted file
3. Click on + sign to added resolved file to Staged Changes. VS Code will now notify you that you are trying to add a file with a merge conflict to Staged Changes. ("Are you sure you want to stage [file] with m

[2018-11-02 16:55] mahyar78 opened #62493 "Some issues and suggestions for HTML"
Issue Type: <b>Bug</b>

Hi,
First of all let me thank you for your Awesome! IDE.
There are some features I've noticed when coding HTML on VSCode which I really want you to know so you can fix them to have more powerful IDE.
1 - When we edit a starter tag the end tag should edit simultaneously
2 - The tab key does not work sometimes for Emmet styling.(e.g:when you write .some-class and go back thro

[2018-11-02 16:57] RMacfarlane commented on #62275
Yep, sorry, will release a new version of it

[2018-11-02 17:04] MattSidor commented on #62492
This is a duplicate of #33983 and #34175 and several others, but those issues were closed months ago and discussion has been locked. I think the issue still persists.

[2018-11-02 17:10] DonGlover commented on #62300
As stated in the repo steps above:
close vs
Open Vs Release notes display again.
What is not clear about that?  How does that not answer your questions?

[2018-11-02 17:10] rebornix commented on #61972
@CelticMinstrel can `"files.trimTrailingWhitespace": true` help this case? It will be triggered when you save the file and if you have auto save turned on, it's almost after you pressing enter.

[2018-11-02 17:10] rebornix commented on #62465
@qinyu2014 can you provide more information by following https://github.com/Microsoft/vscode/wiki/Performance-Issues ?

[2018-11-02 17:14] rebornix commented on #62360
@lzz1996 can you follow our wiki of keybindings to troubleshoot and provide more information ? https://github.com/Microsoft/vscode/wiki/Keybinding-Issues

[2018-11-02 17:14] fiveisprime opened #62494 "Improve error message for failed node debugging when node not installed"
Currently, this is the error when hitting f5 in a node app when you don't have node installed.

![image](https://user-images.githubusercontent.com/1186948/47929849-7d5d0700-de87-11e8-837e-767757755be3.png)

The error isn't very actionable and may not make sense to some people (and there's a typo: "on" should be "in"). I'd like to suggest something like

and it would be awesome to add a "learn more

[2018-11-02 17:15] ramya-rao-a commented on #61459
@alexr00 I meant the settings search

<img width="646" alt="screen shot 2018-11-02 at 10 15 38 am" src="https://user-images.githubusercontent.com/16890566/47930130-44716200-de88-11e8-9fc2-f358dca22a9a.png">

[2018-11-02 17:15] #61459 closed

[2018-11-02 17:19] ramya-rao-a commented on #61646
Yes, I was waiting for a Insiders build with the fix before closing this.

@crash5 With the latest [Insiders](https://code.visualstudio.com/insiders), when you run `code-insiders --disable-extensions --disable-telemetry` along with all the settings you have already set to [disable network connections](url
https://github.com/Microsoft/vscode/issues/61646#issuecomment-432811668), you should no longe

[2018-11-02 17:19] #61646 closed

[2018-11-02 17:23] Areax commented on #62474
Fix is in #62495

[2018-11-02 17:32] octref commented on #62149
I can repro with this setting:

[code]

[2018-11-02 17:36] #62148 closed

[2018-11-02 17:36] octref commented on #62148
Probably as-designed. When a user provides an invalid URL, retry once. If it fails, don't enable JSON Schema for that file.

[2018-11-02 17:44] bbaassssiiee commented on #62130
[code]

[2018-11-02 17:52] LadyNaggaga opened #86819 "Narrator/NVDA is not mentioning about number of results or no results found when find option is selected"
.NET Online REPL  is having the following accessibility issue.  Please see this [issue](https://github.com/dotnet/try/issues/109) . I have also included the details below

[2018-11-02 17:54] myusrn opened #62498 "Keyboard Shortcuts Ide Tab and Browser Pdf Shift+Alt+... entries"
Issue Type: <b>Bug</b>

The Keyboard Shortcuts ide tab [ Ctrl+K Ctrl+S ] and browser pdf [ Ctrl+K Ctrl+R ] references have a bunch of Shift+Alt+... entries.  For whatever mental reason I, and i'm guessing others, find these really confusing given historically we are used to seeing keyboard shortcuts involving use of Shift key listed as Ctrl+Shift+... and Alt+Shift+....  My recommendation here is t

[2018-11-02 17:57] techsin commented on #62432
+1

[2018-11-02 18:09] sbatten commented on #55272
verified that updating a keymap extension does not show the notification again

[2018-11-02 18:12] cleidigh commented on #42476
@stevencl
The NVDA configuration, I cannot really use a perfectly   default configuration myself an adjustment to make sure we somehow have some little difference causing our different results.

[2018-11-02 18:12] #61864 closed

[2018-11-02 18:12] #61881 closed

[2018-11-02 18:13] #62108 closed

[2018-11-02 18:13] #62106 closed

[2018-11-02 18:29] kieferrm commented on #62123
@praad I'm guessing you use an extension when you develop PHP. Can you please file the issue against the PHP extension that you use? Thanks!

[2018-11-02 18:29] #62123 closed

[2018-11-02 18:31] kieferrm commented on #62128
@janbodnar can you please attach a screen recording that shows the flickering? Thanks!

[2018-11-02 18:31] kieferrm commented on #62128
/needsMoreInfo

[2018-11-02 18:33] NaemBhuiyan opened #62499 "Git clone not in command pallet"
Issue Type: <b>Bug</b>

I cant clone the git repository
in the command platte there is no clone option for cloning

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-2100 CPU @ 3.10GHz (4 x 3093)|
|GPU Status|2d_canvas: e

[2018-11-02 18:33] rebornix commented on #62454
I didn't run into any issue with git commit. But unluckily on Windows, I can't type in the whole Chinese sentence displayed above, it seems the IME handling has some issues with that.

[2018-11-02 18:33] kieferrm commented on #62132
@zmicx can you please follow https://github.com/Microsoft/vscode/wiki/Performance-Issues next time is 18 o'clock? Thanks!

[2018-11-02 18:33] kieferrm commented on #62132
/needsMoreInfo

[2018-11-02 18:37] pettyron commented on #30825
Other issues about this have been reported as well.

[Issue: 6194](https://github.com/Microsoft/vscode/issues/61954)
[Issue: 60860](https://github.com/Microsoft/vscode/issues/60860)

It seems like everyone issue points out the problem and the response is always needs more information.
It would be nice to have this resolved as the issue seems to have been unaddressed for over a year.

[2018-11-02 18:41] kieferrm commented on #62235
@410919244 Please file the issue against https://github.com/redhat-developer/vscode-java/issues. Thanks!

[2018-11-02 18:41] roblourens opened #62500 ""Run to Cursor" not in command palette"
Every other debug command is in the command palette, "Run to Cursor" should be as well.

[2018-11-02 18:41] #62235 closed

[2018-11-02 18:42] mjbvz commented on #62486
Seems fixed in current insiders builds:

![screen shot 2018-11-02 at 11 42 15 am](https://user-images.githubusercontent.com/12821956/47934390-67a20e80-de94-11e8-9e8b-5f8e40487983.png)

[2018-11-02 18:42] #62486 closed

[2018-11-02 18:44] mjbvz commented on #62470
This is likely a duplicate of https://github.com/Microsoft/TypeScript/issues/27471

Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2018-11-02 18:44] rebornix commented on #61035
@RONAKDHOLARIYA could you please give detailed reproduce steps for what's happening?

[2018-11-02 18:49] rebornix commented on #60978
IMO the root cause is we try to compare `-` and `"` and `-` wins in this case.

[2018-11-02 18:49] kieferrm commented on #62238
@ahyerman can you please file the issue against the Python extension at  https://github.com/Microsoft/vscode-python/issues. Thanks!

[2018-11-02 18:50] #62238 closed

[2018-11-02 18:50] rebornix commented on #61161
Could you for example provide the content? Does it happen every time?

[2018-11-02 18:51] kieferrm commented on #62243
@nileshpawar-xento can you please provide more details. What files are you working on?

[2018-11-02 18:51] kieferrm commented on #62243
/needsMoreInfo

[2018-11-02 18:54] rebornix commented on #61822
In the playground, we use display keybindings which are taking effect, but not necessarily the builtin one. If you have Visual Studio Keymap installed, Ctrl+Shift+L will be used to delete the entire line as that's a VS keybinding. That's why you see that in the playground.

[2018-11-02 18:54] #61822 closed

[2018-11-02 18:55] rebornix commented on #62113
Translation: Status bar keeps displaying "Activating Extensions ..." after using VSCode Insiders or Stable for a while.

[2018-11-02 18:57] kieferrm commented on #62342
@alexandrudima can you pls have a look since @bpasero is out?

[2018-11-02 18:59] rebornix commented on #62050
We don't store the state of the result per document in an editor at this moment.

[2018-11-02 18:59] #62050 closed

[2018-11-02 19:00] rebornix commented on #62451
@dale426 could you please paste your issue report here in the website?

[2018-11-02 19:00] kieferrm commented on #62363
@DarkTemplar008 can you please attach a screen recording? Are you potentially running in full-screen mode? I wonder if the dialog is behind or off-screen.

[2018-11-02 19:00] kieferrm commented on #62363
/needsMoreInfo

[2018-11-02 19:05] reecebradley commented on #62486
Apologies, left out an important detail. I said it in the title, not the description, the colorizer is not correct in the markdown "Preview". It is correct in the markdown.

[2018-11-02 19:06] cleidigh commented on #60724
@chrmarti
Thanks, I can reproduce us as well.  Battle between NVDA/voiceover/Electron continues...
I will work on a possible workaround PR.

[2018-11-02 19:06] aciccarello commented on #53297
Could this mostly be accomplished via your own settings config? It would be messy to have have to override everything but it would be good if someone maintained a base version.

As a VS Code feature I could imagine a flag to use an alternate set of default settings. Either a boolean "minimalFeatures" flag or some way to compose multiple settings (plugin opportunity?).

[2018-11-02 19:07] kieferrm commented on #62408
@TheETK you can reach the marketplace (https://marketplace.visualstudio.com) in your browser, correct?

[2018-11-02 19:07] kieferrm commented on #62408
/needsMoreInfo

[2018-11-02 19:14] exah-io opened #62501 "Font rendering issues in Ubuntu 18.10"
**Version:** 1.28.2 (snap)
**OS:** Ubuntu 18.10 (ubuntu-restricted-extras package is installed)
**Extensions:** solidity, One Monokai Theme
**Does this issue occur when all extensions are disabled?** Yes

**Issue:**
The fonts seem very thin in the code editor in Ubuntu 18.10. Didn't face this issue while in 18.04.
I've been trying to switch to other fonts, but can't seem to get a better result.

!

[2018-11-02 19:15] roblourens commented on #61507
Made a couple tweaks to the error message ad95ccefbb34b04555456635ed1de9c8d1c16559

[2018-11-02 19:16] #62146 closed

[2018-11-02 19:16] #62149 closed

[2018-11-02 19:54] MattSidor commented on #62492
Okay... Saving the file (Cmd-S) before clicking the + sign fixes this.

I think this is a user error on my part, not a bug. Closing this issue.

[2018-11-02 19:54] #62492 closed

[2018-11-02 19:54] mjbvz commented on #62466
This is by design. Characters like `.` and `(` accept the current suggestion

Press escape to cancel the suggestion in this case or set `"editor.acceptSuggestionOnCommitCharacter": false` to disable this behavior entirely

[2018-11-02 19:54] #62466 closed

[2018-11-02 19:55] #62447 closed

[2018-11-02 19:56] mjbvz commented on #62441
Our built-in markdown support targets common mark which does not include task lists

Try this extension: https://marketplace.visualstudio.com/items?itemName=bierner.markdown-checkbox

[2018-11-02 19:56] #62441 closed

[2018-11-02 20:14] laplacesdemon opened #62503 "Internal terminal connection is lost with error "Cannot read property 'children' of undefined""
- VSCode Version: Version 1.28.2 (1.28.2)
- OS Version: macOS 10.14.1 (18B58)

Steps to Reproduce:

It happens randomly. I didn't notice a specific step to reproduce the problem but following are what I usually do
1. Make sure that multiple terminal windows are open (probably 1 window will reproduce the same)
2. Have shortcuts to toggle (focus on) terminal panel and switch to the next and previous

[2018-11-02 20:14] laplacesdemon commented on #62503
Please let me know how to get more logs for you to investigate.

[2018-11-02 20:34] Friday32 commented on #43768
I'm also interested in this feature and would like the ability to prevent the rename operation.

[2018-11-02 20:47] alongafni commented on #62100
Thanks @aeschli , opened a ticket to the extension:

https://github.com/PowerShell/vscode-powershell/issues/1598

[2018-11-02 20:47] #62100 closed

[2018-11-02 20:50] bosatsu commented on #43188
+1

[2018-11-02 20:53] sbatten commented on #62237
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/dialogs/electron-browser/dialogService.ts#L276

The code here converts the filters from the extension API into the electron API, but the function is supplied with the electron API format so this is not necessary and is causing the break.

[2018-11-02 20:55] eamodio commented on #62410
@kieferrm Thanks -- it would be a great enhancement to provide an `alt` command for that button to switch between the split and split with picker.

[2018-11-02 20:57] eamodio commented on #59926
@sandy081 sorry to bug you about this -- but I'm really hoping to get a fix in for October if possible, because this impacts a GitLens feature I'm hoping to release in the next week or two.

[2018-11-02 20:58] cleidigh commented on #60929
Have to use workaround for native select / Voiceover
PR: #62504

[2018-11-02 21:07] robsonsobral commented on #519
@shirshak55 , if you're talking about the typeface, I don't know. But if you're talking about a possible bad rendering, try different zoom values.

@knopp , I never notice that, but I'm using Windows right now. I gonna check it on Mac, next Monday.

[2018-11-02 21:11] roblourens commented on #54214
Is it enough to verify that a build error reaches the startDebugging API? Or was there a more specific issue with it?

[2018-11-02 21:19] mjbvz commented on #62486
Ok. We use highlight.js in the preview. Can you please file an issue upstream for this: https://github.com/highlightjs/highlight.js

[2018-11-02 21:44] octref opened #62506 "Can't emoji"
😢😭😡😢😭😡😢😭😡😢😭😡😢😭😡😢😭😡

![image](https://user-images.githubusercontent.com/4033249/47941992-9f698000-dead-11e8-9c1f-b0fd5463b4c0.png)

[2018-11-02 21:45] mjbvz commented on #62506
Duplicate of #62426

[2018-11-02 21:45] LordHog commented on #60966
I am also seeing this message recently.  I am not sure it is related to the recent VSC update or cpptools update.  I am seeing it both on CentOS and Windows 10 machines.  Behind company fireware, but proxy settings are configured and never had an issue until today.

[2018-11-02 21:46] #62506 closed

[2018-11-02 21:46] onlineservices283418 commented on #61434
Guys please fix it. This issue is not a show stopper, but it's very annoying.

[2018-11-02 21:56] joaomoreno commented on #62426
cc @viradhamMS @pkuma-msft

[2018-11-02 22:02] dejangeci opened #62507 "VSCode remote debugging doesn't map to local files properly"
Issue Type: <b>Bug</b>

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:20:56.183Z)
OS version: Linux x64 4.15.0-38-generic

Also reproduced on:
Win7 x64, VSCode 1.28.2, Docker Toolbox
Win10 x64, VSCode 1.28.2, Docker for Windows

[Minimal working example to reproduce](https://github.com/dejangeci/vscode-remote-debug-nodejs-issue)

Steps to Reproduce:

1. Buil

[2018-11-02 22:08] mjbvz commented on #61948
Please try collecting the TS Server log:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a folder with a `tsserver.log` file in it

Look through that log file for errors or stack traces. If you can share the log, I can also take a look to see if anything stands out

[2018-11-02 22:10] cleidigh commented on #62499
@NaemBhuiyan
Running Code 1.28.2 under Windows 10, I am unable to reproduce this.
Under the command pallet, the command "Git: Clone" appears as expected.

Can you provide any more information?

[2018-11-02 22:10] roblourens commented on #62426
Possibly from https://github.com/Microsoft/vscode/pull/62247/files

[2018-11-02 22:11] roblourens commented on #62409
Yes, the exclude patterns are not respected when searching with a `./` pattern, due to my refactoring this month.

[2018-11-02 22:13] mjbvz commented on #61218
Not sure about that one. Try asking this on stackoverflow or over on the typescript repo

Closing since it sounds like the issue has been resolved

[2018-11-02 22:13] #61218 closed

[2018-11-02 22:42] roblourens commented on #61273
This still exists in some form, but doesn't repro as reliably as before.

- Hide the debug console
- Reload the window
- Start debugging
- Debug console appears
- Sometimes, the debug console is still missing output and I can't eval code in it

![image](https://user-images.githubusercontent.com/323878/47943942-e9566400-deb5-11e8-82db-f002c01e368b.png)

[2018-11-02 22:58] ramya-rao-a commented on #62426
Fixed with https://github.com/Microsoft/vscode/pull/62508

[2018-11-02 22:58] #62426 closed

[2018-11-02 23:15] n8agrin commented on #59269
I occasionally have the same problem.

@bpasero here's what I see on the console

[code]

[2018-11-02 23:34] roblourens commented on #61273
Oh, yeah that looks the same.

[2018-11-02 23:34] #61273 closed

[2018-11-02 23:47] ramya-rao-a commented on #47296
Implemented with #56514

[2018-11-02 23:47] #47296 closed

[2018-11-03 00:05] Pyxelx commented on #62431
@FranjoIM please close this as the issue was solved a bit ago.

[2018-11-03 00:11] CelticMinstrel commented on #61972
I tried it, it didn't change anything. Could be because I don't have auto-save turned on (as far as I know), but I'm thinking it's more likely because the whitespace I want removed isn't at the end of the line - it's between the cursor and the next non-whitespace character on the line. After pressing enter, I want any whitespace directly to the right of the cursor removed.

[2018-11-03 01:37] maximseshuk commented on #14675
Is the issue resolved?

[2018-11-03 02:03] RaviSankarRao opened #62509 "Search pushes CPU usage for Antimalware Service Executable to around 80-90%"
- VSCode Version: 1.28.2
- OS Version: Windows 10.0.17134

Steps to Reproduce:

1. Click on Search in left nav
2. Enter search text
3. Press 'Enter'

Does this issue occur when all extensions are disabled?: Yes

![cpu hits 100 memory - 2](https://user-images.githubusercontent.com/12565630/47947013-df425e80-ded1-11e8-9652-e428b55a260d.PNG)

[2018-11-03 02:53] lotapp opened #62510 "vscode don't goto source in python code"
- VSCode Version:1.28.2
- OS Version:Ubuntu 18.04

eg: goto sendto source
[code]
not only in this demo，I like to use vscode, but this bug has to switch to other IDEs often.

hope fix the bug，thanks ---from china friend

[2018-11-03 03:16] Anti-Li commented on #62383
@mjbvz Yes, this is for node.

[2018-11-03 03:17] ACERY1 opened #62511 "CPU usage up to 90% +"
here is the snapshot：

<img width="833" alt="image" src="https://user-images.githubusercontent.com/19555547/47947563-e6ad4a80-df59-11e8-900e-bba4fefc704e.png">

[2018-11-03 03:31] ACERY1 commented on #62511
I open a file like '.xxx.js'， and typingsinstaller.js goes to 100% cpu usage.

[2018-11-03 03:56] taliesinmillhouse commented on #62128
Similar issue for me. No issues on Windows 10, disabling extensions doesn't help. The only way I seem to be able to make it happen consistently is while I'm paused on a breakpoint. I'm running, Code 1.28.2 and Ubuntu 18.10.

![2018-11-03 14-46-07](https://user-images.githubusercontent.com/30204322/47947841-9691b080-df78-11e8-94e4-2ca1e9854379.gif)

[2018-11-03 04:48] beantowel commented on #62464
i've tried disable all the extensions and reload the window, the problem still there.

[2018-11-03 04:56] #62465 closed

[2018-11-03 05:02] graph commented on #62436
I'm also experiencing this on both Windows & Linux. I'm editing python & c++ files. I leave the editor open for days btw. But freezing happens throughout sometimes early after restart too. Hard to reproduce, just happens randomly. Been happening everyday. 1 of my cores goes to 100% when it happens, obviously one of the vs code processes.

[2018-11-03 05:08] ashikur11 opened #62512 "A shortcut for selecting inner content of a div VS Code"
Hi,
There should be a **inner content selector** keyboard shortcut for VS Code. in **sublime** i can select everything in a block by pressing **ctrl+,** but in **VS code** there is nothing like that.

See video link: https://youtu.be/zVQ3B8hU4XE

[2018-11-03 05:08] graph commented on #62501
When I edit my files the text wiggles sometimes. I don't know if it's related to this. I have all my font settings to bold as the non-bold is too thin.

[2018-11-03 05:29] graph commented on #62511
`code --status`

[code]

vs code froze with high cpu when I ran the command.

[2018-11-03 05:29] octref opened #62513 "Emoji completion in markdown"
We can offer it behind a setting so people can disable it.

![image](https://user-images.githubusercontent.com/4033249/47948411-0b6bd880-deee-11e8-8070-bcac298babac.png)

I don't know if this should go in markdown core or the markdown emoji extension, though.

Rough implementation is in this branch: https://github.com/Microsoft/vscode/tree/markdown-emoji-completion.

[2018-11-03 05:33] matthewphilyaw commented on #41513
I have a similar issue I think. I'm currently running Feodora 29, but also noticed this issue on ubuntu 18.04 on the same hardware setup described below.

For all my notes below I had started VS Code with the disable gpu flag.

Specifically I'm getting flicker when in full screen mode primarily when a tool tip pops in the explorer bar and my mouse runs through it (the cursors passes through the to

[2018-11-03 06:11] nol166 opened #62514 "malformed links on docs - home"
**Describe the issue:**
Docs have a malformed navigation bar which looks bad. Ought to be fixed.

**Steps to reproduce:**
1.  visit https://code.visualstudio.com/docs
2. Look at header

**Environment:**
Windows 10/ Chrome 70

**Screenshot:**
Just go look

[2018-11-03 06:31] #62514 closed

[2018-11-03 07:15] dougc84 commented on #519
Guys, the topic is font size and font face.  Scaling and zoom levels don't address the issue.  If it works for you, great.  But scaling and zoom is not the issue - it's the ugly, compressed font that results in a hard-to-read file and folder view.

@isidorn

This is not a simple fix and requires more elaborate work, currently it is not on our plan to tackle this but we will consider it in the futu

[2018-11-03 07:17] Fleta opened #62515 "(css) change device-width tag highlighting color"
![screenshot](https://i.imgur.com/C7tMdEp.png)

This highlighting color seems like `min-device-width` tag is syntax error.
I think this change in highlighting will help readability.

Thanks.

[2018-11-03 07:17] abdulkareemnalband opened #64521 "Feature Reqeust: Also show line numbers"
Also Show line numbers like
https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_29.md#show-line-numbers-in-search

[2018-11-03 08:02] TeodorKolev commented on #61948
[Trace  - 9:58:19 AM] TypeScript Server: trying to cancel ongoing request with sequence number 1272
[Trace  - 9:58:19 AM] Sending request: completionInfo (1273). Response expected: yes. Current queue length: 0
Arguments: {
    "file": "d:/pathtoFile.js",
    "line": 5,
    "offset": 29,
    "includeExternalModuleExports": true,
    "includeInsertTextCompletions": true
}
[Trace  - 9:58:46 AM] Respo

[2018-11-03 08:09] TeodorKolev commented on #61948
log full with 1291 errors
"code":1219,"category":"error"

[2018-11-03 08:11] ACERY1 commented on #62511
what I did was changing the file’s name，prevent to use ' .xx.js '.

[2018-11-03 09:08] andreylc commented on #62463
Thanks. I understand, I'm sorry.

[2018-11-03 09:08] #62463 closed

[2018-11-03 09:33] zixia commented on #61613
I have the same problem after I upgraded to Ubuntu 18.10 with snap version of vscode.

[2018-11-03 09:35] gpoussel commented on #62393
When you single-click a file from Project Explorer, you are in *Preview Mode* ; and you can have only one Preview open at a time.
As soon as you perform a change to a file, you switch to default mode.

You can either:

- Double-click files in the Project Explorer. They will be opened in default mode.
- Look for "Enable Preview from Quick Open" in your User Configuration, and disable it.

[2018-11-03 10:12] #61903 closed

[2018-11-03 10:41] janbodnar commented on #62128
I don't have the flickering anymore. Today, Code is working fine. I also tested Atom back then, and it was completely unusable due to flickering. Now Atom is also OK.

[2018-11-03 11:09] rulyotano commented on #62327
I got more info:
Step to reproduce it:
1. Open VsCode, scroll is working fine and smooth.
2. Go to desktop (Gesture three fingers down)
3. Go to VsCode again, (Gesture three fingers up)
4. Now scroll isn't smooth.
5. To fix it is needed going to small window and then going back to full window.

My particular version of window:
* Window 10 Education, version 1803, Os Version: 17134.345

[2018-11-03 13:00] mixtum commented on #21773
Same thing... Just too small in 4K display!

[2018-11-03 14:24] drk-mtr opened #62518 "VSCode locks .asar files, preventing Electron app release (Duplicate of closed issue https://github.com/Microsoft/vscode/issues/13076)"
Issue Type: <b>Bug</b>

I am trying to work on an Electron app. As part of the process to create an executable file, the 'Electron Packager' creates .asar files within a 'release' directory under the root of the solution. This gets overwritten when doing a new release.

When I try to do a new release, this `app.asar` file can't be overwritten as it's locked by VS Code (confirmed in Resource Monito

[2018-11-03 14:35] ccaspers opened #62519 "Detect Indentation from Content Detects Wrong Number of Spaces"
- VSCode Version: 1.28.2 7f3ce96ff4729c91352ae6def877e59c561f4850 x64
- OS Version: Arch Linux x86_64 Linux 4.18.16-zen1-1-zen

Steps to Reproduce:

1. Open Code
2. Create a new file add the following contents
[code]
3. Run "Detect Indentation from Content"
4. Detected: 8 Spaces, but should be 4 Spaces

Does this issue occur when all extensions are disabled?: Yes

Here are some screenshots providi

[2018-11-03 14:37] ccaspers commented on #62519
Duplicate of #62464

[2018-11-03 14:40] ccaspers commented on #62464
Same here. The detected indentation is wrong, regardless of the python extension being enabled or not.

[2018-11-03 17:45] zongka opened #62520 "ubuntu vs code can't install anyextension"
the ubuntu version is 16.04
i'm new user of vs code, and i find it difficult to install extensions.
if i just use the vscode to download the extension, it will happen "failed to download xxx-xxx-xxx"
and i also try to install the extensions manually, it will happen "eacces:permission denied.mkdir"/home/xxx/.vscode/extentions/xxxxx""
btw, i'm confused the relationship between vscode and anaconda, i

[2018-11-03 17:52] trueshuka opened #62521 "Add project level snippets support for .tsx and .jsx files"
Snippets should show up in .tsx or .jsx files if you have the corresponding language in `scope` field.

Here's my `.code-snippets` file :
`
{
 "isc": {
    "prefix": "isc",
    "body": "import styled from 'styled-component'",
    "description": "Imports styled from styled-components",
    "scope": "javascript, typescript"
  }
}
`

And `isc` isn't showing up
![v](https://user-images.githubuserconte

[2018-11-03 18:01] janfokke commented on #61161
the LevelEditor.bin.x86_64 seems to use SDL2 for setting the clipboard

you can reproduce the occurrence by running the following code

[code]

[2018-11-03 18:39] Revilotom opened #62522 "Webview developer tools do not use browserify source maps"
Issue Type: <b>Bug</b>

Using browserify version 16.2.3

1. Create a javascript file called "test.js" with an obvious bug, e.g `console.log(uninitializedVariableHere).`
3. Create a bundled file with source maps using :
`$ browserify -d test.js > bundle.js`
2. Launch a webview containing the bundle.js script.
3. Open the webview developer tools and look at the console to find the debugger referenci

[2018-11-03 18:46] jaakkouu commented on #13138
I had trouble getting this all working. Running `code -verbose` gave me error:

`Assertion 'pthread_mutex_unlock(&m->mutex) == 0' failed at pulsecore/mutex-posix.c:108, function pa_mutex_unlock(). Aborted.`
ting.

Then I ran `sudo apt purge libpulse0` to remove the failing package.

After that I tried again `Code .`

Bob's your uncle.

[2018-11-03 19:31] YisraelV commented on #62399
Going to work on this.

[2018-11-03 19:32] therealkenc commented on #13138
Folks may see that on Win10 build 1803. The error path has been addressed in build 1809. Hence the `# .... running on Win10 1809`. Purging `libpulse0` is a reasonable [work-around](https://github.com/Microsoft/vscode/issues/13138#issuecomment-352995770).

[2018-11-03 21:40] avannaldas commented on #61274
@bpasero I've added setup troubleshooting section in my forked version of [How-to-Contribute.md](https://github.com/avannaldas/vscode-wiki/blob/master/How-to-Contribute.md#troubleshooting-steps). Lists solutions to issues I bumped into while setting up vscode for the first time. Please let me know if it helps to update __How-to-Contribute.md__, I'll raise a PR.

[2018-11-03 22:13] uglycoyote commented on #22261
@jrieken that's really exciting that something is finally happening with this, and we may finally be freed from having to view these results in the wretched peek window.  However I do have a couple of concerns about the solution that is being implemented:

* It's confusing now that there's going to be two different context menu options for this,  from the looks of your screenshots, we now have "Fi

[2018-11-03 22:58] pipegreyback commented on #62501
I am having the same issue. If you use a bigger font size you kinda get a better result, but comments still looking ugly.
![screenshot from 2018-11-03 19-57-01](https://user-images.githubusercontent.com/13972706/47958097-c5bd1780-dfa2-11e8-8104-e7e06fd2381d.png)

[2018-11-03 23:45] g4m3rm1k3 opened #62523 "Fixed it somehow"
How do I delete this? It may have been a npm not sure though

[2018-11-03 23:54] samuela opened #62524 "Context menu actions invoke multiple times (7x update message)"
- VSCode Version: Version 1.29.0-insider (1.29.0-insider) d43f6cb9947c57a3254b556e69aeacc2b2025184
- OS Version: macOS 10.14

Steps to Reproduce:
https://imgur.com/a/ySuCW8g

This seems to go away after reloading the window, but when it happens it is repeatable.

Does this issue occur when all extensions are disabled?: Pretty sure, but can't be certain. Reloads usually make it go away.

[2018-11-04 00:08] trusktr commented on #61326
Async is superior (IMO). :) But still, for a function that manually returns a promise but never uses the `await` keyword anywhere in it's body, this tip is pointless.

[2018-11-04 00:50] tlent opened #62526 "Docs for formatOnSave are unclear"
- VSCode Version:
Version: 1.29.0-insider
Commit: d43f6cb9947c57a3254b556e69aeacc2b2025184
Date: 2018-11-02T15:56:43.302Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64
(Also occurring on my non-insiders 1.28.2 install)

- OS Version: 4.18.16-arch1-1-ARCH

Steps to Reproduce:

1. Set settings.json to: ```
{
    "files.autoSave": "onFocusChange",
    "editor.

[2018-11-04 01:32] eugenebnd commented on #41513
ubuntu 18.04 - same issue
Switched to wayland - no flickering
`--disable-gpu` is really not an option.
Guys, let's try to fix it.
Thanks!

[2018-11-04 01:54] mmakrzem opened #62528 "TypeScript doesn't allow event : CustomEvent in addEventListener"
I'm using Visual Studio Code - Insiders v 1.29.0-insider

In my TypeScript project, I'm trying to write the following code:

    buttonEl.addEventListener( 'myCustomEvent', ( event : CustomEvent ) => {
      //do something
    } );

The problem is that the CustomEvent type gives me the error shown below.  If I replace CustomEvent with Event, then there is no error, but then I have difficulty getti

[2018-11-04 03:01] ORESoftware opened #62529 "reload option in main file menu"
It sort of baffles me why this is not already available in the main menu:

![screenshot from 2018-11-03 20-03-33](https://user-images.githubusercontent.com/11139560/47959526-98bd3480-dfa3-11e8-9a25-080aaffdf832.png)

in the file menu, I have to select exit and then manually re-open vscode.

in the file menu there should be a "reload" option in the dropdown so that I can restart vscode upon some se

[2018-11-04 03:39] RyanReedUSE opened #62530 "Section Below Code Displaying Black Space or a Replica of Navigation"
Steps to reproduce:
- [ ] Open folder or solution
- [ ] Open a file.
- [ ] See weird black space or application frame and navigation repeated.

![image](https://user-images.githubusercontent.com/30160566/47959719-3c650f80-dfb9-11e8-8076-964b7cb00e83.png)

[2018-11-04 04:08] braunsonm opened #62531 "Support negative filters on text"
It seems like attempting to filter out certain text from errors or warnings does not work. Take the following for example:

Filtering to include a warning:
![](https://i.imgur.com/swIdNNl.png)

Filtering to exclude the warning:
![](https://i.imgur.com/ZKFful8.png)

I have also tried using quotes. It seems like the exclude `!` flag does not apply to text.

[2018-11-04 04:45] ArtHome12 opened #62532 "integrated-terminal (x86_64-unknown-linux-gnu)"
Issue Type: <b>Bug</b>

The behavior of the OS terminal and integrated VSCode differs.
In the OS terminal:
[code]
In the VSCode integrated:
[code]
The difference is **-unknown-** and **-pc-**. Result of whoami is the same on both terminals.
This is not a minor problem, it manifests itself further and breaks the compilation of complex projects under VSCode when with CLI is Ok.

In the OS terminal:

[2018-11-04 05:26] ryanhaney opened #62533 "Multi-file tabs + "Typed" folders"
**Multi-file Tabs**

I work on projects that often involve a handful of small files that effectively represent a single component. In my case, these files are located in the same folder:

- Component A
  - File 1.tsx
  - File 2.scss
- Component B
  - File 3.tsx
  - File 4.scss
  - File 5.spec.js

What I do currently is split the editor into two tab groups, one containing File 1 and 3, and another

[2018-11-04 05:30] dhalima3 opened #62534 "Git - Unable to set a shortcut to stage or revert git change after Show Next Change (when dirtyDiffVisible)"
- VSCode Version: 1.28.2
- OS Version: macOS High Sierra 10.13.5

Steps to Reproduce:
1. Assign a shortcut to stage and revert change when dirtyDiffVisible.  Below is what I had in my keybindings.json file.
[code]

2. Load a file with some unstaged changes.  Use command `Show next change` from the command palette to go to next change and bring up dirty diff view.  When evoking the shortcut to eith

[2018-11-04 05:46] JoeZhouYH opened #62535 "Cannot start VSCode without network"
Issue Type: <b>Bug</b>

1.disconnect network
2.run "Code" in command line
3.It will show:
dns.js:246
    this._handle = new ChannelWrap();
                   ^

Error: EFILE
    at new Resolver (dns.js:246:20)
    at dns.js:377:25
    at dns.js:431:3
    at NativeModule.compile (bootstrap_node.js:606:7)
    at NativeModule.require (bootstrap_node.js:550:18)
    at net.js:45:13
    at net.js:1730:3

[2018-11-04 06:37] avannaldas commented on #62529
I can take this up, looking into it.

[2018-11-04 06:37] JoeZhouYH commented on #62535
似乎没有官方的解决方案，但参考#7570，里面有人给出了一种避免问题的方式：
https://docs.microsoft.com/en-us/previous-versions/tn-archive/cc708322(v=ws.10)

microsoft loopback adapter
就是安装在本机上的一块虚拟网卡，它跟本机上的其它物理网卡、和物理网卡连接的网络是没有关系的，你可以理解成这块网卡上的网线接到了另外一个空白网络。

它的作用仅仅是用来给那些需要本机配置有网络的服务程序调试用，它不能与实体网络进行通信。

举个最简单的例子，你的电脑没有网卡，想给本机安装WINDOWS的DNS服务试着玩，但DNS服务在启动时若检测到本机没有网络会报错停止，这时你安装块loopback adapter网卡就有用了。

[2018-11-04 07:01] ndbroadbent opened #62536 "macOS Mojave: VSCode keeps adding lots of duplicate icons to the right side of my Dock"
- VSCode Version: 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850)
- OS Version: MacOS Mojave (10.14)

I keep right clicking the icons and choosing "Remove from Dock", but they keep coming back at a rate of around 1 per day. It's really, really annoying. Is this something to do with automatic updates?

<img width="242" alt="screen shot 2018-11-04 at 1 58 52 pm" src="https://user-images.githubuser

[2018-11-04 07:09] ndbroadbent commented on #62536
Ah, MacOS Mojave has started adding "Recent Applications" to the dock. [Here's an article that show how you can turn off that feature.](https://www.tekrevue.com/tip/recent-applications-extra-icons-mojave-dock/)

However, it seems like a useful feature so I want to keep using it, and it would be great if VS Code could do something to prevent the duplicate icons. My hunch is that this is because VS

[2018-11-04 07:12] #42821 closed

[2018-11-04 07:40] plantain-00 opened #62539 "VSCode extension F5 debug behavior is different with the extension is published"
- VSCode Version: 1.28.2 and 1.29.0-insider
- OS Version: 10.12.6 (16G1510)

Steps to Reproduce:

1. Open the VSCode extension project(yarn && yarn build) and press F5 to start: https://github.com/plantain-00/vscode-type-coverage
2. Open a directory: https://github.com/plantain-00/type-coverage
3. After a few seconds, it shows 13 problems
4. Stop debug, open the same directory, install the extensi

[2018-11-04 07:49] ShayCormac1963 opened #62540 "Request new Breadcrumb for Python likes Pycharm did"
Request new Breadcrumb for Python likes Pycharm did
![image](https://user-images.githubusercontent.com/19632359/47961581-bf817680-e048-11e8-99c6-2bdcb6d3f28b.png)
☝Perfect Breadcrumb!!!!!!!
![image](https://user-images.githubusercontent.com/19632359/47961589-ec358e00-e048-11e8-90a7-2a0203336c29.png)
☝shitty Breadcrumb

[2018-11-04 09:01] ShayCormac1963 commented on #62540
I want it show The logical structure of the program rather than variable

[2018-11-04 09:39] mrsaadme opened #62541 "Crash"
Issue Type: <b>Bug</b>

Vscode keeps on crashing after its latest update

VS Code version: Code - Insiders 1.29.0-insider (4b2fac2b6da220f62ff58b2766e4ecc1f561be94, 2018-10-30T16:53:45.728Z)
OS version: Windows_NT ia32 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz (4 x 2904)|
|GPU Status|2d_canvas: enabled<br>checker_ima

[2018-11-04 09:40] med1001 commented on #16110
this feature will make our life easier.

[2018-11-04 09:42] ebraminio commented on #44436
There is a patch for this here https://github.com/xtermjs/xterm.js/pull/1577/

[2018-11-04 09:43] avkonst commented on #22261
In addition to the above. As a user of vscode, I expect my find references
hot key combination to open the side bar list. It seems list references is
not bound to the same hot key combination.

On Sun, 4 Nov 2018, 11:14 uglycoyote <notifications@github.com wrote:

[2018-11-04 09:58] ORESoftware commented on #62529
thx

On Sun, Nov 4, 2018, 00:21 Abhijit Annaldas <notifications@github.com>
wrote:

[2018-11-04 10:12] #61763 closed

[2018-11-04 10:30] ph3ll3r opened #62542 ""invalid columns" that are valid column and the query works correctly"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

The table function Sales.udft_GetCustomerSalesOrders declares aliases
    su.companyname as SupplierCompanyName,
    s.companyname as ShipperCompanyName,
correctly.
The cross apply query projects the
   , u.SupplierCompanyName
     , u.ShipperCompanyName
as "invalid columns"

[2018-11-04 11:07] sinesc commented on #37315
I find the current behavior particularly annoying when refactoring code. Something as simple as replacing a value argument with a call turns into a slow and painful hunt for the correct location to insert the closing brace without it being stolen again.
I wish it would at the very least stop disregarding me after I move the cursor back before the current closing brace and try again to insert the n

[2018-11-04 11:16] iamkabirmalik opened #62543 "Visual Studio Code on Window Store"
Create UWP version of vs code so that it can be used with Windows 10 S.

[2018-11-04 11:28] gulshan commented on #62543
Duplicate of #10759

[2018-11-04 11:57] Rolanddoda opened #62544 "Some shortcuts do not work when the cursor is inside a file"
- VSCode Version: 1.28.2
- OS Version: Windows 10

Steps to Reproduce:

1. Open a file and set the cursor inside that file
2. Press `Crtl + P`

Expected behavior:
 This command should open a panel, searching for files
Actual behavior:
 This command it doesn't work when the cursor is inside any file.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-11-04 12:17] Rolanddoda commented on #62544
Somehow an extension was blocking some shortcuts inside a file. So I disabled all extensions and then enabled only why I needed. Now I am not facing this issue anymore.

[2018-11-04 12:17] #62544 closed

[2018-11-04 12:38] medic17 opened #62545 "python extension need to restart vs code to be able to switch virtual env interpreter"
- VSCode Version: 1.28.2
- OS Version: Windows 7 Pro X64

Steps to Reproduce:

1. Create new virtual environment
2. Use command pallet  to switch interpreter
3. You will not see new virtual python interpreter

I suspect that the extension only looks up the path to virtual environment folders given in settings.json at start up.

Does this issue occur when all extensions are disabled?: No

[2018-11-04 12:41] medic17 commented on #62545
not duplicate

[2018-11-04 13:08] hanandjun commented on #61810
@atombender I also encountered the same problem, but my environment is as follows:

![20181104210309](https://user-images.githubusercontent.com/17228526/47964461-74ca2380-e075-11e8-8e83-0bfde26535e8.png)

[2018-11-04 13:34] Razzeee commented on #6929
This would still be very appreciated.

For reference https://github.com/OmniSharp/omnisharp-vscode/issues/2648#issuecomment-435528564

[2018-11-04 13:40] kingdavidigbayilola opened #62546 "vs code and vs code insiders update crashes without an internet connection"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.code --verbose
2.disabled extension

still not working

Does this issue occur when all extensions are disabled?: No

[2018-11-04 14:07] SuperManEver commented on #62393
@gpoussel Yes. I'm aware of this behavior and how to deal with it. I'm not being able to solve my case using your approach

[2018-11-04 14:10] SuperManEver commented on #62393
@kieferrm @gpoussel I was able to fix my issue by tweaking some option in settings. it's called 'Enable Tabs' or something like that. Thank you for help. This issue might be closed I guess

[2018-11-04 15:28] kieferrm commented on #62542
Please file the issue against the SQL extension at
https://github.com/Microsoft/vscode-mssql/issues. Thanks!

[2018-11-04 15:29] #62542 closed

[2018-11-04 15:30] kieferrm commented on #62541
@mrsaadme can you pls provide more detailed steps? What are you doing when it happens? Does it also happen when you disable all extensions with `code-insiders --disable-extensions`?

[2018-11-04 15:31] kieferrm commented on #62541
/needsMoreInfo

[2018-11-04 15:50] kieferrm commented on #62535
This is fixed in electron 3.0 and we're working on adopting 3.0.

[2018-11-04 15:50] kieferrm commented on #62535
/duplicate of #7570

[2018-11-04 15:50] #62535 closed

[2018-11-04 16:07] GuiRitter opened #62547 "Multiline pasting fails on exactly two lines"
Issue Type: <b>Bug</b>

Hi everyone.

Consider the following piece of text:

[code]

Copy the `foo` word from arrow to arrow, in order to include the new line character. Place the caret at the end of the line containing `1st`. Place another caret at the end of the line containing `2nd` (default `Alt+click`). Paste. This is the expected result:

[code]

This is the actual result:

[code]

Only one

[2018-11-04 16:09] kieferrm commented on #62532
If what you show above is the authentic output then based on the your prompt it seems that your OSS terminal is differently configured from your VS Code terminal. I'd suspect that this is also the cause for your different host/target configurations for gcc.

[2018-11-04 16:17] kieferrm commented on #62531
There are a couple of issues here:
1) '!' only works with glob patters
2) 1) is currently broken

[2018-11-04 16:19] kieferrm commented on #62530
/needsMoreInfo

[2018-11-04 16:29] #62523 closed

[2018-11-04 16:33] kieferrm commented on #62520
@zongka did you get VS Code through anaconda or did you install it via a download from code.visualstudio.com? If you got it through anaconda, can you please try to install from our website? Also, what are the permissions on the  directory `/home/xxx/.vscode/extentions/`?

[2018-11-04 16:33] kieferrm commented on #62520
/needsMoreInfo

[2018-11-04 16:35] kieferrm commented on #62519
/duplicate of #62464

[2018-11-04 16:35] #62519 closed

[2018-11-04 16:47] kieferrm commented on #62511
https://github.com/Microsoft/vscode/issues/62511#issuecomment-435562136 is unrelated to this issue as it shows the renderer process being active.

[2018-11-04 16:52] kieferrm commented on #62518
@drk-mtr extensions should conform to the `file.excludes` setting if it makes sense for their use case. Not quite sure how to help you hear. You could test extensions one-by-one but since you have a long list, this is quite a chore.

[2018-11-04 16:57] kieferrm commented on #62510
@lotapp please file the issue against the Python extension here
https://github.com/Microsoft/vscode-python/issues. Thanks!

[2018-11-04 16:57] #62510 closed

[2018-11-04 17:09] kieferrm commented on #62501
There are reports about font issues on 18.10 in general. Some claim it only happens when the update to 18.10 and not in a clean install. We'll keep tracking the issue but it's unclear if there's anything we can do.

[2018-11-04 17:13] kieferrm commented on #62450
Please file the issue against the Python extension at
https://github.com/Microsoft/vscode-python/issues. Thanks!

[2018-11-04 17:13] #62450 closed

[2018-11-04 17:14] weinand commented on #62539
What are the differences between 13 and the 33 problems?
Do you see a pattern?

[2018-11-04 17:15] kingdavidigbayilola commented on #62546
how do i get electron 3.0

[2018-11-04 17:29] kieferrm commented on #62439
We don't provide a homebrew install. Does the same issue occur for you when you install VS Code directly from https://code.visualstudio.com?

[2018-11-04 17:29] kieferrm commented on #62439
/needsMoreInfo

[2018-11-04 17:34] kieferrm commented on #62437
This is what I get in the latest insider without any C/C++ extension installed:

<img width="592" alt="image" src="https://user-images.githubusercontent.com/4674940/47967661-b4145800-e014-11e8-94dc-c95411e7dc2a.png">

[2018-11-04 17:34] #62437 closed

[2018-11-04 17:38] kieferrm commented on #62436
@Chandu3245 pls update to the latest version 1.28.2. Also see #60318.

@graph can you please file a separate issue. Please include which processes are running wild. Please use `code --status`. Also, please see https://github.com/Microsoft/vscode/wiki/Performance-Issues.

Thanks!

[2018-11-04 17:38] #62436 closed

[2018-11-04 17:40] kieferrm commented on #62433
@entonio pls see
https://github.com/Microsoft/vscode/issues/62433#issuecomment-435580305 above.

[2018-11-04 17:40] #62433 closed

[2018-11-04 17:47] gnarum commented on #62501
Thanks for the reply @kieferrm. I did a clean install though.

According to launchpad both Ubuntu 18.04 and 18.10 have the same freetype version (https://launchpad.net/ubuntu/+source/freetype).

I'll see what I can find upstream.

[2018-11-04 17:48] kieferrm commented on #62244
Please use the user installer.
<img width="325" alt="image" src="https://user-images.githubusercontent.com/4674940/47967826-9c3dd380-e016-11e8-8e0d-1f9e0d148ca9.png">

VS Code will then update in the background and will notify you that's ready to reload.
<img width="50" alt="image" src="https://user-images.githubusercontent.com/4674940/47967838-b8da0b80-e016-11e8-8cc5-74017d4c75dd.png">

[2018-11-04 17:49] #62244 closed

[2018-11-04 17:49] kieferrm commented on #62431
/duplicate of #62427

[2018-11-04 17:49] #62431 closed

[2018-11-04 17:52] #62393 closed

[2018-11-04 17:53] kieferrm commented on #62327
@rulyotano What's your VS Code version? Insiders?

[2018-11-04 17:56] kieferrm commented on #62194
@uwbwsvd correct, use <kbd>F11</kbd> to toggle in or out of full-screen mode, you can also go through the command palette.

[2018-11-04 17:57] #62194 closed

[2018-11-04 17:58] kieferrm commented on #62150
@Kuuak are sitting behind a proxy server?

[2018-11-04 18:01] kieferrm commented on #62128
@janbodnar do you know what changed on your system? Reboot? System updates?

[2018-11-04 18:04] kieferrm commented on #62042
@hazratgs thanks for creating the video. Can you please run `code -status` when the CPU usage is high? Thanks!

[2018-11-04 18:05] RyanReedUSE commented on #62530
Sorry, what other information could I include? At random times the app shows other parts of the application. It's like it duplicating some of the rendered components. It happens in the code editor, the navigation, and the console at random items. I'm currently on using the insiders build.

![image](https://user-images.githubusercontent.com/30160566/47968018-c1880d00-e029-11e8-9078-cc2bff9c7936.png

[2018-11-04 18:06] RyanReedUSE commented on #62530
/insiders

[2018-11-04 18:07] kieferrm commented on #61904
Do you have any recommended extensions, i.e. is the list empty, or did it change? We cycle the recommended extensions, so you'll see different ones over time.

[2018-11-04 18:08] kieferrm commented on #61871
@overflowz can you confirm that it's the Python extension in your case as well?

[2018-11-04 18:13] kieferrm commented on #61769
Please file an issue following the instructions here: https://github.com/Microsoft/vscode/wiki/Performance-Issues

[2018-11-04 18:16] kieferrm commented on #61838
@raksa, I see only one window is restored. Does the same happen if you set the setting to 'all', quit VS Code through the 'File' menu, then restart, open multiple windows, and quit through the 'File' menu again?

[2018-11-04 18:35] octref commented on #62493
1. https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-rename-tag
2. You need to run `Emmet: Expand Abbreviation`. I don't think tab can be configured to work that way.
3. There is no such feature. What happens when they don't have the same indent?
4. That's right. You need to indent it manually. For example:

[code]

If you duplicate the top line, the editor doesn't know what's

[2018-11-04 18:35] #62493 closed

[2018-11-04 18:51] overflowz commented on #61871
@kieferrm well, I wrote all the extensions I have currently so yeah, I do have but I'm not using python tho ;d

[2018-11-04 19:00] sandy081 commented on #61918
Assigning to November for investigation

[2018-11-04 19:04] sandy081 commented on #62174
@Mohamad-Amin-Ataee Can you please show a screen shot of what you are seeing in Extensions view?

Also open Dev tools using `Development: Toggle Developer Tools` command in Command Pallette and check if there are any errors in console or network tab?

[2018-11-04 19:05] sandy081 commented on #62347
@John0King Restart VS Code and they will be deleted. We clean up older or uninstalled version when VS Code is restarted.

[2018-11-04 19:05] #62347 closed

[2018-11-04 19:32] amkr2525 opened #62548 "vs code (1.28.2) version is not launching in offline mode"
- VSCode Version:1.28.2
- OS Version:windows 10

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-11-04 19:37] YisraelV commented on #62399
@ramya-rao-a

1 [in this code](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/parameterHints/parameterHintsWidget.ts#L409-L431) both signature.documentation and activeParameter.documentation have value of empty string. Isn't this a bug with the language server for not making them null? That is the reason [this check](https://github.com/Microsoft/vscode/blob/master/src/vs/edi

[2018-11-04 20:47] #62543 closed

[2018-11-04 21:07] Ash258 commented on #59787
Since few insiders version (noticed it about 5 days ago) I can see commit hook output. 🤔

![Hook](https://i.imgur.com/ZrwQ0WE.png)

[2018-11-04 21:08] FreHu opened #62550 "Docs suggestion - add ability to maximize pictures"
Often the pictures are screenshots full of text which can be hard to read. As an example, look at the screenshots with the debugger attached at https://code.visualstudio.com/docs/extensions/example-language-server

[2018-11-04 21:31] roblourens commented on #62494
I think "on the path" is correct.

[2018-11-04 23:02] rajinder-yadav commented on #61987
This happens with NVidia video cards only, I got a new ATI Radeon card and this problem doesn't exist for this card.

[2018-11-04 23:19] janbodnar commented on #62128
@kieferrm I have not used Code on Linux for a couple of days. I tried it after you have asked for additional details. There were no system updates.

[2018-11-04 23:31] plantain-00 commented on #62539
The 20 new problems have these patterns:
1. for...of
[code]
2. sourceFile.forEachChild
[code]
3. instanceof
[code]
4. Array.map
[code]
5. Promise
[code]
It seems the 20 problems are all typescript related.

Days ago, I checked maybe `process.cwd()` caused this, but they are all `/`.

[2018-11-04 23:33] #62539 closed

[2018-11-04 23:34] weinand commented on #62539
Sorry, but this looks like a problem with your extension.

[2018-11-04 23:54] plantain-00 commented on #62539
Can you provide a link about the difference between F5 debug and run as an extension?

[2018-11-05 00:04] MoxieMoo opened #62552 "Error with python. Says 'No module named '"module"'' for every module i try and use"
I have been trying to use my modules in python for a day now. so far no success I have tried to restart the app, redownload the module and etc. (basically anything I could find on the internet to fix this problem). if anyone here can help me I would greatly appreciate it.

from,  MoxieMoo

[2018-11-05 00:10] Astrantia opened #62553 "Settings UX - Slider"
This is a feature request to add sliders for settings that take values from A to B.

[2018-11-05 00:12] Astrantia opened #62554 "Settings JSON - Add sort by keys button/link"
I realize the focus has shifted to settings GUI, yet the json file is still just as important as it was before and sorting it with keys would be a quality improvement.

[2018-11-05 00:14] Astrantia opened #62555 "Settings UX - JSON input field"
This is a feature request for the settings ui. With it being introduced, we still have to go to the json editor for more complicated settings. What's the harm of having a multiline Monaco json editor in settings gui?

@roblourens

[2018-11-05 00:57] mysea opened #62556 "Annotation"
Issue Type: <b>Bug</b>

Before pressing the shortcut key ctrl+/, the JavaScript annotation is //, but now it becomes ``.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17134

[2018-11-05 01:08] xgqfrms opened #62558 "create file path bug"
# vscode can't auto figure out the folder path   & create file path bug

![image](https://user-images.githubusercontent.com/7291672/47972663-5269f180-e0d9-11e8-85bf-f5a9d954d23f.png)

***
- VSCode Version: 1.5.1
- OS Version: Windows 10 pro x64

![image](https://user-images.githubusercontent.com/7291672/47972743-0ff4e480-e0da-11e8-8dc6-a0b1c0b0170a.png)

Steps to Reproduce:

1. click + `new File`

[2018-11-05 01:13] John0King commented on #62347
@sandy081  as my test, It will do as u say when I uninstall a extension.
but not work as **update** , ~~there's no `.obsolete` file.~~
There no extension update now, I will test again when a extension has an update.
I fill another issue if it doesn't work as expect.

[2018-11-05 01:16] SendAcacia opened #62559 "Memory and CPU usage is too high"
Issue Type: <b>Performance Issue</b>

Hello, thank you very much for the convenience brought by our products. Recently, when I was programming, I found that my computer memory usage is as high as 2G to 3G, CPU is up to 80%, and I often restart it. I hope I can solve it. Thanks again.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Wind

[2018-11-05 01:19] #61189 closed

[2018-11-05 01:47] JoeZhouYH commented on #62535
@kieferrm Thanks.By referring to issue #7570, I have known what's going on about this problem.It will be thankful you fix it.

[2018-11-05 01:57] bnb opened #62560 "npm publish silently fails on OTP prompt"
Issue Type: <b>Bug</b>

As an npm user, I've got 2FA for publishes turned on. When I try to run `npm publish` from the Terminal inside of VS Code with the following error:

[code]

If I run the same command from my normal terminal application, I am prompted for a one-time password (OTP) that I can find in my authenticator app. It seems that, for whatever reason, VS Code does not play well with npm

[2018-11-05 02:14] anyclub commented on #43087
same question

win10 64
vscode 1.28.2

[2018-11-05 02:18] bigmgreen opened #62561 "when I run {start /max "VSCODE" "H:\Microsoft VS Code\Code.exe"}"
- VSCode Version: 1.28.2
- OS Version: win10 64

Steps to Reproduce:

1. `start /max "VSCODE" "H:\Microsoft VS Code\Code.exe"` by cmd;
2. when it opened, but cmd not exit;
3. the message:
[code]
4. I clicked the close btn of the cmd, cmd and vsocde exit, was that ok?

Does this issue occur when all extensions are disabled?: Yes/No

[2018-11-05 02:32] yanhaiming56 opened #62562 "opencv can't show function list and funciton document"
Issue Type: <b>Bug</b>

when I write python code,calling the opencv function like "cv2.imread",it can't show function list of opencv and under the "cv2" which show the red wave line.In fact, it's no problem and can run normally.
![image](https://user-images.githubusercontent.com/26322264/47974762-02455c00-e0e6-11e8-8349-69eee8347124.png)

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e

[2018-11-05 02:53] sevenryze commented on #62018
So, any update here? do you need more information to diagnose?

[2018-11-05 03:02] amwamew opened #62563 "JIBA"
Issue Type: <b>Feature Request</b>

几把毛

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 6.1.7601

[2018-11-05 03:02] amwamew opened #62564 "JIBA"
Issue Type: <b>Feature Request</b>

几把毛

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 6.1.7601

[2018-11-05 03:02] amwamew commented on #62564
shut

[2018-11-05 03:02] #62564 closed

[2018-11-05 03:03] josalt opened #62565 "Double click on file explorer to rename file."
Self explanatory title.

[2018-11-05 03:07] fiveisprime commented on #62494
Thanks! I've never heard "on the path" before and I trust your experience. Thanks for pointing that out.

[2018-11-05 03:15] ghost opened #62566 "Easier way to find change log"

[2018-11-05 03:24] metasong opened #62567 "[Feature} Add a command to createCursor"
currently we have command `editor.action.insertCursorBelow` and `editor.action.insertCursorAbove`, these command cound be binded to shortcuts, but the `insertCursor` could only be triggered with mouse `Alt+click`.

with a command and bind a shortcut to it, we could totally using keyboard to add another cusor.

i.e.
move cursor and add a cursor, move the cursor to another position and triger this c

[2018-11-05 03:35] Astrantia commented on #50140
No plans for this in 2018?

[2018-11-05 04:05] roblourens commented on #61157
Could you try in this build using Electron 3? https://az764295.vo.msecnd.net/exploration/a19e0f85ac7167f27716b3cbbb07a6164f47684e/VSCode-win32-x64-1.29.0-exploration.zip

[2018-11-05 04:14] roblourens commented on #62559
Can you look at the process explorer when vscode is using high cpu, to find out which process is using high cpu? The attached details only shows normal low cpu usage.

[2018-11-05 04:27] aparrish22 opened #62568 "Java no longer working"
Issue Type: <b>Bug</b>

I don't know why, but Java stopped working for some reason. I didn't change anything. One day I turn my computer off after successfully running a Java code on VS Code. Then the next day, right after I turn on my pc and open up VS code, I try to run my Java code(s), but VS code returns:
"Error: Could not find or load main class <myjavafilename>"

And don't ask me if I instal

[2018-11-05 04:34] QJjs opened #62569 "Rename symbol working incorrectly for Sass placeholder selectors"
- VSCode Version: 1.28.2
- OS Version: Windows 10

## Note: this only happens for `.scss` file types, as `.sass` is not supported by VSCode without extensions.

Steps to Reproduce:

1. Place cursor over sass placeholder selector
2. Initiate "Rename Symbol" command (through command palette, keyboard shortcuts, etc.)
3. Attempt to rename

After completion, the text editor will have renamed the varia

[2018-11-05 04:42] jkells commented on #62421
@jrieken I tried, left the dev tools open while I've been working so I could run it when it freezes. Unfortunately it just hangs Profiling... can't click stop. Haven't tried without extensions yet.

[2018-11-05 05:17] oiervictor commented on #62442
Em.... I have fixed it.Thanks

[2018-11-05 05:18] Sioxas commented on #16221
Looking for such an extension for Java

[2018-11-05 05:38] Alfred-kai opened #62570 "eslint menu can't scroll to bottom"
Issue Type: <b>Bug</b>

I can't scroll to the bottom of the menu when I tried to use eslint fix menu

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz (4 x 2400)|
|GPU Status|2d_canvas: enabled<br>che

[2018-11-05 05:59] AlexGuo1998 opened #62571 "Option for opening defintion in peek view with Ctrl+click"
When we use `Ctrl + mouse click` to jump to definition, `vscode` would open the definition in a new window, which is inconvenient for me.

It would be better if we can choose where to open definition, like in `Visual Studio`. [VS settings here](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-view-and-edit-code-by-using-peek-definition-alt-plus-f12?view=vs-2017#to-change-options-for-peek-d

[2018-11-05 06:11] nsolthe commented on #61811
Hi @joaomoreno,
I had this issue too an I am still having it.
I removed an reinstalled it. At the end I listed the content of my .desktop file

[code]

Regrads,
nsol

[2018-11-05 06:28] ashikur11 commented on #62512
Perfect thank you so much :) <3

[2018-11-05 06:43] HTw-ss commented on #62454
This problem arises after I use backspace to delete chinese character.I pressed once the backspace key, the one chinese character successfully deleted as expected, but I have to press the second time to force the cursor go back to the last character.
1.entered '测试测试'
![image](https://user-images.githubusercontent.com/20150944/47981761-18fcaa80-e108-11e8-872f-998a23aee868.png)
2.after I pressed bac

[2018-11-05 06:46] sho-87 opened #62572 "Outline view settings"
Would love to see the ability to set these outline view options in `settings.json`:

- Expand outline view by default when viewing new files
- Remember the outline panel split location when restarting VScode
- Follow cursor by default
- Default sort by type

Additionally, there seems to be a collapse all button, but no expand all...

I'm assuming theres currently no way to store those options so b

[2018-11-05 06:58] joaomoreno commented on #61811
Since this is just a warning, I'll leave it closed. I still can't repro and I'm pretty sure the semicolon is in there inside the package... so... maybe @Tyriar has an idea?

[2018-11-05 07:00] orangeok opened #62573 "can not use keyboard tap out "y""
Issue Type: <b>Bug</b>

can not  use keyboard tap out "y"

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2592)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: en

[2018-11-05 07:14] johncrisostomo commented on #55236
Also got this multiple times today on Version 1.28.2 (1.28.2). I do not close my editors and just leave my Mac on sleep most of the time. So I am not sure what triggered it.

It first asked permission to access my contacts. After an hour it was asking permission to access my calendar. I declined both; and after a few hours it was asking to access my photos. Then I thought of Googling it and found

[2018-11-05 08:02] jpenna opened #62574 "Wrong highlight when ignoring FOLDER but NOT SOME files"
- VSCode Version: 1.28.2
- OS Version: MacOS 10.13.6

Files are wrongly highlighted when using .gitignore with DON'T ignore

`.gitignore`
[code]

<img width="345" alt="screen shot 2018-11-02 at 12 19 35 pm" src="https://user-images.githubusercontent.com/16005946/47893786-d170e700-de99-11e8-8610-5131a401c2b8.png">

Code and Git are tracking correctly.

<img width="339" alt="screen shot 2018-11-02 a

[2018-11-05 08:12] #60654 closed

[2018-11-05 08:16] jrieken commented on #62497
That's currently not possible

[2018-11-05 08:18] joel-cavli opened #62576 "Vs Code Typescript Anguar 6 Project File Error"
Issue Type: <b>Bug</b>

vs code  shows error  even after setting    "experimentalDecorators": true,
Vs code shows  : Experimental support for decorators is a feature that is subject to change in a future release. Set the 'experimentalDecorators' option to remove this warning.

my tsconfig.json

[code]

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:20:56.183Z

[2018-11-05 08:31] Aliaksei-Martsinkevich commented on #62470
It's not reproduced in latest insiders build.

[2018-11-05 08:31] dbaeumer commented on #62159
@octref I see your point but the only thing we can do in the LSP to improve the doc and give examples on how the values of these strings should usually look like (in terms of their content). The goal of the LSP is to not define any UI. So if a client decides to never render an error code of a diagnostic in the UI and does this consistently this is fine with the LSP spec. If a client decides to ren

[2018-11-05 08:36] GuskiS commented on #14444
Are there any news on this?

[2018-11-05 08:50] jrieken commented on #62526
It works as designed but I agree that the doc is unclear. Format on save will not happen when auto save is configured to happen after a delay but it will happen when focus out happens.

[2018-11-05 08:52] jrieken commented on #62113
This is fixed (the message will disappear after max 5 sec) in latest insiders.

[2018-11-05 08:52] #62113 closed

[2018-11-05 08:53] #62540 closed

[2018-11-05 09:03] zmicx commented on #62132
![image](https://user-images.githubusercontent.com/26269444/47987936-caf1a200-e11b-11e8-8810-446345e0f620.png)
Today I encounter the issue again at 16:30, proccesses snapshot as the picture above,
![image](https://user-images.githubusercontent.com/26269444/47988147-66831280-e11c-11e8-9baf-80e757e45f93.png)
this picture' shown is all extensions I using

I hope it helps. Thanks a lot

[2018-11-05 09:04] greenais commented on #30038
Any progress or ETA on item 2 feature: "Problems View represents Current File"?
There really should be some options to limit helpiness of VS code.
Closing unwanted tabs is the only option now, very annoying

[2018-11-05 09:08] zmicx commented on #62132
![image](https://user-images.githubusercontent.com/26269444/47988480-46a01e80-e11d-11e8-9d5b-36a5fcb5a9a9.png)
It's My work pc information

[2018-11-05 09:09] cbluth commented on #62456
[code]
@kieferrm

[2018-11-05 09:17] AJB99 commented on #519
I could not agree with @dougc84 more.

In my mind this really reeks of corpensource horseshit.

Microsoft wants the name and the fame, but as soon as they get mass adoption (or close to it), they start focusing on features that only benefit the benefactor.

I'm literally starting to wonder if there's some sort of ridiculous milieu control behind the resistance to this feature request.

Honestly, h

[2018-11-05 09:21] isidorn commented on #62237
We believe this is a regression, adding candidate label

[2018-11-05 09:22] shanemikel commented on #61775
I actually ran the project against symlinked paths *and* vscode had the symlinked paths.  Looks like node resolved the symlinks and vscode didn't.

[2018-11-05 09:48] weinand commented on #62539
The only difference is that with F5 the underlying node.js runtime in in debug mode.

I still do not understand what errors are reported. Please provide at least screenshots of the problems view in the two setups.

[2018-11-05 09:49] isidorn commented on #15104
fyi @misolori
we could introduce this under a setting

[2018-11-05 09:53] isidorn commented on #62346
@eamodio I plan to do some refactoring in this week which might improve this. If you still see those issues in a week it would be great to open a new issue so we can work on fixing those. Thanks a lot

[2018-11-05 09:53] crewone commented on #60965
This is still not fixed. I reduced it to this settings.json:

`
{
    "editor.fontFamily": "source code pro",
    "editor.fontSize": 15
}
`

[2018-11-05 09:57] alexr00 commented on #62404
Thanks for filing! Duplicate of #62474

[2018-11-05 09:57] #62404 closed

[2018-11-05 10:02] #62471 closed

[2018-11-05 10:06] isidorn commented on #62480
It is only when the editor does not have focus, because otherwise it triggers Toggle Vertical / Horizontal Editor Layout.
@bpasero imho the Toggle Vertical Horizontal Editor Layout no longer deserves a shprtcut. In fact I think that feature should be removed alltogether since we now support the grid.
Forwarding to @bpasero since he added this command

[2018-11-05 10:11] isidorn commented on #62529
Use `F1 > reload window`

We will not add it to the file menu, it provides clutter. Also the reload command has nothing to do with files and does not belong in that menu at all.
Closing as designed

[2018-11-05 10:11] #62529 closed

[2018-11-05 10:13] dbaeumer commented on #56721
Merged PR into master.

[2018-11-05 10:13] #56721 closed

[2018-11-05 10:15] baixinfei opened #62578 "终端编辑多次"
没有开启自动保存，但是ctrl+s，终端会编译多次

[2018-11-05 10:15] isidorn commented on #62565
Dup of https://github.com/Microsoft/vscode/issues/61300

[2018-11-05 10:15] #62565 closed

[2018-11-05 10:17] isidorn commented on #54214
The startDebugging API was always returning true. To verify:
1. Have a wrong launch configuration, verify that startDebuggin returns false
2. Have a prelaunch task that fails and verify that startDebugging returns false if you decided not to continue debugging

[2018-11-05 10:22] eypsum commented on #62435
Additionally,  if there are symbols like below,
replaceWaypoints()
requestFromTextSearchResult()
registerService()

If,  search with 'r'
 that candidates ==>
registerService()
replaceWaypoints()
requestFromTextSearchResult()

If, search with 'rw'
    that candidates ==>
     replaceWaypoints()    --> good

now, the problem is following.

if, search with 'rf'
    that candidates ==> there is nothin

[2018-11-05 10:32] praad commented on #62123
No it is not related to extensions I would like to use normal inline variable annotations like this without any extension
`/** @var Stock $a */`

[2018-11-05 10:36] 0matgal0 opened #62580 "Drop gconf dependency"
Afaik, electron should build with dconf instead of gconf.

[2018-11-05 10:37] alexhass commented on #9539
I never argued against auto-update of extensions, Only about vscode itself that is installed system wide.

[2018-11-05 10:44] weinand commented on #62507
How does your launch.json look like?

[2018-11-05 10:44] alexhass opened #62581 "Add preferences per windows registry"
It looks like MS has implemented a way to access the windows registry for electron applications, see https://www.microsoft.com/developerblog/2015/11/09/reading-and-writing-to-the-windows-registry-in-process-from-node-js/.

Enterprise administrators need to be able to pre-configure applications behaviour per machine/per user via Windows registry.

I need to disable automatic update (`update-channel

[2018-11-05 10:47] sho-87 opened #62582 "Theme development: default theme switching"
- VSCode Version: 1.28.2
- OS Version: Windows 10

Steps to Reproduce:

1a. Set primary VScode theme in `settings.json` using `"workbench.colorTheme": "theme"`.
1b. For the second problem below, change the order of the activity bar icons
2. Create new color theme using Yeoman extension generator
3. In `launch.json` set args to `["--extensionDevelopmentPath=${workspaceFolder}", "--disable-extension

[2018-11-05 11:02] mzabaluev commented on #60664
This occurs to me with 1.28.2 on Fedora. Installed `code-1.28.2-1539736121.el7.x86_64` from the official yum repository. Every time Code is started, the XDG default for MIME type `text/html` gets overridden to `code-url-handler.desktop`. This is very annoying and invasive, don't do it from an application.

[2018-11-05 11:02] jrieken commented on #22261
Sure, this is to complement this existing peek UI and not to replace it. We generally do not take something away from users. I might disagree but many users actually like the peek UI and taking that away isn't an option. We have issues to add a setting to disable peek view (https://github.com/Microsoft/vscode/issues/53164) and we track user defined (context) menus, see
https://github.com/Microsoft

[2018-11-05 11:05] jrieken commented on #22261
Closing this now as we have a first version in insiders (http://code.visualstudio.com/insiders/). Further issues should be raised here: https://github.com/Microsoft/vscode-references-view/issues