[2020-06-03 05:02] anemperor opened #99215 "Failed to spawn 'dotnet --info'"
- VSCode Version: 1.45.1
- OS Version: Windows 10

Steps to Reproduce:

1. Install C# Version 1.22.0
2. Run VS Code
3. VS Code, or the extension, is not recognizing Type or Namespaces and is generating 2K+ errors.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-06-03 05:10] bramus opened #99216 ""Search Editor" searches `.git` folder"
When searching your codebase – either using the Search pane in the sidebar or through a Search Editor – VS Code will ignore some folders, such as the `.git` folder. However, when opening the search results from the sidebar in a Search Editor, it won't adhere to this behavior.

- VSCode Version: 1.45.1
- OS Version: Darwin x64 19.5.0

Steps to Reproduce:

1. Search for a term using the search in th

[2020-06-03 05:13] AliabbasMerchant commented on #95743
This issue is the same as #97472, and @mdasifhasan has already found a solution to the issue there

[2020-06-03 05:15] fish-finger opened #99217 "remote container activated from right click and maintain context of original folder"
Apologies in advance if a duplicate (or already available but not to my knowledge).

Most of my projects involve submodules within a global repo, I would be very grateful if you could consider a feature that allows a remote container to be launched from a folder via a right click menu for the folder. You currently have to launch via what seems a number of redundant steps to select the folder conte

[2020-06-03 05:19] Rush commented on #48289
Often times I find myself trying to open files by leading with `../` only to find it not working ... Please re-open and fix.

[2020-06-03 05:26] chrmarti commented on #99081
Only a few QuickPicks prevent closing by clicking elsewhere. It is impossible for the user to anticipate / understand that difference. To improve that we could just not use that flag anymore ourselves (it's also part of the extension API, so we can't just remove its implementation).

On hovering: QuickPick supports a toolbar where the suggested close button would be. The toolbar items are always s

[2020-06-03 05:57] bpasero commented on #98364
@roblourens yes, but should be easy to add, e.g. we enable all proposed API for integration tests here:

https://github.com/microsoft/vscode/blob/595d2b9b916d063aadfc2c1a8c8f6df5b45572a8/test/integration/browser/src/index.ts#L47

via the `enableProposedApi` payload. Should be possible to do the same here:

https://github.com/microsoft/vscode/blob/595d2b9b916d063aadfc2c1a8c8f6df5b45572a8/test/autom

[2020-06-03 05:58] bpasero commented on #99145
I think this is OK, I do not want to add more things to `help` as this is a very specific command we will ask people to use ad-hoc.

[2020-06-03 05:58] #99145 closed

[2020-06-03 06:01] bpasero commented on #99171
@akbyrd the thing we did change is to run each set of characters that are separated by spaces on the full path. In other words, you can do multiple searches on the same path separating queries by space. If you simply don't use space, it should work as before.

[2020-06-03 06:02] bpasero commented on #99176
I guess we currently have no way to cancel the entire operation from the replace dialog. This is probably also true for the native upload.

[2020-06-03 06:03] bpasero commented on #99177
You click on the status bar entry to see a notification that has the "Cancel" button. Did you try that?

[2020-06-03 06:04] bpasero commented on #99160
Yes, this is a consequence of the quick open architecture we cannot change easily. The workaround is to simply not use space at all. It should work fine then.

[2020-06-03 06:04] #99160 closed

[2020-06-03 06:06] alexdima commented on #98990
@roblourens We can't change the semantics of `*` at this point, since so many extensions already use it. `*` means on startup. There are some extensions, like the dev containers one, which would like to activate in order to look at the folder and, with some custom logic, actively propose something to users. But the extension does not want to take time from other extensions running in during start-

[2020-06-03 06:12] akbyrd commented on #99171
This seems unnecessarily dismissive.

The "multiple queries" change does explain the very last issue I mention: "results are double matching the same letters". But that doesn't address any of the other problems.

What additional info is required?

[2020-06-03 06:14] akbyrd commented on #99160
Ugh, seriously? The response to "my search query is clearly broken" is "it's too hard"?

[2020-06-03 06:14] egamma commented on #98935
@mnovakovic could you use `yo code` before and it stopped working? Are you behind a proxy?

see also https://github.com/microsoft/vscode/issues/92388

[2020-06-03 06:15] #98445 closed

[2020-06-03 06:17] egamma commented on #98926
@lewismcruz thanks for the additional information, but I'm still not able to reproduce your problem given this information. The illustrating images did not attach properly.

[2020-06-03 06:17] #98926 closed

[2020-06-03 06:18] bpasero commented on #99039
@deepak1556 the underlying issue seems to be the same as https://github.com/microsoft/vscode/issues/98844, there is a `display-metrics-changed` event when going fullscreen that triggers some logic here:

https://github.com/microsoft/vscode/blob/595d2b9b916d063aadfc2c1a8c8f6df5b45572a8/src/vs/code/electron-main/window.ts#L434

I think it is time to revisit support for simple fullscreen. You already

[2020-06-03 06:20] intellekta commented on #33110
Thanks, works fine.

From: dq <notifications@github.com>
To:microsoft/vscode <vscode@noreply.github.com>
CC:intellekta <uwe.cramer@intellekta.de>, Comment <comment@noreply.github.com>
Date: 03.06.2020 00:02
Subject: Re: [microsoft/vscode] Synchronized Scrolling in Split Editor (#33110)
Everybody hands up, here comes Sync Scroll
( https://marketplace.visualstudio.com/items?itemName=dqisme.sync-scro

[2020-06-03 06:21] bpasero commented on #99171
@akbyrd no further info, please see https://github.com/Microsoft/vscode/issues/27317 for related issues. I think specifically https://github.com/microsoft/vscode/issues/25925 applies.

[2020-06-03 06:22] #99099 closed

[2020-06-03 06:30] chrmarti commented on #97876
Works well. Feedback part: Maybe you have experimented with web notifications. Could these be a light-enough way of telling the user that an unfocused tab hit a breakpoint?

[2020-06-03 06:30] #97876 closed

[2020-06-03 06:35] madhusudanbabar opened #99218 "Extension host crashes"
Issue Type: <b>Bug</b>

whenever i try to import a scss file into another file and start typing the name of file the extension hosts crashes everytime.
 - If i copy paste the exact name of the file then everything works fine,
- autocompletion also works fine but while manually typing the path the extension host crashes.

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-

[2020-06-03 06:35] PascalPixel commented on #95743
Closing since there is more progress on #97472

[2020-06-03 06:35] #95743 closed

[2020-06-03 06:35] bpasero commented on #98981
**Explanation:** [we have code](https://github.com/microsoft/vscode/blob/595d2b9b916d063aadfc2c1a8c8f6df5b45572a8/src/vs/workbench/services/editor/browser/editorService.ts#L1205) that observes closing of editors and in this case an untitled resource is being closed. We could change this to handle untitled files, however this would probably cause regressions for when you save the editor (where edit

[2020-06-03 06:35] aeschli commented on #98788
duplicate of https://github.com/microsoft/vscode/issues/99108

[2020-06-03 06:36] isidorn commented on #99039
😭

[2020-06-03 06:37] jrieken commented on #99155
Yeah, this isn't so easy because cell have uris like this `vscode-notebook-cell:///some/path/notebook.file#42` while the notebook itself is `file:///some/path/notebook.file`... Because of the different schemes it's hard to tell what the right file is

[2020-06-03 06:37] bpasero commented on #87446
Didn't really hear any issues about this so far, closing.

[2020-06-03 06:37] #87446 closed

[2020-06-03 06:38] isidorn commented on #97876
@chrmarti thanks for testing and for feedback. Web notifications might be too noisy for my taste, similar as I would hate a web notification when I get a chat massage. Not sure what @bpasero thinks, I am fine with experimenting.

[2020-06-03 06:41] isidorn commented on #99144
Good point. I think we should only show those actions for the "debugged" file.
Not something for endgame though.

[2020-06-03 06:41] alexdima commented on #99159
That is a valid idea, but IMHO would be slightly worse. For example, to undo a variable rename in 10 out of 15 files would make it likely that many users won't realize which files have been missed by the undo. IMHO, people expect that cross-file operations (basically edits which people cannot see) should execute only under perfectly safe conditions. For example, doing a rename where TypeScript onl

[2020-06-03 06:44] aeschli commented on #99187
We take them unmodified from the Seti-theme: https://github.com/jesseweed/seti-ui/blob/master/styles/ui-variables.less. The same colors are used for light and dark.
Of course we could patch the colors when importing and also come up with different colors for light and dark.

[2020-06-03 06:44] isidorn commented on #99168
Good catch. However this is just the browser blocking us I believe.
Also assigning to @bpasero but nothing we can do in May thus assigning to On Deck.

[2020-06-03 06:46] isidorn commented on #99121
@sbatten I think we should behave like native menus as much as possible.
Though I would suggest to only do this change on a start of milestone so we have enuogh time to get feedback.

[2020-06-03 06:46] ghost opened #99219 "sync stop"
Issue Type: <b>Bug</b>

[2020-06-03 11:25:56.645] [userDataSync] [info] Auto Sync: Started
[2020-06-03 11:25:56.645] [userDataSync] [info] Auto Sync: Triggered by Interval
[2020-06-03 11:25:58.121] [userDataSync] [info] Settings: No changes found during synchronizing settings.
[2020-06-03 11:25:58.142] [userDataSync] [info] Keybindings: No changes found during synchronizing keybindings.
[2020-06-0

[2020-06-03 06:47] elenadimitrova commented on #98819
I was talking about code changes where there are potentially tens of problems reported across many files. Sorting by error type allows us to understand how widespread each compile error is and prioritise those in order of number of occurrences for example. The filtering only allows us to get that information one error type at a time which is only useful when you know what you want to fix next.

[2020-06-03 06:47] jrieken commented on #99170
This is a misunderstanding. CodeLens is the inline command links, like "Complexity 6" in the screen capture below. They are there augment code with extra insights, like SCM information, reference information and they are always gestures to invoke a command. The light bulb on the other hand is always for source code enhancements, like refactoring or quick fixes.

<img width="458" alt="Screenshot 20

[2020-06-03 06:48] #99170 closed

[2020-06-03 06:48] jrieken commented on #99150
@sandy081 can you share the notebook?

[2020-06-03 06:49] jrieken commented on #99140
Yeah, looks like it...

[2020-06-03 06:51] jrieken commented on #99136
This is likely an issue with [`selectElement`](https://github.com/microsoft/vscode/blob/d58907bedbe7367cf57d8ab443e1782ca53e9ef7/src/vs/workbench/contrib/notebook/browser/notebookEditorWidget.ts#L717)

[2020-06-03 06:53] jrieken commented on #99142
They should, assuming this fires: https://github.com/microsoft/vscode-github-issue-notebooks/blob/0168f40b4db3e2c79cfeb045382b7cfbd85fed17/src/notebookProvider.ts#L81

[2020-06-03 06:54] samuela opened #99220 "Close warning when there are running tasks in terminal pane"
Add a warning before closing a window when there are still running tasks in the terminal pane.

[2020-06-03 06:54] jrieken commented on #99142
The event does fire, I forget to clean the diagnostics collection...

[2020-06-03 06:55] janbernloehr opened #99221 "Terminal turns black after extended use of VSCode"
VSCode's terminal flashes once and turns black. The terminal is still functional in the sense that running processes continue to produce output. One can scroll, select the output characters and copy & paste them into some editor to read them. The terminal itself is not readable anymore, though.

If one creates a new terminal in the same session everything is fine again.

**Workaround**: Zooming in

[2020-06-03 06:55] #99039 closed

[2020-06-03 06:56] bpasero commented on #99039
Actually nevermind, found a fix. `display-metrics-changed` carries information why it was triggered and if I know detect `workArea`, I will not do anything as this just means e.g. the dock got hidden, but the bounds are otherwise the same.

[2020-06-03 06:56] bpasero commented on #98844
The fix for https://github.com/microsoft/vscode/commit/7fe821d6d6663b4465a175eb8ff0b2bdf1f82994 actually should also fix this issue. But needs verification.

[2020-06-03 06:59] jrieken commented on #99147
It's a similar problem as errors for the active editor because also here the active editor is often different than the cell editor. I could/should work when focusing individual cell editors...

[2020-06-03 07:02] jrieken commented on #99153
Yeah, not so simple but independent of notebooks. The viewlet doesn't know anything about "anchor symbols" but simply remembers words at certain locations. It would need some de-dupe based on the location

[2020-06-03 07:03] bpasero commented on #97876
Worth a try I think.

[2020-06-03 07:04] bpasero commented on #99168
Maybe switching to web notifications instead would be a way out. Given this seems to be browser specific, setting upstream label.

[2020-06-03 07:07] AgrMohit commented on #98230
The crash occurs even in small projects created by 'create-react-app'.
On removing 'node_modules' folder, it works as expected without any crashes

[2020-06-03 07:10] bpasero opened #99222 "Web: extension host debugging (JS) does not work"
Steps to Reproduce:

1. macOS, Chrome
2. `npm install -g yo`
3. `npm install -g generator-code`
4. `yo code`
5. `end-js` (JS template)
6. `./resources/server/web.sh --folder /Users/bpasero/Desktop/end-js`
7. add breakpoint into the hello world command handler
8. Run
9. trigger "hello world"

=> 🐛 breakpoint not hit

[2020-06-03 07:13] alexdima commented on #99161
@sbatten I see these steps run into a separate workbench feature where files deleted on disk are still kept open and get a `(deleted)` next to them. AFAICT the cross file undo works OK because the file is still in memory and the undo operation is applied (even if the file is deleted on disk):

![Kapture 2020-06-03 at 9 11 08](https://user-images.githubusercontent.com/5047891/83606687-52162e80-a57a

[2020-06-03 07:16] bpasero opened #99223 "Web: investigate to use web notifications to indicate breakpoint hit"
Given issues such as https://github.com/microsoft/vscode/issues/99168 maybe a better approach is to fire web notifications when a breakpoint is hit.

[2020-06-03 07:16] bpasero commented on #99168
/duplicate https://github.com/microsoft/vscode/issues/99223

[2020-06-03 07:17] #99168 closed

[2020-06-03 07:18] bpasero commented on #99218
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-06-03 07:20] PDostalek commented on #98585
Thank you

[2020-06-03 07:22] joaomoreno commented on #99183
Oooof this is pretty much impossible to fix today, since `Discard All Changes` is a command which doesn't get passed any resources.

[2020-06-03 07:24] joaomoreno commented on #99129
Can you show me a screenshot of the UI piece you would like to be able to theme?

[2020-06-03 07:27] #99075 closed

[2020-06-03 07:28] alexdima commented on #98083
https://code.visualstudio.com/api/references/activation-events

Other ideas for event names:
* `eventually`
* `ultimately`
* `atLast`
* `afterAll`
* `sometime`
* `late`
* `after`
---

* `onStartup`
* `onStartupFinished`
* `onAfterStartup`
* `onDidStartup`

---

* `onIdle`
* `onReady`
* `onInitialized`
* `onLoad`

[2020-06-03 07:30] DaveEveritt commented on #99178
Already posted on the repo for this extension, but the reply then pointed me here - it's a Microsoft extension… so going round in circles!

[2020-06-03 07:30] #98980 closed

[2020-06-03 07:30] bpasero commented on #99075
Ok thanks. I cannot explain how this can happen because we use `JSON.stringify` to persist entries and `JSON.parse` to get them out. Unless these methods are broken (unlikely) I have no explanation other than maybe the data got corrupt in SQLite.

I added a try/catch as workaround but it is not a perfect change. Would really like to understand how this can happen, but to be honest this is the firs

[2020-06-03 07:30] sreejith163 commented on #98946
yes, its happening even after running with `code --disable-extensions`.
Console in `Developer: Toggle Developer Tools` is empty

[2020-06-03 07:31] joaomoreno commented on #99181
Yes, definitely because SCM messes around with views. This will be fixed by https://github.com/microsoft/vscode/issues/90461

[2020-06-03 07:31] #99181 closed

[2020-06-03 07:31] JacksonKearl commented on #99216
\duplicate #97180

[2020-06-03 07:32] joaomoreno commented on #99086
You seem to distinguish between the last tab of the drop container being pinned or not. As a user, this doesn't make much sense, since my perception is that I'm dragging a pinned tab onto a container, so it should remain pinned, independently of what the state of the last tab of that container is.

[2020-06-03 07:33] #99216 closed

[2020-06-03 07:33] #99143 closed

[2020-06-03 07:33] bpasero commented on #99143
I require the path to be absolute, but now you should see a message on the console indicating this.

[2020-06-03 07:34] bpasero commented on #98946
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-06-03 07:36] bpasero commented on #99086
Well, my argument is that you are dropping a tab _after_ an existing tab of a tab group. Now I am in conflict: should the tab be pinned or should it be after the last tab. Pinned tabs cannot be after unpinned tabs (currently), so I can either respect the index of the tab (which I prefer) or the pinned state.

[2020-06-03 07:39] isidorn commented on #99058
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-06-03 07:40] JacksonKearl commented on #99177
Oh, seems like that only works on chromium. On Safari clicking the status bar doesn't seem to do anything.

[2020-06-03 07:41] #99079 closed

[2020-06-03 07:41] aeschli commented on #97895
@sorry for the late response, to make this work, also additionalProperties: false is needed:
[code]

I made some more improvements and pushed the fix

[2020-06-03 07:42] PDostalek commented on #98584
We would need clarify those placeholders to have correct meaning of the string #98584 @jrieken
Cannot find your comment @isidorn for selectBoxCustom.selectBox

[2020-06-03 07:44] aeschli commented on #97895
Verified that a warning is shown

[2020-06-03 07:44] JacksonKearl commented on #99186
I have `editor.tabCompletion` enabled

[2020-06-03 07:44] isidorn commented on #99175
Thanks for testing and providing feedback

1. This is actually a vscode thing, since `ESC` is bound to quite a few actions each `ESC` does something else based on its priority. So for example if you have an anchor set and a find widget open, the first `ESC` will close the find widget the second will clear the anchor. I think this is fine in general, I did not want to give high priority to clearing

[2020-06-03 07:44] #99175 closed

[2020-06-03 07:45] isidorn commented on #98584
@PDostalek Here's my comment in code https://github.com/microsoft/vscode/blob/595d2b9b916d063aadfc2c1a8c8f6df5b45572a8/src/vs/base/browser/ui/selectBox/selectBoxCustom.ts#L732

"Behave like native select dropdown element."

[2020-06-03 07:48] chrmarti commented on #97876
I think the main trouble with web notifications is that you first need the user's permission to use them. Throwing the browser's 'Allow this page to show notifications?' at them without introducing why this might be needed always seems a little rough to me. Maybe first explain why this would improve the experience and go to the notification API only when the user indicated they would like to enabl

[2020-06-03 07:48] GuitarHero1969 opened #99224 "VS Code editor not recognising multiple script type tags in HTML"
- VSCode Version: 1.45.1
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

0. Enter the JSON snippet in my comment into a local folder and point VS Code extensions to that.
1. Open up VS Code (a blank untitled file editor window is opened)
2. Click on the 'Plain Text' link in the bottom status bar and select HTML from drop-down list
3. Type a single exclamation mark and 'Emmet Abbrevia

[2020-06-03 07:53] GuitarHero1969 commented on #99224
I am trying to emmet auto-complete to insert script tags in the html head, but it will only recognise the default: <script>|</script>.

I have added the following in a global local file that I have set extension path in VSCode to.
{
  "html": {
    "snippets": {
	  "script": "<script type='text/javascript' src='${1}'></script>",
	  "script": "<script type='text/paperscript' src='${1}'></script>",

[2020-06-03 07:56] sandy081 commented on #98983
If I understand correctly are you asking to trigger this hook immediately after user uninstalled it?

[2020-06-03 08:04] sreejith163 commented on #98946
Yes, still there..

[2020-06-03 08:07] weinand commented on #99222
This seems to be an issue with `js-debug`.
Turning the new JS debugger off with the setting `"debug.javascript.usePreview": false` makes it work for me.

[2020-06-03 08:11] joaomoreno commented on #99086
Isn't a split different than a drag and drop? :think

[2020-06-03 08:12] dqisme commented on #33110
Thanks for the feedback!

[2020-06-03 08:12] fcl-gary opened #99225 "Unable to change workspace folder name"
Issue Type: <b>Feature Request</b>

When I used F3 on the left to rename the folder name, it was always gray. After a long time, the gray mask disappeared, and the folder name still remained unchanged.

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 6.1.7601

[2020-06-03 08:14] madhusudanbabar commented on #99218
Can't rely on insider build as i got so many errors like this on ``` System Installer 64bit```
[code]

now trying with User Installer build.

[2020-06-03 08:19] bpasero opened #99226 "ts-check errors"
![image](https://user-images.githubusercontent.com/900690/83613203-c2757d80-a583-11ea-8ffd-0ca51bb70088.png)

[2020-06-03 08:19] madrussa commented on #99030
I'd restarted my Mac for updates between uninstalling the extension and receiving the notifications. It could be that Macos restored the complete session state when reopening the app... This issue is very hard to replicate as the notifications didn't appear often.

I'll close for now and reopen when I get another, I'll also take some screenshots and provide more info on all my installed extensions

[2020-06-03 08:19] #99030 closed

[2020-06-03 08:23] #99149 closed

[2020-06-03 08:24] bpasero commented on #99177
Ok, thanks. Safari is currently not supported.

[2020-06-03 08:25] #99177 closed

[2020-06-03 08:25] bpasero commented on #98946
Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Please use this version. Thanks!

[2020-06-03 08:26] alexdima commented on #98083
The choice in the standup was for `onStartupFinished`

[2020-06-03 08:26] bpasero commented on #99086
Yeah, fair point. Again, I am preferring to preserve the index, not the pinned state here. If you drop into an empty group, I preserve pinned state.

[2020-06-03 08:26] #99086 closed

[2020-06-03 08:26] bpasero commented on #99218
Ok

[2020-06-03 08:31] aeschli commented on #99099
To verify:
- in the WSL shell run `code-insiders --crash-reporter-directory=~/tmp .`
- you should see an error message

[2020-06-03 08:35] madhusudanbabar commented on #99218
no issues with insider build - User installer variant

i tried with all the previous extensions installed, but no issues,
everything worked fine.

[2020-06-03 08:35] tj commented on #98738
Re-opening because this makes no sense to me. This [monochrome theme](https://github.com/anotherglitchinthematrix/monochrome) performs dramatically worse than any other I have installed, but it's very unclear _why_, seeing as they are all just hex colors. This seems like potentially a fundamental issue with VS Code's DOM? I'm getting ~4 fps

[2020-06-03 08:38] #99035 closed

[2020-06-03 08:39] madhusudanbabar commented on #99218
same thing here,
actually the issue is with **color highlight** ```naumovs.color-highlight``` extension

here again the extension host crashed

[2020-06-03 08:39] sandy081 opened #99227 "Move Sign in to Sync Preferences action to Accounts drop down"
Move Sign in to Sync Preferences action to Accounts drop down

[2020-06-03 08:40] sandy081 commented on #99020
I think the action `Sign in to Sync Preferences` shall be moved to `Accounts` dropdown because we want all soft sign in actions to be there. Filed a separate issue for this - https://github.com/microsoft/vscode/issues/99227

This leaves following notifications for the user under gear menu
- VS Code Update
- Sync Conflicts

[2020-06-03 08:41] bpasero commented on #99218
OK can we try to extract the crash dump if any:
* close all code instances
* `code-insiders --crash-reporter-directory <absolute path>`
* do things that lead to crash
* see if there is a crash dump produced

[2020-06-03 08:41] bpasero commented on #99035
Pushed a change that pinned state is only preserved if an editor is moved to another group, but not copied, which is what happens when you split an editor.

[2020-06-03 08:44] bpasero commented on #99212
For historic reasons, the dirty indicator hides if auto save is <1s because I cannot stand it.

[2020-06-03 08:44] #99212 closed

[2020-06-03 08:44] fabulumar commented on #98227
I tried the above steps. and didn't help. But I can see the files from node_modules folder showing in the search even though I exclude it from the settings

settings.json:
[code]

[2020-06-03 08:46] #99141 closed

[2020-06-03 08:46] #99142 closed

[2020-06-03 08:46] manojmkv commented on #98935
I am using it first time. I have setup proxy "http.proxyStrictSSL": false.

[2020-06-03 08:47] madhusudanbabar commented on #99218
[crash.zip](https://github.com/microsoft/vscode/files/4722036/crash.zip)
here's the zip file

[2020-06-03 08:49] FlatAssembler opened #99228 "VSCode randomly fails to highlight JavaScript inside HTML"
- VSCode Version: 1.45.1
- OS Version: Oracle Linux 7

Steps to Reproduce:

1. Open this file using Visual Studio Code: https://github.com/FlatAssembler/FlatAssembler.github.io/blob/master/informatics.html
2. Scroll down to:
[code]
![image](https://user-images.githubusercontent.com/46264381/83615581-0ddd5b00-a587-11ea-8f4e-46b91b9b5925.png)
I have tried to produce a minimal example, but I just cou

[2020-06-03 08:51] alexr00 commented on #98908
ProblemMatchers are described in the Tasks section of the documentation as that is the only place they are used. You can always make a task that prints lines from a log file so that you can use ProblemMatcher.

[2020-06-03 08:52] bpasero commented on #99084
@joaomoreno not sure how to reproduce, the setting `tab.activeBorder` works for me, but maybe you enabled other settings that make this fail.

[2020-06-03 08:52] MattWilcox opened #99229 "Safer UI by re-arranging the grouping of context menu"
The horizontal breakers are functional not just aesthetic. They provide non-clickable buffer space. I have just accidentally deleted a file I wanted to rename that was not yet in GIT - because I was off by one or two pixels using my trackball.

Destructive UI elements should not be next to other UI elements, please re-group these to avoid this sort of issue in future.

![Screen Shot 2020-06-03 at

[2020-06-03 08:53] bpasero commented on #99218
Too bad, no dump got produced somehow. But you already identified an extension causing this?

[2020-06-03 08:53] joaomoreno commented on #99086
@bpasero  🙈

![recording (11)](https://user-images.githubusercontent.com/22350/83616719-7547da80-a588-11ea-89d0-64e6f486b38b.gif)

[2020-06-03 08:54] #98908 closed

[2020-06-03 08:56] singularitti commented on #99212
Ah, I see, so it is not saved instantly. It just doesn't show the indicator.

[2020-06-03 08:57] joaomoreno commented on #99084
I was able to repro on a new user data dir and extensions folder:

1. Start Code afresh
2. Install Github Sharp, which has a `tab.activeBorder` color
3. Pin a tab, the color goes away

[2020-06-03 08:57] alexr00 commented on #98550
Thanks!
This looks like a duplicate of an upstream issue from where we get our ini grammar. https://github.com/textmate/ini.tmbundle/issues/3

[2020-06-03 08:57] #98550 closed

[2020-06-03 08:57] madhusudanbabar commented on #99218
yes

[2020-06-03 08:58] AlsoScratch commented on #98911
It is possible to change the symbol manually?

[2020-06-03 08:59] madhusudanbabar commented on #99218
what should i do next?
shall i report it to the extension dev?

[2020-06-03 08:59] joaomoreno commented on #99004
Can you update your Git for Windows version?

[2020-06-03 08:59] jrieken commented on #99140
Pushed https://github.com/microsoft/vscode/commit/1434f626142e3f61e1dc24e7c130b24f2ea137b3 which fixes this. @sandy081 please take a quick look as this affect id computation which looks complicated.

[2020-06-03 08:59] #99140 closed

[2020-06-03 09:00] joaomoreno commented on #99090
No not really, just if it's low hanging. I don't think it's a useful scenario, let's close it.

[2020-06-03 09:00] #99090 closed

[2020-06-03 09:01] jrieken commented on #99134
This should now be fixed with https://github.com/microsoft/vscode/issues/99142. Before, we would remove the project and create a new one, but we would never clean up markers...

[2020-06-03 09:01] jrieken commented on #99134
/duplicate of https://github.com/microsoft/vscode/issues/99142

[2020-06-03 09:02] bpasero commented on #99041
It looks like we would update breadcrumbs even if no editors are closing, I fixed that with https://github.com/microsoft/vscode/commit/64955f13910a2ce8e04055e33400ec41aa78b43a

Looking at https://github.com/microsoft/vscode/blob/64955f13910a2ce8e04055e33400ec41aa78b43a/src/vs/workbench/browser/parts/editor/tabsTitleControl.ts#L430 we still might have cases where we call `updateBreadcrumbsControl`

[2020-06-03 09:02] #99134 closed

[2020-06-03 09:04] bpasero commented on #99086
@joaomoreno well that is just how Chrome behaves. I decided to do what Safari does which allows you to easily drag/drop tabs in and out of pinning state (which is something I heard from users is good to have).

![recording](https://user-images.githubusercontent.com/900690/83617915-0c616200-a58a-11ea-9784-996d4de6f394.gif)

[2020-06-03 09:05] parloti commented on #99075
Thanks man, but I resolved a little now with this:
Clear Editor History
[https://stackoverflow.com/a/46102591/4233401](https://stackoverflow.com/a/46102591/4233401)

But now I think the problem is of external origin may be related to the corporate network and remote profile. So much that Restore Windows never works after I restart the computer, but coincidentally yesterday it did.

And whenever I

[2020-06-03 09:06] bpasero commented on #99075
@parloti oh wow, `SQLITE_CORRUPT` is literally the only explanation, thanks for finding that. I fear that in this case, really anything can go wrong :-/

[2020-06-03 09:06] bpasero commented on #99212
Yes exactly.

[2020-06-03 09:07] bpasero commented on #99218
@alexdima can maybe chime in to take note of this extension host crash, I feel filing an issue to the extension developer is good, but it would still be worthwhile understanding why that brings down the extension host.

[2020-06-03 09:09] sandy081 commented on #99102
I am not clearing the machine when it is turned off due to an error like this, because it is not done by user. But agreed that showing the machine as syncing in the view is not correct in this case.

Updated summary and description accordingly.

[2020-06-03 09:09] mathieucaroff commented on #98945
I'm not familiar with the source code of VSCode, so I don't know how the code is structured.

Hopefully, the way git is managed does not involve evolving an internal copy of a the state of the repository, i.e. hopefully, VSCode uses a single-source of truth (git) approach to this problem, and all we have to do is force a refresh.

If yes, I expect the following approach to be easy:

- Figure out i

[2020-06-03 09:10] joaomoreno commented on #99179
This is fine, it's just logging output.

[2020-06-03 09:10] #99179 closed

[2020-06-03 09:13] sandy081 commented on #99097
Yeah it is because, I do not have auto refresh for these views. May be I can make it smarter atleast for this case.

[2020-06-03 09:16] sandy081 commented on #98618
I do not think this is a good user interaction to show context menu after some delay.

[2020-06-03 09:16] David-Else commented on #10144
I saw this on the insiders changelog https://github.com/microsoft/vscode-docs/blob/vnext/release-notes/v1_46.md . I am using Centos 8 and like exactly how it looks now. I hope the new VS Code version will not change anything and using system-ui will be optional?

[2020-06-03 09:17] andyliumathematics commented on #97253
Thank you for writing me back!
vscode-python can open  .ipynb files, but vim on vscode  doesn't work. And then I use .py files and split the code blocks with "# %%", the vim works  and it's splited code blocks like the .ipnb files.
At last I solved the problem by using .py file and use "# %%", but .ipynb file cannot work with vim.

Best wishes for you!
| |
AndyLiu
|
|
andyliumathematics@163.com
|

[2020-06-03 09:19] sandy081 commented on #99081
I am fine doing that.

[2020-06-03 09:21] isidorn commented on #99176
Yes this is also how native behaves. So we will show a dialog for each conflict. We do not allow to bulk cancel.
Since this can be handled in the Explorer, unassigning from @bpasero and renaming

I am opening this up for PRs.
Code pointer https://github.com/microsoft/vscode/blob/595d2b9b916d063aadfc2c1a8c8f6df5b45572a8/src/vs/workbench/contrib/files/browser/views/explorerViewer.ts#L707

[2020-06-03 09:23] isidorn commented on #99174
Closing as duplicate of https://github.com/microsoft/vscode/issues/99176
We should handle these two cases similarly

[2020-06-03 09:23] #99174 closed

[2020-06-03 09:24] sandy081 commented on #98819
I am not saying that this is the right way but I think you can also get this information by toggling the filters and get the numbers and prirotize what type to fix ?

I am actually looking for a strong use case to get this feature.

[2020-06-03 09:25] sandy081 commented on #99150
Sorry that I did not mention, this is my work notebook from the ones you shared in the TPI.

[2020-06-03 09:25] jrieken opened #99230 "Remove mergeSort util"
All browsers that we support now support stable sorting and there is no more need for our custom stable sort implementation. Reference: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort

[2020-06-03 09:26] madig commented on #10144
You probably should be able to set `system-ui` to whatever you want with fontconfig?

[2020-06-03 09:26] isidorn commented on #99176
Actually this issue has more details, closing as duplicate of that one
https://github.com/microsoft/vscode/issues/99074

[2020-06-03 09:26] #99176 closed

[2020-06-03 09:26] #99135 closed

[2020-06-03 09:26] sandy081 commented on #98911
Unfortunately you cannot.

[2020-06-03 09:28] isidorn commented on #99074
Yes this is also how our non web explorer behaves. So we will show a dialog for each conflict. We do not allow to bulk cancel.
Since this can be handled in the Explorer, unassigning from @bpasero and renaming

I am opening this up for PRs.
Code pointer

https://github.com/microsoft/vscode/blob/595d2b9b916d063aadfc2c1a8c8f6df5b45572a8/src/vs/workbench/contrib/files/browser/views/explorerViewer.ts#L

[2020-06-03 09:28] aeschli opened #99231 "Improve error message when notebook type is unknown"
Testing #98985

- install the Github notebook extension
- create a file `foo.github-issues`, open it and add some cells
- close the editor, uninstall the extension
- open the file

error shows:
`Unable to open 'foo.github-issues': Cannot open notebook of type 'github-issues'.`

Some more help would be great, such as an extension is needed to open
It would be great if it could tell me which extensi

[2020-06-03 09:30] sandy081 commented on #99140
All it is trying to do is make id unique and feeding resource of raw marker makes it. With this change we do no need id of resourceMarkers to compute id of markers but there is no harm in just leaving it.

[2020-06-03 09:35] finn-matti commented on #127
Concrete examples where this is a problem (from this thread):

- PRs/Changes to repos with mixed line endings become impossible to do (because much bigger diffs are generated  by the normalization)
- You might think that mixed line endings are a bad idea, but are not in a position to change current policy
- Makes editing files with binary payloads impossible (shell scripts with binary blob)
- Cros

[2020-06-03 09:36] isidorn commented on #99068
Sounds like a Chromium issue since you can repro in Chrome and Edge and not in Safari and Firefox.
@weinand can you also reproduce this behavior if you for example drop your files to some other web application, for example Gmail?

[2020-06-03 09:38] David-Else commented on #10144
@madig I definitely don't want to change my system fonts to accommodate breaking changes in VS Code. I am hoping this change will be opt in, fonts on Linux are a nightmare and sudden unwelcome changes with no warning can send innocent programmers down a rabbit hole of tedium!

I would set my fonts using Gnome Tweaks:
![tweaks](https://user-images.githubusercontent.com/12832280/83621155-39137a80-a5

[2020-06-03 09:38] isidorn commented on #99060
@bpasero I suggest that on drop we simply filter over the dragged resources and filter out the ones which are ancestors of one another using [`isEqualOrParent`](https://github.com/microsoft/vscode/blob/595d2b9b916d063aadfc2c1a8c8f6df5b45572a8/src/vs/base/common/resources.ts#L51)
If you like this idea I can create a PR.

[2020-06-03 09:38] jrieken commented on #98172
I cannot reproduce anymore. @kieferrm can you give it another shot?

[2020-06-03 09:40] jhasse commented on #10144
`system-ui` will reflect those changes in Gnome Tweaks (it's the "Interface" font), that's exactly what it's intended for :)

[2020-06-03 09:41] jrieken commented on #99140
ok, I can revisit this during debt week

[2020-06-03 09:43] David-Else commented on #10144
@jhasse That is good news, but will the next version of VS Code have changed my fonts for me without my permission? That is really the answer I am looking for. Cheers.

[2020-06-03 09:47] jhasse commented on #10144
What do you mean by "changed my fonts"? The setting in Gnome Tweaks won't be touched, no, but VS Code will respect it now, while it had a hard-coded font list before (which would result in the "Ubuntu" font being used on most Linux distros).

[2020-06-03 09:55] #99050 closed

[2020-06-03 09:57] David-Else commented on #10144
@jhasse Sorry, I reworded my comment to be clearer after you replied. I was trying to say VS Code's fonts, I realize it won't touch my system.

This change seems to only be positive if the documentation accompanying it is very clear and explicit. For many people, the VS Code fonts will change and they will have no idea why and they might like it just as it was.

The important word being **most** h

[2020-06-03 09:57] aeschli opened #99232 "Notebook: Strange behaviour of Ctrl + Down when there is no result"
Testing #98985

Ubuntu 18.04 and Windows

- Install the Github Notebook extension
- Create a notebook with 3 GitHub issues cells
- set the cursor in the first cell: the focus line and box correctly highlight the first cell
- press `Ctrl + Down`, focus box goes away but is not set to the next cell. It's unclear where the focus is now
- Press `Ctrl + Z` (undo), undo happens in the fist cell, so it s

[2020-06-03 09:58] bpasero commented on #99084
Only happens when both `tab.activeBorder` and `editorGroupHeader.tabsBorder` are defined. For sticky tabs, `editorGroupHeader.tabsBorder` wins over `tab.activeBorder`.

This is very hard to fix due to the use of `position: sticky` and `z-index` in tabs. There are a couple of rules:
* scrollbar: z-index 3
* sticky tabs: z-index 1 (to be above other tabs)
* bottom border on (all) tabs: z-index 5
* b

[2020-06-03 09:58] jrieken opened #99233 "onDidOpenNotebookDocument fires for open notebook"
* use workbench tabs
* open notebook A and reload
* open a another notebook B
* select notebook A, close B (via tab)
* open B again
* close B again
* :bug: the GH issue extension throws an error because open was called for a document for which close wasn't called

[code]

[2020-06-03 09:59] #99042 closed

[2020-06-03 09:59] jojodev77 opened #99234 "Flutter"
Issue Type: <b>Bug</b>

pub get package failled

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (8 x 2112)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_sta

[2020-06-03 10:04] bpasero commented on #99060
@isidorn yeah sounds good, thanks

[2020-06-03 10:04] dbaeumer commented on #99012
I will take it.

[2020-06-03 10:04] #99100 closed

[2020-06-03 10:05] lszomoru commented on #99122
Here are the logs that we have looked at today. Looks like on Windows, closing the dialog triggers a sync.

[2020-06-03 10:05] dbaeumer commented on #99095
I tried to trigger remove unused code on save but was not successful configuring it. What code example do you need?

[2020-06-03 10:06] joaomoreno commented on #97961
The following languages were missing: brazilian portuguese, hungarian and turkish.

**Verification:**

[code]

[2020-06-03 10:06] #97961 closed

[2020-06-03 10:06] usernamehw commented on #99234
/causedByExtension

[2020-06-03 10:07] weinand opened #99235 "system-ui font doesn't differ between Insider and Stable on macOS"
Testing #98022

From the double-negated sentence in the test-item's description

I conclude that I should see a difference on macOS.

But I do not:

<img width="454" alt="2020-06-03_11-54-27" src="https://user-images.githubusercontent.com/1898161/83623305-7598a380-a591-11ea-8ae8-e7702d8c40eb.png">

(stable left, insiders right).

I do not really understand why I should see a difference if I'm not

[2020-06-03 10:07] #99234 closed

[2020-06-03 10:09] usernamehw commented on #99215
/causedByExtension

[2020-06-03 10:10] #99215 closed

[2020-06-03 10:11] bpasero commented on #99235
![image](https://user-images.githubusercontent.com/900690/83624730-484cf500-a593-11ea-9dee-291b89ef30f2.png)

[2020-06-03 10:11] #99235 closed

[2020-06-03 10:11] bpasero commented on #99235
macOS: no difference is correct.

[2020-06-03 10:11] avkonst commented on #93599
Just found this issue. I also need upload in addition to download.
I design icons using windows desktop software. And I develop code using VS code connected to remote. I need to modify the icons and other graphics from time to time. SFTP becomes annoying.

[2020-06-03 10:13] akshattambe opened #99236 "Intellisence is not working for module variables in JS"
Issue Type: <b>Bug</b>

Intellisence is not working for module variables. I am using JavaScript. In the below code when I say-

[code]

It does not show relevant methods associated with the Path module!!

[code]

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Va

[2020-06-03 10:15] weinand commented on #99068
I'm not using gmail.

[2020-06-03 10:15] jhasse commented on #10144
Check if you have the "Ubuntu" installed. If not, check for "Droid Sans". If not, it's "sans-serif" (you can check what font that is with `fc-match sans-serif`).

How do you know that it's "many"? For example on every system that has "Ubuntu" as the interface font (i.e. Ubuntu and its spin-offs) or every system where `system-ui` == `"Ubuntu", "Droid Sans", sans-serif` (that would be my system for

[2020-06-03 10:22] weinand commented on #99235
I neither understand the "(!)" nor the highlighted ranges:
- my screenshots do not show editors
-  "you are not using an Ubuntu Linux" includes macOS, right?

[2020-06-03 10:28] olegueret commented on #63068
Just to mention it happened to me but with Azure Data Studio, also based on VSCode.

Their issue: https://github.com/microsoft/azuredatastudio/issues/8107

I tried uninstalling the app, download again and reinstall, but that doesn't fix it.
**When it was uninstalled, the icon still appeared in the Dock** (in the **Recents** list).

Reopening Finder doesn't work. killall Dock works tough.

I'm on M

[2020-06-03 10:33] elenadimitrova commented on #98819
This means searching for each error type one by one, analyse occurrences of each then summing it all up to decide where to start from. The effort grows exponentially with number and variety of problems reported. When https://github.com/microsoft/vscode/issues/13953 is implemented, I feel it will be even more of a problem as we'll have to be filtering through much larger problems output by default.

[2020-06-03 10:38] David-Else commented on #10144
To summarize: It seems on my Centos system (which will be the same setup for Fedora users) the VS Code UI fonts will change from `Droid Sans` (which is the perfect match for the default `Droid Sans Mono` for the code editor) to `Cantarell Regular` (my system-ui font).

The only easy way to revert this unwanted change is to change my system 'interface' fonts to `Droid Sans` and change the entire lo

[2020-06-03 10:40] rocks4uankit commented on #98802
The issue is not with extension tried other( live server preview) extension still same issue.
before updating vs code i never had issue.
can u suggest some steps to follow to file issue with live server extension but i dont think issue is with them

[2020-06-03 10:41] #99082 closed

[2020-06-03 10:46] sandy081 commented on #99111
When there is no data synced, showing `No Data` entry

<img width="449" alt="image" src="https://user-images.githubusercontent.com/10746682/83628027-29049680-a598-11ea-9aa0-e121f5c5355d.png">

[2020-06-03 10:46] #99111 closed

[2020-06-03 10:47] sandy081 commented on #99078
Fixed by d469683f794baf9d462bf587648cf245f4e9469d

[2020-06-03 10:47] #99078 closed

[2020-06-03 10:49] tobia commented on #63388
Come on, I just tried it in Vim, Sublime, Emacs... no other editor has a bug like this!

For the time being, a workaround is to use the [indent-one-space extension](https://marketplace.visualstudio.com/items?itemName=usernamehw.indent-one-space), but this should be fixed properly.

[2020-06-03 10:51] jrieken commented on #99233
this might something else...

[2020-06-03 10:51] isidorn opened #99237 "scrollPredominantAxis not aggressive enough"
1. Use an apple magic mouse
2. Scroll vertically in the editor
3. Ocasionally there is an unwanted horizontal drift

I noticed the `scrollPredominantAxis` setting which is turned on by default, but it does not seem to have any effect for me and my mouse.
An alternative would be to just turn off horizontal scrolling for me, but I can not do this on the OS level and neither on the VS Code level.

I

[2020-06-03 10:55] jrieken commented on #99233
Yeah, this was bad adoption of the change event which would overwrite disposables whenever a new notebook came along and consequently it would never cleanup

[2020-06-03 10:55] lokesh-paulpandi opened #99238 "Checking out to new git branch outside vscode does not switch the branch in vscode"
- VSCode Version: 1.45.1
- OS Version: Darwin x64 19.3.0

Steps to Reproduce:

1. Use terminal to switch to a new branch. In the previous VSCode  version, it will automatically move to the branch in vs code.
2. In current version I have to manually switch branch in the VSCode application.
3. Had two tabs in terminal open for the same code base.

Is this an issue or thats how it works?

[2020-06-03 10:55] AlexKalopsia opened #99239 "VSCode not detecting repo on local server using SSH"
- VSCode Version: 1.45.1
- OS Version: Win10

I have a local server called SUN (Linux-based) that I connect to from my Win computer. It's a mapped drive /X: . I've opened the /X: folder and did a `git init`. Repo is created and Source Control finds it with no issue.

Now to the problem.

I've connected to /X: via SSH now using a remote connection. I can normally navigate through the folders with n

[2020-06-03 10:56] bsutton commented on #98618
The delay should be fairly minor.
You could change the info icon to a spinning gif until the context menu
appears.

On Wed, 3 Jun 2020, 7:16 pm Sandeep Somavarapu, <notifications@github.com>
wrote:

[2020-06-03 10:57] #99233 closed

[2020-06-03 11:00] jhasse commented on #10144
I would frame it differently: While VS Code used "Droid Sans" as its UI font on Linux (or "Ubuntu" if you have that installed. Or, when you have neither "Droid Sans" nor "Ubuntu" installed, your "sans-serif" font, which would be "DejaVu Sans" most of the time. Or "Liberation Sans". Not sure though, you might have to check. Oh btw "Droid Sans" often has fallbacks, they would be used even if you did

[2020-06-03 11:05] jrieken opened #99240 "No `onDidOpenNotebookDocument`-event not called from `modelManager.resolve`"
For https://github.com/microsoft/vscode/issues/99148 I have pushed https://github.com/microsoft/vscode/commit/1c7510ca13d1440c2e30df7897ebe4383f6a464c to make sure a notebook is (re)opened during resolve of cell content. However, this doesn't fire an `onDidOpenNotebookDocument` event. The following steps

* have a GH issue notebook with 2 cells and a variables that is used in both
* run "Find All

[2020-06-03 11:06] jrieken commented on #99148
The error is gone but note that there is https://github.com/microsoft/vscode/issues/99240 which means refresh doesn't yet return all results

[2020-06-03 11:06] #99148 closed

[2020-06-03 11:07] #99124 closed

[2020-06-03 11:09] jrieken opened #99241 "onDidChangeNotebookCells is hard to work with"
The `onDidChangeNotebookCells` event doesn't contain the cells that got removed (only index and length) making it very hard to handle cell removal, e.g extension need to keep and manage their own copy of cells. It would be better if the event contains cells that got deleted and added including their indices

[2020-06-03 11:10] David-Else commented on #10144
@jhasse This maze of complexity is killing my brain. I will give Canterell a try, and if it looks awful come back to this thread to haunt you :)

[2020-06-03 11:11] CavaniNicolas opened #99242 "Failed to install update"
Hi,
When closing VSCode, an update starts, thus does not succeed and i have to reinstall VSCode in order to use it again.
Here are the messages I get :
"There was an error while Deleting a directory: 'C:\\Users\\cavan\\AppData\\Programs\\Microsoft VS Code\\bin':
Le processus ne peut pas accéder au fichier car ce fichier est utilisé par un autre processus. (os error 32)
Please verify there are no V

[2020-06-03 11:16] muleghanshyam1991 opened #99243 "Facing issue while starting VS code application on windows system"
Issue Type: <b>Bug</b>

Hello Team,

I have installed VS code on Windows server and when i did Remote Desktop to that server and tried open VS code application it isn't opening but when i checked task manager i can see multiple instance for VS code.Could you help me to overcome this problem

[2020-06-03 11:19] majkinetor commented on #66971
The filtering is basically unusable because of this.

[2020-06-03 11:22] bpasero commented on #99235
`system-ui` is a font that maps to apple-system as far as I know, so the font change should mean no font change on macOS. On Linux `system-ui` will be a font that is picked by the OS and/or user but if you are on Ubuntu that should also mean no difference because we hardcode the Ubuntu font. And on Windows, unless you are using a non-english locale it should also not make any difference.

[2020-06-03 11:23] #98567 closed

[2020-06-03 11:23] #98524 closed

[2020-06-03 11:23] #98520 closed

[2020-06-03 11:23] #98486 closed

[2020-06-03 11:23] #98427 closed

[2020-06-03 11:23] #98358 closed

[2020-06-03 11:23] #98280 closed

[2020-06-03 11:23] #98213 closed

[2020-06-03 11:23] #98198 closed

[2020-06-03 11:26] bpasero commented on #98022
@weinand @btholt @fiveisprime @mjbvz fyi I have updated the test plan as it had a confusing statement:

![image](https://user-images.githubusercontent.com/900690/83631497-e34acc80-a59d-11ea-8415-46f0ad982479.png)

[2020-06-03 11:27] RohitJadhav-TCS opened #99244 "Focus color contrast ratio for non text element is less than 3:1."
Environment Details:
VSCode Version : 1.46.0 Insider
OS Version : Win10
Additional Details:
Screenreader: NVDA[2019.3.1], JAWS[2020.70]

GitHubTags:#A11ySev2;#A11yTCS;#A11yMAS;#Benchmark;#DesktopApp;#MAS1.4.11;#Win10;#Visual Studio Code;#CAITestPass_May2020;#FTP;

Repro Steps:
1.Open Visual studio code insider editor.
2.Using "Ctrl+`" key open the Integrated Terminals.
3)Using  "Ctrl+\" key to spl

[2020-06-03 11:33] TheDuc opened #99245 "Webview: Cannot load resource outside of protocol root"
Issue Type: <b>Bug</b>

I'm using vscode insiders, and Git Graph plugin won't load correctly.
I'm getting ```Webview: Cannot load resource outside of protocol root
(anonymous) @ /Applications/Visual Studio Code - Insiders.app/Contents/Resources/app/out/vs/workbench/workbench.desktop.main.js:3834```
error in console.

Also see https://github.com/mhutchie/vscode-git-graph/issues/317

VS Code version

[2020-06-03 11:34] Balikey opened #99246 "live server"
Issue Type: <b>Bug</b>

please i can not connect with any one on the visual studio

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:06.081Z)
OS version: Windows_NT ia32 6.2.9200

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A4-6210 APU with AMD Radeon R3 Graphics     (4 x 1797)|
|GPU Status|2d_canvas: unavailable_software<br>fl

[2020-06-03 11:38] bpasero opened #99247 "Status: focused entry is not high contrast aware"
When you enable HC theme, we should not use background color to indicate the active status bar entry:

![image](https://user-images.githubusercontent.com/900690/83632385-759fa000-a59f-11ea-9ce8-d9d3ff6b166b.png)

[2020-06-03 11:39] bpasero opened #99248 "Status bar: gets outline on click"
When I click anywhere into the status bar outside of an entry, I see the status bar taking focus and indicating this with an outline. This feels a bit weird to me, we do not seem to be doing this in other places (e.g. activity bar).

Is this something we must have or could we simply focus the first entry? Similar to how the activity bar has a focused entry?

[2020-06-03 11:40] aamirafridi commented on #98800
@egamma here https://gyazo.com/7110a11792155ab133012a48aa2e8604

[2020-06-03 11:41] bpasero commented on #99032
I feel this is a bug on the theme layer: even though we seem to be applying CSS classes when you navigate over themes or icons, we do not change the setting or emit any event. So we are only lucky that it works ok in most places but here I really need an event to react to properly: pinned tabs switch between showing icons or first letter and that is not something I can easily express using CSS rul

[2020-06-03 11:45] #99022 closed

[2020-06-03 11:46] sandy081 commented on #99122
Very good catch.

[2020-06-03 11:46] #99122 closed

[2020-06-03 11:48] samuliasmala commented on #46718
Is there any workarounds to exclude `node_modules` from _Go To Symbol in Workspace_? Now the feature is not very useful when you have a large amoun to packages installed in the project.

[2020-06-03 11:53] #99088 closed

[2020-06-03 11:54] lszomoru commented on #99117
I agree that the filter behavior should be consistent between quick pick and the treeview/list. In order to achieve consistent behavior we need to update the treeview/list to return multiple labels for each node which then can be used for fuzzy filtering. We will tackle this next iteration.

[2020-06-03 11:59] jgclark commented on #98908
Indeed. And it is there that I was suggesting slightly expanding the documentation ...

... to make this clearer. Thanks for confirming, @alexr00. PS please can you answer my first question, please, and amplify whatever is the correct understanding in the docs? I'm happy to raise the PR myself, but not until I understand what the correct understanding is.

[2020-06-03 11:59] #98915 closed

[2020-06-03 12:00] isidorn commented on #99060
Tried it out and actually can not do it, reason being the API we are using is only giving us the name not the full path before the streaming starts
And just using the name we can not de-dup.
Thus moving this to backlog

![Screenshot 2020-06-03 at 13 59 11](https://user-images.githubusercontent.com/1926584/83634231-75ed6a80-a5a2-11ea-8a54-41111d08ad94.png)

[2020-06-03 12:01] isidorn commented on #98066
This was not happening with semanticHighlighting disabled.
@aeschli @mjbvz what more data would you like me to provide so we can look into this?

[2020-06-03 12:04] floppytree commented on #13960
+1 Please add virtual space. For a code editor, it is a must.

[2020-06-03 12:11] #99032 closed

[2020-06-03 12:11] humahn commented on #98725
in fact there are two 100% peaks:
- one happens immediately after opening one of those .js files. which drops almost immediately afterwards.
- another one which is the main problem happens while writing in those .js files (just as in the video). it drops only if you stop writing. if you keep writing it remains >70-80 %. in fact after 10-15 lines of writing my laptop gets really warm.

Turning edit

[2020-06-03 12:12] Wintaru commented on #10339
What @marktucker said. I would like to be able to set tab characters to 8 spaces but when I hit the tab key want it to indent 4 spaces. My use case is the same as his.

Before anyone says "well fix the code base" 1) 30+ people work in this and it is millions of lines. 2) VIM, Emacs, and Eclipse can all do what we are asking for here, I am one of two people that use VS Code and making a huge whites

[2020-06-03 12:14] bpasero opened #99249 "Themes: there is an file icon change event after startup"
I did not see one for the theme, but the file icon seems to fire an event on startup. Is that expected?

[2020-06-03 12:23] bpasero commented on #99068
I was able to upload 1000 1byte files, so I think the limit may be size based and not count based, but have not fully figured it out yet. Used https://stackoverflow.com/questions/17034941/how-to-create-multiple-files-with-random-data-with-bash to create many small files.

[2020-06-03 12:24] #97396 closed

[2020-06-03 12:24] #99008 closed

[2020-06-03 12:29] isidorn commented on #99248
I do agree we should be consistent with the activity bar.
And clicking anywhere in the activity bar produces no results, it currently does not focus the first entry.

Focuses the whole outline should happen if we F6 into it, so the screen reader would read all the content. Just mouse clicking it is fine not to do that.

Anyways closing this as dup of https://github.com/microsoft/vscode/issues/9761

[2020-06-03 12:29] #99248 closed

[2020-06-03 12:30] isidorn commented on #97610
Once we change the focus behvaior of the activity bar we shuold align the status bar as well.

For example click anywhere would focus the first entry (or last focused entry)

[2020-06-03 12:34] flntzr opened #99250 "Maximized window overlaps onto other monitor"
- VSCode Version: 1.45.1
- OS Version: Windows 10 x64, version 2004 (OS build 19041.264)

I have a 2-monitor setup. If I maximize VSCode on either of them, it overlaps onto the other monitor. See the screenshots:
![grafik](https://user-images.githubusercontent.com/1497629/83636783-d1b9f280-a5a6-11ea-9ef6-bc78cc1ca125.png)
![grafik](https://user-images.githubusercontent.com/1497629/83636913-0595180

[2020-06-03 12:36] aeschli opened #99251 "Notebook: Content Security Policy warning for images on remote"
Testing #98985

Windows 10, WSL
- create a GitHub notebook in a folder on c: , have a `foo.png` image in the same folder
- add a Markdown cell with content `![Foo](./foo.png)`
- preview the cll, image is fine
- reopen the folder in a Remote - WSL window, open the notebook
- image broken, dev console says:
[code]

[2020-06-03 12:37] joaomoreno commented on #97887
Can't repro this

[2020-06-03 12:37] #97887 closed

[2020-06-03 12:43] sandy081 opened #99252 "Cannot open cscratch file using built in editor"
Testing #99003

- Trying custom editor sample
🐛 I cannot open the `example.cscratch` file using `Open With...` built in editor

[2020-06-03 12:43] #99247 closed

[2020-06-03 12:44] isidorn commented on #99247
Good catch, thanks for filling.

[2020-06-03 12:45] IllusionMH commented on #99250
/duplicate of #85310

[2020-06-03 12:45] JoBrad commented on #33110
@tejasvi I don’t know that comparison between VSCode and vim at their current states is that fair. Vim was released in 1987 but didn’t get split windows until 2001 (version 6, unless I’m mistaken). The VSCode community seems to have delivered on this feature comparatively quickly. 😄

[2020-06-03 12:46] #99250 closed

[2020-06-03 12:46] #97393 closed

[2020-06-03 12:46] aeschli opened #99253 "Notebook: dev console filed with `ERR_FILE_NOT_FOUND` while editing an image path"
Testing #98985

Linux
- create Github notebook
- edit a Markdown cell and try to add a image `![fooeee](/home/martin/)`
- dev console prints errors while I type
[code]

It would be more helpful if the error is shown as a squiggly in the editor

[2020-06-03 12:46] sandy081 opened #99254 "Gear icon is not obvious to set default editor type"
Testing #99003

<img width="590" alt="image" src="https://user-images.githubusercontent.com/10746682/83638109-f4e5a180-a5a8-11ea-8746-a0d2b58105a8.png">

[2020-06-03 12:50] #99150 closed

[2020-06-03 12:52] #97009 closed

[2020-06-03 12:59] aeschli opened #99255 "Notebook: Error in dev tools when moving editor"
Testing #98985

- create a Github notebook, open it besides an other editor
- drag the notebook below the other editor
- drag seems to have worked, but dev tools console says:
[code]

[2020-06-03 13:02] isidorn commented on #99094
@aeschli I have looked a bit deeper in this and the solution would be to set decorations on the model, not on the editor (how we do it now). Since if we put it on the editor, the editor will get rid of them as soon as a new model is opened.
If we put them on the model then they will get preserved whenever that file is opened in any editor, however for that we would have to keep a record on our sid

[2020-06-03 13:04] jsumners opened #99256 "Input cursor blinks in unfocused windows"
- VSCode Version: 1.45.1
- OS Version: macOS 10.14.6

Steps to Reproduce:

1. Have an unfocused VSCode window visible in the background
2. Switch between other applications, desktops, screen locked/unlocked state, etc. At some point, the cursor in VSCode will begin to flash as if the VSCode window is the focused window.

In this screenshot, the window with the flashing cursor _is not_ the currentl

[2020-06-03 13:07] aeschli opened #99257 "Notebook: Can drop editor in notebook"
Testing #98985

- create a Github notebook, open it next to another editor
- drag the  other editor inside the notebook
- drag does not have an effect
[code]

[2020-06-03 13:12] sandy081 opened #99258 "Endless progress opening a custom editor who's view type is not registered"
Testing #99003

- Trying the custom editor extension sample
- Do not register a custom editor for `catCustoms.catScratch`. In short comment out the line

https://github.com/microsoft/vscode-extension-samples/blob/41341293757982bedebf1176a92fa6e028f68d3a/custom-editor-sample/src/extension.ts#L7

- Open the example.cscratch file and shows infinite progress

[2020-06-03 13:14] jrieken commented on #99152
Yeah, the is the usual sort bug, e.g `1, 10, 11, 12, 2, 3`

[2020-06-03 13:15] aeschli opened #99259 "Notebook: Markdown preview not updating if underlying content changes"
Testing #98985

- create a Github issue notebook and add a Markdown cell with content. Switch the cell to preview (not edit.
- Split the notebook and in one of the editor make changes to the markdown
- Save the changes, Markdown preview does not update

[2020-06-03 13:15] Skymmel opened #99260 "Bug: Icons and other things are bigger."
Issue Type: <b>Bug</b>

Visual Studio Code is corrupted. I was creating my own website and suddenly it got bigger.
https://ctrlv.cz/Jbtz
VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz (4 x 2592)|
|G

[2020-06-03 13:19] #96356 closed

[2020-06-03 13:19] #98963 closed

[2020-06-03 13:19] isidorn commented on #98963
@DanTup thanks for filling this. Now we show an error notification

[2020-06-03 13:23] sandy081 opened #99261 "Why does option of custom editor are called web view options"
Testing #99003

https://github.com/microsoft/vscode/blob/eb099962389a28a5f32490a530adae05b8d25851/src/vs/vscode.d.ts#L8036-L8036

[2020-06-03 13:25] #99051 closed

[2020-06-03 13:26] isidorn commented on #99051
I could not reproduce. However there might be some tree timing issue.
Decided to just swallow the error if something fails in expadning roots. That way you should no longer see the error. And not auto expanding roots is not critical.

[2020-06-03 13:26] sandy081 opened #99262 "Show the default editor in the picker"
Testing #99003

<img width="626" alt="image" src="https://user-images.githubusercontent.com/10746682/83642030-98858080-a5ae-11ea-8635-778e4e4ce04d.png">

I do not know what is the default configured editor from the picker

[2020-06-03 13:27] UltraBlackLinux commented on #98814
1. I dont use a dns/proxy
2. I think I cant reproduce it atm - its gone again, idk when itll come back
3. Ill follow those instructions when Im facing the error again.

[2020-06-03 13:27] joaomoreno commented on #99238
VS Code should update to the right branch once it gets focused. Can you reproduce this in any repository? Is your repository in a symlink or network share?

[2020-06-03 13:27] rick3rt opened #99263 "Cannot override the integrated shell setting in a workspace"
- VSCode Version: 1.45.1
- OS Version: Windows 10 1909, 18363.836

Steps to Reproduce:

1. Set global `settings.json`:
[code]
2. Set workspace `settings.json`
[code]
3. Open folder with `code . --disable-extensions`, open terminal with ctrl+` and see that the terminal is still bash and not cmd. Only able to switch the default terminal by setting the global setting.

Does this issue occur when all

[2020-06-03 13:27] Tyriar commented on #99067
@sbatten when the window is maximized, the electron window dimensions don't change, that small sliver is the entire window, no more activity bar, not more minimize/maximize/close buttons are visible.

[2020-06-03 13:28] joaomoreno commented on #99239
Have you tried our Remote SSH features? https://code.visualstudio.com/docs/remote/ssh

[2020-06-03 13:29] Tyriar commented on #99065
I saw it trigger a few times while trying to reproduce https://github.com/microsoft/vscode/issues/99067, I'm guessing some event is missing or something. As an extra protection to prevent completely breaking the editor group could you add a click listener to the drop areas that deactivates it?

[2020-06-03 13:30] Tyriar commented on #99221
/duplicate https://github.com/Microsoft/vscode/issues/69665

[2020-06-03 13:30] #99221 closed

[2020-06-03 13:30] #99152 closed

[2020-06-03 13:30] isidorn commented on #97060
Dup of https://github.com/microsoft/vscode/issues/99053
Thus removing bug label so we do not verify

[2020-06-03 13:30] jrieken commented on #99152
Cell fragments are now padded with zeros so that natural sort works againt. This is kinda lame but works...

[2020-06-03 13:32] sandy081 opened #99264 "Improve documentation of viewType contribution"
Testing #99003

<img width="469" alt="image" src="https://user-images.githubusercontent.com/10746682/83642471-29f4f280-a5af-11ea-98da-816322d664b0.png">

It just says it is an unique identifier even though it is not an id. It also needs to explain how it is connected to activation and registering custom editor using API

Eg:

<img width="670" alt="image" src="https://user-images.githubusercontent.

[2020-06-03 13:32] joaomoreno commented on #99242
/duplicate #60697

[2020-06-03 13:32] #99242 closed

[2020-06-03 13:37] weinand commented on #99068
The size of my photo files was around 100-400 kB.

[2020-06-03 13:38] Tyriar commented on #99244
If this is a requirement for this non-text part, then it doesn't just affect the panel actions:

![image](https://user-images.githubusercontent.com/2193314/83643246-a4e4eb80-a564-11ea-848b-9e586f480fb1.png)

1.81:1:

![image](https://user-images.githubusercontent.com/2193314/83643370-cb0a8b80-a564-11ea-8506-b766233eeaab.png)

[2020-06-03 13:38] mcdado opened #99265 "Documentation broken link"
In the post https://code.visualstudio.com/blogs/2016/11/15/formatters-best-practices that you authored, the link in the TIP section that goes to registerDocumentFormattingEditProvider should be this, I believe: `https://github.com/microsoft/vscode/blob/a80f904d4e9afa7a05ae57a0123c11b727097129/src/vs/vscode.d.ts#L10089`

https://github.com/microsoft/vscode/blob/a80f904d4e9afa7a05ae57a0123c11b727097

[2020-06-03 13:40] sandy081 opened #99266 "Documentation of `priority` attribute is not helpful"
Testing #99003

<img width="611" alt="image" src="https://user-images.githubusercontent.com/10746682/83643545-6d9c2c00-a5b0-11ea-9abb-6116f46cee7c.png">

I did not have any clue how and when to use it as an extension author. May be I am missing something?

[2020-06-03 13:41] roblourens commented on #99186
Oh, I think that would be by design then. At least you would probably see the same thing in a normal editor right?

[2020-06-03 13:42] Tyriar commented on #99263
You can, you need to whitelist the workspace though. A notification will appear the first time to try to do it which lets you do this, if a notification isn't showing up, run the Manage Workspace Shell Permissions command:

![image](https://user-images.githubusercontent.com/2193314/83643795-53892c00-a565-11ea-947d-b49014180c44.png)

[2020-06-03 13:42] #99263 closed

[2020-06-03 13:42] isidorn commented on #88097
I have verified this works as expected.
Feels like bloat though.

[2020-06-03 13:43] Tyriar commented on #99220
See `terminal.integrated.confirmOnExit` setting.

/duplicate https://github.com/microsoft/vscode/issues/23808

[2020-06-03 13:43] #99220 closed

[2020-06-03 13:43] gregvanl commented on #99034
I see now. There isn't a static UI change. The setting increases the width/height of the sash proximity region where the user can drag to resize an element.
Joao's proposed description makes sense.

[2020-06-03 13:44] isidorn commented on #99244
This is regarding color contrast of icons.
@misolori and me are having a disucssion and we will decide what to do here.

[2020-06-03 13:46] Tyriar commented on #88736
These sorts of problems are all related to user environment setups. To help you investigate this is roughly how it works:

- Launching VS Code will run `env` in a login shell using `$SHELL` to source the shared window environment
- `$SHELL` may change depending on your shell launch scripts
- You problem is likely in .bashrc, .bash_profile, .zprofile, etc. or a dependent script run by those.

[2020-06-03 13:47] #88736 closed

[2020-06-03 13:47] sandy081 opened #99267 "Hot exit is not working when debugging window is reloaded"
- Disable auto save
- Start extension debugging
- In the debugging window, have a file with dirty changes
🐛 Reload window and changes are lost

[2020-06-03 13:47] lokesh-paulpandi commented on #99238
My codebase is in my local machine. I am not able to replicate the issue in another repository. It only happens in the current repository. Will try to find a solution. We have the .vscode/ folder to git ignore . Would this in any way cause issue ?

[2020-06-03 13:48] rick3rt commented on #99263
Thank you, that works. I could not find this is the docs, perhaps this could be added to https://code.visualstudio.com/docs/editor/integrated-terminal ?

[2020-06-03 13:50] joaomoreno commented on #99238
I wonder if you opened the repository with a different letter casing that its real one?

[2020-06-03 13:51] roblourens opened #99268 "Clearing numeric setting writes "null" to json"
- Find a numeric setting (eg fontsize)
- Clear its input box
- "null" is written to json for that value
- Click out of the input box
- Get the error "Setting has an invalid type", and the control changes to "Open in settings.json"

Instead of writing null, we should unset it when validation fails, so you can still edit it in the GUI

![image](https://user-images.githubusercontent.com/323878/836448

[2020-06-03 13:51] lszomoru commented on #99034
Based on feedback from the `ux` channel we settled on the following. Hopefully this make it more clear:

[2020-06-03 13:53] Tyriar commented on #99263
@rick3rt there was some info there but it was out of date, fixed in https://github.com/microsoft/vscode-docs/commit/3646edf344a43bc2799d9a18e3b03b082831156a

[2020-06-03 13:54] Tyriar commented on #99024
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.

/needsMoreInfo

[2020-06-03 13:58] Tyriar commented on #91966
Is this related to the processId of the terminal in the ext API not getting set sometimes? https://github.com/microsoft/vscode/issues/91905

[2020-06-03 13:58] #99128 closed

[2020-06-03 13:58] isidorn opened #99269 "scm.inputFontFamily should suggest "editor" as a potential value"
Currently `scm.inputFontFamily` suggests `default`, but does not suggest "editor".
It would be great if we also suggested "editor" as the value to make it more discoverable.

I think you can do this by making this setting an enum or a string in the json schema, and then list the enum values.

[2020-06-03 13:58] isidorn commented on #55169
Works great, created this follow up item https://github.com/microsoft/vscode/issues/99269

[2020-06-03 13:59] kittaakos commented on #99126
I am going to close this as invalid, it works, sort of. The SCM and the Search "inputs" work differently, good to know.

![screencast 2020-06-03 15-51-02](https://user-images.githubusercontent.com/1405703/83645319-a1785100-a5b2-11ea-8b09-6dc5460a4ac2.gif)

I was an idiot and expected to see the original value plus the pasted one, but it works differently; `contextmenu` event will set the focus and

[2020-06-03 13:59] #99126 closed

[2020-06-03 13:59] sandy081 opened #99270 "Custom editor is not tagged deleted if file is deleted"
Testing #99003

<img width="657" alt="image" src="https://user-images.githubusercontent.com/10746682/83645775-26fc0100-a5b3-11ea-8888-a069d81707b6.png">

Example:

<img width="486" alt="image" src="https://user-images.githubusercontent.com/10746682/83646025-6e828d00-a5b3-11ea-935c-e34df1c1e162.png">

[2020-06-03 14:03] lszomoru commented on #99034
Fixed in 505389caae9db1d1e34a55618152e1f42f83c083

[2020-06-03 14:03] #99034 closed

[2020-06-03 14:06] roblourens opened #99271 "Add settings search synonym - password/authentication"
https://github.com/microsoft/vscode-remote-release/issues/3109

[2020-06-03 14:07] lszomoru commented on #99269
Does the Settings UI support an editable dropdown control since we do need to have the capability to select `default`, `editor` or enter an arbitrary value.

[2020-06-03 14:08] isidorn commented on #99269
It does not as far as I know. But we can still do the enum | string trick to get a nice suggestion for the settings json users and in the future the settings UI might support this hopefully.

[2020-06-03 14:10] numeric-lee opened #99273 "replacement glitch using Jupyter lab"
when I type Ctl +H for replace nothing happens
(whereas when I type Ctl+ F I **do** see a box in upper right)

when I attempt to replace using the replace in files and I click submit nothing happens

vs code over wsl2
python 3.7

[2020-06-03 14:12] Tyriar commented on #98918
The ctrl+arrow 'navigation mode' was built with help from NVDA and the main reason it exists is because the list is and must be virtual. As I understand it, navigation with a screen reader is not possible using a virtual list as we need to update the contents of the DOM during navigation and we don't get events to trigger when a screen reader is being navigated.

The buffer must be virtual for the

[2020-06-03 14:14] Tyriar commented on #98975
Do you have anti-virus software that could be blocking the terminal? If so try following the instructions in https://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-the-errors-connectnamedpipe-failed-windows-error-232-or-terminal-exited-with-code-x-on-windows

Also does that file exist? Can you run it in an external cmd window?

/label "needs more info" integrated-terminal

[2020-06-03 14:15] sandy081 commented on #98819
There are only 4 types and Problems view shows only 3 types. Mostly 2 types are more prominent (errors and warnings).

Not able to figure out the issue here to decide where to start among 2 types (max 3) ?

[2020-06-03 14:16] Tyriar commented on #95879
There is only one remaining issue afaik which I just linked.

[2020-06-03 14:17] Tyriar commented on #95879
I think it is this same issue as the client retries 100 times after a 401.

[2020-06-03 14:18] lszomoru commented on #88231
**Verification:**
- Create a new CSS file and add the following class
[code]
- Hover over the color and open the color picker
- Confirm that the title of the color picker shows "#1f1f1f"

[2020-06-03 14:19] #98910 closed

[2020-06-03 14:19] bpasero commented on #99267
Yup, no hot exit in extension dev window.

[2020-06-03 14:19] #99267 closed

[2020-06-03 14:20] dbaeumer commented on #96433
@jrieken any idea if this was tested or needs verification?

[2020-06-03 14:21] jrieken commented on #96403
Turns out this was done on purpose via https://github.com/microsoft/vscode/issues/94073, https://github.com/microsoft/vscode/commit/8f82b87b9597488aa18fc254a8b19bb600768a2f. I will go ahead and undo those changes. Extensions that do want to save output should have all the necessary events and API by now (e.g listen to output change, emit dirty/change event)

[2020-06-03 14:21] sandy081 commented on #98618
Depends and we cannot rely on that.

Well, I see the request but I do not think it meet the priorities. So I have to tag this as out of scope and we would revisit this when there is a demand.

[2020-06-03 14:22] sandy081 commented on #98814
Thanks, please reopen it with required info when you see it again.

[2020-06-03 14:22] #98814 closed

[2020-06-03 14:22] Tyriar commented on #98881
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.

/needsMoreInfo

[2020-06-03 14:25] jrieken commented on #96403
closed via https://github.com/microsoft/vscode/commit/99fa777e532122214757c7d80862603322e00655

[2020-06-03 14:25] #96403 closed

[2020-06-03 14:25] Tyriar commented on #98888
Out of scope as there's a solution to this that the Python extension has yet to support https://github.com/microsoft/vscode-python/issues/11963#issuecomment-638233225.

[2020-06-03 14:26] #98888 closed

[2020-06-03 14:27] jrieken commented on #96433
🤷 ping @rebornix

[2020-06-03 14:28] #98584 closed

[2020-06-03 14:28] Tyriar commented on #98772
The font looks different, you probably haven't set it correctly in the fontFamily setting.

[2020-06-03 14:28] #98772 closed

[2020-06-03 14:29] misolori commented on #99244
I think in this case it’s referring to the focus border color.

[2020-06-03 14:31] #86201 closed

[2020-06-03 14:31] bpasero commented on #99060
I actually see no way at all to do this because as far as the browser seems to be concerned these 2 files are independent from each other. The hierarchy is only something we make up when walking the folder, but not something the file that is being dropped carries.

[2020-06-03 14:33] isidorn commented on #98918
@Tyriar ok, but it still holds that we can add a role 'document' to the parent container.

[2020-06-03 14:34] isidorn commented on #99244
You are correct. Renamed the issue.

[2020-06-03 14:35] Tyriar opened #99274 "Cancel button is not in right spot when turning on sync"
The cancel button is meant to be on the very right on Windows

![image](https://user-images.githubusercontent.com/2193314/83650121-d497f180-a56c-11ea-8675-de287d918cfc.png)

[2020-06-03 14:35] aeschli opened #99275 "Notebook: Split cell not working when at end of content"
Testing #98985
Version: 1.46.0-insider
Commit: 595d2b9b916d063aadfc2c1a8c8f6df5b45572a8
Date: 2020-06-03T05:33:25.873Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.3.0-51-generic

Split cell does not seem to work at times (I've seen it working, not sure what exactly makes the difference)

- have a Github issues notebook:
[code]
- set cursor in fir

[2020-06-03 14:36] aeschli commented on #99275
![notebook-split](https://user-images.githubusercontent.com/6461412/83650157-506b5b80-a5b8-11ea-8668-bf120aa419db.gif)

[2020-06-03 14:38] svenbs opened #99276 "Tasks: Pick folder for user tasks in multi-root-workspaces"
User-Tasks in Multi-Root-Workspaces should ask in which workspace Folder they should be executed. Currently every User-Task will only be executed in the first workspaceFolder.

[2020-06-03 14:38] dbaeumer commented on #99107
Sorry wring issue. Setup from https://github.com/microsoft/vscode/issues/98021

[2020-06-03 14:39] ornellaalt commented on #99206
on macOS, there are lines between (ignore the weird "unsaved" text snippet, filing an issue for that now)
![image](https://user-images.githubusercontent.com/44654695/83650506-6bbd7300-a586-11ea-9cd1-04aaec49ff2b.png)

[2020-06-03 14:40] sandy081 commented on #95157
@amelio-vazquez-reina Logs are available in insiders, is it possible to try out and provide the logs again?

[2020-06-03 14:40] isidorn commented on #97204
Works great, nice job. Adding verified label.

[2020-06-03 14:40] aeschli opened #99277 "Notebook: OId cell contents showing up again"
Testing #98985
Version: 1.46.0-insider
Commit: 595d2b9b916d063aadfc2c1a8c8f6df5b45572a8
Date: 2020-06-03T05:33:25.873Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.3.0-51-generic

Not reprodcuble after a VSCode restart,

I added code cells. The new code cell had the content of a cell I previously deleted

Dev tools showed
[code]

[2020-06-03 14:41] isidorn commented on #96607
To verify:
1. Open keybindings shortcuts view
2. Focus on the list
3. Start typing - we should navigate as you type

[2020-06-03 14:41] ornellaalt opened #99278 "Text snippet appears in bookend view"
Testing #98994

1. Open file and make a change without saving
2. Drag open editors to output pane
3. Collapse to bookend view

![image](https://user-images.githubusercontent.com/44654695/83650767-b50dc280-a586-11ea-80a0-9260bded98e1.png)

[2020-06-03 14:44] isidorn commented on #95961
@jvesouza did you get a chance to try this out? So we add a verified label if all is good.

[2020-06-03 14:47] #98994 closed

[2020-06-03 14:48] alexr00 opened #99279 "Custom editor documentation"
Testing https://github.com/microsoft/vscode/issues/99003

The [`webviewOptions`](https://github.com/microsoft/vscode/blob/a276865712bc9faa2a350b4befba61874f02b5ae/src/vs/vscode.d.ts#L8036 )has no documentation comment, but the `supportsMultipleEditorsPerDocument` property right below it has a huge comment. It would be nice to have comment on the `webviewOptions`.

Looks like there's a word missing

[2020-06-03 14:50] sgon00 opened #99280 "The markdown.styles stylesheet must be contained inside the current workspace."
The stylesheet must be contained inside the current workspace.

Closing as by-design

_Originally posted by @mjbvz in https://github.com/microsoft/vscode/issues/77290#issuecomment-515729785_

This design decision is wrong.

[2020-06-03 14:53] #99068 closed

[2020-06-03 14:53] bpasero commented on #99068
Learnt something: https://stackoverflow.com/a/23823587/4851043

[2020-06-03 14:55] alexr00 commented on #99279
Does this mean that `CustomTextEditorProvider`s automatically allow multiple editors, or that the never do?
https://github.com/Microsoft/vscode/blob/eb099962389a28a5f32490a530adae05b8d25851/src/vs/vscode.d.ts#L8038-L8051

Reading the docs [here](https://code.visualstudio.com/api/extension-guides/custom-editors#custom-editor-api-basics), it talks about how a single `TextDocument` can have multiple

[2020-06-03 14:55] Stanzilla commented on #94797
@alexdima yup, correct, thanks. And yeah I know it's intended, just wish there was an option to disable it.

[2020-06-03 14:56] mcswell opened #99281 "can't login to remote"
- VSCode Version: 1.45.1 (user setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

VSCode can't log in to one of the remote Linux machines that I have accounts on (it works fine on the other remote Linux machines).  Specifically, it stalls showing the in

[2020-06-03 14:57] aeschli opened #99282 "Notebook: Join cell doesn't see to work with empty cell"
Testing #98985

Version: 1.46.0-insider
Commit: 595d2b9
Date: 2020-06-03T05:33:25.873Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.3.0-51-generic

- Create a Github issues notebook
`[{"kind":2,"language":"github-issues","value":"$current=milestone:\"May 2020\"\n$repo=repo:microsoft/vscode","editable":true},{"kind":2,"language":"github-issues","va

[2020-06-03 14:57] eamodio opened #99283 "Test: Provide open with support to embedding default editors"
Refs: #98048

- [x] web @bpasero

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%2399283%0A%0A)

---

There is now a new `openWith?: string` property on `IDefaultEditor` that can be used to open the documents with a custom editor, e.g. markdown preview mode, for a first-run scenario on the web.

e.g.
[code]

I usually test by adding the following here: h

[2020-06-03 15:04] eamodio opened #99284 "Codicons are not supported in the view + view container icons in package.json"
Testing #98996

I think we should support codicons in the view icons, just like commands as it will make it easier for extension authors to provide icons.

[2020-06-03 15:05] eamodio commented on #98996
Looks good!

[2020-06-03 15:05] #98996 closed

[2020-06-03 15:07] kieferrm opened #99285 "Add missing imports: Respect organize import order"
Issue Type: <b>Bug</b>

Testing https://github.com/microsoft/vscode/issues/98997.

1) Open the VS Code source
2) Open `/src/vs/code/electron-main/app.ts`
3) run **Organize Imports** on the file
4) Remove the last 10 lines of `import` statements
5) Run **F1 > Source Actions > Add Missing Imports**

Comparing the result of 3 with the result of 5 I would have expected to see no difference. This is no

[2020-06-03 15:10] alexr00 commented on #99279
The [docs page](https://code.visualstudio.com/api/extension-guides/custom-editors) is excellent!

[2020-06-03 15:14] AlsoScratch opened #99286 "Manually change digit grouping symbol/ decimal point"
My issue #98911 got closed so I would like to request instead for an option to change the digit grouping symbol or decimal point rather than having it follow the OS.

[2020-06-03 15:14] weinand commented on #99068
Wow, that explains why I always saw about 100 uploaded files.
Good find!

[2020-06-03 15:17] alexr00 commented on #98908
Does this both answer your question and improve the docs? https://github.com/microsoft/vscode-docs/commit/696b68cf3cb02acdfa92cc706ed8fa47574b606a

[2020-06-03 15:17] kieferrm opened #99287 "Remove all unused code"
Issue Type: <b>Bug</b>

Testing https://github.com/microsoft/vscode/issues/98997.

Early observations  for **Remove All Unused Code**:
- unused variables and members are removed
- code after a `return` statement is not
- unused parameters of a function declaration are removed but I'd like more fine-grained control here. For example, in `src/vs/code/electron-main/app.ts` we use parameter declaratio

[2020-06-03 15:18] #99268 closed

[2020-06-03 15:18] bpasero commented on #99107
I can reproduce, but I also think this is a corner case. Looks like devtools is causing the window to crash again, I am not worried to ship this.

[2020-06-03 15:18] #99107 closed

[2020-06-03 15:18] #98997 closed

[2020-06-03 15:23] sandy081 commented on #93308
@joaomoreno Good thing is that I can repro this locally not consistently though. I see this while I am scrolling through most popular extensions. Some how `PagedModel.resolve` is returning an element with index that does not exist in the model. See below

<img width="892" alt="image" src="https://user-images.githubusercontent.com/10746682/83655413-af33d380-a5be-11ea-842e-621153ac4f3c.png">

BTW wh

[2020-06-03 15:25] roblourens commented on #99112
I didn't see this today but I think I have seen this kind of thing before and I'll look at it again in debt week.

[2020-06-03 15:25] #98985 closed

[2020-06-03 15:26] #98087 closed

[2020-06-03 15:28] alexr00 opened #99288 "Custom Editor open with built-in doesn't work when already open with custom"
Testing https://github.com/microsoft/vscode/issues/99003

I have the .cscratch file open in the custom editor, then I also want to open the built in editor from the explorer view:
![recording (4)](https://user-images.githubusercontent.com/38270282/83656190-87913b00-a5bf-11ea-818f-8b2379445f0d.gif)

[2020-06-03 15:30] gregvanl opened #99289 "Increased sash size makes scrolling diff view difficult"
Testing #99016

1. Set the workbench.sash.size to 20
2. Open the diff view for a pending commit diff with the diff view using the inline view
3. Try to grab the scroll bar at the bottom.

The scroll bar grab region is very small. You only get an arrow cursor if you are at the top of the scroll bar, otherwise you get the resize cursor.

When set to the default 4 pixels, you can grab most of the scr

[2020-06-03 15:31] yj7 opened #99290 "Git diff tab is not restored when reopening vscode"
- VSCode Version: 1.45.1
- OS Version: Win 10

Steps to Reproduce:

1. Open a project with git configured
2. Open changes of a file using the source control section
3. Close VSCode
4. Relaunch VSCode

All other tabs will be opened except git diff changes tab

Does this issue occur when all extensions are disabled?: Yes/No

[2020-06-03 15:31] jvesouza commented on #95961
I'm sorry for the delay in testing, I should have returned earlier.

It seems that nothing has changed because when I look for something in bread crumbs only the first item on the list is announced.

I have in my code two functions, open_input and open_output.
If I quickly type op nothing is announced by orca. Probably the fact that I type the letter p interrupts the orca's speech.
As this only ha

[2020-06-03 15:32] sandy081 commented on #99274
This is shown correctly in Mac

<img width="677" alt="image" src="https://user-images.githubusercontent.com/10746682/83656486-e5258780-a5bf-11ea-9608-e9a3450e99be.png">

@bpasero Any idea why the order is getting changed by platforms? I am showing the dialog as follows:

https://github.com/microsoft/vscode/blob/ecafac21dbb45d43718bfa80d27b7abb9104695b/src/vs/workbench/services/userDataSync/browser

[2020-06-03 15:33] kieferrm opened #99291 "Repo not whitelisted"
Testing #97578.

Running on `https://online-ppe.core.vsengsaas.visualstudio.com/environments` (internal only) which run

Version: 1.46.0-insider
Commit: 595d2b9b916d063aadfc2c1a8c8f6df5b45572a8
Date: 2020-06-03T05:23:16.078Z
Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.13 Safari/537.36 Edg/84.0.522.5

1) Create a new codespace  fo

[2020-06-03 15:38] aeschli commented on #99178
@DaveEveritt Can you open the extensions view let and type `@builtin C/C++` in the input field.
Make sure the `C/C++ Language Basics` extension is enabled.
![image](https://user-images.githubusercontent.com/6461412/83657407-194d7800-a5c1-11ea-8229-224db9327627.png)

[2020-06-03 15:39] alexr00 opened #99292 "Unclickable extra custom editor tab"
Testing https://github.com/microsoft/vscode/issues/99003

I made some scratches and left my editor unsaved.
Then I reloaded.
As expected, the file showed up as dirt and restored my unsaved scratches.
Unexpectedly, there is a second tab for that editor that I didn't open. And when I click on it, it just opens the first tab. The extra tab just sits there.

![image](https://user-images.githubusercont

[2020-06-03 15:41] gregvanl commented on #99206
Looks like vertical delimiters have been added in the latest Insiders Commit: 595d2b9b916d063aadfc2c1a8c8f6df5b45572a8

Looks good!

[2020-06-03 15:43] sandy081 commented on #98820
I do not think this is a prominent use case. This is for administering or troubleshooting which is secondary and hence it is made accessible only through Command pallette.

I appreciate your feedback about download action that is to restore the state but since it is a brand new thing so I would wait and get more feedback before doing any changes over there

I do not think this looks like a toggle

[2020-06-03 15:43] connor4312 commented on #95990
To verify:

 1. Open a notebook and execute some cells
 2. Run the "open webview developer tools command"
 3. Inside the chrome devtools window, hit ctrl+r to refresh the webview
 4. Verify that output is still renderered/displayed

[2020-06-03 15:48] alexr00 opened #99293 "Open custom pawdraw editor closed upon reload"
I had an opened, not-dirty, pawdraw editor open.
I reloaded. Immediately upon reload, I could see my pawdraw tab, but instead of loading the editor, it closed.

Console errors
[code]

[2020-06-03 15:49] kieferrm opened #99294 "Trusted Domains pops up when trying to file an issue"
Testing #97578.

Running on `https://online-ppe.core.vsengsaas.visualstudio.com/environments` (internal only) which run

Version: 1.46.0-insider
Commit: 595d2b9b916d063aadfc2c1a8c8f6df5b45572a8
Date: 2020-06-03T05:23:16.078Z
Browser: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.13 Safari/537.36 Edg/84.0.522.5

1) Create a new codespace  fo

[2020-06-03 15:49] alexr00 commented on #99293
I needed to reload before I could open that file again with the pawdraw editor.

[2020-06-03 15:51] alexr00 commented on #99293
The path to cause a repro appears to be:
Make some drawings.
Do some undos and redos.
Keep the file open.
Reload.

[2020-06-03 15:51] connor4312 opened #99295 "Allow for "random access" undos"
Refs: https://github.com/microsoft/vscode/issues/99159

[2020-06-03 15:52] connor4312 commented on #99197
Yes, please share both your user and workspace settings. Thanks!

/needsMoreInfo

[2020-06-03 15:53] connor4312 commented on #99198
/duplicate https://github.com/microsoft/vscode/issues/96986

[2020-06-03 15:54] #99198 closed

[2020-06-03 15:55] connor4312 commented on #99201
Please see our wiki page with details on how to provide info for performance issues 🙂  https://github.com/microsoft/vscode/wiki/Performance-Issues

/needsMoreInfo

[2020-06-03 15:56] isidorn commented on #93599
Futher discussions in the PR #98817
We will not tackle this this milestone, thus pushing out of May

[2020-06-03 15:56] #97578 closed

[2020-06-03 15:56] texastoland commented on #98820
It's genuinely hard to use on multiple points. I don't understand how there are no action items. I identified easily implementable improvements. I literally couldn't find your new button after seeing your screenshot. To argue a single point, where else in the entire UI do tree items not respond to context clicks?

[2020-06-03 15:56] #98934 closed

[2020-06-03 15:57] aeschli commented on #99251
Maybe the same as https://github.com/microsoft/vscode/issues/96916

[2020-06-03 15:58] connor4312 commented on #99207
Please file this issue over on the live-share repo. Their issue template also has instructions that will provide better info to help solve the problem: https://github.com/MicrosoftDocs/live-share/issues/new?template=bug_report.md

\extLiveshare

[2020-06-03 15:59] isidorn commented on #95961
@jvesouza thanks for trying it out. Probably things do not get read out because we use live-regions to send out an alert and orca does not see a change between alerts and probably does not read anything.

So even though we pushed a fix for this the experience is not that nice.
@joanmarie is there some way to force orca to re-read an alert?

[2020-06-03 15:59] #99227 closed

[2020-06-03 16:01] #99207 closed

[2020-06-03 16:01] sandy081 commented on #99227
Moved to sign in action badge to Accounts.

To verify:

- Start insiders using fresh user data and extensions dir with sync on
```code-insiders --user-data-dir <user-data-dir> --extensions-dir <extensions-dir> --sync on`
- Make sure badge is shown on Accounts Icon and `Sign in to Sync Preferences (1)` action is shown. Same action is also shown under gear icon but without badge.

[2020-06-03 16:04] connor4312 commented on #99273
\extPython

[2020-06-03 16:05] #99273 closed

[2020-06-03 16:05] connor4312 commented on #99260
Can you please describe in more detail the issue you're facing?

/needsMoreInfo

[2020-06-03 16:06] connor4312 commented on #99260
from the link:

![image](https://user-images.githubusercontent.com/2230985/83660338-90f7b480-a579-11ea-87c7-c750927b02b0.png)

[2020-06-03 16:07] ncduy0303 commented on #76798
Has there been any solutions for this problem? The GDB debugger keeps loading the entire array which is very slow.

[2020-06-03 16:07] connor4312 commented on #99246
/needsMoreInfo

[2020-06-03 16:09] connor4312 commented on #99243
This is as intended -- vscode runs multiple processes, which will all appear in task manager.

[2020-06-03 16:10] #99105 closed

[2020-06-03 16:10] weinand commented on #76798
@ncduy0303 Please file your issue against the GDB debugger.

[2020-06-03 16:12] sandy081 commented on #99105
It has tooltip but was not shown because of setting `pointer-events` to `none`. This was set for this - https://github.com/microsoft/vscode/issues/93989.

Reverted that change because it is more important to have hover than that.

[2020-06-03 16:12] mcdado commented on #99265
Should it be moved to https://github.com/Microsoft/vscode-docs ?

[2020-06-03 16:15] DaveEveritt commented on #99178
It is enabled

[2020-06-03 16:16] sandy081 commented on #93989
This change was reverted as it is causing hovers not to be shown - https://github.com/microsoft/vscode/issues/99105

Not sure how important it is to not to have click feedback instead of having an hover.  Hence keeping this closed as won't fix. If there is another way to fix it please let me know I am open to reopen it.

[2020-06-03 16:17] #98172 closed

[2020-06-03 16:19] roblourens commented on #96600
/label search

[2020-06-03 16:20] roblourens commented on #96600
/label -search
/label *duplicate

[2020-06-03 16:21] roblourens commented on #96600
/label *duplicate

[2020-06-03 16:21] roblourens commented on #96600
/assign roblourens

[2020-06-03 16:22] roblourens opened #99296 "Support multiple /label commands in one comment"
Testing #96600

It might be useful to support more than one of these commands at once so I can set multiple labels/assignees?

https://github.com/microsoft/vscode/issues/96600#issuecomment-638304388

[2020-06-03 16:22] roblourens commented on #96600
sldkfj
ssldfj sdf
lsjkdf
lsdkfj
/label api

[2020-06-03 16:22] roblourens commented on #96600
/label verified 😎

[2020-06-03 16:24] roblourens commented on #96600
First it said `/label verified 😎` on the same line which i think prompted the error.

[2020-06-03 16:28] JacksonKearl commented on #99186
No, in the normal editor tab always simply moves focus when "Tab Moves Focus" is on.

[2020-06-03 16:28] sbatten commented on #99229
From the OS level, at least checking in Windows, Delete and Rename are adjacent and not separated.

/cc @bpasero @alexdima

[2020-06-03 16:30] #99296 closed

[2020-06-03 16:35] elenadimitrova commented on #98819
Yes I see where the confusion is. Let me use an example from the actual problems list output here (Solidity compilation result for Ethereum):
[code]

In this abbreviated case, I would like to be able to sort by the message string so the first and third errors are grouped together and I can fix at once.

[2020-06-03 16:35] sbatten commented on #99161
in my case, I always closed all files after the f2 rename operation

[2020-06-03 16:36] roblourens opened #99704 "Top debug session row says "paused" when not paused"
- Start my debug config
- Hit a breakpoint on a debugger statement
- Continue
- The tab row says "Running" but the top row still says "Paused":

![image](https://user-images.githubusercontent.com/323878/83663262-403e8680-a58e-11ea-9827-66d61938cc1a.png)

[2020-06-03 16:36] sandy081 commented on #97082
To verify:

- Have an empty keybindings file
- Turn on Sync and you shall see an error the file has invalid content.

[2020-06-03 16:37] sandy081 commented on #98820
Context clicks are less discoverable than primary actions.

[2020-06-03 16:39] #99286 closed

[2020-06-03 16:39] #99206 closed

[2020-06-03 16:40] sbatten commented on #99206
I am not sure what changed here, I added theme keys and defaults for the panel borders a while ago. In today's insiders things seem to be working. Can you verify @gregvanl ?

[2020-06-03 16:42] sbatten commented on #99204
@misolori thoughts? the terminal icon is similar to the chevron

[2020-06-03 16:46] sbatten commented on #99067
I cannot reproduce this but it sounds like an electron issue since that button press is just a call to electron API

[2020-06-03 16:47] misolori commented on #99204
We could maybe modify the icon a bit to add a `_` next to it but i'm pretty sure we already explored that and @Tyriar wasn't a fan.

[2020-06-03 16:48] texastoland commented on #98820
But you're postulations are incorrect. I'm the user and couldn't figure out you're implementation. You're correct but they're helpful when you can't figure out a UI. I really want another pair of UX eyes on this.

[2020-06-03 16:50] Tyriar commented on #92890
![image](https://user-images.githubusercontent.com/2193314/83650945-ca2a2780-a56d-11ea-8bce-3e404b0c6843.png)

I think the wording could be improved as it's pretty verbose and "turn on sync to continue syncing" could be better, I also notice that the error message is shared between the client is very old (410 and local version incompatibility) and the client version is blocked due to a bug (426, #

[2020-06-03 16:50] gregvanl commented on #99206
@sbatten Looks good to me.

![image](https://user-images.githubusercontent.com/12818376/83665035-b5568f80-a57f-11ea-9224-20457d32ac06.png)

[2020-06-03 16:50] Tyriar commented on #98530
The error works, wording discussion captured in https://github.com/microsoft/vscode/issues/92890

[2020-06-03 16:54] roblourens commented on #96083
Is this expected? Got this when I disable schemaDownload and open a random package.json. Seems like it shouldn't try to download the schema and shouldn't show an error. Or if we want the user to be aware, the error should mention the setting.

![image](https://user-images.githubusercontent.com/323878/83665279-d2478e80-a590-11ea-9daf-5bcf4d153f28.png)

[2020-06-03 16:54] felipecassiors commented on #23251
To have platform-specific extensions certainly solves most of the problem, since we could simply package all the needed binaries into the `.vsix`.

One thing to note is: some licenses don't allow binary redistribution, which in this case we would still need a mechanism for downloading the dependencies.

[2020-06-03 16:54] mcswell commented on #99281
Sorry about the big bold font, not sure how that happened.  I didn't mean to shout :-)

[2020-06-03 16:58] muleghanshyam1991 commented on #99243
@connor4312  As i ran above command in terminal it launches VS code and generates some line of text code and i thinks it is initialising VS code resources and workspace components

[2020-06-03 16:59] gregvanl commented on #92890
How about: "Preferences Sync is disabled because the current version (1.46, undefined) of <blah> is not compatible with the Sync service. Please update before turning on Preferences Sync."

[2020-06-03 17:00] JHawkley opened #99297 "Improper `@example` parsing when an at-sign `@` is used in the code-block."
Noticed an issue with the `@example` JSDoc tag when the example happens to use an `@` sign, such as for an email address (my case).

- VSCode Version: 1.45.1
- OS Version: Ubuntu 20.04

Steps to Reproduce:

1. Make an `@example` JSDoc tag similar to the below:
[code]
2. Observe the tooltip for `theProfile`.  VSCode parses the `@not_an_email` as a JSDoc tag, breaking the code formatting.  It will d

[2020-06-03 17:01] colski commented on #68787
Just to add this problem is biting me too - almost certain it is caused by a windows update / rebuild... I am now on version 1909, build 18363.836)

thx.

[2020-06-03 17:01] alexdima commented on #99151
The root cause is hat the cell creation undo leads to the focused editor being disposed, which leads to the focus going to the body (and leaving the notebook). Once clicking anywhere inside the notebook, undo works again.

[2020-06-03 17:02] rebornix commented on #96433
We still have ongoing discussion about waht/how metadata are being copied to copy/paste. Reopen this and finalize in next iteration.

[2020-06-03 17:04] Tyriar commented on #99204
Yes `v` seems pretty overloaded. These are what the icons can mean currently:

- `>` collapsed, click to expand (lists, views)
- `v`
  - expanded, click to collapse (lists, views)
  - maximized, click to restore (panel)
  - close/hide (notifications
- `^`
  - maximize (panel)
- `x`
  - hide, non-destructive (panel, find)
  - close, destructive (editor tabs)
  - dismiss, kind of destructive (search

[2020-06-03 17:08] balakumaran1303 opened #99298 "faild to compile"
Issue Type: <b>Bug</b>

xc

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:33:47.663Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5350U CPU @ 1.80GHz (4 x 1800)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseline: enabled<br>gpu

[2020-06-03 17:10] alexdima commented on #99161
@sbatten I still cannot reproduce with the new steps (closing all files after the f2 rename):

![Kapture 2020-06-03 at 19 09 19](https://user-images.githubusercontent.com/5047891/83666861-dfcf3980-a5cd-11ea-936e-5e7406aa971b.gif)

[2020-06-03 17:11] Tyriar commented on #92890
Since we already know the topic is "Preferences Sync" how about contracting it and removing the caps?

[2020-06-03 17:12] CleanCut commented on #99170
My mistake, thanks.

[2020-06-03 17:13] alexdima commented on #99229
Personally, I think destructive actions that cannot be undone should prompt. @MattWilcox did the delete not prompt in your case?

[2020-06-03 17:13] roblourens opened #99299 ""stopAll" ends debugging after the second "attach" config is disconnected"
- Start the "VS Code" compound config
- Detach "Attach to Main Process"
- Everything else is still attached
- Detach "Attach to Shared Process"
- All the remaining configs are stopped

Same thing if I do the 2 in the opposite order so I don't think it's anything special about the Shared Process. Is it all supposed to shut down after one attach config is detached, or should it only shut down when a

[2020-06-03 17:13] jgclark commented on #98908
Yes, @alexr00 that covers one of my questions. To cover my other learning point, I suggest the following addition a little later in tasks.md:

I've also thought it would help to state what context the `command` is executed in, particularly where it will pick up the contents for its `$PATH`.

[2020-06-03 17:13] alexdima commented on #99290
Yes, +100 !!

[2020-06-03 17:14] Tyriar commented on #99219
A case of https://github.com/microsoft/vscode/issues/95879?

[2020-06-03 17:14] roblourens commented on #95964
Much better, and I added this attribute to our compound config. But the behavior partly confuses me and I opened https://github.com/microsoft/vscode/issues/99299

[2020-06-03 17:14] misolori commented on #99204
@Tyriar I think the discussion here is around the terminal icon when a view is collapsed in the panel. The chevron is a separate issues as it's used in a lot of places (as you outlined).

[2020-06-03 17:16] Tyriar commented on #99204
Oh, that icon 🤦. My only suggestion is using _ as well (representing prompt and cursor) similar to WT:

![image](https://user-images.githubusercontent.com/2193314/83667483-5430bb00-a583-11ea-9de7-73459af5f915.png)

[2020-06-03 17:18] CleanCut commented on #99197
@ArturoDent @connor4312 Sure thing, here you go.

Workspace settings is simply:
[code]

My user settings: [settings.json.zip](https://github.com/microsoft/vscode/files/4724998/settings.json.zip)

Inside of the user settings, I have (among other things):
[code]

If I delete that setting, the vertical ruler between 78-79 disappears, but if I have that present with any value, then the ruler between 7

[2020-06-03 17:20] rebornix commented on #99240
What I observed from above steps:

* have a GH issue notebook with 2 cells and a variables that is used in both
  * document open event, gh nb set up project
* close the notebook editor
  * document close event, gh nb dispose `projectRegistration`
* press refresh in the references viewlet
  * Reference provider in gh nb is still invoked, which only returns single result

IMHO the events we sent to

[2020-06-03 17:21] #97648 closed

[2020-06-03 17:22] Tyriar commented on #98918
If that will improve the experience that's easy 👍

[2020-06-03 17:22] JacksonKearl commented on #99294
The domains are currently matched case-sensitively because in theory different cased paths could resolve differently.

Looks like in desktop the report issue flow doesn't go through trusted domains so we don't see this there.

Could either make all matching case-insensitive, or special case github paths. Or trust both `Microsoft` and `microsoft`.

[2020-06-03 17:23] cardiffman commented on #99179
It looks like a problem is happening. The word "fatal" for one thing. Can you give me more information?

[2020-06-03 17:32] DanTup commented on #98618
@sandy081 any reason why this couldn't be done using a DiagnosticTag or something as suggested above? It removes any delay between clicking/menu opening, and would be a nice usability improvement showing which problems have quickfixes in the problem list without having to click (the current behaviour already feels kinda awkward).

[2020-06-03 17:33] misolori opened #99300 "Provide a good example for using 'setState' in NotebookRendererApi"
Testing #99001

Maybe this is just my lack of understand with the notebook API, but all of the other methods in `INotebookRendererApi` seem to have clear instructions on what they're used for (`onWillDestroyCell` and `onDidCreateCell` are good examples). But for `setState` and `getState` I'm a bit unsure of how i'm suppose to use this. It seems as if once I set this in the entry point for the rend

[2020-06-03 17:35] Tyriar commented on #98952
This happens right after opening just a _single_ terminal? Not sleeping the computer or something after opening?

I've never seen something like this but a sure workaround would be to move to the (slower) dom renderer with this setting:

[code]

[2020-06-03 17:36] connor4312 commented on #97915
1. A description would be helpful. Right now this is probably not apparent to a normal user

![](https://memes.peet.io/img/20-06-a0ed6d5f-eb3e-433a-a8b8-836ea621ce49.png)

2. This doesn't appear to work for me. I set it to the suggested value of `2` but context was not shown

![](https://memes.peet.io/img/20-06-4b1aee6b-e05b-49c3-b63e-56add39ed088.png)

[code]

[2020-06-03 17:37] Tyriar commented on #98679
/duplicate https://github.com/Microsoft/vscode/issues/69665

[2020-06-03 17:37] #98679 closed

[2020-06-03 17:38] Tyriar commented on #98670
There's ctrl+shift+` to open a new terminal and ctrl+shift+5 to split a terminal.

![image](https://user-images.githubusercontent.com/2193314/83669404-652efb80-a586-11ea-92e3-1f70c20a2efc.png)

[2020-06-03 17:38] #98670 closed

[2020-06-03 17:40] rebornix commented on #99172
@mjbvz I found that when opening a diff editor with above configuration set, below code is always invoked and override the normal editor opening:

https://github.com/GustavoASC/vscode/blob/1d268b701376470bc638100fbe17d283404ac559/src/vs/workbench/contrib/customEditor/browser/customEditors.ts#L431

[2020-06-03 17:42] sbatten commented on #99229
/cc @isidorn

This is controlled by this setting I believe `explorer.confirmDelete`

[2020-06-03 17:42] JacksonKearl commented on #97915
Description was already added in master, will look into rest

[2020-06-03 17:42] sbatten commented on #99206
adding verified as per @gregvanl

[2020-06-03 17:44] musm commented on #98175
I also don't get smooth scrolling in the terminal box.

[2020-06-03 17:45] roblourens commented on #98175
I was just trying this and it's also not clear to me.

[2020-06-03 17:46] saschanaz opened #99301 "Show tooltip on Attach to process window"
![image](https://user-images.githubusercontent.com/3396686/83669982-ba90fa00-a5d2-11ea-8093-3993e4441215.png)

It's hard to see command differences and pick the right one when they are long. It'll be helpful if a tooltip shows the full command.

[2020-06-03 17:48] Tyriar commented on #99156
@roblourens the focus behavior is the opposite to what I was expecting where the cell is focused, not the textarea, just making sure it was intentional? To start working on the next cell now is shift+enter, _enter_, typing, as opposed to shift+enter, typing.

[2020-06-03 17:52] Tyriar commented on #99063
It doesn't appear to be fixed:

![recording (11)](https://user-images.githubusercontent.com/2193314/83670581-40d41e80-a588-11ea-915d-e85d83e9f167.gif)

[2020-06-03 17:53] 9at8 opened #99302 "Change 'resolveCustomEditor' to 'resolveCustomTextEditor' [typo]"
Testing #99003

Under lifecycle docs: https://code.visualstudio.com/api/extension-guides/custom-editors#custom-text-editor-lifecycle

Change:

to:

![Screenshot_20200603_135104](https://user-images.githubusercontent.com/8235156/83670612-733e4580-a5a1-11ea-9df6-a8a47a85cd31.png)

[2020-06-03 17:53] RMacfarlane opened #99303 "Terminal "Error: Not implemented" on web"
Issue Type: <b>Bug</b>

1. Be on latest master
2. Compile and mixin-server
3. yarn run web

Open the terminal in the browser, terminal is blank and this error is in the dev console:
[code]

VS Code version: Code - Insiders 1.46.0-insider (595d2b9b916d063aadfc2c1a8c8f6df5b45572a8, 2020-06-03T05:38:33.098Z)
OS version: Darwin x64 18.7.0

[2020-06-03 17:53] mathisgag commented on #98924
Same issue with closed issue #94361 in exploration version.

[2020-06-03 17:55] chrisnorman7 commented on #98918
Wow, thanks for working so hard on this all. That's great.

[2020-06-03 17:57] Tyriar commented on #95997
Used to see this all the time, but haven't for a long time now.

[2020-06-03 18:00] mjbvz opened #99304 "Fix useDefineForClassField errors in our codebase"
## Problem

TypeScript 4.0 is more strict about the behavior of class properties. The goal is to better align the behavior of TypeScript with how class properties will behave in JavaScript once they are standardized. [This writeup](https://devblogs.microsoft.com/typescript/announcing-typescript-3-7/#the-usedefineforclassfields-flag-and-the-declare-property-modifier) covers the issue in more detail

[2020-06-03 18:00] roblourens opened #99305 "Pinning dynamic configuration makes other edits to launch.json"
Verifying #95836

- Pin some Node.js dynamic config in vscode's repo
- It adds the config, but makes several other edits - removes trailing commas, and removes comment lines which are important

Removing the commas isn't a big deal, I guess the json configuration editing service is normalizing the file, but removing the comments is bad since the file is "JSON With Comments" and the comments are ou

[2020-06-03 18:01] #99278 closed

[2020-06-03 18:02] rebornix commented on #99136
Good catch and yet another case for composite editor. Image you have two editors side by side and each one of them has a problem

![recording (1)](https://user-images.githubusercontent.com/876920/83671206-28b0cf00-a589-11ea-82ee-6ffaa27acefb.gif)

and navigating between the problems will not unset the selection of the previous editor. The problems panel will only set new selection in an editor, th

[2020-06-03 18:02] mcandre opened #99306 "Statusbar path truncation cuts off graphemes"
Paths are not truncated too well in the status bar. For example, an "n" gets rendered like "r".

Also, no ellipsis is present to help distinguish between true paths versus truncated paths.

- VSCode Version: 1.45.1
- OS Version: macOS 10.14

Steps to Reproduce:

1. Open a long directory path.

Does this issue occur when all extensions are disabled?: Yes

[2020-06-03 18:03] roblourens opened #99307 "Don't prefix node-terminal with pwa"
Verifying #95836

This would look nicer if we could use a `node-terminal` type instead of `pwa-node-terminal`, since this is a place where we actually write this into user's launch configs. Typically users could see the pwa prefix but only if they are messing around with debug types on their own. We will have to either support the pwa prefix forever or get rid of it and make some users adjust thei

[2020-06-03 18:04] rebornix commented on #99163
Good catch, not sure why monaco's height changes (I guess it's horizontal scrollbar but the query is short).

[2020-06-03 18:06] roblourens opened #99308 "Avoid absolute path in pinned dynamic config"
Verifying #95836

We should try to resolve these to some form of `${workspaceFolder}` if possible, so I can check this in without fixing it.

![image](https://user-images.githubusercontent.com/323878/83671472-62d69c80-a59a-11ea-907c-3119ceb28abf.png)

[2020-06-03 18:08] jimpudar opened #99309 "Vim extension breaks Powershell Command Explorer search"
- VSCode Version: 1.45.1
- OS Version: macOS 10.15.5 (19F101)

Steps to Reproduce:

1. Install PowerShell extension
2. Open Powershell Command Explorer
3. Type some characters, observe the search/filter functionality works
4. Install Vim extension and enable
5. Open Powershell Command Explorer
6. Type some characters, observe the search/filter does not work

Does this issue occur when all extensio

[2020-06-03 18:09] rohangrge opened #99310 "Using excessive resource on java environment"
Issue Type: <b>Bug</b>

The program is taking up extra resources while running java code and it is making the computer heat up while running vs code

VS Code version: Code - Insiders 1.46.0-insider (595d2b9b916d063aadfc2c1a8c8f6df5b45572a8, 2020-06-03T05:43:09.908Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-82

[2020-06-03 18:22] misolori commented on #99001
Thanks for providing the renderer starter repo, that saved so much time (not sure I'd be able to complete this without it). I did find one oddity in how the states are supposed to be used, but besides that it worked as expected. And the multi-renderer also works nicely (I see there how the states are isolated to each renderer, which was nice).

[2020-06-03 18:23] misolori commented on #99001
@connor4312 btw the milestone is set to `June` on this test plan item, not sure if that's intentional or not.

[2020-06-03 18:25] connor4312 commented on #99001
whops, thanks for pointing that out. And for testing!

[2020-06-03 18:30] #99065 closed

[2020-06-03 18:31] sbatten commented on #99065
@Tyriar will be hard to verify but I'll leave it to you. I tested by removing the line that hides it onDragEnd

[2020-06-03 18:39] alexdima commented on #99202
@jkeech I have read through MicrosoftDocs/vsonline#455 but I have to say that it contains basically 0 information. AFAICT the steps are to connect to a specific codespace that always fails from the desktop.

It is not clear to me if this is a problem with:
* the desktop side of things (e.g. old extension version, patched VS Code installation on disk)
* the server side of things (e.g. large workspa

[2020-06-03 18:46] rebornix commented on #99275
@aeschli what's your expected behavior of splitting a cell when the cursor is at the end of the document? Creating a new cell?

[2020-06-03 18:51] steffilion opened #99311 "Cannot connect to the Market Place"
Issue Type: <b>Bug</b>

I'm trying to get access to any marketplace  and it is always failing.  When I switch to the Developer mode I see this following error :
Failed to load resource: net::ERR_NO_SUPPORTED_PROXIES

I have no proxy configured.  I'm not behind a proxy either.

I deleted all stuff  in C:\Users\<user>\AppData\ about Visual Code

I re-install mulitiple time without any success.

I re

[2020-06-03 18:52] Tyriar commented on #99303
It's not clear to me what should happen here. I could do a basic fake local echo shell such that people can test some things? @bpasero thoughts?

[2020-06-03 18:54] Tyriar commented on #98277
Please provide a screenshot illustrating the problem. See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.

/needsMoreInfo

[2020-06-03 18:54] Tyriar commented on #98462
Do you have anti-virus software that could be blocking the terminal? If so try following the instructions in https://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-the-errors-connectnamedpipe-failed-windows-error-232-or-terminal-exited-with-code-x-on-windows

/label "needs more info" integrated-terminal

[2020-06-03 18:55] Tyriar commented on #98720
Do you have anti-virus software that could be blocking the terminal? If so try following the instructions in https://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-the-errors-connectnamedpipe-failed-windows-error-232-or-terminal-exited-with-code-x-on-windows

/label "needs more info" integrated-terminal

[2020-06-03 18:59] mjbvz commented on #99304
https://github.com/microsoft/vscode/pull/99312 fixes about half of these (all the ones about `_serviceBrand`)

[2020-06-03 19:06] #99259 closed

[2020-06-03 19:08] rebornix commented on #99255
@deepak1556 @mjbvz I often see this error and since I'm just using the norma webview element, I don't know what I did wrong.

[2020-06-03 19:10] roblourens commented on #99296
/label *question *as-designed

[2020-06-03 19:13] roblourens commented on #99156
It should focus the next cell's editor only if the active cell's editor is focused when you use the command. Does that make sense? Is that not what you see?

[2020-06-03 19:13] rebornix commented on #99162
Good catch. Will look into this next week.

[2020-06-03 19:18] dhallstr commented on #85592
I'm experiencing this on my secondary monitor.

Primary monitor: 3840 x 2160 (250% scaling)
Secondary monitor: 2560 x 1440 (100% scaling)

Version: 1.45.1 (user setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.17763

[2020-06-03 19:19] alexdima opened #99313 "`vscode:displayChanged` is sent only on mac"
Following the discussion in https://github.com/microsoft/vscode/commit/36996caea047bc07208ebf191207efd5d8e94476

[2020-06-03 19:20] #99294 closed

[2020-06-03 19:21] fiveisprime commented on #99001
Tested on Windows, looks good. 👍

[2020-06-03 19:21] #99001 closed

[2020-06-03 19:24] sandy081 commented on #92890
Thanks for better message.

I would go with single message as both needs updating.

May I know how a new/latest version is blocked?

[2020-06-03 19:24] #92890 closed

[2020-06-03 19:25] alexdima commented on #99237
That one is implemented here -- https://github.com/microsoft/vscode/blob/2aae1f26c72891c399f860409176fe435a154b13/src/vs/base/browser/ui/scrollbar/scrollableElement.ts#L356-L362 -- so it is as aggressive as it can be, it picks the axis which has the highest absolute value and sets to zero the other axis.

It sounds like maybe you want a code path where any `deltaY` that is non zero, even if it is

[2020-06-03 19:28] JacksonKearl commented on #97915
The description is:

The default number of surrounding context lines to show in Search Editor results. If defined, this overrides `#search.searchEditor.reusePriorSearchConfiguration#` for context line configuration in new Search Editors.

Testing, this does seem to work: if I set the value, then open a new search editor, and run a query, it will have context. It doesn't update live, but I think ba

[2020-06-03 19:29] sandy081 commented on #99219
Yeah it is.

But @RMacfarlane May I know why the token is not valid?

@xingxiangyuworkcode Can you please let us know following?

- Which account are you using for sync GitHub or Microsoft?
- Can you please sign out from the account and turn on sync again?

[2020-06-03 19:32] JacksonKearl commented on #99188
Now working.

[2020-06-03 19:32] sandy081 commented on #98618
Can be done but not in priorities as mentioned above.

[2020-06-03 19:35] connor4312 commented on #97915
That doesn't work for me. Here's a recording, maybe I'm missing something: https://memes.peet.io/img/20-06-28fc1d00-d10d-4ea3-8563-cf0a1058e6d3.webm

[2020-06-03 19:42] JacksonKearl commented on #97915
Ah... hm. This was meant for the command `Search Editor: open new Search Editor`, not `Search Editor: Open Results in Editor`. `Open in editor` doesn't run a new search, so it can't get the context lines. Agreed that it's confusing...

[2020-06-03 19:42] alexdima commented on #99218
@bpasero I looked up exit code 7 for nodejs and it is:

![image](https://user-images.githubusercontent.com/5047891/83681315-858ca380-a5e2-11ea-83ba-cc58eee33006.png)

(from https://github.com/nodejs/node-v0.x-archive/blob/master/doc/api/process.markdown#exit-codes)

It is possible that there is an exception thrown by an extension and another extension has registered a broken uncaught exception han

[2020-06-03 19:44] GitClickOk commented on #14165
Seriously, I want instead of this:
![Capture 1735](https://user-images.githubusercontent.com/19438005/83681730-2cf4e080-a5b9-11ea-8752-a150bbad42b3.png)

At least something like this (with syntax highlighting it will be even better):
![Capture 1736](https://user-images.githubusercontent.com/19438005/83681769-3ed68380-a5b9-11ea-9957-d9c661e1d1ad.png)

[2020-06-03 19:50] JacksonKearl commented on #99063
It's checking `.git/config`, not `package.json`. With a config like this:
[code]

I am seeing it behave correctly.

Whats your `.git/config`?

[2020-06-03 19:51] RMacfarlane commented on #99219
@xingxiangyuworkcode Can you also include the log from the output channel for "GitHub Authentication" or "Microsoft Authentication", depending on which you are using?

[2020-06-03 19:54] aeschli commented on #99275
Yes. That's better than a no-op.

[2020-06-03 20:00] aeschli commented on #99228
The problem is that the `svg` tag on line 837 is missing a `>`

So the grammar still thinks you are inside a svg tag and no JavaScript is detected.

[2020-06-03 20:00] #99228 closed

[2020-06-03 20:03] deepak1556 commented on #99255
The error indicates a webview method is being called before the webview was attached to the DOM or either after webview was destroyed. The stack trace indicates its happening for `<webview>.send`.

We seem to anchor webview methods on presence of the webview element `this.element?.send` instead we should have a state that is updated when `dom-ready`, `close`, `destroyed` events are fired to use th

[2020-06-03 20:12] misolori commented on #98820
We modeled this after how browsers use the same terminology. For example, Chrome uses `Sync is on` and it links to their sync management (which is what we're doing here). `Preferences Sync (On)` is also a good alternative.

I do think we should try to bubble this up in the Sync menu. We could have an item at the bottom (maybe it's a new section) that says `Preferences Sync: Advanced`, or something

[2020-06-03 20:19] connor4312 commented on #99222
I think this may be something in core. This is what js-debug does:

 1. Get the launch request, process it like normal.
 2. Fires the custom launchVSCode DAP request. These are the arguments, they're essentially the same as node2, except it passes `--inspect-extensions` instead of `--inspect-brk-extensions` since it does not depend on the entrypoint breakpoint.

[code]

 3. The launch request indi

[2020-06-03 20:21] braddialpad commented on #26856
As someone who likes coding on a vertical monitor, it is very awkward to view diffs! Any updates on this issue?

[2020-06-03 20:21] JacksonKearl commented on #99063
@Tyriar  To clarify, the `.git/config` file should be automatically generated when you clone/push/pull.

[2020-06-03 20:24] amirhosseindavoody commented on #98685
Yes, I had it HTTP_PROXY and HTTPS_PROXY environment variables set. Deleting them resolved the issue. But how is there any way to keep them? I need them to use pip install and I don't want to type the proxy setting every time.

Thanks for the help.

[2020-06-03 20:33] GammaGames opened #99314 "Explorer files highlighted with git status when in `.gitignore`"
- Version: 1.45.1
- OS: Linux x64 5.3.0-53-generic

Steps to Reproduce:

1. Add file to git repo, notice it is green with badge in the explorer
2. Add file path to gitignore
3. Notice the badge is now gone but the file name is still green
![image](https://user-images.githubusercontent.com/7832163/83686234-1ba2d880-a5a7-11ea-9338-9029e1951e9e.png)

Does this issue occur when all extensions are disa

[2020-06-03 20:46] CleanCut commented on #99197
With today's build, everything works, even before making any of your changes. I wasn't in a handlebars file.  🤷‍♂️

[2020-06-03 20:46] #99197 closed

[2020-06-03 20:52] mjbvz commented on #98022
Tested on Fedora and confirmed that system-ui is being used

[2020-06-03 20:52] #98022 closed

[2020-06-03 20:53] misolori commented on #99020
I think because we only ever used the `(1)` badge for updates is why it feels inconsistent. Since this is a new pattern where we are adding new items under the gear menu, I think this is something that may take some time to get used to.

We could move the `(1)` to the front of the string so it reads `(1) Sign in to Preferences Sync`. This would also affect the updates item.

[2020-06-03 20:57] mjbvz commented on #99285
This makes sense and I believe https://github.com/microsoft/TypeScript/issues/33839 is already tracking this. I'll mark this as a polish item for the TypeScript team to investigate

[2020-06-03 20:57] #99285 closed

[2020-06-03 21:10] mjbvz commented on #99236
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

Also, are you in a wsl workspace?

[2020-06-03 21:10] mjbvz commented on #99208
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

[2020-06-03 21:11] kix99aug commented on #98968
Addition Information: This issue happens after Windows update to 2004 (20H1), which uses new version of Zhuyin IME.

[2020-06-03 21:12] mjbvz commented on #99258
Duplicate of #96407

[2020-06-03 21:12] #99258 closed

[2020-06-03 21:14] #99280 closed

[2020-06-03 21:14] mjbvz commented on #99280
Please don't reopen issues unless you have something to add

[2020-06-03 21:22] roblourens opened #99316 "Notebook EditorTitle menu items don't go away after closing split notebook editor"
- Open some text editor
- Open Notebook
- Split it into two editors
- Close both, leaving the text editor
- The notebook actions are still visible in the text editor's title area, and some keyboard shortcuts like cmd+f don't work due to the notebook focus context key being set

[2020-06-03 21:27] roblourens commented on #99316
It looks like the input is disposed, we call `releaseNotebookEditorWidget`, then `onWillHide` happens, and we decide there is no widget, and onWillHide isn't called on the widget.

[2020-06-03 21:28] babakks commented on #98155
@jrieken I've made the [PR][pr].

[pr]: https://github.com/microsoft/vscode-references-view/pull/61

[2020-06-03 21:31] connor4312 commented on #99222
Indeed, I think that is the root cause; changing the argument to inspect-brk makes it work (albeit with an incorrect break at the start). It seems that here, we look at inspect-brk, but not inspect-.

https://github.com/microsoft/vscode/blob/29b5f87288bc093c85f63d8770910fe8c03d1b59/src/vs/workbench/services/environment/browser/environmentService.ts#L268-L271

For some reason I can't debug either j

[2020-06-03 21:32] JacksonKearl commented on #99063
Able to reproduce in remote-ssh. Seems to be a remote issue regarding accessing the config file.

[2020-06-03 21:39] #99232 closed

[2020-06-03 21:41] eamodio commented on #99211
Of course now that I am trying to capture it, I can't repro anymore. I'll re-open if I see it again.

[2020-06-03 21:41] #99211 closed

[2020-06-03 21:42] jkeech commented on #99202
Do you know how it would be possible for the connection to the remote server to be established (file explorer populates, etc) but the resolver still says "Opening remote"? In a video that the user sent me privately, it also shows that the extensions do not show up in the activity bar or the extensions viewlet. I'm not sure how to investigate this partial success failure mode. If it was a firewall

[2020-06-03 21:52] #99316 closed

[2020-06-03 21:55] misolori commented on #99254
An alternative would be to use a similar pattern for selecting the language mode on a file and have a specific section for setting default/searching for new ones:

![image](https://user-images.githubusercontent.com/35271042/83693103-362a8100-a5aa-11ea-984c-71d7e0a3acec.png)

[2020-06-03 21:55] rebornix opened #99318 "Notebook Editor: scoped context key service"
The context key service we used in the notebook editor is not scoped to the DOM node, which might lead to potential context key issues

https://github.com/microsoft/vscode/blob/8fc68f79748e2c29fb64557549f65908bdf004d0/src/vs/workbench/contrib/notebook/browser/notebookEditorWidget.ts#L105

We should create context key service which scoped to `NotebookEditorWidget` root DOM node.

[2020-06-03 21:55] sbatten commented on #99052
I made it like this to there to avoid conflict with the panel close action and to match the area it normally covers

[2020-06-03 21:56] rebornix commented on #99316
I pushed a fix which unsets the editor focus context but I found that the context key service is not scoped to the editor (neither `NotebookEditor` nor `NotebookEditorWidget`). Let's do that next week https://github.com/microsoft/vscode/issues/99318 .

[2020-06-03 21:56] misolori commented on #99254
I'd also be in favor of setting the `Description` text in the custom editor quick pick to the secondary text so it's a single line (like language picker)

[2020-06-03 22:03] roblourens commented on #99316
Should it be? I thought those should be global, otherwise we wouldn't have to unset the key at all right?

[2020-06-03 22:08] JacksonKearl commented on #99291
This should be fixed with #99063.

[2020-06-03 22:08] #99291 closed

[2020-06-03 22:09] JacksonKearl commented on #99291
\closedWith 5052292bdfac6ec6cdb179cfd5295aa38082ff1e

[2020-06-03 22:12] weinand commented on #99020
IMO it would help if we would make the "(1)" more longer and explicit, e.g.
Check for updates **(1 available)**
or
Sign in to Sync Preferences **(1  action)**

[2020-06-03 22:18] #99308 closed

[2020-06-03 22:22] connor4312 opened #99320 "Provide webview/renderer API typings somewhere"
Right now we expose an API to cells, and to webviews, but we don't publish types for this. The webview API is very simple, but the renderer will be somewhat more complex.

We should consider either publishing these in @types/vscode, or in a separate @types package.

[2020-06-03 22:22] mjstelly commented on #98979
The test project can be found [here](https://github.com/mjstelly/vsc_test.git).
To test:

1. Open the project in VSC
2. Check that the setting ` Update Imports On File Move: Enabled` is set to `always`
3. With no files open in the editor, drag `App.js` to the `/src` folder.
4. Open `index.js`.

Result:
Expected import: `import App from './src/App';`
Actual import: `import App from './App';`

If `i

[2020-06-03 22:23] connor4312 commented on #99300
Thanks, merging into https://github.com/microsoft/vscode/issues/99320. I want to move those types from a copypasta'd .d.ts into its own package with appropriate documentation 🙂

[2020-06-03 22:23] #99300 closed

[2020-06-03 22:23] #97915 closed

[2020-06-03 22:24] mjbvz commented on #99302
Fixed by https://github.com/microsoft/vscode-docs/commit/05ecfcaa24ed7fcfe5d450da4a74ab95055ba4d8 (in vnext branch of docs)

[2020-06-03 22:25] #99302 closed

[2020-06-03 22:26] auchenberg-stripe commented on #45407
As a temporally solution until an official API lands you can do something like this:

[code]

[2020-06-03 22:27] JacksonKearl commented on #97915
I've updated the name of the setting to `defaultNumberOfContextLines` and updated the description text to be more specific about where it applies. Also updated so the number isn't displayed when it is not actually used (open results in editor case).

Please verify:
1. `search.searchEditor.defaultNumberOfContextLines` name and description make sense.
2. When the setting is set to some value, runnin

[2020-06-03 22:29] #99200 closed

[2020-06-03 22:29] JacksonKearl opened #99321 ""Open Results in Editor" incompatible with `defaultNumberOfContextLines`"
Search Editors created from "Open Results in Editor" will not have their context lines input pre-filled to `defaultNumberOfContextLines`. This is expected, because we don't want to run the search again. However, when explicitly toggling the context lines input, the default value should be `defaultNumberOfContextLines`, rather than right now it is hard coded to `2`.

[2020-06-03 22:30] JacksonKearl commented on #99321
Ref #97915

[2020-06-03 22:30] #99257 closed

[2020-06-03 22:31] gregvanl commented on #99204
@misolori When the nested panel is collapsed, clicking anywhere in the collapsed column will expand the panel. I initially thought clicking the icon was the same as clicking the chevron until I realized it was anywhere in the column.
I entered an issue that clicking a second time doesn't collapse so you don't get the toggle behavior, which might be expected. See https://github.com/microsoft/vscode

[2020-06-03 22:31] sbatten commented on #99064
This was the result a of a tradeoff required by the design. Fixing this would result in breaking the titles elsewhere currently. We can try to improve this later.

[2020-06-03 22:33] sweettyler opened #99322 "Feature request: read-only mode"
I would like to have a function that the user can use to set an opened file as "read-only", which means after clicking the button, the file is not editable within VScode (but actually you still can from outside of VScode). I know another editor has this function and feel it's useful especially when you read source code and want to avoid accidentally typing something into the code.

[2020-06-03 22:35] connor4312 commented on #99307
Yea. This is going to be kind of a pain in general when we swap over to replace node and chrome as well.

Maybe we just eat a breaking change then or have a quick notification with a button to remove the prefix. Removing the prefix for terminal, which is a new type, makes sense though.

[2020-06-03 22:38] roblourens commented on #96351
Still no

![image](https://user-images.githubusercontent.com/323878/83696031-0044c700-a5c1-11ea-83e7-f529fb8e4974.png)

[2020-06-03 22:42] roblourens commented on #96326
So if I set this, should notebook.css still have the css icon?

![image](https://user-images.githubusercontent.com/323878/83696262-a264af00-a5c1-11ea-8b9d-befa0ffe1775.png)

Normally looks like this

![image](https://user-images.githubusercontent.com/323878/83696271-a85a9000-a5c1-11ea-8742-0237c24b12b2.png)

[2020-06-03 22:44] roblourens commented on #96326
It does if I actually install the postcss language extension

[2020-06-03 22:46] roblourens commented on #97915
Please consider giving it a numeric default instead of null, so we can use the settings GUI for it too

[2020-06-03 22:49] rebornix commented on #98968
@kix99aug thanks for the detailed info. IMHO it's a bug with Zhuyin IME. After switching to English mode while using Zhuyin, the IME doesn't quit composition yet, so any typing after it should still emit `compositionUpdate` events, but it doesn't now.

[2020-06-03 22:55] roblourens opened #99323 "Can't open perf profile"
- Start a node process
- Start profiling
- Stop, the editor shows an infinite progress bar, and I see this error in devtools

![image](https://user-images.githubusercontent.com/323878/83696974-603c6d00-a5c3-11ea-8fbc-4c5a26c5c465.png)

[2020-06-03 22:58] connor4312 commented on #99323
I noticed this earlier today and fixed it in 0.0.6 https://github.com/microsoft/vscode-js-profile-visualizer/commit/b1c2ba04d6706d7beac7fa27cf6b8ae0b6b111ff

[2020-06-03 22:58] #99323 closed

[2020-06-03 22:59] #96119 closed

[2020-06-03 23:00] RA80533 commented on #98496
You crazy kids! It looks like someone fixed it. I can no longer reproduce the issue.

[2020-06-03 23:05] JacksonKearl commented on #97915
We actually can render `number | null` in the settings editor. Empty input is mapped to null. (That was one of my intern projects lol)
![image](https://user-images.githubusercontent.com/8586769/83697516-0f714800-a5b4-11ea-9898-843d1d20965c.png)

[2020-06-03 23:06] joyceerhl commented on #97392
Hi VS Code team, I'm experiencing the exact same issue on macOS with a fresh install of VS Code version 1.45.1. The insiders build does not have this problem but I would like to use the stable VS Code release.

## Steps to reproduce
1. Install latest VS Code
2. Clone [vscode-python](https://github.com/microsoft/vscode-python.git)
3. Open folder in VS Code.
4. Source control displays the following

[2020-06-03 23:12] bsutton commented on #98618
I can't say that I'm happy with the concept of closing issues out.

Even if you aren't going to do this now, having an open ticket lets other users find and vote on this ticket.

[2020-06-03 23:20] JacksonKearl commented on #96473
A "go to symbol in file"-like experience for this seems fitting. Where moving through the list moves through the editor as well and the quick pick could be filterable by line contents.
![image](https://user-images.githubusercontent.com/8586769/83698264-db972200-a5b5-11ea-809e-66d1838e38d2.png)

![image](https://user-images.githubusercontent.com/8586769/83698048-4f84fa80-a5b5-11ea-9e79-eadfea9ae08b

[2020-06-03 23:40] tabaddor commented on #99321
I can look into fixing this issue.

Is there any other information I should know, aside from the reference issue you commented above? @JacksonKearl

[2020-06-03 23:45] tabaddor commented on #99072
I can look into fixing this issue if it is still open

[2020-06-03 23:46] Mica05 commented on #98429
{"constants":{"activeFieldTrialGroups":[],"addressFamily":{"ADDRESS_FAMILY_IPV4":1,"ADDRESS_FAMILY_IPV6":2,"ADDRESS_FAMILY_UNSPECIFIED":0},"certStatusFlag":{"AUTHORITY_INVALID":4,"CERTIFICATE_TRANSPARENCY_REQUIRED":16777216,"COMMON_NAME_INVALID":1,"CT_COMPLIANCE_FAILED":1048576,"DATE_INVALID":2,"INVALID":128,"IS_EV":65536,"NAME_CONSTRAINT_VIOLATION":16384,"NON_UNIQUE_NAME":1024,"NO_REVOCATION_MECH

[2020-06-03 23:48] paulelong opened #99325 "File open windown too small using remote desktop"
We have written the needed data into your clipboard because it
Issue Type: <b>Bug</b>

Remote Desktop into machine and do a file open.  The dialog is very small compared to other file open dialogs.  Surface Pro 7 connecting to a desktop that is running 1680x1050 resolution with a GTX1050i video card.

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:27:35.169Z)

[2020-06-03 23:51] Mica05 commented on #98429
[netlog.zip](https://github.com/microsoft/vscode/files/4726725/netlog.zip)

[2020-06-04 00:05] Mica05 commented on #98429
Hi @chrmarti, I returned to version 1.42.1 and the marketplace extension works successfuly.

![image](https://user-images.githubusercontent.com/14005886/83700516-68090b00-a5dd-11ea-878d-dc634d1a6539.png)

[2020-06-04 00:16] #94057 closed

[2020-06-04 00:26] ghiscoding commented on #93549
I've opened a similar issue [#33568](https://github.com/microsoft/vscode/issues/33568) to address the hover but unfortunately still waiting to get it resolved

[2020-06-04 00:30] ghiscoding commented on #83589
I also wish to complement it with this issue #33568 that I've opened a long time ago. Which basically says, If I start changing color, I don't the picker to close so easily just because my mouse is no longer hovering the color variable.

[2020-06-04 00:33] #99245 closed

[2020-06-04 00:49] rchiodo opened #99326 "Custom editor reopens files with dirty icon when restarting VS code"
- VSCode Version: 1.46.0 insiders
- OS Version: Windows 10

Steps to Reproduce:

1. Build the pawDraw [sample ](https://github.com/microsoft/vscode-extension-samples/tree/master/custom-editor-sample)
1. Run
1. Edit a pawdraw file
1. Save it.
1. Reload VS code

Expected: pawdraw file opens
Actual: vs code issues an error saying it can't load the backup file.

In the API I can see the ```openCustomD

[2020-06-04 00:54] rebornix commented on #98968
After help from friends from Zhuyin IME team, we found that it only happens in recent chromium, which affects Chrome and Electron but native applications, Firefox, legacy Edge are all fine. Reported this issue to chromium https://bugs.chromium.org/p/chromium/issues/detail?id=1091069 cc @deepak1556 , we didn't see this issue in previous electron, but not sure which one is the last good version (Tea

[2020-06-04 01:02] JacksonKearl commented on #95234
Finding that `Go to Symbol in Editor` shows the correct outline information, but the outline pane is empty?

![image](https://user-images.githubusercontent.com/8586769/83703386-51a28580-a5c4-11ea-8cd5-a1dd28f81b61.png)

[2020-06-04 01:11] JacksonKearl opened #99327 "Notebook cell drag and drop interferes with editor tab drag and drop"
When dragging a notebook editor tab onto itself for splitting, it now triggers drag hover events in the editor and it it difficult to trigger the editor split event.

[2020-06-04 01:15] JacksonKearl commented on #97696
I'd expect the timer and `GitHub Issues`  to be red here?

![image](https://user-images.githubusercontent.com/8586769/83704015-d510a680-a5c5-11ea-90ee-93b719da3520.png)

Edit: nevermind, see that its the hover.

[2020-06-04 01:16] xingxiangyuworkcode commented on #99219
I use Microsoft account. After signing out, I can turn on sync again. This bug did not happen again.

[2020-06-04 01:19] xingxiangyuworkcode commented on #99219
[Info  - 01:01:31.921] Refreshing token...
[Info  - 01:01:35.112] Token refresh success
[Info  - 01:01:35.118] Token available from cache, expires in 3598993 milliseconds
[Info  - 01:01:35.120] Token available from cache, expires in 3598991 milliseconds
[Info  - 01:08:40.994] Logging out of session 'f8cdef31-a31e-4b4a-93e4-5f571e91255a/1:live.com:00034001CFAC0472/https://management.core.windows.ne

[2020-06-04 01:20] xingxiangyuworkcode commented on #99219
[2020-06-04 09:09:03.156] [userDataSync] [info] Auto Sync: Started
[2020-06-04 09:09:03.156] [userDataSync] [info] Auto Sync: Triggered by Interval
[2020-06-04 09:09:03.634] [userDataSync] [info] Settings: No changes found during synchronizing settings.
[2020-06-04 09:09:03.637] [userDataSync] [info] Keybindings: No changes found during synchronizing keybindings.
[2020-06-04 09:09:03.640] [userDat

[2020-06-04 01:27] yoyeung commented on #99004
Nice!... update to 2.27. It's work!
Thanks

[2020-06-04 01:27] #99004 closed

[2020-06-04 01:35] zonesql commented on #70413
Please add this feature, or provide an update on this product request.

[2020-06-04 01:51] fengxinming opened #99329 "Could not compile c program"
- VSCode Version: Version: 1.45.1
- OS Version:macOS Mojave 10.14.5

**c_cpp_properties.json**
[code]

**error**
[code]

**avio_list_dir.c**
[code]

[2020-06-04 01:54] sgon00 commented on #99280
@mjbvz ok, the design decision is wrong. If I can only markdown.styles to current workspace, how can I add css styles globally? What is the proper way? I doubt many people want to add stylesheet in current workspace. This design decision just doesn't make sense. Thanks.

[2020-06-04 01:56] bsutton commented on #98618
I also disagree with the priority position on this one.
Quick fixes are one of the most common elements that people interact with with in the UI.
Whilst it is a minor announce it is a high use work flow and as such I would suggest that it needs greater priority.
It falls in to the category which is often referred to as a paper cut. Its small and hurts a little bit, but when you are covered in them

[2020-06-04 02:16] roblourens commented on #97915
Oh yeah I forgot we can for number. Not string.

[2020-06-04 02:24] #94372 closed

[2020-06-04 02:24] #94275 closed

[2020-06-04 02:24] #94202 closed

[2020-06-04 02:24] #92187 closed

[2020-06-04 02:34] madhusudanbabar commented on #99218
I tried with only ```naumovs.color-highlight``` and there was no crashes

But after that i enabled my extensions one by one and the time of extension **Live Sass Compiler** ```ritwickdey.live-sass``` it crashed again

[2020-06-04 02:44] BoltonBailey opened #99330 "Specify alternate relative paths for links in Markdown Preview"
I ran into an issue while using VSCode to work an a Hugo project. Hugo generates static websites from markdown files. Generally, the markdown files are kept in the `/content` subdirectory of the project root directory, while images are kept in the `/static` subdirectory of the project root directory. Since Hugo searches for images in the `/static` directory by default, in order to link an image on

[2020-06-04 02:47] madhusudanbabar commented on #99218
it keeps crashing while these 3 extensions enabled.
1. **Color - Highlight** ```naumovs.color-highlight```
2. **Live Sass Compiler** ``ritwickdey.live-sass``.
3. **Live Server** ``ritwickdey.liveserver`` ( I can't disable this as ```Live Sass Compiler``` depends on it ).

[2020-06-04 03:04] blackjyn commented on #98568
@adelphes wow I'm gonna tried it. Well I don't need the visual layout , it's more comfortable for me coding the layout from the plain XML as long as code assist is supported.

[2020-06-04 03:45] misolori commented on #97696
@JacksonKearl yea it's just the bg hover on this one

[2020-06-04 03:50] dwaynebradley commented on #85592
Same issue here.

Primary - Surface Book 3000x2000 (200%)
Secondary - 1920x1080 (100%)

Version: 1.45.1 (user setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

The workaround from @matt13rox fixes the scaling issue on the external monitor but I agree w

[2020-06-04 03:52] y4code commented on #54492
remove `Eclipse Keymap `extension works for me, when i open java project, vscode  installed `Eclipse Keymap` automatically. Don't know why

[2020-06-04 03:52] 9at8 opened #99331 "Save shortcut does not work when using"
Testing #99003

I use emacs shortcuts (lfs.vscode-emacs-friendly). It seems like the save shortcut doesn't work (`ctrl+x ctrl+s`) when I'm using the emacs shortcut extension, but works (`ctrl+s`) when I'm not using the emacs extension.

https://github.com/SebastianZaha/vscode-emacs-friendly/blob/master/package.json#L535

[2020-06-04 03:56] 9at8 commented on #99331
ah it might be because of the `when` clause in the emacs extension itself, and might not be related to the custom editor.

[2020-06-04 03:56] connor4312 commented on #99298
/needsMoreInfo

[2020-06-04 03:57] connor4312 commented on #99309
\extPowershell

[2020-06-04 03:57] connor4312 commented on #99309
\extVim

[2020-06-04 03:57] #99309 closed

[2020-06-04 03:58] connor4312 commented on #99310
\extJava

[2020-06-04 03:58] #99310 closed

[2020-06-04 04:00] connor4312 commented on #99322
This is a good extension idea.

[2020-06-04 04:00] #99322 closed

[2020-06-04 04:01] connor4312 commented on #99329
\extC

[2020-06-04 04:02] #99329 closed

[2020-06-04 04:02] connor4312 commented on #96473
That's a good idea :)

[2020-06-04 04:33] 9at8 opened #99332 "Weird state on hot exit and backup on linux"
Testing #99003

I found this very hard to reproduce, probably some race condition. But if I keep on reloading, I eventually hit it. `1` is fairly hard to hit (about 1-2 times / 15 reloads), but `2` is relatively easier (about 2-4 times / 10 reloads)

# 1
![Screenshot_20200604_001924](https://user-images.githubusercontent.com/8235156/83714753-a280a100-a5f9-11ea-9061-706f3f1ba0f8.png)
![Screenshot_2

[2020-06-04 04:49] OybekMavlonov opened #99333 "command 'emmet.expandAbbreviation' not found"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-06-04 04:50] #99333 closed

[2020-06-04 04:56] bycn opened #99334 "Improved downloading of folders / large files on ssh extension"
When using the ssh extension to do development on a server, the download / opening of large files often crashes the client, or is incomplete and disconnects halfway. Not sure why this occurs as it could just run something like SCP that wouldn't depend on memory allowed for the application.

[2020-06-04 04:57] Sinsstranger opened #99335 "Integrated Terminal badly woreks with cyrilic lang"
Issue Type: <b>Bug</b>

Integrated Terminal badly woreks with cyrilic lang

VS Code version: VSCodium 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-15T10:46:12.662Z)
OS version: Linux x64 5.4.0-33-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 3750H with Radeon Vega Mobile Gfx (4 x 2295)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<b

[2020-06-04 05:14] iqDF commented on #42170
vote vote vote!

[2020-06-04 05:20] jrieken commented on #99240
When you press refresh, the viewlet will re-open the cell-document and will go through [this code](press refresh in the references viewlet) which IMO should reopen the whole notebook.

[2020-06-04 05:22] jrieken commented on #95234
Yeah, we don't yet want to rewrite the whole outline that's why for now it is just quick outline.

[2020-06-04 05:34] slyang-git commented on #63068
`killall Dock `helps

[2020-06-04 05:36] ank1traj commented on #68787
Just change your keyboard to US layout. It works for me.

[2020-06-04 05:56] texastoland commented on #98820
Sweet! I really appreciate @sandy081's implementation and @misolori's feedback. As someone OCD about their dotfiles I love the functionality of switching between past configurations. I just want it to be obvious to everyone how useful the feature really is.

[2020-06-04 05:57] bpasero commented on #99052
I understand, but visually it just looks slightly broken to me. I think the entire area of the panel should be the drop area because that is the logical container I am dropping something into.

[2020-06-04 06:00] bpasero commented on #99171
I added this issue to the top of https://github.com/microsoft/vscode/issues/27317, which is meant as a resource to find all the issues reported, even if closed, because there are often very good examples (as in this issue) posted.

To clarify, you would prefer if letters are not matched in the middle of words? Can you make a suggestion how it should behave? Do you think there are too many random r

[2020-06-04 06:00] bpasero commented on #99303
@Tyriar yes it would be great if the terminal can be played with from `yarn web` even if just fake 👍

[2020-06-04 06:03] bpasero commented on #99274
@sandy081 different OS have different order of buttons. I suggest you check with user interface guidelines if you think something is wrong.

[2020-06-04 06:03] sreejith163 commented on #98946
Please find the attached file
[Code - Insiders Crashes.zip](https://github.com/microsoft/vscode/files/4727836/Code.-.Insiders.Crashes.zip)

[2020-06-04 06:03] bpasero commented on #99054
Yes, I am always on zoom 1.

[2020-06-04 06:04] bpasero commented on #99260
Looks like the zoom level is just very large, you can change it configuring `window.zoomLevel`

[2020-06-04 06:04] #99260 closed

[2020-06-04 06:06] bpasero commented on #99306
Maybe dupe of https://github.com/microsoft/vscode/issues/84258

[2020-06-04 06:07] bpasero commented on #98946
Ok thanks, unfortunately it does not look like a crash dump is actually produced.

[2020-06-04 06:07] egamma commented on #98800
@aamirafridi the action you are using creates a folder and not a file. To create a file use this action:

![image](https://user-images.githubusercontent.com/172399/83720972-6f123680-a63a-11ea-8c0e-2960caaa82ae.png)

[2020-06-04 06:07] #98800 closed

[2020-06-04 06:09] bpasero commented on #99218
@alexdima

Maybe, and now I wonder if there should be another override (as we e.g. do for `process.exit`) to not allow extensions to register a handler if this actually can cause a crash of node (would have to validate this theory). On the other hand, it seems OK that an extension could participate in these events if behaving correctly.

[2020-06-04 06:11] Nowaker opened #99336 "Search and replace: improve readability of the replace preview"
![image](https://user-images.githubusercontent.com/611746/83720663-1ec9b300-a5ff-11ea-90cd-80b2014bc08e.png)

Search: `permalink: ([^/])`
Replace with: `permalink: /$1`

Currently visible match and replace preview:
![image](https://user-images.githubusercontent.com/611746/83720893-9b5c9180-a5ff-11ea-9553-a22198c077b4.png)

Requested match and replace preview:
![image](https://user-images.githubuse

[2020-06-04 06:24] #99283 closed

[2020-06-04 06:29] #99003 closed

[2020-06-04 06:46] Gooseman commented on #68787
" Just change your keyboard to US layout. It works for me."

Ah, yes, the old, "Do the wrong thing to sort out a problem that shouldn't
exist."  I mean, it's not like anyone should expect software to work, after
all.  I'm going to try that with my employer.  "Just type in the correct
numbers, that works for me when the calculated value is incorrect."

On Thu, Jun 4, 2020 at 6:36 AM Ankit Raj <noti

[2020-06-04 06:55] FlatAssembler commented on #99228
But there is a `>` in the `</svg>` tag, it's just that Prettier put it in
the next line.

sri, 3. lip 2020. 22:00 Martin Aeschlimann <notifications@github.com> je
napisao:

[2020-06-04 07:02] chrmarti commented on #98685
@amirhosseindavoody If they work for pip I wonder why they don't work for VS Code. Could you post the values you have for HTTP_PROXY and HTTPS_PROXY? (If privacy is a concern with these, you could replace all letters with x and all digits with 1, keeping all other characters as they are.)

[2020-06-04 07:18] dbwodlf3 commented on #43188
not yet?!

[2020-06-04 07:27] alexdima commented on #99202
VS Code establishes two connections to the remote machine:
- one that we call the management connection: this one is responsible for FS operations, extension management (installing/uninstalling), extension scanning on disk.
- one that we call the extension host connection: this one works by spawning an extension host process on the remote machine and is basically the communication to the extension

[2020-06-04 07:28] sandy081 commented on #98819
I see you want to see problems sorted by message and you can go through them. But why do you need grouping by type?

[2020-06-04 07:30] elenadimitrova commented on #98819
Define "type" here pls as we're probably talking about different things.

[2020-06-04 07:30] sandy081 commented on #98983
The intention is to fix VS Code-Mac so that users are prevented from reinstalling, just as in Windows.

How are you performing the operation - reinstall without reload? Can you please provide a screenshot or a gif?

Also let me know what is the difference in behaviour

[2020-06-04 07:30] alexdima commented on #98159
@sandy081 This appears to be an installation problem. The extension is installed/unzipped incompletely.

[2020-06-04 07:32] Elias-Graf commented on #93750
Do we have access to the input/output/buffer of the debug console via extensions? If yes, I'm really surprised such an extension doesn't exist yet (or I haven't found it).

To give you an example my application has different services and each one has its "log tag". If I'm debugging a certain service, I don't want to be spammed by any other logs.

Here is a real world example:

[code]
I'd like to f

[2020-06-04 07:34] sandy081 commented on #98496
Ok, closing this as it cannot be repro.

Please reopen and provide the necessary information that is asked for if you see it again.

[2020-06-04 07:34] #98496 closed

[2020-06-04 07:37] sandy081 commented on #99219
Assigning to @RMacfarlane to investigate why the token that is being received is not valid.

From VS Code side, I would handle this in #95879 by showing a sign in action after retrying for 5 times.

[2020-06-04 07:37] isidorn commented on #99237
@alexdima thanks for the pointer.
Yeah I would probably want if there is at least a `deltaY` ignore `deltaX`.

Though I think the actual issue is the magic mouse which I changed now.
Let's keep this open for a month and if nobody else wants this we can just close.
Thanks!

[2020-06-04 07:39] sandy081 commented on #98618
Sorry for closing this. Reopened it and moved to backlog candidates.

[2020-06-04 07:41] bsutton commented on #98618
It's still showing up as closed.

[2020-06-04 07:41] kix99aug commented on #98968
Thanks for your helping, I've tried on my own Chrome and Electron Apps, the same problem happens too. So it's really a Chrome problem! (Tried on Discord (Chrome/78.0.3904.130 Electron/7.1.11) , VSCode (Chrome/78.0.3904.130 Electron/7.2.4))

[2020-06-04 07:43] VFAG commented on #36951
I am also patiently waiting for this feature, at work we only use Windows-1252 and UTF-8, but VS Code keeps guessing Greek or maccyrillic or whatever.

[2020-06-04 07:55] nghuybtech opened #99337 "Terminal color is wrong after Suspend period on Ubuntu"
Issue Type: <b>Bug</b>

In my Ubuntu 18.04 laptop, after the laptop went into suspend mode (I leave it idle for a few minutes), then when I came back, the theme for Terminal is unreadable and seems to have odd-looking color (rendering issue?)
![image](https://user-images.githubusercontent.com/17152653/83730648-933e3980-a673-11ea-96b6-b3bfe787f0b0.png)

VS Code version: Code 1.45.1 (5763d909d5f12fe

[2020-06-04 07:57] chrmarti commented on #93922
Fixing by making CMD work on Mac. Converting these to commands is tracked with #98479.

[2020-06-04 07:58] #93922 closed

[2020-06-04 08:06] igordovgaluk opened #99338 "Internal terminal started instead of configured external terminal"
- VSCode Version: 1.45.1
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:22.494Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 4.15.0-91-generic
- OS Version: Ubuntu 18.04.5

Steps to Reproduce:

1. set the settings "terminal.explorerKind": "external",
2. select New Terminal from the app menu

Actual state:
The internal termin

[2020-06-04 08:07] alexdima opened #99339 "Rename `onStartup` activation event to `onStartupFinished`"

[2020-06-04 08:07] alexdima commented on #98083
Let's track the rename in https://github.com/microsoft/vscode/issues/99339

[2020-06-04 08:07] #98083 closed

[2020-06-04 08:08] sandy081 opened #99340 "Add revert action in diff preview when opened from sync data view"
Extracted from https://github.com/microsoft/vscode/issues/98820

Add revert action in diff preview when opened from sync data view

[2020-06-04 08:09] volodymyr-ryvak-globallogic opened #99341 "Incorrect autocomplete for "File" class"
- VSCode Version: 1.45.1
- OS Version: Windows 10

Steps to Reproduce:

1. New JavaScript file + following code:
[code]
2. Put the dot (`.`) on the last line and wait until the window with suggestions appears.
3. It is expected for the list in the window to has a `Method` member, but it contains a `Blob` class members instead:

![2020-06-04 11_04_18-● class File { • Untitled-1 - Visual Studio Code

[2020-06-04 08:18] jboero commented on #42786
This would be nice to have.  Also I notice that autocompletion lists don't include objects with "required" properties if the required fields haven't already been added, which defeats the purpose of autocompletion.  Thinking of creating a separate issue for it.

[2020-06-04 08:20] sandy081 commented on #98820
@texastoland Its good that you asked for third person's perspective.

Preferences Sync (On) might not be symmetric as we do not have Preferences Sync (Off). I would rather go with `Preferences Sync is On` or just `Preferences Sync` and prefer former as it is being used by other browsers too. Other suggestions are welcome.

I see the point of discoverability but it is a trouble shooting feature (wh

[2020-06-04 08:21] joaomoreno commented on #98175
Please test this on Windows/Linux with a mouse which has a discrete scroll wheel.

macOS won't work since the scrolling is continuous.

[2020-06-04 08:25] fbricon commented on #40338
Here's an example of the payload returned by the Java language server:
[code]

Everything's already in place in folding.ts to fold blocks based on [kind](https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#textDocument_foldingRange): https://github.com/microsoft/vscode/blob/9b18eade1b1f0c12b179a7be7e03a85c6513d60d/src/vs/editor/contrib/folding/folding.ts#L736

T

[2020-06-04 08:31] mgowtham opened #99342 "Auto complete ui is broken"
- VSCode Version: 1.45.1
- OS Version:  mac OS Catalina (10.15.2)

Steps to Reproduce:

1. type somethig
2. Autocomplete UI is breaking

Does this issue occur when all extensions are disabled?: Yes
<img width="479" alt="Screenshot 2020-06-04 at 2 01 21 PM" src="https://user-images.githubusercontent.com/9431630/83733939-e9a77a00-a66b-11ea-9c9f-87e91523f36f.png">

[2020-06-04 08:31] sandy081 commented on #99306
/duplicate

[2020-06-04 08:32] Jeremy115 opened #99343 "项目开发遇到的显示bug"
Issue Type: <b>Feature Request</b>

vue-cli 生成的ts 项目 ，import App from './App.vue';  报 找不到模块“./App.vue”。ts(2307)， 编译通过

VS Code version: Code 1.45.1 (5763d909d5f12fe19f215cbfdd29a91c0fa9208a, 2020-05-14T08:33:47.663Z)
OS version: Darwin x64 19.5.0

[2020-06-04 08:32] aashishxetri5 opened #99344 "IDE freezes"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-06-04 08:32] alexr00 commented on #97177
The scopes that were added are in the following changes:
https://github.com/microsoft/vscode/commit/6d7917cd3c4ecc17f249583daf9c2f6c23e6d6e2
https://github.com/microsoft/vscode/commit/c1fdabc4f28f20fd63c6a6ef68d182617fb82813
https://github.com/microsoft/vscode/commit/6ba021ba320ee21bd533cd51dc756a6a56f92c4c
https://github.com/microsoft/vscode/commit/219735002a0cebdc886ebfbcadac2dc133422c42

[2020-06-04 08:32] #99344 closed

[2020-06-04 08:32] #99306 closed

[2020-06-04 08:32] sandy081 commented on #98819
By `type` I mean `severity`. Sorry for not being clear.

[2020-06-04 08:37] sandy081 commented on #98159
@hediet Can you please engage me with the user seeing this issue. It would be great if user can repro this and we can diagnose the root cause.

[2020-06-04 08:38] FlatAssembler commented on #99228
OK, I will change my code, though I am not sure I disobeyed the standard by putting the `>` in the new line. Browsers don't seem to mind that.

[2020-06-04 08:39] tobia commented on #26694
Is there a way to enable this with a keybinding, for all languages?

Say, if the cursor is inside a line comment and you press enter, perform 1. enter; 2. line comment.

[2020-06-04 08:44] alexr00 commented on #99325
Can you please provide a screen shot?

[2020-06-04 08:46] lszomoru commented on #99289
Thanks @gregvanl. Will have a chat with @joaomoreno to see if there is anything we can do to improve this.

[2020-06-04 08:47] ctf0 commented on #26694
for now u can try https://marketplace.visualstudio.com/items?itemName=ctf0.auto-comment-next-line

[2020-06-04 08:47] alexr00 commented on #98908
PRs are welcome!

[2020-06-04 08:49] akshattambe commented on #99236
Hi MJBVZ, its not the insider build.

I can use Linux cmd in the VS Code terminal, so I guess i am using wsl workspace.

**More Details:**
Version: 1.45.1 (user setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z (3 wks ago)
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.17763

[2020-06-04 08:51] jrieken commented on #98057
Using the sample and steps below, this does seems to work for me. Tho, I wonder if we fixed the right issue because the code that @bpasero added isn't actually hit. Well the event fires but there is removal happening because the documents do exist on the extension host but they haven't been requested by an extension and are therefore not kept in the `BoundReferenceCollection`. This was still a goo

[2020-06-04 08:53] katelynienaber opened #99345 "Dropdown from view item menu"
In our extension, we have custom views with various nodes in the tree:
![image](https://user-images.githubusercontent.com/58596139/83736195-91fc1500-a651-11ea-9a8f-3009881bc182.png)

You can see there are 4 commands on the right-hand side of the node. We would like to add a dropdown to hold those items.

I know it's possible to add commands to the context menu, but you have to right-click to see i

[2020-06-04 08:54] jrieken commented on #86772
/duplicate of https://github.com/microsoft/vscode/issues/56644

[2020-06-04 08:55] MattWilcox commented on #99229
Nope it didn't. I'd guess the default option is not to, as I've not changed that - but I think these are two separate things tbh. prompting confirms would really annoy me more often than help me. This is about minimising UI errors without introducing friction.

[2020-06-04 08:55] #86772 closed

[2020-06-04 08:58] joaomoreno commented on #99289
Yeah there's no winning here, unless sashes are visible themselves. I would close this as designed since systems which require large sashes (20) also feature scrolling by dragging the view instead of the scrollbar.

[2020-06-04 08:58] jboero commented on #42758
Hi folks.  I've noticed this same issue lately and was about to file an issue myself.  I think this is a general property of the JSON parser and not so much a VS code issue actually.  When listing available options, properties with a "required" list aren't possible since those required fields aren't already entered.  It's very chicken & egg.  I'll delve into the code myself to see if I can whip up

[2020-06-04 09:00] vineeshc9 opened #99346 "Code Flickering"
Hi VS Code,

I am developing a Progressive Web App,
my coding file is flickering...
I am note able to code properly.

[2020-06-04 09:09] joaomoreno commented on #93308
Awesome, great catch, let me see if I can pick it up.

[2020-06-04 09:11] joaomoreno commented on #99314
I can't reproduce, btw.

[2020-06-04 09:12] RandomFractals commented on #94740
since we are sharing, on the JavaScript side, you might find this Observable JavaScript markdown extension relevant: https://marketplace.visualstudio.com/items?itemName=GordonSmith.observable-js

It uses custom file extensions `.ojs` and `.omd` for creating observable js notebooks.

Also, I am working on vscode extension to bring Observable JS to vscode with options to load and render those notebo

[2020-06-04 09:12] joaomoreno commented on #99290
@bpasero What will it take for this to happen? This is a simple diff editor with a git document (from a custom file system) on the left side.

I also have a feeling we got this to work recently. 🤔

[2020-06-04 09:13] jrieken commented on #99314
Please add the git output

[2020-06-04 09:15] isidorn commented on #99229
Yeah this prompts by default.
Let me know if you can reproduce it not prompting with latest vscode insiders
We will not change order due to users muscle memory, and putting a seperator might work, I just do not like having one item separator groups since it looks ugly.

[2020-06-04 09:23] sandy081 opened #99347 "Cannot find quick outline for an editor command in Command Pallette"
While verifying https://github.com/microsoft/vscode/issues/95234 one step is to verify quick outline of the notebook editor from command palette. I could not discover the command using `outline` term.

![image (3)](https://user-images.githubusercontent.com/10746682/83739275-ab9f5b80-a655-11ea-8378-0d985aadaf39.png)

It is called `Go to symbol in editor`.

I think this command shall be discovered a

[2020-06-04 09:24] dbaeumer commented on #96466
I am closing this issue. The smoke tests passed in the weeks where Electron 8 was in insiders.

[2020-06-04 09:24] #96466 closed

[2020-06-04 09:26] Skymmel commented on #99260
Thank you so much!

[2020-06-04 09:26] joaomoreno opened #99348 "Ctrl Enter in Search input does two things"
1. Type a search term in the Search view input box
2. Press Ctrl Enter

A search result editor comes up and the input gets an added `\n`. I believe the latter should not happen.

[2020-06-04 09:28] lszomoru commented on #99268
@roblourens, tried to validate the bug and here is what I am seeing right now:
- Set the sash size setting from `4` to `20`
- Clearing the value of the setting will keep the value at `20`.

Should clearing revert to the default value of `4` or keep the value of `20`?

[2020-06-04 09:28] joaomoreno commented on #97915
This doesn't seem to work if I type a search term and press <kbd>Ctrl Enter</kbd>: no context lines are added to the view.

[2020-06-04 09:28] elenadimitrova commented on #98819
Thanks for clarifying, then I wasn't talking about the severity at all here. I was referring to grouping by the problem message as given in the example above.

[2020-06-04 09:31] isidorn commented on #99225
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2020-06-04 09:32] isidorn commented on #98918
Yeah it should improve the experience.
As for the other focus discussions I am not sure what action items we can extract out of those.

[2020-06-04 09:33] weinand commented on #99068
uploading 12000 files with a total size of 4 GB works fine now.

[2020-06-04 09:41] sandy081 opened #99349 "Reloading the window does not retain the revealed position of the cell"
In the attached video, see how after reload the last cell's reveal position is getting changed

![Kapture 2020-06-04 at 11 40 46](https://user-images.githubusercontent.com/10746682/83741338-5add3200-a658-11ea-82d7-2857eb831738.gif)

[2020-06-04 09:45] alexdima commented on #98112
See https://github.com/microsoft/vscode-oniguruma/issues/2#issuecomment-638742406

[2020-06-04 09:45] #98112 closed

[2020-06-04 09:45] lszomoru opened #99350 "Status: focused entry should use orange border when using the high contrast theme"
To be consistent with the rest of the workbench we should consider:
- Use the orange borders for the active element instead of the blue one
- Remove the background color as I do not see it being used anywhere else for the active element

[2020-06-04 09:46] isidorn commented on #99305
@roblourens good catch.
I am writing the configuration [here](https://github.com/microsoft/vscode/blob/735e08aa9442d73c327811b33383898b2663e1a7/src/vs/workbench/contrib/debug/browser/debugConfigurationManager.ts#L724)

@sandy081 is it possible to somehow preserve the comments in the file if I use the `configurationService` to write?

[2020-06-04 09:49] isidorn commented on #99350
I agree this makes sense.
We are open for a PR that fixes this.
Code pointer https://github.com/microsoft/vscode/blob/735e08aa9442d73c327811b33383898b2663e1a7/src/vs/workbench/browser/parts/statusbar/statusbarPart.ts#L900

Basically we should I think use a different color there and make sure it is also applied on the whole status bar.
Adding help wanted and if nobody tackles this I can also look i

[2020-06-04 09:52] testforstephen commented on #98057
[code]
I tried the steps above in the latest insider 2020-06-03 again, the issue still exists. In fact, i also tried in a new windows machine, it has same issue.

@jrieken Did you check the window title? After DnD back and froth several times, you would see a **(deleted)** text in the window title.
![image](https://user-images.githubusercontent.com/14052197/83740643-b673e380-a689-11ea-9255-6a07544

[2020-06-04 09:54] DanTup commented on #93625
Well this explains why I thought my completion provider was being called twice for every keystroke 😄

It's weird that the duplicates don't show up in the Dev Tools console, I would've thought this was handling the same events?

<img width="1424" alt="Screenshot 2020-06-04 at 10 49 47" src="https://user-images.githubusercontent.com/1078012/83742684-a04a3100-a651-11ea-87ff-1c4017fef5ae.png">

[2020-06-04 09:56] jrieken commented on #98057
Oh, my bad. Didn't move back and forth, moved only once

[2020-06-04 09:57] sandy081 opened #99351 "Got into a blank notebook editor state"
Got into a blank notebook editor state where I cannot add any cells

- Have issues notebook with following content/cells

[code]

- Open the notebook and keep deleting cells
- Once all cells are deleted, Type `cmd+z` to undo

🐛 Editor becomes blank

![Kapture 2020-06-04 at 11 56 32](https://user-images.githubusercontent.com/10746682/83743078-806b3b00-a65a-11ea-853b-81e427c99049.gif)

[2020-06-04 09:57] alexdima commented on #98251
Thank you for your investigation. Unfortunately, the only way to get pixel perfect rendering is to stop using `window.zoomLevel`.

The implementation of `window.zoomLevel` is the same as in any browser, and it works by basically multiplying our perfect integer coordinates with a float (the zoom factor).

So if we render lines at the offsets 0, 19, 38, etc, they will become 0, 19 x factor, 38 x fac

[2020-06-04 09:57] #98251 closed

[2020-06-04 09:59] alexdima commented on #98341
I am quite happy to say that #95894 implements this.

[2020-06-04 10:03] isidorn commented on #99012
Ran it 2 times on mac both times all green ✅

[2020-06-04 10:03] #99012 closed

[2020-06-04 10:04] isidorn commented on #98341
Exactly, closing as duplicate
@maravento you can check that issue how it works and you can try vscode insiders. We call it "set selection anchor"

[2020-06-04 10:04] #98341 closed

[2020-06-04 10:06] sandy081 opened #99352 "Undo is adding bogus problems"
- Have couple of cells with problems
- Keep removing one by one
- Make sure the problems are getting removed
- At the end (when only one cell is remaining), type `cmd+z` (undo)
🐛 Bogus problems are added

![Kapture 2020-06-04 at 12 02 21](https://user-images.githubusercontent.com/10746682/83743744-6b42dc00-a65b-11ea-88d5-2e4478181605.gif)

[2020-06-04 10:09] lszomoru commented on #99282
@roblourens, command is working but I think that the content should be adjusted.

Actual:
`ddd$repo $current is:issue`

Desired:
[code]

[2020-06-04 10:10] sandy081 commented on #99148
Verified that error is gone but I see #99240

[2020-06-04 10:11] jrieken commented on #98057
I can now reproduce but from the logs and debugging it seems that the extension host side is looking correct - I see meaningful CLOSE/OPEN messages and I do see how the `remove` function is executing.

Moving this to June for further investigation but @bpasero I believe there is more to this than just extension referenced documents

[2020-06-04 10:13] lszomoru commented on #99185
Should we add the orange border for the active cell, to be consistent with how the workbench represents the active element?

![image](https://user-images.githubusercontent.com/3372902/83744554-9b3eaf00-a65c-11ea-8ef6-192c87e86df2.png)

[2020-06-04 10:13] jrieken commented on #98057
FYI - our current plan is to add API, e.g a workspace edit can say that it can be previewed and based on user-preference the preview pane will show. Similar to how rename (symbol) preview works

[2020-06-04 10:15] weinand commented on #97471
@isidorn works great now!

[2020-06-04 10:15] jrieken commented on #99352
Yeah, I would expect only one new error to shown...

[2020-06-04 10:19] sandy081 opened #99353 "Reference cell is not revealed at the end of viewport and not shown completely"
- Used My work issues notebook
- Find all references for `$vscode`
- Navigate references using arrows and enter
🐛 Cell at the end of the viewport is not revealed completely

![Kapture 2020-06-04 at 12 18 22](https://user-images.githubusercontent.com/10746682/83745266-929aa880-a65d-11ea-9c7c-5cfe76032774.gif)

[2020-06-04 10:20] alexdima commented on #98187
Does any of the following characterise your system? https://github.com/microsoft/vscode/wiki/Keybinding-Issues#troubleshoot-linux-keybindings

[2020-06-04 10:23] sandy081 opened #99354 "References are shown in a cell that does not have references"
- Used My work issues notebook
- Open the notebook and have `### Performance` cell in edit mode
- Find all references for `$vscode`
- Navigate references

🐛 Markdown cell that does not has reference is revealed

![Kapture 2020-06-04 at 12 22 18](https://user-images.githubusercontent.com/10746682/83745622-1c4a7600-a65e-11ea-86f5-5ea02852b334.gif)

[2020-06-04 10:28] bpasero commented on #99290
@joaomoreno you need to register an editor input factory for anything you want to restore.

[2020-06-04 10:30] DanTup opened #99355 "Clarify docs on CompletionList.isIncomplete to make it very clear the behaviour when using backspace"
I've raised a [request for the LSP spec to be explicit](https://github.com/microsoft/language-server-protocol/issues/954) about this behaviour, but since it's possible to use the VS Code APIs without LSP I believe it should be concrete here too.

There is a flag on `CompletionList` called `isIncomplete` which informs VS Code that it needs to re-query the server as the user continues to type when t

[2020-06-04 10:31] alexdima commented on #91555
How about if the link provider returns a link collection and says something like "only apply these links on comments" and then the UI side takes the incoming links and removes the ones which are not on comments?

And how does this really work? Do we really want to make 50 cross renderer-extension host requests in a file with 50 occurences of `#123` ? And that on each keystroke since each keystroke

[2020-06-04 10:31] jrieken commented on #99354
wait... cannot reproduce. @sandy081 are you on lastest of the GH issue extension?

[2020-06-04 10:34] bpasero commented on #99218
No I cannot reproduce this exit code, tried with sample code:

[code]

[2020-06-04 10:37] sandy081 commented on #99305
No comments cannot be preserved using the API - its a known issue - https://github.com/microsoft/vscode/issues/29453

[2020-06-04 10:40] Florent-Steiner commented on #96809
Please Help. This is really annoying. Both cursorEndSelect  and cursorHomeSelect are wrong.

[2020-06-04 10:42] weinand commented on #90225
Seems to work mostly fine for me now:
If I'm in an active debug session and I move the breakpoints view to the top, that setting becomes my default user setting.

But when opening a new empty project and go to the debug viewlet, the position of the breakpoints view is still below it (which is good).

The only way to force the original problem is to move the breakpoints view explicitly above the We

[2020-06-04 10:42] sandy081 commented on #99354
Yeah I am on latest.. I think the step I missed to add is to have `## Performance` cell in edit mode. Updated.

[2020-06-04 10:42] isidorn commented on #99305
Thanks! Will still keep this open since we could theoratically use the fileService to write, but I would prefer not to do that.

[2020-06-04 10:43] alexdima opened #99356 "`getTokenInformationAtPosition` API causes too much traffic and blocks the renderer process"
* Install `GitHub Pull Request Nightly BuildPreview`
* Open the following file:
[code]

Try to work in the file and observe how the window is not really responsive.
Add a console log statement here -- https://github.com/microsoft/vscode/blob/353e8f4fbadc048125593c8e34723bc667f373ce/src/vs/workbench/api/browser/mainThreadLanguages.ts#L47

Observe how after each keystroke there are thousands of requ

[2020-06-04 10:44] alexdima commented on #91555
This looks to be quite serious. I have created https://github.com/microsoft/vscode/issues/99356

[2020-06-04 10:48] halx99 opened #99357 "The latest vscode can't use system installed python"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-06-04 10:53] jbriales commented on #57070
I agree with @macintacos, an explicit action with this behavior would be more convenient (to map it to a concrete shortcut at your will).
Is there any expectations or ideas on this?

[2020-06-04 10:53] halx99 commented on #99357
I just wan't use reStructuredText, but it's always prompt ```Please review Python installtation on thi smachine before using this extension```, I already specify python path to System ```PATH```

[2020-06-04 10:55] IllusionMH commented on #99341
`dom` is one of `lib` values that are used in default TS config.

In your case you would need to [create `jsconfig.json`](https://code.visualstudio.com/docs/nodejs/working-with-javascript#_javascript-projects-jsconfigjson) that explicitly doesn't contain `dom` in [`lib` array](https://www.staging-typescript.org/tsconfig#lib), but has libs that are relevant to your Node.js version (or other runtime

[2020-06-04 10:57] IllusionMH commented on #99357
/extPython

[2020-06-04 10:57] #99357 closed

[2020-06-04 10:59] bpasero commented on #98057
This seems to be the same underlying reason as https://github.com/microsoft/vscode/issues/98653. During the steps we close and open editors, but some of them are inactive. When these get closed (e.g. by doing another DND operation), we do not dispose the model because an editor only disposes a model if it was opened actively, not inactive. Since the models are dirty doing the operation, we refuse

[2020-06-04 10:59] #98057 closed

[2020-06-04 10:59] halx99 commented on #99357
But I installed python by official python installer, not ms vscode python extension

[2020-06-04 11:06] alexdima commented on #98055
@CreateLife Can you please verify that you use `"editor.largeFileOptimizations": true` ? If you have configured `"editor.largeFileOptimizations": false`, then the editor will attempt to tokenize the very large file, which might lead to slowness.

[2020-06-04 11:07] IllusionMH commented on #99357
VS Code editor doesn't use Python by itself and only provides basic syntax highlight.

Error that you have comes from extension and should be reported in extension repo, because this repo only for editor issues.

Also see https://github.com/vscode-restructuredtext/vscode-restructuredtext/issues/191

[2020-06-04 11:09] halx99 commented on #99357
thanks

[2020-06-04 11:10] alexdima commented on #97028
@pfmoore

To create keyboard layout independent keybindings, it is possible to use scan codes in the keybindings definitions, e.g.

[code]

Here is a list of scan codes -- https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code/code_values

[2020-06-04 11:17] jrieken commented on #91555
I'd say it serious if it freezes the UI but generally this is as severe as any API call that's being invoked many, many times, e.g in a loop. If we think the sample in #99356 is realistic then we can easily debounce calls the API-layer. However, as I have repeatedly said this is temporary solution to get us off the start line. The API is proposed and we have no plans to finalise it.

[2020-06-04 11:18] #99352 closed

[2020-06-04 11:22] olvap80 commented on #99341
According to the JavaScript language rules local class File shall override global one.

To the contrast commercial **Microsoft Visual Studio Professional 2015 Update 3** is smart enough to display hint correctly:
![image](https://user-images.githubusercontent.com/2523041/83750096-756dd600-a66d-11ea-8cca-c2b3d80de62b.png)

[2020-06-04 11:22] sandy081 commented on #99014
/duplicate

https://github.com/microsoft/vscode/issues/99108

[2020-06-04 11:22] #99014 closed

[2020-06-04 11:22] #98645 closed

[2020-06-04 11:22] #98572 closed

[2020-06-04 11:23] volodymyr-ryvak-globallogic commented on #99341
@IllusionMH
I'm not sure if this is related to `tsconfig`.
How about the case when we override the browser's class and `dom` can't be removed from `tsconfig`?

[2020-06-04 11:31] Dzejkop commented on #99321
I authored the original [implementation](https://github.com/microsoft/vscode/pull/97920), I'd happily look into this

[2020-06-04 11:32] sandy081 commented on #98827
@IllusionMH I cannot repro this behaviour on insiders.

Can you please repro again and when it happens provide me following info

- Log (Window)
- Console Log (Window)
- Log (Shared Process)
- Console log (Shared process)

[2020-06-04 11:39] okomarov commented on #40898
In my **solution**, the Watcher Exclude settings are respected. Use absolute paths to the workspace folders in the `*.code-workspace` file.

---

I Remote-SSH into Linux from Windows. Opened my `main` folder, and added a `secondary` one to the workspace. Saved the workspace under `main/.vscode`.

So my **folder structure** is:
[code]

And the `workspace.code-workspace`:
[code]
Notice the relative

[2020-06-04 11:39] dbaeumer commented on #99099
Verified.

@aeschli But I would like to recommend that we rephrase the wording. Current:

I would point somehow to WSL since the feature is supported in general.

[2020-06-04 11:45] jrieken commented on #99354
Thanks. The cell (markdown) needs to be in edit mode and must be outside the viewport for this to happens. For some reason the wrong editor is then picked up.

[2020-06-04 11:49] chrmarti commented on #99311
Do you have any of the HTTP_PROXY, HTTPS_PROXY or NO_PROXY environment variables or the `http.proxy` setting set?

[2020-06-04 11:50] sundarhistoriya007 opened #99358 "unable to find the complier path"
have written the needeWe d data into your clipboard because it was too large to send. Please paste.
hi

i am facing the issue, compiler path is not find but i have given correct path only
problems console is shows cant fint c:/User/Welcomewin64/bin/gcc.exe is
please help me fix this problem

[2020-06-04 11:52] sandy081 commented on #99274
I thought when I use `cancelId` the underlying dialogService takes care of showing the cancel button at right location based on OS?

[2020-06-04 11:52] bpasero opened #99359 "Notebook: undo to saved state does not clear dirty marker"
In text files if you undo often enough the document eventually turns saved.

[2020-06-04 11:54] bpasero commented on #99274
No, that property is for knowing what to trigger when the user hits `ESC` key for example.

[2020-06-04 11:57] jrmcdona opened #99360 "Search and replace not working for some strings that contain parentheses"
Version: 1.45.1 (user setup)
Commit: 5763d909d5f12fe19f215cbfdd29a91c0fa9208a
Date: 2020-05-14T08:27:35.169Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1.  Search and replace for string **Monthly Channel (Targeted)**
2.  Review screenshots below to see this should be working.  Only Monthly Channel search is wo

[2020-06-04 11:58] pfmoore commented on #97028
Thanks. It seems odd to me that the "Record Keys" feature doesn't return scan codes. I can't see why I'd *ever* want layout-dependent results by default....

[2020-06-04 11:58] EricHripko opened #99361 "Editing settings via CLI interface"
# Overview
[code CLI](https://code.visualstudio.com/docs/editor/command-line) is amazingly helpful for users that wish to quickly set Visual Studio Code up or even automate the setup altogether. For example, current CLI interface provides a great way to [manage extensions](https://code.visualstudio.com/docs/editor/command-line#_working-with-extensions) from command line.

CLI interface would be ev

[2020-06-04 12:00] Sankarrockzz opened #99362 "Switch tabs, On Scroll jumps to end of file"
Issue Type: <b>Bug</b>

1) Open any file in VS code, with scrollable lines of code, say >50.
2) Click on line no. 1
3) Now switch/open any other linux program, say a web browser.
4) Open any web  page there, scroll down, say half a way (Dont click anywhere).
5) Finally Switch back to VS code, and scroll down, suddenly it will jump from line 1 to half of the page.

NOTE:  You scroll 'x' amount in t

[2020-06-04 12:02] alexdima commented on #98133
@Direct-A I guess your problem was with the proxy settings -- https://github.com/microsoft/vscode-remote-release/issues/3084

[2020-06-04 12:02] #98133 closed

[2020-06-04 12:03] bpasero commented on #99350
How is this different from https://github.com/microsoft/vscode/issues/99247 ?

[2020-06-04 12:05] RichardFevrier commented on #99129
Thank you for your answer. Here are two screenshots.

Initial context: Git is configured in my current project. I have made modifications on some files. I have added some files in the index (git add filename) so those files are in a staged state, prepared for the next commit. Some others are just modified.

- The first one is the "Source Control: Git" view. You can see the color on the right (on t

[2020-06-04 12:06] isidorn commented on #99350
That one I used blue border for the focus items. Lad thinks it should be orange to make it clearer and consistent.

[2020-06-04 12:06] alexdima commented on #97028
For portability reasons. In insiders, we already offer settings sync and keybindings will be synchronized across machines, potentially across different OSes. So we default to the most "portable" thing we have...

[2020-06-04 12:09] alexdima commented on #95629
@sean-mcmanus Can you please double check that the C++ extension is not writing `"editor.quickSuggestions": null` to user settings?

[2020-06-04 12:10] jrieken commented on #97476
This is done. Thanks @mjbvz

[2020-06-04 12:10] #97476 closed

[2020-06-04 12:13] pfmoore commented on #97028
Hmm, OK. Maybe I'm not understanding then. How is `Ctrl-K oem_3` *more* portable than `Ctrl-K [Quote]`? I originally found this because of an extension that mapped `Ctrl-K '`, which is not portable to UK keyboards. If they'd mapped `Ctrl-K [Quote]` I assume it would have worked everywhere?

To be clear, using scan codes will solve my issue, so the only things I'm really discussing now are discover

[2020-06-04 12:17] joaomoreno commented on #83565
@bpasero I tried uploading a 2GB file on MS Edge. It was hanging/processing for a couple of minutes and then just blew up. The `node` process output had:

[code]

I was uploading a 2.6GB file. After those two minutes, all I had was 4KB transfered.

[2020-06-04 12:20] usernamehw commented on #99360
You have regexp flag turned on

![83753643-4ab15c80-a630-11ea-831e-5865211641c2](https://user-images.githubusercontent.com/9638156/83755873-e2d23480-a676-11ea-871a-bb6f8c9849c7.png)

[2020-06-04 12:20] usernamehw commented on #99360
/question

[2020-06-04 12:21] #99360 closed

[2020-06-04 12:22] jrmcdona commented on #99360
You are right.  Thought was a bug.

[2020-06-04 12:22] joaomoreno opened #99363 "Notebook input cell has no left padding"
On Windows:

![image](https://user-images.githubusercontent.com/22350/83756049-c03c1d80-a66e-11ea-9e49-d5792310b3de.png)

Actually the overall padding looks strange... no left padding, too much padding on top/bottom.

Also, is that `GitHub Issues` really needed? It seems to take over excessive space.

[2020-06-04 12:23] #99274 closed

[2020-06-04 12:24] joaomoreno opened #99364 "Notebook input cell padding varies with layout direction"
Check it out:

![recording (13)](https://user-images.githubusercontent.com/22350/83756215-05f8e600-a66f-11ea-9b3e-661c7f418913.gif)

[2020-06-04 12:25] sandy081 commented on #99274
Well that's not true at least on Mac as it always shows cancel button second one from right

https://github.com/microsoft/vscode/blob/0bf375a847652d75535b41271521caa310520302/src/vs/workbench/services/userDataSync/browser/userDataSyncWorkbenchService.ts#L246-L256

<img width="665" alt="image" src="https://user-images.githubusercontent.com/10746682/83756326-33de2a80-a66f-11ea-8e3e-62f955e34d4e.png"

[2020-06-04 12:27] alexdima commented on #98278
I have asked @aeschli to try to repro because he has a WSL2 working setup and he was not able to do so.

@sean-mcmanus Can you please check again, maybe there was some kind of problem that got resolved in the meantime on Insiders?

![image](https://user-images.githubusercontent.com/5047891/83756461-5f611500-a66f-11ea-8ff1-164bbe69baaa.png)

[2020-06-04 12:27] aeschli commented on #98278
That's what I get on Windows 19041, VSCode Insiders 1.46.- 595d2b96 (2020-06-03)