[2020-09-15 19:25] roblourens commented on #106737
This is the order that it's contributed in. Do you think that the settings UI should sort them alphabetically like they are in the suggest widget, or leave them in contribution order, in case that is important?

Looking through some enum settings, some seem to order the options in an intentional way, like with the default first, or the simpler options first. Some are random or are sorted. I think

[2020-09-15 19:26] jtwatson commented on #103549
This just bit me in the stable release. I am running Fedora 32, GNOME 3.36.5. Vscode 1.49.0

Any estimate on fixing this?

[2020-09-15 19:26] ANF-Studios commented on #106706
It happens with the C/C++ Extension by Microsoft ([ms-vscode.cpptools](https://github.com/microsoft/vscode-cpptools))

I copied the terminal and removed some personal details.
[code]

This showed up when I changed just one thing and then pressed `Ctrl` + `Z`, if I change some contents correctly, like the externalConsole argument to true, it won't throw any errors.

This doesn't happen when using t

[2020-09-15 19:31] vilic commented on #36634
I often have two editors group opening the same file, and navigating from the second one would result in cursor jumping to the first one. Which is really disturbing.

[2020-09-15 19:35] #100998 closed

[2020-09-15 19:35] aodelta opened #106796 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.1.0-dev.20200914

**Steps to reproduce crash**
1. The bug happend when I registered links to the most downloaded Deno extension. Imports links errors disappeared, but TS restarted 5 times before crashing. Same things when I realoaded VS Code

**TS Server Log**
❗️Server l

[2020-09-15 19:41] planetwarevince commented on #106790
I suggest the "boolean checkbox" model would override/ignore the include/exclude filters and literally only look at the opened files.  If I want to act on all the open files and only the open files, I'm not interested in the filters.
Can someone demonstrate a use case where the filters matter if acting on all open files?  (In my use case it's convenient enough to close anything I want to exclude f

[2020-09-15 19:45] machineghost commented on #106790
@planetwarevince hit the nail on the head!

@JacksonKearl I understand you don't want "one-off" solutions, but solving problems no one has isn't a good use of anyone's time.

It's not just me: there are a large number of users who want "search within open files".  There is a *much* smaller (based on the thumbs up and such in the issue this came from) who want anything other than that.

YAGNI is go

[2020-09-15 19:50] deepak1556 commented on #106592
@kenguie please open a new issue to help triage the issue you are facing, it is not the same as this issue. Thanks!

[2020-09-15 19:56] mjbvz commented on #106796
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-09-15 19:57] ANF-Studios commented on #106706
Oh and also, that is what happens when I edit my tasks.json; when I edit my launch.json, I get this:
[code]

Which is weird, but for some reason, it happens.

[2020-09-15 20:00] spirulin commented on #100940
This fixed it for me on Manjaro 20.1 XFCE:

`sudo mkdir /usr/lib/x86_64-linux-gnu/
sudo ln -s /usr/lib/gdk-pixbuf-2.0 /usr/lib/x86_64-linux-gnu/gdk-pixbuf-2.0`

What the Snap team at MS is doing? This thing has been a problem since forever. Would be nice if someone finally fixes it.

[2020-09-15 20:03] JacksonKearl commented on #106790
People have wanted search in git modified (and some other sets) for as long as they've wanted search in open. Just because you haven't been around to see the "clear/strong user need" doesn't mean it doesn't exist:
https://github.com/microsoft/vscode/issues/36345
https://github.com/microsoft/vscode/issues/38965
https://github.com/microsoft/vscode/issues/39484
https://github.com/microsoft/vscode/iss

[2020-09-15 20:05] spirulin opened #106797 "VsCode Snap crashing on Manjaro 20.1 XFCE when you try to save or open some native menu!"
- VSCode Version: Latest on date 15.09.2020 (Sorry now on Windows because I need a working editor!)
 - OS Version: Manjaro XFCE 20.1

Steps to Reproduce:

1. Open VScode
2. New file - Save as - CRASH!

Does this issue occur when all extensions are disabled?: Yes

Extra info:

This fixed it for me:

sudo mkdir /usr/lib/x86_64-linux-gnu/
sudo ln -s /usr/lib/gdk-pixbuf-2.0 /usr/lib/x86_64-linux-gnu/g

[2020-09-15 20:05] SandHilt commented on #106509
Typescript Server can run.
This problem happen when i have tsconfig.json to build and active extension via workspace setting.

Steps to reproduce:
- npx create-react-app my-app --template typescript
- enable deno via workspace setting
- create an folder and put some ts file
- Typescript Serve will read tsconfig.json and broken.

[2020-09-15 20:05] hyangah opened #106798 "update Go syntax"
The last update was 8months ago.
https://github.com/microsoft/vscode/blob/d54d7388946074b16f2093440edcd9ffcb9adeb3/extensions/go/syntaxes/go.tmLanguage.json#L7

Can we get it updated to pick up the fix for https://github.com/jeff-hykin/better-go-syntax/issues/3 ?

I think the up-to-date version is in https://github.com/jeff-hykin/better-go-syntax/blob/master/export/generated.tmLanguage.json

cc @j

[2020-09-15 20:06] SandHilt commented on #106176
Disabling fix the problem.

[2020-09-15 20:06] #106176 closed

[2020-09-15 20:09] faizabbas23 opened #106799 "cant code in C"
I learning C and downloaded the C/C++ extension with a few others like the debugger. I went to change my language from Python to C I can't find it. I then ran the debugger to see if my extenstions will pop up and all my other languages are there expect C.

How do I fix this problem?

[2020-09-15 20:09] planetwarevince commented on #106790
I understand.  This issue is far larger than my simple use case.
At this point I'd be happy with either of the models you've proposed, Jackson.  Thanks for tackling it!

[2020-09-15 20:10] Stanzilla commented on #106528
@sbatten yup

[2020-09-15 20:14] egamma commented on #84585
@diamondhat since this is happening with a C++ project, please report the issue against the C++ extension.

[2020-09-15 20:18] mjbvz commented on #106509
It sounds like this only happens when Deno is enabled so please file this issue against the Deno extension

[2020-09-15 20:18] #106509 closed

[2020-09-15 20:20] #106799 closed

[2020-09-15 20:28] IvanPizhenko commented on #106790
Finally, "the ice has started to move on", and we hopefully will have exciting new feature in the nearest months.

[2020-09-15 20:37] sbatten commented on #106528
@Stanzilla can you run with `--user-data-dir <some empty dir>` to try "fresh"

[2020-09-15 20:39] davidzech commented on #105446
Some further notes for reference:

Monkey patching
https://github.com/microsoft/vscode/blob/a4befc3d68695645063a257493eec7957d4f7064/src/vs/workbench/contrib/terminal/browser/terminalInstance.ts#L1194

to be
[code]

Seems to fix the terminal from being blocked. It's still a bandaid over the underlying problem, which is `child_process.exec()` taking a long time to execute on macOS Big Sur Beta.

[2020-09-15 20:41] Stanzilla commented on #106528
@sbatten happens there as well

[2020-09-15 20:42] #105421 closed

[2020-09-15 20:43] roblourens commented on #105421
Thanks for checking that @Simran-B. I guess my reading comprehension is not good because I missed that this was just about the replace input, not the search input. Should be fixed now.

[2020-09-15 20:50] rahulrajak7737 opened #106800 "compilation"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

[Running] cd "c:\Users\rahul\OneDrive\Desktop\" && gcc table2.c -o table2 && "c:\Users\rahul\OneDrive\Desktop\"table2
C:/Program Files (x86)/mingw-w64/i686-8.1.0-posix-dwarf-rt_v6-rev0/mingw32/bin/../lib/gcc/i686-w64-mingw32/8.1.0/../../../../i686-w64-mingw32/lib/../lib/libmi

[2020-09-15 20:55] vainamov opened #106801 "Window has 1px border on top"
When VS Code is closed in maximized state and reopened again the title bar isn't stretched to the top of the screen but instead a white line is rendered.
![grafik](https://user-images.githubusercontent.com/11841072/93233398-4fcb8f00-f77b-11ea-8a55-287e5600c8ff.png)

When manually snapping the window to the top (or fully maximizing it again), a 1px border at the top of the window appears that preve

[2020-09-15 20:55] kylegmaxwell commented on #44075
A lot of people are asking for format modified on type instead of save. I didn't ask for that since I thought it does not make sense. If you format on type then you always just format the lines as you modify them. I needed format modified since I wanted to make changes to several lines and then save and see just those lines formatted. Also I was using C++ with clang_format which does not work well

[2020-09-15 20:55] thernstig commented on #106524
Yup, this does not work:

[code]

This does:

[code]

[2020-09-15 20:56] rchiodo commented on #106547
Python extension released a new version. That should alleviate the problem for most people.

[2020-09-15 20:58] belcherj commented on #106392
Found the issue: https://github.com/microsoft/vscode/blob/f74e473238aca7b79c08be761d99a0232838ca4c/src/vs/editor/browser/controller/textAreaState.ts#L96

text.length will not return a valid length for some characters as a single character could have multiple UTF-16 units.

Working out the best way to calculate.

[2020-09-15 21:03] weinand commented on #106787
@lobsterkatie your "outfiles" value is not a glob pattern. Please use something like `${workspaceFolder}/packages/tracing/dist/**/*.js`

[2020-09-15 21:08] cyrilletuzi opened #106802 "Disable wordBasedSuggestions when in TypeScript strict mode"
Hi and thanks for VS Code. 👍🏻

Currently, `editor.wordBasedSuggestions` is enabled by default. This was useful in JavaScript projects where the autocomplete was partial due to a lack or loss of typings.

Now, in TypeScript projects in `strict` mode, it feels inappropriate as the editor suggests invalid code (for example properties that do not exist at all in an object). As all types are provided,

[2020-09-15 21:10] weinand commented on #106789
/duplicate #105191

[2020-09-15 21:10] #106789 closed

[2020-09-15 21:11] machineghost commented on #106790
Well, if you actually plan to address those issues ... great!  I just don't want to see what happened to the last ticket happen to this one.

[2020-09-15 21:11] #106800 closed

[2020-09-15 21:16] dmsnell commented on #106392
Not like I know my way around the code but I'm surprised there's not a string-length function in [vs/base/common/strings.ts](https://github.com/microsoft/vscode/blob/25ad7485b3aa2dea43ab945b4f6af94cf0537b09/src/vs/base/common/strings.ts).

Considering that this also affects accented characters it's probably not limited to surrogate pairs though. It could be an issue with counting grapheme clusters

[2020-09-15 21:22] aslatter opened #106803 ""Could not load source" error when attempting to use JavaScript debugging auto-attach"
- VSCode Version: 1.49.0
- OS Version: Windows 10 2004

Steps to Reproduce:

1. Create a demo TypeScript project, with the following settings:
 + 'sourceMap' set to 'true'
 + 'outDir' set to './dist'
 + 'rootDir' set to './src'
 + Have 'typescript' set up as an npm "dev" dependency
2. Create a basic 'src/index.ts' file
3. Build the project (`npx tsc -p .`)
4. Enable "Auto Attach"
5. Set a breakpoi

[2020-09-15 21:23] deepak1556 commented on #106782
Merging this to https://github.com/microsoft/vscode/issues/106569

[2020-09-15 21:23] #106782 closed

[2020-09-15 21:51] connor4312 commented on #106795
In the log file you included, the only three scripts the browser loaded were:

- https://code.jquery.com/jquery-3.3.1.min.js
- https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js
- https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js

It doesn't look like your own code is loaded in the browser. Therefore we cannot set the breakpoint and mark it with an empty

[2020-09-15 21:53] connor4312 commented on #106787
Indeed, that should fix your issue. A change was made this month to default to only resolving sourcemaps within the specified outFiles. This is the explanation behind that change: https://github.com/microsoft/vscode/issues/105859#issuecomment-685134778

[2020-09-15 21:53] #106787 closed

[2020-09-15 22:06] IllusionMH commented on #106801
Problem with Close button looks like duplicate of #90466 (same for menu items).
Do you have custom `window.zoom` value specified in `settings.json`?
Also do I understand correctly that you have this border not only at the top but also on the sides?

I also just noticed white bar at the top (as shown above) only after application start but right click on it in title area (between menu and minimize)

[2020-09-15 22:13] IllusionMH commented on #106797
/duplicate of #100940 (but you already commented there)

That issue is in September milestone so hopefully fixed soon.

[2020-09-15 22:14] #106797 closed

[2020-09-15 22:20] irvnriir opened #106804 "make Column Selection on hotkey+LMB consistent"
please make so when user presses the hotkey and then LMB, the selection would start from the location he pressed LMB on .

currently, the selection expands from existing, 1st placed cursor, and the workaround is to start 1-cursor selection and then press Ctrl+Shift . this is undesired behavior, and the action should not require the user to press the buttons in certain order . (MMB is not always co

[2020-09-15 22:32] vainamov commented on #106801
Yes, the white line is part of the application and registers clicks for the title bar. My `window.zoom` setting is set to 0, but setting it to 1 or removing it entirely makes no difference. Also I haven't touched this setting since when I first installed VS code several years ago.

Regarding the border I quickly checked to make sure. Turns out it's also only present on the top of the window. I tri

[2020-09-15 22:45] misolori commented on #106717
Based on the feedback I've received so far (speed up animations, add more themes, adding more options like cloning and adding code to the path), I've updated the flow to include these, see the updates below.

![Kapture 2020-09-15 at 15 39 11](https://user-images.githubusercontent.com/35271042/93272503-79c88580-f76a-11ea-94fd-c09dc6b63bf1.gif)

[2020-09-15 22:56] mihaibrana commented on #98161
From @bpasero 's explanation of the feature:

"shrink: new default setting, the tab shrinks to 80px revealing parts of the name"

:)

[2020-09-15 22:58] orta commented on #106717
I love it.

Depending on how much friction you want to offer on the onboarding, that command palette page could require the user to run an action in the command palette. e.g The "Next Step" button could turn to "Unlock via the palette" and be disabled until you run the only possible command in the palette of "Unlock"

[2020-09-15 23:01] misolori commented on #106717
@orta it's funny you mention that, @JacksonKearl also suggested the same thing. Maybe we really should do that 😁

[2020-09-15 23:08] ChristopherHaws commented on #98161
@mihaibrana TYVM! I didn't realize this was configurable :)

![image](https://user-images.githubusercontent.com/5934505/93273838-bd70be80-f76d-11ea-9428-6506670ced14.png)

[2020-09-15 23:12] mihaibrana commented on #98161
It's VS Code, mate :). It's more configurable than Linux on a good day :D

(not a Linux expert, don't flame me, have mercy, Interwebz!)

[2020-09-15 23:17] jxramos opened #106806 "Code Helper Renderer Locks up with Find Command"
- VSCode Version:

[code]
- OS Version: macOS Mojave 10.14.6

Steps to Reproduce:

1. Invoke global search from vscode: Cmd + Shift + F
This alone will trigger the Code Helper to lock up its CPU cycles to 99% and hangs the app for the most part.
![image](https://user-images.githubusercontent.com/13857038/93272387-379f4400-f76a-11ea-9d34-a21e3cd4f5c8.png)

Eventually the main thread prompts the use

[2020-09-15 23:21] dev-mbusch opened #106807 "Enabling using Transform to Lower/Upper/Title Case without changing String Literals"
Hi there,

I would love to have the 'Transform to Lower/Upper/Title Case' command to be aware of string literals.

What I mean by that is I would love to have the option to enable the following behavior for that commands:

Input that I'm going to Ctrl + A and then Ctrl + Shift + P -> **Transform to Lowercase**:
[code]
Should result in the following expected behaviour:
[code]
The same goes for **Tr

[2020-09-15 23:25] collectedview opened #106809 "Dialog Window: Highlights"
Functionally extensions work mostly flawlessly, though some of the dialog windows can be confusing and apply dependencies to a codebase eg.) linters. There could be a more effective ranking of impact through extensions with some versioning of rating or symbols.

[2020-09-15 23:26] dev-mbusch commented on #106807
@vscode-triage-bot My feature request is not covered by the issue you've presented.

[2020-09-15 23:27] #106809 closed

[2020-09-15 23:27] collectedview opened #106810 "Dialog Window: Highlights"
Functionally extensions work mostly flawlessly, though some of the dialog windows can be confusing and apply dependencies to a codebase eg.) linters. There could be a more effective ranking of impact through extensions with some versioning of rating or symbols.

[2020-09-15 23:45] wjsbgsnwss opened #106811 "Feature request: Cell level VIM edit mode"
With the current vim extension, one can append/delete/edit the cells as a whole, but when it goes into a cell, it is just normal edit mode. When you hit esc key, it will leave the cell and you can't edit the cell unless you hit the Enter key.

It used to have plugin in Jupyter (not in VSCode) that allows VIM to edit the cell, using vim key-binding to edit the content of the cell.

[2020-09-16 00:21] danielgjackson commented on #85592
@deepak1556 I'm afraid I don't think Insiders 1.50 fixes this issue.

I don't envy you getting to the bottom of this, it looks like a story of mixed-DPI (what was connected when launched vs connected later), window styles and client areas.  Hopefully some of the following details may help you.

Firstly, I made sure I was not running my "vscode-maximize-fix" extension (which works around this issue

[2020-09-16 00:23] GustavoASC commented on #106717
I am really, really excited about this! It will be a great user experience!!!! Congrats for the great work :clap: :clap: :clap:

[2020-09-16 00:33] alexweininger commented on #106717
This is awesome to see, really exciting to see this in the works. 😃

I believe larger, feature-rich, extensions would really benefit from providing users with their own first run onboard experience similar to the one in the designs.

It would be awesome if this feature could be offered through the extension API in some form. That way extensions could contribute their own first-run experience. Exte

[2020-09-16 00:59] hiroshi2141 commented on #106604
I am suffering from the same problem. Installing 1.48.2 solved this problem.

[2020-09-16 01:08] xendren commented on #90436
Any way to upvote this?  So the only work around is to train myself to always create the folders in a specific order and remember to add a dummy file in each folder or the UI forgets the folder hierarchy?  Back in the stoneage, this type of file manipulation was the centerpoint of why any user would choose Windows over command-line.  Thirty years later the feature isn't worth adding?  This is stil

[2020-09-16 01:13] fengerhu1 opened #106878 "Chinese input methos bug"
When I use the vscode to edit the Chinese doc, I meet some problem:
The candidate box is not aligned with the cursor。Sometime, when I press the first letter, the Chinese candidate box is shift to right. I try the different version on the different mac os, the problem is still existing. So how can I solve this problem?
Thanks

[2020-09-16 01:21] qiulang commented on #106537
Hi added `console: integratedTerminal`  but even more strange is that after I restarted vscode the problem goes away!

I didn't remember whether I restarted vscode yesterday but today that did fix the problem!

[2020-09-16 01:25] joshbolduc opened #106812 "Groovy syntax highlighting not automatically applied for files named `Jenkinsfile`"
Issue Type: <b>Bug</b>

Repro step~s~:
1. Open a file named `Jenkinsfile`

Expect:
Groovy file mode is detected automatically (worked in 1.48)

Actual:
File is detected as plain text (as of 1.49)

It looks like [this change](https://github.com/microsoft/vscode/pull/105326) removed `"filenames": [ "Jenkinsfile" ]` from the groovy extension, presumably inadvertently. By way of comparison, the docker

[2020-09-16 01:25] psychonaute commented on #106743
Perfect, thanks for your work

[2020-09-16 01:56] Sayyiditow commented on #1751
I wish they could highlight SQL syntax in XML files, this is a common practice for us.

[2020-09-16 02:02] spirulin opened #106814 "After the latest update of VScode it gives me some errors on Python after not finding Linter - Windows 10"
- VSCode Version:
Version: 1.49.0 (user setup)
Commit: e790b931385d72cf5669fcefc51cdf65990efa5d
Date: 2020-09-10T13:22:08.892Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

- OS Version:

Windows 10 Home 2004 fresh install fully updated.

Steps to Reproduce:

1. Installed VS code, installed Python extension and when it loaded a pop

[2020-09-16 02:08] testforstephen commented on #105463
[code]

@bpasero When i tried to save an Untitled file to Java format in macOS, the default file extension is still `.class`. Looks like this issue is not fixed with the latest upstream electron.

[2020-09-16 02:27] #102697 closed

[2020-09-16 02:27] #102609 closed

[2020-09-16 02:27] #98201 closed

[2020-09-16 02:29] #99318 closed

[2020-09-16 02:35] ayushisaxena19 commented on #104740
i did not get what the solution is

[2020-09-16 02:35] aknain opened #106815 "not able to authenticate github"
Issue Type: <b>Performance Issue</b>

i want to sync my github account to VS code . but when i try to authenticate it takes me to git hub websuite and then final giiving an error message "oh an error occured, please restart the sign in process from the editor: "
can i get some help in this issue.

thanks in advance.

VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-1

[2020-09-16 02:36] jdneo commented on #106267
@jrieken It's working now. If I force the execution to wait for a long time (> 2s), the code lens provider will also wait more to get triggered.

[2020-09-16 02:39] wesleyegberto opened #106816 "Remember open file custom identation"
Would be nice to remember the identation changed manually for the current open files in the editor.

Sometimes a file is formatted in a different configuration and I don't want to change the format.
I use detect identation to keep the levels when adding new lines, but everytime I go to another file it resets.

[2020-09-16 02:40] izaass opened #106817 "about license"
I work for a company, I want to make sure your visual studio code is free, and I need proof to prove it's correct, in case a copyright inspector comes to check, I can prove it surname

[2020-09-16 02:49] globalhuman commented on #106132
I feel this deserves more attention then it's getting. Hopefully it can be shared somewhere as I am sure it would prove valuable to many if implemented

[2020-09-16 02:50] globalhuman commented on #106132
@GlenNicholls Can you post a redirection link from the original #83690 to this one? It might help people find this easier to get the necessary votes to continue

[2020-09-16 02:54] nyn3x opened #106818 "No Code AutoCompletion"
- VSCode Version: 1.49.0 (user setup)
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:

In any *.ts or *.js file, when I try to use auto-completion for eg `console` by typing `con` and then pressing `[STRG]+[SPACE]` I'm not prompted with the expected `console`. However: once I completed typing `console` I get suggestions for `console`'s members.

Looking at the "Log (Extension Host)" I

[2020-09-16 03:08] danyeh commented on #106676
Thank you @yachen4ever for your feedback and PR. Issue fixed as suggested in [1.49.2](https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-zh-hans)

[2020-09-16 03:08] #106676 closed

[2020-09-16 03:21] neo502721 commented on #3451
I'm use ubuntu vnc too. The **exec** cmd need **--no-sandbox** parameter.

if no that, vscode will fail:
[27719:0916/111425.651934:FATAL:electron_main_delegate.cc(275)] Running as root without --no-sandbox is not supported. See https://crbug.com/638180.
Trace/breakpoint trap (core dumped)

vscode version:
version: 1.49.0
Commit: e790b931385d72cf5669fcefc51cdf65990efa5d
Date: 2020-09-10T13:20:50.35

[2020-09-16 03:22] iyashpal commented on #106717
Really excited to have this functionality. Please make this available in upcoming release.

[2020-09-16 03:32] GaoHengdong opened #106819 "I can't debug anymore"
- VSCode Version:1.49.0
- OS Version:Windows_NT x64 10.0.18362

1.When debuging. There's nothing in variables ,watch and callstack. Button step over is disabled. I can't debug anymore.
2.This only happened on my ASUS computer recently. My another computer works fine.
3.I tried reinstalled. And deleting all the extensions. But still not work.
4.I tried newly download vscode insider without any exte

[2020-09-16 04:35] WymaRogerJarrett commented on #106795
Issue Type: <b>Bug</b>

I have re-run again, trying to set a breakpoint in my typescript code.

I can see the code and set a breakpoint using chrome's internal debugger but can not do so from visual studio code.

VS Code version: Code - Insiders 1.50.0-insider (e13875b77c89b95f20ccb5667e14ff164c198e57, 2020-09-15T05:35:57.362Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info<

[2020-09-16 04:37] kishan-dobariya opened #106820 "TS Server fatal error: Debug Failure. False expression:"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 3.7.2

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2020-09-16 04:55] raymondlaw opened #106821 "Node.js: Successive DNS Requests Fail with Message "Canceled""
- VSCode Version: 1.49
- Node Version v14.3.0
- OS Version: Windows 10

Steps to Reproduce:

Run this Node.js code (once or twice sometimes it works, more often it prints Canceled)

[code]

![Capture](https://user-images.githubusercontent.com/2231426/93293042-06983100-f7b5-11ea-99e6-4acba3beaf18.PNG)

Notice the output prints the message "Canceled" despite it never appearing in the code, it's also

[2020-09-16 05:23] chrmarti commented on #106341
Could you try changing your DNS like this user reported: https://github.com/microsoft/vscode/issues/102714#issuecomment-660050590

This article mentions that too and has some other suggestions as well: https://thegeekpage.com/solved-fix-err_tunnel_connection_failed-error-in-chrome/

Does any of that help?

[2020-09-16 05:24] chrmarti commented on #106342
Duplicate of https://github.com/microsoft/vscode/issues/106341.

[2020-09-16 05:24] #106342 closed

[2020-09-16 05:35] mbtk opened #106823 "Blurred text"
Issue Type: <b>Bug</b>

In the new update, fonts in the program appear blurry (in editor, in explorer, tabs, everywhere) and it's so annoying.

VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18362

[2020-09-16 05:37] bpasero opened #106824 "Quick pick: selecting entry with keyboard does not put focus back to editor"
Steps to Reproduce:

1. use the language mode picker to pick a language for an untitled file
2. use the mouse to select an entry and focus moves back to the editor
3. do it again and use the keyboard (pressing enter) on an entry

=> 🐛 focus is not moving in to the editor

I think it would make sense to be consistent here and always move focus back to the editor, especially given the picker is chan

[2020-09-16 05:38] bpasero commented on #105463
I cannot reproduce that, steps:
* new untitled file
* hit `Cmd+S`
* pick Java from the dropdown

![image](https://user-images.githubusercontent.com/900690/93296498-a4a8ed00-f7ef-11ea-9083-f33c78d1390e.png)

[2020-09-16 05:39] connor4312 opened #106825 "Allow discovering where the webview is positioned"
In webview views, I don't know where the webview is positioned. For the visualizer extension, by default it's placed in the sidebar, so I'm using the sidebar colors as the background on my graph. But then when it's moved into the panel, those backgrounds are mismatched and ugly. I don't see a way right now to figure out where the webview is positioned.

[2020-09-16 05:41] bpasero commented on #98161
@ChristopherHaws the `shrink` option is a balance between having a fixed width for pinned tabs so that they appear in a fixed and stable way (e.g. do not disappear when scrolling) and the alternative which is `normal` where pinned tabs do not appear special, except for being in the beginning of the tab row.

You mean the pin action icon?

[2020-09-16 05:43] bpasero commented on #106737
It should be this order, same as the picker:

![image](https://user-images.githubusercontent.com/900690/93296754-28fb7000-f7f0-11ea-8e8e-dba2e0803f83.png)

The encodings are not sorted by name intentionally.

[2020-09-16 05:43] connor4312 commented on #106795
I notice in your logs that you're opening a new window, 22 seconds into debugging. Are you trying to debug your the sources in there? You'll need update your urlFilter to include that if, so, which you can do by setting `urlFilter: '*'` in your launch.json.

[2020-09-16 05:45] mJaiswal613 commented on #106638
Thank you barshasony it worked.

[2020-09-16 05:45] ChristopherHaws commented on #98161
@bpasero Awesome, I set mine to `normal` and it behaves the way I would expect.

Yes. I would like for a pinned tab to have the icon always visible as a way to represent that the tab is pinned. This is how it is done in VS:
![image](https://user-images.githubusercontent.com/5934505/93296919-1a3b9b80-f7a5-11ea-8238-d74309eb8177.png)

[2020-09-16 05:45] lobsterkatie commented on #106787
Thanks for the quick reply!

Unfortunately, that change didn't fix it. 🙁

Here's another log file, from running 1.49 with extensions disabled:
[vscode-debugadapter-1.json.gz](https://github.com/microsoft/vscode/files/5229898/vscode-debugadapter-1.json.gz)

Same behavior as before - no stopping at breakpoints, debugger shows up in the transpiled file, only transpiled files showing up in the Loaded

[2020-09-16 05:47] bpasero commented on #105330
Failed today: https://dev.azure.com/monacotools/Monaco/_build/results?buildId=87771&view=logs&j=3792f238-f35e-5f82-0dbc-272432d9a0fb&t=6ba55b26-6502-59ae-6c43-7e580fa53cb9&l=81

[2020-09-16 05:49] bpasero commented on #98161
Understood, we can have new feature requests for these things if you want to report it.

[2020-09-16 05:50] connor4312 opened #106826 "`resolveWebviewView` allows leaky references from old postMessages"
I noticed this due to some test setup I had. If I move a webview between the panel and the sidebar, then `onDidDispose()` is called for the webview, before `resolveWebviewView` is called again. However if I keep sending messages to the disposed webview, it will keep receiving them. I would expect that this would no-op or error.

[2020-09-16 05:53] mattgillard opened #106827 "Predefined variables like ${file} unavailable when using envFile in launch.json"
Issue Type: <b>Bug</b>

I am using envFile in launch.json to create some source code file specific environment variables for use with Python.
Some variable substitutions work fine like, ${workspaceFolder}.
However any of the ${file} related predefined variables (mentioned [here](https://code.visualstudio.com/docs/editor/variables-reference))  just do not seem to work.
They **do** expand correctly

[2020-09-16 05:53] connor4312 commented on #106787
Ah, something I didn't notice -- are you transpiling TS files as part of your Jest run?

If so, you can specify that we should resolve maps there by adding `resolveSourceMapLocations: ["${workspaceFolder}/**"]`. You'll need to change the "type" to "pwa-node" for this to appear as valid.

[2020-09-16 05:56] mattgillard commented on #106827
Apologies - not sure why the VSCode version is not recorded.

Version: 1.49.0 (user setup)
Commit: e790b931385d72cf5669fcefc51cdf65990efa5d
Date: 2020-09-10T13:22:08.892Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

[2020-09-16 05:59] krillxox opened #106828 "MS C/C++ extension doesn't detect qt header files"
VSCode Version: 1.49.0
Date: 2020-09-11T15:36:48.687Z
OS: Linux x64 5.8.8-arch1-1

With new version of MS C/C++ extension it has stopped detecting qt header files, even though I've added it's path in include path. It gives red lines over that included header file and says path to header file not found.

Does this issue occur when all extensions are disabled?: No

[2020-09-16 06:00] najimali commented on #105191
Getting the same ERROR:registration_protocol_win.cc(103)] CreateFile: The system cannot find the file spec
The system cannot find the file specified. (0x2) only when I am opening two projects in vs code without closing the first window.

For me **issue is resolved by closing both the project & restarting the only one project.**

[2020-09-16 06:02] OYangXiao commented on #75111
I've got the same performance issue:

computer: iMac 5k 2020, core i5-9600k, 32G RAM, Radeon Pro 580X
os: bootcamp windows 10 professional, version 2004 1904.508
vscode:
Version: 1.49.0 (user setup)
Commit: e790b931385d72cf5669fcefc51cdf65990efa5d
Date: 2020-09-10T13:22:08.892Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

I just op

[2020-09-16 06:13] MrAndersen1 commented on #106738
I haven't tried insiders but it reproduces in playground too if that is any help. If it isn't then I could try insiders too, but that will have to wait until probably next week, sorry for the delay.

[2020-09-16 06:18] nyn3x commented on #106818
None of the suggested "duplicates" seem to be related to code-completion.

[2020-09-16 06:20] xingdavis commented on #102493
upgrade vscode to the latest version can workaround

[2020-09-16 06:24] testforstephen commented on #105463
By using the insider at 2020-09-15, actually i can reproduce it in both windows 10 and macOS 10.15.5.

![newfile](https://user-images.githubusercontent.com/14052197/93297844-b3f65d80-f824-11ea-98b9-283b75ef8048.gif)

[2020-09-16 06:42] jrieken commented on #106267
@jdneo Thanks for the update

[2020-09-16 06:42] iFwu commented on #106783
I can confirm this problem too.

[2020-09-16 06:47] sandy081 opened #106829 "Filter codicon is not visible"
<img width="362" alt="image" src="https://user-images.githubusercontent.com/10746682/93301565-ee4a0580-f7f8-11ea-8649-8c4317233e77.png">

[2020-09-16 06:47] sandy081 commented on #106829
Also in problems view

[2020-09-16 06:55] #106393 closed

[2020-09-16 06:57] a1245582339 opened #106830 "I con't fold stylus in .vue file"
Issue Type: <b>Bug</b>

Write stylus code in .vue file, every style block con't fold and expand. But the css, sass, scss and less can do.

VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU St

[2020-09-16 07:00] #106394 closed

[2020-09-16 07:00] sandy081 commented on #106390
Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/

[2020-09-16 07:02] weinand commented on #106819
@GaoHengdong what debugger are you using?

[2020-09-16 07:02] sameronline commented on #96057
I'm constantly getting this issue and it's very frustrating....

[2020-09-16 07:05] bpasero commented on #105463
@testforstephen you possibly have a Java extension installed? Does it reproduce when you disable that extension?

[2020-09-16 07:07] GaoHengdong commented on #106819
node.js

[2020-09-16 07:09] weinand commented on #106819
How does your launch config look like?

[2020-09-16 07:11] sandy081 commented on #105829
Looking at the scenarios from both users, I suspect this is causing when a setting is written into the file programatically by multiple windows at the same time and causing a race condition. I remember there is an issue that is similar to that. Marking this as duplicate - https://github.com/microsoft/vscode/issues/47763

[2020-09-16 07:12] sandy081 commented on #105829
/duplicate

[2020-09-16 07:12] GaoHengdong commented on #106819
I click [run and debug], and choose node.js.
I didn't have a configuration.
It says No Configurations on the left top.

[2020-09-16 07:13] #105829 closed

[2020-09-16 07:15] catalinc404 opened #106831 "Add history to search window"
Search window window should have some sort of dropdown to select previous searches.

[2020-09-16 07:15] ziofat opened #106832 "There are some render issues after 1.49 updates"
- VSCode Version: 1.49.0
- OS Version: macOS Catalina 10.15.6

Steps to Reproduce:

1. Open a project with VSCode
2.

![1](https://user-images.githubusercontent.com/8521174/93304291-63d0c880-f82f-11ea-97e4-0bf00ad21886.gif)

Does this issue occur when all extensions are disabled?: Yes

[2020-09-16 07:16] sandy081 commented on #106459
Our general suggestion here is to let extension provide such feature for filtering problems so that they do not generate such problems to be performant. So please file the request against corresponding extension.

[2020-09-16 07:16] #106459 closed

[2020-09-16 07:18] sandy081 commented on #106542
@k-khr I cannot repro this. Are there any steps I am missing here?

[2020-09-16 07:26] HasneinTareque commented on #84745
Still experiencing the same crash when clicking VSCode menu on LinuxMint VM. VSCode menus turns black and the whole VM is crashed. Experienced each time tried to use the VSCode menu.

[2020-09-16 07:28] trinhcanhphuc opened #106833 "I need local history like Jetbrains"

[2020-09-16 07:28] #106833 closed

[2020-09-16 07:29] a-bentofreire opened #106834 "vscode extensions crashes on typescript tooltip over jquery methods"
- VSCode Version: 1.49.0
- OS Version: Windows 10/Linux Mint 20
- @types/jquery@3.3.38

Steps to Reproduce:

1. Open a typescript file with jquery methods, such as: `$(document).ready(function () { });`
2. You will notice that the `ready` function is strikethrough.
3. Place the mouse over the method: `ready`.

After this event the keyboard shortcuts stop working and well as many other operations.

[2020-09-16 07:30] testforstephen commented on #105463
Yes, disable all installed extensions, the default extension name becomes `.java`. I'm wondering how the Java extension affect the file save logic?

[2020-09-16 07:32] alexr00 commented on #105667
Re-opening for tracking the API.

[2020-09-16 07:36] chrmarti commented on #106824
This happens when clicking the mode picker in the statusbar because the QuickPick remembers the previous focus element. Not sure why with the mouse the focus goes to the editor, but since the mode picker knows that its target is the current editor, maybe it is the mode picker that should set the focus to the editor.

I'll look into the inconsistency.

[2020-09-16 07:37] jiangtong opened #106835 "下划线能不能不要波浪的 换成简单点的"
Issue Type: <b>Feature Request</b>

页面太多波浪线感觉很乱

VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.6.0

[2020-09-16 07:39] jnooree opened #106837 "Intellisense inside code snippet fields"
When a code snippet is inserted, for instance, in python:
<img width="115" alt="image" src="https://user-images.githubusercontent.com/63093572/93306208-861c1380-f83a-11ea-92d6-14047caf57df.png">
No autocompletion is provided in the field (the shaded part). I think it would be better to show the autocompletion drop-down menu even inside the code snippets (or at least, an option to turn that feature

[2020-09-16 07:41] bpasero commented on #105463
@aeschli can you advise what an extension needs to do to get `.java` as first entry? I assume they need to change the order in `package.json`?

[2020-09-16 07:42] liheeng commented on #106537
I have same problem after upgrade to 1.49.0.

[2020-09-16 07:44] Nausheen95 opened #106838 "terminal issue"
The terminal process "C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe" terminated with exit code: 4294901760.

VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4200U CPU @ 1.60GHz (4 x 2295)|
|GPU Status|2d_can

[2020-09-16 07:45] jrieken commented on #106741
fyi @DonJayamanne

[2020-09-16 07:47] jill123-cc commented on #106547
@rchiodo It works for me when I use the latest version of python extension (2020.8.109390), thank you!

[2020-09-16 07:48] jrieken commented on #106681
No, it cannot do that automatically because then keyboard navigation in the tree would be broken. There is the `togglePeekWidgetFocus`-command (`cmd+k f2`) to toggle focus between the two sides.

[2020-09-16 07:48] #106681 closed

[2020-09-16 07:49] karandocs commented on #43188
One big reason for not using **VSCODE**

[2020-09-16 07:50] jrieken commented on #106718
@authuir Are you the author of that extension? We have scheduled a fix for September and in the meantime the extension could push a change to trim the leading/trailing whitespace

[2020-09-16 07:52] isidorn commented on #106669
I can not reproduce this. What are you doing differently than me?

1. VS Code insiders, open new empty folder
2. Open debug viewlet, click link "To customize Run and Debug create a launch.json file" to create launch.json
3. Debug viewlet is no longer in Welcome mode

I also tried out of source and vscode stable and I can not reproduce.

If you still see this, do you get file events in that VS Code

[2020-09-16 07:53] lllopo commented on #106801
I can confirm to some extent. I'm using a FullHD display with 125% scaling and the white line appears as stated in the original issue. But when I restore the window and maximize it again - it disappears and everything looks normal instead of what happens to the original issue creator.
I also can confirm it appeared first with the initial 1.5.0 build and remains since for the (currently) two consec

[2020-09-16 07:54] #106718 closed

[2020-09-16 07:55] colinschwegmann opened #106839 "Start Jupyter Notebook with specific commands"
Hi there,

I have a specific use case where I would like to be able to run notebooks using the following command (so I have access to my Django):

`ENV_FILE="etc/local.env" python manage.py shell_plus --notebook`

This is somewhat different to the `python.dataScience.jupyterCommandLineArguments` option in settings, as that adds commands to the default Jupyter notebook server set up for that specif

[2020-09-16 08:01] arnonshp opened #106840 "Selection Highlight issue when selected text is followed by '-' in long files"
When using pointers in C/C++ code the text would usually look like this:

ptr->member

In long files (I started seeing it from line **13840**), when highlighting "ptr", matching strings in the file are not highlighted. However, when highlighting "ptr-" only then the matching strings are highlighted. Also, if ptr is mentioned earlier in the code and is not followed by '->', highlighting that string

[2020-09-16 08:02] isidorn commented on #106700
Colors are customisable, please use a different theme, or just pick the colors you like via
workbench.colorCustomisations settings

[2020-09-16 08:02] #106700 closed

[2020-09-16 08:03] isidorn commented on #106774
I believe this is a duplicate though forwarding first to @bpasero

[2020-09-16 08:04] isidorn commented on #106710
Try the `"explorer.sortOrder"` setting. And please ask questions on stackOverflow

[2020-09-16 08:04] #106710 closed

[2020-09-16 08:05] deepak1556 commented on #106557
Thanks for the details, I am able to open the application from that link.

`open -a ~/Downloads/Visual\ Studio\ Code.app/ --args --user-data-dir /tmp/vscode/`

Probably a corrupted state, might want to try restarting the system ?

[2020-09-16 08:07] Ttou commented on #106564
same issue, the first one can't use

![WX20200916-160437](https://user-images.githubusercontent.com/4298437/93309888-a8ac2d80-f836-11ea-98d6-fc3be0ded1a1.png)

[2020-09-16 08:10] #106823 closed

[2020-09-16 08:15] weinand commented on #106669
I was seeing this:
![2020-09-16_09-59-31 (1)](https://user-images.githubusercontent.com/1898161/93310538-353df800-f805-11ea-97b9-7857d519674e.gif)

A launch.json exists but the debug viewlet shows the welcome view (even after a restart).

Disabling all extensions made the problem disappear.
After re-enabling all extensions the problem didn't come back...

Strange...

[2020-09-16 08:15] #106669 closed

[2020-09-16 08:16] isidorn commented on #106696
@Colengms I think this makes sense, however it sounds very specific to your extension, at least for now nobody else asked for this.

Here's a potential solution for this:
1) Your extension contributes a command "Copy All Call Stacks"
2) The implementation of that command would simply call `debug.copyStackTrace` command
3) That command would handle specialy the case when it does not get any argumen

[2020-09-16 08:21] isidorn commented on #106620
That is as designed. You have simply created a "New Folder" that is `models` and inside another folder `Book.ts`
What you want is a "New File". Once you click on that all will be fine

[2020-09-16 08:21] #106620 closed

[2020-09-16 08:22] mjbvz commented on #106834
Which extension is crashing? Can you share a screenshot of the problem?

[2020-09-16 08:22] #106533 closed

[2020-09-16 08:25] bpasero commented on #106774
/duplicate https://github.com/microsoft/vscode/issues/94307

[2020-09-16 08:25] isidorn commented on #105866
@pfongkye friendly ping regarding this, since if you are not looking into it I might take a look next week...

[2020-09-16 08:25] #106774 closed

[2020-09-16 08:27] joaomoreno commented on #106721
The fix here would be to add those properties during the inno updater build: https://github.com/microsoft/inno-updater/

[2020-09-16 08:29] isidorn commented on #106559
THanks for the feedback however all of these are by design. We felt that makes the nicest experience.
We were inspired by chrome dev tools who also support this mechanism of enabling / disabling and deactivation on top.

The only things which we could support from the list is multi select, and for that I can leave this open as a feature request.

[2020-09-16 08:29] a-bentofreire commented on #106834
I'm trying to make a proper diagnose but the extension host keeps crashing all the time even outside typescript files.
I have been using vscode for years without any problems, and the only update we did recently was on vscode, and the problem occurs in different machines.
![Screenshot from 2020-09-16 09-28-16](https://user-images.githubusercontent.com/7064913/93312452-23f1ed00-f7ff-11ea-828b-922f2

[2020-09-16 08:30] #106598 closed

[2020-09-16 08:31] joaomoreno commented on #106650
Are you located in China? Could you perhaps try this on another network? Maybe a VPN?

[2020-09-16 08:31] pfongkye commented on #105866
Hi @isidorn sorry, I didn't have time last week. I've just started looking into the issue. I hope to have something ready for next week if it's ok with you. I'll keep you updated. Thanks.

[2020-09-16 08:31] joaomoreno commented on #104502
Could you show me a recording of the whole process?

[2020-09-16 08:31] isidorn commented on #106703
@CGQAQ please create a repository on GitHub which I can simply clone and reproduce this.
Or just fork https://github.com/microsoft/vscode-mock-debug and make some changes on top such that this is reproducable. Thanks

[2020-09-16 08:32] sandy081 commented on #106571
please share the logs from the following locations
    - Help -> Toggle Developer Tools -> Console
    - View -> Command Pallette... -> Toggle Shared Process -> Console
    - View -> Open View… -> Log (Shared)
    - View -> Open View… -> Log (Window)

[2020-09-16 08:32] isidorn commented on #105866
@pfongkye great thanks. Since you are already on this I will remove the `help wanted` label

[2020-09-16 08:32] devkabiir opened #106841 "Extension info UI glitches"
Issue Type: <b>Bug</b>

Quickly switching between extension details causes UI glitches. This is happened before only when network is down or slow.
In this particular scenario an extension `stylelint.vscode-stylelint` was being installed.
See screenshots for details. In the second screenshot, it looks as if two different views are overlapped on each other

![2020-09-16_13-59-24](https://user-images

[2020-09-16 08:32] RopeHuo commented on #106650
Yes, I am in China. I have tried VPN and mobile network, but neither of them can be used

[2020-09-16 08:33] sandy081 commented on #106588
/duplicate

#100940

[2020-09-16 08:33] #106588 closed

[2020-09-16 08:34] sandy081 commented on #106595
Cache is cleared on VS Code restart.

[2020-09-16 08:34] #106595 closed

[2020-09-16 08:35] isidorn commented on #106505
@jvesouza thanks for filling this.
I can reproduce this. However I can only reproduce with Orca, not with VoiceOver or NVDA.
@joanmarie the issue here might be that we change focus to the "breakpoint editor" with a timeout and for some weird reason that might confuse orca. Other than that there is nothing special here, the "breakpoint editor" is the same editor as the regular one for which Orca wo

[2020-09-16 08:36] sandy081 commented on #105047
You are right. Please let me know how can I help here.

[2020-09-16 08:37] isidorn commented on #43326
I agree that making the debug hover resizable would be great, for that assigning this to September just to investigate what is needed to be done here.

[2020-09-16 08:39] k-khr commented on #106542
@sandy081 Can you make the sidebar as narrow as possible?

As the height of the highlighted element in devtools is too small, I cannot find which file to solve conflict.

![a](https://user-images.githubusercontent.com/22492054/93312830-a4860d00-f842-11ea-83a9-e0a26e68260f.png)

[2020-09-16 08:39] sandy081 commented on #105310
Thanks for confirming @codewithtomi.

@Kriechi Let me know if you still have the issue after updating?

@Shatur95 Settings Sync is not available on open source build.

[2020-09-16 08:42] isidorn commented on #106719
Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2020-09-16 08:43] #106662 closed

[2020-09-16 08:44] weinand commented on #106819
And you have a node.js program in the editor and you have set a breakpoint in that program?

E.g. something like this:

![2020-09-16_10-43-32 (1)](https://user-images.githubusercontent.com/1898161/93314084-9bc51500-f809-11ea-892c-f2fe0c63ae95.gif)

[2020-09-16 08:49] isidorn commented on #106603
@mltony thanks for filling this. I think this request makes sense for your use case, however for exposing this via API @alexdima would be better to comment. Idealy the `Selection` could have some flag such that the extension could control if it should be stored in history. Though not sure if there are other requests for this.

As for a few lines of text at a time. I suggest that you tune the follo

[2020-09-16 08:50] jrieken commented on #106837
When a snippet is active, IntelliSense as you type (aka quick suggestions) is disabled. That is because there is a conflict between the <kbd>Tab</kbd>-key which moves to the next placeholder but also accepts a completion. You wouldn't be able to type in a placeholder and then move to the next placeholder as you would accept a suggestion then. You have the following options

* change the default vi

[2020-09-16 08:50] #106837 closed

[2020-09-16 08:51] GaoHengdong commented on #106819
Yeah, I have. Like this.
![1](https://user-images.githubusercontent.com/30036217/93314741-c7152780-f83c-11ea-9079-a25276d930d5.gif)

[2020-09-16 08:53] jnooree commented on #106837
Thank you for such a fast feedback. I didn't knew that there was already a setting related to this!

[2020-09-16 08:54] joaomoreno commented on #106650
Can you reproduce on other machines?

[2020-09-16 08:55] iqiziqi commented on #106457
I found out the reason for the problem.  This problem is due to Microsoft Pinyin input method and VS Code shortcut keys conflict.

[2020-09-16 08:55] sandy081 commented on #106749
Can you please elaborate what you mean by this? Are you seeing `Sign in to Sync Settings` action?

[2020-09-16 08:56] #106457 closed

[2020-09-16 08:58] deepak1556 commented on #106742
Possible duplicate issue, can you follow the steps at https://github.com/microsoft/vscode/issues/106258#issuecomment-689126228 and provide the required details. Thanks!

[2020-09-16 08:58] naivedeveloper95 opened #106842 "TS Server fatal error: Cannot read property 'text' of undefined"

[2020-09-16 08:58] #106842 closed

[2020-09-16 09:00] govindakatkamwar opened #106843 "Proxy dialog is getting closed before I could enter credentials"
Issue Type: <b>Bug</b>

The proxy dialog is getting closed before I could enter credentials

VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) Gold 6142 CPU @ 2.60GHz (4 x 2594)|
|GPU Status|2d_canvas: unavailable_software<br

[2020-09-16 09:02] windmakeppcool opened #106844 "Use remote ssh and modife the file in terminal, then the file was deleted when i quit"
- VSCode Version: August 2020 (version 1.49)
- OS Version: Window 10 educiton

Steps to Reproduce:
1. I use vscode remote ssh to connect to a remote docker and open a folder on win10，then i use vim to modife a file in the terminal and use "wq" to quit file. Then the file is deleted!

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2020-09-16 09:04] authuir commented on #106718
Yeah, this is what we did

[2020-09-16 09:06] RopeHuo commented on #106650
My computer is a dual system. It works fine on Windows, but not on Mac OS

[2020-09-16 09:06] authuir commented on #106718
Yeah, I'm the author. Glad to hear that there will be an fix release!

[2020-09-16 09:07] aeschli commented on #106704
I agree that the high contrast theme is not for everyone. The Mac seems to support different levels of accessibility, and maybe it's not good that we use 'Increase contrast' alone is used to determine that we are in a high contrast mode.
There's also a setting 'invert colors'. @bpasero Can we make also depend on that setting?

[2020-09-16 09:08] aeschli commented on #106685
The one for Java we get from https://github.com/atom/language-java

[2020-09-16 09:12] M4shy commented on #105402
I can't reproduce it. Maybe my old habit to delete the cutted empty line with a key.
Remembered me that VI editor allowed this by pressing twice the 'D' key.

[2020-09-16 09:12] #105402 closed

[2020-09-16 09:12] M4shy commented on #105402
I can't reproduce it. Maybe my old habit to delete the cutted empty line with a key.
Remembered me that VI editor allowed this by pressing twice the 'D' key.

[2020-09-16 09:13] tjx666 opened #106845 "explore sidebar title should left align with file icon"
When there is only `Folders` section in explore sidebar, title should left align with file icon.

![93023082-1978fd00-f61f-11ea-9e29-46fc6a0d0b96 (1)](https://user-images.githubusercontent.com/41773861/93317120-a7cbc980-f83f-11ea-9df0-2c7ad89eb79e.png)

[2020-09-16 09:15] aeschli commented on #106750
We want to control the ways that VSCode can be customized. For that we offer by well defined APIs such as color and icons themes. That way we keep the freedom to refactor and can change internals and the UI without breaking any extension.
So allowing custom css is not planed.

Duplicate of https://github.com/microsoft/vscode/issues/1833

[2020-09-16 09:15] #106750 closed

[2020-09-16 09:15] testforstephen commented on #105463
Java extension added the following section to package.json.
[code]

If i added ".java" before ".class" in "extensions" field, the Untitled file will be saved to `.java` by default. But for Windows, the file extension candidates will contain a duplicated .java in file dialog. Is there any way to fix this?

Before:
![image](https://user-images.githubusercontent.com/14052197/93317133-abf7e700-f83f-11

[2020-09-16 09:15] M4shy commented on #105402
I can't reproduce it. Most probably my old habit to delete the remaining empty line after a cut.
Remembered me that VI editor allowed this by pressing twice the 'D' key (instead of ctrl+x).

[2020-09-16 09:17] isidorn commented on #106414
Thanks for the great repro steps, I cloned this repository and I can reproduce the problem.
The issue here is that the First session `Main` has a child session `main.js` and they get nicely compressed into one session node. However that child session has another child `fork.js` and they do not get compressed because the `main.js` reports it has a thread with an empty call stack.

So when @thegecko

[2020-09-16 09:18] Nina0408 commented on #106324
Thank you @weinand

[2020-09-16 09:19] aeschli commented on #106748
We currently have no plans to change the selection colors in the default themes. The current colors have been fine-tuned, and while not everyone might agree on the choice, changing it would cause other users to complain.

Luckily we allow users to tune the colors in the settings (as you have shown) or use one of many other themes available in the Marketplace.

[2020-09-16 09:19] #106748 closed

[2020-09-16 09:19] aeschli commented on #106753
Please add more details...

[2020-09-16 09:21] weinand commented on #106819
Does restarting your ASUS computer helps?

[2020-09-16 09:22] dbaeumer commented on #106371
I need to investigate this and it might not be easy to fix right now. The problem is that the language packs are installed on both sides to ensure both side have access to the translation. In your case it doesn't make sense to install the extension on the client side as well. This is why the translations are missing on the renderer side.

[2020-09-16 09:22] alexdima commented on #106603
I don't think this could be tackled by changing the `vscode.Selection` object, but perhaps by setting the selection in some different way (perhaps with a new method on the `TextEditor`).

[2020-09-16 09:22] bpasero commented on #106704
@aeschli can you clarify? We currently use this code in `electron-main`:

https://github.com/microsoft/vscode/blob/b9947f2a37923eb93ca56824e84003304ee6ac7d/src/vs/code/electron-main/window.ts#L789-L789

[2020-09-16 09:24] Shatur95 commented on #105310
@sandy081, will Settings sync be available for OSS builds in the future?

[2020-09-16 09:24] alexr00 commented on #103120
@warrenbuckley there is now proposed API for coloring `ThemeIcon`(only works in the tree view for now). If you can try it out and let us know what you think in this issue that would help us move forward with the API proposal.

[2020-09-16 09:27] aeschli commented on #106709
Did you have a look at the tutorials at https://code.visualstudio.com/docs/languages/cpp ?
Also you can reach out for help on stackoverflow, e.g. https://stackoverflow.com/questions/30269449/how-do-i-set-up-visual-studio-code-to-compile-c-code

Issues related to the C++ extension have to go to https://github.com/microsoft/vscode-cpptools/issues. Note that in order to help we need detailed steps so

[2020-09-16 09:27] #106709 closed

[2020-09-16 09:30] aeschli commented on #105039
The August release has just been released (1.49). If you still see a problem, please file a new issue with a small code sample and a description of what you see and what you expect.

[2020-09-16 09:31] TobiasSekan commented on #106477
Hello,

https://marketplace.visualstudio.com/items?itemName=rssowl.copy-relative-path-posix
have solve the problem for the relative path, thanks

IMHO I think this should be a option or an action direct in vscode like:
* Copy Path (sub-menu)
  * Copy Path
  * Copy Relative Path
  * (Seperator)
  * Copy Path (Posix)
  * Copy Relative Path (Posix)

[2020-09-16 09:32] deepak1556 commented on #85592
Thanks for testing @mlewand

Also thanks @danielgjackson for the added details, the core of the change is in https://github.com/electron/electron/pull/25052. Basically, when `WM_WINDOWPOSCHANGING` occurs chromium calculates the client area insets using `ElectronDesktopWindowTreeHostWin::GetClientAreaInsets` which is based on the monitor in which the window is present, calculated using

[code]

htt

[2020-09-16 09:33] aeschli commented on #106706
Can you file it against the C++ extension? https://github.com/microsoft/vscode-cpptools/issues

[2020-09-16 09:33] #106706 closed

[2020-09-16 09:34] aeschli commented on #106830
You need to file this against the vetur extension:https://github.com/vuejs/vetur

[2020-09-16 09:34] #106830 closed

[2020-09-16 09:35] Ghostbird commented on #71850
Additionally, I have tested that this is independent of `nodemon` and `integratedTerminal` even without `nodemon` and with `externalTerminal` the behaviour is the same.

[2020-09-16 09:36] #100591 closed

[2020-09-16 09:36] isidorn commented on #106593
Yeah `../` syntax is not supported when creating new files. We could add this, thus assigning this as a feature request and assignign to backlog.

[2020-09-16 09:37] isidorn commented on #106584
Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/
I can not reproduce.

[2020-09-16 09:41] alexdima commented on #106804
Please configure `"editor.multiCursorModifier": "ctrlCmd"`.

Then, `alt` becomes free and you can use `alt` + mouse down and mouse drag to create column selections.

You can always also use the middle mouse button to create column selections.

[2020-09-16 09:41] #106804 closed

[2020-09-16 09:41] ColaDrill opened #106846 "How can I use white backgroung with .ipynb file，and black with other file?"
Issue Type: <b>Bug</b>

How can I use white background with .ipynb file，and black with other file?

VS Code version: Code 1.48.2 (a0479759d6e9ea56afa657e454193f72aef85bd0, 2020-08-25T10:09:08.021Z)
OS version: Darwin x64 19.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: en

[2020-09-16 09:43] isidorn commented on #106632
Thanks for filling this, however this works just fine for me.
Some questions
1. When you type the focus is in the variables view?
2. Do you maybe have a screen reader attached, can you reproduce if you set 	`"editor.accessibilitySupport": "off"` in your settings
3. Can you reproduce with vscode insiders https://code.visualstudio.com/insiders/

[2020-09-16 09:44] CGQAQ commented on #106703
@isidorn  https://github.com/CGQAQ/pwa-node-issue

[2020-09-16 09:45] isidorn commented on #106604
Duplicate of https://github.com/microsoft/vscode/issues/104673
It is caused by the update to a new Electron version. We will try to backport a fix for this.
Thanks for reporting

[2020-09-16 09:45] #106604 closed

[2020-09-16 09:45] MyLastAngel commented on #106755
"Ident Line" default key binding = Ctrl + ] (@aeschli - Is this ok?)
I change to Tab and all is ok...

[2020-09-16 09:45] #106755 closed

[2020-09-16 09:48] isidorn commented on #104673
@deepak1556 this seems to be a bigger issue than I originally thought, since more users are hitting this. Do we have some timeline on Electron 10 update? If it is far out do we have more details if it is just ok to cherry pick that larger fix? Thanks a lot.

[2020-09-16 09:48] Harukero commented on #106663
As far as I understand it seems that when inputting text in Japanese in VSCode there are some display issues.
This happens right before changing the inputted text into kanjis (or not) when the text is underlined.
The issue is that the text will be displayed out of alignment.
Using a monospaced font seems to fix the issue.
@raygo0312 uses IME on Windows 10.

[2020-09-16 09:53] weinand commented on #106827
I cannot reproduce this:

![2020-09-16_11-46-33 (1)](https://user-images.githubusercontent.com/1898161/93321779-ded7b600-f812-11ea-8f04-0929fe4399fa.gif)

Are you running a remote setup "Windows/WSL2"?

[2020-09-16 09:53] isidorn commented on #106590
@jvesouza thanks a lot for providing great feedback.
Yeah "Run To Cursor" is already present in the editor context menu while you are debugging. That is the main way how users discover this. Debug has a lot of commands, and if we were to put more in the Run menu soon it might get overcrowded.
Also the editor context menu is somehow "closer" to the cursor than the top main menu.

So your suggestion

[2020-09-16 09:56] mattgillard commented on #106827
Yes I am. But I tried it both in WSL2 and locally on Windows.  Let me try on a different machine (my mac) and get back to you. I literally spent hours on this today....
The only difference for me is that I am using Python.

[2020-09-16 09:57] GaoHengdong commented on #106819
I find the reason.
VS code and proxifier are not compatible.
It worked when I closed proxifier.
It's strange. Why that happened?

[2020-09-16 09:58] sw opened #106847 "Incorrect file linking in output channel"
Issue Type: <b>Bug</b>

The file links in the output channel seem to get confused ~~by a Windows short 8.3 path/filename~~. See attached screenshot ![image](https://user-images.githubusercontent.com/4478/93322560-bb613b00-f813-11ea-968b-7a80fce16d05.png)

After ctrl+clicking on link:
![image](https://user-images.githubusercontent.com/4478/93322725-ecda0680-f813-11ea-9829-e672e37d63b4.png)

The fil

[2020-09-16 10:04] weinand commented on #106827
If there is an issue, then it is because this is a remote setup with WSL2.

[2020-09-16 10:04] a1245582339 commented on #106830
I have open the vetur extension and it's working.
When I launch the vscode, fold button can visiable one moment, but 1 second later, it would be disapper.
![image](https://user-images.githubusercontent.com/30924179/93323292-ffb9fe80-f846-11ea-88ec-d1e656ccba77.png)
![image](https://user-images.githubusercontent.com/30924179/93323340-0ea0b100-f847-11ea-8987-0538efe92f9c.png)

[2020-09-16 10:04] alexdima commented on #106524
This is a problem limited for now to the terminal actions and it has to do with the way the default keybindings are constructed in code by using `AND` between the `precondition` and the `when` context. So [the registration of `workbench.action.terminal.focusFind`](https://github.com/microsoft/vscode/blob/bedc2bf60259723b0b6fa324c516dbde14c42755/src/vs/workbench/contrib/terminal/browser/terminalAct

[2020-09-16 10:07] Philip-Getacademy commented on #106749
I read that I problems regarding login should be less frequent if sync settings is turned on, however, that doesnt help me at all. No setting or action reduces bugs regarding colaboration or action towards contacts.
I have signed in, multiple times a day now, and are for the time being only using visual studio code because of live server. I would happily delete this application if such functionali

[2020-09-16 10:08] weinand commented on #106819
@connor4312 could the use of "proxifier" explain this problem?

[2020-09-16 10:10] isidorn commented on #106541
Thanks for filling this, but I can not really reproduce this.
My steps:
1. I open VS Code with Explorer view open
2. After some time (2 seconds) the `Run` and `Run without debugger` buttons appear in the touch bar

So I do not have to open the debug view.

What we changed this milestone is that these touch bar entries are disabled for the first 2 seconds while the debugger extensions are still not

[2020-09-16 10:11] #106524 closed

[2020-09-16 10:14] alexdima commented on #106762
@EdsonRCJ Please follow the steps in the Basic Troubleshooting section here -- https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting

The output will indicate which keybinding rule matches when pressing the keybinding.

[2020-09-16 10:17] #106740 closed

[2020-09-16 10:19] stevage commented on #106704
Yeah, to expand on that: when this checkbox is enabled, MacOS itself only slightly bumps up the contrast. It highlights buttons and window edges a little bit more, but the overall effect is fairly subtle. If someone randomly switched this on on your computer, you probably wouldn't even notice.

VSCode interpreting that mode to enable SUPER HIGH CONTRAST MODE seems like a misinterpretation of what

[2020-09-16 10:23] isidorn commented on #106582
We will not expose that in our API, though leaving this open as a feature request.

[2020-09-16 10:24] isidorn commented on #106687
Reproducable steps would be great here. Since with this there is nothing we can do. Though that looks like our temrinal thus forwarding to @Tyriar

[2020-09-16 10:25] isidorn commented on #106608
Dup of https://github.com/microsoft/vscode/issues/6328

[2020-09-16 10:25] #106608 closed

[2020-09-16 10:26] #106180 closed

[2020-09-16 10:26] isidorn commented on #106180
We will not add this to the core. Closing this as an extension candidate, since an extension could use the vscode api to get all breakpoints check which are disabled and then use the `removeBreakpoints` api to only remove the disabled ones

[2020-09-16 10:27] mattgillard commented on #106827
Ok - I can confirm node works fine (local Windows I tested).
It appears its a Python only issue (presents itself in both WSL2 and local Windows environments).
Thanks for checking!

[2020-09-16 10:27] AryanBeezadhur commented on #106835
***Translated from Chinese to English, this reads:***

# Can the underline not be wavy but be replaced with a simple one?

Issue Type: **Feature Request**

Too many wavy lines on the page feel messy

VS Code version: Code 1.49.0 (e790b93, 2020-09-10T17:39:53.251Z)
OS version: Darwin x64 19.6.0

## My interpretation

I think that this user is referring to VS Code underlining code with wavy lines. T

[2020-09-16 10:29] SPAstef commented on #106687
Steps to reproduce:
- Open a C/C++ file which fails to compile due to some error
- Compile it through the integrated terminal
- CTRL+Click on the filename/line numbers that cause the error (like in the screenshot)
- A new window gets opened, instead of a new tab (or current tab) jumping at the right position in the file, like it used to do like a few days ago

[2020-09-16 10:31] Ghostbird commented on #71850
I just found that this is caused by the presence of any `preLaunchTask`. If I remove those it works flawlessly. If I add one (regardless of what it does), it becomes highly likely that it only starts one task.

I also tried the recommendation above with different sleep times. This does not affect the behaviour in any way.

[2020-09-16 10:33] rickstaa commented on #106632
@isidorn thanks a lot for looking into my problem. After your last comment I did some debugging and the feature is broken because I enabled the [VSCodeVim extension](https://github.com/VSCodeVim/Vim). It is related to the following [issue](https://github.com/VSCodeVim/Vim/issues/3997). Sorry for your troubles.

[2020-09-16 10:33] #106632 closed

[2020-09-16 10:40] a-bentofreire commented on #106834
The host extension crash also occurs in other situations such as opening a file with it's git differences side-by-side.

[2020-09-16 10:40] hermolaou opened #106848 "Programming help/documentation viewing from VSCode without switching to browser"
Hi,
Here's a feature request. It would be nice if VBCode had a built-in mini-browser that could be used to view programming language help, documentation, to make queries to StackOverflow, MDN etc. and some search engine. Typically, when using VSCode, there's a need to have a browser open to look up all that stuff and so, to switch between VSCode and the browser all the time.

Thanks.

[2020-09-16 10:45] alexdima commented on #106739
@colinsusie From the information you have attached, I cannot see any of the processes consuming a lot of CPU. Can you please try the steps explained in https://github.com/microsoft/vscode/wiki/Performance-Issues#profiling-the-renderer-process to collect a CPU profile of the renderer process and attach it here?

[2020-09-16 10:45] weinand commented on #106827
/extPython

[2020-09-16 10:46] #106827 closed

[2020-09-16 10:46] alexdima commented on #106675
@varxzy That looks like something specific to the font you have configured. Perhaps it comes with ligatures? Can you please try changing the font or disabling `editor.fontLigatures` ?

[2020-09-16 10:48] alexdima commented on #106725
Starting with version 1.49, we have updated from Electron 7 to Electron 9, which brings a new Chromium version. Does this issue reproduce when typing in a text area in Chromium (like this comment input box here on github.com) ?

[2020-09-16 10:53] alexdima commented on #106734
Duplicate of #8226

[2020-09-16 10:53] #106734 closed

[2020-09-16 10:57] isidorn commented on #106632
Thanks

[2020-09-16 10:57] tjx666 commented on #8226
I often delete some code and want to restore it, so this feature is very useful for me.

[2020-09-16 10:59] Twiggeh opened #106849 "Turning off autoattach doesn't turn of autoattaching"
- VSCode Version: Version: 1.48.2
Commit: a0479759d6e9ea56afa657e454193f72aef85bd0
Date: 2020-08-25T10:56:10.074Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
- OS Version: Linux x64 5.4.57-1-MANJARO

Steps to Reproduce:

1. Click "Auto Attach" to off
2. Doesn't do anything
![why](https://user-images.githubusercontent.com/23149166/93328754-6d046a00-f81c-11ea-8b3f

[2020-09-16 11:01] isidorn commented on #106703
I followed your steps, however i get a different error

[code]

[2020-09-16 11:03] CGQAQ commented on #106703
do you run `npm run watch` before run extension?

[2020-09-16 11:05] mattgillard commented on #106827
For those who find this in the future - there is a [bug](https://github.com/microsoft/vscode-python/issues/11915) already logged with the vscode-python extension on this which I had not seen until now.

[2020-09-16 11:06] Twiggeh opened #106850 "Configured debug type "pwa-node" is not supported, despite no pwa-node debug types"
- VSCode Version: Version: 1.48.2
Commit: a0479759d6e9ea56afa657e454193f72aef85bd0
Date: 2020-08-25T10:56:10.074Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
- OS Version: Linux x64 5.4.57-1-MANJARO

Steps to Reproduce:

1. Pressing f5

![image](https://user-images.githubusercontent.com/23149166/93329308-498def00-f81d-11ea-8ba2-a0d2edab67db.png)

Does this issue

[2020-09-16 11:11] sw commented on #106847
Smaller example:

The following CMake code results in a wrong link:
[code]
![image](https://user-images.githubusercontent.com/4478/93329840-1b5cdf00-f81e-11ea-8367-feacd7649e0f.png)

[2020-09-16 11:16] CGQAQ commented on #106703
@isidorn Fixed now, sorry

[2020-09-16 11:22] epeios-q37 commented on #106725
Yes, indeed, *Chromium*/*Chrome* have the same issue. Can't say since which version, as I use both browsers very rarely.

[2020-09-16 11:23] #106338 closed

[2020-09-16 11:23] #106315 closed

[2020-09-16 11:23] Shruthi2125 opened #106851 "Microsoft Visual Studio Code Errors"
Microsoft Vs Code shows Javascript Error.
Every week I am uninstalling and reinstalling but issue has become repetitive.
This error is occuring with all  versions of Vs Code

Error: Cannot find module 'C:\Program Files (x86)\Microsoft VS Code\resources\app\out\main'
    at Module._resolveFilename (module.js:470:15)
    at Function.Module._resolveFilename (C:\Program Files (x86)\Microsoft VS Code\r

[2020-09-16 11:23] #106298 closed

[2020-09-16 11:23] #106258 closed

[2020-09-16 11:23] #106252 closed

[2020-09-16 11:23] #106240 closed

[2020-09-16 11:23] #106208 closed

[2020-09-16 11:23] #106192 closed

[2020-09-16 11:23] #106144 closed

[2020-09-16 11:24] pierretallotte opened #106852 "Delete the settings of an extension when uninstall"
The settings of the extensions of a user are located in `~/.config/Code/User/settings.json`.
However, when an extension is uninstalled, this file continues to contain informations about the old extension.
Therefore, if the extension is installed again, the old settings are taken into account.

To avoid this issue, I think it can be interesting to delete the settings of an extension when it is unin

[2020-09-16 11:35] RUSshy opened #106854 "Collapse/Expand/Fold what ever it's called, add a button at the end of the block!!!!!!!"
In large function or blocks of code, i can't collapse if i am at the end of it, i have to scroll back the way up, or learn one of the millions shortcuts

Please add a button at the end

IntelliJ ideas got it, same for Eclipse, same for XCode same for Visual Studio

![Code_wFeEoo6eLG](https://user-images.githubusercontent.com/18348637/93331945-56144680-f821-11ea-857d-407f72a9b4c2.png)

[2020-09-16 11:37] aodelta commented on #106796
I installed for the first time (a clean installation so) VS Code Insiders, opened my folders, opened the index.ts file and everything was ok.
Then I installed and enabled the Deno extension, restarted VS Code Insiders and reproduced the steps above. And it happened again.
Then I disabled the Deno extension, restarted Vs Code Insiders, reproduced the steps above, and the was no error remaining

Her

[2020-09-16 11:41] oliversalzburg opened #106855 "Show whitespace in whitespace diff"
Issue Type: <b>Feature Request</b>

Here's my use case: There are changes indicated in the VCS panel. I open a diff to inspect the changes. The diff view indicates zero changes:

![image](https://user-images.githubusercontent.com/1658949/93332045-82c85e00-f821-11ea-9395-55d756b6b58a.png)

I remember that whitespace diff is disabled and enable it.

![image](https://user-images.githubusercontent.com

[2020-09-16 11:47] isidorn commented on #106703
Following your steps, this just works for me. Debugging starts. No breakpoint gets hit. Here's a gif.
I am on macOS with latest VS Code insiders.

![recording (1)](https://user-images.githubusercontent.com/1926584/93333083-16e6f500-f823-11ea-8edc-33adbb9c8993.gif)

[2020-09-16 11:50] EdsonRCJ commented on #106762
It matches the editor.action.addCommentLine
This matches in every case ( commented or not )
`    {
        "key": "ctrl+numpad_divide",
        "command": "editor.action.addCommentLine",
        "when": "editorTextFocus && !editorReadonly"
    },`

This one never matches
`    {
        "key": "ctrl+numpad_divide",
        "command": "editor.action.removeCommentLine",
        "when": "editorTextFoc

[2020-09-16 11:50] ntotten commented on #106717
Love it! This would be something we would love to use in the Salesforce extensions as well. Having an API to allow extensions to add to this would be really useful.

[2020-09-16 11:52] CGQAQ commented on #106703
![Peek 2020-09-16 19-50](https://user-images.githubusercontent.com/15936231/93333568-13b92c80-f856-11ea-8f8b-122736be7647.gif)
I'm on 1.49.0 stable verison of vscode

[2020-09-16 11:52] IllusionMH commented on #106851
/needsMoreInfo

What is VS Code version, OS etc. as required by issue template?

Do you have an anti-virus installed? Could you check if there are some files removed/quarantined by AV?

[2020-09-16 11:54] CGQAQ commented on #106703
@isidorn  Please test it on stable version of vscode, I don't think most of the extension users will use insider version of vscode

[2020-09-16 11:54] Krrishdhaneja opened #106857 "Problem in settings sync"
- VSCode Version:1.49.0
- OS Version:windows 10 pro

Steps to Reproduce:

1.I enabled settings sync
2.but it was not working and didn't sync my extensions

[2020-09-16 12:01] Shruthi2125 commented on #106851
My working on office laptop:
Windows version 10
Vs code version 1.49.0
Symantec Endpoint Protection Anti Virus is used

[2020-09-16 12:02] aeschli opened #106858 "Duplicated file extension in save dialog"
From https://github.com/microsoft/vscode/issues/105463#issuecomment-693281364

Java extension added the following section to package.json.
[code]

![image](https://user-images.githubusercontent.com/14052197/93317250-d2b61d80-f83f-11ea-836c-0d9199bb106f.png)

[2020-09-16 12:11] alexdima commented on #106699
Very interestingly, I don't see slowness in tokenizing the line, but there is significant slowness caused by hit testing to discover the mouse position:

![image](https://user-images.githubusercontent.com/5047891/93335279-77c3fc80-f826-11ea-804e-651e05c4f7e4.png)

[2020-09-16 12:11] bpasero commented on #106727
@wivory our insider build is out: https://code.visualstudio.com/insiders/

[2020-09-16 12:11] #106858 closed

[2020-09-16 12:12] aodelta commented on #106796
I just noticed that there are extensions built-in, and the "TypeScript and JavaScript Language Features" is part of these extensions.
I disabled it and, of course, it worked.

I think the problem is related to the Deno extensions, but because it is very new to everyone and there are only 33k of downloads, I did not see a lot of posts about it :/

[2020-09-16 12:12] aeschli commented on #105463
@testforstephen I pushed a fix for the duplicated file extensions (https://github.com/microsoft/vscode/commit/02cf31cda7af3d38200d61ddcc05bbde1dc1d37f)

[2020-09-16 12:12] alexdima commented on #106699
I cannot reproduce if I execute with `--disable-features=LayoutNG`.

fyi @deepak1556

[2020-09-16 12:15] aeschli commented on #106830
Likely what you see is the indent based folding coming in first, nut then vetur comes in with folding ranges, but not css rule.
-> You need to file this against the vetur extension:https://github.com/vuejs/vetur

[2020-09-16 12:18] TobiasSekan opened #106859 "[Search] Allow to use "\t" as a replacement for a tabs or similar"
Currently there is no easy way to find tabs in your program code. Find a amount of spaces is much easier.

![2020-09-16 14_17_43-●](https://user-images.githubusercontent.com/17874713/93335969-721ae680-f827-11ea-9be6-53acaae1f9e2.png)

Current workaround
1. Write one ore more tabs (or mix of text and tabs)
2. Mark it
3. Copy it to the clipboard
4. Click `ctrl+f` or paste into the search widget and

[2020-09-16 12:19] IllusionMH commented on #106831
In VS Code you can use <kbd>ArrowUp</kbd>/<kbd>ArrowUp</kbd> (or <kbd>Alt</kbd>+<kbd>ArrowUp</kbd>/<kbd>ArrowUp</kbd> works for multiline fields) to access history in some fields (search panel, search widget etc.)

[2020-09-16 12:20] sarbikbetal commented on #106540
After searching and tweaking here and there, I got a temporary fix by uncommenting this line on argv.json
[code]
Though I don't understand if this is the right thing to do or what kind of performance impacts it might have.

[2020-09-16 12:25] IllusionMH commented on #106859
/question
You can use `\t` with RegExp search (third button in input with `.*` icon)

[2020-09-16 12:26] aodelta commented on #106796
It seems like the bug come from the latest version of Deno extension (2.2.3), I'll report this issue on their Github, sorry for the inconvenience.

[2020-09-16 12:26] #106796 closed

[2020-09-16 12:28] #106859 closed

[2020-09-16 12:28] aeschli commented on #106846
White background where? The editor background?

[2020-09-16 12:30] ColaDrill commented on #106846
yes

[2020-09-16 12:30] jvesouza commented on #106590
When I'm debugging and activating the run menu, some options like 'step over', 'step into' and etc are displayed in that menu. I don't know if these options are always present in the menu but they are only read by orca when they are enabled or if they only appear when the debugger is active. I figured that the 'run to cursor' option only appears when the debugger is active.
I understand the argume

[2020-09-16 12:30] raulshma commented on #24815
@nihaals I don't know of a proper way but this will work. Open the workspace change a file and then sort by modified in the workspaceStorage folder.

[2020-09-16 12:34] isidorn commented on #106590
Yeah they are always present, but Orca seems to be smart and only read them when they are enabled. We do not hide them to not break user's visual muscle memory.
So for now will not add the Run to Cursor action, but am open for changing it in the future.

[2020-09-16 12:35] isidorn commented on #106850
Please try with latest vsode stable. 1.48.2 is an old version.

[2020-09-16 12:36] isidorn commented on #106847
I think output is just using Editor link detection. However first forwarding to @sandy081

[2020-09-16 12:45] viaativaweb opened #106860 "Word separation doesn't select the $ in PHP's variables"
The default setting should be:
[code]

[2020-09-16 12:45] philipmat commented on #106541
Happens with Insiders too:

When the focus is on Explorer:
![image](https://user-images.githubusercontent.com/709928/93338809-68c25780-f7f0-11ea-9a16-82f972c20218.jpeg)

When the focus is in the text editor:
![image](https://user-images.githubusercontent.com/709928/93338932-95766f00-f7f0-11ea-97e0-560ad28ca3f2.jpeg)

[2020-09-16 12:46] a-bentofreire commented on #106834
I found out the problem, it's a conflict of [live-sass](https://marketplace.visualstudio.com/items?itemName=ritwickdey.live-sass) 3.0.0 and the latest version of vscode.
Unfortunately, this is a fundamental extension and I can't work with it disabled.
I will report the bug on the extension issue page and close this issue.

[2020-09-16 12:46] #106834 closed

[2020-09-16 12:48] jwortmann commented on #106685
You can already distinguish between function declarations and invocations in Java. Declarations use `meta.method.identifier.java entity.name.function`, while invocations use `meta.method-call.java entity.name.function` and `meta.function-call.java entity.name.function`.

[2020-09-16 12:50] alexdima commented on #106699
Here is a repro page -- clicking and selecting the text in Firefox & Safari is fast, while it is slow in Chromium  -- https://jsfiddle.net/eahj49d8/

[2020-09-16 12:52] Tyriar commented on #106687
What does it show when you hover the file? Also what folder does it open?

[2020-09-16 12:53] fls-indinf opened #106861 "Exclude extensions in .code-workspace definition"
I'd like to disable a certain set of extension for a workspace and roll this out via the .code-workspace file. Or at least recommend disabling them, like it's already possible to disable an extension via the extension menu.

[2020-09-16 12:53] bpasero commented on #103454
@joaomoreno I missed it, what should I do if my class contains a space?

[2020-09-16 12:56] Tyriar commented on #106844
Can you take a gif of this happening? https://gifcap.dev/

Reading the report it seems like vim if anything is the thing responsible, if VS Code didn't touch the file.

[2020-09-16 12:56] aeschli commented on #106817
You can find the license of the Visual Studio Code **product** here:
https://code.visualstudio.com/license

Visual Studio Code is based on OS source code available at https://github.com/Microsoft/vscode under the MIT license agreement at https://github.com/Microsoft/vscode/blob/master/LICENSE.txt.

Additional license information can be found in our FAQ at https://code.visualstudio.com/docs/support

[2020-09-16 12:56] #106817 closed

[2020-09-16 12:58] isidorn commented on #106541
But if you click on the `>` next to the `I` character the play button should appear. Right?
So this has nothing to do with timing. The issue is that macOS with latest Electron seems to decide to show word suggestions in the touch bar when editor is focused.
Is there maybe an open Electron issue for this? @deepak1556
fyi @bpasero

[2020-09-16 13:02] #106828 closed

[2020-09-16 13:06] Tyriar commented on #106838
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

You may be able to fix it by whiteli

[2020-09-16 13:06] #106838 closed

[2020-09-16 13:06] leonkong commented on #106720
![image](https://user-images.githubusercontent.com/26429579/93339949-c8574c00-f85e-11ea-8a04-10f6baea3aa6.png)
![image](https://user-images.githubusercontent.com/26429579/93340607-9b576900-f85f-11ea-96de-f64905db499e.png)

[2020-09-16 13:07] aeschli commented on #106848
I haven't tried it out, but https://marketplace.visualstudio.com/items?itemName=masonicboom.web-browser seems to offer that.

[2020-09-16 13:07] #106848 closed

[2020-09-16 13:08] aeschli commented on #106846
Duplicate of https://github.com/microsoft/vscode/issues/20652

[2020-09-16 13:08] #106846 closed

[2020-09-16 13:10] DanTup opened #106862 "Support syntax-highlight CompletionItem.detail when shown above the documentation"
`CompletionItem` has a `detail` field that is documented as:

It's a `string` and is rendered above the documentation when the extra popup is open. However it doesn't get any syntax highlighting so it looks kinda bad:

![Screenshot 2020-09-16 at 14 06 34](https://user-images.githubusercontent.com/1078012/93341333-e2286d00-f825-11ea-9dee-6857ac0bcff6.png)

We can do syntax highlighting in the `docu

[2020-09-16 13:13] starjet commented on #105191
Happening after the August update which hit just now. Incredibly annoying.

[2020-09-16 13:13] leonkong commented on #106720
process like this:
node --inspect-brk=29834 dist/bin/server.js

[2020-09-16 13:16] leonkong commented on #106720
![image](https://user-images.githubusercontent.com/26429579/93342251-b4611980-f861-11ea-8c7c-bcf1e8d69c3d.png)
![image](https://user-images.githubusercontent.com/26429579/93342317-c93dad00-f861-11ea-9bcc-25bfaa0bf7c9.png)

[2020-09-16 13:19] Twiggeh commented on #106850
Doesn't change with 1.49.0
[code]

[2020-09-16 13:21] aeschli commented on #106851
@Shruthi2125 Is the file 'C:\Program Files (x86)\Microsoft VS Code\resources\app\out\main.js' existing?
Can you check is the Symantec Endpoint Protection Anti Virus has quarantined the file?

[2020-09-16 13:23] aeschli commented on #106854
duplicate of https://github.com/microsoft/vscode/issues/60670

[2020-09-16 13:23] #106854 closed

[2020-09-16 13:23] aeschli commented on #106814
/python

[2020-09-16 13:24] #106798 closed

[2020-09-16 13:25] alexr00 commented on #106798
Thanks for catching this! Looks like the location of the grammar changed, so I updated our grammar-updating script and pulled in the change.

[2020-09-16 13:25] isidorn commented on #51992
Closing this item as this has to be fixed on the NVDA side and there is nothing we can do here.

[2020-09-16 13:25] #51992 closed

[2020-09-16 13:26] isidorn commented on #52016
As per my comment [above](https://github.com/Microsoft/vscode/issues/52016#issuecomment-641096443) and because none of our users ever requested this I am closing this as designed. We will not change this.

[2020-09-16 13:26] #52016 closed

[2020-09-16 13:27] leonkong commented on #106720
[nodemon] starting `node ./dist/bin/server.js`
[nodemon] forking
[nodemon] child pid: 27318
[nodemon] still waiting for 1 sub-process to finish...
Debugger listening on ws://127.0.0.1:60989/3b5d6065-cc2e-4d11-bd7a-e674fcf41932
For help, see: https://nodejs.org/en/docs/inspector
Debugger attached.
2020-09-16T12:53:19.586Z  Server listening at host: 0.0.0.0, port: 9000

[2020-09-16 13:28] philipmat commented on #106541
Indeed it does!
And it seems to stay that way even as other editor windows are opened.

![image](https://user-images.githubusercontent.com/709928/93343800-8d213280-f7f6-11ea-89b1-9adcab6d2b3c.jpeg)

[2020-09-16 13:32] Shruthi2125 commented on #106851
main.js file is present.But every week the software is getting corrupted even if it is re installed.
How can check the symantec endpoint protection has quarantined file or not?

[2020-09-16 13:33] isidorn commented on #103454
Hmm I see that `strings.pad` is deprecated in favor of `String.padStart`. But they do not have the same functionality. Am I missing something here?
Code pointer https://github.com/microsoft/vscode/blob/fcb916f02c49a05a841663f319b8d9dbb3ee2daa/src/vs/base/common/strings.ts#L19

[2020-09-16 13:35] jrieken commented on #106410
Work on this has started in #106856. I have implemented the following

* old school providers that return commands, not code actions, cannot use resolve
* resolve only allows to fill in the edit. A command is easy to provide upfront and we actually want authors to provide edits

[2020-09-16 13:36] ColaDrill commented on #106846
the tool "Theme by language" is not work for .ipynb file.

[2020-09-16 13:36] ColaDrill commented on #106846
the tool "Theme by language" is not work for .ipynb file.

[2020-09-16 13:38] bennettpeter commented on #3451
This problem no longer happens with xubuntu 20.04 and the latest vs code. I don't know when or where it was fixed, but I have not used the workaround for a long time and vs code now runs fine under xrdp.

[2020-09-16 13:39] vadimvorenas commented on #104616
Thank you, I'm happy for that!

[2020-09-16 13:42] #106812 closed

[2020-09-16 13:44] alexdima commented on #106699
I have created https://bugs.chromium.org/p/chromium/issues/detail?id=1128937

[2020-09-16 13:44] belcherj commented on #106392
I was wrong. Changing the length here does not fix the issue:

https://github.com/microsoft/vscode/blob/f74e473238aca7b79c08be761d99a0232838ca4c/src/vs/editor/browser/controller/textAreaState.ts#L96

Adding isFirefox here does resolve the issue:

https://github.com/microsoft/vscode/blob/d52f31e78d1cae95d055e25c7bbc226d968934d5/src/vs/editor/browser/controller/textAreaInput.ts#L300

I want to under

[2020-09-16 13:46] deepak1556 commented on #106832
Can you disable hw acceleration https://code.visualstudio.com/updates/v1_40#_disable-gpu-acceleration and check if the issue continues. Thanks!

[2020-09-16 13:53] deepak1556 commented on #106699
Awesome, thanks @alexdima

[2020-09-16 13:53] thehigherlife commented on #106557
I have rebooted multiple times... Here is the error i get with your args

open -a /Applications/Visual\ Studio\ Code.app/ --args --user-data-dir /tmp/vscode/
LSOpenURLsWithRole() failed for the application /Applications/Visual Studio Code.app with error -10810.

[2020-09-16 13:54] roblourens commented on #106741
I like this proposal

[2020-09-16 13:58] opl- commented on #106595
I just tested this and closing VSCode with the X button in KDE Plasma (5.17) does **not** clear the cache. I started VSCode after manually clearing the cache, let it download an extension update and fail to extract, then closed it and verified that the process is no longer running. The cached extension(s) are still there.

[2020-09-16 14:02] Trass3r commented on #89145
Yes hasn't even been reviewed yet 😕
@joaomoreno maybe?

[2020-09-16 14:03] gjsjohnmurray commented on #106843
/duplicate of #106434 and will be fixed in upcoming recovery release.

[2020-09-16 14:04] #106843 closed

[2020-09-16 14:04] isidorn commented on #106382
I have pushed a change as we have agreed Whenever VS Code ui recieves a `Source` object we would always use the `asCanonicalUri` internally. And VS Code leaves data from the DA unmodified.

However I did not have a chance to try this out since I do not have exact repro steps.
@connor4312 can you please try it out with VS Code insiders from tomorrow or can you share exact repro steps so I try this

[2020-09-16 14:06] hardik584 opened #106863 "On click of any file automatically redirecting on that file when issue or warning in my project"
Open my flutter project  in vs code
Wait until analysis not done
After open any file, it will automatically redirect one by one warning error

[2020-09-16 14:09] aeschli commented on #106777
Please file this against https://github.com/MicrosoftDocs/vscodespaces

[2020-09-16 14:09] #106777 closed

[2020-09-16 14:12] deepak1556 commented on #106541
Yeah this is due to the previous fix being reverted in https://bugs.chromium.org/p/chromium/issues/detail?id=1024914#c11

@isidorn if you read that bug thread, there is lack of examples for vscode need to hide suggestions when `autocorrect=off and spellcheck=false`, might wanna pop up there and add your reason ? specifically in response to https://bugs.chromium.org/p/chromium/issues/detail?id=1024

[2020-09-16 14:17] aeschli commented on #106851
I assume there's a Symantec management tool.
Maybe this helps: https://knowledge.broadcom.com/external/article/151677/manage-quarantined-files-with-endpoint.html

[2020-09-16 14:19] deepak1556 commented on #106540
Instead of disabling hw acceleration, does it help when you change `"disable-color-correct-rendering": false` instead ?

[2020-09-16 14:21] jrieken commented on #103454
Isn't `strings.pad(1, 10, '0') === String(1).pad(10, '0')`

[2020-09-16 14:22] msaf1980 opened #106864 "Format of selected block"
It's possible to implement of format selected code block in addition to format all file ?
It's useful options for work with legacy codebase, when not possible to reformat all code base.

[2020-09-16 14:23] deepak1556 commented on #103549
Can you check if latest insiders https://code.visualstudio.com/insiders/ fixes it ?

[2020-09-16 14:27] deepak1556 commented on #104673
We plan to skip 10 and go for 11, and it won't hit stable anytime before November.

I can give it a try, mostly OOF this week, will check back on this next week.

[2020-09-16 14:30] deepak1556 commented on #106691
Are you running on a remote X server ? Can you try launching with `--no-xshm`

[2020-09-16 14:30] SPAstef commented on #106687
It shows the text "open this folder in a new window", and it opens the parent folder of the file itself.
It's like if the "engine" that handles this stuff ignores the last part of the file link/path and stops at the parent folder.

[2020-09-16 14:31] bpasero commented on #106541
@deepak1556 is this maybe the cause for https://github.com/microsoft/vscode/issues/106495 too?

[2020-09-16 14:36] isidorn commented on #106541
@deepak1556 thanks for the pointer. However that issue is "retired", should I just open a new duplicate issue or what is the best thing to do here?

[2020-09-16 14:37] isidorn commented on #104673
Thanks a lot

[2020-09-16 14:38] findleyr commented on #106788
This might be a dupe of https://github.com/microsoft/vscode/issues/98125 -- it would be sufficient for the extension to be able to control symbol filtering and sorting.

[2020-09-16 14:40] wivory commented on #106727
Thanks - that appears to be working as expected now, ie focus doesn't
switch back to original instance when I set the workspace in the second
instance.
On Wed, 2020-09-16 at 05:12 -0700, Benjamin Pasero wrote:

[2020-09-16 14:44] isidorn commented on #103454
@jrieken thanks. I have misread the method.

[2020-09-16 14:47] isidorn commented on #106439
Makes sense. So assigning this one to September to make sure that I set aria-selected on activity bar elements. And to support left / right navigation

[2020-09-16 14:47] stijnfrishert commented on #106541
Thanks for taking this up, @isidorn! The arrow key does solve the problem, hopefully the issue itself can be fixed over on Electron's side then. :)

[2020-09-16 14:49] weinand opened #106865 "debug hover's maximum size is too small"
debug hover is too small and doesn't allow for horizontal scrolling:

<img width="720" alt="2020-09-16_16-45-35" src="https://user-images.githubusercontent.com/1898161/93353427-34748880-f83c-11ea-9218-917c5830c507.png">

The hover window must adapt its size to the data that needs to be shown (within some limits).
If the size would exceed the limits, scrolling needs to be possible.

[2020-09-16 14:53] Simran-B commented on #105421
Thank you @roblourens, just tested the fix with insiders build 9e505675670d65138405321a60b0df4ddec28799 and I can confirm that it's working as expected now.

[2020-09-16 14:54] weinand commented on #106865
I take it back: scrolling is possible.
But the default maximum size of the hover is just too tiny.

[2020-09-16 14:56] ebonat commented on #106710
there is not sort by folders name in this setting. let me know for any possible work around? thank you for your help.

[2020-09-16 14:58] hyangah commented on #106788
Agree with @findleyr - Not sure about sorting when multiple workspace symbol providers are involved (e.g. multi-language projects). Letting the extension do the filtering and preserving the ordering as much as possible would be ideal.

[2020-09-16 14:58] misolori commented on #106829
Seems like the class is applied accordingly:

https://github.com/microsoft/vscode/blob/909760587f7e172cb63a7d62c8684362590ba274/src/vs/workbench/contrib/extensions/browser/extensionsViewlet.ts#L543

But the `-` in the class is being stripped out:

![image](https://user-images.githubusercontent.com/35271042/93353956-5ac10680-f7f1-11ea-8021-cd36defa70a9.png)

![image](https://user-images.githubuserc

[2020-09-16 14:59] GorvGoyl commented on #41309
It seems like it won't be the high priority feature in foreseeable future so I made this extension which adds handy buttons like beautify, list files, undo, redo, save all etc to the editor menu bar in the VSCode. [Shortcut Menu Bar
](https://marketplace.visualstudio.com/items?itemName=jerrygoyal.shortcut-menu-bar)
![image](https://user-images.githubusercontent.com/7106086/93354639-d905c300-f85a-1

[2020-09-16 15:10] RMacfarlane commented on #106589
Closing as a duplicate of https://github.com/microsoft/vscode/issues/106321

[2020-09-16 15:10] #106589 closed

[2020-09-16 15:13] lucianotres opened #106866 "Integrated terminal stopped to work for debugging after insider update"
Version: 1.50.0-insider (user setup)
Commit: 9e505675670d65138405321a60b0df4ddec28799
Date: 2020-09-16T06:49:37.816Z (7 hrs ago)
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Open any project folder with debugger configured with "integratedTerminal"
2. Hit F5 to start debugging

Debug toolbar will appear and

[2020-09-16 15:17] rodwestmoreland commented on #97979
Thanks for the tip - I didn't think about increasing the delay.  It isn't an actual solution, as mentioned, but it is much less annoying with a longer delay.  I'd rather wait a couple of seconds for something I need than to have it pop over what I'm looking at or accidently hitting that goofy MDN link.

[2020-09-16 15:17] alexdima commented on #106793
Duplicate of #106583

[2020-09-16 15:17] #106793 closed

[2020-09-16 15:18] alexdima commented on #106583
This does not reproduce when running with `--disable-features=LayoutNG`

[2020-09-16 15:21] alexdima commented on #106583
Workaround: configure `"editor.fontLigatures": "'liga' off, 'calt' off"`

[2020-09-16 15:21] varxzy commented on #106675
@alexdima As you said, I successfully solved this problem after setting `editor.fontLigatures` to true, thanks!

[2020-09-16 15:24] josemapi2012 opened #106867 "Dev ssh raspberry pi zero w"
- VSCode Version: 1.49.0
- OS Version: armv6l

Steps to Reproduce:

1. Try shh to raspberry pi zero w
2.It say Unsupported architecture: armv6l

Does this issue occur when all extensions are disabled?: No because i cant  ssh without extensions

[2020-09-16 15:26] alexdima commented on #106675
Let's track in #106583

[2020-09-16 15:26] #106675 closed

[2020-09-16 15:28] alexdima commented on #106816
@wesleyegberto There exist three settings that control how indentation works. Did you attempt to configure them?
`editor.detectIndentation`, `editor.tabSize`, `editor.insertSpaces`. With language specific selectors, you could configure what the editor should do per language and not need to mess around with the settings manually.

[2020-09-16 15:31] alexdima commented on #106855
@oliversalzburg When the diff editor renders two text buffers that differ only in leading/trailing whitespace, the following button appears:

![image](https://user-images.githubusercontent.com/5047891/93359034-730d4180-f842-11ea-8d7a-acc4820118e6.png)

Does this button not appear for you?

[2020-09-16 15:32] pfarndt opened #106868 "Jupyter Notebook - kernel should start in cwd"
Opening a (Julia) .ipynb on a **remote host** (via Remote-SSH) starts a (remote) julia kernel  as expected. The kernel process gets  a `--project=@.` (which is good), however, the working directory is set to my home directory on the remote host and not the directory of the ipynb. This way the kernel starts up with the wrong julia environment, which is very inconvenient and inconsistent to the beha

[2020-09-16 15:35] davidbIQ opened #106869 "Wrong outcome on deleted folder open elsewhere"
Steps here  https://github.com/microsoft/vscode/issues/98547

I'll add that in vscode it appears to delete it, but it isn't in the recycle bin.  I don't recall if it showed in windows explorer.  The issue though that had me encounter it is I deleted the folder in vs code, it let me know it would be in the recycle bin (which it wasn't) if I needed to restore it, and it appeared to be deleted in vsc

[2020-09-16 15:36] alexdima commented on #106762
@EdsonRCJ Can you please comment out the contents of your `keybindings.json`? (`F1` > `Open Keyboard Shortcuts (JSON)`)

[2020-09-16 15:37] cdschreiber opened #106870 "Integrated terminal fails to launch"
Issue Type: <b>Bug</b>

Since the last update I'm getting the following error message when I run a task: "The terminal process failed to launch: Starting directory (cwd) "/Users/christoph/eod/~/eod" does not exist." It looks like the path parameter is passed twice.

VS Code version: Code - Insiders 1.50.0-insider (9e505675670d65138405321a60b0df4ddec28799, 2020-09-16T05:43:58.570Z)
OS version: Darw

[2020-09-16 15:37] deepak1556 commented on #106541
@isidorn yup opening a new bug with more details as to why this is a problem for vscode and linking to the old chromium bug would do. Thanks!

@bpasero yup this is the root cause for the other issue.

[2020-09-16 15:39] alexdima commented on #106725
@epeios-q37 In this case, may I kindly ask that you please report this issue to Chromium at https://bugs.chromium.org/p/chromium/issues/list and link to the issue here. It would be very helpful if you would report it, as the Chromium developers could ask you specific questions about your setup in order to troubleshoot or reproduce the problem. I would also appreciate it if you could comment then h

[2020-09-16 15:41] bpasero commented on #106495
/duplicate https://github.com/microsoft/vscode/issues/106541

[2020-09-16 15:41] #106495 closed

[2020-09-16 15:47] jrieken commented on #106864
There already exists "Format Selection". It does depend on the extension that you are using to format tho. So, what language and extension are you using for this.

[2020-09-16 15:49] connor4312 commented on #106819
Yea. We had another issue where they had a firewall that was blocking attachment in the same way.

@GaoHengdong I recommend reaching out to Proxifier for support if you believe it's not working as designed.

[2020-09-16 15:49] #106819 closed

[2020-09-16 15:50] connor4312 commented on #106849
You're debugging a program. We will _always_ attach to the program, regardless of the auto attach setting.

[2020-09-16 15:50] #106439 closed

[2020-09-16 15:50] isidorn commented on #106439
I have pushed a fix for this, you can try it out with latest vscode insiders from Thursday and let us know how it goes.

[2020-09-16 15:50] #106849 closed

[2020-09-16 15:51] Tyriar opened #106871 "Provide option in hover service to display below the hover target"
cc @alexr00

[2020-09-16 15:51] connor4312 commented on #106850
Did you somehow get js-debug disabled? (Search for `@id:ms-vscode.js-debug` in the extensions view)

[2020-09-16 15:53] connor4312 commented on #106720
If you're debugging a process, you should not spawn its children with --inspect-brk. We don't need them for debugging, and they will actually prevent VS Code from being able to attach to them.

There was a bug/behavior in older versions of Node.js where --inspect-brk would run a busy loop, eating 100% CPU, using --inspect-brk before a debugger is attached.

[2020-09-16 15:53] #106720 closed

[2020-09-16 15:53] isidorn commented on #106541
I have opened this issue on the Chromium side https://bugs.chromium.org/p/chromium/issues/detail?id=1128972

[2020-09-16 15:55] Twiggeh commented on #106850
I disabled the nightly debugger in attempt to stop vs-code from auto-attaching, but I did not disable the "normal" javascript debugger

[2020-09-16 15:55] isidorn commented on #106865
What a coincidence just today I have assigned this bug to September with the idea to investigate furhter
Due to that closign this as duplicate of https://github.com/microsoft/vscode/issues/43326

Idealy the hover should be resizable

[2020-09-16 16:01] alexdima commented on #105630
@Zuckjet Doing a fix specific about the token scope list would make this change tied up to TextMate, while the editor itself supports another tokenization engine named Monarch, which does not produce scope lists.

What I find interesting is that our wrapping computer does a lot better in this case:

![Kapture 2020-09-16 at 17 55 54](https://user-images.githubusercontent.com/5047891/93362183-f97752

[2020-09-16 16:07] alexdima commented on #105672
Under the hood, we transform the setting `editor.fontLigatures` to a CSS property named `font-feature-settings`. If `editor.fontLigatures` is:
* `false` => we set `style.fontFeatureSettings = '"liga" off, "calt" off'`.
* `true` => we set `style.fontFeatureSettings = '"liga" on, "calt" on'`.
* a string => we set `style.fontFeatureSettings = '${user_provided_string}'`.

It looks like with our latest

[2020-09-16 16:10] #106871 closed

[2020-09-16 16:11] eamodio commented on #106829
I don't think this is related to the fix that I made here: https://github.com/microsoft/vscode/commit/0eee546cc5c8d1dff9f12730777873a10bc47e72

[2020-09-16 16:18] alexdima commented on #106543
@seravifer Could you please follow the steps at https://github.com/microsoft/vscode/wiki/Performance-Issues#profiling-the-renderer-process and attach here a JavaScript CPU profile of the renderer while you are scrolling or noticing slowness?

[2020-09-16 16:22] misolori commented on #106845
We do actually align the items in the explorer with the title:

![image](https://user-images.githubusercontent.com/35271042/93363624-5d752900-f7fc-11ea-820f-74ad9a3a0258.png)

![image](https://user-images.githubusercontent.com/35271042/93363794-97462f80-f7fc-11ea-98bd-c0339c9aae89.png)

It seems your file theme is disabling the tree chevrons, which is why it's not aligned

[2020-09-16 16:22] zabel-xyz opened #106872 "Show icon in Change language mode doesn't work anymore"
- VSCode Version: 1.49
- OS Version: Windows 10

Steps to Reproduce:

1. Command: Change language mode
2. No icons are displayed, I use a custom icon theme.

In previous version 1.48 icon were displayed, this is no more the case.
In fact, you must specified languageIds in order to work.
Specify fileExtensions only doesn't work anymore.

My custom icon theme:

  "fileExtensions": {
        "htm": "

[2020-09-16 16:24] alexdima commented on #100163
@bpasero This looks like we end up reading from the `.asar` files in the user workspace. From what I can come up with, we use the `FileSystemService` on the renderer process to read from the user workspace and the file watcher is in charge or watching that folder, but since that is written in C# it should not end up opening the `.asar` files, so this brings me back to the `FileSystemService`. AFAI

[2020-09-16 16:25] connor4312 commented on #106850
Can you try running the command `Extensions: Enable All Extensions` and reload the window?

[2020-09-16 16:29] misolori commented on #106717
Thanks everyone for the feedback so far. Writing down additional feedback I received during the team's weekly ux sync:
- The themes + extension sections should have an entry point to access more (show color theme picker + extension view)
- Maybe the themes should be simplified to only have dark + light + link to others
- The command palette felt odd in the flow, maybe have that at the end or make

[2020-09-16 16:32] xurzua commented on #106691
Hi @deepak1556 , thank you for your response.

Yep, I'm running VSCode inside a Fedora Container using Toolbox.

After using the argument it worked! awesome!!

![image](https://user-images.githubusercontent.com/34046176/93365317-03865a80-f820-11ea-8ab2-60e8a08c5fc6.png)

Still some GPU related errors appear in the log, but the application works at least.

[code]

What does the `--no-xshm` argument

[2020-09-16 16:42] connor4312 commented on #106821
Thanks for the issue and repro. This is a variation of https://github.com/microsoft/vscode-js-debug/issues/161, I'm guessing the old debugger just exited slightly slower which made you not hit this. There are a couple things you can do to work around it (pick one):

- Set `"outputCapture": "std",` in your launch.json, so that output is given as a simple string and not subject to races
- Set `"cons

[2020-09-16 16:42] #106821 closed

[2020-09-16 16:43] fpeterdev commented on #28905
I've just found this little extension: https://marketplace.visualstudio.com/items?itemName=saekiraku.pin-up
You can pin folders and files with it. Might be helpful

[2020-09-16 16:47] TedGriggs commented on #106792
Running with gpu disabled eliminates the problem.

I tried to replicate what triggers the issue and I could not find a clear way to do so.  The best I can offer is that it seems to happen when focus returns to the editor and not in the middle of editing.  So, if I press a different file tab or the save all button, or when I click back into code window after focus was elsewhere.

[2020-09-16 16:53] #106829 closed

[2020-09-16 16:53] bpasero commented on #100163
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-09-16 16:57] alexdima commented on #106530
@sweettyler When using `"editor.multiCursorModifier": "ctrlCmd"`, the `alt` modifier becomes free and is used to create column selections:

So mouse click + drag will create regular selections, while mouse click + alt + drag will create column selections. Column selection is its own very popular feature, useful for editing tabular looking code:

![Kapture 2020-09-16 at 18 28 12](https://user-image

[2020-09-16 16:57] #106530 closed

[2020-09-16 16:59] #106426 closed

[2020-09-16 17:04] herberthobregon opened #106874 "[vscode-insiders] I can't use launch.json anymore"
Code Insiders info:
[code]

Steps to Reproduce:

I try to run program with `launch.json`
[code]

But when I run, the terminal show this error

[code]

### This is the main problem

`tasks.json`
[code]

I don't know why it duplicates my file path.

This does not happen in previous versions of vs code insiders.
In `vscode-stable` and the prev. version of `vscode-insiders` works fine

_____
Does this

[2020-09-16 17:04] lobsterkatie commented on #106787
Removing `outFiles` seems to have done it!

Thank you!

[2020-09-16 17:05] eamodio commented on #104436
We are going to leave this open for a bit yet as we flush out the different extension host runtimes.

[2020-09-16 17:07] #106088 closed

[2020-09-16 17:08] Ryzbc opened #106875 "I just installed Visual Studio Code in a Mac but I cannot type anything in the files. I just can execute programs but cannot modify them."
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-09-16 17:08] #106867 closed

[2020-09-16 17:09] roblourens commented on #106737
Oh, got it. I've seen a few of these cases where it would make sense to display the enumDescription in the dropdown instead of the actual value. It doesn't make sense in general but it would be cool to provide an option for settings to opt into that, what do you think?

[2020-09-16 17:10] lifeart opened #106876 "1.49.0 Lense logic regression from 1.48.2"
- VSCode Version: 1.49.0
- OS Version: Win/Mac/Linux

Steps to Reproduce:

1. install https://marketplace.visualstudio.com/items?itemName=lifeart.vscode-ember-unstable
2. open https://github.com/Brain-up/brn/tree/master/frontend
2.5 open: frontend/app/app.js in
3. wait 20 seconds (for extension initialization)
![image](https://user-images.githubusercontent.com/1360552/93369617-4fed8c80-f858-11ea-9

[2020-09-16 17:15] barshasony commented on #106638
👍Great

On Wed, 16 Sep 2020, 11:15 mJaiswal613, <notifications@github.com> wrote:

[2020-09-16 17:19] kryptus36 commented on #41309
@GorvGoyl given the constraints you had to work in I'll call that extension a win. All I really wanted was undo/redo, so thank you! 5 stars from me.

[2020-09-16 17:20] oliversalzburg commented on #106855
Yes, I do see that button. However, as you mention, it only appears if there are no other changes in the diff.

Regardless, when I press it, that's where I'd get to my second screenshot. I can now see which lines have whitespace changes, but I can't see what the change were in details. Were tabs replaced with spaces? Spaces with tabs? Something more subtle?

When `editor.renderWhitespace` is confi

[2020-09-16 17:21] misolori commented on #106829
Thanks @eamodio for fixing. Looks like this was caused via https://github.com/microsoft/vscode/commit/863acbab188c7248531fdc3c5f04783f315fcd68 (fyi @joaomoreno)

[2020-09-16 17:31] roblourens opened #106877 "Broken "Ensure Prelaunch Dependencies" task"
Can't use the Launch VS Code config because the prelaunch task is broken. `The terminal process failed to launch: Starting directory (cwd) "/Users/roblou/code/vscode/~/code/vscode" does not exist.`

@connor4312 @alexr00 any idea? I don't see what's determining the terminal cwd.

[2020-09-16 17:39] msaf1980 commented on #106864
Thanks

[2020-09-16 17:39] #106864 closed

[2020-09-16 17:49] weinand commented on #106865
@isidorn  I only agree, if you mean "automatic resizability". Manual resizability is just clumsy.

I don't want to resize hovers manually just to see the end of string.
If there is enough space on my screen to fully show the string in the hover, why should I resize the hover when VS Code can do this for me automatically.

In addition, what is the semantics of resizing? Is the size remembered for t

[2020-09-16 17:49] Colengms commented on #106696
@isidorn .  Technically, 1 other person has asked for it, in https://github.com/microsoft/vscode/issues/59959 .  :)  I don't think this is specific to our extension.  Our use case is one example, and it's not contrived.  I had actually asked our Debugger dev for this feature.  I was directed to make to the request here instead, as addressing it in in VS Code seems simple and generally useful.

[2020-09-16 17:49] connor4312 commented on #106877
I had an old Insiders on my macbook, it worked there and then failed after updating. Looking into, have a feeling it's tasks-related though as I haven't touched this in several weeks

[2020-09-16 17:50] adambiggs commented on #106537
Same problem after upgrading to 1.49.0. Problem went away after downgrading to 1.48.2.

[2020-09-16 17:56] sweettyler commented on #106530
@alexdima Thank you so much for the detailed answer and the video.

My last concern is how the "activate" and "deactivate" things? I mean after releasing both the alt key and the mouse button, pressing alt key again (and again) turn on and off the selection highlighting mode.

Sorry if I didn't speak my question clearly.

Regards.

[2020-09-16 17:57] JCervero opened #106879 "Application crashes when connection is lost to SMB share from which a file is currently open"
On MacOS 10.15 when a file is open from an SMB share if connection t othe SMB share is lost the entire editor crashes.

To repro:
Open finder and Connect to Server
open a file from the mapped SMB drive in VS Code
disconnect the network
return to VS Code
VS Code crashes

Expected behavior would be 'file no longer exists' or something similar

[2020-09-16 18:00] pappy74 opened #106880 "Asterisks not working in console filter"
Issue Type: <b>Bug</b>

I printed two lines to the Debug Console:

print("****")
print("@@@@")

When entering text in the filter, only the at-signs work. There is no change to the console output when entering the asterisks. I thought perhaps this was a regex, but escaping the asterisks doesn't help.

Additionally, the first time I tried this, the app immediately beach-balled, but I can't reproduce

[2020-09-16 18:07] connor4312 commented on #106877
Seems to have been caused by 49ec999d80, I suspect by moving some of the path.normalize to path.relative. I don't have enough context to safely fix it myself.

[2020-09-16 18:09] AbutalhaKothiwale53 opened #106881 "make it editable console"
Issue Type: <b>Feature Request</b>

I have a request for you,
can you make the output console writable/editable because it is not writable so I'm getting to trouble to write my python programs. Like if I have to give the user input for some python program, first I have to go to the terminal and then run the python file and then give the input. But using the output console I'd have to just run the

[2020-09-16 18:16] WymaRogerJarrett commented on #106795
Adding 'urlFilter' solved the problem. Documentation about this option was not clear on this point. Nowhere that I could see did it say anything about what happens if multiple windows are opened. I have been used to the PHP debugger which does not use such an option. I had assumed wrongly that the javascript debugger worked in a similar manner.

Thank you for pointing this out. Everything is now w

[2020-09-16 18:16] #106795 closed

[2020-09-16 18:21] sarkanytibor opened #106882 "VSC doesn't let me click in random rows - my windows updated today, can this cause this bug?"
Issue Type: <b>Bug</b>

I inserted for example a predefined built-in snippet "form" and i can't click in the highlighted 3 rows.

- every extension is disabled (I reactivated 1 extension after final test, no extensiont were active and bug still remained)

- every custom json setting is removed

- I run it as administrator

- pc restarted

- if I restart VSC it works again and I can click them

- U

[2020-09-16 18:26] bbradshaw opened #106883 "Build Task fails with missing start directory"
Issue Type: <b>Bug</b>

The most recent insiders update seems to have broken my project tasks.  The project has the following .code-workspace which lives in /Users/ben/Documents:
[code]
Attempting to run a build task (with no cwd manipulation) fails in Insiders (but not stable):
[code]

VS Code version: Code - Insiders 1.50.0-insider (9e505675670d65138405321a60b0df4ddec28799, 2020-09-16T05:43:58.5

[2020-09-16 18:29] nomi9995 commented on #37350
I will delete webstorm when I get this feature.

[2020-09-16 18:31] connor4312 commented on #106795
I think that defaulting the urlFilter is `'*'` is probably an okay default considering that we launched the debug browser fresh for the user. Thoughts @roblourens?

[2020-09-16 18:36] sarkanytibor commented on #106882
Update: seems reinstalling vsc solved the problem, when I installed again and activated "custom css and js loader" then vsc showed this error again, so I guess it was the extension which modified files which couldn't be reverted by only a disable

[2020-09-16 18:38] weinand commented on #106874
There is no need for the "protocol" property, but I have no clue where the error message originates from.
There is no "terminal process" involved in the launch config you are using. And neither is there a preLaunchTask...

@connor4312 any idea?

[2020-09-16 18:42] herberthobregon commented on #106874
@weinand I update my issue, with `preLaunchTask` is the same

[2020-09-16 18:44] Alonski commented on #106876
Please help fix this

[2020-09-16 18:46] connor4312 commented on #106874
Looks like the same as https://github.com/microsoft/vscode/issues/106877

/duplicate

[2020-09-16 18:46] connor4312 commented on #106877
This also appears to affect debugging (linked issue)

[2020-09-16 18:47] #106874 closed

[2020-09-16 18:47] weinand commented on #106874
does it make a difference if you add a "console": "integratedTerminal" to the lauch config?

[2020-09-16 18:51] herberthobregon commented on #106874
@weinand The same error keeps happening adding `"console": "integratedTerminal"` to `launch.json`

[2020-09-16 18:58] hp77-creator commented on #100016
Hey @joaomoreno, Is this issue still open?

[2020-09-16 18:58] lifeart commented on #106876
looks like it's codelense internal markup isssue, in devtools, I see nodes

![image](https://user-images.githubusercontent.com/1360552/93380316-c04fda00-f867-11ea-8422-2cfd49c81fd5.png)

[2020-09-16 18:59] IllusionMH commented on #106861
Looks mostly like #40239 but for another file (`.code-workspace` instead of `settings.json`)

[2020-09-16 19:01] alexgv99 opened #106884 "Unexpected behaviour when open from terminal"
Issue Type: <b>Bug</b>

The last update brought an akward behaviour in Linux Mint. When I open a VSCode Window from a terminal, the Cinamon workspace is changed to the first one I opened a VSCode window before. It's not the expected behaviour and it changed from the previous version.

VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:20:50.359Z)
OS version: Linu

[2020-09-16 19:04] lifeart commented on #106876
looks related to: https://github.com/microsoft/vscode/issues/106718

[2020-09-16 19:09] rchiodo commented on #106519
+1 for option B.

[2020-09-16 19:10] lifeart commented on #106718
related: https://github.com/microsoft/vscode/issues/106876

[2020-09-16 19:15] michelleangela commented on #106371
@dbaeumer
I tried your suggestion of only installing the extension on the remote side only and the descriptions are still not localized under the settings UI (see screenshot below).

![image](https://user-images.githubusercontent.com/38734287/93381913-33c8fb80-f816-11ea-8efc-04da1a1f209a.png)

[2020-09-16 19:22] edmelly opened #106886 "Change Language Mode drop-down should allow filtering by file extension"
In the [Change Language Mode drop-down](https://code.visualstudio.com/docs/languages/overview#_changing-the-language-for-the-selected-file), it would be nice if we could filter by extension. e.g. at the moment for a `.jsx` file, typing `jsx` returns nothing. I have to start typing `javascriptreact`:

![select-language-type-vscode](https://user-images.githubusercontent.com/2462659/93381755-094c6200

[2020-09-16 19:26] alexdima commented on #106530
Yes, when `alt` is pressed the selection becomes a columnar selection, when `alt` is not pressed the selection becomes a regular selection, so `alt` functions like a toggle between the two modes.

[2020-09-16 19:28] alexdima commented on #106855
@oliversalzburg On a default theme, the whitespace is highlighted:

![image](https://user-images.githubusercontent.com/5047891/93383147-841a7a80-f863-11ea-9af0-777486445b52.png)

[2020-09-16 19:30] connor4312 commented on #106874
Try removing or commenting out your `preLaunchTask` for the moment

[2020-09-16 19:31] GalacticLion7 commented on #70764
Not really. Both iOS/iPadOS and macOS are Darwin distributions, the kernel developed by Apple, forked from BSD. I'm not saying porting would be straightforward, but the fact that they have the same architecture and kernel would probably help in some way in certain cases.

[2020-09-16 19:32] Zuckjet commented on #105630
Thanks for offering these information. It seems I misunderstood this issue before. the message "TypeScript QuickInfo should not wrap in the middle of an operator", make me think I need only handle the operator not other single word, this make things more complicated. So I just remove relevant css as you suggested

[2020-09-16 19:39] jbotte opened #106887 "Apple Silicon Experimental Build Restart after Settings Change does not work."
- VSCode Version: Version: 1.50.0-exploration
- OS Version:Mac OS Big Sur 11.0 Beta (20A5364e) Apple Silicon (Arm)

Version: 1.50.0-exploration
Commit: 02c157e4258b4fc59515cad3194cda3f17eaa505
Date: 2020-09-10T21:43:07.171Z
Electron: 11.0.0-beta.4
Chrome: 86.0.4234.0
Node.js: 12.18.3
V8: 8.6.373-electron.0
OS: Darwin arm64 20.1.0

Steps to Reproduce:

1. Go to settings -> Application -> Update
2.

[2020-09-16 19:44] izackp opened #106888 "Feature Request: Mac OSX 12 - Arm64 Support"
Apple will eventually release arm64 based MacMinis. I'm currently using one, and VSCode would definitely be nice to have. The x64 version of vscode currently crashes on the devkit.

So far, Node.js 12.14.1 builds fine with few changes to the configuration files though electron uses pyobjc which needs to be updated.  I'm trying to compile on my free time but I'm unfamiliar with these technologies a

[2020-09-16 19:47] belcherj commented on #106392
@alexdima PR ready for review: https://github.com/microsoft/vscode/pull/106873

[2020-09-16 19:48] izackp commented on #106888
Closing this ticket. I just noticed it's already on your radar: https://github.com/microsoft/vscode/issues/106770

[2020-09-16 19:48] #106888 closed

[2020-09-16 19:50] DTKx opened #106889 "Python OSError: handle is closed"
VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4510U CPU @ 2.00GHz (4 x 2594)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseline: enabled<br>gpu_compositing: enable

[2020-09-16 19:50] adamreisnz commented on #104616
What about the people that don't want semantic highlighting?

On Thu, 17 Sep 2020, 01:39 vadimvorenas, <notifications@github.com> wrote:

[2020-09-16 19:51] safield commented on #106685
Little confused. You listed **entity.name.function** 4 separate times. Is there just a post formatting issue here?

[2020-09-16 20:07] jwortmann commented on #106685
I don't know what you're talking about. They all use different meta scopes.

![screenshot](https://user-images.githubusercontent.com/6579999/93387051-e629ae80-f868-11ea-987c-a981a52d53d1.png)

[code]

[2020-09-16 20:11] safield commented on #106685
I am confused about the redudancy of the string _entity.name.function_. Why is it supplied in all of the scopes?

[2020-09-16 20:13] safield commented on #106685
The following definition does not result in red method/function calls.

		{
			"name": "Function declarations",
			"scope": [
				"entity.name.function", // remove this, because it applies to function declarations and references.
				"support.function",
				"support.constant.handlebars",
				"source.powershell variable.other.member",
				"entity.name.operator.custom-literal" // See https://en.cppr

[2020-09-16 20:21] sbatten commented on #106810
sounds like this is referencing extension notifications.

[2020-09-16 20:21] jwortmann commented on #106685
Because you don't want to target *only* "uncolored" meta scopes, which often span bigger sections of code. Here for example, the meta scopes include the parentheses, which you probably want to color differently.

I tried the definitions you just posted and they *do* work for me.

[2020-09-16 20:33] katlimruiz commented on #105191
+1

[2020-09-16 20:34] jlmagee commented on #103549
@deepak1556 It is fixed for me.  Thanks.

[2020-09-16 20:36] kosciuk commented on #106180
Ok, I'll try to add this to my todo list. Thank you

[2020-09-16 20:48] rebornix opened #106890 "Notebook cell border has <1px offset"
- VSCode Version: 1.50-Insiders
- OS Version: macOS

<img width="184" alt="image" src="https://user-images.githubusercontent.com/876920/93391009-69c0ac80-f823-11ea-9a07-f545cf23aa6f.png">

As shown in above image, when border color is set to `#f0f` and cell background is set to `#0ff`, you can tell that there is probably 1px or less misalignment.

Does this issue occur when all extensions are disa

[2020-09-16 20:50] davidalmarinho commented on #106369
I don't know how, but today I could open the Open view, Here it is:
- [x] View -> Open View… -> Log (Shared)
[2020-09-16 21:45:13.262] [sharedprocess] [info] main {"machineId":"63bbe65e041601d4601b44824f109d479a43853aa4a4f3560420bb63df7270b4","windowId":2}
[2020-09-16 21:45:53.323] [sharedprocess] [info] Starting to clean up unused language packs.

**- - - - - - - - - - - - - - - - - - - - - - - -

[2020-09-16 20:51] rebornix commented on #106890
No, there is no offset at all, it's simply my astigmatism.

[2020-09-16 20:51] #106890 closed

[2020-09-16 20:58] e-tip commented on #106495
@bpasero just to understand and get some extra knowledge on how high level software issue management works, is there a reason why my issue ( which has been opened before ) was marked as duplicate of an issue created later ? thanks if you would reply

[2020-09-16 21:14] ccarlsonpb commented on #106139
Update: the issue happened again, but this time I noticed some more details. When I pressed CTRL+SHIFT+F to search for a string, the query box became populated with an entire block of code that I happened to have selected, not what I was trying to search. Immediately after, I pasted in my actual query, and then everything crashed. I tried replicating this scenario and it did not cause a crash. It

[2020-09-16 21:24] #106845 closed

[2020-09-16 21:49] mjbvz commented on #106820
Closing as this is form an old TypeScript version. Let us know if you see this in TS 4.0+

[2020-09-16 21:49] #106820 closed

[2020-09-16 21:51] mjbvz commented on #106802
Word based suggestions should only show in TypeScript files when no other suggestions are available. Does this match what you see? If not, can you share an example where word based suggestions are incorrectly offered?

[2020-09-16 21:51] mjbvz commented on #106818
Can you share the project or at least the file the caused this error?

[2020-09-16 21:53] mjbvz commented on #106358
Updated us to TS 4.1 nightly. Thanks everyone!

[2020-09-16 21:53] #106358 closed

[2020-09-16 21:56] swilliams-a3digital opened #106891 "javascript debugger doesn't work after upgrading to version 1.49.0"
After upgrading to VS code debugging typescript compiled to javascript, running on node.js  no longer works.  I get an empty break point.  After disabling this setting: "debug.javascript.usePreview", everything works fine again:

"debug.javascript.usePreview": false

Something does not work correctly with the preview.  This should be disabled by default until it works.

- VSCode Version: 1.49.0
-

[2020-09-16 21:59] #46585 closed

[2020-09-16 22:05] roblourens commented on #105330
This is really annoying. Seems like it is failing in CI with some regularity but I can't repro locally. Maybe I can set it up to take screenshots, that would be useful here. Disabling.

[2020-09-16 22:07] roblourens commented on #104318
I've pushed this back into Insiders starting tomorrow, and I intend to stabilize and ship it this month.

[2020-09-16 22:17] bamurtaugh commented on #106759
### Some thoughts:
- Do we indicate to users they are getting Remote-WSL as they're installing VS Code?
- Do _all_ Windows installs of VS Code get Remote-WSL?

### More specifically:
**Do we want to make sure users have WSL?**
- Do we include Remote-WSL with _any_ Windows install of VS Code, no matter what the user has installed/configured on their machine (including if they don't have WSL)?

[2020-09-16 22:30] bbradshaw opened #106894 "Heap allocation failure during debugging"
Issue Type: <b>Bug</b>

I have a large source mapped project.  The second time after program launch debugging is started, the extension host dies:
`
[Extension Host] Unknown request: evaluate
t.log @ console.ts:70
$logExtensionHostMessage @ extHostTunnelService.ts:43
_doInvokeHandler @ rpcProtocol.ts:372
_invokeHandler @ rpcProtocol.ts:372
_receiveRequest @ rpcProtocol.ts:253
_receiveOneMessage @

[2020-09-16 22:33] #106826 closed

[2020-09-16 22:33] sana-ajani commented on #106717
I love this experience! I wonder if we can also include something to help students learn to code once they learn the editor. We saw from user studies with students that many of them wanted or expected to find in-product tutorials. Could we potentially include an option to "launch tutorials" under the "Learn" section of the Welcome page? It could open a quick pick where students choose the language

[2020-09-16 22:38] sherryyshi opened #106895 "DebugAdapter creation times out"
I am working on creating a new Debug Adapter extension, following the example provided by https://github.com/microsoft/vscode-mock-debug.git However, I am running into the following error when running the mock debugger:

![image](https://user-images.githubusercontent.com/36748852/93399394-5963fe00-f832-11ea-8a5a-299af3bc9271.png)

This was working a couple of weeks ago but I run into this issue on

[2020-09-16 22:41] #105883 closed

[2020-09-16 22:41] #105963 closed

[2020-09-16 22:41] #97087 closed

[2020-09-16 22:42] connor4312 commented on #97087
Referenced in the PR, auto attach now toggles globally by default, except if there's already a workspace setting present that would override it. In both cases, there's a button on the quickpick that you can use to swap into the other scope.

[2020-09-16 22:44] trululu96 commented on #23991
The workaround stopped working randomly, It did not improve after a reinstall. It particularly stopped working while on jupyter notebooks, on the rest of the app it works fine.

Version: 1.49.0
Commit: e790b931385d72cf5669fcefc51cdf65990efa5d
Date: 2020-09-10T13:20:50.359Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.4.0-7642-generic

[2020-09-16 22:45] connor4312 commented on #106825
In https://github.com/microsoft/vscode-js-profile-visualizer/commit/e40250f31aa0159dffe89a5a1e94ef53430bd195 I simplified some rendering so I no longer really need this (as long as the sidebar and panel aren't drastically different colors where the foreground would have contrast issues). But I can imagine it still be useful in those and other cases.

[2020-09-16 22:52] morganwdavis opened #106896 "List @deprecated strikethroughs in Problems tab"
The new deprecated strikethroughs in TS code are great. But to make it easier to find and address a series of them, it would be nice to have them also appear in the Problems tab (as an optional view, controlled by a settings flag).

[2020-09-16 22:53] roblourens opened #106897 "Settings editor accessibility improvements"
Continuing https://github.com/microsoft/vscode/issues/104318, we have selected "option A" and intend to ship it in September

Current TODO list

- [x] Clean up aria labels that cause setting name and description to be read a second time when the control is focused
- [x] UI cleanup, check default row selection colors
- [x] Do something with selection highlight for the full settings list, which does

[2020-09-16 22:53] roblourens commented on #104318
Continuing in https://github.com/microsoft/vscode/issues/106897

[2020-09-16 22:53] #104318 closed

[2020-09-16 22:59] roblourens commented on #106831
https://github.com/microsoft/vscode/issues/23099

[2020-09-16 22:59] #106831 closed

[2020-09-16 23:09] roblourens commented on #106860
I think it's nicer for things like alt+arrow keys to work predictably across different file types, but this is there for users to configure with the configuration you suggest if they prefer something different.

[2020-09-16 23:09] #106860 closed

[2020-09-16 23:11] zcutlip opened #106899 "Makefile should auto-indent after first line of a rule"
Issue Type: <b>Bug</b>

After starting a Makefile rule with a target and optional prerequisite, the 2nd and subsequent lines must be indented with a hard tab. These lines should be auto-indented in Visual Studio Code. Currently this doesn't happen.

For example, when creating the following rule, the second line should indent automatically:

[code]

VS Code version: Code 1.49.0 (e790b931385d72cf566

[2020-09-16 23:12] roblourens commented on #106795
Does that mean that it will auto attach to new tabs or windows?

[2020-09-16 23:14] WymaRogerJarrett commented on #106795
That was my expectation when I used the javascript debugger.

[2020-09-16 23:22] roblourens commented on #106795
I see it. Cool, it's probably fine. It could be annoying if someone is using the same browser for some other tabs that they don't want to debug, especially if those pages throw exceptions or something. But I would think that most likely they'd be using another browser/another chrome profile for that.

[2020-09-16 23:23] roblourens commented on #106795
It might make sense to actually name it "auto attach" or think about how it relates to node auto attach. Also as a launch config option vs user setting.

[2020-09-16 23:23] connor4312 commented on #106803
Thank you for the nice issue. This is fixed in the latest version of the debugger. For this month you have three options, in order of preference:

1. Grab the upcoming [nightly build](https://github.com/microsoft/vscode-js-debug#nightly-extension) of the debugger which will be available in about an hour from now
1. Use the old version of auto attach (available in the next release only) by setting

[2020-09-16 23:25] #106803 closed

[2020-09-16 23:30] hollyhet commented on #106717
This is beautiful, Miguel and so needed. The one thought I had based on earlier sessions with students and educators is can we simplify some of the terminology and make it less jargony? Ex: Do they absolutely need to know that a repository is being cloned in order to take a tour of the UI, or can the button just say "Tour UI" and elsewhere we communicate that a repository is being cloned? I also n

[2020-09-16 23:30] connor4312 commented on #106795
Well, it's kind a matrix of both. As a user, the preference of whether or not to attach to other tabs in the debug target is a personal one. But for an app, I could know that I want to debug all of these specific urls. Which is additional configuration to conceptualize.

The exception case is annoying, but it will also be kind of apparent what happened in most cases. Probably...

I think a default

[2020-09-16 23:33] JacksonKearl commented on #106717
I think this is a good point, perhaps if the title was "Run Any Command" or similar?

[2020-09-16 23:34] lucashfreitas commented on #106795
Same bug here: Start to happen on Version: 1.49.0

[2020-09-16 23:40] rebornix commented on #102503
Had offline discussion with @daytonellwanger and found more API limitations:

* Mock content provider on guest side
  * Currently to register a content provider, the extension needs to register static contribution point in`package.json` first, which will specify file extensions it supports. However when a notebook document is opened in the host side, it's possible that there is no such notebook co

[2020-09-16 23:40] connor4312 commented on #106795
If the [solution above](https://github.com/microsoft/vscode/issues/106795#issuecomment-693184830) doesn't work for you, you likely have a different issue and should open a bug here 🙂  https://github.com/microsoft/vscode-js-debug/issues

[2020-09-16 23:41] RandomFractals commented on #46585
.@mjbvz there are already many requests open for that show view in other places like #26777 I linked above, with over 500 thumbs up. Not sure me opening another one will make a difference. Maybe you can do that next after this addition.

Thanks!

[2020-09-16 23:45] roblourens commented on #106806
This has been reported but I have not been able to reproduce it consistently. Disabling the "search on type" setting might help https://github.com/microsoft/vscode/issues/87254

[2020-09-16 23:45] #106806 closed

[2020-09-16 23:47] roblourens commented on #106139
You could see if disabling the "search on type" setting helps - there have been some other reports of issues with search that seem to improve with this.

[2020-09-16 23:54] sbatten commented on #94930
@rzhao271 and I are looking to fix this issue. One consideration we thought about when looking at the fix was cases where the active panel or other series of events might "break" the maximized panel state. For example,

1. Put search in panel
2. Put panel in maximized state
3. Run a search and select a result (thus opening the editor and unmaximizing the panel)

You must now remember to re-maximiz

[2020-09-17 00:02] bentondavidl opened #106901 "GitHub Always Asks for Creds"
Issue Type: <b>Bug</b>

When opening VSCode by right-clicking in a folder of a git repo and selecting `Open with Code`, I am always asked to re-enter my GitHub credentials. This does not happen when opening other folders with the context menu.

VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary

[2020-09-17 00:08] connor4312 commented on #106891
Please share a trace log using the following instructions:

/needsMoreInfo

[2020-09-17 00:12] connor4312 commented on #106634
Thanks for the issue. I'm not able to repro this, can you share a trace log so I can see exactly what's happening?

[2020-09-17 00:48] GaoHengdong commented on #106819
Why not add tips？ It's  difficult to find the problem.

[2020-09-17 01:12] chrisdias commented on #93987
fixed with 5177f0d777468ce08a31670ff6fe55b70f9b4a8a, mssql should not be an important recommendation, but instead will just show up in the recommended list (type `@recommended` in Extension view).

[2020-09-17 01:12] #93987 closed

[2020-09-17 01:19] GQ105501 opened #106902 "Uncaught Error"
Uncaught Error: EPIPE: broken pipe, write
Process exited with code 1

There is no problem with the CMD command line, but an error will be reported when sending a request in vs code debug mode

[2020-09-17 01:23] GQ105501 commented on #106902
There is no problem with the CMD command line, but an error will be reported when sending a request in vs code debug mode

[2020-09-17 01:47] samuel-velazquez opened #106903 "Repos in asset unables"
Issue Type: <b>Feature Request</b>

Attribute only statement only main.. and framework so plug-in or template parameter: sync this boolean test if run so also tour changes feed last member.

VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 10.0.17134

[2020-09-17 01:51] testforstephen commented on #105463
@aeschli Cool, thanks for the quick fix.

[2020-09-17 01:59] StephenWeatherford opened #106905 "Lots of "Unable to open ..." errors on Mac"
Issue Type: <b>Bug</b>

I've got a typescript project, and some of the errors show up with absolute and invalid paths for the files.  Clicking on the error then gives:
`> Unable to open 'ParentAndChildCodeLenses.ts': Unable to read file '/~/repos/vscode-azurearmtools/src/documents/templates/ParentAndChildCodeLenses.ts' (Error: Unable to resolve non-existing file '/~/repos/vscode-azurearmtools/src/

[2020-09-17 02:00] FantasyQ opened #106906 "TS Server fatal error: Cannot read property 'text' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.1.0-dev.20200913

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Er

[2020-09-17 02:09] ryenus commented on #42880
Interesting to see that Eclipse just got this feature: https://youtu.be/-qsW-0Ztg_U?t=310

[2020-09-17 02:13] burtonrodman opened #106907 "when stashing, use commit message if populated"
Current Behavior:
I have staged changes and typed a commit message.
I choose Stash > Stash
I am prompted to enter a stash description

Desired Behavior:
If commit message is entered, automatically use it as the stash description instead of prompting.

[2020-09-17 02:27] #102824 closed

[2020-09-17 02:27] amroczeK commented on #105191
Still getting the issue. NOTE: This is happening on work laptop, permissions are locked down heavily and I have to open installers with '(Avecto) Run with elevated privileges'. Will remove my group policies and test again after.

Version: 1.49.0 (system setup)
Commit: e790b931385d72cf5669fcefc51cdf65990efa5d
Date: 2020-09-10T13:22:08.892Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8:

[2020-09-17 02:27] Dinduks opened #106908 "The behavior of "Escape + B" and "Escape + F" has changed"
- VSCode Version: 1.49.0
- OS Version: Windows 10 latest update

Steps to Reproduce:

1. Open terminal
2. Type `word1_word2_word3`
3. Type Escape + B

What I expect to happen: the cursor moves to the second underscore (`word1_word2_▌word3`).

What happens: the cursor moves to the beginning of the line (`▌word1_word2_word3`).

Same behavior with "Escape + F" (F is for forward; B is for backward).

[2020-09-17 02:40] RuilinLi opened #106909 "Allow remote.SSH.allowLocalServerDownload to copy the VS code server through sftp"
I'm working on a remote server that has limited internet access and SCP is also disabled (but SFTP is available). Is there a way to manually copy the server to the remote host? Can you enable the option to copy the server via SFTP?  Thanks!

[2020-09-17 02:43] windmakeppcool commented on #106844
![recording](https://user-images.githubusercontent.com/53427316/93413758-8831b100-f8d2-11ea-9621-9c577f447ebe.gif)
like this, when i modife the file and quit, file is deleted

[2020-09-17 02:49] #106547 closed

[2020-09-17 02:54] mjbvz commented on #106547
@rchiodo I pushed a fix into VS Code insiders. However I still don't see the Python custom editor successfully loading after pushing this (it looks like it never resolves). I also can't get it working on MacOS using VS Code 1.49, so this may be an issue with the custom editor implementation.

Please test out the next insiders build and let me know if you think something is off on the VS Code side

[2020-09-17 03:11] leonkong commented on #106720
I have checked all my config, I can't find where I use --inspect-brk param. It seems the '--inspect-brk=XXXX' created by vscode or some other mechanism？ Hope your comment.

[2020-09-17 03:13] #106906 closed

[2020-09-17 03:14] mjbvz commented on #106905
Please share a project that demonstrates this problem

[2020-09-17 03:17] jdneo commented on #106267
Hi @jrieken, Do you think that it makes sense to apply this kind of mechanism to other APIs. For example, the callback for `onDidChangeTextDocument`?

[2020-09-17 03:24] delize opened #106910 "wsl.exe as default terminal, crashes with exit code 1"
- VSCode Version:
[code]
- OS Version: Windows 10.19041

Steps to Reproduce:

1.Set Windows Subsytem for Linux 2 as default
2. Open up New Terminal Window, see crash details:
`The terminal process "C:\Windows\System32\wsl.exe" failed to launch (exit code: 1).`
[code]
[code]

Does this issue occur when all extensions are disabled?: **Yes**

settings.json:
[code]

![image](https://user-images.github

[2020-09-17 03:30] ziofat commented on #106832
@deepak1556 The issue does not persist if turn off gpu acceleration.

[2020-09-17 03:45] delize commented on #106910
Realized my issue when looking back through this. Because I installed Docker first when configuring my machine, it made that the default when running `wsl` standalone with no arguments resulting in the crashing terminal window.

Running `wsl --set-default Ubuntu` resolved this issue.

Coincidentally, this seems like a minor oversight due to docker not dropping into a wsl compatible shell, and vsco

[2020-09-17 03:46] TylerLeonhardt opened #106911 "Contributed buttons not showing up on Notebook files"
Version: 1.50.0-insider
Commit: 9e505675670d65138405321a60b0df4ddec28799
Date: 2020-09-16T05:43:58.570Z (22 hrs ago)
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

In the PowerShell extension, we contribute this button on Notebook editors:
![image](https://user-images.githubusercontent.com/2644648/93417589-60543600-f85d-11ea-868e-ce94ed7f7bd

[2020-09-17 03:46] connor4312 commented on #106720
It's something in your program. How do you spawn the `dist/bin/server` processes? Are you able to share the contents of the `dist/bin/server.js",` file?

[2020-09-17 03:49] leonkong commented on #106720
maybe here "runtimeExecutable": "nodemon" in launch.json?

server.ts
import * as config from 'config';
import * as http from 'http';
import * as SocketIO from 'socket.io';
import socketIORedis = require('socket.io-redis');
import { app } from '../app';
import { getDebug } from '../lib/debug';
import { log } from '../lib/log';

const debug = getDebug(__filename);

const server = http.createServer(a

[2020-09-17 03:50] leonkong commented on #106720
server.js
"use strict";
Object.defineProperty(exports, "__esModule", { value: true });
exports.default = void 0;
const config = require("config");
const http = require("http");
const SocketIO = require("socket.io");
const socketIORedis = require("socket.io-redis");
const app_1 = require("../app");
const debug_1 = require("../lib/debug");
const log_1 = require("../lib/log");
const debug = debug_1.g

[2020-09-17 03:51] leonkong commented on #106720
tsconfig.json
{
  "compilerOptions": {
    "module": "commonjs",
    "target": "es6",
    "sourceMap": true,

    "noImplicitAny": true,
    "noImplicitReturns": true,
    "noImplicitThis": true,
    "noUnusedLocals": true,
    "noUnusedParameters": false,
    "removeComments": true,
    "preserveConstEnums": true,
    "strictNullChecks": true,
    "forceConsistentCasingInFileNames": true,
    "no

[2020-09-17 03:51] leonkong commented on #106720
nodemon.json
{
  "restartable": true,
  "ignore": [
    ".git",
    "node_modules/**/node_modules"
  ],
  "verbose": true,
  "execMap": {
    "js": "node",
    "mjs": "node --experimental-modules"
  },
  "events": {
    "restart": "osascript -e 'display notification \"App restarted due to:\n'$FILENAME'\" with title \"nodemon\"'"
  },
  "watch": [
    "dist",
    "config"
  ],
  "env": {
    "NODE_

[2020-09-17 04:11] connor4312 commented on #106720
I don't see anything suspicious in there. Is there any other time or way where you run server.js which could introduce these arguments?

[2020-09-17 04:18] leonkong commented on #106720
I have one way to run debug
1、VSCode menu command to run build task & watch ts files.
![image](https://user-images.githubusercontent.com/26429579/93419506-90dcb400-f8df-11ea-9275-8c71f9d1c7a9.png)
2、Press F5 to run "main" just like the launch.json I pasted before。
3、set breakpoint to debug.

[2020-09-17 04:38] CGQAQ commented on #106703
![image](https://user-images.githubusercontent.com/15936231/93420930-a7d0d580-f8e2-11ea-88f1-4d6e7046955d.png)
I'm facing another issue on vscode-insiders 1.50.0 @isidorn

[2020-09-17 04:47] connor4312 commented on #106703
I'm guessing you got past the original issue -- what is the configuration you're calling startDebugging with when you get that error?

[2020-09-17 04:49] CGQAQ commented on #106703
the repro is here

[2020-09-17 05:07] deepak1556 commented on #103549
Thanks for testing, merging this to https://github.com/microsoft/vscode/issues/106727

[2020-09-17 05:07] #103549 closed

[2020-09-17 05:26] deepak1556 commented on #106832
Thanks for testing, I would suggest to run with hw acceleration disabled. GPU issues are sometimes fixed when we update the runtime. Can you check if our exploration build fixes this issue https://az764295.vo.msecnd.net/exploration/c8ed3d4a11938e833a77e11798c66723a7a4fff8/VSCode-darwin-exploration-x64.zip

[2020-09-17 05:28] bpasero commented on #106737
Yeah I think it would make a lot of sense in this case 👍

[2020-09-17 05:30] bpasero commented on #106879
Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

[2020-09-17 05:31] ashutoshgiri90 opened #106913 "LIVE SERVER"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Performance Issue</b>

Live Server is not working properly.
Even it has not shown icon

VS Code version: Code 1.49.0 (e790b931385d72cf5669fcefc51cdf65990efa5d, 2020-09-10T13:22:08.892Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2020-09-17 05:32] ziofat commented on #106832
I cannot reproduce the issue with the exploration build.

[2020-09-17 05:33] deepak1556 commented on #106691
Thanks for testing, you can read more about why this is an issue for the remote scenario here https://github.com/microsoft/vscode/issues/101069#issuecomment-662150152 . Merging this to the other issue.

[2020-09-17 05:33] #106691 closed

[2020-09-17 05:37] deepak1556 commented on #106832
It will be a while before we push the exploration build for stable release, please use the current stable with workaround until then. Thanks!

[2020-09-17 05:48] ziofat commented on #106832
OK, thanks. I can live with that.

[2020-09-17 05:50] bpasero opened #106914 "Web: cannot drop VSIX into extensions view to install"
I see a blue drop target but nothing happens.

[2020-09-17 06:22] jeanp413 commented on #106778
I took a look at this and this is due to `` ` `` being included in the `autoCloseBefore` language configuration attribute
https://github.com/microsoft/vscode/blob/d19c4ec92c4270d1778ba91c694097cd839adc10/extensions/javascript/javascript-language-configuration.json#L28

not sure if that's the desired behavior but I'll make a PR removing the backtick from `autoCloseBefore`

[2020-09-17 06:33] gjsjohnmurray commented on #106913
/causedByExtension

[2020-09-17 06:34] #106913 closed

[2020-09-17 06:39] eminozlem commented on #106790
finally, nice

[2020-09-17 06:48] jrieken commented on #106267
I depends - for providers debounce makes sense but I wouldn't generally do it for events, esp. not for `onDidChangeTextDocument`. Debouncing would have the potential for bogus behaviour, e.g. the document-value is already updated but the event isn't fire yet. I see the need to debounce event-listeners but for that I'd be in favour of making our [event-utils](https://github.com/microsoft/vscode/blo

[2020-09-17 06:48] murphyeoin opened #106916 "Allow decoding, editing and re-encoding of binary files"
This request is well explained [here](https://github.com/microsoft/vscode/issues/2582#issuecomment-623024888) as use case 1 but I'll paraphrase for convenience:
Add the ability to "on demand" allow decoding of binary files to text on open, allow editing of the decoded content, and then re-encode on save. Examples are binary formats like Applescript's (scpt) files, or any compressed or otherwise en

[2020-09-17 06:53] jrieken commented on #106882
/needsMoreInfo

Is this still an issue then? I have also trouble following your steps.

[2020-09-17 06:56] chrmarti commented on #106434
Verified. @joaomoreno @deepak1556 I see the auth dialog twice, it seems there are two 'login' events from Electron for the same proxy. Is that a known issue?

[2020-09-17 06:57] brunoborges opened #106917 "Code CLI --clone command to clone a <url>"
Add support for opening a remote Git repository from the command-line:

[code]

* Repository should be cloned into the current directory
* New window should be opened on the folder of the cloned repository (e.g. `~/vscode`)

Errors:

* If the current folder is already a repository, show an error message.

[2020-09-17 07:01] jxramos commented on #87254
I first started seeing this error after upgrading to the Microsoft C++ extension which recently jumped to a 1.0 release. I found that I can reproduce the hang consistently on one of my repo clones but not another clone. Anyone with some debug tips they'd like me to try I can take a moment and experiment on that. Since mine reproduces on command we might be able to find something out.

[2020-09-17 07:03] mjbvz commented on #105381
@knguyen1794 Can you please try collecting the TS Server log so that we can see what is triggering the slowdown:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a large log file called `tsserver.log`

If you can share that log file, it should help us see which files Type

[2020-09-17 07:11] mjbvz commented on #105606
I think your proposal is technically correct but would require migration work and end up introducing more complexity without offering a real user benefit

JSX in JavaScript users can just use the normal `JavaScript` language mode in almost all cases

JSX in TypeScript users have to use `TypeScript React` but we have not seen other people reporting that they are confused about the `react` part in t

[2020-09-17 07:11] #105606 closed

[2020-09-17 07:11] netsrotr opened #106918 "VS Code Window in "Full screen mode" / Windows 10 is oversized"
Issue Type: <b>Bug</b>

Windows 10, newest version / 2004. I run VS Code on a second monitor in full screen mode (Samsung Display, connected to Laptop via HDMI). The windows desktop is configured to "extend" the Desktop (Laptop is Nr. 1, Monitor Nr. 2 and on the rightof the Laptop).
Now I consider VS Code Window is somewhat oversized, means: it shows a small portion of the Window Chrome also on th

[2020-09-17 07:14] mjbvz commented on #105132
Can you please create a minimal repo that demonstrates this issue and share that. These types of problems are often configuration issues and it's not a good use of our time to debug through complex projects to discover this

[2020-09-17 07:15] mjbvz commented on #105126
Note for anyone investigating the bug: The problem is the drive letter casing: `c:` in one file vs `C:` in the other

[2020-09-17 07:18] alesbolka commented on #105132
I have tried reproducing it in a simpler project, but have unfortunately not been able to. I guess you can close it for now and I'll open another issue if I find another project with the same issue and identify the common link...

[2020-09-17 07:18] robertmarkbram commented on #105126
Good work spotting that!

[2020-09-17 07:18] mjbvz commented on #105133
Thanks for the logs. I believe you are using the typescript version from yarn (`.yarn/sdks/typescript/lib/tsserver.js`). I believe they do some patching to make it support yarn2 and this has cause a few issues in the past. Can you check to see if this happens with a standard TypeScript version too?

[2020-09-17 07:19] vaibhavkbrahm opened #106919 "Language Mode for HiveQL"
Please add HiveQL to the language mode for editing the Hive scripts. Currently I set the language to SQL but it show error for hive variables.

[2020-09-17 07:27] callmeberzerker commented on #106258
Hi @deepak1556 ,

I don't have that `com.microsoft.VSCode.ShipIt` directory path neither in my `/Library/Caches/` nor `~/Library/Caches.

Where else can I look for the logs?

P.S. I am on Catalina and you can see the full info on this related issue I created? https://github.com/microsoft/vscode/issues/106742

[2020-09-17 07:28] callmeberzerker commented on #106742
Just left a comment there, but it seems the bot closed it already?

[2020-09-17 07:30] oliversalzburg commented on #106855
That's not the same as `editor.renderWhitespace`. In your screenshot, it's not clear if spaces or tabs are highlighted. It only highlights the *area* that was changed. It doesn't indicate the *characters* that were changed.

The difference should be obvious by comparing your previous two screenshots. One has whitespace indicators, the other only highlights the changed area. I want both.

Is this d

[2020-09-17 07:34] abhijit-hota commented on #105191
It's like this for me:
- Open a folder.
- Go to a subdirectory (or root, doesn't matter)
- Open a file.
- A `debug.log` appears with the following message:

[code]
Every time I open a file, the corresponding `debug.log` file gets updated with a new line with the same message.

[2020-09-17 07:37] oliversalzburg commented on #105133
That's correct. I can repro this with the builtin 4.0.2 without problems too though. Took like 6 renames now to trap it.

[2020-09-17 07:38] alexr00 commented on #106877
To support remote properly we should never be calling `path.normalize` like that, so I removed it. Looks like somewhere it's required though...

[2020-09-17 07:49] isidorn commented on #106865
Makes sense and I agree with your points. Let's assign to September for investigation.

[2020-09-17 07:50] aeschli opened #106920 "Auto attach interferes with code command"
Running out of sources (with server bits)
The status bar has the auto attach control set to auto

- From the remote indicator, run `Remote: Test-Resolver: New Window`
- In the remote window, open the integrated terminal and run `code.sh test.txt` to open a file
   - the terminal reports that a port has been tunneled
   - the window shortly enters debug mode

![auto-attach](https://user-images.gith

[2020-09-17 07:51] isidorn commented on #106880
Yeah the issue is that * has a special "glob" meaning.
We do not support escaping it at the moment but makes sense that we do.

[2020-09-17 07:52] isidorn commented on #106603
@mltony yes, that is due to the chrome limitation which is linked in issue #90976

[2020-09-17 07:53] aeschli commented on #106920
FYI @isidorn @weinand

[2020-09-17 07:57] DanTup opened #106921 ""Activating extension 'ms-vsonline.vsonline' failed" when running extension tests with a custom --user-data-dir"
I see this error anytime I run my extension's tests in the extension host:

![Screenshot 2020-09-17 at 08 52 51](https://user-images.githubusercontent.com/1078012/93437179-93311500-f8c3-11ea-867b-721cf92c9484.png)

I pass a custom `--user-data-dir` when running tests so that the tests aren't influenced by my own VS Code User Settings etc.

[2020-09-17 07:57] isidorn commented on #106382
Insiders build with this change is out. Let me know how it behaves. Thanks!

[2020-09-17 08:00] cyrilletuzi commented on #106802
Indeed. But when in TypeScript strict mode, suggesting everything and anything does not seem the right behavior even in that case. It usually means that something is `any`, thus the initial type should be fixed or casted.

To give you some context, the issue happens when I teach Angular trainings. There is an Angular property returning `any`, and so VS Code is proposing everything and anything, le

[2020-09-17 08:00] #106617 closed

[2020-09-17 08:00] pinguin999 opened #106922 "Reopen big (400MB .csv) file with encoding"
- VSCode Version: 1.50.0-insider (user setup)
Commit: 9e505675670d65138405321a60b0df4ddec28799
Date: 2020-09-16T06:49:37.816Z
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Open a large (400MB -csv for example) windows 1252 file and click on the UTF-8 at the bottom right. And on reopen with encoding.
2. Ram gr

[2020-09-17 08:02] Twiggeh commented on #106850
Disabling `@id:ms-vscode.js-debug`, reloading, and then re-enabling it fixes the issue :D

[2020-09-17 08:02] #106850 closed

[2020-09-17 08:03] yubaoquan commented on #106677
Since electron support background transparent setting, is there a plan of enabling use to set the background of vscode transparent?

[2020-09-17 08:06] alexr00 commented on #106883
Looks like a dulicate of https://github.com/microsoft/vscode/issues/106877

[2020-09-17 08:06] #106883 closed

[2020-09-17 08:07] fakeYanss opened #106923 "why my vscode displays in every desktop on mac?"
- VSCode Version: 1.48.2
- OS Version: macOS Catalina 10.15.6

Steps to Reproduce:

1. open vscode
2. open mission control
![image](https://user-images.githubusercontent.com/30440198/93438023-49662000-f8ff-11ea-9b56-31ee868f394e.png)
![image](https://user-images.githubusercontent.com/30440198/93438044-5256f180-f8ff-11ea-8672-5404bac013d9.png)

Does this issue occur when all extensions are disabled

[2020-09-17 08:08] dbaeumer opened #106924 "Code action provider called twice on save"
I register a code action provider using the following code action kinds `"quickfix"` and `"source.fixAll.eslint"`.

Now add the following to the settings json
[code]

Observe the code action provider is called twice on the same save. IMO the provider should only be called once.

[2020-09-17 08:09] twepo opened #106925 "Adding lines are very slow"
- VSCode Version: Vsiaul Studio Code - Insiders 1.50.0
- OS Version: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Type some lines
2. Using enter key to add multiple lines or backspace to remove multiple lines

[video_and_cpu.zip](https://github.com/microsoft/vscode/files/5237340/video_and_cpu.zip)

Does this issue occur when all extensions are disabled?:  Yes

Extension : 0

I assume Windows

[2020-09-17 08:10] vbraun opened #106926 "getEditsForFileRename slow (update tsimports after file move)"
- VSCode Version:  1.49.0
- OS Version: Fedora 33 x86_64

Steps to Reproduce:

I have a large-ish angular repo with libraries, and renaming files is super-slow. Logging enabled says tsserver is tracking about 8000 files in the project, which is accurate. There are no log lines while getEditsForFileRename is running (for 3+ minutes!), and strace doesn't show any filesystem access. The returned edit

[2020-09-17 08:10] IllusionMH commented on #106918
/needsMoreInfo

Could you check if it's reproducible in Insiders version for you https://code.visualstudio.com/insiders/ ?

Most likely it's duplicate of #85310 that was recently fixed in Insiders builds.

[2020-09-17 08:16] alexr00 commented on #106780
I'm not able to reproduce this problem. When I add a new script, the view updates automatically. Can you share your settings.json file?

[2020-09-17 08:21] mihaibrana opened #106927 "Separate Open Editors from Explorer (thus creating a Vertical Tab Bar)"
Root cause:
- There are often times when we debug a difficult issue and we have to open a lot of files.
- It often happens that file names are quite long, thus the tab bar space is quickly exhausted.

Already-explored solutions:
- Some editors have addressed this concern by enabling a vertical tab bar.

Existing value:
- VS Code already has such a thing: the Open Editors area :). However, this are

[2020-09-17 08:22] netsrotr commented on #106918
Just tested with

Version: 1.50.0-insider (user setup)
Commit: d1f267742169584db010716d92addf50d4cd8139
Date: 2020-09-17T07:24:47.609Z
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT ia32 10.0.19041

Looks fine to me: no issue with insiders version.

[2020-09-17 08:24] alexdima commented on #106855
Thank you, I think I'm finally understanding what you're asking for. I initially thought there is a problem with your theme and it does not render character-level diffs. (themes can define transparent colors and that might lead to the character level diff not being visible)

You would want that whitespace is rendered with dots/tabs even if `"editor.renderWhitespace": "none"` if the whitespace is p

[2020-09-17 08:26] qwabra commented on #106780
hmm, u right, `files.watcherExclude` is block it.
[code]

**But**, even so i think "refresh" button should work !??

[2020-09-17 08:28] aeschli commented on #106139
You write that the WSL terminals terminate, so this shoulds like file i/o issue with WSL.
Are you searching on a /mnt/ mount?

Would you mind filing an issue against https://github.com/microsoft/WSL ?

[2020-09-17 08:28] qwabra commented on #106780
![Снимок](https://user-images.githubusercontent.com/5960180/93443292-ecf00a00-f8d8-11ea-9d05-cf4fa4e3e492.PNG)

[2020-09-17 08:32] IllusionMH commented on #106918
/duplicate of #85310

Should be in stable with 1.50 release in early October

[2020-09-17 08:33] #106918 closed

[2020-09-17 08:35] alexdima commented on #105630
I did a quick blame on the CSS and it looks like it was introduced via https://github.com/microsoft/vscode/pull/74582

[2020-09-17 08:47] jrieken commented on #106876
Can you try with latest insiders (1.50.0, d1f267742169584db010716d92addf50d4cd8139) which has a fix for #106718

[2020-09-17 08:51] spinicist commented on #105672
Thanks for the explanation. I will follow on the other issue.

[2020-09-17 08:51] dbaeumer commented on #106371
Actually that wasn't a suggestion. You can't work around this. The problematic code is very likely here: https://github.com/microsoft/vscode-distro/blob/distro/src/vs/workbench/services/extensions/node/extensionPoints.ts#L135

Are you sure that the translation works as expected when the extension is installed locally. The code tells me something different :-)

[2020-09-17 08:51] alexr00 commented on #106877
Turned out to be unrelated to the `path.normalize`, and instead it was a missing parameter to the label service call.

[2020-09-17 08:54] #106877 closed

[2020-09-17 08:55] adamreisnz opened #106928 "Snippets are not cached and take too long to show up"
Issue Type: <b>Bug</b>

Since a few versions ago, snippets load very slowly, and don't appear to be cached. That means that when I am typing a snippet shortcut, I need to wait an excessive amount of time for the suggestions + snippets to show up, despite the setting set to 0ms delay.

For fast types/coders this is very frustrating, because we don't have time to wait for the snippets to load and sh

[2020-09-17 08:56] jrieken opened #106929 "Enable to contribute content to references view"
We have the references view which out of the box can show References, Implementations, and Call Hierarchies. It's the one-stop-shop for symbol navigation/searching. We should make this view open for contributions so that "symbols results" for which we don't have a provider-API (yet) can be shown in a familiar place. A type hierarchy would be a sample for that.

[2020-09-17 09:01] ivansieder commented on #106787
@connor4312 removing the outFiles seems to actually fix the breakpoint issue, but therefor it raises errors like "Could not read source map for file:///server/node_modules/@sentry/integrations/dist/transaction.js: ENOENT: no such file or directory, open '/server/node_modules/@sentry/integrations/dist/transaction.js.map'" inside the debug console. Is there a way to fix that, too?

[2020-09-17 09:01] thw0rted commented on #106778
I'm interested to [know why the fence was there before we knock it down](https://en.wikipedia.org/wiki/Wikipedia:Chesterton%27s_fence) -- do you have any idea why backtick would have been on that list but not any other quote types?  It looks like the line was added by @JacksonKearl , maybe they have some feedback?

[2020-09-17 09:04] aeschli commented on #106919
Did you check the Marketplace for extensions?
https://marketplace.visualstudio.com/items?itemName=josephtbradley.hive-sql adds syntax highlighting support.

If you are looking for richer support (code completions, validation) you might also want to file an issue against an sql extension to add support for HiveSQL.

[2020-09-17 09:05] #106919 closed

[2020-09-17 09:07] aeschli commented on #106903
Sorry, I don't understand what you mean. Can you add more description and steps and maybe a screenshot?

[2020-09-17 09:12] aeschli commented on #106872
Which file icon theme is this?

[2020-09-17 09:13] isidorn commented on #84561
I have pushed the following change:
While debugging while a user is holding down the `alt` key we do not show the debug hover, but the regular editor hover.
I tried this out and seems to work quite nicely. But I would be interested a lot in feedback. So try it out with VS Code insiders from Friday and let me know how it goes. I will also present this in our daily team meeting to get more feedback,

[2020-09-17 09:14] aeschli commented on #106868
This issue needs to be filed against https://github.com/Microsoft/vscode-python/issues
Would you mind filing the issue there?

[2020-09-17 09:14] #106868 closed

[2020-09-17 09:15] isidorn commented on #106881
I feel like this is designed behavior, though forwarding to @sandy081 who owns the output

[2020-09-17 09:15] bpasero commented on #106886
I think this is an area where a PR could try to implement this and then we can test how it behaves.

[2020-09-17 09:16] bpasero commented on #106923
Unclear to me if Electron provides a way to control this or if this is a bug.

[2020-09-17 09:16] aeschli commented on #106863
Sorry, I'm n ot sure what you mean by 'redirect one by one warning error'. Can you add a screenshot?

[2020-09-17 09:17] #106814 closed

[2020-09-17 09:17] isidorn commented on #106927
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we will probably not do this in the future since you can just drag and drop the open editors area anywher you want. Thanks

[2020-09-17 09:18] bpasero commented on #106922
We should limit the data we give to `jschardet` to a small value to prevent this. Up for a PR if someone wants to chime in.

[2020-09-17 09:22] hardik584 commented on #106863
![Screenshot (272)](https://user-images.githubusercontent.com/16501308/93451826-4a924f80-f8f5-11ea-8609-3e2e919d3a9f.png)
![Screenshot (271)](https://user-images.githubusercontent.com/16501308/93451855-51b95d80-f8f5-11ea-8afa-50c3d87112fa.png)
It's like when I open file for doing code at that time all warnings and info of problems part redirecting one by one in entire project file

[2020-09-17 09:25] jrieken commented on #106928
/needsMoreInfo

Please update this issue after reading https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests. Thanks.

[2020-09-17 09:26] jasonwilliams commented on #105980
If anyone lands here this is being discussed in https://github.com/microsoft/TypeScript/issues/31658

[2020-09-17 09:28] alexr00 commented on #106780
The way it's written, the view actually shouldn't be updating. But I agree that this is extremely confusing and unexpected. The expectation is that when the refresh button is used, the view should update.

[2020-09-17 09:30] #106780 closed

[2020-09-17 09:38] giovdk21 commented on #106783
I can confirm that this happens by just launching it from the Dock:

- launched VSCode the first time from the Dock and the PATH is wrong (`/usr/bin:/bin:/usr/sbin:/sbin`)
- reloaded window ("Developer: Reload Window")
- the PATH is now correct and `execFile` returns the PID instead of `ENOENT`
- closed VSCode (Cmd +Q)
- launched VSCode the second time from the Dock and now the PATH is still corre

[2020-09-17 09:40] spinicist commented on #106792
Hello, I think I am experiencing the same problem on a remote Linux cluster. How do I disable the GPU rendering?

[2020-09-17 09:41] ilanc opened #106930 "failure to find .ts source when debugging aka inconsitency with relative { .sources } path in sourcemaps"
Issue Type: <b>Bug</b>

When trying to resolve .ts source locations and the sourcemap has relative paths  e.g. `"sources":["../../../src/hello.ts"]` (which is the default format when you compile with `tsc`) then node fails to find the .ts. The error given is:
`Could not load source '/src/hello.ts': Unable to retrieve source content.`

It appears that node uses the HOME dir for relative paths - rat

[2020-09-17 09:43] alexdima commented on #106583
OK. I have actually found out quite a number of things while investigating this:
- https://wakamaifondue.com/ can be used to upload a font and get a list of all the font features settings available in that font
- Source Code Pro has 37 available font feature settings: `'case', 'ccmp', 'cv01', 'cv02', 'cv04', 'cv06', 'cv07', 'cv08', 'cv09', 'cv10', 'cv11', 'cv12', 'cv14', 'cv15', 'cv16', 'cv17', 'd

[2020-09-17 09:44] MoussaAdam commented on #12080
what's so appealing in bracket's live preview feature is that it preview HTML and CSS in realtime without having to save the files

it works just like Vscode markdown live preview work

[2020-09-17 10:02] m-adilshaikh commented on #43188
@bpasero @joaomoreno @jrieken @isidorn @alexdima @Tyriar @aeschli @roblourens @rebornix. Do any maintainers have a clue to pitch in which backlog this is in as of this lite apocalypse year...? political one or "beyond 5000 more important issues" one?

[2020-09-17 10:22] ilanc commented on #106930
note: you can hack it into a state which works by using `mapRoot`:
[code]

[2020-09-17 10:23] SkeLLLa commented on #80798
After update to 1.49 version on ubuntu 20 this issue appeared. No flashing, just all menus are white.

[2020-09-17 10:36] bugpowder commented on #20652
Split the UI theming from the editor (syntax/code) theming. If two editors are open, use the same "UI theme" but the appropriate per language syntax theme.

[2020-09-17 10:39] AnneMayor opened #106931 "C++ could not read tuple header file"
- VSCode Version: 1.49.0
- OS Version: macOS Catalina version. 10.15.6

Steps to Reproduce:

1. Include header file "tuple" in .cpp file.
2. Initialize tuple Object in main() function and run the source code.

Does this issue occur when all extensions are disabled?: Yes

<img width="1743" alt="Screen Shot 2020-09-17 at 7 39 05 PM" src="https://user-images.githubusercontent.com/15176192/93459948-7d

[2020-09-17 10:40] isidorn opened #106932 "workspace.folders is not iterable"
1. Open vscode out of source and open a folder
2. Notice error in dev tools console

This was not happening yesterday

Based on blame of the diagnostic service file assigning to @RMacfarlane and @eamodio
fyi @bpasero

[code]

[2020-09-17 10:41] CreatifCreateur opened #106933 "Save all in all opened windows"
Current behaviour : ``workbench.action.files.saveAll`` shortcut only saves modifications of the files of the selected window.

Feature request : a similar shortcut to save all files in all opened windows.

[2020-09-17 10:42] sandy081 opened #106934 "[Web] MR Workspace folders are getting resolved before file system providers are available"
Workspace folders shall not be resolved until the corresponding FS providers are available. This is done for following reasons:

- Start up performance
- Prevent deadlock - workspace folder can be with custom scheme from an extension. This needs waiting on extension to be activated and extension cannot be activated until start up.

In Web, Validation (that involves resolving folders) of workspace

[2020-09-17 10:44] jrieken commented on #106921
Looks like a problem with ms-vsonline

[2020-09-17 10:44] #106921 closed

[2020-09-17 10:45] sandy081 commented on #106934
Root cause:

In web MR Workspaces have `vscode-user-data` schema and they are not going through non blocking start up path like in Desktop.

[2020-09-17 10:47] DanTup commented on #106921
Oops sorry, I thought it was now a built-in extension but it's not. I'll re-raise over there. Thanks!

[2020-09-17 10:48] bpasero commented on #106932
I cannot reproduce. @isidorn did you do full recompile?

[2020-09-17 10:54] tjx666 opened #106935 "breadcrumb and outline distinguish getter and setter"
Now the VSCode recognize them as same name property:

![Snipaste_2020-09-17_18-52-43](https://user-images.githubusercontent.com/41773861/93461184-fe580700-f916-11ea-853c-848c0e138619.png)

[2020-09-17 11:03] Andrei-Paul opened #106936 "Upgrade from deb_1.48.2-1598353430 to apt_1.49.0-1599744551 does not install dependency libgbm"
- VSCode Version: **1.48.2-1598353430 -> 1.49.0-1599744551**
- OS Version: **Ubuntu 20.04.1 LTS**

Steps to Reproduce:

0. libgbm-dev not installed
1. Download and install code_1.48.2-1598353430_amd64.deb --> VSCode works
2. Do apt update; apt-upgrade VSCode to 1.49.0-1599744551 --> VSCode fails with:
/usr/share/code/bin/../code: error while loading shared libraries: libgbm.so.1: cannot open share

[2020-09-17 11:07] Trass3r commented on #84561
That would be my main concern too. Maybe there needs to be a 'status bar' in the popup reading "hold Alt for ...". I vaguely remember something like that from VS.

You probably need to switch fast and often so that would be way too clumsy.

[2020-09-17 11:10] DanTup commented on #84561
If something like that is done, it should be probably include the others (for example the Cmd/Ctrl behaviour I mentioned above). There are lots of little things like that that aren't very discoverable right now (I only found that one by accident because it was rendering badly due to some other issues).

[2020-09-17 11:13] kraftwer1 opened #106937 "Show branch name in Welcome screen"
It would be really helpful to show the current branch name of each folder listed in the "Recent" section of the "Welcome" screen.

Example:

**Recent**
myCurrentProject1 ~/Development *master*
myCurrentProject1 (Copy 1) ~/Development *bugfix/typo*
myCurrentProject1 (Copy 2) ~/Development *feature/add-screen*
myCurrentProject2 ~/Development *master** *(uncommitted files)*
More... (^R)

[2020-09-17 11:17] morozovsk commented on #41309
@GorvGoyl very nice! 5 stars!

[2020-09-17 11:23] #106377 closed

[2020-09-17 11:23] #106329 closed

[2020-09-17 11:23] #106365 closed

[2020-09-17 11:23] #104444 closed

[2020-09-17 11:31] wasinwill opened #106938 "Alert on launch"
Issue Type: <b>Bug</b>

When opening VS Code Insiders since this morning's update, I'm getting this alert at every launch:

We did not find "node" on your path, so can not enable auto-attach in your environment
Source: JavaScript Debugger

The problem still occurs when all user-installed extensions are disabled.

![Screenshot 2020-09-17 072732](https://user-images.githubusercontent.com/44789688/93

[2020-09-17 11:41] jasonwilliams commented on #100427
No recent activity? The last comment was 8 days ago. @Tyriar can you reopen this? We’re still planning to look into this on sources build.

[2020-09-17 11:44] GitMensch commented on #55253
While it may be obvious - as soon as the problemMatcher can define linked diagnostics, which is [already available in vscode since 2018-03(!)](https://github.com/microsoft/vscode/blame/00821eaa6ab49876aefeaed891fd73630f756a09/src/vs/vscode.d.ts#L4032), then the documentation at https://code.visualstudio.com/Docs/editor/tasks#_defining-a-problem-matcher should be extended too.
I suggest to use the

[2020-09-17 11:47] joanmarie commented on #106505
I can confirm the problem. Chromium (or VSCode) is not emitting caret-moved events as I arrow within the breakpoint expression. Thus Orca has no idea the caret moved or that something should be presented.

[2020-09-17 12:01] marcfilleul commented on #12080
Realtime preview vs preview on save is nice but not the best feature of Bracket's live preview.

The real game changer feature for me is that when clicking somewhere in the preview, the corresponding code clock is highlighted in Brackets.

[2020-09-17 12:05] mastrauckas commented on #106877
@alexr00 When will this be released?  My VSCode is completely broken.

[2020-09-17 12:17] jdneo commented on #106267
Agree. It would be very helpful to have such npm module / API, and the extension authors can decide to use it or not by themselves according to their own use cases.

[2020-09-17 12:19] isidorn commented on #106932
Yeah I just rebuilt and I still see it. You might have seen it in my standup demo :)

[2020-09-17 12:47] sheerun commented on #44075
Unfortunately this often doesn't work often giving "Overlapping ranges are not allowed! error https://github.com/prettier/prettier-vscode/issues/497

[2020-09-17 12:56] isidorn commented on #84561
Feedback from standup was positive. With the overall impression that the ideal solution would be to just show both the regular hover and the debug hover at the same time. However since this is currently not possible due to the way how editor layout hovers this alt approach is a good workaround.

Feedback once you try it out is very welcome.
Status in the debug hover just to always show "hold Alt..

[2020-09-17 12:57] #84561 closed

[2020-09-17 13:06] isidorn commented on #106505
@joanmarie thanks for taking a look.
Weirdly this works just fine on macOS with VoiceOver, and with NVDA things get read, but when you navigate left/right always the first character gets read.
Will investigate more...

[2020-09-17 13:07] Perh0rd opened #106939 "VSCODE is slow even with no extension while scrolling to compare code"
We have written the needed data into yo
Issue Type: <b>Performance Issue</b>

Using VSCODE insider, running without any extension, compare code , and scrolling is very slow.

We are on WVD environnement.

This is working well on physical computer.

WVD environnement is stable, user can view 4K vidéo on youtube and use photoshop, they also use VSCODE online (codespace), it works smoothly, it's real

[2020-09-17 13:08] ida-frontend commented on #18071
Any updates? So frustrated by this...

[2020-09-17 13:10] lifeart commented on #106876
@jrieken I can confirm, it's working, thank you!

[2020-09-17 13:17] Tyriar commented on #106866
So you did disable legacy console mode? You should also try this if you have anti-virus software https://code.visualstudio.com/docs/supporting/troubleshoot-terminal-launch#_error-connectnamedpipe-failed-windows-error-232

Do you have any terminal settings?

[2020-09-17 13:21] songpr commented on #106547
I have try the insider release, however the .ipynb is still show as blank
![image](https://user-images.githubusercontent.com/3700356/93475882-56950600-f923-11ea-8ec4-22f119ef9899.png)

[2020-09-17 13:23] Tyriar commented on #106910
You could follow this up with https://github.com/microsoft/WSL/issues

From VS Code's perspective, we assume WSL is set up correctly and just run wsl.exe.

[2020-09-17 13:23] #106910 closed

[2020-09-17 13:25] joanmarie commented on #106505
@isidorn I'll see if I can dig into it from the Chromium side of things. Working on a different Chromium bug atm which I need to finish first, however. If you don't make progress and I space it out, please ping me.

[2020-09-17 13:26] Tyriar commented on #106844
Strange, what extensions do you have installed? Pretty certain this is not related to the terminal, but any extension could be watching the file for changes and deleting it for some reason when a change is made.

[2020-09-17 14:02] jrieken commented on #106876
/duplicate of #106718

thanks for coming back to. closing as duplicate, we might also cherry-pick this for the recovery release

[2020-09-17 14:03] #106876 closed

[2020-09-17 14:14] aslatter commented on #106803
lgtm on nightly. Thanks for the quick turnaround.

[2020-09-17 14:18] JacksonKearl commented on #106778
`autoCloseBefore` typically should be chars that cannot begin expressions, an exception was made for backtics because writing a brace here:
[code]
should autoclose. I believe this to be a more common use case than what this PR is trying to address.

Discussed at the time: https://github.com/microsoft/vscode/pull/52634#issuecomment-407313593

[2020-09-17 14:20] heartacker commented on #41309
no,it is Fearsome that taking too much space of tab-groub

[2020-09-17 14:21] breemts opened #106940 "Multi root workspace - task dependency between projects"
The use case of compound tasks described [here](https://code.visualstudio.com/docs/editor/tasks#_compound-tasks) can't be applied to multi root workspaces.
The same use case is used in the docs for multi-root workspaces. And the logic that the different workspaces have dependencies on each other is [already considered in launch configurations](https://code.visualstudio.com/docs/editor/tasks#_compo

[2020-09-17 14:22] GorvGoyl commented on #41309
lol.  you can actually disable/enable those icons as per your need.

[2020-09-17 14:26] sweettyler commented on #106938
same here. didn't have such a issue yesterday.
=======================================================
Version: 1.50.0-insider
Commit: d1f267742169584db010716d92addf50d4cd8139
Date: 2020-09-17T07:03:46.695Z
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 3.10.0-693.17.1.el7.x86_64
=================================================

[2020-09-17 14:30] epeios-q37 commented on #106725
Done: https://bugs.chromium.org/p/chromium/issues/detail?id=1129424

[2020-09-17 14:38] weinand opened #106941 "turning "editor.accessibilitySupport" on disables all line wrap options without warning"
Despite the fact that I had the "editor.wordWrap" setting turned on, I was not seeing word wrap occurring anywhere.

After enabling/disabling various settings through "bisecting", I found that the "editor.accessibilitySupport" disables word wrap without saying so.

I suggest to add this fact to the setting's description so that users can actually find this issue when they search for "wrap".
Even b

[2020-09-17 14:39] jooyoungseo commented on #98918
Thanks very much for your hard work @Tyriar.

In my experience with the latest commit (d1f267742169584db010716d92addf50d4cd8139), neither JAWS nor NVDA auto-switches between browse and document mode in the terminal input and output.

What do you think @MarcoZehe and @zersiax? Would you mind you all testing the latest commit for this feature?

[2020-09-17 14:45] heartacker commented on #84561
if we can add an new pendant(little button?) to the debug popup, while debugging, show the debug popup when hovered, user will see the pendant.
 than user can move The cursor to the pendant, then show the comments or infos from lsp. if there is no info, hide the pendant

[2020-09-17 14:49] carlocardella commented on #106321
I investigated this further, I compared a working instance (Stable) and this broken one (Insiders): both issue a POST to `https://login.microsoftonline.com/organizations/oauth2/v2.0/token`, the broken request receives a 400 back with this description:

`
{"error":"invalid_grant","error_description":"AADSTS700003: Device object was not found in the tenant 'f8cdef31-a31e-4b4a-93e4-5f571e91255a' dire

[2020-09-17 14:50] Taariqq commented on #12080
"They" have _categoriclaly_ said that they will NOT implement it!
Stubborn people I guess.

[2020-09-17 14:53] kojimataisei opened #106942 "拡張機能のホストが予期せずに終了しましたとエラーが出ます。"
必要なデータが送信するには大きすぎたため、クリップボードに書き込みました。貼り付けてください。

[2020-09-17 14:53] samuel-velazquez commented on #106903
desing.. this above time and figth town-- andwer only process so remember attribute if sequense out-line

[2020-09-17 14:54] ccarlsonpb commented on #106139
@aeschli it is indeed a /mnt/ mount. I filed a separate issue here https://github.com/microsoft/WSL/issues/5939

[2020-09-17 14:57] #106388 closed

[2020-09-17 15:03] Serpen opened #106943 "Proxy not showing"
- VSCode Version: 1.49.0
- OS Version: Windows 10.0.19041.508

Steps to Reproduce:

The montly (3rd month in succession) proxy break is there.
This time the proxy authentication windows shows for less than a second and disappears without a chance to enter credentials.
After that a info tip with error 407 is showing.

Its really annoying to have proxy problems every month 👎

The Changelog says noth

[2020-09-17 15:03] alexdima commented on #106725
Thank you!

[2020-09-17 15:07] Serpen commented on #106943
No, its none of those. Its something new. But I have gone through all of them to, (for me) they where fix with the next .1 release

[2020-09-17 15:08] mchelen-gov opened #106944 "Add devcontainer "postStartCommand" support to Codespaces"
Please add support in Codespaces for the devcontainer `postStartCommand` config property https://code.visualstudio.com/docs/remote/devcontainerjson-reference

[2020-09-17 15:09] i-mw commented on #12080
We have been calling for this feature for 4 years now .. OMG

[2020-09-17 15:11] XeonG commented on #41309
Nice one, thanks for doing what the entire ms vscode team can't be bothered to do.

I'm guessing having it on a separate toolbar is not possible at this stage?

[2020-09-17 15:13] richardwo commented on #12080
Does this achieve what you are looking for?
https://docs.microsoft.com/en-us/microsoft-edge/visual-studio-code/elements-for-edge

[2020-09-17 15:15] isidorn commented on #106941
Related https://github.com/microsoft/vscode/issues?q=is%3Aopen+is%3Aissue+label%3Aaccessibility+word+wrap

[2020-09-17 15:21] thw0rted commented on #106778
Ah, now I understand.  I think the ideal behavior might not be possible to implement with the mechanisms currently in place.  I would argue that we *don't* want auto-close for
* `` |`myTemplate` `` , when typing any bracket, because you are outside the template string
* `{` anywhere inside the template unless immediately preceded by a `$`
* `` `myTemplate|` ``, when typing `(` or `[`, because you

[2020-09-17 15:23] agrimaldi74 commented on #106938
I clicked on the gear icon in the error message and followed the instructions to uninstall the JavaScript Debugger default extension and install the Nightly version, and the error is gone
![image](https://user-images.githubusercontent.com/42692661/93491863-78ce5a00-f90a-11ea-967e-c7ebc2ce45b1.png)

[2020-09-17 15:25] jvesouza commented on #98918
using orca, when I'm at the terminal and pressing shift + tab, orca just announces that I'm in a document but doesn't switch to browse mode.
Nothing else is read, even if I try to navigate with the arrows.

[2020-09-17 15:28] #106934 closed

[2020-09-17 15:30] sandy081 commented on #106595
Not sure if X button restarts VS Code completely. Can you please Quit VS Code (make sure no processes of VS Code are running) and try

[2020-09-17 15:31] equinox commented on #12080
While that's definitely getting near to what the Brackets feature looks like, it's not quite the same as that (unless I'm misunderstanding) involves tinkering around with the dev tools rather than just the editor itself, like in this [preview video of the feature here](https://youtu.be/hyLDtIj3zw4?t=50).

[2020-09-17 15:31] Godssentralen opened #106945 "General Admiral"

[2020-09-17 15:34] sandy081 commented on #106537
Sorry, I have no idea. If it is extensionHost related pinging @alexdima