[2016-11-14 21:05] whitecolor commented on #14286
Just remind about the issue.

[2016-11-14 21:10] waderyan commented on #15351
@IgorNovozhilov thank you. Migrating to TS Server repo.

[2016-11-14 21:11] waderyan commented on #15351
This issue was moved to Microsoft/TypeScript#12233

[2016-11-14 21:11] #15351 closed

[2016-11-14 21:15] eyalsk commented on #15447
@kacperknapik You welcome, I glad it worked. :)

[2016-11-14 21:21] marty-wang commented on #14745
please add a setting to make it configurable, because it is rather annoying to lose my current position in explorer, just because I switch active files.

[2016-11-14 21:26] bowdenk7 commented on #15204
Thanks Joel, this is quite helpful!

[2016-11-14 21:27] waderyan commented on #15386
@aochsner thank you for opening this issue. The functionality for formatting is provided by TS Server. I will migrate this feature request to their repo.

[2016-11-14 21:28] waderyan commented on #15386
This issue was moved to Microsoft/TypeScript#12234

[2016-11-14 21:28] #15386 closed

[2016-11-14 21:29] waderyan commented on #15445
@lafe this is a good idea.

@dbaeumer what are your thoughts on sending this information up to the user? Possibly in the status bar? I'm imagining something like what you have done with ESLint.

![image](https://cloud.githubusercontent.com/assets/2449568/20283581/5d52d4ca-aa6e-11e6-99be-4f0e2e19c662.png)

This would have a positive benefit of helping us track down issues quickly.

[2016-11-14 21:33] waderyan commented on #15238
@gsipos can you share your workspace and tsconfig.json file?

[2016-11-14 21:33] #9415 closed

[2016-11-14 21:42] dhruvb14 commented on #10057
This bug still exists on the latest version as of 11/13/2016. I dock my laptop to a 3 monitor setup when at home. If i close VSCode cleanly before undocking and then relaunch VSCode afterwards then I can see the animation open back on one of the 3 missing monitors. The only way to get it back onto the screen is either connect back to the 3 monitors, leave VSCode running and then unplug monitors so

[2016-11-14 21:45] waderyan commented on #15300
Confirmed with 2.2.0-dev.20161111

[2016-11-14 21:45] waderyan commented on #15300
This issue was moved to Microsoft/TypeScript#12236

[2016-11-14 21:45] #15300 closed

[2016-11-14 21:48] waderyan commented on #15239
@bowdenk7 we've talked about this a bit. Is this specific scenario on your radar? Do you have an issue to track this?

[2016-11-14 21:55] waderyan commented on #15123
Duplicate of https://github.com/Microsoft/TypeScript/issues/11619

[2016-11-14 21:55] #15123 closed

[2016-11-14 21:57] waderyan commented on #15146
@dbaeumer do you have a thought on this issue? Is there anything special with writing to index.d.ts?

[2016-11-14 22:00] waderyan commented on #15168
@huyqut thank you for opening this issue. There are some known limitations around this. I have confirmed what you are seeing in the latest insiders build.

@bowdenk7 does prototype pattern == expando?

[2016-11-14 22:02] waderyan commented on #15004
@klinquist can you open a separate issue in the TypeScript repo?

[2016-11-14 22:04] waderyan commented on #14983
@smlombardi thank you. Reproduced on the latest bits. Migrating to TS Server repo.

[2016-11-14 22:04] waderyan commented on #14983
This issue was moved to Microsoft/TypeScript#12238

[2016-11-14 22:04] #14983 closed

[2016-11-14 22:06] waderyan commented on #14996
@marcomorain thank you for opening this issue and apologize for the delay. This issue has to deal with functionality provided by TS Server. Migrating to that repo.

[2016-11-14 22:07] waderyan commented on #14996
This issue was moved to Microsoft/TypeScript#12239

[2016-11-14 22:07] #14996 closed

[2016-11-14 22:08] waderyan commented on #14952
@abarcemas thank you for opening this issue. Can you try with [VS Code Insiders](https://code.visualstudio.com/insiders)? This should be fixed now.

[2016-11-14 22:10] waderyan commented on #2635
I believe this is the correct issue - https://github.com/Microsoft/TypeScript/issues/7849

[2016-11-14 22:15] waderyan commented on #14759
Ok. This fell through the cracks but getting to it now.

I tested with this code:

[code]

![image](https://cloud.githubusercontent.com/assets/2449568/20285023/96198c3a-aa74-11e6-97db-80251ae39ccf.png)

Here is the output I see from TS.

![image](https://cloud.githubusercontent.com/assets/2449568/20285042/b0117cec-aa74-11e6-952b-988108ba8fc3.png)

From reading this it looks like TS Server is provi

[2016-11-14 22:16] waderyan commented on #14907
@jamietre thank you for opening this issue. This fell through the cracks for me so apologize it took some time. We have done a fair amount of work here. Can you try again with [VS Code Insiders](https://code.visualstudio.com/insiders)? If it is still not working can you share a workspace with me to test out the issue.

[2016-11-14 22:19] Tyriar commented on #11422
Other ideas:

- Wrapping commands using something like preexec/postexec on zsh to write a lock file or something (see https://github.com/rcaloras/bash-preexec). Cross-platform and full shell compatibility would probably no be possible though.
- Investigate xterm.js code/state information whether anything useful can be exposed

[2016-11-14 22:28] waderyan commented on #15171
Reopening here. The suggestion from TS team recommends this be handled on VS Code's side.

The recommendation is for VS Code to check to see the Flow annotation and not pass it on to the TS Server.

@dbaeumer this looks like something we should look into soon as it can be a poor experience for flow users.

[2016-11-14 22:32] dilijev commented on #5865
Thanks! I'm seeing that it's actual Alt+Up and Alt+Down to to previous and next search phrases respectively. Alt+Left and Alt+Right don't seem to do anything in that view.

[2016-11-14 23:05] waderyan commented on #11268
This issue was moved to Microsoft/TypeScript#12243

[2016-11-14 23:05] #11268 closed

[2016-11-14 23:19] rwhenderson commented on #15480
SOLVED, by setting $PYTHON e.g. `export PYTHON=/usr/local/bin/python2.7`. Don't know why that's necessary since `/usr/local/bin/python` is already a softlink to `/usr/local/bin/python2.7`, and `python -- version` from the command line returns 2.7?

[2016-11-14 23:19] #15480 closed

[2016-11-14 23:23] lucdekens commented on #3451
@rcarmo Your fix works for me.
Thanks

[2016-11-14 23:29] ramya-rao-a opened #15483 "Update error telemetry website to add links to source code from deminified call stack"
Currently, you can get the deminified call stack in the error telemetry website.
When you create a bug from there, the repro steps has links to the source code.
Without creating the bug, there is no direct way to open the source code from the error telemetry website making triaging just a little bit more harder

[2016-11-14 23:30] rwhenderson opened #15484 "Build electron during npm install to solve issues with Cent OS"
- VSCode Version: 7.1.0
- OS Version: CentOS 6.7

vscode install uses pre-built electron; should be built natively, otherwise you're stuck with un-resolvable GLIBC version dependencies on some OSs. OR provide instructions to build code-oss natively.

Steps to Reproduce:

1. `./scripts/npm.sh install --unsafe-perm --arch=x64`
2. `./scripts/code.sh`
...
`[root@neawanna-cent6 vscode]# scripts/code.sh

[2016-11-14 23:32] ramya-rao-a commented on #15483
Fixed with https://monacotools.visualstudio.com/Monaco/_git/VSCodeInternal/commit/19e2b0fc6c0bf825c7f42e10ae29c7875fa35575

[2016-11-14 23:32] #15483 closed

[2016-11-14 23:40] ramya-rao-a commented on #13864
We are using [backgrid](https://backgridjs.com/ref/grid.html) which does not support sorting using multiple columns

But, updated the website to sort the errors by machines first. Previously it was sorted by Last Seen Date

[2016-11-14 23:40] #13864 closed

[2016-11-14 23:40] octref opened #15485 "Improvement for Tree Explorer API"
Umbrella issue for Tree Explorer API. Continuation of #12163

#14048 is a MVP that provides just enough functionalities for implementing a DB explorer. We decided to start minimal and evolve the API accordingly to feedback.

Here is a list of functionalities / questions that we should think about for future iterations.

### Functionalities

- Extension-initiated refresh (call `resolveChildren` aga

[2016-11-14 23:41] octref commented on #15485
Fyi @bpasero @jrieken @Tyriar

[2016-11-14 23:52] KirkMunro opened #15486 "Syntax highlighting of HTML comments inside .md files fails with multi-paragraph or list-like comments."
- VSCode Version: 1.7.1
- OS Version: 10.0.14931

Steps to Reproduce:

1.  Open the attached markdown document that's in the zip file.
2.  Note how the syntax highlighting is broken inside of HTML comment blocks when you have multiple paragraphs or prefix any line with a dash.
[HtmlCommentHighlightingIssues.zip](https://github.com/Microsoft/vscode/files/590773/HtmlCommentHighlightingIssues.zip)

[2016-11-14 23:55] ramya-rao-a commented on #15375
https://github.com/electron/electron/issues/7474 has been logged for electron

Bottom line of the investigation:

Crashes in a process (electron and node both) where crash reporter is not initialized get reported with just the dump and no metadata in Mac. In Windows, such crashes are ignored.

In VS Code, we fork a new node process in many scenarios like extensionhost, search, git etc. When these

[2016-11-14 23:55] #15375 closed

[2016-11-15 00:01] mjbvz commented on #15486
Thank you for the quick follow up. I believe #12696 fixed this recently by adding a special case for html comments.

![screen shot 2016-11-14 at 3 58 53 pm](https://cloud.githubusercontent.com/assets/12821956/20287744/38301d96-aa83-11e6-8d5c-1423515074e8.png)

The [latest insiders builds](https://code.visualstudio.com/insiders) should have this fix already, and the fix will become more broadly ava

[2016-11-15 00:01] #15486 closed

[2016-11-15 00:28] sheetalkamat opened #15487 "Wrong Comment Syntax for TSX/JSX"
From @daslicht on Microsoft/TypeScript-TmLanguage#355
When we open a ```*.tsx``` file,  VS Code shows TypeScript React in the bottom right corner.

If we now  highlight some text and call the comment shortcut, the block should be wrapped into the following:
[code]

Currently there are just ```//``` inserted, which is wrong

[2016-11-15 00:44] chrmarti commented on #15156
One proposal is:
- Add Cursor Above
- Add Cursor Below
- Add Selection to next match
- Add Selection to previous match
- -separator-
- Copy Line Up
- Copy Line Down
- Move Line Up
- Move Line Down
- -separator-
- Expand Selection
- Shrink Selection
- -separator-
- Emmet: Expand Abbreviation
- Emmet… (opens command palette focusd on Emmet:)
- Issue: Exposing 'Rectangular Selection' ALT+SHIFT+ DRAG

[2016-11-15 00:55] mjbvz opened #15488 "Code Action Light Bulb Only Shows up when Cursor Is On First Character of an Error"
@dbaeumer and I have been working on adding code action support for TS, and we noticed that code action light bulb only shows when the cursor is on the first character of the error. Here's quick example:

![nov-14-2016 16-50-53](https://cloud.githubusercontent.com/assets/12821956/20288757/88c33660-aa8a-11e6-960f-8eeb2373783b.gif)

The lightbulb only shows when the cursor is touching the character

[2016-11-15 00:57] dbaeumer commented on #15171
@waderyan this should not go into the TS extension. We shouldn't parse the first line. There are two ways to deal with this:

- users disable JS validation using `javascript.validate.enable": false`
- users install a flow extension which add  flow language mode. Then these files will not be synced over to the tsserver.

[2016-11-15 00:58] KirkMunro commented on #15486
Excellent, thanks for letting me know!

--
*Kirk Munro *
Poshoholic, Microsoft MVP
Blog <http://poshoholic.com/> | Twitter <http://twitter.com/poshoholic> |
LinkedIn <http://ca.linkedin.com/in/kirkmunro> | GitHub
<http://github.com/KirkMunro> | Facebook
<http://www.facebook.com/#%21/kirk.munro>

Need a PowerShell SME for a project at work? Contact me
<http://poshoholic.com/contact-me/>!

On Mon, N

[2016-11-15 01:00] dbaeumer commented on #15171
I tested that if I set `javascript.validate.enable": false` that the error is not shown.

![capture](https://cloud.githubusercontent.com/assets/1931590/20288962/41f77eb0-aad7-11e6-8326-bce748232f16.png)

[2016-11-15 01:00] dbaeumer commented on #15171
@waderyan recommend to close.

[2016-11-15 01:03] dbaeumer commented on #14759
Yes the reported offset is at the beginning of public. I recommend to ask the TS team to change this.

[2016-11-15 01:06] dbaeumer commented on #15146
@waderyan I guess this is a TS issue. I would enable tsserver tracing and see what the response looks like. If it doesn't contain bb as a symbol then move to the TS team.

[2016-11-15 01:09] dbaeumer commented on #15445
@waderyan we discussed the status bar item back and force and and one point decided to not add one for TS. But since linters and other Language extensions have one now we should reconsider this.

If the TS server crashes we restart the server automatically. If this doesn't happen then we have a bug. If the server crashes more than 5 times then we show a window message to the user. So in the descri

[2016-11-15 01:13] dbaeumer commented on #15447
The only explanation I have for this is that the wamp64 php.exe isn't self contain (e.g load a dll or starts another exe). In this case setting php.executablePath will not work. Need to thing if I should tweak the PATH when I start the executable.

[2016-11-15 01:16] dbaeumer commented on #15427
Dups https://github.com/Microsoft/vscode/issues/6579

[2016-11-15 01:16] #15427 closed

[2016-11-15 01:21] dbaeumer commented on #15428
@sandy081 assigning to you. The TS extension reports errors for a file in a batch. So there is not reason that the count and the list jumps. It could be @jrieken as well if the marker service is not smart in that regard.

[2016-11-15 01:22] dbaeumer commented on #15444
Dups https://github.com/Microsoft/vscode/issues/3550

[2016-11-15 01:22] #15444 closed

[2016-11-15 01:23] entonio opened #15490 "Right click 'Find in workspace'"
As a user I'd like to be able to select a word, right-click on it, choose 'Find in workspace' and have VSCode put the word in the 'Find in files' text field and immediately perform the search for it.

This would work like in Xcode.

Currently, I have to select the word (mouse task), then cmd+shift+F (keyboard task), then enter. That's not optimal for repetitive use.

[2016-11-15 01:24] dbaeumer commented on #8839
@venura9 can you share your example ?

@waderyan we should enable tracing and see how long the request takes. If it takes most of the time then this needs to be addressed in TS land.

[2016-11-15 01:26] dbaeumer commented on #15264
Yes, the TS request message is called `occurrences`

[2016-11-15 01:32] eyalsk commented on #15447
@dbaeumer I didn't download WAMP or use it and I encountered the same problem, I've downloaded PHP7 from the official website, put it at `c:\Program Files\Php\70\`, configured IIS, everything runs perfectly fine and when I tried to configured VSCode and set the location to the PHP executable it failed with the exact same error above so it isn't strictly related to WAMP.

[2016-11-15 01:35] renkun-ken commented on #15420
I don't set `window.zoomLevel` in my `settings.json`.

In my `settings.json`,

[code]

I notice that when I comment `"editor.fontSize": 18`, the integrated terminal looks perfect. When the font size is set above 14, this problem occurs as the text in the terminal does not correctly scale up.

[2016-11-15 01:35] arthur801031 commented on #14625
Hi @bpasero, I'm trying to create a listener for keybindings.json, but I can't get the keybindings.json file path right. Here is my code in the registerListeners function of /vscode/out/vs/code/electron-main/menus.js:
<img width="477" alt="screen shot 2016-11-15 at 9 31 02 am" src="https://cloud.githubusercontent.com/assets/4562118/20289694/33c4bd6e-ab16-11e6-933b-fa7edf7a2d88.png">

Here is the e

[2016-11-15 01:36] mjbvz commented on #15208
https://github.com/Microsoft/TypeScript/pull/12190

[2016-11-15 01:50] weijarz commented on #11836
@jrieken A better Atom like .tmLanguage based suggestion is useful for languages that without intellisense support (like Vue.js support for VSCode <https://marketplace.visualstudio.com/items?itemName=seanwash.vue> which provides a  .tmLanguage file only).

[2016-11-15 01:50] dbaeumer commented on #15447
@eyalsk thanks for the info.

[2016-11-15 02:33] yuankeyang commented on #15366
I uninstall and reload it, and it's OK!

[2016-11-15 02:33] #15366 closed

[2016-11-15 02:46] eyalsk commented on #15447
@dbaeumer You welcome.

[2016-11-15 02:55] Tyriar opened #15491 "Editors in weird state after toggling maximize panel"
- VSCode Version: Code - Insiders 1.8.0-insider (fb8939b09460ff9fbd40d39056b54c88d5aad9c8, 2016-11-11T13:13:14.529Z)
- OS Version: Linux x64 4.8.0-26-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|lorem-ipsum|Tyriar|1.0.0|
|terminal-tabs|Tyriar|0.0.6|
|theme-glacier|Tyriar|0.0.10|
|vscode-svgviewer|cssho|1.2.0|
|python|donjayamanne|0.5.2|
|tslint

[2016-11-15 03:19] jedfonner commented on #15463
I get this constantly.  Despite having specified in my user settings that I only want 2 spaces for tab, Visual Studio Code constantly reformats my js files to have 4 spaces when I save.

[2016-11-15 03:23] jedfonner commented on #15316
I am having this same problem with my .js files.  The status line shows "Spaces: 2" but when I Format Document, it changes all my tabs to 4 spaces.

[2016-11-15 03:27] justnonamenoname opened #15492 "Tasks batch space in directory problem | Not encoding bug | bat doesn't work"
- VSCode Version: 1.7.1 (seems all versions)
- OS Version: Windows 7

It's not problem of encoding, it's doesn't matter in bat echo 1 or echo 123 or something else - bat file doesn't work at all
Issue was closed with wrong reason
https://github.com/Microsoft/vscode/issues/15444

Steps to Reproduce:

1. Create directory with space: C:/project test
2. Create start.bat in this dir with text: echo 1
3

[2016-11-15 04:03] fcharlie commented on #15177
Your can download any file https://github.com/fcharlie/fcharlie.github.io/tree/master/_posts

Your can use IME input some content.

[2016-11-15 04:08] iflores782 opened #15494 "Configuring launch.json"
- VSCode Version: 1.7.1
- OS Version: mac os 10.12.1

Steps to Reproduce:
I'm teaching myself C#. I wrote a simple hello world, when I try to debug it says I have to change 'program' to the path to the executable file. The .cs file is in a vscode folder in my documents folder. Any help?

[2016-11-15 04:08] raphievila commented on #15410
Didn't noticed it, thanks pointed it out.

[2016-11-15 04:22] #15277 closed

[2016-11-15 04:31] #15279 closed

[2016-11-15 05:26] bpasero commented on #13920
@duttakapil can you hover over the error message to see its full text. Is it talking about `utime` as well?

[2016-11-15 05:29] bpasero commented on #207
Well you take `workbench.editors.files.textfileeditor` as the UI state, but the reality is that there are an unlimited number of more UI state keys that contribute to the overall UI state. One reason for not supporting this is the fact that you can have multiple windows without workspace associated and then you need to start inventing identifiers.

We should also not forget that the majority of us

[2016-11-15 05:30] bpasero commented on #13882
Great news, closing then.

[2016-11-15 05:30] #13882 closed

[2016-11-15 05:33] bpasero commented on #15485
/cc @joaomoreno

[2016-11-15 05:43] ammarsabir26 opened #15495 "Bug due to "c# 1.5.1""
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|unity-tools|Tobiah|0.1.9|
|unity-debug|Unity|1.1.0|
|unity-snippets|YclepticStudios|0.1.2|
|csharp|ms-vscode|1.5.1|
|mono-debug|ms-vscode|0.11.0|
|omnisharp|ms-vscode|0.3.3|
|colonize|vmsynkov|1.0.1|

---

Two Bug

[2016-11-15 05:56] ammarsabir26 opened #15496 "References not showing correctly"
![screen shot 2016-11-15 at 10 52 26 am](https://cloud.githubusercontent.com/assets/12556439/20294709/015f4cfc-ab22-11e6-9532-700a0a5a2feb.png)
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|unity-tools|Tobiah|0.1.9|
|unity-debug|Unity|1.1.0|
|unity-snippets|Y

[2016-11-15 06:00] HipsterZipster commented on #1896
blurry text here as well, running inside Windows 10 anniversary on a macbook pro retina

[2016-11-15 06:00] ammarsabir26 opened #15497 "Intellisense not working correctly"
![working](https://cloud.githubusercontent.com/assets/12556439/20294750/6be66542-ab22-11e6-8a1e-b52ccb2ea19f.png)
![not working](https://cloud.githubusercontent.com/assets/12556439/20294751/6becc342-ab22-11e6-8e28-301a39c75c25.png)

- VSCode Version:
- OS Version:

Steps to Reproduce:

1.  I just installed c# 1.5.1 and withing time span of every 5 seconds . i am facing this issue , intellisense wo

[2016-11-15 06:07] bpasero opened #15498 "Investigate to restore untitled dirty files via editor input factories"
When hot exit is enabled, we rely on the fact that the UI state in a workspace restores all the files that were dirty in the previous session.

However, for untitled files we do complicated measures to send the untitled files to restore to the window. Instead we should try to add untitled editors to the same UI persistence story that files already have.

I think this would clean up quite a bit of

[2016-11-15 06:11] bpasero opened #15499 "Check and clean up backup workspaces that don't have any files backed up on launch"
Since the storage for backup workspaces is independent from the actual backups inside that workspace, I think we need to be smarter about when to open a window for backups to restore.

Today upon first startup we basically open a window for each of:

`const workspacesWithBackups = this.backupService.getWorkspaceBackupPaths();`

We only check if the backup workspace still exists but I think we also

[2016-11-15 06:27] bpasero opened #15500 "Untitled files restored from backup issues"
To restore an untitled file from a backup we currently just do this:

`this.textFileService.resolveTextContent(this.restoreResource)`

That however will take the configured workspace encoding (which can easily be UTF-16) and thus might cause a corrupt content to return.

I suggest to use the same options as for restoring files.

[2016-11-15 06:47] ADRIAGUSJO opened #15501 "isues"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-11-15 07:07] buzzzzer commented on #14929
+1
Same issue on commit with core.autocrlf=true.

[2016-11-15 07:15] phangia2712 commented on #15440
Wow, wonderful! JS-CSS HTML Formatter causes this error, I've disable it
and everything is OK.

Tks so much! =))))

[image: Hình ảnh nội tuyến 1]

2016-11-14 12:14 GMT+07:00 Benjamin Pasero <notifications@github.com>:

--
*Front - End Developer* | *Phan Gia Tuấn Anh*
Mobile Phone: 0908 066 024
------------------------------------------------------------
Yahoo Mail: phangiatuananh@yahoo.com
GMail:

[2016-11-15 07:41] huyinghuan opened #15502 "Switch between Chinese and English input method, often cann't use Chinese input."
- VSCode Version: 1.7.1
- OS Version: macOS 10.12.1 (16B2555)

Steps to Reproduce:

1.  add Chinese input .

![image](https://cloud.githubusercontent.com/assets/3005433/20297029/37dfa124-ab49-11e6-936b-a22ccc43fbcc.png)

2. Switch between Chinese and English input method in vscode, often cann't use Chinese input.

A few days ago,I have never encountered this bug when i use Version 1.6.x

[2016-11-15 07:48] lafe commented on #15445
@dbaeumer Unfortunately, I do not have a project that is publicly available that can reproduce the issue I had. Maybe the following information can help:

tsconfig.json:
[code]

TSC Log of the issue, when I tried to get IntelliSense after I typed "this." (I had to remove all identifying comments; hopefully it is still enough; Log is from TypeScript 2.1.1 but the issue and log are the same with Typ

[2016-11-15 07:59] #15502 closed

[2016-11-15 08:10] danroth27 opened #15503 "Zooming in messes up rendering of reference count adornments in C# files"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.4.1|

---

Steps to Reproduce:

1. Open a new .NET Core project in VS Code
2. Zoom in

![image](https://cloud.githubusercontent.com/assets/1874516/20297892/3e715fea-ab13-11e6-8c6e-4815d

[2016-11-15 08:18] sandy081 commented on #5865
@dilijev Yes, I am mistaken. Its Alt+Up and Alt+Down.

[2016-11-15 08:23] sandy081 commented on #15451
Thanks for the information. I would see if I can play around with that telemetry and also think about adding specific log.

[2016-11-15 08:24] joaomoreno commented on #15452
To fix the environment of the second window in your second run, we could have every window created from the UI have a clean environment too, instead of inheriting the one from spawn time. But then, we'd just have other users complaining that this wasn't expected behaviour and that they expect the initial environment to propagate to all windows.

--

There are different ways to approach this proble

[2016-11-15 08:27] joaomoreno commented on #14738
Nope.

[code]

[2016-11-15 08:30] jrieken commented on #11422
Pretending I didn't mention already the concept of co-processes in iterm. See https://iterm2.com/documentation-coprocesses.html and https://github.com/Microsoft/vscode/issues/13337

[2016-11-15 08:31] ChristopherHaws commented on #6853
For anyone looking how to achieve what I wanted to do in my original post, you are able to do it with the following keyboard binding in VS Code:

[code]

[2016-11-15 08:32] jrieken commented on #15488
Like [this](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/quickFix/browser/quickFixModel.ts#L71). We compare start and end column but acknowledge that they are on different lines

[2016-11-15 08:32] aeschli opened #15504 "workspace.getConfiguration('css') returns empty settings"
In an extension, call
`workspace.getConfiguration('css')`

Note that the result is empty.

Bug is in `model.js: getConfigurationKeys`. The code must not only iterate the properties of each configuration object, but also look at 'allOf'
(See how it is done in `processDefaultValues`)

[2016-11-15 08:36] joaomoreno commented on #15469
Please check suggestion in https://github.com/Microsoft/vscode/issues/5065#issuecomment-207960831

[2016-11-15 08:43] joaomoreno commented on #14929
Added to our contributing guide.

@buzzzzer Do you get that for new files or for existing files? Make sure the files are LF formatted.

![image](https://cloud.githubusercontent.com/assets/22350/20298763/02599658-ab18-11e6-9791-7b012975e0ac.png)

[2016-11-15 08:43] #14929 closed

[2016-11-15 08:48] jrieken commented on #15374
This might actually be me... I places I call the [`onUnexpectedError`](https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/errors.ts#L79)-method. Mostly, when I invoke a language feature provider that fails, like [so](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/suggest/common/suggest.ts#L109). Do those error end up in telemetry or do they just get locked on

[2016-11-15 08:59] bpasero commented on #15440
/cc @jrieken fyi on JS-CSS HTML save issues

[2016-11-15 08:59] #15440 closed

[2016-11-15 09:02] lloeki commented on #15452
Untrue, or at least ambiguous. The following is currently correct:

![screen shot 2016-11-15 at 09 37 20](https://cloud.githubusercontent.com/assets/75445/20298625/2c6b207a-ab17-11e6-953a-d04c25de1222.png)

This is IMHO the pain point: to me only the window that pertains to the path passed to `code` should be imbued with the environment, whether it's the first one or not.

So there are two opposin

[2016-11-15 09:13] isidorn commented on #15402
Welcome. By default we only open the debug window on first start of a debug session and yes this is not currently configurable. But we might introduce a setting.
Would you expect a setting in your user / workspace settings that would get applied to all your debug launch configurations. Or would you expect a setting in launch.json that you could specify per your launch configuration. Or both?

fyi

[2016-11-15 09:15] #15488 closed

[2016-11-15 09:22] joaomoreno commented on #15452
Yes, that disambiguation was necessary. 👍

Don't you think it would be wrong, or at the very least confusing, to spawn Code with `FOO=bar code`, thus opening window A; and then open window B from within Code and not have `FOO` set in there?

None of the two corner cases will preserve the environment.

[2016-11-15 09:32] dogmatic69 commented on #13665
Just had this happen, I did notice once the drive is reconnected and I open the folder manually all the open files I had were re-opened.

[2016-11-15 09:43] duttakapil commented on #13920
Here you go :
![vscodebug](https://cloud.githubusercontent.com/assets/6577624/20300597/e80400ee-ab45-11e6-8d11-f355f63b2717.png)

[2016-11-15 09:44] bpasero commented on #13920
That is a different error that indicates you are missing permissions to save the file as the user you started Code with.

[2016-11-15 09:46] westfish opened #15505 "setting c_cpp_properities invalid"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|GBKtoUTF8|bukas|0.0.1|
|vscode-clang|mitaki28|0.2.1|
|cpptools|ms-vscode|0.9.2|
|csharp|ms-vscode|1.4.1|

---

Steps to Reproduce:

1.change the includePath in c_cpp_propertie

[2016-11-15 09:52] JostCrow commented on #14222
I had the same. All my programs were lagging because of vscode. I am running Ubuntu 16.10

![screenshot from 2016-11-15 10-42-32](https://cloud.githubusercontent.com/assets/390575/20300851/48e6e388-ab21-11e6-991c-9feaf76aab11.png)

As you can see here every process was very high. I had to quit vscode. When I did there was a drop in cpu usage.

The only thing that I had was 2 projects open. I didn'

[2016-11-15 09:52] Kroc opened #15506 "Provide a meaningful binary-file preview and "diff""
Clicking on a binary file in the explorer should provide something better than an error page.

A 'pretty-print' preview of the selected file should appear, including:

- file creation / modifcation / access times, file size
- Any metadata attached
- An image preview and dimensions for image files
- An icon for executable files (perhaps even showing the different icon sizes embedded), as well as th

[2016-11-15 09:57] dogmatic69 commented on #13665
Another problem while using network drives is that the go to file `ctrl+p` is very slow, pretty much unusable.

[2016-11-15 10:03] gkalpak commented on #3776
@Tyriar, awesome to see hot-exit making it into VSCode 👍 :dancing_men:

Git Project Manager is pretty nice actually, but I miss a more flexible "project" abstraction (mainly for multi-directory projects). Fortunately, it is on the roadmap (and I can leave without it for a while :smiley:).

<sub>#AboutToSwitch</sub>

[2016-11-15 10:14] frankorama commented on #15316
The problem with the automatic formatting is only happening in VS Code for OSX.  I also work on a laptop with Windows 10 and the same code formats normally.

[2016-11-15 10:32] matthiasg commented on #6029
It is possible there is still an issue when a 'proxied' accessor method is used ?
I have VSC 1.7.1 and node 6.9.1 on Win10 x64 and whenever i debug onto a call accessing a proxied getter function the debugger just halts. Calling the getter in the Debug Console outputs `illegal access`.

Normal running of the code with attached debugger works fine.

[2016-11-15 10:38] lloeki commented on #15452
Not confusing at all for me, as this does what I expect from a [multiwindow document-based app](https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/OSXHIGuidelines/index.html) on macOS:

- when the app is started it either starts afresh and presents a new document (which are two distinct steps), or starts and restores previous state (depending on system and/or app s

[2016-11-15 10:40] weinand commented on #6029
@matthiasg yes, proxies are a problem with the old node debugger of VS Code. Please try the new node debugger by using the debug type "node2" in your launch config.

[2016-11-15 10:49] jrieken commented on #15221
related to #15456 since this will make the extension host appear as dead

[2016-11-15 10:51] #14729 closed

[2016-11-15 11:04] stevencl commented on #5911
No, this wasn't definitely abandoned. This is an initial step. We wanted to get this design working first, and then see if we need to take the next step to enable horizontal and vertical splitting.

[2016-11-15 11:12] weinand commented on #14729
I've reverted the PR https://github.com/Microsoft/vscode-debugadapter-node/pull/83

[2016-11-15 11:32] linusbrolin commented on #15039
@Ratismal Can you make that extension available for everyone so we have a solution until this problem is fixed?

[2016-11-15 11:33] and-y opened #15507 "Add editor action copySelection[Up/Down]"
An action like `editor.action.copySelectionUpAction` and `editor.action.copySelectionDownAction` additional to `editor.action.copyLinesUpAction` and `editor.action.copyLinesDownAction` would make code copying even better.

E.g. you have the following code

[code]

Now I want to add some more users by copying the last user Object and editing the values.
I select the last Object with `SHIFT` + `UP`

[2016-11-15 11:34] Pszek opened #15508 "Syntax breaking"
- VSCode Version: 1.7.1
- OS Version: 10.11.6 (El Capitan)

After ternary operators ES6 string templates tend to break syntax highlighting (like the one below):
![zrzut ekranu 2016-11-15 o 12 31 47](https://cloud.githubusercontent.com/assets/10253750/20304317/c30ae2c8-ab2f-11e6-8ae6-cfc3c28fa738.png)

[2016-11-15 11:46] jedfonner commented on #14599
Happens to me too on v1.7.1 on OSX.

[2016-11-15 11:55] bpasero commented on #15280
@Tyriar I pushed a series of changes to make the shutdown logic easier to understand. I settled on the idea that it is fine to let `ITextFileService` be the main controller of the shutdown and not add more eventing on it for the backup service. I think introducing more eventing is not possible because the shutdown handlers run in parallel  on shutdown.

https://github.com/Microsoft/vscode/commit/0

[2016-11-15 11:55] #15280 closed

[2016-11-15 11:56] jedfonner commented on #15316
This might be related to the [JS-CSS-HTML-formatter extension](https://marketplace.visualstudio.com/items?itemName=lonefy.vscode-JS-CSS-HTML-formatter).  Removing that extension seems to have solved the problem for me.

See https://github.com/Lonefy/vscode-JS-CSS-HTML-formatter/issues/31

[2016-11-15 11:58] bpasero opened #15509 "Reloading window with dirty files shows save dialog"
I hope I did not break this, but when I reload the window with dirty files and hot exit enabled, I am getting prompted to save.

[2016-11-15 13:08] shanalikhan commented on #13071
i have tried with this syntax getting error as : `Unable to write to the configuration file (Unknown Key)` - code 0
[code]

[2016-11-15 13:20] staltz commented on #13441
For what it's worth, Atom is able to handle both jumpy and vim emulation (and probably more).

[2016-11-15 13:52] jrieken commented on #15385
That isn't correct. The EOL-property is kept in the document, not in the editor view. When a document is being opened its EOL-sequence is derived from the contents (whatever occurs most often is picked). It can be changed via the status bar UI or via the [`TextEditorEdit`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L1058). We should probably also allow that via [`TextEdits`

[2016-11-15 13:53] bwinton commented on #11879
I'm also running into this editing Javascript (2-space tabs), HTML (4-space tabs), and README.md (word-wrap on)…  Sadly, editorconfig doesn't support wrapping yet, although it looks like it does most of the other stuff I want.

[2016-11-15 13:54] jrieken opened #15510 "Expose EOL sequence in API and allow to change it"
We should expose the EOL sequence of a `TextDocument` and extend the `TextEdit` such that it can be changed.

[2016-11-15 13:55] jrieken commented on #15385
issue about EOL-sequence in the `TextDocument`: #15385

[2016-11-15 13:55] jrieken commented on #15385
Closing because I have pushed changes that make sure we don't duplicate newlines anymore

[2016-11-15 13:55] #15385 closed

[2016-11-15 13:58] IgorNovozhilov opened #15511 "JSDoc+Intellisense. Not supported @method in auto-completion"
- VSCode Version:

![image](https://cloud.githubusercontent.com/assets/3082812/20308211/e15b23ae-ab53-11e6-8af4-7b3af3ba9c1b.png)

- OS Version: win7 pro

Steps to Reproduce:

See: http://usejsdoc.org/tags-function.html
JSDoc tag `@method` not found in auto-completion:
![image](https://cloud.githubusercontent.com/assets/3082812/20308297/46a50e46-ab54-11e6-8a73-de8fcc1edc55.png)

Code:
[code]

[2016-11-15 14:01] kaiwood commented on #15507
Proper duplication of text, the feature request would be the same as this one: https://github.com/Microsoft/vscode/issues/13780

[2016-11-15 14:02] #15504 closed

[2016-11-15 14:05] #15462 closed

[2016-11-15 14:06] jrieken commented on #15510
@alexandrudima makes sense, right?

[2016-11-15 14:22] siegebell opened #15513 "API to determine whether a TextEditor is a diff view"
Feature request: API support to determine if a document is open in a diff-editor. In particular, I want my extension to apply styles and provide certain language features when a document is loaded in a TextEditor, but not when its only editor is a diff-editor.

Looking at vscode.window.visibleTextEditors and vscode.workspace.textDocuments, I can't see any way to tell the difference.

[2016-11-15 14:26] bpasero commented on #15129
I pushed a change to not backup on shutdown when auto save is on but I guess we still need to decide what to do with backing up after a file gets dirty.

[2016-11-15 14:26] bpasero commented on #14116
This can be fixed once we have https://github.com/Microsoft/vscode/issues/15498

[2016-11-15 14:26] bpasero commented on #14690
This will be fixed with https://github.com/Microsoft/vscode/issues/15498

[2016-11-15 14:27] bpasero commented on #14067
This is a potential requirement for https://github.com/Microsoft/vscode/issues/15498

[2016-11-15 14:27] bpasero commented on #15498
Blocked by https://github.com/Microsoft/vscode/issues/14067

[2016-11-15 14:28] RDeluxe commented on #329
Where are we on this @Tyriar ?

[2016-11-15 14:29] #15491 closed

[2016-11-15 14:33] bpasero commented on #14062
I pushed a change to rename `restoreBackups` to `initialStartup` and I am actually OK with how it is now.

[2016-11-15 14:33] #14062 closed

[2016-11-15 14:36] kaiwood commented on #15507
@and-y I checked the market place because I consider this essential too, this extension solves your usecase while waiting for it to be implemented in VSCode: https://marketplace.visualstudio.com/items?itemName=lafe.contextualduplicate

[2016-11-15 14:40] bpasero opened #15514 "Backups are stored with user configured encoding"
I noticed in https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/backup/node/backupFileService.ts#L73 you are not passing any encoding. This means backups are potentially stored with a user choice of encoding which is not good because we should assume UTF-8 when reading backups.

I suggest to be consistent and use UTF-8 for reading and writing of all backups.

[2016-11-15 14:42] bpasero opened #15515 "IBackupFileService: less IO?"
I wonder if the `IBackupFileService` could do less IO and read more out of memory. My understanding is that only one process will write to the backup files overall because we can only open one window per workspace. As such why not read the data into memory and have sync methods to get information about backups?

One thing you can always avoid is to check if a file exists. Just read it and handle t

[2016-11-15 14:45] TiagoSousa26 opened #15516 "Wrong order of sorting line ascending"
- VSCode Version: 1.7.1
- OS Version: Windows 10 Home Version 1607

Steps to Reproduce:

1.  Have a css file with the following code:
[code]
2.  Select the the previous code.
3. Press F1 (default key), write "sort lines ascending" and choose the option writed before.

And it will switch the `margin` with `margin-bottom` and it should be how it started.

[2016-11-15 14:49] gorsuchtim opened #15517 "Error in integrated console"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|htmltagwrap|bradgashler|0.0.3|
|beautify|HookyQR|0.5.4|
|guides|spywhere|0.5.1|
|JavaScriptSnippets|xabikos|1.2.0|

---

Error:

[Error - 8:48:11 AM] Request textDocument/documentLink failed.
  Message: Req

[2016-11-15 14:55] aeschli commented on #14782
Closing due to lack of information. Please reopen with data described above.

[2016-11-15 14:55] #14782 closed

[2016-11-15 14:56] aeschli commented on #14790
Closing due to lack of information. Please reopen with data described above.

[2016-11-15 14:56] #14790 closed

[2016-11-15 14:56] aeschli commented on #14943
Closing due to lack of information. Please reopen with data described above.

[2016-11-15 14:56] #14943 closed

[2016-11-15 14:56] aeschli commented on #15163
Closing due to lack of information. Please reopen with data described above.

[2016-11-15 14:56] #15163 closed

[2016-11-15 15:01] kvoth3 opened #15518 "Emmet tag expansion no longer works by default in JSX files"
- VSCode Version: 1.7.1
- OS Version: Win10

Steps to Reproduce:

1. In react render method, in return statement type a class name: `.test`
2. Pressing tab should yield: `<div className='test'></div>`

[2016-11-15 15:04] mrmlnc commented on #15518
Please, use search before create a new issues.

Related to https://github.com/Microsoft/vscode/issues/14962 and should be fixed in 1.7.2 (but date is unknown).

[2016-11-15 15:05] kvoth3 commented on #15518
sorry i did search but i had the isopen tag so it didn't show. my apologies

[2016-11-15 15:07] chrmarti commented on #207
Since restoring previously opened files when opening on a folder is accepted as the right thing to do, there should be a large number of users who would prefer the same without opening on a folder. Did removal of that not trigger any reactions? I still feel we don't necessarily understand the not-open-on-folder case well, because we tend to not use it that way.

[2016-11-15 15:10] brenthuisman commented on #207
@chrmarti The behavior was never present.

The use case is simple: remember (all) UI state when opening VSC, independent of the open number of folders.

[2016-11-15 15:20] jrieken commented on #15221
Closing after two changes: (1) computing more minimal edits now happens in a separate worker thread and (2) we skip very large edits for which computing more minimal edits will take long

[2016-11-15 15:23] lynkx opened #15519 "CodeLens doesn't scale together with editor"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|typings-installer|benjaminromano|0.2.0|
|cpptools|ms-vscode|0.9.2|
|csharp|ms-vscode|1.5.1|
|vscode-icons|robertohuertasm|4.0.1|
|vscode-typings|typings|0.0.5|
|Material-theme|zhuangtongfa|1.0.3|

---

St

[2016-11-15 15:23] #2399 closed

[2016-11-15 15:26] frankorama commented on #15316
I only had DUST language support and JSON prettify extensions installed.  Removed them and the formatting is working normally now.  Not sure which one was causing the problem though.  Should have tested bette.

[2016-11-15 15:32] isidorn opened #15520 "Node debug gives stale variables if evaluation happened"
1. Debug the following program
[code]
2. In repl or watch expressions do `text = "new value"`
3. Notice how the variables view shows a stale value for `text` - VSCode is sending a `variables` request but the node debug is responding with stale results

Also happening for node2 @roblourens
We would need to drop all cached variables on evaluation request, though not sure how expensive that is.

[2016-11-15 15:33] isidorn commented on #2399
VSCode is now properly refreshing the UI however node and node2 debug adapters are providing stale variables which in practice means the variables view does not get refreshed.
Though this is captured in https://github.com/Microsoft/vscode/issues/15520
For debug adapters that do not do caching it should work fine now.

[2016-11-15 15:35] riteshatsencha opened #15521 "[ts] Property 'indexOf' does not exist on type 'string'"
- VSCode Version:1.7.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open a typescript file in the editor
2. I see errors on string methods

[code]
Any thoughts?

Thx

[2016-11-15 15:37] bpasero commented on #207
@chrmarti all I can say is that we once had a bug where we would always reopen the last used file even in the empty workspace case and I got lots of issues for such behaviour. I agree that it is hard to say if that is the majority. Though I must also say that this does not seem one of the highest voted issues so far, so maybe people got used to it.

[2016-11-15 15:38] riteshatsencha commented on #14542
It's not consistent. Upon uninstalling extension on windows sometimes I see "Reload" option otherwise nothing happens, which means I stay on the extension page in the editor. When I reopen vscode the extension is removed. This is with 1.7.1.

Thx

[2016-11-15 15:41] bpasero commented on #14038
@Tyriar is there any possibility to make `IBackupFileService` run from an in-memory model? Related issue: https://github.com/Microsoft/vscode/issues/15515

Asking because a sync `hasBackupFile()` method would fix this issue easily from the `isDirty()` check of the file editor input.

[2016-11-15 15:42] bluntcoder commented on #15402
Thanks for your question. Simply put: Although I understand VS.Code is a
separate product, I would expect it to work like Visual Studio: have two
window configuration modes, a Debug/Run mode and a Design mode. As you
toggle F5 you would be toggling between these two windowing modes. Perhaps
put that in as a configuration option.
ᐧ

* Mark Mikulec*
 Chief Technical Consultant

<http://www.mikutech.

[2016-11-15 15:53] jamietre commented on #14907
@waderyan no problem - but how do I test it? I assume there needs to be some config to tell it what aliases e.g. ~ mean.

[2016-11-15 16:02] bradley-fastorientation opened #15522 "OVER and PARTITION BY keywords in SQL are not highlighted"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

![image](https://cloud.githubusercontent.com/assets/14201124/20312867/fd0fcb8a-ab22-11e6-99f0-ee07ce4d0bc7.png)

[2016-11-15 16:26] Shayac commented on #15470
I played around w/ this a bit more and it seems I can't map a shortcut to any key combination containing `delete`

[2016-11-15 16:28] Shayac commented on #15278
It's also working fine in the insider edition

[2016-11-15 16:36] daslicht opened #15523 "Improve Scroll to bottom behavior"
- VSCode Version:

- OS Version:
OS X 10.11.6

When we currently fully scroll down to the bottom of an document we get this presented:

![](http://i.imgur.com/2Z6YbVa.png)

This would be more useful:

![](http://i.imgur.com/s1i4hgB.png)

[2016-11-15 16:36] jrieken commented on #7094
There is now an implicit `$0` at the end of a snippet -unless already specified- make this a lot better. Jumping to the end happens on <kbd>Enter</kbd>, <kbd>Tab</kbd> still cycles.

![nov-15-2016 17-35-39](https://cloud.githubusercontent.com/assets/1794099/20314305/136403a6-ab5a-11e6-937e-677b850ff320.gif)

[2016-11-15 16:36] #7094 closed

[2016-11-15 16:49] atishpatel opened #15524 "Feature Request: Button to clear old errors and warnings output"
It would be very helpful to have a button to clear all the errors generated by linters. I leave VSCode running on a project for weeks and sometimes linters give errors or warnings that can't be fixed at the moment and clutter the error and warning panel when I'm trying to debug other packages in the project.

Some linters also do weird things like lint Untitled files where I'm temporarily storing

[2016-11-15 16:50] bgse commented on #15523
There's already an issue for this somewhere, but both variants have their uses.

Assume you want to have a specific line of code in the middle of your screen (say line 37 in your screenshot), e.g. side-by-side comparison or just for easy reading. With a fixed scroll-to-bottom, you can't have that.

[2016-11-15 16:51] eamodio commented on #15519
I believe this is a dup of https://github.com/Microsoft/vscode/issues/15389 which isn't reproducible on the insiders 1.8

[2016-11-15 16:53] dylanparry commented on #15316
I am seeing the same issue with Windows 10. It strangely only happens the **second** time I open a file.

For example, if I open up this:

![image](https://cloud.githubusercontent.com/assets/3692873/20314603/a4c279de-ab52-11e6-888a-fed2b01b9a09.png)

then hit `alt + shift + f`, the file stays the same with 2-space indentation. If I then close the file, open it up again, and hit `alt + shift + f`,

[2016-11-15 16:53] daslicht commented on #15523
Sounds logical, but how often do you scroll to the bottom and how often you compare.

I think this behavior should be switchable

[2016-11-15 16:54] bgse commented on #15523
It is, sorry I didn'T mention:

`"editor.scrollBeyondLastLine": false`

[2016-11-15 16:58] mrapogee commented on #13441
@alexandrudima I'd really like this feature, if you would point me in the right direction in the source and discuss a pull request I'd be glad to work on it.

Pretty please?

[2016-11-15 17:03] roblourens commented on #15520
vscode is sending a new variables request after an eval, but the wrong values are returned? node2 definitely doesn't cache any values. I'll try it out though.

[2016-11-15 17:09] dylanparry commented on #15463
Appears to be a duplicate of #15316

[2016-11-15 17:10] dylanparry commented on #15292
I think this is describing the same issue as #15316

[2016-11-15 17:19] #15171 closed

[2016-11-15 17:20] waderyan commented on #14759
This issue was moved to Microsoft/TypeScript#12270

[2016-11-15 17:20] #14759 closed

[2016-11-15 17:22] waderyan commented on #15264
This issue was moved to Microsoft/TypeScript#12271

[2016-11-15 17:22] #15264 closed

[2016-11-15 17:26] isidorn commented on #15520
exactly - but get latest vscode source for that. Or on insiders switch focused stack frame - that should always send new variables requests

[2016-11-15 17:27] waderyan commented on #15445
@bowdenk7 can I get your eyes on OP's tsconfig above? He sent the TS log and from what I can tell it looks like there is an error in parsing the file.

[2016-11-15 17:27] dbaeumer commented on #14599
@jedfonner do you have any reproducible steps ?

[2016-11-15 17:29] waderyan commented on #14907
@jamietre apologize that my writing was unclear. Please test the situation you described in this issue. Do we still "[lose] IntelliSense" when import paths are rewritten? If you have a workspace that shows the issue can you share it with me.

[2016-11-15 17:29] dbaeumer commented on #15488
Thanks !

[2016-11-15 17:35] jrieken commented on #15292
ok - closing as dupe

[2016-11-15 17:35] #15292 closed

[2016-11-15 17:35] jrieken commented on #15316
@joaomoreno isn't this what you have seen with TS/JS and reported to them?

[2016-11-15 17:37] Seldaek commented on #541
Sorry for the spam folks but in the interest of searchability (because it took me quite some time to find this via other closed issues), I'll add a few keywords here: subword navigation, word navigation with camelCase, move by word break on capitals, wordSeparators.

And FWIW, I am happily using the extension which works wonders, and allowed me to restore sublime text-like functionality using alt[

[2016-11-15 17:37] KnisterPeter opened #15525 "Feature Requet: Open git integration for usage from commands-api"
Please make the git integration resuable by the [commands-api](https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands).

It is really cumbersome to reimplement that parts and as well the UI gets kind of laggy. Since when I checkout a branch (in my case a [github pull request](https://marketplace.visualstudio.com/items?itemName=KnisterPeter.vscode-github)) it needs a few seconds until

[2016-11-15 17:42] Tyriar commented on #15515
Yes the `fileExists` call could be avoided. I'm not sure the other IO, actual backups and removal of backups, could be avoided though (outside of buffering content change events). One of the big use cases for this is crash recovery so anything that is kept in memory would be out of date on disk.

[2016-11-15 17:44] Tyriar commented on #14038
Running in-memory will break the crash recovery case, no?

What about checking on the main process and passing the 'intiial state' over to the renderer process to be used only in workbench initialization?

[2016-11-15 17:50] jamietre commented on #14907
I can create a workspace but it's quite simple really,

module 1:

    import something from '~/module2'

where `module` might be `../../folder1/folder2/module2'

I think you might be unclear on the situation I am describing (or feature I am requesting) because import paths aren't being rewritten by VS Code, they are being rewritten during my build process by a babel plugin. VS Code would have no

[2016-11-15 17:54] dbaeumer commented on #13335
Closing since no response have been received in 10 days. Please ping with additional information can be provided.

[2016-11-15 17:58] dbaeumer commented on #598
Error reporting can now be disabled using javascript.validate.enable and typescript.validate.enable.

[2016-11-15 17:58] #598 closed

[2016-11-15 17:58] #14877 closed

[2016-11-15 17:58] ramya-rao-a commented on #15374
Yes, the errors do end up in telemetry.

The Error telemetry service gets instantiated for every workbench [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/shell.ts#L276)

The Error telemetry service in turn adds a listener to the `unexpectederrors` . This listener logs the telemetry for the unexpected errors.

Example:
`Command failed: /*****/go/bin/gocode

[2016-11-15 18:00] sandy081 commented on #14877
@aeschli Fixed this by falling back to `id`.

[2016-11-15 18:07] DanTup commented on #15485
I don't know if these explorers are the correct way to implement these, but Dart Code already had two requests for different things that would be rendered as trees:

- [outline view](https://github.com/Dart-Code/Dart-Code/issues/107)
- [type hierarchy](https://github.com/Dart-Code/Dart-Code/issues/133)

If these are the sorts of things you expect people to use it for, then I think support for mult

[2016-11-15 18:07] scgm11 commented on #1904
+1

[2016-11-15 18:08] Tyriar commented on #207
@bpasero reopening the last file and not the rest is a little different to restoring the entire state. Here is how some other editors work for this case:

- **Sublime**: *Always* restore the previous state when a folder is not opened.
- **Atom** (1.11.2): When you open a file in Atom the folder is automatically added as a "project folder", so it seems to be a little awkward to get a state where yo

[2016-11-15 18:16] Tyriar commented on #15499
This clean up (deleting the workspace's backup folder) is done during on window is closed, this is done in `IBackupFileService.discardAllWorkspaceBackups`, called from `IBackupService.cleanupBackupsBeforeShutdown`.

Wouldn't you still want to restore a crashed workspace even if it didn't have backups to restore? It would be inconsistent if crash recovery worked differently depending on whether fil

[2016-11-15 18:22] bpasero commented on #15515
@Tyriar but this IBackupFileService is scoped to a single window and workspace anyways right? So when there is a crash, there is no stale data because the memory goes down with the window anyways?

[2016-11-15 18:24] kisstkondoros commented on #15503
Duplicate of #15389

[2016-11-15 18:24] kisstkondoros commented on #15496
Duplicate of #15389

[2016-11-15 18:26] kisstkondoros commented on #15482
Duplicate of #15389

[2016-11-15 18:27] bpasero commented on #14038
@Tyriar Hm hm, yeah then we are basically back to the "restore resource" that you had, for files.

There is one thing I just realised which worries me a bit: Initially I thought just having the boolean on `EditorInput.isDirty()` would be enough for this scenario, but that is totally wrong. Many places in the UI actually go to the `ITextFileService` to find  out if there are dirty files and not to

[2016-11-15 18:29] Dragonsong3k commented on #14555
Sorry for the delay, Here is the requested details.

**# Dev tools console output**

keybindingsRegistry.ts:109Ctrl+Alt+ keybindings should not be used by default under Windows. Offender:  41004  for  code-runner.run
keybindingsRegistry.ts:109Ctrl+Alt+ keybindings should not be used by default under Windows. Offender:  41000  for  code-runner.runByLanguage
keybindingsRegistry.ts:109Ctrl+Alt+ keybi

[2016-11-15 18:30] Dragonsong3k commented on #14555
I have tried deleting the launch.json and having code create a new one. That part works fine, but when I go to debug a powershell script the drop down still says No Configuration.

[2016-11-15 18:33] bpasero commented on #207
@Tyriar this was from a time where we did not have any tabs, so for most users it did not make a big difference if we restored just one file or multiple files because it looked pretty much the same.

I suggest to put the decision to restore an empty workspace with all its UI state behind a setting that is disabled by default. It will be enabled as soon as we detect the case of a hot exit, because

[2016-11-15 18:37] Tyriar commented on #15515
@bpasero which call are you suggesting could change outside of the `pfs.fileExists` in `loadWorkspaces`?

[2016-11-15 18:38] bpasero commented on #15499
My only concern was that I see a chance that we open workspaces because we think it contains backups, even though that is not the case. While we try to clean up backup workspaces, there can always be a case of a stale backup workspace entry that does not have any backups (thats just reality if you talk to a file system and not a DB without transactions).

So I was thinking: why not guard against t

[2016-11-15 18:39] Dragonsong3k commented on #14555
I happened to notice that this line in the code console output
csharpWatcherService.ts:71 [File Watcher] [ADDED] \pjmia-srv-dev0\**PSModules.vscode**\launch.json
Refers to the path of the launch.json but in the paste the "\" is omitted before the .vscode

However, in the actual console, the slash is there.

![image](https://cloud.githubusercontent.com/assets/18618111/20318611/e447cac4-ab38-11e6-8e

[2016-11-15 18:40] bpasero commented on #14555
@Dragonsong3k great, thanks for that. If you restart after having created a launch.json, is the dropdown showing the changes you made?

[2016-11-15 18:42] bpasero commented on #15515
All of the methods that hit the fs to read from disk. Of course this would require some means of sending the configuration over from the main side to this service so that it is initialized with the correct data.

[2016-11-15 18:42] otjutt commented on #869
Still not?

[2016-11-15 18:43] brenthuisman commented on #207
@bpasero For calling vscode with a filename I would expect it to restore all state + open the file outside of any workspaces, unless its part of a project already opened.

[2016-11-15 18:44] Dragonsong3k commented on #14555
No they do not appear.

Here is the console output when I use a local path instead

Ctrl+Alt+ keybindings should not be used by default under Windows. Offender:  41004  for  code-runner.run
keybindingsRegistry.ts:109Ctrl+Alt+ keybindings should not be used by default under Windows. Offender:  41000  for  code-runner.runByLanguage
keybindingsRegistry.ts:109Ctrl+Alt+ keybindings should not be used b

[2016-11-15 18:47] bpasero commented on #14555
@Dragonsong3k to clarify, you have a "`.vscode`" folder in the folder you open with VS Code and it has a `launch.json` file within and you do not see dropdowns in the debug viewlet after a full restart? can you please share the contents of `launch.json` with me?

[2016-11-15 18:51] Dragonsong3k commented on #14555
Yes that is all correct. I have a folder called .vscode with a launch.json in it and the viewlet shows No Configuration.

Here is the contents of the file.
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "PowerShell",
            "type": "PowerShell",
            "request": "launch",
            "program": "${file}",
            "args": [],
            "cwd": "${fil

[2016-11-15 18:52] octref commented on #15485
@DanTup

These two can be done as two extensions, one explorer for each, or as two trees in a multi-section explorer, such as the `Open Editors` and `File Explorer` in the Explorer View.
Or you can do them as one tree, as outline view can also show type hierarchy.
So your case doesn't really give an answer to the question.

Not yet. We left out extension-initiated refresh. Once we have it you can

[2016-11-15 18:53] Tyriar commented on #15515
@bpasero

- `pfs.exists` in `hasTextFileBackup` (soon to be `hasBackup`): Needed unless we send state over from the main process, we've been moving away from this thinking (discussing in #14038).
- `pfs.readFile` in `loadWorkspaces`: Needed to get an up to date snapshot of backup workspaces during shutdown.
- `fileService.updateContent` in `backupResource`: Needed to ensure up to date backups are

[2016-11-15 18:55] Tyriar commented on #15499
Probably a good idea to make sure there, this may cause crash recovery to not be consistent based on if the workspace was dirty though.

[2016-11-15 18:57] bpasero commented on #14555
@Dragonsong3k can add a `settings.json` file in `.vscode` with the following content and restart:

[code]

And see if the zooming did apply? I wonder if none of the files in .vscode can be read.

[2016-11-15 18:57] dbaeumer commented on #3783
See https://github.com/Microsoft/TypeScript/issues/10473

[2016-11-15 18:57] bpasero commented on #15499
@Tyriar can you explain the thought you have on inconsistency with an example to me, I am not sure I follow.

[2016-11-15 18:58] Tyriar commented on #14038
@bpasero could that have an impact on start up time though? Hot exit will probably be the default eventually so we need to make sure it's still snappy.

[2016-11-15 18:59] bpasero commented on #15515
Yeah, fine by me. Since I had my revealing moment in https://github.com/Microsoft/vscode/issues/14038#issuecomment-260724405 I am not sure a more sync `IBackupFileService` would help me after all.

[2016-11-15 19:00] dbaeumer commented on #5716
@waderyan this should come from the TS team.

[2016-11-15 19:02] bpasero commented on #14038
I think it would be ok because all `fs` access happens async and will not block any UI updating. It is still not ideal and ugly compared to what we do today where you can have as many editors open as you want and that does not cause any additional work.

The alternative is to carry over the state of backup files to the workbench to be able to answer for the `isDirty()` quickly and then rewrite the

[2016-11-15 19:04] dbaeumer commented on #8676
VS Code now asks if you want to use a local install TS and persists it in the user settings. Pointing to a different tsconfig.json is not possible right now. A corresponding issue needs to be opened here: https://github.com/Microsoft/TypeScript/issues

[2016-11-15 19:04] #8676 closed

[2016-11-15 19:12] DanTup commented on #15485
@octref

Sure, was just meant to be feedback that might be useful when you're making a decision, I didn't mean to suggest it was a requirement (though in hindsight you probably know very well what people want from this!). Two extensions would suck a little (especially as it would either require a dependency or both extensions hosting the language service) but I think the others suggestions are ver

[2016-11-15 19:14] dbaeumer commented on #3727
this got implemented a while ago.

[2016-11-15 19:14] #3727 closed

[2016-11-15 19:19] dbaeumer commented on #11026
@waderyan at the end it would make more sense to ask the TS team to implement that. They know all open projects and files.

[2016-11-15 19:21] dbaeumer commented on #10306
I am closing the issue. As commented we do have measure to prevent that. I wasn't able to reproduce and I have no steps.

[2016-11-15 19:21] #10306 closed

[2016-11-15 19:22] dbaeumer commented on #9981
Closing since no additional information has been provided and I am not able to reproduce the issue.

[2016-11-15 19:22] #9981 closed

[2016-11-15 19:22] dbaeumer commented on #9945
Closing since no additional information has been provided and I am not able to reproduce the issue.

[2016-11-15 19:22] #9945 closed

[2016-11-15 19:23] dbaeumer commented on #9623
Closing since no additional information has been provided and I am not able to reproduce the issue.

[2016-11-15 19:23] #9623 closed

[2016-11-15 19:23] dbaeumer commented on #9592
Closing since no additional information has been provided and I am not able to reproduce the issue.

[2016-11-15 19:24] #9592 closed

[2016-11-15 19:24] dbaeumer commented on #9215
@andy-ms can you still reproduce thus ?

[2016-11-15 19:26] dbaeumer commented on #8954
Closing the issue. @rkralston please ping if this still reproduces for you.

[2016-11-15 19:26] #8954 closed

[2016-11-15 19:27] dbaeumer commented on #8716
This got addressed. Failing requests are now logged to the Output channel.

[2016-11-15 19:27] #8716 closed

[2016-11-15 19:27] #15515 closed

[2016-11-15 19:34] dbaeumer commented on #8223
OK. The problem is that the JS Doc for the Text Editor looks like this:

[code]

And the hover is interpreted as markdown which produces the link. I think there is not much the TS extension can do about this.

@joaomoreno since you own the hover rendering is there anything you think TS can do.

[2016-11-15 19:36] dbaeumer commented on #7239
Closing the issue since no additional information has been provided.

[2016-11-15 19:36] #7239 closed

[2016-11-15 19:38] dbaeumer commented on #7168
Closing the issue. Alex and I rewrote how the extension host is shutdown and I didn't see any tsserver or extension host processes hanging around. Please ping if one of you still thinks this is an issue.

[2016-11-15 19:38] #7168 closed

[2016-11-15 19:39] Tyriar commented on #15485
@DanTup I wouldn't go and build 2 extensions now, I imagine multiple trees in a single extension would be added before it's promoted to a stable API.

[2016-11-15 19:39] HookyQR commented on #15385
@jrieken, there is no `eol` parameter on the document, (technically, or the editor):

(active is the currently active editor)
[code]

So when the document is passed to the formatter, there is no `eol` parameter available.

[2016-11-15 19:40] Krzysztof-Cieslak commented on #15485
I've played a bit with API (https://twitter.com/k_cieslak/status/798607133248016386).

From the list given in 1st post I'd want to see:
* Extension-initiated refresh (I think it would handle also `Extension-initiated update to tree items`)
* Icons for node (`getIcon(node)` as part of provider ?)
* Right click menus

I'd also want to see some kind of filtering / searching abilities (In more complex

[2016-11-15 19:41] devployment commented on #101
Is it just me or is it not working? I have the the current Insiders running on a Macbook Air with the setting enabled. But no matter what I do it always asks to save the changes.

[2016-11-15 19:44] Tyriar commented on #329
@joaomoreno I'm pretty sure https://github.com/Microsoft/vscode/pull/15448 is the reason for setting both paths was failing.

@RDeluxe I believe the 2 big blockers that @rlabrecque called out are resolved in 1.8.0, you could try it in [Insiders](https://code.visualstudio.com/insiders) now by launching via the command line:

[code]

[2016-11-15 19:44] seanwcom commented on #101
Not sure if it's a difference in OS, but on Windows I think it's only
working if you have a folder open. Without a folder open I am prompted each
time as well. You can see the four parts they are working on here:
https://github.com/Microsoft/vscode/issues/101#issuecomment-255513440

On Tue, Nov 15, 2016 at 2:41 PM, devployment <notifications@github.com>
wrote:

[2016-11-15 19:44] Tyriar commented on #12129
Likely the root cause for this: https://github.com/Microsoft/vscode/pull/15448

[2016-11-15 19:47] Tyriar commented on #101
@devployment currently only cmd+q will trigger hot exit on Mac (https://github.com/Microsoft/vscode/issues/13305). Enabling hot exit all the time for a particular folder is being discussed in https://github.com/Microsoft/vscode/issues/15467.

@seanwcom support for empty (no folder) workspaces is not yet implemented, see https://github.com/Microsoft/vscode/issues/13733

[2016-11-15 19:47] ramya-rao-a commented on #15374
I'll add an `onUnexpectedExternalError` that does not call the listeners. Using this in place of `onUnexpectedError` in the language feature providers should ensure that errors get logged to console but do not end up in the telemetry.
Thoughts?

[2016-11-15 19:49] dbaeumer commented on #6287
The problem is that a ts file has always preference over a d.ts file. So you can't have both a customMatchers.ts and a customMatchers.d.ts in your workspace.

[2016-11-15 19:49] #6287 closed

[2016-11-15 19:50] gorkem opened #15527 "[java] Javadoc Syntax highlighting"
Highlighting for Javadoc sections on a Java file is missing.
See also https://github.com/redhat-developer/vscode-java/issues/94

[2016-11-15 19:51] dbaeumer commented on #5161
This got fixed by the TS team a long time ago.

[2016-11-15 19:51] #5161 closed

[2016-11-15 19:52] Tyriar commented on #15500
I'll action this after the https://github.com/Microsoft/vscode/issues/14067 PR is merged to reduce reworks due to conflicts.

[2016-11-15 19:53] dbaeumer commented on #24
Closing since I can't reproduce this anymore. Please ping if you still see the issue.

[2016-11-15 19:53] #24 closed

[2016-11-15 19:53] fbricon commented on #15527
There's a JavaDoc textmate bundle already: https://github.com/textmate/javadoc.tmbundle/blob/master/Syntaxes/JavaDoc.tmLanguage

[2016-11-15 19:54] dbaeumer commented on #973
@waderyan this is again asking for builder support.

[2016-11-15 19:54] Tyriar commented on #15129
@bpasero good point with the focus lost case. I'm not sure I agree about the disabling hot exit completely change that you did, untitled files don't get auto saved and it would certainly be convenient to trigger hot exit in that case.

[2016-11-15 19:54] dbaeumer commented on #1331
Closing since I can't reproduce this anymore. Please ping if you still see the issue.

[2016-11-15 19:54] #1331 closed

[2016-11-15 19:55] jrieken commented on #15385
@HookyQR Yes - that's why I have created #15385

[2016-11-15 19:55] jrieken commented on #15385
Well, stupid me... I meant #15510

[2016-11-15 19:56] HookyQR commented on #15385
I thought I was going in a loop... :)

[2016-11-15 19:57] Tyriar commented on #15509
Was it an empty workspace? Can't repro on today's insiders or master?

[2016-11-15 20:02] DanTup commented on #10306
@dbaeumer apologies, I meant to come back to this. I've seen it a few times since (not many, maybe two or three). I think it's always after I change git branch in GitHub Desktop but I've always been in the middle of something so not gone back and retried. I'll do some more testing on Friday and post back if I can get a reliable repro.

[2016-11-15 20:03] geddski commented on #1884
it would be great to make skinning the entire UI possible

[2016-11-15 20:04] Jonatino opened #15528 "Hot Exit Does not Open Unsaved File on Launch"
- VSCode Version: 1.8.0-Insider
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Open multiple files
2.  Create new unsaved file
3. Type in mumbo jumbo
4. Close VSCode (hot exit)
5. Open VSCode

You will notice that your mumbo jumbo tab is not the tab that is it focus (it seems like there is a delay for opening hot exit'ed files?).

I can make a video if instructions are unclear.

[2016-11-15 20:10] jrock2004 opened #15529 "curl latest deb file"
This is not a bug but more a question of how to download the latest deb file via command line in Linux. I have tried the following but it downloads the html file and not the file itself

[code]

I want to do this as I have a setup script that I run when I setup my linux environment. Thanks

[2016-11-15 20:10] abgivant commented on #15004
I use a similar module pattern in an application I'm working on, and the lack of IntelliSense for those has been an issue for me as well.

Mine follow this basic pattern:
[code]

Would it be possible to do something like include an option in the .jsconfig file to specify a property name or list of names to track when determining module exports?

[2016-11-15 20:11] Jonatino commented on #15528
@Tyriar

[2016-11-15 20:14] Ratismal commented on #15039
Not sure if I've done it correctly, but I published it [here](https://marketplace.visualstudio.com/items?itemName=ratismal.legacy-js-grammar) @linusbrolin

[2016-11-15 20:17] jrieken commented on #15485
@DanTup Re https://github.com/Microsoft/vscode/issues/15485#issuecomment-260718972 We are actually not very keen on that happening. If we end up with an *outline view* or *type hierarchy* UI per (language) extension we have failed to deliver a streamlined editor with consistent and easy to understand UI.

For common *programming*-scenarios like show type hierarchy we should do the same we have alr

[2016-11-15 20:20] jrieken commented on #15374
I like

[2016-11-15 20:20] brudgers opened #15530 "Code asks for git credentials even with a credential helper set up"
Constantly getting popups asking for my login. I don't want to turn off fetch.

I've got credential caching turned enabled in the Git's credential-helper. It doesn't make any difference. I get a modal dialog box asking for my credentials every few minutes.

On top of that, the dialog box doesn't scale to my 4k display, so it's really tiny (as in unreadable) with Xmonad and steals focus from whatev

[2016-11-15 20:21] efirvida opened #15531 "vscode configuring new shell to open in the current project directory"
Hi i´m trying to reconfigure the terminal of my vscode proyect to use a terminal provided by a .bat script that works like this:

`shell.bat CHANGE_PATH <path where the shell open>`

and I configure my tterminal like this

[code]

but the ${workspaceRoot} variable did't work and the shell is opened on its default path

[2016-11-15 20:25] geddski commented on #871
love this idea

[2016-11-15 20:33] pthalacker commented on #10281
I just opened Code and am experiencing exactly the same problem.

[2016-11-15 20:39] efirvida opened #15532 "matching bracktes and quotes auto replace"
Hi,

Here’s a feature request for a thing that I alwys want to have, and I think that may be part of the auto creation of the closed brackets.
It's really coll that when I open a brcket or quotes auto appear its closing pair. but wat I want is taht I cant change the created/auto created bracket by another even if there is code/text in betwen them, without having to jumpe to its matching pair.

som

[2016-11-15 20:52] Tyriar commented on #3776
:+1:, FYI @gkalpak multiple folder workspaces is tracked in https://github.com/Microsoft/vscode/issues/396

[2016-11-15 20:55] sandy081 commented on #14542
@riteshatsencha If you uninstall an extension which you installed (without reopening VSCode) reload action will not be shown as it is not required. Reload action is shown only if required.

May I ask you to try latest insiders and tell us what you see?

Thanks

[2016-11-15 20:57] dbaeumer commented on #2049
This works for me in the latest. Seem to got fixed by the TS team. Closing.

[2016-11-15 20:57] #2049 closed

[2016-11-15 21:01] dbaeumer commented on #2087
The hover has now scroll bars. However it still takes some time to open it (1 - 2 seconds). Closing since no further action is planned.

[2016-11-15 21:01] #2087 closed

[2016-11-15 21:01] Tyriar commented on #15485
@jrieken if the outline tree is always present I've found it can be a great way of familiarizing yourself with the contents of a file as it essentially puts the interface (of a class) on the side. Also when I use <kbd>ctrl</kbd>+<kbd>r</kbd> to look at the symbols I only ever care about the high level symbols, there is also some weird duplication of symbols that happens in some files. Take https:/

[2016-11-15 21:10] DanTup opened #15533 "Create a "TypeHierarchyProvider" api for visualising type hierarchies"
(Split from #15485)

Dart Code has had requests for viewing/navigating [type hierarchies](https://github.com/Dart-Code/Dart-Code/issues/133). We've [implemented](https://github.com/Dart-Code/Dart-Code/pull/190) this for now using the pick-list, but we had to make compromises to fit it into a flat list.

Some other editors have this functionality and it's a concept that's not specific to Dart, so i

[2016-11-15 21:12] DanJ210 commented on #4865
I was thinking that it would be great if we could click our middle mouse button and navigate around the editor like we can in a browser like Microsoft Edge, or Visual Studio. Scrolling up and down is great but side to side would be greater! I would love to be able to click the middle mouse button to bring up the up,down,left,right scroll wheel and move around the screen by moving the mouse. Try it

[2016-11-15 21:21] DanTup commented on #15485
@jrieken

I actually totally agree with everything you said; I would much rather Code has a standard way of implementing these that was consistent across languages. There's already a request for one of these (#5605) but it hasn't been really clear if it's likely to be implemented which is why I hadn't raised the other (and wondered if it'd make sense for me to try to do with this new tree).

I've

[2016-11-15 21:23] Dragonsong3k commented on #14555
I added the settings.json The zoom was not applied

![image](https://cloud.githubusercontent.com/assets/18618111/20324783/e175e314-ab4f-11e6-9404-cb8564004acb.png)

I restarted code and did not see the change.

[2016-11-15 21:25] dbaeumer commented on #3652
Tried to reproduce using https://github.com/Microsoft/vscode-react-native but wasn't able to do so. I will close the issue. @digeff  Please ping if this is still an issue you are seeing.

[2016-11-15 21:25] #3652 closed

[2016-11-15 21:28] dbaeumer commented on #3660
Dups https://github.com/Microsoft/vscode/issues/2092

[2016-11-15 21:28] #3660 closed

[2016-11-15 21:29] Tyriar commented on #15528
Thanks for the report, this is a duplicate of https://github.com/Microsoft/vscode/issues/14116. Note that it only affects untitled files right now, eventually they will be restored just like text files :smile:

[2016-11-15 21:29] #15528 closed

[2016-11-15 21:31] dbaeumer commented on #11173
@waderyan when you plan to fix this, please ping me. This will not be trivial since it requires quite some code changes.

[2016-11-15 21:32] dbaeumer commented on #10306
@DanTup Thanks.

[2016-11-15 21:34] ramya-rao-a commented on #15501
@ADRIAGUSJO we would need information on what the issue actually is

[2016-11-15 21:37] ramya-rao-a commented on #15079
There is another extension that does the same https://marketplace.visualstudio.com/items?itemName=wmaurer.change-case

#3776 is tracking missing keyboard shortcuts for common commands which includes the upper/lower case scenario.

Closing this as there are 2 extensions and a tracking issue

[2016-11-15 21:37] #15079 closed

[2016-11-15 21:38] bgse commented on #15530
What specific Linux are you using? I only ever get asked once for my ssh key passphrase, worked on Fedora21, Fedora23 and Ubuntu16.04 for me.

[2016-11-15 21:40] ramya-rao-a commented on #15494
@iflores782 VS Code does not support C# debugging out of the box. That is done via extensions. You must be using an extension to help you code in C# in VS Code. We suggest you open issues in the repo for that extension, as they will be able to help you better.

[2016-11-15 21:40] #15494 closed

[2016-11-15 21:40] chrmarti opened #15534 "Align git command palette interaction with command line"
- VSCode Version: 1.7

Intuitively I'd expect `git branch -d some_name` to allow me to delete a branch. Other subcommands could be supported the same way, for some the completion item might tell you what it does (like when creating a branch), for others it's fine if it doesn't.

I like how it supports creating a new branch by assuming an unknown name after `git checkout` is a branch to be created.

[2016-11-15 21:41] Tyriar commented on #11422
@jrieken co-processes wouldn't allow an extension to determine if a process is currently running the shell though, only reacting to stdout. While you could potentially scan stdout for a pattern to know if the command has terminated, if there's a way to solve this in a more generic way that was guaranteed to work would be very useful and convenient. Something like this:

[code]

The main use case f

[2016-11-15 21:48] Tyriar commented on #15499
I always envisioned a prompt after a crash asking if you want to restore (mainly to avoid a relaunch loop if it crashes due to the workspace characteristics). Thinking about it a bit more, I haven't seen any code that handles crashes on the main process. If the main process knew a particular window crashed then this could be handled easily there.

[2016-11-15 21:50] Tyriar commented on #15420
Thanks for the info, it seems to be related to the relayout logic not properly using `editor.fontSize`.

[2016-11-15 21:53] dbaeumer opened #15535 "Adapt TSServer 2.1.x"
- VSCode Version: 1.8.x

[2016-11-15 21:53] mjbvz commented on #15472
Looks like this has already been added to the JavaScript extension: https://github.com/Microsoft/vscode/blob/master/extensions/javascript/package.json#L101

I confirmed that we get validation for `jsconfig.json` files.

[2016-11-15 21:53] #15472 closed

[2016-11-15 21:56] dbaeumer opened #15536 "Explorer if we should pre-seed TS typings with the tsserver"
- VSCode Version: 1.8.x

Currently typings are fetch from npm. We shouldexplore the option to pre-seed a set of typings with the tsserver to avoid npm requests.

[2016-11-15 21:57] chrmarti opened #15537 "Translations in Debug viewlet"
- VSCode Version: 1.7.2 smoke test
- OS Version: Ubuntu 14.04

Steps to Reproduce:

1. Open code with locale DE, open debug viewlet
2. "All Exceptions", "Uncaught Exceptions" are not translated
3. A watch expression that can't be evaluated shows an untranslated: "not available"

[2016-11-15 21:57] dbaeumer commented on #15536
Since npm caches modules and we need to check for a newer version anyways it might not make too much sense to add another cache. Makes things only more complicated.

[2016-11-15 21:59] ramya-rao-a commented on #15490
@sandy081 Would this be a feature request or an extension candidate?

One more thing I found is that ctrl/cmd+shift+F only works if the word is explicitly selected either by dragging using mouse or using shift + arrow.
If we just have the cursor on a word,  ctrl/cmd+shift+F does not pick up the word.

[2016-11-15 22:04] mjbvz commented on #6858
@aeschli I also gave this a try recently and was unable to get it working. Are there any example extensions that have a grammar with `injectTo` working? Thanks.

[2016-11-15 22:12] Tyriar commented on #15514
I thought `IFileService` always default to UTF-8 is no options are provided, is this not true?

[2016-11-15 22:24] ramya-rao-a commented on #15503
Closing as duplicate. Please use the insiders build until the next VS Code update

[2016-11-15 22:24] #15503 closed

[2016-11-15 22:24] ramya-rao-a commented on #15519
Closing as duplicate. Please use the insiders build until the next VS Code update

[2016-11-15 22:24] #15519 closed

[2016-11-15 22:24] ramya-rao-a commented on #15482
Closing as duplicate. Please use the insiders build until the next VS Code update

[2016-11-15 22:24] #15482 closed

[2016-11-15 22:26] ramya-rao-a commented on #15496
Closing as duplicate. Please use the insiders build until the next VS Code update

[2016-11-15 22:26] #15496 closed

[2016-11-15 22:27] octref opened #15538 "Menu item not translated"
While smoke testing 1.7.2 eb1f17eff8393fa2ab0b1bd7d12bd63fc99146b6

![image](https://cloud.githubusercontent.com/assets/4033249/20326881/874f7298-ab3f-11e6-8dca-2bed97fe75b5.png)

![image](https://cloud.githubusercontent.com/assets/4033249/20326884/8c717866-ab3f-11e6-955f-1e813322624a.png)

[2016-11-15 22:28] ramya-rao-a commented on #15495
@ammarsabir26

For the first issue, intellisense comes from the C# extension. Please log an issue in the repo for the extension.

For the second issue, which you have logged separately as #15496, the fix is in the insiders build. Please use that until then next VS Code update

[2016-11-15 22:28] #15495 closed

[2016-11-15 22:29] ramya-rao-a commented on #15497
As mentioned in the other issue that you logged #15495, intellisense comes from the C# extension. Please log an issue in the repo for the extension.

[2016-11-15 22:29] #15497 closed

[2016-11-15 22:32] vladmyr opened #15539 "Show horizontal scrollbar in the files explorer"
- VSCode Version: 1.7.1

It would be nice to have horizontal scroll on explorer sidebar, especially when you are working on a project with deeply nested files

[2016-11-15 22:36] ramya-rao-a commented on #15449
@dan-gamble [Working without tabs](https://code.visualstudio.com/docs/editor/tabs#_working-without-tabs) should help

[2016-11-15 22:37] octref opened #15540 "Menu Item has wrong text for toggling Status Bar"
While smoke testing 1.7.2 eb1f17eff8393fa2ab0b1bd7d12bd63fc99146b6

![sb](https://cloud.githubusercontent.com/assets/4033249/20327154/c4fe3a88-ab40-11e6-84e8-f026fe03c0fa.gif)

Might be related to #14448.

[2016-11-15 22:40] dan-gamble commented on #15449
I've followed this :). The main problem is when I close my current document all the other tabs still exist. It's just the tab bar is hidden. I wondered if it's possible to have only one document open at a time. Not just viewing 1 at a time

[2016-11-15 22:40] octref opened #15541 "Open Recent should show exact match first"
While smoke testing 1.7.2 eb1f17eff8393fa2ab0b1bd7d12bd63fc99146b6

![image](https://cloud.githubusercontent.com/assets/4033249/20327308/60030b1c-ab41-11e6-9273-da623b4fbc9d.png)

[2016-11-15 22:41] dbaeumer commented on #14043
Blocked by https://github.com/jrieken/gulp-tsb/issues/51

[2016-11-15 22:42] ramya-rao-a commented on #15461
@xiaoxiongli
This would be a question for the C++ extension being used for debugging. Which extension are you using?

@weinand Any insights before moving this to extension repo?

[2016-11-15 22:46] ramya-rao-a commented on #15463
Closing as duplicate of #15316

[2016-11-15 22:46] #15463 closed

[2016-11-15 22:46] weinand commented on #15461
@ramya-rao-a yes, this is a question for the C++ extension.

[2016-11-15 22:51] ramya-rao-a commented on #15477
@balajikris

How are the extension dependencies being removed if they were not installed with the extension which has dependency on it? Was the dependency already installed?

[2016-11-15 22:52] octref opened #15542 "Markdown preview doesn't work correctly when zoomed in"
While smoke testing 1.7.2 eb1f17eff8393fa2ab0b1bd7d12bd63fc99146b6

![md](https://cloud.githubusercontent.com/assets/4033249/20327679/04510b00-ab43-11e6-8b5f-ab455606f214.gif)

[2016-11-15 22:53] balajikris commented on #15477
No, I installed the dependency by hand to test my extension's functionality. While uninstalling mine, I noticed that it asks me for a bundle removal, so I tested that path and found that to work.

[2016-11-15 22:54] ramya-rao-a commented on #15471
Try Ctrl+Shift+O or just type `@` in the command palette. That should give you the file outline.

[2016-11-15 22:54] #15471 closed

[2016-11-15 22:54] ramya-rao-a commented on #15466
what is your scenario?

[2016-11-15 22:57] shanalikhan commented on #15466
my extension"[code-settings-sync](https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync)" that sync extension across multiple devices. If one extension is installed in one code, it installs on second code instance on work PC.

But when user disables the extension and make a backup and when it downloads the extension it enables that extension, i need to disable it from API
Iss

[2016-11-15 22:58] ramya-rao-a commented on #15468
You can add `_` to the `editor.wordSeparators` setting this would treat the words delimited by `_` as separate words.

[2016-11-15 22:58] #15468 closed

[2016-11-15 22:59] ramya-rao-a commented on #15461
@xiaoxiongli Please open an issue in the repo of the extension that you are using for C++ debugging

[2016-11-15 22:59] #15461 closed

[2016-11-15 23:00] amkgo commented on #871
Show any plain text in addition to commands will be great:

For example, using `ctrl+;` to move to the end of line and add `;` and then move to the next line.
[code]

[2016-11-15 23:01] wilferraz commented on #15471
Thank you. Although the file outline is helpful, It is not the same thing I mentioned in the issue. The file parser can have a better interface to allow the user to navigate into the functions, structures and its memebers.

Sent from my iPhone

On Nov 15, 2016, at 5:54 PM, Ramya Rao <notifications@github.com<mailto:notifications@github.com>> wrote:

Try Ctrl+Shift+O or just type @ in the command p

[2016-11-15 23:05] faisalhakim47 commented on #14599
it happens to me too in javascript, I cant reproduce it, because it happens occasionally after paste some code and format it. I use format on save.

[2016-11-15 23:16] octref commented on #15485
IMO Symbol search and Outline View serve different use cases.

- Symbol -> you know what you are looking for and want to quickly jump to there.
- Outline -> quickly scanning high-level structure of a file.

In a sense Outline is closer to Minimap instead of Viewlet I believe.

And as Outline View is a special case and not very suitable as an extension using this API (as @jrieken pointed out, it de

[2016-11-15 23:17] ramya-rao-a commented on #12950
This still happens in Windows using the virtual keyboard

[2016-11-15 23:19] ramya-rao-a commented on #15453
Closing as Duplicate of #15303

[2016-11-15 23:19] #15453 closed

[2016-11-15 23:19] ramya-rao-a commented on #12950
Will use #15303 to track the Windows issue

[2016-11-15 23:19] #12950 closed

[2016-11-15 23:20] roblourens commented on #15384
Investigate alternative indexed filesystem search tools
	- Access to macos spotlight or windows equivalent?
	- Google Desktop is discontinued

Investigate Postgres fuzzy text search
	- Any blocking issues… solution for packing and shipping with a client app?
	- If feasible, prototype

Try CLucene
	- It's not consistently maintained anymore but are people using it in production?

Stress test lunr.j

[2016-11-15 23:20] balajikris commented on #15477
I also looked at https://github.com/Microsoft/vscode-extension-samples/tree/master/extension-deps-sample and tried the examples suggested there and it didn't help. I still observe the same behavior.

[2016-11-15 23:20] ramya-rao-a commented on #15303
I see this while adding emoji symbols from the virtual keyboard in Windows as well

[2016-11-15 23:22] dbaeumer opened #15543 "Adapt TSServer 2.0.10."

[2016-11-15 23:24] #15543 closed

[2016-11-15 23:26] ramya-rao-a commented on #15487
Duplicate of https://github.com/Microsoft/TypeScript/issues/9210

[2016-11-15 23:26] #15487 closed

[2016-11-15 23:33] dbaeumer opened #15544 "Disconnect icon rendered large under Windows in High DPI mode"
![capture](https://cloud.githubusercontent.com/assets/1931590/20328657/d2f288ee-ab48-11e6-9d25-32e8a115de98.png)

[2016-11-15 23:36] ramya-rao-a commented on #15479
Is it breaking on the breakpoint or at the line from where the exception is being thrown?

[2016-11-15 23:41] ramya-rao-a commented on #15449
Interesting, so you want to have only one editor open at any time.

@bpasero A setting to limit the number of editors open ?

[2016-11-15 23:42] octref opened #15545 "Improve Typography of Markdown Preview"
- VSCode Version: 1.7.1
- OS Version: macOS 10.11.6

Currently the text looks really cramped together and too light.

![image](https://cloud.githubusercontent.com/assets/4033249/20328749/46f0d50c-ab49-11e6-8658-d9cf57a3ef75.png)

Made a change to use `-apple-system` at 16px.

- Left: `-apple-system`, which is San Francisco. 16px.
- Right: `HelveticaNeue-Light`. What we are using. 14px.

![image](h

[2016-11-15 23:45] ramya-rao-a commented on #15471
In the file outline, when you select a function/struct/variable, you get navigated to the chosen function/struct/variable.
You can try symbol search. Type `@` and then type the function/variable you are looking for.

[2016-11-15 23:50] dbaeumer commented on #15472
Cool. Thanks.

[2016-11-15 23:56] mjbvz commented on #15542
Thanks. This is a duplicate of #5745, which is tracking general webview zoom problems.

[2016-11-15 23:56] #15542 closed

[2016-11-16 01:02] ramya-rao-a commented on #14727
_From @atombendor_

<img width="678" alt="screen shot 2016-11-14 at 13 11 12" src="https://cloud.githubusercontent.com/assets/50314/20276811/e8b7bd8a-aa6b-11e6-8188-78c294ce5efd.png">

The file `cmd/gradient/main.go` is scored lower even though the text I typed matches contiguously. The top matches have matched random characters in other file names which seem to have accidentally have bumped their

[2016-11-16 01:02] ramya-rao-a commented on #15474
Closing in favor of #14727

[2016-11-16 01:02] #15474 closed

[2016-11-16 01:06] chrmarti opened #15547 "Update watermark with commands relevant in context"
We should remove the editor commands from the watermark because these cannot be acted on at the time the watermark is shown. We also need to distinguish between the workbench being open on a folder or not, some commands make more sense in one case than the other. The following is a proposal for the (currently 5) commands in each case:

Commands in an empty workbench:
- Show All Commands
- Open Fil

[2016-11-16 01:33] jerome-franco commented on #1974
@marc314 Use Object.assign for now if you want to get rid of that red squiggles.

[2016-11-16 02:25] Cellery72 commented on #2686
Any chance of  implementation of the feature 'opening multiple instance's of the same project' in the near (3-6 month) future? VSCode is great, I enjoy using it daily but lack of multiple instances pains me when I must open another editor to view multiple project files side by side. Split editor is great and all..  but anymore than two isn't very efficient.

If not I understand that this truly is

[2016-11-16 02:25] ramya-rao-a commented on #15505
Intellisense is provided by the extensions. Please log an issue in the repo of the corresponding extension that you are using for C++

[2016-11-16 02:25] #15505 closed

[2016-11-16 02:30] ramya-rao-a opened #15548 "Css linting not showing errors/warnings"
- VSCode Version: 1.8.0 insiders
- OS Version: Windows and Mac OS X

Steps to Reproduce:

1. Create an empty ruleset in a css file

In VSCode 1.7.1 and earlier, you would see the below
![image](https://cloud.githubusercontent.com/assets/16890566/20332561/92b3e494-ab61-11e6-8817-737053d52d6a.png)

In the Insiders there are no squigglies and the Problems view is empty as well

[2016-11-16 02:37] ramya-rao-a commented on #15538
These are Mac specific menu items, am not sure if these are tracked in our list of localization strings.
@dbaeumer Thoughts?

[2016-11-16 02:38] ramya-rao-a commented on #15532
So you are saying that you want a way to change for example `[abc]` to `{abc}` ?

[2016-11-16 02:54] ramya-rao-a commented on #15471
Also, #15222 also talks about something similar. I don't know what CTags/Sidekick has to offer, but can you chime in #15222 with a screenshot?

[2016-11-16 03:02] ramya-rao-a commented on #15334
I see this in insiders:
![image](https://cloud.githubusercontent.com/assets/16890566/20333145/83edf554-ab65-11e6-9bee-a63d9d353fa7.png)

With a space after `num` in line 6 its all fine

![image](https://cloud.githubusercontent.com/assets/16890566/20333146/8ae00744-ab65-11e6-9f43-5881739ab2e2.png)

This is 1.7.1
![image](https://cloud.githubusercontent.com/assets/16890566/20333194/d12172d8-ab65-11e

[2016-11-16 03:04] ramya-rao-a commented on #15507
Closing as duplicate of #13780

[2016-11-16 03:04] #15507 closed

[2016-11-16 03:07] ramya-rao-a commented on #15523
Thanks @bgse .

@daslicht The setting @bgse mentioned should solve your problem

[2016-11-16 03:07] #15523 closed

[2016-11-16 03:10] ramya-rao-a commented on #15518
Closing as duplicate of #14962

[2016-11-16 03:10] #15518 closed

[2016-11-16 03:14] ramya-rao-a commented on #15517
Can you retry with extensions disabled?

[2016-11-16 03:22] ramya-rao-a commented on #14739
Same error from the same file but different place where `validatePosition` is used.
Seen in VS Code 1.71

/vs/workbench/api/node/extHostDocuments.ts#392:33 (length)
/vs/workbench/api/node/extHostDocuments.ts#368:19 (validatePosition)
/vs/workbench/api/node/extHostDocuments.ts#280:19 (validateRange)
/vs/workbench/api/node/extHostDocuments.ts#258:42 (_getTextInRange)
/colorDecorators.ts#82:25
/color

[2016-11-16 03:28] ramya-rao-a commented on #15346
Something similar also seen in 1.7.1

/vs/workbench/parts/extensions/electron-browser/extensionsWorkbenchService.ts#643:75 (id)
/vs/workbench/parts/extensions/electron-browser/extensionsWorkbenchService.ts#643:45 (some)
/vs/workbench/parts/extensions/electron-browser/extensionsWorkbenchService.ts#328:35 (getExtensionState)
/vs/workbench/parts/extensions/electron-browser/extensionsWorkbenchService.

[2016-11-16 03:33] brudgers commented on #15530
Ubuntu 16.04

On Tue, Nov 15, 2016 at 3:38 PM, Benjamin Gerfelder <
notifications@github.com> wrote:

[2016-11-16 03:40] meshula opened #15549 "Feature request - Keyboard binding for run tasks popup menu"
I have made a bunch of tasks in my tasks.json file.

Current behavior-
cmd-shift-p find Run Tasks, click, click my task

Desired behavior -
I would like to replace the cmd-shift-b key-binding (or any key-binding of course) with jumping directly to the tasks pop up menu so I can pick one of many tasks.

[2016-11-16 03:42] meshula commented on #15524
Similar to this request, I would also like to be able to clear errors from the build system.

[2016-11-16 03:45] iSazonov commented on #15303
Another example file [CoreAdapter.cs](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/CoreAdapter.cs#L3145)

[2016-11-16 03:47] youdonghai opened #15550 "Emit first key chord when timeout or wrong second key chord"
- VSCode Version: 1.7.1
- OS Version: Windows7

Steps to Reproduce:

1. add new keyboard shortcut "; n"
2. press ";"
3. will wait for second key chord forever if I don't press any key
4. press a wrong second key chord, nothing happen

Expected:
1. at step 3 should have a timeout, when timeout the firset key ";" will input.
2. at step 4, if a wrong second key press, like "m", then the ";m" will inp

[2016-11-16 03:52] Tyriar commented on #15529
You need to follow the redirects using `-L`:

[code]

[2016-11-16 03:52] #15529 closed

[2016-11-16 03:59] warrenwza opened #15551 "Code Lens - Left Align (# references)"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|Angular2|johnpapa|1.0.2|
|csharp|ms-vscode|1.5.2|
|team|ms-vsts|1.108.0|
|vscode-icons|robertohuertasm|4.0.1|
|vscode-wakatime|WakaTime|1.0.6|
|wallaby-vscode|WallabyJs|1.0

[2016-11-16 04:53] Tyriar commented on #15531
This is currently not built-in. I did make an extension that exposes a command that does just this though https://marketplace.visualstudio.com/items?itemName=Tyriar.vscode-terminal-here

[2016-11-16 04:53] #15531 closed

[2016-11-16 04:58] #15540 closed

[2016-11-16 05:09] bpasero commented on #15129
@Tyriar I [fixed](https://github.com/Microsoft/vscode/commit/fff5e49ebc6d08b11038ff37633382cc8b5e9fdd) that

[2016-11-16 05:10] bpasero commented on #15509
@Tyriar yes, reproduces in insiders for me:
* enable hot exit
* have a new untitled file with changes
* Cmd/Ctrl+R

[2016-11-16 05:12] bpasero commented on #15499
We have this and show a dialog: https://github.com/Microsoft/vscode/blob/master/src/vs/code/electron-main/windows.ts#L778

However I noticed that the reload button in most cases does not work if the window is crashed. This seems like an upstream issue to me.

[2016-11-16 05:13] bpasero commented on #15514
@Tyriar no, the default is to pick the encoding as picked by the user via settings. The only exception is:
* if the file contains a BOM (UTF-8 or UTF-16), we use it to detect the right encoding
* if the file is settings.json either inside or outside the workspace we use UTF-8

[2016-11-16 05:14] bpasero commented on #15449
https://github.com/Microsoft/vscode/issues/9872

[2016-11-16 05:14] #15449 closed

[2016-11-16 05:15] bpasero commented on #15547
@chrmarti I also suggest to disable the watermark experiment and show the watermark for all users.

[2016-11-16 05:28] jwatkin commented on #1758
Is there a way to vote this up? The basic template provided in a Foundation 6 project contains maps assigned to variables in the default _settings.scss file. I'm new to Sass and Visual Studio Code but so far this seems like a common use case. Thank you.

[2016-11-16 05:34] HookyQR opened #15552 "getConfiguration fails regression test 1.7.1 -> 1.8"
It seems (I think it's probably this) https://github.com/Microsoft/vscode/pull/15007 has broken the use of `getConfiguration` with depth settings passed:

With no user settings at all (the default options):
[code]
Under 1.8:
[code]
Under 1.7.1:
[code]

Causes: https://github.com/HookyQR/VSCodeBeautify/issues/70

I can't guarantee it's this change, but it looks to be the right area.

[2016-11-16 06:30] buzzzzer opened #15553 "Error on run code from source"
- VSCode Version: master
- OS Version: Win 10, node 6.9.1
Two days ago after update from git I cant build source correctly.
compilation 0 error but after scripts\code I got Error:

`>scripts\code

[7736:1116/091234:INFO:CONSOLE(136)] "Loading "gc-signals" failed", source: file:///vscode/out/vs/loader.js (136)
[7736:1116/091234:INFO:CONSOLE(137)] "Detail: ", source: file:///vscode/out/vs/loader.js

[2016-11-16 06:46] jimsorock commented on #6173
@neubeee you have slashes going one way and then the other. Check your launch.js and make sure it is using escaped slashes since youre on windows. i.e.
`"${workspaceRoot}\\server.js"`
Chances are you're using or sharing this project with someone running vs code on a mac.  I switch between machines and noticed this issue.  It is probably best practice to not commit the launch.json imho.

[2016-11-16 07:06] dan-gamble commented on #15449
#9872 explains it much better than me

[2016-11-16 07:12] MartinSGill commented on #15466
Isn't it a bit more involved than that?

When syncing extensions you need to know every extension that's installed (regardless of disabled or not) then you need to also somehow get information on which extension is disabled for which workspace.

That way you can also sync the workspace settings, essentially providing a backup, it might even be possible to share the workspace settings across instal

[2016-11-16 07:39] hxfdarling opened #15555 "Sometimes, don't support using the TAB indent style format js code"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-css-formatter|aeschli|0.0.2|
|vscode-caniuse|akamud|0.5.3|
|vscode-javascript-snippet-pack|akamud|0.1.5|
|vscode-theme-onedark|akamud|0.2.13|
|Bookmarks|alefragnani|0.10.0|
|project-manager|alefrag

[2016-11-16 08:06] weinand commented on #15537
The options "All Exception" and "Uncaught Exceptions" are created with the correct translations when a debug extension is used for the first time:

![2016-11-16_09-01-50](https://cloud.githubusercontent.com/assets/1898161/20339207/5984718c-abdb-11e6-99a5-f7208e14ca99.png)

If the locale is changed later, the options are not updated.
@isidorn could you update the options if you notice that the labe

[2016-11-16 08:06] joaomoreno commented on #15452
You've at least convinced me to seriously consider making a change. Good job! 👍

[2016-11-16 08:12] devployment commented on #101
Ok. Totally missed those. Thanks for the pointers. Will check the linked tickets. Keep up the great work!

[2016-11-16 08:18] joaomoreno commented on #15316
It could be Microsoft/TypeScript#12175

[2016-11-16 08:20] joaomoreno commented on #8223
Oh wow. We can just render links at standard text and take away their click behavior, in the hover.

[2016-11-16 08:21] joaomoreno commented on #15534
We will very likely go away from this whole feature, as git turns to an extension.

[2016-11-16 08:22] joaomoreno commented on #15525
I'll merge this in #15246, which can't be accomplished without this.

[2016-11-16 08:22] #15525 closed

[2016-11-16 08:25] johneriksson commented on #2839
I just experienced this. My "stage selected lines" option was grayed out for no apparent reason. I tried closing files & tabs, removing the changes and then trying again but no luck. Restarting Code fixed it. Now I am not able to reproduce it however, so this might not be useful information to you... :/

[2016-11-16 08:26] jrieken commented on #11422
I see

[2016-11-16 08:31] jrieken commented on #15513
I believe each editor side is represented as an editor right now

[2016-11-16 08:31] joaomoreno commented on #15530
This is strange. You shouldn't see a credential dialog at all, if you have a credential manager correctly set up. Which credential manager are you using? How did you set it up? When you `git fetch` from the command line, does git ask you for you password all the time too?

[2016-11-16 08:37] aeschli commented on #15473
duplicate of #14539

[2016-11-16 08:37] #15473 closed

[2016-11-16 08:43] joaomoreno opened #15557 "Adopt latest Marketplace CDN changes"
The Marketplace extension query now returns two Asset URI’s: `assetUri` and `fallbackAssetUri`.

Asset downloads should work the following way:

- **VSIXPackage**
  1. Use `fallbackAssetUri` with the `redirect` param.
  2. Fallback to `fallbackAssetUri` without the `redirect` param.
- **Other assets**
  1. Use `assetUri` without the `redirect` param.
  2. Fallback to `fallbackAssetUri` without the

[2016-11-16 08:59] sandy081 commented on #15477
@balajikris Installing extension dependencies is not supported when installing as VSIX and not from market place.

[2016-11-16 09:06] isidorn commented on #2839
I confess I also see it once evert couple of months -> let reopen and try to get steps

[2016-11-16 09:15] jrieken opened #15558 "Layer breakers in our code"
There is `https://github.com/Microsoft/vscode/blob/master/src/vs/platform/textmodelResolver/common/resolver.ts` with a dependency onto `import { IModel } from 'vs/editor/common/editorCommon';` which isn't legal. It should live in `editor/common/services`

[2016-11-16 09:17] bpasero opened #15559 "Include more performance details in telemetry on startup"
Currently we only log ONCE on startup:
* the time it takes from startup until the workbench is ready (viewlet and editors open)
* number of CPUs
* memory

In the future we would like to log more to find out about our performance issues on startup
* log startup for each opened window, not just the very first one
* distinguish between an initial start (no windows) and subsequent window open
* log if

[2016-11-16 09:24] aeschli commented on #15522
This issue was moved to textmate/sql.tmbundle#19

[2016-11-16 09:24] #15522 closed

[2016-11-16 09:25] sandy081 commented on #15490
IMO this is an extension candidate.
User can already get this behaviour (only through mouse) by
- Select text in the editor
- Click on `Edit` menu
- Click on `Find in Files`

User can also build an extension easily by registering following menu command

[code]

[code]

[2016-11-16 09:25] #15490 closed

[2016-11-16 09:26] aeschli commented on #15334
This issue was moved to Microsoft/TypeScript-TmLanguage#356

[2016-11-16 09:26] #15334 closed

[2016-11-16 09:30] sandy081 commented on #15524
Problems panel is built only to show the problems generated by various background linters/tasks. If there are errors, it makes sense to always show them. Not showing them would leave to invalid state.

Instead, you should be able to configure linters/tasks in the way you wanted.

[2016-11-16 09:30] #15524 closed

[2016-11-16 09:33] lloeki commented on #15452
Awesome! Thanks to you for having kept on lending an ear :-)

[2016-11-16 09:33] sandy081 commented on #15466
I agree with @MartinSGill with the approach. While syncing you should be able to have the information about installed, enabled, disabled extensions. This would lead to the issue of how we store some state/settings which we are doing in Local storage. It would be helpful if we are able to share this too.

[2016-11-16 09:37] daslicht commented on #15523
AWESOME!

[2016-11-16 09:39] HookyQR opened #15560 "Multiple cursor shortcuts don't work in 1.8.0"
- VSCode Version: 1.8.0
- OS Version: MacOS

Steps to Reproduce:

1. Open any file with multiple lines.
2. Press `Alt+Cmd+up` or `Alt+Cmd+down`

Additional cursors are not added.

[2016-11-16 09:46] jinmingjian commented on #9456
quick insert: who knows how to expand/collapse the tree in the explorer view by some shortcut key?

The tree soon expands crazily after you navigate to several code definitions/references...

[2016-11-16 09:53] riotgibbon commented on #396
+1

I am currently using Sublime, and trying out Code. It looks and feels nice, but the single project Git integration is a deal breaker. I have a Hadoop/Oozie project, and so have one repo of code, and another of working notes. In Sublime, I have them both open in the same window, and can commit to the appropriate Git repo for each

so, it'll be good to add

[2016-11-16 09:58] DimitarTasev commented on #14848
This seems to be less of an issue in Windows now, as on Windows all the symbols are usually kept after being built (even though that still takes a while). On Ubuntu 14.04 however the issue persists and the symbols keep being lost, making the default visual studio auto complete unusable

[2016-11-16 10:02] FateNiki opened #15561 "Linux/Mac: Navigate on text and files by mouse "prev/next" button"
This feature already exists in the JetBrains products.

[2016-11-16 10:11] zachbpd opened #15562 "Highlighting bug?"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
---

Any idea why there seems to be a strange block highlight in the editor? I've tried reinstalling it, changing the theme and I've removed all the extensions, but I'm still experiencing this issue.

![screen shot 2016-11-16 at 10 04 36](https://cloud.githubusercontent

[2016-11-16 10:13] joaomoreno commented on #15246
# The Least Common Denominator

There are several approaches to coming up with the least common denominator problem. I'll do my best to put them to prose.

## Features

Here is the current set of features implemented by the git contribution:

- **Dirty diff** renders glyph margin decorations in visible editors
- **Branch status bar** is a single click affordance in the status bar which renders som

[2016-11-16 10:19] shanalikhan commented on #15466
@sandy081 Yes this could be a nice, by this i can support workspace sync options also.
There are also some other issues i would like to link other things in vscode that can also be synced for which the issues are already opened.

https://github.com/Microsoft/vscode/issues/14444
https://github.com/Microsoft/vscode/issues/12178

[2016-11-16 10:20] DonJayamanne opened #15563 "Is it possible to define cursor position during autocompletion"
I'm making use of the method ```CompletionItemProvider.provideCompletionItems``` to provide autocompletion.
Is it possible to define the position of the cursor when an item has been selected.

My plan is to automatically add brackets for functions and methods that are selected from the autocompletion list, once selected I'd like to place the cursor between the two brackets, as follows:
[code]
curs

[2016-11-16 10:25] DonJayamanne commented on #15563
No worries, figured it out,
Solution is to use the special characters ```{{}}``` to define the cursor position.

[2016-11-16 10:25] #15563 closed

[2016-11-16 10:25] #15537 closed

[2016-11-16 10:27] isidorn commented on #15537
'Not available' was missing a localize call - fixed that.
As for the labels of exception breakpoints I always update them on the ux side once a debug session is started - since these labels are coming from the debug adapter.
So if the locale is changed later the labes should update once a debug session is started.

[2016-11-16 10:31] joaomoreno commented on #15246
## Common Model

The toughest part of this problem is how to make the current **viewlet** be something that could be contributed externally. Let's approach this first by sharing a common SCM model across the multiple SCM providers.

Revolving around the [`register*Provider` pattern](https://github.com/Microsoft/vscode/blob/b95c77c34c378fb22f1f105390a239d66602f353/src/vs/vscode.d.ts#L3958), let's b

[2016-11-16 10:37] dfroze commented on #15468
@ramya-rao-a Thank you, didn't know there was something like this

[2016-11-16 10:58] #15544 closed

[2016-11-16 11:10] weinand commented on #15537
@isidorn indeed, the exception options turned to English when starting a new debug session with English locale. So this works as designed.

[2016-11-16 11:14] joaomoreno commented on #15246
## Common UI

Another approach to solving the viewlet problem could be taking #14048 another step further and widening the new API to accommodate for the UI currently needed by the git viewlet.

The current viewlet is composed of an input box placed above a tree widget. If one looks at those as a single widget, one sees that pattern everywhere around the workbench: git and search viewlets, quick o

[2016-11-16 11:23] ice-blaze commented on #7028
Is there any information on this release ?

[2016-11-16 11:26] #11220 closed

[2016-11-16 11:27] bpasero commented on #11220
You can now always run `Developer: Startup Performance` even if not providing `--performance` (it will just have a little less details). Also, for a second window, the start time will be correctly taken as the load time of the window and not the overall program start time.

[2016-11-16 11:28] entonio commented on #15490
The reason I didn't specify right away that this could be an extension was that the base product does include 'Find All References', which to me somewhat belongs in the same family.

Thanks for the extension code, @sandy081. This, however, doesn't perform the search, it opens the 'Find in files...' input field with the selected text, but the user still has to start the search manually. Is there a

[2016-11-16 11:45] aeschli commented on #15548
duplicate of #15504

[2016-11-16 11:45] #15548 closed

[2016-11-16 11:54] bensleveritt commented on #4100
I'd be interested in an extension that behaves like @anseki asked for, particularly surfacing the next issue from the cursor.

As helpful as the `f8` function is, MacOS users might need to hold down an additional key (which isn't used very often) which breaks the focus from the code (as I hunt for the `fn` key). But that's okay since I can rebind the key.

However, pressing `ESC` to get out of tha

[2016-11-16 12:10] Igmat opened #15565 "[Feature-request] File Explorer extensions API"
## Motivation
I was looking for extension that enables working with `node_modules` in way that looks like it done in Visual Studio:
![solution explorer](https://cloud.githubusercontent.com/assets/15427508/20345514/c3ba8c8c-abf7-11e6-87d8-fc679412749b.png)
And I haven't found any. Then I investigated `vscode API` and realized that there is no way provided for extending File Explorer, so I can't cre

[2016-11-16 12:38] nishant0131 opened #15567 "The terminal process terminated with exit code: 2147483651 in visual code studio"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-11-16 13:12] PhiLhoSoft commented on #1515
I agree with @seva0stapenko, I expected the same behavior that Visual Studio, which has been copied in Scintilla, thus in related editors like Notepad++ or SciTE.
When copying / cutting a rectangular selection, it puts a "MSDEVColumnSelect" empty flag (and a "Borland IDE Block Type" flag with byte 0x02) in the clipboard, so when pasting, each line of the block is pasted in a line of the destinatio

[2016-11-16 13:26] acromarco commented on #15217
Are there any concrete plans if and when vscode will get this "contributed viewlets" extension ability?
Will it be possible to add an arbitrary UI in this contributed viewlet, like for example an iframe that can communicate with the extension?

[2016-11-16 13:32] gsipos commented on #15238
I've found the problem in my tsconfig.json. It had `"outDir": ".",`  compiler option, after removing it, everything seems to work with ts@2.0.7

[2016-11-16 13:40] PhiLhoSoft commented on #1046
@rhires I agree with you, and sometime I said that too (in other contexts / projects), but don't forget that users of VSCode have various backgrounds, from HTML coders to Python programmers, etc. so might just lack the competence to do such changes. That's not, eg. just a JS library used by JS devs complaining about some lack of feature...
That said, indeed, the tone used by some people is a bit r

[2016-11-16 13:48] rjmunro commented on #13314
You can right click on the file in the sidebar and do "Open File", instead of "Open change". Is that what you want?

[2016-11-16 13:53] MVSTEJA opened #15568 "React Js, js/jsx Classname intellisense support not available"
- VSCode Version: 1.7.1
- OS Version: Windows 7 PC.

I have installed react, bootstrap typings but still nothing. Even added few html css completions extensions, but i believe they work only on html files.

Steps to Reproduce:

1. No extension or typings support exist to offer code completions for css inside of js/jsx

![image](https://cloud.githubusercontent.com/assets/15942077/20349938/a2e6159a-

[2016-11-16 14:03] bpasero commented on #15558
@jrieken good catch. I found more though:
* `vs/platform/actions/common/resourceContextKey` => `vs/editor/common/services/modeService`
* `vs/platform/extensionManagement/test/common/extensionEnablementService.test` => `vs/workbench/services/storage/common/storageService`
* `vs/editor/contrib/indentation/common/indentation.ts` => `vs/workbench/services/quickopen/common/quickOpenService`
* `vs/edito

[2016-11-16 14:05] bpasero commented on #7028
@ice-blaze try `"workbench.quickOpen.closeOnFocusLost": false`

[2016-11-16 14:10] bpasero commented on #15561
@FateNiki what OS are you on? we do have some support for mouse buttons 4 and 5 to navigate back and forth. But it might not work across all OS yet.

[2016-11-16 14:10] ice-blaze commented on #7028
Thanks! You made my day.

[2016-11-16 14:26] jrieken commented on #3210
There are the API changes that will enable this.

1. `insertText` can now also be of type `SnippetString`
2. `range` has been added to the completion item
3. `textEdit` has been deprecated (but kept functional) in favour of the former two

[code]

[2016-11-16 14:28] pflannery commented on #2309
@isidorn is there a way we can control the hover delay in our settings? I constantly find this gets in the way when I'm trying to work in the editor.

[2016-11-16 14:43] ivan-marinov opened #15569 "AutoSave ignores TabSize setting"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|ejs-language-support|QassimFarid|0.0.1|
---

Steps to Reproduce:

1. Set "editor.tabSize" to 2 in settings.json
2. Set "files.autoSave": "on" in settings.json
3. Edit and save a document

Expected:
Document is for

[2016-11-16 14:45] remojansen opened #15570 "Question: How to access the DOM with vscode.previewHtml"
I'm using [nomnoml](https://github.com/skanaar/nomnoml) to transform a DSL into a diagram which uses canvas:

[code]

I'm passing the UML DSL to the a TextProvider using a query string argument:

[code]

[code]

I need to run the following:

[code]

How can I access the DOM after the `vscode.TextDocumentContentProvider` is rendered on screen by `vscode.previewHtml`?

Thanks!

[2016-11-16 14:49] jchannon commented on #3210
Is this in the insiders build? cc @yantrio

On Wed, 16 Nov 2016 at 14:26, Johannes Rieken <notifications@github.com>
wrote:

[2016-11-16 14:57] isidorn commented on #2309
@pflannery currently not. If we get more users requesting this we can introduce a configurable delay via settings

[2016-11-16 15:10] jrieken commented on #3210
@jchannon pushed '38 minutes ago'. It'll be tomorrow or the day after that

[2016-11-16 15:11] jrieken opened #15571 "getting two windows of the workbench after running tests"
(don't have hot exit enabled)
* run `scripts/code.sh` have only one window open
* run `scripts/test-integration`
* run `scripts/code.sh` again
* 🐛 it now opens two windows - the test workspace and the formerly used one

[2016-11-16 15:11] jchannon commented on #3210
Good work!

On Wed, 16 Nov 2016 at 15:10, Johannes Rieken <notifications@github.com>
wrote:

[2016-11-16 15:13] bpj101 commented on #101
"Hot exit save" copies the entire content to second file if you're just switching from first file to second file without saving first file.  Very dangerous cause totally corrupts the second file with content of first, if you are unaware of what happens and you close second file with out "undo".

[2016-11-16 15:26] bpasero commented on #15571
@Tyriar I can reproduce and I can see the following in the Backups folder after the integration tests are done:

![image](https://cloud.githubusercontent.com/assets/900690/20352912/5f5f22ee-ac19-11e6-9985-07a2b7e60b7a.png)

[2016-11-16 15:39] pflannery commented on #2309
@isidorn actually looking again I might of ended up in the wrong place as its not during debug.
Instead its regarding hover timing whilst working in the editor.
This issue was the closest I found. Do they both share the same delay?

I find it constantly gets in the way of selecting text and also covers over what I'm trying to read.

![hover-pains](https://cloud.githubusercontent.com/assets/1727302

[2016-11-16 15:46] iivvoo opened #15572 "Very high CPU + memory usage by "watcherService" service process + possible cause"
- VSCode Version: 1.7.1
- OS Version: Ubuntu 16.04.1 64bit

There have been some (unresolved) reports about high CPU load: #14222 #10439

I'm experiencing a similar high load on Ubuntu. It's always the "--type=watcherService" process. It even happens with --extensions-disabled

top output:
[code]

ps output:
[code]

When `strace`-ing the process I noticed the following output:

[code]

Specificall

[2016-11-16 15:51] jrieken opened #15573 "Track usage of internal snippet syntax"
With #3210 we are adding API to inserts snippets via completions. These snippets use the same syntax external, static snippets use which again is a subset of the TextMate snippet syntax. Eventually, we will not support the internal snippet syntax anymore.

This issue lists extensions that are known to be using the internal syntax and tracks their adoption of the new API.

* [x] vscode.typescript -

[2016-11-16 15:52] pandasjw commented on #14973
![image](https://cloud.githubusercontent.com/assets/11087172/20354016/bd0dd5b4-ac57-11e6-8ec3-91d63eac8aee.png)

how should i fix this problem @ffes

[2016-11-16 15:54] julianlam opened #15574 "Selected File in Search opens after closing and files and coming back to search"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|jslint|ajhyndman|1.2.1|
|vscode-eslint|dbaeumer|1.1.0|

---

Steps to Reproduce:

1. In search tab, conduct a search that reveals at least one match
1. Go back to "Explorer" tab
1. Close all open files
1. Go to "S

[2016-11-16 15:59] MuNaiYi520 opened #15575 "Synchronization for settings"
- VSCode Version:1.7.1
- OS Version:win10 14959

Steps to Reproduce:

1. Add synchronization for both settings and extensions

[2016-11-16 16:07] efirvida commented on #15532
yes that is it, "abc" to 'abc' and so on

[2016-11-16 16:07] chrmarti commented on #15547
Any objection towards not opening an untitled file in the empty workbench? The corresponding experiment doesn't show negative impact of not showing it, but not showing it increases the usage of commands in the watermark.

[2016-11-16 16:15] clitetailor opened #15576 "Callback in jsdoc"
- VSCode Version: 1.7.1
- OS Version: Windows 10

Sorry, my English is quite poor. I tried to add callback to jsdoc without success.

[code]

So i have to do this
[code]

It's nearly the same but not exact what i want since `log: (route:number[]) => void` become `log: (p0: number[]) => void`. Can you add this feature to jsdoc. Thanks!

[2016-11-16 16:15] scorphus commented on #15352
Perhaps a screencast will show it better?

![vscode-issue-15352](https://cloud.githubusercontent.com/assets/2112697/20355015/0f1de32c-ac07-11e6-8ebf-a97480463dbc.gif)

[2016-11-16 16:17] #12940 closed

[2016-11-16 16:19] isidorn commented on #2309
No - they do not share the same delay. That one is also not configurable - but please create a new feature request if you wish for this.

[2016-11-16 16:23] bpasero commented on #15547
@chrmarti I was only referring to having the watermark always visible when the last editor is closed. I would not change the default of opening an untitled file or not until we found out that this changes something for our first time users. From what I heard so far, our experiments did not improve discoverability yet.

[2016-11-16 16:30] chrmarti commented on #207
@bpasero On your question about opening a single file: I think users who enable the setting would expect their 'state' of open files and windows to be preserved in all cases, including this one. You'd probably want to remember the MRU list of windows, so we can use that to decide in which window to open the file.

[2016-11-16 16:34] dbaeumer opened #15577 "Adopt Snippet support in completion items in LSP"
VSCode Version: 1.8.x

[2016-11-16 16:34] isidorn commented on #12940
We pushed a first version of zen mode which will be available in tomorrow's insiders.
Currently it is possible to enter the zen mode via view menu action or via command pallete - "Toggle Zen Mode":

- Hides all parts: sidebar, activity bar, status bar, panel
- Goes into full screen mode

You can get out of full screen by toggling that action again or by going outside of fullscreen mode or by press

[2016-11-16 16:35] dbaeumer commented on #15577
See https://github.com/Microsoft/vscode/issues/3210#issuecomment-260959818

[2016-11-16 16:36] chrmarti commented on #15547
@bpasero This is an update on that: The experiment shows that usage of the commands in the watermark increases and not showing the untitled file increases usage further. What we don't see yet is this translating to a higher retention rate, but that might be a matter of picking the right commands and combining this measure with others to improve discoverability and usability overall.

[2016-11-16 16:41] bpasero commented on #12940
![untitled](https://cloud.githubusercontent.com/assets/900690/20356118/dba972a0-ac23-11e6-9aa5-2c0deffae53c.gif)

[2016-11-16 16:43] bpasero commented on #15547
@chrmarti on that topic I would prefer to explore the possibility of opening an untitled file and a welcome editor in a second group to make first time users discover our commands.

Are you suggesting to not open an untitled file only for first time users (once) or in general?

[2016-11-16 16:44] bpasero commented on #15572
@iivvoo yes, you should use "`files.watcherExclude"`

[2016-11-16 16:49] iivvoo commented on #15572
Why would you (still) want to watch files that are in `files.exclude`? In other words, why is this a separate setting and/or doesn't it default to `files.exclude`?

[2016-11-16 16:54] bpasero commented on #15572
@iivvoo this is a risky thing to take out files from watching. there could be extensions relying on the fact that events are being sent for certain folders. By making it a very explicit thing to configure, it reduces this risk.

As for Linux, we need a better watching mechanism that does not run into this issue.

[2016-11-16 17:03] brudgers commented on #15530
João

What would be the technically correct way to determine that and provide the
accurate information in answer to your request?

Ben

On Wed, Nov 16, 2016 at 2:32 AM, João Moreno <notifications@github.com>
wrote:

[2016-11-16 17:10] raztd opened #15578 "Render whitespaces only when text is selected"
I would like an option to render whitespaces only when text is selected.
Like the default behavior in SublimeText 3

![ws](https://cloud.githubusercontent.com/assets/6805609/20357351/49afa740-ac30-11e6-98f6-aa622967290b.png)

[2016-11-16 17:21] joelday commented on #3210
I seriously love you people.

[2016-11-16 17:24] ramya-rao-a commented on #15532
@aeschli @alexandrudima Feature Request ?

[2016-11-16 17:26] ramya-rao-a commented on #15490
@sandy081 Also what about the below?

If we just have the cursor on a word,  ctrl/cmd+shift+F does not pick up the word.

[2016-11-16 17:27] ramya-rao-a commented on #15468
@dfroze You are welcome :) Don't worry, I keep finding new things about VS Code every other day too!

[2016-11-16 17:43] rebornix commented on #15575
For settings, there is already an extension out there, try `ext install EditorConfig` in command palette.

[2016-11-16 17:48] joaomoreno commented on #15530
Open a terminal (eg gnome terminal) window, `cd` to the git controlled workspace and run `git fetch` from there. Does it ask for your credentials?

[2016-11-16 17:50] crayment opened #15579 "Regex search issue"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|calc|BorisA|0.0.1|
|MyExtensions|none|0.0.1|
|erb|CraigMaslowski|0.0.1|
|swift|Kasik96|0.0.2|
|calculate|acarreiro|1.1.0|
|githistory|donjayamanne|0.1.0|
|prettify-json|mohsen1|0.0.3|
|Theme-TomorrowKit|ms-vscode|

[2016-11-16 17:58] crayment opened #15580 "Regular expression multiple cursors bug"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|calc|BorisA|0.0.1|
|MyExtensions|none|0.0.1|
|erb|CraigMaslowski|0.0.1|
|swift|Kasik96|0.0.2|
|calculate|acarreiro|1.1.0|
|githistory|donjayamanne|0.1.0|
|prettify-json|mohsen1|0.0.3|
|Theme-TomorrowKit|ms-vscode|

[2016-11-16 17:59] chrmarti commented on #15547
@bpasero I'm suggesting to not open an untitled file for both first time and returning users. Note that this only affects the empty workbench case. I don't see an effect of the untitled file experiment on the number of times an untitled file is used. It appears that creating an untitled file is intuitively understood by new users. Also users don't create new files that frequently, they read/work o

[2016-11-16 18:02] Tyriar commented on #101
@bpj101 each backup file is saved to a path based on the original file's path, so something like that shouldn't happen. Do you have repro steps showing the problem?

[2016-11-16 18:02] dbaeumer commented on #8223
@joaomoreno makes sense to me. Is this something you do in the hover code.

[2016-11-16 18:02] bpasero commented on #15547
@chrmarti got it. my personal opinion is that we should not start an editor instance without showing an editor. in the end that is what we are (an editor) and many people might expect that they can just start typing.

This becomes especially more important once hot exit is enabled by default because then you can use Code as notebook by quickly opening it, typing something into the untitled buffer

[2016-11-16 18:04] dbaeumer commented on #15492
Dups https://github.com/Microsoft/vscode/issues/3550

[2016-11-16 18:04] #15492 closed

[2016-11-16 18:05] dbaeumer commented on #15538
Actually they are not in our translation DB. I will close this issue. To have them translated you need to switch Mac OS to the language of choice.

[2016-11-16 18:05] #15538 closed

[2016-11-16 18:06] bpasero commented on #11665
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-11-16 18:06] #11665 closed

[2016-11-16 18:06] ramya-rao-a commented on #15549
You can add your own key-binding to the "Run Tasks" command so that the tasks pop up menu shows up.
The command for "Run Tasks" is "workbench.action.tasks.runTask".
For example, you can add the below in your key bindings json file

![image](https://cloud.githubusercontent.com/assets/16890566/20359346/4998a71c-abe4-11e6-905b-8e4bc7afcbde.png)

[2016-11-16 18:06] #15549 closed

[2016-11-16 18:06] bpasero commented on #14150
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-11-16 18:06] #14150 closed

[2016-11-16 18:07] bpasero commented on #14222
@JostCrow
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-11-16 18:07] bpasero commented on #14492
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-11-16 18:07] #14492 closed

[2016-11-16 18:07] bpasero commented on #14704
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-11-16 18:07] #14704 closed

[2016-11-16 18:07] bpasero commented on #14795
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-11-16 18:07] #14795 closed

[2016-11-16 18:08] bpasero commented on #15076
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-11-16 18:08] #15076 closed

[2016-11-16 18:08] ramya-rao-a commented on #15551
Closing as duplicate of #15389. The fix is already in the insiders build. You can use the insiders build until the next VS Code update

[2016-11-16 18:08] #15551 closed

[2016-11-16 18:08] bpasero commented on #15102
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-11-16 18:08] #15102 closed

[2016-11-16 18:08] bpasero commented on #15108
@biker-linz ping

[2016-11-16 18:08] bpasero commented on #15186
@atisinger ping

[2016-11-16 18:08] bpasero commented on #15271
@casonadams ping

[2016-11-16 18:09] Tyriar commented on #11422
@dbaeumer is the reason for using the terminal over an output channel its support for colors? I've thought about the idea of making an integrated terminal instance read only to prevent unwanted interaction (which would probably be wanted for this).

[2016-11-16 18:10] ramya-rao-a commented on #15555
@hxfdarling Can you provide some information on the issue you are facing? Am not able to understand much from just the title.
Please include repro steps, screenshots and sample code

[2016-11-16 18:12] digeff commented on #14492
@bpasero Sorry, I wasn't able to reproduce this issue. It if happens again I'll reopen it

[2016-11-16 18:13] Tyriar commented on #15571
Looking into it now

[2016-11-16 18:13] ramya-rao-a commented on #15560
@HookyQR I do see the multiple cursors on  `Alt+Cmd+up` or `Alt+Cmd+down` in the latest insiders 1.8.0

Can you try disabling extensions?

[2016-11-16 18:17] chrmarti commented on #15547
@bpasero I think we have a gap with regard to the no-folder-opened case in that we don't restore previously opened files (#207) and implementing that would significantly reduce the number of cases where the workbench opens empty (or with the new untitled file).

I can see Code being used as a notebook, but I guess most users will feel more comfortable with a file that has a name and is stored in a

[2016-11-16 18:17] ramya-rao-a commented on #15562
@zachbpd Do you see this non empty files as well?

[2016-11-16 18:20] ramya-rao-a commented on #15565
@Igmat What nice timing! You should read the work done by @octref recently at #15485 and the issues linked there.

[2016-11-16 18:20] #15565 closed

[2016-11-16 18:22] atisinger commented on #15186
I have no extensions installed.

[2016-11-16 18:24] octref commented on #15565
@Igmat Take a look at: https://github.com/Microsoft/vscode-extension-samples/tree/master/tree-explorer-sample

Also here are some doc, although we haven't decided where to put it: https://github.com/Microsoft/vscode-docs/blob/0d5e75bf7fdea241e8b86da734bfda03d9d4c1de/docs/extensions/example-tree-explorer.md

[2016-11-16 18:27] balajikris commented on #15477
@sandy081 ah I see. thanks for clarifying that. For now, I'll try to test dependency installation in realtime after i upload my extension to the marketplace. I do appreciate you taking this into the backlog, as it just seems to be missing with the vsix workflow.

[2016-11-16 18:29] JoeArizona commented on #13527
Sure, close it. It looks like it's fixed (though I still hope you leverage DirectWrite in the future, which is noticeably clearer...)

[2016-11-16 18:29] burnchar commented on #205
My team can use VSCode for all multi-platform development once it supports Mercurial integration.
Push/pull/commit isn't terribly hard via CLI, but missing integration integration means switching back and forth between UIs, no at-a-glance visuals showing which files have been modified, etc., thus integration is on our requirements list.
Other than that, VSCode is great.

[2016-11-16 18:33] zachbpd commented on #15562
Yes and even if there's this one point in the code where it's not obvious the left margin (where the search and extension library icons are) still contains on extra shade of grey.

[2016-11-16 18:37] HookyQR commented on #15560
Not an VS Code extension issue. It was caused by [Spectacle](https://github.com/eczarny/spectacle). I have it disabled for Code, but it that obviously didn't migrate to Insiders. Sorry.

[2016-11-16 18:37] #15560 closed

[2016-11-16 18:38] ramya-rao-a commented on #15569
@ivan-marinov Do you see the issue when you format without saving?

[2016-11-16 18:45] bpj101 commented on #101
In app.js file,  notice content

[image: Inline image 1]

In app2.js notice content

[image: Inline image 2]

Back in app.js file. Just add black lines to top of code. Notice indicates
1 file to be saved.

Now, without saving app.js, I click on tab to go to app2.js

[image: Inline image 3]

Now notice the content from app.js has been copied to replace content in
app2.js, without changes made to ap

[2016-11-16 18:48] ramya-rao-a commented on #15579
@alexandrudima Related to #10386 ?

[2016-11-16 18:54] ramya-rao-a commented on #15578
Do you mean the indent guides?

![image](https://cloud.githubusercontent.com/assets/16890566/20361078/193a1360-abeb-11e6-8c9c-4cd4240b9958.png)

[2016-11-16 19:01] ramya-rao-a commented on #15574
@julianlam I am not able to repro this. I tried in Mac OS X El Capitan and Windows 10

Whenever I toggle back to the Search tab, the search input box is always highlighted. Even if there are search results already and no files are open before toggling back to Search.

Can you share your user and workspace settings if any?

[2016-11-16 19:03] octref opened #15581 "Diff indication for wrapped lines should only show in last line"
- VSCode Version: 1.8 Insiders
- OS Version: OS X 10.11.6

Diff:

![image](https://cloud.githubusercontent.com/assets/4033249/20361377/357fcbc2-abec-11e6-8f90-a5bf51b55a76.png)

Editor:

![image](https://cloud.githubusercontent.com/assets/4033249/20361390/3eeb9f38-abec-11e6-830b-b61d244453bb.png)

[2016-11-16 19:09] coreyog opened #15582 "Two divisions in the same line tricks the code highlighting into thinking there's a regex."
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0.5.2|
|Go|lukehoban|0.6.49|
|debugger-for-chrome|msjsdiag|2.2.2|
|vscode-icons|robertohuertasm|4.0.1|
|code-settings-sync|Shan|2.3.8|

---

Steps to Reproduce:

1. I have a TypeScript

[2016-11-16 19:12] kristok commented on #396
+1 yep, critical in microservice world it's usual to have 3..4 repos open at the same time

[2016-11-16 19:13] ramya-rao-a commented on #15575
@MuNaiYi520 Can you add more details? Sync across workspaces? Machines ?

[2016-11-16 19:14] ramya-rao-a commented on #15248
@smlombardi Do you still see this with the latest insiders?

[2016-11-16 19:16] ramya-rao-a commented on #15276
@akankshagaur
Does this happen with all file types?
What extensions do have installed?
Like @bpasero suggested, please try with all extensions disabled and let us know if you still see the issue.

[2016-11-16 19:17] Tyriar commented on #15571
With hot exit enabled:

[code]

Without:

[code]

The results seem to vary somewhat. For the first case (when hot exit is enabled) we should probably just disable backups all together (hot exit and crash recovery) when an extension is being run/debugged.

The second case would be fixed if we did an additional check and cleaned up paths in workspaces.json (#15499) which I'm leaning more towards now

[2016-11-16 19:17] Tyriar commented on #15499
https://github.com/Microsoft/vscode/issues/15571 seems to be caused by performing actions too quickly such that the backup dir is not cleaned up properly at the end.

[2016-11-16 19:18] ramya-rao-a commented on #15301
@jrieken Feature Request or extension candidate?

[2016-11-16 19:19] Tyriar commented on #15567
You need to provide a little more information than this if you need some help. Things to try:

- Update vscode to the latest version
- Check if it's working in the [Insiders](https://code.visualstudio.com/insiders) build (the absolute latest)
- Add a screenshot

[2016-11-16 19:22] niieani commented on #11539
It might be better if a symlink is highlighted in a different way than an icon, perhaps with color, or a second icon? Cause icons indicate the file type, but a symlink only indicates the file isn't actually there. It would be a very useful feature, especially for larger projects.

[2016-11-16 19:24] gertcuykens commented on #13314
nope sorry, because that removes the diff coloring and highlights, but it does keep the git sidebar open, thats a start :) So instead of a extra button, `Open change` would be ideal for me if it also keeps the diff highlights like the right side does when you just click on it.

![image](https://cloud.githubusercontent.com/assets/863731/20361958/ebbfbf62-ac39-11e6-8614-f2da74312133.png)

[2016-11-16 19:25] Tyriar opened #15583 "Expose a terminal API option to pause when the shell is exited"
This is a requirement for the tasks framework to be moved to using the integrated terminal. The idea is to allow extensions to optionally specify they don't want the terminal to go away immediately after the shell process is exited but instead wait for input.

This would allow the tasks framework (and other extensions) to run a command that exits the shell immediately afterwards, and then wait for

[2016-11-16 19:30] Tyriar commented on #13267
This may be necessary to allow @dbaeumer to scan the output of a `gulp watch` (or similar) command on any terminal and using co-processes (#13337) to send errors to the problems panel.

[2016-11-16 19:32] ramya-rao-a commented on #15328
Here is a simple example in a typescript file:

![image](https://cloud.githubusercontent.com/assets/16890566/20362340/06f79d76-abf0-11e6-820c-447b39b5e329.png)

Same code in javascript file does not give me any error
The example @donnygunawan93 has shared is in an javascript file.

@donnygunawan93 Can you confirm you see the same error?

[2016-11-16 19:39] dbaeumer commented on #11422
It is color support. But I have also the request that a task should allow user input.

[2016-11-16 19:39] Tyriar opened #15584 "Support moving the tasks framework to use the integrated terminal"
It makes sense to reuse the work of the integrated terminal in the tasks framework to leverage things like:

- Handling of ANSI control characters (colors, cursor movement)
- Multiple tasks
- Allowing input

Here are the blockers to allow this to happen:

- [x] #15583 Expose a terminal API option to pause when the shell is exited
- [x] #18376 Terminal should throw an event when a terminal has comp

[2016-11-16 19:40] ramya-rao-a commented on #15553
On the Nov 14th, we updated to use Electron 1.4.6. You need to recompile your modules to get the native ones working.

[2016-11-16 19:41] Tyriar commented on #11422
Created https://github.com/Microsoft/vscode/issues/15584 based on our discussion.

[2016-11-16 19:43] Tyriar commented on #15499
@bpasero the file already changed too much so I had to find it manually. FYI if you press <kbd>y</kbd> when viewing a file in github, the URL will get pinned to a commit.

That removes my only concern with doing this confirm/cleanup :+1:

[2016-11-16 19:47] Tyriar commented on #101
Thanks @bpj101, the images don't seem to make it through when commenting via email though :frowning_face:

[2016-11-16 19:50] Tyriar commented on #15509
Ah, this is Mac-specific due to it only triggering hot exit when you close all windows.

[2016-11-16 19:52] dbaeumer commented on #14599
@mhegazy @vladima any idea why this happens.

The bug came in with our update to tsserver 2.0.3. We use the formatter by setting the format options to use per file using the `configure` request. It looks like these settings can get lost in the tsserver.

[2016-11-16 19:53] DustinCampbell opened #15585 "DiagnosticCollection.set([Uri, [Diagnostic[]][]) is not reliable"
The documentation for [`DiagnosticCollection.set([Uri, Diagnostic[]][])`](http://code.visualstudio.com/docs/extensionAPI/vscode-api#DiagnosticCollection) states the following:

However, this doesn't work in practice because the entries end up being sorted by uri, but the sort is not stable. [Here's the code that does the sort](https://github.com/Microsoft/vscode/blob/c67ef57cda90b5f28499646f7cc94e

[2016-11-16 19:54] smlombardi opened #15586 "CSS/SCSS intellisense: pseudo element adds extra colon"
- VSCode Version: Code - Insiders 1.8.0-insider (3408691c13470346a119141e57aa74b302464a4a, 2016-11-14T07:05:07.232Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|material-icon-theme|PKief|1.1.3|
|code-settings-sync|Shan|2.3.8|
|sort-lines|Tyriar|1.1.0|
|html-css-class-completion|Zignd|1.0.3|
|Bookmarks|alefragnani|0.10.0|
|project-manager|alefragnani|0.1

[2016-11-16 19:55] smlombardi commented on #15248
@ramya-rao-a  It hasn't recurred again yet.  I removed all extensions that did autocompletion as well.

[2016-11-16 19:59] DustinCampbell commented on #15585
In the C# extension, I tried sorting entries using the same code as VS Code and could clearly see the impact of not having a stable sort.

Here are the entries before sorting:

![image](https://cloud.githubusercontent.com/assets/116161/20363436/0d0211fc-abf4-11e6-971b-1c94725f025e.png)

Here they are after sorting:

![image](https://cloud.githubusercontent.com/assets/116161/20363466/202728c6-abf4-

[2016-11-16 20:03] bgashler1 commented on #4100
@bensleveritt behavior similar to [SublimeLinter's](http://www.sublimelinter.com/en/latest/mark_styles.html#status-bar-info) should be possible to through our [extension API](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-namediagnosticaspan-classcodeitem-id828diagnosticspan).  We already have a list of Errors/Warnings on the left of the status bar, so it would just be contributing

[2016-11-16 20:18] atishpatel commented on #15524
@sandy081
I'm sorry if my description wasn't clear enough. You have a good point, but configuring the linters doesn't cover all the cases and it depends on the developer to allow the option.

I believe this is an issue that can't be solved by linter configurations. If a file is linted then deleted, renamed, or was Untitled, the linter can't possibly know that was the case. So, the linter will prin

[2016-11-16 20:20] verysimplenick commented on #15270
Found solution, This error if I use msys2 build tools, If I change to mingw64 paths:
like `C:\vs_slash_bug/test.txt` from debugger works fine.
Looks like that gdb must be compiled with  `--host=x86_64-w64-mingw32 --target=x86_64-w64-mingw32` (not with  `--host=x86_64-pc-msys --target=x86_64-pc-msys` as before)

thanks for help.

[2016-11-16 20:20] #15270 closed

[2016-11-16 20:21] OliverJAsh opened #15587 "How to assign keyboard shortcut to command with argument?"
How does one create a keyboard shortcut for a command that receives an argument? I can't seem to find any examples of keyboard shortcuts doing this. I'm presuming the `when` context handles this.

For context, here is the command:

[code]

Taken from https://github.com/alexandrudima/vscode-copy-relative-path/blob/293f389d9b8afc20eb0e66b8003abc131e519333/extension.js#L5

I tried the following:

[co

[2016-11-16 20:37] ffes commented on #14973
@pandasjw If you are asking because I mentioned #13834 in my previous comment, I have no idea about that issue. That one is not my bug report.

I just ran into that issue when I was searching around if the request I wanted to submit was not a dup.

[2016-11-16 20:41] raztd commented on #15578
Yes. In VSCode they always appear when "editor.renderWhitespace" is set to "boundary" or "all"

[2016-11-16 20:54] andy-ms opened #15589 ""Go to file" when one name is a subset of another"
- VSCode Version: 1.7.1
- OS Version: Linux Mint 18

Steps to Reproduce:

1. Create `abc.txt`, `alpha-beta-cappa.txt`, `xyz/index.js`, and `xerxes-yak-zubba/index.js`.
2. Hit Ctrl-P, type "abc", and hit enter. This opens `abc.txt`.
3. Hit Ctrl-P, type "xyz", and hit enter. This opens "xerxes-yak-zubba/index.js".

Also, open [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) and

[2016-11-16 20:55] ramya-rao-a commented on #15248
@smlombardi In that case, I'll close this issue for now. If you see this happening again, feel free to re-open this issue.

[2016-11-16 20:55] #15248 closed

[2016-11-16 20:57] efirvida opened #15590 "Show enabled extensions isolated"
Hello, I have a new request for the vscode team.
After installing several extensions, and disabling some, I have been uncomfortable with the fact that I can´t see isolated the extensions that I have enabled. Instead with the extensions disabled the opposite happens.

In my opinion should appear by default only the extensions enabled when the extensions panel opens, and the user decides whether or

[2016-11-16 21:01] ramya-rao-a commented on #15587
You can update the command's callback function to open an inputbox/quickpick if the argument is not provided

[code]

[2016-11-16 21:30] zackcote opened #15592 "Emmet Expansion of `php` has unexpected behavior in `.php` files"
- VSCode Version: Version 1.7.1 (1.7.1)
- OS Version: El Capitan 10.11.6 (15G1108)

Steps to Reproduce:

1. Open file with syntax set to php.
2. Type `php`, and press `Tab` to expand with Emmet

Expanding the string `php` with Emmet produces `<php></php>` instead of the far more helpful `<?php ?>`. I believe Sublime, Atom, etc. all address this and the `<?php ?>` expansion occurs.

[2016-11-16 21:46] evilz commented on #15425
👍

[2016-11-16 21:47] ramya-rao-a commented on #15587
Or if you want to run the command on a selected text, you can use `editor.activeWindow.selection`

[code]

[2016-11-16 21:54] julianlam commented on #15574
Thanks @ramya-rao-a for shooting down my reproduction steps. They really weren't complete.

Here is version 2 😉

1. In search tab, conduct a search that reveals at least one match
1. Click on that match to open the file
1. Go back to "Explorer" tab
1. Close all open files
1. Go to "Search" tab, or hit ⌘-⬆️ -F
1. Note that input focus is no longer in the search input as expected, instead the file o

[2016-11-16 22:09] ramya-rao-a commented on #15587
Do these help?

[2016-11-16 22:10] aozgaa commented on #15553
How do you recompile the modules?

Doing this doesn't work (on Ubuntu 16.04):
[code]

[2016-11-16 22:15] ramya-rao-a commented on #15589
Closing in favor of #14727

[2016-11-16 22:15] #15589 closed

[2016-11-16 22:15] ramya-rao-a commented on #14727
_From @andy-ms_

1. Create `abc.txt`, `alpha-beta-cappa.txt`, `xyz/index.js`, and `xerxes-yak-zubba/index.js`.
2. Hit Ctrl-P, type "abc", and hit enter. This opens `abc.txt`.
3. Hit Ctrl-P, type "xyz", and hit enter. This opens "xerxes-yak-zubba/index.js".

Also, open [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) and search for `ace/index.d.ts`. Even though this is exactly

[2016-11-16 22:17] warrenwza commented on #15551
Awesome, thanks :)

[2016-11-16 22:18] ramya-rao-a commented on #15592
@zackcote Are you trying this in a php file? Can you share your settings if any?

[2016-11-16 22:27] aharl commented on #396
+1

[2016-11-16 22:29] mjbvz commented on #7913
Looks like php is still acting up. The above approach works for `'markdown'` and other emmet enabled languages but after adding `"php"` to `emmet.excludeLanguages `, I'm still seeing this behavior

[2016-11-16 22:29] ramya-rao-a commented on #15592
Closing as duplicate of #7913

[2016-11-16 22:30] ramya-rao-a commented on #7913
_From @zackote_

1. Open file with syntax set to php.
2. Type `php`, and press `Tab` to expand with Emmet

Expanding the string `php` with Emmet produces `<php></php>` instead of the far more helpful `<?php ?>`. I believe Sublime, Atom, etc. all address this and the `<?php ?>` expansion occurs.

[2016-11-16 22:34] mrmlnc commented on #7913
Well, confirm. `emmet.excludeLanguages` does not work any more 😢

[2016-11-16 22:37] casonadams commented on #15271
@bpasero

I change the filename, host, and user.  I don't think they were needed.

ipc.cp.ts:141 [IPC Library: Watcher] [ADDED] host=hostname,user=user.giosave6P7TQY
ipc.cp.ts:141 [IPC Library: Watcher]  >> normalized [CHANGED] file.rb
ipc.cp.ts:141 [IPC Library: Watcher]  >> normalized [ADDED] host=hostname,user=user.giosave6P7TQY
ipc.cp.ts:141 [IPC Library: Watcher] [DELETED] file.rb
ipc.cp.ts:1

[2016-11-16 22:38] ramya-rao-a commented on #7913
@mrmlnc You mentioned here https://github.com/Microsoft/vscode/issues/12325#issuecomment-248398440 that emmet should work for PHP in VS Code now.
Did you mean that xml expansion works in php files or php expansions should work in php files?

[2016-11-16 22:41] aozgaa commented on #15553
It appears running
[code]
from a shell fixes the issue.

[2016-11-16 22:45] mrmlnc commented on #7913
I mean, that when I point out `php` in `emmet.excludeLanguages` Emmet continues to work in php.

![2016-11-17_01-43-48](https://cloud.githubusercontent.com/assets/7034281/20368935/585c4e42-ac67-11e6-9a94-673f923f9f68.gif)

But if I point out `html` Emmet doest now work:

![2016-11-17_01-44-48](https://cloud.githubusercontent.com/assets/7034281/20368948/70ac429a-ac67-11e6-825c-d75171682595.gif)

So

[2016-11-16 22:46] ramya-rao-a commented on #7913
@mjbvz just found that the exclusion works if you are inside the <?php ?> block.

[2016-11-16 22:50] ramya-rao-a commented on #7913
@mrmlnc At the moment `php` is not one of the supported modes for emmet correct?

As in I cannot expect  `this>Form>data.Encode` to expand to `$this->Form->data['Encore']`

[2016-11-16 22:50] mjbvz commented on #7913
Yes, I did actually test this before closing this the other day :) but forgot that adding `"php"` to excluded languages only disables emmet inside of `<?php?>` blocks, and not within the whole file:

![nov-16-2016 14-49-11](https://cloud.githubusercontent.com/assets/12821956/20369059/d7dcc72a-ac0b-11e6-9b83-f1749fbb69a1.gif)

Closing this again

[2016-11-16 22:50] #7913 closed

[2016-11-16 22:51] mrmlnc commented on #7913
Yes, you right. I think that sooner VS Code defined region differently.

[2016-11-16 22:53] ramya-rao-a commented on #15576
@clitetailor I don't understand what the issue is here.

So what happens when you add `@param {{ log: (route: number[]) => void }} res` ?

[2016-11-16 22:59] mrmlnc commented on #7913
My apologies again. Now VS Code determines scopes of languages a little differently.

As far as I know, Emmet does not work with PHP. Because Emmet has no code for this (https://github.com/emmetio/emmet/search?utf8=%E2%9C%93&q=php) 😄.

[2016-11-16 23:00] ramya-rao-a commented on #15592
If you want to disable the html like expansions in a php file inside the `<?php ?>` block, then add `"emmet.excludeLanguages": ["php"]` in your settings.
You can disable emmet expansions altogether by setting `"emmet.triggerExpansionOnTab":false`

If you are looking for php like expansions, then I believe that is not supported at the moment.

@mrmlnc Can you confirm?

[2016-11-16 23:02] #11542 closed

[2016-11-16 23:04] chrmarti opened #15594 "Workbench doesn't open without opening a folder"
- VSCode Version: Code - Insiders 1.8.0-insider (fea4db1666427b95b649614fb7c40f25e3f5cf8d, 2016-11-16T22:05:31.640Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.0.7|
|python|donjayamanne|0.5.0|
|tslint|eg2|0.5.39|

---

Steps to Reproduce:

1. Open workbench without opening a folder.
2. Or: Close Folder when workbench o

[2016-11-16 23:05] ramya-rao-a commented on #7913
Thanks @mrmlnc

[2016-11-16 23:06] mrmlnc commented on #15592
@ramya-rao-a, yeap 👍

It seems to me that in Atom `<?php ?>` is just a snippet.

[2016-11-16 23:07] ramya-rao-a commented on #15592
Thanks @mrmlnc

[2016-11-16 23:07] #15592 closed

[2016-11-16 23:12] ghuntley opened #15595 "Crash upon startup, fresh install, no extensions."
- VSCode Version:
[code]
- OS Version:
[code]
Steps to Reproduce:

Crashes when launching from GUI and also when launched from CLI

[code]

Have uninstalled and reinstalled via downloading from official website.

[2016-11-16 23:12] ramya-rao-a commented on #15553
Thats interesting, clearing the node_nodules and doing a fresh npm install should have worked...

@Tyriar Any thoughts on why that wouldnt work in ubuntu?

[2016-11-16 23:14] mdickin opened #15596 "Add custom ordering to title menu items."
- VSCode Version: 1.7.1
- OS Version: Windows 8.1

Steps to Reproduce:

1. Create a new VSCode extension
2. Define commands in the package.json for "Toggle Bold", "Toggle Italics", and "Toggle Bullets", complete with icons.
3. Add these commands to the "editor/title" menu
4. Load Code with this extension installed
5. Note that the order of icons is changed, with the Bullets icon between Bold and I

[2016-11-16 23:17] ramya-rao-a commented on #15574
Now I can repro, thanks!

[2016-11-16 23:17] chrmarti commented on #15594
I think 7b37dbd671fabb introduced that. It might be easy to fix, but only happens in the built product. /cc @sandy081

[2016-11-16 23:27] mbana commented on #3011
@alexandrudima, hi,

[code]

Will fail with `ReferenceError: WebSocket is not defined` (because node doesn't support WebSocket, IRC, at the moment).

What's nice about allowing access to the Electron api, say, is being able to view the network traffic in the developer tools. The Node modules that provide WS support won't have special treatment so some extra work is required to debug these sorts of

[2016-11-16 23:32] #13064 closed

[2016-11-16 23:33] Tyriar commented on #15553
This happens when you run `npm install` instead of `./scripts/npm.sh install --arch=x64` because Electron uses a newer version of V8 (v50) than the latest node (v49). Let us know if this doesn't solve your issue.

[2016-11-16 23:34] #15594 closed

[2016-11-16 23:47] vscodeerrors opened #15597 "Cannot read property 'state' of null"
Issue Id: <b>a1f4af8c-5202-6830-05ae-b3ff274b0b0d</b><br /><br />*Versions* <br />- 1.8.0 Insiders (11/11/2016)<br />-  fb8939b09460ff9fbd40d39056b54c88d5aad9c8<br />*Stack* <br />

TypeError: Cannot read property 'state' of null<br />[/vs/workbench/parts/debug/browser/debugActions.ts#L56:50 (state)](https://github.com/microsoft/vscode/blob/fb8939b09460ff9fbd40d39056b54c88d5aad9c8/src/vs/workbench

[2016-11-16 23:48] lewisl9029 opened #15598 "Multi-line indents do not preserve partial indents"
- VSCode Version: 1.7.1
- OS Version: macOS Sierra 10.12.1

I'm using VSCode for Clojure editing right now and have been running into this issue a lot. This seems to be a general problem with VSCode's indentation mechanism though, and not a language specific problem. I've also verified that it's reproducible on the latest master build without any extensions or customizations applied.

Steps to Rep

[2016-11-17 00:02] waderyan commented on #15238
Cool. Closing now.

[2016-11-17 00:02] #15238 closed

[2016-11-17 00:04] waderyan commented on #15459
This looks like a duplicate of https://github.com/Microsoft/TypeScript/issues/11500

@mhegazy can you confirm?

[2016-11-17 00:05] waderyan commented on #15511
@bowdenk7 would you call this a bug or a feature request?

[2016-11-17 00:06] waderyan commented on #15511
This issue was moved to Microsoft/TypeScript#12316

[2016-11-17 00:06] #15511 closed

[2016-11-17 00:07] waderyan commented on #15521
Can you share your code? I am not seeing this on my end.

[2016-11-17 00:08] waderyan commented on #15508
This issue was moved to Microsoft/TypeScript-TmLanguage#357

[2016-11-17 00:08] #15508 closed

[2016-11-17 00:16] wallverb commented on #15598
Something similar: https://github.com/Microsoft/vscode/issues/9409

[2016-11-17 00:20] jamiebarrow commented on #10054
So, I'm not on the anniversary update, and pointing to `bash.exe` didn't work, but doing the below seems to be working for me (only just tried it, haven't used it extensively):

[code]

[2016-11-17 00:23] jamiebarrow commented on #7690
As [commented](https://github.com/Microsoft/vscode/issues/10054#issuecomment-261115806) in #10054, you can also try the below configuration:

[code]

[2016-11-17 00:31] ZCShou opened #15599 "Unable to open a separate file"
- VSCode Version: Code - Insiders 1.8.0-insider (fea4db1666427b95b649614fb7c40f25e3f5cf8d, 2016-11-16T22:05:31.640Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Bookmarks|alefragnani|0.10.0|
|tortoise-svn|fantasytyx|0.1.1|
|cpptools|ms-vscode|0.9.2|
|vscode-icons|robertohuertasm|4.0.1|

---

Steps to Reproduce:

1. Open any file by  Double-clic

[2016-11-17 00:35] dilijev opened #15600 "Insiders will not load editors when not in a folder workspace"
- VSCode Version: Code 1.8.0-insiders installed on 11/16/2016 -- Report issue link not working so I've screenshotted the about dialog:
![image](https://cloud.githubusercontent.com/assets/494055/20371415/8a1e8664-ac19-11e6-9126-833e083e28d5.png)

- OS Version: Windows_NT ia32 10.0.14965
- Extensions (running with --disable-extensions)

|Extension|Author|Version|
|---|---|---|
|python|donjayamanne|0

[2016-11-17 00:37] lewisl9029 commented on #9409
IMO dumb indentation should be the default, since that's the default behavior for most editors, and is least likely to break existing formatting. Especially in languages like Clojure where partial indents are very prevalent (see https://github.com/Microsoft/vscode/issues/15598).

That's my 2c, but as long as it's configurable at all as a setting, I can live with it.

[2016-11-17 00:40] vscodeerrors commented on #15597
hello again

[2016-11-17 00:43] vscodeerrors commented on #15597
Here is another similar callstack

TypeError: Cannot read property 'state' of null<br />[/vs/workbench/parts/debug/browser/debugActions.ts#L56:50 (state)](https://github.com/microsoft/vscode/blob/fb8939b09460ff9fbd40d39056b54c88d5aad9c8/src/vs/workbench/parts/debug/browser/debugActions.ts#L56:50 (state))<br />[/vs/workbench/parts/debug/browser/debugActions.ts#L120:8 (updateEnablement)](https://git

[2016-11-17 00:44] vscodeerrors commented on #15597
Here is another similar callstack

TypeError: Cannot read property 'state' of null<br />    at t.updateEnablement (out/vs/workbench/electron-browser/workbench.main.js:93:9200)<br />    at out/vs/workbench/electron-browser/workbench.main.js:93:10941<br />    at e.invoke (out/vs/workbench/electron-browser/workbench.main.js:30:22801)<br />    at e.fire (out/vs/workbench/electron-browser/workbench.mai

[2016-11-17 00:45] vscodeerrors commented on #15597
Here is another similar callstack

TypeError: Cannot read property 'state' of null<br />[/vs/workbench/parts/debug/browser/debugActions.ts#L56:50 (state)](https://github.com/microsoft/vscode/blob/fb8939b09460ff9fbd40d39056b54c88d5aad9c8/src/vs/workbench/parts/debug/browser/debugActions.ts#L56:50 (state))<br />[/vs/workbench/parts/debug/browser/debugActions.ts#L120:8 (updateEnablement)](https://git

[2016-11-17 00:46] cnshenj opened #15601 "Switching editor loses scroll (caret) position"
- VSCode Version: 1.7.1
- OS Version: Windows 10 1607

Steps to Reproduce:

1. Click an extension in "Extensions" side bar so its description is opened in an editor
  Or, click a changed file in "Git" side bar to open the diff in an editor
2. Double click the tab so the editor is kept open
3. Scroll down to some location that is not the top. Or move caret down.
4. Switch to a different editor, the

[2016-11-17 00:47] chrmarti opened #15602 "A way to pause rolling out a new version"
Not sure how simple and useful this would be, but if we had had a way to pause the rollout of 1.7.0, we could have bought us some time to make a decision and possibly build a 1.7.1 to continue the rollout with.

/cc @seanmcbreen @kieferrm @joaomoreno

[2016-11-17 00:52] ramya-rao-a opened #15603 "Update error telemetry site to add callstacks as comments to existing issues"
Currently, while triaging errors in the error telemetry site, when you come across a callstack which is slightly different from the one for which issue is already logged, all you can do is add link to the issue which marks it as triaged.
The corresponding github issue has no knowledge of such linked errors.

This issue is to enable adding such callstacks as comments to the github issues

[2016-11-17 00:55] vscodeerrors commented on #15597
Here is another similar callstack

TypeError: Cannot read property 'state' of null<br />[/vs/workbench/parts/debug/browser/debugActions.ts#L56:50 (state)](https://github.com/microsoft/vscode/blob/fb8939b09460ff9fbd40d39056b54c88d5aad9c8/src/vs/workbench/parts/debug/browser/debugActions.ts#L56:50 (state))<br />[/vs/workbench/parts/debug/browser/debugActions.ts#L120:8 (updateEnablement)](https://git

[2016-11-17 00:56] chrmarti opened #15604 "Simple way to temporarily turn off exclusions for QuickOpen files"
Using a transpiled language I sometimes find the need to look at the transpiled code which typically is excluded from QuickOpen. Having a simple way to turn exclusions off would simplify this. Some options come to mind:
- Have a 'Turn Off Exclusions' entry at the end of the results list.
- Have an additional QuickOpen prefix that runs QuickOpen with exclusions turned off.
- Have an option toggle n

[2016-11-17 00:59] ramya-rao-a commented on #15603
Fixed by https://monacotools.visualstudio.com/Monaco/_git/VSCodeInternal/commit/968e18fb5834a6e1dc06f0a9569ad3d6acc873fc

[2016-11-17 00:59] #15603 closed

[2016-11-17 00:59] kieferrm commented on #15602
One of the discussions that emerged is that we should start rolling out in chunks rather than to everyone at the same time. That would allow us to monitor the roll-out and potentially stop it if needed.

[2016-11-17 01:02] vlod opened #15605 "Clicking failed mocha test file (via VSC debug) doesn't open the file."
- VSCode Version: 1.7.1
- OS Version: macOS 10.12.1

Steps to Reproduce:

See project: https://github.com/vlod/hello-test

1. Click the debug icon in the left sidebar, make sure 'Test' is selected and hit run
2. Clicking on the failed error: 'hello-test.js:7:24' should open the file.

Above github project has screenshots.

[2016-11-17 01:02] ramya-rao-a commented on #15600
@chrmarti Duplicate of #15594 ?

[2016-11-17 01:06] ramya-rao-a commented on #15599
@chrmarti Duplicate of #15594 ?

[2016-11-17 01:06] nancym opened #15606 "offline install and "last disk of Multi-Volume set""
I'm installing VSCodeSetup-1.7.1.exe on a Windows 10 device that is not connected to the internet. Lots of files were installed and now I'm looking at a dialog box that is titled ***Compressed (zipped) Folders***

and says this:

What file(s) do I need to download on another device and then copy to this offline device to completely install VS Code 1.7.1?

Thank you.

[2016-11-17 01:08] mjbvz opened #15607 "Add Find Command To Public Command API"
- VSCode Version: 1.8

**Request**
Add a command that opens the workspace file search control and pre-populates some of the fields (optionally triggering a search as well).

**Reason**
I wanted to put together a simple extension to do a file search only within the directory of the currently active file. To implement this in a way that is consistent with the rest of vscode, I see using a command th

[2016-11-17 01:10] ramya-rao-a commented on #15598
@alexandrudima Would this be tracked as part of #15598 or separate?

[2016-11-17 01:21] ramya-rao-a commented on #15600
The new insiders build has the fix. Please update.

[2016-11-17 01:21] #15600 closed

[2016-11-17 01:21] ramya-rao-a commented on #15599
The new insiders build has the fix. Please update.

[2016-11-17 01:21] #15599 closed

[2016-11-17 01:28] MuNaiYi520 commented on #15575
@ramya-rao-a I hope to be able to synchronize the settings on different computers, work is a computer, home to continue to work is another computer.

[2016-11-17 01:28] ihorskyi commented on #12940
@isidorn is it possible to hide tab title?

[2016-11-17 01:39] MuNaiYi520 opened #15608 "enlarge"
- VSCode Version:1.7.1
- OS [Version:] win10 14965

Steps to Reproduce:

1. as the picture shows
![image](https://cloud.githubusercontent.com/assets/7043494/20372904/867a1272-aca9-11e6-9d31-1439e77308d7.png)

[2016-11-17 01:43] hxfdarling commented on #15555
This is my config

       "editor.mouseWheelScrollSensitivity": 1.8,
	"editor.fontSize": 22,
	"editor.renderWhitespace": "boundary",
	"editor.mouseWheelZoom": true,
	"editor.insertSpaces": false,
	"editor.renderIndentGuides": false,
	"editor.detectIndentation": false,

I have some code files can't according to the format TAB indent style,always use  space indentation
I can't reappear that when uni

[2016-11-17 01:53] strongant opened #15609 "I want to copy the file bower path when copying the path in the File menu bar right mouse button."
- VSCode Version:v1.7.1
- OS Version:Linux

[2016-11-17 02:02] ramya-rao-a commented on #15555
So installing  JS-CSS-HTML-formatter extension solved the problem?

Can you see the problem with all extensions disabled?

[2016-11-17 02:09] ramya-rao-a commented on #15575
There are quite a few issues logged for this purpose.
#10114
#9999
#2743

Please add your thoughts/upvotes there

[2016-11-17 02:09] #15575 closed

[2016-11-17 02:25] mjbvz opened #15610 "JS Large Project Warning Action Fails For Implicit Projects With TypeScript 2.1+"
- VSCode Version: 1.8

![screen shot 2016-11-16 at 6 21 10 pm](https://cloud.githubusercontent.com/assets/12821956/20373844/8a7c1eea-ac29-11e6-94d5-2437f2e777ce.png)

Steps to Reproduce:

1.  Create a JS project with over 500 files to trigger the large project warning from VSCode. Make sure the project does not have a `jsconfig.json` file.
2. Click on configure project warning in the status bar.
3

[2016-11-17 02:26] bpj101 commented on #101
Sorry. I hoe the written comments in the email helps.

On Nov 16, 2016 11:47 AM, "Daniel Imms" <notifications@github.com> wrote:

[2016-11-17 02:39] BobVul opened #15611 "Ability to enable extensions only on specific workspaces"
#2882 recently added the ability to disable extensions either globally or on specific workspaces. With these new options, it is now possible to have extensions enabled on all except some selected workspaces.

However, it currently does not seem to be possible to enable extensions on specific workspaces while disabling them on all others, effectively the inverse of what is currently implemented.

I

[2016-11-17 02:48] jmmk commented on #11295
@joaomoreno
The way I interpret this (because I just ran into the same issue) is that it would be nice to have an option to "check for extension updates" which would see if any newer versions had been uploaded to the marketplace (I assume this is what happens on restarting VSCode?). In this case, I _knew_ that a new version was there, but VSCode did not indicate to me that I could update the exten

[2016-11-17 02:56] #15555 closed

[2016-11-17 02:58] lovebdsobuj commented on #101
Sir @bpj101, If you just edit your previous comment with images, It will better.

[2016-11-17 03:20] atolken opened #15613 "If No Staged Files, Changed Files are Added to Commit"
- VSCode Version: 1.71
- OS Version: Windows 10 Enterprise

Steps to Reproduce:

1. make changes / have changed files
2. do not stage any files
3. write commit message
4. submit commit

problem: all files that were changed (even though none were staged) are added to the commit.
expected: if no files are staged, the commit will not add any files (similar to other git tools).

[2016-11-17 03:52] joeyespo commented on #1046
I'm definitely 👍 for this feature, but wanted to offer some comfort to those waiting.

There was a time when [Sublime Text didn't have this feature either](https://forum.sublimetext.com/t/is-it-possible-to-select-text-and-drag-it-to-a-new-location/3740). It seems "small" features like this are the growing pains of young editors gaining popularity. (It's also amusing how similar the conversations a

[2016-11-17 03:58] siegebell commented on #15613
This behavior is likely intentional, but after many revert-last-commit operations, I've come to really hate it.

[2016-11-17 04:05] leaxoy opened #15614 "[Feature request]Hot reload for extensions"
- VSCode Version: Code - Insiders 1.8.0-insider (3408691c13470346a119141e57aa74b302464a4a, 2016-11-14T07:05:07.232Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.1.0|
|githistory|donjayamanne|0.1.0|
|python|donjayamanne|0.5.2|
|tslint|eg2|0.5.40|
|Go|lukehoban|0.6.49|
|vscode-clang|mitaki28|0.2.1|
|cpptools|ms-vscode|0.9.2|

---

[2016-11-17 04:34] wadewalker25 opened #15615 "VSCode is running very poorly all of a sudden, regardless of what project I have open."
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.18|
|vscode-javascript-snippet-pack|akamud|0.1.5|
|MochaSnippets|Alan|0.0.1|
|angular1-code-snippets|alexandersage|0.0.3|
|vscode-angular2-files|alexiv|1.3.2|
|typings-installer

[2016-11-17 04:34] Josema opened #15616 "Error debuging an ES6 Proxy"
- VSCode Version: 1.7.1 (1.7.1)
- OS Version: OSX El capitan 10.11.2
- Node.js version: v7.1.0

Steps to Reproduce:

1. Defining a object as ES6 Proxy
2. Running script with the Debug tool (Shift+CMD+D)
3. Typing the object in the console

Throw this error
[code]
<img width="1042" alt="screen shot 2016-11-17 at 12 31 30" src="https://cloud.githubusercontent.com/assets/1819888/20376477/f358abb6-acc

[2016-11-17 04:38] kenrachynski commented on #15325
I just ran into this on a fresh RHEL7 installation and noticed that vscode 1.7.1 x86_64 is asking for i686 dependencies instead of x86_64 dependencies and all the x86_64 dependencies were already installed anyway.

[2016-11-17 04:40] wadewalker25 commented on #15615
Note, I think it might be the vscode-angular2-files extension. After disabling that one extension my cpu is down to much nicer 4% total.

[2016-11-17 05:22] ghuntley commented on #15595
Now it's working again.......

Additional information which may be relevant.

[code]

[2016-11-17 05:22] #15595 closed

[2016-11-17 05:27] ramya-rao-a commented on #15608
Closing as duplicate of #15389. The fix is already in the insiders build. You can use the insiders build until the next VS Code update

[2016-11-17 05:27] #15608 closed

[2016-11-17 05:31] Josema opened #15617 "Multiple versions of node.js (Feature request)"
Is possible to debug with different version of node.js? I tried this:
[code]
And this:
[code]

But not sure if is possible right now. Also tried on `cwd`. And without nvm just the bin directly `/Users/enzo/.nvm/v0.11.16/bin/node `

[2016-11-17 05:33] ramya-rao-a commented on #15609
what is a "file bower path" ?

[2016-11-17 05:35] ramya-rao-a commented on #15615
@bpasero In this case would this be an issue for the extension, or is it worth seeing what exactly is the extension exploiting to affect VS Code like this?

[2016-11-17 05:36] buzzzzer commented on #15553
@ramya-rao-a

dont work for me

@Tyriar

No. I use ./scripts/npm install instead ./npm install

1. I deleted node_modules,
2. npm install -g gulp
3. gulp clean
4. gulp clean-electron
5. scripts\npm install
6. npm run watch
Аll steps are no errors

7. scripts\code gives an error and open two windows vscoder

@ramya-rao-a

dont work for me

@Tyriar

No. I use ./scripts/npm install instead ./npm inst

[2016-11-17 05:40] sushilei opened #15618 "I have these files,but they can't be found."
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.5.2|
|mono-debug|ms-vscode|0.11.0|

---

Steps to Reproduce:

1.Loaded '/usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.1.0/System.Private.CoreLib.ni.dll'. Cannot find or open the symbol

[2016-11-17 05:42] bpasero commented on #15186
I am closing this due to the lack of information how to reproduce and we did not hear from any other user. Please report back if this ever happens again.

[2016-11-17 05:42] #15186 closed

[2016-11-17 05:42] #13527 closed

[2016-11-17 05:43] ramya-rao-a commented on #15553
@bpasero Would the recent change to use the newer electron version cause this?

[2016-11-17 05:43] bpasero commented on #15562
https://github.com/Microsoft/vscode/issues/12473

[2016-11-17 05:43] #15562 closed

[2016-11-17 05:47] vipinneemamnit opened #15619 "Server returned 407"
- VSCode Version:latest
- OS Version:ubuntu

Steps to Reproduce:

1. it is not working behind proxy server

2. how to setup proxy of our collage in visual studio code

[2016-11-17 05:48] bpasero commented on #15604
@chrmarti what I typically do is to copy the full path of the TS file and then replace `src` with `out` and `ts` with `js`. Quick open will never filter if you put the full path in.

[2016-11-17 05:49] bpasero commented on #15595
@ghuntley from the output it looks like you had another instance of Code running (maybe a crashed process leftover?) that receives the request from the CLI to open a window and that probably failed. So next time this happens, maybe check the activity monitor for left over "Code" processes running.

[2016-11-17 05:50] bpasero commented on #15615
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2016-11-17 05:50] #15615 closed

[2016-11-17 05:53] bpasero commented on #15271
@casonadams thanks, moving into https://github.com/Microsoft/vscode/issues/13665

as a workaround, there is a way to disable file watching by setting `"files.watcherExclude": { "**": true }` in settings.

[2016-11-17 05:53] #15271 closed

[2016-11-17 05:54] bpasero commented on #15572
Merging into https://github.com/Microsoft/vscode/issues/3998

[2016-11-17 05:54] #15572 closed

[2016-11-17 05:56] bpasero commented on #15571
@Tyriar just to clarify, even when hot exit is disabled you backup for each modification of a file and will restore it even when hot exit is disabled?

[2016-11-17 06:01] ChristianRRL opened #15620 "Console.ReadLine Not Working"
- VSCode Version: Preview 1 (7.0 build 347)
- OS Version: OSX El Capitan 10.11.6

Steps to Reproduce:

1. Write the following code:
class MainClass
{
	public static void Main()
	{
		System.Console.WriteLine("Begin Test");
		System.Console.WriteLine("ReadLine: ");
		System.Console.ReadLine();
		System.Console.WriteLine("End Test");
	}
}
2. Run the program
3. The lines "Begin Test" and "ReadLine" po

[2016-11-17 06:14] bpasero opened #15621 "Cannot read property 'activeParameter' of null"
Clicked around (running out of sources) in a HTML file that includes JS (file below):

[code]

[code]

[2016-11-17 06:17] bpasero commented on #15553
@buzzzzer can you try this:
* `git clean -xfd`
* `scripts\npm.bat install`
* `gulp watch`
* new terminal: `scripts\code.bat`

[2016-11-17 06:23] meshula commented on #15549
Perfect, thanks! I hadn't been able to find the runTask command. Is there a documentation page, or other way to discover command names?

[2016-11-17 06:38] bpasero commented on #5243
I would love to find out if VS Code runs inside a VM, if someone has ideas how to detect that, please let me know.

[2016-11-17 06:38] buzzzzer commented on #15553
@bpasero
Done. It seems to work.
first run scripts\code.bat open 2 instances with 2 different workspace. (Earlier explorer tree was not visible)
second and next runs opened one instance. Look ok. Thanks !

p.s. Possible #15571  ?

[2016-11-17 06:39] bpasero commented on #7771
@taoyouh we are in the process of updating to a newer electron version, I was wondering if you could give our latest a try to see if that resolves the blurriness. Just jump to our insiders build:

You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-11-17 06:40] bpasero commented on #15108
@biker-linz I recently added support to log more information around the startup, was wondering if you could give it a try:
* use our insiders build (http://code.visualstudio.com/Download#insiders)
* start it
* when done, F1 > Startup performance
* send me the output from the "Console" in developer tools

[2016-11-17 06:41] JoshVarty opened #15622 "Incorrect handling of unicode markers - Backspace splits Ideographic Variation Sequence"
- VSCode Version: 1.6.1
- OS Version: Windows 10

We've got this bug in Visual Studio for Windows and I noticed that VS Code has it as well.

Steps to Reproduce:
1. Paste following code in VSCode. It's C# code, but it repros in any file.
[code]

2. Place cursor to right of either first or third 辻󠄀

3. Press backspace

**Expected behavior**: The entire character should be removed as it does in Note

[2016-11-17 06:42] bpasero commented on #15074
@eedahl we just updated Electron again, was wondering if that helps you: http://code.visualstudio.com/Download#insiders

[2016-11-17 06:42] bpasero commented on #14182
Can this be closed?

[2016-11-17 06:46] bpasero commented on #15553
@joaomoreno I speculate that @buzzzzer was doing the npm install correctly, but in the `.build` folder there was still the old electron version laying around. I also sometimes hit this. Maybe the npm.bat script should delete the .build folder so that we do not run into this issue everytime?

[2016-11-17 06:50] bpasero commented on #14109
@HolyOne @pflannery I recently pushed a new command to insider builds to trace where time is spend on startup. Would love if you could give it a try:
* download latest insider build: http://code.visualstudio.com/Download#insiders
* start it
* when done F1 > Startup performance
* send the contents of developer console into here

Thanks!

[2016-11-17 06:52] peterblazejewicz opened #15623 "Preview pane does not show output [SQL Results, Markdown Preview, etc]"
- VSCode Version:
Version 1.8.0-insider
Commit 1b95a2f7a7e8858c5612807522a6f8cd8e03c1dc
Date 2016-11-17T00:36:45.332Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0
- OS Version: Windows 10 Enterprise

Steps to Reproduce:

1.  Open Markdown file `.md`
2.  Choose Open Preview command

Expected:
The rendered Markdown preview is shown
Actual:
Blank pane is rendered (no content)

The Markdown issue is

[2016-11-17 06:55] Tsmith18256 commented on #15037
I'm confused about what you are trying to accomplish here. Do you want the comment shortcut to be where the `/` is on QWERTY or where it is on DVORAK? Either way, these should both be achievable at the OS level and not be an issue of an application.

I use Programmer-DVORAK on Windows at home and OS X at work. I have the shortcut keys mapped to the QWERTY locations, but both of those operating sys

[2016-11-17 07:05] Tsmith18256 opened #15624 "Pressing "v" on DVORAK layout commits autocorrect"
- VSCode Version: 1.7.1
- OS Version: Windows 10

This is a fun one... I use a Programmer-DVORAK layout, and the autocomplete commits whenever I type the letter `v`. The issue goes away if I switch back to QWERTY. It is pretty clear what is happening here; the `v` on DVORAK (or Programmer-DVORAK) is where the period is on QWERTY, which is intentionally meant to complete the autocorrect.

This is o

[2016-11-17 07:15] topgun743 commented on #105
Don't understand why Visual Studio Code team not adding this `#region #endregion` feature still after so many builds of theirs. Its a must for their product.

[2016-11-17 07:23] mhegazy commented on #15459
The commment is indented with the line that follows it. So this sounds right to me.

[2016-11-17 07:32] plhosk commented on #7345
This problem is happening for me on Windows 10 (version 1607 build 14393.447) with VSCode 1.7.1 and Git for Windows 2.10.2.

When I use bash.exe as the integrated terminal, the backspace or arrow keys cause the cursor to become out of sync with what's printed on the screen.

[2016-11-17 07:42] alarcl opened #15625 "autoClosingBrackets and ("
- VSCode Version: 1.7.1
- OS Version: Windows 8.1 64

I have `"editor.autoClosingBrackets": false`
If type `(` then auto insert `)`.
If type any other brackets all work ok - no auto close for `[{"`

[2016-11-17 07:43] aeschli commented on #15517
duplicate of #15018

[2016-11-17 07:43] #15517 closed

[2016-11-17 07:54] sandy081 commented on #15594
@chrmarti Thanks for the fix. It was an overlook from my side to not to check the workspace.

[2016-11-17 07:56] aeschli commented on #15582
This issue was moved to Microsoft/TypeScript-TmLanguage#358

[2016-11-17 07:56] #15582 closed

[2016-11-17 07:59] olivermue opened #15626 "Syntax coloring gets messed up after mixing brackets and slashes."
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: none
---

Steps to Reproduce:

Take an existing .ts file and insert the following code:
[code]
The current result is
![image](https://cloud.githubusercontent.com/assets/17193431/20380690/e2d0781e-aca3-11e6-8ce9-92270a00b739.png)

[2016-11-17 08:00] aeschli commented on #15568
It's also something we don't have in HTML.

[2016-11-17 08:02] sandy081 commented on #15490
@ramya-rao-a There is an already an issue tracking this - #15244

If we just have the cursor on a word, ctrl/cmd+shift+F does not pick up the word.

[2016-11-17 08:09] sandy081 commented on #15490
@entonio
1. There is no command/api to trigger search automatically
2. There is also no command to toggle/close the replace. It always remembers the previous state of Search/Find and shows/hides replace accordingly
3. You can search for extensions either in VS Code extensions view or in [Market Place](https://marketplace.visualstudio.com/VSCode). If you do not find for what you are looking you can

[2016-11-17 08:09] jrieken commented on #15284
we still need to know if what file type this happens and if it happens with extensions enabled (`code --disableExtensions`)

[2016-11-17 08:10] sandy081 commented on #15524
I believe this is an issue that can't be solved by linter configurations. If a file is linted then deleted, renamed, or was Untitled, the linter can't possibly know that was the case.

@atishpatel Linter is responsible to handle such cases and clear the markers it generated. I assume extensions are notified when such things happen.

[2016-11-17 08:13] leoniDEV commented on #329
On Windows 10, using the zipped package of Code 1.8.0 extracted on a USB drive, the user data are loaded as expected from the folder specified with `--user-data-dir`, but the extensions are installed in the default location `%HOMEPATH%\.vscode-insiders\exstensions` ignoring `--extensions-dir`.

[2016-11-17 08:21] jrieken commented on #15596
There is way to define the order and I am surprised we haven't properly documented that... What you can do is adding an order to the group-attribute like so `group: name@number`. In your case

[code]

[2016-11-17 08:21] #15596 closed

[2016-11-17 08:21] jrieken commented on #15596
I'll make sure to update the doc for this

[2016-11-17 08:23] jrieken commented on #15570
You must embed the script inside the document your provider is returning

[2016-11-17 08:23] #15570 closed

[2016-11-17 08:25] jrieken commented on #13267
Wouldn't  `activeTerminal` and `onDidChangeActiveTerminal` APIs be better for spying on them?

[2016-11-17 08:28] OliverJAsh commented on #15587
That helps, thank you!

This command is currently used in the context menu, which appears to provide the `uri` argument. Is this documented anywhere?

[2016-11-17 08:28] #15587 closed

[2016-11-17 08:29] eedahl commented on #15074
It looks fixed!

[2016-11-17 08:39] isidorn commented on #12940
@ihorskyi currently not but I am thinking about disabling tabs when in zen mode. So the title would still be there - it would just not be cluttered

[2016-11-17 08:40] isidorn commented on #15597
Fixed in master

[2016-11-17 08:40] #15597 closed

[2016-11-17 08:42] bpasero commented on #12940
That is actually an interesting idea 👍

[2016-11-17 08:44] joaomoreno commented on #11295
Thanks @jmmk, I did misunderstand this at first.

[2016-11-17 08:44] jrieken commented on #15267
Hm.. I know that @alexandrudima has refactored the cursor. I have made no changes other than adding support for another snippet syntax. That shouldn't affect this.

[2016-11-17 08:45] bpasero commented on #13805
@sillyotter  we just updated Electron again, was wondering if that helps you: http://code.visualstudio.com/Download#insiders

[2016-11-17 08:45] joaomoreno commented on #8223
On second thought... there might be an actual URL in there that we definitely don't want to block.

[2016-11-17 08:45] bpasero commented on #12087
@miladghiravani can you try our latest insider build (http://code.visualstudio.com/Download#insiders), start it and then from the command palette run "Startup performance" and send the output from the console?

[2016-11-17 08:46] bpasero commented on #9432
@OliverJAsh we just updated Electron again, was wondering if that helps you: http://code.visualstudio.com/Download#insiders

[2016-11-17 08:46] joaomoreno commented on #15581
Oh great catch!

[2016-11-17 08:46] bpasero commented on #7726
@euclimauro  we just updated Electron again, was wondering if that helps you: http://code.visualstudio.com/Download#insiders

[2016-11-17 08:47] bpasero commented on #12637
@dgiagio just wondering if our latest insider build changes anything for you. It now uses Chrome 53 instead of 52.
You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-11-17 08:47] bpasero commented on #15074
That is pretty cool, thanks.

[2016-11-17 08:48] #15074 closed

[2016-11-17 08:50] joaomoreno commented on #15613
This is intended.

- when there are no changes, nothing happens
- when there are no staged changes, all working tree changes are committed
- when there are staged changes, only those are committed

Would you like a setting to disable that?

[2016-11-17 08:51] joaomoreno commented on #15606
Can you show us a screenshot of that window?

[2016-11-17 08:52] jrieken commented on #15267
@alexandrudima is it possible that `this.editor.executeEdits` doesn't update the cursor anymore? I can see that we insert a new line above the cursor but that the cursor position isn't changed after that, e.g it is still on it's old value and therefore the primary edit happens on the wrong line

[2016-11-17 08:58] optyler commented on #10328
I got high CPU usage too on OSX

- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|vscode-eslint|dbaeumer|1.1.0|
|sass-lint|glen-84|0.0.3|
|sublime-babel-vscode|joshpeng|0.2.2|
|sass-indented|robinbentley|1.2.1|
|react-redux-es6-

[2016-11-17 09:00] jrieken commented on #15583
We might have reached a point where it makes sense to talk about a second overload with an options bag. Like

[code]

[2016-11-17 09:02] jrieken commented on #15573
Some extensions depend on the LSP to have support for this as well - #15577

[2016-11-17 09:03] joaomoreno commented on #15553
This is strange. `gulp electron` used to compare the version inside `.build` with the intended one... and only download them if they mismatched. I don't find this code anymore... not sure why and how it's gone.

[2016-11-17 09:09] bpasero commented on #15623
This is probably https://github.com/Microsoft/vscode/commit/0cef61f4f4d8a73a00f8da28bdf9b7af0a11e4ef

[2016-11-17 09:26] noxdafox commented on #1996
The Emacs extension partially does that.

https://marketplace.visualstudio.com/items?itemName=hiro-sun.vscode-emacs

It works when navigating the code using arrows but not with any other keyboard shortcut though.

[2016-11-17 09:34] OliverJAsh commented on #9432
Should I try the latest Insider version?

On Thu, 17 Nov 2016 at 08:46 Benjamin Pasero <notifications@github.com>
wrote:

[2016-11-17 09:50] tingtien opened #15627 "input " in terminal"
- VSCode Version:1.7.1
- OS Version:10.11.6
- terminal : iTerm2(3.0.12)

Steps to Reproduce:

1. there are the messy code when I input " in terminal,but it is right in the iTerm2.

vs code:
![1118-1](https://cloud.githubusercontent.com/assets/5448557/20384306/47f272ac-acee-11e6-979e-8280a31cccc6.jpg)

iterm2:
![1118-2](https://cloud.githubusercontent.com/assets/5448557/20384860/4257fb30-acf0-11e6-

[2016-11-17 10:01] valery-shinkevich opened #15628 "CodeLens don't show References, Find References don't work"
- VSCode Version: 1.7.1
- OS Version: Windows 10 Pro 64 bit.

![Uploading изображение.png…]()

CodeLens don't show References, Find References don't work

settings.json `{"editor.codeLens": true}`

[2016-11-17 10:04] jrieken opened #15629 "Editor lacks with crazy amounts of decorations"
I use the [Rainbow](https://marketplace.visualstudio.com/items?itemName=2gua.rainbow-brackets)-brackets extension that adds a colourful decoration per bracket-pair. When typing in large files that causes the editor to stall from time to time. This is what I did for the attached profile

* install rainbow brackets
* open `vscode.d.ts`
* start profiling
* spend some time to write jsdoc comments
* fr

[2016-11-17 10:05] jrieken commented on #15629
[CPU-20161117T110434.cpuprofile.zip](https://github.com/Microsoft/vscode/files/597026/CPU-20161117T110434.cpuprofile.zip)

[2016-11-17 10:10] taoyouh commented on #7771
Seems the insider-1.8.0 version solved the problem.

[2016-11-17 10:11] jsenjoy commented on #1023
👍  It's important, and I need. Mutil-select will make vscode be more convenient for developers.

[2016-11-17 10:13] valery-shinkevich commented on #15628
Excuse me, but screenshot didn't add on Firefox... I retry with Edge

[2016-11-17 10:13] ricardoferreira1980 opened #15630 "No feedback on no network connectivity when I tried to install an extension"
- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|

---

Steps to Reproduce:

1. Install latest VS Code
2. Clicked on Extensions
3. Selected "Debugger for Chrome"
4. Clicked "Install"
5. The button says "Installing" forever, and no feedback is given on the p