[2021-06-21 07:24] bpasero commented on #126637
Isn't this Linux?

[2021-06-21 07:28] zhiyun1 opened #126805 "command `workbench.action.toggleEditorType` doesn't work anymore"
- VS Code Version: V1.57.0 & V1.57.1
- OS Version: Windows

Steps to Reproduce:

1. I created a button to execute the command `workbench.action.toggleEditorType`.The purpose is to switch between the custom editor and the default editor. But an error was reported that `Error: command 'workbench.action.toggleEditorType' not found`.

2. Then I noticed that the command `workbench.action.toggleEditorTy

[2021-06-21 07:34] alexr00 commented on #126768
Can you please share a copy/pasteable code snippet that reproduces this issue?

[2021-06-21 07:36] Torvaldi commented on #126781
Reproducible in Linux Ubuntu 20.04.2.

When I'm trying to auto-import something, I got this error on developer console :
![image](https://user-images.githubusercontent.com/7703951/122724362-242e8580-d274-11eb-94f3-0ef2a474562c.png)

[2021-06-21 07:44] CodeAsm commented on #41309
Isnt that what MS wants? pull you in with VSCode and community edition, then lure you to their Visual Studio paid subscribtions/products for "pro" features? or "build in, no need for a extension"

anyway, I love VScode, toolbar would be awesome for my spouse (I would love to get her to code next to writing stuff in word). its mostly commandline stuff for me tho. but im a Linux user anyway, so my o

[2021-06-21 07:55] weinand commented on #126800
@Glow-Bunny
What platform?
What VS Code version?

What is the status of your C# extension in the extensions view? Here is how it should look:

<img width="1359" alt="2021-06-21_09-54-20" src="https://user-images.githubusercontent.com/1898161/122726933-c9e2f400-d276-11eb-96b8-b59e10308eb4.png">

[2021-06-21 08:00] JiaRu2016 commented on #126768
Here is a copy-pastable code, can be build and run succesfully using `nvcc foo.cu -o out`

[code]

besides the original figure, there are more linting error:
![Screen Shot 2021-06-21 at 4 00 00 PM](https://user-images.githubusercontent.com/17561508/122727577-bf8e1d80-d2a9-11eb-9250-5cf55294821b.png)

[2021-06-21 08:13] Anushka11a commented on #123535
I have downloaded vs code yesterday for first time and after  typing is so slow that I can type  and sit and watch it completing in few more seconds. even after clicking on files, edit tabs it take a lot of time to open

[2021-06-21 08:14] cloudsere commented on #125661
I reinstall my windows system...and it worked for several days...today it happens again @alexdima can you help with it?
[20210621T010951.zip](https://github.com/microsoft/vscode/files/6685083/20210621T010951.zip)

[2021-06-21 08:16] joaomoreno commented on #126555
I wouldn't want to make Enter do different things depending on the node's state. Closing this for now.

[2021-06-21 08:16] #126555 closed

[2021-06-21 08:17] lediur commented on #126533
/verified

[2021-06-21 08:24] joaomoreno commented on #126777
I also noticed this last Friday and fixed it then: https://github.com/microsoft/vscode/commit/fe160b35e58209de2fa5f3c6847385f9baf1d527

[2021-06-21 08:24] #126777 closed

[2021-06-21 08:25] joaomoreno commented on #126721
This is not supported with the User Setup, since that doesn't run with Admin rights, so it won't be able to spawn Code as Admin. You can probably achieve what you want to do if you use the System Setup.

[2021-06-21 08:25] #126721 closed

[2021-06-21 08:26] joaomoreno commented on #126628
This feels like a broken update, unfortunately, /duplicate #47841

Can you uninstall and reinstall VS Code?

[2021-06-21 08:27] #126628 closed

[2021-06-21 08:27] joaomoreno commented on #126686
How much RAM do you have?

[2021-06-21 08:36] yakumoklesk opened #126806 "After installing 1.57, executing Terminal while connected to remote server gives "execvp(3) failed. permission denied vscode""
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1. Install version 1.56. Test remote connection. Then upgrade to 1.57
2. Running terminal when connected to remote, should fail with "execvp(3) failed. permission denied vscode"

The only thing that I can have that may affect to the run of the "bash" comand, is the contents of th

[2021-06-21 08:38] vtintillier commented on #84136
I changed the Logitech Options configuration for Google Chrome from `Navigate between tabs` to `Horizontal scroll`, and now it works fine in VS Code. This solution is OK for me as I disliked the default `Navigate between tabs` behavior 😃

![image](https://user-images.githubusercontent.com/494652/122732278-6c51a600-d27c-11eb-9e38-206545a2991a.png)

[2021-06-21 08:38] timetravellingmagpie opened #126807 "Feature Request: Password Protected Directories"
I would like to request that you incorporate a password protection feature for folders in Visual Studio Code to protect the contents.

[2021-06-21 08:38] yakumoklesk commented on #124968
Hi, I have put a bug, probably is duplicated of this. Has anyone tested having a remote host bashrc profile that source other tools like git_bash_prompt? I think thinks like this may be causing the issues.

[2021-06-21 08:44] #126807 closed

[2021-06-21 08:47] dbaeumer commented on #126706
Dups https://github.com/microsoft/vscode/issues/32461

[2021-06-21 08:47] #126706 closed

[2021-06-21 08:49] dbaeumer commented on #126213
@TylerLeonhardt the idea is to have a `fake` command that we only use to get a handful of localized strings

@jrieken can you please comment on my question here: https://github.com/microsoft/vscode/issues/126213#issuecomment-862989259

[2021-06-21 08:49] jrieken opened #126808 "Web worker extension host does not work anymore in VS Code Desktop"
My dev setup has always been to create a sym-link from my extension into the code-oss. That allows me to develop/debug extensions and VS Code at the same time. Since a week or two this has been broken for web extensions, like GH issue notebooks. Steps

* create a sym link to your extension inside `~/.vscode-oss-dev/extensions`
* start VS Code and be able to run/debug both: vscode and your extensio

[2021-06-21 08:49] #126408 closed

[2021-06-21 08:52] infinnie commented on #126801
Translation:

[2021-06-21 08:55] jrieken commented on #126808
@bpasero Is this maybe related to the vscode-file change?

[2021-06-21 08:58] jrieken commented on #126808
Yeah, seems to go away with `"enable-browser-code-loading": false`

[2021-06-21 08:58] bpasero commented on #126808
Possible, the renderer cannot and should not make requests to `file:`. The workbench "site" is now handled like any other website, so CORS kicks in (this was not the case before).

[code]

What code produces a `file` URI? That looks like a missing adoption of `FileAccess.asBrowserUri` to me.

[2021-06-21 09:07] jrieken commented on #125211
@bpasero please clarify. My assumption is that this isn't reentrant and that the caller of resolve sequentializes calls to `resolve`. I believe that otherwise the same issue happens [here](https://github.com/microsoft/vscode/blob/3b4d9757e246dd924b792fbab90c41c00ec1cbec/src/vs/workbench/contrib/files/browser/editors/fileEditorInput.ts#L341)

[2021-06-21 09:11] dbaeumer commented on #126666
IMO the reference view can support all three views and it can be some sort of configuration we do on the view. The protocol does support sub and super types and whether they are presented as a class view is a user decision and then a filtering on the client side.

[2021-06-21 09:13] #126240 closed

[2021-06-21 09:16] bpasero commented on #125211
@jrieken yeah everything should be fine from the moment we talk about working copies. No matter how many editor inputs you have and how parallel you call `resolve`, there is no issue with that.

But you might end up with multiple editor inputs (one from history, one from editor area) that could make things harder on you. Once #126728 is tackled, only editor area should deal with editor inputs.

[2021-06-21 09:20] bpasero opened #126809 "File watcher: have a `createWatcher(resource: URI)` API for workbench"
Today we have a simple API in `IFileService` to deal with file events:
* `watch(resource: URI): IDisposable`
* `onDidFilesChange: Event<FileChangesEvent>`

The former is only used to explicitly watch for resources that are outside of the opened workspace because the latter event will fire automatically for any change that occurs inside the workspace. This mainly leads to performance issues (such a

[2021-06-21 09:22] alexr00 commented on #126768
I'm not able to reproduce the issue by just using your CUDA C++ file, which indicates to me that this is likely caused by one or more of your installed extensions.

[2021-06-21 09:22] #126768 closed

[2021-06-21 09:30] joaomoreno commented on #126514
@misolori The list ctor already has a `overrideStyles` prop in the options. Can't those classes simply overload `listActiveSelectionIconForeground` to be `undefined`? That would remove the need for the strange `useActiveIcons` option, given that lists _should_ not know anything about icons or row's contents for that matter. Let me know what you think.

[2021-06-21 09:32] nachifur commented on #126135
I have a similar problem.

[2021-06-21 09:39] jrieken commented on #125211
What I see is that these inputs are never disposed but they do get resolved. That's quite bad and I don't understand yet if the issue you are linked fixes this or not

https://github.com/microsoft/vscode/blob/c4f3f8f9bea635a0bd7d1aff29c55382597922fa/src/vs/workbench/services/workingCopy/common/workingCopyBackupTracker.ts#L285

[2021-06-21 09:39] tymsai opened #126810 "npm commands are too slow"
The npm start command is too slow to open react server

[2021-06-21 09:41] jrieken commented on #125211
Oh, and many thanks to @roblourens for drilling into this. Idk what has changed but I am able to reproduce this now and @roblourens did find all the weak spots. The problems with the ref-counting is that we have references to disposable-models.  That disposable-model should only be disposed when the last reference is disposed but there are holes in the story and that means we end-up with cached re

[2021-06-21 09:47] wenfangdu commented on #126721
@joaomoreno The installer doesn't even have the privilege to prompt the user to choose to run as admin?

[2021-06-21 09:53] bpasero commented on #125211
Those calls into editor input `resolve` from backup tracker are there to bring editors alive that have backups after a restart. Since you can have many editors open we want all those editors to show dirty indicators when they have backups.

Agree though that instead of calling into the `resolve` method of the input, it should probably be driven by something else. Though there really is no central

[2021-06-21 10:03] #124723 closed

[2021-06-21 10:05] jrieken commented on #125211
I understand that but why does `workingCopyBackupTracker` call resolve on the input and not set input on the editor service? With the latter the normal "clean-up after editor close" flow would happen but today there is just a dangling, resolved input around

[2021-06-21 10:06] 5ayam5 commented on #126696
@deepak1556, any updates?

[2021-06-21 10:07] junhwong opened #126812 "In Remote for SSH , Forwarding Ports cannot via Host IP access"
Does this issue occur when all extensions are disabled?: Not working

Version: 1.57.1 (user setup)
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:07.755Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19041

In Remote for SSH , Forwarding Ports cannot via Host IP(eg. 192.168.1.87) access， just localhost.

![image](

[2021-06-21 10:07] bpasero commented on #124723
I pushed a change to throttle file events with some heuristics:
* any resource that we explicitly watch (via `IFileService#watch`) remains unthrottled because that is a good way of using the API (similar to https://github.com/microsoft/vscode/issues/126809)
* any client of the raw changes (e.g. extension host) is unthrottled, to keep existing runtime behaviour for extensions
* any change event tha

[2021-06-21 10:07] tjx666 commented on #126796
Same here:

![image](https://user-images.githubusercontent.com/41773861/122745371-82cb2200-d2bb-11eb-83b1-f53312d64062.png)

Version info:

[code]

[2021-06-21 10:08] jrieken commented on #125211
In my and your code you cannot call resolve in parallel because two or more calls might be waiting [here](https://github.com/microsoft/vscode/blob/3b4d9757e246dd924b792fbab90c41c00ec1cbec/src/vs/workbench/contrib/notebook/common/notebookEditorInput.ts#L213) (or [here](https://github.com/microsoft/vscode/blob/3b4d9757e246dd924b792fbab90c41c00ec1cbec/src/vs/workbench/contrib/files/browser/editors/fi

[2021-06-21 10:12] bpasero commented on #125211
There is a bit of overload on the term `resolve`. I was referring to the actual resolving of the working copy that goes into the manager, not the `resolve` of the editor input. The editor input `resolve` is very likely not fit for the way it is used now in some places.

[2021-06-21 10:16] cloudsere commented on #125661
@vscode-triage-bot can you help to re open this issue?

[2021-06-21 10:21] bpasero opened #126813 "Integration test: flaky git smoke test"
https://github.com/microsoft/vscode/runs/2874052635?check_suite_focus=true#step:15:1020

[code]

[2021-06-21 10:22] bpasero commented on #126813
Since I pushed changes related to processing file change events today, this could be on me as well. But I would think my changes should not have any impact because they were only around throttling file events if the number of changes is very high (e.g. > 500) which I would not think the git smoke test exercises?

[2021-06-21 10:23] weinand commented on #126810
How is this related to VS Code? Neither "npm" nor "react server" are part of VS Code.

[2021-06-21 10:25] jrieken commented on #125211
Talking about these holes... The problem roots here: https://github.com/microsoft/vscode/blob/285673fd5cf70012c7ad1353c789d2e51dedc3e4/src/vs/workbench/contrib/notebook/common/notebookEditorModel.ts#L512

The working copy model is going to be disposed (which disposes the underlying notebook and updates the extension host) despite its owning reference not being disposed yet (there is still one refe

[2021-06-21 10:27] joaomoreno commented on #126813
The error happens in the `before all` hook:

https://github.com/microsoft/vscode/blob/78946a0204256e9c65c13d7bc25cc40988e6d601/extensions/git/src/test/smoke.test.ts/#L43-L66

I bet one of those two async statements is hanging forever:

- https://github.com/microsoft/vscode/blob/78946a0204256e9c65c13d7bc25cc40988e6d601/extensions/git/src/test/smoke.test.ts/#L55
- https://github.com/microsoft/vscode

[2021-06-21 10:28] bpasero commented on #126813
The tests passed on the Azure CI:

![image](https://user-images.githubusercontent.com/900690/122748192-35838c00-d28c-11eb-8181-90014afb9dbd.png)

Flaky it seems, but not sure if more flaky now than before.

[2021-06-21 10:28] joaomoreno commented on #126721
That's also unsupported unfortunately.

Also note that running Code as an admin is actually a pretty bad idea for security reasons. There are usually workarounds for whatever it is that you're trying to do, other than running as Admin.

[2021-06-21 10:29] bpasero commented on #126813
Oh btw, any test that relies on file events is flaky by definition :)

[2021-06-21 10:32] Inky1003 opened #126814 "The folder dialog does not work correctly (linux)"
Issue Type: <b>Bug</b>

1 - Open the folder dialog
2 - Select any folder
3 - The dialog closes and Visual Studio Code crashes.

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:26:56.255Z)
OS version: Linux x64 5.10.42-1-MANJARO
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz (1

[2021-06-21 10:33] Mehdi-Momenpoor opened #126815 "can't import"
Issue Type: <b>Feature Request</b>

hi
In the last update of VSCode, there is a problem to import modules automatically.

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:07.755Z)
OS version: Windows_NT x64 6.1.7601
Restricted Mode: No

[2021-06-21 10:36] jrieken commented on #126808
Maybe, but when adding `asBrowserUri` [before fetching](https://github.com/microsoft/vscode/blob/7b11e6519e009a257c4c21c2514c8d57781ad99a/src/vs/workbench/api/worker/extHostExtensionService.ts#L93) the script nothing changes. Tho, I do see that the uri stay unchanged because `platform.isNative` reports false on desktop/webworker.

[2021-06-21 10:37] joaomoreno commented on #126813
They have been very reliable in the past:

![image](https://user-images.githubusercontent.com/22350/122749270-ff211f00-d241-11eb-8bb3-ca523b4e94b3.png)

Today there's definitely a drop in success rate. Something's fishy.

[2021-06-21 10:40] Inky1003 commented on #126814
It's completely not this issue, It's another...

[2021-06-21 10:41] changavila commented on #126363
/verified

[2021-06-21 11:24] tymsai commented on #126810
In vscode terminal it is slow

[2021-06-21 11:26] #126169 closed

[2021-06-21 11:26] #126127 closed

[2021-06-21 11:26] #125675 closed

[2021-06-21 11:26] #124003 closed

[2021-06-21 11:29] bpasero commented on #126808
I would not think that the symlink plays a role here but rather web worker extensions in general. Is this something we ship to our users or just for dev purposes?

[2021-06-21 11:29] bpasero commented on #126813
Let me test on windows...

[2021-06-21 11:33] wenfangdu commented on #126721
@joaomoreno I'm curious how do you solve the problem in [this question](https://stackoverflow.com/q/37700536/7881859) without running Code.exe as admin?

[2021-06-21 11:37] Tyriar opened #126816 "welcome.showNewEntries ctrl+alt keybinding warning"
![image](https://user-images.githubusercontent.com/2193314/122755798-5dea9680-d24a-11eb-8df2-3a59f1bca9eb.png)

[2021-06-21 11:39] sexta13 commented on #126776
This also happens to me. OnClick doesn't change the tab....but if I kind of drag it opens...

[2021-06-21 11:39] Tyriar commented on #126776
![recording (22)](https://user-images.githubusercontent.com/2193314/122756015-b15ce480-d24a-11eb-8184-1b82d86b54eb.gif)

[2021-06-21 11:49] #126735 closed

[2021-06-21 11:50] bpasero opened #126817 "Explorer: consider to refresh contents more aggressively based on events?"
Given issues such as https://github.com/microsoft/vscode/issues/28432 I wonder if a pragmatic solution could be to simply refresh the explorer in some cases based on patterns we do else where. To give examples:
* all active text editors reload when focus goes into the window (assuming files got changed externally)
* a text editor reloads when switching between one and another editor (i.e. clicking

[2021-06-21 11:52] Tyriar opened #126818 "Dragging first terminal to editor group doesn't update inline tab"
Repro:

1. Set "terminal.integrated.tabs.showActiveTerminal": "always"
2. Open a terminal
3. Run a task or another terminal such that the terminal name differs
4. Focus the second terminal
5. Drag the first terminal to the editor, the inline tab name doesn't update

![recording (23)](https://user-images.githubusercontent.com/2193314/122757428-76f44700-d24c-11eb-83e3-24bb3b22b3d6.gif)

[2021-06-21 11:54] Tyriar opened #126819 "Rotating tab decorations aren't aligned correctly"
![recording (24)](https://user-images.githubusercontent.com/2193314/122757614-ab680300-d24c-11eb-8ca5-72424976a4a2.gif)

[2021-06-21 11:56] Tyriar commented on #126818
Also breaks the panel:

![recording (25)](https://user-images.githubusercontent.com/2193314/122757863-f84bd980-d24c-11eb-8dd8-baa01f01a5bf.gif)

[2021-06-21 11:57] judehunter commented on #126815
+1, looks like using the built-in typescript version 4.3.2 causes that behavior. Switching to workplace's 4.2.4 fixes it.

[2021-06-21 11:57] bpasero opened #126820 "Ctrl+Alt+ keybindings should not be used by default under Windows. Offender: SimpleKeybinding for welcome.showNewEntries"
`Ctrl+Alt+ keybindings should not be used by default under Windows. Offender:  SimpleKeybinding  for  welcome.showNewEntries`

Running out of sources on Windows.

[2021-06-21 12:03] #126776 closed

[2021-06-21 12:04] #126734 closed

[2021-06-21 12:07] joaomoreno commented on #126813
Confirmed: https://dev.azure.com/monacotools/Monaco/_build/results?buildId=124068&view=logs&s=27eddb93-7805-576c-c80f-37b2176e40f7&j=672276a2-8d3a-5fab-615d-090c51352f92 🙈

[2021-06-21 12:08] Tyriar opened #126821 "Terminal editors are detaching when the window is not focused"
Repro:

1. Open a terminal in panel
2. Drag into editor
3. Click outside the editor

![recording (26)](https://user-images.githubusercontent.com/2193314/122759314-a6a44e80-d24e-11eb-8f2a-e64e2ce145b1.gif)

[2021-06-21 12:08] Tyriar commented on #126416
Think this was done on Friday

[2021-06-21 12:08] #126416 closed

[2021-06-21 12:09] joaomoreno commented on #126721
Option 2 of the correct answer (`More like Sudo`) is pretty good.

[2021-06-21 12:13] bpasero commented on #126813
I can reproduce btw on Windows, running out of sources. What's there in the setup method that needs file events to work?

[2021-06-21 12:16] mdchitale opened #126822 "high CPU utilization for cpptools"
Issue Type: <b>Performance Issue</b>

Hi,

Following are the version details:

Version: 1.57.1
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:26:56.255Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.4.0-74-generic

It appears that after upgrading to this version the CPU utilization is constantly at nearly 100% and cpptools i

[2021-06-21 12:19] vicary opened #126823 "Auto detect color scheme not working after reload window"
Issue Type: <b>Bug</b>

`window.autoDetectColorScheme` setting is not respected after running "Reload Window" from the command palette, it always fall back to whatever value in `workbench.colorTheme` after reload.

VS Code version: Code 1.57.1 (Universal) (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:32.912Z)
OS version: Darwin arm64 20.5.0
Restricted Mode: No

<details>
<summary>Sys

[2021-06-21 12:20] brunolm commented on #126702
/verified

[2021-06-21 12:22] mdchitale commented on #126822
Also the 'Parsing open files' icon at the bottom of the screen is always displayed.

[2021-06-21 12:23] bpasero commented on #28432
I think this issue has grown sufficiently enough that imho it is no longer possible to figure out each individuals issue people have with the file watcher in VSCode. If there are no objections I would like to close this one and open individual issues that are then easier to track.

Since this issue is specifically around the explorer not showing changes when they happen, I opened https://github.co

[2021-06-21 12:31] alexdima commented on #126808
It is user facing. It is something we overlooked when we moved to `vscode-file://`. I will investigate what to do and let you know what I find out.

[2021-06-21 12:38] alexdima commented on #125661
@cloudsere Thank you for the logs. Unfortunately, they are not really revealing of any problem. But on taking another look at your initial screenshot, I noticed the following:
![image](https://user-images.githubusercontent.com/5047891/122763010-2c9bb600-d29e-11eb-86c8-111e63d19a9d.png)

Do you have any kind of software installed (e.g. antivirus software) that would actively interfere with [named p

[2021-06-21 12:39] Tyriar commented on #126821
This is happening because editors are serialized when window blur happens, so we can't detach on serialize.

[2021-06-21 12:43] lesgrieve commented on #126044
This issue has been resolved by the 1.57.1 update, than you!

[2021-06-21 12:43] #126044 closed

[2021-06-21 12:47] swtch1 commented on #37350
@trumbitta I'm confident Microsoft pays devs to work on this, and I understand it's not a 100% charitable act.  What I'm saying is that it makes me sad to see issues boards of open source projects turn into the comments section on YouTube.  Where mostly anonymous people say whatever makes them feel better in that instant without concern for the people on the other side.  That's it.  Everyone has a

[2021-06-21 12:49] #126821 closed

[2021-06-21 12:50] Tyriar commented on #126810
It looks like your report is missing some important information, See [this wiki page](https://github.com/microsoft/vscode/wiki/Terminal-Issues) for more info on how to report actionable terminal issues.

/label "needs more info" terminal

[2021-06-21 13:02] bpasero commented on #125211
@jrieken could it be this:

https://github.com/microsoft/vscode/blob/64bf8ca93f56958652721bc4cf0827956840f5a7/src/vs/workbench/services/workingCopy/common/untitledFileWorkingCopy.ts#L284-L284

I `dispose` the untitled working copy upon `revert` which maybe is not clever. This seems to be the only place in working copy land where a working copy is disposed from within.

Can you comment out that lin

[2021-06-21 13:04] deepak1556 commented on #123997
We could copy the value of `DYLD_LIBRARY_PATH` into `DYLD_FALLBACK_LIBRARY_PATH` before launching the extension host process, not sure if it will cover all the cases. But based on `dlopen` docs, it is always the end node that gets searched, so should be a safe fallback.

[code]

No its a OS thing. The issue is not directly linked to Electron, when we create the extension host as a fork of the rend

[2021-06-21 13:05] deepak1556 commented on #123997
@Ptival does `DYLD_FALLBACK_LIBRARY_PATH` work for your use case ?

[2021-06-21 13:07] lszomoru commented on #126692
@nerzhulart, I have tried to reproduce this issue without much luck so I was wondering if these is any further information that you could provide that could help me track down the root cause of this bug. Could you please answer the following questions:
1. Have you modified any of the workspace trust settings?
2. When you say "Open VSCode", are you opening a folder/workspace, or a loose file?
3. Ar

[2021-06-21 13:13] wsbastian commented on #123153
Appears fixed in
[code]

[2021-06-21 13:13] #123153 closed

[2021-06-21 13:17] #126818 closed

[2021-06-21 13:20] bpasero commented on #126813
Adding some log messages I can confirm that it seems to hang at `onDidOpenRepository`

[2021-06-21 13:22] #126774 closed

[2021-06-21 13:25] Tyriar commented on #126521
![image](https://user-images.githubusercontent.com/2193314/122769601-88901b80-d259-11eb-8ab0-5bc31d382e43.png)

![image](https://user-images.githubusercontent.com/2193314/122769565-81690d80-d259-11eb-952b-c29d73ad1b43.png)

[2021-06-21 13:26] Guest-01 opened #126824 "In jupyter notebook, pressing Alt to make multi-cursor ends up focusing top-left-menu"
Issue Type: <b>Bug</b>

if you open .ipynb file and alt click a code to make multi-cursor, the moment you release alt button the focus goes to top left window "File" menu. This doesn't happen on .py file. Is this a bug? I want to edit multiple lines in notebook but I can't.

Oh, and one more, if you alt-tab and come back, the focus also disappear. I do a lot of alt-tabing in order to reference API

[2021-06-21 13:26] climaxu commented on #126823
great release

[2021-06-21 13:28] #126521 closed

[2021-06-21 13:30] #126690 closed

[2021-06-21 13:32] Tyriar commented on #126689
Statuses are showing now, but they don't get refreshed:

![image](https://user-images.githubusercontent.com/2193314/122770517-60ed8300-d25a-11eb-9baf-3cd81ee479cb.png)

[2021-06-21 13:36] Tyriar commented on #10546
@wenfangdu thanks, fixed the exception getting thrown so it's just a no-op when you run with <= 1 instance selected in https://github.com/microsoft/vscode/commit/64ff30cf6351ba0d5ef5d4ad87b3821499016f25

[2021-06-21 13:36] alexdima opened #126825 "asdasd"
Issue Type: <b>Bug</b>

asdasd

VS Code version: Code - Insiders 1.58.0-insider (6afedfdad59d1f1ba4b614341d21c67775e158a9, 2021-06-21T05:14:03.949Z)
OS version: Darwin x64 20.5.0
Restricted Mode: No

[2021-06-21 13:37] #126825 closed

[2021-06-21 13:37] alexdima opened #126826 "Connection refused debugging extension host"
Issue Type: <b>Bug</b>

* pull latest
* build using `yarn watch`
* select VS Code as launch target
* press `F5`

![image](https://user-images.githubusercontent.com/5047891/122771380-aa63bf80-d2a6-11eb-8cf9-46741f10fa82.png)

VS Code version: Code - Insiders 1.58.0-insider (6afedfdad59d1f1ba4b614341d21c67775e158a9, 2021-06-21T05:14:03.949Z)
OS version: Darwin x64 20.5.0
Restricted Mode: No

[2021-06-21 13:38] bpasero commented on #126813
Yeah seems flaky, when I run e.g. with `--verbose` I cannot reproduce even with my changes.

I suggest for this test to not assume file events are working and try to e.g. refresh the git repository manually through some command.

[2021-06-21 13:39] Tyriar commented on #126701
Problematic style:

![image](https://user-images.githubusercontent.com/2193314/122771533-613a4e00-d25b-11eb-903e-f47b57340da7.png)

[2021-06-21 13:41] Borda commented on #37350
Hi there, I believe I can say I am an open-source dev, so I know the case from both sides of the "barricade"...
I would say that the main frustration comes from the long years it is hanging (it is unresolved for almost 4 years), so one possible conclusion would be to close it and clearly say that it won't be implemented :rabbit:

[2021-06-21 13:41] #126701 closed

[2021-06-21 13:44] jrieken commented on #125211
Yes - when I uncomment that line the first untitled notebook isn't disposed* and the second time the create command is run it will create `Untitled-2`.

*) The notebook isn't disposed because `workingCopyBackupTracker` is leaking references

[2021-06-21 13:51] Skywalkess opened #126827 "Could not preview markdown file, shows error Error loading webview: Error: Could not register service workers: TypeError: Failed to register a ServiceWorker for scope"
When I preview the markdown, vs code could not loading success, and show the error:

Error loading webview: Error: Could not register service workers: TypeError: Failed to register a ServiceWorker for scope ('vscode-webview://9d44af20-175b-4dc0-8077-c347f399fd65/') with script ('vscode-webview://9d44af20-175b-4dc0-8077-c347f399fd65/service-worker.js?platform=electron&id=9d44af20-175b-4dc0-8077-c34

[2021-06-21 13:52] Skywalkess commented on #126827
![image](https://user-images.githubusercontent.com/20554791/122773443-f2043e80-d2da-11eb-9575-94abe0ef90bc.png)

[2021-06-21 13:52] jrieken commented on #102091
The plan is to replace `TextDocument#notebook: NotebookDocument | undefined` with a util-function because (a) the reference would be text document to notebook _cell_ (not notebook) and (b) it is a bit of a weird reference cycle because the cell is composed of the text document and other properties and these "child properties" usually don't point to the container.

[2021-06-21 13:54] #126501 closed

[2021-06-21 13:57] RTS007 opened #126828 "SCM - better distinguish when repositories have the same name"
In the company where I work the project structure is as follows: .../PROJ_NR/software/<.git folder>+<data>
In Source Control Repositories only the parent folder is displayed, which results in displaying only 'software' names. Is it possible for SCR to recognize identical folder names and add one more parent folder when it recognizes two identical names? I am adding a picture of how it looks like i

[2021-06-21 13:58] leesj020925 opened #126829 "VS CODE stops frequently"
I don't know why It's happening but it's everytime I use the whole program stops and I need to restart the computer to make it work again...
It happens at least one time everytime I use...

[2021-06-21 14:03] jrieken commented on #39441
Ping @DanTup, @Gama11, @akaroml, and others: We are planning to finalize this proposal and this is the last call to tweaks. The proposal is an overload to the `CompletionItem#label`-property, in addition to a plain string we will support a structured object.

Non-obvious implications of this proposal

* You need to complete all label properties during `provideCompletionItem` and labels cannot be r

[2021-06-21 14:09] Skywalkess commented on #122951
it is also helpful for me! thank you very much!

on windows just add this startup parameter in the right click-> attribute dialog:
![image](https://user-images.githubusercontent.com/20554791/122775888-2e389e80-d2dd-11eb-88b1-80b098c91373.png)

[2021-06-21 14:10] dowel opened #126830 "Make line distance for creating history stop configurable"
Does this issue occur when all extensions are disabled?: No

Question above is somewhat irrelevant code navigation only works with language specific extension.

- VS Code Version:
Version: 1.57.1 (Universal)
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:32.912Z (4 days ago)
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 20

[2021-06-21 14:10] aeschli commented on #126477
We could add a new flag to the watchOptions in `IFileService.watch` to turn off verbose logging for the given location.

[2021-06-21 14:16] aeschli commented on #126700
Are you using the Python extension? Without the python extension, we only do indentation based folding.

The Python extension adds language aware folding.
Issues against the language aware folding need to be filed against  https://github.com/Microsoft/vscode-python/issues.

[2021-06-21 14:16] #126700 closed

[2021-06-21 14:17] lramos15 commented on #124901
I think it's fine to come up with some defaults if one isn't provided, but I would avoid adding any additional npm packages as we want to limit the possible dependencies. You could of course show a failed to load message similar to what we do with images now if they cannot be loaded.

[2021-06-21 14:21] smeyerhot commented on #126723
Sorry if this is unclear. What I meant is that I’d like to copy the body of a function that is highlighted by breadcrumbs. So, no this isn’t a duplicate of those issues you mentioned.

[2021-06-21 14:24] craph commented on #126206
@sandy081 The problem is solved now.

It was a firewall rule implemented by the network team in my office.

[2021-06-21 14:24] #126206 closed

[2021-06-21 14:27] alyssajotice commented on #119695
Yes, that is possible. The host would be able to save state when it comes to unsaved files and edits, so we should be able to sync the new workspace's files after the rejoin. This sounds like a good approach.

[2021-06-21 14:28] AndreasRatzRBS commented on #125731
Have updated to the newest BC Version 18.2 and now it is working again!

[2021-06-21 14:32] bpasero commented on #119695
The only down side I can see: doing such a reload is not the same as it is today:
* UI state is gone (for the workspace)
* dirty files / untitled may trigger a dialog asking to persist the changes with certain `files.hotExit` configurations (which maybe you overide?)

[2021-06-21 14:35] bpasero commented on #125211
@jrieken in https://github.com/microsoft/vscode/tree/ben/125211 I have a change where the `resolve` now has to be implemented by the provider of the working copies. For notebooks there is 2 places (simple / complex):

https://github.com/microsoft/vscode/blob/c64a443ccf57f6abbe96a8c2bc99ffe05dce8bac/src/vs/workbench/contrib/notebook/browser/notebook.contribution.ts#L503-L503

https://github.com/mic

[2021-06-21 14:44] bpasero commented on #126813
Wth it can only be my change but it is impossible for me to explain. First instance seems to be this change actually:

https://github.com/microsoft/vscode/commit/a102b4478e7a2c289b1e8aadefef8158d6e3acb5

But that shouldn't really change anything...

[2021-06-21 14:46] 4086606 commented on #124901
If the file is missing a `viewBox`, the preview might not show the bounding box (which is a broken experience imho). The default for <img> with an SVG source is 300x by 150y. However, SVGs without a viewBox are canvas drawings and sketches that usually go >1000px.

I suppose I could prevent centering of SVGs without a `viewBox` - bind them to the top left and let them take the entire webview box.

[2021-06-21 14:46] Gama11 commented on #39441
I like `signature`, that seems like a pretty well-established name with signature help providers and whatnot.

I still think that including the qualifier for filtering is valuable. If it's not the default behavior, maybe this could at least be enabled with a setting in the future? As mentioned previously, a custom `filterText` alone doesn't seem good enough on its own to enable a good UX because o

[2021-06-21 14:48] eamodio commented on #126089
I definitely think this makes a lot of sense -- keeping the extension settings contain with in its own "space"

[2021-06-21 14:49] NatoBoram commented on #126533
It works in `1.58.0-insider` 🎉

[2021-06-21 14:49] DanTup commented on #39441
Does this replace the `detail` field? Do you have a screenshot of how things will be rendered? I'm currently putting "auto-import" tags in that render on the right that are fairly useful - these might work well in`qualifier` but it's not clear if they're going to make it look really busy (although I think we currently add them in `resolve`, so might need to change this a little anyway):

<img widt

[2021-06-21 14:49] aminchoroomi commented on #126740
I checked both links. I don't think it's a duplicate. Those are different issues

[2021-06-21 14:50] RisaI commented on #126095
Can confirm, I also had to revert to 1.56.

[2021-06-21 14:53] DanTup commented on #39441
Slightly related (although probably a little off-topic here), I'd _really_ like to see the ability to provide multiple values for filtering/ranking. A constant complaint I get is about how VS Code ranks completion items once the user starts typing, and it's often because of qualified names like `MyEnum.Foo` where the user expects those enum values to be top for both `MyEnum` and `Foo` but there's

[2021-06-21 14:54] mjbvz commented on #126829
/needsMoreInfo

[2021-06-21 14:56] nerzhulart commented on #126692
@lszomoru Hi! Thanks for the answer!
1. I didn't make any changes inside "workspace trust" (I even don't know where they're located)
2. I open a single file (several log files actually)
3. Yep. It shows an error to me every time I open VSCode.

[2021-06-21 14:56] jrieken commented on #126723
Breadcrumb entries (by its API) are necessarily the whole body, often the structure is only about the name defining the symbol so having a good solution won't be easy... An alternative is "F1 > Expand Selection"

[2021-06-21 14:56] larskinn commented on #126794
Same here, seems like it doesn't respect .editorconfig settings anymore

[2021-06-21 14:56] kirillegorov-dev commented on #66611
Guys, please fix this.

[2021-06-21 14:57] #126153 closed

[2021-06-21 14:57] #126214 closed

[2021-06-21 14:57] #126267 closed

[2021-06-21 14:57] #126305 closed

[2021-06-21 14:57] bpasero commented on #126814
Can you follow https://github.com/microsoft/vscode/wiki/Native-Crash-Issues and attach the crash dump?

[2021-06-21 14:59] lramos15 commented on #124901
How do other previews go about doing it? They must create a viewbox of some sort? Sorry I'm not well versed in SVG viewing.

[2021-06-21 15:05] #126808 closed

[2021-06-21 15:05] alexdima commented on #126808
When running from source, the following can be used to easily troubleshoot this:
[code]

[2021-06-21 15:07] alexdima commented on #126794
It looks like the issue is caused by one of your installed extensions. In order to narrow down the possible problematic extension, please try the following:
* run `F1 > Help: Start Extension Bisect`
* (this will restart VS Code with half of your extensions disabled)
* try to do the steps which reproduce the problem
* if the problem reproduces, click "This is bad" (this narrows down the problematic

[2021-06-21 15:07] jrieken commented on #39441
Yes - the complex label will replace the inline rending of the detail field - only the details/side window will show details. We use qualifier for TS suggestions in VS Code (but not signature nor type). This is how it looks - qualifier shows inline, details atop the doc-string.

<img width="864" alt="Screen Shot 2021-06-21 at 16 58 58" src="https://user-images.githubusercontent.com/1794099/1227841

[2021-06-21 15:08] JacksonKearl commented on #123535
@Anushka11a please create a separate issue and follow this guide for diagnosing performance issues https://github.com/microsoft/vscode/wiki/Performance-Issues

[2021-06-21 15:09] alexdima commented on #126213
@dbaeumer I have seen this done before e.g. for the colorize integration tests: https://github.com/microsoft/vscode/blob/4f222a873074b8051b274c1d9a5343b009f9d50d/src/vs/workbench/contrib/themes/browser/themes.test.contribution.ts#L235

[2021-06-21 15:13] jrieken commented on #125211
I am sure how that helps? Someone creates and resolves an editor input but doesn't dispose that input. Isn't that the problem and that should be solved?

[2021-06-21 15:13] lszomoru commented on #126692
@nerzhulart, thanks for getting back to me. Are you opening these files using the CLI (ex: `code file1 file2 file3`) or are you starting VSCode and them opening the files using the File -> Open menu?

[2021-06-21 15:17] volksvagen commented on #126794
hello, @alexdima

it ends here, seems that clang-format is the "crminal':

![image](https://user-images.githubusercontent.com/30553808/122786350-cc7d3200-d2e6-11eb-937e-460760528d48.png)

[2021-06-21 15:18] Sweechirly opened #126831 "After remote desktop, the vscode can not enter anything"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.open you vscode in a computer
2.remote this computer from another computer
3.you can't enter anything in vscode

[2021-06-21 15:19] jrieken commented on #102091
Idea/sketch:

[code]

[2021-06-21 15:23] alexr00 commented on #126812
@junhwong you can change the default local host using the setting `remote.localPortHost`.

[2021-06-21 15:23] #126812 closed

[2021-06-21 15:24] riccardoferretti commented on #125595
Regular markdown links ( `[test](./path.md)`) do work.

What is no longer working is navigation for wikilinks provided by the [Foam extension](https://github.com/foambubble/foam).
Foam parses wikilinks in the markdown document and creates proper links in the html preview.
This was working without problems up until 1.55.2, but it no longer works afterwards.
Has something changed between those versi

[2021-06-21 15:25] larskinn commented on #126794
@alexdima I can reproduce this with no extensions enabled

- Open workspace which has an .editorconfig file at its root (or in one of the workspace's parent directories, that also used to work)
- Command palette, "Developer: Reload with extensions disabled"
- Create a new file with a file type specified in .editorconfig.
   - In my case: `SomeComponent.tsx`
- Observe "Tab size: 8" in the bottom ri

[2021-06-21 15:26] igorconde commented on #126781
I'm having same issue, when dowgrade for version 1.56 work normally;

[2021-06-21 15:28] AlexandroGonSan opened #126832 "page left/ page right"
Issue Type: <b>Feature Request</b>

implements page left/ page right

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:26:56.255Z)
OS version: Linux x64 4.19.0-16-amd64
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Pentium(R) Dual-Core CPU       T4300  @ 2.10GHz (2 x 2094)|
|GPU Status|2d_canvas: enabled<br>gpu_comp

[2021-06-21 15:29] DanTup commented on #39441
I was going to say I'd prefer a single string for the flexibility and being able to align the whole thing to the right - although looking again, I've been putting `(...)` on the end of the method which was perhaps because putting the whole sig there was really noisy when it wasn't faded. So perhaps splitting them would be a reasonable update here.

<img width="651" alt="Screenshot 2021-06-21 at 16

[2021-06-21 15:30] AlexandroGonSan commented on #126832
hello bot,

hello bot, you need of support, find a mage

[2021-06-21 15:32] 4086606 commented on #124901
Normally, the browser can use the SVG attributes to assign an intrinsic size. Without that data, the <img> renders exactly like a <iframe> (starting from the top left)

[2021-06-21 15:34] alexdima commented on #126794
@volksvagen Please report directly against the extension

@larskinn VS Code does not honor `.editorconfig` files in any way. It is the editorconfig extension that reads those files and then uses vscode APIs to change the indentation settings of the current opened file. Can you check your user settings, folder settings and workspace settings for `editor.tabSize`, `editor.insertSpaces` and `editor.d

[2021-06-21 15:34] AlexandroGonSan opened #126833 "get my infos"
Issue Type: <b>Performance Issue</b>

hello, why clicked? you get an idea? talk me.

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:26:56.255Z)
OS version: Linux x64 4.19.0-16-amd64
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Pentium(R) Dual-Core CPU       T4300  @ 2.10GHz (2 x 2094)|
|GPU Status|2d_canvas: enab

[2021-06-21 15:35] #126833 closed

[2021-06-21 15:37] andrewbranch commented on #39441
Since LSP 3.17 [has support for this](https://microsoft.github.io/language-server-protocol/specifications/specification-3-17/#completionItemLabelDetails), have you gotten any implementation feedback from the Python folks, e.g. @jakebailey and @heejaechang? I know they face a lot of performance challenges with auto-imports in completions similar to TypeScript, so I would be interested to see if the

[2021-06-21 15:43] claudiaregio commented on #123816
+1 customer feedback - Jupyter ext rating on marketplace
![image](https://user-images.githubusercontent.com/19276747/122790001-bb8fda80-d26c-11eb-98b8-3d38d9b952c2.png)

[2021-06-21 15:44] cloudsere commented on #125661
@alexdima I use event logs and found a same log as https://github.com/microsoft/vscode/issues/97031 this issue, but this seems have no affect on the extension host termination error... I think windows defender is the only anti virus software I have, can you tell me how can I check whether a software is interfered with named pipes?

[2021-06-21 15:45] aeschli commented on #126699
The schema URL comes from the composer extension. I created https://github.com/ikappas/vscode-composer/issues/19

[2021-06-21 15:45] #126699 closed

[2021-06-21 15:46] Anushka11a commented on #123535
I have reinstalled visual Studio Code and now its working fine. Sent from Mail for Windows 10 From: Jackson KearlSent: 21 June 2021 20:39To: microsoft/vscodeCc: Anushka; MentionSubject: Re: [microsoft/vscode] VS Code insider is too slow after recent update (#123535) @Anushka11a please create a separate issue and follow this guide for diagnosing performance issues https://github.com/microsoft/vscod

[2021-06-21 15:47] agcty commented on #126781
I have the same issue, auto import just doesn't work anymore. I just spent 2 days trying to fix my eslint config but I am 100% sure that it has to be vscode now.

[2021-06-21 15:48] wetbadger opened #126834 "Terminal will not open in VS Code 1.57.1"
Issue Type: <b>Bug</b>

This error message appears every time I try to launch the terminal:

'The terminal process failed to launch: Path to shell executable "bash" is not a file of a symlink.'

settings.json looks like this:
{
    "workbench.editorAssociations": {
        "*.ipynb": "jupyter.notebook.ipynb"
    },
    "terminal.integrated.automationShell.linux": "/bin/bash"
}

VS Code version: Co

[2021-06-21 15:49] larskinn commented on #126794
@alexdima Okay, sorry for the wild goose chase. I actually don't have the editorconfig extension, but somehow the default for new files, which used to be "Spaces: 4", has changed to "Tab size: 8" with the latest update. Not a huge problem for me, as it is fixed by saving (autoformats with prettier, which reads `.editorconfig`) and closing/reopening the file (VS Code autodetects the correct indenta

[2021-06-21 15:50] ManuelMorales97 opened #126835 "VSCode causing screen flicker on both screens"
Issue Type: <b>Performance Issue</b>

This only occurs when i´m coding on VSCode, making my second screen to flicker and even sometimes go black, while my laptop screen glitches at somepoints.

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:07.755Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|V

[2021-06-21 15:52] aeschli commented on #126722
It is up to the language service to provide the semantic tokens. In the case of a diff editor, the left hand side is a virtual document (e.g. URI `git:/home/martin/workspaces/vscode-test/views/foo.html?%7B%22path%22%3A%22%2Fhome%2Fmartin%2Fworkspaces`

Not all languages services deal with virtual documents.
But e.g. the HTML language server does and I verified that it also shows semantic tokens in

[2021-06-21 15:52] #126722 closed

[2021-06-21 15:54] alexdima commented on #126794
:+1: AFAIK we have no code that would change these particular user settings.

But it is possible that an extension decided to change these settings on your behalf by editing the user settings file.

[2021-06-21 15:54] #126794 closed

[2021-06-21 15:55] AlexandroGonSan commented on #126832
Bot, this issue is not duplicated according to the text of the reply you sent!

[2021-06-21 15:58] rchiodo commented on #126431
@davidanthoff

Run by line was created first because of the feedback we got from data scientists. They didn't want a debugger, didn't see the reason for one and were not interested in using it. They just did printf debugging, why would they need something else? Run by line was our kind of debugger lite scenario so that these users would feel more comfortable with it. Right now we have about 40,000

[2021-06-21 16:03] alexdima commented on #125661
@cloudsere Is there anything special about your Windows machine?

e.g. is it Windows 10 Home/Pro or Windows Server, is your computer domain joined, is it managed by your organization in any way, do you have proxies configured? Is there anything *special* ?

[2021-06-21 16:07] 4086606 commented on #124901
@thunder-coding did you mean to 👍🏾 instead of 👎🏾

[2021-06-21 16:08] #126663 closed

[2021-06-21 16:08] lramos15 commented on #124901
@mjbvz Assigning you as you're better equipped to provide guidance here since you wrote the image preview.

[2021-06-21 16:11] PEZ commented on #126306
Here's some more info that I've copied over here from PR #126760 which I think I should close and maybe reopen when I have a better understanding of how things are wired.

Here's is the code from `keybindingResolver.ts` that eventually gets called when the command palette is summoned:

[code]

When the bug happens `context.contextMatchesRules()` fails to match any of te bindings that are returned

[2021-06-21 16:11] davidanthoff commented on #126431
Maybe the question of UI and underlying implementation is distinct? I could imagine something where the button "run line by line" just starts the debugger? And maybe there is some UI for "next line" that is really hooked to "run next statement"? It just feels that one should easily be able to implement a line-by-line UI feature if there is an existing DAP implementation for a language, without add

[2021-06-21 16:14] aeschli commented on #126772
In the case of a remote server, there are two extension locations. For the local extensions and for the remote extension.
I assume you want to change the location of remote extensions.

[2021-06-21 16:14] DonJayamanne commented on #126431
Yes that's right.

[2021-06-21 16:16] wimmerb commented on #66611
same problem here

[2021-06-21 16:18] rchiodo commented on #126431
Run by line currently does a step into on every 'F10' by the user. It then checks the frame when the stop event comes in to see where the step into landed. If in the same cell, it stops the UI. If not in the same cell, it executes a step out command. Repeat until it steps out of the cell.

[2021-06-21 16:20] cloudsere commented on #125661
@alexdima Yes, my computer is domain joined and managed by my organization(microsoft:)), I have proxies configured

[2021-06-21 16:24] alyssajotice commented on #119695
When you say "UI state", do you mean which files are opened/closed, and where the user is active in a file? I don't think that will be a problem, but it is necessary to sync the state of all of the files, even if they are unsaved.

For this different type of reload scenario, we would need to be able to override that dialog.

[2021-06-21 16:24] aeschli commented on #126741
What language is this? TypeScript?

Can you paste the code sample?

[2021-06-21 16:34] jrieken commented on #39441
This is how a fake sample would look today. The rendering and fading level can certainly be tweaked. If we go with `signature` and drop `type` we could also make qualifier rendering different.

<img width="637" alt="Screen Shot 2021-06-21 at 17 44 38" src="https://user-images.githubusercontent.com/1794099/122791573-a42b0e80-d2b9-11eb-9606-e0a0a440f8a6.png">

It doesn't look good when combined with

[2021-06-21 16:34] jrieken commented on #39441
LSP proposals are usually a clone of VS Code API proposals. Until a week ago it was still parameters in VS Code but we decided to change that and LSP apparently didn't catch-up. The question about encoding semantics isn't answered tbh - completion does use program'ish lingo in some places, like its kinds . The use of name, signature, qualifier is more for a lack of good alternatives and to provide

[2021-06-21 16:35] PEZ commented on #126306
No, it is not about the `editorTextFocus`. I tested with a version of Calva that only checks `config.calva.paredit.hijackVSCodeDefaults` for the `paredit.forwardSexp` command.

[code]

I'm on a Mac and have left the `hijackVSCodeDefaults` settings with its default value of `true`.

*Expected:* Command Palette shows binding `⌥→` (The active binding.)

*Actual:* Command Palette shows shows binding `

[2021-06-21 16:36] wilrodriguez commented on #123276
Is there a way to get this issue reopened?

[2021-06-21 16:37] aeschli commented on #126823
What `window.autoDetectColorScheme` does is that when a OS color scheme change is detected, it changes the `workbench.colorTheme` to the the preferred theme: Either `workbench.preferredDarkColorTheme` or `workbench.preferredLightColorTheme`.

 OS color scheme change are detection happens while VSCode is open or if VSCode is restarted and the OS theme is different from when VSCode was closed.

So a

[2021-06-21 16:37] Tyriar opened #126836 "Splitting terminal editor will break the original editor"
Repro

1. Create terminal
2. Drag from panel to editor
3. Press the split editor button

![image](https://user-images.githubusercontent.com/2193314/122797451-5809ab00-d274-11eb-90b7-8d64731d758a.png)

[2021-06-21 16:38] Tyriar commented on #126836
I think this is related to the same "terminal resource"/input being used for both editors

[2021-06-21 16:39] Tyriar opened #126837 "Terminal editors aren't reconnecting"
Before reload:

![image](https://user-images.githubusercontent.com/2193314/122797606-7e2f4b00-d274-11eb-9234-b36d72fbbd23.png)

After reload:

![image](https://user-images.githubusercontent.com/2193314/122797622-85eeef80-d274-11eb-842c-0e1b960988cb.png)

[2021-06-21 16:39] misolori commented on #126557
Please try again on the latest insiders as we've been tweaking this. The plan is, if you want to theme the active selected icons you can use `list.activeSelectionIconForeground`. This is useful if you have a strong contrasting active selection like our default dark/light themes. Previously, we were inheriting the icon from foreground, which may not be desirable depending on the theme.

[2021-06-21 16:40] #126133 closed

[2021-06-21 16:41] sbatten commented on #126133
@bpasero yes, when the top level entries change the menu change listeners get orphaned and not updated in the native menu. pushed a fix in insiders. should probably take as a candidate if we have another recovery.

[2021-06-21 16:45] roblourens commented on #126634
This process is doing a search. It might be a search that you started, or that an extension started. See if any tips on this page help https://github.com/microsoft/vscode/wiki/Search-Issues#slow-search-rg-running-for-a-long-time-or-consuming-lots-of-cpumemory

[2021-06-21 16:46] #126820 closed

[2021-06-21 16:47] Narick9 opened #126838 "reference count between lines"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.56.2, x64
- OS Version: Fedora with kernel 5.11.12-300.fc34.x86_64

Steps to Reproduce:

actually I don't know. I see that intelliSense doesn't start with file open, so I need to change something to start it. maybe it is a broken start?

![vscode-intellisense_2021-06jun-21](https://user-images.githubusercontent.c

[2021-06-21 16:48] deberohprentice commented on #126775
"workbench.settings.editor" setting is set to "json".  Should I change it to something else?  Thanks.

[2021-06-21 16:49] roblourens commented on #126505
Thanks for the request, we have thought about language-specific search features before, but it's not practical for us to do a feature like this right now

[2021-06-21 16:49] #126505 closed

[2021-06-21 16:49] sbatten commented on #126740
I believe this is the duplicate https://github.com/microsoft/vscode/issues/126015... it applies to remote workspaces in general.

[2021-06-21 16:49] #126740 closed

[2021-06-21 16:50] roblourens commented on #126707
I can't repro this. Are you sure you are logging in with the exact same credentials?

Where do you see that?

Any idea about this error message @sandy081?

[2021-06-21 16:51] PEZ commented on #126306
OK. So the when clause is never taken into account for this command, afaict. I can catch the call to here:

https://github.com/microsoft/vscode/blob/60ad49e4dce16291018e8f02438769ab54b5bc89/src/vs/platform/quickinput/browser/commandsQuickAccess.ts#L127

And since there is no `context` provided, `itemMatchingContext` in `keybindingResolver.ts` will always evaluate tp false.

[2021-06-21 16:53] roblourens commented on #126520
The history is still there, you can use the arrow keys to access it. But I think that when we programmatically set the value of the text input (when you press cmd+f and we pull in text from the editor), we wipe out the undo stack :(

[2021-06-21 16:53] #126520 closed

[2021-06-21 16:53] baymac commented on #126733
@aeschli

1. Yes, first part is a bit difficult to solve for. Esp bc there can be multiple ways CSS files can used together. One possible way is to take manual config per project basis, but not sure how can we standardize that.

2. We can mount the variable values as read only.

[2021-06-21 16:54] roblourens commented on #126775
You can delete that setting to get the default behavior of opening the gui

[2021-06-21 16:54] #126775 closed

[2021-06-21 16:54] davidanthoff commented on #126431
@DonJayamanne Ah, cool! So essentially from our end, we "just" need to get the DAP story going with the notebooks :) I like that, because we of course want to do that in any case.

@rchiodo Ah, so it actually will descend into a nested function calls step-by-step as long as those functions are all defined in one cell? What about things like higher order functions? Say you have this Julia code:
[co

[2021-06-21 16:58] jasonwilliams commented on #126608
In this video i start the JS Debugger with chrome running. I check for "Uncaught Breakpoints".

i then start XDebug and the "breakpoints" pane changes (bottom left). However, switching back to Chrome doesn't bring it back, so I'm now stuck on this pane and unable to turn off "Uncaught Breakpoints".

Even after turning off XDebug completely the "breakpoints" pane remains the same

https://user-imag

[2021-06-21 16:59] kevin-he-01 opened #126839 "With auto detect color scheme enabled, reloading a window reverts VS Code to initial system theme."
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.57.1
- OS Version: Windows 10 Home Build 19042.1052 on x86-64 (64-bit Intel)

Steps to Reproduce:

1. Put your system in dark theme. Open Windows Settings -> Personalization -> Colors -> Choose your color: "Dark"
2. In VS Code, make sure setting "Window: Auto Detect Color Scheme" is enabled so that VS Code will sync

[2021-06-21 17:01] iboxgithub commented on #126741
yes it's Typescript, the example is in the GIF but otherwise please find below:

[code]

[2021-06-21 17:02] TylerLeonhardt commented on #126614
@lszomoru this is because in the translation they messed up the markdown syntax and added a space between the `[]` and `()`.
![image](https://user-images.githubusercontent.com/2644648/122800126-6ad1af00-d277-11eb-955a-bd53ac3cbe4d.png)

I suggest that you do the following that @JacksonKearl did here:
https://github.com/microsoft/vscode/pull/125790/files#diff-8d21c4b4e58c010a4d4fa747e289dba2db97c90

[2021-06-21 17:05] roblourens commented on #123276
This is probably related to permissions on these workpaces, could also be that the permissions on the rg binary got messed up for some reason. Can you double check those things and share the search logs? There is really nothing different about running rg in two folders vs one, we spawn one process for each.

[2021-06-21 17:09] skycommand commented on #126663
Thanks. 👍

[2021-06-21 17:09] Tyriar commented on #126256
Moving split part to https://github.com/microsoft/vscode/issues/126471

[2021-06-21 17:09] sbatten commented on #126614
@TylerLeonhardt I don't know if its actually safe to do that. The markdown bit is actually part of the phrase here and some languages might need to reorder the text. This is why I haven't done it this way currently.

[2021-06-21 17:10] Tyriar commented on #126471
Let's cover split routing to the editor in this

[2021-06-21 17:11] rchiodo commented on #126431
For your map case (at least with the debugger for python code), it won't stop in map cause that's considered 'system' code. There's a 'just my code' feature of the DAP that prevents stepping through stuff that isn't your own code.

But yes it doesn't work for cells that jump through intermediate functions that you defined that are not in the same cell. There's a lot of cases where Run by line does

[2021-06-21 17:12] meganrogge opened #126840 "Panel should close when no group terminals remain"

[2021-06-21 17:13] andrewbranch commented on #39441
The thing I’m confused about is, this is already essentially what’s happening with `isIncomplete`. I’ve added a bunch of optimizations that make our incomplete-triggered requests really fast (15–30ms), but if I add some delay in there, I can see that the completion list UI is totally static while waiting on the response. I don’t see how that’s different from what I’m suggesting, except that my sug

[2021-06-21 17:13] rchiodo commented on #126431
@davidanthoff is Julia thinking about supporting debugging in JupyterLab? We thought if kernels supported debugging there, they'd want to use the same code in VS code to light up debugging. (meaning the kernel would expose the DAP instead of an extension)

[2021-06-21 17:15] irvnriir commented on #126634
@roblourens I've posted this in the Issue's description . I can't post the whole log because the issue happens occasionally, but am pretty sure that there were none `SearchService#search` . Next time i'll try Debug Log Level .

[2021-06-21 17:15] bpasero commented on #126808
Thanks!

[2021-06-21 17:15] Tyriar commented on #126836
Look into https://github.com/microsoft/vscode/issues/126469 first, it might not be related to the same uri?

[2021-06-21 17:16] Deleplace opened #126841 "Keyboard layout inconsistency on Linux"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.57.1
- OS Version: Debian 5.10.28 x86_64 GNU/Linux

Steps to Reproduce:

1. Use a computer with a QWERTY (English (US)) keyboard
2. Plug a French AZERTY USB keyboard and select French layout
3. Type the letter A with the French AZERTY keyboard
4. As expected, the correct keyboard is used and an "a" shows up in the c

[2021-06-21 17:16] TylerLeonhardt commented on #126614
Good point. Can you at least include a comment to tell the translators to honor the `[]()` syntax? Here's an example of a comment:
https://github.com/microsoft/vscode/blob/HEAD/src/vs/workbench/contrib/debug/browser/welcomeView.ts#L125-L126

[2021-06-21 17:19] bpasero commented on #126306
I wonder if - at least for the editor provided commands - we should pass the context key service of the active editor control. somewhere here:

https://github.com/microsoft/vscode/blob/317a9388d4d09131d569bf374ac0b5c3f39e96e9/src/vs/editor/contrib/quickAccess/commandsQuickAccess.ts#L33-L33

[2021-06-21 17:19] JacksonKearl commented on #126614
@sbatten I can't imagine translating "[{0} extensions]({1}) are disabled or have limited functionality" would provide more context than "{0} are disabled or have limited functionality" and "{0} extensions". Linguistically, the hole is just a plural noun... if it were a phrase or fragment I agree it'd be a concern.

I don't think it's safe to expect the translators to know and persist MD syntax, an

[2021-06-21 17:20] gjsjohnmurray opened #126842 "FSP root folder in workspace retains '!' error indicator after successful refresh"
Issue Type: <b>Bug</b>

1. Use an extension that implements a FileSystemProvider for which you can alter conditions so that it may or may not resolve. For example, an FTP provider connecting over a VPN that you can disable.
2. Have a workspace that uses the FSP.
3. Be able to resolve the workspace folder and see its contents.
4. Change environment state to make the target unreachable (e.g. disconn

[2021-06-21 17:24] bpasero commented on #125211
@jrieken let me tell you what happens in order of events:
- the user in a window has multiple editors (doesnt matter which type) open in 1 group over many tabs and all are dirty
- now the user reloads window or restarts
- the backup tracker sees that backups exist and wants to restore them
- the tracker will first figure out if the associated editors for the backups are open and if not create them

[2021-06-21 17:25] janisbunkss commented on #126773
I am trying to use  VSC extention Code Runner in coding, but it seems useless, because it blocks logging, if built in functions are included. For example:
Variable defined in js as:    let saveEl = document.getElementById("save-el")
If I try to log variable:       console.log(saveEl)
code runner  does not recognize document.getElementById("save-el") and gives in output following announcements:

[R

[2021-06-21 17:25] #126773 closed

[2021-06-21 17:26] bpasero commented on #126830
Yes, for any language. There is no other way of navigation implemented for "Go Back", "Go Forward".

Should this be rebranded as feature request then?

[2021-06-21 17:28] JacksonKearl commented on #124304
Agree the above is loud, but I do think there's value in bringing some of the new window commands into the spotlight... even some our own team members don't know about window duplication commands, yet window duplication is one of the most requested features of all time. One thing that I think helps is grouping by category and removing detail text where not needed (in Insiders today), and also sort

[2021-06-21 17:35] bpasero commented on #125211
Here is the scenario, which btw already applies today to stored notebooks:

![recording](https://user-images.githubusercontent.com/900690/122804068-b613ae00-d2c7-11eb-93fd-c7db0a45d1ea.gif)

If we were to not `resolve` the editors that are not active, they would not load their backups and not report dirty.

We need some way for the tracker to trigger the resolve, it is almost like a `openEditor` c

[2021-06-21 17:40] sbatten commented on #126614
well, it's a count and plural noun, and as someone who is not an expert on linguistics of the world, I didn't want to assume that its safe. specifically, because a broken translation with markdown syntax is a fairly easy one-time fix, whereas the alternative potentially limits the end result.

I am happy to change it if this is not a concern

[2021-06-21 17:41] renatahdo opened #126844 "TS Server fatal error: Maximum call stack size exceeded"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-06-21 17:42] #126844 closed

[2021-06-21 17:44] gjsjohnmurray commented on #126842
@isidorn this is in the same area as #122004 which was assigned to you.

[2021-06-21 17:45] gdalle commented on #125595
Hi,
Just tried it in VSCode insiders without any other extension. The wiki-links in the preview whose path is the same as the link itself do work, but as soon as a wiki-link points to a file that is not in the same folder as the previewed one, clicking the link results in the opening of my default browser.

[2021-06-21 17:49] hyangah commented on #116109
Thanks @weinand

We were also talking about server-side filtering & grouping features that Delve debug cli or other major Go IDE's debug UI supports or will soon support:

- Group by strack traces.
- Search/filter goroutines by function names in stack traces.
- Group/search/filter goroutines by arbitrary key=value info Go runtime associates with goroutines internally.
- Search/filter goroutines by

[2021-06-21 18:00] mohitsrivastavazzz opened #126846 "I have this weird terminal glitch, please someone help"
![1](https://user-images.githubusercontent.com/71134823/122806618-2e8a6700-d2e8-11eb-9953-d43f32a02115.png)
**Whenever I run a program for the first time I get normal results in terminal**
![2](https://user-images.githubusercontent.com/71134823/122806753-58438e00-d2e8-11eb-8144-8a21cd33070f.png)
**But on the second run and on I get this weird space and things seems really off**
![3](https://user-i

[2021-06-21 18:03] davidanthoff commented on #126431
There are no concrete plans to add debugging to JupyterLab for Julia that I'm aware of. I think if someone wanted to do that, they would essentially reuse the [DAP implementation](https://github.com/julia-vscode/DebugAdapter.jl) that we have for the Julia VS Code extension and integrate that into [IJulia.jl](https://github.com/JuliaLang/IJulia.jl/issues/903). The two peole in Julialand that are mo

[2021-06-21 18:07] meganrogge opened #126847 "split/kill on terminal panel should only disappear when inline actions are on tabs"
so that we never encounter the state without buttons
![recording (1)](https://user-images.githubusercontent.com/29464607/122807624-a91f9c00-d280-11eb-8fb8-d3907e58818d.gif)

[2021-06-21 18:07] JacksonKearl commented on #126614
On one had you have a totally broken experience if translators make a mistake in MD syntax (even with comment fields there's room for human error), on the other the translated string might be awkward but the experience is more-or-less guaranteed to work.

🤷‍♀️

[2021-06-21 18:08] gjsjohnmurray commented on #126817
When Explorer is displaying a workspace with folders sourced from a FileSystemProvider extension, having automatic refresh may be a problem if the nature of the FSP means that the refresh could be expensive.

[2021-06-21 18:09] gjsjohnmurray commented on #126783
/needsMoreInfo

[2021-06-21 18:10] Hans03430 commented on #10759
So...Visual Studio Code is still not available in the Microsoft Store/Mac OS App Store but it is available in Ubuntu's Snap Store? Why is it not available for the other two operating systems that are more widely used, i wonder.

[2021-06-21 18:15] pearson commented on #32461
@royalpeasantry's suggestion of moving that storage to the actual workspace folder seems like a simple, sensible solution. People do not necessarily expect there to be project data stored elsewhere on the system, and they certainly shouldn't be made to search for where their primary install drive space is going.

My case wasn't quite as bad as @mratsim's, but it would have been there soon. I was c

[2021-06-21 18:18] dowel commented on #126830
It seems like there are two options:

1. We say that current behavior is a bug and "Go Back" and "Go Forward" should ignore cursor movement. And perhaps if there is interest in variation that follows cursor movement, we file a feature request. I am personally not interested in variation that follows cursor movement.

2. We say that current behavior is fine and we need new variation of "Go Back" an

[2021-06-21 18:32] pseudocubic commented on #123276
As I mentioned in my comment above, it doesn't seem to be permissions related; I created all new folders to test this, ensured that the permissions on each folder was identical, and posted the permissions of the ripgrep binary included with vscode there as well.

I have also tested a rg binary from a different source by replacing the one in the app bundle, with the same result: sometimes the searc

[2021-06-21 18:47] roblourens commented on #126634
You need to use "trace" log level

[2021-06-21 18:47] aeschli commented on #126741
Thanks. I can reproduce with a `/*` on the second line.

The folding regions come from the TypeScript server.

[2021-06-21 18:49] irvnriir commented on #126634
@roblourens
![Screenshot](https://user-images.githubusercontent.com/13949704/122490851-6cc71400-cfd2-11eb-8838-5d564a6c3254.png)

[2021-06-21 18:50] roblourens commented on #123276
Are you on a mac with the M1 chip, or intel?

[2021-06-21 18:56] AkmKawser opened #126848 "VS Code github keeps showing Uploading files forever"
The message keeps saying uploading files "forever". I created a folder with a file inside. On Github, the repository was created successfully but the file is not uploading. And yes I have installed git.
![Uploading Screenshot 2021-06-22 004321.png…]()

[2021-06-21 18:58] luabud commented on #124770
we can't add checkboxes to quick-picks, right? I was thinking maybe adding a "reuse configuration" option that could be enabled/disabled there might help? But figured it's likely not currently possible

![image](https://user-images.githubusercontent.com/45497113/122813555-edfb0100-d287-11eb-9032-699b529ace0c.png)

[2021-06-21 19:00] rdgh8 commented on #126103
Fixed on the latest update

[2021-06-21 19:00] #126103 closed

[2021-06-21 19:02] pseudocubic commented on #123276
Intel. I replaced the app bundle with the Intel version just now, and there's no effect on this bug

[2021-06-21 19:18] padurean opened #126849 "Can not switch between terminals when terminals are shown as tabs"
Issue Type: <b>Bug</b>

1. Open 2 terminals.
2. From the terminal context-menu choose "Show Tabs".
3. Try to switch from one terminal to the other by (double-)clicking on terminal tabs - not working.
4. From terminal tabs pane context-menu choose "Hide Tabs" - terminals can be switched again from the combo-box.

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:

[2021-06-21 19:44] pgfearo commented on #126153
You just need the language extension for VS Code: [XSLT/XPATH for VS Code](https://marketplace.visualstudio.com/items?itemName=deltaxml.xslt-xpath) . (The built in XSL extension does not really do anything for XSLT apart from making it impossible to write an extension that can co-exist with other XML extensions)

[2021-06-21 19:44] Tyriar commented on #126816
@JacksonKearl I don't think that commit fixes it? That's still ctrl+alt+ on windows https://github.com/microsoft/vscode/commit/60ad49e4dce16291018e8f02438769ab54b5bc89

[2021-06-21 19:44] meganrogge commented on #126803
you can change that w `terminal.integrated.rightClickBehavior`

[2021-06-21 19:44] #126803 closed

[2021-06-21 19:46] andreamah commented on #126715
Closed by https://github.com/microsoft/vscode-liveserver/pull/20

[2021-06-21 19:46] #126715 closed

[2021-06-21 19:46] PEZ commented on #126306
It might not be the whole story. When using the same lookup function from `developerActions` I provide a context, but then the match fails.

https://github.com/PEZ/vscode/blob/9a8791ab8cd27fcbaa23588a2165a976ba63c3ca/src/vs/workbench/browser/actions/developerActions.ts#L233

But, of course, without a context it will never get a chance to fail. 😄

[2021-06-21 19:46] Tyriar commented on #126840
Repro:

1. Open 2 terminals
2. Drag the bottom terminal to the editor
3. Close the terminal editor via the `x` tab button
4. Close the panel terminal by clicking on the inline tab and hitting kill

![image](https://user-images.githubusercontent.com/2193314/122819017-ba6fa500-d28e-11eb-8efd-5935cda20ee0.png)

[2021-06-21 20:00] regolas opened #126851 "ConsoleApp template error with DotNet SDK 5.0.300"
Issue Type: <b>Bug</b>

Create a new ConsoleApp - dotnet new console
type dotnet run - Errors with CSPROJ in use
restart VS Code
type dotnet run
Following error occurs -
C:\Code\consoleCurLoad>dotnet run
System.ComponentModel.Win32Exception (193): The specified executable is not a valid application for this OS platform.
   at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo start

[2021-06-21 20:04] #126365 closed

[2021-06-21 20:11] AdmiralKirk1701 commented on #36634
Yes, I would have to agree. This is a critical issue that needs to be fixed just as soon as possible.  There are a lot of little quirks in VScode that I can live with, but this issue is driving me insane, and costing dev time.  I often have several versions of the same source code loaded into many tabs, and it is just way to easy to end up editing the wrong file because alt+left navigation forcibl

[2021-06-21 20:12] Moon-Raven commented on #20224
I would also appreaciate this feature very much!

[2021-06-21 20:25] #126255 closed

[2021-06-21 20:39] alyssajotice commented on #126528
I was using the static methods incorrectly. Closing now.

[2021-06-21 20:39] #126528 closed

[2021-06-21 20:58] nerzhulart commented on #126692
I open them using Windows Shell associations (so I guess it works the same way if to open with command line)

[2021-06-21 21:03] #126633 closed

[2021-06-21 21:15] #126783 closed

[2021-06-21 21:17] sbatten commented on #126692
@nerzhulart can you try opening code with (note the username to replace)
` code --user-data-dir C:\Users\<user>\Desktop\user1 --extensions-dir C:\Users\<user>\Desktop\ext1` and see if the issue repros?

[2021-06-21 21:25] rebornix opened #126853 "NotebookEditorModel leak on hot reload"
* Turn off auto save
* Open a GitHub issue notebook, tweak the content to make it dirty
* Reload the window
* After reload, save the document and then close
* Take a memory snapshot

<img width="517" alt="image" src="https://user-images.githubusercontent.com/876920/122829532-fa895480-d29b-11eb-8a06-cd31cca10e24.png">

https://github.com/microsoft/vscode/blob/e79612d1589f2da18ce260cfc8defe3bb7796fc

[2021-06-21 21:27] rebornix opened #126854 "Incorrect null check after await"
After `await` call, the `_editorModelReference` is possible to be `null` and the type should still be `IReference<IResolvedNotebookEditorModel> | null` other than `never`.

![image](https://user-images.githubusercontent.com/876920/122830056-a7fc6800-d29c-11eb-8288-dc768900853e.png)

[2021-06-21 21:28] Tyriar commented on #126847
Not sure it's worth this level of granularity since you can use `"terminal.integrated.tabs.showActions": "always"` and we'd need to add yet another context key?

[2021-06-21 21:43] iboxgithub commented on #126741
yes the /* is on the second line as shown in the GIF.
What do you mean though? is it a bug or not?

[2021-06-21 21:48] rebornix opened #126855 "Potential EditorInput leaks from history"
Ran into this while exploring Interactive Window and adding hot reload support. The interactive window editor input is using a virtual scheme `vscode-interactive` and it implements an `IEditorInputSerializer`. When the interactive editor input is dirty and users reload the window, what happens then is

* On window shutdown
  * Dirty `InteractiveEditorInput` is stored in backup
  * `HistoryService`

[2021-06-21 21:50] rebornix commented on #126855
My attempt to fix this is https://github.com/microsoft/vscode/commit/4da81059653e0c0c2d61ca92da89e8b1d498afa7 but not sure if I should actually remove the `if` condition. @bpasero we can have an offline chat if the issue description is not clear enough (esp why it leads to leaks).

[2021-06-21 21:58] JacksonKearl commented on #126816
Code seems to say it's fine so long as metaKey (same as winCtrl on non-macOS) is present.
https://github.com/microsoft/vscode/blob/596a96ec7a5ccf417b1ba2ee630f4aff64ee7fa5/src/vs/platform/keybinding/common/keybindingsRegistry.ts#L211

[2021-06-21 22:23] shashankram commented on #126628
This happened without any update being performed on my end. I had to uninstall vscode and install the latest version to resolve this.

[2021-06-21 22:24] Tyriar commented on #126816
@JacksonKearl isn't ctrlKey === winCtrl on non-macOS?

[2021-06-21 22:25] JakeShirley commented on #126628
That's true for me too (I think).  I came back to my computer the next day and:
- I could no longer open new fresh windows of Code
- My existing open window did seem to work
- If I opened a new window from my existing window I got an "empty" window that was just frozen.

Installing a fresh build fixed it.

[2021-06-21 22:35] usernamehw commented on #126854
Maybe a typo: `this._editorModelReference` was used instead of `editorModelReference`?

`this._editorModelReference` was checked in the `if` above that it's falsy, then it was checked again if it's truthy without changing the variable value. `never` seems to be the right type in that case.

[2021-06-21 22:39] claudiaregio commented on #125549
This feedback just came in, wanted to add onto here.

![image](https://user-images.githubusercontent.com/19276747/122836242-ba7b9f00-d2a6-11eb-8876-268f2d2bc8c1.png)

[2021-06-21 22:41] connor4312 commented on #122208
Please note the following significant changes coming to the testing API in the next Insiders; see the commit message for more details: https://github.com/microsoft/vscode/commit/186e565ec0eaee72c980ffe546ec3e4cb3ed1635

Any further breaking changes that happen will continue to be announced in this thread. (And they will be backwards-compatible over a few Insiders versions when feasible.)

cc @jdne

[2021-06-21 22:42] connor4312 commented on #126714
Fixed in https://github.com/microsoft/vscode/commit/186e565ec0eaee72c980ffe546ec3e4cb3ed1635

[2021-06-21 22:42] #126714 closed

[2021-06-21 22:55] rebornix opened #126856 "git reflects working tree changes test timeout"
https://github.com/microsoft/vscode/runs/2879552579

[code]

[2021-06-21 22:59] jacobweber commented on #71800
Same here. For example, open Git Graph and close it. From then on, while that workspace is open, pressing command-H on the Mac will no longer hide the app.

[2021-06-21 23:09] xisui-MSFT commented on #126630
I looked at onDidChangeTunnels event, and seems like the tunnel is removed from the tunnel list and added back. So I guess that's what you meant by "close and re-open".

However, knowing this doesn't actually resolve our issue. The actual connection is done by the debug adapter (MIEngine), using commands like "gdb target remote". Disconnecting makes the debug session fail entirely and looks like t

[2021-06-21 23:09] JacksonKearl commented on #126816
I see it as:
[code]

Which would imply `ctrlKey === winCtrl` *only* on macOS. And including both `ctrlCmd` and `winCtrl` means both `ctrlKey` and `metaKey` are true on all platforms.

https://github.com/microsoft/vscode/blob/7bbc15a60e0adfdeae901bf149f56c72c83a9a65/src/vs/base/common/keyCodes.ts#L433-L439

[2021-06-21 23:10] luabud commented on #122208
cc @karthiknadig

[2021-06-21 23:27] Rachel-King opened #126857 "Failed to connect to the remote extension host server (Error: Handler already set!)"
Unable to connect to home directory when signing into hpc - occurs 95% of the time.

[2021-06-21 23:31] jtn7 commented on #70532
Correct me if I'm wrong but can't this be done with these keyboard shortcuts?
[code]

[2021-06-21 23:33] JacksonKearl commented on #126638
Thanks for reporting, do you have `editorAssociations: {'*': 'default'}` set anywhere in your settings by chance?

[2021-06-21 23:39] Madpeterz opened #126858 "uninstall leaves junk behind"
When uninstalling the following folders are left behind
[code]
![image](https://user-images.githubusercontent.com/57852827/122840202-8f6a6d00-d2f1-11eb-9f4e-dd0b557cddc6.png)
[code]

OS: Windows 10 Pro
Version: 20H2
Build: 19042.1052

[2021-06-21 23:42] jacobweber opened #126859 "Webview breaks command-H shortcut even when closed"
Issue Type: <b>Bug</b>

Open any webview (e.g. Git Graph or Hex Editor) and close it. From then on, while that workspace is open, pressing command-H on the Mac will no longer hide the VS Code app.

Similar to #71800, but as of a recent release, it stays broken even after you close the webview. Even using Developer > Reload Window doesn't help; you need to close and re-open the workspace.

VS Code

[2021-06-21 23:43] jacobweber opened #126860 "a"
Issue Type: <b>Bug</b>

b

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:32.912Z)
OS version: Darwin x64 18.7.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz (8 x 2300)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>multiple_raste

[2021-06-21 23:43] #126860 closed

[2021-06-21 23:59] rchiodo commented on #126431
@davidanthoff  I think this is also possible if you were to give us an API that we could send messages to. We don't have to start a kernel (or need a kernelspec.json) in order to do 'jupyter' type stuff.

I believe @claudiaregio has sent you a document describing how we want to enable all the stuff in the jupyter extension UI for all kernels (or notebook controllers as VS code calls them). To do s

[2021-06-22 00:01] claudiaregio commented on #125549
![image](https://user-images.githubusercontent.com/19276747/122842423-34fdec00-d2b2-11eb-9535-5aa98e5bbb03.png)

[2021-06-22 00:06] rzhao271 commented on #126729
I currently suspect both crashes are the same.
I produced a minimal repro where starting a find session, and then swapping the iframe out, results in a crash due to a null reference.

[2021-06-22 00:13] rzhao271 commented on #126089
WIP

Here's how a single level of grouping looks:

![singlevel](https://user-images.githubusercontent.com/7199958/122843298-fb2de500-d2b3-11eb-8469-b75b68509513.PNG)

[2021-06-22 00:36] Tyriar commented on #126578
This is what happens when you use ctrl+d in zsh, it sends ^D (EOF) which the shell may handle

[2021-06-22 00:36] #126578 closed

[2021-06-22 00:38] theol0403 commented on #70532
No. See the demonstration earlier in the issue.

![](https://user-images.githubusercontent.com/4033249/58157638-9f548600-7c2d-11e9-863c-9eab18178807.gif)

The idea is that you do not need to type `enter` to select a suggestion, only tab. Currently, the implementation is *almost* there with `editor.tabCompletion": "on"`, literally all that needs to change is to keep the completion menu open.

Perso

[2021-06-22 00:43] zijiax commented on #70532
Couldn't agree more.

[2021-06-22 00:45] rebornix commented on #126854
@usernamehw this function can be called multiple times, and the async task `resolve` takes a long time to finish, so for all calls the first `this._editorModelReference` is `null` and then stop and wait for the promise the resolve. When the promise resolves, the first call continues, and it sets `this._editorModelReference` to an object; for the second calls, the `this._editorModelReference` is no

[2021-06-22 00:48] stephaniequintana opened #126862 "VSCode not working for me - also getting "Extension Host terminated Unexpectedly" error message"
Issue Type: <b>Bug</b>
or user error??? Please help.
I have uninstalled along with all components/files and then reinstalled VS - 4 --the same issues are occurring.

Version: 1.57.1 (Universal)
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:32.912Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 15.6.0

I currently have no e

[2021-06-22 00:49] rebornix commented on #125211
If I didn't have a chat with Rob today I wouldn't know there is already a discussion about how backup and historyService handles non-file editor inputs ;( Spent a day on this and ended up with same findings:

* https://github.com/microsoft/vscode/issues/126855
* https://github.com/microsoft/vscode/issues/126853

[2021-06-22 00:50] rebornix commented on #126855
The right fix is probably https://github.com/microsoft/vscode/issues/126728

[2021-06-22 00:53] ssmall commented on #67431
I know this has already been closed over a year go, but my team (https://github.com/GoogleCloudPlatform/cloud-code-vscode) is is being seriously hindered by the lack of support for multiple preLaunchTasks. We are using the workaround suggested in https://github.com/microsoft/vscode/issues/67431#issuecomment-666481125 but it is haphazard and error prone. If the VSCode team would reconsider the deci

[2021-06-22 00:54] stephaniequintana commented on #126862
solved by issue #126185, downloaded older version.

[2021-06-22 00:54] #126862 closed

[2021-06-22 01:04] claudiaregio opened #126863 "Native Notebooks - Support Output Preview or Resizable Outputs"
Request on behalf of user:

"Limit output preview sizes. There are a good number of situations where I might not want to completely hide a cell's output, but I don't want it to take up as much space. Having some way to meet in the middle where I can drag how much output should preview (and the rest could be accessed through a scrollable window) could be a nice touch. If I have a large notebook, so

[2021-06-22 01:05] swilliams-a3digital opened #126864 "The autocomplete syntax highlighting is all jacked up in the most recent release"
I think its best explained by looking at these screenshots:
<img width="284" alt="Screen Shot 2021-06-21 at 5 59 12 PM" src="https://user-images.githubusercontent.com/24925563/122846612-13edc900-d2bb-11eb-84ec-f751472694c5.png">
<img width="573" alt="Screen Shot 2021-06-21 at 5 02 38 PM" src="https://user-images.githubusercontent.com/24925563/122846624-1a7c4080-d2bb-11eb-9fa1-674c3f3cae4f.png">
<i

[2021-06-22 01:07] ecool commented on #126722
Alright, thanks for the info @aeschli. I'll do that.

[2021-06-22 01:16] hiroshi-nakajima345 commented on #126764
A.Original
PrintArgs &Commanline Arguments Probrem.
❶
public static void main(String[] args) {
		// TODO Auto-generated method stub
		//class PrintArgs {
			//public static void main(String[] args) {
				for (int i = 0; i < args.length; i++)
					System.out.println("args[" + i + "] = " + args[i]);
			}

}
VSC  does not work by only above.code
②
java PrintArgs Turbo NA DOHC
	//String[] sx = new Str

[2021-06-22 01:17] rebornix commented on #126855
Reverted my changes as it might break untitled file scenario.

[2021-06-22 01:34] Bourqu opened #126865 "File Extension appears to not populate // when run is clicked"
User@DESKTOP-4MFQ21B MINGW64 ~/Desktop/C_C++
$ cd "c:\Users\User\Desktop\C_C++\" && gcc riddle.c -o riddle && "c:\Users\User\Desktop\C_C++\"riddle
bash: cd: c:\Users\User\Desktop\C_C++" && gcc riddle.c -o riddle && c:UsersUserDesktopC_C++"riddle: No such file or directory

[2021-06-22 01:37] JeffreyCA commented on #126804
I understand where you're coming from. I realize nothing is incorrect here but VS Code's behaviour seems more unnatural to me compared to VS and other editors.

See the difference between VS and VS Code, first line has no whitespace, second line does.

https://user-images.githubusercontent.com/9157833/122848870-3aadfe80-d2bf-11eb-9603-b5f16d15011d.mp4

Can it be made consistent with how VS handles

[2021-06-22 01:39] yume-chan commented on #126830
To resolve #29027, `Go Back` and `Go Forward` commands now ignore cursor moves within 10 lines, do you want this value to be configurable? And want this configuration to accept infinity?

[2021-06-22 01:43] yume-chan commented on #126836
I wonder whether "split editor" should duplicate the current terminal (like a normal editor), or create a new terminal editor in another editor group (like in terminal panel)?

[2021-06-22 01:49] fattoliu commented on #164
i need this feature +10087!!!🙏🙏🙏

[2021-06-22 02:04] yume-chan commented on #126854
It's a common pitfall of TypeScript's control flow analysis, see Microsoft/TypeScript#9998 (it's opened in 2016!).

TypeScript can't dig into every function to check whether they change any field (due to performance reason), so it assumes all function to have no side effects.

[2021-06-22 02:06] lianjy357 commented on #123056
Version 1.57.1 is still not fixed and cannot be opened
![image](https://user-images.githubusercontent.com/38170938/122851292-493cfa00-d341-11eb-8773-8797aa60d87d.png)
![image](https://user-images.githubusercontent.com/38170938/122851307-4e9a4480-d341-11eb-9fb4-ce3ff213e035.png)
![image](https://user-images.githubusercontent.com/38170938/122851422-7ee1e300-d341-11eb-8434-7bde2afceab5.png)

[2021-06-22 02:14] dowel commented on #126830
@yume-chan Yes, this seems like a good idea.

[2021-06-22 02:14] lramos15 commented on #126692
Looks a lot like https://github.com/microsoft/vscode/issues/124386 which should be fixed in insiders.

[2021-06-22 02:14] stephaniequintana opened #126866 "VScode not working"
<b>Bug</b>

Constantly receiving the error "Extension host terminated unexpectedly."
I have uninstalled VSCode and then reinstalled it, the issue persists.
There are currently no extensions installed.
Please help. I am new to webdev and do not understand this issue.

<details>
electron/js2c/renderer_init.js:61 The vm module of Node.js is deprecated in the renderer process and will be removed.
t._l

[2021-06-22 02:15] infinnie commented on #126557
Can this value be unset too?

[2021-06-22 02:22] stephaniequintana commented on #126866
My sincerest apologies, the update did break my extension host. Thank you for the link to revert to a previous version, all is working again!

[2021-06-22 02:22] #126866 closed

[2021-06-22 02:33] ZhangTianrong opened #126868 "Missing icons (file, product, even minimize and exit icons)"
Does this issue occur when all extensions are disabled?: Yes (fresh install, no extension at all)

- VS Code Version: 1.57.1
- OS Version: Windows_NT x64 10.0.19042

Steps to Reproduce:

Just do a fresh install. It happens to both my computers in the office and at home.

![image](https://user-images.githubusercontent.com/20651728/122853385-b7cf8700-d344-11eb-907d-52238adf7a06.png)

If I install an

[2021-06-22 02:52] TNTrocket commented on #126458
same problem

[2021-06-22 02:55] claudiaregio opened #126869 "Native Notebooks - Multiple change output mimetype buttons"
VSC Version: 1.58.0-insider

![image](https://user-images.githubusercontent.com/19276747/122855692-71d5dd00-d2ca-11eb-80b7-00e365a7ca55.png)

[2021-06-22 03:01] LupengWang commented on #122951
I met some other issues:
I roll back to 1.55.2.  and find the same issue happens：
if use "code.exe" to run the application, the whole app window is blank, can not do any operation .
use ''code.exe --no-sandbox", it is ok, just like what happened under 1.56 or 1.57.

So, the issue might be caused by some external component(browser kernel? ) updated in last few months?

[2021-06-22 03:01] misolori commented on #126557
For other themes, you can definitely override the default. Unfortunately for our default dark/light, there is no way to unset it. That's why I linked to other issue where someone else tried to do a similar thing. Your best bet is to create a new theme where you have more control.

[2021-06-22 03:15] Pika-Pool opened #126871 "Wobbling debug button only when font-size is in specific range"
Issue Type: <b>Bug</b>

- disable all extensions
- disable all font related settings to vscode default
- change font-size to the range `>=14.5 <=15.1`(I guess this might be specific to my system)
- create a package.json file and add a scripts field to get the "Debug" button
- type anything and notice the "Debug" option

gif: ![gif for Wobbling debug button only when font-size is in specific range]

[2021-06-22 03:26] sonhanguyen opened #126872 "Options to put projects in explorer as separate sections"
When you open multiple projects, they are put into the same "section" in explorer, with shared scrollbar. It becomes frustrating if you frequently have to alternate between 2 file trees because you have to scroll pass the first project to get to the second.

It would be better if there was a setting that allows each project to appear as an independent section, with its own scrollbar.

[2021-06-22 03:29] eamodio commented on #126205
@alexdima this isn't really a GitLens issue -- this seems to be an issue with editor decorations.

[2021-06-22 03:35] duzhuqi opened #126873 "MPI parallel debugging"
We know that the current version provides serial and multithreaded application debugging, but not MPI parallel debugging. Why not provide such a feature, which is useful in the distributed system.

[2021-06-22 03:35] tjx666 opened #126874 "Invalid comparison: Error: Invalid comparison"
Does this issue occur when all extensions are disabled?: Yes/No

Yes

Version:

[code]

Steps to Reproduce:

1. open my git repository which is a workspace
2. toggle source control panel, however it is empty
3. open devTools

![image](https://user-images.githubusercontent.com/41773861/122858922-b6568c80-d34d-11eb-8363-9291917d8997.png)

[2021-06-22 04:00] meganrogge opened #126875 "first terminal in a group does not get restored on window reload"
type in the first terminal in a group -> should persist on window reload

[2021-06-22 04:01] SailorCode29 opened #126876 "Help uninstall old vsc app"
Issue Type: <b>Bug</b>

This error Message open app vsc 1.26.1

Process:               Electron [11557]
Path:                  /Users/USER/*/Visual Studio Code.app/Contents/MacOS/Electron
Identifier:            com.microsoft.VSCode
Version:               1.26.1 (1.26.1)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Electron [11557]
User ID:

[2021-06-22 04:03] #126875 closed

[2021-06-22 04:13] deepak1556 commented on #114227
Closing as there haven't been newer reports after the workaround.

[2021-06-22 04:13] #114227 closed

[2021-06-22 04:17] misolori commented on #126514
Alright, I've gone ahead and removed the list option. Overriding the styles doesn't help in this case as it still picks up the default styles.

For the cases where we style lists differently (notebooks ,settings editor) we'll just need to set `color: inherit` on the focus state icons instead. It's a trade off.

[2021-06-22 04:17] banga opened #126877 "tsserver crash on opening a large project"
Issue Type: <b>Bug</b>

.

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:32.912Z)
OS version: Darwin x64 20.5.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>multiple_raste

[2021-06-22 04:17] #126877 closed

[2021-06-22 04:25] deepak1556 commented on #111288
Upstream issue is now addressed via https://github.com/nodejs/node-addon-api/pull/975 , will try to verify in debt week.

[2021-06-22 04:25] deepak1556 commented on #125850
Crash due to exception thrown from keytar module, this is tracked in https://github.com/microsoft/vscode/issues/111288.

You can use `--disable-keytar` for temporary workaround.

[2021-06-22 04:25] #125850 closed

[2021-06-22 04:32] Liu-Yanran opened #126878 "Cell magic line breaks in VS code is \r\n not \n"
When I use cell magic from rpy2, the line breaks in VS code is \r\n which cannot be parsed because the parser only recognize \n.
The following works in Jupyter notebook but not in VS code because of the differences in line breaks.

Steps to Reproduce:

1.
%load_ext rpy2.ipython
import numpy as np
import pandas as pd

df = pd.DataFrame(
    {
        "cups_of_coffee": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[2021-06-22 04:38] wetbadger commented on #126834
"terminal.integrated.shell.linux" should also be set to "/bin/bash"

[2021-06-22 04:57] meganrogge commented on #126847
What do you think @Tyriar ?

[2021-06-22 05:03] jianboy commented on #4873
It's been five years

[2021-06-22 05:11] rebornix commented on #126415
##  Workflows

The interactive window is accessible in multiple way, e.g., invoked from command palette, codelens from python files, invoked by Jupyter extension through commands, etc. Each of them has different requirements for the UX and API, which are not fulfilled yet by existing notebook api.

### Command Palette

Users can create an Interactive Window from command palette or keyboard shortcu

[2021-06-22 05:15] rebornix commented on #126869
this means jupyter emits multiple outputs, each of which are multi-mimetype outputs.

[2021-06-22 05:15] #126869 closed

[2021-06-22 05:21] rebornix commented on #126854
@yume-chan thanks for the pointer, yes it's definitely a limitation of TypeScript.

[2021-06-22 05:23] KurahaSho opened #126879 "Cannot delete"
Issue Type: <b>Bug</b>

I'm working with flutter, and when i open a random file (any file) the editor block the delete, i cant delete any char, with backspace or supr, i cant delete but i can write any other char.
It usually happens after opening 2 or more files, but ocassionally it happens before.
I have to close the current instance of vs code and open a new instance.

I can delete after a few m

[2021-06-22 05:24] espoire commented on #66634
I'm trying to get both Alt+Drag for rectangle selection AND Ctrl+Click for "Go to Definition" both working at the same time, but I can't because of the Multi-Cursors setting.

"Selection > Switch to Alt+Click for Multi-Cursor" breaks my rectangle selection, and "Selection > Switch to Ctrl+Click for Multi-Cursor" breaks my Go to Definition. I want to just turn it off, but there's no way to turn it

[2021-06-22 05:24] rebornix opened #126880 "Notebook slow scrolling caused by update layer tree"
Originally reported by @digitarald

![image](https://user-images.githubusercontent.com/876920/122868118-5c1ee280-d2df-11eb-9c0f-47f74eb02b27.png)

After digging into the perf log, it seems there is a long `update layer tree` (~10ms) for every scroll.

[2021-06-22 05:28] rebornix commented on #126880
@digitarald can you try below when you get a chance to reproduce the issue

* run vscode with `--disable-gpu` and see if you can reproduce
* check if you have a large code cell (with a lot of lines), if so, try to split the cell to smaller cells and see if you still see the slowness

[2021-06-22 05:36] bpasero commented on #119695
@alyssajotice to better validate if this is a good direction, I just pushed support for a `transient` boolean property for workspaces. It will currently only be read in one place: when a window reloads and if `transient: true` will open an empty window. Since this property will not be read when initially opening or restoring, you would still have to continue to delete the temporary workspace when

[2021-06-22 05:39] bpasero opened #126881 "Action to reset IndexDB should move into developer actions"
We have a place for developer actions here: `src/vs/workbench/browser/actions/developerActions.ts`

Please move this action there:

https://github.com/microsoft/vscode/blob/27b2434631bc9e253c30f3d55b837fea41a7c170/src/vs/workbench/browser/web.main.ts#L301-L301

[2021-06-22 05:40] nahidakbar commented on #126857
+1

[2021-06-22 05:41] nahidakbar commented on #126857
Using Windows 10

[code]

Version: 1.57.1 (user setup)
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:07.755Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19041

[2021-06-22 05:43] nahidakbar commented on #126857
If I reload window a bunch of times it works once. Although every time a new window is opened, its a russian roulette.

[2021-06-22 05:44] muthianikev opened #126882 "Open a hidden directory"
Add ability to be a able to open a hidden directory (e.g. a hidden repository) as the base folder of the window explorer

[2021-06-22 05:44] bpasero commented on #114633
/gifPlease

[2021-06-22 05:44] bpasero commented on #126389
Can you follow this wiki and post the results back here to understand more about why performance is so bad for you: https://github.com/Microsoft/vscode/wiki/Performance-Issues

Thanks!

[2021-06-22 05:44] bpasero commented on #126435
/gifPlease

[2021-06-22 05:45] bpasero commented on #126530
/gifPlease

[2021-06-22 05:46] bpasero commented on #126764
What is there for VSCode to fix here?

[2021-06-22 05:46] bpasero commented on #126801
/gifPlease

[2021-06-22 05:46] bpasero commented on #126831
/gifPlease

[2021-06-22 05:47] bpasero commented on #126835
/gifPlease

[2021-06-22 05:49] bpasero commented on #126855
/duplicate #126728

[2021-06-22 05:50] #126855 closed

[2021-06-22 05:50] bpasero commented on #126855
As a workaround I suggest we add more special cases to the history to simply not persist the history for inputs of your kind. If you let me know the `typeId` to ignore, I can add it.

[2021-06-22 05:50] bpasero commented on #126853
/duplicate https://github.com/microsoft/vscode/issues/125211

[2021-06-22 05:51] #126853 closed

[2021-06-22 05:54] linsui opened #126883 "Search in directory in multi root workspace totally broken"
Issue Type: <b>Bug</b>

Creat a workspace.
Add directory a.
Add directory a/b.
Search in b.
See results in a.

VS Code version: VSCodium 1.57.0 (b4c1bd0a9b03c749ea011b06c6d2676c8091a70c, 2021-06-13T03:20:25.029Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2021-06-22 05:55] bpasero commented on #126853
Since the second `resolve` originates from backups, let's continue in #125211

![image](https://user-images.githubusercontent.com/900690/122871373-2f92b700-d32f-11eb-83b6-f2c16aea8f80.png)

[2021-06-22 06:02] infinnie commented on #126557
Maybe a boolean to control whether to have that behavior set?

[2021-06-22 06:16] #125733 closed

[2021-06-22 06:17] bpasero commented on #126856
/duplicate https://github.com/microsoft/vscode/issues/126813

[2021-06-22 06:18] #126856 closed

[2021-06-22 06:21] yahyaefendy opened #126884 "Extension host terminated unexpectedly."
I open my vscode, but this error for me "Extension host terminated unexpectedly"
I try close and open again, but this return problem

- VS Code Version: 1.57

[2021-06-22 06:23] jcimoch commented on #37350
I think people are getting rude and furious because it's
a) Open from 2017
b) it was on a 2020/21 roadmap
c) it got deleted from the roadmap
d) the issue is still open without clear communication from MS despite high demand across years for a basic feature

[2021-06-22 06:28] Peter-Jolly opened #126885 "Copy a Plot from "Plot Navigator" to clipboard for pasting into a document"
The new Plot Navigator window in the latest release of Vscode is very useful but it would be more useful if you could copy the plot to the clipboard and hence past into other documents. Is this possible? If so how? I use MS Windows 10. Thanks Peter

[2021-06-22 06:30] nomi9995 commented on #37350
hi, @bpasero @jrieken @joaomoreno @mjbvz top contributors of vs code when it will add in vs code?. if `Microsoft` can pay for this then I can manage this by open source developers team to see this issue

[2021-06-22 06:35] iamwwc commented on #126578
I don't understand, bash have same problem

[2021-06-22 06:44] PEZ commented on #126306
@bpasero, just because this one intrigues me (and that Calva is suffering quite bad from it) I spent some little more time based off of your hint about passing the context key service of the active editor control. That control does not have a context key service, afaict. I tried some different ways to pass it along, but after a while it gets ridiculous. So far I only seem to find how to grab the c

[2021-06-22 06:50] #126838 closed

[2021-06-22 06:59] vicary commented on #126823
Do you mean that the value of `workbench.colorTheme` will be modified daily based on OS sunset schedules, hence synchronized to my other machines?

Every time I called "Reload Window" in the evening, it shows the light theme when it should be dark. So it is basically doing what it shouldn't.

Shall I attach a screen recording as a proof?

[2021-06-22 07:01] nickbanana opened #126886 "Built-in scss language basic lack of syntax highlight of :host-context() and other experimental pseudo-classes"
Does this issue occur when all extensions are disabled?: Yes/No Yes

- VS Code Version: 1.55.0 (user setup)
- OS Version: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. insert experimental pseudo-class in scss like :nth-col

it lacks of syntax highlight but when same experimental pseudo-class is presented in css file it's been syntax highlighted.
Comparison in attached image

![image](https://

[2021-06-22 07:03] #126813 closed

[2021-06-22 07:20] bpasero opened #126887 "Add some tests for methods newly accepting `IUntypedEditorInput`"
I think the new support for matching on untyped inputs should be reflected as tests in the areas where we can use it now
* [x] `EditorInput#matches` (already has a `editorInput.test.ts` file to add this)
* [x] `SideBySideEditorInput#matches` (already has a `sideBySideEditorInput.test.ts` file to add this)
* [x] `IEditorGroup#isActive`
* [x] `IEditorGroup#contains`

[2021-06-22 07:21] isidorn commented on #125230
Great, thanks for letting us know, adding verified label

[2021-06-22 07:23] aeschli commented on #126741
Yes, it looks like a bug. The TypeScript team will have a look at it.

[2021-06-22 07:25] dbaeumer opened #126888 "It is extremely hard to move the mouse into a custom tooltip of a status bar item to click a command"
The custom hover offers the ability to add clickable commands. However it is extremely hard to move the mouse into it. In 99% of the cases the tooltip disappears before the mouse can make its way into it.

<img width="341" alt="capture" src="https://user-images.githubusercontent.com/1931590/122881691-b6e62780-d33b-11eb-8d86-532d1e63d084.png">

[2021-06-22 07:27] isidorn commented on #125284
Great, thanks!
Adding bug label so I get this verified.

[2021-06-22 07:35] LoranKloeze commented on #126857
+1

[2021-06-22 07:39] shirodkarpushkar opened #126889 "vscode collapse button not showing up when opened in new window"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1. open with project with vscode containing large html/ js file.
2. now open a new window from File > New Window.
3. drag and drop one of html / js file in new window .
4. collapse buttons of new vscode window are hidden.

[2021-06-22 07:40] isidorn commented on #125967
Detecting that the sidebar got closed by the user might be a good signal.
I suggest that for now we move this to backlog and if other users hit this we can think about doing something here.

[2021-06-22 07:43] aeschli commented on #126823
Yes, it will be synchronized to other machines, which might not be what you want.

What is the settings before you click reload?

[2021-06-22 07:46] isidorn commented on #125917
@fsteffi can you please add a picture from latest insiders, thanks

[2021-06-22 07:46] #126356 closed

[2021-06-22 07:48] isidorn commented on #126195
@weinand thanks for fixing this 👏
fyi @misolori since this was probably caused by accident when we added color to our touch bar icons

[2021-06-22 07:50] isidorn commented on #126378
I can not reproduce this. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2021-06-22 07:51] isidorn commented on #126450
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2021-06-22 07:55] weinand commented on #126865
/extC++

[2021-06-22 07:56] #126865 closed

[2021-06-22 07:58] isidorn commented on #126684
I can not reproduce. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2021-06-22 07:59] weinand commented on #126873
VS Code supports multiprocess debugging. But it requires debug extension to cooperate.

What exactly are you looking for?
And what debugger are you using?

[2021-06-22 07:59] rocksankalp opened #126890 "VS Code constantly refreshing and reloading the application"
VS Code constantly refreshing and reloading the application.

I have strong internet connectivity still my vscode reloading often which brings down my productivity at work place.

any suggestion to overcome on this would be really helpful .

Thanks

[2021-06-22 08:09] duzhuqi commented on #126873
Glad to get your letter.

I am a developer of MPI parallel application. Our application needs to run on a clustered system.In the process of program debugging, we found that large-scale parallel debugging is a very difficult matter.&nbsp;We use more than 512 MPI processes.

We currently use GDB to debug programs, but GDB does not support MPI parallel debugging.

&nbsp;&nbsp;&nbsp; 杜琦
 &nbsp;&nbsp;

[2021-06-22 08:15] gjsjohnmurray commented on #126890
/needsMoreInfo

[2021-06-22 08:18] n9 commented on #126890
It was happening to me too. But after cca 10+ "restarts" it stopped restarting.

[2021-06-22 08:38] bpasero commented on #126306
@PEZ can we isolate this to a easier repro? Here is what I try: I configure platform specific keybindings in my keybindings file:

[code]

When I see the command palette, the keybinding actually seems to be correct for my platform (macOS):

![image](https://user-images.githubusercontent.com/900690/122892626-d6824d80-d345-11eb-867b-78c86a604f85.png)

From all the users of `IKeybindingsService.looku

[2021-06-22 08:55] bpasero commented on #126728
Maybe we can do this already now to reduce some pain points.

[2021-06-22 09:27] #126793 closed

[2021-06-22 09:33] longtth opened #126891 "integrated terminal doesn't refresh when change branch by UI"
Does this issue occur when all extensions are disabled?: Yes

Version: 1.57.1 (system setup)
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:07.755Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19043

## **Steps to Reproduce:**

1. clone a project from remote repo
2. click on bottom-left icon to checkout to new br

[2021-06-22 09:37] cloudsere commented on #125661
@alexdima After debugging for a long time, I found that my DNS server is of high CPU usage, and I run `ipconfig /all` and found infinite list of strange server `10.50.50.50`, I run `netsh  interface  ip set DNS Name="Ethernet"  source=DHCP` in powershell, and it works!

[2021-06-22 09:46] amogorkon commented on #117977
I usually focus work on a single file on a wide monitor with zen mode, which works perfectly fine, but I also quite often need to compare two files, so I end up switching back and forth between tabs, which is anything but "zen".. Having them two vertically split and literally the right half of the screen blank is also not really useful.
I wished you reconsider and regard this issue as crucial for

[2021-06-22 09:53] lehoff opened #126892 "No outline for asciidoctor files with include right after heading"
Issue Type: <b>Bug</b>

This shows up when including another `.adoc` document right after the opening section.

This file will show an outline:
[code]

Whereas this will not:
[code]

The use case for this is that I'm trying to reuse the samme document headers for multiple slide decks (revealjs), but it could equally well have been for a family of documents.

The odd thing is that this generates a

[2021-06-22 09:58] Shubham9t opened #126893 "vs code is not working"
We have written the needed data into your clipboard because it
Issue Type: <b>Bug</b>

after updating vs code 1.57.1 version its giving error like extension host terminated unexpectedly and search is not working ( i am searching file in my folder not getting any result )

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:32.912Z)
OS version: Darwin x64 15.6.0

[2021-06-22 10:00] Whobeu commented on #4873
Indeed it has. I just accidentally changed a file yesterday that I would have marked Read Only if I could have. No damage done as I undid it all but I wondered why some of my edits did not work only to see I edited the wrong file 🙄

[2021-06-22 10:07] jrieken commented on #39441
Todays thinking behind `isIncomplete ` is incomplete wrt the number of items returned, not wrt to the depth of items. However, it does allow for such an experiement. I also do agree that the UI lacks a "loading more" indication. This is a little tricky because often we are dealing with complete and incomplete results at the same time and we don't want to block the whole UI. By now we have an optio

[2021-06-22 10:10] jrieken commented on #39441
On the UI and API - the current thinking is to reduce this to: label, signature, and qualifier. There needs to be a better name for "signature" because it is meant to be arguments and return type, or type annotation etc... So, maybe avoid programming lingo and use detail. Also two rendering styles: (1) all in one row (with spacing and opacity tweaks) or (2) right align the qualifier portion

<img

[2021-06-22 10:17] Tyriar commented on #126888
This is because I shifted it up to improve the alignment, didn't realize there were links in some

[2021-06-22 10:18] Tyriar commented on #126578
Bash is a different program that handles it differently

[2021-06-22 10:21] Tyriar commented on #126836
@yume-chan were making it create. Anew one like in the panel

[2021-06-22 10:22] jrieken commented on #125211
I am not against calling `resolve` but the problem is that the caller doesn't dispose the inputs and thereby leaks. If there is a way for the backup tracker to know that the input isn't needed anymore than it can just clean-up, e.g why doesn't the backup tracker listen to `EditorInput#onDidChangeDirty` and dispose inputs when they turn non-dirty?

[2021-06-22 10:27] DanTup commented on #39441
I was just coming to suggest `detail` or `description` (both used elsewhere). Although it may be a little confusing there there's `detail` directly on the `CompletionItem` and now also on the `name`.

Of the screenshots I prefer the second one - the first one makes it difficult to scan the filenames (which might be important if you're trying to pick something based on that because there are duplic

[2021-06-22 10:29] deepak1556 commented on #126729
Both crashes are same with `EXC_BAD_ACCESS` that happens when a frame was swapped due to shutdown. Definitely matches the investigation from @rzhao271, will push a fix shortly to the internal builds.

[code]

[2021-06-22 10:32] usernamehw commented on #126754
/duplicate of #126888

[2021-06-22 10:33] #126754 closed

[2021-06-22 10:36] usernamehw commented on #126753
/assign Tyriar

[2021-06-22 10:47] weinand commented on #126885
@Peter-Jolly VS Code has no "Plot Navigator". I think you are talking about a feature of the Julia extension.

[2021-06-22 10:47] #126885 closed

[2021-06-22 10:48] tianzerun opened #126894 "Missing the document.uri.query field when running extension in Codespaces"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.57.1
- OS Version: Darwin x64 19.6.0
- Codespaces Version: 1.57.1

We come across a behavioral inconsistency on VSCode v.s CodeSpaces when developing our extension. We have a class that implements the `vscode.CommentingRangeProvider`. In its `provideCommentingRanges(document: vscode.TextDocument)` method, we are try

[2021-06-22 10:50] jrieken commented on #39441
Some thoughts over here. Tendency to go with the triple of label, detail and description

No changes for the details widgets planned. It should show items details and doc as it always does.

[2021-06-22 10:55] prasadaps opened #126895 "Incorrect control type is announced for the edit "Choose to configure settings by azure subscription or provide them manually""
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

GitHubTags:#A11y_VSCode;#A11ySev3;#A11yTCS;#A11yWCAG;#DesktopApp;#Visual Studio Code Client;#JAWS;#WCAG4.1.2;#DesktopApp;#Win10;#VisualStudioCode-Win32-Apr2021;

### Environment details:
Application Name: Azure Stream Analytics Tools for Visua

[2021-06-22 10:57] stevencl commented on #126800
I'm seeing the same thing. Here's what happens on my machine:

![cannotruncsharp](https://user-images.githubusercontent.com/1704059/122912978-d471bc00-d350-11eb-85a0-61032d26c2b9.gif)

Version: 1.57.1 (user setup)
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:07.755Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.

[2021-06-22 10:57] Eldair opened #126896 "Find in file input text invisible [insiders]"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58
- OS Version: Win 10 19043.1081

Steps to Reproduce:

1. Find in file input text is invisible when focused

![image](https://user-images.githubusercontent.com/470003/122913016-3fbf8c00-d359-11eb-97ab-c48eb43bab8b.png)
![image](https://user-images.githubusercontent.com/470003/122913063-4bab4e00-d359-11eb-8a93-c

[2021-06-22 10:58] TheColdPot commented on #126435
*This is a LOCALZATIONED MESSAGE for issue opener*

工作人员不了解到底发生了什么，请用一个屏幕录制（最好是GIF）让他们知道，你可能需要基于web的gif录制器：<https://gifcap.dev>

[2021-06-22 11:00] gjsjohnmurray commented on #4873
https://code.visualstudio.com/updates/v1_57#_enable-file-system-providers-to-declare-a-file-as-readonly mentions new proposed API that came in 1.57 which may be a step towards this.

[2021-06-22 11:02] prasadaps opened #126897 "Color contrast ratio of the focus indication over Select IoT Hub list item is less than 3:1."
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

GitHubTags:#A11y_VSCode;#A11ySev2;#A11yTCS;#A11yWCAG;#DesktopApp;#Visual Studio Code Client;#ColorContrast;#WCAG1.4.11;#DesktopApp;#Win10;#VisualStudioCode-Win32-Apr2021;

### Environment details:
Application Name: Azure Stream Analytics Tools

[2021-06-22 11:10] prasadaps opened #126898 "Codelens is not keyboard actionable."
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

GitHubTags:#A11y_VSCode;#A11ySev3;#A11yTCS;#A11yWCAG;#DesktopApp;#Visual Studio Code Client;#Keyboard;#WCAG2.1.1;#DesktopApp;#Win10;#VisualStudioCode-Win32-Apr2021;

### Environment details:
Application Name: Azure Stream Analytics Tools for V

[2021-06-22 11:13] alexr00 commented on #126886
Can you please provide a full copy/pastable example?

[2021-06-22 11:15] prasadaps opened #126899 "Codelense on light theme is less than 4.5:1."
[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.

GitHubTags:#A11y_VSCode;#A11ySev3;#A11yTCS;#A11yWCAG;#DesktopApp;#Visual Studio Code Client;#ColorContrast;#WCAG1.4.3;#DesktopApp;#Win10;#VisualStudioCode-Win32-Apr2021;

![2717_A11y_AzureStreamAnalyticsToolsForVisualStudioCode_Input_SelectSub

[2021-06-22 11:18] deepak1556 commented on #126729
Upstream fix https://domoreexp.visualstudio.com/Teamspace/_git/electron-build/pullrequest/370827

[2021-06-22 11:26] #126241 closed

[2021-06-22 11:26] #126239 closed

[2021-06-22 11:26] #126184 closed

[2021-06-22 11:26] #126157 closed

[2021-06-22 11:26] #126048 closed

[2021-06-22 11:26] #125986 closed

[2021-06-22 11:26] #125894 closed

[2021-06-22 11:26] #125776 closed

[2021-06-22 11:26] #125736 closed

[2021-06-22 11:26] #119153 closed

[2021-06-22 11:26] #117709 closed

[2021-06-22 11:28] jianboy commented on #4873
@gjsjohnmurray @Whobeu

I think the read-only mode is like this, just preview the code instead of changing the file to read-only mode.

Similar functions such as previewing markdown files, The editing function of the editor should close, The  pointer should lose focus, **And the virtual keyboard should not automatically pop up.**

[2021-06-22 11:34] StefanBrand opened #127108 "Jupyter extension broken in attached Kubernetes pod container"
## Environment data

-   VS Code version: Version: 1.57.1
-   Jupyter Extension version: v2021.6.999406279
-   Python Extension version (available under the Extensions sidebar): v2021.6.944021595
-   OS (Windows | Mac | Linux distro) and version: Linux x64 5.8.0-55-generic snap
-   Python and/or Anaconda version: 3.8.10
-   Type of virtual environment used: conda
-   Jupyter server running: N/A

#

[2021-06-22 11:38] junhwong commented on #126812
@alexr00 thk for your reply. I didn’t find it on the setting side before （⊙＿⊙；）…

[2021-06-22 11:52] isidorn commented on #126661
Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/
Can you please attach a picture

[2021-06-22 11:55] sbrickner opened #126900 "Bash terminal scroll bar"
Using the bash terminal after the update for splitting terminals (should be optional btw) there is no longer a scroll bar. Steps to reproduce would be just to open the terminal and do something like npm install that would make the window require a scroll bar.

[2021-06-22 11:56] PEZ commented on #126306
Good idea, @bpasero! Contrast these two settings:

A:

[code]

B:

[code]

If you summon the palette from an editor with focus, you'd expect that `alt+b` was displayed for setting **A**. And at the very least you'd expect that if you have settings **B**, it would change what is displayed. Instead `ctrl+b` is displayed both times.

I'm a bit puzzled why your example does not expose the error, even

[2021-06-22 12:00] hediet opened #126901 "IntervalNode.range should be Range | null"

[2021-06-22 12:02] isidorn commented on #117980
This issue is better than #118722 since this is one is much more scoped to the actual problem. Exposing `getContext` is too broad for this particular use case.

Using the OS accessibility API approach as proposed by @tyriar sounds reasonable to me.
Did you maybe try to make a prototype with this approach so we can all try it out and see the limitations? Screen readers use this approach successfull

[2021-06-22 12:07] isidorn commented on #126749
I believe this is a duplicate of a known issue that @sbatten fixed, thus forwarding to him and he can close as dup

[2021-06-22 12:19] #126888 closed

[2021-06-22 12:27] isidorn commented on #126694
Funnily that is how Loaded Sources started when @weinand added them (before we had the view).
I think it would be easy to bring it back, however I would not jump on this until more users request it.

Though a good code pointer would be https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/browser/debugQuickAccess.ts#L19

[2021-06-22 12:29] jrieken commented on #126894
Query parameters for `file` uris are bogous because the file system doesn't define any meaning for those, e.g `file:///foo/bar.txt?aaa` is the same as `file:///foo/bar.txt?bbb`. For custom schemes that's a different story and up to the implementor of the file system.

@bpasero for failing/checking in the file system provider when this happens and @alexdima for why this is different in codespaces.

[2021-06-22 12:29] isidorn commented on #126548
I can not reproduce this. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/
fyi @lszomoru @sbatten for potential duplicates

[2021-06-22 12:32] isidorn commented on #126320
Sorry for the slow response, I was on vacation.
@eamodio disabling the Add Folder to workspace commands sounds good to me. We should only open up this door once we are ready to support this scenario.

[2021-06-22 12:35] isidorn commented on #126480
We already have icons in the product, just pick a file icon theme.
If you mean icons in the native OS finder, we can not control that nicely from VS Code as far as I know. Though @joaomoreno can correct me here

Closing

[2021-06-22 12:35] #126480 closed

[2021-06-22 12:36] bpasero commented on #126435
Waiting for input.

[2021-06-22 12:38] Tyriar commented on #123926
@applemonkey496 splitInstance is an internal command that uses the selected terminal tabs in the tab view, it's what drives this context menu:

<img width="313" alt="Screen Shot 2021-06-22 at 5 38 25 AM" src="https://user-images.githubusercontent.com/2193314/122925832-116f8b80-d31c-11eb-9242-c0445e307e35.png">

[2021-06-22 12:39] arthurspa commented on #115784
This worked like a charm!

[2021-06-22 12:44] bpasero commented on #125211
@jrieken yeah I think that could work. I think the `resolveEditor` method that I added should return a `IDisposable`. But the backup tracker would really just do this:

[code]

Because as far as the tracker is concerned, the job is done after the editor got resolved. And since the editor is opened by then anyway, the dispose call should not do anything bad, just reduce the ref counter?

[2021-06-22 12:47] hiroshi-nakajima345 opened #126902 "SumContinue"
必// 読み込んだ整数を加算（負の値は加算しない）

import java.util.Scanner;

class SumContinue {

	public static void main(String[] args) {
		Scanner stdIn = new Scanner(System.in);

		System.out.println("整数を加算します。");
		System.out.print("何個加算しますか：");
		int n = stdIn.nextInt();	// 加算する個数

		int sum = 0;	// 合計値
		for (int i = 0; i < n; i++) {
			System.out.print("整数：");
			int t = stdIn.nextInt();
			if (t < 0) {
				Syst

[2021-06-22 12:48] applyinnovations opened #126903 "Typescript continues to crash when saving file"
Typescript crashing on file save. Unable to resolve type errors in my code base, sometimes takes a minute or two after file save, other times it just crashes.

[2021-06-22 12:48] nickbanana commented on #126886
[code]

[2021-06-22 12:50] #126902 closed

[2021-06-22 12:55] FlorianG-dev opened #126904 "Python Notebook can't open: infinite loop"
Issue Type: <b>Bug</b>

Hello VS Code team,

Since the last update I'm not able to open any python notebook (ipynb).
I've found a similar situation here : https://stackoverflow.com/questions/63856340/vs-code-cant-open-ipynb-file
My issue is exactly what is described.
---
I've unistalled and reinstalled VSC and each extension individually, nothing changed.
---
Visual code version : the last one (I'

[2021-06-22 12:56] nerzhulart commented on #126692
Seems it helped! The action Manage Workspace trust works now. So AIU I need to clean my VSCode profile folder, right?

[2021-06-22 12:58] potatoqualitee commented on #124032
/verified

[2021-06-22 12:58] potatoqualitee commented on #124032
Thank you 🙇🏼

[2021-06-22 13:01] #123926 closed

[2021-06-22 13:07] IllusionMH commented on #126903
/needsMoreInfo

You should fill issue template that includes version and extensions list.

Is it reproducible with all extensions disabled?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

[2021-06-22 13:08] lramos15 commented on #126692
@nerzhulart my guess is you have something like `{'*': 'default'}` in your settings.json and that's the issue. If you remove that everything should be fixed.

[2021-06-22 13:12] applyinnovations commented on #126903
Hey thanks for the prompt response. After disabling the extensions as you have mentioned, it still takes 60-90 seconds to compile and provide the syntax highlighting / error checking.

[2021-06-22 13:14] applyinnovations commented on #126903
Actually upon writing that response I am no longer receiving syntax checking , however a restart of vs code brought it back after waiting ~30 seconds after launch.

[2021-06-22 13:15] scottwoyak opened #126905 "Serial Monitor not working, VSCode 1.57.1, Arduino 0.4.3"
Hi,

I can't get the serial monitor working in VSCode. I'm running all the latest tools as of 6/2021. Things work fine in the Arduino IDE. I can also compile and upload in VSCode, but nothing displays in the serial monitor.

Version: 1.57.1 (system setup)
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:07.755Z
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.

[2021-06-22 13:16] isidorn commented on #126398
We did this to allow double click on empty explorer space to create a new file. This is aligned with some other views - for example the Watch view.
This has never happened by accident to me thus far. Though let's keep this issue open to gather more user feedback and if it happens accidently more often we should either prevent double click to create a new file, or try to be somehow smarter about it

[2021-06-22 13:17] isidorn commented on #126346
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2021-06-22 13:18] applyinnovations commented on #126903
I have just noticed that it is also error checking my node_modules folder. I assume this is what is causing such delay?

[2021-06-22 13:20] isidorn commented on #126857
Dup of https://github.com/microsoft/vscode/issues/126339

[2021-06-22 13:20] #126857 closed

[2021-06-22 13:22] isidorn commented on #126842
Thanks for the issue. However I just came back from vacation and have limited time this milestone, thus I am pushing this out to July for now.

[2021-06-22 13:23] misolori commented on #126195
Thank you, @weinand!

[2021-06-22 13:25] tymsai opened #126906 "Initial start-up takes too much time"
Does this issue occur when all extensions are disabled?: Yes/No

Code: 1.57.0
OS: win32(10.0.19043)

Steps to Reproduce:

1. Restart your PC/Laptop
2. Open VS Code application (Program file version , extracted from .zip)
-------------
1st opening of the VSCode application is very slow but the 2nd time opening is superfast

1st time opening
workbench ready : 10557
2nd time opening
workbench ready :

[2021-06-22 13:25] alyssajotice commented on #119695
Thanks, I'll keep you updated.

[2021-06-22 13:26] isidorn commented on #126218
Closing as no changes are planned for this particualr issue.
Thanks for providing feedback though we have other issue that track some concerns in this area

[2021-06-22 13:26] #126218 closed

[2021-06-22 13:27] bpasero commented on #119695
Thank you, todays insider build actually already has these changes.

[2021-06-22 13:27] misolori commented on #126864
@swilliams-a3digital can you please share your version/system info + any theme customizations in your settings? I am not able to reproduce:

<img width="644" alt="CleanShot 2021-06-22 at 06 25 41@2x" src="https://user-images.githubusercontent.com/35271042/122932544-af665480-d322-11eb-8b6b-4c65023ae9b0.png">

<img width="525" alt="CleanShot 2021-06-22 at 06 26 00@2x" src="https://user-images.github

[2021-06-22 13:27] applyinnovations commented on #126903
Another update: I just received the "TypeScript language service died unexpectedly 5 times in the last 5 Minutes" error again after disabling all my extensions and continuing to use the editor.

[2021-06-22 13:29] monil-patel commented on #124643
@TylerLeonhardt just checking to see if there were any updates on this issue?

[2021-06-22 13:30] alexdima commented on #126306
Hey, apologies for responding slowly, as I did not have a Linux machine immediately ready to test, but I cannot reproduce. I am trying with the original steps and have created an extension with the following `package.json`:

[code]

On Linux, when triggering the command palette, `ctrl+right` is rendered as the keybinding next to the `My command` command:

![image](https://user-images.githubusercon

[2021-06-22 13:30] isidorn commented on #126382
@jvesouza thanks for the feedback!
In general vscode does not announce when some command successfully finished. Doing this as a special case for SCM commands would be a bit weird.
I think we should do the opposite approach, be 100% sure that if the command fails that the user is aware of it. The only missing piece would be how to know if the operation is still in progress - and for that we are act

[2021-06-22 13:31] #122448 closed

[2021-06-22 13:31] sandy081 commented on #122448
Dependents are disabled when dependencies are disabled and following message is shown:

![image](https://user-images.githubusercontent.com/10746682/122932768-4c9aaa80-d36e-11eb-94c9-7e798f6dc8e4.png)

[2021-06-22 13:33] Stirfry70 commented on #126692
@lszomoru I

[2021-06-22 13:34] alexdima commented on #126894
Let's track in https://github.com/microsoft/vscode/issues/110377

[2021-06-22 13:34] #126894 closed

[2021-06-22 13:35] jrieken commented on #125211
Yes, I believe so. There is [_openMissingDirtyNotebookEditors](https://github.com/microsoft/vscode/blob/e7ed3023f06adb2e3ffdb23ec511eaa480db5030/src/vs/workbench/contrib/notebook/browser/notebook.contribution.ts#L468-L468) which ensures there is an editor for each dirty notebook model... Tho, that is being used via debouncing and I don't know if that's a problem or not (the debounce is also not re

[2021-06-22 13:37] misolori commented on #126899
We'd have to use something that's at least as strong as `#767676`:

<img width="406" alt="CleanShot 2021-06-22 at 06 36 38@2x" src="https://user-images.githubusercontent.com/35271042/122934292-41229180-d324-11eb-82aa-cf87e2e09406.png">

<img width="480" alt="CleanShot 2021-06-22 at 06 37 28@2x" src="https://user-images.githubusercontent.com/35271042/122934378-539ccb00-d324-11eb-9e8e-65731fe453e4.p

[2021-06-22 13:38] sandy081 commented on #126881
Its placed there because it uses internals

https://github.com/microsoft/vscode/blob/27b2434631bc9e253c30f3d55b837fea41a7c170/src/vs/workbench/browser/web.main.ts#L322-L326

[2021-06-22 13:38] #126881 closed

[2021-06-22 13:40] Tyriar opened #126907 "Terminal editors: Close tab without notification when restore fails"
Repro:

1. Open a terminal editor
2. Close VS Code
3. Open VS Code

<img width="465" alt="Screen Shot 2021-06-22 at 6 39 25 AM" src="https://user-images.githubusercontent.com/2193314/122934738-a7a7af80-d324-11eb-94ea-da83975cba6b.png">

[2021-06-22 13:42] jrieken opened #126908 "Editor find widget doesn't show what you type"
* todays insider
* press cmd+f inside an editor
* start typing
* find is in progress but the find box doesn't show anything

https://user-images.githubusercontent.com/1794099/122935323-8967a100-d370-11eb-9835-d4dd57557af1.mov

[2021-06-22 13:44] #126898 closed

[2021-06-22 13:44] jrieken commented on #126898
There is F1 > Show Codelens Command for current line

[2021-06-22 13:45] sandy081 commented on #126477
That would be nice.

[2021-06-22 13:47] sandy081 commented on #126619
Good to know. Not sure how can we represent contributions for extensions generically.

[2021-06-22 13:49] aravindvnair99 commented on #126906
@tymsai Works fine here. Do you have a lot of extensions? Check the `Running Extensions` panel to see if extensions are causing the issue. You didn't mark this by the way:

[2021-06-22 13:49] bpasero commented on #125211
@jrieken well, `EditorInput#resolve()` does not return a `IDisposable` and I cannot dispose the `EditorInput` itself because that one was restored as a tab and is proper.

[2021-06-22 13:50] sandy081 commented on #126676
/needsMoreInfo

[2021-06-22 13:50] sandy081 commented on #126464
What is the error? Can you please provide a screen shot?

[2021-06-22 13:51] romain20100 opened #126909 "editor widget selected entry's icon color recently forced to white"
Does this issue occur when all extensions are disabled?: **Yes**

Version: 1.57.1
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:32.912Z (5 days ago)
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 19.6.0

Steps to Reproduce:

1. trigger any autocomplete such that an editor suggest widget opens with fields, methods or anythi

[2021-06-22 13:51] aeschli commented on #126753
@bpasero `pointer-events: none` is set on the label container if a status bar entry has no command.
That prevents also hovers (including the native hover (title)

https://github.com/microsoft/vscode/blob/main/src/vs/workbench/browser/parts/statusbar/media/statusbarpart.css#L109

[2021-06-22 13:57] jrieken commented on #125211
That's the problem of the backup tracker: editor inputs are heavy objects that must be disposed or handed off to someone that takes ownership to dispose them.

[2021-06-22 13:59] sandy081 commented on #126757
Can you please provide the code snippet that reproduces the issue?

[2021-06-22 14:03] sandy081 commented on #126771
I do not think adding restriction makes sense for fixing UI. Extension panel is trimming the name according to its size. I think run time extension editor shall also do the same.

Assigning to @alexdima for fixing it in the run time extension editor.

[2021-06-22 14:03] isidorn commented on #126800
Probably dup of https://github.com/OmniSharp/omnisharp-vscode/issues/4599
Let's see what @wardengnaw has to say and if any change is needed on the vscode side

[2021-06-22 14:06] isidorn commented on #126608
@jasonwilliams I acknowledge this issue.
We simply did not write code to support this. Our current approach with mutli session debugging and exception breakpoints is that they will be similar across different sessions.
If they are not then issues like the one you presented appear.

The fix would be that on focus change the exception breakpoints change.
And thinking about it more, exception breakpo

[2021-06-22 14:06] dowel commented on #126830
Not sure this is something I can do myself, but just in case, instead of waiting for VS code team to fix this, can I submit a patch with a fix myself?

[2021-06-22 14:07] kuelumbus commented on #126259
This is not fixed for me. It still jumps to the beginning of the cell.

Version: 1.58.0-insider
Commit: d54f7e1f6c1290fe27e2397eca509d0e0728272e
Date: 2021-06-22T07:15:45.422Z
Electron: 12.0.11
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.4.109-26091-g577602338376

[2021-06-22 14:11] gjsjohnmurray commented on #126842
Fair enough, but I'd been hoping to continue my run of having at least one PR in every release since October 2020, and this bug has been affecting users of a couple of extensions I work on 😞

[2021-06-22 14:13] yume-chan commented on #126382
There is a long-existed setting `git.showPushSuccessNotification`, which when set to `true`, will show a notification after `git.push` command succeeded. But it doesn't show notification for other SCM operations, even the `git.sync` command.

[2021-06-22 14:16] #126905 closed

[2021-06-22 14:16] yume-chan commented on #126891
Where in integrated terminal shows current branch name? Do you have some plugins like oh-my-posh?

[2021-06-22 14:20] weinand opened #126911 "Extension debugging: stopping debug session doesn't close window"
Issue Type: <b>Bug</b>

- debug "Mock Debug" extension
- stop debug session by pressing red button in debug toolbar

Observe: extension window doesn't close

This problem doesn't occur with a simple "hello world" extension.

---

VS Code version: Code - Insiders 1.58.0-insider (6afedfdad59d1f1ba4b614341d21c67775e158a9, 2021-06-21T05:14:03.949Z)
OS version: Darwin x64 20.5.0
Restricted Mode: No

<d

[2021-06-22 14:22] backto2020 commented on #126588
I have the same question after updating. When vscode starts, a blank window is also opened. So I have two windows when it starts. You have had the same problem before, like #70006
![recording](https://user-images.githubusercontent.com/53009917/122941702-36a9db80-d3a8-11eb-916c-dd403e660c81.gif)

[2021-06-22 14:25] gjsjohnmurray commented on #126909
see #126557

[2021-06-22 14:25] usernamehw commented on #126909
/duplicate of #125998. It should be fixed in 1.58.0

[2021-06-22 14:25] #126909 closed

[2021-06-22 14:26] #126819 closed

[2021-06-22 14:28] alenl opened #126912 "Debugging Firebase cloud function emulator inside WSL locks up the debugger"
Issue Type: <b>Bug</b>

(This seems to have been introduced in 1.57. Verified multiple times that it works well in 1.56, and doesn't in 1.57.0 nor 1.57.1)

0. Open a workspace on Windows from within a WSL (maybe that happens in other enviroments as well, didn't test).
1. Run a Firebase functions emulator with --inspect-functions
2. Use a node attach debug action to attach to the emulator
3. Place

[2021-06-22 14:29] backto2020 commented on #126588
I have set `"window.restoreWindows": "all"`, and also tried `"window.restoreWindows": "preserve"`, which didn't work. There may be bugs in this update.

[2021-06-22 14:30] muthianikev commented on #126882
The feature requested is to be able to open a "." folder. I have a ".example" folder within my "demo" folder and it does not appear on the "open folder" dialogue window. Attached are some screenshots to paint a picture.
![Screenshot 1](https://user-images.githubusercontent.com/39836985/122942826-28939500-d37f-11eb-8929-bc2286cb588f.png)
![Screenshot 2](https://user-images.githubusercontent.com/398

[2021-06-22 14:38] isidorn commented on #126899
@prasadaps thanks for creating this issue.

Since the code lens is designed to be not annoying, I suggest that we go with the minimum required contrast of 3:1.
Not the recommend contrast of 4.5:1
More about required contrast ratios can be found [here](https://microsoft.sharepoint.com/:w:/r/teams/msenable/_layouts/15/Doc.aspx?sourcedoc=%7B6CA3BF14-2635-434A-832C-28DD9A18B9FC%7D&file=MAS%201.4.11%20

[2021-06-22 14:53] tymsai commented on #126906
![image](https://user-images.githubusercontent.com/76956612/122947241-a19ee680-d397-11eb-8dca-270052aac57d.png)

[2021-06-22 14:56] rebornix commented on #126896
https://github.com/microsoft/vscode/blob/89d620f4fc6c13599e95dbbde1a044c3c9d1139b/src/vs/workbench/contrib/terminal/browser/media/terminal.css#L27-L27 caused this.

[2021-06-22 14:57] #126728 closed

[2021-06-22 14:57] #126896 closed

[2021-06-22 14:58] Cryrivers commented on #125968
Since Safari 12, it no longer displays text using user-installed fonts as part of their efforts to curb fingerprinting.

Other than this, is it possible to fall back any cloud-hosted web fonts on web? I think I can work on this and send a PR.

[2021-06-22 14:58] bpasero commented on #117579
With https://github.com/microsoft/vscode/issues/126728 most of the work was done already because the history now keeps untyped editor inputs and not just resources and these untyped editor inputs come with the right override to use.

We still just keep 1 entry for the history, independent with how many editors you used for the same resource. Last one wins.

[2021-06-22 15:01] sbatten opened #126913 "Investigate what it means to support the notion of trust for virtual workspaces"
See PR

[2021-06-22 15:02] rebornix commented on #126908
/duplicate of https://github.com/microsoft/vscode/issues/126896

[2021-06-22 15:03] #126908 closed

[2021-06-22 15:04] scottwoyak commented on #126905
Sorry, yes. Moved to the vscode-arduino extension

[2021-06-22 15:05] rebornix commented on #125874
let's track this in https://github.com/microsoft/vscode/issues/126880

[2021-06-22 15:05] #125874 closed

[2021-06-22 15:06] 4086606 commented on #53885
:( Literally just needed this feature. I use many versioned languages such as C++ MATLAB Python

[2021-06-22 15:06] bpasero commented on #126588
@backto2020 you might suffer from https://github.com/microsoft/vscode/issues/126725 which also lists a workaround

[2021-06-22 15:08] F1nnM opened #126914 "Intellisense autoimport of React components not working"
Issue Type: <b>Bug</b>

I created a basic react app with the CRA utility and added another file Test.js:
[code]
While Intellisense recognizes this file and offers completion when I type `<T` somewhere else, it doesn't auto-import it, when selected.
![image](https://user-images.githubusercontent.com/12767947/122950118-7d81dc00-d37c-11eb-923e-34d9eb916c6e.png)

This also applies to installed compone

[2021-06-22 15:14] iboxgithub commented on #126741
great, let me know if I can do anything ;)

[2021-06-22 15:14] KoreaGD opened #126915 "Always my vscode open more then one instance"
We have written the needed data into your clipboard because it was too large to send. Please paste.
![image](https://user-images.githubusercontent.com/42756554/122951092-65e22d80-d353-11eb-8e24-951b2408ade2.png)

[2021-06-22 15:14] #126753 closed

[2021-06-22 15:14] JustinGrote commented on #122208
@connor4312 just a quick feedback that this is a far more intuitive API, the last one took a *lot* of headscratching on my part to figure out as a typescript newbie. Thank you :)

[2021-06-22 15:15] alexdima commented on #126896
:+1: I also bisected to this one:
[code]

[2021-06-22 15:17] bpasero commented on #125211
@jrieken yeah that's the thing, the editor input is already owned by the notebook component because that one originally created it and now it was just restored after window reload.

I am not sure this call the backup tracker has to make should be disposable because in the same way, `openEditor` is also not disposable, the lifecycle is bound to the editor tab that opens.

Here the backup tracker al

[2021-06-22 15:19] isidorn commented on #126872
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog and we might add this in the future. Thanks

[2021-06-22 15:20] alexanderniebuhr opened #126916 "CTRL+F search input field does not show characters"
Issue Type: <b>Bug</b>

Open file in latest VS Code Insider build, and press CTRL+F. Type something. The characters are not shown but the number of results is changing and search does work.

VS Code version: Code - Insiders 1.58.0-insider (d54f7e1f6c1290fe27e2397eca509d0e0728272e, 2021-06-22T07:15:24.214Z)
OS version: Windows_NT x64 10.0.21390
Restricted Mode: No

<details>
<summary>System Info</s

[2021-06-22 15:21] isidorn commented on #126882
This is a native dialog of the OS, you should be able to control on the OS level if hidden directories are shown or not.
VS Code can not fix this so closing this as no action is planned

[2021-06-22 15:21] #126882 closed

[2021-06-22 15:21] alexdima commented on #126884
@yahyaefendy Does this reproduce when disabling all extensions? `F1 > Developer: Reload With Extensions Disabled` ?

[2021-06-22 15:22] bpasero commented on #126915
Probably is https://github.com/microsoft/vscode/issues/126725, please check the advice there.

[2021-06-22 15:22] alexanderniebuhr commented on #126916
This is how it looks

![image](https://user-images.githubusercontent.com/45965090/122952192-267d0680-d37e-11eb-913a-49dbdc62707f.png)

if opening feedback reporter characters appear, after closing feedback reporter get's back to buggy behavior. Could also make them show for a second by clicking on the regex options
![image](https://user-images.githubusercontent.com/45965090/122952316-40b6e480-d37e

[2021-06-22 15:23] laurentlb commented on #37350
Hi,

Would you accept PRs for this feature?
Who should I sync with before starting the design?

[2021-06-22 15:23] isidorn commented on #126871
I think this button is provided by js-debug thus forwarding to @connor4312
However also assigning to @jrieken for code lens, maybe there is a duplicate of this?

[2021-06-22 15:30] jvesouza commented on #126382
To be honest, I don't really like this approach, but I fully understand that it's a matter of point of view. I always like to be informed of the results of operations.

As for the login issue, it doesn't seem to be directly related to git but rather a general issue. I found for example that the same problem happens when I try to log in to a remote server using the remote ssh extension. If the conn

[2021-06-22 15:31] rebornix commented on #126904
@FlorianG-dev can you check if you have `workbench.editorAssociations` in your user setting?

[2021-06-22 15:31] jaredtmartin commented on #107343
Please do this! I just switched from Sublime and the sloooow snippets are the #1 problem I'm having. I tried removing extensions, but there are some that are essential.  I already have muscle memory for some snippets and I type the snippet name and hit the tab key all in one move.  This delay simply breaks my workflow.

[2021-06-22 15:37] bpasero commented on #126906
Can you follow this wiki and post the results back here to understand more about why performance is so bad for you: https://github.com/Microsoft/vscode/wiki/Performance-Issues

Thanks!

[2021-06-22 15:39] henrik-jensen commented on #4873
@jianboy

I would actually welcome an option where the pointer/cursor kept focus for easier marking and coping of text with the keyboard. Otherwise agree.

[2021-06-22 15:43] Besuf commented on #126602
Any news guys? or should we rollback to previous version of vscode

[2021-06-22 15:44] Stirfry70 commented on #126007
[]()

[2021-06-22 15:46] pustovalov opened #126917 "Search editor: input disappears after deleting the value"
Issue Type: <b>Bug</b>

1. Open Search editor
2. Remove value for `show number of lines` input

Video:
https://monosnap.com/file/xiWp8S7FoZBr5Hx0ibYj76dTukf682

Does this issue occur when all extensions are disabled?: Yes

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:32.912Z)
OS version: Darwin x64 20.5.0
Restricted Mode: No

<details>
<summary>System In

[2021-06-22 15:48] isidorn commented on #119463
We are not blindly following the diagram, it is just a recommendation on the best flow.
As for the formatter if you think this interrupts the flow please file a new issue with repro steps and ping me on it @isidorn and we can discuss it further. Thanks

[2021-06-22 15:50] PEZ commented on #126306
@alexdima see my previous comment for a repro.

In Calva the users can configure how ”aggressive” the hi-jacking of ”standard” keyboard bindings should be in favour of structural editing, via the `calva.paredit.hijackVSCodeDefaults` setting. Some users thinks it makes perfect sense that the standard behaviour of `alt+left/right` (on mac) and `ctrl+left/righ` (on windows and linux) behave structura

[2021-06-22 15:51] Whobeu commented on #4873
The main reason I usually open a document I really do not want to edit is so I can select and copy text from it. Having to type the text in the document I want to edit would be time consuming. Definitely need to have a cursor and the select/copy capability.

[2021-06-22 15:55] anindyadas140 opened #126919 "Using GAP in Vscode"
![Screenshot (53)](https://user-images.githubusercontent.com/86313543/122958647-897f9500-d3a0-11eb-9f92-6f282fc4b3b1.png)
Issue Type: <b>Feature Request</b>

I have seen that GAP is supported in VScode but i can not use it there & not able to find where exactly the problem is, so i request you to guide me in this regard.It would be very helpful if you look in this regard..

VS Code version: Code 1

[2021-06-22 15:58] jrieken commented on #125211
🤔 that's a fun definition of object ownership... Com'on, you call the constructor, you call dispose. That's how it's done. Why are we arguing about that?

[2021-06-22 15:58] daisy613 opened #126920 "editor.wordSeparators is not honoring $ in Powershell"
Issue Type: <b>Bug</b>

To reproduce:
1. Remove '$' from editor.wordSeparators
2. Doubleclick on a word that starts with $
3. The selection does not include $

VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:07.755Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Cor

[2021-06-22 16:00] PEZ commented on #126306
This also gets weird for my PR #126742 (displaying command titles for shortcuts) which uses the same function to get the bindings for the command. Here I have just pressed `alt+right`:

<img width="562" alt="image" src="https://user-images.githubusercontent.com/30010/122959534-5e3a7d00-d383-11eb-8ce0-be0228a8d347.png">

[2021-06-22 16:00] #126871 closed

[2021-06-22 16:01] alanlivio commented on #20266
Microsoft also has "Microsoft Editor Service" which work for both browser and desktop. Is there any way to use it in vscode?

[2021-06-22 16:04] CasP0 opened #126921 "THe host is not enable"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-06-22 16:05] CasP0 commented on #126921
https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2FMicrosoft%2Fvscode%2Fissues%2Fnew%3Ftitle%3DTHe%2520host%2520is%2520not%2520enable%26body%3DWe%2520have%2520written%2520the%2520needed%2520data%2520into%2520your%2520clipboard%2520because%2520it%2520was%2520too%2520large%2520to%2520send.%2520Please%2520paste.

[2021-06-22 16:05] #126921 closed

[2021-06-22 16:08] JustinGrote commented on #126920
@daisy613 This is Powershell extension specific, the behavior was recently changed. recommend refiling the issue there if you still have problems.
https://devblogs.microsoft.com/powershell/powershell-for-visual-studio-code-may-2021-update/

[2021-06-22 16:14] daisy613 commented on #126920
FYI, I fixed it by copying the editor.wordSeparators line into the  this line inside the [powershell] section, like so:

[code]

[2021-06-22 16:14] #126750 closed

[2021-06-22 16:15] isidorn commented on #126726
Worth experimenting with.
@joamoreno do you remember why you added that css property for the list?

For now assigning to June, might push out due to lack of time.

[2021-06-22 16:16] Manubi opened #126922 "Insanely slow dev experience"
Vscode is getting that slow that I can't work anymore. Meaning I am experiencing a typing delay of +1.0 seconds. The more you type the bigger the delay becomes.

It's the Code Helper Renderer if I look at the activity monitor that runs crazy.

Does this issue occur when all extensions are disabled?: Yes. I suspected that the Vim-plugin would be the problem, but with every plugin disabled the probl

[2021-06-22 16:16] JacksonKearl commented on #126917
Are you in a remote repository environment?

[2021-06-22 16:18] weihuasubu commented on #126781
Confirmed on Big Sur 11.4. Not sure if my issue is similar to others, but for me, the auto import is working but not properly - I can only get some of my modules auto imported while the others would not even show up in the auto import popup.

Version: 1.57.1
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:32.912Z (5 days ago)
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js:

[2021-06-22 16:24] bpasero opened #126923 "Editor override: opening same input does not pass options in"
Steps to Reproduce:

1. uncomment https://github.com/microsoft/vscode/blob/be2ddfaad6db9a87de5ddc40f838b3456cf2f267/src/vs/workbench/contrib/search/browser/anythingQuickAccess.ts#L977-L977
2. run smoke tests
3. they fail

Another way to reproduce:
* open an editor
* focus terminal
* bring up quick open and select the top editor in the list

=> focus remains in terminal

I think the reason for this

[2021-06-22 16:25] pustovalov commented on #126917
this is reproducible for remote and not remote environment

[2021-06-22 16:29] bpasero commented on #126923
Actually it is different, I am not even seeing `openEditor` being called in that case.

[2021-06-22 16:29] IllusionMH commented on #126919
VS Code doesn't support this language out of the box, but you can search for extension that can provide support: https://marketplace.visualstudio.com/search?term=gap&target=VSCode&category=Programming%20Languages&sortBy=Relevance

[2021-06-22 16:29] AltitudeApps commented on #4873
For my particular workflow, I agree with the idea that the behavior of an editor being marked "read only" should be identical to that of other editors, except that it should refuse any input which would alter the buffer in any way, perhaps by issuing a plaintive 'beep'.  Even a toast notification might be too much.  Perhaps flash the background color with a red "read only" overlay for a moment.

T

[2021-06-22 16:31] isidorn commented on #126277
Dup of an open issue. You are having file events in the background

[2021-06-22 16:31] #126277 closed

[2021-06-22 16:34] isidorn commented on #126382
@jvesouza can you please open a new issue for the login problem and ping me @isidorn on it
As for the git no success notification, can you please try the setting
[code]

We can maybe change the default of that setting when a screen reader is detected.
Or introduce a more general setting that would cover all the git operations.

[2021-06-22 16:36] JacksonKearl commented on #126917
Ah, I see the issue. Surprising that this hasn't come up before.

[2021-06-22 16:41] isidorn commented on #126911
This works just fine for me. I can not repro.
Here are my steps:

1. Latest vscode insiders, latest mock debug
2. Choose "Extension" launch config. Press F5 to start debugging
3. Press red button -> window closes

Let me know what you are doing differently than me in this gif:

![recording (1)](https://user-images.githubusercontent.com/1926584/122966297-71e8e200-d389-11eb-877c-a2230ebe378a.gif)

[2021-06-22 16:42] bpasero commented on #117579
Blocked until https://github.com/microsoft/vscode/issues/126923 is fixed.

[2021-06-22 16:45] anindyadas140 commented on #126919
I have installed these Extensions but still the problem exists, Did i miss
any settings regarding the environment variables or something else.

On Tue, 22 Jun 2021, 21:59 Andrii Dieiev, ***@***.***> wrote:

[2021-06-22 16:47] isidorn opened #126924 "Loaded source not supported exception"
1. VS Code out of source
2. Open mock debug repo, choose Extension + Server launch config
3. Press F5
4. Notice error in developer tools console in the original window

[code]

[2021-06-22 16:48] gjsjohnmurray commented on #126916
/duplicate of #126896

[2021-06-22 16:49] #126916 closed

[2021-06-22 16:50] sbatten commented on #126749
dupe https://github.com/microsoft/vscode/issues/126133

[2021-06-22 16:50] #126749 closed

[2021-06-22 16:52] gjsjohnmurray commented on #126893
Does the problem still happen after you run the command to reload with all extensions disabled?

[2021-06-22 16:54] #126907 closed

[2021-06-22 16:58] KoreaGD commented on #126725
My console returns this output:

[code]

[2021-06-22 16:59] isidorn commented on #124163
Sorry for the slow response I was on vacation.

@xisui-MSFT thanks for trying `clearInput` however this is not called whenever tab loses focus, but when it is no longer visible. If you want something to be called only when the editor gets closed then you should `override dispose` that method will only get called when the editor get explicitly closed.

@yuehuang010 if I understand you correctly you

[2021-06-22 17:04] RobMeyer opened #126925 "Find & Replace: Text & input cursor in focused field isn't visible"
Issue Type: <b>Bug</b>

1. Select any theme in preferences (I've tried `Abyss`, `Dark+`, `Light+`, `Light (Visual Studio)`, and all seem to have the same issue).
2. Open any file and press ctrl+f to bring up find and replace window
3. Expand the chrvon to reveal the replace field, if not already visible
4. Put focus in the replace field and being typing

expected: see the cursor and text being typ

[2021-06-22 17:05] jasonwilliams commented on #46153
Hey @jrieken is this still a possibility? Or was it achieved in another way?

[2021-06-22 17:06] kuelumbus opened #126926 "Font rendering is blurry on chromebook (crostini)"
Does this issue occur when all extensions are disabled?: Yes/No

Version: 1.58.0-insider
Commit: d54f7e1f6c1290fe27e2397eca509d0e0728272e
Date: 2021-06-22T07:15:45.422Z
Electron: 12.0.11
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.4.109-26091-g577602338376 (Linux on Chrome OS)

Font is blurred on Crostini on Chromebook.

![image](https://user-images.githubuserc

[2021-06-22 17:06] Abdelhady commented on #125852
Sorry for being late,

well, in a single log file, I can see about 15 occurrences for loading the global `typescript-vscode-sh-plugin` plugin .. I'm not sure if this is normal or not

<details>
<summary>Plugin part</summary>

[code]

</details>

About the `TSServer exited` message itself .. Let's take an example of this part of the output:

[code]

The first file named `/tsserver-log-SpwGYc/tsserv

[2021-06-22 17:11] JustinGrote commented on #123713
For reference, there is an updated API with migration guide that was posted:  https://github.com/microsoft/vscode/issues/122208#issuecomment-865391103

[2021-06-22 17:21] jasonwilliams opened #126927 "Allow keybindings for moving through symbols in a file"
VSCode's code navigation would really help with being able to move between symbols. Other IDE's have this built in, Sublime, Vim, IntelliJ etc.
Keyboard users need to do some tough manoeuvring to get to a function below or a class (either GoToLine which is a few steps, or opening up symbols table). Having the ability to cycle through all symbols in a file would really help.

## Risks
The main risk

[2021-06-22 17:22] jasonwilliams commented on #46153
I've created a new feature request here: https://github.com/microsoft/vscode/issues/126927 which references this old issue

[2021-06-22 17:24] IllusionMH commented on #125302
@hediet Looks like it works great in case when suggestion matches current value but is longer, however not in other cases. So no idea how text will be transformed in this case.

`|` - cursor position, observer results assumes that user holds <kbd>Shift</kbd>

[code]

[2021-06-22 17:27] IllusionMH commented on #126925
/duplicate of #126896

[2021-06-22 17:28] #126925 closed

[2021-06-22 17:28] #126761 closed

[2021-06-22 17:29] rebornix commented on #126710
@gardner-bp can you please update to the latest VS Code and see if you can still reproduce?

[2021-06-22 17:30] yannickowow commented on #124163
(my two cents)
For the name of the view, I would still prefer Disassembly over Assembly for two reasons
- DAP request is labeled `disassembleRequest`
- In C/C++ Debugging (and probably more language), disassembly makes more sense because you "disassemble" your binary to generate assembly code for your instruction set.

[2021-06-22 17:32] rebornix commented on #126546
@nirofang can you check if you `editor.detectIndentation` set and if it works if it's set to `false`

[2021-06-22 17:38] eofferma commented on #126277
Yes, that is correct, thank you!. Some process are touching the folder ".git" and I don't know what is it.

[2021-06-22 17:40] Litetook opened #126928 "Search in csv through workspace using in-built search sidebar, highlightes incorrect result in csv"
Steps to repro:
1) Create CSV file with comma separator. For reproducing, I used a file with 2 columns and more than 1000 rows. One of the value should be link, which starts with http. In my case, it is the second value.
2) Copy any value (not the link) between commas from this CSV (you can do it on any row).
3) Then save this file, close it and close vs code.
4) Open vs code, open your workspace,

[2021-06-22 17:41] DoWalther opened #126929 "Cannot open remote Jupyter notebooks with Markdown"
## Environment data

-   VS Code version: 1.57.0 (Universal)
-   Jupyter Extension version (available under the Extensions sidebar): 2021.6.999
-   Python Extension version (available under the Extensions sidebar): 2021.6.0-rc
-   OS (Mac) and version: Darwin x64 20.3.0 - 20.5.0 (tested)
-   Python and/or Anaconda version: conda 4.10.0
-   Type of virtual environment used (virtualenv): Kubernetes

[2021-06-22 17:41] rchiodo commented on #126929
From your output it looks like this is a markdown issue.

[2021-06-22 17:45] sowillwe commented on #123435
Well, reinstalling WSL or reinstalling VS Code helps nothing.
What finally saved me is simply to remove `C:\Users\i\AppData\Roaming\Code`.
Still thought it a strange bug <@_@>. (accidental interference in VS Code cache, perhaps.)

[2021-06-22 17:45] #123435 closed

[2021-06-22 17:49] IllusionMH commented on #126919
/question

Do you have this folder as trusted?
Looks like extension wasn't updated to run in untrusted workspaces.
See https://code.visualstudio.com/updates/v1_57#_workspace-trust and **Enabling extensions** section on how to handle it.
Or mark workspace as trusted.

Also it make sense to submit issue in extension repo to add support for untrusted workspaces.

[2021-06-22 17:50] #126919 closed

[2021-06-22 17:51] henrik-jensen commented on #4873
@AltitudeApps

Pretty much represent my attitude on the subject.

[2021-06-22 17:52] phasjim commented on #42149
+1! Would love this feature ❤️

[2021-06-22 17:52] digitarald opened #126930 "Unexpected prompt to reload for Pylance after installing Python"
- VS Code Version: v1.57

(Focusing this issue on the Pylance error notification)

Steps to Reproduce:

1. Install Python from a recommendation prompt to make a python file work
2. Got a Pylance error that asks me to reload.

![image](https://user-images.githubusercontent.com/8599/122974613-6674c700-d347-11eb-90e3-accecdc7ce9a.png)

**Expected**: There should be one prompt when installing one or m

[2021-06-22 17:54] isidorn commented on #124163
DAP request naming should not drive the UI and so far has not :)
The second argument makes sense. However I would still go for "assembly view" for clarity.

[2021-06-22 17:58] vhbit opened #126931 "all colors are just washed away and no highlighting"
<img width="563" alt="Screenshot 2021-06-22 at 20 55 56" src="https://user-images.githubusercontent.com/140199/122975784-65ba5000-d39c-11eb-8b1a-62f353c26895.png">
Issue Type: <b>Bug</b>

- open the app
- there are no colors and no highlighting and everything looks extremely weird
- happens on all workspaces and on all file types
- switching themes doesn't help much, light theme is a bit more read

[2021-06-22 18:03] connor4312 opened #126932 "Support for "related code" in tests"
@connor4312 Is there any consideration to how I would present one or more tests as being related to a code item like a function?

For instance, in Pester you can tag tests with anything. If I allowed a special tag that let you say a test was assigned to a certain function named `Invoke-MyFunction`, I'd want to expose a "play" button right next to the `Invoke-MyFunction` definition to run all tests

[2021-06-22 18:04] IllusionMH commented on #126931
/needsMoreInfo

Are you using Source Code Pro font? Most likely duplicate of #100840

[2021-06-22 18:14] yuehuang010 commented on #124163
IMO, Assembly combines the assembly language into a binary.  Disassembly
takes a binary and "disassembly" into assembly language.  Our case is
closer to Disassemble.

I could see a future where we would have a special render for assembly
language. For example, files with .S extension.

On Tue, Jun 22, 2021 at 10:55 AM Isidor Nikolic ***@***.***>
wrote:

[2021-06-22 18:22] eofferma commented on #126277
It was the oh-my-zsh theme

[2021-06-22 18:23] connor4312 commented on #107467
@JustinGrote interesting suggestion, I've opened an issue for it (linked above). If you'd like to put forward a rough sketch of what such an API could look like to provide the functionality you're after, that could be informative 🙂

There were some significant API changes (https://github.com/microsoft/vscode/issues/122208#issuecomment-865391103) which I think might obviate the scenario you were hi

[2021-06-22 18:25] connor4312 commented on #126912
Interesting, I suspect this is the same root cause as https://github.com/microsoft/vscode-js-debug/issues/1033. You can give the [nightly debugger](https://github.com/microsoft/vscode-js-debug#nightly-extension) a spin which might fix this. If so, let me know and I will close this as a dupe. If not:

/jsDebugLogs

[2021-06-22 18:26] isidorn commented on #126930
Yeah this is bad flow that makes me sad.
I can reproduce when I take a fresh user data dir and just install python.

Shouldn't everything just work here. I opened a python file, python extension gets activated, and if pylance is depending on Python it should activate after it, right @sandy081
Or is it a strange dependency cycle that the python extension does?

I see the error is coming from here h

[2021-06-22 18:27] Blabla51 opened #126933 "Unreachable top screen in maximized window"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.56.2
- OS Version:  Windows 10 20H2

Steps to Reproduce:

Hard to know. It often happens to me after few days having my computer on. It also happens in Whatsapp for some reason. I closed and relaunch VSCode, but the bug is still here. If I click in the black top area, it clicks on the windows underneath. For exam

[2021-06-22 18:28] Litetook commented on #126928
![Code_rslk1eA8A2](https://user-images.githubusercontent.com/48100814/122979854-9217a180-d387-11eb-85c2-a26fd0aaeb75.png)

[2021-06-22 18:32] agrattaqrypt opened #126934 "Builtin TypeScript Extension Slow Performance and Crashes"
Issue Type: <b>Bug</b>

The builtin JS/TS extension frequently crashes and restarts for no apparent reason. When it isn't crashing, my relatively small TypeScript project takes 5 seconds or more to load intellisense results.

I've tried disalbing ESLint and other extensions, opening this project both locally and remote, changing around .tsconfig settings, installing VS Code Insiders edition, etc.

[2021-06-22 18:39] isidorn commented on #126458
The issue here is that for image files it seems like the Cmd/Ctrl+C gets bind to another command. And thus the native copy is not working.
Assigning first to @loganrosen due to this custom editor work which is my first suspect for potentially breaking this previous milestone.

[2021-06-22 18:39] gardner-bp commented on #126710
I just updated to 1.57.1
The behavior appears identical to me.
It only seems to fail on the first attempt within each tab group after starting the program. After that, it seems to work fine.
Also of note, if I don't select a word, but just place the cursor within a word, it works fine.

[2021-06-22 18:41] roblourens commented on #126259
The specific thing I fixed is fixed for me. What I see in jupyter is that when I execute a cell, the editor loses focus and jumps to the bottom (not the top) of the cell. Is jupyter doing something special when I execute a cell @DonJayamanne?

[2021-06-22 18:41] isidorn commented on #126228
@Voldemorten It would be great if you can provide a reproducable sample or if you F1 > developer tools > put a breakpoint here
https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/browser/variablesView.ts#L422
And trigger your copy value action, the breakpoint will be hit and try to inspect what is going on.

The difference is probably is the value is evaluated by the debug

[2021-06-22 18:43] roblourens commented on #126787
Do you see any errors in the devtools console (Help > Toggle Developer Tools) or do any errors pop up when you try to open it?

[2021-06-22 18:46] menees commented on #126920
It looks like vscode-powershell put $ back into powershell's default editor.wordSeparators a few days ago according to [this thread](https://github.com/PowerShell/vscode-powershell/issues/3378#issuecomment-860993280). So the blog post about the May 2021 update is out-of-date.

The v2021.6.1 update of the PowerShell extension is using its own wordSeparators that _include $ and override the default

[2021-06-22 18:47] roblourens commented on #126928
Is it possible that this file has some CR-only line endings (not LF, CRLF)? Can you share the file?

[2021-06-22 18:49] andreamah commented on #126307
This is implemented using:
- tasks for persistent server runs (for people who run in browser).
- embedded preview for more of a "brief preview of html" use case.

[2021-06-22 18:49] #126307 closed

[2021-06-22 18:49] vhbit commented on #126931
@IllusionMH ohh, yes, indeed it was related to `Source Code Pro`, switching to other font fixed it
Thank you!

[2021-06-22 18:49] #126931 closed

[2021-06-22 18:50] lramos15 commented on #126458
Poor @loganrosen always getting accidentally mentioned because of me :p.

What does F2 do? As I can copy the image file names without issue but clicking F2 doesn't seem to do anything for me.

[2021-06-22 18:50] briankim13 opened #126935 "Please Help, I cannot restore Menu Bar no matter what I do..."
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:
- OS Version:

I don't have Menu Bar any more.
File, Edit, View, ... all that stuff is gone.

Steps to Reproduce:
I forgot what I did, probably hit some random F1~F10 button somewhere and it went to full screen or whatever. But now I am stuck in a state where I can't get them back :(

I tried pressing Alt (apparently

[2021-06-22 18:51] Litetook commented on #126928
Sorry, I can not provide the file due to the security policies of my company.
Can I share any other details? Maybe some attribute or any other information.

[2021-06-22 18:56] connor4312 commented on #126653
This is actually expected _if_ child1 doesn't have a "state" set. To the editor it's indistinguishable to if the user created a new test. If you call `options.setState(child1, vscode.TestResultState.Passed)`, for example, then it won't happen. I think this should be fine for your scenario, since when running tests you wouldn't leave the child in an unset state.

There's actually a race with this w

[2021-06-22 18:57] hediet commented on #125302
Yes. What should be the expected result?
If ghost text is shown, it should reflect the exact same state as if the completion item was accepted. This is difficult, if accepting an item is not a strict text insert operation.

[2021-06-22 18:57] Litetook commented on #126928
I use LF to start a new line when exporting information from Python into csv.

[2021-06-22 18:58] Blabla51 commented on #126933
I found the issue, it seems like it's Windows-related. Killing the process called "dwm.exe" made everything go back to normal. Sorry for open an issue here !
I hope it will help other people in the future anyways :)

[2021-06-22 18:58] #126933 closed

[2021-06-22 19:01] roblourens commented on #126928
You could replace all the sensitive info, see if the problem still occurs and send me that file.

Or, you can try to narrow down the problem some more. Does it happen if the search match is on the first line? Second line? At some point you might find the line in the file that messes up the result ranges.

[2021-06-22 19:02] muthianikev commented on #126882
@isidorn My OS settings allow showing hidden directories. I do not get the same problem on Pycharm. You can try replicate it and see what i mean (Ubuntu 20.04 LTS)

[2021-06-22 19:02] roblourens commented on #126895
I think combo box might actually be correct here. It doesn't look like a typical one, but that control is functionally equivalent to a combo box. @isidorn?

[2021-06-22 19:02] mchern opened #126936 "No windows can open after last VSCode update on Mac"
Terminal window crashes right after openning
File Open Dialog is not showing up at all attempt to open it again causing a message that window is already open

![image](https://user-images.githubusercontent.com/72808/122984243-ccbf1100-d36a-11eb-9e32-e610f205efea.png)

Even about window wont open

[2021-06-22 19:03] roblourens commented on #126883
Please try with an official vscode build, not vscodium

[2021-06-22 19:04] connor4312 commented on #126756
Actually, with the new API changes (https://github.com/microsoft/vscode/issues/122208#issuecomment-865391103) we can now enforce this, so I'll do so unless I hear any complains.

[2021-06-22 19:06] digitarald commented on #126930
/duplicate of https://github.com/microsoft/vscode/issues/124870

[2021-06-22 19:07] #126930 closed

[2021-06-22 19:07] seyuboglu commented on #126513
Also running into this

[2021-06-22 19:08] Voldemorten commented on #126228
@isidorn how do i debug without using the minified version. I found where to put the breakpoint, but only in the minified version.

The error is a syntax error:
![image](https://user-images.githubusercontent.com/8776117/122984816-b9796900-d39d-11eb-84c0-20894ac19e08.png)

The error

![image](https://user-images.githubusercontent.com/8776117/122984963-e463bd00-d39d-11eb-94c1-693a5a1819b7.png)

[2021-06-22 19:15] tmcconechy commented on #11770
For a test case... try copy and pasting things like the inside of the quotes and the whole thing including the quotes and two quoted contents. The editor makes this impossible.

[code]

[2021-06-22 19:16] Voldemorten commented on #126228
Maybe I can fix it myself, if I figure out how to break in the unminified file

[2021-06-22 19:16] roblourens commented on #126782
This is tricky. We purposely don't pull in updates until the user has stopped editing (focus leaves the setting) because it will conflict with the user's text editing

[2021-06-22 19:19] roblourens commented on #126634
Are you in a remote window?  It will be there somewhere. Possibly earlier or it could have been triggered before you bumped up the log level.

[2021-06-22 19:19] agrattaqrypt commented on #126934
Update: I was able to greatly improve performance by deleting some of my code and then closing and reopening VS Code. Restoring my original code did not degrade performance.

Note that I had previously restarted the TS Server, reopened VS Code, and even installed a fresh copy of VS Code Insiders with no improvement to performance. I shouldn't need to temporarily delete code to fix performance issu

[2021-06-22 19:24] roblourens commented on #126929
Can you check for errors in the devtools console? (Help > Toggle Developer Tools)

[2021-06-22 19:24] usernamehw commented on #126782
Specifying the file path with OS dialog: `window.showOpenDialog()`

[2021-06-22 19:26] acdha commented on #97434
The older workaround to remove only the recently expired certificates did not work. Removing _all_ expired certificates did work, but it's not clear exactly why the Electron code cares about certificates which are not in use by the chain it's being asked to validate.

[2021-06-22 19:26] rchiodo commented on #126929
@roblourens I believe that's in the collapsed section above.

[code]

[2021-06-22 19:33] usernamehw commented on #126782
If it's not a bug, then I'm closing it.

[2021-06-22 19:33] #126782 closed

[2021-06-22 19:45] connor4312 commented on #126646
This can be done, but note that the item will be a generic `TestItem<void>` -- a different instance than created by the extension, and without `data`. The reason is that any extension in any extension host can contribute items to the context menu, and the `data` is not serializable between them.

[2021-06-22 19:50] firelizzard18 commented on #126932
This is applicable to Go. `go test` recognizes three types of test functions: `TestXxx`, `BenchmarkXxx`, and `ExampleXxx`. Go has an established naming convention for associating examples with what they are an example of. If you follow this naming convention, `pkg.go.dev`/`go doc`/etc will associate each example with the thing it is an example of. This naming convention could be used to attach exa

[2021-06-22 19:51] dharrington opened #126937 "Terminal with Remote - SSH is terribly slow for some outputs"
Does this issue occur when all extensions are disabled?: Yes/No

No, it requires the Remote-SSH extension

- VS Code Version:
- 1.57.1
- OS Version:
Linux 5.10.28
Steps to Reproduce:

1. Connect to a remote SSH host
2. Maximize the terminal (it's slower with a larger pane)
3. Configure git to use the 'delta' pager: https://github.com/dandavison/delta
3. Navigate to a git repo, and do:> git show (s

[2021-06-22 19:57] alexdima commented on #126306
I can see that you might expect that, but that is not what we have built. Our displayed keybindings do not reflect the current context. The reverse keyboard lookup is meant to be context-free. The idea of the reverse lookup is that it is supposed to help people discover what keybindings could trigger an action, and it is not meant to be a precise indicator of what keybindings are active in the cur

[2021-06-22 20:00] JustinGrote opened #126938 "[Test UI] Feature Request: Different Organization Options"
@connor4312
Related to: https://github.com/microsoft/vscode/issues/126932

There may be different ways a user wants to view their tests, such as sorted by tag/function or sorted by unit/integration/acceptance/etc. These views may require that a test be put in multiple locations in a tree, since a test may have one or more tags for instance.

This seems it would require either:
1. Allow a test to h

[2021-06-22 20:09] alexdima commented on #126771
I don't think this is helpful for our users and I don't think using a long name for SEO purposes is something we want to encourage. @sandy081 Could we reach out to someone on the marketplace team to add a penalty in search results for long display names ?

[2021-06-22 20:14] fireattack commented on #126458
F2 means "rename" on Windows.

[2021-06-22 20:15] rebornix commented on #126824
This will be solved once the Jupyter extension dropped the custom editor impl.

[2021-06-22 20:24] fireattack commented on #126458
To clarify a little bit.

As isidorn said, it's not strictly "can't copy filename with image", but that "when you open a image file at the active tab, ctrl+C simply does not work anywhere".

In most of cases this will only happen if you're renaming/copying the image file itself, since most of people (including OP and me) do the following steps when wanting to copy a file:
1. click the file that I

[2021-06-22 20:24] alexdima commented on #126192
@ChrisRothove We have recently seen problems with resolving the shell environment that could lead to a deadlock of sorts in launching the extension host (https://github.com/microsoft/vscode-remote-release/issues/5129). Could you please try our Insiders build which contains a mitigation to give up on resolving shell env variables after 10s ?

[2021-06-22 20:25] lramos15 commented on #126458
@mjbvz I believe this might be a regression from you adding cut/copy/paste support into webviews.

[2021-06-22 20:27] lunixbochs commented on #117980
I disagree, this issue is not the core problem, it's just the most annoying instance of it. There's more modal UI in VSCode than the Terminal. I will re-highlight from my previous response:

As for accessibility:

I don't think we can rely on accessibility for this unless the performance issues are sorted out, and using the accessibility tree for this is a performance minefield - it's easy to regr

[2021-06-22 20:28] alexdima commented on #125661
@cloudsere I'm not an expert with that, so I'm not sure I understood what the problem was, nor what the fix was. Could you please elaborate so I know in the future what problems there might be in the area of named pipes?

[2021-06-22 20:28] IllusionMH commented on #125302
I would expect to see ghost text replacing existing text if it's going to be overridden - end goal to see result when I accept suggestion.

[2021-06-22 20:37] wilrodriguez commented on #123276
So... after an update to 1.57.1 AND a reboot, this is working for me again. My co-workers no longer have the issue either. It's worth noting the reboot was necessary, just upgrading and even reinstalling did not fix it, but the reboot did. I have no idea why.

[2021-06-22 20:47] alexdima commented on #126879
Let's first try to find out what command executes on your machine, with your settings and your keybindings when pressing `Backspace`. When `Backspace` is acting up, could you please [try the following](https://github.com/microsoft/vscode/wiki/Keybinding-Issues#basic-troubleshooting):

* Run the command `Developer: Toggle Keyboard Shortcuts Troubleshooting`
* This will activate logging of dispatche

[2021-06-22 20:54] Litetook commented on #126928
I forgot to mention, if I see the incorrect result in my file, close it, and then re-open this file - the issue disappears and I see the true result of the search.

"You could replace all the sensitive info, see if the problem still occurs, and send me that file."
Looks like an issue connected with the link combinations from the file. If links are the same, the problem disappears.

I also found ou

[2021-06-22 20:55] christina-chang-cc2294 opened #126940 "git difftool using vscode with removed files crashes and opens /dev/null on wsl2"
Issue Type: <b>Bug</b>

1. Using wsl20.04 terminal inside vscode, in ~/.gitconfig, set
[code]
to use vscode as the default difftool in the vscode integrated terminal.
2. Navigate to a git repo.
3. `git rm <some file in the repo>`
4. `git difftool -- <path to the deleted file>

Vscode will close then relaunch with /dev/null opened but the original window and all its tabs will be closed. IIRC, befor

[2021-06-22 20:55] hediet commented on #125302
I think simply hiding text would confuse users, especially for inline suggestions that the ghost text was originally designed for.
Maybe it might not be that confusing for the preview of items selected in the suggestion widget.

Feel free to open a separate issue about also showing the preview when it would delete text (which is independent of this issue, as it can happen for both insert modes).

[2021-06-22 21:02] wsmelton commented on #126917
Windows, with the system installer of Insiders I don't see the text from the start. It is not until I expand it to get find/replace fields that I can see the text.

![image](https://user-images.githubusercontent.com/11204251/122998838-2aeff200-d373-11eb-85f6-527312549f01.png)

![image](https://user-images.githubusercontent.com/11204251/122998913-3ba06800-d373-11eb-8fd5-eb325b7fa15b.png)

[2021-06-22 21:02] meganrogge opened #126941 "Consider making editorInput copy async"
@lramos15 @bpasero would it be possible to make `copy` return an optional `Promise`? This is needed to get the `terminal.integrated.splitCwd` setting working here since we only query the shell's current cwd when requested to avoid polling.

_Originally posted by @Tyriar in https://github.com/microsoft/vscode/pull/126850#discussion_r655745568_

[2021-06-22 21:23] ConsciousClay opened #126942 "Toggling Titlecase shouldn't capitalize every word, but only major words"
Does this issue occur when all extensions are disabled?: **Yes**

- VS Code Version: 1.57.1
- OS Version: Windows 10

Steps to Reproduce:

1. Toggle Titlecase
2. The result should be as Calibre does it - capitalize every word except the small, insignificant words (a,an,the,etc.)

[2021-06-22 21:25] Litetook commented on #126928
Try to find us8
![image](https://user-images.githubusercontent.com/48100814/123001388-31e12980-d3a0-11eb-9bd3-886e9bee1805.png)

file attached.
[test.zip](https://github.com/microsoft/vscode/files/6697487/test.zip)

[2021-06-22 21:27] LinqLover opened #127133 "Git diffs are displayed offset when PR review are displayed inline"
- Extension version: v0.27.1
- VSCode Version: v1.57.1
- OS: Win 20H1

Steps to Reproduce:

1. Create a PR
2. Add a comment somewhere to file A
3. Change the file locally in VS Code
4. Open the git diff of the file:

   ![image](https://user-images.githubusercontent.com/38782922/123001529-1e8a8a00-d3b1-11eb-9188-b1340060720b.png)

As you can see, everything after the first comment is vertically sh

[2021-06-22 21:28] JacksonKearl commented on #126917
@wsmelton that's https://github.com/microsoft/vscode/issues/126896, we have a fix and will be releasing a new Insiders in the coming hour or so.

[2021-06-22 21:31] connor4312 commented on #126938
I think @matepek also requested test tags. Is a generic `tags: string[]` on test items enough to do everything you need here? Or maybe `Record<string, string>` to group by a key? How would it work if tests are given from multiple providers that might have different sets of tags or organization?

[2021-06-22 21:38] ishanchho commented on #126520
FYI adding this to `keybindings.json` fixes what I was complaining about:
[code]

[2021-06-22 21:49] alyssajotice commented on #119695
I didn't get to this today but am blocking off time tomorrow - I'll test it then.

[2021-06-22 21:53] JustinGrote commented on #126938
I don't consider myself smart enough to propose the ideal API implementation, but what I know needs to work:
1. When things are organized by a tag, if the tag is clicked to "run/debug", I would expect the runTests to be called with all the tests associated with that tag.
1. If a test shows up under two different tags (e.g. "Unit" and "MyApp"), when the test is run it should update in both places i

[2021-06-22 21:56] #126920 closed

[2021-06-22 22:04] roblourens commented on #126514
Another interesting case, the tree in the peek view

![image](https://user-images.githubusercontent.com/323878/123005450-ff690980-d36a-11eb-944f-1e57a3d08bb9.png)

This has a different background color, `peekViewResult.selectionBackground`

[2021-06-22 22:15] TylerLeonhardt commented on #126769
@minhduc66532 what window manager do you use? I'm suspicious of https://github.com/microsoft/vscode/issues/106380#issuecomment-696471025

[2021-06-22 22:16] roblourens opened #126943 "Selected terminal tab not updated when using "Focus next terminal" commands"
- Create two terminals
- The first terminal tab is selected
- Use the "focus next/previous" commands
- The terminal switches, but the selected tab is not updated, and the next terminal is not focused

[2021-06-22 22:16] jianboy commented on #4873
As a developer, The cursor lost focus which means that the editing window is just a div(html)/panel(C#),

The cursor kept focus which means that the editing window is a Input Box(html)/EditText(C#).

With this understanding, development is very simple.

**In read-only mode, we change the state of the editor, not the state of the file!!**

[2021-06-22 22:17] TylerLeonhardt commented on #124643
@monil-patel haven't had a chance to revisit this. You can take a look at my commit if you'd like. The problem I needed to address is migrating from the old storage keys to the new storage keys and my commit didn't handle that.

Unfortunately, I have some other work I'm working on at the moment so I won't be able to look at this this month.

[2021-06-22 22:22] connectdotz commented on #126756
I assume the enforcement does allow any item along the "tree-branch" to be updated, i.e. the item's children as well as its parent/grand-parent items?

[2021-06-22 22:39] #125989 closed

[2021-06-22 22:39] #126729 closed

[2021-06-22 22:40] misolori commented on #126897
This was already [fixed in 1.57](https://code.visualstudio.com/updates/v1_57#_updated-quick-pick-suggest-widget-colors) and it appears that you are on 1.55 so please try again on the latest version. Thanks.

[2021-06-22 22:40] #126897 closed

[2021-06-22 22:45] misolori commented on #126868
This looks similar to https://github.com/microsoft/vscode/issues/110288, https://github.com/microsoft/vscode/issues/85872, https://github.com/microsoft/vscode/issues/122021

@ZhangTianrong do you have any font tools installed like Mac Font Type?

[2021-06-22 22:45] deepak1556 commented on #107383
Closing as upstream fix has landed in our insiders.

[2021-06-22 22:45] #107383 closed

[2021-06-22 22:50] deepak1556 commented on #101754
@alexdima the upstream issue has been fixed, should we revert https://github.com/microsoft/vscode/commit/838b3949ec8da1cdc0375d85209b7f3bd67fb9b0 ?

[2021-06-22 23:01] mtsitzer opened #127110 "Difficulty Reading Error Message Text in New Notebook Output Rendering"
The rendering of error messages when running code cells is difficult to read (using new Jupyter Notebook extension update) than it used to be.

Note that I am using VSCode default Light Theme (Light+).

Interactive Python:
![image](https://user-images.githubusercontent.com/28517224/122485510-f8698200-cf8b-11eb-9648-dbf99acedbc4.png)

Notebook:
![image](https://user-images.githubusercontent.com/285

[2021-06-22 23:01] swilliams-a3digital commented on #126864
Version info:

Version: 1.57.1
Commit: 507ce72a4466fbb27b715c3722558bb15afa9f48
Date: 2021-06-17T13:28:32.912Z (5 days ago)
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 19.6.0

[2021-06-22 23:01] misolori commented on #126514
I assume we want the peek view to match the default focus styling as well?

[2021-06-22 23:01] jasonwilliams commented on #68
Git Lens (made by @eamodio) now let’s you rebase and squash commits in the UI, which I believe satisfies the original issue raised.

[2021-06-22 23:02] elahehrashedi commented on #126585
I am getting the exact same error on the properties `"windows"` and etc in `launch.json`.
I also get a similar error in `tasks.json`, where I have defined some properties for a custom task in `package.json`. The property was allowed before, but now it is not.
![image](https://user-images.githubusercontent.com/16143955/123009805-49092280-d372-11eb-92f0-484e877e614a.png)

[2021-06-22 23:04] swilliams-a3digital commented on #126864
My Color theme is Visual Studio 2019 Light:
<img width="600" alt="Screen Shot 2021-06-22 at 4 03 36 PM" src="https://user-images.githubusercontent.com/24925563/123010443-77d3c880-d373-11eb-8763-4de9c736037e.png">

[2021-06-22 23:08] swilliams-a3digital commented on #126864
It looks like a problem with the Visual Studio 2019 Light theme.  I've had that theme for a while, and I think it was just the "LIght Theme" when I originally chose it.  I tried switching to the newer Light Theme and autocomplete syntax highlighting works fine with that.  I don't mind switching to the newer theme, so you can close the ticket if you want.  Maybe that 2019 Theme should be deprecated

[2021-06-22 23:10] connor4312 commented on #126756
It does not allow parents of the item to be updated, only the item and its children

[2021-06-22 23:15] #126917 closed

[2021-06-22 23:20] misolori commented on #126864
Ah, thanks fir that info. I'll update the VS one to match the new updates from our default light.

[2021-06-22 23:25] Tyriar commented on #126736
Been thinking about this a bit recently, it's related to keeping a node version of xterm.js on the main process which would stream the buffer to disk.

[2021-06-23 00:29] pabtor commented on #126313
$ code-insiders --verbose
[17915:0622/171745.987004:FATAL:setuid_sandbox_host.cc(158)] The SUID
sandbox helper binary was found, but is not configured correctly. Rather
than run without sandboxing I'm aborting now. You need to make sure that
/usr/share/code-insiders/chrome-sandbox is owned by root and has mode 4755.

Looking at code-insiders/chrome-sandbox:

$ ls -l /usr/share/code-insiders/chrome

[2021-06-23 00:30] SimonDever commented on #87956
@isidorn yet again personally deciding that this is not what the community wants. Don't expect a reason or explanation or movement on this @opudalo and @ShlomiRex, so many other issues [like this one](https://github.com/microsoft/vscode/issues/27286) that they've been assigned to haven't moved in years despite the demand and interest.