[2021-07-25 03:14] oceanroleplay commented on #129317
https://github.com/microsoft/vscode/commit/13cdef332d187f837f21ded645d743af8f1636a3

I have just noticed, if issue persist will update. closing for now.

[2021-07-25 03:15] #129317 closed

[2021-07-25 03:33] IllusionMH commented on #129307
Providing screenshots of these tool tips and describing their problems (especially how they are ruining days) would be more useful than long abstract rant that doesn't point to exact problems.

[2021-07-25 04:55] gjsjohnmurray opened #129318 "Find widget in editor has incorrectly uncapitalized tooltips"
Issue Type: <b>Bug</b>

I will post a recording and narrative.

VS Code version: Code - Insiders 1.59.0-insider (04485223ebc6a075f39966bf9b3e261359ac7818, 2021-07-23T19:21:12.120Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2021-07-25 05:04] gjsjohnmurray commented on #129318
![junk](https://user-images.githubusercontent.com/6726799/126888211-b072768b-3fd5-47cb-a7cd-625160d8baff.gif)

1. Dropdown tip should be "Toggle Replace" rather than "Toggle Replace mode", for consistency with Search.
2. "Previous match" -> "Previous Match"
3. "Next match" -> "Next Match"
4. "Find in selection" -> "Find in Selection"

Other differences noted:
5. Search lacks a "Replace" button. Th

[2021-07-25 05:40] claudiaregio opened #129323 "Native Notebooks - @tag:notebookLayout through toolbar doesn't work first time"
VS Code Version: 1.58.2

Steps to Reproduce:

1. Create new instance of vs code
2. Open notebook
3. Click overflow menu item and select "Customize Notebook Layout Settings"
4. This is what you get on first time, have to go back and click it twice to show notebook layout options

![image](https://user-images.githubusercontent.com/19276747/126888968-09537a20-f3af-4926-8ee6-e1af10154c52.png)

[2021-07-25 05:56] Neonit commented on #35350
@deiga Went with [modelines](https://marketplace.visualstudio.com/items?itemName=chrislajoie.vscode-modelines) for now, but maybe an editorconfig would be even more convenient. Thanks for your suggestion.

[2021-07-25 06:12] usernamehw commented on #129323
/duplicate of #128160

[2021-07-25 06:13] #129323 closed

[2021-07-25 06:19] joshuatz commented on #128827
@mjbvz Thanks for responding to this.

That's actually pretty much exactly what I ended up doing to work around this - I hooked into the `{markdownItInstance}.parse` method and return extra tokens depending on extension soft-disable status. But... it feels like a non-optimal workaround, and I would definitely prefer something more dynamic on the VSCode API side, like your suggestion of `when` clau

[2021-07-25 06:39] lehoanganh298 opened #129358 "UI error in jupyter notebook when terminal maximize"
Issue Type: <b>Bug</b>

Open a jupyter notebook (with new UI). Open Terminal panel --> Maximize Panel size. There is a UI bug at the top of the window.

Extension version: 2021.8.1054968649
VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No
Remote OS version: Linux x64 4.19.128-microsoft-standa

[2021-07-25 07:04] yhatt commented on #128827
FYI [my extension](https://github.com/marp-team/marp-vscode) has hooked `markdownIt.parse` and `markdownIt.render` for adding ability to enable/disable the feature of extension via Markdown content, and it is working over 2 years stably. Aside from whether it's good/bad...

I've tried to take the same approach to contribute dynamic inline script into Markdown preview (`<script>...</script>`, witho

[2021-07-25 07:04] gjsjohnmurray commented on #23099
I just submitted PR https://github.com/microsoft/vscode/pull/129324 to improve discoverability,

[2021-07-25 07:49] rajinder-yadav opened #129325 "bash_profile not being read"
Issue Type: <b>Bug</b>

On the Mac, when I open the terminal that is set to be "bash", the .bash_profile is no longer getting read, as a result non of my function and alias are available.

VS Code version: Code - Insiders 1.57.0-insider (7771be8b981d4fff2c6de123dad953517253c395, 2021-05-14T05:54:04.153Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---

[2021-07-25 07:59] Teror864 opened #129326 "vscode for Ipad"
I'm new for coding area,and I am a Chinese middle school student.I’m not rich enough to buy a computer like MacBook or Surface Laptop.But I have an IPad.I know it’s hard to build. But I’m sure you can do it.🤓😌
(Maybe my English is not good.Sorry😏)
                                                                                                                                              A Chinese

[2021-07-25 08:00] yash3001 opened #129327 "We cannot connect to the Extensions Marketplace at this time, plase try again later [Arch Linux]."
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.0
- OS Version: Arch Linux

Steps to Reproduce:

1. Open the extension marketplace.
2. Search for any extensions and you would get this error.

More info copied from 'about' in vscode:

[code]

Screenshot of the error:

![vscode_error](https://user-images.githubusercontent.com/43678393/126892072-b95160db-a566-441

[2021-07-25 08:02] gjsjohnmurray commented on #129327
/duplicate of #128583

[2021-07-25 08:03] #129327 closed

[2021-07-25 08:06] jbriales opened #129328 "`$returnValue` references not working in conditional breakpoint expressions"
Issue Type: <b>Bug</b>

When using `$returnValue` in a conditional breakpoint expression, this does not seem to work (condition never evaluates to true).

E.g. in
[code]
I tried adding a logpoint with content `{$returnValue}` and that works,
BUT a conditional expression `$returnValue` does NOT work.

I created the breakpoint at the end of the line, so `$returnValue` is available at the location.

[2021-07-25 08:11] matkoniecz opened #129329 "GeoJSON should be syntax highlighted as JSON instead of plain text out of the box without manual configuration"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Lubuntu 20.04

Steps to Reproduce:

1. Create example.geojson with following contents:
[code]
2. Open it
3. Note lack of highlighting

Not a duplicate of  #89734 #82749 as it was about ability to config it (what is nice that it exists!). And the whole point of VS Code (at least to me) is that it w

[2021-07-25 08:26] matkoniecz commented on #129329
Seems fixable by editing https://github.com/microsoft/vscode/blob/747d667946a59a71cddd8957677b92b7dc6ef3e3/extensions/json/package.json#L22

[2021-07-25 08:31] matkoniecz commented on #129308
Current one without visual debris is much better than interface change for the sake of having "cool look"

[2021-07-25 08:35] matkoniecz commented on #129290
See https://github.com/microsoft/vscode/pull/52707#issuecomment-519462107

[2021-07-25 08:37] matkoniecz commented on #129326
offtopic a bit but may help you: What about PC/old laptop that can have Linux/Windows installed?

[2021-07-25 09:35] Kshitij0419 opened #129331 "Key ( c ) is not showing while typing"
In VS CODE , key ( C ) is not a command . the key combination , searching for chords etc are cames while typing letter "c" plz help me soon i am unable to solve any code here

[2021-07-25 09:36] CatNofishing opened #129434 "Allow users to configure default MIME type for rendering notebook cell outputs"
Dafault MIME type
![image](https://user-images.githubusercontent.com/33288114/126894608-3e5693d0-a377-4bdc-9a19-64e98819709e.png)

i want  the dafault the type is svg
![image](https://user-images.githubusercontent.com/33288114/126894627-b06add11-8beb-4b68-adfe-1dc5b85f6452.png)

[2021-07-25 09:42] wangweixuan opened #129332 "Notebook falsely detects "empty cells""
In notebook outline, a RegExp is used to test whether a cell is empty.

https://github.com/microsoft/vscode/blob/2a82df9437f5c1d3e0302ff4910a5e7f51ea1756/src/vs/workbench/contrib/notebook/browser/contrib/outline/notebookOutline.ts#L423-L428

The RegExp in fact testing whether a cell contains `\w` characters, namely `a-z`, `A-Z`, `0-9`. That leads to some cells with actual content being detected as

[2021-07-25 09:45] shoffmeister opened #129333 "GPU rendering on Linux inside VMware eats Windows host CPU, GPU"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Performance Issue</b>

I am running VS Code (Linux) inside VMware Workstation (Windows) - and every once in a while --type=gpu-process shows up on the command-line.

Whenever this is the case,
* Linux htop flags /usr/share/code with 35-50% of CPU usage (8 cores on the VM)
* Windows 10

[2021-07-25 09:48] shoffmeister commented on #129333
After haivng written the above, I noticed that the progress indicator for git operations in the status bar
![image](https://user-images.githubusercontent.com/3868036/126894893-cd53846e-10fe-4b92-ac43-f90215ee03ac.png)
was (still) turning.

I had successfully pushed to a remote ssh repo earlier - and then _noticed_ the fans spinning. Clicking on the progress indicator causes the command box to drop

[2021-07-25 09:50] Kshitij0419 commented on #129331
i have see that but that was useless plz any other setting from which i may chnge ans type c

[2021-07-25 09:52] shoffmeister commented on #129333
To clarify: I don't think that having a comparatively tiny progress indicator turning should eat so much CPU / GPU, even virtualized. To that extent, this is the issue that I'd like to see tracked here.

[2021-07-25 10:08] shoffmeister opened #129334 "git "Output" lacks timestamps"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

The data emitted into the "Output" windows by the git feature (built-in extension) does not feature timestamps.

This makes it difficult to correlate "challenges" with git activity. The ">" shown in the output does not appear to add a lot of value, timestamps would, an indica

[2021-07-25 10:22] realh commented on #129301
`"editor.occurrencesHighlight": false` fixes it for me, thanks. This does seem to be the same as microsoft/TypeScript#43292 but I couldn't find it because I didn't know the cause of the problem and thus the best keywords for searching.

[2021-07-25 10:22] #129301 closed

[2021-07-25 10:28] mbl9898 opened #129335 "snippets not working in console.log( )"
Issue Type: <b>Bug</b>

some time ago snippets randomly stopped working in console.log(  ) almost everywhere else it seems to work but not in log( ).

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.21996
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-

[2021-07-25 10:35] mbl9898 commented on #129335
my setting.json
{
    "workbench.colorTheme": "Community Material Theme Ocean",
    "terminal.integrated.defaultProfile.windows": "Git Bash",
    "workbench.iconTheme": "material-icon-theme",
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": true,
    "editor.formatOnPaste": true,
    "javascript.updateImportsOnFileMove.enabled": "always"
}

[2021-07-25 10:37] mrseanbaines opened #129336 "`workbench.editor.enablePreviewFromQuickOpen` config option not working"
Issue Type: <b>Bug</b>

I set the `workbench.editor.enablePreviewFromQuickOpen` config option quite a long time ago, but it seems to not be doing anything anymore (not sure when this started happening, perhaps in the last weeks/months).

When I use `command + P` to jump to a file, I expect a permanent tab to be opened, but I am instead getting a preview tab (tab title in italics).

VS Code version

[2021-07-25 10:40] hacke2 opened #129337 "QuickFix invalid"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.0
- OS Version: mac 11.1

Steps to Reproduce:

1. install [vscode-stylelint](https://marketplace.visualstudio.com/items?itemName=stylelint.vscode-stylelint)
2. Open any workspace，make  some typo trigger quickfix, like

![image](https://user-images.githubusercontent.com/6399899/126896107-64d1ece3-faad-4ab7-9b68

[2021-07-25 10:51] usernamehw commented on #129336
/duplicate of #128755

[2021-07-25 10:52] #129336 closed

[2021-07-25 11:16] deng-wenchao opened #129338 "About debuging c/c++"
Issue Type: <b>Bug</b>

When I use gdb to debug c/c++(Following the instructions in https://code.visualstudio.com/docs/cpp/config-mingw), there is something wrong with the Chinese word in the pathname of the file：
![image](https://user-images.githubusercontent.com/24807180/126897432-b8803f27-8b13-47af-ad3d-bfdfc3127b8e.png)

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2

[2021-07-25 11:26] AFTABSHIAKH786 opened #129339 "no output"
Issue Type: <b>Bug</b>

code runing for tooo long but not showing an output i just wrote a simple c++ prog and it just showing running

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-10300H CPU @ 2.

[2021-07-25 11:27] ACrazyConcept commented on #84136
Same for me. But this is still way better than running as administrator or renaming code.exe after each vscode update.

[2021-07-25 11:33] o-o00o-o opened #129340 "improve "Search on Type" to be more useful in more normal development scenarios"
Right now it seems that Search on Type in the Explorer is really generalist in nature and so cannot be used in most of the cases that someone would want to use it.

Usually developers will want to find files with a specific unbroken sequence of characters in e.g. "readme" or ".sql"

Right now if I seach for "blah" to find files blah.cs and FixBlah_.txt - while it will find them it will also find B

[2021-07-25 11:40] o-o00o-o commented on #129340
also notice that this question https://stackoverflow.com/questions/30095376/how-do-i-search-for-files-in-visual-studio-code doesn't really have a good answer

[2021-07-25 11:46] daominhhieu opened #129341 "Problem matcher wont clear"
Issue Type: <b>Bug</b>

Why is my customer problem matcher wont clear when build Task is restart?
[code]
VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.18363
Restricted Mode: No

[2021-07-25 11:47] tddschn opened #129342 "Contents inside <script> in html files are commented with html style comments"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
[code]
- OS Version: macOS Big Sur 11.5

Steps to Reproduce:

1. Copy the following html code, create a new file in VS Code and paste the code.
[code]
2. Change the language mode to 'HTML'.
3. Try to comment the `alert('hello');` line and see what happens.

https://user-images.githubusercontent.com/45612704/

[2021-07-25 11:54] daominhhieu commented on #129341
The same problem keep piling up every time i re-run the build task
![image](https://user-images.githubusercontent.com/19222753/126898032-923c4b5a-9782-4a90-8f3b-6cce53505a12.png)

[2021-07-25 11:56] julian7890 commented on #84136
I just noticed that I had smooth scrolling disabled in Point & Scroll of Logitech Options.
When I enabled that and restarted my PC it seem to enable horizontal scrolling without running VS as administrator.
Haven't tried Logi options+ yet.

[2021-07-25 12:22] gjsjohnmurray commented on #129331
Sounds like you have a bad keybinding. Please follow the advice at https://github.com/microsoft/vscode/wiki/Keybinding-Issues

[2021-07-25 12:33] weinand commented on #129315
You are using a debug configuration that references a variable ´${workspaceFolder}`. But this variable requires that VS Code is in "workspacefolder" mode which is indicated by a blue status bar at the bottom of the window. Your statusbar most likely is violet.
Just "open a folder" in VS Code (instead of a single file).

[2021-07-25 12:35] weinand commented on #129339
/extCpp

[2021-07-25 12:35] #129339 closed

[2021-07-25 12:35] weinand commented on #129338
/extCpp

[2021-07-25 12:36] #129338 closed

[2021-07-25 12:36] williamlzw opened #129343 "List item indication when right clicking non selected item should change"
Issue Type: <b>Bug</b>

Vscode deleting large files on remote server crashes.
68/5000
Linux servers have a PTH file for PyTorch. When I select the file and select delete, vscode will first try to open the file, which causes the deletion to fail and crash. This PTH file is usually more than 50MB. I suggest vscode change its policy so that for binary files over 10MB on the remote server, instead of

[2021-07-25 12:36] Mystic8b commented on #129290
Ah, okay, I wasn't careful enough. Well, in any case, I think with the release of win11 the question is more relevant than ever.

[2021-07-25 13:14] parascent commented on #50140
This I feel is a must have for all modern text editors along with LSP.

[2021-07-25 13:18] dhruvalpotla opened #129344 "crashed"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

vs studio.app crashed unexpectedly 2 time
 even after force quit the window still remained open
Process:               spindump [65998]
Path:                  /usr/sbin/spindump
Identifier:            spindump
Version:               295.2
Code Type:             ARM-64 (Native

[2021-07-25 13:24] paulkckho commented on #129315
I was pointing at the wrong file. Now I can start working on my projects. Thank you.

[2021-07-25 13:37] XlousZ opened #129345 "GET vs/code/browser/workbench/workbench.js 404 Not Found"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: code-server 3.11.0 4e8cd09ef0412dfc7b148b7639a692e20e4fd6dd
- OS Version:
openEuler 21.03
Steps to Reproduce:
1. code-server --port 8080 --host 0.0.0.0 on openEuler 21.03
2. login on windows
3. response vs/code/browser/worbeknch/workbench.js 404 Not Found

[2021-07-25 13:46] hiroshi-nakajima345 commented on #129225
I start to use new WSL window . But it seem to be difficult for me.
But is this the way that you recomend ?

[2021-07-25 13:48] #129345 closed

[2021-07-25 13:49] dariel87 commented on #28795
imwheel works well, I use ubuntu 18.04 with default Ubuntu DE, but if I switch my DE to KDE Plasma our beloved code editor doesn't scroll randomly.

[2021-07-25 13:49] XlousZ commented on #129345
sorry,  Wrong place

[2021-07-25 13:52] RakhulKumar commented on #127142
Fix: Make sure you have selected the correct version of Python as the interpreter. You will get this error if you have more than one version of Python installed. The current Python interpreter version is mentioned at the bottom left corner in VS Code

[2021-07-25 14:28] nafzaa opened #129346 "we cannot connect to the extensions marketplace"
Issue Type: <b>Bug</b>

no connect marketplane linux visual studio code

VS Code version: Code - OSS 1.58.0 (2d23c42a936db1c7b3b06f918cde29561cc47cd6, 2021-07-12T23:51:36.303Z)
OS version: Linux x64 5.13.4-zen2-1-zen
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3380M CPU @ 2.90GHz (4 x 3512)|
|GPU Status|2d_canvas: enabled<br>gpu_

[2021-07-25 14:41] neobie opened #129347 "Folder lat modified upon saving file"
Request feature for modifying last modified of parent folder upon saving file too.
This will be easier for coders to know which folders contain files which have been modified recently.

[2021-07-25 14:52] Unamiii opened #129348 "background in css"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-07-25 14:54] #129348 closed

[2021-07-25 14:58] Herman-Wu opened #129349 "Interactive python could not convert to Notebook with result"
Issue Type: <b>Bug</b>

Environment: Anaconda, Python 3.7, 3.8
After written some python in Interactive Python and tried to convert it to Jupiter Notebook in order to store the result, the result of the execution is not included in the generated notebook.

This is a deal-breaker, I have to use the non-insider version until this is been fixed.

Thanks

VS Code version: Code - Insiders 1.59.0-inside

[2021-07-25 15:30] connor4312 commented on #129230
It looks like the main process doesn't start for you, the "call stack" view is empty. Make sure that VS Code is correctly set up and that you can launch it outside of the debugger.

[2021-07-25 15:38] benapetr commented on #128107
yeah but this is really probably a rare bug that is affecting small amount of users, I didn't know there is requirement that bug needs to get many upvotes for it to be considered for fixing, so this is unlikely to get solved.

Nonetheless if someone could point me to code that removes the recent item if it's not found on disk, I would love to remove it from my copy of vscode as a workaround.

[2021-07-25 15:44] JulianLlanten8 opened #129350 "lento"
Hemos escrito los datos necesarios en su Portapapeles porque eran demasiado grandes para enviarlos. Ahora debe pegarlos.

[2021-07-25 16:06] chirag057 opened #129351 "vs code black screen issue even after using the disable gpu"
i am facing a issue of black screen. I went through few videos that said to add --disable-gpu i added it but didnt work please help !!!

[2021-07-25 16:20] tooltipRant2 commented on #129307
@IllusionMH Here is a screenshot of the 'tooltips' that I find extremely annoying:

![4tooltip](https://user-images.githubusercontent.com/87942836/126905782-92dc115d-828d-454a-96f9-b51b47ed7bdd.png)
![5](https://user-images.githubusercontent.com/87942836/126905783-46da69af-9430-469d-ba8a-312e1aec41f6.png)
![1tooltip](https://user-images.githubusercontent.com/87942836/126905787-95d320af-32c5-4919-9

[2021-07-25 16:21] leodevbro opened #129352 "VSCode API cannot detect Color Decorators created by "Tailwind CSS IntelliSense" extension"
Does this issue occur when all extensions are disabled?: This is not relevant question, because this issue is about the relationaship of VSCode API and specific extension (<a href="https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss">Tailwind CSS IntelliSense</a>).

- VS Code Version: 1.58
- OS Version: Windows 10 (updated 2021)

Steps to Reproduce:

I'm working on my VSC

[2021-07-25 16:22] tooltipRant2 commented on #129307
All the other tooltips, the native ones, have the specific feature I want, which is the time it takes them to show, and the fact that they can be shown past the vscode window.

[2021-07-25 16:23] aeschli commented on #126494
To verify:
-  from the vscode-extension-samples open https://github.com/microsoft/vscode-extension-samples/tree/main/fsprovider-sample
- in the `package.json`:
   - add `"enableProposedApi": true,`
   - add
[code]
- run with F5, Use the `MemFS: Setup Workspace` command and hover over the remote indicator.
- verify that the hover shows the text (with images and links) as specified by `workspaceTool

[2021-07-25 16:31] aeschli opened #129353 "Test new fold navigation commands"
Refs: https://github.com/microsoft/vscode/issues/91023

- [x] anyOS @donjayamanne
- [x] anyOS @hediet

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129353%0A%0A&assignees=aeschli)

---

Test the new `Goto Previews/Next/Parent` commands
- assign keyboard shortcuts to the new fold navigation commands
e.g.
[code]
- set cursor to a location in a fold and

[2021-07-25 16:39] wangweixuan opened #129354 "Out of viewport notebook cells fail to blur"
Does this issue occur when all extensions are disabled?: N/A

- VS Code Version: 1.58.2
- OS Version: macOS 11.5

Steps to reproduce:

1. In a notebook, focus on a markdown cell ("A") and switch to edit mode. Make sure it contains the cursor.
2. Scroll cell A out of viewport.
3. Focus on another cell ("B"). Optionally, add a cursor in cell B.
4. Scroll cell A back into viewport.
5. Observe.
**Expe

[2021-07-25 16:39] Daynil commented on #13953
Update to the solutions by @johnfn and @WilliamChelman due to new syntax for tasks.json, and capability of using npm instead of native shell.

If you have a check-types script in package.json:
[code]

You can add the following task to your tasks.json (note if you don't already have a tasks.json, it goes in the root folder/.vscode/tasks.json):
[code]

Now you can run this task any time you want pro

[2021-07-25 16:40] aeschli opened #129355 "Test new theme customize syntax"
Refs: https://github.com/microsoft/vscode/issues/103694

- [x] anyOS @JacksonKearl
- [x] anyOS @rchiodo

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129355%0A%0A&assignees=aeschli)

---
New extended theme customize syntax allows to customize more than one theme at the same time.
[code]
The * wildcard character can be used at the beginning and the en

[2021-07-25 16:55] debevv opened #129356 "Debugging shifts focus to `proc.go` when stepping to next line during remote debugging"
Hi, I'm experiencing the same problem explained in issue https://github.com/microsoft/vscode/issues/65920, but only when remote debugging an ARM64 target

### Environment
- Ubuntu 20.04 x64
- vscode 1.58.2 c3f126316369cd610563c75b1b1725e0679adfb3
- go1.16.5 linux/amd64
- delve 1.7.0 and 1.6.0

### Steps to reproduce
- Create the same `main.go` used in the referenced issue
[code]
- Build  and copy

[2021-07-25 16:58] debevv commented on #129356
[repr.zip](https://github.com/microsoft/vscode/files/6874239/repr.zip)

[2021-07-25 17:37] jiewangjs opened #129357 "vscode insider, remote server choosing always loop back to local server"
https://user-images.githubusercontent.com/11204422/126908082-62ecd535-1a21-47f8-bfb5-cf2125b2360c.mp4

I click to choose remote server,
restart the app
and it is still local server.
vscodium is fine, insider just wont work.

[2021-07-25 17:54] #120883 closed

[2021-07-25 18:04] aeschli opened #129359 "Test automatic import folding"
Refs: https://github.com/microsoft/vscode/issues/128809

- [x] anyOS @weinand
- [x] anyOS @andreamah

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129359%0A%0A&assignees=aeschli)

---

Use the setting `editor.foldingImportsByDefault` to have import statements folded when a file is opened. The fold state is remembered once a file has been opened once

[2021-07-25 18:05] JerryGreen commented on #13953
@Daynil yeah, but there are other extensions, like css-linters, markdown-linters, etc. And some people use other languages than JS/TS, too. The general solution is:

[code]

This enables diagnostics for entire project, for whatever extensions which write errors/warnings/info into "Problems" pane.

[2021-07-25 18:21] gjsjohnmurray commented on #129359
Current description of the setting:

![image](https://user-images.githubusercontent.com/6726799/126909110-37264cd3-b9a7-443b-a4b8-deda011c5811.png)

It surprised me that the description itself doesn't mention imports. Nor is it clear about the behaviour. It seems that when set, the first time I open a file containing imports the imports get folded automatically. Then the state of this block gets r

[2021-07-25 18:36] adaex commented on #129326
You can use the web version for development, download a chrome on the iPad, and then open [GitHub Codespaces](https://github.com/codespaces)。 However, codespaces is still in the public beta stage, and may need to apply before it can be used. I have some video screens to help you.

Chinese translation: 你可以使用网页版本进行开发，在iPad上下载一个chrome，然后打开[Github Codespaces](https://github.com/codespaces)。不过目前codespa

[2021-07-25 20:02] mo3head commented on #129346
Same problem here:
Linux dennis-xps137390 5.10.52-1-MANJARO #1 SMP PREEMPT Tue Jul 20 20:32:02 UTC 2021 x86_64 GNU/Linux
[sinnedb@dennis-xps137390 ~]$ code --version
vscode 1.58.0 2d23c42a936db1c7b3b06f918cde29561cc47cd6 x64

![image](https://user-images.githubusercontent.com/10432047/126911871-1d46a49d-cbbc-44de-91c6-d56345b4ae79.png)

[2021-07-25 20:06] weinand commented on #129356
/extGo

[2021-07-25 20:06] #129356 closed

[2021-07-25 20:28] af4jm commented on #129171
so I added `*.md diff eol=auto text` to .gitattributes, and git removed a blank line from below the first heading in several files... since then I'm no longer able to reproduce (and it seemed hit-or-miss prior to that, and only with MD files), so I guess that was it... the behavior in my screenshot still seems odd to me, but as long as global find & replace no longer means jumping over to another

[2021-07-25 20:28] #129171 closed

[2021-07-25 21:02] marcospgp commented on #869
Tired of waiting for such a basic feature, jumping into the source code.

I found this section which seems related to negated exclusion paths, though there were a few other results for `files.exclude` in this repo so I'm not sure if this is where the magic happens:

https://github.com/microsoft/vscode/blob/c15cb13a383dc9ff2dc0828152e374a6b9ecc2b3/src/vs/workbench/contrib/markers/browser/markersFil

[2021-07-25 21:34] dibyendumajumdar opened #129361 "Cannot set breakpoint in latest version of VSCode with my debug adapter - used to work fine before"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
- OS Version: Windows 10

Steps to Reproduce:

1. Install 'Lua and Ravi 5.3 Debugger'
2. Open a Lua script to debug
3. Try setting a breakpoint.

In recent versions it is not possible to set break points - this seems to have broken since some release of VSCode but I am not sure since when.

Nothing happens w

[2021-07-25 21:35] misolori commented on #129264
This icon is from Gitlens, cc @eamodio

[2021-07-25 21:35] #129264 closed

[2021-07-25 21:36] dibyendumajumdar commented on #129361
Hi @weinand  I am not sure what has changed as when I last updated my adapter in 2020 it used to work fine.

[2021-07-25 21:40] gjsjohnmurray opened #129362 "Improve the "We cannot connect to the Extensions Marketplace at this time" message"
Issue Type: <b>Feature Request</b>

Many GH issues currently being opened about this message are from people using a VS Code build which doesn't point to `marketplace.visualstudio.com`

![image](https://user-images.githubusercontent.com/6726799/126914312-5ad92f64-a98c-433b-b0d8-61b934732f74.png)

I suggest the error message is extended so it reports the URL it was trying to connect to,

VS Code ve

[2021-07-25 21:46] gjsjohnmurray commented on #129361
@dibyendumajumdar I suggest you perform a bisect procedure, installing earlier versions of VS Code until you discover exactly which version your extension stopped working with. Then review that version's release notes.

Release notes for all previous versions are available from the index pane on the left of the page at https://code.visualstudio.com/updates and at the top of each set of release not

[2021-07-25 22:07] marcospgp commented on #869
Tired of waiting for such a basic feature, jumping into the source code.

I found this section which seems related to negated exclusion paths, though there were [a few other results](https://github.com/microsoft/vscode/search?q=files.exclude) for `files.exclude` in this repo so I'm not sure if this is where the magic happens:

https://github.com/microsoft/vscode/blob/c15cb13a383dc9ff2dc0828152e374

[2021-07-25 22:07] dibyendumajumdar commented on #129361
Hi - I checked earlier versions - its broken since 1.53.

[2021-07-25 22:38] kblarde opened #129363 "Window resizing"
Issue Type: <b>Bug</b>

I am unable to move the VS window around to resize it

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:30:16.440Z)
OS version: Linux x64 5.11.0-7620-generic
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 3450U with Radeon Vega Mobile Gfx (8 x 2151)|
|GPU Status|2d_canvas: enabled<

[2021-07-25 22:41] #129363 closed

[2021-07-25 23:27] NotDiamondZ opened #129364 "Writing login information to the keychain failed"
Does this issue occur when all extensions are disabled?: Yes/No
Yes

- VS Code Version:
- OS Version: Linux Debian v5.4.109-26094-g381754fbb430

Steps to Reproduce:
Not sure.

[2021-07-26 00:55] joshuatz commented on #128827
@yhatt Heh, I was just looking at your extension and that exact issue a few days ago (I'm already subscribed to it 😄), as the extension I'm working on has similar areas of concern, and also that same preview jumping / sync issue.

Although I'm sure it would be no small feat, it feels like having an official API for dynamic contributions would really cut down on the number of edge-cases and side ef

[2021-07-26 01:00] Teror864 commented on #129326
Ok, thanks.But my GitHub codespace is still waiting for passing the audit .
I submitted my request a week ago.😌
Ps:By the way, What country are you from?And how long does it take auditor to pass the audit?🤨

[2021-07-26 01:55] yinhunfeixue commented on #129230
Hello, This is the logs

[vscode-debugadapter-4a308ed7.json.gz](https://github.com/microsoft/vscode/files/6875004/vscode-debugadapter-4a308ed7.json.gz)

[2021-07-26 02:01] yinhunfeixue commented on #129230
-------------------
It can be started successfully, but the main process cannot be debugger (it can be on Mac OS, but not on Ubuntu)

[2021-07-26 02:02] yinhunfeixue commented on #129230
this file?

[vscode-debugadapter-4a308ed7.json.gz](https://github.com/microsoft/vscode/files/6875031/vscode-debugadapter-4a308ed7.json.gz)

[2021-07-26 02:31] #124656 closed

[2021-07-26 02:31] #124644 closed

[2021-07-26 02:31] #124592 closed

[2021-07-26 02:54] fyangstudio commented on #129228
stylelint may cause crash too. It's very strange in

* VS Code Version: 1.59.0-insider
* OS Version: macos 10.15.7

[2021-07-26 02:54] Xuan-Yu-San opened #129365 "Forwarding a port of remote extension."
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.58.2
- OS Version: MacOS High Sierra 10.13.6

I'm not sure where to give feedback.
This is a question about remote extension.
It says in your document
"A notification will tell you the localhost port you should use to access the remote port. For example, if you forwarded an HTTP server listening on port 3000, the not

[2021-07-26 02:58] fyangstudio commented on #129228
As a VS Code extension developer,  i want to know how to avoid this issue happen again.

[2021-07-26 03:01] heartacker opened #129366 "unfriendly UI of extension page"
Does this issue occur when all extensions are disabled?: Yes/No

版本: 1.59.0-insider (system setup)
提交: 04485223ebc6a075f39966bf9b3e261359ac7818
日期: 2021-07-23T19:21:12.120Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Windows_NT x64 10.0.14393

Steps to Reproduce:
Make the page narrower
![image](https://user-images.githubusercontent.com/1876302/126927201-e6

[2021-07-26 03:03] deepak1556 commented on #129351
/gifPlease

[2021-07-26 03:19] guogangj opened #129367 "Always failed to copy a image file's filename."
In explorer, click on a image file (eg. a png file).
Press F2 to try to edit the filename. Now the filename's text is in select state.
Try [ctrl]+[c] to copy the filename's text. Not work.

[2021-07-26 03:57] gjsjohnmurray commented on #129349
/duplicate of https://github.com/microsoft/vscode-jupyter/issues/6779

[2021-07-26 03:57] #129349 closed

[2021-07-26 03:59] burtonrodman opened #129368 "C# public property name suggestions broken"
In previous versions, vscode name suggestions for a public property would include the expected pascal case name which is typical for public properties.  in the example below, I would expect `FranchiseArticleContentTags` to be the top suggestion.

![image](https://user-images.githubusercontent.com/7658657/126931105-9baa9778-15f0-480b-8688-a5333362f73a.png)

[2021-07-26 04:37] gjsjohnmurray commented on #129367
/duplicate of 126458 assuming that you are not running Insiders. Ideally, give version info on future issues. Maybe use Report Issue option from Help menu, which does this for you.

[2021-07-26 04:38] #129367 closed

[2021-07-26 04:39] leodevbro commented on #129352
Same issue posted in the repo of `Tailwind CSS IntelliSense`:
https://github.com/tailwindlabs/tailwindcss-intellisense/issues/374

[2021-07-26 04:41] manishsainju commented on #129150
it happened for a single time with the` --prof-startup` parameter

[2021-07-26 04:42] gjsjohnmurray commented on #129368
/extC#

[2021-07-26 04:42] #129368 closed

[2021-07-26 04:50] aria0330 opened #129369 "Formula($ $) does not work when exporting PDF"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
- OS Version: Debian 10

Steps to Reproduce:

1. A formula like $A = B * C / 8$ exists in the markdown documentation. In preview, it works well.
2. However, when i export a document to pdf, it is output as plain text as $A = B * C / 8$ in pdf.

[2021-07-26 04:56] lifez commented on #129262
I will work on this.

@mjbvz Do you have any clue?

[2021-07-26 04:59] #128765 closed

[2021-07-26 05:08] tepinly commented on #125952
I don't understand why this update is still going to happen even though nobody is content it?

Why not just add a toggle button for the simplified JSON version while keeping the old version all the same?

[2021-07-26 05:14] rebornix opened #129370 "Avoid unnecessary string join and split"
https://github.com/microsoft/vscode/blob/4e5d793a7828f1baf62e9e06ce5137023bd17c06/extensions/ipynb/src/helpers.ts#L364-L377

Currently the stream output conversion (from VS Code types to Jupyter) does unnecessary V8 string concatenation and split, which slows down the conversion (using more memory and gc):

* Stream output is either `CellOutputMimeTypes.stderr` or `CellOutputMimeTypes.stdout`, so

[2021-07-26 05:18] rebornix commented on #129370
https://github.com/microsoft/vscode/blob/4e5d793a7828f1baf62e9e06ce5137023bd17c06/extensions/ipynb/src/helpers.ts#L171-L171

Do we also want to split `\r\n`?

[2021-07-26 05:20] roblourens commented on #129311
Pressing ctrl+f typically highlights the contents of the find box so you can just type to replace it

[2021-07-26 05:20] #122935 closed

[2021-07-26 05:21] roblourens commented on #129155
We keep the search history per-workspace, this might not be what you always want but I think that search queries are often contextual to the workspac

[2021-07-26 05:22] roblourens commented on #129136
Once you have clicked the debug button, and have a breakpoint set, then running the cell should hit the breakpoint

[2021-07-26 06:04] thsubaku9 commented on #128204
Just updated VSCode to 1.58.2. Issue is no longer reproducible :)

(ty for your time and effort)

[2021-07-26 06:04] #128204 closed

[2021-07-26 06:15] taronlee opened #129371 "[install vsix] needs to install .vsix to .vscode-server (not .vscode)"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
- OS Version: windows 10

Steps to Reproduce:

1. connect to Host using Remote-SSH
2. connect ssh (ssh username@host) on command tool
3. type `code --install-extension ${VSIX}`
4. extension is installed to .vscode folder (**not .vscode-server**)

when use `code --install command`,  is there any way to instal

[2021-07-26 06:17] deepak1556 commented on #129150
Then it is expected to generate those files

[2021-07-26 06:17] #129150 closed

[2021-07-26 06:30] ShaunakSawant opened #129372 "Update UI of Visual Studio Code like the new Windows 11 UI"
I would like to suggest a new UI for VSCode which matches the Windows 11 UI, I think it looks great and would be nice to see it if implemented.

A user on Reddit made a perfect example of what I am suggesting in the post which is linked below:
[https://www.reddit.com/r/Windows11/comments/orbgzl/visual_studio_vs_code_and_github_desktop_with/](https://www.reddit.com/r/Windows11/comments/orbgzl/visua

[2021-07-26 06:32] tsongas commented on #129217
@gjsjohnmurray I'm naming my first born child after you.

[2021-07-26 06:32] #129217 closed

[2021-07-26 06:44] #129369 closed

[2021-07-26 06:44] #129337 closed

[2021-07-26 06:51] KL13NT opened #129373 "VSCode doesn't pickup types from .tsx files"
I'm trying to use React JSX in my project using TypeScript and Storybook. ESLint prevents JSX in `.ts` files, so I have to use `.tsx`. Problem is, whenever I export a type from a `.tsx` and import it into another `.tsx` file, vscode doesn't infer anything. It isn't even able to navigate to the type.

[code]

[code]

Yet when renaming `Icon.tsx` to `Icon.ts` it works beautifully! I can `CTRL+Click`

[2021-07-26 06:51] muhdamean commented on #96132
Here is what I find
Go to Settings -> Extensions -> Live Server Config -> Custom Browser
you can then choose your browser of choice

[2021-07-26 06:58] babarkhuroo opened #129374 "Disable 'open with Code' on desktop context menu"
Hi, can you add a setting or something to hide 'open with code' option from desktop context menu? it's a pretty neat feature but i don't think it's useful on desktop context menu.

P.S. this is my first ever feature request on github, so please don't ban/cancel me for this. thanks! :)

[2021-07-26 07:00] A-Pai commented on #129136
firstly I set the breakpoint，then click the “debug” button, it comes "set environment”  dialog box ，what should I do then？
![image](https://user-images.githubusercontent.com/5112397/126946045-417831ef-14ca-473d-ba41-b02a0c643d2e.png)

[2021-07-26 07:03] sandy081 commented on #129228
@fyangstudio / @songjiafan Can you please provide any logs or report of the crash?

[2021-07-26 07:05] KL13NT commented on #129373
I also noticed that it auto imports the types as normal, but fails to infer anything beyond that. Like, it prompts me to auto-import the type, but fails to see it beyond that:

![image](https://user-images.githubusercontent.com/20807178/126946825-0f0d27c8-f743-4fe2-a328-4b16b4cd8725.png)

It only sees it as `Import COLOR_TYPES` after importing:

![image](https://user-images.githubusercontent.com/2

[2021-07-26 07:05] sandy081 commented on #129299
/needsMoreInfo

[2021-07-26 07:05] sandy081 commented on #129299
Do you see any errors?

[2021-07-26 07:07] sandy081 commented on #129294
Reload won't impact the installation process as it happens in a separate process.

[2021-07-26 07:09] justingolden21 commented on #129364
![Screenshot 2021-07-26 12 08 24 AM](https://user-images.githubusercontent.com/30274440/126947380-0a53b4d7-0590-4282-ac52-e5ff19343319.png)

Same here, just freshly installed vscode on debian

[2021-07-26 07:19] gjsjohnmurray commented on #129374
Assuming you are on Windows, I think you can use regedit and delete the HKEY_CLASSES_ROOT\*\shell\VSCode key plus descendants. Do this at your own risk, and maybe export it first as a backup in case you change your mind.

[2021-07-26 07:22] KL13NT commented on #129373
CodeLens also reports 0 references to `COLOR_TYPE` despite importing and using the type in another file.

[2021-07-26 07:27] weinand commented on #129361
@isidorn IIRC we've removed the deprecated "Debuggers" contributions point for breakpoints, right?

[2021-07-26 07:29] iamkhalidbashir commented on #28905
One more https://marketplace.visualstudio.com/items?itemName=rslfrkndmrky.rsl-vsc-focused-folder

[2021-07-26 07:33] #129266 closed

[2021-07-26 07:40] sandy081 commented on #129346
duplicate of #128583

[2021-07-26 07:50] CryUshio opened #129375 "Promblem with removing brackets or quotes"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Darwin x64 19.5.0

Steps to Reproduce:

1. Open a `.ts` file
2. See this apng

![ezgif com-gif-maker](https://user-images.githubusercontent.com/30655354/126951434-9973f8cf-efe7-4f87-bec7-1ddf3db2c169.png)

Expected that a pair of brackets or quotes can be deleted.

[2021-07-26 08:12] systemRockstar commented on #129374
thank you but i don't wanna completely disable it from all context menus. only from context menu on desktop :)

[2021-07-26 08:15] emmenlau commented on #126144
Anyone?

[2021-07-26 08:41] kMutagene commented on #74501
This becomes an issue when looking at structured print output for data frames. it is important to be able to take a look at structured data while analyzing/transforming/visualizing it.

Here is a wide data frame print in F# via Deedle in comparison to a terminal that implements a horizontal scrollbar:

- VSCode:
![image](https://user-images.githubusercontent.com/21338071/126959820-a87f36a7-e4dd-45

[2021-07-26 08:42] stephanemagnenat commented on #129218
I'm having a problem that might be similar (but not sure): I have a reasonably-large Typescript project that used to work well, but since some weeks it looks like the TLS gets stuck after some minutes of use. Restarting VSCode (and hence the TLS) un-stucks it for a bit. For example, one of the last request when getting stuck is:
[code]

Compared to the log above, I never get a response... The TLS

[2021-07-26 08:46] TickboxPhil opened #129376 "unwanted - key dev PC VSC 1.58.2 has flipped into Insiders mode"
Issue Type: <b>Bug</b>

My key dev VSC 1.58.2 has flipped into Insiders mode, as the Jupyter notebook Markdown Theme is solid grey (not very workable) and suddenly has the new cell timers. But big problem is this is buggy - the Variables (in both Jupyter and normal .py) don't show in window (Problems and Terminal etc aok), which is critical.

Oddly, my other laptop also has exact latest 1.58.2 and

[2021-07-26 08:54] bersbersbers commented on #128309
I can reproduce this in Insiders now, see https://github.com/microsoft/vscode-remote-release/issues/5282#issuecomment-886506235

Basically, having Remote SSH installed, open
[code]
and try to view a PNG file. That won't work due to resource requests having "user@" being blocked. I am not sure this is an issue with VS Code or VS Code Remote (SSH), though, so I am posting this in both issues.

[2021-07-26 08:56] Kimtaehung123 opened #129377 "load picture error,can't display picture"
Issue Type: <b>Bug</b>

in the local,everything is ok.But in the remote connection, something is wrong,eg,picture load error,jupyter notebook markdown's hyperlink picture doesn't show.

![](http://r.photo.store.qq.com/psc?/V538xEDz3QAs2s3S63e53w6ipX1xnA6f/45NBuzDIW489QBoVep5mcaL.xpXLfiSWsfaAqCEBpTy7b81Aw6B3YQ4fA5LTap2oP*5hYpSTqtefwADDecqHnVMObzD7i6EGwS7w12NnNfg!/r)

VS Code version: Code 1.58.2 (c

[2021-07-26 08:57] lszomoru commented on #129213
Could you please file this issue agains [the extension's repository](https://github.com/Microsoft/vscode-mssql)? Thanks!

[2021-07-26 08:57] #129213 closed

[2021-07-26 08:57] hiroshi-nakajima345 commented on #129225
Where can I see the concept of  VSC  error code -32603 or error code inspect .
I want to know how to resolve  error code

[2021-07-26 08:59] hediet commented on #129375
Does this also happen when all extensions are disabled?

[2021-07-26 09:11] alexr00 commented on #129365
This documentation looks like it's about automatic port forwarding, where we try to make the remote port that your service is running available on your local machine.

The Mongo service you mention sounds like it's running on your remote machine. So if the port was auto forwarded then it may get the "matching" local port or it may not if it's already being used on your local machine.

[2021-07-26 09:12] #129365 closed

[2021-07-26 09:12] alexr00 commented on #129341
Can you please share your whole task?

[2021-07-26 09:12] CryUshio commented on #129375
@hediet Yes I disabled all extensions but the problem still exists.

[2021-07-26 09:15] isidorn commented on #128612
@weinand no. zen mode hides line numbers, but not the glyphMargin.

[2021-07-26 09:18] alexr00 commented on #128820
`asExternalUri` is the recommended way for extensions to get a URI that "works" in all VS Code situations (i.e., remote or not). `asExternalUri` will cause port forwarding to occur if it's needed, but the returned URI should be used immediately and not saved as it could change later. We don't plan to have finalized API that lets extensions control the details of a forwarded port (like the local po

[2021-07-26 09:18] gjsjohnmurray commented on #129374
Then try removing `HKEY_CLASSES_ROOT\Directory\Background\shell\VSCode`

[2021-07-26 09:19] hediet commented on #129375
It is not very easy to see what is going on in your gif (are you pressing arrow left or backspace?).
Can you explain what the issue is?

[2021-07-26 09:23] #129366 closed

[2021-07-26 09:23] alexr00 commented on #127496
The port forwarding is for you so that you can access your remote services locally 😄 you can turn if off if you don't like it (setting `remote.autoForwardPorts`, or just block 4000 by using `remote.portsAttributes`).

As to why it would use 4001 instead of 4000: there could already be something running on 4000, in which case VS Code will try another port.

[2021-07-26 09:26] JoranDox opened #129435 "order of json dicts not preserved in jupyter notebooks save files"
## Environment data

-   VS Code version: Version: 1.58.2
Commit: c3f126316369cd610563c75b1b1725e0679adfb3
Date: 2021-07-14T22:30:16.440Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.4.0-80-generic snap
-   Jupyter Extension version (available under the Extensions sidebar): v2021.8.1054968649
-   Type of virtual environment used N/A
-   Jupyter

[2021-07-26 09:27] CryUshio commented on #129375
@hediet You can try to move the cursor out of the brackets first, then move the cursor to the middle of the bracket and press
 the backspace:
![ezgif com-gif-maker](https://user-images.githubusercontent.com/30655354/126966098-33e85401-a133-4655-bdfd-12df656034d8.png)

[2021-07-26 09:27] dibyendumajumdar commented on #129361
It seems that I need to add following in the package.json:

[code]

I manually amended the package.json in the deployed extension and saw the breakpoints showed up in 1.58.

So the way this works was changed in 1.53? I didn't see any instructions related to this in the release notes.

[2021-07-26 09:29] magicsunny opened #129379 "Could you help to add a feature to show the search results in a separate editor page?"
Could you help to add a feature to show the search results in a separate editor page?
Just like the feature in "search" panel.

Thank you.

[2021-07-26 09:30] ankurskydev opened #129380 "Prompt option to close the vscode"
We have written the needed data into your clipboard because it was too larg
Issue Type: <b>Bug</b>

1. Open the vscode
2. A pop window appears "vscode cannot be opened"
3. Keep waiting, close, and cancel options

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info

[2021-07-26 09:35] hediet opened #129381 "Test: Injected Text Adoption For Inlay Hints"
Refs

- [x] anyOS @Tyriar
- [x] anyOS @alexr00

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129381%0A%0A)

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129381%0A%0A&assignees=hediet)

---

Inlay Hints now use the new Injected Text feature of the core editor.
This enables line wrapping to be aware of Inlay Hints and s

[2021-07-26 09:38] hediet commented on #129375
This looks as designed. Automatically inserted parentheses are not removed anymore when the cursor position was changed manually.

[2021-07-26 09:40] CryUshio commented on #129375
@hediet But this problem does not occur in previous versions.

[2021-07-26 09:46] hediet commented on #129375
You are right. Interesting.

[2021-07-26 09:49] weinand commented on #117722
@andreamah The issue is a cyclic context JSON that gets serialized over to the extension host via rpc.
@jdneo I've added a workaround and I could no longer reproduce the problem in the webview sample and in the Java extension.

[2021-07-26 09:51] byehack commented on #129294
@sandy081
also we have this problem when it should restart vscode for new update.

[2021-07-26 09:52] hediet opened #129383 "Test: Injected Text Adoption For Inline Suggestions"
Refs

- [x] anyOS @isidorn
- [x] anyOS @TylerLeonhardt

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129383%0A%0A)

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129383%0A%0A&assignees=hediet)

---

Inline Suggestions now use the new Injected Text feature of the core editor.
This fixes some issues that inline suggestio

[2021-07-26 09:52] weinand opened #129384 "Test new "run/debug" dropdown button"
Refs: #117722

- [x] macOS: @isidorn
- [x] linux @connor4312
- [x] windows @luabud

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129384%0A%0A&assignees=weinand)

---

This feature request tries to improve the user experience for the recently added contribution point "editor/title/run".

![2021-06-15_16-34-59 (1)](https://user-images.githubusercontent

[2021-07-26 10:09] rebecamurillo commented on #128910
Restart did not work for me.
Instead I did :
- Stop docker : systemctl stop docker
- Sign in VsCode with Github ... => signin OK this time
- Start docker again : systemctl start docker

[2021-07-26 10:10] 4086606 commented on #129139
Also we probably don't need landline after the new Guesslang update - https://github.com/yoeo/guesslang/issues/29#issuecomment-886262219

[2021-07-26 10:11] byehack opened #129385 "open terminal on both `editor` and `view` section when run a file."
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.58.2
- OS Version: win10 20h2

Steps to Reproduce:

1. set `terminal.integrated.defaultLocation` to `editor`.
2. try run a file.

https://user-images.githubusercontent.com/26390254/126971674-f4fd0881-6125-439b-a118-d68da7781291.mp4

[2021-07-26 10:12] 4086606 commented on #129004
Could extension languages be allowed to "claim" or associate with a language model? Possibly through a contributes.languages field

[2021-07-26 10:19] CryUshio commented on #129375
It is indeed a practical function, isn't it?

[2021-07-26 10:23] byehack opened #129386 "run a file create duplicate cmd messages."
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.58.2
- OS Version: win10 20h2

Steps to Reproduce:

1. set `terminal.integrated.defaultLocation` to `editor`
2. try run a file.

https://user-images.githubusercontent.com/26390254/126973897-54a95e89-5bf8-46c4-9fa4-b638a19da1b2.mp4

[2021-07-26 10:27] Jiia commented on #129031
@mjbvz Hey! After fully closing all other projects running on my machine I couldn't reproduce the minimal test case anymore. The error reproduces reliably with any of the bigger projects I have so I obtained the TS server log for one of the big projects.

However since it's private project I would not want to share the tsserver.log publicly.

[2021-07-26 10:29] byehack opened #129387 "move terminal section from `View` to `Editor`."
move terminal section from `View` to `Editor` when `drag&drop` or `terminal.integrated.defaultLocation` = `editor`.

it can be like this icon to add directly in editor tabs secation:
![image](https://user-images.githubusercontent.com/26390254/126974540-6f1dc94b-2614-441b-babc-8acfd316004d.png)

or add `Terminal` to the `...` in editor.

[2021-07-26 10:34] DeeparthGupta commented on #128724
+1

[2021-07-26 10:39] daominhhieu commented on #129341
This is my whole task
`"tasks": [
      {
        "label": "IAR Build",
        "type": "shell",
        "command": "\"C:\\IarBuild.exe\"",
        "args": [
          "\".\\IAR_RL78_IDE_Workspace\\project.ewp\"",
          "-build",
          "Debug",
          "-log",
          "info"
        ],
        "group": "build",
        "problemMatcher": {
          "fileLocation": "absolute",

[2021-07-26 10:41] hediet opened #129388 "Reloading OSS spawns a new terminal"
See this gif:

![Animation](https://user-images.githubusercontent.com/2931520/126976324-00eeeab8-961f-46f0-9ac8-225cb242f61d.gif)

[2021-07-26 10:42] tparisotto opened #129389 "Zoomed out terminal glitch"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Windows 10 Pro Version 20H2

Steps to Reproduce:

1. Open Terminal tab in VS Code
2. Zoom out the terminal with `ctrl + -`
3. Execute commands that print text

The rectangle glitches will add up in the terminal window and will only disappear if the terminal is killed
![Screenshot 2021-07-26 123058

[2021-07-26 10:47] byehack opened #129390 "bug when pressing `Shift` and try to make a new terminal."
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.58.2
- OS Version: win10 20h2

Steps to Reproduce:

1. hold `Shift` and hover on this icon in terminal section:

![image](https://user-images.githubusercontent.com/26390254/126977134-0d712b7b-1237-41f2-91b2-b20d5745ed83.png)

2. it will be like this:

![image](https://user-images.githubusercontent.com/26390254/126977

[2021-07-26 10:58] byehack opened #129391 "BUG: settings editor not compatible with splitting functions."
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.58.2
- OS Version: win10 20h2

Steps to Reproduce:

https://user-images.githubusercontent.com/26390254/126978427-47daa708-54ea-4b47-8be2-7b92e7e867ac.mp4

[2021-07-26 11:01] IllusionMH commented on #129389
/duplicate of #106981

Please check Insiders build to see if it's still reproducible for you https://code.visualstudio.com/insiders/

[2021-07-26 11:01] #129389 closed

[2021-07-26 11:04] Tyriar commented on #10546
@mmis1000 we'll explore some of that in https://github.com/microsoft/vscode/issues/45407

[2021-07-26 11:16] byehack opened #129392 "DEBUG: option to not focus on terminal."
it usefull when `terminal.integrated.defaultLocation` set to `editor`:

https://user-images.githubusercontent.com/26390254/126980287-da4bae1c-1799-44a5-9260-67944c132bbf.mp4

[2021-07-26 11:17] CodeCrazy-ywt commented on #129362
My suggestion: change the text into "We cannot find any extension related to 'xxx'. Please check your spelling and try again."

[2021-07-26 11:19] ghylander opened #129393 "ReferenceError: atob is not defined when rendering images in a jupyter notebook when connected to a remote host"
Issue Type: <b>Bug</b>

instead of images an error stack is shown, this has been a recent change as last week it worked without issue

VS Code version: Code - Insiders 1.59.0-insider (955a1aca9a2e4473eec4f4bdc70506a3a7c43ca7, 2021-07-26T05:13:58.801Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No
Remote OS version: Linux x64 5.4.0-1051-aws

<details>
<summary>System Info</summary>

|It

[2021-07-26 11:20] CodeCrazy-ywt commented on #129362
@vscodebot I'm afraid these two issues arn't the same. :-/

[2021-07-26 11:23] CodeCrazy-ywt commented on #129372
Wow, that's amazing!!! 😆

[2021-07-26 11:24] DanTup commented on #119786
@bpasero is there any known workaround for this? I'm getting a lot of issues from users that are now seeing broken images in tooltips/completion documentation that used to work. It's not clear from this issue if this is likely to be fixed in the near-term so I'm wondering if I should remove some of the image/icon previews to avoid the reports.

[2021-07-26 11:25] #127555 closed

[2021-07-26 11:33] byehack opened #129394 "Scrollbar problem in terminal."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
- OS Version: win10 20h2

Steps to Reproduce:

https://user-images.githubusercontent.com/26390254/126982173-f1af9577-10e0-4619-8dc0-10fe89594bfe.mp4

[2021-07-26 11:43] dibyendumajumdar commented on #129361
Okay I see instruction in 1.42 release notes.

I will close this issue - but one question: was it necessary to make a breaking change?

[2021-07-26 11:50] byehack opened #129395 "`terminal.integrated.enablePersistentSessions` doesn't work."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
- OS Version: win10 20h2

Steps to Reproduce:

https://user-images.githubusercontent.com/26390254/126983513-374a01c8-613a-4a26-8f29-be56b1f26d1c.mp4

[2021-07-26 11:52] byehack opened #129396 "`files.defaultLanguage` doesn't work on reload."
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.58.2
- OS Version: win10 20h2

Steps to Reproduce:

https://user-images.githubusercontent.com/26390254/126984319-cd127102-49d9-46ce-997b-8fd67b72d0dd.mp4

[2021-07-26 11:56] isidorn commented on #129126
That is because you have been touching the Run button, not the Debug button. When we just Run (start without debugging) we do not hit breakpoints and we do not change the status bar color

[2021-07-26 11:56] #129126 closed

[2021-07-26 11:57] weinand commented on #129161
@yuehuang010, @xisui-MSFT please let me know if my editing has resulted in omissions or errors that needs to be fixed.

[2021-07-26 11:58] isidorn commented on #128768
Thanks for your feedback.
More details here on the motivation behind this change https://github.com/microsoft/vscode/issues/108439#issuecomment-871521843

I am open for adding an option in the future, but for now I prefer to keep this open to gather more feedback.

[2021-07-26 11:59] isidorn commented on #129326
Dup of https://github.com/microsoft/vscode/issues/70764

[2021-07-26 11:59] #129326 closed

[2021-07-26 12:01] isidorn commented on #129189
I do not have good ideas here apart from what you already mentioned. My best suggestion is to `git bisect` if you know this was working before.

[2021-07-26 12:05] Alonski commented on #100335
Adding another 👍  to this please :)

[2021-07-26 12:06] isidorn commented on #128851
Sorry for the slow response I was on vacation.
There are no plans to implement the "Details" window. Maybe this could be contributed by your extension using a custom tree?

And yes we currently use the `evaluate` only for "copy value".
Here's where the context is computed https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/browser/variablesView.ts#L440
So you can follow th

[2021-07-26 12:07] isidorn commented on #129038
Dup of opened issue "Context menu does not focus electron app"

[2021-07-26 12:07] #129038 closed

[2021-07-26 12:08] isidorn commented on #124343
@Ayonijakaushik19 feel free to open a PR once you have something and let us know.
We keep issues assigned only to internal team members.

[2021-07-26 12:09] isidorn commented on #128780
This can be controlled using the
`explorer.sortOrder` and the `explorer.sortOrderLexicographicOptions` settings

[2021-07-26 12:09] #128780 closed

[2021-07-26 12:11] isidorn commented on #128726
I can not reproduce this. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2021-07-26 12:11] tbrodbeck commented on #129038
👍  Can you maybe provide a link to the other issue? I cannot find it

[2021-07-26 12:11] #128982 closed

[2021-07-26 12:13] isidorn commented on #128400
@connor4312 I am not aware of a change that would directly cause this. Though I was on vacation so I might have forgot.
Are there some repro steps?

[2021-07-26 12:13] isidorn commented on #127929
No action planned here since I can not reproduce

[2021-07-26 12:13] #127929 closed

[2021-07-26 12:13] sschneider-ihre-pvs commented on #127848
In all its beauty
![recording(2)](https://user-images.githubusercontent.com/86342787/126986796-75fc2267-aa47-4fad-a496-6ffd9b703978.gif)

[2021-07-26 12:14] isidorn commented on #128862
I can not reproduce, this works just fine for me. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2021-07-26 12:17] isidorn commented on #128538
I unfortunately can not reproduce this.
Since you seem to be able to repro, can you please F1 > developer tools > put a breakpoint [here](https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/files/browser/fileCommands.ts#L329) and try to figure out why the activeFile is not being revealed

[2021-07-26 12:18] isidorn commented on #128508
This is a known limitation. However I could not find the duplicate so let's keep this one open.

[2021-07-26 12:20] isidorn commented on #128595
I think this makes sense. However we should have a global workbench setting, and not a setting per area. So the user could just flip one setting, and it is up to various workbench areas to respect this setting. Due to that I suggest to name this
`workbench.reduceMotion`. And in the setting description to explain that this is only supported for now by the welcome page...
`preferReducedMotion` is no

[2021-07-26 12:21] AlexanderLanin opened #129398 "GUI broken for manual settings sync"
Does this issue occur when all extensions are disabled?: Yes/No
Yes

- VS Code Version: 1.58.2
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Settings sync is already enabled on one setup
2. Change some settings on a second setup
3. Turn on settings sync on second setup
4. In the appearing conflict window select merge manually

Effect:
![image](https://user-images.githubuserconte

[2021-07-26 12:21] alexr00 commented on #129080
Reverting my change in favor of a better change using the terminal API in August.

[2021-07-26 12:31] SuporteSysrs01 commented on #119786
This issue is affecting Dart Code's icon previewing, which is something really useful while developing a Flutter application. I'm sticking to an older version of VSCode just to prevent this from happening, as having to

[2021-07-26 12:32] viveks1986 commented on #129219
![image](https://user-images.githubusercontent.com/8513549/126989087-31dd92a6-96d4-4bde-bd71-ff1aa1da67b8.png)

[2021-07-26 12:33] SuporteSysrs01 commented on #119786
This issue is affecting Dart Code's icon previewing, which is something really useful while developing a Flutter application.

I'm sticking to an older version of VSCode just to prevent this from happening, as having to open a separate documentation just to see what an icon looks like is a pain.

Is there any plan to fix this in the near-term?

[2021-07-26 12:35] lszomoru commented on #129380
@ankurskydev, could you please provide a screenshot of the error that you are seeing when opening VSCode? Thanks!

[2021-07-26 12:36] #128834 closed

[2021-07-26 12:37] isidorn commented on #128582
I just came back from vacation and this week is endgame, should we move this to August?
Or let me know how I can help?

[2021-07-26 12:38] lszomoru commented on #129396
@bpasero, @lramos15 seems like the untitled file icon does not honour the default language setting.

[2021-07-26 12:40] matklad commented on #124988
This is tagged as "needs more info", but I don't think I have anything else to add. To sum up:

The current [API signature and docs](https://github.com/microsoft/vscode/blob/main/src/vs/vscode.d.ts#L6626-L6667) can be read as implying that the proper escaping is done, while this isn't the case

This is a much bigger deal than the usual "docs are unclear" -- this functionality is security sensitive

[2021-07-26 12:40] hediet commented on #129375
I think this was introduced with https://github.com/microsoft/vscode/commit/270109115a74dee1aba8bf687b7be4995a723db0 to fix #118270.

I leave it to @alexdima to decide if this is a bug or a feature.

[2021-07-26 12:43] isidorn commented on #124770
@bersbersbers thanks for feedback. Can you please create a new issue for your use case? Thanks

[2021-07-26 12:44] Yanshu2000 opened #129399 "Lk"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2021-07-26 12:48] isidorn commented on #128648
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog for now. Thanks

[2021-07-26 12:50] udf2457 opened #129400 "HTML style tags not parsing with minified css"
Issue Type: <b>Bug</b>
VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:09:06.581Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

1. Create new document, choose HTML file type
2. Create a simple base structure, e.g. :

[code]

3. Grab some minified CSS e.g. in my case Twitter Bootstrap (https://github.com/twbs/bootstrap/blob/main/dist/css/bootstrap.min.css

[2021-07-26 12:51] realh commented on #128508
I did subsequently find the issue that this duplicates, but it had been closed by a bot: #25911.

[2021-07-26 12:51] isidorn commented on #121129
On the other hand I see how we should maybe behave like we do in the editor -> if there are multiple editor groups pressing Esc would still keep focus in the editor.

So after giving it some more thought I think this request makes good sense.
And we can introduce a keybinding chord of `esc esc` that would move focus out of the notebook editor

[2021-07-26 12:52] #128372 closed

[2021-07-26 12:52] isidorn commented on #128372
This issue has not steps and there are no actionable items I can take from this.

[2021-07-26 12:52] stephbur commented on #128726
I just realized that somehow the apt repo was disabled and I was not using the newest version of VS Code.
After updating to 1.58.2 the issue does not appear anymore.

[2021-07-26 12:56] isidorn commented on #128628
Dup of New File Input Box closes for file events in the background.

[2021-07-26 12:56] #128628 closed

[2021-07-26 12:58] isidorn commented on #95428
@mrgrieves4 thanks for your feedback. If you do not want to be prompted you can always explicitly set the 	`"editor.accessibilitySupport": "on"` in your settings.

As for word wrap not working there is a technical limitation why we are not doing this that I tried to explain here https://github.com/microsoft/vscode/issues/95428#issuecomment-614564888

[2021-07-26 13:01] isidorn commented on #128480
Please try this setting
`"debug.showInlineBreakpointCandidates": false`

If breakpoints still appear for your use case we can fine tune this setting to be a string..

[2021-07-26 13:03] SmartHypercube commented on #128628
Could you please give a link to the original issue? I searched "New File Input Box closes for file events in the background" in issues but didn't find anything related. I would like to subscribe to that issue's notifications.

[2021-07-26 13:05] madeincosmos commented on #35307
Yes please, this would be super helpful for me as well.

[2021-07-26 13:08] isidorn commented on #128326
Forwarding to @alexr00 since she owns the custom tree experience

[2021-07-26 13:09] meshv-p opened #129401 "app.js file"
Issue Type: <b>Bug</b>

hey I'd written my app.js file in vs code but some technical error so my vs code did close. I reopened my vs code, and what i saw, my app.js is totally blanked. it showed me blank file!!!.
my all code has gone!!!!.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<de

[2021-07-26 13:10] isidorn commented on #128449
Seems like the status bar item has a width limit, @bpasero did we introduce this on purpose? I think it makes sense, just the rendering could be done better.

[2021-07-26 13:10] meshv-p commented on #129401
my issue.

[2021-07-26 13:11] isidorn commented on #128172
Thanks for finding this, I can look into a fix.

[2021-07-26 13:14] DominicVTroy opened #129402 "Settings Bug"
Issue Type: <b>Bug</b>

When Editing Settings If you change lots of settings on and off The Settings sync Turns off Because Of To meny Settings changed At 1 Time.

VS Code version: Code - Insiders 1.59.0-insider (04485223ebc6a075f39966bf9b3e261359ac7818, 2021-07-23T19:21:12.120Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|

[2021-07-26 13:17] lszomoru commented on #129056
Could you please try the troubleshooting steps documented [here](https://github.com/microsoft/vscode/wiki/Keybinding-Issues).

[2021-07-26 13:18] isidorn commented on #128988
Dup of https://github.com/microsoft/vscode/issues/121148

[2021-07-26 13:18] #128988 closed

[2021-07-26 13:18] lszomoru commented on #129065
If upgrading does not help, please follow [these steps](https://github.com/microsoft/vscode/wiki/Keybinding-Issues) to further troubleshoot the problem. Thanks!

[2021-07-26 13:18] isidorn commented on #128726
Great, closing then.

[2021-07-26 13:18] #128726 closed

[2021-07-26 13:19] isidorn commented on #129047
I can not reproduce this issue. Can you please attach a video showing the problem?

[2021-07-26 13:20] #129306 closed

[2021-07-26 13:21] isidorn commented on #129361
Sorry about the breaking change. And I am glad you found the instructions on how to mitigate.
It was necessary.

[2021-07-26 13:21] #129361 closed

[2021-07-26 13:22] lszomoru commented on #129300
Could you please follow [these steps](https://github.com/microsoft/vscode/wiki/Performance-Issues) to collect additional information that would help us track down the root cause. Thanks!

[2021-07-26 13:25] jibinflotilla opened #129403 "white patches all over the vs code"
Issue Type: <b>Bug</b>

while opening vs code it is showing white patches all over the screen

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 5 4600H with Radeon Graphics          (12 x 2994)|
|GPU Status|2d_c

[2021-07-26 13:26] Pit-Storm commented on #95428
Could it be a solution to talk to the team of NVDA to solve this in a sustainable way?

Or another solution could be insert a `\n` in a long line, that they are read correctly and in addition giving a shortcut that reads out "Line xxx part x of y."? So that you have the ability to get the information which line it is and how many wraps it have.

I am just thinking creative, because this line wrapp

[2021-07-26 13:27] martin-braun commented on #129306
@isidorn Can you please link the issue this issue is a duplicate from, I wasn't able to find it through search and I would like to upvote. Thanks in advance.

[2021-07-26 13:28] isidorn commented on #129347
`	"explorer.sortOrder": "modified"`

[2021-07-26 13:28] #129347 closed

[2021-07-26 13:30] isidorn commented on #128423
Dup of https://github.com/microsoft/vscode/issues/123771
fyi @joaomoreno

[2021-07-26 13:30] #128423 closed

[2021-07-26 13:33] hiroshi-nakajima345 commented on #129225
<error message>
①Syntax error on token ".", ; expected java(1610612940)[7,9]
②mt3_sample4.java is a non-project file, only syntax errors are reported java(16)[1,1]
<my question>
How should I do to resolve  above two article?
teach me.

[2021-07-26 13:34] Fabian1976 opened #129404 "Add option config.forcePullTags"
I'm seeing messages like this on our repos when syncing with vscode:
[code]

I've searched the issues and everyone seems to think that the "solution" is to disable the pulling of tags. That seems more of a temporary work-around to me. I want/need the tags to pull. Now i could do it manually and add a `--force` to the pull command, but it would be nicer to have a configuration parameter that would

[2021-07-26 13:34] adaex commented on #129326
I started to use the public beta of codespaces last year. At that time, the audit was very fast and passed in a few days. As far as I know, it should be slow now. A friend of mine has applied for more than a month and is still waiting for approval.

[2021-07-26 13:36] prater-devin commented on #95428
I just use extensions to work around no wrapping in VS Code. If they won't
do it for us, we find a way. I believe the extension I use is called
"rewrap". It is because of this extension that I was able to do my work of
creating courses, in Markdown format, on Windows using VS Code. The fact
that an extension does what the VS Code team "cannot" do is interesting.
Thankfully, Linux, Emacs, and Emacs

[2021-07-26 13:36] JustinGrote opened #129405 "Allow specifying the link in debug console"
@roblourens
## Problem Statement
If I use a custom logger that implements the imported console.log because I want to see the logs in the debug window, the links all point to where I called console.log, not where I called my custom logger.

### Contrived Example
![image](https://user-images.githubusercontent.com/15258962/126997901-d6e9c8f7-ec84-490e-a901-278013ec9c48.png)

## Feature Request
vscode

[2021-07-26 13:44] lszomoru commented on #128573
@sandy081 and myself have looked at this and there indeed seems to be a problem when the `Azure Machine Learning - Remote` extension is being enabled as part of trusting a workspace. While we are working to track that down, we would like to suggest that you try the following:
1. is there any reason why this extension defines both `workspace` and `ui` as extensionKind in the package.json? If there

[2021-07-26 13:45] isidorn commented on #128698
I can not reproduce this. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2021-07-26 13:45] alexr00 commented on #128326
The current API doesn't provide a way to do this.

[2021-07-26 13:46] isidorn commented on #127716
@jasonwilliams yeah, `home` or `cmd + left` for first element, `end` or `cmd+right` for last element.

[2021-07-26 13:48] isidorn commented on #128060
I think terminal now supports being dragged out to the editor area, it should also be possible to open multiple terminals side by side. So closing as designed and @Tyriar can correct me if I am wrong.

[2021-07-26 13:48] #128060 closed

[2021-07-26 13:50] isidorn commented on #127899
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog for now. Thanks

Though it might be seen as a duplicate of make the workbench font customisable

[2021-07-26 13:52] isidorn commented on #122537
Thanks for providing more details. I think this makes sense and I suggest that we close this until we get direct user feedback regarding this.

[2021-07-26 13:52] RollingSquirrel opened #129406 "Implement interface only working after specifying import"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Windows x64

### Description
I am developing an express.js application with TypeScript.
The "Implement interface" usually available with shortcut or "Quick Fix" stopped working in my project over time.
This seems very odd to me since I did not change anything in the `tsconfig.json` during this tim

[2021-07-26 13:58] Kimtaehung123 opened #129407 "Cannot find renderer for text/plain AND Error loading preloads"
Issue Type: <b>Bug</b>

Cannot find renderer for text/plain AND Error loading preloads.
This is the screenshot.
![](http://r.photo.store.qq.com/psc?/V538xEDz3QAs2s3S63e53w6ipX1xnA6f/45NBuzDIW489QBoVep5mcf*6hw3bzMOd.tgAEiqbSisX7iplKQtF43g.KWy2fgc9FQXN7UXO0fMxGt8hR8AhqQOuDvIgh*70oTAOASeK.o0!/r)

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS vers

[2021-07-26 13:58] Kimtaehung123 opened #129441 "Cannot find renderer for text/plain AND Error loading preloads"
Issue Type: <b>Bug</b>

Cannot find renderer for text/plain AND Error loading preloads.
This is the screenshot.
![](http://r.photo.store.qq.com/psc?/V538xEDz3QAs2s3S63e53w6ipX1xnA6f/45NBuzDIW489QBoVep5mcf*6hw3bzMOd.tgAEiqbSisX7iplKQtF43g.KWy2fgc9FQXN7UXO0fMxGt8hR8AhqQOuDvIgh*70oTAOASeK.o0!/r)

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS vers

[2021-07-26 14:01] misolori commented on #129372
Thanks for the feedback. Please see https://github.com/microsoft/vscode/issues/115641 where we are tracking a similar request. Will be closing this one as a duplicate.

[2021-07-26 14:01] #129372 closed

[2021-07-26 14:04] Kimtaehung123 commented on #129407
This problem is happening only on the remote connection .When running locally,everything is ok.

[2021-07-26 14:12] ansaardollie opened #129408 "Request for better tooling around zen mode"
Currently developing an extension that helps Angular developers code better. It toggles the workbench Zen Mode feature however there is very little tooling available in the VS Code Extension API that allows for any interaction with this workbench mode.

At the very least having a `window.onZenModeToggle()` event listener / `window.zenModeEnabled` field would solve all of the issues I am currently

[2021-07-26 14:17] andrewarchi commented on #125952
I've been using VS Code since at least 2016 and have accumulated a 1012-line-long settings.json file. Fuzzy search is invaluable in discovering and comparing settings and the pencil is great for enumerating options. The split-pane JSON view is so effective compared to GUI-oriented configuration in other IDEs, which suffer from poor discoverability, low information density, and slow click-based UI.

[2021-07-26 14:20] TylerLeonhardt commented on #129004
Guesslang merged in the big PR that adds 24 more languages I think 🎉 I'll get that updated in vscode today. Yay JSON support!

[2021-07-26 14:23] rakleed opened #129409 "In Start Menu, don't add app shortcut to folder"
Issue Type: <b>Bug</b>

1. Install VS Code with standard settings
2. Open Start Menu and find VS Code

Please do not add an application shortcut to a folder in the Start Menu by default, as this will result in more steps to be taken to launch the application. However, there is no benefit in this behavior. Most likely it depends on https://github.com/microsoft/vscode/blob/3d5b13265dbdb5f09929ced2ec

[2021-07-26 14:25] misolori commented on #129308
Please see https://github.com/microsoft/vscode/pull/52707#issuecomment-519462107

[2021-07-26 14:28] jwarkentin commented on #74501
A horizontal scrollbar would be awesome but even without that, if it's too technically complex for some reason, just having the option to have the terminal cut off lines rather than wrap them would go a very long way.

[2021-07-26 14:28] Megabyteceer commented on #128480
I tried "debug.showInlineBreakpointCandidates": false for global and for workspace level. It is changed nothing. Breakpoints still appears in random place of the line.

[2021-07-26 14:28] davidkjackson54 commented on #128326
Why has this been closed before we have had chance to respond?
If it isn't availbale hten make it an Enhancement request.

[2021-07-26 14:30] raphievila commented on #104292
I guess this is another basic feature sent to backlog by Microsoft developers, as the basic reply to comment for Teams on desktop. I guess common sense is not so common on Microsoft.

Using Remote Desktop on iOS I thought I needed to use the app keyboard and activate the `SHIFT` key, since the `SHIFT` key on the magic keyboard doesn't work... so text selection does not even work with a keyboard ei

[2021-07-26 14:32] misolori commented on #129290
Closing for the same reasons that others have already mentioned.

[2021-07-26 14:32] #129290 closed

[2021-07-26 14:45] isidorn commented on #128480
Yeah I guess that setting only changes that we do not show the gray dots (candidates).
So your issue is a fair feature request to introduce a setting for.

[2021-07-26 14:45] lszomoru opened #129410 "Test: Workspace trust - trust parent folder in remote scenarios"
Refs: #128691

- [x] wsl @rzhao271
- [x] ssh @weinand

Complexity: 3

Authors: @lszomoru, @sbatten

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129410%0A%0A&assignees=lszomoru,sbatten)

---

This milestone we have added the capability to trust the parent folder in the remote scenarios.

### Startup prompt
1. Open an untrusted folder in VSCode in a window connected

[2021-07-26 14:52] hediet opened #129411 "Adopt injected text for ghost text"

[2021-07-26 14:52] hediet commented on #129411
Fixed in by #128337.

[2021-07-26 14:52] #129411 closed

[2021-07-26 14:56] hediet opened #129412 "Adopt injected text for inlay hints"

[2021-07-26 14:56] hediet commented on #129412
Implemented by #128646.

[2021-07-26 14:56] #129412 closed

[2021-07-26 15:04] #128217 closed

[2021-07-26 15:05] #128617 closed

[2021-07-26 15:05] drpicox commented on #94307
I was having this problem, and it turns out that it was the plugin gitlens.

[2021-07-26 15:05] lszomoru commented on #122537
Thanks @isidorn for the continued guidance. Closing this issue for now.

[2021-07-26 15:05] #122537 closed

[2021-07-26 15:05] #128742 closed

[2021-07-26 15:07] #128870 closed

[2021-07-26 15:07] #128891 closed

[2021-07-26 15:08] #128908 closed

[2021-07-26 15:08] #128993 closed

[2021-07-26 15:08] #129046 closed

[2021-07-26 15:12] #129399 closed

[2021-07-26 15:12] RandomFractals commented on #125819
@jrieken even the current output data array is chopped off: https://github.com/RandomFractals/vscode-data-table/issues/30#issuecomment-886771648

would be nice to be able to read raw binary data from cell output.

![data-array-loading-error](https://user-images.githubusercontent.com/656833/127013539-15c336bb-1ca1-46eb-a0cf-1b3a18ba9b4b.png)

[2021-07-26 15:13] rebornix commented on #129077
@Tyriar I always use keybindings ctrl+j or ctrl+`. For hiding the terminal, I always run ctrl+j. Not sure if this has anything to do with window reloading. I'll share more if I run into this again.

[2021-07-26 15:14] rebornix commented on #126880
@alceballosa do you have `editor.mouseWheelScrollSensitivity` for the text editor?

[2021-07-26 15:15] RandomFractals commented on #119127
related: https://github.com/microsoft/vscode/issues/118275#issuecomment-864090911

[2021-07-26 15:16] manojjayakar opened #129413 "not syncking"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-07-26 15:16] rebornix commented on #129393
Since we use `atob` in the ipynb serialzier as well, not sure if it's a Jupyter extension issue or the core.

[2021-07-26 15:17] #129413 closed

[2021-07-26 15:19] meganrogge commented on #129395
I can't reproduce the issue. Are you seeing any errors in dev tools?

![recording (39)](https://user-images.githubusercontent.com/29464607/127013997-1d07735a-548e-4536-8c79-65c20e72c5bd.gif)

[2021-07-26 15:21] sgoossens commented on #129187
https://github.com/sgoossens/vscode-issue

[2021-07-26 15:22] rasatizdast opened #129414 "emmet auto complete not working"
Issue Type: <b>Bug</b>

Emmet's auto complete doesnt work. when i want to use emmet this error pops up
Running the contributed command: 'emmet.expandAbbreviation' failed.
i don't know what to do please help.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</su

[2021-07-26 15:23] drpicox commented on #128834
I am not sure about it, I did some research before adding the issue, and looking one by one from suggested ones it seems that I cannot find an exact duplicated:

- #129047, **no**
- #128853, **no**
- #128698, **no**
- #128648, **no**
- #128538, **no**
- #127818, **no**
- #127746, **no**
- #127596, **no**
- #126872, **no**
- #126842, **no**
- #126817, **no**
- #126450, **no** (kind of tricky title,

[2021-07-26 15:23] alceballosa commented on #126880
Hi @rebornix , that's right.

[2021-07-26 15:23] tenzinhl opened #129415 "User tasks can't be run in single file mode"
Issue Type: <b>Bug</b>

Steps to reproduce:

- Freshly install vscode on Windows 10
- Open a single file (not folder or workspace)
- Open command palette
- See that "Tasks: *" commands are available (Expected: not available, since tasks are not supported when opening single files)

The rest of the steps are the confusing behaviors that I experienced because I thought the UI was telling me that I c

[2021-07-26 15:23] isidorn commented on #129408
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog for now. Thanks

[2021-07-26 15:24] isidorn commented on #129343
Not sure if there is anything we can do here, but forwarding to @bpasero so he can decide if this can be improved in IO layer

[2021-07-26 15:27] drpicox commented on #27286
Agree: #128834

[2021-07-26 15:29] misolori commented on #115641
Adding a couple of Fluent design concepts from [Zee-Al-Eid Ahmad Rana](https://twitter.com/zeealeid/status/1419028143738867714) that are relevant:

![image](https://user-images.githubusercontent.com/35271042/127016013-41ed6d6e-2b9b-4e9d-9533-199dcee0bee6.png)

![image](https://user-images.githubusercontent.com/35271042/127016036-acfb2f9c-c6e7-4d74-90e4-617eb72c8ea7.png)

[2021-07-26 15:32] sandy081 commented on #120702
To verify:

- Search for Python extension
- Make sure number badge is not shown on the extension icon
- Open the extension and go to Extension Pack tab
- Make sure you can install/uninstall the extensions listed there independently.

[2021-07-26 15:33] sandy081 commented on #125092
To verify:

- Open Keyboard Shortcuts editor
- Right click on an entry and make sure you have an action to copy the command title
- Make sure this action works as expected

[2021-07-26 15:35] meganrogge opened #129416 "Test: setting an extension contributed profile as the default one"
Refs: https://github.com/microsoft/vscode/issues/127573

- [x] macOS @gregvanl
- [x] linux @mjbvz
- [x] windows @karrtikr

Complexity: 2

Authors: @Tyriar, @meganrogge

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129416%0A%0A&assignees=meganrogge,Tyriar)

---
Now that extensions can [contribute profiles](https://github.com/microsoft/vscode/issues/124793), we've ad

[2021-07-26 15:36] #129278 closed

[2021-07-26 15:36] greazer opened #129417 "Native IW - Goto Code icon not available when code is collapsed"
Often I know what cell the IW is referring to even when it's collapsed. So it's really convenient to just see the one line of the cell in the IW and then be able to jump to it quickly.

Here's the old IW:
![image](https://user-images.githubusercontent.com/11685408/127017010-495c9da8-12b8-44a1-a415-f99c4f3ca872.png)

Here's the new:
![image](https://user-images.githubusercontent.com/11685408/127017

[2021-07-26 15:40] mbaas2 opened #129418 "Search-Tool does not handle case-insenstive searches correctly"
Issue Type: <b>Bug</b>

I am trying to do a case-insenstive search and it is not working as expected.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz (12 x 2904)|
|GPU Status|2d

[2021-07-26 15:41] meganrogge opened #129419 "Test: terminal drag and drop between windows"
Refs: https://github.com/microsoft/vscode/issues/126387

- [x] macOS @donjayamanne
- [x] linux @connor4312
- [x] windows @claudiaregio

Complexity: 3

Authors: @Tyriar, @meganrogge

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129419%0A%0A&assignees=meganrogge,Tyriar)

---
Try dragging and dropping between windows:
- terminals in the editor area to the tabs list
-

[2021-07-26 15:42] greazer opened #129420 "Native IW (and notebooks really) There's no reason to show mime-type selection for output when a cell is collapsed."
Why bother showing the ellipses when a cell is collapsed? Adds unnecessary noise and may seem like a broken feature for some users, since choosing a different mimetype on a cell with collapsed output doesn't do anything visible.
![image](https://user-images.githubusercontent.com/11685408/127017478-cd961166-45f8-4c4b-b26a-4b17f86cb049.png)

[2021-07-26 15:44] sandy081 opened #129421 "Test custom hovers in extensions view"
Ref https://github.com/microsoft/vscode/issues/126479, https://github.com/microsoft/vscode/issues/118511

- [x] macOS @kimadeline
- [x] linux @karthiknadig
- [x] windows @lszomoru (Dev Container)

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129421%0A%0A&assignees=sandy081)

---

Extensions in extension viewlet now shows custom hovers. Please test th

[2021-07-26 15:45] sandy081 opened #129422 "Test extension view UX improvements"
Ref https://github.com/microsoft/vscode/issues/126479, https://github.com/microsoft/vscode/issues/118511

- [x] macOS @rebornix
- [x] linux @karthiknadig
- [x] windows @hediet

Complexity: 5

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129422%0A%0A&assignees=sandy081)

---

- Test extensions viewlet improvements
  - Rating and install count are shown only for unin

[2021-07-26 15:45] Tyriar commented on #129140
To verify make sure all profiles work, including extension contributed profiles

[2021-07-26 15:46] mbaas2 commented on #129418
Sorry for the hazzle. I assume this is intended behaviour - make sense, actually...

[2021-07-26 15:46] #129418 closed

[2021-07-26 15:46] greazer opened #129423 "Native IW - (Minor issue for now) Menu's appear under the input box."
Not a huge deal, especially in this case since this would likely only be a problem if the cell is collapsed AND we continue to show the "choose mimetype" option (Bug #129420). But could be problematic in the future or in scenarios I'm not considering at the moment.
![image](https://user-images.githubusercontent.com/11685408/127018471-c4721854-5ec2-4bfd-9249-e9ce8181f740.png)

[2021-07-26 15:50] sandy081 commented on #129294
Makes sense to prompt when VS Code is restarting.

[2021-07-26 15:57] sandy081 opened #129424 "Testing installing and uninstalling extensions"
Ref https://github.com/microsoft/vscode/issues/128114

- [x] anyOS @digitarald
- [x] anyOS @alexr00

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129424%0A%0A&assignees=sandy081)

---

Extensions installing and uninstalling has been refactored to support bulk extension enablement support. So please smoke  test installing and uninstalling extensions i

[2021-07-26 15:57] bersbersbers opened #129425 "Chosen user-settings debug launch configuration not remembered"
I was asked to post this in https://github.com/microsoft/vscode/issues/124770#issuecomment-886668938.

Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
- OS Version: Windows 10, Remote SSH into Linux

Steps to Reproduce:

1. Have a launch config in your user `settings.json` (let' say "Python: Current File", which makes sense in any folder or workspace)
2.

[2021-07-26 15:58] bersbersbers commented on #124770
Thanks, done: https://github.com/microsoft/vscode/issues/129425

[2021-07-26 15:59] connor4312 commented on #129405
The recommended way to deal with this is to use the `skipFiles` option in your launch config. The location we show on the log output will be the first non-skipped location in the stack trace.

[2021-07-26 16:01] JustinGrote commented on #129405
@connor4312 nice, is this documented anywhere?

[2021-07-26 16:03] #128263 closed

[2021-07-26 16:03] Tyriar opened #129426 "Move contributed profiles into own section when creating terminal with profile"
![image](https://user-images.githubusercontent.com/2193314/127021410-4ca2670f-839f-495d-9458-6d5d2fd75325.png)

[2021-07-26 16:04] isidorn commented on #128135
I can not reproduce. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2021-07-26 16:05] meganrogge opened #129427 "contributed profiles aren't always showing up in intellisense"

[2021-07-26 16:06] byehack commented on #129294
also it can be makes sense when user trying to close app.
it should warn for incomplete procceings before users close app.

[2021-07-26 16:08] connor4312 commented on #129405
It's under one of the bullets [here](https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_skipping-uninteresting-code). Yes, it's a little hard to find since you sort of have to know to look for it.

[2021-07-26 16:08] meganrogge opened #129428 "Test: terminal editors should be marked as dirty when the shell has child processes"
Refs: https://github.com/microsoft/vscode/issues/127193

- [ ] macOS
- [ ] linux
- [ ] windows

Complexity: 2

Authors: @Tyriar, @meganrogge

---
**Note that if you press `Don't Save`, the dirty indicator won't ever be shown again for that terminal.**

Check that:
- you don't see the indicator unless there's a process
- you see an indicator and get prompted when closing a terminal editor with a pr

[2021-07-26 16:09] joyceerhl commented on #129420
Cell inputs and outputs can be separately collapsed. Is the cell output collapsed in this screenshot? If cell output is not collapsed, I think it's legitimate to render the output actions menu so users can change the renderer for the output.

[2021-07-26 16:10] joyceerhl commented on #129423
Duplicate of https://github.com/microsoft/vscode/issues/127576

[2021-07-26 16:10] isidorn commented on #128129
Looks like a custom tree request, thus forwarding to @alexr00

[2021-07-26 16:14] meganrogge opened #129429 "Test: newWithProfile command intellisense and keybinding"
Refs: https://github.com/microsoft/vscode/issues/129140

- [x] macOS @weinand
- [x] linux @JacksonKearl
- [x] windows @tanhakabir

Complexity: 2

Authors: @Tyriar, @meganrogge

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129429%0A%0A&assignees=meganrogge,Tyriar)

---
See https://github.com/microsoft/vscode/issues/126738 for context.

Check that:
- you can provide

[2021-07-26 16:15] byehack commented on #129395
![image](https://user-images.githubusercontent.com/26390254/127022924-ed4e6ab2-40bb-4ece-8545-ab350bd9577a.png)

i can see only this error on each reload.

[2021-07-26 16:16] rzhao271 commented on #129414
I'm not too sure about what's happening here.

Can you check the following comment and see if it helps?
https://github.com/microsoft/vscode/issues/128835#issuecomment-881530481

[2021-07-26 16:22] connor4312 commented on #128400
Sure:

1. Have any JavaScript program that runs for a while. Don't hit any breakpoints
2. Enter `2 + 2` in the console. There's no output (this is going to the parent session)
3. Click on the session in the Call Stack view or hit a breakpoint to focus it
4. Enter `2 + 2` again. Now you get back 4 since it goes to the right session

[2021-07-26 16:26] fabiospampinato commented on #115641
IMO those look **amazing**. I'm just somewhat concerned about wasted space. I'd be interesting to see  what the app would look like under macOS, where there's one global menubar and it's fairly common not to have a titlebar at all.

[2021-07-26 16:31] TylerLeonhardt commented on #129004
Today, the model uses file extensions. Here's an example:
[code]

we take that `languageId` and run it through VS Code's internal API to map that "model language id" to VS Code's language mode:

[code]

There could be a situation where two languages share the same file extension. This is something that needs to be handled...

[2021-07-26 16:32] #129427 closed

[2021-07-26 16:33] TylerLeonhardt commented on #129004
I've now updated the model to what is in the master branch in @yoeo's guesslang repo 🎉 tomorrow's insiders will support JSON, YAML, and more!

(also I debounced the event so perf should be way better now)

[2021-07-26 16:35] #129426 closed

[2021-07-26 16:35] tompinataro opened #129430 "Unresponsive keyboard in VSCode when attempting to edit code"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: most recent downloaded 10 days ago
- OS Version: Big Sur 11.4

Steps to Reproduce:

1. Reboot MacBook Pro
2. Open any file in VS Code
2. get unresponsive keyboard
3.  Can this be fixed or does VS Code need to be removed and reinstalled?

[2021-07-26 16:36] sajibAdhi opened #129431 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `github`
- Extension Version: `0.0.1`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.58.2`

:warning: Unresponsive

[2021-07-26 16:37] roblourens commented on #129370
This way would preserve the `\r` if they exist, if they are expected to be preserved, I don't know

[2021-07-26 16:38] tompinataro commented on #129430
The keyboard became unresponsive while editing an HTML file in VS Code.
I opened a new file, pasted some html and attempted to edit the lines and only the arrow keys would work. The space key only worked as to advance the location of the cursor.

[2021-07-26 16:39] meganrogge commented on #127951
Moved to August since the API finalization of #128228 will happen then

[2021-07-26 16:40] TylerLeonhardt commented on #129364
do you have gnome-keyring installed?

[2021-07-26 16:40] TylerLeonhardt commented on #129364
@NotDiamondZ do you have the same exact error as @justingolden21? Word for word?

[2021-07-26 16:44] rebornix opened #129433 "Update "Create Jupyter Notebook" command in Python extension"
![image](https://user-images.githubusercontent.com/876920/127026879-bb18b39c-ae84-452b-bed7-780228e97221.png)

Now we introduced new workflow for creating jupyter notebook, we should update this page too.

[2021-07-26 16:51] weinand commented on #128058
Since VS Code has not yet implemented this API, it does not make sense to verify it and add it to the release notes for the July 2021 release.
So I will move it to August 2021.

[2021-07-26 16:55] #129212 closed

[2021-07-26 16:57] joyceerhl commented on #129433
The Python extension is deprecating their custom start page in favor of using the Getting Started APIs https://github.com/microsoft/vscode-python/issues/16678

After we implement the New File... contribution for Jupyter notebooks we can ensure that their new start page picks up the new flow.

[2021-07-26 16:58] scsleal commented on #129432
This also happens with code cells, but in a different way. Try to type some code in code cell after this procedure.
The color of ```notebook.focusedCellBorder``` changes.

[2021-07-26 16:58] meganrogge commented on #128354
closed w https://github.com/microsoft/vscode/commit/66ec8a2fcc7f5b5458b968e3c8d279c9a1bad218

[2021-07-26 16:58] #128354 closed

[2021-07-26 17:01] #128564 closed

[2021-07-26 17:02] krkarel commented on #69665
This issue persists for me as well. This happens every time the computer resumes from sleep and is only resolved by terminating the shell and opening a new one. Artifacts also appear and build up over time during normal use.
[code]

[2021-07-26 17:03] meganrogge commented on #124968
We believe this is fixed by the fix for #128564. Please let us know if you see this in tomorrow's insider's.

[2021-07-26 17:04] meganrogge commented on #127520
can't repro, believe it's been fixed

[2021-07-26 17:04] #127520 closed

[2021-07-26 17:16] TylerLeonhardt opened #129436 "Test: Automatic untitled file language detection"
Refs: #129004

- [x] anyOS: @isidorn
- [x] web @claudiaregio

Complexity: 2

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129436%0A%0A&assignees=TylerLeonhardt)

---

Try out the experimental automatic untitled file language detection!

Configure the setting:
* runs regardless of what language mode you're currently in:
[code]
* runs only on plaintext:
[code]
* does

[2021-07-26 17:17] #128283 closed

[2021-07-26 17:21] meganrogge commented on #129395
Can you reproduce this if you comment out your settings?

[2021-07-26 17:23] meganrogge commented on #128805
@tamnguyenchi93 that's by design

[2021-07-26 17:23] #128805 closed

[2021-07-26 17:28] meganrogge commented on #129430
does this happen in other apps too or just when using an editor in vscode?

[2021-07-26 17:29] meganrogge commented on #129394
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2021-07-26 17:30] arbipher commented on #128998
Hi, I search "hover position" to find this issue and if it's not the right place, I will delete the reply and create a new one.

I use an extra large mouse cursor and the left part of common hover tooltip in vscode is usually covered by the cursor.

If the hover offset position would be set in the preference, I can shift the tooltip out of the cursor..

[2021-07-26 17:30] meganrogge commented on #129386
Can you please explain in words what you're expecting and what the actual behavior is?

[2021-07-26 17:30] deepak1556 opened #129437 "Allow scoping devtools to a particular frame"
Extracted from https://github.com/lostintangent/codeswing/issues/50

With OOPIF webview, extensions don't have a way to scope the top-level devtools to the frame. Can electron hook into `content::RenderFrameDevToolsAgentHost` to fix this ?

Issue is mostly to experiment with above idea.

[2021-07-26 17:32] connor4312 commented on #129328
This was actually something we never supported. But we will in the next [nightly](https://github.com/microsoft/vscode-js-debug#nightly-extension) 🙂

[2021-07-26 17:32] #129328 closed

[2021-07-26 17:45] byehack commented on #129395
yes i can reproduce this with all settings commented out and all extensions disabled.

[2021-07-26 17:47] VIGNESHinZONE opened #129438 "Remote SSH not working after the recent update."
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.58.2
- OS Version: Ubuntu 20.04
- Server: AWS EC2 instance

[code]

This error has started only since today. I'm able to connect via ssh on my command line but not on VS code.
I had installed the latest updates yesterday and I have also reinstalled VS code twice to verify.

[2021-07-26 18:01] isidorn commented on #129220
I can not reproduce. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/
Also do you have a better steps, or a video to show this better?

[2021-07-26 18:07] meganrogge commented on #129395
Can you reproduce this in insider's?

[2021-07-26 18:08] DonJayamanne commented on #129435
Oh yes, looks like we aren't doing that.

[2021-07-26 18:10] Masauso-L commented on #129065
Hello,
Thank you for the follow up. After uninstalling and reinstalling, the editor is now functioning ok.
Once more thank you for your help.

[2021-07-26 18:16] deepak1556 commented on #129403
/gifPlease

Does starting with `--disable-gpu` help ?

[2021-07-26 18:18] christo070 opened #129442 "False detection of 'PROBLEMS'"
Issue Type: <b>Bug</b>

The issue occur occasionally when writing code, so I could not provide exact steps to reproduce it.
Visual Studio Code showing False detection of errors at 'PROBLEMS' in panel( the panel where Problems, Output, Debug Console and Terminal Sections are present ). It is showing errors based previous typed characters because it  occasionally freeze updating the 'problems sectio

[2021-07-26 18:20] byehack commented on #129394
yes. fixed in insiders build.

[2021-07-26 18:20] #129394 closed

[2021-07-26 18:21] roblourens commented on #128582
Actually, this was implemented in https://github.com/microsoft/vscode/pull/128801

[2021-07-26 18:21] #128582 closed

[2021-07-26 18:26] andreamah commented on #128148
Verification steps:

1. Uncheck this setting (or set `livePreview.tasks.runTaskWithExternalPreview` to `false`)
![image](https://user-images.githubusercontent.com/31675041/127039376-b0a2f187-33e7-456d-8009-d0151680d6dd.png)
2. Use the command palette or other means to open an external preview, when doing this, the task should not run automatically.
3. When setting  `livePreview.tasks.runTaskWithEx

[2021-07-26 18:26] #126629 closed

[2021-07-26 18:28] byehack commented on #129386
https://user-images.githubusercontent.com/26390254/126973897-54a95e89-5bf8-46c4-9fa4-b638a19da1b2.mp4

look at 0:50 of video.
there is a extra printed:
[code]
at first of terminal.
it shouldn't happen.

[2021-07-26 18:32] GilShoshan94 opened #129443 "vscode `editor.tabCompletion` and `editor.suggest.preview` are not working as expected with rust-analyzer"
Does this issue occur when all extensions are disabled?: Not relevant I think as I need the Rust Analyzer extension.

- VS Code Version: 1.58.2
- OS Version: Windows 10 (64 bits)

Hi, I already open this issue in the rust-analyzer project as it seemed more probable an issue on their side but after reply of two of their contributors (@Veykril and @flodiebold) suggest I open the issue here in vscode

[2021-07-26 18:33] connectdotz opened #129444 "[Test Explorer] multiroot-workspace related issues"
Issue Type: <b>Bug</b>

1. the TestController displayed `id` instead of `label` in the explorer
2. the test coverage did not display the overall (all workspaces) nor updated when the "active" workspace controller is changed
3. not sure if this is intended, but how should we run the coverage profile?

VS Code version: Code - Insiders 1.59.0-insider (Universal) (955a1aca9a2e4473eec4f4bdc70506a3a7c43

[2021-07-26 18:37] byehack commented on #129395
yes even insider's.

[2021-07-26 18:41] andreamah opened #129445 "Test VS Code Live Preview"
Refs https://github.com/microsoft/vscode-livepreview/issues/71

- [x] macOS @deepak1556
- [x] linux @mjbvz
- [x] windows @devinvalenciano

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129445%0A%0A&assignees=andreamah)

---
General testing for the Live Preview Extension.

## Set up:
Download the latest Live Preview version (`0.2.5`) from the [marketpl

[2021-07-26 18:46] rbrisita commented on #128854
@sandy081:

` code --extensions-dir .\.vscode\extensions --install-extension dbaeumer.vscode-eslint --force`

Hope this helps!

[2021-07-26 18:54] andreamah commented on #127732
Steps for verifier:
1. Start the Live Preview server.
2. Open the vscode devtools panel to see which port the websocket is running on.
![image](https://user-images.githubusercontent.com/31675041/127042848-421fd71b-de45-4012-b4a2-69b0ff9c1614.png)
3. Manually try to connect to the port via a custom script. ie:
[code]

The custom script should not be able to connect.

[2021-07-26 18:58] rzhao271 opened #129448 "Test: Object Validation in the Settings Editor"
Refs: https://github.com/microsoft/vscode/issues/128429

- [x] macOS @TylerLeonhardt
- [x] linux @brettcannon
- [x] windows @hediet

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129448%0A%0A&assignees=rzhao271)

---

1. Create an extension, or find an existing extension.
2. Add an object setting where `additionalPropeties` is either `false` or an obj

[2021-07-26 19:04] SpineEyE commented on #102795
Seeing that this was fixed for electron 13 and the vscode main branch uses electron 13, will this work in the next vscode version?

[2021-07-26 19:05] connor4312 commented on #124083
So, we now have _some_ concept of order in that `TestItemCollection.replace` takes an array of items (although you can still individually .add and .delete items). However, I also am not sure I want to make "order by extension order" something in the UI, since usually that won't be meaningful to users. Ultimately for Mocha execution is determined by evaluation order of each module (i.e. when `suite

[2021-07-26 19:11] connor4312 commented on #129198
You could use the `setContext` command (e.g. `vscode.commands.executeCommand('setContext', 'profiledTests', testIdArray)` and then have a contribution like `testId in profiledTests`. If you have thousands of cases that could lead to performance concerns, but that could be a good start.

[2021-07-26 19:13] connor4312 commented on #129444
(1) was just fixed in https://github.com/microsoft/vscode/commit/472a308b0357b50c46fd4a18b71052e336abe355. Test coverage is still a WIP, tracking under https://github.com/microsoft/vscode/issues/123713.

[2021-07-26 19:13] #129444 closed

[2021-07-26 19:19] #127585 closed

[2021-07-26 19:21] TylerLeonhardt opened #129449 "Test: forceRecreate proposed API"
Refs:

- [x] anyOS @rebornix
- [x] anyOS @sandy081

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129449%0A%0A&assignees=TylerLeonhardt)

---

We added a 3rd property to the options in `vscode.authentication.getSession` it allows you to ask the user to re-sign in. This is great for situations when SSO is lost on a token (like for GitHub).

To test thi

[2021-07-26 19:21] connectdotz opened #129450 "[Test API] not able to disable individual test run/debug with RunProfile"
Issue Type: <b>Bug</b>

In our extension (vscode-jest), we used the external jest watcher to auto-run tests when the tests or related source files change. In such use case, we used to disable manual test run for the individual test items (`TestItem.runnable = false`), while still supporting "restarting" the jest watch run for the workspace item. However, after switching to the new RunProfile, we l

[2021-07-26 19:36] misolori opened #129451 "Kernels are not detected on open files when installing recommended extensions"
https://user-images.githubusercontent.com/35271042/127048054-a9dfa6d1-3d47-46a7-98c0-ef7d619fb952.mp4

Jupyter: v2021.8.1066828098
Python: v2021.7.1060902895
Version: 1.59.0-insider (Universal)
Commit: 955a1aca9a2e4473eec4f4bdc70506a3a7c43ca7
Date: 2021-07-26T05:12:43.446Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Darwin arm64 20.5.0

Steps to Reproduce:

[2021-07-26 19:37] roblourens commented on #129370
Discussed with @DonJayamanne, he plans to update this during debt week

[2021-07-26 19:44] matkatmusic commented on #128780
It was set to the default order, and default lexicographic order.  It seems like the sort code for drag-and-drop operations doesn't take into account numbers that appear in the file or folder name.

[2021-07-26 19:46] chrisdias opened #129452 "Show Running Tasks error"
[code]

Steps to Reproduce:

1. open `microsoft/vscode` repo (I use WSL with the vscode repo on `Ubuntu 20-04`, although i had the same thing with a GH Codespace)
2. f1, choose `Tasks: Show running Tasks`

Result:

![image](https://user-images.githubusercontent.com/1487073/127049251-4d766ff3-4d03-45f2-aa5b-f28a162292e0.png)

[2021-07-26 19:49] TylerLeonhardt commented on #128896
@nelsonov can you try these steps and see how they go? https://github.com/microsoft/vscode-docs/pull/4666/files

Someone is interested in contributing a potential solution to your problem.

[2021-07-26 19:52] rzhao271 opened #129453 "Settings editor text input background lacks contrast in Quiet Light theme"
In Insiders (though the issue is probably in Stable, too):
1. Use the Quiet Light theme
2. Navigate to the settings editor.
3. Search "emmet". `emmet.extensionsPath` and `emmet.includeLanguages` settings should show up in the results.
4. Add at least one non-empty entry to each setting.
5. Edit both entries/place both entries in edit mode.
6. 🐛 On the inputbox that is not focused, the inputbox bac

[2021-07-26 19:54] #129453 closed

[2021-07-26 19:56] deepak1556 commented on #129280
Very likely missing some libs in the package, does it crash with the rpm build as well ? Also please check if the issue happens with insiders https://code.visualstudio.com/insiders

[2021-07-26 19:59] misolori commented on #128998
Ok, I just reproduced the issue and maybe we can set a delay for hiding the hover when the scrollbar is visible? This is a bit annoying:

![CleanShot 2021-07-26 at 12 42 28](https://user-images.githubusercontent.com/35271042/127050546-2c68ce37-94b4-47ce-99d9-7c660c4e9e60.gif)

[2021-07-26 20:13] deepak1556 commented on #128567
Please follow the steps below to get following two traces:

1) Main process

[code]

2) Workbench process

[code]

[2021-07-26 20:19] #127656 closed

[2021-07-26 20:19] #125240 closed

[2021-07-26 20:23] justingolden21 commented on #129364
I'm not sure what the other error is word for word, but I've posted my screenshot so you can see it. Everything seems to work fine in VS code, I don't know what I did to cause it, so I'm probably not of much help.

[2021-07-26 20:30] Corallus-Caninus opened #129454 "when right clicking, my context menu is sometimes opened and immediately clicks an entry"
Issue Type: <b>Bug</b>

This occurs about 1/4 of the time everytime I right click. I have begun ablating my extensions to see if one of them is the culprit but it's frequent enough I thought I should open an issue. Please let me know how I can be of further assistance.

1. right click
2. menu is opened and immediately closed selecting an entry, sometimes formatting/altering
    the current page.

[2021-07-26 20:36] deepak1556 opened #129455 "Test: electron 13 update"
Refs: https://github.com/microsoft/vscode/pull/124666

- [x] macOS @rzhao271
- [x] linux @mjbvz
- [x] windows @andreamah

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129455%0A%0A&assignees=deepak1556)

---

We plan to promote Electron 13 in this milestone for Stable. Download the latest released Code Insiders build from [here](https://builds.code.vi

[2021-07-26 20:46] leilapearson commented on #27759
Just a quick mention that PR #97272 was merged and released a while back.

This may resolve your issue @Sytten

[2021-07-26 20:50] connor4312 commented on #129450
The plan for this is to introduce test tags: https://github.com/microsoft/vscode/issues/122208#issuecomment-881922046

Let me know if you see any problems with that for your scenario.

[2021-07-26 20:51] connor4312 opened #129456 "Support test tags"
Thanks for the feedback on runnability. I'm considering something like this, but will continue to think it over:

So for example you could have a custom "runnable" tag not present on subtests, and the presented Go scenario could have a "runnable-darwin" tag to indicate a test only runnable on a certain platform/under certain configurations.

[code]

_Originally posted by @connor4312 in https://git

[2021-07-26 20:51] DonJayamanne commented on #129393
This has been fixed here https://github.com/microsoft/vscode/pull/129282

[2021-07-26 20:53] grudloff commented on #129393
I am experiencing the same issue on a local server. For me, this happens only with previously run notebooks, if I re-run the notebooks the figures are rendered as usual.

[2021-07-26 20:56] #128445 closed

[2021-07-26 20:56] rebornix commented on #129370
<img width="1273" alt="image" src="https://user-images.githubusercontent.com/876920/127057863-aee58cc5-287c-4fd2-81a1-2e5a1b8e45d1.png">

Another potential improvement we can make for the serializer is indentation detection. Not sure how it's implemented but it has caused quite a lot of GC (which I think can be improved by checking whitespace and line break char codes).

[2021-07-26 20:57] Sytten commented on #27759
Thanks @leilapearson I will try it 👍

[2021-07-26 20:57] jidar opened #129457 "file:/// scheme folder links don't work in terminal"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Linux x64 5.4.0-80-generic

Steps to Reproduce:

1.  open a vscode window
2.  open the embedded vscode terminal
3. type any file path to a path that exists, but prepended with the uri 'file:///' prefix (example: file:////home/somedir)
4.  ctrl+click on that path
6. An error message appears: "Unabl

[2021-07-26 20:58] bucknerns commented on #129457
+1

[2021-07-26 21:00] TylerLeonhardt commented on #128445
verification steps:

* have a terminal editor
* ctrl+p/cmd+p
* verify your terminal editor is there in recently opened
* try to search for your terminal editor by typing a character or two
* verify your terminal editor is still there in recently opened

[2021-07-26 21:06] connectdotz commented on #129456
hmmm... I am wondering why introducing yet another identifier (tag), would it be simpler and more flexible by just ask the TestItem if they support the profile? for example
[code]

[2021-07-26 21:06] TylerLeonhardt commented on #129297
I can't verify this in VS Code Insiders. Can you verify if you're seeing the problem in insiders:
https://code.visualstudio.com/insiders/

[2021-07-26 21:06] Koushal725 opened #129459 "C program is not running"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-07-26 21:07] firelizzard18 commented on #129198
Yeah that would work 🤦

[2021-07-26 21:07] #129198 closed

[2021-07-26 21:07] #129459 closed

[2021-07-26 21:09] TylerLeonhardt commented on #129139
So I'm still trying to understand this scenario... can you give an example where 2 extensions on the marketplace have conflicting file extension associations?

I feel like when we detect there's a conflict, we should do something (and in fact we might already ask the user to choose) but I'm not sure.

I know we have this:
![image](https://user-images.githubusercontent.com/2644648/127059413-65b2963

[2021-07-26 21:13] es50678 commented on #3352
also having the same need. would like for blocks to collapse to a single line

[2021-07-26 21:13] TylerLeonhardt opened #129460 "Remove github auth via PAT"
As @Tyriar has mentioned in https://github.com/microsoft/vscode/issues/120416#issuecomment-883396156

Settings Sync no longer supports PAT logins. As such, we should no longer have an ability to supply a PAT for `github` auth because it's just confusing to the user when they get an error.

I'll keep PAT auth for `github-enterprise` since that is not used with Settings Sync.

[2021-07-26 21:14] DonJayamanne commented on #129370
I agree, we can just look at the string immediately after the first `{` & before the next character.
Ideally it would be of the form:
[code]
Thus all we need to know is the white space between the first `{` and the next non-whiespace character.
& if there are no line feeds, then I think we can ignore indents completely.
Thoughts on that, @rebornix /cc

[2021-07-26 21:16] alisalahio commented on #129297
Hey @TylerLeonhardt, I faced the problem again once I installed insiders, but then it went away.
It also went away in the stable version. I'll wait till I catch it again then upload a video of it :D

[2021-07-26 21:16] DonJayamanne commented on #129451
Looks like a bug in Jupyter extension, i'll look into this.

[2021-07-26 21:17] connor4312 commented on #129456
We need to know that information statically. Or we would have to call that method for every test item as soon as it's created and assume it never changes for its lifetime. Using tags to correlate them in a declarative way removes that assumption.

[2021-07-26 21:18] TylerLeonhardt commented on #129297
I don't know if you are turning on a screen reader at all but the quick input behavior changes a bit when a screen reader is active.

I'll go ahead an close this for now since there's no actionable steps for me but feel free to drop a video here and I can reopen/get a new issue going.

[2021-07-26 21:18] #129297 closed

[2021-07-26 21:19] DonJayamanne commented on #129332
Interesting. i would have expected the same, would like to learn why we use regex here (there probably is a good reason for this)

[2021-07-26 21:19] connectdotz commented on #129450
thanks, @connor4312 As long as we can enable/disable the runProfiles at the TestItem level and update the UI (run/debug buttons) accordingly, it should work. But maybe we can get away with yet another identifier like tags? Anyway, I left the comment in #129456 for further discussion

[2021-07-26 21:20] roblourens commented on #129083
That issue is fixed now but mine still reproes

[2021-07-26 21:20] TylerLeonhardt commented on #129204
Interesting. So maybe we need @sandy081 in here too.

[2021-07-26 21:24] connor4312 commented on #129450
Ok, cool. Let's merge this into that one then

[2021-07-26 21:24] #129450 closed

[2021-07-26 21:28] DonJayamanne commented on #129393
The fix was merged today, please wait for the latest insider build tomorrow.
If the problem still persists, please do let us know & we'll be happy to re-open  this issue, or please feel free to create a new issue.

[2021-07-26 21:31] connectdotz commented on #129456
But it is not static though... if the profile changed, wouldn't the test item tag might change as well? Also if the user changed their settings like disable jest watch mode, we do want the test items to be able to run again, i.e. change the tags?

[2021-07-26 21:39] sangeeth96 commented on #129191
@usernamehw that's neat, great work!

I still think it'd be nice to have this built-in to vscode 😄

[2021-07-26 21:42] TylerLeonhardt commented on #129029
Thanks for the feedback! We have assigned it to the localization team to take a look. We're still ironing out this new triage process so bear with us.

[2021-07-26 21:43] connor4312 commented on #129456
That's fine, but it's more that we can't call a method on demand. For example, whenever you hover over an item in the test tree, we need to know whether to show the run/debug button. We _always_ need to know when to show the "run all" and "debug all" buttons. I think "declarative" is a better word than "static"

Yea, you'd be able to change the tag either on every test item, or on the RunProfile i

[2021-07-26 21:46] Colengms opened #129461 "Support HTML as walkthrough media"
Currently, walkthrough "media" nodes only support images, and markdown.  This request is to add a field for HTML media.

My motivation for requesting this is to better support localization of content.

To support localization of markdown files in in walkthroughs, a check was added which chooses an appropriate markdown file based on automatically appending(?) a language value to the specified path.

[2021-07-26 22:00] JacksonKearl commented on #129461
With Markdown being something of a superset of HTML, is it possible for you to simply treat the HTML data as a markdown document and provide that?

[2021-07-26 22:03] Colengms commented on #129461
@JacksonKearl I've tried specifying an HTML file in the "markdown" field, but nothing was displayed.  In order for HTML parsers to deal properly with the file, it needs to be in HTML form.

[2021-07-26 22:04] JacksonKearl commented on #129379
We have `Search Editor`s which look as follows:
![recording (30)](https://user-images.githubusercontent.com/8586769/127065109-fe4207e7-e4ef-4b80-8395-911acd8b093a.gif)

If you'd like you can use these by default by configuring the `search.mode` setting to `newEditor`.

[2021-07-26 22:11] connectdotz commented on #129456
I think I see your points.

And looks like you don't want to use "id" of the profile either? So basically tags, like `kind`, is just another way to "group" profiles for TestItem... hmmm... maybe we don't need 2 grouping mechanisms? "Kinds" can be just pre-defined system tags? This will also benefit use cases, like ours, who can operate on the "kind" level of granularity without creating/managing r

[2021-07-26 22:14] shinotheshino opened #129462 "Feature: support for custom keyrings on Linux/MacOS"
Currently, the authentication provider extensions (Microsoft/GitHub) use `keytar` to store passwords in keyrings on Linux/MacOS. I use custom user-data and extension directories to keep my personal and work installations of VSCode separate; however, when I sign into Microsoft, for example, in my work instance, I am also logged in in my personal instance, which is undesirable. This is due to keytar

[2021-07-26 22:38] joyceerhl opened #129463 "Test: `ipynb` file support out of the box"
Refs: https://github.com/microsoft/vscode/issues/128495

- [x] web @weinand
- [x] macOS @Tyriar
- [x] windows @greazer
- [x] linux @TylerLeonhardt

Complexity: 3

Authors: @roblourens @joyceerhl @DonJayamanne @rebornix

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129463%0A%0A&assignees=joyceerhl,roblourens,DonJayamanne,rebornix)

---

This iteration we added out o

[2021-07-26 22:46] mjbvz commented on #129401
Closing since it sounds like the issue was fixed. If not, please provide more information about how to reproduce the problem

[2021-07-26 22:46] #129401 closed

[2021-07-26 22:47] mjbvz commented on #129377
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)?

If so, please share details about the image file, such as its path so we can try to reproduce this

[2021-07-26 22:48] mjbvz commented on #129373
Please share a small example project that demonstrates this issue. You can create a very simply GitHub repository for this

[2021-07-26 22:53] King911939 opened #129464 "george"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2021-07-26 23:04] mjbvz commented on #129312
Please share example code (as text) or a small example project that demonstrates the issue

[2021-07-26 23:07] #127385 closed

[2021-07-26 23:08] mjbvz commented on #129305
This is consistent [with how CommonMark renders that example](https://spec.commonmark.org/dingus/?text=100.%20My%20item.%0A%0A%20%20%20%20This%20text%20should%20be%20indented%20not%20a%20code%20block%2C%20which%20it%20is%20for%20item%201-99%20but%20100%2B%20its%20turned%20into%20a%20code%20block%20in%20VSCode.) and [how markdown-it renders it too](https://markdown-it.github.io/#md3=%7B%22source%22

[2021-07-26 23:08] #129305 closed

[2021-07-26 23:09] mjbvz commented on #129292
Closing as outdated TS version

[2021-07-26 23:09] #129292 closed

[2021-07-26 23:14] misolori commented on #127070
This was already fixed via https://github.com/microsoft/vscode-codicons/issues/71 & https://github.com/microsoft/vscode/commit/b78904a19ac4b7191cfdeb512a9367b5afa593b4

[2021-07-26 23:14] #127070 closed

[2021-07-26 23:16] mjbvz opened #129465 "Test JS/TS inlay hints"
Test for #16221

- [x] AnyOS @kimadeline
- [x] AnyOS @rchiodo

Complexity: 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129465%0A%0A&assignees=mjbvz)

---

## Overview

This issue focuses on testing the JS/TS implementation of inlay hints. While testing, please also open issue for issues you notice with the implementation of inlay hints themselves as well

This

[2021-07-26 23:19] elahehrashedi opened #129466 "'config.property.duplicate' error when activating the extension"
recently, we are getting this error when activating the CmakeTools extension:

![image](https://user-images.githubusercontent.com/16143955/126562520-dede44af-c3d0-4fd6-810d-005bd20c66c3.png)

[2021-07-26 23:24] connor4312 commented on #129456
I see your point. The tag direction came out of the Go tags that @firelizzard18 mentioned, where tests are tagged to run (or not) on certain platforms or on different build tags. The functional change is that, in the tag approach, adding a new run profile that applies to all tests is the default behavior and requires no mutation, where if IDs were listed individually it would require every test to

[2021-07-26 23:37] JacksonKearl commented on #129461
Could you provide an example of the HTML you'd like to render? I'd expect it to generally render if placed in the markdown field, but we do some sanitation that can result in removing the whole tree.

[2021-07-26 23:46] roblourens opened #129467 "Test: Run By Line in Jupyter notebooks"
Refs: #126431, #128582

- [x] windows @alexr00
- [x] linux @bamurtaugh
- [x] macOS @misolori

Complexity: 3

Authors: @roblourens, @DavidKutu

[Create Issue](https://github.com/microsoft/vscode-jupyter/issues/new?body=Testing+%23129467%0A%0A&assignees=roblourens,DavidKutu)

---

- Install ipykernel 6 or newer, which has debugging support
[code]

- Make sure you have the latest version of the Jupyt

[2021-07-26 23:53] spazmodius opened #129468 "Update changed my default terminal to pwsh??"
Does this issue occur when all extensions are disabled?: Yes

[code]

### Steps to Reproduce:
I think all I did was install an update of vscode.

My default shell was `cmd`, but it changed without my input to `pwsh`.  If I exit the first terminal and open a new one, it does open `cmd`.

Trying `Select Default Profile` does not seem to do anything.  If I close vscode, it starts `pwsh` the next time

[2021-07-26 23:55] rzhao271 opened #129469 "The settings editor inputbox could be larger"
1. In the settings editor, search for the `emmet.extensionsPath` setting
2. Add in an example extensions path
3. 😕 Edit that path, and realize how small the inputbox seems:

![Demo step 3](https://user-images.githubusercontent.com/7199958/127073720-fdca76fb-c560-4b4f-b9c0-79ca08301202.PNG)

The inputbox is currently small in order to handle settings like object or exclude settings, but it should g

[2021-07-26 23:58] Colengms commented on #129461
I tried it with an example file from here: https://www.w3schools.com/html/html_examples.asp  It looks like it works if I remove `doctype`, `html` and `body` tags.  Could I convince you to allow those, to make authoring as simple as possible?  :)  If not, I should be able to get the HTML parser I'm using (parse5) to omit them when emiting, but am not certain.

Also, could you remind me of the namin

[2021-07-27 00:09] tompinataro commented on #129430
Just in VS Code.

[2021-07-27 00:16] firelizzard18 commented on #129456
@connor4312, the tags you describe feel like the tags mechanism for GitLab CI more than Go tags, which is a good thing IMO.

### Go tags

In effect, Go tags are a Boolean Algebra. Each tag is mapped to a boolean variable, and answering "should I compile this file" requires evaluating a boolean expression. Each tag that is defined, either implicitly by GOOS/GOARCH or explicitly by `-tags foo,bar`,

[2021-07-27 00:16] pcgeek86 opened #129470 "Emojis with skin tone are not properly rendered in VSCode Integrated Terminal"
Does this issue occur when all extensions are disabled?: **Yes**

- VS Code Version: 1.58.2
- OS Version: Windows 10 Build 21387

Steps to Reproduce:

1. Run Python 3 in VSCode Integrated Terminal
2. Paste code below

[code]

Here's how VSCode Integrated Terminal renders it:

![image](https://user-images.githubusercontent.com/466713/127075255-a7598835-37eb-445c-8652-0245fed3b1e4.png)

Here's what

[2021-07-27 00:18] rzhao271 commented on #125742
@hediet can you provide some verification steps for this issue (assuming it's not on a testplan item)?

[2021-07-27 00:19] connor4312 commented on #128506
The old debuggers are being removed next month, so I will just assign this to that iteration since it'll be fixed at that point.

[2021-07-27 00:21] #127557 closed

[2021-07-27 00:21] connor4312 commented on #127396
I think is fixed now, please let me know if not.

[2021-07-27 00:21] #127396 closed

[2021-07-27 00:23] connor4312 commented on #124721
Adding you Matt since the TS team implemented this and is pending review into VS Code

[2021-07-27 00:29] connor4312 opened #129471 "Test finalized testing apis"
Refs: https://github.com/microsoft/vscode/issues/122208

- [x] anyOS @donjayamanne
- [x] anyOS @meganrogge

Complexity: 5

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129471%0A%0A&assignees=connor4312)

---

In this iteration, we finalized the initial set of testing APIs.

- Play with the testing-related APIs found in vscode.d.ts. Note any comments, concerns, or p

[2021-07-27 00:32] connor4312 opened #129472 "Test finalized renderer messaging API"
Refs: https://github.com/microsoft/vscode/issues/123601

- [x] anyOS @roblourens
- [x] anyOS @isidorn

Complexity 4

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23125016%0A%0A)

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23129472%0A%0A&assignees=connor4312)

---

Renderers do not use standard webview messaging, so we created a new me

[2021-07-27 00:56] asklar opened #129473 "Checkboxes do not render in an Extension's README"
Does this issue occur when all extensions are disabled?: Yes/No
Yes

- VS Code Version: 1.57.0
- OS Version: 22000.100

Steps to Reproduce:

I wrote an extension, and have a readme.md at the root, where I use checkboxes like:
[code]

However, the extension page in VSCode renders those as list items without the checkboxes

![image](https://user-images.githubusercontent.com/22989529/127078031-2e587a

[2021-07-27 01:03] kieferrm opened #129474 "Extension telemetry log output channel"
1.59.0-insider
955a1aca9a2e4473eec4f4bdc70506a3a7c43ca7
arm64

Out of the box I see two output channels named `Log (Extension Telemetry)`:

![image](https://user-images.githubusercontent.com/4674940/127078052-729b1648-1685-443c-97c7-6fad4065701e.png)

There should be only one, and it should be below the separator as it is not specific to a specific extension. It's comparable to `Log (Extension Hos

[2021-07-27 01:07] kieferrm opened #129475 "Telemetry entry is in the wrong place"
1.59.0-insider
955a1aca9a2e4473eec4f4bdc70506a3a7c43ca7
arm64

The order should be
- Settings
- Online Services Settings
- Telemetry Settings
- Extensions

![image](https://user-images.githubusercontent.com/4674940/127078633-99b8786c-393c-46c4-851b-eace4f4d3873.png)

[2021-07-27 01:14] roblourens commented on #129438
Nothing changed on our end. Does a command like `echo "echo hello" | ssh -v -o ConnectTimeout=15 -T -D 45689 <your host>` work?

[2021-07-27 01:18] roblourens commented on #129391
Can't tell what is going on, you moved it from one group to another? "Split Editor" works as normal on this. You can also hold alt and drag to copy to another group.

[2021-07-27 01:19] roblourens commented on #129270
Are you using the Python extension to activate your conda environment in terminals?

[2021-07-27 01:20] roblourens commented on #129357
Sorry, I don't know what this video is showing. I need more details

[2021-07-27 01:21] #129185 closed

[2021-07-27 01:26] roblourens commented on #129136
You clicked the Debug button in the notebook toolbar, and _not_ the "Run and Debug" button in the sidebar, right?

[2021-07-27 01:27] roblourens commented on #129171
Most likely there is a weird CR character in the file, and now git is normalizing it for you. Glad it works for you now!

[2021-07-27 01:36] JacksonKearl commented on #129461
Yes, the code is here: https://github.com/microsoft/vscode/blob/6d882a2750aadef4881afead4f0842acf9b186f6/src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.ts#L442-L445

Basically: take the filename (doc.md) and locale (en-us), the resolve the first of `doc.nls.en-us.md`, `doc.nls.en.md`, `doc.nls.md`

[2021-07-27 01:37] meganrogge commented on #129395
@Tyriar thoughts?

[2021-07-27 01:39] A-Pai commented on #129136
I get it，thank you very much

[2021-07-27 01:46] A-Pai commented on #129136
Did you mean click this button？
![image](https://user-images.githubusercontent.com/5112397/127081693-b1c5b295-03a9-4e6a-ab92-8fa3b7ad10db.png)
but it will not hit the breakpoint：
![image](https://user-images.githubusercontent.com/5112397/127081792-08f23c24-1b73-4c6b-88c8-fd4b8e274759.png)

[2021-07-27 01:47] roblourens commented on #129136
That is the Run By Line button (it works!). There is another button that says "Debug" in the toolbar at the top of the notebook. It's visible in your previous post.

[2021-07-27 01:50] A-Pai commented on #129136
It's visible in your previous post.---which post？

[2021-07-27 01:50] benjamin-rood commented on #115641
The padding/density of the Win11 concepts is very good.
This density is much better than the originally proposed slightly thick line. I'm a longtime/advanced user and I would prefer this myself, honeslty, at least as a optional toggle).

[2021-07-27 01:51] jdneo opened #129476 "Test explorer shows nothing if `Show in Active File Only` is enabled"
Version: 1.59.0-insider (user setup)
Commit: 955a1aca9a2e4473eec4f4bdc70506a3a7c43ca7
Date: 2021-07-26T05:13:58.801Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Windows_NT x64 10.0.19043

1. Use this the extension sample: `test-provider-sample` with this change applied https://github.com/jdneo/vscode-extension-samples/commit/d0e96ee7ba1406d6b0baca36fb7815b

[2021-07-27 01:51] A-Pai commented on #129136
Please give the screenshots.

[2021-07-27 01:57] rebornix opened #129477 "Notebook: Invisible markdown cells"
We have seen reports recently about part of the document missing in the editor and I ran into this today. After a bit troubleshooting, I found when this happened:

* `NotebookTextModel` has the missing cells
* `NotebookViewModel` has the missing cells, and hidden ranges are empty
* In `ListView.rangeMap`, the height for these missing cells are 0
* In the webview, these cells are not rendered
* Whe

[2021-07-27 02:05] 4086606 commented on #129139
Sorting languages by probability:

- `.al` for AL Perl ActionScript
- `.d` for DLang Makefile
- `.fs` for F# FirstSpirit
- `.gml` for XML GameMaker
- `.gs` for GLSL Genie
- `.h` for C or C++/ObjC
- `.inc` for M68K PHP Pascal
- `.lap` CommonLisp Newlisp
- `.m` for ObjC MATLAB Mercury
- `.pm` for Perl Raku
- `.properties` for INI JavaProperties
- `.r` for Rebol Rlang
- `.re` for Reason C++
- `.rs` f

[2021-07-27 02:07] heartacker commented on #129047
sometime it occur，and some time not

[2021-07-27 02:08] #122266 closed

[2021-07-27 02:28] hiroshi-nakajima345 opened #129478 "class Accounts"
Issue Type: <b>Bug</b>

Is there any bug inthis code?

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Celeron(R) 3205U @ 1.50GHz (2 x 1497)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multipl

[2021-07-27 02:31] #79509 closed

[2021-07-27 02:32] hiroshi-nakajima345 commented on #129478
If  can not recieve answer straightly , I do not need  answer.

[2021-07-27 02:32] #129478 closed

[2021-07-27 03:03] jamesinaxx opened #129479 "Request to be able to run and debug extensions in an empty VSCode instance"
# I would like to be able to run and debug my extension in a clean, as if new instance of VSCode without any other extensions present

This feature would allow the extension being developed to run without being slowed down by other extensions.

## What currently happens
When I press F5 to run the extension I am working on, it starts a new VSCode instance with all my config, extensions, history, et

[2021-07-27 03:13] hyangah opened #129480 "update go.icns"
https://github.com/microsoft/vscode/blob/main/resources/darwin/go.icns

In https://github.com/microsoft/vscode-go/issues/1982, we updated the default go file icon in vscode,  but didn't update this icon.

If use of a different file icon is ok, I hope this go.icns to be replaced with a gopher that preserves its original cuteness.
If it is not, I hope this to be replaced with the official go project

[2021-07-27 03:20] CodeCrazy-ywt commented on #115641
Looks really fantastic. The menus are moved below the title bar so that title bar looks no longer crowded. However, I think it can be better if the labels of "split editor" and "run" are removed.

[2021-07-27 03:36] akosyakov opened #129481 "allow to pass windowName to openExternal"
In my case I would like to reuse the same window.

[2021-07-27 03:58] evbo commented on #115236
Is there anyway to avoid the `Fatal process out of memory: Failed to reserve memory for new V8 Isolate` error without making changes to the environment requiring root?

I am trying to support a customer and do not have control over their environment and they are experiencing this issue

[2021-07-27 03:58] buster95 commented on #129126
- Is there a possibility to modify touchbar buttons?

[2021-07-27 04:16] DonJayamanne opened #129482 "Imported modules not idenfied in subsequent Notebook Cells"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: Stable
- OS Version: mac

Steps to Reproduce:

1. Install Jupyter Extension
2. Install the TypeScript Notebooks extension
2. Create a notebook & select the `TypeScript` kernel
3. Create a cell with the code `import * as fs from 'fs'`
4. You'll get completion for `fs` in the same cell.
5. Create a new cell, and type

[2021-07-27 04:35] YYYYWD opened #129483 "Could not fetch remote environment Failed to connect to the remote extension host server (Error: WebSocket close with status code 1006)"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
![image](https://user-images.githubusercontent.com/25359077/127095978-c4f81274-4420-4c19-ba32-950accdef776.png)

2.

[2021-07-27 05:33] toKnowMore opened #129484 "git"
I hope that the system can support more text forms when submitting instructions in the tool source code management, at least it can support line breaks

[2021-07-27 05:36] homardcrustace opened #129485 "java"
Issue Type: <b>Feature Request</b>

je n'arrive pas a voir le programme que je viens d'ecrire

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2021-07-27 05:42] homardcrustace commented on #129485
bjr j'écris sur  visual studio code et je n'arrive pas avoir le resultat de mon code

[2021-07-27 06:07] dsnet opened #129486 "Support ChromeOS specific keybindings"
https://github.com/microsoft/vscode/pull/54894 added support for Linux, Mac, and Windows.

I propose the addition of a `isChromeOS` as determined from the web environment here: https://github.com/microsoft/vscode/blob/87346b6fb5c8b66094f8248c4c3740d0c509af04/src/vs/base/common/platform.ts#L101-L110

The user agent string for ChromeOS looks something like:
[code]
It's probably sufficient to just se

[2021-07-27 06:15] NagayamaToshiaki opened #129487 "[css] Wrong selector specificity values with :where"
Does this issue occur when all extensions are disabled?: Yes/No

Issue Type: Bug

In CSS files :
It seems like selectors inside where pseudo class count as normal, and where pseudo class itself counted as class.

:where(.foo) li {...}

indicates

<element :where>
  …
    <li>
Selector Specificity: (0, 2, 1)

Specificity should be Selector Specificity: (0, 0, 1)

バージョン: 1.58.2
コミット: c3f126316369cd6

[2021-07-27 06:24] joyceerhl opened #129488 "Provide a way to collapse all cell inputs in a notebook"
Originally requested by @TickboxPhil in https://github.com/microsoft/vscode-jupyter/issues/6811#issuecomment-887240119

A command to collapse all, or adding multiselect handling to the existing Collapse Cell Input command, would significantly help users work with large notebooks containing lots of output.

[2021-07-27 06:28] davidanthoff commented on #128495
Just one other bit of feedback: the biggest problem for the Julia extension at the moment is that we can't save language and kernelspec info in Jupyter notebooks, see [here](https://github.com/julia-vscode/julia-vscode/issues/2256). This is blocking for us, and for now we have actually disabled the native notebook integration by default via a feature flag in the extension. We originally had hoped

[2021-07-27 06:28] Dominux commented on #129464
Never seen so long and clear issue description before

[2021-07-27 06:52] joyceerhl commented on #128495
@davidanthoff Based on https://github.com/julia-vscode/julia-vscode/pull/2271#discussion_r665912172 it sounds like the Julia extension would be unblocked if the [notebook metadata edit API](https://github.com/microsoft/vscode/issues/106744) is stabilized, since what you need is the ability to modify the `"language_info"` and `"kernel_info"` metadata properties. Is that accurate, and would the Juli

[2021-07-27 06:54] e792a8 opened #129489 "PowerShell throws System.ArgumentOutOfRangeException in terminal"
Issue Type: <b>Bug</b>

Run powershell in terminal and type in massive characters until they exceed the size of the terminal window, and then powershell throws:

[code]

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AM

[2021-07-27 06:54] TickboxPhil commented on #129488
As mentioned in that orig Issue, Collapse/Expand All Code would be great on the global toolbar - but if not wanting to clutter it further, command pallete or anywhere would still be big productivity gain when poring over and comparing multiple outputs and charts (for EDA, ML etc).

[2021-07-27 06:56] x-strong opened #129490 "Please show current branch name after the project name(folder) in the explorer"
It is useful, convenient and necessary showing the current branch name after the project name (folder) that like the bash prompt string along with the current branch name if the path is a git repository. Although the status bar shows the branch name, we can not get the focused project's (folder) branch name when in Explorer pane that has multiple project in a workspace, so to show the branch name

[2021-07-27 06:59] #129065 closed

[2021-07-27 07:07] x-strong commented on #129490
No, it is not covered by those two issues.

[2021-07-27 07:07] summershrimp commented on #128492
{ [5 bytes data]
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< via: proxy A
< Date: Tue, 27 Jul 2021 01:42:00 GMT
< Etag: 0x8D9471A8E146591
< Vary: Origin
< Server: NWS_TCloud_static_msoc2
< Expires: Wed, 27 Jul 2022 01:42:00 GMT
< Connection: Keep-Alive
< Content-Type: application/gzip
< X-Daa-Tunnel: hop_count=1
< x-ms-version: 2009-09-19
< Accept-Ranges: bytes
< Cache-Control: pu

[2021-07-27 07:14] kanlukasz commented on #98632
https://code.visualstudio.com/updates/v1_58#_editor-scroll-bar-customization

[2021-07-27 07:14] #98632 closed

[2021-07-27 07:17] gjsjohnmurray commented on #129488
Adding it as an alt-command to the existing button would avoid adding another button. Here's an example of this being done with the Split Editor button on the regular editor:

![image](https://user-images.githubusercontent.com/6726799/127112349-087f968c-7a6f-4e5c-be55-de2a0d935586.png)

[2021-07-27 07:26] systemRockstar commented on #129374
It kinda solved the problem, thanks. But it also removed that option from inside of other folders, not jus from desktop. right clicking on files or folders works fine 👍

[2021-07-27 07:40] t00 commented on #98632
@kanlukasz The new settings does not seem to be affecting file navigation panel where scrollbars are still automatically fading out. Are there any plans to fix this section as it is considerably more troublesome with fading scrollbars than editor where code structure preview bar can act as always visible scrollbar?

[2021-07-27 07:45] sandy081 commented on #129402
/duplicate

[2021-07-27 07:46] chingucoding opened #129491 "Focus terminal throws error "Illegal state: service accessor is only valid during the invocation of its target method""
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.59.0-insider, commit: 955a1aca9a2e4473eec4f4bdc70506a3a7c43ca7
- OS Version: Windows 10, Build 19043; macOS Version 11.4

Steps to Reproduce:

1. Run command "Terminal: Focus Terminal" with no terminal being open
2. Observer following error:

![Screenshot of focus terminal error dialog](https://user-images.github

[2021-07-27 07:46] #129402 closed

[2021-07-27 07:47] hediet commented on #125742
I created two testplan items for it:
* https://github.com/microsoft/vscode/issues/129383
* https://github.com/microsoft/vscode/issues/129381

[2021-07-27 07:48] #128964 closed

[2021-07-27 07:59] sandy081 commented on #128998
@Tyriar Let me know if this is possible through hover API?

[2021-07-27 08:00] sandy081 commented on #129442
Please file the issue against the extension that is generating these problems.

[2021-07-27 08:00] #129442 closed

[2021-07-27 08:01] jdneo opened #129492 "[Test UI] Considering switching the color of the test message view"
Version: 1.59.0-insider (user setup)
Commit: 955a1aca9a2e4473eec4f4bdc70506a3a7c43ca7
Date: 2021-07-26T05:13:58.801Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Windows_NT x64 10.0.19043

Currently in the test message view, the expected value will be rendered as red and actual value is green:
![image](https://user-images.githubusercontent.com/6193897/12711

[2021-07-27 08:05] A-Pai commented on #129136
The performance of  VS Code Insiders is not stable，Will it do in VS Code 1.58？

[2021-07-27 08:06] sandy081 commented on #129398
This is coming from the diff editor.

@alexdima Any insights why this can happen?

[2021-07-27 08:07] bersbersbers commented on #128309
@mjbvz do you want to reopen and rename this issue? Or should I file the above as a new one?

[2021-07-27 08:11] zeroxia opened #129493 "Add setting of scroll back buffer size for debug console, like integrated terminal"
Hi,

I'm aware of this ticket: https://github.com/Microsoft/vscode/issues/68100

But not sure why it's just closed. I believe this is a valid feature request, like this: https://github.com/Dart-Code/Dart-Code/issues/1613

My scenario is: on Windows we use ["`OutputDebugStringW`"](https://docs.microsoft.com/en-us/windows/win32/api/debugapi/nf-debugapi-outputdebugstringw) to do logging, which will c

[2021-07-27 08:13] weinand commented on #129479
Using the command line flags `--extensions-dir` and `--user-data-dir` in a launch config should exactly do what you are asking for.
However, this does not yet seem to work.

[2021-07-27 08:13] weinand commented on #129479
/duplicate #126737

[2021-07-27 08:14] #129479 closed

[2021-07-27 08:19] sandy081 commented on #128854
Cant repro it.

Can you please try our latest insiders and see if you can repro it?

[2021-07-27 08:21] hediet commented on #128454
I will do this as first action next milestone!

[2021-07-27 08:23] sandy081 commented on #129204
locale info is stored in args.json file which you can open using command `Configure Runtime Arguments`. This file is not in user data dir. It is in user home dir. Please check if the locale is configured to Spanish language in that file?

[2021-07-27 08:26] edding4500 commented on #26204
Is there any new info on this?
I am currently developing a language extension and most of the CodeLenses I use show contextual information that is not of interest all the time.
An option to only show CodeLenses at the current cursor position / line would be fantastic.

My current workaround involves a custom LSP endpoint for executeCommand (https://microsoft.github.io/language-server-protocol/spec

[2021-07-27 08:26] byehack commented on #129391
as you can see when drag to right side, the settings page shows start of page. but when backing it to main group it continues from `terminal` section.(where we were).

[2021-07-27 08:27] sandy081 opened #129494 "Clicking on settings.json in settings sync view does nothing when enabled split json setting"
Steps to Reproduce:

1. Enable split json setting `workbench.settings.useSplitJSON`
2. Turn on settings sync
3. Open Settings Sync data view using command `Settings Sync: Show Synced Data`
4. Go to Sync Activity (Remote) view
5. Expand Settings entry and click on settings.json

🐛 Nothing happens

If you disable split json setting, then above interaction opens the diff editor.

[2021-07-27 08:28] hediet opened #129495 "Inline Suggestions: Support Interaction With Suggest Widget"
Currently, the suggest widget does not show automatically when typing the text as shown by an inline suggestion.
Also, when the suggest widget is shown, the inline suggestion is hidden.

We should explore allowing inline suggestion providers to collaborate with the suggestion widget.

[2021-07-27 08:31] sandy081 commented on #129129
Filed a separate issue for tracking the bug - settings editor is not opening - https://github.com/microsoft/vscode/issues/129494

No, remote panel show the history of data that is pushed from multiple machines. So it is not just your local versions. Also note that, remote does not store your local versions if sync is disabled.

This is what remote panel shows given that you enabled settings sync o

[2021-07-27 08:32] alexr00 commented on #128129
@davidkjackson54 are you using the built in file icon theme? The folder icon isn't displayed for folder in trees in that icon theme (https://code.visualstudio.com/api/extension-guides/file-icon-theme#file-association for more info). You can use a different file icon theme where the folder icon is set if you want to have folder icons show in tree (ex. the "Minimal" file icon theme can be set by run

[2021-07-27 08:32] #128129 closed

[2021-07-27 08:34] TickboxPhil commented on #129488
Agreed  @gjsjohnmurray, more than happy with Collapse/Expand All Code on the Command Pallet.

And thanks for heads up - I don't use that Split Editor much yet, as still need to scroll past all the code when reviewing outputs, but it is useful and would become doubly so when the one window shows code, the other outputs. Would then be superior to PyCharm's split mode which has no collapse, poor layo

[2021-07-27 08:41] imjiangjun opened #129496 "TODO can't work with TeX file"
Issue Type: <b>Bug</b>

TODO finds nothing in any TeX file. But there are actually many "TODO"s.
However, it works well with other languages, e.g. python.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM

[2021-07-27 08:42] isidorn commented on #129126
Not at the moment. We might change this in the future.

[2021-07-27 08:43] sandy081 opened #129497 "Nothing happens after I click on Save option"
Testing #129428

- Create a terminal in editor
- Run some node process
- Close the editor
- Dialog to save the changes appear
- Select Save option

🐛 Dialog disappears, but the editor is still in dirty mode. Closing the editor again shows the dialog again

[2021-07-27 08:44] sandy081 opened #129498 "Reload window when dirty terminal editor is opened does not retain the dirty state"
Testing #129428

- Create a terminal in the editor
- Run a node process
- Editor is shown dirty
- Reload window
🐛 Editor is no longer dirty

[2021-07-27 08:46] redomar commented on #125952
My hands were forced to block any future updates, in json split view no less.
`"update.mode": "none"`

[2021-07-27 08:46] sandy081 commented on #129428
I assume that this functionality is available only for terminals in editor.

[2021-07-27 08:49] isidorn commented on #128400
Thanks for steps, assigning to July so I try to look into this issue this week.

[2021-07-27 09:04] hediet opened #129499 "Object Validation in the Settings Editor: Not all errors are shown in the UI"
Testing #129448

Violating

![image](https://user-images.githubusercontent.com/2931520/127127409-dae3d8cf-20d5-4f07-9703-9b93220987a3.png)

![image](https://user-images.githubusercontent.com/2931520/127127439-aa69f3fc-09f1-4a5f-a9e0-cdc9b7922409.png)

[code]

[2021-07-27 09:05] surya0180 opened #129500 "Running flutter apps in vscode"
I recently observed a bug in vscode while working with flutter.

When I use vscode run button to run my flutter app, the root widget is building twice, which is completely against the workflow.

When i run the same code using terminal commands [ flutter run ] everything goes fine with no extra builds.

Please solve this issue

[2021-07-27 09:12] hediet commented on #129499
Also, it seems like missing properties are not reported, neither in the UI nor the json editor.

[2021-07-27 09:13] alexr00 commented on #129424
Tested on Windows.

[2021-07-27 09:21] isidorn commented on #118383
Sounds like the issue is that the new tab does not get opened.
@alefragnani are you sure this is still happening, since I added some code 1 month ago that detects if Safari blocked a new tab, and we would offer to the user to explicitly open a new tab?

[2021-07-27 09:24] isidorn commented on #129039
Sorry for the slow response, I was on vacation.
I plan to fix this tomorrow. @abdlrhmanshehatamoussa if you fix it before than (in the next 24hrs) I am open to accept a PR.
Code pointer https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/browser/debugToolBar.ts#L297

[2021-07-27 09:24] weinand opened #129502 "No `ipynb` file support for serverless web"
Testing #129463 on "web":

I did not see any `ipynb` file support out of the box

Steps:
- open `https://github.com/odewahn/ipynb-examples` in MS Edge on macOS
- from the github's "Code" menu I selected the "Cloud" tab and pressed the "Open with Web Editor" button
- in the file explorer select `Cell Magics.ipynb`
- Observe:
   <img width="1443" alt="2021-07-27_11-20-24" src="https://user-images.gi

[2021-07-27 09:24] hediet opened #129503 "Folding Navigation Commands Sometimes Don't Work"
Testing #129353

![recording](https://user-images.githubusercontent.com/2931520/127130120-2db11bf2-d7e3-4fce-9e9a-e66ea9d1a1df.gif)

index.js
[code]

There is a foldable element, but "Go to next fold" does nothing. I'm hitting F1 -> Enter.

[2021-07-27 09:25] isidorn commented on #127492
Yes this should behave better now, since the suggestions are not so aggressive (you can hit enter to evaluate and not accept them). Closing this as no action is planned here

[2021-07-27 09:25] #127492 closed

[2021-07-27 09:25] isidorn commented on #127596
Closing and if you find good repro steps with insiders let me know and I can reopen this.

[2021-07-27 09:25] #127596 closed

[2021-07-27 09:26] isidorn commented on #128040
It preserves it for me.
I can not reproduce. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2021-07-27 09:30] isidorn commented on #127941
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog for now to gather more feedback. Thanks

[2021-07-27 09:30] IllusionMH commented on #129496
/causedByExtension

See https://github.com/Gruntfuggly/todo-tree/issues/357#issuecomment-678626475

[2021-07-27 09:30] #129496 closed

[2021-07-27 09:32] isidorn commented on #129047
Then closing this since no good repro steps and nobody else is hitting this issue.
Sorry! But without good repro steps there is nothing we can do here

[2021-07-27 09:32] #129047 closed

[2021-07-27 09:32] isidorn commented on #129490
This is a fair feature request, however we do not have it on our immediate plan. Thus assigning to backlog for now to gather more feedback. Thanks

I personally would not add this. But let's keep it open for now.

[2021-07-27 09:34] sandy081 commented on #129009
@meganrogge I am sorry that I could understand the locations you mentioned, for eg., I am not sure where `TerminalQuickPick` is and `ctrl+p/cmd+p` opens normal quick pick for me. Also did not understand what you mean by `as you switch active terminals in the single tab terminal view action item` ? Can you please give more context about these locations.

Irrespective of that, tested following:

- T

[2021-07-27 09:39] weinand opened #129504 "No OOTB `ipynb` file support in Codespaces"
Testing #129463 on "web":

I did not see any `ipynb` file support out of the box in a Codespace

Steps:
- open `https://github.com/odewahn/ipynb-examples` in MS Edge on macOS
- from the github's "Code" menu I selected the "Cloud" tab and created a Codespace on the current branch
- in the file explorer select `Cell Magics.ipynb`
- Observe:
  <img width="1092" alt="2021-07-27_11-12-04" src="https://

[2021-07-27 09:45] abdlrhmanshehatamoussa commented on #129039
Hi Isidor
No worries at all, welcome back, hope you enjoyed your vacation ^_^

I think it's a minor change, I have some free time in the next hours, I think I will try to submit a PR, seems like a good start for me.

Thanks

[2021-07-27 09:55] 4086606 commented on #129139
I think weird meta repositories provide a great test case for this problem. Taking a look at:

https://github.com/search?q=extension%3Are&type=Code

The .rs extension can mean two different languages and Github's able to tell the difference with a heuristic regex

[2021-07-27 09:55] sandy081 commented on #129467
@roblourens I do not see Run by Line button in the cell toolbar. I installed  ipykernel as you mentioned in the instruction. Is there a way to check if I have done correctly? This is what I see

![image](https://user-images.githubusercontent.com/10746682/127134866-dfd9ef77-aa87-4a9b-8bfd-86ad60740fc0.png)

[2021-07-27 09:59] KL13NT commented on #129373
I cannot reproduce it anymore despite not changing anything. I shutdown my PC, woke up today and started up VSCode again and it worked. What I particularly did was change the `include` key in my `tsconfig`, and then revert that change. VSCode seemed to pick it up then and now imports are working again.

If I'm able to reproduce it again I'll re-open or submit a new ticket.

[2021-07-27 09:59] #129373 closed

[2021-07-27 10:05] weinand commented on #129493
@zeroxia Could you try to use the "integrated terminal" instead of the "debug console"?
The debug console was designed to be a REPL, not for capturing huge logs...

[2021-07-27 10:20] siegenthalerroger commented on #128971
I've never seen it used sadly (as above) and looking at the reference (https://cswr.github.io/JsonSchema/spec/basic_types/) seems to also support the fact that it doesn't have this. On the other hand there are references that state that this does exist using an additional (optional) `format` definition in the schema definition (https://json-schema.org/understanding-json-schema/reference/string.htm

[2021-07-27 10:25] miladMAPS commented on #128898
setting  "moduleResolution" key to "node" in the jsconfig.json file solved my problem,
thanks a lot.

[2021-07-27 10:28] hiroshi-nakajima345 commented on #129478
thak you very much for your kindness. but  I can not  continue .
my abiliyt y is  very poor.

----- 元のメッセージ -----
From: "vscodebot[bot]" ***@***.***>
宛先: "microsoft/vscode" ***@***.***>
Cc: "hiroshi-nakajima345" ***@***.***>, "Author" ***@***.***>
送信済み: 2021年07月27日 午前 11:29
件名: Re: [microsoft/vscode] class Accounts (#129478)

[2021-07-27 10:32] bersbersbers opened #129505 "Images should not be `textconv`ed when pulled from Git for display in diff viewer"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.58.2
- OS Version: Win 10

Steps to Reproduce:

1.
[code]
2. Ctrl+Shift+G G (Open Source Control)
3. Double click any of the two Example.png shown

Only one out of four is working:

![image](https://user-images.githubusercontent.com/12128514/127139265-3eee063b-ee3e-4693-a879-991de63b312f.png)

![image](https://user-

[2021-07-27 10:33] weinand commented on #129500
/causedByExtension

[2021-07-27 10:35] #129500 closed

[2021-07-27 10:37] Dkapps opened #129506 "Print required engine version on the marketplace"
Hello,
We are using Code in an offline setting and we are relying on downloading extensions from the marketplace.
For that workflow, it would be very nice to have the required engine version in the version history on the marketplace to avoid having to manually download and check the version only to realize that the required version version does not match ours and download again.

As an example, th

[2021-07-27 10:48] weinand commented on #129410
Everything was working fine on macOS connected via SSH to ubuntu 20.10 LTE

[2021-07-27 11:14] isidorn commented on #95428
@Pit-Storm https://github.com/microsoft/vscode/issues/27766 this explains the limitation if we turn on word wrap with a screen reader.
Though I do agree we should invest in improving this experience and ideas are welcome.

[2021-07-27 11:16] isidorn commented on #129255
I think this makes sense. Feel free to assign to August and I can look into this next milestone.

[2021-07-27 11:18] isidorn commented on #129200
Here's a code pointer https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/files/browser/fileCommands.ts#L344
There is already a check to see if the `URI` exists in a workspace folder, it seems like that check returns `false` and then we simply focus the Open Editors view

I am open for suggestions or a PR how to potentially improve this.

[2021-07-27 11:20] septatrix commented on #129209
Just for completeness here is the issue from the drawio extension repo: https://github.com/hediet/vscode-drawio/issues/211

[2021-07-27 11:22] daljit97 commented on #129280
Ok so I tried withe the insiders RPM and the stable one. With both it starts fine (although you have to use `--use-gl=desktop` to make it work otherwise it crashes). Also, I noticed that kinetic scrolling still doesn't work (I thought that this was a feature of the new ozone implementation?)

[2021-07-27 11:24] #128997 closed

[2021-07-27 11:24] #128942 closed

[2021-07-27 11:24] #128902 closed

[2021-07-27 11:24] #128869 closed

[2021-07-27 11:24] #128835 closed

[2021-07-27 11:24] #128825 closed

[2021-07-27 11:24] #128804 closed

[2021-07-27 11:24] #128754 closed

[2021-07-27 11:24] #128683 closed

[2021-07-27 11:25] gopalampriyanka opened #129507 "Terminal not working"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-07-27 11:26] gopalampriyanka commented on #129507
Issue Type: <b>Bug</b>

Terminal is opening but not able to type anything

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 6.2.9200
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-9300H CPU @ 2.40GHz (8 x 2400)|
|GPU Status|2d_canvas: enabled<br>gpu_composit

[2021-07-27 11:26] #129507 closed

[2021-07-27 11:27] gopalampriyanka opened #129508 "Terminal not working"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

Issue Type: <b>Bug</b>

Terminal is opening but not able to type anything

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 6.2.9200
Restricted Mode: No

<details>
<summary>System Info</summary>

|

[2021-07-27 11:35] gopalampriyanka commented on #126545
I didn't understand

[2021-07-27 11:38] Pindar777 opened #129509 "When viewing images or pdf in VSC copy-and-paste in filenames is not working anymore"
Issue Type: <b>Bug</b>

Recently I noticed that after clicking an image or viewing an pdf it is marked as "written protected". Although changing the filename is possible, copy-and-paste inside the filename (in the VSC explorer) is not possible anymore.
As a consequence I need to switch to Windows 10 explorer to rename if I need info from the clipboard.

VS Code version: Code 1.58.2 (c3f126316369cd

[2021-07-27 11:45] weinand commented on #129359
I agree with @gjsjohnmurray: the description needs to be improved:
My suggestion:

[2021-07-27 11:50] weinand opened #129510 "Improve description for "automatic import folding""
Testing #129359:

My suggestion:

(see discussion https://github.com/microsoft/vscode/issues/129359#issuecomment-886239665)

[2021-07-27 11:55] Tyriar commented on #129395
Did you create the terminals when the setting was unchecked and reload when it was checked? The terminals keep whatever mode was set when they were created.

[2021-07-27 11:57] Tyriar commented on #129009
@sandy081 terminal quick pick above means ctrl/cmd+p "term ":

![image](https://user-images.githubusercontent.com/2193314/127149596-4465a9ca-9c89-41fc-a2a4-effeee4757cf.png)

[2021-07-27 11:57] sang524 opened #129511 "terminal"
Wir haben die erforderlichen Daten in die Zwischenablage geschrieben, da sie zu groß zum Senden waren. Fügen Sie sie ein.

[2021-07-27 11:58] Tyriar commented on #129428
@sandy081 yes, but you can turn it on elsewhere with the `terminal.integrated.confirmOnKill` setting. Updating the issue to include that.

[2021-07-27 11:58] sang524 commented on #129511
terminal Konfiguration

[2021-07-27 11:59] Tyriar commented on #129497
/duplicate https://github.com/microsoft/vscode/issues/128880

[2021-07-27 11:59] #129497 closed

[2021-07-27 12:05] Chaphasilor commented on #116740
I simply wanted to add another "User Story" for this feature, as well as a more detailed implementation strategy

Similar to what @RobJacobson said, I'm looking for a way to first and foremost configure profile-specific extension sets.
**My use-case:**

Working with "writing" tools like LaTeX or markdown is often an involved process, with numerous heavy-weight extensions being required. However, 9

[2021-07-27 12:05] weinand commented on #129359
I've tested this on macOS for JS, TS, C++, C#, and Java. Found now issues other than the description wording.

[2021-07-27 12:10] Tyriar opened #129512 "Inlay hints should be invalidated quicker when lines are deleted"
Testing #129381

This seems ugly, can we invalidate the faster since the content surrounded them was deleted?

![recording (47)](https://user-images.githubusercontent.com/2193314/127151141-5c3ad9bb-64c6-400d-8bd9-f6b4ceb031ff.gif)

[2021-07-27 12:16] hediet commented on #129512
Duplicate of #125995.

[2021-07-27 12:16] #129512 closed

[2021-07-27 12:19] AndreasArvidsson opened #129513 "Selection.isReversed is incorrect for empty selection"
Issue Type: <b>Bug</b>
[code]

VS Code version: VSCodium 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-16T00:16:13.084Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 9 3900X 12-Core Processor             (24 x 3800)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_raste

[2021-07-27 12:26] isidorn commented on #129509
Duplicate of a known issue that is fixed by @mjbvz

[2021-07-27 12:26] #129509 closed

[2021-07-27 12:27] weinand opened #129514 "Duplicated "Create Integrated Terminal (With Profile)" commands"
Testing #129429

- press F1 and enter "Terminal"

Observe:
<img width="650" alt="2021-07-27_14-25-20" src="https://user-images.githubusercontent.com/1898161/127153237-b457fc15-5b43-409f-b404-db296fc9cd3b.png">

there are two "Create Integrated Terminal (With Profile)" commands and they are too long to see a difference in the QuickPick (if there is any...)

[2021-07-27 12:29] weinand opened #129515 "Duplicated "Create Integrated Terminal (With Profile)" commands"
Testing #129429

- press F1 and enter "Terminal"

Observe:
<img width="650" alt="2021-07-27_14-25-20" src="https://user-images.githubusercontent.com/1898161/127153237-b457fc15-5b43-409f-b404-db296fc9cd3b.png">

there are two "Create Integrated Terminal (With Profile)" commands and they are too long to see a difference in the QuickPick.

[2021-07-27 12:31] weinand commented on #129515
oops, duplicate created due to browser tab confusion...

[2021-07-27 12:32] Tyriar opened #129516 "I don't know what typescript.inlayHints.enumMemberValues does"
Testing #129381

Was expecting a `= 80` inlay hint here:

![image](https://user-images.githubusercontent.com/2193314/127154069-156361df-7693-4a9d-aea3-c4bb11cb0667.png)

[2021-07-27 12:32] #129515 closed

[2021-07-27 12:34] Tyriar opened #129517 "Provide code examples of where the inlay hints show up in settings descriptions"
Testing #129381

![image](https://user-images.githubusercontent.com/2193314/127154200-9859fb89-3ae5-4518-b72b-f80970d11f9c.png)

It would be helpful if this shows an example, something like:

[code]

[2021-07-27 12:35] isidorn opened #129518 ""Run File" should be before "Debug File""
Testing #129384

`Run File` should be before `Debug File`.
I am not sure if this is controlled by core, but `Run File` should be first because:
* I believe that most users actually use the Run more in the title bar. We can dig out some numbers
* We call the view "Run and Debug" since Run is "lighter", so it should also go first here
* The hover title of the chevron is "Run or Debug"

![Screenshot

[2021-07-27 12:37] Tyriar opened #129519 "typescript.inlayHints.functionLikeReturnTypes.enabled should show return types for getters"
Testing #129381

I was expecting

[code]

To show `: number` after the `()`

[2021-07-27 12:38] isidorn opened #129520 "Run or Debug dropdown should be triggered via up / down arrows"
Testing #129384

Focus the Run or Debug dropdown chevron. Press `up` or `down` -> the dropdown is not opened.
Notice how the dropdown gets nicely opened when the focus is on the Start Debugging action in the Debug view title area.

It seems like the Terminal uses the same widget and I can reproduce this same issue in the terminal fyi @Tyriar

[2021-07-27 12:38] weinand commented on #129429
@meganrogge since you mentioned "keybindings" in the test: the "Create Integrated Terminal (With Profile)" command on macOS does not have a key binding. I'm not sure whether this was your intention...

[2021-07-27 12:40] Tyriar opened #129521 "editor.inlayHints.fontSize doesn't work"
Testing #129381

Family is working but changing size doesn't do anything

![image](https://user-images.githubusercontent.com/2193314/127155166-7d89b058-c86f-4f67-b95a-43d5a088fea6.png)

[2021-07-27 12:43] isidorn commented on #129518
Now I saw that this comes from Mock Debug. Though I still think we should fix mock debug so it is a good example for other debug extensions.

[2021-07-27 12:45] Tyriar commented on #129521
More experimenting with this I think any value greater than `editor.fontSize` is invalid and it reverts to the default, imo it should use the max value in this case instead. And 5 is the minimum, any value below that is set to the default, this should get the same treatment imo.

Can these restrictions get documented in the setting description?

[2021-07-27 12:48] Tyriar opened #129522 "Inlay hints: The larger the font size descrepancy, the better it would look vertically middle aligned"
Testing #129381

Using

[code]

The bottom alignment makes this look pretty bad:

![image](https://user-images.githubusercontent.com/2193314/127156004-91a1d335-9bd8-4233-91cb-e612050743fc.png)

If it were middle aligned:

![image](https://user-images.githubusercontent.com/2193314/127155963-4be0e1fb-2d8a-44b8-a130-b8e2681b43f6.png)

[2021-07-27 12:52] isidorn opened #129523 "Disassembly view: double click on instruction breakpoint should pass focus to disassembly view"
Testing #129161

fyi  @yuehuang010, @xisui-MSFT

Single click on the instruction breakpoint properly reveals that instruction breakpoint - great.
Double click should pass focus to the disassembly view. Just like we do for regular breakpoints

[2021-07-27 12:52] Chaphasilor commented on #115641
I also have a few thoughts on this, especially after seeing the Win11 mockups.

Let's start with the **omni search** (not in the Win11 mockups, but could be added):
I believe a nice solution would be to "upgrade" the current command palette with some new functionality. In theory, the palette *can* already do all of the things offered by the proposed omni search, it simply looks different and works

[2021-07-27 12:52] vmx-joey opened #129524 "Renaming a file in git causes the "Timeline" window to not show earlier changes to the file"
Issue Type: <b>Bug</b>

Renaming a file in git makes the timeline windows the version control tab onn the left side to not show earlier history of the file

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:09:06.581Z)
OS version: Darwin x64 19.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-98

[2021-07-27 12:55] Tyriar opened #129525 "Provide command/keybinding to toggle "overlay hints""
Testing #129381

This came up in our standup a while ago, not sure if it was captured in an issue.

I'm not that much of a fan of inlay hints because it shifts my code around, I disable codelens completely because I don't like this. What would be ideal for me would be some keybinding/modifier I can press to show the hints temporarily.

So instead of this:

![image](https://user-images.githubuserco

[2021-07-27 12:56] isidorn opened #129526 "Disassembly view: after session ends if new session is started the disassembly view is left empty"
https://github.com/microsoft/vscode/issues/129161

fyi @yuehuang010, @xisui-MSFT)

1. Start debugging, open disassembly view
2. Stop debugging. Disassembly view is still open and shows content
3. Start debugging again. Disassembly view is empty and left lingering around

We should automatically close the disassembly view when we detect it is smart to do that.
Either when the session ends (depends

[2021-07-27 12:57] xezrunner commented on #115641
These look absolutely fantastic! They align with Windows 11's design perfectly.
I wonder how conceivable this would be in regards to the Electron framework (unless WinUI would be used in some form).

If we consider the titlebar as just the row that contains the app title and the window controls, that doesn't seem like an issue.
While I do not use macOS, based on what I've seen so far, the titlebar

[2021-07-27 12:57] Tyriar commented on #129525
If this is a possibility for the future, we may want to use a name more generic than `inlay` as that described how it is presented, not necessarily the underlying feature that exposes this information?

[2021-07-27 12:57] isidorn opened #129527 "Potential listener leak detected"
Testing #129161

@yuehuang010, @xisui-MSFT

1. Start debugging
2. Open disassembly view, open developer console and notice a listener leak warning

It seems like we are not properly disposing listeners when an element gets disposed in a list.

[code]

[2021-07-27 12:59] Tyriar opened #129528 "Inlay hints: Allow ctrl/cmd+click to go to a type's definition"
Testing #129381

I tried ctrl+clicking `TerminalIcon` here intuitively:

![image](https://user-images.githubusercontent.com/2193314/127157643-0021de0f-3a4e-4692-b3fb-b230d8845b58.png)

Going to an argument definition would also be handy/expected

[2021-07-27 13:00] Lemmingh commented on #87570
Please could someone stop the bot? It is polluting this thread. Thank you.

[2021-07-27 13:01] benjibee opened #129529 "Emmet expansions failing when certain lines of PHP are present in file"
## Description

A PHP file containing the below lines of code (written as such) causes Emmet expansions for HTML elements to fail anywhere in the document.  I'm aware that the code is not well-written PHP and enclosing the evaluation of the `$i` variable in brackets re-enabled Emmet expansions.

### Code Snippet
[code]
### Error Message
"Command 'Emmet: Expand Abbreviation' resulted in an error (R

[2021-07-27 13:02] isidorn opened #129530 "Disassembly view: do not use piggy back on existing step_over commands, introduce new ones"
fyi @yuehuang010, @xisui-MSFT

Code pointer https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/browser/debugCommands.ts#L265

I already mentioned this in the PR review but it seems like we did not address this.

We should not check the value of the context inside the command, but we should have special STEP commands for the disassembly view.
That way the solution will be

[2021-07-27 13:07] introom opened #129531 "Cannot bind alt+n key"
On macOS with the US keyboard.

For example, given:
[code]

Typing alt+n won't trigger the command, instead it shows ˜.

So here, alt+n works as a prefix to some accented char.

alt+n a, gives ã

[2021-07-27 13:08] isidorn opened #129532 "Disassembly view: not possible to set instruction breakpoint with keyboard"
Testing #129161

@yuehuang010, @xisui-MSFT

1. Open disassembly view, try to press F9 to add a breakpoint, nothing happens 🐛
2. For accessibility reasons we have to have a way to add instructions breakpoints just using the keyboard. We should stick with `F9` since that works for normal editors.

[2021-07-27 13:10] isidorn commented on #129161
@yuehuang010, @xisui-MSFT I have created some issues and have pinged you all on those issues.
For fixing them feel free to create a PR per issue and ping me on the PR, that way the review process will be easier.
I think none of the issues are super critical, but we should address all of them in order to get this view to production quality.
Thanks a lot!

[2021-07-27 13:13] isidorn opened #129533 "Improve aria label to have most important information at the beginning"
Testing #129161
@yuehuang010, @xisui-MSFT

1. Open disassembly view
2. Turn on screen reader
3. Focus on an element, notice the following being read out "Can set breakpoint, Instruction address: 0x000000ea, Instruction: of"

We need to imrpove this aria label:
1. The most important piece of information needs to go first, so that blind users can skip the boring repetitive part. So start with the "0

[2021-07-27 13:14] lramos15 commented on #129474
The two logs appearing in separate places is definitely a bug but I cannot fix the log level nor the location of the log as this log is contributed by extensions and we have no APIs for placing an output channel in that location nor reacting to the log level.

[2021-07-27 13:15] isidorn opened #129534 "Use larger initial view size, the scrollbar is too jumpy"
Testing #129161

@yuehuang010, @xisui-MSFT

1. Open disassembly view
2. Start scrolling, look at the scroll bar and notice the aggressive jumping
3. I suggest to use a much bigger initial view size so the scrolling will be much smoother. Current experience is very rough.

[2021-07-27 13:15] Tyriar commented on #129528
In a similar vein, the hover for the inlays should show for the type they're hovering imo

[2021-07-27 13:17] Tyriar commented on #129514
Oh this is happening because the command gets re-registered to apply the new schema. Hopefully we can unregister to avoid this.

[2021-07-27 13:19] isidorn opened #129535 "Disassembly view: clicking on the active line produces a weird green color"
Testing #129161

@yuehuang010, @xisui-MSFT

1. Open disassembly view
2. Click on the focus yellow line
3. The line gets blue because of table selection, blue + focus yellow = green 🐛

We should not introduce a new random color for this.
I believe we should just "disable" selection in the table for the disassembly, and just keep focus .

![Screenshot 2021-07-27 at 15 16 35](https://user-images.gith

[2021-07-27 13:19] Tyriar commented on #128728
It's already detected automatically, we don't add it to the list as it's really old at this point. To get it in your list the easiest way is to run select default profile:

![image](https://user-images.githubusercontent.com/2193314/127160273-ae1b3b09-672e-4505-b2cc-def77e3474f8.png)

Then select it:

![image](https://user-images.githubusercontent.com/2193314/127160338-3a9d8eab-62eb-4aad-b229-06285

[2021-07-27 13:19] #128728 closed

[2021-07-27 13:21] byehack commented on #129395
@Tyriar

https://user-images.githubusercontent.com/26390254/127160649-b6af4cb4-bc3b-45a2-9eca-5521db6595f5.mp4

[2021-07-27 13:23] Tyriar commented on #129514
https://github.com/microsoft/vscode/blob/6102a7d263636bf6233b2c2c6e75a511146c752b/src/vs/platform/commands/common/commands.ts#L68-L68

[2021-07-27 13:23] isidorn opened #129536 "Disassembly view: introduce context menu"
Testing #129161

@yuehuang010, @xisui-MSFT

1. Currently it is not possible to copy anything out of the disassembly view (a user might want to copy an address?)
2. We should probably have a context menu. Not sure what other potential actions we should put there, put `Copy` should definitely be there

[2021-07-27 13:24] scarface68 opened #129537 "Terminal doesn't work"
Issue Type: <b>Bug</b>

the software opens fine but sometimes the terminal doesn't work when i run my code. to fix it i have to restart my computer. pls fix it.

VS Code version: Code 1.58.2 (c3f126316369cd610563c75b1b1725e0679adfb3, 2021-07-14T22:10:15.214Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen

[2021-07-27 13:24] isidorn commented on #129526
Also when we clear the disassembly view we should get rid of the instruction breakpoints.
Though I see that we do not store them across VS Code reloads, which I think makes sense.

[2021-07-27 13:26] hediet commented on #129525
I like that! But this is absolutely not doable with injected text.

[2021-07-27 13:26] isidorn opened #129538 "Disassembly view: support keyboard navigation"
Testing #129161

@yuehuang010, @xisui-MSFT

1. Open disassembly view, focus one of the items
2. Start typing an address as a way to navigate to it -> nothing happens

I suggest to use the `keyboardNavigationLabelProvider`
Example https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/browser/variablesView.ts#L128

That way it will make it possible for users to easily navigate

[2021-07-27 13:28] Tyriar commented on #129525
Yeah it wouldn't be injected text, probably a new capability in monaco? Is @mjbvz the right person to be assigned since this is a language agnostic monaco feature request?

[2021-07-27 13:29] Tyriar commented on #128701
/duplicate https://github.com/xtermjs/xterm.js/issues/701

[2021-07-27 13:29] #128701 closed

[2021-07-27 13:29] hediet commented on #129528
I don't know what the plans are for inlay hints, but I think this is doable with injected text.
However, the injected text feature needs to be extended to support hovers & decorations that just apply to a specific part of the injected text.

[2021-07-27 13:30] weinand commented on #129535
Yes, I provided that feedback already in my PR review (bullet 6 in https://github.com/microsoft/vscode/pull/125737#issuecomment-883318562).

[2021-07-27 13:32] isidorn opened #129539 "Tensor flow message in developer tools"
Refs: https://github.com/microsoft/vscode/issues/129436

Open developer tools, notice the message

[code]

Maybe we listen to their advice and do this strategy for VS Code app (not web).
Anyways we should try to disable this message so it does not spam every user that opens the developer tools.

Especially since this seems to happen even to users that do not set `experimentalLanguageDetection` to

[2021-07-27 13:32] Tyriar commented on #129429
@weinand this was mainly about the keybinding intellisense for the command:

![image](https://user-images.githubusercontent.com/2193314/127162573-e9bcebe3-4a88-41e4-8399-10532869efa6.png)

[2021-07-27 13:34] Tyriar commented on #128998
@misolori it will be too hard to access the scroll bar if covered it with the hover?

[2021-07-27 13:35] hediet commented on #129525
I think @jrieken did the initial implementation of inlay hints and @mjbvz the typescript integration that is new this milestone.
I just changed the rendering logic to use injected text instead of after/before css classes.

But yes, the underlying monaco feature request would be something for me and @alexdima, but I suggest to separate this inlay-hint related feature from the monaco features requir

[2021-07-27 13:36] isidorn opened #129540 "Open Disassembly View should be present but disabled"
Testing #129161

@xisui-MSFT  @yuehuang010

As @weinand already pointed out

The "Open Disassembly View" command is now only visible when the active stackframe has a instructionPointerReference property. This makes it hard to discover. I suggest to have the context menu's "Open Disassembly View" command always visible if a debug adapter has the supportsDisassembleRequest capability. But the comman

[2021-07-27 13:39] isidorn opened #129541 ""Continue" does not work on the disassembly view"
Testing #129161

@yuehuang010, @xisui-MSFT

1. Open disassembly view, press the `Step Over` notice how it nicely works on the disassembly view
2. Now press the `Continue` notice how it does not work the disassembly view, instead it continue the whole program

Same problem for `reverse continue`.

[2021-07-27 13:43] Benno-Wu opened #129542 "hide stash drop confirm, when stash push etc."
- VS Code Version: 1.58.2

Steps to Reproduce:
1. stash list, length 1(may doesn't matter)
1. in the menu of git, try drop one stash, a confirm with message showed on the bottom-right corner
2. now stash push
3. click 'yes' to confirm in step2
4. wrong stash was dropped

Expectation:
I run into this situation today, and it takes me a while to rollback by git fsck
so please hide that wrong stash dr

[2021-07-27 13:44] isidorn opened #129543 "Instruction breakpoints should maybe use a different breakpoint icon"
https://github.com/microsoft/vscode/issues/129161

@yuehuang010, @xisui-MSFT

Instructions breakpoints currently use the same icon as regular breakpoints.
We could introduce a new icon  to make them more distinguishable?

Maybe a red square? We already have a diamond and triangle. @misolori what do you think
@yuehuang010 @xisui-MSFT what does Visual Studio use, regular red circle?

![Screenshot 20

[2021-07-27 13:46] lramos15 commented on #129083
Ah sorry, I just assumed it was the same bug that was my bad. I just investigated it and the issue is that you don't register a diff editor factory and opening a file through SCM view expects a diff to be created. I don't know what a split json diff should look like so I would say the behavior right now is ok.

[2021-07-27 13:50] isidorn commented on #129161
@yannickowow  @vadimcn @Trass3r feedback is very welcome if you got a chance to try the disassembly view out. Thanks a lot!

[2021-07-27 13:56] SiddJ311513 opened #129544 "My PC Randomly crashing while using VSCode."
Issue Type: <b>Bug</b>

For a long time i have been using vscode but from 2-3 week i cannot use it as while working my pc randomly restart. For sometime i think it was my pc's fault then i recognize it happening only when i am working on vscode . I cannot last 3 4 minutes doing work . I have tried reinstalling ,deleting extension i don't know about, even deleting all data and starting a new sync b

[2021-07-27 13:59] isidorn commented on #128546
Sorry for the slow response, I was on vacation.
Thanks for reporting this issue and for creating a PR that tackles it.
The PR also looks good, however this week we are in the endgame thus we are not accepting new code, and I will probably merge this in start of next week. Thanks!

[2021-07-27 14:05] h3n4l opened #129545 "Use CGO in go files will make code hint invalid"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:1.58.2
- OS Version:Darwin arm64 20.5.0

Steps to Reproduce:
1.open a go file, and use CGO feature(use import "C")
2.import other package what we need likes "fmt"
3.Code hint will be invalid
<img width="592" alt="iShot2021-07-27 22 04 10" src="https://user-images.githubusercontent.com/87714218/127167963-12e79958-86d9-4

[2021-07-27 14:08] #129475 closed

[2021-07-27 14:10] karlmacklin commented on #13680
For verbosity - I have tried on a freshly installed Windows system, to install WSL2, and then VSCode.
Added Ubuntu 20.04 as the Linux distro.

By default Git is available in that distro.

I can from command line inside Ubuntu successfully clone a repo, and the act of cloning it invokes my passphrase enabled SSH-key, prompting me for the passphrase. Cloning succeeds.

I can open and work from this

[2021-07-27 14:13] karlmacklin commented on #128125
Did you solve it within #13680  ?
I've been dealing with this issue for a few years now and I'm desperate for a solution.

[2021-07-27 14:13] yannickowow commented on #129161
Hi, first of all, thanks for your work!
Unfortunately, I will not be able to test this feature using my extension since I finished my apprenticeship. These observations are done using C/C++ Extensions.

What I've encountered currently is:
- Instruction Breakpoints does not support `condition` / `hitCondition` updates
- Current line is not highlighted in green when you switch in a deeper call from

[2021-07-27 14:15] #129545 closed

[2021-07-27 14:16] TylerLeonhardt commented on #129539
I was using the CPU backend because it was recommended here to be the fastest:
https://github.com/tensorflow/tfjs/issues/4838#issuecomment-850730654

It might have happened when you clicked the language picker. The model gets loaded lazily and the only things that load the model are:
* detecting a change in an untitled file
* when you click the language picker while it says Auto

The first bullet

[2021-07-27 14:16] #129539 closed

[2021-07-27 14:18] stuartleeks commented on #23808
Tested on Windows (running `powershell -Command "sleep 120"`)
Tested on WSL and in dev container (running `bash -c "sleep 2m"`)

[2021-07-27 14:20] lszomoru opened #129546 "Extension custom hover - consider defining max-width"
Testing #129421

![image](https://user-images.githubusercontent.com/3372902/127170550-7ea8ea4b-52ee-409c-a743-4cc9ca273d17.png)

[2021-07-27 14:24] lszomoru opened #129547 "Extension hover - activation time label"
Testing #129421

Nit: At the moment the activation label looks like this.

I do not believe there should be a space between the "time" and ":".

[2021-07-27 14:30] lszomoru opened #129548 "Extension hover - empty recommendation"
Testing #129421

In such cases we should not be showing the reason why the extension is being recommended.

![image](https://user-images.githubusercontent.com/3372902/127172285-380676ce-9580-4188-817f-7a80f3a42d1f.png)

[2021-07-27 14:37] lszomoru opened #129549 "Extension hover - recommended extensions"
Testing #129421

We seem to be following the pattern in the hover:
- Extension name
- Extension details about enablement/capabilities/activation/etc.
- Separator
- Extension description

![image](https://user-images.githubusercontent.com/3372902/127173210-53d359aa-c09a-4dce-adff-7bd66eecd88f.png)

This pattern is not being following with recommended extensions:
![image](https://user-images.githubu

[2021-07-27 14:44] misolori commented on #128998
I think the main issue is the hover is hard to get to when the scrollbar is visible. If we're able to have access to the scroll bar AND hover, that would be the most ideal.

I think the offset request aims to solve this for one part. I'm wondering if it's possible to add a delay in hiding the hover when the scroll bar is visible and the extension overlaps with it.

[2021-07-27 14:47] sandy081 commented on #129548
This shall be fixed in latest insiders.

[2021-07-27 14:47] #129548 closed

[2021-07-27 14:47] misolori commented on #129480
I think it's best to match the default so I'll replace the gopher with the new branding.

[2021-07-27 14:51] stuartleeks commented on #120702
Just tested this. Installing the Jupyter extension succeeds without installing the Python or Pylance extensions. Installing the Pylance extension results in all the extensions being installed (presumably because Pylance has a dependency on the Python extension). Confirmed with @sandy081 that this is the expected behaviour

[2021-07-27 14:52] lramos15 opened #129550 "Interactive Window marketplace suggestion"
Testing #129288

1. Follow the steps in the test plan item to create an interactive window
2. 🐛 I get a notification saying there are extensions on the marketplace that can handle `.interactive`. I feel like this is unnecessary noise

[2021-07-27 14:57] jaroslavhuss commented on #127739
Yeah,

I can confirm that CoPilot did that for me. Anyway, for Javascript and Typescript I've used this setting:

`},
      "[typescript]": {
          "editor.autoClosingBrackets": "always"
      },
      "[javascriptreact]": {
          "editor.autoClosingBrackets": "always"
      },
     "[javascript]": {
         "editor.autoClosingBrackets": "always"
     }`