[2019-11-30 16:50] keddad commented on #85854
Oopsie woopsie, it is a duplicate!

[2019-11-30 16:50] #85854 closed

[2019-11-30 16:58] redy2roll opened #85855 "Not working"
Issue Type: <b>Bug</b>

I am trying to open html, css, and javascript files and vs code isn't allowing me to open the file, but sublime text does and It's really aggravating me.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A9-9425 R

[2019-11-30 17:11] mz8i opened #85856 "Add a command which allows the user to pick a command and its parameters and returns them as a tuple"
When developing an extension, it is currently possible to run
```vscode.commands.executeCommand('workbench.action.showCommands')```
however, this only launches the command palette and returns `undefined`.

What I'd like to see is a command which launches the command palette, allows the user to pick a command and then its parameters, but doesn't actually run the command - it only returns a tuple co

[2019-11-30 17:24] vchuravy commented on #15756
I seem to be getting different versions depending on whether I am on VSCode Insiders

[code]

[code]

But it looks like `cpptools` manually implemented that feature...
https://github.com/microsoft/vscode-cpptools/pull/3221

[2019-11-30 17:39] sl5net opened #85857 "Directory with a dot prefix will not be found"
Directory with a dot prefix will not be found

I want to open the following folder: "/home/me/.config/autokey/data/AutoHotKey4Linux"
But presumably because it starts with a dot, the program does not allow opening this folder?

If I use another IDE, I can open files from this folder or this folder.

Steps to reproduce:

    Open Menu , go to "Open Folder ... "
    Mark directory in Thunar (file man

[2019-11-30 17:47] gjsjohnmurray commented on #85855
/needsMoreInfo

[2019-11-30 17:55] sl5net commented on #85857
works if i choose file:///home/me/.config/autokey/data/AutoHotKey4Linux

[2019-11-30 18:06] MarkRosemaker opened #85858 "Enable setting "breadcrumbs.symbolSortOrder" to be specific to languages"
### Problem

The setting "breadcrumbs.symbolSortOrder" cannot be enabled for a specific language, i.e.

`"[markdown]": {
  "breadcrumbs.symbolSortOrder": "position"
  }`

is not possible in the settings.

### Use case

- It makes sense to sort by position in markdown files to see headers and subheaders as they are.
- However, one might want to display symbols by type when writing code.

Thank you

[2019-11-30 18:17] sl5net commented on #85857
no problem if i use file:///home/me/.config/autokey/data/AutoHotKey4Linux

[2019-11-30 18:24] theferrit32 commented on #3998
@paulmillr that's good to hear, I'm on Linux.  What do I need to change to make the watch interval longer?

[2019-11-30 18:27] KarnDeepak opened #85860 "Frequent crash of system even if having enough ram and swap space in linux"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-11-30 18:30] David263 commented on #85853
The first "possible duplicate" in your list has nothing to do with Unicode at all.

My bug report stands and I do want it fixed, not ignored as a duplicate.

[2019-11-30 19:03] roblourens commented on #85644
Can you try setting `"disableOptimisticBPs": true`?

[2019-11-30 19:04] roblourens commented on #85634
The vscode version shouldn't make any difference here. Can you set `"trace": true` and upload the log here, or run the `.scripts` command in the console to see whether sourcemaps are resolved?

[2019-11-30 19:08] Meha44 opened #85861 "output"
I run these codes in VScode, but I have no output. Please help me.
a = 'hello'
print(a[0])
thanks

[2019-11-30 19:20] gjsjohnmurray commented on #85861
/question

[2019-11-30 19:20] #85861 closed

[2019-11-30 19:23] gjsjohnmurray commented on #85853
Please update to the current release and retest. If the problem remains please attach  your test file.

[2019-11-30 19:34] djsall opened #85862 "HTML inside PHP Print not syntax highlighted, simply treated as string."
Piece of code without highlighting:
![image](https://user-images.githubusercontent.com/4785203/69905159-605b7600-13b0-11ea-90cc-61dccd48a9c2.png)
Example in phpstorm:
![image](https://user-images.githubusercontent.com/4785203/69905186-97318c00-13b0-11ea-93e5-82dbffba6833.png)
Also tested with builtin color themes, all of them reproduce the same behavior.

[2019-11-30 19:43] Aveik commented on #12622
+1

[2019-11-30 19:44] Aveik commented on #12622
I am amazed that this isn't already a feature. It definitely is valuable to many other people than me, please consider it.

+1

[2019-11-30 19:50] gjsjohnmurray commented on #85853
/confirm I am able to reproduce this in 1.40.2 and 1.41.0-insider by copying the test string from GH report and pasting.

[2019-11-30 20:05] David263 commented on #85853
You first say, "Please update to the current release and retest." But then you say, "I am able to reproduce this." Do you still need me to update and retest? I am confused by your posts.

[2019-11-30 20:21] swiffysmith commented on #28795
Same problem for me (Debian 10)
VSC version: 1.40.2
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 4.19.0-6-amd64
I'm using imwheel and will try @khaschuluu solution...

[2019-11-30 21:25] ctf0 opened #85863 "invalid tail call"
### Env
[code]

### Steps to Reproduce:

1- create an untitled view or open a file
2- using the below commands in order
`workbench.action.moveEditorToxxxGroup` > `workbench.action.editorLayoutSingle` > `workbench.action.moveEditorToxxxGroup` will

- freeze the editor renderer
- show a pop up with `invalid tail call`
- show the below error in the dev panel

[code]

Does this issue occur when all ex

[2019-11-30 21:42] gjsjohnmurray commented on #85853
Sorry for the confusion. I don't think you need to do anything more at the moment. But I am not a member of the VSCode team.

From the extra research I did I learned your sample string includes two nonspacing mark characters, U+0951 and U+0952. It seems VSCode doesn't handle these correctly. Thanks for reporting.

[2019-11-30 22:07] David263 commented on #85853
Thank you. As a further clarification, another of the hidden complexities of our "keep adding complications" standard, Unicode, is 'grapheme extenders'. Please see https://stackoverflow.com/questions/21722729/what-is-the-difference-between-combining-characters-and-grapheme-extenders-i for the difference. Although I haven't tested VSC for correctness in rendering grapheme extenders, I'll busy curre

[2019-11-30 22:14] #85464 closed

[2019-11-30 22:17] Toomavic commented on #85489
Hi @sandy081

I managed to solve this problem by setting DNS settings to 8.8.8.8 and 8.8.4.4

I think this is caused by network admin in some countries including mine.

Please refer to this solution in the documentation.

[2019-11-30 22:23] aodegov commented on #85382
Same issue.
After update **Definition**, or **Peek definition** (by the F1 + Alt F12 click) aren't working.
Event I don't see them in context menu.
VSCode: 1.40.2
Windows 10 x64
Would be nice to clarify the problem
Thanks

[2019-11-30 22:35] P0oOOOo0YA commented on #11770
I don't know what's the problem here. if vscode is based on electron then every renderer page is actually a HTML which in turn supports RTL using `dir` attribute. All we want is to allow using a shortcut to set this attribute on the renderer page.

[2019-11-30 22:35] hello341 commented on #85737
how to disable one by one?

[2019-11-30 22:50] claytongulick opened #85864 "Syntax highlighting for "not obviously defined" variables"
It would be a huge time saver if variables inside of a scope that are not obviously defined, were highlighted in a color, yellow for example.

One of the more helpful features VS Code has with syntax highlighting is to grey a variable out when it detects that it's not being used. This helps find lots of typos. It would be equally, perhaps more, helpful if when using a variable, if there's no obvio

[2019-11-30 22:56] roblourens opened #85865 "Missing subpixel AA on messages in search viewlet"
- Start search that returns no results
- The message in the viewlet has opacity and is missing subpixel AA

#85099

[2019-11-30 23:07] gjsjohnmurray commented on #85853
Might still be worth you updating to 1.40 because the release notes mention better handling for Unicode combining characters.

[2019-11-30 23:10] iddan commented on #11770
I believe it is not so simple because to render text in a code editor you need more than just changing the `dir` attribute. Assumptions are made in a constrained environment so when changing the conditions of the environment those assumptions can break and code needs to be changed. Sometimes a lot of it.
But, as you said it is feasible with HTML to get RTL right. It just may be more work than you'

[2019-11-30 23:29] David263 commented on #85853
I have updated to 1.40. Wow, an impressive number of Issues were closed.

As to the Unicode errors reported here:

1. The "nūta॑nairu॒ta" error still happens.
2. The "הֽ͏ַ" grapheme is now correctly rendered, but cannot be copied and pasted. Also, the caret doesn't move correctly either forward or backward, and the mouse doesn't work right either.
3. The "﷽" phrase is still displayed as one charac

[2019-11-30 23:40] nmggithub opened #85866 "Emulated terminal does not display text strikethrough created with ANSI escape codes"
- VSCode Version: Code Insiders 1.41.0-1575020923
_(also tested on a fresh install of Code 1.40.2-1574694120)_
- OS Version: Debian 10

Steps to Reproduce:

1. Go to the emulated terminal
2. Type any command that used ANSI escape codes to strikethrough text,
&nbsp;such as ```echo -e "\e[9mstrikethrough\e[0m"```
3. Press Enter

Does this issue occur when all extensions are disabled?: Yes

Changing

[2019-12-01 00:13] dbeigi commented on #67340
Hi @waldyrious, can you provide a screenshot of where these are?

[2019-12-01 00:18] dbeigi commented on #69546
Hi @aeschli can i work on this feature?

[2019-12-01 00:55] Offbeatmammal commented on #70764
while VSCode Remote Dev or something like the Coder remote solution are good for connected scenarios, I would still *really* love to see a stand-alone, offline, version of VSCode that can use local/OneDrive hosted files for basic HTML/CSS/Javascript development. Adding a decent javascript console would help debugging. Longer term I'd love to see PHP and MySQL living on my iPadPro as well (hey, a b

[2019-12-01 01:56] chrisahardie opened #85867 "Debugging remote node process ignores breakpoints"
- VSCode Version: 1.40.2
- OS Version: Raspbian Buster / Windows 10

Steps to Reproduce:

1. Create Node project on remote Raspberry Pi running Raspbian Buster at `/home/pi/Documents/Repos/test`
2. Add `start-with-debug` script to `project.json`

[code]

3. Expose `/home/pi/Documents/Repos` as a network share `PiShare`
4. Open VS Code on Windows 10 laptop pointing at network share: `Open directory

[2019-12-01 02:06] LAK132 commented on #33974
Just adding my 2c. A code base I work on occasionally was primarily written by someone using Emacs, so I'm constantly seeing this
![image](https://user-images.githubusercontent.com/1386467/69908329-f2a65d00-1436-11ea-8f83-51e438485b95.png)
I don't care too much for writing like this myself, but being able to set indentation to 2 spaces but have tabs render as 8 spaces (as it would with Emacs Smart

[2019-12-01 03:06] Prynka1995 opened #85868 "Autopep8 formatting doesn't work in 2.7.17 python but work in 3.8"
Issue Type: <b>Performance Issue</b>

Hi, autopep8 formatting doesn't work in python 2.7.17, but when I change intepreter to python 3.8 it works. What shoul I do to able to formatting code in 2.17 intepreter?

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|

[2019-12-01 03:16] byyxx128 opened #85869 "Excessive spaces on the localized context menu "Open with Code" in Simplified Chinese (zh-CN)"
Recently I noticed the context menu "Open with Code" has been localized. However, I found there is a little typo in simplified Chinese (zh-CN).

The original English version is `Open with Code Insiders`, so the simplified Chinese (zh-CN) version should be `通过[One Space]Code Insiders 打开`. However, it is currently `通过[Two Spaces]Code Insiders 打开`.
The difference is there should be only **one space**

[2019-12-01 04:05] rihalvnium76 opened #85870 "Garbled characters when importing multiple folders into the workspace"
Issue Type: <b>Bug</b>

Directly importing folders with Chinese names is normal. However, if I first import a folder with an English name (e.g. D: \ npMingw \ mingw), and then import a folder with a Chinese name (e.g. D: \ Data \测试), the import with a Chinese name will fail. The name of the folder in the workspace becomes garbled code, and prompts "Can not resolve workspace folder"

VS Code versio

[2019-12-01 05:30] pucumt commented on #85386
I don't know which extension it is, but only disable the extension is not enough, must uninstall it. (actually I don't remember all the extensions that uninstalled by me)

[2019-12-01 05:41] vmittal26 commented on #85846
Coding lanuage -> Javascript/Typescript
No message in output panel , its simply not showing option on hover , attaching screen shot of about vs vs code version
![VS_CODE_VERSION_SCREENSHOT](https://user-images.githubusercontent.com/34622587/69910074-46ab4480-142b-11ea-9622-aaca06eab214.png)

[2019-12-01 05:42] sakuranew opened #85871 "too many extra output when using python for vscode"
PS C:\Users\NEW\Desktop> cd 'c:\Users\NEW\Desktop'; ${env:ALLUSERSPROFILE}='C:\ProgramData'; ${env:AMD_ENTRYPOINT}='vs/workbench/services/extensions/node/extensionHostProcess'; ${env:APPDATA}='C:\Users\NEW\AppData\Roaming'; ${env:APPLICATION_INSIGHTS_NO_DIAGNOSTIC_CHANNEL}='true'; ${env:asl.log}='Destination=file'; ${env:CCHZPATH}='e:\CTEX\CTeX\cct\fonts'; ${env:CCPKPATH}='e:\CTEX\CTeX\fonts\pk\mo

[2019-12-01 05:52] #85871 closed

[2019-12-01 06:37] Menci opened #85872 "Almost ALL icons in UI are missing"
- VSCode Version: 1.40.2 (system setup)
- OS Version: Windows_NT x64 10.0.18985

Steps to Reproduce:

[code]

![image](https://user-images.githubusercontent.com/11341955/69910517-e70f6200-1447-11ea-98f0-e598392e4432.png)

![image](https://user-images.githubusercontent.com/11341955/69910522-f4c4e780-1447-11ea-8082-819462747056.png)

Does this issue occur when all extensions are disabled?: Yes

[2019-12-01 06:52] icq4ever opened #85873 "crash without any error message"
OS : windows 10 Home edition 64bit

I'm not sure what makes crash exactly but it's happen with korean IME (input method). with korean IME, as soon as typing '"' or "-" like special charecter, suddenly all VS code windows are disappear. already tried uninstall suspicious non official extensions. but no different.

[2019-12-01 07:41] muhd-ali commented on #29757
The directory structure on v1.40.2 seems to have changed. The css files in the stated directory are named differently. Also setting it to 100% *did not work for me*. Not sure why.

[2019-12-01 08:11] srinvaspoduri commented on #85848
Yup ..its working now ..Thanks

[2019-12-01 09:25] narendra-sabhani opened #85874 "Terminal windows icon cut out"
Issue Type: <b>Bug</b>

While installing rust (rls) package on terminal windows font icons were displayed fully.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: en

[2019-12-01 09:26] narendra-sabhani commented on #85874
See Attached Screenshot.
![image](https://user-images.githubusercontent.com/20256908/69912089-bb41ab80-144a-11ea-8d2f-07220cdb615d.png)

[2019-12-01 09:56] waldyrious commented on #67340
@dbeigi actually the icons have been [changed in 1.37](https://code.visualstudio.com/updates/v1_37#_new-product-icons): instead of `⊟` and `⊞`, they are now arrowheads, looking like `v` and `>`, respectively. Here's a screenshot showing the new icons, taken using the latest release, 1.40:

<img width="386" alt="Screenshot 2019-12-01 at 09 34 58" src="https://user-images.githubusercontent.com/47823

[2019-12-01 09:57] Mustafa-Hayati opened #85875 "The program crashes after pasting a faulty JSX."
Hi. I was creating a form and copied a form from my previous projects and pasted it to the component. It started to throw errors. Then I deleted the whole JS file but the errors and problems remained and all extensions stopped working( prettier and intellisenses,....). I had to reload the vscode but Every time I paste a faulty HTML to a JSX file and then remove the whole page, the errors remain th

[2019-12-01 09:59] Mustafa-Hayati commented on #85875
Look at the picture. The signin.js is empty but errors are still there.

[2019-12-01 10:26] cdytoby opened #85876 "Error message: Sorry, Java IntelliCode Support has problem, for more details, please view Output"
Issue Type: <b>Bug</b>

Original Text:
很抱歉，激活面向 Java 的 IntelliCode 支持时遇到问题。有关详细信息，请查看“针对 Java 的语言支持”和 "VS IntelliCode" 输出窗口。

Translation:
Sorry, Java IntelliCode Support has issue. For more details, please check "Java Language Support" and "VS IntelliCode" Output.

I don't get it. Where are these Output? I don't have any outputs here.

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81

[2019-12-01 10:42] antcasq opened #85877 "Improved outline view - Eclipse alike"
Outline view should have the following options:
1- Hide attributes/fields/variables
2- Show method names without it's children

Please take a look at the Eclipse IDE to (https://www.eclipse.org/) see what I mean.

Thanks

[2019-12-01 11:21] GustavoASC commented on #23001
On #85859 PR I created a command to change focus between preview editor and references tree.

I assigned it to F2 by default (please check PR to see my reasons why I did it).
Do you guys agree with this or think we should not assign to any key by default?

[2019-12-01 11:37] sandy081 commented on #85876
I suspect this is coming from an extension. So please file against the extension that is causing this.

[2019-12-01 11:37] #85876 closed

[2019-12-01 11:53] sandy081 commented on #85870
Can you please open the workspace configuration file and see the entry that is corresponding to the folder `测试`. You can use the command `Open Workspace Configuration File` to open it.

[2019-12-01 11:54] sandy081 commented on #85869
Not sure who is responsible for this and hence assigning to three of you.

[2019-12-01 11:55] sandy081 commented on #85868
Please file the issue against the python extension.

[2019-12-01 11:55] #85868 closed

[2019-12-01 11:58] avgeorge opened #85878 "Integrated terminal displays tab characters using spaces"
Tabs in the terminal output are displayed using spaces instead of a single tab.
I noticed this because I was filtering a tsv with grep and wanted to copy the output from the terminal, but I couldn't because the tabs had been replaced.
Doing this on my system terminals (terminator or xfce terminal) works as I would expect, so I can just select and copy the output and it's still a valid tsv.

- VSCo

[2019-12-01 12:08] PEZ opened #85879 "Keyboard shortcut key presses gets emitted to Webview"
Issue Type: <b>Bug</b>

When using shortcuts, while having a webview open, the shortcut's key presses ”leaks” out and are sent to the webview.

## Reproduce

This can be reproduced using the Jupyter extension:

1. Configure Zoom in to be just a character, say `z`, using the regular Shortcuts UI
1. Create a new Jupyter Notebook and focus an input prompt.
1. Use that shortcut

**Expected**:
VS Code

[2019-12-01 12:22] tomasaschan opened #85880 "New folder navigation makes it impossible to delete empty file"
Issue Type: <b>Bug</b>

1. Inside the workspace, create a few folders inside each-other. For example, `mkdir -p foo/bar/baz`. `foo/bar/baz` shows up as a single entry in the File Explorer pane, which is pretty awesome.

2. Navigate to either folder in the File Explorer by focusing it and using the arrow keys.

3. Try to delete it by pressing the `Delete` key.

Expected result: The folder is delete

[2019-12-01 12:22] vlijmenfileer opened #85881 "deb post install script writes to /etc/apt/sources.list.d"
Issue Type: <b>Bug</b>

After adding a deb source for vscode:
deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main
in /etc/apt/sources.list.d/microsoft-vscode.list
the deb post install script writes its own variant of that file under its own name.

See:
https://github.com/microsoft/vscode/blob/master/resources/linux/debian/postinst.template

I'm not sure if it is a bug in the s

[2019-12-01 12:25] sandy081 commented on #85864
Looks like related to syntax highlighting, hence assigning to you.

[2019-12-01 12:25] Josema opened #85882 "Debugger Cannot launch program if the file has a dot on beginning of the name"
![image](https://user-images.githubusercontent.com/1819888/69913845-98f56100-143d-11ea-8bfd-3cfd664b359d.png)

- VSCode Version: 1.40.2
- OS Version: Windows 10

This is my conf:
[code]

The path is correct and the file exists. If i remove the dot on the file it works. Is this a normal behavior.

[2019-12-01 12:31] sandy081 commented on #85860
Can you please follow this wiki - https://github.com/microsoft/vscode/wiki/Native-Crash-Issues and help us providing enough information?

[2019-12-01 12:36] GustavoASC commented on #23001
Besides, we still need a setting to define which component will receive focus by default when Peek Window is shown.

[2019-12-01 12:36] sandy081 commented on #85855
What do you mean by `not allowing me to open`. Do you see any error ?

[2019-12-01 12:36] PEZ commented on #85879
I am an extension author, and my extension also has a REPL Webview. Right now I have to both avoid providing default keybindings with chords ending in a typeable character.

This is bad, because a lot of the commands for my extension make total sense to use with chords ending in regular characters.

This is extra bad because I also have to instruct my users to do avoid chords like that, regardless

[2019-12-01 12:39] sandy081 commented on #85850
Great, PR would be more welcome. Please think of a design that can disable `enter` to accept.

[2019-12-01 12:50] AleksandrHovhannisyan commented on #32320
Still can't even get VS Code to build 😒 It fails towards the end of `yarn watch`. Oh well.

[2019-12-01 13:02] NethmiRodrigo commented on #80991
I seem to be having the same issue and I've been having it since the day I installed it. The prompt is about 10 lines down all the time. Included video of issue in zip.
[VS Code Issue.zip](https://github.com/microsoft/vscode/files/3908217/VS.Code.Issue.zip)

[2019-12-01 13:06] rihalvnium76 commented on #85870
The configuration file can be opened, but it displays garbled characters.
This garbled problem has existed from the previous version to the current version, and still has not been fixed.
![VSCBUG](https://user-images.githubusercontent.com/57667144/69914360-5ef87f00-147e-11ea-9288-0fb0c3b7c78b.png)

[2019-12-01 13:18] sandy081 commented on #85827
Please file issue against the omnisharp extension

[2019-12-01 13:18] #85827 closed

[2019-12-01 13:23] sandy081 commented on #85805
Please file this issue against the cosmos-db extension.

[2019-12-01 13:23] #85805 closed

[2019-12-01 13:27] sandy081 commented on #85800
Please file the issue against the extension.

[2019-12-01 13:27] #85800 closed

[2019-12-01 13:31] sandy081 commented on #85798
Does the assigned keybinding works?

[2019-12-01 13:32] sandy081 commented on #85797
/needmoreinfo

[2019-12-01 13:35] sandy081 commented on #85797
/needsMoreInfo

[2019-12-01 13:38] sandy081 commented on #85796
Can you please explain the issue you are seeing? Is this caused by an extension? Can you repro this issue by disabling all extensions.

[2019-12-01 13:38] sandy081 commented on #85796
/needsMoreInfo

[2019-12-01 13:40] sandy081 commented on #85795
Can you please let us know what debugger are you using?

[2019-12-01 13:42] sandy081 commented on #85790
Why is it only for chord keys but also for all keys?

[2019-12-01 13:52] sandy081 commented on #85776
Please file the issue against the extension.

[2019-12-01 13:52] #85776 closed

[2019-12-01 13:59] #85747 closed

[2019-12-01 14:00] sandy081 commented on #85743
What snippets are you trying to load and where?

[2019-12-01 14:01] sandy081 commented on #85742
Please file the issue against the extension that is causing this.

[2019-12-01 14:01] #85742 closed

[2019-12-01 14:03] sandy081 commented on #85737
You can disable the extension from the extensions view.

[2019-12-01 14:03] sandy081 commented on #85735
/duplicate

[2019-12-01 14:07] #85883 closed

[2019-12-01 14:08] sandy081 commented on #85731
Not sure what is the request for? Please provide us what is the feature user is missing and expecting?

[2019-12-01 14:12] sandy081 commented on #85723
at Generator.next (<anonymous>)

I see extension `huizhou.githd` still enabled. I see this is coming from this extension. Please files the issue against it.

[2019-12-01 14:12] #85723 closed

[2019-12-01 14:13] sandy081 commented on #85659
Please file issue against the extension.

[2019-12-01 14:13] #85659 closed

[2019-12-01 14:17] sandy081 commented on #85870
If you fix this file by changing the encoding and updating the path then it works?

[2019-12-01 14:18] gjsjohnmurray commented on #85862
Perhaps the fix for #84401 may have resolved this. Can you test with the current [insider build] (https://code.visualstudio.com/insiders) ?

[2019-12-01 14:20] Menci commented on #85872
![image](https://user-images.githubusercontent.com/11341955/69915225-c535cf80-1487-11ea-807d-70b445c589d9.png)

I didn't notice this before bacause I saw there're no errors in Console. So it seems we should prevent Chrome from using the fallback fonts.

According to Chrome Platform Status metioned in the warning message:

[2019-12-01 14:22] djsall commented on #85862
Tested insiders, still not working.
![image](https://user-images.githubusercontent.com/4785203/69915360-58eaaa00-144e-11ea-9009-1bdab747a95e.png)

[2019-12-01 14:26] sandy081 opened #85884 "Enhance resource configuration service"
Enhance resource configuration service

- Ability to update resource scoped value
- A change event that is resource and lang aware

[2019-12-01 14:30] ericdrobinson commented on #85735
@sandy081 Wait wait wait wait wait. What do you mean "/duplicate"? Which issue does this explicitly duplicate? You didn't specify which one. If this is actually a duplicate, please indicate some resource or actual issue.

I searched with various different variations on the title but came up with nothing that captured what I was looking for.

If you were simply scanning my previous comment and noti

[2019-12-01 14:45] sandy081 commented on #2743
Settings Sync Design Proposal:

We are planning to built settings sync inside VS Code as follows:

- VS Code would provide the UI and feature to sync settings, keybindings, extensions & snippets.
- VS Code talks to a service end point to read and write the data

**VS Code Settings Sync Service End Point**

- Provides ReST API to read and write data (backend)
- Provides authentication mechanism for

[2019-12-01 14:48] sandy081 commented on #83930
@shanalikhan Current plan is to build end to end settings sync feature. Please see https://github.com/microsoft/vscode/issues/2743#issuecomment-560116420 about the proposal.

[2019-12-01 14:49] omer-g opened #85885 "Add file to .gitignore from Explorer context menu"
It'd be nice to have an "Add to .gitignore" functionality in the Explorer context menu.
This was already mentioned briefly in #51525 and was closed (I'm sorry for the duplicate - I thought this could perhaps be further discussed, since the previous issue was one line).

The main reason why I think this would be helpful, is because folders do not appear in the Source Control toolbar. This means tha

[2019-12-01 14:50] TroyTae commented on #70464
@crystalfp @mjbvz
Ummm it seems [markdown-it-front-matter](https://github.com/craigdmckenna/markdown-it-front-matter) isn't maintained anymore...
(https://github.com/craigdmckenna/markdown-it-front-matter/pull/7#issuecomment-559633000)
When faced like this situation, how can we do?

[2019-12-01 14:50] sandy081 commented on #85735
As per the title - `Ability to Install Extensions Enabled in Current Workspace Only` I remember that there is an issue already filed before for the same purpose. Hence I made it duplicate. I am sure if you search for all issues with `extensions` label you will find it.

[2019-12-01 14:51] ThirtySomething opened #85886 "Find in files not working as expected"
I'm using VSCode sometimes to search in logfiles. Basically this is very comfortable. Since one of the last updates the function is no longer working as expected. I'm running

Version: 1.40.2 (user setup)
Commit: f359dd6
Date: 2019-11-25T14:54:45.096Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.17134

To reproduce the issue:
- Navigate in

[2019-12-01 14:53] sandy081 commented on #85749
@kesane-msft FYI

[2019-12-01 14:55] sandy081 commented on #85555
@thomthom Please follow these steps and provide us necessary info

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-p

[2019-12-01 14:56] sandy081 commented on #85686
There is another open hence marked duplicate.

[2019-12-01 14:58] sandy081 commented on #84393
@deepak1556 Also assigning this to you, please refer to above two comments.

[2019-12-01 15:00] sandy081 commented on #85216
Yes, plan is to provide the end to end feature in VS Code. We are still discussing if we want to allow extensions to contribute backend provider that can store data.

[2019-12-01 15:02] ThiefMaster opened #85887 "Provide a way to make terminal commands issued programmatically not end up in the shell history"
I initially opened this issue over in the vscode-python repo (microsoft/vscode-python#7041) but it turned out to be something for the core.

When anything - for example the "run" command from the Python extension - executes a command in the terminal, it ends up in the user's shell history.

I'll explain below why this is incredibly annoying, but both [bash](https://unix.stackexchange.com/a/115922/

[2019-12-01 15:07] grizlikoff-code opened #85888 "Code formatting by Shift + ALT + F stops working"
Issue Type: <b>Bug</b>

Code formatting by Shift + ALT + F stops working.
If I select "Format with document using ..."
Several identical formatting profiles appear:

"C / C ++ by default"
"C / C ++ by default"
"C / C ++ by default"
"C / C ++ by default"
and only one of them formats the code.
Setting this profile by default does nothing.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37a

[2019-12-01 15:09] sandy081 commented on #85119
I have not seen this issue too.

Can you please reproduce it on a fresh user data directory? You can use command line option `code --user-data-dir <path_to_dir>`  and launch code.

[2019-12-01 15:12] sandy081 commented on #85379
Can you please open developer tools and show us the network requests for each case?

[2019-12-01 15:17] sandy081 commented on #84756
You can start with

[2019-12-01 15:23] ericdrobinson commented on #85735
@sandy081 But... I have **_already_** searched for that duplicate. _Multiple times._ I cannot find a duplicate.

If you also cannot find the duplicate such that you can actually link to it (for both myself and future people), then perhaps you should leave it open until such a time as someone **_does_** locate the issue you claim to remember seeing, no?

[2019-12-01 15:30] ericdrobinson commented on #85735
@sandy081 I did as you suggested and searched with the `extensions` label. The closest I was able to identify is #68364 which is **related**, but not identical. **That** feature request is:

## Provide a Setting to Install Extensions as Disabled by Default

This feature request is:

## Add the Ability to Install Extensions as Enabled for the Current Workspace only

These are inherently _different_

[2019-12-01 15:40] thomthom commented on #85555
While search I see this:
![image](https://user-images.githubusercontent.com/192418/69916175-f5657a00-1457-11ea-96fa-46adf895ad1f.png)
Failing URL is: https://marketplace.visualstudio.com/_apis/public/gallery/extensionquery
I'm able to access that URL from the browser:
![image](https://user-images.githubusercontent.com/192418/69916204-58571100-1458-11ea-9c5a-fcafafe3da2a.png)

That URL loads file.

[2019-12-01 15:45] gjsjohnmurray commented on #85885
[This extension](https://marketplace.visualstudio.com/items?itemName=michelemelluso.gitignore) look like it does the job.

[2019-12-01 15:48] psclkhoury commented on #85686
@sandy081 well then at least link the duplicate issue!

[2019-12-01 15:48] gjsjohnmurray commented on #85888
Does this reproduce if you disable all extensions except for cpptools?

[2019-12-01 15:53] GRGSIBERIA commented on #85849
Yet, this issue duplicated, And Windows is different from Linux.
I think that Electron or VSCode changed keyboard interrupt.
Does Electron depend on Chromium?
I hope the cause of the dependency can be identified.
I'll be patient for a while :D

[2019-12-01 16:15] dhairyanadapara commented on #85857
I can't reproduce this issue on ubuntu. I think this is an OS-specific issue.

[2019-12-01 16:36] dhairyanadapara commented on #85782
As you have shown your setting for the font. I think you have to add a pair of `''(quotes)` on font name like this `"editor.fontFamily": "'Fira Code Retina', Consolas"`.

[2019-12-01 16:40] rihalvnium76 commented on #85870
No.
I tried to modify the file encoding to UTF-8 and save it, but it didn't work.
After that, I tried to remove the folder with Chinese name, opened the workspace configuration file, used "Reopen with Encoding" and selected UTF-8 (not saved), and then re-added the directory with Chinese name, VSCode was able to resolve .
However, when I close the workspace configuration file opened in the editor,

[2019-12-01 16:45] dhairyanadapara commented on #85744
On windows, it will clear the terminal in when using `cmd` or `PowerShell` directly.

[2019-12-01 17:12] Cellv2 opened #85889 "Insiders intellisense will not load"
### VSCode Version:
Version: 1.41.0-insider (user setup)
Commit: e15ff0097ceb84c4e28a67dac41c2d8dcd4cf027
Date: 2019-11-29T09:09:48.304Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

### OS Version:
Windows 10 Version 1903 (OS Build 18362.476)

### Steps to Reproduce:
Currently unknown how to get it into the state that I have, but op

[2019-12-01 17:18] anantharamc opened #85890 "VS Code Download site is down"
https://vscode-update.azurewebsites.net/latest/darwin/stable  - returns "can't reach this website" message.

[2019-12-01 17:33] Tyriar commented on #85878
/duplicate https://github.com/xtermjs/xterm.js/issues/734

[2019-12-01 17:33] #85878 closed

[2019-12-01 17:34] Tyriar commented on #85744
/duplicate https://github.com/microsoft/vscode/issues/75141

[2019-12-01 17:34] #85744 closed

[2019-12-01 17:57] cfxd commented on #82330
I really thought I was losing my mind because this setting wasn't taking effect no matter what I tried. Restarted vscode, rebooted my machine, etc. Turns out there are three settings to watch out for:

[code]

Since I despise the new workflow it made sense for me to set them all to false.

[2019-12-01 18:03] bleutwo commented on #85890
Looks like it is up again.

[2019-12-01 18:31] roblourens commented on #85880
I was about to file the same issue. Here's what my debugging showed

- ExplorerView#getContext returns an array with the same element twice
- In the deleteFiles handler, `resources.distinctParents` returns an empty array, I think it isn't expecting the same element multiple times and both are filtered out
- Then it fails here

![image](https://user-images.githubusercontent.com/323878/69918356-b6b6

[2019-12-01 18:42] saish-borkar commented on #85448
Hi @joaomoreno ,
I checked but there are no keys in `HKEY_LOCAL_MACHINE`
under both the locations in Drive and Directory. Please check the below images.

Drive Image

![image](https://user-images.githubusercontent.com/13750931/69918411-8e67b580-1497-11ea-9dc9-5b5fb79a9e66.png)

Directory Image

![image](https://user-images.githubusercontent.com/13750931/69918437-e69eb780-1497-11ea-8d29-509c85b724d

[2019-12-01 19:00] ssomers opened #85891 "Change All Occurrences messes up after positioning with mouse"
Issue Type: <b>Bug</b>

- In Rust or Go or probably any type of file:
- Right-click on an identifier that appears elsewhere too, perform Change All Occurences => other occurrences on screen get selected
- Left-click somewhere inside the identifier to position the cursor => other occurrences are still entirely selected
- Start typing => replaces the other occurrences instead of inserting there

VS

[2019-12-01 19:06] jzyrobert commented on #78903
Is there a way to get the language mode of the current active fileEditorInput?
It seems there is `preferredMode` but not the current set mode like `untitledTextEditorInput` has

[2019-12-01 19:25] egeant94 commented on #84925
On VScode the font isn't changed :
![image](https://user-images.githubusercontent.com/56257277/69918848-fe197880-1476-11ea-9fca-73b5d800c8ee.png)
i've tried to install a DejaVu powerline font for my ubuntu terminal, which fixed the problem of the arrow symbol missing on my default ubuntu terminal but any of this didn't affect the vscode one.
I'm using auto for the renderer type :
![image](https://

[2019-12-01 19:34] sandy081 opened #85893 "Support synchronising keybindings"
- Enable synchronising keybindings
- Be default keybindings are synchronised per platform
- One can disable this using setting `sync.keybindingsPerPlatform`

[2019-12-01 19:35] hobeas commented on #83209
My console also disappeared. This only happens when opening extensions with suggestions.
1. normal
<img width="987" alt="normal" src="https://user-images.githubusercontent.com/41267951/69918746-e7901300-14b0-11ea-9f58-80369e4fff77.png">

2. Click on extension that contains suggestions (Star mark in upper right corner).
<img width="987" alt="contains-suggestions" src="https://user-images.githubuser

[2019-12-01 19:43] bkeevil commented on #66738
This issue also happens with the # character

[2019-12-01 20:01] Raheem387 opened #85895 "c“Visual Studio Code” can’t be opened because Apple cannot check it for malicious software."
- VSCode Version: 1.40.2
- OS Version: 10.15.1

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-12-01 20:27] ItzLevvie commented on #85895
/duplicate

[2019-12-01 20:28] ItzLevvie commented on #85895
Duplicate of https://github.com/microsoft/vscode/issues/82534

[2019-12-01 20:51] #84007 closed

[2019-12-01 20:54] roblourens commented on #85865
https://github.com/microsoft/vscode/commit/789416f4a7f5fa42acbeb9d4df9907255d1d0f80

[2019-12-01 20:54] #85865 closed

[2019-12-01 21:08] omer-g commented on #85885
It does, thanks so much.

[2019-12-01 21:11] gjsjohnmurray commented on #85895
/duplicate see #74782

[2019-12-01 21:11] #85895 closed

[2019-12-01 21:13] gjsjohnmurray commented on #85885
@omer-g please close this issue.

[2019-12-01 21:15] lass-0 opened #85896 "Delay with rendering description of extension"
Issue Type: <b>Performance Issue</b>

Ever since I started using VS code, there has been this 10-30 second delay when selecting extensions and seeing the description, and it's really starting to annoy me. The javascript profiler says that most of it is idling..? https://i.imgur.com/nhYcjmq.png. I have run with and without GPU, and with and without --force-renderer-accessibility. It is not an inter

[2019-12-01 21:21] roblourens commented on #84255
I'm not going to mess with this in vscode-chrome-debug-core anymore, this works with vscode-pwa. I suspect that the strategy there is swapping this for other issues but we'll see.

[2019-12-01 21:21] #84255 closed

[2019-12-01 21:22] roblourens commented on #56680
Dev effort for this debug adapter has moved to a new extension which I think already shows stderr for chrome in this case.

[2019-12-01 21:22] #56680 closed

[2019-12-01 21:29] #85885 closed

[2019-12-01 21:36] roblourens opened #85897 "Debug console missing output when using new node DA"
- Debug some script like

[code]

and

[code]

- Close the debug console
- Press F5, hit debugger statement
- Open the debug console
- Sometimes, there is no output
- Press F8, you will see the output after this point

I only see this when using vscode-pwa, but it is sending the output events, and I only see it when the debug console is initially closed.

FYI @connor4312

[2019-12-01 22:17] sandy081 commented on #85893
Re-opening as tests are disabled.

[2019-12-01 22:23] agnivesh29 commented on #52855
Same here !!

[2019-12-01 22:38] jorhett commented on #40295
@jrial The only person here "lashing out" is you. I made a simple statement in roughly a dozen words that does nothing more than reflect the facts visible to anyone who reads the issue.

And to answer the core of your point, no really I don't see the "measurable improvement" -- I see months of effort put in colors and icons, while fairly basic Git usage is 1/4 to 1/3 implemented AT BEST. We are tr

[2019-12-01 22:43] jorhett commented on #40295
@jrial said it best

If you've found this issue because this annoys you, you're gonna find a dozen more like it. Everyday common Git functionality is broken or not implemented in VS Code. The developers won't even acknowledge or update the issues, but they'll ream you for daring to speak up about them. As he said, if you use Git you should find something different.

[2019-12-01 23:27] mcswell commented on #85853
@David263, I'm not on the VS Code team either, but I do a lot of editing with Unicode.  I tried to reproduce your report:
-------
1.Enter the string "nūta॑nairu॒ta" into a new VSC file
2.See that garbage is displayed (more than 11 characters)
3. See that the cursor does not move through the garbage characters one character at a time.
-------
I am wondering what the "garbage" characters are that yo

[2019-12-01 23:44] devsetgo opened #85898 "Open Folder Modal Windows on 4k screen"
**VS Code Version**
Version: 1.40.2 (user setup)
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:54:45.096Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.19033

**Steps to Reproduce:**
Using a 4k display (mine is an XPS 15 7590 with OLED screen with 1080p extra monitor. This could be a windows problem, but I am not seei

[2019-12-02 00:00] RobertoMalatesta commented on #85753
Confirm the issue on Linux as well (Kubuntu 18.04).
vsc does not finds tsc command if node is per-user nvm-installed.
Besides it lists an incorrect Typescript version (3.7.3 while I'm on 3.8):
![image](https://user-images.githubusercontent.com/11835025/69922704-02f22280-149f-11ea-8493-61f8ea22cb37.png)

R

[2019-12-02 00:02] #76871 closed

[2019-12-02 00:03] roblourens commented on #76871
We avoid using a cache for search when the query has a slash and the cache's query doesn't. But that shouldn't apply when the cache query is empty and contains all results.

FYI @chrmarti I think this is ok, let me know if you see something wrong.

[2019-12-02 00:17] David263 commented on #85853
Concerning bug #1: this string is copied from a Sanskrit font that uses the IAST (Roman/Latin) character set, not the Devanagari character set. I certainly don't expect you or a VSC team member to be an expert in character sets! That is why I phrased the bug report as I did: I simply compared with other products that render or recognize this string correctly, then point out that VSC shows it as
![

[2019-12-02 00:28] wedeluxe opened #85899 "Several windows look blank"
Issue Type: <b>Bug</b>

My VS Code session has 10 windows open. 6 out of 10 look blank right after starting VS Code. Blank windows show appropriate tooltips when hovering things, so content still exists. Triggering a repaint of a blank window (e.g. restoring, then maximizing again) is a temporary help. And by the way, unblanking one window blanks another.

As I understand, the issue is supposed to

[2019-12-02 00:48] spssyy opened #85900 "VS Code not for Catalina"
Once VS Code has been installed on my Mac OS 10.15 Catalina, an error report saying that Apple cannot check this application for malicious software. Please optimize VS Code for Mac OS 10.15 Catalina so that this error message disappears.

[2019-12-02 01:10] zcbenz commented on #83994
The `blink::PromiseRejectHandlerInMainThread` is called when promise is rejected, and crash happened inside it because blink could not could a valid DOM window at current scope.

From the crash report, it seems that we need to make `electron::EmitIPCEvent` call JS via blink.

[2019-12-02 01:30] ksze commented on #85798
The keybinding (Ctrl+Super+A) *does* work.

[2019-12-02 02:16] TheLostXianXian commented on #84618
I uninstall svn extension, it looks like the problem disappeared.

[2019-12-02 02:20] cprovatas opened #85901 "Key Binding for Activating the Help Menu"
On macOS, it's fairly standard  for '⌘ + ⇧ + /'   (cmd + shift + backslash) to activate the menu bar help search menu, where the user can quickly search the available menu item actions for a given application.

This does not appear to be the default key binding in VSCode and I was having trouble finding an equivalent action in the Keyboard Shortcuts panel to map this shortcut to.

Does this functi

[2019-12-02 02:24] mcswell commented on #85853
Confused.  Afaict, IAST is a transliteration standard which predates computing.  But in any case, either the original app you copied it from was using some Devanagari characters, or something strange happened when you copy-pasted it in from some other application, because the two characters that show up as boxes really are in the Devanagari range of Unicode (U+0951 and U+0952); they are _not_ code

[2019-12-02 02:54] gjsjohnmurray commented on #85900
/duplicate see #74782

[2019-12-02 02:55] #85900 closed

[2019-12-02 03:00] dy55 opened #85902 "Minimap display problem"
Issue Type: <b>Bug</b>

1. Create or open a file.

2. Type in some non-English characters (such as Chinese or Japanese).

3. Use *Consolas* as the primary font in font family.

4. Turn on the minimap and scale it to level 3 to make it clear to see the characters in it.

Then it will show that all non-English characters are not able to be displayed correctly. I guess it is the problem of the switch

[2019-12-02 03:34] madprops opened #85903 "Automatic clutter remover"
Sometimes I have a lot of tabs of stuff that is not currently relevant. Would be cool if there was a setting to make tabs auto-close after some inactivity delay. Also it should be trivial to bring them back with ctrl+p (which btw as I pointed out in some other issue, shows irrelevant results at the top).

[2019-12-02 03:37] deepak1556 commented on #85789
/duplicate https://github.com/microsoft/vscode/issues/85452

[2019-12-02 03:37] #85789 closed

[2019-12-02 03:42] deepak1556 commented on #85465
@macropas can you launch with `code --verbose` and attach the output from it or the logs from https://github.com/microsoft/vscode/issues/85465#issuecomment-558357874

[2019-12-02 03:49] zhangzheyu2simple commented on #83930
It will be great if support attaching to kubernetes container.

[2019-12-02 03:52] eman291 commented on #85903
ill get that idea documented and in the works thank you btw

On Sun, Dec 1, 2019, 10:37 PM madprops <notifications@github.com> wrote:

[2019-12-02 03:56] eman291 commented on #83930
I agree ill start a workshop for u

On Sun, Dec 1, 2019, 10:52 PM Zheyu Zhang <notifications@github.com> wrote:

[2019-12-02 04:01] lastobelus commented on #83150
seems to be happening more frequently in the last two weeks.

This is a **massive** productivity killer. Totally interrupts flow.

[2019-12-02 04:08] lastobelus commented on #84319
this is a pretty big productivity killer, because it takes you right out of flow state. Especially frustrated when happens during setting up a multiple selection.

[2019-12-02 04:11] deepak1556 commented on #85231
@MauriceBuiten can you launch with `code --verbose` and attach the log when it freezes.

[2019-12-02 04:19] eman291 commented on #85465
Zenhub is  what i go with will provide you some extra tools and info
On Sunday, December 1, 2019, Robo <notifications@github.com> wrote:

--
EMMANUELL

[2019-12-02 04:21] softshape opened #85904 "More useful "No source control providers registered""
Issue Type: <b>Feature Request</b>

Source Control tab shows simple "No source control providers registered" caption by default. No any hints provided.
Suggestion is to add a clickable link to the Help section of how to setup Git/etc in VSCode.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18363

[2019-12-02 04:28] eman291 commented on #85231
Verbose mode  is a informative  software and operating system for start up
and operations. ill
start a workshop now
On Sunday, December 1, 2019, Robo c<notifications@github.com> wrote:

--
EMMANUELL

[2019-12-02 04:56] ravinsinghd commented on #85777
Saw similar issue in my setup also

Code Version: 1.40.2
OS Version: win 10

![Screenshot (10)](https://user-images.githubusercontent.com/9314601/69931639-0a8ce800-14ee-11ea-8dcd-7e06f3fa5504.png)
![Screenshot (9)](https://user-images.githubusercontent.com/9314601/69931646-0cef4200-14ee-11ea-9e30-52982b99ff2e.png)

[2019-12-02 05:00] dlong500 commented on #20934
It looks like a recent insider build enabled linter warnings/errors in the minimap.  That's great for those that want it, but ideally a way to hide them would be nice (at least for linter warnings).  Some files have a lot of warnings and they clutter up the minimap.  Is that possible?

[2019-12-02 05:35] Sabarishtgi opened #85905 "Terminal not working"
Issue Type: <b>Bug</b>

In My Visual Studio  Code Terminal is not working it is Blank ,it is hard to run the program.So Please consider this issue For me
![image](https://user-images.githubusercontent.com/50689455/69933083-7aea3800-14f3-11ea-9f88-eb40855e6314.png)
![image](https://user-images.githubusercontent.com/50689455/69933116-9b19f700-14f3-11ea-8119-0a18c320ed02.png)

Thanks in Advance.

VS

[2019-12-02 06:01] 0xCAF2 opened #85906 "CSS semicolon completion cannot be disabled in HTML files"
Issue Type: <b>Bug</b>

1. Disable CSS property completion with semicolon in both User and Workspace setting.
2. Restart VSCode.
3. Input some css property, and settings has no effect (semicolon is inserted).

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:52:45.129Z)
OS version: Darwin x64 19.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|-

[2019-12-02 06:01] faizhameed opened #85907 "VS code intellisense not working in windows 10"
- VSCode Version: VSCodeUserSetup-x64-1.40.2
- OS Version: windows 10

Does this issue occur when all extensions are disabled?: Yes
![preview of the issue](https://i.ibb.co/LCV0Vpk/vscode-error.png)

Please help, it works fine with Ubuntu linux. but windows vscode doesnt give any suggestions for javascript in js and jsx files. please help

node and npm upgraded to the latest version at the time of

[2019-12-02 06:06] NateLing commented on #83930
i am coming

[2019-12-02 06:08] sbatten opened #85908 "Test: Viewlet/ViewContainer Refactor"
Refs #85566

- [x] anyOS @isidorn
- [x] anyOS @sandy081

Complexity: 3

Test the branch for the PR to ensure there are no regressions introduced so that we can be in a great starting state for next iteration.

[2019-12-02 06:17] samhoff20 opened #85909 "No color with SSH"
Issue Type: <b>Performance Issue</b>

My code doesn't seem to be changing colors or using intelisense while remoting into my raspberry pi with SSH. I have the python extension installed on the remote pi, and the color is set to force on in my .bashrc too. Not sure how to fix it or if its possible.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:52:45.129Z)
OS

[2019-12-02 06:19] taoliu12 commented on #65351
This is still happening to me as well. In win10 i'm set to scroll 6 lines at a time, but VSCode terminal scrolls way more, seemingly 14+ lines.

[2019-12-02 06:23] jmadkins commented on #3915
In a comparison between Atom and VSCode I find VSCode's highlighting _extremly_ distracting.

<img width="890" alt="Screen Shot 2019-12-02 at 01 19 56" src="https://user-images.githubusercontent.com/7314701/69935225-371b1280-14a2-11ea-8643-1df663bb49c6.png">
<img width="859" alt="Screen Shot 2019-12-02 at 01 20 10" src="https://user-images.githubusercontent.com/7314701/69935229-397d6c80-14a2-11ea-

[2019-12-02 06:29] shenlanchenwei commented on #164
It is interesting that is still an issue. It's been 4+ years ..

[2019-12-02 06:41] StephenWeatherford commented on #85731
@gherik You want to answer this?

[2019-12-02 06:56] coolxxy opened #85910 "Explorer always show Windows System Folder "System Volume Infomation""
Issue Type: <b>Bug</b>

On my windows machine, my  golang working folder is a partion mounted on `C":\User\xxx\go`, and when I opened this foler in vscode, the explorer always show Windows System Folder "System Volume Infomation".

![image](https://user-images.githubusercontent.com/11879017/69937063-a7627c00-1514-11ea-86f1-0f08d9a732cc.png)

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6

[2019-12-02 06:57] gjsjohnmurray commented on #85905
/findDuplicates

[2019-12-02 06:57] rickyzhangca opened #85911 "Settings Sync Concept"
Some thoughts on approaches to settings sync: visualizing sync status

![visualization1@2x](https://user-images.githubusercontent.com/16908811/69936319-7008b680-14a5-11ea-9bb2-5f993b85b1a4.png)

![finished@2x](https://user-images.githubusercontent.com/16908811/69936296-5ebfaa00-14a5-11ea-949c-5a69d62a925c.png)

![demo1](https://user-images.githubusercontent.com/16908811/69936378-99c1dd80-14a5-11ea

[2019-12-02 06:59] pinksky opened #85912 "Renamed a folder with many files, then got an empty folder. I have disabled all extensions."
- VSCode Version:1.40.2
- OS Version:Darwin x64 17.7.0
- V8: 7.6.303.31-electron.0
- Electron: 6.1.5
- Chrome: 76.0.3809.146
- Node.js: 12.4.0

Steps to Reproduce:

1. Renamed one folder from lspEditor to LspEditor.
2. Opened file initlsp.ts from file index.tsx by gotoDefinition, both of the two files were within the folder LspEditor.
3. The folder name of LspEditor on the nav is old lspEditor.
4.

[2019-12-02 07:06] mon205 opened #85913 "vs code Debugger for Java hangs with multithreads"
- VSCode Version: 1.40.2
- OS Version: Win 10 Pro 1903
- Java Extension Pack: 0.8.1
- Java Test Runner: 0.21.0
- Debugger for Java: 0.23.0

Steps to Reproduce:
- There is no clear way to reproduce. But the probelm happens when trying to debug (F5) a multi-threading Java application that you put break points inside it.

Does this issue occur when all extensions are disabled?: Yes, noting that the J

[2019-12-02 07:29] PaulPCIO commented on #27498
still present, in Extentions & Release Notes

https://github.com/microsoft/vscode/issues/24122
https://github.com/microsoft/vscode/issues/58007

[2019-12-02 07:42] PaulPCIO commented on #84781
It seems to be fixed in the last Release Notes, still the same problem in the extension page.

![copy from extention](https://user-images.githubusercontent.com/39598117/69939186-829fe180-14df-11ea-87b1-b0b91ddb3359.gif)

[2019-12-02 07:46] Abbyyan opened #85914 "how to debug vscode extension"
I have develop a vscode extension and it works fine on my own PC. But when i put it in a remote server with large amounts files, it produce a lot of report with error `Allocation failed - JavaScript heap out of memory`. how can i debug the extension to find where cause the OOM ? Thanks a lot.

[2019-12-02 07:48] sandy081 commented on #85686
#82524

[2019-12-02 08:02] aeschli commented on #69546
@dbeigi Yes, sure. The code is in here: https://github.com/microsoft/vscode-json-languageservice/blob/c477a20432502febb07c99c08886258659e1b1d8/src/services/jsonCompletion.ts#L244

[2019-12-02 08:04] aeschli commented on #85864
This would have to come from the TypeScript language server or from a linter.

[2019-12-02 08:09] alexandrudima opened #85915 "Do not include git files in search results"
This has started recently, and it is annoying for me:

* when having many tabs opened, including diff editors
* and I want to do a cross-cutting refactoring, like renaming something in multiple places which don't work via <kbd>F2</kbd> (like API), I use the search viewlet.
* the search viewlet has now multiple times misled me and I ended up in what appears to be the "old" version of the file via t

[2019-12-02 08:09] chrmarti commented on #85844
Cannot reproduce. Is that the desktop client? Which platform?

[2019-12-02 08:14] #85470 closed

[2019-12-02 08:16] chrmarti commented on #76871
@roblourens LGTM.

[2019-12-02 08:27] aeschli commented on #85739
if you see this again, can you check whether the folding actions (from the command menu) still work?

Duplicate of https://github.com/microsoft/vscode/issues/75726

[2019-12-02 08:27] #85739 closed

[2019-12-02 08:32] arroyocode commented on #5280
+1 for double shift!

[2019-12-02 08:36] joaomoreno commented on #85915
Yup that's pretty ugly, I seen it too. This is a consequence of using a FileSystemProvider for git, instead of the TextDocumentContentProvider API. cc @eamodio

I wonder if we can filter out search documents based on URI scheme?

[2019-12-02 08:37] jrieken commented on #85382
I what language does this happens?

[2019-12-02 08:38] #85793 closed

[2019-12-02 08:39] jrieken commented on #85793
It looks like the extension providing the outline uses the fully qualified name. It should use the containerName/detail property

[2019-12-02 08:42] jrieken commented on #85784
Which means what? Is it still shown or not? It doesn't work when inserting.

If "No" then please name the extension which is responsible for this, e.g from what extension does the snippet suggestion come?

[2019-12-02 08:44] jrieken commented on #85838
https://code.visualstudio.com/api/references/contribution-points#Sorting-inside-groups

[2019-12-02 08:44] #85838 closed

[2019-12-02 08:47] faizhameed commented on #85907
OK its solved, tried reseting all the settings then it worked

[2019-12-02 08:47] #85907 closed

[2019-12-02 08:49] jrieken commented on #85741
Pretty sure this isn't us. Having `java.` it seems that completion got recomputed and that things like `java.awt.im` are suggested and *not* `awt.im`. When having that prefix, show suggest details and press cmd+? for a details about the text operation. It will show what the extension intents to replace

[2019-12-02 08:50] #85877 closed

[2019-12-02 08:53] amgalan81mn commented on #85790
requesting an enhancement, just display what kind of combination pressed,
the name of it.

On Sun, Dec 1, 2019 at 9:42 PM Sandeep Somavarapu <notifications@github.com>
wrote:

[2019-12-02 08:55] paulvanj commented on #43188
+1 . this would really help me with my workflow as well! Any news or feedback on this being considered?

[2019-12-02 08:57] #85913 closed

[2019-12-02 08:57] moshfeu commented on #27498
@mjbvz  [`retainContextWhenHidden`](https://code.visualstudio.com/api/extension-guides/webview#retaincontextwhenhidden) can solve that.

[2019-12-02 09:11] thany commented on #65351
Seems to have been fixed for me in 1.40.x

[2019-12-02 09:15] J3m5 commented on #83930
It would be nice to see the [multi-line tabs feature](https://github.com/Microsoft/vscode/issues/70413) implemented soon.

[2019-12-02 09:18] sandy081 commented on #85404
I do not think global activity is multi activity aware, hence activities are not shown correctly.

[2019-12-02 09:18] #85404 closed

[2019-12-02 09:19] #84678 closed

[2019-12-02 09:23] joaomoreno commented on #85786
The user summarized it correctly: https://github.com/microsoft/vscode/issues/31380#issuecomment-317702582

In Git, a move is nothing but a delete and create. We show exactly what `git status` shows.

[2019-12-02 09:23] #85786 closed

[2019-12-02 09:24] testforstephen commented on #85741
Actually the same Java extension works at 1.39.0. This issue just appears in the latest VS Code version 1.40.2. Looks like a regression in VS Code.

[2019-12-02 09:29] weinand commented on #85759
@luabud yes, aligning the "Run" stories of individual extensions is one goal covered by this item.

[2019-12-02 09:32] eman291 commented on #85741
checking will make sure if
o5 u its ok
On Monday, December 2, 2019, Jinbo Wang <notifications@github.com> wrote:

--
EMMANUELL

[2019-12-02 09:33] joaomoreno commented on #85745
This seems to work fine for me, both cases:

- Repo created in folder named `repū`
- Repo created in folder named `parentū/repo`

@zaw-shinoto Can you give me exact reproducible steps, including complete folder names?

[2019-12-02 09:34] joaomoreno commented on #85734
This is a good feature request, please feel free to submit a PR.

[2019-12-02 09:34] #85543 closed

[2019-12-02 09:35] #85771 closed

[2019-12-02 09:35] jrieken commented on #85741
Ping on https://github.com/microsoft/vscode/issues/85741#issuecomment-560295155

[2019-12-02 09:35] alexandrudima commented on #85220
Let's track in #65815

[2019-12-02 09:35] #85220 closed

[2019-12-02 09:36] isidorn commented on #67620
I understood this issue as the widget is too short and that can be seen in your gif since the scroll bar covers the last element. That part is fixed.
As for being able to scroll more than needed, we can not fix both with the current approach. So it is one or the other. Since I think it is more importnant to be able to see all the attributes I prefer the current approach.
If you would like we can r

[2019-12-02 09:38] alexr00 commented on #85654
I can see it now, thanks!

[2019-12-02 09:38] isidorn commented on #85638
I have not worked on the status bar. However I can look into this if time permits. Assigning for now to both of us and December.

[2019-12-02 09:39] jrieken commented on #10266
We not gotten enough feedback to finalise this API and will push things out for another milestone. Tho, the setting and the default behaviour will ship.

[2019-12-02 09:39] testforstephen commented on #85741
I enabled the cmd + ? in the new screenshot.

If i type `import java` first, and at the end, click `ctrl+space` to trigger the completion. The returned completion is similar to replace the prefix `java`, but it works as normal.
![complete_ctrl_space](https://user-images.githubusercontent.com/14052197/69948055-e5b66600-1529-11ea-974a-001744d08ef6.gif)

But if i type an extra `.`, the completion wil

[2019-12-02 09:42] Nerossoul opened #85916 "keyboard language change is focus main menu"
Issue Type: <b>Bug</b>

Hello
I am from Russia
my keyboard contains to languages: English and Russian/
 I change keyboard language by alt+shift combination

after the update, alt+shift combination focuses me on the main menu and I need to click to the editor now to continue to type my code. each time when I change the language by alt+shift it unfocuses my editor

VS Code version: Code 1.40.2 (f359

[2019-12-02 09:43] #85520 closed

[2019-12-02 09:44] aeschli commented on #85520
It's no just with `:` but also with `,` that we insert automatically.

I disabled the commit characters for now as we wait for the new API.

[2019-12-02 09:44] isidorn commented on #85908
Sounds good. Imho this touches a lot of areas and will require a bit more time, thus increasing complexity to 3.

[2019-12-02 09:46] isidorn commented on #85785
Use ctrl+B for toggling the sidebar view.
Ctrl+shift+E is designed to not toggle but instead just focus.

[2019-12-02 09:47] isidorn commented on #85897
As far as I know we are not yet shipping PWA, this milestone I have a lot of issue, thus moving this to December and I plan to look into debt week. If you need this for the release please let me know

[2019-12-02 09:48] isidorn commented on #85174
Dup of https://github.com/microsoft/vscode/issues/85476

[2019-12-02 09:48] #85174 closed

[2019-12-02 09:51] #83657 closed

[2019-12-02 09:51] alexr00 commented on #85654
After looking some more, I'd like to leave it as is. Aligning the icon under the twisty results in a child with an icon that is further left than the parent. In your screen shot, the icon is correctly aligned with the the test of the other elements at it's level.

[2019-12-02 09:57] joaomoreno commented on #85732
We do output both stdout and stderr. It might actually be that git won't output the `remote:` lines if it detects it isn't in a TTY. Can you try seeing which output is stdout and which is stderr?

[code]

Also, can you show me what `Git: Show Git Output` shows when you run `git push`?

[2019-12-02 09:58] joaomoreno commented on #85448
So, if you uninstall VS Code, do the HKEY_CURRENT_USER keys stick around?

[2019-12-02 10:02] stanislavdavid commented on #43244
lets wrote them this bug to survey in vscode which appeared to me today :-D, maybe it helps somewhere

[2019-12-02 10:08] 0xCAF2 commented on #85906
I'm sorry, in CSS file, semicolon isn't be inserted.
I tried to disable in a **HTML file**, however, it's still inserted.

[2019-12-02 10:08] 1316346949 opened #85917 "Does it support blackbox?"
Does it support blackbox when debugging ? just like chrome?

[2019-12-02 10:09] alexr00 commented on #83812
I haven't been able to make this happen, but it's possible that the new tree feature from Joao that lets the custom tree make one call to update an render has fixed this. If we see it again I'll investigate some more.

[2019-12-02 10:09] #83812 closed

[2019-12-02 10:11] alexr00 commented on #83633
@mjbvz what needs to be done for this?

[2019-12-02 10:11] isidorn commented on #83018
Makes sense. Thanks! I have changed the setting name as you suggested to `debug.showInlineBreakpointCandidates`

[2019-12-02 10:12] #85906 closed

[2019-12-02 10:12] gjsjohnmurray commented on #85555
@thomthom is there anything in your environment or path to the internet that could be blocking [XHR](https://en.wikipedia.org/wiki/XMLHttpRequest)?

[2019-12-02 10:13] isidorn commented on #84045
Verifier: start debugging and verify that when you hover over a call stack item you see the restart frame icon. Clicking on it restarts the frame (note that Node only supports restartgin the top frame currently)

[2019-12-02 10:14] isidorn commented on #84597
Adding on test-plan item since there will be a test plan item for this feature request.
@joaomoreno let me know if you would like me to write a test plan item for the compact trees in the explorer

[2019-12-02 10:15] gjsjohnmurray commented on #85555
@thomthom maybe you're seeing #85178

[2019-12-02 10:16] isidorn commented on #34981
Not going to happen in november. Removing the Milestone and I leave it up to @weinand to assign a new milestone and to drive the changes in the DAP needed for this.

[2019-12-02 10:17] gjsjohnmurray commented on #85555
@memphiscodered do you still have the problem if you use the latest Insiders?

[2019-12-02 10:30] jrieken commented on #85741
Pretty sure that Java uses `.` as trigger character and that it doesn't honour the current line prefix. E.g. the hover in the second gif shows "(no prefix)" which means the completion inserts at the position (no replace). VS Code doesn't "invent" those ranges, it simply mirrors what extension give to it.

[2019-12-02 10:41] weinand commented on #85544
Proposed API:

[code]

With this API a DebugAdapter implementation can be provided inside an extension like this:

[code]

Alternatively a DebugAdapter based on the [debugadapter Node.js library]( https://www.npmjs.com/package/vscode-debugadapter) can be used directly.
For an example see [Mock debug](https://github.com/microsoft/vscode-mock-debug/blob/857c4ebb7140a94bc8a0cc41154f2eef81a99f08/src/e

[2019-12-02 10:43] IllusionMH commented on #85917
/question

Depends on debug extension:
https://code.visualstudio.com/docs/nodejs/nodejs-debugging#_skipping-uninteresting-code-node-chrome
https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome#skip-files-blackboxing-ignore-files

[2019-12-02 10:43] #85917 closed

[2019-12-02 10:47] #80783 closed

[2019-12-02 10:50] alexr00 commented on #80783
I added:
`entity.name.operator.custom-literal`, colored as a function
`entity.name.function.preprocessor` colored as preprocessor
`meta.embedded.assembly` colored as a string

I didn't add `entity.name.function.operator`* because it is already colored as a function, which seems ok.

[2019-12-02 10:50] aodegov commented on #85382
JS

On Mon, 2 Dec 2019, 10:37 Johannes Rieken, <notifications@github.com> wrote:

[2019-12-02 10:56] lopugit commented on #83018
you are a fuckin legend, next time you're in Melbourne, Australia I'll buy you a beer <3

[2019-12-02 10:56] aeschli commented on #85804
There's a limit of 500 symbols we show. It seems the JSON language server hits the limit but doesn't send any results for that example.

[2019-12-02 11:11] antcasq commented on #85877
Can you please specify the "master issue" for this feature request, since my issue was considered a duplicate?
Thanks

[2019-12-02 11:13] gjsjohnmurray commented on #27498
@moshfeu I wish it was that easy. I just tried adding ```retainContextWhenHidden: true``` at https://github.com/microsoft/vscode/blob/c26146d7c5a7b9b4b01e7b5d758fae087dea834a/src/vs/workbench/contrib/extensions/browser/extensionEditor.ts#L580-L582

But it didn't fix the problem. I also tried ```tryRestoreScrollPosition: true``` as the option name looked to be relevant. Didn't help either.

To prov

[2019-12-02 11:14] #85488 closed

[2019-12-02 11:14] #85492 closed

[2019-12-02 11:14] #85485 closed

[2019-12-02 11:14] #85439 closed

[2019-12-02 11:14] #85372 closed

[2019-12-02 11:15] #85316 closed

[2019-12-02 11:15] #85353 closed

[2019-12-02 11:15] #85291 closed

[2019-12-02 11:15] #85294 closed

[2019-12-02 11:16] MarianoGodoy commented on #85762
Hello thanks lots!

output with --verbose:

[root@devecpvm009602 ~]# code --verbose --user-data-dir /~
/usr/share/code/bin/../code: /lib64/libdbus-1.so.3: no version information available (required by /usr/share/code/bin/../code)
/usr/share/code/code: /lib64/libdbus-1.so.3: no version information available (required by /usr/share/code/code)
/usr/share/code/code: /lib64/libdbus-1.so.3: no version i

[2019-12-02 11:20] spartan195 opened #85918 "Shitf insert into VSCode built-in terminal"
Linux version
I've noticed while working with docker in the built in terminal that i cannot properly copy and paste text in the terminal.

For example if I want to select text and copy it with Shift-insert like in my main terminal it does not work, it just print the default clipboard, not the text selected clipboard

[2019-12-02 11:34] 1011178l opened #85919 "tslintServer.js and tsserver.js has memory leak"
the memory allocated to electron_node tslintServer.js keep increasing until all memory used by it.

update:
Then I removed this plugin, then after restart the tsServer.js keep allocating memory.

update 2:
I find I installed tslint deprecated plugin. I uninstall it and install the latest version.

Now the problem became tsserver.js has memory leak

update 3:
I downgrade to vs to:
Version: 1.39.2
C

[2019-12-02 11:38] dcermak opened #85920 "Disable the initial telemetry notification"
- VSCode Version: Any recent version (>= 1.37.0)
- OS Version: openSUSE Tumbleweed

Steps to Reproduce:

1. Launch a fresh instance of VSCode
2. wait a few seconds
3. a popup with "Help improve VSCode ..." appears in the notification area, even when telemetry is disabled

Does this issue occur when all extensions are disabled?: Yes

I'd like to disable this notification for running automated test

[2019-12-02 11:43] testforstephen commented on #85741
To be honest, i didn't fully get what you mean. Is there any bug to explain why changed the behavior in recent 1.40?

[2019-12-02 11:48] jrieken commented on #85741
I don't recall any change that would affect this (and be unnoticed for the long time 1.40 is out). What I am trying to say is that I am certain that this is an issue with the Java extension.

[2019-12-02 12:03] dbaeumer commented on #85869
@byyxx128 can you provide me with a screen shot showing the context of the menu?

[2019-12-02 12:08] psclkhoury opened #85921 "Search view buttons become insensitive when switching views and search is active."
Perform a search in the search window, switch to the terminal or anything else (while the search is still running) and switch back to the search view, then the menu buttons become insensitive.

![image](https://user-images.githubusercontent.com/9846892/69958239-a6c1e980-1504-11ea-99d8-732281dac093.png)

Version: 1.40.2 (system setup)
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-2

[2019-12-02 12:12] ThirtySomething commented on #85886
I figured out that the issue has been caused by network problems in our company.

[2019-12-02 12:12] #85886 closed

[2019-12-02 12:14] #85277 closed

[2019-12-02 12:14] #85278 closed

[2019-12-02 12:14] #85179 closed

[2019-12-02 12:14] #85202 closed

[2019-12-02 12:14] #85249 closed

[2019-12-02 12:15] #85528 closed

[2019-12-02 12:15] #85137 closed

[2019-12-02 12:15] #85097 closed

[2019-12-02 12:15] #85109 closed

[2019-12-02 12:15] #85026 closed

[2019-12-02 12:17] psclkhoury opened #85922 "Copying data from debug hover doesn't copy everything"
I have a vector with 20 elements, I want to copy the values but I noticed that items that are no longer visible are deselected.

So I selected all the elements starting from 0
![image](https://user-images.githubusercontent.com/9846892/69958729-ba218480-1505-11ea-9b98-9f7d13db6600.png)

Now if I scroll back up, the items that were not visible are no longer selected and therefore not copied.
![image

[2019-12-02 12:17] pihomeserver commented on #83150
Same here on VSCode 1.40.2 on Mac Catalina (10.15.1)

[code]

[2019-12-02 12:38] testforstephen commented on #85741
I'm curious that this Java feature is implemented a long long time ago, and it always works. For example, in previous 1.39, it also shows `(no prefix)` in the completion details, but VS Code will follow the range value to replace the prefix `java.`. So is it a potential bug in the previous VS Code version, right?

Besides, is there any documentation to explain the expected behavior for the **dot**

[2019-12-02 12:44] ivanvoznyakovsky opened #85923 "Multicursor bug in html files"
Issue Type: <b>Bug</b>

Open any html file. Put cursor on a tag. Observe multicusror becomes active. From now on you cant do any selection.
Now move the cursor to the end of the tag. Observe cursor starts blinking, `Ln X, Col Y` in right bottom corner goes crazy cause cursor position gets changed all the time as far as I understand. Also 2 of the renderer processes start consuming 100% of the CPU.

[2019-12-02 12:46] GRGSIBERIA commented on #85849
Whoops, this problem does not reproduce on Windows 7 64bit.
VSCode does not have this problem.

* VSCode Version: 10.40.2
* OS Version: Windows 7 64bit SP1

[2019-12-02 12:48] silvus commented on #79680
"_workbench.action.openNextRecentlyUsedEditorInGroup_" do not have the same behavior: he select on key release, not on enter, and do not have filters capabilities.

On others editor (Sublime Text, Intellij, etc...) the current file is exclude from the recents files lists. It make sens has you can't navigate to an already open file.
For now, in VsCode with "_workbench.action.quickOpen_", the cursor

[2019-12-02 13:08] Tyriar commented on #85881
/duplicate https://github.com/microsoft/vscode/issues/22145

That was open for 2 years and no one seemed to care enough to contribute, I'd still accept a PR for it though.

[2019-12-02 13:08] #85881 closed

[2019-12-02 13:11] jrieken opened #85924 "Test Call Hierarchy Viewlet"
Refs: https://github.com/microsoft/vscode/issues/83274, https://github.com/microsoft/vscode/issues/83419

- [x] Windows @eamodio
- [x] macOS @JacksonKearl

Complexity: 3

In addition to "Peek Call Hierarchy" there is now also "Show Call Hierarchy". Use a sample call hierarchy extension, like https://github.com/jrieken/demo-callhierarchy or https://github.com/microsoft/vscode-extension-samples/tree

[2019-12-02 13:14] dbaeumer commented on #85663
Actually I tried this but all I got is:

[code]

Can you provide me with a docker container / file I can use that contains a fully functional setup?

[2019-12-02 13:14] #85030 closed

[2019-12-02 13:14] #84829 closed

[2019-12-02 13:14] #84835 closed

[2019-12-02 13:14] #84840 closed

[2019-12-02 13:15] #85455 closed

[2019-12-02 13:16] isidorn commented on #85922
The issue here is that we use the tree as the imlementation detail of the hover.
The tree is virtualised thus the native selection does not work nicely.
The best workaround for this is to use Copy Value from the WATCH view or from the VARIABLES view.

Though leaving this open as a feature request

[2019-12-02 13:23] jrieken opened #85925 "Test code navigation"
Refs: https://github.com/microsoft/vscode/issues/83752

- [x] any @Tyriar
- [x] any @alexr00

Complexity: 3

We have polished various code navigation gestures around find all references, go to definition etc. Test that

* the context menu has 'Go to XYZ'-commands as well as 'Peek > Peel XYZ'-commands where XYZ stands definition, type definition, declaration, implementations, and references. (TypeS

[2019-12-02 13:27] jrieken commented on #84553
to verify: trigger go to definition, notice a highlight for a short while. verify that the highlight color can be tweaked via: `'editor.symbolHighlightBackground'` and `'editor.symbolHighlightBorder'`

[2019-12-02 13:30] alexr00 commented on #80783
Verified through integration tests.

[2019-12-02 13:33] #85039 closed

[2019-12-02 13:33] Sabarishtgi commented on #85905
Sorry Sir i can't get it

[2019-12-02 13:42] alexr00 opened #85926 "Early testing of forwarded ports UI"
ref: https://github.com/microsoft/vscode-remote-release/issues/1777

Complexity: 3

- [ ] Windows @JacksonKearl
- [x] non-Windows @isidorn

You can enable the "Tunnels"(name not final, it will probably be called Forwarded Ports) view with `"remote.forwardedPortsView.visible": true` and then connecting to a remote (not WSL). It will show in the Remote Explorer view. The setting is temporary and for

[2019-12-02 13:47] gjsjohnmurray commented on #85905
Your version info makes me think you are using Windows Vista. Is that correct?

[2019-12-02 13:51] alexr00 opened #85927 "Test Remote explorer drop-down UI"
ref: https://github.com/microsoft/vscode-remote-release/issues/1778

- [x] Windows @dbaeumer
- [x] MacOS @octref
- [x] Linux @sbatten

Complexity 3

- Verify that only the views for the remote type currently in the drop-down show.
- Verify that your view sizes and positions are preserved when you switch with the drop-down.
- Verify that when you connect to a remote that remote type is shown.
- Ver

[2019-12-02 14:00] Tyriar commented on #84868
@rowild yeah not sure about that. It should be fixed in the upcoming version though

[2019-12-02 14:01] vbabak commented on #69315
Can confirm for macOS the only option is using menu "Edit" -> "Copy".
No right click or cmd+c/ctrl+c available.

[2019-12-02 14:04] isidorn commented on #83523
This works fine for me with the latest on macOS. Please let me know if you are doing something differently.
If you can still repro can you please put a breakpoint [here](https://github.com/Microsoft/vscode/blob/a1f97981859d42036236fcdf010ffcd08bc97038/src/vs/workbench/contrib/debug/browser/debugConfigurationManager.ts#L294) and let me know if the breakpoint gets hit. If not, then there is some mis

[2019-12-02 14:07] LeeMellinger commented on #83150
Still having this issue with the latest version of VSCODE:

Version: 1.40.2
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:52:45.129Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.0.0

[2019-12-02 14:08] jrieken commented on #85741
With a completion item like below (vscode.dts-land) I can what's expected, e.g after `java.|` I see show the prefix is selected to be overwritten. @dbaeumer given the protocol message [above](https://github.com/microsoft/vscode/issues/85741#issue-529689641) what is the vscode.dts object that I would receive?

[code]

<img width="459" alt="Screenshot 2019-12-02 at 15 08 39" src="https://user-images

[2019-12-02 14:10] joaomoreno opened #85928 "Test: Explorer Compact Folders"
Tests #41627, #84597

- [x] Windows @rebornix
- [x] Linux @aeschli
- [x] macOS @jrieken

Complexity: 4

Authors: @joaomoreno, @isidorn

---

The explorer now has a new setting `explorer.compactFolders`, enabled by default, which sets it to render single child folder sequences in a single tree row. A great use case for this are Java packages, which are usually laid out as single child folder sequen

[2019-12-02 14:13] jrieken opened #85929 "Test new workspace event API"
Refs: https://github.com/microsoft/vscode/issues/43768

- [x] any @deepak1556
- [x] any @dbaeumer

Complexity: 3

There are new event that fire *before* and *after* a file or folder is being created, renamed, and deleted. These events are `vscode.workspace.onWillRename`, `...onDidRename`, `..onWillCreate`, `...onDidCreate`, `...onWillDelete`, and `...onDidDelete`. Test

* these events are fired wh

[2019-12-02 14:14] jrieken commented on #85929
fyi - use the [vscode-dts](https://www.npmjs.com/package/vscode-dts)-utility to use the latest version of `vscode.d.ts` and/or `vscode.proposed.d.ts`

[2019-12-02 14:17] jrieken opened #85930 "In some places, allow to use URL in addition to URI"
This is followup work from https://github.com/microsoft/vscode/issues/83645 and in essence it's about allowing to use the [`URL`](https://developer.mozilla.org/en-US/docs/Web/API/URL)-type when dealing with resources outside of VS Code. So far we have identified:

* the `openExternal`-api
* the `DocumentLinkProvider`-api

[2019-12-02 14:18] #83645 closed

[2019-12-02 14:20] jrieken commented on #83645
To verify

* use this link https://firebasestorage.googleapis.com/v0/b/brewlangerie.appspot.com/o/products%2FzVNZkudXJyq8bPGTXUxx%2FBetterave-Sesame.jpg?alt=media&token=0b2310c4-3ea6-4207-bbde-9c3710ba0437
* have it inside an editor and click on it from the editor
* have it as rendered in markdown and click on it from the markdown preview
* have it as jsdoc-markdown hover and click on it from ther

[2019-12-02 14:23] allenyllee opened #85931 "navigate to the diff part of a line"
Hi, I have many single lines contains very long text in a json file, and I want to compare the different version of this json file and quickly navigate to diff parts, as below:

![Deepin 截圖_選取範圍_20191202215642](https://user-images.githubusercontent.com/3991134/69965822-05608500-1550-11ea-8253-c14554c4d21c.png)

There are highlights at diff parts,  but I can't find any shortcuts to quickly jump to

[2019-12-02 14:25] #85782 closed

[2019-12-02 14:26] joaomoreno opened #85932 "Test: Git FileSystemProvider"
Tests #55110

- [x] Windows @fiveisprime
- [x] Linux @deepak1556
- [x] macOS @mjbvz

Complexity: 3

---

The entire Git virtual document infrastructure shifted from the TextDocumentContentProvider API to the FileSystemAPI. Please test:

- Diffing works as usual
- Gutter inline diffing works as usual
- File events work as usual (staging, unstaging should update the git models, visible on the left h

[2019-12-02 14:26] thomthom commented on #85555
Not that I can think of. And when I use Insiders instead of Stable it works fine.

It does sound similar. I didn't understand what trigger it though. Since it works with Insiders build on the same machine and no other machine I have show this behaviour. Is there a setting I have?

[2019-12-02 14:26] Tyriar commented on #85874
@sbatten weirdness with the top of the panel getting cut off?

[2019-12-02 14:32] David263 commented on #85853
"Confused."

That is why I just said that I avoided the issues you raised: to avoid confusing anyone. I suffices that VSC doesn't implement all of Unicode, and I'm reporting the problems I've found.

"Afaict, IAST is a transliteration standard which predates computing."

Quite true, as far as that goes. However, ISO 15919 "Transliteration of Devanagari and related Indic scripts into Latin characte

[2019-12-02 14:33] dbaeumer opened #85933 "Test: ESLint support for TypeScript"
Tests https://github.com/microsoft/vscode-eslint/issues/802

- [x] anyOS @isidorn
- [x] anyOS @sana-ajani

Complexity: 3

The ESLint extension now has better support for TypeScript. Test that this is working as expected if a workspace is setup correctly for eslint usage.

### Prerequisite

Install the latest version of the ESLint extension from here: https://github.com/microsoft/vscode-eslint/rele

[2019-12-02 14:35] #83668 closed

[2019-12-02 14:35] memphiscodered commented on #85555
Does't happen anymore after some updates.

[2019-12-02 14:35] #85555 closed

[2019-12-02 14:35] sofu456 opened #85934 "Extension host terminated unexpectedly."
Issue Type: <b>Bug</b>

Extension host terminated unexpectedly.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: ena

[2019-12-02 14:36] AndrewNR commented on #80792
This would definitely increase the productivity, since this is a common action in my daily routine: I select the page controller's name and want to open it (since the Apex + Visualforce language doesn't detect it as a reference to file). So when I open the "Go to File..." dialog, I would like the selected text (controller's file name) to be pre-populated as a searched value.

[2019-12-02 14:36] isidorn commented on #83668
@DanTup you can try it out in tomorrow's vscode insiders and let us know if this is now fixed for you. Thanks!

[2019-12-02 14:37] rossburton commented on #30562
Glad I'm not the only person whose commit workflow with vscode is to use the UI to commit with a dummy message and then immediately hit the terminal and do 'git commit --amend' so I can write a message in the full editor and not the silly popup.

[2019-12-02 14:39] rossburton commented on #30562
Regarding the closed issue:

I'd argue that isn't the case. You try submitting a quick one-liner message to any large project...

[2019-12-02 14:40] #83419 closed

[2019-12-02 14:43] Tyriar commented on #85848
/duplicate https://github.com/microsoft/vscode/issues/73790, you need to disable legacy console mode in cmd.exe/conhost's properties.

[2019-12-02 14:43] #85848 closed

[2019-12-02 14:43] Tyriar commented on #85866
/duplicate https://github.com/xtermjs/xterm.js/issues/580

[2019-12-02 14:43] #85866 closed

[2019-12-02 14:50] sandy081 commented on #85210
Updated the auto sync strategy as follows:

- Changes the auto sync interval to 5 minutes
- Sync is triggered when
  - a new window is opened
  - window is foucsed
  - Opening settings/keybindings/extensions view

[2019-12-02 14:50] #85210 closed

[2019-12-02 14:55] jrieken commented on #80688
This "fix" here is to update the docs. Already today, it says that changes are applied in the order that have been provided and what isn't clear is that the multiple text edits at the same position aren't grouped together.

[2019-12-02 14:59] sandy081 commented on #85351
Delayed showing progress and is shown if syncing takes more than 1s.

[2019-12-02 14:59] #85351 closed

[2019-12-02 15:00] #85285 closed

[2019-12-02 15:01] #80688 closed

[2019-12-02 15:14] #84784 closed

[2019-12-02 15:14] #85487 closed

[2019-12-02 15:16] ultraGentle commented on #85901
I am able to use the "view help menu" shortcut successfully within VSCode, though mine is rebound to "Opt+Space."

Also, as far as I know, the Command Palette (Cmd+Shift+P) fully duplicates the functionality of the Mac help menu, and more.  You open it, type, and see a list of all matching commands, which you can then execute by pressing Return.

If the Help menu can do something *not* available i

[2019-12-02 15:25] Mikaila94 commented on #84618
+1 This bug ruins the whole experience of using vscode and I get the error all the time. Plus it makes the editor slower and intellisense stops working.

[2019-12-02 15:26] deathgaze commented on #85714
[code]

mm so I just spotted the `inheritEnv` option: Idk why I didn't see it before. Setting it to true fixes the issue.

[2019-12-02 15:26] #85714 closed

[2019-12-02 15:26] ultraGentle commented on #85308
Just to follow up, this cursor-jump behavior sounds similar to #70306.

As suggested in that thread, I have have attempted disabling user settings related to "global find clipboard," to see if this is the same bug, or a different one.

[2019-12-02 15:28] #37363 closed

[2019-12-02 15:28] simue commented on #84845
Will this have to be done after every start of VS Code, or is this a permanent setting?

[2019-12-02 15:29] dudeinco commented on #84618
Totally agree - I'm on a vanilla install, and it's hard to get anything accomplished when the IDE says TS has crashed 50,000 times, and removes a line when I tab...  I don't know the fix for this, but everyone stating it has something to do with plugins - doubtful, since I never had them in the first place.  I've been researching other solutions until VSCode gets fixed.  It's almost completely unu

[2019-12-02 15:29] #85052 closed

[2019-12-02 15:30] pelx opened #85936 "Failed to install 'ms-python.python'"
the extention failed to install. All I can see "Python extention loading". I swithed to trace level log. Where can I find the log to send it to you?

[2019-12-02 15:32] isidorn commented on #37363
This is how it looks, try it out and let me know.
For the arrows I am using octicon small arrows. @misolori feedback welcome if we have some better icons. Though I peronsally like these.

@weinand already pointed out that the tree expando should be closer to the element, I will look into if that is possible

![Screenshot 2019-12-02 at 16 27 33](https://user-images.githubusercontent.com/1926584/699

[2019-12-02 15:36] jrieken commented on #46153
I have removed/unhooked the current approach because we weren't happy with it

[2019-12-02 15:48] sandy081 commented on #85936
Where are you seeing this `Python extension loading` message?

[2019-12-02 15:49] sandy081 commented on #85934
Are you able to reproduce it by disabling all extensions?

[2019-12-02 15:50] sandy081 commented on #85932
@joaomoreno Is this TPI to be tested in this milestone? If so, please do not forget to add the milestone and label.

[2019-12-02 15:51] isidorn commented on #37363
Even though the arrows are centered due to the way how the [brain processes](https://en.wikipedia.org/wiki/M%C3%BCller-Lyer_illusion) these images one looks more to the left, and one more to the right and the whole hing looks a bit messy. Suggestions welcome on how to improve!

[2019-12-02 15:52] chrmarti commented on #84845
The log level is preserved for as long as at least one window is open (or being reloaded).

[2019-12-02 15:52] jrieken commented on #85741
I cannot reproduce using the [lsp-sample](https://github.com/microsoft/vscode-extension-samples/tree/master/lsp-sample) and this LSP suggestion

[code]

@testforstephen Can you reproduce with the lsp-sample? What message do I need to send to reproduce this?

[2019-12-02 15:52] misolori commented on #85673
@jrieken thanks for cleaning this up (and sorry for introducing this the wrong way)!

[2019-12-02 15:53] weinand commented on #84044
VS Code's hover functionality suffers from some problems:
- if different variables have the same name in different scopes, VS Code does not always show the correct value.
- if the source language is not the same as the target language, hovering over variables does not show a value at all.
- hovering over a complex variable path (e.g. "doc->foo[123]") does not show correct values or values at all.

[2019-12-02 15:58] isidorn commented on #85912
Dup of https://github.com/microsoft/vscode/issues/72174

[2019-12-02 15:58] #85912 closed

[2019-12-02 16:01] isidorn commented on #85910
Well the file is there, vscode is not adding it.
Can you reproduce this with other programs? For example Visual Studio, Sublime, Atom etc...
Can you reproduce with vscode insiders https://code.visualstudio.com/insiders/

[2019-12-02 16:01] sandy081 commented on #85890
I am able to access it. Let us know if you are still having access issues?

[2019-12-02 16:11] sandy081 commented on #85889
Can you please help us in providing steps to reproduce? Probably give us a sample repo on which we can reproduce this.

Also did you try repro this by disabling all installed extensions?

[2019-12-02 16:14] IllusionMH commented on #85923
@ivanvoznyakovsky video is private, so can't see behavior (probably should be changed to owners of direct link).

From description it looks related to #47069 tagging @octref

[2019-12-02 16:14] noam-honig opened #85937 "Visual Studio code hangs when stopping and starting angular cli serve"
We have written the needed data
Issue Type: <b>Bug</b>

Visual studio code hangs when I use it's tasks to run ng serve.

I'm using angular cli 8.3.20
Steps to reproduce:
1. ng new some-project
2. cd some-project
3. code .
4. Ctrl Shift P, run Task npm:start
5. Choose $tsc-watch as the problem matcher
6. wait for it to run.
7. Click on the garbage can to stop.
8. Ctrl Shift P to run again
It'll han

[2019-12-02 16:15] deepak1556 commented on #85762
@MarianoGodoy https://code.visualstudio.com/docs/remote/remote-overview suite should help you with remote development

[2019-12-02 16:17] #85559 closed

[2019-12-02 16:17] #85560 closed

[2019-12-02 16:17] #85572 closed

[2019-12-02 16:18] byyxx128 commented on #85869
I already provided in my description.

- The Original English menu is:
`Open with Code Insider`
(Because only the insiders version has localized menu, I have to use insiders for example.)
- The localized is
![image](https://user-images.githubusercontent.com/20079289/69975242-d2d56e80-14f4-11ea-812d-ff159d453f0f.png)

So, between the word **`通过`** and **`Code`**, there should be **one space**, howe

[2019-12-02 16:19] jrieken commented on #85891
Yeah, change all occurrences is just a fast gesture fore search and replace (inside file). For a semantic operation you should Rename.

[2019-12-02 16:19] #85891 closed

[2019-12-02 16:20] markfinlabs commented on #69233
An extra note. As VS Code project/folder files like ```launch.json``` are often put into source control, would be really nice if ```env``` could be supported at both top and folder levels within .code-workspace file. This would allow .code-workspace to inject environment at both workspace and folder level independent of source-controlled files. Many possibilities would then be opened up including

[2019-12-02 16:21] pelx commented on #85936
in the status bar:

    On Monday, 2 December 2019, 15:48:23 GMT, Sandeep Somavarapu <notifications@github.com> wrote:

Where are you seeing this Python extension loading message?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-02 16:24] PaunCostin commented on #84618
Downgrading to version 1.39 until it's fixed

On Mon, Dec 2, 2019, 17:29 dudeinco <notifications@github.com> wrote:

[2019-12-02 16:28] sandy081 commented on #85735
Ok makes sense. Apologies that I think they are similar. Reopening.

[2019-12-02 16:28] ZaJarv opened #85938 "Second delete folder operation does not work in Insiders 1.41.0"
Hei!👋

Found issue with folder delete operation. The point is, when you delete folder (first time), no matter how, via mouse or keyboard combination, then select another folder and try to delete it, you will get popup message saying "Cannot read property 'isDirectory' of undefined"🤔🧐
Only when you select another folder again (second time), delete operation will be successful.

Tried several times

[2019-12-02 16:29] sandy081 commented on #85870
Will wait for @bpasero insights.

[2019-12-02 16:29] sandy081 commented on #85731
/needMoreInfo

[2019-12-02 16:31] sandy081 commented on #85936
Installation of extension is successful. But this is coming from python extension.
So, Please file the issue against the python extension.

[2019-12-02 16:31] #85936 closed

[2019-12-02 16:31] anurbol opened #85939 "VSCode should have a table listing its versions against the corresponding Electron (or NODE_MODULE_VERSION) versions."
[This table](https://nodejs.org/en/download/releases/) helps **a lot** when one builds a native Node.js addon and needs to know which Node.js versions have which `NODE_MODULE_VERSION`. Without such table for VSCode I simply don't know which VSCode versions should I test against. Installing every non-patch VSCode version to figure that out is not fun.

[2019-12-02 16:37] alexr00 commented on #85937
Does the issue reproduce if you disable all extensions?

[2019-12-02 16:41] ssomers commented on #85891
Quick search and replace is exactly what I expect. I have no idea what you mean with semantic operation. When I have started Change All Occurrences, then I expect all occurrences to change in the same way until at some point (like pressing the Esc key) the mode ends. That is, as far as I know, what happens if you use cursor keys and text keys. If instead you mouse-click somewhere in the original t

[2019-12-02 16:45] Tyriar commented on #85887
If adding a space does this then it has to be done by the Python extension.

@luabud you closed (and locked) https://github.com/microsoft/vscode-python/issues/7041 but AFAICT it's about changing this line:

https://github.com/microsoft/vscode-python/blob/7ee819a3cef5072c98be4a3538bfa21546437ab9/src/client/common/terminal/service.ts#L46

to send `' ' + text`

FYI the right way to do this is to chec

[2019-12-02 16:45] #85887 closed

[2019-12-02 16:46] isidorn commented on #81397
@roblourens Since you added a workaround, shouldn't this be closed?

[2019-12-02 16:46] ThiefMaster commented on #85887
Wouldn't it still make more sense to support this in the core? It doesn't really matter if it's the Python extension or anything else executing a command - I think nobody really expects commands not entered (or pasted) by themselves to end up in the history...

[2019-12-02 16:48] awakecoding commented on #33620
+1, I would love to use VSCode on my Surface Pro X

[2019-12-02 16:49] #78727 closed

[2019-12-02 16:51] pelx commented on #85936
not very helpful!
    On Monday, 2 December 2019, 16:31:58 GMT, Sandeep Somavarapu <notifications@github.com> wrote:

Installation of extension is successful. But this is coming from python extension.
So, Please file the issue against the python extension.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-02 16:51] #81397 closed

[2019-12-02 16:51] connor4312 commented on #85324
Maybe instead of showing "Paused" / "Running" text, we grey out the threads that are running, and then set the title based on the focused stack frame? That gets rid of the duplication and feels intuitive to me:

![image](https://user-images.githubusercontent.com/2230985/69977698-1ec9e880-14e0-11ea-85fd-4b9ddd375b5d.png)

Collapsing when there's only a single child of the debug session would the de

[2019-12-02 16:53] misolori commented on #85152
Verification steps: when hovering over items in the debug console, ensure that hovering from the text the to icon/twisties doesn't make the cursor change.

[2019-12-02 16:58] pelx commented on #85936
Python extension stopped working after last VSC update... 
    On Monday, 2 December 2019, 16:31:57 GMT, Sandeep Somavarapu <notifications@github.com> wrote:

Closed #85936.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-02 17:00] bradwilson opened #86232 "[remote] Support `code --install-extension` on the remote"
I am running WSL 2 (from the 20H1 Slow Ring, build 19033), and I have VS Code installed on the Windows side. I have noticed that adding `Remote - WSL` breaks some of the WSL-to-Windows communication paths, namely the ability to invoke `code --install-extension` from WSL and have it install the extension in Code for Windows.

Note that this functionality works fine without "Remote - WSL" installed;

[2019-12-02 17:02] misolori commented on #83316
Removing milestone as this was handled by https://github.com/microsoft/vscode/issues/84584

[2019-12-02 17:07] byehack commented on #85785
Thanks

[2019-12-02 17:07] #85785 closed

[2019-12-02 17:10] byehack commented on #85784
not shown

ms-python

[2019-12-02 17:11] weinand commented on #84044
Since this is an investigation there is nothing to verify or test for now.

[2019-12-02 17:12] newmrdenis commented on #28432
Any changes on this issue? I am working via ssh using sshfs (remote filesystem) and after any manipulations performed on connected computer changes doesn't appear on mine( After manually refreshing list of files using corresponding button all appears. It makes me sometimes crazy

[2019-12-02 17:13] numanash opened #85940 "Hover overlapping with breadcrumbs"
Issue Type: <b>Bug</b>

I found an issue while doing code that the suggestions are overlapping with the file name. Please review and fix it. I think its the order or visibilty issue.
Here is the screenshot: http://prntscr.com/q55tox
Thanks

Regards
Numanash

VS Code version: Code 1.40.1 (8795a9889db74563ddd43eb0a897a2384129a619, 2019-11-13T16:49:35.976Z)
OS version: Windows_NT x64 10.0.17763

<det

[2019-12-02 17:16] sandy081 opened #85941 "Test synchronising keybindings"
Testing #85893

- [x] anyOS @chrmarti
- [x] anyOS @roblourens
- [x] anyOS @aeschli

Complexity: 4

## Set Up

- Configure the server as described [here](https://github.com/microsoft/vscode-settings-sync-server#use-test-server).
- To test on same platform, have two insiders open with different user data directories.

## Testing

By default keybindings are synchronised per platform which means chang

[2019-12-02 17:18] ThaJay commented on #84281
The name of this feature is "bracket matching" so this issue did not show up in my initial search, but https://github.com/microsoft/vscode/issues/84537 does indeed look like a duplicate of this issue.

[2019-12-02 17:19] sandy081 commented on #85936
Python extension is installed successfully and is activated.
This status message which you are seeing is coming from Python extension.
So, please file the issue against the Python extension.

[2019-12-02 17:21] HighCommander4 opened #85942 ""Go to File" and "Go to Symbol in Workspace" dialogs should not close when focus is lost"
**Steps to Reproduce:**

1. Invoke "Go to File" or "Go to Symbol in Workspace" command
2. Type a query into the search box
3. While waiting for the search results to come in (this can sometimes take a while if the workspace is large and the machine is under heavy load), switch focus to a different application

**Expected results**

VSCode continues performing the search while focus is on an anothe

[2019-12-02 17:23] Luminoth commented on #12622
@alexandrudima Any chance the magic that went into https://github.com/microsoft/vscode/issues/5446 could happen on this one? :)

[2019-12-02 17:24] sandy081 opened #85943 "Test enhancements in problems view"
Testing #20183 #30038 #47354 #53200

- [x] anyOS @mjbvz
- [x] anyOS @sana-ajani

Complexity: 3

- Test following filters in Problems view
  - Filter by Type
  - Filter by Active File
- Test showing current problem in status bar by enabling the setting `problems.showCurrentInStatus`
- Test flexible positioning of filter input. Filter input moves down when there is not enough space.

[2019-12-02 17:32] jrieken commented on #85784
can you reproduce this with another file, eg. a JS or TS file and a snippet/suggestion from them?

[2019-12-02 17:50] Tyriar commented on #85887
@ThiefMaster the Python extension uses an API which sends arbitrary text to the terminal, it's up to the extension to use it how they wish.

VS Code runs the env call when the first window is opened to initialize its environment (which all windows inherit). `TERM_PROGRAM` is set whenever a terminal is launched so if you only care about this inside VS Code's terminal then it should be sufficient. T

[2019-12-02 17:51] anurbol commented on #85939
Something like [this](https://github.com/Sneezry/vscode-version-watcher) but official and up-to-date. I am currently reading its source code and figuring out if I can do that myself.

[2019-12-02 17:51] anantharamc commented on #85890
Thanks for reaching out, it works for me as well now.

On Mon, Dec 2, 2019, 8:01 AM Sandeep Somavarapu <notifications@github.com>
wrote:

[2019-12-02 17:51] sandy081 opened #85944 "Test Settings Sync Improvements"
Testing #85210 #85216 #85404

- [ ] anyOS @connor4312
- [x] anyOS @joaomoreno

Complexity: 5

## Set Up

- Configure the server as described [here](https://github.com/microsoft/vscode-settings-sync-server#use-test-server).
- To test, have two insiders open with different user data directories.

## Testing

- Starting/Stopping/Configuring Sync
  - Test turning sync on/off flow. Test this flow when

[2019-12-02 17:52] davidanthoff commented on #85682
So the way I would use this is that I would only ever change the height dynamically if the user interacts with some UI element inside the webview, i.e. never in reaction to some event outside of the webview. I think that should work, right?

I've been thinking a bit more about this, and even for many use cases where I don't need the ability to dynamically adjust the height I would often not be abl

[2019-12-02 17:57] noam-honig commented on #85937
Hi, Yes, I've disabled all my extensions and the problem still occurs

Here is the info from VS now without the extentions:

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5930K CPU @ 3.50GHz (12 x 3500)|
|GPU Status|2

[2019-12-02 17:59] #85890 closed

[2019-12-02 17:59] ThiefMaster commented on #85887
Thanks, that looks helpful.

This `disable-user-env-probe` flag sounds like something that may avoid the problem I have altogether (my shell env is setup properly, so I don't need the `env` call the python extension adds at all, so if I can force it to be empty that'd be a good workaround).

What would be the best way of setting it in my environment (windows client, linux remote via ssh)? I tried

[2019-12-02 18:11] simkessy opened #85945 "VSCode not finding import definitions"
- VSCode Version: 1.40.2
- OS Version: OSX 10.14.6

I trying to get VSCode to find the definitions for the files in my projects but it's not working.

For example:

test.js

    export const getCats = cat => 'something something';

test2.js

    import { getCats } from './test';

    const iAmCat = () => getCats();

jsconfig.json

    {
      "compilerOptions": {
        "module": "commonjs",

[2019-12-02 18:22] roblourens commented on #85942
This is my favorite setting: `"workbench.quickOpen.closeOnFocusLost": false`

[2019-12-02 18:22] #85942 closed

[2019-12-02 18:23] Cellv2 commented on #85889
Yes, I'm able to replicate this by doing code-insiders --disable-extensions. With this said, I've tried a few other things here:

| Action | Result |
|--------|--------|
|Update to latest VS Code Insiders|Able to replicate|
|Cloning the repo into a new folder|Unable to replicate|
|Copy paste the project folder|Unable to replicate|
|Zipping then unzipping the project folder|Unable to replicate|

I'

[2019-12-02 18:30] roblourens commented on #85921
I can repro this in 1.40, but not Insiders. I think it has been fixed.

[2019-12-02 18:31] rebornix commented on #85718
Thanks for your feedback! This is as designed. Ctrl+F in Replace Mode moves focus into the Find Widget to allow you update the find query. It doesn't mean to quit replace mode.

[2019-12-02 18:31] #85718 closed

[2019-12-02 18:31] connor4312 opened #85946 "Allow omitted default excludes in proposed search API"
In PWA we want to be able to use vscode's search to look through compiled files and find sourcemaps. However, users usually exclude built files from search, and we've no way to ask vscode to drop its exclusions while still applying some of our own--@roblourens:

The simplest solution would be some `useDefaultExcludes?: boolean` flag, which defaults to true and we could set to false in PWA.

[2019-12-02 18:31] mogzol opened #85947 "Allow configuration of integrated terminal's scroll sensitivity"
Currently, the integrated terminal's scrolling sensitivity seems to be tied to both the `editor.mouseWheelScrollSensitivity` setting and the operating system's global scroll settings. For me, this makes the terminal scroll far too fast when I use my mouse wheel. I can slow it down by decreasing either of those settings, but then scrolling in other places is too slow for my liking. It would be nice

[2019-12-02 18:35] sandy081 opened #85948 "Test Extension Kind"
Testing #85036

- [x] anyOS @RMacfarlane
- [x] anyOS @Tyriar

Complexity: 5

##  Extension Kind

- You can define the extension kind of your extension using the property `extensionKind` in `package.json`.
- Following table explains given the `extensionKind` where an extension can or cannot run. Please read the [documentation](https://code.visualstudio.com/api/advanced-topics/remote-extensions#inco

[2019-12-02 18:37] Antix-Development commented on #85718
thanks, but it's behavior is not consistent as explained in my original statement.

[2019-12-02 18:42] kizerkizer opened #85949 "Implement interface quick fix leaves out some 'any' typings"
Issue Type: <b>Bug</b>

Bug when I use the 'Implement interface' quick-fix; certain 'any' types are missing and not generated with the rest of the code, it seems. To reproduce, try to use the auto-implementer (don't know formal name) on the JSON2 class:
[code]

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18363

<

[2019-12-02 18:42] kizerkizer commented on #85949
The contents of './IJSONObject' for reference:
[code]

[2019-12-02 18:43] kizerkizer commented on #85949
I'm not sure if this is a bug on a typescript plug-in, or whether this functionality is baked into code.

[2019-12-02 18:44] HighCommander4 commented on #85942
Oh, awesome -- thanks!

[2019-12-02 18:46] kizerkizer commented on #85949
This is what I get when I go to 'Quick fix...', then 'Implement interface IJSON2':
[code]
Note the missing `any` on the second line, in the type definition of `reviver`.

[2019-12-02 18:49] RMacfarlane commented on #20934
@dlong500 Currently there isn't a setting for this, but you can change the color of the decorations to match the editor background so that they're not visable:

[code]

You can check your current color theme colors by running the `Developer: Generate Color Theme from Current Settings` command

[2019-12-02 18:51] #85817 closed

[2019-12-02 18:52] roblourens commented on #85915
Should I specifically exclude the `gitfs` scheme or is there something else that distinguishes these from other documents?

I could ignore docs with a scheme that doesn't match that of a workspace folder (but including untitled docs)?

[2019-12-02 18:53] connor4312 commented on #85817
Verifiers: ensure decorations in the minimap are rendered correctly, and test that scrolling is smooth in the file that Isi linked

[2019-12-02 18:53] weinand opened #85950 "Test extension API for creating debug URIs"
Test for #79228:

- [ ] anyOS: @connor4312

Complexity: 3

Authors: @weinand

We have added [extension API for creating debug URIs](https://github.com/microsoft/vscode/blob/a1affdefd7cf470c37205dd89ad00fbe23fb9f0d/src/vs/vscode.d.ts#L9666) from DAP [Source](https://microsoft.github.io/debug-adapter-protocol/specification#Types_Source) objects. This can be used to open Source objects received from

[2019-12-02 18:58] roblourens commented on #85915
I think excluding git docs specifically might be the best fix, I don't want to make FileSystemProviders less useful by excluding their docs from search all the time.

[2019-12-02 18:58] kbrikh opened #85951 "vscode freezes on ubuntu as i work on a project"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-12-02 18:59] rebornix commented on #85836
@justinhj could you please check if there is any error in Dev tools (F1 -> Toggle Dev Tools)? I've seen this a few times but now it seems it's not just me. It would be great if we can find some clues of how to reproduce.

[2019-12-02 18:59] mjbvz commented on #85945
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

Also, if you run `JavaScript: Go to project configuration` in both `test.js` and `test2.js`, does it open the `jsconfig`?

[2019-12-02 19:01] mjbvz commented on #85919
This first is an issue with the old tslint extension, which is deprecated.

For the issue with `tsserver`, does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

Also, please follow [these instructions](https://github.com/Microsoft/

[2019-12-02 19:02] mjbvz commented on #85382
@himajaM Please share some example code and steps to reproduce the issue

[2019-12-02 19:02] rebornix commented on #85589
I don't know but I'll try to reproduce this issue.

[2019-12-02 19:02] RMacfarlane opened #85952 "Test git status minimap decorations"
Tests #20934

- [x] Windows @stevencl
- [x] Linux @connor4312
- [x] macOS @gregvanl

Complexity: 2

---

- Addition, modifications, and deletions should be indicated in the gutter of the minimap, matching those shown in the editor
- These should be visible in all themes
- Changing the `minimapGutter.addedBackground`, `minimapGutter.modifiedBackground`, and `minimapGutter.deletedBackground` colors

[2019-12-02 19:03] mjbvz commented on #85864
See [type checking for js](https://code.visualstudio.com/Docs/languages/javascript#_type-checking).

It will show errors for undefined variables

[2019-12-02 19:03] #85864 closed

[2019-12-02 19:03] dlong500 commented on #20934
I was about to say this didn't seem to work, but I searched the repo and it looks like you just added these options about 20 minutes ago?  I'll have to wait until the next insider release.  Thanks!

[2019-12-02 19:04] mjbvz commented on #85777
Please file this issue against the tslint extension since it seems to cause this

[2019-12-02 19:04] #85777 closed

[2019-12-02 19:06] rebornix commented on #85589
Didn't reproduce by any means. @deepak1556 could you help provide guidance on this? It would be great if you can share how to set up the machine to reproduce anti aliasing related issue.

[2019-12-02 19:10] roblourens commented on #85844
Desktop client, mac.

[2019-12-02 19:11] roblourens commented on #85844
It's not 100%, I can't repro it right now. But when it starts happening I've been able to hit it several times in a row. So if you've changed anything here, let me know where to set a breakpoint and I can try to debug next time.

[2019-12-02 19:11] rebornix commented on #85446
@bmtdh @glarivie could you check the status bar and check the selection status to see if it's correct or not?

![image](https://user-images.githubusercontent.com/876920/69987510-8427d480-14f4-11ea-83d1-7b12ca6a1869.png)

[2019-12-02 19:12] mjbvz commented on #85788
The additional language support for js/ts (4f398ba) was originally added for angular. However the push behind this effort sort of died off and so it seems unlikely it will ever move past prototype stage.

I think you're better off proxying everything through VS Code apis. See the [built-in commands](https://code.visualstudio.com/api/references/commands) for example of this

[2019-12-02 19:12] #85788 closed

[2019-12-02 19:14] rebornix commented on #85629
Good catch!

[2019-12-02 19:15] JacksonKearl opened #85953 "Test: Search on Type"
Refs: #46326

- [x] Windows @sana-ajani
- [x] Linux @sbatten
- [x] macOS @misolori

Complexity: 2

Authors: @JacksonKearl

---

The workspace search now has setting `"search.searchOnType"` enabled by default, causing results to update as you type, rather than on enter. Please ensure:

- Edits to any field trigger a search (query, include, exclude, toggling each button)
- Further typing doesn't fee

[2019-12-02 19:18] bmtdh commented on #85446
Always seems to be correct for me.

Thanks,

[2019-12-02 19:19] Tyriar commented on #85716
Another issue with this is comments, I don't use them in my settings file but I know some people comment sections. For me I will comment out a setting temporarily (eg. `terminal.integrated.rendererType`), if I then change the setting on another machine, the original machine will end up having the comment and the setting.

[2019-12-02 19:19] justinhj commented on #85836
@rebornix Absolutely! Next time it happens I will check it out now I know where to look.

[2019-12-02 19:22] mjbvz commented on #85799
There is already a command for this: `editor.action.sourceAction`.

@sandy081 I don't know why this doesn't show in the visual keybindings editor. Here's the definition: https://github.com/microsoft/vscode/blob/7d179d04aee96928fe2a41683943b416e942d169/src/vs/editor/contrib/codeAction/codeActionCommands.ts#L305

Assigning you

[2019-12-02 19:23] mjbvz commented on #85875
/needsMoreInfo

[2019-12-02 19:24] rebornix commented on #84887
@fangyu2017 do you have word wrap turned on? If so that might be expected as we show the horizontal scrollbar when the editor gets focus.

[2019-12-02 19:25] rebornix commented on #85272
/duplicate of https://github.com/microsoft/vscode/issues/85589

[2019-12-02 19:25] #85272 closed

[2019-12-02 19:27] mjbvz commented on #85015
This setting only works if you have strict null checking enabled for your project. Basically, we only insert `?.` if using normal `.` would have resulted in an error instead

[2019-12-02 19:28] RMacfarlane commented on #85819
@chrmarti Correct me if I'm wrong, but the Azure Account Extension is currently a workspace extension and various other workspace extensions depend on it (Docker, Azure functions). Since it doesn't set `extensionKind` to `ui`, I'm going to remove it from the list

[2019-12-02 19:29] roblourens commented on #85638
I looked at it a bit and @sandy081 I think it's from https://github.com/Microsoft/vscode/commit/dd4f9d1a73cb74c3e384ab30e3711aaacecffc13

[2019-12-02 19:31] connor4312 commented on #85393
You're right. We were maintaining the minimap options, which entailed creating the char renderer, even if we never actually rendered anything. Fixed in 3d772fb164 -- we'll now create it once lazily.

[2019-12-02 19:33] alexandrudima commented on #85915
:+1: IMHO the safest change so late is to exclude git specifically. The best would be for a FileSystemProvider to opt-in/opt-out of searching.

[2019-12-02 19:34] mjbvz commented on #85810
Please file this issue against the python extension

[2019-12-02 19:34] #85810 closed

[2019-12-02 19:38] mjbvz commented on #85752
Can you please explain what the expected behavior is?

[2019-12-02 19:40] mjbvz commented on #85816
Can you provide an example use case?

Maybe I'm misunderstanding, but if all this is is inserting `()`, you can press `(` to accept the current suggestion and—provided auto closing is enabled—it will add the closing `)` too.

[2019-12-02 19:43] jwthomp commented on #85446
I do not see (# selected) when I've gone to paste and had my selection insert in between where my cursor was rather than replace the selection. My double-clicked selection shows itself as highlighted when this happens.

[2019-12-02 19:46] mjbvz commented on #85227
* I move a file and opt to update imports
* It messes up a bunch of imports in an unexpected way. Now I want to revert things.
* Today, I can simply close all the files it edited to get back to the previous state
* If we saved automatically, we'd get rid of this escape hatch

 (again, ideally undo/redo would be multifile aware but it isn't)

[2019-12-02 19:47] sbatten opened #85957 "Search Panel is missing progress bar and showing badges during search"
Reproduces in stable 1.40.x

Steps to Reproduce:

1. Open VS Code
2. Toggle search position **at least once** until search is present in panel.
3. Try a search

:bug: => see image

![image](https://user-images.githubusercontent.com/6561887/69989724-2053da80-14f9-11ea-96c2-729db1dd9bd5.png)

Note that if you start VS Code with search in panel and don't toggle the position, the issue will not reprod

[2019-12-02 19:53] mjbvz commented on #85640
You need to also unbind: `problems.action.showQuickFixes`. Otherwise it is still a valid keybinding as there can be cases where goToDeclaration is disabled but quick fixes are enabled (such as if a language only provides quick fixes but not go to definition support)

[2019-12-02 19:53] #85640 closed

[2019-12-02 19:54] #85715 closed

[2019-12-02 19:54] #85717 closed

[2019-12-02 19:54] Tyriar opened #85958 "TS intellisense is not putting exact match at top"
When writing a test using `chai` and `chai-http`

![image](https://user-images.githubusercontent.com/2193314/69990208-1c748800-14fa-11ea-83ba-b4074a3ab3bc.png)
![image](https://user-images.githubusercontent.com/2193314/69990303-4037ce00-14fa-11ea-8a35-bc46f1c8990b.png)
![image](https://user-images.githubusercontent.com/2193314/69990319-46c64580-14fa-11ea-98bd-62297252ebd2.png)

Accepting setEncodi

[2019-12-02 19:54] #85661 closed

[2019-12-02 19:56] mjbvz commented on #85823
Please share example code. This does not repo for me with (the formatting remains unchanged):

[code]

[2019-12-02 19:56] sbatten opened #85959 "November 2019 Endgame"
- *December 2nd* Code freeze for the endgame
- *December 6th* [Endgame done](https://github.com/Microsoft/vscode/wiki/Development-Process#inside-an-iteration)
- *December 11th* Expected release date (this may change)

##### Monday
- [x] Run [OSS tool](https://github.com/microsoft/vscode-build-tools/tree/master/distro-tools) **endgame master**
- [x] Code freeze at 5pm PT
- [x] Ensure we have a gree

[2019-12-02 19:58] Tyriar commented on #85887
@ThiefMaster something different happens for SSH, pretty sure there are issues discussing this sort of thing in https://github.com/microsoft/vscode-remote-ssh

[2019-12-02 19:58] mjbvz commented on #85763
Please share some minimal, self contained example code that demonstrates this issue

[2019-12-02 20:05] alexandrudima commented on #78595
@simonmckenzie @LarnuUK

AFAICT there is no bug here. What I can guess is that you expect Shift+Alt+arrow keys to be bound to column selection commands by default, which is not the case with VS Code. Fortunately, all the keybindings of VS Code can be customized, including these ones. So if you would like shift+alt+arrow keys to do column selection, you can edit your `keybindings.json` file:

[code

[2019-12-02 20:05] #78595 closed

[2019-12-02 20:07] #84537 closed

[2019-12-02 20:07] APerricone commented on #32813
I don't believe there is no way to convert theme color into real color. So it is not possible do a webView that integrate correctly with VSCode...

[2019-12-02 20:11] ravshansbox commented on #85661
Thanks.

[2019-12-02 20:12] charrondev commented on #85661
@mjbvz Not sure if this is really an extension candidate, when the functionality is already built-in to VSCode!

Knowing which imports are unused is a relatively expensive operation that the Typescript language process already seems to know about! Why would an we want a separate plugin to do this?

[2019-12-02 20:13] alexandrudima commented on #85902
Duplicate of #84226

[2019-12-02 20:13] #85902 closed

[2019-12-02 20:14] #85413 closed

[2019-12-02 20:22] PEZ commented on #32813
@APerricone for Webviews you can use the vscode css vars in your css. Like I do here: https://github.com/BetterThanTomorrow/calva/tree/master/assets/styles

[2019-12-02 20:24] totkeks commented on #33974
@LAK132 this is not an example of Smart Tabs. The whole point behind Smart Tabs is, that you use tabs for indentation and spaces for alignment. Your example just shows that someone didn't use them properly, namely spaces for indentation of the `for` loops and insufficient tabs for the indentation of the three code lines.

[2019-12-02 20:42] ThiefMaster commented on #85887
I'd love to have a look at the issues (and code 😏) in there, but I have the feeling I'd have to become a Microsoft employee to do so, and that's something I'm currently not planning to do... ;)

(tl;dr: that repo is private)

[2019-12-02 20:53] apbendi commented on #85446
I'm seeing this behavior as well on macOS Mojave. As far as I can tell, here is what is happening: when I double click an identifier, like a variable name in a JS file, there is a slight delay before the text is "actually" selected.

You can tell because once it's "actually" selected the highlight color changes (becomes slightly darker). If I'm fast enough and happen to hit cmd-V before that occur

[2019-12-02 20:57] #85816 closed

[2019-12-02 21:00] octref commented on #85923
Duplicate of #85715.

[2019-12-02 21:00] #85923 closed

[2019-12-02 21:03] Cellv2 commented on #85889
Couldn't find the exact dependency, but seems to be a combination of react-router-dom, react-bootstrap and/or bootstrap. Steps to repro below:

Open terminal and **swap to any drive other than C:\\**. I was able to replicate this on my E/F/G/H drives, but not my C drive.

In terminal:
[code]

In the editor:
[code]

[2019-12-02 21:06] mbreaton opened #85960 "Cannot open files beginning with '.' and containing additional '.' from jump list"
# Environment
Win32NT 10.0.19033.0 Microsoft Windows NT 10.0.19033.0

# Steps to reproduce

1. Open a file beginning with a '.' and containing another (e.g., .profile.json) in Windows Explorer by selecting "Open with Code" in file's context menu
2. Exit Visual Studio Code
3. Bring up Visual Studio Code's jump list
4. Select the file opened in step 1

# Expected behavior

Expected the file to open

[2019-12-02 21:07] hayes opened #85961 "vscode shows `any` for types that are not any"
- VSCode Version: 1.40.2 (also tried 1.39 and insider)
- OS Version: OSX 10.15.1

Steps to Reproduce: Unfortunately I have not yet been able to repo in an isolated test case.  It seems to be related to something in our private code base.

Does this issue occur when all extensions are disabled?: Yes

Basically, what we observe is that sometimes types in vscode are displayed as any when they should

[2019-12-02 21:13] StephenWeatherford commented on #83861
Simplified the repro.  However, the bug seems to have been fixed (and in particular, rather than simply enabling the extension disabled extension when vsix2 is installed and vsix1 is disabled,  it installs vsix2 but keeps it disabled).  Thanks.

[2019-12-02 21:17] dbaeumer commented on #85869
I mean where exactly do you see the the menu entry and in which context (e.g. on a workspace file for example). I can't reproduce this in my setup but I am sure I am not looking at the same example.

[2019-12-02 21:18] ivanvoznyakovsky commented on #85923
@IllusionMH made the video public. old habit 😄 and yes, #85715 looks like the same bug.

[2019-12-02 21:18] javidh opened #85962 "Unpredictable behavior on deselecting the cursor"
- VSCode Version: 1.40.2
- OS Version: maOS 10.4.06 (Mojahve)

Steps to Reproduce:

1. Try to add a few cursors (option + click)
2. Try to remove one by (option + click)

Sometimes it works as expected sometimes it selects the text between the cursor and the previous one.

Does this issue occur when all extensions are disabled?: Yes

[2019-12-02 21:22] sean-mcmanus commented on #15756
@vchuravy Yes, and that's the default behavior, but it can be overridden via our C_Cpp.updateChannel setting. There's a bug preventing it from working for remote machines though (https://github.com/microsoft/vscode-cpptools/issues/3833).

[2019-12-02 21:22] StephenWeatherford commented on #81397
It does indeed seem to be fixed with 1.41.0-insider (user setup)
Thanks!

[2019-12-02 21:22] ggedde commented on #85732
@joaomoreno My apologies, it does output the data from the remote.
However, it waits until the remote is completely done before it outputs any data than also adds some generic Git details.

The reason I thought that it didn't was because I have to scroll way back up to see the response from the server I didn't notice that before and because it does it at the end of the response and I usually only

[2019-12-02 21:22] #85732 closed

[2019-12-02 21:24] ggedde commented on #85732
FYI, when running `git push > stdout.log 2> stderr.log` WPEngine gets loaded into stderr

[2019-12-02 21:27] cprovatas commented on #85901
Thanks for your response @ultraGentle

<img width="950" alt="Screen Shot 2019-12-02 at 1 26 23 PM" src="https://user-images.githubusercontent.com/14881080/69996655-59934700-1507-11ea-9051-0e7270c62a8e.png">

I search for 'view help menu' in the keyboard shortcuts menu and I'm not seeing it.

Im on 1.40.2

[2019-12-02 21:28] APerricone commented on #32813
@PEZ sorry, i saw the documentation 5 minutes after the comment, so I removed the comment...
Thank you anyway.

[2019-12-02 21:29] vchuravy commented on #15756
It would be fantastic if extensions wouldn't have to implement this feature, but VSCode could offer it by default.

[2019-12-02 21:41] mjbvz commented on #85961
Please share a minimal, reproducible example. Unfortunately we can't investigate this without one

[2019-12-02 21:45] mjbvz commented on #85753
Here's the logic we use to look up the tsc path: https://github.com/microsoft/vscode/blob/cf197953d7c65b4131147d93cf0dc7766a610b70/extensions/typescript-language-features/src/features/task.ts#L183

Note that is prefers using the local tsc installed under `node_modules`. How do you have tsc installed?

[2019-12-02 21:46] mjbvz commented on #85608
Thanks for checking. Since you said this does happen in the insiders build, I'm closing this. The 1.41 update with the fixes should come out next week

[2019-12-02 21:46] #85608 closed

[2019-12-02 21:48] mjbvz commented on #85896
@lass-0 Do you see a similar delay for the release notes? What about for a markdown preview?

[2019-12-02 21:53] mjbvz commented on #83961
Fixed by 5ec2e40b21a4cd5ce6a5ed4eb3f509dc280a0d53

Note that renames in the explorer always seem to center the renamed file. This happens for regular files too

[2019-12-02 21:53] #83961 closed

[2019-12-02 21:54] Tyriar commented on #85887
Yeah remote release is the one. If nothing of interest in this query https://github.com/microsoft/vscode-remote-release/issues?q=is%3Aissue+getunixshellenvironment+is%3Aopen, you could create an issue

[2019-12-02 21:56] mjbvz commented on #82115
Closing out this item. Please continue discussions in #77131

[2019-12-02 21:56] #82115 closed

[2019-12-02 21:58] alexandrudima commented on #85853
@David263

VS Code is built with Electron, which is built with Chromium. The current Chromium version shipping with VS Code is 76.0.3809.146. The current Chrome stable version is 78.0.3904.108.

The editor portion of VS Code uses Chromium for text rendering. I can reproduce the issue you have identified around the rendering of `nūta॑nairu॒ta` in the latest Chrome Canary, 80.0.3983.2. I personally

[2019-12-02 21:59] AnyaHunt opened #85963 "Webview select checked user agent stylesheet cannot be overridden"
In a webview form
With a select box with multiple selection allowed
Selection colors cannot be overridden (because they are marked important?)
What happens is the highlighted items in the select box appear with a grey background and dark grey text, rather than being able to apply the current vscode theme color to them.
![image](https://user-images.githubusercontent.com/49539354/69998757-e3ddaa00-1

[2019-12-02 22:00] tim-stasse opened #85964 "Window edges cropped when full-screen"
Issue Type: <b>Bug</b>

Making the window full-screen on an external monitor (it doesn't affect my laptops main display) makes the edges of the applications window become greater than the full width and height of the monitor, cutting off the edges of the applications window.

I found this issue here: https://github.com/microsoft/vscode/issues/84164 which talks about what I think is the same issue,

[2019-12-02 22:01] tim-stasse commented on #85964
The duplicate issue detection is normally pretty good, but that one I'm sorry is no where near 😅

[2019-12-02 22:03] alexandrudima commented on #85849
@GRGSIBERIA VS Code is built with Electron, which is built with Chromium. With version 1.40.x, we have moved to a newer version of Chromium (76.0.3809.146). Chrome stable is currently at 78.0.3904.108.

Does the special software work with Chrome?

[2019-12-02 22:08] JacksonKearl opened #85965 "Test: Search Results Editor"
Refs: #23931

- [x] Windows @roblourens
- [x] Linux @RMacfarlane
- [x] anyOS @deepak1556

Complexity: 3

Authors: @JacksonKearl

---

**anyOS** -> Use remote with mixed path syntax (e.g. windows -> linux)

The concept of a Search Result Editor is now in preview, behind the feature flag `"search.enableSearchEditorPreview"`. With this, users can open the results in an existing Search Viewlet or Sear

[2019-12-02 22:08] Tyriar opened #85966 "Test: Terminal minimum contrast ratio"
Refs: #84935

- [x] Windows @RMacfarlane
- [x] Linux @connor4312
- [x] macOS @bowdenk7

Complexity: 3

---

The new setting `terminal.integrated.minimumContrastRatio` makes foreground colors in the terminal more of less luminous to improve the contrast ratio. To test this, read over the setting description then testing using the dom, canvas and webgl renderers. Note that each different type of col

[2019-12-02 22:09] JacksonKearl commented on #84531
Closing this out as the setting can be disabled and the refresh UI was made less jarring.

[2019-12-02 22:09] #84531 closed

[2019-12-02 22:10] kaustubhspande opened #85967 "VS Code is very slow and there is a lag"
We have written the needed data into your clipboard because it was too large to send. Please paste.
I am on Windows 10:
- ssh to linux machine using MobaXterm.
- From command line, launch VS code using, 'code . '.

Slowness and lag is experienced at all places. Disabling/ Uninstalling plugins also did not solve the problem.

CPUs | Intel(R) Xeon(R) CPU E5-1660 v4 @ 3.20GHz (16 x 1342)
-- | --
GPU

[2019-12-02 22:12] JacksonKearl commented on #16488
@AndrewMorsillo This is just the MVP to start to get an idea of what the Search Editor flow is like, many people have similarly requested to skip the search viewlet/panel entirely and we may in the future make the overall search position configuration `'viewlet' | 'panel' | 'editor'`. #23931 has more discussion on the matter.

[2019-12-02 22:16] octref opened #85968 "Test: CSS property ranking by populartiy"
Refs: #3145

- [x] macOS @misolori
- [x] anyOS @stevencl

Complexity: 1

---

Try a few CSS property completions. Verify that you get properties ordered by the order of https://www.chromestatus.com/metrics/css/popularity.

Previous Ranking:

![image](https://user-images.githubusercontent.com/4033249/69999726-2b653580-150e-11ea-916f-5caf9964697f.png)

Current ranking, based on https://www.chromesta

[2019-12-02 22:17] sean-mcmanus commented on #15756
@vchuravy Yeah, I agree. Our implementation is open source if any other extension wants to do something similar, but we haven't packaged it into an easily re-usable npm module. Other than the remote bug, our insider system has worked really good for our extension, allowing us to find/fix important bugs before they get released to a wider audience (and allowing users to get updates earlier than our

[2019-12-02 22:18] alexandrudima commented on #85779
When we launch the launch config "Extension Tests", it will invoke VS Code with the argument `--extensionTestsPath=${workspaceFolder}/out/test`. This comes from  https://github.com/mpminardi/vscode-extension-samples/commit/e93ef583da6b76405533743414c12f3e0e6154b8#diff-75b3f59d0012145b7219d971d67b339bR26

VS Code will then load and run `/out/test/index.js`. That file will use as `testsRoot` the pat

[2019-12-02 22:19] jblanchet opened #85969 "Search across files not always working without explicit folder being included"
- VSCode Version: 1.40.2
- OS Version: 10.0.17763

Steps to Reproduce:
I don't know how many of these steps are necessary, but this is how I can reproduce it.

1. With VS Code open at the root of a very large folder structure. No editors open.
2. Searching for: xboxconsole
3. files to include: *.build
4. Hit search, it will find a single instance.
5. In the same situation, now set files to include

[2019-12-02 22:20] Tyriar opened #85970 "WebGL renderer isn't hot swappable"

[2019-12-02 22:21] Tyriar opened #85971 "Test: Terminal WebGL Renderer"
Refs: #84949

- [x] Windows @connor4312
- [x] Linux @joaomoreno
- [x] macOS @rebornix

Complexity: 5

---

A new WebGL renderer is available for the terminal which is significantly faster than both the canvas and dom renderers. To enable it:

[code]

This is a rewrite of all the rendering code which includes basically everything inside the terminal panel. You can read about some of the improvement

[2019-12-02 22:26] JacksonKearl commented on #23931
@karlhorky Apologies for any confusion, I think "extension candidate" is the wrong term here, it's more like "this particular flow can be implemented by an extension with 1.41, and may become part of core in ^1.42". Case by case:

- Possibility to open results always in a tab: An extension is not able to take a query from the viewlet/panel and run it, thus it cannot open those results in a tab. Bu

[2019-12-02 22:29] aeschli opened #85972 "Test: Semantic Token Theming"
Testing #77133

- [x] Linux @chrmarti
- [x] macOS @alexandrudima

Complexity: 3

---
We have no language support yet, that implements the new semantic highlighting provider API, so this needs to be tested with a sample extension: https://github.com/microsoft/vscode/tree/master/extensions/vscode-colorize-tests
- have your vscode repo on the latest and compiled

- in `vscode/extensions/vscode-colori

[2019-12-02 22:31] cdeutsch commented on #82846
1.32.3 does seem way faster.

Unfortunately for me a bunch of extensions rely on newer versions of VS Code.

This is the top result on Google so not sure why this issue is closed. VS Code is so slow it's almost unusable for me right now.

[2019-12-02 22:33] octref opened #85973 "Test: Auto selecting matching tag position"
Refs: #47069

- [x] Windows @gregvanl
- [x] Linux @aeschli
- [x] macOS @rebornix

Complexity: 3

---

For #47069, we added two features:
- F2 to rename HTML tags
- Auto selecting tags when `html.autoSelectingMatchingTags` is enabled

Test that:

- F2 to renaming opening/closing tags together works as expected
- Auto selecting tags works as you expect for different scenarios, for example:
    - Tes

[2019-12-02 22:34] enmunger opened #85974 "Opening a 3 gig CSV to view causes Visual Code to crash."
Issue Type: <b>Bug</b>

working with a large data set within Visual Code  - when I try to load it to display, Visual Code crashes.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.19528

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-1650 v3 @ 3.50GHz (12 x 3492)|
|GPU

[2019-12-02 22:35] #84293 closed

[2019-12-02 22:40] RMacfarlane opened #85975 "Git repo on did change event not fired on first selection change in multiroot workspace"
Issue Type: <b>Bug</b>

1. Create an extension with the following code, making sure to list `vscode.git` as an extension dependency in the `package.json` and copying the `git.d.ts` from vscode:
[code]
2. Run the extension and open a multiroot workspace with two repos
3. In the SCM viewlet, select the second folder

Expected:
`onDidChange` is fired for the repo that is deselected and the repo that

[2019-12-02 22:48] alexandrudima opened #85976 "Test: Semantic Tokens proposed API"
Test item for semantic tokens API proposal

- [ ] anyOS @octref
- [x] anyOS @Tyriar

Complexity: 5

We are working towards semantic colorization as requested in #585. This work consists of two conceptual pieces:
1. Providing semantic tokens to the editor via the `vscode` API
2. Styling/Theming semantic tokens - #77133

---

Your test assignment is to write an extension that [uses the semantic toke

[2019-12-02 22:50] octref opened #85977 "New Debug Viewlet do not work with multi workspace"
Ref: #84677

Version: 1.41.0-insider
Commit: 7cf4cca47aa025a590fc939af54932042302be63
Date: 2019-12-02T05:26:29.458Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 18.6.0

- Open two folders, each with a `.vscode/launch.json`
- ![image](https://user-images.githubusercontent.com/4033249/70001736-eb548180-1512-11ea-9223-7b11f028120d.png)

I feel this h

[2019-12-02 22:51] misolori opened #85978 "Test: VS Code Figma Toolkit"
Refs https://github.com/microsoft/vscode/issues/83952

- [ ] any @octref

Complexity: 3

**Overview**

We've created a [Figma toolkit for VS Code](https://aka.ms/vscode-figma-toolkit) extension authors to aid in the creation of extension UI. With this toolkit, extension authors are able to re-use existing design components and create custom views. Try to design a dummy extension that covers the fo

[2019-12-02 22:52] octref opened #85979 "Test SCSS Modules support"
Refs: #81943

- [x] Windows @aeschli
- [x] Linux @alexandrudima
- [x] macOS @misolori

Complexity: 3

---

SCSS recently introduced a new module system. Thanks to contribution from @wongjn, we now have syntax highlighting and language server support for them.

For testing, read http://sass.logdown.com/posts/7858341-the-module-system-is-launched and understand the syntax. Write some SCSS files with

[2019-12-02 22:53] mcswell commented on #85853
Alexandru-- David and I have been going around in circles on this.  I'm virtually certain that the problem is that the font he and I are using simply doesn't contain the characters in question, so they show up as boxes.  There are basically two behaviors I've seen in programs when the chosen font doesn't have a glyph for a particular character.  Either the program displays a box, or some similar i

[2019-12-02 22:58] #85915 closed

[2019-12-02 23:00] sbatten commented on #85874
/duplicate https://github.com/microsoft/vscode/issues/83209

[2019-12-02 23:00] #85874 closed

[2019-12-02 23:06] octref opened #85980 "Only generate valid document links of `@use` and `@forward` imports"
Ref #81943, #85979

[code]

Both cases should provide no links since they don't point to actual paths.

EDIT: Seems link verification has been broken.
Verify that `@use "./foo.scss"` doesn't generate a link when `./foo.scss` doesn't exist on disk.

[2019-12-02 23:08] octref opened #85981 "Link to official documentation in completion of new SCSS syntaxes"
Ref #81943, #85979

Completion of `@use` / `@forward`, and completion of `sass:math`, `sass:color` etc, should all include a reference link to official documentation.

[2019-12-02 23:10] bionicles commented on #46403
these buttons suck and should die

[2019-12-02 23:19] David263 commented on #85853
I found the following interesting statement on the Microsoft typography website:

Website http://luc.devroye.org/indic.html lists many fonts that include the Indic characters.

Alexandru, I am glad that you are familiar with some of the internals of Unicode. If I can help by reporting these problems elsewhere, I'm happy to do so. Just give me the URL of the bug report website. Thank you.

[2019-12-02 23:21] kbd opened #85983 "editor.autoClosingBrackets: beforeWhitespace is incorrect for Python"
Issue Type: <b>Bug</b>

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:52:45.129Z)
OS version: Darwin x64 18.7.0

**Description**:

When `editor.autoClosingBrackets` is set to `beforeWhitespace`, bracket closing is incorrect for the Python language. Quote characters (single and double) seem to be treated as whitespace.

**Expected behavior**:

Typing "foo(" b

[2019-12-02 23:23] IllusionMH commented on #85974
/needsMoreInfo

Does it happen with extensions disabled? Especially `rainbow-csv`.

[2019-12-02 23:24] anthonykozak commented on #83276
Same here, I will have to use the Insiders version then. Thanks for the tips!
Also the text following feature is not working in the Terminal view, at all with both VS versions on PowerShell and CMD. It's sad cause I'm using the console a lot. Should I open another issue for that ?
Thank you!

[2019-12-02 23:30] #85629 closed

[2019-12-02 23:36] connor4312 opened #85984 "Test: Sanity check vscode-pwa"
Smoke tests and getting 👀 on the PWA extension. (cc @roblourens )

- [x] macOS @sandy081
- [x] linux @weinand
- [x] windows @chrmarti

Complexity: 4

### Prerequisite

 - Install the latest `js-debug-nightly` extension from the marketplace.
 - Be on Insiders, of course :)

### Node.js testing

 - Pick any Node.js project you have configured for debugging with VS Code
 - Prefix its launch config ty

[2019-12-02 23:37] David263 commented on #85853
I have just tried to show nūta॑nairu॒ta in the DejaVu Sans and Segoe UI fonts, where it is supposed to be supported, and it still displays with rectangles, as shown above. Perhaps I am not doing this correctly, as I am not a VSC user. I go to Settings Icon > search bar > Editor: font family. enter "Segoe UI, Consolas, 'Courier New', monospace", press Enter, then choose the test text buffer tab.

[2019-12-02 23:50] unional opened #85985 "Unable to search large section of code"
- VSCode Version: 1.40.1
- OS Version: Windows Server 2016

Steps to Reproduce:

When the search string is >= 7345 characters, the search will not respond.

There is one such string (this is just random, I adjust the length to find the exact number of characters).
[code]

It was searching fine with much larger string in 1.39

Does this issue occur when all extensions are disabled?: Yes

[2019-12-02 23:52] rebornix opened #85986 "Test: Safari support"
Refs: #85253

- [x] anyOS @bowdenk7
- [x] macOS @weinand

Complexity: 3

Authors: @bpasero , @rebornix

We fixed a bunch of issues for Safari, including keybinding support in fullscreen, menu rendering, copy/paste, etc. Please sanity test VS Code Web in Safari and components work fine, except the limitations we mentioned in https://github.com/microsoft/vscode/issues/85253#issue-526281710

To test

[2019-12-02 23:55] rebornix opened #85987 "Test: sanity check Firefox enhancement"
Refs: #85252

- [x] macOS @weinand
- [x] anyOS @misolori

Complexity: 2

Authors: @bpasero , @rebornix

We fixed a bunch of issues for Firefox: drag and drop, context menu, clipboard support etc. There are still major blockers like Full Keybinding and PWA support but we can do some sanity testing and see if it works fine, except all the limitations we mentioned in #85252

[2019-12-02 23:55] misolori opened #85988 "Test: Custom dropdown picker in Desktop + Web"
Refs: https://github.com/microsoft/vscode/issues/83756
- [x] macOS @isidorn
- [x] linux @jrieken
- [x] windows @weinand

Complexity: 1

Along with testing in the **latest desktop** release, make sure you have **latest browsers** installed:
- macOS: Chrome, Safari, Firefox
- Linux: Chrome, Firefox
- Windows: Chrome, Firefox

We've changed all of the dropdown chevrons to use our custom icons. Please

[2019-12-02 23:56] octref commented on #85981
Actually moving to December. I want to do this in a clean way for all SASS/Less functions, and all CSS at rules.

[2019-12-03 00:04] amyspark commented on #30847
Changing shells via `chsh` does not break (or unbreak) `PATH` until and unless I log off and back in. If I set Bash as my shell and relog, all the variables I specify in .bashrc/.bash_profile are picked up. If I set Fish as my shell, every variable is dropped.

Is there any way I can help you track this down?

[2019-12-03 00:06] misolori opened #85989 "Test: Debug icons & color tokens"
Refs: https://github.com/microsoft/vscode/pull/84771

- [x] macOS @gregvanl
- [x] linux @JacksonKearl
- [x] windows @sana-ajani

Authors: @misolori, @isidorn

Complexity: 2

**Overview**

We've update the Debug breakpoint and toolbar icons to use our new icon font. Start a couple of different debug sessions, set the various breakpoints, step into/out, navigate the call stack, and ensure that all i

[2019-12-03 00:09] rebornix opened #85990 "Test: Mobile Safari support"
Refs: https://github.com/microsoft/vscode/issues/85254

- [x] anyOS @bpasero

Complexity: 3

We added pointer events support and improved touch gesture handling for Mobile Safari this month, to enable users to use basic functionalities with Web. There are still many blockers currently for Mobile Safari as listed in https://github.com/microsoft/vscode/issues/85254, but we can sanity test the core f

[2019-12-03 00:47] mjbvz opened #85991 "Editable custom editor exploratory test pass"
Test continuation for #77131

- [x] Any @roblourens
- [x] Windows @eamodio

Complexity: 5

## Overview
This iteration, we added basic support for editable custom editors. This includes:

- undo/redo
- save and saveAs

You can find the current state of the api in [`vscode.proposed.d.ts`](https://github.com/microsoft/vscode/blob/7ddf497849919fae58911920bceaa12bfcffafb3/src/vs/vscode.proposed.d.ts#L1

[2019-12-03 01:04] egamma commented on #85762
@MarianoGodoy in addition to the docs that @deepak1556 mentioned there is also a blog post on remote development with some videos that provide a good overview https://code.visualstudio.com/blogs/2019/05/02/remote-development.

[2019-12-03 01:21] roblourens opened #85992 "Remove LogLevel api"
We have this API related to the LogLevel:

https://github.com/microsoft/vscode/blob/cd6c734313c0edf305de238e00a7cb99e913f2cc/src/vs/vscode.proposed.d.ts#L732-L757

I didn't even realize it was still proposed. I have used it in the SSH extension (sort of, now I ignore it and always log at "trace"). I think it hasn't changed in at least a year. It looks like git uses it.

Assuming that it's still us

[2019-12-03 01:30] roblourens commented on #85811
Can you explain what you mean by `the normal keyboard navigation.`? Tabbing, etc, should all work fine here.

This content is effectively a tree, although the sections are non-collapsible.

[2019-12-03 01:48] 1316346949 commented on #85917
thanks

[2019-12-03 01:48] 1316346949 commented on #85917
thanks

[2019-12-03 01:54] sofu456 commented on #85934
@sandy081   i just reload the window to reproduce it. thank you for your mention, i will try to disable all extension to solve it.

[2019-12-03 01:58] mjbvz opened #85993 "Test CodeAction.disabled"
Test for #85160

- [x] AnyOs @eamodio
- [x] AnyOs @alexr00

Complexity: 4

# Overview
The new `CodeAction.proposed` property lets extensions tell VS Code why a specific code action is not available. This is used in a few ways:

- Disabled actions **are not** shown in the normal lightbulb menu
- Disabled action **are** show in specialized code action menus, such as refactor (but they should never b

[2019-12-03 02:02] mjbvz commented on #85961
One other thing to check: run the `Developer: Toggle developer tools` command in VS Code and look in the developer console. Are there any typescript related errors printed in there?

[2019-12-03 02:10] mjbvz commented on #85815
This is an upstream issue with marked: https://github.com/markedjs/marked/issues/849

[self contained example](https://marked.js.org/demo/?text=*%20list%0A%60%60%60%0Acode%0A%0Amore%0A%60%60%60%0Atext&options=%7B%0A%20%22baseUrl%22%3A%20null%2C%0A%20%22breaks%22%3A%20false%2C%0A%20%22gfm%22%3A%20true%2C%0A%20%22headerIds%22%3A%20true%2C%0A%20%22headerPrefix%22%3A%20%22%22%2C%0A%20%22highlight%22%3

[2019-12-03 02:10] #85815 closed

[2019-12-03 02:13] anthonykozak commented on #83276
After applying my settings to the Insiders version, I noticed the same issues, so I tried to find which particular setting was breaking it.
And finally removing the line "editor.accessibilitySupport": "on",
inside C:\Users\<USER>\AppData\Roaming\Code\User\settings.json

made the trick, so I guess this mode should be buggy.

[2019-12-03 02:15] coolxxy commented on #85910
That folder is a windows system-protected folder, and I should add it to ignore folder. It is my problem.

[2019-12-03 02:15] #85910 closed

[2019-12-03 02:15] sbatten commented on #85972
@aeschli please fill out test details

[2019-12-03 02:22] mjbvz commented on #85669
Closing as more info needed to investigate. Most likely, just set `"editor.suggest.snippetsPreventQuickSuggestions": false`

[2019-12-03 02:22] #85669 closed

[2019-12-03 02:24] mcswell commented on #85853
The two characters in question, U+0951 and U+0952, are in the Unicode Devanagari block.  According to these web pages
    https://en.wikipedia.org/wiki/DejaVu_fonts#Unicode_coverage
   https://en.wikipedia.org/wiki/Segoe (see under section labeled "mono")
neither the DejaVu Sans nor the Segoe UI fonts covers the Devanagari range.  That would explain why the characters don't show up with those font

[2019-12-03 02:26] deepak1556 opened #85994 "Test: Update to electron 7"
- [ ] Mac @isidorn
- [x] Linux @JacksonKearl
- [x] Windows @alexr00

Complexity: 5

We plan to promote Electron 7 in the next milestone for Insiders. Download the latest released **Code Exploration** build from [here](https://builds.code.visualstudio.com/builds/exploration).

Refs https://github.com/microsoft/vscode/pull/83796

**Verify:**
* our smoke tests pass when run against this build (in cas

[2019-12-03 02:44] testforstephen commented on #85741
[code]

Stop at `import java.|`, and then click `ctrl + space` to trigger completion, i can reproduce the problem.

[2019-12-03 02:48] phuclv90 commented on #84897
I guess this is due to [Better handling for Unicode combining characters](https://code.visualstudio.com/updates/v1_40#_better-handling-for-unicode-combining-characters) in the 1.4 update

[2019-12-03 02:49] zaw-shinoto commented on #85745
Thank you very much, I did all steps and wrote them down.

The problem is not the encoding, but the location of the workspace file, and I think this is special to using git with VSCode?

Description:

I got the error message "Git:fatal: path to document: 'path to document' is outside repository". Without VSCode, mostly using Sourcecode, rarely the Terminal, all files in the same folder as the git

[2019-12-03 02:55] jwthomp commented on #85446
@apbendi I've seen that behavior as well. The other one where you highlight the text but insert it inside seems to happen more if you double click between two letters. It's not consistent, but highly reproducible.

[2019-12-03 03:03] KarmaBlackshaw commented on #85669
Thank you guys! I guess the snippets I made disabled the quick suggestions. @mjbvz, the setting `snippetsPreventQuickSuggestions` to `false` is indeed correct.

[2019-12-03 03:03] theFroh commented on #28795
Can confirm this doesn't occur when running Ubuntu 19.10, so it must be mitigated/resolved by a fix in GNOME/Mutter at least as early as that which ships with 19.10.

So the folks following along on an LTS release should only need to wait until April next year for 20.04 LTS to include these fixes.

[2019-12-03 03:05] xiaoxiyao commented on #85919
#85777

[2019-12-03 03:09] mjbvz commented on #85958
Text:

[code]

[2019-12-03 03:17] AdityaGovardhan opened #85995 "Error: EACCES: permission denied, open '/home/vsonline/.vs-liveshare-keychain'"
This error occurred in jupyter notebook when visual studio code **online** was reloaded.

[2019-12-03 03:20] mjbvz commented on #85958
@jrieken As you noted, the reason this happens is that we auto insert `await` when you select `setEncoding`. The way TS returns the result to us is that we replace the entire expression `chai.request('url').post('/').send`

Even if I disable the filterText, I can't seem to get `send` to ever have a higher priority than `setEncoding`

[2019-12-03 03:46] #84728 closed

[2019-12-03 03:52] wrbing728 opened #85996 "IntelliSense shows blank"
Version: 1.40.2
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:52:45.129Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 18.5.0

In a Typescript project the IntelliSense works like:
![image](https://user-images.githubusercontent.com/8429360/70018847-590bb680-15c2-11ea-8d04-36725fcddbbd.png)

have already set quickSuggestions to

[2019-12-03 03:54] mjbvz commented on #85105
Please share steps to reproduce so that someone can try investigating this and potentially submit a PR

[2019-12-03 03:57] jsyt opened #85997 "macOS ctrl+v to go to the end of the document"
- VSCode Version: 1.40.2
- OS Version: macOS(Catalina)

Steps to Reproduce:

1. Ctrl + v is not working
2. Ctrl+V is bound to nothing in the keyboard shortcuts and there is no conflict

Does this issue occur when all extensions are disabled?: Yes!

[2019-12-03 03:59] mjbvz commented on #85032
I can't reproduce any errors using the current VS code insiders build (1.41)

Can you please test your example again on the insiders build to confirm you still see the problem.

[2019-12-03 04:05] anurbol commented on #68162
Since I have this [issue](https://github.com/microsoft/vscode/issues/85939) I'd like so much to see what is the version distribution among the users, in order to decide should I focus on the latest versions or should I support some old versions as well if they are still popular.

[2019-12-03 04:07] mjbvz commented on #84908
F12 works for me.

Again, please share specific repo steps. For example: open file `x.js` and run `f12` on line 20. Also describe what you expect to happen in that case

[2019-12-03 04:08] mjbvz commented on #85996
From the screenshot, it looks to me like all the text is just super tiny

[2019-12-03 04:25] testforstephen commented on #84553
Can VS Code provide a more contrasting highlight color for dark theme by default? i believe most of users don't know how to customize the color for a specific theme.

[2019-12-03 04:32] byyxx128 commented on #85869
It's not in setup. It's in context menu, when you right click a file or a folder in explorer.
(Obviously you need to check to add the menu when you install through setup.)

[2019-12-03 04:36] kenkangxgwe commented on #85663
Thanks for the confirmation. I reinstalled VSCode and now it works.

[2019-12-03 04:36] #85663 closed

[2019-12-03 05:01] jpike88 opened #85999 "Breaking with workspace TS version 3.7.2"
- VSCode Version: 1.40.2
- OS Version: macOS Catalina

Steps to Reproduce:

1. Have the tslint extension installed.
2. use workspace version of typescript.

![Screen Shot 2019-12-03 at 11 57 01 am](https://user-images.githubusercontent.com/9585787/70021822-94a78000-15c4-11ea-94da-9d6b88d9a795.png)

3. No linting. It's broken.
4. It works if I select 'use vscode version' even though it's the same T

[2019-12-03 05:07] eriolchan opened #86000 "Custom display name for proper nouns in Settings UI"
In the Settings UI, the configuration key will be used to construct a title. Capital letters are used to indicate word breaks which is not suitable for proper nouns.

For example, if the configuration key is IoTWorkbench, UI will shows "Io TWorkbench" which is strange to user. However, I expect UI shows "IoT Workbench". Is there any way for VSCode to solve this problem? or provide a way to custom

[2019-12-03 05:25] sandy081 commented on #85934
ok

[2019-12-03 05:26] rajeshwaranpj commented on #45020
Looking for the same. need a tool to hide the multiple-single line comments.

[2019-12-03 05:26] RobertoMalatesta commented on #85753
Hi @mjbvz

I have tried with both.
`> Executing task: /home/robi/src2/industry40/node_modules/.bin/tsc -p /home/robi/src2/industry40/tsconfig.json --watch <
/usr/bin/env: ‘node’: No such file or directory
The terminal process terminated with exit code: 127
`
It seems that newer versions of VSC don't read _.bashrc_ before opening the internal terminal or it's read async.
If I open an integrated ter

[2019-12-03 05:29] akshatbhargava123 opened #86001 "new style to React.Fragment not supported by code coloring"
Version: 1.40.2
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:52:45.129Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 19.0.0

Steps to Reproduce:

1. Simply write `<> <p>Some content</p> </>` in your JSX react/react-native code.

Does this issue occur when all extensions are disabled?: Yes

Screenshot:

![image](https://user-

[2019-12-03 05:33] sandy081 commented on #85716
Order and comments are not considered in favour of providing better merge while synchronising. Otherwise user has to manually merge most of the times. Rich Settings UI is also another reason for this.

I will think about this If there is more demand for this.

[2019-12-03 05:34] anurbol commented on #85939
I think I've found an easier way to figure out Electron versions in different VSCode versions. I can browse repository tags and look at the `.yarnc` file. I just hope this is reliable enough, and someone can confirm that.

[2019-12-03 05:34] sandy081 commented on #85799
/duplicate

Because it has args and currently commands with args are not shown.

[2019-12-03 05:36] himajaM commented on #85382
I had checked in few formats ::

Eg: <i class="fa fa-trash trash_icon" (click)="delete(Id)"></i>

1)  On press ctrl+mouse click im unable to go to defination which is in
'.ts' file.
2) I had tired using above key link i.e F12
3) Tired with " GO -> GO TO DEFINATION" from visual studio code menu
4) Tired with ALT+F12

npm version : '6.9.0',
Angular CLI: 7.3.5
Node: 10.16.3
OS: win32 x64
Angular: 7.2

[2019-12-03 05:36] sandy081 commented on #85638
Yes, recently I have changed the wrapping in status bar.

Can I have steps to repro please?

[2019-12-03 05:39] sandy081 commented on #85889
Not sure if it is VS Code related as you said your nom dependencies are broken. Probably you have to fix that.

[2019-12-03 05:40] mjbvz commented on #86001
Are you sure you don't have any extensions enabled?

If so, please share code from the screenshot as text

[2019-12-03 05:42] hyarionh commented on #85777
This issue should not be closed.  The same version of TSLint works perfectly fine on older versions of VSCode which indicates the extension itself is unlikely the cause.

The change might be related to how VSCode starts a new process.  The parameters passed to start the tsserver.js process have changed between 1.39.x and 1.40.x.  1.40.x now includes the parameter --max_old_space_size.  Something i

[2019-12-03 05:44] mjbvz commented on #85999
Are you sure that this regressed between 1.40.1 and 1.40.2 and that nothing else about your setup has changed? No extension updates or new tslint versions?

Here are the VS Code changes: https://github.com/microsoft/vscode/compare/1.40.1...1.40.2

[2019-12-03 05:45] jpike88 commented on #85999
almost positive, I saw my developer upgrade right next to me and the issue broke immediately on update

[2019-12-03 05:45] akaroml commented on #73120
That's why we put the entry "Resolve unknown type" as part of the Javadoc so it shows on top:
![image](https://user-images.githubusercontent.com/16755094/70023585-e9ea8e00-15d2-11ea-88d5-7e1a15797387.png)

@sandy081 We would love to revisit this when the change is in.

[2019-12-03 05:46] jpike88 commented on #85999
I should add I already had this problem on 1.40.2, so watching him upgrade was to confirm my suspicion

[2019-12-03 05:46] hyarionh commented on #85919
The number of issues related to this is growing.  This is definitely a VSCode issue.  The tsserver.js process is ignoring the new --max_old_space_size parameter and using up as much RAM as possible.

[2019-12-03 05:50] wrbing728 commented on #85996
@mjbvz  When you say that, it really looks like the text is tiny, so maybe something wrong with the text font size

[2019-12-03 05:51] mjbvz commented on #85999
And they were definitely on 1.40.1, and not 1.39?

[2019-12-03 05:52] jpike88 commented on #85999
Yes positive

[2019-12-03 05:54] mjbvz commented on #85382
Please share a complete code example including any referenced symbols. Also describe exactly where in the code you are running `go to definition`

[2019-12-03 05:54] wrbing728 commented on #85996
But I couldn't find which config to set the IntelliSense suggestion's font size. Need help again~

[2019-12-03 05:54] laverdet opened #86002 ""files.associations" does not work for C/C++ header files [*.h, *.hh]"
Issue Type: <b>Bug</b>

1. Create a new workspace with file "foo.h"
2. In settings.json: { "files.associations": {"*.h": "javascript"} }
3. Confirm that the file icon still shows C

Please see the image below. I can set the file type of the *.cc file but not the header files.

https://i.imgur.com/o2gthf6.png

I believe the user in #42279 was also experiencing this though they did not followup.

VS

[2019-12-03 05:55] akaroml commented on #85160
I just noticed this proposal. It will definitely serve the purpose of reporting reasons. Besides, we could use this as a way of exposing features from the Java language server. In this way, we can provide a full list of code actions that are supported and enable/disable them according to the current context. This way we make the trigger of code actions more deterministic and it's also great for fe

[2019-12-03 05:56] akaroml commented on #84695
Can't wait to adopt this in stable build.

[2019-12-03 05:57] akaroml commented on #85799
Is there a number of the duplicated issue?

[2019-12-03 06:00] mjbvz commented on #85999
1.40.2 + workspace TS works fine for me:

<img width="807" alt="Screen Shot 2019-12-02 at 9 58 17 PM" src="https://user-images.githubusercontent.com/12821956/70024415-de558380-154e-11ea-9141-ac9728f07cfc.png">

Does this happen in all projects? What about very simple ones?

[2019-12-03 06:02] deepak1556 commented on #85589
@rebornix I use the magnifier app on windows with lcd display, the AA will be pretty obvious in it, or in the web version you can use the eye dropper tool from devtools.

This might most likely be a system specific issue. @akiirui if you can run https://github.com/derat/font-config-info and provide the font info, we can try using the same config to see if it helps repro the issue.

Also can you ch

[2019-12-03 06:04] #85996 closed

[2019-12-03 06:16] theeabilisim opened #86003 "Gutter Indicator, without Git, like Sublime Text."
Is it possible to show the line Edited and Saved since the file is opened (without using any version control) with one color, and the line Edited but not saved yet with another color? Just like the screenshot I uploaded.

![IMAGE](https://i.snipboard.io/xmvwNG.jpg)
[IMAGE](https://i.snipboard.io/xmvwNG.jpg)

Thanks.

[2019-12-03 06:31] Rusenec commented on #53262
How can this simple, so logical and requested feature take so long and a myriad of mostly useless or strictly specific things get in updates???

[2019-12-03 06:39] jpike88 commented on #85999
Interesting: the issue only occurs in my angular project files. Disabling my angular vscode plugin did not help.

Typescript kicks in fine, but tslint doesn't seem to be kicking in.

But if I remove my @Component, and @Input decorators, it works fine. Imports weren't modifed, so even if it's importing other components that doesn't seem to be a problem.

Looks like this is specifically related to d

[2019-12-03 06:41] KernelDev commented on #85995
Hello,

EACCES is an error code in nodejs, that indicates that process has not permission to open a file. May you provide the file permission of /home/vsonline/.vs-liveshare-keychain?

Kind regards,

a Dev

[2019-12-03 06:41] roblourens commented on #85984
Please file issues at https://github.com/microsoft/vscode-pwa/

You can get a log using `"trace": true` in the launch config if needed

[2019-12-03 06:53] jpike88 commented on #85999
Tried to reproduce it with https://github.com/PatrickJS/angular-starter, couldn't do it. Seems specific to our project for now.

Found this error in the log:

[code]

[2019-12-03 06:54] timiscoding commented on #85644
@roblourens Thanks! Adding that in my debug config solved my issue. I'm not using docker, just a simple jest + node project.

vs code 1.40.2
node v11.10.1
jest 24.9.0
mac os 10.14.6

[2019-12-03 06:56] jpike88 commented on #85999
I see this error:

[code]

That makes no sense, as that path exists. I suspect something to do with how workspace paths are handled in the update?

[2019-12-03 07:03] thefran23 commented on #85919
I'm experiencing this as well.

[2019-12-03 07:05] ayush2209 opened #86004 "not working"
Issue Type: <b>Bug</b>

npm nodemon is not running.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 3 2200G with Radeon Vega Graphics     (4 x 3493)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<b

[2019-12-03 07:45] gjsjohnmurray commented on #86004
/needsMoreInfo please give step by step instructions for how to reproduce this from startup

[2019-12-03 07:50] ole1986 opened #86008 "Git Extension with LogOptions "skipEntries" to support lazy load"
It would be useful to have Repository.log([...]) with additional options (like. skipEntries) to lazy load commits

[2019-12-03 07:52] mon205 commented on #85913
I don't think it is an extension issue, I think that I am facing the same issue described in issue 57253
I think that the same problem has been appear again
https://github.com/microsoft/vscode/issues/57253

[2019-12-03 07:59] chrmarti commented on #85844
I think, it's connected to the new sorting flag. That's only used by the simple file dialog. Steps:
- `Ctrl + R`.
- Type 'vscode'.
- `Ctrl + O`.
- `Ctrl + R`.

I need to check why the highlighting is not always cleared.

[2019-12-03 08:07] psclkhoury commented on #85921
@roblourens In Insiders, one scenario is fixed but there is still one that isn't. If you make a search and then hide the search view, let the search complete then switch back to it. In that scenario the buttons are insensitive.

Version: 1.41.0-insider (system setup)
Commit: 97855786a014be2440751b038b373c3726e11fe8
Date: 2019-12-03T05:40:39.806Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.

[2019-12-03 08:10] Souravgoswami opened #86009 "Can't disable tooltip in shown on hovering html tags"
Hi, I have been trying to disable the tooltip containing stupid documentations:
![image](https://user-images.githubusercontent.com/37468605/70032021-95dfa980-15d2-11ea-8d1f-3785073263be.png)

I have disabled all the suggestion, and hovering, followed stackoverflow, but that still doesn't disable the tutorial. I have been working on a small window, so that's very very frustrating.

How do I disable

[2019-12-03 08:12] alexr00 commented on #85753
VS Code tasks have never read the .bashrc. By default, tasks run <your shell> -c <your command>, and the -c flag means that the shell is non-interactive and non-login. Tasks usually _do_ inherit the environment that VS Code has though. Something similar happened over in #85714. Do you have `"terminal.integrated.inheritEnv": false` set? That would cause this behavior.

[2019-12-03 08:12] psclkhoury commented on #85922
@isidorn I cannot really use Copy Value from the WATCH view because it only copies 1 value at a time. It would be more useful if I can copy all the values in the vector at once.

[2019-12-03 08:19] anurbol commented on #85939
[code]

[2019-12-03 08:19] zyseu opened #86010 "Can't use jupyter"
Issue Type: <b>Bug</b>

It always show "Starting Jupyter server", I can run .py file but I can't run .ipynb file!!!

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz (4 x 3408)|
|GPU Status|2d_canvas:

[2019-12-03 08:23] alexandrudima commented on #85976
@sbatten @sandy081 I have explicitly assigned @octref to this item (he expressed interest) and it looks like the bot has lost that:

@octref maybe you can negotiate with @Tyriar and swap test plan items.

[2019-12-03 08:27] jrieken commented on #85858
Actually not a duplicate but should be straight forward to implement as filter-options can already be defined per language

[2019-12-03 08:32] dbaeumer commented on #85869
Adding @joaomoreno then.

[2019-12-03 08:32] #43768 closed

[2019-12-03 08:33] jrieken commented on #85929
fyi - this should be finalised API but the PR didn't make it in time. So, the API is still in proposed but won't change anymore. (In master it's moved to stable)

[2019-12-03 08:34] whizsid commented on #85995
You can set file permission by executing `sudo chown yourusername:yourusername /home/vsonline/.vs-liveshare-keychain` command.

[2019-12-03 08:35] jrieken commented on #84553
@misolori can you help with that 🔝

[2019-12-03 08:39] jrieken commented on #85741
Oh, it happens when resolving...

[2019-12-03 08:42] MarianoGodoy commented on #85762
Awesome guys! Thanks for the help!

[2019-12-03 08:45] chrmarti opened #86011 "Sync: Keybindings overwritten after enabling sync between platforms"
Issue Type: <b>Bug</b>

Testing #85941

I had Windows and Mac with different keybindings. After enabling sync between platforms, the Windows keybindings simply overwrote the Mac keybindings.

I'd expect to be asked to merge the two.

VS Code version: Code - Insiders 1.41.0-insider (97855786a014be2440751b038b373c3726e11fe8, 2019-12-03T05:35:54.992Z)
OS version: Darwin x64 18.7.0

<details>
<summary

[2019-12-03 08:47] alexr00 opened #86012 "Dialogs are different with Electron 7"
Testing https://github.com/microsoft/vscode/issues/85994
Not sure if this is intentional, but the same dialog looks different. (please ignore size difference, that's from screen resolution)
![image](https://user-images.githubusercontent.com/38270282/70034564-acc1d400-15b1-11ea-9309-201d0f68419e.png)

[2019-12-03 08:54] isidorn commented on #85926
My Win VM is in a bad state. Swaping platforms with @JacksonKearl hope that is ok.

[2019-12-03 08:57] isidorn commented on #85977
Good catch. Yes, this has to be fixed. Thanks for filling the issue.

[2019-12-03 08:58] w-flame opened #86014 "Freeze in C++ file with particular content"
Issue Type: <b>Bug</b>

VSCode is freezing after opening C++ file with this content:
[code]
I maximaly shrink code which still represents isuue.
Freeze  happens only in C++ mode, if opening in C mode it's OK.
Freeze happens with and witout C++ extensions installed/enabled.
Freeze happens on Mac and PC with current VSCode versions and some previous releases.

You  can save this string of code to te

[2019-12-03 08:58] isidorn commented on #83276
This fix is in the vscode stable also, so you do not have to switch to insiders.
`editor.accessibilitySupport: "on"` should not have an influence on this feature.
If that is no the case, can you please create a new issue with minimal reproducable steps so we look into it. Thanks

[2019-12-03 09:04] wissog commented on #84908
for example i put above:

Find cMapFromState function and open the file
put cursor on mdbSelectors.getDenormCollection
click F12

nothing happens for me, but i expect that a js file in which we have the
definition of getDenormCollection will be opened and cursor will be set on
that function definition.

*Gabi*

*"What R we living for?" :)*

On Tue, 3 Dec 2019 at 06:07, Matt Bierner <notifications@

[2019-12-03 09:05] xxjapp opened #86015 "unable to save last file before saving preceding files"
- Version: 1.40.2 (user setup)
- Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
- Date: 2019-11-25T14:54:45.096Z
- Electron: 6.1.5
- Chrome: 76.0.3809.146
- Node.js: 12.4.0
- V8: 7.6.303.31-electron.0
- OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. create a new file and input something
2. create another new file and input something
3. try to save last file

Does this issue occur when al

[2019-12-03 09:11] shammelburg commented on #53453
This would benefit a lot of VS Code users. Please add this feature.

[2019-12-03 09:12] R4PH4 commented on #71134
Hello, do you have news for this bug to be fixed ?

[2019-12-03 09:16] testforstephen commented on #85741
Yes, the Java extension doesn't calculate textEdit property during completion response, and it will lazy set it during resolving.

[2019-12-03 09:22] isidorn opened #86016 "Polish debug console input output grouping"
1. Do not use arrows, just > or <
2. Move the tree expadno a bit to the right
3. Check out why we removed the line separator in the past

fyi @weinand

[2019-12-03 09:23] Arkellys commented on #85763
@mjbvz [here is a minimal example](https://github.com/Arkellys/react-redux-minimal).

[2019-12-03 09:26] davidgreen99 opened #86017 "Markdown relative image is not shown in Preview on windows"
- VSCode Version: 1.40.2
- OS Version: Windows 10 x64

This seems to be a regression. Previous versions of VSCode allowed relative images to preview. But it is no longer working.

This the same issue as closed and locked issue https://github.com/microsoft/vscode/issues/45155 (which I am unable to reopen or comment on).

1. For a folder structure:
images/
    cat.png
   doc.md

2. With doc.md:
![](

[2019-12-03 09:27] Relequestual commented on #53262
@Rusenec You could re-channel that complaining energy to writing the PR which makes it do what you want. =/ It's free, don't complain. The team that work on this bring HUGE numbers of updates all the time. If you want it to go faster, help.

[2019-12-03 09:30] alexr00 opened #86018 "Old theme color visible when dragging window larger"
Testing https://github.com/microsoft/vscode/issues/85994
I have the Atom One Dark theme applied. When I drag the window larger, the newly expanded area is briefly colored with the default dark theme color. In insiders, it is colored black, and it is visible for less time.
Electron 7:
![electron7drag](https://user-images.githubusercontent.com/38270282/70037997-d41b9f80-15b7-11ea-89e1-317c357ca01b.g

[2019-12-03 09:30] joaomoreno commented on #85732
Yeah, we don't really stream the output but just accumulate it until the command is over. The reason for this is that we sometimes run commands in parallel. If we did stream the output, they would appear all intermixed, making it hard to read.

[2019-12-03 09:30] joaomoreno commented on #85915
Agreed, thanks @roblourens!

[2019-12-03 09:32] joaomoreno commented on #85904
/duplicate #61491

[2019-12-03 09:32] #85904 closed

[2019-12-03 09:34] alexr00 commented on #86018
Here are single frames that make it more obvious:
Electron 7:
![electron7Still 21](https://user-images.githubusercontent.com/38270282/70038375-69b72f00-15b8-11ea-8b3d-54d93fb08cd4.png)
Insiders:
![insidersStill 20](https://user-images.githubusercontent.com/38270282/70038376-69b72f00-15b8-11ea-8706-c4b28b6332ce.png)

[2019-12-03 09:38] joaomoreno commented on #85745
@zaw-shinoto

What are the *exact* steps for me to reproduce?

[2019-12-03 09:40] joaomoreno commented on #85869
Here's the location to fix this: https://github.com/microsoft/vscode/blob/d57b8538763b9db16bd8ca3b4dd17f5aa129b87f/build/win32/i18n/messages.zh-cn.isl#L9

@byyxx128 Care to submit a PR? Thanks!

[2019-12-03 09:40] isidorn commented on #85817
I will verify this. Thanks

[2019-12-03 09:42] joaomoreno commented on #85869
Oh actually, the problem is somewhere else.

[2019-12-03 09:42] aeschli commented on #85972
I removed one tester as this is work in progress.

[2019-12-03 09:43] #85869 closed

[2019-12-03 09:50] chrmarti opened #86019 "Sync: Keybindings conflict - Show two way diff"
Issue Type: <b>Bug</b>

Testing #85941

I disabled keybindings sync, changed a keybinding on both machines (the other is Mac) and then reenabled keybindings sync.

The conflict is shown as a single large change over the entire file:
![image](https://user-images.githubusercontent.com/9205389/70039492-5efd9980-15ba-11ea-8278-f7af924427a2.png)

Comparing the changes shows that there is just a small d

[2019-12-03 09:56] 7be opened #86020 "wrong parenthesis at autocomplete"
Issue Type: <b>Bug</b>

Hi all,

while using the latex extension, which in my opinion includes Intellisense I have an autocomplete probleme:
typing \todo it autocompletes \todo{}{} which makes no sense.
correct would be \todo[]{}. I found no way to customize it.
My favority would be to have it autocomplete to \todo[inline]{}.
Is there a file, where I can change the suggestions?
Thanks

VS Code ver

[2019-12-03 10:04] jrieken commented on #85741
That's not good and you are lucky that this has been working in the past. I believe it was a coincidence because in the past we didn't cache ranges of completion items - something that we have changed for https://github.com/microsoft/vscode/issues/10266.

For sorting and filtering the range (derived from the edit) is needed because it defines what leading text to compare with.  Also there is no gu

[2019-12-03 10:04] alexr00 opened #86021 "Disabled refactor code action isn't accessible"
Testing https://github.com/microsoft/vscode/issues/85993

Given this refactor context menu:
![image](https://user-images.githubusercontent.com/38270282/70040839-73429600-15bc-11ea-8570-ba19601aa1ff.png)

I cannot use keyboard navigation to get to the disabled menu item. When I have a screen reader on, I can't get it to read the disabled menu item (either by keyboard or by mouse).

[2019-12-03 10:06] dbaeumer commented on #85990
@sbatten @rebornix

Ben is out of office so this item needs to be assigned to someone else.

[2019-12-03 10:07] isidorn commented on #85957
Since it reproduces in stable and happens only once you switch it does not sound critical enough.
Also it might be fixed with your refactorings and changes. Thus I am not so keen to jupm on it immediatly.
The prograss bar was probably registered in the viewlet area, and thus when we search was moved we did not . Good code pointer https://github.com/Microsoft/vscode/blob/56c6acd2fe1a2b7f53d4fd0cf0d

[2019-12-03 10:07] charli20 opened #86022 "problem for IntelliSense for html in css in vscode"
in vscode css code after write . dont show classname create html please help me

[2019-12-03 10:08] jrieken commented on #85915
I think this problem isn't exclusive to the FileSystemProvider API because there many sources for editor model. @roblourens How does this work for other resources, like any document from a TextDocumentContentProvider, things like inmemory resources, or RHS diff editor etc? Why aren't they searched?

[2019-12-03 10:08] weinand opened #86023 "Attaching to cluster doesn't discover all child processes"
Testing #85984 on Ubuntu 19:

- use cluster sample (file: index.js):
[code]
- start sample from terminal with `node --inspect-brk index.js`
- start this attach config:
[code]
- after debugger has stopped on first line press continue.

**Observe:**
Only main program shows up as a sibling to "Clusterattach"
![2019-12-03_11-01-18](https://user-images.githubusercontent.com/1898161/70041164-ef3cde00-15

[2019-12-03 10:11] isidorn commented on #85988
We do not use the custom select box on the Mac vscode. Though I will test on Chrome Safari and Firefox.

[2019-12-03 10:11] alexr00 commented on #85993
@mjbvz How do you do this?

[2019-12-03 10:12] byehack commented on #85784
test on ts file and worked fine. i think the problem is from ms-python

[2019-12-03 10:13] #85784 closed

[2019-12-03 10:16] sandy081 commented on #85976
It was assigned to @octref in the beginning see 👇

![image](https://user-images.githubusercontent.com/10746682/70041908-41323380-15be-11ea-9510-7dfc22bf3514.png)

It got reassigned after manually for adjustments.

[2019-12-03 10:17] jrieken opened #86024 "Folder updates when expanding"
re  #85928

* use the Java Dev container
* expand `test-project > src`
* expand `main`
* :bug: the "label" of the main project updates, I would expect it to be proper when expanding `src`

![Dec-03-2019 11-15-26](https://user-images.githubusercontent.com/1794099/70041939-50b17c80-15be-11ea-99f6-6df4c00c16dc.gif)

[2019-12-03 10:18] weinand commented on #86023
moved to pwa repo

[2019-12-03 10:18] #86023 closed

[2019-12-03 10:18] alexr00 commented on #85993
Tested on Windows.

[2019-12-03 10:18] AdityaGovardhan commented on #85995
Okay I can try that @KernelDev . Also thank you @whizsid  for mentioning the command. I raised the issue because I believe that the end user experience should be seamless and similar to using VSCode locally, since not everybody would be familiar with the above command and hence such permission issues should not occur.

[2019-12-03 10:20] jrieken opened #86025 "Compact folder rendering looks weird"
re #85928

IMO we had a much better in-between solution using chevrons or no spacing. To me the slash and the spacing look like screen cheese.

<img width="306" alt="Screenshot 2019-12-03 at 11 18 27" src="https://user-images.githubusercontent.com/1794099/70042173-b69e0400-15be-11ea-8f66-539db89b4d8b.png">

<img width="307" alt="Screenshot 2019-12-03 at 11 18 07" src="https://user-images.githubuse

[2019-12-03 10:22] isidorn opened #86026 "Firefox: custom dropdown renders not needed inner focus box"
Refs: https://github.com/microsoft/vscode/issues/85988

1. OS X, Firefox, web

Focus on a custom dropdown in settings. Inner focus is rendered (the white dotted line). It should not be there since it brings no value and overlaps with the chevron

![Screenshot 2019-12-03 at 11 20 24](https://user-images.githubusercontent.com/1926584/70042401-11376000-15bf-11ea-8fe4-1c08f5863d58.png)

[2019-12-03 10:22] hasardel opened #86027 "Git: Improve support stage selected lines"
I add shortcut to stage/unstage selected lines in files (Ctrl+G Ctrl+S)
GitExtensions use S to stage, R to revert, U to unstage.
On VSCode the shortcut can replace selected lines if we are clumsy.

Can you improve support stage selected lines ?

[2019-12-03 10:25] jrieken opened #86028 "New folder/file collapsed"
re https://github.com/microsoft/vscode/issues/85928

* use java dev container
* use `"explorer.autoReveal": false`
* right click `mycompany`, select new File  (the node expands)
* type `model/Model.java`
* :bug: the node collapsed again

![Dec-03-2019 11-22-38](https://user-images.githubusercontent.com/1794099/70042652-899e2100-15bf-11ea-89ed-d703748c43c6.gif)

[2019-12-03 10:25] isidorn commented on #86024
Dup of https://github.com/microsoft/vscode/issues/84703

[2019-12-03 10:25] #86024 closed

[2019-12-03 10:29] #86027 closed

[2019-12-03 10:30] hasardel commented on #9475
I add shortcut to stage/unstage selected lines in files (Ctrl+G Ctrl+S)
GitExtensions use S to stage, R to revert, U to unstage.
On VSCode the shortcut can replace selected lines if we are clumsy.

Can you improve support stage selected lines ?

[2019-12-03 10:32] jrieken commented on #84703
Honestly - I'd say this is stretching the limits of feature request and I'd say that's how I expect the feature to work/to be defined.

[2019-12-03 10:33] sandy081 commented on #86019
Yes, this is expected to show the complete changes as we do not 3-way diff to show  conflicts. Open for ideas here.

[2019-12-03 10:34] isidorn opened #86029 "View dragged title has a number at the end"
Refs: #85908

1. Drag a view inside a viewlet, for example the Enabled or Recommend view in the Extensions
2. The drag title has a strange label, for example "Enabled15" or "Recommended0". It should not have that number at the end

I can repro with stable insiders, so probably not introduced by you

[2019-12-03 10:35] sandy081 commented on #86011
Does it overwrote completely or merged it? Because it should merge if possible otherwise it should show you the conflicts.

[2019-12-03 10:35] DanTup commented on #83668
Fix LGTM, thanks!

(the directional arrows here are really nice too!)

<img width="495" alt="Screenshot 2019-12-03 at 10 33 03 am" src="https://user-images.githubusercontent.com/1078012/70043502-818eb300-15b8-11ea-84d9-09a41c8b1a09.png">

[2019-12-03 10:38] richardstefun commented on #26398
I found out that disabling 'C/C++ IntelliSense' by Microsoft vastly improves performance while viewing big cpp files. It's still not 60 FPS like on Sublime Text, but it's at least somehow useable.
When I scroll using mouse wheel, it's not choppy at all.

[2019-12-03 10:38] zaw-shinoto commented on #85745
Hi,

I wrote down every step this afternoon, did it twice, once with and once without umlauts. Since I deleted the repos, I now recreated a repo exactly the same way:

1. I created a folder on my desktop.
2. I created a new workspace and added this folder to my workspace.
3. Then I saved the workspace inside that folder.
4. I created a text file in the same folder on the same level as the workspac

[2019-12-03 10:39] hasardel opened #86030 "Git: Improve amend commit"
On other git editors, the checkbox to amend a commit writes the commit message with previous commit if the field is empty.

Can you improve amend commit ?

[2019-12-03 10:40] isidorn opened #86031 "Remote view select box out of style"
Refs: #85988

macOS, remote view, look at the select box at the top. Notice how it is out of the style with other select boxes in our product:
1. It has sharp corners
2. Chevron is not centered relatvie to the the inner blue focus
3. it is taller than our other select boxes

![Screenshot 2019-12-03 at 11 37 08](https://user-images.githubusercontent.com/1926584/70043831-78561400-15c1-11ea-84e1-774a

[2019-12-03 10:40] #86030 closed

[2019-12-03 10:42] othyn commented on #63975
This is an annoyance for me too!

[2019-12-03 10:42] hasardel commented on #46994
On other git editors, the checkbox to amend a commit writes the commit message with previous commit if the field is empty.

[2019-12-03 10:42] chrmarti commented on #86019
The 2-way diff that the diff editor does would be sufficient. Based on the diff shown in the second screenshot, you could create these finer grained merge conflict regions.

[2019-12-03 10:45] jrieken opened #86032 "Need two left arrow presses to get to parent"
re https://github.com/microsoft/vscode/issues/85928

* use Java 12 dev container
* in the explorer reveal and select App.java
* press App.java, press arrow-right
* press Arrow-left
* :bug: app-folder isn't selected, it requires a 2nd arrow-left press

[2019-12-03 10:45] isidorn opened #86033 "Panel sash: Invalid location: Error: Invalid location"
Refs: #85908

1. Have panel open, have sidebar open
2. Move sidebar from left to right, or from right to left
3. Double click on the panel sash. Get the following exception:

I can repro with insiders, so not directly tied to your refactorings

[code]

[2019-12-03 10:46] sandy081 opened #86034 "Hide debug launches drop down in empty window"
Testing #85774

- Open empty vscode window
- Open a file that can be debuggable
- Put a breakpoint and start debugging:
- When breakpoint is hit, following view is shown

Hide debug launches drop down in empty window as they are not doing anything.

![image](https://user-images.githubusercontent.com/10746682/70044243-47c2aa00-15c2-11ea-8d82-2d2f65de8d5b.png)

[2019-12-03 10:46] othyn commented on #5402
@robertmiles3 any solution to this yet that you've discovered? Its a real behavioural annoyance for me!

[2019-12-03 10:48] weinand opened #86035 "Adapt serverReadyAction to js-debug"
Testing #85984:

Adapt serverReadyAction to js-debug

[2019-12-03 10:49] fyeeme commented on #85799
as @mjbvz  says add  code in keybindings.json, then works.

[code]
after then , also can search in  visual keybindings editor.
![image](https://user-images.githubusercontent.com/6078758/70044548-8aee3e80-15fd-11ea-9b1e-c3e51a0d1938.png)
![image](https://user-images.githubusercontent.com/6078758/70044569-95103d00-15fd-11ea-9e96-77f226d161af.png)

@akaroml  @mjbvz  many thanks.

[2019-12-03 10:50] lamysafari opened #86036 "font M+ 1mn renders poorly in VSCode"
- VSCode Version:  1.40.2 (user setup)
- OS Version: win10 1903

Steps to Reproduce:

1. Set font to 'M+ 1mn medium' 15px( left: VSCode, right: Webstorm);
![image](https://user-images.githubusercontent.com/9494315/70044400-44004900-15fd-11ea-9456-7b8ae5a6877b.png)

2. If  set Zoom level to 1, this looks more obvious
![image](https://user-images.githubusercontent.com/9494315/70044417-4c588400-15fd-

[2019-12-03 10:51] isidorn opened #86037 "Remote Explorer: when there is only one view, split view should not be present"
Refs: #85908

1. Have a contributed view container like remote
2. Hide all views except one
3. That view is still shown in a split view. Instead it should be merged with the container (same  as our vscode container behave, for example Explorer). It should no longer be inside a split view

This is also happening in Insiders
fyi @sandy081

[2019-12-03 10:51] testforstephen commented on #85741
got that, thanks for the discussion.

[2019-12-03 10:51] jrieken commented on #86025
Proposal: Use normal character spacing and opacity

<img width="308" alt="Screenshot 2019-12-03 at 11 50 30" src="https://user-images.githubusercontent.com/1794099/70044706-2615f280-15c3-11ea-96e9-193e76ba1c0f.png">

[2019-12-03 10:51] isidorn commented on #85908
Great work. I could find some issues, but they were mostly present before your refactoring.

[2019-12-03 10:53] dbaeumer commented on #85927
Tested under Windows: WSL 2 and Docker on WSL 2 (lightweight VM)

[2019-12-03 10:53] aeschli commented on #83657
To verify:

- you no longer get code assist proposals in a workspace file for `remoteAuthority`
- if added manually (`"remoteAuthority": "test+test"`) you will not geta  warning but a hover that says that's its an internal property.

[2019-12-03 10:54] sandy081 opened #86038 "Further configure message is confusing when no file is opened"
Testing #85774

![image](https://user-images.githubusercontent.com/10746682/70044538-d9321c00-15c2-11ea-9e6a-69b2e9be148c.png)

I see above view when there is no file opened or a file cannot be debuggable. Asking to open a file makes sense. But I do not understand the other message `To further configure...`.

Is not that this message makes sense only when file is opened that can be debuggable and

[2019-12-03 10:55] isidorn opened #86039 "Remote: hidden view can not be brought back"
1. Vscode insiders, install remote SSH extension
2. Open the Remote view container
3. Hide all the views via context menu
4. Context menu on the title -> the views are not there and they can not be brought back 🐛
5. Reload -> the views are back -> I would expect the hidden state to be preserved 🐛

fyi @alexr00

![remote](https://user-images.githubusercontent.com/1926584/70045024-ae949300-15c3-11ea

[2019-12-03 10:56] aeschli commented on #85883
Verify that when opening a remote resource, the folloeing rules are used:
- it's a file if it ends with a file extension, but no trailing slash\backslash
- it's a workspace file it it ends with `.code-workspace`
- otherwise it's a folder

e.g.
code-insiders --remote ssh-remote+ubuntu16 /home/sandy081/work/vscode/package.json

[2019-12-03 10:57] alyahmedaly opened #86040 "Support Time Travel Debugging in Javascript"
I know this feature is implemented but I wish to have it for typescript/javascript too if possible not sure this will be editor feature or runtime feature  (node,v8, whatever)

[2019-12-03 10:58] sandy081 opened #86041 "Hide the debug / run buttons when not enabled"
Testing https://github.com/microsoft/vscode/issues/85774

Why not hiding the buttons instead of disabling them? This might make UI look lighter when no file is opened?

[2019-12-03 11:00] aeschli commented on #85306
To verify:
- Have HTML with embedde css and JavaScript
- Set cursor inside the embededded code and use `Expand Selection` multiple times
- Verify that the selection grows according to the embedded language's syntax, and then using the surrounding HTML.

[2019-12-03 11:01] isidorn commented on #86034
I can not reproduce.
How do you get into this state? Are you in a purple vscode?
Whenever I am in a no folder vscode I always get the debug start view and the drop down is not shown

[2019-12-03 11:03] sandy081 opened #86042 "Remember the debugger choice"
Testing #85774

- Have chrome debugger extension installed
- Open a simple js file in vs code
- Open debug viewlet
- Click on debug button
- Choose from the debugger dropdown and select for eg `node.js`.
- Stop debugging
- Click on debug button again

It asks to select debugger again. Why not remember the option I chose before?

[2019-12-03 11:03] isidorn commented on #86041
This was an open discussion between @weinand and me.
@weinand wanted the buttons to be hidden, I prefered them disabled.
My reasoning was that having them disabled shows the user the possibility that will be available to him once he does what we ask him to do. So it sort of sells the possibilities of the debug viewlet.
Another reason is that without them the view would just have text and be boring

[2019-12-03 11:04] aeschli commented on #6734
To verify, install the vscode-scss extenssion

[2019-12-03 11:05] DanTup opened #86043 "Uri class converts $ to %24"
I don't know if this is related to #83645, but my comment on that issue was marked as off-topic.

The URI class seems to unexpectedly encode the `$` character:

[code]

Similar code in JavaScript doesn't do this:

[code]