[2021-09-03 21:46] AllanOricil commented on #125791
@bpasero setting `workbench.editors.webviewInput` works. I personaly did not like it because it isn't intuitive for the user to set a property called `workbench.editors.webviewInput` and expect that all the Webviews he uses will be locked.  Another argument agains it is the fact that VS Code users are not VS Code Developers, hence they don't know what the term `Webview` means.

And because of the

[2021-09-03 21:55] gjsjohnmurray commented on #132296
/duplicate of #132264

[2021-09-03 21:55] #132296 closed

[2021-09-03 21:58] gjsjohnmurray commented on #16221
Look at the `editor.inlayHints.fontFamily` setting.

[2021-09-03 22:06] TylerLeonhardt commented on #129596
Here's my take on this: 4735c328d7016bf951af86c5b523bd89d1cb67c4

additionally, I negatively boosted languages that are not used much and are too simple (meaning their syntax is too close to spoken word, like batch)

verification is really just find some code samples online and paste them in an untitled editor.

[2021-09-03 22:07] TylerLeonhardt commented on #129596
this snippet use to be called SQL but now stays plaintext:

[code]

it came from @Tyriar's lorem extension.

[2021-09-03 22:12] dariusj18 commented on #132299
Similar issue for me, except it's an issue where in my monorepo it is only suggesting imports using the package path even for files from the same package.

ex. If I have two packages `@qwerty/foo` and `@qwerty/bar` and I have a class `Process`  in a file `process.ts` in the foo package, when I import it into bar it appropriatly imports it as `import { Process } from '@qwerty/foo'` but if I'm in fo

[2021-09-03 22:14] TylerLeonhardt commented on #131945
in 4735c328d7016bf951af86c5b523bd89d1cb67c4 I made it so that languages like SQL and Batch are negatively boosted. The idea here is that these languages are very "spoken word-like" and so we need to be a lot more confident to know if we should set the languages or not.

[2021-09-03 22:17] TylerLeonhardt commented on #132005
Duplicate of #132173 this will be fixed in the next recovery build next week. In the meantime you can do:

[code]

[2021-09-03 22:18] #132005 closed

[2021-09-03 22:19] TylerLeonhardt commented on #132001
Duplicate of #132173 this should be fixed in the next recovery build next week.

[2021-09-03 22:19] #132001 closed

[2021-09-03 22:26] mklement0 commented on #132149
I'm not sure I got the backstory fully correct, but [this Stack Overflow answer](https://stackoverflow.com/a/69050730/45375) should at least provide an proper fix that involves migration from deprecated settings.

[2021-09-03 22:33] straystreets opened #132302 "Problem with output"
Hi
I have a template output problem
It shows me linearly when I run the code
But my code is in the form of a pyramid
This is my code :
`a = 8
for i in range(0,5):
    for j in range(0,a):
        print(end= '  ')
a = a-2
for j in range(0, i+1):
    print("*", end= '  ')
    print()
    `
And output :
*
*
*
*

[2021-09-03 22:33] Nahor commented on #131027
@oaahmad, if the problem is the distraction, it feels to me that you would be better served by just using less saturated/darker colors, so that the brackets are more identical in colors but not quite, and so you can still distinguished them if you need it but without being in-your-face when you don't.

[2021-09-03 22:34] TylerLeonhardt commented on #132176
It looks like overleaf is a LaTeX thing so maybe start with disabling all your LaTeX-related extensions and try to reproduce this.

[2021-09-03 22:34] TylerLeonhardt commented on #132177
/extJupyter

[2021-09-03 22:35] #132177 closed

[2021-09-03 22:38] jeffory-orrok commented on #132154
Not sure whether I should continue using --crash-reporter-directory on each launch.

Here is how I just started vscode and the response I got
[code]
As far as I know, vscode is just installed on my hard drive like any other app.

[code]

[2021-09-03 22:39] TylerLeonhardt commented on #132185
Can you share what extensions you have installed?

[2021-09-03 22:40] thomaslima commented on #132176
Thank you for your comment. I thought of that and tried disabling all extensions before posting this bug, as I mentioned. I don't know where it's picking up from. I do have git remotes outside of this project pointing to overleaf. In my imagination the only way vscode could get that url is either by surveying other folders outside my project (why would it do that) or look at my osxkeychain to try

[2021-09-03 22:41] morganwdavis opened #132303 "Stabilize navigation and interaction in Settings editor"
Issue Type: <b>Feature Request</b>

This is probably a bug, but let's start here first.

Clicking on checkboxes in the Settings editor has some odd behavior. Clicking on a control that is not currently focused causes an immediate and disorienting jump (scroll position shift). Sometimes the click on the control (e.g., checkbox) doesn't toggle it, but instead changes the scroll position only leaving

[2021-09-03 22:46] oaahmad commented on #131027
@Nahor That would make it less distracting, but it would make it harder to distinguish the brackets when they are nested. The speed and ease at which I can see which brackets are pairs is kind of the whole point of bracket colorization, so I do like that the colors are very different.

It would also be nicer if the brackets were just black when not nested instead of a muted color. It kind of feels

[2021-09-03 22:46] deepak1556 commented on #130947
Yeah this is wierd, lets confirm only final log. Can you print the output of `npm config ls -l`

[2021-09-03 22:48] TylerLeonhardt commented on #132193
\extPython

[2021-09-03 22:49] #132193 closed

[2021-09-03 22:49] deepak1556 commented on #132154
You can ignore the warning, does it still crash ?

Only till we confirm the issue, after that it can be removed.

[2021-09-03 22:54] #132205 closed

[2021-09-03 22:58] TrueWill opened #132304 "Disable inlay hints for tests (or allow conditional overrides)"
I ❤️ the new [inlay hints](https://code.visualstudio.com/updates/v1_60#_inlay-hints-for-javascript-and-typescript) feature. One area where it's a bit noisy is in tests, though. Even with the `literals` setting, it shows up for Jest (and similar) test blocks (`describe`, `it`, `test`). Please consider adding a way to override this for certain cases. Thank you!

![image](https://user-images.githubus

[2021-09-03 23:00] TylerLeonhardt commented on #132219
/gifPlease

[2021-09-03 23:01] TylerLeonhardt commented on #132227
/gifPlease

[2021-09-03 23:08] Duoquote commented on #132264
Same issue here, in my config:
[code]
It is defined as `Command Prompt` and opening a terminal works just fine but when I try to run my django launch configuration with conda environment:
[code]
It's unable to activate conda environment because of powershell path things:
![image](https://user-images.githubusercontent.com/16341937/132072978-404ad504-c327-4e93-870c-b55fa626ac5c.png)

So I am fully u

[2021-09-03 23:08] TylerLeonhardt commented on #132236
closing as duplicate of #132238

[2021-09-03 23:08] #132236 closed

[2021-09-03 23:09] #132237 closed

[2021-09-03 23:10] TylerLeonhardt commented on #132246
/extJupyter

[2021-09-03 23:11] #132246 closed

[2021-09-03 23:12] jsonMartin commented on #131450
I've had trouble getting Python code to be recognized. For example, using code from [this example site](https://linuxhint.com/python_scripts_beginners_guide/#post-67157-13), this code remains plain text:
[code]

[2021-09-03 23:13] TylerLeonhardt commented on #132259
/extPowerShell

[2021-09-03 23:13] #132259 closed

[2021-09-03 23:25] TylerLeonhardt commented on #132270
@andrea-capigiri which theme are you experiencing this with?

[2021-09-03 23:28] wenfangdu commented on #131693
@mjbvz Thanks for the fix, however, only restoring the blue color won't be enough, since we won't be able to tell it's `code`:

![image](https://user-images.githubusercontent.com/28700378/132074009-a5221cc9-1a83-4cec-986b-8865051b4bca.png)

A better solution is to simulate the GitHub markdown display: [`Linked Code`](https://example.com) `Plain Code`.

[2021-09-03 23:41] DonJayamanne opened #132306 "Opening an existing notebook marks it dirty unnecessarily"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: Stable 1.60
- OS Version: Mac

Steps to Reproduce:

1. Open the following ipynb file (with all extensions disabled)
2. The file is marked dirty

[code]

[2021-09-03 23:49] greazer commented on #132306
I'm concerned that @rebornix  you won't be able to repro this. I say that because I had had a notebook that was reproing it, but then after doing some fiddling with updating that notebook from the original repo, it stopped reproing for me. However, I was a witness to seeing the behavior @DonJayamanne consistently was reproing above.

Keeping my fingers crossed that it's reproable.

[2021-09-03 23:58] jwei98 commented on #132049
Hi, would love to take this on as my first contribution!

[2021-09-04 00:00] ryancmlee opened #132307 "VS Code open file readonly on breakpoint"
https://stackoverflow.com/questions/69006739/vs-code-open-file-readonly-on-breakpoint

I have been using VS Code for many years now and all of a sudden last week all my nodejs projects will open and focus a readonly copy of the file when encountering a debugger or breakpoint.

How do I disable this new unwanted functionality that has been forced upon me?

The path for the original file and readonl

[2021-09-04 00:02] tlemo opened #132308 "Generic callstack format customization using regex pattern substitution"
Originally mentioned in the cpp extension repository: https://github.com/microsoft/vscode-cpptools/issues/8096

The gist of the suggestion is: add support for regex pattern substitution to preprocess frame strings before they are displayed (ex. to shorten long names or remove unneeded parts).

Ex. trimming long module names which make the callstack unreadable:

`libtensorflow_Scompiler_Sxla_Sservi

[2021-09-04 00:19] jkgjoye opened #132309 "Remote SSH failed when connect to host (error : Failed to parse port from server output)"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- Local OS Version: MacOS 10.15.7
- Remote Host : Ubuntu 16.04.6 LTS
- Extension : Remote- SSH (Nightly) v2021.8.42660.  ( last updated)

When I attempt to connect to the remote machine, the connection is established and then a parse error occurs in VSCode. However from my local machine's terminal I can log in

[2021-09-04 00:20] gregg-miskelly commented on #131893
I am redirecting to @JoeRobich and @nohwnd

[2021-09-04 00:27] rdwoodring commented on #131708
Looking to contribute. Am I understanding correctly that the change needs to happen here: https://github.com/microsoft/vscode/blob/ee1655a82ebdfd38bf8792088a6602c69f7bbd94/src/vs/platform/workspaces/electron-main/workspacesHistoryMainService.ts#L44-L44

[2021-09-04 00:28] dchw opened #132310 "Autodetection of language overrides an installed extension"
Does this issue occur when all extensions are disabled?: No, but its related to extensions in general.

- VS Code Version: 1.60.0
- OS Version: Pop! OS 21.04

Steps to Reproduce:

1. Install the Earthly extension (https://marketplace.visualstudio.com/items?itemName=earthly.earthfile-syntax-highlighting)
2. Open any valid Earthfile

The issue is that valid `Earthfile`s are autodetected as `Dockerfi

[2021-09-04 00:36] Davilink commented on #132285
Sorry, my bad. After looking in the typescript repo, i found out that an issue already exist (if anyone else want to know):
 https://github.com/microsoft/TypeScript/issues/31940

[2021-09-04 00:43] Nahor commented on #131027
@oaahmad, what you want is not quite the suggestion either. It sounds like what you want is, that first level of color be excluded from the rotating color pool: black-color1-color2-color3-color1-color2-....

Also, it's hard to imagine that this would be a worthwhile feature. How often are brackets not nested? Between the lambdas, functional programming, namespaces, ... it feels like the non-nested

[2021-09-04 00:47] jkgjoye opened #132311 "Could not read remote git repository"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- MacOS Version: 10.15.7

Steps to Reproduce:

In source control feature, When trying to add remote repository I get this error. I have followed all the steps to reinstall ssh-askpass with brew, but nothing works for me...

Any help please is welcome
Thank you !

Log output :

Please make sure you have the corr

[2021-09-04 00:49] alexreg opened #132312 "Integrated terminal is restored with wrong shell"
Issue Type: <b>Bug</b>

1. Use following settings for integrated terminal (on macOS).
[code]
2. Open a workspace.
3. Open two integrated terminals using the (default) bash profile. This should work fine, i.e., the shell should be `/usr/local/bin/bash`.
4. Quit VS Code normally.
5. Restart VS code.
6. Observe that only one of the two integrated terminals is restored, and that the shell for this ter

[2021-09-04 00:49] alexweininger commented on #126238
:100:

This is a much needed feature for extensions that provide tasks.

[2021-09-04 00:50] futurejones commented on #132310
Having a similar problem.
All `Jenkinsfile` are now being auto detected as `sh` scripts

[2021-09-04 00:51] wenfangdu commented on #131390
@af4jm

I just tried Sublime, it didn't filter out the result too, is there a setting to enable it?

[2021-09-04 01:06] #132286 closed

[2021-09-04 01:08] TylerLeonhardt commented on #132288
Can you give us some more details of what kind of code you're trying to debug and maybe a gif of what you're doing so we can understand?

[2021-09-04 01:09] TylerLeonhardt commented on #132288
/gifPlease

[2021-09-04 01:13] TylerLeonhardt commented on #132289
The problem is, on Linux there are various package managers across various distributions and enumerating all of those is a lot of overhead. If you install VS Code using a particular package manager, you should probably go to that package manager's docs on how to configure this instead of hearing it from a different source (vscode docs).

[2021-09-04 01:14] #132292 closed

[2021-09-04 01:15] mjbvz commented on #131693
Code is rendered in a monospace font

[2021-09-04 01:18] oaahmad commented on #131027
That's not quite right. I'm not asking for that because I can already do that. I can already set the first color to black. That setting exists. It does not solve my problem. I already tried it (see my first comment).

The issue is not that I need black to be the first color. The issue is that I need black to be the first color **and** I need this feature to be implemented.

I think you're asking t

[2021-09-04 01:22] vojo915 opened #132313 "Markdown edit screen shakes up and down under certain conditions"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.0 or later (including insider builds)
- OS Version: Windows 10 20H2 19042.1165

Steps to Reproduce:

1. Open the Markdown file that has more lines than the bottom line of the Markdown edit screen, and keep the preview screen open.
2. Move your cursor to the bottom line of the Markdown edit screen and press Enter

[2021-09-04 01:29] TylerLeonhardt commented on #132302
/gifPlease

[2021-09-04 01:32] wenfangdu commented on #131693
@mjbvz The difference is quite subtle, would be nice to add a background to the code:

![image](https://user-images.githubusercontent.com/28700378/132078059-6f4caab9-3b7e-4757-9be2-73a944a35394.png)

[2021-09-04 01:33] TylerLeonhardt commented on #132310
/duplicate of #132173

[2021-09-04 01:34] #132310 closed

[2021-09-04 01:39] TylerLeonhardt commented on #132300
Sorry I'm not quite sure I follow, is the idea that you would press ctrl+g and then hit the up/down arrows?

[2021-09-04 01:42] TylerLeonhardt commented on #132141
@lorinatzberger unfortunately GitHub doesn't support cross-org transferring :(  I'll go ahead and close this since you'll get an issue going on them

[2021-09-04 01:42] #132141 closed

[2021-09-04 01:44] TylerLeonhardt commented on #132012
Unfortunately, I don't think this is something that we're able to support anytime soon. You can either show the popups or hide them individually. If more users end up chiming in I can reopen.

[2021-09-04 01:44] #132012 closed

[2021-09-04 01:46] jingw222 opened #132314 "Cannot select & copy text on hover boxes"
Does this issue occur when all extensions are disabled?: unknown

- VS Code Version:
- OS Version:
[code]
Steps to Reproduce:

1. Open a Python notebook in VSCode
2. Hover over the code till a box shows up, and select and ctrl+c the text and paste into another place. It copies all the code in the cell instead of the selected text inside the hover box.

https://user-images.githubusercontent.com/549

[2021-09-04 01:59] cl1933404370 opened #132315 "vscode insiders no response and crumbles"
Issue Type: <b>Bug</b>

copying  Settings -
javascript.inlayHints.variableTypes,
typescript.inlayHints.variableTypes,
javascript.inlayHints.parameterNames,
typescript.inlayHints.parameterNames,
or others setting about typescript/javascript

paste into vscode insiders

vscode insiders  can  no response and  crumbles

VS Code version: Code - Insiders 1.61.0-insider (87260247dc7b912db6e6a21a366e6f50d

[2021-09-04 02:22] dapullar commented on #131450
Extension-less bazel `BUILD` files are detected as either `Python`, `Javascript`, `Julia` or `Lua`.

Example `BUILD` file:
[code]

**Also**, `files.associations` are not respected for extension-less files. It *sometimes* resolves the correct language but it will default back to `Python` 90% of the time. This does not work:
[code]

I love the feature, but I had to turn it off because `files.associa

[2021-09-04 02:47] byehack opened #132317 "Error: EPERM: operation not permitted, rename"
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.60.0
- OS Version: win10 20h2

Steps to Reproduce:

1. rename folder in explorer view.

[code]

i tries with another folder in same directory, it works on that. i also compared those permissions, they were same but this folder couldn't be renamed.

[2021-09-04 02:49] #132317 closed

[2021-09-04 02:49] byehack opened #132318 "Error: EPERM: operation not permitted, rename"
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.60.0
- OS Version: win10 20h2

Steps to Reproduce:

1. rename folder in explorer view.

[code]

i tries with another folder in same directory, it works on that. i also compared those permissions, they were same but this folder couldn't be renamed.

[2021-09-04 03:01] mattxo commented on #132149
After setting the default terminal profile to Command Prompt, creating a new terminal does indeed open cmd.exe correctly, but right-clicking a file in the solution tree and selecting "Open in Integrated Terminal" opens in PowerShell :/

[2021-09-04 03:07] IllusionMH commented on #132312
/duplicate of #128763 (reproducible not only for remote)

[2021-09-04 03:08] #132312 closed

[2021-09-04 03:15] IllusionMH commented on #132315
Are you searching for these in settings editor?

Looks like duplicate of #132250

[2021-09-04 03:20] TarunavBA commented on #131710
@Samega7Cattac delete the vscode folder in `appdata` and reinstall vscode.

Note: this is for windows users.

[2021-09-04 03:46] mklement0 commented on #132149
Good point, @mattxo. In total, I see three distinct symptoms in v1.60.0

* As you state, `Open in Integrated Terminal` in the Explore pane's shortcut menu always uses the built-in default shell, ignoring the configured one.

* As @adriantorrie states, the same goes for tasks (with or without a separate `terminal.integrated.automationShell.*` setting).

* Also, if a given folder or workspace happen

[2021-09-04 03:50] cl1933404370 commented on #132315
yes, like duplicate of #132250. No respond when typing "typescript" in Settings page, after using a lot of memory or Prompting to restart.

[2021-09-04 04:15] Nahor commented on #131027
You can set the first color to black, but you cannot remove it from the color pool after the first use. And from your description, it seemed to be what you want (among other things), i.e.:
```black-color1-color2-color3-color1-color2-....```
instead of
```black-color1-color2-color3-*black*-color1-color2-....```

Sorry if I misunderstood.

'()' is also nested very frequently , as in ```func1(func2(f

[2021-09-04 04:35] imbikramsaha opened #132319 "Run With Terminal"
Issue Type: <b>Feature Request</b>

Previously vs code gives an option of run with terminal after clicking run. But now there is no such option, after clicking the run button it starts running code at the output.
I search everywhere in vs code but I did not find anything.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 1

[2021-09-04 04:39] oaahmad commented on #131027
@Nahor Ah okay. I misunderstood what you were saying. Sorry about that. I do not want to remove black from the color pool. I am perfectly okay with black repeating. And yes "worst of both worlds" was not the best wording. I did not mean literally "worst". I just meant it would be a compromise in both directions. My point was just that this feature request would be a better solution because of thos

[2021-09-04 04:47] meschenbaum commented on #131818
I was able resolve the issue. Seems Big Sur added keybindings to their
spaces that are interfering. I removed the interfering keybindings and
reset vscode’s.

Cheers,
Matt

On Thu, Sep 2, 2021 at 1:49 AM Alexandru Dima ***@***.***>
wrote:

[2021-09-04 05:23] bpasero commented on #125791
In the future we will allow you to put the exact editor identifier of the webview editor that is specific (e.g. "Markdown Preview"). So what I suggested is just a workaround until https://github.com/microsoft/vscode/issues/131587 is resolved.

Not sure. We did not have locked groups for years, and we had webviews for years and thinking back about feedback I got via GH issues, no-one really asked f

[2021-09-04 05:25] bpasero commented on #130302
@lramos15 thats cool but we cannot use something like `fs.readFileSync` in the node.js free renderer going forward.

[2021-09-04 05:26] bpasero commented on #126960
@mjbvz thanks 🥂

[2021-09-04 05:37] mostafaabobakr7 opened #132320 "Bracket pair show bracket in gutter editor.bracketPairColorization.showBracketsInGutter"
Love the new feature ❤
[code]

### Can we have this small complementary option?
_suggestion name_ ```.showBracketsInGutter```

[code]

![image](https://user-images.githubusercontent.com/27288406/132083684-91b6fdba-8e5b-4518-aceb-4720d9f29905.png)

[2021-09-04 05:45] 1alexvash opened #132321 "Default terminal VS code v1.60"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60
- OS Version: Windows 10

With a new version of VS Code the default terminal is set to be PowerShell, and it seems there's no way to change it

![image](https://user-images.githubusercontent.com/46556479/132084053-06a6eabc-678a-4db1-a364-7ff440b3577e.png)

[2021-09-04 06:08] bpasero opened #132322 "Web: Switch to `BroadcastChannel` for user data provider sync"
Related to https://github.com/microsoft/vscode/issues/132084

We are using a `window.localStorage` trick for cross tab communication for the user data file system provider. Rather, we should use [`BroadcastChannel`](https://developer.mozilla.org/en-US/docs/Web/API/Broadcast_Channel_API) which allows nice `postMessage` / `onmessage` support for windows/tabs from the same origin.

**Note:** this wil

[2021-09-04 06:32] TianYafu commented on #132321
Yes. I got the same problem
I manually set **"terminal.integrated.automationShell.windows": "C:\\Windows\\System32\\cmd.exe",`**
And also:
`"terminal.integrated.defaultProfile.windows": "Command Prompt",
    "terminal.integrated.profiles.windows": {
        "PowerShell": {
            "source": "PowerShell",
            "icon": "terminal-powershell"
        },
        "Command Prompt": {

[2021-09-04 07:23] MeghanshBansal opened #132324 "Add google search"
Issue Type: <b>Feature Request</b>

Many programmers need to browse the internet while creating software. A google search feature will save time switching between a browser and vscode.

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:56:46.957Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2021-09-04 07:25] #131605 closed

[2021-09-04 07:27] gjsjohnmurray commented on #132321
/duplicate of #132264

[2021-09-04 07:27] #132321 closed

[2021-09-04 07:29] gjsjohnmurray commented on #132318
Maybe another Windows process has a file open from the folder.

[2021-09-04 07:35] e253503 opened #132325 "%100 CPU even not much big file"
Issue Type: <b>Performance Issue</b>

Hello there,
I analyze data by scanpy. However, while I am preprocessing data, `runing` is ultra slow. Even my mouse arrow frozen. I cannot do anything. My data is not that big, it is not more than 5 GB. Help me out. In `process explorer` of VS, there is `C:\Users......\python.exe -m vscode_datascince_helpers.deamon` section and under this there is `electron_n

[2021-09-04 07:40] byehack commented on #132318
i checked, there is no process accessed on this folder

[2021-09-04 07:42] #132318 closed

[2021-09-04 07:52] abdullahmiraz opened #132326 "Default terminal selection not working at all"
Does this issue occur when all extensions are disabled?: Yes

VS Code version: Code 1.60.0 (e7d7e9a, 2021-09-01T10:41:52.311Z)
OS version: Windows_10 pro 64 bit
Restricted Mode: No

The issue started **exactly after my vscode automatically updated to 1.60 version** (8pm, 3 sept 2021, Bangladesh standard time). I use git bash as my default terminal, after the **update the default was changed to win

[2021-09-04 08:03] psobolewskiPhD commented on #132274
This has been fixed for me with this mornings update:
[code]

[2021-09-04 08:12] lorand-horvath commented on #132240
Additional issue: Bracket pairs should not be colorized in .txt files or any other non-programming language related files. I guess that should have been obvious from the very start, before pushing out the native pair brackets colorization support at all.

[2021-09-04 08:15] jntx commented on #85195
Checked in 1.60.0 and it is still there.

[2021-09-04 08:15] bluSCALE4 commented on #132300
You would press ctrl+g, type in a number and instead of hitting enter, you
hit an arrow key and it'll take you in that direction.

On Fri, Sep 3, 2021 at 8:40 PM Tyler James Leonhardt <
***@***.***> wrote:

[2021-09-04 08:18] #132302 closed

[2021-09-04 08:18] AviralCoder commented on #132324
I don't think switching between browser and vscode takes more than 2 seconds.

[2021-09-04 08:19] isidorn commented on #129596
Great, thanks for improving this 👏

[2021-09-04 08:25] lamhieuhuy opened #132327 "omnisharp server is not running"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-09-04 08:26] #132327 closed

[2021-09-04 08:48] nienn commented on #131881
This worked for now. Thanks!

[2021-09-04 08:50] vanenshi commented on #131708
Hi, I want to take this issue as my first contribution.

If I get it right, your want to make a config item for max recently opened workspaces? also users can only increase it up to 1000? right?

[2021-09-04 08:51] mystiquewolf opened #132328 "Add connector line between brackets"
As described [HERE](https://github.com/CoenraadS/Bracket-Pair-Colorizer-2/issues/445#issuecomment-912559393), the "**_Bracket pair colorizer 2_**" extension had a connector line between the brackets. I propose that such a connector line is also implemented in the native VS Code brackets colorization feature.

[2021-09-04 08:54] xgdgsc commented on #131708
I' d like default 500 and max 100000, don' t know what others think.

[2021-09-04 08:55] isidorn opened #132329 "Review single file debug support"
Review all the top debugging extensions and check if they support single file debugging and no folder debugging.
Provide guidance to those extensions that do not support it.

- [ ] Typescript https://github.com/microsoft/vscode/issues/124280
- [ ] Javascript
- [X] Python
- [ ] C++
- [ ] C#
- [X] Java
- [X] PHP https://github.com/xdebug/vscode-php-debug/issues/638
- [ ] Unity
- [ ] Kotlin
- [ ] R
-

[2021-09-04 08:59] mystiquewolf commented on #132328
Duplicate feature request. https://github.com/microsoft/vscode/issues/131001

[2021-09-04 08:59] #132328 closed

[2021-09-04 08:59] TarunavBA commented on #131881
@nienn It's ok! 😃

[2021-09-04 09:04] dlidstrom opened #132330 "Add push/pull buttons in source control area"
I believe push/pull button (sync, like at the bottom left of the main window) would be great to have in the source control pane. This would allow more rapid workflow. I am working in a pull request with many small commits (to get feedback from the build actions) and I feel a little bit (very tiny, but still) friction in having to move focus from the source control pane down to the bottom left to f

[2021-09-04 09:15] gjsjohnmurray commented on #132326
/duplicate of #132264

[2021-09-04 09:15] #132326 closed

[2021-09-04 09:29] fabio90s opened #132331 "Cannot change default terminal"
Issue Type: <b>Bug</b>

I used to be able to till yesterday, but now it always goes back to Power shell when I open the vscode

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12

[2021-09-04 09:57] albertosantini commented on #132331
Dup https://github.com/microsoft/vscode/issues/132149

[2021-09-04 10:09] Vallek opened #132332 "Launch terminal profile drop-down menu bug"
- VS Code Version:1.60.0
- OS Version:Windows 10

Steps to Reproduce:

1. Open terminal
2. Make it not very high
3. Click on a arrow button
4. Last menu item gets immediately clicked when letting go mouse button (see gif)

![bug-1](https://user-images.githubusercontent.com/22982571/132090883-b050b723-4b39-4d96-af6f-b4a8fd78e339.gif)

[2021-09-04 10:13] jackthepanisher commented on #132306
This looks like something related to the kernel selection and folder/workspaces. I can reproduce it with a single `print("hello world")` cell.

1. Opening the notebook file stand-alone (e.g. `code test.ipynb`) doesn't make the file dirty. However, although I selected a kernel for that file before and I see that getting saved into the notebook file, VS Code starts with no kernel selected for the no

[2021-09-04 10:16] simpsus commented on #132064
+1 for @zalberts edition. Very annoying regression in usability. any tips on how to get the old behaviour again appreciated.

[2021-09-04 10:26] Elias-Graf commented on #132315
@cl1933404370 you should close the issue if it's a duplicate 😊

[2021-09-04 10:30] willemavjc commented on #82489
I can confirm what sees @MrLuje and what was explained by @Tyriar

- `2` gives `é`
- `AltGr` + `2` gives `é`
- `AltGr` + `2` + `Space` gives `é~`

Version: 1.60.0 (system setup)
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:41:52.311Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

PowerShell here is 7.1.4.

[2021-09-04 10:36] willemavjc commented on #82489
@Tyriar Please reopen the issue :)

[2021-09-04 10:47] xahhy opened #132333 "TS Server fatal error: Cannot read property 'lastIndexOf' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.4.2

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2021-09-04 11:19] Suven-p commented on #131331
Does [this line](https://github.com/microsoft/vscode/blob/15dfc742a6550e09726d66ca9a6483b9af68b353/extensions/markdown-math/package.json#L28) register a new language with id "markdown-math" that is activated inside math blocks in a *.md file? I tried modifying language-configuration.json to add `{"open": "<", "close": ""}` to autoClosingPairs key but it seems that the settings for autoClosingPairs

[2021-09-04 11:28] TheEhsanSarshar commented on #11770
as I found the only issue in vscode is when you write RTL it start from left instead of right and it somehow make sense when for example writing a comment. pretend that rest of the code is in the left but your RTL comment is on the right. and also when you combine both RTL and LTR it's just working correctly. in RTL the cursor move from right to left and in LTR cursor move from left to right. mayb

[2021-09-04 11:38] saimohan11 commented on #132128
thanks a lot

[2021-09-04 11:40] gjsjohnmurray commented on #132330
`"scm.alwaysShowRepositories": true` will give you this.

[2021-09-04 11:41] gjsjohnmurray commented on #132331
/duplicate - thanks @albertosantini

[2021-09-04 11:42] #132331 closed

[2021-09-04 11:58] vanenshi commented on #131708
I need to add the config item somewhere in the settings, but there is no `workspaces` item.

can somebody help me here? should I create a `workspaces` item with only one subitem inside it??

[2021-09-04 12:06] VehpuS commented on #11770
Here are the goals I am trying to reach when *I* say "RTL support".

1. I would like to be able to view certain documents in an RTL layout.
   - Use case: allign to right by default, cursor behaving in n RTL fashion (i.e. when reading / writing a text only document written in an RTL language).
2. I would like to be able to switch beween document layouts dynamically when necessary
   - Use case: wh

[2021-09-04 12:19] rveerd commented on #123885
The issue has not occurred again after I re-installed the font for all users. I am closing the issue.

[2021-09-04 12:19] #123885 closed

[2021-09-04 12:26] #132315 closed

[2021-09-04 12:37] TimonVS opened #132334 "Keyboard shortcuts don't work in simple browser"
Issue Type: <b>Bug</b>

Keyboard shortcuts don't seem to work in the built-in simple browser.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.442Z)
OS version: Darwin x64 20.5.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<

[2021-09-04 12:40] MrLuje commented on #82489
Yes, french keyboard & language ( (Get-Culture).KeyboardLayoutID => 1036 if it helps)
Tested with powershell 7.1, regular CMD & git bash; same output on all

While typing this, I couldn't reproduce the issue for some time and it went back.
It looks like it is related to "NumLock" key being active or not.

While active, I reproduce the issue (I have a numeric keyboard on my laptop so it's active mo

[2021-09-04 12:41] andrea-capigiri commented on #132270
On GitHub dark themes mainly.
Here a comparison between "VisualStudio Light" theme vs "GitHub Dark"

![image](https://user-images.githubusercontent.com/12972252/132094722-da2d896d-cceb-4eef-8752-edf52fcc3fae.png)

[2021-09-04 12:43] willemavjc commented on #82489
Hmm... No dedicated numpad on my hand so no numlock key and still can reproduce it.

[2021-09-04 13:06] MrLuje commented on #82489
@rzhao271 Is there any way to record the sequence of strokes (received by vscode) on our side ?
Maybe an eventhandler from vscode Developer Tools ?

[2021-09-04 13:20] HQXSTICK opened #132335 "The code runner plug-in runs C + + files in vscode version 1.60 cannot change the terminal from powershell to others"
- VS Code Version:1.60.0 and 1.61.0 insider
- OS Version: Windows_NT x64 10.0.22000

Steps to Reproduce:

1. 在settings.json 改变了默认终端为cmd (command prompt)
![image](https://user-images.githubusercontent.com/64624915/132095761-844ed9b6-9e74-442d-b75e-272f7a65f134.png)
2.但重启系统后打开任意一个c++文件后使用code runner运行都还是在power shell 中

[2021-09-04 13:22] runxel opened #132336 "Limit the new bracket pair colorization to certain types"
The native bracket pair color highlighting is great, but I miss an option to exclude certain types of brackets.
I'm coding in a (somewhat niche) language that uses square brackets `[]` for arrays. Arrays in this language can't be nested, so there is just no need to have them colorized. In fact, it's rather adding visual clutter.

So maybe there could be a new setting where you can toggle for each

[2021-09-04 13:27] vkoivula commented on #30797
These tooltips should always be below mouse cursor or below the line your keyboard cursor is currently at. Currently this just blocks view! For example now in one exercise I am working on.

<img width="752" alt="Screenshot 2021-09-04 at 16 24 41" src="https://user-images.githubusercontent.com/43766/132096025-e8c7a4a2-129b-4d6b-9cad-ec385747222f.png">

[2021-09-04 13:28] thefatwhale opened #132337 "WHY this call Powershell??? I set cmd to default!"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0
- OS Version: windows 7 x64 sp1

Steps to Reproduce:

1. Use tasks.json cause `Error`
![](https://i.bmp.ovh/imgs/2021/09/95c5297e336917b6.png)

I set `cmd` to default
![](https://i.bmp.ovh/imgs/2021/09/f0bd51cd0613aa07.png)

# So, why call powershell by defalut when run tasks.json or Ctrl F5????

# **1.59 Ve

[2021-09-04 13:41] kimlimjustin opened #132338 "VSCode calling PowerShell on first load despite CMD was set as default"
Issue Type: <b>Bug</b>

On the first load of VSCode, the terminal will automatically use PowerShell despite CMD was set as default. However, if I close it and open it again or split the terminal, cmd will come out. This is a new bug that came out with the new release. Hope this will be fixed soon, thanks!

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.

[2021-09-04 13:56] TheEhsanSarshar commented on #11770
@VehpuS is there any code editor that support RTL correctly?

[2021-09-04 13:59] VehpuS commented on #11770
No to my knowledge - though admitedly that was not a criteria I used to search. I know that some MacOS text editors lt set RTL by line in a similar way, and Microsoft Word supports this behavior as well.

[2021-09-04 14:01] RobbyCBennett opened #132339 "White flash when opening a new window maximized or fullscreen"
Does this issue occur when all extensions are disabled?: Yes

Version: 1.60.0 (user setup)
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:41:52.311Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

Steps to Reproduce:

1. Set "Window: New Window Dimensions" to "maximized" or "fullscreen"
2. From an existing insta

[2021-09-04 14:05] karl-lunarg commented on #132338
Same here.  I have:
`    "terminal.integrated.defaultProfile.windows": "Git Bash",`
in my User-level settings.

At startup, the Terminal pane is running powershell.  If I close the Terminal pane by clicking the trash can icon and reopen it with Ctrl-` , I get bash.  Splitting or opening new terminals open bash.

[2021-09-04 14:06] AllanOricil commented on #125791
For everyone who wants to try this workaround, this is how It is done

![image](https://user-images.githubusercontent.com/55927613/132097205-5c22e618-7d6a-41fb-8008-5a4fcdf80f8b.png)

[2021-09-04 14:11] Mlocik97 opened #132340 "[Question] autocomplete config for `.` character"
hello, can someone help me how to disable autocomplete when pressing "." in JS code in VScode? Is there some setting for it?

Often when I have code:

[code]
where `|` is cursor, and it sometimes suggest me for example "rawCode", and when I press `.` it change to:

[code]

instead

[code]

I want to apply suggestion only when pressing tab, not when pressing `.` key.

---

btw. I'm sorry I'm asking

[2021-09-04 14:12] thefatwhale commented on #132337
I went back to the previous version （1.59.1）
In this version It's Ok (call cmd.exe by default ) Follow my settings.

But 1.60.0 version Can't.
So I'm sure It's a bug.

[2021-09-04 14:14] JoshRodz027 opened #132341 "default terminal keeps defaulting to powershell when running code or opening up vs code (v1.60) despite changing it."
I have changed my default terminal both in the .json and preferences to cmd. However it constantly defaults to powershell.

[2021-09-04 14:18] Delice0 commented on #40338
This works. Thanks!

[2021-09-04 14:27] LXSMNSYC commented on #132338
I tried re-opening VS Code, re-opening, splitting and trashing terminals, still the same.

Looks like it's a day off for me

[2021-09-04 14:32] ewsgit commented on #35744
This would be so good. :(

[2021-09-04 14:37] alexreg commented on #128763
Per my issue concerning bash shells (#132312), I confirm this is still happening on the August stable release too.

[2021-09-04 14:47] connor4312 commented on #132307
What version of Node.js are you using? Node 8 has some issues with this (and other issues; it's been end of life for several years now). You can set `enableContentValidation: false` to disable checking here.

[2021-09-04 15:08] oaahmad commented on #132336
@runxel You say you don't want "[ ]" to be colored because those types of brackets are never nested. There is another way to achieve what you want. See https://github.com/microsoft/vscode/issues/131027 and my comments there. If that feature is implemented and you set the first bracket pair color to black (white if you use a dark theme) then all top-level brackets of each type would not be colored.

[2021-09-04 15:09] oaahmad commented on #131027
Here is a use case where someone never wants brackets of a certain type to be colored because they are never nested in a language: https://github.com/microsoft/vscode/issues/132336. This feature request could achieve that.

[2021-09-04 15:10] Liturgist commented on #132259
PowerShell/vscode-powershell acknowledges this fails since 2016.

Their suggestion is to add a `$hack_variable = $_` to the code so that it can break on the variable.

[2021-09-04 15:11] yunusefendi52 commented on #132032
I think `cancel` should be meant only for cancelling the dialog and not having other side effects
but if I can pick both, I would have pick both but with some sort of settings to decide which one should be showed (notification or dialog), I am not sure if that's going to clutter the settings page

[2021-09-04 15:17] connor4312 commented on #132294
/duplicate https://github.com/microsoft/vscode/issues/124083

[2021-09-04 15:17] #132294 closed

[2021-09-04 15:20] ioticos commented on #132175
Html too?

![image](https://user-images.githubusercontent.com/32907893/132099500-1ac05581-78e2-4e9c-835b-192f6b08e107.png)

[2021-09-04 15:23] diligent176 commented on #26856
I really want this too.  A way to toggle "diff" orientation with a quick key sequence.

[2021-09-04 15:25] wangweixuan opened #132343 "[New Release] Duplicate "Customize Notebook Layout" Commands in the Palette"
In VS Code 1.60 update, 2 commands named "Notebook: Customize Notebook Layout" show up in the Command Palette, with different IDs:

<img width="748" src="https://user-images.githubusercontent.com/24620923/132099458-5061f654-19cf-414d-ab43-905e90f73429.png">

Apparently this is due to an inattentive copy-paste in commit 2e3cf16d12d50fd88841fe253db897e262946657, and the following line (in the declar

[2021-09-04 15:36] PaluMacil commented on #125993
Ubuntu 20.04, snap install, Code 1.60.0: confirming it is still a problem. I opened Code which loaded release notes--I assume from an update last I used it, and I have exactly the same issue. From reading through this, I killed the 31 processes related to Code and then as able to successfully load the release notes on next launch from the help menu.

[2021-09-04 15:39] wangweixuan commented on #132343
Also, concerning duplicate commands, I always wonder how "Transpose Letters" command (defined [here](https://github.com/microsoft/vscode/blob/d31496c866683bdbccfc85bc11a3107d6c789b52/src/vs/editor/contrib/caretOperations/transpose.ts#L17)) differs from "Transpose Characters Around the Cursor" ([here](https://github.com/microsoft/vscode/blob/d31496c866683bdbccfc85bc11a3107d6c789b52/src/vs/editor/co

[2021-09-04 15:45] #132340 closed

[2021-09-04 15:47] setaskin opened #132344 "[Acc] Button tooltip doesn't show up on tab\"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0 (user setup)
- OS Version: Windows 10

Steps to Reproduce:

1. Navigate through VS Code Search tab  and tab through all the buttons . ( refresh , clear search results , etc. ) ( Search tab is just an example I can see the same behavior in all buttons)

Expected : On the tab navigation to each of the button, the

[2021-09-04 15:48] eduncan911 commented on #125993
Ah yes, we forgot to report that as an issue as well:

This error also prevents the Release Notes from displaying after an upgrade.

On Sat, Sep 4, 2021, 11:36 AM Dan Wolf ***@***.***> wrote:

[2021-09-04 15:48] setaskin commented on #132344
@isidorn , Hey, I search to see if there is something already open but couldn't find it I hope it is not a duplicate.

[2021-09-04 15:51] Tekh-ops opened #132345 "Change the Activity bar icons like in Terminal"

[2021-09-04 16:05] clayms commented on #132281
@IllusionMH

Yes.  Screen capture below to show what I am talking about.  It is particularly annoying when I resize to a smaller size about halfway through the gif, I am pushing <kbd>Enter</kbd> 20 to 30 times before the prompt gets pushed down far enough to reappear in the terminal window.

![vscode_terminal](https://user-images.githubusercontent.com/12793783/132100870-2866e81f-8bf5-4571-9b4c-a59

[2021-09-04 16:25] runxel commented on #132336
@oaahmad To have only the nested brackets of the same type to have color would be nice choice, too!
This would also solve my case, I guess.
Most times the outermost bracket also doesn't need to be in a different color than it would be normally anyway.

[2021-09-04 16:29] runxel commented on #132175
I am experiencing the same issue.
For most languages it doesn't even makes sense to colorize angled brackets... 🤦‍♂️
I think this feature request would solve this problem! https://github.com/microsoft/vscode/issues/132336

[2021-09-04 16:32] cheestudio commented on #132341
+1 here. There's always that light sense of dread when I see VSCode updated...thankfully I can run tasks manually, but I get the same behavior.

[2021-09-04 16:34] mistermantas opened #132346 "FEAT REQ - Mac app icon keeps changing after each update"
I've tried searching but I couldn't find any way to permanently change the app icon on Big Sur to not be white? It's quite jarring in-between all other apps having colored backgrounds.

Is there a bot to automate this or a script? Or could it be done by the app itself from settings?

[2021-09-04 16:37] riteshyadav27 opened #132347 "Name of file in C"
![Screenshot (23)](https://user-images.githubusercontent.com/90106115/132101962-3b4f15e5-6979-43b1-a647-06bb9dacacfa.png)
![Screenshot (23)](https://user-images.githubusercontent.com/90106115/132101978-67e77928-b10a-4ca9-a340-6b7a73a7f4d1.png)

Issue Type: <b>Bug</b>

As in screenshot which I attached ,you can see at left top corner .
![Screenshot (23)](https://user-images.githubusercontent.com/90

[2021-09-04 16:47] atsetoglou commented on #131667
Does this mean that the problem comes from my extension? And if yes would you have references for which would be the right way to make hover for language extensions?

[2021-09-04 17:01] SumanKSah opened #132348 "Powershell as default terminal."
After my last update,  It showed something is deprecated and after that, I am unable to change my default terminal. In the setting.json file, it's written then I have changed my profile to cmd but it opens with PowerShell shell, and whenever I try to run any program Powershell gets executed.

[2021-09-04 17:04] jsnoriegam commented on #132341
#132338 It looks like the same issue

[2021-09-04 17:13] sketchbuch commented on #131667
For me the problem is everywhere, not just extensions

[2021-09-04 17:54] dlidstrom commented on #132330
Thanks for the tip @gjsjohnmurray !

[2021-09-04 17:54] #132330 closed

[2021-09-04 17:58] Rojas-Andres opened #132349 "Problems with node in vscode"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version:

Steps to Reproduce:

I have a very strange problem with node. When I open a folder in my vscode, node does not recognize me but without opening a folder it recognizes it perfectly, I do not understand what the error may be. On the other hand I already have node added to the path.

Open folder in vsco

[2021-09-04 17:59] sdegutis opened #132350 "Inlay hint for for-of variable"
Discrepancy:

![Screen Shot 2021-09-04 at 12 59 00 PM](https://user-images.githubusercontent.com/4399718/132104046-91edda65-2669-49e3-bfd7-eafdc33dc911.png)

[2021-09-04 18:11] TylerLeonhardt commented on #131450
@dapullar already fixed for 1.60.1. Thanks for reporting though!

[2021-09-04 18:24] meganrogge commented on #132149
/duplicate of #132150

[2021-09-04 18:24] #132149 closed

[2021-09-04 18:29] meganrogge commented on #131112
/duplicate #132150

[2021-09-04 18:29] #131112 closed

[2021-09-04 18:30] meganrogge commented on #132264
/duplicate #132150

[2021-09-04 18:30] #132264 closed

[2021-09-04 18:31] meganrogge commented on #132262
/duplicate #132150

[2021-09-04 18:31] #132262 closed

[2021-09-04 18:31] ashelleyPurdue commented on #132348
Same problem for me.

[2021-09-04 18:32] meganrogge commented on #132241
will be fixed in the recovery release, duplicate of #132150

[2021-09-04 18:32] #132241 closed

[2021-09-04 18:45] ssigwart commented on #61972
I have a pull request at #128808.  However, I'm not sure if that will be approved or not.  In the meantime, I created an extension at https://marketplace.visualstudio.com/items?itemName=ssigwart.trailing-whitespace-fixer that solves the issue.

[2021-09-04 18:52] sonicauto-david opened #132351 "Debugger forcing PowerShell"
Issue Type: <b>Bug</b>

Pre downloading version 1.6, the python debugger would open in the console using the command prompt. Now it is using power shell and power shell is not working with my conda environments.

Please fix!!!!

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19041
Restricted Mode: No

<details>
<sum

[2021-09-04 19:13] bcarb opened #132352 "License request"
Hi

I would like to distribute your software "Visual Studio Code Server" in a command-line tool that is to be published on the npm marketplace.

It is a great software as it allows to launch vscode headless and programmatically interact with extensions.

The clause 1 of the [license](https://aka.ms/vscode-remote/license) seems to prevent me from distributing it, even without modifying the software

[2021-09-04 19:14] sixtyfive commented on #11770
Not with the features / as described by VehpuS, but good enough to be relatively usable, is Gnome's Gedit.

[2021-09-04 19:16] ahmed2khan opened #132353 "Extensions won't work"
searching or looking for extensions on extensions tab won't work it display this massage :
we can not connect to the extension marketplace at this time , please try again later .

PS: my internet connection is good and i don't have any hardware or software/system problems.

[2021-09-04 19:32] bounasserabdelwahab commented on #132353
Extensions are not working for me either after I updated to the latest version, I get this message:

[code]

[2021-09-04 20:29] usernamehw opened #132354 "Markdown hover link detection stops working"
1. Create markdown hover for the tree view item:

[code]

Links found in text are being detected until a proper markdown link is met, after which they stop being transformed:

![Screenshot (232)](https://user-images.githubusercontent.com/9638156/132107212-537f4691-c82d-4e40-bee5-29e7c3e4ff1b.png)

---

Version: 1.60.0 (user setup)
OS: Windows_NT x64 10.0.19043

[2021-09-04 20:37] ngoclongxdev opened #132355 "Can not set default command prompt"
Issue Type: <b>Bug</b>

I can not set default command prompt or default gitbash, visual studio code always set power shell command default

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU

[2021-09-04 20:44] albertosantini commented on #132355
/duplicate of #132150

[2021-09-04 20:45] albertosantini commented on #132351
/duplicate of #132150

[2021-09-04 20:45] albertosantini commented on #132348
/duplicate of #132150

[2021-09-04 20:46] albertosantini commented on #132341
/duplicate of #132150

[2021-09-04 20:46] albertosantini commented on #132337
Maybe /duplicate of #132150

[2021-09-04 20:47] albertosantini commented on #132338
/duplicate of #132150

[2021-09-04 20:50] sunliangqin opened #132356 "Update the default ctrl + shift +w keyboard binding"
By default, we can use ctrl + shift + w to close the current vscode window. And personally I always use ctrl + shift + e to open the file explorer. I have ran into many cases where I mistakenly pressed the w key instead of e key and closed vscode accidently.

I know we can remove the keyboard binding in keyboard settings. I guess there are other users also frustrated by accidently closing vscode w

[2021-09-04 21:04] ronaldhoek commented on #132301
Why not create a ‘Commit’ and ‘Commit & push’ menu entry/command in the first place…? Then there’s no need to have a setting either.

[2021-09-04 21:16] meganrogge commented on #131111
Thanks for the gif and info. I still can't reproduce it.

[2021-09-04 21:16] jburkhalter-afas opened #132357 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `microsoft-authentication`
- Extension Version: `0.0.1`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.60.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-09-04 21:17] jburkhalter-afas commented on #132357
[code]

[2021-09-04 21:25] duburcqa commented on #132169
I have a similar issue. It would be very nice if a solution exists.

By the way, for Google Colab, `IPython.notebook.kernel` can be replaced by `google.colab.kernel` in most cases.

[2021-09-04 21:41] jburkhalter-afas opened #132358 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `github-authentication`
- Extension Version: `0.0.2`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.60.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2021-09-04 21:49] Faithfinder opened #132359 "Bracket pair colorization - scope lines"
Would like to request a feature that's missing from Bracket Pair Colorizer 2, i.e. ability to show vertical and horizontal scope lines and also having the scope lines colorized.
Current implementation has vertical scope lines, but not horizontal, and they're not colorized.
![image](https://user-images.githubusercontent.com/25051063/132108779-ff216eaa-98ea-4844-a879-57dc75607b5b.png)

[2021-09-04 21:56] jeffory-orrok commented on #132154
[pending.zip](https://github.com/microsoft/vscode/files/7110566/pending.zip)

[2021-09-04 22:00] jeffory-orrok commented on #132154
[pending.zip](https://github.com/microsoft/vscode/files/7110568/pending.zip)

Now it is crashing pretty much immediately upon startup.  Saw a couple code 5 and one code 10

[2021-09-04 22:08] jeffory-orrok commented on #132154
[pending.2.zip](https://github.com/microsoft/vscode/files/7110577/pending.2.zip)

[2021-09-04 22:11] burritosoftware opened #132360 "Context-menu to "Open in Integrated Terminal" doesn't respect terminal.integrated.defaultProfile"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0
- OS Version: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Set a default terminal profile to one that is NOT PowerShell: https://code.visualstudio.com/docs/editor/integrated-terminal#_configuring-profiles
2. Right-click in the working directory in the Explorer tab on the left, and choose to `Open in In

[2021-09-04 22:16] trevoryao commented on #125932
having the same issue on mac on version 1.60.0 running macOs 11.5.2 with i9-9980HK @ 2.4 GHz.

[2021-09-04 22:24] gjsjohnmurray commented on #132360
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-04 22:25] #132360 closed

[2021-09-04 22:58] eneda8 commented on #34385
same

[2021-09-04 22:59] srinathh commented on #131836
Hi @chrmarti @aeschli - any luck identifying where the issue might be? Any other outputs I can pull out or test to help identify? We've now confirmed multiple folks in my company faced this issue but have been able to use the work-around and we've documented it internally.

[2021-09-04 23:15] ryancmlee commented on #132307
Hi,
Thank you for the reply.
I am using node v14.17.4
I set `enableContentValidation: false` in my launch configs and that seamed to work!

Thank you so much,
Ryan

[2021-09-04 23:33] SliderCO-007 commented on #132341
I also see Powershell opening in my terminal panel despite my settings being configured to use Git Bash as the default terminal after the most recent update.

Version: 1.60.0 (user setup)
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:41:52.311Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

[2021-09-04 23:54] pixieaka opened #132361 "Open a Walkthrough doesn't work after mark all done | Continue from #130247"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: 21H1

Steps to Reproduce:

![Animation1](https://user-images.githubusercontent.com/17777237/131920989-e42f0c13-2702-40fb-82fd-452d114331f9.gif)

[2021-09-05 00:29] arwhyte commented on #132338
Teaching with VS Code and two of my students running Windows have reported this error. Despite switching their default terminal profile to Git Bash, every time they run a Python file in the editor pane a PowerShell session is launched in the lower pane instead of Git Bash.

[2021-09-05 00:44] zapirkon opened #132362 "Inlay hints not shown when syntax server set to always"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0
- OS Version: Windows 10

Steps to Reproduce:
1. `"editor.inlayHints.enabled": true,`
2. `"typescript.tsserver.useSyntaxServer": "always",`

The hints become visible when I change syntax server to auto.

<details>
<summary>My user config</summary>
<pre>
"typescript.tsserver.useSyntaxServer": "always",
"edito

[2021-09-05 00:51] #122681 closed

[2021-09-05 01:30] andyj513 commented on #132301
I usually commit via the check-mark button, rather than the menu.  So, I (and probably many others) would still want a setting to have the check-mark do both.

[2021-09-05 01:46] nmhung1234 opened #132363 "Bug git and terminal"
Issue Type: <b>Bug</b>

1. terminal default change to powershell (its cmd before).
2. show popup login github every single time open vs code (i was login before). Hope team fix early!!

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2021-09-05 01:47] ducva opened #132364 "Crash when search by 'hint' keyword in Settings"
Issue Type: <b>Bug</b>

- Open Settings
- Type 'hint' in searchbox
- Enter

=> Crash

VS Code version: Code - Insiders 1.61.0-insider (87260247dc7b912db6e6a21a366e6f50dca759ba, 2021-09-03T21:01:10.842Z)
OS version: Darwin x64 21.1.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6360U CPU @ 2.00GHz (4 x 2000)|
|GPU Status|2d_canvas:

[2021-09-05 01:48] vcx commented on #130949
Seems to be solved at least on Windows, on August release. Not sure if it still happens on Mac/Linux

[2021-09-05 02:02] zhouxinghong opened #132365 "In the process of editing Java code, the method parameter prompt is abnormal, and the method parameter information cannot be correctly prompted."
Issue Type: <b>Bug</b>

In the process of editing Java code, the method parameter prompt is abnormal, and the method parameter information cannot be correctly prompted.
In some cases, the method parameter information cannot be prompted, which is very frustrating. . .
For a demo, please see the attached...

VS Code version: Code - Insiders 1.60.0-insider (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2

[2021-09-05 02:15] givensuman opened #132366 "VSCode opens with the wrong terminal profile"
Issue Type: <b>Bug</b>

As of yesterday VSCode started using Powershell when the application opens up. I have set Git Bash as the default, and it still is, yet the program opens with Powershell. I have not installed any new extensions in the last two days or even opened up Powershell on my computer.

My settings.json has "terminal.integrated.defaultProfile.windows": "Git Bash", and in the drop-dow

[2021-09-05 02:16] #132366 closed

[2021-09-05 03:02] zhouxinghong commented on #132365
https://user-images.githubusercontent.com/54253524/132113448-91db374f-891c-47dc-b677-d41cffcebd0b.mp4

[2021-09-05 03:25] a-rez commented on #57083
I'm able to map the super key on Ubuntu by calling it win. For example:
`{        "key": "win+j",
        "command": "workbench.action.navigateEditorGroups"
  }`

[2021-09-05 03:27] gjsjohnmurray commented on #132364
/duplicate of #132250

[2021-09-05 03:28] #132364 closed

[2021-09-05 03:31] gjsjohnmurray commented on #132363
This is a duplicate of #132150 and will be fixed in upcoming recovery release

[2021-09-05 03:35] gjsjohnmurray commented on #132361
/assign @JacksonKearl

[2021-09-05 03:39] gjsjohnmurray commented on #132355
/duplicate - thanks @albertosantini - and fixed in upcoming recovery release

[2021-09-05 03:40] gjsjohnmurray commented on #132351
/duplicate - thanks @albertosantini - and fixed in upcoming recovery release

[2021-09-05 03:40] #132355 closed

[2021-09-05 03:40] gjsjohnmurray commented on #132348
/duplicate - thanks @albertosantini - and fixed in upcoming recovery release

[2021-09-05 03:40] #132351 closed

[2021-09-05 03:41] #132348 closed

[2021-09-05 03:41] gjsjohnmurray commented on #132341
/duplicate - thanks @albertosantini - and fixed in upcoming recovery release

[2021-09-05 03:42] #132341 closed

[2021-09-05 03:42] gjsjohnmurray commented on #132338
/duplicate - thanks @albertosantini - and fixed in upcoming recovery release

[2021-09-05 03:42] gjsjohnmurray commented on #132337
/duplicate - thanks @albertosantini - and fixed in upcoming recovery release

[2021-09-05 03:42] #132338 closed

[2021-09-05 03:43] #132337 closed

[2021-09-05 03:45] BurgessX commented on #130818
I have the same problem too. Here are two pieces of info that I can offer:

1. It's not related to the inputting method, because I have tested the "find" function in VScode's Terminal with both "Microsoft pinyin inputting method" and "Sougou pinyin inputting method", both of whom have the issue.
2. The specific bug situation is as follows (when I try to input the chinese word "输入法" with its pinyin

[2021-09-05 03:47] gjsjohnmurray commented on #132335
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-05 03:48] #132335 closed

[2021-09-05 03:51] gjsjohnmurray commented on #132359
/duplicate of #131001

[2021-09-05 03:52] Yash-Singh1 opened #132367 "Google App Script Icon"
Add Google App Script icon for files ending in `.gs`:

![](https://upload.wikimedia.org/wikipedia/commons/f/f2/Google_Apps_Script.png)

[2021-09-05 03:52] #132359 closed

[2021-09-05 03:59] FuPeiJiang opened #132368 "recognize `file:///c:/script.mjs:456:23` and make it equivalent to `c:/script.mjs:2:5` (DEBUG CONSOLE)"
in DEBUG CONSOLE, I just want to be able to ctrl+click on `file:///c:/script.mjs:2:5` and it opens `c:/script.mjs:2:5`
![Code_ffdg3zkNKD](https://user-images.githubusercontent.com/42662615/132114563-016b391a-f3b7-4edb-b861-5304802fe4b8.png)
[code]
`file:///c:/script.mjs:2:5` is underlined when I hover over it, but I can't open it

I think "debug console": `Ctrl + click to follow link` and "ctrl+p"

[2021-09-05 04:10] gjsjohnmurray commented on #132356
See #14710 for a request for confirmation before close.

Default keybindings are unlikely to be changed because doing this breaks muscle memory for existing users.

[2021-09-05 04:26] gjsjohnmurray commented on #132336
/assign @hediet

[2021-09-05 04:34] gjsjohnmurray commented on #132320
/assign @hediet

[2021-09-05 04:42] gjsjohnmurray commented on #132334
/assign @mjbvz

[2021-09-05 04:47] gjsjohnmurray commented on #132367
You need to make a feature request to https://github.com/jesseweed/seti-ui because that is where VS Code gets these icons from.

[2021-09-05 04:49] Yash-Singh1 commented on #132367
Moved to jesseweed/seti-ui#628.

[2021-09-05 04:49] #132367 closed

[2021-09-05 04:58] gjsjohnmurray opened #132369 "Alert users of Stable when Insiders endgame has started"
I suggest VS Code should notify users whenever a new endgame begins.

The notification would point to Insiders and ask the user to try it in their environment.

Doing this might get more users of Stable to try Insiders. This could help detect high-impact issues that would otherwise only surface when the new release ships.

[2021-09-05 05:34] asucp commented on #125425
@chrisyeh96 @joyceerhl Do you know when this will be released?

[2021-09-05 06:09] tamuratak commented on #129178
We can access `navigator.clipboard` on webview:

https://github.com/microsoft/vscode/blob/0e522752712dbf744f2fb9e783e4386181945b0d/src/vs/workbench/contrib/webview/browser/webviewElement.ts#L375

Instead of calling `window.dispatchEvent`, we can call `window.navigator.clipboard.writeText`. We also have to send a text to copy from the child iframe.

Interestingly, we cannot access `navigator.clipbo

[2021-09-05 06:33] Fi-past commented on #130818
Thanks! I know what you mean, we have a similar situation, whenever I type Chinese characters, vscode always prevents me from typing the full pinyin

[2021-09-05 06:48] briansmi opened #132370 "Python test runner reliability issues with vs code version 1.6"
Does this issue occur when all extensions are disabled?: No

- VS Code Version:1.60.0
- OS Version: Win 10.0.19043

Steps to Reproduce:

I just upgraded to 1.6 and I'm have serious test runner reliability issues.  I'm using the ms extensions for Python and vscode-pylance.  For testing I'm using Python unit-test Every time I start a test run on a fraction of my ~180 tests actually run.  I've never

[2021-09-05 06:54] justanotheranonymoususer opened #132371 ""Invalid regular expression" and a CRASH on huge text search"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: Win10

Steps to Reproduce:

1. Go to [here](https://raw.githubusercontent.com/microsoft/vscode/main/src/vs/vscode.proposed.d.ts), select all text and copy to clipboard
2. Open VSCode, create new document, paste, go to top
3. Ctrl+F and paste (bug 1 - text is not found)
4. Press escape to close sea

[2021-09-05 07:10] LNOORAl opened #132372 "visual studio code, open in browser extension"
Hello

I download "open in browser" extension but its not active I cant find the option can somebody help me please !

Thank you
![image](https://user-images.githubusercontent.com/90126514/132118617-09d6c0a4-b034-47ae-8494-2edd04e6b7c6.jpeg)

[2021-09-05 07:31] gjsjohnmurray commented on #132372
/causedByExtension

[2021-09-05 07:32] #132372 closed

[2021-09-05 07:41] VehpuS commented on #11770
Another issue I forgot to highlight: rtl to rtl dictionaries with non rtl characters (numbers / latin characters):
![image](https://user-images.githubusercontent.com/3040818/132119331-3792b0cf-5b95-4d88-b102-50045bb30d4d.png)

You can see the key / value strings get mangled together due to LTR shenanigans - this is a bigger issue actually because it makes the key / value seem like mistakes (or is

[2021-09-05 08:10] Dixuss opened #132373 "VSCode Jupyter DataViewer unable to view dataframe that is larger than 150 data frame size"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: Version: 1.60.0
- OS Version: 11.5.2

Steps to Reproduce:

1. create random data frame that is larger than 150, 10
2. run and click on dataviewer to view the dataframe in vscode, it will be loading and unable to display

[2021-09-05 08:12] tomschrot opened #132374 "Project wide type outline"
Hi all

I wonder if some of you would like to see a project wide Type outline to fast navigate your code.
Im a C# developer and find the project outline could be really handy.

Unfortunately I did not find any extension for that.

regards

[2021-09-05 08:24] usernamehw opened #132375 "`workbench.action.openSettings` doesn't work when settings editor is json"
The same issue again: https://github.com/microsoft/vscode/issues/84355

[code]

[code]

- **Expected**: opens Settings GUI with the query `@ext:vscode.git`
- **Actual**: opens `settings.json` file

---

Version: 1.60.0 (user setup)
OS: Windows_NT x64 10.0.19043

[2021-09-05 08:27] Dermotholmes commented on #3220
👀

[2021-09-05 08:29] oscarrutt commented on #117644
No change here. Just updated to 1.61.0 Insiders.

Version: 1.61.0-insider
Commit: 87260247dc7b912db6e6a21a366e6f50dca759ba
Date: 2021-09-03T21:01:10.842Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 15.6.0

[2021-09-05 08:50] cweijan opened #132376 "vscode created a lot of cache by webview."
- VS Code Version: 1.59.1
- OS Version: Windows 10

I created an extension that uses the webview API, and every time I use webview vscode, it will be cached and never delete, resulting in the continuous increase of CacheStorage space.

Steps to Reproduce:

1. Open any webview created by the extension.
2. Now vscode will create web cache at %appdata%\Code\Service Worker\.

![image](https://user-ima

[2021-09-05 09:08] Harpseal commented on #34385
Hi @juan113d, there are two extensions `ms-toolsai.jupyter` and `ms-python.vscode-pylance` required by `ms-python.python`. Install the dependent extensions at first, the installation of `ms-python.python` should proceed normally.

How to check the dependent extensions of vsix in my case:
1. Unzip the *.vsix
2. Open the `extension.vsixmanifest` by any text editor
3. Check the following id/value pai

[2021-09-05 09:09] etigin opened #132377 "Some characters are rendered incorrectly when Monaco or Menlo font is used and font ligatures are enabled"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: macOS Big Sur 11.5.2

Steps to Reproduce:

1. Enable font ligatures
2. Set font family to Menlo or Monaco
3. In the editor window, type letters "fi". They are treated as a ligature.
<img width="1041" alt="Screenshot 2021-09-05 at 11 59 56" src="https://user-images.githubusercontent.com/2362723/132

[2021-09-05 09:16] HoTKreeZy commented on #132336
Personally, I like to have brackets colored even though they are not nested.
So I think that there is some settings about this feature that are missing like the possibility to set new colors and force iteration ([this issue](https://github.com/microsoft/vscode/issues/131027) requests this last setting)

[2021-09-05 09:17] Firosee opened #132378 "File icons not showing as before?"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: Windows 10 pro

Steps to Reproduce:

1. This is a fresh install of VSC on a fresh windows pc

Hey everyone, i have recently changed pc's and i have reinstalled VSC today and i have noticed that all my icons for files are not the same as they were on my old pc. On my old pc the files icons were all

[2021-09-05 09:29] 1057437122 commented on #132119
sorry I just found I didn't put the log here, now I did:
[vscode-debugadapter-a262c5b2.json.gz](https://github.com/microsoft/vscode/files/7111333/vscode-debugadapter-a262c5b2.json.gz)
thanks for your help

[2021-09-05 09:53] cemde opened #132379 "Cannot Attach to Docker image on Remote Host"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.60.0, Commit e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
- OS Version: Local: MacOS 11.5.2 Remote: Ubuntu 20.04.2 LTS
- Docker version: Local: 20.10.8, build 3967b7d Remote: 20.10.8, build 3967b7d
- VS Code extensions: Docker v1.16.1, Remote - Containers: v0.194.0, Remote SSH v0.65.7

Steps to Reproduce:

1. Build t

[2021-09-05 10:25] adriancuadrado opened #132380 "Cannot clone from repository using VSCode"
Does this issue occur when all extensions are disabled?: No (I have to leave the Remote - WSL extension enabled)

- VS Code Version: 1.60.0
- OS Version: Windows 10 Home (OS Build: 19043.928)

Steps to Reproduce:

1. In a fresh installation of the Windows 10 operating system, install VSCode, WSL2 and Ubuntu 20.04 LTS
2. Add the "Remote - WSL" extension to VSCode and connect to Ubuntu 20.04 in WSL

[2021-09-05 10:28] mishrasidhant commented on #128405
Duplicates
* [Terminal navigation mode broken (#107574)](https://github.com/microsoft/vscode/issues/107574)

[2021-09-05 10:29] adriancuadrado commented on #132380
I am an idiot and didn't connect to WSL2. I thought I did, but I wasn't connected to WSL2. The Ubuntu 20.02 LTS WSL2 distribution brings the git executable by default so no need to install it. However VSCode didn't seem to detect it and I thought it was a bug, but it was that I forgot to connect to WSL2.

[2021-09-05 10:30] #132380 closed

[2021-09-05 10:47] Mr-Vipi opened #132381 ""terminal.integrated.defaultProfile.windows""
Issue Type: <b>Bug</b>

Since version 1.60, when I start my VS Code, even though my default integrated terminal is set to Git Bash it opens PowerShell.
I tried VS Code Insider as well same issue.

![Animation](https://user-images.githubusercontent.com/58825526/132124070-2dead81d-aa41-467e-ba21-ade459debb70.gif)

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:

[2021-09-05 11:05] romain20100 opened #132382 "Add button to open a remote window in the github repositories section (remote explorer)"
To consult already opened remotes, we have a dedicated explorer.
But for some reason, it's impossible to open a new **remote window** from here.
Instead, we either use the command search (<kbd>⌘ Command</kbd><kbd>⇧ Shift</kbd><kbd>p</kbd> on macos)
or the button in the status bar.

I find this confusing. I'm not using this feature often and when I do, I find myself always looking for the button to

[2021-09-05 11:07] KanuPriya718 opened #132383 "Js.nemucod.af detection by quick heal while installing VS Code"
![2021-09-05 (2)](https://user-images.githubusercontent.com/90136363/132124575-69ad109d-e6da-48a3-8f5a-ec5a1d7a1397.png)

[2021-09-05 11:19] ahbheng12 opened #132384 "freeze when using visual studio code"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-09-05 11:20] #132384 closed

[2021-09-05 11:22] ahbheng12 opened #132385 "freeze when using visual studio code"
Issue Type: <b>Performance Issue</b>

when i use visual studio code with microsoft words together my computer freezes

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|

[2021-09-05 11:29] vertikashukla opened #132386 "intellisense has stopped working"
my intellisense features are not working..

[2021-09-05 11:30] paritosh149 commented on #128969
Hi @chrmarti, is this issue going in any direction. I didn't see much traction / upvotes, hence suspect that it might not see light of day any time soon. Any thoughts?

[2021-09-05 11:49] ahbheng12 commented on #132385
how do I fix this ?(TT) I cant work efficiently when my pc freezes suddenly. If there is any kind soul would like to help me, I appreciate you.

[2021-09-05 12:23] AntonKhorev commented on #13960
Yes, Block selection mode has virtual space. But how do you turn on virtual space in standard selection mode, the one that you use almost all of the time?

[2021-09-05 12:30] DevUt opened #132387 "VScode default terminal defaults to powershell even after chaning"
Issue Type: <b>Bug</b>

When we run open any folder the default terminal is powershell, even extensions are executing on powershell. But if we open a terminal it would open the one we changed to (in my case cmd).
Also in C/C++
After compilation the program is being runned in powershell, even though my default terminal is something else.
This is happening since the last update

VS Code version: Cod

[2021-09-05 12:34] AntonKhorev commented on #13960
Type this to break javascript syntax highlighting in Geany:

    `${`/*`}`

This is a template literal syntax supported by browsers since 2015. That's why I'm asking about modern editors, the ones that hopefully support five-year-old syntax of commonly used languages.

[2021-09-05 12:36] jihuacao opened #132388 "extension version rollback in terminal failed."
vscode version:1.59.1
date:2021/08/19
chrome:91.0.4472.124
OS:Windows_NT x64 10.0.19043

description(operating with ms-vscode.cpptools as an example) :
I want to update cpptool from 1.6.0 to 1.5.1 in terminal with command: code --install-extension ms-vscode.cpptools@1.5.1.
The command executes successfully.
After I reopen the vscode, extension manager show that the version of cpptools is still 1.6

[2021-09-05 12:54] xon52 commented on #132387
Git Bash is also no longer recognised and I am rather upset. There is an option for the new profiles format for "Git Bash" but a) it doesn't do anything, and b) cannot be defaulted to.

![image](https://user-images.githubusercontent.com/30713944/132127516-c5e21196-e034-48d1-bec7-96d3943db900.png)

[2021-09-05 13:20] sikevpn commented on #131848
Sorry, it is my fault. I set the wrong shortcut key, which caused the problem

[2021-09-05 13:25] gjsjohnmurray commented on #132387
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-05 13:26] gjsjohnmurray commented on #132381
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-05 13:26] #132387 closed

[2021-09-05 13:26] #132381 closed

[2021-09-05 14:20] CodeCrazy-ywt commented on #132244
@IllusionMH Yes, we can do it by pressing Ctrl+F. But this functionality is not visible enough.
@vscode-triage-bot No, I don't think this issue lacks basic info though.

[2021-09-05 14:23] kkukshtel commented on #3220
I'm wondering if this is less of a priority as Code fleshes out its Notebook support. Custom peeks would still be great but it's also hard to think of a case that isn't solved by Notebooks.

[2021-09-05 14:25] Delphi1948 opened #132389 "Non trova import wx (wxpython)"
I dati necess
Issue Type: <b>Bug</b>

Ma se eseguo il programma (Python) dall'IDLE di Python il modulo wx c'è e funziona perfettamente, anche se provo un altro editor il modolo wx lo trova.
Perchè solo in Microsoft Visual Code si presenta questo problema.
Grazie.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043

[2021-09-05 14:26] #132389 closed

[2021-09-05 14:32] tomshaffner opened #132390 "Most recent update seems to make python code open in wrong terminal"
Issue Type: <b>Bug</b>

As discussed at https://stackoverflow.com/questions/69050842/vs-code-python-debugger-keeps-launching-powershell, both I and another user have had the issue that python code launches in powershell no matter what I change the settings to. This makes debugging extremely cumbersome as I have to manually enter the commands to initiate it.

VS Code version: Code 1.60.0 (e7d7e9a93

[2021-09-05 14:35] Tyriar opened #132391 "Clicking word links with ../ should remove them when searching the workspace and auto open a single match"
Clicking this link:

[code]

Results in:

![image](https://user-images.githubusercontent.com/2193314/132130717-59401d6c-66e6-46cf-8da2-fcdd43fc65b8.png)

This should auto open

[2021-09-05 14:58] vanenshi commented on #128965
duplicate of #131708

[2021-09-05 15:09] pinich commented on #132150
Is there some kind of workaround until this issue is fixed?
I have to use git-bash as a default terminal to launch and run tasks (debugger), My environment crashes when it tries to run using Powershell which I never use.

[2021-09-05 15:14] prometheas opened #132392 "Extensions sync disabled due to too many requests"
Issue Type: <b>Performance Issue</b>

Literally all I've done is wake the laptop from sleep and was presented with this notification. This is worrying because I really do rely on this syncing to keep my laptop and desktop configs in sync.

VS Code version: Code 1.59.1 (Universal) (3866c3553be8b268c8a7f8c0482c0c0177aa8bfa, 2021-08-19T11:53:52.479Z)
OS version: Darwin arm64 20.5.0
Restricted Mode: N

[2021-09-05 15:18] Ghost4Man commented on #3220
Some potential uses of custom peek widgets not covered by notebooks (notebooks are not ideal for on larger codebases, at least not directly):

- one-way (read-only):
	- rich library/language help (with links, images, videos)
	- boolean truth table of
	- expression/function plot inside a regular source code for a game/app (without needing to create a special notebook)
	- interactive preview of macr

[2021-09-05 15:23] MaryBrandt commented on #132288
I tried Chrome.

I do not know what to put here.

Is this what you need?
    On Friday, September 3, 2021, 09:09:37 PM EDT, VS Code Issue Triage Bot ***@***.***> wrote:

Thanks for reporting this issue! Unfortunately, it's hard for us to understand what issue you're seeing. Please help us out by providing a screen recording showing exactly what isn't working as expected. While we can work with mos

[2021-09-05 15:24] SentiSachin opened #132393 "access denied"
Issue Type: <b>Feature Request</b>

whenever I try to run c program my antivirus deny the access of the file and it won't run.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2021-09-05 15:32] sonicauto-david commented on #132390
I have had this same issue. Downgrading to July 2021 (version 1.59) fixes the issue. https://code.visualstudio.com/updates/v1_59.

[2021-09-05 15:35] heaths opened #132394 "XML closing tags not properly colorized"
Issue Type: <b>Bug</b>

The new bracket/parens colorization feature does not seem to be working for XML closing tags e.g.,

[code]

In this example, all "</" are gray instead of the appropriate color matching all brackets of the opening tag i.e., "<" and ">" and the closing bracket of the closing tag i.e., ">".

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:

[2021-09-05 15:43] timc-enthrall commented on #132390
Same issue, downgrading to July 2021 fixed it for me too.  These are the instructions I followed for downgrading: https://stackoverflow.com/questions/49346733/how-to-downgrade-vscode.

[2021-09-05 16:00] promethyttrium commented on #132150
The workaround is the uninstall vscode and install an IDE that doesn't completely screw over its customer with a poorly tested update.... Or install the Shell Launcher extension.

Windows Update trashing people's computers seemed some much fun that the vscode team is jumping on that bandwagon too. How this is still not fixed is just insanity...

[2021-09-05 16:00] connor4312 commented on #132307
Could you capture a trace log so I can see what the root cause was?

/jsDebugLogs

[2021-09-05 16:11] ranefattesingh commented on #131327
Issue is not appearing anymore hence closing it!

[2021-09-05 16:11] #131327 closed

[2021-09-05 16:13] ashelleyPurdue commented on #132150
I have to use git-bash as a default terminal to launch and run tasks (debugger), My environment crashes when it tries to run using Powershell which I never use.

Assuming I'm understanding your question correctly: you can open up a new git bash terminal even if the default is stuck on powershell.
![image](https://user-images.githubusercontent.com/8558767/132133686-89e2f99f-2bb9-4b82-af53-e18cd69dc

[2021-09-05 16:18] Kronopt commented on #132390
I'm having the same issue.
I have git-bash as the default shell and, no matter what I do, running/debugging python code always opens powershell

[2021-09-05 16:48] hbenl opened #132395 "Allow test extensions to activate when test view is shown"
This came up in hbenl/vscode-test-explorer#226, but it is equally relevant for test extensions that use the native testing API directly.
It could make sense for test extensions to only activate when the user opens the test view (or calls a test command etc.) to save resources during VS Code startup. However with the native testing API this turns into a chicken-and-egg problem: the test icon (for o

[2021-09-05 16:58] lhmathias commented on #131448
even with the original version not being flatpack everything appears distorted!
https://photos.app.goo.gl/EJFdUF8tpSr267wp6

[2021-09-05 17:13] gautamkrishnar opened #132396 "regex search not working when using complex regex"
- VS Code Version: 1.58.2
- OS Version: MacOS 11.5.2 (20G95)

Steps to Reproduce:
1. Open up the search tab
2. Enable the regex search
3. Use the regex `^(?=[\s\S\n]*(Landroid\/view\/Window;->addFlags))(?=[\s\S\n]*(0x2000))[\s\S\n]*$` to search

No results will be returned. Search will keep running indefinitely.

This regex actually matches a smali source code: https://regexr.com/6525n

[2021-09-05 17:21] josephgarnier commented on #131710
Same problem than @Samega7Cattac (it works on Linux and with a terminal)

[2021-09-05 17:21] claudiaregio opened #132397 "Native Notebooks - Diff view shows diagnostics"
VS Code Version: 1.61.0-insider

When opening the diff editor for notebooks it shows diagnostics... I find it strange that this would appear in a diff?

![image](https://user-images.githubusercontent.com/19276747/132135600-8378129b-0c04-475e-8652-e5bd3cf5ec20.png)

[2021-09-05 17:28] khainl1110 opened #132398 "IntelliSense just stop working"
Issue Type: <b>Bug</b>

IntelliSense stops working and it's so annoying.
First it was dead when I was using TypeScript and it said something like The TypeScript language service died 5 times right after it got started. The service will not be restarted. Then IntelliSense just stopped working and it's so annoying. What a let down

VS Code version: Code 1.59.1 (3866c3553be8b268c8a7f8c0482c0c0177aa8b

[2021-09-05 18:00] #132131 closed

[2021-09-05 18:22] james-rose opened #132399 "High performance bracket pair colorization bug with '=>'"
Issue Type: <b>Bug</b>

The "=>" in :rules (see below) is detected as a delimiter and it causes the closing delimiter to turn red instead of yellow.

          <q-input
            outlined
            v-model="taskToSubmit.name"
            label="Task name"
            class="col"
            :rules="[val => !!val || 'Name is required']"
          />

VS Code version: Code 1.60.0 (e7d7e9a9348e6a

[2021-09-05 18:41] hediet commented on #132336
You can [configure supported bracket pairs](https://github.com/microsoft/vscode/blob/997228d528d687fd17cbf3ba117a0d4f668c1393/extensions/javascript/tags-language-configuration.json#L11).

[2021-09-05 18:41] #132336 closed

[2021-09-05 18:44] hediet commented on #131078
Can you add a screenshot and/or elaborate how this is different from https://github.com/microsoft/vscode/issues/131001?

[2021-09-05 18:51] hediet commented on #132175
[Every language extension can configure which brackets should be highlighted](https://github.com/microsoft/vscode/blob/997228d528d687fd17cbf3ba117a0d4f668c1393/extensions/javascript/tags-language-configuration.json#L11).
By default, the language brackets are highlighted.
If there `colorizedBracketPairs` propery, only those bracket pairs are highlighted.

The documentation for this new property is

[2021-09-05 18:54] #132175 closed

[2021-09-05 18:57] hediet commented on #131940
This milestone hopefully (i.e. early October).

[2021-09-05 18:59] drdmitry commented on #132390
I have the same behavior and the sequence is the following:
- I have a JavaScript project which has a terminal open (Git Bash, which was selected as default)
- close VS Code
- Open VS Code with the same project (where the terminal window was open)
- When VS Code is loaded, it is opening the terminal window with PowerShell
- If I exit from PowerShell and hit Ctrl+` to open terminal - it is opening

[2021-09-05 18:59] nerdondon commented on #132175
I'm a little confused. this was not happening with the bracket pair colorizer extension. even if the extension had a per-language config, it has been working out of the box for me just fine without having to touch such a config.

[2021-09-05 19:00] dustinkeeton commented on #94681
I will also say "please."

[2021-09-05 19:03] hediet commented on #131027
@oaahmad

I like that idea! But I think this is a different feature request, right? (in this case, please open a separate issue)
Would your feature cover the feature requested in this issue?

[2021-09-05 19:10] hediet commented on #132175
Because the bracket pair colorizer extension explicitly does not colorize `<` and `>` - this exception is baked into the extension and even languages that want to colorize these brackets cannot do so.

We introduced a per language config (rather than assuming that `<` ... `>` is the only problematic pair and not colorizing it for any language).

If a language does not configure which brackets to c

[2021-09-05 19:13] gjsjohnmurray commented on #132399
/assign @hediet

[2021-09-05 19:14] gjsjohnmurray commented on #132394
/assign @hediet

[2021-09-05 19:15] gjsjohnmurray commented on #132393
Please report this to your antivirus provider.

[2021-09-05 19:16] gjsjohnmurray commented on #132390
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-05 19:16] #132390 closed

[2021-09-05 19:16] gjsjohnmurray commented on #132383
Please report this to your antivirus provider.

[2021-09-05 19:18] gjsjohnmurray commented on #132398
Please use the Start Extension Bisect command to investigate whether the problem is being caused by one of your extensions.

[2021-09-05 19:18] gjsjohnmurray commented on #132386
/needsMoreInfo

[2021-09-05 19:25] hediet commented on #132240
This is already possible!
A language can define [bracket pairs to colorize](https://github.com/microsoft/vscode/blob/997228d528d687fd17cbf3ba117a0d4f668c1393/extensions/javascript/tags-language-configuration.json#L11).

Please open a separate issue for that!

[2021-09-05 19:27] shoffmeister opened #132401 "Explorer pane invalidates while in edit mode; papercut"
Issue Type: <b>Bug</b>

The Explorer pane invalidates content _while_ an Explorer element is in edit mode (e.g. for renaming a file). This cancels edit mode and all keystrokes then go into the Explorer tree item set, instead of the previously edited explorer _item_ itself.

This can lead to involuntary deleting of data.

The expectation is that the explorer pane does not get refreshed at all while

[2021-09-05 19:29] hediet commented on #132287
Unfortunately, this is quite challenging.

Also, it could be very confusing. We already experimented with allowing ghost text to be inserted before the cursor (e.g. when the user types `CW` and the suggestion is `Console.WriteLine`, then `onsole.` and `riteLine` would be shown as ghost text).
However, because it caused a lot of jumping, we decided to only show ghost text after the cursor.

Can you

[2021-09-05 19:30] ssstain opened #132402 "PowerShell overrides any default terminal on the first run"
Issue Type: <b>Bug</b>

When you start a Python project in a newly created virtual environment the VS Code may ask you to install missing linters and other dependencies. If you confirm the installation, the terminal window popups with the powershell, though you may have your default terminal set to cmd in Windows (or Clink - http://mridgers.github.io/clink, in my case).
Powershell has no perms to

[2021-09-05 19:31] hediet commented on #132266
Unfortunately, this is not possible. The native implementation uses the theming-engine (and as such, bracket pair can be styled by theme-authors!) which does not support CSS color names.

However, I could imagine that an extension could provide a refactoring here to convert between those representations.

[2021-09-05 19:32] #132266 closed

[2021-09-05 19:35] Grant-Knoetze opened #132403 "Unable to use autopep8, cannot install autopep8 from command line, python extensions permanently loading(neverending)"
Issue Type: <b>Performance Issue</b>

Cannot get any extensions to work, "python extension loading" message is continuous and permanent. I have installed the extension for autopep8 from the extensions menu. When I run shift + alt + F, I get a message that "autopep8 isnt installed (but it is), when I click on "yes" it runs the "-m pip install -U autopep8 --user" command in the terminal, which fails

[2021-09-05 19:41] oaahmad commented on #131027
@hediet I can already set the first color to black which is the first step. Black would get repeated in deeply nested brackets, but that's not a problem (not for me at least).

The problem is that many languages use "{ }" heavily for scope. So even if I set the first color to black it makes no real difference because all my code will be inside a "{ }" scope (maybe nested inside several "{ }" scope

[2021-09-05 19:47] ssstain commented on #132402
Should this on be closed as a duplicate of #132150

[2021-09-05 20:01] Maechto opened #132405 "Neu geschriebener code funktioniert nicht"
Issue Type: <b>Bug</b>

Wenn ich einen neuen code schreibe und ihn dann ausführe, wird nur der alte angezeigt. Bsp.: Ich schreibe Console.WriteLine("Hallo"); ändere as dann zu
Console.WriteLine("Hallo12345"); , ich lasse es dann debugen und es kommt nur Hallo raus. Auch bei Variabeln die ich anfangs benutzt habe bleiben einfach wie im alten code und lassen sich nicht ändern.

VS Code version: Code

[2021-09-05 20:04] gjsjohnmurray commented on #132402
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-05 20:04] #132402 closed

[2021-09-05 20:18] connectdotz commented on #130875
@connor4312 tried to use the `vscode.revealTestInExplorer` today, but got this error from the insider (build date: 2021-09-03T21:01:10.842Z):
[code]
not sure if the code has not yet been published or I am using it wrong?
[code]
I verified the id is valid.

BTW, there seem to be a typo in the doc (see [comment](https://github.com/microsoft/vscode-docs/commit/897123bb2d143055e0016659234c3b1f2d3eb36b

[2021-09-05 20:20] #132399 closed

[2021-09-05 20:21] hediet commented on #132399
Duplicate of #132336.

Please ping the author of the language-extension to remove `<`...`>` from the bracket pairs to colorize. (see [my comment](https://github.com/microsoft/vscode/issues/132336#issuecomment-913204643))

[2021-09-05 20:22] katunilya opened #132406 "Provide correct completion badges for `unittest` async tests"
Tests for `IsolatedAsyncioTestCase` of `unittest` framework are not marked with completion badge like sync tests (normal `TestCase`), though they are showed in Testing tab. Failed badge is also incorrect as it just informs about error on `import unittest` statement.

![image](https://user-images.githubusercontent.com/40162026/132140300-77ec860f-b4be-4f11-a1fc-866cf9f44c7f.png)

Due to this it's ha

[2021-09-05 20:23] hediet commented on #132394
Can you share a screenshot?

Seems to be a duplicate of #130996.

[2021-09-05 20:31] hediet commented on #131027
I understand.
I guess an option like "Don't colorize top most bracket pair per type" would also do it (though we try to minimize the amount of settings).

[2021-09-05 20:32] hediet commented on #132232
Thanks for reporting this bug! Can you provide steps for how to reproduce this?

[2021-09-05 20:34] hediet commented on #132231
Duplicate of #130996, see #131092.

[2021-09-05 20:34] #132231 closed

[2021-09-05 20:39] hediet commented on #132228
Thanks for reporting this bug! Can you please provide steps so that I can reproduce your issue?
(including copyable source code and precise steps on what you replaced with what)

The bracket pair colorization algorithm is incremental and processes text edits, rather than the entire document.

[2021-09-05 20:43] hediet commented on #132163
Duplicate of #132336.

Please ping the author of the language-extension to remove `<`...`>` from the bracket pairs to colorize. (see [my comment](https://github.com/microsoft/vscode/issues/132336#issuecomment-913204643))

[2021-09-05 20:43] #132163 closed

[2021-09-05 20:44] connectdotz commented on #130875
BTW, is there a way to pop up the test status icon menu? We used to have codeLens to debug/run test, now these functions are available in the icon menu also, would be nice to ease people into the new interface by popping up the menu when they click on the codeLens... and eventually to retire the codeLens all together.

[2021-09-05 20:50] hediet commented on #132209
Thanks for reporting this!

I did not think of this case.
But I guess this can be easily fixed [here](https://github.com/microsoft/vscode/blob/main/src/vs/editor/common/model/bracketPairColorizer/brackets.ts#L46):
A closing bracket token is assumed to close an opening bracket token if and only if they have equal category-numbers.
I guess in case of verilog, `case`, `casex` and `casez` should all h

[2021-09-05 20:52] oaahmad commented on #131027
In case anyone is still confused, I finally busted out GIMP and made this monstrosity:

**Default settings:**
<img width="980" alt="default" src="https://user-images.githubusercontent.com/26692282/132141084-375dcdac-3460-43c4-a1d8-a4fb95e8b8d3.png">

**Black:**
<img width="983" alt="black" src="https://user-images.githubusercontent.com/26692282/132140945-331c93b7-5936-4cc1-91d8-dea618d8c29f.png">

[2021-09-05 20:56] hediet commented on #132249
Thanks for reporting this bug!

Can you list steps how I can reproduce this?

[2021-09-05 21:03] juliombb commented on #122617
I tried reproducing this in macOS but could not (it worked)
the version in which I tried was 1.60.0

[2021-09-05 21:08] niccolomineo opened #132407 "Allow terminal tabs top location"
I would like to be able to display terminal tabs at the top, since both left and right locations take away horizontal space from the terminal prompt itself on my 13" laptop.

<img width="384" alt="top_tabs" src="https://user-images.githubusercontent.com/5409469/132141378-9a5cd7ac-c3bd-40ad-9b75-dbcd09e0bad4.png">

[2021-09-05 21:26] b0tm0de commented on #132249
Hi again.
After read your message i tried 2 different path:

A) Open VSCode, use "File" menu then click "Open Folder". Select a folder that contains a Javascrit file. Open a .js file and try commenting Javascript code by keyboard shortcut.

B) Drag and drop .js file to VSCode, then comment code via keyboard shortcut.

Both path A and B reproduce that thing same.

[code]

[2021-09-05 21:29] TabithaLarkin commented on #130989
This is what I use for Solarized Dark based off of the settings I had when I was using the bracket pair colorization extension. I just picked some colours that were already in use by the theme.

[code]
This is what it looks like in practice.

![image](https://user-images.githubusercontent.com/3467306/132141812-299b5d43-644c-4526-89af-bbc5539f1008.png)

[2021-09-05 21:46] Rademenes16 opened #132408 "Debug console is missing horizontal scrollbar"
I wish there was a horizontal scrollbar or at least word-wrap for debug console. I quickly made 2 arrays consisting of 200 numbers and I can't see more than my window size allows to.
https://imgur.com/a/Bmi8aC2

[2021-09-05 21:56] diogogmt commented on #23991
Switching the dispatch mode to **keyCode** is working again; `"keyboard.dispatch": "keyCode"`

[2021-09-05 22:20] iamWing commented on #55111
I also want a default keybinding for this. Since I switch back and forth between Mac & Windows a lot I often use `ctrl + n` and `ctrl+ p` to navigate the menu a lot. I've basically mapped most of the keybindings to match my experience on mac but this one really caught me out as I can't navigate the menu with the same shortcuts.

[2021-09-05 22:51] DevManPGP opened #132409 "VS Code freezes when using PHP Debug and PHP Xdebug"
Issue Type: <b>Performance Issue</b>

I have been using these two extensions along with VS Code for almost a year now with no issues. Last week, I tried to debug a php page and it was not working anymore. I uninstalled and reinstalled the extensions many times. I also reset IIS webs server for PHP and verified nothing has changed on my Windows 10 Pro PC. I finally got it working again but it takes

[2021-09-05 22:54] SPM91 opened #132410 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `microsoft-authentication`
- Extension Version: `0.0.1`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.60.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-09-05 23:13] Smugger21 commented on #26777
@martin-braun After your repeated comments on this issue, I don't think you have room to talk. As one of the people subscribed to this issue, I have no problems seeing new comments, It lets me know people are interested in this topic still. So don't think your opinion is the only one out there.

[2021-09-05 23:26] x-garcia commented on #132262
@meganrogge I can't see the relationship between this issue and the one you referenced.

[2021-09-05 23:26] castbreeder opened #132411 "can't type in CLI"
We have written the needed data into your clipboard because it was too large to send. Ple
Issue Type: <b>Bug</b>

VSC restarted, reinstaled, disabled extensions

thank you

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 6.2.9200
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|I

[2021-09-05 23:45] DetachHead commented on #132193
https://github.com/microsoft/vscode-python/issues/17276

[2021-09-05 23:58] stellarpower commented on #10400
The problem I have is that the build output isn't as pretty as the problems pane and most annoyingly I can't link quickly to the location in the file. It's meant I've become sloppy at fixing warnings or had to scroll around a lot. For C++ for example, in previous projects I have had thousands of error messages resulting from one line. Looking at the first error you find I feel is critical to solvi

[2021-09-06 00:07] chadleong opened #132412 "Integrated terminal"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-09-06 00:08] chadleong opened #132413 "Integrated terminal keep defaulting to powershell even though I have explicitly set it as cmd"
My default profile is cmd. But vscode keep defaulting to powershell even though I have explicitly set it as cmd.

<html>
<body>

Extension | Author (truncated) | Version
-- | -- | --
vscode-django | bat | 1.6.0
markdown-table-prettify | dar | 3.5.0
vscode-markdownlint | Dav | 0.43.2
githistory | don | 0.6.18
xml | Dot | 2.5.1
es7-react-js-snippets | dsz | 3.1.1
vscode-npm-script | eg2 | 0.3.22
pre

[2021-09-06 00:08] #132412 closed

[2021-09-06 00:18] github-account1111 commented on #128965
How is this a duplicate? I opened this almost 2 months ago, while the one you linked is 11 days old. Maybe the other way around?

[2021-09-06 00:25] github-account1111 commented on #131708
Why have a max to begin with? It's akin to [this](https://www.youtube.com/watch?v=Hwab428Iqxs) problem in Bitcoin. As the hardware progresses you need to keep updating the max, while having that max at all accomplishes nothing. Just remove the limit.

Default can stay as is IMO, because it seems to work for most people, as this hasn't been reported until now, and a larger quantity might actually b

[2021-09-06 01:13] calebcartwright commented on #40233
First I just want to thank the VS Code team for all their hard work building such an amazing product, and I'd love to see the features requested in this discussion incorporated natively into the product.

However, the absence of these capabilities has been problematic for long enough with the teams I work with that we opted to finally make an extension that allows us to use shared+local config fil

[2021-09-06 01:44] LongYue9608 commented on #132413
Just today, I also encountered this problem

[2021-09-06 01:51] jiangbo0216 commented on #131803
you can see these images

[2021-09-06 02:08] smichea opened #132414 "Cannot open devcontainer from wsl project"
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.60.00
- OS Version: win 10 with wsl2 ubuntu
- Docker desktop Version : 3.5.2
- Remote development extension Version: 0.21.0

Steps to Reproduce:

1. Install vscode, remote dev extension. docker desktop
2. in wsl, clone some project that is using devcontainer
`git clonegit@github.com:meveo-org/meveo.git`
4. open it vs

[2021-09-06 02:19] jeffreyyjp commented on #132232
@hediet The screenshot is a demo,  just copy some code into a code block.

[2021-09-06 02:22] els2520 commented on #132232
``[]()

[2021-09-06 02:34] iamwwc commented on #132201
@weinand could you watch this?

[2021-09-06 02:38] odajapan commented on #132413
I also encountered this issue.

[2021-09-06 02:43] blimmer opened #132415 "Debug Console suggestions do not auto-complete properly"
Does this issue occur when all extensions are disabled?: Yes

Version: 1.60.0
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:54:53.442Z (4 days ago)
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.6.0

Steps to Reproduce:

1. Clone my sample repo and install the dependencies: https://github.com/blimmer/vscode-issue-repro
[co

[2021-09-06 03:15] miyuehu commented on #132105
@vscode-triage-bot @mojodna @doudou @threeve can you help me?

[2021-09-06 03:18] miyuehu commented on #132105
Update to the latest version：Version: 1.60.0 (system setup)。There are still problems

![image](https://user-images.githubusercontent.com/1926079/132155745-10f03e75-6897-4220-96d1-2478ec51047f.png)

[2021-09-06 03:20] kohane27 commented on #132413
https://github.com/microsoft/vscode/issues/128763
This is a bug occurring in version 1.6 for me too. I rolled back to 1.59 and the problem is gone.

[2021-09-06 03:22] VALLIS-NERIA commented on #131078
@hediet with `Bracket Pair Colorizer 2`
![image](https://user-images.githubusercontent.com/13230610/132156188-91642ffc-1d20-456f-87a4-1aa8eb5dd4d2.png)

[2021-09-06 03:29] lonix1 commented on #40233
Another similar extension, more mature than those listed, with loads of features. Been using it for a while and it's good: https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.global-config

[2021-09-06 03:37] Shawn211 opened #132416 "Debug another project TS file and set a breakpoint, which will jump to the breakpoint of another TS file of JS icon"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: Windows10
- Node.js Version: v14.17.6

Steps to Reproduce:

1. create a ts file in a project
2. open the ts file in another project
3. set breakpoint and debug it
4. cannot debug in current ts file

![debug1](https://user-images.githubusercontent.com/34535599/132154598-13661883-c074-4aa7-a0c9-e713

[2021-09-06 03:57] zhouxinghong commented on #132365
Please download and watch again. . .

[2021-09-06 04:01] Onur-Kurum opened #132417 "More info while downloading a file via ssh"
During an ssh connection, if I download a large file from the server (using the explorer panel, right click on a file, Download), all I can see is "Downloading" in status bar at the bottom. A bit more basic information such as speed, ETA would be very useful, especially with large files.

[2021-09-06 04:05] BrianFarnhill opened #132418 "Autodetection of file types breaks on git COMMIT_EDITMSG files"
Issue Type: <b>Bug</b>

When I create a git commit message in VSCode (through setting code as the editor for git) the autodetection of the files type changes the setting from git-commit to the language of whatever code changes are in the file (in my case, typescript). This appears to be related to the recent auto detection of file type feature.

Steps to Reproduce:

1. Set VSCode as the core.edito

[2021-09-06 04:26] ZZYSonny commented on #117644
I noticed scrolling in a large py file uses 15~20% GPU in the task manager, but scrolling in a jupyter file uses ~45% GPU.

Version: 1.60
Electron: 13.1.8
Chrome: 91.0.4472.164
OS: Windows_NT x64 10.0.22000

[2021-09-06 04:27] lakshits11 commented on #132413
I am also facing this issue. And thanks to @kohane27 , when I rolled back to 1.59, issue was gone. But please look into this.
I am using extension [Code Runner](https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner) and I have set its commands for cmd, but whenever I run code, powershell opens and gives error since commands were written for the sole purpose of running in cm

[2021-09-06 05:20] peter31990 opened #132419 "terminal.integrated.profiles.windows GitBash not working"
- VS Code Version: August 2021 (version 1.60)
- OS Version: Windows 10

Settings:

[code]
![obraz](https://user-images.githubusercontent.com/11589305/132164468-5f595eec-7c7b-4945-ac74-b1ef5505e6d5.png)

[2021-09-06 05:24] kevin-he-01 opened #132420 "Integrated Terminal does not exit promptly when the containing process exits on Windows"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: `Microsoft Windows [Version 10.0.19042.1165]`

Steps to Reproduce (tested with all default settings):

1. Open a local VSCode window in Microsoft Windows (not a remote WSL or SSH window)
2. Open up the terminal, with any shell/process running inside it (Command Prompt, PowerShell, etc.)
3. Exit th

[2021-09-06 05:37] JiaBob commented on #132419
I have same issue. Even though I set the default terminal, when I click the RUN button, it still goes to PowerShell. Besides, same as peter's operation, setting the json file also not work!
![image](https://user-images.githubusercontent.com/18398440/132165713-09996811-805f-4983-a254-fd9b1d0a69a4.png)

[2021-09-06 05:38] san-coding commented on #132085
Hey , since it is a good first issue, can I work on this ?  , if no, will delete comment, sorry for any inconvenience caused @isidorn

[2021-09-06 05:39] JiaBob commented on #132419
I think we should mark this issue only for new release. I solved it after I downgrade to pervious versions.

[2021-09-06 05:51] bpasero opened #132421 "Issues in `mainThreadWebViewPanel` using `columnToEditorGroup`"
I am not sure if this is surfacing in issues already, but I noticed how the `columnToEditorGroup` usage in `mainThreadWebViewPanel` is dangerous. That method can return `ACTIVE_GROUP` (value `-1`) or `SIDE_GROUP` (value `-2`) and as such cannot be used to resolve an existing group.

https://github.com/microsoft/vscode/blob/75aa22e7d99b6353bfc4543218d50d04fbbe04cf/src/vs/workbench/api/browser/mainT

[2021-09-06 05:57] bpasero commented on #127747
One thing I just realised: we cannot simply replace the now deprecated `IEditorService#openEditor` with something like `IEditorGroupService.activeGroup.openEditor` because it would break the `revealIfVisible` setting that users might have enabled.

In other words, that feature really relies on the caller to use editor service, because it could be that a different group is picked than the active on

[2021-09-06 06:01] zzstoatzz commented on #34103
for anyone still looking who'd be satisfied with basic ligature support:

![image](https://user-images.githubusercontent.com/31014960/132166795-db105278-1fe0-4e33-94ab-145464703245.png)

using common zsh themes n fonts on big sur with the following entries in `settings.json`

[code]
`terminal.integrated.fontFamily` value set per discussion in this [gist](https://gist.github.com/480/3b41f449686a089

[2021-09-06 06:02] lorand-horvath commented on #132240
@hediet Thanks for your response. The bracket paris to colorize options are not in the documentation yet, that is why I haven't found a solution to this.
To have {{ and }} of the same color, do I have to actually change the file here
c:\Program Files\Microsoft VS Code\resources\app\extensions\javascript\tags-language-configuration.json
or is there a less messy solution to this? I would like to hav

[2021-09-06 06:08] hy08 commented on #132247
I have the same problem

[2021-09-06 06:15] teki commented on #125932
I think VS Code stops processing all MacOS menu shortcuts. For me this manifests by ctrl+space stopping to show the emoji picker. But when in this state cmd+m stops working too.

My guess is that events are not reaching the system toolbar.

I don't know how this is handled, but have the same issue with Google Docs in Chrome. In the document editor the emoji picker regularly stops working, but it k

[2021-09-06 06:15] pinich commented on #132150
I was talking about the tasks you run using the built-in debugger which is always opened using the PowerShell who can't access the environment variables as git-bash.

![image](https://user-images.githubusercontent.com/11866550/132169155-50ba4927-9071-45cd-b507-3ccea9f71a13.png)

[2021-09-06 06:25] fiendwanion opened #132422 "死循环无法关闭，保存不保存都不行"
无法打开“002.ipynb”: 无法解析具有相对文件路径"vscode-notebook:file:///002.ipynb"的文件系统提供程序。

[2021-09-06 06:32] lorand-horvath commented on #132240
@hediet I've managed to fix this by manually updating the HTML (not JS) configuration file here:
`c:\Program Files\Microsoft VS Code\resources\app\extensions\html\language-configuration.json`
and added the bracket pairs to colorize with the same color like so:
`"colorizedBracketPairs":[["{","}"],["(",")"],["{{","}}"],["{%","%}"]]`

Can we have this added to the html/language-configuration.json by

[2021-09-06 06:34] #132179 closed

[2021-09-06 06:35] kadireryigit opened #132423 "Include setting for default Source Control sort criteria"
Hi Microsoft and VScode devs,
It would be nice if there was a setting to choose the default sort order for the Source Control pane.
It is sorted by Path by default so I have to set it to sort by Status manually every time I reopen the editor.
![vscode_feat](https://user-images.githubusercontent.com/24525647/132170632-33279746-abed-4907-ad4b-54b68f827823.png)
This is also reported as a bug in [#127

[2021-09-06 06:37] #131956 closed

[2021-09-06 06:37] xydz opened #132424 "TS Server fatal error: Cannot read property 'getSourceFiles' of undefined"
❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.4.2

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
Server: `semantic`
[code]

[2021-09-06 06:37] Shawn211 commented on #132419
remove the key "source", it maybe work
[code]

[2021-09-06 06:39] #132358 closed

[2021-09-06 06:41] albertosantini commented on #132419
This is a duplicate of #132150 and will be fixed in upcoming recovery release

[2021-09-06 06:47] peter31990 commented on #132419
I removed "source" and it works. Thanks Shawn211 :)

[2021-09-06 06:54] WuHanMuMu opened #132425 "mac上使用快捷键第一次打开终端时，字体渲染错误"
Issue Type: <b>Bug</b>

字符之间存在空格

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.442Z)
OS version: Darwin x64 20.4.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz (4 x 2300)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>multiple

[2021-09-06 06:54] WuHanMuMu commented on #132425
![image](https://user-images.githubusercontent.com/16523103/132173331-d415d1cb-2dea-4816-97e3-bd7d712031dd.png)

[2021-09-06 06:58] gjsjohnmurray commented on #132413
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-06 06:59] #132413 closed

[2021-09-06 07:02] gjsjohnmurray commented on #132418
/duplicate of #132173

[2021-09-06 07:02] sandy081 opened #132426 "August 2021 Endgame Recovery"
- [x] Create a milestone `<Month> <Year> Recovery` **owner**
- [x] Bump the version number **owner**
- [x] [🔖candidate issues](https://github.com/issues?utf8=✓&q=is%3Aissue+label%3Acandidate+repo%3Amicrosoft%2Fvscode+repo%3Amicrosoft%2Fvscode-internalbacklog+repo%3Amicrosoft%2Fvscode-remote-release+milestone%3A%22August+2021+Recovery%22)
- [x] Assign candidate issues to the recovery milestone **te

[2021-09-06 07:03] #132418 closed

[2021-09-06 07:04] #132419 closed

[2021-09-06 07:12] gjsjohnmurray commented on #132426
@meganrogge #132150 needs to be a candidate for this. I hope the fix you pushed also resolves the similar symptoms with tasks.

[2021-09-06 07:13] aeschli commented on #132110
No plans to change this. We're happy that this comes from an extension. HTML and XML look similar but each one has its own specifications. Separate parsers are required to get it right.

[2021-09-06 07:15] sandy081 commented on #131232
@xinrongl There is a new release update last week. Can you please update VS Code to 1.60.0 and please try?

[2021-09-06 07:20] sandy081 commented on #132322
Yes, it is never intended for codespaces instead only for those tabs with same origin. Thanks for the pointers to BroadcastChannel, will take a look.

[2021-09-06 07:20] Mellbourn commented on #34103
@zzstoatzz I'm sorry, but I don't quite understand your post. Where in the image are ligatures demonstrated?

[2021-09-06 07:21] omonimus1 opened #132428 "Search within file responsiveness is broken"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
- OS Version: Windows 11

Steps to Reproduce:

1. Open 2 files in parallel (one next to each other
2. Open the file explorer
3. Search something with the file closed to the file exploired (via search functionality)
4. In few but boring cases, the responsiness of the search input text does not work.
5. The general R

[2021-09-06 07:21] xinrongl commented on #131232
hi @sandy081 , thanks for notifying me, found the issue is resolved from the latest release, thanks.

[2021-09-06 07:22] sschneider-ihre-pvs commented on #16221
I did that already but I can't pick an italic style that is the reason I was asking for font-style.

[2021-09-06 07:22] RunalBandishti opened #132429 "Typescript doesn't show file importing suggestions!"
Does this issue occur when all extensions are disabled?: Yes/No, Both

- VS Code Version:1.61
- OS Version:Ubuntu 21.04

Steps to Reproduce:

1.Try to import files or images through specifying path.
2.

[2021-09-06 07:24] jrieken opened #132430 "Insiders freezes when using settings editor"
(No good info yet but I believe this has to do with markdown rendering)

Steps:

* open settings editor (UI)
* type "inlay"
* 🥶 vs code freezes and doesn't recover

[2021-09-06 07:28] zzstoatzz commented on #34103
oof, sincere apologies, I've deleted my comment since I realized I had misunderstood ligatures to be special characters as opposed to specific combinations of special characters

[2021-09-06 07:34] jrieken commented on #132430
I see lots of markdown renderer on the stack but this might be local to the settings tree. I see the following (async) endless loop:

* [asyncRenderCallback](https://github.com/microsoft/vscode/blob/d474449fc2332d8f2df38892571ee0925806e7cd/src/vs/workbench/contrib/preferences/browser/settingsTree.ts#L872-L872) - called when async code rendering happens
* [renderSettingElement](https://github.com/m

[2021-09-06 07:36] jrieken commented on #132430
Unsure if this is caused by https://github.com/microsoft/vscode/commit/7bc9757b84be47872031d3f183d1f8cce5c1215a or by changing to dompurify and thereby changing the timing of said event?

[2021-09-06 07:47] jrieken commented on #132430
FYI - I have pushed a *bad* workaround which prevents the endless loop but also causes screen cheese when code blocks are used (heights are wrong)

[2021-09-06 07:51] ArtemGovorov opened #132431 "Automatic language detection overrides openTextDocument API language parameter"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: macOS 11.2.3

Despite the fact that we create Untitled text documents using the [`openTextDocument(options?: { language?: string; content?: string; })` function](https://github.com/microsoft/vscode/blob/b55a53add427db20f1ecf7b408327468895a99dd/src/vs/vscode.d.ts#L10769) with `typescript` passed as

[2021-09-06 08:00] bertearazvan commented on #132150
I also haven't found a way around this no matter what settings I am adding. In order to fix this issue, I downgraded to `1.59` until a fix is released https://code.visualstudio.com/updates/v1_59

[2021-09-06 08:05] HiroKws commented on #130869
This is related #50045.

[2021-09-06 08:11] CodeCrazy-ywt commented on #132425
As is shown in the screenshot, there are spaces between chars. Font: Fira Code

[2021-09-06 08:14] CodeCrazy-ywt commented on #132422
Title: [VS Code] runs into an infinite loop, and whether you save, it doesn't work.
Content: Cannot open “002.ipynb”: Unable to parse the file system provider which has relative path "vscode-notebook:file:///002.ipynb".

[2021-09-06 08:16] iamwwc commented on #127721
How I can disable this? https://github.com/microsoft/vscode/issues/132201

It's annoying. I don't want vscode to stop me to press f5 twice

[2021-09-06 08:17] infinnie commented on #132405
Translation:
## Newly written code does not function

[2021-09-06 08:17] CodeCrazy-ywt commented on #132295
Google Translate: We wrote the necessary data to your clipboard because it was too big to send. Please, Cole(Paste?).
Looks like this user sent this issue but forget to paste the needed data.

[2021-09-06 08:23] CodeCrazy-ywt commented on #132091
TypeScript server died 5 times in the last 5 minutes. Connected via SSH.

[2021-09-06 08:25] CodeCrazy-ywt commented on #131816
Google Translate: I wanted to study html is there a way to format it please

[2021-09-06 08:27] lorand-horvath opened #132432 "Bracket pairs should not be colorized in .txt files or any other non-programming language related files"
As per #132240 bracket pairs should not be colorized in .txt files or any other non-programming language related files.

[2021-09-06 08:30] oskude opened #132433 "Error: submitURL must be specified when uploadToServer is true"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.61.0
- OS Version: Arch Linux kernel 5.13.13

Steps to Reproduce:

1. `git clone https://github.com/microsoft/vscode.git`
2. `cd vscode`
3. `HOME=$PWD/.home yarn`
4. `HOME=$PWD/.home ./scripts/code.sh`

more info:

with latest commit as time of writing, i get following error:

[code]

i then found https://github.com

[2021-09-06 08:32] hediet commented on #132240
Yes. We will do that for all native language configs, but it also needs to be done for community language configs.

If you like, you can submit your change as PR! Otherwise I'll do the change in the next couple of days.
Thanks!

[2021-09-06 08:40] Delphi1948 opened #132434 "Modulo wx (Wxpython) non trovato"
Buongiorno.
Se eseguo l'IDLE di Python Il modulo wx lo trova e il programma funziona perfettamente. La stesso modulo funziona perfettamente con il programma Wing. Come mai solo con Microsoft Visual Code non funziona?
Grazie.

[2021-09-06 08:41] Delphi1948 commented on #132434
Grazie per le risposte

[2021-09-06 08:41] #132434 closed

[2021-09-06 08:44] Delphi1948 opened #132435 "Modulo wx (Wxpython) non trovato"
Buongiorno.
Se eseguo l'IDLE di Python Il modulo wx lo trova e il programma funziona perfettamente. La stesso modulo funziona perfettamente con il programma Wing. Come mai solo con Microsoft Visual Code non funziona?
Grazie.

[2021-09-06 08:48] alexdima commented on #132080
@valschmidt Please take a look at https://github.com/microsoft/vscode/wiki/Keybinding-Issues#troubleshoot-linux-keybindings if any of those cases apply to you.

[2021-09-06 08:54] reissbaker commented on #44593
Would love this feature as well; it doesn't feel very distraction-free with the tab bar + a prominent dropshadow (which appears whenever you scroll down). It's also just pure noise if the tab bar is disabled, as it is by default in Zen Mode: it shows you the current tab filename, which you presumably already know, but not any other filenames — so what's the point?

Would also love to have the outl

[2021-09-06 08:58] alexdima commented on #125932
On my machine, <kbd>cmd</kbd>+<kbd>M</kbd> works. Here is what I see:
[code]

I am assuming this works because "No keybinding entries." is printed. That means there are no keybindings assigned to <kbd>cmd</kbd>+<kbd>M</kbd>, so on our side we don't call `e.preventDefault()` or `e.stopPropagation()`, and then the even reaches Electron, who can act on it and minimize the window.

When <kbd>cmd</kbd>

[2021-09-06 09:01] kasperweidick commented on #117644
Same issue here. The scrolling is very jittery and sluggish. And it only happens in .ipynb (notebook) files.

Version: 1.60
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.6.0

Mac OS: Big Sur, Version 11.5.2 (20G95)

[2021-09-06 09:02] isidorn commented on #132436
I can not reproduce. This works just fine for me.
Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2021-09-06 09:06] teki commented on #125932
@alexdima  I have this in the log:
[code]
The window is not hiding.

[2021-09-06 09:10] sandy081 commented on #131893
At present, we show following workspace recommendation if user opens a folder that has `pom.xml` file at the root. (There was a bug that recommendation is not getting shown always and fixed it)

![image](https://user-images.githubusercontent.com/10746682/132190973-41f0f187-ff44-4ddb-bbee-2c65ed153a1d.png)

Is this the most common flow than opening the pom.xml?

[2021-09-06 09:10] weinand opened #132437 "Support debug terminal across languages (and debuggers)"
Provide better support for the following scenario (from https://twitter.com/marksaroufim/status/1433549022191513625?s=19):

VS Code already supports concurrent debug sessions for different languages.
But the tricky part is to start the different debugging sessions so that they are available if the code is hit for the first time.

In the scenario from above it might be difficult to control from out

[2021-09-06 09:14] hsenag opened #132438 "Inline completions that replace indentation not consistently showing"
Issue Type: <b>Bug</b>

Some Ghost Text completions returned by Copilot aren't showing up in the UI. We discussed this a bit already with @hediet, I'll try to create a minimal extension to demonstrate it without Copilot.

VS Code version: Code 1.60.0 (Universal) (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.442Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

[2021-09-06 09:15] #131881 closed

[2021-09-06 09:16] ShadowInks opened #132439 "Logpoint work like breakpoint"
Issue Type: <b>Bug</b>

 I created a logpoint  in my code and run the debugger,but no log in debug console , instead it breaked in logpoint as if i create a breakpoint
![image](https://user-images.githubusercontent.com/42799053/132191951-32fa6bc9-5195-46d2-948c-6fa19b4fd7cd.png)

![image](https://user-images.githubusercontent.com/42799053/132191829-efcfd1ae-02a0-4ca5-8c52-8375987bd441.png)

VS Cod

[2021-09-06 09:16] #131232 closed

[2021-09-06 09:19] alexdima commented on #125932
Thanks for answering so quickly. Form our (JS) keybindings system, I can confirm that we see the keyboard event, and we do nothing with it. That is the same like on my mac, where it is working. That is what makes me believe this is an Electron issue.

I think the OP mentions that going to Window > Minimize works for them, does it also work for you?

On my machine, when I press <kbd>cmd</kbd>+<kbd>

[2021-09-06 09:20] sandy081 commented on #132215
I think another application that is installed on your system is consuming `cmd+ctrl+h`. Hence VS Code is not able to receive and record it. Please check for the application that is consuming it.

CC @alexdima

[2021-09-06 09:20] #132215 closed

[2021-09-06 09:21] hediet commented on #132016
This is by design currently. We don't have a good story for this yet.

[2021-09-06 09:23] hediet commented on #130989
@TabithaLarkin thanks! Feel free to open a PR to the repo that defines this theme! (also include a before screenshot)

[2021-09-06 09:29] gjsjohnmurray commented on #132432
/assign @hediet

[2021-09-06 09:29] rofrol commented on #128763
How to downgrade when using scoop https://github.com/lukesampson/scoop/issues/4345#issuecomment-913495438

[2021-09-06 09:33] stefanofavero opened #132440 "Default Terminal cannot be set to Git Bash"
Issue Type: <b>Bug</b>

Default Terminal is poweshell and cannot be changed even setting profiles and default profile = Git Bash

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details><summary>Extensions (25)</summary>

Extension|Author (truncated)|Version
---|---|---
vscode-eclipse-keyb

[2021-09-06 09:33] gjsjohnmurray commented on #132430
Previously reported as #132250

[2021-09-06 09:34] gjsjohnmurray commented on #132431
/assign @hediet

[2021-09-06 09:34] teki commented on #125932
No it does not. I have to select the menu bar, then shortcuts work.

The shortcuts work when a native MacOS menu is displayed. Ex: when I click on the "More Actions ..." button in the top right corner. That brings up a native MacOS menu, CMD+M will then minimize the app.

In the meantime I got an update and it works now. The problem will likely come back later.

[2021-09-06 09:35] gjsjohnmurray commented on #132431
/assign @JacksonKearl

(sorry for previous incorrect assignment)

[2021-09-06 09:36] gjsjohnmurray commented on #132440
/duplicate of #132150 and expected to be fixed in upcoming recovery release

[2021-09-06 09:37] #132440 closed

[2021-09-06 09:39] sandy081 commented on #132192
It is because settings sync & terminal features are running in the same process ie., shared process. Can you please profile the shared process and share the information with us. You can do it by following this link - https://github.com/microsoft/vscode/wiki/Performance-Issues#profiling-the-shared-process

[2021-09-06 09:41] ShadowInks commented on #132439
i found some error in developer console
![image](https://user-images.githubusercontent.com/42799053/132196371-b650bb12-b364-4c7f-bc03-d12889ad362b.png)

contextKeyService.ts:432 Element already has context attribute: inputContainer

[2021-09-06 09:46] gjsjohnmurray commented on #132431
/assign @TylerLeonhardt

(sorry again for a second incorrect assignment)

[2021-09-06 09:51] hediet commented on #132431
@gjsjohnmurray no worries, thanks for helping us ❤️

[2021-09-06 09:51] infinnie commented on #132431
Why should Dart even be detected in this case? It does not even look like Dart.

[2021-09-06 09:55] hediet commented on #132432
Makes sense. This can be fixed by setting [this](https://github.com/microsoft/vscode/blob/997228d528d687fd17cbf3ba117a0d4f668c1393/extensions/javascript/tags-language-configuration.json#L11) for .txt and other files.

[2021-09-06 09:56] chipbite commented on #16927
Another issue raised (and closed) for the same thing, it seems: #8989

[2021-09-06 10:00] FreHu opened #132441 "Bracket pair colorization does not highlight all element closing tags in xml"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60
- OS Version: Windows 10

Steps to Reproduce:
with `editor.bracketPairColorization.enabled": true`,

in xml files, the opening symbols of the closing tags are not highlighted properly
![image](https://user-images.githubusercontent.com/5097067/132198993-33bfb4d6-0b6b-4e3e-96a3-beac0f2e5f31.png)

[2021-09-06 10:03] heartacker commented on #36700
1. both `workbench.action.splitEditorInGroup`  and `workbench.action.toggleSplitEditorInGroup` can split
2. after splite, there is  only `workbench.action.toggleSplitEditorInGroup` showed， but no use when execute  `workbench.action.toggleSplitEditorInGroup`
3. after split, can not use ctrl+w or mouse to close the tab

[2021-09-06 10:04] snalesso commented on #127861
Is there a way to set this flag in a config file instead of editing the shortcut which opens VSC?
Also, why isn't this issue handled? I shouldn't need to do this stuff, I guess ...

[2021-09-06 10:11] burzomir opened #132442 "Unable to restore Git Bash as default integrated terminal profile"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: Windows_NT x64 10.0.19043

Steps to Reproduce:

1. Open settings.json
2. Edit the following line: "terminal.integrated.defaultProfile.windows": "Git Bash"
3. It says Value is not accepted. Valid values: "PowerShell", "Command Prompt", "Ubuntu (WSL)", "JavaScript Debug Terminal".
4. It used to work

[2021-09-06 10:11] lechu1985 commented on #131709
After upgrading to 1.60 this issue was still reproducible.

I was able to fix it by removing all of the contents of:
`C:\Users\<USER>\AppData\Roaming\Code`
I had to reconfigure the look and feel of the app, but at least code navigation works.
Please let me know if you need any files/info to figure out what might have been wrong. I will be more than happy to provide what you need.

[2021-09-06 10:11] BillDenton opened #132443 "tasks presentation echo true doesn't echo command in 1.60"
Issue Type: <b>Bug</b>

Using
"presentation": {
      "echo": true,
     etc
}
doesn't echo the commands (using git bash as shell under Windows). Used to work in previous version.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.17763
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2021-09-06 10:12] bugada opened #132444 "Default terminal problems"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: Windows 10 build1909

Steps to Reproduce:

1. Configure new default terminal in config:
[code]
2. When VSCode starts the terminal is open on the Powershell profile even if the GUI says that GitBash is the default.
3. A Powershell terminal is used also for debug and process terminals
4. Using Open

[2021-09-06 10:13] hediet commented on #132232
@jeffreyyjp I cannot reproduce:

![recording](https://user-images.githubusercontent.com/2931520/132201335-137df5bb-b9f5-4676-8720-6f198edf4078.gif)

Please add some more steps!

[2021-09-06 10:14] albertosantini commented on #132444
This is a duplicate of #132150 and will be fixed in upcoming recovery release

[2021-09-06 10:14] albertosantini commented on #132442
This is a duplicate of #132150 and will be fixed in upcoming recovery release

[2021-09-06 10:15] burzomir commented on #132444
@albertosantini When is the recovery release coming?

[2021-09-06 10:17] albertosantini commented on #132444
I suppose in a few days. See https://github.com/microsoft/vscode/issues/132426

[2021-09-06 10:18] jrieken commented on #132250
/duplicate of https://github.com/microsoft/vscode/issues/132430#issuecomment-913499931

[2021-09-06 10:19] #132250 closed

[2021-09-06 10:22] faizanmohiuddin482 opened #132445 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `microsoft-authentication`
- Extension Version: `0.0.1`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.60.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2021-09-06 10:24] begrs commented on #129756
![image](https://user-images.githubusercontent.com/10938362/132202917-d1690c77-847a-4416-80c3-2324540a554f.png)

Clicking the letters "in" in the first line, "te" in the second line and "o" in the last line scrolls to the end of the page instead of allowing edit there.

[2021-09-06 10:24] hediet commented on #132249
I'm sorry it does not happen for me:
![recording](https://user-images.githubusercontent.com/2931520/132202911-f0a96d3b-7564-4e18-9e14-bfc715c76153.gif)

You tried it with all extensions disabled? (including the indent-rainbow extension)

[2021-09-06 10:25] weinand commented on #127721
@iamwwc do you really want to start multiple concurrent debug sessions or do you just want to restart your session?

[2021-09-06 10:26] iamwwc opened #132446 "executeCommand don't follow promise ordering to execute"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:

Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:54:53.442Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.6.0
- OS Version:
MacOS big sur 11.5.2

Steps to Reproduce:

1. install https://marketplace.visualstudio.com/items?itemName=ctf0.macros
2.

[2021-09-06 10:30] weinand commented on #132201
Did you try the "Restart" command for restarting your debug session? It will terminate the running session and start it again. So you can be sure that there is only one session running.

If you use "F5" it starts a session without terminating the previous session. So if you see the dialog, that means that your previous session hasn't terminated yet and you will end up with two (or more) sessions.

[2021-09-06 10:30] iamwwc commented on #127721
I'm developing some rust app, restart just restart previous binary, don't recompile it. So I use macros to `first stop and then start`, which make sure lldb rebuild my project.

But I found `stop and then start` cause showing confirm dialog. After some discovery, It seems executeCommand will run commands concurrently

Could you follow this steps to reproduce the issue?
https://github.com/microsoft

[2021-09-06 10:32] weinand commented on #132308
/extCpp

[2021-09-06 10:32] #132308 closed

[2021-09-06 10:34] iamwwc commented on #132201
I don't use f5, I use f4 which a customized macros to do `stop and then start`

[2021-09-06 10:36] eret9616 opened #132447 "Keybinding use Shift+Command+E not working"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:
Version: 1.60.0 (Universal)
Commit: e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
Date: 2021-09-01T10:54:53.442Z
Electron: 13.1.8
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 19.6.0
- OS Version:
MacOS Catalina
10.15.7 (19H1217)

Steps to Reproduce:

1. open KeyboardShortcuts
2. click

[2021-09-06 10:36] iamwwc commented on #132201
The reason is I first use stop, and then start. There should not have an another debug session at the same time. But It does.

https://github.com/microsoft/vscode/issues/132446

[2021-09-06 10:36] #132201 closed

[2021-09-06 10:47] sandy081 commented on #132322
It seems [`BroadcastChannel`](https://developer.mozilla.org/en-US/docs/Web/API/Broadcast_Channel_API) is not supported in Safari & iOS. Hence falling back to `localStorage` in those envs.

[2021-09-06 10:47] #132322 closed

[2021-09-06 10:47] lorand-horvath commented on #132432
@hediet Would be good to know how to do that.
I've created a `txt` folder inside `c:\Program Files\Microsoft VS Code\resources\app\extensions\` and created a language-configuration.json file in it with the following json `{ "colorizedBracketPairs": [] }` - an empty array because I don't want any brackets colorized for .txt files, but that doesn't work.
I have the exact same problem for .vue files

[2021-09-06 10:51] lorand-horvath commented on #132240
@hediet I would happily submit a PR, if I would know how to handle specific files, such as `.txt` or `.vue`. Is this what you mean by "community language configs"? Sorry, but I'm a bit new to VSCode open source coding.

[2021-09-06 10:53] DanTup commented on #40607
@mjbvz would this also be supported via LSP?

[2021-09-06 10:54] gjsjohnmurray commented on #132444
/duplicate - thanks @albertosantini

[2021-09-06 10:55] gjsjohnmurray commented on #132442
/duplicate - thanks @albertosantini

[2021-09-06 10:55] #132444 closed

[2021-09-06 10:55] #132442 closed

[2021-09-06 10:55] konan8205 commented on #84981
Any update here?

Internal diff algorithm sometimes gives poorly visual results.
So I wish I could use patience diff algorithm in vscode diff editor.

[2021-09-06 10:57] gjsjohnmurray commented on #132441
/duplicate of #132394

[2021-09-06 10:57] oskude commented on #132433
aha! comparing `out/main.js` and `src/main.js` i see that they are not the same files! (seems i had old builds in out dir...)

dammit, was my fault not reading the docs past `yarn`... we need `yarn watch` (or for single run `yarn compile`, takes less ram!) to update the out files...

obviously works, sorry for the noise >.<*

[2021-09-06 10:57] #132433 closed

[2021-09-06 10:57] #132441 closed

[2021-09-06 10:58] justanotheranonymoususer commented on #132371
This issue can also cause a crash. I believe that it's not deterministic and depends on the size of the stack or something like this, but I'm able to reproduce it with 1.59.1 32-bit (`VSCode-win32-ia32-1.59.1`). I tried a couple of other versions and they don't crash, but I believe that's accidental, not because the issue is fixed.

![image](https://user-images.githubusercontent.com/5781692/132207

[2021-09-06 10:59] gjsjohnmurray commented on #132443
Maybe because 1.60 is incorrectly always using Powershell? Fix for this is coming in 1.60.1 recovery

[2021-09-06 11:01] hiroshi-nakajima345 opened #132448 "public class Sandbox"
Issue Type: <b>Performance Issue</b>

Security Scann が働きません

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Celeron(R) 3205U @ 1.50GHz (2 x 1497)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>m

[2021-09-06 11:02] gjsjohnmurray commented on #132448
/needsMoreInfo

[2021-09-06 11:07] Samega7Cattac commented on #131710
@TarunavBA deleting appdata vscode folder and reinstalling doesn't solve the issue.

[2021-09-06 11:08] BillDenton commented on #132443
I had noticed the problem with Powershell. If I close a window with git bash running and then open it again it re-opens with Powershell (not git). Used to work.
I don't think that it is the same problem as the command is executing correctly. As it a complex command of the form:
export VARIABLE1="something"
&&
export VARIABLE2="something else"
&&
(a build command || failure_script)
&&
success_scrip

[2021-09-06 11:08] hiroshi-nakajima345 commented on #132448
it does not need any difficult comment ,
I need only the reason why  security scan don't start & get cnclusion.

[2021-09-06 11:17] kainstar commented on #132212
I know where the `[object Object]` comes from by explain. My question is why vscode show `[object Object]` in its IntelliSense result list? Can it be repaired? What info should I supply?

[2021-09-06 11:18] brunnerh commented on #131656
Encountered this just now, hover is on last line's color:
![image](https://user-images.githubusercontent.com/834235/132208527-b29d90e9-96fa-451f-875a-ec39022cff51.png)

Code of that section:
[code]

Re-opening the file did nothing; reloading the window fixed it.

Maybe it has something to with changes made to the file. I had newly added the last two colors and the picker appeared on the last color

[2021-09-06 11:32] wenfangdu commented on #131465
@roblourens @deepak1556 @alexdima For the record, v1.60.0 stable does capture <kbd>Ctrl</kbd>+<kbd>.</kbd> when the settings UI editor's search bar is focused.

[2021-09-06 11:36] gjsjohnmurray commented on #132212
Please paste a screenshot of the explain mode info.

[2021-09-06 11:41] craigcosmo opened #132449 "I set matchBrackets to never but it became false after close and open editor"
vscode

Version: 1.55.0
Commit: c185983a683d14c396952dd432459097bc7f757f
Date: 2021-03-30T16:01:05.981Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Darwin x64 20.6.0

mac 11.5.2 (20G95)

the right setting for  `edit.matchBrackets` is

[code]

When I save the setting.json. it's good. But when I close the app, then open it again, it becomes like this.

<img

[2021-09-06 11:45] afassio opened #132450 "Python extension with Jupyter Notebook"
Issue Type: <b>Bug</b>

Working in WSL Ubuntu 20.04 remote environment.
If I try to create a notebook from scratch it works.
If I open an existing notebook Jupyter server does not start.
If I work in Windows environment it work in both cases.
That happens only in the last update and stop my work.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS

[2021-09-06 11:45] cbouy commented on #132169
Thanks for the JS console tip, the clipboard writing actually works in the script I provided if one removes the `kernel.execute` line, although it won't work if it's in an `iframe`.

[2021-09-06 11:46] Shuna322 opened #132451 "Add integratedTerminal profile configuration to debugging configs"
To stay more organized I suggest to add some customization to debugging terminals.
My workflow in VS Code mostly rely on workspace with two projects, back-end and front-end. Inside each project I have different launch options: [Launch Django application, Compound of: [Launch Celery Worker, Launch Celery Beat] and Launch Node React]

I want to achieve automated result that can be found on screensho

[2021-09-06 11:50] isidorn commented on #132085
@san-coding feel free to provide a PR which tackles this issue. Thank you

[2021-09-06 11:54] isidorn commented on #132032
We will definitely not add a setting to control if there is a modal dialog or a notification. We should figure out what is the better experience and stick with it. Currently we are leaning towards modal dialogs.

[2021-09-06 12:02] joaomoreno commented on #131022
What extension are you trying to install? inurdin

[2021-09-06 12:03] ElSamhaa commented on #131430
@TylerLeonhardt Issue is still there after updating to stable 1.60. I think we should reopen.

[2021-09-06 12:05] NeboCode opened #132452 "VSC not detecting a closing tag in PHP when mixing syntax"
Does this issue occur when all extensions are disabled?:  **Yes**

- VS Code Version: **1.60**
- OS Version: **Windows 10 19041.1165**

**Steps to Reproduce:**

Given the following code which is using PHP Escaping (https://www.php.net/manual/en/language.basic-syntax.phpmode.php), I've made a somewhat simplistic replication of the error.

Basically if I open a php tag using the long form `<?php` (i

[2021-09-06 12:06] joaomoreno commented on #131963
There's a bunch of settings regarding setting env for VS Code to load, eg: `terminal.integrated.env.linux`. Can you give that a try?

[2021-09-06 12:06] joaomoreno commented on #132265
We do not support code-server.

[2021-09-06 12:06] #132265 closed

[2021-09-06 12:06] isidorn commented on #132275
@mjbvz the `role="document" makes sense for read-only content since the screen reader would switch to a `browse` mode which makes it easier for users to read and browse.
My intuition is telling me that most webviews are readonly and thus we can add this role by default. Do we know if a webview is readonly or not? Do we have some data for this maybe?

I do not think it will make a difference if we

[2021-09-06 12:07] #132084 closed

[2021-09-06 12:07] joaomoreno commented on #132213
Hae you tried to fully reinstall VS Code?

[2021-09-06 12:08] bpasero commented on #132084
I am using `BroadcastChannel` too now, but do not fallback to `localStorage`, so it may not work in iOS or Safari.

[2021-09-06 12:10] joaomoreno commented on #131613
This issue was closed because it doesn't meet our standards of a properly filled issue. Please read our guide about [Submitting Bugs and Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2021-09-06 12:10] #131613 closed

[2021-09-06 12:11] joaomoreno commented on #132204
https://code.visualstudio.com/docs

[2021-09-06 12:11] #132204 closed

[2021-09-06 12:11] iqapps opened #132453 "VS Code does not stick to downgraded version"
Issue Type: <b>Bug</b>

After having the latest version and finding errors, trying to downgrade is possible, but then VS Code still updates itself on next or next after restart. Seems like the update that was downloaded, takes control, even if update mode is none and automatic updates is unchecked.

I was having 1.60 installed automatically, but found serial port errors on Arduino Extension, and w

[2021-09-06 12:12] isidorn commented on #132344
Dup of https://github.com/Microsoft/vscode/issues/52016
Reasons why we are not changing this still hold which I mentioned [here](https://github.com/Microsoft/vscode/issues/52016#issuecomment-641096443)

Leaving this open for tracking purposes.

[2021-09-06 12:12] swinder0161 commented on #129665
@deepak1556 Please review and merge my change

[2021-09-06 12:13] jonasfeld opened #132454 "Powershell starts instead of default terminal"
Issue Type: <b>Bug</b>

I prefer to use git bash over Windows Powershell, so I've set Git Bash as the default. But lately (ever since 2 updates or so) Powershell still opens instead of my default terminal, which is git bash.

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:41:52.311Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summar

[2021-09-06 12:16] iqapps commented on #131411
This is reported with a more accurate description in issue #132453

[2021-09-06 12:16] #131411 closed

[2021-09-06 12:20] joaomoreno commented on #130785
Let me know if you need any help.

[2021-09-06 12:20] joaomoreno commented on #132453
Can you reproduce this on a fresh VM?

[2021-09-06 12:21] #131393 closed

[2021-09-06 12:21] zorn-v opened #132455 "VSCode crash on start after packages updated on kubuntu 21.10 (development branch)"
[code]

Last message is "Unsupported instruction (stacktrace dumped to disk)"

[2021-09-06 12:22] joaomoreno commented on #131850
cc @bpasero @deepak1556

[2021-09-06 12:23] iqapps commented on #132453
Not running VM..sorry

[2021-09-06 12:24] joaomoreno commented on #132453
I can't reproduce this locally, unfortunately.

[2021-09-06 12:26] iqapps commented on #132453
hmm...it very consistent. Where can I find the downloaded 1.60 update files on my local disk. Maybe I can delete these.

[2021-09-06 12:26] joaomoreno commented on #130181
https://github.com/microsoft/vscode/issues/127365

[2021-09-06 12:26] #130181 closed

[2021-09-06 12:26] joaomoreno commented on #131846
https://github.com/microsoft/vscode/issues/127365

[2021-09-06 12:26] #131846 closed

[2021-09-06 12:27] joaomoreno commented on #129374
The right fix is: Reinstall VS Code and choose the right options in the setup wizard.

[2021-09-06 12:27] #129374 closed

[2021-09-06 12:27] PhakornKiong commented on #132151
Downgrading to 1.59.1 works for me.

[2021-09-06 12:28] joaomoreno commented on #132453
Yes. One thing to try is just to remove everything VS code related from your system and reinstall from scratch. You might have two simultaneous installations.

[2021-09-06 12:28] #132453 closed

[2021-09-06 12:28] #131523 closed

[2021-09-06 12:29] joaomoreno commented on #129872
https://code.visualstudio.com/docs/setup/setup-overview#_how-can-i-do-a-clean-uninstall-of-vs-code

[2021-09-06 12:29] #129872 closed

[2021-09-06 12:31] iqapps commented on #132453
Checking - yes, I do. I have both the User mode install and the system mode install. Let me try uninstall the user mode install, and retry. I bet you are right about this.

[2021-09-06 12:32] #132233 closed

[2021-09-06 12:33] LorisZ commented on #132271
I had the "Search only in Open Editors" Button active. I have no memory of clicking it, but maybe I hit it by accident? Wasn't even really aware of this option.

1. This is a very hidden button with huge impact on the results
2. It does not even say anything in the results about it, only "x results in y files" - Could at least mention "x results in y files - only searching open editors"
3. The lin

[2021-09-06 12:33] sandy081 commented on #132233
@bpasero Thanks for the tooling support. It helped to figure out what's going wrong.

[2021-09-06 12:33] joaomoreno commented on #130225
/duplicate #47841

As a workaround, please disable Windows background updates by setting `update.enableWindowsBackgroundUpdates` to `false`.

[2021-09-06 12:34] #130225 closed

[2021-09-06 12:34] joaomoreno commented on #129072
Yes please uninstall and reinstall VS Code.

[2021-09-06 12:34] #129072 closed

[2021-09-06 12:37] iqapps commented on #132453
Just tested it again.

Uninstalled the user mode app, and restarted a number of times, no updates coming through. Seems like the user mode was the updated one.

User mode app was started as preferred app on .log files, while the system mode app was started from shortcut.

You can close this. Sorry for the inconvenience.

[2021-09-06 12:37] bpasero commented on #132233
👏

[2021-09-06 12:38] joaomoreno commented on #130027
Why would the Desktop product use bits from the web?

[2021-09-06 12:38] sandy081 commented on #131022
Can you please point to a fresh user data dir and try again? To do this, you can launch code from command line as follows:
`code --user-data-dir <temp folder>`

[2021-09-06 12:38] bpasero commented on #131850
Upstream: https://github.com/electron/electron/issues/10124

[2021-09-06 12:38] lszomoru opened #132456 "Label badge not aligned vertically"
Steps to Reproduce:

1. Open the problems panel with at least one problem in it
2. Badge widget next to the file name is not aligned vertically
    <img width="782" alt="image" src="https://user-images.githubusercontent.com/3372902/132218791-c9e8b73e-5ad5-493d-94c5-7497644f9232.png">

[2021-09-06 12:39] memeplex opened #132457 "Native Notebooks - Editor + Output font style do not match"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.59.1
- OS Version: macOS 11.3.1

Steps to Reproduce:

Create a Jupyter notebook with `"Hello world"` as content execute it and look at the rendered output:

![image](https://user-images.githubusercontent.com/2845433/132218742-79003fc6-d2e7-4fd6-8298-d379df18741f.png)

This was reported previously in the now locked h

[2021-09-06 12:41] joaomoreno commented on #129343
Right click changes the focus. Depending on whether you already have a selection, the delete operation on right click will always work on focus, expect if you right click on an element which is already selected, in which case it will operate on the entire selection.

[2021-09-06 12:41] #129343 closed

[2021-09-06 12:42] memeplex commented on #132457
BTW this is my editor font configuration:

[code]

[2021-09-06 12:43] joaomoreno commented on #131850
Closing as per electron/electron#10124

[2021-09-06 12:43] #131850 closed

[2021-09-06 12:44] Gliptal commented on #132454
Same issue.

[2021-09-06 12:45] bpasero commented on #36700
@heartacker can you report issues you find with the implementation into new issues, then we can discuss there. I am not sure I can follow all the things you mentioned.

[2021-09-06 12:45] joaomoreno commented on #131270
/duplicate #47841

As a workaround, please disable Windows background updates by setting `update.enableWindowsBackgroundUpdates` to `false`.

[2021-09-06 12:45] #131270 closed

[2021-09-06 12:47] joaomoreno commented on #129667
Why exactly doesn't this help? You could create scripts that pass along the right folders for you.

[2021-09-06 12:47] Jaid commented on #132454
Duplicate of:
https://github.com/microsoft/vscode/issues/132150

Likely to be addressed in the next recovery patch:
https://github.com/microsoft/vscode/issues/132426

[2021-09-06 12:49] bpasero commented on #36700
Oh nevermind, I see the issue with `Ctrl+W` not working and fixed it already earlier today. I also added a toggle action to flip vertical/horizontal layout. This is driven by a new setting `workbench.editor.splitInGroupLayout`:

![recording](https://user-images.githubusercontent.com/900690/132219972-fa719c9f-9253-4e50-9074-01358ac59a47.gif)

Will be available in tomorrow's insider build.

[2021-09-06 12:49] memeplex commented on #132457
OTOH errors are shown using the right font, compare the two instance of `TypeError`:

![image](https://user-images.githubusercontent.com/2845433/132219970-fd5a9bd9-3f75-4fa3-9392-182450a78dea.png)

[2021-09-06 12:49] joaomoreno commented on #130763
This seems to be a problem in your OS, since the Snap store reports a newer build of code:

https://snapcraft.io/code

![image](https://user-images.githubusercontent.com/22350/132219989-faec3840-95da-4086-844d-247b832aed36.png)

[2021-09-06 12:49] #130763 closed

[2021-09-06 12:52] joaomoreno commented on #129168
Yeah I've seen that too. It should not restart.

[2021-09-06 12:54] isatria opened #132458 "The terminal process failed to launch: Cannot create process, error code: 5"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: Windows 10 Enterprise 64-bit Build 19042

Steps to Reproduce:

1. Right-click from the workspace.
2. Choose the "Open in integrated Terminal".

![vscode-terminal](https://user-images.githubusercontent.com/9941418/132219206-b4436eee-b5d7-4207-8a70-5a94f28e6b65.gif)

I have a problem while open the

[2021-09-06 12:55] KalyanMudundi commented on #131022
Hi @sandy081  I have tried using the above code and I am still facing the same issue. The error happens when installing python from extensions tab and also through VSIX file. As @matthewmanley8451  mentioned, this is happening only with certain extensions as he mentioned above. I was also able to install docker successfully. I am behind corporate netowrk/firewall.

[2021-09-06 12:56] joaomoreno commented on #131353
Also, can you uninstall and reinstall VS Code?

[2021-09-06 12:56] DanTup commented on #131537
I realised that after posting. All looks good now - thanks!

[2021-09-06 12:58] martin-braun commented on #26777
Hey everyone, big thanks to @wendellhu95 for working on a PR that will provide a 2nd side bar in VSCode to us. [He is looking for people](https://github.com/microsoft/vscode/pull/128599#issuecomment-913300178) to test his build and report any bugs before requesting the PR, right now. You still have to build it yourself, but a Windows build is on the way.

@Smugger21 You are free to have your opini

[2021-09-06 12:58] joaomoreno commented on #129841
https://git-scm.com/docs/gitignore#_pattern_format

[2021-09-06 12:58] #129841 closed

[2021-09-06 12:58] RenanZX opened #132459 "I Can't run my tasks in Bash Ubuntu for Windows"
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.60.0
- OS Version: Windows 10 64 Bits Build 19.043 Version: 10.0.19043

When i run a task in task.json, it run only in powershell for some reason, but i want to run in ubuntu terminal for windows. I put ```type:'bash'```, but it still doesn't works.

![Captura de tela 2021-09-06 100603](https://user-images.githubuser

[2021-09-06 13:00] #129820 closed

[2021-09-06 13:00] joaomoreno commented on #122141
Oh cool finding!

[2021-09-06 13:01] joaomoreno commented on #129281
@misolori Is this fixed now?

[2021-09-06 13:02] joaomoreno commented on #129340
#70646

[2021-09-06 13:02] #129340 closed

[2021-09-06 13:03] sandy081 commented on #132183
We treat visible channels specially to make sure they are as interactive as possible. For eg., if you append to the visible channel, output channel is updated instantly (of course, time to pass text from ext host to renderer shall be taken into consideration). It seems you want output channel to behave similar to normal text editor which I do not think is not the intention of the output channels.

[2021-09-06 13:05] little-wave opened #132460 "TypeScript and JavaScript Language Features v1.0.0 Built-in failure"
Issue Type: <b>Bug</b>

When any project opened, build-in core extension TypeScript and JavaScript Language Features v1.0.0 fails after initialization.
Occurs after vscode update to 1.6.0

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.442Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2021-09-06 13:05] HardKullez commented on #132232
Can barely reproduce it in .vue files, but looks like issue is Vetur-related and gets triggered by tab switching; Bracket colorization seems to work fine with extension being disabled

fyi: brackets sometimes even flashes to red for a moment and then get back to normal color
![Gif](https://user-images.githubusercontent.com/62354609/132220183-38d93491-67d3-48a0-829e-be98a40052b0.gif)
And always stu

[2021-09-06 13:06] bpasero commented on #130613
Terminal can control how the file opens via options such as:
* [`revealIfVisible`](https://github.com/microsoft/vscode/blob/22cf36faf81ca270390ec233389a81339b40b63a/src/vs/platform/editor/common/editor.ts#L228-L228)
* [`revealIfOpened`](https://github.com/microsoft/vscode/blob/22cf36faf81ca270390ec233389a81339b40b63a/src/vs/platform/editor/common/editor.ts#L236-L236)

Given groups new auto-lock fo

[2021-09-06 13:08] mfukala opened #132461 "dragover event always triggered on webview iframe"
"dragover" mouse event is incorrectly triggered on WebView's iframe if there's another iframe embedded in the WebView and user drags something inside this embedded iframe. Interestingly other events like dragstart/end are fired the proper frame.

The same situation works properly in standalone Chrome -- if a DOM element is dragged inside an iframe the dragover events (and other drag mouse events)

[2021-09-06 13:08] #132460 closed

[2021-09-06 13:09] sandy081 commented on #131022
We download the VSIXes to a cached folder here `<user-data-dir>/CachedExtensionVSIXs`. Please check that the downloaded VSIXes are good. Also delete these VSIXes and try again?

[2021-09-06 13:10] sandy081 commented on #130174
Please file issues against VSCodium

[2021-09-06 13:10] #130174 closed

[2021-09-06 13:11] jrieken commented on #132028
Did you configure this setting: `editor.codeLensFontSize`?

[2021-09-06 13:11] syllik opened #132462 "TypeScript and JavaScript Language Features v1.0.0 Built-in extension failure"
Issue Type: <b>Bug</b>

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff, 2021-09-01T10:54:53.442Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-1038NG7 CPU @ 2.00GHz (8 x 2000)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>multiple_raster_

[2021-09-06 13:13] sandy081 commented on #132124
Yes, tab / shift+tab should work. You can also navigate from quick pick as follows

- Open quick pick (cmd/ctrl+p)
- Type `view output`

[2021-09-06 13:13] #132124 closed

[2021-09-06 13:15] mfukala commented on #132461
short screencast of the problem
https://user-images.githubusercontent.com/5707673/132223000-7da81646-f124-475e-b14e-c8621289db26.mp4

[2021-09-06 13:16] #132456 closed

[2021-09-06 13:17] DanTup commented on #128198
Works in latest insiders - thanks!

[2021-09-06 13:18] KalyanMudundi commented on #131022
Hi @sandy081 Thanks for getting back. I see the VISXEs in that folder. I deleted and downloaded VSIXes numerous times but to no luck. For some reason those set of extensions are failing but extensions like are docker are working when behind corporate firewall/network. Any help to get this resolved is appreciated

[2021-09-06 13:21] formulahendry commented on #132426
Please include https://github.com/microsoft/vscode/issues/132150 in Recovery release, a lot of VS Code users and extension users are impacted by this.

[2021-09-06 13:22] Mohammed-Khalandar opened #132463 "Debugging"
Issue Type: <b>Bug</b>

Debugging python files is not working.
Here is my configuration.
"{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Python: Current File",
      "type": "python",

[2021-09-06 13:27] sandy081 commented on #132139
I partly own localizations support in VS Code especially recommending.

@digitarald It seems you come up with a fix. Do you mind opening a PR?

[2021-09-06 13:28] mfukala opened #132464 "Control over WebView's iframe origin"
Today when one creates a new WebView via window#createWebviewPanel API there's no control over the origin of the underlying iframe. The iframe gets an autogenerated ID that's part of the source URL. You get something like

`vscode-webview://bf4f6748-5e6c-4cf2-bc63-0ba7e97558a7/index.html?id=bf4f6748-5e6c-4cf2-bc63-0ba7e97558a7&...
`
as the origin of the iframe. Because of this origin changes every

[2021-09-06 13:32] sandy081 commented on #131022
Can you please share those downloaded VSIXs? Can you also try downloading the same from Marketplace web site directly?

[2021-09-06 13:33] sandy081 commented on #121131
Fine with me.

[2021-09-06 13:33] shoffmeister opened #132466 "XML content encoding detection bad or broken"
Issue Type: <b>Bug</b>

XML content encoding detection is highly annoying due to it being either bad or plain broken

XML specifically has embedded declarative encoding information which clearly defines the encoding of an XML document, e.g. `<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>`

vscode unfortunately totally ignores the encoding attribute and performs automagic - and then de

[2021-09-06 13:33] shoffmeister commented on #132466
Please note that this is core functionality and all extensions were disabled.

[2021-09-06 13:34] hiroshi-nakajima345 commented on #132448
I do not want published. in this column.
So,I try to inform,twiter.

[2021-09-06 13:35] sandy081 commented on #132026
Seems to be proxy related.

[2021-09-06 13:37] egamma opened #132467 "Iteration Plan for September 2021"
This plan captures our work in **September**. This is a 5-week iteration. We will ship in **early October**.

## Endgame

- **September 27, 2021**: Endgame
- **October 1, 2021**: Endgame done

The endgame details for this iteration are tracked [here](https://github.com/microsoft/vscode/issues?q=is%3Aissue+label%3Aendgame-plan+milestone%3A%22September+2021%22).

## Plan Items

Below is a summary of

[2021-09-06 13:39] fulldecent opened #132468 ""Breakpoints" for all file types"
Issue Type: <b>Feature Request</b>

On some file types, an extension will allow open files to have breakpoint markers set. These are individual lines marks (in red) which indicate where a debugger can stop.

Please note that that these breakpoints in VS Cdoe are useful for setting breakpoints but also they are useful as breadcrumbs or cheap bookmarks.

When the language server does not support bre

[2021-09-06 13:39] oskude opened #132469 "click on markdown preview links to local files without suffix/extension/extname get their editor tab closed"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.61.0 (git commit 8f68fcb5640c376671dbef79209f577e8d00b8d5)
- OS Version: Arch Linux kernel 5.13.13

Steps to Reproduce:

1. create files `blah.md`, `foo` and `foo.bar`
2. add markdown links in `blah.md` to `foo` and `foo.bar`
3. open `blah.md` as markdown preview
4. click link to `foo.bar`, it works (a new editor ta

[2021-09-06 13:40] Marcono1234 commented on #117657
It is also a bit weird that the behavior changes depending on whether you are authenticated within VS Code ([relevant code](https://github.com/microsoft/vscode/blob/f39bdbe9b4edcda58bf9e0c370b2039a8e45de4d/src/vs/code/electron-sandbox/issue/issueReporterMain.ts#L867-L869)). In my case I think I used the feature a few months ago when I was not authenticated within VS Code, authenticated in the mean

[2021-09-06 13:42] sandy081 commented on #132054
Settings are owned by the go extension. It needs initial investigation from the go extension. Hence closing it.

[2021-09-06 13:42] #132054 closed

[2021-09-06 13:44] sandy081 commented on #132139
Ignore above comment, I see the PR now.

[2021-09-06 13:47] sandy081 commented on #131672
@skandasoft I am really sorry that I am not following the issue. Can you please provide precise information about what is not working? It would be great if you can provide screenshots and logs as requested above.

[2021-09-06 13:48] sandy081 commented on #131877
Assigning to our accessibility expert @isidorn first to get initial insights.

[2021-09-06 13:50] sandy081 commented on #131641
I agree with @misolori opinions on dimming colors. To brief:

- I would remove the opacity
- Change to warning icon

[2021-09-06 13:51] KalyanMudundi commented on #131022
When I try to download from marketplace website its taking me directly to the marketplace in the vscode application(Which fails)

When I am trying to upload the downloaded VSIXs its "saying something went really wrong and we can't process that file", but here is the link to VSIX i'm trying to install https://marketplace.visualstudio.com/items?itemName=ms-python.python.

When this is downloaded fro

[2021-09-06 13:54] jeffreyyjp commented on #132232
@hediet The copied code is from another file, but I need to make sure that it's occurred for any copy$paste situations

[2021-09-06 13:54] #131641 closed

[2021-09-06 13:54] sandy081 commented on #131641
![image](https://user-images.githubusercontent.com/10746682/132227843-3748eebb-dae6-458e-983c-6a860e631265.png)

[2021-09-06 13:54] Nefcanto commented on #131393
Are you kidding me? What is the definition of an issue? Every other GUI application can be installed inside a docker and can be accessed using the host machine's display. VS Code is the only app that is not shown. If this is not an issue, then what is an issue?

I simply can't believe that you closed this. Shame on Microsoft.

[2021-09-06 13:57] weinand commented on #132150
Does it help if you set the setting `terminal.integrated.automationShell.windows` to "git-bash" (or whatever shell you want to use for tasks or debug)?

[2021-09-06 14:01] chrmarti commented on #132225
We patch `http` and `https` modules to add proxy support. Not sure we would add extension API for something that has many convenience npm packages, but maybe github.dev and similar setups could change that. /fyi @jrieken

[2021-09-06 14:02] yialo commented on #132150
No, it doesn't. But the following works in my case (Windows 10):

[code]

[2021-09-06 14:05] afassio commented on #132450
I found that only this ipynb (my son workfile in zip attached) does not work. I don't know why.
Other notebooks are ok
[python-for-beginners 1.zip](https://github.com/microsoft/vscode/files/7116448/python-for-beginners.1.zip)

[2021-09-06 14:13] gjsjohnmurray commented on #132468
Try setting `"debug.allowBreakpointsEverywhere": true`

[2021-09-06 14:15] pouyakary commented on #131656
This is getting interesting :)

[2021-09-06 14:15] gjsjohnmurray commented on #132462
Please use the `Start Extension Bisect` command to check whether the crash is being caused by any of your other extensions.

[2021-09-06 14:17] gjsjohnmurray commented on #132459
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-06 14:18] #132459 closed

[2021-09-06 14:18] gjsjohnmurray commented on #132458
Maybe a duplicate of #132150 which will be fixed in upcoming recovery release.

[2021-09-06 14:18] gjsjohnmurray commented on #132454
/duplicate - thanks @Jaid

[2021-09-06 14:19] #132454 closed

[2021-09-06 14:21] gjsjohnmurray commented on #132449
I see you are running 1.55. Are you able to update and re-test?

[2021-09-06 14:21] alexdima commented on #131465
No, we always did dispatching on `keydown`.

@wenfangdu This makes no sense. Unless... Is it possible that `Sougou Pinyin` looks at the current focused window and it behaves differently for `Code.exe`? What if you download VS Code Insiders (as a zip) and rename `Code - Insiders.exe` to `Code.exe`?

[2021-09-06 14:22] jsngalloway opened #132470 "Git 'accept (incoming/current) changes' affects rest of file"
Issue Type: <b>Bug</b>

When performing a git operation that yeilds git merge markups ( >>>>>>>>>>> ) vscode highlights these and the user can choose to accept incoming, current, or both. When an option is selected the appropriate text is removed but other parts of the file may not update the lines affected/highlighted by the merge conflict. If a user goes from top to bottom on a file accepting al

[2021-09-06 14:22] sandy081 commented on #131022
I think you are trying to install from the marketplace web site. But you can download the vsix from there:

![Screenshot 2021-09-06 at 16 22 01](https://user-images.githubusercontent.com/10746682/132231292-e8b7ee6e-4954-4bc1-bdc0-210a032e7910.png)

[2021-09-06 14:25] sandy081 commented on #131971
yeah in general order does not matter. But since settings are stored in a json file and users can format as they wish, resolving merges are made strict. So this is as design.

[2021-09-06 14:25] #131971 closed

[2021-09-06 14:26] voxpelli opened #132471 "Skip Inlay Hints for implicit variable types when instantiated with a new function"
I would like the following to not get an implicit variable types inlay hint:

[code]

[code]

Especially if I already have the inlay hints on for the function itself, then I don't need to be told both that the function will return `string` and that `foo` is of type `() => string`.

Its the worst for arrow functions, as the implicit variable type and the definition of a short arrow function are ver

[2021-09-06 14:28] hediet commented on #132232
@HardKullez

Even in case of the Vetur extension enabled, you disabled/uninstalled the bracket pair colorization extension, right?

[2021-09-06 14:32] voxpelli opened #132472 "Allow skipping Inlay Hints for arrow function return types"
For use with the [`p-settle`](https://github.com/sindresorhus/p-settle) module I had a piece of code that looked roughly like:

[code]

It became very hard to read with Inlay Hints on:

![Skärmavbild 2021-09-06 kl  16 30 36](https://user-images.githubusercontent.com/34457/132232308-529c386e-d6ec-4b21-a653-6c5ee871568d.png)

This is a similar problem as described in #132471. Maybe a full opt out o

[2021-09-06 14:34] #121131 closed

[2021-09-06 14:35] isidorn commented on #121131
I have also changed the title of the command to make it more explicit, since for new users it is not clear what keymaps are. Here's the before / after

![Screenshot 2021-09-06 at 16 23 07](https://user-images.githubusercontent.com/1926584/132232794-77a16cd6-93b4-45eb-be79-582c44e090d2.png)

![Screenshot 2021-09-06 at 16 30 59](https://user-images.githubusercontent.com/1926584/132232799-bc167237-c8

[2021-09-06 14:35] KalyanMudundi commented on #131022
I missed that. Thank you @sandy081. This ones size is  15,838 KB. I was hoping it work as its a bit bigger in size compared to the downloads from VSIX, but it failed unfortunately :(. here is the error.

[2021-09-06 09:33:17.112] [renderer1] [error] Corrupt ZIP: end of central directory record signature not found: validating: Corrupt ZIP: end of central directory record signature not found
    at

[2021-09-06 14:36] isidorn commented on #121131
We should also have a more prominent button from the `Keyboard Shorctus` UI to "Import Keyboard Shorcuts from".
Though I think @digitarald planned to create an issue for this.

@daviddossett this might be something to think about.

[2021-09-06 14:37] #122141 closed

[2021-09-06 14:38] isidorn commented on #131641
Great, thanks Sandy 👏
Let's try it out and see how it goes. Adding bug so I do not forget to verify this later.

[2021-09-06 14:40] hsenag commented on #132438
[Here's a small repro](https://github.com/microsoft/vscode/files/7116599/issue-961.zip). Only significant files are `src/extension.ts` and `package.json`. I reduced the problem to the difference between the completion containing a space after the initial text or not:

[code]

[2021-09-06 14:40] sandy081 commented on #119440
@jrieken My usage of optional services is because they (`IStorageService` & `IDownloadService`) are not available in CLI environment.

Added DownloadService to CLI but we do not have support for StorageService in CLI. @bpasero any recommendations?

[2021-09-06 14:42] pouyakary opened #132473 "Makefile grammar for function call separator syntax"
The `,` needs a syntax grammar

<img width="890" alt="Screen Shot 1400-06-15 at 19 11 45" src="https://user-images.githubusercontent.com/2157285/132234624-0b0ea0f7-bb6b-422d-a199-186680abb5a0.png">

[2021-09-06 14:43] Holt59 commented on #132353
Any updates on this? Makes using VS Code very hard... This also happens with the extensions tab, where most of the content on the extension page is not loaded.

Using the developer tools, I get the following logs (VS Code 1.60.0)

[code]

[2021-09-06 14:44] b0tm0de commented on #132249
![Animation2](https://user-images.githubusercontent.com/6636688/132233940-75adaeec-b27e-4a10-93f2-1cb8a89fc911.gif)

I disabled all extensions and disabled + uninstalled indent-rainbow

[2021-09-06 14:45] sandy081 commented on #131022
Can you please repeat it and share us following logs

`> F1 > Open View > Log (Shared)`

[2021-09-06 14:54] Chrg1001 opened #132475 "`terminal.integrated.defaultProfile.windows` no longer works on launching application."
When I updated VS Code to 1.60.0, despite setting Git Bash as the default Terminal, Powershell is launched when the app starts.

It properly works when I create new terminal with "Plus" button.

Environment:

- VS Code Version: 1.60.0
- OS Version: Microsoft Windows 11 [Insider Preview Build 22000.176]

`settings.json`

[code]

[2021-09-06 14:57] lorand-horvath opened #132476 "Please remove < > angle brackets pair colorization by default in all languages"
As per https://github.com/microsoft/vscode/issues/132175#issuecomment-913208461 I would like to ask to remove the default colorization in all languages for the `< >` pair. It creates a lot of issues in `.vue` SFC files, as you can see here:
https://github.com/microsoft/vscode/issues/132175#issue-987246726

Otherwise, we have to specifically ask each community extension developer to include the bra

[2021-09-06 14:58] heartacker commented on #94034
any updating? we need this  indeed

[2021-09-06 14:59] gjsjohnmurray commented on #132476
/assign @hediet

[2021-09-06 15:00] gjsjohnmurray commented on #132475
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-06 15:01] #132475 closed

[2021-09-06 15:03] SjorsHartwijk opened #132477 "Add accent-color to CSS IntelliSense"
New feature since Chrome 93+

https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color

[2021-09-06 15:03] huihuilovekuikui opened #132478 "a bug with “Open in Integrated Terminal“"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version:1.60.0
- OS Version:Win10

Steps to Reproduce:
I have set git bash as the default terminal, but when I execute "open in integrated terminal", the open terminal is still PowerShell.
![image](https://user-images.githubusercontent.com/66559869/132235037-f5a92e41-2cff-44f9-a4c0-811421fc39c5.png)
![image](https://user-image

[2021-09-06 15:06] lorand-horvath commented on #132175
@hediet Not really a good default to have angled brackets `< >` colorized in all languages, it probably generates more problems than it solves. I opened a new issue for this #132476

[2021-09-06 15:09] KalyanMudundi commented on #131022
Hi @sandy081 Here is the output:

[2021-09-06 10:03:21.394] [sharedprocess] [info] WSL is not installed, so could not detect WSL profiles
[2021-09-06 10:03:30.119] [sharedprocess] [info] Installing extension: ms-python.python
[2021-09-06 10:03:31.421] [sharedprocess] [info] Installing extension: ms-toolsai.jupyter
[2021-09-06 10:03:31.421] [sharedprocess] [info] Installing extension: ms-python.vsc

[2021-09-06 15:34] 0Grit commented on #116761
Yes please. WebHID, WebSerial would be excellent additions.

These are the final pieces of the puzzle to open up embedded development to the masses.

[2021-09-06 15:43] syllik commented on #132462
Same problem when all extensions is disabled
After stopping bisect cmd,  shows `The TypeScript language service died unexpectedly 5 times in the last 5 Minutes.
`

![image](https://user-images.githubusercontent.com/9326239/132239353-dafda791-9418-41dc-9ecb-6ffc50fa0006.png)
![image](https://user-images.githubusercontent.com/9326239/132240363-bf91b0d4-9996-4b71-b69a-7e7d11e2a573.png)

due to Log (E

[2021-09-06 15:44] Gruntfuggly commented on #132228
Of course it's not reproducible. 🙄 I have seen it again since though. Could it possibly be something to do with git changing the file "underneath" the editor?

Next time it happens I will try to work out what caused it.

[2021-09-06 15:48] Pomax opened #132480 "new powershell default keeps opening on startup despite having set the default back to cmd"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.60.0
- OS Version: Win10 pro x64

Steps to Reproduce:

1. ctrl-shift-p -> Terminal: selected default profile -> set "command prompt" as the default terminal to use (because powershell does not support cross-platform syntax like `&` chaining, making it utterly useless for cross-platform projects)
1. make sure the wor

[2021-09-06 15:51] cenkt opened #132481 "Can we have an option to center align the plots in output cells in notebooks"

[2021-09-06 15:52] kagu-tsuchi opened #132482 "Java Process Console doesn't scan Cyrillic script."
Does this issue occur when all extensions are disabled?  Yes

- VS Code Version:1.60.0
- OS Version: Windows 10 Pro 10.0.19043 Build 19043
- VSCode Encoding: UTF-8;
- Windows Encoding: UTF-8;

Steps to Reproduce:
1. Copy and paste the following code.
`import java.util.Scanner;`
`class App {`
    `public static void main(String[] args) {`
     `Scanner input = new Scanner(System.in);`
      `String

[2021-09-06 15:56] DmitrijStr commented on #132462
Same issue on VS Code 1.60.0 Ubuntu 20.04.3 without any extension

[2021-09-06 16:04] bpasero commented on #119440
@sandy081 then we add it? since workspace storage moved to `electron-main` years ago, we have full access to all storage from the main process.

[2021-09-06 16:08] bpasero commented on #132218
I have disabled the search smoke tests on Windows.

[2021-09-06 16:12] runxel commented on #132336
@hediet
This should not necessarily live in the extension alone!
I think the user should have the power to overwrite this in his personal settings.

[2021-09-06 16:13] bpasero opened #132483 "Watcher: use `nsfw` as main watcher across all OS"
Growing tired of maintaining 3 different file watcher solutions and the one being known to [explode on large folders](https://github.com/issues/assigned), I would suggest to make `nsfw` our one and only watcher across all platforms and independent from multi root or not.

//cc @Tyriar @aeschli @deepak1556

[2021-09-06 16:19] connectdotz opened #132484 "`vscode.revealTestInExplorer` not working"
Issue Type: <b>Bug</b>

invoking the command with a valid testId
[code]

see following error in console:
[code]

VS Code version: Code - Insiders 1.61.0-insider (Universal) (a3fce6207d9364afcfccaa55efc82ff8a392fdd5, 2021-09-06T08:00:26.354Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8700B CPU @ 3.2

[2021-09-06 16:35] meandmymind opened #132486 "Notebook Editor: allow changing markdown token colors"
I want to change the foreground color in markdown cells. In my theme it looks too bleak and the only way to customize it now is to change foreground color of all VSCode, that changes many other elements I don't want to have changed.

#### What I have
![image](https://user-images.githubusercontent.com/24773652/132245476-d75b9fd5-ef32-4296-86f8-8893bf6a85a7.png)

#### What I want
![image](https://us

[2021-09-06 16:37] IllusionMH commented on #132480
/duplicate of #132150 or #128763

[2021-09-06 16:38] #132480 closed

[2021-09-06 16:40] bpasero commented on #131121
This issue is caused by an extension, please file it with the repository (or contact) the extension has linked in its overview in VS Code or the [marketplace](https://aka.ms/vscodemarketplace) for VS Code. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2021-09-06 16:40] #131121 closed

[2021-09-06 16:40] gjsjohnmurray commented on #132478
/duplicate of #132150 and will be fixed in upcoming recovery release.

[2021-09-06 16:40] bpasero commented on #131258
Closing as this is an upstream issue.

[2021-09-06 16:40] #131258 closed

[2021-09-06 16:41] bpasero commented on #131382
This issue is caused by an extension, please file it with the repository (or contact) the extension has linked in its overview in VS Code or the [marketplace](https://aka.ms/vscodemarketplace) for VS Code. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2021-09-06 16:41] #131382 closed

[2021-09-06 16:41] #132478 closed

[2021-09-06 16:41] bpasero commented on #131738
This issue is caused by an extension, please file it with the repository (or contact) the extension has linked in its overview in VS Code or the [marketplace](https://aka.ms/vscodemarketplace) for VS Code. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2021-09-06 16:41] #131738 closed

[2021-09-06 16:42] bpasero commented on #131842
This issue is caused by an extension, please file it with the repository (or contact) the extension has linked in its overview in VS Code or the [marketplace](https://aka.ms/vscodemarketplace) for VS Code. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2021-09-06 16:42] #131842 closed

[2021-09-06 16:42] bpasero commented on #131860
This issue is caused by an extension, please file it with the repository (or contact) the extension has linked in its overview in VS Code or the [marketplace](https://aka.ms/vscodemarketplace) for VS Code. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2021-09-06 16:42] #131860 closed

[2021-09-06 16:47] nikita-kiryanov opened #132487 "Debugger UI not activating when triggering breakpoint without focus"
Issue Type: <b>Bug</b>

- Start a debugging session, and place a breakpoint.
- Switch to your app, and cause the breakpoint to be activated.
- The Visual Studio Code icon on the Windows taskbar will flash, indicating new activity.
- Switch to VSCode, and observe that the breakpoint is not highlighted, and the debug controls are not engaged.
- Minimize VSCode and maximize it again. Suddenly the deb

[2021-09-06 16:49] Suven-p commented on #132432
Would these be non-programming languages? diff, dockerfile, dockercompose, git-commit, git-rebase, ignore, ini search-result, shaderlab, xsl

[2021-09-06 16:55] AnrDaemon commented on #13960
I have a feeling this discussion is driving away from the subject.

[2021-09-06 17:02] lorand-horvath commented on #132432
@Suven-p Good question... I think only the angle brackets `< >` colorization should be removed by default, from ALL languages/file extensions, and I hope that will be the road taken in #132476

[2021-09-06 17:04] RuppBen commented on #131230
Hi, I am  having this issue to, by starting code from the terminal with:

i get the error:

But I can access the marketplace
Note:
Before this I completely deleted code/electron and all user data
starting code normally from the terminal does not work around the issue

[2021-09-06 17:11] sandy081 commented on #119440
Seems its not trivial to add based on the comment from here https://github.com/microsoft/vscode/issues/63903#issuecomment-470836331

[2021-09-06 17:11] runxel commented on #132026
No proxy here. But still having this problem from time to time.
It's quite erratic, tho!
Sometimes even just closing and opening the sidebar will resolve this issue. It is just so random.

[2021-09-06 17:15] bpasero commented on #119440
Yes, CLI needs to join the running instance for such a call to storage.

Since it was optional so far in the CLI, I would just throw in an in-memory storage service that does nothing to get away with it. Looks like we never needed it in the first place...

[2021-09-06 17:22] connor4312 commented on #127861
@snalesso the freeze issue is tracked in https://github.com/microsoft/vscode/issues/123257

[2021-09-06 17:35] isidorn commented on #131893
@sandy081 thanks for pushing the fix.
In order to have a cleaner discussion around opening let's continue that here https://github.com/microsoft/vscode/issues/131894

As for this issue, your fixes address the original comment. Thus closing.

[2021-09-06 17:37] isidorn commented on #131894
Parts of the discussion from https://github.com/microsoft/vscode/issues/131893

@bpasero A slight variant of the proposal is to allow "File > Open Workspace from File" and being able to select "pom.xml" or even C# solution files 👍

@JoeRobich and @nohwnd for `.csproj` files

[2021-09-06 18:14] Nahor opened #132488 "With bracket colorization, handle symmetric block of brackets in a single color"
To avoid an overload of colors, it would be nice that for the new bracket colorization, if there was an option to keep symmetric "chunks" of brackets in a single colors. IMHO, the colorization is mostly used to easily identify which opening goes with what closing. If multiple openings and multiple closings are both clump together, it's not that useful to know which specific opening bracket goes wi

[2021-09-06 18:15] hediet commented on #132476
@alexdima what do you think? I think that's a reasonable request.
I think the current default is more natural, but the requested default is more common (at least in 2021, who knows how programming languages of the next decade look).

[2021-09-06 18:16] FuPeiJiang commented on #132368
I think I found where it's implemented
after searching in all files `Ctrl + click`, I found
[code]

then, using the debugger call stack, I find out that function `linkify` is the root of this

https://github.com/microsoft/vscode/blob/769d5fb521a047073eaad740a3d8620b95c57be6/src/vs/workbench/contrib/debug/browser/linkDetector.ts#L59

[2021-09-06 18:19] hediet commented on #132336
I think you might be looking for https://github.com/microsoft/vscode/issues/131412.

[2021-09-06 18:22] hediet commented on #132228
Maybe.
What counts is the initial state when you open the editor and all delta operations until you close the editor.

[2021-09-06 18:26] Nahor commented on #131027
@oaahmad, I've added a proposal that could help with some of your distraction issues: #132488.
It's not a replacement for this feature, but it will help further to avoid "unnecessary" change of colors (in your example, it would help for "[["one":"two"]]" and "[[This is a very useless... clear]]")

[2021-09-06 18:28] IllusionMH commented on #132476
@hediet It is possible for extension to specify which pairs can be colored? Similar to #131412 which is more user space (settings).

[2021-09-06 18:37] lorand-horvath commented on #132476
@IllusionMH The ability to customize which pairs to be colored at the extension level, would be nice. I'm not sure @hediet if that is possible and how exactly (there's currently missing documentation about this).

I would even take it another step further: the possibility to choose the color of certain bracket pairs. For example, I would like to have `{{ }}` and `{% %}` in `.vue` and `.liquid` fil

[2021-09-06 18:38] jacksteamdev commented on #132307
I also experienced this after installing VSCode @ 1.60.0

`enableContentValidation: false` works it for me too, here's a trace log without it:

[vscode-debugadapter-234cc3c0.json.gz](https://github.com/microsoft/vscode/files/7117488/vscode-debugadapter-234cc3c0.json.gz)

[2021-09-06 18:42] zarrellab opened #132489 "ARM Mac M1 Does Not Run ARM in Intergrated Terminal"
Issue Type: <b>Bug</b>

On a MacBook M1, I have been using zsh version: `5.8 (arm-apple-darwin20.2.0)` successfully in iTerm and Terminal. However, in the VSCode integrated termainl, this version will not run, causing a split in my development environment. The zsh version in the integrated terminal is:  `5.8 (x86_64-apple-darwin20.0)`

To repro:

1. On Mac with an M1 processor
1. Install the newes

[2021-09-06 18:43] Nahor commented on #132249
It's even weirder than the description says: there was no colorization when the code was NOT commented out.

Maybe there is a race condition between the colorizer and the rendering? Like the rendering happening before the colorizer or something like that? Then the described issue is that once commented out, the bracket colorization didn't get removed YET, and once removed, there is no refresh of t

[2021-09-06 18:53] isidorn commented on #131877
Dislike, dup of https://github.com/microsoft/vscode/issues/131718
Same as what I wrote in that issue in this comment https://github.com/microsoft/vscode/issues/131718#issuecomment-908314958

[2021-09-06 18:53] #131877 closed

[2021-09-06 19:01] isidorn commented on #131909
@roblourens Sorry for the slow response.

I tried this out and the expanded state gets read for me as soon as it gets expanded which is expected. The expanded state should not be read when focus moved on one of the option elements. So this is fine.

However I did find one thing which we could improve. The dropdown in the settings editor has no `aria-label` set so the screen reader reads "list expa

[2021-09-06 19:03] ratajs commented on #13960
Thanks to all the conversing, it’s in the TOP 15 VS Code issues by most comments.

[2021-09-06 19:03] isidorn commented on #130419
There are no action items on the vscode side. Thus closing this.

[2021-09-06 19:03] #130419 closed

[2021-09-06 19:11] fvclaus opened #132490 "Providing completions with parameters does not work well with parameter hints"
Sorry if this is the wrong repo. I am not sure, if this belongs here, on
vscode-languageserver-node or the language server.

I am using vscode-java and there are few quirks regarding parameter hints and completions.

Completions and parameter hints will be displayed at the same time:
![java_completion](https://user-images.githubusercontent.com/2384738/132253788-be92bf1c-50f6-4128-b305-3f7420fdf795

[2021-09-06 19:13] AlonsoGalicia opened #132491 "Bracket pair colorization"
Issue Type: <b>Bug</b>

If I use the following lines of code:
<v-text-field
        v-model="phoneInput"
        :append-icon="index > 0 ? 'mdi-trash-can' : 'mdi-cellphone'"
        label="Phone"
        @click:append="deleteInd"
      />
The "bracket" is closed inside the "append" comparison, instead of the line where contains "/>"

VS Code version: Code 1.60.0 (e7d7e9a9348e6a8cc8c03f877d39cb72e5

[2021-09-06 19:15] isidorn commented on #122775
That is expected. When there is only one session we do not show it in the call stack view (to simplify). Thus in that case it is not collapsable. What I fixed here is
"We should not collapse a paused session when a new session arrives."

No further changes planned here, as we did not receive any other negative feedback regarding this behaviour

[2021-09-06 19:18] Column01 commented on #131523
Was this fixed or did you just close it because?

[2021-09-06 19:28] josephgarnier commented on #131710
@Samega7Cattac maybe this post could help: https://github.com/microsoft/vscode/issues/4651#issue-143290321

[2021-09-06 19:31] Pomax commented on #132480
@IllusionMH the first one is about remote workspaces, which doesn't apply here, the second appears to be a closed issue that concluded with a workaround, not a proper fix?

[2021-09-06 19:37] mohammadmjn commented on #128763
I'm experiencing this annoying issue after updating to 1.60.0 stable release. I mean when close VS Code and open it again, at startup it opens `PowerShell` every time even after choosing `Git Bash` as default terminal.
[code]
And my `setting.json` is as follows:
[code]

[2021-09-06 19:38] IllusionMH commented on #132480
Why workaround? First issue closed with commit to `main` branch as third action on it. It needs to be added to recovery for stable release.
Second issue is basically same but found in Insiders before 1.60 and reproducible without remote.

[2021-09-06 19:39] HardKullez commented on #132232
Not exactly, i meant disabling Vetur; No Bracket pair colorization extension installed at all

[2021-09-06 19:39] cdxn commented on #128763
can we get an easy update until this is fixed? update to not open an integrated terminal on start?

[2021-09-06 19:41] IllusionMH commented on #132491
Please use code blocks for code as currently firmatting and code us list in your report. Also please include screenshots if result.
[code]

Also note that there are couple of requests to remove `<>` from coloring if it helps.

[2021-09-06 19:43] KyleCrawford opened #132492 "Not closing div tag when nested in li and another div"
Issue Type: <b>Bug</b>

The issue is the auto closing tags for HTML/JSX.
When nesting a div inside of another div nested in a li, the second div closing tag will not auto complete
eg. A React component (a .js file) that has the following code.

const Component = props => {
    return (
        <li>
            <div>
                <div>**** this is where the closing tag will not auto complete, al

[2021-09-06 20:04] TabithaLarkin opened #132493 "Add bracket pair colorization settings for Solarized Dark theme"
When the Solarized Dark theme is in use, there should be specific colours configured to match the theme in use.

![image](https://user-images.githubusercontent.com/3467306/132257586-85f977b6-9e92-4c3d-9d0e-f61abea0a79e.png)

This shows the default bracket colours in use when the `editor.bracketPairColorization.enabled` flag is set to `true`.

![image](https://user-images.githubusercontent.com/3467

[2021-09-06 20:25] hediet commented on #132476
@IllusionMH yes that is possible. Every language should have a language-configuration.json, provided by some extension (the file can be named differently though). This file can define general brackets, [but also which brackets to colorize](https://github.com/microsoft/vscode/blob/997228d528d687fd17cbf3ba117a0d4f668c1393/extensions/javascript/tags-language-configuration.json#L11).