[2016-07-08 17:35] tryangul commented on #8950
same here:
* vs code 1.3
* ubuntu 14.04

[2016-07-08 17:37] Tyriar commented on #8876
I can reproduce by installing 1.0.0 and upgrading to 1.3.0 on Ubuntu 16.04. Here is the console:

<details>
<summary>Click to expand</summary>
<pre>Conflict detected, command `workbench.action.output.toggleOutput` cannot be triggered by ctrl+shift+h due to workbench.action.replaceInFiles
shell.ts:416 Cannot read property 'version' of undefined: TypeError: Cannot read property 'version' of undefine

[2016-07-08 17:42] SachinMaharana commented on #8950
@tryangulI had it solved by removing and reinstalling. might work out for you.
sudo apt-get remove --purge code
Also, remove /usr/share/code and ~/.vscode
Reinstall again. It worked.

[2016-07-08 17:44] Tyriar commented on #8876
Closing the file, clearing the console and then clicking a .js file gives:

[code]

I've seen this one before in https://github.com/Microsoft/vscode/issues/7496

[code]

[2016-07-08 17:45] Tyriar commented on #8876
/cc @alexandrudima

[code]

[2016-07-08 17:45] bgashler1 commented on #8871
I'm noticing that if there are no folding buttons in the folding column that a click does not place a caret in the editor, which I agree can be annoying when there are no indent guides enabled.

I'm wondering if making it so clicking anywhere in the folding column will pass clicks to the editor on the left-most edge of it (thus placing a caret more easily).  We could make only the folding buttons

[2016-07-08 17:46] Tyriar commented on #8876
To work around the problem you can run:

[code]

[2016-07-08 17:48] AltekkeE commented on #8791
This was working for me in previous versions but isn't any more

[2016-07-08 17:57] Tyriar commented on #8876
Ok, so I know what's happening now. `Replaces` in the deb control (see https://github.com/Microsoft/vscode/issues/8943) only replaces files, it does not attempt to remove the files before installing the new package. When node modules were flattened in 1.2(?) this causes an issue as when `vscode-textmate` tries to resolve `oniguruma` it finds `/usr/share/code/resources/app/node_modules/vscode-textm

[2016-07-08 17:58] bgashler1 commented on #8913
Thanks for the feedback.

@bpasero we could talk more about this at UX sync, but just as an initial idea, could we distinguish between one click and a double click on just the file name (for tabs-disabled only)?  If so, a single click could open the recent files list, and we could still use the double click to "Keep Editor."  I think it's worth adding back myself, because I actually remember using

[2016-07-08 17:58] Tyriar commented on #8943
Continued discussion in https://github.com/Microsoft/vscode/issues/8876

[2016-07-08 17:59] aymone opened #8965 "Visual studio adding extra spaces on function shorthands"
- VSCode Version: 1.3
- OS Version: Ubuntu 16.04
- Language: JS

Steps to Reproduce:

1.Create a simple object with functions shorthand like:
[code]

2.Use VSCode auto format (ctrl+shift+i):
[code]

Any way to disable this?

[2016-07-08 18:08] Tyriar commented on #8876
This does indeed remove the `visual-studio-code` package and `/usr/share/code/resources/app/node_modules/vscode-textmate/node_modules/`:

[code]

Install output:

[code]

It introduces more problems though, the terminal doesn't work and oniguruma is complaining about something else now:

[code]

[2016-07-08 18:10] bpasero commented on #8913
That is up for discussion because initially we wanted to make the file name area rich and clickable to do some actions on it when tabs are disabled. however, this did not make it into the release and we might need to revisit what to do then. note that this does not help in the case where tabs are enabled.

[2016-07-08 18:11] alxzoomer commented on #8946
Same problem on windows 10 x64.
[Terminal is not launched screenshot](http://i.imgur.com/oc7rJhV.png)

[2016-07-08 18:16] Tyriar commented on #8876
Actually this last one is likely because I haven't cleared my local `node_modules` after Electron was downgraded.

[2016-07-08 18:18] SeijiSuenaga commented on #8828
I can corroborate this issue.

- VSCode 1.3.0 commit e724f26
- Windows 10.0.10586 Build 10586

[2016-07-08 18:19] mwenning commented on #8960
fpahl, you're right it does.  Thanks.
so upgrade procedure is:
1. Remove the old one with 'sudo apt-get remove visual-studio-code'
2. Install new one (1.3.0)
3. Reboot.
4. Remember that the 1.3.0 version is called 'code' instead of 'visual-studio-code'

[2016-07-08 18:22] glen-84 commented on #8957
[code]

[2016-07-08 18:24] #8876 closed

[2016-07-08 18:25] Tyriar commented on #8876
Pushed a fix :+1: recommended for 1.3.1.

[2016-07-08 18:25] Tyriar commented on #7496
See #8876 for the resolution on this.

[2016-07-08 18:32] Rigg802 commented on #7998
someone had a similar issue here too and it worked: https://github.com/Microsoft/vscode/issues/1982

[2016-07-08 18:32] emzero opened #8966 "Integratel Terminal doesn't find commands from PATH"
- VSCode Version:
Version 1.3.0
Commit e724f269ded347b49fcf1657fc576399354e6703
Date 2016-07-07T16:56:12.476Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0

- OS Version:
Windows 7 x64 SP1

I have installed Git for Windows with both the git and Unix commands in the PATH.

VSCode doesn't seem to find the Unix commands.

![image](https://cloud.githubusercontent.com/assets/412489/16697663/2d31a8a0-4

[2016-07-08 18:34] r105m opened #8967 "extension installing is not working in vs"
- VSCode Version:
e724f269ded347b49fcf1657fc576399354e6703
- OS Version:
fedora 24

Steps to Reproduce:

1. open c# extension in new extension tab
2. press install

actual result: nothing happens
expected result: successfully installed c# extension

Steps to Reproduce 2:

1. ctrl-p
2. ext install csharp
3. enter

actual result: nothing happens
expected result: successfully installed c# extension

[2016-07-08 18:35] rcarmo commented on #7998
I'm going to have a go at this (both reproducing and understanding _exactly_ why the symlink works, and if it works with my git plugins) within the next few days and will report back.

[2016-07-08 18:36] adstep commented on #7000
I've played around with the code and think I can make a PR for this. Just wondering whether it would be better to surface:

${relDir}  path to the directory of the current opened file based off the cwd
or
${relFile} path to the current opened file based off the cwd

[2016-07-08 18:39] Tyriar commented on #8893
Related: #8827

[2016-07-08 18:40] Tyriar commented on #8827
Blocked on the upstream Linkify addon (#27) before I move on this.

[2016-07-08 18:40] Tyriar commented on #8893
Blocked on the upstream Linkify addon (#27) before I move on this.

[2016-07-08 18:40] aflat opened #8968 "Mismatched colors on retina display vs thunderbolt display"
- VSCode Version: 1.2
- OS Version: OSX 10.11.4

Steps to Reproduce: Have a document open, move it from a retina display to a thunderbolt display

The colors don't match when I move the editor from my laptops retina display to a thunderbolt display. I'm guessing it's due to electron, since the same issue is seen here

https://discuss.atom.io/t/text-color-different-on-retina-vs-thunderbolt-display/

[2016-07-08 18:47] Tyriar commented on #7540
I want to remove `workbench.action.terminal.focus` in favor of `workbench.action.focusPanel` now, but I see you removed the command deprecation code in https://github.com/Microsoft/vscode/commit/375bd623051ed338a4ef426e28628490b3a757a7 @bpasero? I would think that this code should stay in for good, with the command mappings being present for at least several versions (I just got a bug of several p

[2016-07-08 18:49] gvn182 commented on #8967
+1

CentOS 7

[2016-07-08 18:56] mike-morrison opened #8969 "Integrated Terminal fails on Bash on Ubuntu on Windows (pre-release)"
- VSCode Version: Code - Insiders 1.4.0-insider (4c0676ab472a92f5269ac4995cdc81db8bc94896, 2016-07-08T15:19:23.853Z)
- OS Version: Windows_NT ia32 10.0.14371

I mainly wanted to get this documented, this may not be a supported scenario, but it is one I would like to request as an enhancement if its not.  I understand that Bash on Windows is pre-release.  Not expecting miracles, just wanted to get

[2016-07-08 18:58] Tyriar commented on #8969
Duplicate of 7345

[2016-07-08 18:58] #8969 closed

[2016-07-08 18:58] sparetire commented on #8944
Same issue.
But when I drag a file to tab bar, the next file works correctly.
![bug](https://cloud.githubusercontent.com/assets/3754438/16698453/e2944a90-4580-11e6-8fd2-10f8d74d3c6a.gif)

[2016-07-08 18:59] sapropel commented on #8967
+1 Ubuntu 16.04

[2016-07-08 18:59] danekan commented on #7346
Now with the latest insiders build (and actually one prior I had noticed earlier this week) I cannot even copy/paste into the integrated powershell console. Right click does nothing, CTL V literally displays the ^V.

[2016-07-08 19:00] Tyriar commented on #8966
If `ls` is on `PATH`, can you print out path both the native and integrated terminal?

One of these should work:

[code]

[2016-07-08 19:02] Tyriar commented on #8946
Can you open developer tools (Help > Toggle Developer Tools) and check the console for any errors?

Also do either of you have a custom shell or any terminal-related settings in `settings.json`?

[2016-07-08 19:04] Tyriar commented on #8950
Did you upgrade from something other than v1.2.0? See #8876

Possible work around:

[code]

[2016-07-08 19:05] r105m commented on #8967
it works if you kill all vscode processes and remove all  vscode directories

[2016-07-08 19:06] Tyriar commented on #7346
@danekan this is expected, use <kbd>ctrl</kbd>+<kbd>c</kbd> to copy and <kbd>shift</kbd>+<kbd>v</kbd> to paste until #6451 is resolved (see that issue for details on future plans). Also related: #8818

[2016-07-08 19:06] emzero commented on #8966
[code]

Both cmd and integrated terminal shows this. It doesn't seem accurate though since I've removed the old DNX runtines for example and they are still showing up. Will try restarting.

[2016-07-08 19:07] CodeCyclone opened #8970 "PowerShell parsing doesn't understand referencing properties by using quotes"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.14372

Steps to Reproduce:

1. Open a new tab
2. Change the language mode to PowerShell
3. Paste in this text:
Write-Host -Object 'Looks good';
$xml = [xml]'<root><dash-it-all>text</dash-it-all></root>';
$xml.root.'dash-it-all';
Write-Host -Object 'Looks bad'

Expect

[2016-07-08 19:08] Tyriar commented on #8966
The integrated terminal literally runs cmd.exe and pipes data back and forth. If `ls` is not working I suspect some other trickery is going on with your cmd window like it's running inside another program or something. If your native window is git bash you need to set that up as the shell in settings, see #7286

[2016-07-08 19:10] CodeCyclone commented on #8970
Screenshot
![image](https://cloud.githubusercontent.com/assets/9702314/16698783/e71a250c-4504-11e6-89eb-d45a5c02cd88.png)

[2016-07-08 19:10] Tyriar commented on #8960
This is a duplicate of https://github.com/Microsoft/vscode/issues/8859#issuecomment-231410408, see there for root cause and steps to fix.

[2016-07-08 19:10] #8960 closed

[2016-07-08 19:11] emzero commented on #8966
Restarting the pc did the trick. Sorry!

[2016-07-08 19:11] #8966 closed

[2016-07-08 19:12] Tyriar commented on #8966
Good to hear :+1:

[2016-07-08 19:16] CodeCyclone commented on #8970
It looks like this will be fixed in an upcoming update.
https://github.com/PowerShell/EditorSyntax/issues/11
https://github.com/PowerShell/EditorSyntax/pull/12

[2016-07-08 19:16] #8970 closed

[2016-07-08 19:23] sapropel commented on #8967
@r105m you're right it worked, but ill add that you don't need to remove all vscode directories, only the one in .cache (at least it was enough for me).

thanks.

[2016-07-08 19:24] alxzoomer commented on #8946
My user settings:
{
    "editor.renderWhitespace": true,
    "files.trimTrailingWhitespace": true,
    "editor.fontFamily": "Source Code Pro",
    "editor.fontSize": 0,
    "editor.glyphMargin": true,
    "editor.rulers": [120]
}

When I press Ctrl+` to open terminal no errors in developer tools. When I'm closed it I see 3 error messages:
[code]
...long address... is URL parameters.

When I commen

[2016-07-08 19:24] jensvdh commented on #7240
Any of idea of what it would take to implement a "terminalFocus" when condition? Would love to contribute to get this issue solved. I hit cmd+k quite a lot out of habit!

[2016-07-08 19:29] vsccarl commented on #4805
Yes. I was using the build node_modules folder.

[2016-07-08 19:32] gerhardcit opened #8971 "Electron Helper runs 99% of CPU after last update."
- VSCode Version: Code - Insiders 1.4.0-insider (4c0676ab472a92f5269ac4995cdc81db8bc94896, 2016-07-08T15:15:41.390Z)
- OS Version: Darwin x64 15.5.0

Steps to Reproduce:

1. Install latest Insider on MacBook Pro (Retina, 15-inch, Late 2013) OSX 10.11.5 (15F34)
2. Seems that open second project make it go like this. Node Express apps mostly.

It started on prev version.. but after a longer time. No

[2016-07-08 19:40] gvn182 commented on #8967
@r105m can you tell me where can i find this folder?

[2016-07-08 19:46] ahmetenis commented on #8946
There are no errors in the console.
In my settings.json file `editor.fontSize` was also set to 0 after removing this line the problem is solved. I don't know why I left it like that. Anyways thanks for your help.

[2016-07-08 19:48] cmegown commented on #8767
I do not get the same result. Here's my `settings.json`:

[code]

I tried saving an existing `.html` file, as well as creating a new `.html` file, and did not see the correct result either time. Side note: why not allow for inserting a new line at the end of any file type?

[2016-07-08 19:54] elvarb commented on #8950
Having the same problem on Windows here, trying reinstall

[2016-07-08 20:03] Tyriar commented on #7240
@jensvdh https://github.com/sourcelair/xterm.js/issues/118 will probably fix the issue without requiring a terminalFocus event, I'm hoping to get this done for July.

[2016-07-08 20:05] Tyriar commented on #8950
@elvarb can you create another issue with more details on this?

[2016-07-08 20:08] Dekeyras opened #8972 "Can not paste into terminal"
- VSCode Version: 1.3.0
- OS Version: Windows 10

Steps to Reproduce:

1. Open terminal in editor
2. Right click in terminal window

Expected:
Context menu shows

Actual:
No context menu. Ctrl+V does not paste so there is no way to mark or paste into the terminal.

[2016-07-08 20:24] Kingscity opened #8973 "Apps shut down/freezes after a while"
- VSCode Version: 1.3.0
- OS Version: Windows 10

After a while of editing, the apps freezes. It's happen quite often after upgrade to new version

[2016-07-08 20:35] shanalikhan opened #8974 "Any way to run the event when any extenion / theme installed ?"
Is there any way that i can catch up if there is any extension installed , so i can write that code in my extension that will run in post intallation process of other extension installed in Vscode ?

[2016-07-08 20:49] iambibhas opened #8975 "Opening a new tab/untitled/unsaved file from text content"
- VSCode Version: 1.3.0
- OS Version: Ubuntu 14.04

I'm building an extension where I need to show the user a git patch. I have the patch string in a variable, but I have to show that to the user in a new tab/document on the side. I'm kind of clueless how to achieve that. I'm reading about `TextDocumentContentProvider` but not sure how to set the content for it. Is there any example for this?

[2016-07-08 20:59] gerane commented on #8947
After upgrading to new build and closing and reopening several different projects, it looks like this started to work again.

[2016-07-08 21:01] Tyriar commented on #8946
Thanks, I'll reopen and do a fix for this, it shouldn't break the terminal since 0 seems to be valid for the fallback `editor.fontSize`.

[2016-07-08 21:15] vladon opened #8976 "VSCode does not restore its window after minimized and called for open another file"
- VSCode Version: 1.3.0
- OS Version: Windows 10 Pro 1511 Build 10586.420

Steps to Reproduce:

1. Open VSCode
2. Minimize it
3. Open another file from any file manager, for example by pressing F4 in Total Commander (where VSCode is set as default editor)
4. VSCode does not restore its window, but just flashes in taskbar. One need to Alt-Tab to its window. It is uncomfortable.

[2016-07-08 21:19] mcaballeropinto commented on #8045
Awesome!

How can I get the version that contains the patch? When will it be shipped?

Thanks!

[2016-07-08 21:19] Tyriar opened #8977 "package.json dependency hover can break with links"
![image](https://cloud.githubusercontent.com/assets/2193314/16701773/e05c75d2-4516-11e6-8db4-19e70fcee6a4.png)

npm module https://www.npmjs.com/package/angular-ui-bootstrap

via https://twitter.com/zwacky/status/751394828844400640

[2016-07-08 21:27] wtjones commented on #8976
This also happens when using code.exe.

VSCode doesn't have to be minimized to demonstrate. If it is in the background, opening a file in the editor will not restore focus.

[2016-07-08 21:28] vladon commented on #8976
@wtjones Yes, I just checked and can confirm it.

[2016-07-08 21:32] Tyriar commented on #8947
@gerane is it fine on both stable and insiders?

[2016-07-08 21:43] xiaochuanyu commented on #8869
Wow I didn't expect Find box to be related to the cursor highlighting words. Shouldn't these be two separate settings?
I guess I can live with toggling that on and off for now.

[2016-07-08 22:09] dilijev opened #8978 "JS highlighting in certain situations involving strings and HTML tags is incorrect."
- VSCode Version: Code - Insiders 1.4.0-insider (4c0676ab472a92f5269ac4995cdc81db8bc94896, 2016-07-08T15:19:23.853Z)
- OS Version: Windows_NT ia32 10.0.14372

Steps to Reproduce:

* Open VS Code to a JS file
* Paste this snippet of code:
[code]

* Observe the incorrect syntax highlighting following `var [] = '`

![image](https://cloud.githubusercontent.com/assets/494055/16702767/14f473a2-451d-11e6

[2016-07-08 22:16] gerane commented on #8947
I never had the issue on stable, though I rarely use stable, but every time
I tested it worked on stable.

[2016-07-08 22:28] Tyriar commented on #8947
Cool, let us know if it comes back on Insiders :smiley:

[2016-07-08 22:28] #8947 closed

[2016-07-08 22:28] seanmcbreen commented on #8688
Hi Matthew,

Thanks for reaching out – sorry this took a few days to bubble up to the top after the long weekend.

We use the data that VS Code gathers to provide and improve the product.  For example, in the past, we’ve used the data we collected to isolate several hard to track down sources of crashes and performance regressions.   VS Code may use the hashed MAC address to identify a machine ove

[2016-07-08 22:28] #8688 closed

[2016-07-08 22:29] be5invis commented on #8653
@rebornix
Your image looks strange, PingFang SC is not that bold. Have you installed Office? In the fallback sequence I suggested, following the sequence used for Latin, Microsoft YaHei has a higher priority.

Perhaps the fallback sequence can be improved into:

(preserving the current Windows — Mac — Linux sequence)

Perhaps @Tyriar can consider using weights like 600 to select a slightly thinner

[2016-07-08 22:35] be5invis commented on #8653
@Tyriar
Rasterization of Kanji and Hangul is extremely hard, especially on small sizes (like 12ppem). To be clear you need a special font with a lot of additional data (gridfits, in detail) to tell the rasterizer how to distort the outline to make the characters’ shape legible.
I have a font called [Inziu](https://be5invis.github.io/Iosevka/inziu.html) contains such data, but some rasterizers may

[2016-07-08 22:45] siegebell commented on #8094
At least, I would like to see the API provide utility data structures that manage sets of ranges and sets of positions, *allows updating them in response to a `TextEdit`*, and provides some basic functions like searching for intersecting ranges.

I've written this myself, but it is easy to get wrong, I imagine a bunch of extension authors would also find the functionality useful, and counting the

[2016-07-08 22:50] emzero opened #8979 "Weird scrollbar behavior"
- VSCode Version: 1.3.0
- OS Version: Win 7 x64 SP1

As soon as the the file being edited has more than one line, the vertical scrollbar appears even though it's not needed.
It seems that the end position of the scrollbars aligns with the last line of the file being the only one visible.

Is this the expected behavior? I don't remember being it this way in 1.2.0 and I don't think any other editor

[2016-07-08 22:52] edumunoz opened #8980 "Command variables in debug adapter freeze VSCode"
- VSCode Version: 1.3.0 and insiders 4c0676ab472a9
- OS Version: Windows 10

I was trying out the feature [Debug Extension Authoring: Command Variables](https://code.visualstudio.com/Updates#_extension-authoring) for the Microsoft C++ extension.

Back when command variables [were introduced in master](https://github.com/Microsoft/vscode/issues/6569#issuecomment-222913734), it worked fine. However,

[2016-07-08 23:13] HookyQR opened #8983 "Closing a dirty split editor (existing OR untitled) should not affect the initial editor"
- VSCode Version: 1.3.0
- OS Version: OSX 10.11.5

Steps to Reproduce:

1. Open (or create) a file.
2. Split the editor.
3. Add some text in either editor.
4. Close either editor.
5. Select "Don't save" when prompted.

There are two end states produced by these steps:

#### When an existing file is used
The other editor remains, but the text is reverted to the state on disc.

#### When a file is c

[2016-07-08 23:29] smlombardi commented on #1884
@be5invis Where is this file located?

[2016-07-09 00:39] satokaz commented on #8953
@tugberkugurlu , it contains a space in the file name.
If it is a cause, please replace the space to `&#32;`.

please refer to:
https://github.com/Microsoft/vscode/issues/7871#issuecomment-227056447

[2016-07-09 00:42] TheColorRed opened #8984 "Ubuntu extension manager not working properly"
- VSCode Version: 1.3.0
- OS Version: Ubuntu 16.04

I have extensions installed, but they do not show up. I can not install them either. here are some screen shots:

![screenshot from 2016-07-08 19-35-55](https://cloud.githubusercontent.com/assets/1571806/16704911/570e02a0-4543-11e6-85b8-7f994ed826bd.png)

![screenshot from 2016-07-08 19-40-41](https://cloud.githubusercontent.com/assets/1571806/16

[2016-07-09 00:48] dongrizhixue opened #8985 "Have collapse phenomenon"
I didn't notice it for a period of time, when I want to open it, can't see it, can't see process in task manager

[2016-07-09 00:50] dongrizhixue commented on #8985
I cannot prove him now, because I don't know how to submit the log.

[2016-07-09 00:57] wycats commented on #6979
Is there any workaround for this yet, or do we need to wait for terminal theming to be officially supported?

[2016-07-09 01:03] fygascod opened #8986 "Double tab tag closing removes one space from the tab"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.Press tab
2.Start a tag with "<" (eg."<div") and press tab twice
3.One space from the tab is removed so that the code loses the alignment with other lines in the same column

[2016-07-09 01:23] yanxiaodi opened #8987 "Chinese localization is not completed.(v1.3.0)"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.Click the Extensions View icon.
2.Click on the ... More button, "show popular extensions" is still English.

[2016-07-09 02:01] HookyQR commented on #1492
[code]
Suggests: `For your current keyboard layout press v`

Really? Someone thought that was a solution?

[2016-07-09 02:07] FremyCompany opened #8988 "[i18n] Incorrect French localization for "rename symbol""
- VSCode Version: 1.3

Should be "Renommer le symbole":

    https://github.com/Microsoft/vscode/blob/5b9ec15ce526decc5dd0488339e798f6bcb4ec46/i18n/fra/src/vs/editor/contrib/rename/browser/rename2.i18n.json#L7

File is marked as autogenerated, hence I didn't bother making a pull request.

[2016-07-09 02:07] sebadoom commented on #8984
I am seeing this too on Arch using the latest stable release (1.3.0):

https://az764295.vo.msecnd.net/stable/1.3.0/VSCode-linux-x64-stable.zip

[2016-07-09 02:14] sebadoom commented on #8984
#8967 has a workaround for this: delete the $HOME/.cache/Code directory after closing all instances of Visual Studio Code (killall code might be necessary if they are running in the background).

[2016-07-09 02:15] sebadoom commented on #8967
@gvn182 It's $HOME/.cache/Code

I can confirm this fixes the problem for me to.

Duplicate: #8984

[2016-07-09 02:28] tony-garcia commented on #8984
@sebadoom -- your workaround worked for me (had to do killall code). Thanks.

[2016-07-09 02:30] Tyriar commented on #6979
@wycats no workaround currently.

[2016-07-09 02:31] jasongrout opened #8989 "Maximize current editor group (or temporarily hide other editor groups)"
It would be great if there was a way to quickly hide other editor groups to focus on a single editor (or editor group) without actually closing all the other files. A common workflow for me is to flip between having multiple files open side by side, and having just the currently focused file shown, which is pretty painful to do now.

This is akin to the zen mode or no-distraction mode you see in o

[2016-07-09 02:46] r105m commented on #8967
~/.vscode
~/.cache/Code
~/.config/Code

but you will loss yours  prefences

[2016-07-09 02:49] sebadoom commented on #8967
Please note that it appears that only removing the .cache/Code directory is required, so losing the user settings might not be necessary.

[2016-07-09 03:25] adstep commented on #7000
PR: https://github.com/Microsoft/vscode/pull/8982
Also added to the documentation here: https://github.com/Microsoft/vscode-docs/pull/464

[2016-07-09 03:35] emzero commented on #8758
Related issue: https://github.com/Microsoft/vscode/issues/6667

We already know there are people that want snippets on top of everything and other people that want them at the bottom. As I suggested in the related issue, I'm pretty sure the snippets lovers would we just fine if the snippets are shown on top only if the cursor is on a empty line and outside function parenthesis and object literal b

[2016-07-09 03:38] emzero commented on #8571
Related issue: https://github.com/Microsoft/vscode/issues/6667

We already know there are people that want snippets on top of everything and other people that want them at the bottom. As I suggested in the related issue, I'm pretty sure the snippets lovers would we just fine if the snippets are shown on top only if the cursor is on a empty line and outside function parenthesis and object literal b

[2016-07-09 04:04] johnfn commented on #8760
Maybe this isn't the best place to put this, but I'm a Vim extension developer and I noticed you guys wanted to know the API gaps. I made an issue for each gap I'm aware of: #2771, #8096, #1431, #8094, #8093, #7177.

#2771 is the highest priority because it can't be worked around.

#8096 is also really important because although it can be worked around, I'm scared of breaking user's history.

The

[2016-07-09 04:08] jaime-olivares commented on #243
@nojvek, you just need to open a project and run the build (Ctrl-Shift-B or Ctrl-Command-Build). The 'Output' window will appear in the bottom of the window, showing the 'Tasks' output, similar to Visual Studio's 'Build' output. See sample screenshot here: https://code.visualstudio.com/images/tasks_problemmatcher.png
In that window, it is not possible to see colored text, as it is possible in a VS

[2016-07-09 04:09] jaime-olivares commented on #243
Related stackoverflow post: http://stackoverflow.com/questions/30492083/can-i-get-colored-output-from-gulp-in-vscode-output-window

[2016-07-09 04:13] mind0n commented on #1515
I like this feature as well

[2016-07-09 05:24] rebornix commented on #8653
@be5invis My OS is OSX 10.10.5 and yes I've Office 2010 for Mac installed. The funny thing is the Font Family that takes effect is `Hiragino Sans GB`, which look badly in bold. Not sure whether I miss any System update or not :)

[2016-07-09 05:39] bpasero commented on #8944
Read and understand https://code.visualstudio.com/docs/editor/tabs#_preview-mode

Closing as designed.

[2016-07-09 05:39] #8944 closed

[2016-07-09 05:44] bpasero commented on #8989
There are some commands to do this:
* Maximize editor group and hide side bar
* Minimize other editor groups

Please give them a try.

[2016-07-09 05:44] #8989 closed

[2016-07-09 05:48] bpasero commented on #8983
This is interesting. In ST you can close the dirty one and the other one remains dirty. In Atom, they actually allow you to close a dirty one without being prompted.

@stevencl @bgashler1 fyi, I do like our current behaviour and would not change it though.

[2016-07-09 05:48] adstep commented on #8567
I believe this is the same as my issue https://github.com/Microsoft/vscode/issues/7000.

[2016-07-09 05:49] bpasero commented on #8979
Just set `editor.scrollBeyondLastLine: false` in settings

[2016-07-09 05:49] #8979 closed

[2016-07-09 05:52] bpasero commented on #8983
@stevencl and interestingly, VS also does not ask to save when closing the second dirty editor! maybe we should revisit this :)?

[2016-07-09 05:53] bpasero commented on #8976
https://github.com/Microsoft/vscode/issues/929

[2016-07-09 05:53] #8976 closed

[2016-07-09 05:53] misterdjules commented on #8944
FWIW, I came to this issue because I found that not creating a new tab when opening a file from "quick open" was not what I wanted. I had read the latest release notes but missed any documentation on the settings mentioned in https://code.visualstudio.com/docs/editor/tabs#_preview-mode. After setting:

[code]

in my user's settings, the behavior I get is what I expected.

I find the default behavi

[2016-07-09 05:53] bpasero commented on #8973
@Kingscity can you share more details about your workspace where this happens?

[2016-07-09 05:54] bpasero commented on #8971
@gerhardcit you need to find out which of the processes we spawn is under high CPU load, then we can investigate more!

[2016-07-09 05:55] bpasero commented on #8944
@gregvanl on the documentation issue

[2016-07-09 06:01] Abhino commented on #101
+1

[2016-07-09 06:35] iamchenxin commented on #8967
@sebadoom  +1 Ubuntu 16.04
only need to delete `~/.cache/Code`.

[2016-07-09 06:36] CNMan opened #8990 "Extension host terminated unexpectedly. Please reload the window to recover."
- VSCode Version:1.3.0 stable ( https://code.visualstudio.com/docs?dv=winzip )
- OS Version:Windows Server 2012 R2

Steps to Reproduce:

1. run "E:\Program Files\VSCode\Code.exe" --user-data-dir="E:\Backup\VSCODE" --extensionHomePath="E:\Backup\VSCODE\extensions"
2. then "Extension host terminated unexpectedly. Please reload the window to recover."
3. reload but "Extension host terminated unexpect

[2016-07-09 06:40] bpasero commented on #3690
@bgashler1 can you please give +1/-1 that we can use this solution? I would like to get rid of the hacks we have for HC theme to solve https://github.com/Microsoft/vscode/issues/8516

Imho it would be good to get rid of these special styles to clean up our CSS.

[2016-07-09 06:41] bpasero commented on #8516
@bgashler1 I commented on that issue, imho we should make this change and delete all our custom HC rules. This would not only enable this issue for inlining but also make it much easier to introduce new icons to Code because you don't have to deal with this ugly hack.

[2016-07-09 06:44] bpasero commented on #8990
@CNMan so does it not happen when you are not specifying those arguments?

[2016-07-09 06:45] bpasero commented on #8985
@dongrizhixue can you attach a screenshot about the issue?

[2016-07-09 06:55] CNMan commented on #8990
@bpasero it don't happen when no arguments.

[2016-07-09 07:55] babychoux opened #8991 "Provide option to only show leading/trailing whitespace"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. side bar icons ,at screen 11" i think its too big ,its consumption area.
2.whitespace not display if not leading/trailing space ,can has menu to toggle this ?

[2016-07-09 07:58] emzero commented on #8785
I'm experiencing the same issue. After some time of usage (might be hours, might be minutes) reformat stops working and I have to run the Reload Window command to bring it back.

[2016-07-09 08:18] EvgeniVasilev commented on #8944
Hi Benjamin,

thank you for the help!
Disabling workbench.editor.enablePreview works!

Yet again thanks! VisualStudio Code is a great tool!

Regards!

On Sat, Jul 9, 2016 at 8:55 AM, Benjamin Pasero <notifications@github.com>
wrote:

[2016-07-09 08:23] shanalikhan opened #8992 "How to open new tab with some formatted text from the extension API"
Hi ,
I dont find any simple example to open new text document and write some formatted text in it using Visual Studio Code API.

Please provide a small example where i can insert text.
I need it for "visual studio code Settings Sync" Extension

[2016-07-09 08:51] Aarilight opened #8993 "Add support for rebinding Column Selection"
Currently there is no way to rebind column selection. The only bindings that can be changed for column selection are as follows:
![](http://puu.sh/pVyet/447aaf5f64.png)

 In other programs it's bound by default to `middle click` or `alt+drag`, but in VSCode it's bound to `alt+shift`. It's not an inherently bad thing to do bindings different than other programs, but it'd be nice if it was configura

[2016-07-09 08:53] ZCShou commented on #8892
@Tyriar font set for the terminal is default,but IME is not

[2016-07-09 09:01] phindle opened #8994 "JS: Symbols in command palette are truncated."
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. I have the simple script (pasted below) open in VS Code.
2. Press Ctrl+P to invoke command palette
3. Type the @ symbol to display symbols in the script.
4. (Refer to screenshot) Symbols are truncated with ... Unable to see the full sym

[2016-07-09 09:18] iscraft commented on #7713
try the [everedit](http://everedit.net)

[2016-07-09 09:36] ZCShou opened #8995 "contextmenu"
- VSCode Version: Code - Insiders 1.4.0-insider
- OS Version: Windows_NT 10.0.10586

![2016-07-09_172948](https://cloud.githubusercontent.com/assets/8591065/16707295/3e16175c-45fb-11e6-9b1d-3ca9ebc1870b.png)

Intended to be？

[2016-07-09 10:11] HIROSN opened #8996 "Markdown preview lost after updating to v1.3"
- VSCode Version: 1.3.0
- OS Version: OS X 10.11.5

Steps to Reproduce:

1. Open README.md in VS Code
2. No preview button in upper right corner

[2016-07-09 10:34] cthedot commented on #6605
Got so used to "Ctrl+Tab to navigate in entire editor history" I added the Keyboard Settings. But seems opening files this way does not add a new tab but replaces a tab? Any way to open a file in a new tab? Thanks!

[2016-07-09 11:01] RemKolomna commented on #8984
I'm experiencing the same issue. However command code --install-extension ms-vscode.csharp works perfectly!

[2016-07-09 11:13] egamma opened #8997 "VIM API Gaps"
From @johnfn in #8760

 I'm a Vim extension developer and I noticed you guys wanted to know the API gaps. I made an issue for each gap I'm aware of: #2771, #8096, #1431, #8094, #8093, #7177.
#2771 is the highest priority because it can't be worked around.
#8096 is also really important because although it can be worked around, I'm scared of breaking user's history.

The rest would be very nice to

[2016-07-09 11:13] egamma commented on #8760
@johnfn thanks, extracted into #8997

[2016-07-09 11:27] epicvrvs opened #8998 "Installing C# extension fails"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:50:12.291Z)
- OS Version: Linux x64 4.6.3-1-ARCH

Steps to Reproduce:

1. Ctrl + P
2. ext install csharp
3. Click "Install"

Expected behaviour:

Visual Studio Code installs the C# extension.

Actual behaviour:

Visual Studio Code does nothing.

Additional information:

I tried to obtain additional information by

[2016-07-09 12:05] buldi opened #8999 "default error in debug"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:50:12.291Z)
- OS Version: Linux x64 4.4.0-29-generic

Steps to Reproduce:

1. start code
2. HELP->Toggle Developers Tools

Error: 13...*

shell.ts:416 Cannot read property 'version' of undefined: TypeError: Cannot read property 'version' of undefined
    at t.Object.defineProperty.get [as latestVersion] (file:///

[2016-07-09 12:22] RTirumala commented on #92
This worked for me also. thanks a lot.

[2016-07-09 12:34] karai17 opened #9000 "Feature Request: Bind mouse buttons"
- VSCode Version: 1.3.0
- OS Version: Linux (Fedora 24)

Unless I am mistaken, there seems to be no way to remap/bind mouse buttons. One very useful use case for this is to drag-create multiple cursors by holding ctrl/alt+middle_mouse. Currently I need to manually select each individual line with alt+left_mouse (which i cannot remap to ctrl+left_mouse) which can be very tedious when I want to quic

[2016-07-09 12:55] er3456qi commented on #8998
So am I

[2016-07-09 13:01] tarurar opened #9001 "Mac: Move tabs down when moving mouse to the top in full screen mode"
- VSCode Version: 1.3.0
- OS Version: OS X El Capitan

Steps to Reproduce:
1. Open VS Code in full screen mode
2. Make some files to be opened and the appropriate tabs to be shown in the top of the editor.
3. Move mouse to the top of the screen (trying to switch the tabs)
4. Can't click on the tabs

Have a look at the screenshots below:

<img width="1440" alt="screen shot 2016-07-09 at 16 54 57" s

[2016-07-09 13:05] iambibhas commented on #2739
@egamma in my case, I want the extension to activate only when current directory is a git repository. i.e. it'll have the `.git/` directory in current directory. I've tried putting `"workspaceContains:.git/config"` but that does nothing and the commands are activated anyway. I don't think I understand how this `activationEvents` works. :|

[2016-07-09 13:08] iambibhas commented on #8295
This will be very helpful. Been stuck playing with `activationEvents` with no luck whatsoever. All the commands are activated even when the `activationEvents` dont match. E.g. I've put only `"workspaceContains:.git/config"` in there and the commands still got activated. Not sure how this works. If none of the criteria matches, then the commands shouldn't be activated, right?

[2016-07-09 13:13] RReverser commented on #4631
@vsccarl I think recommendations are based on type of files you were working with. If you didn't work with any projects yet, then there is nothing VS Code can recommend to you.

[2016-07-09 13:19] Zolomon commented on #8950
I had the same issue:
From about:
[code]

Running `sudo rm -rf /usr/share/code/resources/app/node_modules/vscode-textmate/node_modules` worked.

[2016-07-09 13:32] tony19 commented on #8996
I noticed the same problem. If the removal was intentional, I would've expected a release note on it with the reason (the 1.3.0 notes don't actually mention anything about the *Preview* button going away).

Please bring it back. I'm seeking alternate solutions [here](http://superuser.com/q/1098819/68227).

[2016-07-09 13:53] Ciantic opened #9003 "[php] Ability to turn off PHP autocompletion by VSCode"
There is now a better Intellisense plugins for Vscode PHP: [vscode-php-intellisense](https://github.com/felixfbecker/vscode-php-intellisense) and [crane](https://github.com/HvyIndustries/crane).

In it's known issues it says "There may be duplicate suggestions for functions or variables. This is because VS Code has it's own (very limited) code-completion support for PHP, and there is currently no

[2016-07-09 14:15] hartbit commented on #8971
I'm experiencing this on a C# Unity project.

[2016-07-09 14:22] mbilling commented on #8045
Install insiders version of vscode. Latest update from this morning includes the patch
https://code.visualstudio.com/insiders

[2016-07-09 14:25] TheColorRed commented on #8967
Removing this folder did not work for me...

[2016-07-09 14:28] TheColorRed commented on #8984
That workaround fixed it!

[code]

[2016-07-09 14:41] psulek commented on #8045
@mbilling Do you release "fix" release as public for this same as was for 1.2.1 version? I think its breaking critical bug to be able to use public 1.3 release without this fix!

[2016-07-09 15:24] gerhardcit commented on #8971
[ElectronSample.txt](https://github.com/Microsoft/vscode/files/355607/ElectronSample.txt)

@bpasero
Also seems that when I open the Extension manager, this happens.
Does this help?

[2016-07-09 15:44] gerhardcit commented on #8971
Not sure if it helps, but here is another sample. Started happening again after re-open the last time. Did nothing special.

[ElectronSample2.txt](https://github.com/Microsoft/vscode/files/355627/ElectronSample2.txt)

[2016-07-09 15:52] DrakeLeung commented on #8967
What about OSX ? There isn't a `~/.cache/Code`.@iamchenxin

[2016-07-09 15:59] iTouchTheSky opened #9004 "Allow to customize command palette via CSS"
Hi there,

This is not an issue, more like a request/suggestion.

I'm probably not the only one prefering the command palette from Atom to the one of vscode.
I like how they styled it.

My request/suggestions is that you add something to allow us to customize vscode visual elements (like the command palette) from within a custom stylesheet(that we would specify on the configuration file) or change

[2016-07-09 16:29] lorenzo2702 opened #9006 "changing ctrl+` shortcut doesn't toggle terminal when terminal is in focus"
Toggling the new 1.3 Terminal works well when bound to it's default shortcut ctrl+` but when changed to alt+` it will only toggle the terminal if it is not the focus. If the terminal is the focus it will only type the backtick/grave. This happens with the default cmd.exe terminal and with a powershell.exe terminal.

I did not try any shortcuts other than alt+` so I can't speak to the extent of the

[2016-07-09 16:31] renkun-ken opened #9007 "Upgrade VSCode to 1.3.0 and cannot load/install extensions"
- VSCode Version: 1.3.0
- OS Version: Ubuntu 16.04 LTS

Steps to Reproduce:

1. Upgrade VSCode from a previous version (1.2.x) to 1.3.0
2. Open VSCode and no extension is loaded, nor can I install any extensions.
3. Toggle Developer Tools and a lot of errors occurs increasingly and when I try to install an extension more of the same error occurs.

Here's the error message:

[code]

A screenshot:

[2016-07-09 16:33] mdedgjonaj commented on #396
+1

[2016-07-09 16:42] bpasero commented on #8990
@CNMan is the E: drive any special?

[2016-07-09 16:43] bpasero commented on #6605
Yes, set `workbench.editor.enablePreviewFromQuickOpen: false`

[2016-07-09 16:45] bpasero commented on #8971
@hartbit @gerhardcit use activity monitor to find the high CPU task and then from the command line run "`ps aux | grep <pid>`" to find the full command line arguments.

![image](https://cloud.githubusercontent.com/assets/900690/16709033/5a76c9aa-4605-11e6-9415-0477b9740822.png)

[2016-07-09 16:49] bpasero commented on #9007
Please see https://github.com/Microsoft/vscode/issues/8859#issuecomment-231410408 for a solution!

[2016-07-09 16:49] bpasero commented on #8998
See https://github.com/Microsoft/vscode/issues/8859#issuecomment-231410408 for a solution!

[2016-07-09 16:50] bpasero commented on #8996
It moved into the context menu of a tab until we have resolved this via https://github.com/Microsoft/vscode/issues/7666

Alternatively you can disable tabs to get the old action bar back.

[2016-07-09 16:50] #8996 closed

[2016-07-09 16:54] bpasero commented on #9001
Neither ST nor Atom solve this either, will require API from Electron to know when this happens. Marking as upstream.

[2016-07-09 16:55] bpasero commented on #9004
@iTouchTheSky so what exactly do you like more in Atoms version over Codes?

[2016-07-09 16:58] bpasero commented on #8994
@phindle could you quickly bring up the chrome debug tools (via help menu) and see if literally the text comes truncated or if the widget does the truncation?

[2016-07-09 17:01] clarkio commented on #8955
@Wenzil oh cool did not catch that new feature. Yea I think you assumed correctly. Looks like the difference there is you do not specify port, but instead specify the processId your Node.js app is running on in the host machine. VSCode will prompt you to select the process when you press `F5`.

Trying this out I ran the following:
[code]

Then in VSCode, using the default `Attach to Process` confi

[2016-07-09 17:06] hartbit commented on #8971
Two processes regularly take 100% CPU when VSCode is becoming unusable:

[code]

[2016-07-09 17:20] iTouchTheSky commented on #9004
Actually it's not only the command palette itself (to do actions), but all overlay like command palette, the "goto" file palette, etc that I want to be able to customize.

Atom allows theme to edit css of command palette, goto files, etc ...

[Atom's default command palette](http://i.imgur.com/6N0GA3b.png)
[Atom's command palette via a theme `nucleus-dark-ui`](http://i.imgur.com/ImkwwJe.png)

[2016-07-09 17:47] Wenzil commented on #8955
Neat! It works on my Windows 10 machine at home. I'd like to test that it can attach to a remote server process too. I will test that on monday at work.

[2016-07-09 18:22] cthedot commented on #6605
Ah, great thanks! ☺

Also for quickest than quicker reply 😏

[2016-07-09 18:29] glen-84 commented on #9004
This might be relevant: #459.

[2016-07-09 18:30] pierredewilde opened #9008 "Tilde character ~ is not displayed in terminal using Belgian keyboard layout"
- VSCode Version: 1.3.0
- OS Version: Mac OS X El Capitan 10.11.5 with Belgian keyboard

Steps to Reproduce:
1. Open Integrated Terminal (`View > Integrated Terminal`)
2. Type `cd ~` + Enter

The tilde character (~) is not displayed.
`$ cd`

[2016-07-09 18:45] Kingscity commented on #8973
I'm using Windows 10, and just upgrade the Visual Studio Code to 1.3.0.

I experience quite often that, after a while of editing (e.g. typing, copy,
pasting, selecting, open a split view), then the window freeze, and I have
to close the app and restart.

On Fri, Jul 8, 2016 at 10:54 PM, Benjamin Pasero <notifications@github.com>
wrote:

--
Best regards,
*Kenneth Chau*
1.604.729.7380

[2016-07-09 18:46] Kingscity commented on #8973
BTW, I'm using MS Surface Pro 4

On Sat, Jul 9, 2016 at 11:45 AM, Kenneth Chau <kenneth@kennethchau.com>
wrote:

--
Best regards,
*Kenneth Chau*
1.604.729.7380

[2016-07-09 18:51] steveharoz opened #9009 "No intellisense/autocomplete for class in a different JS file"
- VSCode Version: 1.3.0
- OS Version: Windows 8.1

There are 3 files: index.html, library.js, main.js

Both js files are included in index.html
[code]

library.js includes some classes and functions:
[code]

Intellisense in main.js doesn't know about the contents of library.js:
![image](https://cloud.githubusercontent.com/assets/2257540/16709613/e720376c-45db-11e6-8287-54d618a4b2b3.png)

Same for

[2016-07-09 19:15] HIROSN commented on #8996
It works. Thank you Benjamin!

[2016-07-09 19:32] Uriil commented on #6046
I had exactly same issue in VSCode version 1.3

And steps for reproducing were exactly the same. However, 5 mins later it was fixed somehow and now I can not reproduce it

[2016-07-09 19:41] nsgundy opened #9010 "RegExp substring replace does not work for new Global Search&Replace"
- VSCode Version: 1.3.0
- OS Version: Win10

Steps to Reproduce:
File contents:
[code]
1. Start Global Search&Replace `CTRL+SHIFT+H`
2. For the search term use `let\s+(\w+)\s*=\s*require\s*\(\s*['"]([\w\.\-/]+)\s*['"]\s*\)\s*;`
3. For the replace term use `import * as $1 from '$2';`

#### Issue:
When replacing, the file looks like this:
[code]
Expected
[code]

_Note_: This works using Local Search

[2016-07-09 20:13] ZombieHippie opened #9011 "[yaml] Syntax highlighting bug - escaped double quotes"
- VSCode Version: June 2016 (version 1.3)
- OS Version: OS X 10.11.5 (15F34)
- Kernel Version: Darwin 15.5.0

![image](https://cloud.githubusercontent.com/assets/2925395/16710036/685bb4d6-45e7-11e6-9557-c29c967442c3.png)

Steps to Reproduce:

\1. Type in:
[code]
\2. Set Language Mode to YAML

[2016-07-09 20:18] Alexendoo opened #9012 "Add toggle for "ignore trim whitespace" while diffing"
- VSCode Version: 1.3.0
- OS Version: Windows 8.1

Steps to Reproduce:
1. Modify some whitespace in a file (can include converting between tabs/spaces)
2. Make a non-whitespace change elsewhere in the same file
3. View the in-editor diff

Without other modifications:

![Without other modifications](https://cloud.githubusercontent.com/assets/1830331/16710046/f799417c-4619-11e6-85bb-433683ffd454.png

[2016-07-09 20:42] AnthonyWC commented on #2806
+1 This is really a basic and needed feature that would improve UX for everyone; even a maximize button would be better than nothing.

[2016-07-09 20:43] iTouchTheSky commented on #9004
@glen-84 To do it by hand, yes. But via a theme, no

[2016-07-09 20:54] weinand commented on #8963
@alecazam @evanw source map handling is the responsibility of individual debug extensions and has nothing to do with VS Code. So VS Code is not in the position to make any decisions to **not** support specific debugging scenarios. The node.js debugger extension supports `sourcesContent` (aka inlined content) just fine.

Since you are using the [Debugger for Chrome](https://marketplace.visualstudio

[2016-07-09 20:55] weinand commented on #8963
This issue was moved to Microsoft/vscode-chrome-debug#195

[2016-07-09 20:55] #8963 closed

[2016-07-09 21:11] gradha opened #9013 "Extensions update button hidden on narrow space"
- VSCode Version: 1.3.0 (1.3.0) e724f269ded347b49fcf1657fc576399354e6703
- OS Version: OSX El Capitan 10.11.5 (15F34)

Steps to Reproduce:

1. Open the extension left pane when there are updates
2. Reduce the space. See attached screenshots.

Actually the buttons were missing for me, the default space was not enough. Maybe buttons in different lines would display better. Or resize themselves propo

[2016-07-09 22:38] Tyriar opened #9014 "Deleting a file in the current editor while focus is in terminal will focus the editor"
- VSCode Version: Code - Insiders 1.4.0-insider (4c0676ab472a92f5269ac4995cdc81db8bc94896, 2016-07-08T15:13:23.068Z)
- OS Version: Linux x64 4.4.0-28-generic, Ubuntu 16.04

Steps to Reproduce:

1. Open and pin file `bar`
1. Open and pin file `foo`
2. Open integrated terminal
3. Run `rm foo`, notice focus is moved from the terminal to the `bar` editor

[2016-07-09 22:47] Tyriar commented on #9008
- Does it show up if you hit `~` multiple times?
- Does it actually input a `~` or skip the character (does the cursor move right when you hit `~`, what does tab completion do when you type `cd ~/`?

[2016-07-09 23:23] aleksandaratanasov opened #9015 "VSCode remains opened sometimes after being closed"
- VSCode Version: just updated to 1.3.0
- OS Version: Debian Jessie 64bit

Steps to Reproduce:

1. Start VSCode
2. Close VSCode

**Detailed description:**

I've recently installed VSCode for the first time on my system. I've noticed that after closing VSCode a couple of processes remain active namely `code/code`, `Microsoft.VSCode.CPP.Extension.linux` , `code/code /usr/share/resources/app/out/boot

[2016-07-10 00:39] wallverb commented on #9013
Duplicate https://github.com/Microsoft/vscode/issues/8510

[2016-07-10 02:31] segadude opened #9016 "Visual Studio Code will not start on Debian 8.5 over VNC"
- VSCode Version: 1.3.0
- OS Version: Debian 8.5 jessie 64-bit

Steps to Reproduce:

1. Type "code" into the MATE terminal

When I try to start Visual Studio Code on my Debian machine, nothing happens. No window appears on the screen. I am using MATE on Debian 8.5 64-bit. When I type "code" and press enter, I can see that the code process appears in the MATE System Monitor and top for about 4 or 5

[2016-07-10 03:11] CNMan commented on #8990
@bpasero no,it is a normal logical drive of hard disk

[2016-07-10 04:01] pierredewilde commented on #9008
- The tilde does not appear even if hit multiple times.
- The cursor does not move. `cd ~/` is inputed as `cd /`

Note that if I copy `cd ~/` from the code editor and paste it in the integrated terminal, it works as expected.

[2016-07-10 04:15] lextm opened #9017 "All pixels shifts up miserably"
- VSCode Version: 1.3.0
- OS Version: OS X 10.11.5

I don't know how it ended up with this, so sorry no step to reproduce. A screen shot is as below,

![screen shot 2016-07-10 at 11 57 49 am](https://cloud.githubusercontent.com/assets/425130/16711620/cc3e6c54-4697-11e6-9f5d-857563304477.png)

I will try to reproduce it in the future and add more info if possible.

[2016-07-10 04:24] renkun-ken commented on #9007
This solves my problem, thanks!

[2016-07-10 04:24] #9007 closed

[2016-07-10 04:47] wzyplus commented on #8892
@Tyriar No, I didn't change the font of the terminal. But changed the editor's font to `Consolas`.

[2016-07-10 05:18] BillyONeal opened #9018 "[cpp] Visual Studio Code highlights C++14 Digit Separators Incorrectly"
- VSCode Version: 1.3.0
- OS Version: Windows 10 10586

![Broken digit separators demonstration](https://cloud.githubusercontent.com/assets/1544943/16711798/101ddb64-4623-11e6-91e1-74c6bf5d0bc3.png)

[2016-07-10 05:21] BillyONeal commented on #9018
Note: Does not matter whether or not the C++ extension is installed.

[2016-07-10 05:55] iamchenxin commented on #8967
@DrakeLeung I haven't used osx yet.
But seems its cache directory is '~/Library/Caches' ?( [from discussions.apple.com](https://discussions.apple.com/thread/2756051?start=0&tstart=0) ).
I am not sure. get those information from `https://www.google.com/?q=osx+.cache+directory`

[2016-07-10 06:22] iamchenxin commented on #8967
@DrakeLeung In linux, vscode have some background process,which must be explicitly killed before delete the cache. Maybe OSX have some background process too.

[2016-07-10 06:36] rebornix commented on #8133
@alexandrudima oh man, you helped all Chinese Vim users out. `replacePreviousChar` is exactly what we need to handle CJK IME without breaking the Vim Mode.

[2016-07-10 07:01] Thaina commented on #446
Seem like it already done. You could npm it

https://github.com/Microsoft/monaco-editor

[2016-07-10 07:12] venele opened #9019 "Monokai theme shows different markdown syntax highlight at 1.3.0"
- VSCode Version: 1.3.0
- OS Version: Microsoft Windows [Version 10.0.10586]

Steps to Reproduce:
1. Use monokai built-in theme.
2. Open markdown file

1.2.1
![before_1 3 0](https://cloud.githubusercontent.com/assets/467125/16712127/a62972dc-46b7-11e6-98d3-0433807033af.png)

1.3.0
![1 3 0](https://cloud.githubusercontent.com/assets/467125/16712128/a81ce9d4-46b7-11e6-8a50-303064618334.png)

I read

[2016-07-10 07:16] bpasero commented on #8971
@hartbit is this happening for a large folder?

[2016-07-10 07:33] dracan commented on #1884
+1 Whilst I personally don't find it a distraction as such - I dislike that when making the editor fullscreen (F11) it's the only thing that stops the editor feeling completely seamless (for lack of a better word). Try loading the Atom editor in dark theme and make that fullscreen. It looks completely seamless. VSCode would look just as good (if not better) if it wasn't for this out of place blue

[2016-07-10 07:43] leaxoy commented on #211
+1

[2016-07-10 08:06] xhinker opened #9020 "Install extension extremely slow"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. install markdownlint extension
2. location: China mainland and HongKong

It takes almost 30 mins, and still in processing

[2016-07-10 09:12] impelsystems opened #9021 "Cursor gone missing"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Multiple files open in tabs with both panes, switching between a js on the right hand pane and an html on the left hand pane
2. In the html file, hitting home the cursor is present
3. Either hit end or arrow right and once the cursor ge

[2016-07-10 09:13] lafe commented on #8415
Just wanted to add the same issue myself :)
I would propose to use a responsive approach. If there is enough space leave it as it is (maybe truncate the title if necessary; a 200 character extension name might always cause issues). If there is not enough space move the ratings (and maybe the downloads) to the next line. This would cause bigger items but you get all information.

[2016-07-10 09:50] dbaeumer commented on #8785
@T1KK3S thanks for the additional info.

Moving to the TS team since this is an issue in the tsserver.

[2016-07-10 09:52] dbaeumer commented on #8785
This issue was moved to Microsoft/TypeScript#9598

[2016-07-10 09:52] #8785 closed

[2016-07-10 10:10] dbaeumer commented on #8567
@adstep thanks. Indeed a dup of #7000

[2016-07-10 10:10] #8567 closed

[2016-07-10 10:14] dbaeumer commented on #8791
@AltekkeE not really. With the introduction of a 'reusable tab' UI in 1.3 we are more aggressive close buffers hence Errors disappear sooner. If in > 1.3 you close a file by clicking x in the working list or using Ctrl+Shift+W the errors disappeared as well. This is why we started the work on the TS project builder. If you want to have the 1.2 behaviour you can use the following setting:

[code]

[2016-07-10 10:14] bmontgom commented on #8163
@miguelchico Did you ever file a feature request? I'm wanting this feature as well.

[2016-07-10 10:18] TUTUBIG opened #9022 "cant't load more than one directory in the explorer"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 6.3.9600

Steps to Reproduce:
I don't want to load it's parentdir , just load some which exsist in the  parentdir,but not all

![image](https://cloud.githubusercontent.com/assets/13084076/16712964/95ce3888-46ca-11e6-9925-6f4c3b66d476.png)

[2016-07-10 10:19] dbaeumer commented on #8161
@AltekkeE See my comments in https://github.com/Microsoft/vscode/issues/8791

[2016-07-10 10:19] dbaeumer commented on #8161
Dups #8201

[2016-07-10 10:19] #8161 closed

[2016-07-10 10:21] dbaeumer commented on #7528
@alexandrudima thanks.

[2016-07-10 10:25] dbaeumer commented on #8875
@xyyjk your translation process usually needs a week to translate new drops. This is why milestone builds might partly be in English (especially new features) since we don't want to hold a release until the translations into all language have finished. These strings should however be translated in the next milestone.

@sandy081 assigning to you to ensure the strings are localized in code correctly

[2016-07-10 10:26] dbaeumer commented on #8875
@sandy081 if so, please close.

[2016-07-10 10:35] bpasero commented on #3690
@bgashler1 I verified that this CSS tricks works in IE and Edge, so I think we can use it. However, since VS Code is only ever running in a Chrome environment I think this CSS rule is not needed (unless maybe for the standalone editor). To verify that I opened Code in HC mode on windows after my change:

![image](https://cloud.githubusercontent.com/assets/900690/16713033/c8a1b576-469a-11e6-9ce8-06

[2016-07-10 10:53] dbaeumer commented on #8849
Moving to TS team.

[2016-07-10 10:53] dbaeumer commented on #8849
This issue was moved to Microsoft/TypeScript#9599

[2016-07-10 10:53] #8849 closed

[2016-07-10 10:54] dbaeumer commented on #8839
@romandvoskin can you share a project exposing the problem. I tried with a simple example and can't reproduce.

[2016-07-10 10:55] eladcandroid commented on #8972
Also here. (Fedora 24)

[2016-07-10 10:59] dbaeumer commented on #8833
Works for me. See Attachement. Do you have any additional steps?

![cast](https://cloud.githubusercontent.com/assets/1931590/16713140/12696214-469e-11e6-8ed3-2ab8b04ed3a2.gif)

[2016-07-10 11:00] dbaeumer commented on #8832
@matej-zajacik we never had a special node task. What would you expect as a template?

[2016-07-10 11:01] zwq00000 opened #9024 "Integrated terminal can not be opened,on path contains chinese char"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.Ctrl+` open intergrated terminal
2.terminal window flash and closed

The project parent directory contains Chinese ，like

rename this folder ,terminal can been opend  success. like

[2016-07-10 11:01] dbaeumer commented on #8824
Great. I will close the issue. Please ping if you see it again.

[2016-07-10 11:01] #8824 closed

[2016-07-10 11:11] dbaeumer commented on #8860
This issue was moved to Microsoft/vscode-eslint#98

[2016-07-10 11:11] #8860 closed

[2016-07-10 11:12] dbaeumer commented on #8860
This is an issue with the eslint extension. Moving

[2016-07-10 11:18] matej-zajacik commented on #8832
@dbaeumer I've mistaken it for the 'debug' command (`F5` by default). Must have just spent too much time at work. I am sorry. There is no issue.

[2016-07-10 11:28] mbilling commented on #8045
Agree. I'm just not in the release chain. I only raised the issue.
I guess someone is on it - or i hope :-)

[2016-07-10 12:26] miguelchico commented on #8163
I've done right know.

https://github.com/Microsoft/TypeScript/issues/9600

@egamma, could you please check if it's what you needed?

[2016-07-10 12:30] danieljl commented on #101
@ashwinimohan Under Review since March? https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7756146-auto-save-temporary-files

[2016-07-10 12:46] ziofat opened #9025 "Column selection with CJK character"
- VSCode Version: 1.3.0
- OS Version: Windows 10 64-bit

Steps to Reproduce:

1. Copy and paste the following Chinese, Japanese and English sentences to VS code.
[code]
The sentences above are official translation of UDHR.
2. Use Shift + Alt + Click to select columns.

The behavior is:
![vscode](https://cloud.githubusercontent.com/assets/8521174/16713563/c33558c8-46ee-11e6-9c17-5a962782a5de.gif)

[2016-07-10 12:51] WebFreak001 commented on #3981
This got added in the latest update

[2016-07-10 12:51] #3981 closed

[2016-07-10 13:50] rhires commented on #101
This has been "fixed" with a setting that allows you set the interval for saving your doc. But it's not the normal default that OS X has now for when any doc is closed that the system has already been saving every keystroke the whole time, and the entire state of the app has been preserved. I think Windows generally does the same thing. Not sure why this app can't hand over that functionality to t

[2016-07-10 14:12] tinganho opened #9026 "Allow multi select in the files explorer"
I some times want to select multiple files and copy them or just delete them. But unfortunately it is not doable right now i VSCode.

[2016-07-10 14:20] pongit opened #9027 "VSC"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-07-10 14:41] LucaVazz opened #9028 "Request: Add a way for exstensions to show an update log"
I think it would be very nice to have a way to display logs of new features and bug fixes after an update of an extension, similarly to [what the PackageControl-Plugin from Sublime Text offers](https://packagecontrol.io/docs/messaging).

<sup>I couldn't find any trace of a way to add update logs for Code-extensions, but feel free to point me in the direction if I just missed it ;)</sup>

[2016-07-10 14:58] brunocasado opened #9029 "Cursor dissapear after move between parameters"
- VSCode Version:  1.3.0
- OS Version: Ubuntu 16.04

Cursor dissappear on functions parameters

Steps to Reproduce:

1. Move cursor between functions parameters

[2016-07-10 15:44] jakubsuchybio opened #9030 "Terminal on Windows using bash.exe (the ubuntu native one) doesn't work"
- VSCode Version: 1.3.0
- OS Version: Windows 10 build 14385

Steps to Reproduce:
1. Install Bash on Windows (the ubuntu native one)
2. Set "terminal.integrated.shell.windows": "C:\\WINDOWS\\system32\\bash.exe",
3. Try open terminal
4. Terminal opens for a split second and closes again

Other information:
- I tried cmd.exe and powershell.exe and they works fine

Do you guys have any logging for th

[2016-07-10 16:54] bmontgom commented on #8163
Thanks, @miguelchico.
@egamma, is this something that will be difficult for the VSCode team to do, and as such should I expect this to take a long time (more than a month) to become available again?

[2016-07-10 17:19] be5invis opened #9031 "When tabs are disabled, make the close button on editor panels to close the panel directly instead of closing one file"
And move the unmodified filed into other editor panels.

[2016-07-10 17:41] uxsoft opened #9032 "Update 1.3 breaks markdown code block highlighting"
- VSCode Version: 1.3
- OS Version: Windows 10 x64

Inside of a csharp code block highlighted properly (vscode 1.2)
![vsmarkdown12](https://cloud.githubusercontent.com/assets/1889343/16715052/1f72b2f2-46d6-11e6-9ed7-57f884d8cb12.PNG)

Same file loses highlighting with the 1.3 update
![vsmarkdown13](https://cloud.githubusercontent.com/assets/1889343/16715051/1f6d4844-46d6-11e6-9e39-8f466f85664d.PNG

[2016-07-10 17:44] bitcrazed opened #9033 "VSCode should self-configure debug settings when added to ASP.NET Core projects"
- VSCode Version: 1.3.0
- OS Version: Windows 10

Steps to Reproduce:

1. Create ASP.NET Core project using either Visual Studio 2013 or via Yeoman ("yo aspnet") at the command-line
2. At the command-line, navigate to the root of the project (wherever project.json resides)
3. Run `dotnet restore`: Dependencies should be downloaded
4. Run `dotnet run`: Project should build & run
5. Run `code .`: VS

[2016-07-10 17:51] smlombardi commented on #1884
I think it's really hideous in an otherwise attractive UI. It's not that it's blue (although grey would be better), it's too bright.  I have seen it looks better on Win 10 than on Mac (I am on Mac). But it's just a status bar, why should it command so much attention?

For those commenting that we should "get a life" instead of complaining about something so "trivial", remember that the UI of an ap

[2016-07-10 18:04] Ed-Dikotope opened #9034 "Drag and drop selected text"
I often miss this feature from other editors. I just would like a way to be able to drag and drop my selected text instead of a whole copy & paste operation. Thanks for Tabs by the way!! With this little feature I'll be super happy 😃 .

[2016-07-10 18:44] beytek commented on #160
same has happened to me for the first time today (it happened today several times, but never before today)

[2016-07-10 18:49] alverLopez opened #9035 "Intellisense not working when creating new typescript file and referencing another ts file"
- VSCode Version: 1.3.0
- OS Version: windows 10

Hello, it seems when i create a new ts file, intellisense doesn't recognize it when i reference it.
![vs_code_bug](https://cloud.githubusercontent.com/assets/8460975/16715418/69db472e-46df-11e6-8d78-54c0792253e4.png)

As you can see, intellisense doesn't show me Phaser options, when i restart vs code it starts to work

[2016-07-10 19:01] RAdamMartin commented on #5908
Same here, just updated Ubuntu 14.04 to the June release.  Went away after full close and reopen.

[2016-07-10 19:15] johnfercher opened #9036 ".Git folder becomes too big"
- VSCode Version: Latest Version on site
- OS Version: Linux 16:04
- Language: C++

This actual version it's very good, I loved. But I notice a problem, I use OpenCV and Qt and includes the directories "/usr/include" and "/usr/local/include" on c_cpp_properties.json for the intellisense work with this libraries, after that, the size of.git folders jump of 33 mb to 607mb. If I not change the c_cpp_

[2016-07-10 20:39] NinoFloris commented on #8434
When will this fix be rolled out?

As I have both iTerm shell integration and powerline integration interfering with the proper extraction of the env.

Thanks for the fix though!

[2016-07-10 20:42] weinand opened #9037 "Do not require a type attribute for `enableBreakpointsFor` contributions"
There is no real connection between a `enableBreakpointsFor` contribution and a debug type because breakpoint enablement applies to files with a specific language independent from the debugger used for that language.

Currently it is necessary to contribute to a type which results in this duplication:
[code]

Please consider to eliminate the need for the type here.

[2016-07-10 21:49] o6l6 opened #9038 "ANDROID_HOME env. var. not recognized"
- VSCode Version: 1.3.0
- OS Version: Windows 8.1 64bit

Steps to Reproduce:
Run "cordova build" from the command palette. It will say: "Error: Failed to find 'ANDROID_HOME' environment variable." even though ANDROID_HOME is most definitely defined, both as a user and as a system variable, and was defined before VS Code was started.

[2016-07-10 22:38] wmertens commented on #6470
Err oops, I see that VSCode actually draws the indent lines for the entire block, I missed that. So I presume that is implemented in a different way…

[2016-07-10 22:57] Wernthaler opened #9039 "Can't install VScode v1.3 Source Code from Scratch."
- VSCode Version: 1.3
- OS Version:  Fedora Workstation 4.6.3-300.fc24.x86_64

I have some trouble to install 'vscode' after cloning and installing the project from Github.
I use a fresh Fedora Workstation Installation (fc24.x86_64) virtualized on VMware.

Please see the attached screen dump:

![vscode_install_error](https://cloud.githubusercontent.com/assets/20271294/16716623/20d6d322-4702-11e6-9

[2016-07-10 23:06] clavecoder opened #9040 "Support sanctioned package.json comment style"
# Suggestion
`npm` sanctions the use of the `"//"` property for comments in `project.json` [\[1\]][1] [\[2\]][2], but vscode JSON intellisense complains. Allow this comment style in project.json files in opened npm project folders.

## Environment
- VSCode Version: 1.3
- OS Version: Windows 10

## Steps to Reproduce

1. Add `"//": "...",` to `project.json`.
2. Observe green undersquiggle with tool

[2016-07-10 23:08] clavecoder commented on #3641
`npm` sanctions the use of the `"//"` property for comments. Unfortunately, vscode flags it as a duplicate object key. See #9040 for more details.

[2016-07-10 23:10] Tyriar commented on #9039
@Wernthaler the errors are from the option dependency and it says skipping afterwards, did you try run it after installing? What happens when you run:

[code]

[2016-07-10 23:30] Tyriar commented on #6470
Closing since @alexandrudima mentions he doesn't plan to implement. The problem mostly goes away now since native indent guides have been added.

[2016-07-10 23:30] #6470 closed

[2016-07-10 23:37] Tyriar commented on #9006
Closing as duplicate of #7269.

[2016-07-10 23:37] #9006 closed

[2016-07-10 23:38] Tyriar commented on #9016
Did you install via the deb package?

[2016-07-10 23:48] jmaster23 opened #9041 "Failed to execute git"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.
2.

[2016-07-10 23:48] segadude commented on #9016
Yes, I installed via the deb package.

[2016-07-10 23:50] Tyriar commented on #9016
Can you launch it via the launcher? Is there any output with `code --verbose`?

[2016-07-11 00:04] alirezaafzalaghaei opened #9042 "output window is not realtime!"
- VSCode Version: 1.3
- OS Version: 8.1-64

hi, i wrote a simple python script and run it from output window(not terminal):

    for i in range(1,1000001):
        print i

after while output window show: 1,2,3,...,9568
then output will freeze and again after while show another part: 9569,9570,...,18536
and again,again,again...

**BUT** if i run this script in terminal, all numbers will print one

[2016-07-11 00:07] bmingles commented on #8434
@NinoFloris I missed this initially in the thread, so just wanted to re-mention that opening vscode from the terminal circumvents the bug. At least it did for my scenario.

[2016-07-11 00:19] dend opened #9043 "Clear search scope when find widget is hidden"
- VSCode Version: 1.3.0
- OS Version: macOS X El Capitan 10.11.5 (15F34)

Steps to Reproduce:

1. Open a Markdown file (`.md`)
2. Select a fragment that has the `bold` formatting included (`**`).
3. Use `Command + F` to Find, then expand the little popup to `Replace`.
4. In the replace field, type in the code delimiter character (```).
5. Perform replace.
6. Now press `ESC` and select another line

[2016-07-11 00:25] segadude commented on #9016
I apologize, I should have mentioned that this happens when I control the machine over VNC. I didn't because I thought Visual Studio Code also didn't work when I was using the machine normally.  When I tried it sitting in front of machine, it started fine. This is the output I get when I run `code --verbose` over VNC:

[code]

[2016-07-11 00:26] JeffreyChan opened #9044 "can't run vscode correctly"
- VSCode Version:1.3
- OS Version: virtualbox Ubuntu 16.04

Steps to Reproduce:
step1：code .
step2: vscode menu can't work

1.
2.

[2016-07-11 01:16] eklavyamirani commented on #7893
While I love this feature, I think I can help with this one. :)

If we can agree on a behavior, I can land a PR for this. @bpasero What do you think?

[2016-07-11 01:27] PHeonix25 commented on #7570
Can confirm this exact same behaviour when running on Windows 10.
Putting my laptop in flight mode (as I was on a plane) meant that none of the processes were able to spawn. This means the issue is easily reproducible for me.

Running `code --version` or `code --help` while offline returns immediately without any processes spawning:
![image](https://cloud.githubusercontent.com/assets/165343/167174

[2016-07-11 02:37] zealotds commented on #8984
In my case, also needs to remove ~/.vscode (Ubuntu 14.04LTS)

[2016-07-11 02:41] dongrizhixue commented on #8985
@bpasero I can't provide screenshots, because I don't know when to quit it。

[2016-07-11 02:45] arastu commented on #7817
also not work in ubuntu:
[code]

and vscode:
[code]

[2016-07-11 03:22] louisfoster opened #9045 "Sudden inability to scroll and type in editor screen"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:50:12.291Z)
- OS Version: Linux x64 3.19.0-32-generic

**Update**
I'm using cordova and it seems to be related to running the build command, but doesn't happen consistently, only after about 10 minutes of using VSCode

**Original post**
Not sure what happened, but after installing 1.3.0 today, after doing some ed

[2016-07-11 04:17] fantasyKing opened #9046 "The terminal cannot scroll to check logs?"
- VSCode Version:1.3
- OS Version: mac os x 10.0+

Steps to Reproduce:

1.
2.

[2016-07-11 04:37] mae1st0rm commented on #2204
+1, MUST HAVE!

[2016-07-11 04:51] GregoryLundberg commented on #8984
On Arch, none of the workarounds helped for me. Not a big problem since I'm not using any for the project I'm working on right now (there are none) but it would be nice to be able to use extensions in the future.

[2016-07-11 04:52] that70schris opened #9047 "Many issues with styling different tokens"
Hello,

I recently started trying to build a custom theme from scratch and I've run into a few issues as well as find it very confusing to know which selectors are applied where.

One issue I've noticed in certain places is the assignment operator `=` appears to not be it's own token making it impossible to style separately:
https://cl.ly/3M2I3y0u0K1q

A similar issue happens sometimes with the pr

[2016-07-11 05:02] rchaganti opened #9048 "CTRL+<Right|Left> arrow is not working in integrated console"
- VSCode Version: 1.3.0
- OS Version: Windows 10

In the editor, and in general many consoles, Ctrl+Right or Left arrow moves the cursor left or right by a word. This functionality is immensely helpful within the integrated console too. At the moment, in the integrated console, this key combination results in inserting '5D'.

Steps to Reproduce:

1. Open Integrated Console
2. Type a command and th

[2016-07-11 05:04] bpasero commented on #7893
I am not sure this scales (e.g. having an option for each and every thing in the status bar?). I would rather want to be able to e.g. right click on something in the status bar to hide it (like a Chrome extension) and then another way to bring things back to the status bar. This needs UX prep work too.

[2016-07-11 05:05] #8985 closed

[2016-07-11 05:07] bpasero commented on #7570
Can you try to see if a bare Electron app starts at least? Try with:
* latest: https://github.com/electron/electron/releases/tag/v1.2.6
* our version: https://github.com/electron/electron/releases/tag/v0.37.6

[2016-07-11 05:08] bpasero commented on #9038
I am very sorry to hear you are having issues with VS Code. Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market

[2016-07-11 05:08] bpasero commented on #9045
@louisfoster is this reproducible somehow? anything in the developer console when this happens (toggle from help menu).

[2016-07-11 05:08] bpasero commented on #9044
@JeffreyChan what exactly does not work? can you maybe provide screenshots?

[2016-07-11 05:10] sebadoom commented on #8984
@GregoryLundberg did you run ```killall code``` from a terminal before removing ~/.cache/Code. I'm on Arch too and this worked.

[2016-07-11 05:12] SangLiang commented on #9022
Yes,i need this,and sublime text do better

[2016-07-11 05:13] louisfoster commented on #9045
@bpasero I haven't managed to effectively consistently reproduce it, it happens almost randomly. I will keep an eye on the console and report back. Very annoying though and does happen repeatedly, requiring a whole application restart.

[2016-07-11 05:19] Tyriar commented on #7817
@arastu there is a bug in 1.3.0 that if you resize the terminal window you can no longer scroll in that area, unfortunately it snuck into the library we use just before the release. Does it work all the time if you scroll with the cursor on the left side of the terminal?

[2016-07-11 05:30] eklavyamirani commented on #7893
I know what you're saying. I like the way most browsers handle this, a drag and drop based toolbar. It works really well, and gives a way to personalize the status bar.

I'd really like to help with this. :)

[2016-07-11 05:42] jaydenlin opened #9049 "Find in files using extenstion API"
Hi VS code team,
I would like to make an extenstion using `Find in FIles` API.
Is there any way to trigger `Find in Files` via extension ?
I only find `workspace.findFiles`.
Thanks in advance.

[2016-07-11 05:48] cg-cnu opened #9050 "Terminal windows wont' update on resize"
- VSCode Version:  1.3.0
- OS Version: CentOS Linux release 7.1.1503 (Core)

[Video](https://youtu.be/Vf61OmRe6tk)

[2016-07-11 05:51] anseki opened #9051 "Multiline find in file (Ctrl+F) does not work for \s or [^] regular expressions"
- VSCode Version: 1.3
- OS Version: Win 8/10

Version 1.3 supported Multiline Find, but Regular Expression seems not work completely.
- `\s` doesn't match line breaks.
- `[^]` doesn't match line breaks. We have to use `[\s\S\n]` instead of `[^]` to make it match any character.

[2016-07-11 06:18] DonJayamanne commented on #9042
This issue has been moved to DonJayamanne/pythonVSCode/issues/203

[2016-07-11 06:18] #9042 closed

[2016-07-11 06:41] TurkeyMan opened #9052 "mouse-wheel scroll on integrated terminal scrolls 1 line at a time"
- VSCode Version: 1.3.0
- OS Version: Xenial

Steps to Reproduce:

1. Print a lot of text to the integrated terminal
2. Scroll the mouse wheel

Notice that the mouse-wheel scrolls one line at a time... this is really slow, and not like other terminals (gnome terminal scrolls 4 lines at a time by default).
Would be nice if mouse-scroll did scroll the normal amount of lines.

[2016-07-11 06:44] aelbore opened #9053 "Cant Scroll up on integrated terminal"
- 1.3.9:
- OS X El Capitan:

Steps to Reproduce:

1. has long string in terminal (integrated terminal)
2. cant scroll up.

[2016-07-11 07:00] NCC1701M opened #9054 "TypeScript errors in new files until reload VSCode"
- VSCode Version: 1.3.0
- OS Version: Windows 7 Version 6.1 SP1

Steps to Reproduce:

1. Install angular-cli 1.0.0-beta.9 `npm install -g angular-cli`
2. Create a new Angular project `ng new TestApp`
3. Open TestApp-Folder with VSCode
4. Create a new TypeScript file in the src/app folder e.g. first.component.ts
5. Insert code in file (see below)

As you can see now VSCode shows some errors in firs

[2016-07-11 07:22] louisfoster commented on #9045
The only error I get is this one that repeats every few seconds from the moment I open the application, it continues to produce this error even after the editor stops working.
[code]
However, there is no output that seems to happen at the time the editor fails. The final line indicates that when I copied the error, around the time the editor stopped working, the error had been reported 1946 times.

[2016-07-11 07:27] bpasero commented on #9045
@louisfoster can you see if after you stop VS Code there are some ghost processes hanging around from a previous installation (VS Code 1.2) and make sure to terminate them all?

[2016-07-11 07:28] dbaeumer commented on #8833
Thanks for the steps. The difference to what I do is I create the new file in the explorer whereas you create a new empty file and then save. Need to see what differences in code paths that results in.

[2016-07-11 07:31] basvandenheuvel commented on #1758
Any info on this topic :)?

[2016-07-11 07:32] dbaeumer commented on #8833
The error occurs in the tsserver. The trace is:

[code]

[2016-07-11 07:32] espresso3389 commented on #8585
I have the completely same issue.
I'm creating a script to backup/restore extensions using --list-extensions but I cannot redirect the output from --list-extensions...

[2016-07-11 07:33] joaomoreno commented on #8869
cc @alexandrudima

[2016-07-11 07:35] joaomoreno opened #9055 "Revisit OS X fonts"
@fitojb says of 50d96e219097973dcce551cb6cdc589ecaba7362

[2016-07-11 07:35] alexandrudima commented on #8088
The "hidden" option got removed in 9bcb8b1838a6cba8e4a95b739a88a8dc5db99f1e

[2016-07-11 07:35] #8088 closed

[2016-07-11 07:39] #7872 closed

[2016-07-11 07:41] codingonHP opened #9056 "Extra : and ; getting added on pressing tab after : in css rules in scss file"
- VSCode Version: Code - Insiders 1.4.0-insider (4b84f6d791203e71fee10537f27fc8add9357160, 2016-07-08T07:45:28.445Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. write a css rule in scss file.
2. press tab after : in any of the rule
3. notice: extra : and ; are getting added
![image](https://cloud.githubusercontent.com/assets/7105293/16723170/03ee3b30-4769-11e6-9a6d-7756d67a758a

[2016-07-11 07:41] louisfoster commented on #9045
![screenshot_2016-07-11_17-37-40](https://cloud.githubusercontent.com/assets/8028567/16723148/907397e2-478e-11e6-850e-4f9c03f722f3.png)
Killing these lingering tasks after closing VSCode seems to have stopped the constant error outputs. I'll close this issue if within the next hour I don't get an editor crash.

[2016-07-11 07:42] joaomoreno commented on #8912
This issue was moved to CSSLint/csslint#664

[2016-07-11 07:42] #8912 closed

[2016-07-11 07:43] Wernthaler commented on #9039
@Tyriar Thanks for helping me.

When I run the command `npm run watch`, I get some errors about missing files:

![npm_run_watch](https://cloud.githubusercontent.com/assets/20271294/16722763/1515f2ba-4749-11e6-9547-b2ce8034451a.png)

Nevertheless when I run `./scripts/code.sh` in a new term session, the application launches, but I get an error message and some info messages in that console:

![code

[2016-07-11 07:45] joaomoreno commented on #8914
If you open the Developer Tools, do you see any errors there?

Does running the `Format` command from the Command Palette work?

What are the contents of your keybindings file?

[2016-07-11 07:45] bpasero commented on #9045
@louisfoster great, this was an issue we had for all Linux users that was fixed in 1.3 (but present in 1.2).

[2016-07-11 07:46] joaomoreno commented on #8922
I think what I'll do is just hide the icons when the width is that small.

[2016-07-11 07:46] louisfoster commented on #9045
@bpasero Unfortunately I am still getting a crash, and there are no errors in the console. I'm going to restart my computer and see if that helps.

[2016-07-11 07:47] joaomoreno commented on #8926
#2882

[2016-07-11 07:47] #8926 closed

[2016-07-11 07:47] joaomoreno commented on #8926
@Aukstkalnis as a workaround, you can always move the extension's folder out of `.vscode/extensions` and then place it back in.

[2016-07-11 07:48] dbaeumer commented on #8833
Some more tracing. This only happens if there is already a js in the workspace. If a first js file is created that way, no problem occurs. The full trace from the open of the test.js file for which formatting fails is:
[code]

Moving to the TS team since this looks like a project setup , ScriptVersion problem.

[2016-07-11 07:50] dbaeumer commented on #8833
This issue was moved to Microsoft/TypeScript#9610

[2016-07-11 07:50] #8833 closed

[2016-07-11 07:50] #8929 closed

[2016-07-11 07:51] joaomoreno commented on #8932
Aha.

[2016-07-11 07:51] #8932 closed

[2016-07-11 07:52] dbaeumer commented on #8987
Our translation process takes around a week to finish. This is why milestones builds will always have a minor amount of strings in English (especially around new features).

[2016-07-11 07:52] #8987 closed

[2016-07-11 07:53] #8941 closed

[2016-07-11 07:53] joaomoreno commented on #8941
Should be #8434

[2016-07-11 07:53] joaomoreno commented on #8945
cc @sandy081

[2016-07-11 07:54] #8953 closed

[2016-07-11 07:55] joaomoreno commented on #8953
#7871

[2016-07-11 07:56] #8957 closed

[2016-07-11 07:57] #9014 closed

[2016-07-11 07:58] bpasero commented on #9014
👍  a UI regression from having stacks because before when closing an editor we would not activate the next one in the stack, but now we do.

[2016-07-11 07:58] joaomoreno commented on #8959
Interesting. Yeah #3884 might end up fixing, but each extension can also improve by installing their dependencies with npm 3 which flattens the directory structure much more than 2. Can you file an issue on https://github.com/Microsoft/vscode-go as well?

[2016-07-11 07:58] #8959 closed

[2016-07-11 07:59] bpasero commented on #9045
@louisfoster yes please do that and when you have steps to reproduce somehow that would help.

[2016-07-11 08:00] weinand commented on #8955
@clarkio thanks for jumping in and explaining nicely how attach to port and attach to process id work.

[2016-07-11 08:00] #8955 closed

[2016-07-11 08:00] bpasero commented on #9045
@louisfoster and can you clarify that only typing does not work but you can scroll in the editor?

@alexandrudima fyi marking as important but we still do not fully understand what is going on.

[2016-07-11 08:00] joaomoreno commented on #8967
#8859

[2016-07-11 08:00] #8967 closed

[2016-07-11 08:02] bpasero commented on #8968
We should allow users to make modifications to the core CSS.

[2016-07-11 08:02] #8974 closed

[2016-07-11 08:03] bpasero commented on #8973
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-07-11 08:03] joaomoreno commented on #8978
@aeschli Is this #8045?

[2016-07-11 08:04] bpasero commented on #7414
Any updates after using 1.3?

[2016-07-11 08:05] bpasero commented on #8815
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-07-11 08:05] #8815 closed

[2016-07-11 08:05] PHeonix25 commented on #7570
I can confirm the same behaviour with the Electron app itself; both versions exhibited the same behaviour.

For reference, I downloaded the following two packages and just tried running `electron.exe` from a PS window (most similar example I could make to the reported behaviour above):
- electron-v1.2.6-win32-x64 (latest Win x64 binary)
- electron-v0.37.6-win32-x64 (Win x64 binary)

Thanks for hel

[2016-07-11 08:05] joaomoreno commented on #8984
#8859 (see last comment)

[2016-07-11 08:05] #8984 closed

[2016-07-11 08:05] #8998 closed

[2016-07-11 08:06] joaomoreno commented on #8986
Can you show me a recording of what you mean?

[2016-07-11 08:07] joaomoreno commented on #8991
Thanks for the feedback.

I did not understand point number 2.

[2016-07-11 08:09] joaomoreno commented on #8999
#8859

[2016-07-11 08:09] #8999 closed

[2016-07-11 08:12] joaomoreno commented on #9013
@dbaeumer : I want to forward this to the translation team. In Spanish, the `Uninstall` button seems way too long and includes the word `extension` unnecessarily.

[2016-07-11 08:13] joaomoreno commented on #9015
Thanks for the detailed info!

#8859

[2016-07-11 08:13] #9015 closed

[2016-07-11 08:14] joaomoreno commented on #9020
#7853

[2016-07-11 08:14] #9020 closed

[2016-07-11 08:15] #9027 closed

[2016-07-11 08:16] joaomoreno commented on #9028
Your extension can actually open a read-only document containing that info, through the API.

[2016-07-11 08:16] #9028 closed

[2016-07-11 08:16] JabX commented on #5131
In the latest 1.3.0 version (with the new extension panel), installing an extension now simply hangs without any kind of error message (not even in the dev tools).

[2016-07-11 08:16] alexandrudima commented on #7822
Obsolete

[2016-07-11 08:16] #7822 closed

[2016-07-11 08:18] bpasero commented on #7570
@PHeonix25 please report this to https://github.com/atom/electron

[2016-07-11 08:18] joaomoreno commented on #9031
cc @jrieken

[2016-07-11 08:18] egamma opened #9057 "vscode-extension: Provide an action to open the formatter settings file"
wrong repo

[2016-07-11 08:19] #9057 closed

[2016-07-11 08:19] PHeonix25 commented on #7570
Will do, thanks @bpasero.
FYI - after finding [this issue](https://discuss.atom.io/t/atom-crash-if-no-internet/12161) on the Atom Shell feedback forum, I also tried to implement one of the final proposed solutions: add the executable to the Windows Firewall rules - with no success - it's definitely a problem with electron. :cry:

[2016-07-11 08:20] bpasero commented on #8990
@CNMan something in the console (open dev tools from help menu)?

[2016-07-11 08:21] bpasero commented on #9017
@lextm yes, some steps would be greatly appreciated.

[2016-07-11 08:22] bpasero commented on #9022
Thanks for reporting this issue. Please use the issue search next time to see if there is a duplicate already. In this case, the issue has already been reported.

[2016-07-11 08:22] #9022 closed

[2016-07-11 08:23] bpasero commented on #9031
-1, but we have another issue where someone asks to show the "Close All" button in the actions area.

[2016-07-11 08:24] bpasero commented on #7570
Thanks for filing it 👍

[2016-07-11 08:30] joaomoreno commented on #8876
@Tyriar please cherry pick into `release/1.3.0`

[2016-07-11 08:30] sandy081 commented on #9010
Replace text does not yet support taking groups arguments from search text. But I agree this is a parity issue with local find. Will try to get this soon. Thanks

[2016-07-11 08:31] joaomoreno commented on #9036
Can you make a screen recording of the behaviour you are experiencing?

[2016-07-11 08:32] #9038 closed

[2016-07-11 08:33] joaomoreno commented on #9041
Closing, please provide more details so we can act upon it.

[2016-07-11 08:33] #9041 closed

[2016-07-11 08:33] joaomoreno commented on #9046
Please provide more details.

[2016-07-11 08:33] #9046 closed

[2016-07-11 08:35] joaomoreno commented on #9049
cc @jrieken

[2016-07-11 08:35] joaomoreno commented on #9050
Thanks for the video! 👍

[2016-07-11 08:36] aptro commented on #8897
@RobertoMalatesta  @joaomoreno  killing node and code and restarting os worked for me too.

[2016-07-11 08:36] #7839 closed

[2016-07-11 08:37] bpasero commented on #7839
We are now inlining SVG images during build time.

[2016-07-11 08:37] bpasero commented on #8516
Pushed to master. I got rid of our high contrast CSS hacks for background image.

[2016-07-11 08:37] #8516 closed

[2016-07-11 08:39] joaomoreno commented on #8897
https://github.com/Microsoft/vscode/issues/8859#issuecomment-231410408

[2016-07-11 08:41] kristofzerbe opened #9058 "Large JSON file don't even recognized"
In 2016 it is really disappointing when a new editor don't even recognize the format of a large JSON file (6.5 MB)

- VSCode Version: 1.3.0
- OS Version: Windows 10

Steps to Reproduce:
1. Create a new minified JSON file and fill it with data > over 5+ MB
2. Open in VS Code
3. Facepalm

[2016-07-11 08:43] lvse opened #9059 "When using the C# plug-in development, will often lose the smart tips."
- VSCode Version: 1.3.0
- OS Version: win 10

Steps to Reproduce:

1. When using the C# plug-in development, will often lose the smart tips.

[2016-07-11 08:44] LucaVazz commented on #9028
Thanks for the answer.
While this does feel like a *"hack"*, it's at least a way to archive that functionality...

[2016-07-11 08:49] lediur opened #9060 "[scss] syntax highlighting breaks after nested braces"
- VSCode Version: 1.4.0-insider f6227ca
- OS Version: Windows 10 Pro Insider 14385

Steps to Reproduce:

1. Create a SCSS file. Note that syntax highlighting works.

![image](https://cloud.githubusercontent.com/assets/1077648/16724906/d136291e-4709-11e6-9d0e-6d51b92a0bb7.png)

2. Add any level of nested braces within. Note that syntax highlighting works inside the nested braces:

![image](https://

[2016-07-11 08:52] nih0 commented on #9008
I have the same issue with a german keyboard on macOS(`OS X 10.11.1`).

- `OS X 10.11.1`
- `Version 1.3.0`

[2016-07-11 08:54] lextm commented on #9017
Closed temporarily till I can reproduce it.

[2016-07-11 08:54] #9017 closed

[2016-07-11 08:54] weinand commented on #9033
VS Code by itself does not know anything about .NET projects and project.json.
So it can only be the .NET extension that creates a launch.json that corresponds to the project.json.

[2016-07-11 08:56] weinand commented on #9033
This issue was moved to OmniSharp/omnisharp-vscode#556

[2016-07-11 08:56] #9033 closed

[2016-07-11 08:59] alexandrudima commented on #8952
Thank you for filing! :hear_no_evil:

[2016-07-11 09:00] #8952 closed

[2016-07-11 09:10] weinand opened #9061 "Debt: Support launch.json creation through extension host code"
Currently an extension can only contribute an initial launch.json statically, so it cannot adapt the launch.json to the contents or structure of an existing project folder.

For node.js we work around this in VS Code by specific code that understands the package.json.
With this feature we could move this code from VS Code into node-debug.

[2016-07-11 09:13] phindle commented on #8994
Hi Benjamin. Upon viewing the Quick-Open widget in the element inspector, I can see the text appears to be truncated. I've attached another screenshot which shows the situation in the debug tools.

Many thanks
Phil

![vscode-extensions-debugger](https://cloud.githubusercontent.com/assets/4445791/16725633/11b4f5a6-4750-11e6-8d6a-3ebd51db2131.png)

[2016-07-11 09:21] heroboy commented on #9045
@bpasero, I have the same problem. Today this happened serval times.
When it happens, I click the editor , it doesn't show or move the cursor. But ctrl+F is working.

[2016-07-11 09:25] bpasero commented on #8994
@phindle is this JavaScript? Do you have any extensions installed?

[2016-07-11 09:27] weinand opened #9062 "How to show errors in the editor"
Followup from #8836:

@isidorn we have already examples for how to show these kind of errors.
When trying to open a huge file, the error is shown like this:

![2016-07-11_11-22-21](https://cloud.githubusercontent.com/assets/1898161/16725950/0ab2069a-475a-11e6-9f91-e3c01e29b172.png)

We should align with that approach; ideally we should share the implementation.

[2016-07-11 09:27] bpasero commented on #9045
I wonder if this is the DND overlay div not getting cleaned up. Are you guys using DND to rearrange editors or move them?

@louisfoster @heroboy when this happens can you please open Help > Toggle Developer Tools and click on "Elements" and the little arrow (see screen shot) and move the mouse over the editor to see if some DIV is on top of the editor?

![image](https://cloud.githubusercontent.com

[2016-07-11 09:28] interactiveblueprints opened #9063 "(Linux, V1.3) Cannot install extensions"
- VSCode Version: 1.3.0-1467909982
- OS Version: Linux Mint 17.3 (Ubuntu 14.04 based)

Steps to Reproduce:

1. Install version 1.2
2. Update to version 1.2.1
3. Update to version 1.3
4. Click extension icon
5. Search for "eslint" (for example)
6. Click on "install"
7. Nothing happens, but errors show in Developer tools.

Error in developer tools:

shell.ts:416 Cannot read property 'call' of undefi

[2016-07-11 09:30] louisfoster commented on #9045
@bpasero Since I restarted my computer I haven't had the issue. However the console is logging another massively repeated error regarding this:
[code]

[2016-07-11 09:36] phindle commented on #8994
Yes, this is JavaScript.

I have the following extensions installed:

Bookmarks (0.8.0)
ESLint (0.10.18)
Debugger for Chrome (0.4.7)
Son of Obsidian Theme (0.2.0)
Git Blame (1.1.0)

[2016-07-11 09:43] ownadi commented on #9053
:+1:

[2016-07-11 09:48] bpasero commented on #8994
Might be Salsa then? We are not trimming any strings in the UI and from the screenshot it looks as if the string is already truncated when it returns from the language service.

[2016-07-11 09:49] weinand commented on #9058
@kristofzerbe I cannot reproduce this problem.
From the 190MB sized citylots.json from here https://github.com/zemirco/sf-city-lots-json I extracted a 15 MB sized json and opened that with VS Code.
It opened in < 1 sec and edition works without problems. Only the syntax coloring needs some time until it reaches the end.

Please provide more details about what problem you are seeing and how to repr

[2016-07-11 09:50] alexandrudima opened #9064 "Smaller Twitter logo"
`workbench\parts\feedback\browser\media\twitter.svg` is 42KB. Can we drop the icon or replace it with a smaller one please?

Follow up from #7839

[2016-07-11 09:50] heroboy commented on #9045
![qq 20160711174953](https://cloud.githubusercontent.com/assets/54468/16726643/e10f0672-478f-11e6-87b7-9c726cb50aed.jpg)
It seems  to be the drop overlay.

[2016-07-11 09:52] heroboy commented on #9045
And I drap another file to the editor, then it recovered.

[2016-07-11 09:53] #8434 closed

[2016-07-11 09:55] alexandrudima commented on #9051
@anseki We use JavaScript's regular expression engine behind the scene, so the supported syntax should be that of [JavaScript regex](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions). We do not have plans to switch to a different regular expression engine.

[2016-07-11 09:56] bpasero commented on #9045
@louisfoster this might be the ENOSPC issue which is explained in our FAQ section here: http://code.visualstudio.com/docs/setup/linux#_common-questions

@heroboy @louisfoster are you both using the extension to show icons in the explorer? I wonder if that is related.

[2016-07-11 09:56] louisfoster commented on #9045
@bpasero What heroboy wrote would make sense as I'm dragging files across windows into an emulator every time I do a build, which would correlate with why I'm getting this error around the same time. Although playing around with the dropping feature, I can't seem to trigger it since restarting my computer.

[2016-07-11 09:57] phindle commented on #8994
It's possible. I don't know enough about Salsa, or the internals of VSCode to offer much.
Am I able to debug Salsa? Is it part of the VS Code main repo?

[2016-07-11 09:57] bpasero commented on #9045
@louisfoster so you drag from outside a VM into the editor area to have the file opened?

[2016-07-11 09:58] alexandrudima commented on #8876
fyi @dbaeumer Maybe this is also the root cause for the other bug you've got with node modules version mismatches

[2016-07-11 09:59] louisfoster commented on #9045
No, I drag from a directory in my file explorer to a VM, but in the process my cursor floats over the editor window, which I assume was triggering the drop area, which wasn't clearing properly.

[2016-07-11 10:05] cg-cnu opened #9065 "Jade/Pug comment syntax"
- VSCode Version: 1.3.0
- OS Version: CentOS Linux release 7.1.1503 (Core)

Jade/Pug comment syntax highlighting is behaving odd!
Am not exactly sure if that's the issue with VScode or the way I am writing the comment syntax.
[Video](https://youtu.be/4S0GmSLFdh8)

[2016-07-11 10:06] alexandrudima commented on #9043
@dend I'm not sure I understand what the bug is. Please note: In 1.3.0 the find in selection does not auto-activate when opening the find widget and having a multi-line selection because it interferes and blocks multi-line search.

Here I am doing what you describe and it seems to function ok for me - sorry about the gif contrast which makes it difficult to see the find-in-selection range:
![find-

[2016-07-11 10:08] farin99 commented on #2204
+1

[2016-07-11 10:10] heroboy commented on #9045
@bpasero I installed "vscode-icons" extension. And everytime this happened is when I was switching to vscode from another window.

[2016-07-11 10:14] alexandrudima commented on #9029
@brunocasado Are you on the insiders or the stable stream? Do you use any extensions with VS Code, do you have any old stuck processes? (we have a very bad post-upgrade issue https://github.com/Microsoft/vscode/issues/8859#issuecomment-231410408 )

@Tyriar Have you ever seen this while selfhosting on Linux?

[2016-07-11 10:15] weinand commented on #9063
duplicate of https://github.com/Microsoft/vscode/issues/8859

[2016-07-11 10:15] #9063 closed

[2016-07-11 10:18] weinand commented on #9059
@lvse since the C# extension is not part of VS Code, please create a new issue in the C# repository: https://github.com/OmniSharp/omnisharp-vscode/issues.

[2016-07-11 10:18] #9059 closed

[2016-07-11 10:24] alexandrudima commented on #9021
@impelsystems Thank you for reporting, I spent quite some time trying to reproduce, but I could not get it to happen. Can you please record a gif? Do you have any extensions installed? Does this reproduce with `vscode --disable-extensions`?

![cursor-hidden](https://cloud.githubusercontent.com/assets/5047891/16727595/88eca0dc-476a-11e6-98ff-6df586f56965.gif)

[2016-07-11 10:24] weinand commented on #9065
@cg-cnu please provide more detailed steps what you are typing and how what you are seeing is different from what you are expecting.

[2016-07-11 10:25] alexandrudima commented on #9012
That is correct, we do the following:
* run a diff with trim whitespace ignored
* if there is no diff, then we run a diff again with trim whitespace not ignored

[2016-07-11 10:27] alexandrudima commented on #9000
@karai17 In the meantime, could you workaround with the column selection (shift+alt+ drag) ? In any case let's track this feature request in #3130

[2016-07-11 10:27] #9000 closed

[2016-07-11 10:29] alexandrudima commented on #8993
:+1: Let's track this request in #3130

[2016-07-11 10:29] #8993 closed

[2016-07-11 10:30] #901 closed

[2016-07-11 10:30] joaomoreno commented on #901
Verifier, read previous comment.

[2016-07-11 10:31] babychoux commented on #8991
ss
![2016-07-11_172602](https://cloud.githubusercontent.com/assets/11227831/16727842/430f7ee0-478d-11e6-87d6-ad7a0706efe9.png)

[2016-07-11 10:36] louisfoster commented on #9045
@bpasero I have finally successfully reproduced it. It happens only when I drag from my file explorer to the VM, there is only a few pixel between the two windows, with the editor in the background. It passes over the editor so quickly that the drop doesn't even flash the opaque white.

I'm not really sure what what the icons extension is, so I assume I don't have it installed, according to my "Sh

[2016-07-11 10:40] bpasero commented on #9045
@heroboy are you also using a VM?

[2016-07-11 10:42] gdimauro commented on #8757
Martin, thank you so much. I tried with relative URL's everywhere and it seems to work correctly as supposed.

Giuseppe

[2016-07-11 10:42] alexandrudima commented on #8962
`tasks.json` is sitting in the workspace (presumably also checked in a git repo...), thus its need to support different values across different Operating Systems.

`keybindings.json` or `settings.json` are local to the user, since that's where more personal things should stay (i.e. not shared with the team).

I would personally not complicate the structure for the majority of users that don't need

[2016-07-11 10:49] louisfoster commented on #9045
@bpasero It doesn't matter what the windows are, it happens dragging between any window with the editor in the background. The width between the two windows is around 2 to 6 monospace characters @ size 14 , any closer and it doesn't seem to trigger the drop in the editor, any further the drop seems to clear without any problems. Seems like it is just a timing thing.
![screenshot_2016-07-11_20-44-0

[2016-07-11 10:50] cfjedimaster commented on #7414
I barely had a chance to use it to so far and I'm on a week long vacation.
:) I'll be back at it next week and will definitely let y'all know.

On Monday, July 11, 2016, Benjamin Pasero <notifications@github.com> wrote:

--
===========================================================================
Raymond Camden, Developer Advocate for StrongLoop at IBM

Email : raymondcamden@gmail.com
Blog : www

[2016-07-11 10:52] alexandrudima commented on #8945
@csholmq I've added recently that the current find match also adds a full line decoration to help in spotting the current match easier (100% the same decoration as the go to line decoration, for example).

Here is how things work:
* the current line highlight (the one with thin borders) is the default one in the VSDark or VSDark+ theme. You can pick a different theme to get a different rendering.

[2016-07-11 11:05] alexandrudima commented on #8919
@DasJott I wonder if this is a Chromium issue, a few months ago we updated from Chromium 45 to Chromium 49, did you experience the same issue in Chrome?

[2016-07-11 11:06] alexandrudima commented on #8919
Do you also see the issue at https://microsoft.github.io/monaco-editor/ when visiting that page in Chrome?

[2016-07-11 11:09] alexandrudima commented on #8914
@hafuta Also what appears when you go to customize keybindings and use the `Define Keybinding` widget?

![shift-alt-f](https://cloud.githubusercontent.com/assets/5047891/16728755/f032a9b6-4770-11e6-869f-68369d979254.gif)

[2016-07-11 11:11] arciisine commented on #8676
It would be really nice if it it could pick up the tsconfig options as well.  I specified the `typescript.tsdk` location but, with the new lib modules in 2.0, I would also need to be able to specify which features I'm targeting, e.g.: `lib.es2015.promise.d.ts, lib.es2016.d.ts` beyond the language level.

[2016-07-11 11:14] alexandrudima commented on #8869
I agree that it is possible to wish to search for a substring and then wish to highlight only a full-word selection **both at the same time**, but I think this is quite uncommon and inventing separate UI affordances for "whole word" find and "whole word" selection highlight and "whole word" `Ctrl+D` would not offset their cognitive cost.

I personally use `alt+w` in this case. It works even if the

[2016-07-11 11:15] anseki commented on #9051
At least, V8 in Electron seems to interpret regular expressions correctly.
For example:
VS Code menu "Help" -> "Toggle Developer Tools" -> "Console"

[code]

[code]

Two strings that include line breaks were replaced correctly, and `OK` was shown.

I think, if regular expression of VS Code differs from JavaScript, the information should be documented. Because the pattern matches a string which doe

[2016-07-11 11:17] alexandrudima commented on #6470
@wmertens Yes, indent guides are a custom view concept - https://github.com/Microsoft/vscode/blob/master/src/vs/editor/browser/viewParts/indentGuides/indentGuides.ts

That has the advantage that they don't take the memory usually associated with a decoration (two tracked markers on the line + options) and can be painted custom even on empty lines (with no content). My hope is that, in time, we can

[2016-07-11 11:22] heroboy commented on #9045
@bpasero No, I'm not using a VM.

[2016-07-11 11:24] wmertens commented on #6470
@alexandrudima that makes me very happy! One implementation I really like is https://atom.io/packages/indent-guide-improved for Atom (doesn't do indents on empty lines)

![gif](https://i.github-camo.com/83f38ef15d0f90120fec4fc21fab18fc3ac0effc/68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f68617261692f696e64656e742d67756964652d696d70726f7665642f6d61737465722f646f632f64656d6f2e

[2016-07-11 11:25] timdelawe opened #9066 "Error of token transformation"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:50:12.291Z)
- OS Version: Linux x64 3.16.0-73-generic

I tested JavaScript and CSS: The Syntax highlighting doesn't work at all.
The error message is: Mode error while token transfomation of input.

HTML works fine!

[2016-07-11 11:28] timdelawe commented on #9066
![screenshot](https://cloud.githubusercontent.com/assets/17140558/16729223/5391abde-476b-11e6-9989-abc02a5f3030.png)

[2016-07-11 11:51] mbilling opened #9067 ".tsx code format broken"
- VSCode Version: Code - Insiders 1.4.0-insider (f6227ca157caed3ce3224ad9f760a8d5c8ed0e4d, 2016-07-11T05:07:20.965Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Open new VSCODE
2. Paste kode from file [Configurations.txt](https://github.com/Microsoft/vscode/files/356989/Configurations.txt) into Untitled-1
3. Save as e.g. "test.tsx"
4. Jump to line 1457
5. Press Alt + Shift +

[2016-07-11 11:52] georgeedwards opened #9068 "Feature Request: Right Click -> Copy Path on file list"
It would be really helpful to copy the path of a file. For example, if I search for something and a file is pulled up, with a long and complex path, it would be good to capture that, see below:

[![enter image description here][1]][1]

Being able to right click (ctrl + click on mac) on the file (which I am hovering over in the picture) and copy the file path would be really handy.

  [1]: http://i

[2016-07-11 11:54] mbilling commented on #8914
I just reported about the same issue but just for typescript .tsx files under certain circumstances but with concrete sourcefile that make is repro possible - weee :)
Maybe there is a bug in common here...
Issue #9067

[2016-07-11 12:02] mbilling commented on #9067
Also try and fold the code on the render() method
This shows a bug in code folding - maybe there are some issues reported on that too.
So maybe a fix fixes multiple bugs

[2016-07-11 12:31] bmdixon commented on #6387
I have a similar issue. When opening a `ps1` file in VS Code the 'Run with PowerShell' option in the right click menu disappears. I can restore it again by choosing open with 'Windows Powershell' but when i open a `ps1` file it gets removed again.

[2016-07-11 13:08] timdelawe commented on #9066
I have to correct my-self: the syntax highlighting of the HTML file is starting but reaches only until a code line around 50 before the mentioned error comes up.

[2016-07-11 13:22] alexandrudima commented on #9066
@timdelawe We have recently identified two major issues on Linux:
#8859 - updating does not shut down previous running instance gracefully (requires to manually kill vscode left-over processes)
#8876 - updating does not remove old files correctly

Is it possible you suffer from one of these issues on Linux? Is there any message in the console (command line where you launch it from or Help > Toggle

[2016-07-11 13:23] gerane commented on #8266
What about every other theme? Now, dark+ is the only theme that has proper lists, every other theme is broken.

[2016-07-11 13:25] alexandrudima opened #9069 "Highlight current indent level"
From https://github.com/Microsoft/vscode/issues/6470#issuecomment-231708391
From @wmertens

@alexandrudima that makes me very happy! One implementation I really like is https://atom.io/packages/indent-guide-improved for Atom (doesn't do indents on empty lines)

![gif](https://i.github-camo.com/83f38ef15d0f90120fec4fc21fab18fc3ac0effc/68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f

[2016-07-11 13:25] bpasero commented on #9045
@heroboy do you have some steps how to reproduce this without a VM? do you drop it somewhere special outside of the editor area?

[2016-07-11 13:25] alexandrudima commented on #6470
@wmertens Highlighting the current indent level is a very useful idea - created #9069

[2016-07-11 13:27] #8948 closed

[2016-07-11 13:28] joaomoreno commented on #8948
@bpasero Please code review

[2016-07-11 13:29] alexandrudima commented on #9051
@anseki Sorry about that! Now I understand what's going on.

To optimize on memory usage we do the following:
* [here](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/model/textModel.ts#L735) we preparse the search string and look for `\n` or `\r`. If we find `\n` or `\r` in the search string we assume this was a multiline search
* [then](https://github.com/Microsoft/vscode/bl

[2016-07-11 13:37] timdelawe commented on #9066
I restarted the OS and retried but the issue still comes up. So I think #8859 is okay for me.

I attached the output from the console:

![error](https://cloud.githubusercontent.com/assets/17140558/16732406/49b3333c-477d-11e6-8064-1f93488076db.png)

[2016-07-11 13:37] karai17 commented on #9000
I was not aware of that shortcut. That'll do for now. :)

[2016-07-11 13:43] brunocasado commented on #9029
@alexandrudima stable stream.

My extensions:

EditorConfig
Color Picker
ESLint
Stylesheet Formatter
add jsdoc comments
git blame

About process, none stuck process after exit.

[2016-07-11 13:47] gerane commented on #9019
this is every theme but the built in dark theme for me right now.

[2016-07-11 13:47] gerane commented on #8015
Every other theme is still broken

[2016-07-11 13:48] alexandrudima commented on #9066
@timdelawe Thank you! I am sorry you are definitely hitting #8876

Here is the workaround recommended by @Tyriar: https://github.com/Microsoft/vscode/issues/8876#issuecomment-231425705

[code]

From that issue:
[code]

[2016-07-11 13:48] #9066 closed

[2016-07-11 13:52] #9055 closed

[2016-07-11 13:52] joaomoreno commented on #9055
Verifier reference:

- https://developer.apple.com/videos/play/wwdc2015/804/?time=610

[2016-07-11 13:54] brunocasado commented on #9029
@alexandrudima disabled tabs. I think "solved"  the problem.

[2016-07-11 14:05] mjohnsonengr opened #9070 "Closing split view prompts to discard saved changes"
- VSCode Version: 1.3.0
- OS Version: Windows 10

Steps to Reproduce:

1. Open any file, make some changes to it (don't save)
2. Split the editor
3. Make more changes; close one of the splits and choose "Don't save" -- changes are reverted even though the file is still open and in plain sight.

It makes sense that the changes are discarded since I said Don't save, but it does not make sense that I

[2016-07-11 14:07] mmswi opened #9071 "SCSS formatter doesn't work anymore"
- VSCode Version: 1.3
- OS Version: OS X El Capitan 10.11.5

Steps to Reproduce:

1. SHIFT + ALT + F in an SCSS file

Hello,

This was working before but not it stopped. Tried installing plugins, etc. Still nothing.

Thanks

[2016-07-11 14:09] anseki commented on #9051
Sorry, my wrong English...

I read that code and I thought that this issue is difficult, because it can't decide whether the pattern get multiline or not by only keyword or characters.
For example, `[^x]`, `\x0a`, `[\x09-\x0b]` and other patterns also match line break.
I think, only some patterns that are commonly used such as `\s` and `[^]` should be supported. And the information should be docum

[2016-07-11 14:16] bpasero commented on #8948
LGTM

[2016-07-11 14:18] #9045 closed

[2016-07-11 14:19] VladimirAmiorkov opened #9072 "Autocomplete for "console.log()" in JavaScript and TypeScript is wrong."
- VSCode Version: 1.3.0 (1.3.0)
- OS Version: OS X 10.11.5 (15F34)

Steps to Reproduce:

1. type console.l
2. Press tab to autocomplete
3. the result is "console.console.log();"

It looks like not the method "log" is autocompleted but the entire class + function.

[2016-07-11 14:19] bpasero commented on #9045
Pushed a change to more aggressively remove the overlay as soon as the mouse enters.

[2016-07-11 14:24] riteshatsencha commented on #3553
Second that. It will help us for the extension we are developing @Sencha. [Here](http://stackoverflow.com/questions/38270751/vscode-api-for-file-explorer/38278890) is the link to Stack Overflow question on the same feature.

[2016-07-11 14:29] tim-comer opened #9073 "Dragging and Dropping a folder from file explorer doesn't work."
- VSCode `Version:1.3
- OS Version:Win 7 64bit

Steps to Reproduce:

1. Open VS Code
2. Open File Explorer
3. Drag a folder from file explorer to VS Code editor pane.

In previous versions of VS Code you could drag and drop folders to the editor pane in VS Code to open them.  As of 1.3 this functionality no longer works.  Nothing in the release notes says that this was removed, only that the drag

[2016-07-11 14:30] dbaeumer commented on #8994
This is Salsa and fixed in 2.0. See https://github.com/Microsoft/TypeScript/issues/8238

[2016-07-11 14:30] #8994 closed

[2016-07-11 14:30] thinkermao opened #9074 "Zoom + not working when I preview file"
- VSCode Version: 1.3.0
- OS Version: Win10

Steps to Reproduce:

1.  Open a md file, edit, and zoom + Editor
2.  OpenPreview

![image](https://cloud.githubusercontent.com/assets/7908062/16734118/ee0f727c-47b6-11e6-9b5b-491d50aa1c8a.png)

[2016-07-11 14:32] #8510 closed

[2016-07-11 14:32] #8922 closed

[2016-07-11 14:32] gerane opened #9075 "Broken Markdown Syntax Highlighting since 1.3.0"
EDIT: most of these issues appear to be from 1.3.0. If I try the same files in an earlier version of code, they look closer to those in the atom examples. I added a pre 1.3.0 VSCode image to example 2. None of the other issues such as bold, italics, html, code blocks, or anything else have issues in earlier versions. These all seem to have been introduced recently when making markdown its own lang

[2016-07-11 14:35] dbaeumer commented on #9054
Dups https://github.com/Microsoft/vscode/issues/6200. This is actually a problem of the ng new command generating a wrong tsconfig.json. See https://github.com/angular/angular-cli/issues/684 as well.

[2016-07-11 14:35] #9054 closed

[2016-07-11 14:38] dbaeumer commented on #9035
Moving to TS team

@alverLopez can you share the project. having steps or code to verify always helps to fix the problem.

[2016-07-11 14:38] dbaeumer commented on #9035
This issue was moved to Microsoft/TypeScript#9612

[2016-07-11 14:38] #9035 closed

[2016-07-11 14:40] #8856 closed

[2016-07-11 14:40] dbaeumer commented on #9013
@joaomoreno you can always assign @johnliu2016 from the translation team.

@johnliu2016 can you have a look.

[2016-07-11 14:41] dbaeumer commented on #9009
If you want to have main.js and library.js in the same JS space (e.g. project) you need to have a jsconfig.json in your folder. See https://code.visualstudio.com/docs/languages/javascript#_javascript-projects-jsconfigjson for details.

[2016-07-11 14:41] #9009 closed

[2016-07-11 14:43] dbaeumer commented on #8965
Moving to TS team since the formatter comes from the tsserver.

[2016-07-11 14:43] #8822 closed

[2016-07-11 14:43] dbaeumer commented on #8965
This issue was moved to Microsoft/TypeScript#9613

[2016-07-11 14:43] #8965 closed

[2016-07-11 14:45] gerane commented on #9075
These seem more like issues in the language\tmlanguage and not simple theme\tmtheme issues. Every single theme has these issues that I have tried. While Dark and Dark+ may have fixed the bullet part, all of the other issues are still present.

[2016-07-11 14:46] dbaeumer commented on #8954
If you newly generated the project you might be hit by https://github.com/angular/angular-cli/issues/684.

If not, can you share the project or an example reproducing it. With the steps above it is very hard to find out what is going wrong.

[2016-07-11 14:54] joaomoreno commented on #8541
There is now a `git.confirmSync` setting which, when `true`, will enable a confirmation dialog to popup before every sync.

[2016-07-11 14:54] #8541 closed

[2016-07-11 15:01] aeschli commented on #8045
We will have a release with the fix in the coming days.

[2016-07-11 15:05] Muzical84 opened #9076 "Even edited tabs I want to stay open go to "temporary" status and get closed if I open something else."
- VSCode Version: 1.3.0
- OS Version: Win7 Enterprise x64

Steps to Reproduce:

1.  Have tabs opened.  Edit them so the tab title should not be italics.
2.  Open something else, breathe, anything, click out and back in to a window, etc., and magically the tab you have focused now has an italics title and if you don't notice right away and open something else, the italics-titled tab naturally goes

[2016-07-11 15:07] bpasero commented on #9045
This needs verification across Windows, Mac and Linux. The only way I could reproduce this bug was to run Windows in parallels on Mac and drop a file from the Mac finder into the editor area. This should leave the editor OK and usable.

Also needs to verify that you can still do editor DND in the editor area (from explorer to tabs / editor area, from the desktop into editor area, etc.).

[2016-07-11 15:08] gerane commented on #9075
I edited the original post, I hadn't used code for markdown in a while and was attempting to finally switch. It appears the syntax for markdown used to be pretty decent, but some recent changes have made it terribly broken. To the point it is unusable for me. I checked an older version of code and the syntax works just fine. None of the issues highlighted here were issues in the earlier version.

[2016-07-11 15:09] aeschli commented on #8978
This issue was moved to Microsoft/TypeScript-TmLanguage#203

[2016-07-11 15:09] #8978 closed

[2016-07-11 15:11] aeschli commented on #9047
This issue was moved to Microsoft/TypeScript-TmLanguage#204

[2016-07-11 15:11] #9047 closed

[2016-07-11 15:12] aeschli commented on #9056
Emmet does that.

[2016-07-11 15:13] Tyriar opened #9077 "Be more explicit on what we expect from pull requests"
In order to avoid wasted effort such as in #7563, we should be more explicit on pull requests [here](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#pull-requests):

- Note that it may require discussion unless there is an explicit verbal call for a PR or has the help-wanted label. A GitHub issue may be a feature request, but it may not be a *valid* feature request given the direction o

[2016-07-11 15:14] bpasero commented on #9077
Could we show a template for when a new PR is opened similar to issues?

[2016-07-11 15:15] bpasero commented on #9076
@Muzical84 can you provide steps? btw you can disable the preview feature altogether setting `"workbench.editor.enablePreview": false`

Still what you describe sounds like a major bug.

[2016-07-11 15:16] bpasero commented on #9074
#5745

[2016-07-11 15:16] #9074 closed

[2016-07-11 15:17] bpasero commented on #9073
This has been fixed in insiders already.

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-07-11 15:17] #9073 closed

[2016-07-11 15:18] bpasero commented on #9070
Sounds like https://github.com/Microsoft/vscode/issues/8983

[2016-07-11 15:18] #9070 closed

[2016-07-11 15:22] mrmlnc commented on #9056
Hi, @codingonHP,

Unfortunately, this is not a problem VS Code. It is a problem of Emmet.

![2016-07-11_18-22-44](https://cloud.githubusercontent.com/assets/7034281/16736150/79c9fa94-4794-11e6-9010-43ad28c79509.gif)

[2016-07-11 15:27] rkralston commented on #8954
Not a new project.

angular-cli: 1.0.0-beta.6
node: 6.1.0
os: win32 x64

We are using a private repo on BitBucket. I think I am OK to share the project to an email address. I will double check with the university; if so, would it be OK to share it with your email?

[2016-07-11 15:28] Tyriar commented on #8942
Removing from candidate due to no customer complaints and I haven't been able to repro throughout all of June.

[2016-07-11 15:29] siegebell opened #9078 "support font-size in DecorationRenderOptions"
Feature request: support specifying the font size in `DecorationRenderOptions` and `ThemableDecorationAttachmentRenderOptions`.

[2016-07-11 15:29] vagarenko opened #9079 "Inconsistent colorization of multiline union and intersection types"
- VSCode Version: 1.3.0
- OS Version: Windows 7

Steps to Reproduce:
I'm using Dark+ (default dark) theme but some other themes have same issue:
![vscode-bug](https://cloud.githubusercontent.com/assets/1395677/16736118/1bb9499e-47a5-11e6-9180-0651db9177ff.png)

As you can see `B` and `C` are never colorized in multiline declarations and `A` is colorized in some cases. Same for string literal types

[2016-07-11 15:34] Muzical84 commented on #9076
@bpasero I honestly can't find a concrete set of circumstances that makes this happen; it just "does," and as a dev myself I do know that's not what anyone wants to read.  I do have two separate windows open, if that helps, and both have PHP git repos open.

I'll turn off previews in preferences for now; I'd forgotten I could do that.

[2016-07-11 15:40] MLefebvreICO commented on #8716
@dbaeumer I changed my version of TypeScript (Had a custom one they did to test out the errors) to `1.9.0-dev.20160609-1.0` and it seems to be returning a message properly now.

Maybe the TS server was not returning the information properly to vscode before therefore resulting in no  message shown in vscode ?!

I'll keep an eye on it and come back if I don't have a message shown.

[2016-07-11 15:41] HubertJFarnsworth commented on #8840
So I guess you are saying this is working as intended.  It certainly doesn't seem like the correct behavior to me.  It seems if the setting to convert tabs to spaces is set it should be used consistently and not depending on whether you are replacing text or not.  If you want a hacky way to insert \t then you can copy and paste one in.  This is the behavior of the other coding text editors on my s

[2016-07-11 15:41] #8840 closed

[2016-07-11 15:41] zeroum commented on #7080
This symlink bug still remains in vscode 1.2, 1.2.1 and 1.3.

At least with Fedora 23 and using DNF as the installation tool, if you try to upgrade from a previous installation, with official rpms from code.visualstudio.com, it will clean up the previous version and install the new one correctly, except for the /usr/bin/code symlink.

Uninstalling the package, and installing it again, always using

[2016-07-11 15:41] jakepearson opened #9080 "TSX code formatter behaves incorrectly after encountering type arguments"
- VSCode Version: 1.3.0
- OS Version: OSX 10.11.5

Steps to Reproduce:

1. Switch theme to `dark+`
1. Create a `.tsx` file.
2. Paste in the following code:
[code]
3. Most of the text below line 2 will be grey.
![](http://i.imgur.com/S9ASqr2.png)
4. Switching the file over to `typescript` language mode appears to solve the problem except for the `div` tags. I think that makes sense.

[2016-07-11 15:45] baltth opened #9081 "Duplicate search results after using "Go to definition" with C language"
- VSCode Version: 1.3.0
- OS Version: Ubuntu 16.14 LTS
- Microsoft C/C++ extension installed

Steps to Reproduce:
1. Open a folder (eg "/home/user/src")
2. Use Go to definition or Peek definition on any symbol
3. Search something with the search panel (ctrl+shift+f)
4. Get duplicate results from the _same file with two different paths:_
/home/user/src/src.c
///home/user/src/src.c

[2016-07-11 15:45] HubertJFarnsworth commented on #7682
@blakeembrey -- I completely agree.  I opened #8840 not knowing this one already existed.  The current behavior seems clunky and non-intuitive and allows \t characters to be inserted into a file unintentionally.  Visual Studio and Notepad++ also both seem to function as I would expect.  VSCode's behavior seems like the outlier, and IMHO incorrect.

[2016-07-11 15:50] CNMan commented on #8990
@bpasero nothing.fresh os and fresh vscode.

[2016-07-11 15:59] bpasero commented on #8990
@CNMan can we find out which of the 2 arguments is causing it by using one and then the other?

[2016-07-11 16:00] bpasero commented on #9076
@Muzical84 could it be you have the same file open in 2 windows? we do not share the preview state across windows nor editor groups (if you open side by side)

[2016-07-11 16:06] malekpour commented on #8578
It works perfectly. Thank you :+1:

[2016-07-11 16:06] alexandrudima commented on #7682
@blakeembrey I agree, hitting tab + indentation with spaces should not insert the tab character.

[2016-07-11 16:08] alexandrudima commented on #8840
I agree, I will make the change in July that if the indentation settings are to insert spaces, pressing Tab should insert spaces

[2016-07-11 16:08] syrigos opened #9082 "[powershell] syntax highlighting error"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 6.3.9600

Steps to Reproduce:

1. Create a powershell script
2. Create an object with a property that has a space, such as $obj."Property with space"
3. The highlight for the quotes doesn't display properly.

[2016-07-11 16:10] alexandrudima commented on #9029
fyi @bpasero

[2016-07-11 16:12] alexandrudima commented on #6046
fyi @bpasero Maybe related to the drop overlay thing?

[2016-07-11 16:13] bpasero commented on #9029
To reproduce I opened a *.js file on Ubuntu 15 and pressed + hold the arrow left or right key. I could not reproduce.

Are those the steps @brunocasado ?

[2016-07-11 16:15] bpasero commented on #6046
@alexandrudima that is easy to proove by opening dev tools and checking if the overlay div is on top of the editor.

[2016-07-11 16:17] MovGP0 opened #9083 "Markdown preview is broken in 1.3.0 release"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:
1. Open a markdown file
2. the magnifier glass for preview is absent on the top right

see also #8130

`Ctrl+Shift+V` works fine

[2016-07-11 16:23] alexandrudima commented on #5433
No info => closing

[2016-07-11 16:23] #5433 closed

[2016-07-11 16:24] johnfercher commented on #9036
This is the actual folder .git
![vs-git01](https://cloud.githubusercontent.com/assets/4752636/16737960/0c5134b6-476a-11e6-88aa-5ffa0625452d.png)

The Intellisense doesn't work if the includes has this error
![vs-git02](https://cloud.githubusercontent.com/assets/4752636/16737961/0c5989f4-476a-11e6-8f4d-cef718d656cf.png)

To resolve the error, I folllow the tutorial on VSCode site and add c_cpp_prop

[2016-07-11 16:25] richarddavenport commented on #7817
@wallverb I think this is specific to oh my zsh, or at least a zsh that is printing an `=` character. In my oh my zsh theme I also have an `=` character, but without oh my zsh I do not and scrolling is working. Is there anyway to filter out that character and still have it work?

[2016-07-11 16:26] alexandrudima commented on #5303
That is correct.

The colorization is limited to lines with 20k characters. https://github.com/Microsoft/vscode/blob/master/src/vs/editor/node/textMate/TMSyntax.ts#L254

The reason is to introduce an indirect upper bound on the time taken to colorize a line.

I've seen files where grammars were going crazy for 5 minutes tokenizing a single very large line.

[2016-07-11 16:30] mikeal commented on #1751
would love this! :)

[2016-07-11 16:32] MovGP0 commented on #9075
Here is a nice example with a table and escaped regex that is broken:

;proper highlighting in Github
[code]

; broken highlighting in Code
![regex in table](https://cloud.githubusercontent.com/assets/83339/16738205/07ce3382-4795-11e6-9c63-70785f3b542d.png)

; broken rendering in Code
![regex in table preview](https://cloud.githubusercontent.com/assets/83339/16738206/07cef47a-4795-11e6-9d39-2299a4

[2016-07-11 16:32] CNMan commented on #8990
@bpasero tested and the error occurs when run vscode with 2 arguments only.

[2016-07-11 16:38] gerane commented on #9082
This should be fixed soon I think.

CC @daviwil @gravejester

[2016-07-11 16:51] Tyriar commented on #7817
@richarddavenport just tried on my macbook and zsh works fine, I'll update the title accordingly. Since this is an upstream issue, let's centralize discussions in https://github.com/sourcelair/xterm.js/issues/151

[2016-07-11 16:54] Tyriar commented on #9029
I haven't seen this, at least not anytime recently (I recall a similar bug before v1.0).

[2016-07-11 16:55] MovGP0 commented on #9075
seems like the [Markdown plugin](https://github.com/Microsoft/vscode/tree/8b60f07f6912b63fe5bae9a70d75cbce30437582/extensions/markdown) uses [markdown-it](https://github.com/markdown-it/markdown-it) for markdown rendering and [highlight.js](https://highlightjs.org/) for syntax highlighting of code blocks. it delegates the view of markdown sourcecode to the text editor of code. so its probably not

[2016-07-11 16:56] Tyriar commented on #9077
I think [CONTRIBUTING.md](https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md) gets linked to in issues and PRs. Not sure all people click through to that though.

PULL_REQUEST_TEMPLATE.md was added in when ISSUE_TEMPLATE.md was though :+1: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-07-11 16:59] sandy081 opened #9084 "Applying replace on a file or on a single result is not removing the file or result if replace text matches search term"
Steps to Reproduce:
1.  Search for a term say 'SearchViewlet'
2.  Use replace term such that it matches Search term. Eg: 'SearchViewlets'
3. Apply replaceAll on a file or replace on a single result

Expected: Entry should be removed
Actual: Entry is removed and added back

[2016-07-11 16:59] Tyriar commented on #8876
Cherry picked to `release/1.3.0` https://github.com/Microsoft/vscode/commit/328274681b647838953fcf49fb46ad227e38c505

[2016-07-11 17:00] Tyriar commented on #8876
Steps to verify:

1. Install VS Code 1.0.0
2. Install VS Code 1.3.1
3. Launch and see if syntax highlighting works

[2016-07-11 17:01] #8740 closed

[2016-07-11 17:02] Tyriar commented on #9053
You're likely either experiencing:

- Shrinking and growing the terminal horizontally breaks scrolling in the resized area #8740 (fixed in Insiders)
- Integrated terminal scrolling not working in oh-my-zsh #7817

[2016-07-11 17:02] #9053 closed

[2016-07-11 17:12] jsloyer opened #9085 "Feature Suggestion: Cloning a repo"
In VSCode it requires you to open a folder to use it.  Instead of clicking open folder it would be nice to be able to clone a git repo from the Git viewlet on the left.  Instead of the message that says you must open a folder I am suggesting adding a button that you can click to have vscode clone a repo for you.

@bpasero thoughts?

I am volunteering to add this as well...

[2016-07-11 17:14] brunocasado commented on #9029
I only used arrow left or right.....

[2016-07-11 17:18] bpasero commented on #8990
@CNMan do you actually have something in the extensions folder (both in E:\Backup\VSCODE\extensions and E:\Backup\extensions)?

I cannot reproduce the extension host crash but I can also not install any extensions when running like that (@joaomoreno fyi).

[2016-07-11 17:18] bpasero commented on #9077
Yeah that sounds like the right way 👍

[2016-07-11 17:20] bpasero commented on #9085
**Disclaimer:** This is my personal opinion and should not be taken as opinion from the team or Microsoft

-1 from me. I would like to not add such functionality because imho it belongs more to the IDE space and not the editor space. I am very happy with cloning etc. from the terminal (either integrated our outside) and never miss to have such thing from the git viewlet.

@joaomoreno as the git vi

[2016-07-11 17:22] bpasero commented on #9029
@brunocasado can you make 100% sure that disabling tabs fixes this issue for you?

[2016-07-11 17:26] brunocasado commented on #9029
@bpasero so far so good.

In the end of day i can say with 100% sure.

[2016-07-11 17:27] bpasero commented on #6046
@miparnisari @Uriil to sort out the overlay issue, can you (when this happens), open dev tools (from help menu) and do as I show below in the GIF to see if there is a overlay DIV on top of the editor?

![editors](https://cloud.githubusercontent.com/assets/900690/16740041/794fa13c-479d-11e6-9bec-807970bf7743.gif)

Also, when the cursor is gone, can you type `document.activeElement` in the dev tools

[2016-07-11 17:30] bpasero commented on #9029
@brunocasado can you:
* enable tabs again
* open dev tools (from help menu)
* click on console
* type: `setInterval(function() { console.log(document.activeElement); }, 1000);`
* hit enter
* use arrow left/right until cursor is gone

=> see what the output is printed once the cursor is gone?

[2016-07-11 17:35] winuxue commented on #256
Hi. I tried what you said, and vscode started debugging! but doesn't stop in my breakpoints. is there something that I'm missing?

[2016-07-11 17:35] brunocasado commented on #9029
@bpasero
oh, sorry

tabs on top. new feature.

[2016-07-11 17:40] brunocasado commented on #9029
<textarea data-keybinding-context="54" class="inputarea" wrap="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-label="process.js. Text file editor." role="textbox" aria-multiline="true" aria-haspopup="false" aria-autocomplete="both" style="top: 0px; left: 0px; font-family: 'Droid Sans Mono', 'Courier New', monospace, 'Droid Sans Fallback'; font-size: 14px; line-height: 19px;"><

[2016-07-11 17:42] bpasero commented on #9029
@brunocasado thanks a lot. does this happen also if you just have 1 editor tab open and no other thing?

[2016-07-11 17:42] brunocasado commented on #9029
@bpasero look the image. I have edited :)

[2016-07-11 17:44] dilijev opened #9086 "[Feature Request] Drag and Drop Tabs to Different Windows"
- VSCode Version: Code - Insiders 1.4.0-insider (f6227ca157caed3ce3224ad9f760a8d5c8ed0e4d, 2016-07-11T05:07:20.965Z)
- OS Version: Windows_NT ia32 10.0.14372

Drag and drop open tabs between different VS Code windows. Or drag out to create new window. (Similar behavior to web browser tabs.)

[2016-07-11 17:44] Tyriar commented on #9008
Thanks, I think this is to do with lack of AltGr support (#7061). Please confirm :smiley:

[2016-07-11 17:46] Tyriar commented on #9052
This would come with implementing a native scroll bar, closing in favor of #6602.

[2016-07-11 17:46] #9052 closed

[2016-07-11 17:47] Tyriar commented on #9048
Duplicate of #7077

[2016-07-11 17:47] #9048 closed

[2016-07-11 17:50] Tyriar opened #9087 "Improve logging when terminal process dies"
A `console.error` should print stdout/stderr when a terminal exits with a non-0 exit code. The end result we want is an error message on the UI explaining there was an exit code (potentially mentioning to check the developer tools console for more detail), and the output of the process in the console such as:

[code]

[2016-07-11 17:51] bpasero commented on #9029
@brunocasado thanks, did you try to run without extensions to see if that makes any difference (`code --disable-extensions`)

Below is a video how I tried to reproduce it and failed on my Ubuntu 16:

![editors](https://cloud.githubusercontent.com/assets/900690/16740752/c883418e-47a0-11e6-9a33-95920e910bda.gif)

Could you also try what I do there to see if it reproduces?

[2016-07-11 17:51] Tyriar commented on #9030
All we get right now is the exit code of the process that is launched. Created #9087 to follow this up.

Can you try the suggestion in https://github.com/Microsoft/vscode/issues/7691#issuecomment-226126621

[2016-07-11 17:51] Tyriar commented on #8972
Duplicate of #6451

[2016-07-11 17:51] #8972 closed

[2016-07-11 17:52] Tyriar commented on #8140
Closing due to inactivity, please leave a comment if you're still experiencing the issue and/or have more information.

[2016-07-11 17:52] #8140 closed

[2016-07-11 17:53] Tyriar commented on #9024
Duplicate of #7727

[2016-07-11 17:53] #9024 closed

[2016-07-11 17:54] Tyriar commented on #8964
Closing in favor of #7240

[2016-07-11 17:54] #8964 closed

[2016-07-11 17:56] Tyriar commented on #8940
What happens when `clear` is run? Command not found? Command accepted but nothing happens?

[2016-07-11 17:57] be5invis commented on #1884
Made an extension to patch your custom CSS into Code:

https://github.com/be5invis/vscode-custom-css
https://marketplace.visualstudio.com/items?itemName=be5invis.vscode-custom-css

Set the `vscode_custom_css.file` option to the CSS you’d like to apply and enable it.

[2016-07-11 17:57] Tyriar commented on #9039
Any ideas on why this would fail @joaomoreno? I only see an optional dep fail in the npm install output.

[2016-07-11 17:58] Muzical84 commented on #9076
No, these are two separate folders.

[2016-07-11 18:13] csutorasr opened #9088 "The keyboard cursor disappears while side is open"
- VSCode Version: 1.3.0
- OS Version: Windows 10

Steps to Reproduce:

1. Open files side by side.
2. Adjust the width to a low value (e. g. 40% of the screen.
3. Go right with the keyboard cursor.

The cursor disappears if you do this. Only it won't render at the righter positions but it is there and you can type.

[2016-07-11 18:14] bpasero commented on #9088
@csutorasr does it make a difference if you disable tabs (`workbench.editor.showTabs`) ?

[2016-07-11 18:15] Tyriar opened #9089 "Create terminal.integrated.cursorBlinking setting"
Since editor.cursorBlinking now has a bunch of styles (#8088), a one specific to the terminal should be added with values `"solid"` and `"blink"`.

[2016-07-11 18:15] Tyriar commented on #8445
Superseded by #9089

[2016-07-11 18:15] #8445 closed

[2016-07-11 18:16] csutorasr commented on #9088
Yes, it makes difference. Then everything works well. 1.3.0 and tabs brought this.

[2016-07-11 18:22] bpasero commented on #9088
I can reproduce...

[2016-07-11 18:24] cg-cnu commented on #9065
From the video...
* When I added a new line above the comment It worked for the first time(syntax highlighting is proper in all the places).
* Next time only the line in which I added the new line didn't have the proper syntax highlighting(becomes white instead of green).
* At last, when I added the new line, syntax highlighting for the whole code below the new line is broken(random colors ).

Bas

[2016-07-11 18:28] jpderrick opened #9090 "Highlighting after HTML comments not consistent"
- VSCode Version: 1.3.0
- OS Version: El Capitan 10.11.1

Steps to Reproduce:

1. <!-- comment -- > gives the highlighting as if the comment has the correct syntax (green comment, rest is in HTML highlighting, whereas this isn't a valid comment closing, so the rest of the file is regarded as a comment

[2016-07-11 18:28] appeality opened #9091 "Latest update causes intermittent freezes in active editor"
- VSCode Version: 1.3.0
- OS Version: Windows Server 2008 R2 Datacenter (Remote Workspace)

Steps to Reproduce:

1. Open more than one tab/file
2. One or more tabs become unresponsive (happens intermittently) and the only way to regain responsiveness (e.g. select text or scroll) within the affected tab is to restart VS Code

This issue only started happening after the 1.3.0 update.

Thanks!

[2016-07-11 18:29] Tyriar commented on #8585
Seems fine on Linux, are these commands supposed to work on windows?

[code]

[2016-07-11 18:32] Tyriar commented on #8585
Perhaps this is related to code.sh or code.cmd [here](https://github.com/Microsoft/vscode/tree/master/resources/win32/bin)? PRs welcome if that is the case.

[2016-07-11 18:33] bpasero commented on #9076
Ok let me know if you found out anyhow to reproduce.

[2016-07-11 18:34] bpasero commented on #9091
@appeality are you moving editors around with Drag and Drop?

[2016-07-11 18:39] Tyriar commented on #9016
Ah, this is a duplicate of #3451 then. There's a workaround for it here https://github.com/Microsoft/vscode/issues/3451#issuecomment-227197582

[2016-07-11 18:39] #9016 closed

[2016-07-11 18:39] bpasero commented on #9029
I think I might have found the reason: when tabs are enabled we use a CSS property `mix-blend-mode `that seems to cause the cursor from hiding (which seems like a Chrome bug to me).

Can people hitting this issue when it happens:
* open dev tools on the elements tab
* find the title container on top where the tabs are contained
* remove the `mix-blend-mode` rule by clicking the checkbox
* move the

[2016-07-11 18:39] bpasero commented on #6046
@miparnisari @Uriil can you try my solution in https://github.com/Microsoft/vscode/issues/9029#issuecomment-231825432 ?

[2016-07-11 18:40] bpasero commented on #9021
@impelsystems can you try my solution in https://github.com/Microsoft/vscode/issues/9029#issuecomment-231825432 ?

[2016-07-11 18:40] bpasero commented on #9088
@csutorasr can you try me solution in https://github.com/Microsoft/vscode/issues/9029#issuecomment-231825432 ?

[2016-07-11 18:42] brunocasado commented on #9029
I tried some times again but without bug.... i think this bug is unstable hehe.

I not sure exactly when this occours.

I need finish some work, ASAP i'll try ok?

[2016-07-11 18:44] Tyriar commented on #7528
@Jiyuu the fix was to increase the watch count in https://code.visualstudio.com/docs/setup/linux#_common-questions ?

I've been wondering how best to inform the user of this. As far as I'm aware, unless a Linux user explicitly has increased the limit in the past, this will always occur when opening a large folder in VS Code. The problem is that this error can also mean the disk has no space, not s

[2016-07-11 18:46] Tyriar commented on #8415
Making everything more squished up just like a responsive website is the way to go imo, \[:star::star::star::star::star:\] could become \[5:star:\] when space is constrainted. Same goes for changing the install text to an icon at the same breakpoint.

[2016-07-11 18:47] csutorasr commented on #9088
document.getElementsByClassName("mix-blend-mode") returns []
So i think it won't work.

[2016-07-11 18:49] Tyriar commented on #8892
@wzyplus Does the problem go away if you use the default `editor.fontFamily` fallbacks?

[code]

[2016-07-11 18:57] gep13 commented on #5671
@Tyriar do you have any details of the VSTS job that you are running?  Thanks!

[2016-07-11 19:04] xiaochuanyu commented on #8869
@alexandrudima , what do you think about the following scheme?
1. Find box settings are independent of the highlighting string under cursor (HSUC for short) settings.
2. Highlight whole word under cursor if there are no text selected, otherwise highlight substrings matching selected text.

This is similar to scheme in Sublime Text except that Sublime Text doesn't actually highlight substrings when

[2016-07-11 19:07] metafractal opened #9092 "Find & Replace new-line characters does not work"
- VSCode Version: 1.3.0
- OS Version: Window 10

Steps to Reproduce:

1. Open sample file with multiple lines:
[a.txt](https://github.com/Microsoft/vscode/files/357836/a.txt)

2. "CTRL+SHIFT+H" to find and replace "\n" with any non new-line character. Ensure that 'Use regular expression' is selected.

(The new line characters are not being replaced, rather being appended to)

[2016-07-11 19:21] Uriil commented on #6046
@bpasero Ok, I will do it next time I see this bug

[2016-07-11 19:27] johnnyPescarul commented on #7570
Finally, somebody was able to replicate the issue :) Thanks @PHeonix25 . For me this was a very big issue, because I had set-up a travel laptop with my dev environment, tested everything and was relying on doing a lot of offline work on that laptop. Unfortunately when I tried to use it offline I realized it was not working, and at that time I had no option to connect and download a different IDE.

[2016-07-11 19:47] JoshMcCullough opened #9093 "Debug toolbar custom positioning"
- VSCode Version: 1.3.0
- OS Version: Windows 10

Happy that I can now move the debug toolbar in the the 1.3 update! However, I think it is better suited for the sidebar, as it is often/constantly in the way.

![image](https://cloud.githubusercontent.com/assets/4859660/16744322/919c5236-477e-11e6-8e6e-876e0234dee9.png)

Alternately, it could be attached to the debug console.

![image](https://clou

[2016-07-11 19:55] Tyriar commented on #5671
@gep13 it's closed unfortunately but it just runs a few git commands. Here's what it does:

[code]

[2016-07-11 19:57] chrmarti commented on #6603
The following clears the terminal with two (related) issues:
- There will be no prompt after clearing (like: bash-3.2$ <cursor>)
- Clearing while running something like vim or top will leave the terminal unusable.

	const esc = String.fromCharCode(27);
	this.xterm.write(`${esc}[H${esc}[2J`);

I'd suggest to not implement this and rely on the shell's built-in clearing (like `clear` in bash).

[2016-07-11 20:00] erichiller commented on #7266
The `terminal.integrated.shellArgs.windows` parameter was never added I take it? Just OSX and Linux?

[code]

[2016-07-11 20:01] zbjornson commented on #8983
Came across this after posting to uservoice:

https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/15156702-don-t-prompt-to-save-when-closing-a-file-tab-that

[2016-07-11 20:01] Tyriar commented on #6603
How about calling into [`eraseInDisplay`](https://github.com/sourcelair/xterm.js/blob/master/src/xterm.js#L3238) with Erase All arguments?

[2016-07-11 20:15] Tyriar commented on #7266
@erichiller yes, it was added and then removed when we tested and realized it didn't work. This is due to an upstream issue. It's being tracked in #8429

[2016-07-11 20:17] chrmarti commented on #6603
That's what <esc>[2J does. <esc>H additionally positions the caret in the top left corner. The problem remains that we don't know in what context we clear the terminal and therefore don't know how to properly prompt for input or if we even should clear the terminal in the first place.

[2016-07-11 20:21] impelsystems commented on #9021
@alexandrudima I will get a gif through if I can replicate it again

@bpasero sure thing I will try that

[2016-07-11 20:26] ksmithut commented on #3208
Just as a use case, I would like files that I can see in my editor and can open quickly and change (such as local config files), but I want it visually indicated that it's ignored from source control. No need to reopen, but seems like this could be a plugin...

[2016-07-11 20:29] Tyriar commented on #6603
You're right, I still this this should be done but it will need to be done upstream https://github.com/sourcelair/xterm.js/issues/173

[2016-07-11 20:32] Tyriar commented on #8128
@jrieken @alexandrudima It's still not clear to me, by configuration do you mean via settings.json (using something yet to be implemented), or via an extension using the new API in 1.3.0?

[2016-07-11 20:36] #9089 closed

[2016-07-11 20:39] cliffowen opened #9094 "Dragging folders no longer works on Mac"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:52:42.674Z)
- OS Version: Darwin x64 15.4.0

Steps to Reproduce:

1. Open Finder on Mac
2. Find a folder with a number of source files. Drag the folder onto the VS Code window.

Past behavior would add the folder/subfolders and files to the VC Code "solution". This is now broken and you must click the folder icon

[2016-07-11 20:39] Tyriar opened #9095 "Initial terminal size has problems"
Steps to Reproduce:

1. Create a terminal instance
2. Click to the right of the ~80 char point in the terminal, *notice the terminal cursor is still hollow (not focused)*
3. Click the terminal line to give focus
4. Run echo "foo"
5. Click out of the terminal
6. Click the same spot in step 2, notice it works

[2016-07-11 20:46] #9095 closed

[2016-07-11 20:50] winuxue commented on #1749
Horizontal split would be nice for developers comming from VS

[2016-07-11 20:53] ChrisJefferson opened #9096 "global search and replace doesn't respect regex variables"
- VSCode Version: 1.3.0
- OS Version: Mac OS X 10.11.5

Steps to Reproduce:

1. Try using a regex with a `$` variable in global search and replace. For example replace

```for(.*)``` with ```cat$1```

In a single file search and replace this replaces 'for' with 'cat'. In a global search and replace it deleted the whole line after ```for``` (including for), replacing it with ```cat$1```, removing t

[2016-07-11 20:54] bgashler1 commented on #3690
@bpasero yes, you're right that this is not an issue for Chrome.  It's only an issue in the stand-alone editor when running on IE and Edge.

So anything that is shared code with the stand-alone editor must use one of the techniques above or else all things displayed via `background-image` will be removed in high contrast mode on Windows.  It could really break the Monaco editor in Edge or IE on wi

[2016-07-11 21:05] hartbit commented on #8971
Fair large yes:

[code]

I'd like to note that the severe performance degradation (to the point of making it unusable) only started happening since version 1.4.0 (final - I don't download insiders).

[2016-07-11 21:14] danvk commented on #8888
There are times when I want to duplicate the open tab. Two examples that come to mind:

- I'm editing a Markdown file and want the new split to show a preview.
- I'm editing a large file and want to refer to one method while editing another.

[2016-07-11 21:16] chrmarti commented on #6603
There is a CSI code to lookup the current cursor position. That and a few others could potentially be used to delete all lines except the current one.

[2016-07-11 21:17] danvk opened #9097 "Add commands to restore previous non-tabs behaviour"
- VSCode Version: 1.3.0
- OS Version: Mac OS X 10.11.4

I really liked the old vscode behavior: I could have several splits open, each of which showed a single file. It was very vim-like. I like tabs in my browser but not my editor. It would be great if there were a way to disable tabs entirely and get the old behavior. I miss keyboard shortcuts like Cmd-Opt-Right to either switch splits or open a

[2016-07-11 21:18] mrmlnc commented on #9097
Option `workbench.editor.showTabs` did not help you?

[2016-07-11 21:21] danvk commented on #9097
That just hides the tab bar. It doesn't change the behavior.

For example, when I hit Cmd-Opt-Left and Cmd-Opt-Right, I cycle through the (now invisible) tabs, rather than changing splits.

[2016-07-11 21:28] pierredewilde commented on #9008
I am using a MacBookAir with a Belgian keyboard layout:
https://support.apple.com/library/content/dam/edam/applecare/images/en_US/keyboards/belgian_keyboard.png

There is no AltGr key on Apple keyboard layout.

[2016-07-11 21:54] mavericken opened #9098 "Sourcemaps not working in elaborate setup with system.js/node.js/babel/typescript (has example repro project)"
- VSCode Version: 1.2.1
- OS Version: Windows 10

Steps to Reproduce:
1. Get https://github.com/mavericken/jspm-node-typescript-vscode.git
2. npm install
3. npm install -g node-inspector
4. node-debug loader.js app.ts (see sourcemaps working)
5. open in vscode and click debug (see sourcemaps not working)

Screenshots here:
# https://github.com/mavericken/jspm-node-typescript-vscode/issues/2

[2016-07-11 22:01] wesrupert opened #9099 "Function breakpoints experience for debuggers that don't support them is still half-there"
- VSCode Version: 1.3.0
- OS Version: Windows 10

# Steps to Reproduce:

1. Set and hit a breakpoint in a C# app using the C# extension
2. Click the "Add Function Breakpoint" button in the debug pane
3. Type "GarbageMethodName()" and hit enter

*Note: the C# extension does not support function breakpoints, and sends `supportsFunctionBreakpoints: false` during initialization*

# Expected Result

Us

[2016-07-11 22:02] danvk commented on #9097
The old behavior for alt+cmd+left and alt+cmd+right is what I really want. If there were an editor action for switching between editor groups (as opposed to tabs) then I think I could define my own keybindings to make myself happy. Having alt+cmd+right create a new split when you're on the rightmost one (like it used to) would also be really nice!

[2016-07-11 22:12] dominique-mueller commented on #1884
`vscode-custom-css` works like a charm! I patches my CSS with this one here: https://gist.github.com/dominique-mueller/0d9f5aec202804caca4881838685cfc4, in combination with the Oceanic dimmed theme.

[2016-07-11 22:21] Tyriar commented on #6451
Proper keybinding support coming in v1.4.0!

Certain key combinations won't work as the terminal will consume them before VS Code has a chance to respond. This is being tracked in #7269

[2016-07-11 22:27] Tyriar opened #9100 "Test: Integrated terminal copy and paste"
Test plan for #6451

#### Operating Systems

- [x] Linux @isidorn
- [x] Mac @waderyan
- [x] Windows @waderyan

#### What to Test

The integrated terminal now has a set of keybindings in `keybindings.json` to copy inside the terminal and also paste into the terminal. Here are the defaults at the time of writing for Linux/Windows:

[code]

Notice the new `when` clause for terminal focus, the inverse

[2016-07-11 22:27] mrkiley commented on #5132
@aeschli you are correct. Sorry for such a late reply on this! Basically, it looked to me like it was folding based on knowing that I was implicitly making those properties into sub-properties of the property defined at line 253-273. I think it works as expected based on what you said, but certainly would be confusing for anyone who doesn't understand what it's doing. It honestly works fine for wh

[2016-07-11 22:31] natdm commented on #1749
Where is this on the backlog?

[2016-07-11 22:34] gregvanl opened #9101 "Should "Reopen with Encoding" dropdown include UTF-8 with BOM?"
- VSCode Version:1.3.0
- OS Version: Windows 10

Steps to Reproduce:

1. Click on Encoding button on Status Bar
2. Select "Reopen with Encoding"

UTF-8 with BOM is not in the list.
It is included if you select "Save with Encoding".
This came up when looking at vscode-docs bug https://github.com/Microsoft/vscode-docs/issues/402 which calls out that UTF-8 with BOM is missing in the screen shot for "

[2016-07-11 22:34] Tyriar commented on #6603
Exposing this in upstream would make things a lot more convenient for consumers, all they will need to do it `xterm.clear()` then. It should also be much safer since `eraseInDisplay` should really not be exposed, also sending key codes will fail if the terminal is currently executing a process.

[2016-07-11 22:36] Tyriar commented on #9008
@pierredewilde if possible, could you setup https://github.com/sourcelair/xterm.js and check to see if this reproduces in the demo? This should get it up and running easily:

[code]

[2016-07-11 22:39] Tyriar commented on #8100
@warpdesign can you confirm whether this still happens in latest insiders? If it does can you check the console in dev tools (Help > Toggle Developer Tools) for errors?

[2016-07-11 22:50] Tyriar commented on #6451
Reopening as these keybindings should be disabled on Mac since <kbd>cmd</kbd>+<kbd>c</kbd> and <kbd>cmd</kbd>+<kbd>v</kbd> work there.

[2016-07-11 22:53] j-martens opened #9102 "Why did we lose the ability to visualize markdown files?"
- VSCode Version: 1.3.0
e724f269ded347b49fcf1657fc576399354e6703

2016-07-07T16:50:53.590Z
- OS Version: Mac latest

Steps to Reproduce:

1. I used to be able to click an icon in the upper left to see how the markdown will render.
2. The icon is now gone.

[2016-07-11 23:10] appeality commented on #9091
I did drag and drop tabs within the editor.

On Mon, Jul 11, 2016 at 11:34 AM, Benjamin Pasero <notifications@github.com>
wrote:

[2016-07-11 23:12] garfieldbanks opened #9103 "Replace Context Menu/Edit Install Option"
I'd like an install option to have vscode replace Notepad/Powershell ISE/etc as my default editor when I select "Edit" from the context menu.

[2016-07-11 23:21] pierredewilde commented on #9008
Yep, same issue after installing and running `xterm.js`: no tilde appears.

BRW, you don't need `node <= 4`. Tested with `node 6.3.0`.

[2016-07-11 23:45] StephenWeatherford opened #9104 "Occasionally my text buffer will get scrambled (parts of it will get jumbled)"
- VSCode Version: 1.3.0
- OS Version:

Steps to Reproduce:
Sorry, no repro steps.

 Here's an example of the scrambled area - it appears characters from the beginning of many lines have been removed...

   private _startDownloadBlobsTask(
        sourceBlobFolder: string,
        destDiskFolder: string,
    defaultOverwriteIfEx i sts: boolean,
    items: CloudHub.Azure.IBlobContainerItem[],
    tr

[2016-07-11 23:45] StephenWeatherford commented on #9104
Luckily this hasn't happened very often.

[2016-07-11 23:48] TurkeyMan commented on #8888
I'd imagine preview to be a slightly different action no?

I think that's a job for a different kind of split, VS implements a within-one-tab splitter thing, and I always find that more convenient to use when wanting to do what you say.

[2016-07-12 00:02] ecmel commented on #1681
In case you missed it, Red Hat is brewing Java support based on Eclipse JDT: https://github.com/gorkem/java-language-server

[2016-07-12 00:10] yuzd commented on #5732
i got same error . how do you solve?

[2016-07-12 00:28] gregvanl commented on #8856
I think the commit didn't use plural Extensions.  Should be "Show Recommended Extensions" since there will usually be multiple recommendations.

[2016-07-12 00:31] 1988wj opened #9105 "有中文字符时 Tab键对齐代码有Bug"
- VSCode Version: 1.1
- OS Version: win7 sp1

Steps to Reproduce:
------------显示效果如下-------------
CREATE TABLE `Place`(
	`ID`                        int                         NOT NULL,
	`Comment`            varchar(512)         NULL,
	`UpdateTime`        timestamp            NOT NULL,
	`地名`                  varchar(64)          NOT NULL,
	`全名`                  varchar(64)          NOT NULL,
	`行政

[2016-07-12 00:32] edumunoz opened #9106 "Implement conditional function breakpoints"
- VSCode Version: 1.3.0
- OS Version: All

The debugging protocol for VSCode [supports](https://github.com/Microsoft/vscode-debugadapter-node/blob/c7e7fbd601913ec42102533ba428a0123387341f/protocol/src/debugProtocol.ts#L780) conditional function breakpoints.

However, I don't see how this can be achieved through the VSCode UI, since adding a condition is done through the glyph in the editor, but fu

[2016-07-12 00:37] ooronning opened #9107 "Unable to Install Extensions in Ubuntu"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:50:12.291Z)
- OS Version: Linux x64 3.19.0-64-generic (Ubuntu 14.04)

Steps to Reproduce:

1. Enter Ctrl+Shift+P, type `>install extensions`, and press Enter.
2. In the Extensions column, type `ReactSnippets`. Extension `Reactjs code snippets` should populate.
3. Click the green `Install` button, and there is no

[2016-07-12 00:53] csutorasr commented on #9088
I found out.
(Sorry, I can't reproduce, I just switched tabs)
The linewrap turnt on for no reason in tab mode, then the cursor came back. I think something could happen with line wrapping. If I would go out of line wrapping then my cursor is lost.

[2016-07-12 01:05] Tyriar commented on #9008
This issue was moved to sourcelair/xterm.js#174

[2016-07-12 01:06] Tyriar commented on #9008
@pierredewilde thanks, moved it upstream :)

[2016-07-12 01:07] PHeonix25 commented on #7570
No worries @johnnyPescarul - keep an eye on the [other issue](https://github.com/electron/electron/issues/6437) for updates.
I was in the same situation - and it was a very frustrating 14hr flight.

[2016-07-12 01:16] jaydenlin commented on #9049
Hi @jrieken,
Could you kindly provide any suggestion ?
Thank you.

[2016-07-12 01:51] f111fei commented on #9102
You can right click on the editor tab title and select `open preview`.

[2016-07-12 02:00] f111fei commented on #9106
![4](https://cloud.githubusercontent.com/assets/7069719/16752828/3e9a75ce-4817-11e6-804a-39d0fe97968f.png)

Right click on line number. `Edit BreakPoint` is conditional function breakpoints. this is similar to `chrome`

[2016-07-12 02:32] 1012808318 opened #9108 "Error"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1.Cannot drag and drop open folder
2.Cannot open multiple folders at the same time

[2016-07-12 02:36] whrool opened #9109 "Right-click to make a menu and VSC Not Responding"
### I right-click to make a menu and keep it for a long time(no more than one minute). It will report VSC Not Responding. But the fact is reverse. Actually, it is responding.

- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.![image](https://cloud.githubusercontent.com/assets/7413974/1

[2016-07-12 02:39] f111fei commented on #9109
duplicate https://github.com/Microsoft/vscode/issues/6414

[2016-07-12 02:42] johnliu2016 commented on #8988
@lukaschal Please implement linguistic review and bug fixing to the only translation in
/Localize/fra/vscode/src/vs/editor/contrib/rename/browser/rename2.nls.resx.lcl

      <Item ItemId=";rename.label" ItemType="0;.resx" PsrId="211" Leaf="true">
        <Str Cat="Text">
          <Val><![CDATA[Rename Symbol]]></Val>
          <Tgt Cat="Text" Stat="Loc" Appr="PreApproved" Orig="New" AutoAppr="N/A"

[2016-07-12 02:46] f111fei commented on #9108
duplicate https://github.com/Microsoft/vscode/issues/8726. This had been repaired in master.

[2016-07-12 02:49] f111fei commented on #9107
duplicate of #8859

[2016-07-12 03:10] johnliu2016 commented on #9013
@joaomoreno Looks this is a loc check-in timing issue, now Spanish button string has been re-translated to "Desinstalación"

[2016-07-12 03:12] scu319hy opened #9110 "incorrect translation"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. with simplified chinese language
2. GIT pannel: "此工作区尚未在 GIT 源控件之下" should be "此工作区未被 GIT 管理"
3. Debugger pannel: "调用堆栈" should be "调用栈"

[2016-07-12 03:14] f111fei commented on #9094
duplicate #8726. This had been repaired in master and [insiders](http://code.visualstudio.com/Download#insiders).

[2016-07-12 03:15] teyou commented on #9093
Yeah, sidebar would be an good option.
Especially after 1.3 (tab stacks feature) released, often find myself keep adjusting the debug toolbar position

[2016-07-12 04:12] tungvn opened #9111 "Drag and drop tabs from this window to other one"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Open a new file in new window
2. Can not drag and drop this tab to old window

[2016-07-12 04:12] calidion opened #9112 "';' will be removed after executing formatting"
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:52:42.674Z)
- OS Version: Darwin x64 15.5.0

Steps to Reproduce:

1.  open a file, right click the content.
2. select formatting

[2016-07-12 04:25] Wenzil commented on #8955
Am I right in thinking it's not possible to attach to a remote process using the process picker? It doesn't seem like it should work it theory, and I could not make it work in practice.

[2016-07-12 04:31] CNMan commented on #8990
[code]

[VSCODE.ZIP](https://github.com/Microsoft/vscode/files/358555/VSCODE.ZIP)
![2016-07-12_122635](https://cloud.githubusercontent.com/assets/8692234/16755202/7e465c3c-482c-11e6-8e7f-ae01a2bc2a43.png)

[2016-07-12 04:33] rebornix commented on #8133
@alexandrudima played with this API and I found that current information is not enough yet. A really simple example:

First, below is what will happen when we use Vim with English IME

1. Open a file
2. Use English IME
3. Type `a`
4. The Vim mode should be switched to Insert Mode immediately. It's not related to any key strokes after.

Then use Chinese IME

1. Open a file
2. Use Chinese IME
3. Typ

[2016-07-12 04:33] glennsarti commented on #9032
I too am having the issue of code highlighting.  I found the syntax highlight can also 'bleed' out of the code block to subsequent text

Test Info:
VS Code :1.3
OS: Mac OSX 10.11.5

Test Case 1

Before

<img width="760" alt="Test_case_1_before" src="https://cloud.githubusercontent.com/assets/5819622/16755111/fb874834-47ad-11e6-84bc-37f68619afc6.png">

After: Adding a single quote before the word `

[2016-07-12 04:52] bpasero commented on #7528
No.

[2016-07-12 04:53] bpasero commented on #9086
I pushed a change for the former, the latter is already covered in another issue (https://github.com/Microsoft/vscode/issues/8171)

[2016-07-12 04:53] #9086 closed

[2016-07-12 04:54] bpasero commented on #9083
https://github.com/Microsoft/vscode/issues/7666 for the issue that the action moved into the tab context menu.

[2016-07-12 04:57] bpasero commented on #3690
@alexandrudima is there some CSS that only gets loaded in the standalone editor? If so, we should add the `-ms-high-contrast-adjust: none` there.

@bgashler1 note that for the release of the standalone editor, Alex was already removing all HC hacks, so the current version that is out is likely not working so well with HC mode on in Windows. However, I am not sure if this was reported already.

[2016-07-12 04:58] bpasero commented on #8971
@hartbit it might be the file watcher then which is known to consume lots of CPU on large folders. You can try setting the `files.watcherExclude` to exclude large folders from your workspace to see if that improves things.

See also https://github.com/Microsoft/vscode/issues/3998

[2016-07-12 05:01] bpasero commented on #9097
@danvk I think you can configure everything as you like, the commands to move between groups are `workbench.action.focusNextGroup` and `workbench.action.focusPreviousGroup`.

Please let me know what else is missing and we can add those commands back 👍

[2016-07-12 05:03] bpasero commented on #9091
Ok, this is https://github.com/Microsoft/vscode/issues/9045 then.

@appeality are you using a VM or just pure Windows? Do you manage to reproduce this? I would like to understand how you got there.

[2016-07-12 05:03] #9091 closed

[2016-07-12 05:05] bpasero commented on #9088
@csutorasr this is not a CSS class but a CSS property on the title element where tabs are in!

[2016-07-12 05:06] #9094 closed

[2016-07-12 05:07] bpasero commented on #8990
@CNMan are those folders empty or do they have extensions? I am talking about `E:\Backup\VSCODE\extensions` and `E:\Backup\extensions`

[2016-07-12 05:08] bpasero commented on #9101
No, this only applies to when saving. When a BOM is present we always open with UTF 8.

[2016-07-12 05:08] #9101 closed

[2016-07-12 05:09] bpasero commented on #9102
Closing as duplicate of https://github.com/Microsoft/vscode/issues/7666

[2016-07-12 05:09] #9102 closed

[2016-07-12 05:09] bpasero commented on #9104
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-07-12 05:09] bpasero commented on #9107
Yup.

[2016-07-12 05:09] #9107 closed

[2016-07-12 05:09] bpasero commented on #9108
Yup.

[2016-07-12 05:09] #9108 closed

[2016-07-12 05:09] bpasero commented on #9109
YUP :D

[2016-07-12 05:09] #9109 closed

[2016-07-12 05:10] bpasero commented on #9111
Already fixed in master, you could give it a try from insiders:

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-07-12 05:10] #9111 closed

[2016-07-12 05:28] dend commented on #9043
@alexandrudima here is what I am talking about:
![tempgif](https://cloud.githubusercontent.com/assets/1389609/16756003/bf6da1dc-47b6-11e6-8acd-98ef0e3c3bb6.gif)

[2016-07-12 05:29] CNMan commented on #8990
@bpasero
E:\Backup\VSCODE\extensions is empty.
E:\Backup\extensions does not exist.

[2016-07-12 05:33] bpasero commented on #8990
@CNMan does it fix the issue when you create `E:\Backup\extensions` ?

[2016-07-12 05:37] wzyplus commented on #8892
@Tyriar No, it doesn't work.

![image](https://cloud.githubusercontent.com/assets/3762193/16756138/ac22c7cc-4835-11e6-86bf-371790de8292.png)

[2016-07-12 05:38] CNMan commented on #8990
@bpasero no

[2016-07-12 05:44] MovGP0 commented on #7666
when the filename is very long, a tab takes lots of width. the name should be shortened with an hellipsis character.

Instead of 'thisisaverylongfilename.txt' it might only show 'thisisav…e.txt'.

[2016-07-12 05:54] timdelawe commented on #9066
It worked, Thank you!

[2016-07-12 05:57] BondiGeek opened #9113 "Duplicate copy of file created when renaming the containing folder and changes to file not saved."
- VSCode Version: 1.3.0
- OS Version: Windows 10 Build 14385

Steps to Reproduce:

1. Create a folder (A) and place a couple of files in the folder with VSCode
2. Save any changes
3. Make an edit to one of the files in folder (A)
4. Do not save the changes to the file
5. Now rename folder A to folder B
6. You will not be prompted to save any changes or prevented from renaming the folder
7. If all

[2016-07-12 06:29] gep13 commented on #5671
@Tyriar thank you for the information!

[2016-07-12 06:38] gontadu opened #9115 "Create additional syntaxes/grammars for catering for the various SQL variants"
Getting into SQL dev now, I see that although largely the same, there are some important syntax differences between the popular SQL implementations in Oracle, PostgreSQL, MySQL and T-SQL (Microsoft SQL Server).

This issue is evident here e.g. https://github.com/Microsoft/vscode/issues/5223

I propose that additional syntax files are added to the sql extension. Other projects are also facing the s

[2016-07-12 06:39] gontadu commented on #9115
I am happy to do the pull request myself - but I am unaware of all the architectural changes required to recognise and add the new syntax file. Happy to get cracking with a guide of some sort.

[2016-07-12 07:05] sandy081 commented on #9096
duplicates #9010

[2016-07-12 07:05] #9096 closed

[2016-07-12 07:21] marvinhagemeister commented on #9021
This seems to be similar to #8828

[2016-07-12 07:25] joaomoreno commented on #9036
Right before running `git add -A`, what was the result of `git status`?

What extensions do you have installed?

[2016-07-12 07:26] dbaeumer commented on #9072
@VladimirAmiorkov do you have an extension installed that adds snippets. Looks like you selected a snippet. I can't reproduce this using 1.3.0

![cast](https://cloud.githubusercontent.com/assets/1931590/16758572/a8eb4ab6-4812-11e6-8b69-07516b5032ea.gif)

[2016-07-12 07:27] dbaeumer commented on #9072
Please ping if you see this on a vanilla VSCode install. A test project showing the error would be helpful

[2016-07-12 07:29] bpasero commented on #8828
@marvinhagemeister @SeijiSuenaga can you try my solution in https://github.com/Microsoft/vscode/issues/9029#issuecomment-231825432 ?

[2016-07-12 07:30] joaomoreno commented on #9013
Thanks @johnliu2016 !

[2016-07-12 07:30] bpasero commented on #9113
Thanks for reporting this issue. Please use the issue search next time to see if there is a duplicate already. In this case, the issue has already been reported.

[2016-07-12 07:30] #9113 closed

[2016-07-12 07:31] appeality commented on #9091
I'm running on a VM in Windows. I looked at the related issue and interestingly, I was also dragging files between windows, but not to the editor.

On July 11, 2016, at 10:04 PM, Benjamin Pasero <notifications@github.com> wrote:

Closed #9091.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.￼

[2016-07-12 07:33] joaomoreno commented on #8856
Oh man, great catch! Thanks!

[2016-07-12 07:33] dbaeumer commented on #8954
Yes, that is OK for me.

[2016-07-12 07:34] gravejester commented on #9082
That's correct. This bug is fixed in https://github.com/PowerShell/EditorSyntax/pull/12

[2016-07-12 07:35] joaomoreno commented on #8796
Closing as duplicate of #7874

[2016-07-12 07:35] #8796 closed

[2016-07-12 07:35] aeschli commented on #9079
This issue was moved to Microsoft/TypeScript-TmLanguage#206

[2016-07-12 07:35] #9079 closed

[2016-07-12 07:35] rampage644 commented on #396
I'm using git-project-manager extension to switch between folders, but would really love to have an option to open several folders at once.
+1

[2016-07-12 07:35] joaomoreno commented on #9039
Duplicate of #7874 and npm/npm#12698. Install the dependencies with npm < 3.9.

[2016-07-12 07:35] #9039 closed

[2016-07-12 07:38] joaomoreno commented on #8415
This was already pushed yesterday:

![image](https://cloud.githubusercontent.com/assets/22350/16758847/66394f9a-4814-11e6-9ee4-7433c9ebee23.png)

@Tyriar It's like you're a mind reader. 👍

[2016-07-12 07:38] #8415 closed

[2016-07-12 07:41] bpasero commented on #9091
@appeality can you be more specific how you dragged files? I would really like to reproduce this!

[2016-07-12 07:42] joaomoreno commented on #9085
Yeah mixed feelings here, although I do see the value.

You're gonna need

- UI for the user to input both the repo's url and the location in the file system, where to put that?
- UI to handle authentication, we have it but you need a workspace open.
- Code to switch to that workspace, not sure whether we have this from the renderer process.

[2016-07-12 07:49] joaomoreno commented on #7426
@scottaddie Let's do something else:

- Try to get an update. For that you can manually download an [older version](https://az764295.vo.msecnd.net/insider/f6227ca157caed3ce3224ad9f760a8d5c8ed0e4d/VSCode-darwin-insider.zip) and then trigger the update.
- Open the Console.app OS X application and look for any suspicious error/warning messages in there.

[2016-07-12 07:49] cray2015 opened #9116 "cant drag the folder to the editor."
- VSCode Version: Code 1.3.0 (e724f269ded347b49fcf1657fc576399354e6703, 2016-07-07T16:56:12.476Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. open a new window in VS code
2. try to drag and drop the folder in the editor, the window flickers but it shows No folder in the left panel.

[2016-07-12 07:49] joaomoreno commented on #2397
Fixed in dfd469d48ab5f8f8b4a01137b794b2ce2e511560

[2016-07-12 07:49] #2397 closed

[2016-07-12 07:52] warpdesign commented on #8100
@Tyriar it is still present in latest insider build (Insiders 1.4.0-insider (583f439c1d49128a4775c1ba5a1ac8c6ddd63d5f, 2016-07-12T05:07:12.670Z) on Windows_NT ia32 10.0.14385).

[2016-07-12 07:53] jrieken commented on #9049
That hasn't been exposed yet - mainly because we might change the search engine we use behind the covers which might lead to API breakage...

[2016-07-12 07:54] #7053 closed

[2016-07-12 07:55] joaomoreno commented on #7196
#3419

[2016-07-12 07:55] #7196 closed

[2016-07-12 07:57] joaomoreno commented on #7409
This happens due to a `status` call, not `fetch`.

Duplicate of #901. Now Code will not call `status` when in the background.

[2016-07-12 07:57] #7409 closed

[2016-07-12 07:57] VladimirAmiorkov commented on #9072
I can confirm that without any extensions I can reproduce this issue in a TypeScript file (.ts) in JavaScript it seams to be ok after removing 3 extensions (TypeScript extension, Angular 2 and NativeScript)

![jul-12-2016 10-42-21](https://cloud.githubusercontent.com/assets/4989411/16759406/654ca11c-481f-11e6-9f83-f5be173a0964.gif)

[2016-07-12 07:57] #8846 closed

[2016-07-12 07:57] AlminCode opened #9117 "GoTo Definition not working for Ruby"
- VSCode Version: Code 1.3.0
- OS Version: OS X, El capitan

Steps to Reproduce:

1. Open ruby file in VS code
2. Press F12 on selected method - nothing happens

[2016-07-12 07:59] jrieken commented on #5750
I just happens from time to time. Sorry, but no steps. I'll reopen if I have steps

[2016-07-12 07:59] #5750 closed

[2016-07-12 07:59] weinand commented on #9117
This issue was moved to rubyide/vscode-ruby#39

[2016-07-12 07:59] #9117 closed

[2016-07-12 08:00] #7453 closed

[2016-07-12 08:00] jrieken commented on #8895
this is #5745

[2016-07-12 08:00] #8895 closed

[2016-07-12 08:01] jrieken commented on #8995
Happens with empty buckets

[2016-07-12 08:04] Luncher opened #9118 "how to debug vscode from full compile output?"
- VSCode Version: 1.4
- OS Version: fedora 21

Steps to Reproduce:

1.  git clone vscode repository & gulp compile-client-build
2.  ./scripts/code.sh . --remote-debugging-port=9222

questions:

I want to debug src / vs / code folder, but devtools directory structure looks like this:
![screenshot from 2016-07-12 16 03 32](https://cloud.githubusercontent.com/assets/5138977/16759571/456fdc48-47dd-11e

[2016-07-12 08:08] alexandrudima commented on #8672
:+1: combined with the use of `translate3d` in rendering the cursors, it causes #9029

[2016-07-12 08:08] johnliu2016 commented on #9013
Thanks for pointing that, @joaomoreno
@lukaschal please send to linguistic review and implement bug fixing

[extensionsActions.nls.resx.lcl](https://monacotools.visualstudio.com/Monaco/_git/MonacoLocalization#path=%2FLocalize%2Fesn%2Fvscode%2Fsrc%2Fvs%2Fworkbench%2Fparts%2Fextensions%2Felectron-browser%2FextensionsActions.nls.resx.lcl&version=GBmaster&_a=contents)
      <Item ItemId=";uninstall" I

[2016-07-12 08:11] jrieken commented on #9003
It should be possible to uninstall the VS Code php extension.

[2016-07-12 08:11] jrieken commented on #9003
@joaomoreno fyi

[2016-07-12 08:12] impelsystems commented on #9021
@marvinhagemeister yep that is the one exactly #8828
cc @alexandrudima @bpasero

[2016-07-12 08:12] jrieken commented on #8991
duplicate of #3828

[2016-07-12 08:12] #8991 closed

[2016-07-12 08:13] slowmove commented on #9085
@bpasero though that mind set can be applied on the entire Git implementation in VSCode. I would say that you either shouldn't have any Git integration to let that be handled in terminal or by plugins, or you implement "all" the Git functionality.

[2016-07-12 08:14] jrieken commented on #8975
You can find a sample here: https://github.com/Microsoft/vscode-extension-samples/tree/master/contentprovider-sample. In short, you do this:

1. register a TextDocumentContentProvider for a uri scheme
2. tell the editor to open an uri that uses the scheme

[2016-07-12 08:14] #8975 closed

[2016-07-12 08:14] bpasero commented on #9116
Fixed in insiders.

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-07-12 08:14] #9116 closed

[2016-07-12 08:15] Tyriar commented on #8892
@wzyplus can you setup [xterm.js](https://github.com/sourcelair/xterm.js) and see if you can reproduce it in the demo?

[code]

[2016-07-12 08:15] bpasero commented on #9085
That is a perfectly valid statement and I disagree with that statement.

[2016-07-12 08:16] jrieken commented on #8861
This issue was moved to OmniSharp/omnisharp-roslyn#611

[2016-07-12 08:16] #8861 closed

[2016-07-12 08:18] weinand commented on #9099
@wesrupert breakpoints are not bound to a debug type. One reason for this is that they can be created at any time, even if no debug adapter is running. A consequence of this is that you can create them even if one of the currently installed debuggers cannot handle them.

A checkmark in the "Breakpoints" list does not mean that a breakpoint has bound properly. A checkmark means that the user has en

[2016-07-12 08:19] egamma commented on #9056
@codingonHP you can disable emmet completion on tab using the setting.
[code]

Closing as an upstream issue.

[2016-07-12 08:19] #9056 closed

[2016-07-12 08:19] Tyriar commented on #8415
Looks good! :sparkles:

[2016-07-12 08:20] jrieken commented on #8992
It depends on what you mean by `formatted text` and `write`. There are these samples

1. Have synthetic content in the editor using the [TextDocumentContentProvider](https://github.com/Microsoft/vscode-extension-samples/tree/master/contentprovider-sample)
2. Preview html in the [editor](https://github.com/Microsoft/vscode-extension-samples/tree/master/previewhtml-sample)
3. Open a new buffer that

[2016-07-12 08:20] #8992 closed

[2016-07-12 08:23] jrieken commented on #8128
It will be a new story, analog to `keybindings.json`. Think of a file `menus.json` that declared the menu structure you want.

[2016-07-12 08:24] Ciantic commented on #9003
I think crane still uses vscode's syntax highlighter for PHP. So if one were to remove VSCode's internal PHP extension, would it also remove the syntax highlighter?

[2016-07-12 08:24] bingzheyuan commented on #9105
O.O 居然用中文做列名....

[2016-07-12 08:29] jrieken commented on #9003
Yes - but we can also think about splitting our extension into one part that does highlighting and bracket config and another that does completions. That would allow for more freedom.

[2016-07-12 08:30] alexandrudima commented on #9043
@dend The find in selection button sets the search range when it is clicked. So if you select lines at the beginning of the file and the click the find in selection button, the search range will be those lines at the beginning of the file.

Moving the selection afterwards does not change the search range, it always remains that at the beginning of the file (as that was defined when the button was

[2016-07-12 08:35] alexandrudima commented on #3690
This one is only loaded in the standalone editor:

https://github.com/Microsoft/vscode/blob/master/src/vs/editor/browser/standalone/media/standalone-tokens.css#L1

[2016-07-12 08:40] alexandrudima commented on #7528
@dbaeumer we need to work together to figure out at least how to bubble this error back to the UI. I'm thinking it happens on TSServer start-up... ?

[2016-07-12 08:47] eladcandroid opened #9119 "Support Format SQL Code"
- VSCode Version: 1.3
- OS Version: Fedora 24

Steps to Reproduce:
1. Paste a SQL code
2. Try to format the code
3. No change..
   ![screenshot from 2016-07-12 11-46-08](https://cloud.githubusercontent.com/assets/13297000/16760815/479a3100-4826-11e6-913b-0efb60494413.png)

[2016-07-12 08:49] jrieken commented on #8886
That's what I meant.

[2016-07-12 08:50] joaomoreno commented on #7423
Fixed with 8df5e70d12523130e2e2d6e88aca43dc9962571f

[2016-07-12 08:50] #7423 closed

[2016-07-12 08:54] Treri commented on #8914
@joaomoreno @alexandrudima
I have the same problem.
I use vscode from the Command Palette to format a javascript file uglified by uglify-js, but it failed. It not format code correctly, and only format partially.

**source file**
![2016-07-12 4 47 08](https://cloud.githubusercontent.com/assets/2631733/16760863/5b438ccc-4850-11e6-87de-4c2475b08d60.png)

**sublime jsFormat formated**
![2016-07-12 4

[2016-07-12 08:55] ZCShou commented on #9105
发了这么多次英文，终于见到直接中文反馈的了！！！

[2016-07-12 09:05] alexandrudima commented on #8133
I will investigate further in our code-base, but beware that we don't have any input building (IME) logic either, Chrome does that.

We take the ["lower-level" events](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/browser/controller/keyboardHandler.ts#L145
):
 * `input`
 * `compositionstart`
 * `compositionupdate`
 * `compositionend`

We then do quite some computation to eliminate

[2016-07-12 09:07] alexandrudima commented on #8914
I think that is how tsserver decides to format. The fact that the whitespace changes indicates the integration works correctly and that tsserver simply decides to not insert newlines. Perhaps @dbaeumer knows of some config options that might help.

[2016-07-12 09:10] alexandrudima commented on #9092
@metafractal When I openend the attached file, I have noticed that it uses \r\n as a line separator:
![image](https://cloud.githubusercontent.com/assets/5047891/16761589/73c9ea60-4829-11e6-85fb-1178fde8c8c1.png)

![image](https://cloud.githubusercontent.com/assets/5047891/16761608/8d63f592-4829-11e6-817f-d8a9d7c35142.png)

Would searching for `\r\n` fix your problem in this case?

[2016-07-12 09:13] Treri commented on #8914
@alexandrudima

But if I have this file(see the first line of this file)
![image](https://cloud.githubusercontent.com/assets/2631733/16761670/b6fa63da-4853-11e6-895a-70925f83d066.png)

Then I use code to fromat, I get this
![image](https://cloud.githubusercontent.com/assets/2631733/16761694/d4c27a56-4853-11e6-8c0f-0565c7744146.png)

I upload my file
[app_01886e5b.js.zip](https://github.com/Microso

[2016-07-12 09:23] #7258 closed

[2016-07-12 09:24] mysticatea opened #9120 "The behavior of ctrl+f was changed in June_2016"
- VSCode: Version: 1.3.0
- OS Version: Windows 7

Steps to Reproduce:

1. Select text (multiline)
2. `ctrl + f` or `ctrl + h`

Previously, it enables `find in selection` by default.
But it disables `find in selection` by default since June_2016 update.

----

Could I revive the previous behavior?
I could not find the setting by searching in the default setting file by `find`, `search` or `select`.

[2016-07-12 09:27] joaomoreno commented on #8252
cc @modigrv @hamenon

[2016-07-12 09:30] alexandrudima commented on #8869
cc @joaomoreno as the initial author of HSUC.

@xiaochuanyu I am open to disconnecting the HSUC feature from `ctrl-D` and making it not be configurable (i.e. it always matches case sensitive, it never matches whole words, it auto-expands to the current word if the selection is collapsed).

HSUC is not impacting anything actually, it just adds visual decorators to the text. I made the leap of think

[2016-07-12 09:31] Treri commented on #9105
You should use english, and best have a screenshot for the problem code.

[2016-07-12 09:32] TWOWhite commented on #9105
666,一大片英文里面出了个中文

[2016-07-12 09:33] alexandrudima commented on #8874
@bpasero thoughts? I'm pretty sure I call `e.preventDefault()` and Electron still pops up the menu

[2016-07-12 09:35] alexandrudima commented on #8874
Related: #3130

[2016-07-12 09:35] weinand commented on #9118
@Luncher here is an example for how to set and hit a breakpoint:

- git clone https://github.com/Microsoft/vscode
- cd vscode
- ./scripts/npm.sh install
- gulp compile
- ./scripts code.sh
- F1: toggle developer tools
- set breakpoint in quickOpenController.ts:442 (method 'show')
- click into VS Code editor area to transfer focus to it
- open Quick Open by pressing Control/Cmd-Shift-O

You should h

[2016-07-12 09:35] #9118 closed

[2016-07-12 09:38] bpasero commented on #8874
As far as I know we cannot prevent the menu from showing when Alt is pressed because this is for accessibility. However afaik other native applications give a delay before showing the menu, not sure we can do the same.

[2016-07-12 09:38] schorg commented on #9032
I have the same problem, with a language extension I created locally using a .vsix file.

For my installed extensions I observe the following behaviour:

* The C# language extension does not highlight code blocks.
* The Lua language extension does highlight code blocks.

Infos:
* VS Code :1.3
* OS: Microsoft Windows 7 Professional

[2016-07-12 09:40] weinand commented on #9120
`Find in selection` is now available under this button:

![2016-07-12_11-39-38](https://cloud.githubusercontent.com/assets/1898161/16762594/5ff3b916-4825-11e6-97c5-2df44ee4c042.png)

[2016-07-12 09:41] be5invis commented on #8874
Just prevent it from showing up if the mouse is clicked in the period that the alt key is holding. In the situation that the user pressed and released alt only, show the menu as usual.

发自我的 iPhone

[2016-07-12 09:42] rebornix commented on #9105
@1988wj @ZCShou 没关系，我刚好不是老外 :) 不过你能提供更多信息吗，比如截屏和重现的步骤。我编辑 sql 文件，逐行添加以上 sql 语句，并未见到对齐的问题。

We can mark it as Need More Info as there is still no repro steps.

[2016-07-12 09:44] hamenon commented on #8252
@alexandrudima Agree with your note. Today on the Marketplace website for instance if a license is not available we don't display the link in the resources section. We could have a similar behavior within the editor as well, with either text noting that the license has not been provided or just not display the link. I'll  follow up with the legal teams on whether there is some form of default lice

[2016-07-12 09:44] weinand commented on #9106
The '+' action adds function breakpoints:

![2016-07-12_11-44-11](https://cloud.githubusercontent.com/assets/1898161/16762710/faa5e93e-4825-11e6-9754-630d7fa6ca45.png)

[2016-07-12 09:45] aeschli opened #9121 "Allow to 'resolve' a SymbolInformation"
Working on a Java language server...

`WorkspaceSymbolProvider.provideWorkspaceSymbols` returns a set of `SymbolInformation` where each SymbolInformation contains a location, including the source range of the element.

The problem is that acquiring the source range of an element is quite expensive in our case, as it requires opening the document that contains the symbol. (The symbol index we have

[2016-07-12 09:46] wzyplus commented on #8892
@Tyriar Can display but can't input.

![image](https://cloud.githubusercontent.com/assets/3762193/16762741/72a981b6-4858-11e6-911e-2224bb7c05df.png)

[2016-07-12 09:47] weinand commented on #9105
@1988wj please provide detailed steps (in English).

[2016-07-12 09:49] alexandrudima commented on #9120
With the support for multi-line search added in June, the auto-seeding of the search scope from the editor selection on find field focus was causing a lot of issues where the search scope was constantly seeded from multi-line search results.

I can look into adding an option to add the ability to get the old behaviour back.

[2016-07-12 09:51] Luncher commented on #9118
I know how to debug, how to set a breakpoint.

I found some code after I started devtools can not debug, for example
`src / vs / code` directory. I want to debug all the code how do I do that?

thanks :)

[2016-07-12 09:51] Luncher commented on #9118
@weinand

[2016-07-12 09:51] weinand commented on #9112
@calidion formatting depends on the type (language) of the file. What type of file are you referring to?

[2016-07-12 09:52] bpasero commented on #8874
I am not aware of any API to "prevent the menu from showing up". This discussion should probably move to Electron.

[2016-07-12 09:57] be5invis commented on #8874
@bpasero
I am not sure whether the "e.preventDefault" on keyboard release event works. If it doesnt, use the mechanism like “delete menu when it is hidden” instead of hiding it?

[2016-07-12 09:59] alexandrudima commented on #8812
This request is problematic.

We only paint visible lines. So if you add a decoration on line 7, and scroll away from line 7 such that it goes outside the viewport, then the decoration is removed from the DOM. Moreover, changing other decorations on line 7 causes the decoration to be recreated as a new DOM element (as we write to DOM all the decorations in one step).

This constant in-DOM off-DOM

[2016-07-12 09:59] bpasero commented on #8874
If we do that, how are you getting the menu back then?

[2016-07-12 10:01] be5invis commented on #8874
@bpasero You misunderstood my proposal.

We will monitor whether the mouse is clicked when the <kbd>alt</kbd> key is down. If the mouse is clicked during this period, it means that the user used <kbd>alt</kbd> to perform multi-selection, and then after <kbd>alt</kbd> is released, prevent the menu bar from showing up once. If not, show the menu.

[2016-07-12 10:05] be5invis commented on #8874
@bpasero
Event sequence example

- **Multi-selecting**: <kbd>alt</kbd> key down — mouse down — mouse up — <kbd>alt</kbd> key up
- **Single <kbd>alt</kbd> press**: <kbd>alt</kbd> key down — <kbd>alt</kbd> key up

[2016-07-12 10:05] ZCShou commented on #9105
@rebornix (⊙o⊙)…  枉发了好几次英文的！！ 不知道，他说的问题是不是 说 在SQL 中，Tab 对齐时，空位只有其他的一半！

[2016-07-12 10:13] jaydenlin commented on #9049
Hi @jrieken,
Okay.. I see.. Thank you for the reply.

[2016-07-12 10:17] calidion commented on #9112
@weinand
javascript

[2016-07-12 10:23] bpasero commented on #8874
Right that could work but would require us to explicitly null-ify the menu when we hide it instead of using the API of https://github.com/electron/electron/blob/master/docs/api/browser-window.md#winsetautohidemenubarhide and always bring it back when we detect the Alt key press.

This is such a major hack and mess that I would rather ask Electron for better API or handling on Windows.

[2016-07-12 10:25] be5invis commented on #8874
Does onkeyup's preventDefault work?

发自我的 iPhone

[2016-07-12 10:37] weinand commented on #9118
@Luncher follow this: http://stackoverflow.com/questions/31429394/debugging-electron-atom-script-with-visual-studio-code