[2016-09-05 10:27] isidorn commented on #11462
@weinand our plan is not to use folding, but add click listeners on the line and use unicode characters for expand / collapse simbols. @alexandrudima and me did a very quick and dirty visual experiment on how this would look like and in the end it looked something like the chrome dev tools tree. We used the unicode characters  ► and ▼for collapsed and expanded.
It would be drastically diferent to

[2016-09-05 10:28] jrieken opened #11537 "[json] completion suggests items already there: improve error recovery"
- open settings JSON
- find a setting that is already configured
- put cursor one line below, completion does have it
- put cursor one line above 🐛 completion has it

![sep-05-2016 12-26-21](https://cloud.githubusercontent.com/assets/1794099/18245183/2d5b59fe-7364-11e6-89c2-10e55fb62a5c.gif)

[2016-09-05 10:32] #11466 closed

[2016-09-05 10:37] joaomoreno commented on #11462
Looks really cool @isidorn

[2016-09-05 10:53] Treri commented on #11525
Yes.
But I do not know why zsh's application keypad mode will turn off vscode scrollbar and what's the relation between zsh's application keypad mode and vscode terminal's turn on/off.

[2016-09-05 10:58] #11469 closed

[2016-09-05 10:58] isidorn commented on #11469
Currently the id of a variable is determined based on it's parent's id and the name of the variable. And this should be unique. However a debug adapter can always return two variables with the same name in a given scope - this should be invalid in all languages but still the adapter could return such a falsy result. We are guarding against that [here](https://github.com/Microsoft/vscode/blob/maste

[2016-09-05 11:00] DanTup commented on #11514
@alexandrudima Excellent, thank you! I did search GH for `onEnterRules` trying to find it in code (suspecting a regex json issue) and didn't find it; hwoever I can see loads now, so maybe I pasted it badly! :(

Closing this as I think it's answered then :+1:

[2016-09-05 11:00] #11514 closed

[2016-09-05 11:01] netjune commented on #10281
Too busy the last saveral days. Sorry for the delayed reply.
I am available the the next 1~2 hours today. What about you?

[2016-09-05 11:06] mkyjakova opened #11538 "[loc][Query][VSCode] Please clarify "languages""
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
Associates languages to icons. The object key is the language id as defined in the language contribution point.

File Name:
src\vs\workbench\services\themes\electron-browser\themeService.nls.resx

Resource ID:
".resx", 0; "schema.languageIds"

Query:
Does it refer to programming language or language such as English,

[2016-09-05 11:06] xaviercest commented on #11511
@XVincentX ooooh i forgot...

[2016-09-05 11:08] asadsahi commented on #9448
Okay, Thanks @Tyriar will keep an eye on this issue.

[2016-09-05 11:46] bpasero opened #11539 "Explorer: indicate symlinks"
I think this should be done via icons.

[2016-09-05 11:47] bpasero commented on #11461
@dbaeumer I extracted the rendering of links to https://github.com/Microsoft/vscode/issues/11539. imho this should happen from the icon theme because if you do not show icons, we cannot really render symlinks.

As for not following symlinks when auto expanding, lets keep this one.

[2016-09-05 11:57] constructor-igor opened #11540 "I cannot start “javascript” debugger in Visual Studio Code (probably, because installed HPC)"
- VSCode Version:
![image](https://cloud.githubusercontent.com/assets/1849690/18247082/eb06a558-7378-11e6-8296-7ae3e5b35b08.png)

- OS Version: windows7

Steps to Reproduce:

Create folder with app.js file (with several javascript lines).
Create default launch.json
Run debugger. Visual Studio Code doesn't start debugger (seems, tries to execute node.exe from HPC package) DEBUG CONSOLE output:

lau

[2016-09-05 12:04] robinbentley commented on #11484
@aeschli Thanks, I'll look at making the change

[2016-09-05 12:13] daveredfern commented on #7273
@jrieken Thanks for replying so quick <3

@jrieken @aeschli just to confirm it's on any css selector:

![image](https://cloud.githubusercontent.com/assets/183473/18247440/79740ad8-736a-11e6-837b-b874dd16d42b.png)

Thanks,

Dave.

[2016-09-05 12:14] joaomoreno commented on #10281
Me too: https://hangouts.google.com/hangouts/_/joaomoreno.com/vscode10281

[2016-09-05 12:24] HolgerJeromin commented on #11504
*Save try 1:
** Message with "cannot save file"
*Click retry:
**Message goes away, but file is not saved.
**User thinks the file is saved, but it is not

[2016-09-05 12:26] #10535 closed

[2016-09-05 12:28] jrieken commented on #11516
That's how it is. @alexandrudima can fill in the details

[2016-09-05 12:28] joaomoreno commented on #10281
I saw you joined by left right after.

[2016-09-05 12:29] jrieken commented on #11529
What extensions do you have installed? Try to uninstall them one by one to figure out which caused this

[2016-09-05 12:32] NPatch commented on #585
Me2. Could you or will you expose it as json settings kinda like settings.json or keybindings.json?

[2016-09-05 12:37] isidorn opened #11541 "'debugger' on first line - stop event received before initilized"
Have the following code snippet:

[code]

Start debugging that code in vscode - notice an exception in the developer console. The root cause of this exception is that the 'stopped' event is coming before the 'initialized' event. I would not expect any 'stopped' events until initalization has completed.

Notice that everything works fine, if debugger statmment is ommited and there is a breakpoint o

[2016-09-05 12:38] anatsegev commented on #1920
It would be great to have full markdown support in the intellisense documentation!
:+1:

[2016-09-05 12:40] gforcedev commented on #329
Hopefully it shouldn't be because the main thing we are looking for is a way to store extension files. From experience, my settings file has stayed between auto updates anyway. Would you like me to attempt to build your changes and test how they work?

[2016-09-05 12:43] netjune commented on #10281
Network problem. Google is hardly accessed in Chinese.

[2016-09-05 12:46] wallverb opened #11542 "Integrated terminal should remember scroll position"
- VSCode Version: Code - Insiders 1.5.0-insider (538cd9ded5a471fbb20920f01eff9c8df4b83ee9, 2016-09-05T08:31:20.203Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:
1. Open integrated terminal or start debugger and open debug window
2. Have enough output so there is a scroll
3. Have terminal (or debug console) continue to output stuff (for terminal eg. `while true; do echo "hi"; sleep 1; done

[2016-09-05 12:46] netjune commented on #10281
Maybe I can make a screencast, and upload it to some place like www.youku.com. Is it usefull?

[2016-09-05 12:51] joaomoreno commented on #10281
Please, yes.

[2016-09-05 12:52] stevencl commented on #7273
@jrieken - I don't recall all the details about how and why we came up with this particular sort order. We looked at various ones, such as most recently used and I _think_ we ended up with the current approach because there were so many different sources of completions.

I have a vague memory that when we looked into it, we felt at the time that we couldn't come as close to a consistent experience

[2016-09-05 12:58] eamodio commented on #11485
@alexandrudima that makes sense. Is there anyway around this for me? As an extension my control over the CSS of the `before` decoration is quite limited. And while setting `min-width` vs `width` would fix **this** issue there might be other unforeseen issues.

[2016-09-05 13:03] oheard opened #11543 "The 'x' button to close a tab doesn't always work"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04.1

VSCode seemingly randomly forgets how to close tabs, furiously clicking the 'x' will eventually close the tab. There are no lockups/freezes when this happens, just the 'x' click being ignored (aside from animating on click).

Steps to Reproduce:

1. Open lots of files
2. Start closing them
3. Notice that although the X animates on press, not al

[2016-09-05 13:13] mrmlnc commented on #11478
@egamma, yes, I thinks that is a good idea. Theoretically (at a rough guess), we could replace the expanded snippet in a `replaceContent` function (`editorAccessor.ts`). For example:

[code]

As far as I know, this is the only place where we can see expanded snippet.

[2016-09-05 13:20] bpasero commented on #11504
Ok that would be a bug indeed.

[2016-09-05 13:31] nocksock opened #11544 "Tasks have different encoding than shell, breaks build task"
I have a fairly complex build task using grunt, which breaks when I try to use Tasks. However it works fine, when I use the Integrated Terminal.

I get the following error:

[code]

Which is due to a `ü` in a comment. So I'm guessing it has something to do with the encoding, but I'm not sure what to do.

[2016-09-05 13:33] Jakobud commented on #11528
You are correct and I was mistaken. For some reason I thought I was still seeing the object show up under `context.globalState._value` when I examined the object. Thank you,

[2016-09-05 13:33] #11528 closed

[2016-09-05 13:37] alexandrudima opened #11545 "Only shortcut in commandService.ts if the command is a core command"
Ref #10535

[2016-09-05 13:38] snicholson13 commented on #10338
Hi Martin

I see you closed this. I don’t think my file is 30 deep. I have reinstalled an older version so this bug goes away for now

Sarah | BA | 02037 579 019
snicholson@neworbit.co.uk<mailto:snicholson@neworbit.co.uk>

From: Sarah Nicholson
Sent: 16 August 2016 15:42
To: 'Microsoft/vscode' <reply@reply.github.com>; 'Microsoft/vscode' <vscode@noreply.github.com>
Cc: 'Author' <author@noreply.git

[2016-09-05 13:38] #10618 closed

[2016-09-05 13:39] eamodio opened #11546 "Question: Is there any way to trigger a "refresh" of a CodeLensProvider?"
- VSCode Version: `Version 1.5.0-insider (1.5.0-insider)` 538cd9ded5a471fbb20920f01eff9c8df4b83ee9
- OS Version: `OS X El Capitan Version 10.11.6 (15G31)`

I am trying to figure out a way to trigger a refresh (recalc) of a CodeLensProvider from inside an extension. Currently the CodeLensProvider automatically is refreshed on edits, but I want to have it refreshed after the document is saved (since

[2016-09-05 13:41] isidorn commented on #10618
We are now using the same indentation we use in the explorer. So 4px more. It should make things more obvious.

@rozzzly thanks for your suggestion but that is a seperate feature request. We are introducing icons to vscode in the August release and if you think your suggestion is the right way to go then please create a new feature request - thanks.

[2016-09-05 13:46] aeschli commented on #7273
@jrieken The screenshot is with a SCSS file. The proposals look right. It's a mix of values for the display property as well as built-in SCSS functions. We could be smarter there as most of the functions return colors.

[2016-09-05 13:50] Jakobud commented on #11506
Okay perhaps I'm a bit confused. If I remove the command from the `contributes` in `package.json`, and set my extension to activate `onLanguage:html`, and then register my command inside the `activate` method, I don't see it show up in the command palette. I don't see a way to set the title and description of the command dynamically. And I don't see even the command id `myExtension.myCommand` in t

[2016-09-05 14:02] HolgerJeromin commented on #11504
I can reproduce the issue on windows, too. Just deny write access to the file in this dialog:
![image](https://cloud.githubusercontent.com/assets/2410353/18250054/f8af020a-7381-11e6-82c3-082a605677ce.png)

Changing to "write only" in the first tab allows vscode to overwrite this lock after a dialog.

[2016-09-05 14:11] aeschli commented on #11496
@calebeaires Can you paste the html code snippet that you format?

[2016-09-05 14:31] calebeaires commented on #11496
This is the tags:

[code]

[2016-09-05 14:48] Sequoia commented on #11413
Thanks for the follow-up @aeschli

## Proposal
**Allow feature to be reënabled via flag in json schema user-settings mapping**. See ["Mapping in the user settings"](https://code.visualstudio.com/Docs/languages/json#_json-schemas-settings):

[code]

This would allow user mapped schemas, or plugins (such as mine) to *opt in* to this this powerful, existing feature, without breaking anyone else's jso

[2016-09-05 14:49] #7951 closed

[2016-09-05 14:49] #8362 closed

[2016-09-05 14:49] #9769 closed

[2016-09-05 14:49] #11311 closed

[2016-09-05 14:49] #11460 closed

[2016-09-05 14:49] #11494 closed

[2016-09-05 14:49] #11504 closed

[2016-09-05 14:50] bpasero commented on #11504
Verify: after retrying the save operation, the error message shows up again in case of another error.

[2016-09-05 14:52] bpasero commented on #7951
Verify: images changed outside are reloading in VS Code (both for when the image is active in a tab as well as if inactive and you make it active).

[2016-09-05 14:52] bpasero commented on #11311
@dbaeumer pushed the fix and adopted all places in the workbench but each extension needs to adopt this change too now.

[2016-09-05 14:57] joaomoreno opened #11547 "DiagnosticCollection.set(entries: [Uri, Diagnostic[]][]) overload doesn't replace all diagnostics"
It keep adding them to the document.

[2016-09-05 14:57] bpasero commented on #11543
We recently fixed something in this area, maybe you try from the insiders build:

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-05 15:04] glen-84 commented on #10552
Related: https://github.com/Microsoft/vscode/issues/919

[2016-09-05 15:10] bpasero commented on #8809
We got rid of `userSettings`, so only git remains.

[2016-09-05 15:11] jrieken commented on #11311
@bpasero How about us handling that instead of asking all extensions to update?

[2016-09-05 15:11] jrieken commented on #11528
Thanks for getting back so quickly

[2016-09-05 15:12] bpasero commented on #11533
This looks like an upstream issue with VS Code. We plan to update our Electron version and hopefully the Chrome update within improves situation for macOS 10.12.

[2016-09-05 15:13] jrieken commented on #11506
As said above: Dynamic modifications of the F1 list aka palette are tracked here: #10401.

[2016-09-05 15:21] alexandrudima commented on #11516
@jrieken's description of how it works today is correct.

@DanTup what you want can be achieved only through a different implementation, one where [`ISuggestSupport`](https://github.com/Microsoft/vscode/blob/25805c14a5252e595307db9da365756dfc0de245/src/vs/editor/common/modes.ts#L369) would also contain a list of `acceptCharacters`, besides the current list of `triggerCharacters`.

This would need

[2016-09-05 15:22] stochris commented on #2204
+1

[2016-09-05 15:24] bpasero commented on #11311
@jrieken good idea. but how can I know that an extension relied on the old way of sorting actions?

When I discussed this with @dbaeumer I raised the concern of this being a somewhat breaking change (at least breaking existing behaviour) however we then thought that the way it used to work was already broken and so with this fix the behaviour is correct (even though this means extensions with butt

[2016-09-05 15:25] alexandrudima commented on #11487
@drew-wallace How do you build your edits? Via `textEditor.edit`?

Note they will all be applied at the "same time".

[2016-09-05 15:29] OliverJAsh opened #11548 "TypeScript: rename enum doesn't cascade changes"
Version 2.1.0-dev.20160905

Given:

[code]

When I rename `Foo.Bar` on line one, it only renames usages of the enum as a value, not as a type.

Expected result (rename to Bob)

[code]

Actual result

[code]

![image](https://cloud.githubusercontent.com/assets/921609/18252278/afe4062a-7385-11e6-8dfc-0a4154716a18.png)

[2016-09-05 15:29] alexandrudima commented on #313
@erikbra :smile:  Yes, please go ahead and create a new issue.

There might be a low-hanging fix. Maybe we're not setting the multiline flag:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp
![image](https://cloud.githubusercontent.com/assets/5047891/18252299/31b17554-738e-11e6-963e-33526c8764c2.png)

[2016-09-05 15:30] jrieken commented on #11311
I believe it was always broken so for extensions there is no 'old way of sorting'. I believe that made me unshift the default [close action](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/mainThreadMessageService.ts#L52) instead of pushing - actually not really paying attention to this. So, we can do two things

* reverse actions [here](https://github.com/Microsoft/vscod

[2016-09-05 15:48] aeschli commented on #11538
It refers to programming languages.

[2016-09-05 15:48] #11538 closed

[2016-09-05 15:50] kevin1211 commented on #11491
i want to open file in a new tag , but it always opened in current tag 。

[2016-09-05 15:58] bpasero commented on #11491
@kevin1211 how do you open files? and what is your setting set to?

[2016-09-05 16:01] bpasero commented on #11311
@jrieken yes, I took care of pushing the close action so that it comes last as before (see https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/mainThreadMessageService.ts#L52)

I can add the reverse code so that we do not end up with behavioural change but @dbaeumer filed this bug exactly for this reason. I think the API should show the buttons in the order they are being pas

[2016-09-05 16:11] zigomir commented on #3508
Looking at typescript issue shows that 2.0 fixes this issue. This probably means that when TS2.0 lands in vscode we can expect this to be fixed, right?

[2016-09-05 16:23] sandy081 commented on #9143
@aminroosta

`Vjjjj` ing works find but `Vkkkkkk` ing will break selected code.

It is working for me very smoothly. Please see the attached video. I call the following command just like you did

[code]

![sep-05-2016 18-15-05](https://cloud.githubusercontent.com/assets/10746682/18253437/edabc7c2-7394-11e6-8a56-e4de5e9a1fa5.gif)

@rebornix, In regards to @johnfn comment,  may I know what is missin

[2016-09-05 16:35] realmx opened #11549 "CPU often consumes 100%"
- VSCode Version: 1.5.0-insider
- OS Version: macOS Sierra 10.12 Beta

Steps to Reproduce:

1. see screenshot
![wechatimg448](https://cloud.githubusercontent.com/assets/6071313/18253716/9045565e-73c9-11e6-8af9-4e7201002dc9.jpg)

- 1.4.0 stable is alright

[2016-09-05 16:38] joshiabk commented on #396
Why Microsoft people not concentrating on this ?

[2016-09-05 17:02] pcgeek86 commented on #2876
@bpasero I've noticed frequent responses to issue reports, which intend to improve the "core" user experience, and lower the barrier to entry, responded to with a dismissive approach. Issue reports like this one, and some that I've submitted, are intended to provide feedback about the basic user expectations from the editor in a default state. Careful thought should be given to these feedback item

[2016-09-05 17:06] mikes-gh opened #11550 "Add symbol list for existing textmate syntax"
- VSCode Version:
1.4
- OS Version:
Windows 7 sp1

Where do I add the plist for symbol listing

I am successfully tokenising an uncommon language and would like to do ctrl shift O to list functions.

I have

[code]

In my syntaxes folder

And I added this to a Preferences folder I created but I think its the wrong way.
Any hints on how to do this.

[code]

[2016-09-05 17:18] #11549 closed

[2016-09-05 17:19] realmx commented on #11549
I found other reasons

[2016-09-05 17:32] #10940 closed

[2016-09-05 17:35] achshar opened #11551 "JS Syntax highlighting breaks when creating new objects without parenthesis"
- VSCode Version: 1.4
- OS Version: Win 10

Steps to Reproduce:

![untitled](https://cloud.githubusercontent.com/assets/3441158/18254579/c2a55156-73bc-11e6-8e1d-db619cafd466.png)

It only happens if there's a closing parenthesis right after the class name.

so `var a = new Date;` is fine but `var a = (new Date);` is not. The function baz doesn't show it's green color. Not sure if this is a VS code

[2016-09-05 17:35] drew-wallace commented on #11487
Here's a simple example:

[code]

[2016-09-05 17:38] rainssong commented on #11530
@bpasero fantastic

[2016-09-05 17:38] #11530 closed

[2016-09-05 17:49] egamma commented on #11478
@mrmlnc this looks right. I'll add this to September milestone. Now that we have unit tests... we do this with unit tests 😎

To give the `TAB` back to the editor we can do something like this.

[code]

[2016-09-05 17:57] mrmlnc commented on #11478
@egamma, :+1:

[2016-09-05 18:57] DanTup commented on #11516
@alexandrudima Is that something we can do today, or do you mean it'd need work in Code? Is this not a reasonable feature request, or would you not wish to do it? (If you don't want to do it, I'll close https://github.com/Dart-Code/Dart-Code/issues/131 off; but it's a little unclear)

[2016-09-05 19:27] indiejames opened #11552 "As a user I want to be able to set the exception type for exception breakpoints"
- VSCode Version: 1.4.0
- OS Version: 10.11.5

Currently the exception breakpoint settings apply to all types of exceptions. In many languages such as Clojure/Java, there is a hierarchy of exception classes and it is convenient to only break on specific exception types. For instance if I see an exception caused by a ClassCastException I want to be able to set a breakpoint that will only trigger fo

[2016-09-05 19:38] Tyriar commented on #7874
@ramya-rao-a did you end up getting around this issue? I'm running into it on my Windows 10 laptop and `npm@next` is not as option since it's v3.10.

[2016-09-05 19:44] isidorn commented on #9061
@weinand somehow github did not notify me about this comment, thus the slow response - sorry.
Yes, but this feature request is a subset of writing to the launch.json at any time - which feels to me like a clean and elegant solution which conforms to our VSCode api.

[2016-09-05 19:44] Tyriar commented on #9448
I've root caused this to a line in the `URI.fsPath` forcing a lowercase drive letter. This is apparently a design decision that cannot be changed so it needs to be worked around in the external terminal code. I have a fix for it but I'm having some issues building on my Windows machine currently. I hope to get this in for the September release (v1.6)

[2016-09-05 20:13] Streppel opened #11553 "Inverted (natural) scrolling on Linux?"
- VSCode Version: 1.4.0
- OS Version: Ubuntu (Lubuntu flavor) 16.04 LTS

Steps to Reproduce:
1. Swipe with two fingers upwards
2. Window moves up instead of down, though I have natural scrolling enabled on Lubuntu

Could it be the reason that natural scrolling is not a default preference in Lubuntu? Is there a way to enable natural scrolling on VSCode, though? I use it everywhere, it feels unnatur

[2016-09-05 21:13] #10486 closed

[2016-09-05 21:20] isidorn commented on #11376
@weinand this works as expected for me, since these writes are sent to different streams - first is stdout second is stderr. We seperate the writes based on severity - e.g first is info, second is error (which is in colored red). The following snippets prints everything in one line as expected

[code]

[2016-09-05 21:27] isidorn commented on #6041
This is a native chrome hover which has a size limit on linux.
Closing as will not fix

[2016-09-05 21:27] #6041 closed

[2016-09-05 21:29] isidorn commented on #5841
Closing this as we have not reached a concenzus and I do not think adding this is solving any issue for the user.

[2016-09-05 21:29] #5841 closed

[2016-09-05 21:31] rlabrecque commented on #329
Go for it!

[2016-09-05 21:39] erichiller commented on #11500
@jrieken - yes - absolutely dead on!

[2016-09-05 21:43] asadsahi commented on #9448
Thanks @Tyriar  can this be a specific fix for windows if other OS's need to have a lowercase drive letter? Can you explain what is design decision behind this?

[2016-09-05 22:04] weinand commented on #11376
@isidorn your example prints everything in one line because you only get one OutputEvent, correct? The node runtime buffers writes. So your example doesn't prove that no additional newline is appended.

The purpose of my example from above was to prevent the buffering by using different streams and prove that an additional newline is appended.
In the integrated terminal or the external terminal bo

[2016-09-05 22:12] HolgerJeromin commented on #11504
Thanks for the quick fix!

[2016-09-05 22:14] leo90skk opened #11554 "Empty untitled file should not show up as dirty"
- VSCode Version: 1.4
- OS Version: ubuntu 16.04 LTS

Steps to Reproduce:

1. create empty file
2. write something
3. delete the content
4. try to close
5. you will be asked:

Why that question? ... the content is empty and a file does still not exist.

[2016-09-05 22:49] mrmlnc commented on #1765
@aeschli, you can see demo extension in VS Code 1.5.0

https://github.com/mrmlnc/vscode-jade-syntax

[2016-09-05 23:28] xaverh commented on #11553
In my case _synclient_ did the trick. You can change the value of VertScrollDelta to your choice (higher absolute value means faster scrolling, the minus changes the direction to 'natural scrolling'), eg

`synclient VertScrollDelta=-30`

[2016-09-06 00:17] Streppel commented on #11553
@xaverh this does the trick for everything (Firefox, Lubuntu's Leafpead, the default text editor etc), but VSCode, weirdly enough, remains the same. I guess I might try reinstalling it...

[2016-09-06 00:42] netjune commented on #10281
Finally upload the screencast here: https://drive.google.com/file/d/0B3c99U0nm3QXUjJJaEU4TkJLbWM/view?usp=sharing

[2016-09-06 00:57] linvi commented on #10546
As mentioned by @whitecolor, WebStorm do have tabs for terminals and this improve the accessibility of the IDE. In addition to this WebStorm allow you to change the name of the tab which again help you to visually identify what to start.

Something that WebStorm does not do though is that it does not save the number of terminal tabs open.
When you develop you usually need the same tabs (server, wa

[2016-09-06 01:27] netjune commented on #10281
I can create a git repo and use git functions for the first time.
After reopenning the git repo folder, git functions are abnormal in vscode.

screencast: https://drive.google.com/file/d/0B3c99U0nm3QXcUtXUmZzWlV2Qjg/view?usp=sharing

Maybe vscode lost something of the project(folder) between saving and loading it?

[2016-09-06 02:02] kevin1211 commented on #11491
just click it ,
![qq20160906-0](https://cloud.githubusercontent.com/assets/13352521/18259603/5e7976ce-7418-11e6-9393-8fba8bbc917c.png)
for example, i click gulpfile.js and then i click jsconfig.json, gulpfile.js will be covered in the right workspace. i just want to open it in a new tag like this
![qq20160906-1](https://cloud.githubusercontent.com/assets/13352521/18259653/fce1f87c-7418-11e6-9f0d-7

[2016-09-06 02:10] Luncher commented on #11489
After the restart problem persists.

not found the `.obsolete` file.

![screenshot from 2016-09-06 10 08 38](https://cloud.githubusercontent.com/assets/5138977/18259748/157ae6f8-73ad-11e6-866a-07accd4d5e47.png)

[2016-09-06 02:11] Luncher commented on #11489
![screenshot from 2016-09-06 10 11 38](https://cloud.githubusercontent.com/assets/5138977/18259770/593f0c7a-73ad-11e6-80ec-3179d21b31f5.png)

[2016-09-06 02:30] 1-9 opened #11555 "[snippets] How to get current Filename, LineNumber from Snippet"
- VSCode Version: 1.4.0
- OS Version: OS X EL Capitan

How can I get filename and line number to insert into a snippet?

[2016-09-06 02:32] khaosdoctor opened #11556 "[themes] make color themes user configurable"
I really liked the last updates the team has made in order to improve Code even further, but one thing I do miss from Atom (since I switched to Code) is the ability to change the  syntax highlighter colors on the fly, we could just open the debug tools, look into the classes, then just finding them inside the less file and boom! We could change the way languages were colored inside the editor.

Th

[2016-09-06 02:40] pauloppenheim opened #11557 "Linux build: Ubuntu Software Center complains "The package is of bad quality""
- VSCode Version: 1.4, master
- OS Version: Ubuntu 14.04

Steps to Reproduce:

1. run `gulp vscode-linux-x64-build-deb`
2. open `.build/linux/deb/amd64/deb/code-oss_1.5.0-1473128807_amd64.deb` (or whatever your tagged build result is) in your file chooser (ie, open in Nautilus, double click)
3. Wait for Ubuntu Software Center to open and show the package
4. Warning pops up:
![screenshot from 2016-

[2016-09-06 02:44] jaseonline commented on #11554
@leo90skk I'd like to fix this. This disrupts my workflow and is becoming very tedious.

[2016-09-06 03:13] jaseonline opened #11559 "Cannot place a Bookmark on a line"
- VSCode Version: 1.5.0
- OS Version: Windows 10 (Windows_NT 10.0.10586)

Steps to Reproduce: Cannot reproduce a non-existent feature.

Ideally, I need to be able to bookmark [a] line(s) of code. I find this feature allows me to work more efficiently in other editors, so I don't see why it shouldn't exist in Code.

[2016-09-06 03:39] renkun-ken opened #11560 "Debug console recognizes DateTime as URL"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04 LTS

Steps to Reproduce:
1. Write a simple app in any language (I use C# with .NET Core) that writes current date time to console like `[9/6/16 11:33:45 AM]`
2. In Debug Console, part of the date time will be recognized as a URL.
3. Click the URL and it says `Unable to open '16 11': File not found (/6/16 11).`

This is not a big deal but can be ni

[2016-09-06 04:29] bpasero commented on #2876
@pcgeek86 care to submit a PR on this one?

[2016-09-06 04:32] bpasero commented on #11491
@kevin1211 can you try with `"workbench.editor.enablePreview": false` ?

[2016-09-06 04:52] bpasero commented on #11554
Yes, we should fix this.

[2016-09-06 05:07] vraghu1983 opened #11561 "Extensions not working at all"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.3.9600

Steps to Reproduce:
1. Just installed VS Code - and tried to browse extensions
2. There seems to be a progress bar running indefineitely - and then no extensions are shown.

[2016-09-06 05:19] Tyriar commented on #9448
@asadsahi the `URI` core is used everywhere, changing at that layer is a no go. So a Windows-specific change will be made at a higher layer.

[2016-09-06 05:38] bpasero commented on #11117
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-06 05:38] #11117 closed

[2016-09-06 05:38] bpasero commented on #11338
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-09-06 05:38] #11338 closed

[2016-09-06 05:38] bpasero commented on #11282
Closing until reproducible steps are present.

[2016-09-06 05:38] #11282 closed

[2016-09-06 05:41] hamenon commented on #10551
The API will still give all extension in the result. The ones that are unpublished will include an unpublished flag as Wade mentioned. On the website we have logic to not display an extension in the results if it is unpublished. Ideally I think we should do so for the search on the editor side of things as well so that the results are consistent across the site and the editor.

[2016-09-06 05:54] karl20888 opened #11562 "Figure"
- VSCode Version:1.4.0
- OS Version:Win10

![image](https://cloud.githubusercontent.com/assets/6939070/18262998/1212ab54-7439-11e6-8c7a-5aa1364454b8.png)

[2016-09-06 05:55] bpasero commented on #11461
Actually this is not due to the explorer following empty directories, but due to `autoExpandSingleChildren` option for the tree. I do not have any control over when to expand a tree and when not. I think this option was added later to the tree and originally the explorer was expanding by itself. We might have to go back to that solution or have a way in the tree to stop expanding under certain con

[2016-09-06 05:58] msaiyaff opened #11563 "HTML CSS Class Completion: Fetching CSS rules from CSS files, please wait. Freezed."
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10240

I think it's an issue with the extension HTML CSS Class Completion. When i uninstall the extension issue has solved. But, is there a solution for that while the extension is added.

When i open html File in my project vscode get freezed with below command show

[2016-09-06 05:59] bpasero opened #11564 "Update to chokidar 1.6"
We should stay current for the file watcher. This impacts Mac OS and Linux and needs proper testing during endgame.

[2016-09-06 06:00] #11564 closed

[2016-09-06 06:25] gep13 opened #11565 "[Feature] Ability to parse build.cake files to auto create task definitions"
I asked the question on Twitter:

https://twitter.com/gep13/status/772878923243876352

And @egamma replied to say that there wasn't currently any extension points to allow extensions to provide additional automatic task definitions.  Instead, that the only point where this was possible was contained within this file:

https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/tasks/com

[2016-09-06 06:30] gep13 opened #11566 "[Question] Is it possible to add debugging capabilities to other file types"
We have a VSCode extension for [Cake](http://cakebuild.net/) which extends VSCode with a few things, including snippets, commands, syntax highlighting etc.

We recently converted Cake to be built with .Net Core, which means that we have now been able to add debugging support within VSCode.  However, in order for this to work, we have to switch the configured language for the file, i.e. we have to

[2016-09-06 06:44] nsgundy commented on #7814
Agree, this would help a lot reading / writing RegEx. I currently digest / compose the more complex examples with an external tool to make my life easier.

[2016-09-06 06:54] taichirain opened #11567 "Use F12 or other shortcuts to jump to a function definition"
- VSCode Version: 1.4
- OS Version: windows 7

Steps to Reproduce:
Use F12 or other shortcuts to jump to a function definition
1.
2.

[2016-09-06 06:58] isidorn commented on #11376
@weinand this example also writes everything in one line. I am getting two output events
[code]

We do not have to start a new line when OutputEvents change their channel. But we do it because we color the output channels differently. And currently we do not have support to color parts of the line red. Also imho we should somehow indicate to the user that the output differs.
Let me know if you wou

[2016-09-06 06:59] #11024 closed

[2016-09-06 07:03] alexandrudima commented on #11516
I think it is a reasonable feature request.

[2016-09-06 07:21] alexandrudima commented on #11487
Ok, I might have jumped ahead of myself :).

The order in which you specify the edits is of consequence if the edits touch the same location.

Perhaps an explanation of how this works would help:

* the edits you add to the editBuilder are collected in an array and sent over from the extension host to the main process.
* the edits are all applied "at once":
  * given the text `hello` and two edits

[2016-09-06 07:27] dbaeumer commented on #11567
@taichirain could you please provide additional information about what is not working. A screen cast my help or a expected behavior description.

[2016-09-06 07:30] dbaeumer commented on #11565
@gep13 Instead of providing a PR to add this to taskTemplates.ts I would suggest to work on a PR to make this an extension point. Simply adding this to the core will not scale.

[2016-09-06 07:32] dbaeumer commented on #11563
@msaiyaff you need to report the problem to owner of the extension. There is little VS Code can do to make the extension work.

I will close the issue. Please ping if there is anything you think VS Code can do to solve this.

[2016-09-06 07:32] #11563 closed

[2016-09-06 07:32] KuddLim commented on #10769
Today, I've installed Ubuntu 16.04, It's not happening. I guess Korean IME (IBus-hangul) caused this problem.

[2016-09-06 07:34] dbaeumer commented on #11562
Assuming that @karl20888 points out broken syntax coloring.

[2016-09-06 07:36] #10769 closed

[2016-09-06 07:37] dbaeumer commented on #11559
@jaseonline this kind of feature is provided by extensions. Go to the extensions viewlet and type bookmark to see the two available once.

[2016-09-06 07:37] #11559 closed

[2016-09-06 07:43] dbaeumer commented on #11544
Yes, has something to do with the encoding. Dups #3550

[2016-09-06 07:43] #11544 closed

[2016-09-06 07:45] isidorn commented on #11542
Fix for the debug window was pushed yesterday via 2a215cc
Thus unassigning myself and renaming issue

[2016-09-06 07:46] dbaeumer commented on #11535
@joaomoreno marking as important. Saw this this morning as well. All my windows this morning showed the message.

[2016-09-06 07:49] reaction1989 opened #11568 "[Feature]Show pending git push and pull"
It would be really nice to have a preview window to see incoming and outgoing changes

[2016-09-06 07:49] aeschli commented on #11562
Please attach the code snippet...

[2016-09-06 07:52] isidorn commented on #11566
If I understand your question correctly, the only missing debugging experience for `.cake` files is that you can not set breakpoints inside them. If that is correct you just need to add contribute breakpoints for `cake` files in your `package.json`. Here is an example how node-debug extension does that for javascript files
https://github.com/Microsoft/vscode-node-debug/blob/master/package.json#L70

[2016-09-06 07:52] #11566 closed

[2016-09-06 07:54] aeschli commented on #11556
You can switch color themes, and also create your own themes. To change the colors on the fly, you could open the dev tools and modify the underlying colors in the css.

Not sure how that helps you with languages that don't have color support. That has to do with the installed grammar. Can you tell me more how you modify these?

[2016-09-06 07:55] aeschli commented on #11555
We currently don't have support for that.

[2016-09-06 07:59] daveredfern commented on #7273
@stevencl @aeschli thanks for replying. It's really nice to hear the though process behind it.

I quite like atoms to autocompletion. After I enter colon it provides me with the standard CSS options:

![image](https://cloud.githubusercontent.com/assets/183473/18265875/c4f820b6-740f-11e6-9174-934a6875fd33.png)

If I then start typing letters it initiates the autocomplete like vscode:

![image](http

[2016-09-06 07:59] aeschli commented on #11551
This issue was moved to Microsoft/TypeScript-TmLanguage#255

[2016-09-06 07:59] #11551 closed

[2016-09-06 07:59] asadsahi commented on #9448
Ohh ok. Thanks @Tyriar .

[2016-09-06 08:06] weinand commented on #11376
@isidorn we should show different colours for different channels and we should render in the same way as the integrated or external terminals.
If we do not yet have support to color parts of a line, we can wait until debug-console@next supports this.

[2016-09-06 08:07] isidorn commented on #11552
Currently our debug protocl supports that the vscode frontend can send exception filters to the backend. However the SetExceptionBreakpointsResponse would have to somehow notify vscode if an exception breakpoint is accepted or not. For instance a user could try to add a ClassCastException while debugging node and the vscode frontend would need to notify the user that this is ilegal.

Assigning fir

[2016-09-06 08:13] aeschli commented on #11537
Existing properties are normally not proposed but in the example there's a syntax error that prevents that the next property is correctly parsed.

[2016-09-06 08:15] isidorn commented on #6263
This is now supported on the vscode side. Once omnisharp-vscode picks up the api it should be fully working

[2016-09-06 08:15] #6263 closed

[2016-09-06 08:16] isidorn commented on #4920
This is now supported

[2016-09-06 08:16] #4920 closed

[2016-09-06 08:18] gep13 commented on #11566
@isidorn that looks like exactly what we need.  Let me give that a try, thank you!

[2016-09-06 08:18] isidorn commented on #1130
This is now supported. Each debug adapter has to pick up the suggestion API for this to work in those languages though.

[2016-09-06 08:18] #1130 closed

[2016-09-06 08:20] gep13 commented on #11565
@dbaeumer agreed. My familiarity with the score base isn't that extensive though. Could you provide some pointers on where that work would be required, and suggestions on how to achieve it? Thanks!

[2016-09-06 08:23] joaomoreno opened #11569 "[css] linear keyword is not coloured"
[code]

`ease-in` will be coloure, but not `linear`.

[2016-09-06 08:23] joaomoreno commented on #11569
I had to revert cc40e98 since I couldn't figure out how the tests work... they seem generated somehow.

[2016-09-06 08:27] isidorn commented on #11560
[code]

Link detection fails.
@bpasero can we improve our link detection algorithm? Maybe some code pointers, do we have unit tests?

[2016-09-06 08:36] #11284 closed

[2016-09-06 08:45] EugenWiens opened #11570 "System becomes sluggish after open a folder that contains many files and subfolders"
- VSCode Version: 1.4 and 1.3
- OS Version: Ubuntu 16.04 and Ubuntu 14.10

Steps to Reproduce:

1. Open a folder that contains many files and subfolders.
    In my case it is a Yocto Project Folder (https://www.yoctoproject.org/) containing 144987 directories and 1493109 files.
![image](https://cloud.githubusercontent.com/assets/7880602/18267271/9bd89eea-741e-11e6-8119-d27c3a276e47.png)

[2016-09-06 08:57] kevin1211 commented on #11491
yes, it works.thank you very much .

[2016-09-06 08:57] #11491 closed

[2016-09-06 08:59] twpol opened #11571 "Programs / executables / libraries are not signed"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. Download and install VSCode
2. Open VSCode
3. Open Process Explorer
4. In Process Explorer, enable Verify Image Signatures from Options menu

Expected Results:

Verified Signer column says "(Verified) Microsoft Corporation"

Actual Result

[2016-09-06 09:00] bpasero commented on #11560
@isidorn see https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/output/common/outputWorker.ts#L69 and yes there are tests in https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/output/test/outputWorker.test.ts#L1

[2016-09-06 09:01] erikbra opened #11572 "Regex find does not match on beginning and end of lines (missing multiline flag?)"
- VSCode Version: 1.4.0
- OS Version: Windows

Steps to Reproduce:

1. Search for regex including beginning or end of line matches. Examples:
   * `^\s*$\n` (should match empty lines)
   * `^A.*B$` (should match every line starting with A and ending with B (e.g. `A****************B`)
2. Expected: match
3. Actual: No match.

Ref. issue #313, which is closed, but in essense the same, or at least ver

[2016-09-06 09:01] erikbra commented on #313
Looking great if this could fix it. See new issue #11572.

[2016-09-06 09:09] jrieken commented on #11546
dupe of #10648

[2016-09-06 09:09] #11546 closed

[2016-09-06 09:11] isidorn commented on #11385
I have merged the PR thus closing this issue

[2016-09-06 09:11] #11385 closed

[2016-09-06 09:12] jrieken commented on #11550
You can participate that list by implement a [`DocumentSymbolProvider`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L1802). You can find a sample here: https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/features/documentSymbolProvider.ts

[2016-09-06 09:12] #11550 closed

[2016-09-06 09:16] joaomoreno opened #11573 "Improve extension engine compatibility"
Currently, an extension is deemed **outdated** when there's a newer version published in the Marketplace. Installing an extension requires `O(published_versions)` request roundtrips: starting from the latest version, the engine field is checked for compatibility with the current Code, and it goes on backwards from there.

We should:

- [x] Publish extensions with the compatibility value as a prope

[2016-09-06 09:22] joaomoreno commented on #9860
Marketplace has improved their relevance sorting.

Thanks @hamenon!

[2016-09-06 09:24] egamma commented on #11565
Fully agree with @dbaeumer.

Actually there are several feature similar feature requests for this: #966, #9309.

[2016-09-06 09:29] joaomoreno commented on #10281
Can you search your whole machine for all `git.exe` files? Maybe you have more than one git installed. What are the ones you find?

[2016-09-06 09:30] joaomoreno commented on #11489
Does it reproduce if you uninstall the `Shan.code-settings-sync` extension?

[2016-09-06 09:31] joaomoreno commented on #11461
IMO that option shouldn't even exist in the tree. That logic should be implemented outside of it. I suggest you do that. Once done, I'd remove that option from the tree.

[2016-09-06 09:32] joaomoreno commented on #11561
Are you behind a proxy?

[2016-09-06 09:33] joaomoreno commented on #11534
It refers to programming languages.

[2016-09-06 09:33] #11534 closed

[2016-09-06 09:35] vraghu1983 commented on #11561
Yes - office network - let me try it at my home - and let you know.

Regards,
Raghu

On 6 September 2016 at 15:02, João Moreno <notifications@github.com> wrote:

[2016-09-06 09:38] hajar424 commented on #1023
+1

[2016-09-06 09:40] bpasero commented on #11461
@joaomoreno it used to be outside of the tree and I do not know why or who added it into the tree

[2016-09-06 09:42] gep13 commented on #11565
@egamma is this feature on the roadmap to be implemented by the team, or are you looking for an external contribution?  If an external contribution, would it be possible to get a "starter for 10" in terms of what is required in order to implement the feature?

[2016-09-06 09:51] peterbourgon opened #11574 "Persist user choice in Find options (case, whole word, regex) in the Find widget in editor"
- VSCode Version: 1.4.0
- OS Version: Mac OS El Capitan 10.11.4

Steps to Reproduce:
1. Open VS Code and some file
2. Cmd+F to find something
3. Check the box to enable case-sensitivity and regex searching
4. Close VS Code
5. Open VS Code and some file again
6. Cmd+F to find something

Expected behavior: the boxes for case-sensitivity and regex searching are checked.

Actual behavior: the boxes fo

[2016-09-06 10:01] netjune commented on #10281
I searched my whole machine and found 2.
C:\msys64\usr\bin\git.exe
C:\msys64\usr\lib\git-core\git.exe

I compared the two files. They have the same content.

[2016-09-06 10:12] netjune commented on #10281
In vscode, a new git repo can be created, and all git functions work well BEFORE reopenning the same git repo folder.

When git function is not usable, I can close the current folder and create another git repo in the same vscode instance.

So git.exe can be found and properly used by vscode.

[2016-09-06 10:13] sandy081 opened #11575 "Find with mult-line is not giving correct results if regex has beginning boundary"
Steps to Reproduce:

1. Consider a file with following text
[code]
2. Perform find with regex - `^if\nelse`

Expected: Two matches lines {1, 2} and {4,5}
Observed: Only one match line {1,2} is shown

[2016-09-06 10:21] #10887 closed

[2016-09-06 10:36] khaosdoctor commented on #11556
I don't think color themes has much to do with it... The problem I'm raising is about syntax coloring, for instance, on PHP language I have a `#FA45AB` color for variables, but I don't want that color, I want to change it so I can have a better experience and a better view of my code.

In Atom (as an example), we could open the base CSS file used by the editor to colorize the whole syntax (regardl

[2016-09-06 10:38] ulitiy commented on #11501
https://drive.google.com/file/d/0B-4e-jj1-69ZaGtMM0VESzdqSUE/view?usp=sharing
I've made this screen recording demonstrating the problem. Also the latest NPM version is 1.8.10, not 1.8.19.

[2016-09-06 10:45] Andy-Amoy opened #11576 "Command Pallete is empty while trying to select encoding or eol sequence"
- VSCode Version: 1.4.0
- OS Version: Windows 7 SP1 X64
- Installed extension: donjayamanne.python;  gerane.Theme-TomorrowNight;  ms-vscode.cpptools;  ms-vscode.csharp;  ms-vscode.PowerShell;  msjsdiag.debugger-for-chrome;  robertohuertasm.vscode-icons

Steps to Reproduce:

Didn't do any think, just found that when I click the item at the right bottom, the table shows without any words or content,

[2016-09-06 11:03] Phisherman opened #11577 "Save dialog whilst open multiple tabs of the same file"
- VSCode Version: 1.4.0
- OS Version: Windows 10

If I have open multiple tabs of the same file and want to close one VS Code forces me with a modal to decide if I want to save the file. Wouldn't it be sufficient if it just asks if someone wants to close the last tab of this file?

See here:
![image](https://cloud.githubusercontent.com/assets/2873986/18271432/48759582-7432-11e6-94da-48c827c0295c.p

[2016-09-06 11:34] sharadcodes commented on #11429
I have my code within `src/` and `node_modules/`. `typings.json` & `tsconfig.json` in root. Is it, somehow, not able to look back to `typings/` folder?

[2016-09-06 11:48] KirilVelichkov opened #11578 "VS Code Blank screen"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. I dont know how you can re-produce it , because it happened out of nowhere.

Here are the errors in the console in devTools

loader.js:136Loading "vs/workbench/workbench.main" failedt @ loader.js:136
loader.js:137Detail:  Error: No defi

[2016-09-06 11:50] mrmlnc commented on #11578
Have you tried reinstalling the editor?

[2016-09-06 11:54] sandy081 commented on #11575
duplicates #11572

[2016-09-06 11:54] #11575 closed

[2016-09-06 11:54] KirilVelichkov commented on #11578
I have read all articles about this problem and everyone with the same issue have tried re-installing it , but that didnt fix the issue.
I have so many things already saved on the editor (extensions, snippets etc) that i really dont want to re-install it

[2016-09-06 11:55] egamma commented on #11565
@gep13 we are just planning the next 2 months, let me get back to you.

[2016-09-06 11:57] KirilVelichkov commented on #762
I am having a similar issue.
No matter what i open with VS Code i have a blank screen.
![untitled](https://cloud.githubusercontent.com/assets/18174745/18272736/248c0e70-7442-11e6-94a2-df539840641c.png)

The console output shows a lot of errors.

oading "vs/workbench/workbench.main" failedt @ loader.js:136
loader.js:137 Detail:  Error: No define call received from module vs/workbench/workbench.main

[2016-09-06 12:00] bpasero commented on #762
@KirilVelichkov can you completely uninstall and reinstall Code to see if it works then?

[2016-09-06 12:01] KirilVelichkov commented on #762
@bpasero
I have read all articles about this problem and everyone with the same issue have tried re-installing it , but that didnt fix the issue.
I have so many things already saved on the editor (extensions, snippets etc) that i really dont want to re-install it

[2016-09-06 12:05] mrmlnc commented on #11578
@KirilVelichkov, you used a **vscode-icons** extension?

[2016-09-06 12:06] KirilVelichkov commented on #11578
@mrmlnc , yes. I use this extension and it updates like 3 times a day ... :/

[2016-09-06 12:07] aeschli commented on #11556
The color of the variable scope is defined by the color theme. E.g. for the Dark default color theme this is defined here: https://github.com/Microsoft/vscode/blob/master/extensions/theme-defaults/themes/dark_plus.json#L49. You can even define php specific colors.

But I understand you want to change these colors without having to create your own theme, e.g. in the user settings. I updated the iss

[2016-09-06 12:09] mrmlnc commented on #11578
@KirilVelichkov, Good news! Download **ZIP** archive:

https://code.visualstudio.com/?utm_expid=101350005-27.GqBWbOBuSRqlazQC_nNSRg.0#alt-downloads

Then unzip `VSCode-win32-stable.zip\resources\app\out\` directory to the `C:/Program%20Files%20(x86)/Microsoft%20VS%20Code/resources/app/out` directory.

[2016-09-06 12:10] bpasero commented on #762
@KirilVelichkov reinstall will not tamper with your settings nor extensions, so please try.

[2016-09-06 12:15] KirilVelichkov commented on #11578
@mrmlnc  YOU DA REAL MAN!

Thank you soooooo much. This fixed it.
I have delete my vscode-icons extension. Can I safely put it back , or was that causing the problem?

[2016-09-06 12:16] KirilVelichkov commented on #762
@bpasero I have it fixed thanks to @mrmlnc

Here is what he suggested to me.

https://code.visualstudio.com/?utm_expid=101350005-27.GqBWbOBuSRqlazQC_nNSRg.0#alt-downloads

Then unzip VSCode-win32-stable.zip\resources\app\out\ directory to the C:/Program%20Files%20(x86)/Microsoft%20VS%20Code/resources/app/out directory.

It worked and now i can use VS Code again!

Thanks so much @mrmlnc !

[2016-09-06 12:18] mrmlnc commented on #11578
@KirilVelichkov,

Most likely **vscode-isons** incorrectly updated a files. You can use it, bearing in mind the described me method.

[2016-09-06 12:21] mrmlnc commented on #762
@bpasero, this is **vscode-icons**, again.

[2016-09-06 12:23] sp00x commented on #929
This happens EVERY time for me - on all 3 machines I use it on, Windows 7 and Windows 10.

[2016-09-06 12:29] normalser opened #11579 "Jumping intelisense window when close to the bottom of window"
- VSCode Version: Code - Insiders 1.5.0-insider (538cd9ded5a471fbb20920f01eff9c8df4b83ee9, 2016-09-05T08:31:20.203Z)
- OS Version: Darwin x64 15.6.0

![3q0lwt5mzi](https://cloud.githubusercontent.com/assets/1723815/18273538/b85de088-740b-11e6-82aa-368669b05d4d.gif)

Happens on every keydown (even if you can see it 3 times on the gif - refresh rate of this gif is not high enough)

[2016-09-06 12:44] aminroosta commented on #9143
@sandy081 Thanks for taking time and checking this issue. So there should be something wrong with my code. If your code is available online on github please let me know.

[2016-09-06 12:46] #11572 closed

[2016-09-06 12:48] sandy081 commented on #9143
@aminroosta here is our [Vim sample extension] (https://github.com/Microsoft/vscode-extension-samples/tree/master/vim-sample).

[2016-09-06 13:03] thorn0 opened #11580 "[typescript] use the language service for tokenization"
There is too many [issues](https://github.com/Microsoft/TypeScript-TmLanguage/issues) with the TM grammar, many of which seem to be impossible to fix.

E.g. in Microsoft/TypeScript-TmLanguage#121, we can read this:

Isn't it better to try another approach (the one that Visual Studio uses) instead of trying to fix the unfixable?

[2016-09-06 13:09] skest3qc commented on #4846
I am also having this kind of problem. Orignal file is ANSI with german umlauts and code converts it to UTF-8, then I am loosing the umauts.

[2016-09-06 13:12] weinand opened #11581 "External Terminal support for runInTerminal request"
Move the code that manages external terminals from the node-debug plugin into the VS Code execution service and surface it as a `runInTerminal` API.
Make it configurable via the configuration service.

[2016-09-06 13:14] White99 commented on #4846
Very very old problem.
We hope this issues can be resolved as soon as possible...

[2016-09-06 13:17] mauriciord commented on #4846
Yes, very old

Atenciosamente,
Maurício R. Duarte.

2016-09-06 10:14 GMT-03:00 White99 <notifications@github.com>:

[2016-09-06 13:19] #11554 closed

[2016-09-06 13:20] bpasero commented on #11554
Verify: once you make an untitled buffer empty, it is not dirty anymore.

[2016-09-06 13:22] drew-wallace commented on #11487
I was trying to work around these issues: #11418 and #10801. The goal was to make an edit and attach an insert of a very long static string so that I could filter the edits that had it and the edits that don't. I needed this because I'm working on a remote pair programming extension and when a remote user makes an edit, the local user receives the edit, but the local user's listener picks up on it

[2016-09-06 13:47] SteveShe opened #11582 "Hang on Windows 10 under VSCode debugger when executing the example code."
- VSCode Version: 1.4.0
- OS Version: Windows 10586.545
The script below should execute and terminate naturally, as it does from a command prompt. Under the VSCode debugger, it executes and then sits in the debugger.

Steps to Reproduce:
1. Install Nodejs (4.5.0 or 6.5.0): https://nodejs.org/en/
2. Install Tedious: http://tediousjs.github.io/tedious/installation.html
3. Create an Azure database.
4

[2016-09-06 14:03] aminroosta commented on #9143
@sandy081 No no no, `vkkkk` (lower case `v`) is perfectly fine, i'm having a hard time with `Vkkkk` (upper case `V`) that selects lines.

[2016-09-06 14:06] aminroosta commented on #9143
![vkkkk](https://cloud.githubusercontent.com/assets/2920178/18276572/ae70dc38-7460-11e6-8c21-cc9fd681a19a.gif)

@sandy081 It seems only lower case `vk` can be implemented with `cursorMove`, i can't fine any information in the documentation (first comment above) that suggests how to implement `Vkkk` ing.

[2016-09-06 14:09] khaosdoctor commented on #11556
Yes! This is it.

Even further, I think it would be nice to "detach" the colors from the themes. In other words, make possible to have a "global" style config which applies to all editor and overwrites theme-specific colorization.

[2016-09-06 14:11] michaeljota commented on #11125
Hi! I already use that extension, but I think it would be better if this is integrated into the VS. It maybe beyond the scope that another extension can provide. Microsoft have already a great ecosystem with the Microsoft Account.

I know that some folk may not be willing to use one of those, but at least it would be great to have the option to do it, even if it is not the default behavior.

PS: Y

[2016-09-06 14:17] jrieken commented on #11384
For the sake of being consistent with other API (`createOutputChannel`, `createStatusBarItem`) "yes". Also it won't require the proposed `createInBackground`-flag thus keeping it more simple.

[2016-09-06 14:20] rykr opened #11584 "Seeing a single space inserted at the end of strings when editing HTML/JS files"
- VSCode Version: Code - Insiders 1.5.0-insider (d2c04e3789757413ae1ebfda9d88896686b6d006, 2016-09-01T06:10:12.264Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1.  Edit HTML file (JS block)
2.  Have some strings in the JS block, edit the string.  Hit save.  Seeing in many cases a single space inserted at the end of the all the strings in the file (which can break the JS)

[2016-09-06 14:25] parkego opened #11586 "Launcher node js don't work anymore since last apple update"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0
- OSX el Capitan 10.11.6 (15G1004)
Steps to Reproduce:

1.  set the lauch.json with this json :
[code]
2. click on F5 to launch the debugger.
3. Try to ping your node application ( on my computer, port localhost:3000 )

The node application does not respond anymore, but

[2016-09-06 14:27] eamodio opened #11587 "Provide guidance to language and extension authors"
- VSCode Version: `Version 1.5.0-insider (1.5.0-insider)` 538cd9ded5a471fbb20920f01eff9c8df4b83ee9
- OS Version: `OS X El Capitan Version 10.11.6 (15G31)`

Given the power of the abstractions that vscode provides for symbols, definitions, references, etc, I think it would be great if there was some guidance (best practices) documentation on how a language _should_ provide the information. For exam

[2016-09-06 14:30] alexandrudima commented on #11487
Cool use-case.

This is how I'd do it (pseudocode ignoring multiple documents but the principle should hold):

[code]

[2016-09-06 14:33] joaomoreno commented on #10281
Hm... Can you try using the [official git release](https://git-scm.com/) and see whether it reproduces there? We don't support msys git.

[2016-09-06 14:37] siegebell commented on #11487
* you can think of the edits as a list of things to do on the current text (sort of like a patch where each patch acts on the original contents at the same time with all the other patch in the batch of patches)

@alexandrudima that's a subtle detail that needs to be documented.

So as each change in `TextEditorEdit` is applied to a document, the locations of all remaining changes need to be update

[2016-09-06 14:40] sandy081 commented on #9143
@aminroosta Just to note that the sample vim extension does not have all complete vim features. This is an example/reference implementation showing how some of the vim features can be implemented using the editor commands.

With regards to `upper case V`, sample supports moving to visual mode only on `lower case v`. You can refer to this to implement the other.

@rebornix might help you in how to

[2016-09-06 14:41] drew-wallace commented on #11487
@alexandrudima This could work, but I think I might wait for the #10801. Having the source of the edit would reduce complexity.

[2016-09-06 14:44] rebornix commented on #9143
@sandeep thanks for the tip.

@aminroosta I'm adding these command sin my separate PR but it does hacking to the view updating phase so it's still WIP. I'll let you know if I solve the issues you met.

[2016-09-06 14:44] Tyriar opened #11589 "Markdown links that are indented 2 lines in a list are not highlighted"
- VSCode Version: Code - Insiders 1.5.0-insider (06d85431730fe33beff7c56b5ef6f4514ad326ba, 2016-08-09T16:02:06.523Z)
- OS Version: Darwin x64 14.5.0

Interestingly it only happens on the second line after a list.

<img width="643" alt="screen shot 2016-09-06 at 7 41 55 am" src="https://cloud.githubusercontent.com/assets/2193314/18278011/5cd3bd9c-7405-11e6-80f7-5c91facc3173.png">

[2016-09-06 14:49] bpasero commented on #11577
This has been fixed for 1.5

[2016-09-06 14:49] #11577 closed

[2016-09-06 14:55] bigonazzi commented on #10680
@isidorn hydrogen output is read only, with shortcuts to copy it to clipboard. Output cells above a certain length show scrollbars with the option to show full content.

[2016-09-06 14:55] alexandrudima commented on #11487
@siegebell Good point, the doc comment is lacking in this regard (explanation regarding applying edits at the same time). I remember describing this in great detail somewhere in https://github.com/Microsoft/vscode-docs/ but I think it got lost when we went open source.

That is exactly what I'm trying to prevent -- that you in any way depend on the order or the shape of the content change events.

[2016-09-06 14:57] lukaschal commented on #11344
@dbaeumer @joaomoreno  Please, is it possible to add ENU screenshot ?

[2016-09-06 14:57] bigonazzi commented on #10680
@isidorn hydrogen requires ipython and then connects to it via zmq. I believe all the output is html.

[2016-09-06 14:58] #11547 closed

[2016-09-06 14:58] Phisherman commented on #11577
@bpasero I forgot to test it in the insider version. Sorry!

[2016-09-06 14:59] drew-wallace commented on #10801
It would be helpful for the source to be really specific. A few examples:
Typed something: `typed`
Typed something in a peek window: `peek.typed`
Pasted something: `clipboard`
Used Extension_A: `extension.Extension_A`
Used Command_A: `command.Command_A`
Actually, allowing the source to be user defined would be fine too.

Here's my use case:
I'm working on a remote pair programming extension and wh

[2016-09-06 15:01] isidorn commented on #11434
@joaomoreno do you still see this? When you say show it again - how do you show the panel? I tried all combinations and could not repro.
Might have been fixed by 97ddcf6

[2016-09-06 15:07] Sokol-ua opened #11590 "[sass] highlight bug and error"
- VSCode Version: 1.4.0
- OS Version: x64 Win 10 Enterprise,

Strange errors in **each function**:

![screenshot_3](https://cloud.githubusercontent.com/assets/8975621/18278977/add4318e-745c-11e6-8213-df7d6b561e7d.png)

Compiles without errors, outputed styles are as expected.

[2016-09-06 15:19] isidorn commented on #11372
After experimenting with this I am against opening the repl once first output appears due to:
* The current `'openOnSessionStart'` has possible values `'neverOpen', 'openOnSessionStart', 'openOnFirstSessionStart'`. And this does not comply with opening it based on output, so we would have to create new names for these options and still support old values
* When the session starts we also show the

[2016-09-06 15:20] alefragnani commented on #11483
Ok, maybe it would be handled like https://github.com/Microsoft/vscode/issues/11468, _exposing the API_.
Thanks :+1:

[2016-09-06 15:32] joaomoreno commented on #11434
Can't repro no more

[2016-09-06 15:32] #11434 closed

[2016-09-06 15:32] joaomoreno commented on #11344
What is _ENU_?

[2016-09-06 15:33] roblourens opened #11591 "supportsCompletionsRequest is not respected"
Seems that completionsRequest is fired even when a debug adapter doesn't return `supportsCompletionsRequest: true`, and I don't see any references to it in vscode.

[2016-09-06 15:35] dhruvajoshi8 opened #11592 "Visual Studio Crash when 'Open Folder'"
- VSCode Version: 1.4.0
- OS Version: Windows 10 - Version 1511

Visual Studio Code crashes when trying to open any New folder . Below is the error i get -

![image](https://cloud.githubusercontent.com/assets/22031266/18280048/66106818-7475-11e6-8ced-28896a41d074.png)

Steps to Reproduce:
1. Go to File -> Open Folder

I tried looking into various issues reported here. Though could not find any sol

[2016-09-06 15:45] isidorn commented on #3082
Fixed by @joaomoreno :beers:

[2016-09-06 15:45] #3082 closed

[2016-09-06 15:45] #10487 closed

[2016-09-06 15:46] jrieken opened #11593 "minimalEditOperations can break formattings"
Steps in https://github.com/OmniSharp/omnisharp-vscode/issues/660#issuecomment-244745885. Regression from 'fixing' https://github.com/Microsoft/vscode/issues/10133

[2016-09-06 15:50] #11591 closed

[2016-09-06 15:52] jrieken commented on #11593
@egamma fyi

[2016-09-06 15:55] nbransby commented on #11552
+1

[2016-09-06 15:57] isidorn commented on #10156
I can not repro this. Do you still see this with the latest? Are you doing something different to what I am doing? I tried both OS X and Ubuntu
If you still see it on your machine

![panel](https://cloud.githubusercontent.com/assets/1926584/18280932/3ec86b44-745b-11e6-80bb-db0637d718f6.gif)

[2016-09-06 16:04] #11557 closed

[2016-09-06 16:24] artisticcheese commented on #1614
Please implement. That the only thing prevents me from deploying as default editor on servers instead of notepad++ which does it out of the box.

[2016-09-06 16:24] daschult opened #11594 "Extensions should be able to define code folding regions in a document"
I looked in the API, but I couldn't find a way for an extension to define code folding regions. If such a feature doesn't exist, it should.

[2016-09-06 16:28] DustinCampbell commented on #11593
Thanks for digging into this @jrieken!

[2016-09-06 16:29] raelb commented on #10605
Such an option is also very useful for another purpose.

I want the editor text to have the same appearance as text in Sublime Text editor. There, the default font size is 10. If I change the `editor.fontSize` to 10 in VS Code, the text becomes *tiny*. I can solve this by setting the `window.zoomLevel` to something like 2.5. But then the rest of the UI becomes disproportionately large.

To put in

[2016-09-06 16:38] DanTup opened #11595 "Support multiple-indent levels for onEnterRules/IndentActions"
I don't know whether this functionality would be useful to any language except Dart, so I understand if you don't want to add this, but I thought it was worth asking (it's also a place for others to add comments if it was somehow useful for them!)

Dart has some weird rules around multi-line statements - they should be intended "twice". Normally indenting in Dart is 2-spaces but multi-line stateme

[2016-09-06 16:40] DanTup commented on #11595
Thinking about this more; I'm not sure I could make this work as I'd like... For example, after pressing `<enter>` after a semi-colon, the number of "unindents" you'd need to apply could vary (could be 0, 1, 2).

So, this is probably a can of worms and not worth any effort on either side!

[2016-09-06 16:40] #11595 closed

[2016-09-06 16:43] bpasero commented on #2876
If you ever change your mind, see https://github.com/Microsoft/vscode/wiki/How-to-Contribute

[2016-09-06 16:48] dbaeumer commented on #11344
@joaomoreno ENU === English

[2016-09-06 16:52] zozzz commented on #10804
Another idea. I would like to define the folder icon based on its contents like this:
[code]

example:
[code]

- `>` match files / folders which is a direct child of folder
- `>>` same as above, just any level
- `*` any folder name

[2016-09-06 17:01] rebornix commented on #10451
@alexandrudima I filter `debug:input` from `input` command and the typing now works perfect but we have issues with additional keybindings like `ctrl/alt/cmd/backspace/esc...`, since they are not passed to `default:input` directly, the way to customize its behavior is adding it to [keybindings](https://github.com/VSCodeVim/Vim/pull/723/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L44). So in this ca

[2016-09-06 17:09] ulitiy commented on #11501
https://drive.google.com/file/d/0B-4e-jj1-69ZS1pIM0lMV29pSms/view?usp=sharing

I've made this short screen recording to show the bug...

[2016-09-06 17:10] Tyriar commented on #11542
Upstream issue: https://github.com/sourcelair/xterm.js/issues/216

[2016-09-06 17:15] siegebell commented on #11594
See #3422 & #9786.

[2016-09-06 17:15] Tyriar commented on #11553
@Streppel can you try scrolling in the integrated terminal to see if that works correctly? Its scroll logic is separate to the editor's.

[2016-09-06 17:19] rebornix commented on #9143
I see the problem, I only used `cursorMove` for screen lines moving but not regular lines, that might describe I don't see any issues @aminroosta ran into. But @aminroosta is doing the right thing, implementing all Vim cursor moving commands by `cursorMove` instead of doing things in different ways. Let me give them a check real quick.

[2016-09-06 17:20] Tyriar commented on #11479
Duplicate of https://github.com/Microsoft/vscode/issues/11542

[2016-09-06 17:20] #11479 closed

[2016-09-06 17:23] rob3c commented on #9448
Here's a temporary workaround of sorts for both integrated and external consoles:
[code]
Here's the same thing in a more condensed relative format that doesn't require copying/typing the path as long as you remember the syntax, but that should be no problem considering how much you'll be typing it until this is fixed ;-)
[code]
It leverages the ability to change the drive casing when changing dire

[2016-09-06 17:23] Tyriar commented on #11184
@alexandrudima does it work fine if `editor.fontSize` is 16 instead of 16.5?

[2016-09-06 17:25] Tyriar commented on #8086
I think this was fixed in v1.4.0

[2016-09-06 17:25] #8086 closed

[2016-09-06 17:27] Tyriar commented on #6793
@joaomoreno does this still happen?

[2016-09-06 17:41] mrmlnc commented on #11329
@egamma,

Well, we must provide a Intellisense for the languages or do something to improve the UX...

For example, I want to use [Riot](https://github.com/crisward/riot-tag) extension. This extension has two syntaxes (`jade` + `html`) for one language (`riot`). Because of this VS Code defines the MIME types: `jadetag` + `htmltag`. And... :boom:

![image](https://cloud.githubusercontent.com/assets

[2016-09-06 17:51] KimikoMuffin opened #11596 "Add line-wrap to file comparison"
Currently, there is no way to wrap long lines when comparing two files. Alt+Z has no effect, the "Softwrap" plugin has no effect, nothing. This makes it extremely cumbersome to compare using files that have long lines.

[2016-09-06 17:53] Tyriar commented on #9448
Thanks a lot @rob3c! Much appreciated as this bug will be in stable for another month or so.

[2016-09-06 17:59] ArashPartow opened #11597 "C++ code highlighting fails for large files"
- VSCode Version: 1.4.0 date: 2016-08-04
- OS Version: Windows 7/10

Upgraded vscode installation,  the C++ code highlighting now starts to fail at around line 4000

The following file was used:  https://raw.githubusercontent.com/ArashPartow/exprtk/master/exprtk.hpp

The following screenshot demonstrates the problem: http://pasteboard.co/hJ6RUAZtU.png

The following is from the start of the file:

[2016-09-06 18:03] Streppel commented on #11553
@Tyriar scrolling the integrated terminal gives me the same result (two fingers upwards goes up instead of down)

[2016-09-06 18:05] Tyriar commented on #10546
@whitecolor after thinking about it a bit there are a few problems you will run into with the current API in implement terminal tabs that way, assuming you're exposing an extension "create new terminal" command that you want to override the default one. Here are some issues you should track if you're interested in building an extension like this:

- When vscode is restarted a standard terminal wil

[2016-09-06 18:07] Tyriar commented on #11553
@Streppel and Chrome works fine? I would expect this to be built into [`WheelEvent.deltaY`](https://developer.mozilla.org/en-US/docs/Web/API/WheelEvent).

[2016-09-06 18:16] bgashler1 commented on #10998
@chryw thanks for your help while I was away.

@isidorn you made the right call in removing the border.  In Visual Studio, it's standard to have this border (but it's programmatically adjusted to be the same as the background color of the thing it's sitting on).  We have no need to do that in VS Code, and I remove them whenever I see them.

[2016-09-06 18:24] dbaeumer commented on #11429
@sharadcodes can you share your code?

[2016-09-06 18:26] dbaeumer commented on #3508
Yes, that is correct. I already adopted the new API to support this.

[2016-09-06 18:29] dbaeumer opened #11598 "Adopt #11311 in TS land"
- VSCode Version: 1.6
- OS Version:

See #11311

[2016-09-06 18:30] dbaeumer commented on #11311
Created bug for TS.

[2016-09-06 18:35] Tyriar commented on #10546
@whitecolor currently there is only access to terminals created via the API, this is quite a compelling case to change that though.

Sneaky sneaky peeking at `terminal._id` :wink: it probably won't be changed anytime soon but as soon as an event you can listen to is added you should definitely leverage that as it will be the official stable API. Child process tracking and output is to be explored

[2016-09-06 18:38] Tyriar commented on #10404
Duplicate of #7817

[2016-09-06 18:38] #10404 closed

[2016-09-06 18:40] eamodio opened #11599 "Provide a way to remove a CodeLens in the resolveCodeLens"
- VSCode Version: `Version 1.5.0-insider (1.5.0-insider)` 538cd9ded5a471fbb20920f01eff9c8df4b83ee9
- OS Version: `OS X El Capitan Version 10.11.6 (15G31)`

Sometimes you want the work to ultimately show a CodeLens to be deferred as much as possible, so it would be create if there was a way to signal that CodeLens being resolve isn't actually desired anymore.

For example, it might be desirable to

[2016-09-06 18:40] Tyriar commented on #11525
Duplicate #7817

@Treri the scroll bar is turned off when application keypad mode is entered, if there is a better way of determining when the scroll bar should be disabled you should create an issue against [xterm.js](https://github.com/sourcelair/xterm.js). Currently the scrollbar works on the full buffer which doesn't change when an application such as vim is entered so the scrollbar would look

[2016-09-06 18:40] #11525 closed

[2016-09-06 18:45] Tyriar commented on #10156
I can't repro this anymore either so I guess it got fixed somehow :+1:

[2016-09-06 18:45] #10156 closed

[2016-09-06 18:46] Streppel commented on #11553
@Tyriar I just downloaded and installed Google Chrome and it behaves accordingly (natural scroll ok, fingers upwards window moves down)

[2016-09-06 19:03] bgashler1 commented on #5099
@spywhere I think all of **1** is currently working today in VS Code as you described.  Since we show the position of the cursor in the ruler by default, you would just need to use the setting `"editor.hideCursorInOverviewRuler:" true`, otherwise something is always in there (the cursor).

As far as **2**, after reading your comment, it seems you would like to see a setting on whether to auto-hide

[2016-09-06 19:05] Tyriar commented on #11344
en

![image](https://cloud.githubusercontent.com/assets/2193314/18286823/53fa5f0e-7429-11e6-8320-2568b23364fd.png)

ja

![image](https://cloud.githubusercontent.com/assets/2193314/18286540/1889a890-7428-11e6-8af2-3d65a1993d50.png)

After thinking about this a bit, the best translation may actually depend on the specific language. I don't think the current translations are useful though, Korean and

[2016-09-06 19:16] bgashler1 commented on #11354
@Tyriar I like the idea of making Sublime themes compatible with our product out of the box.  It's less hassle for users and theme-makers.

@Tyriar @sandy081 Let's talk about this at UX sync tomorrow morning, if you can attend.

[2016-09-06 19:26] bgashler1 opened #11601 "UX meeting agenda 04 September 2016"
- Simplify and standardize theme selection colors #11354 @Tyriar @sandy081
- Refactoring extensibility feedback
- Debugging sidebar remains open #1931

@Microsoft/vscode team, please let me know if there are other issues we should discuss.  We will meet 8:00am Redmond time (5:00pm in Zürich).  Thanks!

[2016-09-06 19:32] isidorn commented on #11601
Close button for horizontal panel #9638

[2016-09-06 19:45] nwgh opened #11602 "File search popup disappears when tabbing away from code"
- VSCode Version: 1.5.0-insider (538cd9ded5a471fbb20920f01eff9c8df4b83ee9)
- OS Version: OS X 10.11.6 (15G1004)

Steps to Reproduce:

1. Press Cmd-P
2. Start searching for a file you haven't yet searched for in a large project (the file doesn't even have to exist - I just did 'asdf' to verify)
3. Cmd-Tab away to another app
4. Cmd-Tab back to code
5. Your Cmd-P search has disappeared and (to all a

[2016-09-06 20:16] #11389 closed

[2016-09-06 20:17] joaomoreno commented on #3082
Nice

[2016-09-06 20:18] joaomoreno commented on #6793
LGTM

[2016-09-06 20:18] #6793 closed

[2016-09-06 20:23] #11397 closed

[2016-09-06 20:31] Tyriar commented on #9332
Duplicate of #11431

[2016-09-06 20:31] #9332 closed

[2016-09-06 20:34] Zawgar opened #11603 "Git"
- VSCode Version: 1.4.0
- OS Version: Windows 7

Steps to Reproduce:

1. Confige Git user/password

[2016-09-06 20:39] isidorn commented on #10913
Well actually the whole line is clickable since clicking on a breakpoint will open the editor on that line in a file where a breakpoint is set.
This also conforms with our other trees (e.g explorer) - where we also show the pointer for the whole line.

If clicking on the entire line would enable / disable that breakpoint it would not be possible to just click on a breakpoint and be taken to that f

[2016-09-06 20:39] #10913 closed

[2016-09-06 20:47] waderyan commented on #11401
@nocksock what is FF?

[2016-09-06 20:49] mrmlnc commented on #11401
@waderyan, Firefox :santa:

[2016-09-06 20:51] waderyan commented on #11401
Ah. I see.

@bgashler1 do you know anything about why @nocksock would be seeing different fonts on Chrome than me? His keybindings page is broken.

[2016-09-06 20:52] waderyan commented on #11548
This issue was moved to Microsoft/TypeScript#10732

[2016-09-06 20:52] #11548 closed

[2016-09-06 21:01] waderyan commented on #11536
@Liero thank you for opening this issue. I have tried the following steps to reproduce your issue. Can you review the steps I took and try them on your machine? What did I do differently than what you have done?

Thanks!

1. Create a new typescript project with `test.tsx` file.
2. Run `npm init`
3. Run `npm install react --save`
4. Run `typings install react`
5. Paste the following code into `test

[2016-09-06 21:02] waderyan commented on #11526
@dbaeumer this request seems valid to me. Is this something I should feed to TypeScript or is this a feature we would implement on our end (possibly both)?

[2016-09-06 21:04] waderyan commented on #11520
This issue was moved to Microsoft/TypeScript#10733

[2016-09-06 21:04] #11520 closed

[2016-09-06 21:07] waderyan commented on #11505
@dbaeumer this is similar to the other issues I have seen #11260 and #11258. I am glad that OP could resolve his issues by moving the video files, but this was not the case in the bugs I opened.

Closing for now and will continue to keep my eye out for how to reproduce this reliably.

[2016-09-06 21:07] #11505 closed

[2016-09-06 21:10] Tyriar commented on #9959
Removed "Backspace, left and right in Windows integrated terminal cause prompt to go out of sync #7345" from the list as it only impacts git bash and is certainly an upstream issue.

[2016-09-06 21:12] waderyan commented on #11505
Opened an issue in TS to try to get to the bottom of this.

https://github.com/Microsoft/TypeScript/issues/10735

[2016-09-06 21:13] waderyan commented on #11260
Note opened an issue in TS to try and get to the bottom of this https://github.com/Microsoft/TypeScript/issues/10735

[2016-09-06 21:13] waderyan commented on #11258
Opened an issue in TS to try to get to the bottom of this. https://github.com/Microsoft/TypeScript/issues/10735

[2016-09-06 21:13] #11258 closed

[2016-09-06 21:13] #11260 closed

[2016-09-06 21:17] waderyan commented on #11501
@ulitiy thank you for opening this issue and for making the helpful video. Can you share a snapshot of your code so I can try and recreate what you had?

@dbaeumer the video is worth a watch. It is strange behavior to see `Phasor` marked as an error and then it resolves when he runs `webpack`. Any idea why that would occur?

[2016-09-06 21:20] waderyan commented on #11498
@lejun thank you for opening this issue. To make sure I understand correctly... you are asking why you are prompted to choose `Navigator` in screenshot 1 but not in screenshot 2?

https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png

https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735.png

[2016-09-06 21:21] waderyan commented on #11495
@whitecolor, thank you for opening this issue.

I don't quite understand. Can you explain "But how to get help on the current interface/type which fields there present/required/etc?" by providing an example.

[2016-09-06 21:22] waderyan commented on #11495
@whitecolor, thank you for opening this issue.

I don't quite understand. Can you explain "But how to get help on the current interface/type which fields there present/required/etc?" by providing an example.

[2016-09-06 21:22] waderyan commented on #11498
@lejun thank you for opening this issue. To make sure I understand correctly... you are asking why you are prompted to choose `Navigator` in screenshot 1 but not in screenshot 2?

https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png

https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735.png

[2016-09-06 21:22] waderyan commented on #11498
@lejun thank you for opening this issue. To make sure I understand correctly... you are asking why you are prompted to choose `Navigator` in screenshot 1 but not in screenshot 2?

https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png

https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735.png

[2016-09-06 21:22] waderyan commented on #11498
@lejun thank you for opening this issue. To make sure I understand correctly... you are asking why you are prompted to choose `Navigator` in screenshot 1 but not in screenshot 2?

https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png

https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735.png

[2016-09-06 21:22] waderyan commented on #11498
@lejun thank you for opening this issue. To make sure I understand correctly... you are asking why you are prompted to choose `Navigator` in screenshot 1 but not in screenshot 2?

https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png

https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735.png

[2016-09-06 21:22] waderyan commented on #11450
This issue was moved to Microsoft/TypeScript#10736

[2016-09-06 21:22] #11450 closed

[2016-09-06 21:23] waderyan commented on #11495
@whitecolor, thank you for opening this issue.

I don't quite understand. Can you explain "But how to get help on the current interface/type which fields there present/required/etc?" by providing an example.

[2016-09-06 21:23] waderyan commented on #11495
@whitecolor, thank you for opening this issue.

I don't quite understand. Can you explain "But how to get help on the current interface/type which fields there present/required/etc?" by providing an example.

[2016-09-06 21:23] waderyan commented on #11495
@whitecolor, thank you for opening this issue.

I don't quite understand. Can you explain "But how to get help on the current interface/type which fields there present/required/etc?" by providing an example.

[2016-09-06 21:23] waderyan commented on #11498
@lejun thank you for opening this issue. To make sure I understand correctly... you are asking why you are prompted to choose `Navigator` in screenshot 1 but not in screenshot 2?

https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png

https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735.png

[2016-09-06 21:23] waderyan commented on #11498
@lejun thank you for opening this issue. To make sure I understand correctly... you are asking why you are prompted to choose `Navigator` in screenshot 1 but not in screenshot 2?

https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png

https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735.png

[2016-09-06 21:23] waderyan commented on #11498
@lejun thank you for opening this issue. To make sure I understand correctly... you are asking why you are prompted to choose `Navigator` in screenshot 1 but not in screenshot 2?

https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png

https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735.png

[2016-09-06 21:25] isidorn commented on #9062
@bpasero so I can create my own editor the same way you do for the [binary resource editor](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/editor/binaryEditor.ts#L23). However I am not sure how to wire in my editor, since you just register it for certain mime types [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/browser/files.cont

[2016-09-06 21:27] waderyan commented on #11495
@whitecolor, thank you for opening this issue.

I don't quite understand. Can you explain "But how to get help on the current interface/type which fields there present/required/etc?" by providing an example.

[2016-09-06 21:27] waderyan commented on #11495
@whitecolor, thank you for opening this issue.

I don't quite understand. Can you explain "But how to get help on the current interface/type which fields there present/required/etc?" by providing an example.

[2016-09-06 21:27] waderyan commented on #11498
@lejun thank you for opening this issue. To make sure I understand correctly... you are asking why you are prompted to choose `Navigator` in screenshot 1 but not in screenshot 2?

https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png

https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735.png

[2016-09-06 21:27] waderyan commented on #11498
@lejun thank you for opening this issue. To make sure I understand correctly... you are asking why you are prompted to choose `Navigator` in screenshot 1 but not in screenshot 2?

https://cloud.githubusercontent.com/assets/4397814/18225933/1988820e-7232-11e6-9918-8bd5e7c4758b.png

https://cloud.githubusercontent.com/assets/4397814/18225941/35077792-7232-11e6-827b-16fcf31e2735.png

[2016-09-06 21:28] waderyan commented on #11495
I apologize for the spam. Strange issue on my end with the comment button.

[2016-09-06 21:28] waderyan commented on #11498
I apologize for the spam. Strange issue on my end with the comment button.

[2016-09-06 21:47] Tyriar commented on #9612
@ArianeLu are you still running into this issue? Anymore information you can provide?

[2016-09-06 21:51] ramya-rao-a commented on #11603
@zawgar Are you looking to make VS Code use your Git username/password?  You need to [set up credential helper](https://code.visualstudio.com/Docs/editor/versioncontrol#_remotes) for VS Code to be able to talk to your Git remotes.

Please ask 'how-to' questions about VS Code on [Stack Overflow](https://stackoverflow.com/questions/tagged/vscode) using the tag `vscode`.

The VS Code development team

[2016-09-06 21:51] #11603 closed

[2016-09-06 21:53] Tyriar commented on #10398
Upstream issue: https://github.com/sourcelair/xterm.js/issues/265

[2016-09-06 21:55] Tyriar commented on #9763
Closing off since I got no more feedback. Also keybindings can be customized now and #8818 will improve upon this even more by adding a `terminalSelection` (or similar) state.

[2016-09-06 21:55] #9763 closed

[2016-09-06 21:55] Tyriar commented on #9628
Duplicate #9958

[2016-09-06 21:55] #9628 closed

[2016-09-06 21:57] #9612 closed

[2016-09-06 21:58] Tyriar commented on #10835
Duplicate #9347

[2016-09-06 21:58] #10835 closed

[2016-09-06 21:59] ramya-rao-a commented on #11571
@joaomoreno Duplicate of #10763 ?

[2016-09-06 21:59] Tyriar commented on #9261
Closing in favor of #9087

[2016-09-06 21:59] #9261 closed

[2016-09-06 22:05] nfantone commented on #11593
@jrieken What about formatting not working at all (rather than messing with characters)? Are we talking about the same thing?

Taken from [the original issue](https://github.com/OmniSharp/omnisharp-vscode/issues/660):

[2016-09-06 22:06] xwvvvvwx opened #11604 "Typescript 2.0.2: Global Types Not Found if tsconfig.json Contains an "include" Field"
- VSCode Version: 1.4.0
- OS Version: OSX 10.11.6

I am using typescript 2.0.2 and installing types with npm.

I have the following `tsconfig.json`:

[code]

If the `include` field is present, then my global types (`mocha` / `node` / types defined in `globals.d.ts`) are not found by vscode (see pic below):
![screen shot 2016-09-07 at 00 02 24](https://cloud.githubusercontent.com/assets/6689924/182

[2016-09-06 22:17] mohsen1 opened #11606 "Show folder name prefix in tab if multiple files are having the same name"
- VSCode Version: 1.4
- OS Version: OS X

![screen shot 2016-09-06 at 3 13 54 pm](https://cloud.githubusercontent.com/assets/543633/18292905/aff285be-7444-11e6-943e-22f585d1c512.png)

It's a common pattern in many projects to have an `index` file in each folder. When I open multiple index files I can't tell from tab header which index file is which.

To fix this problem I'm proposing to have a sma

[2016-09-06 22:21] nadako opened #11607 "Search shows results for the same file twice if it's open as a differently-cased filename"
- VSCode Version: 1.4.0
- OS Version: Windows 10

I'm not sure if it can be easily reproduced using plain VS Code, but if some extension screws up the file name case in e.g. a "definition provider", this will happen: https://github.com/hackwaly/vscode-ocaml/issues/56

Looks like file paths are used as keys somewhere and they are not normalized or something. Maybe it's not just search, but also oth

[2016-09-06 22:29] bgashler1 commented on #11401
@nocksock can you try these steps

Right click on the text that's having an issue and click "Inspect Element"

![screen shot 2016-09-06 at 3 21 51 pm](https://cloud.githubusercontent.com/assets/11839736/18293249/81f57430-7446-11e6-984e-4f45dcdbd17b.png)

Then click on the text I've underlined above on the far right panel
![screen shot 2016-09-06 at 3 22 30 pm](https://cloud.githubusercontent.com/a

[2016-09-06 22:30] ramya-rao-a commented on #11574
@jrieken The `Find` options are persisted for text search across files after restarting VS Code but not for test search in a file

[2016-09-06 22:33] FileSubmit opened #11608 "Add Find in folder"
- VSCode Version: 1.4.0
- OS Version: Win 10

Please, add feature to search through files in user selected folder.

[2016-09-06 22:37] mohsen1 commented on #11608
You can just right click on ay folder and select "Find in folder"
![screen shot 2016-09-06 at 3 36 42 pm](https://cloud.githubusercontent.com/assets/543633/18293465/c195611c-7447-11e6-87b8-0757c5a475e7.png)

[2016-09-06 22:37] Tyriar commented on #8016
This happens when the context menu is left open for 10 seconds or so due to an electron bug, maybe that's what it is?

[2016-09-06 22:39] Tyriar commented on #7240
Closing in favor of #6603

[2016-09-06 22:39] #7240 closed

[2016-09-06 22:41] #10894 closed

[2016-09-06 22:44] ramya-rao-a commented on #11576
@Andy-Amoy Can you provide more details?

- Which locale are you using?
- Do you see the issue on all file types or any particular ones?
- Do you see the issue on saved or unsaved files?
- Do you see the issue when the extensions are disabled? You can try this by running `code --disable-extensions` on the command line. This will open VS Code with the extensions disabled.

[2016-09-06 22:44] Tyriar commented on #10810
Duplicate #7344

[2016-09-06 22:44] #10810 closed

[2016-09-06 22:48] #11129 closed

[2016-09-06 23:18] waderyan commented on #11415
@whitecolor thank you for opening this issue. Can you show me more about the context of your feature request? Is this in the output window?

If you could share something simple I could recreate what you are seeing that would be appreciated.

[2016-09-06 23:22] ramya-rao-a commented on #11582
This is not specific to the example code in question. A simple node app with a `console.log('hello world');` behaves the same way. From a terminal, this would print `hello world` and terminate. In debug mode, it prints `hello world` and waits. Any particular reasoning behind this? @weinand @isidorn

[2016-09-06 23:29] xaverh opened #11609 "Precedence in the presence of multiple formatting providers"
- VSCode Version: 1.4 and earlier
- OS Version: Linux and Windows (probably macOS, too)

Given two (or more) "conflicting" extensions (like eg https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools and (my own) https://marketplace.visualstudio.com/items?itemName=xaver.clang-format) are installed at the same time.
There is currently no way to decide which extension is allowed to pro

[2016-09-06 23:39] ramya-rao-a commented on #11584
@rykr I was not able to repro this. Can you share a screen cast/gif of your steps?

[2016-09-07 00:05] rykr commented on #11584
At a soccer game. I'll try when I get back

On Sep 6, 2016 6:39 PM, "Ramya Rao" <notifications@github.com> wrote:

[2016-09-07 00:08] ugurozturk commented on #11592
Same version of VS code and Windows but i dont have the problem.
btw : I have only "Open With Code" what do you mean about the steps.

[2016-09-07 00:58] ramya-rao-a commented on #11597
@ArashPartow Are you using any extensions for C++ or just VS Code out of the box?

[2016-09-07 01:10] ramya-rao-a commented on #11608
Also, if you do not want to drill all the way down to the folder to be able to right-click and then `Find in Folder`, you can specify the relative path of your folder to your workspace in the `files to include`  option

![image](https://cloud.githubusercontent.com/assets/16890566/18296253/23c361bc-745d-11e6-9051-6d044eb89905.png)

[2016-09-07 01:10] #11608 closed

[2016-09-07 01:17] ramya-rao-a commented on #11606
Wouldn't hovering on the tab give you the full path?

[2016-09-07 01:22] karl20888 commented on #11562
@aeschli

`// API地址
var API_INIT = 'kitchen/kitcheninfoinit/getkcallinfoforinitdisplay';
var API_CONFIRM = '';
if(loginMode == 0){
  API_CONFIRM = 'kitchen/kitchencookmode/updatewhencompletecook';
}
if(loginMode == 1){
  API_CONFIRM = 'kitchen/kitchenservemode/updatewhencompleteserve';
}
var WS_URL = WS_CONTEXTPATH + '/websocket/' + ((loginMode == 0) ? 'cookmodewebsocketserver' : 'servemodewebsock

[2016-09-07 01:30] lejun commented on #11498
Thank you for your reply.
The screenshot 1 is correctly.(react component)

[2016-09-07 01:32] ramya-rao-a commented on #11594
The discussion on what should and shouldn't be exposed to extensions in the code folding API is already tracked in #9786 like @siegebell mentioned. Closing this issue as duplicate.

[2016-09-07 01:32] #11594 closed

[2016-09-07 01:32] mulianju commented on #396
+1

[2016-09-07 01:39] ramya-rao-a commented on #11570
@bpasero Can you clarify the performance expectations with this big a workspace?

[2016-09-07 01:40] Andy-Amoy commented on #11576
1. My windows is zh-cn version, and this function works fine several days ago
2. All file types will hit this issue, I think. As I hit it via edit .h .cpp .txt .proto .py, but I didn't test more types
3. Both of them
4. I have disabled all of the extensions as your direction, still show nothing at this field. Even I uninstall all of the extensions, issue is here yet.
5. Aditional, the code is simp

[2016-09-07 01:41] Emasoft commented on #11302
This is wrong. SVG SMIL Animations are NOT deprecated anymore. Thanks to popular demand, Google was forced to cancel the intent to deprecate SMIL. Please keep SMIL animations.

![svg_is_not_deprecated_anymore](https://cloud.githubusercontent.com/assets/713559/18296857/e7dfe68e-74ac-11e6-85b6-6a2748268c41.jpg)

[2016-09-07 01:55] odonyde opened #11610 "[JS] IntelliSense disregards properties if defined via Revealing Prototype Pattern"
- VSCode Version: 1.4.0
- OS Version: Windows 10 Pro 64bit 1607
- Language: JavaScript

Likewise issue #11450 concerning the Prototype Pattern with assigned object literal, I observed that IntelliSense also disregards any properties if they are defined using the Revealing Prototype Pattern. For example, IntelliSense does not show property 'greet' in the screenshot below.
![vscode-intellisense-03](

[2016-09-07 02:05] rykr commented on #11584
Here is a video.  It appears to be one of my extensions that is causing it. Not sure which one.

[Bug.zip](https://github.com/Microsoft/vscode/files/458134/Bug.zip)

[2016-09-07 02:07] keyiis opened #11611 "can open cmd as administrator?"
- VSCode Version:1.4
- OS Version:win10 x64
When I right click file and select "open with cmd",but the cmd windows haven't  Administrator privileges.
has a way to  "open with cmd" add Administrator privileges automatically?

[2016-09-07 02:18] mohsen1 commented on #11606
yes, but that takes a few seconds.

Sublime has an option to show the full path in the tab header but I think that's too much and messy. What I proposed should be simpler and cleaner

[2016-09-07 02:29] maryamsoprano commented on #11259
Hi again,

I committed a test repo in following path. I hope it would be  completed. it is a test which worked fine in my local .
https://github.com/maryamsoprano/testDebug

[2016-09-07 02:40] ArtemGovorov commented on #3351
Because output channels is the only way for an extension to provide a window with some custom output, I think it's really essential to provide a way to tell an output channel at least not to scroll to the bottom.

Here is the real-world scenario we're having issues with in wallaby. A user is editing the code, we are creating the output where the relevant bit of information (last edited test) is th

[2016-09-07 02:53] ArtemGovorov commented on #11542
Could you please consider doing the same for output channels? They do have the exact same issue: https://github.com/Microsoft/vscode/issues/3351

[2016-09-07 02:57] y2mao commented on #206
+1

[2016-09-07 02:57] ArashPartow commented on #11597
@ramya-rao-a  I'm using the C/C++ for Visual Studio Code extension.

http://pasteboard.co/3A56demY.png

But I've tried with it active and disabled and get the same results. Though I did notice that when the extension is disabled the whitening seems to happen a couple of thousand lines later than when it is enabled.

[2016-09-07 03:10] taichirain commented on #11567
When writing code, I want to see where a function or variable is defined. Similar to the Sublime Text's "goto definition".
In vscode, what should I do
![20160907110457](https://cloud.githubusercontent.com/assets/10025692/18298509/ae41ad24-74eb-11e6-9d01-2ee471967108.png)

[2016-09-07 03:30] mikehans commented on #9406
I'm running VSCode 1.4 and am getting random lockups too. My project is 500MB with all npm dependencies installed, Is there a way of reviewing a log file to see if an extension may be causing the issue?

[2016-09-07 04:06] bpasero commented on #8016
https://github.com/Microsoft/vscode/issues/6414

[2016-09-07 04:08] bpasero commented on #11570
@EugenWiens can you try disabling the file watcher for this workspace to see if that helps:

[code]

[2016-09-07 04:09] bpasero commented on #11592
@dhruvajoshi8 does the crash happen after you selected a folder or before the folder dialog opens?

[2016-09-07 04:10] bpasero commented on #11606
https://github.com/Microsoft/vscode/issues/8499

[2016-09-07 04:10] #11606 closed

[2016-09-07 04:15] bpasero commented on #10566
@WLswert did you have `vscode-icons` extension installed maybe?

[2016-09-07 04:17] nocksock commented on #11401
Will do as soon as I get back to my MacBook on Saturday!

[2016-09-07 05:27] bpasero commented on #9062
@isidorn you can bring in new editors to the workbench without having to register a mime. The way it works is that you register an editor and then make sure that you have at least one editor input support this editor. I suggest you add your own editor and input to show a message (or anything you need to show).

The HTML preview editor is a good example: https://github.com/Microsoft/vscode/blob/mas

[2016-09-07 05:27] bpasero commented on #8754
@weinand @dbaeumer @isidorn (also @DonJayamanne fyi) I suggest we meet on this topic in September (maybe when Isi is back) to discuss how this could be supported centrally from the configuration service.

I have some concerns how this could work if we decide to push this down to the configuration service (where imho it would make sense to have it). My understanding is that:
* there are variables t

[2016-09-07 05:28] tracker1 opened #11612 "Configuration option for pre-tab behavior"
I had gotten used to and now prefer the pre-tab behavior...

I'm able to get close with the following options:

    "workbench.editor.showTabs": false,
    "workbench.editor.enablePreview": false,
    "workbench.editor.enablePreviewFromQuickOpen": false,

However, there's still the `LEFT | CENTER | RIGHT` sections in the file list, instead of a unified list... I'd really love to get the old, behav

[2016-09-07 05:33] jyotendra opened #11613 "Build task won't work at times"
- VSCode Version: 1.4.0
- OS Version: Microsoft Windows [Version 10.0.14393]

Description:
Build task stops working every now and then. I am trying to run gulp task to launch a node.js server upon activation. It works when gulp is installed afresh but after a restart it won't work.

Following is my tasks.json code:

`{
    // See http://go.microsoft.com/fwlink/?LinkId=733558
    // for the documen

[2016-09-07 06:16] ramya-rao-a commented on #10824
@jrieken My bad, I missed that. Closing as verified

[2016-09-07 06:16] #10824 closed

[2016-09-07 06:27] isidorn commented on #11586
This works fine on my machine and I have the same OS X version. In order for us to investigate further please upload a small repository for which you can repro this issue to GitHub. Thanks!

[2016-09-07 06:31] alexandrudima commented on #11354
My 2 cents:
* Sublime has added "Sublime specific" keys to the TextMate themes because it has concepts which don't exist in TextMate
* we have concepts which don't exist in Sublime or if there exists a similar concept, it is unapplicable. e.g. Sublime uses `findHighlight` color to render a border around find matches, we can't render borders on our decorations because we render multiline decoration

[2016-09-07 06:36] alexandrudima commented on #5099
Regarding @bgashler1 comment, there exists today these "hidden" settings for controlling the scrollbar:
[code]

[2016-09-07 06:38] eladcandroid opened #11614 "Update All Extensions Feature"
Very simple (I think..)  - a button that updates all the extensions that are outdated..

[2016-09-07 06:43] constructor-igor commented on #11540
probably, could you suggest a workaround?

[2016-09-07 06:47] EugenWiens commented on #11570
At first glance it looks good. I will test it further during my daily work and get back to you again after a week or so.

[2016-09-07 06:48] hikidd commented on #5863
Similar issue, vscode can't work in vagrant/ubuntu16.04
VSCode Version:1.4.0
OS Version: Ubuntu 16.04 on a virtualbox

![unnamed_20160901_105618_632](https://cloud.githubusercontent.com/assets/17465708/18302314/cb8ae6ca-7509-11e6-9066-59e0f8d3d1fb.png)

[2016-09-07 06:50] gep13 commented on #11566
@isidorn is there any documentation around the configuration section that is being used in the example that you linked to?  All I can find is this:

https://code.visualstudio.com/docs/extensionAPI/extension-manifest

Which points here:

https://code.visualstudio.com/docs/extensionAPI/extension-points

But this don't mention anything about a `breakpoints` section. Thanks!

[2016-09-07 06:50] jrieken commented on #11593
@nfantone Since I don't have reproducible steps for that it's guessing. However, no formatting can happen when the produced edits are really bad (overlapping etc). I am happy to dig further but I do need a repro.

Closing this issue which really was a regression from #10133

[2016-09-07 06:50] #11593 closed

[2016-09-07 06:52] alexandrudima commented on #10451
You're right, all the keybindings are impacted, I'm sorry I didn't realize this. The repl editor already has the context key `inDebugRepl` so you can use that instead of maintaining your own key. I am sorry for 1.5.0 this workaround will be necessary on your side.

fyi @egamma
Maybe we can use some time in September to revisit if we can correctly hide the repl from the extension host.

[2016-09-07 06:56] isidorn commented on #11566
@gep13 https://code.visualstudio.com/docs/extensions/example-debuggers
Unfortunently that document has an outdated way of contributing breakpoints, thus I created this issue https://github.com/Microsoft/vscode-docs/issues/559 which has more details / pointers which you can follow

[2016-09-07 06:59] gep13 commented on #11566
@isidorn ah, perfect, thank you.

And just to confirm, where can I find a list of supported languages for breakpoints.  Specifically, I am interested in C#, but would be good to know where to find the list.  Thanks!

[2016-09-07 06:59] roblourens commented on #11535
And there's another message when you're connected but being MITM'd by hotel wifi :) (in case you try to fix it by detecting that there's no connection at all)

[2016-09-07 07:09] mzamoras commented on #11354
Hi I would like to share my point of view.

1. Sublime themes are some how hard to edit or create, unless you use the creator page https://tmtheme-editor.herokuapp.com, is boring, difficult and has some issues with preview.

2. I suggest an Atom approach, why don't transform or parse sublime into css, sass or less, in that way the user has a base with the theme but would be easier to make adjustme

[2016-09-07 07:09] LevanArabuli opened #11615 "Clicking on "0 references" shouldn't show references popup window"
Clicking on "0 references" shouldn't show references popup window, i.e. hide references popup window when there are no references, or make it look nicer :

<img width="1103" alt="screen shot 2016-09-07 at 11 02 48" src="https://cloud.githubusercontent.com/assets/10230040/18302851/2ef2eb0a-74eb-11e6-9095-484941e07722.png">

[2016-09-07 07:09] LevanArabuli commented on #11614
👍

[2016-09-07 07:13] sandy081 commented on #11354
@Tyriar @bgashler1 As I mentioned in my (previous comment)[https://github.com/Microsoft/vscode/issues/11354#issuecomment-244065261] that I tried to match our keys/colors/behavior with those of Sublime. But they are not one-to-one. Refer here for [Sublime color settings](http://docs.sublimetext.info/en/latest/reference/color_schemes.html#global-settings-ordered-by-type)

To be aligned with Sublime

[2016-09-07 07:14] isidorn commented on #8754
@bpasero your understanding regarding the variables is right, there are 3 'different types': static value from the env which are accessed by `${env.NAME}`, dynamic based on workspace `${NAME}` and ones based on commands `${command.NAME}`.

Currently we also support variable substitution in nested objects. Common use case that the users asked for is substitution inside an `env` object in `launch.js

[2016-09-07 07:16] jrieken commented on #11599
Not convinced - whenever you remove or add a lens it moves the lines up or down. That's the reason  why we first gather all lens locations and then fill in the visible ones. In early versions of this feature we used to have what you describe and it was not fun to use.

[2016-09-07 07:16] #11599 closed

[2016-09-07 07:17] alexandrudima commented on #11574
Let's track in #10344 we should add a configuration option where you could specify the default toggle states.

[2016-09-07 07:17] trollcop opened #11616 "Entering (, {, etc while editing a .c file automatically inserts a ")"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-09-07 07:18] jrieken commented on #11607
@nadako Please include reproducible steps

[2016-09-07 07:18] trollcop opened #11617 "Entering (, {, etc while editing a .c file automatically inserts a ")" or "}" without user input"
- VSCode Version: latest
- OS Version: windows 10

Steps to Reproduce:

1. open anyfile.c
2. int main(|< now here, after pressing ( it will immediately add a ")".

[2016-09-07 07:19] isidorn commented on #11566
@gep13 you can put any language you want in there. What is supported on a vscode instance depends on the extensions that are installed. E.g if you have the Go extension installed then you can add breakpoints in .go files.
However just adding those breakpoints in those files does not mean the brekapoints will get hit, for that you need a debug adapter that supports that language type.

More about l

[2016-09-07 07:19] jrieken commented on #3351
makes sense

[2016-09-07 07:28] bpasero commented on #8754
Yes, very ugly to do have a sync call without replacement and async with replacement...

[2016-09-07 07:29] yaSebastian commented on #11617
This behavior is intended. You can switch it off.
Set the following to false:
[code]

You can find a detailed instruction on how to do this [here](https://code.visualstudio.com/docs/customization/userandworkspace).

[2016-09-07 07:29] ferarias opened #11618 "GIT not working. No errors shown in GIT console"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586
- GIT version 2.9.3

Steps to Reproduce:

1.Open any solution with git association
2.GIT error happens. No error is shown in output.

Tried reinstalling GIT, reinstalling VS Code. Same problem.

![2016-09-07 09h18_11](https://cloud.githubusercontent.com/assets/

[2016-09-07 07:30] yaSebastian commented on #11616
Duplicate of #11617

[2016-09-07 07:31] gep13 commented on #11566
@isidorn ok, so if I have understood correctly, I shouldn't need to create a Debug Adapter, or anything like that, as C# debugging is already supported out of the box.  I know if I switch to C# (as per the screenshots at the top of this issue) I can switch to C#, add a breakpoint, and my `build.cake` file is then debuggable.  What I am trying to do is to miss out the step in which I have to switch

[2016-09-07 07:32] trollcop commented on #11617
That works.
I have no idea why such misfeature would be on by default.
Thanks.

[2016-09-07 07:32] #11617 closed

[2016-09-07 07:33] jrieken commented on #11384
@Tyriar I would suggest for *August* to internally call `hide` after creation. That would align the behaviour, be an easy fix, and the flickering would be along the lines of #11275

[2016-09-07 07:36] isidorn commented on #11566
Yous should put 'cake' there instead of csharp. That will allow you to add breakpoints in cake files. And the rest should hopefully be done by the C# extensions

[2016-09-07 07:36] ferarias commented on #11618
This is what I see in Console:

``
messageService.ts:119 There was an issue running a git operation. Please review the output or use a console to check the state of your repository.: Error: There was an issue running a git operation. Please review the output or use a console to check the state of your repository.
    at Object.C [as create] (file:///C:/Program Files (x86)/Microsoft VS Code/resourc

[2016-09-07 07:37] alexandrudima commented on #11184
Ok, most weird I can no longer reproduce. Maybe I should've written down the vscode version.

As easy as it was reproducible for me before, it now is completely not reproducible. Sorry for the noise.

[2016-09-07 07:37] #11184 closed

[2016-09-07 07:38] #11616 closed

[2016-09-07 07:38] isidorn commented on #8754
Because we support the command replacment the method which returns the replaced variables has to be async. Now how to make that API not very ugly is an open question.

[2016-09-07 07:40] DonJayamanne commented on #8754
@bpasero , I agree with @isidorn . Further to his comments, variable substitution with nested objects is also used by the debugger, when referencing settings from ```settings.json``` in ```launch.json```.
For instance in my python extension i have the setting ```"python.pythonPath" = "abc"```. This value is accessed in ```launch.json``` as follows: ```${config}.python.pythonPath```.

[2016-09-07 07:42] gep13 commented on #11566
Yous should put 'cake' there instead of csharp. That will allow you to add breakpoints in cake files. And the rest should hopefully be done by the C# extensions

Doh! Now I get it! Thanks, that seems to be working now, thank you!

[2016-09-07 07:50] hieutranagi47 opened #11619 "Auto format code incorrectly with .js in React -native project."
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. I try to create a component:
// Create a react component.
var Weekdays = React.createClass({
    render: function() {
        return <View >
            < Text style = "red-color" >
                Day of the week:
            < /Text>

[2016-09-07 07:52] aeschli commented on #11597
@alexandrudima The textmate tokenizer seems to return tokens, but we don't show them.

[2016-09-07 07:52] ferarias commented on #11618
I tried installing VSCode Insiders.
When I try to init repo, I get the following output:

[2016-09-07 08:00] aeschli commented on #11562
@karl20888 Thanks. This is fixes in the August release.

[2016-09-07 08:00] #11562 closed

[2016-09-07 08:00] egamma commented on #11329
@mrmlnc we can show Intellisense in settings. We do this for `languages` for the `file associations` settings:

![image](https://cloud.githubusercontent.com/assets/172399/18304242/8d9fdf82-74e1-11e6-9991-ca8e66ac28e3.png)

We should do the same for the emmet settings.

I was reluctant to do this since this requires a change to JSON worker and will make extracting emmet into an extension harder.

[2016-09-07 08:05] marvinhagemeister opened #11620 "Whole UI scrolls up"
- VSCode Version: 1.5.0-insider 538cd9ded5a471fbb20920f01eff9c8df4b83ee9 2016-09-05T08:29:15.791Z
- OS Version: Mac OSX El-Captain

Steps to Reproduce:

1.  Open a file that is longer than the window height
2. Scroll down to the bottom

Happens since the last Insider build.

![Gif](http://i.giphy.com/l3vR7Wibcr6Swdwf6.gif)

[2016-09-07 08:08] jrieken commented on #11384
Alternatively we release-note this behaviour for August - the API is correct but wrongly implemented. That would mean consumers for 1.5 have to be prepared for a behavioural change with 1.6

[2016-09-07 08:09] joaomoreno commented on #11609
Is the conflict in the format command? Are there any other conflicts?

[2016-09-07 08:11] joaomoreno commented on #11302
Good to know, thanks. I'll still change the animation to CSS on that icon though.

[2016-09-07 08:12] joaomoreno commented on #11535
@dbaeumer @roblourens Maybe we should actually do something here for the release. I'll put something in the `release/1.5` branch.

[2016-09-07 08:13] joaomoreno commented on #11571
Absolutely, thanks!

[2016-09-07 08:13] #11571 closed

[2016-09-07 08:14] dbaeumer commented on #8754
@bpasero I would not bake variable substitution into the configuration service. This makes things IMO very complicated and expensive in general. I would go down the path of saying the configuration service gives you exactly the values how they are in the corresponding json file. If a component has a setting that the component knows has variables in it we should offer another 'service' which does t

[2016-09-07 08:18] bpasero commented on #11570
This is https://github.com/Microsoft/vscode/issues/3998

[2016-09-07 08:18] #11570 closed

[2016-09-07 08:18] bpasero commented on #11602
With 1.5 there is a new setting: `"workbench.quickOpen.closeOnFocusLost": true`

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-09-07 08:18] #11602 closed

[2016-09-07 08:21] bpasero commented on #8754
After talking to @dbaeumer and @weinand I lean towards a new service that is able to resolve variables in configuration values and provides an API that is long running (because it potentially executes commands). That way the base configuration service stays as it is today and returns the truth as it is in the files (solves Dirks point on get/set issues).

This will solve the issue in debug and tas

[2016-09-07 08:22] #11535 closed

[2016-09-07 08:25] dbaeumer commented on #11567
We currently don't have Goto Definition support for php. You might want to look at https://marketplace.visualstudio.com/items?itemName=felixfbecker.php-intellisense which looks promise to provide such a feature in the future.

[2016-09-07 08:29] #11615 closed

[2016-09-07 08:34] dbaeumer commented on #11501
@waderyan I am not very familiar with webpack but what I heard is that they merge/copy/compile files from various source into one location. So I assume that webpack will produce some d.ts or ts files in a location which VS Code / tsserver picks them up from making the error disappear (we listen to file events and react to them. The tsserver for example adds new files to the project if the belong t

[2016-09-07 08:36] dbaeumer commented on #11526
@waderyan this needs work on both ends. First the tsserver has to expose a corresponding API and then we need to adopt it. So we need to feed the request to the TS team as well.

[2016-09-07 08:40] jrieken commented on #11609
@xaverh Are you saying there is a conflict between two extensions that both register a formatting edits provider? Iff so, the rules are that the one with the highest score is [taken](https://github.com/Microsoft/vscode/blob/joh/11455/src/vs/vscode.d.ts#L3899). You guys are likely having the same [score](https://github.com/Microsoft/vscode/blob/joh/11455/src/vs/vscode.d.ts#L3754) in which case the

[2016-09-07 08:42] DonJayamanne commented on #8754
I would use such a module in my [Python](https://github.com/DonJayamanne/pythonVSCode) extension. Currently I have a number of settings where users can enter paths (e.g. arguments to some tools, etc). Here I have added support for variables such as ```${workspaceRoot}```.

Today I solved this by having my own copy of the [SystemVariables](https://github.com/Microsoft/vscode/blob/903a011485215a29b2

[2016-09-07 08:42] joaomoreno commented on #2330
Delayed hover
![delayed](https://cloud.githubusercontent.com/assets/22350/18305410/bc41cbce-74e7-11e6-9e9c-f2207dea862e.png)

Delayed hover with scroll
![scroll](https://cloud.githubusercontent.com/assets/22350/18305418/be8e8b7e-74e7-11e6-8d82-32cf4e35bcda.png)

Diagnostics hover
![diagnostics](https://cloud.githubusercontent.com/assets/22350/18305420/c11594be-74e7-11e6-8ad7-10635c955e62.png)

Gly

[2016-09-07 08:46] jrieken commented on #2330
@joaomoreno It broke multi-line error messages that have an owner

[code]

![sep-07-2016 10-45-28](https://cloud.githubusercontent.com/assets/1794099/18305522/3c77a1d8-74e8-11e6-8d10-1f00aa9e2dc5.gif)

[2016-09-07 08:51] weinand commented on #8754
Variable substitution for dynamic variables cannot be done on the lowest layer because dynamic variables are long running and potentially require access to the UI. Triggering variable substitution can only be done in a context where the user expects UI popping up and is able to respond to it. In debug and tasks land this is when "launching" a debug session or "running" a task.

For this reason I t

[2016-09-07 08:52] aeschli commented on #11354
+ 1 on @alexandrudima comment. While we have a easy way to start authoring a theme by importing an existing one from sublime or text mate, adaptation is required as there are feature differences between the products. Some of these feature differences are intended, some are given by the underlying architecture.  Therefore also themes will not be interchangeable by products. This never was a goal, a

[2016-09-07 08:56] mrmlnc commented on #11329
@egamma, crazy idea:

![image](https://cloud.githubusercontent.com/assets/7034281/18305885/2046e460-74f2-11e6-8294-897060a443be.png)

[2016-09-07 08:57] weinand commented on #11586
@parkego please try to run your `node index.js` from the command line but in VS Code's integrated terminal. Do you see the same problem?

[2016-09-07 09:00] bpasero commented on #8754
All reuse can happen from the new resolver service that should also provide library functions if needed for others to use.

[2016-09-07 09:04] karepte commented on #11448
Normal cmd.exe shell.
Turns out this is only an issue when connected on a Remote Desktop session.
I am closing this issue.

[2016-09-07 09:04] #11448 closed

[2016-09-07 09:08] weinand commented on #11540
@constructor-igor there are two options to fix this:
- change your PATH so that the correct 'node' will be found first. You can verify which node is found on path by running `where node` in a command prompt.
- find the correct 'node' on your system and then add a `runtimeExecutable` attribute with the absolute path to your 'node' to your launch config.

[2016-09-07 09:09] #11540 closed

[2016-09-07 09:23] whitecolor commented on #11415
@waderyan Yes this is a popup that appears when I the mouse is over the errored code (undelined with red).
![image](https://cloud.githubusercontent.com/assets/736697/18306716/83d66596-7506-11e6-92d7-9bea6fa7e1f9.png)

There is even some code highlighting in the popup =) But it is obviously is not enough.

[2016-09-07 09:28] joaomoreno commented on #2330
Good to know, expect that it didn't break anything. That didn't work before. Here's the current insiders, where my change is yet not pushed:

![image](https://cloud.githubusercontent.com/assets/22350/18306880/2edb74ea-74ee-11e6-9ec0-14fe1972d17f.png)

NICE TRY

[2016-09-07 09:33] parkego commented on #11586
Hello,
I have tried with a small hapi server and the debugger works.
But on my project the hapijs dont start.
i have already tried to lauch « node index.js » in the integrated terminal and it’s working well.
But the lauch action don’t.
Thanks for the help

Thomas TRIVIDIC
T +33 6 44 23 07 56
E thomas@parkego.com (mailto:thomas@parkego.com)

PARKEGO – S.A.S. au capital de 30 000 €
Siège Social : 1

[2016-09-07 09:33] parkego commented on #11586
Hello.
First thanks for the help,
I resolved the problem removing all the files of VS code and re installing it.
I removed this files and folders :
/Applications/Visual Studio Code.app /private/tmp/VSCode Crashes ~/.vscode ~/Library/Application Support/Code ~/Library/Caches/Code ~/Library/Preferences/com.microsoft.VSCode.* ~/Library/Saved Application State/com.microsoft.VSCode.savedState

Thomas T

[2016-09-07 09:37] Sloff commented on #11618
I'm also experiencing this issue

[2016-09-07 09:40] satokaz opened #11621 "Changes to http_proxy settings do not take effect in Extensions viewlet without reload"
In the home (disable) and workplace (enable) has switched the setting of the `http_proxy`.
However, does not reflect `http_proxy` settings are immediately in Extensions-view.
proxy settings until run the `Reload Windows` command or restart the vscode will not be reflected.

- VSCode Version: 1.5.0-insider (1.5.0-insider) 538cd9ded5a471fbb20920f01eff9c8df4b83ee9
- OS Version: OS X El Capitan 10.11.

[2016-09-07 09:41] mrmlnc commented on #11614
In version `1.5.0` you can use

![image](https://cloud.githubusercontent.com/assets/7034281/18307278/67f0850e-74f8-11e6-8359-73fcd87444ea.png)

[2016-09-07 09:42] WLswert commented on #10566
@bpasero  yes ,does it matter?

[2016-09-07 09:43] whitecolor commented on #11495
Ok I will make a simplier example
[code]
Here with pictures:
Ok now I know that it expects `AB` type, but what is AB type?
![image](https://cloud.githubusercontent.com/assets/736697/18306962/a8de9916-7507-11e6-9a2f-df7f6fd7c292.png)

Ok then I type "a", wow, I guessed there is "a" property on the type an it is a number - great
![image](https://cloud.githubusercontent.com/assets/736697/18306999/d7c

[2016-09-07 09:44] mrmlnc commented on #10566
@WLswert, yes. From `vscode-icons` docs:

[2016-09-07 09:45] aeschli commented on #11580
I also think that tokenizers implemented by language servers is an interesting idea that we should evaluate again.
The current strategy is chosen for performance reasons. Tokenizing happens in the renderer process and is line base, optimized for colorizing as you type.
A language server tokenizer needs cross process communication, and likely analyses the whole file in order to not have the same pr

[2016-09-07 09:49] weinand commented on #11586
@parkego great to hear that you could solve your problem.
But from the things you had to remove, I have no idea why it should have solved the issue.
Did you had installed some extensions? Removing ~/.vscode would have deleted them. So that could have been an issue...

[2016-09-07 09:50] aeschli commented on #11496
As written in the settings comment, 'null' defaults to all tags listed at https://www.w3.org/TR/html5/dom.html#phrasing-content.
span is part of these tags, that why the content of span is not formatted.

If you want all elements to be formatted, use
```"html.format.unformatted": ""````

[2016-09-07 09:50] #11496 closed

[2016-09-07 09:54] alexandrudima opened #11622 "Migrate OutputMode off CompatMode"

[2016-09-07 09:54] aeschli commented on #11458
We have 'expand selection' but it would expand only to the innermost tag. Anything we can do here, @jrieken ?

[2016-09-07 09:55] WLswert commented on #10566
@mrmlnc  oh ,thank you very much!
i got it .

[2016-09-07 09:57] weinand commented on #11582
This is a long-standing node bug: https://github.com/nodejs/node/issues/1788

It is independent from VS Code and you can reproduce it by running the 'hello world' oneliner from the command line with `node --debug hello.js`

[2016-09-07 09:57] #11582 closed

[2016-09-07 10:01] #11446 closed

[2016-09-07 10:01] xaverh commented on #11609
Yes, the question is: Is there any other possiblity (besides the mentioned dirty trick) to choose which formatting feature gets registered? In this case there is a one-feature-extension (which provides formatting for the languages C, C++, Obj-C, Java, and JavaScript) and a one-does-it-all-extension (which provides an allround package for C++, ie formatting, debugging, intellisense). If for any rea

[2016-09-07 10:02] aeschli commented on #11420
@rchiodo Can you attach the code example where you see the problem?

[2016-09-07 10:17] parkego commented on #11586
Yes i had some extensions but i could not remember which ones ( they are deleted so i can’t find them anymore).
I don’t know wich remove file command did solve my problem but yes it could be a bug with a extension.

Thomas TRIVIDIC
T +33 6 44 23 07 56
E thomas@parkego.com (mailto:thomas@parkego.com)

PARKEGO – S.A.S. au capital de 30 000 €
Siège Social : 1 Boulevard Maître Maurice Slama
Immeuble P

[2016-09-07 10:22] weinand commented on #11586
@parkego I've you experience strange issues like yours, it is always a good idea to launch VS Code with the `--disable-extensions` and verify that it is not a problem introduced by an extension.

[2016-09-07 10:27] sercanov commented on #5601
Workaround is not valid for non-english keyboard users.

[2016-09-07 10:28] asadsahi commented on #9448
@rob3c  @Tyriar sorry didn't catch that, how to get this workaround working with vscode? is there something in settings.json or any where we can set which will uppercase c drive when integrated terminal opened or terminal opened from vscode using Ctrl + Shift + C (for windows)?

[2016-09-07 10:34] GuidC0DE opened #11623 "Extend C# IntelliSence suggestions list to symbols out of current using directives."
- VSCode Version: 1.4.0
- OS Version: OS X El Capitan & Windows 10

It would be very handy to see in suggestions list classes that come from namespaces not used in the editable file. For example, when we start typing class name "EventHandler" we'll not see suggestion for it if "using System;" is not presented. Now we have only ability to type class name completely, expand light bulb and choose qui

[2016-09-07 10:35] mamboer opened #11624 "add the "bin" options in launch.json for custom debugging"
- VSCode Version: 1.4.0
- OS Version: MacOSX 10.11

I'm working on a node app which will invoke [pug-cli](http://npmjs.com/package/pug-cli) to compile pug templates to html files.

For certain reasons i have to install `pug-cli` locally in the project, and config the `bin` options in package.json as below:

[code]

and in my app.js,

[code]

When i launch the app via VSC's debugger, it complains '

[2016-09-07 10:45] jrieken commented on #11050
I have change two things
* when two snippets have the same prefix I have added their name for disambiguation ala`prefix - name`
* when a snippet is selected its source is shown - either `User Snippet` or the name of the extension

![sep-07-2016 12-43-37](https://cloud.githubusercontent.com/assets/1794099/18309287/eeb81eee-74f8-11e6-83f8-36a0ea282e50.gif)

[2016-09-07 10:46] ydcoming opened #11625 "Sub menus by extensions in explorer context menus"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. 1.4
2.
I would like to explorer/context extension right click menu, there is a sub menu ，how do I do

"menus": {
			"explorer/context": [
				{
					"command": "extension.openNewInstance",
					"group": "navigation@2",
					"openNewInstance":[
						{
							"command": "extension.openNewInstance",
							"group": "navigation@1"
						}

[2016-09-07 10:47] #11050 closed

[2016-09-07 10:51] jrieken commented on #2330
![homer-simpson-doh](https://cloud.githubusercontent.com/assets/1794099/18309462/daaabae6-74f9-11e6-86b3-e99f4a262316.jpg)

[2016-09-07 10:59] kumarharsh opened #11626 "How to seek to end-of-line of a wrapped line?"
- VSCode Version: ALL
- OS Version: Windows

Steps to Reproduce:
1. Write a line long enough so that it wraps into two or more lines.
2. Now, place cursor on first line, and then press "End". It goes to the end of the **first** line only.
3. Pressing "End" again makes it go to the **last non-whitespace** character on the first line.

In Atom (or Sublime, I've forgotten which) pressing "End" second

[2016-09-07 11:05] kumarharsh opened #11627 "Multi-cursor glitching while typing quotes"
- VSCode Version: 1.5-insider
- OS Version: Win10

Steps to Reproduce:
1. Type this in a new file:

[code]
1. Set language mode as "javascript" or "javascript (babel)" or "javascript react"
2. Now, select first `abc`, then **Select all occurences of Find Match**, then press <kbd>End</kbd>, and type `"` (double-quotes) or `'` (quotes).

A mismatching number of quotes are put on selections with odd

[2016-09-07 11:20] jrieken commented on #11609
The problem is real but there are no other solutions to it then what I mentioned above. In contrast to keybindings, snippet et al language-features like formatters are not registered *declaratively*. That means, we don't know much of them (like name, containing extensions etc) and they are dynamic meaning an extension can call `register/unregister` at any time many times.

That only leaves one thi

[2016-09-07 11:28] parkego commented on #11586
Hello,
Good to hear, i’ll do this the next time .
Thanks for your help
Thomas TRIVIDIC
T +33 6 44 23 07 56
E thomas@parkego.com (mailto:thomas@parkego.com)

PARKEGO – S.A.S. au capital de 30 000 €
Siège Social : 1 Boulevard Maître Maurice Slama
Immeuble Premium
06 200 NICE, France

[2016-09-07 11:40] ststeiger opened #11628 "Build broken on ARM"
Can't build it on my Chromebook with Ubuntu 14.04.
Clone latest from github/master:
run
./scripts/npm.sh install --arch=armhf

[...]
make: Entering directory `/root/sources/vscode/node_modules/pty.js/build'
  CXX(target) Release/obj.target/pty/src/unix/pty.o
  SOLINK_MODULE(target) Release/obj.target/pty.node
  COPY Release/pty.node
make: Leaving directory `/root/sources/vscode/node_modules/pty.js

[2016-09-07 11:44] Luncher commented on #11489
Feeling is `Shan.code-settings-sync` problems.

After uninstall  `Shan.code-settings-sync`  can't reproduce it.

thankyou!!

[2016-09-07 11:49] ryu1kn commented on #2248
I also wanted to see git blame info inside the editor; so developed an extension called [Annotator](https://marketplace.visualstudio.com/items?itemName=ryu1kn.annotator).

As it doesn't open a gutter in a current editor to show blame info and open a new html view instead, it's got its own limitations like no syntax highlighting or no text search on the blame view, but I still find it very useful.

[2016-09-07 11:52] jrieken commented on #11458
Today it works with the tokens and brackets which isn't very reliable. I close this as a dupe of #4795 which is about getting this right

[2016-09-07 11:53] #11458 closed

[2016-09-07 11:55] DustinCampbell commented on #11593
Why close this issue? Is it being tracked elsewhere?

[2016-09-07 12:01] nfantone commented on #11593
@jrieken Sorry for not following you on this: have you closed the issue because if was fixed by https://github.com/Microsoft/vscode/commit/ce1f925f1614dc5273f1813a6506eadd09575ed4?

And also, what do you mean by not having "reproducible steps"? For starters, you have a complete project uploaded [here](https://github.com/OmniSharp/omnisharp-vscode/issues/660#issuecomment-244740708) from where you c

[2016-09-07 12:06] vigikaran opened #11629 "CTRL+C Copy function with empty selection should not override existing copied content in the memory. only if there is selection it should replace the content."
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1.
2.

[2016-09-07 12:08] whitecolor commented on #10865
I'm taking about typescript. On this picture:

![image](https://cloud.githubusercontent.com/assets/736697/18311419/95e2ddac-751d-11e6-81fa-e6cedd436dfc.png)

How can I know what is "AsyncDriver" for example?

[2016-09-07 12:12] DustinCampbell commented on #11593
@nfantone: based on the analysis in https://github.com/OmniSharp/omnisharp-vscode/issues/660, I was guessing that the bad edits were hitting some fail safe in the editor that caused it to start ignoring the command.

[2016-09-07 12:21] miparnisari commented on #9865
Why is this issue closed? I'm getting this error as well on Windows 10. My repro steps (roughly):

1. Open VS Code in a folder with a small project..
2. Open two files, switch rapidly between the two by double clicking them in the Explorer menu.
3. While switching, I got a progress bar on top for one of the files. The file itself looked empty.
4. After some time of "loading" I got this error.

[2016-09-07 12:28] nfantone commented on #11593
@DustinCampbell All right. But which one is it? An analysis or a guess? Is this still happening on `master`? I tried updating Insiders to check it out but there's no new release, yet.

[2016-09-07 12:30] DustinCampbell commented on #11593
It's a guess based on incomplete analysis. :smile:

Once there's a new insider's build, we'll know more.

[2016-09-07 13:03] nwgh commented on #11602
Excellent, I missed that one when trolling for new prefs. Thanks!

[2016-09-07 13:05] xaverh commented on #11609
How about an option to specify the order of evaluation for extensions:
`"extensions.order": ["firstExtension", "*", "secondtolastExtension", "lastExtension"]`
where
`["*"]`
would be the default value and would mean "all other extensions in undefined/default order".

[2016-09-07 13:06] #10799 closed

[2016-09-07 13:12] #7763 closed

[2016-09-07 13:16] EESaldana opened #11631 "Support for markup languages"
- VSCode Version: 1.4.0
- OS Version: Windows 10 1511

Steps to Reproduce:

1. When editing markup language, specifically HTML and XML, there is no single tool that lets me know I left a tag open.
2. There is no vertical line or link to travel from the closing tag to the opening tag, so it is almost imposible to see which closing tag closes which open tag if they are not in the same screen.

[2016-09-07 13:53] joaomoreno commented on #11489
Please let the extension developer know.

[2016-09-07 13:53] #11489 closed

[2016-09-07 13:56] #3351 closed

[2016-09-07 13:56] isidorn commented on #3351
Now the output will behave the same way the debug console does. If there is new output comming it will only auto scroll if the last line is revealed.

[2016-09-07 14:01] jrieken commented on #11609
Yeah - along those lines. The challenge is that there is zero knowledge about the extension id when it calls `registerXYZ` - that is all extensions get the same `registerXYZ`-method and your proposal would require knowledge about the extension id that is currently running. When requiring the `vscode` module we would have to patch the extension id into it such that we always know who is doing what.

[2016-09-07 14:04] michael-stevens opened #11632 "Incorrect syntax highlighting when comment end characters in quoted string"
- VSCode Version:

Version 1.4.0
Commit 6276dcb0ae497766056b4c09ea75be1d76a8b679
Date 2016-08-04T16:49:32.489Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0

- OS Version: Ubuntu 16.04

Steps to Reproduce:

1.  Create test.go with this content:

[code]
2.

Comment is incorrectly flagged as ending at "*/" when it should continue to end of file or actual end of comment.

[2016-09-07 14:05] lukaschal commented on #11344
Waiting for linguistic input on all languages.

[2016-09-07 14:05] #11632 closed

[2016-09-07 14:05] michael-stevens commented on #11632
withdrawn for wrongness

[2016-09-07 14:24] ivancuric opened #11633 "[scss] Syntax highlighting breaks on rules places after a nested selector"
- VSCode Version: 1.4
- OS Version: OSX

The syntax highlighting breaks on rules places after a nested selector of any type:

![image](https://cloud.githubusercontent.com/assets/2827047/18343362/5ea1b020-75b3-11e6-9ba2-efd2d6882a88.png)

[2016-09-07 14:28] mkyjakova opened #11634 "[loc][Query][VSCode] Please clarify the string"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
 Sort By: Install Count

File Name:
 src\vs\workbench\parts\extensions\electron-browser\extensionsViewlet.nls.resx

Resource ID:
 ".resx", 0; "sort by installs"

Query:

Please, explain "Install Count"	Cristina Carrasco	9/6/2016 7:04:52 AM

[2016-09-07 14:28] bpasero commented on #8754
Another idea that popped up after talking to @aeschli is to remove all knowledge of `task.json` and `launch.json` from the `IConfigurationService` and move it into a new service (that could well be the same service that also does the variables substitution).

Reasoning is that it would make the configuration service API easier with regards to writing (@jrieken fyi). Currently it is not clear how t

[2016-09-07 14:29] mkyjakova opened #11635 "[loc][Query][VSCode] Please clarify the meaning of the string"
Hi, we have a question from our translator. Can you help please? Thanks!

Source:
REPL Accept Input

File Name:
src\vs\workbench\parts\debug\electron-browser\repl.nls.resx

Resource ID:
".resx", 0; "actions.repl.acceptInput"

Query:
Please clarify meaning. 	CnE_Developer_Moravia_ITA1@hotmail.com	9/5/2016 1:23:12 PM

[2016-09-07 14:34] weinand commented on #8754
@bpasero Yes, `task.json` and `launch.json` are a different kind of beast than settings and I do not see a need to surface them under the `IConfigurationService`.

[2016-09-07 14:36] jrieken commented on #8754
Problem is that it would break the extension API which currently does the same `IConfigurationService` does - exposing everything with values as authored...

[2016-09-07 14:37] #11413 closed

[2016-09-07 14:39] aeschli commented on #11413
Now creating the MarkedString by escaping markdown characters instead of using the 'string' code block brings back the link detection.

[2016-09-07 14:49] FLWrd commented on #11044
Sorry for the delay, here it is:
    {
        // See https://go.microsoft.com/fwlink/?LinkId=733558
        // for the documentation about the tasks.json format
        "version": "0.1.0",
        "command": "tsc",
        "isShellCommand": true,
        "args": ["-p", "."],
        "showOutput": "silent",
        "problemMatcher": "$tsc"
    }

I think I copied it from your earlier message. Whic

[2016-09-07 14:52] dbaeumer opened #11636 "StatusBarItem.hide() is noop if color got changed as well."
- VSCode Version: 1.5
- OS Version:

[code]

The status bar item stays visible.

[2016-09-07 14:59] townivan commented on #4795
I think improving smartSelect is a great plan.  I agree with the suggestions for making smartSelect even more useful.  Might I suggest that #11458 is solving for a different problem?  I get the feeling that mixing it's requirements in with smartSelect could further bog down smartSelect.

In my mind, smartSelect is about being able to quickly select *something* nearby the cursor.  Whereas #11458 is

[2016-09-07 15:01] bpasero commented on #8754
Then maybe we should deprecate `getConfiguration()` and introduce new APIs to deal with configuration (global, workspace) and configuration in debug/tasks.

[2016-09-07 15:04] OneOfOne opened #11637 "allow themes to be applied to the side panel not just the editor"
I like the whole window to have the same L&F, it's kind of distracting when you have a theme (Material for example) where the editor is one color and the side panel is a different color.

[2016-09-07 15:09] jrieken commented on #8754
Even if we deprecate the function it must still behave the same (not semantic breakage). Given that and the fact one ever complained I an eager on adding more API for that. The write/inspect challenge is real but we should come up with a *compatible* solution

[2016-09-07 15:15] jrieken opened #11638 "Enable customers to profile the extension host"
From time to time we receive issues about the extension host going mad. When this happens we are blind and are basically asking folks to disable all or _some_ extensions to check if the problem still shows... Instead we should ship the `v8-profiler` module that allows to create cpu profiles and heap snapshots such that users have something real for us to look at

[2016-09-07 15:20] elirenato opened #11639 "Go to File menu problem - Always open a new file at the same tab"
Sometimes when you use Go->Go to File menu, instead of open the file that you searched in a new tab the VSCode always open the file in a tab that is already open.

Please see the attached image.

[VSCode-GoToFileBug.m4v.zip](https://github.com/Microsoft/vscode/files/459548/VSCode-GoToFileBug.m4v.zip)

- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)

[2016-09-07 15:26] bpasero commented on #8754
It would be relatively easy to support the old way of the API by merging the results of the configuration with the values from debug and task (from the new service).

I am also fine leaving the current API as it is but I am leaning towards changing the (internal workbench) API to take out debug/tasks from configuration land and move it to the new service which also takes care of variables substitu

[2016-09-07 15:29] bpasero commented on #11639
`"workbench.editor.enablePreview": false`

[2016-09-07 15:29] #11639 closed

[2016-09-07 15:37] elirenato commented on #11639
I will use this settings, thanks!

[2016-09-07 15:39] waderyan commented on #11526
This issue was moved to Microsoft/TypeScript#10752

[2016-09-07 15:40] waderyan commented on #11526
Reopening to track this on our end.

[2016-09-07 15:47] nfantone commented on #11593
@DustinCampbell @jrieken I'm happily reporting that after updating Insiders, formatting now works again on all my Unity projects! Cheers for that.

One minor thing: I had to remap my formatting binding on MacOSX from `Shift`+`Option`+`F` to something else, because that combination kept adding a non-printable character instead.

[2016-09-07 15:49] whitecolor commented on #11495
It should be something like helper that we see in in tsconfig, when all options is shown:

![image](https://cloud.githubusercontent.com/assets/736697/18318779/732e3a30-753c-11e6-8df6-64e0318d584d.png)

And helper for each option:
![image](https://cloud.githubusercontent.com/assets/736697/18318814/8b39306c-753c-11e6-8cb3-5b6d5800b38b.png)

[2016-09-07 15:53] nfantone commented on #11593
Now... if only there were a way of configuring format settings consistently across IDEs...

[2016-09-07 16:00] rob3c commented on #9448
@asadsahi unfortunately, it's not automated, so we have to manually type it in each time. Just open an integrated terminal, for example, and type this in: `cd .. && cd C%cd:~1%` (if you're not on a C drive, then change the uppercase C to the appropriate drive.) It's not perfect, but at least you can manually change the casing on  both terminals without too much hassle until it's fixed.

[2016-09-07 16:03] misterhtmlcss commented on #10715
Also [Run / Preview HTML files](https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7757253-run-preview-html-files) has 2 really good extensions; I've tried both and I didn't complain, so I wouldn't spend time there either.

[2016-09-07 16:04] waderyan commented on #10715
Cool. Thank you for the feedback.

[2016-09-07 16:04] sandy081 commented on #9908
I do not think supporting such a greedy expression in Search is a good idea. I also think it does not makes sense in Editor but leaving it as is since it is not harming.

 I am not able to reproduce this in Search and hence closing this. Please reopen this if there is a way to reproduce the weird state in search.

[2016-09-07 16:04] #9908 closed

[2016-09-07 16:19] #9062 closed

[2016-09-07 16:20] isidorn commented on #9062
We are now using a custom editor to render debug errors.
Open to feature requests on how to style these errors better since we are now in charge of rendering this.

![screen shot 2016-09-07 at 18 16 41](https://cloud.githubusercontent.com/assets/1926584/18319809/a1b36e62-7527-11e6-9cb3-0fe46cf80e28.png)

[2016-09-07 16:22] RobertoMalatesta commented on #5605
Having a Object Viewer / Structure Inspector / Class Hierarchy tree
_integrated into the  View Bar and Side Bar_
(components A,B in graph below)
[VSC UI](https://code.visualstudio.com/images/codebasics_hero.png)

would be a great improvement for user experience and code navigation.

I asked for it in #397 and then again in #6376 to no avail.

Last time I looked at the APIs there was no way to inte

[2016-09-07 16:22] taichirain commented on #11567
@dbaeumer Thank you, I will continue to focus on the update of this plugin

[2016-09-07 16:25] benlowry opened #11640 "`code .` crashes if opened directly or from lxterminal"
- VSCode Version: 1.40-1470329130_amd64.deb
- OS Version: Lubuntu / ubuntu trusty 14.04

Steps to Reproduce:
1. open vscode from gui

Or:
1. open `lxterminal`
2. type `code .`

[code]

It only seems to open from xterm / uxterm via `code .`

[2016-09-07 16:48] ramya-rao-a commented on #11586
Closing

[2016-09-07 16:48] #11586 closed

[2016-09-07 16:49] microshine opened #11641 "Rename symbol"
- VSCode Version: 1.4.0
- OS Version: Windows 10 x64

Source code
[code]

Trying to rename `item` symbol (F2) to `itemA`

Result
[code]

[2016-09-07 16:50] ramya-rao-a commented on #7874
@Tyriar Did you remove `fsevents` from npm-shrinwrap.json ?

[2016-09-07 17:02] ramya-rao-a commented on #11578
Closing as issue is solved

[2016-09-07 17:02] #11578 closed

[2016-09-07 17:09] dhruvajoshi8 commented on #11592
@bpasero The folder dialog opens successfully. The crash happens after I select a folder,

[2016-09-07 17:12] dhruvajoshi8 commented on #11592
@ugurozturk/All Below are the snapshots -

![image](https://cloud.githubusercontent.com/assets/22031266/18321575/2d5dc826-754c-11e6-968e-d3f25bdc6707.png)

![image](https://cloud.githubusercontent.com/assets/22031266/18321594/3abd4bb8-754c-11e6-8258-3d5c7e512a89.png)

![image](https://cloud.githubusercontent.com/assets/22031266/18321607/453e5d8e-754c-11e6-8a51-cda9d2a21862.png)

Thanks!

[2016-09-07 17:21] noedlm opened #11642 "Add an option to disable closing open files that are removed from the directory"
- VSCode Version: 1.4
- OS Version: Windows 10

The main scenario here is when the user switches git branches where the starting branch has a file that the branch being switched to does not. What I'm seeing is the file in question is removed from the open editor. I would like for that file to remain open, just unsaved. Similar to how Sublime handles it.

might be similar to issue #101

**steps to

[2016-09-07 17:29] ramya-rao-a commented on #11576
@Andy-Amoy Just to rule out if the locale is causing the problem, can you try running vscode in another locale and see if you are still seeing issues? `code --locale=en-us`
Adding @bpasero @aeschli @dbaeumer @alexandrudima for more insights

[2016-09-07 17:30] jastorgalj commented on #7998
Solution for me (Windows 10 - git from cygwin)
create dir - mkdir c:\cygdrive
open a cmd and goto  - cd c:\cygdrive
créate link to c:\ - mklink /j "c" c:\
and ready..

[2016-09-07 17:50] bpasero commented on #9062
@isidorn maybe at the minimum try to copy the styles from the binary editor 👍

[2016-09-07 17:50] bpasero commented on #11592
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-09-07 17:50] pcgeek86 opened #11643 "First execution of PowerShell script changes context into debugger"
**IMPORTANT**: I'm filing this more broadly on Visual Studio Code, at the request of @daviwil, after initially filing it on the PowerShell extension for VSCode.

### System Details

- Operating system name and version:
- VS Code version: 1.4.0
- PowerShell extension version: 0.7.2
- Output from `$PSVersionTable`:

[code]

### Issue Description

When you open VSCode and run a PowerShell script, for

[2016-09-07 17:53] ramya-rao-a commented on #11611
Closing this issue as resolved.

[2016-09-07 17:53] #11611 closed

[2016-09-07 17:55] saml opened #11644 "Open new tab for same file name under different directory"
When there are files named the same but under different directories, they are all opened in the same tab.
Not sure if this is intended feature or a bug.

- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Create the following tree:
[code]
2.  open `foo/a.js` and `bar/a.js`
    - Expected: two tabs are open one for `foo/a.js`, another for `bar/a.js`
    - Actual: `bar/a.js`

[2016-09-07 17:57] bpasero commented on #11576
@Andy-Amoy this is the vscode-icons extension. You will have to reinstall VS Code to work around the issue. vscode-icons is a dangerous extension which changes the installation bits. We do NOT recommend to use this extension (as for icons, we plan to support icons starting with our 1.5 release).

[2016-09-07 18:12] ramya-rao-a commented on #11612
@tracker1  #9097 talks about restoring non-tabs behavior. Other than that and the `LEFT | CENTER | RIGHT` sections, is there anything else specifically you are looking to restore?

[2016-09-07 18:16] bpasero commented on #11612
https://code.visualstudio.com/docs/editor/tabs#_working-without-tabs

[2016-09-07 18:16] #11612 closed

[2016-09-07 18:16] bpasero commented on #11644
`"workbench.editor.enablePreview": false`

[2016-09-07 18:16] #11644 closed

[2016-09-07 18:17] bpasero commented on #11642
If we do this I will get the exact opposite bug that users complain a tab is not closed when a file is deleted :)

[2016-09-07 18:18] ramya-rao-a commented on #11614
`1.5.0` will be releasing in a day or 2.

[2016-09-07 18:18] #11614 closed

[2016-09-07 18:21] wallverb opened #11645 "Debugging with new TS async/await"
- VSCode Version: Code - Insiders 1.5.0-insider (b2c874b253732778a246b94aa1eba93806c45361, 2016-09-07T11:56:57.966Z)
- OS Version: Darwin x64 15.6.0

Since we got an early xmass gift from TypeScript team today with ES5 async/await it would be great if VSCode could better handle it. Right now running the example and pressing F10 to step over `await` takes us to js file

Steps to Reproduce:

[code]

[2016-09-07 18:22] wallverb commented on #11645
Related: https://github.com/Microsoft/vscode/issues/9368

[2016-09-07 18:24] NickDMax commented on #11556
To get around this for now I have been just adding a custom style sheet. Borrowing the loadjscssfile function from [here](http://www.javascriptkit.com/javatutors/loadjavascriptcss.shtml) I just load a css file that I add custom css classes to. I run the function from the console. Very clunky but I think it demonstrates that this kind of feature should not be that difficult to implement.

[2016-09-07 18:27] ramya-rao-a commented on #11618
@ferarias Can you run git commands successfully on your external `git bash` or the `integrated terminal` in VS Code ? What version of git are you using?

[2016-09-07 18:37] ramya-rao-a commented on #11625
@ydcoming Are you asking how to add sub menu to your menu item in explorer/context menus?

[2016-09-07 18:38] joaomoreno opened #11646 "Remove comments when reverting previous commit message"
From #8933

[2016-09-07 18:38] aeschli commented on #11556
Again, you should really look into creating your own theme. Take a theme you like, copy it, change the name, link it to your extensions folder. Start VSCode, pick the new theme. Change some colors in the theme file, 'Reload window' and you see the new colors.  And if you got the perfect colors you can even publish it and share it with the community. I'm 100% sure that's easier than hacking scripts

[2016-09-07 18:38] ydcoming commented on #11625
yes

[2016-09-07 18:40] ydcoming commented on #11625
my menu  has items

[2016-09-07 18:41] joaomoreno commented on #11618
Why do you seem to be trying to initialise a repository in `C:/Program Files (x86)/Microsoft VS Code Insiders`?

[code]

[2016-09-07 18:45] wallverb opened #11647 "Debugger issue with sourceMaps if sourceMappingURL string present"
- VSCode Version: Code - Insiders 1.5.0-insider (b2c874b253732778a246b94aa1eba93806c45361, 2016-09-07T11:56:57.966Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Create some folder in your project (important)
2. Create TypeScript file
3. Paste this content:

[code]

Put breakpoint on second line
Start the debugger

You will get:

![image](https://cloud.githubusercontent.com/assets/1723

[2016-09-07 18:50] roblourens opened #11648 ""experimentalDecorators" and "types" properties can't coexist in tsconfig"
Reported in gitter, I repro in 1.5-insider.

Have a tsconfig.json with `"experimentalDecorators": true` and `"types": []`. If you use a decorator in TS, you get that error "... set the experimentalDecorators option to remove this warning..." but if you delete the "types" property, then it does not complain about the decorator, as expected.

[2016-09-07 18:51] svitalij opened #11649 "Make TextMate scopes available for extensions."
As far as I can see, currently VS Code flatten TextMate scopes and this is impossible to get all scopes from specified location. It would be cool to have TextDocument method like 'getScope(at: Position):string[]' which returns the syntax scope names assigned to the given position.

[code]
for Position(1,12) – into the ‘color’ token this method may return:
`['text.html.basic', 'source.css.embedded.

[2016-09-07 18:53] gmvs opened #11650 "I cannot execute powershell commands from vscode using F8"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Write powershell command like "get-date"
2. Press F8.

[2016-09-07 18:53] aeschli commented on #11388
duplicate of #3000

[2016-09-07 18:53] #11388 closed

[2016-09-07 18:54] aeschli commented on #11371
@sebfie What exactly do you mean by 'Quick search'? Which keyboard shortcut. Can you maybe add a screenshot?

[2016-09-07 18:57] aeschli commented on #11404
Right now folding is purely indentation based. What you are asking is language aware folding.
That's #3422

[2016-09-07 18:57] #11404 closed

[2016-09-07 18:57] aeschli commented on #11362
Closing due to lack of information.

[2016-09-07 18:57] #11362 closed

[2016-09-07 18:59] aeschli commented on #11301
I updated the icon theme documentation (now hosted on vscode-docs) with the recommendation to use woff fonts

[2016-09-07 18:59] #11301 closed

[2016-09-07 19:01] aeschli commented on #11299
duplicate of #11296

[2016-09-07 19:01] #11299 closed

[2016-09-07 19:03] sebfie commented on #11371
I mean cmd + p

Sébastien fieloux
0698458781
sebastien.fieloux@gmail.com
http://www.sebfie.com

[2016-09-07 19:15] aeschli commented on #11267
You have to check out the '"html.format.unformatted"' setting.
`label` and `input` are part of the 'unformatted' list That's why they are not put on separate lines.

BTW, we use the html formatter from https://github.com/beautify-web/js-beautify. Please file issues there if you find bugs in the formatter.

[2016-09-07 19:15] #11267 closed

[2016-09-07 19:19] aeschli commented on #11121
You can see the location of the closing tag in the overview ruler.
![image](https://cloud.githubusercontent.com/assets/6461412/18325258/bd1b0a02-7540-11e6-8ce8-820f6dde92e2.png)

That's HTML files.
Does that not work for you?

[2016-09-07 19:21] aeschli commented on #11107
This works now again in the August build (to be release in the coming days)

[2016-09-07 19:21] #11107 closed

[2016-09-07 19:22] noedlm commented on #11642
could you implement it as a setting that can be overridden at the user/workspace settings?

[2016-09-07 19:22] FructuosoRobles commented on #11121
Yes I can see that. But I have hundreds of divs and when I point one all of
the rest flash and I dont know where is the one I am looking for

El 7 sept. 2016 2:20 PM, "Martin Aeschlimann" <notifications@github.com>
escribió:

You can see the location of the closing tag in the overview ruler.
[image: image]
<https://cloud.githubusercontent.com/assets/6461412/18325258/bd1b0a02-7540-11e6-8ce8-820f6dd

[2016-09-07 19:27] aeschli commented on #11485
The bug is related to the css rules we use to show the before and after decorations. Unfortunatly not an easy fix.

@eamodio Just a comment on your use case. I wonder if you the before annotations are the right thing to use here. As you know, empty lines can not have such decorations and we also don't offer any mouse click listener of decorators (maybe you found a workaround?)

[2016-09-07 19:32] johanneskopf commented on #11593
@DustinCampbell @jrieken Same here - formatting is now working as expected on all my Unity projects on Windows 10.
Thanks for the fix and @
I am now enjoying VS Code more than ever before.

[2016-09-07 19:33] aeschli commented on #10804
@zozzz and @skolmer Thanks for the suggestions but hierarchy depended icons are currently not planned, sorry!

[2016-09-07 19:36] viertaxa opened #11651 "VS Code will go into "background" mode if the window looses focus while the cursor is within the popup terminal but will not resume focus in the editor once you switch back."
- VSCode Version: 1.4.0
- OS Version: Win 7 x64

Steps to Reproduce:

**Please see comment below for update**

1. Have file(s) open in the editor
2. Open the popup terminal (ctl+`)
3. VS Code looses focus (IE you look something up in a browser, etc)
4. Move back to VS Code.
5. Sections within the "editor" area are dimmed as if the window still did not have focus.
6. Menu bar works fine, but you ca

[2016-09-07 19:42] eamodio commented on #11485
@aeschli Thanks for the response. Yeah, I agree that the before annotations aren't *really* the right thing you use here, but since there isn't any control over the gutter -- I don't think I really have another option.

Other than this issue (and the much more minor issue with blank lines), it has worked out well enough for what I'm trying to do (granted if I had more control over it and events th

[2016-09-07 19:44] aeschli commented on #10804
Last changes:
- the Standard icon theme got renamed to 'Minimal'
- we also added a Visual Studio Code Seti theme to the built-in themes.

I'm closing this issue for now. The documentation has now moved to https://code.visualstudio.com/Docs (visible once the release is out) and will be maintained there.
Thanks for all the comments!

[2016-09-07 19:44] #10804 closed

[2016-09-07 19:45] aeschli commented on #10746
Closing as I can't reproduce...

[2016-09-07 19:45] #10746 closed

[2016-09-07 19:46] aeschli commented on #10080
Closing as works as designed. Alex feel free to reopen if you think Ctrl +D should use use the wordSeparators.

[2016-09-07 19:49] ramya-rao-a commented on #11625
@jrieken At the moment, extensions cannot add submenu items to explorer/editor context menus, correct?

[2016-09-07 20:00] Tyriar commented on #11354
I think the Sublime theme compatibility topic is largely closed which is fine, let's commit to these new properties and document them to increase visibility to theme authors. So there are still a few more actions that should be taken/discussed:

- Have UX look at the complexity of the highlight/selection colors (tracked in this issue)
- Document theme creation and custom properties https://github.

[2016-09-07 20:17] cwadrupldijjit opened #11652 "Feature Request: Snap Quick Access Debugger Controls to Different Sides/Add Workspace Option"
- VSCode Version: 1.4.0  <or>  1.5.0-insider
- OS Version: Windows 10 Home Insider Preview, build 14915.rs_prerelease.160826-1902

I work primarily in Node.JS world, and use the built-in debugger often.  In some of my projects, I've spun up a simple Node server to serve some assets while I work on the front-end, and then on occasion, after I've built out some functionality, I return to the server

[2016-09-07 20:22] cwadrupldijjit commented on #11652
I do also have other pictures that could be used as examples of where it could be.  Let me know if you're interested or if it's even viable.

[2016-09-07 20:40] Tyriar commented on #9448
You may be able to use a .bat file which launches cmd and then runs `cd .. && cd C%cd:~1%` to automate it.

[2016-09-07 20:41] nadako commented on #11607
Hmm, that's gonna be hard, since my particular case requires a lot of setup (ocaml, merlin, vscode-ocaml extension), but I could try writing a sample extension that surfaces the issue...

[2016-09-07 20:43] Tyriar commented on #11384
@jrieken while calling `hide` immediately works for `createTerminal`, it does not for `sendText` which also forces the display of the terminal. Changing the latter is a more high risk change, I'm going to make a note in `vscode.d.ts` indicating that it will be changed as the release notes defer to the docs.

To clarify, my original design for this was all extension interaction with vscode should b

[2016-09-07 20:50] ramya-rao-a commented on #11329
Re-opening this issue as clearly we will be working on this

[2016-09-07 20:56] LenzGr commented on #205
FWIW, I too would like to see Mercurial support in addition to git.

[2016-09-07 20:58] octref opened #11653 "Debugger viewlet not choosing the right target"
- VSCode Version: 1.5.0 Insider
- OS Version: OS X 10.11.6

Steps to Reproduce:

1. Clone Microsoft/vscode
2. Open the folder using VSCode Insider. Make sure chrome debugger extension is not installed.
3. Choose `Unit Test` in debug viewlet, and enable a breakpoint that will be hit.
4. When the breakpoint is hit, change the target to `Launch VSCode` (which has `type: chrome`).
5. Click Run icon. I

[2016-09-07 21:02] ramya-rao-a commented on #11139
@egamma

The newly defined language only gets emmet abbreviations if the scope name was `text.html.foo`. They do not work when `html` is moved around in the scopename. Which makes sense because `scopename` is supposed to have hierarchically defined languages from left to right

From: https://manual.macromates.com/en/language_grammars

[2016-09-07 21:03] ramya-rao-a commented on #11139
@egamma @mrmlnc Any thoughts on @aeschli's comment above?

[2016-09-07 21:17] octref opened #11654 "Keep pressing a key causes VSCode to hang up"
- VSCode Version: 1.5.0 Insider
- OS Version: OS X 10.11.6

Yesterday I found this bug: https://github.com/VSCodeVim/Vim/issues/729
If I keep pressing <kbd>j</kbd> (which is down in VSCodeVim), VSCodeVim hangs up. Originally I thought it's a VSCodeVim issue, but this morning I was able to repro that problem on a fresh install of Insider without VSCodeVim.

**When keeping pressing a certain key (a,

[2016-09-07 21:18] ramya-rao-a commented on #11574
I'd prefer we persisted user choice (notepad++, sublime and Visual Studio do persist user choice) rather than set configuration option explicitly. This way text search inside a file and across files would be consistent too.

[2016-09-07 21:18] ramya-rao-a commented on #10344
Find across files already persists the Find options (case sensitivity, whole word and regex). Find in a single file doesn't. Using configuration setting for default value for Find in File and keeping the existing persisting logic in Find across files will make experience inconsistent.

Can we not use the same persisting logic for Find in File instead of configuration setting?

[2016-09-07 21:20] octref commented on #11654
/cc @kieferrm @rebornix

[2016-09-07 21:24] viertaxa commented on #11651
Update:

I found the actual cause. I was switching between VS Code,Windows explorer, and Firefox while working on plugin development. After a build, I would open up my explorer window and drag and drop my extension file into TFS. VS Code was maximized, but explorer was not. When dragging from explorer to FF, the cursor briefly passes over the edge of the VS code window.  I was able to replicate th

[2016-09-07 21:26] rebornix commented on #11654
The reason we are running into this issue in Vim extension is we bind hooks to `type` event when this issue occurs, our handler for `type` event no longer gets called.

/cc @alexandrudima

[2016-09-07 21:42] mrmlnc commented on #11139
@ramya-rao-a, @aeschli, I think that it's not hacky solution. If the language inherits syntax of another language, the developer needs to specify it in `scopeName`. Now we have implemented the following mechanism:

  * If language is excluded by `emmet.excludedLanguages`, then Emmet does not work.
  * If language included in `['html', 'xhtml', 'css', 'xml', 'xsl', 'haml', 'jade', 'jsx', 'slim', 's

[2016-09-07 21:45] Tyriar opened #11655 "List installed extensions in issues created via Help > Report issues"
This would save some questioning after an issue is filed. Command line args may also be useful?

[2016-09-07 21:46] ramya-rao-a commented on #11620
@marvinhagemeister I am on the exact same insiders version in Mac OSX El-Captain and I cannot repro.

Can you provide a few more details?

- Which extensions do you have installed?
- Can you repro this when extensions are disabled? `code --disable-extensions` ?
- Can you open dev tools and inspect that blank area below the status bar and send us a screenshot of that element?

[2016-09-07 21:48] Tyriar commented on #11384
Set the PR to August, moving this to September for the real fix.

[2016-09-07 21:53] ramya-rao-a commented on #11619
@hieutranagi47 I tried the sample code from the link you have mentioned (https://facebook.github.io/react-native/docs/tutorial.html), and things look good to me.

![image](https://cloud.githubusercontent.com/assets/16890566/18329953/e09b0ad0-750a-11e6-931c-e4bc98cb982c.png)

Can you provide a screenshot of your code and the formatting problem?

[2016-09-07 21:59] asadsahi commented on #9448
Thanks @rob3c , @Tyriar Would you be able to help with an example bat file which we can run as part of lets say before build task in vscode?

[2016-09-07 22:04] Tyriar commented on #9448
You can try something similar to https://github.com/Microsoft/vscode/issues/7263#issuecomment-224207986 but make the bat file:

[code]

Then set `terminal.integrated.shell.windows` to your bat file's location.

[2016-09-07 22:05] Tyriar commented on #11184
Strange, ping me if you see it again.

[2016-09-07 22:07] Tyriar commented on #11542
@ArtemGovorov it looks like that issue was fixed 8 hours ago so it will work in output channels in v1.6 :+1:

[2016-09-07 22:08] Tyriar commented on #7874
@ramya-rao-a nope. If that is the fix, any idea why this happens on some Windows 10 machines and not others?

[2016-09-07 22:09] khaosdoctor commented on #11556
Yeah, it's cool but I think to create a theme just to change some colors is a bit too much... Maybe if we could just create colorizers and share them with the community... It'd be nice too :smiley:

[2016-09-07 22:39] ramya-rao-a commented on #11621
@satokaz Are you saying that changes made to the `http_proxy` settings do not take effect in the Extensions viewlet until `Reload Windows` is used ?

[2016-09-07 22:46] ramya-rao-a commented on #11623
@GuidC0DE Are you using the [C# extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.csharp) ?

[2016-09-07 22:49] #11623 closed

[2016-09-07 22:53] ArtemGovorov commented on #3351
@isidorn Awesome, thanks!

[2016-09-07 22:56] ramya-rao-a commented on #11634
It means "Number of times the extension has been installed"

[2016-09-07 22:56] #11634 closed

[2016-09-07 22:56] bgashler1 commented on #11601
# Notes

### Close button for horizontal panel
We didn't have everyone needed to to discuss the button specifically, so we'll address that next time.

On a related note, we did demo some designs on how to make it easy to toggle open and closed the horizontal panel as well as switch to different panels without needing to go to the View menu each time, which has been a friction point for many users.

[2016-09-07 22:56] #11601 closed

[2016-09-07 23:03] rob3c commented on #9448
@Tyriar is right, you can automate it with a batch file in settings.json:
[code]
If you use the same batch file for both, you'll need to type `exit` twice to exit the nested command line that was opened by the `%COMSPEC%` line when you're in the external console.

[2016-09-07 23:18] ramya-rao-a commented on #11626
@alexandrudima Both notepad++ and sublime support the "press End twice to reach logical end of the line". This would be a candidate for a feature request?

[2016-09-07 23:42] twlamb commented on #3351
Thanks!

[2016-09-07 23:48] alexkrolick opened #11657 "Diff: support "compaction heuristic""
Git 2.9.0 introduced a "compaction heuristic" option that uses blank lines as a "strong hint" in computing diff block boundaries. It would be nice to get use a similar heuristic in the VS Code diff viewer. (If it is using the git diff util behind-the-scenes, this would already work).

https://github.com/blog/2188-git-2-9-has-been-released#beautiful-diffs
- VSCode Version: 1.5.0
- OS Version: Mac O

[2016-09-07 23:59] ramya-rao-a commented on #11631
For your first issue, have you tried the [HTMLHint](https://marketplace.visualstudio.com/items?itemName=mkaufman.HTMLHint) extension?

For the second, clicking on a tag gives both the opening and the closing tags a highlight, so that should help.

[2016-09-07 23:59] #11631 closed

[2016-09-08 00:10] ramya-rao-a commented on #11629
When there is no explicit selection by the user, the inferred selection is the current line by design. Adding @alexandrudima for more insights.

[2016-09-08 00:17] DXkite opened #11658 "Exit Console With Error Code 1"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. Use Chinese Path In Dir
2. Open With VS Code
3. Open Console
4. Exit Console With Error Code 1

[2016-09-08 00:27] ArianeLu commented on #9612
@Tyriar One of my computer still have this error message, it just a message, terminal work fine.

[2016-09-08 00:32] wallverb commented on #10080
@alexandrudima Please reconsider fixing it, arguments for it:
1. Atom works that way
2. Sublime works that way
3. TextMate works that way
4. `.js` works that way
5. `JSON` is just subset of `JS` so seems natural that it should behave that way
6. Personal - I need to work with a lot of "translation" files that happen to be `.json` files and being used to select word in `json` objects that reside in

[2016-09-08 00:40] ramya-rao-a commented on #11653
Is it even a valid operation to change launch configurations in the middle of a debug session?

[2016-09-08 00:47] octref commented on #11653
@ramya-rao-a
If it's invalid I think the dropdown should be grayed out. The current behavior is unexpected.

Other than that, changing the target and relaunching also has the same problem.

Maybe you can add a UX tag.

[2016-09-08 00:53] Tyriar commented on #11345
@dbaeumer is this something I need to do on my side? I think I'm doing the same as output.contribution.ts which shows up fine in English.

[2016-09-08 00:56] Tyriar commented on #9612
Interesting, it's probably an upstream problem so let's keep this one closed.

[2016-09-08 01:06] NiggyWizzyWoz opened #11659 "Laggy scrolling behaviour while scrolling up and down using arrow keys"
- VSCode Version: 1.4
- OS Version: 10.11.6 El Capitan

Steps to Reproduce:

1. Use the up and down arrow keys to scroll. (or in may case download the vim extension and use j / k keys)
2. Scrolling by holding the j / k keys or up and down arrow keys results in choppy scrolling behaviour.
3. If you scroll using the touchpad however, It's silky smooth.

[2016-09-08 01:53] nijikokun opened #11660 "How to find out which node vscode is using"
I am trying to figure out which node to use to globally install extensions with but cannot figure it out for the life of me.

I am on the latest VSCode, OSX (el capitan), I use nvm and have around 7 node versions installed.

It would be great if you could specifically set a node version inside of vscode to be used that overrides the automagically found version...

[2016-09-08 02:00] ramya-rao-a commented on #7874
@Tyriar What are your errors around? The `onigurama` or `fsevents`?

[2016-09-08 02:06] ramya-rao-a commented on #11659
Can you add a screencast/gif/video?

[2016-09-08 02:07] ramya-rao-a commented on #11658
@rebornix Can you try and repro this?

[2016-09-08 02:11] fallenwood opened #11661 "When i edit an png outside vscode , it will not change if i refresh"
- VSCode Version: 1.4.0
- OS Version: Windows10 RS1

Steps to Reproduce:

1.  open a image(*.png) inside a workspace in vscode
2.  edit the file with any tool( i am sure i saved)
3.  close the image on the side bar but not vscode, reopen it, the image will not change even though i have changed it

I think this is because vscode automatically cached the static image, i wonder if it is a bug or a fe

[2016-09-08 02:17] satokaz commented on #11621
@ramya-rao-a

yes

yes

[2016-09-08 02:37] rentiansheng opened #11662 "file package name and directory inconsistencies， delete import"
- VSCode Version:1.4.0
- OS Version: OS X EI Capitan

Steps to Reproduce:

1.  create a new folder called test, create tow file called t1.go,t2.go
     t1.go file  content " package t1",  t2.go  file content "package t2"
2.  import test ,  use  package t1.var ,  save file vs code delete  import test.

[2016-09-08 02:48] NiggyWizzyWoz commented on #11659
Here are some screen capture videos:
VSCODE: https://vid.me/dnNn
MACVIM(for comparison): https://vid.me/Ip1z

This is a common problem with chromium-based apps. (same issue with the latest version of Atom as well.)

[2016-09-08 02:50] NickDMax commented on #11556
You know rolling your own Theme is not exactly easy. I good deal of trial and error - then once you get it working in debug you have to then deploy it. Then 10mins later you open some file type you thought would be covered and find yourself back again.

A Theme that works for one language generally does not in another. For example, most of the themes are pretty bad at XML and property files. So if

[2016-09-08 03:07] atian25 commented on #1833
+1

I have a similar feature request too:  how to custom sort order of sidebar files?

[2016-09-08 03:10] alessandrod opened #11663 "Support parsing recursive make build output messages from tasks.json"
- VSCode Version: master
- OS Version: any

I've been using vscode for a couple of days and I'm loving it. I'm a GStreamer (http://gstreamer.freedesktop.org) developer and I would like to be able to build gst with vscode.

GStreamer uses recursive make to build itself. The way it works is that you run make at the root of the project and then make descends in the nested directories and builds the f

[2016-09-08 03:13] pokerchina opened #11665 "crash on macos"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:
1. random
2. i'm not sure

Process:               Code Helper [3980]
Path:                  /Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper
Identifier:            Code Helper
Version:

[2016-09-08 03:13] ramya-rao-a commented on #11650
@gmvs Are you using the extension
https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell and expecting to run selected code by pressing F8?

[2016-09-08 03:15] alessandrod commented on #11663
Here's the tasks.json that I can use to parse the output https://gist.github.com/alessandrod/82f08750ee4c36860b3719765ad6140f

[2016-09-08 03:48] octref commented on #11654
Investigation so far, for people who want to repro the bug:

---

A clean install of Insider built against this commit https://github.com/Microsoft/vscode/commit/b2c874b253732778a246b94aa1eba93806c45361  which I was having this problem, wouldn't repro this bug.

(Download the Insider build [here](https://az764295.vo.msecnd.net/insider/b2c874b253732778a246b94aa1eba93806c45361/VSCode-darwin-insider.

[2016-09-08 04:24] ramya-rao-a commented on #11662
@rentiansheng Can you be more clear about what the issue here is?

What I could gather was that you

- are using Go language
- created 2 packages "t1" and "t2" in files "t1.go" and "t2.go" respectively under folder "test"
- you did `import "test"` in another go file and used a function/variable from the package "t1"

I don't follow the rest of your steps

[2016-09-08 04:46] hieutranagi47 commented on #11619
Thanks Ramya,
Please take a look at my attached files.
![ctrl_s_prompt](https://cloud.githubusercontent.com/assets/15606737/18337342/d94060c8-75b9-11e6-8468-3e3ea18784c7.png)
![ctrl_z_it_should_be](https://cloud.githubusercontent.com/assets/15606737/18337341/d940515a-75b9-11e6-9d07-e18e9c105ac9.png)

[2016-09-08 04:49] ramya-rao-a commented on #11576
@Andy-Amoy Can you confirm that reinstalling VS Code fixes the issue for you?

[2016-09-08 04:59] GuidC0DE commented on #11623
@ramya-rao-a yes, I'm using this extension. Thank you for clarification! I'm sorry for posting it here.

[2016-09-08 05:00] bpasero commented on #11371
@sebfie I assume you are using an extension for PHP to be able to find symbols? Is that true?

[2016-09-08 05:01] hieutranagi47 commented on #11619
You can try to add some new code, then you prompt Ctrl+S to save it.

[2016-09-08 05:01] bpasero commented on #11620
@marvinhagemeister also, how do you scroll to the bottom? And can you pin point which update caused this? Or is it 1.5.0 vs 1.4.0 causing it?

[2016-09-08 05:02] isidorn commented on #11652
Dup of #9093

[2016-09-08 05:02] #11652 closed

[2016-09-08 05:03] bpasero commented on #11651
This is https://github.com/Microsoft/vscode/issues/10970

[2016-09-08 05:03] #11651 closed

[2016-09-08 05:06] isidorn commented on #11643
What does change into the debugger context mean?
If you mean opens debug console then this is as designed as you can configure the `internalConsoleOptions` in your launch.json.
More details can be found here https://github.com/Microsoft/vscode/issues/4045

If that is not the case, please let me know and I will reopen this issue - thanks!

[2016-09-08 05:06] #11643 closed

[2016-09-08 05:09] bpasero commented on #11661
https://github.com/Microsoft/vscode/issues/7951

[2016-09-08 05:09] #11661 closed

[2016-09-08 06:14] aeschli commented on #11121
In the HTML editor, we only highlight the corresponding div. What's your editor mode?
![image](https://cloud.githubusercontent.com/assets/6461412/18338885/4943a09c-759c-11e6-9662-3570f711f327.png)

[2016-09-08 06:21] joaomoreno commented on #11657
Code doesn't use git for diffing behind the scenes.

cc @alexandrudima

[2016-09-08 06:21] FructuosoRobles commented on #11121
Ejs

El 8 sept. 2016 1:15 AM, "Martin Aeschlimann" <notifications@github.com>
escribió:

[2016-09-08 06:22] aeschli commented on #11637
duplicate of #3112

[2016-09-08 06:22] #11637 closed

[2016-09-08 06:23] joaomoreno commented on #11621
Yes this has changed, but it is working as designed. A proxy change involves a restart.

[2016-09-08 06:23] #11621 closed

[2016-09-08 06:25] aeschli commented on #11121
Oh, so that's probably provided by an extension. You have to file the issue there.

[2016-09-08 06:26] FructuosoRobles commented on #11121
thank you

2016-09-08 1:25 GMT-05:00 Martin Aeschlimann <notifications@github.com>:

[2016-09-08 06:35] octref commented on #11601
Just to add some **very personal** opinions.

For the horizontal panel, I like design 2 better, and I'd like to raise some concerns about adding things to status bar in design 3. Currently, nothing in the status bar is useful to me and I wish I could disable it to get it out of my way when I'm focused on coding.

- Line/Col - I don't care.
- Tab Size - I know what I'm using, and I don't need it.
-

[2016-09-08 06:41] Sloff commented on #11618
Downgrading from git 2.10 to 2.9.3 resolved the issue for me

[2016-09-08 06:49] egamma commented on #11660
VS Code doesn't ship its own version of Node, but leverages the node version that comes with electron.

This version is shown in the about dialog:
![image](https://cloud.githubusercontent.com/assets/172399/18339654/15a39ecc-75a1-11e6-8ffa-c0001627b989.png)

[2016-09-08 06:49] #11660 closed

[2016-09-08 06:57] bpasero commented on #11601
@octref did you ever try View > Toggle Status Bar?

[2016-09-08 06:58] onybo opened #11667 "Unable to install extensions behind firewall, no error message in UI"
- VSCode Version: 1.4.0
- OS Version: Windows 7

Steps to Reproduce:
1. Ctrl-Shift-X to open Extensions
2. Select "Show recommended extensions" or "Show Popular Extensions"

For a time it will show a blue indicator going from left to right, over and over for some time. Then nothing.
No error message. No nothing

Expected result:
When selecting "Show Popular Extensions" a list of one or more extens

[2016-09-08 06:59] alexandrudima commented on #11654
@octref What keyboard layout do you have configured?

[2016-09-08 06:59] octref commented on #11601
@bpasero
I must tried VSCode before it's added...Oh my god. Thank you.

[2016-09-08 07:00] octref commented on #11654
@alexandrudima
US standard.

[2016-09-08 07:03] pocesar opened #11668 "SCSS file keeps freezing the editor"
- VSCode Version: 1.5.0-insider (nightly)
- OS Version: Window 10 64bits

Steps to Reproduce:
1. Open a .scss file
2. Try editing it, it'll eventually freeze randomly, happened a couple of times when editing the code:

[code]

I cannot reproduce all the times, it happens really randomly.

[2016-09-08 07:04] aeschli opened #11669 "Tag icon-themes with tag icon-theme"
We want to be able to differentiate in our queries between icon-themes and color-themes only. Themes can be both, so they should be tagged with both.

- 'Find in Marketplace...' action in icon-themes selection dialog will only show icon themes
- vsce will create the tag automatically (https://github.com/Microsoft/vscode-vsce/issues/121)

[2016-09-08 07:06] Noob7 opened #11670 "Search Stops working"
- VSCode Version: 1.4.0
- OS Version: Windows 7 Ultimate 64 bit

Steps to Reproduce:

1. press CTRL+F to find something. It will be searched
2. repeat step one and the search stops working. Similarly find all references does not work either. If we close the working file and reopen it, both search and find all references start working again

[2016-09-08 07:08] aeschli commented on #11633
Coloring of `font-size: 14px;` seems to look right.

Are the following rules ('will-change...) inside a selector?
Maybe best if you copy the full example...

[2016-09-08 07:10] jrieken commented on #11593
Thanks

[2016-09-08 07:11] jrieken commented on #11649
closing as duplicate of #580

[2016-09-08 07:11] #11649 closed

[2016-09-08 07:12] jrieken commented on #11625
closing as dupe of #9827

[2016-09-08 07:12] #11625 closed

[2016-09-08 07:15] alexandrudima commented on #11654
@octref You mention VSCode "hangs up". Is it that it crashes, does not take any mouse input, was it possible to click on a viewlet like the search viewlet at the time and type in its native `<input>`. VSCodeVim probably doesn't get the `type` command because we're not generating it.

It is possible that Chromium is stuck in some form of input composition. It is my understanding that usually long p

[2016-09-08 07:17] bpasero opened #11671 "Allow to switch windows via picker"
From https://github.com/Microsoft/vscode/pull/11630

[2016-09-08 07:17] #11671 closed

[2016-09-08 07:20] alexandrudima commented on #11654
From looking at the code in this area - https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/controller/textAreaHandler.ts#L109

This can happen if `this.textareaIsShownAtCursor` is true when receiving the `input` event. That variable is true when Chromium sends our way a `compositionstart` and we set it to false when we receive a `compositionend`. Per w3c spec https://www.w3.org/T

[2016-09-08 07:22] octref commented on #11654
@alexandrudima

It didn't crash. No error in devtools window. I was able to click around, including viewlet icons and also editors (setting the location of the cursors). Didn't try inputting text in search viewlet.
If you set the setting, `e` doesn't show any more for me. Let me do a quick gif for you.

[2016-09-08 07:24] joaomoreno commented on #11618
I'll give 2.10 a try.

[2016-09-08 07:27] alexandrudima commented on #11654
@octref Given my hunch regarding `compositionstart` and `compositionend`, do you have installed any other keyboard layouts on your mac -- is it possible that you were not in US standard when this happened?

[2016-09-08 07:27] octref commented on #11654
![hang](https://cloud.githubusercontent.com/assets/4033249/18340659/fbe8c4ee-755a-11e6-9e04-a03a29d24efd.gif)

[2016-09-08 07:28] octref commented on #11654
@alexandrudima
It has been US since I setup this work computer last week.

![image](https://cloud.githubusercontent.com/assets/4033249/18340692/36343804-755b-11e6-8aaa-c860bd01241a.png)

[2016-09-08 07:31] alexandrudima commented on #11654
Thank you @octref I was able to get the key to behave at @jrieken 's mac. So we could switch between e popping up the variants and the e repeating the key e. But we cannot reproduce the "no input" you have experienced.

[2016-09-08 07:36] octref commented on #11654
This comment https://github.com/VSCodeVim/Vim/issues/729#issuecomment-245300801 and my experience suggest it's not extension's fault. Can you try this build https://az764295.vo.msecnd.net/insider/b2c874b253732778a246b94aa1eba93806c45361/VSCode-darwin-insider.zip with both the key written & deleted?

[2016-09-08 07:37] roblourens opened #11672 "Variables tree out of order"
![image](https://cloud.githubusercontent.com/assets/323878/18340911/d4dbaacc-75a7-11e6-85e8-7d2487019da7.png)
The first 3 variables should be under 'Local', and `_this` should be under 'Closure'.

[2016-09-08 07:38] octref commented on #11654
@alexandrudima
I also requested more info from the other user experiencing the same problem, but he hasn't got back to me.

[2016-09-08 07:39] dbaeumer commented on #11345
@bpasero can you comment on this. My understanding is that @Tyriar needs to do something to make this work.

[2016-09-08 07:41] dbaeumer commented on #11613
@jyotendra can you share some code demonstrating the problematic behavior. Makes it a lot easier to find out what is not working.

[2016-09-08 07:41] joaomoreno opened #11673 "Set user agent for Marketplace icon downloading"
See [`session.setUserAgent`](https://github.com/electron/electron/blob/master/docs/api/session.md#sessetuseragentuseragent-acceptlanguages)

[2016-09-08 07:43] sebfie commented on #11371
No I don't, in fact I just want that "underscore" can be ignored from search.
Searching `Mage_Catalog_Model_Product_Api_V2 ` should be equal to `MageCatalogModelProductApiV2 ` which works!

![capture_d ecran_2016-09-08_a_09_42_23](https://cloud.githubusercontent.com/assets/862129/18341098/a99b87b4-75a8-11e6-98fe-1addbe82c858.png)

[2016-09-08 07:43] Meeeeow opened #11674 "Wrong highlight with minified javascript code in HTML(PHP)"
- VSCode Version: 1.4.0
- OS Version: Windows 10 Update 1607

Steps to Reproduce:

Origin code is too large, so ,
1.  Paste all code in this link to VS Code, change file type to PHP  >>> http://pastebin.com/EeteWHqU
2.  Scroll down to see wrong syntax highlight.

![sp160908_152234](https://cloud.githubusercontent.com/assets/19658647/18341028/9eed53f6-75da-11e6-991b-2fe87ae3d1e9.png)
![sp160908_154

[2016-09-08 07:44] roblourens commented on #11672
Just randomly saw this once when debugging, I don't think I did anything out of the ordinary.

[2016-09-08 07:45] octref commented on #11654
Could that have anything todo with me using Ctrl-c for exiting insert mode in Vim? (Some people use ESC). Let me do some tests...

[2016-09-08 07:52] joaomoreno opened #11675 "Details Marketplace request has no userAgent"

[2016-09-08 07:52] dbaeumer commented on #8754
Even if we move out the tasks.json and launch.json to a separate service I opt for not mixing reading and writing these settings with variable substation. It simply complicates things since you need methods to read the raw value and the substituted value. The following code MUST result in a null op `config.set('key', config.get('key'));

And I do have requests were extension writers want to contri

[2016-09-08 07:53] alexandrudima commented on #11654
@octref I have the theory that Chromium gives unbalanced `compositionstart` and `compositionend`, but before I begin to consider any workarounds around their bug, I need to have a reproducible state on a machine where we can begin to reason about when this bugs occurs within Chromium and be able to reason when we apply a workaround and what the workaround should be. As this impacts all IME buildin

[2016-09-08 07:55] dbaeumer commented on #11580
Agree on this. I think we need to distinguish between syntax classification which happens in the render and semantic classification which happens in the language server. Syntax classification should be simple.

[2016-09-08 07:58] ornithocoder commented on #11050
That's awesome! Thank you @jrieken!

[2016-09-08 07:59] octref commented on #11654
@alexandrudima I agree. I'll keep looking for repros.

@jayteesanchez Hello! If you are still able to reproduce the issue you were experiencing, do you mind chiming in and give us some valuable feedback?

[2016-09-08 08:02] bpasero commented on #11345
I fixed this already. https://github.com/Microsoft/vscode/commit/e63da2416b97dafa04906812e22c97a0ce788a02

[2016-09-08 08:02] #11345 closed

[2016-09-08 08:02] bpasero commented on #11371
@sebfie that is a PHP symbol and not a file right?

[2016-09-08 08:04] sebfie commented on #11371
@bpasero That's a file, look on left column.

[2016-09-08 08:06] joaomoreno opened #11676 "Missing telemetry: downloadVSIX timer event"

[2016-09-08 08:11] Joemurai opened #11677 "Git status bar takes a long time to show new branch is checked out"
- VSCode Version: 1.4.0
- OS Version: Windows 10

Steps to Reproduce:

1. checkout a new git branch using windows command console with vs code open 'git checkout -b newbranch'
2. VS Code git status bar (bottom left) takes around 1.40 secs to show that new branch is checked out

[2016-09-08 08:13] aeschli commented on #11669
Also pushed to release/1.5.
@dbaeumer Ready to build!

[2016-09-08 08:13] #11669 closed

[2016-09-08 08:16] Noob7 commented on #11670
![image](https://cloud.githubusercontent.com/assets/10553468/18342074/a267b72a-75ca-11e6-82c9-5f5141750a8b.png)

[2016-09-08 08:18] bpasero commented on #11371
@sebfie thanks for clarification, to rephrase: You want to open the class name of a PHP file (V2.php).

@aeschli @jrieken please triage accordingly, this is about opening a symbol from a PHP file, ignoring underscores.

[2016-09-08 08:25] sebfie commented on #11371
Right, in fact in zend framework, class name correspond to file PATH, so I want to put class name on this search and it will be able to find the corresponding file.

[2016-09-08 08:27] jyotendra commented on #11613
@dbaeumer : thanks for taking notice of this.

Apart from the tasks.json file, I think the gulpfile.js is the only relevant one. So here it is:

[code]

I shall also share the package.json code :

`{
  "name": "htmltemp",
  "version": "1.0.0",
  "description": "This is my initial project",
  "main": "index.js",
  "dependencies": {
    "babel-preset-react": "^6.11.1",
    "express": "^4.14.0",

[2016-09-08 08:31] joaomoreno opened #11678 "Fix timed telemetry events"
[They are simply not working at all](https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/timer.ts#L12).

Broke #11676

[2016-09-08 08:32] fronteed opened #11679 "Emmet extensions_path option"
- VSCode Version: 1.4.0 (2016-08-04T16:39:36.387Z)
- OS Version: OS X El Capitan 10.11.3

There's an `extensions_path` option for Emmet in Sublime and Atom, which allows you to have an external source for `preferences.json` and `snippets.json`.

https://github.com/emmetio/emmet-atom#extensions-support

It's not available in the latest version of editor.
Can this option be ported into Visual Studio

[2016-09-08 08:38] #11676 closed

[2016-09-08 08:38] manad777 opened #11680 "Configuring launch.json to launch app with piped output?"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04

I'm working on a node project which uses bunyan for logging .This is one of the most popular node loggers. It outputs logs in a JSON format, which is good for parsers, not so good for humans working interacively. If running interactively, you would use the bunyan (usually global) package/binary to pipe to and transform the JSON into more human-fr

[2016-09-08 08:42] octref commented on #11654
@alexandrudima
Might be related:
https://github.com/VSCodeVim/Vim/blob/9efc43a5e9213ecb61b2d6ff0091f200cffa6309/extension.ts#L173-L201

[2016-09-08 08:47] CherryDT opened #11681 "Allow remoteRoot also for node "Launch" action (for custom launchers)"
- VSCode Version: 1.4.0
- OS Version: Windows 10 x64 Anniversary

I have a feature request. I'm currently trying to get VSCode to debug node running in WSL, but I'd like to be able to use the "Launch" action also to launch node in WSL with the given settings.

I created a custom "wsl_node.exe" file (and set it as "runtimeExecutable") which launches bash with -c, calling a script, and passing a fil

[2016-09-08 08:47] thorn0 commented on #11580
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Writing a parser for Scheme: an hour of satisfying coding<br>Writing a parser for JS/ES2015: years of confusion, probably still not right</p>&mdash; Marijn Haverbeke (@marijnjh) <a href="https://twitter.com/marijnjh/status/773427922262687745">September 7, 2016</a></blockquote>

As the syntax of JS and TS isn't simple, its clas

[2016-09-08 08:53] jrieken commented on #11371
You are looking for php symbol search which we didn't implement

[2016-09-08 08:57] ivancuric commented on #11633
Wrong reproduction steps. The syntax highlighting breaks on rules places after a nested selector of any type:
![image](https://cloud.githubusercontent.com/assets/2827047/18343275/00868dda-75b3-11e6-907b-460b075b942e.png)

[2016-09-08 09:00] isidorn commented on #11672
@roblourens in the screenshot si the variables view scrolled all the way to the top? If yes then it is a rendering tree issue on the UX side. If not then this is data coming from the node adapter and it is most probably an issue with our node debugger