[2018-03-25 18:11] Jonathandelacruzp opened #46502 "code abre el navegador al iniciar"
Issue Type: <b>Bug</b>

code abre el navegador al iniciar con la pagina de descarga de visual code , es molesto cuando abro el visual y el browser se pone en brente incluso cuando abro nueva ventana.

arreglen o den la cofiguracion para detener este incidente.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

<

[2018-03-25 18:11] kumarharsh commented on #46490
It seems like the `<Button>` element doesn't have a way to access the Builder object. From what I've seen in the code, the Builder is a much more powerful and easy-to-use wrapper over the HTMLElement. It might be quite useful in this case to expose the underlying Builder object from the Button (Button.$el). Just a thought...

I've made the PR.

[2018-03-25 18:15] garyking commented on #46138
@bpasero Not exactly. When I open something with that menu, it replaces my current window, when I don't want to do that.

[2018-03-25 18:26] EmmanuelBeziat commented on #12893
Yes it is ! :)

[2018-03-25 18:27] #12893 closed

[2018-03-25 18:41] Wosi commented on #36630
I was facing the same issues in November 2017 with the Fall Creators Update. I was able to delay this update until today. Now I'm unable to work with VSCode since all my compile and test scripts don't work anymore. I probably have to look for a different editor while this issue is open ;-(

I really beg you to fix this issue as soon as possible! I really don't want to abandon my beloved VSCode.

M

[2018-03-25 18:43] Ads20000 commented on #5458
Looks like they haven't released the 1.21.1 snap to `stable` yet, try `snap refresh vscode --edge --classic`, be warned that it may not work and you'll want to use `snap refresh vscode --stable classic` when it's in stable, otherwise you may be released to a development version of Code without you realizing!

[2018-03-25 18:52] garyking opened #46504 "Option to not wrap search back to start of file"
Please add an option to not wrap the search back to the start of the file.

So if I hit "Find Next" multiple times and I reach the end of the document, then I hit it once more, I don't want to return to the first search result at the top of the file. I want it to stop moving forward instead.

Or at the very least, show a "refresh" icon when the search goes back to the top. I forget where I see thi

[2018-03-25 19:10] Aarbel opened #46505 "Feature Request : SHOW / HIDE comments in editor"
Hi VsCode teams !

# Why developers need it
- Adding comments and documentation in a codebase is very important for maintenance.
- But often it could make it harder to read

**Conclusion:** toggling comments visibility could be a very nice productivity feature directly inside VSCode !

# Question
If i missed the feature in VSCode, how could i show / hide comments in my code ?
I saw [this extension

[2018-03-25 19:55] stanf0rd commented on #37965
The same issue on Ubuntu 18.04-beta, not reproduced with ```--disable-gpu```

[2018-03-25 20:02] Gama11 commented on #43879
We've had a "Collapse All" button in the Dependency Explorer of the Haxe extension of a while, and are also experiencing this issue. It broke with the 1.19.0 release.

Removing / adding a single whitespace from each root node's label works as a (pretty ugly) workaround for now.

[2018-03-25 21:06] MaasOne commented on #6328
Would be great to have file nesting in VS Code too.
Recently I changed from VS 2017 to VS Code for Angular/frontend programming for my ASP.NET Core app, because of better Angular support/integration. It works much better, but I'm missing file nesting really hard. :-(

Please add file nesting feature to VS Code or give others the possibility to develop an extension!

[https://blogs.msdn.microsoft.c

[2018-03-25 21:15] SheepDomination opened #46507 "Allow to dock tabs to the side and get back to it later"
When splitting tabs, is it possible in a coming release to dock a split tab whether the tab is split in a left or right pane and retrieve when needed ?

[2018-03-25 21:17] SheepDomination opened #46508 "Saving File to different locations at once ?"
Is it possible to create a task which can save a file in two different folder when saving a file ?

[2018-03-25 21:45] roblourens commented on #45841
I think it looks fine now

![image](https://user-images.githubusercontent.com/323878/37880321-349b7614-303b-11e8-81a1-a1537ec093a0.png)

[2018-03-25 21:45] #45841 closed

[2018-03-25 21:46] clperez opened #46509 "Disable breakpoint command"
I don't think its possible to disable just one breakpoint using key bindings.
I would like to see it implemented.

[2018-03-25 21:48] #45017 closed

[2018-03-25 21:49] #45230 closed

[2018-03-25 21:49] roblourens commented on #46492
Have you opened a workspace with 4 folders added, including foo? If so, it's the same as #32444.

Or, did you open a single folder with 4 subfolders? In that case, that should work.

[2018-03-25 21:59] roblourens commented on #46494
It should not ignore all files. It should be skipping files covered by the files.exclude/search.exclude settings, or a .gitignore file. Are either of those present?

[2018-03-25 22:24] kkapsner commented on #2075
I also missed this feature and therefore created an extension that just provides the two missing actions ( copySelectionForwardAction and copySelectionBackwardAction): https://marketplace.visualstudio.com/items?itemName=kkapsner.duplicateselection

@vscode-dev-team: please look at the code and if it's good enough include it in the core. If it's not good enough: tell me what's wrong with it.

[2018-03-25 22:35] roblourens commented on #44836
This is actually fixed in 14554

[2018-03-25 22:35] #44836 closed

[2018-03-25 22:40] austincummings opened #46510 "Consider maintaining own Razor syntax files as opposed to file from demyte/language-cshtml"
Razor colorization support in VS Code is very poor, so I've rewritten the `cshtml.tmLanguage.json` file from scratch to fix many of the issues around syntax colorization. Now I'm not sure how to get the changes into VS Code proper for others to benefit from.

The syntax file for Razor is updated from [demyte/language-cshtml](https://github.com/demyte/language-cshtml). However it seems that repo is

[2018-03-25 22:52] roblourens commented on #44493
Fixed in https://github.com/Microsoft/vscode/commit/b497448a8d96c165de785ac3a20058ac411ec090

[2018-03-25 22:52] #44493 closed

[2018-03-25 23:00] roamn opened #46511 "Emmet bem filter problem when child uses multiple classes"
- VSCode Version: 1.21.1
- OS Version: Windows 10/64

Steps to Reproduce:

Abbreviation to expand included modificator name
`.l-layout>.-container.container>.-row.row>.-col_some_modif_name.col-xs-12`

**Result in VSC**

![2018-03-26_01-49-43](https://user-images.githubusercontent.com/5599071/37880930-bcb1cdca-3098-11e8-980d-a8571e62613e.png)

Expected result

**Result in Sublime Text**

![2018-03-

[2018-03-25 23:17] #45141 closed

[2018-03-25 23:44] jonbgallant commented on #36630
I think it has something to do with print function - I was able to get around it by wrapping my print calls in a try block and then using print() in the except black, like this:

// Using python click

[code]

I've also had luck putting the futures print at the top of my python script:

`from __future__ import print_function`

[2018-03-26 00:30] dakaraphi commented on #4490
I've just posted an early preview of my work on macros.  Please comment in the linked issue if you find it of interest.
https://github.com/dakaraphi/vscode-extension-transformer/issues/13

[2018-03-26 00:37] garyking opened #46512 "Keyboard shortcut to jump between groups, when grouping symbols in file"
In the Command Palette, type `@:` to group the symbols in the current file together.

To jump between groups, there should be a keyboard shortcut like `Option+Down Arrow` to go to the next symbol group.

I usually want to go to the Functions section, and Constants is always at the top for me.

[2018-03-26 01:45] garyking opened #46513 "Every new window I open shows an extension's install page"
There's a bug, where after I install a VS Code extension, then I open a new window in VSC with File > New Window, I'll see an extension's install page.

To reproduce: I open the page of an extension in the VS Code Marketplace in Chrome (it was [ES Lint at the time](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint)), I click Install, it opens up the page in VSC. I click In

[2018-03-26 02:32] RMacfarlane commented on #46335
@waldyrious Ah, thanks for the additional info! I don't think my changes will fix that scenario. The reporter collects some metadata information about what types of files are in your workspace for reporting performance issues, so my suspicion is that that process is taking longer for remote files and unintentionally blocking rendering. I'll reopen this.

[2018-03-26 02:37] Sunday96 opened #46514 "The console background color is blue"
Issue Type: <b>Bug</b>

I open the console and run npm run dev, the console background color will change, I do not want any change in the background color

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.15063

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4790 CPU @ 3.60

[2018-03-26 02:55] SmileXia123456 opened #46515 "界面又卡住了"
Issue Type: <b>Bug</b>

界面再次卡住了，这已经是第5次了，我不知道是不是因为插件的原因。

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6200U CPU @ 2.30GHz (4 x 2400)|
|Memory (System)|7.91GB (3.69GB free)|
|Process Argv|D:\SoftWare\Develop Tools\Mi

[2018-03-26 03:02] qinyao7777 commented on #45496
i do not know how to handle it. reinstall is no use. later i used sublime3 . now i use a new PC. it can work.

At 2018-03-25 11:44:23, "Anysomeday" <notifications@github.com> wrote:

I met the same issue when I run the python code , how did you solve this problem? Thank you.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-26 03:14] RMacfarlane commented on #46490
@bpasero no, the issue reporter isn't using the `Button` widget either

[2018-03-26 03:14] eamodio commented on #11173
Can this be fixed now that `workspaceContains` support glob patterns?

[2018-03-26 03:24] TXH1997 commented on #13612
It seems that the issue has something to do with windows version.  if run VS code in the compatible mode of windows 7,  scroll lag disappears.

[2018-03-26 03:29] eamodio commented on #23585
I was about to open a new issue, but I think what I am seeing might be the same thing that I was seeing above but with easier to reproduce steps. I see this behavior in vscode 1.21.1 and the latest insiders

1. Make sure `"search.quickOpen.includeSymbols": true` is set
1. Open the GitLens source code ([eamodio/vscode-gitlens](https://github.com/eamodio/vscode-gitlens))
1. Make sure there is 1 TS f

[2018-03-26 03:30] eamodio commented on #23585
@mjbvz let me know if you think I should open a separate issue instead. Thanks!

[2018-03-26 03:35] Sneezry commented on #46515
可以试着禁用扩展，看看问题是否依然存在。

You may try to disable all extensions to see if issue remains.

[2018-03-26 03:37] Yalhu commented on #46315
I want to include `search/user.js` and exclude `db/user.js` . Does it work when I set `todohighlight.exclude:["**/db/user.js"]` or `todohighlight.exclude:["./db/user.js"]`?

[2018-03-26 03:54] #46011 closed

[2018-03-26 04:35] bpasero commented on #46138
@garyking you can hold `Ctrl/Cmd`-key to force open into a new window.

[2018-03-26 04:35] bpasero commented on #46507
@SheepDomination how would that work?

[2018-03-26 04:36] #46508 closed

[2018-03-26 04:36] fygascod commented on #585
Any updates?

[2018-03-26 04:40] z2x opened #46517 "Adding files to project do not cause workbench to refresh"
Issue Type: <b>Bug</b>

手动往项目文件夹中添加文件，vs code工作区不能实时刷新

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 17.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz (4 x 2700)|
|Load (avg)|3, 3, 3|
|Memory (System)|8.00GB (0.06GB free)|
|Process Argv|/Applications/Vis

[2018-03-26 04:50] ramya-rao-a commented on #46511
Thanks for reporting @roamn
I have logged an upstream issue for the same. https://github.com/emmetio/html-transform/issues/12

[2018-03-26 05:02] ppyupp commented on #45538
I have this problem too,  since version 1.21.0 (on Mac High Sierra)

[2018-03-26 05:02] cs-akash commented on #46494
my setting config for search is
"search.exclude": {
    `"**/node_modules":` true,
    `"**/bower_components":` true
  },
but it still search in bower_components
<img width="520" alt="screen shot 2018-03-26 at 10 26 28" src="https://user-images.githubusercontent.com/36440805/37887689-cf72b9f4-30e0-11e8-9b96-1c690711373d.png">

[2018-03-26 05:29] kenny-y commented on #46002
Not sure this is gonna help or not: AFAIK, `console.log()` won't be able to write too much data in a short amount of time, and it's async (on pipes). Use `process.stdout.write()` and when it returns `false`, you'll have to wait on `drain` event before you can write more data.

[2018-03-26 05:41] FilipLaurentiu commented on #45657
Still broke Debugger for Chrome version 4.2.2, Vs Code 1.21.1

[2018-03-26 05:43] bpasero opened #46519 "Search: badges are no longer aligned"
Seeing this today:

![image](https://user-images.githubusercontent.com/900690/37888762-537cfe84-30c9-11e8-99ea-800a7ff0cea2.png)

[2018-03-26 05:45] bpasero commented on #46490
@RMacfarlane moving the reminder to you then

[2018-03-26 06:11] roblourens commented on #46494
In that screenshot the toggle button is toggled off, so it ignores the search.exclude setting. It only uses that setting when the button is toggled on.

[2018-03-26 06:12] roblourens commented on #45657
Please open a new issue in https://github.com/microsoft/vscode-chrome-debug/issues with details

[2018-03-26 06:14] roblourens commented on #46519
This was by design. Looks much better in a very wide search view. But maybe they should remain right-justified in a narrower search view?

[2018-03-26 06:19] jws2003 opened #46520 "EMMET功能很难用"
Issue Type: <b>Feature Request</b>

EMMET功能很难用啊，如果纯输入是没问题的（比如div.box），如果复制粘贴的样式名(div.粘贴文字)，使用快捷键是没反应的。这个BUG很严重哦，请尽快解决，或者有其他方法可以弄的。谢谢！

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 6.1.7601

[2018-03-26 06:24] prasanthnv opened #46521 "Need Better Support For Ruby & Rails"
It's better to have a support for Ruby and Rails. Hard to find a better Extensions.

[2018-03-26 06:30] doberkofler commented on #23931
I completely agree and at least for me this is the only reason I'm not yet willing to switch from Sublime Text to VS Code. Searching and replacing is one of the most important features in a code editor and really needs:
- enough space to enter multi-line search and replace strings (large uncluttered panel like in Sublime Text and Atom)
- as much space as possible to show the search results (show r

[2018-03-26 06:33] burtonsys commented on #45596
How's it going, alexandrudima? Any progress? Have you managed to reproduce it? Do you need help with that?

[2018-03-26 06:34] aneilbaboo commented on #23931
See https://github.com/Microsoft/vscode/pull/43833

Just set in your prefs.
[code]

[2018-03-26 06:45] xuejianxianzun commented on #46520
我没有遇到这个问题，你可以先禁用其他插件，排除下是不是插件的问题

[2018-03-26 06:47] jsgoller1 opened #46522 "C/CPP - Settings only apply to first folder in workspace"
Issue Type: <b>Bug</b>

I have two different codebases with C code, call them `A` and `B`. Both of them have the following in `settings.json`:
[code]

For some reason, when I add both to a workspace, only the first folder has the settings applied to it - if I open A first, then add B to the workspace, and then save `A/src/main.c`, it will be formatted correctly with `clang-format`, but when I save

[2018-03-26 06:49] bm-stschneider commented on #46394
I already have the detect indentation disabled.

[2018-03-26 06:49] DarkLite1 commented on #5458
@Tyriar how is going with the integration in CI regarding the legal matters? The fix for the IME bug seems to be merged.

[2018-03-26 06:52] jws2003 commented on #46520
我下载下来，没装任何插件的，全部是默认的设置和插件。

[2018-03-26 06:54] cs-akash commented on #46494
you are right just verified search.exclude setting are active only when the button is toggled on. but the other issue is still there, you can see for this case it does not show any search result if exclude search button is on and not given any input in exclude file field.
![image](https://user-images.githubusercontent.com/36440805/37890887-cc3f0f8a-30ef-11e8-8605-f65c3f4302ef.png)

[2018-03-26 06:57] xuejianxianzun commented on #46520
你在正常情况下可以展开缩写是用的tab键吗？

[2018-03-26 06:59] ronymuliana opened #46523 "GIT problem"
Issue Type: <b>Bug</b>

Looking for git in: C:\Program Files\Git\cmd\git.exe
Using git 2.16.2.windows.1 from C:\Program Files\Git\cmd\git.exe

fatal: Not a git repository (or any of the parent directories): .git

fatal: Not a git repository (or any of the parent directories): .git

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows

[2018-03-26 07:02] dbaeumer commented on #46439
The underlying problem is deeper than this. The terminal itself doesn't always report the correct exit code. I will recheck what the current status with the terminal is.

[2018-03-26 07:05] jws2003 commented on #46520
是的。

[2018-03-26 07:05] dbaeumer commented on #46436
@isidorn assigning to you since I remember us talking about this for the configuration resolver service. Didn't we discuss to use the variable name only for VS Code variables lile $file. For env we should do the same as a normal shell does which evaluates missing envs to empty string. Please move back if there is something I need to do.

[2018-03-26 07:08] ivankadukrs opened #46524 "Not responding after every switch to app"
Issue Type: <b>Bug</b>

After every switch to the editor it not allow to edit anything. Then after some time it starts to work fine. It's hard to work in that way.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:47:13.351Z)
OS version: Windows_NT ia32 10.0.17025

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7400

[2018-03-26 07:09] xuejianxianzun commented on #46520
你在首选项里加一条设置试试：
`"emmet.triggerExpansionOnTab": true`

[2018-03-26 07:09] doberkofler commented on #23931
@aneilbaboo This does alleviate the problem when displaying the search results, but the pane is still far to small and cluttered. Additionally I would have to open and close the pane on and off instead of just having the results ready in a separate tab.

[2018-03-26 07:14] dbaeumer commented on #46259
@artzhy ESLint live validation always needed the ESLint extension. You can always define a task that does the ESLint validation but the task must be triggered by hand. I am closing since there is nothing that needs to be fixed in my opinion. Please ping if you think otherwise.

[2018-03-26 07:14] #46259 closed

[2018-03-26 07:31] tth80 commented on #13612
@TXH1997 Thanks for the compatibility mode idea. Windows 7 comp.mode seems to permanently fix my scroll lag issues (on surface pro 4).

[2018-03-26 07:32] jws2003 commented on #46520
谢谢，貌似可以了。

[2018-03-26 07:33] dbaeumer commented on #45980
@alpaix thanks for the feedback. Regarding your items:

1. I didn't add this since I don't know it :-). This information is only available if a task comes from a tasks.json file but not if contributed by an extension. The task providers currently work like completion item providers. Whenever we need the information (for example to show in a selection box) we query them. Tasks are not cached on the

[2018-03-26 07:36] gurpreetshanky commented on #13612
@TXH1997 because running it in a compatibility mode means running without GPU. So functions like integrated terminal won't work.

[2018-03-26 07:39] dbaeumer commented on #25309
@isidorn https://github.com/Microsoft/vscode/issues/25309#issuecomment-375485768 is debug specific.

[2018-03-26 07:46] reflash opened #46525 "Text wrapped in left terminal if using multi-terminal feature"
Issue Type: <b>Bug</b>

1. Open terminal window
2. Create second terminal
3. Click Move to Right
4. Click Move to Bottom

In the result - left panel will contain wrapped text

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.15063

Reproduces only with extensions

[2018-03-26 07:46] bpasero commented on #46519
@roblourens if this is about optimizing for the wide search view then please only do it there. In general I do not think that this is a good idea.

[2018-03-26 07:46] bpasero commented on #46522
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2018-03-26 07:46] #46522 closed

[2018-03-26 07:47] dbaeumer commented on #45107
@Tyriar ok. I wasn't aware that this only works on Mac/Linux. Just to make sure to understand it correctly: under Windows you don't know that the last cell has a space or was not written at all. That is why you can't 'un-wrap' the line correctly under Windows.

If this is true and given #43664 I only see one solution to fix this for now until we have better API under Windows as well. I would need

[2018-03-26 07:47] bpasero commented on #46524
@ivankadukrs does it reproduce if you run with "`code --disable-gpu`" from the command line?

[2018-03-26 07:48] jrieken commented on #43179
Sure - here is the code that adds the decorations (using the squiggle colors): https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/markers/electron-browser/markersFileDecorations.ts#L53. You can use the `registerColor`-function to define new colors, like here: https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/view/editorColorRegistry.ts#L36. I'd define two col

[2018-03-26 07:50] dbaeumer commented on #46192
@IlyaBiryukov make sense.

[2018-03-26 07:50] jrieken commented on #21362
Please file a separate issue, this issue has nothing to do with the current implementation anymore...

[2018-03-26 07:52] bpasero commented on #46221
I think Electrons APIs do not allow me to open a window without moving it to the foreground so it will  be hard to implement this properly.

I am open to help here if someone has ideas how to implement this best with Electron. Some API pointers how to create a [`BrowserWindow`](https://github.com/electron/electron/blob/master/docs/api/browser-window.md).

[2018-03-26 07:54] nrc commented on #10271
Is it possible to see the f8 panel without starting on the main error? If the user has to scroll to only see the related squiggle, then it doesn't seem too bad. Perhaps we could also use different colour squiggles to clarify?

This would be great!

[2018-03-26 07:55] jrieken commented on #44141
@mjbvz see https://github.com/Microsoft/vscode/issues/44141#issuecomment-374895859, you might wanna add some config-settings for TypeScript/JavaScript suggestions

[2018-03-26 07:57] aeschli commented on #46105
No, not through ``file://``

[2018-03-26 08:01] DanTup opened #46526 "Error creating tree view `Cannot set property 'dataProvider' of undefined`"
@sandy081 Not sure if I'm using this correctly as the FTP example seems slightly different (it's creating a FileSystemProvider?).

I tried calling createTreeView around my tree provider (since this seemed to be the only way to get a `TreeView` which is where the `reveal` method is?):

[code]

However I get this error (using latest Insiders):

[code]

Let me know if I'm doing something wrong or if

[2018-03-26 08:07] dbaeumer commented on #46517
Can someone please help translating this? (@octref @rebornix)

[2018-03-26 08:10] hongquan commented on #40631
I works again.

[2018-03-26 08:10] #40631 closed

[2018-03-26 08:11] SaneHe opened #46527 "Ctrl + Z"
Issue Type: <b>Bug</b>

我使用 ctrl + z的时候经常会返回到最顶部，why

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:47:13.351Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz (8 x 3600)|
|Memory (System)|15.86GB (8.02GB free)|
|Process Argv|D:\Microsoft VS Code\Code.exe V:\

[2018-03-26 08:16] #46384 closed

[2018-03-26 08:17] #46334 closed

[2018-03-26 08:19] shizengzhou commented on #46520
@jws2003 你的问题解决了，就可以关闭这个issue了。

[2018-03-26 08:19] HJLBX opened #46528 "getplatertemplate.ps1 from Prior VSCode Install Is Still Executing When Open Default PowerShell Console"
Uninstalled VSCode but now every time I launch the default PowerShell, getplastertemplate.ps1 keeps executing and it is triggering the installed security software - which blocks it and creates alert notifications:

03/26/18 04:12:04 Prevented process <getplastertemplate.ps1 | C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe> from launching from <c:\users\<user>\.vscode\extensions\ms-vscod

[2018-03-26 08:30] DanTup commented on #45742
As a workaround, I figured I can call reveal again with the start of the range and using the Default reveal type:

[code]

[2018-03-26 08:32] mgroenhoff commented on #46428
Verified using:
[code]
Thanks for the quick fix!

[2018-03-26 08:36] ksamuel opened #46529 "VSCode consumes all RAM if opening a huge directory"
- VSCode Version:

Version 1.21.1

- OS Version:

Ubuntu 16.04

Steps to Reproduce:

1. Open a huge directory with vscode. E.G: the system root
2. VSCode will complain it can't open enough file descriptors, and offer you to follow a link to solve this, which tells you to do something on the line of `sysctl -w vm.dirty_bytes=50331648`
3. Ropen the same directory with vscode and wait while it tries

[2018-03-26 08:39] Gruntfuggly opened #46530 "Searching settings is inconsistent"
When I'm changing the user settings, I quite often want to search for the current value of a specific setting, but using Ctrl+F opens the find dialog for the default settings. Selecting Find from the menu opens the dialog for the user settings. This is quite confusing - the shortcut is listed in the menu as Ctrl+F.

Shouldn't both the menu and the shortcut key take the editor focus to determine wh

[2018-03-26 08:44] waldyrious commented on #46335
Thanks, and sorry for the misleading initial description. Hopefully the commit was an improvement nevertheless :)

Let me know if there's anything I can do to assist in resolving this.

[2018-03-26 08:44] lafe commented on #46182
In my opinion this is not as designed as the behavior has been introduced with #43511 (which was not marked as a bug by @jrieken but as a feature request). It is also not consistent with the experience of the full Visual Studio where the "end" key also does not trigger anything in the IntelliSense dialog.
For me, this issue is currently very frustrating and the opposite of the "Happy Coding" goal

[2018-03-26 08:46] DengMingHao opened #46531 "希望能有进入文件夹的功能。"
- VSCode Version: 1.21.1
- OS Version: win 7 旗舰版

目前vs code可以设定一个工作专区，一个工作专区下可以有多个项目。这样，带来两个体验问题。

问题：
1、如果，我想用CRTL + P快速打开当前我编辑的项目中的某个文件，其他项目同名的文件也会搜索出来。
2、有时候，一个项目下有很多文件夹。虽然，可以配置将它们隐藏掉。但是，实际项目中比较难以执行。如果，我想专注修改某个文件夹下的多个文件。这样，我会被其他文件干扰到。

期待功能：
可以右击文件夹 --> 进入文件夹。
在这个模式下，搜索文件、查看文件夹列表。将会局限在于这个文件夹中。

参考：
HBuilder 编辑器

Does this issue occur when all extensions are disabled?: Yes/No

[2018-03-26 08:47] panglongqi opened #46532 "When I add a folder to the workspace, it crashes"
Issue Type: <b>Bug</b>

explorer->workspace->folder。 When I add a folder to the workspace, it crashes。The name of the folder is Chinese, The files in the folder are also Chinese

在资源管理器的工作区中添加文件夹会崩溃，路径和文件名都是中文。

![timline 20180326163757](https://user-images.githubusercontent.com/5959230/37896003-662760aa-3115-11e8-9335-07b93eca552d.png)

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca

[2018-03-26 08:48] joaompinto opened #46533 "Have markdown preview font size change when using ctrl+wheel and having editor.mouseWheelZoom="True""
- VSCode Version:
1.21.1
- OS Version:
Linux

Steps to Reproduce:

1. Set editor.mouseWheelZoom to "True"
2. open a side preview window (for example for a .md file)
3. Use CTRL + Mouswheel
4. The editor window font resizes, the preview window does not, the expected behaviour is the one that you get from CTRL +/CTRL -, where all the windows zoom level changes.

Does this issue occur when all extens

[2018-03-26 08:49] isidorn commented on #46501
/findDuplicates

[2018-03-26 08:49] marinehero opened #46534 "Open file in editor not refreshed after a git pull"
Issue Type: <b>Bug</b>

VsCode: Version 1.21.1 (1.21.1)
Darwin MarineMbp.local 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64

Working on a node project, there was one file changed on remote
I had that file open in my editor
did a git pull and the 2 changed lines in the active window still showed the old code
tried git pull from comman

[2018-03-26 08:52] sandy081 commented on #46236
@axetroy `contextValue` on `TreeNode` does not refers to the menu location `view/item/context`

[code]

[2018-03-26 08:52] #46520 closed

[2018-03-26 08:53] #46236 closed

[2018-03-26 08:55] sandy081 commented on #46372
Duplicate of ##28394

[2018-03-26 08:55] #46372 closed

[2018-03-26 08:55] octref opened #46535 "Test: CSS/LESS/SCSS language aware folding"
Refs: 45899

- [x] any os @alexandrudima
- [x] any os @ramya-rao-a

Complexity: 1

Language aware folding has been added to css/scss/less. Try:
- Wrong indentation does not affect folding regions
- Comments show as folding regions
- Nested folding regions (postcss nesting, scss/less nesting, media query, keyframe query, etc)

[2018-03-26 08:56] bpasero commented on #46270
@gregg-miskelly I cannot reproduce the empty string, what value are you passing into the `sign` function that would return an empty string?

[2018-03-26 08:56] weinand commented on #45129
The "EH DA" branch of VS Code supports this:

![2018-03-26_10-56-02](https://user-images.githubusercontent.com/1898161/37896540-4d13b9d2-30e4-11e8-8c35-8b75bf80b2dc.png)

[2018-03-26 08:56] #45129 closed

[2018-03-26 08:57] sandy081 commented on #46337
@NeilMacMullen May I know who is generating these problems? Are they coming from an extension or tasks?

[2018-03-26 08:58] #30147 closed

[2018-03-26 08:59] octref commented on #46517
@dbaeumer He's saying adding files to project do not cause workbench to refresh (I'm guessing he's referring to the file explorer).

@z2x Please use English to file issues. Can you post a screenshot or gif (using https://www.cockos.com/licecap/) to illustrate your problem?

[2018-03-26 09:01] jrieken commented on #7340
Yeah, that looks like rename. However, if the language server returns the whole statement and not the identifier to be renamed. why use it? It seems that the information is just not suitable and that you would be happy with the current default.

The proposed API can do that, but the range must be the identifier that's to be renamed not more.

Yeah, we see it like that as well and therefore have co

[2018-03-26 09:01] jrieken commented on #7340
@nehashri In your same what are the identifier that are to be renamed? The arguments `one` and `two`. What is the function name? Why do want to show a signature when renaming a symbol?

[2018-03-26 09:03] sandy081 commented on #46453
@roblourens Here is the [code](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/extensions/node/extensionsWorkbenchService.ts#L563) that triggers auto update.

But, we only auto update extensions from user extensions folder and not those coming from internal extensions folder.

[2018-03-26 09:04] jrieken commented on #46182
/duplicate of #43511

[2018-03-26 09:04] #46182 closed

[2018-03-26 09:05] DanTup commented on #46526
Can I tell @vscodebot when it's response is bad so it can learn? :-)

[2018-03-26 09:05] sandy081 commented on #46421
Duplicate of #17619

[2018-03-26 09:05] #46421 closed

[2018-03-26 09:06] bpasero opened #46536 "Explorer: root folder that is a symbolic link not decorated"
Steps to Reproduce:

1. `ln -s source target` to create a link on a folder
2. add the link as single entry to a workspace config file
3. open that workspace
4. restart

=> I see no link decoration for the root folder

[2018-03-26 09:06] jrieken commented on #46182
Yes, you can unbind the keybinding.

I have closed this as dupe to have the discussion in one place - IMO it makes sense bring pro-people and con-people onto the same issue. Leaving the default untouched as long as not too many people complain.

[2018-03-26 09:07] octref opened #46537 "Test: CSS path completion"
Refs: 45235

- [x] windows @gregvanl
- [x] macOS @chrmarti

Complexity: 1

Path Completion has been added to CSS too. You can use `url("./")` to trigger it

Test:
- Suggestions are as expected
- Path completion works both inside both `url()` and `url("")` and `url('')`

[2018-03-26 09:09] sandy081 commented on #43879
Duplicate of #30918

[2018-03-26 09:09] #43879 closed

[2018-03-26 09:12] dbaeumer commented on #46517
@bpasero assigning to you assuming he is referring to the file explorer.

[2018-03-26 09:13] bpasero opened #46538 "Wrong case / Symbolic link as root folder does not report file events"
Steps to Reproduce (link):

1. `ln -s source target` on a folder to link it to another folder
2. add this linked folder as single entry to a workspace file
3. open that workspace file
4. change files outside and see the explorer not updating

**Note:** this reproduces on macOS at least but not on Windows

Steps to Reproduce (wrong casing):

1. add a folder to a workspace config file that uses wron

[2018-03-26 09:14] sandy081 commented on #46501
Duplicate of #2809

[2018-03-26 09:14] DanTup commented on #7340
Because it relies on Code's default always being correct and since it doesn't understand the semantics of the language it's likely to result in edge cases and bugs being raised. I already have to reject a bunch of renames and display "This rename is not yet supported" to my user when I detect bad renames happening (for ex. if the user hits rename on `class` of `class Danny`), though admittedly I d

[2018-03-26 09:14] #46501 closed

[2018-03-26 09:15] dbaeumer commented on #29855
Currently not since the command use designed to work with user interaction. However there is now proposed API that lets you start and terminate tasks. May be that would help in your scenario. It has events for task start and task terminate as well.

[2018-03-26 09:19] bary12 commented on #46105
This does not help me then, as it can't depend on things happening in the file system.

[2018-03-26 09:26] isidorn commented on #25309
@dbaeumer I do not understand what is debug specific about it. As far as I understand the request is to add `${relativeFileDirname}` to the configuration resolver service. And there is currently no open feature request for this.

[2018-03-26 09:28] aeschli commented on #46382
Press escape to close the completion window, or just continue with `:` to ignore the suggestions.

Disabling just css code complete is not possible, but you can disable the full css extension in the next release.

[2018-03-26 09:28] aeschli commented on #46378
This issue was moved to Microsoft/vscode-mssql#1075

[2018-03-26 09:28] #46378 closed

[2018-03-26 09:31] aeschli commented on #46366
The seti theme is derived from https://github.com/jesseweed/seti-ui.
Please make a request against that repository.

[2018-03-26 09:31] #46366 closed

[2018-03-26 09:32] DanTup opened #46539 "Space between diagnostic source/message gone in Insiders"
Super minor, but it looks worse IMO... In Insiders (right) there's no space between the source/message of an error in the Problems pane. In stable (left) there is.

<img width="835" alt="screen shot 2018-03-26 at 10 31 04" src="https://user-images.githubusercontent.com/1078012/37898524-f015f89c-30e0-11e8-8a0c-dbdde06908d0.png">

[2018-03-26 09:33] lafe commented on #43511
As @jrieken proposed to have the discussion here, instead of in a duplicate issue for the "Con"-perspective, I will add my objections here as well (taken from #46182) :)

My problem with the change is that it is a new behavior that does not match the previous user experience as well as the default behavior of Visual Studio. Therefore, the current behavior goes against the muscle memory and expecta

[2018-03-26 09:37] isidorn commented on #46414
@oliversalzburg what node version do you have? Or does this happen when you use the chrome debugger?

[2018-03-26 09:38] #46324 closed

[2018-03-26 09:38] dbaeumer commented on #46324
Fixed by tweaking the problem matcher

[2018-03-26 09:39] aeschli commented on #43464
IMO @ramya-rao-a is valid here.
If there's a known set of values for a css property, e.g. for `display`, we should show each value as a proposal.
In this case, we guessed possible values by looking at other locations. When doing that we should ignore the current value. If some other location has that value, then, ok.

[2018-03-26 09:39] isidorn commented on #46318
Please follow this instructions on https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions
And provide reproducable steps
Also try reproducing with vsocde insiders https://code.visualstudio.com/insiders/

[2018-03-26 09:41] dbaeumer commented on #25309
@isidorn I was referring to this https://github.com/Microsoft/vscode/issues/25309#issuecomment-375485768 which uses a launch.json and a variable ${fileDirname}.

[2018-03-26 09:41] isidorn commented on #46336
This works fine on my mac.
Can you reproduce this issue with vscode insiders https://code.visualstudio.com/insiders/

[2018-03-26 09:43] isidorn commented on #25309
@dbaeumer we currently do support `${fileDirname}` in `launch.json`. Can you clarify that comment, what is the request?

[2018-03-26 09:46] dbaeumer commented on #46373
For now I will add a.m. and p.m. to the patterns. If we detect more locale variants for am / pm we need to investigate if we go with a different solution.

[2018-03-26 09:47] rmunn commented on #9505
If as @egamma points out, there's a lot of variation between the different test runners, then it might make some sense to hold off on implementing this API for a while.

**However**, I'd like to request one feature be implemented now, at least: adding a new sidebar view (and icon) for unit testing extensions to use. Currently [the API only allows extensions to add tree views to the explorer or deb

[2018-03-26 09:48] #46007 closed

[2018-03-26 09:49] karlhorky commented on #44150
For TypeScript it looks like this extension may be interesting (from a quick read through the features it seems like it supports types):

https://github.com/soates/Auto-Import

[2018-03-26 09:49] dbaeumer commented on #25309
@isidorn I wasn't aware of this. I think that comment is then either a typo (wanted to use `${relativeFileDirname}`) or a noop. So I am going to ignore the comment :-).

[2018-03-26 09:52] rmunn commented on #9505
https://github.com/Microsoft/vscode/issues/43645 appears to be related to my request for a new sidebar icon for test runner extensions to use.

[2018-03-26 10:01] dbaeumer commented on #46362
Task passes the command to the shell configured for the terminal using -c as an option. Having this not terminating could happen if the shell doesn't understand -c  @Fsarmento which shell do you have configured for the terminal?

Does it also happen when you configure using bash explicit in the tasks.json. Something like:

[code]

[2018-03-26 10:06] bpasero commented on #44434
@kieferrm interestingly I saw this issue on Windows just now and it was related to the fact that I had some code to compute the optimal position of the new window to open and that code was resulting in non-absolute numbers in cases where the monitor bounds are actually uneven. I fixed that via https://github.com/Microsoft/vscode/commit/96461c968cffb2f4d44679c156c6a52cf22f37b4. Maybe you could chec

[2018-03-26 10:07] victorandree commented on #46373
I did a quick check with the (locales found in this StackOverflow post](https://stackoverflow.com/questions/3191664/list-of-all-locales-and-their-short-codes) check using `new Date().toLocaleTimeString(locale)` on node/Chrome. Even for English, you also have `am` (`en-AU`), but then you have Arabic, Greek, Spanish (as spoken in US), Mandarin and others... Here's the different formats I saw:

* 12:

[2018-03-26 10:13] DanTup commented on #43429
@jrieken

I just got this:

<img width="462" alt="screen shot 2018-03-26 at 11 11 01" src="https://user-images.githubusercontent.com/1078012/37900576-8742dcd0-30e6-11e8-9f7f-45fe47cabc3f.png">

I believe it's pre-selected `override` because of the prefix of a space, so I don't think the empty line rule will fix all the issues. Maybe the prefix should be ignored if there is any leading whitespace?

[2018-03-26 10:13] sholohov commented on #46243
Is it a problem with my PC or application? I did not quite understand :)

[2018-03-26 10:14] weinand opened #46541 "change logMessage description"
Please change the logMessage text box description to this:

`Message to log when breakpoint is hit. Expressions within {} are interpolated. 'Enter' to accept, 'esc' to cancel.`

[2018-03-26 10:18] #45128 closed

[2018-03-26 10:19] #46436 closed

[2018-03-26 10:22] doberkofler opened #46542 "Only show problems of the tab that currently has the focus"
The VS Code eslint plugin (for example) shows all problems in the Problems pane but it would be very useful to only see (and concentrate on) the problems in the file currently working on.
Is there a way to do so and if not, could an option be added to configure this?
(Moved from https://github.com/Microsoft/vscode-eslint/issues/435#issuecomment-376115120)

[2018-03-26 10:22] fabiospampinato commented on #46492
Yes.

Is it? You mentioned `'f1/foo.txt' is some file in 'foo'` so I thought you meant you can't file files with the same name of a root folder, my issue is that if all my root folders have a `package.json` file, or something, in their root, there's no way to uniquely filter the one I'm actually looking for it in the quickopen.

[2018-03-26 10:25] eterevsky commented on #36913
@Tyriar Sorry for the delay. I tried it on my Linux machine, and it worked in exactly the same way as before, i.e. very slow.

It's also reproducible when the terminal is split (a new VSCode feature). It's also reproducible when the window is not completely maximized, but still fills most of the screen.

It does _not_ happen when the terminal covers less than ~1/3 or ~1/4 of the screen space. If s

[2018-03-26 10:27] isidorn commented on #46509
This is correct, for that a "Disable Breakpoint Command" would have to be registered in the quick open menu.
Code pointer where to add that command https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/debugCommands.ts#L29

We accept PRs that fix this

[2018-03-26 10:29] isidorn commented on #46496
/findDuplicates

[2018-03-26 10:29] isidorn commented on #46496
Dup of https://github.com/Microsoft/vscode/issues/10979
Thanks bot!

[2018-03-26 10:29] uxsoft commented on #9505
Sounds like a good start

[2018-03-26 10:29] #46496 closed

[2018-03-26 10:33] weinand commented on #46500
The VS Code debugger support supports multiple processes. See https://code.visualstudio.com/updates/v1_20#_node-debugging.
The animated gif shows VS Code debugging a master process and 5 child processes.

[2018-03-26 10:33] #46500 closed

[2018-03-26 10:33] isidorn commented on #46391
@jossgb you are probably in zenMode. Use this setting
`  "zenMode.centerLayout": false`

Also use the command to get out of centered layout: F1 > "View: toggle centered layout"

[2018-03-26 10:33] #46391 closed

[2018-03-26 10:35] fabiospampinato commented on #10979
_Copying over my post from #46496:_

I like the debugger that comes with Code, and I'd like to use it more often, but in some cases starting it up is cumbersome.

#### My use case:

- I install an NPM package globally (`npm i -g foo`).
- I use it a bit and for some reason I want to start up a debug session to find what exactly happens when I execute `foo --flag1` in the terminal.

As far as I know

[2018-03-26 10:39] isidorn commented on #46484
This can curretnyl be seen by F1 > view toggle problems
This is our designed solution for looking at the list of files that have issues - this should not be a part of the open editors view or the explorer, thus closing this as designed.
If you have suggestions on how to improve the problems view please file a new feature request. fyi @sandy081

[2018-03-26 10:39] #46484 closed

[2018-03-26 10:47] #43464 closed

[2018-03-26 10:48] #46035 closed

[2018-03-26 10:49] isidorn commented on #46476
@tvilim thanks for you great suggestion. With some of these I agree with some I do not.
1. Makes sense this should be a command, not sure about the default keybinding though
2. Makes sense
3. Remove all watch should be a global command with no default keybinding so each user can assign whatever they want
4. Similar to Files: Collapse All in the expand all should be a global command with no default

[2018-03-26 10:57] aeschli commented on #46452
@ramya-rao-a I think I commented out some similar tests here as they failed and because I wasn't sure if this is just because of the late changes in #29113
- https://github.com/Microsoft/vscode/blob/addd44d6b845348bfa7d65106b40f5692bb7b3fa/extensions/css-language-features/server/src/test/emmet.test.ts#L60
- https://github.com/Microsoft/vscode/blob/addd44d6b845348bfa7d65106b40f5692bb7b3fa/extension

[2018-03-26 10:57] weinand commented on #42521
I've tried to avoid the performance issues by only starting another `wmic` if the previous has finished. The frequency of running `wmic` is determined based on the runtime of the previous `wmic`. The idea is that `wmic` does not dominate the overall cpu load.  In addition I only run the wmic for retrieving the "cpu load" every 4th time.

However, I will not improve the discoverability of the auto-

[2018-03-26 11:06] aeschli commented on #46468
The problem is that the HTML formatter, as well as all other features in the HTML extension, have been designed for HTML, not for templating languages.
Maybe there is an extension that offers proper formatting for Django.

Otherwise, you can turn off the html formatter
[code]
Or, turn off auto format also just for 'html' (or any other language):
[code]

[2018-03-26 11:07] psmocko commented on #45657
That is the whole issue that got me onto this thread. Chrome debugging.
Unfortunately I do not have the luxury of time to help out by installing
and trying out all of these different versions as I  am the sole dev on a
big project right now.

Paul

On Mon, Mar 26, 2018, 1:13 AM Rob Lourens <notifications@github.com> wrote:

[2018-03-26 11:11] davydden commented on #46500
@weinand thanks for the prompt reply!

[2018-03-26 11:22] Mlocik97-issues opened #46543 "Add Scala support to VS Code."
Please add a native support for Scala lang.

[2018-03-26 11:22] aeschli commented on #46105
JSON schemas are static by nature. I think you are pushing in the wrong direction here. Tyically, schemas are provided from a server URL, they are cached and they also can't contain validation rules based on a local setup.
If you are a VSCode extension and want to improve code completion for e.g. `eslint` files, why not providing a completion processor that can provide proposals based on the local

[2018-03-26 11:36] DanTup commented on #9505
Let's not confuse variation with inconsistency. Currently people are left to implement it themselves with no guidelines, so of course they'll all be different.

Visual Studio has a Test window which, while not perfect, has served many languages and frameworks reasonably well. VS Code has a good process for suggesting (and later implementing) proposed APIs to get feedback. I don't see why this woul

[2018-03-26 11:37] dbaeumer commented on #46531
@DengMingHao can you please provide the description in English. I don't speak your language.

@octref @rebornix can you help once more.

[2018-03-26 11:38] dbaeumer commented on #46529
Not sure who bests owns this :-)

[2018-03-26 11:39] DanTup commented on #43645
I'd love to see this - it feels wonky that we're putting some trees in the File Explorer pane. I'd also love for the user to be able to dock it to the other side too (this goes for existing panels too; a generic solution that lets my undock Git or search results for example).

[2018-03-26 11:39] dbaeumer commented on #46528
@HJLBX can you please file the issue against the PowerShell extension. This repository is only about the VS Code core product.

[2018-03-26 11:39] #46528 closed

[2018-03-26 11:40] dbaeumer commented on #46527
@SaneHe can you please provide the description in English.

@octref @rebornix

[2018-03-26 11:40] holms opened #46545 "Unable to stage separate lines in git"
- VSCode Version:

[code]

- OS Version:

[code]

Steps to Reproduce:

1. Edit multiple lines in some file which is in git repository
2. Go to diff view of that file
3. Select lines you want to stage
4. Right click -> Stage selected ranges
5. Git error pop's up: `Git: Illegal value for 'line'`

There's nothing in git log window.

![vscode-git-partial-bug](https://user-images.githubusercontent.com/

[2018-03-26 11:42] dbaeumer commented on #46515
@SmileXia123456 can you please provide the description in English.

Automatic translation:

[2018-03-26 11:42] stereokai opened #46546 "Multiple Issues Related to IntelliSense Opened Since Last Release"
I thought I'll open a single issue to firstly raise more attention to this problem and secondly to consolidate efforts: https://github.com/Microsoft/vscode/issues/46025, https://github.com/Microsoft/vscode/issues/46393, https://github.com/Microsoft/vscode/issues/45993, https://github.com/Microsoft/vscode/issues/46292

I am aware of the connection to Microsoft/TypeScript#22774 - which was already f

[2018-03-26 11:44] dbaeumer commented on #46502
@Jonathandelacruzp can you please provide the description in English.

[2018-03-26 11:45] #36819 closed

[2018-03-26 11:46] DanTup commented on #7340
I understand that; but it's not like it's a completely unreasonable or totally-specific-to-my-language-server change; it seems like a nice feature to let the language server provide the text and a relatively small tweak. Without it, Dart and Flutter users will continue to have a worse experience in VS Code than IntelliJ and Android Studio :-(

I don't understand the last line. It seems blocking if

[2018-03-26 11:47] dbaeumer commented on #46479
@mjbvz any help ?

[2018-03-26 11:49] dbaeumer commented on #46470
@evn88 can you please provide the description in English.

[2018-03-26 11:51] alexandrudima commented on #36819
We will not change this. See https://github.com/Microsoft/vscode/pull/41471#issuecomment-376139155

[2018-03-26 11:51] vikyd opened #46547 "Drag drop files from VSCode to Xshell by `rz -bye`"
Version 1.21.1
Commit 79b44aa704ce542d8ca4a3cc44cfca566e7720f1
Date 2018-03-14T14:46:47.128Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

OS: Win7 64bit

**Suggest**
Steps to Reproduce:

1. I use Xshell to connect to my Linux server
2. When using PhpStorm, I can drop files from PhpStorm to Xshell, then Xshell auto upload files to my server
3. same Feature in VSCode will be nice

[2018-03-26 11:54] dbaeumer commented on #46437
Can you please provide a screen shot showing where the test is not rendered correctly.

[2018-03-26 11:56] nurp commented on #36964
I am on Windows and have same problem. Workspace is not restored after I restart Windows. The project loads but all the tabs that were open before is now closed. Only happens if I restart windows. The project resides on a linux server, not local on Windows. Wonder if that's related.

[2018-03-26 11:57] dbaeumer commented on #46016
Can you please report the issue against the C# extension here: https://github.com/OmniSharp/omnisharp-vscode They own the C# support.

Thanks.

[2018-03-26 11:57] #46016 closed

[2018-03-26 12:03] davydden commented on #46500
@weinand on the second look, this might not be exactly the needed feature, although very close!

In the link above it's mentioned:

In this case, however, as far as I understand MPI, there is no single process which spawns child subprocesses. To given an exmaple, if one to debug such applications manually, you would typically attach a debugger to each process via

[code]

I must admit I have no id

[2018-03-26 12:04] battaglr opened #46548 "Consider adding a "duplicate" option in File Explorer menu"
In the File Explorer menu we have the following options:

It would be great if it where a "duplicate" option —I miss this functionality from Atom, as it was quite handy.

P.S.: tried looking for an open or closed issue for this, but didn't find any.

[2018-03-26 12:07] tottobauer1972 commented on #3884
Ich find The regestry entries. Bitte after instaling Version 1.21 Theresa are a lot of more entries for vscode. Have ich total Edith thease too?

Freundlichen Gruß
Thorsten Bauer

________________________________
From: Sebastian <notifications@github.com>
Sent: Friday, March 23, 2018 10:12:18 AM
To: Microsoft/vscode
Cc: tottobauer1972; Mention
Subject: Re: [Microsoft/vscode] Revisit VS Code folder

[2018-03-26 12:08] weinand commented on #10979
With the [auto-attach feature](https://github.com/Microsoft/vscode/issues/42521) you can just start your node program from the command line and VS Code will automatically attach to it. Would this address your problem?

[2018-03-26 12:09] zphhhhh commented on #46382
Got it, thx.

[2018-03-26 12:09] #46382 closed

[2018-03-26 12:15] aeschli commented on #46510
I'm happy to use your repo as input instead of demyte/language-cshtml. if you are willing to maintain the grammar for a while. This means getting all issue requests assigned to that repo.
You can still make a pull requests to demyte/language-cshtml and hope they merge again.

[2018-03-26 12:16] Fingolfin40 commented on #46407
@ramya-rao-a Ah, I should of course have checked that. Unfortunately I can not update myself because of company policy. I'll just start an internal ticket and hopefully I can get an updated version.

@oriash93 Good to know that it can not be reproduced on newer versions. Hopefully my company will uppdate to windows 10 soon and with that, a later version of VSCode.

Thank you both for your help and

[2018-03-26 12:18] weinand commented on #46500
Running multiple debug sessions concurrently by attaching to multiple process manually is always possible.

Every session (or every process) shows up automatically in the CALLSTACK view. This view gets additional thread- or process-levels on the fly (and only if there is more than one thread or process).

[2018-03-26 12:25] aeschli commented on #46435
I'm not able to reproduce on a regular VSCode build. Can you run without extensions? Any special settings enabled?

[2018-03-26 12:25] bpasero commented on #46532
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-03-26 12:26] bpasero commented on #46529
Duplicate of https://github.com/Microsoft/vscode/issues/3998

[2018-03-26 12:26] #46529 closed

[2018-03-26 12:27] #46547 closed

[2018-03-26 12:28] #46548 closed

[2018-03-26 12:28] #46027 closed

[2018-03-26 12:29] #12518 closed

[2018-03-26 12:35] isidorn opened #46549 "Reduce usage of isEqualOrParent in explorer"
We have reduced the usage of isEqualOrParent in the explorer. However there are still a couple of places left before we can change this method to properly normalize pahts.
* `ExplorerItem.create()`: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/common/explorerModel.ts#L142
* `ExplorerView.getResolvedDirectories()`: https://github.com/Microsoft/vscode/blob/master/src/

[2018-03-26 12:36] isidorn commented on #36946
For this milestone we have reduced the usage of isResourceOrParent in the explorer, however there is still some debt to be done captured in this itemhttps://github.com/Microsoft/vscode/issues/46549
Once that is tackled we can finally fix this, thus moving for now to April

[2018-03-26 12:38] isidorn opened #46550 "Consider removing type and label from IRawEnvAdapter"
Also check whether some debug extension is actually using the `type` and `label` as platform specific in their `package.json`.

If not we might want to consider to move "type" and "label" to "IRawAdapter" (where other non-platform specific attributes live).

[2018-03-26 12:45] weinand commented on #46500
There is no requirement for "as if they are spawned by a single process".
All debug sessions are independent and they can either be launched manually or there could be some code (as a separate extension or as part of an existing debugger), that finds the relevant processes and launches debug sessions for them.

[2018-03-26 12:49] fabiospampinato commented on #10979
@weinand not really. I've tried your extension and I've found these problems this it:

- Even in your demo gif you can see that it is not working, "hello world: 0" gets printed without the debugger pausing the execution.
- It doesn't work at all if I don't disable [NiM](https://chrome.google.com/webstore/detail/nodejs-v8-inspector-manag/gnhhdgbaldcilmgcpfddgdbkhjohddkj) first.
- Even with NiM disa

[2018-03-26 12:51] davydden commented on #46500
great!

I suppose one will also be able to switch between each debug sessions in the same way as depicted on that gif:

![screen shot 2018-03-26 at 14 49 16](https://user-images.githubusercontent.com/8023934/37907361-1d9222b8-3105-11e8-8ad4-61672da5cd12.png)

[2018-03-26 12:54] aeschli commented on #46310
JSX and HTML are different code bases. Please file separate issues.
I'm replying for HTML here, where we automatically add `</div>` both when typing `<div>` as well as `</`.
![autoclose](https://user-images.githubusercontent.com/6461412/37907436-69a3a3ac-3105-11e8-8201-39ac40502be4.gif)

If this doesn't work for you, check that `"html.autoClosingTags": true` is configures.
If this is not the probl

[2018-03-26 12:55] alexandrudima commented on #34451
Fixed via #46029

[2018-03-26 12:55] #34451 closed

[2018-03-26 12:57] ecbrodie commented on #46310
I decided to nuke my VSCode configuration and start from scratch. I installed the autoclose tag and rename tag plugins, and those seem to work fine for both HTML and JSX.

Thank you for the reply, but I don't think there's further action to pursue here, so I'll just go ahead and close.

[2018-03-26 12:57] pleprince commented on #34451
Thanks !

[2018-03-26 12:58] #46310 closed

[2018-03-26 12:58] holms commented on #46412
Ok seems to be solved, this is all dependent on gpg-agent setup. There's a need to specify a time for caching passphrase, an app to use for entering passhprase when prompted (by default it fall back to curses, so it's failing in X apps), and to specify that you allow to store password at all in agent (this is optional)

~/.gnupg/gpg-agent.conf

[code]

[2018-03-26 12:58] #46412 closed

[2018-03-26 12:59] holms commented on #46447
Check this one: https://github.com/Microsoft/vscode/issues/46412
Might solve your issue it's all about gnu-agent setup.

[2018-03-26 12:59] oliversalzburg commented on #46414
@isidorn 8.9.0 currently. And, yes, this is Node, Chrome is not involved.

[2018-03-26 12:59] weinand commented on #10979
@fabiospampinato Sorry, but it is working as expected. Since hello.js is launched with `--inspect` and not with `--inspect-brk` the program immediately starts (and is able to print the first "Hello" before the debugger had a chance to attach to it and register the breakpoint.

Yes, the fix for terminal multiplexers is in the works.

[2018-03-26 13:00] bary12 commented on #46105
I'm not looking to improve .eslintrc (I gave it as an example for how this can be used), I need this feature for my project which uses quite complex json files, and we want to have our schemas validated based on things happening in the file system. Making an extension would be a waste of time as we are barely 10 people in the project, and the only other option we currently have is to add a build p

[2018-03-26 13:00] smlombardi commented on #46435
It's not happening today in 2018-03-26T05:05:33.957Z

With or without extensions.

[2018-03-26 13:06] jrieken commented on #46442
Nice catch...

[2018-03-26 13:08] jrieken commented on #46451
Not sure if we are going to expose the actual UI behaviour/interactions to the data provider but an easy way to know what suggestion has been triggered is having a accept command: https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3012

[2018-03-26 13:11] weinand commented on #46500
Yes, that's the standard VS Code UI and behaviour. You can try this already yourself by starting a second debug session.

[2018-03-26 13:18] EbXpJ6bp commented on #45823
I can still repo this in editor and input area in DEBUG CONSOLE.

[2018-03-26 13:19] #44141 closed

[2018-03-26 13:19] #46442 closed

[2018-03-26 13:21] DanTup opened #46551 "Allow notifications (info/warn/error) to be cancelled/hidden"
Sometime I pop up notifications based on the state of the project, like this one to offer to restore packages:

<img width="492" alt="screen shot 2018-03-26 at 14 18 11" src="https://user-images.githubusercontent.com/1078012/37908627-b098cf3a-3100-11e8-8286-43f18299d8fd.png">

Sometimes the user performs another action that makes this redundant (for example when you launch a Flutter app with `F5`

[2018-03-26 13:25] farid-fari commented on #11723
@PowerAccess You should really be looking into other things than the vscode github repo if it's taking 7 seconds to load on a quad-core. More than likely you have a strong bottleneck somewhere else, or a botched installation or maybe even a virus.

There is clearly more to it than that and closing to tray won't solve the problem for you at all.

[2018-03-26 13:35] aeschli commented on #46435
Hmm, closing then. Please reopen if you see it again.

[2018-03-26 13:35] #46435 closed

[2018-03-26 13:35] jrieken opened #46553 "Test reference search result navigation"
Test for #44414
Complexity: 1

- [x] linux  @dbaeumer
- [x] win  @isidorn

You can navigate reference search result item via F4 and Shift+F4. Test that

* you can navigate results in both directions
* you can navigate results also when having find/search-viewlet results
* focus stays in the editor when coming from the editor and focus stays in the references-tree when coming from there

[2018-03-26 13:36] user3323 commented on #45720
@ramya-rao-a

what about combining things, so html and css could be used in typescript?

I cannot find the right syntax. Or it's not possible yet?

[2018-03-26 13:36] #45910 closed

[2018-03-26 13:36] jrieken commented on #40030
To verify:

* open a huge JSON file (+ 10000 lines)
* set the `formatOnSaveTimout`-setting to something large, e.g 5sec
* save the JSON file

[2018-03-26 13:37] joaomoreno commented on #46199
Closing for now.

[2018-03-26 13:37] #46199 closed

[2018-03-26 13:37] joaomoreno commented on #46018
@sandy081 Any ideas?

[2018-03-26 13:38] nicolinux commented on #46364
Thanks for the hint. Just for reference (if you happen to land here after googling it). I have configured the following behaviour in my `keybindings.json`:
1. ctrl+tab switches between editor and integrated terminal
2. shift+tab switches between split terminals
3. cmd+alt+right/left switches between integrated terminals

[code]

[2018-03-26 13:41] jrieken opened #46554 "Test global error navigation"
Test for #14783
Complexity: 1

- [x] Any OS  @RMacfarlane
- [x] Any OS  @auchenberg

The F8-feature has been changes so that it visits all errors/warnings/info (instead of staying inside a file). Test that

* you can navigate to all (known) markers
* you visit errors, then warnings, then infos per file but not *all* errors, then *all* warnings etc
* you can start inside a file without diagnostics

[2018-03-26 13:42] joaomoreno commented on #45236
Not sure...

[2018-03-26 13:44] joaomoreno commented on #46260
Totally right, but we're likely not going to dedicate resources on improving the message. Much more likely to simply not let you open Code at that point at all.

[2018-03-26 13:44] #46260 closed

[2018-03-26 13:44] joaomoreno commented on #46302
https://github.com/Microsoft/vscode/issues/7426#issuecomment-277737150

[2018-03-26 13:44] #46302 closed

[2018-03-26 13:45] jrieken opened #46555 "Test selective diagnostics display"
Test for #44141
Complexity: 1

- [x] Any OS  @roblourens
- [x] Any OS  @chrisdias

Have an extension that adds diagnostics of all severities and test that

* errors/warnings are shown in the explorer
* errors/warnings/infos are shown in the problems panel and via F8
* errors/warnings/infos and hint are shown in the editor

[2018-03-26 13:48] jrieken opened #46556 "Test new snippet variables"
Test for #46049
Complexity: 1

- [ ] Any OS - @xxxx
- [ ] Any OS - @xxxx

There are new snippet variables for short forms of date components. Test that all these variables work inside snippets:

[code]

[2018-03-26 13:48] joaomoreno commented on #45398
cc @sandy081 any ideas?

[2018-03-26 13:49] joaomoreno commented on #46377
This was merged this month

![image](https://user-images.githubusercontent.com/22350/37910210-40085404-310d-11e8-8169-d3c19cba7647.png)

[2018-03-26 13:49] #46377 closed

[2018-03-26 13:50] bpasero commented on #46498
@fabiospampinato see https://github.com/Microsoft/vscode/wiki/Extension-Authoring:-Adopting-Multi-Root-Workspace-APIs#new-helpful-api around `RelativePattern` to limit a search to a specific `WorkspaceFolder`.

[2018-03-26 13:50] #46498 closed

[2018-03-26 13:51] bpasero commented on #46551
@jrieken not sure if this has been asked already. I think it would be nice if extensions could hide a notification but I am not sure how to do this with the current API that returns a `Thenable`.

[2018-03-26 13:53] joaomoreno commented on #46465
/findDuplicates

[2018-03-26 13:53] joaomoreno commented on #46523
This issue was closed because it doesn't meet our standards of a properly filled issue. Please read our guide about [Submitting Bugs and Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2018-03-26 13:53] #46523 closed

[2018-03-26 13:53] SheepDomination commented on #46507
When splitting the window; you could click the middle vertical split pane divider and that would dock the pane, for example; to the right, and so you would see the split pane as a tab to the right side of the window.

[2018-03-26 13:54] DanTup commented on #46551
Is there some sort of cancellation token we could pass into MessageOptions maybe?

[2018-03-26 13:55] DanTup commented on #46551
Or maybe something like `window.withProgress` which takes a promise that can be resolved/rejected?

[2018-03-26 13:56] bpasero commented on #24634
I am open for a PR here that is reasonably small and introduces a new macOS only setting.

[2018-03-26 13:57] joaomoreno commented on #46465
#35037

[2018-03-26 13:57] #46465 closed

[2018-03-26 13:57] joaomoreno commented on #46348
Docs: https://code.visualstudio.com/docs/setup/network

[2018-03-26 13:57] #46348 closed

[2018-03-26 14:00] joaomoreno commented on #46462
What does `which code` return?

[2018-03-26 14:00] joaomoreno commented on #46447
#43809

[2018-03-26 14:00] #46447 closed

[2018-03-26 14:01] innroot opened #46557 "Intellisense stops working"
Issue Type: <b>Bug</b>

some times when you press Ctrl+Space intellisense stops working, it keeps loading...

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

<details><summary>Extensions (22)</summary>

Extension|Author (truncated)|Version
---|---|---
npm-intellisense|chr|1.3.0
gitlens|eam|8.1.1
tslint|eg2|1.0

[2018-03-26 14:02] bpasero commented on #46551
@DanTup a `CancellationToken` is typically the other way around to inform you that the user canceled the operation. But yeah, if you could pass over a cancellation token source, the cancellation could be wired in from there.

[2018-03-26 14:03] isidorn commented on #46557
Please follow these steps to file a proper issue
https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions

[2018-03-26 14:04] bpasero commented on #46534
@marinehero are you in a single folder workspace with a single git repository?

[2018-03-26 14:06] joaomoreno commented on #45413
Please send me a video recording. It's very hard to understand your steps description.

[2018-03-26 14:09] #45821 closed

[2018-03-26 14:11] jrock2004 opened #46558 "Extend Snippets to others"
Coming from Vim and it snippet managers, you can define to to `extend` other snippets. For example, in my `sass` snippet file, on the top, I can define `@extend css` and then when I am in my sass file I get all the snippets for css stuff as well. Thoughts on adding this feature?

[2018-03-26 14:13] ivankravets commented on #29855
Do you have some ETA when I can test it?

[2018-03-26 14:14] Fenzland opened #46559 "Some characters are not bindable, so vscode aren't friendly to special keyboards layouts."
We can bind actions to characters below:
[code]

But we cannot bind to these keys:
[code]

With Qwerty keyboards layout, we can bind action to `shift+9` instead of `(`.

But in some other layout, this is not works.

For example, in my layout [http://www.keybo...](http://www.keyboard-layout-editor.com/#/gists/749bf55fe17ecb60ce99b5f9d3aa1a20), `(` is not equal to `shift+9`. So I can't bind anything

[2018-03-26 14:15] alex-min opened #46560 "Open file as administrator, the vscode icon takes the full screen (Kubuntu)"
The icon is way to big on the open as administrator window so it takes a full screen making the prompt difficult to see.
![screenshot_20180326_212749](https://user-images.githubusercontent.com/1898825/37912349-8e5a6eec-313c-11e8-91ed-42de26c4f4fb.png)

- VSCode Version: 1.21.1
- OS Version: Linux 4.13.0-37-generic #42-Ubuntu SMP Wed Mar 7 14:13:23 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux - Kubuntu

[2018-03-26 14:17] Tyriar opened #46561 "Command tracking should show glyphs next to rows and flash lines when navigating"
Follow up for https://github.com/Microsoft/vscode/issues/45435

cmd+up/down on macOS should show some indication of the line that was scrolled to.

This will need some upstream changes.

[2018-03-26 14:18] Tyriar commented on #45435
Moved the displaying of glyphs for commands and flashing the line when scrolling to a command to https://github.com/Microsoft/vscode/issues/46561

[2018-03-26 14:18] #45435 closed

[2018-03-26 14:20] #45767 closed

[2018-03-26 14:21] #44712 closed

[2018-03-26 14:22] aeschli commented on #44712
Note: Not supported: folding region for region marker starting on same line as other ends

[2018-03-26 14:22] Tyriar commented on #44302
The result of the investigation this iteration is:

- There are developments for serializing and restoring state in various UI components, we may use the same model as that for the terminal
- We may want to defer this behavior to extensions as the most compelling restore behavior comes when you can automate the creation of terminals that *run commands* like https://marketplace.visualstudio.com/ite

[2018-03-26 14:25] Tyriar commented on #45805
I believe this is fixed, there are no more references to `setHypertextLinkHandler` in vscode or xterm

[2018-03-26 14:25] #45805 closed

[2018-03-26 14:28] jrieken opened #46562 "F8 and related diagnostics"
This is a continuation of the discussion started in https://github.com/Microsoft/vscode/issues/10271#issuecomment-375760063, so F8 and related diagnostic information

[2018-03-26 14:29] Tyriar commented on #5458
@DarkLite1 unfortunately we got blocked by a snap issue (which is now resolved) and other priorities took over. It's on hold currently as we enter endgame for the March release.

[2018-03-26 14:30] jrieken commented on #10271
I'd like encourage to continue the discussion about F8 and related diagnostics in #46562 because this issue has become quite large already. I am also going ahead and I am closing this one so that we can test and ship the first versions of the various pieces involved (API, LSP, problem panel, hover, and F8)

[2018-03-26 14:30] #10271 closed

[2018-03-26 14:31] dmk255 opened #46563 "Go to definition: add mainFields to go to es6 code"
- VSCode Version: Version 1.21.1 (1.21.1)
- OS Version: Sierra 10.12.6 (16G1114)

## Steps to Reproduce:

1. Add a package with both a `main` and `module` or `jsnext:main` field. (ex. ` yarn add react-table`)
1. Import the package in a js file. Command click an import. This will go to the import under the `main` field.

## Desired Behavior:
The ability to configure which fields to resolve to (e.g.

[2018-03-26 14:33] jrieken commented on #46562
Todays, implementation is similar to the hover and it shows the related message below the actual message.

<img width="480" alt="screen shot 2018-03-26 at 16 31 25" src="https://user-images.githubusercontent.com/1794099/37912644-3af37f9c-3113-11e8-9a02-9ce25b77b5dc.png">

An alternative would be to show the messages in context, e.g load the line of code in question. See attached, un-pretty mockup.

[2018-03-26 14:36] isidorn commented on #46536
Well it is not only the symbolic link decoration but also the title of the resource.
For root resources I see the title of the target, for all other resources I see the title of the source.

It seems we are resolving roots in some other way compared to other resources.

After some investigation it seems that the issue comes from the `contextService.getWorkspace().folders` which gives the uri of th

[2018-03-26 14:37] jrieken opened #46564 "Test related diagnostics information"
Test for #10271
Complexity: 2

- [x] Any OS @isidorn
- [ ] Any OS @ramya-rao-a

Authors: @jrieken, @sandy081

We have added `vscode.DiagnosticsRelatedInformation` which is an extension to the existing diagnostics API. It allows diagnostics to point to other source locations helping to explain them better, e.g showing the first declaration of a symbol when having a duplicate symbol-name error. Writ

[2018-03-26 14:37] jrieken commented on #46564
FYI - to test against the latest API do the following:

* open your extensions `package.json` file
* change the `engine.vscode` property to `*`
* run `npm run postinstall` (assuming you have the `vscode` module as dev-dependency)
* undo the engine-version change from step 2

[2018-03-26 14:39] isidorn opened #46565 "Cannot read property 'getItem' of null:"
1. Have a workspace with a folder
2. Remove that folder from the workspace such that you no longer have any folder in that workspace
3. Notice error in console

Assigning to @joaomoreno due to https://github.com/Microsoft/vscode/commit/83558baef98f2035e4ac155828f8d146f9e542d8 which seems to have caused this

[code]

[2018-03-26 14:41] jrieken commented on #46551
Not a fan. A notification is a strong distractor and once extensions show them they grab the attention of the user. Giving them the opportunity to hide them isn't something I'd like us to support because the worst would be notifications that come and go and keep distracting me.

[2018-03-26 14:42] jrieken commented on #46551
/duplicate of https://github.com/Microsoft/vscode/issues/44122

[2018-03-26 14:42] #46551 closed

[2018-03-26 14:43] #46558 closed

[2018-03-26 14:44] ameerthehacker commented on #46545
Hi @joaomoreno I would like to take up this issue can you suggest me the file in which I should start looking for fixing this issue

[2018-03-26 14:45] jrieken commented on #46558
In vscode you would store your snippet in a `code-snippets`-file and define a scopes to target css and sass, see https://code.visualstudio.com/docs/editor/userdefinedsnippets#_creating-your-own-snippets

[2018-03-26 14:45] isidorn commented on #46383
Well the `copy value`, `add to watch` and the `copy evaluate path` actions depend on the `evaluatePath` field being there.
Since vscode is not constructing the path itself we could not show those actions, or show them as disabled for variables without an `evaluatePath`

@weinand thoughts?

[2018-03-26 14:48] xsburg commented on #31819
For those who come across this thread like I did.
Double check that the cog icon is enabled like in the picture below. When disabled, the search mechanism disregards the settings and goes over all directories. Solved the problem for me.

<img src="https://user-images.githubusercontent.com/830824/37913087-b8394cc6-311c-11e8-9028-c8d1a9c33c94.png" width="50%" height="50%">

[2018-03-26 14:48] #43972 closed

[2018-03-26 14:49] #44972 closed

[2018-03-26 14:49] #45144 closed

[2018-03-26 14:49] #45655 closed

[2018-03-26 14:49] #45672 closed

[2018-03-26 14:54] EricJizbaMSFT commented on #40758
@dbaeumer this is being solved by https://github.com/Microsoft/vscode/issues/45664 correct?  I would also like this support, but only found this issue originally and didn't realize it was being worked on - posting for the sake of others

[2018-03-26 14:59] certik commented on #46348
@joaomoreno I used those docs to figure out a workaround above, but those docs are insufficient to determine the answer to this bug report. I am happy to submit a PR improving the docs, but in order for me to do that, can you please confirm, that the below is correct:

* vscode will only support proxy settings via Chromium setup
* vscode will not support `http_proxy`, `https_proxy` and `no_proxy`,

[2018-03-26 15:00] weinand opened #46566 "Test: running DA in extension host"
Test for #45129:

**Please note**: since we do not ship this feature in March there is no need to have this tested by more than one dev.

- [ ] anyOS: @isidorn

Complexity: 3

Testing:
- Checkout the "cleanupDA" branch and build
- run VS Code from branch
- verify that debugging works correctly for both values of the user setting `debug.extensionHostDebugAdapter`.
- try this for the C++ or Python d

[2018-03-26 15:03] sandy081 commented on #45398
Check what built in extensions show and what the runtime extensions show

- Extensions: Show Built-in Extensions
- Developer: Show Running Extensions

[2018-03-26 15:08] z-ax commented on #12518
What? Are you serious?

[2018-03-26 15:09] isidorn commented on #46368
I have pushed a probably fix for this that the remove composite also makes sure it is properly deactivated.
To verify: please make sure you can not reproduce this behavior by changing panel position. And make sure changing panel / viewlet location still keps the active viewlets / panels shown in composite bars

@roblourens you might still be in bad shape after the fix, for that clear storage of `w

[2018-03-26 15:09] dbaeumer commented on #45980
I implemented the following changes for this milestone:

- the TaskExecution has a property task which references the task that got started.
- removed the terminateTask function and provided a TaskExecution#terminate now that the execution has properties. This makes it better extensible without polluting the global namespace

Did not do anything about 4, 5. Will do early next milestone.

[2018-03-26 15:09] #46368 closed

[2018-03-26 15:12] fabiospampinato commented on #10979
@weinand Exactly, I don't think the debugger is attaching itself fast enough. I'm not sure this can actually be done in every case, but we could certainly avoid the [1s delay](https://github.com/weinand/vscode-auto-attach/blob/cdfcb47ecb879395996b4c4ef9d7510085537d2e/src/extension.ts#L23) between polls if we used `code --inspect` or something like that. It's also worth noting that constantly polli

[2018-03-26 15:12] Macilias commented on #45398
- Extensions: Show Built-in Extensions:
nothing
- Developer: Show Running Extensions:
<img width="1752" alt="bildschirmfoto 2018-03-26 um 17 11 34" src="https://user-images.githubusercontent.com/883740/37915034-dccd03ba-3118-11e8-83f9-682bdfc7558e.png">

[2018-03-26 15:12] sandy081 commented on #46542
Duplicate of #30038

[2018-03-26 15:12] #46542 closed

[2018-03-26 15:16] sandy081 commented on #46513
@joaomoreno Is it could be due to the opening vscode from market place functionality?

[2018-03-26 15:18] sandy081 commented on #46432
@auchenberg May I know if the user has Defender enabled?  And does it work if Defender is disabled?

[2018-03-26 15:20] bpasero commented on #44302
@Tyriar my biggest use case is to reconnect to a running "`npm run watch`", is that covered here or should I file a new issue? This is to get rid of tmux finally...

[2018-03-26 15:21] sandy081 commented on #46018
@mars000 Can you please check what is there in the built in extensions and what extensions are disabled and what extensions are running

`Extensions: Show Built-in Extensions`
`Extensions: Show Disabled Extensions`
`Developer: Show Running Extensions`

[2018-03-26 15:21] bpasero commented on #46536
@isidorn @sandy081 I am quite sure that we are not `realpath` any of the root folders. We (should) only do that when you open a single folder, but maybe that changed?

[2018-03-26 15:21] #45314 closed

[2018-03-26 15:21] dbaeumer opened #46567 "Test: escaping and quoting in shell tasks"
Complexity: 4

- [x] windows @tsalinger
- [x] linux @chrmarti
- [x] macOS @ramya-rao-a

Up to now users had to provide a full command line for shell tasks to be able to do proper quoting and escaping. For this release we added some automatic quoting and gave users more control over the quoting as well.

## Test default quoting

- write a shell task in the tasks.json that passes an argument that ha

[2018-03-26 15:22] alexandrudima opened #46568 "Move visibleRanges to stable API"

[2018-03-26 15:25] sandy081 commented on #45398
@Macilias You are not seeing any Built in extensions?

[2018-03-26 15:27] isidorn commented on #46536
@bpasero well that is what I am seeing, just put a breakpoint [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/common/explorerModel.ts#L29) on startup in a single folder workspace

[2018-03-26 15:30] isidorn commented on #45265
This is designed behavior, since otherwise the centered editor would grow shrink - which is not expected for some people. As they could file exactly the opposite bug.
For now closing as designed, if more people complained I will consder changing this

[2018-03-26 15:30] #45265 closed

[2018-03-26 15:32] bpasero commented on #46536
@isidorn but this issue is about multi-root workspace, sorry if I did not make this clear.

[2018-03-26 15:35] Obbi89 commented on #35675
@paladdins maybe change it to:
[code]

[2018-03-26 15:38] #44524 closed

[2018-03-26 15:38] jonnypolite commented on #15319
I too would love to be able to switch tabs in MRU order without having the picker show up. Every time I see the picker it just slows me down. I'm trying to get used to it, but if I could have the *same tab switching behavior without the switcher* that would be ideal.

[2018-03-26 15:38] aeschli commented on #44342
duplicate of #46468

[2018-03-26 15:38] #44342 closed

[2018-03-26 15:42] isidorn commented on #46536
@bpasero that is what I meant. I was not clear sorry. So have a workspace, in that workspace have any number of folders I am getting the realpath from the `contextService` for each root

[2018-03-26 15:45] Macilias commented on #45398
@sandy081 I performand the command: Extensions: Show Built-in Extensions multiple times without any feedback from the app (beside the command has been marked as recently used)
Now after restarting the Application, a bar has shown up from the left:
<img width="876" alt="bildschirmfoto 2018-03-26 um 17 43 28" src="https://user-images.githubusercontent.com/883740/37916859-3873ac06-311d-11e8-9e64-9142

[2018-03-26 15:46] #46317 closed

[2018-03-26 15:47] dbaeumer opened #46569 "Test: proposed Task API"
Tests https://github.com/Microsoft/vscode/issues/45980

Complexity: 3

- [x] anyOS: @egamma
- [x] anyOS @sbatten

Write and extension that makes use of the new Task API to query and execute tasks.

## Fetch all available tasks

[code]

Ensure that this returns all tasks in the task system including contributed tasks (for example TypeScript auto detected build and watch tasks) and the once from the

[2018-03-26 15:48] weinand commented on #10979
- If the debugger doesn't attach quickly enough for debugging startup code, the `--xxxx-brk` options should be used. They exist exactly for this purpose.
- polling can always be tweaked but using `--xxxx-brk` is the way to go. My auto-attach extension is a prototype. The final feature is more sophisticated. BTW [NiM](https://chrome.google.com/webstore/detail/nodejs-v8-inspector-manag/gnhhdgbaldcil

[2018-03-26 15:48] #46097 closed

[2018-03-26 15:50] bpasero commented on #46536
@isidorn ok let me check...

[2018-03-26 15:55] #46568 closed

[2018-03-26 15:56] weinand opened #46570 "Test: Auto attach for Node-Debug"
Test for #42521:

- [x] windows @sbatten
- [x] macOS @chrmarti
- [x] linux @aeschli

Complexity: 2

In this milestone we've added an "Auto Attach" feature to VS Code's Node.js debugger. If enabled the node debugger (both protocols) automatically attaches to node.js processes that are launched in debug mode in VS Code's integrated terminal.

To enable the feature either use the "Toggle Auto Attach"

[2018-03-26 15:58] henryJack commented on #12518
For heaven's sake, please reopen this. This is clearly a core feature which needs to be addressed before we can take VSCode seriously

[2018-03-26 15:58] nehashri commented on #7340
@jrieken  In Gauge each line/step in Markdown is mapped to a method signature. In the above example, the lines
[code]
is similar to a function call with parameters. The signature of the function being `A sample step with some params <table>`. The parameter `<table>` gets the value
[code]
In this case rename would span more than one line. Hence, showing the signature would be more useful.

Also, le

[2018-03-26 15:59] henryJack commented on #12518
*Dot Net Core

[2018-03-26 16:01] octref commented on #46527
He's saying Ctrl + Z always goes back to top (of the file, I guess).

[2018-03-26 16:01] meichthys commented on #43169
@Tyriar  Installing an older version has fixed the issue for me.
I installed: https://code.visualstudio.com/updates/v1_20
I'll plan on running this version until the issue is resolved.

[2018-03-26 16:06] rhyek commented on #43548
Ok, so I'm using 1.21.1 and removed the jsconfig.js file. So no mappings of any sort now. I am still getting this issue every now and then. Not sure what is causing it. The output logs aren't showing anything I would consider relevant at first glance.

[2018-03-26 16:08] DanTup commented on #46551
@jrieken

I understand, but there are many places where we end up with a worse user experience.

For example, I was just implementing some refactors, like `Extract Method`. If the user tries to name their method with invalid characters, I show an error. The modal errors look terrible so I use this notification. If the user reads the notification in the corner of the screen then decides to just re-

[2018-03-26 16:08] DanTup commented on #44122
Copying my comment from other case that was marked as a dupe so discussion is all in one place...

@jrieken

I understand, but there are many places where we end up with a worse user experience.

For example, I was just implementing some refactors, like `Extract Method`. If the user tries to name their method with invalid characters, I show an error. The modal errors look terrible so I use this no

[2018-03-26 16:09] isidorn commented on #46237
The issue here is that this [method](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/viewlet.ts#L36) in Viewlet always returns `Hide Sidebar`.
Search is a viewlet, so it should override this method and return more precise actions based on its location.

@roblourens I do not think you introduced the notion of a search location inside the `SearchView`. Correct?
Do you plan t

[2018-03-26 16:09] roblourens commented on #46394
You indicated that this only reproduces with extensions, do you know which extension is interfering with it?

[2018-03-26 16:12] roblourens commented on #46494
The missing files that you are expecting to see results in - are you sure they aren't covered by the search.exclude setting or a gitignore file?

[2018-03-26 16:15] isidorn commented on #46237
Also @sandy081 I belive has added the `getContextMenuActions` to the `Viewlet` via https://github.com/Microsoft/vscode/commit/d127e5777cc8d98e1033dd6b1dbe71837499d94a

And that code is not written in mind that a View can be also in a panel.

@sandy081 the issue with your approach is that in compoistePart [here](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/composit

[2018-03-26 16:22] bpasero commented on #46536
As discussed, you need to add the link to the file manually, not going through a picker.

[2018-03-26 16:28] dvdsgl commented on #24634
(Posting this comment from #46454 since it was a closed duplicate.)

I think some more subtlety may be warranted here. I mentioned counterintuitive focus behavior #46454 and this issue was referenced as a remedy but I think it may go too far and have some weird side effects for interaction.

Xcode's default behavior is to move focus to the clicked editor, even when Xcode becomes focused from the b

[2018-03-26 16:31] eamodio opened #46571 "Support command links in notifications"
Now that notifications support links via markdown (which should be documented), it would be great if there was support for command links.

Can probably reuse `MarkdownString` if these will need to be trusted in the same way as hovers.

//cc @jrieken @bpasero

[2018-03-26 16:31] isidorn commented on #46536
@bpasero good catch. The issue was that I forgot to update the explorerItem merge method to respect `isSymbolicLink`

[2018-03-26 16:32] roblourens commented on #46492
That sentence is an example of what does work - searching folder names that are subfolders of a root folder. I guess I confused the scenario by introducing a second thing called 'foo', I'll change the example

[2018-03-26 16:32] #46492 closed

[2018-03-26 16:32] weinand opened #46572 "Test: surface logMessage in extension API"
Test for #45643:

- [x] anyOS @roblourens

Complexity: 3

In this milestone we are surfacing LogPoints in the Breakpoints API via the "logMessage" attribute.

Create an extension based on the code from https://github.com/Microsoft/vscode/issues/42321 to verify that the logMessage has the correct value and that you can create LogPoints from the extension.

(Or write an extension that dumps all brea

[2018-03-26 16:40] isidorn commented on #42573
We are already in endgame, and from Thu I am on vacation -> pushing this to April

[2018-03-26 16:48] fabiospampinato commented on #10979
If I knew a way to attach chrome's debugger programmatically I would do that instead.

I've never used it so you're definitely right. I took for granted that those options where named after node's `--inspect` and `--inspect-brk` options, implying that whoever added those into Code probably thought about `code --inspect` too. I'm sorry for the confusion.

I'm sorry I should have defined it in a mor

[2018-03-26 16:52] bpasero commented on #46536
@isidorn there still seems to be a case where this does not work:

![before](https://user-images.githubusercontent.com/900690/37920334-e07b8942-3126-11e8-975a-4054f3dd9b89.gif)

[2018-03-26 16:56] bpasero commented on #24634
@dvdsgl interesting, I was not aware that these editors would enable it by default. I would be willing to maybe enable this setting by default but having a setting to disable this seems like a good idea in case people really do not like this behaviour?

[2018-03-26 17:00] bpasero commented on #46571
I am not sure about `MarkdownString` because that might draw the wrong assumption that notifications support any markdown. Currently we only support links (http / https) and I would stay away from opening that too much to ensure notifications always have a consistent look.

I agree though that currently the fact that links are supported is a bit magic and hidden.

[2018-03-26 17:07] sosensible commented on #45413
It did finally upgrade right, but it did not notify me when it was ready.
It set the gear to the (1) count but not a notice. It just looked like it
was trying to tell me the same thing again. I expected a popup. Good enough
for now.

On Mon, Mar 26, 2018 at 10:07 AM, João Moreno <notifications@github.com>
wrote:

[2018-03-26 17:10] eamodio commented on #46571
Yeah, definitely agree on the look/styling (although bold and italic might be nice), but command links could be valuable. For example, I am adding a notice to GitLens if you have the old set of keyboard shortcuts (which are known to conflict with other keyboard layouts), and I attempted to provide a link to open the *GitLens Settings* editor if someone wanted to jump there.

Something like this:
!

[2018-03-26 17:12] Jonathandelacruzp commented on #46502
Visual Code opens the browser when starting with the visual code download page as a popup, It is annoying when I open the visual and the browser gets in front even when I open a new window.

some solution to avoid the start pop-up window.
Thanks.

[2018-03-26 17:14] ThadHouse opened #46573 "Expose electrons app.getPath() to extension API (or equivalent)"
I am working on an extension, and am using `showOpenDialog` to display an open dialog to my users. I want to make this folder by default point to `~/Documents`. When I was writing in electron, I had access to `app.getPath('documents')`, however I don't see an equivalent API either in raw node, or the vscode extension API. Could a function like that be added to the vscode extension API?

[2018-03-26 17:18] ggb667 opened #46574 "Only show launch configurations for the "active workspace" not for all"
The debug configurations set for a workspace should only show for the workspace of the currently open file.  If I have 23 repos, 23 x number of configurations in .vscode/launch.json of the same thing in the drop down is daunting to sort through.

In addition, debug breakpoints should only show for the workspace**s** of currently open files.  With 23 sets worth of debug breakpoints the ones I am wo

[2018-03-26 17:20] akaroml commented on #46451
@jrieken Thanks for the info.

@yaohaizh Can this solve the problem?

[2018-03-26 17:21] fab1o commented on #46366
for ref: https://github.com/jesseweed/seti-ui/issues/486

[2018-03-26 17:22] ThadHouse commented on #45980
Would it be possible to query the `stdout` and `stderr`  of a task from an extension, either during the execution with an event or afterward? Either one works, but it would enable some more advanced problem matchers, and possibility to use tasks instead of custom `exec` node commands.

[2018-03-26 17:23] isidorn commented on #46574
Filtering down the list is a fair feature request thus I can keep this open.

As for .vscode picking up a launch configuration to use for all open workspaces please checkout the launch configurations in a workspace configuraiton file https://code.visualstudio.com/updates/v1_20#_improved-debugging-support-for-multi-root-workspaces

[2018-03-26 17:25] andy-ms opened #46575 "Rendering errors while searching"
Issue Type: <b>Bug</b>

Error reproduces while searching in a large text file. The error is not reliable and goes away after a few seconds even if I don't touch anything. I can only reproduce this in insiders.
If it helps, the file is https://github.com/Microsoft/TypeScript/blob/master/src/services/pathCompletions.ts .

![rendering](https://user-images.githubusercontent.com/19274678/37921827-b6e7f

[2018-03-26 17:27] andy-ms commented on #46575
Looks like those are only flagged as duplicates because I filled them out using the issue reporter, thus the exact same system info is included. The issue *bodies* are separate.

[2018-03-26 17:33] garyking commented on #46138
Oh okay, that'll do it.

[2018-03-26 17:36] leanderr opened #46576 "Smartselect grow and shrink fail for certain documents"
Issue Type: <b>Bug</b>

Those two don't produce any result on a few of my longer Typescript files.
Tried resettings, rebooting...

editor.action.smartSelect.grow
editor.action.smartSelect.shrink

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:47:13.351Z)
OS version: Windows_NT ia32 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|

[2018-03-26 17:36] roblourens commented on #46414
This is by design, when attached to a process, any output that comes over the debug port is written to the console. Is that a problem?

That's true, writing directly to the output stream doesn't send it through the debug port.

[2018-03-26 17:37] osstekz opened #46577 "Terminal window does not resize with container"
Issue Type: <b>Bug</b>

Generate output exceeding terminal view area.
Drag container panel top does not vertical-resize terminal window.

VS Code version: Code - Insiders 1.22.0-insider (a918e7b3ef2feaf2c9fbf003e936084eaaf53f76, 2018-03-26T13:16:09.094Z)
OS version: Linux x64 4.13.0-37-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) Dual  CPU  E2

[2018-03-26 17:38] tsalinger opened #46578 "Test: Sublime Settings Importer"
Test for #45984

- [x] macOS @gregvanl
- [x] linux @Tyriar
- [x] windows @bpasero

Complexity: 3

Authors: @tsalinger, @sandy081

**Note:** Please file issues in this repository: https://github.com/Microsoft/vscode-sublime-importer

### Prerequisite
- Download [vscode-sublime-importer-1.0.1.zip](https://github.com/Microsoft/vscode/files/1850763/vscode-sublime-importer-1.0.1.zip)

- Rename it from

[2018-03-26 17:38] dvdsgl commented on #24634
@bpasero I recommend not having an option to disable, but considering it if you get any evidence that the Xcode behavior is problematic.

[2018-03-26 17:41] roblourens commented on #46237
I don't plan to add that.

[2018-03-26 17:48] #46122 closed

[2018-03-26 17:49] #46121 closed

[2018-03-26 18:04] ramya-rao-a commented on #46407
I also cannot repro the issue in 1.18. So even if you cant update to the latest version of VS Code, upgrading to 1.18 should help here

[2018-03-26 18:13] kallebornemark commented on #46462
My `PATH` includes the folder in which I have VS Code installed (`C:\Program Files\Microsoft VS Code`).

Is the behavior I explained not the intended one?

[2018-03-26 18:25] gregg-miskelly commented on #46270
@bpasero are you using Linux? I don't see the issue on OSX. I will check what the input is.

[2018-03-26 18:28] urbantrout opened #46579 "Unable to stage file if path contains a space"
- VSCode Version: 1.21.1
- OS Version: macOS 10.13.3

Steps to Reproduce:

1. Open git project with a path that contains a space, e.g. `/Users/user1/Projects/My Project`
2. Add or modify file
3. Stage this file
4. VSCode show error message:
   ```git: fatal: /Users/user1/Projects/My Project/somefile.txt: '/Users/user1/Projects/My Project/somefile.txt' is outside repository```

Does this issue occu

[2018-03-26 18:28] ramya-rao-a commented on #46452
@aeschli Yes, those tests needed to be commented as the work for #29113 was reverted

[2018-03-26 18:32] patrys commented on #10121
This is free software. You've paid nothing for it. If not having this feature truly prevents you from using VS Code then you are free to contribute a pull request that implements at least some of the required changes to get this working. Alternatively you can take your zero dollars and spend it elsewhere.

What you should not do is whine and try to guilt trip the great team behind VS Code into fee

[2018-03-26 18:35] saarlevin opened #46580 "terminal console present some string from old command"
Hi ,
when i running command with few lines of code ,
and i want to see command history (up boton) some string "stick" to the screen .

any option to fix this ?

thanks .

[2018-03-26 18:46] gregg-miskelly commented on #46270
Here was the input: `"fut8qEkPJtmF0lntCUnlGDjD1mnsIvnBjycgqcZ4Z4E="`.

[2018-03-26 19:03] #46543 closed

[2018-03-26 19:03] isidorn commented on #46536
@bpasero the issue with that corner case is timing.
I first get the event that workspaceRoots changes, the decorations update, and only then is the fileStat actually merged.

A proper fix would be for the [DecorationProvider](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/electron-browser/views/explorerDecorationsProvider.ts#L16) to also listen on whenever a file gets

[2018-03-26 19:05] mjbvz commented on #46563
Thanks!

Looks like this is already tracked upstream by https://github.com/Microsoft/TypeScript/issues/21423

[2018-03-26 19:05] #46563 closed

[2018-03-26 19:05] mjbvz commented on #46497
Duplicate of #46448

[2018-03-26 19:05] #46497 closed

[2018-03-26 19:09] mjbvz commented on #46457
I believe this was fixed by 6c04bb4b642db30e7174cb6e35bbc3b124dcf563 . Please try the latest insiders build and let me know if you still see the issue

[2018-03-26 19:10] daniel88ferreira opened #46581 "VSCode snap doesn't load fontconfig 2.13 definitions"
- VSCode Version: 1.20.1
- OS Version: Linux 4.15.12-1-ARCH x86_64

Steps to Reproduce:
1. Update to fontconfig 2.13.x.
2. Launch Vscode snap.

Does this issue occur when all extensions are disabled?: Yes

After upgrading fontconfig to 2.13, font hinting is wrong:
![app js - pmfe - visual studio code_885](https://user-images.githubusercontent.com/23555804/37926793-effba1c0-3155-11e8-8a0c-13a5cbde0

[2018-03-26 19:10] Nepoxx commented on #10121
This thread is contributing absolutely nothing so far. We don't need posts about how you want this feature, +1s, the perceived absurdity of having this feature or not, etc.

I'd be interested in participating in developing this feature, however this thread is not helping. Anyone know if there's a more technical discussion about this issue elsewhere? From what I looked at, it seem like this would i

[2018-03-26 19:11] Dominik-K commented on #1176
FYI: Another option would be the [YAML Support by Red Hat](https://github.com/redhat-developer/vscode-yaml) extension. The underlying [yaml-language-server](https://github.com/redhat-developer/yaml-language-server) integrates all schemas from the [JSON Schema Store](http://schemastore.org/json/). Kubernetes schema is currently [included from a Gist](https://gist.github.com/JPinkney/ccaf3909ef811e5

[2018-03-26 19:11] weinand commented on #10979
@fabiospampinato yes, something like `code --launch '{ .... }'` makes sense and aligns well with our thinking.

[2018-03-26 19:14] mjbvz commented on #46479
The built-in js/ts support already allows:

[code]

Support for the `export TextField from` syntax is tracked by https://github.com/Microsoft/TypeScript/issues/4813

[2018-03-26 19:14] #46479 closed

[2018-03-26 19:14] jtsom commented on #46270
FYI I'm seeing this also, on Linux:
Distributor ID: Ubuntu
Description:    Ubuntu 17.10
Release:        17.10
Codename:       artful

Latest Insiders / C# extension.

[2018-03-26 19:17] mjbvz commented on #46463
This issue was moved to Microsoft/TypeScript#22884

[2018-03-26 19:17] #46463 closed

[2018-03-26 19:20] weinand opened #46582 "Test: improved process picker"
Test for #42521:

- [x] windows @tsalinger
- [x] macOS @gushuro
- [x] linux @aeschli

Complexity: 3

In this milestone we've have improved the Process Picker:
- it does not only show `node` processes but also all processes that use the `--debug` or `--inspector` arguments (e.g. Electron's helper processes). So the picker can now deal both with process ids and inspector and debug ports.
![2018-03-1

[2018-03-26 19:22] eamodio commented on #46573
I'm not 100% this is what you are after but [`ExtensionContext`](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-nameextensioncontextaspan-classcodeitem-id1180extensioncontextspan) in the vscode api, has properties and methods for dealing with paths. Specifically `asAbsolutePath(relativePath: string): string`

Hope that helps.

[2018-03-26 19:25] mjbvz commented on #46485
@deng4437 Can you test this on the latest VS Code version (1.21). Also, please try disabling all extensions to see if one of these is causing issues

[2018-03-26 19:27] #39918 closed

[2018-03-26 19:27] mjbvz commented on #46474
Likely duplicate of https://github.com/Microsoft/TypeScript/issues/21738

Please test in the current vscode insiders which includes TypeScript 2.8 and let me know if you still hit this issue

[2018-03-26 19:27] #46474 closed

[2018-03-26 19:29] jtsom opened #46583 "Changing Size of Integrated Terminal Does Not Change text rows"
Issue Type: <b>Bug</b>

Open an integrated terminal. Try to resize the pane larger, either by dragging the splitter, or clicking the Expand icon. The pane resizes, but the number of rows in the terminal window does not change. (ie, if the window started with 6 rows of text, expanding the pane will grow the pane, but the "terminal" will still only take 6 rows at the bottom of the window.

VS Code v

[2018-03-26 19:30] jtsom commented on #46583
Update: This happens on all platforms - Linux, Windows and OS X.

[2018-03-26 19:31] ThadHouse commented on #46573
That's not exactly. That won't help me get a system path, just get absolute if I already had a relative path (I don't have either )

[2018-03-26 19:31] jtsom commented on #46583
I see this was reported in #46577.

[2018-03-26 19:31] #46583 closed

[2018-03-26 19:32] jtsom commented on #46577
FYI, This happens on all platforms - Mac OS, Windows, Linux

[2018-03-26 19:32] #35589 closed

[2018-03-26 19:34] mjbvz commented on #46495
Duplicate of #34525. See the discussion and links on https://github.com/atom/language-c/issues/250 for why this is difficult to fix

[2018-03-26 19:34] #46495 closed

[2018-03-26 19:36] nojvek commented on #46005
yeah touchbar simulator was fine. In fact with touch bar simulator on, I couldn't even repro the problem. May the touch bar simulator is somehow making a force refresh of the touch bar UI or something not sure.

@bpasero  Is there a way to tell touch bar to re-draw once debugger state changes ?

[2018-03-26 19:36] eamodio commented on #46573
Ah, sorry about that -- should have looked into electron's `getPath` first.

[2018-03-26 19:37] RoyTinker commented on #10121
@Nepoxx You could always open a new issue, link to this one, and say that the thread is for technical discussion.

[2018-03-26 19:41] commendatore commented on #10121
@Nepoxx You are here just to give thumbs down opinions and comments from people. Start with the technical and worthy discussion then. We all know the limitations of the platform, we try to give relevance to the topic so Microsoft team gives importance to the issue. We all have different needs and you should not say others opinions are worthless. Why you follow this thread anyway.

[2018-03-26 19:43] mjbvz commented on #46450
This issue was moved to Microsoft/TypeScript#22885

[2018-03-26 19:43] #46450 closed

[2018-03-26 19:44] kasper3 commented on #585
Can we chalk out the plan and issue a checkbox'd TODO list in first comment?

[2018-03-26 19:48] alpaix commented on #45980
@dbaeumer Thanks for addressing the feedback. Here are some thoughts:
1. I planned to cache tasks on a remote instance to avoid querying the host every time and reduce latency. This is merely an optimization feature I can proceed without it.
2. New Task property on the `TaskExecution` is exactly what I needed to relate it to the original task.
3. I'm planning to create a collection of shadow tasks

[2018-03-26 19:51] alpaix commented on #45980
I'm also interested in capturing `stdout` of a task. @dbaeumer Did you consider such functionality as part of the Task Execution Provider?

[2018-03-26 19:52] garyking opened #46584 "Open marketplace URL in VS Code, "Would you like to install?" should not appear"
I'm viewing an extension in the marketplace, like [Ruby](https://marketplace.visualstudio.com/items?itemName=rebornix.Ruby), I click Install to open the page in VSC. I already have the extension installed, yet it still says "Would you like to install the 'Ruby' extension?".

Instead, the notification should not appear if it's already installed.

[2018-03-26 19:52] rozzzly commented on #10121
@patrys "you are free to contribute a pull request that implements at least some of the required changes to get this working"

**That would require the VSCode team to publicly discuss a plan for implementing this highly requested functionality.** It's too huge of an issue for anyone individual to create some massive PR implementing the _even most basic functionality_—after all, every file dealing

[2018-03-26 19:54] gwsone commented on #13680
Maybe it can be done by using the bash (WSL) on Windows 10.

[2018-03-26 20:02] Fsarmento commented on #46362
Hi @dbaeumer thanks for your reply.
My terminal is using bash
[code]

Using bach explicitly in task.json as you suggested does not solve the problem. The task still does not terminate. I still have to press ctrl + c to stop it.

However, after your reply, I did some experiments and I realized that the task is not even reaching the "exit" instruction.

[code]

The terminal only prints hello, not go

[2018-03-26 20:10] eamodio opened #46585 "Allow new WebView to be placed in its own sidebar activity"
This request is similar to https://github.com/Microsoft/vscode/issues/43049 but I feel it is different enough to warrant this request.

To reiterate from https://github.com/Microsoft/vscode/issues/43049#issuecomment-372918050

While having webviews as editors is great, depending on the use-case, they can end up being the only mechanism for an extension to provide richer behaviors and interactions

[2018-03-26 20:15] #8574 closed

[2018-03-26 20:27] alexandrudima commented on #45486
@madskonradsen  It looks like you have disabled the glyph margin via user settings? If you write `editor.glyphMargin: false` in user settings, then the glyph margin is hidden.

[2018-03-26 20:27] #45486 closed

[2018-03-26 20:28] marinehero commented on #46534
Yes.

On Monday, March 26, 2018, Benjamin Pasero <notifications@github.com> wrote:

--

James Pereira
about.me/marinehero
[image: James Pereira on about.me]
  <http://about.me/marinehero>Enterprise Architect & Performance Consultant
Tel:  +27 21 461-3714, Fax:  +27 21 461-3714, Cell: +27 82 888-8889 email:
pereira.rjp@gmail.com skype: gemspereira

[2018-03-26 20:29] alexandrudima commented on #45539
@bpasero duplicate of #38163

See https://github.com/Microsoft/vscode/issues/38163#issuecomment-345230613

[2018-03-26 20:29] #46577 closed

[2018-03-26 20:29] Tyriar commented on #46580
@saarlevin do you use zsh?

[2018-03-26 20:32] rogeralsing commented on #10121
Here is a suggestion for everyone requesting this, if undockable tabs has such immense value for you and your company. Why not set up a crowdfunding for it?

If you can afford 4 monitors just for the increased productivity benefit, I assume that you can also afford spending some money on the development of such feature.

SorryNotSorry

[2018-03-26 20:33] alexandrudima commented on #45569
@Tyriar steps:
1. launch a vscode window with the terminal hidden
2. update vscode
3. toggle terminal

Can we at least send a signal or something such that we at least disable error telemetry... Or perhaps show the user a message that everything is broken...

[2018-03-26 20:41] #43723 closed

[2018-03-26 20:42] #23169 closed

[2018-03-26 20:43] ramya-rao-a commented on #29113
https://github.com/Microsoft/vscode-css-languageservice/issues/81 and https://github.com/Microsoft/vscode-css-languageservice/issues/69 are 2 issues in the css language service that stops us from moving emmet to the css extension

[2018-03-26 20:47] mjbvz commented on #46464
This issue was moved to Microsoft/TypeScript#22889

[2018-03-26 20:47] #46464 closed

[2018-03-26 20:47] ramya-rao-a commented on #46434
@jrieken numbers are trigger characters for emmet completion provider. Looks like even when `editor.quickSuggestions.comments` is `false`, typing a trigger character inside comments does trigger completions.

[2018-03-26 20:48] isidorn opened #46586 "First character gets ignored when filling out completions"
Refs: #45962

1. Glyph margin -> add conditional breakpoint
2. Start typing, notice that the inteli-sense is ignoring the first character

If I first do ctrl + space and then type, inteli-sense properly respects every character

@jrieken Might you have some hints as to what I am doing wrong?
code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/

[2018-03-26 20:51] mjbvz commented on #46413
I'm not convinced this makes sense for core VS Code, but an extension could certainly add this functionality

Closing as extension candidate

[2018-03-26 20:51] #46413 closed

[2018-03-26 20:54] oriash93 commented on #46556
https://github.com/Microsoft/vscode/blob/4ba0ecc3d54609cb6c6d10e3301a1e3b68119255/src/vs/editor/contrib/snippet/test/snippetVariables.test.ts#L290

Isn't that enough?
What is required to be tested?

[2018-03-26 20:54] isidorn commented on #45127
Done via https://github.com/Microsoft/vscode/pull/46540

[2018-03-26 20:54] #45127 closed

[2018-03-26 20:55] mjbvz commented on #46546
Thanks. I suspect many of these issues have different root causes as broken intellisense is a very generic term.

If you are seeing any issues related to intellisense, please open new issues instead of commenting on an existing one. This makes followup and tracking simpler

Will continue following up on the individual issues

[2018-03-26 20:55] #46546 closed

[2018-03-26 20:56] chrmarti opened #46587 "Test: Multi-Select QuickPick"
- [x] macOS @gushuro
- [x] linux @Tyriar
- [x] windows @dbaeumer

Complexity: 4

Plan item: #45589

There is a new option `canSelectMany` on `QuickPickOptions` in the extension API for `window.showQuickPick`. Write some extension code to check:
- That option makes sense and the (new) QuickPick UI and API work as expected.
- The new QuickPick does not overlap with other "picker" UI in the same loca

[2018-03-26 20:58] patrys commented on #10121
@rozzzly Would you consider paying the taxi driver to get you to your (not their) desired destination? Just saying.

[2018-03-26 20:58] mjbvz commented on #46393
Are you writing js or ts? You can still try installing `@types/node` in either case to see if that fixes the issue

And please run with extensions disabled to determine where the error is coming from. Also try using the current VS Code insiders build to make sure you have the latest fixes

[2018-03-26 20:59] Tyriar commented on #42521
@weinand we published the module this morning and @RMacfarlane pulled it into vscode master. So it's good to go. Note that we haven't actually tested the new APIs yet inside VS Code, only hooked up the old one which seems to work fine.

[2018-03-26 20:59] #41968 closed

[2018-03-26 21:01] Legends commented on #46393
`js`. But closing this for now, as I don't have this issue anymore...

[2018-03-26 21:01] #46393 closed

[2018-03-26 21:01] Tyriar commented on #42521
@weinand you will want to use `getProcessList` and pass in the `ProcessDataFlag.CommandLine` flag:

https://github.com/Microsoft/vscode-windows-process-tree/blob/master/typings/windows-process-tree.d.ts#L55

[2018-03-26 21:02] aeschli opened #46588 "Test folding improvements"
Test for #45981:

- [x] win @dbaeumer (JSON)
- [x] anyOS @bpasero  (HTML)

Complexity: 3

Cancellation with folding providers and limiting the number of transmitted regions to 5000.

- open a very large JSON file
- collapse some regions
- observe the folding ranges while typing.
   -> the collapse regions should never unfold
   -> no slowness can be observed, no old regions applied
- enable tracin

[2018-03-26 21:03] #45949 closed

[2018-03-26 21:05] chrmarti commented on #45589
Implemented the multi-select picker and did mockups for multi-step input for March. Closing as this concludes the exploration. Will track additional work in new issues.

[2018-03-26 21:09] alex-polosky commented on #10121
@rogeralsing sure thing, just direct me to where I can throw money at Microsoft to help implement this.

[2018-03-26 21:10] NeilMacMullen commented on #46337
@sandy081  I'm using a VS-Code build task which invokes gcc to build C++ files.  The compiler often emits warnings such as
Warning: foo.cpp (86,3): unsafe cast ……
I use a regex-based Problem Matcher in the build task to parse the build output and pass it to the 'Problems' tab in the VS-Code window.

[2018-03-26 21:14] mjbvz opened #46589 "Test organize imports"
- [x] anyOS @isidorn
- [x] anyOS @jrieken

Complexity: 2

## Overview
The new organize imports command for JS and TS removes unused imports and sorts the remaining imports. It can be triggered using a command or with alt+shift+o

## Testing
- Try using organize imports in the vscode codebase
     - Try introducing some unused imports and verifying that these are removed
- Try using organize import

[2018-03-26 21:15] jackjwilliams commented on #10121
@bpasero maybe we should lock this issue for comments, because we're over here arguing about taxi drivers 🤣

[2018-03-26 21:19] #46305 closed

[2018-03-26 21:20] ramya-rao-a commented on #46305
Thanks for reporting @user3323!
The fix will be available in tomorrow's Insiders build.

Note to verifier:
Add the below settings to repro the issue in 1.21 stable
[code]

[2018-03-26 21:25] JimSuplizio commented on #46193
@joaomoreno Does this mean that tomorrow's build (or whenever the next insiders build comes out) should have your update?

[2018-03-26 21:31] #45867 closed

[2018-03-26 21:31] mjbvz commented on #45215
Sorry, this issue feel off my radar

Opening a `d.ts` is generally the expected behavior for node_modules. We use these `d.ts` to provide intellisense without having to try to parse the module's code itself.

There are a few issues already tracking a better story for this:

- https://github.com/Microsoft/TypeScript/issues/14479 for ts source
- https://github.com/Microsoft/TypeScript/issues/6209

C

[2018-03-26 21:33] #45215 closed

[2018-03-26 21:36] mjbvz opened #46590 "Allow disabling TS suggestions level diagnostics"
From #45378

Add a new setting to disable suggest diagnostics in js and ts files. This setting should be on by default

Proposed names: `javascript.suggestionDiagnostics.enabled` and `typescript.suggestionDiagnostics.enabled`

[2018-03-26 21:44] octref commented on #45899
Closed via #46117.

[2018-03-26 21:44] #45899 closed

[2018-03-26 21:48] winzig opened #46592 "Cannot get Debug Console REPL to work with .NET Core web app"
- VSCode Version: 1.21.1
- OS Version: macOS High Sierra 10.13.3
- C# for Visual Studio Code (powered by OmniSharp),  ms-vscode.csharp 1.14.0

Steps to Reproduce:

1. Create sample web app at the command line (`dotnet new web`) or [clone my sample web app](https://github.com/winzig/SampleWebApp) that I created using that command.
2. Open the sample web app folder in VS Code.
3. Start debugging (yo

[2018-03-26 22:01] Tyriar commented on #44647
To verifier:

Previously even scroll events that would translate to 1px would scroll a full line. Scrolling should now feel more natural, just like in the editor.

[2018-03-26 22:01] DonJayamanne opened #46593 "Debugger telemetry missing vital information"
Telemetry sent through Debug Apdaters do not contain the following information:
- Extension Name
- Extension Version
- OS
- OS Version
- VS Code Version

Currently we're sending telemetry using the `output` event with the category of `telemetry`.
However looking at the data, the above information is missing.

Are we (Python Extension) missing something?

[2018-03-26 22:03] auchenberg commented on #46432
Emailed the customer and added you on the thread @sandy081

[2018-03-26 22:05] #44417 closed

[2018-03-26 22:06] Tyriar opened #46594 "Test: Terminal Command Navigation"
#45435

- [ ] macOS @chrisdias
- [x] Any OS @kieferrm

The terminal now allows navigating and selecting between commands run inside the terminal. This is done by guessing where a command is based on when enter is pressed, specifically if the line length is 2 characters or more.

See https://github.com/Microsoft/vscode/issues/45435#issuecomment-375035299 for keybindings/commands to test. On Windows

[2018-03-26 22:14] Toisen commented on #35197
Now I'm using following keybindings while waiting for fix:
`{
        "key": "[",
        "command": "editor.action.insertSnippet",
        "when": "editorTextFocus",
        "args": {
          "snippet": "[$1]"
        }
      },
      {
        "key": "shift+[",
        "command": "editor.action.insertSnippet",
        "when": "editorTextFocus",
        "args": {
          "snippet": "{$1}"

[2018-03-26 22:27] mjbvz commented on #46590
Using names: `javascript.suggestionActions.enabled` and `typescriptscript.suggestionActions.enabled`

[2018-03-26 22:29] #46590 closed

[2018-03-26 22:31] RMacfarlane opened #46595 "Test: Filing issues on extensions within issue reporter"
Test for https://github.com/Microsoft/vscode/issues/45673

- [x] macOS @kieferrm
- [ ] windows @auchenberg
- [x] linux @mjbvz
- [x] macOS @joaomoreno

Complexity: 2

The issue reporter now has an option for filing against an extension instead of VSCode. Verify that you can select an extension to file against and are directed to the extension's repository.
- The extension version should be in the s

[2018-03-26 22:31] mesternefeld commented on #43949
Sorry @joaomoreno I thought I replied. I tried to send you an email but my email bounced. Unsure if you sent the correct thing.

[2018-03-26 22:36] mjbvz opened #46596 "Test JS/TS suggestion diagnostics"
- [x] anyOS @RMacfarlane
- [x] anyOS @weinand

Complexity: 2

## Overview
TypeScript added a new diagnostics level called suggestion. These diagnostics are used to propose code actions and quick fixes to users. They are indicated by a `...` underline in the editor

## Testing
- Find some older js/node code
- Open a file that users `require` or has an old style `function` class
    - There should b

[2018-03-26 22:38] roblourens commented on #46297
Could you try invoking rg manually from the command line to see whether it gives any other error?

Using the command from this screenshot

![1521685328 1](https://user-images.githubusercontent.com/5753805/37747589-ecb1e4d2-2dba-11e8-90f7-b2e36828b444.jpg)

in the second log message, starting with `rg --hidden --heading...` but replace the `rg` with the full path in the error message (`i:\Users\gen

[2018-03-26 22:42] mjbvz opened #46597 "Test new JS/TS syntax based folding"
- [x] anyOS @jrieken
- [x] anyOS @weinand

Complexity: 2

## Overview
VS Code now uses syntax based code folding by default for JS and TS

## Testing
- Navigate around the VS Code Code base (make sure you are using VS Code's version of typescript) and test basic folding operations.
- Confirm that removing indentation does not effect folding
- Try breaking things

#45950

[2018-03-26 22:43] franklin-ross commented on #36913
Just want to chime in again to say that @eterevsky s comments are very consistent with my experience on windows too. There does seem to be a threshold at about a quarter or third of the screen space were the issue first appears, and it mostly only presents on my high DPI screen so my guess is it's more about pixels them characters. It also doesn't seem as bad if the side bar is open, which one aga

[2018-03-26 22:45] Bram-Zijp commented on #46025
@mjbvz
Could I send you my log in private?

[2018-03-26 22:51] mjbvz commented on #35806
Thanks. I believe this is a duplicate of https://github.com/Microsoft/TypeScript/issues/22106 which is itself a duplicate of https://github.com/Microsoft/TypeScript/issues/1150 . If this is getting super annoying, you can disable the feature entirely by setting: `"editor.parameterHints": false`

Closing as upstream

[2018-03-26 22:51] #35806 closed

[2018-03-26 22:55] mjbvz commented on #20802
Depends on https://github.com/Microsoft/TypeScript/issues/22419

[2018-03-26 23:01] mjbvz commented on #46025
Yes, you can either use the VS Code secure log uploader to upload your session logs:

1. With `"typescript.tsserver.log": "verbose"` enabled
1. Restart vscode
1. Reproduce the problem
1. Run `code --upload-logs` and follow instructions (`code-insiders --upload-logs`)
1. Share the log file ID

Or email it to me (matb at microsoft.com)

[2018-03-26 23:05] heuripedes opened #46598 "VS Code unresponsible at random times while editing text"
Issue Type: <b>Performance Issue</b>

**When did this performance issue happen?**

Started happening after the 1.21.x release. I tested March 25's Insider and it is also present in it.

*Does it occur on startup or after a specific series of actions?*

Most of the time it happens while typing text into the editor regardless of the filetype/syntax in use. It also happens while editing settings.

**

[2018-03-26 23:16] mjbvz commented on #43004
As part of #15710, I'd also like to do the same for JS and TS

[2018-03-26 23:22] mdziekon opened #46599 "VSCode prevents OS suspension (Ubuntu) when a file or folder stored on a VM (VirtualBox) mounted using sshfs is open"
Issue Type: <b>Bug</b>

Other useful details:
- Problem persists for a long time now, so it's not a regression in current insider version of VSCode

Steps to reproduce:
1. Start a VM (VirtualBox, Debian Jessie) and mount it using sshfs
2. Open a file/folder/workspace stored on a VM / mounted via sshfs in VSCode
3. Try to suspend the system

Expected result:
1. System suspends properly

Actual resu

[2018-03-26 23:22] tafelito commented on #45879
@bpasero There is also another issue related to this. If TS is disabled, the RN intellisense stops working too. I tried to setup it up to work with flow as it says [here](https://github.com/Microsoft/vscode-react-native/blob/master/doc/intellisense.md) but still not working.

[2018-03-26 23:29] #46519 closed

[2018-03-26 23:39] #41040 closed

[2018-03-26 23:42] rebornix opened #46600 "Test find and replace optimization for large files"
- [x] anyOS @RMacfarlane
- [x] anyOS @roblourens

Complexity: 2

Testing #45690

We optimized Find and Replace for large files in this iteration. It doesn't cover all cases but following scenarios should expect improvements

* Find with non-regex keyword in large files
* Launch Find Widget and then type characters in Find Widget is responsive.
* Typing in the editor (without auto save) is responsi

[2018-03-26 23:43] roblourens commented on #44491
@isidorn I added the "Toggle search view position" context menu item which makes this much more noticeable.

Are there two instances of the search view? Do you know what the problem is here?

[2018-03-26 23:43] Tarocco opened #46601 "VS Code node.js project misses *.d.ts files located in project-level node_modules"
Typescript is getting its type declarations from Automatic Type Acquisition, but in my case, the declarations for material-ui are from `"@types/material-ui": "^0.21.1"` in `%appdata%/Microsoft/TypeScript/2.7/package.json`. (That is the latest version of the @types/material-ui package as of today).  VS Code is handling this for me, but the problem is that I am using a newer version of material-ui.

[2018-03-26 23:43] roblourens commented on #45063
All planned work here is done.

[2018-03-26 23:43] #45063 closed

[2018-03-26 23:43] #45944 closed

[2018-03-26 23:48] gerardopenya commented on #15727
The good old Edit plus still doing things well

[2018-03-26 23:52] sbatten opened #46602 "Test new notification workflow for opening large files"
Tests 056d6221aea180e4ebf14bbe6df71e95c806a125

Complexity: 2

- [x] anyOS @kieferrm
- [x] anyOS @roblourens

The notification you receive when attempting to open a file larger than default window memory limit now allows the user to quickly re-launch Code with a configurable higher memory limit. The new limit is configured via a new setting `files.maxMemoryForLargeFilesMB` and defaults to 4096. Th

[2018-03-26 23:53] rebornix opened #46603 "Test large file tokenization/coloring optimization"
- [x] anyOS @sbatten
- [x] Linux @Tyriar

Complexity: 2

Testing #45944

When opening a file, we will show the top of the document or the last viewed portion of the document. For former case, we always see colorful content as we do some *warmup* (tokenize the top of the document) in advance. However for the later one, we sometimes see white code (in dark theme) first and then they become colorful

[2018-03-27 00:09] roblourens opened #46604 "Test: Search view changes"
- [x] anyOS @rebornix
- [x] anyOS @chrmarti

Complexity: 2

Testing https://github.com/Microsoft/vscode/issues/45063

Test the following changes that were made to the search view:

- Result count badge is moved to the left, only when the viewlet is wider than 600px
  - But search action buttons stay on the right side
- The background color of the button that toggles the replace textbox is correct

[2018-03-27 00:14] westwick opened #46605 "Tab indentation is wrong when copy-pasting"
Fresh install, no plugins. Observe: http://g.recordit.co/2O4lTECCeG.gif

![](http://g.recordit.co/2O4lTECCeG.gif)

The `formatOnPaste` setting is not a good option for me, because if for example I have an `<i>` inside of a `<p>`, e.g. `<p><i class="material-icons">radio</i></p>`, the auto-formatting splits the `<i>` onto a new line, making it inconsistent with the line I just copied.

I know this

[2018-03-27 00:20] petervrichards opened #46606 "Flutter exmples"
Issue Type: <b>Bug</b>

Flutter examples does not appear to be configured with the current version.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:39:09.335Z)
OS version: Darwin x64 17.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4258U CPU @ 2.40GHz (4 x 2400)|
|Load (avg)|2, 2, 2|
|Memory (System)|4.00GB (

[2018-03-27 00:25] sean-mcmanus opened #46607 "Keyboard shortcut system crash"
Moved from https://github.com/Microsoft/vscode-cpptools/issues/1739 by @Calaan (I don't think our C/C++ extension can cause this).

ctrl+alt+12 with C/C++ extention is default keyboard shortcut for peek declaration. It is also shortcut for switching virtual console in ubuntu. I suspect conflict there. It hung whole system and hard reset is required. Tested on two PCs (one got Ubuntu with cinnamone

[2018-03-27 00:44] DonJayamanne commented on #42521
Will this be available for use by other extension authors via some vscode api. I know it's an npm package, but the fact that it's got native dependencies make it difficult to package with extensions.

[2018-03-27 00:50] roblourens opened #46608 "Terminals opening up blank"
Today, I've seen new terminals open completely blank several times but I don't have consistent repro steps.

A couple times when starting a build task. Once when using the context menu item, "Open in terminal".

Switching the active panel doesn't fix it, but switching terminals with the dropdown does fix it.

Existing issue for this?

[2018-03-27 01:02] TXH1997 commented on #13612
Yup, it's just a temporary solution. Bug remains to be fixed...

[2018-03-27 01:03] sean-mcmanus commented on #46607
Thanks bot!

[2018-03-27 01:03] #46607 closed

[2018-03-27 01:10] roblourens commented on #46472
This is a gap in the Chrome debug extension resolving skipFiles... for files without sourcemaps, you will have to set the path relative to the webroot.

`"/node_modules/**/*.js"` works fine for me. I'll move this to the chrome-debug repo for fixing.

[2018-03-27 01:11] roblourens commented on #46472
This issue was moved to Microsoft/vscode-chrome-debug#634

[2018-03-27 01:11] #46472 closed

[2018-03-27 01:15] benyaminl opened #46609 "Workspace: Open Workspace Configuration File is not working in single folder workspace"
- VSCode Version: 1.21.1
- OS Version: Windows 7 Ultimate x64

Steps to Reproduce:

1. Open Ctrl+shift+P  > Choose these.
![image](https://user-images.githubusercontent.com/2817332/38038441-27c4398e-32d5-11e8-936d-424bd6c8da77.png)
2. It do nothing on my VSC...

Does this issue occur when all extensions are disabled?: Yes (On or off)

[2018-03-27 01:27] greg-wolff commented on #46045
Update: This also happens in another Electron app named [notion.so](http://notion.so), perhaps it's an issue with Electron rather than VS.

[2018-03-27 01:34] ramya-rao-a commented on #46434
I have pushed a fix for emmet getting triggered inside comments in stylesheets.
But this is a generic problem.
Consider the below content in a php file
[code]

Type a number next to `ul*` and see emmet completions getting triggered.

@jrieken Is it expected that trigger characters trump the `editor.quickSuggestions.comments : false` setting?

[2018-03-27 01:44] AndersZhang4 commented on #46058
config: "workbench.editor.closeOnFileDelete": false,
TestCase: 1. open a file "d:\a.txt"(a.txt is in existence). 2. then move "d:\a.txt" to "c:\a.txt", and edit  "c:\a.txt". 3.   then  move "c:\a.txt" to "d:\a.txt"。VSCode can't auto load a.txt, but Sublime-text can automatically load the file and can display the newest content.

[2018-03-27 01:54] ramya-rao-a commented on #45747
@SaniJasi  This is fixed with https://github.com/Microsoft/vscode/commit/91416ffab8a59b6f5a52abef6ff7920a5d067c1f and the fix will be available in tomorrow's [Insiders](https://code.visualstudio.com/insiders) build.

[2018-03-27 01:54] #45747 closed

[2018-03-27 01:58] vikyd commented on #45714
the same problem in Win7, still not working.

- Build from https://github.com/Microsoft/vscode/commit/c05e57d91e50d53d487a9113c1553ca73311fa6c
- OS: Win7 64bit

cmd error:
[code]

package.json:
[code]

[2018-03-27 02:01] ramya-rao-a commented on #43470
In common cases, like having html emmet completions in ts/js files, use of html parser will not help. So we will continue to use the parsing logic we have at the moment where we traverse backwards (atmost 500 characters) from current position to decide if we are inside an open or close tag.

Due to the css language service having issues with parsing incomplete files (See https://github.com/Microso

[2018-03-27 02:44] austincummings commented on #46510
I'd be willing to maintain the grammar. I'd first like to see if demyte/language-cshtml will accept the pull request I've made. If it isn't merged by this Friday (2018-03-30) I'll set up a repo with the grammar and ping you so you can do what it is you have to do.

Thank you!

[2018-03-27 02:47] mars000 commented on #46018
Hi – as you can see below Git was disabled. The update from one version to another automatically disabled Git – any reason why this would occur ?

I enabled Git and now it works.

Thank you all for your help.

From: Sandeep Somavarapu <notifications@github.com>
Sent: Tuesday, 27 March 2018 02:22
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: mars000 <mars000@gmail.com>; Mention <mention@nore

[2018-03-27 03:14] linwrui opened #46610 "更新后性能降低很厉害"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2018-03-27 03:42] cleidigh commented on #46608
@roblourens
There is an outstanding issue I am working on that exists in both the terminal and new drop-down code.
When  terminal instances are added in particular disposed , the instance count can end up not matching
the index passed to setOptions .  This can cause a couple different problems including a blank select.

While you mentioned that the drop-down appears to work I wonder if this is sti

[2018-03-27 03:45] unsilence opened #46611 "How can I understand the code of vscode"
The vscode code is too much，Difficulty in understanding，For example: which folder is a functional file

[2018-03-27 03:50] cleidigh commented on #45346
@Tyriar
I still have to verify that this is the issue with split panels.  The commands work with a panel and the terminals , but we do have different approaches that might be good to concatenate.  I would like to fix the other issue with the blank selects which I've determined is an issue in both parts of the code.  I can then look at addressing this issue.

[2018-03-27 04:11] hua03 opened #46612 "Intelligence are sometimes annoying"
- VSCode Version: 1.21.1
- OS Version: Windows10
![image](https://user-images.githubusercontent.com/19561959/37946289-38915cca-31b7-11e8-8fb0-684a7cd74501.png)

Steps to Reproduce:

1. Paste the following code into  .js file

[code]

2. Enter `,` after this `enumerable: true`

Does this issue occur when all extensions are disabled?: Yes

[2018-03-27 04:16] austenc opened #46613 "Extension API cursorMove with multiple selections"
Issue Type: <b>Bug</b>

Hello! I'm working on an extension that automatically adds some spaces between template tags such as the one seen here: `{{ | }}`. When two `{{` are typed, I'm basically adding two spaces, and then trying to move the cursor back one character. Using `cursorMove` works great unless I have multiple selections. Is this intended functionality? I've posted a quick animation belo

[2018-03-27 04:34] fsevenm commented on #35675
Thank a lot. The solution fixed my problem also. But I wonder how to release the hold after executing it.
 `sudo apt-mark hold libfreetype6`

[2018-03-27 04:35] cs-akash commented on #46494
they are not covered in search.exclude setting . heres my .gitignore file content
[code]

[2018-03-27 04:37] cs-akash commented on #46494
you can close the issue as it, not that high severity.

[2018-03-27 04:54] bpasero commented on #46005
@nojvek that is no API Electron provides as far as I know to redraw

[2018-03-27 04:57] #46611 closed

[2018-03-27 04:57] asierralozano opened #46614 "KDE Plasma 5.12.2 Global menu not working with VsCode"
- VSCode Version: 1.21.1
- OS Version: Fedora 27

Steps to Reproduce:

1. Add the Global Menu Widget to any panel in your KDE desktop
2. The menu bar will still appear on VSCode, but not in the Global Menu widget

[2018-03-27 05:01] bpasero commented on #46270
@gregg-miskelly thanks I can reproduce on Linux only too.

[2018-03-27 05:02] bpasero commented on #46614
@asierralozano please check if https://github.com/Microsoft/vscode/issues/34510 has steps to fix it for you

[2018-03-27 05:04] xpirad commented on #10759
Any update for this?

[2018-03-27 05:08] asierralozano commented on #46614
Ok, sorry, I installed the wrong rpm.
Now it's working perfectly!

[2018-03-27 05:08] #46614 closed

[2018-03-27 05:10] saarlevin commented on #46580
no , ps is terminal .

[2018-03-27 05:12] garyking opened #46615 ""Go to file", sort purely by most relevant, not recently opened"
In the "Go to file" dialog, please make it possible to sort the files purely by the most relevant, not by the most recently opened.

I've got some files that have similar names, yet when I search for `api`, `google_api.py` appears before `api.py` when it clearly should not.

[2018-03-27 05:27] jasoncodingnow opened #46616 "only use indent of 4 spaces error message"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. I am writing solidity code
2. and I change setting to : "editor.tabSize": 2,
    "editor.insertSpaces": true,
    "editor.detectIndentation": false,

and it keep shows "only use indent of 4 space"
what's going on?

[2018-03-27 05:46] bpasero opened #46617 "TypeError: Cannot read property 'style' of undefined"
Steps to Reproduce:

1. start on Linux

=> TypeError: Cannot read property 'style' of undefined

![image](https://user-images.githubusercontent.com/900690/37948982-e5610c0e-3192-11e8-9bd2-2356cddbbbc1.png)

[2018-03-27 05:47] bpasero commented on #46270
@gregg-miskelly can you please try with todays insider build from [here](https://az764295.vo.msecnd.net/insider/65e502e8eff7f36fa13a02e26adb9c5fbce151ed/code-insider-1.22.0-1522127690_amd64.tar.gz).

@joaomoreno looks like you changed back to our old Linux build machine. That seems to have fixed the issue, I am getting a hash back now again from todays insider build. Leaving the issue up to you.

[2018-03-27 05:48] chrmarti commented on #45141
Thanks @roblourens !

[2018-03-27 05:49] goforgold commented on #13612
hoping to get this fixed from a long time, don't understand why MS is not being able to give a proper fix.

[2018-03-27 05:54] chrmarti commented on #45589
@ArthurMa1978 Cross-extension navigation might be possible with the close cooperation of both extensions. But I don't have a draft of the API yet, so it is hard to tell for sure at the moment.

[2018-03-27 06:00] roblourens commented on #46494
If you are not getting some search results that you expect to get, then I want to figure out whether there's a bug :)

Your screenshot shows that the search is only looking in the `./public` subfolder. Where are the files that you are missing results from?

[2018-03-27 06:15] dagolinuxoid commented on #23991
Great, now I can use vim mode :)

[2018-03-27 06:18] JohnPostlethwait commented on #13612
Seeing this currently on a Surface Book on version 1.21.1

[2018-03-27 06:24] chrmarti commented on #46229
When using a (non-VS Code) terminal window the login window opens on top. Using the integrated terminal the login window opens behind. @bpasero Any idea what might cause this?

The login window:
![image](https://user-images.githubusercontent.com/9205389/37950288-4a8566de-3198-11e8-91f0-7c7bc592ba8c.png)

[2018-03-27 06:26] DengMingHao commented on #46531
title: I hope to have the function of entering the folder.
At present, vs code can set a work area, and there can be multiple projects under a work area.This brings two problems of experience.
  problem:
1. If I want to use CRTL + P to quickly open a file in the project I am currently editing, other files with the same name will also be searched.
2. Sometimes, there are many folders under a projec

[2018-03-27 06:29] ShadowXVII commented on #39138
I know this feature as "Hide Unchanged Lines".

Simply hides unchanged lines in a diff to better highlight the important pieces (the changes). Sometimes a few lines before and after remain visible for context. A pretty common feature for diff tools.

[2018-03-27 06:35] bm-stschneider commented on #46394
Sadly I have no idea which extension causes this.

[2018-03-27 06:39] bm-stschneider commented on #46394
vscode-yaml is the only one I can exclude because that was my initial guess.

[2018-03-27 06:45] fernandoescolar commented on #39601
I have a (ugly) workaround for this issue: https://github.com/fernandoescolar/vscode-solution-explorer/blob/master/src/commands/OpenFileCommand.ts

But It would be great if the treeitem could have different events like the doubleclick one.

[2018-03-27 06:50] shizengzhou opened #46618 "Wrong indent - copy / paste if there is a comment"
@rebornix
Issue Type: <b>Bug</b>

![paste](https://user-images.githubusercontent.com/24318019/37951168-0f67064e-31ce-11e8-8322-3c1c9a4683a5.gif)

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-6100U CPU @ 2.30GHz (4 x

[2018-03-27 06:58] fx72516 opened #46619 "Changing encoding in diff editor only changes it on the right hand side"
Issue Type: <b>Bug</b>

命令行使用 code -diff "" "" 比较两个文本文件，中文字符乱码，更改编码重新打开，只用一个文件文本编码正确，另一个文件中文字符还是乱码；

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz (4 x 3193)|
|Memory (System)|15.89GB (3.57GB free)|

[2018-03-27 06:59] retepaskab commented on #14162
Yes that would be great, it should also work with non-relative line number display.

[2018-03-27 07:00] joaomoreno commented on #46348
@certik That is correct.

[2018-03-27 07:02] sandy081 opened #46620 "March Endgame"
## Endgame Schedule
- *March 26th*, Code freeze for the endgame
- *March 30th*, Endgame done

### Monday

- [x] Code freeze at 5pm PT
- [x] Ensure we have a green build on all platforms at 5pm PT
- [x] All test items are created (with "complexity" but not necessarily with full description) by 5pm PT
- [x] All test items contain comprehensive test descriptions by 10pm PT
- Update your availability

[2018-03-27 07:03] joaomoreno commented on #46513
/duplicate #34404

[2018-03-27 07:03] #46513 closed

[2018-03-27 07:05] DanTup commented on #45587
@alexandrudima That's a good idea, but I don't think it solves this very well. I want (as an extension) to contribute a rule at a position that I know from my config. Eg. the user sets `dart.lineLength` in their settings and my extension causes a ruler to appear at that length (the user shouldn't need to go and configure rulers - most never will, but they would be happy if we show a ruler at the p

[2018-03-27 07:06] joaomoreno commented on #45398
It seems the extension is disabled. Notice how the extension name label is grey... Click on its gear and enable it.

---

@sandy081 We might need two things:

- A better indicator for disabled extensions in the viewlet, other than the grey title
- The extension service should log which extensions were loaded and which are disabled, when running in the an appropriate log level

[2018-03-27 07:06] aeschli commented on #46510
@austincummings Thanks a lot for your efforts!

[2018-03-27 07:06] JunhwanPark commented on #15727
I started using vscode instead of sublime. I really need this feature!!

[2018-03-27 07:07] pavelstudeny commented on #26193
@weinand, yes. Redirecting the output to the terminal as suggested above didn't look that great, but
`"outputCapture": "std"` works for me so far.

[2018-03-27 07:07] joaomoreno commented on #46018
Thanks for confirming @mars000

Dupe of #45398

[2018-03-27 07:07] #46018 closed

[2018-03-27 07:09] joaomoreno commented on #45398
@sandy081 I've renamed this issue accordingly. Do you think it is a coincidence that two users unknowingly disabled the git extension or is there an issue in the extension enablement code?

[2018-03-27 07:10] mjbvz commented on #46612
Duplicate of https://github.com/Microsoft/TypeScript/issues/22106 + https://github.com/Microsoft/TypeScript/issues/1150

[2018-03-27 07:10] #46612 closed

[2018-03-27 07:10] joaomoreno commented on #45413
OK Great to know. We have an open issue to improve the notification, so I'll show it soon.

[2018-03-27 07:10] #45413 closed

[2018-03-27 07:12] joaomoreno commented on #46462
You should add `C:\Program Files\Microsoft VS Code\bin` instead, where there's a launcher script which will do the right thing.

[2018-03-27 07:12] #46462 closed

[2018-03-27 07:13] joaomoreno commented on #46579
I can't seem to reproduce. How are you staging the file?

[2018-03-27 07:14] mars000 commented on #45398
I am 100% I did not disable it – I just did a simple update.

And just to add (in the hope you may find the underlying issues) when I downgraded back to 1.19 it worked and then stopped working when I upgrade to 1.21.

From: João Moreno <notifications@github.com>
Sent: Tuesday, 27 March 2018 18:10
To: Microsoft/vscode <vscode@noreply.github.com>
Cc: mars000 <mars000@gmail.com>; Mention <mention@nor

[2018-03-27 07:14] mandar24 commented on #46316
They are not searched when i toggle off the "Use Exclude Settings and Ignore Files" button.

[2018-03-27 07:14] joaomoreno commented on #43949
Oh, try joao dot moreno at my company dot com

[2018-03-27 07:16] joaomoreno commented on #46270
@bpasero I'll close this for now. But whoever owns that signing code should be aware that stuff will break as soon as we update to 16.04. Which we don't intend on doing anyway.

[2018-03-27 07:17] xameeramir opened #46621 "Non consistent bug - debugger not starting"
- VSCode Version: 1.13.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open a node project
2. Press F5 or Click play button from debugger pane

Does this issue occur when all extensions are disabled?: Yes

A few times I have noticed that the debugger does not start in Visual Studio. Please fix this.

[2018-03-27 07:26] dbaeumer commented on #46619
@fx72516 please provide the description in English.

Automatic translation:

The command line uses code-diff      to compare two text files, the Chinese characters garbled, change the encoding to reopen, only one file text encoded correctly, another file of characters or garbled

[2018-03-27 07:31] isidorn commented on #44491
@roblourens there are no two instances of the search view - only one. I do not know what the problem is but I can investigate tomorrow.

[2018-03-27 07:33] jrieken commented on #46434
yes

[2018-03-27 07:36] dbaeumer commented on #46362
The only difference I see is that when you run it from the terminal you use `sh` as the interpreter and not `bash`. But I doubt it makes a difference given the shell script you execute.

Does it work when using `bash ./appcenter-post-clone.sh dev` or using sh explicitly in the task?

[2018-03-27 07:36] jrieken commented on #46586
Need to see this live

[2018-03-27 07:36] isidorn commented on #46621
Please update to latest vscode version, you are on 1.13.1 which is a year old.

[2018-03-27 07:36] #46621 closed

[2018-03-27 07:37] #46592 closed

[2018-03-27 07:38] isidorn commented on #46586
@jrieken I am not in Zurich. Screen share after standup or when you have time?

[2018-03-27 07:40] dbaeumer commented on #45980
Regarding `stdin` / `stdout`: there are plans to provide these stream however this has to be something that goes hand in hand how a terminal will expose it, which we started to discuss as well. Since tasks are executed in a terminal in doesn't make too much sense if a task comes up with its own story here.

[2018-03-27 07:40] AlGantori opened #46622 "There is no settings for changing VSCode menu font size"
- VSCode Version: 1.21.1
- OS Version: Windows 7

I would like see an option for increase the tiny font size used in VSCode menus

Perhaps you expect such a setting be OS-level settable, I feel there is a need for it inside VScode just like there is an editor and terminal font size options there should be the obvious **"menu.fontsize" : 14,**

I am aware of
    "window.zoomLevel": 0.4

But it does

[2018-03-27 07:44] cs-akash commented on #46494
in `./public` folders only, outside public are all conf files and dist folders etc.

[2018-03-27 07:45] chrmarti opened #46623 "Show telemetry notice on first start"
It only showed on the second start, presumably because the only open window was not considered 'active' on the first start.

[2018-03-27 07:46] hasanShaddad opened #46624 "vsts-vscode is slow and hard to configure why there is no such built-in service for tfs as git"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-03-27 07:51] dbaeumer commented on #45980
@alpaix some comments:

1. I think it is not worth doing this (e.g. the caching). For example for code complete the guest always goes to the host. Getting all tasks is not a frequent action so I would go to the host every time.
1. please be aware that the task are not live objects in the VS Code API and therefore are not  === even if they refer to the same task.
1. I see the problem but I will not

[2018-03-27 07:51] bpasero commented on #46229
@chrmarti how is the login dialog triggered?

[2018-03-27 07:52] bpasero commented on #46619
@fx72516 file a new issue in english please

[2018-03-27 07:53] isidorn commented on #46593
@DonJayamanne hi, this is currently as designd since VSCode does not add any data to the custom debug adapter telemetry. We simply log exactly what the adapter sends here
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L359

Some of the attributes you listed you could log yourself from your extension, and for which you can not you can t

[2018-03-27 07:53] Roby98Luce opened #46625 "PHP linguaggio non presente"
Issue Type: <b>Feature Request</b>

Non permette più di salvare i file con estensione .php e inoltre aprendone uno esistente non interpreta il codice visualizzandomelo come testo normale e non come codice PHP.
It no longer allows you to save files with the extension .php and also opening an existing one does not interpret the code by displaying it as normal text and not as PHP code.

VS Code versi

[2018-03-27 07:54] chrmarti opened #46626 "Language client is not ready yet"
1.22 insiders, no extensions.

Logged to the console when I open the workbench:

ERR Language client is not ready yet: Error: Language client is not ready yet
	at LanguageClient.sendRequest (/Applications/Visual Studio Code - Insiders.app/Contents/Resources/app/extensions/css-language-features/node_modules/vscode-languageclient/lib/client.js:1546:19)
	at Object.provideFoldingRanges (/Applications/

[2018-03-27 07:57] chrmarti opened #46627 "Issue Reporter: "Preview on GitHub" not working"
1.22 insiders, no extensions.

1. Open Issue Reporter.
2. Enter some title and steps.
3. Press "Preview on GitHub"
4. Nothing happens.

[2018-03-27 07:59] chrmarti opened #46628 "No results found excluding '{0}'"
1.22 insiders, no extensions.

![image](https://user-images.githubusercontent.com/9205389/37954258-8c1921e6-31a5-11e8-8fd5-f860117a0106.png)

[2018-03-27 07:59] weinand commented on #26193
So there seem to be enough ways to get this to work. Closing.

[2018-03-27 07:59] #26193 closed

[2018-03-27 08:00] #46622 closed

[2018-03-27 08:02] bpasero commented on #46531
I would mark this as duplicate of https://github.com/Microsoft/vscode/issues/41860

[2018-03-27 08:02] #46531 closed

[2018-03-27 08:03] AlGantori commented on #46622
Duplicate of which issue#?  I have looked at
Allow to change the font size and font of the workbench (#519)
There is NO mention of "menu" in the whole thread ???

[2018-03-27 08:13] SaniJasi commented on #45747
Great news! Thank you

[2018-03-27 08:25] sgon00 commented on #10026
+1

[2018-03-27 08:30] stereokai commented on #46546
@mjbvz Awesome, thank you very much.

[2018-03-27 08:38] joaomoreno opened #46630 "Build: Windows build succeeds with compilation errors"
https://monacotools.visualstudio.com/Monaco/_build/index?buildId=37467&_a=summary

[2018-03-27 08:40] hunhejj commented on #45141
Thank you guys for fixing it!

[2018-03-27 08:41] sandy081 commented on #45398
@joaomoreno

I changed it few weeks back to show a better indicator for disabled extensions. It's in insiders already.

![image](https://user-images.githubusercontent.com/10746682/37956208-f8c2d580-31aa-11e8-9225-59fe4c5c9aeb.png)

👍

Not sure. @mars000 says `And just to add (in the hope you may find the underlying issues) when I downgraded back to 1.19 it worked and then stopped working when I up

[2018-03-27 08:42] isidorn opened #46631 "reference search result navigation skips over an entry when going back"
Refs: #46553
Win

1. Open VSCode repo, `debug.ts` file
2. Find all references on `IReplElement`
3. do F4 four time - notice how you are nicely navigating over references
4. Shift + F4 - notice that you go back two items, instead of one

Other shift+F4 work fine, just this one skips over a beat

[2018-03-27 08:44] isidorn opened #46632 "reference search result navigation does not work in inner editor"
#46553
Win

1. VSCode repo, find all references on anything
2. Notice how the F4 and shift + F4 nicely work
3. Focus into the find all references editor, try F4 and shift + F4 -> not working.

I would still expect them to work in this context as I am still focused on references as a user and would expect navigation to work.
When triggered in inner editor it might make sense that only the inner edi

[2018-03-27 08:46] kallebornemark commented on #46462
Thank you, much appreciated. Is this documented somewhere, and I just missed it?

[2018-03-27 08:48] joaomoreno opened #46633 "typescript.tsserver.pluginPaths seems to ignore value"
Testing #46443

It doesn't seem to matter what the string value for `typescript.tsserver.pluginPaths` actually is. In the example of #46443, I always get intellisense, no matter what the value is. Even:

[code]

[2018-03-27 08:49] alien2003 commented on #1896
The same thing on Manjaro

[2018-03-27 08:50] dbaeumer commented on #40758
@EricJizbaMSFT yes. Closing as dup of #45664. The API is in proposed state for the next release.

[2018-03-27 08:50] #40758 closed

[2018-03-27 08:51] dbaeumer commented on #29855
@ivankravets the API got added to vscode.proposed.d.ts for this milestone. No concrete deadline for the final API yet.

[2018-03-27 08:54] dbaeumer commented on #46373
@victorandree thanks. I will reopen the issue and see what a better solution would be.

[2018-03-27 08:54] aeschli opened #46634 "emmet-helper getEmmetCompletionParticipants should be typed"
emmet-helper getEmmetCompletionParticipants returns an any, and in the HTML code it is assumed to match the HTML and CSS perticipants.
That's very fragile.

I also want to avoid the `any[]` in https://github.com/Microsoft/vscode/blob/666e95e8e7f679e23c0e42d86864cba4f2e00025/extensions/html-language-features/server/src/modes/languageModes.ts#L38

Idealy, each mode (CSSMode, HTMLMode) interacts sepa

[2018-03-27 08:55] borekb commented on #45487
Confirmed by a colleague on a Mac, VSCode 1.21.1.

[2018-03-27 08:56] weinand commented on #29549
We got support for this in DAP: https://github.com/Microsoft/vscode-debugadapter-node/issues/150

[2018-03-27 09:00] joaomoreno opened #46635 "Progress API: Rename progress message to title"
Testing #46458

I can provide a title to the notification with the `title` field in the options. But the way I change that same value through progress is with the `message` field in the report options. We should align those two fields. I propose to rename the report options field to `title`.

[2018-03-27 09:02] sandy081 commented on #46237
@isidorn

And that code is not written in mind that a View can be also in a panel.

Those viewlets extends/implement base viewlet classes are assumed to be viewlet not panels. I think its not right to assume a viewlet (Search Viewlet) extending viewlet classes can also be a panel. Not sure if the Search viewlet is composed properly into Viewlet (Container) and View. If it is properly composed, onl

[2018-03-27 09:02] joaomoreno opened #46636 "Progress API: Can't report 0 progress"
Testing #46458

I can't seem to report 0 progress. Nothing happens when doing so, and the progress staying indefinite.

[2018-03-27 09:02] dbaeumer commented on #46606
@petervrichards can you please provide more information. Flutter examples were never something that worked out of the box.

[2018-03-27 09:03] weinand commented on #42383
@mrkmarron since we have merged [PR #46441](https://github.com/Microsoft/vscode/pull/46441) is it OK if we close this issue?

[2018-03-27 09:05] sandy081 commented on #46609
@benyaminl May I know if you are performing this command inside a workspace or in empty window? Do you see any errors in the console?

[2018-03-27 09:07] joaomoreno opened #46637 "Progress API: Can't create multiple progress notifications with the same title"
Testing #46458

The title seems to be used for equality comparisons, so if I issue a new notification with the same title, the previous one gets cancelled, even if I say `cancellable: false`.

This is too implicit, especially considering that I can always change the notification title by later calling `report({ message: 'title' })`, finally getting several notifications with the same title.

[2018-03-27 09:08] dbaeumer commented on #46581
@alexandrudima @bpasero not sure whom to best assign to.

@bpasero can this be a problem of Electron / Chrome which might go away with the next Election release?

[2018-03-27 09:09] sarbash commented on #35675
[code]

[2018-03-27 09:10] chrmarti opened #46638 "[css] .asar file breaks CSS path completion"
1.22 insiders on Mac. Testing #46537.

Try CSS path completion when there is an empty `asar-test.asar` in the open folder. There are no completions.

[2018-03-27 09:10] dbaeumer commented on #46576
@leanderr can you please provide a TS file sample that show the problem with steps on how to best reproduce.

[2018-03-27 09:11] peterducai commented on #35675
on Ubuntu I think I fixed with

`sudo apt install ubuntu-restricted-extras`

please confirm someone.. (without downgrading libfreetype)

[2018-03-27 09:13] dbaeumer commented on #46502
@chrmarti not sure if this is you. Starting because of Welcome page.

[2018-03-27 09:13] chrmarti opened #46639 "[css] path completion "./" only suggests "." files/folders"
1.22 insiders on Mac. Testing #46537.

I expected all folders/files to show:

![image](https://user-images.githubusercontent.com/9205389/37957979-8f9c3326-31af-11e8-98ad-6b0f60ab55eb.png)

[2018-03-27 09:15] chrmarti opened #46640 "[css] Request textDocument/foldingRanges failed."
1.22 insiders on Mac. Testing #46537.

[code]

[2018-03-27 09:15] isidorn opened #46641 "reference search result navigation make more discoverable"
Refs: #46553

Currently the navigate forward and back in find all references is very hard to discover. Here's what we discussed in the call:

* Add an forward / backward arrow in the find all references title area
* Hover over the arrow should show keybdingins

[2018-03-27 09:17] joaomoreno opened #46642 "Progress API: Can block renderer"
Testing #46458

Calls to `report` should be debounced and not sent directly to the main side.

If I continuously send report calls over for 5 seconds, the renderer window freezes:

[code]

![image](https://user-images.githubusercontent.com/22350/37958217-384718d8-31b0-11e8-83cf-422e04aa6ac0.png)

[2018-03-27 09:18] jrieken commented on #44122
Bad strategy - if something right looks/behaves wrong don't use another, wrong thing. Instead make us aware of those limitations, e.g. ugly model dialogs, limited input box, limited support for code actions that require input etc.

[2018-03-27 09:18] #46640 closed

[2018-03-27 09:18] bpasero opened #46643 "Memoize should only be used in functions with zero parameters"
![image](https://user-images.githubusercontent.com/900690/37958355-96b01c62-31b0-11e8-9f73-c4991665efb0.png)

From: https://github.com/Microsoft/vscode/blob/master/src/vs/platform/actions/browser/menuItemActionItem.ts#L53

[2018-03-27 09:18] jrieken commented on #46576
/findDuplicate

[2018-03-27 09:19] valera33 commented on #12463
+1

would be nice to be able to set the path of tsconfig.json in settings.

[2018-03-27 09:20] #2268 closed

[2018-03-27 09:21] DanTup commented on #44122
Fair point, I'll raise an issue about that - though modals are still a bit of a usability issue. We wouldn't want to use them for "Do you want to restore packages?" prompt but we'd still want to hide that automatically if another action resulted in packages being restored.

[2018-03-27 09:21] Obbi89 commented on #35675
Could be. It contains M$ proprietary ttf fonts. Might be that those are chosen then and cause less issues?

[2018-03-27 09:22] chrmarti opened #46644 "[css] path completion not escaped"
1.22 insiders on Mac. Testing #46537.

Some characters need escaping: https://www.w3.org/TR/CSS1/#url

![image](https://user-images.githubusercontent.com/9205389/37958469-e8547ef0-31b0-11e8-8768-549a07f39ed6.png)

![image](https://user-images.githubusercontent.com/9205389/37958514-05316f1a-31b1-11e8-956e-bd29e8b9d0ce.png)

[2018-03-27 09:23] Serg-zefir opened #46645 "This is terrible"
Issue Type: <b>Bug</b>

This is terrible http://i.shotnes.com/a/03/27/screenshot_505671508.png
http://i.shotnes.com/a/03/27/screenshot_936145377.png
"Hello, my name is Serhii (I am the Ukrainian language team). I have translated vscode-editor (100%)
vscode-extensions (10%), vscode-setup (100%), vscode-workbench (100%). I have translated into "smart cat" system and I have 61 files ".xlf" file forma

[2018-03-27 09:24] DanTup opened #46646 "Improve look of modal info/warning/error messages"
Modal dialogs are currently handed off to the OS:

<img width="586" alt="screen shot 2018-03-27 at 10 22 48" src="https://user-images.githubusercontent.com/1078012/37958613-e2121f8c-31a8-11e8-9af1-eae9826b9d20.png">

On Windows they look really bad.

It would be much better if they were styled like the notifications you get with `modal: false` and just appeared in the centre of the screen blocking

[2018-03-27 09:25] bpasero commented on #46599
@mdziekon does it happen with any folder you open?

[2018-03-27 09:27] bpasero commented on #46646
@DanTup you should report this issue to the OS you think the modal dialog looks bad if you think this can be improved.

Closing, modal dialogs will not go away with some custom implementation anytime soon.

[2018-03-27 09:27] #46646 closed

[2018-03-27 09:27] #46586 closed

[2018-03-27 09:29] jrieken opened #46647 "Organise imports should be a refactoring/code action"
re #46589

After the investment in code actions, the refactoring menu, and code action keybindings I was quite surprised to see that organise imports isn't a code action but a normal command. I think that makes it harder to discover and also encourages homegrown code action instead of the more stream lined approach.

[2018-03-27 09:32] bpasero commented on #13612
I will lock this issue so that people can see the current workaround that we ship with 1.22:

![image](https://user-images.githubusercontent.com/900690/37959103-9386d1f0-31b2-11e8-9187-a062ab089234.png)

[2018-03-27 09:33] DanTup commented on #44122
Opened #46646. It doesn't address the issue that some notifications that are best non-modal may become incorrect after being ignored for a while and that the ability to hide them would make sense. We can already do it using `withProgress` (though it'd be a terrible hack to use that here).

I appreciate comments about the user experience, but an extension author is better placed to make that call o

[2018-03-27 09:33] chrmarti opened #46648 "Invalid index in SuggestWidget when selecting completion proposal with mouse"
1.22 insiders on Mac. Testing #46537.

Selecting a completion proposal for CSS 'url()' path completion with the mouse:

[code]

[2018-03-27 09:35] jrieken opened #46649 "Cannot fold imports"
re #46597

* open `/extensions/typescript-language-features/src/features/organizeImports.ts`
* try to fold the imports
* 🐛 cannot fold imports

[2018-03-27 09:36] dbaeumer opened #46650 "Reference search result navigation should always reveal containg file"
Tests #46553

See attached screen shot. I was jumping form the last entry to the first using F4 and I would like to see the containing file name reveal as well.

![capture](https://user-images.githubusercontent.com/1931590/37959280-10c4f9ee-31b3-11e8-8492-316dbcba3da4.png)

[2018-03-27 09:37] jrieken opened #46651 "Can not fold comments"
re #46597

* open `/extensions/typescript-language-features/src/features/organizeImports.ts`
* try to fold the block comment on line 64
* 🐛 cannot fold the block comment

[2018-03-27 09:37] chrmarti opened #46652 "Multi-select picker: Add left/right padding to OK button"
Same as top/bottom padding. (#46587)

[2018-03-27 09:38] mdziekon commented on #46599
@bpasero if you ask any folder on my machine, including local folders, then no - looks like regular folders and files do not cause this problem. I've even tried opening a folder stored on a remote computer (a laptop connected to my home network, mounted using sshfs) and I was not able to reproduce the problem.

However, every folder or file that is stored on a VM causes the problem. I've tried ope

[2018-03-27 09:38] joaomoreno commented on #46624
This issue was closed because it doesn't meet our standards of a properly filled issue. Please read our guide about [Submitting Bugs and Suggestions](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions).

[2018-03-27 09:38] #46624 closed

[2018-03-27 09:39] jrieken opened #46653 "Fold block comments doesn't work"
re #46597

* open `/src/vs/base/common/arrays.ts`
* select F1 > Fold Block Comments
* 🐛 block comments aren't folded

[2018-03-27 09:41] dbaeumer commented on #46631
Same happens under Linux. I recognized that always the first match in a file is skipped when going backwards.

[2018-03-27 09:41] jrieken opened #46654 "Fold block comments scrolls editor"
re #46597

* open `/src/vs/base/common/arrays.ts`
* set cursor on line 200
* scroll line 200 out of view
* select F1 > Fold Block Comments
* 🐛 line 200 is scrolled back into view

[2018-03-27 09:42] bpasero opened #46655 "[folding] Folded regions are lost when starting multi line comment"
Refs: https://github.com/Microsoft/vscode/issues/46588

* collapse some elements in HTML
* open a multi line comment to the top

=> all folded regions below are lost when you close the comment

[2018-03-27 09:42] dbaeumer commented on #46553
Closing item.

[2018-03-27 09:42] #46553 closed

[2018-03-27 09:42] bpasero commented on #46588
I noticed some slowdown on a 50k HTML file when I typed and immediately expanded a node below. Not sure if this should be looked at @aeschli

[2018-03-27 09:47] jrieken opened #46656 "Can not fold multiline parenthesises"
re #46597

https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/suggest/suggestController.ts#L91 uses the following pattern (which is quite common in our code base) which TS/JS folding doesn't support:

[code]

[2018-03-27 09:49] aeschli commented on #44480
@q269384828 Can you please add a small sample of the code with the snippet to paste?

[2018-03-27 09:51] DanTup commented on #46646
I was advised to raise this https://github.com/Microsoft/vscode/issues/44122#issuecomment-376455082

The problem isn't that the OS dialogs are ugly, it's that they don't fit in with Code. Notifications look great if you set `modal:false` and totally different for `modal:true`. Since we won't be given an API to hide non-modal notifications we now have to decide between ugly disruptive modals, or no

[2018-03-27 09:54] aeschli commented on #45867
There are tests for it, I suggest to mark it as verified.

[2018-03-27 09:56] aeschli commented on #45983
Created a node module https://www.npmjs.com/package/vscode-languageserver-protocol-foldingprovider

[2018-03-27 09:56] #45983 closed

[2018-03-27 09:57] aeschli commented on #45983
Verified as it is used in the product.

[2018-03-27 09:57] #45981 closed

[2018-03-27 09:57] panglongqi commented on #46532
I reproduced it with nightly insider builds！

![_20180327175323](https://user-images.githubusercontent.com/5959230/37960462-499d3800-31e8-11e8-8866-933ff39da438.png)

[2018-03-27 10:01] dbaeumer opened #46657 "If I want to have a preselected item I need to provide a description"
Tests #46587

So far the simple single picker allowed me to have a list of single labels. If I want to have a pre-selected item this is not possible anymore since the `QuickPickItem` item type forces me to provide a description. We should either make the description optional or make a more complicated OR type which allows to have the description optional if `selected` true.

[2018-03-27 10:09] chrmarti opened #46658 "Modal message box when Auto Attach failed because process was terminated"
1.22 insiders on Mac. Testing #46570.

- Enable Auto Attach
- Launch Node (v7.10.1) in debug mode: `node --inspect hello.js` with:
[code]
- Quickly Ctrl+C the Node process
- After a while the below message is shown.

It would be better to detect that the process is gone before showing an error message for expected behavior.

![image](https://user-images.githubusercontent.com/9205389/37960870-03f97

[2018-03-27 10:10] bpasero commented on #46532
@panglongqi can you share the exact absolute path that you are trying to add?

[2018-03-27 10:10] jrieken opened #46659 "No hint that postDebugTask doesn't exist"
re #45305

* configure a post debug task that doesn't exist (mistype the name)
* debug till termintation
* 🐛 there is no hint that the post debug task didn't work (while we have something very prominent for pre debug task)

[2018-03-27 10:13] aeschli commented on #46626
Should be fixed in build 0a42355840f1e0f1ebd00565dc2b6d47a3b2e98f

[2018-03-27 10:15] jrieken opened #46660 "Allow to ask for input in the context of an editor"
When implementing code actions the need to ask for and validate input often arises - we have a custom UI solution for rename with the inplace-input-field. We have something similar for showing messages in context (e.g. hit F12 on a keyword in a TS file). Extensions cannot use these widgets and are stuck with `showInputBox` and the `showXYZMessage`-functions. That's undesirable and leads to various

[2018-03-27 10:17] #46626 closed

[2018-03-27 10:18] jrieken commented on #46660
One idea is to improve the existing `showInputBox`-function. The `InputBoxOptions` could optionally specify an editor and range. That would be minimal API but still support validation, in context UI, etc

[2018-03-27 10:19] panglongqi commented on #46532
@bpasero

E:\正式工作\庞龙起\开放数据平台\销售管理-国际供应链

![1](https://user-images.githubusercontent.com/5959230/37961625-6c455c7c-31eb-11e8-91c2-051a0678b551.png)

[2018-03-27 10:24] chrmarti opened #46661 "Multi-select picker: Tab / Shift+Tab should remain in picker"
The picker closes when the focus goes outside. (#46587)

[2018-03-27 10:25] chrmarti opened #46662 "Multi-select picker: Select All focus border is too small"
(#46587)

[2018-03-27 10:29] jrieken opened #46663 "Getting warned about double task execution"
re #45305

* take the snippets below
* run the compound task (which is running the same thing twice)
* I see an info message from the task framework that 'start' is already running

<img width="505" alt="screen shot 2018-03-27 at 12 29 05" src="https://user-images.githubusercontent.com/1794099/37962123-737216ce-31ba-11e8-8273-32242e5e8f4c.png">

[code]

[code]

[code]

[2018-03-27 10:29] huanglw commented on #26185
+1

[2018-03-27 10:30] bpasero commented on #46532
@panglongqi weird I cannot reproduce on my Windows 7 nor Windows 10. Does this happen for all folders or just this one?

Can you please follow the steps in https://github.com/Microsoft/vscode/wiki/Native-Crash-Issues to get at more details around the crash and attach the result here? Thanks!

[2018-03-27 10:35] chrmarti opened #46664 "Auto Attach tricked by --debug-port / --inspect-port"
1.22 insiders on Mac. Testing #46570.

Using `--debug-port` or `--inspect-port` without a corresponding `--inspect` or `--debug` tricks Auto Attach into trying to connect to the debug port although that port is not open.

[2018-03-27 10:35] dbaeumer opened #46665 "Multi select Quick-Pick: keyboard shortcuts to select and deselect all would be great"
Tests #46587

Ctrl+A to select All. No good suggestion for deselect All. May be Ctrl+Shift+A.

[2018-03-27 10:35] bpasero commented on #46014
@isidorn a file now shows up like a normal folder even though it is not. you even see all the actions but none work:

![image](https://user-images.githubusercontent.com/900690/37962429-5c4c9e78-31bb-11e8-97d3-fe0cabba2c69.png)

I think we should show a decoration to indicate the root folder is invalid.

[2018-03-27 10:41] dbaeumer opened #46666 "Multi Quick-Pick: bad performance with many items"
Tests #46587

- create a list with 9999 items all preselected
- open the list
- unselect all. This takes seconds :-)
- same for select all.

[2018-03-27 10:41] bpasero commented on #45033
@isidorn the SelectBox is created each time I open the debug view but never disposed it seems. There maybe more things leaking when switching views in the title area, I have not checked.

[2018-03-27 10:41] tfrimor opened #46667 "Configuring extension tasks"
Extensions should be able to use configured tasks with extension specific settings.

Currently when using a TaskProvider with provideTasks, the task configuration can be used to change problemFinders, console behavior and such.
It is not possible to have an extension specific settings that may be changed in the configuration.

The still not supported resolveTask method in TaskProvider does not qui

[2018-03-27 10:43] bpasero commented on #44524
@aeschli verified that the collapse button now do nothing until the language server is up. Not a very pleasant experience.

[2018-03-27 10:46] chrmarti commented on #46658
`node --inspect=foo hello.js` also triggers that dialog. It would make sense to not show the dialog in this case either. The user might simply have a typo on the command line and Node will complain and refuse to start.

[2018-03-27 10:46] T-Grave commented on #46346
I've ran into a possibly related error.

When I want to peek / goto implementation, Visual Studio Code pops up an error: `Cannot read property 'getStartPosition' of null` and the action does not happen :(

Looking at the console logs, the error reported above is printed out as well:

[code]

I have no idea yet on how to reproduce this since I have been having this issue since a couple of days and

[2018-03-27 10:48] dbaeumer opened #46668 "Multi Quick Pick: no event when an item gets checked / unchecked."
Tests ##46587

There is no event firing when this happens. Might be helpful in some situations.

[2018-03-27 10:48] bpasero commented on #46635
@joaomoreno this has been API from before, we cannot change it now.

[2018-03-27 10:48] #46635 closed

[2018-03-27 10:49] fbehrens commented on #329
Hi, I just want to report here as I am forced to work under different profiles on `windows` it was suffering from the lack of a portable version. Only after some time I took the time to find out about the `user` and `extensions` directory, and come up with the quite simple solution to copy and then modify the existing `.\bin\code.cmd` wrapper by adding the `--user-data-dir` and  `--extension-dir`

[2018-03-27 10:50] dbaeumer opened #46669 "Multi Quick Pick: onDidSelectItem fires for first item when focus moves back to the input box"
Tests #46587

- Multi select quick pick which two items
- move to item 2 using cursor keys
- move back to input box using cursor keys

Observe: you get two events for the first item.

[2018-03-27 10:50] chrmarti opened #46670 "Auto Attach does not parse host:port format"
1.22 insiders on Mac. Testing #46570.

- Enable Auto Attach
- `node --inspect=localhost:1234 hello.js`

![image](https://user-images.githubusercontent.com/9205389/37963034-5c8c9332-31bd-11e8-9317-8d29bd15934a.png)

[2018-03-27 10:52] dbaeumer opened #46671 "Mutli Quick Pick: 3 events for the first item."
Testing #46587

- have an onDidSelectItem event listener
- open the quick pick

Observe: you receive three events for the first item.

[2018-03-27 10:59] TheyCallMeAlexander commented on #46462
Thanks a lot **joaomoreno** !!!

[2018-03-27 10:59] bpasero commented on #46636
Good catch 👍

[2018-03-27 11:00] #46636 closed

[2018-03-27 11:03] aeschli opened #46672 "Auto attach does not connect on ElementaryOS"
Testing #46570

elementary OS 0.4.1 Loki
Built on "Ubuntu 16.04.2 LTS"

node v8.9.1

- create index.js
[code]
- enable auto attach
- in the integrated terminal run `node --inspect index.js`

Dev tools show:
[code]

[2018-03-27 11:03] jrieken commented on #7340
So, the *name* of this function is the whole signature? So, `Number of words in <word> is <numberOfVowels>.` and when hitting rename anywhere in that string you want populate the rename input box with that whole string?

[2018-03-27 11:04] xameeramir commented on #46621
@isidorn @vscodebot The issue still persists with latest 1.21.1 tool

[2018-03-27 11:04] Gama11 commented on #29405
Similarly, I'd like to be able to specify the contents of the "files to include" field. This would allow re-implementing the `Find in Folder...` context menu item that the regular file explorer has in custom tree views.

[2018-03-27 11:33] grzegorzjudas opened #46673 "Add onClick event to QuickPickItem"
- VSCode Version: 1.20.0
- OS Version: MacOS Sierra 10.12.6

It seems there's currently no way to pass click event for QuickPickItem elements. The only event there is is onDidSelect, which triggers every time selection changes - but that's not what I'm after.

Looks like such basic usecase I'm really surprised it's not implemented already.

[2018-03-27 11:46] oliversalzburg commented on #46414
@roblourens It's unexpected in the configuration I set up.

I run 4 processes (the core processes of our platform) through a launch configuration compound and I want to (be able to) debug all of them, thus I run them through the Node debugger.

I also set these up to use a discrete terminal for each process to keep each output isolated.

However, the output of all processes is merged into the debu

[2018-03-27 11:46] Paviluf commented on #46560
I have the same issue and since my screen is only 720p I can't even see the password field.

[2018-03-27 12:01] jrieken commented on #46673
Not really sure what you mean because clicking an item terminates quick pick and returns the 'clicked'-item.

[2018-03-27 12:03] grzegorzjudas commented on #46673
Ah, I just discovered that showQuickPick returns a promise... Nevermind me 👍 thanks for support!

[2018-03-27 12:03] #46673 closed

[2018-03-27 12:09] RaulRamaya1 opened #46674 "Typescript - F2 rename symbol function should work"
Issue Type: <b>Bug</b>

1) Select a variable to rename
2) Click F2
3) Rename variable

Observe:

1)  a new instance (tab) containing the .ts code will open
2)  the variable names do not change
3)  hovering over the variable name shows the changed name (intellisense popup)
4)  the variable name IS changed in the newly created tab
5)  closing the newly created tab without saving does NOT change the

[2018-03-27 12:17] jrieken opened #46675 "postDebugTask-schema completes with null"
re #45305

* author launch.json-file
* type post and complete to postDebugTask
* 🐛 the value is `null` and not the empty string

<img width="539" alt="screen shot 2018-03-27 at 14 15 46" src="https://user-images.githubusercontent.com/1794099/37966741-a22773d8-31c9-11e8-9890-602092184dba.png">

[2018-03-27 12:17] Adiqq opened #46676 "Allow to temporarily or permanently disable (snooze) all notifications"
Hi!

I have a suggestion for feature that would sometimes be useful.
Option to temporarily easily disable all notification, e.g. I have to edit configuration in many projects, but if I open .NET Core project, it notifies me about restoring dependencies, which don't really interest me in this use case.

[2018-03-27 12:20] dbaeumer commented on #46666
The performance is also very bad when filtering the list by typing into the text field especially if the provided filter matches many items.

[2018-03-27 12:21] jrieken opened #46677 "Post debug task runs too early"
#re #45305

* have the below configuration (hello world extension)
* hit F5
* 🐛 the postDebugTask runs while the debuggee is still open/running

<img width="1133" alt="screen shot 2018-03-27 at 14 21 35" src="https://user-images.githubusercontent.com/1794099/37966951-2eea1172-31ca-11e8-93db-0d16e9af9f17.png">

[2018-03-27 12:31] jrieken opened #46678 "Run organise imports on save"
re #46589

It should be possible to configure organise import (read code actions in general) so that they run on save.

[2018-03-27 12:38] weinand opened #46679 ""convert to a ES6 module" code action doesn't preserve type of quotes"
testing #46596:

- create file.js with this contents:
[code]
- execute the code action to convert this into a ES6 module.

Observe: the resulting `import path from "path";` uses different quotes than the original require.

[2018-03-27 12:38] bpasero commented on #46637
Pushed a change to always treat notifications with progress different, independent from any other property.

[2018-03-27 12:38] jafkuijpers opened #46680 "Unatendet changed char in comment"
Issue Type: <b>Bug</b>

When I modify and save a file it modifies charaters unattendent e.g. Daniël is changed into  Dani�l what is not correct (even if it inside a comment).

I do not know if it is related to an extention.

Regards Jeroen

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>Syste

[2018-03-27 12:38] #46637 closed

[2018-03-27 12:39] sandy081 commented on #46677
I see this too on Mac

[2018-03-27 12:40] jrieken opened #46681 "Organise Imports should use resolved paths"
re #46589

* running TypeScript 2.9dev20180327
* run organise imports on https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostTypeConverters.ts#L24
* 🐛 the sorting happens on the path literals and not on the actual path

<img width="977" alt="screen shot 2018-03-27 at 14 36 33" src="https://user-images.githubusercontent.com/1794099/37967788-ab2b7076-31cc-11e8-8149-984bf

[2018-03-27 12:43] jrieken opened #46682 "Organise Imports should introduce 'named' import"
re #46589

Organize import should rewrite imports with lots destructuring to the named variant, e.g

[code]

should become

[code]

[2018-03-27 12:45] chrmarti commented on #46670
More corner cases:
- `node --inspect=:1234 hello.js`
- `node --inspect=0.0.0.0:1234 hello.js`
- `node --inspect=[12a:101:1810:b2:7e8:e765:5e50:26e6]:1234 hello.js`

[2018-03-27 12:46] jrieken opened #46683 "Organise imports creates many blank lines"
re #46589

* running TypeScript 2.9dev20180327
* run organise imports on https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostTask.ts#L26
* :bug: there are now four blank lines below the imports

<img width="472" alt="screen shot 2018-03-27 at 14 45 53" src="https://user-images.githubusercontent.com/1794099/37968106-8f7bf962-31cd-11e8-9649-d7f10550b9b1.png">

[2018-03-27 12:49] chrmarti commented on #46229
@bpasero By a command in PowerShell.

[2018-03-27 12:49] jrieken opened #46684 "Organise Import should differentiate between files and folders"
re #46589

* running TypeScript 2.9dev20180327
* run organise imports on https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostExtensionActivator.ts#L7
* 🐛 imports to `vs/nls` (file) and `vs/base/...` (folder) are treated equal so that `vs/nls` is mixed in-between `vs/base/...` and `vs/workbench/...`

[2018-03-27 12:50] joaomoreno commented on #21146
Fixed by having git attempt to detect encoding.

Some encodings are still improperly detected: https://github.com/Microsoft/vscode/issues?q=is%3Aopen+is%3Aissue+label%3Afile-encoding+label%3Aupstream

[2018-03-27 12:50] #21146 closed

[2018-03-27 12:52] aeschli commented on #46672
Also tried on a bare Ubuntu 16.04 LTS. No stracktrace in the dev console,  ut also no connect.

[2018-03-27 12:57] jrieken commented on #46144
verified in code

[2018-03-27 13:02] chrmarti commented on #46502
The website should only open on the very first startup right after install.

@Jonathandelacruzp What files and with which "Date modified" do you have in `C:\Users\YOUR_USER\AppData\Roaming\Code\Local Storage`?

/cc @bpasero @Tyriar for ideas (we have a similar report in #46111)

[2018-03-27 13:04] MelAbgrall commented on #45295
hello, so I have the same issue
but i'm not using as much files as you:
I've 600 images in a subfolder, a virtualenv & my scripts

this issue however does not happen when i'm opening folders with only a few files (<10)

I'm on Fedora 26
On windows 10, I don't have this issue

[2018-03-27 13:06] chrmarti commented on #46657
Good catch. We should make `QuickPickItem.description` optional. /fyi @jrieken

[2018-03-27 13:10] chrmarti commented on #46665
That will work when the focus is on the list. When the focus is in the text field, I would expect Ctrl+A to select all text in the text field.

[2018-03-27 13:10] aeschli opened #46685 "Attach to port doesn't show port"
Testing #46582

elementary OS 0.4.1 Loki
Built on "Ubuntu 16.04.2 LTS"

node v8.9.1

- create foo.js
[code]
- in the integrated terminal run
`node --inspect ./foo.js` and `node --inspect=5445 ./foo.js`
- add a launch config
[code]
- launch the launch config

Dialog shows:
![image](https://user-images.githubusercontent.com/6461412/37969627-8477931a-31d1-11e8-8e26-2c1b9488afbc.png)

-> no port is sh

[2018-03-27 13:13] alexandrudima opened #46686 "Cannot open file with \ in name on Linux"
Testing #46328

* create a file with a `\\` in the name, e.g. `echo hi>hi\\a.txt`
* this will create a file called `hi\a.txt`
* the file is presented as `a.txt` in the explorer and it cannot be opened

![image](https://user-images.githubusercontent.com/5047891/37969549-5022f64a-31d1-11e8-9661-15bc13f5ddd5.png)

[2018-03-27 13:13] DanTup commented on #46660
@jrieken This is a great idea, but will you let me invoke my own code when the user hits `F2` so I can use it for renames?

[2018-03-27 13:13] dbaeumer opened #46687 "[folding] Only one folding section for large file."
Testing #46588

- generated a large JSON file using  https://www.json-generator.com/
- open it.

Only one folding section for the top level array. Expected 5000.

[2018-03-27 13:14] sandy081 opened #46688 "postDebugTask is not called when the debug session is stopped"
Testing #45305

- Clone vscode smoke test repo
- Create following task
[code]
- Add the above task as `postDebugTask` to the launch `Launch Program`
- Start Debugging and Stop Debugging

Post debug task `start` is not executed

[2018-03-27 13:16] #45305 closed

[2018-03-27 13:20] jrieken opened #46689 "Fix memoization warning"
* start vs code
* this is printed: `Memoize should only be used in functions with zero parameters`

After talking to @joaomoreno he added that (correct) warning but before shipping the Feb release @isidorn should fix the one 'bad' usage...

[2018-03-27 13:22] sandy081 opened #46690 "intellisense for justify-content shows duplicate "unsafe" values"
![image](https://user-images.githubusercontent.com/10746682/37970002-94c66218-31d2-11e8-8979-2306519cb8b6.png)

[2018-03-27 13:26] twajr opened #46691 "Extension host terminated unexpectedly."
- VSCode Version: 1.21.1
- OS Version: Windows 10 Enterprise - 1709

Steps to Reproduce:

1. Install VSCode on Windows 10 Enterprise
2. Launch It

/C:/Program Files/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:2207 Extension host terminated unexpectedly.
e.onDidNotificationChange @ /C:/Program Files/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:2207

Does

[2018-03-27 13:26] isidorn commented on #46677
Good catch but dup of https://github.com/Microsoft/vscode/issues/45741

[2018-03-27 13:26] #46677 closed

[2018-03-27 13:26] kanneg881 opened #46692 "尚無安裝適用於 'php' 檔案的格式器"
Issue Type: <b>Bug</b>

please help me why I coudn't format with alt + shift + F
The issue has happened in install editorconfig plugin.
I have already removed editorconfig  plugin still not working.

VS Code version: Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2018-03-27 13:27] DanTup opened #46693 "Setting terminal path via `terminal.integrated.env.osx` has paths backwards"
I set this:

[code]

Then in the terminal I ran `echo $PATH` and it output this:

[code]

I put my new path on the front, yet it ended up on the end. Note: the existing paths are set in `/etc/path` and `/etc/path.d` and not added in a terminal script running at startup so I don't think it's just that the other ones are being prepended (and it seems unlikely path would have 0 items in it to start,

[2018-03-27 13:27] dbaeumer opened #46694 "Slow typing in a large file where the content got copied from a clipboard"
Steps:

- Get a large file (mine was 500000 lines). I created it using https://www.json-generator.com/ by repeating 10000 times.
- In the web copy to clipboard
- create a new text file in VS Code
- paste the content
- start typing at the beginning.

Observer: typing is slow

If you close the file and reopen it typing speed is normal.

[2018-03-27 13:28] isidorn commented on #46659
This is a fair request, assigning to April to tackle then.

[2018-03-27 13:28] aeschli opened #46695 "Attach to process fails if node is started with custom port"
Testing #46582

elementary OS 0.4.1 Loki
Built on "Ubuntu 16.04.2 LTS"

node v8.9.1

- create foo.js
[code]
- in the integrated terminal run
`node --inspect=5445 ./foo.js bar`
- run the command `Debug: Attach to node process`

![image](https://user-images.githubusercontent.com/6461412/37970179-07a12322-31d3-11e8-9afb-65854cd8947b.png)

- pick the entry
- error: `Attach to process: cannot put proce

[2018-03-27 13:30] dbaeumer commented on #46665
Agree. Still short cuts for select / deselect all would be nice.

[2018-03-27 13:31] isidorn commented on #46621
Then please read this how to file a quality bug https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions

[2018-03-27 13:31] zerratar commented on #41584
This is not fixed, can still reproduce the same error in.
VSCode Version 1.21.1
OS Version: Windows 10 Pro, 1709, build 16299.309

[2018-03-27 13:33] isidorn commented on #46688
This works fine for me
What happens if you simply run the task via Run Task command?
On what platform are you? Can you reproduce always?

![screen shot 2018-03-27 at 15 32 23](https://user-images.githubusercontent.com/1926584/37970599-28cf3b28-31d4-11e8-8285-fd67a82a5ecc.png)

[2018-03-27 13:33] DanTup opened #46696 "Allow extensions to modify terminal environment variables"
Users sometimes want to set SDK paths local to their project to pin the versions of them (or to progressively move projects to the next version). There are two places where they'd want these paths to apply:

1. The extension uses it to load the correct SDK (eg. for language services, debugger, etc.)
2. In the integrated terminal

Currently it doesn't seem like there's a way to provide a path once

[2018-03-27 13:34] alexandrudima commented on #46616
@jasoncodingnow Have you tried to disable all extensions?

[2018-03-27 13:34] dbaeumer commented on #46667
Basically you want a preExecute hook. If so it is a dup of #43782.

And resolveTask is not meant to change task before execution. It is meant like in other resolve cases to fill in attributes that might be incomplete

[2018-03-27 13:35] aeschli commented on #46672
Same on Fedora 25. No stack trace

[2018-03-27 13:37] alexandrudima commented on #46613
@austenc When in the gif you have 3 selections, I believe you end up invoking `cursorMove` 3 times, so you are moving all 3 cursors to the left 3 times by 1 character.

[2018-03-27 13:38] #46613 closed

[2018-03-27 13:39] dbaeumer commented on #243
Actually this got implemented by executing tasks in the terminal with task v2.0.0. I will close the issue since the original description is resolved. Please open separate issue if you think something is not working correctly in terms of coloring in the terminal.

[2018-03-27 13:39] #243 closed

[2018-03-27 13:40] dbaeumer commented on #46337
Marking as dup of https://github.com/Microsoft/vscode/issues/11663

[2018-03-27 13:44] isidorn opened #46697 "Organize imports inserts copyright comments in the middle of imports"
#46589

1. Open any typescripts file in vscode repo, for example BreakpointWidget.ts
2. Organize imports -> copyright coments in the middle of imports

![screen shot 2018-03-27 at 15 44 34](https://user-images.githubusercontent.com/1926584/37971246-c1e0ebd0-31d5-11e8-97ad-d9d8192dc7c7.png)

[2018-03-27 13:45] alexandrudima commented on #46605
This is a case for `editor.autoIndent` going wrong.

Reduced repro:

![kapture 2018-03-27 at 15 44 12](https://user-images.githubusercontent.com/5047891/37971233-bb7a200e-31d5-11e8-8659-862ddcf368d7.gif)

[2018-03-27 13:48] isidorn opened #46698 "Command 'TypeScript: Organize Imports' resulted in an error."
#46589

OS X

1. vscode repo, open `modes.ts`
2. Delete the `{ IMarkerData }` import
3. Trigger Organize imports command -> you get an error

If I bring back the import removed in step 2 everything works fine

[2018-03-27 13:48] aeschli commented on #46672
Same when starting from an external terminal

[2018-03-27 13:50] dbaeumer commented on #44846
@jrieken would it be easier if the API requires that the item passed to the resolve call is `===` to the item return from provide API command. At least for the `CompletionItem` the LSP provides a data slot so that items that travel over the wire can be re-associated.

[2018-03-27 13:51] aiswaryadeepak commented on #33487
have a similar issue (I think).

1. viscose jumps to line 1
2. undo stops working https://github.com/Microsoft/vscode/issues/24709

I am using git from the cli though (bash on macOS) ie. am not using git from vscode

[2018-03-27 13:51] isidorn opened #46699 "Organize imports should change relative to absolute imports or vica versa"
Refs: #46589

1. Vscode repo, any file, have one relative import and a bunch of absolute imports
2. Organize imports -> I would expect that the relative import is changed to be absolute

[2018-03-27 13:52] alexandrudima commented on #46598
@heuripedes I am sorry, but I cannot reproduce.

I could take a look at what we are executing when you are typing. Can you please take a CPU profile when the slowness occurs?

To get a CPU profile of the renderer process:
* Run `F1 > Toggle Developer Tools`
* Go to the three dots burger menu
* Choose `More Tools > JavaScript Profiler`
* Start a new CPU profile
* Do the actions that lead to slownes

[2018-03-27 13:54] alexandrudima commented on #46581
Font rendering is not implemented by us, so it is an electron issue.

[2018-03-27 13:54] isidorn opened #46700 "Organize imports not connected with auto import"
Refs: #46589

I feel like the organize imports is disconnected from auto import which is a code action.
Also the organize imports does not auto import. Why is that? I feel like this should at least be configurable such that I have one action which I can always run which just does everything

[2018-03-27 13:54] vuchl commented on #3884
@tottobauer1972 nice try qwith the german 🤣

I actually don't know. Where do I find the entries?

[2018-03-27 13:55] m-schuetz commented on #41775
I'd also love to have this feature! Developers in visual computing could greatly benefit from graphical representations of algorithms in comments.

If this makes it into vscode, it would be good if the links could be specified relative to the workspace/project folder, since web content may not always be available or it may get removed at some point.

![image](https://user-images.githubusercontent.

[2018-03-27 13:57] isidorn opened #46701 "Typescript: organize imports is bad name because it also works on javascript"
Refs: #46589

Typescript: organize imports is a bad name because it also works on javascript
I would expect a more generic name