[2020-04-08 16:15] IllusionMH commented on #94689
As I see it - it should be quick toggle on/off so Settings might not be the best place (especially if still controlled by button in search as it is now).

However design proposed in https://github.com/microsoft/vscode/issues/65317#issuecomment-540821280 will make it more noticeable.

[2020-04-08 16:16] muodov commented on #75111
I'm still having this problem with 1.43.2 (Windows 10). Is there any active work on this currently?

[2020-04-08 16:17] eduardobrl commented on #91613
This problem is somehow related to kite, i closed Kited.exe process and the cli.js stopped running.

At least for me.

[2020-04-08 16:18] towry commented on #92755
Yes.

[2020-04-08 16:25] rebornix commented on #94574
It's pretty useful to myself so here is the PR https://github.com/microsoft/vscode/pull/94696

[2020-04-08 16:28] octref commented on #94664
Does this happen if you disable all extensions?

[2020-04-08 16:29] octref commented on #94614
Only extension can support it for Vue.

[2020-04-08 16:37] RMacfarlane commented on #94669
@luigiangelino Can you provide some more details? What doesn't work, is a view not loading, or showing incorrect data?

Is this from the `git-merger` extension? Please try running the `Developer: Reload with extensions disabled` command, does the problem still happen?

[2020-04-08 16:51] videopilot commented on #56855
This is something that Atom does *really* well. It allows creating variables as well as having other variables based on modifications to those...

![image](https://user-images.githubusercontent.com/6528746/78811184-74833580-7997-11ea-9f2c-8197b38a5abd.png)

[2020-04-08 16:51] gilescope commented on #76000
Hitting this on 1.41.1 / win10. Unless I set detectIndentation to false it does the wrong thing. Detect indentiaton does the wrong thing at the moment. Please get makefiles right as there's lots of them out there.

[2020-04-08 16:55] memo opened #94697 "$DISPLAY and other ENV variables missing in terminal"
Issue Type: <b>Bug</b>

# Summary
I already have an issue open around the fact that on ubuntu I need to launch vscode from terminal, otherwise vscode itself can't open a terminal
https://github.com/microsoft/vscode-python/issues/10985

If I start vscode from my terminal (bash), the terminal within vscode is missing a lot of environment variables, such as $DISPLAY. Interestingly, the Python interac

[2020-04-08 16:58] DarkLite1 commented on #94664
I've just tested that for you like so:
[code]
When I then change a folder name it works. When I then try again to change the folder name, say after 10 seconds, it fails again like before. So I don't think it's related to an extension.

[2020-04-08 17:00] octref commented on #94664
I'm not sure if this is related to Windows file path limit. If you move the folder to `c:/` drive and rename, does it work?

[2020-04-08 17:01] octref commented on #94663
We do not evaluate javascript in the link detected.

[2020-04-08 17:01] #94663 closed

[2020-04-08 17:05] DarkLite1 commented on #94664
When I close vs code insiders and rename the folder in explorer it gets renamed without an issue. If I leave vs code insiders open and try to rename the folder in explorer it failes to saying that a process is using the folder. So IMHO it should be something within vs code insiders that is locking the folder.

[2020-04-08 17:08] jakebailey commented on #94637
The bot removed extra users you assigned, I'm not sure if that was intentional or not.

[2020-04-08 17:22] xenoterracide opened #94698 "launch arbitrary program from launch.json"
Goal: run `npx program` so that we don't have to know the absolute paath inside of `${workspace}/node_modules
problem: there is no way to know where `npx is installed`

solution 1: add some local file (that can be ignored), that allows variables to be set for launch.json, then you could easily set `${usrLocal}/npx`

solution 2: allow executing `env` or `which` or even just searching `$PATH`

solut

[2020-04-08 17:30] xenoterracide opened #94699 "support json5 config files"
[json5](https://json5.org) is meant for config files/humans to write, it would be nice if these could be used for configuring vscode, e.g. launch.json5 could be used. I see 2 options if both are present, a well defined merge algorithm, throw an error, or add it as a configuration option in vscode e.g. "prefer json5".

[2020-04-08 17:34] bpasero commented on #94664
Please use https://docs.microsoft.com/en-us/sysinternals/downloads/handle to find out which process is locking the file or folder. If it is in use, there is nothing VSCode can do. And the fact that it works when you close VSCode indicates that maybe some extension locks it.

[2020-04-08 17:36] Gabin25 opened #94700 "TS Server fatal error: Maximum call stack size exceeded"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-08 17:40] KevinSnyderCodes opened #94701 "Cannot open folder from command line using "code""
- VSCode Version: 1.43.2
- OS Version: macOS Catalina 10.15.4

Steps to Reproduce:

Run any of the following commands, replacing `~/my-project` with some folder that exists on your local machine. VS Code opens a new window but does not open the specified folder in the Explorer:

[code]

Opening files still works as expected:

[code]

Does this issue occur when all extensions are disabled?: **Yes**

[2020-04-08 17:41] rebornix commented on #94319
Toggle Center Layout will move the editor pane from one container to another, which breaks the webview. @isidorn are you aware of any events which I can listen to for the layout change?

[2020-04-08 17:43] akbyrd opened #94702 "Search not respecting `search.exclude`"
When I use global search it's not respecting my workspace `settings.exclude`. I have a notes folder in my workspace with a bunch of txt files. In my workspace I have `"search.exclude": { "**/*.txt": true }`. However, when I have an editor open with one of those text files it shows up in search results. It looks like search now considers all open editors but doesn't apply my explicit settings when

[2020-04-08 17:43] enicol opened #94703 "Stop .code-workspace file from auto-updating with settings from my User file"
Issue Type: <b>Bug</b>

After making unrelated changes to my User settings.json the *.code-workspace file in my monorepo imported the folllowing:

[code]

Every time I go to discard these changes, they auto-generate again moments later. The monorepo I'm working in is shared with my coworkers so I can't gitignore the file but I also can't begin to reason why this has started in the first place.

I'

[2020-04-08 17:44] KevinSnyderCodes commented on #94701
Rebooting my computer resolved the issue. Should have tried that the first time around. Sorry for the noise.

[2020-04-08 17:44] #94701 closed

[2020-04-08 17:46] McAwesome123 opened #94704 "Colour clashing in editor"
Issue Type: <b>Bug</b>

Themes such as Tomorrow Night Blue and Red have a colour clash between sections with and without text or highlighting. Some other themes have this too, but it isn't as noticeable.
![image](https://user-images.githubusercontent.com/49949995/78811331-5be44100-79d2-11ea-99af-60ea1bb56ad2.png)
![image](https://user-images.githubusercontent.com/49949995/78811396-7f0ef080-79d2-11

[2020-04-08 17:47] marlon-sousa commented on #94677
Hello,

First of all thank you so much for the great work you are doing on vscode accessibility.

I am sorry for the delay on this comment, but let me show another point of view.

Usually, the status bar shows information contextual to a given operation. It can show the line / column the cursor is currently at, it can show the length or other information relative to a selection or it can show stat

[2020-04-08 17:52] #94699 closed

[2020-04-08 17:52] TylerLeonhardt commented on #94408
I'm thinking about prototyping a "PowerShell Notebooks" experience where the backing file is a regular ps1.

I want to be able to toggle between rendering the ps1 in the regular text editor & rendering the ps1 as a Notebook.

Having a mechanism to do this would be fantastic.

[2020-04-08 17:53] Ziriax commented on #92735
Since I the used the user installer, I don't have the issue anymore.

Maybe the system installer that I normally use updated using the user installer, and caused this issue, I am not sure.

[2020-04-08 17:57] akbyrd opened #94705 "Search does not respect `workbench.editor.revealIfOpen`"
Selecting a search result will reveal an existing editor in an unfocused group even when `workbench.editor.revealIfOpen` is set to false.

Steps to Repro
Set `workbench.editor.revealIfOpen` to false
Open two editor groups
Focus an editor in one of the groups
Perform a search that will find results in the unfocused group (note that focus state is maintained while searching. The editor title color r

[2020-04-08 17:57] connor4312 commented on #27950
I've implemented this in js-debug, it works well. Definitely a big QoL improvement, getting truncated values in copied expressions was quite annoying 🙂

![](https://memes.peet.io/img/20-04-c45eee9f-62f0-4e52-b773-2c2f6abb9dde.gif)

[2020-04-08 18:05] rebornix commented on #60977
@ultraGentle thanks for your continuous contribution on this. The PR does it claims to do, great. IMHO this feature should be behind a setting as we don't want to change the behavior for everyone who is already familiar with the experience.

[2020-04-08 18:06] RMacfarlane commented on #94694
@pushkine Please comment on the original issue instead of creating a new one, thank you!

[2020-04-08 18:07] #94694 closed

[2020-04-08 18:08] pushkine opened #94706 "Codelens-type interface for jsdoc functions"
I would like comments that vscode assumes to be documentation for a function to be collapsed next to its CodeLens references, such as to get something like
`12 references | documents 3 parameters and 1 return`
where clicking on it reveals the comment, and collapsing it gets it back to its initial state.

Some (most?) people use jsdoc much more to provide metadata for their editor rather than to do

[2020-04-08 18:11] sbatten commented on #94695
I agree that this should be improved. Some comments:

1) Hovering over the center of an icon and having the sidebar switch to that viewlet does not change the drop behavior. It will still insert if you drop over the activity bar. This could change but currently the feedback indicates the actual behavior.
2) I also like the idea of using the old bg hover effect to indicate that you can switch viewl

[2020-04-08 18:19] gjsjohnmurray commented on #94703
Can you reproduce this when running with all extensions disabled?

[2020-04-08 18:23] enicol commented on #94703
Is there a way to do that through the settings or does that need to be done manually?

[2020-04-08 18:23] gjsjohnmurray commented on #94702
/duplicate of #31819 so apparently it's behaved this way for a long time.

[2020-04-08 18:24] #94702 closed

[2020-04-08 18:24] sbatten commented on #94688
Potentially. We could just generate a container for it, or we could do best effort, or we could change how view contributions work.

## Concrete example
1. I create an extension that contributes a Bing Search view to the `search` view container.
2. The user moves search into the Panel.
3. The user installs my extension.

Should Bing Search live in the panel with search? Does your answer change if

[2020-04-08 18:25] isidorn commented on #94677
@marlon-sousa thanks for providing more details. And yes that makes perfect sense, I was unaware of a general way to make screen readers read out the status bar. Thanks for enlightening me.

I believe this is done by using the `status` role as described here https://w3c.github.io/aria/#status

Due to that I have just pushed a commit that our statusbar starts using the `status` role.
I can not veri

[2020-04-08 18:26] jcogs commented on #94446
I'm experiencing the same thing. As a work-around I've been using the "replace all" button for each individual file in the search results.

Version: 1.43.2
Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
Date: 2020-03-24T07:34:57.037Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

[2020-04-08 18:28] gjsjohnmurray commented on #94703
One way is with the command `Developer: Reload With Extensions Disabled`

Another is to add the `--disable-extensions` argument to the commandline when you launch VS Code.

[2020-04-08 18:30] HenryMehta commented on #94671
I upgrade VSCode this morning because it kept messaging me about a new version.  Once updating CTRL-C stopped working in the terminal windows.  If I do it twice (ie CTRL-C CTRL-C) it simply tells me that isn't a command.

I can no longer quite a program without killing the terminal window and opening a new one.  A right faff

[2020-04-08 18:31] enicol commented on #94703
Just did it and realized ColorTabs extension was the culprit! Thanks so much for your help with this

[2020-04-08 18:31] isidorn commented on #27950
@connor4312 very very cool!
@weinand should I ping other debug authors so we get more extensions implementing this?

[2020-04-08 18:32] ppittle commented on #46718
Is this fix slated for a specific release?  Excited to get my hands on it!

[2020-04-08 18:33] gjsjohnmurray commented on #94703
You're welcome

/causedByExtension

[2020-04-08 18:33] akbyrd commented on #31819
This is super frustrating.

[2020-04-08 18:34] #94703 closed

[2020-04-08 18:37] dcermak commented on #85920
Any updates on this? This notification is really annoying as it results in my automated tests being extremely flaky.

[2020-04-08 18:39] markfields opened #94707 "Remember last opened set of file tabs per git branch"
Of course Code remembers what files were opened when reopening to the same folder. But if I'm working on multiple branches in the same repo, when I switch between them I'd love for the set of opened files to switch too.  Probably needs a bit of refinement in terms of the exact UX, but it would be nice to have in some form.

[2020-04-08 18:40] jvesouza opened #94708 "using orca I can't edit commands already executed in the VSCode terminal"
Issue Type: <b>Bug</b>

1. In a linux environment launch orca and VSCode.
2. Press ctrl+` to activate a VSCode terminal.
3. Type a shell command and press enter, for example:
echo This is a test.
4. Press the up arrow.

Orca reads the command typed in the step 3 as expected.

5. Try use left and right arrow to review the content of the command.

Orca should read each character as left and right ar

[2020-04-08 18:43] isidorn commented on #94319
@rebornix there are currently no events when the centering happens.
There is a `onDidLayout` call [here](https://github.com/microsoft/vscode/blob/51edf4892b8ea1cabaf0e0a267ba23ffe187c712/src/vs/workbench/services/editor/common/editorGroupsService.ts#L169) which I believe gets fired whenever there is a lyout change. Not sure if that is too much but you can try to use it.

[2020-04-08 18:46] Tyriar commented on #46696
Just had a UX call, I'll paste the notes I presented and main feedback I gathered. I'll follow up a comment of the plan for the iteration given this feedback soon.

## Notes presented

### Using the panel actions

Probably not a good idea:

- The panel acts on the level of all terminals, not a specific terminal
- If an info/warning icon went here, it would change depending on which split was focus

[2020-04-08 18:48] isidorn commented on #94708
@jvesouza thanks for filling this.
I can reproduce this issue. Orca nicely reads out whatever I type in our integrated terminal, but it does not read it if I use the `up` / `down` arrow. @Tyriar might you have an idea? Is there some difference in how you insert text for history entries?

[2020-04-08 18:50] Tyriar commented on #94697
Do you set the inheritEnv setting? Can you share your settings.json file?

[2020-04-08 18:52] Tyriar commented on #94708
I'm not sure we can solve this, at least in the ideal way. The actual "textbox" is owned by whatever process is running (eg. powershell), it could start at cell 2 or cell 10, we don't know. So we can't populate a HTML textbox to expose that information to screen readers.

[2020-04-08 18:53] jvesouza commented on #94708
In my environment orca reads when I press up/down arrow. Orca does not read when I press left/right after I press up/down.

[2020-04-08 18:56] louis925 opened #94709 "Command + scroll change font sizes too fast on macOS"
It is great that on macOS, Command + two fingers scroll can change the font size. However, it is way too sensitive on macOS touchpad. Lots of time I accidentally touch two fingers while trying to press Command, it immediately shrink the font size of the editor to very small. And, it is even harder to recover to the original font size quickly, because mac has weird momentum on the touchpad.
Please

[2020-04-08 18:57] #94359 closed

[2020-04-08 18:58] #89008 closed

[2020-04-08 18:58] chrmarti commented on #89008
Thanks @bpasero !

[2020-04-08 19:02] rebornix commented on #92660
I ran into this issue less often than before, a couple of times in last few weeks. The codelens come into view slower than before, not sure if we have any update in TS side @mjbvz .

Occasionally I saw empty code lens and after debugging into this a bit, I found that the lens we received have empty title and command, which will end up with an empty span `<span></span>`

https://github.com/microsof

[2020-04-08 19:02] isidorn commented on #94404
@joanmarie thanks for trying it out! Yeah, those are the two lists we are talking about.
I just updated to latest Orca 3.37.1pre
I am using Chrome Version 81.0.4044.92 (Official Build) (64-bit) with accessibility flags
I am on Ubuntu 18
And I can still reproduce the issue.

Tomorrow I plan to investigate more...

[2020-04-08 19:07] gjsjohnmurray commented on #94671
When you press CTRL-C in a terminal window does any message appear on the status line?

[2020-04-08 19:08] gjsjohnmurray commented on #94671
Also, please use Help\About and copy the details to your clipboard, then paste them here.

[2020-04-08 19:08] astoycos opened #94710 "vscode.workspace.workspaceFolders is always undefined"
- VSCode Version:1.43.0
- OS Version:Fedora 31

Steps to Reproduce:

1.Use the Yeoman Code Extension Generator
2. make a new project
3. Open the folder with ` code <folder name>`
4. Try and Print the `console.log(vscode.workspace.workspaceFolders)`, and then hit `F5` to compile and run

[code]
The Resulting output is always undefined.

 To check that the workspace var was being correctly set I mak

[2020-04-08 19:08] HenryMehta commented on #94671
CTRL-C was pressed.  Waiting for second key of chord...

[2020-04-08 19:09] HenryMehta commented on #94671
Version: 1.43.2
Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
Date: 2020-03-24T07:52:11.516Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 4.15.0-96-generic

[2020-04-08 19:13] gjsjohnmurray commented on #94671
Check your keybindings. It looks like you have a chord entry (a sequence of more than one key-combinations) in which the first one is `Ctrl+C`

[2020-04-08 19:19] Tyriar commented on #94656
/duplicate https://github.com/xtermjs/xterm.js/issues/2137

[2020-04-08 19:20] Tyriar commented on #94660
@joaomoreno any insights?

[2020-04-08 19:23] Tyriar commented on #94708
@jvesouza when you press up, the terminal in VS Code sends the "up" code over to the shell and it responds by moving the cursor to the beginning on the prompt and then printing characters. It's read out the same as how output is read out.

Now when you move the cursor left, VS Code sends the "left" code over to the shell and the shell responds by moving the cursor 1 cell to the left. The way this

[2020-04-08 19:23] Tyriar commented on #94659
This looks like an issue with our old terminal backend "winpty", going forward we are focusing our efforts on the new backend "conpty" which is build by the Console team at Microsoft and should fix many issues with the terminal under Windows. You can read more about getting ConPTY [here](https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423).

/duplicate https://github.com/Micros

[2020-04-08 19:25] diminutivesloop opened #94711 "Git: Offer to show the entire git commit output, when it fails"
Issue Type: <b>Bug</b>

I'm using git pre-commit hooks via Husky to run the Prettier code formatter on my project. Sometimes I try to commit code that has a syntax error and when that happens the pre-commit hooks fail. If I commit from the terminal I get an informative error message like the following:
[code]

However when I commit via VSCode's built-in commands I get a much less informative error

[2020-04-08 19:25] Tyriar commented on #91817
@milesxu can you reproduce this on Linux locally? If so you could potentially debug it if you're up to it by checking when this gets called:

https://github.com/microsoft/vscode/blob/16a06751fe9da1a82c7791674e74db87ebd9dd10/src/vs/workbench/contrib/terminal/browser/terminalProcessManager.ts#L247

[2020-04-08 19:25] adamreisnz commented on #60977
Familiar with the experience of the screen randomly moving to different
places? Haha, sorry, lockdown is making me a bit crazy.

On Thu, 9 Apr 2020, 06:06 Peng Lyu, <notifications@github.com> wrote:

[2020-04-08 19:28] HenryMehta commented on #94671
I don't understand where to do that

[2020-04-08 19:32] macintacos opened #94712 "VSCode updates show "unassigned" when shortcut has been manually unassigned"
Issue Type: <b>Bug</b>

Just updated to the March release of VSCode and saw this under the Accessibility update:

![image](https://user-images.githubusercontent.com/8128941/78825489-10b83700-79ae-11ea-95aa-89e0c7e4aa85.png)

I heavily modified my keyboard layout, so it's unsurprising that if they're being programmatically accessed they won't show up. Perhaps if it can't find anything, it should de

[2020-04-08 19:34] xenoterracide opened #94713 "Git: Add"
goal: add files with git

git smart commit allows you to select tracked, which is awesome, but then it appears there is no option to add an untracked file.

Option 1 : would be nice to add another 2 options to smart commit, "ask" and "tracked + ask". What ask would do when saving a file is it would pop up and say "would you like to stage this file" to which you could say yes or no. tracked+ask  wo

[2020-04-08 19:36] mjbvz commented on #94684
Duplicate of #94212

[2020-04-08 19:36] #94684 closed

[2020-04-08 19:37] #94574 closed

[2020-04-08 19:38] jvesouza commented on #94708
@Tyriar Thank you very much for the excellent explanation. I understood why an ideal solution is not possible.

[2020-04-08 19:40] xenoterracide commented on #94713
related, but not a duplicate, as what if I create a file outside of vscode.

[2020-04-08 19:41] gjsjohnmurray commented on #94671
https://code.visualstudio.com/docs/getstarted/keybindings

[2020-04-08 19:43] #94671 closed

[2020-04-08 19:46] rebornix commented on #93955
1 and 4 are fixed as well. I'm a bit not clear about 2, doesn't that mean "Tab"? If not feel free to create a new issue with details.

[2020-04-08 19:47] IllusionMH commented on #94698
I think it's already possible similar to debugging `npm` scripts. Starting from default config Node.js: Launch via NPM and then using `"runtimeExecutable": "npx"` and `"runtimeArgs": ["program"]`

However it might take a bit extra to pass debug argument to `node` (and requires npx 9.1.0+) See https://github.com/zkat/npx/issues/68

So most likely it should be (unable to test because my npx version

[2020-04-08 19:48] mjbvz commented on #94212
Example code:
[code]

[2020-04-08 19:53] QuillVoy commented on #14836
Indeed, Sublime is much, much more useful in this regard. Nonetheless, my workaround to select all is:

1. Press _ctrl+F_.
2. Insert the regex code.
3. Click back on the text (this is necessary).
4. Press _ctrl+shift+L_ to select all text or _ctrl+D_ to consecutively adding each occurrence to the selection.

[2020-04-08 19:55] jvesouza commented on #94677
@marlon-sousa I agree that reading the contents of the status bar is essential. However, I believe that being able to access the actions from the status bar would also be very useful.

By the way, I didn't find information about the current line and column in the status bar. I don't know if the information is really missing or if the orca was unable to identify it.

[2020-04-08 19:57] osortega opened #94714 "Open new terminal not fully working in web"
- VSCode Version: 1.43.2
- OS Version: Debian GNU/Linux 9

Steps to Reproduce:

1. Go to online.visualstudio.com
2. Create an environment and connect to it
3. As soon as it loads, try opening a new terminal

Does this issue occur when all extensions are disabled?: Yes/No

The following is the output I see in the console

![image](https://user-images.githubusercontent.com/48293249/78827783-887b6700

[2020-04-08 19:59] teo-tsirpanis opened #94715 "The tab icon on the diff viewer does not change when switching between files of the same language."
Issue Type: <b>Bug</b>

1. In a git repo, change two files with a different icon in the Files view, _but of the same language_, like an `.xml` file and a `.csproj` file, with an extension like `vscode-icons`.
2. Go to the Source Control panel and select one of the files of step 1. Notice the tab icon in the diff viewer.
3. Now, select the other one.
4. The tab icon on the diff viewer does not chan

[2020-04-08 20:09] #93857 closed

[2020-04-08 20:18] #94675 closed

[2020-04-08 20:19] RMacfarlane commented on #94675
Please reopen this on the C/C++ extension: https://github.com/Microsoft/vscode-cpptools

[2020-04-08 20:22] octref opened #94716 "Remove implicit `public`"
In vscode.d.ts, we don't seem to use `public`.

`SemanticTokensLegend` is the only one, and it causes our DefinitelyTyped publisher to fail.
https://dev.azure.com/definitelytyped/DefinitelyTyped/_build/results?buildId=40413&view=logs&j=8635df7d-ecde-52a7-c7a8-84b998e35690&t=c264d665-0b79-59b7-7e04-9965cbe74860

I [disabled](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/43745/commits/3334

[2020-04-08 20:33] xenoterracide commented on #94698
I'm not sure if in some cases the --inspect-brk is needed, but that caused it to blow up for me (oh maybe it's because I forgot "port"). this however worked just fine

[code]
thanks. I guess I'll close this, unless it should be in an example doc somewhere, then feel free to reopen.

[2020-04-08 20:33] #94698 closed

[2020-04-08 20:38] RMacfarlane commented on #94638
Duplicate of https://github.com/microsoft/vscode/issues/92695

[2020-04-08 20:39] #94638 closed

[2020-04-08 20:39] mjbvz opened #94717 "No preferred extract constant action in braceless arrow function"
Issue Type: <b>Bug</b>

**repro**
1. With a keybinding for extract constant:

[code]

2. In a js file

[code]

3. Select `1 + 2` and try using the extract constant action

**Bug**
nothing happens

VS Code version: Code - OSS Dev 1.45.0 (Commit unknown, Date unknown)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9980HK CPU

[2020-04-08 20:41] #94672 closed

[2020-04-08 20:48] #94717 closed

[2020-04-08 20:50] sbatten commented on #94695
Another idea based on sitdown discussion from today and details from @kieferrm:
1. Have the insert behavior only work at the edges of the icon.
2. In the middle of the icon, we use highlight bg to indicate this will go inside the view container.

We will probably want some delay or fade in on bg so re-arranging icons in the activity bar isn't noisy.

We never had drop inside view containers before

[2020-04-08 20:54] eamodio commented on #94688
Not sure I'm a fan of that idea. Basically because it removes a nice logical grouping mechanism.

For example, in this proposal, GitLens would basically contribute 1 view (say Repositories) without an adjacent view, and then all the rest could be adjacent to that view. But now the container would be called `Repositories` and would have that view's icon rather than what I would want -- which would

[2020-04-08 20:55] mjbvz commented on #94706
This sounds like a good extension candidate. If such an extension proves popular, we could look into moving it into code

[2020-04-08 20:55] #94706 closed

[2020-04-08 20:58] #94691 closed

[2020-04-08 21:01] mjbvz commented on #94691
In your example, refactor and format are coming from two different extensions. Making the typescript refactor actions understand prettier style is out of scope

After refactor we could run format on the document automatically but this would result in odd flashes where the code shifts style after the refactoring is applied. Better to leave running format up to the user in my opinion

[2020-04-08 21:02] mjbvz commented on #94673
Please follow [these instructions](https://github.com/Microsoft/vscode/wiki/Performance-Issues) to collect performance information. Share the output of `code --status`

[2020-04-08 21:04] doucette opened #94718 "Go to File causes error "spawn ENAMETOOLONG""
Issue Type: <b>Bug</b>

1. Open a workspace for Unreal Engine 4.25.
2. Attempt to use "Go to File..." to open a file. I used NameTypes.h.
3. Observe the error "spawn ENAMETOOLONG" displayed in a floating notification in the lower right corner.

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary

[2020-04-08 21:04] Tukei-david opened #94719 "TESTING WENT WRONG AFTER UPDATING, I AM STUDENT LEARNING NODE JS AND MONGODB"
Issue Type: <b>Bug</b>

Hey Dealers,

I am learning Node js and i am using visual editor as my tool. Today like 2 hrs from now i updated my visual editor while still following some tutorials of testing my task manager app codes but it returned an error that the server is timed out and the time given was 30000 ms. Does the new version as a bug or what? I can't even connect to my mongoDB compass dat

[2020-04-08 21:06] eamodio commented on #94688
What if instead a container could be of a defined "container type" So `viewsContainers` contributions are really just defining a "container type", with an `id`, `title`, and `icon`, which could be "applied" to any container. Then as a user, as you move things around, they would create containers with the "specified" type if need, and you could change the type of existing containers. This would all

[2020-04-08 21:07] arielsumeruk commented on #94659
Thanks Daniel
I did change the setting of "terminal.integrated.windowsEnableConpty": from
false to true but it does not make a difference, there is still no
response when I try and type in the terminal
kind regards
Ariel

On Wed, Apr 8, 2020 at 9:24 PM Daniel Imms <notifications@github.com> wrote:

[2020-04-08 21:08] mjbvz opened #94720 "Add API command to reveal a file/folder in VS Code's explorer"
**Feature request**
Add a command that reveals a file/folder in the VS Code explorer. This command should take the URI of the resource to reveal

I imagine the command should also highlight revealed file/folder so that is clear to users what has happened

**Potential Use Cases**

1. In markdown files, when the user clicks on a link to a folder we reveal that, #91336
1. Link detection in the termin

[2020-04-08 21:08] mjbvz commented on #94720
Alternatively, make the `vscode.open` command reveal a folder in the VS Code explorer when called with a folder URI

[2020-04-08 21:09] JohnnyCrazy commented on #30562
Small bump for feedback from @joaomoreno and a possible fix for the problem stated above:

The default timeout of `http.Server`, which is used by the IPC, is 2 minutes. A simple solution would be disabling it. This is, btw, [also the default in node 13](https://github.com/nodejs/node/pull/27558).

[2020-04-08 21:11] s4m0r4m4 commented on #91613
Sorry for the delay, but yes, when I just open it as adminstrator manually (rather than setting it to always open as administrator), the issue does not occur for me.

[2020-04-08 21:12] jos3s opened #94721 "Folders for extensions in the activity bar"
I would like it to be possible to create folders on the Activity bar so that we can have two extensions sharing the full view
![Anotação 2020-04-08 181151](https://user-images.githubusercontent.com/50359547/78834111-70b9d800-79c4-11ea-844f-e644c17c0003.jpg)

[2020-04-08 21:14] doucette commented on #94718
I retried on 1.44.0 and no longer see the "spawn ENAMETOOLONG" error, but still have no files listed in the box that comes up except for files that I've previously opened by browsing to them. The explorer tree shows the expected files. This did not happen with Unreal Engine 4.24, where the Go to File functionality worked as expected. I don't know what has changed between those versions that would

[2020-04-08 21:21] joanmarie commented on #94677
@isidorn I just built VSCode. I have good news and bad news.
* Good news: The container has a role of statusbar
* Bad news: It lacks children, accessible text, a name, etc.

The latter means Orca has nothing to present.

[2020-04-08 21:25] roblourens commented on #94692
You can, in the Remote Explorer viewlet, same as with Containers. Can you explain what issue you are having?

[2020-04-08 21:36] ultraGentle commented on #60977
@rebornix Ok, no problem.

Would you want the current behavior enabled by default?

Personally I would suggest enabling the new behavior, with a note about it in the "what's new"  section indicating that it can be switched back via the setting.

Either way!

[2020-04-08 21:38] RMacfarlane commented on #94682
Please reopen this on the C# extension

[2020-04-08 21:38] #94682 closed

[2020-04-08 21:41] Adebayo-Salami opened #94722 "Extension host terminated unexpectedly."
Issue Type: <b>Bug</b>

Extension host terminated unexpectedly.

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: ena

[2020-04-08 21:41] dayothompson commented on #93823
Hi Paul, I'm quite new to using VS code.
Is your solution only for service principal Authentication on Azure?
I'm using Power BI.

[2020-04-08 21:41] larini opened #94723 "Allow setting zoom level per window"
Issue Type: <b>Feature Request</b>

I work with two different size monitors, but I can't apply individual zoom in each screen.
So in one monitor the font is small and in the other is big.

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.18363

[2020-04-08 21:42] joanmarie commented on #94677
Update: I quit Orca and relaunched VSCode and see status bar children. But Orca is still not finding them. So I'll investigate more tomorrow on that front and get back to you with an answer and possibly a change to Orca.

In the meantime, there is a potential issue with using this role: The ARIA `status` role is a live region. Screen readers typically announce changes in live regions. So we might

[2020-04-08 21:46] Adebayo-Salami commented on #94722
Re-installed Visual Studio Code And it resolved issue.
Please close case

[2020-04-08 21:46] #94722 closed

[2020-04-08 21:55] tapz commented on #94673
I'll read the instructions when I have some free time. Now I have disabled the JS/TS extension and my computer has never worker this fast. Cpu almost idle and low memory consumption. Goodbye jump to functions, but looks like it's worth it.

[2020-04-08 21:57] roblourens commented on #94506
Did this in the QueryBuilder - tried to make it async to do this properly but it spiraled out of control.

[2020-04-08 21:57] nexes opened #94724 "Editor stays blurred when moving panels"
Issue Type: <b>Bug</b>

When moving the different panels around, Problems, Terminal etc, the editor will have a blurred effect. This effect doesn't go away if I move a panel but put it back in the same place. Here is a GIF of the problem.

[blur problem](https://imgur.com/o1GX9Nc)

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows

[2020-04-08 22:01] devuxer commented on #63690
I've had this problem with VSCode as long as I can remember. I just installed version 1.44.0 on my Thinkpad, and it's still definitely happening. As I read through the release notes, I like to try out the new features as I read. With a document this long, it definitely causes some frustration having to keep finding my place again after each try. Hoping someone can figure out what's causing this 🙏

[2020-04-08 22:04] DawnPaladin commented on #92033
Just updated to 1.44.0 and I'm still seeing this problem. The repo is on the C: drive. It's not using WSL.

From Git status:

[code]

From my terminal:
[code]

I don't know why it's saying '/app' is an invalid path - it is part of my repo.

[2020-04-08 22:05] tahnik opened #94725 "'${workspaceFolder}' can not be resolved in a multi folder workspace"
- VSCode Version: 1.44.0
- OS Version: Windows 10 Pro 1909 Build 18363.720

Steps to Reproduce:

1. Create a workspace
2. Add a folder to that workspace.
3. Add a launch configuration "Node.js: Attach to Process" in the workspace file.
4. Start the debug session.

Here is my workspace file:

[code]

Here is a screenshot of the error:

![image](https://user-images.githubusercontent.com/9964210/7883

[2020-04-08 22:06] Tyriar commented on #94659
@arielsumeruk you need to be on Windows 10 v1903 to use conpty as mentioned here https://github.com/Microsoft/vscode/issues/57803#issuecomment-449495423

[2020-04-08 22:07] RMacfarlane commented on #94719
Hi @Tukei-david, I'm not sure if this is a problem with VSCode or with something else. Can you share the code that is timing out and how you are running it? Can you also try going back to the old version and see if that fixes the problem? You can download it here: https://code.visualstudio.com/updates/v1_43

[2020-04-08 22:08] citrixv9 commented on #94725
`Version: 1.41.0-insider (user setup)
            Commit: a747d26
            Date: 2019-11-23T11:09:42.834Z
            Electron: 6.1.5
            Chrome: 76.0.3809.146
            Node.js: 12.4.0
            V8: 7.6.303.31-electron.0
            OS: Windows_NT x64 10.0.19025

            Steps to Reproduce:

            Using the TreeDataProvider API load a custom View into Explorer with icons

[2020-04-08 22:09] Tyriar commented on #94714
I'm confused, the red error is talking about the fit xterm.js addon which VS Code doesn't use? 😕 What is app.js?

The not implemented error throws in the web worker ext host by design.

[2020-04-08 22:10] miXwui commented on #94724
I had this issue as well, seems like the "Multiple views in a single panel" feature doesn't work if the 3-dot-menu is shown, like below:
![image](https://user-images.githubusercontent.com/4538842/78838153-2d0ea080-79bb-11ea-80d1-1bed7222e932.png)

If the 3-dot-menu is shown, it will glitch and the editor will have that "blurred effect". To remedy this for now, I either:
1. Zoom out (Ctrl + - on Wi

[2020-04-08 22:14] arielsumeruk commented on #94659
Dear Daniel
Thank you for the response, but I do not understand. If the terminal does
not work when the setting is either true or False then how can it work? is
this not a different issue?

On Thu, Apr 9, 2020 at 12:06 AM Daniel Imms <notifications@github.com>
wrote:

[2020-04-08 22:16] sbatten commented on #94688
This is already the case for view container ids

In this proposal, repositories view would have optional `containerIcon` and `containerTitle` properties to be GitLens

[2020-04-08 22:18] RMacfarlane commented on #94709
@louis925 On my mac, I can enable cmd + two finger scroll to zoom in and out, but it changes the zoom level of the entire screen instead of just changing the font size. Is this the feature you're talking about, or something else?

[2020-04-08 22:18] curtisgibby commented on #27317
I checked into this again after seeing that [Quick Open was rewritten in 1.44](https://code.visualstudio.com/updates/v1_44#_quick-open-rewrite). Unfortunately, I'm still seeing the same behavior as before: given the input of `beh/rvb`, "**R**e**v**ision**B**ehavior" gets ranked higher than "**R**emote**V**ideo**B**ehavior".

However, there is one improvement as of version 1.44: if you put in a spa

[2020-04-08 22:18] Tyriar commented on #94659
@arielsumeruk there are some quirks with the old system (sometimes it fails randomly, anti-virus can block etc.) and we've moved on to a vastly better one developed inside Microsoft. I recommend upgrading to Windows 10 to get on the new better supported backend.

[2020-04-08 22:19] sbatten commented on #94688
For your proposal, I'm not sure I fully understand it. Could you explain how it would work with `Concrete Example #1`

[2020-04-08 22:21] mjbvz commented on #94673
Please just share the output of `code --status` when the problem happens

[2020-04-08 22:24] RMacfarlane commented on #94710
When you launch the new window to debug the extension by pressing `F5`, have you opened a folder in that window? `vscode.window.workspaceFolders` will return the folders that are currently open in vscode itself. If you're trying to get the path to the extension code, you can use the `extensionPath` on the context the extension activates with: https://github.com/microsoft/vscode/blob/d91ca067cab6a9

[2020-04-08 22:25] osortega commented on #94714
@Tyriar the red error should be irrelevant to this. It was something I was testing independently, inside a VS Code webview.

The other errors are the ones I thought would be relevant for this issue. The problem is that sometimes VS Code seems to render wrongly the terminal.

This is how it looks like when it repros.

<img width="1097" alt="ghissue" src="https://user-images.githubusercontent.com/48

[2020-04-08 22:27] mjbvz commented on #92660
Nothing has changed on the TS side within the last month or so.

We compute the references code lens with low priority requests against TS server. This means any user action will go ahead of these request. I wonder if semantic coloring is now causing these requests to be more delayed than they were previously? @rebornix Can you try disabling semantic highlighting just to check this

[2020-04-08 22:28] yogeek commented on #94660
If it may help, here is some additionnal information :
- the shell I used in my first post was "bash" (from git bash exe) but I have the same problem using "powershell" in VSCode integrated terminal
- I also have the problem in "git bash" or "powershell" outside of VSCode even if my internet connection in Chrome is working fine
- in VSCode bash integrated terminal, if a export "http_proxy" and "ht

[2020-04-08 22:28] RMacfarlane commented on #94666
Do you have any keymapping extensions installed? You can search `@category:keymaps @installed` in the extensions viewlet. Or, if you go to keyboard shortcuts and search for these keybindings, what do you see as the source?

<img width="1178" alt="Screen Shot 2020-04-08 at 3 28 08 PM" src="https://user-images.githubusercontent.com/3672607/78839591-a4d5ce80-79ad-11ea-9f7a-4e217707b9f1.png">

[2020-04-08 22:30] RMacfarlane commented on #94680
Does this happen in new terminals as well? It seems like the path wasn't updated to include "conda"

[2020-04-08 22:37] pjgoodall commented on #94338
Well not being able to transfer surely sucks

[2020-04-08 22:37] tapz commented on #94673
I will. Once I have read the instructions how to do that in MacOS.

[2020-04-08 22:39] osortega commented on #94714
This happens when resizing the terminal

![terminal](https://user-images.githubusercontent.com/48293249/78840207-08143080-79af-11ea-9b4d-4547b2a4850d.gif)

Seems to be some sort of rendering issue

[2020-04-08 22:42] Nowaker commented on #27317
Great suggestion @curtisgibby! IntelliJ already does it.

[2020-04-08 22:51] rawfox opened #94726 "Possible regression: As of 1.44 cannot open multiple files from "Go to file..." menu"
Description:
As of 1.44, I am not able to open multiple files from "Go to file..." menu (ctrl + p shortcut) when middle mouse clicked on them. I used it when opening similiar/dependent files (ts, html and css for component, etc.) As of 1.44 middle mouse click only opens last file clicked.

Steps to Reproduce:

1. Have dependented files (.html, .ts and .css) with same name.
2. Search for that name

[2020-04-08 22:54] rawfox commented on #94726
I found that holding alt + middle mouse button does open multiple files in 1.44. If it is not regression please fill free to close it.

[2020-04-08 23:11] #93823 closed

[2020-04-08 23:13] JustinWebDev commented on #94582
Sorry, don't have a screenshot.  Besides, it wouldn't show what _used_ to be there!
For what I mean, see issue https://github.com/microsoft/vscode/issues/64815 noted in this issue.
Let me add that the cmd for 'edit in ISE' is also missing.

[2020-04-08 23:14] sbatten commented on #94724
Thanks for reporting @nexes and the explanation @miXwui

With the repro I discover that this happens when the number of panel tabs shrinks during the drag operation which seems to happen frequently when dragging Problems and Terminal.

[2020-04-08 23:18] sbatten commented on #94721
With today's stable release, you can now drag any views into the activity bar to create a custom container. You can then drop any combination of views from extensions or built-in to the new container. Does this sound like it satisfies your request?

Release notes on this feature are [here](https://code.visualstudio.com/updates/v1_44#_increased-view-placement-flexibility).

[2020-04-08 23:30] jos3s commented on #94721
Yes, I was happy with that option. My suggestion specifically is about the possibility of this extension display being split in two - similar to the code display in the upper and lower half - but with two extensions in order to share
an activity bar
![Anotação 2020-04-08 202421 (1)](https://user-images.githubusercontent.com/50359547/78842835-8a184f80-79d7-11ea-9468-0736eeb82283.jpg)
In this image

[2020-04-08 23:52] jkeech commented on #94714
@Tyriar, I get this consistently on the first launch of a terminal in VSO, 100% of the time. Looking in the console, this error is reported when I first open the terminal with `Ctrl + Shift + C`:

[code]

![terminal-error](https://user-images.githubusercontent.com/746020/78843997-4e6e8d00-79b9-11ea-8a52-c6e5dfed0cac.gif)

[2020-04-09 00:07] techsin opened #94729 "An ability to easily import file or function from another file!"
Often you need to add stuff from files that are not exactly siblings to each other. It'd be really useful If I could do this:

1. Right click in a source file.
2. Click "Select for import".
3. Go to target file and Right click in there
4. Click "Import selected file"
5. import statement gets added at the top but under all other imports with something like `import  ___  from './d/a/c/d/File;`

Simp

[2020-04-09 00:08] techsin commented on #94729
Not a duplicate. Closest one I found was drag and drop. I believe not only this approach is simpler but more useful.

[2020-04-09 00:17] mattacosta commented on #92538
Nope, that's the entire stack trace, and yes is possible to chain a rejection callback that silently ignores the problem. Adding that to every `reveal()` that could potentially cause the issue isn't ideal though.

[2020-04-09 00:30] jedwards1211 commented on #75627
However desirable it may be in theory to run extensions in a separate process, in practice it's resulted in far worse and less likely to get fixed Vim emulation performance than all of the following IDEs:
* Eclipse
* Visual Studio
* Qt Creator
* Sublime
* WebStorm
* Atom
* CodeSandbox

[2020-04-09 00:48] mbitzos commented on #52855
I had this happen to me just today (Apirl 8th 2020) just as an update that this bug has happened recently.

[2020-04-09 00:50] Bob2100 opened #94730 "TS Server fatal error: Cannot read property 'path' of undefined"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-09 00:53] #93875 closed

[2020-04-09 00:53] #93963 closed

[2020-04-09 00:53] #94515 closed

[2020-04-09 00:53] #94517 closed

[2020-04-09 00:53] #93996 closed

[2020-04-09 00:53] #94509 closed

[2020-04-09 00:53] #94514 closed

[2020-04-09 00:53] #94527 closed

[2020-04-09 00:53] #93913 closed

[2020-04-09 00:55] mjbvz commented on #93268
Can you please collect the TS Server log from when this happens:

1. Set `"typescript.tsserver.log": "verbose",`
1. Restart VS Code and reproduce the problem
1. In VS Code, run the `TypeScript: Open TS Server log` command
1. This should open a large log file called `tsserver.log`

 If you can share the log, I can take a look to see if anything stands out that would explain this

[2020-04-09 01:03] rebornix commented on #94408
![Kapture 2020-04-08 at 17 55 03](https://user-images.githubusercontent.com/876920/78846971-53840a00-79c2-11ea-822e-c536bebb3205.gif)

Above is the prototype for shared "Reopen with..." command. Previously every "custom" editor registers a simple editor override handler

[code]

Now the `IOpenEditorOverrideHandler` is enriched as

[code]

The shared "File: Reopen with..." action will show all cust

[2020-04-09 01:04] finite-light commented on #92258
@Tyriar Thanks for your guidance, you are right, that issue is closer to mine. The operating system of my remote host is `ubuntu-18.04-x64`, and **this strange behavior of the terminal cannot be reproduced in the local machine (the Windows-x64 OS)**. I have subscribed to that issue, but I cannot provide more valid information than the OP provided at the moment.

[2020-04-09 01:04] rebornix commented on #94408
As the first step, I can add this action and adopt it in Notebook and then later on you can adopt it gradually in your "custom" editor.

[2020-04-09 01:09] AlexAegis commented on #17691
@chrisschuyler Thanks! It works. For my usecase it's not about disk space but keeping a tidy $HOME folder, so using a symlink would do nothing in that regard.

[2020-04-09 01:13] #94729 closed

[2020-04-09 01:24] mjbvz opened #94731 "The 'you forgot to paste' bot"
I see a surprising number of issues that consist entirely of:

[code]

Today I mark them as `needs more info`. Few of these issues get a response.

I'd like a the bot to detect these paste-less issues and either:

- Close them automatically as being invalid. Sorry but you have to meet some min bar when reporting an issue

- Prompt the user for more info

[2020-04-09 01:24] rkeithhill opened #94732 "Temp change of color scheme on install is kind of jarring / annoying"
I'll NEVER EVER EVER want the ISE color scheme in VSCode.  😛  Rather than just switching the whole color scheme (even if just temporarily), what if the extension popped up a notification asking if the user wants to try the ISE (light) color scheme **before** switching the color scheme.

[2020-04-09 01:34] techsin commented on #94729
This is fundamentally useful feature. Not something I'd like to have. The impact is deep and meaningful.

[2020-04-09 01:51] mjbvz commented on #77131
The Custom Text Editor API has shipped with VS Code 1.44! Checkout the [documentation](https://code.visualstudio.com/api/extension-guides/custom-editors) and [example extension](https://github.com/Microsoft/vscode-extension-samples/tree/master/custom-editor-sample) to get started creating your custom text editors

## Custom Editor API Change
For binary custom editors, we've revised the proposed AP

[2020-04-09 01:55] alefragnani opened #94733 "Single view activity bar messed if you move it to some panel"
- VSCode Version: 1.44
- OS Version: MacOS Mohave 10.14.6

Steps to Reproduce:

1. Create an extension with a single view activity bar (I added my own package.json below for easier view)
2. Run the extension
3. Moves its Activity Bar icon (not the panel) to the lower panel (the place you have Terminal, Problems, etc)
4. Moves back that panel to the activity bar.

You will notice the activity bar i

[2020-04-09 01:59] mjbvz commented on #94729
Sounds like a good fit for an extension! Take look at our extension authoring docs to get started

[2020-04-09 02:01] alefragnani commented on #94733
BTW, you can't drag & drop (to panels) multi-panel Activity Bars. Just each individual panel inside of it.

[2020-04-09 02:02] alefragnani commented on #94733
#not-a-duplicate of #85330

[2020-04-09 02:06] ryenus opened #94734 "Action "merge all windows" gone after update to 1.44"
- VSCode Version: 1.44
- OS Version: macOS 10.15.4

This happened after updating to 1.44.

Steps to Reproduce:

1. set `window.nativeTabs` to `true`, and restart
2. open command palette
3. search for action "merge all windows"

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-09 02:08] AsteriskZuo opened #94735 "objective-c cannot jump to definition"
- VSCode Version:1.44.0
- OS Version:macOS 10.14.6

Steps to Reproduce:

1.open vscode app
2.open project folder
3.open xxx.h (objective-c header)
4.open xxx.m(objective-c source)
5.modify xxx.h file language type into Objective-C
6.keyboard command + mouse left button not show link and can not jump to definition

![image](https://user-images.githubusercontent.com/11733363/78850411-bb316800-7a49-1

[2020-04-09 02:09] alefragnani commented on #94733
WOW! Just found how to _reset_ the activity bar state: `View: Reset View Locations` 🎉

[2020-04-09 02:21] Luxcium commented on #86425
I would like to be more fluent (professional) at doing stuff at your level and to be able to understand the workflow of your projects to be able to contribute... Many times I have ideas but don't know how to implement them so I am not wasting your time by opening Feature Request issues...

*Very interesting to have access to such a nice workflow, even to a layman. I would like to be more up to the

[2020-04-09 02:22] jkryanchou commented on #94666
@RMacfarlane

Here are the cmd + p shortcuts, which are conflicts when I focus editor. The hot shortcut cmd + p always impress me on Go to File. I suggest that the main hot keys should not change often.

![image](https://user-images.githubusercontent.com/1206342/78851157-abb31e80-7a4b-11ea-814d-0d218660f67b.png)

[2020-04-09 02:24] #90263 closed

[2020-04-09 02:24] gradientus opened #94736 "Everytime there is an update, there is a problem with the installation - error 183"
Issue Type: <b>Bug</b>

Every single time, the update happens whether I want it to or not.  It gets stuck then I have to manually uninstall it, reboot the machine.  Every single time it is error 183.

Please fix this.  It's a huge time suck.

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>S

[2020-04-09 02:35] 1797890817 opened #94737 "Expect to add vscode configuration import and export functions"
Expect to add vscode configuration import and export functions

[2020-04-09 03:01] jkryanchou commented on #94666
And here is another conflicts with the Go to Implementations.

![image](https://user-images.githubusercontent.com/1206342/78853428-6e518f80-7a51-11ea-9332-a284c326c0d8.png)

I'm so confused with that keybindings.

[2020-04-09 03:02] misolori commented on #82996
Since this has been marked as a backlog candidate for nearly 6 months and hasn't received many upvotes, I'll be closing this issue.

[2020-04-09 03:02] #82996 closed

[2020-04-09 03:03] jkryanchou commented on #94666
??????

![image](https://user-images.githubusercontent.com/1206342/78853516-9c36d400-7a51-11ea-99e7-0874cc86416f.png)

Wish the major keybindings should not change often.

[2020-04-09 03:04] misolori commented on #94092
We can certainly create a new "pin" and "unpin" icon. I think this comes down whether that's the direction we want to head towards (which I'm personally in favor of doing).

[2020-04-09 03:17] milesxu commented on #91817
@Tyriar I do no understand how to do.

Do you mean I should not use remote ssh, and debug vscode on a linux client?

Could you please tell me the detail steps?

[2020-04-09 03:39] kilakewe commented on #93697
+1

[2020-04-09 04:09] leafac opened #94738 "YAML syntax highlight is wrong on keys that happen to be keywords"
Issue Type: <b>Bug</b>

The keys are highlighted as keywords, for example, consider the keyword `on`:

[code]

<img width="141" alt="Screen Shot 2020-04-09 at 12 08 04 AM" src="https://user-images.githubusercontent.com/586813/78857017-3c5f0f80-79f6-11ea-9d76-22bd62ee640b.png">

(For example, you may see the `on` keyword as a key in the configuration for a GitHub Action.)

**Possibly related issued

[2020-04-09 04:10] OmgImAlexis opened #94739 "Type description doesn't always show"
Issue Type: <b>Bug</b>

I'm not sure if this is a bug or a feature request. I had hoped to see the description for the type when hovering over the value via intellisense, etc.

When I hover over `context.slot` I can see "The slot the disk is in." yet when I try hovering over `const slot` I see just the type. Is there anything to enable this? Even setting `slot` to `Slot` manually it still only sho

[2020-04-09 04:23] MKRhere commented on #94679
Update: I found this semi-decent hack that seems to force VSC/TSC to expand the types in some cases:

`type Id<T> = {} & { [P in keyof T]: T[P] };`

Wrapping a complex type with this mapped `Id` seems to work. I'll leave this here for anyone else who has the same problem, but I'd still like a solution without hacks.

[2020-04-09 04:29] eamodio opened #94740 "Create a data science working group"
Refs: #93604

There was a request from the March Extension Authors call to create a sort of working group of data science extension authors (Julia, R, Python, etc) to share and collaborate on cross-cutting requirements and for VS Code to learn in be informed from the baseline infrastructure required for VS Code to support innovation in the data science space.

/cc @davidanthoff

[2020-04-09 04:34] nanmingzhidian opened #94773 "outline view not work"
In the outline View:
"The active editor cannot provide outline information."

VS Code version: Code 1.43.2
OS version: Windows 7 x64

install VS Code many times, bug don't fix the bug.
can't use Shift + Ctrl + O

[2020-04-09 04:38] eamodio opened #94741 "Provide a UI component toolkit for WebViews"
Refs: #93604

As WebViews get used more and more to provide functionality (especially now with Custom Editors), it would be great to provide a reusable set of components that fit VS Code's UI/UX style and behavior.

[2020-04-09 04:39] liyuhang1997 opened #94742 "Using spaces in symbol (editor, workspace) picker can confuse results"
- VSCode Version: 1.44.0
- OS Version: macOS 10.13.6

Steps to Reproduce:

1. Create `test.md`
2. Enter `# foo bar` in the test.md
3. Try `⌘T`, type `foo`, VS Code find `test.md` 👍
4. Try `⌘T`, type `bar`, VS Code find `test.md` 👍
5. But if you type `foo bar`, VS Code says **`No matching workspaces symbols`** 🤔

In previous versions, there has been no problem.

I think this problem occurs because

[2020-04-09 04:44] eamodio opened #94743 "Find a better way to deal with low star "reviews" without comment"
Refs: #93604

Low-star "reviews" are currently quite hidden from publishers -- they show up in a count, but you don't know they happen and you have no ability to follow up as to why and/or provide help. We should find a better way to deal with them

[2020-04-09 04:47] eamodio opened #94744 "Dashboard stats for extension authors"
Refs: #93604

Currently there is nothing built-in to the VS Code marketplace for extension authors to track basic stats (downloads, installs, views, etc).

It would also be great to see location, OS and other basic information about where extension usage is coming from.

[2020-04-09 04:49] eamodio opened #94745 "Update featured extensions more often"
Refs: #93604

[2020-04-09 04:51] liyuhang1997 commented on #94742
Steps to Reproduce (Video): https://imgur.com/a/5ov3RJ9

[2020-04-09 04:53] eamodio opened #94746 "Unit testing extensions is quite difficult"
Refs: #93604

Maybe we could provide a mock library for certain vs code types, and guidance (docs, examples, blogs, etc) on how it can be done effectively.

/cc @jrieken

[2020-04-09 05:00] eamodio opened #94747 "Provide "links" from our extension API docs to sample usage"
Refs: #93604

Our Extension API docs, don't provide/link to examples for how they should be use. It would be great if we provided some sort of link between the API docs and our samples.

We do have this [Extension Guides Overview page](https://code.visualstudio.com/api/extension-guides/overview), which kind of provides some of this, but almost in reverse.

Another idea floated by @kieferrm was to

[2020-04-09 05:10] eamodio opened #94748 "Provide a telemetry story for extensions"
Refs: #93604

Currently we don't have a good telemetry story for extensions. We do provide a [telemetry library](https://github.com/Microsoft/vscode-extension-telemetry) for Application Insights, but it explicitly talks about "first-party" extensions, and might have GDPR issues because of its opt-in being based on the VS Code opt-in.

It would be great if extension authors could just get access to

[2020-04-09 05:10] LambertWM opened #94749 "Error creating registry key ?"
Issue Type: <b>Bug</b>

Sometimes (regularly I would say) Code gives this error message - I have no idea  what it means

Error creating registry key:
HKEY_CURRENT_USER\Software\Classes\Applications\Code.exe

RgCreateKeyEx failed: Code 1021

ETCETERA - PS: why can't I post a screenshot ?

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:38:38.248Z)
OS version: W

[2020-04-09 05:11] LambertWM commented on #94749
Nice try, no cigar

[2020-04-09 05:14] eamodio opened #94750 "Allow extensions to contribute to the VS Code welcome page"
Refs: #93604

@alefragnani Can you provide more details on what you are looking for here?

[2020-04-09 05:18] sandy081 commented on #92755
- Are you able to open shared process from second window?
- Please open logs folder using the command `Open Logs Folder` and see if shared process / sync log files are there?

[2020-04-09 05:19] eamodio opened #94751 "Provide linting support (eslint?) for deprecated extension APIs"
Refs: #93604

It would be great if we provided a lint package that extension authors could use to identify deprecated APIs. Additionally, any other common mistakes, or anti-patterns we've seen used.

/cc @jrieken

[2020-04-09 05:20] sandy081 commented on #94633
@alexdima Please confirm if this is true?

[2020-04-09 05:21] ab12323 opened #94752 "左右编辑器互换"
希望能够有一个功能，将左右编辑器的位置换一下。

当我们将编辑器拆成左右两边后，我们的视觉主要在左边。当想要编辑右边的内容时，我希望右边的编辑器能移动到左边，左边的编辑器移动到右边。

[2020-04-09 05:22] towry commented on #92755
1. See https://github.com/microsoft/vscode/issues/92755#issuecomment-607073724
2. `Open Logs Folder` does nothing.

[2020-04-09 05:22] eamodio commented on #93604
Thank you to everyone who participated in this first call!

### Video
[![](https://img.youtube.com/vi/-W6LViQaNco/maxresdefault.jpg)](https://www.youtube.com/watch?v=-W6LViQaNco)

### Participants
- David Anthoff ([Julia](https://marketplace.visualstudio.com/items?itemName=julialang.language-julia))
- Caleb Collins-Parks ([AREPL for python](https://marketplace.visualstudio.com/items?itemName=almen

[2020-04-09 05:24] eamodio commented on #91714
Closing this as we have kicked of this proposal now -- thank you for all your feedback!

[2020-04-09 05:24] #91714 closed

[2020-04-09 05:27] sandy081 commented on #94688
I would say new views or those which are not seen by user yet goes into their default locations. And user can move them after the fact they appear. IMO being too smart can lead to inconsistencies and confusions.

[2020-04-09 05:28] ppezaris commented on #93604
Thanks to @eamodio and team for hosting! It was a fun and productive conversation. Glad to be a part of it.

[2020-04-09 05:31] eamodio commented on #94751
FYI @Ikuyadeu has some linting here: https://github.com/devreplay/devreplay/blob/master/src/rules/vscode.ts

[2020-04-09 05:41] arielsumeruk commented on #94659
Thanks Daniel
I believe that I am on the latest version, my last update was just over a
week ago. I have version 10.0.18362 build 18362 , Is it possible to get a
newr build?

On Thu, Apr 9, 2020 at 12:19 AM Daniel Imms <notifications@github.com>
wrote:

[2020-04-09 05:42] HeavenSky commented on #94424
@isidorn  are you sure that you said can work fine?
 it doesn't work for me !
i have the same popup error.

 I switch to the release version.
yesterday it was OK,today this popup happen again.

[2020-04-09 05:45] HeavenSky commented on #94424
Now  there is no way for me to solve this problem. i tried you said, or other . But i can't resolve. it influence my daily debug and develop.

[2020-04-09 05:46] Ikuyadeu commented on #94751
@eamodio Thank you for summarizing!

I want to add the information that I could not tell due to my English.
The lint is available as the [vscode plugin](https://marketplace.visualstudio.com/items?itemName=Ikuyadeu.devreplay)
![devreplay_usage](https://user-images.githubusercontent.com/8369346/78861824-c51a9180-7a70-11ea-805e-62b90eae8483.gif)

Left is deprecated code, right is setting file `./devr

[2020-04-09 05:47] misolori commented on #94741
@eamodio any specific components that came up?

[2020-04-09 05:49] HeavenSky opened #94753 "my issue not resolved but closed"
https://github.com/microsoft/vscode/issues/94424#issue-593731807
`'${workspaceFolder}' can not be resolved in a multi folder workspace. Scope this variable using ':' and a workspace folder name.`

this issue is close but the closer neither resolve nor give an available way.
And now the release version also has this issue,
so can anyone give me one way to goback OK version?

- VSCode Version:
- OS

[2020-04-09 05:56] taoqf opened #94754 ":bug: has changed in the meantime bulkEditService"
- VSCode Version:1.44.0, 1.43.2
- OS Version:Debian

Steps to Reproduce:

1. create a workspaceEdit
1. create a new file
1. aplly edit
1. create the same file again with overwite:true
1. apply edit (error throws out here)

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-09 05:56] sandy081 commented on #94346
I do not think this will work because this will give only little space for the read me.

<img width="1197" alt="image" src="https://user-images.githubusercontent.com/10746682/78862364-887e7400-7a37-11ea-87a4-276fdb8e7eda.png">

[2020-04-09 06:04] #94735 closed

[2020-04-09 06:05] bjorn-ali-goransson opened #94755 "Add "Close folder" on Welcome screen (if a folder is open)"
If the last thing I had opened is a folder, and I close and reopen VS Code again, it remembers the folder and also shows the welcome screen.

The welcome screen is ok, but let's show a link to close that folder.

![image](https://user-images.githubusercontent.com/668160/78862742-5cafbe00-7a38-11ea-95c7-20c12eda7739.png)

[2020-04-09 06:15] #94292 closed

[2020-04-09 06:24] eamodio commented on #94741
Toolbars, buttons, dropdowns, menus

[2020-04-09 06:33] mckn commented on #46505
I would really like this one as well

[2020-04-09 06:33] mckn commented on #46505
Would be amazing to be able to enable/disable code comments depending on task

[2020-04-09 06:41] varchasvipandey opened #94756 "All my extensions are not working"
Issue Type: <b>Bug</b>

Extension host terminated unexpectedly is popped as the first message. All the plugins including some default IntelliSense plugins are not working. This is making my workflow very slow. Please fix this asap.

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info

[2020-04-09 06:41] JacksonKearl commented on #91492
With 379e732 the editor can no longer be split. (split command will open an empty group instead)

[2020-04-09 06:41] #91492 closed

[2020-04-09 06:51] JacksonKearl commented on #89268
Closed with 379e732. Tried going with the inheriting from `Base....Input` approach at first, but ended up finding the resultant code wasn't much simpler and produced more problems to fix (https://github.com/microsoft/vscode/compare/jackson/searchEditorRefactor).

Instead simplified the existing code pretty decently by removing the ability for an SearchEditorInput to be Untitled or Saved, instead t

[2020-04-09 06:51] #89268 closed

[2020-04-09 06:55] zackgd1024 opened #94757 "Can't Launch Terminal in Vscode"
- VSCode Version: 1.44.0
- OS Version:        Centos 7.7.1908

Steps to Reproduce:

1. Launch vscode
2. Ctrl + Shift + `
3. Can't Launch terminal in vscode
![image](https://user-images.githubusercontent.com/9695494/78866429-ed56c000-7a71-11ea-887f-de0afb5959ae.png)

Does this issue occur when all extensions are disabled?: Yes

[2020-04-09 06:57] ReMark-from-eMark commented on #94670
Rachel, thank you for assisting me. I am sending a screenshot showing
that setting. I had used this app for Py lessons briefly and some of the
extensions may have caused something to break? I was thinking about
running a thorough uninstall (with Revo?) and install clean. Do you
think that might help me?

Mark Windsor
wxy@z8080.com

------ Original Message ------
From: "Rachel Macfarlane" <notifica

[2020-04-09 07:01] paulbouwer commented on #93823
I still see the ability to define secrets in an external file as valuable. This allows the secrets to be excluded from commits and still be pulled in to the args or env of the process being executed via the `launch.json` file.

The origin of the `envFile` is not as important as the workflow it enables across all languages.

@weinand - I'll have a look at how to implement this using commands. Thank

[2020-04-09 07:02] JacksonKearl commented on #94439
Hey @kdnk, refactoring is in. If you want to take this onn you can start by looking at how we declare actions here:

https://github.com/microsoft/vscode/blob/379e732c79e6cb0241f95f0e5e45b1dc2255e7ad/src/vs/workbench/contrib/searchEditor/browser/searchEditorActions.ts#L141

and how they get registered and assigned here:

https://github.com/microsoft/vscode/blob/379e732c79e6cb0241f95f0e5e45b1dc2255e

[2020-04-09 07:06] veryjos commented on #36700
+1 for this, also a feature I'd like to see

[2020-04-09 07:07] luigiangelino commented on #94669
Thanks RMacfarlane,
i tried after put your command in palette.
But if i try to pull this is the result:
![Annotazione 2020-04-09 090208](https://user-images.githubusercontent.com/57905513/78867087-d51a7d00-7a40-11ea-82a3-d85463f64566.png)

We use Bitbucket by Atlassian for Git, and GitKraken, but i would try to use VS Code for everything. I like git graph to see the tree. So i would not to use Kra

[2020-04-09 07:07] kdnk commented on #94439
Thanks! I'll work on it!

[2020-04-09 07:07] isidorn commented on #94574
@rebornix thanks for doing this 👏

To verify:
1. Turn on centered mode (or zen mode)
2. Open a file in one group. Make sure that file is centered
3. Open a diff view -> make sure the full width is used so centering no longer active
4. Open a regular file again -> make sure it is centered

[2020-04-09 07:24] alexr00 commented on #92538
As you say adding a rejection callback to every `reveal()` that could end up like this isn't ideal, but the contract of `reveal()` is that the view will be revealed. If it isn't revealed, the extension should know that (by the exception).

[2020-04-09 07:25] isidorn commented on #94720
@mjbvz thanks for creating this. I just checked and there is already a command that does this. It is called `revealInExplorer`. Can you please try it out so we see if you can just use it or there is something missing.
I see we do not mention it in the [docs](https://code.visualstudio.com/api/references/commands) so that might be the only thing missing.

[Code pointer](https://github.com/microsoft/

[2020-04-09 07:25] #92538 closed

[2020-04-09 07:27] jrieken commented on #94637
Yeah, that's weird. @JacksonKearl why is that? bot bug?

[2020-04-09 07:32] jrieken commented on #94751
I love the idea and I am disappointed that TypeScript didn't look at this https://github.com/microsoft/TypeScript/issues/33093. Pretty please, @DanielRosenwasser

[2020-04-09 07:33] jrieken commented on #94746
Adding @octref since you have been making good work here

[2020-04-09 07:33] aeschli commented on #94624
Thanks for the feedback. Closing the issue.

[2020-04-09 07:33] #94624 closed

[2020-04-09 07:41] TobiasSekan commented on #90170
~Same here~

~1. `Double left click` a word, to mark it~
~2. Press `Ctrl+F`~
~3. `Find in selection` is always active (and is reactivated)~

~Option: `never` or 'multiline`~

~* Still present min. since Version 1.43~
~* Same in Version 1.44 from 09.04.2020~

Oh :see_no_evil: , I found the Problem on my PC

The `user` and `workspace` settings was not the same as the `global` setting.

After correct

[2020-04-09 07:42] isidorn commented on #93955
Yeah 2 means accessible via Tab and that works. That is why I think that one is fine and I did not mention it in my comment. I was only conerned for 1 3 and 4

[2020-04-09 07:42] AskoldNebelskyi opened #94758 "Missing the first letter of folder name in path while running .py file in terminal"
- VSCode Version: 1.44.0
- OS Version: Windows 10 Enterprise

Steps to Reproduce:

1. Open my virtual env for python programming (
2. Run the python file in terminal.
3. And this is it. Sometimes vscode miss a first letter of folder name in path while running
It does not happen everytime. Rarely, it's working fine. The first letter do not  miss and all is going good.

![image_2020-04-09_10-33-59](

[2020-04-09 07:43] aeschli commented on #94589
- do you have have any customfile associations in your user or workspace settings?
[code]
- can you open the developer tool (Help > Toggle Developer Tools) and inspect the icon's css rules?

![image](https://user-images.githubusercontent.com/6461412/78870451-70622100-7a46-11ea-8098-24bfc34e33cd.png)

[2020-04-09 07:45] aeschli commented on #94652
duplicate of https://github.com/microsoft/vscode-cpptools/issues/407

[2020-04-09 07:45] #94652 closed

[2020-04-09 07:46] ReMark-from-eMark commented on #94670
While not quite following your instructions I found 'disable all
extensions', and that did nothing. But then I saw 'developer options to
reload with extensions disabled', and BAM! that did it! I now see the
/h1 automatically offered when I enter the hi in <>. Thank you soooo
much!

Mark

------ Original Message ------
From: "John Murray" <notifications@github.com>
To: "microsoft/vscode" <vscode@no

[2020-04-09 07:48] ReMark-from-eMark commented on #94670
Rachel John Murray suggested I try 'developer mode reload with all
extensions disabled.. That worked! thanks to you both for helping.

Mark :-)

------ Original Message ------
From: "Rachel Macfarlane" <notifications@github.com>
To: "microsoft/vscode" <vscode@noreply.github.com>
Cc: "ReMark-from-eMark" <wxy@z8080.com>; "Author"
<author@noreply.github.com>
Sent: 2020-04-08 11:47:06 AM
Subject: Re:

[2020-04-09 07:49] aeschli commented on #92583
@midnight-dev Yes, currently the whole document is looked at. The next step is to switch to range based semantic highlighting. We'll try that first before making the delay configurable.

[2020-04-09 07:50] sandy081 commented on #40233
# Design

## Introduce Path / Resource specific configuration in User Settings

- User can defined folder customisations from user settings using path / resource  overrides

[code]

- Only absolute paths are supported
- As of now only settings will be supported, but can be extended for other configurations too (launches, tasks & extensions)
- All containing folder settings are merged and closest f

[2020-04-09 07:53] Vatsal-Malaviya commented on #94680
Sorry if I am interpreting this wrong way, but by new terminal you mean the one on which python file automatically runs right? what do you mean by the path wasn't updated to include "conda" can you explain the process so that I may know if am missing something.
I have installed anaconda extension and in conda path in user setting, I have added path of python.exe present C:\Users\Vatsal\AppData\Loc

[2020-04-09 07:55] aeschli commented on #94704
Same as #84690, #92209, #93977

[2020-04-09 08:01] isidorn commented on #94712
This is due to your highly customized keybinding setup.
Though I agree with you that the unassigned is not that useful.

I think we are open to change this, here's a code pointer
https://github.com/microsoft/vscode/blob/379e732c79e6cb0241f95f0e5e45b1dc2255e7ad/src/vs/workbench/contrib/update/browser/releaseNotesEditor.ts#L118
fyi @mattbierner as I see his name over that code

Here's what I see:
![

[2020-04-09 08:02] isidorn commented on #94708
@Tyriar thanks for the explanation, and yes this works in the editor as there is a backing `textarea` which contains all text.
For now let's leave this open as a feature request and due to the limitation @Tyriar pointed out we will probably not tackle in the near future.

[2020-04-09 08:06] joaomoreno commented on #94713
I really don't understand this.

What do you want to do exactly? Give me a specific example.

[2020-04-09 08:08] joaomoreno commented on #94711
There is no format to the git output when this happens. So, we can't really process it and show it in a nice way.

I suggest to add another button to that dialog which opens a temporary read-only file with the entire contents of the result of `git commit`.

[2020-04-09 08:11] joaomoreno commented on #30562
@JohnnyCrazy This is great, exactly what we should do. Feel free to start a PR.

[2020-04-09 08:11] aeschli commented on #94715
I can reproduce. Likely a updating issue in the ResourceLabel

[2020-04-09 08:15] joaomoreno commented on #94660
This seems unrelated to VS Code at all because of what's mentioned above.

Yes.

Don't know, but this is unrelated to VS Code. Stackoverflow is a great place to ask such a question.

[2020-04-09 08:15] #94660 closed

[2020-04-09 08:15] joaomoreno commented on #94582
Does it add any actions? Or just removes that one?

[2020-04-09 08:16] joaomoreno commented on #94736
Can you try disabling Windows background updates? Set `update.enableWindowsBackgroundUpdates` to `false`.

[2020-04-09 08:21] fredconv commented on #37350
No news about this feature ? or even a plugin is fine :D  ??

vscode is great but indeed still using intellij merge tool just for that .. )

[2020-04-09 08:22] gjsjohnmurray commented on #94742
https://github.com/microsoft/vscode/issues/30404#issuecomment-604924724

cc @bpasero

[2020-04-09 08:25] nonameolsson opened #94759 "TS Server fatal error: Debug Failure. Expected 3 === 4. Registered script kind should match new script kind. /users/andreasolsson/code/cplan/cdab.cplan/untitled:^untitled-3"
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.7.2
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code - Insiders 1.44.0-insider (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T21:42:32.364Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz (8 x 2700)|
|

[2020-04-09 08:26] isidorn opened #94760 "AccessibilityManager: Cannot read property 'removeEventListener' of undefined"
OS X, zshell, turn on VoiceOver, have terminal opened
Notice stack trace in the dev tools console:
Sorry for not very clear steps, if the stack trace is not enough let me know and I can try to find exact steps. Thanks

[code]

[2020-04-09 08:26] gjsjohnmurray commented on #94756
Please find out which of your extensions is causing the issue. Either disable all and then re-enable one at a time, or disable half of them to narrow the field faster (bisecting).

[2020-04-09 08:26] pjbgf commented on #93726
@bpasero Do you mind pointing out what other issue covers the same requirement, as I could not find it?

[2020-04-09 08:29] joaomoreno commented on #90993
@Tyriar Please remember to create scoped branches like `tyriar/fix-90993` instead of `#90993`.

[2020-04-09 08:32] alexr00 commented on #94738
Moved to the repo we get our yaml grammar from.

[2020-04-09 08:32] #94738 closed

[2020-04-09 08:37] alexr00 commented on #94506
@bpasero what is the preferred way to get the local userHome even when there is a remote userHome now? For the simple file picker I need both.

[2020-04-09 08:38] wdscxsj opened #94761 "workbench.explorer.fileView.focus became invalid in v1.44.0"
- VSCode Version: 1.44.0
- OS Version: Windows 10

I think the title says all. A workaround is really appreciated.

[2020-04-09 08:45] harshilparmar opened #94762 "Extenstions are not working"
After the last update of VS code,I can not use any extensions. Please help...

[2020-04-09 08:51] joaomoreno opened #94763 "Dev: Settings warning about notebook"
Running out of sources

[code]

[2020-04-09 08:54] JerryGoyal opened #94764 "Show code outline in minimap instead of whole code"
I recently discovered that outline is a very powerful tool to navigate a document. I'm aware that it is available in sidebar but it would be much better if we can also give it a more dedicated space like in minimap.

[2020-04-09 08:55] #94764 closed

[2020-04-09 08:56] isidorn commented on #94677
@jvesouza good catch, there was an issue with line and columns missing when screen reader is attached. I just pushed a fix for that. I believe this was originaly added by @alexdima to not make screen readers too chatty.
Also note that all actions in the status bar are accessible via the command palette. So my personal preference is that we try to make this `status` role work and on top of that you

[2020-04-09 08:59] JerryGoyal commented on #50047
that way minimap can actually start providing some value. Much needed feature for better code navigation.

[2020-04-09 09:10] MarcoZehe commented on #94677
`role="status"` has an implicit aria-live="polite" attached to it. To keep the semantic that this is the status bar, but not make it chatty, you could do `role="status" aria-live="off"`.

[2020-04-09 09:11] AlexAegis commented on #3884
Can this be re-revisited? I feel this is not taken seriously enough

[2020-04-09 09:13] gjsjohnmurray commented on #94762
Please find out which of your extensions is causing the issue. Either disable all and then re-enable one at a time, or disable half of them to narrow the field faster (bisecting).

Similar to #94756

[2020-04-09 09:13] #93779 closed

[2020-04-09 09:13] joaomoreno commented on #93779
OK, just pushed this. Here are the commands:

- `git.api.getRepositories()` returns an array of string uris
- `git.api.getRepositoryState(uri)` returns the state of a repository, given a string uri. returns `null` if the repository is not found

Let me know how it goes and if you need more data in the methods.

[2020-04-09 09:13] tcalmant commented on #94692
Hi,
OK, my bad, I haven't seen it in the Remote Explorer.

In fact, I look for all commands through the "Show All Commands" shortcut, using the English name of the command (here "forward port"), as it allows to find the command even when VS Code is in another language (here, French).
The issue seems to be that for the Remote SSH extension, the English name of the command is not available/searchabl

[2020-04-09 09:17] akwodkiewicz commented on #40233
So if I understand correctly, local workspace settings will not be parsed from `settings.local.json`-like files from project's `.vscode` directory, but **only** from general user settings file?

[2020-04-09 09:20] gjsjohnmurray commented on #94755
Please say more about your use-case. After you close the folder (using that option on the File menu, or by pressing its shortcut chord, 'Ctrl+K F' on Windows), what do you do next?

[2020-04-09 09:20] muhfs94 commented on #52855
happenned to me just now. I just needed to restart my laptop without closing (or had I closed it? I forgot) then it just disappeared. need your help on this one please

[2020-04-09 09:21] isidorn commented on #94677
@MarcoZehe great suggestion. This actually seems to work just fine. I just pushed it.

@joanmarie let me know how the investigation on the Orca side goes, looking at the HTML content the structures seem just fine. The only missing thing is that all the elements have the `title` set, but none of them have an `aria-label` set. Is there a rule of thumb that if the `title` is descriptive enought aria-

[2020-04-09 09:23] crewone opened #94765 "TAB moves focus to bottom instead of indenting"
Issue Type: <b>Bug</b>

Since this morning, TAB in the main editor (javascript) moves the cursor to the bottom pane or other elements in the editor instead of inserting a tab.

VS Code version: Code - Insiders 1.44.0-insider (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T21:41:19.483Z)
OS version: Windows_NT x64 10.0.19041
Remote OS version: Linux x64 4.19.84-microsoft-standard

<details>
<

[2020-04-09 09:23] aaronfranke commented on #3884
@Alumniminium Not saying it's good, but it's very common for this to happen. Most open source projects still have bugs open from the year they were released...

[2020-04-09 09:24] #94765 closed

[2020-04-09 09:24] crewone commented on #94765
Tab key focus fixed this... remains a mystery why this pops up now, but... whatever.

[2020-04-09 09:26] borekb commented on #40233
@akwodkiewicz It also surprised me (unpleasantly, as `settings.local.json` seems like an easier concept) but I think I get it now – the proposed design allows you to customize specific paths, not just workspaces, plus your own customizations can be synchronized between computers via Settings Sync, which would not be easily achievable with `.local.json` files.

BTW, about Sync, I think the assumpti

[2020-04-09 09:27] gjsjohnmurray commented on #94753
cc @isidorn

[2020-04-09 09:30] leonardder commented on #94677
Let me share some thoughts here:

1. While all actions from the status bar are accessible from the command palette, for sighted users, they are available directly from the status bar. Therefore, I'd prefer a solution where the status bar can gain focus.
2. Might be another subject, but I just noticed that VS Code is doing nothing with the f6 // shift+f6 key sequences. In MS Office products, using

[2020-04-09 09:32] mg-christian-axelsson commented on #40233
Chiming in to say that I'm not fond of the idea of a global settings file but it's better than nothing.  It feels like an unexpected divergence of existing design.

[2020-04-09 09:33] gjsjohnmurray commented on #94753
@HeavenSky you can download prevous versions via their release notes page. Start at https://code.visualstudio.com/updates and choose the one you want, e.g.

![image](https://user-images.githubusercontent.com/6726799/78880554-7d364300-7a4d-11ea-9223-9db7582d6da0.png)

[2020-04-09 09:38] gjsjohnmurray commented on #94749
I am able to paste a screeenshot into this "Write" box in GH, e.g.
![image](https://user-images.githubusercontent.com/6726799/78881040-2b41ed00-7a4e-11ea-9331-1faf186a51c0.png)

I'm using Firefox on Windows

[2020-04-09 09:39] MarcoZehe commented on #94677
Indeed, adding F6 and Shift+F6 to move to various important anchor points within VS Code would be awesome. We use this in Firefox to go to the address bar, the main content, the developer tools if they're open, and any doorhangers (alert popovers) that might be open. Chrome and Edge also use F6 for this purpose to navigate various areas of the screen. Teams and Slack do the same. So, there are ple

[2020-04-09 09:48] bjorn-ali-goransson commented on #94755
Then I'll open a file.

Den tors 9 apr. 2020 11:20John Murray <notifications@github.com> skrev:

[2020-04-09 10:00] cosmicbeamer commented on #88798
The problem still exists!

[code]

[code]

[2020-04-09 10:13] sandy081 opened #94766 "Improve the settings sync flows with authentication"
Improve the settings sync flows with authentication

## Sign in flow

Signing in showing too many notifications and not consistent. Sign in from Accounts UI and I see following dialogs

a. For the first time ever

<img width="622" alt="image" src="https://user-images.githubusercontent.com/10746682/78883896-66e2b400-7a5a-11ea-94eb-ddd40bc304bb.png">

<img width="662" alt="image" src="https://user-i

[2020-04-09 10:16] isidorn commented on #94677
@leonardder thanks for providing feedback.
1. This should be solved if the screen reader command that @marlon-sousa describes works as I suspect. It places the focus on the `status` element. As pointed out it should be triggered via `insert + end`
2. This makes sense. I just tried it out and I could not get it to work on Chrome and Teams. Though it works for Word and Firefox. Note that I am on mac

[2020-04-09 10:16] Dr-Nuke opened #94767 "VSCode opens Window instead of tab on opening file"
- VSCode Version:
Version: 1.44.0 (user setup)
Commit: 2aae1f26c72891c399f860409176fe435a154b13
Date: 2020-04-07T23:31:18.860Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362
- OS Version:
Windows 10 / WSL Ubuntu 18.04

Steps to Reproduce:

1. open terminal
2. make a file: `touch deleteme.file`
3. edit file with VSCode: `code deleteme.

[2020-04-09 10:20] MarcoZehe commented on #94677
There are shortcuts for the main menu on all platforms: Alt or F10 on Windows and Linux, and CTRL+F2 (CTRL+FN+F2 maybe) on Mac, and with VoiceOver there's an additional CTRL+Option+M. So the main menu bar may not need to be included.

What would the "panel" contain?

Also note that Insert+End will read the status bar normally, not focus it, unless, IIRC, pressed twice, which may or may not work de

[2020-04-09 10:22] mikkym opened #94768 "VSCode crash"
Issue Type: <b>Bug</b>

Second time my VS Code is crushing. I didn't do anything special, just worked with my code. It showed me a little modal window with warning icon and one button. It was written there "VS Code Insiders - Window has crashed" or smth like this. After clicking on the button, the window was restarted and idk, maybe it's just coincidence, but my Windows was crushed too. And it's h

[2020-04-09 10:24] sandy081 commented on #94176
Will be handled here - https://github.com/microsoft/vscode/issues/94766

[2020-04-09 10:26] isidorn commented on #94677
Ok, makes sense. Agree that we can leave out the Main Menu.
Panel contains things like the Output, Terminal, Debug Console, Problems View. it is very similar to the SideBar but it is layed out on the bottom, while sidebar is layed out on the left and have different views associated with them.

[2020-04-09 10:26] HanabishiRecca opened #94769 "Paths in some git commands used improperly"
- VSCode Version: 1.44.0
- OS Version: Windows 10 / 1909

Steps to Reproduce:

1. Go to git repo with spaces in the path
2. Open some file diff
2. Look at git output console

Does this issue occur when all extensions are disabled?: Yes

E.g.
![изображение](https://user-images.githubusercontent.com/13597663/78884555-8b4b8a00-7a74-11ea-8dce-cc1835f6507c.png)

Paths sent without double quotes. As you

[2020-04-09 10:31] mattacosta commented on #92538
I disagree. If the `reveal()` method can fail by design, then in practice, the contract is only that it will *attempt* to reveal a view (and the result should just be returned instead). Furthermore, if an extension really needs to know the state of the view after calling `reveal()` in its current implementation, then it is already possible for the extension to re-check the `visible` property, maki

[2020-04-09 10:31] sandy081 commented on #94050
/duplicate

#94766

[2020-04-09 10:31] #94050 closed

[2020-04-09 10:32] varchasvipandey commented on #94756
Disabled all the extensions but nothing happened. Still facing the same
problem.

On Thu, 9 Apr 2020, 13:56 John Murray, <notifications@github.com> wrote:

[2020-04-09 10:35] aeschli commented on #94511
No response for 'textDocument/foldingRange` ? (`Received response 'textDocument/foldingRange`)

[2020-04-09 10:35] #94168 closed

[2020-04-09 10:37] isidorn commented on #94120
Fixed with the use of accessibilityProvider in open editros view.

[2020-04-09 10:37] #94120 closed

[2020-04-09 10:38] gjsjohnmurray commented on #94755
So maybe the contents of the **Start** section of Welcome could be enhanced to show different options depending on current state, e.g.

**Case 1: Folder is open**
* View Explorer
* Add folder to create multi-root workspace...
* Open different folder...
* Close folder and open file...

**Case 2: Workspace is open**
* View Explorer
* Add folder to workspace...
* Open different workspace...
* Close w

[2020-04-09 10:47] usernamehw opened #94770 "How to get the list of all workspace symbols?"
[code]

Workspace symbol provider says empty string should return all symbols.

[code]
VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.18363

[2020-04-09 10:50] celebjads opened #94771 "Extension host terminated unexpectedly."
Issue Type: <b>Bug</b>

when i open the vscode it shows this msg , after i click ctrl+shift+p git:clone it shows error

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-7020U CPU @ 2.30GHz (4 x 2304)|
|GPU Status|2d_canv

[2020-04-09 10:51] sandy081 commented on #40233
This was one of the proposals but it has couple of drawbacks that users have to ignore this which is an overhead and these settings can't be synced.

@borekb You are correct that the proposed design is more powerful that you can customise any folder. Also it can be extensible for syncing.

By default path specific settings are ignored from syncing and uri specific settings will be synced. Going fo

[2020-04-09 10:52] aeschli commented on #94511
Do you have steps to reproduce how you get in the situation?
Does it always show with the file? Any chance you can share the file?

[2020-04-09 10:53] blueray453 commented on #12185
@elkebirmed It seems like not being able to change case using regex seems to be an upstream issue. I hope by going through https://github.com/chmln/sd/issues/72#issue-596532078 & https://github.com/BurntSushi/ripgrep/issues/1546#issue-596389367 you will be able to understand what is the problem and what might be the solution.

[2020-04-09 10:53] chrmarti commented on #94667
@geerligs Is this for the Docker extension or the Remote-Containers extension? (It would make sense in both cases, but I want to make sure we understand your request.)

[2020-04-09 10:55] #94362 closed

[2020-04-09 10:58] meboev commented on #7169
Oh God, please make this optional, default "on" if you want, but put an option that I can turn off. Some people like me, like to ditch the undo/redo history this way! You know, open the file clean, no undo history, etc. Existence of this feature is the main reason I hate Web Storm, and prefer VS Code, and now you are making this default here also! OMG

[2020-04-09 11:02] gjsjohnmurray commented on #94670
/causedByExtension

[2020-04-09 11:02] bjorn-ali-goransson commented on #94755
Well, sometimes the workspace or folder is open only because I clicked the VS Code icon. So the intent of opening a ws or folder isn't really known.

BTW, never thought about what the "Add workspace folder" means previously but now when you mention it, I understand that it opens a workspace.

[2020-04-09 11:03] #94670 closed

[2020-04-09 11:04] Sparksss opened #94772 "Please add support gradle build automation system"
A new project using Gradle for building projects. Please add this feature.

[2020-04-09 11:05] gjsjohnmurray commented on #94756
You disabled all your extensions, then restarted VS Code, and you still got a message about "Extension host terminated unexpectedly", right?

Any more information in that message? Maybe paste a screenshot here?

[2020-04-09 11:11] ofadieiev commented on #92461
I have this issue. I think it is because VSCode is launched and stays in the memory, and update happens in background:
![image](https://user-images.githubusercontent.com/49716172/78889185-ddd47880-7a6b-11ea-8b25-34f9cede3f7b.png)

[2020-04-09 11:11] maxathanja commented on #94702
I'm experiencing exactly the same issue. It happened after the latest VS Code for Mac update `1.44.0`. Working fine in the previous version.

<img width="1280" alt="vscode_1 44 0" src="https://user-images.githubusercontent.com/25719815/78889225-efb61b80-7a6b-11ea-96c1-25be8a5ab43b.png">

[2020-04-09 11:14] marlon-sousa commented on #94677
Hello,

Some thoughts here:

1- The status bar can not, for the life of mine, be a live region. It can't because it keeps changing all the time (as supposed) and one while writing or debugging or doing whatever operation can not be interrupted and warned about all changes all the time. So please follow  @MarcoZehe  suggestion and make aria-live = off.
2- We should be focusing first in exposing the

[2020-04-09 11:14] IllusionMH commented on #94772
This functionality is provided by extensions.

Have you tried them https://marketplace.visualstudio.com/search?term=gradle&target=VSCode&category=All%20categories&sortBy=Relevance ?

[2020-04-09 11:14] PunchyRascal commented on #93973
I am experiencing the same thing - connected via SSH to a Linux machine. Clicking on "Reveal in sidebar" does nothing.

For local folder it works fine.

[2020-04-09 11:16] gjsjohnmurray commented on #94755
If you know you want to start with an empty VS Code window rather than with whatever was open when you previously closed VS Code, look for the "New Window" option on the context menu of the VS Code icon.

The "Add workspace folder..." link on the current Welcome page is equivalent to the "Add Folder to Workspace..." option on the File menu. It doesn't **open** a workspace (a .code-workspace file).

[2020-04-09 11:16] sfilipov commented on #7169
Apologies for the off topic, and no disrespect to @meboev comment, but it reminded me of the following XKCD and it needs to be mentioned:

[Workflow](https://xkcd.com/1172/)

[2020-04-09 11:18] joaomoreno commented on #88798
In this log, does `xxxxxx` match everywhere with the same casing?

[2020-04-09 11:19] joaomoreno commented on #92461
@AnthonyB955 Did it get better?

@ofadieiev Can you try disabling Windows background updates? Set `update.enableWindowsBackgroundUpdates` to `false`.

[2020-04-09 11:19] bjorn-ali-goransson commented on #94755
Thanks for the tip, but sometimes you click on it assuming it to open
something else. But I digress. It's just a suggestion.

On Thu, 9 Apr 2020 at 13:16, John Murray <notifications@github.com> wrote:

[2020-04-09 11:20] gjsjohnmurray commented on #94771
If you disable your four enabled extensions, then restart, does "Extension host terminated unexpectedly" message still appear?

If not, re-enable your extensions one at a time, restarting each time. Does that reveal which extension is causing the EH crash?

[2020-04-09 11:21] marlon-sousa commented on #94677
On another note ...

I have been trying to build vscode on Windows now for a good number of hours without success.

I know that this is not the place to ask, but I have an extremely strange error that I have found no solution, even looking for it on vscode issues.

If ** and only if ** you know what it is it would be very helpful because this would allow me to experiment with accessibility stuff r

[2020-04-09 11:23] #94250 closed

[2020-04-09 11:23] #94227 closed

[2020-04-09 11:23] #94103 closed

[2020-04-09 11:23] #93731 closed

[2020-04-09 11:25] joaomoreno commented on #73788
Closing this as idle. It's not very clear how well this could work and whether it would really improve usability. Sorry.

[2020-04-09 11:26] #72468 closed

[2020-04-09 11:26] geerligs commented on #94667
Thanks for coming back to me.
This is for the Docker extension.

[2020-04-09 11:29] varchasvipandey commented on #94756
I figured it out. The reason is the latest update 1.44
I reinstalled the software, I have version 1.38 installer. Everything
became normal until I closed the application and saw updating VS code
popped up on my screen. I again launched the application and the problem
was there again. I again uninstalled this version and reinstalled it with
v1.38 installer. This time before launching the applicatio

[2020-04-09 11:34] tommck commented on #40233
"closest folder"?

So the local settings don't actually override what's in settings.json?

On Thu, Apr 9, 2020, 6:51 AM Sandeep Somavarapu <notifications@github.com>
wrote:

[2020-04-09 11:34] pushkine commented on #94691
Oh okay, I thought this could be fixed by calling `Format selection` before returning the generated code

[2020-04-09 11:37] thernstig opened #94774 "codeActionsOnSave as array opens browser tab?"
- VSCode Version: 1.44.0
- OS Version: Ubuntu 16.04.5 (via remote SSH)

Steps to Reproduce:

1. Changed my config to:
[code]
2. Make some changes in a file that ESLint tries to fix. I am using the Prettier plugin+config `"plugin:prettier/recommended"`.
3. It opens https://github.com/prettier/eslint-plugin-prettier#options 😆

Yes, I know it sounds weird, but it is consitent. Restart of VS Code afte

[2020-04-09 11:45] Artur2 opened #94775 "Can't select recently visited file using arrow keys"
- VSCode Version: 1.44.0
- OS Version: Windows 10 Pro 1809

Steps to Reproduce:

1. Open some files in project/folder
2. Press Ctrl+Tab
3. Try to move around displayed list with arrow keys (↑, ↓)
4. See opened list scrolling instead of moving selection of file

Does this issue occur when all extensions are disabled?: Yes/No
Yes

[2020-04-09 11:46] maxathanja opened #94776 "VSCode for Mac v1.44.0 not respecting `search.exclude` in settings.json"
- VSCode Version: `1.44.0`
- OS Version: Darwin x64 19.4.0

Steps to Reproduce:

1. Add the folders to be excluded to `settings.json`, ie:
[code]

2. Search for something.

Does this issue occur when all extensions are disabled?: Yes

Explanation:
Latest update `1.44.0` of VS Code for Mac broke the `search.exclude` setting. One can see results from search-excluded results while searching globally.

[2020-04-09 11:47] Unknow-max opened #94777 "Vs code take the first property in css as rendered value not considering if there is a duplicate style definition"
**Hi everyone**
I notice a bug when there is a multiple style definition (property repeated two or more times) in a css selector, see more there:

![immagine](https://user-images.githubusercontent.com/59534318/78891461-e5921e00-7a67-11ea-84d2-b9e865548ad5.png)

As you can see vscode tell me with a warning that there is a duplicate style definition (`display:block, display: inline-block`). Perfectl

[2020-04-09 11:48] calendee opened #94778 "Settings for Disabled Persisted Undo"
Version Info:
Version: 1.44.0
Commit: 2aae1f26c72891c399f860409176fe435a154b13
Date: 2020-04-08T08:23:56.137Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0

Hello,

The newest release of VS Code has a "persisted undo stack".  It would be great to have a setting to disable this.  In my workflow, I frequently close files for the specific purpo

[2020-04-09 11:50] calendee commented on #94778
FYI: Completely closing VS Code seems to be a temporary workaround to bust this persisted undo cache.

[2020-04-09 11:51] Artur2 commented on #94775
Video of reproducing - https://monosnap.com/file/Utk8gEgiS0INNGDqKOhjAZjYzQi68Q

[2020-04-09 11:55] tigerinus commented on #84432
Yes, `experimentalWebgl` breaks the rendering.
![image](https://user-images.githubusercontent.com/7172560/78892457-f8264a80-7a9b-11ea-94dd-1a772ac83330.png)

[2020-04-09 11:55] arnauldvm commented on #5970
The issue also impacts the "Timeline" view introduced with the March Upgrade.

&rarr; Opening a project through a symlink: no git decorations, timeline view empty

&rarr; Opening a project through "actual" path: all git decorations, timeline view filled with git history

[2020-04-09 11:58] LaetitiaSaillard commented on #94511
Hello,
Well I tried to reproduce the bug and couldn't, now it works.
I swear I'm not crazy !! Lol
I think we can thank Murphy and close this ticket.

[2020-04-09 11:58] #94511 closed

[2020-04-09 12:04] Artur2 commented on #94775
In Azure Data Studio shipped with VS Code version 1.42.0 everything fine

[2020-04-09 12:06] marlon-sousa commented on #94677
Well, installed python 2.7 and now I am downloading old vs 2015 stuff. Should be, hopefully, able to build and test.

[2020-04-09 12:09] grant007 opened #94779 "No Dock icon"
Issue Type: <b>Bug</b>

When Visual Code in launched, on MacOS, almost always there is no VIsual Code app icon in the Dock. Sometimes there is just a dot  but no icon.

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:34:57.037Z)
OS version: Darwin x64 19.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) W-2140B CPU @

[2020-04-09 12:11] murraycollingwood commented on #73788
@joaomoreno You have us 2 minutes to close and then closed it yourself.
This problem still exists, and I think I have a better solution suggestion.

Instead of specify the number of levels to expand, perhaps we can specify the number of levels not to expand.  That is, in a tree analogy a value of -1 does not expand to the leaves, it only expands to the twigs.

Here is an image of what I currently

[2020-04-09 12:12] Tyriar commented on #90993
@joaomoreno yep,this was a one off because I hardly ever push branches to origin from remotes and didn't rename it

[2020-04-09 12:13] gjsjohnmurray commented on #94779
/duplicate of #63068

[2020-04-09 12:14] #94779 closed

[2020-04-09 12:21] joaomoreno commented on #73788
Yes it definitely does. But it seems overly specific to the Outline view. Again, this is hard to generalize over other trees.

[2020-04-09 12:23] DMCChristopherOlsen commented on #85707
This would literally change my life 😍

[2020-04-09 12:27] daseed opened #94781 "Unable to open a file in VS Code with right click option"
Issue Type: <b>Bug</b>

Hello,

Since a few days it is impossible for me to open a file from windows explorer, or even the desktop, by doing a right-click on the file and selecting the "Open in VS Code" option.
The behavior is an error sound is playing and a message pops-up but disappear to quickly to see anything.
I had a look at the Event Viewer but no trace there.

Do you have any idea how to s

[2020-04-09 12:28] ygerg commented on #94666
I noticed this too and landed here: searching for `@category:keymaps @installed` showed that I somehow had IntelliJ keybindings installed, though I'm pretty positive that I've never installed them (as I've never used that IDE in the first place).

Uninstalling the keybinding extension solved the problem.

[2020-04-09 12:29] jvesouza opened #94782 "git: format the commit messages"
Generally I like to format the commit messages following some rules that I read in the following link:
https://chris.beams.io/posts/git-commit/

Basically the rules are as follows:

1. Separate subject from body with a blank line
2. Limit the subject line to 50 characters
3. Capitalize the subject line
4. Do not end the subject line with a period
5. Wrap the body at 72 characters

Would it be poss

[2020-04-09 12:30] Tyriar commented on #94659
Oh? You filled in Windows 8 though? 😕

[2020-04-09 12:31] Tyriar commented on #94760
/duplicate https://github.com/microsoft/vscode/issues/94003

[2020-04-09 12:31] #94760 closed

[2020-04-09 12:34] JacksonKearl commented on #94637
@jrieken yes, that's a bug.

[2020-04-09 12:34] Tyriar commented on #91817
@milesxu if you can reproduce it in a regular local Linux window (not SSH) then you could debug by setting up the repo with these instructions https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run

Don't feel obligated to do that of course. Additionally I have a feeling this is related to remote only as I've also had this reported for ssh as well here https://github.com/microsof

[2020-04-09 12:35] avinash7795 opened #94783 "Unable to scroll down with down arrow key in settings>Commonly Used"
Hi Team,
Please allow users to scroll down with simple keys, like down arrow key in which every editor gives access.

[2020-04-09 12:38] jack1142 commented on #37350
All the news we have is the 2020 Roadmap which mentions "full merge support (3-way)": https://github.com/microsoft/vscode/wiki/Roadmap#scm

[2020-04-09 12:38] Tyriar commented on #94714
I tried to reproduce but cannot. I see that error though. Why does mine say this not VS Online?

![image](https://user-images.githubusercontent.com/2193314/78895803-50216a80-7a24-11ea-88c8-5051d70f8f91.png)

Change since the gif was made?

[2020-04-09 12:44] FlavaSava7 opened #94784 "Wrong order for a LTR & RTL languages ,numbers"
- VSCode Version: 1.44.0
- OS Version: Windows_NT x64 10.0.17763

Steps to Reproduce(with out without spaces between words&numbers):

1. type any english word
2. type RTL word (i.e. arabic)
3. type any number

result - > qwerأبجد123 (wrong)
'أبجد' should come after 'qwer' (correct)

It was working before the latest version.

Does this issue occur when all extensions are disabled?: Yes

[2020-04-09 12:47] codingthat opened #94785 "Markdown behaviour incorrect when underscores are used within quoted attribute values"
- VSCode Version: 1.44.0
- OS Version: Linux Mint 19.3 x64 (5.3.0-45-generic)

Steps to Reproduce:

1. Save a file as test.md with the following content:

[code]

2. Note the difference between the styling of the two lines.  Both should be fully italicized, but only the second one is:

![image](https://user-images.githubusercontent.com/26723818/78895480-3bb68f80-7a6f-11ea-8100-31e4412f56cb.png)

D

[2020-04-09 12:49] johnpapa commented on #40233
Thanks for sharing the design. @sandy081

1. no local.settings.json

having to add it to `.gitignore` is acceptable IMO. In fact, some folks would like to commit and push it to git. This is indeed true of some users of Peacock. Some like to commit their changes while others want to ignore them. Having the file in the project folder structure makes this their choice, which is IMO a vote for `local.

[2020-04-09 12:56] Tyriar commented on #46696
## Current plan

When no environment variable collections exist for the workspace: Nothing will show

When there are active environment variable collections for the workspace (this will be partially transparency when not hovering):

![image](https://user-images.githubusercontent.com/2193314/78896730-c8d4f680-7a25-11ea-8c2c-c2b91fe1c23b.png)

When the environment is stale (this will be partially tr

[2020-04-09 13:05] #94077 closed

[2020-04-09 13:07] #92646 closed

[2020-04-09 13:14] aeschli commented on #94282
The screenshots show that all custom extensions are disabled. Now what does the JSON trace show?
Make sure to not reload the window (e.g. by opening a folder). I found a bug for that:  #94534

[2020-04-09 13:17] lesha-co opened #94787 "Codicon/ThemeIcon is misaligned in QuickPick"
- VSCode Version: 1.43.2
- OS Version: MacOS 10.14.6

Steps to Reproduce:

1. Create an extension using [tutorial](https://code.visualstudio.com/api/get-started/your-first-extension)
2. In that, use QuickPick with a button:

[code]

3. The `+` button is not vertically centered, see the [screenshot](https://i.stack.imgur.com/KoNti.png). It should be.

Does this issue occur when all extensions are d

[2020-04-09 13:19] arielsumeruk commented on #94659
Ok I see what happened
In the visual studio about it has OS:windows_NT x64 6.2.9200 which what I
entered together with the VS code version
but when I checked after your email response in my computer setting it is
definitely windows 10.
[image: image.png]
[image: image.png]

On Thu, Apr 9, 2020 at 2:30 PM Daniel Imms <notifications@github.com> wrote:

[2020-04-09 13:21] isidorn commented on #94677
@marlon-sousa thanks for feedback.
1) yes, we have already pushed `aria-live = off`
2) Makes sense
4) Yes I have a Win VM, I will check it out based on your tips
5) We will leave the Main Menu out of the cycle
5) All command keybindings are reassignable in vscode via File > preferences > keyboard shotcuts. And this one will be as well
6) for your build troubles make sure to have all the prerequest

[2020-04-09 13:22] #93493 closed

[2020-04-09 13:24] numToStr commented on #94774
I am also facing this issue when eslint fixes the issue. It opens the doc of that issue.

[2020-04-09 13:25] chrmarti commented on #94188
I can reproduce with VoiceOver. Haven't found a way around it so far. From what I observe, this might be expected behavior on the VS Code side because the screen readers try to avoid reading the same information over and over. They also prioritize giving feedback about keypresses over reading out the live region and the combination of these two behaviors result in the suboptimal UX.

[2020-04-09 13:26] Tyriar commented on #92242
Released yesterday

[2020-04-09 13:26] #92242 closed

[2020-04-09 13:26] #93717 closed

[2020-04-09 13:36] cggac commented on #93595
Just a follow-up on using certutil / nss, I've added the necessary root certificates using
`certutil -d sql:/home/myusername/.pki/nssdb -A -t ",," -n RootCAnickname -i /usr/share/ca-certificates/RootCAfile.crt`
Which does change the behaviour, however, it's not clear how this is failing now
![Error2](https://user-images.githubusercontent.com/62764806/78899881-90eda380-7a65-11ea-9c55-36505eadc7e3.p

[2020-04-09 13:37] AritraLahiri opened #94789 "Extension Host is Shutting Down"
Issue Type: <b>Bug</b>

After the recent March update the extension host is constantly shutting down .

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) CPU G620 @ 2.60GHz (2 x 2594)|
|GPU Status|2d_canvas: enabled<br>fla

[2020-04-09 13:42] #93480 closed

[2020-04-09 13:44] svillar opened #94790 "Problem with colors in the integrated terminal"
- VSCode Version: 1.44.0
- OS Version: Debian testing

### Steps to Reproduce:

1. Run the following bash script in the integrated terminal
[code]
### Expected output

Red and purple and rendered differently

### Actual output

Purple is rendered as red

Does this issue occur when all extensions are disabled?: Yes

[2020-04-09 13:45] Stoicus opened #94791 "VS Code Fails During Update and Corrupts Installation"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. VS Code automatically applies update.
2. Update fails with message that it cannot delete a needed file.
3. Uninstall VS Code
4. Download and re-install VS Code.
5. Receive this message:

![image](https://user-images.githubusercontent.com/33098523/78901759-6a684200-7a3e-11ea-9e4e-31ee09d36b22.png)

Does this issue occur when all extensions ar

[2020-04-09 13:47] JacksonKearl commented on #89353
You can try out `"search.searchEditor.experimental.reusePriorSearchConfiguration": true` in tomorrow's insiders (not the next Insiders to be released but the one after it) and let me know what you think.

[2020-04-09 13:49] bliep opened #94792 "No audio rendering in IPython"
- VSCode Version: 1.43.2
- OS Version: MacOS 10.15.3

Steps to Reproduce:

1. Run the following code in a IPython cell
2. Observe that the audio is grayed out.

[code]

Does this issue occur when all extensions are disabled?: Yes

There have been numerous reports that the audio (and video) is not working in IPython cells, however I think the root cause are not the missing codecs reported in https:

[2020-04-09 13:49] dominikdalek commented on #94282
Is there a way I can verify that these two are the same?

[2020-04-09 13:50] numToStr opened #94793 "Terminal tab goes blank after exiting the terminal"
- VSCode Version: 1.44.0
- OS Version: Manjaro Linux 19.0.2
- Linux Kernel: 5.5.13

### Description
So, I am using [ohmyzsh](https://github.com/ohmyzsh/ohmyzsh) with the [tmux](https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/tmux) plugin enabled. When I exit the current terminal, it terminal tab goes blank but didn't close the tab.

This can be replicated by typing `exit` or pressing the `K

[2020-04-09 13:51] efremsternbach opened #94794 "Updating problems"
Issue Type: <b>Bug</b>

I've been having trouble when updating Visual Studio Code. Whenever I try to update over the last few months there are files in the resource directory that are locked and block the installation. The installation is not rolled back but is corrupted. This happens whether I use either the system or user installer. I can't delete the files even with Administrator permissions an

[2020-04-09 13:53] joaomoreno commented on #91310
Created a `scminput` mode with mimetype `text/x-scm-input`.

[2020-04-09 13:53] tommai78101 opened #94795 "[Feature Request] Can we also have Timeline from the Explorer view be shown in the Git view?"
Currently, in the latest March 2020 (version 1.44) release notes, Timeline view is now enabled by default in the Explorer view. Timeline can now display the commit history of the current Git branch that we checked out in the workspace.

However, Timeline is restricted to be viewable in the Explorer view, not in the Git view. As of this moment after updating to 1.44, all the Git view ever shows is

[2020-04-09 13:53] joaomoreno commented on #91310
cc @alexr00

[2020-04-09 13:53] #91310 closed

[2020-04-09 13:55] Tyriar opened #94796 "Unit tests: Disk File Service after each hook is flaky"
I've seen this fail multiple times over the past few days.

[code]

https://dev.azure.com/vscode/VSCode/_build/results?buildId=40635&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=08e986c2-058e-5f01-51da-ae4278e2d74e

[2020-04-09 13:57] Stanzilla opened #94797 "Option to not include new line in paste"
When tripple clicking a line and then copy pasting it, the pasted text includes a line ending, therefore the cursor jumps to a new line after paste. If this is the intended behaviour, could we get a setting to turn it off? It gets quite annoying when copy pasting a lot of stuff around and having to delete the new line all the time

![ezgif-5-e61224a61088](https://user-images.githubusercontent.com/

[2020-04-09 13:59] roblourens commented on #12185
It's not upstream, replacement is implemented in VS Code, not ripgrep.

[2020-04-09 14:02] #92225 closed

[2020-04-09 14:07] roblourens commented on #94692
Oh yeah, that's it. It won't be prefixed with Remote-SSH because it comes from vscode itself but we can make the English name show up too.

[2020-04-09 14:08] roblourens commented on #94692
FYI @alexr00 you can register those actions for the command palette with `ILocalizedString` if you want, I think that's how that works.

[2020-04-09 14:08] #93789 closed

[2020-04-09 14:08] #93878 closed

[2020-04-09 14:08] isidorn commented on #93789
@joanmarie  I have pushed a fix for this as we discussed, try it out and let me know how it goes.

[2020-04-09 14:09] isidorn commented on #93480
Thanks for fixing this!

[2020-04-09 14:12] Tyriar commented on #93576
Also this only worked previously when the terminal was panel on the side. To verify test that the split terminal icon is correct in the following cases:

- Terminal in bottom panel
- Terminal in left panel
- Terminal in right panel
- Terminal in viewlet

[2020-04-09 14:13] #93576 closed

[2020-04-09 14:13] joaomoreno commented on #89068
@Adam13531 Awesome twitch video. Unfortunately this just looks like missing file events... which is always flaky. When you use Tortoise git, that fires more file events inside `.git` and we pick it up and refresh. I wonder if we could distill some steps from your setup, since you seem to hit this quite often?

[2020-04-09 14:13] #90064 closed

[2020-04-09 14:16] janosh commented on #20958
I second @KolyaKorruptis. This would definitely still be useful.

[2020-04-09 14:19] sbatten commented on #94795
With 1.44, views can be dragged and dropped into other locations. This means you can drag timeline into the SCM (git) view. To do this, drag the timeline view header to the SCM view icon, hold until the SCM view shows, then move inside the scm view to drop the timeline view where you like.

[2020-04-09 14:19] #94795 closed

[2020-04-09 14:19] roblourens commented on #94595
Yeah, so the editor normalizes newlines to `\n`, but that only applies when a file is open. That means that you can't actually search for `\r` in an open editor, but we find that most people actually expect `\n` to match any sort of newline. When we search the disk, we try to make `\n` match `\r\n` but don't normalize away `\r`. That leads to this unfortunate inconsistency but I don't feel that it

[2020-04-09 14:19] #94595 closed

[2020-04-09 14:21] Tyriar commented on #93390
Preferable ways:

https://github.com/microsoft/vscode/blob/d468b457a2f82264d3c53cc98c5f3077a4db32c2/src/vs/workbench/browser/parts/editor/editorCommands.ts#L296-L314

https://github.com/microsoft/vscode/blob/ac209e9314586bdaa19c5ea856e42f86c8e451f1/src/vs/workbench/contrib/webview/browser/webview.contribution.ts#L37-L39

[2020-04-09 14:22] roblourens commented on #94596
I think this is because the match is highlighted in the editor, and when you switch back to the search viewlet, it copies the selected text into the search viewlet. Does that sound right?

There is actually a lot of discussion on how this should work in this issue, https://github.com/microsoft/vscode/issues/91901, and I will probably be making some changes soon, feel free to weigh in.

[2020-04-09 14:22] #94596 closed

[2020-04-09 14:24] sbatten commented on #94733
hi @alefragnani , thanks for reporting and I am happy you have found the reset view locations command. you can also right-click > reset view location on a single view. the behavior you are reporting is currently by design, but we are looking to be smarter going forward with icons and titles of containers.

[2020-04-09 14:24] #94733 closed

[2020-04-09 14:33] Jamyw7g opened #94800 "Nim language icon"
Issue Type: <b>Feature Request</b>

Add icon support for Nim language.

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:34:57.037Z)
OS version: Darwin x64 19.4.0

[2020-04-09 14:35] niemyjski opened #94801 "1.44 not seeing menu options for Turn on Preferences Sync"
- VSCode Version: 1.44
- OS Version: macOS 12.15.4

Steps to Reproduce:

1. Update to latest stable vs code.
2. Click gear icon in lower left and there is no option for `Turn on Preferences Sync`.

I also don't see any settings when searching settings. The only ones I see are these:
![image](https://user-images.githubusercontent.com/1020579/78906766-65f35780-7a45-11ea-8bd6-bc52244f2eaf.png)

Does

[2020-04-09 14:36] sbatten commented on #94688
I think the proposal is not about being too smart but rather changing the way we work in the future to match our end goal. Viewlets and Panels are no longer static concepts but created and destroyed at the users command. Built-in views are just examples and should not be static either. Consider that a company or school provisions VS Code on machines with a few extensions built-in. These viewlets a

[2020-04-09 14:36] robertconstantin opened #94802 "Seach not working"
Issue Type: <b>Bug</b>

the search on the workspace that I work it keeps loading without any result

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-08T08:23:56.137Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: e

[2020-04-09 14:41] #93296 closed

[2020-04-09 14:42] #94752 closed

[2020-04-09 14:45] sbatten commented on #94721
Is this the result you are attempting to get?

![image](https://user-images.githubusercontent.com/6561887/78907812-0ccff780-7a36-11ea-98b7-9f7f530755da.png)

[2020-04-09 14:46] #94273 closed

[2020-04-09 14:46] aeschli commented on #94273
@rafaelrenanpacheco Not related, but I found the issue and pushed a fix

[2020-04-09 14:46] OmeGak commented on #50638
What happened to @roblourens' idea of [supporting per-folder settings in multi-root workspaces](https://github.com/Microsoft/vscode/issues/48262#issuecomment-383347845)? It would also be helpful here.

[2020-04-09 14:46] #94692 closed

[2020-04-09 14:48] tcalmant commented on #94692
Thanks!

[2020-04-09 14:50] alexr00 commented on #94548
@idoprz In the 1.44 release tasks are now grouped a little differently.

[2020-04-09 14:50] jrieken commented on #93933
I have tried the `foo.github-issues Cell 1` variant and another one: `foo.github-issues, cell 1` (which actually like better)

<img width="332" alt="Screenshot 2020-04-09 at 16 49 36" src="https://user-images.githubusercontent.com/1794099/78908287-2860ef80-7a82-11ea-8bc9-27a123d54aee.png">

<img width="367" alt="Screenshot 2020-04-09 at 16 49 49" src="https://user-images.githubusercontent.com/1794

[2020-04-09 14:52] alexr00 commented on #94381
npm scripts with the same name in different package.json files should work.

[2020-04-09 14:53] mbelsky opened #94803 "Timeline: Show full commits history for a renamed file"
Hey,

Thank you for this awesome Timeline feature.

I face that now it doesn't show full commits history for a renamed file. With git I could get it with *--follow* arg like `git log --follow ./PATH/TO/FILE`.

Could something like --follow arg be implemented for vscode too?

[2020-04-09 14:55] guobing1993 commented on #94801
![image](https://user-images.githubusercontent.com/22333388/78908748-206e7300-7ab5-11ea-88f0-8d778fbd8a65.png)

[2020-04-09 14:58] pranavgupta701 opened #94804 "extension terminated host unexpectedly"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-09 14:59] pranavgupta701 commented on #94804
it occur when in both cases when extensions are disabled and when extensions are enabled.

[2020-04-09 15:04] ofadieiev commented on #92461
@joaomoreno I'm ready to live with the problem :) But if you need to check reproducibility I can disable.

[2020-04-09 15:04] muuvmuuv opened #94805 "Maximized Panel on left breaks editor layout with opened webview"
- VSCode Version: 1.44
- OS Version: macOS 10.15.4

Steps to Reproduce:

1. Have two files open in splitview (left|right)
2. Move panel to left
3. Maximize panel

Does this issue occur when all extensions are disabled?: Yes

![Bildschirmfoto 2020-04-09 um 17 00 37](https://user-images.githubusercontent.com/11534760/78909634-1e3ff080-7a84-11ea-8aeb-311554c3a171.png)

[2020-04-09 15:05] cosmicbeamer commented on #88798
The ```xxxxxx``` is the replacement for my username. It starts with a capital letter…

[2020-04-09 15:05] alexr00 commented on #94381
If you give all the tasks in your different folders the exact same label in your tasks.json, then yes this is a problem. However, by default npm tasks have folder specific label, usually of the format "npm: compile - myFolder". You can see what your npm tasks end up getting labeled as by executing the Run Task command and looking at the labels there. Does that make sense?

[2020-04-09 15:09] daseed commented on #94781
After investigating a bit further, it appears that the problem is not what i thought.
Actually when i try to open a file with a right-click "open in VS Code" or even when i try to right click on the VS Code icon in the task bar to open a previously opened folder, and there is already an instance of VS Code open then the previously described behavior occurs.

[2020-04-09 15:10] tommai78101 commented on #94795
Thanks!

[2020-04-09 15:10] szul commented on #94381
@alexr00 Labels in `tasks.json` are different, the script name that gets executed are the same (but they are different `package.json` files in different sub-folders.

When I use Run Task from the command palette and review the labels, they are indeed different. I try to use them in the `preLaunchTask` and see what happens.

[2020-04-09 15:11] RMacfarlane commented on #94176
@sandy081 I would prefer to keep this issue separate so that I can close it independently of others. I find it easier to work with smaller, more specific issues, than having one large issue, I think this also makes verifying each piece easier

[2020-04-09 15:12] Ewan-K opened #94806 "fatal error : No such file or directory"
Issue Type: <b>Bug</b>

The "includePath" in c_cpp_properties.json is set as "${workspaceFolder}/**". The location of my souce file is workspace/code.cpp and the location of my header file is workspace/h/code.h.
The compiler should search all the directory in my workspace recursively(due to my includePath setting), but it didn't.
The funny part is, intellisense can find the header file and it does

[2020-04-09 15:13] #93564 closed

[2020-04-09 15:14] varog-norman commented on #93017
I also like this feature and hope it will be available next releases

[2020-04-09 15:14] isidorn commented on #93933
Works for me. `foo.github-issues, cell 1` looks good.

[2020-04-09 15:15] jos3s commented on #94721
Yes, exactly. So I can add extensions with similar goals in a single display making it easier to use them together

[2020-04-09 15:15] RMacfarlane commented on #94801
As @guobing1993 points out, this is only available in the Insiders version of VSCode. You can try it out here: https://code.visualstudio.com/insiders/

[2020-04-09 15:15] #94801 closed

[2020-04-09 15:18] RMacfarlane commented on #94792
@bliep This comes from the python extension, so please file it there: https://github.com/Microsoft/vscode-python

[2020-04-09 15:19] #94792 closed

[2020-04-09 15:21] Abhay123png opened #94807 "Extension host terminated unexpectedlly"
Issue Type: <b>Bug</b>

Version: 1.44.0 (user setup)
Commit: 2aae1f26c72891c399f860409176fe435a154b13
Date: 2020-04-07T23:30:48.287Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT ia32 6.1.7601

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:30:48.287Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<summary>S

[2020-04-09 15:24] phanthaiduong22 commented on #75627
I have the same problem. I got lag when typing in VScode. I disabled VimExtension. It works well.
How did you fix it?

[2020-04-09 15:24] RMacfarlane commented on #94787
This is already fixed in the latest version of VSCode, 1.44.0. Please try updating. Thank you!

[2020-04-09 15:24] #94787 closed

[2020-04-09 15:27] RMacfarlane commented on #94784
Duplicate of https://github.com/microsoft/vscode/issues/11770

[2020-04-09 15:27] #94784 closed

[2020-04-09 15:28] connor4312 commented on #90518
Thinking about this some more, there's another case I'm having trouble with. Say I have this shell script that I set as my `program`:

[code]

Today this is not hard to deal with. We have the top level session, and the build and tests tasks would come in as children as they start up. During the `sleep`, there would be no child sessions.

Without a top level session, the question arises--what happe

[2020-04-09 15:30] olfek commented on #1012
When will this be available? I needed to use this right now.

[2020-04-09 15:33] egarson opened #94808 "Winow: Menu Bar Visibility Overwritten by Keybinding"
Issue Type: <b>Bug</b>

GOAL : I want my menubar always hidden unless I press "Alt-F10".

PROBLEM: The value "hidden" set on 'Window: Menu Bar Visibility' reverts to "toggle" after ascribing a keyboard shortcut to 'View: Toggle MenuBar Visibility'

STEPS TO REPRODUCE:

1. Set 'Window: Menu Bar Visibility' to  "hidden"

2. Set Keyboard Shortcut 'View: Toggle Menu Bar' to "Alt-F10"

3. Be happy (as

[2020-04-09 15:35] RMacfarlane commented on #94782
Hi @jvesouza, you can accomplish this using a git `commit-message` hook, a script that is run by git when you are committing that validates the commit message. https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks

[2020-04-09 15:36] #94782 closed

[2020-04-09 15:37] nurbles commented on #1012
@olfek sadly, I don't believe this will ever be corrected.  I suspect we must just sit back and enjoy the benefits of object re-use, since the issue is apparently with a component used by vscode, rather than vscode itself. If it were in vscode, I would certainly hope that 3.5 YEARS was enough time to fix something so fundamental.  (sorry vscoders, frustration creeping in)

[2020-04-09 15:38] sbatten commented on #94721
Here's how to do that: With both extensions installed:
1. Click the GistPad icon.
2. Drag the Gists view over the Snippets icon in the activity bar, hold for a second until the Snippets view is visible.
3. Continue dragging the Gists view into the Snippets view and drop.

[2020-04-09 15:39] RMacfarlane commented on #94776
@maxathanja Can you expand the search box with the button on the left, and then click the "..." to further expand it, and see if the "Use Exclude Settings and Ignore Files" button is highlighted within the "files to exclude" input?
<img width="394" alt="Screen Shot 2020-04-09 at 8 37 09 AM" src="https://user-images.githubusercontent.com/3672607/78913229-8ddebd00-7a3d-11ea-9601-41e04161a05c.png">

[2020-04-09 15:39] sbatten commented on #94795
Sorry no that's not something we support at this time.

[2020-04-09 15:41] mbelsky commented on #94803
btw I'll be glad to work on this feature if it's possible. Do I correctly understand that it could be fixed in https://github.com/microsoft/vscode/blob/master/extensions/git/src/git.ts#L857 by adding --follow arg? Or this feature requires more complex change?

[2020-04-09 15:43] rebornix opened #94810 "Notebook source control / diff"
This is the summary of the discussions @kieferrm and me had about how to support diff in VS Code, what the UX is like and what are the gaps in the API to get it working properly.

## UX (Rich/Plaintext diff)

Notebooks are reprenseted in rich UI (markdown previews, code editors, and outputs rendered in various forms) but the notebook documents are usually stored to file systems in text form and th

[2020-04-09 15:43] sbatten commented on #94805
I can do similar breakage by splitting (top/bottom) with the panel in its default location.

[2020-04-09 15:45] ronnyek commented on #41309
Can we just get this done... or any useful input from vscode team about why this isn't there, or wont be there? Maybe I'll just go see if its something theia devs are willing to take as a PR and implement there... problem solved.

[2020-04-09 15:47] rebornix commented on #93933
I like `foo.github-issues, cell 1` too.

[2020-04-09 15:48] sbatten commented on #90461
we do not currently do anything that would allow us to know that moving the SCM view container by dragging the SCM icon from the activity bar is a logical grouping.

[2020-04-09 15:49] zwaldowski commented on #94725
I'm also seeing this in a workspace that already uses the `:` syntax; indeed, it still fails if I change the config to remove all `workspaceFolder` entirely.

[2020-04-09 15:49] rebornix commented on #94763
Good catch, thanks for it!

[2020-04-09 15:50] rebornix commented on #94763
Verifier: Make sure you can see Notebook under Features in the left side TOC of Settings Editor (UI)

[2020-04-09 15:51] #94763 closed

[2020-04-09 15:52] partha0047 opened #94811 "Auto code completion feature is lost"
After the march 2020 update the auto completion feature is lost.
Live Serve extension is also not supported in this new update

[2020-04-09 15:53] connor4312 opened #94812 "UI changes for profiling state in debuggers"
Per previous explorations, there are two changes we would like to make for profiling in VS Code. I've presented these as independent features, however we could also take the approach of supporting a generalized "profiling" state through DAP and drive the UI from that.

#### [ ] 1. The ability to contribute a hover action to targets in the call stack view.

![](https://memes.peet.io/img/20-04-08753

[2020-04-09 15:57] sbatten commented on #94808
@egarson can you explain what you attempted with `Window: Custom Menu Bar Alt Focus`? I see your goal is to have the menubar hidden until you press alt+f10. Based on your steps however, I'd like to ask if your goal is rather to avoid conflicts with alt+ keystrokes.

[2020-04-09 15:59] jos3s commented on #94721
Wow, I didn't know it was possible to do that. However, there is still a problem, there is no view of which extensions are together when this view is active, it would be interesting if the two icons were displayed in the sidebar like the example below

[2020-04-09 16:00] fmeyertoens commented on #91357
The reason might be that some emojis are displayed in text style by default instead of emoji-style. The variation selector Unicode block (U+FE0F) can be added to those emojis to indicate that it should be displayed in emoji-style.
The gear emoji for instance should be inserted as U+2699, U+FE0F.
https://emojipedia.org/variation-selector-16/
https://en.wikipedia.org/wiki/Variation_Selectors_%28Unic

[2020-04-09 16:00] joanmarie commented on #94677
@isidorn: Turns out you have (at least) two objects with ARIA role status:

* One with `id` of `workbench.parts.statusbar` which has children and `aria-live` set to `off`
* One which lacks an `id` property (at least according to Accerciser), lacks children, has a `class` of `monaco-status` and `aria-live` set to `polite`. This is (in the Accessibility tree) a sibling of an alert for "No extensions

[2020-04-09 16:00] gjsjohnmurray commented on #94756
/causedByExtension

I don't know how I can help any further unless you are willing to upgrade to 1.44, disable all your extensions, then enable them one at a time until you discover which one is causing the problem.

[2020-04-09 16:01] #94756 closed

[2020-04-09 16:02] gjsjohnmurray commented on #94807
Please disable all extensions, restart VS Code, then enable them one by one until you discover which one crashes the Extension Host (EH) process.

[2020-04-09 16:03] RMacfarlane commented on #94807
@Abhay123png Can you also copy-paste the output from the "Log (Extension host)" output channel?

[2020-04-09 16:04] niemyjski commented on #94801
This is the release notes for a stable release channel.. This is just
confusing, insiders is a completely different download/install. That's like
me offering two products but putting product b release notes in product a's
release notes. It's highlighted and clickable along with all those major
features that are available. I've known this feature was in insiders for a
long while. That's why I got r

[2020-04-09 16:04] sbatten commented on #94721
@jos3s as you can probably tell, the more views you move, the more difficult it can be to handle what icon should be shown or how to represent this. We are actively working to simplify this and hope that we can make it as flexible and easy to understand as possible going forward.

[2020-04-09 16:04] #94721 closed

[2020-04-09 16:04] egarson commented on #94808
I tried setting `Window: Custom Menu Bar Alt Focus` to both `false` (unchecked) and `true` to no avail. That is to say, it doesn't seem to have an effect on whether or not Alt-F10 reverts the Menu Bar Visibility setting (from 'hidden').
What I think is happening is that invoking `View: Toggle Menu Bar Visibility` from a keyboard shortcut causes the *value* to change, as opposed to making the menub

[2020-04-09 16:05] garretmh commented on #40233
@johnpapa My understanding is that you could still commit `.vscode/settings.json` for project-wide settings but that now individuals can override those settings by adding them to their user settings with the proposed folder-specific settings. Doesn't that solve your example problem?

[2020-04-09 16:06] gjsjohnmurray commented on #94789
Please try disabling your LiveServer extension. If that doesn't solve the problem, disable other extensions until you discover which one is crashing the Extension Host (EH) process.

[2020-04-09 16:06] bpierce1 opened #94813 "Ability to reload/reconnect all remote windows at once"
I use [vscode remote development](https://code.visualstudio.com/docs/remote/remote-overview) to connect to machines through a VPN. I usually have 5-10 different windows open, each connected to a remote.
After the VPN disconnects, this message shows up in every single one:
![image](https://user-images.githubusercontent.com/2482596/78915253-7e14a800-7a40-11ea-9dd7-88c079881b9a.png)

It would be grea

[2020-04-09 16:07] gjsjohnmurray commented on #94807
@Abhay123png based on other reports my top suspect in your list of extensions is LiveServer.

[2020-04-09 16:08] gjsjohnmurray commented on #94811
If you disable LiveServer extension do the missing auto completion features start working again?

[2020-04-09 16:08] RMacfarlane commented on #94804
Actually, I'm going to collect these into one issue, there are a number of reports on this that likely have the same root cause. Since it happens when both extensions are disabled and not disabled, it sounds like it may be a problem with a built in extension

Duplicate of https://github.com/microsoft/vscode/issues/94807

[2020-04-09 16:09] #94804 closed

[2020-04-09 16:09] RMacfarlane commented on #94789
Duplicate of https://github.com/microsoft/vscode/issues/94807

[2020-04-09 16:09] #94789 closed

[2020-04-09 16:09] RMacfarlane commented on #94771
Duplicate of https://github.com/microsoft/vscode/issues/94807

[2020-04-09 16:10] RMacfarlane commented on #94762
Duplicate of https://github.com/microsoft/vscode/issues/94807

[2020-04-09 16:10] #94771 closed

[2020-04-09 16:10] #94762 closed

[2020-04-09 16:10] gjsjohnmurray commented on #94804
@pranavgupta701 I know you reported that the crash happens even with all extensions disabled. But I'd like to know if LiveServer is one of the extensions you have installed. Several other reports seem to have LiveServer as a common feature.

[2020-04-09 16:11] johnpapa commented on #40233
Maybe I misunderstand ... I read the above design as they are proposing a new file, and that file is referenced in user settings. But if you are saying that the settings themselves go in the user settings, that would be a huge huge huge set of settings. but I dont think that is what they are saying.

I read this design to mean that user settings would have a section that points to a file (of our c

[2020-04-09 16:12] sbatten commented on #94808
@egarson your understanding of that command is correct. It's intent is to be a quick way to change the setting which can easily be mistaken for a command that just brings the menu bar into view.

I am now noticing you are on Linux. By default, Linux uses the native title bar experience which is part of electron. Electron only allows us to toggle the menu bar with the alt key which is why the comma

[2020-04-09 16:12] gjsjohnmurray commented on #94811
Maybe related to #94807

[2020-04-09 16:13] jos3s commented on #94721
I understand, but as you still intend to make these changes, it would be interesting at least in the near future to be limited to two extensions and then be modified in a better way. But thanks for the help.

[2020-04-09 16:14] RMacfarlane commented on #94732
@rkeithhill I'm not sure what you mean by ISE color scheme, what is that? It sounds like this is from an extension, if so, please close this issue and reopen it on the extension itself

[2020-04-09 16:18] sbatten commented on #94569
Could this be caused by the changes you made around welcome view scrolling? @joaomoreno

[2020-04-09 16:19] #94772 closed

[2020-04-09 16:19] roblourens commented on #90170
Added generic checks that a setting value matches its schema type. If there is a mismatch it will look like this:

![image](https://user-images.githubusercontent.com/323878/78917001-e6b95000-7a53-11ea-8d1a-f284d3ef523a.png)

[2020-04-09 16:20] varchasvipandey commented on #94756
It's some sort of bug. You need to fix the latest 1.44 update. I removed
all extensions and still faced that exact same problem.

On Thu, 9 Apr 2020, 21:31 VS Code Issue Triage Bot, <
notifications@github.com> wrote:

[2020-04-09 16:20] darylknowles commented on #92508
It looks like this is fixed in 1.44.0, but I do not see specific release notes for it.

[2020-04-09 16:24] gjsjohnmurray commented on #94756
/duplicate of #94807

[2020-04-09 16:28] NxP4Code commented on #94417
@roblourens Please let me know if you need more information.

[2020-04-09 16:32] alefragnani commented on #93604
Yeah, it was a great event! Looking forward the next one.

[2020-04-09 16:36] gjsjohnmurray commented on #94801
@niemyjski the [February (stable) release notes](https://code.visualstudio.com/updates/v1_43#_settings-sync) did a similar thing.

[2020-04-09 16:39] #90170 closed

[2020-04-09 16:43] GalacticLion7 commented on #70764
Hey. Any update?

[2020-04-09 16:47] RMacfarlane commented on #94734
@ryenus I'm having trouble finding where this was registered in the command palette before, do you remember what version you updated from? I still see it in the "Window" menu:
<img width="273" alt="Screen Shot 2020-04-09 at 9 46 22 AM" src="https://user-images.githubusercontent.com/3672607/78919704-24fc4280-7a47-11ea-9dc7-7929e00200ab.png">

[2020-04-09 16:49] joanmarie commented on #94677
@isidorn Ok, so a one line change to Orca solved the main problem (Orca not saying anything). But what Orca's saying is less than ideal.  Seems to be a Chromium issue, and I'm checking with Google to be sure they agree with me (and arguably the specs) that it is a bug.

In the meantime.... These are the items spoken by Orca because this is what Orca finds as the children of the status bar in the a

[2020-04-09 16:49] santiagofavrin commented on #93454
Sublime text has the option to turn wrap off. So it stays at the last result if you keep pressing enter. Something like this would be awesome.

[2020-04-09 16:56] markm77 commented on #93398
Thanks VS Code team for fixing this!

[2020-04-09 17:04] isidorn commented on #90518
I feel like both 1 and 4 are ok options. I would go with 1 and if the user need arrises for this we can investigate what can be done (create some zombie fake session etc)

[2020-04-09 17:12] bsdahl opened #94814 "Native Tab commands missing from Command Palette in March 2020 (version 1.44) update"
- VSCode Version: March 2020 (version 1.44)
- OS Version: MacOs Catalina 10.15.4

Steps to Reproduce:

1. Open Command Palette
2. Search for any Native Tabs commands:

- "New Window Tab"
- "Show Previous Window Tab"
- "Show Next Tab"
- "Move Tab to New Window"
- "Merge All Windows"

The commands are no longer available in the Command Palette. Reverting to the February 2020 version brings them back

[2020-04-09 17:13] Shahryar-sss opened #94815 "Extension host terminated unexpectedly"
Issue Type: <b>Bug</b>

After the automatic update to the following version:

Version: 1.44.0 (user setup)
Commit: 2aae1f26c72891c399f860409176fe435a154b13
Date: 2020-04-07T23:31:18.860Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

When I opened vs code, an error message popped up saying extension host has terminated unexpectedly.

[2020-04-09 17:16] idoprz commented on #94548
Hi @alexr00,

As I understand tasks in quick-pick are now grouped by extension. My suggestion was to have some "logical" grouping like the "build", but with costume types, like "linters", "deploy", etc'..

[2020-04-09 17:24] jvesouza commented on #94587
@isidorn  I just installed code-insiders version 1.45.0, commit 2225d77536d12fea2eda04930f431a5eb0930bba, and the problem still exists.

When I press ctrl+tab orca reads type the name of an editor to open it.

[2020-04-09 17:24] gjsjohnmurray commented on #94815
/duplicate of #94807

[2020-04-09 17:25] #94815 closed

[2020-04-09 17:33] isidorn commented on #94677
@joanmarie thanks for looking into this.
1. Yes, good find, we had two containers with `status` role now. I have fixed that now via 24d856e4b5 Some details why we had that: we had two ways of making the screen reader read an alert message. In an `assertive` way and in a `polite` way. And to make the screen reader read something `polite` we would set the message on our hidden `status` element.  We

[2020-04-09 17:38] maxathanja commented on #94776
@RMacfarlane Please accept my endless gratitude!
I think I saw that 'Search Details' button for the first time. Must have toggled it somehow without knowing.
All is well!

[2020-04-09 17:40] #94808 closed

[2020-04-09 17:41] isidorn commented on #94812
1. This makes sense, menu contribution point like `debug/callstack/actions` makes sense. However note that we show `Sessions`, `Threads`, `StackFrames` in the CALL STACK View. So we should either use `when` clauses to specify that this should only be shown on sessions or the menu contribution point should make it clear that this is only for sessions
2. This more feels to me like a `description` th

[2020-04-09 17:41] blueray453 commented on #12185
@roblourens which regex flavour are you using for replacement?

[2020-04-09 17:49] Hamster-0001 commented on #94791
I am experiencing the same issue without using any extensions. I keep having to reinstall VS Code everytime it tries to update.

[2020-04-09 18:01] RMacfarlane commented on #94776
Glad that fixed it!

[2020-04-09 18:01] #94776 closed

[2020-04-09 18:05] RMacfarlane commented on #94814
Duplicate of https://github.com/microsoft/vscode/issues/94734

[2020-04-09 18:06] #94814 closed

[2020-04-09 18:07] RMacfarlane commented on #94758
Please reopen this on the python extension: https://github.com/Microsoft/vscode-python

Thank you!

[2020-04-09 18:07] #94758 closed

[2020-04-09 18:09] joanmarie commented on #94677
@isidorn A lot closer to right! Thanks!! But the first five items are brokenish. The accessible names:

* $(remote)
* $(git-branch) master*
* $(sync)
* $(error) 0 $(warning) 0
* $(bell-dot)

[2020-04-09 18:10] derekriemer opened #94816 "Remote ssh extension won't work on latest insiders"
Issue Type: <b>Bug</b>

1. try to connect to ssh using an agent.

Actual: Vscode shows that everything failed from an authentication failure, then, initiates the agent, but throws away the result. I'm using a custom agent from work that does fancy things with security keys.

VS Code version: Code - Insiders 1.45.0-insider (2225d77536d12fea2eda04930f431a5eb0930bba, 2020-04-09T09:22:11.706Z)
OS vers

[2020-04-09 18:10] derekriemer commented on #94816
This could be the remote extension, but it just started happening after todays insiders update.

[2020-04-09 18:11] onilton opened #94817 "Allow extensions to get the current editor layout"
When developing a extension I am using `vscode.setEditorLayout` as described in https://code.visualstudio.com/api/references/commands, and I am able to set editor layout/groups:

[code]

The problem is that, before setting the layout, sometimes is good the get the current state, so we don't mess with the current displayed layout:

[code]

In the above example we could check that we already have tw

[2020-04-09 18:12] akbyrd opened #94818 "`workbench.list.automaticKeyboardNavigation` setting is not respected"
When I set `workbench.list.automaticKeyboardNavigation` to false typing while in the file explorer still triggers highlighting/filtering.

Appears to be a regression of https://github.com/microsoft/vscode/issues/68233

[2020-04-09 18:13] sana-ajani opened #94819 "search doesn't work on certain files"
VSCode Version: 1.44

From Twitter:
https://twitter.com/maxlynch/status/1248255169411854336

[2020-04-09 18:14] akbyrd opened #94820 "Add `list.expandAll` command"
There's a `list.collapseAll` but no `list.expandAll`. I find myself wanting this capability when using list views occasionally. I imagine this would deprecate `search.action.expandSearchResults` but would apply to other trees views like the file explorer.

[2020-04-09 18:15] RMacfarlane commented on #94811
@partha0047 What programming language are you using?

[2020-04-09 18:17] danielvieira43 opened #94821 "Run as net user"
I run most of my dev apps with runas.exe without problem. Vs code is the only one I got problem. The window crash.

command line to reproduce:  runas /user:usr\myuser /netonly "code --verbose"

part of output:

[20256:0409/145127.319:WARNING:gpu_process_host.cc(1225)] The GPU process has crashed 1 time(s)
[main 2020-04-09T17:51:27.341Z] update#checkForUpdates, state =  idle
[main 2020-04-09T17:51:

[2020-04-09 18:20] eamodio commented on #94803
Unfortunately git `--follow` causes a bunch of other unintended (unwanted) changes to how the history is calculated. It affects how merge commits are shown (they won't be), and even if you try other git incantations to restore the merge commits it also has a series of unwanted changes. Basically I haven't yet figured out any way to get an equivalent history with and without `--follow`. There are a

[2020-04-09 18:20] jkeech commented on #94714
@Tyriar, I was using insiders, but it also reproduces in stable (added another gif).

![terminal-error-stable](https://user-images.githubusercontent.com/746020/78926997-ec626600-7a52-11ea-97f6-1fa264d3a5aa.gif)

If it helps, the browser is Microsoft Edge Version 83.0.467.0 (Official build) dev (64-bit), on Win10, but I'm also able to reproduce in Chrome Version 80.0.3987.163 (Official Build) (64-b

[2020-04-09 18:21] frederikhors opened #94822 "1 badge icon if I'm not signed-in Microsoft account to sync"
Please remove the `1` badge if I not Sign-In Microsoft account to sync.

Please.

![image](https://user-images.githubusercontent.com/41120635/78927648-89e38700-7a9f-11ea-93a7-d3f5813073e5.png)

Version: 1.45.0-insider (user setup)
Commit: 2225d77536d12fea2eda04930f431a5eb0930bba
Date: 2020-04-09T09:22:11.706Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Wind

[2020-04-09 18:25] eamodio commented on #92033
@DawnPaladin Is there a casing difference the folder you are opening in vs code vs the actual casing on disk? e.g. `c:\Foo\Bar` on disk, but opening `c:\foo\bar` in vs code

[2020-04-09 18:29] gjsjohnmurray commented on #94821
Is #67553 relevant? Seems to say that if you did a [System-type install](https://code.visualstudio.com/docs/setup/windows#_user-versus-system-setup) (rather than a User-type one) you might be able to use runas.

[2020-04-09 18:32] nobitv commented on #94523
well i tryed opening VSCode through command line and disabling the GPU but that did not fix the problem.

[2020-04-09 18:34] jsuddsjr commented on #78166
Even better, could you please restart the extension host automatically? Reporting that it has crashed, and then waiting for me to recognize that my editor is not working because I have to click an OK button is a bad experience. Rather, only notify me if the extension host is crashing repeatedly, and then provide some context as to what was happening when it crashed. Then I could actually do someth

[2020-04-09 18:35] eamodio commented on #92033
@bardware Are you still seeing the same issue with 1.44?

[2020-04-09 18:36] connor4312 commented on #94812
1. I think `when`'s are good. We use that pattern for the context menu, so using it in the actions would make sense. Not sure if other debug extension want to do more e.g. call stack specific actions, but if they do then that would make it available to them.

[2020-04-09 18:45] jamesharris-garmin commented on #21839
A further comment I would make regarding this: We tend to have a policy of wanting to do transparent mirroring proxies for mission critical resource, that way if something happens that takes down large sections of the internet we are insulated with our own mirrors. We achieve this using tools like Sonatype's [Nexus](https://www.sonatype.com/product-nexus-repository) or Jfrog's [Artifactory](https:

[2020-04-09 18:49] ryenus commented on #94734
@RMacfarlane thanks for looking into this, I upgraded from **1.43.2**.

[2020-04-09 18:50] chrmarti commented on #93595
It doesn't seem to get any response. Is that the same for the other extensionquery requests? What does the timing tab of the request show?

[2020-04-09 18:51] tomaxsas commented on #94816
same here on WIndows 10 latest

[2020-04-09 18:53] partha0047 commented on #94811
I'm using html ,css and javascript files.After the new update it says the
extension host terminated unexpectedly. Auto completion feature is also
lost.

On Thu, Apr 9, 2020, 11:45 PM Rachel Macfarlane <notifications@github.com>
wrote:

[2020-04-09 18:54] dillingham commented on #10546
@Tyriar 6 year old ticket for a simple header? Thats alot of meetings ;)

[2020-04-09 18:57] brl0 opened #94823 "SSH sessions stopped working after update"
Issue Type: <b>Bug</b>

Updated to current daily version.
Attempted to reconnect to SSH host.
Terminal pane appears with just a non-blinking cursor.
After timeout period elapses, an error message appears:
`Could not establish connection to "server".  Connecting with SSH timed out.`
The output pane appears and shows output that seems to indicate a successful connection.

I increased the timeout in

[2020-04-09 19:01] DaoHuyTuan opened #94824 "vscode intellisense not catch path when use absolute path with typescript"
- VSCode Version: 1.44.0
- OS Version: Macos 10.15.4
- Typescript Version: 3.8.3

**Introduce**: i have been searching for this problem and i was read many issues you guys answer ``need more infomation`` so this time i want create this issues send to you more infomation to solve this problem 1 for all

Steps to Reproduce:

1. ``npx create-react-app my-app --typescript``
2. ``npm run eject``
3. add

[2020-04-09 19:06] wasker commented on #92959
Available for all in 1.44.

[2020-04-09 19:07] eamodio opened #94826 "Timeline view: Optimize calling out to git only when needed"
Refs: https://github.com/microsoft/vscode/issues/92724#issuecomment-608625758

We should avoid calling `git log` unless we really need to, e.g. there is no need when only the working tree or index changes.

[2020-04-09 19:07] eamodio commented on #92724
Closing this as the main issue is fixed and opened https://github.com/microsoft/vscode/issues/94826 to track further optimization

[2020-04-09 19:07] #92724 closed

[2020-04-09 19:08] eamodio commented on #89505
Until we expose more information about exactly what changed (wrt the repository, working tree, etc), any caching would be mostly pointless, because we'd constantly be flushing all the caches. Once https://github.com/microsoft/vscode/issues/94826 is fixed, then we can look into caching.

[2020-04-09 19:08] Tukei-david commented on #94719
Hey @RMacfarlane , i fixed the issue i didn't intitalize my mongodb database
Thank you

[2020-04-09 19:10] #94774 closed

[2020-04-09 19:10] mjbvz commented on #94774
Please file this against eslint. It should not be reading this setting value directly so changing it to an array should have had no effect

[2020-04-09 19:15] bfitzpat commented on #94746
Our QE team at Red Hat has been doing great work with the https://github.com/redhat-developer/vscode-extension-tester if anybody wants to take a look at it.

[2020-04-09 19:16] gregvanl commented on #94712
Actually showing `unassigned` is helpful in keybinding tables to let users know that new commands don't have default keybindings.
https://code.visualstudio.com/docs/getstarted/keybindings#_default-keyboard-shortcuts
I would prefer to leave the text as `unassigned` (a correct hint in your case) but perhaps we could add a hover to show the command ID.

[2020-04-09 19:20] akbyrd opened #94827 "`search.action.revealInSideBar` causes a warning"
Not sure what it's supposed to do, but it just ends up showing a warning notification with "cannot read property 'resource' of undefined".

Also, typo in the name? Other commands don't seem to capitalize the 'B'

![image](https://user-images.githubusercontent.com/484784/78932486-68ad7700-7a5c-11ea-9370-57bc6f91903b.png)

Version: 1.45.0-insider (user setup)
Commit: 2225d77536d12fea2eda04930f431a5e

[2020-04-09 19:21] danielvieira43 commented on #94821
I removed user-type install and installed System-type. It takes very long time to open up but it runs. I think thats not perfect but its ok now!

Thank you!

[2020-04-09 19:23] RMacfarlane commented on #94719
Great, glad to hear you got it working!

[2020-04-09 19:23] #94719 closed

[2020-04-09 19:26] joanmarie opened #94828 "Use aria-roledescription on (at least) the editor to minimize some chattiness"
Right now when the editor gains focus Orca (and possibly other screen readers) present:
* name (e.g. "Untitled-1 editor")
* role (e.g. "entry")
* line with the caret (e.g. "foo")

I would argue that saying "editor" followed by "entry" is too chatty. But screen readers should present the rolename so users know the sorts of interactions that are possible in the newly-focused item. In addition, it's

[2020-04-09 19:26] ultraGentle commented on #60977
@rebornix Okay, closed the other PR and opened #94825 , where the don't-move-cursor behavior is behind a setting.  The default leaves the behavior as-is.

[2020-04-09 19:28] rkeithhill commented on #94732
Whenever I switch back and forth between the PowerShell extension's stable and preview builds, I see this:

![image](https://user-images.githubusercontent.com/5177512/78933003-c6928c80-7a65-11ea-8a07-ed92074b4fff.png)

Maybe we could have a setting where we could disable this?

[2020-04-09 19:30] RMacfarlane commented on #94732
Please reopen this on the PowerShell extension: https://github.com/PowerShell/vscode-powershell

[2020-04-09 19:30] Chimaobi1122 opened #94829 "code-runner.run' not found"
Issue Type: <b>Bug</b>

Having a bug command 'code-runner.run' not found after updating my vscode to v1.44.o

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) CPU 2020M @ 2.40GHz (2 x 2395)|
|GPU Status|2d_canvas: enabled

[2020-04-09 19:30] #94732 closed

[2020-04-09 19:30] louis925 commented on #94709
@RMacfarlane I think I have `editor.mouseWheelZoom` setting enabled. This only change the font in the editor. (If I disable this setting, cmd + two finger scroll do nothing on my VS Code)

[2020-04-09 19:32] rkeithhill commented on #94732
Gah! I see what you are saying. I clicked on the wrong GH link.  Sorry about that.

[2020-04-09 19:33] joanmarie commented on #93789
@isidorn Just gave it a spin. Works as expected. Thanks!

There's still a bit of chattiness that I'd like to eliminate. Now when the page-tab is switched, Orca says:

* 'foo • Untitled-1' (this is the page tab name)
* 'page tab'

Then, due to a caret-moved event for the newly-focused editor, Orca immediately says:
* 'Untitled-1 editor' (this is the editor name)
* 'entry'
* 'bar' (this is the line

[2020-04-09 19:33] brbecker commented on #94816
It seems like something is blocking. As soon as the timeout occurs, the normal connection output form the server appears in the Terminal window, but the extension has already given up. Tried increasing the timeout with no impact.

[2020-04-09 19:39] akwodkiewicz commented on #40233
@johnpapa I understood that it would be the _content_ of the hypothetical `settings.local.json` that would be in the global user settings file. So **the more projects you work on, the bigger your user settings become**. And the path reference that you mention is a reference to a particular project where these overrides would be applied. Please correct me if I'm wrong though.

I also agree that hav

[2020-04-09 19:41] fredjohnston opened #94830 ""Treat As Filetype" option"
When editing a file without an extension, or just working in an Untitled document, it would be great to say "Treat As Type" and put an extension, such as .py or .txt so that such things as "Toggle Line Comment" would behave in such manner (eg if .py, then Cmd+/ would produce # at start of line(s).

Often, i REMOTELY edit a file, and having to first SAVE-AS (eg somefile.py), then do the edit, then

[2020-04-09 19:45] roblourens commented on #94607
I'll look into it but it will probably be easier to get it to work with js-debug and the js-debug-companion, have you tried that setup yet? @connor4312

[2020-04-09 19:45] johnpapa commented on #40233
if this is correct, then that could be a blocker for peacock. I have 100 projects, I certainly dont want a section in user settings for each one of those. I imagine not everyone would like that. @sandy081 - can you comment?

[2020-04-09 19:46] roblourens commented on #94607
Also with the old Chrome debug extension, you need to install it as a workspace extension, did you do that?

[2020-04-09 19:46] IllusionMH commented on #94830
You can achieve this with `Change Language Mode` command or by clicking on language (most likely Plain Text) in status bar.

Does it solve your problem?

[2020-04-09 19:50] sana-ajani commented on #93499
Hey everyone, thank you for the feedback. Based on the comments, we've created a Gitter channel: https://gitter.im/Microsoft/vscode-a11y

This will serve as an ongoing feedback channel, where you can chat directly with us and other users, post issues you're running into, and where we will coordinate details for a call.

[2020-04-09 19:55] deepak1556 commented on #94768
Can you provide the crash id of your vscode instance by performing the following steps.

* go to command palette > Open devtools
* Again from the command palette > Log Storage Database Contents.
* Check the devtools console and you should see `crashReporter.guid` in the printed array
* Provide the value associated with it.

Thanks!

[2020-04-09 19:55] davidgms opened #94831 "HTML snippets not working"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Performance Issue</b>

My VSCode does not show suggestions, emmets and snippets anymore and i dont know why. I formated my PC months ago and when i was coding again this feature just does not worked.  I searched everywhere how to fix this but without success. Please help?

VS Code ver

[2020-04-09 19:55] johnfg10 commented on #93338
For reference was having the same issue disabling GPU acceleration did fix this issue for me after restarting vs code

[2020-04-09 19:56] roblourens commented on #94816
Can someone share the log from the Remote-SSH output channel?

[2020-04-09 19:57] octref commented on #94746
@bfitzpat Thanks for mentioning. I'll take a look.

@eamodio There's nothing actionable. Please be more precise. What's the issue they run into?

[2020-04-09 19:59] meboev commented on #7169
About the XKCD analogy... The funny thing is that it's more like the other way around. Something like, you have just fixed a bug for people with a non-working "Control + w" on their keyboard, with a permanent, non opt-out binding of the "Spacebar" anywhere in the app, interpreting it's single press with a rapidly heating the CPU, making your OS freeze, thus closing the currently opened files with

[2020-04-09 20:03] tommck commented on #40233
I absolutely agree. And having to open a file in a completely different
place to change the settings is pretty annoying as well

On Thu, Apr 9, 2020, 3:46 PM John Papa <notifications@github.com> wrote:

[2020-04-09 20:11] malonnnn commented on #94816
`[15:10:01.022] > \ln /home/minecraft/.vscode-server-insiders/bin/2225d77536d12fea2eda04930f431a5e

[15:10:01.031] > Found existing installation at /home/minecraft/.vscode-server-insiders/bin/2225d

[15:10:01.040] > Found running server...

[15:10:01.057] >

`

[2020-04-09 20:15] skipikash commented on #70764
I’m willing to help, link to the project?

[2020-04-09 20:17] brbecker commented on #94816
[13:15:40.388] Log Level: 2
[13:15:40.420] remote-ssh@0.51.0
[13:15:40.420] win32 x64
[13:15:40.423] SSH Resolver called for "ssh-remote+uinf9690t", attempt 1
[13:15:40.424] SSH Resolver called for host: uinf9690t
[13:15:40.425] Setting up SSH remote "uinf9690t"
[13:15:40.501] Using commit id "2225d77536d12fea2eda04930f431a5eb0930bba" and quality "insider" for server
[13:15:40.505] Install and sta

[2020-04-09 20:18] charrondev commented on #7169
I view it as, I like to keep a clean list of open editors, rather than a clean undo history. The open editors (or tabs if you configure that way) are visual. The undo history is not.

I'll also note that unlike webstorm, VSCode is open source and accepts community contributions so if a configuration option isn't present you can implement one.

[2020-04-09 20:19] eamodio commented on #94746
@octref the request here is about pure unit-tests -- not integration or UI driven. Basically providing anything we can do to make it easier as well as guidance for best practices.

@Almenon Can you provide any more specific details here?

[2020-04-09 20:19] sbatten commented on #94761
@wdscxsj can you explain what you mean by invalid? this command is still working for me?

[2020-04-09 20:32] connor4312 commented on #94607
js-debug will try to redirect the launch to the UI side as well. But we could have a property like `forceRunInWorkspace` to disable that redirection behavior.

[2020-04-09 20:34] alefragnani commented on #94750
Hi @eamodio ,

Sure, I’m talking about https://github.com/microsoft/vscode/issues/63152, created by @misolori to explore improvements in the Welcome Page. I added [this comment](https://github.com/microsoft/vscode/issues/63152#issuecomment-481538199), asking to be able to _contribute_ to some sections in the Welcome Page.

I found a few others issues which requests other improvements/customization

[2020-04-09 20:35] akbyrd opened #94832 "`workbench.action.focusActiveEditorGroup` doesn't work with `!editorFocus`"
I've added the following keybinding
[code]
This works any time focus isn't on the editor _except_ from the Output view. I've double checked the context keys and `editorFocus` is in fact false, as expected. Nothing else seems to be eating that specific keybinding and either removing the when clause or replacing it with `!editorFocus || inOutput` work correctly.

<details>
  <summary>Context with Ou

[2020-04-09 20:38] mjbvz commented on #94759
Do you see this with TS 3.8+?

[2020-04-09 20:39] memo commented on #94697
Hi, I did **not** have that option enabled, I didn't know about it! I enabled it, and now it **does** work, thanks!.

On a side note, when I launch vscode, I get this popup warning: "We noticed you're using a conda environment. If you are experiencing issues with this environment in the integrated terminal, we recommend that you let the Python extension change "terminal.integrated.inheritEnv" to f

[2020-04-09 20:55] #94634 closed

[2020-04-09 20:57] joanmarie commented on #94708
Funny thing: Very rarely -- and unpredictably -- Orca *does* speak the character being arrowed to. It does this in response to caret-moved events (which it also gets from VTE-based apps when the user moves left/right on a line with text). Any ideas why most of the time, these needed events are completely missing?

[2020-04-09 21:06] Tyriar commented on #94790
What theme are you using? Does it get better if you change the theme?

[2020-04-09 21:09] Tyriar commented on #91357
@fmeyertoens sounds promising, created upstream issue https://github.com/xtermjs/xterm.js/issues/2823

[2020-04-09 21:10] Tyriar commented on #94708
@joanmarie your shell might be re-printing the character for example by re-setting the character style, in which case it would be announced.

[2020-04-09 21:12] ArturoDent commented on #94797
Similar to https://github.com/microsoft/vscode/issues/61840

[2020-04-09 21:12] mssngr opened #94833 "Stable & Insiders Crash on Open for Catalina"
- VSCode Version: v1.40 thru v1.44 + Insiders (Beta)
- OS Version: v10.15.4 (occurred on previous Catalina versions, too)

Steps to Reproduce:

1. Use the provided OS version
2. Use any of the provided VS Code versions
3. Open VS Code (or VS Code - Insiders)
4. Experience CTD

Does this issue occur when all extensions are disabled?: Yes

NOTE:
Version 1.39 of VS Code works. That's the latest versi

[2020-04-09 21:15] mjbvz commented on #94720
Thanks @isidorn. I tested that command but it doesn't quite have the behavior I'm looking for. Here's what I'd like the command to do:

- If the resource to reveal is in a collapsed folder, expand the parent folders so that the revealed file is visible
- Highlight the revealed file so that it is more visible to users
- Move the revealed file into view in the explorer

Right now, I looks like the e

[2020-04-09 21:17] eamodio commented on #94741
@RandomFractals Any more specifics you want to add here?

[2020-04-09 21:21] #94508 closed

[2020-04-09 21:21] Det87 commented on #82154
What's the Roadmap on updating Electrons? I just received my first 1.45 nightly, but it's still not got even Electron 8 (stable since 2 months ago: https://www.electronjs.org/releases/stable?page=2), and judging by the VSC release history (https://github.com/microsoft/vscode/releases), Electron 9 could still even make it to stable before the final 1.45 is out (https://www.electronjs.org/docs/tutor

[2020-04-09 21:28] Stanzilla commented on #94797
@ArturoDent Tried that, sadly did not work as expected.

[2020-04-09 21:59] mjbvz opened #94834 "JS/TS signature help reset when moving on to new overload if multiple overloads match"
Issue Type: <b>Bug</b>

**Repro**
1. For the TS:
[code]

1. trigger sig help in `foo`
1. Type `1`
1. Then select the second overload in the signature help view
1. Now type `,`

**Expected**
Overload remains on the overload for `xyz`

**Bug**
Overload  switches back to one for `abc`

VS Code version: Code - Insiders 1.44.0-insider (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T21:42:32.364Z)

[2020-04-09 21:59] connor4312 commented on #94607
In today's nightly, you can add this `"browserLaunchLocation": "workspace"` to the launch config to tell js-debug launch the 'browser' workspace-side.

[2020-04-09 22:07] #94834 closed

[2020-04-09 22:11] brbecker commented on #94823
Probably a duplicate of #94816

[2020-04-09 22:16] mjbvz commented on #94739
This is the expected behavior currently.

For the code:

[code]

You have documented the type `Slot`. This documentation will only show up when you hover over the type `Slot` in the file, and not when you hover over variables that are of the type `Slot` (as these variables can have their own documentation)

Having said that, it is a feature request to show the type documentation when you hover ove

[2020-04-09 22:18] vscode-pmaher commented on #94654
My bad, for "args" in my shortcut I put the task command instead of label ... all working now:

`{
   "version": "2.0.0",
   "tasks": [
      {
         "label": "Open in Chrome",
         "presentation": {
            "reveal": "never"
         },
         "command": "Chrome Preview",
         "windows": {
            "command": "C:/Program Files (x86)/Google/Chrome/Application/chrome.exe"

[2020-04-09 22:21] rediffusion commented on #93491
@sandy081

 I want to delete it because I use another more coolest `Theme Extensions` from "VS Code Marketplace".
Right now I disable these extensions... After updating today to never version not shows in "Command Palette". I think it's fine now.  👍 😊

[2020-04-09 22:25] joanmarie commented on #94708
Let's take Orca out of the picture for a moment. If my shell is re-printing the character for example by re-setting the character style, *who* is emitting the accessible object:text-caret-moved event in response to that change? The shell, Chromium, or VSCode?

[2020-04-09 22:26] mjbvz commented on #94805
@sbatten Is this specific to webviews?

[2020-04-09 22:28] sbatten commented on #94805
in my testing, yes

[2020-04-09 22:28] #92949 closed

[2020-04-09 22:35] marlon-sousa commented on #94677
hello,

Mine and @joanmarie finds are the same for 24d856e

As for dce2ed8 I am having the following error:

A JavaScript error occurred in the main process
Uncaught Exception:
Error: Cannot find module './vs/base/common/performance'
Require stack:
- C:\projetos\vscode\out\main.js
- C:\projetos\vscode\.build\electron\resources\default_app.asar\main.js
-
    at Module._resolveFilename (internal/mod

[2020-04-09 22:36] rebornix commented on #94408
The QuickPick now aligns with Custom Editor per feedback from today's sit-down

<img width="1971" alt="image" src="https://user-images.githubusercontent.com/876920/78945961-68ba7080-7a76-11ea-8d62-f67bb9e40bcb.png">

Pushed my first attempt to master https://github.com/microsoft/vscode/commit/dc1746e790f693660dc1eccce8c096b8ab1ae408 . To adopt the change in your `editorOverride`:

*1. Implement `I

[2020-04-09 22:40] mjbvz commented on #94408
Thanks @rebornix. The approach looks good like a good start. I'll look into adopting it for custom editors.

I think it's also worth considering adopting more concepts from custom editors for notebooks and settings. For example, the `workbench.editorAssociations` setting lets users configure which custom editor is used for a given resource. This is very similar to what the  `"workbench.settings.ed

[2020-04-09 22:51] phil294 commented on #7169
Not trying to invalidate your point, but could you please explain what you need to ditch the undo history for? Is it so that you can spam "undo" without worrying about going back further than desired?

It seems that now that this issue got closed, your best bet is probably to open up a new one. Either way you have a point, since making new features configurable is rarely a bad idea

[2020-04-09 22:52] mjbvz commented on #94471
IF you add `import '@nestjs/config'` anywhere in your project, do auto-imports start working (even in other TS files?)

[2020-04-09 22:58] hyangah commented on #52974
@roblourens @weinand @isidorn I also think DAP visualization tool is useful as we add more debugging support through DAP. Reusing LSP inspector code is just one way to achieve this.

Is there anyone who's already working on this? Should I open this issue in the debug adaptor protocol repo so more DAP users can see the progress or lack thereof?

[2020-04-09 22:58] deepak1556 commented on #94833
Can you provide the crash report following https://github.com/microsoft/vscode/wiki/Native-Crash-Issues#macos

FWIW I am running code on catalina, haven't seen any crashes so far.

[2020-04-09 22:58] medeirosjoaquim commented on #77279
same here

[2020-04-09 22:59] mjbvz commented on #94612
The editor tries match github's link handling, so

[code]

Should work in both VS Code's editor and built-in markdown preview.

@fiveisprime It looks like the marketplace has different behavior from GitHub. Assigning you to follow up on this

[2020-04-09 23:02] vijayphoenix opened #94835 "Add `.gitignore` file to `.vscode` folder"
# Problem

VS Code automatically adds a `.vscode` folder which has some config files like `settings.json` etc

It is very problematic when this `.vscode` folder is created in a directory which is also git repository.
We have to manually add `.vscode` in the `.gitignore` file to avoid them from been tracked by git.

# Proposed solution

Add an additional `.gitignore` file in `.vscode` folder. So, t

[2020-04-09 23:08] nathantorento opened #94836 "Can't format document"
Issue Type: <b>Bug</b>

I can't format the document at all? Nothing works.

![image](https://user-images.githubusercontent.com/44336802/78948172-e5ad1080-7a9d-11ea-9b8d-cc72cbe0e282.png)

Latest version of VSCode.
Tried disabling all extensions.
Looked at ALL similar threads / bug reports.

Tried all combinations of these:
- outside of a virtual environment
- within a virtual environment
- right-c

[2020-04-09 23:11] mjbvz opened #94837 "Remove "support-objects" special variables highlighting in JS/TS grammars?"
**Problem**
The JS/TS grammar includes logic for highlighting specific words for globals such as `Array` and `JSON`

https://github.com/microsoft/vscode/blob/75c625d4218f71703b0766d070f892ced1b1110a/extensions/javascript/syntaxes/JavaScript.tmLanguage.json#L3493

I believe these were added to improve editing in cases where you only have basic highlighting. However, it's pretty easy to fool these,

[2020-04-09 23:11] rebornix commented on #89038
Not sure if anyone regressed, in current master, after reloading the window, the webview always runs into `Failed to load resource: net::ERR_UNKNOWN_URL_SCHEME` error and also the webview doesn't inherit the width from its container elements, thus the inner elements have zero width. Reopening the webview fixes the issue.

<img width="2462" alt="image" src="https://user-images.githubusercontent.com

[2020-04-09 23:15] mjbvz commented on #94837
Upsides:

- Makes it so the highlighting no longer lies (see cases like `Array` above)

- Simplifies the grammar

Potential downsides:

- Could cause changes to the highlighting people see (if the are used to the existing colors and especially if they have disabled semantic coloring)

- Could cause a more noticeable flash when globals are recolored by semantic highlighting

[2020-04-09 23:15] alexreg commented on #40233
Firstly, thanks for posting here about the design, @sandy081. I do have my concerns though. Perhaps I'm missing something, but after reading the above, this does seem rather like a needlessly complex solution to a simple problem with a fairly obvious solution (i.e., `settings.local.json` or the ilk).

The issue over syncing is lost on me. This is a) not a feature I can envisage myself using, b) th

[2020-04-09 23:21] mjbvz commented on #94608
Opened https://github.com/microsoft/TypeScript-TmLanguage/issues/820 to track upstream

[2020-04-09 23:21] #94608 closed

[2020-04-09 23:23] Mikhail22 opened #94839 "Whitespace collapse with "PMingLiU" font"
- VSCode Version: 1.43.2 (user setup)
- OS Version: Windows_NT x64 10.0.18363

Bug description:

With the "PMingLiU" font, there is no whitespace in the text.
Which is really disappointing, because of system fonts, besides Times New Roman,
there are very few readable fonts. But Times New Roman, for some reason is not
rendered very good, it appears a bit too thin (related https://github.com/microso

[2020-04-09 23:27] mjbvz commented on #94630
Opened https://github.com/microsoft/TypeScript/issues/37877 to track upstream

[2020-04-09 23:27] #94630 closed

[2020-04-09 23:30] #93852 closed

[2020-04-09 23:35] jvesouza commented on #94464
I noticed that now when we browse the list of modified files, the status of the file, modified, untracked, etc. is displayed. However, orca does not announce the patch to which the file belongs, which can be a problem in repositories in which we have files with the same name in different folders.
The java project I'm working on has two files called config.propertes and both have been modified. I j

[2020-04-09 23:35] mjbvz commented on #93654
Opened https://github.com/microsoft/TypeScript/issues/37878 with root cause

[2020-04-09 23:35] #93654 closed

[2020-04-09 23:40] mjbvz commented on #94084
Duplicate of #82814

[2020-04-09 23:40] #94084 closed

[2020-04-09 23:47] JustinWebDev commented on #94582
Not specifically for PS files.  You were involved with the previously filed issues.  I don't understand all the questions as if this is new to you.

[2020-04-09 23:48] mjbvz commented on #92507
@jrieken I think this broken during the rename preview refactoring. Can you please take a look?

[2020-04-09 23:50] mjbvz commented on #92290
@alexdima I believe this is related to the c++ extension's use of decorators

[2020-04-09 23:51] #94731 closed

[2020-04-09 23:51] JacksonKearl opened #94840 "Test paste needed"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-09 23:54] #94840 closed

[2020-04-09 23:54] JacksonKearl opened #94841 "sdfsdfsdfsd"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-09 23:54] #94841 closed

[2020-04-09 23:55] #84861 closed

[2020-04-09 23:55] JacksonKearl commented on #94731
https://github.com/microsoft/vscode/issues/94841

[2020-04-09 23:56] ghost opened #94842 "Support Donald Trump"

[2020-04-09 23:57] mjbvz commented on #90220
This seems like the same issue as #83586 When I investigated the issue, it seems that VS Code is doing the right thing. However it is possible there is a bug in the extensions.

VS Code executes the actions in the correct order but extensions need to return a promise that tracks when they have completed editing the file. If an extension does not do this, we will try executing the next actions befo

[2020-04-09 23:57] #90220 closed

[2020-04-10 00:01] JacksonKearl commented on #89353
Going to let this cook as an experimental setting for a bit. If others come across this issue and this works, please upvote so I know it's desired, or comment if this doesn't work as you'd expect.

[2020-04-10 00:03] jastorgalj commented on #6328
algun avance de esto!! creo que es muy necesario en vscode!!

![2020-04-09 20_01_05-File Nesting · Issue #6328 · microsoft_vscode](https://user-images.githubusercontent.com/5775554/78950546-0de83f80-7a9d-11ea-9952-0168e0a024d7.png)

[2020-04-10 00:09] blueray453 opened #94843 "Regular expression syntax reference"
Webstorm has regular expression syntax reference: https://www.jetbrains.com/help/webstorm/regular-expression-syntax-reference.html

So, do TextMate: https://macromates.com/manual/en/regular_expressions

It seems to me that regular expression syntax reference is far more crucial for vscode than those as vscode has major inconsistencies in search and replace as mentioned in https://github.com/Micros

[2020-04-10 00:18] xisui-MSFT opened #94844 "Add configuration (workspace) doesn't open debug configuration list"
- VSCode Version: 1.44.0
- OS Version: Win 10 1909, 18363.720

Steps to Reproduce:

1. Open a multi root workspace
2. Launch panel -> Add configuration (workspace)...

Expected to see a dropdown list showing supported debug configurations (just like in single root mode).
Actual behavior is that only the .code-workspace file gets focus.

Does this issue occur when all extensions are disabled?: Yes

[2020-04-10 00:22] RMacfarlane commented on #94835
Hey @vijayphoenix, the `.vscode` folder is meant to be checked in and shared - the `settings.json` it contains is settings configured for the project. It also has debug and task configurations. As such, we do not want it to be automatically ignored by git.

[2020-04-10 00:23] #94835 closed

[2020-04-10 00:24] RMacfarlane commented on #94823
Thanks @brbecker! Closing as a duplicate of https://github.com/microsoft/vscode/issues/94816

[2020-04-10 00:24] #94823 closed

[2020-04-10 00:37] xiterjia opened #94845 "The editor is in the middle and there is a gap between the two sides"
Issue Type: <b>Bug</b>

After upgrading VSC to 1.44, when I display two editors on the left and right, and close one of them, the editor will be centered with a gap on both sides, and restart and reload will not return to normal.

VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-08T08:23:56.137Z)
OS version: Darwin x64 17.2.0

<details>
<summary>System Info</summary>

[2020-04-10 00:46] gigaimage opened #94846 "empty file when Code is launched by jshell"
- VSCode Version: 1.44.0
- OS Version: MacOS Catalina 10.15.4

Steps to Reproduce: See attached two screenshots - Vim vs Code. Steps are in screenshots.

1.  Vim
![Screen Shot 2020-04-09 at 5 35 01 PM](https://user-images.githubusercontent.com/1184087/78951953-c5268b80-7a88-11ea-8f27-d1ab99376742.png)

2. Code
![Screen Shot 2020-04-09 at 5 23 58 PM](https://user-images.githubusercontent.com/118408

[2020-04-10 00:54] GS-Avaluka opened #94847 "Screen reader gets trapped in Forms Mode when attempting to interact with various tools, gets trapped into Forms Mode on load and cannot use Escape to cancel out of Forms Mode (Accessibility)"
- VSCode Version: 1.44
- OS Version: Windows 10
-Screen Reader: JAWS 2019 (Yes, I know you only test with NVDA ... but NVDA has a Forms Mode, as well, and it may be affecting NVDA.)

Steps to Reproduce:
1. Load VSC.
2. As focus goes into Welcome page, Forms Mode is engaged and cannot be removed/disengaged with Escape key as usual.
3. Even if Forms Mode somehow gets disengaged after using a keyboar

[2020-04-10 01:00] #92200 closed

[2020-04-10 01:19] bubuface0802 opened #94848 "Remote-SSH cannot connect"
Each time the remote-ssh/wsl have some updates, it would fail when I reconnect remote SSH.

Issue Type: <b>Bug</b>

[09:14:42.854] Log Level: 2
[09:14:42.888] remote-ssh@0.51.0
[09:14:42.889] win32 x64
[09:14:42.896] SSH Resolver called for "ssh-remote+ailab-05", attempt 1
[09:14:42.897] SSH Resolver called for host: ailab-05
[09:14:42.898] Setting up SSH remote "ailab-05"
[09:14:42.986] Using com

[2020-04-10 01:22] EmbeddedBacon opened #94849 "Check for update yields error of: "Unexpected token < in JSON at position 0""
- VSCode Version: 1.44.0 (user setup)
- OS Version: Windows 10 (version 1809)

Steps to Reproduce:

1. Initiate "check for update"

Today I was checking for an update to 1.43 and saw this error.  I downloaded the newer version of VS Code from the website, 1.44.0, and installed it.  I tried the "check for update" functionality again, but still saw this issue.  From the Log (Main) Output window is t

[2020-04-10 01:24] fmeyertoens commented on #91357
Might be related to https://github.com/microsoft/vscode/issues/32840. It is originally about the editor but seems to be the same problem and people are also discussing the terminal behavior there.

[2020-04-10 01:25] weaver712 opened #94850 "Can't use SSH"
ssh链接远程机器，只要弹出输入密码框，就会同时弹出链接超时的错误框出现

[2020-04-10 01:37] aquova opened #94851 "git gutter showing up inconsistantly"
When editing a file under git source control, any changes made to a line should be highlighted in the git gutter, however in several of my repos, this has not been happening. However, I am able to make the git gutter appear if I open a file via "Go to Definition" (F12). If Go To Definition opens a file not currently open in the editor, then the newly opened file will display the git gutter. Openin

[2020-04-10 01:39] wdscxsj commented on #94761
@sbatten Sorry if I missed something, but this was the first weird thing for me after the update (same with `--disable-extensions`):

`keybindings.json`:

![Screenshot032](https://user-images.githubusercontent.com/863369/78954430-c5696a00-7b0e-11ea-8ca6-0561caf93dc8.png)

`Ctrl+k a` pressed:

![Screenshot033](https://user-images.githubusercontent.com/863369/78954437-cd290e80-7b0e-11ea-837c-4d8e84e

[2020-04-10 01:41] noopkat opened #94852 "docs for DocumentLink lists property that doesn't exist"
Hi there,

I am trying to use the Document Links Provider feature for a VS Code extension. I'd like to supply a tooltip that briefly describes what the link will be if they follow it (eg. "see [method name] in the API reference online").

Was this an existing property in the past? Is it now deprecated?

- VSCode Version: 1.43.2
- OS Version: macOS Mojave 10.14.6

**Steps to Reproduce:**

1. Visit

[2020-04-10 01:50] jeanp413 commented on #92126
I got a fix for this though I couldn't actually verify it since I cannot repro out of source but it does happen in stable and insiders. I'll create a PR so you can try it out.

[2020-04-10 01:56] mjbvz commented on #94852
Tooltip is a property you can set on `DocumentLink`, not a constructor argument. The docs seem to list the 2 argument constructor properly:

<img width="532" alt="Screen Shot 2020-04-09 at 6 55 54 PM" src="https://user-images.githubusercontent.com/12821956/78955320-c610ea80-7a93-11ea-840e-3284e4b2837e.png">

[2020-04-10 01:56] #94852 closed

[2020-04-10 02:02] mesqueeb opened #94854 "Show underlying type documentation in interfaces and types that implement that type."
I often have function signatures saved as a separate type when I use them in a lot of places.

The problem is, whenever I use such a type in an interface or a compound type, it doesn't automatically show me the documentation for the underlying type when hovering over the property...

This makes it veeeery un-user-friendly for devs who consume my libraries. So to mitigate that I have to **manually

[2020-04-10 02:07] mjbvz commented on #94854
Duplicate of https://github.com/microsoft/TypeScript/issues/37876

[2020-04-10 02:07] #94854 closed

[2020-04-10 02:08] mjbvz commented on #93868
Fixed in current API version

[2020-04-10 02:08] #93868 closed

[2020-04-10 02:13] mjbvz commented on #85275
Closing this as there are cases—like webviews—where we really do not want to create the value ahead of time because they are quite costly. Lazy is also useful for cases where we only sometimes need to use the result of a computation

[2020-04-10 02:13] #85275 closed

[2020-04-10 02:26] mattacosta opened #94855 "Outline view symbol icons are no longer colored"
Issue Type: <b>Bug</b>

Steps to reproduce:
1. Open up a file with a method.
2. See that the cube icon in the outline view is no longer purple.

VS Code version: Code - Insiders 1.45.0-insider (2225d77536d12fea2eda04930f431a5eb0930bba, 2020-04-09T09:22:11.706Z)
OS version: Windows_NT x64 10.0.18362

[2020-04-10 02:32] yume-chan commented on #94845
Looks like you are in the "centered layout" mode, please try to run the `View: Toggle Centered Layout` command to exit.

[2020-04-10 02:34] yume-chan commented on #94850
Translation:

[2020-04-10 02:37] totszwai opened #94856 "v1.45 broke Remote SSH"
Issue Type: <b>Bug</b>

1.44 works, just tested. But after updating to 1.45 Remote SSH just times out and will not show the prompt for password. You can only see the password prompt when it reaches the configured timeout.

VS Code version: Code - Insiders 1.45.0-insider (2225d77536d12fea2eda04930f431a5eb0930bba, 2020-04-09T09:22:11.706Z)
OS version: Windows_NT x64 10.0.18362
Fetching remote diagno

[2020-04-10 02:37] #91089 closed

[2020-04-10 02:39] webdeveloperpr opened #94857 "VSCode changed my colors"
My colors are all messed up after updating. Can we revert that change? I don't care about color semantics. Please do not change theme colors!

[2020-04-10 02:39] yume-chan commented on #94829
It's usually caused by the extension not properly start.

Please check formulahendry/vscode-code-runner#393.

[2020-04-10 02:44] webdeveloperpr commented on #94857
How can you disable this?

[2020-04-10 02:49] sumitparakh opened #94858 "v1.44.0 broke git."
- VSCode Version: 1.440
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. Open any project which has git initialized.
2. You'll notice that the git toolbar is unable to detect it and ask to initialize repository(which is already initialized)

Does this issue occur when all extensions are disabled?: No

Message like this appears:-

![image](https://user-images.githubusercontent.com/4236211/7895

[2020-04-10 02:50] mattacosta opened #94859 "Can't resize using the divider of outline view"
Issue Type: <b>Bug</b>

Steps to reproduce:
1. Drag the outline view into any of the horizontal views (problems, output, debug console, terminal).
2. Cannot resize using the divider like other split views.

VS Code version: Code - Insiders 1.45.0-insider (2225d77536d12fea2eda04930f431a5eb0930bba, 2020-04-09T09:22:11.706Z)
OS version: Windows_NT x64 10.0.18362

[2020-04-10 02:51] webdeveloperpr commented on #94857
Here is an image that shows how to disable this crap. Hopefully it saves someone 30 minutes of searching through settings.

<img width="1100" alt="Screen Shot 2020-04-09 at 10 49 07 PM" src="https://user-images.githubusercontent.com/7534346/78957812-5d863580-7ab4-11ea-9a33-afcd84a14e58.png">

[2020-04-10 03:01] sumitparakh commented on #94858
Just noticed that most of the things are not working in this version

![image](https://user-images.githubusercontent.com/4236211/78958424-a87c6900-7b05-11ea-8b76-3be82a5a8ba6.png)

[2020-04-10 03:02] DawnPaladin commented on #92033
@eamodio I tried a few variations and it looks like the command is failing because it's using a lowercase drive letter. `git log c:/...` fails, while `git log C:/...` works.

[2020-04-10 03:06] xiterjia commented on #94845
Thank you very much, maybe I clicked it by mistake when I clicked to display the "Show Activity Bar"

[2020-04-10 03:06] #94845 closed

[2020-04-10 03:16] pratikhit opened #94860 "extension are not working"
my extension are not working any more after the recent update of march. i have no third party extension installed yet my emmet is not working. after the update my quickheal antivirus sent two files to quarantine folder i tried to restore those files back but the issue still continues.

i am constantly get the issue "Extension host terminated unexpectedly"

i am attaching my screen shoot of the qua

[2020-04-10 03:17] aJamDonut commented on #43188
++plz :)

[2020-04-10 03:21] aj-vargas commented on #7169
Reading the comments of past years I see how useful this new feature is for some. I always saw the bug more like a feature [over WebStorm](https://youtrack.jetbrains.com/issue/IDEA-108209) though hehe.

And even `vim` [supports disabling](https://stackoverflow.com/questions/15660669/what-is-a-un-file-or-or-why-does-vim-in-the-terminal-make-the-un-file) persistent undo :)

It's my own specific case

[2020-04-10 03:30] daravi opened #94861 "Allow use of captured regex group in files-to-include and files-to-exclude fields of global search"
In global search pane, one can use regex to search for something. You can also use the captured group in the "replace by" field. However, currently it is not possible to use these captured groups in the "files to include" and "files to exclude" fields.

Example use case:
I want to be able to edit all #include lines in different modules so that:
[code]

[2020-04-10 03:30] gjsjohnmurray commented on #94860
/duplicate of #94807

[2020-04-10 03:31] #94860 closed

[2020-04-10 03:36] gjsjohnmurray commented on #94807
#94860 reports antivirus interference with VS Code.

@Abhay123png are you using AV software? If yes, which one? Any sign of it having messed with VS Code files?

[2020-04-10 03:38] nanmingzhidian commented on #94773
Lua
not install any extention

[2020-04-10 03:47] nanmingzhidian commented on #94773
The first installation works, but there is no way to recover after a problem occurs

[UserName/.vscode] and [UserName/AppData/Roaming/Code] have been deleted

It won't work no matter how many times you reinstall it

[2020-04-10 03:50] nanmingzhidian commented on #94773
I just tried python and js and they don't work outline view

The computer I work on doesn't have Internet

[2020-04-10 03:50] gjsjohnmurray commented on #94858
Probably #94807.

Are you using AV software? If yes, which one? Any sign of it having messed with VS Code files?

[2020-04-10 03:52] roblourens commented on #94802
Can you give some more details, and see if this guide helps at all? https://github.com/microsoft/vscode/wiki/Search-Issues

[2020-04-10 03:54] gjsjohnmurray commented on #94856
Probably #94816

[2020-04-10 03:57] gjsjohnmurray commented on #94850
If you are using 1.45-insider then this is maybe #94816