[2019-12-09 15:26] jrieken commented on #84588
Actually, scary... 😱

Unsure if that works - the simplest workaround is to not use `require` but to use `fs.readFileSync`.

VS Code creates cached data files (https://v8.dev/blog/code-caching) which contain both files - the cached data *and* the source file. We assume that source files don't change after having them loaded and what we can do is to ignore JSON-files in this process.

[2019-12-09 15:26] lucasexe opened #108732 "Upload file (on save) using diff strategy"
First of all, thank you for this incredible tool.

I use remote features every day to edit files on a server located 10000km (6250 miles) from my location and there are some big files (more than 1MB). When I modify them and ask to update their contents on the server, the VSCode takes a long time (>= 15s).

I was thinking if it is possible to use a diff strategy to update the contents on the server

[2019-12-09 15:39] edwin-hendriks opened #86597 "'Using .NET Core in Visual Studio Code' by default has 26 errors"
- VSCode Version: 1.40.2
- OS Version: Win NT x64 10.0.18362

**Steps to Reproduce:**

1. Fill in prerequisites on [Using .NET Core in Visual Studio Code](https://code.visualstudio.com/docs/languages/dotnet) with button **Download .NET Core SDK**.
2. Perform steps as described in **Create a "Hello World" app** of same [Using .NET Core in Visual Studio Code](https://code.visualstudio.com/docs/langu

[2019-12-09 15:43] jrieken commented on #84588
I have changed the way how messages are logged and that's all I can do here. The caching of module is a node-thing that you get when using `require` - either massage the cache or use `readFileSync`

[2019-12-09 15:43] #84588 closed

[2019-12-09 15:55] bpasero opened #86599 "Revisit handling of deleted/moved files in custom editors"
I just came across the change in https://github.com/microsoft/vscode/commit/b52f1c7dae8a70d1d877e65b16b9496118690196#diff-bd0cac707b6707e6ef725a11d0702cea. I think the approach is a bit questionable as we now have some editors implementing this method (custom) but some not (files).

I find the `FileEditorTracker` should only be responsible for updating editors for files, not any other editor nor c

[2019-12-09 15:55] ayqy commented on #84588
It's impossible if I want to read  `.js` files, e.g. webpack config (`webpack.config.js`) as you know.

IMO, it's not an unimportant log by mistake, and silent failure is the worst solution.

Think about this, whether we should patch a custom module loader using `fs.readFileSync` to avoid the bad cache? @jrieken

[2019-12-09 15:57] #86506 closed

[2019-12-09 15:58] isidorn commented on #86506
@jeanp413 thanks a lot for filling this!

[2019-12-09 16:01] #86212 closed

[2019-12-09 16:01] #86579 closed

[2019-12-09 16:04] jrieken opened #86601 "Extension profiler broken"
The extension host profiling stopped working, not sure when that happens but it seems that scripts are now represented as url, e.g starting with `file://` instead of `c:/` or `/foo`. That breaks the look-up of profiler nodes in the extension directory.

[2019-12-09 16:09] bpasero opened #86602 "Cannot read property 'dragStartDisposable' of undefined"
I am seeing this with steps such as:
* be in a multi root workspace
* have no outgoing changes
* open SCM view
* click on second repo
* type into an editor of a file of that repo
* wait until file shows up as outgoing
* undo from the view and wait until change goes away
* repeat

[code]

[2019-12-09 16:09] #86503 closed

[2019-12-09 16:09] octref commented on #86503
Report to https://github.com/microsoft/vscode-python

[2019-12-09 16:12] octref commented on #86517
https://marketplace.visualstudio.com/search?term=keymap&target=VSCode&category=All%20categories&sortBy=Relevance

[2019-12-09 16:12] #86517 closed

[2019-12-09 16:14] #83781 closed

[2019-12-09 16:14] #85855 closed

[2019-12-09 16:14] #85860 closed

[2019-12-09 16:16] agostini01 opened #86603 "Smooth transition of explorer with the new "Highlight file on active editor change" feature"
This tries to address the problem here https://github.com/microsoft/vscode/issues/84365  from a different perspective

It seems that this feature was introduced on 1.40: "The Source Control view will now automatically highlight the active editor file in its tree/list view". It does that by jumping to the highlighted file.

I would like to propose a smother transition from the current file in the e

[2019-12-09 16:16] octref commented on #86521
Please follow https://github.com/microsoft/vscode/wiki/Performance-Issues for reporting perf issues.

[2019-12-09 16:18] #86522 closed

[2019-12-09 16:19] octref commented on #86522
If you are using formatting, this is the behavior of js-beautify so you should report issue to them:
https://github.com/beautify-web/js-beautify

There are other formatters such as prettier you can find on https://marketplace.visualstudio.com/vscode

[2019-12-09 16:20] bpasero opened #86604 "GitFs: support proper e-tag handling"
I am not sure if this would be possible, but it would be good if the file system provider for git could return actual `mtime` and `size` values here:

https://github.com/microsoft/vscode/blob/6de6aa0278b35763d9063e079ab8eaa8f2031289/extensions/git/src/fileSystemProvider.ts#L127

With proper values, the file service is able to quickly return with a `NOT_MODIFIED_SINCE` error and avoid reading the s

[2019-12-09 16:20] #86525 closed

[2019-12-09 16:21] octref commented on #86525
Please report to https://github.com/microsoft/vscode-cpptools. We don't own the extension.

[2019-12-09 16:22] headmelted commented on #6442
Error is:

Request https://marketplace.visualstudio.com/_apis/public/gallery/publishers/ms-vscode/vsextensions/node-debug2/1.41.3/vspackage failed with status code:429

429 is Too Many Requests.

This has been working intermittently for the builds today so my guess (and it's only a guess) is that the rate limiter on visualstudio.com is flagging the request from the piplines build agent?

If anyone

[2019-12-09 16:22] #86526 closed

[2019-12-09 16:23] octref opened #86605 "Assign pull requests that reference an assigned issues"
When doing inbox tracking I see some unassigned PR. Many of them refer to the issues they fix on the first few lines. Would be great for the bot to auto-assign them to the same owner of the issues they fix.

[2019-12-09 16:24] octref commented on #86526
Please report to https://github.com/redhat-developer/vscode-java

[2019-12-09 16:24] #86536 closed

[2019-12-09 16:27] jrieken commented on #86601
Actually already broken in 1.40...

[2019-12-09 16:29] bjnsn commented on #86130
@deepak1556 `1.40.1` works correctly unlike `1.40.2`.

[2019-12-09 16:32] jrieken commented on #86601
Still bringing this up for 1.41 - despite it being broken since a longer while

[2019-12-09 16:33] #86597 closed

[2019-12-09 16:34] octref commented on #86597
@gregvanl fyi, think we should make sure the doc is up-to-date. is what on that page still the recommended way for setting up?

[2019-12-09 16:34] jrieken commented on #84588
So how exactly are you patching a JSON-file that has been bundled?

[2019-12-09 16:35] #86586 closed

[2019-12-09 16:38] octref commented on #86585
I'm guessing it's because "XML" is a direct match to your query, whereas "XML Tools" is not.

[2019-12-09 16:38] #86585 closed

[2019-12-09 16:40] octref commented on #86575
https://github.com/microsoft/vscode/issues/2743

When we say "setting sync" it involves syncing extensions.

[2019-12-09 16:40] znorman-harris commented on #83224
@Tyriar So, if performance is that much of a concern, why not revert the change back to a terminal-by-terminal capture? Otherwise anyone who was planning on using the terminal capture (or anyone who did use it in an extension) has no solution/workaround.

[2019-12-09 16:41] cpheps commented on #84706
Just got it to happen again. Did a `cmd+Click` to follow a definition here is my logs. I replace my files with `XXX`.

[code]

Here's what my editor looks like:

![Screen Shot 2019-12-09 at 11 35 45 AM](https://user-images.githubusercontent.com/11877763/70454644-c31bd400-1a78-11ea-96e2-9f572e6cfb5c.png)

Current vscode version:

[code]

[2019-12-09 16:44] octref commented on #86560
Please describe your problem and then reopen or open a new issue.

[2019-12-09 16:44] #86560 closed

[2019-12-09 16:45] VideoPlayerCode commented on #61519
@muuvmuuv That's excellent progress, thanks for working on this!

As for "high contrast", press Win+S to search, type "high contrast", and enable it. It's basically a Windows 3.1 theme. The dialogs become pitch black except for a pixel-arty window outline. ;-)

And as for the "inverted theme", I am not sure where to turn it on in Windows, but it's definitely available on Macs, and it is literally

[2019-12-09 16:47] #86552 closed

[2019-12-09 16:48] #86541 closed

[2019-12-09 16:48] octref commented on #86541
Please report this to code-server.

[2019-12-09 16:50] debopamgupta commented on #86568
I am on <strong>Windows 10 version 1903</strong> OS Build <strong>18362.418</strong> and I am not facing this issue.
Also I just updated to the latest version of VSCode version 1.40.2

[2019-12-09 16:52] eborghi10 commented on #86568
I'm mostly sure this issue only happens with Linux-based OSs.

[2019-12-09 16:54] mveroukis commented on #12622
VS Code gets a lot of hype but it lacks a lot of basic stuff. This is one of them. Also, the Find In Files is particularly crap. I'm really not sure what the hype is all about. I think it's time to give Atom another look but also, maybe just stick with Visual Studio. As it is, all I use VS Code for is to look at log files because it's slightly better than Notepad.

[2019-12-09 16:57] headmelted commented on #81854
I'm happy to try adding this to https://github.com/headmelted/codebuilds now that Electron supports Windows ARM64.

Is there interest in this, given that it's not an official build so you would need to accept that there may be inconsistencies in terms of what's support from an extension perspective.

[2019-12-09 16:57] alexr00 commented on #86419
It is fixed on our master branch, but not yet available anywhere for you to try out yet. By the end of the week it should be available in our daily Insiders build: https://code.visualstudio.com/insiders/

[2019-12-09 16:57] mjbvz commented on #86502
We don't support types in JS files natively. Please file this against the flow extension

[2019-12-09 16:57] #86502 closed

[2019-12-09 17:01] headmelted commented on #70764
I believe this might actually be possible on the device but I haven't had time to look into it.

I have a 2018 iPad with a keyboard cover that I could dig out but I'm not sure how Apple handles app to app communication on iOS.

Essentially I would think you could run the VS Code remote server **_inside_** iSH directly on the iPad, then connect to it from Safari - so you'd be working directly in Sa

[2019-12-09 17:02] #86367 closed

[2019-12-09 17:04] RMacfarlane commented on #86367
@TimGangl It sounds like this is being caused by the [open in browser extension](https://github.com/SudoKillMe/vscode-extensions-open-in-browser). The [debugger for chrome](https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome) extension might be a good alternative

[2019-12-09 17:04] headmelted commented on #6442
Pipeline fixed.

Will update on my own builds here as this is a thread for official support:

https://github.com/headmelted/codebuilds/issues/67

[2019-12-09 17:06] debopamgupta commented on #86568
Seems so.

Do we need to wait for a bit or immediately close and open the lid? Does it happen after extended inactivity?

[2019-12-09 17:10] makeway4pK commented on #86575
Sorry, you missed an important point.
I suggested nothing related to syncing.
Extension profiles were meant to be used to quickly ENABLE a SET of extensions to quickly switch between Web dev, Embedded sys and other workspaces I have. You have saved a week on the next update.

[2019-12-09 17:14] mheiber commented on #83625
update on the PR to add ES private class fields to TS: https://github.com/microsoft/TypeScript/pull/30829#issuecomment-563337384

[2019-12-09 17:14] #85731 closed

[2019-12-09 17:14] #85748 closed

[2019-12-09 17:14] #85743 closed

[2019-12-09 17:14] #85665 closed

[2019-12-09 17:14] #85616 closed

[2019-12-09 17:15] #85609 closed

[2019-12-09 17:15] #85607 closed

[2019-12-09 17:15] techsin commented on #16320
I was defining all properties OUTSIDE of compilerOptions and therefore it wasn't working. The dumbest thing I've wasted time on.

[2019-12-09 17:19] eborghi10 commented on #86568
It's possible to reproduce it suspending the computer too.

[2019-12-09 17:34] Tyriar commented on #86568
/duplicate https://github.com/Microsoft/vscode/issues/69665

[2019-12-09 17:34] #86568 closed

[2019-12-09 17:35] Tyriar commented on #69665
A related issue if you're on the WebGL renderer, you'll see a 🙁 face when the context gets lost and you cannot recover the terminal for now. This is tracked in https://github.com/xtermjs/xterm.js/issues/2253

[2019-12-09 17:36] Tyriar commented on #83224
The old model was also proposed and was not meant to be used in extensions, I think the guard was missing.

[2019-12-09 17:38] JasonL4t1qbit opened #86606 "Python test discovery never finishes when git submodule present"
Issue Type: <b>Bug</b>

Add a submodule (in my case https://github.com/bitnami-labs/kube-libsonnet) in the subdir of the testing root. Test discovery that worked immediately beforehand no longers works. Removing the submodule causes the tests to be discoverable again.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:52:45.129Z)
OS version: Darwin x64 18.7.0

<

[2019-12-09 17:39] Tyriar commented on #86545
This has come up before, it's fine that it's not https as there are extra checks in place to make sure it's the right payload that comes back. Also a lot of distros need an additional package when you install via https.

[2019-12-09 17:39] #86545 closed

[2019-12-09 17:41] 10lk opened #86607 "Can't open Workspece in FirefoxReality"
- VSCode Version:Version: 1.40.0
- OS Version: Server : Visual Studio Online,  Client : Oculus Quest + FireFox Reality 7 rc6

Steps to Reproduce:

1.Download Firefox Reality 7 rc6 from the Github repository.
2. Install in Oculus Quest in developer mode.
3. Launch instance in Visual Studio Online.
4. An error occurs in VSCode and workspace cannot be opened or saved.
![79687555_1387938061374592_3819

[2019-12-09 17:46] bpasero commented on #84706
@cpheps would it be possible to get an exact step by step repro from you that we can play with? That includes a workspace to clone, the extensions you have installed and the instructions for how to get there.

[2019-12-09 17:51] deepak1556 commented on #86130
Thanks for confirming!

[2019-12-09 17:56] Braunson commented on #86141
Thanks @alexandrudima -- the issue was this plugin `Lakkannawalikar.the-travis-client`!

[2019-12-09 17:56] #86141 closed

[2019-12-09 17:57] sbatten commented on #86591
The alt key is not something that can be pressed with Windows native context menus.

macOS: allows option + click in context menu
windows: allows alt + click in context menu with custom (not native)
linux: allows alt + click in context menu

So, yes, we could theoretically support this, but since it is a foreign concept to native windows, I'm not super sure we should.

/cc @bpasero

[2019-12-09 18:02] roblourens commented on #86363
This is a case that we can and should support, although I am not going to debug it more in the current debug extensions because we are working on a new version of the debug extension. It might already work there, you can try it at https://marketplace.visualstudio.com/items?itemName=ms-vscode.js-debug-nightly

[2019-12-09 18:02] cpheps commented on #84706
Here are the steps I took:
1. Closed all previously opened panes (there were a lot in 2 split groups). None contained the new file
2. Closed explorer side bar and terminal
3.`CMD + P` open file
4. Scrolled through file
5. `CMD + Click` on jump to definition
6. Editor pane blanked

I can't give the code base but I can supply my setup up.

Extensions:

Extension | Author (truncated) | Version
-- | -

[2019-12-09 18:06] JojoS62 commented on #68038
In current version 1.40.2 I can see the multiple source control providers only when the root does not contain a .git and is initialized by the command 'Git: Initialize Repository'.
After closing and reopening VSCode, only the git for the project root is shown, subdirs with own .git are no longer listed.

[2019-12-09 18:08] Tyriar commented on #86531
What version of VS Code are you on?

[2019-12-09 18:11] TimGangl commented on #86367
I figured it out. I was trying to create a path for mysql for command line
and that was what screwed it up.

On Mon, Dec 9, 2019, 9:04 AM Rachel Macfarlane <notifications@github.com>
wrote:

[2019-12-09 18:14] #85602 closed

[2019-12-09 18:14] #85796 closed

[2019-12-09 18:14] #85797 closed

[2019-12-09 18:14] #85802 closed

[2019-12-09 18:14] #85818 closed

[2019-12-09 18:15] Tyriar commented on #86434
It's working now, weird. I suspect it was related to when the list viewport not updating when only items outside the viewport changed removed. Will keep an eye out if it happens again

[2019-12-09 18:15] #86434 closed

[2019-12-09 18:15] #86606 closed

[2019-12-09 18:15] RMacfarlane commented on #86606
Please file this on the [python extension](https://github.com/Microsoft/vscode-python)

[2019-12-09 18:17] joaomoreno commented on #86534
Great catch, thanks!

[2019-12-09 18:21] cpheps commented on #84706
I also just noticed if I open the same file in a new editor pane, same group, it has my workspace path listed using `source` as the file root rather than `home/cphelps/XXX/XXX` which the blank editor shows.

[2019-12-09 18:30] mjbvz opened #86611 "Git: LFS support for image diffing"
**Steps to Reproduce:**

1. In a repository with git LFS enabled (such as the VS Code docs repo)
2. Open a modified image diff

**Bug**
Left hand side shows an image load error. Here's the content for a git lfs file we get:

[code]

This works properly when not using git LFS

Does this issue occur when all extensions are disabled?: Yes

[2019-12-09 18:34] #86317 closed

[2019-12-09 18:37] sbatten opened #86613 "css.lint.emptyRules has no effect"
1.  Update the setting to 'error'

:bug: => warnings do not change to errors

[2019-12-09 18:38] roblourens commented on #69335
@dbaeumer I guess I still don't understand the problem exactly, if the LSP library is not using the extension API's `rootPath` directly. Is it just that you need the behavior of your rootPath to match vscode's?

I don't have a good idea of how many language servers extensions are referencing your rootPath, do you know of any especially popular ones which still rely on it?

[2019-12-09 18:43] andrewbranch commented on #72849
Here’s a GIF, might be easier to follow than the series of stills in the OP

![indent](https://user-images.githubusercontent.com/3277153/70462849-982d8200-1a70-11ea-9b45-c94531ed6dc4.gif)

[2019-12-09 18:45] sandy081 commented on #86583
Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/

[2019-12-09 18:48] sandy081 commented on #86496
Please file an issue against that extension that caused it. I suspect it is writing into your settings file.

Regarding the space have you enabled entered layout?

<img width="572" alt="image" src="https://user-images.githubusercontent.com/10746682/70463261-da7cb080-1abc-11ea-8281-e0928c638d0e.png">

[2019-12-09 18:50] roblourens commented on #85617
`.notification-list-item` is 450px. But the 100% in `.notification-offset-helper`'s is being resolved to `460px`. I am comparing it to stable, where `.notification-offset-helper` is based on `450px` and I have no idea why they are different.

[2019-12-09 18:51] sandy081 commented on #86513
It works for me for keybindings editor. Moving it across groups (when tabs are enabled) retain the search filter. I see its not the case with Settings editor.

[2019-12-09 18:52] sandy081 commented on #86565
/needsMoreInfo

[2019-12-09 18:52] roblourens commented on #85617
The extra 10 seems to come from the margin on `.notification-toast` but that margin is also there in stable and it isn't a problem, and I don't know why.

[2019-12-09 18:52] octref commented on #86613
It does for me:

![image](https://user-images.githubusercontent.com/4033249/70463586-03c41f00-1a72-11ea-8336-5ea189d2b417.png)

Are you sure you are not editing a scss/less file? If so you need to configure scss/less.lint rules.

[2019-12-09 18:55] misolori commented on #86310
After looking into this, the transparent border/background is not affecting the grayscale, I added a new icon (plain) on a separate DOM node, and it is also affected:

![image](https://user-images.githubusercontent.com/35271042/70462549-fb6ae480-1a6f-11ea-8b08-e67333d9cfa7.png)

What's interesting is if I play with the positioning, there's a threshold where it will switch from aa to grayscale, so

[2019-12-09 18:55] sandy081 commented on #86575
Looks related to this - https://github.com/microsoft/vscode/issues/57548. If it is related please provide your input there.

[2019-12-09 18:56] octref commented on #86613
Closing since @sbatten had files.association to set `*.css` as `scss` 🤷‍♂

[2019-12-09 18:56] #86613 closed

[2019-12-09 19:01] maziac opened #86684 "Hovering only possible on current "active" file"
Hi,

don't know if this is intended behavior or a bug. If it's intended then please turn this into a feature request.

I'm using the evaluateRequest to be informed about the cursor hovering about some string in the editor.
This is working if the file is the current file being debugged. I.e. the one where the program counter is.
Hovering in other source code files doesn't show any effect. evaluateR

[2019-12-09 19:07] kevball2 opened #86614 "Feedback windows closes on right click"
when entering feedback and then right clicking your feedback window is closed removing your comments. comments are not saved when re-opening the window

[2019-12-09 19:11] kevball2 opened #86615 "Jupyter Notebook not formatting code correctly"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.Launch GettingStartedKeras.ipynb from https://github.com/MicrosoftLearning/Deep-Learning-Explained/tree/master/Module2
2.Run all code blocks in section 2.1
3. Code in following block does not format properly

`for i in range(5, 20, 4):
    plt.imshow(train_images[i], cmap=plt.cm.binary)
    plt.show()
    print('Label = ' + str(train_labels[i

[2019-12-09 19:17] Arlen22 commented on #86484
[code]

[2019-12-09 19:24] octref commented on #85242
Verifier:

- Use https://github.com/microsoft/vscode-extension-samples/tree/master/helloworld-minimal-sample
- Verify on `vscode.window.showInformationMessage`, you get inline code rendered in `--monaco-monospace-font`, which is SF Mono (macOS), Consolas (Windows).
- After

    ![image](https://user-images.githubusercontent.com/4033249/70465640-3839da00-1a76-11ea-8efd-66a1153e1ab6.png)
- Before

[2019-12-09 19:27] blakebuthod opened #86616 "Reduce size of "Compare selected" tab name"
When I compare two files a new tab is opened. That tab typically has a name that's so long it fills up my entire tab bar (screen resolution: 1920x1080) making it difficult to scroll back and forth between tabs. It would be great if it didn't take up my entire tab bar.

Here are some ideas that would accomplish this:

1. Right click the tab > Rename (would be temporary - as in, if you close and reo

[2019-12-09 19:27] romainHainaut commented on #83644
Ok so after looking into the CSS file of the search widget i have fin that the maxheight value was the same has the value clientHeight return. As i dont master CSS i could play with the file to see if it was the same for the height but i assume it is (would be weird if the fonctionnality is diffirent). So i assume it is the same value for all spec.

So i have put the value 24 and commit.
I have de

[2019-12-09 19:33] JojoS62 commented on #37947
I ran into the same problem. I have a project root and some subdirs with own .git. These are shown properly when VSCode starts in the project root.
I run the command 'Git: Initialize Repository' and it still works, the root git is added to the repo list.
Then I close and repoen VSCode and now only the git for the root is shown.
This looks like a problem with the enumeration of the git repos, when

[2019-12-09 19:36] #85242 closed

[2019-12-09 19:41] #86407 closed

[2019-12-09 19:41] mjbvz commented on #86407
Actually it made it in before we forked. Should be in the current insiders (1.41)

[2019-12-09 19:42] mjbvz commented on #86001
Closing as most likely caused by an extension

[2019-12-09 19:42] #86001 closed

[2019-12-09 19:44] mjbvz commented on #86403
@jrieken I know we added a timeout to disposed of the code actions / code lenses. I thought that if the timeout is triggered, it would just result in an invalid command. Do you know why a command could potentially become `undefined`?

[2019-12-09 19:46] mjbvz commented on #85919
@1011178l Can you check to see if disabling the extension fixes the problem for you

@gsavchenko I still can't reproduce this in simple typescript projects with tslint. Can you share a project where this happens. Also, please test using the latest VS Code insiders builds

[2019-12-09 19:47] dimkr commented on #1031
See https://github.com/dimkr/vscodium/releases, I've been able to produce working arm64 builds of 1.40.2! It seems to work OK on my arm64 Chromebook.

The build process is in rough shape and very hacky, but works. Once https://github.com/microsoft/node-native-keymap/pull/16 is merged, I'll be able to clean it up: node-native-keymap insists on building natively, so arm64 builds on x86_64 are contam

[2019-12-09 19:48] mjbvz commented on #86510
That is a good fit for an extension.

The default markdown folding supports folding lists just fine but based on semantic elements. Because `2` to `3` is just part of the same paragraph in markdown, it generally would not make sense to fold that. The same with folding list element `2.`. if you open the markdown preview you'll see that we don't actually parse that as a list

[2019-12-09 19:57] mjbvz commented on #86479
Thanks! Opened https://github.com/microsoft/TypeScript/issues/35591 to track upstream

[2019-12-09 19:57] #86479 closed

[2019-12-09 19:58] dimkr commented on #6442
Please see https://github.com/microsoft/vscode/issues/1031#issuecomment-563404138

[2019-12-09 20:01] RMacfarlane commented on #86614
@kevball2 Can you include your VSCode version and what OS you're using?

[2019-12-09 20:06] urish commented on #11770
I've spent some time trying various things with VSCode dev tools. It seems like running the following two lines of JS code will switch the active document to RTL mode:

[code]

However, there are a few caveats:
1. Cursor will sometimes appear in the wrong place (moving around seems to fix it though)
2. Selection appears in the wrong place
3. The scrollbar goes over the text (it's semi-transparent,

[2019-12-09 20:08] jfacoustic opened #86618 "Resize Pane Shortcut (Mac) Feature Request."
It's my understanding VSCode on Linux has shortcuts to resize editor panes according to the issue below.  Can this feature be enabled by default on Mac?

https://github.com/microsoft/vscode/issues/46100

[2019-12-09 20:14] #84887 closed

[2019-12-09 20:22] voronoipotato commented on #81854
Thank you @headmelted !!! I can and will gracefully accept whatever extension challenges may come.

[2019-12-09 20:22] defrex commented on #83568
FWIW, this happens to me as well. I'm also on Linux. In my experience, it's intermittent and happens mid-coding-session regularly.

[2019-12-09 20:23] DanTup commented on #86403
I've always seen `undefined` commands for these issues - I'm not sure what an invalid command would look like?

Out of interest, what's the drawback to setting the timeout to something much higher (for ex. 1 second)?

It doesn't seem like 1 second extra before cleaning something up is going to make much difference, but it'll make these sorts of races far less likely (esp. when running on slow mach

[2019-12-09 20:29] namtran1501 commented on #37350
maybe i should get IntelliJ too :)

[2019-12-09 20:39] saasforge commented on #86544
Which extension are you talking about?

[2019-12-09 20:39] AdamAlam commented on #85655
I also have this issue, 27" 4K monitor set to 150% scaling.

[2019-12-09 20:39] Beniyam-WD opened #86620 "GitHub is not connecting"
Issue Type: <b>Bug</b>

i won't be able to connect to Git hub?

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6600U CPU @ 2.60GHz (4 x 2808)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabl

[2019-12-09 20:40] Beniyam-WD commented on #86620
basically I won' be able to connect from VS code using terminal ?

[2019-12-09 20:48] cheshirekow commented on #83568
FYI, I did file a bug through the chrome help menu, but I'm pretty sure no human will ever read it. I found http://dev.chromium.org/for-testers/bug-reporting-guidelines so I will probably try to file a bug there as well... once I figure out the correct way to do it.

[2019-12-09 20:49] Arelav commented on #37350
Please stop spamming all subscribers of this ticket with non-related messages.

[2019-12-09 20:50] kevball2 commented on #86614
OS build 19037.1 version 2004
VScode Version - 1.40.2
Python add-in - 2019.11.50794

[2019-12-09 20:51] Syeberman commented on #64533
+1

There should be a `reference-list.visible` flag that behaves like `searchViewletVisible`. `reference-list.isActive` doesn't work as [it's only ever set to `true`](https://github.com/microsoft/vscode-references-view/blob/dce80c6e6c1bd6e5ea233f709e0ad8034642562a/src/extension.ts#L22).

Until we get `reference-list.visible`, I've been able to solve this issue with the following config, which is n

[2019-12-09 20:51] defrex commented on #83568
IMO, it's a little silly to call this a chrome bug. Distributing via Electron means you need to support chrome, warts and all. :woman_shrugging:

[2019-12-09 20:52] RMacfarlane commented on #86614
Thanks! Is this the feedback window you're referring to?
![Screen Shot 2019-12-09 at 12 01 01 PM](https://user-images.githubusercontent.com/3672607/70471741-a71d3000-1a82-11ea-9e39-9b5eabaa0bee.png)

Or something from the Python extension?

[2019-12-09 20:52] kevball2 commented on #86614
@RMacfarlane  that is correct yes.

[2019-12-09 20:53] RMacfarlane commented on #86620
@Beniyam-WD I'm not sure what you're referring to, can you include exact steps of what you are doing? Or a screenshot?

[2019-12-09 20:56] sbatten commented on #86056
this is actually in stable as well, is it intended to merge or not due the large dropdown box in the header?

[2019-12-09 20:58] RMacfarlane commented on #86618
@jfacoustic These commands are also available on Mac, just with different default keybindings than linux:
![Screen Shot 2019-12-09 at 12 57 38 PM](https://user-images.githubusercontent.com/3672607/70472168-7f7a9780-1a83-11ea-81f5-ad65000ea0a1.png)

[2019-12-09 20:58] #86618 closed

[2019-12-09 21:06] 1chriis1 commented on #86521
Will close current issue an re-report it correctly. Thanks @octref

[2019-12-09 21:06] #86521 closed

[2019-12-09 21:14] PierrickI3 opened #86621 "large format change losses folding ranges"
- VSCode Version: 1.40.2
- OS Version: Windows 10 x64 10.0.18362

Steps to Reproduce:

1. Collapse some code
2. Run `Format Document`
3. Collapsed code is unfolded

Code regions do not seem affected. Only code that was manually collapsed.

Does this issue occur when all extensions are disabled?: Yes

Here is a video showing me collapsing some code in 4 different locations, adding tabs to a line an

[2019-12-09 21:45] Wowol commented on #86384
I've checked it locally and it seems to work in my repo:
**Stash** command works like

And **Stash (Include Untracked)** works like:

Can you provide more details, how to reproduce this issue?

About renaming button - let's wait for @joaomoreno for decision :)

[2019-12-09 21:47] jfacoustic commented on #86618
@RMacfarlane Editor panes, not terminal panes.  control + command + arrows in the editor just switches which pane I'm working on.

[2019-12-09 21:47] atlanteh commented on #11770
This looks good, but I'm afraid it's nowhere good enough.. I believe most of us don't really care about setting the editor to start the lines from right. The main issue is writing code that involves both English and RTL language and the words get mixed up

[2019-12-09 21:48] Beniyam-WD commented on #86620
![image](https://user-images.githubusercontent.com/54153242/70475995-c37d9480-1aa3-11ea-9b26-c3c5df007708.png)

[2019-12-09 21:51] Beniyam-WD commented on #86620
Thanks for the prompted response, I was trying to pus my code from VS Code, but I wont be able to connect my git hub repository,

[2019-12-09 21:51] jfacoustic commented on #86618
I guess the terminology is "group" not "pane".  Control-Alt-Arrow is set up to "move Editor into next Group," so I'd imagine this would be "Resize current group."

[2019-12-09 21:56] ShakeelHamiya commented on #86514
I am new at git

[2019-12-09 21:56] Beniyam-WD commented on #86620
I was trying to push my code from VS Code to Git hub, but I won’t be able to connect my git hub repository , I have tried by copying my repository url and on my VS Terminal, no luck

[2019-12-09 21:57] jfacoustic commented on #86618
It sounds like `View: Increase/Decrease current view size` does what I need, although not quite as refined as tmux.

[2019-12-09 22:10] RMacfarlane commented on #86620
Thanks for the screenshot. The documentation [here](https://code.visualstudio.com/Docs/editor/versioncontrol#_git-support) may be helpful - do you have Git version 2.0.0 or greater installed?

[2019-12-09 22:16] Arlen22 commented on #86484
[code]

The name field is obvious and useless and I would just remove the contents or change them to a named reference, but the generic inside options: TouchableFeedbackOptions gives me no information, and I critically need to know what the exact properties are being brought in.

[2019-12-09 22:17] RMacfarlane commented on #86621
@PierrickI3 I'm having trouble reproducing this with the default formatter as described here: https://github.com/microsoft/vscode/issues/54266#issuecomment-421305388

Can you confirm that all extensions are disabled when you see this? Is there a code snippet you can provide that has this behavior?

[2019-12-09 22:31] RMacfarlane commented on #86614
Repro steps:
1. Have `"window.titleBarStyle": "custom"`
2. Right click on the activity bar (or any UI that would bring up a context menu)

Seems to only happen on Windows.

[2019-12-09 22:35] #86615 closed

[2019-12-09 22:35] RMacfarlane commented on #86615
Please reopen this issue on the python extension: https://github.com/Microsoft/vscode-python

[2019-12-09 22:41] ctf0 commented on #86513
u r right, its mostly related to settings now, ticket updated

[2019-12-09 22:45] andrewdherrera opened #86622 "Software update?"
Team, this is my first issue that I am submitting and still currently new to this. I am currently experiencing issues with downloading VSCode for mac. I have attached some screen shots of the issue. Is there something wrong on my end? If so, how do I resolve this? Any and all advice would be much appreciated.
<img width="1246" alt="Screen Shot 2019-12-09 at 4 36 10 PM" src="https://user-images.git

[2019-12-09 22:47] andrewdherrera commented on #86622
Disregard, I just needed to restart my computer. Thank you.

[2019-12-09 22:47] #86622 closed

[2019-12-09 22:58] roblourens commented on #86513
@sandy081 Does the keybindings editor have to persist this manually, because the editor will still have to be recreated in the new group right?

[2019-12-09 23:01] octref opened #86623 "Cannot type over closing parenthesis"
Version: 1.41.0-insider
Commit: bef029a9d21904c0085c4e8ef1335d9c33a28fa4
Date: 2019-12-09T15:40:24.842Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 18.6.0

1. Type `console.log(|)` in a TS file
2. Make completion show up
3. `tab` to select completion
4. `)` enters a new parenthesis 🐛 I expect it to overwrite the closing parenthesis.

I have all ex

[2019-12-09 23:14] roblourens commented on #86485
Please give more details about exactly what you are doing and what you see happening

[2019-12-09 23:15] deepak1556 commented on #86462
https://github.com/electron/electron/pull/21447

[2019-12-09 23:33] jeonniga opened #86624 "i don't know why. because connection is ok on putty"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-12-09 23:35] JacksonKearl commented on #20530
@gjsjohnmurray for the time being, an extension could pretty easily contribute such a command. I can fill in with more details if anyone is interested.

[2019-12-09 23:39] Wowol commented on #86427
I could reproduce, let me look at it and I will try to make a PR soon :)

[2019-12-10 00:07] weinand commented on #86544
Python?
VS Code does not support Python out of the box.

[2019-12-10 00:15] roblourens commented on #69335
Talked to @octref about this and it sounds like the LSP world is different because language servers can just say that they don't support workspace folders, and then they rely on the InitializeParams' rootPath being valid throughout their lifetime. However, that rootPath is still marked as deprecated in the LSP, so shouldn't implementers still know not to depend on it?

Also, I don't really underst

[2019-12-10 00:16] gsavchenko commented on #85919
Hey,

Sorry for the unclear reproduction steps. I believe it has something to do with my project configuration as well because I was not able to reproduce after modifying my project just to have minimal project to reproduce the error. I haven't had time to look into it too much but this is the output of `code-insiders --status`:

[code]

I've created a private repo which I've added you @mjbvz if y

[2019-12-10 00:43] roblourens commented on #85992
In the API call we discussed whether this actually useful. On one hand, it seems that many extensions have reinvented the same thing driven by their own setting. This is a pretty simple API that could save some effort on the part of extension authors.

On the other hand, I am not aware of any request for this that has actually come from the community. It's not that hard to add a setting to set the

[2019-12-10 00:49] chanan opened #86625 "Copying when nothing is selected should not insert anything into the clipboard"
Issue Type: <b>Bug</b>

1. Select something
2. Press Ctrl+C
3. un select everything and make sure nothing is selected
4. Press Ctrl+C
5. Press Ctrl+V

Result:
Nothing gets pasted

Expected Result:
Original text from the first Ctrl+C should be pasted as is true in any other editor

Note:
Pressing Win+V shows the blank entry in the clipboard

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d

[2019-12-10 00:55] lass-0 commented on #85896
no

[2019-12-10 00:56] gsavchenko commented on #85919
Hey,

My apologies on the unclear reproduction steps! I have actually attempted to create a minimal version of my project that causes the issue but ended up not being able to reproduce it afterwards. Unfortunately, I haven't had a chance to narrow down the problem yet but I've uploaded the project to a private repo and invited you to collaborate if you want to check it out @mjbvz .

I am able to r

[2019-12-10 01:18] AlseinX commented on #86585
@octref I clicked "Contact Us" at the bottom side of that page and directed to "Support for business" page, where a support plan is required.

[2019-12-10 01:24] saasforge commented on #86544
Ok, let me ask Python extension community. Thanks!

[2019-12-10 01:30] akashchintha commented on #46505
I badly need this feature. Anyone working on the update or an extension?

[2019-12-10 01:39] goldingdamien commented on #78166
This crashes for me a lot. I think it would be nice to have information on why it crashes and for a way to restart to be easily done. I'm assuming CPU load is the issue for me as my computer's bottleneck is the CPU.

[2019-12-10 01:41] mjbvz commented on #85896
How long to opening a page such as https://marketplace.visualstudio.com/items?itemName=Tyriar.sort-lines from the online marketplace normally take? Any other apps effected?

[2019-12-10 01:42] mjbvz commented on #85896
Also, can you share the complete profile you captured? I want to see which part of the rendering it is stalling on

[2019-12-10 01:43] justinreading commented on #52855
This just happened for as well.

The first I noticed something was wrong was when the pinned app icon on the task bar lost it's icon. When I clicked on the icon to 'launch' the app I was presented a Windows shortcut is broken dialog.

When I searched for Visual Studio Code in Windows search it temporarily display in results, then launched, but then I was presented the same Windows shortcut is brok

[2019-12-10 01:51] binhlt1310 opened #86627 "Remote-SSH: "remote.SSH.path" is an 'Unknown configuration setting' in settings.json"
When developing on a remote machine via the Remote-SSH extension vs code doesn't recognise "remote.SSH.path" is the settings.json: "remote.SSH.path" is an 'Unknown configuration setting" in settings.json

VSCode Version: 1.35.1
OS Version: Windows 7 host
![image](https://user-images.githubusercontent.com/54388461/70488099-f45cd880-1b3a-11ea-822a-2aeed50580f8.png)

[2019-12-10 02:03] biaoG opened #86628 "通过svn update新的代码后，vscode打开的代码文件与实际项目内文件不同"
通过svn update新的代码后，vscode内代码没有更新，点击左侧带菜单栏的刷新按钮也没有用，我push的最新代码，同事那边的vscode内代码也没有更新，但是却发现我们的项目文件夹内的代码却是最新的

[2019-12-10 02:09] #86628 closed

[2019-12-10 02:13] #86241 closed

[2019-12-10 02:14] #85811 closed

[2019-12-10 02:18] JacksonKearl commented on #86241
To verify: run a search that has results in a variety of files (searching in `colorize-fixtures` in vscode works well). Test with and without context `Search Editor: Search Again (with Context)`. When in `with context` mode, each group of contiguous lines should be an independent semantic region (modifying a line in a block affects lines below it in the same block), when searching without context,

[2019-12-10 02:28] tommai78101 commented on #83775
@aninditkarmakar May I ask why it needs to have both "@!" characters? Would it be possible to use 1 character, regardless if it's a hyphen, exclamation mark, or a caret symbol?

[2019-12-10 02:36] sgon00 commented on #71876
@bpasero Dear sir, I kinda disagree on the final decision on this feature request. If this is not supported, what can I do to restore opened editors when I move the project directory location on file system? Thanks a lot.

[2019-12-10 02:39] hello341 commented on #86496
I don't know what Extention it was that caused it.

[2019-12-10 02:56] sgon00 commented on #71876
@kanlukasz I think the "many people" are using Windows OS. Creating files is a common technique in Linux/MacOS/Unix operating systems. For instance, Finder.app in MacOS will create `.DS_Store` on each folder it opened. The current vscode behavior makes users so hard to move their projects or work on different computers at home and office. Btw, vscode is not designed for Windows only.

[2019-12-10 02:59] Bill-Fujimoto opened #86629 "Jupyter Notebook editor hover issue"
Issue Type: <b>Bug</b>

When hovering the mouse over a function in a jupyter notebook:
1.  the documentation does not consistently appear.  The file needs to be closed and reopened to appear.
2.  when documentation does appear, cannot move mouse pointer into the text block to scroll thru the contents, the text block immediately disappears.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d

[2019-12-10 03:03] dilin-MS opened #86630 "Add API to open a folder and a specific set of files in that folder"
* VSCode Version: 1.38.1
* OS Version: Windows_NT x64 10.0.18362

Hi, I am developing a VS Code extension. I would like to use VS Code API to open a specific workspace or folder with a specific file open. I use the below VS Code API to open workspace / folder and then open the specific file.

[code]

The problem is that after open workspace / folder in new window, VS Code will restart and thus not

[2019-12-10 03:03] 20chan opened #86631 "Unable to Search in Marketplace, vscode experiments"
Actually it's dup of #81814 but with more informations.
- VSCode Version:
- OS Version: Windows 10 Pro 18362

Steps to Reproduce:

1. Search anything on marketplace
2. Got `Unable to Search in Marketplace` message.

Does this issue occur when all extensions are disabled?: Yes
Solution: Set `workbench.enableExperiments` to false

---

I opened developer tools and saw what's wrong.
There was error m

[2019-12-10 03:18] szTheory commented on #65452
Workaround for Mac here https://github.com/microsoft/vscode/issues/69315#issuecomment-560408464

[2019-12-10 03:29] zeromsi commented on #86229
Thanks Rob :)

On Fri, Dec 6, 2019 at 11:26 PM Rob Lourens <notifications@github.com>
wrote:

[2019-12-10 03:47] octref commented on #86623
I didn't bisect but before pressing upgrade on my home laptop's Insider, I don't see this happening. So it's one of the commits in the last few days.

Version: 1.41.0-insider
Commit: e7c13723938e42ee5ac402289d7b59be9a727536
Date: 2019-12-05T23:15:44.450Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 17.7.0

[2019-12-10 03:54] Merith-TK opened #86633 "Latest update causes the window to stop responding at random"
VSCode says the window has stopped responding for little to no reason on startup and at  random
![image](https://user-images.githubusercontent.com/10422110/70493609-20d20f80-1abd-11ea-963b-34d32172cb73.png)
![image](https://user-images.githubusercontent.com/10422110/70493806-cbe2c900-1abd-11ea-8b41-d4932f2699f6.png)

- VSCode Version:
[code]
- OS Version:
![image](https://user-images.githubusercon

[2019-12-10 04:00] deepak1556 commented on #80119
@bpasero its because chromium ships additional swiftshader shared library for vulkan backend with this release `libvk_swiftshader.so`. To be fair this backend is experimental, we could disable it and avoid shipping the library but I am not sure if its worth the effort.

[2019-12-10 04:01] Merith-TK commented on #86633
Also noticed that when these issues occure, Memory usage drops from around 300-330mb, to <50mb

[2019-12-10 04:14] #85032 closed

[2019-12-10 05:15] gao1937927097 opened #86634 "终端打不开"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2019-12-10 05:47] CaCTuCaTu4ECKuu commented on #86517
@octref I mean i know about all this stuff. The point is to have one pack of everything without necessity to search all of it, install and check compability with other extension. Sometimes it's a problem too.
Obviously you can make a list of extension, instuction to install and what not to, but there still is no ability to do it all in one click.
Such a thing already was discussed at #49826 and th

[2019-12-10 05:51] CaCTuCaTu4ECKuu commented on #86517
And btw it's a point that periodically you have to switch to different kind of projects and you want a different set of extensions. Sometimes depending of file type (language) sometimes depending of workspace (set of project you working on)

[2019-12-10 05:55] Ilias48rus commented on #86510
Right as a said, the [2] to [3] 's `\br` and `\t` characters will be ignored (yes "2 3" will be rendered, or "`2<<\br>>3`" if you use 2 spaces ending), thats why the folding won't affect the result . But compared to the rendered document that is only for read, it can be usable to separate the paragraph to fold-able lines in editing . And if the most of users won't do so, it doesn't mean that anyon

[2019-12-10 06:00] Ilias48rus commented on #86510
And the statement about lists you've wrote are wrong, [6] is just the part of [5] 's paragraph .

[2019-12-10 06:14] #85934 closed

[2019-12-10 06:19] Ilias48rus commented on #86510
1 of the main reasons why i ask for such folding, is that its more ergonomic to use Markdown for notes and info writing, than plain text files . Because you can check it's rendered version and send parts of it to someone less technical .

And so in such use, for example, you note down a C++ class tree or other code in the .md about some program . Obviously you do not want to render it, so you woul

[2019-12-10 06:20] bpasero commented on #84706
@cpheps can you do this while the developer console is opened in dev tools to see what errors are printed when this happens? I wonder if there is anything in the logs that correlates to this issue.

[2019-12-10 06:23] Xdminsy opened #86635 "Key bindings for the command palette."
Can we add some functions like `selectPrevCommand` or `selectNextCommand` for command palette so that we can bind hotkeys like "ctrl+p" to select the previous command, avoiding the use of arrow keys. Thus we can have a more coherent experience if we are using emacs keymaps.
And add a when rule like `inCommandPalette`,  then we can simulate most readline emacs mode hotkey like `ctrl+h` to backspace

[2019-12-10 06:28] felixvd commented on #43887
@timdeng2324  Yes, that ability was added last year in #43941, but evidently it is too hard to discover. In diff view, you can right-click on newly added or selected lines and "Stage selected ranges". To stage deleted hunks, you unintuitively need to right-click the line *above* the grayed out area.

Your confusion is why #26067 should be implemented.

@tunnij You can copy code if you are not inli

[2019-12-10 06:30] purplecandle commented on #86447
In my [case ](https://i.gyazo.com/1ec768f14a62ea83a4734096d6196a35.mp4)(SCSS), they're grouped by type. Better make it available only for certain file types

[2019-12-10 06:35] ShadowMistressYuko opened #86636 "A line of code disappears upon redo(Ctrl+Y)"
Issue Type: <b>Bug</b>

The line disappears when I try to redo

VS Code version: Code - Insiders 1.41.0-insider (e7c13723938e42ee5ac402289d7b59be9a727536, 2019-12-05T23:18:43.910Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3317U CPU @ 1.70GHz (4 x 1696)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>f

[2019-12-10 06:52] XYYHHKFD opened #86637 "Vscode has been used for a period of time, which makes the system stuck. You can only use it by forcing shutdown and restart the computer"
所需的数据太大，无法直接发送。我
Issue Type: <b>Performance Issue</b>

Vscode has been used for a period of time, which makes the system stuck. You can only use it by forcing shutdown and restart the computer。
 don't know if it's a plug-in problem, but I feel like I can't do without a plug-in before learning and using vscode to develop and make.
My system is win10 1903, 8g memory.

I hope to get a really effectiv

[2019-12-10 06:57] #85617 closed

[2019-12-10 06:57] bpasero commented on #85617
I pushed a change to simply take 450px as the width, I am not sure why it was going to 460 but it should be OK now.

[2019-12-10 06:57] testforstephen commented on #83743
In the latest insider, i see the persisted data breakpoints are being resent to DAP during restarting debug session. Thanks.

But i found another problem about the **verified** icon update.

In Java Debugger, we take async mechanism to verify the breakpoint. For example, in the **setDataBreakpoints** response, i initially return the breakpoint with **verified** attribute being **false**.
[code]

T

[2019-12-10 06:57] #86636 closed

[2019-12-10 07:18] alexandrudima commented on #86623
I cannot reproduce, could you try removing some of your settings? Maybe there's a setting that impacts the edit suggestions do?

[2019-12-10 07:58] gauravmahto-at commented on #86363
@roblourens Hi there .. I tried the above extension on both the stable and insiders (VSCode) builds but I was still not able to hit the breakpoints. :(

[2019-12-10 07:58] gauravmahto-at commented on #86363
Shall we re-open this issue?

[2019-12-10 08:01] 20131807liyu opened #86638 "2"
Issue Type: <b>Bug</b>

1

VS Code version: Code - Insiders 1.41.0-insider (43e3581aa635406ada2d8138d7ee242ddabefc1c, 2019-12-04T05:29:38.104Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8500 CPU @ 3.00GHz (6 x 3000)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d

[2019-12-10 08:12] muuvmuuv commented on #73094
Hey, currently working on natively integrating auto dark mode to VS Code and there we make use of the native browser functionalities, therefore I would use them here too. So no electron, just pure JavaScript, which would allow VS Code for the browser to make use of this new exposed API too:

[code]

[2019-12-10 08:23] DungVA1 opened #86639 "Why we don't have 1 button to expand & collapse all block code ?"
I have some files and it's included a lot of functions. Total 5613 lines now, I won't use scroll by mouse to end of file, my hand has been fatigued. So I always collapse the functions I don't working on it, sometimes that functions auto expands, I have to re-collapse them.

I think we need a button to collapse all of blocks. It will very helpful

[2019-12-10 08:23] othyn commented on #63975
Damn, was hoping there would be something!

[2019-12-10 08:24] tsctao opened #86640 "Undo unicode typing is incorrect"
- VSCode Version: 1.40.2
- OS Version: macOS 10.14.6

Steps to Reproduce:

1. Type `Hello` in the editor
2. Move cursor to begining of the line
3. Type `ดีดีดีดี`
4. Press Ctrl+Z (undo)

Expected behavior: It should only delete `ดีดีดีดี` and remains `Hello`.

Actual behavior: Only `o` left.

![vscode-issue](https://user-images.githubusercontent.com/4986616/70507779-aad2b480-1b5f-11ea-87a5-37b270e

[2019-12-10 08:31] PierrickI3 commented on #86621
Hi @RMacfarlane,

I can confirm that all extensions are disabled (see video as well as screenshot below on the left pane).

Here is a screenshot showing the formatter:

![image](https://user-images.githubusercontent.com/7140338/70509575-4992ed00-1b2f-11ea-9d3a-61031760e521.png)

I created a very small HTML page with some javascript and it does not seem to happen.
However, it still happens on my (l

[2019-12-10 08:32] kk738 commented on #86372
I already tried using the fix from #3451, but it's still not working. Maybe I'm doing something wrong. I installed vs-code via snap install. @TRD-1 Did you get it to work?

[2019-12-10 08:38] guyzyl opened #86641 "Add hide/collapse to editor groups"
relates to #27203

A hide arrow for the split window editor pane to collapse window without closing the tabs, should work similarly to the Activity Bar collapsing mechanism.

[2019-12-10 08:45] chiboreache commented on #12058
This is really annoying as fhell !

[2019-12-10 08:45] joaomoreno commented on #86534
@bpasero The fix has been pushed to `master` and `release/1.41`.

[2019-12-10 08:47] dbaeumer commented on #69335
Actually LSP models the same behavior as the VS Code API does. The `rootPath` is set to the first workspace folder and since the extension host reloaded on reordering of the workspace folders this was always true for the language servers.

The `rootPath` in LSP is deprecated but this doesn't force anyone to move off of it as it didn't force anyone to move off of it in the VS Code API.

The change

[2019-12-10 08:47] joaomoreno commented on #86387
@isidorn This is @alexandrudima

[2019-12-10 08:48] jrieken commented on #86403
Only when the "real" command cannot be looked up. We patch a `$ident` property onto internal command objects and use that for lookup. Unsure if you copy commands somehow so that this information gets lost.

I'd say this needs repro steps first. With LS we have a pretty popular customer of this API command we haven't heard of problems from them.  @DanTup please provide real repo steps and not a vag

[2019-12-10 08:52] urish commented on #11770
Yeah @atlanteh, just a quick PoC. For mixed BiDi editing, there's also Microsoft/monaco-editor#280, which contains a lot of useful information and compares how different code editors handle BiDi (seems like Visual Studio gets it right)

[2019-12-10 08:54] #86534 closed

[2019-12-10 08:56] alexandrudima commented on #86623
@octref The auto closing `)` is overtyped only if the editor inserted it and if your cursor has not left the range between `(` and `)`.

This is in stable since a couple of milestones I think. There is a setting to always overtype `"editor.autoClosingOvertype": "always"`.

[2019-12-10 08:56] chrmarti commented on #85992
@roblourens It's certainly convenient, but it would become more useful if it also had a log object to pass messages to that would then show up in an Output channel and be stored in a log file at the extension's log location. Then we could also have generic UI to open a log file.

I agree the log level alone is easy to replicate.

[2019-12-10 09:01] deimi commented on #84233
@deepak1556  Any updates to this issue?

[2019-12-10 09:02] leo-carmo opened #86642 "Allow customization of titlebar to display extensions statuses, like Vim modes"
[Some other people and I](https://stackoverflow.com/questions/58125341/is-it-possible-to-put-the-value-of-a-config-setting-in-the-vscode-titlebar) need to be able to customize VS Code's titlebar in a way that it displays Vim's current mode. Vim's functionality in Visual Studio Code is provided by [this extension](https://github.com/VSCodeVim/Vim).

It is important to have something like:
`C: curre

[2019-12-10 09:08] PierreTurnbull commented on #86583
It's not a network issue:
![image](https://user-images.githubusercontent.com/33256529/70514780-857c8100-1b34-11ea-951f-3fd6d44fc0c7.png)

I can access https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/Microsoft.VisualStudio.Services.Icons.Default and https://1.1.1.1/dns/ .

- Help -> Toggle Developer Tools -> Console:

![image](https://user-images.gith

[2019-12-10 09:12] IllusionMH commented on #86639
There is <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>P</kbd> and `>Fold all` or `>Fold Level 1` commands. They already have shortcuts and you can reassign them if needed.

Does this solve your problem?

[2019-12-10 09:15] IllusionMH commented on #86638
/needsMoreInfo

[2019-12-10 09:20] Meeeeow opened #86643 "Default formatter not used as default formatter in javascript file"
- VSCode Version: 1.40.2
- OS Version: Windows 10 1909

Steps to Reproduce:

1. Install Extension "esbenp.prettier-vscode"
2. Set `"editor.defaultFormatter": "esbenp.prettier-vscode"` in settings.json
3. Open a new javascript file
4. Execute command "Format document with..." to see result

![image](https://user-images.githubusercontent.com/19658647/70515631-9fd45000-1b70-11ea-935c-2ddcecacc775.png

[2019-12-10 09:22] byehack opened #86644 "suggestion trigger"
https://github.com/microsoft/vscode-python/issues/8790

[2019-12-10 09:35] IllusionMH commented on #86644
It's already supported by VS Code
see https://code.visualstudio.com/updates/v1_28#_semicolon-as-a-commit-character-for-jsts

LS extension should provide list of commit characters for each item. See `commitCharacters` in https://code.visualstudio.com/api/references/vscode-api#CompletionItem

[2019-12-10 09:35] bpasero commented on #86599
I pushed changes to revert back to how it was. I have a feeling that each editor should handle moves and deletes individually, specifically I think `CustomEditorService` should listen to file operations and update accordingly (via `this._register(this.fileService.onAfterOperation(e => this.onFileOperation(e)))`).

Let's put that on the agenda for our sync.

[2019-12-10 09:42] LinAGKar opened #86645 "Opening search box clobbers primary selection"
Issue Type: <b>Bug</b>

On Linux:
1. Highlight something with the mouse, to put it into primary selection
2. Put the cursor on a word in vscode
3. Press ctrl+f
This word the cursor is in will automatically be filled into the search box. However, when it does this, it also puts this word into primary selection, replacing whatever was there prevously.

VS Code version: Code 1.40.2 (f359dd69833dd8800

[2019-12-10 09:45] byehack commented on #86644
how can i use it in settings.json?
i want support ".", "(", "[", "=" on trigger suggestion for python

[2019-12-10 09:53] IllusionMH commented on #86644
Python extension should add these characters for appropriate completion items.
For example completions for `import`, `print` shouldn't be committed with `(`, but `raw_input` or `open` should be.

[2019-12-10 09:55] imanhodjaev commented on #42253
I would appreciate some compact UI mode very much. On 13" laptops it gets messy from time to time and makes it hard to focus on code.

[2019-12-10 09:56] DanTup commented on #86403
Sorry, I thought because it'd come up with CodeLens it might just need a similar fix applying.

It's intermittent so hard to reliably reproduce - but it can easily be forced to occur by making the extension host busy (here I block it for for 100ms repeatedly - which is extreme but easily shows there is a race - and the extension host being busy for 100ms is not far-fetched):

https://github.com/Da

[2019-12-10 09:59] AsafAgranat commented on #60697
Copying the files from the "_" folder into the parent folder (and overwriting whatever files left there) allowed me to launch VS code again, without having to reinstall it. I then checked for update and installed it (made sure that Skype for Business was shut), and this went fine.

[2019-12-10 10:08] bpasero commented on #86109
@solomatov does this work now given https://github.com/microsoft/vscode/pull/86617 is merged?

[2019-12-10 10:19] kk738 commented on #3451
I get it to work with snap like that: https://github.com/microsoft/vscode/issues/86372#issuecomment-563924444

[2019-12-10 10:21] alexandrudima commented on #86592
I think this is implemented well by an extension, there is no clear reason at this time to reimplement this in the core of VS Code.

[2019-12-10 10:21] #86592 closed

[2019-12-10 10:23] jrieken commented on #86447
But only when having no prefix, e.g with your sample, type `g` and it's likely not grouped anymore.

[2019-12-10 10:23] alexandrudima commented on #86387
@dbaeumer This has to do with reconnection, and it indicates that some messages were lost... Do you happen to have some steps?

[2019-12-10 10:27] #86074 closed

[2019-12-10 10:28] h0rd3 opened #86646 "Python snippets not working with Jupyter Notebook (.ipynb) files"
Greetings

A new user snippet is working correctly with the .py files and absolutely not working with .ipynb files.

The snippet is below:

`"Create a new figure":{
		"scope": "python",
		"prefix": "nf",
		"body": [
			"plt.figure(figsize=(9, 9))",
			"",
			"$1",
			"",
			"plt.show()"
		]
	}`

I've also tried editing `files.associations` setting so it now looks like this:

`"files.associations":

[2019-12-10 10:32] hxuanhung commented on #29757
In case anyone wants to use the hack above, on Mac and vscode (1.41.0-insider) file name is changed to `workbench.desktop.main.css`

Open VsCode's package contents folder. It is the folder where you installed VsCode on your machine. Could be different for each operating systems.
In mac i went through this path for the css file:
Your Package Contents/Resources/app/out/vs/workbench/workbench.main.cs

[2019-12-10 10:34] TRD-1 commented on #86372
No, I changed to nomachine and there everything works fine without any hacks (previously I was using VNC viewer).

[2019-12-10 10:34] purplecandle commented on #86447
hmm. Okay. Let's look from the other side. When I'm typing 'overflow" property, I'd like see available values for that property at the top of suggestions list. I can't order suggestions types, only disable. In case I don't know the exact property value name, I should  scroll to them. All over the suggestions right to the 'Values and Enumerations' suggestion group. How can I optimize it?

[2019-12-10 10:37] #85738 closed

[2019-12-10 10:39] #86071 closed

[2019-12-10 10:43] isidorn commented on #86596
Fixed via https://github.com/microsoft/vscode/pull/86598
@connor4312 can you please verify this once the stable build candidate is out? Thanks a lot!

[2019-12-10 10:43] #86596 closed

[2019-12-10 10:51] #86076 closed

[2019-12-10 10:52] jrieken commented on #86646
What does the language indicator in the lower right say? Can try F1 > Insert Snippet and check what snippets are offered then

[2019-12-10 10:53] jrieken commented on #86434
Yes please! We have seen something similar with completion items and also suspected a painting/redraw issue and also didn't understand what was going all. Both use the highlight label...

[2019-12-10 10:56] jrieken commented on #86407
Great - marking as verified because it worked with my testing

[2019-12-10 10:57] ikonovi opened #86648 "Alt+"Right Arrow" doesn't switch me on right hand side tab"
It switches me between window tabs on opposite direction.

[2019-12-10 11:00] #86070 closed

[2019-12-10 11:09] h0rd3 commented on #86646
It basically says nothing, there is none of it.

<img width="1440" alt="Screenshot 2019-12-10 at 14 08 18" src="https://user-images.githubusercontent.com/48713543/70524576-86260f00-1b56-11ea-9dba-02d80a095bd0.png">

It actually doesn't have any insert snippet there too.

<img width="745" alt="Screenshot 2019-12-10 at 14 08 43" src="https://user-images.githubusercontent.com/48713543/70524635-abb318

[2019-12-10 11:12] alexr00 commented on #86064
I agree with all of them except the `Space` trigger. In custom trees will only trigger on enter. Space in used only for expand/collapse.

[2019-12-10 11:16] jrieken commented on #86646
oh, this is from within the notebook and not from a "normal" editor?

[2019-12-10 11:17] byehack commented on #86644
i said them but they said the vscode should do this.

now i cant do these anymore

[2019-12-10 11:17] isidorn commented on #83743
@testforstephen that sounds like an unrelated issue.
Can you only reproduce this with data breakpoints? Or with all breakpoints? Can you please file a new issue and ping me on the issue? Thank you very much!

[2019-12-10 11:19] h0rd3 commented on #86646
It actually happens like that: I am clicking the .ipynb file, it first (for a couple of second) opens as a python file with the cells (see the image) and that it closes for the notebook itself. The process is automatic and I believe I have not ever fixed the settings for it so I feel that is just VSC's feature?
<img width="1098" alt="Screenshot 2019-12-10 at 14 18 03" src="https://user-images.gith

[2019-12-10 11:21] gjsjohnmurray commented on #86648
I think the standard keybindings are these:

![image](https://user-images.githubusercontent.com/6726799/70525146-9205d700-1b3e-11ea-9d45-78b2fc4434f6.png)

So if you have 3 tabs open, then click on the rightmost, then the centre, then the leftmost, then type Alt+Left the focus will move rightwards by one tab. This is as designed; you are moving back and forward through your navigation history.

[2019-12-10 11:22] jrieken commented on #86646
Understood - this is an issue with python extension and something cannot fix on our side

[2019-12-10 11:22] #86646 closed

[2019-12-10 11:24] solomatov commented on #86109
@bpasero I just tried, it worked perfectly. Many thanks for your help!

[2019-12-10 11:30] gjsjohnmurray commented on #86639
Also this extension to add context menu items:

https://marketplace.visualstudio.com/items?itemName=georgejames.thefoldingstuff

[2019-12-10 11:34] andreamoro opened #86649 "Python extension: Pandas Import csv fail in within a Jupyter notebook when file does not contain a full relative path"
- VSCode Version: 1.40.2
- OS Version: 10.14.6 (18G1012

Steps to Reproduce:

1. Import the Pandas
2. Create a dummy csv file in the same folder where the project is
3. Use the read_csv fuction to import the file as pd.read_csv('./file.csv')

Does this issue occur when all extensions are disabled?: Yes

The above works fine in a Jupyter notebook and Lab.

[2019-12-10 11:35] mouse484 opened #86650 "Cannot input with Chrome Extension Google Input Tool"
**monaco-editor version:** 0.18.1
**Browser:** Chrome / Edge β
**OS:** Windows

**Steps or JS usage snippet reproducing the issue:**

Cannot input with [Chrome Extension Google Input Tool](https://chrome.google.com/webstore/detail/google-input-tools/mclkkofklkfljcocdinagocijmpgbhab).
Alphabet can be entered.
Japanese and Chinese etc are impossible

Install the extension and enter in Japanese or Ch

[2019-12-10 11:37] #86327 closed

[2019-12-10 11:51] jrieken commented on #86217
Because they often need to do some async computation before knowing if this event requires followup work. E.g. before renaming a file a language service computes further edits and that's usually async.

I don't think much is wrong here and disagree that this is a sharp knife for evil extensions. Tho, I think is fishy is this

When deleting fails it should not continue. @bpasero is it that the unde

[2019-12-10 11:52] joaomoreno commented on #86427
Great catch, this will go into candidate.

[2019-12-10 11:52] Gruntfuggly opened #86651 "Allow order to be specified in context view/item/context menu"
When adding commands to a view context menu it appears to present them in alphabetical order.
It would be nice to be able to specify the order in a similar way to how it can be specified in the "group" argument.

At the moment, if I add "Move to Top" and "Move to Bottom",  they appear in an illogical order.

[2019-12-10 11:54] hsinyinfu opened #86652 "Different Settings shortcut for different input source"
### Version Information
- VSCode Version: 1.40.2
- OS Version: macOS Mojave 10.14.6

### Steps to Reproduce:
The following steps should be reproduced on macOS.
1. Go to [ System Preferences ] -> [ Keyboard ] -> [ Input Sources ] -> add [ Zhuyin ] in [ Chinese, Traditional ] -> set [ Zhuyin ] as default -> Toggle off the [ Use the 中/英 key to switch to and from ABC] below
2. Switch your input source

[2019-12-10 12:03] ayqy commented on #84588
JSON file is a simple case to reproduce the problem only. As I mentioned above, it's a common scenario:

Users may edit their `.js` files, but extension CAN NOT re-require the new content in time, **even after they shut down their VS Code entirely and reopen**. How scary it is!

Even though I workaround this by delete V8 cache manually, I don't think that's a reasonable solution at all, so file th

[2019-12-10 12:03] umdstu commented on #12058
I'm not sure why people are still complaining about this. It's clear the current team is incapable of this level of development, it's just too difficult for them. Otherwise it would have been done by now. We'll have to wait until they hire, or someone volunteers, one that is competent enough to resolve this aggravating issue. Just don't hold your breath, it may be another 3 years or they're just w

[2019-12-10 12:04] #86109 closed

[2019-12-10 12:04] gjsjohnmurray commented on #86651
/duplicate

Already possible - https://github.com/microsoft/vscode/issues/85838#issuecomment-560293130

[2019-12-10 12:04] #86651 closed

[2019-12-10 12:09] bpasero commented on #86217
@jrieken yes, `IFileService#del` does not throw unless the error is something else than `ENOENT`. This was like that since the beginning before we had file system providers. Are you suggesting to change that to throw?

[2019-12-10 12:14] Nutznieser opened #86654 "Option 'Switch to ... for Multi-Cursor' doesn't reflect the appropriate option in settings.json"
The option `Switch to ... for Multi-Cursor` in the `Selection` menu of the menubar doesn't reflect the appropriate option `editor.multiCursorModifier` in settings.json.

Version: 1.40.2 (user setup)
Date: 2019-11-25T14:54:45.096Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:
1. Go to the menu `Selection` and switc

[2019-12-10 12:27] solidsnail opened #86655 "File duplicate"
**Feature:** Right click on a file => File Duplicate or CTRL+D creates an adjacent copy of the file with the rename field focused.
**Motive:** In order to duplicate a file, the user has to right click on the folder icon which could be hidden at the top of the scrollbar if it contains dozens of files.

[2019-12-10 12:30] 1011178l commented on #85919
Hi, I downgraded to the previous version, and this problem doesn't exist any more. This problem doesn't always existing on my machine, but when it happens, it's too late to run any additional command because there is no memory any more. So I have to downgrade it to continue my work.

[2019-12-10 12:35] z00420691 opened #86656 "Cannot run vscode on Centos 7."
- VSCode Version: 1.40.1
- OS Version:centos 7

Steps to Reproduce:

1. Install vscode via rpm
2. Run code & on terminal with common user & no log info shows.

[2019-12-10 12:36] cpheps commented on #84706
@bpasero I can't reliably replicate it. I posted the logs I saw but I didn't open the console until after it happened (not sure if that matters). It usually happened when pressing the `CMD` key, I'm unsure what triggers it as it hasn't happened in a while.

Sorry that's not much information, let me know if you need more.

[2019-12-10 12:38] bpasero commented on #84706
You mean, pressing CMD+key and clicking on a definition to navigate to it?

[2019-12-10 12:42] RTS007 commented on #84201
Version: 1.40.2
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:54:40.719Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 5.3.12-1-default

I have a vscode set up as a git message writer in gitconfig (`editor = code --wait`). So far so good. But this month in our company we started using the Phabricator with hashtags, and i cannot

[2019-12-10 12:42] cpheps commented on #84706
Usually on the down press of the CMD key before I can do an additional key stroke.

[2019-12-10 12:50] bm-stschneider opened #86657 "Error creating issue"
Jira and Bitbucket (Official)

Issue Type: <b>Bug</b>

Important hints: data was not an array.
I have no idea what is meant with 'data'

Extension version: 2.2.0
VS Code version: Code - Insiders 1.41.0-insider (bef029a9d21904c0085c4e8ef1335d9c33a28fa4, 2019-12-09T15:40:24.842Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i

[2019-12-10 12:57] #86655 closed

[2019-12-10 13:03] jrieken commented on #84588
I don't know why you say that, because that's not how it's implemented and not how it works. We create cached data and save that, if the source file for that cached data has changed in the meantime it will be dropped. That fact that `require` caches is unrelated to all of that and when you say "...workaround this by delete V8 cache manually..." then I don't think that you delete the cached data fi

[2019-12-10 13:06] admmasters commented on #85753
The other key thing to note here is that this is 100% working on the normal channel so whatever change in behaviour has been introduced is recent and unique to the insiders channel.

[2019-12-10 13:06] jrieken commented on #86217
Yeah, that's what I am suggesting. Otherwise I don't know how to prevent the firing of a did-delete-event in the case of failure. Generally, file operations like delete are prone for failure and IMO the caller of such methods should handle those failure (and they are likely the best suited for doing so)

[2019-12-10 13:07] #86601 closed

[2019-12-10 13:07] jrieken commented on #86601
Adding verified because of https://github.com/microsoft/vscode/pull/86609#issuecomment-564005777

[2019-12-10 13:10] solomatov commented on #86557
I tried it on the master version, and it doesn't reproduces there. So it's either fixed, or caused by one of the extension I use, though, I use nothing but the standard set + tslint + nightly typescript.

[2019-12-10 13:12] pavelloz opened #86658 "Impossible to copy extension description"
A lot of extensions have configuration code. It is extremely annoying that since some version ago we are unable to copy anything from that pane, mouse or keyboard.

[code]

Steps to reproduce:

* Go to extension description
* Try to copy something

Video: https://youtu.be/lhMmpawfTQY

[2019-12-10 13:13] alexr00 commented on #85839
I think there's nothing we can do about this for winpty. The terminal sees that as three lines.
For conpty, I'm seeing this come through as 3 lines as well:
[code]
@Tyriar  to confirm.

[2019-12-10 13:15] alexr00 commented on #85501
@tomsaunders-code do you have some sample code a repo I could clone to make testing/verifying easier?

[2019-12-10 13:26] ayqy commented on #84588
Actually it is. The problem gone after deleting require cache:

[code]

And I respect the new cache mechanism, the key is it breaks these extensions now. Could you please follow the reproduce steps above and have a look at what happened, then from a extension's point of view to think about this ?

P.S.More clearly, `requireUncached` is not working if there are deep `require()`s, so we iterates V8'

[2019-12-10 13:27] isidorn commented on #86454
Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/
What is the project file preview. Can you attach a screenshot?

[2019-12-10 13:28] #86573 closed

[2019-12-10 13:29] sandy081 commented on #86496
Can you please disable all extensions and let us know if you can still reproduce it.

[2019-12-10 13:30] tommck opened #86660 "TypeScript fails to load w/ git diff view"
Issue Type: <b>Bug</b>

Whenever I'm viewing a diff of TypeScript code, the TS extension fails and I get the "failed 5 times message" repeatedly.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-2680 v4 @ 2.40GHz (4

[2019-12-10 13:31] jrieken commented on #84588
Unsure what you mean - we use cached data since couple of years already, for extensions I believe it's two years, for the rest of VS Code since much longer. Also, it is unrelated to `require` and how that caches. Your uncache trick seems legit but I don't understand how this is related to v8-cached data and would believe that in plain node you have the same problem.

[2019-12-10 13:36] sandy081 commented on #86513
Have options persisted in your editor input and update them.

https://github.com/microsoft/vscode/blob/91cf906e108d4544cb6cf99a4c4619604a60e06b/src/vs/workbench/services/preferences/common/preferencesEditorInput.ts#L63

[2019-12-10 13:38] alexdima commented on #81574
@mjbvz Can you please regenerate the list?

[2019-12-10 13:41] stefan-lacatus opened #86661 "Javascript field completion issue"
monaco-editor version: 0.10.1
Browser: All
OS: All
Steps or JS usage snippet reproducing the issue:
Completions of fields with dot in their name is somewhat broken.
How to reproduce:

1. You have the following object: `let x = { "foo.bar": "test" };`
2. Typing in `x["fo]` and pressing ctrl+space, and then selecting `foo.bar` generates the expected result
3. Typing in `x["foo.b` and pressing ctrl+s

[2019-12-10 13:45] ayqy commented on #84588
Exactly, we can not require new module content if there's require cache in Node.js. But what if I exit and start a new Node.js process, it should require fresh module file, right ?

However, at extension runtime:

And it seems these cache introduced several month ago, the strong cache after shut down does not exist on v1.28.0 as far as I know.

[2019-12-10 13:46] DeltaRazero opened #86662 "Tree Guide Indents not showing in latest Insiders (1.41)"
Tree guide indents will not show up at all in the latest insider build, regardless of always enabled or show on hover.

[code]

Does this issue occur when all extensions are disabled?: Yes

[2019-12-10 13:50] ayqy commented on #84588
FYI. https://github.com/microsoft/vscode/commit/fef6ca7c6d1d33e53b881fb73505bf818af8dcae

[2019-12-10 13:52] sandy081 commented on #86056
Yes you are right about stable but it seems this got changed in current release to merge into title area

@isidorn FYI

[2019-12-10 13:54] alexr00 commented on #85753
Can you share your settings.json?

[2019-12-10 13:57] Gruntfuggly commented on #86651
Thanks! I didn't realise I could add my own groups - I was under the impression that adding the group attribute made the item an inline button, but I can see now that is just a special case when using "group":"inline".

[2019-12-10 14:00] sandy081 opened #86663 "Remove dependency of ext host output service in ext host log service"
ExthostLogService depends on ExtHostOutputService to register log channel for extension host. This is causing ExtHostOutputService not to depend on ExthostLogService for logging.

Remove this dependency by extract contributing log channel as a separate contribution.

[2019-12-10 14:04] #86663 closed

[2019-12-10 14:04] levrik commented on #85592
Just got a new Surface Book 2 at work and that was one of the first things I noticed.
Doesn't happen on the internal screen but on an external Dell one with high DPI.

[2019-12-10 14:05] IllusionMH commented on #86662
Looks like elements are there, but have `border-left: 1px solid transparent;`

[2019-12-10 14:07] hawezo opened #86664 "Find/Replace sometimes replace the whole file"
When using find/replace, sometimes a file get replaced with the content of another place, for no apparent reason. See details below.

**Version**
- VSCode Version: 1.40.2
- OS Version: W10.0.17763

![](https://i.imgur.com/FkcYGJu.png)

**Steps to Reproduce**

1. Use find to find all occurences of something, without option.
2. Replace it with anything.
3. Sometimes, the whole file is replaced by an

[2019-12-10 14:34] #86587 closed

[2019-12-10 14:36] isidorn commented on #86056
We should merge the view in the debug viewlet if there is only one. Thanks

[2019-12-10 14:41] lopez2041 opened #86666 "very tired for make scroll on tab"
Issue Type: <b>Feature Request</b>

when i have many tab open , some are hide, and it is dificult make scroll, also the scroll bar is very thin, please do every tab visible ever, please!

VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.18362

[2019-12-10 14:41] gjsjohnmurray commented on #86657
@bm-stschneider an issue with VS Code's Issue Reporter (#73515) causes it to raise some extension-related issue reports here rather than in the extension's own project. This looks like one of those events. If so, please post your issue in the correct place (see extension's doc for a link) and close this one.

[2019-12-10 14:41] tomerm opened #86667 "Support for RTL languages (such as Arabic / Hebrew / Persian etc.)"
My name is Tomer Mahlin. I lead a development team in IBM named Bidi Development Lab. We are specializing (for more than 20 years) in development of support for languages with bidirectional scripts (or "bidi lang." for short) .

We recently ran a sniff assessment on Monaco capabilities with respect to bidi lang. display. We believe there are several functional areas which require improvements (ple

[2019-12-10 14:43] isidorn commented on #86342
If I use the 0.95 opacity in light theme that completely defeats the purpose of making this not so much in the users face. MIght as well not use opacity then.
0.65 in dark could work.  0.65 works in light also.
For now going with 0.65 in both themes until somebody complains.

[2019-12-10 14:43] gjsjohnmurray commented on #86666
Did you try `"workbench.editor.tabSizing": "shrink"` ?

[2019-12-10 14:46] aymericbouzy opened #86668 "Git : suggest stashing changes when switching branch"
On GitHub Desktop, when you switch branch, if you have uncommited changes, a prompt will suggest to stash them. When you switch back to the branch, you can restore these uncommited changes in one click. That means that switching branch is never an effort anymore :

* You need to quickly check something on the master branch? Just switch, your current state will be restored when you come back.
* You

[2019-12-10 14:47] bpasero commented on #84706
To clarify:
* you move mouse over a word
* you press CMD
* you release CMD
=> editor goes blank?

[2019-12-10 14:47] gjsjohnmurray commented on #86662
/confirm this is a regression in 1.41.

@sbatten should this be tagged as a candidate for fixing before release?

[2019-12-10 14:48] bpasero commented on #86217
Well the alternative solution would be what I suggested earlier: the text file service needs to validate the state of files after the various potentially long running events have been fired. E.g.:
* delete: check if file got deleted meanwhile and then ignore operation
* move: same?
* copy: same I guess

[2019-12-10 14:48] #86465 closed

[2019-12-10 14:49] isidorn commented on #86465
Went with the following. Decided on `Evaluate in Debug Console` to give more clarity and context

![Screenshot 2019-12-10 at 15 48 51](https://user-images.githubusercontent.com/1926584/70539903-9c3acc00-1b64-11ea-9b47-7bd2a4519cb8.png)

[2019-12-10 14:49] Beniyam-WD commented on #86620
Thank you, but i am using online version,  and i will see the documentation.

[2019-12-10 14:51] chrmarti opened #86669 "Bot command to remove initial labels assigned by bot"
_Off-topic: @chrmarti maybe it make sense to add bot command that will allow to remove initial labels assigned by bot? Currently many issues has `integrated-terminal` assigned when it is not related_

_Originally posted by @IllusionMH in https://github.com/microsoft/vscode/issues/86362#issuecomment-562079832_

[2019-12-10 14:52] hannibal90 opened #86670 "VS Code snippets do not work with Jupyter (.ipynb) files"
I have started using VS Code with my Jupyter notebook files. However I have noticed that my existing Python snippets do not work within VS Code's implementation of Jupyter. Initially I thought it was because my snippets are specifically for .py files, but even after adding my snippet code to the global snippet settings JSON I still can't use them in any .ipynb files. They work with all other file

[2019-12-10 14:54] cpheps commented on #84706
So it's

- mouse over a word
- press CMD
  => editor goes blank

[2019-12-10 14:58] gjsjohnmurray commented on #86658
See #65310

I'm surprised that you can't copy using the keyboard. What key sequence are you using? What command(s) does your Keyboard Shortcuts page show that bound to?

[2019-12-10 15:04] isidorn commented on #86268
For this we would need to introduce the `openEditorsService`.
The `openEditorsView` would return the context only if it is focused.
If it does not return any context, then the command could ask the `explorerService` for the context.

This should be done when we do some restructuring of the open editors view. Will not touch it now -> backlog.

[2019-12-10 15:05] tfrijsewijk commented on #12622
Yeah, right.. 🙄

[2019-12-10 15:06] chrmarti commented on #86427
Reopening, the PR is not merged yet.

[2019-12-10 15:13] eyelidlessness commented on #81120
I just encountered this and thought something had seriously broken my VSCode install or gotten into some kind of bad system-wide state. It persisted after a relaunch. It was extremely alarming. It's easy to miss that I've inadvertently pressed caps lock if my finger is obscuring the caps lock light.

I'm reasonably certain **all** native Mac keyboard shortcuts are case-insensitive. But this is eve

[2019-12-10 15:23] #86445 closed

[2019-12-10 15:28] bpasero commented on #84706
@cpheps and then when this happens exactly is there any output in the developer console?

[2019-12-10 15:28] isidorn commented on #86662
I am investigating when this broke exactly..
@DeltaRazero if you know that it worked with some previous insiders do tell me.

[2019-12-10 15:33] isidorn commented on #86662
@IllusionMH You are correct that the `trasnparent` color is the issue [here](https://github.com/Microsoft/vscode/blob/63fd0dbc8b49bd5fd493e378615950d69665f31e/src/vs/base/browser/ui/tree/media/tree.css#L29). However we always had that code. I believe this indent guides can be styled, and that styling got broke. Investigating more

fyi @misolori

[2019-12-10 15:38] cpheps commented on #84706
This is the output I captured I'm not sure if it's related or not:

[code]

[2019-12-10 15:46] isidorn commented on #86662
I am suspecting this commit https://github.com/microsoft/vscode/commit/75a778d9217f0bb815e4418dd1da4c6bb84ef1c0

Investingating more...

[2019-12-10 15:51] thomastmc commented on #12622
I agree. If you really need to do something, it's more of a waste of time to use VS Code than simply to load up VS Studio. It's better than Notepad though.

[2019-12-10 15:53] sbatten commented on #86056
fixed, thanks

[2019-12-10 15:53] #86056 closed

[2019-12-10 15:56] Aarbel commented on #46505
@bpasero @joaomoreno  @jrieken @mjbvz any news from your team ?

[2019-12-10 15:57] isidorn commented on #86662
Ok found a fix, creating a PR.

[2019-12-10 15:57] bpasero commented on #84706
@alexdima @jrieken @rebornix any idea why the editor might turn blank when we trigger preview hover? Not sure if the stack in https://github.com/microsoft/vscode/issues/84706#issuecomment-564091654 could be related.

[2019-12-10 15:57] bpasero commented on #84706
@cpheps can you record a screencast possibly?

[2019-12-10 15:57] ent3r commented on #43188
+1; Make this happen please!

[2019-12-10 15:59] misolori commented on #86342
I agree that it doesn't look great on light, but 0.65 on light would still fail the color contrast ratio:

<img width="50%" src="https://user-images.githubusercontent.com/35271042/70545608-b489f700-1b22-11ea-82d2-1ac4d70206ea.png">

Re-opening since it doesn't fix the issue in Light.

[2019-12-10 16:05] sandy081 opened #86676 "Recommend extensions for resources/files with supported schemes only"
Follow up from pr #86653 and #86674

With file system provider support, extensions can register fsp for a scheme. Sometimes it is unwanted to trigger recommendations on such file systems.

[2019-12-10 16:05] cpheps commented on #84706
I can't reliably reproduce it, I do the preview hover/declaration jump multiple times a day and only once in a while does this issue happen. I'll try to trigger it.

[2019-12-10 16:07] #86427 closed

[2019-12-10 16:08] sandy081 commented on #86427
Follow up issue - https://github.com/microsoft/vscode/issues/86676

[2019-12-10 16:09] Wowol commented on #86427
What about [this](https://github.com/microsoft/vscode/commit/794330fb6b56311876daf9dce386e7859782030a) commit into master? Do we want it to stay there?

[2019-12-10 16:09] sandy081 commented on #86427
Steps to verify:

- Start with fresh user data and extensions dir
- Open any git repo
- Open any file in the repo
- Make sure recommendations pop up for `.git` files is **not** shown

[2019-12-10 16:09] youurayy commented on #12058
The saving of the layout currently does happen when the editor is quit through File->Exit.
The cheapest way would be to add a 1 minute timer that would be calling this same layout-saving code.
Ideally this would be done by someone familiar with the codebase enough to know if that can collide with extensions, etc.
But in principle it should be really easy.
The problem is that this Issue is buried u

[2019-12-10 16:10] sandy081 commented on #86427
No, I will merge into master also because this impacts our insiders.

[2019-12-10 16:11] octref commented on #86517
Please upvote https://github.com/microsoft/vscode/issues/57548

[2019-12-10 16:14] bpasero commented on #84706
You just said that this is not related to jumping but just hovering??

[2019-12-10 16:18] octref commented on #86623
@alexdima This makes sense, but quite commonly I make a function to include an extra parameter and need to move into the function calls to add that parameter.

`"editor.autoClosingOvertype": "always"` works fine for me. Thanks!

[2019-12-10 16:18] #86623 closed

[2019-12-10 16:26] Spinofis opened #86677 "Syntax colouring"
Issue Type: <b>Bug</b>

Syntax coloring for type script doesnt work.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d

[2019-12-10 16:26] sandy081 opened #86678 "Support synchronising Snippets"
Support synchronising user snippets

[2019-12-10 16:27] cpheps commented on #84706
Sorry all I know is usually when I go to do a declaration jump on the CMD down press the editor goes blank. It happens so randomly it's hard to pin point what caused it.

[2019-12-10 16:27] sandy081 opened #86679 "Support synchronising global state"
Support synchronising global state

- locale (display language)
- other UI state (activity bar icons, status bar entries, views layout, donotaskagain options...)

[2019-12-10 16:28] joaomoreno opened #86680 "Tree: Improve common stylesheet"
The current list common stylesheet only includes list styles. It should include tree styles as well: `treeIndentGuidesStroke` is the only one for now.

https://github.com/microsoft/vscode/pull/86675 should be reverted once this is fixed.

[2019-12-10 16:30] sandy081 opened #86681 "Provide a way to access conflicting settings"
Provide a way to access conflicting settings so that they can be shown in Settings Editor.

It is needed for #84431

[2019-12-10 16:35] sandy081 commented on #86676
I am hardcoding the supported schemas to

[code]

[2019-12-10 16:41] rebornix commented on #86670
@hannibal90 we don't have native notebook support yet in VS Code, I suppose you are using Python extension which opens the notebook in a webview? If so, right now they are using a standalone monaco editor in the webview, which doesn't have access to the snippet service in VS Code.

[2019-12-10 16:53] evangunawan opened #86682 "vscode exploration: intelliSense / suggestion box is not positioned normally."
- VSCode Version:
Version: 1.41.0-exploration (system setup)
Commit: 22c3db00ec057fecf0144c4c7f8c6bc6cb60e5d6
Date: 2019-12-03T21:30:12.474Z
Electron: 7.1.3
Chrome: 78.0.3904.126
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19035

- OS Version:
Windows version 2004 (OS Build 19035.1) Insider build - fast.

Steps to Reproduce:

1. Open Vscode exploration
2. Type something, ctrl

[2019-12-10 17:03] duckimann opened #86683 "Let user define custom "suggestions" for IntelliSense"
I've created a [suggestion file](https://github.com/duckimann/IntelliSense_Hints_Chrome/blob/master/index.d.ts) for who's writing Chrome Extension, but I couldn't add it into IntelliSense (See how I add it in file "install.bat").

So I just want to a feature that lets the user add custom suggestions into IntelliSense 'cause there are none of library/syntax suggestions for those API.

[2019-12-10 17:07] hannibal90 commented on #86670
Yes, I am using the Python extension. I believe it is using monaco:

![VSCode Jupyter Snippet #86670](https://user-images.githubusercontent.com/34248668/70551385-718d4b00-1b45-11ea-9059-a8fad6309825.PNG)

Do you know if there are any plans to add this in the future?

[2019-12-10 17:07] weinand commented on #86684
No, the `evaluate` request is not "called from the debug adapter protocol".
`evaluate` is **part** of the protocol and it is "called from a client".
Since I assume that this client is VS Code, I've transferred the issue to the VS Code repo.

[2019-12-10 17:08] IllusionMH commented on #86682
Most like duplicate of #85313 which was already fixed in Insiders, but I'm not sure if it is in Exploration builds.

[2019-12-10 17:15] 10lk commented on #86607
It worked fine!
The error disappeared when "Desktop mode" was turned off.

[2019-12-10 17:15] #86607 closed

[2019-12-10 17:18] #86629 closed

[2019-12-10 17:19] RMacfarlane commented on #86629
Please reopen this issue on the Python extension

[2019-12-10 17:19] #86676 closed

[2019-12-10 17:23] #86634 closed

[2019-12-10 17:23] andreamoro opened #86685 "Markdown headers are not rendered when more than one header is in a given cell"
- VSCode Version: 1.40.2
- OS Version:  10.14.6 (18G1012

Steps to Reproduce:

1. Add the following content in a cell

[code]

2. Change the content to Markdown
3. Render the cell

Does this issue occur when all extensions are disabled?: Yes

[2019-12-10 17:24] #86638 closed

[2019-12-10 17:25] RMacfarlane commented on #86639
Closing since there are available solutions to this problem as described above.

[2019-12-10 17:25] #86639 closed

[2019-12-10 17:27] #86670 closed

[2019-12-10 17:27] IllusionMH commented on #86683
If you mean custom suggestions into IntelliSense based on `.d.ts` files than users can add your file into their repo and it will be used automatically (if it won't be in `exclude`).
Probably it can be achieved with release as npm package and `typeRoots` (see [docs](http://www.typescriptlang.org/docs/handbook/tsconfig-json.html#types-typeroots-and-types_))

So it looks like it can be solved with pr

[2019-12-10 17:29] #86648 closed

[2019-12-10 17:30] VTGroupGitHub commented on #41309
Maybe if there are enough complaints, this will change.  It seems to be another case of "we know better than you do", which I've found that a lot with MSFT products.  I just removed VSC and downloaded Notepad++.

[2019-12-10 17:30] RMacfarlane commented on #86644
Closing since the Python extension has reopened the original issue.

[2019-12-10 17:30] #86644 closed

[2019-12-10 17:31] KHMANJUNATH commented on #86664
I think you have searched for a directory by typing app/support\. Hence the file present in one directory is getting replaced by the file present in another directory

[2019-12-10 17:31] #86649 closed

[2019-12-10 17:31] RMacfarlane commented on #86649
Please reopen on the Python extension

[2019-12-10 17:32] #86657 closed

[2019-12-10 17:33] octref opened #86686 "Indicator should show even before contributed treeview is loaded"
Version: 1.41.0-insider
Commit: bef029a9d21904c0085c4e8ef1335d9c33a28fa4
Date: 2019-12-09T15:40:24.842Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Darwin x64 17.7.0

---

- Install GH PR extension
- Reload window
- Click onto it
- I expect the indicator to focus on it before it even loads, but currently it doesn't even show the indicator after loading

![bu

[2019-12-10 17:34] andreamoro opened #86687 "Search in content doesn't work against a Jupyter Notebook file"
VSCode Version: 1.40.2
OS Version: 10.14.6 (18G1012

Steps to Reproduce:

1. Open an existing or create a new Jupyter file
2. Hit Command + F
3. Nothing happens and no search is doable even by attempting to access to the feature via the navigation menu.

Does this issue occur when all extensions are disabled?: Yes/No

[2019-12-10 17:34] IllusionMH commented on #86685
/needsMoreInfo

Could you please clarify what cell to you mean?
If it's cell in Jupyter notebook then this issue should be reported in Python extension repo.

[2019-12-10 17:35] weinand commented on #83421
There is now a SignService without a dependency on vsda.

[2019-12-10 17:35] IllusionMH commented on #86686
Looks like wrong gif

[2019-12-10 17:36] jrieken commented on #84706
Both errors [shown above happen](https://github.com/microsoft/vscode/issues/84706#issuecomment-564091654) on the extension host process, not the renderer. Therefore I doubt that they have something to do with this, the first error is about the go extension providing invalid outline data, the second is more interesting because it means documents & editors between the renderer and extension host are

[2019-12-10 17:38] RMacfarlane commented on #86677
@Spinofis Can you please provide some example code? I'm not able to reproduce this.

[2019-12-10 17:40] octref commented on #86686
@IllusionMH You are absolutely right! Sorry 😅

[2019-12-10 17:48] RMacfarlane commented on #86625
Please add `"editor.emptySelectionClipboard": false` to your settings as described here: https://github.com/Microsoft/vscode/issues/11112

[2019-12-10 17:48] #86625 closed

[2019-12-10 17:52] RMacfarlane commented on #86627
@binhlt1310 What version of the Remote-SSH extension are you using? Please try upgrading VSCode so that the extension will upgrade.

[2019-12-10 17:56] RMacfarlane commented on #86633
@Merith-TK Did this only start happening with the most recent VSCode update? Does this happen only for particular projects, or anything you have open?

[2019-12-10 17:57] RMacfarlane commented on #86637
@XYYHHKFD Can you please follow our [Performance Issues guide](https://github.com/Microsoft/vscode/wiki/Performance-Issues) to help diagnose the problem?

[2019-12-10 18:04] #86682 closed

[2019-12-10 18:12] andreamoro commented on #86649
The Python extension has been installed freshly this morning after I've seen a video which was mentioning the Jupyter notebook support as a new feature introduced in November.

I have of course opened the module with that extension. In saying all the extension disabled, I meant anything else other than this.

[2019-12-10 18:14] RMacfarlane commented on #86649
Since this is a problem with the Python extension, please open the issue there: https://github.com/Microsoft/vscode-python

[2019-12-10 18:15] andreamoro commented on #86685
@IllusionMH a Jupyter notebook is made by "cells", which kind of isolate codes. Cells can also host markdown content.
Please see here for the reference
https://jupyter-notebook.readthedocs.io/en/stable/notebook.html#structure-of-a-notebook-document

[2019-12-10 18:21] IllusionMH commented on #86687
/duplicate of #82584

[2019-12-10 18:21] #86687 closed

[2019-12-10 18:22] IllusionMH commented on #86685
/causedByExtension

Please fill in this issue against Python extension: https://github.com/microsoft/vscode-python/issues

[2019-12-10 18:23] #86685 closed

[2019-12-10 18:24] rmoodySIS commented on #66982
The issue I have is that it seems as though the problems don't clear out properly in the first place. For example, when I create a .soql file, I usually start with .sql so I can be notified of the usual sql errors, but I switch back to .soql when I save so it's not flagging things like "NEXT_N_DAYS" that _are_ supported by .soql and not .sql.

The issue for me is that the sql problems persist even

[2019-12-10 18:24] Spinofis commented on #86677
Syntax has only two colours, white and blue. There was more of them.

![image](https://user-images.githubusercontent.com/26433062/70557009-48d77680-1b82-11ea-9ce2-8e20577355a4.png)

[2019-12-10 18:24] RMacfarlane commented on #86656
@z00420691 What is the result of running `code`? Does the window still open? Can you try `code --verbose`? Have you been able to run other versions of VSCode?

[2019-12-10 18:26] RMacfarlane commented on #86677
@Spinofis Can you check what theme you're using? The `Dark (Visual Studio)` theme looks similar to this, whereas `Dark+ (default dark)` has more colors

[2019-12-10 18:46] Merith-TK commented on #86633
It started with the most recent update yes. It occurs at random. i use a few extensions and develop golang
my workspace is a mounted Samba share. i can give you logs in a few hours once im out of school.

[2019-12-10 18:58] hairlesshobo commented on #6328
Just curious if there is any update on this? Would be great to have to clean up the tree view!

[2019-12-10 19:31] eamodio commented on #85992
@roblourens I'm really not sure -- but I don't think so. On one hand it is nice for users to only need to toggle one setting, but at the same time, do we really want logging toggled on for everything because I need GitLens logs? Also, GitLens in `debug`/`verbose` levels logs A LOT and I would be worried about perf impact if 1 toggle causing everything to log like mad.

IMO, it would be really nice

[2019-12-10 19:34] #86683 closed

[2019-12-10 19:34] mjbvz commented on #86660
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2019-12-10 19:44] #86654 closed

[2019-12-10 19:44] sbatten commented on #86654
fyi @alexdima

[2019-12-10 19:45] joseramos1131 opened #86688 "QA tester"
Issue Type: <b>Bug</b>

Unable to do a git pull command ....i get this error

awsprocesscreds.saml.SAMLError: Received a non-200 response (401) when  making a request

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-560

[2019-12-10 19:54] sean-mcmanus commented on #85793
@jrieken Our C/C++ extension shows "base::sub" syntax when that is what is used in the code -- C++ allows class method definitions to be defined outside of the class itself. The "base::" part may not even be defined in the file at all, so there would be no symbol/type for it in the file, so clicking on it in the Outline view wouldn't really make sense unless we created some artificial placeholder

[2019-12-10 19:56] #86504 closed

[2019-12-10 19:57] mjbvz commented on #86504
This ended up being implemented as a single: `editor.action.customEditor.toggle` command

[2019-12-10 20:01] mjbvz commented on #85707
@octref Can you please share a link to the code that implements this feature for html?

[2019-12-10 20:08] sometingk opened #86689 "Launch from wsl does not finish loading exetensions"
Issue Type: <b>Bug</b>

go into vs code click on the connect to remote select distro.  Choose the folder I work out of and it loads like normal, however git repo is not found, terminal just says starting. None of my extensions work. The same happens if from wsl I do a 'code .' command

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Win

[2019-12-10 20:09] #86677 closed

[2019-12-10 20:09] Spinofis commented on #86677
its dark+

[2019-12-10 20:12] bitttttten opened #86690 "Auto import does not work when in Live Share"
- VSCode Version: 1.40.2
- OS Version: Mac OS 10.14.6

Steps to Reproduce:

1. Join or Start a Live Share session.
2. Note that the auto imports does not work (the screenshot below usually says "Import 'useStaticQuery' from 'gatsby'".

![Screenshot 2019-12-10 at 21 11 07](https://user-images.githubusercontent.com/19930241/70565087-acb56b80-1b91-11ea-81bc-7de271d20dfb.png)

Does this issue occur wh

[2019-12-10 20:15] pavangayakwad opened #86691 "Font rendering issue persists on Windows (1.41.0-insider Build)"
Issue Type: <b>Bug</b>

Tried insider build and the Font rendering issue still persist. Please check.

![image](https://user-images.githubusercontent.com/1834890/70565303-cbc6f400-1bb7-11ea-95fb-ebcb9b0e705d.png)

Version: 1.41.0-insider (user setup)
Commit: 455d8f73cd7c73285fba70ab039a26279f19bb57
Date: 2019-12-10T12:59:54.138Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-

[2019-12-10 20:32] jryans commented on #84195
This appears to be regression upstream with Electron. I have submitted https://github.com/electron/electron/pull/21462 with a potential fix, so hopefully that can land, be backported, and then we can update VS Code with the fixed version.

To summarise the problem, Electron's `AtomNSWindow` [implements](https://github.com/electron/electron/blob/a6d142a112ccc0cecd33c83ff59479f4485614ba/shell/browse

[2019-12-10 20:33] hello341 commented on #86496
I tried that already and it stayed the same. By the way, is blue the default color of the activity bar? because when I installed vs code, it was dark grey. I also tried using different themes but the blue top bar and activity bar stayed the same unlike before when it changed based on the theme. It was a extension that I found in themes, and I'm pretty sure it had no images that's all I know about

[2019-12-10 20:39] bmewburn opened #86692 "Hint level diagnostics tagged as deprecated only show strikeout on first few characters"
As shown in the screenshots. If a hint level diagnostic is tagged as deprecated only the first few characters are struck out. If the diagnostic is at information level then the full range is struck out.

As a comparison, hint level diagnostics tagged as unnecessary are shown too which fades the full range.

![Screenshot from 2019-12-11 07-29-30](https://user-images.githubusercontent.com/5885195/70

[2019-12-10 20:47] patoezequiel opened #86693 "Can't close suggestions by pressing ESC anymore in TypeScript"
Issue Type: <b>Bug</b>

1. In a TypeScript file, code until the editor opens a tooltip with suggestions.
2. The keyboard focus is now inside the suggestions box, press ESC to close the box.

Expected behavior: The keyboard focus goes back the to the code editor where I left it.

Actual behavior: The keyboard focus stays trapped within the suggestions box and doesn't close until I manually click ou

[2019-12-10 20:50] LunaticProgrammer commented on #60697
I somehow solved this issue by going inside the "_" folder and making a shortcut of "code.exe" and using it as goto.

[2019-12-10 21:01] mjbvz commented on #86690
Please provide example code that demonstrates this issue

[2019-12-10 21:03] gmsetta opened #86694 "VSC e PUSH"
Issue Type: <b>Bug</b>

Não volto mais a utilizar. Msg de erro do PHP aparece toda hora como não instalado, mas não quero instalar o PHP. Extensão PUSH instala mas é impossível saber onde ir depois de instalada para funcionar. Ridículo.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System

[2019-12-10 21:06] turion opened #86695 "Keyboard layout is not detected correctly"
- VSCode Version: 1.40.0
- OS Version: NixOS unstable, KDE

I'm using a special German keyboard layout called Neo. I have two machines, both identical setup and configuration. On one of them, everything works just fine. On the other, all keyboard shortcuts are interpreted as QWERTZ, while normal typing and editing is correctly in Neo.

I tried workarounds from e.g. #23690, closed, restarted, delet

[2019-12-10 21:10] turion commented on #86695
If I do `Developer: Inspect Key Mappings (JSON)`, I get:
[code]
So it seems like it actually realised what my layout is...?

[2019-12-10 21:12] eamodio commented on #80611
This is even a bit worse if you open a context menu from inside the quickpick
![image](https://user-images.githubusercontent.com/641685/70569387-dc4f7e00-1b67-11ea-983c-fc070e4c005d.png)

[2019-12-10 21:13] turion commented on #86695
This workaround helped me somewhat: https://github.com/microsoft/vscode/issues/24043#issuecomment-292334048

[2019-12-10 21:15] mjbvz commented on #86693
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2019-12-10 21:16] turion commented on #86695
Note that I have two keyboard layouts configured in KDE: Neo is the currently active one (and was active when starting vscode), but I have QWERTZ as a backup.

[2019-12-10 21:19] hawezo commented on #86664
I'm sorry, I'm not sure to understand what you're saying. I'm not searching for a directory, I'm using the Search & Replace functionality. And the file replacement is random and doesn't really make sense.

[2019-12-10 21:20] jb6 commented on #83365
@alex @otseng Hi , I am facing the same issue.  I need to use both English AND Hebrew AND parenthesizes all the time but when you mix LTR and RTL language on a same line, things dont work well and the parenthesizes are swapped.

_This is what I want to achieve :_
<img width="404" alt="Screen Shot 2019-12-10 at 22 11 28" src="https://user-images.githubusercontent.com/6653886/70569374-1e91b300-1b9a-

[2019-12-10 21:34] Harry09 opened #86698 "VS Code Very Slow Startup"
Issue Type: <b>Performance Issue</b>

Hi,

Today I noticed that my VS Code was starting like 10 times slower, I turned off all extensions but nothing really change.

Here is Startup Performance https://gist.github.com/Harry09/74fdb99f681d0d673a4fa18bbcfcf3c3

I reinstalled VS Code by removing all files (cache also) but it also nothing changed.

Also windows like extension's info or process explore

[2019-12-10 21:39] Rakesh-rules opened #86699 "Terminal not working"
Issue Type: <b>Bug</b>

The terminal is showing nothing except the cursor in ubuntu

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:40.719Z)
OS version: Linux x64 4.15.0-72-generic snap

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) CPU G630 @ 2.70GHz (2 x 2662)|
|GPU Status|2d_canvas: unavailable_software<br>fl

[2019-12-10 21:43] jb6 commented on #86667
@tomerm hi, at the end of the day , what editor/plateform which enables all what you mentioned in your first post do you advise ? I need to be able to do this without having the order of the parenthesize swapped or letter or words.

<img width="683" alt="Screen Shot 2019-12-10 at 22 19 02" src="https://user-images.githubusercontent.com/6653886/70571510-5c90d600-1b9e-11ea-8e68-8fe056cb198a.png">

ת

[2019-12-10 21:51] #86662 closed

[2019-12-10 21:53] Tigge opened #86701 "deleteWordPartLeft / Right not usable in interface"
Issue Type: <b>Bug</b>

After setting a keyboard shortcut for `deleteWordPartLeft` or `deleteWordPartRight` they are not usable in the "interface" parts of code.

It works fine in the code view, but when renaming a file or doing a refactor rename it will not work. In the refactor rename case it will delete the word part in code behind the refactoring popup - which is a bit confusing.

To reproduce

[2019-12-10 21:56] lameimpala opened #86702 "Intellisense Bug with Global Types"
Issue Type: <b>Bug</b>

Create a javascript project.
Add a `globals.d.ts` file and declare a const with string type.
While the `globals.d.ts` file is open, intellisense works as expected.
Close the `globals.d.ts` file and observe that intellisense no longer works for values decalred in `globals.d.ts`.

VS Code version: Code - Insiders 1.41.0-insider (455d8f73cd7c73285fba70ab039a26279f19bb57, 2019-

[2019-12-10 22:02] egonelbre opened #86703 "Slow to open a Go file with long line"
Issue Type: <b>Performance Issue</b>

File https://gist.githubusercontent.com/egonelbre/f93be4d31e7f4dad766a5e8f63374bb3/raw/747cf854bef769e3b8f57edbe207e4e001d98421/example.go is very slow to open. ~20s

This does not happen when file is renamed to example.c.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:52:45.129Z)
OS version: Darwin x64 19.2.0

<details>

[2019-12-10 22:09] egonelbre commented on #86703
https://github.com/microsoft/vscode/issues/82549 could end up fixing this as a side-effect.

[2019-12-10 22:11] RMacfarlane commented on #86694
@gmsetta It sounds like this issue report is for multiple problems - can you please clarify what the bug is? Are there steps to reproduce your problem? What did you expect to happen and what actually happened?

If this is an issue with configuring the push extension, please open it on that extension: https://github.com/njpanderson/push/issues

[2019-12-10 22:22] mjbvz commented on #81574
@alexdima Updated and assigned a few owners. Note that there are some errors related to `createInstance` with generics that are difficult to understand. I'm looking into fixing the signature of `createInstance`

[2019-12-10 22:26] RMacfarlane commented on #86688
@joseramos1131 This doesn't sound like a problem with VSCode itself. Can you check to see if you see the same error when you run the command in a terminal outside of VSCode? It sounds like you are not authenticated.

[2019-12-10 22:30] egonelbre commented on #86703
Profiling seems to indicate that the parsing time is growing non-linearly, which isn't great.

| size | time |
|-----|------|
| ~5K | ~2.5s |
| ~10K | ~9s |
| ~15K | ~20s |
| ~19K | ~34s |

[2019-12-10 22:32] SEAPUNK commented on #83568
Happens to me too. I'm running on a multi monitor setup, I'm curious if that could be causing the problem (wild guess after seeing the X error message in the logs above). I'll try to repro this issue without attaching the second monitor.

[2019-12-10 22:36] npollitt opened #86705 "golang os.Open fails in VSCode, but works from command line"
- VSCode Version: 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520)
- OS Version: macOS Catalina (10.15.2)

Steps to Reproduce:

1. I have an application that calls os.Open(path)
2. In VSCode, when I debug the application, os.Open() always fails with ENOENT - file not found.
3. When I compile and run the command from a terminal, the file is found and successfully opened.
4. I am using absolute pat

[2019-12-10 22:44] niemeier23 commented on #84136
Sorry, deepak1556, I'm way too late in responding.  But, I'm currently running version 78.0.3904.108.

[2019-12-10 22:48] RMacfarlane commented on #86677
Hmm, I see the exact same syntax coloring as in your screenshot with `Dark (Visual Studio)`:
![syntax_highlighting](https://user-images.githubusercontent.com/3672607/70575816-1fa3ef80-1b5c-11ea-8c10-c61e473980ac.gif)

[2019-12-10 23:06] roblourens commented on #85992
Discussed this during standup today. We did go down the route of providing a real structured logger object once, and I don't want to tackle that again. We discussed how to give a consistent per-extension logging enabling experience like @eamodio mentions but that is a big piece of work to tackle, and every extension will have edge cases that don't fit into the general model. Kai suggested that loo

[2019-12-10 23:07] deepak1556 commented on #83568
@SEAPUNK that would be good info if you can verify.

I tried to repo on my Ubuntu 18.04 parallels vm and couldn't get this issue, so definitely a specific setup triggers this issue.

[2019-12-10 23:11] #86423 closed

[2019-12-10 23:11] misolori commented on #86423
I've improved how the text overflows in narrow views, the icons should never overflow (sometimes it might be cut off/hidden):

![image](https://user-images.githubusercontent.com/35271042/70577006-2aac4f00-1b5f-11ea-8bca-ce2870cec6f1.png)

![image](https://user-images.githubusercontent.com/35271042/70577014-326bf380-1b5f-11ea-8b20-45bd35e07126.png)

[2019-12-10 23:17] mjbvz commented on #86702
Does your workspace contain a [jsconfig](https://code.visualstudio.com/Docs/languages/javascript#_javascript-projects-jsconfigjson) or tsconfig?

[2019-12-10 23:19] #86705 closed

[2019-12-10 23:20] lameimpala commented on #86702
Neither.  Maybe I'm confused as to how the intellisense is supposed to work.  Is it supposed to pick up the types defined in `globals.d.ts` automatically?

[2019-12-10 23:25] mjbvz commented on #86702
If you use globals instead of explicit imports, you need to tell VS Code that these files are part of the same project. That's what a jsconfig does. See [the documentation](https://code.visualstudio.com/Docs/languages/javascript#_javascript-projects-jsconfigjson) for help creating one

[2019-12-10 23:25] #86702 closed

[2019-12-10 23:32] crazyfoxkp opened #86706 "Unicode rendering of typed indic script fails"
Indic script Kannada in editor
-------
When typing Indic script Kannada in editor (MacOS Kannada- QWERTY keyboard) use of
U+0CCD  (kannada sign virama) causes entire word to be deleted to left.
Characters are rendered properly when copy-pasted.

Example word: ಪ್ರಕಾಶನ
1. Key sequence "pfrkaSn" on Kannada keyboard results in dropping 'p' character (or left delete of any number of characters in a dif

[2019-12-10 23:34] lameimpala commented on #86702
Thanks!

[2019-12-10 23:34] deepak1556 commented on #84136
Thanks for confirming, I see there is one scroll fix that landed between the version of chrome tested and the exploration build mentioned initially https://bugs.chromium.org/p/chromium/issues/detail?id=1011866.

@niemeier23  @luo-chuan Can you try this exploration build https://az764295.vo.msecnd.net/exploration/22c3db00ec057fecf0144c4c7f8c6bc6cb60e5d6/code-exploration-1575406103.tar.gz which cont

[2019-12-10 23:35] mjbvz opened #86707 "TSLint memory usage"
Hey,

My apologies on the unclear reproduction steps! I have actually attempted to create a minimal version of my project that causes the issue but ended up not being able to reproduce it afterwards. Unfortunately, I haven't had a chance to narrow down the problem yet but I've uploaded the project to a private repo and invited you to collaborate if you want to check it out @mjbvz .

I am able to r

[2019-12-10 23:35] mjbvz commented on #86707
@gsavchenko Thanks for sharing the repository. I'm not been able to reproduce this on MacOS by adding and deleting bunch of semicolons in `logger.service.spec.ts`. Is there any specific file I need to edit? Also, did you configure VS Code to use the workspace version of TypeScript (3.4)?

[2019-12-10 23:55] misolori opened #86708 "Cleanup remaining svg icons"
Since we've adopted the workbench icons to use codicons, we should cleanup these remaining ones:

- [x] src/vs/base/browser/ui/checkbox/checkbox.css
- [x] src/vs/base/browser/ui/menu/menu.css
- [x] src/vs/base/browser/ui/scrollbar/media/scrollbars.css
- [x] src/vs/editor/browser/viewParts/lineNumbers/lineNumbers.css
- [x] src/vs/editor/browser/widget/media/diffEditor.css
- [x] src/vs/editor/browse

[2019-12-11 00:04] #83644 closed

[2019-12-11 00:14] sbatten commented on #75615
Like our other components, the menu suffers from having a shadow, having an animation, and additionally a transparent border on menu entries.

While I could fix the transparent border issue, fixing with the shadow and animation requires introducing a new GPU rendering layer and that will break submenus as I can't get them to render properly once they've been explicitly promoted.

Also, getting rid

[2019-12-11 00:27] StephenWeatherford opened #86709 "JSON no longer following tabsize setting when formatting document?"
Issue Type: <b>Bug</b>

If I load my package.json file (https://raw.githubusercontent.com/microsoft/vscode-azurearmtools/6570e29d829ab3d14498e7c9d9a60ce949ecf2af/package.json) and format the file in vscode 1.40.2(user setup), it keeps the current 2-space settings.  If I format it in 1.41.0-insider, it reformats everything to four spaces, even though the edit claims it's using 2 spaces:
![image](ht

[2019-12-11 01:05] ZimKhan opened #86710 "When I finished installing Visual Studio Code, the black screen shows."
When I finished installing Visual Studio Code, the black screen shows.

[2019-12-11 01:26] giulianisanches commented on #28432
I'm having this issue and the behaviour is exaclty what @marvila commented above. If i open a folder that is a simbolic link, my source control file explorer does not update.

[code]

[2019-12-11 01:38] sbatten commented on #86309
I fixed this as described. Still... having to manage GPU layers is disappointing. Also, on my monitors, I actually prefer the non-RGB rendering :(

[2019-12-11 01:49] #85690 closed

[2019-12-11 02:08] octref commented on #85707
The client side implementation is more complicated: https://github.com/microsoft/vscode/blob/master/extensions/html-language-features/client/src/mirrorCursor.ts

The server side is pretty easy, just need to compute mirror position: https://github.com/microsoft/vscode-html-languageservice/blob/master/src/services/htmlMatchingTagPosition.ts

[2019-12-11 02:37] Kenya-West opened #86711 "Indent lines break when you put a breakpoint; breakpoint behaves incorrectly"
- VSCode Version: 1.40.2
- OS Version: Windows 10 (1909) latest stable

Steps to Reproduce:

1. Install extensions I suggested
2. Install packages from package.json reference
3. Create any project with `create-react-app`

Does this issue occur when all extensions are disabled?: **No**

### The problem

When I want to set a breapoint on the line 2 in a function, class or any entity that starts with

[2019-12-11 03:19] lfjbb opened #86712 "the file explorer do not work after use "go to definition(F12)" several times"
![121](https://user-images.githubusercontent.com/35714131/70588535-03f62300-1c08-11ea-9a58-ce50434ea48c.PNG)
![111](https://user-images.githubusercontent.com/35714131/70588539-09536d80-1c08-11ea-97af-1665710f5bfc.PNG)

- VSCode Version:
- OS Version:

Steps to Reproduce:

1.  use VSCode with the github open source project "taurusai/kungfu"
2.  view the codes with the "go to definition(F12)" functi

[2019-12-11 03:20] deepak1556 commented on #86691
Can you try launching from commandline with `code-insiders.exe --disable-gpu` ?

The whole of editor area is affected along with the about panel, seems more of an hw acceleration issue.

/cc @bpasero

[2019-12-11 03:48] DungVA1 commented on #86639
What the shortcut on MacOS ?

[2019-12-11 03:50] DungVA1 commented on #86639
Thanks. I don't know it since read your comment. It's very helpful for me.

[2019-12-11 03:50] freboat opened #86713 "symbol text can not display fully when it too long"
Issue Type: <b>Feature Request</b>

1. user Ctrl-T,  search a symbol
2. can not display the file name when the symbol text is long
3.  and user move mouse on the long symbol,  it can't hint it.

suggest:   hints the full symbol text  like common variable when mouse on the long symbol

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Wind

[2019-12-11 03:57] kichappa commented on #86417
@misolori Image in yours also has the problem: 2px on the right and 1 on the left of the white circle. Here's when I zoom the window.

![image](https://user-images.githubusercontent.com/10088817/70585196-773c6c80-1be9-11ea-9d1c-cbb5f3e9f3d4.png)

[2019-12-11 04:46] jmdacruz opened #86714 "Cannot copy files from remote SSH workspace to local workspace"
- VSCode Version: 1.41.0-insider (commit: 9579eda04fdb3a9bba2750f15193e5fafe16b959)
- OS Version: macOS 10.15.1 Catalina

Steps to Reproduce:

1. Open a remote SSH workspace
2. Open a local workspace (in a new window)
3. Select a file on the **local workspace** and "copy" it (either with contextual menu, or `ctrl+C`)
4. Paste the file on the **remote workspace** (either with contextual menu, or `c

[2019-12-11 05:00] felixvd commented on #26067
Staging ranges (hunks) is now available in the context menu, but the user in [this issue](https://github.com/microsoft/vscode/issues/43887) did not discover it. I believe the current UI makes this too hard to discover.

Consider this situation:

<img width="1089" alt="Screen Shot 2019-12-10 at 20 39 03" src="https://user-images.githubusercontent.com/4535737/70526568-39a9f600-1b8d-11ea-92c4-6e39565

[2019-12-11 05:13] vietanh74 commented on #86454
Thank @isidorn.
When I create a file in the project via the terminal in `VS Code`, this file doesn't show in the preview area.

Screenshot: https://prnt.sc/q94tq4

[2019-12-11 05:46] deepak1556 commented on #86108
https://github.com/electron/electron/pull/21473

[2019-12-11 05:51] sanjaykhanssk opened #86715 "duplicates typed text to some other files"
Issue Type: <b>Bug</b>

when i change something in main.py, it also adds the same line in different files, i thought I just copy-pasted but i was not, it itself doing many times every time i run a script it shows this error. Fix it :)

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:40.719Z)
OS version: Linux x64 5.0.0-37-generic snap

<details>
<summary>Sy

[2019-12-11 06:18] #86666 closed

[2019-12-11 06:19] bpasero commented on #84195
@jryans thanks a lot ❤️

[2019-12-11 06:19] #81329 closed

[2019-12-11 06:19] bpasero commented on #81329
You can still hover over the source and get the full source in the title.

[2019-12-11 06:22] Gargony opened #86716 "The child process Code.exe ignore parent process priority"
Then I run Code.exe with "low" process priority (CPU usage), Code.exe creates the child Code.exe with process priority "normal" (ignore the parent "low").

- VSCode Version: 1.40.2.0
- OS Version: Windows 10

Steps to Reproduce:

1. Run START "" /low "Code.exe"
2. Look at the child Code.exe process priority (use [Sysinternals Process Explorer](https://docs.microsoft.com/en-us/sysinternals/download

[2019-12-11 06:22] neelgo opened #86717 "Starting client failed: Couldn't start client Aura Language Server"
- VSCode Version: 1.40.2
- OS Version: windows 10

Steps to Reproduce:
I am using it for salesforce development and install salesforce extension pack
I am getting error from Aura Language server
[Error - 11:36:05 AM] Starting client failed
Error: spawn C:\Users\.....\Microsoft VS Code\Code.exe ENOENT
	at Process.ChildProcess._handle.onexit (internal/child_process.js:264:19)
	at onErrorNT (internal

[2019-12-11 06:23] HuXiaoTu opened #86718 "Global search is very very very slow"
Search for any word or character

[2019-12-11 06:36] imshivamchauhan opened #86719 "shutting down suddently"
Issue Type: <b>Performance Issue</b>

from last 3-4 days, vs code is shutting down suddently while using and ask for reopen or cancel in dialog box.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz (

[2019-12-11 06:41] bpasero commented on #81574
@mjbvz you have to teach me how to fix the various WorkbenchList issues (e.g. in `notificationsList.ts`).

[2019-12-11 06:43] Mackenziefox opened #86720 "Bug visual"
Hello, I have visual bugs... errors that are not fixed, that is, it is annoying that the underlined line of the error is not removed when I have already solved it, I have to close and open, also sometimes it does not recognize the commands in C++.

[2019-12-11 06:44] bpasero commented on #86451
I think we can close this and handle the remaining pieces in [query](https://github.com/microsoft/vscode/labels/lcd-text-rendering).

[2019-12-11 06:44] #86451 closed

[2019-12-11 06:45] bpasero commented on #86339
This is so random that I will not invest further, seems to work fine in some cases:

![image](https://user-images.githubusercontent.com/900690/70598034-31cc6f00-1bea-11ea-8b77-3f60716338a1.png)

[2019-12-11 06:45] #86339 closed

[2019-12-11 06:52] bpasero commented on #83421
Created the following PRs for the remaining types:
* https://github.com/DefinitelyTyped/DefinitelyTyped/pull/40962
* https://github.com/DefinitelyTyped/DefinitelyTyped/pull/40873

[2019-12-11 07:01] chrmarti commented on #86635
Pressing `Cmd+P` on Mac works as you suggest if you keep `Cmd` pressed. `Ctrl+P` should do the same on Windows.

@bpasero There used to be a way to navigate to the previous entry by additionally holding `Shift`, but that doesn't work for me at the moment. Does that need configuration?

[2019-12-11 07:10] pavangayakwad commented on #86691
Yes, tried as you instructed. No luck.

![image](https://user-images.githubusercontent.com/1834890/70599516-4d983b00-1c13-11ea-9301-6fd87f6eff0a.png)

[2019-12-11 07:14] pavangayakwad commented on #86691
@deepak1556 regarding "About" panel comment of yours. It look blurred because of the image sizing done by the Github comment section. Request you to open my screen capture image in new tab (with "open image in new tab" option from browser context menu) and check, it then shows my actual screen capture resolution.

[2019-12-11 07:15] bpasero commented on #86635
I can press `Cmd+Shift+P` and quick select the previous entry on my macOS without special configuration.

[2019-12-11 07:33] yumikohey commented on #86450
@JacksonKearl  the version is Version 1.27.1 (1.27.1)

[2019-12-11 07:37] Xdminsy commented on #86635
Sorry I have no mac device, I don't know how to do these on Windows now, when in command palette, `ctrl+n` is still new tab and `ctrl+shift+n` is new window while `ctrl+alt+n` has no effect.

I wonder how macOS achieve these? Do mac maps such keys to arrow keys or need specific programs to support it by them self?

[2019-12-11 07:43] deepak1556 commented on #86691
Can you try the exploration build https://az764295.vo.msecnd.net/exploration/22c3db00ec057fecf0144c4c7f8c6bc6cb60e5d6/VSCode-win32-x64-1.41.0-exploration.zip and report back how it looks ?

What is the value of `editor.disableLayerHinting` setting in your editor ?

[2019-12-11 07:43] #86701 closed

[2019-12-11 07:45] PEZ opened #86722 "Provide Editor Font Size with `px` unit to Webviews"
Issue Type: <b>Feature Request</b>

As an extension developer I can style my Webview from the CSS `var`s, except for `--vscode-editor-font-size` which is provided as a number without units. So in my CSS I need to hard code the font size, like so:

[code]

I need a `var` including the `px` unit, like with `--vscode-font-size`.

VS Code version: Code - Insiders 1.41.0-insider (9579eda04fdb3a9bba2750

[2019-12-11 07:47] jrieken commented on #86698
/needsMoreInfo

Please use this guide to provide more information: https://github.com/Microsoft/vscode/wiki/Performance-Issues. Thanks.

[2019-12-11 07:50] jrieken commented on #85793
Yeah, my recommendation is to use the details or containerName property (depending on what type you use). So the `bar::func` symbol could be shown as as `func  bar`.

[2019-12-11 07:51] jrieken commented on #86692
Yes - that is somewhat how we have designed this. What is the use case for this?

[2019-12-11 07:53] jrieken commented on #86643
Please profile the complete settings file or check if there is language specific override for JavaScript and this setting

[2019-12-11 08:00] jrieken commented on #39441
fyi - I plan on implementing this for the next (Jan 2020) release and that "label + detail" workarounds will then look bad. Because of that we might start with having this behind a setting

[2019-12-11 08:02] sandy081 commented on #86583
Sorry its not Help -> Toggle Shared Process. It is View -> Command Pallette... -> Toggle Shared Process.

Looks like shared process is not running. Can you please restart VS Code if not restart the system and try?

[2019-12-11 08:03] chrmarti commented on #86635
@bpasero You're right, it works now. 🤷‍♂

@Xdminsy Try:
- Press&hold `Ctrl`, press&release `p`.
- The file picker should now be open while you are still holding `Ctrl`.
- Press&release `p` multiple times.
- The selection should move down by one entry each time.
- Release `Ctrl`.
- The currently selected file should be opened.

Additionally holding `Shift` allows you to move the selection up.

Your

[2019-12-11 08:04] Tigge commented on #86701
Which issue is this a duplicate of? I tried searching for a couple of terms before submitting.

[2019-12-11 08:05] sandy081 commented on #86686
@misolori Assigning to you as you are aware of these indicators. Let me know if there is something I have to do here.

[2019-12-11 08:07] sandy081 commented on #86496
Can you please let me know which extension is that? Also let me know the steps to reproduce this consistently.

[2019-12-11 08:07] jrieken commented on #43049
/duplicate of https://github.com/microsoft/vscode/issues/46585

[2019-12-11 08:07] #43049 closed

[2019-12-11 08:09] Xdminsy commented on #86635
Oh I see, file picker don't need arrow key, it's great, works well.

Looking forward to custom hotkeys for command palette. Thanks!

[2019-12-11 08:10] jrieken commented on #32753
/duplicate of https://github.com/microsoft/vscode/issues/53666

[2019-12-11 08:10] #32753 closed

[2019-12-11 08:10] sandy081 commented on #86631
@20chan Thanks for figuring this out. I was completely clueless from where this is coming. Now I know because of your investigation.

@roblourens I remember you are chiming in for some experiments related issues. So assigning to you,

[2019-12-11 08:14] varadero opened #86723 "Extension host crashes leaving VSCode in inconsistent state"
Issue Type: <b>Bug</b>

I have noticed last week or so that if I have some TypeScript compilation error (something that happens very often - essentially can happen after every keystroke) VSCode eventually starts eating RAM (more than 3.5-4GB) and uses 100% CPU.  This finishes either with VSCode in an inconsistent state (TypeScript service stops working and you don't have code completion in VSCode

[2019-12-11 08:19] jasomimo commented on #37947
It would be great to have nested Git repositories support. I am having same issue, where we have main repo, which contains widgets, where each widget is separate Git repository.

[2019-12-11 08:31] bmewburn commented on #86692
@jrieken no particular use case other than consistency. I'd expect it to strikethrough the whole range like unnecessary fades the whole range.

[2019-12-11 08:44] sneakyfildy commented on #86444
For me too, intellisense stops working after 5 minutes.
Statusbar: "fetching data for better typescript intellisense"

[2019-12-11 08:44] PierreTurnbull commented on #86583
This seem to be the same as `CTRL + P -> Toggle Shared Process`, which I tried and doesn't work.

I already restarted VSCode and my computer several times, since this bug has been there for days (or weeks, I can't tell) and I turn off my PC every night before sleep.

Also note that it happens on 2 different PC, both running Ubuntu 18.04. I have 2 colleagues, one using MacOS and the other using Win

[2019-12-11 08:45] bpasero opened #86725 "Electron: leverage binary from electron dev dependency"
For https://github.com/microsoft/vscode/issues/83421 I added a new dev dependency to Electron (https://github.com/microsoft/vscode/commit/93f58e063efcb86960ec1f2529186a63e655ee6c). This has the advantage of pulling in the correct `electron.d.ts` for us.

However, it also pulls in the Electron binary which is redundant to the one we pull into our `.build` folder. Ideally (maybe only when running ou

[2019-12-11 08:45] sneakyfildy commented on #86530
For me too, intellisense stops working after 5 minutes.
Statusbar: "fetching data for better typescript intellisense"
October 2019 (version 1.40) MacOs

[2019-12-11 08:48] bpasero commented on #86725
Looks like this is relevant:

https://github.com/microsoft/vscode/blob/93f58e063efcb86960ec1f2529186a63e655ee6c/build/lib/electron.ts#L93-L108

[2019-12-11 08:49] bpasero commented on #86725
And all the places where we expect `.build/electron`:

![image](https://user-images.githubusercontent.com/900690/70605801-76143b00-1bfb-11ea-984b-c1b5a696020c.png)

[2019-12-11 08:55] sph3rex commented on #41309
Did the same. VsCode went on a parallel path to my needs, so back to notepad++/sublime also. Funny how smaller teams of people with no msft interaction do stuff totally different and most of the times, better. Oh well, it was nice while it lasted.

[2019-12-11 09:09] silvus commented on #79680
It's my current method but it's frustrating when you alternate with another editor to have to change keyboard shortcuts.
In the others I can do ctrl + p, here I have to use ctrl + p + p.

Since I have to use PHPStorm in parallel, the muscle memory is put to the test.
As for @ScottRudiger with its Chrome plugin, it's a consistency problem with other tools.

[2019-12-11 09:10] pavangayakwad commented on #86691
Ok, Please find the exploration build run on my windows system

- _editor.disableLayerHinting_ is not present/configured.
- Font rending problem persists.

![image](https://user-images.githubusercontent.com/1834890/70607205-023a5880-1c24-11ea-9440-ed9c4b8334cb.png)

[2019-12-11 09:11] andreamoro opened #86726 "Project tree and function reference"
Back to the old VBA days, but even looking at the most recent IDE, I think that a real added value in actively using a fully fledged IDE for data science coding is the possibility to use all the advanced characteristics it may offer.

One of this, could be the project tree, which could list all the functions used in the code so to easily just back and forth as needed.

This could also mitigate the

[2019-12-11 09:12] isidorn commented on #86454
Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2019-12-11 09:14] isidorn commented on #86711
Regarding the rendering dup of https://github.com/microsoft/vscode/issues/81898
Regarding the placement of the breakpoint that is due to Node bheavior. Please file aginst our node debug adapter extension

[2019-12-11 09:14] #86711 closed

[2019-12-11 09:26] thany opened #86727 "search.exclude is being ignored"
Issue Type: <b>Bug</b>

The setting `search.exclude` is being ignored. I think the (partly default) globs configured are correct, so searching for text in files will happily search through everything, including the excluded files, and report a lot of "noise" to me that is of no use to me.

It could be that I'm doing something wrong, but I can't imagine what that would be. The search feature is pre

[2019-12-11 09:27] github0null opened #86728 "Can't debug extension, breakpoint can't be hit"
- VSCode Version: 1.40.2 (system setup)
- OS Version: Windows 10

***
**description** :

- After update vsCode from 1.38.1, i can't debug my extension, debugger start, but can't hit at first breakpoint,  not set breakpoint, extension can running;

- then i create a "hello world" extension by "yo code" command, I tried many times, but it still can't hit breakpoint

- and after close debug session,

[2019-12-11 09:33] isidorn commented on #86684
Your explanation is correct.
I would just like to add that we evaluate on hover on source editors in scope only if the capability [`supportsEvaluateForHovers`](https://github.com/Microsoft/vscode/blob/15c35f55668e822c39fa9797722bd321cadaf8ab/src/vs/workbench/contrib/debug/common/debugProtocol.d.ts#L1347) is set. If this capability is not set, we will not evaluate but search for the variable in the

[2019-12-11 09:42] Wowol commented on #86215
I will look into this and create a PR soon, if you don't mind.

[2019-12-11 09:43] y-usuzumi opened #86731 "Behavior of Super + Delete"
Hi. It's not exactly a bug. I haven't found it documented anywhere so I want to look for some help on explaining/clarifying this behavior.

- VSCode Version: 1.40.2
- OS Version: Arch Linux

Steps to Reproduce:
1. Open any text file or create a new file
2. Press `Super` + `Delete`
3. An invisible character is inserted at the cursor position.

By saving the file and opening it with a hex editor, I

[2019-12-11 09:50] VideoPlayerCode commented on #76563
Another vote for: Yeah it's a bit weird to have this in settings.json, since no other view-states are stored in settings.

[2019-12-11 09:51] sunil12345 opened #86732 "Getting error : rxjs-compat/operators/audit"
HI Team,

I am getting the error while creating a
[New Microsoft Word Document.docx](https://github.com/microsoft/vscode/files/3949626/New.Microsoft.Word.Document.docx)
project in Visual Studio code.

[2019-12-11 09:52] weinand commented on #84044
Reopened for continuing work...

[2019-12-11 09:53] PetterS opened #86733 "Visual Studio Code stuck off screen"
- VSCode Version: 1.40.2
- OS Version: Windows 10 1909

Visual Studio sometimes gets stuck completely off screen and closing and reopening the program does not help. External monitor combined with changes to the scale in 4k mode seems to cause this somehow.

This has been reported many times; e.g. #73534 #35148 #36122

Workaround
========
- Select the window in the taskbar (it will not be visible)

[2019-12-11 09:53] blois opened #86734 "Disambiguate quickSuggestion from editor.action.triggerSuggest"
From a CompletionItemProvider it would be useful to be able to disambiguate completions triggered by quickSuggest and manual invocation of the command (via ctrl-shift). This could be used if specific completions are expensive or particularly low confidence.

Currently quickSuggest suggestions and ctrl-space suggestions both come through with CompletionContext.triggerKind = 0 and triggerCharacter =

[2019-12-11 09:55] nbransby commented on #59650
@mjbvz after 12 month it now has plenty of upvotes, could we get this scheduled now?

[2019-12-11 09:57] bitttttten commented on #86690
What example code would you like to see? It happens in every file on my project when Live Sharing so I am struggling to give you some demo code. Not meaning to be rude, just trying to understand what you would want to see :)

For example I also tried Live Share after cloning this repo: https://github.com/bitttttten/gatsbty-starter and it was failing to trigger auto import.

[2019-12-11 09:58] nbransby commented on #59650
@aslatter where is the code that prevent itself from working over a virtual file-system? How does liveshare manage it?

[2019-12-11 09:58] weinand commented on #86684
@isidorn good point!

[2019-12-11 10:03] maziac commented on #86684
OK, so this is "by design".

But what is the reason to only evaluate the source "in scope"?
As pointed out I could also hover over global variables in other files.

[2019-12-11 10:04] Wowol commented on #84271
If we want this feature, I can develop this @chrmarti

[2019-12-11 10:10] #83736 closed

[2019-12-11 10:15] Meeeeow commented on #86643
Not sure why defaultFormatter for javascript was specified in user settings, i don't think i can put this into settings because i never edit settings in plain JSON file mode, maybe related to #71755 ?

I tried "Format Document With..." -> "Configure Default Formatter" before report this issue, but it it says "Unable to write to Folder Settings because editor.defaultFormatter does not support the f

[2019-12-11 10:27] alexdima commented on #71984
I cannot reproduce this on my machine:

Chrome Version 79.0.3945.79:
![image](https://user-images.githubusercontent.com/5047891/70613488-fdb47680-1c08-11ea-9656-4b2cf6249675.png)

VS Code version 1.40.2:
![image](https://user-images.githubusercontent.com/5047891/70613539-1ae94500-1c09-11ea-94e3-7d7a0a8b6bdb.png)

@Daijobou Can you still reproduce?

[2019-12-11 10:29] chrmarti commented on #86236
Take a look at the Remote-Containers extension. That allows you to develop inside a container.

Extension: https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers
There are a few samples: https://code.visualstudio.com/docs/remote/containers#_quick-start-try-a-dev-container

[2019-12-11 10:29] #86236 closed

[2019-12-11 10:29] 20chan commented on #86631
I found what was that 'svg-like' texts are. It was `file:///..../AppData/Local/Programs/Microsoft%20VS%20Code/resources/app/extensions/git/resources/icons/dark/open-change.svg` and it was very weird because it's in my disk.

Look at captured image in my issue, network tab in developer tools.
Status code of request to `vscode-experiments.json` is `200 (from disk cache)`, and I think that **from dis

[2019-12-11 10:30] isidorn commented on #86684
Debug hover has the following heuristic:
* We only show the debug hover when the user is in a file that is the focused stack frame. The reason for this is that we do not want to agressivly show the hover and that the users usually have the stack frame focused that they are interested in. Agressivly showing the hover has the downsides of it being in the user's face when not needed and if evaluation

[2019-12-11 10:43] #85645 closed

[2019-12-11 10:45] egonelbre commented on #86703
The main culprit seems to be `"match": "(?<!var)\\s*(\\w+(?:\\.\\w+)*(?>,\\s*\\w+(?:\\.\\w+)*)*)(?=\\s*=(?!=))",` at https://github.com/microsoft/vscode/blob/master/extensions/go/syntaxes/go.tmLanguage.json#L231

Removal improvement: *15.1s -> 3.6s*.

The second culprit is `"match": "(\\bfunc\\b)|(\\w+)(?=\\()",` at https://github.com/microsoft/vscode/blob/master/extensions/go/syntaxes/go.tmLangua

[2019-12-11 10:46] weinand commented on #79314
@connor4312 @roblourens is this feature something you would consume/support in js-debug anytime soon?

[2019-12-11 10:47] jrieken commented on #86692
Fair feedback - I believe today we use a single editor decoration and for level-hint we crop that to just a few character. With this combination of tags and sev we would need to add at least two decorations...

[2019-12-11 10:48] IllusionMH commented on #86732
/needsMoreInfo

Please use proper issue template and provide all necessary data from template (versions, if reproduced with extensions disabled), steps to reproduce and screenshot of the error.

[2019-12-11 10:48] jrieken commented on #86692
code pointer: https://github.com/microsoft/vscode/blob/573df438dbb97795ea6ce3c242c27f0dcd8b43dc/src/vs/editor/common/services/markerDecorationsServiceImpl.ts#L189

[2019-12-11 10:53] deepak1556 commented on #86691
Thanks, one last thing can you remove the custom font `Cascadia Code` and see how it looks with the default ones ?

[2019-12-11 10:53] IllusionMH commented on #86715
/needsMoreInfo

Is it reproducible without extensions?
You can try this with <kbd>F1</kbd> and `>Developer: Reload Window With Extensions Disabled`

[2019-12-11 10:54] IllusionMH commented on #86720
/needsMoreInfo

Could you use proper template and fill all necessary information about version, OS, extensions list and if reproducible with extensions disabled, screenshots of visual bugs.

[2019-12-11 10:57] sandy081 opened #86737 "Language specific settings defined at one target should not override settings in other target"
Look up for language specific setting currently is as follows:

[code]

It means language specific settings defined in a target can override the setting that is defined in other target. For eg:

If you have following language specific settings in user settings target:

[code]

and your team has following setting in workspace settings target (`.vscode/settings`)

[code]

Then, language overrides in

[2019-12-11 10:57] Zx-EvM opened #86738 "warning: matches multiple schemas when only one must validate"
I use VSCode to edit `profiles.json` settings file for [Windows Terminal](https://github.com/microsoft/terminal).

My config looks this:

[code]

I noticed that VSCode shows warning in status bar:

[code]

Screenshot:

![WARNING](https://user-images.githubusercontent.com/20873402/70596057-b2ae5980-1c30-11ea-8db2-cff4c71688a0.png)

Is there something wrong with my `profiles.json`? Or it's just bug?

[2019-12-11 10:58] deepak1556 commented on #86725
Check the per platform files under `gulp-atom-electron/src` ,  the renaming and removal default app sources are important.

If we work towards this, then working on https://github.com/microsoft/vscode/issues/81425 will become difficult.

[2019-12-11 10:59] maziac commented on #86684
For my particular case it would not help much to allow hover on all files being part of the callstack.
I'm writing a debug adapter for assembler, i.e. everything is more or less global and there it would make sense to allow hovering on any file.

I understand your idea behind it. For modern languages it's most probably OK.
I just want to point out that if you change something, it would only help m

[2019-12-11 11:07] IllusionMH commented on #86726
VS Code has [Outline view](https://code.visualstudio.com/updates/v1_25#_outline-view), [Go to Symbol in File...](https://code.visualstudio.com/Docs/editor/editingevolved#_go-to-symbol) and [Go to Symbol in Workspace...](https://code.visualstudio.com/Docs/editor/editingevolved#_open-symbol-by-name)

But if you need this for Jupyter notebooksand Outline view doesn't show info about functions - it sh

[2019-12-11 11:08] pavangayakwad commented on #86691
Sure, here it is

![Annotation 2019-12-11 160816](https://user-images.githubusercontent.com/1834890/70616490-914f6c80-1c34-11ea-83b8-63c35026b2f9.jpg)

[2019-12-11 11:10] pavangayakwad commented on #86691
This is from my Linux machine. Just to let you know this should be the expected output on Windows.

![image](https://user-images.githubusercontent.com/1834890/70616607-dbd0e900-1c34-11ea-8524-68814031751f.png)

[2019-12-11 11:11] bpasero commented on #79680
How does that work exactly? `Ctrl+P` once to open quick open and then `Ctrl+P` again to open the selected entry? Assume I have never used any other editor than VSCode in my life.

[2019-12-11 11:12] bpasero commented on #86725
@deepak1556 yeah, maybe a better approach would simply be to consume Electron from the `node_module` folder if present instead of downloading it. I think we can keep everything else as it works today then?

[2019-12-11 11:14] isidorn commented on #86684
Ok makes sense.
In theory we could add a capability that debug extensions can control this.
Or a debug setting.
However nothing currently planned. We can look into this in the future

[2019-12-11 11:18] deepak1556 commented on #86691
Can you list the editor settings from this machine ?

[2019-12-11 11:20] pavangayakwad commented on #86691
I assumed your "this machine" referring to my Linux machine.

![image](https://user-images.githubusercontent.com/1834890/70617275-3d458780-1c36-11ea-9187-859a5a6e14b1.png)

[2019-12-11 11:23] maziac commented on #86684
OK.

[2019-12-11 11:25] Harry09 commented on #86698
[prof-dc53.renderer.cpuprofile.txt](https://github.com/microsoft/vscode/files/3950074/prof-dc53.renderer.cpuprofile.txt)
[prof-dc53.extHost.cpuprofile.txt](https://github.com/microsoft/vscode/files/3950075/prof-dc53.extHost.cpuprofile.txt)
[prof-dc53.main.cpuprofile.txt](https://github.com/microsoft/vscode/files/3950076/prof-dc53.main.cpuprofile.txt)

[2019-12-11 11:32] deepak1556 commented on #86691
Yes I meant the linux editor settings, thanks. Can you remove the `workbench.fontAliased` setting on windows ? although it will be surprising if `-webkit-font-smoothing` css rules made an effect on windows.

[2019-12-11 11:33] deepak1556 commented on #86725
Yeah we could do that, but the gulp version does all the transformation in memory with the downloaded stream through `vinyl-fs`, not sure if an extra machinery to reuse the binary is worth saving the additional download ?

[2019-12-11 11:35] dariocostanzo opened #86740 "VSC doesn't reopen the files I was working after restarting"
Not sure if this is something I am doing wrong or a bug, but I think it is worth double check with you. I couldn't find a resolution on-line.

1) Open a folder and different files
2) Work on them and save
3) Close VSC
4) Reopening VSC will get a new window or an old project

In my case, when I reopen VSC (after step 1,2 and 3), I always get a new window or files related to a project I was working

[2019-12-11 11:37] pavangayakwad commented on #86691
Ok here it is:

without Cascadia font
![image](https://user-images.githubusercontent.com/1834890/70618285-71ba4300-1c38-11ea-8be2-83efa0061ec9.png)

with Cascadia Font (I prefer this to be fixed)
![image](https://user-images.githubusercontent.com/1834890/70618346-93b3c580-1c38-11ea-9657-66552eee00fc.png)

[2019-12-11 11:39] vvavrychuk opened #86741 "asciidoc links are highlighted incorrectly"
Issue Type: <b>Bug</b>

Per https://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#links asciidoc links have the following syntax:

    URL[caption goes here]

The problem is that VS Code highlights symbols "[caption" as part URL
![Screenshot from 2019-12-11 13-03-51](https://user-images.githubusercontent.com/152563/70618472-a23fb400-1c1b-11ea-8999-1e1d306b0682.png)

VS Code version: Code 1

[2019-12-11 11:41] dbaeumer opened #86742 "Constantly loosing debug connection to a attached node process"
I don't have reproducible steps that always work but here is what I see:

- attach to a node process
- hit a break point
- remove the break point
- hit continue

The debugger session closes but the node process is still running. You need to re-attached.

This happens quite frequent to me and I demoed it to @isidorn

[2019-12-11 11:49] myfonj commented on #86727
You have explicitly disabled the exclude:
![image](https://user-images.githubusercontent.com/1761395/70618700-ca2b1980-1c13-11ea-8df9-386965684600.png)
To enable it again, use the "⚙minus" button at the end of exclude input in extended search panel:
![image](https://user-images.githubusercontent.com/1761395/70618971-50476000-1c14-11ea-8fb7-0a73f9bbb28c.png)

[2019-12-11 11:57] isidorn commented on #86742
We could not get this to repro with the pwa-debugger.

Here's a simpler sample which shows a similar issue 100% of the time for me. Also does not repro with pwa debugger. It might be a different issue than @dbaeumer sees so appologies for that
1) Debug this sample
2) Press step in twice
3) The program continues until the end :bug: I would expect that the step in does a step over when not possible

[2019-12-11 11:58] hello341 commented on #86496
I don't know which extension is causing the blue sidebars and the empty spaces

[2019-12-11 12:01] latel opened #86743 "wrong spell in stateService"
there is a typo wrong spelled, which you can see here:  [https://github.com/microsoft/vscode/blob/efc8667b4c6d3021c0fdbfbce9495ae925ca2e28/src/vs/platform/state/node/stateService.ts#L14](https://github.com/microsoft/vscode/blob/efc8667b4c6d3021c0fdbfbce9495ae925ca2e28/src/vs/platform/state/node/stateService.ts#L14)

hope this can be corrected :)

[2019-12-11 12:02] hello341 commented on #86496
all I know is that it is an extension that is not installed in vs code because I did not see it in the installed section. it was like a theme bar extension or something like that. To fix this should I uninstall vs code and install again? will that work?

[2019-12-11 12:04] #86743 closed

[2019-12-11 12:11] JacksonKearl commented on #86450
That version is over a year old (August 2018). We’re currently on 1.41. Is there something preventing you from updating? We may have fixed this over the past year.

[2019-12-11 12:13] PEZ commented on #86722
I found a workaround for now, maybe someone else has use for it.

I set the style attribute of the html element to the result of:

[code]

[2019-12-11 12:17] thany commented on #86727
Well, that's awkward 😣

Take it like this: that little button controls a lot of noise being outputted, or not. It's also really hard to see the state of that button, and it's not possible to know what it's trying to tell without hovering the mouse cursor on it.

I honestly didn't notice that text either "ignored files are disabled". It's not there in my mind, I just immediately focus on the result

[2019-12-11 12:29] getreu opened #86745 "Escape key not working, in any ot the vim extensions"
Issue Type: <b>Bug</b>

1. Install any of the vim extesions
2. go in insert mode with key [i]
3. press [escape]

Non of the extensions returns to "normal" mode. this is why I think it is an vs-code issue. I was using the vscode.vim extension for many months without problem.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:40.719Z)
OS version: Linux x64 4.19

[2019-12-11 12:38] 1011178l opened #86746 "[Feature request] Gethering necessary info when program crashed or has memory leak"
Recently, a number of people suffering from the memory leak. VS code or some plugin will eat all memory in a short time, and there is no chance to collect debug data for vs team. In addition, such kind of issue usually difficult to reproduce. our user surly has such kind of problem, but we don't know why and how to reproduce it.

So it would be nice that the vs code has a feature that gathering al

[2019-12-11 12:42] getreu commented on #86745
What could have messed up the editor configuration, was the test installation of the plugin: Vim Fcitx Remote. My VSCode with the Vim-plugin on another computer is still working. Strange.

[2019-12-11 12:45] 1011178l commented on #85919
finally I got the code --status when memery leak happens

[code]

[2019-12-11 12:46] dzienisz commented on #86384
@Wowol ok I probably mixed up word untracked with staged. I want to stash only stashed files.

[2019-12-11 12:50] christyram99 opened #86747 "Ctrl + Click is not working when I am using es6 import function in node"
**file1.js:**
[code]

**file2.js:**
[code]

My CTRL + CLICK is not working for **getNumber** function in file2.js.

**Note:** I observed click functionality is working fine in two cases.

 1. When I remove the import function in file1.js
 2. By replacing **import** function with ``` const moment = require('moment') ```

[2019-12-11 12:53] bpasero commented on #86725
True, I think this should probably move to the gulp-atom-electron repository because changes need to happen there to support this.

[2019-12-11 12:55] bpasero commented on #86725
https://github.com/joaomoreno/gulp-atom-electron/issues/56

[2019-12-11 12:55] #86725 closed

[2019-12-11 13:01] alyahmedaly commented on #86040
Just for other people to know I found restart frame button vsCode call stack is useful for this case
![image](https://user-images.githubusercontent.com/6495633/70623573-b89b3f00-1c1e-11ea-95a6-45f80468214f.png)

[2019-12-11 13:09] silvus commented on #79680
No, to be precise I use ctrl+P, then validate with Enter.
The number of keys pressed is the same (but they are not the same :wink: ).

The first item in the list, the one selected, is the file opened previously.
So if I use ctrl + p, then Enter 2 times, I'm back on the starting file.

I can formulate the problem differently: I do not understand the interest of putting the cursor on the current fil

[2019-12-11 13:15] myfonj commented on #86727
Sure, I don't blame you, it's easy to overlook such detail. At the same time it's hard to design such panel to be both non-distracting and verbose enough to clearly communicate everything it does.

<small>(See: I've messed up instructions to get to this button myself: I've thought it is under left ">" toggle, but in fact is under right "..." toggle.)</small>

I assume the default state of the "⚙➖

[2019-12-11 13:16] StoyanIvanovI commented on #86699
I can reproduce the same terminal behaviour on Centos7 kernel 3.10.0-1062.9.1.el7.x86_64 and the same version of VS Code 1.40.2.

[2019-12-11 13:28] thomasaarholt opened #133556 ""Show Hover" does not show docstring when inside parenthesis"
## Environment data

- VS Code version: 1.40.2
- Extension version (available under the Extensions sidebar): 2019.11.50794
- OS and version: Windows 10
- Python version (& distribution if applicable, e.g. Anaconda): Anaconda 3.7.3
- Type of virtual environment used: conda
- Jedi or Language Server? (i.e. what is `"python.jediEnabled"` set to; more info microsoft/vscode-python#3977): true

## Expec

[2019-12-11 13:48] wmertens commented on #12058
@umdstu I don't understand how you can complain like that about free software. If it is really so easy to fix for competent programmers, please make the fix, since you're commenting from the viewpoint of a competent programmer.

There is nothing to be gained from commenting in this manner, all you're doing is adding negativity, making sure that this issue is sorted lower on the list.

@youurayy I

[2019-12-11 13:51] PierrickI3 commented on #86621
Hi @RMacfarlane, were you able to reproduce this issue with my code snippet?

[2019-12-11 14:06] bpasero commented on #79680
@silvus so this sounds a lot like https://github.com/microsoft/vscode/issues/6923 where we added a specific command for that purpose that you can bind to: `workbench.action.quickOpenPreviousEditor`

[2019-12-11 14:09] nhc opened #86748 "Multiple terminals to have tabs not just selected from dropdown"
I could not find this in feature requests.

Instead of just accessing multiple terminal sessions from the drop down I would like to have the option to have them listed as tabs.

They have the same feature in PHP Storm. Screenshot here

<img width="814" alt="Screenshot 2019-12-11 at 14 08 36" src="https://user-images.githubusercontent.com/288772/70628280-c9988000-1c1f-11ea-8549-c97b11239210.png">

[2019-12-11 14:16] dimkr commented on #6442
It __is__ posible to build for armhf/arm64 on x86, even on Travis CI - see https://github.com/VSCodium/vscodium/pull/303.

[2019-12-11 14:20] silvus commented on #79680
That's it ! Awesome! Thank you !
I do not understand why I did not find this command before...

[code]

[2019-12-11 14:21] gjsjohnmurray commented on #86748
/duplicate of #10546 which was the first result from my search for "terminal tabs"

[2019-12-11 14:21] #86748 closed

[2019-12-11 14:25] jasonwilliams commented on #64681
are there plans to do this?

[2019-12-11 14:28] tgrux commented on #86477
Sorry for the delay.  I’ve tried this a few times and not been able to get any data from the lldb process attachments.  I was able to capture the following errors.  When I reproduce the actual bug where the renderer freezes, I didn’t see any errors logged (I had 4 processes attached).  There two process that started right before the freeze happened, that I couldn’t attach to quick enough, after at

[2019-12-11 14:44] pavelloz commented on #86658
Im using the usual cmd+c which works in other apps.
And cmd+c also works in the editor mode, terminal mode - so i think its not my key bindings customization.

[2019-12-11 14:46] chrmarti commented on #84271
We still want to remove the old QuickOpen widget and have QuickOpen use the newer QuickInput widget. That's why we are reluctant to add features here.

[2019-12-11 14:47] alexdima commented on #71984
From @Daijobou in https://github.com/microsoft/monaco-editor/issues/1433#issuecomment-564552298

---

Its still exists here for me in this editor, in all browsers, Edge, Firefox, Chrome, Chrome dev, Opera
![issueA](https://user-images.githubusercontent.com/260343/70627264-e9b24a00-1bf3-11ea-8223-d91025ef36a6.gif)

As you can see, this happen only in zoom factor 100% and only in this editor. Increa

[2019-12-11 14:48] MrEduar commented on #85697
And they keep marking the topics as duplicates. They don't even give a solution. As @Bodup says you don't give solution in any of the issues opens. It's frustrating every time I'm doing the comparison and accepting results, I don't even use git in vs code.

[2019-12-11 14:50] umdstu commented on #12058
@wmertens without complains 'like that', nothing may ever happen. Maybe you're content having this bug for 3 years, I'm not. I also never said it was easy, nor did I say I was competent enough to fix it. If I was, I would have. Therefore it only stands to reason that they dont have those people. That's just logic. Don't presume that I was commenting from any viewpoint other than the statement made

[2019-12-11 14:52] umdstu commented on #12058
Also for what it's worth, I highly doubt my 'negativity' is going to make this any lower on the proverbial list than it already is. It's a nice sentiment though.

[2019-12-11 14:54] alexdima commented on #71984
@Daijobou Thank you for your quick response. Can you please open the page at https://fiddle.jshell.net/7qsktwj2/show/ in Chrome and check the rendering please

Here is how it renders for me (I am on a high DPI monitor):
![image](https://user-images.githubusercontent.com/5047891/70631996-5813fe00-1c2e-11ea-8661-0c1f88334c73.png)

That page is the run result of a fiddle I have created at https://jsf

[2019-12-11 14:54] eamodio commented on #86722
FYI, You can also read that value and write your own version (or overwrite the same one) with px added.

[2019-12-11 15:01] akontsevich commented on #12058
Problem could be deeper: seems problem happen not because VS Code does not save the state, but it loses, cleans up or even corrupts the state for some reason. So think only project programmers can fix.

[2019-12-11 15:15] BobbyMcWho commented on #85555
This has been happening, and is still happening for me on `1.40.2`.

Trying to search for an extension shows "No extensions found."

Toggling dev tools, the console shows:
![screen recording showing a search of the vscode extension marketplace for Docker, and the associated errors present in the dev tools console](https://user-images.githubusercontent.com/6934825/70633257-3f8bef80-1bfe-11ea-9c44-f

[2019-12-11 15:22] sbatten commented on #86339
had the same experience, when testing with the custom menus enabled.

[2019-12-11 15:22] chiboreache commented on #12058
Just making `Exit` available for binding - would be nice workaround, since `Super+Q` won't work

[2019-12-11 15:24] isidorn commented on #86469
@misolori I have started a bit with the cleanup. You can see the attached commits for reference. I hope this simplifes the structure and if you have questions do let me know and I can explain more.

[2019-12-11 15:27] connor4312 opened #86749 "Asynchronously verified breakpoints are not always marked as "verified" within the UI"
Observed by @testforstephen in https://github.com/microsoft/vscode/issues/83743#issuecomment-563894120 and myself in https://github.com/microsoft/vscode-js-debug/issues/144 -- the latter has steps to reproduce the issue.

[2019-12-11 15:39] JacksonKearl opened #86750 "Minimap doesnt render cursor wordmatch highlights"
Place cursor on a symbol, notice occurences of that symbol appear in ruler, with different colors for read and write access. Those decorations should appear in the minimap as well, but dont.

Here, the gray highlights in the ruler are occurences of the `meta` symbol.
![image](https://user-images.githubusercontent.com/8586769/70635740-48be9180-1be9-11ea-83b7-529ed536a47e.png)

[2019-12-11 15:39] sbatten commented on #80791
@webmaster128 The fastest way to access recent files or folders is through the `Open Recent` command. The default keybinding is `Cmd+R` (macOS) or `Ctrl+R` (windows/linux). This command will show you a longer list that you can even type to filter.

[2019-12-11 15:39] #80791 closed

[2019-12-11 15:42] asphub commented on #60579
![Screenshot 2019-12-11 at 9 10 04 PM](https://user-images.githubusercontent.com/11062009/70635949-be167a80-1c5a-11ea-9d62-35596b620d98.png)

### macOS Catalina (Version 10.15)

[2019-12-11 15:42] jrieken commented on #86698
wow - it takes more than 10 seconds to launch a new process... Do you use anti virus software and iff so can you rerun with that disabled

<img width="943" alt="Screenshot 2019-12-11 at 16 41 34" src="https://user-images.githubusercontent.com/1794099/70635990-1a66a380-1c35-11ea-8800-787700ffceb7.png">

[2019-12-11 15:51] Daijobou commented on #71984
![image](https://user-images.githubusercontent.com/260343/70635895-aa3f2a00-1c02-11ea-95f6-1df4ec6397c6.png)

Only size 14 is strange. So I tried it in notepad.exe for font-size 14 too and there was the same issue. So that is not a monaco issue. I dont get it, why I have this crap for this character. ^^°

[2019-12-11 15:53] RMacfarlane commented on #86621
@PierrickI3 Yes, thank you, I'm able to reproduce the issue!

[2019-12-11 15:57] ASopH opened #86751 "Charmap/Zeichetabelle"
Issue Type: <b>Feature Request</b>

Leider gibt es keine (erweiterte) ASCII Zeichentabelle oder die Möglichkeit bestimmte Zeichen visuell einzusetzen. Einsatz in BAT/CMD/PS.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18363

[2019-12-11 16:06] JarrettSpiker opened #86752 "TreeView.message only works with Insiders"
The `TreeView.message` API only seems to work when run through VSCode Insiders.
Using it in VSCode 1.40 seems to either produce no effect, or throw errors saying that a proposed API is being used.

I am open to the idea that I am missing something obvious here and this API is still only "proposed", but it is shown in the API documentation:
https://code.visualstudio.com/api/references/vscode-api#Tr

[2019-12-11 16:07] IllusionMH commented on #86745
Could you try to reproduce this issue with Insiders build? https://code.visualstudio.com/insiders/

[2019-12-11 16:09] RMacfarlane commented on #86717
If you click the gear icon by the extension, you can use "Install Another Version" to go back to a different version:
![Screen Shot 2019-12-11 at 8 07 35 AM](https://user-images.githubusercontent.com/3672607/70638234-5d048d80-1bed-11ea-8df4-83a23fba57f3.png)

Since this is a problem with the Aura extension, please report it there: https://github.com/forcedotcom/salesforcedx-vscode

[2019-12-11 16:09] #86717 closed

[2019-12-11 16:12] JarrettSpiker commented on #86752
For reference, this is the error produced:
[code]
When setting a message on https://github.com/microsoft/vscode-extension-samples/blob/master/tree-view-sample/src/ftpExplorer.ts#L163

[2019-12-11 16:12] IllNate opened #86753 "Search with "files to include" asks to "narrow down results""
Issue Type: <b>Bug</b>

Steps to reproduce:
1. Work on a project with lots of files, like the linux kernel
2. Use find in files and fill in an include path like "/path-to-project/**/*bcm203*"
3. Search for a common keyword like "string"
4. You will get an error such as "The result set only contains a subset of all matches. Please be more specific in your search to narrow down the results."

When y

[2019-12-11 16:13] weinand commented on #86684
@maziac would you really need hovers on "any" file, or would files of a specific file type sufficient?

I'm asking because we already have a "language" sub-contribution for the "Debuggers" contribution that defines where breakpoints can be set. We could re-purpose this contribution for establishing a "global" scope.

[2019-12-11 16:22] tomsaunders-code commented on #85501
@alexr00 absolutely, checkout master on the extension repo:

https://gitlab.com/tomsaunders-tools/vscode-workspace-explorer

The file doing the heavy lifting:
*  `/src/workspaceTreeItem.js` - Tree Item and functions to find images on treeDataProvider refresh event.

To reproduce you can do the following in this extension:
* Set the workspaceExplorer.workspaceStorageDirectory configuration
* Add/sa

[2019-12-11 16:23] RMacfarlane commented on #86740
@dariocostanzo What's the value of your "window.restoreWindows" setting?

If you change branches outside of VSCode, it's expected that the branch would also change within VSCode. VSCode directly uses git for this information.

[2019-12-11 16:25] spwebguy opened #86754 "Fantastic software"
Issue Type: <b>Performance Issue</b>

Hi team,

I've got no issues for you, I just want to let you know that this is the best f****** code editor I have ever worked with. I have tried a lot of them, during many years of coding (mostly PHP/JS) and Visual Studio Code is by far the fastest and easiest app to work with.

Huge thank you from France.

Gia-

VS Code version: Code 1.40.2 (f359dd69833dd880

[2019-12-11 16:25] RMacfarlane commented on #86712
@lfjbb Can you check to see if there is anything in the dev console? (F1 > Developer: Toggle Developer Tools)

What extensions do you have installed?

[2019-12-11 16:29] isidorn commented on #86469
@misolori  One of the missing things is that the call stack decoration is not rendered inline - there is just an empty area. I am not sure how you did the rendering in the glyph margin, and what is exactly missing when it is an inline decoration. To repro have the following sample:
[code]
Once you step over the for has multiple statmens so there should be an inline decoration in the editor.

I wil

[2019-12-11 16:31] #75331 closed

[2019-12-11 16:33] RMacfarlane commented on #79632
@madig I'm having trouble reproducing this, do you still see this on the latest version of VSCode? For me, the window is maximized when opened from the task bar.

[2019-12-11 16:34] alexdima commented on #71984
That is bizarre...I guess there is something off with Consolas itself, I don't know. I would suggest to just switch to another font / font size ...

[2019-12-11 16:34] #71984 closed

[2019-12-11 16:34] RMacfarlane commented on #83741
@Dgcf Does this happen when extensions are disabled? What version of VSCode are you using?

[2019-12-11 16:37] mar-ses commented on #12058
Just to add my two cents on this: I agree partly with @wmertens, this is a free project, it isn't fair to complain that someone else isn't doing the work necessary to fix an issue.

**However**, I think one of the reasons people are complaining isn't the fact that it's not being fixed, but that it's being swept under the rug. It doesn't seem to feature as a problem that the developers find importa

[2019-12-11 16:37] dariocostanzo commented on #86740
Hi @RMacfarlane,
the value of my "window.restoreWindows" setting is set to `one` (default). But I changed it to `all` so it will reopen everything, that's what I needed.

RE branch changes, the issue wasn't occurring when  changing branch.

Thanks

[2019-12-11 16:37] #86740 closed

[2019-12-11 16:39] sepw opened #86756 "Custom icon lost after app is updated"
Issue Type: <b>Bug</b>

OS: macOS 10.14.6.

On macOS it's possible to change the icon of an item (folder, file or app) by doing the following:

1. Find the item in the Finder

2. Right-click the item and select "Get Info"

3. In the displayed Get Info window, select click icon in the top-left corner of the window to select it and paste an icon image from the clipboard.

4. macOS stores this icon a

[2019-12-11 16:45] jrieken commented on #86755
This is on purpose to prevent code jumping when typing. Having the error box and typing to fix an error below will likely change your viewport and that can disturbing.

Preesing ESC should close it, no need to close the editor

[2019-12-11 16:47] jrieken commented on #86643
This happens when you use "Configure Default Formatter"

[2019-12-11 16:47] MichelDiz opened #86757 "Add a "Suspend" feature (Like "great suspender")"
In general, in my daily work, I tend to open many applications. Too many browser tabs(must of it keeps suspended) and too many VS projects. However, some projects I open with VS are just "tests." I keep them open to study. But I wish I could "freeze" them to save RAM and sometimes CPU process.

Amazingly, it is the VS Code that consumes the most memory on my desktop today.

Please, analyze this wi

[2019-12-11 16:48] #86726 closed

[2019-12-11 16:48] RMacfarlane commented on #86726
Please open this feature request on the Python extension: https://github.com/Microsoft/vscode-python

[2019-12-11 16:49] darkpoetcc commented on #86723
On my system, it gobbled up over ~24 GB RAM before crashing.  It seems it will run away and use as much RAM as it finds free, which could be a problem for OS stability (at least in Windows).

![image](https://user-images.githubusercontent.com/6785272/70641757-18d4b580-1c0c-11ea-96a5-4942119ac665.png)

[2019-12-11 16:52] RMacfarlane commented on #86710
@ZimKhan What operating system are you using? Have you been able to successfully install previous version of VSCode? Does launching VSCode with `code --disable-gpu` fix the problem?

[2019-12-11 16:53] IllNate commented on #86753
It seems like a temporary work around is to add "./" to _files to exclude_. This seems to have the desired behavior, but is not intuitive.

[2019-12-11 16:54] misolori opened #86759 "Sync: Settings aren't synced when there is an update"
I noticed that when I came back to my Windows laptop that hadn't been updated with Insiders in a few days that my settings were not synced. I reloaded the window and checked that I was signed in and Sync was on, but it wasn't until I updated Insiders that it actually updated my settings.

[2019-12-11 16:55] #86751 closed

[2019-12-11 16:57] felixpenrose commented on #12058
Agreed. Some acknowledgement from a relevant party that this is a bug and will have some eyes look at it in a reasonable time frame would be great.

It's a bug I regularly encounter, not a once in a while problem.

[2019-12-11 16:57] roblourens commented on #86742
I can't repro, please share a log or the launch config

[2019-12-11 16:58] jrieken commented on #86734
Yes - we never saw a need for differentiating between those use-cases whereas the others have concrete ones. So, why do you need to know this?

[2019-12-11 17:01] JacksonKearl commented on #86317
Updated the scope names.

[code]

![image](https://user-images.githubusercontent.com/8586769/70642828-c76cfc00-1bf4-11ea-8c56-c74ee68eb391.png)

[2019-12-11 17:01] Harry09 commented on #86698
I only use Windows Defender.
Woah, it helped.
After turning on again, it still startup fast.
[prof-f454.main.cpuprofile.txt](https://github.com/microsoft/vscode/files/3951585/prof-f454.main.cpuprofile.txt)
[prof-f454.renderer.cpuprofile.txt](https://github.com/microsoft/vscode/files/3951586/prof-f454.renderer.cpuprofile.txt)
[prof-f454.extHost.cpuprofile.txt](https://github.com/microsoft/vscode/fi

[2019-12-11 17:04] alekseiAlefirov commented on #34739
I would like to agree with that Notebooks should not be directly associated with programming in Python in VS Code. Considering that [the community contributes a lot in creating different language kernels for Jupyter](https://github.com/jupyter/jupyter/wiki/Jupyter-kernels), it seems natural to have this awesome Jupyter front-end, that now resides in the Python extension, extracted. It would be rea

[2019-12-11 17:12] #85304 closed

[2019-12-11 17:12] jrieken commented on #86698
Can you check if you have a (defender) update pending?

[2019-12-11 17:12] darkpoetcc commented on #86723
@varadero -- I noticed you are using Angular, as am I.  I noticed this updated only 5 days back, and now I am having a bunch of issues.  I am going to try disabling the Angular Lang Service and see if normal typescript projects are problematic.

[2019-12-11 17:13] sbatten commented on #85304
@chriskrycho thanks for pointing this out. since the behavior for inherit has been around for so long, I opted to added a new option named `offset` that function as you desire.

[2019-12-11 17:13] chriskrycho commented on #85304
Makes sense to me – thanks for fixing it!

[2019-12-11 17:13] avivbiton commented on #52855
Happened to me as well, and VS Code website download link is broken. Never thought I wouldn't be able to code because of an IDE

[2019-12-11 17:15] gramster commented on #34739
See https://github.com/microsoft/vscode/issues/84293

[2019-12-11 17:16] roblourens commented on #86742
Actually I can repro, and can repro the same thing in chrome devtools, seems to be a bug with node interpreting the blackbox patterns.

[2019-12-11 17:18] ASopH opened #86760 "Charmap or ASCII Map needed"
Issue Type: <b>Feature Request</b>

Unfortunately, there is no (extended) ASCII character table or the ability to use certain characters visually. Use in BAT / CMD / PS.

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18363

[2019-12-11 17:20] maxrothman opened #86761 "Hide noisy variables in go-to-symbol palette"
It's sometimes difficult to use "Go To Symbol" to go to a specific method of a class because the namespace of the palette is polluted with variable names. Personally, I have no need to use "Go To Symbol" to navigate to variables, so just like I can hide them in the outline, I'd like to be able to hide them from the palette.

[2019-12-11 17:22] blois commented on #86734
The concrete scenario is that we have completions on code which contains nested languages. The completion logic for the nested language may not be as high quality as the surrounding code so we'd like to only provide completions if the user explicitly requested while inside of the nested context.

An example is a system which provides completions for SQL strings within Javascript such as:
https://w

[2019-12-11 17:24] roblourens commented on #86753
You will get that message whenever the search returns 10,000+ results. You should see the first 10,000 results and that message. If this doesn't explain what you are seeing, please include more details.

[2019-12-11 17:25] jergsistemas opened #86762 "Extension Manager"
Issue Type: <b>Feature Request</b>

Hi, I don't know if there's already something to manage extension by it would be awsome if there could be a Feature or an Extension that we could use to manager our extensions by the kind of development that we want to do, If I want to work with Angular then have a extension setup for it (even better if we could save settings for those extension), if I want to w

[2019-12-11 17:27] Harry09 commented on #86698
I checked for updates and there was update to (KB2267602 (version: 1.307.279.0))

[2019-12-11 17:30] octref opened #86763 "SCSS function completion: Use parameter hints"
Currently when we complete a function in SCSS, it completes all parameters:

![image](https://user-images.githubusercontent.com/4033249/70644906-c342dd80-1bf8-11ea-9933-2be6dfb77bd7.png)

I think a better experience would be to use parameter hints and do not show the parameter names.

[2019-12-11 17:32] roblourens commented on #86631
Can you check whether this works in Insiders? I might have fixed the same issue there.

[2019-12-11 17:32] octref opened #86764 "CSS hover for property values"
There's completion details for property values:

![image](https://user-images.githubusercontent.com/4033249/70645046-0a30d300-1bf9-11ea-8e2b-5b54c92356ef.png)

But no hover for them.

[2019-12-11 17:33] octref opened #86765 "SCSS function hover"
In SCSS, when hovering over a function, we should show its documentation. Currently it only shows the property name's documentation:

![image](https://user-images.githubusercontent.com/4033249/70645122-351b2700-1bf9-11ea-98e5-f55ac1a813cd.png)

Depends on #86764.

[2019-12-11 17:34] 20chan commented on #86631
@roblourens I'm sorry but as I mentioned, I can't reproduce this issue anymore.

[2019-12-11 17:35] darkpoetcc commented on #86723
So, after some testing, I disabled my Angular extensions, and can write generic TypeScript files without any problems.  Whereas I was getting an error every 1-5 lines in an Angular project, that same project with only a TypeScript file is working just fine.

I will continue digging, in case it can save some time for the devs, but I am already seeing more stability in 55 lines of generic TypeScript

[2019-12-11 17:36] aninditkarmakar commented on #83775
@tommai78101 - the reason why I chose"@!" was because when we do a [Ctrl]+[Shift]+[O] in the text editor, VSCode opens up the 'Go to symbol in file...' dialog box and the search string there begins with "@".

To keep consistency with that, my reasoning was that the added "!" to the "@" would denote the opposite of filtering by searching for a string in the Problems list.

The added benefit of usin

[2019-12-11 17:38] octref commented on #86382
@DonJayamanne Did the problem in #81652 go away or did you find a solution?

[2019-12-11 17:41] roblourens commented on #86631
Are you using a proxy or vpn? I'm not sure why you getting that svg, but in any case, I looked at a similar issue earlier this month and fixed it so that if that request fails, it will not fail the whole marketplace search.

[2019-12-11 17:41] #86631 closed

[2019-12-11 17:45] hilari0n commented on #86671
I'm not sure why this was moved from [microsoft/monaco-editor](https://github.com/Microsoft/monaco-editor/issues) to [microsoft/vscode](https://github.com/microsoft/vscode/issues), as vscode already had this issue reported  #1012, and it [was explained](https://github.com/microsoft/vscode/issues/1012#issuecomment-474150574), that implementing this in vscode is a problem due to the monaco editor li

[2019-12-11 17:46] sbatten commented on #80611
fixed by f149dbbedf99267b175bd6c4abae2341102aa408

[2019-12-11 17:46] #80611 closed

[2019-12-11 17:50] gwk opened #86766 ""Generating Tags" process is noisy and disruptive."
Issue Type: <b>Bug</b>

I have a testing framework that creates symlinks in subdirectories of the `_build` directory. Recently, VSCode Insiders has started spontaneously opening the "OUTPUT" tab of the console tray, and spewing tons of warnings from "ctag". Here are the first few lines:

[code]

Followed by many more warnings.

Additionally, I now see a `.vscode/tags` file getting generated in all

[2019-12-11 17:51] gwk commented on #86766
@vscodebot that is not a duplicate.

[2019-12-11 17:53] sbatten commented on #86614
The feedback widget uses the same context view that the menu widgets use. Currently, there can only be one at a time. We need to introduce some separation mechanism.

/cc @joaomoreno

[2019-12-11 17:57] jrieken commented on #86698
Did that change anything?

[2019-12-11 17:58] gwk commented on #86766
The output console pane continues to steal focus from the editor window every couple of minutes. This is making VSCode Insiders maddeningly unusable. I suggest you treat this as a high priority regression. In the meantime I will try switching to non-insiders.

[2019-12-11 18:03] mjbvz commented on #86690
Thanks. It was not clear if the feature never worked or if it was specific to certain projects

[2019-12-11 18:09] roblourens commented on #86742
Filed https://github.com/nodejs/node/issues/30903

[2019-12-11 18:10] roblourens commented on #86742
This feature is not implemented in the new adapter, although it actually uses a different technique which may or may not avoid this issue.

[2019-12-11 18:12] JarrettSpiker opened #86767 "API: Keep hover open until explicit focus out"
### Request:
Provide a way to open a hover which will keep the hover open until an explicit focus out.

### Motivation:
I am authoring an extension which force-opens hovers in the editor on certain user interactions (i.e. clicking on a TreeView element, or a command in a different hover).
This is accomplished easily enough moving the user's cursor to the appropriate range in the editor, and then e

[2019-12-11 18:56] misolori opened #86768 "Make css auto completion items overtype on semicolon"
![gif](https://user-images.githubusercontent.com/35271042/70650616-49b0ec80-1c04-11ea-8e7f-e45a0c33244a.gif)

Now that auto complete adds a `;` when selecting properties, it would be great if typing a `;` next to a semicolon would overtype so that I can quickly get to the end of the line and keep typing. I know that you can type `cmd/ctrl+enter` to start a new line, but typing a semicolon is a bit

[2019-12-11 18:57] Harry09 commented on #86698
As I said before, when I am turning on Defender again, VS Code startup time is like when Defender is off..

[2019-12-11 19:02] swjain23 commented on #9827
Any update on this? We want to group commands to support adding new files from template, like in Visual Studio:

![image](https://user-images.githubusercontent.com/36710109/70651330-76193880-1c05-11ea-9494-f067ce269a43.png)

[2019-12-11 19:02] mjbvz commented on #86723
@varadero Does this happen when you disable the angular extension? What if you disable tslint as well?

[2019-12-11 19:06] mjbvz commented on #86704
This color comes from the rules for `variable.other.enummember`.

[2019-12-11 19:17] niemeier23 commented on #84136
@deepak1556, do you have the same exploration build for Windows 10?

[2019-12-11 19:27] Harry09 commented on #86698
I also noticed that other Electron-based apps startup faster (like Spotify or Discord). This is weird. Something must have switched in Defender.

[2019-12-11 19:37] octref commented on #77513
Is this still an issue for you in latest version?

[2019-12-11 19:42] cazfletch commented on #77513
No in vscode 1.40 it seems to have been fixed

[2019-12-11 19:42] #77513 closed

[2019-12-11 19:43] sbatten commented on #85798
It seems that electron is just ignoring the super part of the shortcut even though is documented as supported. @deepak1556 let me know if we can't fix this on electron side and I will patch with our "non-native keybind" workaround

[2019-12-11 19:53] mjbvz commented on #86477
Thanks @tgrux. Can you also try one more thing:

1. In your VS Code settings json file, add `"webview.experimental.useExternalEndpoint": true`
1. Then try reproducing the issue

This undocumented setting will switch VS Code from using webview to using iframes to render markdown content. It will help us track down what is triggering this

[2019-12-11 19:55] mjbvz commented on #86747
If you enable [semantic checks](https://code.visualstudio.com/docs/nodejs/working-with-javascript#_type-checking-javascript) in your js files by adding `// @ts-check` at the top, do you see any errors?

[2019-12-11 19:55] rebornix opened #86769 "Clicking on List Widget triggers opening twice"
- VSCode Version: Insiders
- OS Version: macOS

Run into this issue while registering another `editorOpenOverride`. The symptom is, when clicking an item in the file explorer, editor open event is emitted twice internally.

https://github.com/microsoft/vscode/blob/467a297f51fd11ba7a822b716dd20896912b50e6/src/vs/base/browser/ui/list/listWidget.ts#L616-L620

In above code, `list.setSelection` trigge

[2019-12-11 19:59] mjbvz commented on #81574
@bpasero I'm still trying to figure out how to fix those. If a file in the list only errors related to that, please assign me

[2019-12-11 20:11] headmelted commented on #1031
Builds at https://code.headmelted.com are now up-to-date and rolling again!

I’m going to work on some instructions for the QEMU emulation as I’m not sure if it’s something that should be rolled into the builds for people that don’t need/want it.

[2019-12-11 20:41] sujanrajs opened #86770 "Can't Download VS CODE for MAC"
Your connection is not private
Attackers might be trying to steal your information from go.microsoft.com (for example, passwords, messages or credit cards). Learn more
NET::ERR_CERT_COMMON_NAME_INVALID

[2019-12-11 20:53] octref commented on #80757
This is doable by changing test running script:
- Currently, when the test finishes with failure or when the test fails to run, the test script throws error, which is handled in Ext Host by `err.toString`
- The test writer can print the error in the case when test fails to run

[2019-12-11 20:54] #80757 closed

[2019-12-11 20:55] mjbvz commented on #84940
@eamodio If you are still interesting in investigating this, I suspect it's not that setting itself that causes problems but the fact that it causes a very large number of diagnostics to be generated

[2019-12-11 20:55] octref commented on #80757
Verifier:
- Create a statement to `throw Error('something')` outside the `test` function callback: https://github.com/microsoft/vscode-extension-samples/blob/ba9a56e68277b6ba0ae3ee4593b6a864ba158b1f/helloworld-test-sample/src/test/suite/extension.test.ts#L11-L14
- Run the extension test from either CLI (`npm run test`) or debug viewlet. See error with full stack trace.

[2019-12-11 20:57] jsgoupil commented on #85592
The same thing happens on the Insider 1.41. This is particularly painful when the errors are hidden. I can't see the red squares in the scrollbar.

When it's small, it's OK...
<img width="594" alt="small-ok" src="https://user-images.githubusercontent.com/808649/70659778-a1a41f00-1c15-11ea-905f-9600b1326bf1.png">

But when it's maximized, it's not OK :(
<img width="960" alt="big-not-ok" src="https:

[2019-12-11 20:59] octref commented on #83254
@aeschli Seems to related to ext host not the vscode-test library, so assigning to you.

[2019-12-11 21:01] octref commented on #82471
I think you should have some layering logic so that unit tests can run without access to vscode module. For example: https://github.com/microsoft/vscode-wordcount/issues/5#issuecomment-171050759

[2019-12-11 21:01] #82471 closed

[2019-12-11 21:06] octref commented on #84063
Does this still happen with latest version? Latest sample should work on all 3 platforms: https://dev.azure.com/vscode/vscode-test/_build?definitionId=15

[2019-12-11 21:11] morl0048 opened #86771 "Visual Studio Code opens off-screen with different scaling monitors"
Version: 1.40.2 (user setup)
Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
Date: 2019-11-25T14:54:45.096Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

Steps to Reproduce:

1.I'm working on a laptop at home and have another screen to plug in via HDMI.
2.Place the visual studio code editor on my second screen.
3.Dock the editor on

[2019-12-11 21:14] getreu commented on #86745
I tried with Insiders build, but still the same buggy behavior.
Workaround: I deleted `~/.config/Code` and `~/.vscode`. After opening _vscode_ again, I reinstalled all my plugins and everything worked fine so far.
As I can not reproduce the steps that lead to my problem, I close this issue. Thank you for having had a look into this.

[2019-12-11 21:14] #86745 closed

[2019-12-11 21:29] tommck commented on #86660
I need to get my corporate overlords to white list the Insiders version of the app in order for it to be usable at all (otherwise there's a process constantly scanning every file access it makes, etc).  So it will take a bit to test this

[2019-12-11 21:47] sandy081 commented on #86737
After discussing, decided to stay with the current behaviour as this has been well established.

[2019-12-11 21:47] #86737 closed

[2019-12-11 21:53] sandy081 commented on #86583
@bpasero It seems the user has issues with the shared process looks like it is not started.

Any idea how this can diagnosed?

[2019-12-11 22:11] darkhappy opened #86772 "Starting up vscode takes forever"
Starting VS Code takes around 20-30 seconds, which doesn't seem normal, considering the specs I have, the fact that it's installed on an M.2 drive with 2.2GB/s rated read/write and that I only have a few extensions.

## System Info

* Code: 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520)
* OS: win32(10.0.18363)
* CPUs: Intel(R) Core(TM) i7-8086K CPU @ 4.00GHz(12 x 4008)
* Memory(System): 15.93 G

[2019-12-11 22:11] IllusionMH commented on #86745
Glad that you found solution!

[2019-12-11 22:13] dustinself opened #86773 "vscode opens to a blank black screen"
Issue Type: <b>Bug</b>

1. Open vscode
2. Get a blank black screen
3. Reinstall to fix
4. Close vscode
5. Open vscode
6. Get a blank black screen, again

VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60G

[2019-12-11 22:15] connor4312 commented on #79314
While this seems fairly easy to support in js-debug, I'm not sure I really see the use case for this. Were there concrete scenarios we had in mind around it?

[2019-12-11 22:15] DarkHappyy commented on #86772
[prof-1639.extHost.cpuprofile.txt](https://github.com/microsoft/vscode/files/3952831/prof-1639.extHost.cpuprofile.txt)
[prof-1639.main.cpuprofile.txt](https://github.com/microsoft/vscode/files/3952832/prof-1639.main.cpuprofile.txt)
[prof-1639.renderer.cpuprofile.txt](https://github.com/microsoft/vscode/files/3952833/prof-1639.renderer.cpuprofile.txt)

[2019-12-11 22:19] varadero commented on #86723
@mjbvz I will test now but I am already with slightly new VSCode version (2019-12-10T21:44:16.632Z) compared to these that crashed (including and prior to 2019-12-10T12:59:54.138Z). My new version:

Version: 1.41.0-insider (user setup)
Commit: 9579eda04fdb3a9bba2750f15193e5fafe16b959
Date: 2019-12-10T21:44:16.632Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: