[2017-03-13 18:52] Tyriar commented on #22409
@roblourens have any relevant settings? And what platform?

[2017-03-13 18:54] Tyriar commented on #15335
@sungb can you provide some more details?

- What's the output of `echo $LANG`?
- What's in your settings.json file?

[2017-03-13 18:56] Tyriar commented on #22371
@drorl maybe `--disable-gpu` will work?

[code]

Closing this off as we don't officially support this so there's not much more we can help with.

[2017-03-13 18:56] #22371 closed

[2017-03-13 19:13] sean-mcmanus commented on #22519
@weinand Our C++ Extension doesn't provide syntax highlighting for C++. It's provided by VS Code as part of atom/language-c. So the fix needs to go there, but who provides the fix is "up in the air"...it's open source so anyone can submit a fix, but it's hard to get anyone to take responsibility for actually submit the fix.

[2017-03-13 19:25] Stevenic commented on #22188
Mine started working when I re-created my project in another folder with all new files.  I literally just copied the contents of each file as it was a small project. And yes I had already tried deleting the .vscode folder.

P.S. - I'm in MSFT Bldg 112 if anyone in Redmond wants to come over and debug the other project.

[2017-03-13 19:30] sean-mcmanus opened #22557 "Feature request: Setting to change workspaceStorage location"
Our C++ extension can generate several GB of per-workspace data (and theoretically so could other extensions). We want some sort of workspaceStorage setting so users can change the location to a drive with more storage space. The default on Windows is AppData\Roaming\Code\User\workspaceStorage. Our extension could provide this setting ourselves, but it seems like it should belong to VS code so tha

[2017-03-13 19:31] ir-ma3x opened #22558 "trimTrailingWhitespace conflicts with insertFinalNewline"
`trimTrailingWhitespace` deletes the line created by `insertFinalNewline`.

- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T13:56:35.908Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.7.0|
|html-css-class-completion|Zignd|1.0.3|
|html-snippets|abusaidm|0.1.0|
|path-intellisense|christian-kohler|1.2

[2017-03-13 19:52] roblourens commented on #22409
Windows or Mac at least. All you have to do is have any simple Node app, add `"console": "integratedTerminal"` to your launch config, and start debugging.

[2017-03-13 19:59] bkentdev opened #22559 "Move command palette below editor tabs"
The command palette overlaps the tabs of all your open files. This is particularly problematic when you are using the command palette to open a file and you want to reference your tabs that are currently open. Use-case: I am working on `some-really-unique-filename.component.js` and open the command palette to go to `some-really-unique-filename.style.css`- but the command palette overlays all the t

[2017-03-13 20:07] cleidigh commented on #21669
@misoguy
just checked out and tried out your code , looks good nice addition for us keyboard users
I'm working on a keyboard expand contract for visible parts may have to borrow from your similar stuff ;-)
Hope your review mine as well !

[2017-03-13 20:15] atombender commented on #22490
I am using the Ruby extension (0.10.4). But whenever I bring up grammar deficiencies, I'm told that's all in VSCode itself.

[2017-03-13 20:22] cleidigh commented on #16533
@bpasero
I have been working on more code familiarization, found a bug in SCM and work to better understand code. I have a fork and a new branch ready to go and start.

I have been looking at @misoguy navigation feature , as well as your comments and others for reference.

couple of questions:

- should I create a new issue specifically addressing keyboard versus  this mouse control issue ?
- newb

[2017-03-13 20:23] Tyriar opened #22560 "Intellisense highlight is gone"
- VSCode Version: Code - Insiders 1.11.0-insider (dd197f19ddad6f8fa960c5f330fb7182c2321de3, 2017-03-13T07:19:17.514Z)
- OS Version: Linux x64 4.8.0-41-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-svgviewer|cssho|1.4.0|
|EditorConfig|EditorConfig|0.6.2|
|tslint|eg2|0.8.1|
|git-project-manager|felipecaputo|1.0.1|
|md-navigate|jrieken|0.0.1|
|vscode-scss|mrmlnc|0.6.2|
|seti

[2017-03-13 20:27] randywick commented on #22547
Same issue experienced from `1.10.2` on `Linux 4.8.0-39-generic`, but after opening Settings to verify the option was set properly, autoSave began working properly on focus change.

[2017-03-13 20:34] #22409 closed

[2017-03-13 20:35] Tyriar commented on #22409
@weinand this was due to a change I made around `ITerminalConfiguration` (I didn't meant for it to be exposed outside the part). Please review/tidy up https://github.com/Microsoft/vscode/commit/b431c763ded1508b148590a10d140585c2055a2e, I'm not sure how to verify debugging on the dev build.

[2017-03-13 20:36] ZiyiFeng-SJSU commented on #21965
OK, I just have to bring this up again.
Could we have an option that **ask user to setup a default light-color-background color theme as the copy syntax highlighter.**

I believe most of the users like dark background text editors. So for people who are using dark theme, copying highlight syntax would be useless without changing back to light theme, since most of formal documentations/reports, col

[2017-03-13 20:47] ramya-rao-a commented on #21583
Slack has this "gift" icon. On hover it says "What's new". Clicking opens a side pane with the new features.

In the extensions pane, we now have the "Update to .." button when there is an update available.
We can use the same space for a "What's new" button when there is no update and changelog exists for the extension. Clicking on which should open the Changelog tab.

@stevencl Thoughts?
cc @Mic

[2017-03-13 20:56] bobmagicii opened #22561 "files that are opened are getting ".git" appended to their file names internally"
.git is being appended to the names of files internally, when their filenames are accessed via the extension api.

because vscode insists on throwing file open and file close events `for tab switching` i have to compare the file that was closed to the list of files code is still keeping open, after a delay, so code asyncly has time to actually attempt to close it.

because code is appending this w

[2017-03-13 21:00] peabnuts123 commented on #6144
Why is this closed?

[2017-03-13 21:00] jeffyoung opened #22562 "Extensions: Expose version of VS Code"
My extension sends telemetry via Application Insights and it'd be great to have access to the version of VS Code used with the extension.  I found how VS Code [gets that version ](https://github.com/Microsoft/vscode/blob/master/src/vs/code/electron-main/menus.ts#L1109)for the Help | About dialog, but it doesn’t appear to be exposed to extensions (e.g., via env or ExtensionContext

- VSCode Version

[2017-03-13 21:05] bkentdev opened #22563 "Combine New Minimap with Git Sidebar"
There are "two" many minimaps. 😆
With the minimap and the old "git sidebar", there appear to be two minimaps. This is especially problematic when navigating/traversing a file by using each minimap. Its just confusing. They should be combined into one to minimize the confusion/user-friction in utilizing the new minimap feature:

![two-many-minimaps-2](https://cloud.githubusercontent.com/assets/1040

[2017-03-13 21:17] bobmagicii commented on #22561
i cannot find a single instance where code is not appending `.git` now to open file names.

this was not happening a few insider releases ago.

[2017-03-13 21:17] weinand commented on #10876
@sebsto @devmao what shell are you using?

[2017-03-13 21:20] gerane commented on #22396
@joaomoreno If I close out of all of the windows naturally by using context menu, there doesn't seem to be any left over processes. I also tried disabling PowerShell Extension, closing all windows and reopening, but still get the same error.

I then tried open a single new window without an open project or file and saw the same behavior.

So I closed Code, made sure there were no processes running

[2017-03-13 21:20] schaveyt commented on #22322
Yes, yes, yes!!! Please please please!!

Just clone atom or sublime's UX for this area and everyone and their sister will adopt vscode.

[2017-03-13 21:22] weinand commented on #22563
/cc @joaomoreno

[2017-03-13 21:31] schaveyt commented on #19940
Agree. It seems that if the found in #22322 where implemented the it would enable this sort of experience.

[2017-03-13 21:33] benrr101 opened #22564 "Support UTF-16 w/o BOM"
- VSCode Version: 1.10.2
- OS Version: Windows 10

Steps to Reproduce:
1. Create a UTF-16 file without a BOM at the beginning of the file
2. Attempt to open it inside VS Code, it will not open because it is detected to be "binary"

Both Sublime Text and Atom can open UTF-16 files without a byte order marker, but VS Code cannot. Sublime Text does it perfectly, while Atom needs some coaxing to get i

[2017-03-13 21:36] weinand commented on #22265
Closing, since we do not understand the question.

[2017-03-13 21:36] #22265 closed

[2017-03-13 21:37] chrmarti commented on #21583
I like the idea of increasing the visibility of extensions' progress. One issue might be that all extensions end up having that changelog button because (almost) all have a prior version. That would decrease its value as a 'highlight'.

[2017-03-13 22:06] naaness commented on #22351
@jrieken the snippet does not show when I go 'F1 > Inser Snippet', And when I press 'Crtl+Space' it does not show. I am using Linux MInt

[2017-03-13 22:22] leonp1991 commented on #22345
@bpasero, ahh thank you for your input :). would be keen to see this in vscode, but can see how this would not be on the top of many contributors lists.

[2017-03-13 22:58] chrmarti commented on #22539
It stands for another editor, currently either Vim, Atom or Sublime.

[2017-03-13 22:58] mjbvz commented on #22515
This issue was moved to Microsoft/TypeScript#14636

[2017-03-13 22:58] #22515 closed

[2017-03-13 23:01] chrmarti commented on #22538
Currently that is Vim, Sublime, Atom and others. These four are shown as links on the welcome page, hence the placeholder.

[2017-03-13 23:08] dustinwinski opened #22566 "Make VS Code Icon more attractive by adding transparent center"
- VSCode Version: 1.10.2
- OS Version: Windows 10

Steps to Reproduce:

1. Center of VS Icon on the taskbar and live tile has white center
Make the icon more like the one I submitted.
![vso](https://cloud.githubusercontent.com/assets/17513036/23878893/58f17192-0820-11e7-9a0f-b7f89d435a6f.png)

[2017-03-13 23:25] SCBuergel commented on #6967
The latest release of VS Code on both Windows and Ubuntu (with latest nodeJS 7) is still having this issue. It is extremely hard to reproduce and only seems to happen once the code base exceeds some complexity.

[2017-03-13 23:32] Tekbr opened #22567 "[Question] [Help-Wanted] How to set intellisense for Angular.Js in VSCode?"
- VSCode Version: VSCode 1.10.2 and 1.11.0-insiders
- OS Version: Windows 10

-- Sorry for the English, I used Google Translator --

I've tried several places, but none that worked for me. Maybe because of the process being old, and there is a more current way.

I have already followed these tutorials, but none worked for me.

- It seems to be old compared to others -> https://johnpapa.net/intelli

[2017-03-13 23:37] mjbvz commented on #22518
@microshine From the error message on `Storage`, it looks like there is already a definition of `Storage` somewhere. In that case, we would not so the add missing import quick fix.

If you run `go to definition` on `Storage`, where does it go?

[2017-03-13 23:44] microshine commented on #22518
Yes, you are right. This is my mistake. There is Storage in `lib.d.ts`. If I use another name it works. Thank you for help

[2017-03-13 23:44] #22518 closed

[2017-03-13 23:47] mjbvz commented on #21764
I don't believe this is related to tsx/jsx. The root cause seems to be that `ContactForm` is a default export without any symbol associated with it:

[code]

I believe this is why we cannot find a quick fix for the name `ContactForm ` in this instance

[2017-03-13 23:47] #21764 closed

[2017-03-13 23:49] mjbvz commented on #19811
Closing as we've not heard anything back on this. @ThibaultJanBeyer please let me know if you are still running into problems here

[2017-03-13 23:49] #19811 closed

[2017-03-13 23:52] mjbvz commented on #21972
@jskrzypek, if you are still seeing the original TSServer crash when using a valid `TSS_LOG` path, please try collecting the logs and I'll take a look

[2017-03-13 23:52] #21972 closed

[2017-03-13 23:54] chryw commented on #18675
btw I'm totally cool with this -
![image](https://cloud.githubusercontent.com/assets/7075677/23879942/a00b27ca-080d-11e7-9535-3d73e5295204.png)

[2017-03-14 00:10] dalyIsaac opened #22568 "Copying code into an Office app (like OneNote or Word) doesn't retain tabbing"
- VSCode Version: 1.11.0-insider
- OS Version: Windows 15055.0

Steps to Reproduce:

1. Create a Python file and write code which has indentation - e.g.
[code]
2. Copy to an Office application - e.g. OneNote or Word
Syntax coloring is retained, but indentation is lost

[2017-03-14 00:10] javorosas commented on #22351
Same for me. Custom snippets are not showing in Ubuntu 16.04, VSCode 1.10.2

[2017-03-14 00:11] dalyIsaac commented on #22568
This problem does not occur in VSCode 1.10.2

[2017-03-14 00:13] navsan opened #22569 "C++: Searching include paths takes forever if there are large sub-directories"
I tried using VS Code with a C++ project containing a large non-source directory with thousands of files (profile outputs, logs, etc.). The editor was unable to search the include path even after about an hour. Copying just the source files into a new directory and opening it in VS Code resolved the issue.

- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T13:56:3

[2017-03-14 00:17] leroyron commented on #22485
@weinand Yes, the update is the issue, **January 2017 (version 1.9)** - Visual Studio Code - is the last working version for WebGL, textures are having problem loading in... The debugger shows nothing, VSCode 1.9 has **Chrome version 53** as well **February 2017 (version 1.10)**

[2017-03-14 00:45] schugh opened #22570 "Error and suggestion highlighting/underlining disappeared after last update"
- VSCode Version: 1.10.2
- OS Version: OSX Sierra 10.12.3

Steps to Reproduce:

1. Open any file with installed linter extensions: go + golint/gometalinter, javascript + jshint/eslint
2. Not consistently showing error (red) or suggestion (green) underlining in source code.  Sometimes the session's work just as normal sometimes it stops highlighting. Intelli-sense works consistently.

Started happe

[2017-03-14 01:35] mjbvz commented on #21541
The vscode workspace has `"files.trimTrailingWhitespace": true,` which I believe is causing this

[2017-03-14 01:36] sot528 commented on #22351
FWIW.

I had same problem via `Tab` key, not `Ctrl+Space`.
In my case, it improved when turn `true` the setting `editor.tabCompletion`.

[2017-03-14 01:37] dongrizhixue opened #22571 "编辑器上下布局的时候，两组编辑器的代码莫名其妙的交换，请见详情。"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|calculate|acarreiro|1.1.0|
|project-manager|alefragnani|0.13.4|
|path-intellisense|christian-kohler|1.2.0|
|gitignore|codezombiech|0.5.0|
|vscode-markdownlint|DavidAnson|0.

[2017-03-14 01:40] jdc-cunningham commented on #22470
I am doing what @eamodio has suggested for long files where one editor pane is scrolled to a specific position say CSS group, and the other is scrolled to the HTML elements.

I mentioned the webpack as what they were describing of being able to join different components. It sounds handy as opposed to adding another <script></script> to the HTML file. Webpack also mentioned code splitting but this

[2017-03-14 01:53] yeaicc opened #22572 "VSCode terminal typesetting"
- VSCode Version: Code - Insiders 1.11.0-insider (a3b1076f079c150d921a7b91d91c6783fa04450a, 2017-03-06T07:10:28.191Z)
- OS Version: Windows_NT ia32 10.0.15055
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.7|
|beautify|HookyQR|1.0.1|
|vscode-icons|robertohuertasm|7.3.0|;

---

Steps to Reproduce:

1.Ctrl+`
2.
![image](https://cloud.githubusercontent.com/assets/

[2017-03-14 02:02] ramya-rao-a commented on #18427
The language mode "Javascript Babel" are you getting that from an extension?

[2017-03-14 02:09] misoguy commented on #21669
@cleidigh I'll gladly review when you have a PR ready! :)

[2017-03-14 02:11] hasan-abdul-rahman commented on #22470
I think the feature you want is to open the same file in multiple tabs with each one scrolled to a different position.

Another way you can sort of do this is with bookmarks. There's an extension for that.

[2017-03-14 02:12] Shineant commented on #22510
@Tyriar I did try that to install gulp-watch globally, it showed the same error(Cannot find module 'gulp-watch', but the same error with installing gulp-watch as dependence of project after I set the NODE_PATH which point to the globally node module path.)

BTW: I upgraded node from 4.X to 6.60 via n module, is this have any impact with this.

[2017-03-14 02:16] jdc-cunningham commented on #22470
@hasan-abdul-rahman

Yeah I suppose that is ultimately what I'm after though I was hoping it would be separate code blocks, although why? If you'll end up combining it into one file anyway? So yeah, I will take a look at that, thanks.

[2017-03-14 02:22] geraldodev opened #22573 "Invocation of the function let add a b = a + b does not work on debug console"
- VSCode Version: 1.10.2
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1.create new F# project
2. On the main file paste
let sub (a, b) = a - b
let add a b =
    a + b
3. place a breakpoint debug on the first line of the main and hit start debugging
4. enter (add 2 3) on debug console to be executed on the context which returns
 error CS1026: ) expected

Interestingly when the parameter is cons

[2017-03-14 02:28] Shineant commented on #22510
I even tried normal build(not Cross compiling) on a Redhat host following [How-to-Contribute](https://github.com/Microsoft/vscode/wiki/How-to-Contribute), it still failed with same error, I not sure whether the guide miss something.

**OS:**
lsb_release -a
LSB Version:	:core-4.1-amd64:core-4.1-ia32:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-ia32:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-ia32:desktop

[2017-03-14 02:41] zhoupeihuang opened #22574 "升级后，vue文件 无CSS And JS提示"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.1.0|
|compulim-vscode-closetag|Compulim|0.1.2|
|insert-file|crest|0.0.1|
|vscode-eslint|dbaeumer|1.2.7|
|vscode-babel-coloring|dzannotti|0.0.4|
|mithril-emmet|FallenMax|0.6.1|
|aut

[2017-03-14 03:00] RohithKumbharkar commented on #22471
Hi @joaomoreno, yes I'm aware of the local settings but that'll be confined to a repository & this needs to be done for every repo individually but I'm talking about a setting at the editor (VS Code) level so that no matter what repository I work on if I work in VS Code I can configure it in user settings.

[2017-03-14 03:14] hasan-abdul-rahman commented on #22541
Means whichever is smaller, the viewport (the edge of the window) or the number in the setting.

For example, if the setting says to wrap at the 80th char, but the window is small so as to only show 50 chars per line, it will wrap at the 50th char.

[2017-03-14 03:18] johnliu2016 commented on #22402
Translations to fix

src\vs\code\electron-main\menus.nls.resx.lcg
0;"menus.js"\0;"Strings"\".resx", 0;"miKeyboardShortcuts"
&amp;&amp;Keyboard Shortcuts Reference
键盘快捷方式引用(&amp;&amp;K)
&amp;&amp;Keyboard Shortcuts Reference Total

src\vs\workbench\electron-browser\actions.nls.resx.lcg
0;"actions.js"\0;"Strings"\".resx", 0;"keybindingsReference"
Keyboard shortcuts reference
键盘快捷方式引用
Keyboard shortc

[2017-03-14 03:29] DennisXie opened #22575 "The layout in the template will be changed when I saved the Jinja or Django template file"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-snippets|abusaidm|0.0.16|
|vscode-theme-onedark|akamud|0.2.14|
|theme-atom-one-dark|andischerer|0.0.1|
|python|donjayamanne|0.5.5|
|theme-dracula|dracula-theme|1.2.5|
|theme-atom-one-dark|freebroccolo

[2017-03-14 03:38] Azhe403 opened #22576 "Add settings with GUI"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Add settings with GUI for VS Code

[2017-03-14 03:49] aflext opened #22577 "How to float the console panel out of the editor ?"
- VSCode Version:1.11.0-insider
- OS Version: windows 7 professional

How to float the console panel out of the editor ?

[2017-03-14 03:51] lei40251 opened #22578 "autoSave can't run on macOS"
- VSCode Version:1.10.2 (1.10.2)
- OS Version:macOS Sierra 10.12 (16A323)

Steps to Reproduce:

1.file>autoSave
2.edit any file
3.
![35](https://cloud.githubusercontent.com/assets/648155/23885197/9b5a10d4-08ac-11e7-998e-87efcfff38d9.png)

[2017-03-14 03:54] hansyulian opened #22579 "Shift + Delete supposedly delete the line"
- VSCode Version: 1.10.1
- OS Version: Windows 7

Steps to Reproduce:

1. Just pick any line
2. press ctrl + x without any selection
3. line will gone
4. press ctrl + v
5. the "cut" line will be pasted
(this is correct)

1. Just pick any line
2. press shift + delete without any selection
3. line will gone
4. press ctrl + v
5. the "cut" line will be pasted
(this is wrong!)

Shift + Delete supposedl

[2017-03-14 03:57] Xanco78 opened #22580 "VSCode crashes when closing a file without saving"
- VSCode Version: 1.10 (1.10.2)
- OS Version: Windows 8.1

Steps to Reproduce:

1. Open a new file or modify an existing one.
2. Close it without saving it.

[2017-03-14 04:03] rebornix commented on #22571
He is saying

1. The editor groups are horizontally split. Double click a word on the editor up most
2. Single click on some random position in the editor group below, the content in the up most editor and the below one are somehow switched.

[2017-03-14 04:08] chrisdothtml commented on #22547
Getting the same issue intermittently. Happening on both my work and personal Macs

[2017-03-14 04:20] sungb commented on #15335
@Tyriar thanks for responding.

Here is the info requested.
`echo $LANG` gives `en_US.UTF-8`
I commented out everything in `.config/Code/User/settings.json`, and the issue is still there.

And one more thing, xubuntu 14.04 is running as guest os on vmware fusion on mac host.  Maybe it happens with vm graphics. not sure.

Thanks again for looking into the issue.  It leaves this 0 byte garbage file

[2017-03-14 04:27] sungb commented on #15335
<img width="703" alt="screenshot" src="https://cloud.githubusercontent.com/assets/3499071/23885902/f61e6206-08b9-11e7-81e8-d9d182fdb683.png">
The screenshot of the file.

[2017-03-14 04:33] yongar commented on #3702
+1

[2017-03-14 04:34] rebornix commented on #22365
@Johnishaya can you provide more info?

[2017-03-14 05:06] jdc-cunningham opened #22581 "Question: Can you search all instances of console.log and then comment them all out at once?"
If this already exists sorry. I will promptly delete this.

From what I searched they were about highlighting (knowing where) the particular lines and then commenting out. So say for JavaScript I want to comment out all the console.logs at once to clean up console log. Is there a feature where I can pull up ctrl+f 'find' and search for 'console.log' then hit a button 'comment out' or something? Wh

[2017-03-14 05:14] duicym opened #22582 "internal error: BuildFrameworkTcImports: no resolution of 'FSharp.Core, Version=4.4.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a''"
- VSCode Version:
![image](https://cloud.githubusercontent.com/assets/16585097/23886705/f0f94b08-08b7-11e7-9cee-46bb2eacd05e.png)

- OS Version:
windows 10
Steps to Reproduce:

1.F# fs file
2.issues is file: 'file:///startup'
severity: '错误'
message: 'internal error: BuildFrameworkTcImports: no resolution of 'FSharp.Core, Version=4.4.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a''
at: '1,1'

[2017-03-14 05:15] tylerl0706 commented on #10106
Neat ideas :) I'll take a look!

[2017-03-14 05:19] noinkling opened #22583 "Feature request: add padding when pressing space between a pair of curly braces"
When I type `{` to create a pair of curly braces:
[code]
...and then when I press space, I would like 2 spaces to be inserted with the cursor in the middle:
[code]
Currently a it just inserts a single space, so doing the same thing requires pressing space twice then the back arrow once. Or otherwise setting:
[code]
...then formatting the line once there's already stuff inside it.

I believe pressi

[2017-03-14 05:20] ocean commented on #22214
I'm on Mac and have an authenticated corporate proxy with an internal self-signed certificate.

I've tried the latest Insiders build (today's version) and I cannot connect to the marketplace to browse extensions, install extensions or check for program updates.

I have tried with the `--proxy-server` command line parameter set, and without.

I get exactly the same `net::ERR_TUNNEL_CONNECTION_FAILE

[2017-03-14 05:22] bpasero commented on #22344
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-03-14 05:26] bpasero commented on #16533
I think talking in this issue is fine 👍 . You can start the PR anytime you like. I am not sure about the size change needed to be user configurable, I would first maybe start without it. Having this inside the actions.ts file is probably ok to begin with.

In the end, [`WorkbenchLayout` ](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/layout.ts#L46) is the owner of the re

[2017-03-14 05:30] bpasero commented on #21583
-1, I have set my extensions to auto update and I would never want to see any release editor opening. I am quite happy with this kind of silent updates.

[2017-03-14 05:31] rbenson commented on #22415
@bpasero  I found it from you http://stackoverflow.com/questions/30369258/file-associations-in-vscode/30421000#30421000

[2017-03-14 05:31] bpasero commented on #22547
@randywick @chrisdothtml can you see if insiders fixes it for you? Get it from http://code.visualstudio.com/Download#insiders

[2017-03-14 05:47] bpasero commented on #22415
@rbenson on that link I am not seeing someone assigning multiple languages to one extension?

[2017-03-14 05:55] bjmin opened #22584 "Losing highlight inside the auto-completion popup with keyboard event."
- VSCode Version: 1.11.0-insider (2017-03-13T07:02:34.221Z)
- OS Version: 10.12.3

Steps to Reproduce:

1. Try to type something that triggered the auto-completion popup.
2. Select the target one with pressing down keyboard (up, down, etc.)
3. No highlight within popup, but shows up when cursor move by. And the selected item was actually moving when pressing down.

I assumed that's the problem wit

[2017-03-14 06:18] jskrzypek commented on #21972
Cool, I'll update & check it out

[2017-03-14 06:20] Shineant commented on #22510
I found the solution from this [13487](https://github.com/Microsoft/vscode/issues/13487),
The preinstall is not triggered, so some related dependence were not installed.

But I am confused  why documented as eg:Docker environments, how about on physical machine?

`To install Code's dependencies as root (eg: **Docker environments**) `

[2017-03-14 06:47] managedata commented on #15335
Maybe it's a problem with VMWare. I used Debian Linux on a VMWare workstation.

[2017-03-14 06:59] Garfield550 opened #22585 "Emmet doesn't work in Vue <template> tag."
- VSCode Version: 1.10.2
- OS Version: Windows 10 build 15055

Steps to Reproduce:

1.  I use `Vue 2 Snippets`, `vetur` extensions, and I edit my settings.json file, add `"emmet.syntaxProfiles"` options.

[code]

2. `.vue` files language is Vue not plain text.

![tim 20170314145402](https://cloud.githubusercontent.com/assets/3471836/23889060/19b75950-08c6-11e7-88ac-e659e2cbba41.png)

3. Emmet work

[2017-03-14 07:31] #21669 closed

[2017-03-14 07:38] ThibaultJanBeyer commented on #19811
thanks @mjbvz since the new Version it seems to work out of the box. However, it has some troubles with some frameworks. Dojo for example. But I guess that’s normal because they have different writing styles than regular JavaScript…

Sorry I completely forgot to notify you here. Thanks for the help!

[2017-03-14 07:40] rajinder-yadav opened #22586 "compiler error, incorrect generated code."
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 4.4.0-66-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-markdownlint|DavidAnson|0.7.0|
|EditorConfig|EditorConfig|0.6.2|
|sort-lines|Tyriar|1.2.0|
|vscode-eslint|dbaeumer|1.2.7|
|tslint|eg2|0.8.1|
|cpptools|ms-vscode|0.10.3|
|Spell|seanmcbreen|0.9.1|;

[2017-03-14 07:51] rajinder-yadav commented on #22586
I really think code like this:

[code]

should be compiled as

[code]

I fixed the problem by assign the variable an empty array.

[2017-03-14 07:52] stannynuytkens commented on #1884
`ctrl+k` + `ctrl+z` fixes the issue for me but it would indeed be nice to add customization to more UI parts.

[2017-03-14 07:54] weinand commented on #22586
I cannot see an error here.
The declaration  `let child_procs: ChildProcess[];` does not assign anything to `child_procs`, so `child_procs` is undefined.
Why should this be compiled to `var child_procs = []`?

[2017-03-14 08:02] juanmirod commented on #22547
Hi @bpasero I just tried the insiders build and it works, thanks a lot for the quick reply!

[2017-03-14 08:04] weinand commented on #22582
Please file this issue against the F# extension you are using.

[2017-03-14 08:04] #22582 closed

[2017-03-14 08:09] joaomoreno commented on #22520
Then, that's the bug.

Are you behind a proxy?

[2017-03-14 08:09] weinand commented on #22569
This issue was moved to Microsoft/vscode-cpptools#560

[2017-03-14 08:09] #22569 closed

[2017-03-14 08:10] joaomoreno commented on #22471
Unfortunately, this doesn't sound like a common scenario. Maybe you could attempt creating an extension for this?

[2017-03-14 08:10] weinand commented on #22569
@navsan please file extension specific issues with the corresponding repository.

[2017-03-14 08:11] joaomoreno commented on #22543
Yes.

[2017-03-14 08:11] joaomoreno commented on #22533
Changes can either be staged or unstaged. Usually, only the staged changes are committed.

[2017-03-14 08:11] #22533 closed

[2017-03-14 08:12] weinand commented on #22573
VS Code does not support F# out of the box.
Please file this against the F# specific extension you are using.

[2017-03-14 08:12] #22573 closed

[2017-03-14 08:13] joaomoreno commented on #22551
#22509

[2017-03-14 08:13] #22551 closed

[2017-03-14 08:13] joaomoreno commented on #22560
#22509

[2017-03-14 08:13] #22560 closed

[2017-03-14 08:14] weinand commented on #22577
Detaching views (e.g. the console) into separate windows is not supported.

[2017-03-14 08:14] #22577 closed

[2017-03-14 08:17] weinand commented on #22584
This is a temporary glitch of yesterday's Insiders build. Should be fixed in the next...

[2017-03-14 08:17] jskrzypek commented on #21972
Ok I tried this again just now and instead of the tsserver repeatedly restarting with a warning, vscode now reports this:
<img width="1188" alt="tsserver_crash" src="https://cloud.githubusercontent.com/assets/1513265/23891412/ecb52d64-089e-11e7-9bc8-43adc495352b.png">

Is that the expected behavior? The `~/tss.log` path is just invalid and won't ever be supported? (which is fine, but probably shou

[2017-03-14 08:19] rajinder-yadav commented on #22586
I understand what's happened. However, since the variable is defined as an array, it should default to its type which is `[]` and not `undefined`. This will avoid code crashing at runtime.

Otherwise what's the point of anyone having to type more boiler-plate typed code.

[2017-03-14 08:20] joaomoreno commented on #22561
Your extension gets events with Resources, not files. A resource is referenced by a URI, which looks like `file://C:/Users/foo/bar`. It can also look like `git://..`, which uses the `git` scheme.

Make sure you filter out all resources your extension is not interested in: you should only listen to resources with the `file` resource.

[2017-03-14 08:20] #22561 closed

[2017-03-14 08:22] uyhung opened #22587 "Two red break points showing in debugging mmode"
I use the latest VS Code version. I use Chrome debugger extension to support debugging React JS app.
After I set some break points and press F5 to start debugging, each break point is showing as two red circle on the IDE, please see my attached file.

![screenshot at 2017-03-14 15 20 05](https://cloud.githubusercontent.com/assets/1470309/23891683/1749c488-08ca-11e7-83ce-04334f28da5e.png)

[2017-03-14 08:23] joaomoreno commented on #21583
As long as it doesn't come as notification, I'm fine with that... The more I call `showInformationMessage`, the less chances I have to get into Heaven.

[2017-03-14 08:24] joaomoreno commented on #22584
#22509

[2017-03-14 08:24] #22584 closed

[2017-03-14 08:25] dbaeumer commented on #22557
IMO we should not hide this behind a general workspace storage settings since it sounds more like a workspace & extension specific setting. I can imagine that workspace A stores this metadata on drive X: where as workspace B stores the metadata on drive Y:.

[2017-03-14 08:28] movedoa commented on #973
Any plans to integrate this in the near future?

[2017-03-14 08:30] harikrishkk commented on #3518
Is anyone facing issues while copy pasting? I get the code but indentations
is all wrong and has to put tab or space every single time. A couple of
updates before, it wasnt the case i guess.

On Wed, Feb 22, 2017 at 3:11 AM, Meligy, GuruStop.NET <
notifications@github.com> wrote:

[2017-03-14 08:41] misoguy commented on #19644
@rebornix It's been a while since this code has been implemented and added to the PR #21338. It'd be nice to get some kind of feedback when you get the chance :) Thanks!

[2017-03-14 08:41] weinand commented on #22586
If you want this strict behaviour (and avoid the "crashes at runtime") I suggest to enable the TS option `"strictNullChecks": true` in your tsconfig.json. This would have caught the undefined array.

If you don't like the way TypeScript works, please create issues against TypeScript.

[2017-03-14 08:41] #22586 closed

[2017-03-14 08:49] rajinder-yadav commented on #22586
I must be tired, didn't realise this was vscode. Thanks for the details.

[2017-03-14 08:53] foo-baar commented on #22520
Hello @joaomoreno: No I am not.

[2017-03-14 08:56] vidhya03 commented on #5770
Git side by side conflict resolver not working in latest VS code.

Version 1.10.2
Commit 8076a19fdcab7e1fc1707952d652f0bb6c6db331
Date 2017-03-08T14:02:52.799Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

[2017-03-14 09:01] dbaeumer commented on #20704
Yes, but you need to list the compiler you want to call as a command in the tasks.json. You might want to have a look here for some examples: http://code.visualstudio.com/docs/editor/tasks

[2017-03-14 09:02] dbaeumer commented on #22377
Yes, would make perfect sense on `IShellLaunchConfig`

[2017-03-14 09:08] jrieken commented on #22562
tata: [`vscode.version`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L11)

[2017-03-14 09:08] #22562 closed

[2017-03-14 09:11] jrieken commented on #22561
FYI - you can use [`vscode.languages.match`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L4232) to check if a document matches your needs, similar to how providers are registered.

[2017-03-14 09:13] ddyrcz opened #22588 "release notes - switch between tabs"
- VSCode Version: 1.10.2
- OS Version: Win 10

Steps to Reproduce:

1. Open the release notes (help -> release notes)
2. Scroll to the middle of the notes
3. Test some new feature in the different tab e.g. TypeScript add missing import feature
4. Return to the release notes tab
5. The scroll is at the top of the file, not at middle

This cause that I have to look for the section I have just read e

[2017-03-14 09:13] jrieken commented on #22485
@mjbvz made changes in the webview area

[2017-03-14 09:13] bjmin commented on #22584
Ok.. thx

[2017-03-14 09:14] fightingcat commented on #2635
It is annoying writing code without this feature, I've tried typescript-hero, seems that it doesn't import symbols in module declaration in d.ts.

[2017-03-14 09:15] kostrse opened #22589 "tasks.json task should quote the command string"
- VSCode Version: 1.10.2
- OS Version: Windows 10 Anniversary

**This doesn't work:**

[code]

Output:
[code]

**But this works:**

[code]
Output:
[code]

To my understanding VS Code wraps the command string into quotes only if there're spaces.
But it misses the situation when an environment variable may evaluate to a string with spaces.

This related to *cmd.exe*, didn't test with *bash*.

[2017-03-14 09:16] kumarharsh commented on #22587
I think those are the new 'column' breakpoints, if I'm not wrong.

[2017-03-14 09:18] whxaxes commented on #21442
workaround: `ps -ef|grep typingsInstall | awk '{print $2}' | xargs kill`

[2017-03-14 09:18] jrieken opened #22590 "Suggestion shouldn't take two lines just because of the info-icon"
See attached screen shot. The UI become very nervous when going up/down and that just because the info-icon is rendered on a separate line

![screen shot 2017-03-14 at 10 17 42](https://cloud.githubusercontent.com/assets/1794099/23893635/8a026bb8-089f-11e7-802e-86b67add2767.png)

[2017-03-14 09:22] #22547 closed

[2017-03-14 09:37] weinand opened #22591 "Support "Report Issue" for individual extensions"
Today the inbox tracker has to move many issues to different repositories even if it was clear for the creator of the issue that it was an issue with a specific extension.

One reason for this is that the "Report Issue" action makes it very easy to create an issue against VS Code but not against any other repository.

It would be extremely helpful if we could support extension specific "Report Iss

[2017-03-14 09:37] BillDenton commented on #21342
With the extension [Trigger Task on Save](https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.triggertaskonsavel) you can trigger a build on save.

[2017-03-14 09:40] weinand commented on #22578
@lei40251 do you know why you don't have access to the file shown in the error message?

[2017-03-14 09:42] weinand commented on #22575
@DennisXie could it be that a formatter kicks in when you are editing a Jinja or Django template file?
Does this problem occur if you run VS Code without any extensions?
From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-03-14 09:45] weinand commented on #22574
@zhoupeihuang Please provide an English translation for your issue

[2017-03-14 09:46] kumarharsh opened #22592 "Suggestion highlighting is broken"
- VSCode Version: 1.11.0-insider (dd197f)
- OS Version: Win10

Steps to Reproduce:

1. There is no highlight for the selected item in the autocomplete suggestion box.

![image](https://cloud.githubusercontent.com/assets/760112/23894721/38cb0d34-08c9-11e7-92c5-519c495f2d2d.png)

[2017-03-14 09:49] weinand commented on #22570
@schugh what type of file shows this problem? I don't believe you that the problem occurs with "any file".

[2017-03-14 09:49] wildeyes commented on #15340
I suggest doing what chrome does: `shift-delete` to delete the currently highlighted (but not yet selected), shouldn't be too hard?

[2017-03-14 09:49] #22349 closed

[2017-03-14 09:50] weinand commented on #22592
dup of #22509

[2017-03-14 09:50] #22592 closed

[2017-03-14 09:51] wenkeming commented on #22205
I have temporarily found a way to use autohotkey script. When I enter `.`, It will automatically trigger esc, and then there is my custom snippet

#IfWinActive ahk_exe Code.exe
:*b0:.::
Sleep 100
Send {Esc}
Return

[2017-03-14 09:53] jrieken commented on #6772
This got fixed in TypeScript and we should now do this

[2017-03-14 09:54] #6772 closed

[2017-03-14 09:54] DarrenCook commented on #9504
As this has been closed, does this mean it will be available in the next nightly build ("Insiders release"), and I can finally switch off auto-complete in comments and strings? If so, thanks for the hard work!

(If not, and this issue was just about the settings control for it, could you link to the issue I need to be following for the implementation? Thanks!)

[2017-03-14 09:56] zao opened #22593 "code cannot start with AFS homedir"
- VSCode Version: 1.10.2 (code_1.10.2-1488981323_amd64.deb)
- OS Version: Ubuntu 16.04 LTS

Steps to Reproduce:

1. Have home directory w/ `.config` on AFS.
2. Run `code --verbose`.
3. Get the following error:
[code]

Code starts normally if moving the `.config/Code` directory to a local filesystem and symlinking it in. I would reckon that it's probably not portable to put the kind of thing that `

[2017-03-14 10:05] lazyfingers opened #22594 "Please, provide a way for consoles, i.e. Debug Console to be vertical like a split view."
Debug console in the bottom is such an overkill, especially on wide screens with high resolution.
It would be a world changer to be able to configure it's positioning.

[2017-03-14 10:05] weinand commented on #20677
I've created this "protocol addition" request: https://github.com/Microsoft/vscode-debugadapter-node/issues/106

[2017-03-14 10:07] zao commented on #22593
Squinting at the [XDG Base Directory Specification](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html) it seems like sockets and other runtime files shall be created in `XDG_RUNTIME_DIR`, which on my system is down in `/run/user/3121`.

[2017-03-14 10:08] jrieken commented on #9504
@DarrenCook psst, already today can add this to your `settings.json` file: `"editor.wordBasedSuggestions": {"comments": false},` The last commits for just to rename `default` to `other` and make the default be only in `other` (not strings, not comments by default)

[2017-03-14 10:09] jrieken commented on #22205
@wenkeming The link to the snippet isn't working. Please paste the snippet here as comment

[2017-03-14 10:18] bpasero commented on #22580
@Xanco78 can you share a video how this behaves?

[2017-03-14 10:19] bpasero commented on #22571
Reading your description it seems that the issue originates from an extension and not VS Code itself. Thereby I will close this issue and kindly ask you to report this issue against the extension repository.

Most extensions are on GitHub as well so it should be easy to file it against the extension. If you open an extension on the market place, click on the **Support** link to find out more.

<im

[2017-03-14 10:19] #22571 closed

[2017-03-14 10:20] #22135 closed

[2017-03-14 10:23] isidorn commented on #22135
After discussing with @Tyriar we have agreed that no default keybinding is necessery especially since now the action is more visible.
@chryw thanks a lot for the icons, these work for me

![panel](https://cloud.githubusercontent.com/assets/1926584/23896104/71796a66-08a8-11e7-8829-0206fc9c4147.gif)

[2017-03-14 10:24] andrejristevski commented on #22581
Why don't you use the search and replace "console.log" with "// console.log "?

[2017-03-14 10:26] NeoLegends opened #22595 "Cursor lags behind input"
Since the newest update of VS Code the cursor sometimes lags behind when typing. This means that when I type e.g `abcdef`, the cursor is sometimes not behind, but before the `f`. This is extremely annoying.

- VSCode Version: 1.10.2
- OS Version: Windows 10 Pro v1607

Steps to Reproduce:

1. Type something
2. Notice cursor lagging behind on some inputs

Could it be caused by a plugin?

[2017-03-14 10:26] isidorn commented on #22587
@uyhung do you see this with latest vscode insiders? Since there was an issue which we fixed a couple of days ago
Do you see this if you delete all your breakpoints and add them again?

[2017-03-14 10:27] dmitriid commented on #1927
Is it possible to bump this in priority? Off the top of my head, Elm, Reason/Bucklescript, Typescript would greatly benefit from this. Rust was mentioned above.

In general, most modern languages/build tools provide multiline errors which become unreadable when squashed into single line.

Hovering to display the error is nice-ish, but it breaks the mostly-keyboard flow that developers are in when

[2017-03-14 10:30] stevencl commented on #21583
A 'What's new' button after the user has updated an extension would be a decent solution. I definitely don't think we should be notifying the user.

Once the user closes VS Code and restarts, we would remove the What's New button. We could consider then exposing a 'View changelog' action in the gear/settings menu to provide access to the changelog if it exists. That way we could avoid the problem

[2017-03-14 10:30] wip0 commented on #22015
I cannot debugging with/without protocol "legacy" on Electron on below

Version 1.11.0-insider
Commit dd197f19ddad6f8fa960c5f330fb7182c2321de3
Date 2017-03-13T07:11:52.101Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

[2017-03-14 10:32] jdc-cunningham commented on #22581
That works thanks.

[2017-03-14 10:32] #22581 closed

[2017-03-14 10:33] blueredcat commented on #3440
More than one year later and I still cannot remove this very cynical marketing feature.

[2017-03-14 10:36] weinand commented on #22015
@wip0 I do not understand what you want to say with your comment.

I've fixed this issue and it is available in the latest Insider
Commit: 8cd6b5830957e101a7b4fb63b6c6dbbd1640ed2a)
Date: 2017-03-14T08:18:08.786Z

[2017-03-14 10:37] blueredcat commented on #1884
"We are working on enabling people to remove UI by right-clicking on it." I need to personally grease a 1000 poles at M$ to get this very small change done as the marketing department (who are 1 step away from full blown psychopathy) want it to remain.

[2017-03-14 10:39] isidorn commented on #20677
Great.
@roblourens let me know once node2 supports this so I can pick it up on my side

[2017-03-14 10:45] stevencl commented on #22387
Thanks, we're exploring this here: https://github.com/Microsoft/vscode/issues/22388

[2017-03-14 10:45] #22387 closed

[2017-03-14 10:47] sungb commented on #15335
@managedata thanks for the data.  So the problem also exists with Windows host, when used with VMWare.

[2017-03-14 10:52] wip0 commented on #22015
@weinand I updated my above comment.

BTW, I didn't sure which version fix this issue. So, I posted my VSCode version.
I am waiting for getting the new version.

[2017-03-14 10:53] isidorn opened #22596 "Test: maximize / restore panel size"
- [x] any os - @gregvanl Windows 10
- [x] any os - @egamma

Complexity: 1

As per #22135 we have polished how a user can maximize / restore the panel size.
Open the panel and verify:
* You now have a maximize / restore action in the panel title bar which always visually reflects what the action will do
* The action properly maximizes the panel or reduces the panel height to its previous value
* Yo

[2017-03-14 11:07] #22066 closed

[2017-03-14 11:24] jmbrito01 opened #22597 "Rename terminal windows"
Hi, i use a lot vscode with a bunch of ssh terminals opened in it, the problem is that because i use "sudo ssh [...]", all of them are renamed as sudo and the node apps are renamed node, this makes things really confusing
![image](https://cloud.githubusercontent.com/assets/11761278/23898284/4f82fb84-088f-11e7-8327-0901a1f8e285.png)

I think a great feature would be to rename this terminal tabs to

[2017-03-14 11:30] dbaeumer commented on #18689
Implemented for 1.11.

[2017-03-14 11:30] #18689 closed

[2017-03-14 11:36] weinand commented on #20677
@isidorn I've added an optional `presentationHint` attribute to type type `StackFrame`.
The only supported value for now is `label`.
It is available in the latest.

[2017-03-14 11:39] weinand commented on #5552
@roblourens I've added an optional `presentationHint` attribute to type `StackFrame`.
The only supported value for now is `label`.
Available in `vscode-debugprotocol@1.18.0-pre.2`

[2017-03-14 11:42] piyushparkash opened #22598 "Hangs while scrolling"
I am using Visual Studio Code v1.10.2. Scrolling is not smooth for the files. I have a PHP file of roughly 300 lines. If I scroll it will stop at the point where I started scrolling skip most the scroll and then almost reach the endpoint of the scroll and scroll till the endpoint. I hope you got me. I will try to get a video of this.

But If I have to update any extension, after updating the exten

[2017-03-14 11:53] #22407 closed

[2017-03-14 11:53] isidorn commented on #22407
Nice catch, thanks!
You can try this out in tomorrow's vscode insiders

[2017-03-14 11:56] isidorn commented on #22492
Can not reproduce.
Do you see this all the time.
Do you aslo see other editor decorations being gone - for instance the lightbulb or some errors in the editor?

![bpsdisapear](https://cloud.githubusercontent.com/assets/1926584/23899501/a58d9586-08b5-11e7-83f5-e3b612abba20.gif)

[2017-03-14 11:56] weinand commented on #22598
This sounds like an issue caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-03-14 11:57] weinand commented on #22595
This sounds like an issue caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-03-14 12:00] isidorn commented on #22594
Dup of https://github.com/Microsoft/vscode/issues/2806

[2017-03-14 12:00] #22594 closed

[2017-03-14 12:02] coreyfarrell opened #22599 "Introduce a window.title relative path variable for the folder of a file"
I'd like to request two new variables to output `myProject/myFolder` or `myFolder`.  The goal is for `window.title` to produce the string: `myFile.txt - myProject/myFolder - Visual Studio Code`.  I'd like to be able to see `myFolder` in the window title, but not before `myFile.txt`.  This is because sometimes `${activeEditorMedium}` is long enough to obscure the actual filename.

The default examp

[2017-03-14 12:02] jithurjacob commented on #2384
Same issue in Insiders 1.11 as well

[2017-03-14 12:21] snerks commented on #21764
OK. Thanks for investigating.

Is there an alternative way of defining that `export default`, such that it has an associated symbol, therefore a Quick Fix?

[2017-03-14 12:28] JimiC commented on #20074
@bpasero It has been [reported](https://github.com/vscode-icons/vscode-icons/issues/808) to us that due to this change there is an issue with the `scss` association. Using the [sass-intended](https://marketplace.visualstudio.com/items?itemName=robinbentley.sass-indented) extension the icon association for `scss` gets lost. This [line](https://github.com/Microsoft/vscode/blob/master/extensions/scss

[2017-03-14 12:58] stevencl commented on #22322
Thanks for the well articulated feedback. We'll discuss this in the team and figure out how we want to proceed with this.

[2017-03-14 13:02] Kagu-chan opened #22600 "VSCode keeps crashing after update on OSX"
- VSCode Version: darwin stable
- OS Version: OSX Sierra 10.12.3

After restart for update VSCode keeps crashing. "Window is crashed, you can reopen it..."
I deleted VSCode from applications directory and redownloaded it, issue still there

[2017-03-14 13:20] ozluy commented on #22046
@bpasero  I guess I wrote good description for how I created it on following line...
`I created dist folder with npm using webpack it was visible before but currently folder is invisible although its there when I check in Finder`

[2017-03-14 13:22] DennisXie commented on #22575
@weinand Thanks a lot, after I disabled all extensions, this problem didn't occur any more.

[2017-03-14 13:22] #22575 closed

[2017-03-14 13:29] fandy commented on #8869
Any updates on this?

[2017-03-14 13:39] emackey opened #22601 "Turning off word-based suggestions isn't enough for comments"
I set `editor.wordBasedSuggestions: false` in my user-level settings, and even restarted vscode, but if I open a `*.js` JavaScript file and type the following:

        // If

Still, vscode pops up some kind of suggestions about the JavaScript keyword `if`, even though I'm trying to write simple English in my comment.  Is there any way to really, fully disable all suggestions for comments?

(Origi

[2017-03-14 13:53] dmitriid commented on #78
I think IntelliJ IDEA nailed this:

- `.gitignore`d files and folders are grayed out by default in File explorer
- `.gitignore`d files are automatically added to the projects "excluded" list
   - this means they do not participate in Search, Replace, Open File, Open Recent Files, Find symbols etc.
- however, if you actually spell the file name (or if the file cannot be found in the current non-exc

[2017-03-14 13:59] FloMaetschke opened #22603 "Build Error"
- VSCode Version: git latest (How to contribute)
- OS Version: Windows 2008 R2

Steps to Reproduce:

.\scripts\npm install
[code]

Any idea how to fix this postinstall error?

[2017-03-14 14:07] weinand commented on #22228
I've changed the schema to support `"boolean" | "string"`.
And the description is now:
![2017-03-14_15-06-27](https://cloud.githubusercontent.com/assets/1898161/23904377/f171e3e6-08c7-11e7-8413-90c8bebd1dfa.png)

[2017-03-14 14:07] dbaeumer commented on #22589
We will move away from the output runner to use the terminal runner. In the terminal runner there will be no quoting magic (since the terminal allows to run in all kinds of shells which come with different quoting rules). We will then require the writer of the tasks.json file to add proper quoting.

[2017-03-14 14:13] mlewand commented on #17064
@bpasero @mkeuschn isn't it a duplicate of #10121?

[2017-03-14 14:17] vscodeerrors opened #22604 "Cannot read property 'find' of null"
Issue Id: <b>e6f52bcb-72af-50b6-0d01-ad1f31475471</b><br /><br />*Versions* <br />- 1.10.2<br />-  0b51a92e512cc57e115b6b115cac5c4c65e3b7d8<br />-  9646f87541b9799661d7398b8ddac0c321b6f8bf<br />*Stack* <br />TypeError: Cannot read property 'find' of null<br />[/vs/workbench/parts/files/browser/views/explorerView.ts#L406:29 (find)](https://github.com/microsoft/vscode/blob/8076a19fdcab7e1fc1707952d6

[2017-03-14 14:19] vscodeerrors opened #22605 "Cannot read property 'reason' of undefined"
Issue Id: <b>9e26b120-b8da-791d-5805-ab410bc06b15</b><br /><br />*Versions* <br />- 1.10.2<br />*Stack* <br />TypeError: Cannot read property 'reason' of undefined<br />[/vs/workbench/parts/debug/electron-browser/debugEditorContribution.ts#L324:45 (reason)](https://github.com/microsoft/vscode/blob/8076a19fdcab7e1fc1707952d652f0bb6c6db331/src/vs/workbench/parts/debug/electron-browser/debugEditorCon

[2017-03-14 14:20] vscodeerrors opened #22606 "Cannot read property '_runner' of undefined"
Issue Id: <b>8ecd68a9-10d4-5306-d8b7-423ccf44154b</b><br /><br />*Versions* <br />- 1.10.2<br />*Stack* <br />TypeError: Cannot read property '_runner' of undefined<br />[/vs/workbench/parts/tasks/common/taskConfiguration.ts#L1030:16 (_runner)](https://github.com/microsoft/vscode/blob/8076a19fdcab7e1fc1707952d652f0bb6c6db331/src/vs/workbench/parts/tasks/common/taskConfiguration.ts#L1030:16 (_runne

[2017-03-14 14:20] vscodeerrors opened #22607 "Uncaught TypeError: Cannot read property 'heightInLines' of null"
Issue Id: <b>c910cd0e-ab04-ad8b-82df-8f5e12542fad</b><br /><br />*Versions* <br />- 1.10.2<br />*Stack* <br />TypeError: Cannot read property 'heightInLines' of null<br />[/vs/editor/contrib/zoneWidget/browser/zoneWidget.ts#L330:21 (heightInLines)](https://github.com/microsoft/vscode/blob/8076a19fdcab7e1fc1707952d652f0bb6c6db331/src/vs/editor/contrib/zoneWidget/browser/zoneWidget.ts#L330:21 (heigh

[2017-03-14 14:20] vscodeerrors opened #22608 "Cannot read property 'length' of undefined"
Issue Id: <b>d1596bec-60aa-e08b-9a3c-e62387bd4a66</b><br /><br />*Versions* <br />- 1.10.2<br />*Stack* <br />TypeError: Cannot read property 'length' of undefined<br />[/vs/base/common/strings.ts#L369:14 (length)](https://github.com/microsoft/vscode/blob/8076a19fdcab7e1fc1707952d652f0bb6c6db331/src/vs/base/common/strings.ts#L369:14 (length))<br />[/vs/workbench/parts/debug/browser/debugActionsWid

[2017-03-14 14:21] vscodeerrors opened #22609 "Cannot read property 'configuration' of undefined"
Issue Id: <b>4ac6ef28-ee3d-c455-47d4-9c9ca999b271</b><br /><br />*Versions* <br />- 1.10.2<br />-  0b51a92e512cc57e115b6b115cac5c4c65e3b7d8<br />*Stack* <br />TypeError: Cannot read property 'configuration' of undefined<br />[/vs/workbench/parts/debug/electron-browser/debugService.ts#L874:17 (configuration)](https://github.com/microsoft/vscode/blob/8076a19fdcab7e1fc1707952d652f0bb6c6db331/src/vs/w

[2017-03-14 14:25] #22604 closed

[2017-03-14 14:26] bpasero commented on #20074
@JimiC can we extract this into a new issue?

[2017-03-14 14:27] #17064 closed

[2017-03-14 14:29] mlewand commented on #10121
I'd say that undocking tabs (editors more specifically) is a _must have_ rather than _eventually_ type of task. Would love to have it implemented.

[2017-03-14 14:40] brucebrophy commented on #22415
<img width="1034" alt="screenshot 2017-03-14 10 38 32" src="https://cloud.githubusercontent.com/assets/9742009/23905758/73e7fcbe-08a2-11e7-8a44-9d2bb023f5d1.png">
[Here](https://www.reddit.com/r/webdev/comments/5ye5i5/creating_visual_studio_code_snippets/) is where I found the syntax for two file extensions being associated to a file type.

[2017-03-14 14:49] joaomoreno commented on #22593
Not sure what to do here. Best I can do is to recommend not using AFS. Does it support socket files?

[2017-03-14 14:50] joaomoreno commented on #22520
Then something is odd. You definitely should get update notifications.

Try downloading an older version: https://az764295.vo.msecnd.net/stable/653f8733dd5a5c43d66d7168b4701f94d72b62e5/VSCode-darwin-stable.zip

Then, wait a minute and check whether you get an update notification.

[2017-03-14 14:51] IvanMakarenko opened #22610 "Problems in formatting of lines (support of comments)"
- VSCode Version: 1.10.2
- OS Version: Windows 10 Pro x64

Steps to Reproduce:

1. Begin write the comment (in [phpDocumentor](https://phpdoc.org) style).
[code]

2. Press enter and line will be begin from tab + space.
[code]

I am expected to see something like this:
[code]

[2017-03-14 14:53] joaomoreno commented on #22590
Here's why the row is tall:

https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/suggest/browser/suggestWidget.ts#L48

So... probably there is a documentation string which isn't empty (just whitespace). Can you prevent that on the extension host side, @jrieken? No need to transfer an empty string if it won't ever be used.

[2017-03-14 14:54] JimiC commented on #20074
@bpasero Sure.

[2017-03-14 14:54] joaomoreno commented on #22588
#13256

[2017-03-14 14:54] #22588 closed

[2017-03-14 14:54] csalv5 opened #22611 "Editor's view should follow cursor in these cases"
- VSCode Version: 1.10.2
- OS Version: Ubuntu 16.04

Jump to Bracket:
![jump](https://cloud.githubusercontent.com/assets/6254054/23906315/e04ab0d8-08cd-11e7-9037-5bcf2c548b69.gif)

Choose a completion:
![completion](https://cloud.githubusercontent.com/assets/6254054/23906418/34468a68-08ce-11e7-800e-c1881db985a2.gif)

This does not happen in Atom and Sublime.

[2017-03-14 14:55] ramya-rao-a commented on #21583
Agreed on the "no more notifications please" thought.

[2017-03-14 14:56] #22411 closed

[2017-03-14 14:56] isidorn commented on #22411
@rajkumar42 I agree. We are now not showing the action if debugging is not stopped.

[2017-03-14 15:00] ramya-rao-a commented on #22570
@schugh In case of Go files, the Go extension shows the error/suggestions only on saving the file. Therefore, if you are just typing, they will not be updated. Is that the case?

[2017-03-14 15:02] JimiC opened #22612 "Icon for *.scss file not showing"
- VSCode Version: Code - Insiders 1.11.0-insider (dd197f19ddad6f8fa960c5f330fb7182c2321de3, 2017-03-13T07:11:52.101Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-icons|robertohuertasm|7.3.0|
|sass-indented|robinbentley|1.3.0|
---

Steps to Reproduce:

1. Create a `scss` file.
2. `scss` icon of `vscode-icons` not showing. Expected icon to

[2017-03-14 15:12] #22535 closed

[2017-03-14 15:12] isidorn commented on #22535
@gregg-miskelly good catch, happened due to some refactoring on my side. Should behave fine now, you can check it out in tomorrow's insiders

[2017-03-14 15:15] isidorn commented on #12719
Is this still an issue?

[2017-03-14 15:16] vtimbuc opened #22613 "Allow to open a workspace without restoring any state"
- VSCode Version: 1.10.2
- OS Version: OS X 10.11.6

Is it possible to init the code editor from terminal `code .` with a new session?
`code . -n` doesn't work, it still remembers the last files and project tree I had open.

[2017-03-14 15:25] OliverJAsh opened #22614 "Bad experience when TypeScript server crashes"
Quite often I find the TypeScript has crashed. VS Code gives me no indication of this—I have to look at the server output myself using the panel provided. Tooltips show as "Loading…" indefinitely.

Ideally:

- We would warn the user the server has crashed, perhaps prompting them to restart the server. It may also be useful to show the loading status of the server, so the user knows when TS is and

[2017-03-14 15:25] OliverJAsh commented on #22335
Also related https://github.com/Microsoft/vscode/issues/22614

[2017-03-14 15:27] jdforsythe commented on #22245
Does the `"diagnosticLogging"` flag get set in `launch.json`? It isn't outputting anything about a log file in the console or terminal.

Launch config:
[code]

Terminal:
[code]

The final ("debug: io.entities") line is where the application starts. In the debug console the "io.entities" line is the first to show. I don't see anything about a log file.

[2017-03-14 15:28] stevedesmond-ca commented on #22510
Check out my build script wrapper at https://github.com/stevedesmond-ca/vscode-arm -- I just updated it to work with 1.10.2, and confirmed on a fresh 16.04 VM that it builds successfully.

[2017-03-14 15:30] jtrombley24 opened #22615 "Right-Click XML File -> Open With -> Code (Not Working)"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|xml|DotJoshJohnson|1.7.0|
|mssql|ms-mssql|0.2.1|
|qub-xml|qub|1.0.3|;

---
As the title suggests, right-clicking a file and selecting 'Open With' -> Visual Studio Code doesn't seem to work.  It will open V

[2017-03-14 15:34] origin1tech commented on #7025
Still hosed using OS X with QNAP NAS (running insiders)

Still getting bad descriptors content on disk newer. Seems to be purely a timing deal near as I can tell. Haven't had time but would like to help work on this. Any suggestions of where to start?

thanks in advanced @bpasero

[2017-03-14 15:37] bpasero commented on #7025
@origin1tech where do you see the bad descriptors error?

[2017-03-14 15:38] origin1tech commented on #7025
@bpasero  on any save, like every one which is why it's a deal breaker.

[2017-03-14 15:44] hazzlewis opened #22616 "Integrated terminal (cygwin64 bash) not rendering color escape codes on php output"
- VSCode Version: 1.10.2
- OS Version: Windows 10.0.14393 Build 14393

Using cygwin64 bash.exe as integrated terminal like so:
![image](https://cloud.githubusercontent.com/assets/20228401/23908400/d601ec74-08cb-11e7-8d4d-ded8b696e5f8.png)

Standard color prompt works just fine:
![image](https://cloud.githubusercontent.com/assets/20228401/23908475/0ee2a48e-08cc-11e7-8e49-ae7a05aaae01.png)

**Howeve

[2017-03-14 15:46] origin1tech commented on #7025
@bpasero can you point to me in the vscode source where file saves occur? Thinking about firing up from source and tinkering with it.

[2017-03-14 15:57] rebornix commented on #19644
@misoguy I left comments there but seems you didn't see it :)

[2017-03-14 16:01] isidorn commented on #22429
@JeffJustJeff works for me on my win10 machine. It nicely blinks in the status bar as being activated.

Can you please try reproducing this behavior with our smoke test application in the following 3 steps
1. clone https://github.com/Microsoft/vscode-smoketest-express
2. npm install
3. open in vscode, set breakpoint in index.js line 6, start debugging
4. open your browser at localhost:3000
5. does

[2017-03-14 16:01] bpasero commented on #7025
@origin1tech that would be nice, the saving code is here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/files/node/fileService.ts#L313

Since I suspect this to be a node.js issue, maybe we could also try to distill this into a node script? After all we call `fs.writeFile()` somewhere in the end.

[2017-03-14 16:04] roblourens commented on #22492
I just noticed that this only happens with `inspector`, but I don't see what the debug adapter could have to do with it.

[2017-03-14 16:14] weinand commented on #22600
Please try the following:
- shutdown VS Code
- rename the folder `Code` (or `Code - Insiders`) in your `~/Library/Application\ Support` folder to a different name, e.g. `Code2`
- start VS Code

Does it still crash?

[2017-03-14 16:16] gregg-miskelly commented on #22535
@isidorn Thanks!

[2017-03-14 16:16] Noyabronok commented on #1974
I'm on VS Code version 1.10 and I thought I had this problem too, but then I realized that the code line above didn't have a closing semicolon.  Adding the semicolon fixed the problem.

[2017-03-14 16:22] weinand commented on #22610
@IvanMakarenko Are you using a php-extension for formatting php code?

[2017-03-14 16:22] schugh commented on #22570
I've been working with go source this week so yes, I've noticed this
'mostly' with go. Yesterday when I ran into it, i launched a javascript
project and saw that the highlighting wasn't working there either.

I did notice that the validating/linting is happening upon save; each time
I run into this, saving doesn't make a difference.  My assumption initially
was that it was the go extension that mi

[2017-03-14 16:23] schugh commented on #22570
** the fact I ran into it with the behavior for a javascript project is
what led me to report the issue.

On Tue, Mar 14, 2017 at 9:22 AM, Samir Chugh <samir.chugh@gmail.com> wrote:

[2017-03-14 16:29] iddan commented on #1886
The face an extension can be used doesn't yields it should not be merged

[2017-03-14 16:36] origin1tech commented on #7025
@bpasero O.k. I will look at this today and monkey with it. Give me a few hours.

[2017-03-14 16:37] aeschli commented on #22612
That's strange. The aliases are just used as labels to be shown to users. Why do you think this has an impact?

[2017-03-14 16:39] roblourens commented on #22603
Can you look up in the log for mentions of `vscode-ripgrep`? There should be another error message.

And a workaround: just remove the `vscode-ripgrep` entries in package.json and npm-shrinkwrap.json.

[2017-03-14 16:43] roblourens commented on #22245
The log file line is actually written to the debug console, not the terminal.

[2017-03-14 16:43] weinand commented on #22409
@Tyriar I've verified this on macOS and Windows. Thanks for fixing this.

[2017-03-14 16:46] JoelLisenby commented on #2915
+1

[2017-03-14 16:48] jrieken commented on #22590
actually not true @joaomoreno. `detail` contains newlines which we fail to render <img width="540" alt="screen shot 2017-03-14 at 17 48 04" src="https://cloud.githubusercontent.com/assets/1794099/23911882/6e9ef87a-08de-11e7-80c0-52c119b6c2e6.png">

[2017-03-14 16:52] #20677 closed

[2017-03-14 16:53] isidorn commented on #20677
This is how we style stack frames which have a `presentationHint = label`
Note that I have hacked what the backend to always return presentationHint = 'label' in order to get his picture

![screen shot 2017-03-14 at 17 52 35](https://cloud.githubusercontent.com/assets/1926584/23912105/066eec6e-08df-11e7-99d8-9923e9515c93.png)

[2017-03-14 16:57] isidorn commented on #22492
I also can not reproduce with `inspector`

[2017-03-14 16:58] isidorn commented on #22607
Giving this to @michelkaporin looks like there is a null exception which we should fix

[2017-03-14 17:10] jdforsythe commented on #22245
@roblourens it doesn't appear to get printed at all when using "console": "integratedTerminal"

[2017-03-14 17:13] isidorn commented on #22432
For now I did a not super nice fix to make it possible for the `presentaionHint` to be updated during a session. In the future if needed I will allow for the whoel source object to be rewritten by the adapter

[2017-03-14 17:15] #22605 closed

[2017-03-14 17:17] #22608 closed

[2017-03-14 17:18] mjbvz commented on #21442
Thank you @atian25 for providing all this information. I've opened https://github.com/Microsoft/TypeScript/issues/14655 against TypeScript to track the TSServer/TypingsInstaller part of this bug

[2017-03-14 17:18] screengroove commented on #2915
+1

[2017-03-14 17:20] Xanco78 commented on #22580
I found out that vscode crashes when trying to unistall an extension too.
I tried uninstalling and installing it again, deleting all the extensions from the folder, and the problem is still there.
I uploaded the video to youtube so you don't have to download it. However, if you need the file just tell me and I'll upload it.
When the cursor freezes is when vscode crashes, I can move it but in the v

[2017-03-14 17:20] collinsauve opened #22617 "Support for JSDoc parameter properties"
VSCode does not appear to show intellisense when documenting a parameter's properties.

See http://usejsdoc.org/tags-param.html

[code]

(note that I changed the above example to not use a prototype as that just confuses things)

- VSCode Version: 1.9.1
- OS Version: Windows 10 v1607

Steps to Reproduce:

1.  Create the above code
2.  Type `Project({ na`
3.  Intellisense should understand that you

[2017-03-14 17:20] zao commented on #22593
I don't have any choice in AFS for my home directory where the default XDG config directory is located. Sure I could point the config elsewhere, but then I'd lose access to the same configuration across machines which is the whole point of a shared homedir.

AFS doesn't support named pipes in the filesystem intentionally as it's a distributed filesystem and the semantics for how they would work ac

[2017-03-14 17:23] ahmad2smile opened #22618 "Login like in Visual Studio IDE to preserve keybinding and other settings"

[2017-03-14 17:24] mjbvz commented on #22485
@leroyron Please double check that the developer console does not have any error messages. Make sure you are in the devtools for the webview itself by running `document.getElementsByTagName('webview')[0].openDevTools()` in the primary devtools console. Also, try debugging with all exceptions enabled to see if any caught exceptions are causing trouble.

If you still do not find the root cause, plea

[2017-03-14 17:24] rajkumar42 commented on #22411
@isidorn Thanks!

[2017-03-14 17:28] roblourens commented on #22492
I'll debug a little more

[2017-03-14 17:29] origin1tech commented on #7025
@bpasero ...alright I'm working on it now going to focus on non-bom method then go from there.

[2017-03-14 17:31] mjbvz commented on #22473
This is not TS/JS specific. Adding @bpasero since this relates to quick open

@snoobvn As a side note, you can use `go to definition` on the import file path in JS and TS files to quickly open the target file

[2017-03-14 17:32] bpasero commented on #22599
@coreyfarrell as far as I know the window title never shows something else than the taskbar.

[2017-03-14 17:33] jdforsythe commented on #22245
@roblourens I got the path. Can I email the log? It isn't a public project. I'll grab a copy of it when it happens again.

[2017-03-14 17:33] mjbvz commented on #22617
Thanks for the suggestion. This is currently being tracked upstream on the TypeScript side by: https://github.com/Microsoft/TypeScript/issues/11597

[2017-03-14 17:33] #22617 closed

[2017-03-14 17:34] bpasero commented on #22613
@vtimbuc code -n should work but since you tell Code to open the current folder (via .), it will restore the session. So no, there is no way for a clean session when opening a specific folder currently.

[2017-03-14 17:37] bpasero commented on #7025
@origin1tech the error about the contents on disk being newer is actually already thrown here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/files/node/fileService.ts#L623

The idea is that if the file we have opened in the editor has a smaller `Stats.mtime` than the version on disk (e.g. someone modified it since), we throw this error.

What would be interesting to fin

[2017-03-14 17:39] bpasero commented on #22580
@Xanco78 how do you close the editor in the video? you press Ctrl+W?

[2017-03-14 17:39] JimiC commented on #22612
@aeschli
Because when I change `Sass` to `Scss` in the built-in extension instead of one entry `Sass (scss)` in the languages mode, I get two, like `Sass (sass)` and `Scss (sass)`.

[2017-03-14 17:41] origin1tech commented on #7025
@bpasero I see, well I have a couple hours here I'll see what I can do. strong node background but haven't ever looked at code src may take a few go's at it to get acclimated, but I'll give it appropriate attention, can't be the only one experiencing this. Let u know how far I get in a bit...

[2017-03-14 17:42] bravecobra commented on #22289
That would identify them (maybe), but still that would not allow for uncluttering the view. For instance, the build-in validation (https://code.visualstudio.com/docs/languages/css) does not allow me to specify folders to ignore (the vendor folders like node_modules) on a project basis. Just an [*] indication would indeed point you to a tool, which "might" enable you to un-clutter, so that still do

[2017-03-14 17:48] JimiC commented on #22612
Furthermore, when I install `sass-intended` the `Sass (scss)` entry in language mode turns to `Sass (sass)` without me changing the built-in extension.

[2017-03-14 17:49] Xanco78 commented on #22580
No, I click with the middle scroll button, but whatever way I use to close the editor it crashes and exits vscode.

[2017-03-14 17:53] mjbvz commented on #22357
Let me know if anyone has any suggestions on improving this. I imagine adding additional icons to differentiate these would be the easiest fix

[2017-03-14 17:56] esheafer commented on #7311
Yes Please!

[2017-03-14 18:01] vtimbuc commented on #22613
Yeah, an option to start a clean project session would be great. Could you point me where the session is stored on OS X, I could set that folder to read-only as a temporary solution. Thanks

[2017-03-14 18:06] ilyabirman commented on #22423
I’d also want a command for key binding.

[2017-03-14 18:07] mhegazy commented on #21442
I think the issue is we are watching folders like `/Users`, every time there is a change the server is notified. the message `/Users/tz/ti-6176.log is not tsconfig.json` indicates that the server is processing a change notification on this folder; in this specific case, seems like the log for the typingsInstaller.

@whxaxes does adding a jsconfig.json to the root of your project alleviate the CPU

[2017-03-14 18:07] roblourens commented on #22245
Sure, my email is in my profile

[2017-03-14 18:26] Tyriar commented on #19078
@dbaeumer this should be good to go now, you'll want to update node_modules/node-pty and then set `IShellLaunchConfig.args` as a `string` that will be used as is. Example:

[code]

Let me know if you have any issues.

[2017-03-14 18:27] coreyfarrell commented on #22599
@bpasero that is half true.  The window title is often 1000 pixels wide, the taskbar buttons are much smaller.  On my system the taskbar buttons only show the first ~23 characters of the window title.

[2017-03-14 18:28] seanmcbreen commented on #22618
Hi this is a dupe of another request sloe closing this one but please up vote the other one to help us prioritize :)

#22111

[2017-03-14 18:28] #22618 closed

[2017-03-14 18:32] rafaelpimpa commented on #2915
Hope it gets corrected soon.

[2017-03-14 18:35] chirag64 commented on #21693
I'd like to attempt a PR for this.

But I'm unable to reproduce this. Here's what I tried:
1. Created multiple instances of VSCode with integrated terminals in them.
2. Ran a few commands in the integrated terminals
3. Force Quit VS Code (in Mac OS X)
4. Opened a new terminal window and hit `up arrow` key to cycle through my bash history. I was able to view the commands I ran from within VS Code.

[2017-03-14 18:36] bpasero commented on #22580
Please see if you can find any logged output that could help us find the source of the issue:
* run `code --verbose` from the command line and attach the output
* in Code select **Help | Toggle Developer Tools** and select the **Console**
* attach any output you see in the **Console** you can find

Thanks!

[2017-03-14 18:37] bpasero commented on #22357
@mjbvz how would that help for the 2 `updateContent()` methods inside `FileService`? The only difference is in which file (= module) they are declared. This would be the information I am missing here.

[2017-03-14 18:37] bpasero commented on #22613
@vtimbuc that will not be possible I fear.

[2017-03-14 18:38] bpasero commented on #22599
@coreyfarrell but I understood you that you want to show something else in the taskbar compared to the window title? That is not possible.

[2017-03-14 18:44] Tyriar commented on #22597
Duplicate https://github.com/Microsoft/vscode/issues/10023

We're also looking into ways of improving the name of the terminal in https://github.com/Microsoft/vscode/pull/22454 and https://github.com/Microsoft/vscode/issues/20676

[2017-03-14 18:44] #22597 closed

[2017-03-14 18:44] MicahZoltu commented on #7015
So it seems that https://github.com/Microsoft/TypeScript/issues/11526 indicates that TSServe work is done and ready to be used.  Should this issue be re-opened or another one created to get everything working together correctly?

[2017-03-14 18:45] MiguelQueiroz opened #22619 "Isolate code Feature"
Would be great if possible to isolate code, like for example from:
function name x(){

//code here
}

to the end of the braket by selecting or the function name or defining lines, that would track the function, so we could "hide" all the other code and be able to maybe debug just that bit of code, or style/ reformat / or just because its easier to scroll, or do search and replace.. ( i know the se

[2017-03-14 18:52] accounthandler commented on #18427
These are the extensions I installed. Maybe from the first one babel es6/es7. But even after I disable the plugin, the tag autocomplete still doesn't work.

![image](https://cloud.githubusercontent.com/assets/5819795/23917443/9326c8da-08ac-11e7-81f9-d8bf0bb5d55e.png)

[2017-03-14 18:59] skol-pro commented on #5605
Now that the minimap has been introduced, I really hope to see this "tagbar" concept in the near future ! <3

[2017-03-14 19:02] nicolehaugen79 opened #22620 "Git clone F1 command error when no folder/project is open"
- VSCode Version: 1.11.0-insider
- OS Version: Win 10

Steps to Reproduce:

1. Launch VS Code - ensure that NO folder\project is open in VS Code (when a project is opened, the command works as expected)
2. Press the F1 key
3. In the commands text box, type "git: clone" - when the command becomes selected, hit enter
4. Expected: Next you should be prompted for the git project url to clone
    Actua

[2017-03-14 19:04] vtimbuc opened #22621 "Cursor width not respected when using multiple cursors."
- VSCode Version: 1.10.2
- OS Version: OSX 10.11.6

![](https://vtimbuc.s3-eu-west-1.amazonaws.com/ezgif-2-1d40312820.gif)

[2017-03-14 19:09] cacothi commented on #22531
+1

[2017-03-14 19:11] ahmad2smile commented on #22618
ohh sorry!! got it !! I actually did a quick search for "login" ty

[2017-03-14 19:18] origin1tech commented on #7025
@bpasero once I touch a file the descriptor errors go away. In fact

If I see this right changes are watched for and the focus file for lack of better term is stored in users (in case of OS X) ~/library/application support/.... then that's written to the actual absolute path.

O.K. better breakdown on what's happening here. The descriptor errors are only occurring after a move. once the IDE touche

[2017-03-14 19:20] nicolehaugen79 opened #22622 "Long strings are cutoff when hovering over local value while debugging"
- VSCode Version: 1.11.0-insider
- OS Version: Win 10

Steps to Reproduce:

This issue likely can be repro'ed with other types of projects, but I ran into this when working with node.js where you hover over a value during debugging that contains a large string.

For example, node.js's internal modules have methods that take the contents of an entire javascript file as a string parameter in order t

[2017-03-14 19:37] coreyfarrell commented on #22599
@bpasero No.. I want to show the same thing in taskbar and window title.  I want the project path after the filename.  Going back to the first example I gave, if I open vscode/src/vs/platform/actions/browser/menuItemActionItem.ts, I want window.title to produce the text:
`menuItemActionItem.ts - vscode/src/vs/platform/actions/browser - Visual Studio Code`

The filename `${activeEditorShort}` is fi

[2017-03-14 19:37] jens1o commented on #21404
I would like it when the current line is also highlighted in the minimap.

[2017-03-14 19:39] jens1o commented on #19347
Any news on this? I would definitely like that feature.

[2017-03-14 19:48] jmhmd commented on #10439
I've had this same problem on a brand new Macbook Pro 2016, so seems unrelated to specific architecture. Tried disabling Git, problem still showed up. Disabling extensions seemed to solve the issue, but still have the problem of not knowing which extension causes it.
being able to tell which extension is pegging the CPU would be very helpful.

[2017-03-14 19:49] NeoLegends commented on #22595
I primarily noticed the issue when editing rustlang, so I'm going see if it happens in other languages tomorrow.

[2017-03-14 19:53] MikeVelazcoMtz commented on #22621
Not so critical but a bug after all

[2017-03-14 19:56] vtimbuc commented on #22621
@MikeVelazcoMtz never said it was :)

[2017-03-14 20:01] Tyriar opened #22623 "Hide/dispose terminal link hint when a row change occurs"
1. Hover for link hint
2. Press enter without moving mouse, the hint is still there

[2017-03-14 20:02] nicolehaugen79 opened #22624 "AddConfigurations does not respect `{` on the same line as `[`"
- VSCode Version: 1.11.0-insider
- OS Version: Win 10

I can't quite figure out exactly what seems to cause this, but a common factor seems to be when the launch.json file is hand-edited as mentioned in the repro steps.  Once VS code gets into a state where the Node.js specific debug config options are displayed, I can't figure out how to get them back - the only way I have found is to delete the

[2017-03-14 20:19] Mlocik97 opened #22625 "Clickable links in PHP"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

---

Can you add support to clickable links with ctrl + left click in PHP (as in html `<a href="link.html"></a>`) also in PHP `<?php include 'link.php' ;?> or <?php require 'link.php' ;?>`

and add hint to end tag <script src="script.js">**</script>** (because now, it hint only javascript code, but don't end tag.)

[2017-03-14 20:19] almino opened #22626 "Can't bind Ctrl + / and Ctrl + ; to different commands on a Brazilian Keyboard."
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 3.16.0-4-amd64
- Extensions:

|Extension|Author|Version|
|---|---|---|
|empty-indent|DmitryDorofeev|0.2.0|
|beautify|HookyQR|1.0.1|
|crane|HvyIndustries|0.3.3|
|code-settings-sync|Shan|2.5.1|
|php-formatter|Sophisticode|0.2.4|
|npm-intellisense|christian-kohler|1.3.0|
|gitigno

[2017-03-14 20:36] joaomoreno commented on #22615
Can you try reinstalling? Does the problem persist?

[2017-03-14 20:37] joaomoreno commented on #22593
Got it, thanks.

[2017-03-14 20:38] joaomoreno commented on #22590
We don't fail to render. We just render the first line, when the item is _collapsed_ and then render everything when it is expanded. So, the action is there as designed. Not the best design, sure, but as designed. 😕

[2017-03-14 20:39] joaomoreno commented on #22590
We could put the info icon on the same line though.

[2017-03-14 20:50] nosick commented on #22362
also russian

[2017-03-14 21:06] origin1tech commented on #7025
@bpasero

If you suppress the backup file from being cached at  /Users/Bob/library/application support/code-oss-dev/Backups/fac5c5aa68..../file/fac5c5aa68.... (on Mac in w/ Dev VSCode running).

Then save directly the error goes away. Again it only occurs when files are moved via finder and then opened in IDE. After first open and "compare" it's fine.

Seems to be something with the backup/cached

[2017-03-14 21:14] Tyriar commented on #22572
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-03-14 21:14] #22572 closed

[2017-03-14 21:15] Tyriar commented on #19665
Sometimes the width may not matter though? https://github.com/Microsoft/vscode/issues/22572

[2017-03-14 21:21] Tyriar commented on #21693
@chirag64 I believe this mainly just needs the terminalProcess.js program to also call `ptyProcess.kill()` in addition to killing itself when it's orphaned. It would be great if you could look into this. FYI here's another issue with more details which I'll close off in favor of this one https://github.com/Microsoft/vscode/issues/18990

[2017-03-14 21:21] Tyriar commented on #18990
Closing in favor of https://github.com/Microsoft/vscode/issues/21693

[2017-03-14 21:21] #18990 closed

[2017-03-14 21:22] tracker1 commented on #1974
All my source is under my profile directory... in my profile, I've setup a package.json in my profile root, configured `~/.eslintrc` to my desired baseline configuration... from there, disable the JS warnings, and install the ESLint extension.

Now I just see eslint errors... doesn't help when editing outside my profile, but works well enough for my own use case.

[2017-03-14 21:22] weinand commented on #22624
@nicolehaugen79 the first screenshot shows 'attribute intellisense' whereas the second shows 'launch configuration snippets'. The first is only available inside a launch config ('x' in the following json), the second is only available on the array level, that is between launch configs or at the top of the array ('y' in the following json):
[code]

Having said that, I'm not really sure that I have

[2017-03-14 21:23] roblourens commented on #21668
I think supporting them makes sense and would be very awesome. To get them to be highlighted, I need to change `chrome-devtools` to `http`, and add a `.com` on devtools, so I guess we would need it to recognize those as valid parts of a url.

[2017-03-14 21:27] nicolehaugen79 commented on #22624
To clarify, I only see the 'attribute intellisense' regardless of where I put my cursor in the launch.json file - I made sure that I tried both 'x' and 'y' locations that you showed above, and no matter what, I only see the attribute intellisense.  I can't figure out how to get the 'launch configuration snippets' back - they never show no matter where the cursor is positioned in the launch.json.

[2017-03-14 21:27] bramborman opened #22628 "[Feature Request] Support in VS Installer"
With Visual Studio 2017 we got new Visual Studio Installer application where we can install and manage all VS 2017 installations. It would be great if we could install and manage even Visual Studio Code from that app.

[2017-03-14 21:29] Tyriar commented on #21668
Is the desired behavior to just open it in the default web browser (and assume it's Chrome?). I'm not sure how reliable `google-chrome` is on the PATH (does it change with canary, same on all platforms, etc).

[2017-03-14 21:32] weinand commented on #22624
@nicolehaugen79 are there any squigglies showing up in the launch.json? This could indicate that there is a syntactical problem which prevents VS Code from showing the snippet intellisense.

[2017-03-14 21:32] Tyriar commented on #22510
Ok, closing off since it's covered in https://github.com/Microsoft/vscode/wiki/How-to-Contribute, thanks for the help @stevedesmond-ca

[2017-03-14 21:32] #22510 closed

[2017-03-14 21:32] roblourens commented on #21668
I think that opening with the default browser would be expected (ie treating it like any other link), even though it probably won't work in a non-chrome browser.

[2017-03-14 21:36] nicolehaugen79 commented on #22624
No, there are no squigglies - I've also verified that I can run the app fine using the launch.json...it's just that I've lost the snippet intellisense.

[2017-03-14 21:38] Tyriar commented on #21668
Upstream issue: https://github.com/sourcelair/xterm.js/issues/599

[2017-03-14 21:38] weinand commented on #22624
I've just tried editing a huge launch.json with the latest Insiders on Windows 10 and I was able to confuse VS Code.
Could you share the launch.json that produces the problem for you?

[2017-03-14 21:41] nicolehaugen79 commented on #22624
When you say that you were able to confuse VS Code - you were able to repro this issue?

Here's the contents of my file:
{
    // Use IntelliSense to learn about possible Node.js debug attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [{

[2017-03-14 21:49] weinand commented on #22394
This sounds like an issue caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-03-14 21:53] weinand commented on #22624
@nicolehaugen79 oops, I forgot a 'not'. I was **not** able to confuse VS Code. I've fixed my previous comment.

[2017-03-14 21:55] nicolehaugen79 commented on #22624
ok - if you still have issues repro'ing, let me know and I can show you on my machine to make sure that I'm not overlooking something here.

[2017-03-14 21:57] Tyriar commented on #22377
I added `IShellLaunchConfig.initialText` which you can set with escape sequences so you can style if you wish. Tested by setting: `_shellLaunchConfig.initialText = 'abc foo \x1b[33mbar\x1b[0m adsa';`, here's the result:

![image](https://cloud.githubusercontent.com/assets/2193314/23924045/5f52657c-08c6-11e7-8ced-96dc78fc4397.png)

Note my prompt has an empty line at the start so only the first lin

[2017-03-14 21:58] #22377 closed

[2017-03-14 21:59] weinand commented on #22624
Thanks for the launch.json, but I cannot reproduce the problem with it.

@isidorn will continue the investigation tomorrow (I'm just doing bug triage).

[2017-03-14 22:00] nicolehaugen79 commented on #22624
ok, ping me tomorrow then and I can share my machine and show what I'm doing - my alias is nicolela.

[2017-03-14 22:03] Tyriar commented on #15335
Interesting... Seen anything like this @bpasero? TLDR: It looks like VMWare might be playing a part in some random file showing up when launching the Linux desktop shortcut but not when launching from the CLI.

[2017-03-14 22:06] bastienmoulia opened #22629 "[Feature Request] Preview for SVG files"
It would be nice to be able to open an SVG as an image from its code as the preview of the markdown files.

![image](https://cloud.githubusercontent.com/assets/686196/23923928/00a5e4fc-0909-11e7-9f05-820b37f51e7f.png)

And see changes in real times when the editor is splitted.

[2017-03-14 22:08] internetz commented on #10091
Same issue here with code-insider 1.11.0-insider
Starting code-insider on console works fine.

[code]

But `/usr/share/applications/code-insiders.desktop` contains
[code]
So the `bin/` path part is missing in the `.desktop` file

The script in the `bin/` path adds an additional shell variable `ELECTRON_RUN_AS_NODE=1`
[code]

So setting `ELECTRON_RUN_AS_NODE=1` is missing when `/usr/share/code-insi

[2017-03-14 22:11] roblourens commented on #20677
This is beautiful!
chrome-debug:

![image](https://cloud.githubusercontent.com/assets/323878/23924514/35fe9518-08c8-11e7-8c39-c96ea9b085f7.png)

node unfortunately brings in some baggage, but this is still awesome:

![image](https://cloud.githubusercontent.com/assets/323878/23924565/66e54898-08c8-11e7-9d0b-2d144a687872.png)

Next up... collapse deemphasized frames? :)

[2017-03-14 22:14] mjbvz commented on #22629
Give this extension a try: https://marketplace.visualstudio.com/items?itemName=cssho.vscode-svgviewer

[2017-03-14 22:14] #22629 closed

[2017-03-14 22:16] weinand commented on #20677
@roblourens you could use a heuristic in the DA to hide those "well known" frames (independent from skipFiles)?

[2017-03-14 22:21] roblourens commented on #20677
That's not a bad idea. I could show a frame that says '5 collapsed frames' in the deemphasized style (or even using 'label'). And there could be a context menu item to toggle it.

It even might not be a bad thing to do for all skipFiles, especially when using async/await, because it generates a lot of garbage frames in user scripts. Collapse them by default, toggling works on the whole callstack a

[2017-03-14 22:24] Tyriar commented on #22616
Looks like `\x1b` is being translated to `?` somewhere along the way.

[2017-03-14 22:24] weinand commented on #20677
Yes, we should consider to have a generic "collapse/expand skipped frames" feature.
I was suggestion the "heuristic" only as a temporary measure (which does not require anything on the UI side).

[2017-03-14 22:30] Tyriar commented on #22616
@hazzlewis is there any trick to getting the cygwin exe running in the terminal? It's telling me `/usr/bin/bash` wasn't found after a fresh install and using your settings?

[2017-03-14 22:35] Tyriar commented on #14286
This should be fixed now in https://github.com/Microsoft/vscode/commit/e6f8ec8bb22ab987adb4e0f1af551a5daf83af83

@whitecolor if you get a chance to test this in the latest Insiders that would be great :smiley:

[2017-03-14 22:43] efc commented on #10439
I've been able to run with the following extensions:

- Git History (git log)
- PHP Debug
- PHP Intellisense - Crane
- PHP Symbols
- Wordpress Snippet

I have NOT been able to use the plugin "Docker" (v. 0.0.12). If I enable that one, my system chews up CPU.

[2017-03-14 22:43] MikeVelazcoMtz commented on #22626
Don't you switch between English and Brazilian keyboard layouts?

They share the same key in each layout

[2017-03-14 22:50] mjbvz commented on #2187
Glad to see that you are looking into this. Sorry for not responding sooner.

I don't think there was anything technically wrong with the approach in #18383, we just didn't have a need for it in the end.

This feature is certainly something we would like supported and your prototype looks very promising. Is there anything blocking you currently or anyway we could help you out? If you share your co

[2017-03-14 22:54] mjbvz commented on #10296
This formatting option doesn't seem to be in the TSServer protocol yet. Adding it is being tracked by https://github.com/Microsoft/TypeScript/issues/14661

[2017-03-14 23:00] leroyron commented on #22485
I only get this warning: -- [Extension Host] typescript (vscode.typescript) uses PROPOSED API which is subject to change and removal without notice [Extension Host] extensionHost.ts:282 --
In WebView Chrome and VSCode Output...

No errors coming from the Extension Host Debugger.

Comparing WebGL and Browser Info:
**Google Chrome Browser v56** with **VSCode 1.10.2 Chrome Browser v53**
[http://imgur

[2017-03-14 23:02] hazzlewis commented on #22616
You may have to re-run the setup installer and install the CHERE package. Not sure if needed but thats the only thing i can think of which i have installed which could make a difference off the top of my head.

Kind Regards
Harry Lewis

-------- Original message --------
From: Daniel Imms <notifications@github.com>
Date: 14/03/2017 22:31 (GMT+00:00)
To: Microsoft/vscode <vscode@noreply.github.com>

[2017-03-14 23:05] almino commented on #22626
I won't change keyboard layout for the whole system. Is there a way to do it on VS Code?

[2017-03-14 23:08] mjbvz commented on #21972
Yes if the server crashes 5 times in 10 seconds, we do not attempt to restart it. The TSServer requires an absolute path for TSS_LOG. We're working making TS server log collection simpler in the next release

[2017-03-14 23:12] Tyriar commented on #22260
@weinand @dbaeumer FYI the plan is to make `terminal.integrated.shell.windows` `null` by default which will force a quick pick for the user. You may want to fallback to cmd.exe when it's `null` so the quick pick is avoided.

[2017-03-14 23:13] vikaparh opened #22632 "Unsupported 16-bit application."
Just received strange message about incompatibility.

![16bit](https://cloud.githubusercontent.com/assets/7015208/23926348/1bc0b920-08ea-11e7-836a-b8ee59c4013e.png)

- VSCode Version: 1.10.2 and 1.9.1
- OS Version: Windows 10 Enterprise 1511, OS Build: 10586.0

Steps to Reproduce:

1. Download installer.
2. Install
3. Launch

Can someone suggest a workaround?

Many thanks!

[2017-03-14 23:13] mjbvz commented on #22357
@bpasero Ok, yes it was not clear to me what the problem was from the original report. I can look into exposing the file name at least

[2017-03-14 23:16] hoovercj commented on #2187
@mjbvz there's nothing blocking me from a "can I make something work" standpoint. However, making something you'll merge is a different story :-)

The main consideration at this point is the UI (which then drives some technical aspects). The simpler it is, the easier it is to contribute as a community member. If it can be a simple input box with placeholder text like 'Find in page...' and no butto

[2017-03-14 23:20] MikeVelazcoMtz commented on #22626
But if you switch between both keyboard layouts it could be possible to press accidentally <kbd>Ctrl</kbd>+<kbd>;</kbd> thinking that you are pressing <kbd>Ctrl</kbd>+<kbd>/</kbd>.

That's what I mean.

[2017-03-14 23:43] mjbvz commented on #2187
@alexandrudima and @bpasero may be able to speak more to this, but ideally I would see this reusing the [findWidget](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/find/browser/findWidget.ts), with the options for regexp search and case sensitive search hidden. This would presumably be backed by a new [findModel](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/

[2017-03-14 23:44] ajackson-cpi opened #22633 "Avoid/Undo Broken Extensions"
- VSCode Version: Code 1.9.0 (27240e71ef390bf2d66307e677c2a333cebf75af, 2017-02-02T08:23:30.856Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.53|

---

Steps to Reproduce:

1. When an extension author's pushes a build that is failing, you can see it in Extensions
2. Update & it will be broken.

I would like avoidance & undo:
Avoid:  Det

[2017-03-14 23:48] pixieaka commented on #21974
I guess if all cursors same width of the main cursor, the problem will solved. Because the main cursor not hide in all situations

[2017-03-14 23:58] mjbvz commented on #21764
@snerks Not that I'm aware of, but I've opened https://github.com/Microsoft/TypeScript/issues/14663 to track this feature on the TS side

[2017-03-14 23:58] WilsenHernandez commented on #10821
It would be excellent, I use VSCode as my main editor for a lot of things including TeX.

I would like to be able to edit & preview my documents in the same editor!

[2017-03-14 23:58] Olivia101 commented on #2915
Sublime Text does it really well with the help of the BracketHighlighter extension.

![screenshot_1](https://cloud.githubusercontent.com/assets/4064582/23927517/17624818-097f-11e7-8754-ae69a5114175.png)

[2017-03-15 00:30] ChrisW123 commented on #17056
I get the same error above.

[2017-03-15 00:38] misoguy commented on #19644
@rebornix That's wierd...because I can't find any comment at https://github.com/Microsoft/vscode/pull/21338/files#r103243328
Could you check it one more time?
Regarding the test, do you mean the test code for ```editorStacksModel```? If so, it is implemented as commit https://github.com/Microsoft/vscode/pull/22005/commits/039a54dd1e0dc3295a3e576d5bfc041fe156733e

[2017-03-15 00:47] Pyrolistical commented on #20538
I disagree. If you are going to make the status bar bright, then it should change when there is an issue.

If you believe it should be passive ambient information, then don't make it so bright!

[2017-03-15 00:59] ChrisW123 commented on #11618
I'm having the same issue...  Did anyone find a solution at all for this?

[2017-03-15 01:03] osdiab opened #22634 "Allow window title color to distinguish between multiple windows"
I often have multiple directories open in separate VSCode windows, and wish I could at a glance distinguish between them (like with a random color present in the UI)—although the directory name is already in the title of the window, it often takes me a bit to reorient myself because there is so much text on screen already. Any suggestions on how to more easily distinguish between multiple open fil

[2017-03-15 01:04] chetan51 opened #22635 "C# / Unity code using LINQ breaks the debugger"
- VSCode Version: 1.10.2
- OS Version: macOS 10.12.3

When using the Unity3D / C# debugging feature in VSCode, if you place a breakpoint inside code that is triggered by LINQ queries, Unity will pause and the debugger will hit the breakpoint, but the breakpointed line isn't highlighted and no debug information is shown in the debug panel. The only action you can take is to press continue, after wh

[2017-03-15 01:09] Steviey opened #22636 "No Scrollbar Buttons in Editor."
I have no scrollbar buttons (up/down, left/right arrows, vertical and horizontal) in my editor.
Am I the only one, trapped in black magic, or is it a 'stylish' feature?

...VS Code latest version.
...Win 7

[2017-03-15 01:23] Xanco78 commented on #22580
Sorry for not being able to answer before, I was not at home.
Nothing appeared in the console, but I don't know why or how since I opened vscode with the command line it's fixed! It works even if I don't open it with the command line, so I guess it's fixed :)
Thank you very much, you're awesome!

[2017-03-15 01:29] vscpp opened #22637 "Indentation feature request for "Space" key"
- VSCode Version: 1.10.2
- OS Version: Win7/Win10

Steps to Reproduce:

1. Select multiple lines c code
2. Press "Space" key. The code are deleted. -> I just want to code indents a line, not delete code.

Will you support this feature? It's helpful for coding. Thanks.

Microsoft/vscode-cpptools extension doesn't support this feature, so file the request here.
https://github.com/Microsoft/vscode-cp

[2017-03-15 01:36] sean-mcmanus commented on #22637
@vscpp said Source Insight supports this feature. I was thinking an extension could implement this via workspace/applyEdit in the didChange, but I don't think it belongs in the C++ extension.

[2017-03-15 02:08] dandingol03 opened #22638 "i wonder if there is a method to convert the offset of the cursor to the editor postion"

[2017-03-15 02:31] feidianbo opened #22639 "Bug - Save All Files button"
When I open multiple files, such as demo.scss and demo.html, I click the
'Save All Files' button, it will be occurring a strange thing. The content of dem.scss will be overide by content of demo.html.

- VSCode Version:1.10.2
- OS Version:10.12.3

Steps to Reproduce:

1. Open a file. (such as demo.scss)
2. Open another file. (such as demo.html)
3. Click 'Save All Files' button.

By the way, it wil

[2017-03-15 02:34] rubberduck203 opened #22640 "Tilde in url in terminal results in bad url"
- VSCode Version: 1.10.2
- OS Version: macOS Sierra 10.12.3

Steps to Reproduce:

1. Create a bash script named `foo.sh` with the following contents

[code]

2. Make the file executable then execute it.

The link is clickable (cmd + click) in the text file, but the terminal only detects the first part (up to the tilde) as a url.

[2017-03-15 02:40] bartcubbins commented on #48
can confirm this

[2017-03-15 02:45] kintaat opened #22641 "Crash while searching 'markdown' extension"
- VSCode Version: 1.10.2
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Ctrl+Shift+X
2. Type 'markdown'
3. Scroll down
4. Crash

[2017-03-15 02:50] cwgabel commented on #22188
[code]

The above works fine for single step debugging on everything but as soon as you add a watch variable (say b), it only steps from 1 to 2 to 10 and then it's done.

Also,  clicking the debug restart icon reloads the sidebar from the debug view to the explorer view. I can't even get it to work with the keyboard (ctrl shift f5) does nothing.

[2017-03-15 03:03] cleidigh opened #22642 "Debugging OSS builds fail after 3-7-17 master branch code, silent failure, cannot breakpoint"
Development Environment:

OS: Windows 7 Professional SP1 (VM under OSX)
Python: ActiveState 2.7.5

Visual Studio 15 Community \ C++ Tools \ SDK 8.1
VS Code: 1.10.2 (Code OSS Build environment)
VS Code Insiders 1.11.0 3-13 build: (Test environment)
Chrome Debugger Extension 2.6.0

Node: 6.9.1
NPM:  3.10.8

Debug Issue:

I have multiple local repositories for VSC code source trees.
I have done this

[2017-03-15 03:12] cleidigh commented on #16533
@bpasero
should I make a new issue that is keyboard centric or do the PR on this issue.

I will give you an overview of my current partial implementation.
right now I am struggling with development/debugger repository issues
I just posted an issue on that, it's preventing me from doing forward progress

[2017-03-15 03:13] cateyes99 commented on #22431
ic. well with the new behaviour, after u selects the whole block, then type some text, the next line will become being appended to what u just entered. It's a bit annoying to me. but I guess depending on ur habits of how to use it. If more people the new one is desired then i think this ticket can be closed.

[2017-03-15 03:49] andycmaj opened #22643 "VSCode OSX crashes immediately on opening after latest release 1.10"
- VSCode Version: 1.10
- OS Version: OSX 10.11 (Darwin Kernel Version 15.0.0: Wed Aug 26 16:57:32 PDT 2015; root:xnu-3247.1.106~1/RELEASE_X86_64)

Steps to Reproduce:

1. Update VS Code to latest release
2. Open VSCode

Observe:

<img width="1920" alt="screencapture at tue mar 14 20 49 20 pdt 2017" src="https://cloud.githubusercontent.com/assets/97470/23932858/b7a7a6d4-08f7-11e7-979d-2fa88c0140f4.

[2017-03-15 03:51] snoobvn commented on #22473
Thanks for the reply, but for some file without js/ts extension (vue), go to definition won't work

[2017-03-15 03:55] andycmaj commented on #22643
Rolling back to https://vscode-update.azurewebsites.net/1.9.1/darwin/stable fixes the issue.

here's my extension list:
<img width="470" alt="screencapture at tue mar 14 20 54 41 pdt 2017" src="https://cloud.githubusercontent.com/assets/97470/23932959/7ccbd8ae-08f8-11e7-8148-0bfc46d26398.png">

[2017-03-15 03:55] octref commented on #22585
This is the first thing in vetur's README...https://github.com/octref/vetur#setup

![image](https://cloud.githubusercontent.com/assets/4033249/23932885/17ad8d5a-0911-11e7-9081-6c6322ca7067.png)

@ramya-rao-a @aeschli feel free to cc me for anything related to vetur/vue, or open issue there if it's vue specific problems.

[2017-03-15 03:57] andycmaj commented on #22643
uhp... nevermind. i tried to open a project and it started happening again. not sure how i can get log files for this.

[code]

doesn't seem to show any log output on the console

[2017-03-15 03:58] randywick commented on #22547
@bpasero it seems you've already confirmed this, but yes it was fixed in the insiders build - thanks!  For clarification, I mainly experienced the issue when switching between open files using ctrl+page up/down.  All fixed now.

[2017-03-15 04:20] RohithKumbharkar commented on #22471
Yep, I thought this might go the extension way so I'm looking into making one

[2017-03-15 04:20] timbanaveen commented on #21889
Hi @bpasero

Root cause of this issue is that:
1. When auto menu hide is true, and when menu is visible clicking (listens on mousedown event) any where will result in hiding of menu.
2. When we show options to select  theme or any other option in tree widget, we register click event as selection, whereas mousedown will move tree widget upward and next mouseup event will have different target then

[2017-03-15 04:33] jestersoftware commented on #22469
Here are screenshots of a couple of the VSCode processes, hope it helps!

![vscode-issue](https://cloud.githubusercontent.com/assets/4173419/23933694/3c995d22-090e-11e7-8d8b-3642760025cd.png)

![vscode-issue-2](https://cloud.githubusercontent.com/assets/4173419/23933693/3c98ba70-090e-11e7-9651-213e8c1e1232.png)

Perhaps it's an issue with TypeScript, or a combination. The other symptom is that, wh

[2017-03-15 04:35] timbanaveen commented on #21692
Hi @bpasero

I would like to take up this task if possible, but i am not sure about what is 'adoption' and to add that.

Please help

Thanks

[2017-03-15 04:49] 306414383 opened #22644 "something wrong when using terminal"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.15055
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|togglehs|bbenoist|0.1.2|
|head-file-guard|bjr|0.0.2|
|vscode-astyle|chiehyu|0.6.2|
|vscode-markdownlint|DavidAnson|0.7.0|
|python|donjayamanne|0.5.9|
|code-runner|formulahe

[2017-03-15 04:53] cleidigh commented on #22467
cool
keyboard context works now
question- I was surprised you added the support in the mousecontroller, was that just expedient
since all other keyboard was handled as default handlers?

in testing found another issue - focused file does not reveal clean and stage icons
as when selected with mouse.  I can try and take a crack at the focus issue
assuming I get my debugger back working...

[2017-03-15 04:54] uyhung commented on #22587
hi @isidorn ,
I'm using the latest VS Code version downloaded from the official download page.

When I delete all the breakpoints and add them again, there're showing correctly with one red point per each break point. But then I press F5 to start debugging again the second red points get shown again the the corresponding line of code are pushed to the right.

[2017-03-15 05:00] bstro commented on #871
+1

[2017-03-15 05:03] rhys-vdw commented on #1043
It would be nice if there was some way to also drop _between_ folders - currently impossible.

![cant-drop](https://cloud.githubusercontent.com/assets/822105/23934332/d1d9da58-0998-11e7-87b5-fa8a99759775.gif)

[2017-03-15 05:04] dehghani-mehdi commented on #22004
@mjbvz Okay, I'll asap!

[2017-03-15 05:15] bpasero commented on #15335
No, not heard before.

[2017-03-15 05:15] bpasero commented on #10091
@Tyriar can you check https://github.com/Microsoft/vscode/issues/10091#issuecomment-286576526

[2017-03-15 05:15] bpasero commented on #22357
Thanks!

[2017-03-15 05:16] bpasero commented on #2187
+1 for having the same search experience in editor and preview (= find widget).

[2017-03-15 05:17] bpasero commented on #22580
Weird, ok closing.

[2017-03-15 05:17] #22580 closed

[2017-03-15 05:18] bpasero opened #22645 "Allow to resize views with keybindings only"
Provide commands to resize the active view using keyboard only.

[2017-03-15 05:19] bpasero commented on #16533
@cleidigh I just created https://github.com/Microsoft/vscode/issues/22645, it is more specific towards your scenario.

[2017-03-15 05:20] bpasero commented on #21889
I think this is not limited to quick open but anything in the UI where you can click, no?

[2017-03-15 05:20] bpasero commented on #22469
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-03-15 05:22] Shineant commented on #22510
Thank you all.

[2017-03-15 05:23] bpasero commented on #21692
@timbanaveen this is about adopting the `IListService` for the tree within find references. For example, here is my take on the search viewlet: https://github.com/Microsoft/vscode/commit/b317d23ec23ff3c1694f8706d7e978e2fed52b4f

The work boils down to:
* register the tree in `IListService`
* provide a standalone editor `IListService` or make the service optional for the standalone editor
* fix all

[2017-03-15 05:34] cleidigh commented on #22645
perfect, thanks

if I can get my debug working across repositories I can get onto this...

[2017-03-15 06:00] mosajjal commented on #48
I don't know if this is related to the current issue, but when you run Code in a different folder from the command line, it still uses the first instance's environment. For example if I had two different virtualenvs, If I run Code in the first one, and then open up a new terminal, go to the second venv and run code from there, it still uses the binaries and the environment of the first venv.

[2017-03-15 06:06] bpasero commented on #22645
@cleidigh what is the issue you are seeing?

[2017-03-15 06:11] neilyoung opened #22646 "Cannot close miniterm"
- VSCode Version: Version 1.11.0-insider (1.11.0-insider)
- OS Version: Mac OSX Sierra

Steps to Reproduce:

1. I've got pyserial and miniterm installed together with ESP32-IDF (https://github.com/espressif/esp-idf)
2. If I want to compile and flash and run a console I need to issue

`make flash monitor`

on a terminal prompt. This works both, on native terminal and integrated terminal. But I can'

[2017-03-15 06:11] timbanaveen commented on #21889
Yes, anything on UI will have same effect as quick open. ie, mousedown -> menubar hiding -> mouseup on different target than mousedown.

[2017-03-15 06:14] cleidigh commented on #22645
see #22642
I've been working on it/confused as hell for the last three days
just concluded fresh check out/direct clone does not dbg but no error output
the executable just launches

[2017-03-15 06:17] timbanaveen commented on #21692
Cool, will have to do same for ReferenceWidget also, Thanks :)

[2017-03-15 06:19] BalckCat commented on #5605
+1

[2017-03-15 06:24] cleidigh commented on #22645
@bpasero
you can sign me up for this officially...

[2017-03-15 06:30] wenkeming commented on #22205
&emsp;"jq add class": {
&emsp;&emsp;"prefix": "ac",
&emsp;&emsp;"body": "addClass('$1')$2"
&emsp;},
&emsp;"if": {
&emsp;&emsp;"prefix": "if",
&emsp;&emsp;"body": [
&emsp;&emsp;&emsp;"if($1) {",
&emsp;&emsp;&emsp;&emsp;"\t$2",
&emsp;&emsp;&emsp;"}"
&emsp;&emsp;]
&emsp;},
}

[2017-03-15 06:31] sungb commented on #15335
@Tyriar @bpasero running cli cmd `code some.txt` create the garbage file. Always reproducible.

[2017-03-15 06:33] cleidigh commented on #22642
just for clarification , problem occurs with both release and insiders
VS Code: 1.10.2 (Code OSS Build environment)
VS Code Insiders 1.11.0 3-13 build: (Test environment)
Chrome Debugger Extension 2.6.0

issue started with master branch sometime between 3-1 and 3-10

[2017-03-15 06:52] kumarharsh commented on #22131
Just a minor nitpick with the new SCM: The icon in activity bar looks more like a stethoscope than any source-control, especially with the badge-number visible.

[2017-03-15 06:57] vinsevinalon opened #22647 "Virtual Box - Ubuntu LTS - Virtual Machine"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:00:46.854Z)
- OS Version: Linux x64 4.8.0-41-generic
- Extensions: none
---

Steps to Reproduce:

1. Install Virtual Box
2. Install Ubuntu LTS Unity
3. Install Visual Code
4. Visual Code is not opening. UI crashes.

[2017-03-15 07:02] roblourens commented on #22643
Can you try the `--verbose` flag?

[2017-03-15 07:07] ddyrcz opened #22648 "Typescript - add missing import"
- VSCode Version: 1.10.2
- OS Version: Win 10

Steps to Reproduce:

1. Fetch some package from the npm (in my case it was angular2-moment)
2. Go to the app.module file
3. Add to the imports array the new module to import (in my case it was MomentModule)
4. Try to add missing import - CTRL + .
5. No missing import is added

[2017-03-15 07:12] jskrzypek commented on #21972
I get the same error with the insiders build.

[2017-03-15 07:17] jamiepg opened #22649 "new issues"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2017-03-15 07:17] #22649 closed

[2017-03-15 07:19] IvanMakarenko commented on #22610
Even if I am turn off extensions, this problem stay. I use: PHP IntelliSence (1.1.3), PHP-Autocomplite (0.4.2), Trailing Spaces (0.2.11), other extensions don`t relate to PHP.

[2017-03-15 07:23] AvatarWeb1 commented on #22610
merci

[2017-03-15 07:28] WayneLone opened #22650 "Can you support phpdoc comment"
Can you support phpdoc comment, like jdoc, see also: https://www.phpdoc.org/, when I  type `/**`

[2017-03-15 07:29] kwazel opened #22651 "Freeze when dealing with long (unbreakable) strings"
- VSCode Version: 1.10.2
- OS Version: Windows 6.1 (Build 7601), Windows 10 Version 1607 (OS Build 14393.0)

Steps to Reproduce:

1. Open a C# file with a long string (e.g. the attached file with extension .cs)
2. Syntax coloring may start but not progress past the long string
3. Visual Studio Code will become unresponsive

[crasher2.cs.txt](https://github.com/Microsoft/vscode/files/843674/crasher

[2017-03-15 07:35] medikoo commented on #14909
I'm just trying to switch from Emacs, and not having that makes migration painful

[2017-03-15 07:36] weinand commented on #22635
Unity3D / C# debugging is not a builtin feature of VS Code but relies on separate extensions.
Please file this issue against the extension you are using.

[2017-03-15 07:36] #22635 closed

[2017-03-15 08:17] jrieken commented on #22590
Yes - looks like 💩 with the extra line

[2017-03-15 08:27] ThorQin commented on #3130
+1, I'm using vscode in Arch Linux (Openbox),  I can not use mouse navigation feature (back/forward) but this feature works fine in chrome and PCManFM file manager. I guess maybe button mapping is different in vscode. So, if I can remapping the button action, manually change it's behavior then it would be the best.

[2017-03-15 08:28] jhasse commented on #3130
Best would be if it worked out of the box, don't you think?

[2017-03-15 08:38] PhoneixS commented on #2635
I think that now Typescript 2.2 and Visual Studio Code 1.10 allow adding missing imports as stated on the blog:
https://blogs.msdn.microsoft.com/typescript/2017/02/22/announcing-typescript-2-2/
And the Code support:
https://code.visualstudio.com/updates/v1_10#_languages

So, should this issue be closed?

[2017-03-15 08:46] isidorn commented on #22587
@uyhung please try the latest vscode insiders - you can download it here https://code.visualstudio.com/insiders

This issue is fixed in that version. If you still see it let me know and I can reopen this.
The fix will be available in the next stable release in a couple of weeks, in the meantime you can use vscode insiders

[2017-03-15 08:46] #22587 closed

[2017-03-15 08:50] isidorn commented on #20677
@roblourens great that you were able to connect all the dots! Maybe you could post a short gif showing off this niceness in the ux channel once you have it polished.

[2017-03-15 08:53] weinand commented on #22636
@Steviey do you think that this has changed since the previous releases?

[2017-03-15 08:55] be5invis opened #22652 "Minimap's char width for full-width characters is incorrect."
- VSCode Version: 1.10
- OS Version: Windows 10 x64

![image](https://cloud.githubusercontent.com/assets/240091/23940515/1f99ca4e-09a0-11e7-814d-cbef78203d0e.png)

[2017-03-15 09:00] isidorn commented on #22622
Treating this as a feature request to add scroll bar to debug hover.
Currently we distuingish between two hovers, there is one for complex variables - this one has the tree inside and has the scroll bar. While the regular hover shows no scroll bar at the moment.
Here is a code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugHover.ts#L29

[2017-03-15 09:02] Steviey commented on #22636
I don't know. I ask to see what's the standard.

[2017-03-15 09:05] weinand commented on #22638
@dandingol03 you are asking for extension API?

[2017-03-15 09:07] isidorn commented on #22624
The issue is that you have a curly bracket on end of line 6 in your `launch.json`.
Put that curly bracket on the next line and everything will work fine.

The bottom line issue is that the addConfigurations action searches for the opening `[` and adds a new line after that line - this does not cover tha case when `{` is on the same line as `[`

Code pointer https://github.com/Microsoft/vscode/blob

[2017-03-15 09:08] inamvar opened #22653 "Support to Auto hide panels"
# Please add auto hide feature for panels such  output, terminal, ...

[2017-03-15 09:08] louyihua opened #22654 "Incorrect syntax highlighting when a varible name ends with 'var' in Go mode"
- VSCode Version: 1.11.0-insider & 1.10.2
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. Create/Open a code file written in Go
2. Choose `Go` as the current syntax highlighting mode
3. Write a function definition as follows:
[code]
Or, a varible definition as follows:
[code]
On either case above, the syntax highlighting goes wrong after the varible whose name ends with `var`. Snapshots are

[2017-03-15 09:08] bpasero commented on #22642
@cleidigh to be clear, things work fine as soon as you stop debugging the one workspace and start from the other? this only happens when you debug multiple at the same time?

[2017-03-15 09:09] bpasero commented on #22645
@cleidigh looks like the workaround for you is to debug from one workspace to work on this.

[2017-03-15 09:09] bpasero commented on #15335
@sungb how about using the executable directly instead of our cli launcher? Wondering if this is produced from the launcher or the app.

[2017-03-15 09:10] bpasero commented on #22634
Assuming we want a cross platform solution, this requires native API to decorate the window frame color.

[2017-03-15 09:10] weinand commented on #22639
@feidianbo VS Code does not have a 'Save All Files' button. I assume you mean the 'Save All Files' action (e.g. in the 'File' menu), correct?

[2017-03-15 09:13] isidorn commented on #22492
Assigning to you so you get more data, assign back to me once you have somethign 😊

[2017-03-15 09:19] isidorn commented on #21838
@aubrym the best thing for me would be if you could create a minimalistic repository on github that simply reproduces this behavior. Then I could just clone it and repro the issue locally.
If possible using node, since I would prefer not having to setup dotnet on my machine.
I am asking for this since I was unable to create a simple repository that shows this issue.
And also make sure you can repr

[2017-03-15 09:21] dbaeumer commented on #22260
Why can't we rely on ComSpec on Windows which should point to the right shell as well. It is the counterpart to $SHELL. I am actually not a big fan of prompting the user. If we want to provide UI then I think we should add an action 'Terminal: change used terminal' which users can trigger from the command palette to change the terminal without going through the settings.json file.

[2017-03-15 09:22] weinand commented on #22636
I've never seen scrollbar buttons in VS Code. But I'm on macOS.
But I've verified with those in the know that this is by design.

[2017-03-15 09:22] #22636 closed

[2017-03-15 09:27] dbaeumer opened #22655 "Adopt #22377"
The terminal has now support for an initial text. See #22377

[2017-03-15 09:29] #22609 closed

[2017-03-15 09:29] dbaeumer opened #22656 "Adopt #19078"
See #19078

[2017-03-15 09:30] weinand commented on #22643
It is possible that this issue is caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-03-15 09:33] DarrenCook commented on #9504
Thanks - it works. Can I suggest the default be changed from `true` to:

    "editor.wordBasedSuggestions": {
        "comments":false,
        "strings":false,
       "default": true
   },

(or all `true`, if backwards compatibility is essential). Mainly so that people know the settings are there, and won't keep opening issues about it ;-)

(I thought that was what one of the above commits was ab

[2017-03-15 09:33] weinand commented on #22394
No reply -> closing.

[2017-03-15 09:33] #22394 closed

[2017-03-15 09:35] jrieken commented on #22205
Ok, understood. The issue is that when typing `$('something')` and `.` (dot) triggers completions only for Javascript. That is because `.` is a completion trigger character (in this case for JS member completion) and we only query those provider that have registered for `.`. So, this kind of works by design but I also understand that it's undesirable... Needs some thinking...

[2017-03-15 09:39] weinand commented on #22642
@cleidigh what exactly are you debugging? There are multiple launch configuration in VS Code's launch.json. Which one are you using?

[2017-03-15 09:45] jrieken commented on #9504
https://github.com/Microsoft/vscode/commit/9965a5d86bd44e0435938552b7f4ce41b8df3bd1 did make the default `{comments: false, strings: false, default: true}` but if you have the setting already customised (`true` or `false`) we will still honour that. Remove it, and configure it again and you'll see the new defaults.

[2017-03-15 09:45] jrieken commented on #9504
Snippets in strings and comments is good feedback. Idea is to allow snippets to tell in what *scopes* they wanna be active.

[2017-03-15 09:48] rmunn commented on #22564
While I understand your need to support Excel in the MSSQL plugin's CSV export, I would **strongly** oppose the idea of saving UTF-16 files without a BOM. At this point, with UTF-8 being the *de facto* standard, any text file that does not have a leading BOM should be interpreted as UTF-8. Producing UTF-16 files without a BOM is going to cause all sorts of interop problems, and I'd really, serious

[2017-03-15 09:55] rmunn commented on #22563
Possibly related: https://github.com/Microsoft/vscode/issues/20853 and https://github.com/Microsoft/vscode/issues/20934. Both mention adding Git status to the minimap, but they also have several other suggestions, so this isn't precisely a duplicate of either one. Might be worth keeping one issue open per suggestion -- this one could be the "Git status" issue, while another could track the "find m

[2017-03-15 09:59] stewartadam commented on #22187
When it happens again I'll copy the output. The text I saw said it was updating extensions, with one line for each extension being downloaded... I only have C# and Python installed atm.

[2017-03-15 10:02] Kagu-chan commented on #22600
Seems to work, thanks.
Closing...

[2017-03-15 10:02] #22600 closed

[2017-03-15 10:03] JohnGalt1717 commented on #21838
How is it that you got asigned a ticket about .Net when you don't want to install .Net in your machine?

You need to reassign this to someone that actually wants to solve the issue or step up and do as I instructed in the first place to reproduce this bug.

*Headbang* how the heck does a Microsoft project have someone fixing bugs that doesn't want to use .Net?
________________________________
From

[2017-03-15 10:04] weinand commented on #22600
@Kagu-chan great, thanks for trying my suggestion.
Please consider to remove the no longer used `Code2` folder.

[2017-03-15 10:06] sungb commented on #15335
@bpasero  Even with cli, when run code without a file argument, the file is not produced.  But, at this point if I open a file via code ui, the file gets produced.

[2017-03-15 10:07] rmunn commented on #19763
This looks like the classic "UTF-8 interpreted as CP1252" bug. For example, Ä (U+00E4 LATIN SMALL LETTER A WITH DIAERESIS), encoded in UTF-8, is the two-byte sequence 0xC3 0xA4. If that byte sequence is interpreted as CP1252, it will show up as Ã (U+00C3 LATIN CAPITAL LETTER A WITH TILDE) followed by ¤ (U+00A4 CURRENCY SIGN).

I would bet that Powershell is using the current Windows codepage for i

[2017-03-15 10:09] mugi-luffy commented on #396
+1

[2017-03-15 10:10] zues1bh opened #22657 "i do not have a tool bar or backspace funtion"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|statusbar-commands|anweber|0.1.0|
|scanner-js-twain-wia-javascript-browser-scan|asprise-scan-ocr|2.0.2|
|python|donjayamanne|0.6.0|
|vscode-nupkg|eridem|0.0.4|
|scriptcsRunner|filipw|0.1.0|
|code-runner|

[2017-03-15 10:12] rmunn commented on #19763
BTW, any time you see Â (U+00C2) or Ã (U+00C3) followed by other accented characters, the first thing you should think is "UTF-8 wrongly interpreted as Latin-1 / ISO-8859-1 / CP-1252". 99% of the time, Â and Ã are dead giveaways for that particular, far-too-widespread, bug. (I'll spare you the rant on why Microsoft should really have made CP65001 the default in Windows 10.)

[2017-03-15 10:13] weinand commented on #22188
@cwgabel I can reproduce the problem in Stable (1.10.2) but not in the Insider (1.11.0).
(In the Insider I've fixed an incompatibility with recent versions of node/v8)

Could you try to verify that the problem no longer appears in Insiders?

BTW, what version of node are you using?

[2017-03-15 10:14] be5invis commented on #19763
@rmunn Because programs written in 1990s and are still running, like nuclear power plant controllers, will crash.

[2017-03-15 10:17] lukaschal commented on #22402
Waiting for linguistic input.

[2017-03-15 10:20] weinand commented on #22188
@cwgabel I do not understand your second problem ("reloads the sidebar from the debug view").
Could you help us by providing a screenshot or screen cast?

/cc @isidorn

[2017-03-15 10:20] be5invis commented on #19763
pps. Default encoding (codepage) of console in English language is cp437.

[2017-03-15 10:20] RobIsHere commented on #19763
![screen3](https://cloud.githubusercontent.com/assets/13229377/23943942/64b9e9f8-0971-11e7-809e-757b5898e5cb.PNG)

[2017-03-15 10:23] RobIsHere commented on #19763
In this scenario ß works as expected.

´´´
    "terminal.integrated.shell.windows": "ssh.exe",
    "terminal.integrated.shellArgs.windows": [
        "root@server",
        "-t",
        "cd /root/projects; bash --login"
    ],

´´´

[2017-03-15 10:24] isidorn commented on #22183
After debugging the issue seems to be that the node adapter returns all those results after being asked for completions for` column: 10` in `text: Date.now()`. Debug adapter should not return all those results, however I think we should protect on our vscode side from bad completions by doing smart filtering.
fyi @weinand

@jrieken If I remove our  incomplete "fix" this issue is fixed, since we sm

[2017-03-15 10:27] weinand commented on #22657
@zues1bh VS Code does not have a "toolbar" by design. Please watch the following introduction to learn how VS Code works: https://code.visualstudio.com/docs/introvideos/quicktour

What do you mean by "backspace function"?

[2017-03-15 10:36] seewee44 opened #22658 "Remember Language Mode for re-opened hot-exit code"
Would it be possible to restore the Language mode that was set on an unsaved file when restoring ?

- VSCode Version: 1.11.0
- OS Version: Windows 10 1607

Steps to Reproduce:

1. Create a new file, don't save
2. Set language mode to anything but "Plain Text"
3. Exit without saving
4. Re-open VS Code
5. Code is restored in Untitled-1, language mode is back to "Plain Text"

[2017-03-15 10:40] bpasero commented on #22653
@inamvar can you explain more how you would expect a panel to hide?

[2017-03-15 10:41] bpasero commented on #22187
@stewartadam when you found out please report it to the extension (either Python or C#).

[2017-03-15 10:42] #22324 closed

[2017-03-15 10:44] zues1bh commented on #22657
I cannot back space when I am writing code. I have to highlight and cut all
unwanted text.

On Mar 15, 2017 5:27 AM, "Andre Weinand" <notifications@github.com> wrote:

[2017-03-15 10:46] aeschli commented on #22324
The problem is that `wordHighlight` is placed over the `selection`. Therefor `wordHighlight`always should defined with a transparency. Same for `findRangeHighlight`, `findMatchHighlight` and `				`currentFindMatchHighlight`. Always put a transparency.

I fixed [the sample themes](https://github.com/Microsoft/vscode-extension-samples/blob/master/theme-sample)

[2017-03-15 10:48] weinand commented on #22657
So you don't have a Backspace ('←') key?

[2017-03-15 10:49] bpasero commented on #15335
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2017-03-15 10:53] chrmarti commented on #10439
@efc Could you follow-up with the Docker extension in a bug report so they can look into it? /fyi @chrisdias

[2017-03-15 10:54] harikrishkk opened #22659 "Indentations getting lost while copy pasting"
- VSCode Version: Code - Insiders 1.11.0-insider (6a002910356c6e087dd93e819e4ad54c68b9857a, 2017-03-15T07:11:58.965Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-great-icons|emmanuelbeziat|1.1.44|
|Theme-azure|gerane|0.0.2|
|easy-icons|jamesmaj|0.3.1|
|jostheme|jestersimpps|0.1.0|
|theme-onedark-sublime|joshpeng|0.3.6|;

---

Steps to Re

[2017-03-15 11:01] giovapanasiti commented on #3702
+1

[2017-03-15 11:11] aeschli commented on #22651
This issue was moved to dotnet/csharp-tmLanguage#48

[2017-03-15 11:11] #22651 closed

[2017-03-15 11:14] #18001 closed

[2017-03-15 11:17] aeschli commented on #22525
This issue was moved to textmate/shellscript.tmbundle#36

[2017-03-15 11:17] #22525 closed

[2017-03-15 11:20] sgtoj opened #22660 "Use Settings Editor Viewer for Editing Keybindings"
While editing my keybinding today, I noticed the editing experience is inconsistent when compared to editing settings. Is it possible make the settings and keybinding editing view and experience the same.

[2017-03-15 11:24] isidorn commented on #18001
@roblourens now I am caching children for all expressions. Hopefully this does not break anything, we can wait and see. Previously I was not doing any caching because the tree would cache for me, but as you nicely point out here in REPL we are doing a lot of refreshes so we should also cache on our side.

I invalidate the cache whenever an expression container changes reference so I belive that sh

[2017-03-15 11:25] jrieken opened #22661 "Allow snippets to control the scope to which they are applicable"
We know have solid information about the current position/cursor being in a *string*, in a *comment*, in a *regex*, and elsewhere. We should expose this to snippet authors such that their snippets can express where they want to show

[2017-03-15 11:25] jrieken commented on #9504
I have extracted https://github.com/Microsoft/vscode/issues/9504#issuecomment-286691311 to https://github.com/Microsoft/vscode/issues/22661

[2017-03-15 11:27] jrieken commented on #22183
Yes, you then must implement the proper fix which is setting the filter text correctly when computing the suggestion and overwriteBefore

[2017-03-15 11:29] jrieken commented on #22661
Streck for march...

[2017-03-15 11:38] joewood opened #22663 "Optionally Run Language Servers/Extensions using Windows Subsystem for Linux"
Similar to the request for #20220 but more general. Running the Windows version of Code from bash on Windows using WSL works really well. The problem with the set-up is that the language server and extension environment in code is using the Windows environment, but the terminal is using the WSL environment. These are essentially two different operating systems, different executables installed and

[2017-03-15 11:40] Tekbr commented on #22399
-- Sorry for the English, I used Google Translator --

@bpasero Even after some updates from Insiders, I still have the problem. I installed VSCode-insiders on Windows 8 on a Virtual Machine using VirtualBox and had the same problem. Were you able to reproduce the problem?

[2017-03-15 11:43] FloMaetschke commented on #22603
Thx, this worked. .\scripts\npm install returned ok.

Here is the other part of the log:

[code]

After that I tried executing the watch task, which is running fine, too.
But the actual start of code failed:

D:\code (master) (code-oss-dev@1.11.0)
λ .\scripts\code
[12:40:57] Using gulpfile D:\code\gulpfile.js
[12:40:57] Starting 'clean-electron'...
[12:40:57] Finished 'clean-electron' after 1.84 m

[2017-03-15 11:47] AriaMinaei opened #22664 "Recognize altKey correctly on macOS"
- VSCode Version: 1.11.0-insider (6a002910356c6e087dd93e819e4ad54c68b9857a)
- OS Version: macOS Sierra 10.12.3

Steps to Reproduce:

1. Define this keybinding and try it: `{"key": "alt+u", "command": "cursorHome"}`

What's expected: For `cursorHome` command to be invoked.
What actually happens: This character gets written: ¨

Atom used to have this problem too, which was solved by this PR: https:/

[2017-03-15 11:56] bpasero commented on #22399
@Tekbr no

[2017-03-15 12:02] isidorn commented on #22183
After lots of tweaking I deduced that the filterText needs to also contain the full label, to be more precise in order to get 'hello world' as the proposal as you are typing it the filter text must be `.hello world`
You can check out 094d4c0, but after trying it out it works fine and seems to not break anything

[2017-03-15 12:02] #22183 closed

[2017-03-15 12:06] Steviey commented on #22636
Thank you, this is a big design misconception- since it simply cuts down essential IDE standard features.
May move this to feature request.

[2017-03-15 12:17] rmartins90 commented on #11847
+1

[2017-03-15 12:23] fightingcat commented on #2635
what we request is different with what they stated, I don't want to select or move cursor to every symbols to   fix missing imports, fixing every missing import automatically with one single command is better.

[2017-03-15 12:28] ng-state commented on #2635
Is there a way to say for auto-import to use single quotes?

[2017-03-15 12:47] DarrylD opened #22665 "Restrict Intellisense"
While using javascript, ~90% of the suggestions I feel are useless. I seem to only use suggestions based on the project (ex: variables, methods, etc...) and snippets.

Is it anyway to restrict Intellisense to remove the generic suggestions?

I turned off `quickSuggestions` to prevent seeing the tons of suggestions but, I realized I still would like to see the suggestions specific to the open proje

[2017-03-15 12:48] hazzlewis commented on #22616
Interestingly, it works absolutely fine when executing the command on a VM. Apparently the issue is only occurring when executing it locally. Maybe it's something to do with Windows vs Linux.

Local:
`harry@Harrys-Laptop /cygdrive/c/Users/harry/vc/pub (master)
$ php -v
PHP 7.1.1 (cli) (built: Jan 18 2017 18:51:14) ( ZTS MSVC14 (Visual C++ 2015) x86 )
Copyright (c) 1997-2017 The PHP Group
Zend Engi

[2017-03-15 12:52] kirillku opened #22666 "Convert indentation on save"
- VSCode Version: 1.10.2
- OS Version: Win 10

It would be nice to add option to automatically change indentation on save.
Something like `"editor.convertIndentationOnSave": true`.

Like this sublime extension : [ExpandTabsOnSave](https://github.com/bubenkoff/ExpandTabsOnSave-SublimeText).

[2017-03-15 13:06] Louti commented on #13078
It has been fixed in the latest version ! Thanks a lot !

[2017-03-15 13:16] gmckeown opened #22667 "Seti Icons seem badly rendered"
- VSCode Version: 1.10.2 and 1.11.0 Insider build (b9857a)
- OS Version: Windows 10 Build 14393.693

Steps to Reproduce:

1. Enable vs-seti icon set
2. Create a file with .sh extension (for example)

Icon is simply a grey square; the [Seti icon set for Atom](https://atom.io/packages/seti-icons) suggests there should be some detail displayed.

Here's an enlarged comparison with VSCode on top and th

[2017-03-15 13:17] svenvNL opened #22668 "In editor release notes doesn't open external stylesheet"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|gitignore|codezombiech|0.5.0|
|vscode-eslint|dbaeumer|1.2.7|
|php-debug|felixfbecker|1.10.0|
|php-intellisense|felixfbecker|1.1.3|
|php-pack|felixfbecker|1.0.1|
|file-icons|file-icons|1.0.3|
|vscode-apac

[2017-03-15 13:26] Skamau commented on #12460
![screenshot 2017-03-15 16 24 24](https://cloud.githubusercontent.com/assets/26254540/23950447/0fafec7a-099c-11e7-8729-b9f826b1a814.png)
this is not working for me..please help

[2017-03-15 13:28] kwmiebach commented on #15325
On debian 8 (and probably ubuntu), to satisfy the library requirement of libXss.so.1 try:

`sudo apt install libxss1`

[2017-03-15 13:30] kwmiebach commented on #16948
On debian 8 (and probably ubuntu), to install the dependency manually:

`sudo apt install libxss1`

[2017-03-15 13:31] Tekbr commented on #22399
@bpasero I use POR - PTB2 Portuguese keyboard (Brazil ABNT2).

[2017-03-15 13:38] cg-cnu commented on #10110
Sorry, lost track of this one. I don't think its the issue with KDE.
All apps are working fine except firefox and code. While firefox is manageable code is too big.
@calumblair's comments make sense.

[2017-03-15 13:41] cg-cnu commented on #9050
Fixed in the version 1.10.2.
Thanks

[2017-03-15 13:41] #9050 closed

[2017-03-15 13:56] Olian04 commented on #19490
Isn't this the same as issue #6435 ?

[2017-03-15 14:04] weinand commented on #22636
On macOS, no scrollbar has buttons, so at least there the point is moot.

[2017-03-15 14:12] amol9 commented on #21546
I am updating the issue after a long time. I have some more info.

I noticed that there was a similar delay of about 5s while saving documents in notepad as well. So, I thought, may be it's an issue with some windows component which is used by both notepad and vs code. I had not updated my system for a few months. So, I tried to update windows.

All pending updates, except, the anniversary update

[2017-03-15 14:13] weinand commented on #22665
Have you tried to configure the "editor.wordBasedSuggestions"?

[2017-03-15 14:24] erikseulean opened #22670 "Interacting with vagrant from the integrated terminal doesn't work."
- VSCode Version:1.10.1
- OS Version: Windows 7
Steps to Reproduce:
Using bash on Windows and running this command in the Integrated Terminal
1.vagrant ssh
Error: VM must be running to open SSH connection. Run 'vagrant up' to start the virtual machine.

I've noticed that interacting with Vagrant doesn't work from the integrated terminal
Same thing from a bash window, external from vscode works fin

[2017-03-15 14:24] DarrylD commented on #22665
@weinand I'm not exactly sure what that's for. The description just says `// Enable word based suggestions`

I just set it to false and I'm not sure if anything changed.

[2017-03-15 14:26] gmckeown commented on #22667
Digging a bit further, I assume you've used the [seti.woff](https://github.com/wyze/atom-seti-icons/blob/master/styles/_fonts/seti/seti.woff) file from the [atom-seti-icons](https://github.com/wyze/atom-seti-icons) project, which in turn takes them from the [seti-ui](https://github.com/jesseweed/seti-ui) project.

Seti UI uses a [script ](https://github.com/jesseweed/seti-ui/blob/master/gulpfile.j

[2017-03-15 14:29] weinand commented on #22665
What version of VS Code are you using?
For me the setting looks like this:
![2017-03-15_15-27-47](https://cloud.githubusercontent.com/assets/1898161/23953180/1c357ec2-0994-11e7-9d86-f6966cca8b4c.png)

[2017-03-15 14:34] aeschli commented on #22667
@gmckeown Thanks for the analysis. We're take the font directly from the [seti-ui](https://github.com/jesseweed/seti-ui/blob/master/styles/_fonts/seti/seti.woff) project.
I move the issue there in the hope they can improve the SVG to font conversion.

[2017-03-15 14:35] aeschli commented on #22667
This issue was moved to jesseweed/seti-ui#401

[2017-03-15 14:35] #22667 closed

[2017-03-15 14:48] shanalikhan commented on #22065
https://github.com/shanalikhan/code-settings-sync/blob/master/.vscode/launch.json
https://github.com/shanalikhan/code-settings-sync/blob/master/.vscode/tasks.json

Can you tell me what i have to change in order to switch to 2.0 ?

[2017-03-15 14:52] DarrylD commented on #22665
I'm using ` 1.10.2 (1.10.2)` on Mac

is `other` the all of the extra suggestions i mentioned?

[2017-03-15 14:52] bacalazin commented on #12115
+1
I'm trying VsCode coming from sublime.. It's really a blocker for me. I'm really used to https://github.com/alienhard/SublimeAllAutocomplete

[2017-03-15 14:53] DarrylD commented on #22665
This is what I have...

![screen shot 2017-03-15 at 10 52 28 am](https://cloud.githubusercontent.com/assets/1310383/23954384/86e6e44e-096d-11e7-8b03-6bdc190bdef3.png)

[2017-03-15 14:55] jchannon commented on #22400
[code]

Interesting in that that DYLD path is there though but its clearly not used

[2017-03-15 14:59] weinand commented on #22665
Yes, we'll expand this option in 1.11.0 (current Insiders).
Setting editor.wordBasedSuggestions to false eliminates all generic (text based) suggestions. These are the ones with the 'abc' icon.

[2017-03-15 15:04] jrieken commented on #22666
This should be done as extension. The APIs are all in place

[2017-03-15 15:09] pocesar opened #22671 "can't go to file / file in 'Problems' tab with TSC build task"
- VSCode Version: Insiders 6a002910
- OS Version: Windows

Steps to Reproduce:

Have a tsx file with some errors and a TSC watch task running:

![image](https://cloud.githubusercontent.com/assets/461084/23955212/08942cc2-0978-11e7-95d7-3b02de57e440.png)

after clicking

![image](https://cloud.githubusercontent.com/assets/461084/23955232/165362ce-0978-11e7-950d-96bfa1d9c51d.png)

[2017-03-15 15:12] DarrylD commented on #22665
I'm not seeing any 'abc' icons. Something new in 1.11.0 also?

This is what I see when I type `a`. In this case, I only care about the first instance of `api` since I have an `import` for it.

![screen shot 2017-03-15 at 11 08 52 am](https://cloud.githubusercontent.com/assets/1310383/23955317/f1a232dc-096f-11e7-90fb-2fe50797cf18.png)

[2017-03-15 15:14] aeschli commented on #22612
The bug is that the published version of sass-indent [v1.3.0](https://github.com/robinbentley/vscode-sass-indented/blob/edc30526ce080c149b778fbdcead6b34bad3d6a8/package.json) makes the following file association:
[code]
which conflicts with the built-in extension scss extension that registers ".scss" with language "scss".
With the change(https://github.com/Microsoft/vscode/commit/96bbe8100efa66d25

[2017-03-15 15:15] aeschli commented on #22612
This issue was moved to robinbentley/vscode-sass-indented#19

[2017-03-15 15:15] #22612 closed

[2017-03-15 15:18] weinand commented on #22665
No, 'abc' suggestions exist since the beginning of time. They are what the "editor.wordBasedSuggestions" setting controls. But it seems that they are disabled for JS/TS automatically.
You can seem them in plain text files:

![2017-03-15_16-16-20](https://cloud.githubusercontent.com/assets/1898161/23955655/d36b732a-099a-11e7-998d-9a1df41d63eb.png)

I've assigned the issue to someone from the VS Cod

[2017-03-15 15:21] aeschli commented on #22524
This is because `span` is inside the input tag which is the list of tags not to be formatted.
See setting
[code]

[2017-03-15 15:21] #22524 closed

[2017-03-15 15:21] roblourens commented on #22603
I think that other vscode-ripgrep error might just be the stack from it shutting down. Is there any other error or mention of it further up in the log?

I don't know about the errors from starting up. That's not related to vscode-ripgrpe.

[2017-03-15 15:23] CoenraadS commented on #22661
Could exposing this information about an arbitrary position being a string/comment etc also be available as an extension API?

[2017-03-15 15:23] weinand commented on #22183
@isidorn I'm no longer returning proposals after a closing ')'

[2017-03-15 15:29] weinand commented on #22544
"Try" refers to the VS Code program, not the user.

This description refers to an configuration option that the user can use to
"make VS Code try to detect the best protocol automatically"

[2017-03-15 15:29] #22544 closed

[2017-03-15 15:30] aeschli commented on #21866
duplicate of #20652

[2017-03-15 15:30] #21866 closed

[2017-03-15 15:30] jens1o commented on #5733
I'm waiting for this.

[2017-03-15 15:32] weinand commented on #22542
"Node.js: Electron Main" is the name of a snippet that has the longer description: "Debug the Electron main process".
"Electron" is the software program "Electron" and needs no translation.
And "Main" is short for "main process" and needs translation.

[2017-03-15 15:32] #22542 closed

[2017-03-15 15:37] aeschli opened #22672 "solarized light: bring back diff color rules"
https://github.com/Microsoft/vscode/commit/ee8bce102195fccc84ad53b999ccba6374bb9b93 (accidentally) removed the diff rule. Reverting...

[2017-03-15 15:38] weinand commented on #22531
'legacy' and 'inspector' should not be translated because both are options the user has to use literally in a configuration file.
For the next translation drop I will extract both from the string and add them as a '{n}' parameter.
Is this correct?

[2017-03-15 15:38] #22531 closed

[2017-03-15 15:39] isidorn commented on #11944
fyi @jrieken this is the issue I was mentioning in the standup
I was searching through suggest widget feature requests but could not find the one you mentioned that people already want this.

[2017-03-15 15:46] weinand commented on #22378
Issue 3 from above is the result of a changed API. See https://github.com/Microsoft/vscode/issues/22409. It is fixed now.

[2017-03-15 15:53] kberridge opened #22673 "PowerShell PSEdit support in Integrated Terminal"
PowerShell ISE has this useful "psedit" command that allows you to open a file to edit through a remote session (http://www.powershellmagazine.com/2014/12/08/pstip-editing-remote-file-in-powershell-ise/).  I prefer working in VSCode, so it would be great if VSCode could support the psedit command in it's Integrated PowerShell Terminal.

[2017-03-15 15:57] #21790 closed

[2017-03-15 16:06] iqianxing opened #22674 "vscode terminal difficult to use!"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.15048
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|1.0.0|;

---

Steps to Reproduce:

1.open the vscode teminal, and type some cmd

2.you can found terminal current input key like bellow:

![difficult to use](https://cloud.githubusercont

[2017-03-15 16:07] jdc-cunningham opened #22675 "Feature request: Select closing bracket, show function/array/etc... opening tag with indent-guide hover-highlight."
![example](https://cloud.githubusercontent.com/assets/11015467/23958188/41a0a3c8-096f-11e7-8bd7-f9bd720a5712.png)

It's probably a bad thing I found the support request for VS code haha.

So I have this problem where when working with very long functions, I click on the closing bracket and I don't know what function that is. So I will hover over the indent guide and scroll up, until I run into the

[2017-03-15 16:19] #13078 closed

[2017-03-15 16:19] bpasero commented on #22399
@Tekbr does it reproduce if you stop VS Code, change to US keyboard and then start again?

[2017-03-15 16:20] isidorn commented on #22530
@michaelchiche the translators have a question about how we use `nls` in `debugQuickOpen`. What we usually do in cases like this is to add a comment in the nls call to clarify the meaning and also comment here in the issue such that the translators are aware.

[2017-03-15 16:21] bpasero commented on #22658
This works as soon as you open a folder, but not without. This is https://github.com/Microsoft/vscode/issues?page=156&q=is%3Aissue+is%3Aopen

[2017-03-15 16:21] #22658 closed

[2017-03-15 16:22] bpasero commented on #22663
@joewood when we fork a process, there is no shell involved at all. Are you talking about the integrated terminal maybe?

[2017-03-15 16:23] #21546 closed

[2017-03-15 16:25] dandingol03 opened #22676 "after i finish 'npm run watch',how can i start vscode.i need help."
1.i use node ./out/main.js ,but there is some error as below:
app.setPath('userData', userData);
   ^
TypeError: Cannot read property 'setPath' of undefined

//i have install electron global
thanks for your time!!!

[2017-03-15 16:26] Exevium commented on #533
![code error](https://cloud.githubusercontent.com/assets/25924266/23959114/88052e94-09a4-11e7-9323-ec6af0c29aae.png)

It doesn't work for me.

[2017-03-15 16:28] smlombardi commented on #6435
@aeschli Line numbers can indeed be set in a TextMate theme (for Sublime, anyway):

[code]

[2017-03-15 16:28] marbakjs opened #22677 "Quick Info missing descriptions for own imported functions, objects and primitives"
![quickinfo](https://cloud.githubusercontent.com/assets/26436450/23957939/ed37505c-09a0-11e7-8262-88b2b0bd321e.gif)

**test3.js**
[code]
**test4.js**
[code]

VSCode started with **--disable-extensions**

- VSCode Version: 1.10.2
- OS Version: Microsoft Windows [Version 10.0.14393]

[2017-03-15 16:29] bpasero commented on #6830
@pcherkasova is this still happening with our latest insider build? You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2017-03-15 16:30] bpasero commented on #12042
@michaeljota  is this still happening with our latest insider build? You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2017-03-15 16:30] bpasero commented on #14534
This should work OK now if you set `workbench.editor.closeOnFileDelete: false`

[2017-03-15 16:30] #14534 closed

[2017-03-15 16:31] bpasero commented on #15822
This should work ok now if you set `workbench.editor.closeOnFileDelete: false`

[2017-03-15 16:31] #15822 closed

[2017-03-15 16:31] #20540 closed

[2017-03-15 16:31] #20788 closed

[2017-03-15 16:31] #20709 closed

[2017-03-15 16:31] #20803 closed

[2017-03-15 16:31] #20808 closed

[2017-03-15 16:31] #20975 closed

[2017-03-15 16:32] bpasero commented on #21271
@Lanterm ping

[2017-03-15 16:32] bpasero commented on #21397
Ok thanks.

[2017-03-15 16:33] bpasero commented on #21680
@hangxingliu any updates?

[2017-03-15 16:33] bpasero commented on #21774
@Deilan any findings?

[2017-03-15 16:33] bpasero commented on #22046
@ozluy does it show when you restart Code or refresh the explorer?

[2017-03-15 16:40] nicolehaugen79 commented on #22624
I am not sure when the backlog milestone will occur is - but I think this issue should be fixed as a higher priority.  The reason is, that as soon as I made an edit to the launch.json file and save, by default the launch.json automatically formats so that the '{' and '[' are on the same line which then breaks the 'configuration snippets' from appearing.

[2017-03-15 16:43] RookieZn opened #22678 "Visual problem when dark color themes are used"
- VSCode Version: 1.10.2
- OS Version: macOS 10.12.3

Steps to Reproduce:

1. Just use dark color theme
<img width="1440" alt="snapshot" src="https://cloud.githubusercontent.com/assets/17445652/23959945/857f76e2-09e1-11e7-848c-cfbcb0113158.png">

[2017-03-15 16:43] JimiC commented on #22612
@aeschli Thanks for the info. Now we know how to resolve future issues with other extensions.

[2017-03-15 16:43] isidorn commented on #22624
@nicolehaugen79 that is just the way you have your json formater setup - possibly by an extension.
Our json formater out of the box does not format that way - as I am not seeing the behavior you are describing

[2017-03-15 16:43] SmarTi01 commented on #20803
Hey bpasero.  I cant give you screen shots as i use this at work so its confidential.  However, it looks like this happens when i have two or more VSCode IDE's open at the same time.  What i think is going on is that if i save on one, then those files seem get saved into the other

[2017-03-15 16:45] sgtoj commented on #22674
Closing the terminal (exit Trash icon) and opening a new one will resolve this issue.

This has happen to many times. In fact, it is reproducible. After installing Python modules using `pip`, will cause the terminal to behave similarly or cause carriage-return without line break after some unknown line character number.

[code]

[2017-03-15 16:46] Deilan commented on #21774
@bpasero Not reproduced so far. If it will I'll let you know. I think it's fine to close the issue for now until someone stumble upon it again.

[2017-03-15 16:47] nicolehaugen79 commented on #22624
yes... you are right...I realized that I had the extension "JS-CSS-HTML Formatter" installed which I believe is the culprit here.

[2017-03-15 16:54] stannynuytkens commented on #1884
@blueredcat, why removing it? Styling or autohide or something will do, no?

[2017-03-15 16:58] WraithKenny commented on #396
To share a real world example that refines the feature description: Example, WordPress Theme/Plugin dev.

In other editors, I set up several folders as "bookmarks", to get to a fairly large and complex file tree a little bit easier to manage. One is to the webroot, which is the root I'd prefer any debug and code completion function look up to start at (the environment). Second is to the actual pro

[2017-03-15 17:01] isidorn commented on #22624
That extension has 200 000 installs, so we might want to do something here, assigning to march to investigate if there is a nice fix, if we do not get a pr in the meantime

[2017-03-15 17:03] isidorn commented on #21111
Just tried it out and decided to close as designed.
To be more precise we will nicely focus the other process once you first process has fully terminated, it does not make sense to automatically focus if the first process is still running.

Imagine the scenario where a user continues process A, and then hits the stop button expecting to terminate A, however we have autofocussed B which leads to un

[2017-03-15 17:03] #21111 closed

[2017-03-15 17:05] bobmagicii commented on #22561
er, i need to test that the file is open...

i dont see any file:// resource paths in that example output i pasted.

you can clearly see i am reading File.uri.fsPath which surely stands for File System Path...

[2017-03-15 17:06] piyushparkash commented on #22598
OK. Will try this and let you know the result.

[2017-03-15 17:07] marbakjs opened #22679 "Pop-up Hints showing incorrect JSDoc description or no description for variables/constants referencing a function"
![quickinfo4](https://cloud.githubusercontent.com/assets/26436450/23964510/0e03b88e-09b5-11e7-8686-2e14310e28f9.gif)

[code]

VSCode started with --disable-extensions

VSCode Version: 1.10.2
OS Version: Microsoft Windows [Version 10.0.14393]

[2017-03-15 17:08] #21774 closed

[2017-03-15 17:10] ramya-rao-a commented on #22585
Thanks @octref :)

[2017-03-15 17:10] #22585 closed

[2017-03-15 17:12] Tekbr commented on #22399
@bpasero The menu shortcuts are still not displayed after changing the keyboard language and starting the VSCode again.

[2017-03-15 17:18] StanislawStempin opened #22680 "language specific editor.wordBasedSuggestions setting doesn't override the global setting"
- VSCode Version: 1.10.2
- OS Version: Windows 10 1607 14393.693

Steps to Reproduce:

1. Create a new empty folder and open it in VSCode
2. In that folder - create a new xml file
3. Open workspace settings and set the following settings:
'''{
    "editor.wordBasedSuggestions": true,
    "[xml]": {
        "editor.wordBasedSuggestions": false
    }
}
'''
4. Open the XML file, type a few words and

[2017-03-15 17:18] chetan51 commented on #22635
Moved to https://github.com/Unity-Technologies/vscode-unity-debug/issues/29.

[2017-03-15 17:21] ramya-rao-a commented on #22654
@50Wliu Could this in any way be related to the various `var` related issues you were looking at in the atom grammar for Go?

cc @joefitzgerald

[2017-03-15 17:32] SailorMax opened #22681 "SCM/Git sort changes list by name"
- VSCode Version: 1.10.2
- OS Version: Windows 10 (14393.953)

Steps to Reproduce:

1. Turn on SCM/Git
2. make changes in many files
3. open SCM tab

Expected: List of changed files, sorted as before SCM, by name

Actual: List of changed files, sorted by change type?

[2017-03-15 17:32] 50Wliu commented on #22654
Yes.  It's high-up on my todo list and I should be finishing up that PR soon.

[2017-03-15 17:39] bdelaney commented on #16413
I was tired of seeing this message too and I tried both workspace and user settings in VS Code to set the tsdk value. Nothing worked. And when I tried adding the tsdk value to User settings, I also got the warning about an invalid tsserver.

I'm on Windows with VS 2015 installed. I checked the system path variable and there is a pointer to the x86/sdks. In my case it was pointing to Typescript 2.1

[2017-03-15 17:48] ramya-rao-a commented on #22654
Cool, is there any particular issue in the atom grammar repo you'd prefer to link this to?

[2017-03-15 17:48] sirajalam049 commented on #22397
Thanks @aeschli

[2017-03-15 17:51] rebornix commented on #19644
![screen shot 2017-03-15 at 10 39 37 am](https://cloud.githubusercontent.com/assets/876920/23962550/ba04c8ca-096b-11e7-8a89-a225a870a616.png)

It's about `invokeAll`, we need to support multiple cursors :)

![screen shot 2017-03-15 at 10 40 43 am](https://cloud.githubusercontent.com/assets/876920/23962596/dfd40e8a-096b-11e7-8f27-5f7042598d9d.png)

See above screenshot :)

[2017-03-15 17:52] kberridge commented on #22673
After opening this I learned that _today_ (how's that for timing) the vscode powershell extension released support for the psedit command in their integrated console: https://github.com/PowerShell/vscode-powershell/releases.

It still seems to me that it would be great if this was supported by the default powershell console too, but I don't really understand where the line between the powershell e

[2017-03-15 17:55] buzinas opened #22682 "Bug: Format Document"
- VSCode Version: 1.10.2
- OS Version: Mac OS X Sierra

Steps to Reproduce:

1. Create a new JavaScript file with two-spaces indentation settings:
2. Add the following code (intentionally with four-spaces indentation):
[code]
3. Right click, select the option `Format Document`. Code is formatted as:
[code]

Expected:
[code]

[2017-03-15 17:57] Pikdo commented on #4406
it is done?

[2017-03-15 18:05] felixfbecker commented on #4406
![](https://github.com/felixfbecker/vscode-php-intellisense/raw/master/images/definition.gif)

[2017-03-15 18:14] stozk commented on #13612
So what's the problem now? It was indicated that this should have been fixed in January.

[2017-03-15 18:15] riskers opened #22683 "IDE visual problem"
- VSCode Version: 1.10.2
- OS Version: 10.12.3

Steps to Reproduce:

1. when i open vscode always shows:

![](http://p1.bqimg.com/567571/bd7b2e2e3ba5e94d.jpg)

2. every theme always show.

[2017-03-15 18:19] Tyriar commented on #22646
@neilyoung do you know what ctrl+[ is meant to do in your case exactly? xterm.js appears to act the same as gnome-terminal in a regular bash prompt.

You could try ctrl+c (SIGINT) or ctrl+\ (string terminator).

[2017-03-15 18:21] emackey commented on #22601
The problem is coming from code snippet suggestions being used inside comments.  For example, type the following and press ENTER:

[code]

When ENTER is pressed, VSCode inserts the following text:

[code]

[2017-03-15 18:24] jshap70 commented on #13612
I'll like to reiterate my previous comment that this specific issue is not really tracking the issue on windows, as the information I posted about scrolling being broken in chromium was related to linux.
That said, the issue is still present on the current version of vscode

[2017-03-15 18:33] neilyoung commented on #22646
I'm sorry, my fault. It is actually CTRL+]
Description here: http://esp-idf.readthedocs.io/en/latest/idf-monitor.html?highlight=miniterm

[2017-03-15 18:35] FloMaetschke commented on #22603
i guess vscode ripgrep is causing the error because it has to use a proxy connection?

[2017-03-15 18:41] Tyriar commented on #22674
Duplicate https://github.com/Microsoft/vscode/issues/19665

[2017-03-15 18:41] #22674 closed

[2017-03-15 18:41] Tyriar commented on #19665
Can anyone verify that the workaround that caps the terminal width fixes the issue?

[2017-03-15 18:43] andycmaj commented on #22643
i actually cleared my Library directories related to Code and it works again.
i'll re-open and use the --verbose flag if it happens again.

Thanks!

[2017-03-15 18:43] #22643 closed

[2017-03-15 18:43] roblourens commented on #22603
Oh, it does try to download something. But we download Electron too.

Do you see the "Request path contains unescaped characters" errors even after removing 'vscode-ripgrep' from the package.json and npm-shrinkwrap, running install again, and building?

[2017-03-15 18:45] willfaught opened #22685 "Double clicking a symbol starting/ending a string highlights the adjacent quotes"
When writing JavaScript, double clicking symbols that start a string highlights both the symbols and the single or double quote to the left of it. If there's a left parenthesis to the left of the quote, that is highlighted too. The reverse happens for symbols ending a string, except the highlight also extends to a line-terminating semicolon if it's to the right of the right parenthesis.

If the fi

[2017-03-15 19:04] efc commented on #10439
Sorry, @chrisdias. I have been trying to get this to repeat consistently and cannot do so. I've removed my previous comment about Docker since I think that may have been misplaced.

[2017-03-15 19:05] VitorLuizC commented on #22666
[EditorConfig](https://github.com/editorconfig/editorconfig-vscode) does it well.

[2017-03-15 19:14] sgtoj commented on #19665
@Tyriar I cannot confirm if it did fix it, yet. I will confirm that I have this issue on Windows Insider builds. Currently, using 15048 at home and 15055 at work.

[2017-03-15 19:24] jdhitsolutions commented on #5953
Adding my vote for printing. Sometimes not so much as to dead trees but as to a PDF.

[2017-03-15 19:29] obrejla commented on #22324
Thanks a lot.

[2017-03-15 19:33] tolgabalci commented on #5770
Would really like to be able to edit code while merging while using my code editor (vscode), rather than having to use some other editor.

[2017-03-15 19:41] BassamHabash opened #22686 "The setting `editor.wrappingColumn` has been deprecated in favor of `editor.wordWrap`."
The setting `editor.wrappingColumn` has been deprecated in favor of `editor.wordWrap`.

"editor.wrappingColumn": 80 // or "editor.wrappingColumn": 110

"editor.wordWrap": "off",

[2017-03-15 19:49] jrieken commented on #22601
Yes - we will have to revisit this. We have now an action that controls word-base suggestions but that's not so useful... The new idea is to control is quick suggestion should kick off when inside comments or strings. So, when explicitly requested suggestion (including words, snippets) will still come but not as you type (24x7-IntelliSense)

[2017-03-15 19:51] jrieken commented on #22661
re https://github.com/Microsoft/vscode/issues/22661#issuecomment-286776398 that's actually a lot, lot more complex because token can change a lot while you type and we would need to eagerly synchronize that to the extension host process which is quite expensive. There are idea about tokenising in the ext host but nothing real yet

[2017-03-15 19:52] michelkaporin commented on #22530
@josefhosek I have followed the same convention as what we have in other places (e.g. taskQuickOpen resource), where we put comma after the task name label (see https://github.com/Microsoft/vscode/blob/470820229b4c23ea7ac78d6f80b8f7a4c2fc40eb/src/vs/workbench/parts/tasks/browser/taskQuickOpen.ts#L32).

Here are some other resources that put a comma after the actual label, see:
https://github.com/M

[2017-03-15 19:58] michaeljota commented on #12042
I see what you did there. I'll test it and report. 👍

[2017-03-15 20:02] EthanR commented on #19744
Changing key bindings is always an option.
But on many Windows environments this is the default behavior, it is also note worthy that these are the instructions and keystrokes given in the Welcome, Interactive Playground tutorial.
![image](https://cloud.githubusercontent.com/assets/602856/23968263/6b0429c8-0998-11e7-9261-fe03a73b14de.png)

[2017-03-15 20:06] tomliv opened #22687 "editor.selectionHighlight set to false not respected in .scss files"
- VSCode Version: Version 1.10.2 (1.10.2)
- OS Version: Mac OS 10.12.3

Steps to Reproduce:

1. Set editor.selectionHighlight to false
2. Confirm setting in HTML document
3. Create and .scss document
4. With multiple lines containing same word/selector etc., place cursor inside one iteration. Others highlight.

I have editor.selectionHighlight set to false, and in a PHP file it seems to be off. Ho

[2017-03-15 20:08] almino commented on #22626
I changed the layout to English. The `Define Keybinding (Ctrl + K Ctrl + K)` dialog outputed `oem_102` when I pressed <kbd>/</kbd>. And `/` when I pressed <kbd>;</kbd>.

[code]
The code above doesn't work. It toggle comments on a line, when I press both combinations.

Brazilian Keyboard layout doesn't share the same key for <kbd>;</kbd> adn <kbd>/</kbd>.
![89b0f155-7608-4130-bbe6-44246c7290ff](htt

[2017-03-15 20:09] jrieken commented on #22561
Note that `TextDocument.uri` is a `Uri` which by its nature has a `scheme` amongst other things like `authority`, `path`, `query`, and `fragment`. The `fsPath` property is some sugar on top that helps to handle uris like `file://unc/share/path.js` for which just the _uri_-path isn't the complete *fs*-path. The comment says: "_Will *not* look at the scheme of this Uri._" which means it always conca

[2017-03-15 20:28] corford opened #22688 "Copy-paste doesn't work properly with Unix-style line endings under Windows"
- VSCode Version: 1.10.2
- OS Version: Windows 10

Steps to Reproduce:

1. Create a new file in vscode, set line endings to LF and type some lines of text (pressing enter a few times between each line)
2. CTRL-A, CTRL-C
3. Open putty and ssh into a remote linux box (e.g. ubuntu)
4. Open a text editor on the remote box (e.g. nano) and paste the text - all empty lines are gone

This is because vscod

[2017-03-15 20:34] Steviey commented on #22636
I knew Jobs forgot something. :-)

It's impressive how many things are build with a Mac in mind, while its market share is under 3% worldwide.

 I would guess there has to have extra efforts to remove the buttons from Atom/Electron.
And this is a Microsoft product. Congratulations to the responsible designer. What's next?
Windows Software for mice with only one button?

[2017-03-15 20:52] mjcheetham commented on #22015
@weinand, just tried using 1.11.0-insider and debugging the Electron (1.6.x) main process now works!
Thanks 👍 😄

![image](https://cloud.githubusercontent.com/assets/5658207/23970282/36ec59f2-09c1-11e7-998a-a2eeaed98b7b.png)

[2017-03-15 20:57] ilyabirman opened #22689 "Focus current symbol when opening symbols list"
- VSCode Version: 1.10.2
- OS Version: 10.12.1

Steps to Reproduce:
1. Put caret inside a function in a PHP file with many functions.
2. Open symbols list.

Current behavior: Symbols list opens without any symbol selected. Pressing ↓ selects the first symbol in a list.

Wanted behavior: The current symbol is selected. Pressing ↑ or ↓ selected the previous or next symbol in the file. This is how Su

[2017-03-15 20:59] nojvek opened #22690 "vscode debug values should take into account source map names"
The ES5 transpilers such as Typescript and babel translate nested `this` into `_this1`, `this2` e.t.c

the source map generated by transpiler contains what names should be used as the values but this isn't taken into account via inline values or hover in the editor. To get the actual values, a user has to do guess via console on what the generated property is actually called.

I believe the experi

[2017-03-15 21:04] DavidIQ commented on #20249
I am also experiencing this issue. Seems to stem from PowerShell policy restrictions set by the organization I'm with. When I run Visual Studio Code as Administrator these policy restrictions don't apply and I don't get the error. Not sure what the terminal window in Visual Studio Code is wanting to do that it can't do as a non-admin user.

[2017-03-15 21:05] mlewand commented on #10121
@bpasero is this a feature that you'd like to get and review as a pull request? It seems to be a bigger task, thus it make sense to ask before going with implementation.

[2017-03-15 21:13] roblourens commented on #22690
We have this issue: https://github.com/Microsoft/vscode/issues/12066 and I think it would be implemented entirely in the debug adapter. A PR would be awesome but I'm not sure exactly what would go into it.

[2017-03-15 21:15] smarts opened #22691 "Problem executing shell commands in build task"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions: C#, Docker

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.8.0|
|vscode-docker|PeterJausovec|0.0.12|;

---

Steps to Reproduce:

1. download github desktop (to get git and powershell git tools)
1. update your powershell profile to h

[2017-03-15 21:16] nojvek commented on #22690
Okay closing this issue then.

[2017-03-15 21:16] #22690 closed

[2017-03-15 21:17] roblourens commented on #78
Hoping to get it in for search in this release, via moving search to ripgrep: https://github.com/Microsoft/vscode/issues/19983

Once we have that, it might be possible to use ripgrep's highly optimized gitignore code to support it in the file explorer as well. The problems with putting the patterns in `files.exclude` is that the syntax is not the same, and that it doesn't support negative patterns

[2017-03-15 21:18] nojvek commented on #12066
Does the debug adapter expose an api to get mapped names per line?

I believe source map does expose how a variable in source code is mapped to transpiled code, right?

[2017-03-15 21:22] roblourens commented on #12066
The debug adapter returns the list of variables to vscode, so if we wanted to show the variables from TS, the debug adapter would do that mapping. The `source-map` library that vscode-chrome-debug-core uses exposes an API for this.

[2017-03-15 21:23] cleidigh commented on #22642
@bpasero
@weinand
@joaomoreno

sorry if my initial post was a bit of a red herring
also my updates may not have been clear I was working
until six a.m. on this...

I think I have a better understanding and narrowing down
of the issue/introduction point.

First I do not think this has anything to do with multiple
repositories (though I do up a question of overlapped registries)

Current Summary:

A

[2017-03-15 21:42] mmkal opened #22692 "Output in terminal ignores line/column numbers"
- VSCode Version: 1.10.2 (Commit 8076a19f)
- OS Version: Windows 10 Enterprise v1607

Steps to Reproduce:

1. Run a js/ts file from terminal (press `ctrl-'`) (in my case I ran using `ts-node myfile.ts`)
2. Throw an error
3. Click on one of the call stack lines

Expected
* Editor window jumps to correct line number within file.

Actual
* Editor window jumps to the top of the file.

When I hover ove

[2017-03-15 21:42] gregvanl opened #22693 "The customized "path" cannot be used by debugger"
_From @dead-lee on March 14, 2017 10:17_

I don't have admin right to my working desktop. So I am using below bat to start code:
Set PATH=%PATH%;"P:\IMWB\OCE_JXL\branches\Bluemix_POC\tools\node-v6.9.5-win-x64"
P:\Documents\VSCode-win32-1.10.2\code "P:\IMWB\OCE_JXL\branches\Bluemix_POC\src\api_connect"

I can get node working in "Integrated Terminal".  But not working in debug mode: "Cannot find ru

[2017-03-15 21:42] plievone opened #22694 "Opening strings such as template literals in a new buffer, synced with original"
There are many issues asking for language support in embedded strings, such as using HTML in ES6 template literals. It seems that it will take considerable effort to get done, and are not yet on the roadmap as far as I know.

As an intermediate solution, could VS Code facilitate opening embedded strings (when in TypeScript, for example) on the side buffer and syncing it with the original string, s

[2017-03-15 21:49] nojvek opened #22695 "Weird gray rectangles in file picker and git view"
Is this a rendering bug of chrome? I tried looking in chrome devtools to see if there was something wrong in css but I couldn't see anything popping out.

Seen this happen on both mac and windows. Using VScode 1.10

![image](https://cloud.githubusercontent.com/assets/1018196/23972195/18987a72-098e-11e7-99a4-7236b2666f5b.png)

[2017-03-15 21:50] weinand commented on #22636
There is a general trend to have no scrollbar buttons: I just verified on Linux (Elementary OS) and Windows 10. Modern dev tools don't have scrollbar buttons, e.g. Sublime.

And who needs scrollbar buttons if we have scroll wheels and mice with 2D touch surfaces.
I always found it painful to hit the tiny scrollbar buttons with the mouse.

(BTW, among developers the macOS market share is a bit high

[2017-03-15 22:03] db2k commented on #78
@roblourens sounds great and I understand the issues. I'm looking forward for the next release.

[2017-03-15 22:12] willfaught opened #22696 "Cmd-A doesn't select all text in the save dialog save-as field"
- VSCode Version: Version 1.10.2 (1.10.2), 8076a19fdcab7e1fc1707952d652f0bb6c6db331
- OS Version: MacOS 10.12.3 (16D32)

Steps to Reproduce:

1. Create a new document.
2. Save it.
3. Move the cursor to the end of the default Save As text.
4. Press Cmd-A. Nothing is selected.

[2017-03-15 22:20] xavdid opened #22697 "Set default save location to that of most recent file"
- VSCode Version: `Version 1.10.2`
- OS Version: `macOS 10.12.2`

This is a feature request from Sublime Text. I have a fairly well nested project and anytime I go to save a new file, it always defaults to project root (which makes sense). However, if I'm trying to save `project/assets/templates/category/file.html` and `project/assets/static/styles/category/file.scss` it can get really tedious to

[2017-03-15 22:21] zelein commented on #15362
@octref Can you link to the relevant issue regarding the custom explorer views in the activity bar that's in your image? I can't seem to find any documentation regarding that feature addition.

[2017-03-15 22:22] JohnWeisz opened #22698 "Feature request to enable CodeLens to appear above decorators (TypeScript)"
This is how CodeLens currently looks when it appears on a property with decorators applied (same happens with methods and classes):

![codelens-decorators](https://cloud.githubusercontent.com/assets/13468659/23973361/15d6e5f6-09d6-11e7-939b-84fc8cf2c2ad.png)

(TypeScript)

It would be nice to either have CodeLens annotations above decorators, or have a setting to enable this, as it's a bit hard to

[2017-03-15 22:22] ad8e opened #22699 "scrollbar consumes mouse clicks even when scrollbar is not present"
- VSCode Version: 1.10.1
- OS Version: Windows 8.1

Steps to Reproduce:

1. Move your mouse to the bottom of the VSCode window, where a horizontal scrollbar would normally be.
2. Notice that the mouse cursor changes from a text cursor to a pointer when mousing over the scrollbar position, whether the scrollbar is present or not. Also, clicks there are captured by the invisible scrollbar.

[2017-03-15 22:23] octref commented on #15362
https://github.com/Microsoft/vscode-extension-samples/tree/master/tree-explorer-sample
https://github.com/Microsoft/vscode-extension-samples/blob/master/tree-explorer-sample/USAGE.md

[2017-03-15 22:24] roblourens opened #22700 "Evaluating something collapses expanded items in variables pane"
- Start a debug session, hit a breakpoint
- Expand something in the variables pane
- Eval something in the console

The expanded item collapses. I think we re-request variables after evaluating something, but it would be great to match up the expanded items from before, to keep them expanded. Then, could even keep them expanded while stepping. Chrome devtools seems to do this.

[2017-03-15 22:30] peabnuts123 commented on #13701
This fixed my problem but I don't know if it's necessary to load my full bash profile in order to ensure PATH is correct (for example, my integrated terminal now runs tmux, lol). Is this a bug?

Without the `-l` arg my $PATH is the same as above (`/usr/bin:/bin:/usr/sbin:/sbin`), and lots of things break because they can't be found (`dotnet` for example).  Also running OSX

[2017-03-15 22:31] mjbvz commented on #22335
@OliverJAsh Can you please also open a bug about the ghost errors you are seeing. I'd like to look into that issue

[2017-03-15 22:37] mjbvz commented on #22698
The current code lens placement is consistent with Visual Studio's code lens placement. It also always ensures that the code lens is in a consistent location relative to the referenced symbol

[2017-03-15 22:37] #22698 closed

[2017-03-15 22:44] wgj commented on #22377
Hey everyone,

I think we may have missed the usecase on this one. I have many tasks defined in task.json, and when I run them, I'd like visual feedback on what command, with which parameters, was ran.

8481570 appears to prepend a hardcoded string to every shell instance, without a reference to a given task (as in `tasks.command` and `tasks.args`from tasks.json)

[2017-03-15 22:45] FuriouZz opened #22701 "Source Control does not work anymore"
Hello,

Since some builds, the source control panel seems to not working anymore. On the icon, a blue timer icon always visible. When I open the panel, no tracked file or modification appear.

- VSCode Version: 1.11.0-insider (1.11.0-insider) 6a002910356c6e087dd93e819e4ad54c68b9857a
- OS Version: OSX El Capitan 10.11.6

[2017-03-15 22:46] chrisdias commented on #22378
Perhaps we can make a variant of the mern-starter that includes the launch.json and updated package.json, then make a PR on the mern-cli.  See "make your mern" at http://mern.io/ .

[2017-03-15 22:50] weinand commented on #22676
I suggest that you first try to walk through this tutorial:
https://code.visualstudio.com/docs/runtimes/nodejs#_express

[2017-03-15 22:50] #22676 closed

[2017-03-15 22:52] weinand commented on #22683
It is possible that this issue is caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-03-15 22:53] weinand commented on #22678
It is possible that this issue is caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: code --disable-extensions and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-03-15 22:53] mjbvz commented on #22677
Thanks. This is being tracked upstream by: https://github.com/Microsoft/TypeScript/issues/11099

[2017-03-15 22:53] #22677 closed

[2017-03-15 22:54] weinand commented on #22683
looks similar to https://github.com/Microsoft/vscode/issues/22678

[2017-03-15 22:59] inferiorhumanorgans commented on #17056
Yep I'm seeing the same problem on OSX (10.11.6)

[2017-03-15 23:02] rubberduck203 commented on #22640
:+1: Thanks.

[2017-03-15 23:02] weinand commented on #22686
This has been documented in the 1.10 release notes:
https://code.visualstudio.com/updates/v1_10#_word-wrap-settings-redesign

@BassamHabash Why did you create this issue?

[2017-03-15 23:02] #22686 closed

[2017-03-15 23:05] weinand commented on #22695
probably duplicate of https://github.com/Microsoft/vscode/issues/22678

[2017-03-15 23:09] GuardRex opened #22702 "Feature Request: Configure VSC to stop auto-restore and build of .NET Core projects"
- VSCode Version: 1.10.2
- OS Version: Win10 Pro

I use VSC to work on documentation projects that include .NET Core samples. When I open folders to work on sample files, these sample projects should **not** be restored/built. VSC keeps creating `obj` and `bin` folders automatically against my wishes, and I need to then manually delete them from the samples.

I'm aware of ...
[code]
... but those

[2017-03-15 23:12] mdeter commented on #22344
As mentioned in the original post, I disabled extensions to insure they were not the cause.  I used the UI originally.  I re-tested with "--disable-extensions" and it still hangs.  Definitely a bug in the editor not the extensions.  Sometimes it hangs within 5 minutes, sometimes it take a little longer.

[2017-03-15 23:17] weinand commented on #22702
Please file this issues against the .NET extension.
VS Code does not include any builtin .NET functionality.

[2017-03-15 23:17] #22702 closed

[2017-03-15 23:26] aozgaa opened #22703 "Use a stable sort when sorting Edits"
There was a conversation on how to insert multiple text changes that all have the same starting position over in https://github.com/Microsoft/TypeScript/pull/14441. To specify the order explicitly, we thought the ordering of edits in a change should work as a tiebreakers (ie: use a stable sort when ordering the edits).

Can the vscode side respect this property when applying changes? After a bit o

[2017-03-15 23:29] rogeriotaques commented on #22343
Great! I'd love to hear from them. :) Thanks.

[2017-03-15 23:29] mjbvz commented on #22103
@formulahendry We still plan on allowing extensions to execute scripts in the html preview, but this capability also brings up some important security concerns with the current implementation.

## Problem
One potential security problem involving the preview is a script injection attack. Script injection is especially bad in the html preview case because the preview is served from the `file://` ori

[2017-03-15 23:34] formulahendry commented on #22103
Cool~ Many thanks for your detailed information.

[2017-03-15 23:40] mjbvz commented on #22343
@rogeriotaques For the PhpDocs support, did you mean picking up intellisense information from the phpdoc comments or were you referring to the JSDoc autocomplete support vscode provides in JavaScript and TypeScript?

[2017-03-15 23:41] mjbvz commented on #2635
@ng-state This is being tracked upstream: https://github.com/Microsoft/TypeScript/issues/13270

[2017-03-15 23:48] mjbvz commented on #2635
Yes, VScode 1.10 added a quick fix for imports but as @fightingcat notes, we do not automatically apply these fixes and I believe that is what this issue is tracking. This feature would likely behave like eslint'/tslint's `autoFixOnSave` option.

We will only be able to auto fix symbols that have a single potential import. Otherwise, you will still have to manually apply the quick fix and select t

[2017-03-15 23:51] yoDon opened #22704 "Find in Files partially broken"
- VSCode Version: Code 1.10.2 (8076a19fdcab7e1fc1707952d652f0bb6c6db331, 2017-03-08T14:02:52.799Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions: none
---

I'm suddenly unable to "Find in Files" inside `*.ts` and `*.tsx` files. Searching in other file types works fine.

This behavior survives reboots and survives restarting the Windows search service.

Steps to Reproduce:

1. Ctrl+Shift+F

[2017-03-15 23:51] mjbvz commented on #22648
@ddyrcz Can you please provide some example code? Also, is the file you are working with named `app.module` with no `.js` or `.ts` extension? The TypeScript server we use to power our JS and TS intellisense only supports imports/modules for files that have one the these extensions: `.js`, `.jsx`, `.ts`, `.tsx`. You may want to try adding the supported file extensions if this is the case

[2017-03-15 23:56] ramya-rao-a commented on #22654
Thanks!

[2017-03-16 00:11] nojvek commented on #22695
Okay closing.

[2017-03-16 00:11] #22695 closed

[2017-03-16 00:14] Nimzozo commented on #13288
Also found a bug with HTML markup.
[code]
Because of the comment, the indent guide is missing for the second `div`.

[2017-03-16 00:24] mjbvz commented on #22485
@leroyron Yes we restricted what the markdown preview can display by default but this should not impact an extension, unless you are somehow invoking the markdown extension's preview with custom content

[2017-03-16 00:35] misoguy commented on #19644
@rebornix Thanks for the comments! I'll see what I can do about them. BTW, I think it's best that you submit the reviews by clicking the ```Finish your review``` button seen on the screenshot :) So that I can see them on github and reply to the comments directly.

[2017-03-16 00:39] indiejames commented on #3420
I just built a test extension with yo code and it worked twice and then stopped working. By chance I uninstalled the spell checker extension and then the test extension started working every time I tried it. It may be possible that some other extension is interfering with the startup of your extension.

[2017-03-16 00:48] pinakid3 opened #22705 "ftp graphical"
- VSCode Version: 1.10.2
- OS Version: win7

Can we have graphical solution, for ftp & sftp.
Just wanted to avoid command line.

[2017-03-16 00:51] Steviey commented on #22636
The beauty of scrollbar buttons is, that they provide additionally to the mouse wheel option another scroll range (instantly, without an special hardware or configuration) . Vertically they scroll exactly per one line. For me this is an essential feature.

Since I only use Unix-shells without any desktops, I can't verify your Linux statement.
But everything including Visual Studio, MS Office, Note

[2017-03-16 00:52] jdforsythe opened #22706 "Extensions tab on Mac yields "Cannot read property 'call' of undefined""
- VSCode Version: 1.10.2
- OS Version: OSX Sierra 10.12.3

Steps to Reproduce:

1. Open VS Code
2. Click Extensions

[code]

Running with `--disable-extensions` still produces the error.

[2017-03-16 01:02] joewood commented on #22663
Without knowing too much about the language server implementation, I'm talking about running the language service/extension process under the bash shell using node.js installed under WSL. So this would mean using `spawn` or `exec`, rather than `fork`.

As implied [here](https://msdn.microsoft.com/en-us/commandline/wsl/interop) - `bash -c node languageserver.js`, and then use the I/O stream from WS

[2017-03-16 01:15] xunonxyz opened #22707 "file`s content changed occasionally"
- VSCode Version:1.10.2
- OS Version: win10

Steps to Reproduce:

1.when i save file, another file`s content changed occasionally

[2017-03-16 01:20] MikeVelazcoMtz commented on #22707
do you use git or how did you get this error?

I think that this is not clear enough.

[2017-03-16 01:33] rgfx commented on #2915
Found a temporary solution on [Stack Overflow](http://stackoverflow.com/questions/39401852/vscode-doesnt-highlighting-html-close-tags-in-php-files) Using the extension [Auto Rename Tag](http://stackoverflow.com/questions/39401852/vscode-doesnt-highlighting-html-close-tags-in-php-files)

![alt text](https://i.stack.imgur.com/SxqMx.png)

[2017-03-16 01:39] sbj42 commented on #16107
I see the same problem.  Here's [a test repo](https://github.com/sbj42/vscode-ts-debug) exhibiting the problem.

[2017-03-16 01:42] j55blanchet commented on #22606
I think I may be running into this issue. See my stack overflow question: [http://stackoverflow.com/questions/42823842/vscode-cant-launch-node-app](http://stackoverflow.com/questions/42823842/vscode-cant-launch-node-app)

[2017-03-16 01:49] Brunorccrx commented on #1884
Like someone said already, just a gray/black option would be nice, this blue bar looks so odd on dark theme.

[2017-03-16 01:51] metasong opened #22708 "feature request: continue press ctrl+shift+i to select line up"
currently when press ctrl+i several times vscode will select line below.
what about press ctrl+shift+i to select line up

analysis: ctrl+i bind to expandLineSelection, this command will select current line and move cursor to the first column of next line,
we can implement a comand expandLineSelectionUp that select current line and move cursor to the **previous** line.

[2017-03-16 01:55] metasong opened #22709 "Show dirty indicator close to file when tabs are disabled"
show file modified circle on the title of the file when in Zen mode.
currently vscode will show the file modified circle icon in normal model.
![image](https://cloud.githubusercontent.com/assets/5009757/23978370/abd3e07e-0a2e-11e7-90a6-8fb08fd2f1dc.png)

[2017-03-16 02:37] rmunn commented on #22564
I've withdrawn my earlier downvote. I'm not opposed to giving an option to open a file as (weird encoding X) if the user specifically says "I know which encoding this file is, and it's (weird encoding X)". I don't know if VS Code has separate concepts for opening files and saving them. If you can open a file in UTF-16 w/o BOM, but it's immediately converted into a supported encoding (like UTF-16 *

[2017-03-16 02:43] caiotavares opened #22710 "Intellisense behavior when using import and require"
Intellisense has a strange behavior for import and require statements when using JSDoc "param" tag:

Considering we have a project with three files: foo1.js, foo2.js and bar.js

**foo1.js**:
[code]

**foo2.js:**
[code]

Now, in the bar.js file, I have Intellisense working fine for the imported Foo1, but Foo2 doesn't seen to be recognized when used in "param":

![1](https://cloud.githubusercontent.

[2017-03-16 02:52] zhouzhonghao commented on #19907
Confirmed, it's broken in 1.9.0 and OK in 1.10.2.

[2017-03-16 03:07] JonMarbach commented on #22015
@weinand A second thanks! (And a second confirmation.) This fix comes just in the nick of time! [And writing that phrase made me curious... http://www.phrases.org.uk/meanings/in-the-nick-of-time.html]

[2017-03-16 03:11] uyhung opened #22711 "Strange error - Unable to open 'undefined' - File not found (/undefined)"
Sometime I get this strange error during debugging that I have no idea what it is about, I cannot continue with the debugging session.
Please see my attached file.
![strangeerroralert](https://cloud.githubusercontent.com/assets/1470309/23980193/d72ef590-0a30-11e7-87b2-89fe05680a03.png)

[2017-03-16 03:19] uyhung commented on #22587
Just downloaded, updated and tried again. I still got the same error.
I'm running VS Code on Ubuntu Mate 16 and using Chrome Debugger Extension.

![screenshot at 2017-03-16 10 16 36](https://cloud.githubusercontent.com/assets/1470309/23980375/d5ab72ec-0a31-11e7-80a1-6d087845e3bc.png)

[2017-03-16 03:21] cleidigh commented on #22642
okay, I think I found the problem

the spawn of a shared process addressing issue #22091 somehow causes the debugger
to not communicate or show errors.

if I commented out this spawn request , #263 main.ts then the debugger works

		// Install Menu
		instantiationService2.createInstance(VSCodeMenu);

		// Start shared process here
		sharedProcess.spawn();
	});
}

I assume the non- shared process p

[2017-03-16 03:29] materJiang opened #22712 "External file drag and drop to the editor project"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2017-03-16 03:33] rajinder-yadav commented on #22491
Closing, with your extension tip, was able to determine it's coming from eslint!

[2017-03-16 03:33] #22491 closed

[2017-03-16 03:34] zhaomiing opened #22713 "Extension icon seems like need a rounded corner."
[UX] It could be better to unify with another icon on visual styles.
Thanks 🥇

[2017-03-16 03:41] #22712 closed

[2017-03-16 03:43] vladima commented on #22703
Alternatively we can collapse such edits into one textchange on our side - this way editors won't have to add any special handling to this pretty ambiguous case

[2017-03-16 03:44] ZSkycat opened #22714 "[bug] Fold code is the wrong implementation"
- VSCode Version: 1.10.2
- OS Version: Windows10

Steps to Reproduce:
1.write code in js file
[code]
2. folded “function abc()”
result:
![qq 20170316110829](https://cloud.githubusercontent.com/assets/20368649/23980129/e48e2172-0a38-11e7-8f81-f31f813729da.png)
expected (visual studio 2015):
![qq 20170316111142](https://cloud.githubusercontent.com/assets/20368649/23980218/5a7650bc-0a39-11e7-8795-1d3

[2017-03-16 03:53] lei40251 commented on #22578
开启自动保存后，编辑文件然后自动保存就提示这个了。

[2017-03-16 04:31] octref opened #22715 "vsce publish timeout"
[code]

cc @joaomoreno

[2017-03-16 04:39] octref commented on #22715
I can access the API in Chrome:

![image](https://cloud.githubusercontent.com/assets/4033249/23981963/b2cb473a-09e0-11e7-9ee8-4d5d77b18798.png)

[2017-03-16 04:44] ikatyang opened #22717 "Moving text cursor cause an incorrect position in Chinese"
- VSCode Version: 1.10.2
- OS Version: win7 & win10

Steps to Reproduce:

1. Press up arrow key :arrow_up:
2. Press down arrow key :arrow_down:

![vscode-text-cursor](https://cloud.githubusercontent.com/assets/8341033/23981715/ad047714-0a43-11e7-896f-99b8ff096c64.gif)

Chinese characters are actually 2-char width in monospace-font.

Test font:  文泉驛等寬正黑 ( download: [wqy-zenhei.zip](https://github.c