[2020-04-26 08:21] sandy081 opened #96170 "Add client or machine information to the remote backup view"
When I logged in today in one of my machines, I see my extensions got updated to a state which I am not aware of.

- My personal extensions are uninstalled and only default VS Online extensions are shown.

When I looked into my remote sync backup view I observed that there is an update on the server.

Extensions:

<img width="332" alt="image" src="https://user-images.githubusercontent.com/10746682

[2020-04-26 08:27] talr1 commented on #96169
the issue is not related to sync settings notification. there is an actual update to be installed which fails

[2020-04-26 08:38] richarddotcom opened #96171 "visual studio dont run"
Issue Type: <b>Bug</b>

at launch, visual studio dont run. impossible to open project

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-2600K CPU @ 3.40GHz (8 x 3411)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br

[2020-04-26 08:49] dfee commented on #90696
I'm sharing this elsewhere... @Tyriar can you confirm that all a user needs to do is "thumbs-up" the original comment?

[2020-04-26 08:57] olofwalker commented on #95067
@deepak1556 the frame rate is roughly the same, no visible change at least.

[2020-04-26 09:01] AbdelrahmanHafez opened #96172 "[Bug] refactoring changes code formatting"
When extracting a code block into a function in global scope, the code formatting often changes in the sense that all empty lines are removed, and some parts go into new lines in themselves.

I would expect the formatting to stay the same.

- VSCode Version: 1.44.2 (system setup)
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

Let's look at this code for example:
[code]

When I separ

[2020-04-26 09:08] Oneliey opened #96173 "Add feature to resize the IntelliSense window"
![image](https://user-images.githubusercontent.com/30212642/80302985-f5d42800-87df-11ea-8c59-bce84543a454.png)
Sometime the IntelliSense window is too small to read all information, so I am looking forward to resize the window using mouse, thx~

[2020-04-26 09:10] LingRen opened #96174 "editor.codeActionsOnSave"
FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory

[2020-04-26 09:30] #96062 closed

[2020-04-26 09:30] kameshkotwani commented on #96062
I switched to Pop OS and this shortcut works perfectly in that.

[2020-04-26 09:40] david2tdw opened #96175 "Can make the output better for array"
I installed the code runner in vscode.
and try this code:
[code]
right click and select 'Run Code' and the console output is like this:
[code]
could u guys make the output better to see? maybe 2 lines is better for array incluces 60 elements.

thanks.

[2020-04-26 09:41] tedpelas opened #96176 "Failed to watch ref .git/refs/remotes/origin/master, is most likely packed"
- VSCode Version: 1.44.2
- OS Version: Darwin x64 19.3.0

Steps to Reproduce:

1. `Pull` -OR- `Sync` from pre-existing Remote repo
2. Output Error:
[code]

More details:
[code]

Does this issue occur when all extensions are disabled?: Yes

[2020-04-26 09:42] david2tdw commented on #96175
env info
![image](https://user-images.githubusercontent.com/24794474/80303834-4bf79a00-87e5-11ea-87ee-5422babf743b.png)

[2020-04-26 09:56] OskarZyg opened #96177 "Not opening firefox when link clicked."
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Go to Ubuntu 19.10 with default installation of firefox
2. Click on any link and open it.
3. Clicking on the error message crashes it.

Image:
![Screenshot from 2020-04-26 10-52-14](https://user-images.githubusercontent.com/56176746/80304109-0a96c880-87ac-11ea-908d-fb599c1b0f9e.png)

Does this issue occur when all extensions are disabled?: Y

[2020-04-26 09:56] tedpelas commented on #96176
[code]

[2020-04-26 09:59] zero-24 opened #96178 "[git] The native implementation of git seems to be unable to handle git ssh keys with password"
- VSCode Version: 1.44.2
- OS Version: Win 10

## System info
- Version: 1.44.2 (user setup)
- Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
- Datum: 2020-04-16T16:33:57.013Z
- Electron: 7.1.11
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- Betriebssystem: Windows_NT ia32 10.0.18362

Steps to Reproduce:

1. Setup a git repo with ssh auth
2. that ssh key has to require a

[2020-04-26 10:04] SiddhantBohra opened #96179 "Typescript failing multiple times"
Issue Type: <b>Bug</b>

Typescript service failing multiple times

VS Code version: Code - OSS 1.44.1 (a9f8623ec050e5f0b44cc8ce8204a1455884749f, 2020-04-16T21:41:21.848Z)
OS version: Linux x64 5.4.34-1-MANJARO

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-8145U CPU @ 2.10GHz (4 x 3700)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stag

[2020-04-26 10:14] Vthechamp22 opened #96180 "Running Python Files"
Issue Type: <b>Bug</b>

In VS Code, there are two ways to run python programs. One by pressing `Shift + enter` and one by clicking the run button at the top right of the corner.

So say this is the code:
![image](https://user-images.githubusercontent.com/61617820/80303893-9e7a8b80-87d0-11ea-95fc-bb12a7ea3fed.png)

 The problem is that when I use `shift+enter` at the `print()`, the terminal enters

[2020-04-26 10:22] Bharatwasi opened #96181 "Focus terminal after dragging a folder from explorer to terminal"
<b> Current Installed VS Code Details</b>

`Version: 1.44.2 (user setup)`
`Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd`
`Date: 2020-04-16T16:36:23.138Z`
`Electron: 7.1.11`
`Chrome: 78.0.3904.130`
`Node.js: 12.8.1`
`V8: 7.8.279.23-electron.0`
`OS: Windows_NT x64 10.0.17763`

<b>Steps to Reproduce</b>

1. Open VS code
2. Open a Folder having nested folders in it
3. Open the Powershell terminal

[2020-04-26 10:31] neurobin opened #96182 "Show the doc of the vertical ruler on mouse hover"
Will it be feasible to provide something like this?:

[code]

And when I hover the mouse cursor over the vertical ruler it should show the doc and tell its purpose e.g `Python doc/comment line length limit`

[2020-04-26 10:37] bendaoud7 opened #96183 "VSC stagnate repeteadly"
Hello team,

VSC stagnate repeteadly since last update. After its lunch, it start stagnate several times and recover its operations normally after few seconds.

Best regards,

[2020-04-26 11:45] faizalumer opened #96184 "Multiline template string with $ showing error"
- VSCode Version: 1.44.2
- OS Version: Windows 10 Enterprise 64bit

Steps to Reproduce:

1. Create a new javascript file in Visual Code.
2. Type the below text into the Visual code editor :
[code]
3. The editor does not understand the multiline template literal and shows syntax errors from the 3rd line onwards
![image](https://user-images.githubusercontent.com/5244333/80306303-20be7c00-87e0-11ea-8

[2020-04-26 11:51] faizalumer commented on #96184
Sorry, realized the problem.. i forgot the } at the end of every line.

[2020-04-26 11:51] #96184 closed

[2020-04-26 11:58] wbpluto opened #96185 "The default profile in configuration file does not take effect"
Terminal is installed from the store. PowerShell 7.1 Preview 2 is installed through MSIX and is the default configuration file.
But every time you open Terminal, Windows PowerShell is opened by default.

V: 1.44.2 (system setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T16:36:23.138Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Window

[2020-04-26 12:15] tomdai commented on #96071
I updated the steps to reproduce the problem.

While trying to reproduce the problem I found that the problem only occurs when I have the following in tsconfig.json:
[code]

[2020-04-26 12:20] Diuda commented on #96159
Hey @roblourens, is this already being worked upon? If not, I'd like to fix this. Seems like a trivial issue for contributing for the first time.

[2020-04-26 12:27] daidodo opened #96186 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1. Download code from https://github.com/daidodo/tsimportsorter.
2. Open the folder with VSCode.
3. "Run Extension" and open another React Native project.
**TS Server Error Stack**
[code]

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 18.7.0

[2020-04-26 12:30] mlewand commented on #85592
Gosh, going back to the native title bar... it just looks sooooooo ugly - but that's the only workaround to this issue.

I don't even need to set up a reminder to check this issue from time to time, because for sure ugly title bar will keep reminding me about this issue :smile:

[2020-04-26 12:40] mstgnz commented on #43555
friend I just want to undo the changes made with the file open. why did you request such a thing? he says back all the time. I want to come back to the last registered yield. going back to the last commit. Doesn't it have a setting?

[2020-04-26 12:46] lukaarma commented on #95869
Ok sorry I'm late but I didn't have time
Today I started VSCode for the first time in 4 days and it's working without any problem, even with extensions enabled, so I'm not sure what happened

I don't have a chance anymore to try what you suggested so I'm closing this, thanks for the help anyway!

[2020-04-26 12:46] #95869 closed

[2020-04-26 13:00] Tyriar commented on #90696
@dfee I've moved it to backlog so you can ignore that comment. The amount of up votes is one indicator we use for prioritization though.

[2020-04-26 13:20] flying-sheep commented on #92854
Any way to circumvent this for now? I want to do use [XDG basedir spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) and prepend something to XDG_DATA_DIRS.

To this end I need to retrieve the value of XDG_DATA_DIRS if it’s set and use a default when it isn’t set, which would look like this:

[code]

There seems to be no way to currently do this in a launch configu

[2020-04-26 13:20] jpagliaccio commented on #95760
Agreed as part of The name. Not in trailing though. It's not done that way.
I would say it's not common but I have never seen that. Like trailing
spaces in a password. Good luck debugging that. If someone actually wanted
a trailing space they should do it explicitly. My opinion. It should be
trimmed l and r.

On Wed, Apr 22, 2020, 10:16 AM Alex Ross <notifications@github.com> wrote:

[2020-04-26 13:41] EugeneDae commented on #871
[Bind one key to multiple commands via user level tasks](https://dae.me/blog/2603/vs-code-bind-one-key-to-multiple-commands-without-an-extension/).

[2020-04-26 13:42] tomatobybike opened #96187 "正在初始化JS/TS语言功能，导致vscode卡死"
正在初始化JS/TS语言功能，导致vscode卡死

[2020-04-26 14:03] iamafungi commented on #52855
Same here, keeps happening.

[2020-04-26 14:15] brianpham93 opened #96188 "TS Server fatal error: Debug Failure. False expression."
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.8.3
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code - Insiders 1.45.0-insider (a250df703de955a38aed427a917bce8278ab3331, 2020-04-24T20:46:59.782Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz (8 x 2300)|
|G

[2020-04-26 14:20] alex19EP commented on #95951
ok i don't know whether it’s necessary to create yet another issue but it would be great if the indicator about accessibility in the status bar could be turned off.

[2020-04-26 14:22] smitthakkar commented on #96180
`shift+enter` executes the selected lines in terminal.
I am guessing the issue is that the & somehow crept in the path.
Can you show the value for  "python.pythonPath"? (.vscode/settings.json).

[2020-04-26 14:28] krishnalrsc commented on #95258
just practicing python

[2020-04-26 14:34] Ezra-Siton-UIX commented on #96106
I know I don't need to wait.

My issue related to the user experience. The idea of plugins is to add `extras`.

One more screenshot examples:
![image](https://user-images.githubusercontent.com/16711871/80310464-92e49000-87e3-11ea-869f-ed3fa7427f2f.png)

[2020-04-26 14:38] mastergberry commented on #56644
Hi. Just wanted to drop an update that the issue related to Badlion Client should now be resolved with VSCode.

Anything else that is happening is 100% out of our scope. Good luck on any other problems :)

[2020-04-26 15:00] #96159 closed

[2020-04-26 15:02] roblourens commented on #96159
Sorry @Diuda, I didn't see your update this morning. You were right :)

[2020-04-26 15:04] ankitbihani opened #96189 "intellisense not working , do you care ?"
Issue Type: <b>Bug</b>

do you have any care for the users who are facing issue of non working intellisense feature ???????????????
does it matter to you ?
does it matter to your investors or donors ?

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|-

[2020-04-26 15:06] tiagoboeing commented on #62104
Awesome! For favorites exists too this extension that allows to categorize, create groups and subgroups:
- VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=kdcro101.favorites

[2020-04-26 15:07] ankitbihani opened #96190 "intellisense not working , do you care ?"
Issue Type: <b>Bug</b>

do you have any care for the users who are facing issue of non working intellisense feature ???????????????
does it matter to you ?
does it matter to your investors or donors ?

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|-

[2020-04-26 15:22] hackers267 opened #96191 "TS Server fatal error: Cannot read property 'get' of undefined"
We have written the needed data into your clipb
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.9.0-dev.20200425
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code - Insiders 1.45.0-insider (a250df703de955a38aed427a917bce8278ab3331, 2020-04-24T10:02:48.114Z)
OS version: Windows_NT x64 10.0.19613

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2020-04-26 15:28] alefragnani commented on #96106
Sure, I’m just saying that, to wait for a tool to have certain feature natively, when it already provides via plugins, may not be necessary. But it depend solely on the team responsible for that tool, and the tool’s objectives. I was just trying to help you, and the VS Code team.

In my daily use, I prefer VS Code being as lightweight as possible, not only on its memory footprint, but also the amo

[2020-04-26 15:29] zhuhonglinX opened #96192 "vscode can't open my code file and window crush if project path contains Chinese characters"
- VSCode Version: 1.44.2
- OS Version: macOS Catalina 10.15.3

Steps to Reproduce:

1. Python project with ms python extension(using python language server)
2. This project path contains **Chinese** characters
3. click to definition, it will raise error `Unable to open xxx.py ...`, the problem about path as it doubles the right path.
4. More seriously，if I defined such variable
[code]
and then i u

[2020-04-26 15:47] MilenkoM opened #96193 "Experimental support for decorators is a feature that is subject to change in a future release"
- VSCode Version:
1.44.2
ff915844119ce9485abfe8aa9076ec76b5300ddd
x64
- OS Version:
Ubuntu 18.04
Steps to Reproduce:
My code:
[code]
}

const s = new Spaceship();
1. tsc myscode.ts
2. Output
TS1219: Experimental support for decorators is a feature that is subject to change in a future release. Set the 'experimentalDecorators' option in your 'tsconfig' or 'jsconfig' to remove this warning.

My tsco

[2020-04-26 15:55] MilenkoM commented on #96193
I checked javascript.implicitProjectConfig.experimentalDecorators,again the same issue.

[2020-04-26 16:01] erichiller commented on #1751
Also, for Markdown this would be very much appreciated. (as in other languages inside markdown files using triple backtick)

[2020-04-26 16:13] gpake commented on #96187
Translation:
VSCode got stucked when initializing JavaScript / TypeScript language function.

[2020-04-26 16:15] Ezra-Siton-UIX commented on #96106
Ok. Thanks

[2020-04-26 16:15] #96106 closed

[2020-04-26 16:50] weinand commented on #88230
In the API meeting it was suggested to rename the enum `DebugConfigurationProviderScope` to `DebugConfigurationProviderTrigger` (because "scope" is a rather unusual term in the VS Code extension API).

With this the final proposal becomes:

[code]

@jrieken @connor4312 @isidorn I've optimistically released the change (hoping that it will be accepted in the API meeting)

[2020-04-26 16:55] adampoewilson opened #96194 "Support for UWP apps"
While I use Visual Studio running on an Acer E5-576 laptop with an i3 processor - I didn't have $ for an i5 - it would be a great addition to allow users the ability to write UWP apps in VS Code... both writing code & designing the interface of apps.  The only reason I bring this up is that while Visual Studio works for me, I imagine that load times wouldn't be that much different on an i5 process

[2020-04-26 17:04] gasnier opened #96195 "Debugging a typescript library - breakpoint won't stop in lib"
- VSCode Version: 1.44.2 and 1.45.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. Get repo https://github.com/gasnier/bug_debug_lib_in_vs_code
2. Steps are defined in the repo README.md

If you put a breakpoint in app/src/main.ts or app/src/appUsingLib.ts AND a breakpoint in lib/src/utilities => the debugger stops and everything works fine

If you put a breakpoint ONLY in lib/src/utili

[2020-04-26 17:04] jeanp413 opened #96196 "Error when invoking `explorer.newFile` while explorer viewlet is collapsed"
- VSCode Version: From sources

Steps to Reproduce:

1. Open a folder in vscode
2. Collapse explorer viewlet
3. Invoke `explorer.newFile` or `explorer.newFolder` command
4. Error `Command 'File: New Folder' resulted in an error (TreeError [FileExplorer] Data tree node not found: [object Object])` shows in notifications

[2020-04-26 17:18] gjsjohnmurray commented on #96190
/duplicate

[2020-04-26 17:18] #96190 closed

[2020-04-26 17:19] gjsjohnmurray commented on #96189
/needsMoreInfo does the problem also happen if you launch with all extensions disabled?

[2020-04-26 17:30] ankitbihani commented on #96189
Yes , it is an issue from the starting , when no extension was ever installed . I installed it recently only .

[2020-04-26 17:31] mohdyusuf commented on #76594
Version 1.44.2
Windows 10

Same scrolling stutter.

[2020-04-26 17:54] nmggithub opened #96197 "Code - OSS cannot run globally installed packages when running tasks on Arch Linux"
- VSCode Version: 1.44.2
- OS Version: Arch Linux (rolling)

Steps to Reproduce:
1. Install `npm` and `nodejs`
2. Create a `~/.profile` file containing
`PATH="$HOME/.node_modules/bin:$PATH"
export npm_config_prefix=~/.node_modules`
3. Run `npm install -g firebase-tools`
4. Login and start developing a project
5. Use the command palette to run the `serve` task, which includes a firebase command

Ex

[2020-04-26 17:57] nmggithub commented on #96197
Ok, this is odd. It does not occur with extensions disabled but the only extension I have installed is an icon theme.

[2020-04-26 17:57] jeanp413 opened #96198 "Explorer remains faded after clicking on Collapse Folders action while editing new file/folder"
- VSCode Version: From sources

Steps to Reproduce:

1. Open folder in vscode
2. Open explorer, select a folder  and click on `New File`/`New folder` action
3. Click on `Collapse Folders in Explorer` Action
4. :bug: Explorer remains faded

[2020-04-26 18:01] tanya4067 opened #96199 "Extension Host Terminated"
Issue Type: <b>Bug</b>

It is showing the message extension host terminated. And I dont know how to fix it

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<

[2020-04-26 18:03] mjbvz commented on #96172
Duplicate of https://github.com/microsoft/TypeScript/issues/27294

[2020-04-26 18:03] #96172 closed

[2020-04-26 18:06] probablykasper commented on #96058
@Tyriar My bad, I haven't tested this on tmux or emacs. I thought mouse reporting just wasn't supported at all, but that's clearly not the case. Updated the issue description.

Were you able to reproduce the issue in vim?

[2020-04-26 18:13] yuriy-chumak commented on #28795
After upgrading to Ubuntu 20.04 LTS Focal Fossa I can confirm that this annoying bug still present with all extensions disabled.

[2020-04-26 18:25] bascom opened #96200 "Problem with Python Package that Stopped Working After VSCode Suggested a Change"
Dear VSCode,

VSCode suggested a setting change that I recall involved the way conda is loaded. This deals specifically with the Python Package threeviz that Stopped Working after I agreed to the suggested change. This happened shortly after I installed linter. Please help. I've run "pip3 install threeviz" but that doesn't fix the issue.

-MCB

[2020-04-26 18:45] Zorono commented on #95427
@theSeifHub
كلم دعم شركة الاتصالات الخاصة بيك(WE/Orange/....) لأن فيه مشكلة فال DNS Servers المصرية
علي حسب ما اعتقد

[2020-04-26 18:52] Zooce commented on #95943
I've noticed something odd with typing in the editor as well. I don't know how it happens, but I'll be editing some text, then doing some stuff in the integrated terminal (zsh for me), then all of a sudden in the editor I can no longer use the Enter key to write new lines, while using Command+Enter does write new lines.

OS: macOS 10.15.4
**About VS Code:**
Version: 1.45.0-insider
Commit: a250df70

[2020-04-26 18:52] #96176 closed

[2020-04-26 18:57] arnofly opened #96201 "Could not load markdown.styles"
- VSCode Version:
- OS Version:
Version: 1.44.2 (user setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T16:36:23.138Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

settings.json
{
    "markdown.styles": [
        "D:\\\markdown-override.css"
    ]
}

![image](https://user-images.githubuser

[2020-04-26 19:08] mjbvz commented on #96172
We won't include TypeScript 3.9 with this fix until VS Code 1.46. Until then, try upgrading your workspace to use `typescript@next` by installing [this extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next)

[2020-04-26 19:09] AbdelrahmanHafez commented on #96172
Thank you.
So in VSCode 1.46, would this be fixed by default? Will I need to set some option? Too early to tell?

[2020-04-26 19:25] torkamanmahdi opened #96202 "remote ssh not working with git version !"
- VSCode Version: 1.44.2
- OS Version: ubuntu 20.04

greetings,
remote ssh error after enter password --->
you seem to have git 1.8.3.1 installed. Code works best with git >= 2
how can i fix this problem when i install git 2.25 version
5 days past and i can't fix this problem.
best regards

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-26 19:46] #96202 closed

[2020-04-26 19:57] #95686 closed

[2020-04-26 20:08] alexdima commented on #95788
@john-aws On step 3., when you return to the laptop. Normally, a blocking dialog that you really cannot miss shows up letting you know you are disconnected. Is that not the case for you?

[2020-04-26 20:17] outerlook opened #96204 "🚀👨‍💻 [UX]Type Focus / Unfocus mode (grayed out by toggling)"
It isn't rare that types are **collocated** with runtime code on many projects, at least on Typescript projects.

Collocation has advantages, but our files get cluttered with half of it on typings and half on runtime code. If we move typings to other files, we may lose the advantages of collocating.

But when we work, we are usually focused on only one side - types or runtime code. It may be easie

[2020-04-26 20:34] outerlook commented on #96204
closing as I didn't started the issue template correctly 😅

[2020-04-26 20:34] #96204 closed

[2020-04-26 20:34] outerlook opened #96205 "🚀👨‍💻 [UX]Type Focus / Unfocus mode (grayed out by toggling)"
It isn't rare that types are **collocated** with runtime code on many projects, at least on Typescript projects.

Collocation has advantages, but our files get cluttered with half of it on typings and half on runtime code. If we move typings to other files, we may lose the advantages of collocating.

But when we work, we are usually focused on only one side - types or runtime code. It may be easie

[2020-04-26 20:41] TylerLeonhardt opened #96207 "Notebook UI popped dev tools and displayed stack trace when clicking out of markdown cell"
Version: 1.45.0-insider
Commit: d342048538c28d54afd1c6beea03f3a89af04359
Date: 2020-04-23T07:46:52.128Z (3 days ago)
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

Steps to Reproduce:

Not sure exactly what I did... but I think I...
1. Created a new markdown cell at the bottom of my file
2. Typed in it
3. Clicked _below_ the new cell

Dev too

[2020-04-26 20:41] TylerLeonhardt commented on #96207
cc @rebornix

[2020-04-26 20:46] axefrog opened #96208 "Request: restore left-anchored horizontal scroll position when navigating away from a long line"
When navigating the editor (commonly via search or symbol navigation), often the cursor will hit a long line and force the editor to scroll right. Navigating away from that line and back to a short line tends to leave the editor in a state where it is still partially scrolled to the right, which is annoying because it means that much of the left part of the code remains obscured until the user tak

[2020-04-26 21:28] salong3 commented on #95920
I was able to fix the problem by creating a new user. There was some config file that i missed somewhere.

[2020-04-26 21:28] #95920 closed

[2020-04-26 21:38] jss367 opened #96209 "File with LOAD_GLOBAL(dispatcher) appears when I have an error"
Issue Type: <b>Bug</b>

I am seeing what I believe to be a bug when I am debugging a file. I have a simple file (reproduced below) that has a simple error in it. But when I debug the file it runs it until it catches the error and then some internal file pops up and the error message is shown there.

Here is my file:

[code]
Here is the file that pops up when I have an error message. I do not know

[2020-04-26 21:39] devin-fee-ah commented on #90696
@Tyriar awesome. I also came across this article from 2017 (["Persistent terminal sessions in VS Code"](https://medium.com/@joaomoreno/persistent-terminal-sessions-in-vs-code-8fc469ed6b41)) about that your colleague wrote. Didn't realize you were the one who'd implemented a lot of the underlying functionality already.

Thanks for your awesome work on VSCode 😄

[2020-04-26 22:05] jvesouza opened #96210 "Screen reader: Improvement in the labels of some items present in the status bar."
Issue Type: <b>Feature Request</b>

When I request the contents of the status bar, the following is read by the orca.
'Open a remote window eita (Git) - master* No Problems Select a connection No Notifications Tweet Feedback Select Language Mode Select End of Line Sequence Select Encoding Select Indentation Go to Line/Column If you are not using a Screen Reader, please change the setting `editor.a

[2020-04-26 22:25] eliumoraes commented on #18805
I was looking for this feature. Using Datagrip I can fold part of my queries. Can't believe that code really does not has this function.

[2020-04-26 23:19] deepak1556 commented on #95067
Thanks! the electron 8 update will be available from the next month insiders, would be good to wait for it.

[2020-04-26 23:50] McMacaron commented on #93679
Why this issue is closed. I have spent with solving this whole evening. It is a bug

[2020-04-26 23:53] airtonix commented on #96032
The point is that because you're not documenting the things you're removing, and are now removing things not prefixed with `VSCODE`... how are we to know?

do one or the other please: document or stick to removing only those prefixed with `VSCODE`.

By the way, my example of using `VSCODE` was just that... an example. we don't actually use that variable, but are experiencing that many more of our

[2020-04-26 23:59] genivaldosc opened #96212 "Allow to open the same file in different tabs"
Allow to open the same file in different tabs. Today it is possible to use “Open to the side”, but on smaller monitors there is no space. The feature is practical for working with files with many lines and easy to switch between areas edited with Ctrl + Tab. In Netbeans I used the clone function.

Thanks

![image](https://user-images.githubusercontent.com/25187586/80323126-dc42d880-87ff-11ea-902c-

[2020-04-27 01:14] tomocrafter commented on #56644
@mastergberry what was the causing this problem?

[2020-04-27 01:41] joshuaquek commented on #93211
Duplicated as of https://github.com/microsoft/vscode/pull/82781 . Issue resolved imo.

[2020-04-27 02:24] #91519 closed

[2020-04-27 02:24] #91474 closed

[2020-04-27 02:24] #91470 closed

[2020-04-27 02:24] #91432 closed

[2020-04-27 02:24] #91412 closed

[2020-04-27 02:24] #91314 closed

[2020-04-27 02:24] #91305 closed

[2020-04-27 02:24] #91298 closed

[2020-04-27 02:24] #91197 closed

[2020-04-27 02:24] #91176 closed

[2020-04-27 02:24] #91172 closed

[2020-04-27 02:24] #91160 closed

[2020-04-27 02:24] #91067 closed

[2020-04-27 02:24] #90956 closed

[2020-04-27 02:24] #90576 closed

[2020-04-27 02:28] intruder04 commented on #35711
Experiencing the same bug on a 4k screen. Windows 10

[2020-04-27 02:32] dbanisimov opened #96213 "VS Online git credentials are not working when connected from VS Code insiders"
Issue Type: <b>Bug</b>

When working with git on cloud-hosted Visual Studio Online environment the git credentials are not shared between Code Insiders and the remote environment. For every operation git asks for a username and a password. This happens both for Code GUI git and cmd git.
This started to happen recently and it doesn't happen when using vsonline via browser or via stable vscode.

VS

[2020-04-27 03:02] #91618 closed

[2020-04-27 03:30] wuliZXF commented on #95833
I just ran `npm start` for my nodejs project in a VS Code terminal. In the past, node would re-compile the changed file right after I saved my changes. But now it seems it does that sometimes when I just open an existing file without any change.

[2020-04-27 03:31] jedwards1211 opened #96215 "Source Control UI gets cramped when there are lots of project folders"
Here's my source control pane right now...  I'd rather it would just show a single project at once (with a dropdown at the top to switch between them, that syncs to the project containing the file in the active text editor)

Compounding the problem is the fact that removing a project folder from the workspace doesn't remove it from this list.  I only actually have 10 project folders in the workspa

[2020-04-27 03:37] SylviaLe opened #96216 "Error with Java File IO"
This is the gist of my code:
try
{
Scanner fileIn = new Scanner(new FileInputStream("userdata.txt"));
//do stuffs
}
catch(FileNotFoundException ex)
{
System.out.println("File not Found");
System.exit(0);
}

I check the file directory, the file name, everything, but it just keeps printing File Not Found

[2020-04-27 04:13] vhquang commented on #76542
The reason Inherit Env isn't enable by default is probably this:
https://github.com/microsoft/vscode-python/issues/7607
(ie: to make it more compatible with conda)
I can confirm it happens for version 1.44.2, with both gnome-shortcut and terminal. Temporary fix for me is enable it, since my particular project does not care about it. But that is just a workaround.

[2020-04-27 04:59] olofwalker commented on #95067
@deepak1556 Thanks, I'll do that!

[2020-04-27 05:16] PavelSosin-320 opened #96217 "After restart VSCode looses context and hangs on welcome page"
Issue Type: <b>Bug</b>

In addition to "Welcome page remains open after opening workspace"
1. Create a project
......
2. Restart VSCode
Actual:
-- Welcome page is shown instead of recent context:
    --  selected folder
    --  Opened editor
    --  Used development container
Expected:
   Take me back to my work context as all normal IDEs do.
Show Welcome page once per update i.e. "don't show me a

[2020-04-27 05:56] jnickg commented on #95371
@weinand I see your point. That said, just to clarify a user perspective here, I and many others don't care if you use node.js under the hood—having a clean way to pass information between setup tasks and launch configurations is a significant usability consideration. I have seen people go as far as creating a `launch.json.template` and doing string replacement in setup tasks, which feels hacky.

[2020-04-27 05:59] #96111 closed

[2020-04-27 06:00] #96113 closed

[2020-04-27 06:01] usernamehw opened #96219 "Cannot update TreeView.title if the view is not visible"
1. Multiple extension activation events. `*` should do too
1. Hide the view (toggle SideBar)
1. Create TreeView `vscode.window.createTreeView`
1. Update the title `view.title = 'new title'`
1. Open the View

**Expected**: Title is updated
**Actual**: Title is not changed

[2020-04-27 06:02] usernamehw commented on #96219
/assign alexr00

[2020-04-27 06:03] #96124 closed

[2020-04-27 06:04] usernamehw commented on #96216
/question

[2020-04-27 06:05] #96216 closed

[2020-04-27 06:10] ryanbehdad opened #96220 "TOC for Jupyter Notebook"
Hi,
I have migrated from running jupyter notebooks in the browser to VS Code. It has been an awesome experience. One of the biggest things I miss is TOC for the notebook. It was available for jupyter notebooks and lab through extensions. But, in the VS Code, I've not seen it.

I suggest adding a button at the top of the notebook page (next to "Clear All Outputs") to show/hide TOC.

Many thanks.

[2020-04-27 06:12] sandy081 commented on #95735
/duplicate

There is already request for file specific settings

[2020-04-27 06:12] #95735 closed

[2020-04-27 06:15] sbatten commented on #96152
I don't understand... the open editors view can be hidden or collapsed like other views. Could you explain more what you mean?

[2020-04-27 06:21] sbatten commented on #96154
If a directory is already opened in an existing window, that window will be brought to the foreground. This is already the default behavior. Could you clarify you case?

[2020-04-27 06:22] iliazeus opened #96221 "Provide API docs and/or .d.ts for the webview scripts"
It would be nice to have a reference of the api available through `acquireVsCodeApi()`. Right now, one needs to sift through the guide on webview extensions. And, ideally, I'd love to have a `.d.ts` declaration file.

[2020-04-27 06:23] ddivanshu opened #96222 "No suggestions after typing package name"
Issue Type: <b>Bug</b>

create a .go file and use import "fmt" and then try using it "fmt." , no suggestions displayed

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-5015U CPU @ 2.10GHz (4 x 2095)|
|GPU Status|2d_canv

[2020-04-27 06:26] #96163 closed

[2020-04-27 06:29] #96175 closed

[2020-04-27 06:30] sbatten commented on #96177
@joaomoreno can you test this? I vaguely remember you using ubuntu primarily

[2020-04-27 06:32] #96180 closed

[2020-04-27 06:34] #96145 closed

[2020-04-27 06:34] weinand commented on #96145
Please file issue against the C++ extension

[2020-04-27 06:35] sbatten commented on #96185
VS Code has its own terminal setting. please run the command: Ctrl+Shift+P => `Select Default Shell`

[2020-04-27 06:35] #96185 closed

[2020-04-27 06:36] jsidnei opened #96223 "File encoding settings not working when opening a file from Windows Explorer"
- VSCode Version: 1.44.2 (user setup)
- OS Version: Windows 10 1909 (18363.778)

Steps to Reproduce:

1. Add `"[c]": { "files.encoding": "windows1252" }` to _settings.json_.
2. Close VS Code.
3. Open a .c file from Windows Explorer.
4. The encoding will be set to UTF-8, ignoring specific settings for .c files.

The issue doesn't happen when opening files from inside the program, or when opening th

[2020-04-27 06:38] #96194 closed

[2020-04-27 06:41] sbatten commented on #96199
likely a duplicate #94858

[2020-04-27 06:41] #96199 closed

[2020-04-27 06:41] #96200 closed

[2020-04-27 06:45] #96209 closed

[2020-04-27 06:47] aeschli commented on #95346
@misolori see above, comment on the contrast of the new color.

[2020-04-27 06:49] sbatten commented on #96217
Please see settings: `window.restoreWindows` and `workbench.startupEditor`

[2020-04-27 06:49] #96217 closed

[2020-04-27 06:51] cowmanjoe commented on #95599
Isn't this already possible by setting `"scm.diffDecorations": "none"` or `"scm.diffDecorations": "gutter"`?

[2020-04-27 06:51] #96222 closed

[2020-04-27 06:59] talr1 commented on #96169
i found in the %temp% folder the file vscode-inno-updater-1587969158.log:

Apr 27 09:32:38.973 INFO Starting: C:\Users\user\AppData\Local\Programs\Microsoft VS Code Insiders\Code - Insiders.exe, false
Apr 27 09:32:38.974 INFO Checking for running Code - Insiders.exe processes... (attempt 1)
Apr 27 09:32:38.994 INFO Code - Insiders.exe is running, wait a bit
Apr 27 09:32:39.494 INFO Checking for ru

[2020-04-27 07:07] egamma commented on #95130
Closing as a duplicate of #81280.

[2020-04-27 07:07] #95130 closed

[2020-04-27 07:09] isidorn commented on #41423
This is the actual upstream issue https://bugs.chromium.org/p/chromium/issues/detail?id=1001591&q=10000%20chars&can=2

[2020-04-27 07:10] Raghul-S-1994 opened #96224 "CompletionItem sortText not respected"
I have been working on a language server based vscode extension to provide custom ranked javascript completions. But whatever the sortText is, the completions are always at the bottom, after completions by *TypeScript and JavaScript Language Features* builtin extension.`

[2020-04-27 07:10] jrieken commented on #95887
needs more context. @connor4312 refers to commands defined inside code which puzzles me. This should only work when defining commands inside package.json. For the tweak Idk if there is anything special, check if SCM is doing anything different?

[2020-04-27 07:11] isidorn commented on #95726
Awesome. Glad to hear it works, thus adding verified label.

[2020-04-27 07:11] jrieken commented on #96102
I don't understand what you want. Please clarify

[2020-04-27 07:15] yume-chan commented on #96193
`tsc yourfile.ts` won't use your tsconfig.json or any other configurations.

Read the [documentation](https://www.typescriptlang.org/docs/handbook/compiler-options.html).

Use `tsc` or `tsc -p yourconfig.json` or `tsc -p yourconfig.json yourfile.ts` instead.

[2020-04-27 07:16] jrieken commented on #95615
This seems to be triggered by the markdown preview, at least that's the activation events that fired on focus out

<img width="1081" alt="Screenshot 2020-04-27 at 09 15 59" src="https://user-images.githubusercontent.com/1794099/80344350-b7824b80-8867-11ea-871c-15762073b7f8.png">

[2020-04-27 07:19] bpasero opened #96225 "Web: home indicator causes activity bar cheese"
When the bar overflows the gear icon bleeds into the status bar.

[2020-04-27 07:19] isidorn commented on #95861
@roblourens thanks for claryfing. Than I think it makes good sense.

Though still keeping this issue open since we can update the `ariaLabel` of the whole tree based on the term. For example in this [method](https://github.com/microsoft/vscode/blob/ac1a73d950087f94d6943150c42a8d7b4d0bb193/src/vs/workbench/contrib/search/browser/searchView.ts#L1555)
We could update `this.tree.ariaLabel` to be:
"Sea

[2020-04-27 07:22] sandy081 commented on #96064
I do not think this welcome view/command shall be shown/available from command pallete when the repositories view is shown. I will investigate this.

@joaomoreno Actual request from user is to have a command to focus repository changes view.

[2020-04-27 07:22] jrieken commented on #95615
Adding @mjbvz for the activation but this might as well work as designed

@bpasero the problem is the showing of progress as notification which was in a way a breaking change. The status-bar-progress has a default delay of 150ms, the notification area has none which makes this so flicker'ish

[2020-04-27 07:23] weinand commented on #95957
@bpasero I've created a [PR](https://github.com/microsoft/vscode/pull/96211) with a fix. It would be great if you could review it.

[2020-04-27 07:23] jrieken commented on #96059
This is a duplicate. Unfortunately, I don't recall the exact issue number nor its title :flushed: Anyways, searching for issues with the same labels will likely help you :point_right:
https://github.com/microsoft/vscode/issues?utf8=✓&q=is%3Aopen+label%3Asnippets

[2020-04-27 07:24] #96059 closed

[2020-04-27 07:26] sandy081 commented on #96165
/duplicate

https://github.com/microsoft/vscode/issues/70736

[2020-04-27 07:27] testforstephen commented on #92269
**Play Button:**
I like the play button for single file debugging. Regarding the question of whether to enable the play button for the active editor, I tend to let the debugger tell the vscode in some sort of static way, such as a static contribution point attribute ("supportsFileDebug") as you mention. The proposed `provideFileDebugConfiguration` API should only be used after the play button is c

[2020-04-27 07:27] #96165 closed

[2020-04-27 07:27] jrieken commented on #96073
If these are actual bugs with TypeScript and marked.js then we should get them fixed, not use settings. Having a setting that says, don't render my doc comments the way I have authored it sounds wrong.

[2020-04-27 07:29] isidorn commented on #94233
@alexdima sorry about this! As you suggest I think we can tackle this on the aria alert side, since no user will listen to 15mb of text being read out. Thus all alerts should have a cap before they are put in the DOM.

[2020-04-27 07:29] jrieken commented on #56644
@mastergberry Thanks for the update and the fast turn-around

Now, let's find out what other applications/settings/etc exist that can slow things down.

[2020-04-27 07:30] isidorn commented on #96134
I also see this from time to time. Assigning to May to look deeper since I think we always behaved like this, though we should improve.

[2020-04-27 07:31] sandy081 commented on #96056
Its because you have the extension available in the market place and we give preference to it.
You can try changing the identifier so that it won't match to your extension in market place and change the id back and publish.

[2020-04-27 07:31] yume-chan commented on #96049
Duplicate of #96050

[2020-04-27 07:31] weinand commented on #92269
@testforstephen great feedback, thanks a lot.
We will consider this in May when we finish the work on this.

[2020-04-27 07:32] sandy081 commented on #96161
Can you please elaborate your request?

[2020-04-27 07:33] sandy081 commented on #96099
Do you seen any errors?

Please follow these steps

- Help -> Toggle Developer Tools -> Network
- Then check for any network failed requests while browsing and installing the extensions if found all requests fails then its probably a proxy or DNS issue at your end.
- To confirm its a DNS issue check if you can access this page https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/20

[2020-04-27 07:37] bpasero commented on #95615
@jrieken this is the change we did to show all window progress (the one that appears in status) as hidden notifications right?

[2020-04-27 07:39] vennekilde commented on #95056
Correction to my earlier statement.
If you require that your project is split into multiple roots, for things like gopls to work in a go module project, then there is nothing to do outside downgrading to a version < 1.44

[2020-04-27 07:40] jrieken commented on #95615
I believe so, but I don't really know what happened there.

[2020-04-27 07:41] jrieken commented on #96098
/duplicate of https://github.com/microsoft/vscode/issues/96013

[2020-04-27 07:41] #96098 closed

[2020-04-27 07:42] sandy081 opened #96226 "Test Settings Sync Improvements"
Ref - #94766 #95160

- [x] anyOS @jrieken
- [x] anyOS @rebornix

Complexity: 4

Authors: @sandy081 @Tyriar @RMacfarlane

---

## Test Turn on / off Sync flow

- You can now Turn on / Manage / Turn off sync actions from Accounts menu. Test that these actions and flows works as expected from Accounts / Gear menu.
- Test the accounts dropdown picker while turning on sync
  - When you are not signed i

[2020-04-27 07:44] sandy081 opened #96227 "Test Settings Sync with GitHub Account"
Ref - #95160

- [ ] anyOS
- [ ] anyOS

Complexity: 2

Authors: @sandy081 @Tyriar @RMacfarlane

---

[2020-04-27 07:46] sandy081 opened #96228 "Test config based recommendations"
- [x] anyOS @deepak1556
- [x] anyOS @fiveisprime

Complexity: 2

---

- Open a folder that is a git repo
- Open Extensions View and make sure `Gitlens` extension is shown in recommendations
- Open a folder that is a git repo with Github remote
- Open Extensions View and make sure `GitHub Pull Request` extension is shown in recommendations

[2020-04-27 07:48] jrieken commented on #96098
@Jimmyzaurio In what language have you seen this happening? There has been similar report but this isn't easily reproducable

<img width="509" alt="Screenshot 2020-04-27 at 09 47 42" src="https://user-images.githubusercontent.com/1794099/80347103-25307680-886c-11ea-9b13-f39c1a7ed0e8.png">

[2020-04-27 07:49] Lazarencjusz opened #96229 "Remote debug to child process doesn't work as it does on localhost"
- VSCode Version: 1.44
- OS Version: Windows 7 / Red Hat 6.7 (Santiago)

Steps to Reproduce:

1. Create NodeJs simple server
2. Use NodeJs `cluster` to create child processes (f.e. 4, no more than CPU cores amount)
3. Run the server in debug mode (on Windows).
4. Create `attach` debug task with `autoAttachChildProcesses` property, provide debug port number
5. Run the Attach debug task to attach de

[2020-04-27 07:49] isidorn commented on #96162
Thsi is currently not possible. And yeah download an extension for now.
Though I can leave this open as we might tackle in the future.

[2020-04-27 07:50] jmaicaaan commented on #96195
Same issue here. It doesn't stop when debugging my extension. I thought there's a problem on my extension but it turns out I'm not the one.

[2020-04-27 07:52] AnwerShujaFarooqui opened #96230 "html5 default script setting"
how can i set my vs code. when i strike <return key> after type "!" sign, the HTML5 script cannot appear.

where i set that.

thanks

[2020-04-27 07:52] jrieken commented on #96098
nvm - this happens with c, not with TS 🤷‍♂️

[2020-04-27 07:54] aeschli commented on #96120
How would the dynamic configurator know what schemes applies to which file?

[2020-04-27 07:55] #96230 closed

[2020-04-27 07:55] jrieken commented on #96013
This is a regression from tweak make to getting the current word. Surprised it took so long to be discovered...

[2020-04-27 07:56] #96049 closed

[2020-04-27 07:58] alexdima commented on #95912
@jrieken This is happening because the extension `ms-vscode.references-view` does not contribute a command called `references-view.prev`, just a keybinding for it. The command is registered in source code, but never mentioned explicitly in the `package.json` `commands` section:

![image](https://user-images.githubusercontent.com/5047891/80347060-12b63d00-886c-11ea-9d99-d0efed34c6e5.png)

[2020-04-27 07:59] jrieken commented on #96224
This is now enough information to provide a meaningful reply.

[2020-04-27 08:03] pierrecoach opened #96231 "git takes centuries without informing or prompting for what to do"
We have written the needed data into your clipboard because it was too larg
Issue Type: <b>Bug</b>

Context : a project with python virtual environment used to run jupyter
Action : I open vs code and want to see the changes in git
Expected : after a while it shows the changed files on the left, or it displays a progress bar, or if it takes more than 5 minutes there is a problem and it prompts me f

[2020-04-27 08:09] jrieken commented on #96189
@ankitbihani Assuming you are a software developer that has at least received and fixed bugs in their life: Please read what you wrote and tell me what code or documentation change I should make. Thanks.

[2020-04-27 08:10] jrieken commented on #95912
Which is very much allows and therefore we shouldn't show the squiggle

[2020-04-27 08:11] alexdima commented on #95798
@chavlji The cursor history is cleared when doing edits. This is intentional, because all the positions and selections remembered in the cursor history must be invalidated when doing edits because they might not make sense anymore.

Here is a simple example:
* select on line 10
* select all
* delete

The file is now empty. If we were to attempt to restore the cursor via cursor undo, it will attemp

[2020-04-27 08:13] Prankurtiwari opened #96232 "New File icon not working"
- VSCode Version: version 1.44
- OS Version: windows 10

Steps to Reproduce:

1.Scale the VSCode windows to 50% horizontal division
2. Now click on add new file icon (in my case it is refreshing it not creating a new file till I maximize it to full screen at that point it work properly)

Does this issue occur when all extensions are disabled?: yes

[2020-04-27 08:19] #96009 closed

[2020-04-27 08:22] sandy081 opened #96233 "Sanity test Extension Recommendations"
- [x] Windows @alexdima
- [x] anyOS @sbatten

Complexity: 3

---

In this milestone, I have refactored extension recommendations to make it robust. Please do a sanity testing that extension recommendations are working fine in the product.

- **Workspace recommendations**: Have recommendations in `extensions.json` file under `.vscode` folder and make sure these recommendations are shown. And also y

[2020-04-27 08:23] cg-cnu opened #96234 "editor.action.addCommentLine toggles the comment line"
As mentioned in the [docs](https://code.visualstudio.com/api/extension-guides/command) `editor.action.addCommentLine` **comments the currently selected lines in the active text editor**. By the name of the action, I was expecting it to comment the line if it is not already a comment and ignore otherwise. Currently it is toggling the comment.

For one of my extension I am looking for a way to comme

[2020-04-27 08:24] whobbes opened #96235 "Downloading files while in remote-ssh session select name as Untitled rather than filename"
Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T17:07:18.473Z (1 wk ago)
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

Steps to Reproduce:

1. Use vs-code with REMOTE-SSH to run on another machine via SSH
1. Right-click on file in explorer > Download
2. Name of file is **Untitled** rather than current name

[2020-04-27 08:25] #95798 closed

[2020-04-27 08:31] Lazarencjusz commented on #96229
Hi @alexr00, the issue can be related with #75513, but I am not sure because less details in issue description.

[2020-04-27 08:32] aeschli commented on #93332
For themes what's stored are the cached theme colors to avoid flickering on reload. We will not sync these at they also contain paths.

[2020-04-27 08:35] eddex commented on #93487
@alexdima thanks for the tip!
When I searched the installed fonts, I noticed, that the font was not showing up anymore. I re-installed the font and at this point a popup notified me that the font is already installed (even tho it was not listed as installed).
After installing the font again, it works as expected in VS Code.

I now installed the font for all users (`right click -> Install for all u

[2020-04-27 08:36] alexr00 commented on #95931
Let me make sure I understand:

In a terminal you do an `nvm use` to change the node version.
The terminal now uses the correct node version.
VS Code still uses the old node version.

Is that what you're seeing?

[2020-04-27 08:36] iliazeus commented on #95636
So I've tried to take a look at this.

I couldn't make the "`contenteditable` + `document.execCommand('copy')`" approach work, because it's the HTML that gets copied, not the image itself. ([jsfiddle demo](https://jsfiddle.net/ka024htb/54/))

And it looks like we can't use the [Clipboard API](https://developer.mozilla.org/en-US/docs/Web/API/Clipboard_API), because (as far as I undersand) we're not

[2020-04-27 08:40] alexr00 commented on #96197
Tasks does not use your .profile. Instead, it uses the environment of VS Code. Can you open the developer tools console and run `process.env`? Does your path there include the items you want?

[2020-04-27 08:43] sandy081 opened #96236 "Test syncing UI state"
Ref - #93332

- [x] anyOS @connor4312
- [x] anyOS @Tyriar

Complexity: 4

Authors: @sandy081 @RMacfarlane @octref

---

## Set Up

- To test, have two insiders open with different user data directories and extension directories

**Note**: Wait a moment for sync to be triggered and done on other machine before testing synced UI state - Check sync logs.

- Test that trusted domains are synced
  - Op

[2020-04-27 08:47] #96013 closed

[2020-04-27 08:48] alexr00 commented on #96144
Moved to owning repo: https://github.com/atom/language-shellscript/issues/158

[2020-04-27 08:51] alexr00 commented on #96089
You can know when your tree view is done refreshing based on what `getChildren` is called with.

However, additional API do know when we are done calling `getChildren` might be helpful.

[2020-04-27 08:53] #95936 closed

[2020-04-27 08:55] alexr00 commented on #96086
Only shell and process tasks are supported in the workspace file. https://code.visualstudio.com/docs/editor/multi-root-workspaces#_workspace-task-configuration

[2020-04-27 08:55] #96086 closed

[2020-04-27 08:55] alexdima commented on #95922
Duplicate of #91375

[2020-04-27 08:55] #95922 closed

[2020-04-27 08:58] alexr00 commented on #92854
Instead of using `env` you could write a command and use command [input variables](https://code.visualstudio.com/docs/editor/variables-reference#_input-variables)

[2020-04-27 08:59] alexdima commented on #95924
@jrieken I think this is an issue for `suggest` since the code in `vs/editor/contrib/suggest/*` is triggering auto-completion. Is there some kind of core editor problem here?

[2020-04-27 09:04] qiaohesoft opened #96237 "python： Segmentation fault"
Issue Type: <b>Bug</b>

It reports “Segmentation fault” when import matplotlib.pyplot before others  packages,but it will do well when import matplotlib.pyplot behind others packages.For example,
       from matplotlib import pyplot as plt
       from gluoncv import model_zoo, data, utils
       It will be wrong.
       from gluoncv import model_zoo, data, utils
       from matplotlib import pyplo

[2020-04-27 09:05] alexdima commented on #95894
@isidorn Implementation wise, I also think this could be implemented with two commands. The first one would be "set selection anchor" and would add an editor decoration at the current position. Using a decoration would make sure that the anchor stays with the surrounding text even if there are edits in the file.

The second one, "select from anchor to position" would read up that decoration and cr

[2020-04-27 09:10] MrSparc commented on #90579
I'm sorry, but this issue still happens in the release March 2020 (v1.44.2):
![VSCMarch2020_Ctrl+P_withReleaseNotes](https://user-images.githubusercontent.com/2487742/80354912-48105a00-886f-11ea-8cb9-58d1f97ef803.gif)

[2020-04-27 09:11] alexdima commented on #96026
@kirbygit VS Code settings can be defined per folder, so it is possible that there is a `.vscode/settings.json` file in the folder you open that will override the user configured `editor.tabSize`.

Does the issue reproduce for you when opening a new empty folder ?

[2020-04-27 09:14] alexdima commented on #94470
@LexRiver Thanks for following up. A workaround would be to use:
[code]

[2020-04-27 09:15] Yudezhi opened #96238 "popup window can not display formula"
- VSCode Version:1.44.2 (user setup)
- OS Version: Windows_NT x64 10.0.19608

Steps to Reproduce:

1.hover on a function name which has formula in latex
2. the popup window can not show formula correctly.

Here is the screen shot.

![2020-04-27 17_12_53-decoder py - caption_utils - Visual Studio Code](https://user-images.githubusercontent.com/22066983/80355239-68a9d580-88aa-11ea-9156-de5cf9c7ba09.

[2020-04-27 09:16] Raghul-S-1994 commented on #96224
Let's take method completion for example
`console.<completion trigger>`

In this case, the plugin provides few completions as follows, which I wish to be ranked/shown at the top.
1. assert
2. warn
3. error
4. log

The completion item for _error_ (3rd completion above) would look like this

  label = "Ⓒ error"
  kind = Method
  tags = null
  detail = null
  documentation = null
  deprecated = null

[2020-04-27 09:18] #96196 closed

[2020-04-27 09:18] MarcoZehe commented on #95894
Oh I could totally see myself use this a lot of times! A big 👍 for that!

[2020-04-27 09:18] isidorn commented on #96196
@jeanp413 good catch, thanks for reporting this.
I believe this was like that since we shipped stable and our changes to the view / viewlet infrastucture.
Issue was that open viewlet does not exapnd the explorer view which makes sense since a viewlet is a superset.

[2020-04-27 09:19] isidorn commented on #95987
Fixed in latest vscode insiders

[2020-04-27 09:19] #95987 closed

[2020-04-27 09:23] alexr00 commented on #96024
Duplicate of https://github.com/textmate/perl.tmbundle/issues/33

[2020-04-27 09:23] #96024 closed

[2020-04-27 09:24] jrieken opened #96239 "Add Format Notebook command"
We need a way to format a whole document at once, not just each cell individually

[2020-04-27 09:26] isidorn commented on #95894
@alexdima good idea to use the decoration as an implementation detail. And the "Go to anchor" command makes a lot of sense.

My idea for command naming:

* "Mark Start of Selection" "Mark End of Selection"  "Go to Selection Mark"

Ideas on naming welcome.
I can look into this next week.

[2020-04-27 09:26] isidorn commented on #96232
Fixed with latest vscode insiders

[2020-04-27 09:26] #96232 closed

[2020-04-27 09:27] Raghul-S-1994 commented on #96224
Let's take method completion for example
`console.<completion trigger>`

In this case, the plugin provides few completions as follows, which I wish to be ranked/shown at the top.
1. assert
2. warn
3. error
4. log

The completion item for _error_ (3rd completion above) would look like this

  label = "Ⓒ error"
  kind = Method
  tags = null
  detail = null
  documentation = null
  deprecated = null

[2020-04-27 09:31] jrieken commented on #96224
Ok, thanks for clarifying. What's happening is that your sortText is compared with the sortText TypeScript uses. And they seem to using something "creative". When showing completion with details and can press `Cmd+?` to see the sorting internals and it seems that TypeScript uses `"0"` as sortText 🤷 ... So, you need to find something before that

<img width="738" alt="Screenshot 2020-04-27 at 11 30

[2020-04-27 09:31] #96224 closed

[2020-04-27 09:36] isidorn commented on #96235
Dup of https://github.com/microsoft/vscode-remote-release/issues/2536

[2020-04-27 09:36] #96235 closed

[2020-04-27 09:43] soufiene-slimi commented on #13680
### [This solution](https://github.com/microsoft/vscode/issues/13680#issuecomment-575204695) works like a charm.

[2020-04-27 09:43] DanTup opened #96240 "executeDefinitionProvider has a breaking change in Insiders"
This may be known/deliberate, but I couldn't find anywhere listing breaking changes to check. If it is, feel free to close!

The `executeDefinitionProvider` command used to always return `Location`s (as documented [here](https://code.visualstudio.com/api/references/commands) - they always had a `uri` field). This was the cause even if the provider returned `DefinitionLink`s. Now (in insiders), the

[2020-04-27 09:43] #96198 closed

[2020-04-27 09:44] isidorn commented on #96198
Deja vu!
Great catch, had to remove the code you added to prevent this from happening due to my refactoring.
Now just changed the collapse to make sure to remove the edited element.

[2020-04-27 09:49] chrmarti commented on #11468
@gjsjohnmurray Lets first discuss the API change. Would you just surface what we use internally? There we allow the items list to be either a QuickPickItem or a QuickPickSeparator which then separates the groups and can have a label.

[2020-04-27 09:50] isidorn commented on #96077
Also fyi @marcozehe in case you know someone over at nvda to ping apart from @leonardder who I ping all the time :)

[2020-04-27 09:54] #96239 closed

[2020-04-27 09:55] joaomoreno opened #96241 "Git: Provide automatic HTTPS authentication with GitHub"
Now that we ship a `GitHub Authentication` extension, the Git extension can benefit from this and use the ASKPASS mechanism to provide seamless authentication with GitHub out of the box.

[2020-04-27 09:55] msteen commented on #96089
Although additional API for this might indeed be helpful, shouldn't this just work? If I can fix it myself with `getChildren`, why can't this happen already behind the scenes? This seems inconsistent with #47153 which should then also be fixable with `getChildren`, but has been deemed a bug.

[2020-04-27 10:02] isidorn commented on #96153
@jvesouza thanks for filling this. This is an upstream issue in Chrome
https://bugs.chromium.org/p/chromium/issues/detail?id=1001591&q=10000%20chars&can=2

As a workaround I suggest that you put `"editor.accessibilityPageSize": 20` in your settings. Or any other lower number.

I belive colleagues of @joanmarie are working on a related fix on Chrome that as a result might fix the upstream issue. In

[2020-04-27 10:08] alexr00 commented on #95971
Thank you for the repro!
The problem is that you register a task provider [here ](https://github.com/rock-core/vscode-rock/blob/1c35d08476cb6548aa7781650a7ef32094d4a134/src/extension.ts#L55) that says it will provide tasks of type `autoproj`.
Then [here](https://github.com/rock-core/vscode-rock/blob/1c35d08476cb6548aa7781650a7ef32094d4a134/src/tasks.ts#L39), you provide tasks with a different type

[2020-04-27 10:09] alexr00 commented on #95814
Same as https://github.com/microsoft/vscode/issues/95971#issuecomment-619878851

[2020-04-27 10:11] alexr00 commented on #95814
Same as https://github.com/microsoft/vscode/issues/95971

[2020-04-27 10:13] #96212 closed

[2020-04-27 10:13] silvado-soccer commented on #95747
is there any more info i could provide which would help finding the problem?

[2020-04-27 10:15] bpasero commented on #96223
/duplicate https://github.com/microsoft/vscode/issues/94519

[2020-04-27 10:16] #96223 closed

[2020-04-27 10:17] sandy081 commented on #95143
To verify:

- Have two insiders open with different user data directories and extension directories
- On first insiders turn on sync
- Have following settings content
[code]
- Go to second instance
- Have empty settings
- Turn on sync and merge. Make sure there are no conflicts.

[2020-04-27 10:17] #95143 closed

[2020-04-27 10:17] brunoNetId opened #96242 "command to reload a single given Webview"
Feature request for VSCode Webview Extensions.

A command already exists to reload Webviews, and one can programatically invoke it by implementing the following line:
    vscode.commands.executeCommand("workbench.action.webview.reloadWebviewAction")

However, the above command reloads ALL webviews, which might be undesirable when multiple Webviews are displayed on screen.

The need requested is to

[2020-04-27 10:18] isidorn commented on #95951
@alex19EP makes perfect sense, José already filed this issue so let's tackle that there https://github.com/microsoft/vscode/issues/96210

[2020-04-27 10:19] MarcoZehe commented on #93742
I am all for implementing this "choose accessible mime type" approach for notebooks when AT is detected. This proves to be another great tool in VS Code, and we should make it's as accessible as possible.

[2020-04-27 10:21] bpasero commented on #96137
/duplicate https://github.com/microsoft/vscode/issues/88257

[2020-04-27 10:21] #96137 closed

[2020-04-27 10:22] #96138 closed

[2020-04-27 10:23] #96107 closed

[2020-04-27 10:23] #96241 closed

[2020-04-27 10:26] bpasero opened #96243 "Explorer: new file does not allow ./ syntax?"
![image](https://user-images.githubusercontent.com/900690/80362034-384e4100-8882-11ea-889e-c90279336d64.png)

I think it is fair to prevent creation of files outside the workspace root, but `./` seems pretty safe to me.

[2020-04-27 10:27] gjsjohnmurray commented on #11468
@chrmarti that makes good sense to me. @alefragnani is that what you wanted?

[2020-04-27 10:28] isidorn commented on #94233
I can reproduce the issue with the file you attached.
I have tuned the lenght to 20000, since on my machine it is pretty responsive for that length and I think that is long enough that no user would want to hear a message that long.
If users complain we can always fine tune the number.

[2020-04-27 10:28] #94233 closed

[2020-04-27 10:29] jvesouza commented on #96153
@isidorn  As soon as I put the suggested parameter in settings.json the problem disappeared as if by magic! can there be any collateral effect for this workaround?

@jeanbrazcosta Could you check?

[2020-04-27 10:34] #93370 closed

[2020-04-27 10:35] alexdima commented on #93370
Thank you, after more trying I was able to reproduce too.

[2020-04-27 10:36] gjsjohnmurray commented on #96238
/duplicate of #95848

[2020-04-27 10:36] #96238 closed

[2020-04-27 10:37] jvesouza commented on #95894
Me too!
It seems to me that it would be very interesting if we could easily jump to the beginning or end of the selected text.

[2020-04-27 10:38] pradeeprajagopal opened #96244 "Unable to Save any files"
Issue Type: <b>Bug</b>

After upgrading VS Code to latest version. We are unable to save any files. All Files get stored in the memory and not written to a file.

Clicking on Save file doesnt do anything.

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2020-04-27 10:40] ayqy commented on #96120
In my case, there are some twin files like this:

[code]

I wanna to configure a specified JSON Schema to validate `foo.js` and `bar.js` under my project (detected from `project.json` at project root folder).

As you see, static glob is not working. Any workarounds or a more graceful solution will be great as well.

[2020-04-27 10:41] #96210 closed

[2020-04-27 10:41] LexRiver commented on #94470
@alexdima that works, thanks

[2020-04-27 10:42] isidorn commented on #96210
@jvesouza thanks for filling this!
I have pushed a fix, so now it should be better. Please try it out from Tuesday and let us know how it behaves for you.

[2020-04-27 10:44] Fylls opened #96245 "tag completion HTML, REACT, REACT-NATIVE"
when you want to wrap around a new  tag in a component/markup the process can be frustrating.

Every time you close a tag, fortunately VScode completes it for you:
e.g. if i write :  `<View>` VScode creates for me the relative closing tag so: `<View></View>`

but if you went to wrap around a long script you have to cut(CTRL + X) the closing tag and put it at the end of the script.

[2020-04-27 10:44] isidorn commented on #96153
@jvesouza the collateral is that we now only set 20 lines to our hidden accessibility textArea, thus if you tell your screen reader to read the content of the whole editor it will read only 20 lines.

Note that this 20 lines get updated as you navigate in the document, so all should work nicely except the "say all" command.

[2020-04-27 10:46] isidorn commented on #96243
This is a fair request.
We are open to pull requests that fix this.
Code pointer https://github.com/microsoft/vscode/blob/1a3d767b1a7043bcb3d5e81ab66108963e425612/src/vs/workbench/contrib/files/browser/fileActions.ts#L806

[2020-04-27 10:48] MarcoZehe commented on #96077
I added my endorsement to the NVDA issues. Firefox does strip AccDescription if it turns out to be identical to AccName, but that's a choice we made 10 years ago or so. And it proves that this is a practical approach since both JAWS and Orca do it, too. I am all for NVDA doing this as well.

[2020-04-27 10:50] aeschli commented on #96120
One possible solution is to specify the schema in the JSON file
"$schema": "..."

[2020-04-27 10:51] johnbillion commented on #96086
Thanks!

[2020-04-27 10:58] SheepDomination commented on #96138
I asked my question on StackOverflow, no answer so I thought might as well ask on the github issues page in hopes I can get an answer.

[2020-04-27 10:59] jvesouza commented on #96153
@isidorn Thanks for the clarification, I always wanted to ask what this parameter was for.
Since I rarely use the say all command to read the entire code, I don't think it will be a big problem for me.

[2020-04-27 11:00] gjsjohnmurray commented on #96212
#41289

[2020-04-27 11:05] chrmarti commented on #95558
@kiw-boop Please file a new issue in English. Thanks.

[2020-04-27 11:06] gjsjohnmurray commented on #63690
See also #27498

[2020-04-27 11:09] chrmarti commented on #95427
@theSeifHub Could you start VS Code with `--log-net-log=netlog.json`, try to open an extension and then post the created netlog.json here?

[2020-04-27 11:11] weinand commented on #90793
After reviewing the original request and the VS UI I suggest the following implementation in VS Code:

The UX is a context menu item "Step Into" with submenus actions for all available targets. The "Step Into" menu item is only available if there is a current stack frame selected in the CALL STACK view (and there is a yellow or green execution highlight in the the editor).
If there are no stepIn t

[2020-04-27 11:12] chrmarti commented on #96032
The `.env` file needs to be in `docker-compose`'s cwd which is the workspace folder (parent folder of the `.devcontainer` folder).

[2020-04-27 11:14] alexdima commented on #95591
Thank you, I can reproduce now with the following steps:
* use `"editor.useTabStops": false`
* have a file with the content:
[code]
* position cursor at the end of the second line (after the whitespace):
![image](https://user-images.githubusercontent.com/5047891/80366127-055b7b80-8889-11ea-8587-6d7571e549c9.png)
* press `Shift` + `Tab`

[2020-04-27 11:16] chrmarti commented on #96213
/causedByExtension

This is caused by the VS Online extension. Please file a new issue for it: https://github.com/MicrosoftDocs/vsonline/issues

[2020-04-27 11:16] GoaLitiuM commented on #95056
@isidorn Can you correct the issue filing please? This is a bug, not a feature request.

[2020-04-27 11:17] #96213 closed

[2020-04-27 11:18] DanTup commented on #93991
@roblourens the most recent person to ask me about it had no idea about VS Code's setting sync, so interpreted this as meaning the setting wasn't being applied from the file into the current VS Code session.

Maybe something like "This setting is not synced to other machines/remotes" and/or a link to https://code.visualstudio.com/docs/editor/settings-sync?

[2020-04-27 11:20] ayqy commented on #96120
Not really bad, but it's a little bit dirty for someone who reads and parses JSON key-values from the original file. And all consumers (such as our source code analysis service, native application...) have to take care of `$schema` from now on.

But anyway I think it's accepted for this case, so you can close this or take it into consideration for other clean approaches in the future. Thanks a lot

[2020-04-27 11:22] #95569 closed

[2020-04-27 11:22] #95550 closed

[2020-04-27 11:22] JohnnyCrazy commented on #52364
I have the feeling this would be a duplicated configuration. If a language has a clear concept of color representations, the LSP should have support for it. If not, a syntax extension is not able to provide one either, since it is opinionated on a project-basis.

Yes, after thinking some more about it, I agree that such a configuration of color representations make sense. 👍

---

Experimental stuf

[2020-04-27 11:28] alefragnani commented on #96154
@sbatten If I understand correctly, @mcandre would like to change how `Code .` (With a dot, which opens the current folder) works today, and make it to _reuse_ the latest active window, by default.

Today, the default behavior is open in a new window. If you want to reuse, you have to add `-r` parameter in the command line.

[2020-04-27 11:29] kanlukasz opened #96246 "The Timeline icon is the same like the Outline icon"
The Timeline icon is the same like the Outline icon
![obraz](https://user-images.githubusercontent.com/30685349/80367109-c7f7ed80-888a-11ea-9d95-0ab2dce5dff5.png)
In my opinion, these icons should be different

For The timeline it should be something like:
![obraz](https://user-images.githubusercontent.com/30685349/80367457-6e43f300-888b-11ea-91e1-76d19a796d7d.png)
or
![obraz](https://user-images.

[2020-04-27 11:29] bpasero commented on #96154
Not really, unless the folder is not yet opened. Needs more info about the steps.

[2020-04-27 11:29] #95591 closed

[2020-04-27 11:32] #96122 closed

[2020-04-27 11:33] sandy081 commented on #93904
Following is shown while sync is being turned on...

<img width="337" alt="image" src="https://user-images.githubusercontent.com/10746682/80367594-ae0ada80-888b-11ea-8928-1395e768a909.png">

[2020-04-27 11:35] MarcoZehe commented on #93896
I am all for implementing this "choose accessible mime type" approach for notebooks when AT is detected. This proves to be another great tool in VS Code, and we should make it's as accessible as possible.

[2020-04-27 11:35] alexr00 commented on #95971
There is not a good work around. I will only add the warning.

[2020-04-27 11:36] alexdima commented on #94144
This special cursor came in via https://github.com/microsoft/vscode/pull/4654 for https://github.com/microsoft/vscode/issues/754 . It looks like macOS improved (possibly when they added support for dark OS themes?) and now they render a good text cursor by default.

[2020-04-27 11:36] #94144 closed

[2020-04-27 11:39] chrmarti commented on #83609
Removing the `href` makes it render like regular text and it cannot be tabbed to anymore. Closing without change.

[2020-04-27 11:39] #83609 closed

[2020-04-27 11:40] chrmarti commented on #93055
No feedback so far. Closing as fixed. :)

[2020-04-27 11:40] #93055 closed

[2020-04-27 11:41] #93904 closed

[2020-04-27 11:42] chrmarti opened #96247 "Show notification when certificate verification fails"
Its bit difficult to solve this, since node doesn't care about NSS db we will write our own native module which would essentially be a wrapper around https://source.chromium.org/chromium/chromium/src/+/master:net/cert/nss_cert_database.h to allow importing client certificates to the shared NSS db.

I think we can better surface the error with a notification `net::ERR_CERT_AUTHORITY_INVALID` using

[2020-04-27 11:46] chrmarti commented on #93595
@cggac Unifying the two would make sense. It seems unlikely that Chromium would switch to using `/etc/ssl/certs`, so we're probably stuck with NSS db.

@deepak1556 Extracted #96247 for the suggested improvement.

Closing this issue as the discussed problems are fixed.

[2020-04-27 11:46] #93595 closed

[2020-04-27 11:48] chrmarti commented on #94862
@keelung-yang Could you check if this is fixed in 1.45 insiders also with the environment variables set?

[2020-04-27 11:48] #94862 closed

[2020-04-27 11:48] isidorn commented on #95056
Yes. Just did that. Thanks

[2020-04-27 11:49] chrmarti commented on #95450
Works for me. Please reopen if still an issue.

[2020-04-27 11:49] #95450 closed

[2020-04-27 11:54] alexr00 commented on #96245
I'm not sure I understand

Can you share a screen recording?

[2020-04-27 11:56] bpasero commented on #96244
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2020-04-27 11:56] isidorn commented on #90793
@weinand this overall makes sense. Some comments / feedback:
* If `supportsStepInTargetsRequest` is false we show nothing in the context menu
* Once context menu is contstructed we can not do anything lazily. We also can not prevent the showing of context menu while the `stepInTargets` are being fetched, so imho there is only one way to make this work:
  * "Step Into Specific" action is always the

[2020-04-27 11:57] alexr00 commented on #96237
Does this happen if you disable all extensions?

[2020-04-27 12:01] Vthechamp22 commented on #96180
my settings.json is empty:
![image](https://user-images.githubusercontent.com/61617820/80370062-ef5fb200-88ac-11ea-9955-332403960c8b.png)

[2020-04-27 12:02] Vthechamp22 opened #96248 "Running Python Files"
Issue Type: <b>Bug</b>

In VS Code, there are two ways to run python programs. One by pressing `Shift + enter` and one by clicking the run button at the top right of the corner.

So say this is the code:
![image](https://user-images.githubusercontent.com/61617820/80303893-9e7a8b80-87d0-11ea-95fc-bb12a7ea3fed.png)

 The problem is that when I use `shift+enter` at the `print()`, the terminal enters

[2020-04-27 12:04] #95703 closed

[2020-04-27 12:07] sandy081 commented on #94308
Shall be fixed by https://github.com/microsoft/vscode/issues/94766

[2020-04-27 12:07] #94308 closed

[2020-04-27 12:07] Woutercode opened #96249 "pre-config template Program.cs code file."
Issue Type: <b>Feature Request</b>

If available where can I find it? Otherwise a productive feature:

The ability to edit or change the template config file for Program.cs
This is when the User creates a new project with dotnet new console.
The C# .NET Core project created, adds the Program.cs code file.
Most of the time creating a new console project the Program.cs has the necessary code.
It wou

[2020-04-27 12:08] isidorn commented on #93973
Did somebody get a change to try this out with latest vs code insiders?

[2020-04-27 12:11] jrieken commented on #95234
@renkun-ken, @andycraig Thanks for the update here. What you propose makes much sense - IMO the markdown outline should always work like that. Still, this item is specifically about notebook editors that don't show all text but markdown cells, code cells, and output (as shown below) and we wonder if a slightly different navigation is wanted

<img width="977" alt="image" src="https://user-images.gi

[2020-04-27 12:13] jvesouza commented on #96153
@isidorn In the defaultSettings.json I found the following:
"editor.accessibilityPageSize": 10,

This is OK? Shouldn't it be 100?

Is there any performance gain or loss if that number is lower?
Thanks.

[2020-04-27 12:15] joaomoreno opened #96250 "Terminal: Improve environment variable collection popup"
This can get pretty verbose quickly:

![image](https://user-images.githubusercontent.com/22350/80371019-7dc63a80-8891-11ea-8375-9b47ef5001cf.png)

Also, should we indicate which extension is doing which changes?

[2020-04-27 12:15] theSeifHub commented on #95427
@chrmarti
[netlog.zip](https://github.com/microsoft/vscode/files/4539484/netlog.zip)

[2020-04-27 12:17] theSeifHub commented on #95427
@Zorono
 طب أقولهم ايه؟ غيرولي سرفرات DNS ؟

[2020-04-27 12:18] #95095 closed

[2020-04-27 12:21] Tyriar commented on #93991
Should we only show it when sync is enabled? Alternatively it could have a link to the turn on sync command?

[2020-04-27 12:27] kousenlsn opened #96251 "Shortcuts not working properly on mac"
Issue Type: <b>Bug</b>

When I have an open file with some js/HTML code and try to comment on the line/selection with cmd + k, cmd + c, it instead searches for text on the file / navigate to next search result on file.

When trying to do a search all files (cmd + shift + f), it doesn't open the sidebar global search, only if I press cmd + f, then cmd + shift + f.

VS Code version: Code 1.44.2 (ff9

[2020-04-27 12:28] davidanthoff commented on #90793
Looks great!

Two thoughts:

While the context menu thing is nice, it also is pretty difficult to access, I think: right click, then you need to move the mouse to the right item in the context menu etc. Could (as an additional option) the button for the step-in option in the debug toolbar be modified to look like a typical Word button:

![image](https://user-images.githubusercontent.com/1036561/80

[2020-04-27 12:29] jrieken commented on #95234
I have now pushed a change that makes quick outline work for notebooks. This is different from classic document symbols and should be compared with a table of contents.

<img width="726" alt="image" src="https://user-images.githubusercontent.com/1794099/80371679-9125d580-8892-11ea-972c-f07ae6d8f7e2.png">

@bpasero fyi this required some changes in `gotoSymbolQuickAccess.ts` but things did fit nice

[2020-04-27 12:30] dbaeumer commented on #96240
This is actually as designed. That the API commands still returned `Locations` and not `LocationLinks` even though the provider returned them was considered a bug. Otherwise a extension calling for example into the TypeScript language service via that API could never get a correct location since the returned locations range was pointing `LocationLink#range` and not to `LocationLink#selectionRange`

[2020-04-27 12:31] #96240 closed

[2020-04-27 12:36] Tyriar opened #96252 "Window is 1 pixel too large when maximized on Windows"
For my 2 monitor setup (vscode on left), when launching a maximized window there is a white bar on the right:

![image](https://user-images.githubusercontent.com/2193314/80372535-89414380-8848-11ea-9938-8e214cdd841b.png)

After restoring and then maximizing the window the bar turns blacks:

![image](https://user-images.githubusercontent.com/2193314/80372709-cb6a8500-8848-11ea-99e0-f3916edd1bc6.png

[2020-04-27 12:36] bpasero commented on #95234
@jrieken saw the change, I wonder if the `ITableOfContentsProvider` should live somewhere more generic where it can also be used by breadcrumbs and outline view because imho they require the exact same information.

And then, once we have such a thing, I wonder if document symbols should just be one "TOC" provider variant. As such, the quick outline would only operate on your new registry and not

[2020-04-27 12:38] #92507 closed

[2020-04-27 12:38] #92239 closed

[2020-04-27 12:44] dashakdc3 opened #96253 "Python is not installed and The terminal shell path "cmd.exe" does not exist."
Python is not installed and The terminal shell path "cmd.exe" does not exist. (+select python interpreter, as an addition to the first mistake)
This 2 errors appeared in my vscode...Could somebody help me, please. I am desperate…
First things first: I have already worked in python, using pycharm and in vscode. Then some mistake appeared. I red an advice, and, probably, made some incorrect thing in

[2020-04-27 12:45] tirthmakawana opened #96254 "code runner not found"
Issue Type: <b>Bug</b>

please fix my problem. whenever i press code runner button it shows "command code-runner not found

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-6006U CPU @ 2.00GHz (4 x 1992)|
|GPU Status|2d_

[2020-04-27 12:48] jrieken commented on #95924
Maybe that or a problem with the grammar. On line 6 we detect being inside a string and quick suggestions is disabled inside strings (by default).

<img width="555" alt="Screenshot 2020-04-27 at 14 44 16" src="https://user-images.githubusercontent.com/1794099/80373595-93d5fa00-8895-11ea-863e-6b303c5a0921.png">

[2020-04-27 12:49] bpasero commented on #95615
I pushed a change to bring back `150ms` delay. I no longer see this appearing, but leaving open for the fact that we activate extensions on focus out.

[2020-04-27 12:50] #96251 closed

[2020-04-27 12:53] DanTup commented on #96240
I presumed this was done for backwards compatibility - otherwise any extension that was written using `Locations` could fail if a registered provider started returning `DefinitionLink`s.

Out of interest - are breaking changes recorded anywhere that extension developers can review prior to each release? This change only broke my tests, but it's not inconceivable that extensions could use this comm

[2020-04-27 12:54] Undistraction opened #96255 "Intellisense no long works and fans going constantly"
Issue Type: <b>Bug</b>

After upgrading to Version: 1.44.2, Intellisense no longer works at all in my VSCode project, and as soon as I open a JavaScript file, the fans on my laptop run at full and don't stop until I close VSCode.

If I hover over a symbol I see [Loading…] but it never loads anything.

I've disabled all extensions and still see the same behaviour.

If I open the Process Explorer I

[2020-04-27 12:55] jrieken commented on #95234
Yeah - this should probably be some workbench service to which provider register and with with other work. I wanted to keep the change local because we don't actually know if the feature itself is in its final state or not.

I don't see much value in that. TOC is concept of the workbench only (nothing like that standalone editor land) and it would throw us back into the two implementations world

[2020-04-27 12:58] jrieken commented on #95234
For some reason this doesn't even open the notebook but the underlying file itself. Not sure why that is. Maybe missing to intercept the open request?

[2020-04-27 13:02] jrieken opened #96256 "Using `createMatches` with offset is bogous"
Stumbled over the new `offset` parameter of `createMatches`: https://github.com/microsoft/vscode/blob/4711909afcdd79cd1cc9b96063212b81ae80d8c7/src/vs/base/common/filters.ts#L395

This tells me that something hasn't been understood because [`FuzzyScore`](https://github.com/microsoft/vscode/blob/4711909afcdd79cd1cc9b96063212b81ae80d8c7/src/vs/base/common/filters.ts#L524) itself already has the notio

[2020-04-27 13:03] Tyriar commented on #94556
To verify, ensure sendSequence commands in default keybindings file (via command) have default args show up.

[2020-04-27 13:10] Tyriar commented on #96250
Might be better:

Extensions have made changes to this terminal's environment:

[code]

Using a code block and not wrap it just like in the editor?

[2020-04-27 13:14] alexr00 commented on #95482
To verify:
Open a multi-root workspace.
Save the workspace if you haven't already.
Add a launch configuration to the workspace file that uses a `${relativeFile:folder}` variable.
Verify that the variable is resolved correctly.
Repeat for `${relativeFileDirname:folder}`

[2020-04-27 13:15] Tyriar commented on #95912
Why wouldn't we add it to `commands` though? I'm guessing that's why the description is missing for only them.

![image](https://user-images.githubusercontent.com/2193314/80376244-66199280-884e-11ea-801d-da05d377284c.png)

[2020-04-27 13:15] #95887 closed

[2020-04-27 13:15] #94556 closed

[2020-04-27 13:16] isidorn commented on #95887
Ok I this required some hard core digging to Moria to figure out that I need to have a `MenuEntryActionViewItem` for my contributed icon to be rendered

So this should now work nicely. @connor4312 please try it out. Thanks
![Screenshot 2020-04-27 at 15 10 49](https://user-images.githubusercontent.com/1926584/80376408-0e087d80-889a-11ea-830d-df85cf29ed2b.png)

[2020-04-27 13:20] sandy081 commented on #96064
Fixed removing the focus command. Also fixed the model and view to respect active view descriptors.

[2020-04-27 13:20] Tyriar commented on #96032
Just to clarify the `VSCODE_`/`ELECTRON_`/etc. removal isn't even an issue here, you're just commenting on it in passing. We've been doing this for years and the only complaints we've had are that we're not removing _enough_ variables. This seems too obscure to take up more space [here](https://code.visualstudio.com/docs/editor/integrated-terminal#_common-questions).

[2020-04-27 13:23] dhmodh opened #96257 "Virtual Studio Code Issue"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-27 13:23] alexdima commented on #95912
@jrieken of course it is allowed :).

But we are nice for built-in extensions that contribute keybindings, such that commands can be known statically (without activating all extensions) and such that we can define a schema that knows about those commands.

In other words, the alternative is to remove the enum schema for `command` from `keybindings.json` and leave it as a `string`, which is IMHO no

[2020-04-27 13:23] alexr00 opened #96258 "Test setting to not save dirty editors when running tasks"
Refs: https://github.com/microsoft/vscode/issues/94285

- [x] anyOS @jrieken
- [x] anyOS @stevencl

Complexity: 2

---

Open a folder where you have tasks.
Turn off autosave
Make some changes to a file in the folder then run a task.
Verify that the file is saved before the task is run.

Next, modify the setting `task.saveBeforeRun`. Try making files dirty then running tasks. Verify that the option

[2020-04-27 13:24] isidorn commented on #96153
By default it is 10, we set it to 100 when we detect a screen reader since we thought that would make a nicer screen reader experience due to the "say all" command.
However due to the issue you are hitting we might have been wrong.

There is potentialy a perf gain for lower numbers, thus we put 10 for all non screen reader users.
Imho the perf change will not be noticable.

[2020-04-27 13:24] Tyriar commented on #96185
If you're talking about ctrl+shift+c to launch WT (via the `"terminal.external.windowsExec": "wt"` setting), then we just say to WT to open a terminal on a particular directory. If you don't want Windows PowerShell then this sounds like a but in WT -> https://github.com/microsoft/terminal

Code to launch for reference:  https://github.com/microsoft/vscode/blob/ece3baa11ed5ded6a39c132e44ed2a4ee787c

[2020-04-27 13:26] isidorn commented on #90793
@davidanthoff we can also add the command to the quick pick so that users can always trigger it via a keybdining. I do not like the idea of adding it to the debug toolbar since I think it will add unnecessry complexity, however if you feel that is the right way you can always contribute to it from your extensions since the debug toolbar is open to contributions.

[2020-04-27 13:26] weinand commented on #90793
@isidorn, @davidanthoff thanks for the feedback.

@isidorn:
- supportsStepInTargetsRequest: yes, as usual: if capability is false or omitted, we don't support the feature and it does not show up in the UI.
- "Once context menu is constructed we can not do anything lazily." When/how often is the context menu constructed? If the context menu is constructed at least once after a new "stopped" event,

[2020-04-27 13:26] Tyriar commented on #95747
Just needs some investigation on our side, I haven't tried to repro it yet is all. These issues with remote are a little tricky to track down so I'd say it's best for the core team to tackle.

[2020-04-27 13:28] Tyriar commented on #95960
These issues are usually related to anti-virus but you might also have legacy console mode set in cmd.exe (conhost):

- https://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-the-errors-connectnamedpipe-failed-windows-error-232-or-terminal-exited-with-code-x-on-windows
- https://code.visualstudio.com/docs/editor/integrated-terminal#_how-do-i-fix-when-a-terminal-exits-with-erro

[2020-04-27 13:28] #95960 closed

[2020-04-27 13:30] jjwhitney commented on #95563
I'm seeing this for the first time in 1.40, too, and am running Ubuntu 18.04 under KVM. After a while VS Code will recover. (Perhaps by "canceling" the paste operation?) If I go to another program and copy something to the clipboard while VS Code is frozen, it immediately recovers.

[2020-04-27 13:30] alexr00 commented on #96254
This is caused by the code-runner extension.

[2020-04-27 13:30] #96254 closed

[2020-04-27 13:31] #96253 closed

[2020-04-27 13:31] alexr00 commented on #96249
This is caused by the C# extension

[2020-04-27 13:32] #96248 closed

[2020-04-27 13:33] Tyriar commented on #96091
For `sendText` you can send whatever you want, for args quoting is done for you if you pass in a `string[]`, some cases might not work there which is why we let you use `string` here if you want to pass in a pre-quoted args string:

https://github.com/microsoft/vscode/blob/84ac04e8155d473868f5301eb979ed0dd527e116/src/vs/vscode.d.ts#L8044-L8048

The built-in capability is only provided for args as

[2020-04-27 13:33] #96091 closed

[2020-04-27 13:33] jrieken commented on #88230
fyi - we haven't yet used `Trigger` by itself but as `TriggerKind`, e.g SignatureHelpTriggerKind and CompletionTriggerKind

[2020-04-27 13:33] Vthechamp22 commented on #96248
Please just tell me how do I fix it?

[2020-04-27 13:33] Vthechamp22 commented on #96248
Pleease?

[2020-04-27 13:34] doudou commented on #95971
More than fair ... thanks for the help.

In any case, can I register the same provider object for different types ? Or do I have to create two ?

[2020-04-27 13:34] gjsjohnmurray commented on #9827
@jrieken until now you have (understandably) resisted requests for extensions to be able to contribute menu items that get computed dynamically (i.e. at the point where the context menu is about to be displayed).

Would you consider permitting this for **sub**menus, when (as many of us hope) it becomes possible for an extension to contribute submenus?

For instance, my extension might add an "Extr

[2020-04-27 13:35] sandy081 commented on #94175
Cannot trace back the root cause from the above trace.

@Tyriar Do you remember any steps to repro and how it happened?

[2020-04-27 13:35] weinand commented on #90793
One additional observation: it does not make a lot of sense if the `stepInTargets` request return only one target...

[2020-04-27 13:35] Vthechamp22 commented on #96248
Please...
Can you tell me how to fix it?

[2020-04-27 13:37] Vthechamp22 commented on #96248
Heelo?

[2020-04-27 13:37] Vthechamp22 commented on #96248
😭😭😭

[2020-04-27 13:39] Tyriar commented on #94175
Think I was just syncing things after launch? 🤷

[2020-04-27 13:39] WurmD opened #96259 "black Python auto formatter doesn't work with 158+ lines document"
Issue Type: <b>Bug</b>

**How to reproduce :**
- _Python > Formatting: Provider:_ select `black`
- Open python source file with over 157 lines,
- click ALT+SHIFT+F

**Current behavior:**
- A quick "formatting with black" appears in the status bar
- No changes to the code

Works as expected with smaller files

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:

[2020-04-27 13:39] ndarilek opened #96260 "Action tooltip and ARIA label do not update on keybinding change"
Say you have the following in keybindings.json:

[code]

Tabbing through the various buttons (I.e. Explore, Run, etc.) still speaks the default ctrl+shift+g keybinding for this action, despite the new one working fine and the old one no longer being accurate.

[2020-04-27 13:40] Tyriar commented on #96158
https://github.com/microsoft/vscode/blob/84ac04e8155d473868f5301eb979ed0dd527e116/src/vs/workbench/contrib/terminal/node/terminalProcess.ts#L139-L142

[2020-04-27 13:42] alexr00 commented on #95971
Yes, you can have the same provider object for different types.

[2020-04-27 13:42] isidorn commented on #90793
@weinand context menu is constructed once the user clicks. However we have to register the actions and entries staticily. Since the entries are open ended due to stepInTargets this does not really work. The only way in our UX to show open ended things is quick pick afaik.

[2020-04-27 13:43] Tyriar commented on #96168
That shows up if you have a screen reader enabled. Disable it to get PSReadLine working again. This is a PS problem not VS Code /cc @TylerLeonhardt

[2020-04-27 13:43] #96168 closed

[2020-04-27 13:43] #95971 closed

[2020-04-27 13:45] gjsjohnmurray commented on #96246
Already resolved in 1.45.0-insider. Below is how Extensions, Timeline, Outline appear in Quiet Light theme:

![image](https://user-images.githubusercontent.com/6726799/80379122-90db0980-8895-11ea-98d4-6ba83d3dc925.png)

[2020-04-27 13:45] tirthmakawana commented on #96254
How do I rectify it ?

[2020-04-27 13:45] robertrossmann commented on #48153
This is now partially implemented by using a new colour contribution, [`editorOverviewRuler.background`](#93732). Using this, you can set the background colour of the scrollbar, but the colour is only used when the minimap is visible and placed on the right side of the editor. For all other situations, the scrollbar is still transparent.

[2020-04-27 13:46] isidorn commented on #96260
This is a general issue that actions are not listening on [`onDidUpdateKeybindings` event](https://github.com/microsoft/vscode/blob/616882b83f2010b551fff2da0e63c55b2464fcbf/src/vs/platform/keybinding/common/keybinding.ts#L55) and thus we do not update the tooltip.

First assigning to @sandy081 and then we might have to assign this to every client of `lookupKeybinding` such that they all listen to

[2020-04-27 13:47] saeidehmsm commented on #46505
I really need hide/show code comments in vscode

[2020-04-27 13:47] #96094 closed

[2020-04-27 13:47] joaomoreno commented on #96094
Verification: code review https://github.com/microsoft/vscode/pull/96096

[2020-04-27 13:49] Tyriar commented on #96058
You're right it doesn't seem to be working for vim only. @jerch maybe a bug with the mouse protocol changes? 🤔

When entering vim:

[code]

Some clicks that don't seem to do anything:

[code]

[code]

tmux which works fine:

[code]

[code]

[2020-04-27 13:50] gjsjohnmurray commented on #90793
Interesting use-case for dynamically computed context menus/submenus. Maybe add your support to my proposal at https://github.com/microsoft/vscode/issues/9827#issuecomment-619989638?

[2020-04-27 13:50] genx128 opened #96261 "Print your code feature?"
Issue Type: <b>Feature Request</b>

I have been noticing that there is no native print option. Why? I may want to print my code and look at it on paper to help find bugs or plan code away from the computer. Can we please have a native print feature added?

VS Code version: Code - Insiders 1.45.0-insider (0778354f3a6a2c21b7f738a5e6b02e2f1c765e73, 2020-04-27T05:39:56.514Z)
OS version: Darwin x64 19.

[2020-04-27 13:51] outerlook commented on #96205
on other editor but to get the idea
# An usual file with no focusing
![no-focus](https://user-images.githubusercontent.com/12937160/80379759-eb17a280-8874-11ea-82ee-405c13a68b69.gif)

# The same file, but focusing on runtime code
![focus-runtime](https://user-images.githubusercontent.com/12937160/80379781-f36fdd80-8874-11ea-820c-1c61c2f458f9.gif)

# The same file, focusing on types
![focus-type](h

[2020-04-27 13:52] isidorn commented on #46886
Since I see a lot of thumbs up and no complaints I am adding a verified label.
Users please let me know if this is not correct and this feature does not work for you.

[2020-04-27 13:52] probablykasper commented on #52364
@JohnnyCrazy

This means that for any language where color decorators aren't shown, detecting the color format from the LSP wouldn't work? I'm not sure how many syntax/language extensions show color decorators, but at least my CSS preprocessor of choice (Sass) doesn't.

How would an extension developer implement support for this?

Would it be that significant? I would think you only need to read a

[2020-04-27 13:53] weinand commented on #90793
The "Refactor" menu seems to do exactly what we need:

![2020-04-27_15-50-16 (1)](https://user-images.githubusercontent.com/1898161/80379916-0a2b2a00-889f-11ea-8507-28f979508e1f.gif)

It is similar to a QuickPick but it is more closely located where it is used.

[2020-04-27 13:54] cat-turner opened #96262 "GOPATH broken on update. Config should allow us to specific this info"
Version: 1.45.0-insider
Commit: 0778354f3a6a2c21b7f738a5e6b02e2f1c765e73
Date: 2020-04-27T05:39:56.514Z (8 hrs ago)
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0

**Extension Go version: 0.14.1**

Steps to Reproduce:

1. Have a project that is a mongo repo, so gomod is not in base directory.
2. Update Go extension
See this
![Screen Shot 2020-

[2020-04-27 13:56] eamodio commented on #96056
@sandy081 why would it be different in stable vs insiders, and why would changing the path to the icon to be `./images/icon.png` cause it to show up?

[2020-04-27 13:57] isidorn opened #96263 "Test: F6 and shift + F6 to navigate across workbench"
Refs: https://github.com/microsoft/vscode/issues/94921

- [ ] anyOS @RMacfarlane
- [x] anyOS @eamodio

Complexity: 1

---

We have introduced "View: Focus Next Part" `F6` and "View: Focus Previous Part" `shift + F6` as commands to navigate across workbench.
The focus should go Editor > Status Bar > Side Bar > Panel. If one of them is not visible it should skip it. Verify
* Pressing F6 and Shift +

[2020-04-27 13:57] joaomoreno commented on #96079
`.gitignore_global` isn't a standard file name, it's just a suggestion given by GitHub. A user can always call it simply `.gitignore`. But sure... we'll take it...

[2020-04-27 13:58] #96079 closed

[2020-04-27 13:59] isidorn commented on #90793
@weinand yes this looks like a good fit, good idea.
@gjsjohnmurray thanks for the pointer, will check it out.

[2020-04-27 14:00] jrieken commented on #95912
Sure, sure - but won't this problem reoccur with every 3rd party extension that is like mine?

[2020-04-27 14:01] Tyriar commented on #95459
Great, I pinged the other issue as well to tell them about the change https://github.com/microsoft/vscode/issues/71942#issuecomment-619374048, I'll merge it in when master is opened for the May release.

[2020-04-27 14:02] alexr00 commented on #95924
Yes, the grammar is calling that a string. However, @rcjsuen why are you trying to escape those single quotes? I'm not sure that's valid outside of a string in a dockerfile.

[2020-04-27 14:02] joaomoreno commented on #96064
That view should not be there at all!

[2020-04-27 14:03] mbomb007 commented on #96067
Files still actually contain `\r`, though, regardless of the normalization. So the best solution would be to allow find/replace of them.

[2020-04-27 14:04] cat-turner commented on #96262
I don't have this issue with VSCode Regular (non-insider version).

[2020-04-27 14:06] bharath144 opened #96264 "Option to disable creation of a branch when a remote tracking branch is selected"
When using vscode with Git repositories, in the branch switching pane if a remote tracking branch is selected, vscode automatically creates a local branch using selected remote tracking branch.

It would be useful to have a setting to turn this off and checkout the remote tracking branch in a detached state. I use branches in detached state to browse the code, run quick builds, copy code. With the

[2020-04-27 14:07] Tyriar commented on #95912
FYI my motivation in this area (https://github.com/microsoft/vscode/issues/94556, https://github.com/microsoft/vscode/issues/95909, https://github.com/microsoft/vscode/issues/94965) is because I plan on directing people to the default keybindings file in the release notes and docs to help them understand how the `workbench.action.terminal.sendSequence` command works. Having warnings all over the f

[2020-04-27 14:08] joaomoreno commented on #96178
#13680

[2020-04-27 14:08] #96178 closed

[2020-04-27 14:09] joaomoreno commented on #96076
I can't reproduce this. Does it appear after you restart?

[2020-04-27 14:09] isidorn opened #96265 "Test: status bar accessibility"
Refs: https://github.com/microsoft/vscode/issues/94677

- [x] win @dbaeumer
- [x] linux @bpasero

Complexity: 2

---

If you are on Windows setup NVDA screen reader.
If you are on Linux setup Orca latest from source (tested that it work on Ubuntu 18, ArchLinux, Fedora 31. Ubuntu 19 showed some issue) [docs](https://code.visualstudio.com/docs/editor/accessibility#_linux). Some [troubleshooting](htt

[2020-04-27 14:09] joaomoreno commented on #96104
This is strange. What `crlf` settings do you have set in git?

[2020-04-27 14:10] weinand commented on #88230
@jrieken thanks, renamed `DebugConfigurationProviderTrigger` to `DebugConfigurationProviderTriggerKind`

@connor4312 @isidorn FYI

[2020-04-27 14:10] joaomoreno commented on #95994
What if there are 3 views? Would you expect both adjacent views to get the same size, or all 3 views to have the same size?

[2020-04-27 14:11] #96262 closed

[2020-04-27 14:12] alexr00 commented on #96261
Duplicate of https://github.com/microsoft/vscode/issues/5953

[2020-04-27 14:12] #96261 closed

[2020-04-27 14:12] joaomoreno commented on #95994
Why not a maximize action icon to the right of each header? cc @misolori

@sbatten I would do this at the view pane container layer. The splitview exposes the `onDidSashReset` such that clients can do what they want.

[2020-04-27 14:12] #96259 closed

[2020-04-27 14:13] jsgoupil commented on #92507
Thanks for fixing this! Greatly appreciated.
Do you guys write some unit tests for for bugs like this? This one crept up twice in less than 1 year.

[2020-04-27 14:13] Tyriar commented on #95985
All those file watcher errors don't look good 😕, but they're likely unrelated to the terminal problem.

I'm expecting logs to look like this:

[code]

[2020-04-27 14:13] joaomoreno commented on #96177
https://github.com/microsoft/vscode/issues/85344

[2020-04-27 14:13] #96177 closed

[2020-04-27 14:14] joaomoreno commented on #96264
Setting makes sense!

[2020-04-27 14:14] eamodio commented on #95994
I'd just want it to it to equally size the 2 adjacent views (splitting the space they both are currently using). But I know that for editors we resize them all (which I honestly don't like).

[2020-04-27 14:14] doudou commented on #95971
A suggestion: amending [this documentation](https://code.visualstudio.com/api/references/vscode-api#TaskDefinition) to explicitely link the 'type' from TaskDefinition with the type from `registerTaskProvider` (and vice-versa, probably)

[2020-04-27 14:15] tirthmakawana commented on #96254
Ok done... I uninstalled the VScode and then reinstalled it😅😅

[2020-04-27 14:15] joaomoreno commented on #95810
@benjymous Do you see the exact same error about `.git/refs/remotes/origin/master`?

[2020-04-27 14:15] michaelblyons commented on #1751
@Logerfo I know this thread is very long, but I have [written about the differences before](https://github.com/microsoft/vscode/issues/1751#issuecomment-439507442) which you can find if you look for them.

Also, to everyone else: Please stop adding "+1"-like comments. Upvote the issue and relevant comments you agree with, but only post a comment yourself if there's something new to add. That will

[2020-04-27 14:15] joaomoreno commented on #95810
@inferiorhumanorgans Can you repro on a non-APF repo?

[2020-04-27 14:16] joaomoreno commented on #96231
Can you reproduce if you run with `code --disable-extensions`?

[2020-04-27 14:17] rcjsuen commented on #95924
@alexr00 If you are working with files that have an apostrophe in them, then you will need to escape them. Naturally, this depends on the shell being used for the Docker image.
[code]
[code]

[2020-04-27 14:18] Tyriar commented on #95078
This will be covered in the links test plan item.

[2020-04-27 14:18] #95078 closed

[2020-04-27 14:19] joaomoreno commented on #96003
Odd, I can't repro now. I also don't exactly remember, but I'm quite sure no ask was made.

Let's close it.

[2020-04-27 14:19] #96003 closed

[2020-04-27 14:19] Tyriar opened #96266 "Polish terminal link provider-based links and remove link matcher support"
Follow up from https://github.com/microsoft/vscode/issues/95081

- Bugs
  - [x] Terminal link detection issues https://github.com/microsoft/vscode/issues/21125, this can probably be closed off and any lingering issues can be handled individually (or use the [link provider API](https://github.com/microsoft/vscode/issues/91290) and live in an extension)
  - [ ] Terminal "word" link provider does not

[2020-04-27 14:19] alexr00 commented on #95924
Makes sense! Then yes, this appears to be an issue with the dockerfile grammar.

[2020-04-27 14:19] Tyriar commented on #95081
Closing off for April, May's work is tracked in https://github.com/microsoft/vscode/issues/96266

[2020-04-27 14:19] #95081 closed

[2020-04-27 14:20] WurmD commented on #96259
@alexr00, I do not have the "black" extension installed in the Extensions tab, as black was installed at and by VSCode prompting.

Isn't this under the purview of VSCode developers?

[2020-04-27 14:20] joaomoreno commented on #95688
In that case, running `git status` would return the changes? Or was the editor simply out of date?

[2020-04-27 14:21] mxmlnkn commented on #95591
Cool, that was fast. I hope it works. Thank you.

[2020-04-27 14:21] pierrecoach commented on #96231
Hi,

Sorry I removed everything and recloned from master, losing intermediate changes, so I cannot reproduce.

I think

  *   the incident can be closed as not reproducible,
  *   there should be a way to explain stuck users like I was that there is a problem (as explained in my text), but this is probably a feature request…

greetings

Pierre

De : João Moreno<mailto:notifications@github.com>
Env

[2020-04-27 14:23] joaomoreno commented on #95744
Thanks! Weird behavior. We need someone to debug on macOS.

[2020-04-27 14:23] Aebian commented on #95459
Thanks @CodeMouse92 for your analysis!

[2020-04-27 14:23] #96231 closed

[2020-04-27 14:24] bpasero commented on #95234
@jrieken that sounds like a bug to me, we open the editor here, maybe you could check why it would not open your notebook:

https://github.com/microsoft/vscode/blob/2971e3a4e86f57285a572a75aa8ef15e5d28950b/src/vs/workbench/contrib/search/browser/anythingQuickAccess.ts#L770

[2020-04-27 14:24] joaomoreno commented on #95769
In the command palette: <kbd>F1</kbd>

[2020-04-27 14:25] aeschli opened #96267 "Make editor.tokenColorCustomizationsExperimental offical"
Rename `editor.tokenColorCustomizationsExperimental` to `'editor.semanticTokenColorCustomizations' and also add the semantic token enables/disabled feature in it

[2020-04-27 14:25] joaomoreno commented on #95773
Can you try out system setup? https://code.visualstudio.com/docs/?dv=win64

[2020-04-27 14:27] rcjsuen commented on #95924
@alexdima @jrieken Can I use semantic tokens to somehow workaround such grammar limitations?

Even if I highlight `a` as a keyword, it still think it's inside a string when the text caret is after the `a`.

<img width="1599" alt="image" src="https://user-images.githubusercontent.com/15629116/80383426-8f97e580-8871-11ea-9268-2e4cec963764.png">

<img width="638" alt="image" src="https://user-images.

[2020-04-27 14:27] joaomoreno commented on #95964
Yeah, would actually LOVE ❤️  a compound stop. Could this be a feature of compounds, @isidorn & @weinand? Meaning, if something like `stopAll: true` was set in the compound, all targets would share the same `Stop` action, and I would see no `Disconnect` actions.

[2020-04-27 14:30] Tyriar commented on #90528
@alexr00 I've disabled these tests on web, I believe this flakiness is the same as in the terminal where some terminals just don't launch https://github.com/microsoft/vscode/issues/96057

[2020-04-27 14:31] Tyriar commented on #91003
Assuming this happened in remote/web where the tests are flaky.

/duplicate https://github.com/microsoft/vscode/issues/96057

[2020-04-27 14:31] #91003 closed

[2020-04-27 14:33] Tyriar commented on #46696
To accomadate larger env var names and values the plan it to change the hover format to:

https://github.com/microsoft/vscode/issues/96250

[2020-04-27 14:33] doudou commented on #95971
Tasks end up being duplicate (I don't see a parameter in resolveTask that would allow to discriminate which tasks it should return, and it will become rather ugly ... I've split into two providers).

![image](https://user-images.githubusercontent.com/292/80384135-e229cf80-887a-11ea-9a86-836dd6f0b701.png)

[2020-04-27 14:34] #95940 closed

[2020-04-27 14:35] jrieken commented on #90208
To *verify* use the [vscode-dts](https://www.npmjs.com/package/vscode-dts)-utility to fetch the latest version of `vscode.d.ts` and make sure you can use these APIs without enabling proposed API for your extension

[2020-04-27 14:35] leemke opened #96268 "vscode in chrome os assumes user's home is workspace (bad assumption)"
Issue Type: <b>Performance Issue</b>

Just install Vscode in chrome os, and used the chrome os/linux short cut to start
vscode.  By default this method assume that "linux files" (user $HOME) is the workspace.

Without reading how to start vscode for linux documentation, it becomes difficult to
create a new workspaces within workspaces. My guess is vscode does not like workspaces within workspaces.

[2020-04-27 14:36] ErisDS commented on #62783
Is there any way to show how many todos there are for a codepath inside the tree?

I have lots of large codebases and monorepos, so it would be great if we could see which packages had the most TODOs.

[2020-04-27 14:36] #96256 closed

[2020-04-27 14:37] doudou commented on #95814
Not entirely it seems.

I've made sure that the type in `registerTaskProvider` matches the one in `TaskDefinition` (https://github.com/rock-core/vscode-rock/pull/72), which indeed fixed #95971

However, I still have some of the same behaviors:
- in `Run Build Task`: not sorted by recent.
- in `Run Task/Show All Tasks`: no "Go Back" button

[2020-04-27 14:37] Tyriar commented on #95227
Oh I'm the author 😆

@TylerLeonhardt can you verify this when you get a chance?

[2020-04-27 14:37] bpasero commented on #96256
**Verification:** use quick outline and search. The highlights should be proper and results too.

[2020-04-27 14:37] JohnnyCrazy commented on #52364
It will be able to detect the color as long as you select it beforehand. But I will have to do some experiments regarding performance first. Maybe we can also run the color detection regex on the whole line, which would enable color detection without any selections to be done beforehand! :)

AFAIK if your LSP supports [`Document Color Request`](https://microsoft.github.io/language-server-protocol/

[2020-04-27 14:38] Tyriar commented on #95330
Unconfirmed.

I'm not sure what's happening here. If you want to help move this issue along you can enable escape sequence logging to show what the process is sending over to the terminal: https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-escape-sequence-logging

[2020-04-27 14:39] joaomoreno commented on #95948
This reproduces on themes like Ayu in which the twisties are hidden and only the folders show.

[2020-04-27 14:39] Tyriar commented on #95776
Please report to [microsoft/terminal](https://github.com/microsoft/terminal) with repro steps then 🙂

[2020-04-27 14:39] #95776 closed

[2020-04-27 14:39] Gruntfuggly commented on #62783
Do you mean subtotals for each tree node? If you enable `todo-tree.tree.showCountsInTree` it will show the number of children for each node.

[2020-04-27 14:40] joaomoreno commented on #95697
@Tyriar Given https://github.com/microsoft/vscode/issues/95948, does this issue still need to exist?

[2020-04-27 14:40] #95808 closed

[2020-04-27 14:40] Tyriar commented on #95531
Please try enabling trace logging to give us some insight into what's happening when the terminal launches:

https://github.com/microsoft/vscode/wiki/Terminal-Issues#enabling-trace-logging

[2020-04-27 14:42] joaomoreno commented on #95921
Strange, it seems that when opening the second change, the first one gets pinned.

[2020-04-27 14:42] joaomoreno commented on #95534
It wouldn't hurt!

[2020-04-27 14:43] joaomoreno commented on #95941
VS Code already supports this: https://code.visualstudio.com/docs/editor/versioncontrol

[2020-04-27 14:43] #95941 closed

[2020-04-27 14:44] Tyriar commented on #95697
It doesn't cover what I'm after exactly, which is:

- Double click is needed to collapse folders, twisty is still a single click though
- Single click for opening files

I can close this off though, I might reopen a new one when I can think of a better proposal for a setting.

[2020-04-27 14:45] isidorn commented on #95964
We could add a `stopAll` attribute to the compound, however how would that work? Clicking stop on any of the compound sessions would send stop to all sessions? And it would never be rendered as dicsonnect?

[2020-04-27 14:45] atamanoff opened #96269 "Veird artifacts in VSC on windows focus change"
![Безымянный2](https://user-images.githubusercontent.com/40996318/80385830-3ea6e200-88af-11ea-8049-82f33e693b35.png)
Issue Type: <b>Bug</b>

Hello, I have weird artifacts in VSC when I change window focus (click on control panel or other program). This artifacts look like white dots and lines, like weird snow around words and images.
This artifacts disappear when I click back on VSC window, someti

[2020-04-27 14:45] LilJohny commented on #96243
Hello, @isidorn  Can I take it?

[2020-04-27 14:46] jrieken commented on #95234
It does open (when nothing is open yet). I think you are off the hook but there is something wrong with how notebooks use the working copy service. Tho, since the anything handler uses document symbol this doesn't really work then. Needs some deeper thought next milestone, let's first validate this overall approach

[2020-04-27 14:46] Tyriar commented on #95035
This should work:

[code]

[2020-04-27 14:46] #95035 closed

[2020-04-27 14:46] joaomoreno commented on #95963
Fantastic repro steps! 👏 Thanks a bunch for that.

[2020-04-27 14:50] ChrisPapp commented on #96181
@Tyriar Can I take this?

[2020-04-27 14:50] joaomoreno commented on #95963
Unfortunately this is the problem of having nested git repositories, which VS Code doesn't support yet. So I'm glad you found a way to get it working OK-ish. #37947

[2020-04-27 14:50] #95963 closed

[2020-04-27 14:50] ErisDS commented on #62783
Oh perfect - I've just been customising all the details - colours, icons and more and somehow totally missed that option.

Thanks 🙏

[2020-04-27 14:51] aeschli opened #96270 "Test `editor.semanticTokenColorCustomizations`"
Refs: https://github.com/microsoft/vscode/issues/96267

- [x] anyOS @dbaeumer
- [x] anyOS @sana-ajani

Complexity: 3

---

`editor.tokenColorCustomizationsExperimental` got replaced with `editor.semanticTokenColorCustomizations`
The format has slightly changed to also include the `enabled` setting that was previously in `editor.tokenColorCustomizations` as `semanticHighlighting`

Test in the setti

[2020-04-27 14:51] joaomoreno commented on #95697
We currently have `workbench.list.openMode`. We could simply introduce `workbench.tree.folderOpenMode` to cover your case.

[2020-04-27 14:52] isidorn commented on #96243
Sure. We accept concise and preicse PRs. Also for this I think you can add unti tests.

[2020-04-27 14:52] joaomoreno commented on #96143
It exists: `git.scanRepositories`.

[2020-04-27 14:52] #96143 closed

[2020-04-27 14:52] #96267 closed

[2020-04-27 14:53] Neonit commented on #96073
I feel not all here are on the same page. I have made some screenshots of VS Code with my PR applied (and also the Typescript fix). Maybe this is easier to follow and understand. The two new options both **do not** change the basic formatting of the documentation. Markdown still works fully and JSDoc is parsed fully.

https://imgur.com/a/elIpGTg

[2020-04-27 14:53] Tyriar commented on #95697
@joaomoreno or `openMode: 'doubleClick' | 'singleClick' | 'doubleClickFolder'`?

[2020-04-27 14:54] IllusionMH commented on #96269
/findDuplicates

[2020-04-27 14:54] paamonim commented on #95769
Log level changed to: Trace
[debug] [wt] Change: /home/noam/paamonim_site/app/controllers/budgets_controller.rb

[debug] [wt] Change: /home/noam/paamonim_site/tmp/pids/server.pid

[debug] [.git] Change: /home/noam/paamonim_site/.git/index.stash.9066
[debug] [.git] Change: /home/noam/paamonim_site/.git/.git-stash.9066-stagenames
[debug] [.git] Change: /home/noam/paamonim_site/.git/.git-stash.9066-s

[2020-04-27 14:54] Tyriar commented on #96181
@ChrisPapp sounds good, thanks 😃

[2020-04-27 14:55] #96246 closed

[2020-04-27 14:57] paamonim commented on #95769
Log level changed to: Trace
[debug] [wt] Change: /home/jack/my_site/app/controllers/budgets_controller.rb

[debug] [wt] Change: /home/jack/my_site/tmp/pids/server.pid

[debug] [.git] Change: /home/jack/my_site/.git/index.stash.9066
[debug] [.git] Change: /home/jack/my_site/.git/.git-stash.9066-stagenames
[debug] [.git] Change: /home/jack/my_site/.git/.git-stash.9066-stagenames
[debug] [.git] Chang

[2020-04-27 15:01] JonathanDotCel commented on #96076
Sorry, I'm not able to reproduce it either!
Any suggestions? Willing to give it a shot.
Otherwise feel free to close the issue, thanks.

[2020-04-27 15:01] #96076 closed

[2020-04-27 15:03] dbaeumer commented on #96240
I will mention it in the release notes.

[2020-04-27 15:04] Tyriar commented on #42356
Meant to ping @DHowett-MSFT

[2020-04-27 15:05] dbaeumer commented on #96160
This has nothing to do with LSP. Looks like a general TS question to me.

[2020-04-27 15:07] u84six opened #96271 "a built-in file compare and merge tool"
I think vscode would benefit from having a native file diff and merge tool, similar to windiff. Rather than just setting up git (not everyone uses git), it would be great to have a native tool that would allow me to set source and target files for a diff and then a way to move lines between them (some type of button). I currently have to use an old version of windiff to do this. What I love about

[2020-04-27 15:08] dbaeumer commented on #95880
Only benefit is that you can invoke the formatter with the default formatter key binding. I personally prefer code action on save.

Closing the issue. Please ping if you think otherwise.

[2020-04-27 15:08] #95880 closed

[2020-04-27 15:09] dkolba commented on #7169
Coming from vim, I am astonished that no one is missing this feature?! Persistent undo stacks are great for rapid prototyping - kinda like a "git lite™️". Sad to see this issue closed. 😢😭

[2020-04-27 15:10] IllusionMH commented on #96269
Duplicate of #93356 or #94523

Is it reproducible if you start code with `code --disable-gpu`? https://code.visualstudio.com/updates/v1_40#_disable-gpu-acceleration

[2020-04-27 15:10] damacisaac commented on #95755
This is fixed for me now. Thank you for the quick fix!

[2020-04-27 15:10] Fylls commented on #96245
![GameScreen js-CORSO-Visual-Studio-Code-2020-04-27-17-01-53](https://user-images.githubusercontent.com/55017307/80388017-a823f200-88a9-11ea-8b73-9ab893d7d7a8.gif)

it is not a big problem but it would be a nice feature to add something that can wrap one tag  both to the beginning and to the end of a specific script in just one command.

[2020-04-27 15:10] #96019 closed

[2020-04-27 15:11] anstosa commented on #7169
@dkolba It's closed because they added it in the March update

[2020-04-27 15:12] ws93 opened #96274 "showQuickPick in onDidDeleteFiles doesn't work for multiple deleted files"
- VSCode Version: Version: 1.44.2 (user setup)
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T16:36:23.138Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363
- OS Version: OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Clone my template extension project: https://github.com/ws93/deletefilesapi (The 4-line [code

[2020-04-27 15:12] Gruntfuggly opened #96275 "Double clicks not registered if I click too fast"
I am running VSCode in Ubuntu in a VirtualBox guest on an OSX host.
If I double click too fast, it doesn't get recognised. It seems fine in other applications within Ubuntu, so I think it is vscode.

Is there even a way to bind the "double click to select word" to a key?

BTW, I'm not talking ridiculously fast. It's worse when Code is 'busy'.

[2020-04-27 15:13] MHDFahz opened #96276 "Camera not working"
- VSCode Version:1.44.2
- OS Version:Darwin x64 19.4.0

Steps to Reproduce:

when I cv2 module to output webcam but it showing error
[1]    9876 abort      python 1.py
but when I run Mac terminal there is no problem

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-27 15:18] sandy081 commented on #94175
Ok, I cannot repro it. Are you able to see this again?

[2020-04-27 15:19] sandy081 commented on #96260
/duplicate

https://github.com/microsoft/vscode/issues/96019

[2020-04-27 15:21] sandy081 commented on #96260
@isidorn I fixed the viewlets/panels in the issue - https://github.com/microsoft/vscode/issues/96019

Reassigning this to you if you want to use this to track other usages

[2020-04-27 15:24] jrieken commented on #96273
see https://github.com/microsoft/vscode/blob/47b1183dfda519c32d78b591cfa721d3b0b874ae/src/vs/vscode.d.ts#L9632

[2020-04-27 15:25] sandy081 commented on #96056
Oh sorry I did not look at the other comment. Sorry about that.

There should not be any difference, I am not sure why it works on stable and not on insiders. I can try if user can provide me the VSIX that user can repro.

[2020-04-27 15:27] jrieken commented on #96273
There can only be one rename provider for a language and it goes by score. A tie-breaker is the time an extension is registered so can enforce your extension to win by taking a dependency onto the built-in TS extension

[2020-04-27 15:27] #96273 closed

[2020-04-27 15:27] sandy081 commented on #96064
Yes.

I reassigned to you because user actually wants - to have a command to focus the list in the changes view.

@robertohuertasm Please create a separate issue for this request. I am closing this for the fix I did here.

[2020-04-27 15:27] #96064 closed

[2020-04-27 15:31] connor4312 opened #96277 "April 2020 Endgame"
- *April 27* Code freeze for the endgame
- *May 1* [Endgame done](https://github.com/Microsoft/vscode/wiki/Development-Process#inside-an-iteration)
- *May 7* Expected release date (this may change)

##### Monday
- [x] Run [OSS tool](https://github.com/microsoft/vscode-build-tools/tree/master/distro-tools) **endgame master**
- [x] Code freeze at 5pm PT
- [x] Ensure we have a green build on all plat

[2020-04-27 15:33] isidorn commented on #96260
Let's close for now and when new issues arrive we can reopen since you fixed for views.

[2020-04-27 15:33] #96260 closed

[2020-04-27 15:34] jelling commented on #95062
Similar issue exists with access to the microphone via Pythoh. In both cases it seems that the VSCode terminal is not requesting permissions from MacOS. I say this because if you run the same CLI command via the built-in MacOS Terminal app then permissions are requested and everything works as it should.

Proposed solution: update VSCode terminal to request permissions from MacOS.

[2020-04-27 15:41] sbatten commented on #89523
With the ability to move the entire container at once, there is some relief here in that you will get a container with the name `References`. However, we still do not address the view being titled on its own.

[2020-04-27 15:52] #96276 closed

[2020-04-27 15:54] luabud commented on #83586
@copdips do you see the import deletion behaviour consistently? I wasn't able to reproduce it.

[2020-04-27 15:54] alexr00 commented on #96268
Can you provide steps for how you are trying to do this?

create a new workspaces within workspaces.

[2020-04-27 15:56] rahul0399 commented on #95985
Hi, Tyriar> Not sure what to do and how to check these logs. However, I have good news, that I was checking about this issue and tried whatever was coming to my mind. So, I uninstalled it from Revo Uninstaller and re-installed it back, and thereafter, I excluded their folder from the windows defender. And, Same I did with Salesforce CLI (pasted below
<img width="405" alt="Capture_WD" src="https://

[2020-04-27 15:57] jrieken opened #96279 "Test Notebooks"
Refs: https://github.com/microsoft/vscode/issues/91987

- [x] anyOS @RMacfarlane
- [x] anyOS @sandy081
- [x] anyOS @bpasero (web)

Complexity: 5

Authors: @jrieken, @misolori, @rebornix, @roblourens

---

1.  First and foremost install the GH issues notebook extension: https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-github-issue-notebooks

#### Language Features

* Test that l

[2020-04-27 16:00] sbatten commented on #90461
With view container movement, it would be possible to move the entire SCM container to the panel; however, we need to ensure that all SCM views will behave before allowing it. We should try this in debt week.

[2020-04-27 16:04] probablykasper commented on #52364
@JohnnyCrazy Running the detection on the selected line is a great idea, that should do the job.

My bad, so the Sass extension supports it, just not Vetur.

[2020-04-27 16:07] joaomoreno commented on #93779
Verification: please see above comment

[2020-04-27 16:10] Tyriar commented on #94175
Nope

[2020-04-27 16:10] Tyriar commented on #95985
Good to hear 👍

[2020-04-27 16:10] #95985 closed

[2020-04-27 16:11] #96181 closed

[2020-04-27 16:13] #92895 closed

[2020-04-27 16:14] sbatten commented on #92895
To Verify:
1. Open VS Code on Linux.
2. Enable the custom titlebar with `window.titleBarStyle`
3. Use keyboard to navigate the file menu.
4. Verify that space activates `Auto Save`

[2020-04-27 16:16] connor4312 commented on #96130
/duplicate 95108

[2020-04-27 16:17] #96130 closed

[2020-04-27 16:17] joaomoreno opened #96280 "Test: GitHub authentication for Git commands"
Refs: https://github.com/microsoft/vscode/issues/96241, https://github.com/microsoft/vscode/pull/96069

- [x] macOS @misolori
- [x] linux @isidorn
- [x] windows @fiveisprime

Complexity: 3

---

Communication with GitHub for the git features should now be handled automatically by VS Code.

**Note:** Please disable any credential manager you might have installed in your system by unsetting the `cre

[2020-04-27 16:20] rebornix commented on #94159
@roblourens I found that `ExecuteCellAction` is also extending `MenuItemAction` and it's used programmatically in cell renderers.

[2020-04-27 16:21] connor4312 commented on #96195
Thanks for the issue @gasnier. I can repro this using our older debugger, but this appears fixed in our [new debugger](https://github.com/microsoft/vscode-js-debug#installation) (currently in preview) which takes a more resilient approach to sourcemap/breakpoint handling. I'd recommend trying that out, let me know if that fixes the issue you're running into.

[2020-04-27 16:24] sbatten commented on #93415
Turns out the custom select boxes use the context view service for rendering the dropdown. This means focus is not maintained just like the triple dot with menus. This is a general problem with the context views and focus. The custom select box doesn't need to use the context view service, but I think this problem should be tackled more generally.

@joaomoreno How would you feel about having the c

[2020-04-27 16:25] sbatten commented on #93849
A smoother version of the blur effect came in this milestone. Did anyone notice? Do people prefer it?

[2020-04-27 16:28] derekeden opened #96281 "make VSCODE navigate to script directory when running python line-by-line?"
Recently made the move from Spyder to VSCode. Though I quite enjoy VSCode, it is a tad steep for someone new, especially coming from an IDE like Spyder that is basically out of the box ready to go (albeit less customization).

I'm having a particular issue that I can't seem to figure out.

Frequently, I like to step through my code line-by-line as I'm writing it. This means when I run a line of co

[2020-04-27 16:29] jrieken opened #96282 "Test NotebookConcatDocument"
Refs: https://github.com/microsoft/vscode/issues/96279

- [x] anyOS @weinand
- [x] anyOS @sbatten

Complexity: 4

Authors: @jrieken, @misolori, @rebornix, @roblourens

---

To help extension authors integrate existing language services with notebooks we have added a "concat document". That is all code cells of a notebook represented as single document.

1. Install https://marketplace.visualstudio.

[2020-04-27 16:31] MaddawgX9 commented on #42740
I really wish a feature for separate tab size and indent size existed. As it is now, I cannot use vscode because it doesn't support tabsize = 8, indentsize=4. I find this odd because Visual Studio does support it.

[2020-04-27 16:35] RMacfarlane commented on #95163
Marking as duplicate to remove from verification list, each individual item will be verified instead

[2020-04-27 16:35] jrieken commented on #96282
fyi - use the [vscode-dts](https://www.npmjs.com/package/vscode-dts)-utility to use the latest version of `vscode.d.ts` and/or `vscode.proposed.d.ts`

[2020-04-27 16:37] #96227 closed

[2020-04-27 16:38] RMacfarlane commented on #94635
To verify:

1. Create an extension that uses one of the authentication providers:
[code]
2. After signing in, click on the account in the accounts menu
3. Choose "Show Extensions and Features using this Account", the name of the extension should be displayed

[2020-04-27 16:38] lkhatkar opened #96283 "Missing saveAs csv file type in file saveAs dialog"
Missing saveAs csv file type file saveAs dialog. I needed to save exported csv content from sqlite3 but could not found any extension type as csv in file save as dialog.

[2020-04-27 16:45] #95957 closed

[2020-04-27 16:50] sandy081 commented on #94175
Closing this for now as I do not have any idea how it can happen. May be when it happens next time please provide the steps and also the data that has caused this.

[2020-04-27 16:50] #94175 closed

[2020-04-27 16:50] sbatten commented on #93939
fyi @sandy081

[2020-04-27 16:50] #93939 closed

[2020-04-27 16:52] morganwdavis commented on #96122
Thank you!

[2020-04-27 16:54] connor4312 commented on #95887
we automate some of the js-debug package.json generation. Saves repetition since many options are shared between debug types, and lets us type-check to contributions to ensure that e.g. all options are documented and all strings are localized.

Validated out of sources, works beautifully, thanks!

![](https://memes.peet.io/img/20-04-37e79641-b1aa-442b-9674-5857e2c55fa5.png)

[2020-04-27 16:55] deepak1556 commented on #96167
Thanks for the report, merging to https://github.com/microsoft/vscode/issues/95062

[2020-04-27 16:55] #96167 closed

[2020-04-27 16:56] sandy081 commented on #90225
Could not get time in this milestone. Moving to May

[2020-04-27 17:02] sbatten commented on #94331
I'm going to close this as resolved since after 30 or so tries it does not reproduce. Further, there were too many refactorings in the area to know if the behavior changed.

[2020-04-27 17:04] atamanoff commented on #96269
Disabling hardware acceleration in argv.json helped, no more artifacts! Thank you very much!

[2020-04-27 17:05] sbatten commented on #94331
To Verify:
1. It's difficult to verify this since it did not reproduce reliably, but simply try to move the terminal to the top position of the activity bar from the panel.
2. Reset View Locations
3. Repeat above steps 10 or more times.
4. Verify that the terminal is always the top position and does not move after a second.

[2020-04-27 17:05] connor4312 commented on #95964
Maybe compound launch configs could have a pseudo-root, which has a "stop" action that affects all individual configs?

[code]

The compound config could have an option whether sessions can be stopped individually, or whether stopping one session is treated as stopping the whole set of configuration.

[2020-04-27 17:06] #94688 closed

[2020-04-27 17:07] #96269 closed

[2020-04-27 17:08] connor4312 commented on #94812
Okay, all of these are now done, pending possible DAP support for additional state descriptions. Thanks everyone 🙂

[2020-04-27 17:08] #94812 closed

[2020-04-27 17:12] Jhonsensf commented on #42758
Same problem here.

[2020-04-27 17:14] Woutercode commented on #96249
The request is to be able to change the code inside the default Program.cs, is it possible? if so where to change it?

[2020-04-27 17:15] gocastilla commented on #42758
+1

[2020-04-27 17:18] pakitovic commented on #42758
+1 It's about time to get an actual fix isn't it? It has been a loooong time since issue got opened

[2020-04-27 17:22] mmsoon commented on #63068
Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T17:07:18.473Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 18.6.0

killall dock fixes this

[2020-04-27 17:25] judmft commented on #42758
+1

[2020-04-27 17:31] hipstersmoothie commented on #42758
Hey guys `+1`s are generally considered bad form on an issue. Please react to the first comment instead which will also help with prioritizing.

[2020-04-27 17:35] misolori commented on #95346
@tamuratak thanks for the feedback, our accessibility color contrast goals are to meet WCAG AA so you will find this throughout all of our themes. The new const color [meets WCAG AA at 4.6:1](https://webaim.org/resources/contrastchecker/?fcolor=328267&bcolor=FFFFFF), see below.

![image](https://user-images.githubusercontent.com/35271042/80402355-a854cb00-8872-11ea-9a6a-a4387cffef51.png)

cc @isid

[2020-04-27 17:42] joanmarie commented on #96153
@isidorn: Regarding this:

I think this may already be fixed (by someone else). I'll comment on the bug.

[2020-04-27 17:43] anaisbetts commented on #95534
You're seeing this dialog in the first place because VS Code has broken permissions, if you fix them you won't ever see it again! ✨   Make sure that VS Code.app is owned by your user and not `root` or some other user account

[2020-04-27 17:46] #96065 closed

[2020-04-27 17:50] pradeeprajagopal commented on #96244
I am not able to reproduce with nightly insider builds. It happening with Regular version

[2020-04-27 17:53] ambroselittle commented on #95534
@anaisbetts, thanks for the suggestion. Just tried chowning. Will see if I never see it again. :D Or at least not at the next update.

[2020-04-27 17:54] ArthurFuchsReis opened #96285 "argument is undefined or null"
I was programming a couple of 1hr ago. When came back and I tried out to open up a new html extension to work on it this message come out to me: "index.html" can't be open: argument is undefined or null". I tried another files and nothing happened. I asked google about it. And I read in your github that there is the same problem with another people. I tried to make the same solution, but unfortuna

[2020-04-27 17:55] misolori opened #96286 "Git: Support showing stashes in the UI"
![image](https://user-images.githubusercontent.com/35271042/80404175-a0e2f100-8875-11ea-964e-ddde84f7b9fe.png)

Would be great if when you saved a stash that the UI would surface this (maybe in another view) w/ related actions (apply, discard, etc.)

[2020-04-27 17:56] Liturgist commented on #96084
There is no additional information. It has stopped happening, but it will probably happen again. Since the bot answered, I am closing the issue.

[2020-04-27 17:56] #96084 closed

[2020-04-27 17:57] kirbygit commented on #96026
@alexdima so everytime I switch to a another defined per project folder. I check if my settings.json and the editor.tabSize is the correct number of spaces. Then tried to `Reload Window` just to make sure settings.json changes is noticed. Then tried pressing tab:
ex.
Expected behavior - 2 spaces
Unintended - 4 spaces

[2020-04-27 17:59] #96207 closed

[2020-04-27 18:00] rebornix commented on #96207
Clicking on an empty area of the webview throws this error, which I don't understand why as clicking on some DOM elements is fine.

I pushed a change to check if `webContents` is destroyed or not but I don't understand why. @deepak1556 can you help on this one?

[2020-04-27 18:01] #94033 closed

[2020-04-27 18:04] bm-stschneider commented on #95845
<img width="785" alt="image" src="https://user-images.githubusercontent.com/30625381/80404956-3d32e500-88c2-11ea-8b24-023de1911d7e.png">

[2020-04-27 18:05] bm-stschneider commented on #95845
What is handlebars then? I thought it counts as markup.

[2020-04-27 18:06] deepak1556 commented on #95534
@ambroselittle here is an insiders version from few days ago https://az764295.vo.msecnd.net/insider/a250df703de955a38aed427a917bce8278ab3331/VSCode-darwin-insider.zip which will trigger an update once you launch it. You can test if the issue is mitigated with correct user permissions for the app.

[2020-04-27 18:11] jamesowens91 commented on #36490
Bump

[2020-04-27 18:14] richard-townsend-arm commented on #33620
What Electron do is they run the Azure DevOps device runner in x86 mode - seems to work fine for them and they use that to test the ARM64 binary.

[2020-04-27 18:16] #94328 closed

[2020-04-27 18:17] ChrisPapp commented on #96074
@isidorn
I created PR #96287. With this change, the cursor should now move to the next breakpoint after removing the focused breakpoint.

About multi-select, right now the _focused_ breakpoint is removed,
the one you see when you press up/down arrow keys,
not the _selected_,
the one you click on.

Therefore, if something like this were implemented, "Remove Breakpoint" should remove _selected_ brea

[2020-04-27 18:18] deepak1556 commented on #95062
@jelling thanks for the report. the root cause is same. I have updated the bug title.

[2020-04-27 18:18] octref commented on #96173
Duplicate of #29126.

[2020-04-27 18:18] #96173 closed

[2020-04-27 18:21] octref commented on #96139
Do you mean `Developer: Show Running Extensions`?

Help -> Toggle Developer Tools. Do you see any errors?

Also what is the filetype you are editing? Try it in a HTML file.

[2020-04-27 18:22] rwnkl opened #96288 "VSCode API reference"
- VSCode Version: 1.44.2
- OS Version: Windows 10 prof 64

Steps to Reproduce:

1. VS Code API Reference links

Does this issue occur when all extensions are disabled?: Yes
All links within the VSCode API reference no longer jump to the exact position.

[2020-04-27 18:24] eodeluga opened #96289 "Cursor doesn't always follow line indentation"
If you start a new block of code, the cursor auto indents when you create a line break (new line) for the body of the block e.g

    class Test {

    }

Here the opening curly brace of the block is followed by two line breaks before the closing brace.

If you arrow up now, the cursor doesn't stay inline with the indentation, but jumps to the beginning of the previous line.

The behaviour is the s

[2020-04-27 18:25] BrandonKi opened #96290 "Change code.cmd to use "start""
Change line 5 of code.cmd from
`"%~dp0..\@@NAME@@.exe" "%~dp0..\resources\app\out\cli.js" %*`
to
`start "%~dp0..\@@NAME@@.exe" "%~dp0..\resources\app\out\cli.js" %*`

If "code" is called from a batch file it stops execution of the batch file until VSCode is closed.

[2020-04-27 18:29] LilJohny commented on #96243
@isidorn Please, check my PR. If it is good, I`ll add unit tests specific to this case. I already tested it manually.

[2020-04-27 18:36] mjbvz commented on #96160
This code is incorrect; you are calling `new net.createServer(...)` but `createServer` is not a constructor so `new` should not be used here. After fixing this, I see suggestions working as expected

VS Code will report this problem if you enable [type checking in JS files](https://code.visualstudio.com/Docs/languages/javascript#_type-checking)

[2020-04-27 18:36] #96160 closed

[2020-04-27 18:39] brando90 commented on #76542
Slightly noob question (but it will make this gitissue more self contained).

How does one change the `terminal.integrated.inheritEnv` value? What is the name of the json file for it?

I tried typing that in the command palette with no success. Help?

[2020-04-27 18:39] nmggithub commented on #96197
This also did not work even when I put the things into `~/.bashrc` it appears Tasks sets the node prefix itself when running. I "solved" my issue, by running `sudo npm install -g firebase-tools`. Tasks now knows where to find it, but I don't think that it changing the node prefix would be helpful in all circumstances.

[2020-04-27 18:41] mjbvz commented on #96073
Languages are in a better position to know how users of that language write comments. A VS Code setting is a very course approach that will likely not make sense in many languages while also not addressing the more specific needs of comment formatting of other languages

I'm marking this as backlog candidate to give the community an opportunity to chime in with other use cases

[2020-04-27 18:42] mjbvz commented on #96255
Please try upgrading your workspace to use `typescript@next` by installing [this extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next). After installing that extension and restarting VS Code, do you still see the issue?

[2020-04-27 18:45] avicenna-developer commented on #96102
The default behavior when clicking on a breadcrumb node is to display sibling nodes in a list, therefore an input field in that list to filter out sibling nodes should come in handy.

[2020-04-27 18:49] jhomme commented on #95225
JAWS reacts too quickly and repeats text in some situations. One such situation is in the editor when you select some text, then delete it. JAWS repeats the selected text.

[2020-04-27 18:53] mjbvz commented on #95615
This is a with webviews. To repro:

1. Open markdown preview.
1. Put it in a background tab
1. Reload window
1. Now click outside the window.

The markdown preview should not be activated here since the preview is not visible

[2020-04-27 18:59] wangjaso commented on #93779
@joaomoreno I verified that these 2 are working correctly. Thanks!

With these 2 apis I'm able to detect existing repo changes. Butkn is there a way to know when a repo has been initialized? For example below:

[code]

[2020-04-27 19:00] mjbvz commented on #96242
Can you share your use case for this?

[2020-04-27 19:00] TlStephen2011 opened #96291 "Pin folders to top bar, like files"
It would be nice to be able to pin a folder to the top bar and when you click it, it would show a dropdown of files in the folder. This would allow development without the sidebar open most of the time.

[2020-04-27 19:03] TlStephen2011 commented on #96291
It's a different suggestion.

[2020-04-27 19:03] #95615 closed

[2020-04-27 19:05] alexdima commented on #95595
@Banyc Thank you, this is all caused by the following line in your file:
[code]

There are multiple regular expressions that take a long time. I found them with some newly added support via `F1 > Developer: Start Text Mate Syntax Grammar Logging`:

[code]

[code]

[code]

[code]

[2020-04-27 19:06] mjbvz commented on #96187
We'll try to translate issues but this doesn't even follow our the issue template so it's not actionable

See https://github.com/microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions

[2020-04-27 19:06] #96187 closed

[2020-04-27 19:07] #96193 closed

[2020-04-27 19:08] ambroselittle commented on #95534
@deepak1556, I'm gonna ask a dumb question. That gives me a new insiders copy of the app, from what I can tell. How will it test that my mainline copy is now configured correctly?

[2020-04-27 19:08] mjbvz commented on #96201
See https://code.visualstudio.com/Docs/languages/markdown#_using-your-own-css

This setting only supports loading a css file from your current workspace

[2020-04-27 19:08] #96201 closed

[2020-04-27 19:08] alexdima commented on #96026
@kirbygit Did you disable all your extensions? There is one extension in particular named `.editorconfig` which takes ownership of the editor configuration once installed.

[2020-04-27 19:12] alexdima commented on #96245
I'm not a big user, but I believe `emmet` can do this:

![Kapture 2020-04-27 at 21 11 20](https://user-images.githubusercontent.com/5047891/80410967-b1be5180-88cb-11ea-8812-de1112acb714.gif)

[2020-04-27 19:14] pr3tori4n opened #96292 "Bug: 'Add Cursor Up' Keybind is not adding cursor to above/below lines."
It's Not working in Insiders as of time of writing.
Using mousewheel click+drag does work to add cursor to mulitple lines.

- VSCode Version: 1.44
- OS Version: Windows 10

Steps to Reproduce:

1. Open a file
2. Attempt to use Add Cursor Up keybinding (Ctrl + Alt + UpArrow)
2. Attempt to use Add Cursor Down keybinding (Ctrl + Alt + DownArrow)

Does this issue occur when all extensions are disabled

[2020-04-27 19:16] connor4312 opened #96293 "Run menu does not remember dynamic launch configurations"
Refs: #95837

[code]

Steps to Reproduce:

1. Select a dynamic launch configuration
2. Reload the window
3. The dynamic launch configuration is no longer the selected item in the `Run` menu

I assume this is because the dynamic configurations are provided asynchronously/aren't present when the view is first loaded.

Switching out the selected configuration after extension activation would be awkwa

[2020-04-27 19:20] alexdima commented on #95924
@rcjsuen No, the token type `string` / `regex` / `comment` is driven always by the TM grammar. We have debated for some time to make that be overwritable by the semantic tokens, but since semantic tokens are async, it means that a certain character can be considered a `string` and after some unknown time, it can become a `comment`, etc. This might lead to unexpected end-user behavior, where someth

[2020-04-27 19:23] rebornix commented on #95858
After we make the content `position: absolute`, its parent `part` no longer has any height. Set it to `100%` to inherit.

[2020-04-27 19:29] mjbvz commented on #96188
Same error stack as https://github.com/microsoft/TypeScript/issues/38076

Closing as upstream

[2020-04-27 19:29] #96188 closed

[2020-04-27 19:30] mjbvz commented on #96179
When TS fails, click the `report issue` notification. This should include the call stack of the crash. Please include that

[2020-04-27 19:30] AlphaComposite opened #96294 "serverReadyAction doesn't launch browser on VS Code for Mac in latest insider build"
- VSCode Version: 1.45.0-insider
- OS Version: macOS Catalina 10.15.3 (19D76)

Steps to Reproduce:

1. Point VS Code to the project folder, allow it to add the necessary C# files for the project
2. Run it

Does this issue occur when all extensions are disabled?: Yes

Here's the launch.json file:

[code]

Here's the output from the debug console:

[code]
Am I missing something? I normally work in R

[2020-04-27 19:31] connor4312 opened #96295 "Provided terminal environment variables override those given explicitly in `vscode.window.createTerminal`"
[code]

Steps to Reproduce:

1. In an extension, provide environment variables to `context.environmentVariableCollection`. Accept the changes.
2. Use `vscode.window.createTerminal` to create a terminal with an `env` overriding one of the variables you set
3. Observe that the variable from the context is used

I think variables defined at the time of `createTerminal` should take precedence over the

[2020-04-27 19:34] alexdima commented on #95912
@jrieken Yes, that happens for any extension that contributes a keybinding, but does not contribute the command.

There is a file called `keybindings.json` and it currently has a JSON schema. The JSON schema is computed by looking at contributed commands in `package.json`, which make it to the CommandsRegistry, so that one is asked about commands.

Do you know of another way to create a JSON schem

[2020-04-27 19:39] weinand commented on #88230
The test of this API is covered by test item #95837

[2020-04-27 19:43] alexdima commented on #82608
This is actually fixed with using `vscode-oniguruma`.

[2020-04-27 19:43] #82608 closed

[2020-04-27 19:46] alexdima commented on #93487
@sw8wm2013 Do you still have the issue? Can you please try to reinstall the font?

[2020-04-27 19:52] AlphaComposite commented on #96294
Those issue weren't resolved at the time. Don't know if this is a related or an entirely new issue, because now the appropriate information is now being sent to the debug console, whereas before it was not.

[2020-04-27 19:54] alexdima commented on #95943
@Zooce This most likely indicates that there is some keybinding customization bound to `"Enter"`. Can you please open the Keyboard Shortcuts and search for `"Enter"` with quotes. How does it look, here is mine:
![image](https://user-images.githubusercontent.com/5047891/80414610-98200880-88d1-11ea-98e6-46e0ed778989.png)

@Najibvenkitta  Please provide additional information and some steps.

[2020-04-27 19:57] weinand opened #96296 "Test: transition of "auto attach" feature to new js-debug JavaScript terminal"
Refs: https://github.com/microsoft/vscode/issues/88599

- [x] anyOS: @joaomoreno
- [x] anyOS: @stevencl

Complexity: 3

Authors: @connor4312, @weinand

---

VS Code's legacy Node.js debugging supports an "auto attach" feature, which makes the VS Code debugger automatically attach to node.js programs if they were launched from the integrated terminal in debug mode (for details see https://code.visu

[2020-04-27 19:59] alexdima commented on #96234
@cg-cnu There are multiple commands:
* `Add Line Comment` - `editor.action.addCommentLine` - `cmd+k cmd+c`
* `Remove Line Comment` - `editor.action.removeCommentLine` - `cmd+k cmd+u`
* `Toggle Line Comment` `editor.action.commentLine` - `cmd+/`

I'm not sure, what exactly do you mean? That you find the identifier `editor.action.commentLine` unsuitable for the command?

[2020-04-27 20:00] alexdima commented on #96040
@FremdSprach If the issue reproduces only when having the vim extension enabled, then please open an issue against the vim extension with your precise steps. They will investigate on their side and determine if there is an underlying VS Code issue or not.

[2020-04-27 20:00] #96040 closed

[2020-04-27 20:03] connor4312 opened #96297 "Do dynamic launch configs need extension activation?"
Refs: #95837

Since we show the dynamic configuration in subfolders, do extensions need to be eagerly activated, or could we have a contribution in the package.json and lazily activate them via the `onDebugResolve:*` events?

[2020-04-27 20:05] Alex1607 commented on #95875
I have found the reason for the slow startup. It was a programm which I had installed - "Badlion Client". Mentioned in another issue: https://github.com/microsoft/vscode/issues/56644#issuecomment-600285015

[2020-04-27 20:05] #95875 closed

[2020-04-27 20:07] deepak1556 commented on #95534
Sorry I wasn't clear, I would like you to install the app as another user that would trigger the install helper tool and see the cpu usage increases.

Reinstall the app again as above, but before opening the app change permissions like you did for the mainline copy, open the app and see if the update no longer causes an issue.

This would verify what you did for your mainline copy. Also double-che

[2020-04-27 20:07] #86708 closed

[2020-04-27 20:07] mjbvz commented on #95833
Have you tools changed? For example, have you updated the packages that are watching an re-compiling the files?

[2020-04-27 20:09] alexdima commented on #96097
Keybindings rules are not meant to be used for text input. Consider, for example, the case where the keyboard is on a different keyboard layout, like Russian, where `j` nor `J` are produced when pressing `j`.

The keybindings rules are evaluated on `keydown` and the produced character occurs only after that.

If you wish to capture textual input, then it is possible to overwrite the built-in `type

[2020-04-27 20:12] deepak1556 commented on #93120
@ThrowawayAccount-lang sorry I didn't have much progress here

one thing I wanted to check based on another issue, is https://github.com/microsoft/vscode/issues/56644#issuecomment-600285015 installed on your system ?

[2020-04-27 20:12] johnsoncodehk commented on #96273
@jrieken Thank you! I am still in the exploration stage, so what I know may not be correct.

I hope the language program can be used out of the box. The typescript plugin solution seems to require users to edit tsconfig.json to take effect.

In addition, I seem to be able to gain full control by intercepting the rename behavior through LanguageClientOptions.middleware.provideRenameEdits?

I hope t

[2020-04-27 20:15] deepak1556 commented on #94330
@kawo @panchalkalpesh can you check if https://github.com/microsoft/vscode/issues/56644#issuecomment-600285015 is something that impacts you ?

[2020-04-27 20:17] Undistraction commented on #96255
@mjbvz Thank you. That definitely appears to have helped. I'll report back tomorrow after I've used this for a few hours.

[2020-04-27 20:19] alexdima commented on #94931
@lacikawiz Thank you for the extra information. I searched all of those repositories, but unfortunately, I could not find any matches for `quickSuggestions`, so I don't think those extensions would edit that via our configuration editing API.

[2020-04-27 20:21] alexdima commented on #86415
@etc0de I think the best is to open a new issue

[2020-04-27 20:25] Vivek4536 opened #96298 "This page isn’t working127.0.0.1 didn’t send any data. ERR_EMPTY_RESPONSE"
Issue Type: <b>Bug</b>

When I Open with Live Server, It gives the below error:
This page isn’t working127.0.0.1 didn’t send any data.
ERR_EMPTY_RESPONSE

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300U CPU @ 2.40

[2020-04-27 20:32] aeschli commented on #69411
To verify, create a JSON schema with a $ref
[code]

[2020-04-27 20:33] #69411 closed

[2020-04-27 20:36] #95346 closed

[2020-04-27 20:36] deepak1556 commented on #95427
Thanks for the log @theSeifHub , the log contains the same error as https://github.com/microsoft/vscode/issues/95427#issuecomment-618890116

There is nothing VSCode can do here.

@Zorono can you provide the steps for solutions you tried, would help @theSeifHub . Thanks!

[2020-04-27 20:38] deepak1556 commented on #96252
Thanks for the report! merging as duplicate of https://github.com/microsoft/vscode/issues/85310

[2020-04-27 20:38] #96252 closed

[2020-04-27 20:50] Tyriar opened #96299 "Test: Link provider-based terminal links"
Refs: #95081, #90298, #29499

- [x] windows @roblourens
- [x] anyOS @joaomoreno

Complexity: 4

---

How links in the terminal work have changed a lot this iteration, to enable the new functionality use this setting:

[code]

Do some experimental testing with links and the hover, here are some places to start:

- Different link types work
  - Revealing folders in current window
  - Opening folders

[2020-04-27 20:51] etc0de commented on #86415
@alexdima ok I made one here: https://github.com/microsoft/language-server-protocol/issues/968

[2020-04-27 20:51] Tyriar opened #96300 "Test: ExtensionContext.environmentVariableCollection UX"
Refs: #46696, #95573

- [x] macOS @chrisdias
- [x] Windows @gregvanl

Complexity: 3

---

The UX side of this API is done. An extension can contribute environment changes to terminals via this API:

https://github.com/microsoft/vscode/blob/686ad172176f48eaef00d9e128d0fc0e999bbd52/src/vs/vscode.proposed.d.ts#L1047-L1053

The API itself was tested last month, this month focus on the UX side of thing

[2020-04-27 20:52] Tyriar commented on #95080
To verify ensure that "search workspace" links do not show underlines when mousing over them.

[2020-04-27 21:00] brunoNetId commented on #96242
I'm developing an extension (webview-1), and I'd like to make use of an existing extension (also webview-2).
  1) Helps defining processing flows.
  2) Helps defining data transformations.

The second one runs a local Java JVM that holds state. The extension can submit data and request state to/from the JVM.

The extension I'm trying to develop defines processing flows and might launch 1) to start

[2020-04-27 21:06] deepak1556 commented on #96183
can you please fill out the issue template

- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled (--disable-extensions) ?:

[2020-04-27 21:09] LilJohny commented on #96243
I added two tests also.

[2020-04-27 21:13] connor4312 commented on #95939
Thanks. On OSX we use `lsregister` to find browser paths. Perhaps your install didn't get registered with launch services, or got registered in a different way. What's the output you get from running?

[code]

[2020-04-27 21:13] FatTonyy opened #96301 "Editor.renameOnType: true"
This works only on html but not on jsx, I dunno about vue though since I never used it.

- VSCode Version: 1.44
- OS Version: windows

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-04-27 21:40] copdips commented on #83586
@luabud

Yes, as per the GIF in https://github.com/microsoft/vscode/issues/83586#issuecomment-607497052, it deletes imports.
But I managed to find a workaroud from: https://github.com/microsoft/vscode/issues/90221#issuecomment-583664840 by using `source.organizeImports.python` instead of `source.organizeImports`

[2020-04-27 21:42] connor4312 opened #96302 "Test: notebook renderer starter"
Refs: https://github.com/microsoft/vscode/issues/95989

- [x] anyOS @RMacfarlane
- [x] anyOS @rebornix

Complexity:  4

---

Project: create a new render for the [Github issue notebooks](https://github.com/microsoft/vscode-github-issue-notebooks).

 1. Install the [Github issue notebooks](https://github.com/microsoft/vscode-github-issue-notebooks extension
 2. Clone the [notebook-renderer-starter]

[2020-04-27 21:48] mjbvz commented on #96242
Thanks. Does your extension control both of the webviews being developed? Also, how would your extension identify which webview to refresh? The viewType or editor group for example?

[2020-04-27 21:48] roblourens commented on #96134
It's definitely worse this month than in the past. Happens fairly often for me, but seems random.

[2020-04-27 21:49] kingces95 opened #96303 "Relative symlinks fail to update when enclosing folder is moved to a different depth."
- VSCode Version:

Commit: a250df703de955a38aed427a917bce8278ab3331
Date: 2020-04-24T20:46:59.782Z
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

- OS Version:
![image](https://user-images.githubusercontent.com/4120386/80271377-6867cb00-865b-11ea-8c69-979f015e37a9.png)

Steps to Reproduce:
1. Create a `foo/test.js`
2. Create a symbolic link t

[2020-04-27 21:50] roblourens commented on #94159
Yeah, but the run cell area is not really a "menu" and nobody else should be able to contribute actions to it. If they do it will break the layout. It's just a special button. Thus it seems like an exception to the rule.

[2020-04-27 21:50] mjbvz commented on #96129
Thanks for the repro steps.

This is fixed for me in TypeScript 3.9. We won't bundle TS 3.9 for another iteration (VS Code 1.46). Until then, you can use `typescript@next` by installing [this extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next)

[2020-04-27 21:50] #96129 closed

[2020-04-27 21:51] tjanga commented on #93973
I just downloaded and installed it. I can confirm that this issue has been resolved in the latest update. Thank you!!

I did not have the exact problem described by OP, as mine was showing up in WSL2, so can't speak for OP.

Version: 1.45.0-insider (system setup)
Commit: 0778354f3a6a2c21b7f738a5e6b02e2f1c765e73
Date: 2020-04-27T05:42:11.567Z
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8

[2020-04-27 21:52] kirbygit commented on #96026
@alexdima I don't think I have `.editorconfig`. Here is my settings.json

[code]

[2020-04-27 21:55] mickeyegp73 opened #96304 "The terminal process command 'C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe' failed to launch (exit code: {2})"
Cannot open terminal. The following message appears
The terminal process command 'C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe' failed to launch (exit code: {2})

[2020-04-27 21:58] connor4312 opened #96305 "Test: profiling termination conditions and state"
Refs: https://github.com/microsoft/vscode-js-debug/issues/415

- [x] anyOS @egamma
- [x] anyOS @dbaeumer

Complexity:  3

---

Profiling (which you can start via the "Take Performance Profile" command or context menu item) now supports a couple termination conditions:

 - Manual -- run the profile until manually stopped
 - Interval -- run the profile for an amount of time, or until manually stoppe

[2020-04-27 22:00] alexdima commented on #96026
@kirbygit You have two JSON objects in there i.e.

[code]

this does not work, you need to remove the extraneous `}\n\n{` from the middle of your settings.

[2020-04-27 22:01] RMacfarlane commented on #95701
@jaredready Did you have multiple windows open when doing this?

[2020-04-27 22:05] FiloSottile opened #96306 "Allow customizing git status bar action"
The "Synchronize Changes" action performs a git pull and git push. This doesn't work with many workflows (for example with Gerrit, or anything that doesn't use merge commits), and is a pretty dangerous action when one just wants to pull the latest commits.

It would be nice to have a setting to customize the command that funs for the action, so one could for example set it to `git pull --rebase &&

[2020-04-27 22:08] mjbvz commented on #96191
Thanks. Same call stack as https://github.com/microsoft/TypeScript/issues/37938

[2020-04-27 22:08] #96191 closed

[2020-04-27 22:09] kirbygit commented on #96026
@alexdima hmm hold on, not rendered with squiggles at all

[2020-04-27 22:15] mjbvz opened #96307 "Support search in iframe based webview"
For #83188

## Problem
On desktop, VS Code's webviews using the electron `<webview>` tag. This gives a [nice api](https://www.electronjs.org/docs/api/webview-tag#webviewfindinpagetext-options) for searching inside a webview

However on web we use normal iframes for webviews. These currently don't support the search functionality because there is no equivalent API for searching inside a iframe.

Th

[2020-04-27 22:15] roblourens opened #96308 "Improve notebook drag and drop experience"
- ~~Dropping between cells should always insert between those cells. That is not how it works now due to how the cell padding is distributed.~~

- ~~Tweak the insertion indicator position~~

- ~~Don't show the full markdown preview while dragging~~

- Fix drag to scroll over cross-domain iframe webview widgets

- ~~Can't easily grab around markdown cell fold chevron~~

- ~~Dragging markdown cell i

[2020-04-27 22:20] Zorono commented on #95427
@deepak1556 that problem is mostly caused by our **Egyptian Domain Name Servers** which are blocking many of **Microsoft's Servers**(at least that's my explanation of my DNS problem and please forgive my small knowledge for any stupidness)... however

1. I Changed my **Domain Name Servers** from my Router Modem's cPanel for both the `DHCP` and `DNS` to **Google DNS**(Primary: `8.8.8.8` Secondary:

[2020-04-27 22:23] conioh commented on #33620
Thanks for the update. A few questions:

I have a machine. Can we get an officially-built VSCode for ARM64 (even an "alpha"/preview/whatever version) to test too? My machine is from a previous generation (Asus NovaGo, SD835) and I'd like to see that it works there too.

(If you have a test suite you'd want me to run I think I could do that too, if you don't have special environment requirements.)

[2020-04-27 22:26] ThrowawayAccount-lang commented on #93120
I don't really know what to say. Apparently this whole thing have been caused by a Minecraft client.. I am very disappointed. Also in myself, I am very sorry I wasted your time. I did not see that comment.
That kind of fixed my issue; VS Code now launches in less time, but still around 5-10 seconds, are those 5-10 seconds normal to launch VS Code? No project, no file, nothing at all, just VS Code

[2020-04-27 22:28] RMacfarlane commented on #94076
This is covered with https://github.com/microsoft/vscode/issues/94635: there's now an menu item to view what extensions and features are using an account

[2020-04-27 22:28] #94076 closed

[2020-04-27 22:28] connor4312 commented on #95381
This is similar to #95128, I put a workaround for in https://github.com/microsoft/vscode-js-debug/commit/6538f201351c1ef4d1d28b6217ae143ea1e6cf03 that should resolve it. Please let me know if you run into more issues.

/duplicate #95128

[2020-04-27 22:28] #95381 closed

[2020-04-27 22:30] RMacfarlane commented on #96157
Should be fixed with https://github.com/microsoft/vscode/commit/b05b32bfd86de0ead6456e4b0cc4339cf124e3e2

[2020-04-27 22:30] #96157 closed

[2020-04-27 22:30] kirbygit commented on #96026
@alexdima ok I see what you mean about `.editorconfig`. I did not create a symlink for that yet. Thanks for pointing out that the two json objects

[2020-04-27 22:32] connor4312 commented on #93230
Re the general suggestion:

this could be a solution. @jrieken you feel strongly about this -- do you have any thoughts on heuristics we should use to determine whether to auto-expand?

[2020-04-27 22:34] mjbvz commented on #96307
Solutions investigated:

- [`Window.find`](https://developer.mozilla.org/en-US/docs/Web/API/Window/find) — Non-standard. Doesn't provide enough control

- JavaScript library (such as [mark.js](https://markjs.io)) — Requires JS on page. Modifies page content

- [Find text](https://www.w3.org/TR/findtext/) and other proposals — Never standardized and no longer active :(

[2020-04-27 22:37] mjbvz commented on #95916
Duplicate of #90616

Webviews currently don't use real theme icons so their icons cannot be changed by extensions

[2020-04-27 22:37] #95916 closed

[2020-04-27 22:38] mjbvz commented on #90616
@aeschli Adding you for help with #92122. Let's try looking into this in May

[2020-04-27 22:39] mjbvz commented on #95824
So you're writing this JavaScript in an html file?

[2020-04-27 22:41] lumaxis commented on #96056
@sandy081 Attached the `.vsix` file. Note that I only renamed it to add the `.zip` file extension so that GitHub lets me upload it, it didn't actually zip it again.

[snippet-copy-0.2.0.vsix.zip](https://github.com/microsoft/vscode/files/4542308/snippet-copy-0.2.0.vsix.zip)

[2020-04-27 22:42] mtpultz opened #96309 "CPU/Memory Issue from Code Helper (Renderer)"
- VSCode Version: 1.44.2 (but has been an issue for awhile)
- OS Version: macOS Catalina

Steps to Reproduce:

1. Open VSCode and start working on an Angular application with a .Net Core C# backend
2. Wait and over time an hour-ish everything slows down to the point where I can't work due to the amount of CPU and memory consumed by Code Helper

Closing VSCode and reopening seems to provide a bit o

[2020-04-27 22:51] mjbvz opened #96310 "Add command to quickly switch editor types"
For #94408

**Feature request**
When using a custom editor—such as with the custom editor API or notebook api—have a command that lets you quickly switch between the custom editor and the default editor

[2020-04-27 22:51] mjbvz commented on #96310
Fixed by #96100

[2020-04-27 22:51] #96310 closed

[2020-04-27 22:52] deepak1556 commented on #93120
Awesome, thanks for confirming. I still have no clues what was the cause from badlion client, but good to know the issue is resolved.

Merging to https://github.com/microsoft/vscode/issues/56644

[2020-04-27 22:52] #93120 closed

[2020-04-27 22:53] alexdima commented on #96026
@kirbygit  OK. So everything works fine now?

[2020-04-27 23:13] mjbvz commented on #96310
**Verification**
1. Open a markdown file
1. Run `workbench.files.action.toggleEditorType`
1. It should open the preview
1. Run it again
1. It should open the source

[2020-04-27 23:16] mickeyegp73 commented on #96304
Tried but not working

[2020-04-27 23:16] weinand commented on #96297
We've introduced a new activation event `onDebugDynamicConfigurations` for this.
Please see mock-debug: https://github.com/microsoft/vscode-mock-debug/blob/6be4f5b4b246dafe25f1e1d8ef420f7dccd8f627/package.json#L56

[2020-04-27 23:18] infy-LinXiao opened #96311 "Update itself"
Issue Type: <b>Bug</b>

It tried to update itself without permission and failed to update. Also deleted itself and my workspace files inside the folder

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9900K CPU @ 3.60GH

[2020-04-27 23:19] mjbvz commented on #95685
Thank you for the investigation @alexdima

Yes the the rendering bug is Mac specific. The paragraph separator is rendered for me on windows but not on MacOS

[2020-04-27 23:23] vchouhan commented on #95708
MAC OSX: 10.15.5
[extensions.txt](https://github.com/microsoft/vscode/files/4542475/extensions.txt)

VSCODE
Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T17:07:18.473Z (1 wk ago)
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0

This usually happens while working on JSX files. I've disabled all formatting on

[2020-04-27 23:25] rebornix opened #96312 "Test: "Reopen with" command and Editor Associations"
Refs: #94408

- [ ] anyOS @alexdima
- [x] anyOS @roblourens

Complexity: 4
Authors: @mjbvz @rebornix

----

This iteration, we made "File: Reopen With..." and setting `workbench.editorAssociations` options generic , which can be used for both Custom Editor and Notebook.

*Setup*

* Install the [Github issue notebooks](https://github.com/microsoft/vscode-github-issue-notebooks extension
* Create a

[2020-04-27 23:25] RMacfarlane opened #96313 "Test: GitHub Pull Request extension adoption of Auth Provider API"
Refs: https://github.com/microsoft/vscode-pull-request-github/issues/1616

- [x] macOS @egamma
- [x] linux @isidorn
- [x] windows @kieferrm

Complexity: 2

---

The GitHub Pull Request extension is now using the GitHub authentication provider. The provider has been rewritten to use the GitHub authentication server instead of directly hitting github.com.

Using the nightly version of the extension

[2020-04-27 23:27] #93214 closed

[2020-04-27 23:28] mjbvz commented on #94408
Moving to May for settings and keybindings UI adoption

[2020-04-27 23:32] rebornix opened #96314 "Test: customized placeholder for comment editor"
Refs: #92794

- [x] Windows @gregvanl
- [x] anyOS @alexr00

Complexity: 2
Authors: @rebornix

----
Previously the inputbox of in a comment widget always shows `Reply ...` as the place holder and displays `Create a new comment` when the input box is focused. Extensions can customize it by setting `options` on `CommentController`

*Setup*

* Clone https://github.com/microsoft/vscode-extension-sample

[2020-04-27 23:34] commonsensesoftware commented on #3553
To add to the party, I thought I'd add a related, but different use case. I am not and do not want to build an extension. I am trying to build a _Debug_ task when working with Rust. Rust will build a separate executable per integration test file. The debugging experience works just fine, but changing the **launch.json** file all the time to choose a different startup item doesn't make sense. The s

[2020-04-27 23:37] mjbvz commented on #94824
Where are you triggering IntelliSense? In the import path? Could this be coming from an extension? I don't see any suggestions in this case

[2020-04-27 23:51] DHowett-MSFT commented on #42356
@Tyriar I'm somewhat affronted at your assertion that Terminal is using a private API we wouldn't expose to anybody else.

There's no magic here. It just luckily works out for Terminal sometimes. It's being tracked by https://github.com/microsoft/terminal/issues/2988, and there's really no good solution for us _or_ for you. PowerShell cmdlets need to not have a dependency on the window they're hos

[2020-04-27 23:52] mjbvz commented on #93762
@aeschli We currently highlight these code snippets using our normal grammar. This doesn't  work all the time because the snippets are often not valid TypeScript / JavaScript

I wonder we could let extension return semantically highlighted text that we then use to render the snippet. The TypeScript server API already marks up the snippet using `SymbolDisplayPart` which should tell us what is a `ke

[2020-04-27 23:53] DHowett-MSFT commented on #42356
Reading up a few move comments:

@the-ress The snippet you identified [here](https://github.com/microsoft/terminal/blob/4dd476ecbd2dca59f288304d2b7581c8ff4c6e38/src/server/ProcessList.cpp#L295) serves a totally different purpose: it marks the application that spawned the console window as _owning_ the console window. This makes things like task manager and process explorer able to map from a HWND

[2020-04-27 23:54] kirbygit commented on #96026
@alexdima Thank you, all good now

[2020-04-27 23:58] mjbvz opened #96315 "Test proposed custom editor API"
Refs #77131

- [ ] Mac @alexdima
- [ ] Linux @deepak1556
- [x] Windows @roblourens

Complexity: 5

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%2396315%0A%0A)

---

Test using the updated custom editor API proposal from #77131. To be clear, this is the proposal for full custom editors (such as for binary editors) and not the already finalized api for custom text edit

[2020-04-27 23:59] Ynewtime commented on #95521
No, not working, with or without proxy environment variables(i.e. system http_proxy and https_proxy). Same error. I would like to post a screenshot but I am not allowed to upload files without permission, sorry.

[code]

[2020-04-28 00:08] Ynewtime commented on #95521
Log(Window) output:

[code]

Extensions sidebar output:

[code]

[2020-04-28 00:11] IllusionMH commented on #96301
/duplicate of https://github.com/microsoft/vscode/issues/94316

It's implemented only for HTML at this point.

JSX requires additional work as described in linked issue. Vue extension would need to implement support when API is finalized.

[2020-04-28 00:11] deepak1556 opened #96316 "Test: update to electron 8"
Refs: https://github.com/microsoft/vscode/issues/94074

- [x] macOS @eamodio
- [x] linux @JacksonKearl
- [x] windows @sbatten

Complexity: 4

---

We plan to promote Electron 8 in the next milestone for Insiders. Download the latest released Code Exploration build from [here](https://builds.code.visualstudio.com/builds/exploration)

**Verify:**
* our smoke tests pass when run against this build (i

[2020-04-28 00:12] #96301 closed

[2020-04-28 00:12] mjbvz commented on #92762
Closing as we need more information from the original poster to investigate this

[2020-04-28 00:12] #92762 closed

[2020-04-28 00:15] mjbvz commented on #90602
Closing this as I can't figure out what is going on from the error stack

[2020-04-28 00:15] #90602 closed

[2020-04-28 00:16] mjbvz commented on #90380
Duplicate of #86864

[2020-04-28 00:16] #90380 closed

[2020-04-28 00:18] jmaicaaan commented on #96195
Until the changes not out of preview, we need that extension for the meantime?

[2020-04-28 00:22] connor4312 commented on #96195
Yes. We plan to switch js-debug to be the default debugger on Insiders next week, so if you use Insiders no action will be needed.

[2020-04-28 00:22] Ethan-Arrowood commented on #95939
Woo big output:
<details>
<summary>Dump:</summary>
<p>
[code]
<p>
</details>

[2020-04-28 00:24] #93687 closed

[2020-04-28 00:24] #94778 closed

[2020-04-28 00:24] #95970 closed

[2020-04-28 00:26] alefragnani commented on #11468
@gjsjohnmurray I never thought the API would be that way. I was thinking about a group/category data _attached_ to each `QuickPickItem` and the `QuickPick` itself would deal with grouping and counting the items in each group (when properly turned on with a new `QuickPickOptions` option). At first sight, I thought the groups (line separator and labels/counting) would be generated _automatically_.

[2020-04-28 00:27] alexdima commented on #94778
Starting with the next Insiders build, this can be effectively turned off via `"files.maxMemoryForClosedFilesUndoStackMB": 0`. I will bring up the name in tomorrow's stand-up meeting and keep you posted if we rename the setting.

[2020-04-28 00:28] rushvora commented on #46886
@isidorn Tested in the latest insider build - Version: 1.45.0-insider. No extensions installed, fresh build I just downloaded to try this out. (I mistakenly thought the feature hadn't made it to stable since it's still not draggable)

It partly works. It's still not draggable, but the size does expand, only when all the other sections are collapsed. I have attached a screenshot to show the same, w

[2020-04-28 00:28] roblourens commented on #94408
I'm not sure about using this for settings, since we don't consider the different scopes to be in different settings GUI resources/editors. It doesn't fit my mental model. Makes sense for keybindings though.

[2020-04-28 00:30] jmaicaaan commented on #96195
Got it, thanks for the quick response!

[2020-04-28 00:31] jeanbrazcosta commented on #96153
@jvesouza and @isidorn, I did a test here by putting all the required settings but for me it didn't work
I'm using NVDA.
This is the file that I am trying to edit, and I can't seem to read that line 54
[index.txt](https://github.com/microsoft/vscode/files/4542722/index.txt)

[2020-04-28 00:31] Tyriar commented on #94408
@roblourens why not swap between whatever file it is based on the settings editor tab is opened? Sure it's a little different but it would be nice to have the same command/keybinding for switching to the text versions of keybindings, notebooks, custom editors and settings.

[2020-04-28 00:33] TylerLeonhardt commented on #42356
Totally agree... but considering so many PowerShell customers have relied on:

* [Out-GridView](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/out-gridview?view=powershell-7) for visualizing data/manually filtering a pipeline
* WinForms & WPF (to a point where they've made tooling around it: https://poshgui.com/)
* Some Azure PowerShell cmdlets still pop a GUI... a

[2020-04-28 00:37] mmghv commented on #94778
@alexdima Great, thank you.
Do you think it's possible to add a command to clear undo history for current file/session? that would honestly be very useful and would allow for more control while trying benefiting from the "persist undo" feature, should I open a new issue for that?

[2020-04-28 01:00] brunoNetId commented on #96242
No, I only control the one I'm developing, but the user would be making use of both.
I'm relatively new to VSCode and I don't know well what the possibilities are. I did find the reload command (mentioned in the description), it's just missing to take a webview 'id' to refresh.
I was hoping the API would allow to get the list of open editors (from the explorer for instance) and pick the one corres

[2020-04-28 01:00] sbatten opened #96318 "Test: Dynamic View Containers"
Refs: #94688

- [x] anyOS @kieferrm
- [x] anyOS @alexr00

Complexity: 3

---

This milestone, we made improvements to how view containers use icons and titles when moving around. Further, we have allowed view containers to be moved as a unit, allowing them to preserve their icon and title.

The general info needed to test:
* Containers come in 2 flavors: Registered and Generated. Registered contai

[2020-04-28 01:03] mjbvz commented on #96242
Related #15178

Webviews are only known to the extension that created them so they don't really have a concept of an id that other extensions can use. How about filing a feature request against the extension that provides these webviews to add an API for refreshing them?

[2020-04-28 01:07] forrestthewoods commented on #38878
I have a workspace with over 200 sub-projects and many dozens of gitignore files. It's absurd and highly error prone to replicate every single gitignore into the `.code-workspace` file.

Can we re-open this feature request? There is clear demand and clear value.

[2020-04-28 01:28] connor4312 opened #96319 "Test: Smoke Test"
- [x] Windows @rebornix
- [x] Linux @JacksonKearl
- [x] MacOS @Tyriar
- [x] anyOS (Web Chromium) @eamodio

Complexity: 3

---

**NOTE:** Desktop & Web tests MUST run with `--build` argument

**NOTE:** Desktop tests MUST run with `--stable-build` argument additionally

Documentation: https://github.com/Microsoft/vscode/blob/master/test/smoke/README.md#run.

If the automated tests fail, create and i

[2020-04-28 01:28] keelung-yang commented on #94862
No error reported.

[2020-04-28 01:32] Yudezhi commented on #95848
I think it's really important for the experience for the users, why not deal with it in the vscode-insider?

[2020-04-28 01:38] roblourens commented on #94408
You can already have the same keybinding and you won't have to pick from two options in a quick pick. I can look into it though.

[2020-04-28 01:45] gopalkriagg commented on #15604
@jpenna Is that symbol decided? Because my VSCode doesn't seem to react to ~ or ^ https://github.com/microsoft/vscode/issues/95918 is closed because it is duplicate of this issue.

[2020-04-28 01:52] roblourens commented on #93991
Oh, definitely that. I was thinking that was the case but I think I enabled it when sync _can_ be enabled.

[2020-04-28 02:05] argarner opened #96322 "TS Server fatal error: Cannot read property 'path' of undefined"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

**TypeScript Version:** 3.7.5
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 18.7.0

<details><summary>Extensions (49)</summary>

[2020-04-28 02:06] jvesouza commented on #96153
@isidorn  I tested with the file attached by @jeanbrazcosta and had no problems. However, I found that if I change the parameter value from 20 to 10 or 50, the problem appears again.
It seems to me that there is no simple way to correct this because the issue is not the number of lines but the number of characters. I understand that if the total number of characters in the 20 lines to be placed in

[2020-04-28 02:11] roblourens commented on #95861
Sure. I would maybe put the term last though since it could be long.

[2020-04-28 02:13] mjbvz commented on #96322
Do you see this using TypeScript 3.8+?

[2020-04-28 02:22] roblourens commented on #96081
I can repro, but I have no clue. Maybe some environment variable that node is looking at? No idea what else the difference would be.

[2020-04-28 02:24] roblourens commented on #96088
Can you check whether the Python extension helps you here? I am not totally familiar with that workflow but I think it has an option to fix your terminal environment.

[2020-04-28 02:26] alianZhen opened #96323 "Build latest vscode-oss get error end of central directory record signature not found"
[10:11:38] Node flags detected: --max_old_space_size=8192
[10:11:38] Respawned to PID: 720
[10:11:44] Using gulpfile D:\vscode\VSCodeBase\gulpfile.js
[10:11:44] Starting 'vscode-win32-x64-min'...
[10:11:44] Starting clean-out-build ...
[10:11:44] Finished clean-out-build after 4 ms
[10:11:44] Starting compile-build ...
[10:11:47] Starting compilation...
[10:13:06] Finished compilation with 0 error

[2020-04-28 02:42] argarner commented on #96322
@mjbvz
- `error notarget No matching version found for typescript@3.8.0`
- installed typescript@3.8 instead, which installed 3.8.3
- `ERROR in The Angular Compiler requires TypeScript >=3.6.4 and <3.8.0 but 3.8.3 was found instead.`
- localhost:4200 displays `Cannot GET /`

[2020-04-28 02:49] Wanye1062271859 opened #96324 "The keyboard shortcut doesn't work on setting UI window"
- VSCode Version: 1.44.2
- OS Version: Windows x64 10.0.18363

Steps to Reproduce:
1. Open Setting UI page
2. Expand Text Editor node and switch to Cursor node
3. Click on the item "Cursor Blinking"
4. Press Shift+F9 to invoke More Actions...

Expected:
The following action list show up
![image](https://user-images.githubusercontent.com/29274719/80441613-d8b56b80-893d-11ea-99df-4b57623a559b.png)

[2020-04-28 02:52] OSG-Proj commented on #95824
Embedding it

[2020-04-28 03:00] Wanye1062271859 opened #96325 "Intellisense tip "Process keyword" was not localized"
- VSCode Version: 1.44.2
- OS Version: Windows x64 10.0.18363
- Language: Non-English

Steps to Reproduce:
1. Open a workspace which contains a .cpp file
2. Open a cpp file
3. Type "#include" in the cpp file

Expected:
The intellisense tip "Process keyword"  was localized

Actual:
"Process keyword" was not localized
![image](https://user-images.githubusercontent.com/29274719/80442415-68a7e500-893f

[2020-04-28 03:02] jibberishclient opened #96326 "[seti] icon for postcss"
I've configured my .css extension to map to postcss syntax in VS Code. However, once I do so in the JSON settings I lose my default icons:

![image](https://user-images.githubusercontent.com/11995299/80442493-02897680-88db-11ea-98a4-6c74d8d68ace.png)

Is there a way to configure a single icon for a particular file extension preferably without a 3rd party plugin? vscode-icons seems to override the

[2020-04-28 03:02] Manipandian opened #96327 "Intellisense loading for a long time"
Some times visual studio intellisense are loading for a prolong time. But after i close the VS code and open again, it works fine for next 5 minutes. And again intellisense stop showing. Even after i enter (CNTRL + SPACE) it shows like "loading" message for a long time. I was facing this issue in javascript intellisense, But i think this issue has came from basic vs code intellisense.

[2020-04-28 03:03] JasmineJi opened #96328 "希望在Jupyter中添加目录导航和html的支持。"
我觉得vscode内置了Python Jupyter 非常贊，现在已经是我码代码的主力。在使用过程中，我觉得有一下两个功能会更好。
1. 打开ipynb文件的时候，vscode的侧边栏希望可以利用起来。比如自动Markdown的目录导航。
2. 输出部分希望支持对html输出的渲染。

最后，感谢vscode的开发者，vscode用起来很棒。

[2020-04-28 03:12] HuXiaoTu opened #96329 "Global search is too slow"
Issue Type: <b>Performance Issue</b>

search err，Global search is too slow，Console error：Failed to load resource: the server responded with a status of 500 (Internal Server Error)

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Co

[2020-04-28 03:17] roblourens opened #96330 ""Run notebook cell" editor title action is missing"
Add a new context key to do this correctly

[2020-04-28 03:18] Manipandian commented on #93194
I am not using any specific extension for javascript but I am also getting this issue, Not only in javascript, for all types of code this issue is happening.

[2020-04-28 03:45] theblindguidedog commented on #94931
I have the same problem but when I changed it from quickSuggestions: null to quickSuggestions: false everything stopped opening including the settings. I have uninstalled VSCode and reinstalled it and it just doesn't want to open any files at all. I am going back to atom. It just works.

[2020-04-28 03:53] ankitbihani commented on #96189
anything wrong in what i wrote ??
i have started learning to code recently only .
how do i tell you how to get intellisense right ?

[2020-04-28 03:58] mjbvz commented on #96322
What if you use VS Code's built-in version of typescript (3.8.3) instead of your workspace version?

[2020-04-28 04:00] mjbvz commented on #95824
Duplicate of #26338

[2020-04-28 04:00] #95824 closed

[2020-04-28 04:08] qkreltms opened #96331 "Comment on Folder or File"
For now comment is possible  on code blocks like
[code]
I'm looking for comment on file or folder when mouse is over them when I wrote comment on it then It would appears like
![12](https://user-images.githubusercontent.com/25196026/80446199-2ab3bc80-8951-11ea-834a-f91eb9b50b2a.png)

[2020-04-28 04:56] GitMensch commented on #23570
As #30857 was closed as a duplicate of (partially) this and there's a real relevance to be able to set the encoding via file-path (although it likely will work for many to set per workspace, but not all people use the workspace approach and you are not unlikely to have files in the same workspace that use a different encoding): "please reconsider and opening this issue".

I guess the biggest point

[2020-04-28 05:13] chrmarti commented on #95708
Does this occur with all extensions disabled? (`F1` > `Developer: Reload With Extensions Disabled` or `code --disable-extensions`)

[2020-04-28 05:17] SPGoding opened #96332 "Semantic coloring issues for SPGoding.datapack-language-server extension"
I currently only have this issue with my [SPGoding.datapack-language-server](https://marketplace.visualstudio.com/items?itemName=SPGoding.datapack-language-server) extension, however this is not a bug of this extension because the information shown in `Developer: Inspect Editor Tokens and Scopes` is correct (or I might misunderstood something?).

## The Problem

At first everything looks great. Ho

[2020-04-28 05:17] chrmarti commented on #95521
@Ynewtime Can you launch code with `--log-net-log=netlog.json`, perform some requests (search extensions, update check) and attach the generated log file?

[2020-04-28 05:21] Ikuyadeu commented on #94751
In my idea, my extension and linter are MIT, so it can be used in this repository like language syntax files by the following steps.

1. Importing my extension as the basic vscode function
2. Using rule file as the .vscode/rules.json that refer the #88391 knowledge.
3. Putting the rule files on the extension template in Yo.
4. New extension users can get the warning by the rule file.

How do you t

[2020-04-28 05:22] chrmarti commented on #11468
The built-in filtering removes all separators because it also sorts across groups by the best match. `Go to Symbol` does its own filtering and sorting, the `createQuickPick` API would allow you to do the same once we support disabling sorting and filtering.

[2020-04-28 05:23] chrmarti commented on #94862
Thanks! Marking verified.

[2020-04-28 05:31] mojo2012 opened #96333 "[Code completion] don't close popup on cursor left/right"
I'm a long term user of Eclipse and one of the things I really miss when using VSCode is that the autocomplete popup closes when pressing cursor left or right.
The behaviour is best understood with two little gifs

Eclipse:
![eclipse_autocomplete](https://user-images.githubusercontent.com/1330361/80450568-11dfe280-8922-11ea-98d3-d42e79e0a817.gif)

VSCode:
![vscode_autocomplete](https://user-images

[2020-04-28 05:36] telamonian commented on #22068
I saw the coder cat [sample extension](https://github.com/Microsoft/vscode-extension-samples/tree/master/webview-sample), and I also looked over the webview and [custom editor API](https://code.visualstudio.com/api/extension-guides/custom-editors). I'm still a bit confused, though. Is there now enough extension points in vscode to make it practical for someone to build the kind of one-tab side-by-

[2020-04-28 05:44] telamonian commented on #22068
Lately I've been trying to migrate from intellij to vscode. For the most part it's been great, but I'm finding the way that vscode opens previews for markdown, svg, etc in a new editor group to be kind of hard to deal with. In vscode after I open, say, a markdown preview, the next code file I open then ends up in the new editor group that was created for the markdown preview. This creates a UX pro

[2020-04-28 05:47] BobbyBabes commented on #15135
Could we pretty please have this? With sugar on top.

[2020-04-28 05:57] #96244 closed

[2020-04-28 05:57] #96275 closed

[2020-04-28 05:58] ZackPlauche opened #96334 "Cant' close "Search In Files (Ctrl + Shift + F)" Functionality"
Issue Type: <b>Bug</b>

1. Press Ctrl+Shift+F
2. Press every button on the search to try to close it.
3. Press Ctrl+Shift+F again to try to close it.
4. Realize you can't intuitively close it without switching to another left bar menu.
![image](https://user-images.githubusercontent.com/43456955/80452155-53768a80-892e-11ea-81fd-271390ed7c07.png)

VS Code version: Code 1.44.2 (ff915844119ce9485abfe8

[2020-04-28 06:12] Ynewtime commented on #95521
Problem solved, must be my company's proxy issue. My company provide proxies for different regions, I used to use the HK one and encoutered with the `ERR_PROXY_CONNECTION_FAILED` error with insiders version, but after I switched to different proxy, the error appear no more. So this should be my problem. And thanks for your patience!

[2020-04-28 06:38] evildeb opened #96335 "live server and open in browser extension nor working"
![vs code](https://user-images.githubusercontent.com/58780597/80455089-c0971980-8948-11ea-807b-78e2a918780b.png)
![vs code](https://user-images.githubusercontent.com/58780597/80455110-cb51ae80-8948-11ea-9d7e-7b265600537c.png)

Issue Type: <b>Bug</b>

i installed node js .then installed bootstrap via  vs code terminal.it downloaded node modules but open in browser and live server extensions are not

[2020-04-28 06:49] jrieken commented on #88230
Re-open to keep this item around for API finalization

[2020-04-28 06:51] jrieken commented on #96102
You can simply type in that list to filter or find, just like in all other lists.

[2020-04-28 06:51] #96102 closed

[2020-04-28 06:55] jrieken opened #96336 "Workspace symbol search broken"
* see attached screen shot (latest insider, latest ts)

<img width="1000" alt="Screenshot 2020-04-28 at 08 55 13" src="https://user-images.githubusercontent.com/1794099/80456512-ff6ba600-892d-11ea-9fa6-962bcde58465.png">

[2020-04-28 06:56] sveinse commented on #96143
Ok, thanks. I tested adding my list of (sub)repos to `git.scanRepositories` in my workspace settings to `"git.scanRepositories": [ ".", "${workspaceFolder}", "repo1", "repo2", "${workspaceFolder}/repo1", "${workspaceFolder}/repo2" ], but none of these produced any results. The source control view only contains the top-level repo. I'll write a new bug report on it.

[2020-04-28 07:00] jrieken commented on #95912
You can merge the static list with the information from the `CommandsRegistry` - which also fires `onDidRegisterCommand`-events when commands come and go.

Anyways, having the schema is great, it helps with suggestions and maybe hover, but IMO the warning squiggle is too aggressive. I am sure there is a way to configure JSON to be less aggressive about this

[2020-04-28 07:00] #96189 closed

[2020-04-28 07:01] evildeb commented on #96335
IT ALL HAPPENED AFTER I INSTALLED NODE JS.u bots are so dump.resolve asap or else i wil have to switch back to sublime

[2020-04-28 07:01] jrieken commented on #96189
This issue lacks the necessary information that allows to action on it