[2021-02-18 05:57] rebornix commented on #116919
I'm not sure whether it's scrolling lag or weird resize handler.

[2021-02-18 06:02] Sauron2009 commented on #116862
hello?

[2021-02-18 06:02] MrTravisB opened #116920 "Expand folder in explorer with single click broken"
- VS Code Version: Latest insiders
- OS Version: Mac OS Big Sur on M1 Macbook Pro

I can no longer expand a folder in the explorer with a single click. `workbench.list.openMode` is set to `singleClick`. This just started happening a day or 2 ago.

[2021-02-18 06:04] sanketbh opened #116921 "Error while editing markdown"
command 'markdown.showPreviewToSide' not found
![Screenshot from 2021-02-18 11-34-21](https://user-images.githubusercontent.com/72594303/108312842-50aa9600-71dd-11eb-9421-82bf3a6b6152.png)

[2021-02-18 06:05] jarl-dk opened #116922 "Cannot run vscode or run tests after building from source code"
- VS Code Version: 1.52.1 (git commit ea3859d4ba2f3e577a159bc91e3074c5d85c0523)
- OS Version: Ubuntu 20.04.2

Steps to Reproduce:

1. clone repository and checkout tag `1.52.1`
2. Build (following https://github.com/microsoft/vscode/wiki/How-to-Contribute#build-and-run), run
[code]
3. Run the unit tests (following https://github.com/microsoft/vscode/blob/main/test/unit/README.md):
[code]
4. Run vs

[2021-02-18 06:10] bersbersbers commented on #113818
Yes, the tab actions are causing all kinds of weird effects. Here's another two:

![T33W2O3f4K](https://user-images.githubusercontent.com/12128514/108312604-483f6480-71b7-11eb-860e-15ff2715519b.gif)

1. Note how `tifftools.py` moves left in one step when I activate the TeX file, but then moves right in two steps when I activate the right-most Python file.
2. Note how the `x` of the TeX file moves

[2021-02-18 06:12] gjsjohnmurray commented on #116920
/duplicate of #116804

[2021-02-18 06:13] gjsjohnmurray commented on #116916
/duplicate and fixed in 1.53.2

[2021-02-18 06:13] #116920 closed

[2021-02-18 06:14] #116916 closed

[2021-02-18 06:20] bpasero commented on #116871
Can you check what you have configured in settings exactly? Maybe you configured it in workspace settings?

[2021-02-18 06:20] #116542 closed

[2021-02-18 06:21] misolori commented on #116740
Here's the initial exploration of what profiles could look like, starting with a basic example of setting up a "Demos" profile. In this profile, the user can choose to either start with an empty profile (no settings/extensions) or keep their existing data. Settings could look something like this:

[code]

The "Demos" profile inherits the current settings a user has and adds additional settings on

[2021-02-18 06:22] rebornix opened #116923 "Custom markdown renderer: click on long markdown cell scrolls the view"
Issue Type: <b>Bug</b>

Not seeing this with builtin markdown: when clicking on a markdown cell at the viewport boundary, the editor will scroll a bit

VS Code version: Code - OSS Dev 1.54.0 (Commit unknown, Date unknown)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9700K CPU @ 3.60GHz (8 x 3600)|
|GPU Status|2d_

[2021-02-18 06:24] bpasero commented on #114307
@isidorn implementation wise I wonder if there is a better way of adding the hint than listening for each editor opening and adding it. I feel this should be a code editor contribution like the "Open Workspace" button is, would you agree?

For example here is how we do that: https://github.com/microsoft/vscode/blob/a5b078b5514cbe30ba3b9447c44faf910ca98799/src/vs/workbench/browser/codeeditor.ts#L21

[2021-02-18 06:25] bpasero commented on #116862
/duplicate https://github.com/microsoft/vscode/issues/114459

[2021-02-18 06:26] #116862 closed

[2021-02-18 06:29] rebornix commented on #115044
This issue should be gone now as we move to the new API and only compare `outputItems` now.

[2021-02-18 06:29] #115044 closed

[2021-02-18 06:32] ytimenkov commented on #30562
I wonder would it be possible to make a small button on the right of commit message to pop it up?
From user perspective it's good for small messages you can type directly, for large messages you can edit in an editor and then sync it back.

VS Code team has done a lot of improvements to that edit field 👍 the last inconvenience is dynamic word wrap: even though 50/80 character lines are warned the

[2021-02-18 06:33] gjsjohnmurray commented on #116894
/duplicate - thanks @yume-chan

[2021-02-18 06:34] #116894 closed

[2021-02-18 06:36] RobertKlohr commented on #116593
The reason I opened this is that the write-up for the new search feature seemed to imply (at least to me but I may have been reading too far between the lines) that there was now functional parity between the search in the view and search in the editor as they were now sharing a common search.mode setting and having separate key binding was no longer needed.

As this was marked as a duplicate of #

[2021-02-18 06:51] misolori commented on #114730
I took another look and was able to slightly tweak the padding of the cells, move the toolbar, and shorten the bottom cell toolbar to accommodate the changes. I think this will slightly improve the overlap, though at this point we can't really go any taller or move the toolbar. The tricky part here is that if you move the toolbar higher for markdown cells, it looks out of place for code cells. And

[2021-02-18 06:56] gjsjohnmurray commented on #116921
/needsMoreInfo how about version and platform for a start? And whether you still have the problem when you run with all extensions disabled.

[2021-02-18 06:59] JOHNNIKHIL opened #116924 "Broke after update"
We have written the needed data into your clipboard be
Issue Type: <b>Bug</b>

Mam/Sir,
Greetings from me.
 After the update my php programs are not running anymore. Like I have idea how to fix my issue . Hope you can fix my issue.
Contact me on johnnikhil204@gmail.com

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0

[2021-02-18 07:02] jarl-dk opened #116925 "Cannot build latest main from source"
- VS Code Version: latest main (commit 6eaef7d42f982a0e9b22ac465245fc2c27721fd0)
- OS Version: Ubuntu 20.04.2

Steps to Reproduce:

1. Checkout source code accoriding to https://github.com/microsoft/vscode/wiki/How-to-Contribute#build-and-run
2. Build according to https://github.com/microsoft/vscode/wiki/How-to-Contribute#build-and-run, that is
[code]

This will result in
[code]

Workaround:
It se

[2021-02-18 07:02] dhruvit-r commented on #115873
Just wanted to point out that the default `workbench.tree.expandMode` is `doubleClick` on the latest insiders build, and this will probably irk a few of us who are used to `singleClick` being the default (there are a couple duplicate issues already: #116804 and #116905).

Build Info:
[code]

[2021-02-18 07:07] jarl-dk commented on #116922
The problem also exists on latest main.

[2021-02-18 07:10] kirillperian commented on #116816
I'd love to follow the steps, but I need more info since I am new at VS Code. Can you tell me which extension causes it? I only have C# 1.23.9, evermonkey 2.4.5 and SQL Server (mssql) extensions installed.

[2021-02-18 07:16] bpasero commented on #116112
I removed `IActionViewItem` from `IComposite`, I think moving `IComposite` is not an option.

[2021-02-18 07:24] RavidAshurov opened #116926 "terminal gets stuck on an input language"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

Hi,
I am using both English and Hebrew in my keybored, and since the last update, the terminal get stuck with One of them (usually Hebrew) and not switching input language.
The OS and the rest of the programs do switch just fine.
Also the editor itself switch Ok.

The only wa

[2021-02-18 07:25] isidorn commented on #114307
@bpasero hey there. I was actually thinking about that, but some reasons why I decided to do it like a workbench contributions:
1) I only want to show it for the active editor, not for every editor
2) I was not 100% sure how to get `IEditorInput` from the `ICodeEditor`. I needed the IEditorInput to figure out if the ICodeEditor is Untitled

Though I can change to the IEditorContribution. Let me kn

[2021-02-18 07:35] #116735 closed

[2021-02-18 07:36] frenkcleven commented on #116879
Thanks! I was looking for a downgrade binary but was unable to find one. This will do for now.

[2021-02-18 07:37] bpasero commented on #114307
@isidorn you can use get the URI of the editor easily, see how we do it here:

https://github.com/microsoft/vscode/blob/a5b078b5514cbe30ba3b9447c44faf910ca98799/src/vs/workbench/browser/codeeditor.ts#L247-L254

You can just check for scheme being `untitled`.

[2021-02-18 07:40] bpasero commented on #116132
It seems this issue needs more info for how to reproduce, so removing from Feb.

[2021-02-18 07:48] isidorn commented on #116872
Dup of https://github.com/microsoft/vscode/issues/116423

[2021-02-18 07:48] #116872 closed

[2021-02-18 07:50] jheaff1 commented on #115851
I followed the instructions given here https://github.com/microsoft/vscode/issues/115784#issuecomment-776602788 and can run new versions of VSCode on CentOS 7 with no issues

[2021-02-18 07:54] linxiaoyun12 opened #116927 "Drag tag system no response"
Issue Type: <b>Bug</b>

Drag and drop the tag of the split view

![recording](https://user-images.githubusercontent.com/25984068/108439577-85c1f180-728c-11eb-9562-89f7b32d6f99.gif)

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2021-02-18 07:58] isidorn commented on #85708
Yeah. We can look into this. Assigning to this milestone, and if I do not have time I will push out to march.

[2021-02-18 08:00] jdneo commented on #107467
Hi @connor4312,

Having a question about `TestProvider.createDocumentTestHierarchy()`. By saying that:

`they can implement createDocumentTestHierarchy which will allow vscode to show code lenses and structure even for unsaved changes` (in https://github.com/microsoft/vscode/issues/107467#issuecomment-756476231)

Does that mean that the extension should call `TestProvider.createDocumentTestHierarc

[2021-02-18 08:01] jrieken commented on #116869
fyi @alexdima

[2021-02-18 08:05] isidorn commented on #116911
Yeah having multi selection in Breakpoints view makes good sense.
For now assigning this to On Deck and we might look into adding this in the future.
Thanks!

[2021-02-18 08:07] bpasero commented on #107722
After discussion with Deepak, we figured out that services we talk to need to be configured properly to have `Access-Control-Allow-Origin: vscode-file://vscode-app` as response header if CORS is enabled.

Refs: https://github.com/microsoft/vscode-internalbacklog/issues/1824

[2021-02-18 08:07] #107722 closed

[2021-02-18 08:07] jrieken commented on #116906
I find it funny that an extension does not know its own id? With that in mind you can go `vscode.extensions.getExtension('me.my')` and the returned object has everything you need.

I also don't see the logic in cherry-picking some properties and exposing/re-exporting them like that. Why version and not publisher or dependencies. If we really think knowing your own extension id is too much of a bur

[2021-02-18 08:18] isidorn commented on #116902
@gregg-miskelly makes sense. I think we use the native hover in the Breakpoints view which does not allow to be clicked on.

@Tyriar @alexr00 I believe the custom hover also behaves like this. But do we have some special solution for this when there are links? To be able to click on the hover? Or we should tackle this as part of https://github.com/microsoft/vscode/issues/115034

[2021-02-18 08:19] player2135 opened #116928 "VS Code has a problem on Windows Server"
- VS Code Version:1.53.1(system setup)
- OS Version:Windows Server 2019

Steps to Reproduce:

1. First person use Remote Desktop(mstsc) and username "administrator" connecting Windows Server 2019, Open VS Code
2. Second person also use Remote Desktop(mstsc) and username "administrator" connecting Windows Server 2019, Open VS Code
3. The second VS Code window is not shown in the second person's rem

[2021-02-18 08:20] jrieken commented on #116112
Thanks everyone

[2021-02-18 08:22] #116112 closed

[2021-02-18 08:28] PaulPCIO commented on #28432
The same issue on windows 10 **wsl** using ubuntu remote.

1. An easy way to recreate the problem, use terminal to create a folder in the current directory:
[code]

2. The folder does not show up in vscode untill you hit the refresh icon:
![image](https://user-images.githubusercontent.com/39598117/108327224-6f079600-71cb-11eb-986c-59ee9fb65aa9.png)

[2021-02-18 08:35] joaomoreno commented on #115873
You're correct. I'll revise this phrase.

The former applies to all lists and trees. The latter only to trees. Basically trees are also lists, but not the other way around. 😉

[2021-02-18 08:41] chrmarti commented on #116687
Thanks @gjsjohnmurray, missed your suggestion earlier. I have updated the link.

@Tyriar (seeing you are the lastest updater of the wiki page) Should https://github.com/microsoft/vscode/blob/main/CONTRIBUTING.md just point to the wiki page?

[2021-02-18 08:41] stevage commented on #45156
This issue (specifically #97439) is incredibly infuriating. Especially when you have a variable in scope that you want to view the value of, yet the debugger auto-completes on "enter" and gives you something completely different.

![vscode-autocomplete](https://user-images.githubusercontent.com/678344/108329229-3eeae200-7221-11eb-8b9b-0cee20d4361c.gif)

[2021-02-18 08:43] syedmuhammadahmadshah opened #116929 "'g++' is not recognized as an internal or external command, operable program or batch file."
g++' is not recognized as an internal or external command, operable program or batch file

[2021-02-18 08:49] SharakPL commented on #40239
You can commit extension pack. I bet you can even make a script that would install it automatically or you can simply describe what needs to be done in the readme. This way you have only 1 extension to enable/disable in workspace. That's the way Microsoft suggests for sharing extension configuration in a project.

[2021-02-18 08:53] isidorn commented on #116883
There is already a `Copy` in the context menu, however that `Copy` only works on selection.
So we could improve it: if there is no selection -> we check the row where the user clicked and we then use the existing copy mechanism using the `variableReference` as the Copy Value action does [here](https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/debug/browser/variablesView.ts#L41

[2021-02-18 08:58] chrmarti commented on #116588
The image is built for the local path, one workaround would be to clone the repository to a second folder and use that only for the older branch.

[2021-02-18 09:04] akislawek commented on #115755
Is it possible to still have the preview mode working with files, when the "workbench.list.openMode" is set to "doubleClick"?

What I'm trying to achieve:
1) Single clicking on a file shows it's preview (so single clicking multiple files one after the other would use one tab)
2) Double clicking on a file would open the file in it's own tab (double clicking multiple files would open multiple tabs)

[2021-02-18 09:09] pkutaj commented on #115888
What does work, though is the 4) suggestion from @ralish post, i.e. setting `ELECTRON_NO_ATTACH_CONSOLE` environment variable to `true`.  Just run 🠋

[code]

... I have not seen any downsides / side-effect.

[2021-02-18 09:11] joaomoreno commented on #116925
I'm not so sure why you needed to install gyp. I'm glad it works on your system. But it seems this was something very specific to your system, since the setup works on everyone else's. Thanks for the workaround.

[2021-02-18 09:11] #116925 closed

[2021-02-18 09:13] blindrood opened #116930 "SCM refresh causes focus in SCM panel to jump between random repositories"
Issue Type: <b>Bug</b>

If save file and quickly put focus on commit message in SCM panel I'll do it before automatic refresh happens , that lists files to include in commit. I start typing, then refresh happens causing focus to jump to different message boxes for different repositories

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: W

[2021-02-18 09:15] gjsjohnmurray commented on #116924
Please start Extension Bisect from Command Palette to try to discover if one of your extensions is causing the issue.

[2021-02-18 09:20] ChekeEdd opened #116931 "Unstable wrap tabs"
Issue Type: <b>Bug</b>

Pre-condition
Shoud be opened at least  10 tabs
Steps to reproduce
1. Window shoud be not opened to full screen
2. Resize the windows
Expected: Tabs grouped all the time
Actual: Sometimes tabs not grouped

VS Code version: Code 1.53.1 (5d424b828ada08e1eb9f95d6cb41120234ef57c7, 2021-02-08T23:29:42.785Z)
OS version: Windows_NT x64 10.0.19042

[2021-02-18 09:21] gjsjohnmurray commented on #116816
What language mode do you use with your .dax files? Look at the clickable indicator at the right-hand end of the status bar.

[2021-02-18 09:22] gjsjohnmurray commented on #116931
/gifPlease

[2021-02-18 09:23] gjsjohnmurray commented on #116927
/gifPlease

[2021-02-18 09:25] ganni opened #116932 "Throwing custom exceptions from contributed command execution shows cryptic error popup"
- VS Code Version: 1.53.2
- OS Version: MacOS 11.2

Hi guys,

Before `1.53`, throwing exception with custom error message used to show up as error message popup by default. However with new update it shows up some cryptic error message instead.
`Running the contributed command: '_vscode_delegate_cmd_klan2ooe' failed.`

![image](https://user-images.githubusercontent.com/764750/108335292-1f9a8780-72

[2021-02-18 09:51] artemitcraft opened #116933 "vs code caches connection to remote DB"
Version: 1.52.1
Node.js: 12.14.1
OS: Windows_NT x64 10.0.19041

hi, I use remote mongodb connection for our nodejs app. Connection vars are configured in launch.json. It seems that when I change this vars for connection string, debuger "caches" connect to mongo with the old ones. It reproduces on restart button, but if I stop the app and then run it, it works ok. does anyone have such issue?

[2021-02-18 09:57] isidorn commented on #114307
Great feedback from the zurich standup: use the blue floating button instead since:
* it is a ux pattern that we already have
* does not confuse users that they can not type
* might allign better with our future plans to detect language as user types

So I plan to move to using the blue button instead and after that try to use ML to auto detect language

[2021-02-18 09:57] linxiaoyun12 commented on #116927
![share2](https://user-images.githubusercontent.com/25984068/108339754-c715bb00-7212-11eb-8299-7a1e50958d4e.gif)

[2021-02-18 10:15] yorickvP commented on #116867
Our best guess is that this issue is about an alternative input method (eye tracking?) failing to work in the VSCode text field (but not the other text inputs).

@JanettePalacios What device are you attempting to write with?

[2021-02-18 10:19] jgreen-linx opened #116934 "Debug Console does not show line numbers if an object is in the output"
Issue Type: <b>Bug</b>

same issue seen here
https://stackoverflow.com/questions/65623994/vs-code-debug-console-not-showing-line-number-for-logs
![AARxf](https://user-images.githubusercontent.com/43069621/108342007-328b6880-71d2-11eb-8bfd-aa59e39ca0be.png)

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.18363

<deta

[2021-02-18 10:21] tchaton opened #116935 "Would it be possible to have Conflicts merger tool like PyCharm ? VSCode is lacking there"

[2021-02-18 10:34] weinand commented on #116933
Yes, by design changes to the launch.json are not picked up by the restart.

[2021-02-18 10:35] #116933 closed

[2021-02-18 10:38] RifanAmrozi opened #116936 "Git Source Control not working"
After the last update, my source control VS Code is not working properly, it shows blank. no number no description, just the name of git branch.
I hope it will be solved. Thanks.

[2021-02-18 10:40] weinand commented on #116924
We can only fix your issue if we know what your issue is.

Please read https://github.com/microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions to learn how to write a bug report.

[2021-02-18 10:43] IllusionMH commented on #116867
I guess that it's because of Vim extension that makes most of thing to behave like Vim editor including command and edit modes

[2021-02-18 10:43] gjsjohnmurray commented on #116936
/needsMoreInfo and in particular what platform you are running on. Use Help\About, copy the info, then paste it here.

If you are on CentOS 7 / RHEL 7, VS Code 1.53 is no longer supported.

Tip: for future issues, use the Report Issue option on the Help menu.

[2021-02-18 10:46] weinand commented on #116927
Sorry, but I do not understand what you mean.

And your animated gif is not really helpful. May I suggest to use a better screen recording tool, e.g. https://gifcap.dev

[2021-02-18 10:48] dbaeumer commented on #116503
@Iramos15 can you explain how they package a minified version of TS?

[2021-02-18 10:48] #116928 closed

[2021-02-18 10:49] deepak1556 commented on #116917
Refs https://github.com/microsoft/vscode/pull/104779#issuecomment-675168735

Merging to https://github.com/microsoft/vscode/issues/108920

[2021-02-18 10:49] #116917 closed

[2021-02-18 10:51] weinand commented on #116935
/duplicate #37350

[2021-02-18 10:52] #116935 closed

[2021-02-18 10:55] weinand commented on #116893
Please file issue against Elm extension.

[2021-02-18 10:56] #116893 closed

[2021-02-18 11:03] #116582 closed

[2021-02-18 11:05] fcole90 opened #116937 "Reports wrong errors from ts when using js files"
Issue Type: <b>Bug</b>

I have a react-redux reducer file with the following content:
[code]

The last line gets highlighted as an error:
[code]

Which doesn't make sense to me, as I'm not using typescript in this project and I configured ESlint to not require semicolons. This is the only instance I could find of a similar error.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181f

[2021-02-18 11:06] weinand commented on #116573
Please read https://github.com/microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions to learn how to write bug reports.

[2021-02-18 11:06] #116573 closed

[2021-02-18 11:06] #116300 closed

[2021-02-18 11:09] weinand commented on #116266
@parthshah27  @luisiacc @robertmazzo
For what language(s) are you seeing this problem?

[2021-02-18 11:11] fcole90 commented on #116937
P.S. Adding a `;` doesn't make the message disappear.

![image](https://user-images.githubusercontent.com/1292230/108348673-c10be400-71ea-11eb-9fe3-83dfd1146f01.png)

[2021-02-18 11:12] fj opened #116939 "Important control characters aren't rendered when "editor.renderControlCharacters" is set, possibly leading users astray"
Issue Type: <b>Bug</b>

### Problem

Imagine you're looking at some code in VS Code:

[code]

Ostensibly, this transfers 6,776 USD from sender 5678 to recipient 1234. Right?

Unfortunately, no. Instead, this code hides malicious intent: **it actually transfers 4,321 USD from sender 5678 to recipient 6776**, stealing sender 5678's money. How is this possible?

### Explanation

It's because this cod

[2021-02-18 11:16] IllusionMH commented on #116937
Is it JS file?
`as <type>` not allowed in JS it's TS construction.

[2021-02-18 11:21] jrieken commented on #114263
Looking into this reveals a bigger issue. Whenever we call [`_loadFromProvider`](https://github.com/microsoft/vscode/blob/92996d1021b6d6c67d9bbd36b4d50e334c7b8a60/src/vs/workbench/contrib/notebook/common/notebookEditorModel.ts#L167-L167) we create a new notebook (`NotebookTextModel`) but we don't dispose the existing one. This would be OK we call _loadFromProvider only ever once but it is called r

[2021-02-18 11:21] #116266 closed

[2021-02-18 11:22] parthshah27 commented on #116266
The issue was resolved by downgrade the vs code

[2021-02-18 11:27] #115499 closed

[2021-02-18 11:29] fcole90 commented on #116937
It's a js file, and `type` here is just the name of a variable. Changing the name to something else, like `mytype` didn't change anything

[2021-02-18 11:32] #116396 closed

[2021-02-18 11:32] #116313 closed

[2021-02-18 11:32] #115663 closed

[2021-02-18 11:50] IllusionMH commented on #116937
Oops missed `export` and confused `as formReducer` with type assertion from TS.

Anyway there is no construction in JS `export default (...) as something` Babel [reports same issue](https://babeljs.io/repl/#?browsers=ie%2011&build=&builtIns=false&spec=false&loose=false&code_lz=MYewdgzgLgBAlmOU4EMA2BlKKoFMYC8MA2gLoBQluAHgA4gBOsAJrgGYoCuasAFNDnxEESVJmx4ANDADeMKAE9auabRQK0IFMxgBfAJSEAfLPIwYEAO5JgACxi

[2021-02-18 11:51] weinand commented on #116266
"Downgrading VS Code" is more a workaround than a resolution...
Does the problem occur for php?

[2021-02-18 11:51] oliversalzburg opened #116941 "editor.snippetSuggestions = none disables JSDoc auto generation"
Issue Type: <b>Bug</b>

When setting `editor.snippetSuggestions` to `"none"`, the auto-completion of JSDoc comments `/** */` no longer works.

This is unexpected, because this auto-completion is not a user-authored snippet.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.19042
Remote OS version: Linux x64 5.4.72-mic

[2021-02-18 12:28] faizaan123 opened #116942 "Unbound Breakpoint"
Issue Type: <b>Bug</b>

When ever I try to debug, the breakpoint is not getting select. It just says unbound breakpoint. It's not hitting the specific line.
Please give me a solution fast!

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|In

[2021-02-18 12:29] avenmore commented on #116865
I'm also seeing this when a "debugger" statement is hit in my Vue script section. The behavior reminds me of my Win32 days when we would call [LockWindowUpdate()](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-lockwindowupdate) while doing some messy painting to reduce flicker, and it didn't get unlocked. I'm now in the habit of doing a quick double Alt-Tab or double tapping

[2021-02-18 12:30] JerryDennisEasley opened #116943 "Possible wrong fonts used in IDE"
![2021-02-18-011258_1920x1080_scrot](https://user-images.githubusercontent.com/66467523/108357138-a74eaa80-71b2-11eb-9cde-7df4fb50574d.png)
Issue Type: <b>Bug</b>

download 32bit rasperian and install

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:46:48.174Z)
OS version: Linux arm 5.10.11-v7l+

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2021-02-18 12:36] lfydegithub opened #116944 "使用VScode链接服务器，无代码提示"
使用Remote-SSH登录服务器，python环境，发现无代码提示，ctrl+左键无法进入函数定义， 有大佬知道怎么处理吗

[2021-02-18 12:36] sandy081 commented on #116888
cc @prashantvc

[2021-02-18 12:37] sandy081 commented on #116878
Please file issue against code settings sync extension

[2021-02-18 12:37] #116878 closed

[2021-02-18 12:39] Gregoor opened #116945 "TextEditor.edit / WorkspaceEdit.applyEdit do not resolve immediately"
- VS Code Version: 1.53.2
- OS Version: macOS 11.1

Steps to Reproduce:

When creating an extension that uses either `TextEditor.edit` or `WorkspaceEdit.applyEdit` to make changes to a document, the returned promise does not resolve immediately after the change was applied. Thus the following code, which is supposed to set the selection to the appropriate position after a change was made, does not

[2021-02-18 12:46] gjsjohnmurray commented on #116943
/duplicate of #116402

[2021-02-18 12:47] #116943 closed

[2021-02-18 13:08] prashantvc commented on #116888
@DonJayamanne could you email to vsmarketplace@microsoft.com?
Is this is the extensions? https://marketplace.visualstudio.com/items?itemName=ms-toolsai.jupyter

[2021-02-18 13:09] #116929 closed

[2021-02-18 13:13] sradarcy commented on #116396
My pc is a asus w10 intel celeron processor 4gb ram

El jue., 11 feb. 2021 1:20, Megan Rogge <notifications@github.com> escribió:

[2021-02-18 13:16] Tyriar commented on #116687
Ideally CONTRIBUTING.md would also say how to contribute code which it does not do currently, I'd be in favor of it just pointing to https://github.com/microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions and https://github.com/microsoft/vscode/wiki/How-to-Contribute, we may need to migrate some content away from https://github.com/microsoft/vscode/blob/main/CONTRIBUTING.md though (bots aren't me

[2021-02-18 13:22] jrieken opened #116946 "Webviews incorrectly positioned when editors are scrolled horizontally"
* small/narrow window
* open two _webview_ editors
* :bug: you can horizontally scroll the editors/headers

https://user-images.githubusercontent.com/1794099/108362852-89a23500-71f4-11eb-9c8c-862dd741a670.mov

[2021-02-18 13:23] jrieken commented on #116941
Yes - the "no snippets" setting applies to all suggestions that use the snippet type.

@mjbvz forwarding to you for considering to use another completion item kind

[2021-02-18 13:28] jrieken commented on #116945
Yes, that can happen. The edit/applyEdit functions resolve their promises as soon as they are done but while the reply is send to the extension host process (which is async by its nature) anything can happen. We have no timing guarantee for how long the reply to extension host will take and we do not block user interactions (like keystrokes) just because an extension is planning to do something. T

[2021-02-18 13:28] #116945 closed

[2021-02-18 13:29] Bo520 opened #116947 "Remote server disconnected when delete some files"
OS:Windows 10 20H2
I use some extensions to connect my remote CentOS server. However, connection always be disconnected when I delete files, just like this figure.
![image](https://user-images.githubusercontent.com/53036043/108362149-5bd9e200-722e-11eb-8df7-8f9ea288ee70.png)
Reenter password didn't work, I find that I must restart vscode. Files will be deleted when I restart vscode and reconnect m

[2021-02-18 13:31] fcole90 commented on #116937
Oh, I mixed different syntaxes, and likely VS Code confused it like you for a type assertion :sweat_smile:

[2021-02-18 13:31] #116937 closed

[2021-02-18 13:35] sandy081 commented on #116779
cc @prashantvs

[2021-02-18 13:35] #74620 closed

[2021-02-18 13:37] sandy081 commented on #116774
Try to reproduce and please share the logs from the following locations
    - Help -> Toggle Developer Tools -> Console
    - View -> Command Pallette... -> Toggle Shared Process -> Console
    - View -> Open View… -> Log (Shared)
    - View -> Open View… -> Log (Window)

[2021-02-18 13:38] Tyriar commented on #74620
This is what the process architecture ended up looking like:

<img width="706" alt="Screen Shot 2021-02-18 at 5 37 39 AM" src="https://user-images.githubusercontent.com/2193314/108364936-7b7bf680-71ab-11eb-95f7-879dcea9391b.png">

PtyService on the pty host process is what creates the terminal processes

[2021-02-18 13:40] sandy081 commented on #116760
Not sure who shall own this, it seems corresponding task is not creating the diagnostics

[2021-02-18 13:44] sandy081 commented on #115456
Does this happens only after you use this keybinding ?

[2021-02-18 13:45] oliversalzburg commented on #115396
I'm now also seeing this in 1.53.2 on another machine and with more shortcuts. Ctrl+Home and Ctrl+End would stop working.

[2021-02-18 13:48] sandy081 commented on #116261
Assigning to @mjbvz since it is related to TS.

[2021-02-18 13:54] Tyriar opened #116948 "Handle non-responsive pty host processes"
Post https://github.com/microsoft/vscode/pull/116373, local terminal processes now live under the new pty host process. Unfortunately https://github.com/microsoft/vscode/issues/71966 will still exist, we should try to make this hang handled a little more gracefully then just locking up and breaking the terminal completely. An unresponsive pty host should be able to be restarted.

[2021-02-18 13:56] Hasintha-Jayasinghe opened #116949 "When I close a second terminal on VS-Code the window stops responding"
- VS Code Version: 1.53.2
- OS Version: Windows 10 20H2

Steps to Reproduce:

1. Open 2 terminals
2.Close the second one

Does this issue occur when all extensions are disabled?: Yes/No

[2021-02-18 13:59] hjrb opened #116950 "Fails to start on Windows Terminal Server"
Issue Type: <b>Bug</b>

We still have quite a large number of Windows Terminal Server users. We would like to provide VS Code for those users. We tried a system installation of VS Code using VSCodeSetup-x64-1.53.1.exe. The installation works without any error message.
But when we try to start VS Code it won't start. We ran a diagnostic session using the command line "code --disable-gpu --prof-star

[2021-02-18 14:04] Tyriar commented on #116120
Feedback summary so far:

- Standardize "recommendations" as a lightbulb icon
  - Use a lightbulb instead of a pencil?
    - Not sure this conveys the right message that editing is possible like the pencil does
- A pencil means edit, not download and edit
  - Include a download icon or lightbulb icon in bottom right or something?
- Hardcoding the extension vs supporting generically
  - Would this

[2021-02-18 14:10] Tyriar commented on #115925
Back to insiders! 🕺 🎉

[2021-02-18 14:14] dschuessler commented on #114851
Since the original feature request is not very descriptive but the issue is getting a lot of attention, I will summarize some problems I observe with the two existing Vim extensions and to what extent I understand these problems to be problems of VSCode rather than of particular extensions.

**TL;DR**: Vim extensions are sluggish because the architecture of VSCode's extension host allows them to b

[2021-02-18 14:24] BCArg opened #116951 "Failed to import python package installed on environment"
- VS Code Version: 1.53.2
- OS Version: Linux x64 5.4.0-65-generic

Steps to Reproduce:

1. create a `.ipynb` (saved in a remote location) with a single import (e.g. `import matplotlib.pyplot as plt`)
2. open the (remote) `ipynb` with vs code via SSH
3. run the code on the `.ipynb` -> here is where I am getting the error (`ModuleNotFoundError`)

To make sure the package I am trying to import on th

[2021-02-18 14:29] bpasero commented on #116600
Sorry to hear you encountered data loss. Was the file dirty when you updated or saved on disk?

[2021-02-18 14:30] ifalex opened #116952 "Vscode window breaks layout on multiple monitors"
- VS Code Version: 1.53.2
- OS Version: Windows 10 Enterprise 10.0.18363 Build 18363

Steps to Reproduce:

1. Have 2 desktop monitors, one of them enters in stand-by(my second monitor), after getting it out of stand-by the vscode window loses its layout. Shifts the button to the right (minimize button ( _ )becomes x (close button) and so on)
2. Looks like a visual rendering issue.

Does this issue

[2021-02-18 14:32] FloMaetschke commented on #116549
No crash without plugins, adding prettier, it crashes again.

[2021-02-18 14:32] jrieken commented on #116932
This is not new and by design. The "cryptic" message is stand-in command identifier that we generate whenever the UI should execute an extension command that cannot be send to the renderer process. That's due to non primitive arguments being passed. So, instead of sending  complex arguments back and forth (which costs and likely breaks them), we keep the actual command and its arguments cached and

[2021-02-18 14:33] hyangah opened #116953 "Non-obvious error message when a contributed command fails"
vscode: 1.53.2
vscode-languageclient: 7.0.0-next.12

The Go extension has a codelens that triggers a command execution run by the go language server.
When the command fails and the language server returns an error, vscode shows a notification with rather mysterious error message. (`'_vscode_delegate_cmd_klaxycmt' failed`)

![Screen Shot 2021-02-18 at 9 16 01 AM](https://user-images.githubuserconte

[2021-02-18 14:37] eamodio commented on #116906
So an extension can not know it's own id when creating an insiders/nightly version from the same source, e.g. GHPR, GitLens, JS-Debug, etc.

As for cherry picking only those 2 properties, the id gives you access to all the rest of needed, and I added version for convenience since that is commonly accessed and changes (sometimes through a build process) where as the other properties don't.

Althoug

[2021-02-18 14:40] alexr00 commented on #116058
Here's where we're at:
![image](https://user-images.githubusercontent.com/38270282/108372628-4dc09d00-71ff-11eb-8b2a-9b6d7cac44de.png)

Forwarded ports have a filled circle **icon** if there's a running process or an outline circle if not.
Each cell can have it's own actions, so the "close" inline action is in the first column. The other actions are in the local address column since they are direc

[2021-02-18 14:48] pjohnson-hel commented on #116674
Some more information on this, that I just learned/realized this morning:

Both the issue I mentioned in my last comment **only** occur when I open VSCode with the "Run As Administrator" option.

Running as a non-administrator isn't really an option for me as the network security setup currently in place would prevent me from using most of the needed functionality to develop software.

It is possi

[2021-02-18 14:51] isidorn commented on #116934
I acknowledge this issue. The js-debug extension properly sends the source location, but we do not render the source for objects coming from output.
Reason being: we re-use the variables renderer from the variables view and that one does not render source objects.
We could improve this in the future

[2021-02-18 14:55] hridi-vsCode commented on #116669
Disabling all my extensions didn't work either!
Please tell me a solution, I love to use VS Code for my projects.
Today i realized i am having problem only while i am trying to type small
'c' only. But most often i am trying to type c. And that's when it gets
painful to use this VS Code.

On Tue, Feb 16, 2021 at 6:24 PM Hridi Tasnim <usepin27@gmail.com> wrote:

[2021-02-18 14:59] ganni commented on #116932
Well, it used to just show my custom error message that I passed in `new Error('custom message')`.

I would like it if it kept the same behavior.

[2021-02-18 15:00] sandy081 commented on #116691
Yes, formatting was broken. Fixed it.

![image](https://user-images.githubusercontent.com/10746682/108375682-78602500-7202-11eb-9250-d78d08ec1b2a.png)

[2021-02-18 15:01] #116691 closed

[2021-02-18 15:01] ganni commented on #116953
Hi,

I just reported same bug few hours ago. Let's continue the discussion there.

Duplicate of #116932

[2021-02-18 15:05] hyangah commented on #116953
Thanks. Closing in favor of the other issue.

[2021-02-18 15:05] #116953 closed

[2021-02-18 15:07] vviikk commented on #41878
This is should not be closed. It's a pain to use the touchpad in Vscode on linux.

[2021-02-18 15:08] scaomath commented on #116951
I am having the exact same issue after updating the Python extension this morning.

When using the command line, the `sys.path` is correctly pointing to the packages of conda including:
[code]

However, in the interactive window and Jupyter mode, even selecting the conda Python interpreter, the `sys.path` only points to the system default Python...
[code]

[2021-02-18 15:12] Tyriar commented on #116948
Repro on Windows:

- Add the following to tasks.json:
[code]
2. Open a terminal
3. Run the task
4. Kill the terminal, this should cause the pty host to hang (if conpty is enabled which is the default for Windows 10)

[2021-02-18 15:13] sandy081 commented on #116829
@bpasero It seems you have enabled logging in sandbox - f49d78c4afc16c4725f439be610986c9a8202b1b which caused this. We can enable real logging only when file protocol is supported. So I reverted that to use simple logging.

[2021-02-18 15:14] #116829 closed

[2021-02-18 15:23] hyangah commented on #116932
In our case (#116953), the command is implemented in the language server, and triggered by user clicking a codelens created by the language server. The language server provides the error details.

Ideally I'd like to see the error details and the original command, but it looks like that's not available from VS Code API level.

[2021-02-18 15:24] alexr00 commented on #116892
Thanks for the duplicate pointer @gjsjohnmurray . Closing as a duplicate.

[2021-02-18 15:24] #116892 closed

[2021-02-18 15:30] jrieken commented on #116906
I believe they still know their id. I don't know the code but I would assume there is some script that patches this onto its own package.json file before publishing. So, my question would be why that cannot done to its own sources.

[2021-02-18 15:31] dsherret commented on #116503
@dbaeumer There's a lot of stuff in the typescript package that isn't necessary when just using the compiler api. It only needs to pull in typescript.js and the node_modules/typescript/lib/*.d.ts files (lib files). The lib files are already bundled and minified within ts-morph for the in memory file system host, so in the next version it's going to use that for the "real" file system host as well.

[2021-02-18 15:33] JacksonKearl commented on #116593
#93031 is still open.

[2021-02-18 15:36] danBamikiya commented on #115456
Yes

[2021-02-18 15:40] gjsjohnmurray commented on #116669
Please follow the steps at https://github.com/microsoft/vscode/wiki/Keybinding-Issues

[2021-02-18 15:42] alexr00 commented on #116760
I will take a look.

[2021-02-18 15:44] #114263 closed

[2021-02-18 16:02] isidorn commented on #116722
Potential workaround fix:

1. Once the action enablement is all done just call `setFocusable(true)` on the action bar. [Code pointer](https://github.com/microsoft/vscode/blob/main/src/vs/base/browser/ui/actionbar/actionbar.ts#L240) That should explicitly set the first  item to be focusable. We can just change it that it focused the first enabled item, not the first one

Here's where the `actionBar

[2021-02-18 16:07] finnmerlett commented on #55111
This works for the autocomplete menu very well (I use alt-j/k, but works great), however it doesn't work with the quick fix menu. For that you need the keyboard quickfix extension

[2021-02-18 16:07] richiksc commented on #113410
node v15.9.0 has been released with the fix for nodejs/node#37061.

[2021-02-18 16:10] jrieken opened #116955 "Trying to add a disposable to a DisposableStore that has already been disposed of"
Every once in a while when closing a notebook I see the following warning...

[code]

[2021-02-18 16:10] DonJayamanne opened #116956 "Unable to reset executionOrder of cells"
- VS Code Version:OSS
- OS Version:Mac

Steps to Reproduce:

1.Steps can be found here
https://github.com/microsoft/vscode/pull/116957

@rebornix @jrieken /cc

Does this issue occur when all extensions are disabled?: N/A

[2021-02-18 16:13] isidorn commented on #116865
Sounds related to this https://github.com/microsoft/vscode/issues/114459
Since we use the `electron` focus window API. Also assigning to @deepak1556 since he would know if we should close this as duplicate

[2021-02-18 16:17] Eventyret opened #116958 "Openmode doubleclick"
Issue Type: <b>Bug</b>

by default workbench.list.openMode is set to single click, but after the latest update it seems it's forced to double click to open any folders or files etc.

https://imgur.com/a/VxZxqtG
VS Code version: Code - Insiders 1.54.0-insider (6eaef7d42f982a0e9b22ac465245fc2c27721fd0, 2021-02-18T05:13:24.586Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

[2021-02-18 16:21] #116879 closed

[2021-02-18 16:24] Tyriar commented on #116948
Still to do: https://github.com/microsoft/vscode/blob/ac38da16b674e0a6e2141682a6b95227a30fbbbe/src/vs/platform/terminal/node/ptyService.ts#L13-L14

[2021-02-18 16:40] joaomoreno commented on #116946
What a fantastic feature!

[2021-02-18 16:42] Jesuszilla opened #116959 "Can't find or install theme that's in the Marketplace on Arch"
- VS Code Version: 1.53.2
- OS Version: Linux x64 5.10.16-arch1-1

Steps to Reproduce:

1. Try to search for "an old hope" in the Marketplace in VSCode. It won't show up, let alone let me install it.
2. Try to enter the command from this web page, it won't work either:

https://marketplace.visualstudio.com/items?itemName=dustinsanders.an-old-hope-theme-vscode

Does this issue occur when all extens

[2021-02-18 16:47] avenmore commented on #116865
It certainly is the same issue as #116615 which was closed as a duplicate of  #114459, and starting with `code --disable-features=CalculateNativeWinOcclusion` solves the problem for me too, so I would say yes, this is a duplicate of that issue.

[2021-02-18 16:48] KochC commented on #116638
But still an issue in the normal VSCover Version.

[2021-02-18 16:49] Ciantic commented on #28432
@PaulPCIO That is correct, if you want to follow that issue particluarily subscribe to this: https://github.com/microsoft/WSL/issues/4739

Problem is that plan9 doesn't transfer file change events through the barrier. Practically this means you have to live in WSL file system or Windows file system, trying to mix the two will cause problems with dev tools. Personally I hope Microsoft implements re

[2021-02-18 16:51] Morriz commented on #40239
@Peter-Krebs thinking about this, I think it would be great to at least have the ability to disable a plugin (so that we can disable undesired plugins, such as other formatters than the one chosen in the repo). We could assume the usual suspects and just turn them off. This would not cover all of them of course, but at least we have some control.

Don't vscode plugins have a mechanism to avoid cla

[2021-02-18 16:53] mattialibera commented on #95062
@csarami see solution I posted above: https://github.com/microsoft/vscode/issues/95062#issuecomment-764745144; it should work for Mojave too.

[2021-02-18 16:54] #72594 closed

[2021-02-18 16:58] IllusionMH commented on #116958
/duplicate of #116804

See #115873 for details

/cc @joaomoreno as this isn't first king of this issue

[2021-02-18 16:59] #116958 closed

[2021-02-18 17:06] misolori commented on #116740
## Concept B

This concepts attempts to re-use the accounts menu in the activity bar and also creates a default profile and reduces the effort involved with creating/switching accounts.

![Kapture 2021-02-18 at 09 00 38](https://user-images.githubusercontent.com/35271042/108393403-77120680-71c8-11eb-86e6-9f2de89fd46a.gif)

[2021-02-18 17:07] r00ster91 opened #116960 "Web search for selected text"
How about an inbuilt way to do web searches with selected text? It would for example make it easier to search for compiler errors and find solutions. It should be available for both the terminal and the code.
I'm imagining something like this:
![image](https://user-images.githubusercontent.com/35064754/108392515-15c35500-7213-11eb-819d-e845c8fb7bee.png)
This should open a new tab and search for th

[2021-02-18 17:08] roblourens commented on #116955
Looks maybe related to the new markdown cell type?

[2021-02-18 17:09] someone857 opened #116961 "Single click to expand folder doesn't work"
Issue Type: <b>Feature Request</b>

Since a recent Insiders build, you cannot single click a folder to expand it, requiring you to double-click it.

VS Code version: Code - Insiders 1.54.0-insider (6eaef7d42f982a0e9b22ac465245fc2c27721fd0, 2021-02-18T05:17:08.142Z)
OS version: Darwin arm64 20.3.0

[2021-02-18 17:13] roblourens commented on #116955
I don't understand how you could have `this.webview` non-null, call `_resolveWebview`, and apparently `_webviewResolvePromise` is null. But apparently the NotebookEditorWidget is only halfway disposed when the markdown cell calls back into it, so something weird happened. Probably we could just add a `this._isDisposed` check somewhere in there.

[2021-02-18 17:21] connor4312 commented on #116942
Are you debugging JavaScript code? If so, please grab some logs!

/jsDebugLogs

[2021-02-18 17:22] IllusionMH commented on #116961
/duplicate of #116804

See #115873 for details

[2021-02-18 17:23] #116961 closed

[2021-02-18 17:23] csarami commented on #95062
But there are no such attributes as " auth_value, auth_reason, auth_version" in the table in  Mojave.

[2021-02-18 17:24] isidorn commented on #116865
Thanks for letting us know. Then let's close as duplicate, and if @deepak1556 thinks I am mistaken we can reopen

[2021-02-18 17:24] #116865 closed

[2021-02-18 17:25] connor4312 commented on #116883
That would be perfect 🙂

[2021-02-18 17:27] IllusionMH commented on #116960
Looks like good candidate for an extension :)

[2021-02-18 17:28] isidorn commented on #116883
Ok, let me assign optimistically to this milestone to look into this.
If I do not find time, I will push out to March.

[2021-02-18 17:31] mattialibera commented on #95062
@csarami my solution doesn't mention those attributes; below the screenshot:
![image](https://user-images.githubusercontent.com/62540874/108396752-7c4a7200-7217-11eb-852d-67f663329ce3.png)

[2021-02-18 17:32] wrogner commented on #95062
The table structure in Mojave is different to BigSur.

With your qualifications you should be able to figure out the attributes.

[2021-02-18 17:38] wdamien opened #116962 "Intellisense refactoring extremely slow when using pnpm"
Issue Type: <b>Bug</b>

I switched my react/typescript project to use pnpm to improve my CI build times, this lead to a massive slow down with the intellisense import suggestions. On the order of 3 - 5 seconds just to populate the context menu. If I used the "Add all missing imports" feature that could take a few minutes to complete (for a lot of missing imports this was literally ~10 minutes befo

[2021-02-18 17:43] torsthans opened #116963 "Cannot Open Jupyter Notebook Files (*file*.ipynb) in WSL - Remote mode"
- VS Code Version: 1.54.0-insider (user setup)
- OS Version: OS: Windows_NT x64 10.0.19042
- Installed Extensions: Python, Remote - WSL, Jupyter Extension for Visual Studio Code.

Steps to Reproduce:

1. Open VScode Insider
2.  Open folder in WSL2
3.  Click on an *file*.ipynb to open it
2. Error Message: "Unable to open '`*`file`*`.ipynb': Cannot read property 'Code' of undefined."

Does this issu

[2021-02-18 17:49] sandy081 commented on #116722
@isidorn Submitted the PR - https://github.com/microsoft/vscode/pull/116964 with better and correct fix.

[2021-02-18 17:53] ertolv opened #116965 "Favourite Folders on Welcome page."
I would like a feature that developers could save directory locations as favourite so that we could access them easily. Just like recent but for favourites.

[2021-02-18 17:53] domy23 opened #116966 "found fake error"
Issue Type: <b>Bug</b>

my visual studio found fake error

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-10600KF CPU @ 4.10GHz (12 x 4104)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_raster

[2021-02-18 18:10] IllusionMH commented on #116966
/needMoreInfo

[2021-02-18 18:11] IllusionMH commented on #116966
/needsMoreInfo

[2021-02-18 18:15] DonJayamanne opened #116967 "NotebookCellOutput.metadata returned by content provider does not end up in Notebook document"
- VS Code Version:
- OS Version:

Steps to Reproduce:

1. Create a Notebook content provider and return cells with output and the output containing metadata
2. The Notebook document generated by VS Code will not contain the metadata in the outputs
@jrieken @rebornix /cc

Tests can be found here https://github.com/microsoft/vscode/pull/116968/files

Does this issue occur when all extensions are dis

[2021-02-18 18:18] gjsjohnmurray commented on #116959
I guess your distro's VS Code package is one that goes to Open VSX for extensions, not to Marketplace.

Download the VSIX from Marketplace then install it from the menu on the Extensions view in VS Code.

[2021-02-18 18:28] JacksonKearl commented on #116570
Opening the first section when there have been no completed items makes sense to me. 👍

[2021-02-18 18:31] RobertKlohr commented on #116593
I stand corrected. I was using GitHub on my phone and not used to the interface.

Thank you for your work effort on this awesome project.

[2021-02-18 18:31] usernamehw commented on #116965
/duplicate of #63057

[2021-02-18 18:32] jpnieto opened #116969 "Button to Reveal in Sidebar next to New File button"
Hi!
My suggestion is to add a button next to the New File/New Folder buttons to "Reveal in Sidebar" for the currently open file. It could be very useful specially in large projects and when there are many files open.

[2021-02-18 18:32] #116965 closed

[2021-02-18 18:34] usernamehw commented on #116960
Terminal is missing context menu api - #79034

[2021-02-18 18:38] DonJayamanne commented on #116888
We managed to solve this issue. A `.so` file was incldued into the extension accidentally (due to python package) & we believe thats what caused the package to get rejected. Would be good to get a more meaningful message.

Thanks, closing as we have resolved this.

[2021-02-18 18:39] saurabh270400 opened #116970 "Incorrect Output"
Issue Type: <b>Bug</b>

It is giving incorrect output.
Correct Output : 1
Output by Visual Studio : 0

Here is the code:
#include <bits/stdc++.h>
using namespace std;
int main()
{
    int x=2;
    int a = 50 - pow(7,x) ;
    cout<<a;
    return 0;
}

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.19042

<details>
<s

[2021-02-18 18:40] JacksonKearl commented on #116605
I still can not reproduce this. I have included a screen recording of what it looks like when I try this flow, perhaps you can see if I'm doing something differently from you?

![recording](https://user-images.githubusercontent.com/8586769/108405199-a54a1300-71d5-11eb-86ac-a355774c8fd9.gif)

[2021-02-18 18:50] digitarald opened #116971 "Getting Started should not offer to open a folder when a workspace is open"
Steps to Reproduce:

1. Set getting started as startup editor (default in Insiders atm)
2. Open a folder

Actual: Getting Started's Setup section still offers to open a folder (but its checked off at least)

![image](https://user-images.githubusercontent.com/8599/108406225-f9a1c280-71d6-11eb-9d38-f57084815ec5.png)

Expected: Hide the item when shown in a workspace.

[2021-02-18 18:50] prabhakk-mw opened #116972 "Dead reference to updateRemoteUserID in https://code.visualstudio.com/docs/remote/devcontainerjson-reference#_variables-in-devcontainerjson"
- VS Code Version:
- OS Version:

Steps to Reproduce:

1. Open https://code.visualstudio.com/docs/remote/devcontainerjson-reference#_variables-in-devcontainerjson
2. Look for updateRemoteUserID

These should reference updateRemoteUserUID ?

Does this issue occur when all extensions are disabled?: Yes

[2021-02-18 18:54] BrandinO771 commented on #116736
I am about to close this issue, but question, why was this an issue was VS Code attempting to be rendered by both graphics cards and thus stuck in a struggle to just be rendered by one, and eventually after 5 min it defaulted to my Intel GPU allowing the application to start?

[2021-02-18 19:02] gjsjohnmurray commented on #116970
/question

[2021-02-18 19:03] opetim opened #116973 "Cannot create process, error code: 1260"
Issue Type: <b>Bug</b>

The terminal process failed to launch: A native exception occurred during launch (Cannot create process, error code: 1260).

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8350U CPU @ 1.70GHz (8

[2021-02-18 19:03] #116970 closed

[2021-02-18 19:07] #116904 closed

[2021-02-18 19:09] jimpudar opened #116974 "Can't disable Code Lens"
Issue Type: <b>Bug</b>

I've added `"editor.codeLens": false` in my settings.json file, but the code lens does not get disabled. I've also tried adding it into my user settings file. I've tried restarting VS Code after adding the setting but the code lens still is showing.

I've tried manually editing the settings.json file and also using the settings UI to uncheck the checkbox with the same resul

[2021-02-18 19:10] deepak1556 commented on #116865
Nope all good, thanks for triaging the issue!

[2021-02-18 19:11] connor4312 opened #116975 "Add activation events for tests"
Should be an `onTests:<glob>` event, where `glob` has the same heuristics as `workspaceContains`, but is only called when tests are demanded instead of on startup. For example, a Go test runner could activate if there's any `**/*_test.go` glob in the workspace, or a mocha test runner could do so in the presence of `**/.mocharc` files

[2021-02-18 19:17] ccutrer commented on #65198
I found this because this was my number one complaint about VSCode. I have 32 windows open - the Window menu is utterly useless with the current sorting. Then I realized the Switch Window command (^W keyboard shortcut by default for me) completely solves my need to use the Window menu at all.

[2021-02-18 19:23] gjsjohnmurray commented on #116974
Are you certain that what you're seeing not disappear **are** CodeLens items?

I suggest you use the Extension Bisect to determine which extension is adding the items.

If that doesn't help, please paste a screenshot here.

[2021-02-18 19:24] #116570 closed

[2021-02-18 19:26] JacksonKearl commented on #116570
Will now open to the first section if no items have been completed. Also, the `Back` button has been renamed to `More` to better fit this situation.

The opening screen for new users now looks like this:
![image](https://user-images.githubusercontent.com/8586769/108410315-1d1b3c00-71dc-11eb-997a-ed45776c5300.png)

This could be more welcoming. Will create a new issue to track.

[2021-02-18 19:27] aroman commented on #40338
any update on this one? for larger projects, it'd be great to offer the ability to collapse imports by default as many IDEs do

[2021-02-18 19:29] eamodio commented on #116906
In the cases I've laid out, the running code *doesn't* know its id -- it has to look it up from somewhere or compare possible ids to the extension path (the former is what GHPR does by requiring the package.json, and the latter is what I do in GitLens to avoid loading the package.json).

And yes, technically a build script could update some runnable code or something in addition to the package.jso

[2021-02-18 19:29] JacksonKearl opened #116976 "[Getting Started] Make first page more welcoming"
With #116570 we open to the first section when no items have been completed. This means the first screen new users see is:
![image](https://user-images.githubusercontent.com/8586769/108410315-1d1b3c00-71dc-11eb-997a-ed45776c5300.png)

This could be more welcoming... on Codespaces on the other hand the first screen will be:
![image](https://user-images.githubusercontent.com/8586769/108410659-8dc258

[2021-02-18 19:34] JacksonKearl commented on #116976
(cc @digitarald for possible content updates, @misolori for design tweaks)

[2021-02-18 19:44] digitarald commented on #116976
I had https://github.com/microsoft/vscode/issues/116580 filed for this but can close as dupe.

[2021-02-18 19:45] rebornix commented on #116919
I found that scrolling up and down will make the lag more noticeable. I think it's probably because markdown cells will eagerly remove the preview from the webview when it's out of the viewport.

[2021-02-18 19:47] JacksonKearl commented on #116976
Oh sorry didn't see that one. This is a bit different now because we only ever open the first category (Codespaces / Quick Setup)

[2021-02-18 19:47] vortechs2000 commented on #60043
Having a way to include other `launch.json` files would be invaluable.  Currently if the `.vscode/launch.json` is checked into source code, that can cause all kinds of problems as random changes get checked in.  But if we could have a common set of debug launch settings in a different folder checked into source control, and *include/concat* that with the settings in `.vscode/launch.json`, we could

[2021-02-18 19:54] jsmaniac commented on #15667
I thought about that, but it would be impossible to select text inside the hover (which can contain useful stuff like the types of what's under the cursor) :-/ . Also I'm not sure scrolling would still work with `pointer-events: none`

[2021-02-18 19:56] busticated commented on #116232
@alexr00 hm. i'm really not sure. the `scope` for my tasks comes almost directly from `vscode.workspace.workspaceFolders` (just filtered to only those with a `project.properties` file at the root). when i `console.log()` them out, they use the lowercase drive letter (`c:`) as i'd expect.

total long-shot: is it somehow related to running within Windows Server (vs. Windows 10) ? looks like my CI us

[2021-02-18 19:58] connor4312 commented on #116975
Actually this is basically the same as `workspaceContains` anyway, since we'll want to request tests the first time a user opens a file. So I don't think it's worth the trouble of adding an extra separate activation event.

[2021-02-18 19:58] #116975 closed

[2021-02-18 19:58] digitarald commented on #116580
/duplicate of #116976

[2021-02-18 19:59] #116580 closed

[2021-02-18 20:04] isidorn commented on #116969
This suggestion makes sense, however I would prefer to tackle this by making the title bar in the explorer contributable https://github.com/microsoft/vscode/issues/108271
Thus closing as duplicate

[2021-02-18 20:04] #116969 closed

[2021-02-18 20:11] meganrogge opened #116977 "On local terminal reload, scrollback is not restored"
Steps to Reproduce:

1. run `tree` or something with output longer than the size of the terminal window
2. reload the window
3. try to scroll

[2021-02-18 20:23] NotWearingPants commented on #116843
This has nothing to do with arrow functions. The editor just repeats the previous indentation level, and only cares about brackets I believe. The problem is that there is nothing about indentation in the LSP protocol.

The closest thing would be to look at the folding and have VSCode use the indentation of where the folding region starts, but this doesn't apply everywhere.

What indentation would

[2021-02-18 20:25] OliverJAsh commented on #116843
Very good points. I don't have any answers unfortunately.

[2021-02-18 20:34] NotWearingPants commented on #116843
Although I found the place to fix this specific problem, but I'm not sure what to change 😅

https://github.com/microsoft/vscode/blob/bcc49ca4b67723b90e40998a159e18fc4c45dbf9/extensions/typescript-language-features/src/languageFeatures/languageConfiguration.ts#L16-L53

[2021-02-18 20:37] wojciechsmigielskijr commented on #116844
Getting this same issue on the insiders build.

[2021-02-18 20:38] pjohnson-hel commented on #116674
UPDATE: this **was** all happening on my end. I apologize for adding any confusion here.

For anyone having issues similar to mine: when running VSCode with the "Run as Administrator" option, be sure to verify that the administrator account you're using has been given appropriate permissions to open the browser you want to use. Seems like an obvious thought but almost everything else I was doing i

[2021-02-18 20:41] #113381 closed

[2021-02-18 20:41] #115326 closed

[2021-02-18 20:41] #115596 closed

[2021-02-18 20:45] barroudjo commented on #112430
A combination of removing the extension (and also the windows version), reinstalling it, restarting vscode and restarting wsl (`wsl --shutdown`) did the trick for me.

[2021-02-18 20:46] isidorn commented on #114307
@bpasero changed it to be an editor contribution

After feedback here are the changes I pushed
1. For inline text we will render the keybinding in brackets to teach to user how to always do this
2. Added a setting workbench.editor.untitled.hint to be either text (default)` 'button' or 'hidden'. When we go to production the idea is to not have a setting for this. The setting is just that we can eas

[2021-02-18 20:48] NotWearingPants commented on #65855
#4994

[2021-02-18 20:51] jimpudar commented on #116974
🤦 I thought the minimap was called code lens. Disabling the minimap works as expected 😄

[2021-02-18 20:51] #116974 closed

[2021-02-18 20:52] isidorn commented on #114307
After trying out the button I definitely think it is not too heavy. Quite the opposite my suspicion is that users will not see it. That is why it would be interesting to do a couple of user studies.

[2021-02-18 20:54] marvinruder opened #116978 "Git: ssh_askpass: exec(/opt/homebrew/Cellar/openssh/8.4p1_2/libexec/ssh-askpass): No such file or directory"
- VS Code Version: 1.53.2
- OS Version: Darwin x64 20.4.0

I installed `ssh-askpass` using Homebrew a while ago and updated it today. After this update, the binary moved to a different location, but VS Code looks for the binary in the original location. I cannot find a way to tell VS Code where it moved to. Reinstalling VS Code and deleting all settings file I could find (e.g. via https://stackove

[2021-02-18 20:54] aroman commented on #90125
any update on this? i think there's a clear and common usecase here for running a server -- you want to terminate the previous process and restart so the port is free

[2021-02-18 20:57] NotWearingPants commented on #99589
Looks like a duplicate of #83365. The problem in both are the direction-neutral symbols, they both want direction-neutral to be forced LTR. Although this is only useful for structured text (i.e. json), and not for writing an RTL sentence with punctuation.

[2021-02-18 21:02] Eventyret commented on #116958
Just to add for people reading this a workaround now is to set
`"workbench.tree.expandMode": "singleClick"` in `settings.json`

_Originally posted by @dhruvit-r in https://github.com/microsoft/vscode/issues/115873#issuecomment-781106275_

[2021-02-18 21:09] NotWearingPants commented on #86667
(Duplicate of #83365)

[2021-02-18 21:28] rebornix commented on #116963
/extJupyter

[2021-02-18 21:29] #116963 closed

[2021-02-18 21:30] rebornix commented on #116900
Fixed via https://github.com/microsoft/vscode/pull/116901

[2021-02-18 21:30] #116900 closed

[2021-02-18 21:31] rebornix commented on #116868
/extJupyter

[2021-02-18 21:32] rebornix commented on #116844
@DonJayamanne can you help answer when will Jupyter extension get updated with the latest API?

[2021-02-18 21:32] rebornix commented on #116868
/duplicate of https://github.com/microsoft/vscode/issues/116844

[2021-02-18 21:33] #116877 closed

[2021-02-18 21:33] #116868 closed

[2021-02-18 21:33] RandScullard commented on #116865
Confirmed that `code --disable-features=CalculateNativeWinOcclusion` fixes the problem on my system. Thanks for your help!

[2021-02-18 21:33] #116846 closed

[2021-02-18 21:46] bwateratmsft commented on #98113
\<ShamelessSelfPromotion>
I made an extension that facilitates this: https://marketplace.visualstudio.com/items?itemName=bwater.memento-explorer
\</ShamelessSelfPromotion>

[2021-02-18 21:53] misolori commented on #114307
Like the direction this is going! Small knit: since this is aimed at newer users, not sure we should include the keyboard shortcut. While it is useful to know, it could add unnecessary complexity because it introduces "chord" keyboard shortcuts. Also, we don't have this for "Open Folder" on the explorer empty view.

[2021-02-18 21:55] LukeWolfGames commented on #85564
I noticed that new files do get tracked automatically but the tracking display (the coloured bars on the side, the scroll bar and the map) do not appear. Is this a feature that is still being worked on or is this a different issue I'm reporting?

[2021-02-18 22:00] meganrogge opened #116979 "window crashes when trace logging and toggle shared process"
Steps to Reproduce:

1. Launch VS code
2. in OSS, check flow control is enabled
3. Toggle Shared Process
4. run the command: `Developer: Set Log Level` - select trace
5. In a terminal, type `tree`
6. Now click in the editor and switch between editor tabs back and forth a few times
7. See the window become unresponsive then crash

[2021-02-18 22:03] misolori commented on #116976
I was thinking maybe we could adjust the layout and add a title + move the more button, but only for when this opens as the landing page:

![image](https://user-images.githubusercontent.com/35271042/108427412-fa941d80-71f1-11eb-80ab-7953e1f35dc5.png)

[2021-02-18 22:04] sana-ajani commented on #114307
I still like the editor hint because it's more instructional and obvious, but I would be curious to see what users prefer. Depending on the feedback and if there is not an obvious preference, we could also run the button and the editor hint as an A/B experiment. Main metric of success being how many new users change their language mode and then install the recommended extension for the language th

[2021-02-18 22:12] TylerLeonhardt commented on #116906
Déjà vu ... https://github.com/microsoft/vscode/issues/66515

tl;dr: PowerShell extension had to require the package.json to get this info and it was needed because the PowerShell extension ships a "preview" extension and a "stable" extension in the marketplace. That sucks for perf (more so for GitLens & GHPR)

I'd love to see at least the `extensionId` in there for the `vscode.extensions.getExten

[2021-02-18 22:12] XfaonXE opened #116980 "creating new formders in github repo, changes dont show in sourcecontrole"
- VS Code Version:
- OS Version:

Steps to Reproduce:

1. no clue how it happend

Does this issue occur when all extensions are disabled?: Yes/No
Yes

it still happens on a reinstall, also the problem is i have github repo connected and its in my souce panel. now when i use composer or create a folder inside of my vendor folder the folder and or its files changes or info of its creation dont show

[2021-02-18 22:13] XfaonXE commented on #116980
vs code version: latest
windows 8.1 latest pro

[2021-02-18 22:27] DougCal opened #116981 "TS Server fatal error: Cannot read property 'indexOf' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.1.4

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2021-02-18 22:36] calrsom commented on #105446
Heads up, the fix was reverted upstream: https://github.com/libuv/libuv/issues/3050#issuecomment-778495429

I'm not sure what that means for VSCode or if this issue should be reopened?

[2021-02-18 22:43] #115722 closed

[2021-02-18 22:47] seylatann opened #116982 "Intellisense not working for JavaScript files."
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-02-18 22:48] #116982 closed

[2021-02-18 22:51] IllusionMH commented on #116981
/duplicate of #116219
Fix released with VS Code 1.53.2

[2021-02-18 22:52] #116981 closed

[2021-02-18 22:54] #115706 closed

[2021-02-18 22:54] RMacfarlane commented on #116586
@Sivnarayan-Ka Are you trying to sign in to settings sync? What does the accounts menu in the side bar look like, can you include a screen shot?

[2021-02-18 22:56] rebornix commented on #116786
we can't if the list view is in its rendering cycle but we can revisit how bad it is.

[2021-02-18 23:04] mavaddat commented on #112846
I now see the same EPERM update issue when attempting to update from my fresh install of VS Code:

![%5BWindow%20Title%5D%0AVisual%20Studio%20Code%20-%20Insiders%0A%0A%5BMain%20Instruction%5D%0AUnable%20to%20write%20program%20user%20data.%0A%0A%5BContent%5D%0AA%20system%20error%20occurred%20%28EPERM%3A%20operation%20not%20permitted%2C%20mkdir%20%27C%3A%5CUsers%5CMavaddatJavid%5CAppData%5CRoaming%5

[2021-02-18 23:04] mvllow commented on #115939
Using latest insiders and can add that clicking the folder icon (for me at least) works consistently but clicking the file name *does not* work 90% of the time. A double click on the file name acts as a single click and  *does* work 90% of the time

[code]

[2021-02-18 23:05] rlayton6 opened #116983 "Source Control replaces the message that user just typed for next commit."
Issue Type: <b>Feature Request</b>

In "Source Control" view, using GIT, the message that was just typed in, ready for the next commit, was replaced with message from the history of commits when you press 'up arrow' at top of message box. Even though I discovered I could get it back, this was an unnerving experience. Should at least show visually the list of check-ins been stepped over with a way

[2021-02-18 23:23] ssoher commented on #116605
Works correctly in the Insiders for me as well, but of course I've been having the problem in the stable release version. So guess we'll say it's fixed in the insiders then?

[2021-02-18 23:29] #116806 closed

[2021-02-18 23:33] #116959 closed

[2021-02-18 23:34] JacksonKearl commented on #116605
Oh sorry about that, for some reason I thought you were using Insiders. This is a duplicate (in spirit) of #115633.

[2021-02-18 23:35] #116605 closed

[2021-02-18 23:37] #116955 closed

[2021-02-18 23:37] arrudaricardo opened #116985 "WSL Multiple Crash"
Issue Type: <b>Bug</b>

I'm running WSL and getting many crashers.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.18363
Remote OS version: Linux x64 5.4.72-microsoft-standard-WSL2
Remote OS version: Linux x64 5.4.72-microsoft-standard-WSL2
Remote OS version: Linux x64 5.4.72-microsoft-standard-WSL2
Remote OS versio

[2021-02-18 23:37] mjbvz commented on #116955
Please test out the fix @jrieken and let me know if you see this again. I had trouble reproducing this but could see how it might be hit in the code

[2021-02-18 23:51] mjbvz commented on #116261
This is tracked upstream by https://github.com/microsoft/TypeScript/issues/13408

It's a long running discussion so if you have something new to add, please share it on that issue

[2021-02-18 23:51] #116261 closed

[2021-02-18 23:52] TylerLeonhardt commented on #116032
I've got a fix out for this now ^

[2021-02-18 23:52] carlocardella commented on #116740
So with this approach if I update a setting in the default profile (say `editor.fontFamily`) but I want the Demos profile to use the default font instead, it should be overridden with its default value here?

That would also mean that every change made in the default profile is automatically inherited by all other profiles? If the change was intended only for the default profile, all other profile

[2021-02-18 23:59] manuth opened #116987 "[markdown-language-features] Rendering a Document Containing Pictures Throws a TypeError"
Issue Type: <b>Bug</b>

When trying to run `mdParser.render()` with a markdown-code which contains a picture, a `TypeError` is thrown:

[code]

My extension uses the vscode-parser for converting markdown-files to pdf, so my extension depends on the vscode-parser and needs it to work.

Steps to Reproduce:

1. Create a new extension
2. Add `"markdown.markdownItPlugins": true` to the `package.json`-f

[2021-02-19 00:07] JacksonKearl commented on #116574
![image](https://user-images.githubusercontent.com/8586769/108438106-66cb4d00-7203-11eb-9e44-5a104a21a8ae.png)

[2021-02-19 00:07] #116574 closed

[2021-02-19 00:08] JacksonKearl commented on #116574
"next page" made sense to me, lmk if you feel strongly about "next steps"

[2021-02-19 00:32] ddzy commented on #115814
我暂时用了微软拼音输入法，没问题
搜狗输入法不能输入中文

[2021-02-19 00:57] #115314 closed

[2021-02-19 01:00] JacksonKearl commented on #106715
Moved out of the milestone as the meta-nature means this just keeps getting pushed back. If there's any definitive closing condition for this issue we can re-add, otherwise maybe close it out?

[2021-02-19 01:09] rebornix commented on #116786
Pushed a fix/workaround https://github.com/microsoft/vscode/commit/482013c77e247d1704e7071522dd4f4edea8c128 for this.

The problem is not the `scheduleAtNextAnimationFrame`. When we rerun the cell, we will get a new output so what happens then

1. remove the old output, which will set the output height back to 0
2. send the new output rendering request to the webview
3. output renderer handles the

[2021-02-19 01:29] crazy-matt commented on #53262
@difosfor my bad, I confused with 2 different threads

[2021-02-19 01:36] rebornix commented on #116493
I'm not able to reproduce this with latest API. can you confirm?

[2021-02-19 01:36] rebornix commented on #116819
As discussed offline, the output value should be `{ ename, evalue, traceback }`

[2021-02-19 01:36] #116819 closed

[2021-02-19 01:39] cagross commented on #116261
@mjbvz OK thanks for that.

@sandy081 earlier you mentioned, "FYI our CSS extension also provides customization to switch from warning to errors."  Can you tell me which CSS extension you are referencing?

[2021-02-19 01:50] roblourens opened #116989 "DND to download out of codespaces doesn't work"
- Drag a file from the explorer to Finder
- It tries to download, but the browser says "Couldn't download - No File"
![image](https://user-images.githubusercontent.com/323878/108445762-d1838500-7211-11eb-8c8d-d9da2f07d496.png)

- But right click -> download works fine

[2021-02-19 01:53] HYounes88 opened #116990 "Can not install Django or any other packages"
Uninstalled, deleted app data and .vscode
I keep receiving the error code below and I've tried multiple things like making sure th path was correct and going into control panel for the cURL all to no avail, I would really like to get started coding. Thank you for your assistance.
-Hussein

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version:

[2021-02-19 01:54] dperez0909 opened #116991 "Code"
We have written the needed
Issue Type: <b>Performance Issue</b>

Visual Studio Code won't let me code and the extension won't open any of my files.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4005U CPU @ 1.70GHz (4 x

[2021-02-19 01:54] NaveenGali11 opened #116992 "Need options for generating getters and setters like in Intellij IDEA"
I have recently moved to vscode from Intellij idea and i think it would be better if an option like Getters and setters option for autogenerating the methods is awesome in my view

[2021-02-19 01:54] dperez0909 opened #116993 "Code"
We have written the needed
Issue Type: <b>Performance Issue</b>

Visual Studio Code won't let me code and the extension won't open any of my files.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4005U CPU @ 1.70GHz (4 x

[2021-02-19 02:02] pjaden commented on #116871
Here’s what I’ve tried today.

Created a new clean Windows 10 Enterprise VM, I installed VSCode 1.53.2.
Then within VSCode, Powershell Preview 2020.9.0. package.

Ctrl, (Open Settings)  = Files:Auto Save = off

I did not have a workspace.json file because I have never made any changes.

There are only 4 .json files in my Roaming\Code folders:
rapid_render.json
storage.json
languagepacks.json
Backu

[2021-02-19 02:12] ccloli commented on #115814
Is it possible to make it compatible with these IMEs? As based on latest comments, it still happens on Sogou Pinyin (thought I didn't reproduce it), and I guess Sogou Pinyin, QQ Pinyin and Rime are the top 3 using 3rd-party IMEs in China (at least Sogou Pinyin is definitely the most one), and all of them are well in previous version (1.51-).

Is this also apply to Linux distributions? Since the or

[2021-02-19 02:19] crispinb commented on #26339
Great idea, done a little disservice by the (over) emphasis on data loss. Recovering from such is a handy side-effect, but not I think the primary motivation. Anyone who's used Intellij's local history (or emacs' undo-tree IIRC?), knows that having fluent nonlinear access to previous states of a file is an ergonomic master-stroke.

[2021-02-19 02:19] DanaMW opened #116994 "Mouse select text in "find" (ctl-F) stops selecting if mouse moves off horizonal plane."
Issue Type: <b>Bug</b>

** When in the editor editing a file** Press Cnt-F, type in text to search. Using only the mouse try to select all. As you slowly move to the other end of the line move your mouse off the horizontal plane of the search box. Notice the selection stops following the mouse movement. A busy person might (does) need it to hold the mouse until the button is released no matter the

[2021-02-19 02:29] albinsun opened #116995 "[Fail to Settings Sync] https://vscode-sync.trafficmanager.net/ response 502"
Hi Guys,

Since I found that my vscode settings is not synced among my devices, and I noticed the auto sync is failed.
Today I tried manual "Settings Sync" on VSCode, it still fail with response code 502 from vscode-sync.trafficmanager.net

### My VSCode env
![vscode_env](https://user-images.githubusercontent.com/2773781/108448744-40f28680-729d-11eb-831d-91c17d1fd0fb.png)

### Detail Log
`
[2021-0

[2021-02-19 02:36] #116993 closed

[2021-02-19 02:43] SharakPL commented on #40239
That's perfectly clear in [extension pack description](https://code.visualstudio.com/blogs/2017/03/07/extension-pack-roundup#_why-would-i-want-to-create-an-extension-pack):

[code]

[2021-02-19 02:50] #116995 closed

[2021-02-19 02:52] albinsun commented on #116995
I found https://vscode-sync.trafficmanager.net seems block/ not reached in my local network, will check it first, thanks.

[2021-02-19 03:05] #104329 closed

[2021-02-19 03:07] #115812 closed

[2021-02-19 03:08] #116992 closed

[2021-02-19 03:10] kristamarette opened #116996 "Unable to view javascript locally on my mac"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

I reloaded VS code, Xcode all of my script files and I am unable to view my gsap animations through Live Server on my device using Chrome, Safari and Firefox Developer. My professor can see all of my work when he runs the files on his system. Please let me know what informati

[2021-02-19 03:11] mjbvz commented on #116987
We'd take a PR. However this looks specific to how your extension is using the markdown extension point in an unsupported way so this is not something we'll prioritize fixing

[2021-02-19 03:12] yume-chan commented on #115814
@ccloli No, clearly #112978's behavior is different from this one.

[2021-02-19 03:26] #116996 closed

[2021-02-19 03:29] mjbvz commented on #112430
I believe this is a duplicate of https://github.com/microsoft/vscode/issues/105536

Please let me know if you see this the latest VS Code insiders builds

[2021-02-19 03:29] #112430 closed

[2021-02-19 03:31] mjbvz commented on #116941
Yes I'll make it a text completion instead. If someone  really wants to disable JS Doc completions, we have a `javascript.suggest.completeJSDocs` setting

[2021-02-19 03:34] pingshunhuangalex opened #116997 "Same fonts rendered differently between Win10 and Mac"
- VSCode version: 1.54.0-insider
- OS: Win10 1909 / macOS Catalina 10.15.7

Steps to Reproduce:

1. Install the font here: https://drive.google.com/file/d/0B3laO4yuXZrnUkpyWXhaSjZyT2s/view?usp=sharing
2. Set the font family in VS Code to `Tsentsiu Mono HG`

Fonts previewed in Win10:
![image](https://user-images.githubusercontent.com/17170199/108453808-524c8a80-72bf-11eb-8f8e-cac84acc6e02.png)

Fon

[2021-02-19 03:35] #116941 closed

[2021-02-19 03:55] mrclolveira opened #116999 "Limits for submodules detection"
It would be great a option to disable the 'recursive' submodules detection, or setting the depth level of this detection.

The motivation for this is that opening big projects with many levels of submodules, the git feature from vs become slow and polluted

![Screenshot from 2021-02-19 00-53-54](https://user-images.githubusercontent.com/10092172/108455410-f9dca500-724c-11eb-8f72-af1f003aeb28.png)

[2021-02-19 04:23] wenfangdu opened #117000 "[FR] Option to configure word-based suggestion triggering number"
Currently, the word-based suggestion shows up when reaching 7 letters, would like an option to change the triggering number, so it could show up faster.

![image](https://user-images.githubusercontent.com/28700378/108457163-0395f500-72ad-11eb-95d7-dd199cf3c07f.png)

[2021-02-19 04:34] pingshunhuangalex opened #117001 "Selected menu item background is no longer controlled by the theme"
- VSCode version: 1.54.0-insider
- OS: macOS Catalina 10.15.7

Steps to Reproduce:

1. Pick a theme (I use `Community Material Theme Darker High Contrast`, but I don't think it matters)
2. Open the command menu
3. The background of the selected menu item now always uses a navy blue colour. Previously, it was light grey (may or may not be overridden by the theme I used)
4. If this is expected, just

[2021-02-19 05:00] mammetmyrat opened #117002 "adafgg"
- VS Code Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2021-02-19 05:06] gjsjohnmurray commented on #116983
Previously reported in #111555

I posted a workaround there, but maybe the underlying issue needs reviewing.

[2021-02-19 05:11] mit2nil opened #117003 "All Azure extensions are broken due to private link error"
Issue Type: <b>Bug</b>

- Open Visual Studio Code
- Click on Azure icon from the left pane
- Go to one of the Azure extension and try to login to Azure using Microsoft corp credentials.

![image](https://user-images.githubusercontent.com/13969733/108460618-e241f400-722d-11eb-8471-96bffcc5640c.png)

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS

[2021-02-19 05:34] katlimruiz opened #117004 "when debugging it takes a while to enter to first breakpoint"
Issue Type: <b>Performance Issue</b>

I'm debugging NodeJs koa app, before the last update it was ok, but now when I start debugging it takes a lot of time

        {
            "type": "pwa-node",
            "request": "launch",
            "name": "Launch Program",
            "skipFiles": [
                "<node_internals>/**"
            ],
            "outputCapture": "std",
            "p

[2021-02-19 05:58] a1exwang opened #117005 ""Unable to attach to browser" when using pwa-edge launch config to launch a browser if VSCode is run with Administrator"
- VS Code Version:
Tested on these two versions:(code --version output)
[code]
and
[code]

- OS Version: Windows 10 19042.804

See the video for more detailed info

https://user-images.githubusercontent.com/9698542/108463973-49a58580-72ba-11eb-8b16-4bb726ee4d67.mp4

1. Create a empty folder, create a .vscode folder in it and create a launch.json in .vscode with the following content:
[code]
2. Ope

[2021-02-19 06:23] eamodio opened #117006 "Call stack debug actions aren't keyboard accessible"
Unless the mouse is hovering over that row, the actions don't show up, so you can't access them with the keyboard

![image](https://user-images.githubusercontent.com/641685/108465933-de739900-7250-11eb-9bc6-4c0fded0d79c.png)

[2021-02-19 06:31] DanaMW commented on #116994
I am going to remove this submission as I do not think I explained it clearly and you all have enough to do, Sorry.

[2021-02-19 06:31] #116994 closed

[2021-02-19 06:45] eamodio opened #117007 "Quick pick focus color is incorrect"
Since the changes in the list/tree widget focus work, the quick pick has a different focus color

![image](https://user-images.githubusercontent.com/641685/108467878-e2ed8100-7253-11eb-9883-84ab73401eef.png)

[2021-02-19 06:56] billysutomo opened #117008 "vs code terminal not auto refresh"
Issue Type: <b>Bug</b>

I'm using visual code with extension "Remote - SSH".
Open visual code terminal, run command like "ls", showing list file as usual.
But when I'm running command "ls" inside docker container, list file is not showing, need to expand the terminal then will show list file. The problem is like the terminal is not being refresh.

How to reproduce.
1. Open visual code
2. Install e

[2021-02-19 07:05] ChangWan-Kim opened #117009 "Is "user tasks" added in "setting sync"?"
Hi.

Is "user tasks" added in "setting sync"?

No matter how much you set it, it's impossible.

If not possible, request a feature.

I used Google Translator. Please understand.

[2021-02-19 07:08] zxch3n opened #117010 "TS Server fatal error: Cannot read property 'indexOf' of undefined"
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.1.4

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Server Error Stack**
S

[2021-02-19 07:10] vymarkov opened #117011 "Allow to set an access token to login into Github"
I didn't found a way how I can login into Github from VS Code by using the access token. The reason why is I need this, that I want to use VS Codium / GitPod to not be limited by usage only VS Code.

May be it's already implemented, but it is not obvious for user.

[2021-02-19 07:17] gjsjohnmurray commented on #117010
/duplicate and fixed in 1.53.2

[2021-02-19 07:18] #117010 closed

[2021-02-19 07:18] adfnekc commented on #116990
did you try use ```pip install requests``` in cmd ? and what error code you recive?

[2021-02-19 07:20] Sivnarayan-Ka commented on #116586
Yes it shows only two things:
1) you are not signed in to any account(no options anywhere to sign in)
2) turn on sync settings (this is clickable ,clicking which shows msg "this
is preview feature ,read documentation before turning on".
There is no option for account settings also anywhere neither in menus or
in any side bars.Attaching screenshot for reference.

So I thought to drop this standalon

[2021-02-19 07:21] gjsjohnmurray commented on #117009
/duplicate of #91011

[2021-02-19 07:21] #117009 closed

[2021-02-19 07:23] gjsjohnmurray commented on #117007
Is this #117001?

[2021-02-19 07:28] adfnekc commented on #116944
here is the translation

here is my suggestion

这是我的建议

[2021-02-19 07:33] bpasero commented on #116871
Ok so this seems to be debug related then:

[2021-02-19 07:36] bpasero opened #117012 "[uncaught exception in sharedProcess]: disposed: Error: disposed"
Saw this crash running out of sources (macOS, ARM) simply quitting VSCode right after it started:

[code]

[2021-02-19 07:40] bpasero commented on #116829
@sandy081 sorry, I do not follow the reasoning. It is true that we have no file system provider for local file access in sandbox, but for that reason I register a in memory fs provider here:

https://github.com/microsoft/vscode/blob/29d4fdb65c8bae2001d1dc3178737127fde3d14d/src/vs/workbench/electron-sandbox/desktop.main.ts#L196-L196

The exception actually seems to happen in the main process, so th

[2021-02-19 07:41] cbuchart commented on #54517
I think it worth mentioning that it should also update existing keybindings when user has modified them.

[2021-02-19 07:43] bpasero commented on #116575
I am not sure I understand how this happens or if VSCode is to blame, need more eyes on this issue.

[2021-02-19 07:48] bpasero commented on #115715
What's the verdict?

[2021-02-19 07:49] bpasero commented on #115715
What's the verdict?

[2021-02-19 07:52] teosbb commented on #26339
So as I see the complaints about GIT related issues are multiplying. Maybe it should be reported as a BUG - Local History is only one solution to it.

@tautomer @tjx666

Do You use Prettier / Husky precommit hooks ?

[2021-02-19 08:00] #116199 closed

[2021-02-19 08:03] jrieken commented on #117000
No such condition exists in vscode. Please add full repo steps and actual code samples, no screen shots

[2021-02-19 08:04] mickaelistria opened #117013 "NPM package for vscode-json-languageserver not sync'd with VSCode releases"
The NPM package for vscode-json-languageserver is not sync'd with VSCode release. It was not published for 5 months (mid-September), while the LS received several updates in VSCode source tree and releases.
There are 2 issues:
* In vscode, the vscode-json-languageserver module version is more or less unmaintained. The vscode-json-languageserver is treated as an internal module so version concerns

[2021-02-19 08:08] techsin opened #117014 "Undo/Redo but non-linear"
It'd be insanely useful to be able to go back in code and change things but still be able to come back to older most forward state.

For example, I'm coding something, I try a new approach, realize it does't work, Do bunch of undos. Get back to when code worked. Try a different approach, realize there was a utility function I could use from previous approach here as well. But it's gone. In linear

[2021-02-19 08:10] Lxshmily commented on #115814
搜狗输入法就没法输入中文，自带输入法就可以。。。难受

[2021-02-19 08:12] ScarletFlash opened #117015 "DELETE"
DELETE

[2021-02-19 08:13] #117015 closed

[2021-02-19 08:14] ScarletFlash commented on #117015
Sorry for missclick 😅

[2021-02-19 08:19] jrieken commented on #116906
Please calm down, I am simply asking questions. This is clearly for a niche use-case for a handful of extension that might be obsolete as soon as the marketplace supports insider versions of extension. This use-case already already requires patching your sources and I don't think it is outrageous to wonder why that cannot be extended, esp. since the patch won't go away with this.

When it comes to

[2021-02-19 08:21] isidorn commented on #117006
Great catch. They should also show up on line focus. I will look into fixing that.
Thanks for reporting this!

[2021-02-19 08:23] sanket-bhalerao commented on #114459
@gjsjohnmurray, yes, even after resizing the blank window it stays blank there is no change.

i find that if I use `code-insiders --disable-features=CalculateNativeWinOcclusion <path to workspace/folder>` from command prompt VSCode starts as expected. Frankly, I do not know what  `--disable-features=CalculateNativeWinOcclusion`  option does and what are its side effects, however, it lets me start

[2021-02-19 08:27] BezukhovA commented on #110683
The code-insider seems ok in my case.

[2021-02-19 08:27] Glomels opened #117016 "Can no longer open VSCode from WSL2 Ubuntu20"
- VSCode Version: 1.53.2
- Local OS Version: Win10 Pro 2004 Build 19041.804
- Remote OS Version: Ubuntu 20.04.2
- Remote Extension/Connection Type: WSL

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/7198045/108474786-b0885780-7244-11eb-90a0-cfcfa6fb095d.png)

If I try to install `ca-certificates`, it just says there are no changes to be made.

![image](https://user-images

[2021-02-19 08:29] twbworld opened #117017 "add config"
add config `{scrollbarSlider.border: "#000"}`
like Sublime Text3: `{draw_minimap_border: true}`

[2021-02-19 08:34] alexdima commented on #115396
cc @Tyriar See https://github.com/microsoft/vscode/issues/115396#issuecomment-780502890 . It looks like sometimes `terminalFocus` is set when the terminal is not focused.

[2021-02-19 08:35] b-xz opened #117018 "终端不能输入"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2021-02-19 08:35] alexdima commented on #116727
The root cause appears to be https://github.com/electron/electron/issues/27673

[2021-02-19 08:35] rweisse commented on #111412
This is still an issue. Visual Studio Code behaves exactly as described by @iAmWillShepherd .

#### Using VSCode
[code]

#### On a MacBook Pro
[code]

My MacBook is connected by Thunderbolt to an external 4K-Screen.

[2021-02-19 08:36] #117018 closed

[2021-02-19 08:36] isidorn commented on #116989
Yeah we could not get this to work via the chrome data transfer protocol, thus we adde the download action as an alternative solution sort of.
So this is a limitation right now.

[2021-02-19 08:37] isidorn commented on #116722
Let's reopen this since a couple more change are need by me on the ActionBar side

[2021-02-19 08:38] isidorn commented on #115939
That is a seperate change @joaomoreno did for the tree.

[2021-02-19 08:38] sanket-bhalerao commented on #116000
@joaomoreno, as per [issue](https://github.com/microsoft/vscode/issues/116341) the branch is renamed to main, however, commit log in the 'February 2021 (version 1.54)' points to the old branch commit log and leads to 404.

![image](https://user-images.githubusercontent.com/9264813/108478958-23ccb080-72bb-11eb-80a6-be2e295ba90d.png)

[2021-02-19 08:39] isidorn commented on #116871
Dup of https://github.com/microsoft/vscode/issues/114890

[2021-02-19 08:39] #116871 closed

[2021-02-19 08:40] bpasero commented on #115840
Very good issue, turns out that the buttons in the save error notification were simply just operating on the currently active editor. I also noticed the same issue for custom editors actually so fixed both.

[2021-02-19 08:46] jrieken commented on #116932
We didn't change anything, it has always been like that when invoking a command that is using non primitive arguments.

Wrt the details it's actually the same problem. There is no guarantee that we can actually send those details to the renderer. But I agree that we can try better

[2021-02-19 08:51] weinand commented on #116991
/needsMoreInfo

[2021-02-19 08:53] #117002 closed

[2021-02-19 08:57] bpasero opened #117019 "Test: feedback around inline error decorations"
Talking about:

![image](https://user-images.githubusercontent.com/900690/108481613-b3149c80-7298-11eb-93d2-2bb1e69d78ad.png)

Some feedback:
* if clicking on the error reveals the inline editor box, clicking again should also hide it
* I would not preserve and restore this decoration between reloads
* there seems to be a bug that the decoration looses its range when I make edits:
![image](https:/

[2021-02-19 09:00] sandy081 commented on #116829
@bpasero Exception you saw in the main process was because the environment service is pointing to a log file with userData scheme

https://github.com/microsoft/vscode/blob/29d4fdb65c8bae2001d1dc3178737127fde3d14d/src/vs/workbench/electron-sandbox/sandbox.simpleservices.ts#L74-L74

Since logging happens in the main now, window asks the main for the logger with this URI. Main does not have fsp for u

[2021-02-19 09:01] babobski opened #117020 "Emmet CSS: Doesn't expand when ! (!important) is included"
I'm switching from Komodo Ide to vscode.
The biggest miss/frustration is that I can not use ! (important) in my emmet abbreviations.
I'm used that it can be done in one operation.
In vscode I a have to use two steps to accomplish the same.

Version: 1.53.2 (user setup)
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:48:04.245Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12

[2021-02-19 09:08] nztraveler opened #117021 "Code Lens cannot find the reference in Object Shorthand property names"
Version: 1.53.2 (user setup)
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:48:04.245Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:
There are three simple javascript files, and the code lens of the module a.js can only find 1 reference in c.js.
In the b.js, the a is referenced in the way o

[2021-02-19 09:11] sandy081 commented on #115456
Can you please try change the keybinding to a different keybinding (say ctrl+shift+m or any other simple one) and try toggling the status bar using the new keybinding and see if you can still repro?

[2021-02-19 09:24] #116722 closed

[2021-02-19 09:30] DarkTrick opened #117022 "Feature Request: provide "vscode.executeDocumentSymbolProvider" for range"
**Disclaimer:** In case the feature below already exists, it's difficult to find. In that case, I would ask for improving the documentation (perhaps here: https://code.visualstudio.com/api/references/commands )

Current Situation:
==============
VS Code provides the command `vscode.executeDocumentSymbolProvider`. The command returns "1st-level symbol information". Example (Python):
From the follow

[2021-02-19 09:36] #116288 closed

[2021-02-19 09:38] bpasero commented on #116829
@sandy081 in sandbox we register a simple file system provider:

https://github.com/microsoft/vscode/blob/29d4fdb65c8bae2001d1dc3178737127fde3d14d/src/vs/workbench/electron-sandbox/desktop.main.ts#L196-L196

Could it be that you have some native node.js fs dependencies still that we haven't looked at?

[2021-02-19 09:39] yume-chan commented on #117020
I remember it used to work. Now it looks like because `!` is a separator character so IntelliSense automatically stops.

Anyway, two more workarounds before a proper fix:

1. Set `emmet.triggerExpansionOnTab` setting to `true`, although it doesn't show the suggest widget, hitting <kbd>Tab</kbd> still expands `bdbn!`
2. After typing `bdbn!`, hit <kbd>Ctrl</kbd> + <kbd>Space</kbd> (or <kbd>Ctrl</kbd

[2021-02-19 09:40] 5wattbulb commented on #116174
I've sorted the arrow key problems by installing libreadline-dev following advice from the sqlite forum. The bottom line wrapping problem does seem to be a wsl / vscode / windows terminal problem though.

[2021-02-19 09:41] #117006 closed

[2021-02-19 09:50] d-e-v-esh opened #117023 "Emoji Panel Does Not Work Properly Anymore"
Issue Type: <b>Bug</b>

# Steps to Reproduce

 - Windows Key + . (period) => Opens up the emoji panel
 - Writing anything while the panel is showing searches an emoji that matches the text that is being written.
 - The emoji panel reacts correctly to whatever emoji we search for but the search text being written doesn't show up like it used to before.
 - It used to show up covered in a highlighted

[2021-02-19 09:55] joaomoreno commented on #115873
We've decided to revert the default `openMode` setting! All other changes will remain, as they improve usability. Thanks for all the feedback!

[2021-02-19 09:55] joaomoreno commented on #115939
https://github.com/microsoft/vscode/issues/115873#issuecomment-781967348

[2021-02-19 09:55] #115939 closed

[2021-02-19 09:56] joaomoreno commented on #116958
https://github.com/microsoft/vscode/issues/115873#issuecomment-781967348

[2021-02-19 09:56] joaomoreno commented on #116804
https://github.com/microsoft/vscode/issues/115873#issuecomment-781967348

[2021-02-19 09:59] giorgioborri commented on #116682
Thanks for answer
I've downloaded the la last deb "code_1.53.2-1613044664_amd64.deb"
and installed
launched with code --disable-gpu
It run normally with viewable gui

Il giorno mer 17 feb 2021 alle ore 19:31 Robo <notifications@github.com> ha
scritto:

[2021-02-19 10:02] bentaly commented on #85828
Still having this issue
![image](https://user-images.githubusercontent.com/4908256/108489494-84e38c80-7299-11eb-8cc6-8d693785531d.png)

[2021-02-19 10:02] babobski commented on #117020
@yume-chan Thanks for the quick reply.
For me the second workaround is working better.
On the first it try's to autocomplete a comment:

![afbeelding](https://user-images.githubusercontent.com/3530262/108489453-dbed5f80-72a1-11eb-9da4-dbac8b682862.png)

Hitting tab will insert it.

[2021-02-19 10:04] Gregoor commented on #116945
Thanks for the swift reply, that does make total sense. Snippets do seem like the closest thing I need, to put editing and selection change into a single "transaction". This is what I'm currently thinking of doing (though it does not work as expected yet):
[code]

It does feel like I'm abusing the API a little here, but I imagine the larger sin is my replacing of the whole document anyway (which i

[2021-02-19 10:04] ZhyMC opened #117024 "maybe some input methods typing chinese in terminal tab don't work"
- VS Code Version:1.53.2
- OS Version:Win10 10.0.18363

Steps to Reproduce:

1. switch the default input method to sogou ime(https://pinyin.sogou.com/)
2. typing chinese characters in terminal tab
3. nothing gonna happened , but english letters typing works
4. switch to microsoft's chinese input method "Microsoft PinYin"
5. typing chinese characters in terminal tab
6. everything works just fine

D

[2021-02-19 10:07] jpike88 opened #117025 "Cannot collapse Handlebars tags, only the HTML"
- VS Code Version: 1.53.2
- OS Version: macOS Big Sur

<img width="817" alt="Screenshot 2021-02-19 at 5 06 03 PM" src="https://user-images.githubusercontent.com/9585787/108489975-c8a7b780-72d4-11eb-9b62-1c949d826493.png">

Steps to Reproduce:

1. see screenshot, on line 1055 I should be able to collapse it. should work on all handlebars helper groups like ```#each```, ```#if``` etc

[2021-02-19 10:08] soulfulAdam commented on #105690
.

[2021-02-19 10:16] Gaetan-dc commented on #98160
As someone having used Visual Studio on a daily basis for more than 10 years, this feature is really lacking in VS Code. In VS2017 I will usually have 3 to 5 pinned tabs which I'm mainly working on at the moment, and the non-pinned tabs are there for minor changes or exploration/reference, so they tend to grow in number.
The way pinned tabs work in VS Code is not satisfactory. I do not want to scr

[2021-02-19 10:17] weinand commented on #105690
I've slightly changed the API to align it with the existing `EvaluatableExpressionProvider` API (for debug hovers). The first argument for the three `InlineValue` types is now the document `range`. In addition the `variableName` and `expression` are now optional because they can be automatically extracted from the document based on the `range`.

The `InlineValueEvaluatableExpression` is now implem

[2021-02-19 10:18] yume-chan commented on #117014
Duplicate of #20889

[2021-02-19 10:21] yume-chan commented on #117024
Duplicate of #115814

[2021-02-19 10:22] wenfangdu opened #117027 "[FR] No reload on extension update"
Currently, installing an extension for the first time doesn't require reloading, would be great if it doesn't require reloading on extension update as well.

[2021-02-19 10:24] bpasero commented on #115908
The issue here is that the tabs control chooses to draw a gradient with a `::after` rule to indicate that the tab name is not entirely visible. Unfortunately this rule collides with the one used for badges which also puts a `::after` rule at the same location and you can only have one.

I have moved this `::after` rule into the `.monaco-icon-label-container` container now and that seems to help fo

[2021-02-19 10:25] #115908 closed

[2021-02-19 10:25] yume-chan commented on #117001
Yes. It's part of #115873. Ping @joaomoreno for correct color token.

[2021-02-19 10:25] bpasero commented on #115908
The only sort of "bug" is that I cannot get the gradient to draw after the label when the badge is there...

[2021-02-19 10:28] bpasero opened #117028 "Terminal environmentVariableCollection"
https://dev.azure.com/monacotools/Monaco/_build/results?buildId=105714&view=logs&j=672276a2-8d3a-5fab-615d-090c51352f92&t=354d3e13-3534-5793-0b68-b00f8c1d36f3&l=529

[code]

[2021-02-19 10:29] isidorn opened #117029 "Extensions list should fill ActionBar like a menu"
This debt item consists of the following

1. Extensions list should use the `ActionBar` like all other menus. Thus hidden actions should not be part of that `ActionBar`
2. We should remove the flag `focusOnlyEnabledItems` in `ActionBar` that was introduced just for extensions. Also any call to action enablment should be removed from the `ActionBar`

[2021-02-19 10:30] yume-chan commented on #116939
Duplicate of #58252

There are some extension suggestions in https://github.com/microsoft/vscode/issues/58252#issuecomment-557023217 you can give a try.

[2021-02-19 10:44] alexr00 commented on #116058
View has been moved to the panel.
After feedback:
![image](https://user-images.githubusercontent.com/38270282/108494407-c713ca80-72a7-11eb-82d8-67f37ca1bd87.png)

I am sure there will be more tweaking of the UI in the next couple days, but all of the polish items here have now been completed.

[2021-02-19 10:44] #116058 closed

[2021-02-19 10:46] fj commented on #116939
I don't think this is a duplicate. That issue is about invisible zero-width characters, which are different than control characters.

This issue is specifically about the issue that VS Code has a setting called "render control characters" which does not render control characters.

[2021-02-19 10:48] #116385 closed

[2021-02-19 10:49] bpasero commented on #116385
I think this is entirely related to zooming as it only seems to reproduce with a zoom level of -1. We have a heuristic to disable wrapping tabs when we think that the last tab is large enough that the editor action toolbar is overlapped. With zooming I am seeing some rounding errors when determining this overlap. As a mitigation I pushed a change to allow for up to 1px overlap.

[2021-02-19 10:50] dariusmihut commented on #116682
Hello,

I can confirm that the last version (1.53.2-1613044734.el7) published in the repo https://packages.microsoft.com/yumrepos/vscode is working also on opensuse with --disable-gpu

From: giorgioborri <notifications@github.com>
Reply to: microsoft/vscode <reply@reply.github.com>
Date: Friday, 19 February 2021 at 12:00
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Darius Mihut <darius.mih

[2021-02-19 10:55] bpasero opened #117030 "Empty view buttons sizings are weird"
Stable:
![image](https://user-images.githubusercontent.com/900690/108495637-54a3ea00-72a9-11eb-9f2a-ed167151fc60.png)

vs insiders:

![image](https://user-images.githubusercontent.com/900690/108495598-4786fb00-72a9-11eb-86da-732937c66043.png)

[2021-02-19 11:02] DarkSkyT9A commented on #91179
Same thing happened for me after updating to 1.53 on Linux:

[code]

[code]

Symptoms:
* Runs on one core 100% all the time
* Does not remember my opened files anymore.
* Does not update the recently opened files
* No extension works (eslint, bookmarks, etc.)
* JavaScript support ceased working for everything but snytax highlighting. No refactoring available (F2), no variable navigation (F12)

[co

[2021-02-19 11:10] miguelvalente opened #117031 "Comment Block/Line Action not Working from F1 or with keyboard shorcut"
- VS Code Version: 1.53.1
- OS Version: Kernel: 5.10.16-arch1-1

Steps to Reproduce:

1. Select Line or Block Text
2.Press F1
3.Select Toggle Line Comment or Toggle Block Comment
4.It does not work

Does this issue occur when all extensions are disabled?: Yes/No

Yes. I even deleted settings.json to no avail.

[2021-02-19 11:12] #117024 closed

[2021-02-19 11:23] ZhyMC commented on #115814
after 1.52 version, vscode behaves like this, maybe we should find out changes which cause this problem. Some input methods call special system APIs or output text to UI in a different way. but i think vscode should support them if possible.

[2021-02-19 11:29] sandy081 commented on #116829
@bpasero

To show log file in the output channel, I wait until the corresponding log file is created and after that I register the output log channel for the log file.

In sandbox simple workbench environment service, If I change the window log file to use the real log file on disk then all window logging happens on main ie., spdlog in main writes into the log file. If I understand correctly in sa

[2021-02-19 11:30] kamenminkov commented on #107016
I've had kind of similar issues - but maybe not to such extent - sometimes when I enter full screen, scrolling and text input becomes somewhat choppier - not to the extent of being unusable, but it's noticeable. It's not all the time, but unfortunately I can't pinpoint what's causing the problem.
It's been happening on both my current machine (Ryzen 9 5900X, 16 GiB RAM, GTX 1080, two displays) and

[2021-02-19 11:30] #116515 closed

[2021-02-19 11:30] #116490 closed

[2021-02-19 11:30] #116462 closed

[2021-02-19 11:30] #116421 closed

[2021-02-19 11:30] #116278 closed

[2021-02-19 11:30] #116059 closed

[2021-02-19 11:30] #115930 closed

[2021-02-19 11:32] sandy081 opened #117032 "Flaky WorkspacesManagementMainService.getUntitledWorkspaceSync"
https://github.com/microsoft/vscode/runs/1934815343?check_suite_focus=true

[2021-02-19 12:03] creeper6530 opened #117033 "Update"
Hey @microsoft,
After updating to version 1.53.2 VSCode stopped working and shows only blank screen. Where can I get download to older version?

If it'll be possible for me to help, just mention me.

And YES, I have tried turning it off and on again ;-) . I even have reinstalled it at least five times, but still after update it doesn't work.

[2021-02-19 12:06] timluther opened #117034 "Python plugin failing to start"
- VS Code Version:1.53.2 (user setup), Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
- OS Version: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Create python program
2. Run using plugin

Does this issue occur when all extensions are disabled?: NA (requires python extension to run)

 N/A (requires python extension to run)

When trying to debug python code using vscode and the microsoft pyt

[2021-02-19 12:07] creeper6530 commented on #117033
UPDATE:
It actually works, it's only loading aprox. 5 minutes.

[2021-02-19 12:07] #117033 closed

[2021-02-19 12:33] jrieken opened #117035 "Backup requires a valid storage path"
It seem that there is a conceptual flow with notebook documents. In the extension, when adding a new notebook document ([here](https://github.com/microsoft/vscode/blob/9c77f4d86aa5aeb9c753edd2e9b99222abfce5f4/src/vs/workbench/api/common/extHostNotebook.ts#L709)), we make the assumption that the content provider resides inside the same extension host. This must not be true, e.g there can be a remot

[2021-02-19 12:33] mimamulhassankhan opened #117036 "The terminal process failed to launch: path to shell executable "path""
After updating powershell via microsoft store, it shows me this error while I am trying to open terminal: The terminal process failed to launch: Path to shell executable "C:\Program Files\WindowsApps\Microsoft.PowerShell_7.1.1.0_x64__8wekyb3d8bbwe\pwsh.exe" does not exist. Now I can't access my terminal. Please quickly fix this. I have a deadline tomorrow. Before update, my default shell was power

[2021-02-19 12:34] bpasero commented on #110352
@aeschli this seems like a missing thing / oversight from the work on remote. If an extension asks to open a folder, we probably need to preserve the `remoteAuthority` of that opening window in case the folder uses a custom scheme that is implemented by an extension that lives in the remote extension host. Otherwise we end up not being able to resolve the folder.

Here is what happens:
* a user in

[2021-02-19 12:36] timluther commented on #117034
I've rolled back my visual studio copy and the problem persisted, suggesting that this is a problem with the ms-python plugin, not vscode itself. Sorry about that, have added error report to their page.

[2021-02-19 12:41] manuth commented on #116987
Thanks a lot for your rapid answer.
I found myself able to refactor the `markdown-language-features` package to make rendering work again out of the box.
I'll open up a PR asap.

[2021-02-19 12:47] harriskrem commented on #116690
Hi i have exactly the same issue, i'm attaching you the crash dmp file, can you please help me? I'm using Pop!_OS 20.10
[crash.zip](https://github.com/microsoft/vscode/files/6010053/crash.zip)

[2021-02-19 12:49] MetRonnie opened #117037 "Files open in wrong window"
Using the File: Open command (<kbd>Ctrl</kbd>+<kbd>O</kbd>) to open a file from a restored (i.e. not maximized) window results in the file opening in another, pre-existing maximised window instead.

- VS Code Version: 1.61.2
- OS Version: Linux x64 3.10.0-1160.45.1.el7.x86_64
[code]
Steps to Reproduce:

1. Open a VSCode window and maximise it
2. Open another VSCode window and make sure it is not m

[2021-02-19 12:53] bpasero commented on #116829
@sandy081 nevermind, I figured out the root cause: we pick up on a `IEnvironmentService#logFile` variable and in sandbox it is defined as:

https://github.com/microsoft/vscode/blob/29d4fdb65c8bae2001d1dc3178737127fde3d14d/src/vs/workbench/electron-sandbox/sandbox.simpleservices.ts#L74-L74

However, since now the main side is responsible for writing the logs, main will try to write to a `userData`

[2021-02-19 12:56] bpasero commented on #116690
@deepak1556 can you work your magic to symbolify?

[2021-02-19 12:56] doivosevic commented on #5192
Does this still work with the same selector? I cannot get it to work on my machine

[2021-02-19 12:58] isidorn commented on #117030
I believe @joaomoreno broke this via https://github.com/microsoft/vscode/commit/699cc6abd39459857c664ce86320bcc66b534524

Thus also assigning to him

[2021-02-19 13:12] seilon-zhang opened #117038 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.2.0-insiders.20210210

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Serv

[2021-02-19 13:12] seilon-zhang opened #117039 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.2.0-insiders.20210210

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️Server logging disabled. To help us fix crashes like this, please enable logging by setting:
[code]
After enabling this setting, future crash reports will include the server log.

**TS Serv

[2021-02-19 13:19] michvllni opened #117040 "Missing Merge Conflicts on > 5000 Changes"
Issue Type: <b>Bug</b>

1. Merge something with more than 5000 changed files
2. Have merge conflicts in several files, including files not in the first 5000 changed files
3. VS Code only shows the ones in the first 5000 changed files

The preferred behaviour would be that VS Code shows all conflicts, probably by reducing the number of viewed staged changes

VS Code version: Code 1.53.2 (622cb03f7e

[2021-02-19 13:22] cmamigonian commented on #105536
What's the lead time for making this fix generally available?

[2021-02-19 13:25] isidorn commented on #114307
Thanks for the feedback.
Here's some info from @stevencl who is running user studies

![Screenshot 2021-02-19 at 14 19 15](https://user-images.githubusercontent.com/1926584/108509492-98085380-72bd-11eb-9aad-e843c17e4acb.png)

[2021-02-19 13:25] techsin commented on #20889
I'd like propose another shortcut. Undo/Redo shortcuts should work linearly as they do now. Editor should know which branch the user has backtracked from and upon redoing should go back to it. But have an additional shortcuts to cycle through branches. So one for up and one for down. Pressing these shortcuts will take you leaf nodes of sibling branches.

Summary of shortcuts:

1. cmd+. z = Undo
2.

[2021-02-19 13:35] techsin commented on #117014
thanks updated the linked post, however, it seems to have gone stale.

[2021-02-19 13:35] techsin commented on #117014
I'd like propose another shortcut. Undo/Redo shortcuts should work linearly as they do now. Editor should know which branch the user has backtracked from and upon redoing should go back to it. But have an additional shortcuts to cycle through branches. So one for up and one for down. Pressing these shortcuts will take you leaf nodes of sibling branches.

Summary of shortcuts:

1. cmd+. z = Undo
2.

[2021-02-19 13:39] joaomoreno commented on #117001
The right change would be to swap customizing the `list.focusBackground` color and simply customize the `quickInput.list.focusBackground` one. This will be clearly laid out in our Release Notes. If you do that change today I suggest to target your extension to Code >= 1.54.

[2021-02-19 13:39] #117001 closed

[2021-02-19 13:40] joaomoreno commented on #117030
Lol how did you know I was working on this today?

[2021-02-19 13:40] #117030 closed

[2021-02-19 13:44] alexr00 commented on #116760
@bpasero I'm not able to repro this. Tested with both desktop and in web with a Codespace. My steps:

1. Open microsoft/vscode.
2. Make an edit in a file that will cause a compile error.
3. Close the file. This ensures that any errors that follow will come from the build task, not from the typescript extension.
4. Run the default build task.
5. See error show in problem view and in the status bar.

[2021-02-19 13:45] thegecko commented on #116761
Many thanks for the pointers. I have tested this change locally as you describe and can confirm that updating the `allow` permissions as follows:

[code]

Successfully enables webviews to invoke `WebUSB` features:

<img width="961" alt="Screenshot 2021-02-19 at 13 40 55" src="https://user-images.githubusercontent.com/61341/108511939-79ec2480-72b8-11eb-8652-907dbd6f5f9e.png">

I assume the feature

[2021-02-19 13:46] hofingermarkus commented on #113175
I have the same problem on VSCode 1.53.2 on Ubuntu 18.04 64bit

My Quickfix solution to use VSCode even thouhg it has the bug, is to not `right-click` but to `right-hold`.
Then the context menu shows up and stays as long as one holds the right button pressed
As soon as you release the right mouse button, the lift event seems to click the currently selected line on the context menu - even though th

[2021-02-19 13:48] joaomoreno commented on #117007
Yeah: https://github.com/microsoft/vscode/issues/117001#issuecomment-782081399

Unfortunately I don't see a clear way forward to get this fixed without having themes adopting the change. We will make sure they get notified in the release notes.

[2021-02-19 13:48] #117007 closed

[2021-02-19 13:49] #116990 closed

[2021-02-19 13:50] joaomoreno commented on #116575
I think this just might be the default behavior of an Electron app under UE-V. This might require adoption. AFAIK we don't support UE-V for now, so this can either be closed or turned into a feature request.

[2021-02-19 13:51] #117003 closed

[2021-02-19 13:52] joaomoreno commented on #116363
This isn't related to VS Code at all, since VS Code doesn't register that URL scheme. I would try asking in Stack Overflow, for an answer.

[2021-02-19 13:54] joaomoreno commented on #116784
Can you completely uninstall and reinstall VS Code?

[2021-02-19 13:54] #117035 closed

[2021-02-19 13:55] techsin commented on #20889
There is some vagueness in ordering branch by last modified, probably best figured out by testing it

[2021-02-19 13:55] techsin commented on #117014
There is some vagueness in ordering branch by last modified, probably best figured out by testing it

[2021-02-19 13:56] #115698 closed

[2021-02-19 13:59] joaomoreno commented on #116922
Can you clean and `yarn` again, it just seems you do not have all dependencies installed.

[code]

[2021-02-19 14:01] #116907 closed

[2021-02-19 14:01] sandy081 commented on #116829
Its not entirely true. In web they are not file scheme instead `vscode-log` scheme. Hence log paths are URIs. They are also used at multiple places in workbench

- output

https://github.com/microsoft/vscode/blob/47a956eb2e074720cdc51aef74ba61d628061c54/src/vs/workbench/contrib/logs/common/logs.contribution.ts#L49-L49

- extension host

[2021-02-19 14:04] kasperskov909 commented on #58038
<<< Look at this clown thinking his workspace settings were enforced on his team members.

Please fix this :)

[2021-02-19 14:04] isidorn commented on #114307
Some more discussions, pasting here to have it all in one place

![Screenshot 2021-02-19 at 15 04 14](https://user-images.githubusercontent.com/1926584/108514125-c4bf6980-72c3-11eb-9a4e-8d35a4396211.png)

[2021-02-19 14:09] barroudjo commented on #105536
I can confirm this fixes the issue in vscode insiders 1.54.0. And I can also confirm @leandro-manifesto diagnosis on vscode 1.53.2 as I also saw in the logs the ipv6 address without the [], resulting in 404s, when getting the js and css of git graph.

[2021-02-19 14:13] #116633 closed

[2021-02-19 14:13] isidorn commented on #116633
To verify:

Open the Open Editors view and make sure there is the "New Untitled File" action in the Title area. That it functions as expected and that it makes sense.

[2021-02-19 14:16] dbaeumer opened #117042 "Test: Review new Pull Model Diagnostic proposal"
Refs: https://github.com/microsoft/language-server-protocol/issues/737

- [x] anyOS @aeschli

Complexity: 3

[Create Issue](https://github.com/microsoft/vscode/issues/new?body=Testing+%23117042%0A%0A)

---

There is not a proposed implementation for a document diagnostic pull model. The proposal is here:

https://github.com/microsoft/vscode-languageserver-node/blob/master/protocol/src/common/propo

[2021-02-19 14:23] usernamehw opened #117043 "Should staged colors default to non-staged ones?"
At some point new colors were introduced like `gitDecoration.stageModifiedResourceForeground`, bust most color themes have only colors set for ordinary `gitDecoration.modifiedResourceForeground`.

I think staged should default to normal variants unless they are specified.

[2021-02-19 14:31] #115763 closed

[2021-02-19 14:33] alanhett opened #117044 "Setting "editor.hover.enabled" to false disables fading of unused variables"
- VS Code Version: 1.53.2
- OS Version: Windows 10

Steps to Reproduce:

1. Create a Javascript file with some unused variables
2. Go to settings and un-check "Editor > Hover: Enabled"

Does this issue occur when all extensions are disabled?: Yes

[2021-02-19 14:36] #114123 closed

[2021-02-19 14:38] #85708 closed

[2021-02-19 14:39] isidorn commented on #85708
We now render the remove breakpoint action inline.

To verify:
1. Make sure that clicking on this icon remove the breakpoint
2. Make sure that this icon appears on regular breakpoint, function breakpoints and does not appear for exception breakpoints

fyi @misolori if we potentially need a bit larger icon since it looks kind of small next to the edit

![Screenshot 2021-02-19 at 15 37 34](https://u

[2021-02-19 14:52] isidorn commented on #116037
I have aligned the experience between the debug console and terminal. On hover over link we underline the link, and the hover text is now the same.

However the debug console uses the native hover and the terminal uses the custom hover. Thus in the debug console we do not have a link within the hover like the terminal does.

@Tyriar @alexr00 let me know if terminal does additional smartness regard

[2021-02-19 14:53] #116037 closed

[2021-02-19 14:56] scotdb commented on #40239
I also should add my specific use case.

I'm a database engineer, working with many databases which all have their own specific dialects of SQL (and their own extensions which deal with these dialects).   All of these extensions provide support for .sql files (and typically some other file extensions that often clash).

So I want to be able to flag a workspace (essentially all the build scripts fo

[2021-02-19 14:56] zS1L3NT opened #117045 "Multiple export defaults in Typescript overloading"
Issue Type: <b>Bug</b>

I have a function which is overloaded a few times and I exported it as default. When I do this, the first line of `export default function Tstring` get's it's syntax highlighting properly. Then the next few lines of those all turn yellow (the color of functions)

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Wi

[2021-02-19 14:58] jrcsdev opened #117046 "Better Folder Explorer"
VSCode could improve your File Explorer. It could include 2 things Microsoft Visual Studio has.

1. An always visible text field to filter the list of files.
2. When filtering is used, the file listing must also include files from unexplored subfolders.

Currently when filtering is used (an option that exists, but well hidden), the output skips files from subfolders that have not yet been opened i

[2021-02-19 14:59] jrieken commented on #116534
Has actually nothing to do with web. The extension tries to activate in the correct extension but it seems the nodejs version doesn't support the outputed JavaScript. This is the full error

[code]

[2021-02-19 15:01] ziyadfarhan296 opened #117047 "Intellisense Stops working when launching app on emulator."
Issue Type: <b>Bug</b>

I am using dart as my language and when compiling and running the app, autocomplete, autoimport, and other essential features needed that are essential for the development workspace.

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|

[2021-02-19 15:02] Peter-Krebs commented on #40239
Yeah, this of course needs to be carefully done, though.
If this means only the popular plugins are covered and configuration conflicts arise again with lesser-known extensions, this is only brushing the problem under the rug.
It's probably not that wild of an expectation for a team to configure their VS Code projects with a proper list of extensions to activate and deactivate, recommended configu

[2021-02-19 15:03] #116534 closed

[2021-02-19 15:10] w0rp commented on #117042
Thank you for putting this proposal together. I think this pretty much does hits the nail on the end in terms of the problem I was describing for language clients and how it can be solved.

I had a look through the proposed types, and the all seem to make sense. Should clients detect if the "pull" model is supported at all with `typeof diagnosticProvider === 'object' && typeof diagnosticProvider.m

[2021-02-19 15:11] Peter-Krebs commented on #40239
@scotdb Well there is a solution to deactivate extensions for a workspace. In the extensions click the ⚙ icon and then select Disable (Workspace):
![20210115-1 vscode-disable-extension-workspace-2](https://user-images.githubusercontent.com/43567035/108521767-5c28ba80-72cc-11eb-851f-bd3d1b06ec56.png)

Apparently you can not activate/deactivate an extension based on the project within the current wo

[2021-02-19 15:14] sandy081 commented on #114341
@susiwen8 **Install Another Version...** action is not supported for builtin extensions. Codespaces extension is builtin extension and hence this action is disabled.

[2021-02-19 15:14] heilerm opened #117048 "intellisense widget"
Issue Type: <b>Feature Request</b>

Hello,
I'd like to know where I can find a good description how to read
the cryptic thing in intellisese that comes up for example when I use
nodeJS and have for example the line app.get().
I often have a good feeling, but what exactly can I get out of the content
written her. Sometomes I understand what parameter for example the
get() has, but sometimes I'm rea

[2021-02-19 15:19] isidorn commented on #115945
I can reproduce the issue of the flutter commands not showing up in debug viewlet toolbar when it is docked. I know what is the problem and I will look into the fix.

For the auto scroll, please create a new issue if you can reproduce this consistently

[2021-02-19 15:20] joaomoreno opened #117049 "Table: Implement horizontal scrolling"

[2021-02-19 15:21] Zsoldier opened #117050 "Brew Cask Upgrade Syntax change on MacOS"
- VS Code Version: 1.53.2
- OS Version: MacOS 11.2

Steps to Reproduce:

1. Have VSCode attempt to upgrade Powershell Core version.
2.

Does this issue occur when all extensions are disabled?: Yes

Brew syntax is now 'brew upgrade --cask powershell'

[2021-02-19 15:27] isidorn opened #117051 "Extension recommendations as modal dialogs"
We plan to experiment with showing extension recommendations as modal dialogs after the user explicitly hit the "Set Language Mode" action.
This way user will discover extensions easier, and hopefully we will show it in just the right time.

We plan to do it start of march.

Implementation ideas:
`fileBasedRecommendations` listen on `commandService.onDidExecuteCommand` and if you see that the `wor

[2021-02-19 15:28] isidorn commented on #114307
Created this issue for next milestone for modal dialog recommendations https://github.com/microsoft/vscode/issues/117051

[2021-02-19 15:29] bpasero commented on #116829
Ah yeah fair enough.

[2021-02-19 15:32] isidorn commented on #117046
Thanks for sharing this feedback, however this is already captured by quite some issues. There is already issues that filtering should first resovle all folders which would bascially solve this.
Since this issue is covered by that one I will have to close it as a duplicate.

All the best

[2021-02-19 15:33] #117046 closed

[2021-02-19 15:33] fade2gray opened #117052 "Ability to quickly toggle workbench.editor.wrapTabs"
The ability to quickly toggle `workbench.editor.wrapTabs` by some means would be greatly appreciated.

[2021-02-19 15:33] David-A-RogersHS2 commented on #109938
@alexdima @deepak1556

See the above answer to a previous question. But also:

I don't know if this helps figure things out. But I installed the current latest stable build (1.53.2) on a Mac Big Sur machine that has never had VS Code on it before. The very first launch displayed dfonts correctly. Subsequent launches display dfonts with the super wide spacing as above. So something that happens bet

[2021-02-19 15:37] HamHawk01 commented on #115715
Thanks for asking, my case has been elevated I will ask for progress.

[2021-02-19 15:37] bpasero commented on #116760
Yeah possibly. The reason this frustrated me is that I had pushed changes to our `master` branch that included compile errors. I typically expect an error from the git commit whenever I have compile errors and wasn't sure why I did not get it here this time.

[2021-02-19 15:38] bpasero commented on #115715
Ok thanks.

[2021-02-19 15:40] robdmorton commented on #115784
I can't change my gcc version due to project constraints.

Is there a solution coming in which centos7 users don't have to change their environment to accommodate VSCode?

[2021-02-19 15:44] alexdima commented on #116997
All font rendering in the editor is delegated to Chromium. @pingshunhuangalex Can you also reproduce at https://vscode-web-test-playground.azurewebsites.net/ when opening that website on Chrome ?

[2021-02-19 15:46] #116815 closed

[2021-02-19 15:47] alexr00 commented on #116815
Now, the dropdown will correctly change when a view is shown that doesn't belong in the currently selected dropdown category.

[2021-02-19 15:48] #117050 closed

[2021-02-19 15:57] scotdb commented on #40239
Yes, I'm aware of the ability to disable a workspace in that way.

But it doesn't really meet the use case, which is to set things up so that whoever checks the workspace out of source control has the extensions to use (and not use) defined at the workspace level.

That doesn't work when the details are stored in the extension configs rather than within the workspaces themselves.

[2021-02-19 15:57] alexr00 commented on #116760
If you have `"typescript.validate.enable": true` (default), then this is unavoidable, since the problems from the task will conflict with the problems from typescript. You can set that setting to false, then change the build task to show errors for `"allDocuments"` instead of `"closedDocuments"`. Or, we can decide that we are happy to have errors get duplicated (once from the task, once from types

[2021-02-19 15:58] alexr00 commented on #116760
I suppose the tasks system could listen for file changes then re-apply all of the last problems.

[2021-02-19 15:58] RobGallo commented on #90578
This problem has recently gottne severely worse. Now as I move by word, the cursor skips over punctuation, and jaws and nvda only speak the word, no longer the word + the punctuation. The latter was a big problem, but the new behavior is intolerable. This needs to be fixed yesterday.

[2021-02-19 16:00] jrcsdev commented on #117046
I understand that this can solve the main problem, but it would still be nice to consider that the text field to filter should always be visible, because I had been using vscode for a long time and, I found out that I could filter the file listing because I read it in a forum. It's confusing to think that if you click on a filename, or on an empty area, you can start typing to filter.

Anyway than

[2021-02-19 16:01] alexr00 commented on #116037
@isidorn Terminal does have some smartness here:

https://github.com/microsoft/vscode/blob/507e210014ef69ed9faf07be3f1d0d725bf72ee8/src/vs/workbench/contrib/terminal/browser/links/terminalLinkManager.ts#L238-L242

[2021-02-19 16:02] jjspace commented on #116740
What if it was set up in a similar way to how `.eslintrc` can "extend" other configurations?

For example, when you create a new profile it starts with an `"extends-profile": "default"` setting which would mean it always inherits from the default, even if default changes. If you no longer want this behavior just remove this extends setting and this profile would go back to App defaults for everyth

[2021-02-19 16:04] jjspace commented on #116740
Also not directly related to current conversation but the term "Profiles" threw me off at first. I was expecting something along the lines of User profiles like multiple Chrome accounts. Not different configuration sets. I think profiles works but it _may_ be worth thinking of alternatives?

[2021-02-19 16:15] DonJayamanne commented on #116956
Solution - create new object instead of using `.with`

[2021-02-19 16:17] chrmarti opened #117054 "Investigate how tunnel package avoids the proxy override"
Customer feedback: The HDInsights extension continues using a proxy when HTTP_PROXY and NO_PROXY are set such that no proxy should be used because it depends on packages that do not support NO_PROXY.

We need investigate how the tunnel package avoids our proxy override and improve on it. Should also investigate which package exactly supports HTTP_PROXY, but not NO_PROXY and file an issue for them.

[2021-02-19 16:18] DonJayamanne commented on #114123
@jrieken  Does this apply to the Notebook Editor as well?

[2021-02-19 16:19] jrieken commented on #116956
Let's keep this open. I still wanna look into a fix, I just don't know how and metadata might change with future changes that we have in mind

[2021-02-19 16:19] tsabolov opened #117055 "Explorer: Folders open only with double click"
Issue Type: <b>Bug</b>

Steps to reproduce:
- Open any folder with subfolders
- Click on any of subfolders

Expected:
* Folder is expanded

Actual:
* Folder does not expand. Double click is needed to expand the folder.

VS Code version: Code - Insiders 1.54.0-insider (192c817fd350bcbf3caecae22a45ec39bae78516, 2021-02-19T05:17:50.205Z)
OS version: Darwin arm64 20.3.0

<details>
<summary>System Info

[2021-02-19 16:19] jrieken commented on #114123
Yes - all editors

[2021-02-19 16:21] ecruzolivera opened #117056 "vscode start printing errors in the terminal when launched from it"
Issue Type: <b>Bug</b>

Since last update each time that is launched from terminal it opens, starts printing this logs in the console and dont returns the prompt,  if the terminal is closed is closed vscode is also closed.

[code]

the curious part is if open a second vscode in another terminal, it prints only this and returns the prompt control

[code]

VS Code version: Code 1.53.2 (622cb03f7e070

[2021-02-19 16:21] jrieken commented on #117048
Check out this: https://code.visualstudio.com/docs/editor/intellisense

[2021-02-19 16:22] #117048 closed

[2021-02-19 16:22] bpasero commented on #112630
@jrieken thanks, I pushed another change to avoid repeated relayout calls from breadcrumbs, specifically this call is no longer needed...

https://github.com/microsoft/vscode/blob/61df1625efc575d7e8c90b76e1b747563568d48b/src/vs/workbench/browser/parts/editor/tabsTitleControl.ts#L204

...because ever since tabs can wrap, there is logic in the layout call that will trigger a `reloayout` automaticall

[2021-02-19 16:24] Liubingzhe-888 opened #117057 "python: module could not be resolved"
when I use vscode to code python,I am already install module,but vscode tell me "could not be resolved",by the way,my code can run in the cmd。vscode and CMD are in the same python environment。

[2021-02-19 16:28] isidorn commented on #116037
@alexr00 thanks! I am now doing the same.

[2021-02-19 16:29] isidorn commented on #117046
Does not align with our UI imho

[2021-02-19 16:30] isidorn commented on #117055
This should be fixed in latest insiders from next week
fyi @joaomoreno

[2021-02-19 16:30] #117055 closed

[2021-02-19 16:31] isidorn commented on #90578
@jvesouza @marcozehe do you also experience word navigation getting worse?
@RobGallo I assume you are using vscode insiders? Do you know on when exactly it got worse?

[2021-02-19 16:33] sbatten opened #117058 "add property to extension api for new install"
[code]

[2021-02-19 16:34] bpasero commented on #113818
@bersbersbers the last gif seems more like a bug to me, can you maybe file an individual issue on that with exact steps for me how to reproduce. Also, do you maybe have zooming enabled?

[2021-02-19 16:35] connor4312 commented on #117004
/jsDebugLogs

[2021-02-19 16:36] NotWearingPants opened #117060 "Cursor position in RTL text is sometimes messed up"
Steps to Reproduce:

1. Create an empty document with language set to **TypeScript**
2. Paste this: `ווו ססס`
    To help follow, these are two words, the first is the three vertical bars, and the second is the three circles
    (btw this is Hebrew text, and these aren't real words)
3. Move your cursor to the beginning - <kbd>Home</kbd>
   Result: Cursor is somewhere in the middle
   Expected: Cur

[2021-02-19 16:36] MarcoZehe commented on #90578
I don't think I noticed any difference recently, no. Neither with NVDA on Windows, nor VoiceOver on the Mac.

[2021-02-19 16:38] NorthboundTrain commented on #94307
Could this be handled via a workspace or user setting to override the assumed setting based on OS type? In other words, I (the user) know that my  Mac has case-sensitive turned on, so allow me to override the default behavior, either globally or per workspace (globally makes more sense to me, but I don't know the settings architecture, so I don't know what would make more sense from the code's per

[2021-02-19 16:38] Mxnsi opened #117061 "Let's keep this open. I still wanna look into a fix, I just don't know how and metadata might change with future changes that we have in mind"
Let's keep this open. I still wanna look into a fix, I just don't know how and metadata might change with future changes that we have in mind

_Originally posted by @jrieken in https://github.com/microsoft/vscode/issues/116956#issuecomment-782179018_

[2021-02-19 16:42] bhmasterson commented on #110323
An update...I noted that the symlinks follow was on by default in the code-insiders so after disabling that (to match the latest safe build settings I was using) I haven't noticed excessive CPU use.  Still monitoring but hopeful.

[2021-02-19 16:42] RobGallo commented on #90578
I am running Visual Studio Code Version 1.53.2. The problem happens with both NVDA and JAWS.

[2021-02-19 16:45] sandy081 commented on #115178
@lramos15 I already created separate issue for that #115289 and fixed that. Not sure if you meant something else.

[2021-02-19 16:49] IllusionMH commented on #117031
/needsMoreInfo

What language?
Do you have any error notifications before that?

[2021-02-19 16:50] eimfach commented on #4490
+1

[2021-02-19 16:50] S-P-Ks opened #117063 "I am getting this in the Java compilation . I don't Know Why ?"
(electron) Sending uncompressed crash reports is deprecated and will be removed in a future version of Electron. Set { compress: true } to opt-in to the new behavior. Crash reports will be uploaded gzipped, which most crash reporting servers support
- VS Code Version:
- OS Version:

I am getting this error . I don't Know why ?
Can Someone help me here ?

[2021-02-19 16:54] jonnyhork opened #117064 "File Explorer Icon Disappears in Activity Bar"
Version: 1.53.2
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:45:54.515Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Darwin x64 18.7.0

Steps to Reproduce:
Not sure this reproducible but I have tried downloading a new version of VS Code and the File Explorer still disappears.
1. Open VS Code
2. click on any other activity bar icon
3.

[2021-02-19 16:54] IllusionMH commented on #117063
/duplicate of #115888

See https://github.com/microsoft/vscode/issues/115888#issuecomment-780762061 for workaround

[2021-02-19 16:55] #117063 closed

[2021-02-19 16:59] ryblogs opened #117065 "vscode cannot connect to the internet through my enterprise proxy. When attempting to update, I get error: net::ERR_CERT_AUTHORITY_INVALID"
vscode cannot connect to the internet behind my enterprise proxy, I cannot update vscode or search for or install extensions. When attempting to update, I get error:
net::ERR_CERT_AUTHORITY_INVALID  Source: Update Service.

When attempting to install an extension I get error:
We cannot connect to the Extensions Marketplace at this time, please try again later.

I tried disabling Http: Proxy Strict

[2021-02-19 17:01] dwelle commented on #114839
I'm experiencing the same issue. The staging works, but it's not reflected in the diff editor, same as shown in the GIF above.

[2021-02-19 17:03] jonnyhork commented on #117064
I have tried to enable software rendering but it did not fix the issue.
[code]

[2021-02-19 17:05] eimfach commented on #33607
Fork ?

[2021-02-19 17:23] bamurtaugh opened #117066 "Test: Extension Compatibility in Codespaces"
Refs: https://github.com/microsoft/vssaas-planning/issues/2448

- [  ] anyOS
- [  ] anyOS
- [  ] anyOS
- [  ] anyOS
- [  ] anyOS
- [  ] anyOS
- [  ] anyOS
- [  ] anyOS
- [  ] anyOS
- [  ] anyOS
- [  ] anyOS
- [  ] anyOS

Complexity: 2

---

[2021-02-19 17:24] #117066 closed

[2021-02-19 17:26] bpasero opened #117067 "Shared process: reduce or remove delay"
With the change of hosting terminals in the shared process, we should revisit our 3s delay of spawning the shared process on startup.

This came originally in as https://github.com/microsoft/vscode/commit/80278f8e8bfe1e231529fc1c1833091fa481f02f. However later we added lifecycle phases on the main side and I think as such we could remove the delay entirely:

https://github.com/microsoft/vscode/blo

[2021-02-19 17:28] isidorn opened #117068 "Debugging tests does not work for me"
Debugging tests does not work for me in latest insiders.

1. `link.detector.test.ts`
2. add breakpoints for example on line 89
3. right click on margin -> debug test

Test is run but not stopped at breakpoints

[2021-02-19 17:29] fade2gray commented on #117052
Found an extension that enabled me to toggle the command with a keybinding.

[2021-02-19 17:29] #117052 closed

[2021-02-19 17:32] connor4312 commented on #117068
If you add a delay before hitting your breakpoint, does it work then? Currently tests don't wait for the debugger to attach before running; for me this almost never prevents me from debugging, but it is timing-based and might be different for you.

If that doesn't work, make sure there's no old OSS/test processes stranded listening on the port and preventing the new instance from starting. This ha

[2021-02-19 17:32] jarl-dk commented on #116922
I realise now that by following [the link"How to build and run from source" from the README.md](https://github.com/microsoft/vscode/blame/main/README.md#L33) directing me to https://github.com/microsoft/vscode/wiki/How-to-Contribute#build-and-run I ended up on an anchor on the middle of a page after describing how to set up the development environment. I completely missed the prerequisites by foll

[2021-02-19 17:32] #116922 closed

[2021-02-19 17:39] deepak1556 commented on #111412
Can you quit the app and restart with `--disable-gpu-rasterization`

[2021-02-19 17:41] deepak1556 commented on #116682
Thanks for confirming, merging to https://github.com/microsoft/vscode/issues/115868

[2021-02-19 17:41] #116682 closed

[2021-02-19 17:44] denishowe commented on #116664
Thanks Tyriar.   I executed this command in bash:

`sleep 2; printf "(\e[3J)"; sleep 99`

I cleared the dev console during the `sleep 2`.  During the `sleep 99`, the console showed:

`xterm.js: parsing data ()[0K`

Something deleted my `\e[3J`.

`workbench.action.terminal.clear` clears scrollback but also shows nothing in dev console.

[2021-02-19 17:49] isidorn commented on #117064
Looks like some activity bar issue.
Though I can not reproduce. For now forwarding to @sandy081

[2021-02-19 17:50] Tyriar opened #117070 "Fix and consider using the terminal's latency detection code"
There is some code in the terminal to enable getting the latency each terminal instance, eg:

https://github.com/microsoft/vscode/blob/bd00c624a88bed30444bdae4cc6cecc7be87a50a/src/vs/platform/terminal/node/terminalProcess.ts#L414-L416

https://github.com/microsoft/vscode/blob/bd00c624a88bed30444bdae4cc6cecc7be87a50a/src/vs/workbench/contrib/terminal/browser/terminalProcessManager.ts#L359-L370

The

[2021-02-19 17:53] jrcsdev commented on #117046
I understand, thanks for responding. I'll see if I'm able to create an extension.

[2021-02-19 17:53] rweisse commented on #111412
Thx @deepak1556 . After the glitch suddenly appeared I set the setting `"disable-hardware-acceleration": true` in `argv.json`. After restarting Visual Studio Code the problem disappeared. I have now undone the setting and will follow your instruction as soon as the problem occurs again.

[2021-02-19 17:57] awerlogus opened #117071 "@template constraint and type name color in jsdoc"
Version: 1.54.0-insider (system setup)
Commit: 192c817fd350bcbf3caecae22a45ec39bae78516
Date: 2021-02-19T05:14:28.632Z
Electron: 11.2.3
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042

In jsdoc, tokens of `@typedef` tag's content between curly braces and type name have `entity.name.type.instance.jsdoc` modifier.
![изображение](https://user-images.gith

[2021-02-19 17:58] isidorn commented on #117068
There was a process lying around. Once I killed everything it was ok.

[2021-02-19 17:59] HamHawk01 commented on #115715
The issue for me was Beyond Trust, I have what amounts to a work around setup on my computer. Vscode is now working in tandem with wsl, without launching as admin.    I asked for a little more detail on the fix, at somepoint someone will reach out.

[2021-02-19 17:59] isidorn opened #117072 "Test: do not render inline decorations in diff view"
Rendering inline test information in a diff view is I think confusing, since red is already used there to annotate deleted lines.
Due to that I suggest that we only annotate inline decorations for test in non diff editors

![Screenshot 2021-02-19 at 18 57 49](https://user-images.githubusercontent.com/1926584/108542838-8be3bc80-72e4-11eb-895e-3bec56948c66.png)

[2021-02-19 18:02] connor4312 commented on #117070
Hm. It would be useful to log telemetry for the difference between the terminal process latency vs pty latency.

[2021-02-19 18:02] isidorn opened #117073 "Test: reveal in test explorer needs polish"
Have a test file open

1. Right click on a test -> `reveal in test explorer` it is nicely shown
2. Now scroll a bit in the test explorer, and trigger again the reveal action -> it is not shown 🐛

Also reveal in test explorer should focus and select the item in the tree to make it obvious which one it is. Similar to how explorer does it for "reveal in sidebar"

[2021-02-19 18:02] rzhao271 commented on #117020
More of a note to self, but I just confirmed that the expansion works in vscode-emmet-helper. Therefore, this issue is caused by something within this repo rather than upstream.

[2021-02-19 18:05] TylerLeonhardt commented on #116906
I think @lramos15 also requires the package.json to get his AppInsights id. This would also help that scenario because with the `extensionId` you can get your extension's `Extension` reference and then the packageJson already loaded in memory rather than loading it again just for that detail.

I think their are additional scenarios where information in the `package.json` might be valuable for the

[2021-02-19 18:05] Tyriar commented on #117070
It should be a more reliable mechanism to get the latency to the remote, in order to invalidate predictions. It just doesn't work when in an ssh session for example.

[2021-02-19 18:06] connor4312 commented on #117068
Ok, thanks. I can try to look at this during debt week, @bpasero could you toss some code pointers on where to start investigating the issue with the orphaned process after running tests?

[2021-02-19 18:06] connor4312 commented on #117070
Ah, right.

[2021-02-19 18:13] VincentDondain commented on #106232
Hey @rebornix, it looks like the WebKit issue is now fixed: https://bugs.webkit.org/show_bug.cgi?id=210071#c34

However, I just tried on iPadOS 14.5 beta 2 and the scrolling on iPad still doesn't work. So either the fix isn't yet in iPadOS or we need some changes in VSCode.

[2021-02-19 18:15] Chaphasilor commented on #26393
If if there is an extension that provides bindings for this now, I believe this is still a missing core feature.
If this is the intended default behavior, so be it, but *at least* give us an option to change it, *please*?

Multi-cursor editing would be so much better if we could actually select the lines we want to!

[2021-02-19 18:21] misolori commented on #116740
Yea I did originally play around with the "inheritance" concept, mostly focused on disabling it in a certain profile. The idea of mixing profile sounds interesting but would love to see a use case for it first because it could add some unnecessary complications, like you just described.

In terms of the term "Profiles", this one is tricky because we do also have user accounts where you login for c

[2021-02-19 18:23] polshgiant opened #117074 "JS and TS language service die on template literal expression"
Issue Type: <b>Bug</b>

1. Open VS Code, create a blank file, and set the language for the file to TypeScript.
2. Paste in the following code which contains the problematic template literal expression (`&$filter=${string}`):
[code]
3. Eventually VS shows error: "The TypeScript language service died 5 times right after it got started.  The service will not be restarted."

VS Code version: Code 1.53

[2021-02-19 18:25] RMacfarlane commented on #116906
The GHPRI extension does in fact update a constant in a file with the id for this purpose, as well as changing the value in the `package.json` as part of the build. I forgot we did that since we haven't touched the build pipeline in years now so accidentally reintroduced reading the package.json recently

I feel actually somewhat optimistic about this since there now seems to be more communication

[2021-02-19 18:34] selassje opened #117076 "Which problem matcher have you attached to the build task. The standard $mscompile matcher actually hanldes this. It has the following regex"
Which problem matcher have you attached to the build task. The standard $mscompile matcher actually hanldes this. It has the following regex
[code]

_Originally posted by @dbaeumer in https://github.com/microsoft/vscode/issues/50426#issuecomment-430179198_

[2021-02-19 18:36] selassje commented on #117076
This regex does not match >2FileName, due to ^(?:**\s+**\d+\>)

[2021-02-19 18:38] rebornix opened #117077 "API: one to one mapping between notebook document and kernel"
Currently `NotebookKernel` is attached to an editor, and reasoning behind this was kernels might need to talk to the web view for output and we don't have a story for multi webview <--> kernel communication at that time (or mostly I don't understand how it work at that time being). Now Jupyter already implements support for ipywidgets, which is the major user of the webview communication channel,

[2021-02-19 18:42] misolori commented on #85708
That looks good to me, we do the same in the Settings UI:

![image](https://user-images.githubusercontent.com/35271042/108547293-26211180-729f-11eb-8d37-cde7d516a054.png)

[2021-02-19 18:45] lramos15 commented on #116906
From what I'm interpreting from @jrieken the best solution that isn't specialized and is easy to maintain comes down to just providing the extension object in the extension context. That way we're not exposing certain properties for some and not for others, this also allows me to get all the information about my extension without having to waste additional I/O cycles on reading the package.json th

[2021-02-19 18:48] #117020 closed

[2021-02-19 18:51] bamurtaugh opened #117078 "Test: Extension Compatibility in Codespaces"
Refs: https://github.com/microsoft/vssaas-planning/issues/2448

- [ ] anyOS (test extensions 1, 2, 3)
- [ ] anyOS (test 4, 5, 6)
- [ ] anyOS (test 7, 9, 10)
- [ ] anyOS (test 11, 12, 13)
- [ ] anyOS (test 14, 15, 16)
- [ ] anyOS (test 17, 18, 19)
- [ ] anyOS (test 20, 21 [ should be tested by individual extensions, but make sure extension pack downloads ], 22)
- [ ] anyOS (test 23, 24, 25)
- [ ] a

[2021-02-19 18:54] jrose529 commented on #108274
@Tyriar Can you find out what VSCode version includes that fix?

[2021-02-19 18:55] NotWearingPants commented on #117074
Doesn't repro for me, but sounds funny. Are you doing anything special like hovering something or autocomplete? Is this the whole code required for the crash? Does this occur when all extensions are disabled? (`code --disable-extensions`)

[2021-02-19 19:03] #117047 closed

[2021-02-19 19:07] rzhao271 commented on #115933
Seems to do with trusted domains, and I'm not sure how the URL should be shortened, or whether it should be shortened at all in this case.

Pinging @JacksonKearl and @lramos15

[2021-02-19 19:11] lramos15 commented on #115933
I don't own this dialog as the work I did was just with URL encodings. The only comment I have to add is that we often truncate long strings with `...` and may want to do that here, the native mac dialog adds a scrollbar to keep the dialog in the center of the screen without being too wide and I quite like that. I'm not sure what other native dialogs do but definitely need to make it not so large

[2021-02-19 19:13] #117019 closed

[2021-02-19 19:21] chrisdakin opened #117079 "Splitting terminal ignores "terminal.integrated.splitCwd": "inherited" and instead starts in workspace root"
- VS Code Version: 1.53.2
![image](https://user-images.githubusercontent.com/21347228/108551106-7313e080-72bd-11eb-86ab-4455359b93f3.png)

- OS Version: 11.2.1
![image](https://user-images.githubusercontent.com/21347228/108551151-8626b080-72bd-11eb-8087-dbdde71e31c2.png)

Steps to Reproduce:

1. Make sure `terminal.integrated.splitCwd` is set to `inherited`
2. Change directory
3. Split terminal (h

[2021-02-19 19:22] digitarald commented on #116976
@misolori I like context it adds. Might be also useful if the header could stick around across index and each sections. Depending on viewport size, it could responsively shrink/grow.

[2021-02-19 19:22] IllusionMH commented on #117045
I would assume that you don't have semicolons at the end of overload lines?
Reproduced only on lines that are after line without and requires `default` keyword
![image](https://user-images.githubusercontent.com/1312662/108551158-36b1a600-72f8-11eb-9fc5-69d1a30458fc.png)

[2021-02-19 19:22] Milo123459 commented on #116607
Is there an idea about what's causing this bug?

[2021-02-19 19:33] #109191 closed

[2021-02-19 19:34] #116738 closed

[2021-02-19 19:48] NotWearingPants opened #117080 "Add a setting to not save before running a debug config"
There exists a setting `task.saveBeforeRun` which controls whether all files are saved before running a task.
There should be a similar setting for when starting a debug session - `debug.saveBeforeRun`.

I ran into this and at first couldn't figure out why some of my files which I intentionally left unsaved, kept getting auto-saved.

I think this is the relevant code:
https://github.com/microsoft/

[2021-02-19 19:49] davidljuba15031979 opened #117081 "Move the caret before each step of undo/redo, and then performs the Undo/Redo actions."
Issue Type: <b>Feature Request</b>

Could be simple (but subtle trick):
* <kbd>ctrl</kbd> + <kbd>z</kbd> and <kbd>ctrl</kbd> + <kbd>shift</kbd> + <kbd>z</kbd> will not eagerly change lines of code, but will step on exact place/position (if change is not on same caret/scroll position) that will occur in next undo-redo action

I found it documented here,  but it is applied to all Jetbrains products:

[2021-02-19 19:50] rbenson commented on #116842
@jaduff - using narrator, try the right/left arrows vs up/down.

[2021-02-19 19:52] chloesheen opened #117082 "Crashes upon launching, "perforce: invalid configuration""
- VS Code Version: 1.53
- OS Version: MacOS Big Sur 11.1

Steps to Reproduce:

1. uninstalled previously crashing VSCode (deleted .NET, mono. etc following the support article)
2. reinstalled latest version 1.53, opened it, crashes immediately with "Perforce: invalid configuration" message (screen recording attached)

https://user-images.githubusercontent.com/16697772/108554464-1d8e0280-72c2-11eb-

[2021-02-19 19:54] brettfo opened #117083 "Add `onFileSaveAs` event"
When a file is renamed in VS Code, the `onDidRenameFiles` event fires, but it would be useful to have a similar event `onDidSaveAs` that has the same shape as the rename event, namely it has both `oldUri` and `newUri` properties.  This event should fire when:

1. The user clicks File -> Save As (or Ctrl+Shift+S).
2. A new untitled document (or notebook, or custom editor, etc.) is saved for the fir

[2021-02-19 20:07] connor4312 opened #117084 "Remove separate internal IDs and extension IDs from tests"
We started with an internal UUID for tests, but now extensions assign IDs and must do so in some cases.

So we have two IDs for tests essentially. The only benefit this provides is 'allowing' extensions to have tests with duplicate IDs, but this will act weirdly. If we explicitly disallow this then we can get rid of the separate IDs and simplify internal logic. Just need to make sure the fact that

[2021-02-19 20:18] nrhoffmann commented on #571
I'd recommend using an extension pseudoterminal.

 Documentation is a little scarce. See [ShMcK/vscode-pseudoterminal](https://github.com/ShMcK/vscode-pseudoterminal) for a simple example of this in use.

[2021-02-19 20:20] mjbvz commented on #117039
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)? Specifically Deno

/needsMoreInfo

[2021-02-19 20:21] #117038 closed

[2021-02-19 20:30] IllusionMH commented on #117082
/needsMoreInfo

Does it happen if you launch code from CLI as `code --disable-extensions`?
Does it happen if you try to launch Insiders build? https://code.visualstudio.com/insiders/

[2021-02-19 20:32] Ptival commented on #116942
Trying to debug a TypeScript extension host, breakpoints are always unbound.

Steps to reproduce:
[code]

It will not stop at the breakpoint, and they show up unbound.

First log file:
<details>
[code]
</details>

Second log file:
<details>
[code]
</details>

[2021-02-19 20:37] connor4312 commented on #116942
@Ptiva your extension is not activated. Breakpoints are not bound until the associated script is loaded by the runtime.

[2021-02-19 20:38] mjbvz commented on #117021
Also happens in the single file:

[code]

[2021-02-19 20:39] jfgudk commented on #115784
Running downgrade 3 times resolved it for me.
[code]

[2021-02-19 20:42] connor4312 opened #117086 "Check out how tests work in notebook cells"

[2021-02-19 20:45] connor4312 commented on #117086
One thing that's interesting is that my "test" could just be a notebook cell with a bunch of assert statements. That would not be reasonably detectable by an extension automatically, should there be a way for the user to manually make a cell as a test? Or, going further, are all cells tests by default? Would give automatic access to things like "re run failed tests (cells)"

[2021-02-19 20:47] #117072 closed

[2021-02-19 20:47] #117073 closed

[2021-02-19 20:52] Tyriar opened #117087 "Make sure the terminal cli ipc handle feature works in local terminals under pty host"
I think it's currently broken. Deferring in https://github.com/microsoft/vscode/pull/116449

[2021-02-19 20:56] TylerLeonhardt commented on #105690
I like your proposal about `InlineValueVariableLookup`. The PowerShell debug adapter doesn't support the `evaluate` message as it was intended for but it does implement the `variables` message as expected.

I see `InlineValueVariableLookup` relating to the result of the `variables` message whereas `InlineValueEvaluatableExpression` relating to the result of the `evaluate` message.

@weinand did ca

[2021-02-19 20:57] Tyriar opened #117088 "Support reconnecting to both local and remote terminals"
After https://github.com/microsoft/vscode/pull/116449 is merged only either remote or local terminals will get restored. We should do both in case local terminals exist in remote windows.

[2021-02-19 21:04] Tyriar opened #117089 "Make sure closing a window doesn't take down local terminals of other windows"
Deferring from https://github.com/microsoft/vscode/pull/116449

Repro (unconfirmed, might not actually happen):

1. Open 2 windows
2. Open a terminal in each
3. Close one of the windows, the terminal in the other window should remain functional

[2021-02-19 21:08] corentinclichy opened #117090 "Extension Host Crash"
Issue Type: <b>Bug</b>

Hi,

the extension host just keep crashing. I assume it's because of a conflict with an extension but no way to know which one..

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:45:54.515Z)
OS version: Darwin x64 20.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 (8 x 2400)|
|GPU Status|2d_canvas: en

[2021-02-19 21:10] dutzi opened #117091 "Up/down keys no longer respect "filtering" for files in Folders pane (file explorer)"
- VS Code Version: 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4)
- OS Version: Big Sur 11.2.1 (20D75)

Steps to Reproduce:

1. Focus on the Folders pane
2. Start typing a file's name (the "query")
3. You should see something like this, which I don't know the name of:
![image](https://user-images.githubusercontent.com/927310/108561533-176e4500-7307-11eb-81c4-d1ac79162992.png)
4. Hit Up or Down

[2021-02-19 21:19] gjsjohnmurray opened #117093 "'list.toggleFilterOnType' command does not toggle appearance of mode indicator"
Issue Type: <b>Bug</b>

1. Add a keybinding for the `list.toggleFilterOnType` command. I chose Alt+Insert.
2. In the Explorer tree type some characters to activate the widget.
3. Use the keybinding to toggle the mode.
4. Observe that the filtering changes correctly, but the toggle button in the widget doesn't change its state.

![junk](https://user-images.githubusercontent.com/6726799/108562782-4a

[2021-02-19 21:20] mjbvz commented on #116591
Fixed by #116591

[2021-02-19 21:20] #116591 closed

[2021-02-19 21:23] luabud opened #117094 "Integrated Terminal outputs unreadable ascii characters"
Hello! I'm from the Python extension team 😊 the issue below was filed originally at https://github.com/microsoft/vscode/issues/115369 and closed as being an extension issue, **but we really don't think this is the case.** The same issue also happens with the C/C++ extension (and the Python extension doesn't interfere with what goes to the terminal either).

[2021-02-19 21:33] meakbiyik commented on #658
I am also dealing with this issue, and there is one thing I do not quite understand why: wouldn't it be easy and perfectly acceptable for vscode to just rebuild all extensions while installing using

[code]

just as recommended in https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md, as this command would do nothing for packages without native node modules, a

[2021-02-19 21:39] atscott opened #117095 "vscode-references-view does not de-duplicate results like the built in ReferencesModel"
The built-in "go to references" command in vscode uses the `ReferencesModel` to de-duplicate reference results: https://github.com/microsoft/vscode/blob/36dd567011eda09317a76d5dcb820fa9961eb786/src/vs/editor/contrib/gotoSymbol/referencesModel.ts#L171-L182
Equal uri's and ranges constitute duplicate results:
https://github.com/microsoft/vscode/blob/36dd567011eda09317a76d5dcb820fa9961eb786/src/vs/ed

[2021-02-19 22:07] adrianturcato-initiative commented on #114893
@aragong Did you come up with a solution for this? Have a similar message when using JetBrains PyCharm with pre-commit.

[2021-02-19 22:12] ebluestein opened #117096 "Make it possible to run `code` on a remote machine from a non-integrated terminal"
Currently, VS Code provides a `code` script that can be invoked on a remote host to open a file in a connected VS Code client. This implementation relies on an ENV var, `VSCODE_IPC_HOOK_CLI` being set, and therefore only works in a VS Code integrated terminal.

It's common for users to also connect to the machine with SSH or something like Mosh, Eternal Terminal, etc - and still want to open files

[2021-02-19 22:14] weinand commented on #117034
/extPython

[2021-02-19 22:14] #117034 closed

[2021-02-19 22:16] weinand commented on #117057
/extPython

[2021-02-19 22:16] YashTotale commented on #116591
I think you mean fixed by #116885

[2021-02-19 22:16] pjaden commented on #114890
For system admins using PowerShell, being able to load generic script from a file, make modification that do not need to be saved, then execute that changed code is very useful.
Otherwise, the admin/user would need to start managing many versions of the code or add logic to the code for the changes.
An option to keep the old behavior, i.e. run the code without saving the file, would be great.

[2021-02-19 22:16] #117057 closed

[2021-02-19 22:18] Ptival commented on #116942
@connor4312 that's correct.

It turns out in my real use case, my breakpoint as in a webview, and those stay unbound after the extension has activated. However, a little search led me to this solution of yours:

https://github.com/microsoft/vscode/issues/101320

which I can confirm worked for me! (Wished it was easier to find out about :D)

So unless OP is also dealing with webviews, my comment is

[2021-02-19 22:24] connor4312 commented on #116942
Ah, yep.

Iframe webviews are still experimental so it's not documented yet.

[2021-02-19 22:33] RMacfarlane opened #117098 "Aftering cancelling auth, signing in again shows error"
Issue Type: <b>Bug</b>

1. Install an extension that uses GitHub auth like codespaces or the github pull request extension
2. Click "Sign in" from the accounts menu
3. Go back to VSCode and click on the "Signing into GitHub..." status bar item
4. Press esc in the resulting quickpick to cancel auth
5. Start the sign in flow again from the accounts menu and this time complete it

Sign in succeeds, h

[2021-02-19 22:38] dominicpalmer commented on #116553
If it helps, this is possible to achieve on Windows using external keymapping software such as AutoHotKey. There are equivalents to AutoHotKey for unix based systems too. You'd simply need to write a script that maps capslock to escape only when the code executable is running. Would look something like:

[code]

[2021-02-19 22:43] sbatten commented on #116831
The entries in this list are controlled by the title of the window. That value is customizable via `window.title`.

[2021-02-19 22:44] #116831 closed

[2021-02-19 22:46] NotWearingPants commented on #117094
This looks like some substitution cipher is going on, i.e. letters are swapped by other letters, but the mapping is constant, so I'd guess this is a problem with xterm.js.

Can you try changing the terminal's renderer type (`terminal.integrated.rendererType` in the settings) to `dom` and see if that fixes it?

[2021-02-19 22:57] #117098 closed

[2021-02-19 22:59] gjsjohnmurray commented on #117091
/duplicate of #115922 and fixed in Insiders, so will arrive in the next Stable (1.54)

[2021-02-19 23:00] #117091 closed

[2021-02-19 23:00] gjsjohnmurray commented on #117090
Please use the Extension Bisect command from Command Palette

[2021-02-19 23:01] sbatten commented on #116812
we explicitly honor this in the custom menu because we can. unfortunately, electron is handling the access keys for the menus in the native title bar case. assigning to @deepak1556 to assess.

[2021-02-19 23:06] maldan opened #117101 "TS Server fatal error: Debug Failure."
Issue Type: <b>Bug</b>

❗️❗️❗️ Please fill in the sections below to help us diagnose the issue ❗️❗️❗️

**TypeScript Version:** 4.1.5

**Steps to reproduce crash**
1.
2.
3.

**TS Server Log**
❗️ Please review and upload this log file to help us diagnose this crash:
`c:\Users\black\AppData\Roaming\Code\logs\20210220T020144\exthost1\vscode.typescript-language-features\tsserver-log-Mui4EL\tsserver.log

[2021-02-19 23:07] sbatten commented on #116876
the custom menubar was made to address accessibility issues that wouldn't be prioritized in electron. assigning this issue to @deepak1556 to assess.

[2021-02-19 23:09] sbatten commented on #116882
duplicate https://github.com/microsoft/vscode/issues/40389

[2021-02-19 23:09] #116882 closed

[2021-02-19 23:14] sbatten commented on #116891
feel free to assign this keybinding yourself, but I think we should reserve assigning keybindings by default to heavily used commands

[2021-02-19 23:14] #116891 closed

[2021-02-19 23:18] sbatten commented on #117037
@MetRonnie I don't have a great setup to test this at the moment, but can you confirm that this happens with any arbitrary file? Or more specifically, are the files you are opening part of the workspace of the maximized window?

[2021-02-19 23:24] devopsmyth commented on #49374
Just want to bump this thread and see if there's any progress or if I can help in some way.

[2021-02-19 23:45] #116032 closed

[2021-02-19 23:45] huw commented on #106232
As in [cdr/code-server#1455](https://github.com/cdr/code-server/issues/1455), you either need to scroll a little bit to hide the URL bar, or to add your Codespace to your home screen.

[2021-02-20 00:04] #117061 closed

[2021-02-20 00:08] mjbvz commented on #117101
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)? Specifically try disabling deno

[2021-02-20 00:12] JohnKlenk commented on #116876
Any chance of improving the custom titlebar so that you can easily see when VS Code has focus?  To me that seems like a basic requirement of any app.  Keyboard users rely on knowing where their input will go...

[2021-02-20 00:19] Chiao0330 opened #117102 "Unable to open: Cannot read property 'Code' of undefined."
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

Hi, I opened the VScode and got Unable to open 'Untitled-1.ipynb': Cannot read property 'Code' of undefined. when I try to create a new Jupyter. So I tried my exsit files, and it's all the same, nothing works. Then I googled about it, there is no article about it... I need h

[2021-02-20 00:21] greazer opened #117103 "Unable to use VS Code to debug Extension Host"
- VS Code Version: 1.54.0-insider
- OS Version: Windows 10
![image](https://user-images.githubusercontent.com/11685408/108575171-3bf9fb00-72ce-11eb-9cc5-4d2c36d2ed3e.png)

Working with @rebornix to debug a problem in my extension, we got into a situation where we couldn't hit breakpoints in extension host. However, console.log() calls were definitely being made (which is how we ended up debugging

[2021-02-20 00:26] rebornix commented on #117103
We also tried

* Open VS Code in OSS
* Launch "Renderer and Extension Host processes"

and then the UI crashed because of

![image](https://user-images.githubusercontent.com/876920/108575433-16212600-72cf-11eb-832c-a640ca0a04d6.png)

Running VS Code in OSS and then launch "Attach to extension host" doesn't work on @greazer 's machine as well and that's the only working approach on my machine.

[2021-02-20 00:28] moshfeu commented on #3553
My extension needs that too. It allows a command only when `listDoubleSelection` but vscode still allow to set a keybinding.
When the user uses this shortcut, there is no option to get the selected resources.

https://github.com/moshfeu/vscode-compare-folders/issues/66

[2021-02-20 00:28] LittleZen commented on #3130
+1

[2021-02-20 00:41] gjsjohnmurray commented on #117102
/extJupyter - see https://github.com/microsoft/vscode-jupyter/issues/4796

[2021-02-20 00:52] Chiao0330 commented on #117102
Thank you, guys. Understood now, I can use .py at least.

When will be the new version of the VScode for the problem? thanks:)

[2021-02-20 00:54] JGStyle commented on #116553
Thanks, but im on Mac - do you know a similar program to do that on OS X?

[2021-02-20 00:56] roblourens commented on #116989
It also is not working for Desktop + SSH for me right now, which I think used to work?

But in cases where it doesn't work is it possible to disable the DND entirely?

[2021-02-20 00:56] TylerLeonhardt commented on #116032
Test plan:

1. Download **32bit** version of VS Code and [install PowerShell 7 **x64 MSI**](https://github.com/PowerShell/PowerShell#get-powershell)
1. make sure you don't have a default shell set for Windows

Expected:

PowerShell 7 should show in your terminal and it should be 64bit (run `[System.Runtime.InteropServices.RuntimeInformation]::ProcessArchitecture` which should be `X64`)

Also, choo

[2021-02-20 00:57] #117084 closed

[2021-02-20 01:01] connor4312 commented on #117103
I'm not able to reproduce either of these cases. E.g. the renderer and extension host connects to both

![](https://memes.peet.io/img/21-02-b746b8e7-313c-42f5-a90c-0e165f63f4ac.png)

Make sure nothing else is running/listening the specific ports, and check the state of any antivirus or firewalls you have running. The errors reported are problems establishing or querying the websocket connection fo

[2021-02-20 01:03] connor4312 commented on #107467
The extension never calls `createDocumentTestHierarchy` -- VS Code itself calls that when tests are needed for a given document.

Code lenses will be provided out of the box, but an extension could call `createDocumentTestObserver` as well

[2021-02-20 01:07] sbatten commented on #116876
@JohnKlenk we provide the following theme keys that help differentiate active windows.

[code]

These are not suggested colors but examples. If our default themes are not clear enough, maybe @misolori can help here.

[2021-02-20 01:12] chloesheen commented on #117082
1) It still crashes using code --disable-extensions
2) launching Insiders build seems to be working fine. Is this my only option, or is there a way to repair VSCode on my machine?

Thanks!

[2021-02-20 01:14] tainzhi commented on #519
looking forward to the update to change workbench fontsize, especially statusbar.

when i use vim, the command line string is not clearly in statusbar.

[2021-02-20 01:22] #112164 closed

[2021-02-20 01:24] mjbvz commented on #114673
Related to microsoft/TypeScript#42889

[2021-02-20 01:24] rebornix commented on #117103
@connor4312 can you provide a bit more info about what we should look for in firewall or antivirus?

When I launch from VS Code Insiders, I see these two entries from `chrome://inspect`

![image](https://user-images.githubusercontent.com/876920/108578251-d52d0f80-72d6-11eb-8dcc-e693a7b5060a.png)

however js debug can't connect to it and there is no info in Debug Console

![image](https://user-imag

[2021-02-20 01:33] rebornix commented on #117103
I also doubt if it has anything to do with antivirus or firewalls as sometimes it connects to the OSS I'm running and sometimes (like right now), it fails 100% of the time.

In OSS, I'm seeing

[code]

and I can debug directly in Edge/Chrome, but VS Code fails to connect to this. @connor4312 thoughts?

[2021-02-20 01:42] roblourens commented on #116637
@lapprand do you get the same result with this? https://github.com/microsoft/vscode/issues/116637#issuecomment-780303797

Next step would be, you can find the line in the log that includes the exact command we ran with ripgrep, it starts with a path ending with `/vscode-ripgrep/bin/rg`. You can try running that exact command in a terminal. If there is actually a vscode bug, you will see the missin

[2021-02-20 01:43] rkatic commented on #114851
Instead of implementing a specific multi modal system like VIM, which would require too much effort, it seems to me that it makes much more sense to focus on general issues that make those systems hard to implement properly with extensions.

Personally, I find the particular VIM system kinda outdated because of the verb-movement order, while movement-verb order can give real-time visual feedback b

[2021-02-20 01:47] pingshunhuangalex commented on #116997
I can still reproduce it in the playground.

Although it doesn't look as thick as what's displayed in the editor (probably just a Window Clear Type thing cuz VS Code doesn't support `anti-aliasing` in Windows, the font rendered still seems wrong.

If there's nothing VS Code can do since it's a Windows Chromium issue, feel free to close the ticket. It'd be nice if you can report this bug to Chromiu

[2021-02-20 01:49] SharakPL commented on #40239
That's the problem with Prettier, not with VSCode. Also a reason I stopped using Prettier because it ignored completely my eslint, stylelint or phpcs configuration and forced its own rules, often messing my code completely. A tool for everything can't do a good job at all.

[2021-02-20 01:51] apchenjun opened #117104 "npm run visual studio code就崩溃"
Issue Type: <b>Bug</b>

vue 项目运行npm run 就崩溃

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen Intel(R) Core(TM) i7-1165G7 @ 2.80GHz (8 x 2803)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_raster_threads: e

[2021-02-20 01:57] roblourens commented on #116847
Noticed that this is better in the latest version of vscode, but they are missing tokens to be fully colored. Filed https://github.com/atom/language-php/issues/415

[2021-02-20 02:09] JohnKlenk commented on #116876
Thank you.  I used the following in my settings.json to get as close as I could to the gold standard of the Windows Classic titlebar, which is the most functional and best looking of any that I've ever seen on any OS:
`    "workbench.colorCustomizations": {`
`        "window.activeBorder": "#000000",`
`        "titleBar.inactiveBackground": "#898989",`
`        "titleBar.inactiveForeground": "#C7D

[2021-02-20 02:09] #116923 closed

[2021-02-20 02:15] connor4312 commented on #117103
Can you get a log file? That will include the reason/error from the connection

/jsDebugLogs

[2021-02-20 02:20] yume-chan commented on #117064
Please right click on the activity bar and make sure "Explorer" is checked.

[2021-02-20 02:39] #113220 closed

[2021-02-20 02:39] #113210 closed

[2021-02-20 02:39] #113169 closed

[2021-02-20 02:49] MicahZoltu opened #117106 "Medium sized files take an extremely long time to open."
- VS Code Version: 1.53.2
- OS Version: 10.0.19042
[code]

Steps to Reproduce:

1. Launch VSCode with extensions disabled.
1. Open 10MB .txt file (logs).
2. Wait for a long time.

Does this issue occur when all extensions are disabled?: Yes

I searched for issues related to large files but they all seem to imply that the issues were fixed a long time ago and that loading large files *should* work

[2021-02-20 03:07] InterfaceYang opened #117107 "sd"
Issue Type: <b>Bug</b>

s

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:45:54.515Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz (8 x 2300)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>multiple_raster_threads: enabled_on

[2021-02-20 03:07] InterfaceYang opened #117108 "sd"
Issue Type: <b>Bug</b>

s

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:45:54.515Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz (8 x 2300)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>metal: disabled_off<br>multiple_raster_threads: enabled_on

[2021-02-20 03:10] Aaronphy opened #117109 "Can not lunch the example extension "hello world~" , it show some error."
- VS Code Version: 1.53.0
- OS Version:  macOS Big Sur

Steps to Reproduce:

1.yo and generate the example extension
[code]
2. Press F5 to debug the example extension "hello world"
3. The error shows up:
   ![image](https://user-images.githubusercontent.com/16236806/107142797-4500d900-696c-11eb-8dd9-cad512966f5c.png)

It cannot debug normally as the doc says, please help to see and fix it.
This is

[2021-02-20 03:33] DonJayamanne commented on #116888
Re-opening as we're running into this yet again, & it would be good to know what's wrong with the package.
I've excluded *.so files, and still failing.
I have attached the file here.
[ms-toolsai-jupyter-insiders.4.vsix.zip](https://github.com/microsoft/vscode/files/6014055/ms-toolsai-jupyter-insiders.4.vsix.zip)

Will send the email as well.

[2021-02-20 03:39] lym12137 opened #117110 "关于ts"
Issue Type: <b>Bug</b>

创建ts文件,编译ts文件,同时打开ts及编译后js文件,ts报错无法重新声明块范围变量“user”。ts(2451)
greeter.js(4, 5): 此处也声明了 "user"。

VS Code version: Code 1.53.2 (622cb03f7e070a9670c94bae1a45d78d7181fbd4, 2021-02-11T11:48:04.245Z)
OS version: Windows_NT x64 10.0.19041

[2021-02-20 04:08] prashantvc commented on #116888
@rheajain can you take a look at this please?

[2021-02-20 04:09] xon52 opened #117111 "The 'import.meta' meta-property is only allowed when the '--module' option is 'es2020', 'esnext', or 'system'."
In short, I can't seem to shake this IDE error around using `import.meta`. I've tried it using several very different projects so I'm sure it's the IDE, but not sure what.

[code]

Steps to Reproduce:

1. Have a .env file
2. Reference "import.meta.env.SOME_KEY"

Does this issue occur when all extensions are disabled?: **Yes**

![](https://cdn.discordapp.com/attachments/807294895256502362/812529360

[2021-02-20 04:24] lsht-cn opened #134938 "Interactive Editor Playground/Web is not localized."
It is really unfriendly to users who does not use English. Foreign users cannot try and learn the useful skills in vscode. So, it is supposed to be localized.

[2021-02-20 04:45] Naohiro2g commented on #95062
First of all, there is no need to be in the recovery mode to edit the database but terminal app needs full disk access.

Mojave version is here, at your own risk. Be careful.

[code]

[2021-02-20 05:04] gjsjohnmurray commented on #117108
/duplicate of #117107

[2021-02-20 05:05] gjsjohnmurray commented on #117107
/needsMoreInfo

[2021-02-20 05:05] #117108 closed

[2021-02-20 05:10] gjsjohnmurray commented on #117102
You need to wait for a new version of the Jupyter extension. See the issue I linked to.

[2021-02-20 05:19] eodeluga commented on #114119
@Sleavely I'm using 1.53.2 and the behaviour appears to have changed. File dialogs now seem to open from the last used location. This may be an improvement for some but it's still an inconsistent experience for me.

I think the desired behaviour should just be for dialogs to just follow the current working directory, as seen when an integrated terminal is opened.

[2021-02-20 05:48] qjebbs opened #117112 "crash about markdown env.containingImages"
- VS Code Version: 1.53
- OS Version: all

Steps to Reproduce:

1. vsocde markdown feature recently (1.53) add a lazy load image feature(?) by contributing a new plugin to markdwon-it
2. the plugin requires `env.containingImages`, which is initialized in preview feature
3. when I call `markdownit.render` other places without `env.containingImages`, it crashes

that's why this issue happens: https:

[2021-02-20 06:13] bersbersbers commented on #113818
Yes, I am using `"window.zoomLevel": -1`. I will post a separate issue as soon as I can reproduce this. This is not easy, though: it's not enough to simply create 5 empty editors and splitting them horizontally. So it *may* be related to the editor actions.

[2021-02-20 06:32] kjpaul opened #117113 "Keeps crashing"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Visual Studio Code crashes randomly even when I am not touching the keyboard. It seems completely random.  Sometime it crashes within minutes.

I was working with the webpack server, but I quit that and now I am working with the Firebase CLI and it is still crashing.

I have 3 monitors and it doesn

[2021-02-20 06:37] kjpaul commented on #117113
CPUs | Intel(R) Core(TM) i7-10875H CPU @ 2.30GHz (16 x 2304)
-- | --
GPU Status | 2d_canvas: enabled gpu_compositing: enabled multiple_raster_threads: enabled_on oop_rasterization: enabled opengl: enabled_on protected_video_decode: unavailable_off rasterization: enabled skia_renderer: enabled_on video_decode: enabled vulkan: disabled_off webgl: enabled webgl2: enabled
Load (avg) |  
Memory (System

[2021-02-20 06:43] klisorena commented on #16927
![VSCode](https://user-images.githubusercontent.com/61342995/108586370-edf5fd80-7388-11eb-910c-ed2c91b4c3bc.PNG)
Hi guys,

I'm using version 1.53.2 and there is a feature called 'Maximize Panel Size" on the terminal (not sure if it was always there on other versions). Is it possible to have this on the editor groups/splits?

This would very handy for small screen devices or when you want to tempor

[2021-02-20 06:46] laizewei opened #117114 "Custom modules can run without an intelligence prompt"
Issue Type: <b>Feature Request</b>
Remote development :ubuntu18.04, vscode1.53.0,python3.7.5 virtualized environment.

I installed some custom module that is not in the Python path. And export the environment variable in ~/.bashrc. I was able to import custom modules and run the code in a Python virtualized environment, but there was no intelligence prompting.

VS Code version: Code 1.53.0 (8490d3

[2021-02-20 06:58] jumpapex opened #117115 "$gcc problem matcher not generate links for filename with build error"
- VS Code Version: 1.46.1
- OS Version: CentOS 8.2
- C/C++ Extension Version: 1.0.1

Steps to Reproduce:

a Makefile project with the following directory layout:
[code]
Makefile content:
[code]

tasks.json content:
[code]
when set full path of source file in Makefile, a tip windows "Open file in editor" is shown when mouse cursor is on compiling error msg. when click the tip windows, vscode will o

[2021-02-20 07:11] ctf0 commented on #16927
@klisorena there is already `workbench.action.toggleEditorWidths` we just need to add an icon for it in the title bar

[2021-02-20 07:20] klisorena commented on #16927
@ctf0 it is not quite the same. the toggleeditorwidths only maximizes the tab to certain width. The 'maximize panel size' uses the all the space, including the other groups.

[2021-02-20 07:38] burtonsys commented on #116600
Do you mean when I permitted the update to vscode?  I did a Ctrl-S (save) before permitting the update.

Does VSCode not keep any backups of the files it is editing?

[2021-02-20 07:48] cloudhan opened #117116 "Explorer periodically lose focus on renaming"
- VS Code Version:
- OS Version:
[code]

Steps to Reproduce:

1. Press F2 on any file/directory
2. Do nothing for a while
3. Focus lost

I doubt anyone can reproduce it with the description. It only occur on my particular repo, maybe even with special state. Because I cannot reproduce the state with a new folder/workspace.

The only thing I can say the cause **must** be the git extension. From `Ou

[2021-02-20 07:56] bpasero commented on #116600
Yeah we do, for as long as the file is not saved. Provided the save succeeded without error, I fear that backup might be gone now. But to check, you can see if there is any content in `"%USERPROFILE%\AppData\Roaming\Code - Insiders\Backups"`, which I think you already tried without luck.

Otherwise, we are not keeping track of edits, we only keep the contents of a file until it is saved. And given

[2021-02-20 08:00] lishuncai opened #117117 "Bug for commont html code"
Can't comment more than one line of HTML code if had comments in it.

[2021-02-20 08:03] burtonsys commented on #116600
Sure thing. Where is the "logs folder" and where shall I send it?

(I don't understand what that screenshot is, either.)

BTW, the file in question is a sort of an "activity log" to which I've been appending notes for years. The truncation point was around Sept. 1, 2018, so the missing 12MB represents the last 28 months of notes, and most of had been saved hundreds of times.

[2021-02-20 08:07] gjsjohnmurray commented on #117117
/needsMoreInfo

[2021-02-20 08:28] i5heu opened #117118 "Auto port forwarding does not work with nodemon"
Version: 1.53.2 (user setup)
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:48:04.245Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.18363

Note: this bug happens in Codespaces

Steps to Reproduce:

1. Start express in nodemon and console.log "http://127.0.0.1:8080" from the app.listen function
2. the port is not aut

[2021-02-20 08:35] i5heu commented on #117118
https://user-images.githubusercontent.com/22565269/108589526-f1748f00-735e-11eb-95af-0cf839b17884.mp4

[2021-02-20 08:43] bpasero commented on #116600
@burtonsys that screenshot is from our command palette with access to all our commands, you can trigger it via View > Command Pallette.

As a suggestion to prevent issues like these in the future, if you create a git repository where the notes are (even a local one is fine), you can commit our changes into the local git repository and are safe from data loss as long as you commit often. Of course

[2021-02-20 09:07] lehni commented on #5192
@doivosevic I just checked, it still works for me.

[2021-02-20 09:11] ctf0 commented on #16927
i saw a setting that can change how small the group could be minimized but cant remember what was its name or if it even still there anymore

[2021-02-20 09:27] Geobert opened #117119 "Markdown: list and checklist continuation"
Hi, maybe it is possible already but I can't find the feature: in markdown mode, while starting a list, I'd like the list to continue when I hit `enter`.

If the list is marked with `-` then on `enter`, add `- ` (with the space) already.
If the list is marked with `*` then start with `* `
If the list is marked with `- [ ] ` then start with `- [ ] `

If nothing is input on this new line starting wi

[2021-02-20 09:29] stvvt commented on #115804
I am experiencing exactly the same behavior as shown in the screen recording.

I am using vscode under XFCE too. (XUbuntu 16.04)

Changed `window.titleBarStyle` from `custom` to `native` and the second window now is OK. However, now the menu items (both main menu and context menus) don't get highlighted on mouse hover, which is a bit annoying.

[2021-02-20 09:58] aliseena opened #117120 "Vscode terminal text does not show and the cursor is huge"

[2021-02-20 09:59] MohitGhodasara opened #117121 "Can't use ${selectedText} as a optional variable for Tasks"
- VS Code Version: 1.53.2
- OS Version: Ubuntu 18.4 LTS

I want to create a task that takes either from the selected text or asks for input. something like this

[code]

but it throws error when text is not selected

is it possible to get seleted text lenght that we can check conditionally? `${seletedTextLenght} == 0 `
or by default ${selectedText} return empty string? `${selectedText} == ''`

[2021-02-20 10:03] aliseena commented on #117120
While opening vscode, terminal is black and meanwhile, the text and directory does not show. The cursor is also bigger and taller than usual. Disabling extensions did not work

[2021-02-20 10:06] #116927 closed

[2021-02-20 10:13] hqzh opened #117122 "terminal select Git Bash can’t input Chinese"
- VS Code Version: v1.53.2
- OS Version: windows_NT x64 10.0.17763
- Node.js: 12.18.3
- gitbash:

Steps to Reproduce:

1. terminal select Git Bash
2. Can’t input Chinese

Does this issue occur when all extensions are disabled?: Yes/No

[2021-02-20 10:27] miguelvalente commented on #117031
I'm writing in python. I don't think its a keybinding issue I'm directly calling the actions.

Ctrl+A works for example.

[2021-02-20 10:29] dominicpalmer commented on #116553
I would take a look at Karabiner: https://karabiner-elements.pqrs.org/

[2021-02-20 10:40] hedgehog90 commented on #116613
Someone, anyone, **_please_** help me with this.
Such an annoying problem. Makes debugging for windows an absolute chore.

[2021-02-20 10:46] zmunk commented on #115652
I have the same issue.

[2021-02-20 10:51] lizhihaoerdaye opened #117123 "Terminal cannot input"
- VS Code Version:1.42.1
- OS Version:Windows 10

Steps to Reproduce:

1.Ctrl+Shift+` Open a terminal
2.The terminal does not display any content

Does this issue occur when all extensions are disabled?: Yes
![cuowude](https://user-images.githubusercontent.com/47618476/108593079-949fc580-73ac-11eb-884f-42f8f5d1a217.png)
![cuowude](https://user-images.githubusercontent.com/47618476/108593082-9c5f6a

[2021-02-20 10:59] dookei opened #117124 "Multiple tabs in different grids and GoTo Definition(F12)"
Hi,
I work a lot with C++ projects and sometimes I have multiple tabs open on the same window. For example the C/cpp files on right and header files on the left.
If I try to use the GoTo defintion feature(F12 or Ctrl+Click) this will open always a new tab.Its quite annoying to be always closing new tab and  use find to look for the definitions.

- VS Code Version:1.53.2
- OS Version: Ubuntu 20.04