[2017-12-15 11:20] maximilianschmitt opened #40290 "Allow to close multiple tabs without moving the mouse after closing one"
Hi! I love the new `shrink` tab sizing in the latest version of Code. It feels much more natural to me because I now have a much better idea of which editors are open in which pane and how many are open in total.

There's an awesome thing that Chrome does when you're closing tabs – it doesn't resize the tabs while you're closing them. This allows you to close many tabs by just clicking repeatedly.

[2017-12-15 11:21] weinand commented on #40254
The launch config was always wrong.
But luckily long standing bug #16173 made the bogus launch config work.
In VS Code 1.18 we've fixed the bug and that affected your launch config.
Sorry for that.

/cc @roblourens

[2017-12-15 11:22] #40254 closed

[2017-12-15 11:34] scriptum opened #40291 "ALT + . does not work in integrated terminal"
- VSCode Version: 1.18.1
- OS Version: CentOS 7.3

Steps to Reproduce:

1. Open integrated terminal
1. Run some command e.g. `cd /tmp`
1. Press `Alt + .`

Expected result: word `/tmp` appears in terminal input.

Reproduces without extensions: Yes
Reproduces with all default keybindings (fresh installation): Yes

[2017-12-15 11:37] carlos-algms commented on #32012
+1

[2017-12-15 11:40] aeschli commented on #39994
Thanks for the examples. I made some performance improvements, please give it a try.

[2017-12-15 11:40] #39994 closed

[2017-12-15 11:45] jrieken commented on #28726
won't happen...

[2017-12-15 11:45] #28726 closed

[2017-12-15 11:47] crucialfelix commented on #30038
Also: ability to see the whole problem text, not just a single line. Hovering over it is time consuming and fiddly.

Especially TypeScript errors are very difficult to read even in the pop up:

[code]

[2017-12-15 11:49] TomS- commented on #13643
@frank-dspeed What?

I'm sorry, but that's just a silly comparison. I'm not going to jump into debating with you why Remote FTP access is good. I don't need to. Surely all the "+1" and people thumb's up-ing the OP is enough. For what reason you are against adding new features is beyond me.

All I'll say is, It's like saying this new Live Share (https://code.visualstudio.com/blogs/2017/11/15/live-s

[2017-12-15 11:50] nzjony commented on #35182
I upgrade to 1.19, and this works, however we use gerrit which has a Change-Id in the commit message, and the newline is removed when added to the commit message box. Which means when I upload the change to gerrit, it becomes a new patchset.
Can this please not remove the newlines.

[2017-12-15 11:53] Meano commented on #40199
![tim 20171215194955](https://user-images.githubusercontent.com/7509521/34041048-60affd14-e1d1-11e7-8e40-1b3ec03f3427.png)

Failed, print error.

[2017-12-15 11:56] ivankravets commented on #40199
Cool! Let's wait when @Tyriar will fix it. I don't know why Python users don't report this issue. Maybe, they don't use built-in terminal :)

[2017-12-15 11:56] aeschli commented on #40287
duplicate of #40157. I created https://github.com/atom/language-css/issues/133

[2017-12-15 11:56] #40287 closed

[2017-12-15 11:57] aeschli commented on #38569
There's a hidden setting ` "editor.hover": false`

[2017-12-15 12:18] puranik3 commented on #40282
I was just Googling for the same :)

[2017-12-15 12:21] Tekbr commented on #27892
-- Sorry for the English, I used Google Translator --

Hello, just a question about this issue.  //ping @ShashankaNataraj @aeschli

Would it be for the same to work similar to this gif?

![webstorm](https://user-images.githubusercontent.com/19866231/34039987-fe85f2d6-e178-11e7-914c-4a93397731a1.gif)

Note: I've never used WebStorm, but @aeschli  has put it as a duplicate. But I'm in doubt if it re

[2017-12-15 12:31] purocean commented on #40249
@joaomoreno Sorry I made some mistakes. I cant reproduce it.

[2017-12-15 12:32] costela commented on #34503
@haraldrudell I realize this isn't for everyone, but being on linux, you might be interested in [flatpak](https://github.com/flatpak/flatpak) as a more general solution. With it you can put vscode inside its own container and just explicitly allow it access to certain resources (like network or certain folders). Probably not enough security for applications hellbent on breaking out of containment

[2017-12-15 12:40] amadeogallardo opened #40293 "Debug CRA Tests stopped working on v1.19"
- VSCode Version: 1.19
- OS Version: Windows 10

Steps to Reproduce:

1. Setup a launch configuration as described here: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#debugging-tests-in-visual-studio-code
2. Fire the debugger with F5 or play on the debugging panel
3. The debugger doesn't start the `test` scripts and eventually fires a t

[2017-12-15 12:45] CharlesWinter commented on #869
For me at least, the suggestions of @tobia worked well. I wanted to exclude all folders in the github.com folder except those I was interested in. Adding the following to my local workspace config was good enough for me.
[code]

[2017-12-15 12:53] bm-stschneider opened #40294 "Processes stress CPU"
- VSCode Version: Code - Insiders 1.20.0-insider (08ec16001adaab8a86183431f6aec09209caa4ab, 2017-12-15T06:08:07.643Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
bracket-pair-colorizer|Coe|0.10.14
EditorConfig|Edi|0.11.1
beautify|Hoo|1.1.1
vscode-jira|Kni|0.5.2
material-icon-theme|PKi|3.1.0
vscode-docker|Pet|0.0.22
code-settings-sync|Sha|2.8.7
vs

[2017-12-15 12:59] aeschli commented on #27892
- Ctrl + click is the same as goto declaration so yes that would work
- We don't plan to have exactly the same UI like Brackets, so this won't happen. But we have 'Peek Definition' which is similar and gives you the same capabilities to see and edit definitions.

[2017-12-15 13:01] joaomoreno opened #40295 "Commit amend loses multiline format in commit message"

[2017-12-15 13:01] joaomoreno commented on #35182
I see... I created this to track that issue: https://github.com/Microsoft/vscode/issues/40295

[2017-12-15 13:02] William-Python-King commented on #37827
@bpasero Code 1.19 stable version is OK. I think it's an issues with git. It seems that Code couldn't handle the default path where git was installed on windows system like 'd:\Git\cmd\git.exe'. It could only seek 'c:\Git\cmd\git.exe' and report error so that you have to manually assign git.path to 'd:\\Git\\cmd\\git.exe'.

[2017-12-15 13:04] jrieken commented on #40294
Can you check with F1 > Show Running Extensions?

[2017-12-15 13:05] #39360 closed

[2017-12-15 13:12] kv4sha commented on #40216
I'm trying to get static properties from a class when I press Ctrl+Space.
I'm writing an extension.

[2017-12-15 13:26] simonech opened #40296 "[loc]Request to add Latvian language to VS Code"
Hi,
I saw Latvian is missing as language supported by VS Code.

I know Latvian and my wife is native LV speaker (as well as professional translator) so we could help translating VS Code into Latvian.

[2017-12-15 13:27] racg4869 opened #40297 "the terminal undefined"
in the latest update,  "terminal.integrated.shell.windows" is set to "undefined\\System32\\WindowsPowerShell\\v1.0\\powershell.exe"

[2017-12-15 13:29] purocean commented on #40249
I am track code:
[code]

[code]
![image](https://user-images.githubusercontent.com/7115690/34043512-6d9e57ae-e1dc-11e7-967d-bc797e37b5a0.png)

So I change my [WSL proxy program](https://github.com/purocean/wslproxy/commit/5c24cf7118aac03358f98ccc63f203638d5c8943). It‘s work!

`isDescendant` function maybe it can be ignore case on Windows platform.

[2017-12-15 13:34] ldrick commented on #40272
Seems the same on Ubuntu 17.10.
I have 2 folders in my workspace, the first one seems to be indexed correctly, CRTL+P shows results.
But the second one returns not a single result, before 1.19 both returned results.

In an other workspace is only one folder, this one seems to work.

Could it be, that only first folder is indexed now?

[2017-12-15 13:35] jpihl commented on #9635
I had the same issue with gtest. I found a workaround which might help some people until this feature is available.

Here's my problemMatcher for gtest:
[code]
I'm on linux so I can't build your test project, but I bet it can be done in a similar way.

The drawback of this approach is that it will produce a problem per line in the problem message, but you get the error message(s) when you hover ov

[2017-12-15 13:39] PixelT commented on #40272
I don't use workspaces ;) and it also doesn't work for me (symptoms like in first post)

[2017-12-15 13:40] jrieken commented on #36579
With @sandy081 recent work on output channels this got already a lot better. It's now just the debug console that stays alive forever and @isidorn might know why that is

[2017-12-15 13:46] nroberts1 opened #40298 "Multi Target debug - ECONNREFUSED with Console - integrated terminal"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.2.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
cucumberautocomplete|ale|2.5.0

---

Multiple launch.json setups ran together fail with "Cannot connect to the target: connect ECONNREFUSED 127.0.0.1:9228" for any configs with:
`"console": "integratedTerm

[2017-12-15 13:47] magnajoaopolo opened #40299 "Allows multiple selection on panel "Go to file...""
IDEs like NetBeans allows to select multiple files on that panel. It's important because when I'm looking for a file, I probably need to open the main file and their complements.

[2017-12-15 13:52] weinand commented on #40293
The launch config at https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#debugging-tests-in-visual-studio-code is wrong (but it worked by accident because VS Code had a bug in previous versions).

- don't use an "--inspect-brk" since VS Code inserts that automatically based on the node.js version being used.
- "test" is not a runtime argument

[2017-12-15 13:55] Ptiloup commented on #3422
Maybe I missed something ... I recently migrated my javascript project from netbeans to visual studio code ... in netbeans we use
//<editor-fold defaultstate="collapsed" desc="getControleur">
...
//</editor-fold>
for defining regions ... I saw I could modify javascript-language-configuration.json to
	"folding": {
		"markers": {
			"start": "^\\s*//\\s*(?:(?:#?region\\b)|(?:<editor-fold\\b))",
			"

[2017-12-15 13:56] joaomoreno commented on #40249
@purocean Actually, this sounds like a bug in your WSL proxy program.

Specifically because of path casing issues, we always ask [`rev-parse --show-toplevel`](https://github.com/Microsoft/vscode/blob/master/extensions/git/src/model.ts#L193) to git. From then on, every path magic we do is based on the result of that call. So, if Git returns uppercase `C`, we will use `C`. The same, otherwise.

I'm

[2017-12-15 13:56] nroberts1 commented on #40298
Got the external terminal working:

launch.json
`"console": "externalTerminal"`

and

settings.json
`"terminal.external.osxExec": "Terminal.app",`

This is working fine. Would be interested to know if multiple internal terminals could be made to work though.

[2017-12-15 13:58] Tekbr commented on #27892
-- Sorry for the English, I used Google Translator --

@aeschli The idea is to edit the CSS / AngularJS within HTML. Will we have that possibility?

(I've seen how Peek Definition works, works like in Brackets, but the idea of using CSS / AngularJS with the tag/controller)

[2017-12-15 14:00] SShehriyar opened #40300 "Python Extension not working on opened file."
- Extension Name: Python
- Extension Version: 0.9.0
- OS Version: Linux x64 4.10.0-42-generic
- VSCode version: 1.19.0

 The extension doesn't seem to be working. When I run any python. command e.g. run test it says **command "python._command_" not found**
[code]

[2017-12-15 14:08] #40300 closed

[2017-12-15 14:09] SShehriyar commented on #40300
Duplicate of Issue #432 on vscode-python

[2017-12-15 14:10] weinand commented on #40298
duplicate of #37589

[2017-12-15 14:10] #40298 closed

[2017-12-15 14:10] isidorn commented on #36579
I can look into disposing the debug console input once it is hidden

[2017-12-15 14:17] bm-stschneider commented on #40294
And then? nothing out of the ordinary as I can see.

[2017-12-15 14:18] amadeogallardo commented on #40293
Thanks for the swift response @weinand. The configuration above worked fine with VS Code 1.19.
I'll update the related issue on Create React App to update the documentation accordingly.

[2017-12-15 14:18] #40293 closed

[2017-12-15 14:18] ldrick commented on #40272
Could fix it for me by adding `"search.useRipgrep": false` to my settings. This even doesn't need a restart of vscode o.O
Tried everything mentioned here and played around: #40076

[2017-12-15 14:20] bfrost2893 opened #40301 "Can't launch debugger with runtimeExecutable that has a space in the path"
- VSCode Version: 1.18
- OS Version: Windows 7

Steps to Reproduce:

1. Create a launch config that runs a yarn/npm script, or any other `runtimeExecutable` with a space in the path
2. Run the launch configuration

Example launch config:
[code]

Alternatively, the `runtimeExecutable` could be `C:\Program Files (x86)\Yarn\bin\yarn.cmd`, or whatever the absolute path to your `yarn` program is.

**Co

[2017-12-15 14:20] weinand commented on #40293
@amadeogallardo that configuration should work fine for all versions of VS Code.

[2017-12-15 14:21] aeschli commented on #27892
@Tekbr
- css in HTML: yes,
- AngularJS in HTML: no: that would have to be provided by an Angular extension

[2017-12-15 14:28] PixelT commented on #40076
I have the same issues as author have in main topic, **but** on MacOS
I have project with magento2 + couple of themes and the quick open option doesn't work for me (https://github.com/Microsoft/vscode/issues/40272)

[2017-12-15 14:29] jrieken commented on #40294
Sorry, forget some of the instruction... In that view you'll find a button to create a CPU profile of the extension host process. Please profile for a few seconds (while it sits at100%) and find the extension consuming most CPU cycles (it will sorted atop and there will be little chart next to each of them)

[2017-12-15 14:31] racg4869 commented on #40297
It is my fault,I delete the system environment variable `windir` which caused it.

[2017-12-15 14:31] #40297 closed

[2017-12-15 14:31] PixelT commented on #40272
I read that issue and next problem is that I'm on Mac :) but yes, when I set:
`"search.useRipgrep": false`
the quick open seems to work properly....

[2017-12-15 14:32] #40244 closed

[2017-12-15 14:32] Ccz-Chen commented on #15710
Two of our projects in JavaScript. I am interested in the feature. Thanks,

[2017-12-15 14:33] bm-stschneider commented on #40294
Ah okay, that helped
![image](https://user-images.githubusercontent.com/30625381/34046428-579cfb7e-e1ad-11e7-9b7e-32efc33f5efa.png)

[2017-12-15 14:36] Tyriar commented on #40199
@rprichard any idea what could be happening here? Interestingly it doesn't seen to happen with @ivankravets's [pty.js fork](https://github.com/platformio/pty.js) which is still on winpty@0.2.

[2017-12-15 14:37] aeschli commented on #40184
duplicate of #7340

[2017-12-15 14:37] #40184 closed

[2017-12-15 14:38] joaomoreno commented on #36885
Actually I went with just having the action inline:

![image](https://user-images.githubusercontent.com/22350/34046637-04930ce2-e1ae-11e7-838f-c5ba3bac767a.png)

[2017-12-15 14:39] #36885 closed

[2017-12-15 14:40] Tyriar commented on #40291
Duplicate https://github.com/Microsoft/vscode/issues/11314

[2017-12-15 14:40] #40291 closed

[2017-12-15 14:40] ghost opened #40302 "cmd creation of component generates error in module"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.4.3
tslint|eg2|1.0.24
git-tree-compare|let|1.1.4
debugger-for-chrome|msj|4.0.0
background|sha|1.1.17

---

Steps to Reproduce:

1. `ng generate component componetName`

Reproduc

[2017-12-15 14:41] aeschli commented on #39963
fixed by https://github.com/Microsoft/vscode-css-languageservice/commit/ece7dbdeb9a16104d0d8952d3d99d1d8df01711a

[2017-12-15 14:41] #39963 closed

[2017-12-15 14:41] Tyriar commented on #40028
That error happens when you have prefix set somewhere in your scripts. Try running `npm config delete prefix` and relaunching the terminal, if that doesn't work you need to find where it's getting set and remove it.

[2017-12-15 14:41] #40028 closed

[2017-12-15 14:42] KnisterPeter commented on #40294
@bm-stschneider Probably you can have a look at that. Right now I have litte time to care about the jira extension.

[2017-12-15 14:42] Tyriar commented on #38928
@jackietw #40199 is Windows only which is one of the reason I think it's the same root cause.

[2017-12-15 14:42] Paviluf opened #40303 "Add a way to choose theme variant (Gnome dark/light theme)"
Hello,

A lot of GTK themes come with 2 variants like the default Gnome theme Adwaita . One light and one dark. Each app that implement the feature, like Gnome terminal, allow you to choose the theme variant in the preference. It will be awesome if we can do this in Vs Code.

The dark theme suit Vs Code a lot better !

![screenshot from 2017-07-03 07-27-41](https://user-images.githubusercontent.co

[2017-12-15 14:50] hilleer commented on #40082
That's how I solved it. Just thought the possibility of having something like my example, would have been a nice addition to the feature.

Thanks for your time. Closing.

[2017-12-15 14:50] #40082 closed

[2017-12-15 14:51] joaomoreno commented on #38507
Fixed by https://github.com/Microsoft/vscode/pull/38563

[2017-12-15 14:51] #38507 closed

[2017-12-15 14:52] Tyriar commented on #40267
@d07RiV sorry to hear about the loss of work but your flow is a little strange. The way the hot exit feature works is that it keeps track of unsaved files when you exit. When one of these backups is stored it will always be restored when the session is restored. What must have happened was you modified the file and didn't save it in the older version, so when you reopened the folder it restored th

[2017-12-15 14:52] #40267 closed

[2017-12-15 14:54] Tyriar commented on #39892
@bpasero the workarounds suggest a wrapping bat script which sets the env based on cli args: https://github.com/Microsoft/WSL/issues/1494#issuecomment-266787121

[code]

[2017-12-15 14:55] jrieken commented on #40294
Good find, I'll close this as caused by extension and leave it up to you two. Btw, from the same menu you can save the CPU-profile to disk, share it, and then open it in Chrome-devtools.

[2017-12-15 14:55] Tyriar commented on #40175
@mtpultz do you have any anti-virus software that could be intercepting the process creation? I've had reports before that some of them do things like this due to the use of winpty https://github.com/rprichard/winpty

[2017-12-15 14:55] #40294 closed

[2017-12-15 14:56] ryanbuening commented on #40282
Same here. Does anyone know what this is?

[2017-12-15 14:56] joaomoreno commented on #37337
Thanks for the effort @cleidigh... unfortunately I got to https://github.com/Microsoft/vscode/pull/36364 first and liked its approach better for the simplicity. I'm sorry for that.

/duplicate 33004

[2017-12-15 14:56] #37337 closed

[2017-12-15 14:58] Tyriar commented on #40241
I think you want to do this instead:

[code]

Here's what I use:

[code]

[2017-12-15 14:58] #40241 closed

[2017-12-15 14:59] Tyriar commented on #39600
@jiaolu what version of Windows did you update to?

[2017-12-15 15:00] joaomoreno commented on #37490
Fixed by https://github.com/Microsoft/vscode/pull/39216

[2017-12-15 15:00] #37490 closed

[2017-12-15 15:01] logg-sar opened #40304 "Focus should remain in code-window after pressing F8"
Version 1.19.0
Commit 816be6780ca8bd0ab80314e11478c48c70d09383
Date 2017-12-14T12:06:43.492Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

Steps to Reproduce:

1. Open any Powershell-Script
2. Mark one line (yes, the line should make sense - but Write-Output "TEST" should be enough)
3. Press F8 to execute the line
4. Focus changes to Terminal window

Expected/desired: focus shoul

[2017-12-15 15:03] joaomoreno commented on #40282
I've added an explanation in the first comment of this issue:

---

**Feature Explanation:** Code can automatically and periodically fetch refs from your remotes. It calls `git fetch` periodically. This is the feature that the popup asks about.

[2017-12-15 15:04] Tyriar commented on #40238
Looks like the CLI formatting on Windows is off when the language is set to Chinese? The question mark makes me thing this is probably winpty.

[2017-12-15 15:06] Tyriar commented on #38987
@benmatwil does resizing the terminal fix the problem?

[2017-12-15 15:08] csholmq commented on #869
@CharlesWinter I can't get this to work.

[code]

Trying to exclude all files except .h files. No dice...

[2017-12-15 15:12] #38785 closed

[2017-12-15 15:12] joaomoreno commented on #38785
Fixed by https://github.com/Microsoft/vscode/pull/39245. Setting is `scm.alwaysShowProviders`.

[2017-12-15 15:13] aeschli commented on #39905
The JavaScript grammar seems to give the following scopes,
`variable.other.property.js`
`variable.other.object.property.js`

Not clear why not both times `other.object.property`.
Moving to to https://github.com/Microsoft/TypeScript-tmlanguage

[2017-12-15 15:13] aeschli commented on #39905
This issue was moved to Microsoft/TypeScript-TmLanguage#553

[2017-12-15 15:13] #39905 closed

[2017-12-15 15:15] johnpapa commented on #26128
@aeschli Can you provide some feedback on which of these may be within your roadmap?

[2017-12-15 15:16] Tyriar commented on #34886
Sound like you worked it out, fyi ctrl+c issues on Windows are all being tracked in https://github.com/Tyriar/node-pty/issues/7

[2017-12-15 15:16] #34886 closed

[2017-12-15 15:18] #39738 closed

[2017-12-15 15:19] Tyriar commented on #38732
Tracking in https://github.com/Tyriar/node-pty/issues/168

[2017-12-15 15:19] #38732 closed

[2017-12-15 15:21] alexandrudima commented on #40263
@douglarek perhaps you want to turn off `editor.fontLigatures` ?

[2017-12-15 15:22] #40263 closed

[2017-12-15 15:22] mikemaccana commented on #13612
Massive thanks @bpasero 🙂

[2017-12-15 15:26] iozozturk commented on #1023
Really? This is the first thing you implement in an editor, to make it an editor.

[2017-12-15 15:27] avikenjale opened #40305 "Resolved: IntelliSense not working for omnisharp but for rest of extensions (e.g. F#)"
## Environment data
`dotnet --info` output:
[code]

VS Code version:
C# Extension version:
`1.13.1`

## Steps to reproduce
It was working few weeks earlier properly however recently start failing to load intelliSense.

## Expected  behavior
Should show errors, missing reference, F12, should open definition of type.

## Actual behavior
Nothing working as expected.

## Screenshot: (No intelliSense e

[2017-12-15 15:29] aeschli commented on #39890
- If you have your own *CSS-like* language then the right approach is to give it a new language id and only have your language server registered for it. No proxying should be necessary as your language server can even include the [CSS language service](https://github.com/Microsoft/vscode-css-languageservice) library and pick and choose what capabilities it wants, and what not.
- If you want to ext

[2017-12-15 15:29] #39890 closed

[2017-12-15 15:30] lousyd commented on #10026
"Me too". I would like to be able to search the vertical list of filenames by just pushing a key when the pane is in focus. But instead of just the first letter, it'd be nicer if it visually filtered the list in realtime, and searched for the string I typed anywhere in the filename. So if my list includes "Get-MyFunction", "Set-MyFunction", and "Do-TheFunThing", typing "Func" would filter out the

[2017-12-15 15:31] admmasters commented on #39612
@sandy081 I'm getting this now. Have had it occur on 2 different machines - both Macs one on High Sierra and the other on Sierra.

[2017-12-15 15:32] gnexlimited commented on #40241
It is perfect!
I am sorry to trouble you due to my misunderstanding. From next time I question you with Stack Overflow etc. before suspecting a bug...

[2017-12-15 15:32] MrNovado commented on #40001
@mjbvz This should be off by default, this wasted almost 3 hours of my life, coz I couldn't figure out why my timeouts suddenly stopped invoking callbacks

[2017-12-15 15:33] alexandrudima commented on #38005
Implemented via #39701

[2017-12-15 15:33] #38005 closed

[2017-12-15 15:33] aeschli commented on #39852
The currently implemented folding strategy is based purely on the indentation of lines. A folding region starts when a line has a smaller indent than one or more following lines and ends when there is a line with the same or smaller indent.

To be smarter and to, for example, understand go markdown header syntax, we will have to go one step further and introduce language agnostic folding regions.

[2017-12-15 15:33] #39852 closed

[2017-12-15 15:35] pakutoma commented on #40241
It is perfect!
I am sorry to trouble you due to my misunderstanding. From next time I question you with Stack Overflow etc. before suspecting a bug...

[2017-12-15 15:36] #40305 closed

[2017-12-15 15:37] avikenjale commented on #40305
##Solution:
Select Project /solution from status bar right bottom corner and it is started working like anything.

[2017-12-15 15:38] avikenjale commented on #40305
![image](https://user-images.githubusercontent.com/6217482/34049088-1c825b5c-e184-11e7-8570-8f3f74bc9e4f.png)

[2017-12-15 15:52] dbaeumer commented on #40288
@isidorn assigning to you since this would nicely fit into the configuration resolver service.

[2017-12-15 15:56] Tyriar commented on #38706
@himavan do you have a custom theme set on cmd.exe or powershell.exe?

[2017-12-15 15:58] javifm86 commented on #40249
@joaomoreno I don´t know exactly what do you mean by casing certain paths. I have two folders, corresponding to network drives mapped to I: and J:

I: ( sorry, I was wrong when I said before J:, I don´t know if this detail can be relevant ), has a .git folder. And there is another .git folder inside a subfolder. VsCode just recognized before the update one git repository, the main .git folder from

[2017-12-15 15:58] Tyriar commented on #38806
@dbaeumer shouldn't this be fixed in v1.18.1? https://github.com/Microsoft/vscode/issues/32042

[2017-12-15 16:00] Tyriar commented on #38672
@Yofri can you post another screenshot? Copying and pasting into GitHub will upload it here which doesn't expire.

[2017-12-15 16:01] Tyriar commented on #38646
Duplicate https://github.com/Microsoft/vscode/issues/36072

[2017-12-15 16:01] #38646 closed

[2017-12-15 16:02] rweir4 opened #40306 "Visual Studio Code Powershell New-PSSession Command Access Denied"
- VSCode Version: x64 1.18.0
- OS Version: Windows 2012 R2

Steps to Reproduce:

1.$cred = Get-Credential
$O365_Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://ps.protection.outlook.com/powershell-liveid/ -Credential $cred -Authentication Basic -AllowRedirection
2.Error message: "Connecting to remote server ps.protection.outlook.com failed with the following er

[2017-12-15 16:07] Tyriar commented on #38639
Option delete doesn't appear to do anything for me by default in Terminal.app and iTerm, do you have custom keybindings? Also do you know what keystroke is used for option+delete if not ctrl+w?

[2017-12-15 16:09] alexandrudima commented on #10252
This appears to be fixed in the meantime.

[2017-12-15 16:09] #10252 closed

[2017-12-15 16:09] Tyriar commented on #38672
Duplicate https://github.com/Microsoft/vscode/issues/38592

[2017-12-15 16:09] #38672 closed

[2017-12-15 16:09] dbaeumer commented on #38806
@Tyriar yes, this should be addressed.

@pr-yemibedu can you provide a GitHub project I can clone that demos the behavior with steps to reproduce. This got fixed and verified: https://github.com/Microsoft/vscode/issues/32042

[2017-12-15 16:10] jrieken opened #40307 "Api commands returning URI/regexes broken"
Some carnage form #40169. When executing commands, either from the main to the ext host or the other way around, we don't marshal the result... But we should

[2017-12-15 16:11] alexandrudima commented on #19525
This has been fixed in the meantime.

[2017-12-15 16:11] #19525 closed

[2017-12-15 16:11] #40307 closed

[2017-12-15 16:11] Aex commented on #40226
[main 8:07:22 AM] Sending env to running instance...
[main 8:07:22 AM] Sending some foreground love to the running instance: 4876

This is the point at which I close the editor tab, but leave the VS Code window open (due to other tabs). When I close VS Code completely down, I receive

[main 8:09:04 AM] Sent env to running instance. Terminating...

***Settings***
[code]

[2017-12-15 16:12] Tyriar commented on #38587
FYI @joaomoreno

[2017-12-15 16:18] Tyriar commented on #38566
Request in an extension here: https://github.com/Tyriar/vscode-terminal-here/issues/9

[2017-12-15 16:18] #38566 closed

[2017-12-15 16:19] pr-yemibedu commented on #38806
Hello,
 @dbaeumer I will try to get one done this afternoon (EST) with a minimal project. Thank you. Good day.

[2017-12-15 16:19] Tyriar commented on #37780
Can anyone confirm whether this still occurs in v1.19?

[2017-12-15 16:20] #38559 closed

[2017-12-15 16:20] Tyriar commented on #38559
https://github.com/PowerShell/vscode-powershell

[2017-12-15 16:21] mieszczans opened #40308 "Content is invisible on getting start VS Code"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
vscode-svgviewer|css|1.4.3
tslint|eg2|1.0.24
vscode-npm-script|eg2|0.3.3
prettier-vscode|esb|1.0.0
mithril-emmet|Fal|0

[2017-12-15 16:21] Tyriar commented on #13910
Closing in favor of https://github.com/Microsoft/vscode/issues/10546

[2017-12-15 16:21] #13910 closed

[2017-12-15 16:22] #38476 closed

[2017-12-15 16:22] #37976 closed

[2017-12-15 16:23] Tyriar commented on #38246
Duplicate https://github.com/Microsoft/vscode/issues/37780

[2017-12-15 16:23] #38246 closed

[2017-12-15 16:24] weinand commented on #38578
@DonJayamanne if you run VS Code from source and want to use the node debugger, just copy the 2 extensions

![2017-12-15_17-20-57](https://user-images.githubusercontent.com/1898161/34050780-68c4657c-e1bc-11e7-83fa-3b17fe6390ca.png)

from your Insiders release into the extension folder `~/.vscode-oss-dev/extensions`

[2017-12-15 16:25] Tyriar commented on #38496
@sandy081 assigning to you for config, may be debug-specific though.

[2017-12-15 16:26] Tyriar commented on #38468
Please provide a screenshot of the issue.

[2017-12-15 16:26] Tyriar commented on #38448
Duplicate https://github.com/Microsoft/vscode/issues/35681

[2017-12-15 16:26] #38448 closed

[2017-12-15 16:27] Tyriar commented on #38410
Fixed in 1.18.1

[2017-12-15 16:27] #38410 closed

[2017-12-15 16:31] Tyriar commented on #37858
@jtanx I originally thought that it wasn't intuitive but after trying to use the old way (open in "active" workspace) for a while I found that it was hard to keep track of where the terminal was being opened.

[2017-12-15 16:32] Tyriar commented on #38042
Do you have unsaved files in your window? It will always be restored in that case due to hot exit.

[2017-12-15 16:33] brandonb927 commented on #20652
@halukkaramete Add this to your settings
[code]

[2017-12-15 16:34] rkeithhill commented on #40228
Big +1 on adding `-NoProfile`.  However, the whole command has to be quoted.  From `PowerShell /?` usage:
[code]
We want the `string` format so I would tweak this line:
[code]
to
[code]
FWIW I have a machine at home where I use 64-bit VSCode and the command works fine.  Of course, I have another where I use 32-bit VSCode and it chokes here:
[code]
So this fix you correct the 32-bit VSCode case.  I

[2017-12-15 16:35] isidorn commented on #38592
This is fixed in latest vscode. Please get the latest vscode where this is fixed. THanks

[2017-12-15 16:35] #38592 closed

[2017-12-15 16:35] stnguyen90 opened #40309 "Workbench Panel Location Preferences Gone"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.2.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
xml|Dot|1.9.2
beautify|Hoo|1.1.1
vscode-docker|Pet|0.0.22
vagrant|bbe|0.5.0
Gradle|caz|1.1.2
python|ms-|0.9.0
java|red|0.15.0
vscode-java-debug|vsc|0.4.0
vscode-java-pack|vsc|0.2.0
vscode-java-test|vsc|0.1

[2017-12-15 16:39] cretz commented on #31682
For others seeing this issue from Google, I believe this is a duplicate of #27837. Unsure why it was marked as a duplicate without saying what it was a duplicate of.

[2017-12-15 16:49] alejandrodbm opened #40310 "Move Selected Lines indentation is buggy..."
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
goto-documentation|cxf|0.0.1
Go|luk|0.6.69

---

Steps to Reproduce:

1. Create several nested loops and put a simple "if statement..."
2. Select the "if statement" and move it up and down, you will see a

[2017-12-15 16:51] usernamehw commented on #40309
https://code.visualstudio.com/updates/v1_19#_workbenchpanellocation-is-deprecated

[2017-12-15 16:56] usernamehw commented on #40299
Arrow right <kbd>→</kbd> ?

[2017-12-15 16:57] roblourens commented on #40272
Which results are you missing? There are lots in that list, are you sure they aren't just sorted somewhere else?

Does text search work to find results in those files?

[2017-12-15 16:58] CharlesWinter commented on #869
@csholmq That will most likely be because that regex is looking for files starting with the character h due to the ^. Remove that should give you some more success.

[2017-12-15 17:00] roblourens commented on #39371
I guess I mean restart. I'll try with Isidor's fix.

[2017-12-15 17:06] rkeithhill commented on #40228
Yup, that is what it was e.g.:
[code]
I have a registered a PowerShell engine exit event handler and in that I write out the message `Saving command history...`.  So the fix for me (and I suspect others) is to use `-NoProfile`.

[2017-12-15 17:07] cvgaviao commented on #13267
Hi, I'm facing a situation where I 'll need to create one terminal for every root folder (selected project) because the commands I'm registering need to run in its own root folder terminal. But I would like to create the terminal only once, but don't know how to retrieve an already created one.
any tip?

[2017-12-15 17:07] problem233 commented on #9502
+1

[2017-12-15 17:23] #37945 closed

[2017-12-15 17:27] cleidigh commented on #17466
@kieferrm
Working on a related SS each issue, saw this.  Assuming it is unlikely to include a separate client, and the above suggestion works, would this be a good candidate for a recipe?

[2017-12-15 17:27] ramya-rao-a commented on #40302
Are you referring to the integrated terminal or external terminal or it doesn't matter which?

Can you elaborate on what the errors are and how you fix them?
Screenshots help a lot

[2017-12-15 17:29] ramya-rao-a commented on #40306
Your repro steps has only code and the error message.
It doesn't contain actual steps as to what we are to do with the given code to get the given error.

Please provide as much details as possible
Hint: Assume that we know nothing of Powershell

[2017-12-15 17:31] Tyriar commented on #38262
How did you get into this state? Did you run something in particular?

If you resize the terminal does the text show up?

[2017-12-15 17:32] Tyriar commented on #38264
Currently `terminal.integrated.shell.*` are workspace-level settings and cannot be set at the folder level.

[2017-12-15 17:33] #38258 closed

[2017-12-15 17:33] ramya-rao-a commented on #40308
- In the menu, go to Help -> Toggle Developer Tools -> Console. Can you share any errors/callstacks from there if any?
- Do you see the same when running `code --disable-gpu --disable-extensions`?
- Any errors when running `code --verbose`?

[2017-12-15 17:34] Tyriar commented on #38238
Are you on Windows? I think this is actually the terminal being slow due to an issue in https://github.com/rprichard/winpty

[2017-12-15 17:34] #38238 closed

[2017-12-15 17:35] Tyriar commented on #38231
Try https://marketplace.visualstudio.com/items?itemName=Tyriar.shell-launcher

You can also enter a different shell from within another shell (launch powershell.exe and type bash.exe).

[2017-12-15 17:35] #38231 closed

[2017-12-15 17:36] ramya-rao-a commented on #40309
Thanks for the link @usernamehw :)

[2017-12-15 17:36] #40309 closed

[2017-12-15 17:36] Tyriar commented on #38222
@Kizmar can you try do a performance profile in devtools so we can see what's taking all the time?

How to do the profile:

1. Help > Toggle Developer Tools
2. Performance tab
3. Press record button
4. Do the issue repro
5. Press record button to stop

[2017-12-15 17:38] Tyriar commented on #38178
I think this is probably a support problem with tsc not working with git bash

[2017-12-15 17:39] Tyriar commented on #33897
1.19.0 has been pushed to the repo, let me know if it didn't work and I'll reach out to the repo team.

[2017-12-15 17:39] #33897 closed

[2017-12-15 17:41] benmatwil commented on #38987
No the issue still remains? Could it be related to the laggy scrolling until vscode’s window is resized in windows?

From: Daniel Imms<mailto:notifications@github.com>
Sent: 15 December 2017 15:08
To: Microsoft/vscode<mailto:vscode@noreply.github.com>
Cc: Benjamin Williams<mailto:bmw@st-andrews.ac.uk>; Mention<mailto:mention@noreply.github.com>
Subject: {Disarmed} Re: [Microsoft/vscode] Text dissa

[2017-12-15 17:41] radu-matei commented on #38231
@Tyriar - yes, you can enter PowerShell from Bash, but formatting stops working, you cannot view command history... unusable.
Will check out the extension, thanks!

[2017-12-15 17:42] Tyriar commented on #38570
Any reason we don't support `-a dir1 dir2 ...`?

[2017-12-15 17:44] mieszczans commented on #40308
The point is I cant. If I will click on Toggle Developer Tools it seems to open but I can't see it - there was visible for 1 sec white window but disappeared(so it works). No matter what I will click on menu. It seems like working but it is not visible. I tried with cmd but it is the same - no visible changes. When I hover on that black area, mouse pointer is changing so elements exist there.

[2017-12-15 17:44] danvk opened #40311 "TypeScript auto-import takes precedence over local var in autocomplete"
It's quite surprising that `cameraAlt`, which is an import from an unrelated package, gets higher precedence than `cameraAngle`, which is a local variable in this function:

![image](https://user-images.githubusercontent.com/98301/34053594-62ff72e8-e195-11e7-9d87-6112218fdc4f.png)

- VSCode Version: Version 1.20.0-insider (1.20.0-insider) 08ec16001adaab8a86183431f6aec09209caa4ab 2017-12-15T06:03:5

[2017-12-15 17:45] sghung commented on #1440
Hello, we just released an extension to integrate VS Code with a XML language server: https://marketplace.visualstudio.com/items?itemName=IBM.XMLLanguageSupport

**Features**
- Structural
- XML validation
- XML Schema Definition (XSD) validation
- OASIS XML Catalog support
- File name based schema association

Here is an example screenshot of the validation
![validation example](https://raw.github

[2017-12-15 17:47] Tyriar commented on #38068
@bitcrazed possible problem with FCU?

[2017-12-15 17:49] #38023 closed

[2017-12-15 17:50] Tyriar commented on #37832
I think you want to use `"files.hotExit": "onExitAndWindowClose"`, you can read more about it in the setting's description.

[2017-12-15 17:50] #37832 closed

[2017-12-15 17:54] laoshaw commented on #35480
for git I set up .gitignore and the U (untracked) sign in vscode disappears.

[2017-12-15 17:55] Tyriar commented on #40308
@mieszczans did you see this previously? I don't think we changed anything to do with Electron which would almost certainly be the cause for something like this (that affects devtools).

[2017-12-15 17:59] klirium commented on #37780
@Tyriar I have 1.18.1 and everything is ok

[2017-12-15 18:00] gregvanl opened #40313 "Nit: --status OS Version number has mismatched parentheses"
- VSCode Version: 1.19.0
- OS Version: Windows, macOS

Displayed as:
OS Version:       Windows_NT x64 10.0.16299)

Should be:
OS Version:       Windows_NT x64 (10.0.16299)

[2017-12-15 18:07] mieszczans commented on #40308
No I didn't. I've never had any problems with VSC. I uninstalled some programs, I did clearup disc C: and update Windows/packages with npm - now I don't even now what affect. I worked with electron very long time ago, so it can't be the cause. Electron is not even installed.

[2017-12-15 18:13] laoshaw opened #40314 "Feature request: adding auto-pairs by clicking a button or using a keymap"
In some editor, such as bueditor, or the editor at github where I am writing this request, I can select a code section(see  below two lines), then click on a customized button(the <> at this editor window, or hit some keymap), it will add tag pairs automatically:

[code]

after selecting both lines and I can either right-click-mouse or click-on-some-button(e.g. the <> in this very github editor wi

[2017-12-15 18:15] fabiospampinato commented on #38570
@Tyriar I think it's already supported, but as mentioned [here](https://github.com/Microsoft/vscode/issues/38570#issuecomment-347101413) I couldn't use it because of [this](https://github.com/Microsoft/vscode/issues/38137).

[2017-12-15 18:15] gregvanl opened #40315 "--status hangs on Windows 7"
- VSCode Version: 1.19.0
- OS Version: Windows 7

'code --status' never returns with output

[2017-12-15 18:17] gregvanl opened #40316 "--status fails for default Windows 32 bit installation location"
- VSCode Version: 1.19
- OS Version: Windows 10

'code --status' returns:
[main 10:12:35 AM] Startup error: x86 : The term 'x86' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:21
+ c:\Program` Files` (x86)\Microsoft` VS` Code\resources\app

[2017-12-15 18:20] seanmcbreen commented on #40247
Yes I see no issue.

That said it fells like it could get complicated if I generalize the desire e.g. I have chosen to use X extension for Y and you keep recommending me another extension.  I'm happy with what I have - so stop bugging me.

I wonder if we should (when we make a recommendation/in the list of recommendations) have a gesture to say - stop recommending this thing.  A user would take th

[2017-12-15 18:24] mieszczans commented on #40308
@Tyriar I had Atom and it is built with Electron. So what should I do? I uninstalled it before issue appeared.

[2017-12-15 18:28] jacquelinclem opened #40317 "[css] warn when using whitespace characters in identifiers"
Hi,

I work with visual studio code for my .scss file.
Sometime, when I write a class like : `.class {}`, I got an unwanted char (No break space[NBSP]) between the name of my class and the bracket. Which break all my style.css.

The result I was waiting for is to get a space, not a no-break-space.

I don't know how to reproduce the bug with precision, there is no "pattern".

Hope you can help me .

[2017-12-15 18:31] JohnstonCodyMTO commented on #40302
It's happening in both integrated and external terminal.
Here's a screenshot of what happens:
![problem on module](https://user-images.githubusercontent.com/33288271/34055072-b363e542-e19b-11e7-991a-5097bfbfee0c.jpg)

So the errors are generated when it creates the component and tries to add the new components reference to the related module.
I fix it just by going in and fixing the values that br

[2017-12-15 18:33] ComradeCow commented on #38178
I'm affected by this bug as well. We use the `tsc: watch` task to monitor TypeScript changes.  My current work around is to open git bash and run `tsc -w` to start my watcher.  That works regardless of what version of the TypeScript compiler and Git for Windows I have installed.

We recently updated our `tasks.json` file to version: 2.0 schema using the default options for `tsc: watch`, which gene

[2017-12-15 18:41] ramya-rao-a commented on #40313
This is fixed in Insiders

[2017-12-15 18:41] #40313 closed

[2017-12-15 18:44] todddeweerd opened #40318 "High CPU usage when disconnected from the internet, very unresponsive"
The VS Code processes will consume as much CPU as possible. The attached screen shot and memory dumps were captured when the issued happened.
![vscode-high cpu](https://user-images.githubusercontent.com/7583934/34055505-084a2a5a-e195-11e7-97c9-3c7ea3e69267.png)

- VSCode Version: 1.19
- OS Version:

Steps to Reproduce:

1. Disconnect internet
2. Install VS Code
3. Launch VS Code

Reproduces withou

[2017-12-15 18:44] ramya-rao-a commented on #40314
You can also just select some text and type `(` or `{` and the editor will add the right pair around the text based on the language

[2017-12-15 18:54] ramya-rao-a commented on #40318
- Run `code --status` when this happens and share the results. It gives a more clear picture on which process is causing the trouble
- When Internet is connected you don't see any issues at all?
- Read [Perf Issues](https://github.com/Microsoft/vscode/wiki/Performance-Issues) for instructions on what you can share so that we can better help you.

[2017-12-15 19:01] #40275 closed

[2017-12-15 19:04] Tyriar commented on #40308
@mieszczans VS Code is bundled with Electron. The thing is we didn't change the version of Electron in 1.19.

[2017-12-15 19:04] #38268 closed

[2017-12-15 19:05] #39428 closed

[2017-12-15 19:06] Tyriar commented on #38137
How long does the path get before it starts to truncate? Is there a pattern to it?

[2017-12-15 19:06] bitcrazed commented on #38068
Thanks for the ping. @zadjii_msft is giving it a quick look.

[2017-12-15 19:07] Tyriar commented on #37780
👍

[2017-12-15 19:07] #37780 closed

[2017-12-15 19:09] Tyriar commented on #38987
@benmatwil I doubt it, also that mouse scrolling issue actually just got fixed in the latest Insider's build 🎉

Not sure where to go with the investigation here, resizing not changing anything says to me that it's not a problem with the terminal renderer but the backend which is much harder to investigate issues in.

[2017-12-15 19:11] Tyriar commented on #40241
No worries 😄

[2017-12-15 19:11] ramya-rao-a commented on #40247
Yes, it would be nice to have a way to remove a recommendation

[2017-12-15 19:12] #40304 closed

[2017-12-15 19:12] Tyriar commented on #40304
https://github.com/PowerShell/vscode-powershell

[2017-12-15 19:13] Tyriar commented on #39442
Duplicate https://github.com/Microsoft/vscode/issues/11314

[2017-12-15 19:13] #39442 closed

[2017-12-15 19:14] Tyriar commented on #38810
You probably had another VS Code window open as when first launched VS Code will inherit the system's environment. Restarting and reopening should fix the issue on Windows.

[2017-12-15 19:15] ramya-rao-a commented on #40308
I am assuming you tried `code --disable-gpu --disable-extensions`.

Can you share the output in the terminal when running `code --verbose`?

Can you try our [Insiders](https://code.visualstudio.com/insiders) and see if you have the same issue?

[2017-12-15 19:17] rictic commented on #39890
As of vscode v1.19.0 it looks like the css language server's results have improved. I tweaked the ranges we produce [here](https://github.com/Polymer/polymer-analyzer/pull/802) so that we give ranges just for the name in the declaration, and VSCode is able to deduplicate the definitions itself.

Since our language server understands HTML Imports I think our users are still served by us augmenting

[2017-12-15 19:18] Tyriar commented on #38043
Duplicate https://github.com/Microsoft/vscode/issues/34320

[2017-12-15 19:18] #38043 closed

[2017-12-15 19:19] RoarkeRandall commented on #27305
Any luck with this? It's kinda odd. I had it working for awhile, but after the upgrade to 1.19.0 and messing with my settings a little (un-related to native tabs though) this behavior started up again.

[2017-12-15 19:20] uditrana opened #40319 "Scrolling on Surface Trackpads is stuttery/laggy"
- VSCode Version: <code>Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)</code>
- OS Version: <code>Windows_NT x64 10.0.16299</code>
- CPUs: <code>Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (8 x 2112)</code>
- Memory (System): <code>15.93GB (8.51GB free)</code>
- Memory (Process): <code>219.50MB working set (310.93MB peak, 198.38MB private, 53.46MB shared)</code>
- Lo

[2017-12-15 19:21] Tyriar commented on #37861
I can't seem to reproduce, this might be fixed already?

[2017-12-15 19:30] #39841 closed

[2017-12-15 19:30] roblourens commented on #39841
Verification

- Open settings editor, close vscode
- Open vscode (must start with settings editor persisted as open)
- Search 'typescript'
- Verify that you see settings from the typescript extension

[2017-12-15 19:31] ramya-rao-a commented on #40308
Also try `code --extensions-dir <some-folder> --user-data-dir <some-other-folder>` to ensure none of the cached user data is causing this problem

[2017-12-15 19:39] firelizzard18 commented on #40233
Using a multi-root workspace, even with only one open root/folder, adds a layer of unnecessary complexity. I'm looking for an additional config file that works with a single-root workspace, so I can have the main workspace config file checked in to source control and the additional workspace config file ignored.

[2017-12-15 19:43] KingDGrizzle opened #40320 "[Git] Add better support for rebasing"
- VSCode Version: Code - Insiders 1.20.0-insider (08ec16001adaab8a86183431f6aec09209caa4ab, 2017-12-15T05:15:38.886Z)
- OS Version: Windows 10 FCU x64

Currently, it seems like VSCode really dislikes rebase pulls. While it does support it (to some extent), you need to manually type `git rebase --continue` after choosing which file you want. Is there any way to make rebases easier?

Steps to Reprod

[2017-12-15 20:17] errorx666 commented on #1440
@sghung
It requires Java?  I'm hoping for something that runs as native JS.

[2017-12-15 20:18] jucrouzet commented on #9388
Same here, pretty annoying lack of feature ...

[2017-12-15 20:34] will-l-h commented on #32681
@joaomoreno

Should the fix be available now? If so, I'm still getting the error anyhow.

Version 1.20.0-insider
Commit 08ec16001adaab8a86183431f6aec09209caa4ab
Date 2017-12-15T05:15:38.886Z

[2017-12-15 20:38] Tyriar commented on #37762
@LaurentBonnaud what's meant to happen when you do `debsums -s code`?

[2017-12-15 20:39] Tyriar commented on #37884
What happens when you run the same thing in a powershell.exe window?

[2017-12-15 20:41] Tyriar commented on #37864
Duplicate https://github.com/Microsoft/vscode/issues/30429

[2017-12-15 20:41] #37864 closed

[2017-12-15 20:42] Tyriar commented on #34280
Linux issue is minor and out of scope, for the Windows problem see https://github.com/Microsoft/vscode/issues/30429

[2017-12-15 20:42] #34280 closed

[2017-12-15 20:42] Tyriar commented on #37855
Duplicate https://github.com/Microsoft/vscode/issues/35681

[2017-12-15 20:42] #37855 closed

[2017-12-15 20:43] Tyriar commented on #37854
This means that your `$SHELL` environment variable is set to `/usr/local/bin/my_shell` which doesn't exist. You can either set `$SHELL` to the correct value or set the `terminal.integrated.shell.osx` setting.

[2017-12-15 20:43] #37854 closed

[2017-12-15 20:44] Tyriar commented on #37848
Duplicate https://github.com/Microsoft/vscode/issues/30638

[2017-12-15 20:44] #37848 closed

[2017-12-15 20:45] Tyriar commented on #37579
Please update VS Code and create a new issue if it's still happening.

[2017-12-15 20:45] #37579 closed

[2017-12-15 20:47] zadjii-msft commented on #38068
Hey all,

Took a look at this. I can confirm that it's happening with both VsCode and Hyper on 16299. Fortunately however, there's a change that's already been checked in that has a fix for this. I don't have the link to a particular GH issue that describes the original issue handy, though if I recall correctly it had something to do with WriteConsoleA getting re-written slightly.

It should be go

[2017-12-15 20:49] Divni commented on #28709
I'm experiencing this issue also. Although for me the hang is generally between a few hundred miliseconds and a few seconds. The only thing that appears to fix it for me is launching with `--disable-gpu`. I've ran it through the profiler in the dev tools and it does indeed seem to hang on the GPU.

I don't have any GPU problems anywhere else. Running an Intel based GPU on a System76 Galago Pro lap

[2017-12-15 21:02] mese79 commented on #40308
Seems like i have the same problem after update to 1.19.0 on linux.
here is my console log:
`index.js:5 [uncaught exception]: TypeError: Cannot read property 'comments' of null
onError @ index.js:5
index.js:5 TypeError: Cannot read property 'comments' of null
    at file:///home/me/VSCode/resources/app/out/vs/workbench/workbench.main.js:2920:762
    at Array.forEach (native)
    at e.setCustomToke

[2017-12-15 21:04] rwatts3 commented on #19707
I'm noticing some fallout that may be related to this issue.
I am receiving a popup saying it is not safe to run insiders as an administrator, and it states in the title bar that i'm running as an administrator, even though I didn't choose "Run As Administrator" when I started the program. I can confirm that I have opened insiders normally as I did prior to this release , however I can not find a

[2017-12-15 21:06] bakarydiarra commented on #38810
@Tyriar  No, I had not. I had just restarted my computer.

[2017-12-15 21:21] dbkaplun commented on #21090
Thanks for reporting this! I would like to be able to delete or rename a file via the command palette.

Is there some recommend method or shortcut to renaming/deleting a file via keyboard? Or is this a mouse-only feature?

[2017-12-15 21:29] dbkaplun opened #40321 "Feature request: add "Duplicate" context menu action in Files Explorer"
Hello,

I'd like to be able to Duplicate a file or folder in the Files Explorer. This action would be similar to Copy and Paste in combination. I believe some other text editors support this feature too.

Thanks for considering!

[2017-12-15 21:29] sghung commented on #1440
@errorx666
This extension leverages the Language Server Protocol (https://langserver.org/). The server component was specifically developed in Java in order to provide complete support for the XML Schema specification. All JS based XML tools we evaluated provided only partial support, limiting the type and complexity of XML Schemas that can be used. This extension, on the other hand, can handle an

[2017-12-15 21:29] ramya-rao-a commented on #40308
`setCustomTokenColors` is coming when trying to set the theme. cc @aeschli

@mese79 Are you using any custom themes?

[2017-12-15 21:30] fchevitarese opened #40322 "Extension host crash"
I already tried to remove some extensions, but idk what is happening...
Suddenly... crash :(

- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
xml|Dot|1.9.2
EditorConfig|Edi|0.11.1
beautify|Hoo|1.1.1
vscode-simple-icons|Lau|1.7.1
vscode-docker|Pet|0.0.22

[2017-12-15 21:39] Colizobble commented on #1440
This looks really interesting although I'm also loathe to install Java just for this.
Do you to support direct selection of a XSD file to use to validate the current XML document?

[2017-12-15 21:42] mieszczans commented on #40308
I reset windows to default options and it is working now.

[2017-12-15 21:47] #40321 closed

[2017-12-15 21:49] ramya-rao-a commented on #40322
Please share more details as instructed in our wiki on [Performance Issues](https://github.com/Microsoft/vscode/wiki/Performance-Issues)

[2017-12-15 21:51] ramya-rao-a commented on #40322
- Can you repro this when running `code --disable-extensions`
- If not, then one of the extensions you have installed is the root cause, please log an issue against the repo of such extension.
- Do you see any perf issues just before crashing? If so, then follow the wiki linked above and share more details

[2017-12-15 21:56] pfongkye commented on #40149
@aeschli
Can you tell me if I'm on the right track? https://github.com/pfongkye/vscode-html-languageservice/blob/df0c3b3fba06bb9baa51c999ac83daa86920b155/src/services/htmlCompletion.ts#L179
The code works for root nodes only atm. I still need to figure out how to add the data- attributes from children.
I've added two test cases:
https://github.com/pfongkye/vscode-html-languageservice/blob/df0c3b3f

[2017-12-15 21:59] ramya-rao-a commented on #40308
@mieszczans What non default options was it set to?

[2017-12-15 22:04] BobbyMcWho commented on #4490
I'm not 100% sure if anyone has mentioned it, but the VSCode Vim plugin has macros built in
https://github.com/VSCodeVim/Vim

[2017-12-15 22:13] taivu commented on #40282
how would i disable/enable this in after making a selection?

[2017-12-15 22:13] sghung commented on #1440
@Colizobble Java version 8 actually installs fairly quickly. We think that supporting the complete XML schema specification outweighs the Java installation inconvenience. With regards of your question, we do support direct selection of an XSD file to validate against an XML document through a feature called “File association”. You simply have to add an entry in .vscode/settings.json with the file

[2017-12-15 22:22] feoh commented on #4490
Yup. It's been mentioned. I've tried to use that plugin but it interacts badly with other extensions like the Python one.

[2017-12-15 22:40] misfo commented on #38639
Oh, whoops. I forgot that I had done this, but in both apps I must have set `option` as my meta key ([instuctions on MacOS](http://osxdaily.com/2013/02/01/use-option-as-meta-key-in-mac-os-x-terminal/)). So maybe this should be a configuration in vs code instead of the default.

It looks like setting this preference in Terminal.app it makes `option`-`delete` equivalent to `esc`, `delete` (i.e. pres

[2017-12-15 22:44] mieszczans commented on #40308
Sorry not default,  just restoring system to starting options (format).  :D

[2017-12-15 22:54] Colizobble commented on #1440
Thank you. Having played around with this, I'm sure I will find it very helpful. I still think the ad-hoc association of the open file with a schema would be useful, even if it is just a front-end to your xmlAssociations settings (e.g. select file and optionally save setting for future use).

[2017-12-15 23:07] Tyriar commented on #38639
Ah, closing this as duplicate of https://github.com/Microsoft/vscode/issues/11314 then

[2017-12-15 23:07] #38639 closed

[2017-12-15 23:30] mjbvz commented on #40302
This seems like an issue with the `ng` command, right?

[2017-12-15 23:31] #40266 closed

[2017-12-15 23:31] mjbvz commented on #40266
Please try disabling the document this extension and restarting VS Code. It seems to be causing this issue

[2017-12-15 23:33] mjbvz commented on #40216
We don't expose the TS server. Try using the `vscode.executeDocumentSymbolProvider` command: https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands This should return symbol that you can then process to extract static properties

[2017-12-15 23:33] #40216 closed

[2017-12-15 23:35] luisherdethh opened #40323 "update, I close the program, I open again and returns the previous version. (bucle)"
- VSCode Version: Code 1.18.1 (929bacba01ef658b873545e26034d1a8067445e9, 2017-11-16T18:32:36.023Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-caniuse|aka|0.5.3
numbered-bookmarks|ale|0.11.0
githistory|don|0.2.3
vscode-html-css|ecm|0.1.8
beautify|Hoo|1.1.1
vscode-power-mode|hoo|2.0.0
html-tag-wrapper|hwe|0.2.3
path-autocomplete|ion

[2017-12-15 23:37] mattdsteele opened #40324 "Can VSCode be built from source with Node 6?"
According to the Build From Source instructions [here](https://github.com/Microsoft/vscode/wiki/How-to-Contribute), Node 8 is now required. There's also a preinstall check under `build/npm/preinstall.js`.

Is this a hard requirement? My company does not have access to Node 8 (we're planning on staying with 6.12 and jump to 10 when it hits LTS), so this check is precluding me from creating a build.

[2017-12-15 23:53] jtanx commented on #37858
@Tyriar In terms of intuitiveness, I was referring to the selector itself. Having just started to use multi-root workspaces, it wasn't immediately clear what the "Select workspace folder" was trying to do; if it had said something like "Select workspace to associate terminal with" (or some better context), it would have been clearer.

But having mentioned it, in terms of opening in the active work

[2017-12-16 00:11] mjbvz opened #40325 "Support `CompletionEntry.isRecommended` from TypeScript"
**Feature request**
TS 2.7 adds a new `isRecommended` property on `CompletionEntry` (https://github.com/Microsoft/TypeScript/pull/20020) This is marked so we can figure out that a type makes sense in a given location. We should observe this property in VS Code to order our completions

[2017-12-16 00:13] Colizobble commented on #1440
I've noticed that your extension doesn't validate or provide intellisense for XSLT/XSL or XSD files automatically. I've therefore used the file association facility with the following settings, using the schemas supplied with Visual Studio Mac. However, I noticed a few issues. Firstly .XSL and .XSD files aren't treated as XML by your extension, unless the language is set manually. Second, although

[2017-12-16 00:24] dlebu opened #40326 "Installing new VSIX should be blocked while waiting for another VSIX install."
VSCode Version: Insiders 1.19.0
OS Version: MacOS

Steps to Reproduce:

Install a large extension from vsix (> 100mb such that it takes a long time).
Before the confirmation message, try to install it again.

Expected: User should be blocked on waiting, before he is able to install the second time.
Actual: Same VSIX can be installed again, corrupting the installation.

@ramya-rao-a

[2017-12-16 00:25] dlebu commented on #40326
FYI @k7shanmugam

[2017-12-16 00:26] dlebu commented on #40326
Related #40257

[2017-12-16 00:58] shaipetel opened #40327 "VSCode Integrated terminal text color goes crazy after npm or gulp commands"
- VSCode Version: 1.19.0
- OS Version: Windows 10, latest updates

Steps to Reproduce:

1. Open integrated terminal
2. Type in "npm outdated" for example, or "gulp" in an SPFx project

Reproduces without extensions: Yes

Running gulp on SPFx project changes the text to be black on black
Running npm outdated highlights the text like it is selected
There is no way to fix it after this happens except

[2017-12-16 01:09] #40325 closed

[2017-12-16 01:18] #40102 closed

[2017-12-16 01:18] #40106 closed

[2017-12-16 01:27] gindik commented on #1440
@Colizobble
Thank you for the feedback. I agree that being able to run validation against a schema from within the document being edited is convenient, especially if the option to establish the association at that time is provided. We can definitely explore into adding this feature. The scope for this first version of the language server was set to XML. Adding support for XSL and XSD is something

[2017-12-16 01:28] khimaros commented on #13643
Interestingly, if Live Share could be run headless, it could be used to power some of the same use cases as SFTP.

[2017-12-16 02:10] sy-suyin opened #40328 "vscode 安装后重复提示需要安装的问题"
当 vscode 没有安装在C盘,安装在其他盘时,更新后,vscode 更新文件会更新到C盘,而不是安装的位置,更新完成后,关闭vscode再打开又会再提示需要更新

[2017-12-16 02:19] g-plane commented on #37884
Also not worked.
![image](https://user-images.githubusercontent.com/17216317/34066473-18ce93ce-e24a-11e7-92b1-feaa3eac2595.png)

It works on Cmder.
![image](https://user-images.githubusercontent.com/17216317/34066497-7fbd37e8-e24a-11e7-9901-ece4e810dd2c.png)

[2017-12-16 02:29] roblourens commented on #1746
I changed the "uncaught exceptions" default to `false` for now at least.

[2017-12-16 03:32] pennwang23 opened #40329 "main window is blank and no further responses after 1.19"
I think my problem is just as the 'main blank is blank' problem listed on FAQ page of official website.
I tried `code --disable-gpu` `code --disable-extensions`, but doesn't work.
And I tried vscode insider, well it works fine before I sync the settings using 'sync settings' extension, then the same issue happend. Even if I deteled .vscode-insiders located in C:\Users\username.

- Computer: HP 340

[2017-12-16 03:49] kenijo commented on #31168
A question on the cacheURL: https://vscode.blob.core.windows.net/gallery/index

It looks like it hasn't been updated since March 2017. The most recent "lastUpdated" date is 2017-03.
It there anyway to get this fixed or to get working URL?

[2017-12-16 04:12] douglarek commented on #40263
thx

[2017-12-16 05:28] chrisdias opened #40330 "Stable using alot of energy, cannot kill a process"
Stable, Mac, 1.19

Mac power icon was showing that Code (stable) was using a lot of energy. It wasn't running (per the Dock) but there were multiple `code` processes running. i've been trying to kill them, but i can't kill this one:

[code]

So i'm not sure what is going on and I don't have a repro scenario.

[2017-12-16 06:04] Vixb1122 commented on #40229
The problem is very serious. Please fix it as soon as possible.

[2017-12-16 06:11] rawbin- opened #40331 "auto save unsaved file not work"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
mssql|ms-|1.3.0
vscode-hexdump|sle|1.6.0

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-12-16 06:29] kbaird5 commented on #38241
'"search.useIgnoreFiles": false' is not a great solution. Previous versions you could easily toggle on/off .gitignore and .exclude files from the extended search options. Now they are tied together to a single toggle. It was great to be able to "exclude: 'node-modules'", but quickly toggle to use .gitignore or not (for other uncommon files). Please restore the dual toggle?

[2017-12-16 06:39] hua03 opened #40332 "go to declaration does not work"
- VSCode Version:  1.19.0
- OS Version: window10

If there is a node_modules folder in the root directory, go to declaration does not work. Like this:
![image](https://user-images.githubusercontent.com/19561959/34067982-8949553e-e26e-11e7-9e2a-016b97c470f7.png)

Steps to Reproduce:

1. Create a folder and then create a JavaScript file
![image](https://user-images.githubusercontent.com/19561959/340

[2017-12-16 06:43] SandyGlantz commented on #40282
Same question as @taivu. Plus, will anything on the current VSC set-up change if I select "no" to the prompt?

[2017-12-16 07:10] innerlee commented on #34280
![bug vscode](https://user-images.githubusercontent.com/9464825/34068287-31e1b1f6-e273-11e7-8e5e-17d57ae1acf4.gif)

[2017-12-16 07:24] ayyash opened #40333 "Insiders: Ctrl+Tab to switch editors of single group brings editor into focus before releasing Ctrl key"
- VSCode Version:
1.20.0-insider
- OS Version:
Windows 10 x64

Version 1.20.0-insider
Commit 08ec16001adaab8a86183431f6aec09209caa4ab
Date 2017-12-15T05:15:38.886Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

Recently the behavior of Ctrl+Tab between open editor changed, it switches to the file and puts it in focus, in the past it waited for the release of Ctrl key to do that. T

[2017-12-16 07:24] ramya-rao-a commented on #40328
Using Google translations:

[2017-12-16 07:29] ramya-rao-a commented on #40329
Do you still see the issue when running `code --user-data-dir <path to some empty folder>`?
Keeping the blank window open, run `code --status` and share the results with us

[2017-12-16 07:33] RefX32 opened #40334 "Add a shortcut to toggle Show/Hide "Activity Window""
Add a shortcut to toggle Show/Hide "Activity Window". Example, Ctrl + A would hide activity bar. Pressing it again would show activity bar. This is useful for when you want maximum space on your vs code ui.

[2017-12-16 07:34] ramya-rao-a commented on #40331
Please provide more details with reproducible steps.
Also read [Submitting Bugs](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions)

[2017-12-16 07:39] ramya-rao-a commented on #40334
There is a command for this called `View: Toggle Activity Bar Visibility` that you can use from the command pallet.
You can assign any keybinding you want for it.
You can read about how to do so in https://code.visualstudio.com/docs/getstarted/keybindings#_customizing-shortcuts

[2017-12-16 07:39] #40334 closed

[2017-12-16 07:41] ramya-rao-a commented on #40330
Anything from `code --status`?

[2017-12-16 07:53] stvreumi commented on #40329
Hello, I have the same issue here.
After I update my vscode around 15:30, 2017/12/16(GMT+8), my vscode open with blank plane and nothing I can select.
I have tried reinstall and it is still the same.
I also using command `code --disable-gpu` `code --disable-extensions`, and it is also give me blank page.😢
- VSCode version: 1.19
- OS version: macOS High Sierra(10.13.2)

- my vscode looks like:
<img

[2017-12-16 08:01] Aragamiz opened #40335 "how to use github.desktop's git.exe in vscode?"
i found 2 of git.exe in client.and replace seetings git.path,but can't use.
path lisk these
"git.path": "C:\\Users\\colla\\AppData\\Local\\GitHubDesktop\\app-1.0.11\resources\\app\\git\\mingw64\\bin\\git.exe",
and
"git.path": "C:\\Users\\colla\\AppData\\Local\\GitHubDesktop\\app-1.0.11\resources\\app\\git\\cmd\\git.exe",
i'm sure that's no invaild escape in these path.how to solve it?it's feature

[2017-12-16 08:04] ramya-rao-a commented on #40329
Thanks for that call stack @stvreumi
@pennwang23 Can you check if you see the same?

`setCustomTokenColors` is coming when trying to set the theme. cc @aeschli

[2017-12-16 08:05] nikhilwason opened #40336 "Python IntelliSense not working in v1.19"
After the latest update to 1.19.0, Python IntelliSense has stopped working.

- VSCode Version: 1.19.0
- OS Version: mac OS 10.13.2 (17C88)

Steps to Reproduce:

1. Open a Python file, workspace or folder in VS Code
2. Press Ctrl + space - the IntelliSense autocomplete tooltip gets stuck with a loading message.
3. Start typing the name of a variable declared above in the code - no autocomplete tool

[2017-12-16 08:07] ramya-rao-a commented on #40329
@stvreumi Can you answer the questions in https://github.com/Microsoft/vscode/issues/40329#issuecomment-352167047?

[2017-12-16 08:18] AmitJoki opened #40337 "Changing language ID via javascript"
I am trying to develop an extension which requires me to change the language id in javascript. I did:
[code]

But seems like the doc.languageId remains unchanged. I tried searching the documentation but couldn't find a way to change the language id of the file.

How would I go about this?

[2017-12-16 08:22] bpasero commented on #40333
@ayyash that should not happen, can you share which editor is stealing focus? Maybe attach a video too?

[2017-12-16 08:23] bpasero commented on #19707
Yeah maybe it is too aggressive to show this on Windows where it is more likely that you run as admin. I can take it out again.

[2017-12-16 08:24] bpasero commented on #40319
#13612

[2017-12-16 08:24] #40319 closed

[2017-12-16 08:27] bpasero commented on #40316
I suspect this is our powershell execution @dbaeumer

[2017-12-16 08:28] #40299 closed

[2017-12-16 08:29] #40303 closed

[2017-12-16 08:30] Ptiloup opened #40338 "Add defaultstate to regions?"
Maybe I missed something ... I recently migrated my javascript project from netbeans to visual studio code ... in netbeans we use
[code]
for defining regions ... I saw I could modify javascript-language-configuration.json to
[code]
SO my request included 2 questions :
1. Is it possible to add the editor fold tag to the javascript language configuration (as it is for javascript)
2. Could a defaults

[2017-12-16 08:33] bpasero commented on #37827
@William-Python-King ok I think in 1.19 we took the auto detection of Git out but we will add it back it seems.

@joaomoreno moving to you

[2017-12-16 08:34] bpasero commented on #40225
I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line (NOT the integrated terminal in Code), execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2017-12-16 08:36] bpasero commented on #40273
@onlyShadow do you see this with any folder you open?

[2017-12-16 08:36] stvreumi commented on #40329
@ramya-rao-a
Hello, I just reinstall the older version and it's fine for me.
I update to the latest version and the bug still happen.
However, using the command you give ('code --user-data-dir <path to some empty folder>`), I can open vscode with no blank!
But the bug still show up after I quit vscode and restart again.

[2017-12-16 08:37] #40278 closed

[2017-12-16 08:37] bpasero commented on #40271
Moving to @alexandrudima, all I do is restore the view state that I get.

[2017-12-16 08:39] bpasero commented on #40308
I am not sure both issues are related but we have https://github.com/Microsoft/vscode/issues/40329 for the theme issue. Closing since it seems to work for @mieszczans again.

[2017-12-16 08:40] bpasero opened #40339 "Type error: cannot read property comments of null"
Extracted from https://github.com/Microsoft/vscode/issues/40329#issuecomment-352168035

Hello, I have the same issue here.
After I update my vscode around 15:30, 2017/12/16(GMT+8), my vscode open with blank plane and nothing I can select.
I have tried reinstall and it is still the same.
I also using command `code --disable-gpu` `code --disable-extensions`, and it is also give me blank page.😢
- VSC

[2017-12-16 08:40] William-Python-King commented on #37827
nice! I'm glad to see that.

[2017-12-16 08:41] bpasero commented on #40329
@stvreumi I moved your issue to https://github.com/Microsoft/vscode/issues/40339 because I do not think it is the same as @pennwang23

@pennwang23 does it reproduce if you run `code --disable-gpu` ?

[2017-12-16 08:41] Paviluf commented on #40303
Duplicate of which one ?

[2017-12-16 08:41] hirokuma commented on #40327
I have similar program.

* Windows10 Pro
* WSL (Ubuntu) : just installed
* [`"terminal.integrated.shell.windows": "C:\\Windows\\sysnative\\bash.exe"`](https://code.visualstudio.com/docs/editor/integrated-terminal#_windows)

Now, my text background color is red.
Only one out of three PCs will occur.

[2017-12-16 08:45] bpasero commented on #40226
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

Make sure to set `code-insiders` as editor for git.

[2017-12-16 08:45] varxzy commented on #38569
@aeschli You guys are the best!

[2017-12-16 08:45] bpasero commented on #40315
I can reproduce but unfortunately I cannot build on Windows 7 due to node.js process getting out of memory.

@dbaeumer I suspect an issue with executing powershell, maybe you could also have a look.

[2017-12-16 08:50] bpasero commented on #40315
I managed to build and I verified that this fails in this [branch](https://github.com/Microsoft/vscode/blob/ben/elevate/src/vs/base/node/ps.ts#L121).

[2017-12-16 08:51] IcyPoint commented on #40272
"search.useRipgrep": false
in my settings, the quick open seems to work properly....

This works for me either.

[2017-12-16 08:52] apit opened #40340 "node_modules/vscode-ripgrep/bin/rg ENOENT on arm32"
- VSCode Version: master@4c00fcd
- OS Version: ubuntu 16.04 armv7l

Steps to Reproduce:

1. ./scripts/npm.sh install --arch=armhf
2. xiwi ./scripts/code.sh
3. Ctrl + P

Reproduces without extensions: Yes

Snippet from running `./scripts/test.sh`
[code]
[code]

[2017-12-16 08:54] William-Python-King opened #40341 "[feature] Refactor, like find all references and rename them, must be full match"
- Often I want to rename a variable, function, object or class.
- I use F2 but it usually rename an identifier in one file.
- It cannot rename all references and some are missed so I have to search and rename it manually.
- I really need this feature because my project are big and complex.

[2017-12-16 09:12] Adamwu1992 commented on #40277
I use `code --disable-extensions` to fix it and it doesn't appear until now 😂😂😂

But it is not the case.

When i change branch in iTerm and focus on VSC, i can see the branch name in left bottom changed, but the explorer is wrong.

[2017-12-16 09:20] leigang123 opened #40342 "很好用，但有几点问题"
- VSCode Version: Code - Insiders 1.20.0-insider (08ec16001adaab8a86183431f6aec09209caa4ab, 2017-12-15T05:15:38.886Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

1、debug快捷键跟一般的差的有点大哎
2、类的方法列表每次需要输入@ 好麻烦
3、html跟sublime的不太一样

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
html-class-suggestions|And|1.0.7
vscode-html-css|ecm|0.1.8
php-debug|fel|1.12.1
php-intellisen

[2017-12-16 09:24] kkorus commented on #40278
Thanks @vscodebot!

[2017-12-16 09:48] NathanUr commented on #35642
It is a problem for me to, because I would like to have some command to be executed with a shortcut key, so will busy, just type the key combination and go on. This way I have to close the terminal every time while the purpose was to automate tasks.

[2017-12-16 09:55] kzhui125 commented on #40199
[code]
using python 2.7, integrated terminal is unusable now

[2017-12-16 10:24] pennwang23 commented on #40329
still doesn't work, `code --user-data-dir` works for once, but didn't work after restart. @ramya-rao-a

[2017-12-16 10:26] pennwang23 commented on #40329
yes, it reproduces @bpasero

[2017-12-16 10:50] john-cj opened #40343 "1-character AutoIndent after block comments"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:44.860Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions: none
---

Steps to Reproduce:

1. Crete new js-file with the following contents:

[code]

2. Move caret to the end of comment:

![code1](https://user-images.githubusercontent.com/18004961/34069693-feae5b1a-e266-11e7-80ef-cfa79015cfb3.PNG)

3. Press

[2017-12-16 11:10] eliu opened #40344 "Invisible Characters Remains While Editing in Non-English ( Chinese )"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
xml|Dot|1.9.2
beautify|Hoo|1.1.1
vscode-docker|Pet|0.0.22
GBKtoUTF8|buk|0.0.2
plsql|cas|0.0.3
vscode-eslint|dba|1.4.3
githistory|don|0.2.3
tslint|eg2|1.0.24
code-runner|for|0.8.5
ansible|haa|0.2.5
restruct

[2017-12-16 11:21] wux5 opened #40345 "Regression issue with debug in WSL"
Debug in WSL is broken on the latest version 1.19.0, it used to work in v1.18.
- VSCode Version: 1.19.0
- OS Version: Windows 10

Steps to Reproduce:

1. Setup a Typescript project (I guess it has the same issue with any NodeJS project), with a file server.ts
[code]
2. Configure launch.json with:
[code]
3. Open server.ts, press F5 to run
4. Notice the error as attached. Obviously the path of the c

[2017-12-16 11:23] frank-dspeed commented on #13643
@Alex360hd why don't u just use the integrated terminal and create a sync batch that runs your favorit sync to upload your changes to the FTP?

There are tons of clients for that it means round about 1 line of code 1 extra file that also holds deployment information?

is that really blocking?

[2017-12-16 11:49] briancodes commented on #40282
Firstly I don't think this should have been raised as an issue.
See https://github.com/Microsoft/vscode/issues/34684
Think this setting was previously true by default, now it's false. The prompt is just to remind you to enable if you wish.
Configured via ```"git.autofetch": false```, so can be easily undone

[2017-12-16 11:59] dehghani-mehdi opened #40346 "User settings doesn't update after uninstalling theme"
Hello,

- VSCode Version: 1.19.0
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Install any theme (_let's say Atom One Dark_)
2. Set "Atom One Dark" (_using `Ctrl + K + T` or menu_) as main theme
3. VSCode added `"workbench.colorTheme": "Atom One Dark"` to Settings section
4. Without changing theme, uninstall "Atom One Dark"
5. `"workbench.colorTheme": "Atom One Dark"` remains in settings s

[2017-12-16 12:09] kkorus commented on #37366
@bpasero I have created issue for that which  looks like feature request and created stackoverflow question:
https://github.com/Microsoft/vscode/issues/40278
https://stackoverflow.com/questions/47844224/switch-between-tabs-from-different-tab-groups-in-vscode/47844522?noredirect=1#comment82654548_47844522

It would be nice to have option to switch between tabs from different groups.

[2017-12-16 12:32] bpasero commented on #39892
@Tyriar how would that work though? That script seems to leverage `cmd.exe` to set the environment but then we would execute Code through the windows system again and we would basically end up not running Code through the WSL? That can only work if the paths we pass on are actually Windows paths and not Linux paths but since we are in bash, all our paths are Linux paths (`/mnt/c/...`).

[2017-12-16 12:35] xinsnake commented on #40328
Using Human translations:

[2017-12-16 12:42] xinsnake commented on #40342
Hi @leigang123 ,

Regarding to your concerns and feedbacks:

1. If you would like to change the keyboard shortcut please refer to the documentation here: https://code.visualstudio.com/docs/getstarted/keybindings
1. Can you please clarify what do you mean by it's combersome to use @ symbol?
1. Can you please clarify what is different in the "html" you are mentioning?

Thanks!

[2017-12-16 13:00] emkographics commented on #13643
No, @frank-dspeed, no. We want to click on, open, and close things, browse through directories using the UI, and use ctrl+s to save right then and there, on the spot, in real time. Why? We just do. This doesnt have anything to do with making live code changes on prod. Im not sure how you came to this assumption in first place. Other IDEs out there support it. I've used all sorts of sync solutions

[2017-12-16 13:06] abeaczg opened #40347 "snippet"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-12-16 13:10] csholmq commented on #869
@CharlesWinter How do you mean? I am expecting the ^ to negate the literal character *h* and thus match all files except those with the letter h. Am I missing something trivial?

[2017-12-16 13:54] chinaHewei commented on #40062
All right, thank you

[2017-12-16 14:05] ayyash commented on #40333
[https://1drv.ms/v/s!AmCfg5Cb-j0doTUI-_-1YjhSnrp- ](mp4)
This is the behavior, what I expected is that after multiple Ctrl+Tab, the file I am originally on would retain its position, until I release the ctrl, it becomes second. It doesn't, every file jump is treated as a release event

[2017-12-16 14:37] jacquelinclem commented on #40317
Ok my bad, here is what I've found :
The "No break space[NBSP]" is the key `alt + space` on mac.
And when I write class on css I press `alt + space + (` which render ` {`.
By pressing to fast the `alt` key, I create a unwanted "No break space[NBSP]".

It's not a bug, just myself pressing some key "to fast".

[2017-12-16 15:12] Y914602509 opened #40348 "some problem"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
include-autocomplete|ajs|0.0.4
code-runner|for|0.8.5
HdsCppSnippets|hua|0.0.1
vscode-clang|mit|0.2.2
cpptools|ms-|0.14.4

(1 theme extensions excluded)

---

Steps to Reproduce:

1.
2.

Reproduces

[2017-12-16 15:24] shizengzhou opened #40349 "[html/css/scss/less] Textual suggestions missing in 1.19.0"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 6.3.9600
- Extensions:

Extension|Author (truncated)|Version
---|---|---
markdown-preview-github-styles|bie|0.1.0
vscode-eslint|dba|1.4.3
EditorConfig|Edi|0.11.1
vscode-icons|rob|7.19.0

I set
[code]
In 1.18.1, vscode suggests strings, however, it does not work in 1.19.

[2017-12-16 15:25] jens1o commented on #40348
What language do you want to format?

[2017-12-16 15:28] Y914602509 commented on #40348
C++

[2017-12-16 15:32] cfjedimaster opened #40350 "Git Host Key Verification failed/Open Git Log does nothing"
- VSCode Version: Code - Insiders 1.20.0-insider (08ec16001adaab8a86183431f6aec09209caa4ab, 2017-12-15T05:15:38.886Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
vscode-eslint|dba|1.4.3
vscode-npm-script|eg2|0.3.3
coldfusion|ili|0.0.11
search-node-modules|jas|1.2.0
wordcount|ms-|0.1.0

[2017-12-16 15:54] fenying commented on #13612
Hey, I'm using ASUS R500VD laptop, with Windows 8.1 x64 Pro.

When I start VSCode from git-bash using `code .`, I cannot use two-finger-tap or two-finger-scrolling in my touchpad. But it works, if I start VSCode from start-menu directly.

[2017-12-16 16:21] sneekyleshy opened #40351 "Every time i lunch code it starts with code-stdin-randomchars.txt file"
Every time i lunch code it starts with code-stdin-randomchars.txt file and not the welcome screen
the only way i can stop this from happening is by opening code from terminal with the new window flag.
i have no idea, why this started happening.

- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:56:48.842Z)
- OS Version: Linux x64 4.14.5-1-ARCH
- Extensions: non

[2017-12-16 16:47] hamaney opened #40352 "Blank Startup page"
- VSCode Version: 1.19.0 (1.19.0)
- OS Version: 10.12.6 (16G1114)

Steps to Reproduce:

1. Download and install
2. Start the app

Reproduces without extensions: Yes (same as above produce the the same bug)

[2017-12-16 16:56] usernamehw opened #40353 "Barely visible links in extension details webview using light themes"
![webview_low_contrast_link_color](https://user-images.githubusercontent.com/9638156/34072494-6d3e82a8-e299-11e7-9906-f8a5062aeb85.png)

It looks surprisingly good in this screenshot, but in reality it's way worse. Contrast ratio:
# 1.6
background: `#ebebeb`, color: `#a2c1e8`

[2017-12-16 17:06] usernamehw commented on #40353
It doesn't make much sense to me. Background color changes ... color stays the same.

If background is close to blue (`Solarized Dark`) => links low contrast
![solarized_dark](https://user-images.githubusercontent.com/9638156/34072660-7787a6a6-e29c-11e7-9ed5-06d9f7ea1891.png)

If background is close to orange (`Kimbie Dark`) => code samples low contrast
![kimbie_dark](https://user-images.githubuse

[2017-12-16 17:11] motowilliams opened #40354 "Git integration does not correctly support `includeIf` directive"
- VSCode Version: 1.19.0
- OS Version:Windows10 (version 1709) OS Build 16299.125

Steps to Reproduce:

1. Update user git configuration to have a includeIf block

[code]

2. Create a sample git repo in either your person or work directories
3. Make a change to a file in your sample repo
4. Attempt to use VSCode git features to add file to index and commit the file to the local repo.
5. You will g

[2017-12-16 17:24] pfongkye commented on #40149
Using regexp instead to capture the data attributes in document:
https://github.com/pfongkye/vscode-html-languageservice/blob/86854ba509e8505298457e207df5dbe2c7d4b9eb/src/services/htmlCompletion.ts#L179

And added another test:
https://github.com/pfongkye/vscode-html-languageservice/blob/86854ba509e8505298457e207df5dbe2c7d4b9eb/src/test/completion.test.ts#L385

[2017-12-16 17:37] testerez commented on #20802
I wonder if it could be achieved by an extension...

[2017-12-16 17:54] crumblingstatue commented on #40264
Is there any reason `code.sh` could not detect when it's running in a tty, and not try to open stdin when it's not in a tty?

[2017-12-16 17:55] crumblingstatue commented on #40351
Looks like the same issue as #40264.

I think this could be fixed if `code.sh` would just not try to open stdin when it's not run from a tty.

[2017-12-16 18:06] baierpa opened #40355 "Print Code"
A simple request for a print option to print our code. Useful for students. Thanks!

[2017-12-16 18:14] ZanderBrown commented on #36667
#39511 is relevant here

[2017-12-16 18:31] ZanderBrown opened #40356 "Update Information on Fedora"
- VSCode Version: Code 1.18.1 (929bacba01ef658b873545e26034d1a8067445e9, 2017-11-16T18:34:22.110Z)
- OS Version: Linux x64 4.14.3-300.fc27.x86_64

---

Steps to Reproduce:

1. Install code through the official dnf repo
2. Check for updates in GNOME Software

Reproduces without extensions: Yes

VSCode can be successfully updated through `gnome-software` however it is shown under 'OS Updates' along

[2017-12-16 18:44] Jusys commented on #38986
I'm waiting for this for 7 months now :/

![clipboard01](https://user-images.githubusercontent.com/30110941/34073409-f098d150-e2a1-11e7-969e-b34a7d4569f7.jpg)

[2017-12-16 18:44] letmaik opened #40357 "Custom view (TreeDataProvider) broken in 1.19.0"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.16299

I updated to 1.19.0 on several systems (all Windows) and on all of them my extension https://github.com/letmaik/vscode-git-tree-compare suddenly doesn't work anymore and I see a weird error in the console log:
[code]
I couldn't find anything in the changelog w

[2017-12-16 18:47] heaths opened #40358 "Environment variables on Windows should not be case-sensitive"
- Version 1.19.0
- Commit 816be6780ca8bd0ab80314e11478c48c70d09383
- OS Version: Windows 10.0.16299.64

Steps to Reproduce:

1. On a machine where `WINDIR` is actually `windir` (seems to have changed case on Win10 or at some point in the past), use "${env:WINDIR}" in .vscode/launch.json, e.g.: ${env:WINDIR}/System32/WindowsPowerShell/v1.0/powershell.exe
2. Launch the task. Debug output says /Syste

[2017-12-16 18:49] mac-pro opened #40359 "Settings: workbench.startupEditor -> none not working"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:56:48.842Z)
- OS Version: Linux x64 4.14.5-300.fc27.x86_64
- Extensions:

Extension|Author (truncated)|Version
---|---|---
contextualduplicate|laf|0.2.0
MDTools|sea|1.0.1

---

Steps to Reproduce:

1. Open settings, set `workbench.startupEditor` to `none`.
2. Close and open VSCode.
3. It always opens an empty fi

[2017-12-16 18:52] EmilisM commented on #38986
Well thats because more contributors need to specify/show interest in contributing to this issue thats why it doesnt catch attention, there is specified in the guidelines that it needs to catch more attention

[2017-12-16 18:53] mac-pro opened #40360 "Settings: window.closeWhenEmpty -> false not working"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:56:48.842Z)
- OS Version: Linux x64 4.14.5-300.fc27.x86_64
- Extensions:

Extension|Author (truncated)|Version
---|---|---
contextualduplicate|laf|0.2.0
MDTools|sea|1.0.1

---

Steps to Reproduce:

1. Open settings, set `window.closeWhenEmpty` to `false`.
2. Restart VSCode.
3. Close all documents. VSCode will cl

[2017-12-16 18:55] secretgspot commented on #38256
Windows 10+latest, vscode powershell terminal

[2017-12-16 19:02] mac-pro commented on #40359
I'm sorry I messed up the command line, it was my fault.

[2017-12-16 19:02] #40359 closed

[2017-12-16 19:03] mac-pro commented on #40360
I'm sorry I messed up the command line, it was my fault.

[2017-12-16 19:03] #40360 closed

[2017-12-16 19:05] johnpapa opened #40361 "Feature - Most Recently Used npm scripts"
Feature request

When using the command palette to run npm scripts, they are alphabetized. OFten we run the same 1 or 2 repeatedly. It would be nice if the most frequently run script appeared first (once VS Code has seen them a few times). Kind of like how the most recently used files show up

[2017-12-16 19:06] goldenercobra commented on #40336
Can confirm, it's highly annoying.

[2017-12-16 19:31] crumblingstatue commented on #40351
I'll try to summarize this issue the best I can:

# The problem

1. When running the `code` binary from a terminal on Linux, you get a ["cannot set terminal process group (-1): Inappropriate ioctl for device"](https://github.com/Microsoft/vscode/issues/1733) message, and `code` doesn't detach from the terminal. This is annoying for use through a terminal. I also believe that running the `code` com

[2017-12-16 19:35] caraya commented on #39010
`which code` returns an empty prompt.  `ls -la $(which code)`  list the content of my current directory

[2017-12-16 19:48] thekWzon commented on #38986
It`s needed.

[2017-12-16 20:15] bmewburn opened #40362 "Terminal does not like UTF8"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:56:48.842Z)
- OS Version: Linux x64 4.9.0-4-amd64
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-docker|Pet|0.0.22
vscode-intelephense-client|bme|0.8.2
ayu|tea|0.10.0

(2 theme extensions excluded)

---

Steps to Reproduce:

1. Copy and paste some utf8 in terminal (trying to type ctl+shif

[2017-12-16 20:15] ZanderBrown opened #40363 "Linux: Signal better startup notification when app is truly loaded"
* VSCode Version: Code 1.18.1 (929bacb, 2017-11-16T18:34:22.110Z)
* OS Version: Linux x64 4.14.3-300.fc27.x86_64

Steps to Reproduce:

* Open VSCode
* Immediately interact with the window of another application
* Watch notifications

Reproduces without extensions: Yes

Linux has [startup notifications](https://www.freedesktop.org/wiki/Specifications/startup-notification-spec/) to signal when an ap

[2017-12-16 20:20] pennwang23 commented on #40329
thank you guys, I found the problem, there are some errors in my user settings of vscode. very simple syntax errors. @ramya-rao-a @bpasero

[2017-12-16 20:27] #40336 closed

[2017-12-16 20:28] mtpultz commented on #40175
@Tyriar just Windows Defender, which doesn't appear to use that plugin, and it's been used with VSCode for the last year or more without any issues.

[2017-12-16 20:33] ramya-rao-a commented on #40341
These features are implemented by different extensions for different languages. Find the extension that is providing these features for the language you are working on and log an issue in the repo for that extension

[2017-12-16 20:33] #40341 closed

[2017-12-16 20:34] nakedtoast opened #40364 "@-Sign not working with LiveServer Extension on mac"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
path-intellisense|chr|1.4.2
debugger-for-chrome|msj|4.0.0
PostCSS|ric|1.0.1
LiveServer|rit|3.0.0
autoimport|ste|1.5.3
upload|wuw|0.1.5

---

Steps to Reproduce:

1. Hitting ⌥L (ALT + L) should produce an @

[2017-12-16 20:36] ramya-rao-a commented on #40344
Please provide screenshots and sample text to add to the md file so that we can try and repro the issue

[2017-12-16 20:39] ramya-rao-a commented on #40347
Closing this issue as there is not enough information in either the title or the description.
Please read [Submitting Bugs](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions) and then re-open this issue if you have more information to share

[2017-12-16 20:39] #40347 closed

[2017-12-16 20:39] #40348 closed

[2017-12-16 20:41] miles82 commented on #40351
I have the same issue when i start code from git bash on Windows 10. It opens code-stdin-xyz.txt and hangs the terminal. If I open it directly from Windows (icon or cmd) it works OK (opens the last used folder).

- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:44.860Z)
- OS Version: Windows_NT ia32 10.0.16299

[2017-12-16 20:44] ramya-rao-a commented on #40352
Do you still see the issue when running `code --user-data-dir <path to some empty folder>`?
If the menu items are responding, then share any errors/callstacks from Help -> Toggle Developer Tools -> Console

[2017-12-16 20:49] ramya-rao-a commented on #40355
/duplicate #5953

[2017-12-16 20:49] #40355 closed

[2017-12-16 20:54] ramya-rao-a commented on #40361
Are you referring to options you get when running the command `Tasks: Run Task`?

[2017-12-16 21:10] ramya-rao-a commented on #40329
@pennwang23 Can you give us more on information on what errors you found in your user settings?

@stvreumi

But the bug still show up after I quit vscode and restart again.

Looks like there is an issue with your user settings file just like @pennwang23

[2017-12-16 21:16] johnpapa commented on #40361
No. Sorry. running command palette then type “npm” to get a list of the npm run scripts.

[2017-12-16 21:44] nojvek opened #40365 "Git view dies when editing a large TS project"
- VSCode Version: Version 1.18.0 (1.18.0)
- OS Version: OSX Sierra

Steps to Reproduce:

1. Open Typescript project. Build it using 'gulp local'
2. Edit some files in tests/cases/compiler
3. Run 'gulp runtests'
4. Run 'gulp baseline-accept'

The git view seems like its dead. The buttons show click animation but no actions are taken. The terminal works with 'git status and git add' but built in git

[2017-12-16 21:47] kamil-kielczewski commented on #1614
Ok @bpasero  I install and test you fixes:

Main functionality which I want:
a) ability to save /etc/hosts by type admin password - works :)
b) save read-only files (by ask user do he really want it) - works :)
c) save hidden files - works :)  (hovewer i was able to edit hidden files only by drag and drop them from mac-finder to vscode)

Minor functionalities like:
a)  create file in protected (ne

[2017-12-16 23:20] jpoon commented on #40260
Another one: https://github.com/VSCodeVim/Vim/issues/2231

[2017-12-16 23:21] jpoon commented on #40260
Oops, meant to just comment.

[2017-12-16 23:38] thecodingdude opened #40366 "Node debug doesn't terminate using WSL"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
vscode-html-css|ecm|0.1.8
php-intellisense|fel|2.1.0
beautify|Hoo|1.1.1
vscode-icons|rob|7.19.0
JavaScriptSnippets|xab|1.5.0

(1 theme extensions excluded)

---

Steps to Re

[2017-12-16 23:44] thecodingdude commented on #40366
This is similar to #38424 - I'd consider this a pretty fundamental breakage and essentially renders debugging via WSL useless, hopefully can make it into a recovery build asap =).

[2017-12-17 00:08] auchenberg commented on #40227
Tracked in https://github.com/Microsoft/vscode/issues/28323 and https://github.com/Microsoft/vscode/issues/22010

[2017-12-17 01:34] jlk commented on #17607
I've never seen the spinning / which dbaeumer speaks of. When I'm waiting on a build to see if there's errors or not, would be very handy to know if the build is complete, or no...

[2017-12-17 01:50] hua03 commented on #40332
Do not know why, it is working now. So i close the issue.

[2017-12-17 02:24] roblourens commented on #38241
We thought quite a lot about this, but decided in the end that simplicity wins out over supporting this niche case. Two buttons confused some people, and I think that `search.exclude` is now not generally necessary in a project with a .gitignore anyway.

[2017-12-17 02:36] roblourens commented on #40340
I don't have an ARM build of ripgrep yet, so that won't work. But if you add the setting `"search.useRipgrep": false`, that will work around it.

[2017-12-17 02:36] #40340 closed

[2017-12-17 03:04] pennwang23 commented on #40329
the link in my last post is my settings, could you open it ? unfortunately I can't see where the issue is @ramya-rao-a

[2017-12-17 03:12] usernamehw commented on #40361
@johnpapa Isn't this an extension contribution?

[2017-12-17 03:13] #40046 closed

[2017-12-17 03:24] ramya-rao-a commented on #40329
@pennwang23 Yes, I can open that link. I tried all the settings from there and the culprit is `editor.tokenColorCustomizations`.

The default value for this setting is `{}`
But in your settings, the value for this is `null` which is causing the issue.

I can repro the blank window issue by setting `editor.tokenColorCustomizations` to `null` in my settings.

@stvreumi Can you check if you have `edi

[2017-12-17 03:26] ramya-rao-a commented on #40308
@bpasero The 2 issues are related. See https://github.com/Microsoft/vscode/issues/40329#issuecomment-352228936

@mese79 Can you check if you have `editor.tokenColorCustomizations` set to `null` in your settings file (you can find it at ~/Library/Application Support/Code/User/settings.json). If yes, then set it to `{}` instead and then try opening VS Code.

[2017-12-17 03:27] ramya-rao-a commented on #40352
Most likely this is the same as #40329

@hamaney Can you check if you have `editor.tokenColorCustomizations` set to `null` in your settings file (you can find it at ~/Library/Application Support/Code/User/settings.json). If yes, then set it to `{}` instead and then try opening VS Code.

[2017-12-17 03:35] #40339 closed

[2017-12-17 05:00] serioth opened #40367 "IntelliSense Stops Working After a While"
- VSCode Version: 1.19.0
- OS Version: Windows 10 Pro, 64-bit

Steps to Reproduce:

1. Create a new folder
2. Create index.js file
3. Type: "var http = require('http');"
4. Type: "http." and see what IntelliSense comes up with

After first creating a file, it works as expected, firing up all the methods and variables belonging to the http module.

After a while (a few minutes), this stops working.

[2017-12-17 05:25] stvreumi commented on #40329
Hello @ramya-rao-a
I really set `editor.tokenColorCustomizations` to `null`, in the line 13 of my setting.json
Here is my setting.json:
https://gist.github.com/stvreumi/3d7a3ee4bb474b66f3db9130638929bb
After I change it to `{}` and update to the latest version, I can see my workspace normally.
I think I add this setting because of the extension: *vscode-icons*.

BTW I check the console in the deve

[2017-12-17 05:29] ramya-rao-a commented on #40329
Thanks for confirming @stvreumi!

cc @bpasero @aeschli

[2017-12-17 05:29] #40329 closed

[2017-12-17 05:50] eliu commented on #40344
Hello, Here's the quick links to the problemnic md files edited using VS Code.
https://github.com/eliu/openshift-vagrant/blob/7bc6a4876956fc9c49a6095068eeb2e34fcd9194/README_CN.md

Screenshot as below:

in the screenshot above, emphasised in green, with quesion mark, that is the invisible characters. they appears sometimes when im type among Sogou Input Method and default one

Cheers,
Eric

On 12/

[2017-12-17 07:01] VenPot commented on #5605
When is code outline coming out of the box natively? Vs code is the most loved editor now and not having this feature is a bummer.

[2017-12-17 07:02] howilliams opened #40368 "Dialog not showing up when uninstall Vetur package."
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-markdownlint|Dav|0.12.0
EditorConfig|Edi|0.11.1
beautify|Hoo|1.1.1
vscode-docker|Pet|0.0.22
html-css-class-completion|Zig|1.14.0
vscode-color|ans|0.4.5
npm-intellisense|chr|1.3.0
path-intellisense|c

[2017-12-17 07:39] eladcandroid commented on #13953
As @apperside said.. the task only show errors when the file has changed..

[2017-12-17 07:56] ramya-rao-a commented on #40368
Try deleting it from `~/.vscode/extensions`

[2017-12-17 07:59] bpasero commented on #40333
@ayyash I see what you mean. So you are OK that the editor gets focus in the background but you do not like the fact that the editor history (`Cmd+P`) changes due to that?

[2017-12-17 08:01] bpasero commented on #40363
@ZanderBrown I am not really understanding what you are asking for...

[2017-12-17 08:02] VenPot opened #40369 "Can you provide Linux commands support in vs code terminal in windows?"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-12-17 08:05] bpasero commented on #1614
@kamil-kielczewski I suggest to open new issues for new feature requests. I am not sure I understand the issue with not seeing hidden folders and files.

[2017-12-17 08:22] bpasero commented on #39892
@Tyriar actually is sounds like https://github.com/Microsoft/vscode/issues/13138#issuecomment-345358576 is exactly the solution to that problem with a `wslpath` script.

[2017-12-17 08:29] timbanaveen commented on #34193
@Tyriar I have updated the tests and ts file, now tests are working fine. Please review. Thanks

[2017-12-17 08:42] ravshansbox opened #40371 "No `extends` keyword in IntelliSense for Javascript language mode."
No `extends` keyword in IntelliSense for Javascript language mode.

[2017-12-17 09:09] bpasero commented on #39892
I filed https://github.com/electron/electron/issues/11455 to have an alternate way of forcing Electron to run as node.

[2017-12-17 09:18] howilliams opened #40372 "Vue.js extension doesn't colorify"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
xml|Dot|1.9.2
beautify|Hoo|1.1.1
solidity|Jua|0.0.31
vscode-docker|Pet|0.0.22
html-css-class-completion|Zig|1.14.0
jshint|dba|0.10.15
vscode-eslint|dba|1.4.3
githistory|don|0.2.3
gitlens|eam|6.4.0
vscode-h

[2017-12-17 09:46] koaleksa opened #40373 "Add default setting for panel location"
**Feature request**

Newest version (0.19) deprecated ```workbench.panel.location``` setting. Position now defaults to ```bottom```. Please add setting to decide default panel location.

Since vscode added possibility to move panel to ```right``` i have exclusively used it that way and the newest behavior, even though i understand it's intended and it takes only one click to move the panel to desi

[2017-12-17 09:53] GHcodetyper commented on #40253
@liaoya , thanks! works for me

[2017-12-17 10:21] ashraf-jabr opened #40374 "Release Notes Page isn't opening"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
markdown-toc|Ala|1.5.6
ignoregit|And|1.0.1
vscode-database|baj|1.2.0
vscode-refresh-html|baj|0.0.2
npm-intellisense|chr|1.3.0
gitignore|cod|0.5.0
angular2-snippets|dan|1.0.1

[2017-12-17 10:22] kamil-kielczewski commented on #1614
hm strange - may be it was my mistake - now I see hidden files. So everything ok :)
Later I create new issues.

[2017-12-17 10:24] Davaakhuux opened #40375 "a"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 17.3.0
- Extensions: none
---

Steps to Reproduce:

1.
2.

[2017-12-17 10:38] bpasero commented on #40351
I am not convinced that it is hard for "launchers" to use the code binary instead of the code shell script. Imho any component that launches VS Code can easily switch to running the binary directly and since there is no terminal attached you will not see any output that you would normally get ("cannot set terminal process group (-1): Inappropriate ioctl for device").

I just did an experiment with

[2017-12-17 10:43] jens1o commented on #40375
b

[2017-12-17 10:45] ZanderBrown commented on #40363
[The GNOME Foundation has some guides](https://developer.gnome.org/integration-guide/stable/startup-notification.html.en) which may [better explain](https://developer.gnome.org/platform-overview/stable/dev-launching-startupnotify.html.en)

When an application is started it may use a [startup-notification](https://www.freedesktop.org/wiki/Specifications/startup-notification-spec/) to signal that it

[2017-12-17 11:14] zhcpku opened #40376 "VSCode 自动格式化时会吃掉几行代码"
- VSCode Version: Code 1.18.1 (929bacba01ef658b873545e26034d1a8067445e9, 2017-11-16T18:34:22.110Z)
- OS Version: Linux x64 4.9.0-deepin13-amd64
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-markdownlint|Dav|0.12.0
code-settings-sync|Sha|2.8.7
markdown-latex-renderer|agu|0.0.2
path-intellisense|chr|1.4.2
vscode-eslint|dba|1.4.3
mdmath|goe|2.0.7
python|ms-|0.9.0
cpptools|ms-

[2017-12-17 11:20] zhcpku commented on #40376
补充说明一下，出现问题的时候大多在代码写到600多行的时候

[2017-12-17 11:26] bpasero commented on #40351
Btw a workaround for the git bash to be functional again is to pick this option from the installation:

![image](https://user-images.githubusercontent.com/900690/34079038-7027407c-e325-11e7-8000-4399c2bd5fc0.png)

[2017-12-17 11:28] rprichard commented on #40199
@Tyriar: @segevfiner filed an upstream winpty issue (https://github.com/rprichard/winpty/issues/134). I looked into it, and it looks like a Windows bug, which I filed here: https://github.com/Microsoft/console/issues/40. I doubt winpty can work around this problem.

FWIW, the legacy console shouldn't be affected by this issue.

It looks like Python 3 is also unaffected. Maybe it uses `WriteConsole

[2017-12-17 11:53] ayyash commented on #40333
I'm okay with it as in: it doesn't bother me much, but it would be more consistent with other apps if it doesn't show at all (like in visual studio). But changing history stack is a very nasty thing to do :/ it kind of disorients me and makes me lose focus.

[2017-12-17 12:05] smuuf commented on #40369
Why would they do such a thing? Why should it be editor's responsibility to simulate non-native command-line tools for you? *Just use a different terminal.*

[2017-12-17 12:06] lilianmoraru commented on #40340
It is very easy to get an ARM build of ripgrep(I compiled and run it on a very weak Qualcomm Modem at work - works great).
Do you need help with this?

[2017-12-17 12:12] AshutoshDongare commented on #38828
my 2 cents.. the path you need to give in user settings must contain executable file name as well like .....\\git.exe"

[2017-12-17 12:36] sirpelidor opened #40377 "vsc crash when type-ahead provides suggestion during html editing"
- VSCode Version: 1.19.0
- OS Version: osx 10.9.5

Steps to Reproduce:

1. edit html attribute to trigger type-ahead menu
2. upon doing it repeatedly, it'll crash osx, please see log
[Code Helper_2017-12-13-025121_sirs-MacBook-Pro.txt](https://github.com/Microsoft/vscode/files/1565654/Code.Helper_2017-12-13-025121_sirs-MacBook-Pro.txt)

Reproduces without extensions: Yes (fresh install, no extensi

[2017-12-17 12:48] Jusys commented on #38986
https://www.transifex.com/user/profile/MartynasJs/

[2017-12-17 12:49] nareshnookal-devrabbit opened #40378 "mssl is not working"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:56:48.842Z)
- OS Version: Linux x64 3.16.0-77-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
beautify|Hoo|1.1.1
git-easy|bib|1.9.1
plsql|cas|0.0.3
es7-react-js-snippets|dsz|1.3.0
svn-scm|joh|1.4.5
hg|mrc|1.2.3
mssql|ms-|1.3.0
team|ms-|1.122.0
git-autoconfig|shy|0.0.1
perforce|sle|3.0.0
r

[2017-12-17 12:54] ryenus commented on #25925
@chrmarti

Possible to make this a priority? locate a file using a relative path is much needed than only being able to find by just the name. Especially for people working with large projects with lots of modules/files.

Thanks

[2017-12-17 13:06] GeorgeKaraszi commented on #29210
I believe the issue is dealing with the equal's sign. Take these few examples.

**Basic Method with out predefined params: (Aligns correctly)**
![good-alignment](https://user-images.githubusercontent.com/9029051/34079688-7b7a5416-e300-11e7-9b3a-feaa41fa5a82.png)

**Basic Method predefined params: (Bad alignment detection)**
![predefined-param](https://user-images.githubusercontent.com/9029051/3407

[2017-12-17 13:15] jez9999 commented on #40123
This is great - it should be built into VS Code.  Anyone who wants to debug a parent and its child processes in Node wants this.

[2017-12-17 13:20] neilsustc commented on #18315
Current sorting is not *stable* regarding to letter case

![sort](https://user-images.githubusercontent.com/7588612/34079805-f0e78312-e36f-11e7-8c91-f05ff5fe065d.gif)

[2017-12-17 13:25] weinand commented on #40123
A first cut is already in VS Code Insiders.

[2017-12-17 13:51] Cartman16 commented on #40121
I am not sure but I think I got the same issue since updating to VS Code 1.19
If my repo is on a network share VS Code opens git session over session. If I clone the same repo into a local folder everything seems to be fine.

VS Code About:

Version 1.19.0
Commit 816be6780ca8bd0ab80314e11478c48c70d09383
Date 2017-12-14T12:06:43.492Z
Shell 1.7.9
Renderer 58.0.3029.110
Node 7.9.0
Architecture x64

O

[2017-12-17 13:54] agsea opened #40379 "Javascript typing tips"
Now, i want to konw how can i get js snippets from a js file (generally, it's a js library, such as the three.js) while i'm working in other js file. As far as i can see, existing plugings for js in vscode not has the function.

[2017-12-17 14:15] frank-dspeed commented on #13643
@emkographics sounds like a perfect use case for mounting a sftp/ftp folder?

[2017-12-17 14:24] VenPot commented on #40369
Thanks for the comment. What terminal do you suggest and how do you
configure it to work with vs code?Appreciate your time!

On Dec 17, 2017 7:05 AM, "Přemysl Karbula" <notifications@github.com> wrote:

Why would they do such a thing? Why should it be editor's responsibility to
simulate non-native command-line tools for you? *Just use a different
terminal.*

—
You are receiving this because you au

[2017-12-17 14:42] yzStrive opened #40380 "python autocompletion stopped working after upgrading(vs code self) to 1.19.0"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-generate-getter-setter|DSK|0.4.2
vscode-markdownlint|Dav|0.12.0
EditorConfig|Edi|0.11.1
beautify|Hoo|1.1.1
code-settings-sync|Sha|2.8.7
npm-intellisense|chr|1.3.0
path-intellisense|chr|1.4.2
vscode-

[2017-12-17 14:47] goyaltushar92 opened #40381 "Opens two different copy of same file"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.7
vscode-markdownlint|Dav|0.12.0
vscode-eslint|dba|1.4.3
tslint|eg2|1.0.24
debugger-for-chrome|msj|4.0.0

---
I am working on Angular 4 project and while working with TS files. VS

[2017-12-17 15:21] smuuf commented on #40369
If you're on Windows and want your terminal be more *linux-like*, you can use*, for example,* Git's `MINGW64` shell *(if you have Git installed)*. To use that as terminal in vscode, just have something like this in your vscode settings:

[code]

***If you use WSL*** you should be able to use "native" Linux shell inside your Windows installation of Visual Studio Code. Try looking here for more info

[2017-12-17 15:42] mashiroplanc opened #40382 "VSCode keeps opening pipe output file"
- VSCode Version: 1.19.0
- OS Version: Arch Linux (4.14.5-1-ARCH)

Steps to Reproduce:

1. From Code terminal type: `ps -aux | grep code | code`
it will create and open a file code-stdin-(random 3 chars).txt
2. Open a folder or a file and close code-stdin-*.txt or a .workspace file
3. Close Code
4. Open Code, it will re-open code-stdin-(random 3 chars).txt (empty) file but not a folder or file ope

[2017-12-17 15:53] einord commented on #13643
Please, this is a request that several users would benefit from, and would help them in their work.
Of course you can solve a problem in multiple ways, and some may even be better than the requested feature sometimes. But as long as a big enough group of people would benefit from this it is a good idea to implement it.

This is not a discussion about how to solve a problem, it is a feature request

[2017-12-17 16:00] VenPot commented on #40369
@smuuf Perfect ,  I am closing the issue

Here are some other tips i came across while researching the issue. sharing in case if there are others looking for the same answer-

"Press and hold Ctrl + ` to open terminal. Inside terminal type 'bash' without the quotations to use gitbash in terminal. Note: Make sure you have gitbash installed on your machine.

If you wish to use powershell again, just

[2017-12-17 16:01] #40369 closed

[2017-12-17 16:45] qingkong1998 opened #40383 "Markdown outline preview and file manage function ,just i need, thank you."
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-12-17 17:13] jabacchetta opened #40384 "Add another option for editor.showFoldingControls"
`editor.showFoldingControls` only allows for "always" and "mouseover". It would be nice if we could disable it entirely.

The only way to remove the controls (and save space in the editor) is to set `"editor.folding": false`. However, this will also disable the keyboard shortcuts for folding.

Preferably, we could disable the UI controls while still being able to use the keyboard shortcuts.

[2017-12-17 17:17] coreh opened #40385 "Automatic import feature + Automatic type acquisition = ugly imports"
- VSCode Version: 1.19.0
- OS Version: Windows 10 16299.125

Steps to Reproduce:

1. Create a basic JS project, with a default `package.json` and a blank `index.js`
2. Install a random dependency via NPM (e.g. `graphql`)
3. Type in `require('graphql');` in index.js
4. Summon IntelliSense, and pick one of the suggested types (e.g. `GraphQLID`)
5. You'll get a really ugly import, like:

[code]

Adde

[2017-12-17 17:30] khouzam commented on #40199
Thanks, this is indeed a console issue that we've addressed, it's the same issue as #36630.

[2017-12-17 17:40] jabacchetta opened #40386 "Hide file extensions in editor tabs"
It would be great to have the option to display only the file names in editor tabs — removing the extensions.

This is preferable for those of us who use icons — removing the redundancy of a "JS" icon combined with`.js`, for example.

[2017-12-17 18:12] mikeguidry commented on #38320
Thanks guys.  This update I just installed fixes everything!  I'll be sure to use the guidelines next time.

[2017-12-17 18:13] #40372 closed

[2017-12-17 18:15] ramya-rao-a commented on #40374
Any errors from the console? (Help -> Toggle Developer Tools -> Console)?

[2017-12-17 18:15] ramya-rao-a commented on #40375
c?

[2017-12-17 18:16] ramya-rao-a commented on #40375
Closing this issue as there isn't enough information in the title or description to work on.

[2017-12-17 18:16] #40375 closed

[2017-12-17 18:17] ramya-rao-a commented on #40376
@zhcpku What language are you using? Is it typescript/python/C++?

[2017-12-17 18:19] ramya-rao-a commented on #40377
Are you seeing this recently in VSCode 1.19.0 only or have you seen it before in 1.18.1?

[2017-12-17 18:20] ramya-rao-a commented on #40378
What is msssl?
Please provide more details and reproducible steps while logging an issue.
Also read [Submitting Bugs](https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions)

[2017-12-17 18:21] #40380 closed

[2017-12-17 18:25] ramya-rao-a commented on #40381
I can't seem to repro it.
Can you share your settings?

[2017-12-17 18:28] mese79 commented on #40308
@ramya-rao-a Setting `editor.tokenColorCustomizations` from `null` to `{}` was a solution for me.
Thanks.

[2017-12-17 18:50] ramya-rao-a commented on #40383
Outline for the markdown file or for the markdown preview file?
What do you mean by "file manage function"?

[2017-12-17 18:53] ramya-rao-a commented on #39862
Since there has been no update here, I am going to assume that this issue no longer repros in the latest update of 1.19.0

If you do see it again in 1.19.0, feel free to re-open this issue or open a new issue

[2017-12-17 18:53] #39862 closed

[2017-12-17 18:54] dsifford opened #40387 "Cannot customize keybindings in peek view (referencesWidget)"
- VSCode Version: 1.19.0
- OS Version: `Linux archlinux 4.14.5-1-ARCH #1 SMP PREEMPT Sun Dec 10 14:50:30 UTC 2017 x86_64 GNU/Linux`

To my knowledge and after toying around for the last 30 mins or so, it seems like it is not currently possible to adjust keybindings for the "ReferenceSearch" widget. Specifically, I'd like to navigate up and down in the tree using `ctrl+k` and `ctrl+j`, respectively

[2017-12-17 19:02] eamodio commented on #32526
I think this should get closed in favor of https://github.com/Microsoft/vscode/issues/34048

Thoughts?

[2017-12-17 19:18] eamodio opened #40389 "Keybindings aren't respecting `when clause` when showing shortcut keys in menus"
- VSCode Version: Code - Insiders 1.20.0-insider (08ec16001adaab8a86183431f6aec09209caa4ab, 2017-12-15T05:15:38.886Z)
- OS Version: Windows_NT x64 10.0.17046
---

Originally reported https://github.com/eamodio/vscode-gitlens/issues/229

![1](https://user-images.githubusercontent.com/4232281/33921773-13f8cce8-e001-11e7-94cc-d275ed810d15.png)
![2](https://user-images.githubusercontent.com/4232281/33

[2017-12-17 19:35] justinwzig commented on #30954
I'm having the same problem.
- Machine: Lenovo Thinkpad X1 Carbon
- VSCode Version: Code 1.18.0 (dcee2202709a4f223185514b9275aa4229841aa7, 2017-11-08T21:22:49.932Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
stylus|Ala|0.0.4
spellright|ban|2.0.16
vscode-markdownlint|Dav|0.12.0
git-project-manager|fel|1.4.0
ginfuru-vscode-jekyll-syntax|gi

[2017-12-17 19:46] bsvipas opened #40390 "Theme color reference documentation missing one prop"
https://code.visualstudio.com/docs/getstarted/theme-color-reference#_lists-and-trees

Missing: `list.inactiveFocusBackground`

[2017-12-17 19:46] ramya-rao-a commented on #40308
Thanks for confirming @mese79!

[2017-12-17 20:49] rprichard commented on #36630
`ReadConsoleOutput` is atomic, but that's not good enough.

In the common case, winpty reconstructs a stream of output corresponding to what's in the console buffer. To do this, it needs to do several things atomically:

1. Figure out how much the console has scrolled.
    - Use `GetConsoleScreenBufferInfo` to get the window position.
    - Use `WriteConsoleOutputW` to write a "sync marker" into t

[2017-12-17 20:52] rprichard commented on #36630
@miniksa FWIW, when I was examining this issue, I saw that `WriteFile` was broken but not `WriteConsoleA`. https://github.com/Microsoft/console/issues/40

[2017-12-17 20:52] bsvipas commented on #40390
Also there's is missing color references for new function `Developer: Show running extensions`.

[2017-12-17 20:58] mashiroplanc commented on #40382
Seems like it is a problem with dockbarx in xfce, after I re-pinned Code, it fixed

[2017-12-17 20:58] #40382 closed

[2017-12-17 21:16] erend commented on #9502
Integrating this feature make web coding on Windows perfect.

[2017-12-17 21:25] luronumen opened #40391 "Visual Studio Code should natively support css, razor, and xml formatters"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
csharp|ms-|1.13.1

---

Steps to Reproduce:

1. Try to format (Alt+Shift+F) an css or razor (cshtml) or xml (csproj) file: Sorry, but there is no formatter for 'filetype'-files installed.

Importan

[2017-12-17 21:28] RobertAKARobin opened #40392 "Suggestions continue to show up, despite disabling"
- VSCode Version: 1.19.0
- OS Version: Mac 10.13.1

Steps to Reproduce:

1. Create a new JS file
2. Type `express.static(`
3. Observe a suggestion explaining middleware show up:

![screen shot 2017-12-17 at 3 04 02 pm](https://user-images.githubusercontent.com/6268177/34083981-d4a8338a-e33e-11e7-9c66-f7dba334559f.jpg)

Here are my current settings:

[code]

Reproduces without extensions: No. Howev

[2017-12-17 21:30] RobertAKARobin commented on #40379
Possibly duplicated by https://github.com/Microsoft/vscode/issues/40392

[2017-12-17 21:48] Katthewm opened #40393 "ui is screwed up"
I am new to coding and am trying to follow tutorials, but I cant even start because my ui looks and acts completely different. How the heck do I fix this? When I try to find solutions people say to go to the Tool menu, but I don't have that?!?!? Any help would be appreciated.
![capture](https://user-images.githubusercontent.com/34632839/34084155-88e9e1de-e341-11e7-9c19-b882366e3f68.PNG)

[2017-12-17 23:05] yardenhochman commented on #14909
I'd really love to have this feature. Right now I'm using multiple windows and it's not as good. We should ideally be using only one instance to manage code.

[2017-12-17 23:27] scoobycoder opened #40394 "TypeScript Restart Service"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions: none
---

Steps to Reproduce:

1. Just start VS Code
2. Errors and tries to restart

[2017-12-17 23:45] viztor commented on #38333
can i take this?

[2017-12-17 23:46] nickweavers commented on #13138
I'm also late to this, but I am talking about the NATIVE LINUX VERSION of code-insiders installed under WSL. The installation appeared to go fine.
[code]
I have xming installed and xeyes works fine with it.
However, when I try invoking code-insiders I get
nickw@DESKTOP-OREBB4V:~

[code]
Could I be missing a package or something?

[2017-12-17 23:56] nickweavers commented on #13138
just spotted #13089 and after
[code]
Now, when running code-insiders I get a pause and then I'm back to the cmdline  with no code window display not any messages.
nickw@DESKTOP-OREBB4V:~
[code]
I'm on build 17025.prerelease.171020-1626 (slow ring)

[2017-12-18 00:06] nickweavers commented on #13138
I think WSL could be Microsoft's killer app for Window 10, and an absolute game changer for dev's (resulting on an exodus of them from Mac back to Windows) if they commit enough skin into this thing and make it work as we really need it to, but as quickly as it gained interest it will wane unless the dev community see MS really committing to getting it done right. That means money, resource, and h

[2017-12-18 00:35] Radon222 commented on #40011
Fixed in #40395, please review

[2017-12-18 00:43] alexaymonier opened #40396 "Can't edit username from get-credential"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
PowerShell|ms-|1.5.1

Hey guys, I'm creating some PowerShell tooling for our vCloud environment. Inside the tools i have some helper functions that test for connectivity to vCloud and if not connec

[2017-12-18 00:44] rajinder-yadav opened #40397 "Links not working from markdown preview"
- VSCode Version: Code - Insiders 1.20.0-insider (08ec16001adaab8a86183431f6aec09209caa4ab, 2017-12-15T06:08:07.643Z)
- OS Version: Darwin x64 17.3.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
markdown-toc|Ala|1.5.6
vscode-markdownlint|Dav|0.12.0
EditorConfig|Edi|0.11.1
vscode-eslint|dba|1.4.3
tslint|eg2|1.0.24
prettier-vscode|esb|1.0.0
cpptools|ms-|0.14.4
debugger-for-chrome|

[2017-12-18 00:49] dhaynespls opened #40398 "editor.lineNumbers description needs to be updated to include the new "interval" setting."
- VSCode Version:
1.19.0
816be6780ca8bd0ab80314e11478c48c70d09383
x64
- OS Version: Fedora 26

A new toggle for the lineNumbers setting was added but the string wasn't updated to include that new option. The absence is slightly confusing.

See:
https://github.com/Microsoft/vscode/blob/b5ef98e6015d201104df4798d6859afdd02df958/src/vs/editor/common/config/commonEditorConfig.ts#L214

Steps to Reproduc

[2017-12-18 00:49] hello-world-github opened #40399 "Split multiwindow"
How to implement multiple Windows. Many times I like to popup a new window, not just like left and right side which is not convenience.

[2017-12-18 00:54] dhaynespls commented on #40393
Could you link the tutorial? It's probably not an issue with the project but with the instructions that you're looking at being vague.

[2017-12-18 00:59] onlyShadow commented on #40273
@bpasero yes，I can see my folders。I suspect this is the problem caused by a plug-in

[2017-12-18 01:08] onlyShadow commented on #40273
@bpasero I unloaded all the plug-ins, but the problem still exists. Is it the problem of the operating system?

[2017-12-18 01:20] onlyShadow commented on #40273
![Uploading 深度录屏_code_20171218091850.gif…]()

[2017-12-18 01:20] onlyShadow commented on #40273
![_code_20171218091850](https://user-images.githubusercontent.com/12453379/34086144-abadee7a-e3d4-11e7-9deb-6b94f68692bb.gif)

[2017-12-18 01:23] hua03 commented on #40332
Sorry, I have to reopen the issue. I can solve this problem by running node. But it sometimes fails.

[2017-12-18 01:24] zhcpku commented on #40376
@ramya-rao-a python & Java，各自出现过一次

[2017-12-18 01:27] hua03 commented on #40367
I encountered the same problem with you. You can try to run node to solve it. But it sometimes fail. This is my solution #40332 .

[2017-12-18 01:48] mifas commented on #40255
Thanks, Also be note, shortcut keys are not working,

[2017-12-18 01:52] hua03 commented on #40342
你说的的那个类的方法列表默认快捷键是`ctrl+shift+o`，它绑定的指令是`workbench.action.gotoSymbol`

[2017-12-18 01:55] eliu commented on #40344
@ramya-rao-a are you still following up this issue right now? Since these characters are not visible, therefore all i can provided are screenshots links and original text file. let me know if you want anything else to provide from me. Thanks.

[2017-12-18 02:18] chenli8 opened #40403 "不支持vue语法格式"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
git-easy|bib|1.9.1
path-intellisense|chr|1.4.2
beautify|Hoo|1.1.1
debugger-for-chrome|msj|4.0.0
vuehelper|oys|0.1.0
view-in-browser|qin|0.0.5
vscode-icons|rob|7.19.0
vue-ls-snippets|van|0.0.5

---

S

[2017-12-18 02:20] laoshaw commented on #40314
not really what I need, really want to see vscode support some button dock, that I can bind some commands to it, e.g. click on '<>' button it will wrap with certain marks(< code > ... < / code > for example.

another use case is that i want to mark markdown while reading it, i can select some text, click on a button that will add < mark > pair to the text.

again, I'm actually asking for "action b

[2017-12-18 02:24] laoshaw opened #40404 "Buttons for vscode"
can vscode support quick-buttons? like most of other editors, that I can click on a button and it will do something(e.g. save, open, wrap text with a pair of tags in html,etc). so far I only see a "split window" button.

many of us actually spend more time reviewing code instead of writing, those button can work with mouse without the need of reaching keyboard. Besides, most  editors support the q

[2017-12-18 02:25] laoshaw commented on #40404
even the little github edit window has all those great buttons, please support them in vscode, and make them customizable too.

[2017-12-18 02:32] marco0305 opened #40406 "Vscode is unable to operate."
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
django-html|bib|1.2.0
MagicPython|mag|1.0.12
python|ms-|0.9.0
vscode-icons|rob|7.19.0
bootstrap4-vscode|the|3.0.0
html-preview-vscode|tht|0.1.1
python|tht|0.2.3

---

Steps

[2017-12-18 02:40] roblourens commented on #40340
Actually I was wrong, we do have an ARM build of ripgrep, which I guess you will get if you build vscode from sources on ARM. @apit does it work if you invoke that `rg` binary directly? I haven't tried it myself and I'm not sure what the problem is.

[2017-12-18 02:41] brandonrninefive commented on #24396
Thank you for your help @sandy081 , I got it working and submitted the changes in PR #40405. Assuming that everything goes well with that PR, I have another suggestion for this feature. Could we perhaps make the conflict label a link, which will close the dialogue and search for the entered key combination in the keybindings list? This way, users can see what the particular conflicts are, rather t

[2017-12-18 02:54] xianghongai commented on #40404
![2017-12-18_10-43-23](https://user-images.githubusercontent.com/2075006/34087779-4fe692e8-e3e0-11e7-9c93-fdc3d079af13.png)

no!

when coding, 80% ++ keyboard, 20% -- mouse !

1920*1080+ resolution, the cursor in the (x offset:1000, y offset:800)+ coordinates, first of all, to find out which button icon, and then use the mouse to move to the coordinates of (x offset:100, y offset:80), so a waste o

[2017-12-18 02:55] lupin888 opened #40407 "CTRL+F 搜索后 焦点不在代码上了 在搜索框上 F3很尴尬"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
Bookmarks|ale|0.17.0
cocos-creator|Chu|0.0.1
cocos-debug|Chu|0.0.1
luaide|kan|0.3.7
python|ms-|0.8.0
change-case|wma|1.0.0

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-12-18 03:00] laoshaw commented on #40404
they're not mutual exclusive, not everyone code all the time, studying /reviewing code also occupies lots of time where keyboard is rarely needed and mouse click helps, again, they shall co-exist just fine, you do not need pick just one. In fact, nearly all other editors did that long time ago and keep doing that now, there must be a good reason.

yes i use keymap too, but also miss those buttons

[2017-12-18 03:02] yuugou727 opened #40408 "Git diff not working for UNC paths"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
html-snippets|abu|0.1.0
Bookmarks|ale|0.18.0
htmltagwrap|bra|0.0.6
path-intellisense|chr|1.4.2
open-html-in-browser|cod|0.1.21
vscode-eslint|dba|1.4.3
githistory|don|0.2.3
jquerysnippets|don|0.0.1

[2017-12-18 03:03] xianghongai commented on #40407
这是正常的逻辑。

多个关键字匹配，F3直接下一个位置，而不是焦点。

如果是代码获得焦点，发生了新的修改，搜索如何再次缓存？只能再次CTRL+F某关键字。

[2017-12-18 03:05] #39995 closed

[2017-12-18 03:08] xianghongai commented on #40376
我这今年所有项目都是用的vscode，还没出现过这种问题，吃掉是丢失？还是因为注释、空行、代码块模式化造成？应该不是编辑器问题。

[2017-12-18 03:11] Assaya opened #40409 "A bit small"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2017-12-18 03:19] xianghongai commented on #40342
快捷键这块：

很多都类似ST，如`@`,`#`,`:`。

我这指令都是自己调教，杂糅了vs、st，还有自己按照各符号配置。

当年用st时候就提过，所有插件和额外操作都不要设默认操作方式，全命令行，开发者自己配置，仅提供ctrl cvxwq这类基础操作。

[2017-12-18 03:29] xianghongai commented on #40328
管理员权限？
便捷版？

另外一个话题：

古董IT从业者都会告诉你软件要安装在其它盘，系统跑得快。其实，除了Foxmail要安装在其它盘外（数据备份用），其它软件没什么卵用，系统瘫了一样没辙。所以，第一次给C盘分个128G，所有软件默认安装目录，注意去掉全家桶就是了！

[2017-12-18 03:29] chimit opened #40410 "The color of a changed file when the Explorer is in focus"
- VSCode Version: 1.19.0 (1.19.0)
- OS Version: macOS High Sierra 10.13.2

Steps to Reproduce:

1. Make any changes in a file (Git project)
2. Click on the file in the Explorer

Reproduces without extensions: Yes

Explorer is not in focus:

![2017-12-18 11 21 27](https://user-images.githubusercontent.com/839349/34088658-a46730a2-e3e5-11e7-8e2d-ea6ad016af99.png)

Explorer is in focus:

![2017-12-18

[2017-12-18 03:39] chimit opened #40411 "Lines with changed indentation are not highlighted"
- VSCode Version: 1.19.0 (1.19.0)
- OS Version: macOS High Sierra 10.13.2

Steps to Reproduce:

1. Change indentation
2. Save file

Reproduces without extensions: Yes

![2017-12-18 11 32 16](https://user-images.githubusercontent.com/839349/34088911-6e8e844c-e3e7-11e7-9ba7-2023886df135.png)
![2017-12-18 11 32 36](https://user-images.githubusercontent.com/839349/34088910-6e684f98-e3e7-11e7-8798-95ac

[2017-12-18 03:53] ramya-rao-a commented on #40406
Most likely this is the same as #40329 with root cause of #40339

 Can you check if you have `editor.tokenColorCustomizations` set to `null` in your settings file (you can find it at ~/Library/Application Support/Code/User/settings.json). If yes, then set it to `{}` instead and then try opening VS Code.

[2017-12-18 04:50] kbaird5 commented on #38241
Here is our use case: we use .gitignore to make sure unwanted/duplicate files are not checked in. However, there are some files that we do want to search (but not check in).

To satisfy our use case, I set `"search.useIgnoreFiles": false`,  updated `"search.exclude"` to omit the most obvious files from .gitignore, but left out the ones I want to search. This works because most of our .gitignore fi

[2017-12-18 04:58] RyanJEC opened #40412 "Cannot find git install."
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-color|ans|0.4.5
vscode-nuget-package-manager|jmr|1.1.6
Go|luk|0.6.69
csharp|ms-|1.13.1
qub-msbuild|qub|0.6.3

---

Steps to Reproduce:

1. Startup Visual Studio Code
2. Cannot find git insta

[2017-12-18 04:59] usernamehw commented on #40389
A duplicate of https://github.com/Microsoft/vscode/issues/35225

[2017-12-18 05:02] apit commented on #40340
@lilianmoraru it is part of vscode arm build, but the resulting rg binary is non executable
@roblourens
[code]

[2017-12-18 05:11] #39609 closed

[2017-12-18 05:13] ramya-rao-a commented on #40409
Closing this issue as there isn't enough information in the title or description to work on.

[2017-12-18 05:13] #40409 closed

[2017-12-18 05:14] roblourens commented on #40340
Does a `chmod +x` help? Since we don't ship an ARM build of vscode, and I don't have an easy way to test this, I'm not going to investigate myself. But if you know what the problem is, I can fix it on my end if that's possible.

[2017-12-18 05:17] ramya-rao-a commented on #40403
You can install the vetur extension for Vue support

[2017-12-18 05:17] #40403 closed

[2017-12-18 05:20] eamodio commented on #40389
I don't think that is a duplicate -- I looked into that issue before I posted, but while it is somewhat related (when clause on keybindings), the issue I'm reporting is purely display only. It is showing the wrong shortcut key in the menu -- everything else works properly.

[2017-12-18 05:30] apit commented on #40340
no.

actually, i just compare the `file` output of rg binary and others in my system. it is linked against non-existent `/lib/ld-linux.so.3`, instead of `/lib/ld-linux-armhf.so.3`.

i was following/adopting instruction in Cross compiling wiki,  perhaps mistake in my part; i'm totally inexperienced in this kind of thing :D. anyway, it works now. yeah!

[2017-12-18 05:37] bpasero commented on #40399
/duplicate https://github.com/Microsoft/vscode/issues/10121

[2017-12-18 05:37] #40399 closed

[2017-12-18 05:38] bpasero commented on #40273
@onlyShadow does it reproduce when you set `"files.useExperimentalFileWatcher": true` ?

[2017-12-18 05:40] bpasero commented on #40404
Marking as /duplicate of https://github.com/Microsoft/vscode/issues/9378

[2017-12-18 05:40] #40404 closed

[2017-12-18 05:49] bpasero commented on #40377
Stack:

[code]

[2017-12-18 05:57] cleidigh commented on #40412
@RyanJEC
Can you provide more information.
- Did you install git from https://git-scm.com/ ?
- Can you perform git commands from the command line?
- any specific error messages?

[2017-12-18 05:57] sjahongir opened #40413 "Compiling Apps with .NET Framework"
- VSCode Version: 1.19.0
- OS Version: Windows 10

Steps to Reproduce:

1. Can I compile, debug and run .net framework (C#) app in vscode?

[2017-12-18 06:03] ramya-rao-a commented on #40308
Closing this issue as the workaround in https://github.com/Microsoft/vscode/issues/40308#issuecomment-352229028 helps in getting around this issue.

The root cause is #40339 which is proposed as a candidate for the recovery release 1.19.1

[2017-12-18 06:03] #40308 closed

[2017-12-18 06:04] luanft commented on #40009
@bpasero  I tried this option `code --disable-gpu` for few days. Visual code works well with this option.

[2017-12-18 06:05] #38863 closed

[2017-12-18 06:05] bpasero opened #40414 "Show picker for multiple imports close to editor"
Just noticed that we now seem to bring up the picker when deciding which import to pick when there are multiple:

![before](https://user-images.githubusercontent.com/900690/34092030-8f5b0432-e3c1-11e7-882c-343e05dec1a4.gif)

It took me a while to understand what was going on, because suddenly focus goes away from the editor while typing and moving into a UI component that is quite far away to the

[2017-12-18 06:09] ramya-rao-a commented on #40389
@eamodio

This is similar to the concern I raised in https://github.com/Microsoft/vscode/issues/27611#issuecomment-305113399

Look at the explanation from @alexandrudima in https://github.com/Microsoft/vscode/issues/27611#issuecomment-307008730

[2017-12-18 06:11] marco0305 commented on #40406
Thank you for your reply!
I have tried to use your method, but it does not work.
Because of the trouble I've tried to clear all settings and reinstall vscode.
So the setting in all setting.json is empty.

Later I reference [# 40329](https://github.com/Microsoft/vscode/issues/40329) and try the "code --disable-gpu" command.
Vscode can be opened normally, thank you very much for your information!
Th

[2017-12-18 06:13] pspgbhu opened #40415 "[BUG] when i renaming the filename, it trigger my keyboard shortcut incorrectly!"
- VSCode Version: 1.19.0 (1.19.0)
- OS Version:  macOS Sierra 10.12.6 (16G1036)

Steps to Reproduce:

#### 1. I bind shortcut `a` to create new file
[code]
#### 2. focus file explore and then to rename a file
when i input letter `a`, it will trigger `explorer.newFile` event, rather than go on to input.

**This problem occured after version 1.190**

Reproduces without extensions: Yes

[2017-12-18 06:15] ramya-rao-a commented on #40391
There is no out of the box formatting support for cs either. For you it seems to be coming from the c# extension that you have installed.

The only languages that have formatting support out of the box are ts/js, html and json.

[2017-12-18 06:15] #40391 closed

[2017-12-18 06:20] ramya-rao-a commented on #40393
For VS Code, you can start with these [introductory videos](https://code.visualstudio.com/docs/getstarted/introvideos) or the [Getting Started Docs](https://code.visualstudio.com/docs)
You can follow that up with [VSCode Tips and Tricks](https://code.visualstudio.com/docs/getstarted/tips-and-tricks)

[2017-12-18 06:20] #40393 closed

[2017-12-18 06:23] usernamehw opened #40416 "Focus integrated terminal on first startup"
1. Have tab other than `terminal` active in panel
2. Reload the editor
3. Activate `terminal` tab
4. After the shell is loaded focus is not set

![terminal_focus](https://user-images.githubusercontent.com/9638156/34092446-844f3442-e3d4-11e7-8b99-e3ec39d68eba.gif)

[2017-12-18 06:25] #40342 closed

[2017-12-18 06:28] serioth commented on #40367
@hua03 I tried it, but unfortunately it did not work. It seems you were right to reopen your ticket.

I am not familiar with the process here. Will a VSC technician get back to us?

[2017-12-18 06:29] ramya-rao-a commented on #40344
Thanks for providing the text file and screenshots. @mjbvz will be following up soon

[2017-12-18 06:32] bpasero commented on #40406
ok closing as duplicate of https://github.com/Microsoft/vscode/issues/40009

[2017-12-18 06:32] #40406 closed

[2017-12-18 06:33] ramya-rao-a commented on #40314
What is a button dock?

[2017-12-18 06:35] #40376 closed

[2017-12-18 06:40] briangonzalez commented on #40035
For anyone else who comes this way, I deleted straight from the extensions dir:

- Windows `%USERPROFILE%\.vscode\extensions`
- Mac `~/.vscode/extensions`
- Linux `~/.vscode/extensions`

[2017-12-18 06:42] lilianmoraru commented on #40340
This might be because the [build instructions](https://github.com/roblourens/ripgrep/blob/vscode/VSCODE_BUILD.md#linux) are for the `softfp` ABI, not for the `hardfp` ABI.

To install the `hardfp` toolchain and cross-compile with it, you can do this:
[code]

Easier with the `musl` target but you need the ARM musl toolchain.

[2017-12-18 06:55] DadyByte opened #40417 "Missing Extension/Settings Export or Google Sign in to port VS code to my other devices"
I request a feature using which I can auto import my extensions and settings when I install vs code on my new machine.

[2017-12-18 06:56] DOTA2mm commented on #40412
I also encountered this problem, add  'git.path' user setting to resolved temporarily.

[2017-12-18 06:59] zuoez02 opened #40418 "Is it necessary to alert "This workspace has extension recommendations" when they're already installed."
- VSCode Version:  1.19.0 816be6780ca8bd0ab80314e11478c48c70d09383
- OS Version:  macOS High Sierra 10.13.1 (17B1003)

Steps to Reproduce:

1. Open old workspce
2. The editor alert "This workspace has extension recommendations".
3. Open extensions by clicking left side button.
4. search "@recommended "
5. It shows workspace recommendations and they're already installed.

Reproduces without extensi

[2017-12-18 07:01] DOTA2mm commented on #40229
I also encountered this problem, add 'git.path' user setting to resolved temporarily.

[2017-12-18 07:02] #40333 closed

[2017-12-18 07:02] Srekel commented on #40076
Same issue here, disabling ripgrep seems to work.

- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.16299

[2017-12-18 07:02] bpasero commented on #40289
@jrieken added some tests via https://github.com/Microsoft/vscode/commit/9812d210d6e509f9d04eb2cca782ead8fc5d39ad but cannot reproduce, which case is not working?

[2017-12-18 07:05] mkszepp commented on #40408
i have the same problem, but only with UNC-Folders like (\\localhost\projectname).

[2017-12-18 07:15] joaomoreno commented on #32681
@will-l-h What are the exact steps to reproduce it in that build?

[2017-12-18 07:20] joaomoreno commented on #38237
If you open the Developer Tools in a session in which `rust` can't be found, is there are error/warning in the Console? What does `process.env.PATH` contain? What about `process.env.SHELL`?

[2017-12-18 07:21] joaomoreno commented on #40320
#6614

[2017-12-18 07:21] #40320 closed

[2017-12-18 07:21] joaomoreno commented on #40323
Can you fully reinstall Code?

[2017-12-18 07:21] eamodio commented on #40389
@ramya-rao-a thanks! That sounds very similar.

This is definitely a tricky one. This might be a bit hacky, but what if there was a new option on a `keybinding` something like `shownWhen` (or `menuWhen`) -- which if it is missing, is always true (so the current behavior stays). But an extension can provide a specific when clause that **should** be checked before showing the shortcuts in the menus?

[2017-12-18 07:23] joaomoreno commented on #40335
You actually shouldn't: https://github.com/Microsoft/vscode/pull/35965

Please install [Git for Windows](https://git-scm.com/).

[2017-12-18 07:23] #40335 closed

[2017-12-18 07:23] takdol commented on #40412
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.7
path-intellisense|chr|1.4.2
EditorConfig|Edi|0.11.1
tslint|eg2|1.0.24
prettier-vscode|esb|1.0.0
Angular2|joh|2.11.2
debugger-for-chrome|msj|4.0.0
angular2-inline|nat|0.0.17

(

[2017-12-18 07:24] bsvipas opened #40419 "Need help with several theme color props"
How to reproduce these color props?

`editorGroup.background`
`editorGroupHeader.noTabsBackground`
`statusBarItem.prominentBackground`
`statusBarItem.prominentHoverBackground`

I read the documentation, but still I can't find them in VS Code.

cc @aeschli

[2017-12-18 07:24] joaomoreno commented on #37827
I'm happy you could find the source of the problem. Closing this.

[2017-12-18 07:24] #37827 closed

[2017-12-18 07:26] joaomoreno commented on #40277
What if you manually make some file system changes (delete a folder, create a file, etc)... Do these changes appear in the explorer?

[2017-12-18 07:26] ramya-rao-a commented on #40417
There are extensions to help you sync settings. See https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync

For extensions, you can check in workspace recommendations in your repo and then get prompted to install those in the new machine. See https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommended-extensions

Also see #2743

[2017-12-18 07:26] #40417 closed

[2017-12-18 07:27] joaomoreno commented on #40350
There is a bug in the output pane right now in `master` which prevents `Open Git Log` from opening. Closing as a duplicate. cc @sandy081

[2017-12-18 07:27] #40350 closed

[2017-12-18 07:29] joaomoreno commented on #40354
It sure seems to be so... This is what git returns:

[code]

[2017-12-18 07:33] joaomoreno commented on #40354
What does `git config --get-all user.name` return, in that folder?

[2017-12-18 07:34] joaomoreno commented on #39010
You need to run this action:

![image](https://user-images.githubusercontent.com/22350/34094648-4f46ecc8-e3ce-11e7-80f2-2025230dbfa1.png)

This will install a proper code CLI launcher.

[2017-12-18 07:34] #39010 closed

[2017-12-18 07:35] joaomoreno commented on #40365
How fast does `git status` run? How many changes (modified, untracked, etc) are there in total?

[2017-12-18 07:37] joaomoreno commented on #40121
@jtleaming Can you reproduce this issue with `code --disable-extensions`? If you can't, what's the extension which causes the issue?

@Cartman16 #40249

[2017-12-18 07:39] joaomoreno commented on #40408
@yuugou727 Is your issue also related to UNC folders?

[2017-12-18 07:40] ramya-rao-a commented on #39789
Thanks for the fix @davidkwan95!

There are a few other upstream emmet issues that I need help with.
Feel free to reach out if you are interested in tackling any of them.

[2017-12-18 07:40] #39789 closed

[2017-12-18 07:40] joaomoreno commented on #40412
https://github.com/Microsoft/vscode/issues/40229

[2017-12-18 07:40] #40412 closed

[2017-12-18 07:43] Adamwu1992 commented on #40277
I will try when it appears again.
Thank you for responding.

[2017-12-18 07:53] DadyByte commented on #40417
i know recommended extensions but I want the etensions which I have installed. I have around 30 extensions how can i export them on multiple pcs?

[2017-12-18 08:09] shiliangL opened #40420 "Custom code snippet can't work"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
bracket-pair-colorizer|Coe|0.10.14
vscode-markdownlint|Dav|0.12.0
react-native-react-redux|EQu|1.4.1
vscode-element-helper|Ele|0.5.1
vsc-material-theme|Equ|1.1.2
output-colorizer|IBM|0.1.2
material-icon-th

[2017-12-18 08:10] #40282 closed

[2017-12-18 08:12] joaomoreno commented on #40339
@ramya-rao-a @aeschli Should't the fix be cherry picked to `release/1.19`?

[2017-12-18 08:13] joaomoreno commented on #40282
**Verification**

I've improved the message to:

I've also added a `Read More` link to https://go.microsoft.com/fwlink/?linkid=865294 which will soon talk a bit more about this setting: https://github.com/Microsoft/vscode-docs/pull/1307

[2017-12-18 08:16] ramya-rao-a commented on #40417
At the moment there is no solution for that.
Please add your thoughts in #2743

[2017-12-18 08:23] ramya-rao-a commented on #39236
Use of `@id` works only if you provide the complete extension id.
What would be ideal is to have `cpptools` as search text and have the `ms-vscode.cpptools` show up in the result.

[2017-12-18 08:25] yuugou727 commented on #40408
@joaomoreno Probably. My project is on a remote LAN path like \\192.168.X.X\dev\. I also found same inline-diff issue which @mkszepp mentioned.

[2017-12-18 08:29] onlyShadow commented on #40273
@bpasero
![_ _20171218162912](https://user-images.githubusercontent.com/12453379/34096546-ab29c136-e410-11e7-8a22-8da0b3f7f954.png)
![_ _20171218162929](https://user-images.githubusercontent.com/12453379/34096547-ab5b8ff4-e410-11e7-8b71-887d5e8a5fef.png)

[2017-12-18 08:33] davidkwan95 commented on #39789
Hi, I would like to try and tackle it @ramya-rao-a . Could you give me the links to the issues?

[2017-12-18 08:38] Jusys opened #40421 "why you're forcing me to use GIT?"
- VSCode Version: 1.19.0
- OS Version: Windows 7, 32bit

Steps to Reproduce:

1. Have version 1.19.0 installed
2. Have no git installed
3. Open VSCode
4. Configuration settings "git.path", "git.enabled" have no effect on this - see images.

Reproduces without extensions: I have no extensions installed
![a](https://user-images.githubusercontent.com/30110941/34096835-826025c8-e3df-11e7-84c7-fc3166f3

[2017-12-18 08:40] ramya-rao-a commented on #40417
For now, here is what you can do for your extensions.
- Make a list of the ids of your extensions and add them as workspace recommendation on a personal repo
- Clone this repo to the new machine, open it in VS Code
- When prompted about workspace recommendations, select "Install All". Or run `Extensions: Show Recommended Extensions` and and then choose the "Install All" button in the workspace rec

[2017-12-18 08:41] usernamehw commented on #40419
`editorGroup.background` - split editor => drag **not** a tab but a **tab group**
`editorGroupHeader.noTabsBackground` - `"workbench.editor.showTabs": false`
`statusBarItem.prominentBackground` - change mode `Toggle Tab Key Moves Focus` from command palette

[2017-12-18 08:41] farfromrefug opened #40422 "global declaration not found when declared inside symlinks directories"
The title is quite self explanatory.
I use the insider version

I join 2 sample projects. In each the actual vscode project is the "project" folder.
In one(working) the global is defined inside a file in a subfolder
In the other the global it s defined inside a symlink subdirectory (thus the deep structure).

[testVSCode_notworking.zip](https://github.com/Microsoft/vscode/files/1567170/testVSCode_

[2017-12-18 08:43] bsvipas commented on #40419
`editorGroup.background` How I can drag not a tab, but tab group? I'm with macOS. I can't select more than more tab.

[2017-12-18 08:44] bsvipas commented on #40419
@usernamehw Thank you very much!!!!

[2017-12-18 08:47] usernamehw commented on #40419
@bsvipas I can't say for macOS, but on Windows when you hover over tab group cursor changes to "grab" and you are able to move tab groups left or right.

[2017-12-18 08:48] bsvipas commented on #40419
@usernamehw I understand now everything, thanks to your help!

[2017-12-18 08:48] #40419 closed

[2017-12-18 09:08] isidorn commented on #37861
@miao17game please try reproducing with latest vscode inisders from here https://code.visualstudio.com/insiders/

Thanks!

[2017-12-18 09:12] joaomoreno commented on #40249
So, the problem is with `I:`.

Please give me exact names... we need to distill this issue to its bare minimum. Does the problem reproduce if you remove that `.git` folder inside the subfolder of `I:`? Is the subfolder immediately inside `I:`, or is it inside another folder?

Try to come up with a very specific git repository in which the problem still occurs and tell me exactly what is in it and

[2017-12-18 09:13] joaomoreno commented on #40277
OK I'll wait

[2017-12-18 09:13] isidorn commented on #40358
Dup of #4895

[2017-12-18 09:13] #40358 closed

[2017-12-18 09:14] joaomoreno commented on #40408
@yuugou727 @mkszepp Was this working in 1.18 for you guys?

[2017-12-18 09:16] mkszepp commented on #40408
yes, in 1.18 it was working

[2017-12-18 09:18] joaomoreno commented on #40324
There shouldn't be any big blockers preventing it. Except maybe Yarn, which requires Node 8. If you can achieve it, awesome.

[2017-12-18 09:18] #40324 closed

[2017-12-18 09:18] weinand commented on #40366
duplicate of 38424

[2017-12-18 09:18] #40366 closed

[2017-12-18 09:20] joaomoreno commented on #40421
This was introduced when we defined `git.enabled` to be a resource setting.

[2017-12-18 09:26] Lopierdis opened #40423 "MacBook heating up and high CPU usage when using VSCode"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:51:12.123Z)
- OS Version: Darwin x64 16.7.0
- Extensions: Extensions are disabled
---

Steps to Reproduce:

1.Open VSCode on macbook pro 15" with touchbar

[CPU-20171218T111947.txt](https://github.com/Microsoft/vscode/files/1567292/CPU-20171218T111947.txt)
[CPU-20171218T111952.txt](https://github.com/Microsoft/v

[2017-12-18 09:26] Jusys commented on #40421
Hi, yes, I know, I can click "Don't show again", just I thought, that with "git.enabled=false" git is fully switched off.

[2017-12-18 09:27] #8808 closed

[2017-12-18 09:30] isidorn commented on #40373
This is a fair feature request. We accept PRs that fix this.
Code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/workbench.ts#L638

[2017-12-18 09:30] alexandrudima commented on #15629
This has been improved substantially with the interval tree reimplementation of decorations, so closing for now...

[2017-12-18 09:30] #15629 closed

[2017-12-18 09:32] #40396 closed

[2017-12-18 09:33] bpasero commented on #40273
@onlyShadow what does "code --status" print when you run with that setting? Make sure to restart when changing this setting.

[2017-12-18 09:33] isidorn commented on #40413
Yes. Try using the vscode c# extnesion.
And please ask questions on stack overflow.

https://code.visualstudio.com/docs/languages/csharp

[2017-12-18 09:33] #40413 closed

[2017-12-18 09:36] joaomoreno commented on #40421
Yes. It is a bug.

[2017-12-18 09:38] joaomoreno commented on #40415
You need to add `&& !inputFocus` to your `when` clause.

[2017-12-18 09:38] #40415 closed

[2017-12-18 09:43] joaomoreno opened #40425 "Workbench doesn't finish loading when Extensions viewlet is first to load"
Windows

1. In Dev, have no extensions in the extensions folder
2. Open the Extensions viewlet
3. Close Code
4. Open it again `.\scripts\code`

![kapture 2017-12-18 at 10 42 30](https://user-images.githubusercontent.com/22350/34099595-38114668-e3e0-11e7-843d-f9e436c4d9be.gif)

[2017-12-18 09:43] alexandrudima opened #40426 "Diff overview ruler entries are not as high as before"
Before:
![image](https://user-images.githubusercontent.com/5047891/34099582-2eed924e-e3e0-11e7-9613-5fd18d5df783.png)

Now:
![image](https://user-images.githubusercontent.com/5047891/34099625-506678be-e3e0-11e7-8df4-72bcc9215c48.png)

[2017-12-18 09:44] #40426 closed

[2017-12-18 09:50] dbaeumer commented on #40361
Yes this is an extension contribution maintained by @egamma. The task runner does use an MRU list.

[2017-12-18 09:52] dbaeumer commented on #17607
The ASCII spinner got replaced by a 'Building..' string. However note that this is only show if a building task is executed. Normal task simply show up with the task status icon (the tools icon in the lower left part of the status bar)

[2017-12-18 09:53] weinand commented on #40256
@bpasero changed the behaviour of `${relativeFile}` with this commit:
https://github.com/Microsoft/vscode/commit/4a8327aa4b2e4173e43f9231be94a0278fd352de

The change was good because it fixed the problem that `${relativeFile}` was using forward slashes on Windows.

However this broke the WSL use case (which only worked by accident before).
In general, VS Code variables are resolved on the Windows

[2017-12-18 09:54] weinand commented on #40345
duplicate of #40256

[2017-12-18 09:54] #40345 closed

[2017-12-18 09:54] dbaeumer commented on #35642
@NathanUr then you should not use 'new'. If you always want to use the same terminal simple use 'dedicated'

[2017-12-18 09:56] ta-riq opened #40427 "VS Code is not remembering all the functions from Wordpress Folder"
I'm Developing WP theme in VS code.

_Now my point is:_

![screenshot_11](https://user-images.githubusercontent.com/26002422/34100082-8d508780-e40b-11e7-8ff6-738432683e30.png)

As you can see in the image above , i'm in `functions.php` file

But when I write `add_action() `, VS code doesnot showing the full add_action() ro me when i start to write `add_ac`

IS there any settings to make it rue or

[2017-12-18 09:57] dbaeumer commented on #40315
This is very likely a problem with PowerShell and Windows 7. Will have a look. @seanmcbreen do we have an idea how many Windows 7 users we have?

[2017-12-18 09:57] sjahongir commented on #40413
@isidorn, Thanks for your answer. But I mean .net framework, not .net core.

![vscode](https://user-images.githubusercontent.com/16816791/34100094-36d905d8-e403-11e7-9fe4-525a28e32a73.png)

[2017-12-18 09:58] dbaeumer commented on #40316
Dups https://github.com/Microsoft/vscode/issues/40228.

[2017-12-18 10:00] #40408 closed

[2017-12-18 10:04] joaomoreno commented on #40408
Code review: UNC paths only work properly for `file:` resources. So, in [the fix](https://github.com/Microsoft/vscode/commit/5f87a2ad405b43eca3dac2ac90464278b80f06b6), if we see a `git:` resource, we must get the path from the `path` component which is JSON stringified and URL encoded.

[2017-12-18 10:05] #39938 closed

[2017-12-18 10:05] #39886 closed

[2017-12-18 10:07] bpasero commented on #40425
Weird, I cannot reproduce :-/

[2017-12-18 10:08] bpasero commented on #40425
@sandy081 any chance some call on the restore of the extensions viewlet waits on the extension service to be ready?

[2017-12-18 10:12] PixelT commented on #40076
Unfortunatelly it stop works for me even if I have `"search.useRipgrep": false` ....

[2017-12-18 10:16] dbaeumer commented on #40228
@rkeithhill thanks for the code review.

I have tried to put the command line into double quotes
[code]

However this makes the command fail if the script path has no blanks or '(' / '[' characters. Is this intended. Since users can specify the install location of VS Code the command needs to run in these install locations as well.

[2017-12-18 10:17] dbaeumer commented on #40228
When executing the command Powershell simply print `& {& 'p:\mseng\VSCode\vscode\out\vs\base\node\ps-win.ps1' -ProcessName 'Code - OSS.exe' -MaxSamples 3}` to stdout.

[2017-12-18 10:19] korenchkyn opened #40428 "Keyboard language switch results in wrong keybindings"
- VSCode Version: Code 1.18.1 (929bacba01ef658b873545e26034d1a8067445e9, 2017-11-16T18:32:36.023Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
theme-monokai-pro-vscode|mon|1.1.2
cpptools|ms-|0.14.4
vscode-icons|rob|7.19.0
(5 theme extensions excluded)
---

Steps to Reproduce:
1. A command is bound to the "ctrl + ~" for example
2. I switch

[2017-12-18 10:21] frank-dspeed commented on #13643
@einord ok i accept that sure but its also importent that a lot of people understand that the current problem of open source is not about missing features its about missing knowleg about the existing tech.

Duplicating functionality all over the opensource world in general is waisting time of tons of developers that could focus on new edge tech and not 70 year old ftp Tech

[2017-12-18 10:24] #40316 closed

[2017-12-18 10:25] #40256 closed

[2017-12-18 10:26] bpasero commented on #40256
fixed via https://github.com/Microsoft/vscode/commit/313a21df3af062a1726e33da78f65145b3876b13

@dbaeumer or @weinand please verify 👍

[2017-12-18 10:37] jsieler commented on #670
Is it possible that HTML is now working within PHP language/files in 1.19? Just tested and i see ait working, even without any extension...

[2017-12-18 10:37] dbaeumer commented on #40256
@bpasero @weinand what will be the path forward. Using slash under Windows can cause problems when used in tasks. So IMI we should use `\` and break this. But we should announce this.

[2017-12-18 10:40] dbaeumer commented on #40228
I retested it and using the commandLine variable as is (without the double quotes around it) works for me with a path having ` (x86)` in it. IMO the double quotes are only necessary if the command is type in a terminal but it is passed to a PowerShell process as one arg element.

@rkeithhill did the insider build containing the fix still fail for you ?

[2017-12-18 10:43] weinand commented on #40256
@dbaeumer yes, I fully agree: environment variables should always use the correct OS path separators. So for VS Code 1.20 we should announce that `${relativeFile}` will be consistent with all the other path variables.

[2017-12-18 10:45] dbaeumer commented on #38178
This is the same problem as with WSL. The underlying reason is that the pathes need / instead of \ and a special starting sequence. When run under Windows task assume a Windows terminal.

[2017-12-18 10:47] dbaeumer commented on #40256
Would be cool to get https://github.com/Microsoft/vscode/issues/40288 for 1.20. Then a user has a nice way of controlling this. @isidorn any concerns ?

[2017-12-18 10:51] bpasero commented on #40256
My intent was to restore the previous (broken) way it was, not to fix the underlying issue.

[2017-12-18 10:53] pspgbhu commented on #40415
i have add `&& !inputFocus`, But it is not ok.
[code]

If I delete this shortcut, there is no problem when I rename a file. But if bind this rule, the problem always occurred.

[2017-12-18 10:57] weinand commented on #40256
Yes, we understand this. @dbaeumer was asking for "the path forward". And I think we have a story for that now.

In general I like #40288. But we'll have to coordinate this with some other requests for variables: #38381, #38327, #38977

[2017-12-18 11:01] bpasero commented on #40256
Sounds good 👍

[2017-12-18 11:01] blling opened #40429 "Go to define not working"
- VSCode Version: 1.19.0
- OS Version: Linux 16.04 LTS

Steps to Reproduce:

1. git clone `https://github.com/react-boilerplate/react-boilerplate.git`
2. open project `react-boilerplate` use VSCode
3. Ctrl+P find file `app/contaners/homepage/index`
4. Ctrl+F find `import H2 from 'components/H2';`
5. Select `H2` and press Ctrl + F12
6. Error `No implementation found...` and then could not go to def

[2017-12-18 11:02] dmrz commented on #35906
Version 1.19, issue is still unresolved.

[2017-12-18 11:04] LaurentBonnaud commented on #37762
"debsums -s code" is supposed to display no output, which means that the package is OK.

[2017-12-18 11:04] LaurentBonnaud commented on #37762
The problem still exists in this package version:
[code]

[2017-12-18 11:10] weinand commented on #40288
We'll have to coordinate this with some other requests for variables: #38381, #38327, #38977

[2017-12-18 11:25] Deilan opened #40430 "[Regression] Debugging of typescript node apps has been broken"
- **VSCode Version**:
_Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)_
_Code - Insiders 1.20.0-insider (08ec16001adaab8a86183431f6aec09209caa4ab, 2017-12-
15T05:15:38.886Z)_
- **OS Version**: _Windows_NT x64 10.0.16299_
- **Extensions**: _none_
---

Debugging works fine in _Code 1.18.1 (929bacba01ef658b873545e26034d1a8067445e9, 2017-11-16T18:32:36.023Z)_. Have to

[2017-12-18 11:31] aeschli commented on #40317
If I understand the spec correctly, NBSP (ascii 255) is a valid identifier character.
https://www.w3.org/TR/CSS21/syndata.html#tokenization.

I could add an optional warning when used.

[2017-12-18 11:37] Yanpas opened #40431 "Interval line numbering show last line number and first selection line"
Enhancement request:
In `"editor.lineNumbers": "interval"` mode show number of the last line (it's handy because it shows empty lines in the end of the file) and first line of the selection (Select lines from 14 to 23 and only 23 will be shown. IMO 14 should be shown too)

[2017-12-18 11:46] aeschli commented on #40149
@pfongkye You are on the right track. To find the other 'data' attributes, you should use the first approach and use the HTMLDocument to find the attributes. Using the regex will fail if `data-` appears in comment, values and element contents.

Please make a pull request, then I can comment directly in the code.
Some stuff that I saw:
- create a separate function/method for your code
- when compar

[2017-12-18 11:49] alexandrudima commented on #40389
This is tough.

Our keybinding system is a rule-based system, which, given a certain concrete context, will resolve a certain keypress to a command. If we were to give that a notation, it would be `f(context,keybinding) => command`

Today, displaying of keybindings next to a command title (what the menus do) is already tricky because it accounts for *statical shadowing*, but it does not account fo

[2017-12-18 11:55] aeschli commented on #40346
Yes, that's expected. A warning will be shown in the settings, and the default theme is used.
But there can be several reasons why the user doesn't want to have the setting removed:
- the extension is temporarily disabled (e.g. by the user or by running code with `--disable-extensions`
- the extension is temporarily uninstalled (e.g. when updating)

For these reasons we rather leave it to the user

[2017-12-18 11:55] #40346 closed

[2017-12-18 11:55] squatOn commented on #38694
@Tyriar No. If I start over with a clean console or new VS Code window, I can recreate the problem by resizing either one of those things and I can make the problem appear.

[2017-12-18 11:57] alexandrudima commented on #40411
The call to `computeDirtyDiff` could use the setting `diffEditor.ignoreTrimWhitespace` instead of hard-coding it to `true` [here](https://github.com/Microsoft/vscode/blob/bcc46316b497d1a316dd47ae86481df3ca5784ee/src/vs/workbench/parts/scm/electron-browser/dirtydiffDecorator.ts#L930). @joaomoreno any objections?

[2017-12-18 11:59] aeschli commented on #40384
How would you know where folding regions are? Just trying blindly to collapse?

[2017-12-18 12:00] alexandrudima commented on #30954
Duplicate of #13612

[2017-12-18 12:00] #30954 closed

[2017-12-18 12:01] aeschli commented on #40390
@bsvipas These are unrelated issues. Please file a separate issue to make 'Show running extensions' themable.

[2017-12-18 12:03] bsvipas commented on #40390
@aeschli Okey. Thank you!

[2017-12-18 12:04] jhasse commented on #28555
@aeschli According to https://github.com/atom/language-c/issues/258#issuecomment-352392939 they are marked as keywords, but somehow VS Code doesn't color  them as such (it works in Atom from my testing). Any idea why?

[2017-12-18 12:04] bsvipas opened #40432 "'Show running extensions' themable"
Right now 'Show running extensions' is not themable:

![image](https://user-images.githubusercontent.com/30043375/34105289-5711e0f6-e3fc-11e7-92b6-3025c6a2b513.png)

As you can see every second row have another color and it's impossible to change it.

cc @aeschli

[2017-12-18 12:04] alexandrudima commented on #40152
The built-in (language agnostic) link detector will look for `http:`, `https:` or `file:` links. By working in all languages, it is, by definition, programming language agnostic. The main purpose of the link detector is that you can paste in links to stack overflow or whatnot in comments and you can easily go there from the editor.

IMHO, the purpose of a link detector is not to evaluate expressio

[2017-12-18 12:05] #40423 closed

[2017-12-18 12:10] soylens opened #40433 "Discarding file changes crashes VS Code"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions: none
---

Steps to Reproduce:

1.Open any file or create a new one
2.Type in anything without saving
3.Close the fiile and select `Don't save`
4.VS Code should crash

[2017-12-18 12:11] dotnetCarpenter opened #40434 "Breakpoints doesn't work for esm files"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T09:56:48.842Z)
- OS Version: Linux x64 4.4.0-104-generic
- Extensions:

Extension|Author (truncated)|Version
---|---|---
beautify|Hoo|1.1.1
project-manager|ale|0.23.1
vscode-color|ans|0.4.5
gitignore|cod|0.5.0
vscode-svgviewer|css|1.4.3
vscode-eslint|dba|1.4.3
git-extension-pack|don|0.1.3
githistory|don|0.2.3
vscod

[2017-12-18 12:12] TomS- commented on #13643
@frank-dspeed You are getting increasingly annoying.

Where did you get them numbers from? There are plenty of FTP extensions available: https://marketplace.visualstudio.com/search?term=ftp&target=VSCode&category=All%20categories&sortBy=Relevance

I very much doubt that these are manned by 15+ people spending 8 hours a week over years of work. All people are asking for is a remote file tree, which

[2017-12-18 12:14] blucell commented on #40152
Yes, it should not do, because 1) it is not the expected behavior and 2) most of the time, the evaluation will require runtime variables to be evaluated which is mostly non-practical.

Maybe I have given a bad example. The problem is at that example, the part `http://example.com/${5` is considered a link, while a saner option is to limit it to `http://example.com/` or even disable link parsing the

[2017-12-18 12:17] ScarySkeleton opened #40435 "Is it possible to use custom root directory for aliases nested into 2 or deeper level for imports?"
In VSCode we able to use aliases for one level nested:
![image](https://user-images.githubusercontent.com/25486085/34105574-81b85faa-e3fd-11e7-91a2-27ce58611f81.png)

And VScode successfully resolves that.
But if I try to add second level nested aliases, for example:
![image](https://user-images.githubusercontent.com/25486085/34105610-b3f902b2-e3fd-11e7-82b6-688c33a2cd2d.png)

The VSCode couldn't

[2017-12-18 12:20] bmewburn commented on #40427
You need to install a PHP extension like [this](https://marketplace.visualstudio.com/items?itemName=bmewburn.vscode-intelephense-client)

[2017-12-18 12:32] DJWassink commented on #12370
Posting issue on electron for reference.
https://github.com/electron/electron/issues/6996

[2017-12-18 12:33] pfongkye commented on #40149
@aeschli thanks for your feedback. I'll make a PR ASAP.

[2017-12-18 12:35] DeadNumbers opened #40436 "code-stdin-bct.txt"
What is the `code-stdin-bct.txt`? I'm builded from source vsc-oss 1.19.0 and now every time when I open vsc I see this file instead of my project.
![_2017-12-18_15-33-47](https://user-images.githubusercontent.com/9416005/34106343-e1194dfa-e408-11e7-839b-d7ff73d0dc34.png)

[2017-12-18 12:40] GoToSea commented on #40392
I think we're not talking about the same problem.

[2017-12-18 12:49] pynklu commented on #40329
Had the same issues (also using vscode-icons) and confirming that editor.tokenColorCustomizations was indeed set to null after the latest update

[2017-12-18 12:58] shenki0007 opened #40437 "pylint problem and python some java"
- VSCode Version: Code 1.19.0 (816be6780ca8bd0ab80314e11478c48c70d09383, 2017-12-14T12:06:43.492Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
code-gnu-global|aus|0.2.2
django-html|bib|1.2.0
django-snippets|bib|1.1.0
java-run|cao|1.1.4
githistory|don|0.2.3
javadebugger|don|0.1.5
jupyter|don|1.1.4
java-debug|DSn|0.0.2
vsc-material-theme|Eq

[2017-12-18 13:11] soylens commented on #40433
I think something is not right with my VS Code installation.
How would I have a clean uninstallation?
I deleted .vscode and %APPDATA%/Roaming/Code but didnt help, I did it on another Computer and couldnt reproduce

[2017-12-18 13:19] bpasero commented on #40433
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2017-12-18 13:23] soylens commented on #40433
Well I restarted and it appears no more. I think the hibernation screwed something up. I get this kind of problems quite frequently though.

[2017-12-18 13:23] #40433 closed

[2017-12-18 13:23] joaomoreno commented on #40415
You have a typo: `inputFoucs`. It's `inputFocus`.

[2017-12-18 13:25] joaomoreno commented on #40411
That's a good idea. I can take this.

[2017-12-18 13:32] pspgbhu commented on #40415
@joaomoreno oh! thank you very much!

[2017-12-18 13:32] #40411 closed

[2017-12-18 13:45] aeschli commented on #40329
duplicate of #40339

[2017-12-18 13:46] aeschli commented on #40339
Ported to release/1.19 with https://github.com/Microsoft/vscode/commit/47372c62f73ec2a0a68f02e07f2e18492d2f0962

[2017-12-18 13:50] expo87 commented on #670
@jsieler in 1.19 and 1.20 it's still not working.

[2017-12-18 13:54] #40437 closed

[2017-12-18 13:56] #40351 closed

[2017-12-18 13:58] johnpapa commented on #40361
Ah. Didn’t realize where it came from. I’ll close this and post there as an idea

[2017-12-18 13:58] #40361 closed

[2017-12-18 13:59] bpasero commented on #40351
We now only read from stdin when the command line has a "`-`" at the end (e.g. `ps aux | grep code | code -`). If you forget to supply the extra "`-`" we will inform you from the command line:

![image](https://user-images.githubusercontent.com/900690/34109493-0e7239f6-e404-11e7-9b5e-c3eae6e9b6b2.png)

[2017-12-18 14:01] aeschli commented on #40229
I verified the steps from https://github.com/Microsoft/vscode/issues/40229#issuecomment-351960784

[2017-12-18 14:01] bpasero commented on #40436
/duplicate https://github.com/Microsoft/vscode/issues/40351

[2017-12-18 14:01] #40436 closed

[2017-12-18 14:04] biztechlanka commented on #40217
may be am wrong but if we got a settings to set when we build from terminal, lets say ng build should save the files but is not. Is that possible ?

[2017-12-18 14:09] dbaeumer commented on #40217
This would be a feature request against the terminal and very hard to implement since the VS Code actually doesn't know when it would be a could time to save.

[2017-12-18 14:13] #40434 closed

[2017-12-18 14:14] MACDfree commented on #40229
如果使用中文的Windows 10出现`git.path`明明配置了但还是报错找不到git的情况，请把配置的路径删了自己手打一遍，因为从资源文件属性中复制的路径可能存在编码问题，入下图：
![image](https://user-images.githubusercontent.com/3363410/34109902-fd78d920-e43f-11e7-9940-f40a14036544.png)
![image](https://user-images.githubusercontent.com/3363410/34110151-c1747136-e440-11e7-89b8-aa1f5676d8bd.png)

[2017-12-18 14:21] sandy081 commented on #40357
@letmaik Is it possible to provide a sample that can reproduce this issue? It will be helpful to diagnose the issue correctly rather than doing some guess works.

[2017-12-18 14:22] Tyriar commented on #40416
I can reproduce on mac

[2017-12-18 14:24] sandy081 commented on #38496
@isidorn I assume you are not using configuration service to write debug stuff. Hence assigning to you.

[2017-12-18 14:26] #25965 closed

[2017-12-18 14:27] #34193 closed

[2017-12-18 14:28] bpasero commented on #35246
On Windows and Linux we are now using custom select box (via https://github.com/Microsoft/vscode/pull/37533)

[2017-12-18 14:28] #35246 closed

[2017-12-18 14:28] bpasero commented on #25700
On Windows and Linux we are now using custom select box (via #37533)

[2017-12-18 14:28] #25700 closed

[2017-12-18 14:28] bpasero commented on #25619
On Windows and Linux we are now using custom select box (via #37533)

[2017-12-18 14:28] #25619 closed

[2017-12-18 14:29] bpasero commented on #21193
Fyi pushed the change to use custom select box on Windows and Linux at least.

[2017-12-18 14:30] Tyriar commented on #40199
Thanks all! I'll close it out in favor of #36630 then.

[2017-12-18 14:30] #40199 closed

[2017-12-18 14:31] bpasero opened #40438 "Custom select box: Trigger item only on mouse up"
This is a follow up from #37533. I noticed that an item is selected in the dropdown on mouse down already while the native control seems to be on mouse up (which allows to click an item and then move the mouse to pick another item).

I suggest to change the custom select box to also only react on click/mouseup and not mousedown.

[2017-12-18 14:32] isidorn opened #40439 "Git: Open new file icon looks bad when element selected"
![screen shot 2017-12-18 at 15 31 18](https://user-images.githubusercontent.com/1926584/34110970-8d8d639c-e408-11e7-8f1f-53b12c1b2719.png)

Compared to the other icons it looks not strong enough. Another problem is that parts of that icon are blue which get invisible when the element is selected.

[2017-12-18 14:35] weinand commented on #40430
Your launch config is wrong (and it was only working in previous versions of VS Code because of bug #16173).
The problem is that you are passing **all** arguments via the "runtimeArgs" attribute. This makes it difficult for VS Code to insert the "--inspect-brk" argument it the right location.

Instead you should only pass nodemon arguments via "runtimeArgs", then use the "program" attribute for yo

[2017-12-18 14:38] sandy081 commented on #40425
@bpasero Extensions viewlet has no dependency on extensions ready promise.

[2017-12-18 14:39] alexandrudima commented on #40398
Fixed by PR #40388

[2017-12-18 14:39] #40398 closed

[2017-12-18 14:43] aeschli commented on #40419
Thanks a lot, @usernamehw. I updated the descriptions and the docs with the additional information.

[2017-12-18 14:46] egamma commented on #40257
@dlebu discussed it with @sandy081 and the plan is to show progress in the status bar as some other extensions (e.g. C#) do it when they download and install additional code.

[2017-12-18 14:49] weinand commented on #40427
Please file this issue against the php extension you are using.

[2017-12-18 14:49] #40427 closed

[2017-12-18 14:53] weinand commented on #40435
@ScarySkeleton what configuration file are the two screenshots from above showing?

[2017-12-18 14:57] ScarySkeleton commented on #40435
@weinand tsconfig.app.json

[2017-12-18 14:59] weinand commented on #39992
Please upgrade to the latest VS Code 1.19 and let us know if the problem still exists.

[2017-12-18 14:59] #39992 closed

[2017-12-18 15:02] weinand commented on #40037
Please try the latest VS Code 1.19 and let us know if the problem still exists.

[2017-12-18 15:02] #40037 closed

[2017-12-18 15:03] Tyriar commented on #39892
@bpasero

Yes, we only support launching the Windows executable via WSL. It is possible to run the Linux version by installing an  server but it can be hard to get working and is flaky/weird. AFAIK the console team doesn't recommend launching GUI apps via WSL generally.

Yeah that's to convert the paths, I didn't move on that because wslpath looked so large (and was python), we'd probably want to

[2017-12-18 15:03] weinand commented on #40159
Please use a recent version of VS Code. The latest is 1.19.0. You are 9 releases behind.

[2017-12-18 15:03] #40159 closed

[2017-12-18 15:04] weinand commented on #40200
Not enough info. Closing.

[2017-12-18 15:04] #40200 closed

[2017-12-18 15:04] bpasero commented on #40425
I can reproduce, but only on Windows and only when running out of dev.

[2017-12-18 15:04] #40439 closed

[2017-12-18 15:04] fabiospampinato commented on #38137
The only pattern I can see is that the text gets cropped after 1018 characters, but only if that's the very first text being sent to the terminal, otherwise it works fine.

[2017-12-18 15:05] #40003 closed

[2017-12-18 15:05] sandy081 commented on #40425
But, I think the [ViewsViewlet](https://github.com/microsoft/vscode/blob/master/src/vs/workbench/browser/parts/views/viewsViewlet.ts#L299) uses extensions ready promise.. but it is not a blocking one though

[2017-12-18 15:06] weinand commented on #40306
Please file this issue against the PowerShell extension.

[2017-12-18 15:06] #40306 closed

[2017-12-18 15:07] pennwang23 commented on #40329
you're welcome. @stvreumi
thanks for your work. @ramya-rao-a

[2017-12-18 15:09] letmaik commented on #40357
Extracting a minimal example will take some effort (I can do it but currently I'm quite busy), I was hoping you guys have some debugger kung fu which would expose the root of the exception easily. In the mean time I was trying to debug the exception under a source-built VS Code (and then simply loading my extension into it via a .vsix file), but I got stuck at the boundary of some extension host p

[2017-12-18 15:09] weinand commented on #40435
@ScarySkeleton you really mean `tsconfig.json`, right?

[2017-12-18 15:11] weinand commented on #40435
Oh I see, this is Angular?

[2017-12-18 15:17] ScarySkeleton commented on #40435
@weinand, exactly. Built with Angular CLI

[2017-12-18 15:17] will-l-h commented on #32681
@joaomoreno

Same as original post; expanded here with a little more detail:

Delete the first line in a file tracked by Git
Go down a few lines of code and modify any line after what is the new line 1, e.g. line 4, save the file
On the Working Tree view of the file, place cursor on the edited line (line 4), select Revert Selected Ranges from the ellipses menu in the upper right
A prompt appears t

[2017-12-18 15:17] apit commented on #40340
@lilianmoraru you mean vscode when cross-compiled or build on actual ARM is configured for `softfp`?

[2017-12-18 15:20] weinand commented on #40435
I don't think that VS Code's typescript automatically understands the "paths" attribute of "tsconfig.app.json". But @mjbvz might know.

[2017-12-18 15:21] hamaney commented on #40352
@ramya-rao-a  yes I do see the issue when I run
`code --user-data-dir <EmptyFolder>` and
`code --disable-gpu`

Here is the Console output:
[code]

when I checked `editor.tokenColorCustomizations` i foun it was set to `null` in the settings file at `~/Library/Application Support/Code/User/settings.json`. After changing its value to `{}` it workd :)

Thanks

[2017-12-18 15:21] #40352 closed

[2017-12-18 15:23] timobehrens opened #40440 "Only one tab is open at the same time"
- VSCode Version: Version 1.19.0 (1.19.0)
- OS Version: MacOS 10.13.1

Steps to Reproduce:

1. Open VScode
2. Tabs are broken

Reproduces without extensions: Yes!

For some strange reasons, my tabs are completely broken. As you can see in the screenshot, I have multiple "OPEN EDITORS" (top left), but only one tab is present at a time. Furthermore, the x to close the tab is all the way on the right

[2017-12-18 15:23] ScarySkeleton commented on #40435
@weinand VS Code's typescript is understood relative paths of 1 level nesting, as shown from above, but I don't exactly sure, that it can understand more than 1.

[2017-12-18 15:25] aeschli commented on #40390
Fixed by https://github.com/Microsoft/vscode-docs/commit/67697a7543006c8670bc355112c1ec05103f40f5

[2017-12-18 15:25] #40390 closed

[2017-12-18 15:28] lilianmoraru commented on #40340
@apit The `arm-unknown-linux-gnueabi` is a `softfp` target.
Since the instructions mention it, my guess is that `softfp` is used to build the binary.
Considering that `hardfp` is supported by most ARM devices, I think that should be the main target(`arm-unknown-linux-gnueabihf`).

[2017-12-18 15:29] eamodio commented on #40389
So 2 more thoughts on this. I noticed when hooking this up in GitLens, that I was unable to use `config.*` in the `when` clause for a keybinding (which is different than commands). But if we were able to use `config.*` in the keybinding `when`, then maybe they could be used for the case where you have to choose between showing more than 1 keybinding, since configuration is in theory far more stabl

[2017-12-18 15:32] demoran23 commented on #39991
I haven't forgotten about this one.  I've been busy, but I intend to create a new React Native project that uses all of the same imports we use in our closed codebase and replicate the issue there.

[2017-12-18 15:34] weinand commented on #40256
verified on all platforms: `${relativeFile}` uses forward slashes on all OSes

[2017-12-18 15:35] khuongduybui commented on #13138
@nickweavers thank you for not talking about launching "code.exe" from WSL. For once someone is on topic 👍

The problem is not with VSCode. It's with Blink (Chrome's fork of WebKit). Everything Blink-based, including Google Chrome and all Electron apps don't work on WSL as of latest fast ring (prerelease 4).

[2017-12-18 15:37] davegregg opened #40441 "File /tmp/code-stdin-XXX.txt is created and opened on launch via hotkey in Ubuntu"
- VSCode Version: Code - Insiders 1.20.0-insider (bcc46316b497d1a316dd47ae86481df3ca5784ee, 2017-12-18T11:54:10.001Z)
- OS Version: Linux x64 4.13.0-19-generic (Ubuntu Artful Aardvark, Budgie desktop)
- Extensions: none
---

Steps to Reproduce:

1. Set Code to launch with hotkey via Keyboard (either `code-insiders` or `code-insiders -a`).
2. Launch via hotkey.
3. Observe a new file open at `/tmp/c

[2017-12-18 15:37] esetnik commented on #38805
Confirmed this is still not working in `1.19.0 stable (816be6780ca8bd0ab80314e11478c48c70d09383)`

[2017-12-18 15:39] esetnik commented on #38805
May be related to https://github.com/Microsoft/vscode/issues/25934 https://github.com/Microsoft/vscode/issues/38067

[2017-12-18 15:40] Tyriar commented on #40356
Duplicate https://github.com/Microsoft/vscode/issues/37813

[2017-12-18 15:40] #40356 closed

[2017-12-18 15:40] Deilan commented on #40430
@weinand Thanks for the explanation. I've tried the suggested debug configuration and I've got the following error message on both 1.18.1 and 1.20.0:

There's no `outFiles` and as far as I understand specifying them doesn't make sense. Of course if I specify `outFiles` as an empty array I get:

[2017-12-18 15:43] egamma commented on #40390
Removing the recovery milestone since this is a vscode-docs change.

[2017-12-18 15:46] isidorn commented on #38496
I acknowledge the bug, here a code pointer in case some user is passionate about fixing it
https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugConfigurationManager.ts#L541

[2017-12-18 15:49] weinand commented on #40430
You do not seem to have an explicit build task that transpiles TS to JS.
The `ts-node` seems to be the tool that transpiles.
That means VS Code cannot really know where the generated JS lives.
But since `ts-node` takes care of it, VS Code does not really has to know.

Remove the "program" attribute and insert the "${workspaceRoot}/src/index.ts" as the first argument of the "args" attribute just be

[2017-12-18 15:52] Tyriar commented on #40175
You're not giving me much to go on 😄 I can't seem to reproduce.

Could you try set up the demo for https://github.com/xtermjs/xterm.js and see if the problem occurs there as well? If you have node setup it should be pretty easy to get running:

[code]

[2017-12-18 15:53] davegregg commented on #40441
Correction: I *am* able to test on Gnome. And yes, I can reproduce the problem using the same steps as above, so I think we can rule out Budgie as the source of the problem. Both, however, use the same Keyboard settings panel in `gnome-control-center` to manage hotkeys.

[2017-12-18 15:54] svictoreq opened #40442 "Insiders version does not show any updates daily on Ubuntu"
- VSCode Version: Insiders 19.0 commit 816be6780ca8bd0ab80314e11478c48c70d09383 DATE 2017-12-13
- OS Version: Ubuntu 17.10

Steps to Reproduce:

1. Install Insiders version on Ubuntu with .deb package
2. Run `sudo apt update` and `sudo apt list --upgradable` daily to check for updates
3. No Insiders updates available

Reproduces without extensions: Yes

I have to manually download Insiders updates

[2017-12-18 15:55] Tyriar commented on #40362
Can you paste in the 'tect' text to the issue that's causing the problem

[2017-12-18 15:55] ramya-rao-a commented on #40352
duplicate of #40339
The fix will be out in the recovery build of 1.19.1

[2017-12-18 15:56] Tyriar commented on #38256
I assume you're talking about the dropdown feature that shows up in Powershell/ISE (I think)? If so that's unfortunately as designed currently due to the way the VS Code terminal backend works.

[2017-12-18 15:56] #38256 closed

[2017-12-18 15:56] leonadler commented on #40441
Will be fixed in the next version, apparently.

https://github.com/Microsoft/vscode/issues/40351#issuecomment-352432867

[2017-12-18 15:57] leonadler commented on #40441
Workaround for now:
1. Open terminal
2. Type `code`
3. Close terminal

[2017-12-18 16:01] alchatti commented on #36630
@shawinder [ using bash works, thanks ](https://github.com/Microsoft/vscode/issues/36630#issuecomment-351290655) In case it didn't just re-pull the images which are causing issues using git bash. Thanks.

[2017-12-18 16:03] Deilan commented on #40430
Yep, that worked. Thanks @weinand!

[2017-12-18 16:03] pwwang commented on #13643
@TomS- +10
@frank-dspeed Just stop commenting if you haven't really worked on a project that needs remote editing. You just don't understand what kind of convenience it will bring to us if you can just simply operate the remote files/folders on the sidebar.

[2017-12-18 16:04] bpasero commented on #40441
Closing as duplicate.

[2017-12-18 16:04] #40441 closed

[2017-12-18 16:06] dbaeumer opened #40443 "Clear --inspect* / --debug* arg when starting extension host"
To be able to better track down problems with the extension host we start the extension host always with --inspect. The LSP forwards this to the LSP servers. As a consequence all servers are now started in debug mode as well. It might also have impact on node processes that are fork since command line arguments are preserved.

For LSP server the problem might be:

- the server could be started wit

[2017-12-18 16:09] Tyriar commented on #37884
@rprichard do you expect the colors to not work in winpty/PS even though cmder seems fine?

[2017-12-18 16:11] bpasero commented on #40425
@sandy081 it looks like the call to [`this.extensionManagementService.getInstalled`](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/extensions/electron-browser/extensionsViewlet.ts#L231) is deadlocking:

![image](https://user-images.githubusercontent.com/900690/34115532-37bd248a-e416-11e7-865f-99c0d5ec5ef1.png)

@alexandrudima could this be a regression from your changes to

[2017-12-18 16:14] bpasero commented on #40440
@timobehrens maybe you disabled tabs, make sure you have this setting:

`"workbench.editor.showTabs": true`

[2017-12-18 16:14] #40440 closed

[2017-12-18 16:14] Tyriar commented on #37858
👍

I'll add another command for this so you can replace the keybinding to the get desired behavior without an extension.

[2017-12-18 16:14] #40430 closed

[2017-12-18 16:23] Relequestual commented on #23016
@kieferrm So you're saying that the VSCode team have no interest in how JSON Schema develops, despite heavily using it?

[2017-12-18 16:27] Yanpas opened #40444 "Unix terminal delete word support (alt + backspace)"
`Alt + Backspace` is common shortcut across unix terminals to delete word (to the first non alphanum character). Add it's support please.

[2017-12-18 16:27] Tyriar commented on #37858
@jtanx in the next version there will be a `workbench.action.terminal.newInActiveWorkspace` command with the behavior you're after. Add this to get the old behavior:

[code]

[2017-12-18 16:31] aeschli commented on #40338
Configuring additional folding markers in the settings is #36002.

[2017-12-18 16:31] roblourens commented on #40340
Thanks @lilianmoraru, I'll use that next time I publish new binarise.

[2017-12-18 16:33] #37858 closed

[2017-12-18 16:33] Tyriar commented on #37858
@coderkk @jtanx thanks for the suggestions 😃

<img width="513" alt="screen shot 2017-12-18 at 8 32 07 am" src="https://user-images.githubusercontent.com/2193314/34116634-0ce8a6d2-e3ce-11e7-935c-7d2dd5c696df.png">

[2017-12-18 16:33] pdesjardins90 opened #40445 ""editor.links": true => File not found error with absolute href paths"
In an HTML file, when clicking a link with an absolute href to a file in my project, I get this error: `'Impossible to open my-linked-file.html' File not found: (file:///file:/Users/MyUsername/Documents/MyProject/my-linked-file-name.html)`

This started happening immediately after I updated vscode to 1.19. It doesn't happen with a relative path.

- VSCode Version: 1.19.0
- OS Version: macOS 10.13.

[2017-12-18 16:35] Tyriar commented on #38810
@bakarydiarra could you run `echo %PATH%` within the terminal and see what the PATH value is? Then open devtools (Help > Toggle Developer Tools) and run `process.env.PATH` in the console and inspect that value? This will help diagnose at what level the problem is starting.

[2017-12-18 16:35] roblourens commented on #40076
@PixelT I asked you a question about your problem in #40272 earlier

[2017-12-18 16:35] aeschli commented on #39642
Closing, behaves as expected. This will eventually work when we introduce a snippet file extension (.vscode-snippets) (As discussed with @jrieken )

[2017-12-18 16:35] #39642 closed

[2017-12-18 16:37] Tyriar commented on #38068
@zadjii-msft is this the same? https://github.com/Microsoft/console/issues/40

[2017-12-18 16:39] zadjii-msft commented on #38068
Yep that looks like the one!

[2017-12-18 16:42] Tyriar commented on #39118
Thanks for the help, I got it set up. Hey this is pretty cool autocomplete :smile:

Seems to work for me:

![image](https://user-images.githubusercontent.com/2193314/34117023-3ba2851e-e3cf-11e7-96a3-69e1306f91dd.png)

I'm guessing this is related to themes. Could you try changing the theme (ctrl+k, ctrl+t) and see if it works on some? If so there's an issue with the theme(s) that needs to be fixed

[2017-12-18 16:47] rkeithhill commented on #40228
I suppose node's `spawn` command is quoting the entire contents of command `commandLine` since there are spaces in it.  So yeah, it appears you don't have to quote them again.  I'll check the x86 issue later tonight.

[2017-12-18 16:48] Tyriar commented on #38292
Upstream issue: https://github.com/xtermjs/xterm.js/issues/1152

[2017-12-18 16:48] Tyriar commented on #38296
Upstream issue: https://github.com/xtermjs/xterm.js/issues/1151