[2019-08-23 02:16] #79673 closed

[2019-08-23 02:17] #78258 closed

[2019-08-23 02:27] nosaj07 opened #79674 "Integrated Terminal Clear Bug"
Issue Type: <b>Bug</b>

There is an bug after i clear the git terminal.
The Cursor is already on top, but the words still in the same place.

The terminal not actually cleared.

What i did are:
       -Commit my changes;
       -Add commit message in vim
       -Check log(git log --oneline)
       -Clear the terminal (clear)

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35,

[2019-08-23 02:35] nosaj07 commented on #79674
found a issue related already open [https://github.com/microsoft/vscode/issues/75141](url)

[2019-08-23 02:37] #79674 closed

[2019-08-23 02:42] Omir85 commented on #7998
My 2 cents on this (I know, closed and aging) issue: I have added one environmental variable to include my cygwin bin folder to Windows path, and the warning message was removed after restarting VSCode.

[2019-08-23 03:04] getvictorh opened #79675 "Detect File Encode Wrong"
Issue Type: <b>Bug</b>

Opening files on Windows-1252 detects ISO 8859-2.
When you try to save it to another encode, such as UTF-8 does not save it.
In many cases, it incorrectly detects files in the format tis620 when they are actually in UTF-8.
VSCode is an excellent editor and works great, but it is not usable with these bugs. Please fix these bugs.
Thanks a lot

VS Code version: Code 1.37.1 (f

[2019-08-23 03:17] yuchenzhen commented on #79646
<img width="1438" alt="WeChatWorkScreenshot_066f99fc-c932-49b5-b36e-8a01316d7faa" src="https://user-images.githubusercontent.com/16936490/63564283-1126cd80-c597-11e9-9e1a-9d887317361d.png">

On the bottom you can see the status bar blocked by the white long bar which only shows up when i use vscode.   The white long bar cannot type any word on it.

[2019-08-23 03:33] junlas commented on #79486
thank you for your response, now I'm using version 1.37.1, and the bug seems to have gone away again in the last two days, but I can be sure that it has been present in several previous versions, every time I create a new ES6 JS file, it always appears when I write code in it.

[2019-08-23 03:34] pavelfeldman commented on #79583
@isidorn: either way works for me. Reusing thread name would mean that I don't need to worry about it outside my DAP implementation, but that is not critical.

[2019-08-23 03:54] Hxlone opened #79676 "vscode"
🚨 The issue tracker is not for questions 🚨
test vscode

[2019-08-23 04:50] #79561 closed

[2019-08-23 04:50] einstein6012 commented on #79561
It fixed itself with the latest update

[2019-08-23 04:55] byyxx128 commented on #79675
Duplicate of #33720

[2019-08-23 04:55] anaisbetts commented on #32813
Came here via @DanTup - I'm trying to write a VS Extension to sync your color theme to Windows Terminal, but this bug blocks it. This information is available internally (via "Generate Color Theme from Current Settings"), but I have no sane access to it

[2019-08-23 05:12] paulyoung commented on #32813
@anaisbetts I’ve done this before. It’s not exactly sane but it worked for me at the time.

[code]

where

[code]

[2019-08-23 05:16] paulyoung commented on #32813
Usage:
[code]

[2019-08-23 05:17] PsPsam opened #79677 "Copy code from vscode to ex Word shows $nbsp instead of space."
Issue Description
Copying code from Insider build 1.38.0 to Word will show &nbsp instead of blankspace. The format of the document is PowerShell.

This doesn't happen in the stable version

![image](https://user-images.githubusercontent.com/20344934/63568571-eed08800-c575-11e9-91d9-936ac2a73b1a.png)

- VSCode Version: 1.38.0-Insider user
- OS Version: Windows 10

Steps to Reproduce:

1. Open a Pow

[2019-08-23 05:24] Snyeswa opened #79678 "Browser is Not supported WebStock for Live Reloading"
Issue Type: <b>Bug</b>

'Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A8-6410 APU with AMD Radeon R5 Graphics     (4 x 1996)|
|GPU Status|2d_can

[2019-08-23 05:34] bpasero commented on #79603
@deepak1556 try with this commit: `df0dd2edc279af12fdf6140bb4362231fa8dc8a3`

[2019-08-23 05:36] bpasero commented on #69335
@roblourens I commented on that commit and now I wonder: should we also print a link to some wiki page that explains our reasoning for deprecation? We have https://github.com/microsoft/vscode/wiki/Adopting-Multi-Root-Workspace-APIs#eliminating-rootpath but maybe we should make a new wiki page that links to that page but also explains that we plan to permanently change `rootPath` to be undefined in

[2019-08-23 05:37] garyng commented on #79678
An extension issue. Check https://github.com/ritwickdey/vscode-live-server.

The solution is obvious: update your browser.

[2019-08-23 05:42] garyng commented on #79672
A simple google search gave me this: https://stackoverflow.com/questions/25590667/class-structure-to-formatted-json-in-dart

Use [`JsonEncoder.withIndent`](https://api.dartlang.org/stable/2.4.1/dart-convert/JsonEncoder/JsonEncoder.withIndent.html).

[2019-08-23 05:43] bpasero opened #79679 "Custom dialog: cannot copy text"
I think we should not prevent to select text from our custom dialogs. Currently I cannot select and copy, e.g. here:

![image](https://user-images.githubusercontent.com/900690/63569454-bdf25200-c579-11e9-9b27-e0e434c0a518.png)

[2019-08-23 05:49] ScottRudiger opened #79680 "workbench.action.quickOpen (⌘P) switch between two files quicker"
#### TL;DR: `⌘P, Enter` switches to previously viewed file (rather than `⌘P, ↓, Enter`)

Currently, one way to switch between two files quickly is to use **`⌘P, ↓, Enter`**. However, I would prefer the ability to save a keystroke here so that it is consistent with how I use [this Chrome extension](https://chrome.google.com/webstore/detail/quick-tabs/jnjfeinjfmenlddahdjdmgpbokiacbbb). It basically

[2019-08-23 06:00] SaMiCoOo opened #79681 "Can't install any extensions !!"
Issue Type: <b>Bug</b>

1. Open vscode
2. Open Extension manager
3. Click install on any extension
-> Notification appears saying:
Failed to install '<extension.name>'.

I opened devtools and found that any requests made to `vsassets.io` fails without status codes.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:16:34.800Z)
OS version: Darwin x64 18.7.0

<det

[2019-08-23 06:01] jrieken commented on #23927
Good question... I have chooses the current approach so that we don't have tags without (base) kinds. E.g an item could only be tagged as `readonly`... Internally the API is two field, but also because `kind` isn't optional. It might be OK as we have a default kind but it's also a little weird...

[2019-08-23 06:07] sbatten commented on #79679
/duplicate #71407

[2019-08-23 06:07] #79679 closed

[2019-08-23 06:09] Snyeswa commented on #79678
Thanks for the help and I will follow the link to solve the issue. My browser is actually up to date and I'm still getting the same error.
Google Chrome is up to date
Version 76.0.3809.100 (Official Build) (64-bit)

[2019-08-23 06:12] jrieken commented on #23927
It's not like this

[code]

The alternative, with tags as it own field would be this

[code]

[2019-08-23 06:18] jrieken commented on #69335
This needs more tweaking and cannot ship in its current form

[2019-08-23 06:20] chenxuuu opened #79682 "file is bin, can't open as text"
Issue Type: <b>Bug</b>

in chinese :文件似乎是二进制文件，无法作为文档打开

when I open a txt file, I can't change its encoding, vscode show this

![图片](https://user-images.githubusercontent.com/10357394/63570885-23ae0080-c5b1-11e9-8815-a643e35775b6.png)
![图片](https://user-images.githubusercontent.com/10357394/63570898-2f012c00-c5b1-11e9-8076-3fe64cbeaed8.png)

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe

[2019-08-23 06:27] jrieken commented on #79630
🤷‍♂ no clue, the `editor.action.clipboardCopyAction` is from the editor. I have tested snippets and they seem to work.

@ottopic What is macro? Is that an extension you are using?

[2019-08-23 06:31] shanDeNaBianHaiDeNaBian opened #79683 "创建 weex 项目无响应"
Issue Type: <b>Bug</b>

创建 weex 项目无响应
帮助-切换开发人员工具-后在控制台发现：
 ERR spawn git ENOENT: Error: spawn git ENOENT
	at Process.ChildProcess._handle.onexit (internal/child_process.js:232:19)
	at onErrorNT (internal/child_process.js:407:16)
	at process._tickCallback (internal/process/next_tick.js:63:19)

Extension version: 0.1.7
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-

[2019-08-23 06:31] sbatten commented on #79633
@djmisterjon can you check your setting `workbench.useExperimentalGridLayout`

[2019-08-23 06:37] ottopic commented on #79630
Yes it is, is very used [extension](https://github.com/geddski/macros) to execute commands.
I use this one because I think is not possibile do the same think only using snippet functionality.

[2019-08-23 06:55] dbaeumer commented on #79579
@bpasero I think this is something set in the workbench.

[2019-08-23 06:59] yota-code opened #79684 "Middle click copy paste cross platform"
I saw ways to disable click-middle copy-paste under linux, but I was looking for the possibility to emulate it under platforms like windows.

The feature would enable a click-middle copy paste behavior under platforms who don't support it natively, like [jedit](www.jedit.org) does...

1. Any (newly) selected text will be placed into the clipboard
2. A middle-click action will insert the text conte

[2019-08-23 07:01] bpasero commented on #74323
@deepak1556 isn't this good?

[2019-08-23 07:01] bpasero commented on #79569
Done 🚀

[2019-08-23 07:01] #79569 closed

[2019-08-23 07:03] bobsort opened #79685 "All @tag:usesOnlineServices settings are disable (enabled for some) but vs code is still trying to connect to Internet"
Issue Type: <b>Bug</b>

All updates and online services are disabled based on settings specified here

https://code.visualstudio.com/docs/supporting/faq#_how-to-disable-telemetry-reporting

But VSCode is still trying to connect to Internet
Connection attempts are to
224.0.0.252 (llmnr)
8.8.8.8 (dns)

I have disabled DNS service from services.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3f

[2019-08-23 07:03] alexr00 commented on #79661
`resolveTask` gets called when tasks are enumerated, not when they are run. If you have automatic tasks enabled in the folder that you are opening, then task enumeration will happen shortly after you open the folder.

[2019-08-23 07:04] #79661 closed

[2019-08-23 07:05] bpasero commented on #79579
@harujii wanna do a PR for this change

[2019-08-23 07:06] alexr00 commented on #79662
The task is incomplete. See example: https://github.com/microsoft/vscode-extension-samples/blob/master/task-provider-sample/src/rakeTaskProvider.ts#L29

[2019-08-23 07:06] #79662 closed

[2019-08-23 07:06] jrieken commented on #79630
Ok, please forward this issue to the extension that. The extension is using `vscode.commands.executeCommand` which returns a promise but that extension isn't awaiting those promises, see https://github.com/geddski/macros/blob/master/extension.js#L34. Reading from the clipboard is now async and mostly like a command is started before the previous command is done.

[2019-08-23 07:07] #79630 closed

[2019-08-23 07:11] gjsjohnmurray commented on #79336
For another tip to reduce stat load see #78710. I submitted a PR for that issue but it hasn't yet been accepted.

[2019-08-23 07:12] bpasero commented on #77207
This no longer reproduces for me. @beastdestroyer can you try with latest?

[2019-08-23 07:14] alexr00 commented on #78817
@kcaze can you point me to a version where global tasks worked? The "Must have workspace folder" error would have happened even before
 https://github.com/microsoft/vscode/commit/7705bbd564412e3f31272c3f69573e770b88733e since the workspace folder was still checked.  If this is a regression I want to fix it though.

[2019-08-23 07:16] LeopoldLerch opened #79686 "No references codelens for default typescript export"
Hi
Somowhow I do not get the references to show up if I use a arrow function like this (as for a React Hook)

![image](https://user-images.githubusercontent.com/28888039/63573694-47a81c80-c586-11e9-8acc-217e1db4fe61.png)

As you can see in the image left above, if I peek for references VSCode does find them. If I do the same using the "old" "function" declaration, it works. I managed CodeLens to s

[2019-08-23 07:16] bpasero commented on #71407
What?

![image](https://user-images.githubusercontent.com/900690/63573853-b7b6a280-c586-11e9-9ef8-51ac6cde2621.png)

[2019-08-23 07:17] dbaeumer commented on #69335
Such a change would need some major code changes in the LSP client library to keep it backwards compatible. Also the library doesn't reference `rootPath` it emulates it using the code here: https://github.com/Microsoft/vscode-languageserver-node/blob/master/client/src/client.ts#L2930 . This is to avoid unnecessary deprecation warnings for extensions were the server does support rootPath.

If a ser

[2019-08-23 07:19] niuniuliu opened #79687 "cursorColumnSelectLeft, cursorColumnSelectRight"
Issue Type: <b>Bug</b>

cursorColumnSelectLeft and cursorColumnSelectRight do not work.

text editor mode -

Try to make the selection lines enter the multi-line editing (aka column mode edit)

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:18:10.377Z)
OS version: Windows_NT ia32 10.0.17763

[2019-08-23 07:24] alexr00 commented on #78976
The templates are there to help people understand how to use tasks. For now we will keep them. I will change the dotnet template.

[2019-08-23 07:25] masq6r opened #79688 "Trackpad three fingers wipe gesture does not work any more"
After upgrading to 1.37, my VSCode doesn't respond to my three fingers wipe gesture (left wipe to last edit location). It used to work prior to 1.37. I'm running VSCode in Windows 10, with the latest Windows 10 version 1903 (18362.295).

[2019-08-23 07:26] johi commented on #79587
Hey @RMacfarlane, I click on a file in the sidebar. Version is 1.37.1 :-)

[2019-08-23 07:27] bpasero commented on #69335
@dbaeumer so to clarify, an extension that is using LSP today will always get the first folder as root folder?

[2019-08-23 07:28] bpasero commented on #78127
@BryanHunt can you distill reproducible steps how you ended up getting the bad path into VSCode?

[2019-08-23 07:29] alexr00 commented on #78976
Fixed by https://github.com/microsoft/vscode/commit/cc845dc5866158ca0d51bb8bf78b58de7460684e

[2019-08-23 07:29] #78976 closed

[2019-08-23 07:35] alexr00 commented on #79667
From the other bug:

Looks like we need to think about changing to another grammar.

[2019-08-23 07:36] bpasero commented on #79460
@bbugh can you do an experiment and run "code --verbose" which will print a log statement to the console everytime a command is executed and then check the dev tools console for output? Should look like this:

![before](https://user-images.githubusercontent.com/900690/63575085-84c1de00-c589-11e9-86a7-17d9f9d1beb2.gif)

[2019-08-23 07:39] SaMiCoOo commented on #79681
It was a DNS error, once I switched to another DNS it worked perfectly

[2019-08-23 07:39] #79681 closed

[2019-08-23 07:41] alexr00 commented on #79559
Thanks for filing! Moved to the grammar's repo: https://github.com/Ikuyadeu/vscode-R/issues/120

[2019-08-23 07:41] #79559 closed

[2019-08-23 07:48] alexr00 commented on #78384
I cannot reproduce on my laptop. It happened before on my desktop, so I will try again there.

[2019-08-23 07:48] lonix1 opened #79689 "[Feature Request] Skip specific updates"
#### BACKROUND
When an extension is updated, I am notified in the sidebar. I always check the changelog before clicking "update".

Too often I will waste time by updating to a newer version, which is buggy. So I often skip updates if they are not bugfixes. I want to code, not waste time.

#### PROBLEM
But I still see the update notification, which makes it hard to remember which I ignored and whic

[2019-08-23 07:54] dbaeumer commented on #69335
Yes, we sent both the rootPath and the workspace folders since on initialize we don't know what the server supports. When the server comes back an signals workspace folder support we setup things so that changes to the list of folders can be signaled to the server. If not we don't. This is why we would need to restart the server if the `rootPath` changes.

[2019-08-23 07:57] bchrisb commented on #79636
@RMacfarlane I updated to Windows 10 (1903) and can confirm this is fixed. Thanks!

[2019-08-23 08:02] alexr00 commented on #79291
Tasks never ran interactive. It has always run with the `-c` argument (ex. `/bin/zsh -c /bin/echo $VAR`) which with bash means that the session isn't interactive and isn't logon (no rc and no profile).

The `-i` should cause it to be interactive and source the rc file. Maybe there is some bug where that `-i` isn't making it in anymore. @deitry can you try add this into your task:
[code]

[2019-08-23 08:03] AnyhowStep commented on #77140
Ah. I didn't even know where to go to report it. I looked it up and it looks like others have reported it the issues have been marked as "won't fix" and "design limitation".

https://github.com/microsoft/TypeScript-TmLanguage/issues/767
https://github.com/microsoft/TypeScript-TmLanguage/issues/745
https://github.com/microsoft/TypeScript-TmLanguage/issues/479

https://github.com/microsoft/TypeScrip

[2019-08-23 08:10] bpasero commented on #69335
Not clear to me. Why can you not change everything to work with `workspace.workspaceFolders`. Why do you rely at all on the beahvior of `workspace.rootPath`?

[2019-08-23 08:21] bpasero opened #79690 "Parameter hints text can flow out of widget"
![image](https://user-images.githubusercontent.com/900690/63577925-b8076b80-c58f-11e9-8b41-42031451b5ac.png)

[2019-08-23 08:22] cbailiss commented on #42356
I still find this very annoying every time I use VS Code - just bad user experience in the tool.
I appreciate that it is probably caused by issues spread across different teams/code at Microsoft, but I'm looking forward to the day someone at Microsoft finally takes ownership of it and deals with it.

[2019-08-23 08:25] shanDeNaBianHaiDeNaBian opened #79691 "Closing developer tools causes vscode to crash and close"
Issue Type: <b>Bug</b>

Open developer tools, close it again, open it again, close it quickly, and vscode crashes and closes it.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-9300H CPU @ 2.40GHz (8 x 2400)|
|GPU Stat

[2019-08-23 08:27] jrieken opened #79692 "Flaky or broken test?"
`TerminalConfigHelper - getFont fontFamily` failed in https://dev.azure.com/vscode/VSCode/_build/results?buildId=25682. I have pushed a commit to comment out this test

[2019-08-23 08:27] e-belair commented on #6328
@floatas Thanks for your code! What you think about making an extension?

[2019-08-23 08:30] vscodeerrors opened #79693 "Data tree node not found: [object Object]"
Issue Id: <b>bade89ac-ace4-53d0-084c-b05ea342ce1b</b><br /><br />*Versions* <br />- 1.37.1<br />*Stack* <br />Error: Data tree node not found: [object Object]<br />[/vs/base/browser/ui/tree/asyncDataTree.ts#637:9 (getDataNode)](https://github.com/microsoft/vscode/blob/f06011ac164ae4dc8e753a3fe7f9549844d15e35/src/vs/base/browser/ui/tree/asyncDataTree.ts#L637:9 (getDataNode))<br />[/vs/base/browser/

[2019-08-23 08:30] bpasero commented on #79693
Note that this originates from `updateWidth` call.

[2019-08-23 08:32] vscodeerrors opened #79694 "Cannot read property 'schedule' of undefined"
Issue Id: <b>ce2e8108-6383-6ac6-d6c8-14760b807bee</b><br /><br />*Versions* <br />- 1.37.1<br />*Stack* <br />TypeError: Cannot read property 'schedule' of undefined<br />[/vs/editor/contrib/codelens/codelensController.ts#298:135 (_onHeight)](https://github.com/microsoft/vscode/blob/f06011ac164ae4dc8e753a3fe7f9549844d15e35/src/vs/editor/contrib/codelens/codelensController.ts#L298:135 (_onHeight))<

[2019-08-23 08:33] vscodeerrors opened #79695 "Cannot read property 'extensions' of null"
Issue Id: <b>be177717-4d3d-e616-cd05-4cbe12a12198</b><br /><br />*Versions* <br />- 1.37.1<br />*Stack* <br />TypeError: Cannot read property 'extensions' of null<br />[/vs/workbench/services/extensions/electron-browser/extensionService.ts#486:42](https://github.com/microsoft/vscode/blob/f06011ac164ae4dc8e753a3fe7f9549844d15e35/src/vs/workbench/services/extensions/electron-browser/extensionService

[2019-08-23 08:34] vscodeerrors opened #79696 "Cannot read property 'length' of undefined"
Issue Id: <b>707eb795-3e1f-373e-3550-26946c65875f</b><br /><br />*Versions* <br />- 1.37.1<br />*Stack* <br />TypeError: Cannot read property 'length' of undefined<br />[/vs/workbench/contrib/debug/browser/repl.ts#772:64 (getHeight)](https://github.com/microsoft/vscode/blob/f06011ac164ae4dc8e753a3fe7f9549844d15e35/src/vs/workbench/contrib/debug/browser/repl.ts#L772:64 (getHeight))<br />[/vs/base/b

[2019-08-23 08:34] vscodeerrors opened #79697 "Cannot read property 'uri' of null"
Issue Id: <b>e3e0aeab-47dc-d9cf-9391-8a4884a7b84a</b><br /><br />*Versions* <br />- 1.37.1<br />*Stack* <br />TypeError: Cannot read property 'uri' of null<br />[/vs/workbench/contrib/preferences/browser/preferencesWidgets.ts#520:177 (_actionCallback)](https://github.com/microsoft/vscode/blob/f06011ac164ae4dc8e753a3fe7f9549844d15e35/src/vs/workbench/contrib/preferences/browser/preferencesWidgets.t

[2019-08-23 08:43] jrieken commented on #79690
<img width="989" alt="Screenshot 2019-08-23 at 10 41 24" src="https://user-images.githubusercontent.com/1794099/63579352-bee3ad80-c592-11e9-9f84-42185d6a6063.png">

[2019-08-23 08:46] #79683 closed

[2019-08-23 08:46] #79676 closed

[2019-08-23 08:47] chrmarti opened #79698 "Offer 'extract constant' first"
I much more often extract a constant than a function:
![image](https://user-images.githubusercontent.com/9205389/63579551-36194180-c593-11e9-9498-9e480bfa3461.png)

Can the 'extract constant' be moved to the top?

[2019-08-23 08:49] szabi commented on #1772
@Tyriar, @sbatten

If the behaviour would jump just right _out_ of the bracket then presssing it twice would work as expected with scanforward.

Also, this might be very much dependent on what you are used to, but I personally find it more often  to wish to jump just right out of the bracket. When typing an opening bracket a closing bracket is inserted after the cursor. I start typing what I want

[2019-08-23 08:51] weinand commented on #78127
@bpasero I think we are using the model resource when setting breakpoints.
@isidorn please correct me, if my assumption is not correct.

But independent from debugging, Bryan saw the "long alternative path" when hovering over the editor tab (and I assume that the hover shows the model path?).

[2019-08-23 09:01] #79694 closed

[2019-08-23 09:05] isidorn commented on #28448
I think so. @neurrone can confirm

[2019-08-23 09:13] d00lar commented on #71990
yep for me it is now also fine thanks !

[2019-08-23 09:25] djmisterjon commented on #79633
it activated but what this should do ?

[2019-08-23 09:25] #79578 closed

[2019-08-23 09:26] bpasero commented on #78127
That hover is coming from the label service, also in @isidorn land

[2019-08-23 09:33] isidorn commented on #32239
@alexr00 makes sense. However currentyl the `configurationResolverService` has no notion of the debug and task land. This way you would have to introduce one that sounds task specific. This works for me, but just to keep in mind. Maybe the cleanest approach would be that the task land somehow contributes this to the configurationResolverService.

[2019-08-23 09:34] GusGF commented on #46505
Yes would love this as I'm learning and there some of my code has tons of comments which can make reading the code a pain

[2019-08-23 09:35] isidorn commented on #78384
@alexr00 ok, thanks.

[2019-08-23 09:41] isidorn commented on #79543
I also can not reproduce with latest vscode insiders.
@bpasero icon resolving is not dependent on URI label. I was just speculating in my previous comment that a refresh comming later might have fixed an unrelated issue.

[2019-08-23 09:41] #79412 closed

[2019-08-23 09:42] #79148 closed

[2019-08-23 09:42] #79149 closed

[2019-08-23 09:42] #79150 closed

[2019-08-23 09:43] #79179 closed

[2019-08-23 09:43] #79153 closed

[2019-08-23 09:43] #79151 closed

[2019-08-23 09:50] thany commented on #75492
I was afraid that might be the case. Maybe when I have the time to do so. Please understand that making a reduced test from a huge project is not easy 🤐

[2019-08-23 09:51] moseleyi opened #79699 "Status bar foreground not changing"
- VSCode Version: 1.37.1
- OS Version: Windows 10

Every time I install VSCode from scratch I pull my settings from Github Gist, which works fine. One setting, however, never gets applied and that is

`"statusBar.background" : "#ffffff"`

It happens every time and usually I end up restarting the vscode, trying to remove the setting and add it again.

[2019-08-23 09:53] floatas commented on #6328
@e-belair Sadly it's not possible to create extension. API for this feature isn't available.

[2019-08-23 09:56] csicky opened #79700 "NPM Scripts always visible"
Issue Type: <b>Bug</b>

Even if I uncheck enableScriptExplorer in settings, the NPM Scripts panel keeps remaining visible. I don't use it and it makes me have to take care where to click when I want to open another panel in the sidebar.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System

[2019-08-23 09:58] caelwithcats commented on #79442
@bpasero You were right, because disabling extensions does not seem to take effect any more.

[2019-08-23 10:01] Badokas commented on #6328
File nesting feature would be so sweet! Hope this will happen :)

[2019-08-23 10:02] madig commented on #79637
I usually open recent projects while having another window open and then juggle multiple windows. Setting `workbench.useExperimentalGridLayout` to `inherit` seems to work well enough for my use case. Exiting VSCode completely and then opening a recent project does indeed restore dimensions.

I suppose I can close this, but is there a particular reason why non-first windows default to small instead

[2019-08-23 10:22] vixson opened #79701 "Drag and Drop feature on editor not functioning as expected."
Issue Type: <b>Bug</b>

When dragging a code on the editor it refuses to drop on the desired position of the cursor.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2410M CPU @ 2.30GHz (4 x 2295)|
|GPU Status|2d_canvas

[2019-08-23 10:25] v-dantch commented on #79488
Thanks for you help. I tried again and this issue also reproduces. Please get the details from below:
Steps to Reproduce:
1. Disable all installed extensions.
2. Open a json file.
3. Try to add a function like below:
![image](https://user-images.githubusercontent.com/34729092/63586164-4e10b580-c5d3-11e9-83a7-0dbd78df0644.png)

Expect:
Display all matched functions.

Actual:
Nothing displays after

[2019-08-23 10:27] isidorn commented on #78127
@weinand we are not normalising the paths coming in for breakpoints. We use them as they are.

Yes the hover is also polished by the uri label service.
The copy path also uses the label service. It is everywhere hehe.

[2019-08-23 10:28] isidorn commented on #77106
Ok, adding verified label.
Though this introduced a slight delay / jarring effect in revealing. For this milestone let's go with this approach and next milestone we can see if there is something better than the sily timeout.
fyi @bpasero

[2019-08-23 10:47] #79693 closed

[2019-08-23 10:47] isidorn commented on #79693
I simply now swallow the error since if the element is no longer there it's width does not need to updated. Yeah it is a bit sloppy since I am not actually sure when this happens in practice.

[2019-08-23 10:51] weinand commented on #26234
I've investigated Custom Object Formatters (aka COF or Human Readable Objects) across different language environments/runtimes and here are the results:

- Chrome Dev Tools ([Custom Object Formatters](https://docs.google.com/document/d/1FTascZXT9cxfetuPRT2eXPQKXui4nWFivUnS_335T3U/view#heading=h.xuvxhsd2bp05)):
    - How: hooks into UI via JsonML
    - Where used: console, Watches/Scopes (variables

[2019-08-23 10:56] alexr00 commented on #78208
@chrmarti this seems to be a more general problem with all quick picks. When you open a quick pick, focus isn't returned to the last focused item when is is exited.

[2019-08-23 11:03] nveenjain opened #79702 "Support Function overloading in JSDoc comments"
I was trying to write an overloaded function using JSDoc, but VSCode only shows the first variation that i wrote only.

[code]
The suggestion shown in Intellisense is key as an object...
Expected behavior is that vscode shows 2 option/variations for the function set, similar to what is shown when we use declare statement twice for any function in TypeScript.

I would love to work on this issue, if

[2019-08-23 11:15] alexr00 commented on #79432
Fixed in tasks.

[2019-08-23 11:15] #79432 closed

[2019-08-23 11:32] jrieken commented on #79488
So, it is `Command` or `Ctrl` you are pressing?

[2019-08-23 11:33] m-schuetz commented on #64067
+1, just encountered the same issue. Nothing breaking, but mildly irritating.

[2019-08-23 11:39] alexr00 commented on #78247
Repros in Insiders, but not out of source...

[2019-08-23 11:47] Gama11 commented on #79653
@gjsjohnmurray Not sure about that, he said in 1.37 it's working as intended (meaning it regressed between 1.37 and 1.38-insider). My issue in #78946 is broken in 1.37 but worked in earlier releases.

[2019-08-23 11:49] about-code opened #79703 "Privacy: Telemetry user preferences being ignored for new workspaces/folders."
- VSCode Version: VSCode-OSS v1.36.0 built from commit 0f3794b38477eea13fb47fbe15a42798e6129338 *(HEAD -> 1.36.0, tag: 1.36.0)*
- OS Version: Ubuntu 18.04

Steps to Reproduce:

1. Open User preferences
1. Disable all @usesOnlineServices and telemetry
1. Close VSCode
1. Open VSCode
1. Open Folder... on a new empty folder
1. Open Workspace preferences
1. Find out: Some online services such as Teleme

[2019-08-23 12:07] LeopoldLerch commented on #79686
Seems to have something to do with the way "default" and "export" works.

declaring it with a const and without default it works:

![image](https://user-images.githubusercontent.com/28888039/63591361-de88cf00-c5ae-11e9-86aa-dee818f10e02.png)

however, I cannot export it as default while maintaining the references. I can reexport the const as default again, but as soon as I remove the export from t

[2019-08-23 12:15] thany opened #79704 "Support @example <caption>"
Issue Type: <b>Feature Request</b>

I would like support for the `<caption>` element inside a JSdoc `@example` block.

See here:
https://jsdoc.app/tags-example.html

Currently it displays the `<caption>` element literally, because VScode (blindly) assumes that everything after `@example` is javascript/typescript.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T1

[2019-08-23 12:27] nerdomancer commented on #79405
For me it happens when I do a solution wide search and click on one of the results to see the related file.

[2019-08-23 12:28] chrmarti commented on #65425
/duplicate #44722

[2019-08-23 12:28] #65425 closed

[2019-08-23 12:28] chrmarti commented on #69922
/duplicate #44722

[2019-08-23 12:28] #69922 closed

[2019-08-23 12:28] chrmarti commented on #78208
/duplicate #44722

[2019-08-23 12:29] #78208 closed

[2019-08-23 12:33] BobSeu commented on #15727
@rebornix Is this something you have to enable?  I tried to do this, but it remains single line for me.

[2019-08-23 12:37] Gama11 opened #79705 "Regression with fenced markdown blocks and injection grammars"
Like the TypeScript extension, the Haxe extension [injects](https://github.com/vshaxe/vshaxe/blob/master/package.json#L927-L955) its grammar into markdown code blocks, and then also injects the markdown grammar into its own doc comments. This allows syntax highlighting like this:

![](https://i.imgur.com/BnyNzed.png)

This screenshot is from VSCode 1.34 after which point something seems to have br

[2019-08-23 12:46] Johnmper commented on #61426
Hi, this feature is also useful for me. Since in extensive and well-structure codebases with known prefixes it is easier to explore and find the desired functions by wilting down the available suggestions.

I wanted to ask the current situation for the feature. Can i hope for its implementation in future releases?

[2019-08-23 12:53] bpasero commented on #79442
I cannot reproduce, so I cannot tell what this is.

[2019-08-23 12:54] bpasero commented on #78127
Ok understood. So then I am still puzzled why:
* users opens a folder `/System/Volumes/...`
* explorer (and any following operations from there) treats this folder as `/Users/bhunt/Development`

I think that is the gist of this issue right?

[2019-08-23 12:55] Neurrone commented on #28448
Yup, this is actually a duplicate of #69741.

[2019-08-23 12:55] #28448 closed

[2019-08-23 12:56] #78247 closed

[2019-08-23 12:56] isidorn commented on #43262
After discussions with @alexandrudima he explained that we disable code folding because there is no good way to communicate to the screen reader that a code area is folded. Another issue is that we are not properly reading out the line numbers so the user is not aware that there is a big change in line numbers and he can not infer that he just navigated over a folder area.

Also the code folding +

[2019-08-23 13:05] BryanHunt commented on #78127
@bpasero I believe that's the gist of what is going wrong with VS Code.

Somehow the path `/System/Volumes/...` made its way into my projects.  In that case, VS Code is still able to open the projects and load the files into the editor, but that is when breakpoints won't work.

I think you can reproduce the problem by creating a workspace and manually setting the path to the project to be `/System

[2019-08-23 13:08] sazeez commented on #77897
I don't see any log updates when vscode is launched again when it crashes, it seems the process is hung immediately after its closed. On further investigation I found this issue only occurs on company PC, its most definitely some admin policies interfering with vscode and socks client.

[2019-08-23 13:10] maple3142 opened #79706 "Vscode always asks for which formatter to use when I've set a default formatter for that language"
Issue Type: <b>Bug</b>

Demonstration video: https://streamable.com/zvkn4

I've set prettier as the default formatter for javascript language, but it always me which formatter to use when I select "format".

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|

[2019-08-23 13:10] Neurrone commented on #43262
I think having proper UIA support in Chromium would make this a lot easier, since it allows exposure of rich formatting data of text ranges. If I'm not mistaken, Microsoft is contributing code to Chromium to add support for UIA so that the new Edge will work well with Narrator.

[2019-08-23 13:10] cburkins commented on #52364
Tried out the "Color Pick" extension mentioned just above.  Not bad.   Though appears you have to manually copy the hex string over to the "Color Pick" tab.   Better than going to a separate browser, but still looking for a smoother solution here.

[2019-08-23 13:18] bpasero commented on #78127
@BryanHunt maybe this is a macOS Catalina specific thing as I do not see `/System/Volumes` on my macOS.

The thing is: it should be perfectly fine to open a workspace from `/System/Volumes` and set breakpoints. I see this like a link on a file system and we do support folders that have linked targets.

Here is what I would expect, maybe you could try an experiment:
* open `/System/Volumes` folder

[2019-08-23 13:19] cburkins commented on #52364
Trying "Color Manager" by Roy Action.  It's pretty good.  Copies your highlighted color into the color editor, pretty decent tools for tweaking the color, then a big button to insert back to the color where you started.   Works fine for me in a JSX file.   Looks like it was created just last month.  I like it so far.

[2019-08-23 13:34] nmhillusion commented on #79270
I also recorded a video about what things I do, please take time to watch it: [Link video](https://1drv.ms/v/s!Aq4gvH3LzuOqhH9n-ZfAsYw_jpNo)

[2019-08-23 13:40] SpectralKH commented on #52364
@cburkins Color Manager seems pretty good, I'll probably start using it. I only wish that the color picker could float in the document just like VSCode's native one.

Not sure what's stopping VSCode from detecting colors the same way several extensions do?

[2019-08-23 13:44] justinlevi commented on #55816
@isidorn pressing the `space` key in the VSCode explorer panel does not preview the file for me. Having to press `cmd + down arrow` to preview the highlight file is less than ideal because you then have to press `shift + cmd + E` to go back to the explorer.

The primary use case is familiarizing yourself with a new codebase and wanting to see what each file contains. Of course, I can just jump bac

[2019-08-23 13:46] cburkins commented on #52364
@SpectralKH Amen to that.  Love VS Code, and this is one of those small tweaks that would make my world better.  But after waiting for a year, definitely game for "any port in a storm" :)

[2019-08-23 14:03] vojtechkral opened #79707 "Clone editor into an existing group"
I would like to be able to "clone" an existing open file from one group to another.
That is, I'm editing a file and at some point I would like to have a look at some other section of the same file simultaneously side-by-side.

Basically the same thing as split, but without creating a new group. Also the same thing as move but without closing the editor in the original group.

I believe this was as

[2019-08-23 14:05] maks-ym opened #79708 "Toggle comment shortcut does not work"
Issue Type: <b>Bug</b>

"Ctrl+/" does not work but 'toggle block comment' works fine.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:25.463Z)
OS version: Linux x64 4.15.0-58-generic snap

[2019-08-23 14:19] fabio-510 commented on #79567
Maybe a setting that defaults to true? performLinkVerification: false

[2019-08-23 14:27] Tyriar commented on #78438
@jflaflamme I mean does just running a single `lsof -p <pid>` in a terminal take an excessive amount of time? The vscode terminal should only be spawning these processes for a single process (the terminal that has activity).

[2019-08-23 14:39] bpasero opened #79709 "macOS: window no longer focused when starting from command line"
Steps to Reproduce:

1. open code exploration
2. open a terminal outside
3. type code-exploration <some file from the folder opened in code exploration>
4. the file opens in that window but the window is not put to foreground somehow

[2019-08-23 14:39] bpasero commented on #79709
I verified this flow works fine in code-insiders.

[2019-08-23 14:44] tariqporter commented on #6328
@floatas Where is the PR?

[2019-08-23 14:44] #79672 closed

[2019-08-23 14:47] Logerfo commented on #6328
@tariqporter #72160

[2019-08-23 14:50] terislos commented on #35901
A none, continue the problem. :/

[2019-08-23 14:51] jeff-hykin commented on #77140
@AnyhowStep, yeah it's definitely not obvious where to go. Mentioning it and being redirected is a valid way to find out.

Thanks for including the issue links. I understand the details of problem now, the fundamental problem isn't perfectly solveable with TM, and this situation is exactly what the tree-sitter is designed to fix, so this issue is (very indirectly) working on that problem. However,

[2019-08-23 14:52] Tyriar commented on #79664
Can you try in the insiders build? I can't reproduce your first screenshot, also what do you mean ddd\n is added, you have that in the original string? If you can refine your repro so it's a little smaller it would be easier to repro/diagnose.

[2019-08-23 14:58] spiffytech commented on #77817
I have this issue too, since 1.36 on ChromeOS. The only extensions I have are Rewrap and Vim. I haven't changed the VS Code CSS.

Random lines get the cursor drawn to the right of the insert/edit location, and in Vim normal mode I can see the blinking cursor shows the under-cursor character when blinking (at the wrong position), but shows the line's true content when not blinking.

Incorrect line

[2019-08-23 15:00] ExE-Boss commented on #6328
That would be #41627, which will be worked on first as part of the treeview rewrite, which should probably make this easier to implement afterwards.

[2019-08-23 15:10] romanzmykulova opened #79710 "Custom Emmet php snippets does not work inside php code or in php island within html file."
Custom php snippets does not work inside php code or in php island within html file.

- VSCode Version: 1.37.1
- OS Version: Windows 10

Steps to Reproduce:

1. Add custom php snippets
[code]

2. start new php or html file and type `php` and tab, it will output rightly `<?php ?>`, but then inside that created php island if you type again "php + tab", you will end up with `<?php <?php ?> ?>`, but i

[2019-08-23 15:16] isidorn commented on #55816
The space key works in vscode insiders and will be availble in vscode stable in a couple of weeks.

[2019-08-23 15:17] gatopeich opened #79711 "User setting overrides Workspace's (search.followSymlinks)"
Issue Type: <b>Bug</b>

I had disabled "search.followSymlinks" in User settings, and enabled it in Workspace settings.
The User setting overrides the Workspace's...

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:25.463Z)
OS version: Linux x64 4.15.0-46-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-477

[2019-08-23 15:42] djoffe opened #79713 "Preserve case replace not working well with regex"
Issue Type: <b>Bug</b>

I was trying to use the new preserve case search/replace to preserve plural as well, but it seems there is a conflict between the two features:

File:
[code]

Search: `cat(s)?`
Replace all with: `dog$1`

Actual result:
[code]

Only the `$1` case has been preserved here, while the rest of the replaces strings's case has been lost.

Expected result:
[code]

VS Code version: C

[2019-08-23 15:50] RenNY123 commented on #79664
hi, Tyriar

thanks for your reply.
I tried insiders build, without any extension and a clean install of python and still have the same issue.

I do not have "ddd\n" in my test string it's added when I try to run it in VS Code terminal. (you can find them in the terminal in the screen shot)

I tried to run the code in VS Code Python Interactive, it's perfectly fine also.
so my temporary solution is

[2019-08-23 15:52] nikitavoloboev opened #79714 "Add setting to hide sync icon on Source Control Status Bar"
This icon:

![2019-08-23 at 16 51](https://user-images.githubusercontent.com/6391776/63605636-44cd1c00-c5c6-11e9-8131-83c192b07858.png)

I don't ever press on the activity bar and thus only want it to show visual information.

Can you please add a setting to hide this `sync` icon?

Thank you.

[2019-08-23 15:52] #77859 closed

[2019-08-23 16:04] IllusionMH commented on #79714
Currently it is part of "Source control" status bar element. If you don't care about branch name you can just right-click on it and pick "Hide".

[2019-08-23 16:07] bbugh commented on #79460
@bpasero Here's a gist with the logs, reproducing the issue. I put a break where I first opened the file (`Cmd+D` works), then another break when I opened it the second time (when `Cmd+D` doesn't work). Both times I selected a word and tried to select all instances, but I didn't see any logs related to that.

https://gist.github.com/bbugh/b01c2c591fbd9a6afeb86ea1c2271a1f

[2019-08-23 16:15] nikitavoloboev commented on #79714
I do care about the branch name. That's the issue. The sync icon is part of the branch name.

[2019-08-23 16:22] usernamehw commented on #79714
/duplicate of #75354

[2019-08-23 16:22] #79714 closed

[2019-08-23 16:25] dfdumaresq opened #79715 "Hangs while scrolling"
Issue Type: <b>Bug</b>

While scrolling through any file the scrolling randomly stops and then resumes. The activity monitor shows Code Helper CPU increased, often above 20 %, and then drops back.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:16:34.800Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|In

[2019-08-23 16:28] dfdumaresq commented on #79715
Code Helper is spiking.
![image](https://user-images.githubusercontent.com/20051/63607736-129cc980-c588-11e9-9fa1-61ceccb11828.png)

![image](https://user-images.githubusercontent.com/20051/63607792-2fd19800-c588-11e9-9892-10fd27093b57.png)

![image](https://user-images.githubusercontent.com/20051/63607807-3a8c2d00-c588-11e9-8c39-11192d261ea5.png)

[2019-08-23 16:28] usernamehw commented on #79699
Maybe you have 0 folders opened. In that case `"statusBar.noFolderBackground"` is used.

[2019-08-23 16:41] gerardolima commented on #55816
Having the file shown on pressing `space` is better that what exists today -- thank you for the news, @isidorn!

Nevertheless, I still don't see the issue in showing the files on `arrow up`/`arrow down`; it _feels_ to me as an usability improvement, as it avoid the need of the mouse and let us keep our hands on the keyboard.

[2019-08-23 16:52] #78380 closed

[2019-08-23 16:53] patridge opened #79716 "Allow empty search with value in "files to include" to generate search results of all files with a name/pattern"
If I'm working through a bunch of identical or similarly named files, I would love to be able to search for them and see them in the search result list as I work through them. It would be great be able to submit an empty search when I have provided a **files to include** value/pattern (as well as maybe a value in **files to exclude**.

This is similar to the [request to match filenames in search r

[2019-08-23 16:57] Aarbel commented on #46505
@bpasero @joaomoreno any news for this feature request ?

[2019-08-23 17:04] surajmandalcell commented on #15949
It's strange to see this annoying issue still not being seen as an 'issue' by devs smh

[2019-08-23 17:11] RMacfarlane commented on #79715
@dfdumaresq Can you open the process explorer (`F1` -> `Developer: Open Process Explorer`) and see which process is spiking when this happens?

[2019-08-23 17:18] RMacfarlane commented on #79708
@maks-ym I'm having trouble reproducing this, can you double check your keybindings to see if anything is conflicting with it? `F1` -> `Preferences: Open Keyboard Shortcuts` -> search for `"ctrl+/"`

[2019-08-23 17:23] edzkite opened #79717 "macOS Icon Misaligned With Other Apps"
- VSCode Version: 1.37.1
- OS Version: macOS 10.14.6

Steps to Reproduce:

1. Open VSCode
2. Observe icon in Apple Logo -> Recent Items, or right click Launchpad
3. Icon misaligned

<img width="248" alt="Screen Shot 2019-08-23 at 10 20 39 AM" src="https://user-images.githubusercontent.com/47993402/63611071-e38a5600-c58f-11e9-94bd-5f1bf0c896e1.png">

Does this issue occur when all extensions are di

[2019-08-23 17:40] RMacfarlane commented on #79706
Hi @maple3142, there are actually two different commands for format document - `Format Document` and `Format Document With...`. The second one will always ask you to choose a formatter, the first one will use whatever is configured as the default formatter. Now that you've set the default, you can use `Format Document` to avoid being asked which formatter to use. Sorry for the confusion!

[2019-08-23 17:40] #79706 closed

[2019-08-23 17:40] ZombieProtectionAgency commented on #48659
@yobyot Until something is implemented the terminal works with SSH-Remote. So you can edit a file then save it anywhere on the server and sudo mv it in the terminal without switching windows.

[2019-08-23 17:46] #79678 closed

[2019-08-23 17:52] thkrishn commented on #78126
When I grepped for `4454769affdb83e84721305835b300e94`

[code]

[2019-08-23 17:52] #79051 closed

[2019-08-23 17:57] thkrishn commented on #78126
Is it a problem if multiple instances of vscode/code-insiders try to connect to the same host?

[2019-08-23 18:02] octref opened #79718 "Peek references always reveal comments"
Version: 1.38.0-insider
Commit: 0f73473c08055054f317c1c94502f7f39fdbb164
Date: 2019-08-23T05:36:33.571Z
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 17.7.0

GitHub PR extension 0.10.0.

![gif](https://user-images.githubusercontent.com/4033249/63613083-b7250880-c594-11e9-93e7-49e28ded7db0.gif)

[2019-08-23 18:28] thkrishn commented on #78126
code-insiders just updated to the below version ..Now I am able to SSH

![image](https://user-images.githubusercontent.com/7133450/63614898-f6555880-c598-11e9-9667-3ca073bc1b3d.png)

[2019-08-23 18:28] sbatten commented on #71407
ah works differently on windows, you can't select the text but if a dialog is focused, ctrl+c copies all its contents in a formatted way
[code]

I personally don't like when UI lets you select text as it looks unpolished to me, but I can see how it might be of use to select a portion of the dialog. Preference between selection and a single copy action?

[2019-08-23 18:42] bruno-brant commented on #79608
@isidorn seems fixed! I'm really glad to help!

[2019-08-23 18:44] RMacfarlane commented on #79703
@about-code I believe that user settings you have set are still being respected, but that the workspace settings UI is confusing in this case. If you use `F1` -> `Developer: Set Log Level`, another channel will be added to the `Output` panel called `Log (Telemetry)`, which can be used to see all telemetry events recorded by VSCode.

Workspace settings should only override user settings if they hav

[2019-08-23 18:46] bbugh commented on #79460
@bpasero the image didn't load on my phone earlier and I misunderstood what you meant. I re-ran vscode with `code --verbose`, then opened the developer console. I reproduced the issue.

When the issue is happening, `Cmd+D` does not show anything in the developer console. When the issue is not happening, `CommandService#executeCommand editor.action.addSelectionToNextFindMatch` correctly shows up in

[2019-08-23 18:52] RMacfarlane commented on #79703
Oh, actually I guess "Modified in" does actually just indicate that it's been changed somewhere else, not precedence. Would it be possible to render something in addition to "Modified in" indicating which value is being read from?

[2019-08-23 18:52] robinbudd commented on #79606
Thanks RM will do

[2019-08-23 18:53] dfdumaresq opened #79719 "dotnet quit unexpectedly"
Issue Type: <b>Bug</b>
---
This appears to occur randomly. An hour ago, it was happening every time the app accessed the C# code (middleware-client). So I removed all the old sdks and reinstalled these two:

$ dotnet --list-sdks
1.1.14 [/usr/local/share/dotnet/sdk]
2.2.401 [/usr/local/share/dotnet/sdk]

Now it seems to be more stable, but I've just had another unexpected quit. Looking for any  sug

[2019-08-23 18:53] RMacfarlane commented on #79711
@gatopeich Did you modify your workspace settings at all, or is it simply the default value? If the workspace setting isn't explicitly set, the user setting will still take precedence.

[2019-08-23 19:02] krupenja commented on #79717
Looks like a duplicate of https://github.com/microsoft/vscode/issues/75593
/duplicate

[2019-08-23 19:59] jhechtf opened #79720 "Git: Allow programmatic focusing of repository"
For workspaces with multiple repositories, would it be possible to show a specific repository when opening the SCM panel? As of right now the only whatever repository is set as the first repository shows up, and in all my searching I have not found a way to show a specific one.

For example, if a repository is setup as

[code]

if I run `executeCommand('workbench.view.scm')` it will show the SCM p

[2019-08-23 20:00] brunoesolve opened #79721 "slowness after upgrade to Version 1.37.1"
slowness after upgrade to Version 1.37.1

[2019-08-23 20:06] octref opened #79722 "Test: String-of-Array error messages"
Refs: #77459

- [x] anyOS @bpasero
- [x] anyOS @alexandrudima

Complexity: 1

Description: We now show error message for invalid string-of-array settings in the Settings GUI. For example, for this contributed setting:

[code]

We would show such warning when you have invalid values:

![image](https://user-images.githubusercontent.com/4033249/63620499-4555ba80-c5a6-11e9-98c5-7d3e3025ed4c.png)

Plea

[2019-08-23 20:14] BobSeu commented on #79677
I'm running into this issue as well.  In my case it was a log file copying text to Outlook.  Stable 1.37 doesn't have that, but Insiders does.

[2019-08-23 20:30] sana-ajani commented on #79592
Completed.

[2019-08-23 20:30] #79592 closed

[2019-08-23 20:31] octref commented on #23927
Prefer the alternative, `kind.kind` would be weird.

Display-wise the one without `kind` would show the default `CompletionItemKind` icon, so I feel it's fine to have `tags` but not `kind` (if each `tag` would be a small decoration on the icon).

OTOH even if you can't makeup your mind to provide a `kind` you should be able to mark an item as deprecated.

I can join the Monday API call. Once we ha

[2019-08-23 20:37] octref commented on #79532
Actually undefined `rootPath` wouldn't affect html/css LS right now.

[2019-08-23 20:37] #79532 closed

[2019-08-23 20:39] JacksonKearl commented on #60276
Alternatively, a command to make the current tab not a preview, which we could bind to a keyboard shortcut.

[2019-08-23 20:54] RMacfarlane commented on #79508
Thanks! This looks like a duplicate of https://github.com/microsoft/vscode/issues/75141

[2019-08-23 20:54] #79508 closed

[2019-08-23 20:58] roblourens commented on #79021
It's not due to a misplaced string. I see that string in the jpn loc bundle and nowhere else.

[2019-08-23 21:01] RMacfarlane commented on #79680
Hey @scottaddie, there's an existing command called `View: Open Previous Recently Used Editor` that you could add a keybinding to. (It's counterpart is `View: Open Next Recently Used Editor` to navigate the opposite direction in file open history). Would that accomplish what you want?

[2019-08-23 21:02] dfdumaresq commented on #79715
Hi @RMacfarlane - I've since deleted some old dotnet sdks and it seems to have cleared up the issue.

[2019-08-23 21:02] #79715 closed

[2019-08-23 21:03] dfdumaresq commented on #79719
I've opened this issue under https://github.com/dotnet/coreclr/issues/26084

[2019-08-23 21:03] #79537 closed

[2019-08-23 21:09] RMacfarlane commented on #79554
@tYYGH My guess is that this is from this extension https://marketplace.visualstudio.com/items?itemName=redhat.java since it's the one you have installed as part of the Java Extension Pack that gives Java language support. Can you try disabling the Java Extension Pack to see if that's the extension that's contributing the problems, and if not, selectively disable until you do find the extension? P

[2019-08-23 21:10] #79554 closed

[2019-08-23 21:16] ScottRudiger commented on #79680
@RMacfarlane, the functionality of quickly switching between two tabs with `View: Open Next Recently Used Editor in Group` or `workbench.action.quickOpenNavigateNextInEditorPicker` is exactly what I'm looking for, except I'd like the ability to do so in the Quick Open feature with `⌘P, Enter` so I can use the same shortcut for multiple purposes:

1. `⌘P, Enter` - Switch to previously focused tab.

[2019-08-23 21:24] heaths commented on #79667
Perhaps, but my understanding is that the .tm files from TextMate are converted to JSON. GH is using a different format, sure, but doesn't necessarily indicate you have to use that.

[2019-08-23 21:36] memeplex opened #79723 "Zoom levels are not only changed by 1 but also rounded to integer"
I know the request for finer zoom increments/decrements has been done in the past. This is a completely different issue and I consider it to be a bug report, not a feature request.

If the user sets a "home" zoom level that is not an integer (which is a reasonable use case since many things in the GUI are not easily resizable and since integer increments are a coarse 20%) it should be preserved as

[2019-08-23 21:48] usernamehw commented on #79723
I actually wrote smth for this:

https://marketplace.visualstudio.com/items?itemName=usernamehw.run-commands-view

[code]

[2019-08-23 21:49] RMacfarlane commented on #79481
@deepak1556 Do you have any ideas about what would cause this, or what other info we could collect?

[2019-08-23 22:06] ChuckJonas commented on #11847
Seems like a trivial thing to implement and would make the user experience soo much better.  Please add

[2019-08-23 22:23] alexephesoft commented on #78221
I am still getting this error and cannot get over it. It happens every time. I am back to console.log and am thinking switch back to eclipse.

[2019-08-23 22:25] AllegroGavin opened #79724 "Terminal window omitting output lines from Interactive Anaconda Python."
Issue Type: <b>Bug</b>

About info:
Version: 1.37.1 (user setup)
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:17:55.855Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

In the VSCode Terminal pane running Anaconda Python, output lines are getting omitted. For example the following output is missing the line for

[2019-08-23 22:33] RMacfarlane commented on #79721
Possible duplicate of https://github.com/microsoft/vscode/issues/79336. Can you try downloading the latest insider build (https://code.visualstudio.com/insiders/) and see if the issue still reproduces?

[2019-08-23 22:36] RMacfarlane commented on #79719
Thanks for opening the issue there, @dfdumaresq! I suspect this is not caused by VSCode itself. What are you doing to run the app, and are you able to take the same steps outside of VSCode to see if the problem still reproduces?

[2019-08-23 22:37] anthonydresser opened #79725 "Various octicons are incorrect"
Issue Type: <b>Bug</b>

A number of the octicons are incorrect in the insiders build.

person-filled: ![image](https://user-images.githubusercontent.com/4324725/63627198-56f58d00-c5bb-11e9-9456-14bac8a97a38.png)

organization-filled:
![image](https://user-images.githubusercontent.com/4324725/63627222-6f65a780-c5bb-11e9-9d9a-d131f6522322.png)

Not sure if these are the only ones.

VS Code version:

[2019-08-23 22:39] RMacfarlane commented on #79701
@vixson Can you explain a little more what you are doing? Where are you dragging the code/file from, and where are you dragging the code to? Did this work in previous versions of VSCode?

[2019-08-23 22:40] dalongi commented on #79581
@roblourens: Would additionally adding the resize UI be nontrivial? I'm not familiar with the UX framework being used, but could look into sending a PR if it's not too bad or there is an example to look at.

For changing the width: do you know how wide people typically have these panes? (Is it full window or partial due to having multiple editors?) When I have it open as the only window, I find it

[2019-08-23 22:41] azlochevsky opened #79726 "Node debugger fails with the error message "Cannot find debug adapter for type 'node'""
Node debugger fails with the error message "Cannot find debug adapter for type 'node'".
The VSCode Version:

Version: 1.37.1 (system setup)
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:17:55.855Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

[2019-08-23 22:56] about-code commented on #79703
Thank you for that hint. From what I see in the log window there were no obvious telemetry events in the short period I was watching and interacting a bit with vscode. But I am still not convinced whether it's just a UI only thing. I may explain how I actually come to check those workspace settings again after a while:

I ran vscode in some kind of a "paranoid mode", that is, with a system group I

[2019-08-23 23:34] RMacfarlane commented on #79703
Got it, thanks for the additional context.

This looks like the command typescript uses to get typings, it can also be disabled using the "Typescript: Disable Automatic Type Acquisition" setting. (Looking at your screenshot of user settings, to be completely offline, you would also want to check "Extensions: Show Recommendations Only On Demand" setting). @mattbierner do you know any more about thi

[2019-08-23 23:50] RMacfarlane commented on #79685
@sandy081 It looks like the extension gallery service is making a POST at startup

[2019-08-23 23:50] roblourens commented on #79581
Yeah it would be nontrivial. I would think that people usually use this full-window but I don't have a good sense of the average window width.

[2019-08-23 23:53] roblourens opened #79727 "Add keyboard shortcut to focus settings tree"
Would be useful to get back to the settings tree in one keypress. Requested via email.

[2019-08-24 00:01] dfdumaresq commented on #79719
Thanks, I'm setting up dotnet cli and will try it there. Let you know.

[2019-08-24 00:03] sbatten commented on #79637
not sure when the default for that setting was decided, but since the setting exists and you prefer that behavior, I will close this issue.

[2019-08-24 00:03] #79637 closed

[2019-08-24 00:03] memeplex commented on #79723
Hi @usernamehw that's great, I will give it a try.

Anyway, I think it's a more sensible default behavior to honor the base zoom level. For users that start at 0 (the default) the behavior would be the same than it's now. For users that deliberately change the zoom level in their settings, it's hard for me to figure out a reason why they would want the sequence `C-+` `C--` to truncate zoom to 0 in

[2019-08-24 00:04] roblourens commented on #79703
The settings GUI doesn't represent the real settings model precisely. It's hard to tell the user what setting is being applied right now when you consider multiple folder settings, language-specific overrides, etc. In cases like this I just try to point the user at what is happening, but the real source of truth is in the json files. Sorry for the confusion!

[2019-08-24 00:07] roblourens commented on #79703
That TS process should be respecting the vscode telemetry setting because it processes telemetry the same way that other extensions do. But maybe it would be good to not add that flag to the process unless telemetry is enabled to avoid confusion.

[2019-08-24 00:15] sbatten commented on #79633
@djmisterjon It seems that setting does not make a difference for me anyway. I see the collapsed editor group is not expanded when focused this way. Additionally, I see that there is some extra whitespace at the bottom of the image, is that happening in your window?

[2019-08-24 00:35] haiyoufan opened #79728 "ALT+SHIFT+F always adds blank line in the end"
Issue Type: <b>Bug</b>

So if I run many times ALT+SHIFT+F  it adds many blank line in the end.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8700 CPU @ 3.20GHz (12 x 3192)|
|GPU Status|2d_canvas: enabled<br>flash_3d

[2019-08-24 00:39] kaidokert commented on #76031
I'm getting the same issue, reproducibly with mostly C++ env, no Python or Powershell extensions installed. I'm clicking on build output ( which is produced through $gcc problemMatcher ), random header file, it does open the file but the folder does not expand, and becomes unexpandable, similar to #75340 gif. Clicking "Refresh explorer" does make the tree node expandable again.

What tracing info

[2019-08-24 01:26] ramchallagandla opened #79729 "Python intellisense on method return"
Issue Type: <b>Bug</b>

Python intellisense is not working for values or object returned from the method. Following code snippet variable rar contains the ndarray.
Trying to fetch methods of ndarray is not working

import numpy as np
from scipy import stats

rm = np.random.RandomState(100)
rar = rm.randint(5, size=(3, 2, 1))

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35,

[2019-08-24 01:45] djmisterjon commented on #79633
yes it focus on the correct line with highlight, but i want auto `expanded` the window.
And yes you true, it work in debug Mode with breakpoint, when travel in breakpoint it auto open and expanded window needed.
But in this ways, it not work, maybe a dev forget add the feature ?

[2019-08-24 01:55] ADataGMan opened #79730 "css-rcurlyexpected"
Issue Type: <b>Bug</b>

If I paste the following CSS into a css file, with all extensions disabled, I get a bunch of error messages but I can't explain why, or figure out what causes the issue. If I include the css in an html file, it loads fine in at least Chrome. The actual curly brace it's look for is at the end of the file. Adding the & selector on the nested items does nothing to fix the erro

[2019-08-24 01:55] deepak1556 opened #79731 "Test: Electron 6.0.x update"
- [ ] Mac
- [ ] Linux
- [ ] Windows

Complexity: 3

We plan to update to Electron 6.0.x in September. Download the latest released **Code Exploration** build from [here](https://builds.code.visualstudio.com/builds/exploration).

**Verify:**
* our smoke tests pass when run against this build (in case of an error, compare with insiders to see if it is Electron related or not)
* do some exploratory t

[2019-08-24 02:04] JINxo-geek opened #79732 "Strange characters appear when copying variables"
- VSCode Version: 1.37.1
- OS Version:MacOS 10.14.6

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/26448864/63631142-f49d9a80-c655-11e9-9ddd-f34c83990e58.png)
![image](https://user-images.githubusercontent.com/26448864/63631152-0da64b80-c656-11e9-8ebb-6f38c8230cd0.png)
![image](https://user-images.githubusercontent.com/26448864/63631158-1d259480-c656-11e9-9c3e-4b1074aeb3b

[2019-08-24 02:34] mattacosta commented on #79700
Duplicate of #78489.

[2019-08-24 03:04] xgdgsc commented on #34739
Importing / exporting feels weired, I don' t want another file.

[2019-08-24 03:07] mjbvz commented on #79703
The enableTelemetry flag tells the tsserver to send telemetry events back to the vscode process which then can upload it or not based on the actually telemetry user setting. The tsserver does not upload anything on its own.

The typing install process uses npm. The process itself also does not any collect telemetry on its own but talks to an online service (your npm repository) which may

[2019-08-24 03:27] rpgdev commented on #10952
I think IntelliJ's "pinned dock" behavior should be looked into. Their implementation it's annoying because it doesn't seem to remember your preference and you seem to be disabling it all the time... but it's more or less what vscode needs. Just make the setting stick.

[2019-08-24 03:33] mjbvz commented on #79705
VS Code does not include a haxe grammar so please file this against the haxe extension. Even if our markdown grammar change in some way, that extension need to investigate the issue

[2019-08-24 03:33] #79705 closed

[2019-08-24 03:35] mjbvz commented on #79703
@roblourens Is there an actual bug here or can we close the issue?

[2019-08-24 03:36] mjbvz commented on #79702
VSCode's javascript intellisense is powered by the TypeScript project. Please [file a feature request upstream](https://github.com/microsoft/TypeScript/issues/new?template=Feature_request.md)

[2019-08-24 03:36] #79702 closed

[2019-08-24 03:37] mjbvz commented on #79698
Duplicate of https://github.com/microsoft/TypeScript/issues/29589

[2019-08-24 03:37] #79698 closed

[2019-08-24 03:40] mjbvz commented on #79659
Where exactly are you running `go to definition`?

Also does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled?

[2019-08-24 03:48] mjbvz commented on #79656
As your code seems to use global variables to manage references instead of imports, as a first step try creating create a [jsconfig.json](https://code.visualstudio.com/docs/nodejs/working-with-javascript#_javascript-projects-jsconfigjson) file.

However even this will probably not fix cross file the intellisense for that project as the code is quite dynamic (such as taking `window` as a parameter

[2019-08-24 03:48] #79656 closed

[2019-08-24 03:49] #79729 closed

[2019-08-24 04:04] roblourens commented on #79703
I think it would be good to not add the `--enableTelemetry` flag when the setting for telemetry is disabled, if possible.

[2019-08-24 04:06] #79650 closed

[2019-08-24 04:08] mjbvz commented on #79649
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/)? The latest vscode picks up a new TypeScript version which seems to fix the issue for me

[2019-08-24 04:41] mjbvz commented on #79703
Ok, we also use the TypeScript telemetry events to do stuff that is not uploaded (such as getting the real running ts version instead of guessing at it). The flag's name could have been clearer but it would be annoying to change the name now without a good reason to do so

I'm closing this since it sounds like the issues were: initially unclear ux and a misunderstanding of what the ts extension is

[2019-08-24 04:41] #79703 closed

[2019-08-24 04:43] #79648 closed

[2019-08-24 06:32] bpasero commented on #71407
Interesting, I did not know that Windows allows you to copy. I find that very hard to discover to be honest. We allow to select and copy in notifications as well so I would go for that.

[2019-08-24 06:39] bpasero commented on #79460
@bbugh would you be willing to try to reproduce this running VSCode out of sources so that we can debug this further? There are instructions at https://github.com/microsoft/vscode/wiki/How-to-Contribute

[2019-08-24 06:45] fabb commented on #78605
Ah interesting. But no, no output there at all either.

[2019-08-24 07:08] bpasero commented on #79709
Reported as https://github.com/electron/electron/issues/19920

[2019-08-24 07:19] qrti commented on #36492
Dear tireless working AI,

run vscode in compatibility mode for Windows 7 and check 'Allow my pen to act as mouse in legacy applications in the 'Pen & Windows Ink' settings

now take a pen in your virtual hands and see how the pen selects text as it should, while touches keep scrolling

but please do not close this issue overzealously,  not all is well now, you can't grab tabs neither by pen or to

[2019-08-24 07:20] whitecolor commented on #79650
I disabled all the extensions (left only some important to me and ui related), and it seems to work ok for a couple of days.

[2019-08-24 07:26] mikeybyker commented on #79015
I'm closing this as I believe it is the plugin not vscode.

[2019-08-24 07:26] #79015 closed

[2019-08-24 07:33] Thaina opened #79733 "Are there any way I could register vscode on windows search"
I always used to type `vscode` when I want to do anything with vscode. So I wish I could summon vscode up with `vscode` in windows search

But it seem it only register itself as `code` in my OS

Anyway to change this?

![image](https://user-images.githubusercontent.com/1042507/63634082-be731180-c67b-11e9-8048-6f6749afade2.png)

![image](https://user-images.githubusercontent.com/1042507/63634092-eb

[2019-08-24 08:00] WimaxSoft commented on #56614
I just tried this. basically its applying every option you find :)

C:\Users\junaid\AppData\Roaming\Code\User\settings.json
	"extensions-dir":"C:\\code\\extensions\\",
	"extensions-folder":"C:\\code\\extensions\\"

Created Short-Cut with following command-line.
C:\Code\Code.exe --extensions-dir="C:\code\extensions"

So far, it  is using/updating the custom Directory.

I am gonna try running it  fr

[2019-08-24 08:36] about-code commented on #79703
@mjbvz I can accept to stop the discussion about the telemetry and privacy matter. But this might be just a special case of the issue I think. What added to the confusion is the following: I have disabled *all* options for *@usesOnlineServices* including e.g. the option

When all those options are disabled I really expect *no* attempts to connect to an online service. But this means, there shouldn

[2019-08-24 08:36] rik72c opened #79734 "VSCODE delete everything on the server!"
Issue Type: <b>Bug</b>

CRITICAL ISSUE, when I tried to drag a folder shotcut (mistakenly) from explorer/FTP to vscode screen, IT DELETED EVERYTHING FROM THE FTP AND NO WAY TO RECOVER IT.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Int

[2019-08-24 08:43] about-code commented on #79703
@RMacfarlane

You're right: **TypeScripts** *Automatic Type Acquisition** option is enabled. So then it seems the solution to the issue is to add this to *@usesOnlineServices*.

[2019-08-24 09:06] Gama11 commented on #79705
I'm one of the maintainers of the Haxe extension. ;) Anyway, I take it you want some isolated sample project to reproduce?

[2019-08-24 09:06] about-code commented on #79703
@RMacfarlane is right. I did not check the options *Disabling Automatic Type Acquisition* and *Recommendations on Demand* which have to be enabled to become offline - contrary to all the others. Well: very unfortunate UX but also my fault of not reading carefully enough - have to admit that. Sorry to have bothered everyone with this.

[2019-08-24 09:22] helmar81 opened #79736 "Error: Cannot find module '@ionic/utils-process'"
Issue Type: <b>Bug</b>

when trying to create a new project with Ionic getting an error message :
Error: Cannot find module '@ionic/utils-process'

ionic serve on an existing project does not work at all, already updated to the latest version, however, the issue persists
I recently have cleared the cache

please assist

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-0

[2019-08-24 09:26] huanhexiao opened #79737 "Can not jump to member's definition"
I use vscode on Ubuntu18.04
i can jump to memeber's definition only as code is just opened,  it's not working after some while

[2019-08-24 09:39] mjbvz commented on #79705
Yes, you need to debug this. If a fix to the markdown grammar is required, please submit a pr

[2019-08-24 09:45] ottopic commented on #33720
VSCode 1.37.1 Still not fixed...

[2019-08-24 10:05] alexzshl opened #79738 "platform-specific configuration does not support object-type arg in tasks.json"
Issue Type: <b>Bug</b>

I am not sure if this is a problem

platform-specific configuration does not support object-type arg in tasks.json

**error**
![](https://i.loli.net/2019/08/24/MLvsmEDNf7hQFoV.png)

**tasks.json template**

[code]

In addition, the api - "vscode.tasks.fetchTasks()" returned the correct result
![](https://i.loli.net/2019/08/24/VWuNkYTCKtxU7JH.png)

VS Code version: Code 1.37

[2019-08-24 10:20] sflanders95 opened #79739 "Ctrl k c will comment out whole line and not selected text"
Issue Type: <b>Bug</b>

if there is a line such as:
`</div></div>`
and the user highlights the second `</div>`, then presses `(ctrl|cmd) k c` then the whole line is commented out instead of just the second div.  I've also seen this similarly occur in `*.config` and `*.cs` files.

---

insert here: Subsequent ticket for Ctrl k u - to make sure expected results occur, not that it just works.

[2019-08-24 11:36] varkor commented on #78571
@jrieken: if I understand correctly, the main problem with #43429 is that VSCode doesn't/can't take the context into account (e.g. inside an object literal, etc.) when providing suggestions, so the special-casing for empty lines is to give more helpful behaviour in languages where these contexts are common?

It seems the simplest way to fix this would be to add another setting to enable/disable th

[2019-08-24 11:45] harujii commented on #79579
@bpasero I Created PR #79735

[2019-08-24 12:56] MHM5000 commented on #60010
Maybe my situation will help:
A Parent git without submodules but there are 2 folders named `client` and `server` which are 2 separate git repos. 2 repos are not committed to the parent one!

[code]

[2019-08-24 13:05] mmpataki opened #79740 "C/C++ extension fails to parse includes"
- Version: 1.37.1 (system setup)
- Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
- Date: 2019-08-15T16:17:55.855Z
- Electron: 4.2.7
- Chrome: 69.0.3497.128
- Node.js: 10.11.0
- V8: 6.9.427.31-electron.0
- OS: Windows_NT x64 10.0.17763

Steps to Reproduce:
1. Create the below directory structure and files
[code]
2. Add include to the includePaths
3. Include the foo.h in a C file
4. Include shows

[2019-08-24 13:08] yahao87 commented on #79649
@mjbvz As I wrote above, you can just paste it and check.
I checked this in many ways, even changing os, and it didn't work.
Of course, even the insider version.

The test is not difficult at all.
You just paste it

[2019-08-24 13:17] charlesg99 commented on #21849
@lxsk Is it still in the plans to create a PR for your work on this?

[2019-08-24 13:19] zwuis opened #79741 "Change displayed language after unistalling it."
After uninstalling the language pack you are using, VS Code should show Command Palette to change displayed language.

Sorry for my poor English.

[2019-08-24 13:27] albu77 commented on #76971
I don't see which infos I could add:
Even with the last Vs code version
Version : 1.37.1 (system setup)
Validation : f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date : 2019-08-15T16:18:10.377Z
Électron : 4.2.7
Chrome : 69.0.3497.128
Node.js : 10.11.0
V8 : 6.9.427.31-electron.0
OS : Windows_NT ia32 6.1.7601
Extensions enabled or disables: same problem

- Setting is Ok
- Scripts are declared in package

[2019-08-24 14:03] mjbvz commented on #79649
As I said, I tested it and it works for me. Please test it on your machine using the latest insiders build

[2019-08-24 14:13] IllusionMH commented on #79649
I think I was able to to repro this after I added this file to existing project **and** installed `@types/react-native`. Otherwise worked fine in Insiders and TS@next.

Also removing half of the exported object resulted in long "Loading..." 10sec+ instead of options, however TS Server reports that `completionInfo` finished in 100-300ms

[2019-08-24 14:27] erlantorres commented on #17691
Hi,

You just need to add a tag --extensions-dir="<your directory extensions>" in file code.cmd located in vscode's instalation path: "..\Microsoft VS Code\bin". Like this:

this is original file configuration:
<code>
@echo off
setlocal
set VSCODE_DEV=
set ELECTRON_RUN_AS_NODE=1
"%~dp0..\Code.exe" "%~dp0..\resources\app\out\cli.js"  %*
endlocal
</code>

After adding the tag --extensions-dir:
<code

[2019-08-24 14:46] bpasero opened #79742 "Revisit label service usages for memoizing results"
I think recently we changed `FileEditorInput` to no longer cache the result of name and description but to always compute it when needed. It seems the label service has become quite complex with regards to finding the correct formatter.

My assumption is that a label will only change if more formatters get registered, so can we maybe restore the cached labels and flush them when formatters change?

[2019-08-24 14:52] yahao87 commented on #79649
![issue](https://user-images.githubusercontent.com/10890178/63639034-310ade00-c6ca-11e9-9fa7-d47117ce54f4.gif)

[2019-08-24 14:58] #79740 closed

[2019-08-24 15:02] mjbvz commented on #79649
So is it working or not?

[2019-08-24 15:09] RMacfarlane commented on #79737
@huanhexiao What version of vscode are you using? What language are you programming with?

[2019-08-24 15:10] yahao87 commented on #79649
@mjbvz You can see the loading progress bar never ends.

[2019-08-24 15:10] #79736 closed

[2019-08-24 15:17] #79733 closed

[2019-08-24 15:31] bpasero commented on #63865
**Verification:** you can hide individual commands (e.g. "`workbench.action.debug.start`") from the macOS touchbar via `"keyboard.touchbar.ignored": []` setting. Possible IDs:

[2019-08-24 15:40] shpsyte opened #79743 "IntelliSense not work properly"
- VSCode Version: 1.37.1
- OS Version: Linux Mint x64 19.1

Steps to Reproduce:

What do I need to do for the IntelliSense work outside of my project?

If I create a project from scratch, It works properly, however, I have a project and I open VS Code one folder back, but the IntelliSense not work properly;

Errors are don't highlight ;
Autocomplete not show option ;

Tks,

[2019-08-24 16:36] mmahmoudian commented on #78557
@aeschli your "solution" to address this works and I appreciate the suggestion and also title modification, but I think you also agree that it is very un-intuitive since achieving something should not be through doing something (recursive folding: <kbd>SHIFT</kbd>+<kbd>Click</kbd>) first and undoing something else (normal unfolding: <kbd>Click</kbd>).

I would also like to raise a point here:
recu

[2019-08-24 16:38] hd321kbps commented on #65352
I propose to redesign the vertical scroll bar.
To reduce width, add volume and shadows.
Liked the option of Sublime Text.
But not only under macOS but under Windows
![sublime-1](https://user-images.githubusercontent.com/9886849/63640264-b8465a80-c6a6-11e9-9e3e-b0282dd61706.jpg)

[2019-08-24 16:40] kripod opened #79744 "Support '.jsonc' file extension for files inside '.vscode'"
Currently, parsers struggle to read JSON comments when coming across the '.json' extension. Using the '.jsonc' extension implies that the given file is allowed to have comments, e.g.:

[code]

As a temporary workaround, a `.gitattributes` file like below could be used to signal GitHub's parser that files inside the '.vscode' directory use JSONC syntax:

[code]

[2019-08-24 16:52] #78871 closed

[2019-08-24 17:15] Capreyon opened #79745 "Error in Terminal"
Issue Type: <b>Bug</b>

I won't able to type anything in the Terminal.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 6.2.9200

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8300H CPU @ 2.30GHz (8 x 2304)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d:

[2019-08-24 17:26] xconverge commented on #75627
I am pretty bummed that we have brought the Vim extension to where it is now, and are constantly bombarded with performance issue reports. It is almost "good enough" but this caveat is enough to turn a percentage of users away from the experience and it is a bit demoralizing at times to have no path forward.

Thanks for the explanations in this issue report though, the comments have cleared up a f

[2019-08-24 17:34] Alirezanet commented on #77898
I have same issue in windows insider 18965 build and vscode 1.137.1. any updates ?

[2019-08-24 17:44] kr-pankaj opened #79746 "Preview of any thing is not working"
**When i am pressing ctrl + shift + p it is showing the list in that list when i am choosing ionic preview and html preview no one is working .. no one is showing the preview of the code. in the previous version it was working but now it is not working.**

[2019-08-24 17:49] xhat commented on #46403
@craigcosmo
`    "customizeUI.stylesheet": {
        ".monaco-toolbar": "display: none !important;",
    },`

[2019-08-24 18:08] wyd2015 commented on #79480
the project `yq_patrol_web` is not empty. I tried to run `Developer: Toggle Developer Tools`, that is only a empty `div` tag. but when I remove this project and add it again, it expands well. This situation is sporadic...

[2019-08-24 19:06] jabacchetta opened #79747 "Keyboard shortcuts editor context menu option name change"
When in the keyboard shortcuts UI editor, if you right click on a rule to bring up the context menu, you get options for modifying both the keybinding and the "when" context clause.

"Change Keybinding" and "Change When Expression" are appropriately named.

But it seems like the options that affect _both_ the keybinding _and_ the "when" clause should be renamed. Possibly changing "Remove Keybindin

[2019-08-24 19:32] JanChodorowski commented on #18805
Bump

[2019-08-24 20:40] Zylann opened #79748 "Call stack of the debugger is too narrow when debugging C++"
VSCode 1.37.1

When I hit breakpoints debugging a C++ application, the call stack view of the debugger is way too small to fit lines of that length. It forces me to resize the panel to an absurd width to see information:

![image](https://user-images.githubusercontent.com/1311555/63642463-580be480-c6b7-11e9-8b5f-9345873b28f5.png)

I was using QtCreator before and it showed the call stack at the bo

[2019-08-24 20:43] bonaluo opened #79749 "Cursur and Line feed"
Issue Type: <b>Bug</b>

I press alt to use cursor edit multi lines, but it has two conditions. When the window's width is not wide enough (actually it does not change the line)it will be the picture one . I expect the pciture two.

![actual](https://user-images.githubusercontent.com/27731323/63641980-19dbe880-c6ea-11e9-948f-95e11c934df0.png)

picture one

![should](https://user-images.githubuserco

[2019-08-24 20:58] summarek commented on #78886
@KsRyY How did you fix it? i have same issue.

[2019-08-24 21:00] moseleyi commented on #79699
Oh wow.. that's new :D Thank you!

[2019-08-24 21:00] #79699 closed

[2019-08-24 21:06] Gama11 commented on #79705
I managed to identify the breaking commit by building VSCode from source and running `git bisect`:

This seems to be a fairly big refactor in / around vscode-textmate and unrelated to the markdown grammar, so not sure where to go from here (cc @alexandrudima).

[2019-08-24 21:22] rhewy commented on #17691
Hi,

The above tweak of the bin\code.cmd files does not work as described on VSC 1.37.1 on Win10.

It seems that on Win10, code.exe is ran directly and the bin\code.cmd file is bypassed

If I run bin\code.cmd manually with **-extensionHomePath** (not --extensions-dir=) then it seems to pick up the redirect, however, this would be the same modifying the Start Menu shortcut.

Currently, what would f

[2019-08-24 21:27] dongryphon commented on #15178
Finally found this issue after banging my head on the API for hours - this is a crazy oversight and I'm amazed it is 3 years in the waiting with so many interested parties.

Also https://github.com/microsoft/vscode/issues/14483 is not a duplicate. That set of features I also need to be able to deal with webViews and other non-textEditors but this request does not imply that non-textEditor tabs wou

[2019-08-24 22:50] aws-scripting-guy opened #79750 "Ability to pin to a specific version in "extensionDependencies""
It would be great if we can pin to specific version in "extensionDependencies" block inside package.json. For example:

[code]

As of today, I am not able to specify specific version, so I am dependent on the "latest".

[code]

I am currently facing an issue with my extension when I'd like to release an emergency release, where I would be able pin to a specific version of the dependency module bef

[2019-08-24 23:21] amithegde opened #79751 "Increase width of vertical scroll bar on integrated terminal"
It takes 3 seconds to get hold of vertical scroll bar on integrated terminal since it's too tiny as of now. Provide a way to make it larger. (similar to this: https://github.com/microsoft/vscode/issues/47888)

[2019-08-24 23:49] dongryphon commented on #47541
Sad that this hasn't been pushed for as I don't see how it could have been overlooked for extension authoring. I assumed because the Files view could drag items, so could my custom tree... wasted a bit of time looking over the docs for how to do it and eventually came here.

I want this for a WYSIWYG designer to drag items from a catalog (custom tree) and drop them on a design canvas (a webview).

[2019-08-25 00:08] ngirard commented on #40712
Just can't believe this still hasn't been implemented...

[2019-08-25 00:08] barelyfitz commented on #28905
Having swtiched to vscode recently, I was also looking for this feature, something like "right-click on the folder to focus the workspace on just those files".

In the meantime, I noticed the _breadcrumbs_ feature provides some of the same functionality: click the directory name in the breadcrumb, and you get a dropdown of just the files in that directory. Not quite what I'm hoping for, but better

[2019-08-25 00:35] llibicpep commented on #22325
@Tyriar thanks a lot! I just tried it, and it seems that it works, with a little issue though.
So I usually right click on a sub-folder and choose `Open in Terminal`. When I do that with `experimentalUseTitleEvent` enabled, the title automatically set to `1: /bin/bash`. But if I `cd` anywhere and all subsequent `cd`s changing the title to the `cwd`.

[2019-08-25 01:02] onurbasak opened #79752 "Shortcut alignment issue in Alternative Menu at Native Title Bar"
Some shortcuts close to description due to alignment issue when using native title bar for mac and linux.
Like following
Close Folder [Ctrl + K F]
Color Theme [Ctrl + K Ctrl + T]
Keymaps ... etc

![Screenshot from 2019-08-25 03-54-46](https://user-images.githubusercontent.com/40337047/63644259-97edbe80-c6ed-11e9-919d-63ed58f515c0.png)

[2019-08-25 01:29] jerryzhoujw opened #79753 "[Outline Panel] Outline item selection corresponding to item selection in source file."
### Outline panel:
Now If I click item in Outline panel, source file can jump to corresponding position。

### Expected Feature
What I prefer to have is when I click the code line of `function name`, `class name`, `property name`, Outline panel also can jump to corresponding item position.

If this item is not visible due to Outline list too long, the Outline panel can move the list position to let

[2019-08-25 01:29] Elyx0 commented on #78221
My debugger is broken also even with the simpliest config:

[code]

[2019-08-25 01:31] jerryzhoujw commented on #79753
It's already implemented by `'Follow Cursor' feature`. Sorry.

[2019-08-25 01:31] #79753 closed

[2019-08-25 01:37] Elyx0 commented on #78221
Works with the insider version.

[2019-08-25 02:02] huanhexiao commented on #79737
my code is the latest version, 1.37.1
i use C++

[2019-08-25 02:02] huanhexiao commented on #79737
my code is the latest version, 1.37.1
i use C++

[2019-08-25 02:04] angelhdz opened #79754 "[SOLVED] [BUG] or [UNKNOWN FEATURE] Command Line Add Folder To Workspace Creates New File Instead, Workspace Loses Focus"
- VSCode Version: 1.37.1
- OS Version: Windows 10 Pro 64bit

### Steps to Reproduce:

1. Execute command `Code --add 'Folder Name'` directly from Terminal or with a Python script

### Results

Instead of adding the folder to the last active Workspace, a new file is created with the name of the folder and opened in a tab. If the folder name has more than 1 words, then multiple files are created wit

[2019-08-25 02:16] angelhdz commented on #79754
### Solved

For some reason, the folder was losing the absolute path, so it only had the name, so it couldn't find the folder, and ultimately created a new file with the folder's name.  I hope this help someone else calling VSCode commands from the Command Line. Cheers!

[2019-08-25 02:16] #79754 closed

[2019-08-25 04:06] barelabs commented on #55816
I also would really appreciate preview mode being activated when pressing the up or down arrows in the explorer window.  It would help keep my hands off of the mouse.

[2019-08-25 05:05] #79743 closed

[2019-08-25 05:27] RMacfarlane commented on #79746
@kr-pankaj What extensions do you have installed/which extensions add the "ionic preview" and "html preview" commands?

[2019-08-25 05:42] Rc85 opened #79755 "Closing tag is not memorized anymore"
- VSCode Version: 1.37.1
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. Create a list by typing `[`. It should automatically create a closing tag of `]`.
2. Type some value in it, resulting in `['test', 'test']`.
3. Set your cursor somewhere else and then set it back just after the last `'test'`.
4: Type `]` and it will add another `]`, resulting in `['test', 'test']]`.

Details:

This happ

[2019-08-25 05:50] kr-pankaj commented on #79746
Thanks for replying. As for ionic preview i have installed Ionic Preview
and for html, Live HTML Previewer.
Please find the screenshot attached below for your reference.

*Thanks & Regards*
*Chandrakant*

On Sun, Aug 25, 2019 at 10:59 AM Rachel Macfarlane <notifications@github.com>
wrote:

[2019-08-25 06:09] usernamehw commented on #79755
#37315

[2019-08-25 06:27] OSadovy commented on #43262
while uia support would be the best option, in the due time we might consider allowing the user to decide whether they can tolerate issues mentioned (lack of proper feedback & line numbers confusion) by maybe introducing a setting which will override current default to disable folding entirely. Another way to overcome current lack of folding with screen reader might be to introduce commands for ju

[2019-08-25 06:37] AnostDev commented on #2743
Exactly what I thought. I hardly understand why there is no a built-in  syncing module in VSCode.

[2019-08-25 06:40] collegewap commented on #29351
Even I would like this feature

[2019-08-25 07:17] Mah3 commented on #79626
It is nice feature , I didn't know, and I think it is very difficult to discover as @RMacfarlane changed my issue title **(many thanks by the way)**, and also I couldn't use copy paste , I think visual studio user experience in this feature is much great.

[2019-08-25 07:30] bpasero commented on #79734
@rik72c what are the steps exactly?

[2019-08-25 07:46] Green-Soybean opened #79756 "Wrong separator in path when debugging c++"
- VSCode Version: 1.37.1
- OS Version: Windows 10
- Mingw-w64 Version: 6.0.0

Steps to Reproduce:

1. VS code, C++ extension and Mingw-w64 are successfully installed.
2. Create a "hello world" C++ program in VS code and press F5 to debug.
3. ERROR INFO
"Unable to start debugging. Unexpected GDB output from command "-environment-cd C:\\\\Users\\\\UserName\\\\Desktop\\\\test". C:\\\\Users\\\\UserNam

[2019-08-25 07:58] helmar81 commented on #79736
sorted now, applied:
npm uninstall ionic
npm uninstall -g ionic
npm install -g ionic

issue resolved

[2019-08-25 08:26] junlas commented on #79486
Hello, I'm back, this bug (JS auto import not work) appears again in the latest version 1.37.1, it is sometimes good and sometimes not clear. For example, here, I create a new ES6 JS file `InnerSectionAudio. Js`, I want to use it in another JS file, the bug appears, it always not automatically import this file.

<img width="1226" alt="err" src="https://user-images.githubusercontent.com/1894359/636

[2019-08-25 08:27] bryanjhv commented on #79038
Could anyone please reopen this? Maybe someone who knows how to read and understand issues.

Just to be clear:
- It's **not** about split editor.
- It happens **only** with user **settings.json**.
- It's **not** specific to **Prettier** (tested others).
- It happens with **any** JSON-capable **formatter**.
- It **started** happening on VSCode **1.37.0** (remains in 1.37.1).

It's known that Micros

[2019-08-25 08:29] shobhitchittora opened #79757 "Add feature to duplicate file or folder"
Ability to duplicate multiple files and folders in the explorer would be such a delight. Inspired by other editors and mac itself, I'd like to take some votes and re-consideration on this.

<img width="269" alt="Screenshot 2019-08-25 at 1 57 28 PM" src="https://user-images.githubusercontent.com/4711855/63647542-66521300-c740-11e9-9644-d9a890399374.png">

PS: I think this could help on other platfo

[2019-08-25 08:43] shobhitchittora commented on #79757
Got a little ahead of myself and tried a crude implementation.

[2019-08-25 09:00] lukas-tr opened #79759 "SVG in markdown documentation not rendered (vscode.MarkdownString)"
- VSCode Version: 1.38.0-insider
- OS Version: Ubuntu 19.04, Windows 10

Steps to Reproduce:

1. Install `lukas-tr.materialdesignicons-intellisense` or any other extension that uses base64 encoded SVGs in completions (also tried `janne252.fontawesome-autocomplete`)
2. Open a `html` document and type `mdi-` to get completions

Preview in 1.37.0-insider (used non insiders version for screenshot):
![

[2019-08-25 09:14] ratiw opened #79760 "Double click on editor tab to hide other editor groups"
Sometimes, when open many editor windows (or even editor group) on a notebook computer where screen real estate is very limited, to compare codes or other things, it would be really great if we can double-click on the editor tab at the top to temporary expand the editor to cover the entire window of VS Code for easier editing. And when press ESC key, it is going back to the previous layout.

Pleas

[2019-08-25 09:21] rioj7 commented on #78660
I want to create a decorator that works out of the box with any theme. That means using colors defined in the theme.

I have used the following solution:

* default the decorator only uses the `editor.selectionBackground`
* have a setting to also use the `editor.selectionForeground` (only needed for high contrast themes)

My decorator only briefly decorates a piece of text so not likely that it wi

[2019-08-25 10:16] alengYuan opened #79761 "After clicking on "Kill Terminal", the entire interface stops responding"
- VSCode Version: 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35)
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Run terminal (ctrl+`), this will run a script to initialize the environment of "Cmder". The following code is part of my "settings.json".
[code]
2. Run "npm run build" or other command.
3. Click on "Kill Terminal" button.
4. The entire interface has a probability to

[2019-08-25 10:38] ahmedju opened #79762 "Switch between format code extensions"
How to change default format code??
i have many extensions for format code and I want to switch between other extensions format, How can I do it??

[2019-08-25 11:08] #72057 closed

[2019-08-25 11:10] CodingCreate101 commented on #79762
@ahmedju
Try this: Open VS Code and `Ctrl + ,` then search for `editor.defaultFormatter` setting.

Choose which one you'd like to use in the drop-down.

-----

Alternatively, you can copy that setting to `Settings.json` and keep other formatters listed.

Example:
[code]

Uncomment whichever you would like to use and so on.

See any of that works out for you.

[2019-08-25 11:21] bpasero opened #79763 "Editors: can close all editors, even if dirty"
Steps to Reproduce:

1. open an editor
2. make it dirty
3. open it to the side
4. close all editors

=> 🐛 all editors close even though the file is still dirty

[2019-08-25 11:30] meelos commented on #77898
Also experiencing this problem. First time usings WSL.. Not a great first impression.

[2019-08-25 13:12] wyd2015 commented on #79480
I know what happend. I removed that project folder to another path. if vscode can give me a tip about this, i would not push an issue any more. Thank you

[2019-08-25 13:12] #79480 closed

[2019-08-25 13:29] pouledodue commented on #1304
is it possible to insert snippet when the cursor is inside a string?
would be great

[2019-08-25 13:38] xiaojun996 opened #79765 "希望每次更新内容可以有翻译选项...查看机器翻译内容"
Issue Type: <b>Feature Request</b>

中国使用vs code的开发者很多，如果你们能支持中文更新说明就再好不过了

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.18362

[2019-08-25 13:56] yuru7 opened #79766 "After using style properties in HTML, the candidates are not what I expected."
- VSCode Version: 1.37.1
- OS Version: Windows 10 x64 (build 1903)

### Expected behavior:

`<p>` is input by Emmet.

![Expected](https://user-images.githubusercontent.com/13458509/63650938-10568d00-c78b-11e9-80cb-f9aa87d0af47.gif)

### Currently behavior:

`<p>` is don't input by Emmet.

![When_used_style_property](https://user-images.githubusercontent.com/13458509/63650949-41cf5880-c78b-11e9-86d

[2019-08-25 13:59] erlantorres commented on #17691
Yo,

You are right, need to set up the shortcut too. My first explanation works only in command line, this calls bin\code.cmd.
However, both tags works. In my case I used **--extensions-dir=**.

Thanks.

[2019-08-25 14:35] tjohnsonhvac commented on #79610
Issue fixed with latest insider update. Thank you.

[2019-08-25 14:35] #79610 closed

[2019-08-25 14:44] JoeyRxy commented on #78445
@joaomoreno
When I uninstall all `Java` extensions,there're still problems!How could the extensions cause this problem?

[2019-08-25 14:50] Zireael opened #79767 "Find: [Files] [text in Project]"
Hi,

Would it be possible to add more [Find] options to VSCode?
For example, `[Find File]`, `[Find in Project]`. At the very least I'd be grateful for being able to Find a file (filter maybe?) in File Tree pane and

Atom (sorry for comparing apples to oranges) has a separate menu dedicated purely to finding things in your project.

Current `Find` capabilities for VSCode are very limited. I had a l

[2019-08-25 15:07] dullroar commented on #35901
On Linux (Mint 19.2) installing the Inconsolata font and making it the first in the font list (and restarting VS Code) fixed the terminal window issue for me. I know that's not a "fix" but for those reading this thread who want a font "That Just Works" maybe that will help until it is fixed. FWIW, Linux Mint's editor, Xed, has had a similar issue - https://github.com/linuxmint/xed/issues/39.

[2019-08-25 15:15] JoeyRxy commented on #79108
@alexr00 But they don't want to fix the bug,so?

[2019-08-25 15:16] JoeyRxy commented on #79108
@alexr00 https://github.com/atom/language-java/issues/202#issuecomment-524430424

[2019-08-25 15:16] andrecasal opened #79768 "VS Code setting scss.lint.unknownAtRule isn't recognized but applies css.lint.unknownAtRule logic"
VS Code setting scss.lint.unknownAtRule isn't recognized nor part of the defaultSettings.json but applies css.lint.unknownAtRule logic.

VSCode Version: 1.37.1
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:16:34.800Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

Video explaining the issue: https://youtu.be/7ubqkAU7QkE

[2019-08-25 15:42] byyxx128 commented on #79765
### The author was asking for localization of release notes.
***
不存在的……你的这个issue很快会因非英文表述而关闭……不懂英文还搞什么开发……
![image](https://user-images.githubusercontent.com/20079289/63652330-d63cb980-c791-11e9-8ca3-b9d631fb40f6.png)

[2019-08-25 15:43] BryanHunt commented on #78127
Ok, here is a way to reproduce the problem:

1. Create a hello world project
2. Create a workspace and prefix the path to the project with `/System/Volumes/Data/`
3. Load the workspace
4. Set a breakpoint
5. Debug

Example workspace:

[code]

[2019-08-25 15:51] byyxx128 commented on #79765
### The author was asking for localization of release notes.
***
你这个issue很快会因非英文表述而被关闭……不要把内容全写标题里。（标题党没有好下场）

[2019-08-25 15:58] byyxx128 commented on #79765
### The author was asking for localization of release notes.**
***
反馈问题要用英文……不要标题党。然后你这个issue应该很快被作为垃圾而关闭，不要意外。
![image](https://user-images.githubusercontent.com/20079289/63652550-2f0d5180-c794-11e9-8eb0-2be5846f9df6.png)

[2019-08-25 16:03] bpasero commented on #78127
@BryanHunt when you hover over a file in the explorer of VSCode, which path do you get then?

[2019-08-25 16:06] BryanHunt commented on #78127
@bpasero `/System/Volumes/Data/Users/bhunt/Development/OpenSource/test/hello.js`

[2019-08-25 16:09] roblourens commented on #79038
I still can't reproduce it, trying different formatters. Maybe someone can share their settings file that can't be formatted. But I think an extension author who can repro it could investigate faster than I can.

[2019-08-25 16:17] jasonlfunk commented on #77528
<img width="985" alt="image@deepak1556 rc="https://user-images.githubusercontent.com/685188/63652769-c8287200-c76c-11e9-99ef-30d6647c00d6.png">

@deepak1556 Your build from https://github.com/microsoft/vscode/issues/77528#issuecomment-518175945 is still crashing on 10.15 (Beta 6).

I'll be happy to test any further builds you may have.

[2019-08-25 16:17] RMacfarlane commented on #79762
@ahmedju Another way in addition to everything @CodingCreate101 listed is to use the `Format Document With...` command, which will always ask which formatter you want to use

[2019-08-25 16:17] #79762 closed

[2019-08-25 16:21] RMacfarlane commented on #79745
@Capreyon Can you describe the problem a little bit more? When does this happen? Do you see an error message?

[2019-08-25 16:22] levilansing commented on #78833
Agree with everyone in this issue. Frankly I'm surprised such a small collection of people were able to change the default behavior of such a standard function of the IDE. Their opinion is valid, but it's a matter of preference, not something that should have changed the default behavior for everyone else. At the very least we need an option to restore the old behavior.

In the last couple weeks I

[2019-08-25 16:41] rhyek commented on #78833
How long will we have to wait for this option? Doesn't look like there's even a PR for it. Looks like it'll be at least another month to get a new version with the fix.

I really don't even understand what this change was trying to do or what the justification for it was. Previously, if you typed a closing parenthesis before an existing one and it got swallowed, the caret would now be positioned p

[2019-08-25 17:26] brunovieira97 commented on #73728
Isn't this a duplicate of #55428?

[2019-08-25 17:45] SimonSiefke opened #79769 "color picker doesn't update color in document immediately"
- VSCode Version: 1.38.0-insider
- OS Version: Ubuntu 18.10

Steps to Reproduce:

1. Open Color picker
2. Pick a color
3. Text document only changes on mouseup but not while dragging

Does this issue occur when all extensions are disabled?: Yes

[2019-08-25 17:46] ShaCP commented on #79656
I already said I tried creating a jsconfig.json and it did not work. I saw in the VS code page that it might not work if the code was "too dynamic", but wasn't sure if this code was considered dynamic enough to break intellisense. Guess it was. Thanks.

[2019-08-25 17:52] #79152 closed

[2019-08-25 18:59] Download commented on #71381
According to this issue it should be fixed:
https://github.com/microsoft/vscode/issues/70371

[2019-08-25 19:30] tboby commented on #10471
Another use case:
The language my LSP extension supports uses `.txt` for many different types of file. I want to present different actions depending on the actual type of file my language server determines the user has open.

Currently I can only do this with code actions with range line 0 - line max, which are very hard for users to discover.

[2019-08-25 19:38] nikitavoloboev commented on #75354
Is this something I can help do or there is some limitation in the API?

[2019-08-25 20:40] jabacchetta commented on #68184
Another reason for allowing them in the UI: #75599

[2019-08-25 21:26] nurp opened #79771 "Bug with filename case sensitivity"
Issue Type: <b>Bug</b>

I have one file "powersum.cpp". I think I created the file as powerSum.cpp in the first place but later changed the name to all lowercase.
Now I see lowecase version on the vscode sidebar but when I debug the program, it doesn't stop at breakpoint in powersum.cpp. Actually it crashes(which is expected) and when I click the exception it opens a ghost file "powerSum.cpp" like

[2019-08-25 22:20] HoSheiMa opened #79773 "Market not Working For Egypt"
i have problem with extensions market not showing any thing and this problem not working with other cant ray like USA || Germany
screenshots
Egypt:
![Screenshot from 2019-08-26 00-17-24](https://user-images.githubusercontent.com/31377696/63656652-05095e80-c797-11e9-90d1-e65af0b688db.png)
USA | Germany
![Screenshot from 2019-08-26 00-17-50](https://user-images.githubusercontent.com/31377696/6365665

[2019-08-25 22:28] nitinsh99 opened #79774 "Issue with debugger not referencing javascript closure variables"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Open following code in vscode

[code]
2. Put a breakpoin in Line 3
3. Run using vscode node debugger
4. When breakpiont hits, try to point the variable `util` in debug console

Does this issue occur when all extensions are disabled?: Yes

Note:
I am experiencing an issue in the vscode debugger, where it's not showing variables inside closure

[2019-08-25 23:05] weinand commented on #79726
@azlochevsky Please make sure that both the "Node Debug" and "Node Debug (legacy)" extensions are enabled:

<img width="554" alt="2019-08-26_01-04-06" src="https://user-images.githubusercontent.com/1898161/63657093-8106a500-c79d-11e9-8768-113c3f718cc6.png">

[2019-08-25 23:20] georgebatalinski commented on #77075
Let me guys know if here would be the place to update. Also, not sure if this would be an issue:
https://github.com/w3c/aria/issues/454

https://github.com/microsoft/vscode/pull/79775

[2019-08-25 23:22] xiaojun996 commented on #79765
😢

[2019-08-25 23:28] HoSheiMa commented on #79773
problem fixed After rewrite a setting -> wifi -> ipv4 -> dns -> 8.8.8.8
and set automatic -> off and save and restart a machine or airplane off and return on and select a network again and worked :D

[2019-08-25 23:28] #79773 closed

[2019-08-25 23:39] brightest-dazes commented on #79756
Me too

[2019-08-25 23:45] Cairo2k18 commented on #77061
I am also getting this error on code version `1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35) [x64]` and snap & snapd version `2.40-1`.

However it seems to work fine on my laptop which is running the exact same versions as above?

[2019-08-26 00:08] mankewd opened #79776 "VS Code doesn't read Git packed-refs"
VS Code doesn't seem to read the Git packed-refs file for remote branch information. It only looks in the .git/refs/remotes/origin folder but if the Git repository has a lot of seldom used branches then the hash for that branch will be in the packed-refs file and not in the above folder. Consequently, checking out one of those branches will lead to continuous file watcher errors. For example:

[co

[2019-08-26 00:15] shamera82 opened #79777 "kuberneties extension configmaps display broken for json files contains with special characters"
Issue Type: <b>Bug</b>
when json file contains special characters, it shows broken json file in kuberneties extension under Config Maps

Replicate Issue:
in helmcharts
configs -> sample-service-config -> sample-tenant- -> dev.json

[code]
in helmchart configmaps
[code]

**BUG/Problem**: Kuberneties extension under Sample-k8s-Cluster -> Configuration -> Config Maps -> sample-resource-config -> dev.

[2019-08-26 00:17] jascodes commented on #78110
Hey guys,

I finally got around and implemented it.
`${any_snake_case_text/((^[a-z])|_([a-z]))/${2:/upcase}${3:/upcase}/g}`

**Output**
[code]

[2019-08-26 01:35] PowerAccess commented on #52116
Is VSCode extension sandboxing (for security and reliability) and extension permissions something that is being considered or can be considered by the VSCode team?

In addition to helping improve security of such extensions, sandboxing may also help improve reliability.

## Potentially Preventing Current Widespread, Reoccurring Extension Host Crashing Occurring Now Across Many Extensions

This is

[2019-08-26 01:54] v-dantch commented on #79488
"Command + Ctrl" on Mac.

[2019-08-26 02:01] getvictorh commented on #79675
Thank you very much for answering @byyxx128.
To try to be clearer, I tell my experience:
When the "Auto Guess Encoding" option is enabled, Viusal Studio Code is not able to correctly detect the encoding of the files. Usually if they are saved in UTF-8, it works fine, except for some cases where it detects tis620, but if it is saved in Windows-1252, it almost always works badly. It can detect ISO-8

[2019-08-26 02:27] huanhexiao commented on #79737
i think it's an issue about the OS, i tested it on Ubuntu 16.04, everything is Ok

[2019-08-26 02:29] lamborghini1993 opened #79778 "Spaces display anomalies"
- VSCode Version: 1.37.1
- OS Version: Ubuntu 18.04.3 LTS

![2019-08-26 10-28-58 的屏幕截图](https://user-images.githubusercontent.com/18731213/63661265-5f80da00-c7ec-11e9-8ae7-f910cb211049.png)
Spaces and characters are displayed in an overlapping manner.
The above picture is for overlapping display problems.
For example, the last line is: input 4 spaces + one letter 4.
Result 4 shows that after the f

[2019-08-26 02:35] avin-shum commented on #25887
@deyvidm Just allowing hot-key to move changes is good enough.

[2019-08-26 03:23] roblourens commented on #79716
This is an interesting idea. I can't decide whether it would be expected behavior or not. You could get this behavior by doing a search for a regex like `(.|\n)*`.

[2019-08-26 03:29] roblourens commented on #79405
Closing, I can reopen if you have more info @entobarn. @nerdomancer please open a new issue with as many details as possible.

[2019-08-26 03:30] roblourens commented on #79697
https://github.com/microsoft/vscode/issues/79172

[2019-08-26 03:30] #79697 closed

[2019-08-26 03:55] jeanp413 commented on #79757
Just in case, in https://github.com/microsoft/vscode/issues/9345#issuecomment-234368464 is mentioned that there's an extension that already do this
https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-duplicate

[2019-08-26 04:04] roblourens commented on #79172
@sandy081 I'm not following this code.

https://github.com/microsoft/vscode/blob/aa02f856bfce711dd2aa83309b97de0cf2b5722f/src/vs/workbench/contrib/preferences/browser/preferencesWidgets.ts#L394-L396

I think this is checking whether to update the folders button after folders change, so should it be

[code]

and then change updateTarget to accept null? Or am I misunderstanding?

[2019-08-26 04:19] MrNever opened #79779 "更新vscode工具后编译代码非常慢"
所需的数据太大，无法直接发送。我们已经将其写入剪贴板，请粘贴。

[2019-08-26 04:19] MrNever opened #79780 "更新vscode工具后编译代码非常慢"
更新vscode工具后编译代码非常慢

[2019-08-26 04:24] RMacfarlane commented on #79780
Duplicate of https://github.com/microsoft/vscode/issues/79779

[2019-08-26 04:24] #79780 closed

[2019-08-26 04:27] #79779 closed

[2019-08-26 04:32] RMacfarlane commented on #79778
@lamborghini1993 Sorry, I don't understand the problem. What is it you expect to see?

[2019-08-26 04:33] #79777 closed

[2019-08-26 04:35] eamodio commented on #79761
@alengYuan See https://github.com/microsoft/vscode/issues/71966#issuecomment-522848243

[2019-08-26 04:37] eamodio opened #79781 "Data-uris no longer work in hovers"
Issue Type: <b>Bug</b>

In the latest insiders build data-uris seem to no longer work in the hover's markdown.

See the broken image
![image](https://user-images.githubusercontent.com/641685/63665506-a2fe2880-c799-11e9-8a8a-8d92c027b874.png)

This currently works fine in stable.

VS Code version: Code - Insiders 1.38.0-insider (0f73473c08055054f317c1c94502f7f39fdbb164, 2019-08-23T05:39:22.818Z)
OS

[2019-08-26 04:38] #79755 closed

[2019-08-26 04:54] PowerWeb5 opened #79782 "Many Different Extensions Frequently Crash All Others on Startup with Reoccurring "Extension host terminated unexpectedly" – Extension Sandboxing / Isolation, Missing Error Log Fixes and Host Auto-Restart Needed"
There have been far too may reports (800+ now) of the VSCode Extension Host crashing with "Extension host terminated unexpectedly" like shown in the below screenshot:

![image](https://user-images.githubusercontent.com/4053734/63665402-067b5c80-c780-11e9-8121-c973a047eafc.png)

When this happens, **one extension ends up crashing all other extensions** and even crashing core VSCode services as well

[2019-08-26 05:05] PowerAccess commented on #52116
See #79782 for more details about proposed use of Sandboxing for Reliability (more than Security) and how it may be needed especially now in light of the many recent reoccurring issues with many different popular extensions repeatedly crashing Extension Host (and therefore all other extensions) on VSCode startup, without any way to reliably or easily workaround for many extensions, let alone deter

[2019-08-26 05:22] bpasero commented on #78127
@BryanHunt ok  another experiment:
* add a beakpoint into a file of that folder
* invoke the command "Developer: Log Storage Database Contents"
* from the opening developer tools in the console find and copy this entry:

![image](https://user-images.githubusercontent.com/900690/63666944-453a0280-c7d2-11e9-89bb-371ee77f322d.png)

If the path in there the same path with `/System...`?

[2019-08-26 05:24] bpasero commented on #79771
/duplicate https://github.com/microsoft/vscode/issues/12448

[2019-08-26 05:24] #79771 closed

[2019-08-26 05:26] bryanjhv commented on #79038
It's strange that after upgrading to `esbenp.prettier-vscode@2.2.1` and deleting the `~/.config/Code` folder (keeping `User` folder) fixed it and now works without a warning. I also tested with `HookyQR.beautify` before and it didn't work, but after clearing the profile folder it worked as it was on `1.36.1`.

Maybe there was some big changes in `1.37.0+` that made then fail without deleting the f

[2019-08-26 05:28] jabacchetta opened #79783 "Keyboard shortcuts/settings editors command palette consistency"
Suggestion to change the command name `Open Keyboard Shortcuts` to `Open Keyboard Shortcuts (UI)`, to keep consistency with the similar settings command: `Open Settings (UI)`.

[2019-08-26 05:29] jabacchetta commented on #79670
Related: #79747 and #79783

[2019-08-26 05:32] lamborghini1993 commented on #79778
Sorry, there is no description, here is a new description:
Spaces and characters are displayed in an overlapping manner. The above picture is for overlapping display problems. For example, the last line is: input 4 spaces + one letter 4. Result 4 shows that after the first space, the cursor is at 4, and the right arrow moves the cursor to the next line (indicating that the cursor points to the las

[2019-08-26 06:07] bpasero opened #79784 "Open Editors: unable to open file in a specific group if opened in other group and setting workbench.editor.revealIfOpen"
Steps to Reproduce:

1. open the same file in 2 groups
2. configure `workbench.editor.revealIfOpen: true`
3. try to click on the file in the one group and in the other

=> 🐛 it is not possible to open each, only one

//cc @isidorn

[2019-08-26 06:08] #79784 closed

[2019-08-26 06:12] bpasero commented on #79633
I think the issue is as follows:
* there is an editor group minimized that is not active
* clicking on the reference will prefer to reveal the editor from the group instead of opening it in the current group
* we preserve focus in the reference view because the interaction is by mouse and as such we do not activate the minimized group
* as such the group does not maximize

I pushed a change so tha

[2019-08-26 06:19] d1y opened #79785 "Chinese characters are garbled, setting utf-8 is also garbled"
- VSCode Version: 1.37.1
- OS Version: Darwin x64 19.0.0

Steps to Reproduce:

1.When I opened the file, many of the Chinese characters were garbled. I found that its character encoding was automatically changed to ISO 8859-2. When I manually set utf-8 to it, I still can't display

![](https://i.loli.net/2019/08/26/tJ6pVEFZrhfDqgP.png)

The garbled part is Simplified Chinese

Does this issue occur

[2019-08-26 06:20] bpasero opened #79786 "Open Editors: middle mouse closes and opens editor"
Steps to Reproduce:

1. open some editors in multiple groups
2. middle-click into the non-active group editor in the open editors view

=> 🐛 the editor closes but also opens the next editor in the list

I would expect the editor to close and not open.

@isidorn pushed a workaround, please check: https://github.com/microsoft/vscode/commit/b032304497183709c76861b19bf405b17afc992a

[2019-08-26 06:31] chrmarti commented on #79680
You can already press `P` a second (or more) time while still holding `⌘` and then release all keys to switch to the currently selected file. Does that address your request?

[2019-08-26 06:42] bpasero opened #79787 "Closing all editors: move dirty editor to the front when asking to confirm"
Steps to Reproduce:

1. open multiple editors across multiple groups
2. make some of them dirty across multiple groups
3. click "Close All" action from "Open Editors" view

=> it would be good if the first dirty editor in each group is being revealed so that the user can review the changes before making a choice. We do the same when closing all editors in a single group.

=> today we just ask in a

[2019-08-26 06:43] #79763 closed

[2019-08-26 06:43] #79787 closed

[2019-08-26 06:45] #79286 closed

[2019-08-26 06:46] skprabhanjan commented on #79716
@roblourens , Can I take this up ?

[2019-08-26 06:55] bpasero commented on #77143
@paulmillr if we can get https://github.com/micromatch/anymatch/pull/34 in, that would reduce our needed forks from 2 to 1. In order to get to 0 though we need to allow to set the options from chokidar too, or just hardcode the `{ dot: true }` option.

[2019-08-26 06:58] #78825 closed

[2019-08-26 06:58] bpasero commented on #78825
I pushed a change to name it "Toggle Inline View" consistently.

[2019-08-26 06:59] ArchanaGurav opened #79788 "Need to attach process and start the Debug from outside application just in one click"
Issue Type: <b>Feature Request</b>

We are supporting the vs code for python scripts editing and debugging for our users. We have alredy supported the editing and debigging the script, but we are facinng one blocker i.e. we need to start the debigging as soon as user selects debug button from our application we expect that we start the debug session and stop at the first line of the script. Is the

[2019-08-26 06:59] bpasero commented on #77438
Closing as per https://github.com/microsoft/vscode/issues/77438#issuecomment-520141564

[2019-08-26 06:59] #77438 closed

[2019-08-26 07:00] bpasero commented on #76629
We are building exploration builds that use a much newer version of our UI framework (Electron version 6.0.x). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/960208fdf9aa06e6892aa14c9c84ddd607fbeb2f/VSCode-darwin-exploration.zip)
* Linux (DEB): [Download](https://az764295.vo.msecnd.net/exploration/

[2019-08-26 07:05] #78888 closed

[2019-08-26 07:05] jrieken commented on #23927
Went with the kind approach and I actually quite like it. I thinks its flexible and expressive enough. These are all the proposed changes to cover suggestion, outline, and workspace symbols

[code]

[2019-08-26 07:07] jrieken commented on #79488
sure about that?

[2019-08-26 07:07] GuanyunLu opened #79789 "Is Sync Possibe?"
I wonder whether VSCode could have the SYNC feature.
Every time I install VSCode on different platforms, it takes me a lot of time to set the preferences and add extensions on.
May we public a sync feature based on Windows Account? To begin with, a beta version sync could remember extensions and when you log in on another platform, it downloads the extensions, just like Microsoft Store does.
Maybe

[2019-08-26 07:10] jrieken commented on #78605
Well, there is nothing I can do here. It's likely an extension issue (see https://github.com/microsoft/vscode/issues/78605#issuecomment-519794854) so please follow up with the extension author

[2019-08-26 07:10] #78605 closed

[2019-08-26 07:16] djmisterjon commented on #79633
@bpasero yes, sorry, some difficult to explain my brain in english but yes you say all.

[2019-08-26 07:19] isidorn commented on #79608
Great, adding verified label

[2019-08-26 07:20] altimmons opened #79790 ".extensions.action.enableAllWorkspace ignores code.workspace and Executes `workbench.extensions.action.enableAll`, suggestions only half work half the time, unwanted suggestions does nothing at all"
Issue Type: <b>Bug</b>
# Multiple Extension and Workspace related Implementation inconsistencies/bugs
1. **.extensions.action.enableAllWorkspace insteadeExecutes `workbench.extensions.action.enableAll`, ** not workspace specific extensions.
2. `*.code-workspace` : `"extensions": { "recommended" : [ ] } does not reliably execute.  Reliably Enable, Or even reliably suggest.  I'd say it suggests half

[2019-08-26 07:22] isidorn commented on #79784
@bpasero thanks for fixing this.

[2019-08-26 07:36] fbaligand opened #79791 "Make completion item description, selectable with mouse"
Currently, when a completion item description is displayed, we cannot select the description content with mouse and copy it.

=> This would be great to be able to select description content with mouse to copy it!
This is particularly useful when description includes an example that we want to copy.

[2019-08-26 07:40] isidorn commented on #55816
Can you please file a new feature request for that so we have it on the radar. Thanks

[2019-08-26 07:41] jrieken commented on #50972
Closing. We have the UX for outline, workspace symbols, and completions. The API is proposed and will be finalised in https://github.com/microsoft/vscode/issues/23927

[2019-08-26 07:41] #50972 closed

[2019-08-26 07:43] isidorn commented on #79748
For moving the call stack view to the panel it is a duplicate of
https://github.com/microsoft/vscode/issues/41686
and https://github.com/microsoft/vscode/issues/50853 which will give us more flexible layout.

As for the content of the callstack view please file that against the C++ extension so hey potentially trim the content on their end. Thanks

[2019-08-26 07:43] #79748 closed

[2019-08-26 07:45] isidorn commented on #79760
When you say editor group, you actually mean the title area of the editor - where you can see the editor tabs, right?
So you would basically like Zen Mode to hide the title area if I understood this correctly?

[2019-08-26 07:45] alexandrudima opened #79792 "August 2019 Endgame"
- **Monday, 26 Aug** Code freeze for the endgame
- **Friday, 30 Aug** [Endgame done](https://github.com/Microsoft/vscode/wiki/Development-Process#inside-an-iteration)
- **Wednesday, 4 Sep** Expected release date (this may change)

<details><summary>DONE</summary>

##### Monday
- [x] Run [OSS tool](https://github.com/microsoft/vscode-build-tools/tree/master/distro-tools) **endgame master**
  - *The

[2019-08-26 07:49] isidorn commented on #43262
@OSadovy feel free to create new feature requests for folding. However please first double check if there are currently no folding commands in the command palette that cover this - since there are quite some.

[2019-08-26 07:50] isidorn commented on #79786
@bpasero thanks, I will check it in the afternoon (since currenly I do not have a mouse).

[2019-08-26 07:52] isidorn commented on #76031
@kaidokert can you reproduce with vscode insiders (since we pushed a potential fix for this)
https://code.visualstudio.com/insiders/

[2019-08-26 07:53] dbaeumer commented on #69335
@bpasero when `rootPath` conceptually changes. It doesn't matter if we detect this using workspace folders or root path.

[2019-08-26 07:54] bpasero commented on #79633
@djmisterjon no worries. I am actually thinking that maybe a better fix would be to not just restore the minimized group but also set it active. It feels weird to me that you click on an item and you are not getting any feedback if the item is already opened in some group. At the very minimum I think it should not only restore (if minimized) but also activate the group. Would you agree?

[2019-08-26 07:55] isidorn commented on #60276
fyi @bpasero

[2019-08-26 07:55] uloco commented on #79038
Funny thing is, that you can format the file normally if you open it directly and not via `open file` and not with `open settings` (<kbd>command</kbd>+<kbd>;</kbd> on mac)

[2019-08-26 07:57] dbaeumer commented on #79756
@Green-Soybean can you please file the issue here https://github.com/Microsoft/vscode-cpptools against the vscode cpp extension.

[2019-08-26 07:57] #79756 closed

[2019-08-26 07:57] djmisterjon commented on #79633
@djmisterjon yes +1 for active group 👍

[2019-08-26 07:58] isidorn commented on #79742
Yes, we changed the FileEditorInput to not cache the results.
Droping the cache on new formatters makes sense. Assigning to next milestone and debt week to investigate then.

[2019-08-26 08:10] bpasero commented on #60276
@JacksonKearl there is `workbench.action.keepEditor`

[2019-08-26 08:11] bpasero commented on #79543
Closing since I cannot reproduce. @aeschli please verify.

[2019-08-26 08:11] #79543 closed

[2019-08-26 08:29] vodanhbk95 commented on #75518
Yah. I just got it and solved it.
You just reboot your system or device that run VS and then retry to run that code.

[2019-08-26 08:34] Capreyon commented on #79745
@RMacfarlane Yeah Sure, Actually the problem is same as some previous posts like I won't be able to type anything in the Terminal of the VS code, even you won't be able to see the current directory path in the Terminal as it is visible in normal working mode like (Sudhanshu@LAPTOP-JVKE5B8Q MINGW64 ~/Desktop/AI_lab) then I tried to uninstall and again install VS code but still it won't work
then th

[2019-08-26 08:36] DanTup commented on #77140
Multiline comments and strings work ok, is this different to those?

[2019-08-26 08:39] altimmons commented on #79790
# And a proposed, unifying solution

Making a few- small, not breaking changes would solve most of my and most other peoples issues with configuration.  Briefly, it involves unifying the settings files (Keybindings, Tasks, Launch, Snippets, Settings, and WS.code-workspace) and allowing referencing in a tree like fashion.  This is much more clear, much more extensible, backwards compatible and much

[2019-08-26 08:40] altimmons commented on #79790
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.18362
Remote OS version: Linux x64 4.4.0-18362-Microsoft

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz (12 x 3696)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_

[2019-08-26 08:40] brunoscopelliti commented on #79380
How?
Next time the issue occur to me, I'll consider this option.

[2019-08-26 08:42] usernamehw commented on #79789
/duplicate of #2743

[2019-08-26 08:42] #79789 closed

[2019-08-26 08:51] wolverian opened #79793 "URL link in terminal incorrect"
Issue Type: <b>Bug</b>

The URL linkifier thinks a closing paren is part of a URL.

<img width="505" alt="Screenshot 2019-08-26 at 11 47 35" src="https://user-images.githubusercontent.com/42124/63678301-9c060300-c7f7-11e9-86e6-b50a9ba866e8.png">

To reproduce: paste "https://github.com/Homebrew/homebrew-core/pull/43440)" (without the quotes) into the terminal. Click on the link: you'll get a 404.

[2019-08-26 08:52] #79349 closed

[2019-08-26 08:58] harrisliuwk opened #79794 "Move Python interactive to a new window (same workspace)"
I have two monitors at work and naturally wonder if I can use one screen for coding and the other for monitoring feedbacks from IPython/Jupyter Notebook/Pyhon Interactive, and the answer is sadly no. Split to left/right is not good because I want space of the entire monitor for viewing csv files and printing large dataframe in Python Interactive tab of full width is also a great pleasure.

When I

[2019-08-26 09:00] blwuer opened #79795 "F5调试python，不会默认进入虚拟环境"
python虚拟环境，调试django时，F5启动调试，不会默认进入python虚拟环境，之前的版本是没有这个问题的。当前vs code版本1.37.1

[2019-08-26 09:08] aeschli commented on #79543
Verified that it's fixed in
Version: 1.38.0-insider
Commit: 0f73473c08055054f317c1c94502f7f39fdbb164
Date: 2019-08-23T05:38:24.197Z
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.15.0-55-generic

[2019-08-26 09:12] v-dantch commented on #79488
Sorry for typo, it's "Command + Space" on Mac which we tried.

[2019-08-26 09:13] paolo-venturi commented on #76448
With version 1.37.0 the problem seems to be solved but with the update 1.37.1 the slowdown returns.

With the insider version 1.38.0 everything works.

[2019-08-26 09:16] woaibiancheng01214 commented on #77850
Is it solved?

[2019-08-26 09:18] wolverian commented on #79793
Looks like a duplicate of https://github.com/microsoft/vscode/issues/21125.

[2019-08-26 09:18] #79793 closed

[2019-08-26 09:19] altimmons opened #79796 "A Unifying Extension of all Settings Files (Requiring minimum work) which Simultaneously provides dramatically better Control over Extensions"
This is a duplicate of my own.  I have put tons of thought into how to best manage the mess and chaos I always feel using VS Code for all my projects.

This means I need it configured for like 10 different languages.  And each perfect config conflicts with others.  Its very difficult, and VS Code does a very poor job of allowing Granular control over extensions and providing different contexts.  S

[2019-08-26 09:25] youyou2012 opened #79797 "Error while loading extensions"
Issue Type: <b>Bug</b>

When I load extension list,It appear this message

connect ENOENT /Users/my/Library/Application Support/Code/1.37.1-shared.sock

Mac OS 10.14.6

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:16:34.800Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU

[2019-08-26 09:32] bpasero opened #79798 "Editors: group not activated with workbench.editor.revealIfOpen: true"
Steps to Reproduce:

1. configure `workbench.editor.revealIfOpen: true`
2. open multiple editor groups
3. open some editors in one group and others in the other group
4. focus the first editor group
5. click on a file in the other group via explorer that is currently active in that other group

=> 🐛 there is no visual indicator that something happened because we do not activate that other group

A

[2019-08-26 09:32] #79798 closed

[2019-08-26 09:32] bpasero commented on #79633
OK, pushed that via https://github.com/microsoft/vscode/issues/79798

[2019-08-26 09:43] isidorn opened #79799 "Test: data breakpoints"
Refs: https://github.com/microsoft/vscode/issues/58304

- [x] any os @weinand

Complexity: 3

This milestone we have introduced data breakpoints to VS Code. Currently Mock debug is the only debug extension that supports this. So, install the Mock Debug extension and start debugging a markdown file. Verify:
* You can set new data breakpoints using the context menu in the VARIABLES view
* Data break

[2019-08-26 09:44] isidorn commented on #58304
Closing since we have tackled this initialy in this milestone.
For additional improvments we will file new feature requests.

[2019-08-26 09:44] #58304 closed

[2019-08-26 09:46] isidorn commented on #78408
Adding verified label per @weinand comments. And seems to work for Pavel as well.

[2019-08-26 09:47] isidorn commented on #55816
To verify:
make sure you can open a file in preview by pressing the `space` key in the explorer.
Also make sure if you have multiple files selected they all get opened.

[2019-08-26 09:48] isidorn commented on #76752
To verify: make sure this setting behaves as described in my last comment and provide potential feedback on the naming of the setting.

[2019-08-26 09:49] sguillia commented on #79648
Thank you, your answers are useful

[2019-08-26 09:52] #79364 closed

[2019-08-26 09:52] isidorn opened #79800 "Test: top level resource creation in explorer"
Refs: https://github.com/microsoft/vscode/issues/1043

- [ ] any os
- [ ] any os

Complexity: 2

Now it is easier to create a top level resource in the explorer. Open the explorer on a folder that has a lot of child folders (and no files). And verify:
* You can scroll beyond the last file and use context menu to create a top level file / folder
* You can press `esc` and the focus will be cleared i

[2019-08-26 09:53] sandy081 commented on #79431
@NikGovorov Is that the latest stable? If so there are no changes done in output channel. Please file an issue against the extension to check if it is caused by the extension.

[2019-08-26 09:59] FilaretKun opened #79801 "MarkDown syntax C++ code segment high-light is broke."
Issue Type: <b>Bug</b>

In '{}' brackets of any C++ code segment, those code won't be highlighted.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.17763

<details><summary>Extensions (4)</summary>

Extension|Author (truncated)|Version
---|---|---
vsc-material-theme|Equ|30.0.0
code-runner|for|0.9.14
cpptools|ms-|0.25

[2019-08-26 10:00] 2coder commented on #38976
It's August 26th, 2019 and this is still an issue.

[2019-08-26 10:09] #79696 closed

[2019-08-26 10:22] subzerochi opened #79802 "Output Panel opens with error report on paste (ctrl+v) in YAML files"
VS Code version: Code 1.37.1
OS version: Linux x64 4.15.0-58-generic Ubuntu 18.04
VM: N/A
Issue Type: <b>Bug</b>

## Steps to reproduce:

1. Open any new or existing YAML file
2. Paste any text using keyboard (ctrl+v) or right click-> paste, from clipboard

eg. open  something.yaml and paste

`reference for Product managers/designer/programmers `

Result: Output panel opens, with following error I

[2019-08-26 10:25] subzerochi commented on #79802
![image](https://user-images.githubusercontent.com/10050769/63684140-cd8fc600-c819-11e9-9707-dac3323f8d0b.png)
A screenshot of the problem.

[2019-08-26 10:31] jrieken commented on #79488
The keybinding is not (and has never been) `Command+Space` (since that's bound by macOS Spotlight) but it is `Ctrl+Space` on all platforms.

[2019-08-26 10:32] #79488 closed

[2019-08-26 10:35] #79404 closed

[2019-08-26 10:36] sandy081 commented on #78391
Looks like a caching issue on Marketplace then.

[2019-08-26 10:36] #78391 closed

[2019-08-26 10:37] paulmillr commented on #77143
Easy

[2019-08-26 10:37] sandy081 commented on #78444
Can you try to reproduce this by disabling all extensions?

[2019-08-26 10:42] sandy081 commented on #79505
@jakopo87 You can only define defaults for top settings and not for nested.

[2019-08-26 10:42] #79505 closed

[2019-08-26 10:44] sandy081 commented on #79012
@bpasero ok. So does that mean is this expected or if not where is the issue?

[2019-08-26 10:45] sandy081 commented on #79604
Do you have any DNS issues?

Can you try changing your DNS setting, like pointing to `1.1.1.1` as suggested here? https://1.1.1.1/dns/

[2019-08-26 10:48] xerosugar opened #79804 "Breakpoints with conditions"
Issue Type: <b>Feature Request</b>

- Can breakpoints be made a little bit bigger, so they're easier to click?
- Should the breakpoint menu have an option for 'Remove conditions'?

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.18362

[2019-08-26 10:49] sandy081 commented on #79493
Looks like file events are not working.
@bpasero May I know how to check if file events are triggered when a file changed?

[2019-08-26 10:52] MFueg commented on #78444
I investigated a little more.
In my case it was the [Peacock](https://marketplace.visualstudio.com/items?itemName=johnpapa.vscode-peacock&wt.mc_id=vscodepeacock-github-jopapa)-Extension.

See [this issue](https://github.com/johnpapa/vscode-peacock/issues/262).
It is already closed - I had to update my user settings.

[2019-08-26 10:52] sandy081 commented on #79689
@lonix1 Can you be clear which update notification you want to hide? It would be easy to understand if you can paste a screenshot. Thanks.

[2019-08-26 10:54] sandy081 commented on #79669
Related to #78783 seems to be a DNS issue.

Can you try to access this image? ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2019.8.29288/1565127378610/Microsoft.VisualStudio.Services.Icons.Default

If not, can you try changing your DNS setting, like pointing to 1.1.1.1 as suggested here? 1.1.1.1/dns

[2019-08-26 10:57] sandy081 commented on #79685
@RMacfarlane What POST requests are you talking about?

[2019-08-26 10:58] #79750 closed

[2019-08-26 11:00] sandy081 commented on #79747
I see your point but I think current names are intuitive and good enough. So I am sorry that the change will not be considered.

[2019-08-26 11:00] #79747 closed

[2019-08-26 11:02] Gama11 commented on #47541
This looks like a duplicate of #32592?

[2019-08-26 11:06] DanTup opened #79805 "vscode.executeCodeLensProvider sometimes only contains the range and not title/commands"
I've started seeing intermittent failures in some of my code-lens tests like "command doesn't exist on undefined".

I added some debug logging, and have discovered that sometimes the results from `vscode.executeCodeLensProvider` contain only a `range` and no other confirmation.

Here's what my test code looks like:

[code]

And it's printing this sometimes:

[code]

The ranges match up with what I

[2019-08-26 11:07] smcpeak commented on #54507
Note that for those who just want VSCode to have a window with a border (despite it possibly clashing with the theme), change the "Window: Title Bar Style" setting to "native".  That causes the entire window (not just the title bar) to have the usual OS decorations.

[2019-08-26 11:07] DanTup commented on #79805
Oh, seems like this has come up before - though marked as fixed for 1.36 (this is happening in 1.37.1):

https://github.com/microsoft/vscode/issues/75208

@jrieken is it expected that there are still races here and this is a bug, or is it known to still have issues?

[2019-08-26 11:08] sandy081 commented on #79670
I would just change `Copy Command` to `Copy Command ID`. `Copy` commands copies the complete entry as JSON. I do not think `Copy as JSON` looks good and `Copy` is  intuitive enough.

[2019-08-26 11:09] #79670 closed

[2019-08-26 11:09] #78444 closed

[2019-08-26 11:11] sandy081 commented on #79172
Yes, it should check if folders are not same.

[2019-08-26 11:24] jakopo87 commented on #79505
@sandy081 It does work when you edit manually into the settings, and this is what confused me.
![vscode](https://user-images.githubusercontent.com/410331/63686643-b0033200-c802-11e9-82bc-c9ba15829dd4.gif)
However if this is the intended behavior it's fine, but I think it should mentioned in the docs at least.

[2019-08-26 11:27] stickycode commented on #57939
/[^.]+/ maybe allow regular expressions?

Or how about reading the header, shell scripts often don't have an extension but they do have a header e.g. #!/bin/sh or #!/usr/bin/env bash

[2019-08-26 11:42] meszaros-lajos-gyorgy opened #79806 "variables containing functions should have different color"
Hello everyone!

When I declare javascript functions and variables in vscode, their names have different colors. But when I pass them to other functions, then they all have the same color.

![vscode](https://user-images.githubusercontent.com/2386064/63687904-1ccbfb80-c806-11e9-8bfc-a4c882de95f9.png)

It would be a nice feature to have the differentiated color all the way throughout the code, simil

[2019-08-26 11:52] #78451 closed

[2019-08-26 12:03] alexr00 commented on #79738
Looks like a problem with the schema.

[2019-08-26 12:04] Maradonuts opened #79807 "Extensions"
Issue Type: <b>Bug</b>

I Cannot install or even update my Extensions

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3

[2019-08-26 12:05] jrieken commented on #79805
It depends on `itemResolveCount` which is 50 in your test and likely not enough

[2019-08-26 12:10] DanTup commented on #79805
@jrieken there are only 4 code lens items - why would I need more than 50?

[2019-08-26 12:11] weinand commented on #79774
@nitinsh99 the observed behavior is the expected behavior. If a variable is not used, it is garbage collected or optimised away.
Chrome Dev tools show the same behavior:

![2019-08-26_14-10-07](https://user-images.githubusercontent.com/1898161/63689828-53584500-c80b-11e9-98c5-a523214c5a88.png)

[2019-08-26 12:11] #79774 closed

[2019-08-26 12:11] alexr00 commented on #79591
I cannot reproduce in 1.37.1 or in insiders 1.38.0. My repro steps:
1. Have the C++ extension installed so I can go to definition in C++
2. Open I file that has `#include <iostream>`
3. `Go to definition` on iostream.
4. iostream is opened, and has correct C++ syntax highlighting.

@NDelt can you try disabling all other extensions? Can you also try running the `Change Language Mode` command and se

[2019-08-26 12:13] alexandrudima commented on #79732
@JINxo-geek Can you please provide repro steps?

[2019-08-26 12:15] DanTup commented on #79805
Actually, that's not quite accurate - there are 28 when I run locally (I filter them to the ones I care about, which is 2-4).

I'll try increasing it to see if the issue goes away - though is it expected that resolve matters here anyway if the provide does not use resolve and always returns the full object?

[2019-08-26 12:18] DanTup commented on #78391
Is there somewhere it can be reported?

[2019-08-26 12:21] jrieken commented on #79805
Well, that's all I can speculate given the lack of a code sample that reliability reproduces this.

[2019-08-26 12:35] youyou2012 commented on #79797
Clear the environment variable HOME to empty.
than to reboot.
it can be fixed.

[2019-08-26 12:35] #79797 closed

[2019-08-26 12:38] jrieken commented on #78571
Yes, there is no context indeed and there is currently no way to feed context into IntelliSense. I believe the problem with #43429 is that snippets show even though member completion is active (which we don't know) and snippets don't really make sense there.

[2019-08-26 12:47] atlefren commented on #79380
I have this issue as well (if anyone is interested?)

Occurs in:

Version: 1.37.1 (user setup)
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:17:55.855Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18922

Using: WSL 2 with Ubuntu and the remote - WSL extension (0.39.2)

output of log: https://gist.github.com/atlefren

[2019-08-26 12:52] #79441 closed

[2019-08-26 12:53] sandy081 commented on #79180
/duplicate

#71126

[2019-08-26 12:54] #79180 closed

[2019-08-26 13:06] fzxa opened #79808 "Install vscode dependencies failed(spdlog: Command failed)"
yarn
yarn install v1.17.3
warning package.json: No license field
warning vscode-reh@0.0.0: No license field
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
info vscode-windows-ca-certs@0.1.0: The platform "darwin" is incompatible with this module.
info "vscode-windows-ca-certs@0.1.0" is an optional dependency and failed compatibility check. Excluding it from installation.
info vscode-

[2019-08-26 13:07] jrieken commented on #78202
This is due to a lack of editor API. We cannot reveal a view zone and our current workaround is to reveal the N+1 line - which doesn't exists in case you are on the last line...

[2019-08-26 13:10] chrmarti opened #79809 "Cannot read property 'reprocess' of undefined"
Issue Type: <b>Bug</b>

I see this at or right after startup when opening with a container:

[uncaught exception]: Error: Cannot read property 'reprocess' of undefined

TypeError: Cannot read property 'reprocess' of undefined
    at C.onDefaultConfigurationChanged (file:///usr/share/code-insiders/resources/app/out/vs/workbench/workbench.desktop.main.js:4464:901)
    at C._register.g.Registry.as.on

[2019-08-26 13:22] ScottRudiger commented on #79680
@chrmarti I'm not sure I follow. For me, `⌘ + P` opens Quick Open. Then, if I keep holding down `⌘` and hit `P` again, it just closes Quick Open. (Neat! It seems this is the fourth way to close Quick Open.)

I don't believe this addresses my feature request. What I'd like to see is `⌘ + P` followed by `Enter` switch from the current tab to the previous tab. As of now, this just closes Quick Open a

[2019-08-26 13:25] weinand commented on #78127
when following the steps listed in https://github.com/microsoft/vscode/issues/78127#issuecomment-524640067 I can observe the following:
- opening the integrated terminal and running the `pwd` command results in a `/Users/...` path which is different from the folder path specified in the workspace file (`/System/Volumes/Data/User/...`). So there is a discrepancy between the workspace folder path an

[2019-08-26 13:28] sguillia commented on #79639
Now I can reproduce on a Linux machine that has `apt`

1. Downgrade VS Code
`sudo apt install code-insiders:amd64=1.38.0-1566394450`

2. Open code-insiders or run it in gdb
`gdb /usr/share/code-insiders/code-insiders`
`run`

3. Upgrade VS Code
`sudo apt install -y code-insiders:amd64=1.38.0-1566813268`

4. Run command "Developer: Reload Window" or reload existing debugging session

GDB log
[code]

[2019-08-26 13:44] robross0606 commented on #64984
I am also having this issue with the latest 1.37.1.

[2019-08-26 13:50] #26012 closed

[2019-08-26 13:56] jrieken commented on #42544
Based on @gjsjohnmurray idea, this the plan

* vscode: extend the API like so: `commitCharacters?: string[] | ReadonlyArray<{character:string, insert:boolean}>`
* vscode: add internal editor API so that a will-type listener can prevent typing
* extensions: adopt new API

[2019-08-26 13:58] isidorn commented on #79786
I can not reproduce the issue with Insiders from 3 days ago which does not contain your fix
However your fix looks good, and looking at the code and analysing the behavior on my machine I am just lucky that `onDidOpen` fires first, and only latter the onMiddleClick fires. So for me first I open it which is a no-op, and then the middleClick comes which closes it resulting in a correct behavior at t

[2019-08-26 13:58] #79786 closed

[2019-08-26 13:59] #78833 closed

[2019-08-26 14:00] matter123 opened #79810 "C++ embedded in markdown no longer has the source.cpp scope"
Issue Type: <b>Bug</b>

1. Disable `C_Cpp.enhancedColorization` if enabled
2. Switch to "Default Dark +" color theme
3. Open a new file and set the language to C++
4. type `Type *a new Type()`
5. Use Developer: Inspect TM Scope and click on `new`
6. Observe that new gets its color from the following rule `source.cpp keyword.operator.new { "foreground": "#C586C0" }`
7. Change the language to Markdo

[2019-08-26 14:01] alexandrudima commented on #78833
Starting with tomorrow's Insiders build, you can use `"editor.autoClosingOvertype": "always"` to always type over closing quotes or brackets, even in the case of those characters that were not automatically inserted by the editor.

[2019-08-26 14:03] alexandrudima commented on #34407
Indeed, this got fixed via 37981d8fd5d4ba1619f69dc8a0f4670543d39650

[2019-08-26 14:03] #34407 closed

[2019-08-26 14:11] Gama11 commented on #42544
This seems closely related to https://github.com/microsoft/vscode/issues/70824 and https://github.com/microsoft/language-server-protocol/issues/793. Perhaps in the future the `{character:string, insert:boolean}` structure could also include `insertText` and `additionalTextEdits`?

[2019-08-26 14:12] alexandrudima commented on #79368
duplicate of #79468

[2019-08-26 14:12] #79368 closed

[2019-08-26 14:13] Xeronic commented on #59695
Is it possible to change the folding icon somehow? I would like the icon to be a triangle like Textmate has.

[2019-08-26 14:14] bpasero commented on #79012
@sandy081 I would say unexpected, depending on how the search service runs the replace operation. If the search service replaces using raw file service without looking at the encoding, then I would think this is expected, though arguably a bug in behaviour.  Can you try to reproduce?

[2019-08-26 14:14] alexandrudima commented on #79468
@cottrell
Which commands are bound to the desired key combination?

![keyboard-conflicts](https://cloud.githubusercontent.com/assets/5047891/25484174/38f5b004-2b59-11e7-994b-dfa96ef043ce.gif)

[2019-08-26 14:15] #26234 closed

[2019-08-26 14:15] bpasero commented on #79493
@sandy081 running with `--verbose` will print a log statement for each file event.

[2019-08-26 14:16] alexdima opened #79812 "ImageData is not available in /common/"
`ImageData` is used in `src/vs/editor/common/view/minimapCharRenderer.ts`

[2019-08-26 14:17] bpasero commented on #79675
@getvictorh so the steps would be:
* auto guess encoding enabled (and you have no workspace encoding configured)
* you open a file that is wrongly detected to be cp1252
* from the status bar you select to save with a specific encoding

=> 🐛 still the auto guessed encoding is taken?

Can you attach that file?

[2019-08-26 14:18] #79557 closed

[2019-08-26 14:19] bpasero commented on #78127
@BryanHunt when you open a terminal on `/System/Volumes/Data/User/` and run `pwd`, what do you see?

And if that matches the directory, can you try downloading node (10.16.0), run it from the `/System/Volumes/Data/User/` folder and print the output of `process.cwd()`?

[2019-08-26 14:21] weinand commented on #79639
@sguillia I do not understand how the 4 steps from above are related to extension debugging?
In step 2 you are using "gdb" to debug VS Code itself (and I'm not aware that this is supported at all).

[2019-08-26 14:33] xubury opened #79813 "debug not function properly using integrated terminal"
I use mingw64 shell in vscode to run debug task, some wired problem happens where debugging only works on first terminal start both in C++ and python.
terminal output:
[code]

It looks like some command lines are missing after first debug.
In python the problem was fixed after I added  `eval "$('/C/Users/Bury/Anaconda3/Scripts/conda.exe' 'shell.bash' 'hook')"` to the .bashrc file.
But I have no id

[2019-08-26 14:37] weinand commented on #78127
Here is what I see with node 10.16.0:

<img width="302" alt="Screenshot 2019-08-26 at 16 34 36" src="https://user-images.githubusercontent.com/1898161/63698741-c966a700-c81f-11e9-9f98-842322da1c58.png">

[2019-08-26 14:41] bpasero commented on #78127
@weinand interesting, that may qualify for a bug against node.js possibly?

[2019-08-26 14:42] jrieken commented on #77096
@dbaeumer I think you are the best to verify here. Let me know if you need more insights

[2019-08-26 14:45] alexandrudima commented on #79749
Let's track in #26393

[2019-08-26 14:45] #79749 closed

[2019-08-26 14:46] jrieken opened #79814 "Test deprecated symbols/completions"
re #50972

- [x] any @weinand (macOs)
- [x] any @octref

Complexity: 4

There is now support to tag completions and symbols as deprecated. Such items get a special rendering, namely

* get a strike out
* are dimmed
* don't render match highlights

To test, write an extension that implements a `CompletionItemProvider`, a `DocumentSymbolProvider`, and a `WorkspaceSymbolProvider` and let them return

[2019-08-26 14:47] jrieken commented on #79814
fyi - use the [vscode-dts](https://www.npmjs.com/package/vscode-dts)-utility to use the latest version of `vscode.d.ts` and/or `vscode.proposed.d.ts`

[2019-08-26 14:49] #79795 closed

[2019-08-26 14:49] fbricon commented on #50972
@jrieken I tested today's insiders build (185308c0dd317d73fe4c19dea347582dee9650de 2019-08-26T09:43:06.818Z)  and I no longer see the completion/symboles striked through O_o. Is there something I need to enable in my extension now?

[2019-08-26 14:51] alexandrudima commented on #79705
@Gama11 `vscode-textmate@4.2.1` did contain quite a number of changes. I wonder if https://github.com/microsoft/vscode-textmate/pull/88 is the root cause for the change in behaviour here...

Would it be possible for you to extract a standalone example that we could debug for `vscode-textmate`? Given the similarities, I wonder why TS did not get broken by `vscode-textmate@4.2.1` in the same way as

[2019-08-26 14:52] #79343 closed

[2019-08-26 14:52] #79203 closed

[2019-08-26 14:52] #79258 closed

[2019-08-26 14:52] #79191 closed

[2019-08-26 14:52] jrieken opened #79815 "patternPos isn't working correctly"
Run fuzzyScore with `:p` against `prop`, using pattern pos 1. the result is `pro^p`, not `^prop`

[2019-08-26 14:52] #79202 closed

[2019-08-26 14:52] #78524 closed

[2019-08-26 14:56] rik72c commented on #79734
![image](https://user-images.githubusercontent.com/7495294/63700019-26785200-c84c-11e9-90c7-d21c826c5e2e.png)

I'm afraid I can't redo what I did at the moment, because my client just uploaded everything back to the server. But here is a brief screenshot. I dragged **a shortcut** from explorer to VSCode and it started everything in that folder with a popup "deleting.." right away.

[2019-08-26 14:57] alexandrudima commented on #79677
I cannot reproduce on macOS

[2019-08-26 15:01] jrieken commented on #50972
What version of the proposed API did you code this against?

[2019-08-26 15:03] Gama11 commented on #79705
@alexandrudima Yeah, good question what the difference between TS and Haxe is here. I'll work on making a small sample extension.

@matter123 Yeah, this seems to be about vscode-textmate 4.0.1 -> 4.1.1.

[2019-08-26 15:07] sandy081 commented on #78477
@joaomoreno I guess this flickering is coming from the tree. This happens when tree model is updated. I created a simple sample to repro this. Here is the extension that generates same errors continuously. When you hover on the first problem, it keeps flickering while the model gets updated.

[code]

[2019-08-26 15:07] fbricon commented on #50972
latest LSP release. Which adds the deprecated property to completion items, workspace and document symbols.  completion items worked last week, as per my screenshot.
I tried to add vscode.proposed.d.ts by calling `npx vscode-dts dev`. But I'm not sure where the file is supposed to go. In my project root? my project source folder? Either way I don't get the strikethroughs.

[2019-08-26 15:08] PrateekArya opened #79816 "Terminal output messes up after VScode window resizing"
Issue Type: <b>Bug</b>

1. Print something on terminal. I have configured my VSCode to use Anaconda's python terminal.
2. Resize VSCode window (I did by dragging the title bar from maximized position).
3. Resize the VSCode window to maximized.
4. Voila the text in the terminal is messed up! See attached screenshots for reference.

VS Code version: Code - Insiders 1.38.0-insider (ada79d72be36ecbfed

[2019-08-26 15:09] fbricon commented on #50972
enableProposedApi is set to true too. Wasn't necessary last week.

[2019-08-26 15:17] rik72c commented on #79734
[err_w_vs.zip](https://github.com/microsoft/vscode/files/3541737/err_w_vs.zip)

Apparently it happened again just now with normal file drag and drop. (Luckily i had them backed up this time.) Here is a video screen recording of how it happened.

At first I dragged a file onto the desktop and it worked normally. Then I dragged it into VSCode then the file is gone from the ftp, one by one.

Last tim

[2019-08-26 15:19] jrieken commented on #50972
I don't think that's weird up (@dbaeumer) yet. It might have worked by accident because the first proposal used the same names. The proposed API (`CompletionItem.tags`, `SymbolInformation#tags`) is described here: https://github.com/microsoft/vscode/issues/23927

[2019-08-26 15:20] alexandrudima commented on #79677
I can reproduce on Windows. @rebornox introduced via https://github.com/microsoft/vscode/commit/948d3446f35bda09991c6aecfc695e45f2d55280

[2019-08-26 15:23] alexandrudima commented on #79785
@RMacfarlane please assign encoding issues to @bpasero

[2019-08-26 15:26] octref opened #79817 "Hover / Suggest inconsistency: Markdown `ul` List Rendering"
Split from #78718:

### Markdown List Rendering

[code]

![image](https://user-images.githubusercontent.com/4033249/62720232-76d36100-b9be-11e9-8315-4985e70cbca8.png)

[2019-08-26 15:27] fbricon commented on #50972
do you plan to get VS Code support the deprecated properties of the current LSP version?
On the Java side, those new tags are not yet supported by the LSP4J bindings, so it'll take us more time to have that deprecated support that way.

[2019-08-26 15:27] alexandrudima commented on #79705
Oh, ok, I misread the version numbers. Do you happen to use `\G` ? `vscode-textmate` had some bugs around that which were fixed around that time-frame...

[2019-08-26 15:28] octref opened #79818 "Hover / Suggest inconsistency: Markdown difference between inline code and code block font family"
Split from #78718:

### Markdown difference between inline code and code block font family

#69970

[code]

![image](https://user-images.githubusercontent.com/4033249/62721049-37a60f80-b9c0-11e9-8cc5-a97fce13c2d0.png)

[2019-08-26 15:34] jrieken commented on #50972
LSP and vscode.d.ts are two separate things. The LSP-vscode-client fulfils the vscode.d.ts-contract, e.g it will map the deprecated-field that LSP defines onto the completion item tag that vscode.d.ts defines. The sequence is that we finalise the API next milestone, that LSP adopts the new API, and that things then come together.

Since you are on the LSP side and since to my knowledge deprecation

[2019-08-26 15:35] #79604 closed

[2019-08-26 15:39] fbricon commented on #50972
ok, can you please let me know when this is wired up in vscode then?

[2019-08-26 15:41] sguillia commented on #79639
@weinand I apologize, I never said that this was related to extension debugging.

The crash can happen when reloading the window, or restarting the debug session, which is the only link with extension debugging.

When opening the issue, I didn't knew what caused the problem. I mentionned it to make it easier to reproduce on your side.

I launched GDB to show that VS Code received a signal because

[2019-08-26 15:42] danielhofinger commented on #50972
Hi Fred,

can you please remove me from your “subscribed”-list?

Thanks.

Best,
Daniel

Daniel Hofinger
Founder & Managing Director, Hofinger Ventures UG
A Mörfelder Landstraße 6-8, 60598 Frankfurt am Main
M +49 177 8431872
E daniel@hofinger.xyz
W www.hofinger.xyz
Hofinger Ventures UG (haftungsbeschränkt), Luisenstraße 34, 60316 Frankfurt am Main; Geschäftsführer: Daniel Hofinger; Amtsgericht Fran

[2019-08-26 15:49] fbricon commented on #50972
I didn't add you. But you can unsubscribe from notifications from this issue by clicking on the "Unsubscribe" button [here](https://github.com/microsoft/vscode/issues/50972).

[2019-08-26 15:52] #79695 closed

[2019-08-26 15:55] alexr00 opened #79819 "Test multi select in custom trees"
Test for #76941

- [x] AnyOS @alexandrudima
- [ ] AnyOS @isidorn

Complexity: 3

The `TreeViewOptions` `canSelectMany` API was finalized this iteration. See the documentation in vscode.d.ts.
Tree view sample to use a starting point if you want: https://github.com/microsoft/vscode-extension-samples/tree/master/tree-view-sample
- Verify that by default, custom tree views do not have multi select ena

[2019-08-26 15:56] alexandrudima commented on #79705
Here are the nitty-gritty details -- https://github.com/microsoft/vscode-textmate/pull/85

[2019-08-26 15:59] jrieken commented on #23927
Moving to September for finalisation

[2019-08-26 16:10] bpasero commented on #79785
VS Code supports a wide range of file encodings. You can see the full list when you click on the lower right status bar where the encoding is shown and then choose to either reopen the file with a specific encoding or save the file with a specific encoding:

![image](https://user-images.githubusercontent.com/900690/33760971-db202986-dc07-11e7-8ca0-f8d8938cef7f.png)

There are two options how to co

[2019-08-26 16:10] #79785 closed

[2019-08-26 16:10] bpasero commented on #79682
VS Code supports a wide range of file encodings. You can see the full list when you click on the lower right status bar where the encoding is shown and then choose to either reopen the file with a specific encoding or save the file with a specific encoding:

![image](https://user-images.githubusercontent.com/900690/33760971-db202986-dc07-11e7-8ca0-f8d8938cef7f.png)

There are two options how to co

[2019-08-26 16:10] #79682 closed

[2019-08-26 16:17] bpasero commented on #74323
The fix is in Electron 6.

[2019-08-26 16:17] #74323 closed

[2019-08-26 16:21] bpasero commented on #79734
/duplicate https://github.com/microsoft/vscode/issues/25196

[2019-08-26 16:22] #79734 closed

[2019-08-26 16:25] isidorn commented on #43262
@RobGallo thanks for the feedback.
@alexandrudima just enabled code folding even when screen reader is detected. You can try that out from Tuesday's vscode insiders.

@RobGallo And yes there is an easy way to unfold everything `F1 > Unfold all`. Folding has a lot of commands in the command palette, check them out.

I will assign this issue to September so I look into what further improvements we c

[2019-08-26 16:28] DanTup commented on #79805
@jrieken seems it's not that, as I bumped it to 500 and still see the failure. I tweaked the log to include the count as well as the full response.

I appreciate it's hard to debug something that's intermittent, but it seems like there's a bug.

Is there anything more I can do to help track it down?

[code]

[2019-08-26 16:37] tcantalice opened #79820 "Toggle menu view does not work"
Issue Type: <b>Bug</b>

I can not hide the menu.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:25.463Z)
OS version: Linux x64 5.0.0-25-generic snap

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD C-60 APU with Radeon(tm) HD Graphics (2 x 860)|
|GPU Status|2d_canvas: unavailable_software<br>flash_3d: disabled_software<br>flash_

[2019-08-26 16:38] #79781 closed

[2019-08-26 16:47] #79730 closed

[2019-08-26 17:00] awwlife opened #79821 "The string is recognized as a comment"
The following section of code is perceived as the beginning of an endless comment, I hope for a quick solution to the problem.

SECTION:
`$header = array(  'Content-Type: application/json',
                                                'Content-Length: ' . strlen($this->_postFields),
                                                'Referer: ' . $this->_referer,

[2019-08-26 17:01] awwlife commented on #79821
Are you kidding me? Last line contains '*/*'

[2019-08-26 17:04] awwlife commented on #79821
OH..... Are you kidding me?
![image](https://user-images.githubusercontent.com/54188033/63708323-c29a5d00-c83c-11e9-8d51-717ee7c6af8c.png)

[2019-08-26 17:10] awwlife commented on #79821
Whatever quotation marks(single and none) this section is placed in, vscode still takes it as the beginning of a comment.

**Version: 1.37.1
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:17:25.463Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.0.0-25-generic**

[2019-08-26 17:12] lonix1 commented on #79689
Sorry, not sure how to do that :( But it's easy to explain.

In extensions in the sidebar (<kbd>ctrl+shift+x</kbd>), updates are shown as small green buttons with the text "update to x.y.z".

That button/indicator is what I'd like to hide.

[2019-08-26 17:15] sleutho opened #79822 "Open random file by program being debugged in VSCode not opening"
Issue Type: <b>Bug</b>

I'm debugging a C++ app using VSCode. Now this app tries to open a file in my default text editor ( via shell etc. on Windows), which happens to be VSCode as well. This open operation fails.
In process explorer I see a vscode process for a microsecond, but it just disappears.

e.g. Process tree:
- vscode
-- app.exe
--- vscode foo.txt (dies)

If I just run this
-- app.exe
--

[2019-08-26 18:11] usernamehw commented on #66729
Wasn't it always possible?

[code]

[2019-08-26 18:17] #79677 closed

[2019-08-26 18:23] sandy081 commented on #73985
Verify that a configuration contributed with scope `machine-overridable` can be overridden as follows

- In Local Window, it can be overridden at all levels (User, Workspace, Folder)
- In Remote Window, it can be overridden at following levels (Remote, Workspace, Folder). It cannot be overridden in User Settings.

[2019-08-26 18:23] #79725 closed

[2019-08-26 18:25] #79752 closed

[2019-08-26 18:37] stonebig opened #79823 "winpython interpreter is detected/selected, but not used when running a .py file"
- VSCode Version:
Version: 1.37.1 (zip 'Portable' version)
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:17:55.855Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362
- OS Version:

Steps to Reproduce:

1. install (... unzip) a Winpython
2. install (... unzip) a vscode portable in sub-directory \t\vscode of winpytho

[2019-08-26 18:39] #79823 closed

[2019-08-26 18:44] weinand commented on #79822
@sleutho what does the error handling of your app say when opening a file with VS Code fails?

[2019-08-26 18:48] stonebig commented on #79823
oups ! sorry, moved to the proper project.

[2019-08-26 18:52] #71407 closed

[2019-08-26 19:20] Benjin opened #79826 "Accessibility: tabbing in a warning popup should cycle within the popup instead of moving focus to background menus."
**Environment Details:**
Application Name: Azure Data Studio
Application Version: 1.9.0 (user setup)
Commit: `78a42e1`
Electron: 3.1.8
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.18362

**Steps to Reproduce:**
Open VS Code Settings, execute any functionality that produces a confirmation toast.
Press Tab to move throughout the controls in the toast.

**Expectation:**
Continuing to press

[2019-08-26 19:28] bharney0 opened #79827 "Markdown Preview only opens once. After closing Preview, unable to open again."
- VSCode Version: 1.38.0-insider (user setup)
Commit: 185308c0dd317d73fe4c19dea347582dee9650de
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
- OS Version: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Navigate to markdown file.
2. Open markdown preview.
3. Close markdown preview window.
3. Now try to re-open preview. But preview does not open. Clicking Open

[2019-08-26 19:37] weinand commented on #79820
@tcantalice what do you mean by "Toggle menu view"?

[2019-08-26 19:43] weinand commented on #79821
@awwlife What language is this?

[2019-08-26 19:53] moizgh opened #79828 "Prettier on auto-save has stopped working"
Issue Type: <b>Bug</b>

Prettier on auto-save stopped working with the new updates

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:18:10.377Z)
OS version: Windows_NT ia32 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-1680 v4 @ 3.40GHz (16 x 3392)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<

[2019-08-26 19:59] usernamehw commented on #66729
`source.gcode` in your case, I guess.

[2019-08-26 19:59] weinand commented on #79822
The name of the CLI executable is "code", not "VSCode.exe".

[2019-08-26 20:00] #79822 closed

[2019-08-26 20:07] a8775 commented on #71192
It would be great to support https://notebooks.azure.com (https://github.com/microsoft/AzureNotebooks) in a way remote extension works.

[2019-08-26 20:10] Gama11 commented on #79705
Here's an isolated example: https://github.com/Gama11/vscode-issue-79705

It still involves three grammars:

- the language grammar itself
- a grammar to inject it into markdown code blocks based on this official example, though I see there's since been a few changes to it: https://github.com/mjbvz/vscode-fenced-code-block-grammar-injection-example
- a grammar to inject markdown into doc comments

[2019-08-26 20:14] #79757 closed

[2019-08-26 20:18] awwlife commented on #79821
PHP

[2019-08-26 20:40] #79827 closed

[2019-08-26 20:42] #79647 closed

[2019-08-26 20:46] weinand commented on #79788
You can use the `vscode.debug.startDebugging` API:
https://github.com/microsoft/vscode/blob/9f49056ec7ece19d69507dfe956fb3aae8fc355c/src/vs/vscode.d.ts#L9082-L9093

[2019-08-26 20:47] #79788 closed

[2019-08-26 20:47] #79821 closed

[2019-08-26 20:54] #79828 closed

[2019-08-26 20:56] sandy081 commented on #79505
It is a feature of JSON language server and hence you see it while editing the JSON file.

[2019-08-26 21:00] sandy081 commented on #78391
@@kesane-msft can you please let @DanTup know where to report marketplace related issues?

[2019-08-26 21:38] isidorn commented on #28306
Fixed via https://github.com/microsoft/vscode/pull/79712
As mentioned in that PR

We have introduced the following commands:

`cursorWordAccessibilityLeft`
`cursorWordAccessibilityLeftSelect`
`cursorWordAccessibilityRight`
`cursorWordAccessibilityRightSelect`
When we are in the accessibility mode this commands get keybaord shorctus ctrl/cmd + left / right.
Thus taking precendence of the regular na

[2019-08-26 21:38] #28306 closed

[2019-08-26 21:40] wfraser opened #79830 "VSCode running `git show` constantly"
- VSCode Version: Version: 1.37.1 / Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
- OS Version: macOS 10.14.6
- Does this issue occur when all extensions are disabled?: Yes

After a recent update (not sure how long ago; I haven't used VSCode for a few weeks), I find that after using the editor for a few seconds, performance starts to get really bad (scrolling lag, etc.) and CPU usage gets very

[2019-08-26 21:47] #79746 closed

[2019-08-26 22:02] #79739 closed

[2019-08-26 22:07] rebornix opened #79831 "Test: multiline support in Find Widget"
- [x] macOS @bowdenk7
- [x] linux @deepak1556
- [x] windows @stevencl

Complexity: 3

We now support find and replace with multiple line terms in the Find Widget, please at least test

* Keybindings to insert new lines in the input box
* Find Widget is rendered properly when searching and replacing multiple terms
* Find Widget can be resized properly to see the full content of the query term (for

[2019-08-26 22:08] unixcow commented on #8017
new icons are indeed harder to interpret at a glance, didn't have that problem with old ones

[2019-08-26 22:09] dalongi opened #79832 "Cannot create keyboard shortcut "cmd + `""
Steps to Reproduce:

1. Command Palette > "Preferences: Open Keyboard Shortcuts"
2. Search for "Integrated Terminal"
3. Edit "View: Toggle Integrated Terminal" keybinding
4. Try to type "cmd + `"

Expected: it allows me to create a "cmd + `" keybinding
Actual: It ignores the "`" character, only showing "cmd"

NOTE:
- Repros for any keybinding, not just Integrated Terminal
- Does not repro for simi

[2019-08-26 22:10] unixcow commented on #79130
filled version of current icons sounds like a legit one, it will keep product identity the devs are looking for while make it more enjoyable for people who enjoyed the old (more solid) look

[2019-08-26 22:20] mjbvz opened #79836 "Test: Webview.asWebviewUri"
Test for #79242

- [x] Linux @chrmarti
- [x] Mac @bpasero
- [x] Windows @alexr00

Complexity: 4

**Overview**
This iteration, we finalized two apis on the `Webview` object:

- `webview.asWebviewUri(resource)` — Converts `resource` from a file resource uri to a uri that can be used in webviews to load local content

- `webview.cspSource` —  Content security policy root for local resources.

Test us

[2019-08-26 22:33] #64252 closed

[2019-08-26 22:36] #60722 closed

[2019-08-26 22:38] #48242 closed

[2019-08-26 22:39] #8323 closed

[2019-08-26 23:14] octref opened #79839 "Hover / Suggest inconsistency: Markdown `li` List Rendering"
Split from #78718:

### Bad spacing for ordered list

[code]

![image](https://user-images.githubusercontent.com/4033249/62721232-ab481c80-b9c0-11e9-8c57-f2b028f25407.png)

[2019-08-26 23:15] octref opened #79840 "Hover / Suggest inconsistency: Plaintext Linebreak"
Split from #78718:

### Plaintext Linebreak

[code]

![image](https://user-images.githubusercontent.com/4033249/62720579-290b2880-b9bf-11e9-9072-5097058bdb10.png)

[2019-08-26 23:17] octref opened #79841 "Hover / Suggest inconsistency: Plaintext Linkifying"
Split from #78718:

### Plaintext Linkifying

[code]

![image](https://user-images.githubusercontent.com/4033249/62720345-b5691b80-b9be-11e9-9fa9-4b4c935663ec.png)

[2019-08-26 23:20] yahao87 commented on #79649
Did you paste and click on the react component?  Once in this infinite loop, waiting 10 hours does not work.

[2019-08-26 23:48] octref opened #79844 "Remove [html/css].experimental.customData"
Part of #78068.

[2019-08-27 00:12] ratiw commented on #79760
No, that's not what I mean. Let's see these screen shots and imagine that we are working on a 13" or 14" inch laptop.

![image](https://user-images.githubusercontent.com/807017/63730455-8810de80-c895-11e9-8c86-b25deed20f6f.png)

Since the screen is quite small, everything will looks tiny unless we use Ctrl+plus to increase font size and everything will blow up like this.

![image](https://user-ima

[2019-08-27 00:19] IllusionMH commented on #79649
Used latest TS `3.7.0-dev.20190824` and VS Code Insiders I see problem with just 2 files (before you install packages).
`index.js` copied with content from OP and `package.json`

[code]

If `node_modules` are empty - I can easily get completions in this file, as soon as I install types - there is only `Loading...` (and no `completionInfo` requests in logs)

[2019-08-27 00:25] ArtemGovorov commented on #79431
@sandy081 It is reproducible in the latest insiders and is not caused by the extension.

Here is the easiest way to reproduce it:
- install [Quokka extension](https://marketplace.visualstudio.com/items?itemName=WallabyJs.quokka-vscode),
- in latest stable here is how it responds to changes:

![q1](https://user-images.githubusercontent.com/979966/63731708-37f54480-c8b4-11e9-8546-3e153739f963.gif)

[2019-08-27 00:27] hyvyys commented on #35468
Any, um, updates on this?? From what I've noticed, current behavior is that clicking left 2/3 of the character positions caret before. Could we make this 1/2? This trips me up and slows me down quite a bit sometimes when my hand is tired.

[code]

[2019-08-27 00:41] spartanatreyu commented on #8017
Depends on the screen, the lighting in the room and the person. The very fact that this is comment 309 on this issue (and this is one issue out of a bunch of related issues) should hint how many people are having problems with the new icons.

[2019-08-27 00:49] yahao87 commented on #79649
@mjbvz I succeeded by installing the extension you told me.
All of our team members have not installed it yet.
We hope that this issue will be updated with the next version update.
Thanks.

[2019-08-27 00:49] #79649 closed

[2019-08-27 01:16] RumataEstor opened #79847 "Cmd+Space shortcut"
Issue Type: <b>Bug</b>

I want to map a shortcut "Cmd+Space" to a command in VSCode but "Keyboard Shortcuts" in VSCode doesn't seem to accept it. I removed that shortcut from Spotlight and I am pretty sure nothing in MacOS intercepts it as Emacs on the same system accepts it without a problem.

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:16:34.800Z)
OS ver

[2019-08-27 01:46] LAK132 commented on #75770
Perhaps this could be resolving to the case sensitive URL on case insensitive systems?

https://github.com/microsoft/vscode/blob/1.37.1/src/vs/platform/files/common/fileService.ts#L200

Then maybe this could be `return stat.resource`?

https://github.com/microsoft/vscode/blob/1.37.1/src/vs/workbench/contrib/terminal/browser/terminalLinkHandler.ts#L348

(I'm not even remotely familiar with this cod

[2019-08-27 02:02] thewhitetulip opened #79848 "Execute a few lines of code using a particular shortcut"
There is a feature in spyder IDE wherein you selection a few lines of code, hit command and enter and it is executed in a shell. Can we do that in the IDE for interpreted languages?

[2019-08-27 02:03] #79848 closed

[2019-08-27 02:14] lxffff1990 opened #79849 "Cannot attach cannot attach to process after lastest commit!"
Hello , i want to attach my program to debug,  it doesnot work after last commit

Version: 1.38.0-insider
Commit: 0f73473c08055054f317c1c94502f7f39fdbb164
Date: 2019-08-23T05:38:24.197Z
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.15.0-55-generic snap

my config:
`        {
            "name": "(gdb) Attach",
            "type": "cppdbg",

[2019-08-27 02:26] zhangjialegh opened #79850 "Ubantu 18 Space Gap is very small"
Report Issue to prefill these.
- VSCode Version: 1.37.1
- OS Version: Ubantu 18.04.3 LTS

Steps to Reproduce:

1. Space gap is very small

Does this issue occur when all extensions are disabled?: Yes

[2019-08-27 03:10] TimNZ commented on #14836
Never made an extension, but after a quick look through Extension API and published commands and vscode src, there is no way to trigger display of Find sidebar view prepopulated with values.

if a built in command was exposed that supported args for all available items on Search/Replace, to prepopulate search sidebar view and display, perfect, we can all make extensions to do interesting things.

[2019-08-27 03:35] Hideer opened #79851 "use jsconfig.json to workspace not work"
- VSCode Version: 1.37.1
- OS Version: Mos 10.14.6

Steps to Reproduce:

my jsconfig.json configuration：
[code]
when i use single folder project no problem
but when i use workspaceRoot not work

Does this issue occur when all extensions are disabled?: Yes/No

Yes.

I tried using a jsconfig.json to include all js files like I've seen suggested but it did not work.

[2019-08-27 03:56] akaroml commented on #50972
Hey Fred, I think the `enableProposedApi` is no longer needed because the changes are already in the latest release of the `vscode-languageclient v5.3.0-next.9`. Could you try to upgrade the client to see whether it works? Thanks.

[2019-08-27 04:21] ratiw commented on #79760
It seems that what I really like to have is a command to "temporarily hide other editor group".
Sorry, if this has caused any confusion.

[2019-08-27 04:24] Renkon117 opened #79852 "Update error"
I am trying to update my VS code version, but it is not working well right now. I think the reason is that I moved the whole program from my D drive to C drive. At the time, something went wrong I assume. The error code suggest that the program error might come from VS code exe file. Is there any way to correct this error?? please help

[2019-08-27 04:31] fbaligand commented on #55853
I’m very interested by this feature!

[2019-08-27 05:01] xubury commented on #79813
Problem solved. The issue was  that I use `system("pause")`
So it turns out that if you stop debugging at `system("pause")` without pressing any key, somehow the integrated terminal would continue to listen for any key input which results in the missing first character of next command line. Is it a bug?
This problem will never exist in a external consle, because stop debugging will entirely shutdo

[2019-08-27 05:34] bpasero commented on #60276
Not sure, it matches this very visible UI piece:

![image](https://user-images.githubusercontent.com/900690/63743640-26547280-c89d-11e9-8c2f-c0ec1c5dfba0.png)

[2019-08-27 05:35] bpasero commented on #79646
@yuchenzhen
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2019-08-27 05:38] niudai opened #79853 "Shortcut for select in popup checklist"
What's the shortcut for check in the items in the image below?

![image](https://user-images.githubusercontent.com/44165182/63743695-ac89ac80-c8cf-11e9-845a-f3017c7fa90d.png)

I can only left-click them to select, and I find no short cut for selecting in checkbox.
I use `enter` to select but this just close the popup list.

[2019-08-27 05:42] Nakxion opened #79854 "VSCODE Not showing any Details in extensions section and it is not connected to the internet"
This is the first time happen I use fedora 30 and It's normal last night, but now it's showing me errors I don't know how to fix this I hope The community help with me
![Screenshot_20190827_073636](https://user-images.githubusercontent.com/23652091/63743979-3b7dd100-c89e-11e9-957b-d1f08d8472bc.png)

[2019-08-27 05:44] Nakxion commented on #79852
nope it's not local #79854

[2019-08-27 05:52] #79421 closed

[2019-08-27 06:01] sanket-bhalerao opened #79855 "Two remote icons (There is no visible distinction in the icons)"
Issue Type: <b>Bug</b>

with the latest update VSCode insiders shows 2 remote icons.
1. Targets(Containers)
2. Connections

Although the viewlet on the icon click are different, there is no visible distinction in the icons.
I tried to reload the window as well as restarting VSCode insiders, however both icons are still visible.

![remote2](https://user-images.githubusercontent.com/9264813/63744792

[2019-08-27 06:05] Eskibear commented on #38578
We have the similar issue here.
Recently we've changed default console of the Java debugger to `integratedTerminal`, and we have a very similar issue https://github.com/microsoft/vscode-java-debug/issues/614 , truncated text, same in OSX. To mention that, in my case, the length of truncated text is 1024, which must is sucpicious. Any clues?

@weinand Is there any update?
@DonJayamanne Have you res

[2019-08-27 06:29] egamma commented on #79700
This is an intended recent change to improve discoverability of the npm explorer, pls see https://code.visualstudio.com/updates/v1_37#_npm-scripts-explorer-visible-by-default. The npm explorer is now shown when: `package.json at the root of the workspace || setting is enabled`. To hide the npm script explorer in a workspace that has a package.json at the root you can do so from the context menu. S

[2019-08-27 06:29] #79700 closed

[2019-08-27 06:30] egamma commented on #78489
pls see https://github.com/microsoft/vscode/issues/79700#issuecomment-525158741.

[2019-08-27 06:30] #78489 closed

[2019-08-27 06:34] egamma commented on #79417
This is an intended change https://code.visualstudio.com/updates/v1_37#_npm-scripts-explorer-visible-by-default.

You should use the WSL remote extension than you can runs scripts also in WSL, pls see
https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl

[2019-08-27 06:34] #79417 closed

[2019-08-27 06:36] #79849 closed

[2019-08-27 06:37] weinand commented on #79850
Please add a screenshot. Without that we don't understand what you are talking about.

[2019-08-27 06:39] egamma commented on #78803
The npm script explorer provides a separate setting to exclude files `npm.exclude`.

[2019-08-27 06:39] #78803 closed

[2019-08-27 06:43] egamma commented on #78784
Need to understand your setup better.

Do you have 'node' on your PATH and you can run 'npm run SOMESCRIPT' from the command line?

[2019-08-27 06:52] chrmarti commented on #79680
Not sure what the difference is between our setups, but subsequent `P` presses move the selection down for me. Do you have a custom keybinding for `⌘ + P`?

[2019-08-27 07:03] dbaeumer commented on #79584
@octref currently not: reason being is that in LSP land I only adapt API if it is release in a stable build. I am not depending on insider build version in the LSP library. So more official support has to wait until beginning of September.

[2019-08-27 07:04] Manachi commented on #70413
I'm amazed and disappointed this option isn't available by default in Visual Studio Code. It exists in every other IDE or text editor in the market.  Please prioritise this feature Microsoft.

Is there at least an extension that does this in the meantime anyone could point me to?

[2019-08-27 07:06] dbaeumer commented on #50972
@jrieken is correct. It is not wired up yet. I only wire up new API if it is at least released in a stable build. I don't make a dependency on Insider in LSP libs (I once did and it confused a lot of users).

However you can implement this yourself using a custom middleware if you really need to do so.

[2019-08-27 07:14] danielhofinger commented on #50972
Hi Dirk,

please remove me from CC, thanks.

Best,
Daniel

Daniel Hofinger
Founder & Managing Director, Hofinger Ventures UG
A Mörfelder Landstraße 6-8, 60598 Frankfurt am Main
M +49 177 8431872
E daniel@hofinger.xyz
W www.hofinger.xyz
Hofinger Ventures UG (haftungsbeschränkt), Luisenstraße 34, 60316 Frankfurt am Main; Geschäftsführer: Daniel Hofinger; Amtsgericht Frankfurt am Main; HRB 108730; US

[2019-08-27 07:22] der-dirk opened #79856 "Find in files: Collapse button is disabled"
Issue Type: <b>Bug</b>

To reproduce:
- Open "Find in Files"
- Search for anything

Observed: The collapse buton is disabled
Expected: The collapse buton is enabled

Collapsing all find results via command works: Ctrl+Shift+P -> "Search: Collapse All"

---
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:55.855Z)
OS version: Windows_NT x64 10.0.15063

<detai

[2019-08-27 07:25] eldenchen opened #79857 "Scrollbar does not hide when the mouse leaves the window through the right edge"
Issue Type: <b>Bug</b>

Steps to Reproduce:
1. open a project/folder
2. move mouse into Editor and then move it out from right edge of the window
3. hide Activity Bar
4. move mouse into Side Bar and then move it out from left edge of the window

VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:16:34.800Z)
OS version: Darwin x64 18.7.0

[2019-08-27 07:33] asegoviaTarin opened #79858 "Source control providers height flex"
When I have many submodules I can't make higer the source controll providers panel. In 1.32.3 VSCode version this is posible. In this version I can customize height panel in order to avoid vertical scroll panel

- VSCode Version: 1.37.1
- OS Version: Linux 18.04

Steps to Reproduce:

1. Open source control tab
2. Try to expand source controll providers when you have more than 10 submodules in orde

[2019-08-27 07:36] didinele commented on #30925
Any updates on this, eagerly waiting

[2019-08-27 07:37] dbaeumer commented on #50972
@danielhofinger you need to unsubscribe yourself from the issue using the GitHub UI.

[2019-08-27 07:39] sandy081 opened #79859 "Wrong error icon in status bar"
![image](https://user-images.githubusercontent.com/10746682/63750877-94edfc00-c8ae-11e9-9916-0615bdea1718.png)

[2019-08-27 07:41] jrieken commented on #79805
Yeah, providing an extension that reproduces this 🤓 The [command implementation](https://github.com/microsoft/vscode/blob/61c52d0dda808abddd5a97a143c4ecdde78f174b/src/vs/editor/contrib/codelens/codelens.ts#L79) is pretty simple, calling into provide/resolve which I have confidence that they are working

[2019-08-27 07:43] stillsweetK commented on #79858
Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: asegoviaTarin <notifications@github.com>
Sent: Tuesday, August 27, 2019 2:35:47 AM
To: microsoft/vscode <vscode@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [microsoft/vscode] Source control providers height flex (#79858)

When I have many submodules I can't make higer the source co

[2019-08-27 07:44] alexandrudima commented on #34407
The easiest way to verify is to use the US Intl Keyboard layout on mac and press double quote / single quote + <space> to insert it...

[2019-08-27 07:45] shiftgeist commented on #78784
Yes `npm run` works as expected.

[2019-08-27 07:45] dibalavs opened #79860 "quickopen is terribly slow on large workspaces"
Hello.
I often use QuickOpen feature (CTRL + P) but it works very very very slow first time on large project (just arount 20-30 seconds).
After first time result was found, second times search will fast (for some time).  If vscode was restarted, or after number of hours, searching the same file will be slow again.

My workspace contains :
- whole sources of QT components (qtbase, qtdeclarative, qt

[2019-08-27 07:46] aeschli commented on #73630
It's the default smart selection provider which struggles with special word rule that JSON has (`"` are part of the word/token)

[2019-08-27 07:51] isidorn commented on #79760
Understood.
This is a fair feature request which we currently do not have on the plan, thus keeping it open and assigning to the backlog.

[2019-08-27 07:52] #78795 closed

[2019-08-27 07:54] isidorn commented on #79804
1. We could make the breakpoint icons bigger once we allow customisiation of our icons. Which @misolori is working on I believe
2. I think that would lead to clutter. Currently you have Edit Breakpoint and you can just clear the expression

Anyways closing 2 as designed, and 1 should be a duplicate of making all icons customisable.

[2019-08-27 07:54] #79804 closed

[2019-08-27 07:56] atlefren commented on #79380
Follow up:

Now testing with a fresh install of Insiders (1.38.0-insider) (all config wiped, both on win and wsl side). Code reports ts v 3.6.1-rc, but I've also tried the "workspace version" (3.3.3333).

Everything seemed to work fine untill npm install completed, which immediately triggered the "Initializing js/ts language features" message. I would not say I have an unreasonable amount of depen

[2019-08-27 07:56] danielhofinger commented on #50972
Alright, thanks! @dbaeumer

[2019-08-27 07:58] isidorn commented on #79826
Disagree. Tab always moves focus around the whole workbench which is expected. Just check out what other apps are doing like Chrome or Visual Studio. Tab should never lock you in some area. That way a user would be "trapped" and could not navigate outside of it.

If you want a dialog which steals focus the extension should use a modal dialog and not a toast which is designed to not be blocking.

f

[2019-08-27 08:00] bm-stschneider opened #79861 "Problems icon seems wrong"
Issue Type: <b>Bug</b>

it seems that the error icon in the problems status bar has gone wrong.
![image](https://user-images.githubusercontent.com/30625381/63752335-5d348380-c8b1-11e9-84f8-f8ed5ae54545.png)

VS Code version: Code - Insiders 1.38.0-insider (8cd00a7935eabef4aad0b0130b1d46daca0a47aa, 2019-08-27T06:10:29.182Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|I

[2019-08-27 08:16] akosyakov opened #79862 "activeViewlet is broken?"
I have a command which should be enabled only when the explorer is active:
[code]

But it is enabled always, regardless whether another view is visible, the explorer view is hidden and so on. Do I use it properly?

It is on the latest VS Code, did not try in insider.

[2019-08-27 08:19] deresegetachew opened #79864 "integrate with Skype"
if it was integrated with skype i think it will be helpfull; i usually find myself texting with team members on skype or slack.

[2019-08-27 08:20] tienlocnguyen commented on #79270
Do you use Markdown All in One extension? I have same problem with it

[2019-08-27 08:27] csicky commented on #79700
I understand, but it was not done properly. When enabling it by default the checkbox should have been set to true for everybody and unchecking it should have hide it as expected. What was done was actually a hack, an ugly hack.

[2019-08-27 08:40] aeschli opened #79865 "Smart select default proposals overwrite result from provider"
It's in JSON mode, set the cursor before `Bar"` and invoke `Expand Selection`

[code]

Result: `Bar"` is selected
Expected: `FooBar` or 'Bar'

- The JSON language service returns [ `FooBar`, `"FooBar"`, `"line1": "FooBar"`, ...]
- The built-in (word based) smart selection uses the JSON word rule which includes `"` in a word/token, and thus comes up with `Bar"`
- `FooBar` is ignored. IMO the built-

[2019-08-27 08:41] #73630 closed

[2019-08-27 08:41] gauravmahto commented on #78138
I'm also observing the same issue. In my case, I get the same dialog box similar to the above screenshot.

But, my Win10 machine doesn't freeze and I can click to 'Reopen' button from the dialog box which closes and reopens the VSCode.

Is there anything I can help with to further isolate and identify the problem? Are there any logs that could be shared?

[2019-08-27 08:45] deylin commented on #71990
@chibibiscuit , the workaround you suggest does not work in my case. I cleared the 'recently used files', but any quick-fixes are written to the 'old' file (with the old casing).

[2019-08-27 08:49] weinand commented on #79852
Please provide more detailed information. What error code are you seeing?

I suggest that you remove VS Code in both locations and then make a fresh install (no update).

[2019-08-27 08:50] weinand commented on #79864
/duplicate #78209

[2019-08-27 08:50] #79864 closed

[2019-08-27 08:53] weinand commented on #79853
Usually checkboxes can be toggled with the "space" key.

[2019-08-27 08:53] #79853 closed

[2019-08-27 08:54] #79854 closed

[2019-08-27 08:54] dbaeumer opened #79866 "Running Code Smoke Test fails"
Testing https://github.com/microsoft/vscode/issues/79731

Happens both on Insiders and Electron 6.0 exploration build

[code]

[2019-08-27 08:56] dbaeumer opened #79867 "Launch Smoke test fails"
Testing https://github.com/microsoft/vscode/issues/79731

Happens for Insider and Electron 6 exploration

[code]

and

[code]

[2019-08-27 08:56] bm-stschneider commented on #79861
it is

[2019-08-27 08:56] #79861 closed

[2019-08-27 08:58] dbaeumer opened #79868 "Smoke test fails due to locked log file"
Testing https://github.com/microsoft/vscode/issues/79731

Happens both on Insider and Electron 6.x exploration build.

[code]

@sandy081 assigning to you due to the fact that a log file is locked. Speedylog ?

[2019-08-27 08:59] weinand commented on #79856
@der-dirk what do you mean by "collapse buton"? I only see a "Collapse All" button:

![2019-08-27_10-58-13](https://user-images.githubusercontent.com/1898161/63756995-9ec92c80-c8b9-11e9-8bd6-d2e235eee853.png)

For me the "Collapse All" button is enabled.

Can you reproduce the problem when disabling all extensions?

[2019-08-27 09:03] leseb commented on #78438
Could this be related to the "find all reference" option in vscode? I just hit the exact same issue after using it (never actually used it before), reached out my max user processes, couldn't fork anymore, now I'm left with about 1081 lsof processes impossible to kill (not sure why).

[2019-08-27 09:06] fbricon commented on #50972
I don't think I'm gonna start messing with custom middleware code (don't even know what to do). So I'll just wait for you to wire things up in the insiders build at least

[2019-08-27 09:09] alexandrudima commented on #79722
@octref If the steps include creating an extension, then the complexity cannot be 1. An item with complexity 1 should at most consist of clicking (maybe not even touching the keyboard).