[2017-01-13 15:49] R3V07T commented on #18103
Hello what's new

On Jan 13, 2017 7:42 AM, "Jule-" <notifications@github.com> wrote:

[2017-01-13 15:53] diggamies commented on #18103
@Jule- @joaomoreno

Same issues for me. I used the correct proxy string which works for every other Tool, but VS Code and SSH connections. Don't know what the matter is though...

[2017-01-13 15:58] Tyriar commented on #18415
Great to hear :smile:

[2017-01-13 16:08] arashsa commented on #6461
Would be great if someone added this function!

[2017-01-13 16:09] dbaeumer opened #18522 "Would like to pass an environment when creating a terminal"
VSCode Version: 1.9.x

The task framework currently allows to specify environment variables with are set before a task is executed.
To preserve this feature I need to set an environment as well before starting a shell. I would like to pass an env map (either full or delta) when a terminal is created.

[2017-01-13 16:38] AshleyScirra opened #18523 "[Feature request] In search, show total result count"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

Steps to Reproduce:

1. In a large project, search for a term with lots of results (e.g. "TODO")
2. Wonder how many results there are in total

I can't see that VS Code gives the total result count anywhere. It lists the results per file, but the

[2017-01-13 17:19] isidorn commented on #18401
@weinand makes sense, we should market it proper

[2017-01-13 17:33] llali commented on #17917
@bpasero the path I created the untitled resource for has an extension which is .sql, so the mode changes to what I want and that's the scenario I needed. Now user can use a command "New SQL query" to create a new untitled document with SQL language mode. I couldn't do that with the untitled document command. Not sure if I did the right way but that was the solution I came up with. Please let me k

[2017-01-13 17:37] aardappel commented on #18470
This is not something I have control over. B is SteamVR actually, was trying to state it in general terms. It is launched by a library that I don't have the source to (https://github.com/ValveSoftware/openvr). I was assuming it is a more general problem. I can open a bug there if this is not fixable in VSCode.

[2017-01-13 17:44] bpasero commented on #17917
@llali no I think what you do is totally fine, the command you are pointing to is not even an official supported command. I am closing this since you seem to have found a working solution.

[2017-01-13 17:50] llali commented on #17917
@bpasero  my solution works but the result is different than VS code untitled documents, the first difference is that I have to specify a valid path but vs code untitled document doesn't have a path and user can specify the path to save it later. Also I have to do the same logic as vs code does to figure out the name of the file. it would be nice it there's an open API which both can use.

[2017-01-13 17:59] bpasero commented on #17917
Got it, valid request.

[2017-01-13 18:07] ShaunCurtis commented on #18461
Yes, 1 Virtual Processor and 8GB RAM,  It's the only machine currently running on the host - a HP ML110.

See Setup.
![image](https://cloud.githubusercontent.com/assets/24959469/21940129/bae6f23a-d9ba-11e6-929c-7e6024ad7b2b.png)
My Code install is OOB.  no changes to modules.

[2017-01-13 18:07] atombender commented on #18241
This seems to affect string-based autocompletion, not sure if the same underlying cause: If you have this:

[code]

then only `:foobaz` is suggested, not `foobar` — i.e., it only matches other symbols.

[2017-01-13 18:09] Tyriar opened #18524 "TypeScript go to implementation goes to correct file but wrong cursor position"
Go to ITerminalConfigHelper:

![image](https://cloud.githubusercontent.com/assets/2193314/21940233/3db51630-d978-11e6-9b49-c7b81152636b.png)

Go to ITerminalService:

![image](https://cloud.githubusercontent.com/assets/2193314/21940239/449ad502-d978-11e6-8971-f70ab3e71ffb.png)

[2017-01-13 18:21] alexanderby commented on #17583
@Levikov How did you made it work at all? I have an Asus N550JV, Win 10 (and I'm using VSCode too :) ). When I install Asus Smart Gesture 4.0.12 or 2.2.5, touch pad is unusable, like the left button is always pressed while I'm moving a cursor. If I uninstall Smart Gesture, touchpad works as it should besides right-click is unstable and I cannot scroll anywhere. Did you have problems like that? I'v

[2017-01-13 18:39] ramya-rao-a commented on #18445
Can you add a screenshot of the error that you see which says "more details in the log"?
It might refer to the console or something else.

[2017-01-13 18:52] Tyriar commented on #18441
I'd like to see some configurability on this, be it through a catch all (`extensions.ignoreContributedKeybindings: true`), or disabling keybindings on a per-extension basis (`extensions.ignoreContributedKeybindings: [ 'extensionIDs...' ]`?) perhaps exposed as a checkbox on the extension contributions tab. Disabling individual keybindings might be ideal for some people but would be cumbersome for o

[2017-01-13 18:53] Tyriar commented on #18441
@sandy081 also an extension may add keybindings when (automatically) updated.

[2017-01-13 18:58] five70apps opened #18525 "generate type fix does not work"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.6.2|

---

Steps to Reproduce:

1. In VSCode, new csharp project, edit a .cs file
2. write some code referencing a non-existent type; the name of the non-existent type (SimpleLinkedList

[2017-01-13 19:03] mjbvz commented on #18525
This issue was moved to OmniSharp/omnisharp-vscode#1119

[2017-01-13 19:04] #18525 closed

[2017-01-13 19:05] mjbvz commented on #18504
Can you please provide some example code that show this problem

[2017-01-13 19:07] mjbvz commented on #18508
This issue was moved to Microsoft/vscode-go#722

[2017-01-13 19:07] #18508 closed

[2017-01-13 19:08] ramya-rao-a commented on #18394
I can repro in Windows too

![image](https://cloud.githubusercontent.com/assets/16890566/21942108/81d8fa40-d980-11e6-8961-75ab12fb25ba.png)

[2017-01-13 19:10] indywill opened #18526 "Feature request: Put open folder name first in window title (better for thumbnails)"
- VSCode Version: 1.8.1
- OS Version: Win 10 64-bit

# Overview:
Having filename first (rather than folder) in window title bar title makes switching between multiple instances more difficult.

# Abstract:
Like many developers, I usually have at least 2-3 (often many more) project folders (i.e. code instances) open at the same time, and switch between them. Currently, the window title for each ins

[2017-01-13 19:10] mjbvz commented on #18500
This is by design. Both the file and workspace symbol open experience behave similarly to the open file experience

[2017-01-13 19:10] #18500 closed

[2017-01-13 19:12] #18486 closed

[2017-01-13 19:15] mjbvz commented on #18503
Please try opening this against the cpptools extension first: https://github.com/Microsoft/vscode-cpptools/issues

[2017-01-13 19:15] #18503 closed

[2017-01-13 19:16] msterlingjones opened #18527 "When connected to SharePoint folder I get an error that the Typescript Language Service died"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.2|
|tslint|eg2|0.8.1|
|beautify|HookyQR|0.7.3|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.2|
|code-beautifier|michelemelluso|1.6.2|
|debugger-for-chrome|msjsdiag|2.4.2|

---

Steps

[2017-01-13 19:17] mjbvz commented on #18497
Crash is on this line when accessing `this._pieces`: https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/find/common/replacePattern.ts#L47

@alexandrudima Can you please take a look

[2017-01-13 19:19] mjbvz commented on #18507
Please provide some additional information here to help us investigate. VSCode normally works fine offline

[2017-01-13 19:21] mjbvz commented on #17891
Did you try the insiders build?

The output is in the output pane (View -> Output) under the `TypeScript` drop down. Be sure to restart VSCode and then repo the problem.

[2017-01-13 19:25] mjbvz commented on #18489
Ok, sounds like the cause is external. Closing since we cannot fix this

As a workaround, try setting `"typescript.tsdk"` to a local or global install of typescript

[2017-01-13 19:25] #18489 closed

[2017-01-13 19:27] mjbvz commented on #18495
@iamwrm Can you please try uploading the images again?

I suspect this is a duplicate of #5745 (see issues such as #14329 for example that are root caused to #5745)

[2017-01-13 19:34] #18506 closed

[2017-01-13 19:35] Tyriar commented on #18506
@dbaeumer FYI I changed `ITerminalService.createInstance` to accept an `IShellLaunchConfig` as part of this which should make it a lot nicer to call.

[2017-01-13 19:37] mjbvz commented on #18521
@ritch After trying to open vscode and it crashes, do you see any additional information? Is there a "Report Problem For Electron Window"?

#17034 had a similar error. Do any of the suggestions in that issue help?

[2017-01-13 19:39] #18522 closed

[2017-01-13 19:39] mjbvz commented on #18515
@chrmarti Selecting an initial theme sounds like it would fall into the welcome experience.

[2017-01-13 19:41] mjbvz commented on #18502
@Loghorn Can you share your `launch.json`?

[2017-01-13 19:43] #18520 closed

[2017-01-13 19:44] chrmarti commented on #18515
@Sub568 Could you attach a screenshot? I would like to understand which parts of the UI are unreadable.

[2017-01-13 19:48] Tyriar commented on #329
@jrappen I'm not sure I agree that trash should be skipped in a portable install, you're still working with files on that computer. Unless it throws an exception without write access?

Portable to me means it should not need to be "installed" and works from a USB and/or without write access to other parts of the computer, it's not an incognito mode?

[2017-01-13 19:54] mjbvz commented on #18526
@bpasero Since you worked on #3119, can you please take a look at this?

[2017-01-13 19:57] Tyriar commented on #1587
Some other less verbose syntax proposals that encode the language ID within the setting key itself which the configuration service would understand:

[code]

For example:

[code]

This could be extended to support glob patterns:

[code]

[2017-01-13 19:58] rebornix commented on #18047
This one is quite interesting after some investigation. We are trying to make the selection correct when we fold or unfold.

If selection is LTR and selection end is in the first line of folding area
![selstartinrange](https://cloud.githubusercontent.com/assets/876920/21943637/01523d4e-d987-11e6-81f5-e975ec7c070b.gif)

If selection is LTR and selection end is inside the folding area

![selstartinr

[2017-01-13 20:00] mjbvz commented on #18517
Confirmed. I had to use the command palette to trigger `save all`

The behavior for `save all` here seems different when using the command from the palette, vs the keyboard shortcut or the menu item.

@bpasero Can you please take a look or assign a better owner

[2017-01-13 20:00] eyalsk commented on #329
@jrappen It should be a separate feature and an opt-in feature regardless to whether it's portable; otherwise, it might confuse people, they may delete files thinking it will move to trash but it won't.

[2017-01-13 20:01] rebornix commented on #18485
Extensions provide a language grammar for Code to generate the tokens and then ask Code for the token info, very reasonable.

[2017-01-13 20:18] rlabrecque commented on #329
@eyalsk Agreed, not trashing files would be surprising to me. But that feature may be welcome in both portable and non portable mode. I would never use it on my portable version because I only ever would use it on private computers.

[2017-01-13 20:20] Tyriar commented on #329
Note that shift+delete works in the explorer to skip trash.

[2017-01-13 20:25] Tyriar commented on #13138
The command runs this which opens cli.js:

[code]

It doesn't happen in Git Bash.

[2017-01-13 20:26] Tyriar commented on #13138
`code-insiders --help` ignore args and launches in Bash on WIndows but not Git Bash.

[2017-01-13 20:35] Tyriar commented on #13138
This is the arg that is received by VS Code: `'C:\\mnt\\c\\Program Files (x86)\\Microsoft VS Code Insiders\\resources\\app\\out\\cli.js`, looks like that's the issue (`C:\\mnt\\c`)

[2017-01-13 20:53] soljohnston777 opened #18528 "Have a search history"
It is nice when you have a search history that pops up(down below the search field)  - with pressing the down arrow on your keyboard or just clicking the search area.  I haven't see this implemented in yet .

[2017-01-13 21:11] davidgiven commented on #13189
I don't have a trash. Is there any chance of a configuration option to change 'Delete file' to unconditionally remove the file moving trying to move it to the trash?

[2017-01-13 21:16] Krzysztof-Cieslak opened #18529 "Compounds launch configuration not working on latest Insider's"
Running compounds launch configuration ends up with `Configuration 'Compound' does not exist.`

I *think* it got broken on yesterday's Insider.

Reproduction: https://github.com/Krzysztof-Cieslak/vscode-compounds-bug

[2017-01-13 21:34] mjbvz commented on #18524
Confirmed. This appears to be a TypeScript bug. Here's the TSServer communications:

[code]

The returned range makes no sense. The end location is beyond the file end while the start location is 30 lines before the actual implementation

I'll see if I can get a smaller repo so I can report this to TS.

[2017-01-13 21:38] kobalicek opened #18530 "Markdown doesn't support ```c++ blocks"
- VSCode Version: nightly
- OS Version: linux

Steps to Reproduce:

Create a markdown document and put a c++ code section into it, starting with ```c++. VSCode doesn't highlight it, because there is no c++ match in markdown.tmLanguage.

I suppose to add the following (or something similar, I don't know how that file is created):

[code]

[2017-01-13 21:39] roblourens commented on #18523
Something like this would be cool:

![image](https://cloud.githubusercontent.com/assets/323878/21946541/bb292f62-d995-11e6-8bd2-c6121db02542.png)

[2017-01-13 21:57] #18530 closed

[2017-01-13 22:00] mjbvz commented on #18528
We do have a search history. You can brows through this using <kbd>alt</kbd><kbd>up</kbd> and <kbd>alt</kbd><kbd>down</kbd> while in the search text box. These are the `search.history.showNext` and search.history.showPrevious" commands

[2017-01-13 22:00] #18528 closed

[2017-01-13 22:01] rebornix commented on #9609
@nschurmann https://github.com/Microsoft/vscode/issues/14854#issuecomment-257939552

[2017-01-13 22:08] ahmetalpbalkan commented on #18003
I have been disabling all extensions for the 5th time now because it is the first option and not the "Install Extensions".

![image](https://cloud.githubusercontent.com/assets/159209/21947380/cc21e058-d999-11e6-9154-35307e33a887.png)

[2017-01-13 22:10] mjbvz commented on #18511
I'm unable to repo this in insiders or building from master:

![screen shot 2017-01-13 at 2 08 37 pm](https://cloud.githubusercontent.com/assets/12821956/21947382/ced19816-d999-11e6-9324-7ace74b7ff24.png)

@jrieken Were any additional steps required to reproduce this issue?

[2017-01-13 22:13] ramya-rao-a commented on #18485
@rebornix VS Code already has the grammar for most of the languages.

[2017-01-13 22:17] mjbvz commented on #17914
This issue was moved to Microsoft/TypeScript#13479

[2017-01-13 22:17] #17914 closed

[2017-01-13 22:17] Tyriar commented on #13138
The reason this doesn't work is because the environment is not transferred when launching an exe from bash on windows, see https://github.com/Microsoft/BashOnWindows/issues/1363 & https://github.com/Microsoft/BashOnWindows/issues/1494

[2017-01-13 22:37] soljohnston777 commented on #18528
Thanks for the hints. Why couldn't it be shown like a list ( for example like when using a form drop down list showing the last 5 entries).  That would be more intuitive.

[2017-01-13 22:44] pungggi commented on #18473
with F1 i mean running the command Emmet: Expand Abbreviation

[2017-01-13 22:46] jwhitfieldseed commented on #16261
@mikes-gh I'm sorry for the slow reply, I missed the notification.

I can repro with your steps. I also get the incorrect results launching with Spotlight and Alfred.

I can also repro with a fresh extension. I ran `yo code` and replaced the default message in `extension.ts` with:

[code]

`vscode.env.language` is `en` in both cases. `Date#toLocaleString` differs as you report.

[2017-01-13 22:46] roblourens commented on #18528
Related to https://github.com/Microsoft/vscode/issues/17492, problem is just that we're using the arrow keys to navigate between fields at the moment.

[2017-01-13 22:59] mjbvz commented on #13597
Amd module support is being tracked here: https://github.com/Microsoft/TypeScript/issues/6942

I believe the properties issues is now being tracked here: https://github.com/Microsoft/TypeScript/issues/7632

Closing as upstream

[2017-01-13 22:59] #13597 closed

[2017-01-13 23:00] rebornix commented on #18126
@isidorn sounds good to me.

[2017-01-13 23:00] #18126 closed

[2017-01-13 23:07] rebornix commented on #17711
This is probably due to my personal usage of windows. For most of the time I'd like to keep one single window and whenever I want to check something in anther project, I open that in a new window real quick and start to investigate. And then I run into this issue.

I ran into similar issues when debugging indentation rules. I launch a debugging instance directly from VS Code and press `enter` or s

[2017-01-13 23:13] roblourens commented on #17718
I am seeing this on Windows too, when searching all of C:/. I have a PR open to address it: #18533. Thanks for the report!

In this case, the issue will repro on Windows, and in cases where there are many many files, or IPC messages are slow to be delivered to the search worker processes. The symptoms would be that search at some point stops showing results, and never finishes.

[2017-01-13 23:25] mjbvz commented on #18490
This does not seem JS specific. I think the bug is that we only allow expanding the completion item if it has the `documentation` property set. We should also allow expansions if the `detail` property has any new lines in it

[2017-01-13 23:30] mjbvz commented on #18518
Can please you try running code with `--disable-extensions` to see if an extension is the root cause here?

[2017-01-13 23:38] bobmagicii opened #18535 "drag dropping folders goes to the wrong window."
- VSCode Version: 1.9.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. start vs code
2. open folder as project workspace
3. file > new window
4. drag folder from desktop to new window
5. lol as first window opens the folder

[2017-01-13 23:51] jwhitfieldseed commented on #16261
I can also repro with a vanilla Electron app:

1. `https://github.com/electron/electron-quick-start`
2. `npm install npm install electron-packager`
3.  Add to the `createWindow` method of `main.js`:

[code]

4. `./node_modules/.bin/electron-packager . --platform=darwin`

Running from the terminal: (`./electron-quick-start-darwin-x64/electron-quick-start.app/Contents/MacOS/electron-quick-start`) al

[2017-01-13 23:52] #11480 closed

[2017-01-14 00:17] Sub568 commented on #18515
Hi
Here is a screenshot of a video lesson and one of a recent assignment worked on VS Code in the Light+ color theme.  The difference is striking.  I think that the process of transferring the lessons to U tube sacrifices a lot of clarity for speed of download.

On 1/13/2017 2:45 PM, chrmarti wrote:

@Sub568<https://github.com/Sub568> Could you attach a screenshot? I would like to understand which

[2017-01-14 00:27] GitClickOk commented on #12266
In my asp.net mvc project will be like a dream if I can pin Models, Views and Controllers folders on the top of folder tree... From dozen of folders, that 3 are far 90% where is my work!

[2017-01-14 01:00] chrmarti commented on #18515
I think you need to attach it in GitHub directly. The attachment hasn't made it through from the email.

[2017-01-14 01:43] Tyriar commented on #13138
I tried to fix the path conversion issue by using the following:

[code]

Unfortunately due to https://github.com/Microsoft/BashOnWindows/issues/1363 and https://github.com/Microsoft/BashOnWindows/issues/1494 it just won't work. In the meantime I can fix the cli.js specifically and get the CLI working for relative files.

[2017-01-14 02:03] Tyriar opened #18536 "Support relative paths when launching VS Code from Bash on WIndows"
Forked from https://github.com/Microsoft/vscode/issues/13138 as this is going into January in commit https://github.com/Microsoft/vscode/commit/9c298b09782e3dddc473bf6368521b81a122d6f4

To verifier:

Please test launching VS Code using various args on Bash on Windows, you will need to be on a recent Windows Insiders.

[2017-01-14 02:04] Tyriar commented on #13138
Forked the relative path issue to https://github.com/Microsoft/vscode/issues/18536 as it's going into the release.

[2017-01-14 02:04] Tyriar commented on #18536
Things like this should be possible:

[code]

But not:

[code]

[2017-01-14 02:04] #18536 closed

[2017-01-14 02:16] jchadwick commented on #17725
Is this still an issue?  I can't reproduce.

[2017-01-14 02:21] filtration opened #18537 "Trying to install an extension, but am getting an error command not found"
Trying to install a vscode extension, but OP doesn't have a readme I've tried putting the folder in the:

    user/.vscode/extension

but when I run the command I get the error:

The repo is here:

    https://github.com/ivonunes/vscode-php-namespace

Any help would be appreciated.

[2017-01-14 02:23] seanthebean opened #18538 "30 seconds of 100% CPU usage every time my web app makes an ajax request"
- VSCode Version: 1.8.1
- OS Version: Arch Linux (kernel v4.8.8)

Steps to Reproduce:

1. Trigger any HTTP request when running the web application I'm working on (sorry, it isn't open source, so I realize that doesn't help a great deal)

The problem is that when I do this, vscode immediately jumps to 100% CPU on one core, and stays there for about 30 seconds before returning to normal. Naturally,

[2017-01-14 05:18] Tyriar opened #18540 "Jump to matching bracket no longer moves the editor's viewport to the cursor"
- VSCode Version: Code - Insiders 1.9.0-insider (2cdc2b3da8f0fd5322b48747241584cf9dd98f8f, 2017-01-13T07:03:18.620Z)
- OS Version: Linux x64 4.8.0-32-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|lorem-ipsum|Tyriar|1.0.0|
|theme-glacier|Tyriar|0.0.10|
|vscode-svgviewer|cssho|1.3.0|
|python|donjayamanne|0.5.5|
|gitlens|eamodio|1.4.1|
|tslint|eg2|

[2017-01-14 05:37] spywhere commented on #1587
Just to add another way I used in my extension.

I use @Tyriar style for the extension's configurations but instead of brackets I use language ID as an optional key itself.

For example:

[code]

FYI, some language providers (syntax highlight) named their language ID with spaces. Such as API blueprint, they use "API Blueprint" as their language ID which works when wrapped inside quotes but it's no

[2017-01-14 05:50] documentsforomar opened #18541 "[html] exclude single quote from autoClosingPairs for element content"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|

---

Steps to Reproduce:

1. Create an html file
2. Create a paragraph tag and use single quotes for typing a sentence such as we're.

The output displays the following
<p>We're'

Also when tabbing out of

[2017-01-14 06:57] bpasero commented on #18461
That is #17097

[2017-01-14 06:59] bpasero commented on #18526
https://github.com/Microsoft/vscode/issues/1723

[2017-01-14 06:59] #18526 closed

[2017-01-14 06:59] bpasero commented on #13189
@davidgiven you can hold the Shift key and delete to bypass trash anytime.

[2017-01-14 07:00] bpasero commented on #18003
There was no change in the relevance sorting for the command palette btw.

[2017-01-14 07:12] bpasero commented on #18535
@bobmagicii is the first window maybe having that folder open already? we currently do not support opening the same folder in multiple windows.

[2017-01-14 07:24] #12946 closed

[2017-01-14 08:01] the-shank commented on #18103
Hello,

OS: Windows 8 (64 bit)
Network: Corporate environment
Proxy: http
I can't search extensions or install them

| Test | Status | Hash or Error |
|---|---|---|
| HTTP XHR | 407 | 2296db57eb5be0f32ed3679fa930878653f12e78 |
| HTTPS XHR | 0 | Error |
| HTTP Node | 0 | Timeout |
| HTTPS Node | 0 | Timeout |
| HTTP Node (not strict) | 0 | Timeout |
| HTTPS Node (not strict) | 0 | Timeout |
| HTTP

[2017-01-14 08:06] pmkary opened #18542 "No support for tmTheme background colors"
- VSCode Version: All versions
- OS Version: macOS Sierra

`.tmTheme` definitions can have background colors specified with `background` keys such:
[code]
and vscode provides on such support for this. A theme like NeonGlow that normally looks like this:

<img width="775" alt="screen shot 2017-01-14 at 11 33 46 am" src="https://cloud.githubusercontent.com/assets/2157285/21953470/9faaf08c-da4d-11e6-

[2017-01-14 08:18] jrieken commented on #18511
Maybe the use of TypeScript 2.1.4

[2017-01-14 08:43] diaconu13 opened #18543 "Syntax selection missing for new unsaved code"
- VSCode Version:1.81
- OS Version: win 10

Steps to Reproduce:

1. open new file
2. paste some js code
3. Format Document option missing from right click menu(since IDE does not know what kind of syntax you have and there is no option to select it)

[2017-01-14 09:47] kaiwood commented on #18537
If you are not using the marketplace, you need to compile the extension yourself before you are able to use it.

After the checkout from within the project directory, run `npm install` first for getting the build tools and required libraries. After that, you can either run it at least one time in the graphical debugger (this triggers the build); or build it on the command line with: `npm run-scrip

[2017-01-14 10:44] jordwalke opened #18544 "Integrated terminal does not render Truecolor."
- VSCode Version:
Insiders build as of now.
- OS Version:
mac Sierra

Steps to Reproduce:

1.
`curl https://raw.githubusercontent.com/JohnMorales/dotfiles/master/colors/24-bit-color.sh > testColors.sh`
2. `sh testColors.sh`

You will see that it does not render all of the colors, and instead appears to only render 256.

[2017-01-14 10:54] ShaunCurtis commented on #18461
I gave the machine 2 Virtual Processors and all works now.
Thanks.

[2017-01-14 10:56] #18461 closed

[2017-01-14 11:12] filtration commented on #18537
You, my friend are a live saver. Everything is working.

[2017-01-14 11:58] acbetter opened #18545 "While Using macOS Sierra's Chinese IME, the first letter can not be in the right position (i18n)"
- VSCode Version: 1.8.1 (1.8.1)
- OS Version: macOS Sierra 10.12.2

Steps to Reproduce:

1. While Using Chinese IME, the first letter can not be in the right position.
<img width="710" alt="screen shot 2017-01-14 at 18 55 47" src="https://cloud.githubusercontent.com/assets/13360124/21954601/b5daeefa-da90-11e6-94b7-e6b5044bb6c5.png">
2. When I input the second letter, everything goes right.
<img wi

[2017-01-14 12:12] unional opened #18546 "type filtering on intersection types"
- VSCode Version: 1.8.1

[code]

It would be godsends if after typings `{ a: 'x'`, the completion shows `b: number`.
Currently, it shows `b: string | number`

`ts language service` can correctly detect the above is incorrect.
![image](https://cloud.githubusercontent.com/assets/3254987/21954739/5d8e973c-da0f-11e6-8600-b31da45624e7.png)

So the capability of determining which type the `_option` curr

[2017-01-14 12:22] Sub568 commented on #18515
I've not done this before
![light color theme](https://cloud.githubusercontent.com/assets/7491922/21954793/fcfd5104-da29-11e6-88e6-ee8955aa33f7.JPG)
![html lesson](https://cloud.githubusercontent.com/assets/7491922/21954794/fd0b5254-da29-11e6-8fc6-9fa2ab9481ca.JPG)

[2017-01-14 12:22] #18515 closed

[2017-01-14 12:23] chrisdarth opened #18547 "VS Code crashing when opening file using Open File/Save"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Home (Version 1607, Build 14393)

Steps to Reproduce:

I am administrator on my computer. Since I noticed the error, I have uninstalled VS Code, then downloaded the latest version and reinstalled it.

1. Open VS Code from the start menu (doesn't matter if run as administrator or not)
2. Use Ctrl+O or Open File
3. Notice the file explorer pops up, bu

[2017-01-14 12:36] chrisdarth commented on #18547
Update: May be an issue with Windows, not VS Code. Downloaded ScreenToGif to record the issue, this application also crashes when trying to open/save...

[2017-01-14 12:37] hbenl commented on #15901
FYI: I just tested this with (an unreleased version of) [my debug adapter](https://github.com/hbenl/vscode-firefox-debug) in an insider build of VS Code (Date 2017-01-13T07:03:18.620Z) and it works fine for me.

[2017-01-14 12:40] #18547 closed

[2017-01-14 12:52] chrisdarth commented on #18547
For other people with the same bug, it seems to affect multiple programs.

Here is a forum post discussing this issue: https://answers.microsoft.com/en-us/insider/forum/insider_wintp-insider_files/w10-file-open-and-file-save-dialogs-crash-various/459b2cf5-110d-485b-92b2-b78e4b8ca3c3

Doesn't seem to be any solution to this issue. Will try a system restore and see if this fixes the issue.

[2017-01-14 15:10] abnerh69 opened #18548 "Folder aliases does not works"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-docker|PeterJausovec|0.0.11|
|vscode-npm-script|eg2|0.1.7|
|vscode-npm|fknop|3.3.0|
|vscode-JS-CSS-HTML-formatter|lonefy|0.2.2|

---

Steps to Reproduce:

1. Create a folder alias in Finder
2. Try to access

[2017-01-14 15:14] atlib77 opened #18549 "[folding] Support single shortcut for toggling fold/unfold"
Currently we have the possibility to fold and unfold using different shortcuts.

I would like to have "editor.toggleFold" option as well so I can have a single shortcut for that (e.g. Ctrl+M, Ctrl+M as in VS.NET)

E.g.:
{
        "key": "ctrl+1",
        "command": "editor.toggleFold",
        "when": "editorTextFocus"
    }

That way, I only have to remember a single shortcut for this and matches

[2017-01-14 15:30] vernondegoede commented on #4962
@johnpeele Did you set any other options to get this working properly? Typing `div` and pressing tab results in inserting `HTMLDivElement`

However, typing `div.test` results in `<div className="test"></div>`.

[2017-01-14 15:54] adelphes opened #18550 "Extensions cannot activate with allowJs compiler option"
- VSCode Version: 1.8.1
- OS Version: Ubuntu 16, Linux x64

Steps to Reproduce:

1. Create a new extension using `yo generator-code`
2. Build, debug and activate the new extension to check it works.
3. Add a pure JavaScript (.js) file to the project.
4. As per the documentation, add the following to `compilerOptions` in *tsconfig.json*:

`"allowJs": true`

5. Relaunch the debugging session. The ex

[2017-01-14 16:17] mtapiero commented on #1023
+1

[2017-01-14 16:19] Vernando05 opened #18551 "all of my code lost and cannot undo anything"
- VSCode Version: 1.8.1
- OS Version:  Windows 10 latest update

Steps to Reproduce:

1. I dont know it happened so quick, I was copy and pasting a line of code in my js file, but my finger slipped and press wrong keyboard button (I dont know what it is), and  suddenly all of my code is disappear, I cannot undo or redo anything, and the worst part is it's a long streak coding, I havent commited my

[2017-01-14 17:32] andreshg112 opened #18552 "HTML files are not being well indent when using attribute 'style'."
- VSCode Version: 1.8.1
- OS Version: Ubuntu 16.04.1
Shell 1.4.6
Representador 53.0.2785.143
Node 6.5.0

Steps to Reproduce:

You can see this file, everything is ok.
![prueba sin style](https://cloud.githubusercontent.com/assets/15859884/21956740/35ff8c3a-da55-11e6-8938-6c2ece6a22b3.png)

After adding 'style' attribute, It's not well indented.
![prueba con style](https://cloud.githubusercontent.c

[2017-01-14 18:28] cesaraaron commented on #18424
Sorry for the delay response.

Yesterday updated to the build 15007, still the same, followed your instructions and the conhost.exe only gets pegged at 50% -indefinitely btw, only when I open the integrated terminal, or when I open a program that uses the conhost in I don't know what way -Sublime Text fires it in the same way, guess is some custom extension.

I used the process monitor to capture

[2017-01-14 20:17] Nrjwolf opened #18553 "Scroll on treckpad"
I have wrong scroll with trackpad, it scrolling curcsor not scrollbar, so on mouse wheel it works fine, what I should to do to fix it?

And with trackpad works fine if I use cntrl + trackpad

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vs

[2017-01-14 20:20] rarrarrarr commented on #10367
This is my #1 request of vscode and I'm willing to work on making it happen, but I'm not sure where to start.

[2017-01-14 20:39] NiklasRosenstein opened #18554 "VSCode doesn't start and stays quiet when Prefs folder doesn't exist"
- VSCode Version: 1.8.1
- OS Version: Windows 10 x64

Steps to Reproduce:

1. Delete or temporarily rename the folder `%APPDATA%\Code\User`
2. Try to start VSCode

Notice how VSCode doesn't start at all. Luckily you still get a warning when running Code with `--verbose`

    Startup error: Error: ENOENT: no such file or directory, stat 'C:\Users\niklas\AppData\Roaming\Code\User'

This warning shou

[2017-01-14 20:42] ramya-rao-a commented on #18003
@ahmetalpbalkan

Can you open a separate issue for https://github.com/Microsoft/vscode/issues/18003#issuecomment-272561436 which is about the commands in the command pallet.

The original issue here was about the quick pick control (which in this particular case was when the `Go: Add Import` command was run).

The fix for the original issue is available in the insiders build, just tested it.

[2017-01-14 20:43] ramya-rao-a commented on #18473
Thanks @pungggi

Closing this as duplicate of #18427

[2017-01-14 20:43] #18473 closed

[2017-01-14 20:50] abauzac opened #18555 "Reporting potential vulnerability"
Hello, I would like to report a potential vulnerability in VSCode...
Copying some malicious code in the editor seems to auto execute it.
Copying the EICAR test payload works as expected, but copying specific code has triggered Windows Defender immediately so I guessed it's a bug.

Can I send the (plain) code privately to a maintainer ?

- VSCode Version: 1.8.1
- OS Version: Win10 Home 64

Steps to

[2017-01-14 20:58] unional commented on #18546
A slightly more complicated case:

[code]
The competetion should show `d: number` and not `e: number` as the shape of the object already ruled out `Y`.

[2017-01-14 21:33] sjml opened #18556 "Can't start node debugger when "node" is a function in the shell"
- VSCode Version: 1.8.1
- OS Version: macOS 10.12.2

I recognize that I'm in "special snowflake" territory with my setup here, and definitely don't expect first-class support for what I'm doing, but it feels like the kind of thing VS Code could handle more gracefully than it currently does. Basically this is a stranger occurrence of #10571.

The [zsh port of nvm](https://github.com/lukechilds/zsh-

[2017-01-14 21:33] sjml commented on #18556
Sorry, submitted early; updating information still

[2017-01-14 21:41] ahmadnassri commented on #3907
using the [`ricard.PostCSS`](https://marketplace.visualstudio.com/items?itemName=ricard.PostCSS) plugin, provides correct syntax highlighting for `.pcss`, `.postcss` files.

you can then associate `.css` files to be treated as `.pcss` files in your settings, and you'll get the correct syntax highlighting:

[code]

**Note:** this method will completely disable validation, as `postcss` is not a know

[2017-01-14 21:43] sjml commented on #18556
Reopening just so the team can be aware of it as a potential snag. If nothing else, maybe somebody googling will find this page and solve their immediate issue.

[2017-01-15 00:17] rajinder-yadav commented on #13189
Delete issue on Linux resolved for me. found this:

https://code.visualstudio.com/docs/setup/linux#_debian-and-moving-files-to-trash

One annoying this, please add a setting to not keep making me confirm the delete!

[2017-01-15 02:57] iamwrm commented on #18495
@mjbvz
Yes exactly. It's a duplicate.
I'll go over that issue and find some solutions.
Thank you.

[2017-01-15 02:57] #18495 closed

[2017-01-15 04:10] moe123 commented on #18521
[code]
buzz here http://libevent.org

[2017-01-15 04:17] Tyriar commented on #13625
I filed https://github.com/rprichard/winpty/issues/96 on the winpty repo outlining the major issues I see

[2017-01-15 04:33] #16838 closed

[2017-01-15 04:36] Tyriar opened #18557 "Settings search stopped working for me"
- VSCode Version: Code - Insiders 1.9.0-insider (2cdc2b3da8f0fd5322b48747241584cf9dd98f8f, 2017-01-13T07:03:18.620Z)
- OS Version: Linux x64 4.8.0-32-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|lorem-ipsum|Tyriar|1.0.0|
|theme-glacier|Tyriar|0.0.10|
|vscode-svgviewer|cssho|1.3.0|
|python|donjayamanne|0.5.5|
|gitlens|eamodio|1.4.1|
|tslint|eg2|

[2017-01-15 04:42] Tyriar commented on #18355
Are you in a VM by chance?

[2017-01-15 05:10] luanh6666666 opened #18558 "html.suggest.angular1 doesn't work"
- VSCode Version:1.81
- OS Version:win10

I have closed html.suggest.angular1 in settings, but I still see it in new html file.

![wechatimg1](https://cloud.githubusercontent.com/assets/24838088/21960359/45bb6332-db23-11e6-8819-6e195984f704.png)
![wechatimg2](https://cloud.githubusercontent.com/assets/24838088/21960360/46f7871c-db23-11e6-85f6-c08f2c5777e2.png)

[2017-01-15 05:35] xeonx1 commented on #11723
This would be very helpful, as vscode is extremely slow to launch to use as a Notepad++ replacement, taking 10+ seconds to open with fast SSD, quad-core CPU and all extensions disabled.

[2017-01-15 05:47] xeonx1 commented on #9539
Agreed, this would make vscode more attractive to use frequently, with less tedious updates.

[2017-01-15 05:56] xeonx1 commented on #15108
I agree that VSCode takes way to long too open, to make it a feasible alternative to Notepad++ for opening text and code files.
It takes 11+ seconds for a cold startup and 7-8 seconds for Reload Window after that with fast SSD and CPU (Intel® Core™ i7-6700HQ, PCIe® NVMe™ M.2 SSD exclusively, 16GB RAM, Win 10 x64) with all extensions disabled, even with vscode added excluded by Webroot and Anti-Mal

[2017-01-15 05:56] xeonx1 commented on #15455
I agree that VSCode takes way to long too open, to make it a feasible alternative to Notepad++ for opening text and code files.
It takes 11+ seconds for a cold startup and 7-8 seconds for Reload Window after that with fast SSD and CPU (Intel® Core™ i7-6700HQ, PCIe® NVMe™ M.2 SSD exclusively, 16GB RAM, Win 10 x64) with all extensions disabled, even with vscode added excluded by Webroot and Anti-Mal

[2017-01-15 05:56] xeonx1 commented on #14109
I agree that VSCode takes way to long too open, to make it a feasible alternative to Notepad++ for opening text and code files.
It takes 11+ seconds for a cold startup and 7-8 seconds for Reload Window after that with fast SSD and CPU (Intel® Core™ i7-6700HQ, PCIe® NVMe™ M.2 SSD exclusively, 16GB RAM, Win 10 x64) with all extensions disabled, even with vscode added excluded by Webroot and Anti-Mal

[2017-01-15 06:01] sivasankars commented on #251
For WampServer

**PHP v7 :**
C:/wamp64/bin/php/php7.0.10/php.exe

**PHP v5.6 :**
C:/wamp64/bin/php/php5.6.25/php.exe

[2017-01-15 06:26] jordwalke commented on #14452
In the case of the terminal, I wish for a mode that would allow the terminal to be quickly maximized to consume the entire room of the editor tabs. Would this be possible with a setting of 100%?

[2017-01-15 07:05] lanbomo commented on #1046
This feature is must needed absolutely, please add this feature for vscode. Thanks!

[2017-01-15 09:18] nissoh commented on #18292
I believe i'm experiencing the same thing.
i think vscode is caching stuff and causing this error to be totally persistent. moving project folder around seems to fix this issue until it occurs again.

[2017-01-15 09:25] nissoh commented on #18292
Ok, it seemed that vscode doesn't like my `tslint.json` configuration

[code]

[2017-01-15 09:39] Jasonlhy opened #18559 "Unable to use TextEditorEdit.delete() as first class function"
- VSCode Version: 1.8.1
- OS Version: Windows 10

I was writing an extension yesterday and faced an interesting error. I tried to use TextEditorEdit.delete() as first class function inside `.forEach` but it just failed with message `Running the contributed command:'extension.hungryDelete' failed.` I solved the problem with explicitly specifying the callback function. Is it a bug or just a feature

[2017-01-15 09:42] nissoh commented on #18292
I will also add that i have more then one `tsconfig.json` in my root folder.

[2017-01-15 10:16] jsnjack commented on #18355
No, I'm not in a VM. However, I use 4k external monitor

[2017-01-15 10:39] kivvv opened #18560 "OmniSharp.exe virus on Bitdefender Antivirus for Mac"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:38:28.425Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|csharp|ms-vscode|1.6.2|

---
Bitdefender Antivirus for Mac alerted me that..
"1/15/2560 BE, 5:24 PM
Gen:Variant.Barys.50536 deleted
/Users/1v5/.vscode/extensions/ms-vscode.csharp-1.6.2/bin/omnisharp/refs/OmniSharp

[2017-01-15 10:51] abauzac commented on #18555
After digging, it seems to be Windows Defender which interprets the (html) code once it's written on the drive. I guess this is linked to the "hot exit" feature recently implemented. I could reproduce simply by saving the HTML file using notepad => the file is auto-deleted.
Closing issue as not related to VSCode.
Sorry for bothering.

[2017-01-15 10:51] #18555 closed

[2017-01-15 11:09] 4nxiety opened #18561 "No code analysis, syntax error handling, intellisense anymore"
- VSCode Version: 1.8.1
- OS Version: Windows 10 Pro 64 bit

Hello, I woke up and started my VS Code. But I dont have any error handling anymore. If I have a class in Typescript - intellisense not works. Even "console" does not show up "log", "error" or "warn". I have reinstall VS Code, restart PC... And format code did not work too...
I don't know if the project is to big? ~40 files each .. ~300

[2017-01-15 11:18] johnfn commented on #426
Pretty please? Vim users will love you forever.

[2017-01-15 11:23] life1347 commented on #17687
Hi @bpasero
My problem is that the hotkey shift+cmd+left cannot work properly, and I could reproduce the problem this problem after reinstalling VSCode. In the end, I tried the method described here([#227](http://forums.macrumors.com/threads/macos-10-12-sierra-post-bugs-and-fixes-here.1991731/page-10#post-23617306)) and problem solved. After some testing, I found that  /Users/<user>/Library/Prefer

[2017-01-15 11:32] davnicwil opened #18562 "ES2015 import from './css' incorrectly links to .../css/index.d.ts instead of my own css.js"
I have a file `css.js` and I `import css from './css.js'` in another module in the same directory.

`'./css.js'` seems to be interpreted by the editor as a link to `/Users/me/Library/Application Support/Microsoft/TypeScript/node_modules/@types/css/index.d.ts`, rather than my `css.js` module.

Problems:

1. cmd+click on `'./css.js'` incorrectly links to `/Users/me/Library/Application Support/Micros

[2017-01-15 11:37] senhtry opened #18563 "Intellisense not working with Python 3.6"
Intellisense not working with Python 3.6. Python extension hasn't the 3.6 grammer file.

Solution:
copy grammar3.5.txt to grammar3.6.txt in ~\.vscode-insiders\extensions\donjayamanne.python-0.5.5\pythonFiles\preview\jedi\parser and my autocompletion started to work again.

[2017-01-15 11:40] nNullSpace opened #18564 "escape characters in string with leading char "r" (raw string indicator)"
- VSCode Version: 1.8.1
- OS Version: windows 8 (64bit)

Steps to Reproduce:

1. create a python code file
2. key in the snippet **dir=r"C:\Temp\a";**
3. it shows as
![1](https://cloud.githubusercontent.com/assets/22057021/21962164/f3217a30-db59-11e6-8d96-a155daf3199d.jpg)

http://i.imgur.com/Ix4eE07.jpg (if attached failed)

The string is following "r", it's a raw string with no escape characters

[2017-01-15 12:04] youngytj opened #18565 "Strange hint on reference"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|0.7.3|
|vscode-docker|PeterJausovec|0.0.11|
|code-settings-sync|Shan|2.4.2|
|html-snippets|abusaidm|0.0.18|
|githistory|donjayamanne|0.1.4|
|python|donjayamanne|0.5.5|
|rest-client|humao|0.12.0|
|

[2017-01-15 12:38] spacegoing opened #18566 "browser-plugin doesn't scale with zoomLevel"
- VSCode Version: V1.8
- OS Version: macOS 10.12

Steps to Reproduce: Unknown, may be by set `zoomLevel`

![screenshot 2017-01-15 23 33 43](https://cloud.githubusercontent.com/assets/5180020/21962502/72e4bd6a-db7b-11e6-8548-2460cfdc5f5a.png)

As you can see in the screenshot, "browser-plugin" (I found the name by devTools) doesn't scale with the editor

[2017-01-15 13:40] LegoChicken commented on #18517
Note, in my original report all the files were saved (i.e. no dirty files). I usually use Ctrl+Shift+P Save All as I haven't learnt the key sequence yet. The issue was that the error message didn't indicate that there were no files to be saved. To me the error message didn't make any sense. There may be other issues as indicated by @mjbvz.

[2017-01-15 13:41] gilboa23 commented on #1723
The ability to configure the window title to show `"{rootFolder} - {fileName}"` or even better  just `"{rootFolder}"` instead of `"{fileName} - {rootFolder}"` is critical for us. We're working in a multiple project setup in Windows and it is currently impossible to distinguish open vscode windows on the taskbar.

This seems to be a rather trivial configuration option to implement, but it adds trem

[2017-01-15 13:42] BillDenton commented on #18517
Opps I've just commented in my other GitHub username (@LegoChicken).

[2017-01-15 13:49] BillDenton commented on #18518
I'll try but it is intermittent so I don't know how to trigger it.

[2017-01-15 13:50] jimiz12 opened #18568 "Copy results text from search panel"
Not able to copy results as from search results panel

- VSCode Version:1.8.1
- OS Version: MacOS sierra

Steps to Reproduce:

1. Edit ->  Find in all files ->  run a search (In screen shot - using a regex)
2. replace files and the output results are not able to be copied

The need is to be able to take results (In screenshot) "replaced 1218 occurrences ..."  and use that result set in a commit or

[2017-01-15 14:59] BillDenton commented on #18517
@mjbvz I've just checked using Ctrl+K S. There is no message when there are no files to save. Whereas using Command Save All there is a message. I think it safe to silently do nothing. So there should be no message when all the files are already saved when it used via keyboard sequence of command prompt. Only reason to have a message would be to give the user feedback to indicate that the save all

[2017-01-15 15:00] thekalinga opened #18569 "Support for regex test along the lines of IntelliJ"
Intellij allows us to check regex against arbitrary string to validate any regex within code.

This feature also escapes the regex characters appropriately according to the language of the file the user is editing.

This would a "nice to have" feature in vscode.

Reference:
https://blog.jetbrains.com/idea/2011/11/regexp/

[2017-01-15 15:39] poke opened #18570 "JavaScript formatter: Place else on separate line"
I would like to request an option to make the JavaScript formatter place an `else` on its own line. There does not appear to be an option for this in the vscode settings so far. Consider the following as an example:

[code]

Currently, the JavaScript formatter converts this into the following:

[code]

Note that this behavior is also inconsistent with the TypeScript formatter which formats the lat

[2017-01-15 15:50] smulikHakipod commented on #7683
Any updates on this?
I am using runInContext from the [VM module](https://nodejs.org/api/vm.html).
node2 plugin uses node-inspector, which cant debug code running under vm module at all, so I must use the regular node debugger in vscode. In my workspace its crashing all the time (runInContext and BlueBird project). What can I do?
Thanks

[2017-01-15 15:54] thekalinga opened #18571 "Allow users to fold & expand imports"
Currently all versions of vscode does not have the ability to fold imports in typescript files.

It would make the code look much cleaner if the editor allows the ability to fold/expand the imports in languages such as typescript & java

[2017-01-15 16:29] thekalinga commented on #8197
Is there a way currently to contribute commands to exclusively to explorer context menu & add a shortcut for it.

For eg., if I select a folder in explorer & press `alt+insert`, I want to add the ability for the user to select a set of options the way intellij show.

[2017-01-15 16:32] nNullSpace commented on #18564
I might misunderstand, highlight or not seems able to switched by upper/lower case "R/r".
So... there might be nothing wrong?

[2017-01-15 16:56] eckdanny commented on #13366
here's a repro using `tmux` on `os10.12`

![vscode-13366](https://cloud.githubusercontent.com/assets/3521444/21964399/c8a69496-db10-11e6-8eb0-1013ad7e6c00.gif)

I just updated from os 10.10 yesterday and noticed this today. Hoping the link from @timrogers helps me sort this out.

[2017-01-15 17:08] Tyriar commented on #13625
Once of the issues was node-pty's fault which has been fixed, the one last issue I believe has already been fixed (https://github.com/rprichard/winpty/commit/40d5b72c43165875724825fab5b5e5303fa5c3c3) and is just waiting for the new winpty version! :tada:

[2017-01-15 17:40] calidion commented on #17891
@mjbvz

agagin it fails to work.

with the following out put

[code]

[2017-01-15 17:44] rojepp opened #18572 "F# highlighting - open namespace not colored correctly when namespace starts with lowercase letter"
- VSCode Version: 1.8.1
- OS Version: OSX

<img width="193" alt="screenshot 2017-01-15 18 34 36" src="https://cloud.githubusercontent.com/assets/445888/21964754/a58a9bdc-db52-11e6-8a9a-8f300238da70.png">

[2017-01-15 17:54] nNullSpace commented on #18564
as attached

![2](https://cloud.githubusercontent.com/assets/22057021/21964829/9ec55aee-db8e-11e6-8d3f-ac0a1ae63b77.jpg)

[2017-01-15 17:54] Tyriar opened #18573 "Terminal scrollback not working"
In 1.9.0 insiders, the scrollback setting appears to not be working.

- Fix on launch: https://github.com/Microsoft/vscode/commit/138ce0d24c018e7ca6846ae4cb91f801326e990a
- Fix on settings change https://github.com/sourcelair/xterm.js/pull/477

[2017-01-15 17:54] vunh79 opened #18574 "Can't commit"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-github-file-folder-url|cycloware|1.0.0|
|copy-github-url|mattlott|0.1.0|

---

Steps to Reproduce:

1.
2.

[2017-01-15 17:57] weinand commented on #14109
Interesting, on my MacBook Pro with 2.9 GHz Intel Core i7 and 16GB RAM and SSD a cold startup takes under 2 seconds and a Reload Window under 1 second.

[2017-01-15 18:04] rojepp commented on #18572
This is upstream - https://github.com/ionide/ionide-atom-fsharp/issues/256

The fix still needs to be manually copied here though.

[2017-01-15 18:09] Krzysztof-Cieslak commented on #18572
According to https://github.com/Microsoft/vscode/issues/17820 F# grammar will be now taken from https://github.com/ionide/ionide-fsgrammar. Please create issue there.

[2017-01-15 18:39] rojepp commented on #18572
Posted a bug there https://github.com/ionide/ionide-fsgrammar/issues/22

[2017-01-15 18:39] thekalinga opened #18576 "Add method override indicators"
Currently vscode does not show override indicators that the current class is overriding/implementing methods from super class/interface.

This indicator would help the user understand that the given method is being overridden rather than a local method.

Most editors such as intellij & eclipse have these indicators

[2017-01-15 18:48] Krzysztof-Cieslak commented on #18572
I've fixed the grammar.

Is the process of updating it here somehow automated or we should PR changes here every time we change grammar in Ionide's repo? CC: @aeschli

[2017-01-15 18:59] hun1ahpu commented on #18414
@aeschli: Don't know how easy/performant it can be but when inserting the value to check if the text on the right is css key or css value (has ':' after it).
Looked at how visual studio does it. It correctly replaces the key, though it doesn't seem to work for values. it keeps the text after even if it's css value.

[2017-01-15 19:21] Tyriar commented on #14452
@jordwalke this is pretty much available by my other request to add a maximize panel command. Try keybinding `workbench.action.toggleMaximizedPanel`, here's mine:

[code]

You can also run this command from the command palette. It doesn't set it to 100% but it's pretty close.

[2017-01-15 19:48] Tyriar opened #18577 "Intellisense should be dismissed when the entire word is deleted via backspace"
- VSCode Version: Code - Insiders 1.9.0-insider (2cdc2b3da8f0fd5322b48747241584cf9dd98f8f, 2017-01-13T07:03:18.620Z)
- OS Version: Linux x64 4.8.0-30-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|lorem-ipsum|Tyriar|1.0.0|
|sort-lines|Tyriar|1.1.0|
|theme-glacier|Tyriar|0.0.10|
|vscode-svgviewer|cssho|1.3.0|
|vscode-eslint|dbaeumer|1.2.2|
|python

[2017-01-15 20:07] Tyriar opened #18578 "Cannot build Linux package due to node-debug2"
Latest master

[code]

[2017-01-15 20:44] seltzer1717 commented on #17382
I'm still seeing scrolling issues in 1.8.1.  Scrolling is not smooth - screen pauses for a third of a second then tries to catch up.  This is quite annoying.  Happens on all files including the release notes on 1.8.1.

[2017-01-15 20:47] borekb opened #18579 "Diff: bottom area with more details on the current line comparison"
Sort of like in Beyond Compare:

![image](https://cloud.githubusercontent.com/assets/101152/21966024/cbb765ba-db6b-11e6-8501-f8064995290e.png)

I can immediately see what changed in a line, even if that happened farther to the right (lines can be pretty long e.g. in Markdown documents or HTML). Note: in Beyond Compare, the bottom view automatically scrolls to the first diff in a line which is also

[2017-01-15 20:50] RikkiGibson commented on #17664
Thanks for the tip about `"window.titleBarStyle": "native"`. I frequently run files by dragging them to the terminal, so it would be great to have this with the new default title bar at some point.

[2017-01-15 20:53] Sub568 commented on #5953
NetBeans handles this very nicely.  Unfortunately the course I am taking (edx, naturally) defaults to Microsoft.

[2017-01-15 21:07] smddzcy opened #18580 "Wrong autocompletion"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|0.7.3|
|vscode-eslint|dbaeumer|1.2.2|
|code-runner|formulahendry|0.6.5|
|ide-purescript|nwolverson|0.6.3|
|language-purescript|nwolverson|0.1.1|
|vscode-coffeelint|slb235|0.0.2|
|react-beautify|ta

[2017-01-15 21:19] nowherenearithaca commented on #396
What came of the call that was held last week?  I'm on mac and can't seem to open multiple instances of VSCode, which I thought would be a workaround.

thanks!

[2017-01-15 21:40] dylanvdmerwe commented on #18552
Yes! This is happening as of 1.8.x.

Is there any work around to prevent HTML files from getting borked?

[2017-01-15 22:04] zfor opened #18581 "Inline styles in HTML files breaks indentation."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|material-icon-theme|PKief|1.0.3|
|latex-preview|ajshort|0.5.0|
|jsrefactor|cmstead|0.5.3|
|theme-dracula|dracula-theme|1.2.5|
|vscode-great-icons|emmanuelbeziat|1.1.6|
|monokai-light|ethansugar|0.2.1|
|latex-fania

[2017-01-15 22:08] Tyriar commented on #15467
@bpasero let me know what you think of this approach, using the single setting as proposed in https://github.com/Microsoft/vscode/issues/15467#issuecomment-271406369. It's working fine from what I can see but it would need a little more testing (plus fixing tests) https://github.com/Microsoft/vscode/commit/1af3873a3709c8d958897a1ce98eac43061d557d

Note that https://code.visualstudio.com/docs/edito

[2017-01-15 22:19] siegebell commented on #18485
See #580.

Until the feature is supported by vscode, my extension ([scope-info](https://marketplace.visualstudio.com/items?itemName=siegebell.scope-info)) exports an API that other extensions can use to get the scope information that vscode uses.

[2017-01-15 22:35] fredrikaverpil opened #18582 "Automatically expand full docstring when autocompleting"
As originally posted as a [feature request in the pythonVSCode project](https://github.com/DonJayamanne/pythonVSCode/issues/645):

Would it be possible to automatically expand the docstring without requiring clicking the "info" symbol button?

Current behavior requires you to click the "info" symbol button to view the full docstring:

![01](https://cloud.githubusercontent.com/assets/994357/2196681

[2017-01-15 23:14] riotgibbon commented on #396
I had a call last week with Wade, it's obvious and fair that this wasn't a
early priority, they've built a really good editor, and now hopefully
they're extending it to meet different developer's needs. The Dev team are
listening, I'm looking forward to seeing how they go about it

On Sun, 15 Jan 2017 21:20 nowherenearithaca, <notifications@github.com>
wrote:

[2017-01-16 00:32] xeonx1 commented on #14109
According to others, startup is, ironically, much slower on Windows than on Mac: #15108
Many others seem to be reporting major issues with slow startup time (#15455) and requesting workarounds for it (#11723)

[2017-01-16 01:53] jordwalke opened #18583 "VSCode Build Fails on Fresh Mac OS Checkout"
- VSCode Version:
Master
- OS Version:
Sierra

**I am running `node v6.9.4` and `npm 3.10.10` and I have searched for other issues and I have tried everything that those issues have suggested including recloning, `git clean -dfx` and `VSCode` still fails to build.**
Steps to Reproduce:
1. `git clone` vscode.
2. `cd vscode`
3. `./scripts npm.sh install`

Observe the following output:

[code]

Earli

[2017-01-16 01:55] simon-lang commented on #18059
For reference, the Sublime Text "GitGutter" extension [has this functionality](https://github.com/jisaacks/GitGutter/blob/master/git_gutter_jump_to_changes.py) and it is an incredibly powerful feature.

[2017-01-16 01:57] rkeithhill commented on #6569
@weinand When the quick pick UI appears and the user presses <kbd>Esc</kdb> to cancel the attach, our debug adapter is still getting passed the attach request.  How can I prevent that in the code that returns the result of the quick pick UI?

FWIW I also notice that the NET Core debugger doesn't handle this situation very well.  The debug adapter gets called in this scenario and then errors with:

[2017-01-16 02:04] CBuntrock commented on #11723
I agree. Just keep it in RAM and show on file opening (e.g. add a new tab with the file).

[2017-01-16 02:11] foisonocean opened #18584 "Support Webpack Resolve"
### Support [Webpack Resolve](https://webpack.js.org/configuration/resolve/) please.
### When I use webpack resolve, I can't get intelliSense.

[2017-01-16 02:39] octref commented on #18583
@jordwalke Can you give npm 3.10.8 a try?

https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source

Though this is listed under Windows. I remember last time it wasn't like that in the wiki.

[2017-01-16 02:41] andreshg112 commented on #18552
The same is happening with the attribute 'onkeypress'.

Before 'onkeypress' (line 24):
![bug html onkeypress](https://cloud.githubusercontent.com/assets/15859884/21969306/471bc418-db6b-11e6-9a60-0aa8dc60c798.png)

After 'onkeypress' (line 24):
![bug html onkeypress 2](https://cloud.githubusercontent.com/assets/15859884/21969316/5d62f5b6-db6b-11e6-96b7-c6bcdc5da11e.png)

[2017-01-16 02:45] liaoya commented on #18103
I use the windows test app and find Electron and XHR only use proxy setting in global setting in IE.

[2017-01-16 03:20] marcelopm opened #18585 "Feature request: keybindings, single/multi line selecting condition for the when clause"
- VSCode Version: 1.8.1
- OS Version: Ubuntu 16.10

It would be great to have a single/multi line selection condition for the when clause on keybindings.json

This would allow to create smart keybindings, such as:

If a single line is selected, and I press CTRL+C, // is added to the beginning of the line. Otherwise, if multiple lines are selected instead, the selection is wrapped with /* */

examp

[2017-01-16 03:44] CrisLi commented on #12764
This should be a very useful feature.

[2017-01-16 03:56] ubershmekel commented on #17068
For anyone else finding this thread - my current solution to disable the internal typescript is to rename `tsconfig.json` to `tsconfig2.json`, then you let `npm` run typsecript like so:

[code]

For maintainers pondering why, here's my setup
----

    topRepoFolderOpenInVSCode/
        otherFolders/
        nodeAppFolder/
            package.json
            tsconfig.json
            src/

[2017-01-16 04:13] ipanardian commented on #670
@matthewringer the plugin not working for me

[2017-01-16 04:16] jordwalke commented on #14452
Thanks, I was aware of that command and I tried it, but I was curious if it could be configured to make the panel 100% of the height so that it even covers the tabs. Occasionally, I want to switch into some heavy terminal work. I looked at the code and it just seems like it uses the hardcoded minimum editor height.

[2017-01-16 04:27] Tyriar commented on #14452
I believe the reason it's not 100% is because it would be difficult to unmaximize if it was maximized accidentally. The `workbench.action.toggleMaximizedPanel` command itself is not surfaced anywhere on the UI (to avoid bloat). /cc @isidorn

[2017-01-16 04:31] #18330 closed

[2017-01-16 04:40] jordwalke commented on #14452
That makes sense. I hear more customization over all the panel layouts is coming soon?
I could also imagine a small toggle maximize button on the terminal panel which would open up the ability to have maximizing take up 100% of the available space.

[2017-01-16 04:43] Tyriar commented on #14452
Some customization will hopefully be coming soon yeah, you'll probably want to follow along with https://github.com/Microsoft/vscode/issues/2806 too

[2017-01-16 04:51] jordwalke opened #18588 "Terminal rendering shows space between lines with zoomlevel:1"
cc @Tyriar

My terminal application draws background color, and this is how it looks. I believe this is a bug.

<img width="887" alt="screen shot 2017-01-15 at 8 49 46 pm" src="https://cloud.githubusercontent.com/assets/977348/21971316/5a8382d6-db64-11e6-966e-43f8c21d77e4.png">

[2017-01-16 05:01] jordwalke commented on #14452
Why can't panel/pane/split management be made customizable to plugins?

[2017-01-16 05:03] Tyriar commented on #14452
The DOM is restricted to promote stability/performance, see https://code.visualstudio.com/docs/extensions/our-approach

[2017-01-16 05:29] spacegoing commented on #1307
How can I enable this feature in markdown files? Which command implements this?

[2017-01-16 05:46] Tyriar commented on #13809
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:47] Tyriar commented on #14577
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:47] Tyriar commented on #7345
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:47] Tyriar commented on #15481
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:47] Tyriar commented on #15869
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:47] Tyriar commented on #17122
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:47] Tyriar commented on #18277
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:47] Tyriar commented on #16914
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:47] Tyriar commented on #16986
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:47] Tyriar commented on #8117
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:47] Tyriar commented on #17586
This should hopefully be fixed in tomorrow's Insiders build (via https://github.com/Microsoft/vscode/commit/63f1fa66800bf641de5e36027610503ba75085b5). Please let me know if it still reproduces.

See https://github.com/Microsoft/vscode/issues/13625 for more information.

[2017-01-16 05:53] #14613 closed

[2017-01-16 05:54] Tyriar commented on #18588
Must be a mac-specific issue, what's in your settings.json?

[2017-01-16 05:55] jordwalke commented on #14452
I do agree with the general approach of VSCode. There's many things this opens up including the ability to render VSCode with a much faster non-DOM rendering engine. But can't something like extension-driven panel layout be achieved without having access to the DOM? For example, you could imagine an extension which could even be ran out of process, which controls/determines how panels should be re

[2017-01-16 05:58] Tyriar commented on #14452
But being able to resize the panel won't accomplish more than what the maximize command can do right now as the boundaries are defined to disallow hiding of the editor. As for moving the panel to the side of something, there's no easy way to do that without DOM manipulation unless we add it (which has a host of knock on effects).

[2017-01-16 06:02] jordwalke commented on #14452
Suppose the plugins were given the ability to have the panel cover the entirety of the tabs area, so that the terminal panel was consuming 100% of the space. You pointed out some reasons why this might not be desirable to include as the built in behavior, but if performed by a plugin, I think it could be justified. The user installed the "cover-the-entirety-of-tab-area-with-the-panel extension", s

[2017-01-16 06:03] jordwalke commented on #18588
[code]

I discovered that this doesn't happen at window zoomlevel 0.

[2017-01-16 06:04] bpasero commented on #17687
@ronangaillard can you try what @life1347 suggests?

[2017-01-16 06:06] bpasero commented on #18438
@AquariusFR any result?

[2017-01-16 06:10] Tyriar commented on #18573
Fixed in https://github.com/Microsoft/vscode/commit/b7e2696b179e30f708c7e8f8734a1e43bbec6229

[2017-01-16 06:10] #18573 closed

[2017-01-16 06:11] bpasero commented on #18583
@jordwalke I cannot reproduce, tried just now with `node 6.9.2` and `npm 3.10.9`, does it reproduce all the time?

[2017-01-16 06:12] Tyriar commented on #18588
Does setting `"terminal.integrated.lineHeight": 1.2` fix the problem at "window.zoomLevel": 1
 and others? I think Mac has a different line-height that's inherited from the editor, maybe it could just use 1.2 too if so?

On my Linux machine it works until zoom level is 4.

[2017-01-16 06:13] Tyriar commented on #14452
Let's see what @isidorn thinks who owns that part of the workbench.

[2017-01-16 06:19] jordwalke commented on #14452
Also, I had some ideas for extensions that would integrate the terminal work that you're doing with VSCode to create a more immersive terminal experience. Some of these would really benefit from being able to request that they be positioned in a particular way. Just a couple of ideas off the top of my head:

- Ephemeral terminal tasks: When opening a `package.json` file, expose a command to open o

[2017-01-16 06:19] bpasero commented on #18521
@ritch so you say 1.9 insider works fine for you? are you using the macOS native zip tool for unzip?

[2017-01-16 06:21] bpasero commented on #18514
Likely nothing we control on our end, best to report to them and see what they have to say. We can leave this open to discuss the results of that investigation.

[2017-01-16 06:25] jordwalke commented on #14452
As another anecdote, Vim allows full customization of layout of panes/tabs/splits, via its extension system, yet it does not allow access to *its* underlying drawing/"DOM" framework (which is something more like `ncurses` in its case).

Roughly, it allows manipulating of arbitrary horizontal/vertical splits which all belong to exactly one tab page.

[code]

[2017-01-16 06:30] jordwalke commented on #18588
There's a couple settings that don't work on my setup. 1 and -1. 4 works on my system. It could be some combination of my retina screen with the zoom level etc which causes some rounding error.

[2017-01-16 06:31] jordwalke commented on #18583
Thanks for trying, @bpasero. It reproduces all the time, but it appears that my stock `npm` installation was missing a module even though I just upgraded npm. I'm going to try to reinstall `npm` to the latest version to see if it fixes it.

[2017-01-16 06:35] bpasero commented on #14109
@xeonx1 we have a command to trace where most time is spend, can you run it and then attach the results here? They are printed to the developer console

![image](https://cloud.githubusercontent.com/assets/900690/21973100/6538653e-dbbe-11e6-8106-c01de3163a52.png)

[2017-01-16 06:38] f111fei commented on #12090
I can't install the extensions now by dragging it to vscode.  Hope to repair as soon as possible.

[2017-01-16 06:40] jordwalke commented on #18583
That seemed to fix it (reinstall the latest npm if you run into this issue). Thanks for helping me test.

[2017-01-16 06:40] #18583 closed

[2017-01-16 06:41] bpasero commented on #15467
@Tyriar can you explain to me this limitation:

As for the behaviour, when I have `appExitAndWindowClose` enabled, does this mean when I open another folder in the same window with dirty files, hot exit kicks in and I am not asked to save? Or does that only work when the window I am in is an empty workspace window (given that limitation warning)?

+1 for having this as enum inside the hot exit set

[2017-01-16 06:44] jordwalke commented on #14452
Another very short-term improvement which needn't wait on general workbench layout capabilities, is to allow the terminal panel to consume 100% of the tabs space if no tabs are currently open. If closing the last tab, while the panel is maximized, it would also have the terminal panel consume the available remaining space. This is a small improvement that would improve the experience until general

[2017-01-16 06:47] chenjie4255 opened #18590 "can't put all windows in one instance"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-docker|PeterJausovec|0.0.7|
|code-gnu-global|austin|0.2.1|
|vscode-yaml-validation|djabraham|0.0.1|
|githistory|donjayamanne|0.1.4|
|python|donjayamanne|0.5.0|
|Go|lukehoban|0.6.51|
|cpptools|ms-vscode|0.9.

[2017-01-16 06:56] jordwalke commented on #14452
And another reason why it might be nice to emphasize customizability of terminal pane layouts, is that it allows integration with many great existing tools that are already built for the command line, none of which bloat VSCode itself. For example, a tool like vimdiff can be used to view side by side side, readonly, diffs of text, and ranger/midnight commander can be used to browse the filesystem

[2017-01-16 07:03] jordwalke commented on #14452
Also, I just realized that if the terminal window is maximized to 100%, you can drag it back down with the mouse (hovering at the top of the panel displays the drag mouse icon and you can restore it).

[2017-01-16 07:35] senduo opened #18592 "Windows10自带拼音输入法输入错误"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-emacs|hiro-sun|0.1.1|

---

Steps to Reproduce:

1. 使用拼音输入法，输入"nihaoma"
2.按空格键，屏幕上显示的是"n你好吗"

[2017-01-16 08:03] linedotwww opened #18593 "Automatic jump to the cursor"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-caniuse|akamud|0.5.3|
|theme-onedark|azemoh|0.4.3|
|vscode-great-icons|emmanuelbeziat|1.1.38|
|auto-rename-tag|formulahendry|0.0.11|
|easy-less|mrcrowl|1.3.4|
|vscode-less|mrmlnc|0.6.0|

---

Steps t

[2017-01-16 08:07] octref opened #18594 "Inline diff for space not showing"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.2|
|tslint|eg2|0.8.1|
|debugger-for-chrome|msjsdiag|2.4.2|
|vetur|octref|0.2.0|
|language-stylus|sysoev|1.6.0|
|vim|vscodevim|0.4.10|

---

This is showing diff:

![image](https://cloud.

[2017-01-16 08:11] octref commented on #18594
Ok, `"diffEditor.ignoreTrimWhitespace": false` fixes the problem.
The strange behavior when it's true seems tracked at #18353.

[2017-01-16 08:11] #18594 closed

[2017-01-16 08:11] trichetriche commented on #13561
Hi,
The same problem seems to appear on version 1.8.1

Running `code` from the shell resolves it, but I just wanted to let you know (fresh install of Ubuntu 16.04.1)

[2017-01-16 08:17] joaomoreno commented on #18103
@the-shank Can you try to find out more about your network? Is the proxy authenticated? Does the proxy rewrite HTTPS certificates?

[2017-01-16 08:18] aliyazdi75 opened #18595 "Drag and Drop selected code"
- VSCode Version:
- OS Version:

Steps to produce:

1. Drag and Drop selected code

[2017-01-16 08:28] nNullSpace commented on #18564
Another sample image

![3](https://cloud.githubusercontent.com/assets/22057021/21975646/c430f26e-dc08-11e6-8f24-df14de57573d.jpg)

[2017-01-16 08:32] KalitaAlexey commented on #13337
How to use `.on('data', callback)` to separate stdout and stderr?
I'd like to have that.

[2017-01-16 08:39] Loghorn commented on #18502
Here it is:
[launch.zip](https://github.com/Microsoft/vscode/files/707646/launch.zip)

[2017-01-16 08:41] #17495 closed

[2017-01-16 08:45] kaiwood commented on #18590
The command labeled "New Window" new (obviously) open a new window.

If you want to open a new file in the tab bar inside the same window, you can use "Files -> New File".

[2017-01-16 08:47] isidorn commented on #6569
@rkeithhill this sounds like a new issue and potentially a regression. Please try reproducing it with vscode insiders and if you still see it please file a new issue and ping me on that issue. Thanks!

[2017-01-16 08:55] jrieken commented on #15455
@xeonx1 Can please start VS Code fresh with the `--peformance` option and then select 'F1 > Start up Performance'? It will open dev tools and print stats to the console. Sharing that with us would be extremely helpful. Thanks.

[2017-01-16 08:59] jordwalke opened #18596 "Less stressful way to navigate Quick Open / Command pallets."
Right now, you can easily open the Quick Open / Command Pallets, and you can customize keyboard shortcuts for navigating the contents of these dialogs. However, the keyboard shortcuts have counterintuitive keyboard behavior, or at the very least a more *stressful* interaction model. Currently, when hitting "Command+P" to navigate the entries after the QuickOpen dialog is open, releasing the Comman

[2017-01-16 09:13] jordwalke opened #18597 "Cannot "remove" keyboard shortcuts for some built in commands."
The following works well to remove a build in keyboard mapping.

[code]

The following does not:

[code]

The reason I wanted to completely remove `shift+cmd+s` was to allow the terminal to intercept the `cmd+s/cmd+shift+s` keys when the terminal is focused. When the terminal is focused, there's no need to intercept the `cmd+s` shortcut especially.

[2017-01-16 09:20] sergej-s commented on #17718
@roblourens Yes, search shows the progress bar, but never finds results. Please notice that I searched not disk c: where a lot of files but project folder which is mapped to drive (i.e. Z:) and search this drive.

[2017-01-16 09:29] basickarl commented on #17079
@manast I'll try a rollback and get back, see if it works.

[2017-01-16 09:33] basickarl commented on #17079
@waderyan I checked the other issue and it's not related. We don't use TypeScript and the issue isn't affecting consistency. The formatting is consistent but it inserts 4 spaces instead of 2.

[2017-01-16 09:38] lypanov commented on #17725
@jchadwick Still able to reproduce alas. But... not 100% of the time. 2 days ago it was working fine again suddenly. This morning, it's broken again. Every time I try to split with Code it displays as half of the screen for a couple of hundred milliseconds and then switches me to full screen.

I see the same behavior in Task Manager today (yet Friday it was working!). MS Edge for example does not

[2017-01-16 09:48] #18502 closed

[2017-01-16 10:01] aeschli opened #18598 "Update readme of JavaScript Atom Grammar"

[2017-01-16 10:04] tinganho opened #18599 "When rename a file with unchanged changes, it should default on saving"
I find this quite destructing that VSCode doesn't default on saving the current file when renaming it. I'm very fast with the keyboard sometimes and press enter without reading the whole warning text. I got burned several times now.

[2017-01-16 10:11] dbaeumer commented on #18592
Can anyone help translating this?

[2017-01-16 10:12] dbaeumer commented on #18584
Might be something that needs to come from the TS team.

[2017-01-16 10:15] dbaeumer commented on #18580
@jrieken this is under the control of the purescript language provider. Right? They simply need to craft the right text edit. I know that we once discussed if VS Code should do the by default. Do you have any final thoughts here?

[2017-01-16 10:17] dbaeumer commented on #18576
FYI: @jrieken @bpasero @alexandrudima

[2017-01-16 10:18] dbaeumer commented on #18574
@vunh79 can you please provide steps or an example demonstrating the problem

[2017-01-16 10:23] dbaeumer commented on #18565
@youngytj can you please provide steps or better describe what the problem is?

[2017-01-16 10:25] #7326 closed

[2017-01-16 10:25] dbaeumer commented on #18563
@senhtry please file the issue against https://github.com/DonJayamanne/pythonVSCode which owns the extension.

[2017-01-16 10:25] #18563 closed

[2017-01-16 10:26] joaomoreno commented on #18566
#5745

[2017-01-16 10:26] #18566 closed

[2017-01-16 10:29] dbaeumer commented on #18560
This issue was moved to OmniSharp/omnisharp-vscode#1127

[2017-01-16 10:29] #18560 closed

[2017-01-16 10:30] initialshl commented on #18592
Windows 10 built-in Pinyin input method error:
1. Using (Chinese) Pinyin input method, type "nihaoma"
2. Press space bar, the screen shows "n你好吗"
(Expected result: "你好吗")

I can't reproduce it on my Windows 10 using Microsoft Pinyin (Simplified Chinese) though.

[2017-01-16 10:31] Jasonlhy commented on #18592
I also can't reproduce the issue on my Windows 7 using Microsoft Pinyin (Simplified Chinese).

[2017-01-16 10:32] bpasero commented on #18596
https://github.com/Microsoft/vscode/issues/7876

[2017-01-16 10:32] #18596 closed

[2017-01-16 10:32] bpasero commented on #18599
With 1.9 you can rename a file that is dirty and the file remains dirty.

[2017-01-16 10:32] #18599 closed

[2017-01-16 10:33] lizhiyao commented on #3804
I found that  Object Spread/Rest not supported in .vue files.

![.vue files](https://cloud.githubusercontent.com/assets/8143023/21979000/112ee59e-dc18-11e6-885a-531f890e417e.png)

[2017-01-16 10:33] bpasero commented on #18590
https://github.com/Microsoft/vscode/issues/15478

[2017-01-16 10:33] #18590 closed

[2017-01-16 10:34] dbaeumer commented on #18551
@Tyriar any change the file can be recovered from hot exit. If not I suggest to close the issue.

[2017-01-16 10:35] dbaeumer commented on #18550
Did you generate a TS or JS extension when using yo

[2017-01-16 10:35] jrieken commented on #18559
I cannot repo using this snippets. Please update this issue with more precise steps and/or the full error message (use debugger and pause exception)

[code]

[2017-01-16 10:36] weinand opened #18600 "variable command is called twice"
- VSCode Version: 1.9.0
- OS Version: macOS

Steps to Reproduce:

1. use this launch config:
[code]
2. run the launch config
3. enter number '123' in the QuickPick and press return

Observe:
Quickpick opens again

[2017-01-16 10:36] #18125 closed

[2017-01-16 10:36] #18177 closed

[2017-01-16 10:39] dbaeumer commented on #18543
You can switch the language by clicking on the language indicator in the status bar (e.g in our example on Plain Text)

[2017-01-16 10:39] #18543 closed

[2017-01-16 10:42] dbaeumer commented on #18538
@seanthebean can you please provide the full command line of the process that causes the CPU spike. That would help to better understand which part of VS Code is consuming the CPU.

[2017-01-16 10:43] bpasero commented on #18548
@abnerh69 how do you create that alias exactly?

[2017-01-16 10:45] weinand opened #18601 "Variable command returning null does not cancel debug session launch"
- VSCode Version: 1.9.0
- OS Version: macOS

Steps to Reproduce:

1. use this launch config:
[code]
2. start "Attach to Port"
3. Press 'Esc' to cancel

Observe:
this error appears:
![2017-01-16_11-42-37](https://cloud.githubusercontent.com/assets/1898161/21979837/f9d37a40-dbe0-11e6-86ec-a352ba6411f5.png)

I've verified that the variable command returns a `null` in this case but this only cancels t

[2017-01-16 10:46] dbaeumer commented on #18498
@joaomoreno @jrieken any tip?

@DominikDitoIvosevic which extensions do you have installed ?

[2017-01-16 10:46] weinand commented on #6569
I've created #18600 and #18601 for this issue.

[2017-01-16 10:48] nNullSpace commented on #18564
root cause found : Thomas Haakon Townsend's extension for vscode
found by Danil Tolkachev

[2017-01-16 10:48] #18564 closed

[2017-01-16 10:50] dbaeumer commented on #18449
The process that causes the CPU usage was the extension host. @jrieken FYI

@ishanjain28 without being able to check the extension host it is impossible to track this down. I will close the issue since the problem disappeared for you. Please ping if you see it again and we will try to understand why the extension host is causes such a CPU spike.

[2017-01-16 10:50] #18449 closed

[2017-01-16 10:52] dbaeumer commented on #18392
@ils-mahendrak  without the requested information we can't track this problem down. I will close the issue. Will reopen when the requested information is available.

[2017-01-16 10:52] #18392 closed

[2017-01-16 10:54] the-shank commented on #18103
@joaomoreno yes to both. The proxy requires authentication. Also it does rewrite HTTPS certificates (I know this because I was having issue in getting cargo (Rust package manager) setup due to this).

Unfortunately I am unable to find out the PAC url and PEM file..

[2017-01-16 10:57] DominikDitoIvosevic commented on #18498
AL Lanugage extension (I'm working on that one). I'm from the Modern Dev team (msft).

[2017-01-16 10:58] dbaeumer commented on #18247
@sfabriece I assume you have a JS or TS project. Do you exclude the node_modules folder in the tsconfig / jsconfig.json file.

[2017-01-16 10:59] dbaeumer commented on #18286
@gogogofuture without better steps on how to reproduce this we are not able to work on this issue. Closing. We will reopen when better steps are provided.

[2017-01-16 10:59] #18286 closed

[2017-01-16 11:12] dbaeumer commented on #18592
@initialshl @Jasonlhy thanks for the translation and the verification.

@senduo does the problem reproduce for you with vscode-emacs disabled. To disable all extensions use the command F1 > Disable all extensions.

[2017-01-16 11:19] dbaeumer commented on #18470
The only way how I think that could be addressed in VS Code is an optional flag describing when VS Code think the process has terminated. As said, listening to exit only has the potential of loosing output since that event can occur before all data is read.

Need to think about it a little more.

[2017-01-16 11:22] youngytj commented on #18565
@dbaeumer Hi, `AddMvc()` method should be found but still told me it was no reference.

[2017-01-16 11:24] Tyriar commented on #18544
Created upstream issue https://github.com/sourcelair/xterm.js/issues/484

[2017-01-16 11:30] #6885 closed

[2017-01-16 11:31] alexandrudima commented on #13515
Improvement A) is implemented via c0def7092d0e5254241d2f2ac97184ad1f024487

[2017-01-16 11:55] Tyriar commented on #18551
I doubt it will be in the hot exit cache as it tries to keep exactly what's on screen. You can check it though inside `%APPDATA%\Code\User\Backups`. That's the only copy of file data we replicate AFAIK, if you figure out what you pressed please let us know.

[2017-01-16 11:55] #18551 closed

[2017-01-16 12:02] Tyriar commented on #15467
That limitation is so people can close folders whrb they're done and open them again when they resume work on the folder. It's essentially this feature,  https://github.com/Microsoft/vscode/issues/15467,  so it acts more like sublime. The reason all non-folder workspaces are restored is to avoid needing a file menu by maintaining the "backups always visible" property for them.

I like the idea of

[2017-01-16 12:20] Tyriar commented on #13337
@KalitaAlexey right now this is only an internal api, good to know though.

[2017-01-16 12:27] bpasero commented on #15467
@Tyriar maybe best to see with an example. Let's assume `onExitAndWindowClose` is set which as far as I understand is the new behaviour we are going to add here.

Can you fill in the blanks what happens in the following cases, assuming each have dirty files:
* user closes the window of a folder workspace
* user closes the window of a non-folder workspace
* user clicks on File > Close Folder in a f

[2017-01-16 12:30] bpasero commented on #18375
****

[2017-01-16 12:30] #18375 closed

[2017-01-16 12:44] Tyriar commented on #15467
For `onExitAndWindowClose`:

**user closes the window of a folder workspace**
Always hot exit

**user closes the window of a non-folder workspace**
If app exit: hot exit
Else: prompt

**user clicks on File > Close Folder in a folder workspace**
Always hot exit

**user selects File > Open Folder in a window of a folder workspace**
Always hot exit

**user selects File > Open Folder in a window of a

[2017-01-16 12:45] KalitaAlexey commented on #13337
@Tyriar,
Have you tried it already?
Does it invoke `callback` for both stdout and stderr data?

[2017-01-16 12:47] tomi commented on #18348
I'm experience the same issue. The language server works for awhile but then just stops working and I need to restart VSCode.

Verbose output from the tsserver can be found from [here](http://pastebin.com/J2WyJYdR)

[2017-01-16 12:50] Tyriar commented on #15467
Consider the following as an example user flow with `onExitAndWindowClose`:

1. Open folder `/foo`
2. Do some work in `foo`, keep some notes in untitled files, have unsaved text files, etc
3. Open folder `/bar` in same window (`/foo` closes and hot exits)
4. Some time passes, the main process is shutdown.
5. VS Code is relaunched but only `/bar` is restored as it was the last opened folder
6. When

[2017-01-16 12:57] martynovskyi commented on #6197
VSCode Version: 1.8.1
Has same problem.

[2017-01-16 13:02] jrieken commented on #18580
Yes - the language provider must set the replace range for each completion item. @smddzcy Please file this issue against the extension you are using

[2017-01-16 13:02] #18580 closed

[2017-01-16 13:03] jrieken commented on #18498
Your signature help provider must return something falsy (null/undefined) for it to close

[2017-01-16 13:04] frafajec opened #18602 "osX JS intellisense doesn't work when jsconfig.json exists"
- VSCode Version: 1.8 (November 2016)
- OS Version: macOS Sierra 10.12.1

**Issue**:
I am having project with native JS, ReactJS, Coffee etc. However none of those files have an intellisence when jsconfig.json is present in project root. As soon as I delete config file and reload Code, intellisence is there.

**Steps to Reproduce**:
1. On osX create project with JS files
2. Observe how JS intellis

[2017-01-16 13:06] Tyriar commented on #13337
It sends whatever is sent to the terminal including escape sequences. This is being changed though to what is printed to the terminal, something like `onData(listener: (line: string) => void)`, see https://github.com/Microsoft/vscode/issues/18453

I'm not sure we can differentiate between stderr from stdout as the process is not being called directly but being run within a pseudoterminal.

[2017-01-16 13:20] Tyriar commented on #14452
I doubt customization on that sort of level would come any time soon, cool ideas though. You would probably want to follow along with https://github.com/Microsoft/vscode/issues/7504 and https://github.com/Microsoft/vscode/issues/10546 in addition to https://github.com/Microsoft/vscode/issues/2806.

Personally I find the maximize panel button so useful that I think it's worth reserving space on the

[2017-01-16 13:28] KalitaAlexey commented on #13337
@Tyriar,
What if I would like to have a way to process stdout and stderr separately?
`onStdoutData` and `onStderrData` will be good enough.
How hard is it to add support for this feature?

[2017-01-16 13:29] diaconu13 commented on #18543
Thanks!

[2017-01-16 13:46] krisbulman commented on #2915
Changing the colour between the connecting line of the selected tag or an additional line in the margin would be ideal. Here is how webstorm looks in this scenario:

![closing-highlight](https://cloud.githubusercontent.com/assets/224268/21985358/9c3ac240-dbd0-11e6-8e27-6e286364900f.png)

[2017-01-16 13:47] weinand commented on #18556
@sjml thanks for raising this problem.
Since we do not want to start copying function definitions when we copy the environment variables, there is nothing we can do here.

[2017-01-16 13:49] Tyriar commented on #13337
I think it's a limitation of the library we use to only have a single fd for stderr and stdout. But anyway it's probably some time out before something like this manifests itself in the terminal api. I would need to investigate more deeply at that point.

[2017-01-16 13:50] abnerh69 commented on #18548
Steps to Reproduce:
1. Create a folder alias in Finder
2. Try to access files inside that folder alias from Visual Studio Code - Explorer

But, finally, I'd deleted "aliases" folders and create "symbolic link" using command line prompt.

If any one has same problem, look at:
http://stackoverflow.com/questions/18452596/whats-the-difference-between-ln-s-and-alias

Thank <bpasero> for your help.

[2017-01-16 13:53] tiagofabre commented on #4865
+1

[2017-01-16 14:07] bpasero commented on #15467
@Tyriar got it, I suggest we give it a try. As a mitigation maybe we could eventually add an entry to the File menu "Show previous sessions with backups" (bad name, but you get it) that opens a picker inside the window to select from?

[2017-01-16 14:17] davidfekke opened #18603 "VSCode default behavior corrupts React-Native apps and my linters"
VSCode default behavior corrupts React-Native apps and my linters. By deleting beginning and trailing whitespace, it is also causing my linter to fail on my CI builds. Adding "editor.trimAutoWhitespace" to false has corrected this, but this requires me going back and changing all of my VSCode repos.

- VSCode Version: 1.8.1
- OS Version: macOS 10.12.2

Steps to Reproduce:

1. Save a file

[2017-01-16 14:18] unional opened #18604 "FR: Goto Implementation"
vscode: 1.8.1

Currently, we have "Goto definition", which, when the source is js+d.ts, it goes to the d.ts file.

Please consider adding a "Goto implementation" to go to the source code (js) or the source map (ts).

webstorm has the following support:
![image](https://cloud.githubusercontent.com/assets/3254987/21986243/8ac2c5f2-dbb3-11e6-8eaf-c34f1a2705a5.png)

[2017-01-16 14:21] uxitten opened #18605 "better display decimal number of version in Extensions section"
- VSCode Version: 1.8.1
- OS Version: Windows 8

UX Improvement
for example: 1.5M or 1.560M

![capture](https://cloud.githubusercontent.com/assets/1549069/21986272/fb69be86-dc13-11e6-96f5-476804ba44dc.PNG)

[2017-01-16 14:25] Tyriar commented on #18588
Yes that's likely the case

[2017-01-16 14:27] alexandrudima opened #18606 "rangeUtil.js:47 Unexpected: RangeUtil._createHorizontalRangesFromClientRects: client rects are not sorted"
Reduced repro:
[code]

Try to select in different ways the line in `expectedOutput` with class `mtk20`.
[code]

[2017-01-16 14:39] bpasero commented on #17917
After discussion in https://github.com/Microsoft/vscode/pull/18591 one idea is to:
* allow to open an untitled file without path by calling `openTextDocument(Uri.parse('untitled:'))`
* add a new optional options bag to the method that allows to set a language to use for the document to open (e.g. `openTextDocument(uri, options?: { language?: string })`)

[2017-01-16 14:43] egamma commented on #18603
@davidfekke

In the steps to reproduce can you add a snippet that illustrates the corruption:
- what is the contents of the file before the save
- what is the contents of the file after the save
- how does the 'after save' behaviour break React-Native apps?
- what is the linter rule that breaks in your setup.

If you change this in the user settings 'Preferences>User Settings' then this applies to

[2017-01-16 14:51] celador commented on #18433
Thanks Ben, I updated my engine number and did npm install and everything is great again.  Thanks.

[2017-01-16 14:56] bpasero opened #18607 "Test: menu updates keybindings without need for restart"
Refs: #14625

- [x] win @alexandrudima
- [x] mac @isidorn
- [x] linux @aeschli

The top level menu is now updating live without window reload all keybindings, if:
* keybindings.json is changed
* an extension is installed that changes keybindings (a window reload is needed at least)

[2017-01-16 15:01] bpasero opened #18608 "Test: new setting to control menu visibility"
- [x] win @joaomoreno
- [ ] win @alexandrudima

A new setting `window.menuBarVisibility` was added to control the visibility of the top level menu.
* verify that changes to this setting update live without restart
* verify the menu is always visible, even in fullscreen mode when you set `visible`
* verify the menu is always hidden, even when pressing the Alt key when you set `hidden`
* verify the

[2017-01-16 15:04] bpasero opened #18609 "Test: new setting if files and folders should open in last active or new instance"
Refs: #371

- [x] win @dbaeumer
- [x] mac @egamma
- [x] linux @roblourens

New settings `window.openFilesInNewWindow` and `window.openFoldersInNewWindow` are provided to control if files and folders should open in the last active instance or new instance.
Verify:
* the description of the settings make sense in preferences
* changing the values of either makes it behave as expected when opening fil

[2017-01-16 15:15] davidfekke commented on #18603
I should probably separate these into two separate issues. In my React-Native apps when I cut and paste my JSX, VSCode is adding spaces in between the tag and the attribute, which is reeking havoc in one of my apps. The other behavior of deleting beginning and trailing whitespace is causing my linter to fail my builds. I use a Mac at home, and at work. The deleting of the lines is happening on my

[2017-01-16 15:19] bpasero opened #18610 "Test: dirty files are preserved when renaming or moving around"
Refs: #11997

- [x] @mousetraps
- [x] @kieferrm

You can now move or rename dirty files without having to save them first. Verify for all of the following actions that the dirty contents and dirty state are preserved and restored:
* rename file
* rename parent of file
* move file
* move parent of file

[2017-01-16 15:45] rr326 opened #18611 "Overwriting / munging/ corrupting files"
- VSCode Version: 1.8.1
- OS Version: OSX 10.2.2

Steps to Reproduce:
Sorry I don't really know how to reproduce it - it happens randomly.  But here is what happens:

I'm working on a.js and b.js.  I'll go to debug  (an electron app) and it will fail. Then I'll check out the failure place and somehow a whole chunk of a.js will have inserted into b.js.  I wind up either having to find the chunk and

[2017-01-16 15:46] Weetbix opened #18612 "Javascript syntax highlighting broken with RequireJS style files"
- VSCode Version: Insiders `217f96222ed0c8fc8693d85c6a2ed8e0c9ca35a1`
- OS Version: Mac OSX 10.11

Steps to Reproduce:

1. Paste the following code in a .js file:
[code]
2. Notice how the syntax highlighting is broken.
3. The highlighting seems to work correctly if the brace on line 2 is moved up to the end of line 1.

### Screenshots
![screen shot 2017-01-16 at 16 41 09](https://cloud.githubuserc

[2017-01-16 15:47] be5invis opened #18613 "Ligatures related with `*` does not work"
- VSCode Version: 1.8.1
- OS Version: Windows 10 x64 RS2

Steps to Reproduce:

1. Install a font with ligature support, like Iosevka and Fira Code
2. Enable Ligatures
3. Type `<*` or `<*>`

Expected Result:
Ligatures work. For Fira Code, the `*` is enlarged. For Iosevka, it is centered.

Actual Result:
Ligatures do not works.

Additional Information:
May related with electron/electron#8405.
The sa

[2017-01-16 15:51] viniciusjarina opened #18614 "Replace Command doesn't replece " " -> """
Using the replace to get rid of the whitespace seems not to work.

The replaces only replaces when is different from
- VSCode Version: Code - Insiders 1.9.0-insider (217f96222ed0c8fc8693d85c6a2ed8e0c9ca35a1, 2017-01-16T07:41:07.221Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|python|donjayamanne|0.5.5|
|cpptools|ms-vscode

[2017-01-16 16:00] #18537 closed

[2017-01-16 16:00] joaomoreno commented on #18103
@the-shank Can you reach out to your network admins to get the PAC url or the PEM file?

[2017-01-16 16:02] #18498 closed

[2017-01-16 16:07] joaomoreno opened #18615 "Polish git as an SCM extension"
**Git extension**

- [x] Model
- [x] Output channel
- [x] Decorations
- [x] Menus
- [x] Status bar
- [x] Commit box as text editor?
- [x] Merge decorator
- [x] Auto fetch
- [x] Configurations
- [x] Progress
- [x] Localization
- [x] Status bar
- [x] `View > Git` menu
- [x] Make sure it runs under `en` locale
- [x] Commands
- [x] Editor menu actions
- [x] Empty slate (git init)
- [x] Scoped git work

[2017-01-16 16:08] sjml commented on #18556
Is there any plan to have something like user event hooks into VS Code, so I could, say, assign a script to "pre-debug" and have it initialize the environment properly? (Or in this case, simply something that runs when VS Code is building its environment?)

[2017-01-16 16:18] cwberick commented on #16914
Ok, thanks!

[2017-01-16 16:35] bpasero commented on #18611
@rr326 does `"workbench.editor.enablePreview": false` in settings help?

[2017-01-16 16:52] rr326 commented on #18611
I'll try it for a while and see if any errors arise.  Could be a couple days to be sure if its working.

Thanks.

[2017-01-16 16:54] alexandrudima opened #18616 "[regression] Inline decorations ending at the text length are no longer rendered"
From @isidorn

Alex commit 27791fdea0904ac1a49cd04e176f1c86ab27d395 breaks setting decorations on the end of line. Namely I can put a decoration on lineLength - 1, but not on lineLength (at the very end of line)

![image](https://cloud.githubusercontent.com/assets/5047891/21991929/cb407e6a-dc14-11e6-8e98-d3181487b5f4.png)

[2017-01-16 16:58] siegebell opened #18617 "feature request: multiple named keybinding contributions to work with global keymap"
Allow an extension to supply multiple, *named*, keybinding contributions to correspond with the active keymap. E.g. if an extension contributes keybindings for "vim" (or "emacs"), then they should be enabled when the user selects a vim (resp. emacs) keymap. And also allow the user to manually specify the name of a keybinding contribution to activate, or `none`, per extension in settings.json. Keym

[2017-01-16 17:04] bpasero commented on #12076
Can be done in 1.8 via `"files.insertFinalNewline": true`

[2017-01-16 17:04] #12076 closed

[2017-01-16 17:05] bpasero commented on #5066
Done for January.

[2017-01-16 17:05] #5066 closed

[2017-01-16 17:05] aardappel commented on #18470
Ah, so it is a bug in Windows that output of a process can happen after it exits? Just kidding :)

Maybe just allow the user to specify N seconds to wait for more output after the process exits? That way they can set it at 0 if they don't care, and if they set it at 3 or so unlikely more output is coming. With the default being the current "indefinite".

[2017-01-16 17:06] #18616 closed

[2017-01-16 17:06] bpasero commented on #563
I think @jrieken is working on this.

[2017-01-16 17:10] bpasero commented on #11517
https://github.com/Microsoft/vscode/issues/4557

[2017-01-16 17:14] bpasero commented on #16362
https://github.com/Microsoft/vscode/issues/7876

[2017-01-16 17:14] #16362 closed

[2017-01-16 17:15] dfroze commented on #563
Hmm, seems a bit related to my post  #17300 , but needs more then just a simple animation, some information near to it would be great

[2017-01-16 17:17] bpasero commented on #16227
https://github.com/Microsoft/vscode/issues/14298

[2017-01-16 17:17] #16227 closed

[2017-01-16 17:17] #18601 closed

[2017-01-16 17:18] bpasero commented on #15226
https://github.com/Microsoft/vscode/issues/10839

[2017-01-16 17:18] #15226 closed

[2017-01-16 17:20] bpasero commented on #10026
Updated this summary: this feature asks for filtering the explorer while typing whereas https://github.com/Microsoft/vscode/issues/10839 would cover the request of selecting the next element in the tree that matches a specific key that was pressed.

[2017-01-16 17:22] bpasero commented on #18611
Ok, closing until we hear back.

[2017-01-16 17:23] rkeithhill commented on #6569
@weinand Thanks.

[2017-01-16 17:23] jrieken commented on #563
Closing as dupe of #18066

[2017-01-16 17:23] #563 closed

[2017-01-16 17:59] chengtie opened #18618 "Strange behaviours of formatting in Visual Studio Code"
- VSCode Version: 1.8.1
- OS Version: macOS Sierra 10.12.2

The shortcut `shift+alt+f` is used to format the whole document (without having to select anything), and `cmd+k cmd+f` is used to format the selection.

[code]
My experiments show that formatting html does not work well in some cases. For instance,

1)

[code]
will be formatted to

[code]
2)
[code]
will be formatted to
[code]
Does anyone

[2017-01-16 18:09] sfshameem5 opened #18619 "Intellisense doesn't work sometimes."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|code-gnu-global|austin|0.2.1|
|python|donjayamanne|0.5.5|
|Theme-Acai|gerane|0.0.2|
|Theme-Kimbiedark|gerane|0.0.2|
|beautify|HookyQR|0.7.3|
|theme-material-theme|jprestidge|1.0.1|
|MagicPython|magicstack

[2017-01-16 18:14] alexanderby commented on #17583
@Levikov Today it suddenly started to work (and in VSCode too). It didn't work since I bought this laptop, maybe some latest update fixed the issue.

[2017-01-16 18:34] indiejames commented on #18066
If I understand Option 2 correctly, this would mean one progress indicator managed by VS Code. This would be an issue if two extensions were executing simultaneous tasks and both wanted to indicate progress.

Also, I think many (perhaps the majority) of uses cases would involve showing an indeterminate progress indicator, e.g., a spinner, to simply indicate that a long running task is occurring. W

[2017-01-16 18:55] moe123 opened #18620 "CTRL C, Z and so on. not working in integrated term, while a process is running."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|php-symbols|linyang95|2.0.3|
|Theme-MarkdownKit|ms-vscode|0.1.1|
|cpptools|ms-vscode|0.9.3|

---

Steps to Reproduce:

1. write a infinite loop case in whatever language
2. run the culprit on the integrated term
3

[2017-01-16 18:59] ramya-rao-a commented on #18485
Closing as duplicate of #580

[2017-01-16 19:03] ramya-rao-a commented on #580
@alexandrudima I believe the above was done as part of #18317

@aeschli Will #18068 be covering the feature ask in this current issue or are we suggesting extension authors to use https://marketplace.visualstudio.com/items?itemName=siegebell.scope-info?

[2017-01-16 19:03] ramya-rao-a commented on #18485
Thanks for the pointer @siegebell !

[2017-01-16 19:04] #18485 closed

[2017-01-16 19:18] kobi2187 opened #18621 "Please allow multiple commands per keybinding"
- VSCode Version: Version 1.9.0-insider
- OS Version: Linux Mint 18.1 Cinnamon 64 bit

Steps to Reproduce:
Feature request...
1. open Keyboard Shortcuts from File Prefs menu. keybindings.json
2. look at the triple of: key, command, when.
3. please allow command to also have type Array of String, not just String.
4. The point is to allow user to run several commands one after the other with one sho

[2017-01-16 19:31] brettKgm commented on #7426
I'm having the same issue as @mmc41. I do not believe it to be a proxy issue as extensions are able to update just fine. The experience is such that it asks to update every time I start code-insiders, and if I press "update now", code just closes and no update occurs.

[2017-01-16 19:37] dipetersen commented on #18348
Output from trace is here:  http://pastebin.com/BzGuhuci

[2017-01-16 19:54] fungl164 opened #18622 "Add a setting for case sensitive sorting in explorer"
- VSCode Version: Version 1.8.1 (1.8.1)
- OS Version: OSX 10.12.2

Steps to Reproduce:

1. Open VS Code
2. Open project folder
3. Open file explorer
4. Review File Tree

Looks like it's caused by this in ```vscode/src/vs/base/common/comparers.ts (line 10)```:
[code]

could be changed to:
[code]
or
[code]

Ideally this would be controlled in the user/workspace settings...

In the mean time, is ther

[2017-01-16 20:40] duongphuhiep opened #18623 "Intellisense is not working inside the nested-intilializer block"
Intellisense is not working inside the nested-intilializer block

- VSCode Version: 1.8.1 Commit ee428b0eead68bf0fb99ab5fdc4439be227b6281
- OS Version: Ubuntu 16.04

Steps to Reproduce:

[code]

[2017-01-16 20:48] shuffle2 commented on #4815
This is still a problem, on Windows too.
Selecting "indent using tabs" or "detect indentation from content"(assuming you have some content in the Makefile already, of course) fixes it, but it's not clear what this is actually doing. After selecting one of those settings, the behavior changes but I do not see any changes to settings files.

[2017-01-16 21:08] #18377 closed

[2017-01-16 21:27] dakaraphi commented on #18381
@bpasero I think what needs to be addressed here is more than just folder name.  Even for files only the results don't match intuitively.
I would expect 'async' here as contiguous letters to be matched higher in priority, but it is actually pages down.
<img width="595" alt="image" src="https://cloud.githubusercontent.com/assets/10656375/21999496/71eb8a3c-dc08-11e6-85fa-ad8b775e848e.png">

[2017-01-16 21:27] dbaeumer commented on #18621
@alexandrudima not sure if this deservers a general feature or whether this is better handled  in the task framework. So feel free to move to me :-)

[2017-01-16 21:29] Tyriar commented on #18620
This should be fixed in the Insiders build, coming to 1.9.0 soon :smiley: Closing as dupe of https://github.com/Microsoft/vscode/issues/17875

[2017-01-16 21:29] #18620 closed

[2017-01-16 21:29] dbaeumer commented on #18619
@sfshameem5 can you please provide steps on how to reproduce this. Which programming language are you using. If it is about Python, please file the issue against the corresponding Python extension.

[2017-01-16 21:31] dbaeumer commented on #18617
Not sure if this is @alexandrudima  or @chrmarti

[2017-01-16 21:38] Tyriar commented on #18355
/cc @bpasero @alexandrudima

[2017-01-16 22:43] castanjt commented on #2947
I wanted to follow up as well. I'm using Visual Studio Code for WordPress development. I have a theme under version control, but not the entire site. When opening VS Code at the root, then navigating down to the theme directory, it didn't recognize my repo. When opening the theme directory by itself in a separate workspace, it did recognize the repo.

TL;DR - If you run into this problem where you

[2017-01-16 22:46] DavidAnson opened #18624 "Add a "complex command" to allow extensions to open a URL in the default web browser"
- VSCode Version: 1.8.1
- OS Version: All

Steps to Reproduce:

1. Browse https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands
2. Don't find a command to open a URL in the default web browser
3. Implement one yourself via the popular, cross-platform [opn](https://www.npmjs.com/package/opn) package
4. Get [bug report for Linux](https://github.com/DavidAnson/vscode-markdownlint/issues

[2017-01-16 23:25] marshall007 commented on #15595
@bpasero I had several instances of `Code Helper` running. I killed all of them, but the last one restarts with a new PID every time I try to kill it. This seems to be causing vscode to crash on startup.

[2017-01-17 00:02] bohenderson commented on #18621
In the meantime, there's an extension that will do this for you.
https://marketplace.visualstudio.com/items?itemName=geddski.macros

[2017-01-17 00:52] bobmagicii commented on #18535
ah. no i don't think so. here is the situation:

start vs code, open folder w:\ (a remote ssh mount not that it matters)

file > new window, open folder c:\users\bob\desktop\autofoldyeah (my extension on the market place)

however, autofoldyeah ends up in the first window, not the new window i drag it to.

if you'd like, i could record a video of it.

[2017-01-17 00:56] davidfekke commented on #18603
I changed the settings.json for my workspace to have the following setting;

[code]

After I made that change, VSCode stopped removing the beginning and trailing lines.

[2017-01-17 00:56] #18603 closed

[2017-01-17 01:05] jeepshop commented on #6302
Bump!

I use this feature constantly within Visual Studio, and it is greatly missed.

[2017-01-17 01:17] ramya-rao-a commented on #18434
@Avol-V For the time being, please use the below

[code]

@mrmlnc @egamma As of now the "emmet.syntaxProfiles" configuration in VS Code is being used for 2 purposes
- To define how generated HTML content should look like as described in the [docs for sytax-profiles in emmet](http://docs.emmet.io/customization/syntax-profiles/)
- To map any file extension to one of the supported modes in emmet (#95

[2017-01-17 01:32] chenjie4255 commented on #15478
same problem as you guys macOS Sierra v10.12.1 with Code v1.8 latest, this make me hard to switch project between workspaces.

I hope this could be fixed ASAP....

[2017-01-17 01:43] Jasonlhy commented on #18559
@jrieken  Your snippet works because you explicitly specify the parameter of `delete()`. If you pass `delete()` into a higher order function, it will fail just like me

[code]

I tried to step into with the debugger.
1. Set the breakpoint here
![1](https://cloud.githubusercontent.com/assets/1687930/22004717/15a99930-dc99-11e6-8a53-6901180f3411.png)

2. Step into until this line
![2](https://cloud.

[2017-01-17 02:01] ramya-rao-a commented on #15573
This is done for the Go extension as well.

https://github.com/Microsoft/vscode-go/pull/709

[2017-01-17 03:11] Tyriar opened #18627 "Should the extension uninstall confirmation dialog be removed now that it's behind a context menu?"

[2017-01-17 03:26] the-shank commented on #18103
@joaomoreno I will try to find out and let you know. Thanks

[2017-01-17 03:42] faceyspacey commented on #1927
any progress on this? As it currently stands, Flow for VS Code is basically useless because of issues like this:
https://github.com/flowtype/flow-for-vscode/issues/39#issuecomment-272881674

and this:
https://github.com/flowtype/flow-for-vscode/issues/39#issuecomment-273012454

The general problem being that typed modules are barely helpful for its usages. The system won't notify you of what usage

[2017-01-17 03:59] harrylh commented on #9971
Is there any plan to support socket5 proxy ? Thanks.

[2017-01-17 04:39] yogeshlonkar commented on #4962
for HTML code in tsx file (Inside render's return) I can't get single quote attributes by setting
[code]
this doesn't work. But If i put below in settings it works
[code]
is it expected behavior?

[2017-01-17 04:46] bsurendrakumar commented on #18348
Here is the output trace from my workspace,

http://pastebin.com/T5tkuFAN

[2017-01-17 05:09] ugoa opened #18628 "[Bug] It automatically insert a dot in bracket if quick input 2 spaces"
When key in `{}`, then insert 2 spaces, it becomes `{ . }`. The dot is being added automatically, which is quite annoying.

- VSCode Version: 1.8.1
- OS Version: macOS Sierra

Steps to Reproduce:

1. In any file, type in `{}`
2. Then quickly insert 2 spaces, `{  }`

[2017-01-17 05:14] #18628 closed

[2017-01-17 05:32] bpasero commented on #18535
@bobmagicii yeah video would help

[2017-01-17 05:37] bpasero commented on #18622
@fungl164 can you give a concrete example where you expect a certain order and you do not see it?

[2017-01-17 05:41] WiproPSAccTest commented on #17226
@bpasero This  issue is not reproduce with 1.8.1.

[2017-01-17 05:45] WiproPSAccTest commented on #17227
@bpasero This issue is not reproducing in code editor 1.8.1. Issue has been fixed.

[2017-01-17 05:53] bgashler1 commented on #16911
@jrieken here's what this might look like.

![lightbulb-code-action](https://cloud.githubusercontent.com/assets/11839736/22009049/472a7146-dc35-11e6-98a6-e783bdc83656.gif)

Assume that the green top lightbulb of fixing a missing semi-colon was a quick fix (no refactoring).  Whereas, assume the red suggestion would suggest something like adding the missing variable to the end of the signature (refa

[2017-01-17 05:56] bgashler1 commented on #16911
Personally, it seems weird to me to have two different light bulb icons.  Just my two cents.  It feels almost like it's duplicating information presented in the squiggles, but maybe I'm missing how it could tell something the squiggles can't.

[2017-01-17 06:01] gulshan commented on #17495
@bpasero As related, can #5222 also be included in February Milestone?

[2017-01-17 06:02] bpasero commented on #18622
It seem native at least on macOS to ignore casing:

![image](https://cloud.githubusercontent.com/assets/900690/22009355/e11ede98-dc82-11e6-99d9-df6713f0b8ea.png)

[2017-01-17 06:11] WiproPSAccTest commented on #17230
@bpasero  Here NVDA is not informing the blind user in which editor he/she has moved to. It is simply announcing the name of the open file only for that editor.

[2017-01-17 06:17] WiproPSAccTest commented on #17233
@bpasero The issue is fixed in 1.8.1.

[2017-01-17 06:24] MacKentoch commented on #6392
No news?

It is a **core functionality** to be able to copy/paste *without indentation surprises*.

VSCode is awesome but I may go back Atom just because of that.
I loose time fixing indentation after a copy/paste...

[2017-01-17 06:30] QueenYoung opened #18629 "Copy path of the directory which contains space"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|0.7.3|
|html-snippets|abusaidm|0.0.18|
|Handlebars|andrejunges|0.2.0|
|materialcolorsnippets|brunnerlivio|0.1.1|
|npm-intellisense|christian-kohler|1.2.1|
|path-intellisense|christian-kohler|1.2.0

[2017-01-17 06:37] bpasero commented on #17199
https://github.com/Microsoft/vscode/issues/15478

[2017-01-17 06:37] #17199 closed

[2017-01-17 06:39] bpasero commented on #17495
Unlikely.

[2017-01-17 06:40] bpasero commented on #17230
@WiproPSAccTest I fixed it, you can verify from our insider release.
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2017-01-17 06:41] bpasero commented on #18355
Is this https://github.com/Microsoft/vscode/issues/8606 ?

[2017-01-17 06:41] guhuajun opened #18630 "feature missing: enable/disable all extensions"
- VSCode Version: 1.8.1
- OS Version: Windows 7 SP1

Steps to Reproduce:

1. Press Ctrl + Shift + X to open Extensions.
2. Click More button, Disable/Enable All menu items are missing.

![default](https://cloud.githubusercontent.com/assets/14121694/22009857/bda8122a-dcc0-11e6-852b-21a7102238bb.png)

Here is the example image in [October Release Summary](http://code.visualstudio.com/updates/v1_7#_d

[2017-01-17 06:42] bpasero commented on #15115
@joelday how about having a setting that each new window opens as fullscreen? I am thinking to add this as part of the options for https://github.com/Microsoft/vscode/issues/10864

[2017-01-17 06:43] ArtemGovorov opened #18631 "[decorators] :after contentText is broken"
- VSCode Version: Version 1.9.0-insider (1.9.0-insider) 217f96222ed0c8fc8693d85c6a2ed8e0c9ca35a1
- OS Version: macOS Sierra 10.12

Steps to Reproduce:

1. Create an extension with the following code
[code]
2. Open a text file with a single line `abc` in it.
3. No decoration is rendered:
<img width="149" alt="screen shot 2017-01-17 at 4 40 49 pm" src="https://cloud.githubusercontent.com/assets/9799

[2017-01-17 06:54] bpasero opened #18632 "Test: window.newWindowDimensions setting"
Refs: #10864

- [x] Windows @chrmarti
- [x] macOS @mjbvz
- [x] Linux @aeschli

A new setting `window.newWindowDimensions` allows to tweak how new windows should open when Code is running.
* verify by default new windows open in the center with small dimensions
* verify the other settings (`inherit`, `maximized` and `fullscreen`) behave as advertised

[2017-01-17 06:56] bpasero commented on #10864
A new setting `window.newWindowDimensions` allows to control how new windows should open. By default, a new window will open in the center of the screen with small dimensions. If you change this setting to `inherit`, the new window will get the same dimensions as the last active one. Setting it to `maximized` or `fullscreen` will always open new windows either maximized or in fullscreen.

[2017-01-17 06:56] #10864 closed

[2017-01-17 06:56] BBosman opened #18633 "Incorrect C# comment syntax-highlighting"
- VSCode Version: 1.8.1
- OS Version: macOS Sierra 10.12.2

Steps to Reproduce:

1. Create the following C# code:
[code]
2. See the screenshot below. I would expect `// Random comment 2` to be coloured green, similar to comments 1 and 3.
<img width="487" alt="comments" src="https://cloud.githubusercontent.com/assets/5115488/22010477/b8e59a64-dc89-11e6-8b52-10fa7923b883.png">

[2017-01-17 07:01] mishengqiang opened #18634 "Suggest to provide Chinese error message"
- VSCode Version: 1.8.1
- OS Version: macOS Sierra 10.12.2

Hello,
I am a Chinese TypeScript developer.
I write the code, if there is an error, the information is prompted to present in English(please look at the picture below)。
Suggest to provide Chinese error message for the Chinese TypeScript developer code.
I know Visual Studio provides Chinese error messages, but I don't want to use Visual St

[2017-01-17 07:04] fungl164 commented on #18622
Thnxs @bpasero,

When case sensitivity is on, I would expect to see:
- out
- outb
- outd
- Outa
- Outc

Are you saying the behavior you describe only happens on OSX? Thnxs...

[2017-01-17 07:05] ArtemGovorov commented on #18631
Looks like this one is a duplicate of https://github.com/Microsoft/vscode/issues/18616, so closing it.

[2017-01-17 07:05] #18631 closed

[2017-01-17 07:06] uxitten commented on #18605
if this feature added, developer easy compare between extensions

[2017-01-17 07:11] WiproPSAccTest commented on #17240
@isidorn The issue is not reproducing in vs code editor 1.8.1. The issue is fixed now.

[2017-01-17 07:15] uxitten opened #18635 "equal Extension Header Color with unselected Tab"
- VSCode Version: 1.8.1
- OS Version: Windows 8

after click on extension details tab

![animation](https://cloud.githubusercontent.com/assets/1549069/22010988/c44ca376-dca1-11e6-9dfc-c23885a4a837.gif)

Extension header color equal with unselected tab

[2017-01-17 07:16] ChuckJonas commented on #6502
I was very committed to using VS Code (authored 3 plugins for apex development and contributed to a 4th) but I'm sad to say abandoning it for now...

This bug killing my productivity (even caused me to introduce a production bug) and there is no viable work around.

Once you open an search excluded file, it will always seem to pop-up ahead of search included files.  Even, if I exclude the file fro

[2017-01-17 07:17] linedotwww commented on #18593
Вообщем проблема такая, что когда ввожу будь то сниппет, либо элементарно тег картинки, автоматом ставиться конечная позиция курсора. Приходится лишние движения делать, чтоб элементарно добавить новую строку

[2017-01-17 07:21] uxitten opened #18636 "handle doubleclick on extension for open new tab like Explorer"
![animation2](https://cloud.githubusercontent.com/assets/1549069/22011148/ca486f98-dca2-11e6-9cc7-b2b36f91acbb.gif)
- VSCode Version: 1.8.1
- OS Version: Windows 8

[2017-01-17 07:22] crazykun commented on #4865
期待！希望早日添加上minimap的功能。

[2017-01-17 07:35] xeonx1 commented on #15455
@jrieken  @bpasero
Here is the saved log file contents after starting up with --performance command line option and then printing the results via F1 > Developer: Startup Performance, as requested:

(Note: I also posted this, as was also requested, as a comment for related issue #14109 )

Is it supposed to be show "OS" as win32 (as seen in the log) as opposed to win64, due to it being a 32-bit proc

[2017-01-17 07:36] xeonx1 commented on #14109
@bpasero  @jrieken
Here is the saved log file contents after starting up with --performance command line option and then printing the results via F1 > Developer: Startup Performance, as requested:

(Note: I also posted this, as was also requested, as a comment for related issue #15455 )

Is it supposed to be show "OS" as win32 (as seen in the log) as opposed to win64, due to it being a 32-bit proc

[2017-01-17 07:44] jordwalke commented on #14452
Okay, perhaps I'll just experiment with some customized layouts in a fork for now. It really does seem like the way to keep VSCode bloat free, is to provide basic (not highly customizable) layouts out of the box, but then open up customizable positions/splits for panels at the plugin layer (without allowing DOM access).

[2017-01-17 07:46] jrieken commented on #18559
The `delete`-function is a member of the builder and passing it around the way you do makes it being invoked without it original `this`. See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this and  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/bind and

<img width="698" alt="screen shot 2017-01-17 at 08 42 41" src="https://cl

[2017-01-17 07:46] #18559 closed

[2017-01-17 07:47] jsnjack commented on #18355
It does not require scrolling to reproduce the issue

[2017-01-17 07:49] longque opened #18637 "The “go to definition” link will be abnormal when the id is with "-""
- VSCode Version: 1.8.1
- OS Version: Windows 10 1607

![8](https://cloud.githubusercontent.com/assets/8530043/22011760/a48b10e8-dccb-11e6-8809-a65a7c36165b.PNG)

Steps to Reproduce:
1.Create a .ts file, define "vue-router" and input `import * as Router from "vue-router";`.
2.Move the mouse onto the "vue-router" as you press the "Ctrl".

The “go to definition” link will be abnormal, only "vue" or

[2017-01-17 07:56] longque commented on #18637
Also it's abnormal when the id is with "\"
![9](https://cloud.githubusercontent.com/assets/8530043/22012048/3005d71a-dccd-11e6-877c-d8301e096158.PNG)
When I click the blue link "vuex", the "./vuex/store" will be opened but not "vuex".

[2017-01-17 07:59] okansarica opened #18638 "Formatting nor working properly"
![1](https://cloud.githubusercontent.com/assets/1814720/22012152/5cca910a-dc9b-11e6-8eda-636c4581803b.png)
![2](https://cloud.githubusercontent.com/assets/1814720/22012153/5ccef7cc-dc9b-11e6-8774-327a04f66658.png)

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---

[2017-01-17 08:00] thekalinga opened #18639 "Add action(and ultimately a shortcut) to show the list of templates that start with text before the cursor"
Currently vscode does no have a way to filter the auto suggestions to include just to templates (and toggle back to all suggestions by pressing the same shortcut). User needs to navigate a lot of suggestions (not just templates) is he does not clearly remember template trigger words.

Intellij have this concept of `insert live template` that just filters/shows suggestions to templates instead of a

[2017-01-17 08:04] thekalinga commented on #18639
Its better to add one action for each of the type of suggestion that gets displayed in the auto suggest.

This way, if the user knows he needs to narrow down auto suggest results to just template/function/class/property/e.t.c, he can just map shortcut(s) for the specific type(s) he mostly uses, lets say for narrowing within just templates.

[2017-01-17 08:22] ravid7000 commented on #18223
One more issue something like this:

![vs-code-bug](https://cloud.githubusercontent.com/assets/16535293/22012819/fa7db18c-dcbb-11e6-89be-5a313647af62.gif)

- VSCode Version: Version 1.8.1 (1.8.1)
- OS Version: macOS Sierra 10.12.2 (16C67)

Steps to Reproduce:

1. Copy any text.
2. Multiselect same word with ctrl/cmd+d
3. Paste text and see the result.

[2017-01-17 08:22] kevin1211 opened #18640 "jump to another file doesn't work"
- VSCode Version:1.8.1
- OS Version:macOS 10.12.2

Steps to Reproduce:

[code]
and now press `command` and click `A` of `M.A` in b.js, it can noe jump to `M.A` where in `a.js`

[2017-01-17 08:29] bpasero commented on #18622
No, on all platforms.

[2017-01-17 08:32] isidorn commented on #17240
@WiproPSAccTest thanks for checking!

[2017-01-17 08:35] joaomoreno commented on #18627
@sandy081 ?

[2017-01-17 08:36] joaomoreno commented on #18605
Care to submit a PR? 👍 [hint](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/extensions/browser/extensionsWidgets.ts#L78)

[2017-01-17 08:40] jrieken commented on #15455
@xeonx1 FYI I have reformatted the last bit of our comment to make the numbers easier to read. Please check that they are still correct

It's interesting, things seems to slower than usual except for step 2 (loading/defining the main chunk of code) which is fast.

[2017-01-17 08:48] jrieken commented on #16911
Yeah, now that I see it I am not liking it that much.

[2017-01-17 08:49] Jasonlhy commented on #18559
@jrieken Thanks so much for your help, much appreciated!

[2017-01-17 08:51] pascalberger commented on #17283
@chrisdias Any news on this?

[2017-01-17 08:59] calidion opened #18641 "format not working again"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|tslint|eg2|0.7.1|
|code-beautifier|michelemelluso|1.6.2|
|vscode-icons|robertohuertasm|4.1.0|
|vim|vscodevim|0.4.10|

---

Steps to Reproduce:

1. keep vscode open, and finally it will fail to format.

[code]

[2017-01-17 09:01] jordwalke commented on #14452
On that note, does any of the planned work include the ability to handle particular file types in the terminal? Suppose I want to make it so any time I double click on a particular file in the explorer, it might open up in a terminal, with an appropriately configured terminal task. Will this be supported? (Likewise from the quick open dialog).

[2017-01-17 09:04] SerenoShen opened #18642 "Lightbulb always brings error: "Running the contributed command:'extension.emmetMe' failed.' failed"""
- VSCode Version: 1.8.1
- OS Version: macOS

Steps to Reproduce:

1.
2.

[2017-01-17 09:04] bpasero commented on #15455
@xeonx1 does it make any difference if you start with `code --disable-extensions` from the command line to disable extensions loading? Also, please maybe attach a screenshot of the output of the console, would make it easier for us to read. Beginning with todays insider build we also have an action to report these numbers as GH issue (F1 > Report Performance Issue).

Second, do you have any anti v

[2017-01-17 09:06] isidorn commented on #18359
Added telemetry, an additional action in the debug dropdown.
I propose we do no additional action regarding this in January. And in february after collecting telemetry and potentially running some user studies asses this again.
ping @egamma

[2017-01-17 09:12] Ludonope opened #18643 "showInputBox() close instantly"
- VSCode Version:
Version 1.8.1
Commit ee428b0eead68bf0fb99ab5fdc4439be227b6281
Date 2016-12-19T14:41:20.664Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

- OS Version: Linux ludonope 4.8.13-1-ARCH #1 SMP PREEMPT Fri Dec 9 07:24:34 CET 2016 x86_64 GNU/Linux
I'm using Gnome 3.22

Problem:

I'm developping a small extension in typescript, and I would like to ask input from the user.

When I use vs

[2017-01-17 09:15] alexandrudima opened #18644 "[regression] Font measurements do not work in Edge"
fyi @jrieken

![image](https://cloud.githubusercontent.com/assets/5047891/22014411/d3fedf36-dc9d-11e6-82c4-dcaf607ba907.png)

[2017-01-17 09:18] WiproPSAccTest commented on #17230
@bpasero I checked the issue in vs code editor Insider Build but NVDA is not providing proper information about the editors. For both 2nd and 3rd editor it is reciting the same information.

[2017-01-17 09:22] egamma commented on #9500
@iamandrewluca commenting on a closed issue can easily be overlooked. Please file a new issue for the problem you mention in https://github.com/Microsoft/vscode/issues/9500#issuecomment-269376269

[2017-01-17 09:24] dbaeumer commented on #18642
@SerenoShen can you please provide steps or a screen cast demonstating the problem. In which context does this happen. Can you reproduce this with all extensions disabled?

[2017-01-17 09:28] jrieken commented on #18066
Option 2, and that's we one we are implementing, means that the API allows you to suggest to the editor to show progress in different places. One is the status bar, we now call that *window progress*, others are progress inside the viewlets, editors, or application wide progress (showing on the app icon). That doesn't mean only one progress can be shown at a time but we have UX limitation that don

[2017-01-17 09:30] dbaeumer commented on #18633
@aeschli not sure if this is us or OmniSharp.

[2017-01-17 09:32] leegee opened #18645 "Bracket match does not scroll screen"
- VSCode Version: Code - Insiders 1.9.0-insider (f67f87c5498d9361c0b29781c341fd032815314b, 2017-01-17T07:04:34.904Z)
- OS Version: Darwin x64 15.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Bookmarks|alefragnani|0.10.2|
|vscode-eslint|dbaeumer|1.2.2|
|vscode-instant-markdown|dbankier|0.2.1|
|docthis|joelday|0.3.9|
|vscode-exec-node|miramac|0.2.1|
|joinlines|webdokkeren|1.1.1|

---

[2017-01-17 09:35] dbaeumer commented on #18565
This issue was moved to OmniSharp/omnisharp-vscode#1129

[2017-01-17 09:35] #18565 closed

[2017-01-17 09:38] isidorn opened #18646 "Failed to execute 'insertRule' on 'CSSStyleSheet'"
- VSCode Version: insider
- OS Version: os x

Steps to Reproduce:

Open settings.json, add the following: `"debug.inlineValues": true`
Debug the following file and notice the exception in console once you step over the second line

[code]

[2017-01-17 09:38] jrieken commented on #18624
It is in there and call `vscode.open`

<img width="669" alt="screen shot 2017-01-17 at 10 38 47" src="https://cloud.githubusercontent.com/assets/1794099/22015155/23914842-dca1-11e6-9263-954c1f1ca053.png">

[2017-01-17 09:38] #18624 closed

[2017-01-17 09:40] jrieken commented on #18643
@Ludonope Please attach a code snippet that allows me to reproduce this

[2017-01-17 09:42] jrieken commented on #18639
Assuming you mean *snippet* when saying template, there is the *Insert Snippet* command which allows you do that.

[2017-01-17 09:46] alexandrudima commented on #18644
I'm working on it ...

[2017-01-17 09:51] bpasero opened #18647 "Debug: prevent breakpoints on left hand side diff editor or readonly editor"
Does not make sense to add a breakpoint to the left hand side of an editor. And also not to the right hand side if the editor is readonly (staged).

[2017-01-17 09:54] i-frost commented on #16047
Can you help me find out what is doing this please, I am getting pretty frustrated with it happening.

It as become worse since upgrading to :

Version 1.8.1
Date 2016-12-19T14:41:20.664Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

[2017-01-17 10:01] bpasero opened #18648 "Git: entire file shows up as changed when having changes in both index and working tree"
Steps to Reproduce:

1. make changes to a file and stage it
2. make changes again and diff

=> the entire file shows up as changed
=> only reproduces when having changes both on index and working tree

[2017-01-17 10:01] bpasero opened #18649 "Git: bring back action to toggle between file and changes"
Would be nice to have this useful toggle back that allows to jump between file and diff.

[2017-01-17 10:02] bpasero opened #18650 "Editor: cursor no longer blinks"
Since a couple of days I am no longer seeing the cursor blinking in selfhost. @egamma is seeing this too it seems.

[2017-01-17 10:04] bpasero commented on #17230
Thanks, I can reproduce.

[2017-01-17 10:05] bpasero commented on #18629
@QueenYoung I cannot reproduce when I invoke the "Copy Path" action on the explorer, are you maybe using an extension? Can you share screenshot or video of the bug?

[2017-01-17 10:13] #13547 closed

[2017-01-17 10:14] jrieken commented on #12283
@bpasero is working on this

[2017-01-17 10:16] Ludonope commented on #18643
Ok my bad, I was creating multiple commands, and (being more a C dev) I used the same object to push in the context.subscription.push(...), but in my last commands I didn't tried to use showInputBox(). So it was just completely ignored and there was no real error.

Thanks anyway

[2017-01-17 10:16] #18643 closed

[2017-01-17 10:25] bpasero commented on #12283
@jrieken the one (little) challenging thing is that in [`ensureDocumentData`](https://github.com/Microsoft/vscode/blob/ben/activity/src/vs/workbench/api/node/extHostDocuments.ts#L88) we seem to need the URI upfront, but if we have `untitled://` the URI is only known at a later point. I would need to return the URI from `$tryOpenDocument` but that code runs async because it needs to talk to the mai

[2017-01-17 10:29] bpasero opened #18651 "Git: stale editor inputs hanging around"
I am seeing multiple editors in index and working tree hanging around even though those are no longer valid:

![image](https://cloud.githubusercontent.com/assets/900690/22016900/40dd1b9a-dca8-11e6-8cfa-3a620992f7df.png)

[2017-01-17 10:38] uxitten commented on #18605
just for UX improvement
now display 1M for 1.1 and 1.9

[2017-01-17 10:40] adelphes commented on #18550
It was a TS extension (otherwise the allowJs option would not be necessary).

I'm closing this because it turned out that the problem was due to the newly added file itself - an exception was being thrown during the loading of the JavaScript module.
It's confusing that there's no error or stack trace to show this (as there normally is a node application). Maybe that should be created as a separate

[2017-01-17 10:40] #18550 closed

[2017-01-17 10:46] QueenYoung commented on #18629
![image](https://cloud.githubusercontent.com/assets/11444431/22016894/de7cd0fe-dce2-11e6-8b69-41381f326595.png)
This is Chinese version, and the highlight is what I mean(`Copy Path`).
I hope the `Code` to identify my copy path is DIR or just a normal file.
And if gets the dir path, it can append the `\` in a correct place.
You know, most time, we use the dir path in **terminal**.
Otherwise, just c

[2017-01-17 10:47] ben-moore commented on #13550
It's a shame this changed, I preferred the tabbed window behaviour we had prior to the last release, made it much easier to manage the 4 or 5 instances I often have running.

[2017-01-17 10:52] sfshameem5 commented on #18619
I'm using C. All of a sudden intellisense stops working for some variables.

[2017-01-17 10:56] i-frost commented on #16047
If I use xorg-xsel to display what is in the current selection it does not correspond to the text I have just selected in the VScode window., if I then re-select the text it works.

This is not consistently happening and I can not recreate it on demand, but there must be a bug and I am using VScode 24/7 at the moment and its getting really annoying playing the pasting lottery!

It does not happen

[2017-01-17 10:57] #18644 closed

[2017-01-17 11:03] martinoss commented on #9790
I also wish to be able to specify a ca in the settings like npm supports using "set ca". We're behind a TLS intercepting proxy. Setting proxyStrictSSL to false works but is not my preferred solution.

[2017-01-17 11:07] gmattie opened #18652 "Select All Occurrences ("selectHighlights") is case insensitive"
Selecting all code occurrences via the keyboard binding

`"command": "editor.action.selectHighlights"`

does not maintain case integrity of the selection.  Further, there is no way to toggle case-sensitive options for this action, rendering it unsafe and impractical.

[2017-01-17 11:12] #18606 closed

[2017-01-17 11:14] halityurttas opened #18653 "Workspace file encoding setting is not affect"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
Steps to Reproduce:
Workspace setting File encoding variable set to "iso88599" that is not affect on file open. But is truly working previous version. My workspace working file is contains below lines

`// Place your settings in this file to overwrite default a

[2017-01-17 11:15] sandy081 commented on #18627
Hmm not sure.. I would still categorize this action as a one which needs user confirmation just like Delete action on a file.

[2017-01-17 11:20] bpasero commented on #18629
@QueenYoung ah I think now I get it, you want the copy operation to give you `/code/it's\ good/` but instead you are getting `/code/it's good/` ?

[2017-01-17 11:25] sandy081 commented on #1587
After long discussions, in this milestone we would start supporting only language based settings with the following syntax

[code]

There were quiet many arguments to either support globs/file based or folder based settings. Glob patterns make it much complex to understand for user to derive what settings are applied for given editor. Folder based settings will fall in-line with workspace settings

[2017-01-17 11:32] QueenYoung commented on #18629
@bpasero yeah, right 👍 ! To apologize for my English 😞 .
But I don't know whether other people think this feature is right.
And maybe in `Windows`, append `\` will be an error?

[2017-01-17 11:45] bpasero commented on #18629
I am not sure, we are returning the path as it is, without special escaping rules. I think your escaping is only needed when used in the terminal? But people might want to use it elsewhere so I am not sure escaping makes sense in all cases.

This could be done via an extension maybe ("Copy Terminal Path").

[2017-01-17 11:48] bpasero opened #18654 "Git: renamed file is showing up weirdly"
Steps to Reproduce:

1. rename a file
2. stage it

=> the file shows up with many changes, even though it is just a rename
=> right clicking on the change "Open File" does not work either

![image](https://cloud.githubusercontent.com/assets/900690/22019304/4b43508a-dcb3-11e6-89a7-f44c2e1a07f0.png)

[2017-01-17 11:50] bpasero opened #18655 "Git: hygiene check fails does not report properly when committing"
Steps to Reproduce:

1. have a hygiene error (e.g. layer breaker)
2. try to commit

=> you see a generic git error, not even an action to show output

![image](https://cloud.githubusercontent.com/assets/900690/22019361/894315fa-dcb3-11e6-8098-aefa0efbbde9.png)

[2017-01-17 11:55] thekalinga opened #18656 "Focus issues with Home/End in Autocomplete dialog"
- VSCode Version:

Version 1.9.0-insider
Commit 2cdc2b3da8f0fd5322b48747241584cf9dd98f8f
Date 2017-01-13T07:03:18.620Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

- OS Version:

Ubuntu 14.04

Steps to Reproduce:

1. Type something that triggers auto complete
2. Press up & down arrow. Press pagup & pagedown. In both cases, focus moves within the auto suggestions dialog
3. Now press home/end, the

[2017-01-17 11:56] #18031 closed

[2017-01-17 12:01] isidorn commented on #13424
First version of this has been pushed to master.
If a debug adapter is providing scope ranges those will be used, otherwise we show inlinve values from lineNumber 0 to the current lineNumber of the stack frame

[2017-01-17 12:01] #13424 closed

[2017-01-17 12:03] nNullSpace commented on #5953
Is editor printing going to be ready soon?
An editor without printing seems strange.

[2017-01-17 12:24] sandy081 commented on #18630
@guhuajun These actions were moved into Command Pallette as they are not very frequent ones to use.

![image](https://cloud.githubusercontent.com/assets/10746682/22020368/2fa7b9d8-dcb8-11e6-8e12-f4e0c3c9ffda.png)

[2017-01-17 12:24] #18630 closed

[2017-01-17 12:25] sandy081 commented on #1927
Multiline errors are not yet planned, we will definitely come to this when there are free cycles. Thanks.

[2017-01-17 12:35] thekalinga commented on #18639
Sorry for the confusing terminology here (mainly because I have used Intellij as an example).

Lemme explain more clearly what I meant in the issue.

In Intellij `Insert a live template` implies narrowing auto suggestions such that results will only be of `snippet` type & start with the word before cursor.

The problem with default autosuggest dialog in vscode is that there is no way to narrow the

[2017-01-17 12:56] jrieken commented on #18639
Thanks for clarifying

[2017-01-17 13:09] paulovlobato commented on #17732
Hey. Sorry about the late. I generated a GIF showing the issue. Don't know about the quality (recorded with my phone), but if wanted, I've the original video too

http://giphy.com/gifs/l0Exktm8DZFBK3CuY

[2017-01-17 13:13] bpasero opened #18657 "Opened Editors: Should not show twisties for group labels"
See how it looked in stable:

![image](https://cloud.githubusercontent.com/assets/900690/22021717/0adbdcf4-dcbf-11e6-9577-824a70929ff0.png)

And how it looks now:

![image](https://cloud.githubusercontent.com/assets/900690/22021734/258573b2-dcbf-11e6-977e-96c5c7d24919.png)

[2017-01-17 13:14] cor commented on #17506
Any updates on this yet? This, along with the blue status bar (#1884) are the only things that keep this editor from looking really great.

[2017-01-17 13:15] #18657 closed

[2017-01-17 13:18] KalitaAlexey commented on #18046
@jrieken,
Hi again.
What do you think is there any way to do that now?

[2017-01-17 13:18] johandalabacka opened #18659 "git commit and scrolling issues in integrated terminal"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.0.0
- Extensions:

---

If I have vi as default git commit editor and does a commit will the integrated terminal scroll to the top instead of staying at the bottom.

Steps to Reproduce:

1. git commit
2. Write a commit and ZZ (save and exit)
3. terminal is scrolled to top.

[2017-01-17 13:18] bpasero commented on #18657
@isidorn that was fast 👍

[2017-01-17 13:51] JimiC opened #18660 "Ensure 'configurationEditingService.doWriteConfiguration' flushes to disk before a window reload."
- VSCode Version: 1.81 ~ 1.9.0 (insiders)
- OS Version: Win10

Steps to Reproduce:

1. Call `vscode.workspace.getConfiguration().update('someSetting', value);` to update a configuration value on disk.
2. Call `vscode.workspace.getConfiguration().update('someOtherSetting', value);` to update another configuration value on disk.
3. Immediately call `vscode.commands.executeCommand('workbench.action.r

[2017-01-17 13:52] jrieken commented on #18046
No, you cannot but something below. Only code lenses supports in-between line content, but not at a specific position, just a line

[2017-01-17 13:56] KalitaAlexey commented on #18046
@jrieken,
It is a shame.
Thanks for your assistance.

[2017-01-17 14:01] jrieken commented on #12283
Yeah, we could check if only the `scheme` is set and then immediately call another method that simple create a new document. Tho saying that makes me think if we should just expose that directly
on the API. Something like `createTextDocument(language:string, ...)`? That will be easier to understand than the scheme-only uri's

[2017-01-17 14:13] felixfbecker commented on #9003
I have been holding back the PHP IntelliSense release with intelligent completion for over a month now because it is useless if VS Code just spams the completion list with countless functions that do not make sense in the context. When will we get the option to disable or uninstall the built-in PHP completion?

[2017-01-17 14:13] dbaeumer opened #18661 "ITerminalInstance.reuseTerminal only works if terminal is still running"
I would like to reuse a terminal instance where the shell / executable has already finished. To make this happen I would like to pass an argument to the createInstance via the IShellLaunchConfig that allows the following values. The new property would replace the current waitOnExit. It could be named 'onExit' and accept the following enum values: `wait`: would be the same as waitOnExit: true, `clo

[2017-01-17 14:17] rr326 commented on #18611
Happened right away (even with enablePreview: false)

[2017-01-17 14:19] bpasero opened #18662 "Git: some output in the dev console which seems weird"
![image](https://cloud.githubusercontent.com/assets/900690/22023877/4d42acd6-dcc8-11e6-8fac-839070cf0eab.png)

[2017-01-17 14:37] bpasero commented on #18080
I added a new action that allows to file a performance bug report to GH:

![screen shot 2017-01-16 at 14 39 08](https://cloud.githubusercontent.com/assets/900690/22024578/bf84bc24-dcca-11e6-93cf-b67a1a9c17cd.png)

![screen shot 2017-01-16 at 14 39 18](https://cloud.githubusercontent.com/assets/900690/22024582/c26f0c3c-dcca-11e6-8018-4129adac361f.png)

For now I would run this action with a couple

[2017-01-17 14:37] #18080 closed

[2017-01-17 14:38] bpasero commented on #18078
Pushed a first version of this, we can tweak as we see fit:

![image](https://cloud.githubusercontent.com/assets/900690/22024671/ff37bc22-dcca-11e6-9eca-fd463f6f91c8.png)

[2017-01-17 14:38] #18078 closed

[2017-01-17 14:40] bpasero commented on #15820
Investigation is done. Closing (and duplicates https://github.com/Microsoft/vscode/issues/10759)

[2017-01-17 14:40] #15820 closed

[2017-01-17 14:43] marvinhagemeister opened #18663 "Merge conflicts not highlighted in editor"
- VSCode Version: 1.9.0-insider f67f87c5498d9361c0b29781c341fd032815314b
- OS Version: MacOS Sierra

With today's update the merge conflicts are not highlighted anymore. Before, they were marked with a strong background color.

These guys here:
[code]
Steps to Reproduce:

1. create a merge conflict (via rebasing or something else)
2. open file containing conflicts

[2017-01-17 14:43] bpasero commented on #18611
@rr326 can you maybe show this with a video?

[2017-01-17 14:46] bpasero commented on #12283
@jrieken I like the more explicit `createTextDocument` without URI, let me try to sketch something up so we can discuss further via PR.

[2017-01-17 14:47] bpasero commented on #17917
Continues in https://github.com/Microsoft/vscode/issues/12283

[2017-01-17 14:47] #17917 closed

[2017-01-17 14:54] #18648 closed

[2017-01-17 14:55] joaomoreno commented on #18635
#17603

[2017-01-17 14:55] #18635 closed

[2017-01-17 15:10] rr326 commented on #18611
I could show you a screen capture, but it won't show more than this:

- I'm working on a few files
- I push "debug main process" (which I've set up in my launch.json)
- It fails. I go to the offending line in the code and a whole section of one file has been inserted into the other file.

I don't see it happen and I haven't figured out any logic to it.  Also, it doesn't happen every time, but it h

[2017-01-17 15:12] isidorn opened #18664 "Git viewlet flashing like a discotheque"
1. Open git viewlet, have some changes in index, open diff view
2. add a comit message, cmd + enter
3. notice the diff view and viewlet flashing

![disco](https://cloud.githubusercontent.com/assets/1926584/22025979/b11e2ba2-dccf-11e6-8947-8a5e88aff1a9.gif)

[2017-01-17 15:13] Tyriar commented on #18661
So you want waitOnExit without the key press to exit part? Is that the only issue with reuseTerminal right now?

[2017-01-17 15:16] bpasero commented on #18611
Yes, a video is helpful here, I have no idea what is going on...

[2017-01-17 15:18] eamodio opened #18665 "Git (SCM) issues in latest insiders"
- VSCode Version: `1.9.0-insider` f67f87c5498d9361c0b29781c341fd032815314b
- OS Version: macOS Sierra `10.12.2`

The new SCM changes seem to have lost a bunch of functionality as well as caused some bugs.

Bugs:
- The SCM icon (hopefully it is temporary) doesn't show any badge (count) until you open it.
- Can't open a file diff (from the SCM pane) with [GitLens](https://marketplace.visualstudio.co

[2017-01-17 15:19] bpasero commented on #18554
@NiklasRosenstein I cannot reproduce, for me the folder "User" gets created when I start Code again after having it renamed to "Foo".

[2017-01-17 15:23] isidorn opened #18666 "Multiple decorations on end of line"
I would like to be able to add multiple editor decorations on the end of line.

My use case is nicely decorating inline values to make a difference between a name and a value. A nice example on how chrome does this:

An alternative would be a mechanism that I could somehow specially annotate parts of the contentText, however since we use css::after this might be impossible.

![screen shot 2017-01-

[2017-01-17 15:24] bpasero opened #18667 "Opened editors: file names no longer align to explorer"
With the recent CSS changes, the file labels in opened editors no longer perfectly align with the explorer:

![image](https://cloud.githubusercontent.com/assets/900690/22026524/5479bd10-dcd1-11e6-9680-232f78a259a8.png)

[2017-01-17 15:25] bpasero commented on #18667
Actually a lot worse once icons are enabled:

![image](https://cloud.githubusercontent.com/assets/900690/22026581/83e93742-dcd1-11e6-96d0-eacb9190c3b3.png)

[2017-01-17 15:25] bpasero commented on #18667
Here is how it used to look in stable:

![image](https://cloud.githubusercontent.com/assets/900690/22026595/8f845104-dcd1-11e6-9a6c-81cb75ae3db0.png)

![image](https://cloud.githubusercontent.com/assets/900690/22026610/9aab763e-dcd1-11e6-8034-44a457c36d13.png)

[2017-01-17 15:30] isidorn commented on #18666
Feel free to push this to the backlog, created this so we keep track of what is missing to make this feature nicer.

[2017-01-17 15:32] RafaelAybar opened #18668 "Enable a repository for Debian/Suse/RedHat family"
I think that enable an official repository will be a great idea, because you dont need to implement auto update. I can add your repository and upgrade my vs-code and all my software with ```apt update && apt upgrade``` instead download .deb or .rpm

[2017-01-17 15:33] guhuajun commented on #18630
@sandy081 Thanks for updating. I wish these menu items will be added back in the future.

[2017-01-17 15:34] neilyoung opened #18669 "Cannot read property 'windows' of null"
- VSCode Version: Version 1.9.0-insider (1.9.0-insider) f67f87c5498d9361c0b29781c341fd032815314b
2017-01-17T07:02:22.533Z
- OS Version:
Mac OSX Sierra

Steps to Reproduce:

1. Create an Node JS server and run it
2. Hit 'Restart'

[2017-01-17 15:35] isidorn opened #18670 "Test: debug inline values"
Refs: https://github.com/Microsoft/vscode/issues/13424
Complexity: 4

- [x] win @rebornix
- [x] os x @weinand
- [x] linux @sandy081

We now support showing inline values while you are debugging. Set `"debug.inlineValues": true`, in your `settings.json`. Have a workspace that you can debug (for example our smoke test repository) and verify:
* inline values appear with the correct value on the end o

[2017-01-17 15:36] BillDenton opened #18671 "Global search & replace can't match a whole line"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|read-only-indicator|alefragnani|0.4.0|
|alignment|annsk|0.3.0|
|Doxygen|bbenoist|1.0.0|
|python|donjayamanne|0.5.6|
|EditorConfig|EditorConfig|0.3.4|
|vscode-great-icons|emmanuelbeziat|1.1.38|
|matlab|Gimly

[2017-01-17 15:38] isidorn commented on #18667
@aeschli do you plan to look into this? Let me know if not.
Code pointer https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/browser/views/openEditorsView.ts#L107

[2017-01-17 15:39] joaomoreno commented on #18664
It's pronounced _advantage_.

[2017-01-17 15:40] bpasero commented on #18667
I can also if any of you are running out of time.

[2017-01-17 15:41] isidorn commented on #18664
Actually diff viewlet is also flasshing like crazy when I do any git operation. Also outside of vscode, like doing a git pull makes me feel like I am in the 70s

[2017-01-17 15:41] DuncanBeard commented on #18665
Thanks for updating GitLens - fixed the errors for me.

[2017-01-17 15:44] isidorn commented on #18667
Take it easy cowboy
Maybe Martin is already fixing since he is in this area. If not I will fix it.

[2017-01-17 15:47] isidorn commented on #18647
No, readonly editor makes sense since we allow people to put breakpoints in readonly internal module.
Left hand side of diff editor - agree.

[2017-01-17 15:49] joaomoreno commented on #18664
cc @alexandrudima @jrieken

This started happening with the recent tokens work in the editor. What happens is that the git extension thinks something might've changed, due to a FS event inside `.git` folder. It then notifies the API that all the text documents which it has provided content for have possible changed. The API asks the extension "so what's that new content?" Git spawns itself to retr

[2017-01-17 15:49] bpasero commented on #18667
Spoken like a calm Zen master 👍

[2017-01-17 15:52] roblourens commented on #17718
Right, likely the same issue though.

[2017-01-17 15:53] bpasero commented on #18647
@isidorn I see the point with the internal module, but couldn't we then say that the only readonly editor where we allow breakpoints is those with a `debug://` resource?

[2017-01-17 15:53] isidorn commented on #18647
Might you know what is the best way to check if I am in the left hand side of the diff editor. As far as I see diff editor is one editor which has one model

[2017-01-17 15:54] johnpeele commented on #4962
@vernondegoede Here are my Emmet settings:

[code]

Here is a screencap of me using tab expansion in a `.js` file:
![kapture 2017-01-17 at 10 52 23](https://cloud.githubusercontent.com/assets/84169/22027830/0e1a8e54-dca3-11e6-98cb-eb0144350113.gif)

I am also using the [Sublime Babel grammar](https://marketplace.visualstudio.com/items?itemName=joshpeng.sublime-babel-vscode) for my JSX files.

[2017-01-17 15:55] isidorn commented on #18647
@bpasero makes sense. In that case how do I figure out if an editor is readonly, where does that property live?

[2017-01-17 15:57] bpasero commented on #18647
@isidorn how today do we enable to set breakpoints in an editor? is that an editor option?

[2017-01-17 16:00] isidorn commented on #18647
@bpasero adapters are contributing the languge type they want breakpoints to be enabled.
More details: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugConfigurationManager.ts#L409

So I could add an aditional check on an editor or on the model.

[2017-01-17 16:00] bpasero opened #18672 "Git: list looses selection when a refresh happens"
This makes you loose the selection easily when going through diffs.

[2017-01-17 16:01] eamodio opened #18673 "Git/SCM: Open File/Open Change context menu items should avoid using preview tabs"
- VSCode Version: `1.9.0-insider` f67f87c5498d9361c0b29781c341fd032815314b
- OS Version: macOS Sierra `10.12.2`

I like that clicking on a file in the Git/SCM pane uses a preview tab (if enabled), but I really wish that when right-clicking to select `Open File` or `Open Change` it would avoid the preview tab. Since it feels like a less exploratory operation at least IMO. :)

Steps to Reproduce:

1

[2017-01-17 16:06] bpasero commented on #18647
@isidorn that looks perfect, can you not change that check to be `file://` or `debug://` resource?

[2017-01-17 16:10] brettKgm commented on #3520
same issue on macOS Sierra 10.12.2

insiders asks to update every day -- need to manually download and copy into Applications each day to update.

`Jan 17 11:09:05 xxxxxxx com.apple.xpc.launchd[1] (com.microsoft.VSCodeInsiders.ShipIt): Service only ran for 0 seconds. Pushing respawn out by 2 seconds.
Jan 17 11:09:07 xxxxxxx com.apple.xpc.launchd[1] (com.microsoft.VSCodeInsiders.ShipIt[14413]): Ser

[2017-01-17 16:12] rwatts3 commented on #3520
Manually install the lateset version of insiders.  After that it should
auto update going forward.  I'm not sure which issue fixed this problems
but it has been working ever since the last couple updates

On Tue, Jan 17, 2017, 9:11 AM Brett Kirby <notifications@github.com> wrote:

[2017-01-17 16:19] BillDenton opened #18674 "Find in files no go to next/previous match by keyboard"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|read-only-indicator|alefragnani|0.4.0|
|alignment|annsk|0.3.0|
|Doxygen|bbenoist|1.0.0|
|python|donjayamanne|0.5.6|
|EditorConfig|EditorConfig|0.3.4|
|vscode-great-icons|emmanuelbeziat|1.1.38|
|matlab|Gimly

[2017-01-17 16:25] bpasero opened #18675 "SCM icon needs love"
![image](https://cloud.githubusercontent.com/assets/900690/22029139/e2fa6500-dcd9-11e6-8891-3ed551d773a2.png)

[2017-01-17 16:31] adamluzsi commented on #11314
+1 for this :)
👍

[2017-01-17 16:39] joaomoreno commented on #18675
I actually like it a LOT.

Btw renamed the issue. It's one icon for all SCM providers. Not a git specific one.

[2017-01-17 16:40] dfroze commented on #18675
I have 2 problems about this:
1. if the button will be ONLY for git (even in the future), shouldn't  it have the git icon or something 'Git' written ?  The icon looks too similar to the Explorer button and its not intuitive to say 'hey, i am related to git'.
2. If it's for git, svn, etc, similar to the first question, it's not intuitive when looking at it, it's kinda similar to Explorer

[2017-01-17 16:40] REPTILEHAUS commented on #670
This is an issue for me too.. has there been no movement on this yet ?

[2017-01-17 16:51] #18647 closed

[2017-01-17 16:52] isidorn commented on #18647
@bpasero thanks! Also notice that I have moved the debug schema to network schemas via 00e2657   not sure if the debug schema should be merged with inmemory, but for now they are seperate

[2017-01-17 16:52] josh-tepper opened #18676 "Git: view should also show committed changes"
I wish that the git sidepanel also showed commited changes when on a feature (non-master) branch (i.e., the subset of commits since the merge-base with some base branch, e.g., master).

This would require knowing the base branch.  The subset of committed changes to show would then be:
`git diff $(git merge-base <BASE BRANCH> <BRANCH>) <BRANCH>`

There could be a field where the user enters the bas

[2017-01-17 16:52] #18359 closed

[2017-01-17 17:07] rr326 commented on #18611
Ok - working on it.  (Also disabled all my extensions. Just in case.)

[2017-01-17 17:11] hzmnet opened #18677 "did not support <div style="display:none;"> format"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.39|

---

Steps to Reproduce:

1.when the code including attr style. then it can not be format correctly!
2.

[2017-01-17 17:13] smlombardi opened #18678 "HTMLhint now complains about Doctype, ignores .htmlhintrc"
- VSCode Version: Code - Insiders 1.9.0-insider (f67f87c5498d9361c0b29781c341fd032815314b, 2017-01-17T07:04:34.904Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|material-icon-theme|PKief|1.2.0|
|code-settings-sync|Shan|2.4.2|
|sort-lines|Tyriar|1.1.0|
|html-css-class-completion|Zignd|1.0.3|
|Bookmarks|alefragnani|0.10.2|
|project-manager|alefragnani|0.1

[2017-01-17 17:14] chrmarti commented on #18091
@daviwil What is the workaround you use to avoid the webpage opening?

[2017-01-17 17:14] chrmarti commented on #18515
Thanks. The screenshots look as designed. We are working on making it easier for new users to pick a different color theme as part of #18091. Marking as duplicate of that.

[2017-01-17 17:18] roblourens opened #18679 "Search results nav F4 conflicts with the C++ extension"
@egamma What problem did you say you had with shift+f4? It works as expected for me.

[2017-01-17 17:19] Rhywun opened #18680 "UTF-16 LE search results issues"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:

|Extension|Author|Version|
|---|---|---|
|unique-lines|bibhasdn|1.0.0|
|xml|DotJoshJohnson|1.7.0|
|text-transform|florianloch|0.1.0|
|vscode-insertdatestring|jsynowiec|1.1.2|
|VBScript|luggage66|0.0.1|
|mssql|ms-mssql|0.2.0|
|csharp|ms-vscode|1.6.2

[2017-01-17 17:27] jrieken commented on #15209
To give us more time to figure out an inplace UX and to define the status API I wanna implement a solution that uses the proposed progress API to show a message while ATA is running. The UX is a spinning icon and a message in the status bar.

Question for @mjbvz and @kieferrm How do I test/trigger ATA? I started something in https://github.com/Microsoft/vscode/tree/joh/ata-progress but I have to c

[2017-01-17 17:28] josh-tepper opened #18681 "Keep diff editors after window reload"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-docker|PeterJausovec|0.0.11|
|ActiveFileInStatusBar|RoscoP|1.0.2|
|githistory|donjayamanne|0.1.5|
|python|donjayamanne|0.5.6|
|Go|lukehoban|0.6.52|
|cpptools|ms-vscode|0.9.3|
|Ruby|rebornix|0.10.4|
|java|re

[2017-01-17 17:41] heaths commented on #1587
How does that work if the file type doesn't have a defined language? I highly doubt anyone is willing (as an MSI expert that has used the IDT format, I don't want to spend the time either) to write handler support. Does the file extension become the language, then?

[2017-01-17 17:42] llali commented on #12283
@bpasero your proposal in #17917 sounds great. The only question would be the name of the file when the language is specified. The untitled document command right now creates documents as "Untitled-1", Untitled-2" ...
it would be nice to have an option to have different names for untitled document if it has specific language. For example for SQL documents it would be "SQLQuery-1", "SQLQuery-2" ...

[2017-01-17 18:07] Janne252 opened #18682 "Large amount of CompletionItems returned by CompletionItemProvider causes significant lag"
If a CompletionItemProvider implementation returns a large amount of CompletionItems, it causes the text editor to lag while typing. What can be done to reduce the lag?

- VSCode Version: 1.8.1
- OS Version: Windows 10 Pro, 1607

Steps to Reproduce:

The "issue" can be reproduced with this test extension: [Janne252/vscode-test-completionItemProvider](https://github.com/Janne252/vscode-test-complet

[2017-01-17 18:11] amenefus opened #18683 "List snippet"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|path-intellisense|christian-kohler|1.2.0|
|code-runner|formulahendry|0.6.5|
|cs-syntax-visualizer|itn3000|0.0.2|
|csharpextensions|jchannon|1.1.0|
|vscode-todo|MattiasPernhult|0.8.0|
|quicksnippet|mousetr

[2017-01-17 18:12] rwatts3 commented on #17823
Is there anyway to instruct the intellisense module to treat the vue component as an html or the same logic html uses to intellisense javascript ?

May be better to just update the package to leverage the intellisense capabilities in the manner that the html language does.

[2017-01-17 18:15] martincohen opened #18684 "When opening a file from problem view, the file is opened again in a new tab."
I'm using MSVC 2015 and `cpptools`. When I click on errors in problem view, I get the file opened as a duplicate with path "." (for example lib.h opens again as `lib.h .`) This later causes errors with saving files (as Code detects that the file is "newer" on the disk) and I've already lost several hours of work due to this bug.

- VSCode Version:
1.8.1 (with freshly installed cpptools)
- OS Versi

[2017-01-17 18:18] martincohen opened #18685 "Ability to show Problems view as a flat list"
When I compile with `cpptools`, I get the problems sorted "by file" and completely lose the order that compiler used to report the errors which is essential to finding the origin of the error.

- VSCode Version:
1.8.1
- OS Version:
Windows 10

Steps to Reproduce:

1. Compile a project with multiple files, with one syntax error (that ideally invalidates a type or struct)
2. Open *Problems view* ->

[2017-01-17 18:20] v4lt opened #18686 "Extension not activated after install and activate on XUbuntu 16.04"
- VSCode Version:last
- OS Version:XUbuntu 16.04

I can install extension, but when i install one and i activate it, nothing append, same for theme

As you can see in these pictures, the theme is correctly installed, activated, but nothing change (i already reboot).

![capture d ecran_2017-01-17_19-18-00](https://cloud.githubusercontent.com/assets/23209397/22033703/d8615b16-dce9-11e6-91d6-e61508d4

[2017-01-17 18:25] #18686 closed

[2017-01-17 18:39] Tyriar commented on #11314
`ctrl+w` does this now, you should be able to do this by remapping keys to send the escape sequence you want (`^W`).

[2017-01-17 18:51] chrmarti opened #18687 "Mac: Let Cmd+Click make the window take focus"
- VSCode Version: Code - Insiders 1.9.0-insider (f67f87c5498d9361c0b29781c341fd032815314b, 2017-01-17T07:04:34.904Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|autofilename|JerryHong|0.1.3|
|vscode-docker|PeterJausovec|0.0.7|
|azure-cli|chrmarti|0.2.0|
|regex|chrmarti|0.0.7|
|vscode-eslint|dbaeumer|1.1.0|
|ghlink|dt|0.

[2017-01-17 18:54] Tyriar commented on #11314
Actually maybe you can't do that now as the same escape sequence is sent regardless of whether alt/option was pressed. I filed this upstream https://github.com/sourcelair/xterm.js/issues/486

[2017-01-17 18:58] bpasero commented on #18647
Cool, Not sure it makes sense to add those schemas to base though, we have many more that are not in there.

[2017-01-17 18:58] bpasero commented on #18675
It should at least align with the explorer icon.

[2017-01-17 18:59] bpasero commented on #12283
Not sure a out that to be fair.

[2017-01-17 19:13] roblourens commented on #18578
Should be straightened out now.

[2017-01-17 19:13] #18578 closed

[2017-01-17 19:16] Tyriar commented on #14452
I think you can hook up explorer context menu actions using the extension API (I don't think you can touch double click) and the terminal API right now lets you send text to terminals created specifically by the extension, a bunch of improvements to the API are incoming due to the tasks system moving to using it though.

You could make a command that does something in the terminal based on the cur

[2017-01-17 19:23] Tyriar commented on #17732
Looks like an electron (or OS) issue /cc @bpasero

[2017-01-17 19:26] roblourens commented on #18373
Not exactly sure what's happening in your gif, but the test repo works fine for me. I'm using vscode insiders, so maybe something is fixed there now.

[2017-01-17 19:26] #18373 closed

[2017-01-17 19:29] johnhamm commented on #7025
I'm getting this error running locally - it is happening sporadically.   I'm using vscode 1.8.1. Not sure if this will help shed light on the subject, but here's my workspace settings.json:

[code]

[2017-01-17 19:33] mjbvz commented on #18674
I believe that @roblourens just added this feature. You can try it out in insiders builds using <kbd>f4</kbd> and <kbd>f4</kbd><kbd>shift</kbd>

The commands for keybindings are:
`search.action.focusNextSearchResult`
`search.action.focusPreviousSearchResult`

[2017-01-17 19:33] #18674 closed

[2017-01-17 19:40] sheetalkamat opened #18688 "Readonly in literal type not colorized correctly in Quite Light theme"
From @andy-hanson at Microsoft/TypeScript-TmLanguage#406

**[TS and JS Grammar Extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.typescript-javascript-grammar) version:**  latest

**Code**

[code]

![screenshot](https://cloud.githubusercontent.com/assets/5387404/21957983/e851f024-da57-11e6-94b6-88d8c784188d.jpg)

As a side note, I've been seeing a lot of purple in the "Quiet

[2017-01-17 19:41] sheetalkamat commented on #18688
From @sheetalkamat
I don't see this. This looks like theme issue. Moving this to vscode
![capture](https://cloud.githubusercontent.com/assets/8052792/22036771/7956a454-dca9-11e6-9673-a2f1cb3a1d49.JPG)

[2017-01-17 19:43] mjbvz commented on #18637
@longque Do you have any extensions installed? I don't think our builtin functionality provides links for TypeScript imports.

[2017-01-17 19:44] roblourens commented on #18680
Is the progress bar still visible? Could be that the search is stuck or still ongoing.

Is the open workspace a very large one?

[2017-01-17 19:45] mjbvz commented on #18634
I see you opened this bug against TS: https://github.com/Microsoft/TypeScript/issues/13458

@mhegazy You mention that VS and tsc.exe have localized errors. What would picking up localized error messages in VSCode involve?

[2017-01-17 19:47] mjbvz commented on #18623
This looks like C#, not TypeScript.

@duongphuhiep Please try opening an issue against the C# extension: https://github.com/OmniSharp/omnisharp-vscode/issues

[2017-01-17 19:47] #18623 closed

[2017-01-17 19:50] martincohen commented on #12552
This is getting really extreme with the files opened twice, especially if the files do not share the same contents, so each is considered as separate file, therefore any changes made to one, are not automatically shared to the other. This leads to being not able to save, hence have to compare and merge every time this happens (and it happens a lot when I use *problems view* to show error location)

[2017-01-17 19:53] mhegazy commented on #18634
We need to:
1. Make the localized messages files (.json file for every language) accessible to you, possibly through npm
2. VSCode needs to pass `--locale` with the intended localization culture.

[2017-01-17 20:00] napalm684 commented on #13125
This does seem to be an issue with version 1.8.1 and required the un-necessary reference path to resolve.  It compiles fine types for jasmine are listed in tsconfig.json along with typeRoots property pointing here:

./node_modules/@types

[2017-01-17 20:11] mar3kk opened #18689 "Custom problemMatcher provided by extension"
Please add possibility to create custom problem matcher in an extension that could be then used in a project's tasks.json like built in problem matchers
`{
    "problemMatcher" : $myCustomProblemMatcher
  }`

[2017-01-17 20:20] ramya-rao-a commented on #16354
@kvoth3 For now, can you try the below ?
[code]

`jsx` syntax uses the `xml` profile by default. (See https://github.com/emmetio/emmet/blob/master/lib/snippets.json#L988). Any changes made to the `xml` profile gets inherited by `jsx` files

@mrmlnc @sergeche http://docs.emmet.io/customization/syntax-profiles/#create-your-own-profile says that we can create our own profile. Meaning the below should

[2017-01-17 20:25] ramya-rao-a commented on #16354
cc @egamma

[2017-01-17 20:36] ramya-rao-a commented on #16354
Ah! I spoke too soon. The root cause seem to be that VS Code integration of emmet does not implement  the `getProfileName` method https://github.com/emmetio/emmet/blob/328812c879b56104b7c2bf580d79650a7c20f05b/lib/interfaces/IEmmetEditor.js#L119.

I'll keep digging

[2017-01-17 20:37] egamma commented on #18679
@roblourens my problem was the 'F4' gives focus to the editor and I could not press it repeatedly. I've tried to reproduce it with all extensions disabled and it worked well. Sorry about the false issue.

[2017-01-17 20:38] rr326 commented on #18611
My bad - you can close this.

This was user error. I disabled all my extensions. It then worked perfectly. Then I looked at my extensions - I had two extensions that were probably clobbering each other - beautify & js-css-html formatter. I must have been over-eager when installing VScode.

Thanks for the help and sorry for wasting your time.

[2017-01-17 20:43] egamma commented on #18679
The culprit is the C++ extension, this means the users of the C++ extensions have the same issue.

[2017-01-17 20:43] mjbvz commented on #18546
This issue was moved to Microsoft/TypeScript#13541

[2017-01-17 20:43] #18546 closed

[2017-01-17 20:48] dbaeumer commented on #18661
No, I want to keep the part without anything running in it. Consider a build task that is non watching and the user triggers build from time to time. I would like to collect the output from every build run in the same terminal pane although they are different pty processes. The reason is that I think that there is no way to find out whether a terminal is idle (there is a prompt in the command acce

[2017-01-17 20:48] egamma commented on #18679
Given that the C++ extension is popular we should "fix this" by announcing this as a "breaking" key binding change in the release notes.

[2017-01-17 20:49] yusijs commented on #17447
Fwiw, I'm having the exact same issue on Windows 10. Npm install & yarn both crash if ran in the integrated terminal.

[2017-01-17 20:53] mjbvz commented on #18561
If your project is too large, you should see a `Configure excludes` message in the lower right corner of  your screen. From what you describe though, you should be ok.

To help us investigate, can you please add the setting: `"typescript.tsserver.trace": "verbose"` and restart VSCode with `--disable-extensions`. Load up your project and then go to the output view and paste up the output from `Type

[2017-01-17 20:53] mattacosta commented on #18333
PHP terminates line comments upon encountering a line break or a close tag so that's actually the correct behavior.

[2017-01-17 20:55] egamma commented on #18642
@SerenoShen This action is not contributed by the VS Code emmet support. It must come from an extension.

[2017-01-17 20:55] mjbvz commented on #18511
Thanks @jrieken. I'm able to repo using TS2.1.4, but it looks like TS 2.1.5 fixed this. I've updated the bundled version of TS to 2.1.5, and also updated our VSCode build to use TS2.1.5

Closing as upstream.

[2017-01-17 20:55] #18511 closed

[2017-01-17 20:56] egamma commented on #18359
@isdorn works for me.

[2017-01-17 21:04] bitcrazed commented on #18424
Hey @cesaraaron - thanks for getting back to me. We are investigating sparse reports of ConHost eating a core on a few people's machines but are struggling to find a repro.

Could I ask you to:

1. Shut down your PC
2. Count to 10
3. Re-start your PC & login
4. Before running anything else, open VS Code and start the integrated shell

If doing this causes ConHost to consume significant CPU resourc

[2017-01-17 21:05] mattacosta commented on #18423
If I had to guess I'd say that you need to make sure that your "php.validate.executablePath" setting is pointing to a PHP 7 executable. Otherwise vscode is probably using some default 5.x version it found after poking around your system paths...

[2017-01-17 21:07] bitcrazed commented on #18424
Looping-in @miniksa & @paulcam206 for visibility.

[2017-01-17 21:46] andi1984 opened #18690 "Refresh should not change focus in explorer"
If we refresh the explorer files the currently opened file is focussed file in the explorer afterwards. In my opinion the explorer focus should stay as it is instead of moving it if I only want to refresh the file list.

- VSCode Version: 1.8.1
- OS Version: Mac OS Sierra 10.12.2

Steps to Reproduce:

1. In a project open a file in a tab
2. Select/focus now another element in the explorer
3. Refre

[2017-01-17 21:49] sandy081 commented on #18630
@guhuajun Sorry, these might not be added back since they are not very common actions and hence were moved to command pallette. But, I definitely see the issue of discovering them and will try to solve it.

[2017-01-17 21:59] sandy081 commented on #1587
@heaths I am not saying that language based settings will solve all issues but it will cover majority of requirements. As you see, there were so many ideas rolled in and discussions went it. There is also EditorConfig extension to support settings for files using globs. We will collect more feedback and brainstorm more to come up with the right solution.

In case of file extension, why not associa

[2017-01-17 22:00] sandy081 commented on #1587
Updated the languages key format to be simple and less verbose. See [comment](https://github.com/Microsoft/vscode/issues/1587#issuecomment-273114187)

[2017-01-17 22:05] mjbvz commented on #18348
Thanks everyone.

I see two errors from these logs:

* @dipetersen: `TSServer exited with code: 3221226356`
* @bsurendrakumar and @tomi:  `TSServer exited with code: unknown`

@mhegazy Do either of these sound familiar?

---

As a workaround, you may want to try installing TS 2.1.5. This comes bundled with our latest VSCode 1.9 insiders builds, or you can install it into your workspace using `npm

[2017-01-17 22:15] mjbvz commented on #18688
Only repos with the latest grammar, not the one in insiders currently. Here's the two token classes:

`token meta type declaration ts storage object field modifier`
`token meta declaration ts storage field modifier class`

[2017-01-17 22:27] MichaelTsengLZ opened #18691 "Search feature in the integrated terminal."
Search feature in the integrated terminal.

[2017-01-17 22:28] fredrikaverpil commented on #17619
It would be very useful to be able to specify the OS-specific value of any user setting and any workspace settings, including extensions settings.

I've requested the [very same thing](https://github.com/DonJayamanne/pythonVSCode/issues/644) for the PythonVSCode project.

[2017-01-17 22:36] waderyan opened #18692 "Is SCM the right messaging?"
I love that we're tackling this. I was wondering though... how wide known is the acronym SCM? Maybe we should go with "Version Control"?

I'm looking specifically right here

![image](https://cloud.githubusercontent.com/assets/2449568/22042971/5968d446-dcc2-11e6-888a-6bfaa84bdebb.png)

[2017-01-17 22:41] fredrikaverpil commented on #1587
@sandy081 what if an override should be able to be based on not only a language?

For example, I'd love to see settings be overridden by operating system:

[code]

Would it not be better to define what kind of override you're setting?

Example:

[code]

[2017-01-17 22:44] heaths commented on #1587
@sandy081 can you elaborate? I realize this is a long thread, but the proposed solution doesn't actually solve the original bug. If what you describe could work (sounds like you're saying I could map *.idt to something else, but it would have to be the default for any user in a workspace to matter), I would consider that a viable workaround / partial solution.

[2017-01-17 22:51] chrmarti opened #18693 "Go to Bracket should reveal new cursor position"
- VSCode Version: Code - Insiders 1.9.0-insider (f67f87c5498d9361c0b29781c341fd032815314b, 2017-01-17T07:04:34.904Z)
- OS Version: Darwin x64 15.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|EditorConfig|EditorConfig|0.3.4|
|autofilename|JerryHong|0.1.3|
|vscode-docker|PeterJausovec|0.0.11|
|azure-cli|chrmarti|0.2.0|
|regex|chrmarti|0.0.7|
|vscode-eslint|dbaeumer|1.2.2|
|ghlink|dt|0

[2017-01-17 22:51] jongalloway commented on #18424
I can repro.

- Shut down for 20 seconds, started up, launched VS Code and started integrated shell.
- CPU immediately jumps, conhost pegs 1 of 4 cores pegged (sustained ~25% cpu total, fan on high).
- Close VS Code, cpu usage drops
- Wait 30 seconds
- Launch [hyper](http://hyper.is) which also hosts terminal via [node-pty](https://github.com/Tyriar/node-pty) and see exact same behavior (high cpu,

[2017-01-17 22:53] Tyriar commented on #18659
This whole area was redone in the latest Insiders so it should be fixed in the next version.

In the meantime I recommend replacing step 3 with <kbd>cmd</kbd>+<kbd>end</kbd> :smiley:

[2017-01-17 22:53] #18659 closed

[2017-01-17 22:54] Tyriar commented on #11507
Duplicate of https://github.com/Microsoft/vscode/issues/15198

[2017-01-17 22:54] #11507 closed

[2017-01-17 22:55] Tyriar commented on #18691
Duplicate of https://github.com/Microsoft/vscode/issues/15198

[2017-01-17 22:55] #18691 closed

[2017-01-17 23:03] MilanKesic commented on #670
Let's hope this will be added soon. Without this I doubt any php developer will use it.

[2017-01-17 23:09] Tyriar commented on #18661
@dbaeumer yes, but would it be ideal for the key press to exit to be visible even when the terminal is being reused.

**For example:**

[code]

Start another task ("Press any key to close terminal" line is cleared before launch):

[code]

**Alternatively:**

[code]

Start another task ("Press any key to close terminal" line is cleared before launch):

[code]

---

I suspect both might be useful to

[2017-01-17 23:11] mjbvz commented on #18612
This looks fixed in the latest TS grammar.

@aeschli Do you want me to try picking up the new grammar or will you be taking care of it?

[2017-01-17 23:19] martincohen commented on #18684
This also happens from `cpptools` callstack. The files simply have different case in the paths (which is natural for Windows).

- `W:\Work\Projects\lever\development\runtime.c` (opened from *Explorer*)
- `W:\work\projects\lever\development\runtime.c` (opened from *Call Stack* in *Debug* mode)

[2017-01-17 23:35] Rhywun commented on #18680
Maybe 30 files.  I did move them from a network share to local because the network was very slow but the issue persisted.

I noticed later there might be some encoding issue.  Some of the files were showing gibberish characters in the search results after I opened them and did a search as described above.  I think the encoding was showing UTF-16.  (Another application I opened them in was showing

[2017-01-17 23:46] roblourens commented on #18680
Yes, thanks for mentioning that - we fixed search for UTF-16 files recently, and you should see it work now in the Insider's build, or 1.9 in two weeks.

[2017-01-17 23:49] peabnuts123 commented on #7311
This is the single biggest missing feature from VScode for me at present, the ability to sync my keymaps and extensions across computers. I am resorting to [maintaining](https://gist.github.com/peabnuts123/a8561496d6bdaaa3f369e10ac8962935) some [gists](https://gist.github.com/peabnuts123/4fb079c951f8bd1dbb64) so that I may at least achieve this manually, and update these repos any time something c

[2017-01-17 23:52] Rhywun commented on #18680
Thanks, I'll take a look when I get it!

[2017-01-17 23:57] bgashler1 commented on #18675
I just put in a request to our icon team cc @chryw

[2017-01-18 00:01] mattgodbolt commented on #13844
I'm seeing this when expanding annotations (with F8) the first time in my custom monaco editor-based website. Any ideas what might be causing it?

[2017-01-18 00:16] brennanMKE commented on #4803
I am really missing this feature today. I am using Xcode and VSCode a lot recently today and I forget which one I am using as I dig through a lot of code. I cannot simply swipe forward ands back.

[2017-01-18 00:18] martincohen opened #18695 "Cursor for `next issue` (F8) is not reset on build."
The `cpptools` produces a lot of `Include file not found in directory`, therefore it is essential to reset the cursor within the problems view to first item on next build. Otherwise the cursor just keeps keeping on pointing to me meaningless `Include file not found in directory` issues and never resets to begin of the list (I have to do that manually now).

- VSCode Version:
1.8.1
- OS Version:
Wi

[2017-01-18 00:21] mjbvz opened #18696 "Support line number fragment in vscode.open command"
Example:

[code]

**Expected**
Opens file and jumps to requested line. This is what happens if you click on a link that uses that path.

**Actual**
Opens file but ignores the line argument.

[2017-01-18 00:25] ryanlangton commented on #7745
Are people actually able to DEBUG the typescript and hit breakpoints when you set the program to main.js instead of main.ts?  Because this is the issue I'm having.  If I point to main.js I can only set breakpoints in the javascript (not the typescript).  My program works and I have the output javascript  AND sourcemaps as expected, but I cannot debug typescript.  @Trixt0r I have the configuration

[2017-01-18 00:46] tmitz commented on #11266
This issue fixed #16087

[2017-01-18 00:46] #11266 closed

[2017-01-18 00:49] bitcrazed commented on #18424
Okayyy ... We managed to grab Jon in his hotel in London, have him VPN into Microsoft's corporate network whereupon one of our dev's hooked up a remote debugger to examine Jon's machine.

The long and the short of it is that this issue was caused by the Console's painting algorithm calling [ValidateRect()](https://msdn.microsoft.com/en-us/library/windows/desktop/dd145194(v=vs.85).aspx) to mark a r

[2017-01-18 00:51] miniksa commented on #18424
@bitcrazed. "One of our devs..." PSHAW. It was totally me. :P

[2017-01-18 00:53] bitcrazed commented on #18424
I didn't want to infer that you might also have been the source of the original issue @miniksa ... but since you've offered up this morsel of information .... ;)

[2017-01-18 01:17] longque commented on #18637
@mjbvz I don't think it's a problem caused by my extensions.

4 extensions installed

- C/C++
- C#
- Python
- Python for VSCode

It also appears in a .js file.
![10](https://cloud.githubusercontent.com/assets/8530043/22046863/656ef54e-dd5e-11e6-8541-3c379635d3c6.PNG)
"vue-router" is defined in a .d.ts file.

[2017-01-18 01:27] #18427 closed

[2017-01-18 01:39] roblourens opened #18697 "Disable Mac help topics in Help menu"
If you search in the Help menu, it will show you general Mac help topics:

![image](https://cloud.githubusercontent.com/assets/323878/22047411/c415c0d8-dcdb-11e6-93de-17f3f911d098.png)

None of these are from Code, but could be confused with Code-specific help, especially for certain search terms. Is it possible to disable this feature?

![image](https://cloud.githubusercontent.com/assets/323878/2

[2017-01-18 01:59] mjbvz commented on #18637
@longque Thanks,  I'm able to repo this now.

After investigating, this looks like a duplicate of #10037. We need a new API on the VSCode side to define the range of a definition in the source document

[2017-01-18 01:59] #18637 closed

[2017-01-18 02:09] mattgodbolt commented on #13844
This is easy to reproduce in e.g. https://microsoft.github.io/monaco-editor/

[2017-01-18 02:27] iulo commented on #18441
`extensions.ignoreContributedKeybindings: [ 'extensionIDs...' ]` is a good idea

[2017-01-18 02:38] jasonshaw commented on #396
in great request
mark

[2017-01-18 02:44] kuncevic commented on #18642
This one have hapend to me and after. VS Code was shoving same warn message once I clicked tab.
The error coming from [Angular 2 TypeScript Emmet](https://marketplace.visualstudio.com/items?itemName=jakethashi.vscode-angular2-emmet) extension. So once I disabled this one all good now.

[2017-01-18 02:48] jasonshaw opened #18698 "function list(ctrl+shift+o) is too simple and ugly"
- VSCode Version: 1.8.1
- OS Version:windows 7 sp1

Steps to Reproduce:

1.
2.

we need a list of shortcuts named by function name instead of symbol such as function <function>
1.context function Intelligent perception
2.Shortcut key for function(by names) list

[2017-01-18 02:56] martincohen commented on #12922
The issue of case-insensitivity on Windows is basically breaking everything with my experience in C/C++ development, especially when using MSVC toolchain. I have duplicate files opened most of the time (that are not with same path, therefore they function as two distinct files):
![image](https://cloud.githubusercontent.com/assets/421916/22049050/3fffc7ca-dd31-11e6-94d1-60d0d79f58ac.png)

The probl

[2017-01-18 03:13] aviraldg opened #18699 "Integrated terminal closes as soon as I attempt to open it."
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:41:20.664Z)
- OS Version: Linux x64 4.8.0-34-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-wakatime|WakaTime|1.0.6|
|vscode-eslint|dbaeumer|1.2.2|
|python|donjayamanne|0.5.5|
|Go|lukehoban|0.6.52|
|cpptools|ms-vscode|0.9.3|
|wordcount|ms-vscode|0.1.0|
|Spell|seanmcbreen|0.9.1|

---

Step

[2017-01-18 03:23] liudavid100 commented on #16289
@bpasero We also meet the similar issue when try to get the automation ID of VSCode UI controls

[2017-01-18 03:37] seigan opened #18700 "Outline members of a file in a panel"
I miss very much a outlining tool to give an good overview of members in a file to see a list of namespaces, classes, their methods and var and see if they are private protected public static abstract etc and se if the are constructors etc. It would also be very useful to be able to click on a member to directly jump to it in the code.

I know there have been similar requests before. One that sugg

[2017-01-18 03:38] moe123 commented on #18423
@mattacosta, hello, thank you for your interest  in this issue and yes you are completely right, setting up properly the default interpreter path fixed it!, however, vscode folks should handle the matter by enforcing the use of `which` (i.e `which` -- locate a program file in the user's path) command.

[2017-01-18 03:41] #18423 closed

[2017-01-18 03:59] seigan opened #18701 "Step through "locations" you visited in the code"
It would be very useful if one was able to retrace ones steps/locations in the code based on what members/code chunks you have clicked on. This is very useful if you go through the code and ctrl+click on a function, object reference or extension that make you jump to the new file/place directly and you then want to find you way back. Also being able to go step by step forward again can be very han

[2017-01-18 04:00] seanthebean commented on #18538
[code]

[2017-01-18 04:15] Emeryao commented on #10070
+1
Please think about it
REALLY need this feature

[2017-01-18 04:17] Emeryao commented on #18692
Then I also wonder why the url of git website is `git-scm.com` 😆

[2017-01-18 04:39] oggyoggy448 opened #18703 "my f1 key does not work well and its shows an error when i write view in the browsers"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

|Extension|Author|Version|
|---|---|---|

---

Steps to Reproduce:

1.
2.

[2017-01-18 05:12] WiproPSAccTest commented on #17113
@joaomoreno  Here the issue related to side bar area Inspect properties. Where the "Name" value is missing. Bug#17242 related to options present in the extension side bar area. In bug 17242 Inspect properties are available but NVDA was not reciting the name.

[2017-01-18 05:16] WiproPSAccTest commented on #17242
@joaomoreno  The issue is fixed in vs code editor 1.8.1

[2017-01-18 05:28] WiproPSAccTest commented on #17171
@isidorn I checked in both the vs code editor Insider and vs code editor 1.8.1 edition. Both the edition I could able to reproduce the issue.

[2017-01-18 05:28] #18611 closed

[2017-01-18 05:35] akaroml commented on #944
Just want to echo this feature request. We are developing an extension that should be triggered when there is *.ino files inside the workspace. This is for Arduino and its source files does not necessarily have the same file name (could be _anyname_.ino).
So the wildcard support is exactly what we need.
By the way, the activationEvents:['*'] seems like an overkill for this.

[2017-01-18 05:37] 7elven commented on #8069
@Ihatetomatoes my vscode fixed

[2017-01-18 05:38] bpasero commented on #18697
@roblourens please report against electron.

[2017-01-18 05:51] WiproPSAccTest commented on #17175
As per the comments narrator was not part of the scope.

[2017-01-18 06:00] DavidAnson commented on #18624
The good news is that the `vscode.open` command appears to do exactly what I want! Thank you.

The bad news is that the documentation cited above is wrong and led me to deliberately choose *not* to use this command in the first place. The snippet above says the specified resource is opened in the *editor* instead of in the *browser* - which is where URLs appear to be opened in VS Code 1.8.1 (and w

[2017-01-18 06:03] WiproPSAccTest commented on #17176
@bpasero The issue is fixed in vs code editor Insider Build.

[2017-01-18 06:06] King66 opened #18706 "Can't copy code to Microsoft Word with style"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
Steps to Reproduce:

1. copy code from VS to Word, the color exists.
2. copy code from VSCode to Word, only plain text.

[2017-01-18 06:06] WiproPSAccTest commented on #17179
@isidorn The issue is fixed in vs code editor insider build but still able to reproduce in vs code editor 1.8.1

[2017-01-18 06:11] WiproPSAccTest commented on #17254
@Tyriar  The issue is still reproducible in both the vs code editor Insider and vs code editor 1.8.1 edition

[2017-01-18 06:28] Tyriar commented on #17254
Yes, it was reported previously in #8339

[2017-01-18 06:30] WiproPSAccTest commented on #17248
@isidorn  The issue is fixed in vs code editor 1.8.1.

[2017-01-18 06:31] jordwalke commented on #14452
Cool. I could also imagining adding a hook for new files that are opened in tabs so that you can run terminal commands automatically when they are opened right?

[2017-01-18 06:31] #15467 closed

[2017-01-18 06:35] WiproPSAccTest commented on #17243
@waderyan The issue still exist.