[2018-10-05 11:39] yujikuroki commented on #45629
Same here

[2018-10-05 11:41] vishalksuthar commented on #59895
Yes, I agreed on this source code editor, but if you provide us like site-manager option, Like we have layout option in MVC and master page in ASP.NET.  If we have this kind feature in VSCode so it is easy for HTML template designer.
For Example.

My Client wants to develop an application but before we want to develop an application, we create HTML static pages then we going toward development.  T

[2018-10-05 11:54] tigoe opened #60021 "Toggle Word Wrap still broken"
- VSCode Version:  1.27.2
- OS Version: MacOS 10.12.6 (16G1510)

Steps to Reproduce:

1. open a document with lines longer than the word wrap column setting
2. turn word wrapping on

This has no effect on the document's appearance

3. set word wrapping to wordWrapColumn

Still no effect

4. set word wrapping to bounded

Still no effect

I know this issue has been reported many times, and they have

[2018-10-05 12:00] decoder318 commented on #58686
VS Code debugger worked fine for a while, now it starts having this issue. I restarted my machine, reinstalled VS Code and the problem's still there.

[2018-10-05 12:01] decoder318 opened #60022 "Debugger attached. Waiting for the debugger to disconnect"
Issue Type: <b>Bug</b>

Write any simple nodeJS program, and put a debugger statement or a breakpoint anywhere, and debug -> click the Launch Program button..

This worked for some time, and then it just doesn't work. Restarting machine, reinstalling VS Code didnt help

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0

[2018-10-05 12:14] decoder318 commented on #60022
it's not really covered anywhere. I will switch to Sublime Text until this is addressed and fixed.

[2018-10-05 12:37] Ragnoroct commented on #58177
Can I be assigned to this? I'd like to take a stab at it.

[2018-10-05 12:55] jrieken commented on #217
Hm, rtf and html might be quite easy but images are harder without leaking the electron image type into the API...

[2018-10-05 13:03] yangshuairocks commented on #59939
Thanks man!

[2018-10-05 13:06] chrmarti commented on #59895
VS Code doesn't come with support for a specific UI library/framework built-in, you need to decide which one you want to use and then install extensions and tools that support it. You can browse the available VS Code extensions here: https://marketplace.visualstudio.com/vscode

A quick way to get a basic layout and server running might be the Express.js generator. See, e.g.: https://medium.com/@bh

[2018-10-05 13:06] #59895 closed

[2018-10-05 13:19] b3rgman commented on #59468
@joaomoreno ,
Any update?  This is now happening with a colleague of mine now.  same issue.  Worked.  Then all of a sudden didnt.

[2018-10-05 13:37] bpasero commented on #58957
I am opening this issue for feedback from anyone interested in this matter (and ideally having experience with SQLite).

**My current thinking is this:**
* use SQLite as new backend for anything that we store in `window.localStorage` today via the https://github.com/mapbox/node-sqlite3 node module
* use 1 database for all `global` state (there can only be one, managed by the main process)
* use 1

[2018-10-05 13:38] vishalksuthar commented on #59895
Thank you so much.

[2018-10-05 13:40] paterasMSFT commented on #59271
Could use dates instead of days of the week for these?

[2018-10-05 13:41] irrationalRock commented on #59395
Hi, I'm interested in this. I'm guessing a good place to start is `doWrapping()` in `abbreviationActions.ts`?

[2018-10-05 13:58] NitinHsharma opened #60026 "Debugger breaks the connection of aerospike DB"
- VSCode Version:  1.27.2
- OS Version: MAC 10.13.6
- aerospike version: 3.13.0.1

Steps to Reproduce:

1. write nodejs application which creates a single connection of aerospike on the app load.
2. write CRUD operation of aerospike and try to run using the debugger.

It's breaking if we run the CRUD operation in debugging mode, but working the same while running without debugging mode.

What it l

[2018-10-05 14:08] isidorn commented on #60026
TThis souns like a nodejs bug or aerospike. Please file ti there and not in vscode. Thanks

[2018-10-05 14:08] #60026 closed

[2018-10-05 14:09] dsanz006 opened #60027 "Allow disabling "Replace Preview""
I think it should be possible to disable "Replace Preview" in the settings. Currently, whenever I want to replace a word, the "Replace Preview" opens for every file, because I have file preview disabled.

[2018-10-05 14:19] gordingin opened #60028 "Old Issue"
Issue Type: <b>Bug</b>

Not sure why, bug I get this old error again.

[ts] Experimental support for decorators is a feature that is subject to change in a future release. Set the 'experimentalDecorators' option to remove this warning.

Still can compile - just and IDE issue.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x

[2018-10-05 14:20] roblourens commented on #59982
I think this needs some ux work and discussion on our side, I'm not really convinced it's needed.

[2018-10-05 14:20] roblourens commented on #59982
But thanks for your enthusiasm :)

[2018-10-05 14:36] nesl247 commented on #59982
Can you explain why you aren’t convinced it’s needed? How do you deal with this situation, which I would imagine impacts almost every user.

[2018-10-05 14:47] benc-uk commented on #59996
Yep seeing the same here on Windows 10 1809
Happens with PowerShell, PowerShell Core (pwsh) and good old fashioned CMD

[2018-10-05 14:49] safield commented on #12115
+1 from me. I really miss this feature. It is the last blocker for me to pull the trigger on VSCode! Please!

I have tried the plugin All AutoComplete for VScode, and it is just straight up broken...

[2018-10-05 14:52] jrieken commented on #217
@slang25 @mattlrv how would you provide an image? in what format would you have them and how would you expect use to accept it? data uri? file uri? byte array?

[2018-10-05 15:00] dulara1994 commented on #35681
I had the same issue. because I imported settings from someone else. (I'm using linux, imported settings from a mac)
Go to  Settings >  filter settings to show modified settings >> there i deleted everything in front of the font field. restart the IDE.
if you import settings using a service such as Settings Sync. It may be because you are trying to use a font that is not currently installed on you

[2018-10-05 15:06] Artalus opened #60030 "Makefile: incorrect syntax handling hashtag (#) symbols"
Issue Type: <b>Bug</b>

![image](https://user-images.githubusercontent.com/10381253/46543321-35b77f80-c8c9-11e8-8398-984f7f3a063d.png)

As the comment says, '#' symbols do not mark comments when put in quotes.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.14.69-1-MANJARO

[2018-10-05 15:14] ssotomayor commented on #26952
+1 on this

[2018-10-05 15:18] Tyriar commented on #60017
Closing in favor of https://github.com/Microsoft/vscode/issues/10546 for now, we've discussed the possibility of DND after tabs.

[2018-10-05 15:18] #60017 closed

[2018-10-05 15:21] jrieken opened #60031 "layout trashing in WorkbenchLayout#layout"
* record performance and reload
* (expensive) layout trashing happens `WorkbenchLayout#layout`

<img width="382" alt="screenshot 2018-10-05 at 17 10 21" src="https://user-images.githubusercontent.com/1794099/46544078-e4a48d00-c8c2-11e8-88b6-40be97c54d2c.png">

I fiddled with this and it seems to be caused by these lines https://github.com/Microsoft/vscode/blob/2f28e6ba8ae02a51d20e2c85fd8cd702fc8de

[2018-10-05 15:29] Nemzag commented on #60007
Yes, of course, when trying to write simple HTML or CSS codes…
And "CTRL" sometime not work with any other combinations (not only CTR+C & CTRL+V),
I don't know why ?
Sometime it does ?
Very strange behavior.

[2018-10-05 15:30] bpasero commented on #60031
I think this code is obsolete once https://github.com/Microsoft/vscode/issues/50853 is tackled, which I think @sbatten and @joaomoreno are going to look into.

[2018-10-05 15:31] ksiazkowicz commented on #59996
Same here. In my case, terminal window just looks empty (scrolled to bottom) and text doesn't even appear until I press Enter.

[2018-10-05 15:34] eamodio opened #60032 "Hang often when debugging an extension and attaching to a language server"
Issue Type: <b>Bug</b>

This seems to be a relatively new occurrence (and I don't see the same issue with 1.27.2), but very often when I'm debugging an extensions and then attaching to its associated language server (most typically with `--inspect-brk` set), vscode hangs and shows the `Window is no responding` message. And it seems to never come back. I have to close the window and start over.

ED

[2018-10-05 15:34] ianfhunter opened #60033 "Seconds of unuse."
Issue Type: <b>Performance Issue</b>

I have many tabs and windows open, but for some reason the active window causes a big drop in performance for a few seconds and i can't type in the editor. It says 22 % cpu on the window in the status commandline, but my cpu% in htop is at 100. Extension host is at 0% cpu

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11

[2018-10-05 15:35] #31377 closed

[2018-10-05 15:36] Tyriar commented on #60005
ctrl+k is bound to clear the terminal on Windows only and it can be disabled by either unbinding the `workbench.action.terminal.clear` keybinding or by removing the clear command from `terminal.integrated.commandsToSkipShell`.

[2018-10-05 15:36] Tyriar commented on #59996
https://github.com/Microsoft/vscode/issues/57803

[2018-10-05 15:36] #59996 closed

[2018-10-05 15:37] ramya-rao-a commented on #59395
Thanks @irrationalRock
Yes, thats the right file.
My suspicion is that this is related to https://github.com/Microsoft/vscode/blob/1.27.2/extensions/emmet/src/abbreviationActions.ts#L610

[2018-10-05 15:38] Tyriar commented on #60001
I consider this a powershell issue, https://github.com/PowerShell/vscode-powershell would be a more appropriate place to report. FYI @tylerl0706

[2018-10-05 15:38] #60001 closed

[2018-10-05 15:39] jrieken commented on #60031
rewriting the layout sounds like a bigger issue... isn't there a short term 'fix'? There is potential for saving lots of start-up perf time (~100ms)

[2018-10-05 15:39] Tyriar commented on #59998
You need to add `"workbench.debug.action.focusRepl"` to the `"terminal.integrated.commandsToSkipShell"` setting to have it bypass the terminal process.

[2018-10-05 15:39] #59998 closed

[2018-10-05 15:40] isidorn opened #60034 "Test: multiple debug consoles"
Refs: https://github.com/Microsoft/vscode/issues/31377

- [x] any os @rebornix
- [x] any os @dbaeumer

Complexity: 3

Have a repository which you can debug (for example our express smoke test repo), modify the launch configuration such that you can run two launch configurations at the same time (for example copying the first and just modifying the name). Start debugging and verify:
* While debuggi

[2018-10-05 15:43] isidorn commented on #59989
Great. Let me know how it works for you guys.

[2018-10-05 15:46] ramya-rao-a commented on #59951
The issue that `fsz12` should match with `font-size` and not `font-style` is a valid one.

Emmet tries fuzzy matching to match whatever you have typed with the closest match. The emmet module we use for this fuzzy matching is https://github.com/emmetio/css-snippets-resolver

@muratdogan17 If you are interested in fixing this issue, then start with https://github.com/emmetio/css-snippets-resolver

[2018-10-05 15:54] rebornix commented on #60033
Could you follow https://github.com/Microsoft/vscode/wiki/Performance-Issues to provide more information when you run into this issue again?

[2018-10-05 15:56] ps2goat commented on #47816
Thanks, @MirzaSikander!  I couldn't figure out why the environment variable was hanging around.  I was always re-opening the project via the `recent` options (either via taskbar or within vs code's start page).

Opening the folder by using the 'open folder' option did indeed load the new environment variable values!  This is important when switching your AWS_PROFILE, which is needed for IAM authen

[2018-10-05 15:57] DonJayamanne commented on #59989
Its perfect.

[2018-10-05 16:00] rebornix commented on #60019
Please file issues with enough information.

[2018-10-05 16:00] #60019 closed

[2018-10-05 16:03] rebornix commented on #59960
Close it as it's an external issue.

[2018-10-05 16:03] #59960 closed

[2018-10-05 16:05] rebornix commented on #59993
@alexesca please file issue against Angular extension and start investigation from there first, thanks!

[2018-10-05 16:05] #59993 closed

[2018-10-05 16:08] GasCreature commented on #59948
No, I'm not behind any firewall. I've just rebooted in case that "shared.socket" thing was an orphan. No luck. I can try running tcpdump/packet trace tomorrow if I know what to look for. Here is the netstat output edited for only the shared.sock lines.

`Active LOCAL (UNIX) domain sockets
Address          Type   Recv-Q Send-Q            Inode             Conn             Refs          Nextref Addr

[2018-10-05 16:11] tylerl0706 commented on #60001
No I'm pretty sure this is a [PSReadLine](https://github.com/lzybkr/PSReadLine) issue not being able to detect the color of the background and change accordingly.

@jsschultz are you seeing this in the PowerShell console or the PowerShell Integrated Console?

Also, have you messed with the PSReadLine colors in your profile?

[2018-10-05 16:14] ryanwmarsh commented on #59056
@roblourens @rswerve did this get resolved? I'm having the same problem.

[2018-10-05 16:16] AistrCyrill commented on #10026
It will be realy helpful

[2018-10-05 16:17] thimmy687 opened #60035 "Splitted screen issue"
Issue Type: <b>Bug</b>

pre conditions:
* My view is minimized on half screen
* File Explorer is open
* a Markdown file is open (long named  (InstallJenkinsInDocker.md))
* the preview is show on splitted view
problem
* the close button of the splitted tab is not visible and also not clickable
workaround
* if I resize the window or close the file explorer, the close button is shown

VS Code version

[2018-10-05 16:23] octref commented on #217
@jrieken For Polacode it's byte array.

[2018-10-05 16:28] rebornix commented on #36170
@Tyriar if it's a standard/common linux behavior, an additional command for that is a good solution to me.

[2018-10-05 16:30] jsschultz commented on #60001
I am only seeing this in Powershell integrated console. I don't think I've touched PSReadLine (I've never heard of that before)

[2018-10-05 16:31] roblourens commented on #60027
Are you talking about the diff editor that opens when you click a result? What do you expect to see in that case?

[2018-10-05 16:34] roblourens commented on #59982
I'm sure this is useful for some users but our quick open UI is very simple and lightweight and I'd like to keep it that way if at all possible

[2018-10-05 16:35] brunotassis commented on #59906
-------------------------------------------------------------------------------------------------------------
I'm sorry for not seeing these issues.
I searched for a few hours something similar but had not found.

[2018-10-05 16:37] #59667 closed

[2018-10-05 16:37] jacksaunders commented on #54485
I am getting exactly the same issue, it seems to be isolated just my test files. I can set app breakpoints no problem and it hits them even from the test. Any Chance we can reopen this and i will see if i can set up a similar repo to help

[2018-10-05 16:44] chris-dopuch commented on #59898
I am having the exact same problem as @CaptainYouz

VSCode Version: 1.27.2
OS Version: macOS High Sierra 10.13.6
all extensions disabled

I have a brand new create-react-app open in VSCode, my package.json is open, and I do a new `npm install`, then codehelper starts eating up my CPU and my fans start going, and it does not stop.
I'm also running htop, I get the same exact thing OP had.

Here's a

[2018-10-05 16:49] octref commented on #52974
If there's need we can revisit, but some of the UI is tied to LSP and not that easily reusable in DAP visualization.

[2018-10-05 16:49] #52974 closed

[2018-10-05 16:50] mjbvz commented on #60020
Please file this issue against the python extension

[2018-10-05 16:50] #60020 closed

[2018-10-05 16:51] ChamuMutezva opened #60036 "Computer crashing when using visual studio code."
I am not sure what is causing my laptop to crash everytime i open visual studio code. I cannot  stay coding for even 3 minutes before the computer becomes unresponsive.  This problem started recently after the new Windows 10 upgrade.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System In

[2018-10-05 16:55] jacksaunders commented on #54485
So i have created a repo which is close to what i am working on, its an ejected create react app and can be seen here.

https://github.com/jacksaunders/vscode-jest-test

I ran  vscode with all plugins disabled, and just ran the basic App test that comes with create react app.

here is a quick gif of what is happened

![jest-test](https://user-images.githubusercontent.com/1415692/46548699-b4abb880-

[2018-10-05 17:02] octref commented on #53948
https://stylelint.io/user-guide/rules/length-zero-no-unit/

You can use this extension.

[2018-10-05 17:03] octref commented on #48601
Actually because many people use transpilers, these warnings won't be accurate. Let's forget about this then.

[2018-10-05 17:03] #48601 closed

[2018-10-05 17:04] mjbvz opened #60037 "Find widget has overlapping elements at small widths"
Issue Type: <b>Bug</b>

1. In an editor
1. Open the find widget
1. Reduce the editor size so that it is quite narrow

**Bug**
Find widget has overlapping elements:

<img width="442" alt="screen shot 2018-10-02 at 1 48 52 pm" src="https://user-images.githubusercontent.com/12821956/46549163-fc115500-c885-11e8-865b-e31a0b64fd0b.png">

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6

[2018-10-05 17:05] tkrajacic commented on #59271
… also even though it has been said before that the release can be expected to be done in the week AFTER the month is over, why does literally the second line in this issue already contradict that?

(And why not plan to be ready actually AT the end of the month?)

But I agree with @paterasMSFT that it would be a bit easier to follow along if there were dates instead of just "Monday" etc.

[2018-10-05 17:12] #4764 closed

[2018-10-05 17:13] kfsone opened #60038 "Optional fine-grained control over file-type registration"
The installation option to register code as an editor for supported types is detrimental to scripting languages such as Python. A similar problem is faced by tools like archivers (e.g winrar), music players, etc, which provide an advanced option that lets the user decide which types will be registered.

Unfortunately, for many users, this will be an after-the-fact discovery that is seemingly hard

[2018-10-05 17:13] mjbvz commented on #60015
We use highlight-js to power our markdown preview's syntax highlighting. This sounds like this upstream bug: https://github.com/highlightjs/highlight.js/issues/931

[2018-10-05 17:13] #60015 closed

[2018-10-05 17:19] Tyriar commented on #59271
@tkrajacic "Endgame done" indicates the time in which the "endgame week" ends, we normally _release_ the following week in "debt week". See https://github.com/Microsoft/vscode/wiki/Development-Process#inside-an-iteration

[2018-10-05 17:20] dsanz006 commented on #60027
Yes that's what I'm talking about. I would like to see just the file without a diff. Then when I click on replacing the text it would just replace it directly.

[2018-10-05 17:27] AndrewRayCode opened #60039 "Integrated terminal in vscode does not highlight search results"
VSCode latest
Mac OSX

The VSCode terminal does not highlight text when searching, nor show "x/y results":

<img width="1099" alt="screen shot 2018-10-05 at 10 25 45 am" src="https://user-images.githubusercontent.com/79215/46550188-23b5ec80-c889-11e8-854f-93ceca053e22.png">

I love running tests in the integrated terminal but it's nice to see where i'm jumping around for matches. Here's an example

[2018-10-05 17:29] cpadilla commented on #50426
I'm using devenv to compile my project. It usually outputs `1>` before each line so I don't know how I would change this. Isn't there a way I can change how VSCode scans the output for errors?

![code_2018-10-05_13-25-35](https://user-images.githubusercontent.com/1704172/46550212-5d472180-c8a2-11e8-84ba-cba88e9dec42.png)

[2018-10-05 17:33] Tyriar commented on #36170
I'm not sure how to access the primary clipboard in node, but I'm sure it's possible. This is a good candidate for a community PR imo.

Also the command should only be registered on Linux.

[2018-10-05 17:36] Tyriar commented on #35681
@dulara1994 remember you can also use font fallbacks, so you can have `fonta, fontb, monospace` as your font config if the fonts aren't on all your OS's.

[2018-10-05 17:38] David-Else commented on #53948
Please re-read the issue. It is a bug in vs code, no extension is needed.

"css.lint.zeroUnits" is built into vs code, **but it has a bug**. It WORKS for margin, but not outline. This is not correct behavior by anyone's definition.

[2018-10-05 17:41] Tyriar commented on #59379
@alexr00 just underscore seems right to me.

[2018-10-05 17:49] AndrewRayCode commented on #60039
dupe of https://github.com/Microsoft/vscode/issues/28768

[2018-10-05 17:49] #60039 closed

[2018-10-05 17:52] roblourens commented on #54485
Please open a new issue

[2018-10-05 17:54] Tyriar commented on #59630
I expect this to get fixed as part of https://github.com/Microsoft/vscode/issues/45693

[2018-10-05 17:54] #59630 closed

[2018-10-05 17:56] #59637 closed

[2018-10-05 17:56] Tyriar commented on #59637
FYI @RMacfarlane

[2018-10-05 18:01] octref commented on #53948
Oh I see, sorry.

[2018-10-05 18:03] joshuabremer opened #60041 "Visual Studio Code Crashing With Error: "dns_config_service_posix.cc(156)] dns_config has unhandled options!""
- VSCode Version:
1.27.2
f46c4c469d6e6d8c46f268d1553c5dc4b475840f
x64
- OS Version:
ProductName:	Mac OS X
ProductVersion:	10.13.6
BuildVersion:	17G65

Steps to Reproduce:
1. ?
2. Open Visual Studio Code

Does this issue occur when all extensions are disabled?:

Yes

------------------------------

Next I used the following checklist: https://github.com/Microsoft/vscode/issues/32433#issuecomment-32

[2018-10-05 18:35] #59567 closed

[2018-10-05 18:40] EthanRutherford commented on #59848
Yes, it happens sporadically. Seems to happen more often in larger files, so I suspect @kylepaulsen's diagnosis is on the right track, and it is likely something to do with autocomplete not updating in time and acting on stale data.

[2018-10-05 18:56] deriegle opened #60043 "Add multiple task.json configuration files"
Is there a current way to have multiple `launch.json` or `tasks.json` files?

It would be really nice to be able to have a user's custom launch.json/tasks.json for workspaces so that we could have our `.vscode` folder under version control so everyone has the same copy of the standard tasks/debug configurations while working on the project, but they could also have their own tasks/debug configurat

[2018-10-05 19:05] christopherkang commented on #41812
Could we close this and reopen later if necessary? I don't think the issue fits in the roadmap / has garnered enough votes currently.

[2018-10-05 19:08] tylerl0706 commented on #60001
Interesting. Can you send me a screenshot of what you're seeing?

Also, PSReadLine ships with PowerShell. So you're using it if you use PowerShell 😊.... Except in the PowerShell Integrated Console. It's not there yet for reasons.

You could check what's in your profile by opening the file that's in `$profile`

[2018-10-05 19:12] joshunger commented on #41812
@christopherkang what's the benefit of closing? Where do you view the current roadmap and issues ranked by votes? What's the criteria?

[2018-10-05 19:27] CollinChaffin commented on #41309
30+yr I.T. veteran who loves commandline more than GUIs but absolutely must agree with the OP that it is ludicrous for this GUI editor not to have even the most basic of toolbars (even as an optional feature that could then be disabled for Windows-OS GUI app developers/users who are suddenly so anti-basic-GUI-features).

To further support (without intending to shame) Even the most basic of the mo

[2018-10-05 19:29] Ntropish commented on #51032
Slightly related, I get the same thing except it's trying to load the package.json schema. I work in a closed environment so that schema is never going to be loaded. I also like to use the built-in console as I develop so I always see "Problems (1)".

[2018-10-05 19:31] joshunger commented on #41812
@christopherkang I don't have the data on how many users prefer one way or the other but @lonix1 had good comments above.

[2018-10-05 19:34] BenHayat commented on #41309
Whoever is in charge of VSCode at MSFT should be fired, for ignoring such basic requests. Sounds like the old MSFT again.

[2018-10-05 19:34] mrjones2014 opened #60046 "Extensions stop working after some time: MaxListenersExceededWarning"
Issue Type: <b>Bug</b>

1. Open VS Code
2. Work on a project for a few hours (the time it takes for this bug to occur is not consistent).
  2.a. Some extra information: my workspace contains `*.vue`, `*.md`, `*.js`, `*.css`, `*.md` files, and a single `web.xml` file. Executing "Reload Window" from the Command Pallette fixes the issue, temporarily, then it will happen again after a few more hours.

[2018-10-05 19:35] mrjones2014 commented on #60046
doesn't look like any of the issues suggested by `vscodebot` are even close to this issue.

[2018-10-05 19:36] christopherkang commented on #41812
I think that's fair and @bpasero pointed out its need for server refresh. Also, this issue is contingent upon getting a contributor.... could we get a help-wanted tag added? Would this issue be easy to fix (maybe we could make it a good "first time" issue)?

[2018-10-05 19:39] connorshea commented on #59271
I would also appreciate dates on these 👍

[2018-10-05 19:40] mrjones2014 commented on #60046
Another note: when this happens, I also lose any and all IntelliSense, and *much* of the syntax highlighting. This issue is *quite* annoying and has plagued me from day 1, even before I had any extensions installed.

[2018-10-05 19:48] Tyriar commented on #59271
We should probably also link to the wiki in the endgame template.

[2018-10-05 19:53] Tyriar commented on #59271
Updated: https://github.com/Microsoft/vscode/wiki/Running-the-Endgame#schedule-template

[2018-10-05 19:56] Tyriar commented on #51032
@aeschli is this a good candidate for help wanted/good first issue?

[2018-10-05 20:04] #59751 closed

[2018-10-05 20:08] nitrologic commented on #60005
Is it possible to view / link the design doc? What other control keys can I expect to not be working now or in the future due to this "philosophy"?

[2018-10-05 20:12] mjbvz commented on #59521
From your description, this seems like a bug with how github renders those unicode characters.

Closing as external

[2018-10-05 20:12] #59521 closed

[2018-10-05 20:12] CollinChaffin commented on #41309
I had not previously seen a VERY quickly "go away I don't want to listen to the people using what I'm developing" issue #11159 where it was asked why of the FEW measly buttons given to users on the side-bar, EXTENSIONS was seen to be something a user would literally BE CLICKING MORE OFTEN than BASIC FILE OPERATIONS:

https://github.com/Microsoft/vscode/issues/11159

When you see a DEV close and lo

[2018-10-05 20:14] mjbvz commented on #59644
Closing as we need more information to investigate this

[2018-10-05 20:14] #59644 closed

[2018-10-05 20:15] arthurbdiniz commented on #10175
Can i take this feature?

[2018-10-05 20:19] mjbvz commented on #59425
This not really a vscode issue. The TSLint extension needs to coordinate a way to consume type info from typescript running inside vs code. See the effort here for an example of how this can be done by making tslint a typescript server plugin: https://marketplace.visualstudio.com/items?itemName=eg2.ts-tslint

[2018-10-05 20:19] #59425 closed

[2018-10-05 20:36] rebornix commented on #59799
Can you try running vscode from command line with flag `code --max-memory=4096` and see if you can still reproduce this issue?

[2018-10-05 20:37] mjbvz commented on #60028
Run `typescsript: go to project configuration`. Does this open up the tsconfig that enables `experimentalDecorators`?

[2018-10-05 20:40] rebornix commented on #59881
I doubt so, I didn't see that happening in browsers (Chrome/Firefox/Safari), Office/Mail, System setting search and the default behavior is always put the cursor at the end of the pasted content.

[2018-10-05 20:43] rebornix commented on #59938
@edysuh we don't do this in the core, so if you disable all extensions you won't reproduce this bug. Please file issues against the bad extension which is doing so or start with VSCodeVim for troubleshooting.

[2018-10-05 20:43] #59938 closed

[2018-10-05 20:45] mjbvz commented on #59848
Are you sure you have disabled extensions, any all TS server plugins? This sounds similar to https://github.com/Microsoft/typescript-styled-plugin/issues/73

[2018-10-05 20:47] jesusbibieca opened #60047 "Running scripts with right click not giving feedback when it ends."
- VSCode Version: 1.27.2
- OS Version: MacOS Sierra 10.12.6

Steps to Reproduce:

1. While on a project, go to `package.json`
2. Go to the `scripts` section and right click any script, then click on `Run Script`
3. After the script runs and finished you need to manually hit `Enter` to exit out that terminal

I wish it exited out after it ended or rather notify me that it ended so I can hit `Enter`

[2018-10-05 20:47] #59151 closed

[2018-10-05 20:57] #53466 closed

[2018-10-05 21:00] mjbvz commented on #59024
Closing as we cannot investigate this issue without more information, such as if this happens when extensions are disabled

[2018-10-05 21:00] #59024 closed

[2018-10-05 21:00] fabu-gharbieh commented on #23931
This is not just a little thing you have to get used to. It is actually a dealbreaker. Searching something takes significally longer in VS than it does in Sublime.

[2018-10-05 21:05] mjbvz commented on #57096
This issue was moved to Microsoft/TypeScript#27579

[2018-10-05 21:05] #57096 closed

[2018-10-05 21:12] pixieaka commented on #52629
Some errors in 1.29.0 -- 2018-10-03 | Electron: 3.0.2
![annotation](https://user-images.githubusercontent.com/17777237/46560407-f18da480-c8f3-11e8-845d-e51324661ce1.png)

[2018-10-05 21:12] andrewdang17 commented on #23931
@fabu-gharbieh this issue isn't about performance, it's about where the search results show up

[2018-10-05 21:13] mjbvz commented on #56874
@sunq0001 Thanks. Please collect the log from vscode insiders though. The logs are using TypeScript 3.0 while insiders is using TypeScript 3.1.1. We've fixed some perf issues since 3.0

@EdArrowz Please also try collecting the server logs as described above.

[2018-10-05 21:14] #59821 closed

[2018-10-05 21:18] fabu-gharbieh commented on #23931
@andrewdang17 I didn't mean the performance of the tool, but the performance of the workflow. If I search something and get all the results in a new tab, showing me all the hits and also some lines before I'll be finding stuff much faster.

[2018-10-05 21:52] skyhirider opened #60049 "Breadcrumbs for XML"
Once you can spare the time, could you add breadcrumbs for XML files?

When I am deep inside a tag I would really appreciate if I could see the tag or path that I am in.

[2018-10-05 22:38] ChamuMutezva commented on #60036
I have to take out the battery and reboot again to use the computer again.
Non of the keys will be responding.

On Sat, Oct 6, 2018, 12:28 AM SteVen Batten <notifications@github.com>
wrote:

[2018-10-05 22:40] safield opened #60052 "Disable workbench.action.focusSecondEditorGroup making new window"
Current Behavior:

If I have N editor groups (window panes) open, and I hit the keyboard shortcut to execute...

workbench.action.focus[N+1]EditorGroup

It will create a new editor group....which is an undesirable behaviour for me.

Concrete Example:

If I have 2 editor groups open, and I accidentally hit shortcut for workbench.action.focusThirdEditorGroup, it will then create a new third window.

[2018-10-05 22:42] chrisdias opened #60053 ""Reload to deactivate" after uninstall message is confusing"
Issue Type: <b>Bug</b>

When i click "uninstall" of an extension in the extension's editor, the button changes to "Reload to Deactivate".

![image](https://user-images.githubusercontent.com/1487073/46563061-3f82b800-c8b4-11e8-90c6-e5fc2a9ec106.png)

I understand that it is the inverse of "Reload to Activate" after clicking on "Install", which makes sense.  But, in the case of uninstall, we are not

[2018-10-05 22:44] pixieaka opened #60054 "Add Visual studio collapse feature (outlining)"
Add Visual studio collapse feature (outlining)

Toggle Outlining Expansion
Toggle All Outlining
Collapse to Definitions

https://docs.microsoft.com/en-us/visualstudio/ide/outlining?view=vs-2017

[2018-10-05 22:45] jsschultz commented on #60001
So this is what I see in another application that has an integrated terminal, where it actually uses a library from vscode:
![image](https://user-images.githubusercontent.com/10843297/46563267-51b12600-c8b5-11e8-8223-fa8b819498ba.png)

Note the yellow 'dir' with the beige background.

This is what I see in vscode:
![image](https://user-images.githubusercontent.com/10843297/46563307-8e7d1d00-c8b5-1

[2018-10-05 22:50] jsschultz commented on #60001
For reference, this is what my cmd prompt looks like ([Solarized Light](https://github.com/neilpa/cmd-colors-solarized/blob/master/solarized-light.reg) colors applied):
![image](https://user-images.githubusercontent.com/10843297/46563434-50ccc400-c8b6-11e8-851f-b2e627d54cec.png)

[2018-10-05 23:00] octref commented on #52109
You can use stylelint with https://stylelint.io/user-guide/rules/no-duplicate-selectors.

[2018-10-05 23:00] #52109 closed

[2018-10-05 23:01] #60049 closed

[2018-10-06 00:39] cleidigh commented on #59492
finally building, making some progress

I think I have finally found some voiceover oddities with labeling.  It appears that voiceover within electron
does not like aria-labeledby pointing to a <span> this was confounding me for the element titles.
a quick experiment changing the element label from span to a div looks like it works.  any reason we can't do this using the span ?

[code]

[2018-10-06 00:53] tobia commented on #36170
Does this help?

https://github.com/electron/electron/issues/377

[2018-10-06 01:07] DaFri-Nochiterov commented on #59079
I've got a new details on the repro steps. This happens when update is being downloaded and prepared when your monitor is turned off. Like, you went sleeping, monitor automatically turned off after 15 minutes and in hours VS Code discovers a new update, downloads and prepares it. Then, when you return, if you did not restart the VS Code, clicking “Restart to Update” will turn off your monitor befo

[2018-10-06 01:21] heroboy opened #60055 ""Configure language specific settings" not working with new setting ui."
Version: 1.27.2 (user setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

Steps to Reproduce:

1. Ctrl + shift + p and choose "Preferences: Configure language specific settings..." [see](https://code.visualstudio.com/docs/getstarted/settings#_language-specific-editor-settings)

[2018-10-06 01:36] doomstrike opened #60056 "diff decorations always showing inlined"
Issue Type: <b>Question</b>

New to vscode so forgive a noob.

I've been tinkering with the default settings regarding diffs in the editor and no matter which option I've tried to change it seems that the line diff highlight is always on (ie showing red for deleted lines or green for added lines). I find this noisy and would prefer to just have the indications in the gutter; preferably just a colo

[2018-10-06 01:39] MuseBoy commented on #59881
@rebornix I'm sorry about my wrong impression about the behavior of other apps. But there is still one thing. Vs code is different from the apps you list. Vs code is extensable so vs code can not deal with everything user pastes(For example, there is no good enough markdown formatter extension recently). So there should be a easy way for users to manually deal with their code.
There are some cases

[2018-10-06 01:40] g-arjones opened #60057 "Allow extensions to provide contributed/detected launch configurations"
This would allow the user to debug projects without the need to create launch.json files. Akin detected/contributed tasks, the provided launch configurations would show up in the debug viewlet along with other launch configurations that the user might define in a launch.json. With that, he/she would be able to seamlessly switch between extension provided launch configurations and user defined ones

[2018-10-06 02:08] Tyriar commented on #60001
@jsschultz oh I know what this is. You're seeing the issue where changing the theme in cmd.exe breaks the colors.

This is what the built in solarized light looks like for me:

![image](https://user-images.githubusercontent.com/2193314/46566371-fe010580-c8d1-11e8-92a7-f522e6a4b46e.png)

If you change cmd.exe's theme back to normal it should look like me. This is an issue with winpty https://github

[2018-10-06 02:14] tylerl0706 commented on #60001
@jsschultz  so for context...
![image](https://user-images.githubusercontent.com/2644648/46566211-17548280-c8cf-11e8-9e56-ffd90d536661.png)

this means that you're using the the regular powershell terminal in vscode. The "integrated console" says "PowerShell Integrated Console" which is the one that ships in the PowerShell extension.

The regular powershell terminal in vscode is using the regular

[2018-10-06 02:15] Tyriar commented on #56817
Can you try setting `files.useExperimentalFileWatcher` to true and see if you can reproduce? Also make sure this was set to false in the beginning.

[2018-10-06 02:38] nitrologic commented on #60005
Thank you for workaround and for taking another look. I think a good rule is that a terminal should respect at minimum all ASCII codes. I suppose the copy and paste overrides seem like a good idea but even there I think the native windows command line has it right and uses right click for paste so ctrl-v aka SYN is unmolested.

[2018-10-06 02:42] Tyriar commented on #60005
@nitrologic well yeah, it comes down to what we think users would expect to happen. ctrl+p is an example where it's skipped on Linux and Windows because it's such a prominent keybinding and it would suck if that didn't work. The good thing is that it's always possible to change the behavior in the setting (which will improve eventually when we action #19770).

[2018-10-06 02:44] Tyriar commented on #60005
Also copy/paste behavior is copied from the most popular terminals on each platform:

- Windows:
  - ctrl+c when there is a selection copies
  - ctrl+v pastes
  - right click to copy/paste based on selection
- Linux
  - ctrl+shift+c/v
  - middle click to paste PRIMARY clipboard
- macOS
  - cmd+c/v

And everything is configurable so you could bring the right click behavior to macOS if you wanted to

[2018-10-06 02:45] #60005 closed

[2018-10-06 02:49] Tyriar commented on #60001
@tylerl0706 I'm guessing it was a miscommunication above:

I think he means powershell in vscode is like this, but not the regular powershell/conhost window.

It looks to me like a bug I saw a lot in the past where winpty messes up pulling t he colors if you change the background color of conhost.

[2018-10-06 02:51] Tyriar commented on #60007
Can you try closing all windows and running `code --disable-extensions` and seeing if it still happens?

[2018-10-06 03:43] Tyriar commented on #59304
I don't think we can change this at this point unfortunately as there would be many users that expect ctrl+e to work. I suggest just sticking with the workaround you have (I use a similar one). You can contribute a common question to describe the workaround to the website if you want:

- https://code.visualstudio.com/docs/editor/integrated-terminal#_common-questions
- https://github.com/Microsoft/

[2018-10-06 03:43] #59304 closed

[2018-10-06 04:13] roblourens commented on #29405
I would take a PR that lets `workbench.action.findInFiles` be invoked with args to populate the fields of the search widget, and optionally trigger the search.

First, the Action behind that ID has to be converted to a Command, because I think actions can't take args. Currently the action is here (see the superclass above): https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/sea

[2018-10-06 04:15] #57507 closed

[2018-10-06 04:17] roblourens commented on #38316
I would take a PR for this. The change will be entirely inside the debug adapter, see https://github.com/Microsoft/vscode-chrome-debug-core/issues/353 and https://github.com/Microsoft/vscode-node-debug2/blob/master/CONTRIBUTING.md

[2018-10-06 04:31] roblourens commented on #52815
I would take a PR that adds two commands, "focus previous setting" and "focus next setting". When invoked, they should find the next setting control (input, checkbox, dropdown) in the DOM and focus it. Then find a suitable unused keybinding (cmd+down/up?) for the commands.

With this, if I see the 4th setting in a list and want to edit it with the keyboard, I should be able to press this shortcut

[2018-10-06 04:36] eyalsk commented on #10175
@arthurbdiniz Well, they did label it as "help-wanted" so you can prob just send them a PR. ;)

[2018-10-06 04:38] #57289 closed

[2018-10-06 04:42] morgannewman commented on #60047
I'd love to give this issue a go! Is help wanted?

[2018-10-06 04:44] roblourens commented on #60027
This seems reasonable and I would take a PR that adds a setting to disable the replace preview. FYI @sandy081

Starting point: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/search/browser/searchView.ts#L1405 and https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/search/browser/searchActions.ts#L581

[2018-10-06 04:44] #59566 closed

[2018-10-06 04:50] ParkourKarthik commented on #52846
Hi @mjbvz . I'd like to pick this up. Could you provide me with an existing example for a setting with intellisense. So that I could use it for reference.

[2018-10-06 05:12] eamodio commented on #60032
A bit more info -- This seems to be only an issue when running with `--inspect-brk` and I think the culprit, is because when the debugger attaches it immediately breaks (which is expected with `--inspect-brk`), but since it breaks at the root, it opens my large webpacked js file to break in. And just loading that file is slow, so maybe that triggers something to go wrong.

[2018-10-06 05:28] ToothlessGear commented on #60027
I'd like to take a look at this.

[2018-10-06 05:48] Nemzag commented on #60007
I just tested, and after removing extension's, I didn't had that problem anypoly, but since it happen sporadically and sometime, it's not sure that one of extension's cause this trouble.
I re‑activated one by one extension's and I didn't had the bug, but as I said before, it happen sometime, after a reboot or a new launch…

[2018-10-06 05:54] Lanseria opened #60059 "[Terminal] the text exists but I can't see some text"
版本: 1.27.2 (user setup)
提交: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
日期: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
架构: x64
![image](https://user-images.githubusercontent.com/14802764/46567915-1bd07800-c96f-11e8-9c57-773e36864295.png)
Although the text exists but I can't see some text, windows10 updates the problem after the dark theme

[2018-10-06 06:19] bpasero commented on #60009
@Scott-Cooper great, can you do this to try out if it helps:
* open fileService.ts line 580
* change the code `if (!exists || !isWindows) {` to `if (!exists || isWindows) {` (remove the `!` from isWindows)
* recompile typescript
* save on that USB drive

Does it reproduce?

[2018-10-06 06:45] angelddios999 opened #60060 "Unable to run spring boot app"
We have written the needed data into your clipboard because it was too large
Issue Type: <b>Bug</b>

1. Compile a spring boot app.
2. Click on run from the  Spring-Boot Dashboard
3. The following error is shown:

Failed to launch debuggee VM. Reason: java.io.IOException:Cannot run program "C\Program Files\Java\jdk1.8.0_131\bin\java" (in directory "C\codebase\xxx-xxxxxxxxxxxx"): CreateProcess error

[2018-10-06 07:54] EthanRutherford commented on #59848
No plugins, I'm not even using typescript.

[2018-10-06 08:29] Milkiweed opened #60062 "Microsoft.Python.LanguageServer used too much memory"
- VSCode Version: Visual Studio - Insiders
- OS Version: macOS Mojave

Steps to Reproduce:
1. When i open some any file models.py ( in Django app) python server will eat all my memory
2.
![image](https://user-images.githubusercontent.com/27918941/46569252-f33e8300-c95a-11e8-8c1a-cfd844c52238.png)

Does this issue occur when all extensions are disabled?: No

[2018-10-06 08:50] Milkiweed commented on #60062
UPD. I see where my problem. When i open file models.py ( in Django app) python server will eat all my memory

this is my file https://pastebin.com/kG4RFHTr

[2018-10-06 09:49] KargJonas commented on #51229
The same issue occurs when I try to drag n' drop from the (default ) Windows "Compressed Folder Tools".

[2018-10-06 12:02] woytowg commented on #40898
This is still happening for me, was there a fix, what version?

[2018-10-06 13:14] thimmy687 commented on #60035
Ah ok, cool feature :)

but it is still buggy :/

In my case if I start the preview of this markdown file, the second screen is openning without this scrollbar functionality.

after resize the window it is working well

[2018-10-06 13:18] jackwootton commented on #59679
I did find [Who's consuming my inotify resources?]( https://unix.stackexchange.com/questions/15509/whos-consuming-my-inotify-resources/426001#426001) on StackExchange a good starting point.

However, running that "big ball of mess" (authors words) results in no output. The command does run to completion (albeit with a warning):

[code]

Excluding the [FUSE filesystem](https://en.wikipedia.org/wiki

[2018-10-06 14:11] ckarras opened #60063 "Markdown Preview using Ctrl+K V not working"
I'm having the issue described in https://github.com/Microsoft/vscode/issues/31140 on a fresh install of VSCode, it seems the bug has reappeared.

I tested with the latest release version available on 2018-10-06, and also the latest insiders build, and both have this issue

- VSCode Version: 1.27.2 (user setup) and 1.28.0-insider (user setup)
- Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f and

[2018-10-06 14:27] rdosanjh commented on #59787
I just had a look at this and i can't reproduce the issue.  I will say that the output does not respect the colours of the text.
<img width="399" alt="screen shot 2018-10-06 at 15 27 31" src="https://user-images.githubusercontent.com/8139394/46572354-4ffe6580-c97c-11e8-9654-d2a181c09a67.png">

[2018-10-06 14:36] usernamehw commented on #60063
<kbd>Ctrl</kbd>+<kbd>K</kbd> <kbd>Ctrl</kbd>+<kbd>V</kbd>
and
<kbd>Ctrl</kbd>+<kbd>K</kbd> <kbd>V</kbd>
are different commands

[2018-10-06 14:43] Milkiweed commented on #60062
help(

[2018-10-06 14:53] RMacfarlane commented on #60054
Hey @pixieaka, this feature already exists in VSCode. Check out https://code.visualstudio.com/docs/editor/codebasics#_folding

If you think there's something missing from this feature, please describe it in more detail.

[2018-10-06 15:11] pixieaka opened #60064 "No selection effect on text background"
![capture](https://user-images.githubusercontent.com/17777237/46572719-db7ef300-c98a-11e8-8014-cb3518594e4c.gif)

[2018-10-06 15:15] RMacfarlane commented on #60056
There's an `scm.diffDecorations` setting that can be used to set the behavior in editors. There's no setting to change the line highlight in diff editors.

Issues in this repository are meant to track bugs and feature requests, please ask questions at https://stackoverflow.com/questions/tagged/visual-studio-code. Thanks!

[2018-10-06 15:15] #60056 closed

[2018-10-06 15:19] JoseFMP commented on #8641
Any news on this issue? All software editors that I use in Linux do support out of the box forward-back navigation with the forward-back buttons of the mouse. Why wouldn't VS Code do the same?

[2018-10-06 15:28] w9jds opened #60067 "ActionBar items aren't triggerable via keyboard"
- VSCode Version: 1.28.0-insider
- OS Version: MacOS Mojave

Steps to Reproduce:
1. Enter into SettingsEditor2
2. Focus the search input
3. Press tab until you get to the Action Item "Workspace Settings"
4. Press space or enter

Expected: Focused tab will be selected
Actual: Nothing happens

Does this issue occur when all extensions are disabled?: Yes

[2018-10-06 15:34] pixieaka commented on #60064
@RMacfarlane
![capture](https://user-images.githubusercontent.com/17777237/46572911-f1da7e00-c98d-11e8-8a28-ea113651605d.PNG)
![ss](https://user-images.githubusercontent.com/17777237/46572918-0454b780-c98e-11e8-8f76-06beb5e55784.PNG)

[2018-10-06 15:36] pixieaka commented on #60064
The selection copy & paste is working selection background effect only the problem here

[2018-10-06 15:41] RMacfarlane commented on #60060
Hey @angelddios999, since this is an issue with an extension, please report in on the extension itself: https://github.com/Microsoft/vscode-spring-boot-dashboard

From the error message, it sounds like the problem is the length of the path to your code. https://stackoverflow.com/questions/10519558/createprocess-error-206-the-filename-or-extension-is-too-long-when-running-main has some suggestions

[2018-10-06 15:41] #60060 closed

[2018-10-06 15:46] pixieaka commented on #60054
@RMacfarlane  I want [ Ctrl+K Ctrl+2 ] without comments, like
1- folds all regions of level 2 with [ Ctrl+K Ctrl+2 ]
2- Expand All Block Comments  [ reverse Ctrl+K Ctrl+/ ]

& Can add reverse Fold All Block Comments  [ Ctrl+K Ctrl+/ ]

[2018-10-06 16:08] RMacfarlane commented on #60063
Hey @ckarras, thanks for reporting!

From

It sounds like you might be holding `Ctrl` down for the whole command. For VSCode keyboard shortcuts, if a key should be used in both parts of the chord, it will be listed twice. Does letting go of `Ctrl` before hitting `V` work as expected?

[2018-10-06 16:14] rhyek commented on #40813
Haven't encountered this again.

[2018-10-06 16:14] #40813 closed

[2018-10-06 16:16] RMacfarlane commented on #60062
@Milkiweed Since this is an issue with an extension and not VSCode itself, please re-open it on the extension: https://github.com/Microsoft/vscode-python

[2018-10-06 16:16] #60062 closed

[2018-10-06 16:27] SirIntruder commented on #59848
There is a very similar issue with c# as well
https://github.com/OmniSharp/omnisharp-vscode/issues/2472

[2018-10-06 16:32] rrmistry opened #60070 "Activate VS Code actions from command line during startup"
### The problem I am trying to solve is:
## _Use VS code as JIT debugger for .NET_

I can probably solve this problem if I [add vs code executable path to Windows Registry](https://docs.microsoft.com/en-us/visualstudio/debugger/debug-using-the-just-in-time-debugger). But I would like to see a more cross-platform solution.

The way I would like to solve this problem is in such a way that it can ope

[2018-10-06 16:40] ckarras commented on #60063
Thanks @RMacfarlane, yes that was the issue. I also tried changing the binding to Ctrl+K Ctrl+V to make it work as I expected, and this works too.

[2018-10-06 16:40] #60063 closed

[2018-10-06 17:19] shawnaxsom commented on #59925
^^ PR is merged and should be resolved with the next VSCodeVim release.

[2018-10-06 17:42] OverLordGoldDragon opened #60071 "Update failing"
When opening a file, VS Code attempts to update, displays the following error: https://puu.sh/BGGZl/282f97f70d.png OS info: https://puu.sh/BGH3L/3e22323f78.png

The issue's persisted for ~2 weeks now. Folder filepath added to antivirus exceptions, no avail. The program otherwise works fine, with no detected problems. Error log attached.

[vscode-inno-updater-1538847353.log](https://github.com/Micr

[2018-10-06 18:01] WNemencha commented on #10121
What about https://www.npmjs.com/package/electron-window-manager ??

[2018-10-06 18:11] Tyriar commented on #59876
This was introduced by abee50e7650a2cd8b371652429075300d2dd96e9

[2018-10-06 18:14] muratdogan17 commented on #59951
Hi @ramya-rao-a I'll take a look at this and try to fix it. Thanks for your detailed introductions.

[2018-10-06 18:16] Tyriar commented on #58961
FYI this introduced https://github.com/Microsoft/vscode/issues/59876

[2018-10-06 18:18] Tyriar commented on #59876
Fixed in master, keeping open to pull into release/1.28

[2018-10-06 18:18] Tyriar commented on #59840
https://github.com/Microsoft/vscode/issues/59876#issuecomment-426723039

[2018-10-06 18:18] #59840 closed

[2018-10-06 18:21] rinoldsimon opened #60072 "adding feature like "find usages" which search for occurrences across files for a method/function in VSCode"
Visual Studio Code version `1.27.2`

`Find all References` only list references in the `current file`. I need to find all references across files in a project.

Is it possible ?

Something like `find usages`

If you right click a symbol and select "find usages". If the current symbol is a function, then "find usages" searches for all places where this function is called. If the current symbol is a

[2018-10-06 18:34] banister commented on #43188
Not having this feature is making it hard to migrate from emacs! Definitely need the ability to have multiple workspaces open at once. I was shocked that we couldn't actually!

[2018-10-06 18:35] g-arjones commented on #59635
@Tyriar How may I help?

[2018-10-06 18:36] RaedShari commented on #55236
I got the calendar, contacts, Photos dialogs. I opened my project using terminal `code .` when it was completely closed.

[2018-10-06 19:40] RMacfarlane commented on #60072
@rinoldsimon What language are you using?

[2018-10-06 19:52] RMacfarlane commented on #60067
@w9jds Hmm, I'm not able to reproduce this. Is this the most recent insiders?

[2018-10-06 20:53] barretojs commented on #10546
i know this issue is old, but this would be amazing

[2018-10-06 21:04] barretojs opened #60075 "allow renaming integrated-terminal tabs"
i wanted to be able to rename the terminal tabs, instead of it just showing the current command that's being executed.

for example: i have 3 microservices that'll run on 3 separate docker containers, and i want to separate each execution in the terminal tabs. but, since it only show the current command, all of the tabs are named "docker". it's not a huge problem, but it could simply be solved by

[2018-10-06 21:20] AndreSteenveld opened #60076 "Hitting the tab key inserts <tab></tab>"
Issue Type: <b>Bug</b>

I am not completly sure what the root cause is. But when I open a file and start typing everything works as you'd expect. After going to another window or to another file and coming back to the orginal one hitting the tab-key will insert ```<tab></tab>```

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x6

[2018-10-06 21:43] w9jds commented on #60067
@RMacfarlane Oh, interesting. If I try it in insider it works, but when I try it in `Code - OSS` for latest master branch it doesn't work. Then when I put in my fix then it works in `Code - OSS`

[2018-10-06 23:30] #59400 closed

[2018-10-06 23:57] cleidigh commented on #59876
@Tyriar
Thanks.
I think with all your new features of terminal I have to add some more tests for the select box role :-(

[2018-10-07 00:09] #60055 closed

[2018-10-07 01:13] xxbld opened #60077 "when i set "window.titleBarStyle": "custom" ,intellisense in *.vue files is slowly"
- VSCode Version: 1.27.2
- OS Version: win7

when i set "window.titleBarStyle": "custom",
intellisense  in  *.vue files  is  slowly;   "native" fast;

[2018-10-07 01:54] RMacfarlane commented on #60076
@AndreSteenveld @skbolton This is being caused by the vim extension: https://github.com/VSCodeVim/Vim/issues/3096

Looks like a fix has already been checked in for it, not sure when the next release will be. In the meantime, the extension repo has the `.vsix` files of the previous releases, so you could downgrade to the previous version

[2018-10-07 01:54] #60076 closed

[2018-10-07 02:05] RMacfarlane commented on #60067
Ah, I see. Nice catch!

[2018-10-07 02:38] RMacfarlane commented on #59814
Thanks @bm-stschneider! I haven't had luck reproducing this yet using these settings.

I know you checked disabling all extensions. Can you now try disabling only the `Editor Config` extension?

[2018-10-07 03:29] natuan62 opened #60078 "Terminal not show text "PS: ....""
- VSCode Version:  1.27.2 (user setup)
- OS Version: Windows 10 Version 1809 (17763.1)

Steps to Reproduce:

1. Open VSCode

![image](https://user-images.githubusercontent.com/10808157/46577901-96ef6800-ca1b-11e8-9649-61df5e918fcc.png)

Does this issue occur when all extensions are disabled?: Yes
![image](https://user-images.githubusercontent.com/10808157/46577915-dd44c700-ca1b-11e8-861d-61726bd02

[2018-10-07 03:49] nickisaacs commented on #40898
Still happening for me as well.

[2018-10-07 03:59] plhosk commented on #40898
I ran into a similar issue when working on a React Native project on Linux. It turned out that React Native process was overloading the file handles. I increased the file handles limit in Linux and the problem went away.

[2018-10-07 05:43] rinoldsimon commented on #60072
@RMacfarlane  `Ruby on Rails`

[2018-10-07 05:55] mrkno commented on #59323
Does anyone mind if I look at fixing this? It seems like it could be a relatively easy bug to solve for someone new to vscode

[2018-10-07 06:39] xxbld commented on #60077
i am sorry @_@ , it`s ok when i restated my computer. may be caused by  computer running more then one mounth!!

[2018-10-07 06:39] #60077 closed

[2018-10-07 06:47] Anti-Li opened #60081 "Warning `rejected promise not handled within 1 second` when running arbitrary extensions."
Issue Type: <b>Bug</b>

Warning `rejected promise not handled within 1 second` when running arbitrary extensions. Even the example "mock-debug", or a empty extension generated by "yo code".

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|I

[2018-10-07 06:48] Anti-Li commented on #60081
![image](https://user-images.githubusercontent.com/28052536/46579239-07a87b80-ca40-11e8-9796-41f1555ba5bf.png)

[2018-10-07 07:04] safield opened #60083 "quick open menu, open all listed files command."
I think a command that would open all currently listed files in the quick open (ctrl+p) drop down list, would be a super convenient feature.

If I have 4 files currently showing in the quick open drop down listed, hitting the shortcut for (the proposed) quickOpenAllFiles command, would open all 4 of those files in the editor.

The convenience comes from the fact that the quick open file search lev

[2018-10-07 07:34] #60052 closed

[2018-10-07 07:35] machta commented on #35901
Another possible workaround (Mint 19 MATE) is changing the terminal rendered like this
[code]

[2018-10-07 07:37] bpasero commented on #60064
@roblourens only seems to reproduce in your settings editor, maybe you can check

[2018-10-07 08:01] fenyiwudian opened #60084 "problem with replacing with history value"
- VSCode Version:
Version: 1.27.2 (user setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64
- OS Version:
windows10 and macOS seirra 10.12.6

Steps to Reproduce:

1.  open a file with content:
[code]
2. using search and replace view search 'aaa' and input 'a0a' as replacement, t

[2018-10-07 08:03] Ammat-ALLAH opened #60085 "Auto Import in C# for a ASPNET Core Project is not working"
Issue Type: <b>Bug</b>

Auto fix and Ctrl+. and Ctrl + space is not getting me any suggestion for the import statment for example I typed ICollection to declare a variable and as previously behaviour we type CTRL + . this Auto imports the name space of the collevtion generics , but the actual behaviour was nothing Suggested

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2

[2018-10-07 08:04] giooohernandez opened #60086 "Doesn't start on Windows 10 October 2018 Update"
Issue Type: <b>Bug</b>

After a few uses on W10 October 2018 Update, the application doesn't start up. If likes the app never has been installed on the PC.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17763

[2018-10-07 08:08] Neurrone opened #60087 "File renaming is inaccessible"
Issue Type: <b>Bug</b>

1. Press f2 to rename a file.

I expect NVDA to read it like it would any edit field, but arrowing around results in no feedback at all.

VS Code version: Code - Insiders 1.28.0-insider (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-03T12:44:29.343Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Co

[2018-10-07 08:11] dwelle opened #60088 "CSS files imported into JS not clickable"
- VSCode Version: 1.27.2
- OS Version: win 7

Steps to Reproduce:

1. `import` a css file into a js file
2. the css file is not clickable (cannot jump to file via `ctrl+click`)

Does this issue occur when all extensions are disabled?: Yes

![image](https://user-images.githubusercontent.com/5153846/46579829-4a0a9200-ca19-11e8-815e-02e854c7ac4c.png)

[2018-10-07 08:23] duongphuhiep opened #60089 "help menu appeared 2 times in the menubar"
Issue Type: <b>Bug</b>

Open the Issue Reporter, then close it
and I saw 2 help menu items, with exactly the same content

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.4.0-137-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz (4 x 3499)|
|GPU Status|2d

[2018-10-07 08:30] JimiC commented on #45963
@aeschli I've worked on this and have a working code. Will you accept a PR?

[2018-10-07 08:38] Neurrone opened #60090 "Combo boxes in issue reporter don't work as expected in NVDA"
Issue Type: <b>Bug</b>

1. Choose help -> report issue.
2. Press the down arrow key to start reading from the top. NVDA should be in browse mode, so I expect to be able to arrow through the entire document.

However, when encountering the issue type combo box, pressing the down arrow keys changes the selection without me going into focus mode. Additionally, you can't use the down arrow key to move

[2018-10-07 09:27] h2appy opened #60091 "No saving alert when renaming an unsaved file"
- VSCode Version: 1.27.2
- OS Version: macOS 10.14

Steps to Reproduce:

1. Edit a file and rename the file.
2. The edited content is missing.

Does this issue occur when all extensions are disabled?: No

[2018-10-07 09:31] h2appy commented on #60091
Not covered.

[2018-10-07 09:38] h2appy commented on #60091
I restart my vscode, and the issue is gone.

[2018-10-07 09:38] #60091 closed

[2018-10-07 09:44] usernamehw opened #60092 "Find widget not searching in deleted inline diff"
Issue Type: <b>Bug</b>

1. `"diffEditor.renderSideBySide": false,`
2. Search in deleted diff

It works when `"diffEditor.renderSideBySide": true,`.

---
VS Code version: Code - Insiders 1.28.0-insider (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-03T12:44:29.343Z)
OS version: Windows_NT x64 10.0.17134

[2018-10-07 10:36] ruant opened #60093 "Solution Explorer disable won't stick"
Issue Type: <b>Bug</b>

Open up some files so they are some in the tab.
Right click, uncheck solution explorer.
Change to a new tab.
Solution explorer is active again.
Change back to the tab that you disabled solution explorer on, active there too.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17763

<details><sum

[2018-10-07 10:43] jazieltan commented on #41513
Just to add on. I've also experienced this on Git Kraken on fullscreen. and I come to understand that both VsCode and Git Kraken are built on electron. I have a feeling this is an issue with electron itself?

[2018-10-07 10:45] jazieltan commented on #34934
#41513

[2018-10-07 10:45] jazieltan commented on #34934
#41513

[2018-10-07 10:47] britalmeida opened #60094 "VSCode hangs on Drag"
Issue Type: <b>Bug</b>

Steps to Reproduce:
 - Drag a file tab (as if to reorder) or drag a watch variable.

Result:
VSCode will hang as soon as the drag starts. I can see the dragged item being painted next to the mouse cursor which retains the closed hand symbol.
VSCode now is irresponsive and has to be manually killed.

VS Code version: code-oss-dev 1.29.0 (Commit 82192c3bcb, Date 07/Oct/2018)

[2018-10-07 11:46] amirafshari opened #60096 "Cannot edit in read-only editor"
Issue Type: <b>Bug</b>

Hi, I don't exactly know when it happened, but recently when I want to enter any input in output pannel I get that blue box which it says: 'Cannot edit in read-only editor'. I can edit my code, but I cant input anything from 'input()' command. How can I fix this?

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: W

[2018-10-07 11:52] usernamehw opened #60097 "Icon returns to activity bar after window reload"
Issue Type: <b>Bug</b>

For instance, extensions icon:

1. Remove extensions icon from activity bar
1. Open extensions <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>X</kbd>
1. Reload window
1. Extensions icon is now always visible

VS Code version: Code - Insiders 1.28.0-insider (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-03T12:44:29.343Z)
OS version: Windows_NT x64 10.0.17134

[2018-10-07 13:09] InnovativeCoder commented on #60036
@ChamuMutezva Is your problem resolved?

[2018-10-07 13:37] Cerberooo commented on #35901
@matcha works for ArchLinux with GNOME3 too.

[2018-10-07 13:55] britalmeida commented on #60094
Suggested issue #9915 seems unrelated.

[2018-10-07 13:56] SubhamSatyajeet opened #60099 "Visual Studio Code (User), Git for Windows (System) causes Segmentation Fault on every bash.exe command in Integrated Terminal"
- Visual Studio Code Version: 1.27.2 (User Setup)
- OS: Windows 10, version 17134.320

Steps to Reproduce:

1. Install Visual Studio Code (User Setup)
2. Install Git for Windows (System Setup) i.e. provide Administrator rights to the installer when prompted via UAC, and install within the default Program Files directory
3. Open Visual Studio Code. It asks for the Default Shell right away. Select b

[2018-10-07 14:04] schollii commented on #6614
I'm not seeing a way to commit. This is what I mean: I do a git rebase from command line (bash on ubuntu), and hits a conflict. I then go to the vs code window where the folder is open, and I can see there are conflict markers in the file. I resolve each conflict. In the Git panel on the left, I can see the file listed under Merge with a C as status, this becomes M once all conflicts resolved. The

[2018-10-07 14:12] JannikZed commented on #57851
Actually I'm facing the same problem on macOS 10.13.6 , Code Version 1.27.2, no errors in any logfiles.

[2018-10-07 15:34] AbhieShinde opened #60101 "VS Code isn't opens many times"
Issue Type: <b>Bug</b>

Couple of times i'm not able to run VS Code on my Lenovo IP520 ! I had to uninstall Code followed by Reinstallation to atleast open Code on next boot!!!!!! Please solve this?

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---

[2018-10-07 15:41] RMacfarlane commented on #60085
Hey @Ammat-ALLAH, since the C# extension is responsible for suggestions for C#, please re-open it on the extension: https://github.com/OmniSharp/omnisharp-vscode

[2018-10-07 15:41] #60085 closed

[2018-10-07 15:43] steevsachs commented on #60002
I’d like to work on this if it’s agreed to move ahead with the change.

For the record, I agree with the proposed change, but I could also see this as a configuration to preserve behavior for users used to it.

[2018-10-07 15:49] RMacfarlane commented on #60101
Did this start after updating windows? https://github.com/Microsoft/vscode/issues/60086

[2018-10-07 15:57] RMacfarlane commented on #60083
Duplicate of https://github.com/Microsoft/vscode/issues/55146

[2018-10-07 15:57] #60083 closed

[2018-10-07 15:58] egml commented on #60078
I have the same issue. This behavior appeared after last Windows 10 Autumn 2018 update (1809).

![vscode-terminal-blank-screen-problem-2018](https://user-images.githubusercontent.com/2691888/46583571-ba91cd00-ca72-11e8-85eb-467878a00854.gif)

When integrated terminal first appears, there is nothing in it, but it accepts input. And when you type first command and execute it, terminal starts to oper

[2018-10-07 16:04] saipradc opened #60102 "terminal"
Issue Type: <b>Bug</b>

when i m running the terminal, i guess the code is execuiting properly. But the terminal is not displying anything.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz (4 x 2592)

[2018-10-07 16:04] safield commented on #55146
+1 for this feature. It seems super useful.

[2018-10-07 16:11] RMacfarlane commented on #60094
Duplicate of https://github.com/Microsoft/vscode/issues/57766

Try launching code with the `--disable-gpu` flag

[2018-10-07 16:11] #60094 closed

[2018-10-07 16:15] RMacfarlane commented on #60047
@jesusbibieca What type of script are you running? Does this launch a different terminal, or run within the integrated terminal in VSCode?

This sounds like behavior being determined by the script, not VSCode

[2018-10-07 16:17] Sti2nd opened #60103 "No autocomplete for ".mjs" files"
`import { timpaniSounds } from "./soundImport.mjs";`

In the above example VS code will show all javascript files when writing "./", but not javascript module files. So I didn't see the above file in the list when trying to import it.
Not sure if this is a bug or a feature request.

[2018-10-07 16:17] RMacfarlane commented on #60093
Hey @ruant, since the solution explorer extension is responsible for determining when this view gets shown, please reopen this on the extension: https://github.com/fernandoescolar/vscode-solution-explorer Thanks

[2018-10-07 16:17] #60093 closed

[2018-10-07 17:47] Tyriar commented on #60102
https://github.com/Microsoft/vscode/issues/57803

[2018-10-07 17:47] #60102 closed

[2018-10-07 17:48] Tyriar commented on #60078
https://github.com/Microsoft/vscode/issues/57803

[2018-10-07 17:48] #60078 closed

[2018-10-07 17:51] Tyriar commented on #60075
There is a command to do this: ctrl/cmd+shift+p:

<img width="166" alt="screen shot 2018-10-07 at 10 50 52 am" src="https://user-images.githubusercontent.com/2193314/46584959-00bd4100-ca1f-11e8-95d6-005d0ffd2e3a.png">

[2018-10-07 17:51] #60075 closed

[2018-10-07 18:05] Tyriar commented on #59635
To fix this you need to symlink an extension that uses the API to `~/.vscode-oss-dev/extensions/<extname>` (on macOS, might be different on Linux).

The files of interest are:

- https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostTerminalService.ts
- https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/electron-browser/mainThreadTerminalService.ts
- te

[2018-10-07 18:10] kieferrm opened #60106 "Iteration Plan for October 2018"
This plan captures our work in **October**. This is a 5-week iteration. We will **ship** our October Update **in early November**. After this iteration, there will be one more iteration this year. It will also be 5 weeks long, and we'll ship the November Update in the first half of December.

After our focus was limited on issue housekeeping, we now also look at features again. For example, we'll

[2018-10-07 18:13] lepinekong commented on #38857
This is really scandalous that this issue has been closed 👎

[2018-10-07 18:55] DavidBabel commented on #45963
just tried it, nice work

[2018-10-07 18:57] roblourens commented on #60064
This is fixed already in master

[2018-10-07 18:57] #60064 closed

[2018-10-07 19:01] g-arjones commented on #59635
Oh, I see. Were you able to reproduce it?

[2018-10-07 19:02] jarrodldavis commented on #59066
I had this same issue on macOS Mojave (not sure if this was an issue with previous macOS versions) with VS Code Stable and I fixed it by disabling the global shortcuts in System Preferences > Keyboard > Shortcuts > Input Sources. I think macOS may have altered Input Sources settings because I also had menubar-related settings toggled on when I didn't explicitly enable them.

<img width="780" alt="

[2018-10-07 19:57] segevfiner commented on #40295
Atom's implementation of this is quite nice. It has an amend checkbox which brings the "commit to be amended" commit message, and files, into the UI. This allows you to remove files from the commit by "unstaging" (Not sure what this does in the underlying Git repository) them in the UI, and you can edit the commit message using the same UI as a normal commit. Avoiding a problem like this.

[2018-10-07 20:03] undoified opened #60109 "Visual Studio Code Segmentation Faults on Void Linux"
Launching Visual Studio Code fails and returns `Segmentation fault` with no other information given.

- VSCode Version: 1.27.2
- OS Version: Void Linux with all packages updated

Steps to Reproduce:

1. Download and extract the Visual Studio Code .tar.gz for x86_64 linux on Void Linux.
2. Launch Visual Studio Code

Does this issue occur when all extensions are disabled?: Yes

[2018-10-07 20:06] undoified commented on #60109
It looks like this is a duplicate... sorry.

[2018-10-07 20:06] #60109 closed

[2018-10-07 20:35] roblourens commented on #60084
I can't repro this, can you record a gif or video?

[2018-10-07 20:43] delreluca commented on #31047
I have a related issue I just stumpled upon.

- VSCode Version: 1.27.2
- OS Version: macOS 10.14

Steps to Reproduce:

1. Edit a Markdown file and have a split window with the rendered preview.
2. Use a three-finger tap to look up a word in the preview pane.
3. The dictionary definitions appear relative to the main window instead of the preview pane.
![screenshot 2018-10-07 at 22 35 49](https://us

[2018-10-07 21:01] Astrantia opened #60110 "Dynamic Menu Bar Priority?"
https://github.com/Microsoft/vscode/issues/14986 This has only 2 upvotes and from what I'm able to tell the October Iteration focuses on making vscode menu bar say Enter Full Screen / Exit Full Screen on state changes. How is this even important with regards to all the other upvoted feature requests? Why does this have any priority at all if it's not a 1 day fix?  refs https://github.com/Microsoft

[2018-10-07 21:06] Tyriar commented on #59635
@g-arjones no, but I believe I've heard this issue before.

[2018-10-07 21:08] joealden commented on #14165
What is preventing the devs from providing a configuration option for this? This issue has been open for almost 2 years, and it bugs me on a daily basis. Would love to see it fixed.

[2018-10-07 21:15] jcjocop opened #60112 "No hay proveedores de control de código fuente activos"
Hemos escrito los datos necesarios en su Portapapeles porque eran demasiado grandes para enviarlos. Ahora debe pegarlos.

[2018-10-07 21:15] jcjocop commented on #60112
Tengo instalado Git. Luego instalé la última versión de VSCode (VSCodeUserSetup-x64-1.27.2). Sin embargo, al seleccionar en la barra lateral izquierda el ícono de "control de código fuente" me indica que no "no hay proveedores de control de código fuente activos".

Qué puedo hacer ?

Gracias.

[2018-10-07 21:16] g-arjones commented on #59635
@Tyriar Well, unless I am overlooking something, seems to be a regression from 35ae86231af1afd17bedc69ae89daf6fc3bd0d92

[2018-10-07 21:50] muhammaddicky commented on #60086
#7570

[2018-10-07 22:32] eli-schwartz commented on #59350
Since commenting on https://github.com/electron/electron/pull/9518 has not gotten anywhere, I've submitted a new bug report for electron: https://github.com/electron/electron/issues/15011

[2018-10-07 23:39] RMacfarlane commented on #60110
Hi @Astrantia, please limit new issues to bugs and features requests. It helps us to manage issues if discussion is not spread across a number of different issues.

You can see our roadmap [here](https://github.com/Microsoft/vscode/wiki/Roadmap), one piece of this is the menu bar, which has been changed to a custom implementation recently. We do consider upvotes when planning, but improving and po

[2018-10-07 23:39] #60110 closed

[2018-10-07 23:53] Cerberus270 opened #60113 "Bad unident python"
Issue Type: <b>Bug</b>

:unindent does not match any outer indentation level (<string>, line 28)

VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) CPU G4400 @ 3.30GHz (2 x 3312)|
|GPU Status|2d_canvas: enabled<br>checker_

[2018-10-07 23:56] #60113 closed

[2018-10-08 00:32] parthsharma1996 commented on #57488
Was this fixed then or is there a workaround? I have the same issue

[2018-10-08 01:45] denosawr commented on #59711
I've done a little work looking into this, and it seems that there are two primary issues. First, VSCode's slugifier function doesn't add a suffix to each header's ID. Second, the underlying module VSC uses [`markdown-it-named-headers`](https://github.com/leff/markdown-it-named-headers) doesn't actually... seem to work... in regards to its functionality to provide a `used_headers` variable to the

[2018-10-08 01:56] XiaoDaJun opened #60114 "#region"
写出成对的#region后，在后面写当前#region的标题，敲回车，发现#region前多了一个#符号，变成 ##region，而且，回车后在#region内部的光标没有自动缩进；
另一个问题是，其他的自动补全代码，比如if（）{}，在括号中填写完内容， 敲回车，就会把右括号换到下一行中。
以上问题，是相比较visual studio类似功能来说的，VS中这两个操作已经很完美。

[2018-10-08 02:00] jiang-xiche commented on #59686
@octref i have try it but it still can't work

[2018-10-08 02:10] ryenus commented on #60106
Is it possible to propose https://github.com/Microsoft/vscode/issues/42880 which allows quick navigation across recently edited files? Thank you!

[2018-10-08 02:51] jesusbibieca commented on #60047
It's happening on all scripts I try... I work with node mainly, so what I mean is if I go to `Package.json` and I look for the script named `test` instead of goind to VScode console and typing `npm run test`, you right click the script name on the `package.json` and it shows run script as the first option. I click that and in the same VScode terminal it will run the command/script, however when it

[2018-10-08 02:59] eamodio commented on #55146
@safield totally agree, although what [Open Matching Files](https://marketplace.visualstudio.com/items?itemName=bcanzanella.openmatchingfiles) provides is about the best option until something like this is available.

[2018-10-08 03:05] RMacfarlane commented on #60114
Another problem is that other auto-completion code, such as if(){}, fills in the content in parentheses, hits Enter, and changes the right parenthesis to the next line.
The above problem is compared to the similar functions of visual studio. These two operations in VS are perfect.

@XiaoDaJun What version of VSCode are you using? What language are you coding in?

[2018-10-08 03:08] RMacfarlane commented on #60089
@duongphuhiep Does this happen reliably, every time you open and close the issue reporter? Do you also see this when all extensions are disabled? (Can run the command `Reload Window with Extensions Disabled` to test this)

[2018-10-08 03:10] jpike88 opened #60116 "Typescript Auto-import pulls in invalid syntax"
- VSCode Version: 1.27.2
- OS Version: MacOS Mojave

Steps to Reproduce:

1. Try to auto-import a dependency
2. It pulls in invalid syntax

![screen shot 2018-10-08 at 10 09 24 am](https://user-images.githubusercontent.com/9585787/46591055-3f67ff80-cae2-11e8-927c-f5ecfcef63d0.png)

Does this issue occur when all extensions are disabled?: Yes

[2018-10-08 03:12] RMacfarlane commented on #60116
Duplicate of https://github.com/Microsoft/vscode/issues/59506

[2018-10-08 03:12] #60116 closed

[2018-10-08 03:28] jpike88 commented on #59506
Might be related to this one

https://github.com/Microsoft/vscode/issues/59815

[2018-10-08 03:30] cleidigh commented on #60090
@RMacfarlane
FYI, I don't think you use the select box widget, but I think we may have similar issues navigating the new settings editor. let me know if there's something here we should move into selectbox also.

[2018-10-08 03:36] lmmm0013 opened #60117 "Emmet Typing semicolon should lead to skipping expanded semicolon character for CSS abbreviations"
I installed emmet，coding css

enter "w" key，choose "width: |;" options，
enter some value "width: 100px|;", now, the cursor is in the vertical line.
I have to use the right ARROW key to skip this Semicolon.
BUT, on the sublime, i just enter ';' auto replace cursor next Semicolon，like this "width: 10px|;" enter ";" result "width: 10px;|"

Can you give a setup option, like the sublime input method?

[2018-10-08 03:38] lmmm0013 commented on #60117
This happens when I use the sublime habit of Editing.
.header { width: 100px; height: 60px; font-size: 36px;|;;;}  line is cursor

[2018-10-08 03:55] RMacfarlane commented on #60081
I haven't been able to reproduce this yet. Are there any additional details in the dev console (`Developer: Toggle Developer Tools`)?

[2018-10-08 03:59] premku70 opened #60118 "Split terminal"
1.open terminal using ctrl +`

2.click on split terminal button more than two times

3.The third terminal window path and cursor are not visiable
4.click on  split terminal button the fourth terminal window button path and cursor not visible and it is scrolling down.

[2018-10-08 04:02] cleidigh commented on #60090
@Neurrone
@RMacfarlane
As I stated above, I have been looking at this relative to settings and selectbox. I found a pretty relevant and detailed reader mode explanation.  My interpretation is that in NVDA automatically switches to focus mode on a combo box.  Result: DownArrow change of selection once the select box has focus.

I think this may be an "as designed" ?
Additionally NVDA is pretty conf

[2018-10-08 04:07] i-shubhamprakash opened #60119 "Bug: Right clicking in the editor cause abnormal behaviour."
- VSCode Version: 1.27.2
- OS Version: Linux mint 19

# Bug description:

1. When I right click on the editor (not on the code), it opens Branch History menu.
2. When I right click on any code, it opens git diff view.
3. when I select text and then right click, it opens function definition view.
4. Sometimes it shows random behavior on right-clicking anywhere in the editor. For example, it opens t

[2018-10-08 04:23] cleidigh opened #60120 "Alternate link mechanism as NVDA "clickable" issue workaround"
Having done a lot with accessibility and labeling for the settings editor the issue with in NVDA repeating clickable multiple times on links is incredibly distracting for the accessibility user.  The issue link below describes the variety of problems and  discussion about solutions but you can see there's no clear progress.

Should we have a discussion on some current workaround solutions?

https:

[2018-10-08 04:29] RMacfarlane commented on #60119
@i-shubhamprakash Just to confirm, this is version 1.27.2 of VSCode?

[2018-10-08 05:07] i-shubhamprakash commented on #60119
Yes, My mistake. it is actually 1.27.2
I'll edit that.
Thanks

[2018-10-08 05:07] akaroml commented on #59684
@sandy081 thank you for the info.

@testforstephen please help upgrade `vsce` to the latest version in our CI pipeline.

[2018-10-08 05:15] bm-stschneider commented on #59814
Then the indentation seems to be correct.

[2018-10-08 05:43] sandy081 commented on #59948
Looks like Shared process socket is not released.

@joaomoreno Can you please advise how to get this released?

[2018-10-08 05:46] sandy081 commented on #60084
@rebornix Let me know if it is something to do with History.

[2018-10-08 06:12] #59700 closed

[2018-10-08 06:12] #59683 closed

[2018-10-08 06:12] #59661 closed

[2018-10-08 06:12] #59541 closed

[2018-10-08 06:17] CuongCoder opened #60121 "extensions host terminated"
Issue Type: <b>Bug</b>

extensions host terminated

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.17.13-041713-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz (4 x 2799)|
|GPU Status|2d_canvas: unavailable_software<br>checker_imaging: disabled_off<br>

[2018-10-08 06:28] innerlee commented on #57317
note: this feature `"autoCloseBefore"` is not documented here https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributeslanguages

[2018-10-08 06:28] skprabhanjan commented on #60088
@mjbvz , Can i work on this issue?

[2018-10-08 07:01] XiaoDaJun commented on #60114
VSCode Version: 1.27.2 (user setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z

I use C#.
Thanks.

At 2018-10-08 11:07:15, "Rachel Macfarlane" <notifications@github.com> wrote:

After writing the paired #region, write the title of the current #region in the back, hit enter, find a ## before the #region, become ##region, and, after the carriage return, the curso

[2018-10-08 07:02] moronito commented on #25887
+1

[2018-10-08 07:17] jrieken commented on #59953
This sounds just like workarounds. what you want is settings in sub folders.

[2018-10-08 07:20] jrieken commented on #217
@octref I what format, bitmap?

[2018-10-08 07:30] CaptainYouz commented on #59898
Hi @mjbvz
Any news on this one?

[2018-10-08 07:31] DanTup commented on #59953
Yes, that's true! Is it on the cards? (I assumed not, but that would be *waaay* better)

[2018-10-08 07:32] aeschli commented on #51032
Yes, good idea.
I was thinking we add a status bar entry for JSON like for TypeScript or TSLint. That can all be done on the [JSON client](https://github.com/Microsoft/vscode/blob/master/extensions/json-language-features/client/src/jsonMain.ts). Write a middleware that intercepts the diagnostics from the server, filter the [SchemaResolveError](https://github.com/Microsoft/vscode-json-languageservi

[2018-10-08 07:40] avi12 opened #60123 "Auto-save on type"
There's an [extension](https://marketplace.visualstudio.com/items?itemName=akhail.save-typing) that does this.
Would be nice if it would be a built-in feature, as this extension isn't perfect - if the file isn't already saved, the extension will prompt to save the file on every keyboard stroke.

[2018-10-08 07:41] AbhishekSharma20 opened #60124 "Indentation should consider escape sequence for SQL language"
Issue Type: <b>Bug</b>

If you see this command on vs_code, the code does not gets indented properly because of a ' character in the string which is escaped by \.

SELECT 0                                  AS passed,
       4195                                      AS pre_id,
       f.id,
       f.sig_id,
       f.build_id,
       f.tc_id,
       f.batch_id,
       spf.cycles,
       spf.cpu_time,

[2018-10-08 07:45] aeschli commented on #45963
@JimiC I'd like to see the way you did it. If it fits nicely to our extension story, of course, we can add that.

[2018-10-08 07:46] bmqy opened #60125 "一键打开hosts文件"
Issue Type: <b>Feature Request</b>

希望可以支持，一键打开hosts文件以供开发人员快速编辑

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

[2018-10-08 07:46] DanTup commented on #59984
This turned out to be a silly error on my part - there was a code path that logged that it was sending a `BreakpointEvent` but did not (the code is slightly complicated by breakpoints being per-thread and there may be 0 threads at the time `setBreakpointsRequest` is called). Apologies!

[2018-10-08 07:53] manjrekarom commented on #21189
So we just need to Add/Remove remotes? Like `git remote add <remote-name> <url>` and `git remote rm <remote-name>` but from the Quick Open? Do I understand it right?

[2018-10-08 07:55] DanTup commented on #59984
Actually, this is still failing. I put a breakpoint where requested and the first two hits are as expected - a `new` breakpoint with id `1` and `2`. However when the the `changed` request comes in to move breakpoint `2` to `line: 10` I see this:

![screen shot 2018-10-08 at 8 53 25 am](https://user-images.githubusercontent.com/1078012/46597368-c06dc980-cad7-11e8-9f8e-a57664b3cce6.png)

It looks li

[2018-10-08 07:56] DanTup commented on #59984
From there, I hit `Step Over` and it stopped on line 382 (as expected), then I hit `Step Over` again expecting it to stop on 391 but it didn't, it stopped on 399. I don't know whether that's really where it is or not.

![screen shot 2018-10-08 at 8 55 46 am](https://user-images.githubusercontent.com/1078012/46597442-fdd25700-cad7-11e8-8ad1-d4245c70f243.png)

[2018-10-08 08:00] JimiC commented on #45963
@aeschli I tried to follow the patterns you use for exposing the API. My question before I submit the PR is on what branch should I base the PR on?

[2018-10-08 08:02] DanTup commented on #59984
Ok, somehow my tooltips are showing more info here. Not sure what's with `idFromAdapter` here - it should be `2` but it's showing `(...)` (I don't appear to be able to inspect it any further - `this.model` doesn't exist in console/watch window):

![screen shot 2018-10-08 at 9 01 37 am](https://user-images.githubusercontent.com/1078012/46597624-df209000-cad8-11e8-932a-fcece15bde1d.png)

[2018-10-08 08:10] DanTup commented on #59984
Aha, I was able to `Store in Global variable` to get at it. The `(...)` was a getter, and when invoked, it returned `undefined`:

![screen shot 2018-10-08 at 9 03 38 am](https://user-images.githubusercontent.com/1078012/46597697-2018a480-cad9-11e8-8063-a53f913aeb49.png)

So the issue seems to be that `idFromAdapter` is not set correctly on the original breakpoints so it's not finding it during the

[2018-10-08 08:13] GongT commented on #60125
👎 这不是一个编辑器或者通用的IDE该做的
不过你可以写个插件

[2018-10-08 08:13] muyu66 opened #60127 "Please provide a split terminal to a separate suspendable top function"
Please provide a split terminal to a separate suspendable top function

I am using CMDER to connect windows10's WSL now. When i find vscode support WSL, i am happy.
I wish vscode's terminal can split to a Window so that i can work like Windows Terminal before

[2018-10-08 08:15] GongT commented on #60125
She wants a "open hosts file" button on VS Code

[2018-10-08 08:15] isidorn commented on #60057
We already have quite some mechanisms for providing launch configurations. Please check out our docs https://code.visualstudio.com/docs/extensions/example-debuggers
What you seem to be wanting is a debug adapter which resolves a debug configuration provider fully such that the user does not have to add anything. That in theory is possible with the resolveDebugConfiguration api.

I understand that

[2018-10-08 08:28] bpasero commented on #26284
Thanks to @usernamehw this is now in:

![image](https://user-images.githubusercontent.com/900690/46598552-c3bb8200-cae4-11e8-8d28-b7d15b9b78ca.png)

New colors for theme authors:
* `tab.activeModifiedBorder`
* `tab.inactiveModifiedBorder`
* `tab.unfocusedActiveModifiedBorder`
* `tab.unfocusedInactiveModifiedBorder`

Setting to enable this: `workbench.editor.highlightModifiedTabs` (off by default)

[2018-10-08 08:29] alexandrudima commented on #58921
@mitchellpalermo You can use this test page from w3c -- https://www.w3.org/2002/09/tests/keys.html

If Shift+Option+LeftArrow works in Firefox/Safari on that machine and does not work on Chrome, you can create a new issue at https://bugs.chromium.org/p/chromium/issues/list

Because this reproduces on both Chrome and VS Code - both built with Chromium -- I believe this is an upstream issue and shou

[2018-10-08 08:32] thany commented on #33607
That's not really a solution. The extension needs permission for VSCode to change itself, which is frankly terrifying. This needs a proper fix.

[2018-10-08 08:32] alexandrudima commented on #59008
@Lynn-cc By using `Control-M` it is possible to toggle the behaviour of <kbd>Tab</kbd>. Does your status bar show "Tab Moves Focus"?

![image](https://user-images.githubusercontent.com/5047891/46598707-55c38a80-cae5-11e8-8526-1490db043b1f.png)

Alternatively, you can execute F1 > Toggle Tab Key Moves Focus

This toggles the <kbd>Tab</kbd> key between trapping focus (inserting the `\t` character or

[2018-10-08 08:32] present86 opened #60128 "Visual Studio Code - Fedora Rawhide Segfault"
Hello installed visual studio code from Microsoft repo git this error

`/usr/bin/code: line 35:  3391 Segmentation fault      (core dumped) ELECTRON_RUN_AS_NODE=1 "$ELECTRON" "$CLI" "$@"
`

- VSCode Version: 1.27.2
- OS Version: Fedora Rawhide

Steps to Reproduce:

1. Reinstall VS Code still same
2. Reinstall Glibc as reffered on Archlinux but still fail

Does this issue occur when all extensions

[2018-10-08 08:33] GongT commented on #60117
same here, using webstrom.

[2018-10-08 08:34] bardware commented on #29445
Ctrl+space triggers autocompletion, came as a surprise to me if it came up with an older input.

[2018-10-08 08:35] isidorn commented on #60070
Dup of https://github.com/Microsoft/vscode/issues/10979

[2018-10-08 08:35] #60070 closed

[2018-10-08 08:38] isidorn commented on #60096
Output pannel was always read only and nothing changed here.
Try changing the panel by clicking on the debug console or on the integrated terminal. Or jsut type in the editor which is not readonly.

[2018-10-08 08:38] #60096 closed

[2018-10-08 08:41] comgit commented on #37932
@JimiC Why should this be off by default?

[2018-10-08 08:41] alexandrudima commented on #55738
@roblourens Have you tried https://regex101.com/ -- I have used that successfully to pinpoint catastrophic backtracking.

[2018-10-08 08:43] Michel73 commented on #37932
@JimiC Why should this be off by default?

[2018-10-08 08:51] weinand commented on #60047
@egamma I'm not sure whether this is tasks or npm?

[2018-10-08 08:58] jrieken commented on #59505
I have pushed a change to prefix the names with `prof`, despite `cpuprofile` being part of their name already. With this change things sort/group nice. I stick to the home folder.

[2018-10-08 08:58] #59505 closed

[2018-10-08 09:01] bensonzhow opened #60129 "莫名假死"
Issue Type: <b>Bug</b>

打开typescript编译后的文件，几分钟后莫名假死！需要重新打开！

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4570 CPU @ 3.20GHz (4 x 3192)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enab

[2018-10-08 09:02] chrmarti commented on #37932
@Michel73 When it opens without anything prefilled it shows the 'recently opened' files with the most recent ones first. Having a value prefilled hides that feature, which makes me think we should not enable it by default. I use the 'recently opened' files a lot, so I might be biased by that.

One variation I would like to try (and we discussed in the team) is to remember the last value for each p

[2018-10-08 09:06] isidorn commented on #60120
@cleidigh reading the discussion it seems like it is fixed in chrome cannary in december 2017.
I am not sure what version of chrome is that, but I would put my money on that we still did not pick up that update on electron? What would be your estitimate @bpasero
@cleidigh is there some easily reproducable issue on our side which we could try out with https://github.com/electron/fiddle and try out

[2018-10-08 09:07] alexandrudima commented on #59177
Duplicate of #58273. The fix is available in the [Insiders release](https://code.visualstudio.com/insiders/) and will become available with the next Stable release.

[2018-10-08 09:07] #59177 closed

[2018-10-08 09:07] #59832 closed

[2018-10-08 09:13] Adunaphel commented on #54024
Using MX Master on both Windows 10 (1803 and 1809) and Mac OS Mojave, horizontal scroll works fine on Mac OS, not working on Windows.
* Working fine on Monaco https://microsoft.github.io/monaco-editor/
* Not working in Electron Fiddle
* Both machines are using stable branches of VS Code
* Logitech Options on newest version
* No per app settings configured
* OSes kept up to date

[2018-10-08 09:14] stereokai commented on #33110
@remino It's not for comparison, it's for editing! We don't want a diff, we want to edit two files side-by-side and sync their scrolling.

[2018-10-08 09:15] batjko commented on #57776
Thanks for that. I'm switching to Insiders then...

[2018-10-08 09:16] bpasero commented on #16982
Duplicate of https://github.com/Microsoft/vscode/issues/60120

[2018-10-08 09:16] #16982 closed

[2018-10-08 09:17] pauloz1890 opened #60130 "Freezing Windows 10 OS with Audio/Video in background"
Issue Type: <b>Bug</b>

The OS completely freezes up while using VSCode and using audio/video. If VSCode is running and I use Spotify, Windows Media Player or have a YouTube video running in my browser (usually Firefox) then the OS begins to slow down (mouse becomes glitchy and clicking/typing becomes unresponsive) and eventually it comes to a complete freeze (mouse cannot move and screen is still

[2018-10-08 09:18] bpasero commented on #60120
@cleidigh @isidorn just try it out with our exploration builds if the fix is in. If not, I would think we need to check with Electron 4 once we get there (next year).

Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/45498d93166483c2eff886e28f8dab915ae382fc/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/5a736c2e4904ed114fae2d59

[2018-10-08 09:24] dsanz006 opened #60131 "Enable separeate preview modes for Search & Replace results"
There is a setting called `"workbench.editor.enablePreview"`, which I currently have set to `false`, mainly because I use my keyboard arrows to navigate through files in the file explorer, and it annoys me that when I open a file pressing Enter, it opens it in preview mode (I would have to double click on it with my mouse to open it and keep it, but as I said I am barely using my mouse).

However,

[2018-10-08 09:27] WangZishi commented on #60129
Maybe you can try to disable all the 3rd part extensions first and see whether it is the extensions problem.

[2018-10-08 09:32] BeatMercy commented on #54024
now my mouse works fine with the newest  Logitech Options........on Windows 1809😂
Actually, my problem solved since the logitech options update months ago

[2018-10-08 09:35] BeatMercy commented on #54024
If problem still haunting around, see also -> https://github.com/Microsoft/vscode/issues/56964

[2018-10-08 09:35] #54024 closed

[2018-10-08 09:41] alexandrudima commented on #59247
You can use the `editorScroll` command in your `keybindings.json`:

e.g.

[code]

[2018-10-08 09:41] #59247 closed

[2018-10-08 09:41] SanwariyaAmit commented on #54024
Issue still occurs on 1809.

[2018-10-08 09:44] muuvmuuv opened #60132 "Store plugin activated/deactivated in .vscode/plugins.json"
I would like to activate and deactivate some plugins for different projects. I know this is already possible within the extensions tab, but I would like to control this by a file.

This feature would be very useful for coding with others in my team. So their VS Code would not load any PHP extension in a js project but still for other projects.

The file would be stored in `.vscode/plugins.json`

T

[2018-10-08 09:44] alexandrudima commented on #59626
@WOo0W I am not 100% sure what the issue is here? Do you mean that the file is detected to be with indentation Spaces @ 2 when opening it ?

[2018-10-08 09:46] Michel73 commented on #37932
@chrmarti Ok, now I understand the question about the default.
I'm afraid I have no time for further contributions now, but i would appreciate it very much if the prefill feature gets into the release soon.

[2018-10-08 09:47] alexandrudima commented on #59698
Duplicate of #32856

[2018-10-08 09:47] #59698 closed

[2018-10-08 09:48] SanwariyaAmit commented on #56964
Still facing the issue on Windows Build 1809 with Logitech Options 6.92.275

Previous Details:
Screencast of the Bug: https://www.screencast.com/t/3ot5VFKTBSEt
I'm using the Logitech M720 Triathlon
There's a jerk (brief movement) on trying to scroll but then it stops responding completely.

More Details:
Horizontal Scrolling on mouse doesn't works in VS Code stable, insider and exploration builds.

[2018-10-08 09:49] alexandrudima commented on #59732
@bpasero I'm not 100% sure, is this not already shown in the status bar? (`UTF8 with BOM`)

[2018-10-08 09:49] deftomat commented on #56909
@premun Hi, I'm not sure if it can helps, but can you give a try to the latest version (`3.2.0-dev.20181006`)? It helps us a lot. For more info see https://github.com/Microsoft/TypeScript/issues/26680.

[2018-10-08 09:50] #53948 closed

[2018-10-08 09:55] aeschli commented on #45963
on master. We can help with the exact shape of the API. No need to get it right the first time I will take a while to settle as APIs will be reviewed and discussed in the team anyways.
Just make a PR so I get an idea of how it's done in the underlying code.

[2018-10-08 09:58] JimiC commented on #45963
Roger, roger.

[2018-10-08 09:59] sguillia commented on #33110
@stereokai We want synchronized scrolling on two editors. An editor can be a file but also a diff. We may want to compare two diffs side-by-side too!

[2018-10-08 10:02] alexandrudima commented on #59846
VS Code is automatically normalizing line endings when the file is opened. If a file has more than 50% of lines ending with a certain end-of-line-sequence, then that end-of-line-sequence is considered to be the one for the entire file. The file is presented as non-dirty to the user and on the first save, the normalized line endings will be saved to disk.

In the API, this is reflected in `TextDocu

[2018-10-08 10:06] alexandrudima commented on #59937
This is as designed. The cursors move according to your instructions. When you press arrow left/right, the cursors move by **1 character**. When you press ctrl+arrow left/right, the cursors move by **1 word**. In other words, the cursors move as you want them to move, they are not synced in any special way, they are not tied up to the initial selection in any way.

[2018-10-08 10:06] #59937 closed

[2018-10-08 10:10] Anti-Li commented on #60081
![image](https://user-images.githubusercontent.com/28052536/46603088-9ee6ff00-cb24-11e8-93e3-a750465b0469.png)

## From the development host

![image](https://user-images.githubusercontent.com/28052536/46603179-e4a3c780-cb24-11e8-96b5-e270a9aa28c4.png)

<details>
<summary>Log from Toggle Developer Tools</summary>
[-1538993358905.log](https://github.com/Microsoft/vscode/files/2455509/-1538993358905

[2018-10-08 10:12] alexandrudima commented on #60003
@safield Do you mean you would like for the animation to play slower? The animation duration is for now hard-coded at 125ms -- https://github.com/Microsoft/vscode/blob/e2027598992e56d7f6f6f26f804d53449ea1a2ee/src/vs/editor/common/viewLayout/viewLayout.ts#L16

[2018-10-08 10:13] jrieken commented on #217
Plan is to design this to be like the async clipboard API: https://www.w3.org/TR/clipboard-apis/#async-clipboard-api, https://developer.mozilla.org/en-US/docs/Web/API/Clipboard. Something like this

[code]

The more generic `read`/`write` apis might become a challenge because Electron doesn't provide a good foundation for this (and because it would require chrome 66 to get this form the browser).

[2018-10-08 10:18] myfrom commented on #54024
@beatmercy Could you post the version of Logitech Options that you're on?

[2018-10-08 10:18] alexandrudima commented on #60021
@tigoe Most of the times people have configured something and then have forgotten about it, like e.g. in a folder setting.

Can you please do the following for me:
* open VS Code
* File > New Window to get a brand new window (no folder settings)
* File > New File to get a brand new file (no language specific settings)
* paste a long text like this one: `This is a long text. This is a long text. Th

[2018-10-08 10:19] jithinkmatthew commented on #59656
Facing the same issue in VSC version 1.27.2 (1.27.2)
Os : Mac Os High Sierra 10.13.6 (17G65).

[2018-10-08 10:33] Cow258 opened #60133 "Javascript Intellisense "await" keyword missed"
Issue Type: <b>Bug</b>

1. Install VSCode Insiders 1.28.0
2. Create .js file
3. Create async function
4. Enter "aw"

await keyword is working on VSCode 1.27.2

Here are some screenshoot with
[VSCode 1.27.2](https://drive.google.com/file/d/1FnrJWjiG0KRtNDbJnIhGDSlkvDdJvH1x/view?usp=sharing)
[VSCode Insiders 1.28.0](https://drive.google.com/file/d/1vqJyaR4GUGf51pUmVey2f-OtzmGOu7kM/view?usp=sharing)

[2018-10-08 10:35] DanCarl857 commented on #60101
Hello,

I too face this issue both with Visual Studio Code and the Insiders version. Sometimes even reinstalling doesn't fix the problem.

OS version: Mac OS Sierra

[2018-10-08 10:36] ChamuMutezva commented on #60036
Yes the problem has been eliminated. I reinstalled visual studio code and has been working fine.

[2018-10-08 10:39] tomatau commented on #18805
This is a fairly basic feature, please add

[2018-10-08 10:53] tigoe commented on #60021
I followed those steps to the letter, and word wrapping still does not work.

I also launched vscode with all extensions off (got that from one of the other issue reports) and still it does not work.

In the user settings, word wrap is on, columns 80.

I found the culprit though: I have the screen reader optimization on, in order to test what I'm doing for visually impaired users, and that disable

[2018-10-08 11:16] garima-birdeye opened #60134 "Its getting really slow these days, trying to commit my file not showing my changes"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:47:41.889Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
jsx|Twe|0.0.1
html-css-class-completion|Zig|1.15.0
html-snippets|abu|0.2.1
vscode-eslint|dba|1.4.10
vscode-html-css|ecm|0.1.8
intellij-idea-keybindings|k--|0.2.17
react-beautify|tai|0.3.0

---

Steps to Re

[2018-10-08 11:16] DanTup opened #60135 "Is there a way for an extension to prompt to install another extension?"
We're considering moving some functionality from the Dart extension into the Flutter one (which is currently essentially empty with a dependency on Dart). We'd like to be able to prompt users to install the Flutter extension if they open a Flutter project with only the Dart extension installed.

I saw `workbench.extensions.action.showExtensionsWithId` in the source, but I was unable to make it wor

[2018-10-08 11:18] DanTup commented on #217
@jrieken Is it likely this would enable https://github.com/Microsoft/vscode/issues/30066? It'd be great if copy/pasting code could automatically bring required imports/aliases/etc.

[2018-10-08 11:33] dwilliamson commented on #59247
Oh my word, this is beautiful.

[2018-10-08 11:45] ahmeddabak commented on #10121
keep up the great work, and please support floating terminal soon 😍

[2018-10-08 11:46] BeatMercy commented on #54024
- Software: Logitech Options version is 6.92.275
- OS: Window 1809
- Laptop: Asus FX50j
hope it help~~

[2018-10-08 11:53] stereokai commented on #33110
@sguillia I am all for it! :)

[2018-10-08 11:58] jrieken commented on #217
@DanTup #30066 isn't related to this

[2018-10-08 12:02] bpasero commented on #39335
@SebTardif does https://github.com/Microsoft/vscode/issues/26284#issuecomment-427756092 help you?

[2018-10-08 12:04] Neurrone commented on #60090
@cleidigh it isn't activating focus mode, in fact I can't turn focus mode off because it is in browse mode. However, it is just stuck there within the 3 options of the combo box.

[2018-10-08 12:10] the-ress commented on #10633
It would be great if at least the search sidebar had toggles like this:

![image](https://user-images.githubusercontent.com/1612377/46608096-ce394400-cb03-11e8-9b9b-65d37e6ccd20.png)

[2018-10-08 12:35] #58907 closed

[2018-10-08 12:45] anuShah opened #60137 "Project auto restart in visual studio"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.17134
- Extensions:

Extension|Author (truncated)|Version
---|---|---
tortoise-svn|fan|0.1.1
autoimport|ste|1.5.3

---

Steps to Reproduce:

1.
2.

Reproduces without extensions: Yes/No

[2018-10-08 12:45] rafaelbdb opened #60138 "Source Control > Stash doesn't clear file list"
Issue Type: <b>Bug</b>

I make changes to some files, then go to Source Control > ... > Stash, give the stash a name and confirm with [Enter].

The changes in my files dissapear, but the files are still listed at Source Control.

I have to repeat the procedure so they vanish from the list.

Same happens when I call back the stashed files with Source Control > ... > Pop Stash (I have to repeat the

[2018-10-08 12:52] jrieken commented on #44860
@mjbvz For this to work, we would need to get the full path (or at least the name with its extension), e.g. as documentation label...

[2018-10-08 12:55] rafaelbdb opened #60139 "Breakpoint set but not yet bound (Issue #625) still exists"
Issue Type: <b>Bug</b>

VSCode version 1.27, and the breakpoint issue is not solved yet.

I try to set breakpoints (clicking on the red dots), but when I run the debugger, it says "Breakpoints set but not yet bound".

-------------

Same as issue #625:
https://github.com/Microsoft/vscode-react-native/issues/625

I'm creating this new issue acording to #625's last comment by ruslan-bikkinin.

VS Co

[2018-10-08 13:01] tcabolov opened #60140 "TabPanel is showing only one tab at a time, which takes 100% of the width"
Issue Type: <b>Bug</b>

1. Open VSCode
2. Open any directory/file in VSCode
3. If opened directory, click on any file in the Explorer pane

**Expected behavior**
A tab is opened for the file. Tab width is normal (not stretched to fit the whole window width)

**Actual behavior**
A full-width tab is opened. The tab is being replaced by another file's tab even if the previous tab was not "Preview" ta

[2018-10-08 13:02] dominictwlee commented on #56890
Just heads up @joaomoreno @ruslan-bikkinin even with vscode being launched from terminal it no longer works.

[2018-10-08 13:06] tcabolov commented on #60140
Sorry, that was a misconfiguration. Somehow `workbench.editor.showTabs` was set to `false`. Sorry for disturbing 🤷‍♂️

[2018-10-08 13:06] #60140 closed

[2018-10-08 13:11] alexandrudima commented on #59330
Have you seen https://github.com/Microsoft/vscode/wiki/Keybinding-Issues#troubleshoot-linux-keybindings

![image](https://user-images.githubusercontent.com/5047891/46610931-77843800-cb0c-11e8-8c60-9df8c11ffe4f.png)

Duplicate of #23690

[2018-10-08 13:11] #59330 closed

[2018-10-08 13:27] alexandrudima commented on #57697
@borekb In the CPU profile you have attached, there is a lot of CPU usage in a method named `getGitProviderOwnerAndRepositoryFromGitConfig`. Almost like it is called in a loop or something:

<img width="761" alt="screen shot 2018-10-08 at 15 24 30" src="https://user-images.githubusercontent.com/5047891/46611510-515f9780-cb0e-11e8-9c4d-34e0a661ff52.png">

After searching for the long method name on

[2018-10-08 13:28] ssotomayor commented on #26952
Any reason why you don't make a PR with that change @grabantot ? I didn't test it but this feature would be quite useful as i usually have to re-type the ticket number when there's JIRA integration :/

[2018-10-08 13:38] yuzd opened #60142 "How to add cmd+alt+click for 【goto implemmentation】"
cmd + click can go to  definition
but how to add cmd+alt+click for 【goto implemmentation】

[2018-10-08 13:39] #59966 closed

[2018-10-08 13:43] alexandrudima commented on #2654
@matsieftw color decorators are not taken into account when computing wrapping points (#32856)

[2018-10-08 13:43] borekb commented on #57697
@alexandrudima Thanks! Will do.

[2018-10-08 13:48] alexandrudima commented on #59646
@peat-psuwit Thank you for the thorough issue!

If `Shift+Tab` is received correctly in the Electron 2.0.9 demo app, then the only thing that could be different that could impact things would be the menu.

Does this reproduce when disabling native menus? (`window.titleBarStyle` to `custom`) or when hiding them?

[2018-10-08 13:55] matsieftw commented on #2654
What does that even mean? My lines wrap fine, VSCode still makes the file super wide so it still has a horizontal scroll. As I asked in my original ticket. I’d like to be able to disable horizontal scrolling since word wrapping and limiting the number of columns does not appear to be an effective way to disable the horizontal scroll bar.

[2018-10-08 14:04] alexandrudima commented on #59643
@StephenWeatherford Most of the times, there is a correlation between the `contributes` section and the `activationEvents` section. But that is not necessary.

Take, for example, keymap extensions, like this one -- https://github.com/Microsoft/vscode-atom-keybindings/blob/master/package.json . That extension contributes a lot of `keybindings` where a lot of `commands` are named. That does not mean

[2018-10-08 14:04] #59643 closed

[2018-10-08 14:08] davidkwan95 commented on #60084
I can take this if I can get some pointers on where to start

[2018-10-08 14:12] #59328 closed

[2018-10-08 14:13] remcoros commented on #1012
The proposed extension (overtype) registers the 'type' command, which conflicts with other extensions, like VIM, AceJump, Jumpy, etc.

See: https://github.com/Microsoft/vscode/issues/13441

[2018-10-08 14:16] #60139 closed

[2018-10-08 14:23] SimonGustavsson opened #60145 "High CPU Usage (Windows)"
Issue Type: <b>Bug</b>

If I launch VS Code and use "Open Folder" on a certain project's folder then VS Code repeatedly and indefinitely spawns a child WMI process very ~1 second that eats up a lot of CPU. The query it runs is "wmic process get CommandLine,CreationDate,ParentProcessId,ProcessId".

I tried to track it down myself to no avail. I've tried --disable-extensions as well as -n, same issu

[2018-10-08 14:31] isidorn commented on #60139
vscode-react-native

[2018-10-08 14:34] jrieken commented on #59237
I can add a stream to vscode-nls-dev that does this. Today, `rewriteLocalizeCalls` does two things: 1) rewrite the calls to localise and 2) generate those meta-data-files. I will create a separate stream for 2) so that the gulp story stays complete...

I think the easiest would be to bundle that module before publishing it. That would ensure the nls files are inside the module files...

[2018-10-08 14:35] igolskyi commented on #32170
@jrieken does it work only in the insider version, for the present?

[2018-10-08 14:37] igolskyi commented on #32170
@jrieken it's cool, but is it work only in the insider version, for the present?

[2018-10-08 14:38] igolskyi commented on #32170
@jrieken it's cool, but is it work only in the insider version, for the present?

[2018-10-08 14:45] paukul commented on #12115
👍

[2018-10-08 14:48] pyuser00 opened #60146 "PYTHONPATH not clearly defined"
Issue Type: <b>Feature Request</b>

I cannot find a clear answer on how to define multiple paths for the PYTHONPATH variable. I have tried all possible combinations of different solutions posted on various sites, but none of them work. Why can't this be clearly documented somewhere?

I tried the following (all with double backslashes, but they scrubbed out):

"env": {"PYTHONPATH": "D:\\Users\\path

[2018-10-08 14:52] codebytere commented on #59887
hi all! @brunnopleffken actually Electron 3.0.0 has been out of beta since the 20th, and i've got a PR up that may fix this; it'd go out in an upcoming patch release ✨

[2018-10-08 14:53] mprobst opened #60148 "@fileoverview auto-completes to @fileOverview"
Issue Type: <b>Bug</b>

When typing `/** @fi[ ]` in a TS file, VS Code auto-completes to `@fileOverview` (note the camel case). That's wrong, there's only `@file` or `@fileoverview`:
http://usejsdoc.org/tags-file.html

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Valu

[2018-10-08 14:54] TanxyRogue commented on #59968
I seem to have encountered a similar issue except in this code no longer opens at all.
When I open the program the cursor turns to the loading cursor and then.......
Nothing.
No white or black screen nothing.
So I decided to check the task manager and as I feared, when I double click vs code it appears for a second before disappearing.
It seems it definitely had something to do with the c++ extens

[2018-10-08 14:54] skprabhanjan commented on #60131
@roblourens , can I work on this ? :)

[2018-10-08 14:56] joaomoreno opened #60149 "Git: Can't rebase continue or commit without modified files"
From @schollii

1. While a branch is checked out, I do a `git rebase master` from command line (bash on ubuntu), and git hits a conflict.
2. I then go to the vs code window where the folder is open. In the Git panel on the left, I can see the file listed under Merge with a C as status, and I can see there are conflict markers in the file.
3. I resolve each conflict and save.
4. The file status cha

[2018-10-08 14:56] joaomoreno commented on #6614
If this happens, you resolved the conflicts in a way that a commit isn't necessary, eg: picked all changes from the same side.

It's a valid issue, I've created #60149

[2018-10-08 15:05] skprabhanjan commented on #60149
@joaomoreno , can i work on this? :)

[2018-10-08 15:06] bpasero commented on #5344
We are close, but there is https://github.com/Microsoft/vscode/pull/55267#issuecomment-427870573

[2018-10-08 15:09] RMacfarlane commented on #60081
Thanks! Based on the callstack in the second screenshot, this warning is from the C++ extension: https://github.com/Microsoft/vscode-cpptools

Since this is being caused by an extension, please reopen it there

[2018-10-08 15:09] #60081 closed

[2018-10-08 15:11] #60137 closed

[2018-10-08 15:12] CallumRaabe commented on #59968
I mentioned in my original post it didn't seem to be isolated to just the C/C++ extension, the same error occurs with C# and Java files (both brand new files and tests with my previous work) with their respective extensions installed from my testing on both my affected PCs, and the 'missing formatter' error appears to be appearing on existing files now (tested with C, C# and Java files)

[2018-10-08 15:13] bpasero commented on #59656
@jithinkmatthew please run the code --status when you see the high CPU spike.

[2018-10-08 15:14] bpasero commented on #59732
@alexandrudima yeah that is right, however I thought this issue asks for actually printing the BOM as text of the editor so that (I guess) you can potentially remove the BOM (or add it?)

![image](https://user-images.githubusercontent.com/900690/46617671-9808be00-cb1d-11e8-84de-15374f3b74b4.png)

[2018-10-08 15:14] octref commented on #59505
I'm giving it a bug label so this can get verified.

[2018-10-08 15:18] octref commented on #59686
If you disable all other extensions and only enable Vetur, does this happen?
Also, try `Developer: Reinstall Extensions` for Vetur in case you have a corrupted install.

[2018-10-08 15:18] RMacfarlane commented on #60072
Thanks @rinoldsimon. The `Find All References` feature for Ruby isn't built into VSCode by default, but added by an extension. Please reopen this issue on the extension you're using

[2018-10-08 15:18] #60072 closed

[2018-10-08 15:25] DanTup opened #60150 "debug.inlineValues does not appear to honour line/column information from scope"
I'm trying to improve the display of `debug.inlineVariables` for Dart. I saw that would code provide [Source and line/column information](https://github.com/Microsoft/vscode-debugadapter-node/issues/78) for a `Scope` to control where the inline values would appear, but it seems to be ignored in my testing.

I've hard-coded some values from line 6-11:

<img width="889" alt="screen shot 2018-10-08 a

[2018-10-08 15:33] #60125 closed

[2018-10-08 15:38] jrieken commented on #59237
Actually, after taking a second look... this is possible. I can add a flag to the loader to emit those json-files so that the downlevel gulp tasks keep working

[2018-10-08 15:42] sgtsquiggs opened #60151 "VSCode quits immediately after launching"
- VSCode Version: 1.27.2
- OS Version: macOS 10.13.6 (17G65)

Steps to Reproduce:

1. Run VSCode
2. "Wait" for it to immediately quit

Does this issue occur when all extensions are disabled?: Yes

[code]

[2018-10-08 15:44] mjbvz commented on #60129
Yes, please check if this happens with all extensions disabled. Also provide more info about what is going wrong

[2018-10-08 15:45] JuanMejiaVelez opened #60152 "Fails to open in Airplane mode"
Issue Type: <b>Bug</b>

While on a recent trip I tried to open VS Code while my surface was on Airplane mode but the app silently crashes. The issue is on the startup process realted to loading a DNS script that prevents the application to properly launch.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17763

<deta

[2018-10-08 15:57] chrmarti commented on #56144
@beastdestroyer Let us know if you are you working on this. It will make sense to submit PRs early so we can provide feedback.

[2018-10-08 15:57] #60151 closed

[2018-10-08 15:58] sgtsquiggs commented on #60151
Solution for #56765 worked.

[2018-10-08 16:02] isidorn commented on #60150
As far as I remember we decided to ignore stack frame ranges for inline sources and hover since the stack frame ranges were quite incorrect for node.
Here's a code pointer
https://github.com/Microsoft/vscode/blob/e2027598992e56d7f6f6f26f804d53449ea1a2ee/src/vs/workbench/parts/debug/electron-browser/debugEditorContribution.ts#L618

PR that fixes this would be welcome.
The PR would only change the b

[2018-10-08 16:07] Tyriar opened #60155 "Expose terminal setting for array buffer buffer line impl"
Exposing the functionality added in https://github.com/xtermjs/xterm.js/pull/1641

[2018-10-08 16:15] ReiMcCl opened #60156 "Inline Links only work for vscode.d.ts file"
- VSCode Version: 1.28.0-insider
- OS Version:

Steps to Reproduce:

1. Create the below file as `vscode.d.ts` and view the functioning comment links.
2. Rename the file to `types.d.ts`, comment links will be removed.

[code]

Does this issue occur when all extensions are disabled?: Yes

Working Example:
![image](https://user-images.githubusercontent.com/12534799/46620808-aeaf1500-cb1d-11e8-9f63-e

[2018-10-08 16:19] beastdestroyer commented on #56144
Apologies, my build process broke since I had to reinstall VS2017, and then my vscode repo got corrupt so I had to redownload and refork. Also, I have been taking time slowly for school business too. Furthermore it's all just getting used to the code structure. If I don't make it by this month's iteration IO'll probably aim for November. Thanks.

[2018-10-08 16:19] rsmith54 opened #60157 "Add popup when quitting if terminal is running a command"
When quitting VS Code, if there is a command running in the terminal, it would be great to have a popup show up asking "are you sure you want to quit" if there is a currently running process in an integrated terminal.  Right now, I sometimes use Code while waiting for a build, open another text file, and accidentally close the running build.

[2018-10-08 16:30] myfrom commented on #54024
I also still can't get it to work 🙁 I'm on Windows 1803 so maybe that's the problem but I doubt it. I'll just subscribe to the other issue and hope for a fix to come soon :wink:

[2018-10-08 16:35] peat-psuwit commented on #59646
With `"window.titleBarStyle": "custom"` as the only setting, the problem is still reproducible both on 1.27.2 &  1.28.0-insider (431ef9d 2018-10-03T12:37:10.832Z).

Upon further (accidental) test, I also found that this symptom (getting 'unknown' keybinding) also happens when pressing letters alone or with 'Shift'. Although it doesn't happen if the letter is pressed with 'Ctrl'. (For example, this

[2018-10-08 16:37] roblourens commented on #55738
It seems like it's not catastrophic backtracking. I think I need to debug some more inside oniguruma.

[2018-10-08 16:40] roblourens commented on #60131
Honestly that many settings feels like overkill. I see you opened https://github.com/Microsoft/vscode/issues/60027 which I like more, is that enough to address this?

[2018-10-08 16:42] misolori opened #60159 "Disabling extension does not remove it from activity bar"
Issue Type: <b>Bug</b>

Steps to reproduce
1. Disable VS Live Share extension
2. Reload
3. See that VS Live Share is still in the activity bar

Also seeing this from the context menu:
![image](https://user-images.githubusercontent.com/35271042/46622163-66bccd80-cade-11e8-8933-114c905f3bcf.png)

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-04T16:40:40.180Z)
OS ver

[2018-10-08 16:44] phobos2077 commented on #36951
@bpasero @octref  what do you think about this solution. Use the same settings as was previously implemented (a single list of encodings), but the last one on the list will be used as a fall back? It makes sense in terms of my original suggestion (narrow down the list of possible encodings to only the ones you need). But it is not as flexible as @octref suggestion.

[2018-10-08 16:46] Blackbaud-MitchellThomas commented on #59907
We narrowed down the cause to a bad interaction with the Live Share extension. The Live Share team is working on a fix. Closing this issue.

[2018-10-08 16:46] #59907 closed

[2018-10-08 16:52] usernamehw commented on #60159
Duplicate of #60097

[2018-10-08 16:54] usernamehw commented on #60157
There is already one `"terminal.integrated.confirmOnExit": false,`, only it's not working too great... #23808

[2018-10-08 17:00] Yanpas commented on #56817
I do not have access to that desktop anymore, cannot reproduce on the new one with useExperimentalFileWatcher=false.

[2018-10-08 17:00] #56817 closed

[2018-10-08 17:16] noseGoblin opened #60162 "^ caret character for escaping tags does not work"
- Extension Name: emmet
- Extension Version: 1.0.0
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:

[2018-10-08 17:21] eamodio opened #60163 "REGRESSION: Opening files from quick open not showing file contents"
Issue Type: <b>Bug</b>

This just started with this morning's upgrade. When I open files from the quick open, some files won't show their contents (or still shows the contents of the previously active tab). File's opened from the explorer view seem to be fine.

VS Code version: Code - Insiders 1.29.0-insider (1358e903716cf77711493770d63dde1ea178a73e, 2018-10-08T05:16:11.119Z)
OS version: Windows_N

[2018-10-08 17:21] sbatten commented on #60119
@i-shubhamprakash you may be experiencing these symptoms as a result of #57399. With the latest update to 1.28, this could be fixed for you. Could you give it a try?

[2018-10-08 17:34] JoshBAR commented on #56644
Just uninstalled 1.28 - also super slow (just like 1.26 & 1.27). Downgraded to 1.25 and everything is good now!

[2018-10-08 17:35] martellaj commented on #59876
Looks like it's resolved in today's Insiders build! 🎉

[2018-10-08 17:36] eamonsolvers commented on #25887
+1

[2018-10-08 17:37] arjunyel commented on #60145
Do you still get the issue on 1.28.0?

[2018-10-08 17:42] klis87 commented on #56644
does anyone know what happened with 1.26+? For me the worst part is ctrl + left click on an import path to jump to a file, this can even take above 2mins for bigger projects

[2018-10-08 17:42] viraj1994 opened #60164 "visual studio code removes import statements on save"
do check the video link

https://drive.google.com/file/d/16bxoqj-4pA_aJAOChTpLpinpaiZCwwQf/view

[2018-10-08 17:45] DanTup commented on #60150
@isidorn I don't entirely understand what you mean. The code you linked looks like it is filtering based on ranges, so what needs fixing?

(I was under the impression that these fields were added [specifically to support inline debugging](https://github.com/Microsoft/vscode/issues/12256) so I'm wondering if I've misunderstood something, or implemented it incorrectly?)

Also:

What do you mean by "

[2018-10-08 17:46] mjbvz opened #60165 "Opening files from find all references panel is broken"
Issue Type: <b>Bug</b>

**repo**
1. In a ts/js code base
1. Run `find all references` on a symbol that is used in multiple files
1. Expand the references in one of the other files
1. Then double click in the references preview editor to open the preview

**Bug**
A blank editor is opened

VS Code version: Code - Insiders 1.29.0-insider (1358e903716cf77711493770d63dde1ea178a73e, 2018-10-08T05:11:18.

[2018-10-08 17:46] mjbvz commented on #60164
Please file this against the java extension

[2018-10-08 17:46] #60164 closed

[2018-10-08 17:47] mjbvz commented on #60165
Possibly same issue as #60163

[2018-10-08 17:47] martellaj commented on #60163
This may or may not be related, but I'm also seeing 2 copies of every file showing up in the quick open suggestions. One has the absolute path to the file (i.e. c:/Users/joe/Code/owa-mail/packages) and the other has the Git directory as the root (i.e. owa-mail/packages). Neither show the file contents when I select them.

[2018-10-08 17:49] #60067 closed

[2018-10-08 17:52] spencerdavis2000 commented on #58663
I think this has to do with something involving "Git" extensions like Git Lens or Git History.

[2018-10-08 17:55] #56885 closed

[2018-10-08 17:55] #58422 closed

[2018-10-08 17:55] s2t2 commented on #12622
I'm conflicted because I'm liking vscode, but I need to pin tabs like I am used to doing in atom, so I'm not sure if I will stay with vscode or go back to atom.

Here's the atom extension, maybe it will help someone implement this feature in vscode.

https://atom.io/packages/pinned-tabs

[2018-10-08 18:01] #60155 closed

[2018-10-08 18:02] ramya-rao-a opened #60166 "Wrong suggestions in extension search for @category when using @id"
Issue Type: <b>Bug</b>

Copy and paste "@id:vscjava.vscode-java-" into the extensions search. Type `p` at the end.
You get suggestions for @category which doesn't make any sense

![image](https://user-images.githubusercontent.com/16890566/46625642-9ae9bb80-cae9-11e8-835e-09810d979a87.png)

VS Code version: Code - Insiders 1.29.0-insider (1358e903716cf77711493770d63dde1ea178a73e, 2018-10-08T05:16:1

[2018-10-08 18:07] dsanz006 commented on #60131
I opened this issue because I think it is a different matter than #60027. I don't think it is overkill, in my personal opinion a more customizable editor is always better and can adapt better to user needs.

[2018-10-08 18:09] Astrantia opened #60168 "Today's 1.29 Insiders Breaks Extensions"
Logs:
[code]

[2018-10-08 18:09] waynebloss commented on #58199
This was a bad decision on the part of the metro/modern/uwp design team. It's one of many reasons that I don't use those types of apps outside of the Windows 10 Settings app.

[2018-10-08 18:10] ramya-rao-a commented on #60053
I am leaning towards `Reload to finish uninstall` instead of `Reload to remove the extension`.

User has already clicked on `Uninstall` to "remove the extension"...

[2018-10-08 18:11] carlocardella commented on #59876
Yes, it's resolved, thanks 👍

[2018-10-08 18:11] Astrantia commented on #60168
cc @bpasero @sandy081

[2018-10-08 18:13] yozlet opened #60170 "Make clickable links for settings mentioned in Release Notes"
The VSCode release notes are full of lines like:

It'd be great if I could just click on `git.showProgress` to open a new Settings tab with that setting focused.

Bonus points if this can be made to work with extension pages too.

[2018-10-08 18:13] SimonGustavsson commented on #60145
Sorry I didn't realize there was a never version! I just updated to 1.28.0 and unfortunately the issue still occurs.

[2018-10-08 18:14] yozlet commented on #60170
Bad bot! This isn't a git thing. Sorry @joaomoreno, you may be the wrong assignee for this.

[2018-10-08 18:16] roblourens commented on #60131
I think you have to find the right balance between customizability and an overload of settings that target micro-scenarios that most users aren't worried about. I will keep it open to collect any other feedback but I'm not convinced.

[2018-10-08 18:17] #60157 closed

[2018-10-08 18:17] Astrantia commented on #60168
Note that this didn't break all of my extensions, only some:
[code]

[2018-10-08 18:17] ajbowler opened #60171 "1.29.0 Regression - CTRL + ` does not close terminal unless terminal is in focus"
- VSCode Version: 1.29.0
- OS Version: Windows 10

Steps to Reproduce:

1. Open integrated terminal - I have it set to Git Bash in this case.
2. Place focus in the editor
3. CTRL + ` doesn't close terminal (this worked previously).
4. Put focus on terminal.
5. CTRL + ` closes the terminal.

[2018-10-08 18:18] dsanz006 commented on #60131
I understand, I will wait then. In the meantime, if I enable preview mode, is there any way that I can open the files from the explorer view in non-preview mode without using the mouse?

[2018-10-08 18:19] danyeh commented on #54819
@mjcheetham @MemeBeast , en-GB language pack published. Could you please give a try? Thanks!
https://marketplace.visualstudio.com/items?itemName=MS-CEINTL.vscode-language-pack-en-GB

[2018-10-08 18:20] Astrantia commented on #60171
Can reproduce.

[2018-10-08 18:21] usernamehw opened #60172 "Keybindings GUI after search doesn't look too good"
Issue Type: <b>Bug</b>

![screenshot 55](https://user-images.githubusercontent.com/9638156/46626402-edee5d80-cb3f-11e8-9697-d69245dd6468.png)

VS Code version: Code - Insiders 1.29.0-insider (1358e903716cf77711493770d63dde1ea178a73e, 2018-10-08T05:16:11.119Z)
OS version: Windows_NT x64 10.0.17134

[2018-10-08 18:22] wallyzielinski opened #60173 ""Gulp not found" after running `npm install ` in console"
After installing a node package from the terminal ( `npm install {package}` ), Visual Studio Code fails to find the local installation of gulp, and this error is thrown:
`Local gulp not found in C:\... Try running: npm install gulp`

Even re-running `npm install gulp-cli` or `npm install gulp-cli -g` does not always seem to resolve the issue. I usually have to delete node_modules folder and run a

[2018-10-08 18:23] Tyriar commented on #48447
After chatting with @octref I found what would solve his problem is splitting taking the _`initialCwd`_ of the terminal being split. This is so when in a multi-root workspace it won't show the popup. I propose we add a setting of the form:

[code]

`choose` would be the current behavior, `initialCwd` would use the cwd of the terminal being split. Note that this is a string setting not a boolean to

[2018-10-08 18:23] Tyriar commented on #52304
@alexr00 do you have enough info to do this for October?

[2018-10-08 18:26] roblourens commented on #60131
There is a default keybinding of `cmd+k enter` for "Keep Editor"

[2018-10-08 18:28] dsanz006 commented on #60131
Didn't see that, thank you!

[2018-10-08 18:29] egamma commented on #60166
@ramya-rao-a please help me to assign this further given that the internship has ended.

[2018-10-08 18:33] calvn opened #60174 "Open File shortcut does not work if tree is clean"
Issue Type: <b>Bug</b>

"Open File" shortcut/command does not work on an opened diff-view file if the working tree becomes clean (e.g. after a commit). Oddly, pressing the button near the top right corner for this action does work.

"Open Changes" in a file doesn't work on a clean tree which is expected, but going from a diff-view back to the file after changes have been committed should be a vali

[2018-10-08 18:34] totkeks commented on #60071
I got the exact same issue. Same error messages, same log file, except the user name in the profile folder.

Task manager shows no running code.exe tasks, but when uninstalling / trying to delete the "AppData\Local\Programs\Microsoft VS Code" folder, even the explorer complains that it can't delete the folder, because code.exe and inno_updater.exe are still in use. Weird thing is, the task manager

[2018-10-08 18:35] #60146 closed

[2018-10-08 18:36] DavSanchez opened #60175 "VCS sync buttons missing from status bar"
Hello there!

I've been having this problem for quite a bit now, I was expecting to see it somehow fixed by the recent update but it didn't happen.

The thing is, the icons/buttons for Git/VCS remote syncing are missing, replaced by a vertical white line that seems out of place. Attaching an image:

<img width="136" alt="VCS buttons missing" src="https://user-images.githubusercontent.com/11422515/

[2018-10-08 18:36] usernamehw commented on #60171
https://github.com/Microsoft/vscode/issues/19400#issuecomment-423074454 ?

[2018-10-08 18:38] i-shubhamprakash commented on #60119
Yes! I also think #57399 might be the reason of this issue. I'll update my vs code to v 1.28 and let you know if the issue is reaolved or not.
Thanks.

[2018-10-08 18:39] PrzemyslawKlys opened #60176 "Cutting/Deleting folded code affects only one line"
- VSCode Version: 1.28
- OS Version: Windows 10 1809

Steps to Reproduce:

1. Have something like  this defined in powershell

![image](https://user-images.githubusercontent.com/15063294/46627151-d8763500-cb39-11e8-8578-d940ec12e1ad.png)

[code]

2. Fold it
3. Select it just like this (one full line)

![image](https://user-images.githubusercontent.com/15063294/46627186-f8a5f400-cb39-11e8-8cef-429d

[2018-10-08 18:41] egamma commented on #60142
Duplicate of https://github.com/Microsoft/vscode/issues/3130

[2018-10-08 18:41] #60142 closed

[2018-10-08 18:42] komali2 commented on #59857
This issue resolved itself

/shrug

[2018-10-08 18:42] #59857 closed

[2018-10-08 18:43] musm commented on #59246
Thanks for adding this, but why can't we have custom file icons for all the sizes? Right
now it's pretty  useless since the file icon size has to be *massive* (at a size I never use) to be visible.now it's pretty useless since the file icon size has to be *massive* (at a size I never use) to be visible.

![f](https://user-images.githubusercontent.com/4319522/46627440-7f41dd80-cb08-11e8-8976-6c9302

[2018-10-08 18:43] egamma commented on #60123
@avi12 can you please elaborate what is the difference between this extension and enabling `Auto Save` as provide by VS Code out of the box (File>Auto Save).

[2018-10-08 18:44] egamma commented on #60124
please file the issue against the SQL extension.

[2018-10-08 18:44] #60124 closed

[2018-10-08 18:45] DanTup commented on #50334
In Dart/Flutter we use a few:

1. `label` for async boundary markers
2. `subtle` for frames we don't have source for (I'm not totally sure why we'd have this, but it's in the code!)
3. `deemphasize` for non-debuggable code (eg. SDK or third party packages; users can toggle these) - this hint is strangely on the `source` property

Probably we'd want to collapse them all together. Eg. imagine the st

[2018-10-08 18:47] kleber-swf opened #60177 "Integrated terminal with git bash is getting some errors on international keyboards"
After the September's update the integrated terminal started to act weird when using git bash on Windows .
This is my setup:
* Windows 10
* VSCode (September 2018)
* Git bash as the integrated terminal
* Brazilian ABNT2 keyboard layout

Inside the integrated terminal, while typing a command, I accidentally typed the `´` character. I erased it but when I pressed Enter to execute it, the character w

[2018-10-08 18:48] egamma commented on #60046
The crash happens inside the https://marketplace.visualstudio.com/items?itemName=SirTori.indenticator extension. Can you reproduce the issue when you uninstall this extension?

[2018-10-08 18:52] inweblife opened #60178 "c# no work"
Нужните данни бяха копирани в буфера за обмен, тъй като бяха твърде много за изпращане. Моля, поставете ги.

[2018-10-08 18:52] egamma commented on #60132
@muuvmuuv  VS Code already activates extensions lazily by file type. So unless a user opens a .php file the PHP extension will not be activated.  You can verify this using the command `Developer: Show Running Extensions`.

It can happen that an extension defines that it wants to be activated on start, but this is an issue of the extension and the extension should improve its behavior.

[2018-10-08 18:52] #60132 closed

[2018-10-08 18:52] egamma commented on #60178
please file the issue against the c# extension.

[2018-10-08 18:53] #60178 closed

[2018-10-08 18:54] DanTup commented on #10713
Yep, works fine now. Looks very different now, so maybe it was fixed when it was tidied up :-)

[2018-10-08 18:54] #10713 closed

[2018-10-08 18:54] inweblife opened #60179 "c# no work"
Issue Type: <b>Bug</b>

c# no work and do not run, debug and more
scriptcs "c:\Users\ivan7\OneDrive\Работен плот\test\new.cs"
'scriptcs' is not recognized as an internal or external command,
operable program or batch file.

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14:58:53.203Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary

[2018-10-08 18:55] inweblife commented on #60179
Issue Type: <b>Bug</b>

c# no work and do not run, debug and more
scriptcs "c:\Users\ivan7\OneDrive\Работен плот\test\new.cs"
'scriptcs' is not recognized as an internal or external command,
operable program or batch file.

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14:58:53.203Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary

[2018-10-08 18:56] arnabde opened #60180 "Indentation Error"
Issue Type: <b>Bug</b>

i=0
for i in range(10):
    print(i)

for above code below error is coming

  File "<stdin>", line 1
    print(i)
    ^
IndentationError: unexpected indent

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14:58:53.203Z)
OS version: Windows_NT x64 6.2.9200

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core

[2018-10-08 19:03] egamma commented on #60179
please file the issue against the C# extension.

@DustinCampbell fyi in case this is an issue with VS Code 1.28

[2018-10-08 19:03] #60179 closed

[2018-10-08 19:05] ramya-rao-a commented on #60166
This would be me. I forgot to assign it. Thanks!

[2018-10-08 19:08] ramya-rao-a commented on #60162
@noseGoblin Can you provide more details? I believe the step to paste the information here as missed

[2018-10-08 19:10] idanpa opened #60181 "Usage of vscode variable substitution j s"

[2018-10-08 19:10] #60181 closed

[2018-10-08 19:10] inweblife commented on #59369
No help, no nothing, why?

[2018-10-08 19:12] #59760 closed

[2018-10-08 19:12] #59723 closed

[2018-10-08 19:12] inweblife commented on #60179
I do not undarstandWhat is the problem?c# no workHow to write?08.10.2018, 22:05, "Erich Gamma" <notifications@github.com>:Closed #60179.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-10-08 19:18] gggustafson opened #60182 "Automatic Updates not automatic"
I am using the following VS Code on Windows 7 SP1:

[code]
I have "update_channel":"default" so it should have upgraded automatically to 1.27 and now to 1.28. But it did not. Thoughts?

[2018-10-08 19:18] inweblife opened #60183 "c#"
Issue Type: <b>Bug</b>

  using System.IO;
using System;

class Program
{
    static void Main()
    {
        Console.WriteLine("Hello, World!");
    }
}

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14:58:53.203Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3340M CPU @ 2.7

[2018-10-08 19:18] inweblife opened #60184 "c#"
Issue Type: <b>Bug</b>

  using System.IO;
using System;

class Program
{
    static void Main()
    {
        Console.WriteLine("Hello, World!");
    }
}

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14:58:53.203Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3340M CPU @ 2.7

[2018-10-08 19:22] kumarharsh commented on #23666
I came across this issue because I was trying some keybindings with different when clauses for git, while editing my own code and more than once switched to the wrong tab because the icons are the same for default files and keybindings settings screen.

@sandy081 I'd like to try and fix this if possible. I believe there is already an icon for keyboard somewhere in vscode (it shows up as the Record

[2018-10-08 19:29] madig commented on #10144
If you don't want to overwrite fontconfig's idea of Ubuntu, try this:
[code]
The VSCode UI CSS is configured to look for "Segoe WPC" first, so you tell fontconfig to give VSCode something else. This only works if you don't actually have "Segoe WPC" installed, in which case fontconfig would give it precedence. If you copied Windows' Fonts folder over, you're probably going to have just "Segoe UI",

[2018-10-08 19:30] gggustafson opened #60186 "vscodebot not helpful"
I opened a new issue regarding the failure of VS Code to automatically upgrade. I was advised by vscodebot that a number of similar issues were raised. Having visited each so called answer, I was still left with the question - why isn't VS Code automatically upgrading? I appears that vscodebot is too aggressive and rather than point to an answer, just dumps junk answers.  It needs to be fixed and

[2018-10-08 19:37] vibhor1997a commented on #60133
Facing the very same issue in version `1.28.0`

[2018-10-08 19:47] jacksaunders opened #60187 "Debugger Won't hit breakpoints in jest test"
When running Jest tests, I am unable to set breakpoints in the *.test.js / *.spec.js files. When i set a breakpoint in a location and start the launch.json config the breakpoints move around.

I am unable to provide access to my repo so i have created a repo which is close to what i am working on, its an ejected create react app and can be seen here.

https://github.com/jacksaunders/vscode-jest-te

[2018-10-08 19:48] g-arjones commented on #60057
When working in multi-root workspaces, a launch.json in one folder prevents you from debugging any other folder without a launch.json.

Also, I would like to see debug configurations provided by an extension showing up in the debug viewlet combobox (along with the ones from launch.json files). Kinda lilke how task configuration providers work..

[2018-10-08 19:50] mjbvz commented on #60184
Duplicate of #60183

[2018-10-08 19:50] #60184 closed

[2018-10-08 19:51] #60183 closed

[2018-10-08 19:57] egamma commented on #60180
@arnabde I guess that the code snippet is using Python. Therefore please file the issue against the Python extension.

[2018-10-08 19:57] #60180 closed

[2018-10-08 20:01] johnpapa opened #60188 "shortcuts for snippets not showing up in today's insiders"
Issue Type: <b>Bug</b>

when i type snippet shortcuts, they stopped showing up as of today's insiders update. it worked yesterday. also works in today's release of stable vs code.

VS Code version: Code - Insiders 1.29.0-insider (1358e903716cf77711493770d63dde1ea178a73e, 2018-10-08T05:11:18.105Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|

[2018-10-08 20:01] egamma commented on #60179
@inweblife this repository is the issue repository for Visual Studio Code. Visual Studio Code does not include the support for C#. The support for C# is provided by this extension https://github.com/OmniSharp/omnisharp-vscode which has its own repository. Therefore please report issues against C# into this repository.

[2018-10-08 20:03] egamma commented on #60179
Also I´ve tested a hello world program in 1.28 and it worked as expected.

![image](https://user-images.githubusercontent.com/172399/46630900-02355900-cb46-11e8-8aa2-5f189af52f91.png)

[2018-10-08 20:04] RolfRolles commented on #25786
I'm having a similar issue. I have a fairly large Python project with multiple directories. I.e., all of the Python files need to be invoked as modules relative to the ${workspaceFolder}. I.e., if I want to debug ${workspaceFolder}/Tests/EvalPrint/TestEvalPrint.py, I need to tell launch.py that the module name is "Tests.EvalPrint.TestEvalPrint".

It looks like none of my current options, nor the o

[2018-10-08 20:05] angelhdz opened #60189 "Pylint undefined property PyQt5"
Pylint throws error of undefined PyQt5 modules (and maybe other modules installed by pip), but when debugging/building the Python app it works fine and I get code hint/auto-complete.

Tried to set the path to the site_packages but no success. Tried to install another version of PyLint but apparently I have the latest one.

Read and read on Google and didn't find the answer.

Note: I'm not using vi

[2018-10-08 20:05] rafaelbdb commented on #60139
@isidorn Thanks, but I don't have such extension.
Already tried to disable 'react-vscode-extension-pack' and 'ReactSnippets', but had no effect.
Also: My VSCode has just updated to version 1.28.0, and there was no effect either.
Problem persists!

[2018-10-08 20:08] i-shubhamprakash commented on #60119
@sbatten  I updated the app to v 1.28 and the issue seems to be fixed. I am not experiencing any problem with the right click.
Thanks for the help.

[2018-10-08 20:10] sean-mcmanus commented on #59369
@inweblife You mean why wasn't my question answered?

@bpasero Do you know what issue is tracking this issue and/or what I should search for to find the duplicate issue?

[2018-10-08 20:10] egamma commented on #60183
see also https://github.com/Microsoft/vscode/issues/60179

[2018-10-08 20:11] igolskyi commented on #32170
Awesome! Updated today Good work, thank you.

[2018-10-08 20:13] JCMais commented on #60168
Same issue here, using Insiders
[code]

[2018-10-08 20:15] #60189 closed

[2018-10-08 20:15] egamma commented on #60189
Please file the issue against the python extension

[2018-10-08 20:15] inweblife commented on #60179
No work! It is a big problem

[2018-10-08 20:19] mitchellpalermo commented on #58921
I tried it out and you're right, I think it's upstream. The shortcut doesn't work in the link that you sent.

Thanks for continuing to help out with this. It means a lot that you spend time on these things.

[2018-10-08 20:20] carlocardella commented on #60168
same:

Version: 1.29.0-insider (user setup)
Commit: 1358e903716cf77711493770d63dde1ea178a73e
Date: 2018-10-08T05:16:11.119Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-10-08 20:22] angelhdz commented on #60189
Thank you?

If I posted here it's because no one answer me in the extension's forum/support.
This is the  extension suggested by VS Code when working with Python. So at least point us in the right direction? The editor should have code hint and linter for each language by default. No extension required. Without these, the editor is just useless.

[2018-10-08 20:24] egamma commented on #60168
Cannot reproduce in stable 1.28 and the comments above are all from insiders.

[2018-10-08 20:26] StephenWeatherford opened #60190 "Extensions using lodash no longer load in Insiders (issue with global)"
Issue Type: <b>Bug</b>

This is a regression - it used to work fine in Insiders, and it still works fine in non-Insiders 1.27.2.

1) git clone https://github.com/Microsoft/vscode-cosmosdb.git
2) cd vscode-cosmos
3) npm install
4) load in vscode Insiders and press F5
!) Extension fails to activate due to error here:

node_modules\gremlin\node_modules\lodash\index.js:718:
    var arrayProto = Array.

[2018-10-08 20:28] egamma commented on #60135
@DanTup have you tried to create an extension pack and to recommend this extension pack for .dart files?

Not sure that we want to open the door to extensions to make recommendations. Currently extension recommendations are based on a market place look up, that is, if the user opens a file and there no language extension for this language installed, then do a lookup on the market place and recomme

[2018-10-08 20:31] mitchellpalermo commented on #58921
Okay, I've found a fix for this.

Apparently the Mission Control keyboard shortcut "Move to left a space" being set to "option+left" creates conditions that override text selection in Chromium. "Option+Left" is not the default shortcut. So when I restored the default shortcuts, everything started working again.

I don't remember customizing the shortcuts, but it's possible that I did so many years

[2018-10-08 20:32] StephenWeatherford opened #60191 "Issue with F5 binding to debug "continue""
Issue Type: <b>Bug</b>

Does not occur in regular vscode 1.27.2.

1) git clone https://github.com/Microsoft/vscode-cosmosdb.git
1) cd vscode-cosmos
1) npm install
1) Load in vscode
1) Turn on breakpoints on All Exceptions
1) F5
1) When you hit an exception, press F5 again to continue
!) error: There is already a debug configuration "Launch Extension" running.
EXPECTED: Continue debugging

VS Code

[2018-10-08 20:33] SavePointSam commented on #59072
I see. Selection highlighting didn't appear to be working in same file for me the other day, but it is working correctly for me now. Across open files is what I would like to see now.

Thank you!

[2018-10-08 20:35] sbatten commented on #60119
@i-shubhamprakash thanks for confirming :)

[2018-10-08 20:35] #60119 closed

[2018-10-08 20:39] rebornix opened #60192 "File handler is not released after the editor is closed"
- VSCode Version: 1.29 Insiders
- OS Version: Windows 10

Steps to Reproduce:

Good path:

1. Set VSCode Insiders as the editor for Git SCM
2. Try commands which involve commit message update, for example, `git rebase` or `git cherry-pick` which contains conflicts.
3. Run the command in an external terminal, after resolving the conflicts, close all VSCode windows.
4. Run the command with `--contin

[2018-10-08 20:41] bcatubig opened #60193 "cmd-s in SCM Window does not commit file"
- VSCode Version: 1.28
- OS Version: OSX Mojave

Steps to Reproduce:

1. Open up a folder that has been initialized with a git repo
2. Modify a file
3. In the source control tab, type a message and press `cmd + s`

Does this issue occur when all extensions are disabled?: Yes

[2018-10-08 20:42] doberkofler opened #60194 "flow-for-vscode extension no longer working after update"
Issue Type: <b>Bug</b>

After the latest update of vscode-insiders the flow-for-vscode extention is no longer working. Uninstalling and reinstalling the extension does not solve the problem. No errors visible in the Output panel.

VS Code version: Code - Insiders 1.29.0-insider (1358e903716cf77711493770d63dde1ea178a73e, 2018-10-08T05:16:11.119Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summ

[2018-10-08 20:43] bcatubig commented on #60193
It appears this has been changed to `cmd + enter`

xref: #42862

[2018-10-08 20:46] Tyriar commented on #60171
Yes this is by design

[2018-10-08 20:46] #60171 closed

[2018-10-08 20:47] adeeb1 opened #60195 "[Integrated Terminal] Tab in dropdown doesn't update when switching tabs with keyboard shortcut"
- VSCode Version: 1.28.0
- OS Version: Ubuntu 18.04.1

After updating to VSCode 1.28.0, the dropdown on the integrated terminal that indicates which tab you are viewing does not update when keyboard shortcuts are used. When a new tab is created, the tab updates; however, it does not update consistently when the focus changes between tabs using the keyboard.

**Tab 1 (notice the "2:bash" - it shoul

[2018-10-08 20:47] DonJayamanne opened #60196 "`global` variable is invalid when loading npm modules"
- VSCode Version: Insiders
- OS Version: Macc

Steps to Reproduce:

1. Install Python Extension
2. Python extension fails to load

Does this issue occur when all extensions are disabled?: Yes

This applies to other extensions using `reflect-metadata` as well.

From what I can tell, `loader.js` seems to be doing something thats causing the `global` variable to point to something completely differen

[2018-10-08 20:47] DonJayamanne commented on #60196
Closing as a duplicate of https://github.com/Microsoft/vscode/issues/60190

[2018-10-08 20:47] #60196 closed

[2018-10-08 20:48] DonJayamanne commented on #60190
I believe this is the cause for Python Extension not loading as well #60196 (again related to global variable `Reflect` that's updated by `reflect-metadata`).
I.e. issue with `global`

[2018-10-08 20:54] scssat opened #60197 "Emmet"
- Extension Name: emmet
- Extension Version: 1.0.0
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:
[code]

[2018-10-08 21:06] doberkofler commented on #60194
Log (Window) shows the following:
[code]

[2018-10-08 21:15] mjbvz commented on #60194
Possibly #60168

[2018-10-08 21:17] michaelharbour commented on #54179
Hi there,  I'm just a programing hobbiest, but trying to use the WSL bash shell as my integrated terminal.  The only problem that I am having is that the paths that get passed to this terminal are starting with the drive (e.g. c:/) as opposed to /mnt/c/, which is what the terminal needs.  I'm trying to follow what you are reporting above to see if it is the same issue, and wondering if you know of

[2018-10-08 21:20] mungojam commented on #58070
@Dr-Nutter

[2018-10-08 21:21] suciuvlad commented on #60168
+1

[2018-10-08 21:23] #60197 closed

[2018-10-08 21:28] misolori commented on #59246
@musm the icons are harder to see in the small size, which is why we decided to go with the logo in the small view. Please feel free to open a new issue to track that request. Thanks!

[2018-10-08 21:30] roblourens opened #60198 "Add selectionBackground defaults"
The selectionBackground color token controls the background color of text selection outside of the editor. So this affects text in native input elements like search, selecting text in the debug console, settings editor, other places. If one isn't defined, it comes from the OS and is different between macOS and windows. Maybe the OS picks different colors in some scenarios, like for different windo

[2018-10-08 21:35] musm opened #60200 "Custom icons should be allowed for all icon sizes"
Thanks for adding custom icon support, but why can't we have custom file icons for all the sizes? Right
now this feature is almost useless since the file icon size has to be *massive* (**at a size I never use**) to be visible.

See how large the icons have to be, to become visible
![f](https://user-images.githubusercontent.com/4319522/46627440-7f41dd80-cb08-11e8-8976-6c9302acd5a5.gif)

The current

[2018-10-08 21:37] MikeyBurkman opened #60201 ""Convert to async function" does not handle .then(fn1, fn2) correctly"
- VSCode Version: 1.28.0
- OS Version: OSX High Sierra

Steps to Reproduce:
1. The code in the gif on https://code.visualstudio.com/updates/v1_28#_convert-to-async-function is actually wrong
2. When doing `.then(fn1, fn2)`, the second arg `fn2` should NOT be called if there's an error in `fn1`.

Sample code:
[code]

Expected output:
* Both should output "[A]SYNC Got an error Error: Failure!"

Actu

[2018-10-08 21:38] mjbvz commented on #60088
Tracked upstream by https://github.com/Microsoft/TypeScript/issues/15146

[2018-10-08 21:38] #60088 closed

[2018-10-08 21:40] mjbvz commented on #60201
This issue was moved to Microsoft/TypeScript#27621

[2018-10-08 21:40] #60201 closed

[2018-10-08 21:45] mjbvz commented on #60148
This is fixed in at least TS 3.1+ https://github.com/Microsoft/TypeScript/issues/25653:

![screen shot 2018-10-08 at 2 45 32 pm](https://user-images.githubusercontent.com/12821956/46635319-d5168580-cb08-11e8-8679-c8a77229b455.png)

[2018-10-08 21:45] #60148 closed

[2018-10-08 21:47] anthcool opened #60202 "Integrated Terminal does not bring up prompt, & also duplicates copyright info, etc."
- VSCode Version: 1.27.x and 1.28.0
- OS Version:  Windows 10 Enterprise Version 1809, build 17763.1
CPUs | Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz (8 x 2904)
-- | --
GPU Status | 2d_canvas: enabledchecker_imaging: disabled_offflash_3d: enabledflash_stage3d: enabledflash_stage3d_baseline: enabledgpu_compositing: enabledmultiple_raster_threads: enabled_onnative_gpu_memory_buffers: disabled_softwa

[2018-10-08 21:50] mjbvz commented on #60133
Opened https://github.com/Microsoft/TypeScript/issues/27622 to track this upstream

[2018-10-08 21:50] #60133 closed

[2018-10-08 21:51] roblourens opened #60203 ""Rejected cached data from file""
When debugging vscode built from master, it sometimes hangs on start. Whether it hangs or not, it prints this error a lot:

[code]

I didn't pull, I think this happened after updating Insiders. So it seems that OSS is trying to read cached data from the Insiders cached data directory?

[2018-10-08 21:51] mjbvz commented on #60028
Run that command in the command palette with the ts or js file open

[2018-10-08 22:07] Astrantia commented on #60200
Agreed. You really need massive icons to see the new icons now.

[2018-10-08 22:13] RavenHursT commented on #47783
Starting to see the above comment as the reality more and more... :-/

[2018-10-08 22:14] #58224 closed

[2018-10-08 22:16] mjbvz opened #60204 "Support RenameTextSpan from TypeScript"
Add support for TypeScript 3.2's [`RenameTextSpan`]( https://github.com/Microsoft/TypeScript/pull/27356). This allows us to fix cases such as: https://github.com/Microsoft/TypeScript/issues/12007

Planning to pick up support in October but we'll only ship TS 3.2 in November. You can use typescript@next to try it out early.

[2018-10-08 22:18] ThadHouse opened #60205 "Relaxation of redistribution clause in Microsoft License"
It's been about a year since this issue was last discussed (https://github.com/Microsoft/vscode/issues/17283), and I would like to bring it up again. In today's software world, the no redistribution clause is becoming more and more restrictive as time goes on. In addition, we are supporting a group of high school robotics teams using VS Code for their programming this year, and we're trying to mak

[2018-10-08 22:19] #60204 closed

[2018-10-08 22:19] sstoychev commented on #60168
Same here, broke liximomo.sftp although I don't see any errors in the logs.

Version: 1.29.0-insider (user setup)
Commit: 1358e903716cf77711493770d63dde1ea178a73e
Date: 2018-10-08T05:16:11.119Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-10-08 22:31] fabiospampinato opened #60206 "Todo+ extension broken on Insiders"
- VSCode Version: 1.29.0-insider (1.29.0-insider) `1358e903716cf77711493770d63dde1ea178a73e`
- OS Version: v10.13.5

Steps to Reproduce:

1. Install the [extension](https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-todo-plus) from the marketplace.
2. Notice that it's not working.
3. Open the devtools, there should be a message saying `Activating extension 'fabiospampinato.

[2018-10-08 22:31] roblourens opened #60207 "Publish test search extension"
We should stop shipping a builtin search extension, to remove the duplicated code, but publish a test search extension in the marketplace

[2018-10-08 22:32] schollii opened #60208 "Git dialog freezes app"
- VSCode Version: 1.27.2
- OS Version: ubuntu 18.04

Steps to Reproduce:

1. checkout a non-master branch of a repo, make changes to a file, commit changes (do not push)
2. attempt to change branch to master
3. The dialog grabs the mouse and freezes the GUI; even the use of mouse in other windows (say a terminal) is damaged

There are 2 ways out of this:
1. force release of mouse grab (see e.g. ht

[2018-10-08 22:39] ghost opened #60209 "Disable flipped/custom cursor for line numbers"
On Linux, I'm using a relatively small [cursor theme](https://cn.pling.com/img/9/7/a/5/84b855075d1e843ead31a9fdb98b437868df.png) that has a black fill with a white border. When I hover over a line number vscode insists on displaying a larger cursor with a white fill and a black border. Furthermore, the cursor is actually flipped so there's a jarring animation every time I move my cursor over to th

[2018-10-08 22:42] devuxer opened #60210 "Alternative to double-click to close code lens"
Please allow something besides double-click to close code lens.

I often use code lens to make edits to my code, and one of my favorite editor shortcuts is double-clicking to select a word. The way it works now, I have to stop myself from double-clicking a word to prevent code lens from disappearing. Unfortunately, I frequently forget to do this. This requires me to return to the tab where I spawn

[2018-10-08 22:49] rsgranne opened #62904 "Code inside anchor doesn’t indent"
monaco-editor version: 0.X.Y (latest version with VSC 1.28.0; how do I find this out?)
Browser: latest versions of Firefox, Safari, Chrome
OS: latest versions of Windows & macOS
Steps or JS usage snippet reproducing the issue:

I teach college courses, & the following has been true for all of my students, in both macOS & Windows, using the previous & latest versions of VSCode, with & without exten

[2018-10-08 22:49] misolori commented on #60198
I'd be curious to play with this to get a feel for it. Do you have any colors in mind? I could see us using
`#007acc`:

![image](https://user-images.githubusercontent.com/35271042/46637536-7570a800-cb11-11e8-9d8b-60eb9131aaeb.png)
![image](https://user-images.githubusercontent.com/35271042/46637549-8b7e6880-cb11-11e8-92f7-bc233621f7f7.png)

[2018-10-08 22:52] #59711 closed

[2018-10-08 22:53] mjbvz commented on #59711
Fixed for editor with 7d95e3e

Support for this in the preview is #47537 which I'll also look into this month. Thanks for the additional analysis @denosawr

[2018-10-08 22:54] mjbvz commented on #47537
Repo:

1. For the markdown:

[code]

1. Open the markdown preview
1. Click on the second `test` link in the preview

**Expected**
Scrolls to second `Test` header

**Actual**
Noop

[2018-10-08 22:54] xxyy commented on #51032
If this is what you mean by "create a status bar entry", then I'd like to try to solve this issue:
![2018-10-09_00 10 27](https://user-images.githubusercontent.com/547070/46637673-8c3cec00-cb5d-11e8-8765-0cc7b8b543d4.png)

[2018-10-08 23:02] roblourens commented on #60198
I figure we either pick the windows or mac color and call it the default.

One oddity of setting selectionBackground is that the way we apply this to the text selection with the `::selection` selector, it seems to always have some slight transparency.

[2018-10-08 23:05] #47537 closed

[2018-10-08 23:05] StephenWeatherford opened #60211 "vscode does not always show an error when an extension does not load"
Specifically, the failure from https://github.com/Microsoft/vscode/issues/60190 does not provide any message to the user for the Cosmos extension not loading.  The COSMOS DB pane simply remains empty.  This is very confusing for end users and provides no way for us to help them.

![image](https://user-images.githubusercontent.com/6913354/46638072-0183cf00-cb14-11e8-9bf5-4683279445a6.png)

[2018-10-08 23:06] praenubilus commented on #35901
Ununtu 18.04 with zsh, having the same problem.

[2018-10-08 23:09] BlackHoleFox opened #60212 "Python intelisense fails after latest insiders update"
- VSCode Version: 1.29.0-insider (Commit: 1358e903716cf77711493770d63dde1ea178a73e)
- OS Version: Windows 10 1803

Steps to Reproduce:

1. Make sure you're running the latest VSCode insiders update with the Microsoft Python extension
2. Open a Python file and look at the developers terminal to see error

Does this issue occur when all extensions are disabled?: No, as the Python extension isn't loa

[2018-10-08 23:10] BlackHoleFox commented on #60212
Oh, seems its been breaking more extensions they just Python. Will close then :)

[2018-10-08 23:10] #60212 closed

[2018-10-08 23:13] nealot commented on #60206
https://github.com/Microsoft/vscode/issues/60168

[2018-10-08 23:15] mjbvz opened #60213 "Interrupt references code lens requests if user performs an action"
**Repo**
1. With `"typescript.referencesCodeLens.enabled": true`
1. Load file that has lots of references that take a while to resolve
1. While the references are still coming in, request completions

**Bug**
We only return the completion result after the references requests are all resolved. This may take a little while.

**Root Cause**
VS Code calls `resolveCodeLens` for all visible references.

[2018-10-08 23:17] #60206 closed

[2018-10-08 23:26] fabiospampinato opened #60214 "`vsce publish`'s message about the 5 keywords limit is annoying"
I often get the following message after running `vsce publish`:

[code]

This is getting quite annoying for me.

I don't understand, why is the number of keywords even limited?

[2018-10-08 23:28] mjbvz commented on #60165
Closing as duplicate of #60163

[2018-10-08 23:28] #60165 closed

[2018-10-08 23:29] Tyriar commented on #60195
https://github.com/Microsoft/vscode/issues/59876

[2018-10-08 23:29] #60195 closed

[2018-10-08 23:34] Tyriar commented on #60128
It should work in the build released today https://github.com/Microsoft/vscode/issues/55934

[2018-10-08 23:34] #60128 closed

[2018-10-08 23:34] DonJayamanne commented on #60168
Most probably a dup of https://github.com/Microsoft/vscode/issues/60190 (`global` variable is incorrect in npm modules)

[2018-10-08 23:36] Tyriar commented on #60177
This should hopefully improve with the adoption of conpty, see https://github.com/Microsoft/vscode/issues/45693

[2018-10-08 23:36] #60177 closed

[2018-10-08 23:37] Tyriar commented on #60173
This is either an issue with your environment (gulp needs to exist on your PATH in order to be found), or your node setup.

[2018-10-08 23:37] #60173 closed

[2018-10-08 23:55] TGGSJ911 opened #60215 ""Abort format on save after 750ms" happens after write 200 lines of code"
Issue Type: <b>Bug</b>

I notice that autopep8 works well in my VScode when the number of code lines is below around 200. However, when the code lines is over 200, the auto-format fails. This problems happens both in my Mac and PC.

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-04T16:40:40.180Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summar

[2018-10-08 23:55] roblourens commented on #60198
It should be in the latest insiders. The color will be slightly different due to the opacity issue but should be basically the same.

[2018-10-08 23:57] roblourens commented on #59492
It won't show up yet because those aren't hooked up for folder settings, but if you are in a workspace with multiple folders, then you have 3 scopes - user, workspace, and folder - and that label can show that it's modified in the other 2.

[2018-10-09 00:02] heshammourad opened #60216 "Auto import not being placed correctly"
Issue Type: <b>Bug</b>

I just upgraded to 28.0 from 27.2. Previously in React code, when I used the auto import feature, it would place an import line at the top of the document, e.g. `import MyComponent from './MyComponent'`. After upgrading to the latest version, the import line is being placed in the same line and it causes a syntax error. For example, if I try to auto import a component calle

[2018-10-09 00:03] Wattenberger commented on #54064
I'd be happy to pick this up since it's been a bit stagnant - any interest in pawning it off?

[2018-10-09 00:03] cleidigh commented on #59492
so visually:
(also Modified in user, folder)

and these would be in separate spans?

[2018-10-09 00:12] stevedesmond-ca commented on #6442
Here's 1.28.0: https://github.com/stevedesmond-ca/vscode-arm/releases/tag/1.28.0 -- let me know with an emoji/reaction if you think it would be valuable to keep posting new builds here as versions are released.

[2018-10-09 00:16] w9jds commented on #29405
I wrote this command with the arguments like this:

[code]

I tried to do debugging inception (debug the vscode changes then debug an extension using the new command), will that work properly?

[2018-10-09 00:35] roblourens opened #60218 "Allow global text search using the PCRE2 engine"
This enables advanced regex features, although we can still only support features supported by the JS regex engine

More details: https://github.com/BurntSushi/ripgrep/blob/master/FAQ.md#how-do-i-use-lookaround-andor-backreferences

[2018-10-09 00:36] roblourens commented on #29405
Yes

[2018-10-09 00:37] roblourens commented on #59492
Correct

[2018-10-09 00:41] bmqy commented on #60125
试过，没有成功，请问如何打开hosts文件，设置的打开路径没有反应，用的这个方法
let uri = Uri.file('/some/path/to/folder');
let success = await commands.executeCommand('vscode.openFolder', uri);

[2018-10-09 00:42] bmqy commented on #60125
试过，没有成功，请问如何打开hosts文件，设置的打开路径没有反应，用的这个方法
let uri = Uri.file('/some/path/to/folder');
let success = await commands.executeCommand('vscode.openFolder', uri);

[2018-10-09 00:42] studioljw commented on #60121
Since the 1.20 update this evening, I have been having the same issue. The error comes back as "Extension Host has unexpectedly crashed".

[2018-10-09 00:57] GMMan opened #60220 "Double click window bar icon to close on Windows when using custom title bar style"
Perhaps a little-known Windows feature carried over way back from I think around Windows 3.x is the ability to close a window by double clicking the window icon from the title bar. A single click opens the system menu, and the default action on that menu is close. Looks like with the custom title bar style, clicking on the icon no longer brings up the system icon and the default action is maximize

[2018-10-09 00:58] brandonkal commented on #58672
This bug reappeared after the 1.28.0 update.
431ef9da3cf88a7e164f9d33bf62695e07c6c2a9

[2018-10-09 01:03] GMMan commented on #60220
Welp, someone beat me to it. #58199

[2018-10-09 01:03] #60220 closed

[2018-10-09 01:08] GMMan commented on #58199
Apparently back in 2006 there were strong voices when the Office team did an experiment to see whether people still used the feature. [1] I'd like to see this being an option.

[1] https://blogs.msdn.microsoft.com/jensenh/2006/06/08/you-windows-3-1-lovers/

[2018-10-09 01:14] yangshuairocks commented on #59939
Is this fix included in Version: 1.28.0? I tested with it and the issue still exists. @jrieken

[2018-10-09 01:36] rrmistry commented on #60070
@isidorn thank you for finding the duplicate.

My apologies for not finding it earlier.

[2018-10-09 01:38] hulinfa opened #60222 "can't see detail of the outline"
before I updated it,we can saw the code outline(by using the pluge named code outline),after I  updated ,the out layer of the outline  still exist,but  the we can't see the datail (about methods or properties),like this:
![image](https://user-images.githubusercontent.com/20656670/46641966-165d7280-cba7-11e8-8cd9-52f359dbfe4e.png)

[2018-10-09 01:53] ParkourKarthik commented on #60213
Hi @mjbvz , I would like to pick this up. Might need some guidance.

[2018-10-09 01:54] yandifao opened #60223 "Extension Host is now responsive."
- Extension Name: configuration-editing
- Extension Version: 1.0.0
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:

[2018-10-09 01:58] jiang-xiche commented on #59686
@octref Still not effective

[2018-10-09 02:02] alete89 commented on #60223
Since 1.28.0 Extension host is getting unresponsive and responsive again a few seconds later. It's kind of annoying.

[2018-10-09 02:18] rolzing commented on #32257
+1

Atom has one theme like this.

[Native-Ui](https://atom.io/themes/native-ui)

[2018-10-09 02:30] noinkling commented on #19120
@bpasero Can you explain how this is different to the "soft undo" command already implemented?

[2018-10-09 02:32] octref commented on #59686
Can you take a full screenshot of VS Code? Also, can you also show me your user settings?

[2018-10-09 02:33] nailao opened #60224 "Emmet only through TAB, you can not customize keyboard shortcuts"
Issue Type: <b>Bug</b>

Emmet only through TAB, you can not customize keyboard shortcuts

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14:58:53.203Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-7100 CPU @ 3.90GHz (4 x 3912)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: d

[2018-10-09 02:33] ArtemGovorov commented on #60168
Looks like some loader/require hooks changes had broken node globals.

Here is a simple way to reproduce the issue:

extension.js

[code]

initGlobals.js

[code]

[2018-10-09 02:34] myfairsyer opened #60225 "Name of month missing on website's update notification banner"
They grey bar/banner underneath the navigation, which always tells about the current VSC release on https://code.visualstudio.com/ currently lacks the word "september":

![image](https://user-images.githubusercontent.com/13559472/46643494-a89c5100-cb7c-11e8-8442-4eb8868a2ec7.png)

[2018-10-09 02:36] zhuhang-jasper commented on #58152
Have this issue on Windows 10 64bit.
Current workaround is to run VsCode as admin, but it shouldn't be this way.

Why is this issue closed?

[2018-10-09 02:40] Astrantia commented on #60168
@Tyriar @bpasero Can we get recoveries for Insiders within the same day when there's issues like this? I only use Insiders so I would appreciate more attention over here.

[2018-10-09 02:47] cleidigh commented on #59492
textContent will cross the spans so I think that's okay.
I had to do a lot of back-and-forth to satisfy both NVDA and voiceover, a lot of good learning that I should probably somehow pass on.  Maybe you know the best way to do that.

Regardless as small as it is in some respects, I think your new settings probably has some pretty good ARIA support.  At least until we that it doesn't !

[2018-10-09 02:50] liwangqian opened #60227 "Node debugger starting failed."
DevTool console of Debugger Window shows the following message:

"Error: 无法连接到运行中的进程，将在10000毫秒后超时 - （原因：目标的响应似乎无效。错误: Unexpected token  in JSON at position 324。响应: [ {
  "description": "node.js instance",
  "devtoolsFrontendUrl": "chrome-devtools://devtools/bundled/inspector.html?experiments=true&v8only=true&ws=127.0.0.1:45969/650cf166-ace5-4a18-8411-787669eea913",
  "faviconUrl": "https://nodejs

[2018-10-09 02:57] percyF commented on #60223
It's been happening to me also. 1.29.0 Insiders Edition. Has been going on for a while and it's annoying to have to keep clicking it off.

Otherwise, the best editor out there.

[2018-10-09 03:02] KaoImin opened #60228 "Vim plugin does not work in the lastest version"
Issue Type: <b>Bug</b>

While updated the lastest version, the vim plugin does not work suddenly.

VS Code version: Code - Insiders 1.29.0-insider (1358e903716cf77711493770d63dde1ea178a73e, 2018-10-08T05:11:18.105Z)
OS version: Darwin x64 18.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x 2200)|
|GPU Status|2d_canvas: enabl

[2018-10-09 03:07] cleidigh commented on #60120
@bpasero
@isidorn
Cool, I tested the exploration built with electron three.  It does appear to behave better.  There are still duplicated "clickable" outputs but noticeably fewer.  If you looked at some of the issues, it's not a singular issue there are several triggers for the clickable messages.  I have to dig further but I think there still might be some changes needed to get to a single clicka

[2018-10-09 03:14] jesusmatosp opened #60229 "problem"
- Extension Name: json-language-features
- Extension Version: 1.0.0
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:

[2018-10-09 03:18] jesusmatosp opened #60230 "problem"
- Extension Name: configuration-editing
- Extension Version: 1.0.0
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:

[2018-10-09 03:19] ParkourKarthik commented on #60213
@mjbvz I tried loading a typescript file with more references after enabling `"typescript.referencesCodeLens.enabled"`, but I was able to do simple user actions before all the references being loaded.
What kind of user action would make a completion request? Also it would be helpful if you could provide a sample ts with more references (may be in vscode source itself).

[2018-10-09 03:28] xconverge commented on #60228
#60190

[2018-10-09 03:29] erich5168 commented on #20652
I would suggest change by project instead of change by language.  So for example

1. Java Spring Boot file extensions will have .java, .xml, .properties, .sql, .schema, yaml...etc.

2. Angular extension will includes .html, cscc, css, ts, js, json...etc.

3. Flutter....

In my opinion, this could help people who are using VScode for multiple project type.

[2018-10-09 03:32] #60229 closed

[2018-10-09 03:41] eegod opened #60231 "Portable mode not working"
- VSCode Version: 1.28.0 (user setup)
- OS Version: Windows 10

Steps to Reproduce:

1. [Enable portable mode](https://code.visualstudio.com/docs/editor/portable#_enable-portable-mode) in v1.27.2
2. Update to v1.28.0
3. `data` folder is still in the Code's folder, but portable mode is not enabled.
4. I have reinstalled v1.27.2 and everything works fine.

Does this issue occur when all extensions a

[2018-10-09 03:41] rinoldsimon commented on #60072
even it doesn't work for Javascript files

[2018-10-09 03:50] Sneezry opened #60232 "Document selector match - unexpected result value"
We are trying to write a customized JSON language server for JSON-LD. **JSON schema is not enough for our scenario.[[why?](https://github.com/Microsoft/vscode/issues/56334#issuecomment-424376826)]**

However, we have an issue to make our customized JSON language server work correctly. When we register completion item provider, we use this document selector for our file:

[code]

**Firstly**, patte

[2018-10-09 04:13] xenogew commented on #60202
I think I got a same issue.
`VS Code: 1.28.0; 64 bits`
`OS: Windows 10.0.17763.1`

![vscode-terminal-cursor-weird](https://user-images.githubusercontent.com/756484/46646346-baa1e200-cbc4-11e8-9873-0f82f438bea9.png)

From the image attached, with integrated terminal with `cmd`, the cursor started in the weird place. Even it can call the command then it will locate at the proper place (behind `C:\..

[2018-10-09 04:14] cleidigh commented on #60090
@Neurrone
From playing around, I think the following is happening:
- When issue reporter windows opened , no element has focus , reader should be a browse mode
- First DownArrow skips to second element (combobox) and automatically goes into focus mode on that element
- To move to the next element without changing selection, press Escape then Tab

I do think there may be some tab ordering issues co

[2018-10-09 04:16] ivedk123 opened #60234 "代码智能提示自动导入功能出错！"
Issue Type: <b>Bug</b>

更新前功能正常，更新后现象为：
输入代码后自动提示“从XXX自动导入XXX”，敲击回车后没有自动导入，反而将语句嵌入到了当前代码区域！
![image](https://user-images.githubusercontent.com/32889947/46646506-1d8f7b00-cbbd-11e8-9f64-0a92b0eb4a22.png)
![image](https://user-images.githubusercontent.com/32889947/46646513-284a1000-cbbd-11e8-9d61-d5b77baaada1.png)

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14

[2018-10-09 04:17] littlee commented on #59633
How do I debug to find out which extension is causing this issue? Could anyone help ?

[2018-10-09 04:32] jpike88 commented on #59815
@mjbvz this is still at 'needs more info'... have I provided enough info at this point?

[2018-10-09 04:34] BlackHoleFox commented on #60168
Had this issue as well, it completely broke the Microsoft Python extension.

[2018-10-09 04:38] bpasero commented on #60190
/duplicate https://github.com/Microsoft/vscode/issues/60168

[2018-10-09 04:38] #60190 closed

[2018-10-09 04:38] headmelted commented on #6442
I have builds for armhf and aarch64 up-and-running at
https://code.headmelted.com if it's of any use to anyone 🙂

On Tue, Oct 9, 2018, 01:14 Steve Desmond <notifications@github.com> wrote:

[2018-10-09 04:40] pauloz1890 commented on #60130
Thanks for the response. I immediately upgraded 1.28 today when the upgrade became available. I've been using it for around 4 hours without the issue arising. I'm hoping it will be okay...if it happens again I will try the experimental version immediately and report back. Thanks again!

[2018-10-09 04:41] neelireddy opened #60235 "vsc issue"
- Extension Name: debug-auto-launch
- Extension Version: 1.0.0
- OS Version: Windows_NT x64 10.0.17134
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:

[2018-10-09 04:41] liwangqian commented on #60227
launch.json:
{
            "type": "extensionHost",
            "request": "launch",
            "name": "Launch Client",
            "runtimeExecutable": "${execPath}",
            "args": [
                "--extensionDevelopmentPath=${workspaceRoot}"
            ],
            "stopOnEntry": false,
            "sourceMaps": true,
            "outFiles": [
                "${workspaceRoot}/clien

[2018-10-09 04:46] bpasero commented on #60163
@eamodio @mjbvz I cannot reproduce, I need exact steps that reproduce this reliably.

[2018-10-09 04:47] HariKrizz opened #60236 "VS Code Crashes occassionally"
Issue Type: <b>Performance Issue</b>

VS Code does not open some times. I will be working on any project and after closing the editor, some times it won't start again. I tried the "open with vs code". Then also it's not working. I had to re-install VS-code to continue my work.
VS Code version: Code 1.26.1 (493869ee8e8a846b0855873886fc79d480d342de, 2018-08-16T18:38:57.434Z)
OS version: Windows_NT x

[2018-10-09 04:52] #60130 closed

[2018-10-09 04:53] mjbvz commented on #60228
Duplicate of #60168

[2018-10-09 04:53] #60228 closed

[2018-10-09 04:57] bpasero commented on #60192
@rebornix I cannot reproduce:

![before](https://user-images.githubusercontent.com/900690/46647501-90cec800-cb90-11e8-94b6-93a6f5d1866d.gif)

Can you setup the git handler to execute code out of sources to debug further?

@Tyriar any ideas?

[2018-10-09 04:59] mjbvz commented on #60163
See #60165:

1. Open vscode source
1. Close all files
1. Open a ts file and make sure TS is loaded properly
1. Run `find all references` on a symbol that is used in multiple files
1. Expand the references in one of the other files
1. Then double click **in the reference's preview editor** to open that file

![oct-08-2018 21-58-16](https://user-images.githubusercontent.com/12821956/46647541-51c7550

[2018-10-09 05:00] misolori commented on #60200
@bpasero I can work on adding them back to insiders this week

[2018-10-09 05:08] cleidigh opened #60237 "Issue Reporter: Issues arriving with "paste from clipboard" - Instructions or missing logic?"
Many issues are coming in like
https://github.com/Microsoft/vscode/issues/60235
https://github.com/Microsoft/vscode/issues/60230

with only version information and the clipboard message.  Is it not clear for people to paste in the detailed info?  we cannot transfer everything directly?  Maybe a warning message to the user before submission?

[2018-10-09 05:08] 2017coding opened #60238 "Memory footprint"
After writing the vue project and compiling the NPM run dev, the computer took up about 20 percent more memory

[2018-10-09 05:13] mjbvz commented on #60234
Duplicate of https://github.com/Microsoft/TypeScript/issues/27317

[2018-10-09 05:13] #60234 closed

[2018-10-09 05:21] azagz opened #60239 "1.27.2 update to 1.28 lost all settings & extensions"
Issue Type: <b>Bug</b>

i use portable 1.27.2, today vscode auto update 1.28, and i lost all settings & extensions. no error, no warn. what the f--k ???
win10 1809 update lost user data, vscode 1.28 update lost user data, what u want for us, microsoft!

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14:58:53.203Z)
OS version: Windows_NT x64 10.0.17763

<details>

[2018-10-09 05:24] cleidigh opened #60240 "SCM: All File action buttons open comparison"
Issue Type: <b>Bug</b>

VS Code version: Code - Insiders 1.29.0-insider (1358e903716cf77711493770d63dde1ea178a73e, 2018-10-08T05:16:11.119Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz (12 x 3696)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>flash_s

[2018-10-09 05:25] bunadmitrii opened #60241 "Closing side bar and activity bar bindings"
Currently we can bind a `workbench.action.closePanel`, but there is no such an option for closing side bar or activity bar.

It sounds good to have these options being configurable in order to be able to turn on a Full-screen mode with. I personally prefer full screen to Zen mode since it looks neater with 2 or 3 vertical splits. So it would be useful to configure a command to turn it on avoiding

[2018-10-09 05:28] romanoledergerber opened #60242 "Terminal corrupt PowerShell prompt"
Issue Type: <b>Bug</b>

Open Terminal, you will have a corrupt PowerShell Prompt

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14:58:53.203Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz (4 x 2394)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabl

[2018-10-09 05:28] kieferrm commented on #60239
@azagz sorry to hear that. Since you got auto-updated, you must have used Portable mode with the Windows Setup. This is not supported: https://code.visualstudio.com/docs/editor/portable. You can only use Portable mode on the ZIP distribution.

/duplicate #57990

[2018-10-09 05:29] #60239 closed

[2018-10-09 05:29] liuyji opened #60243 "“Remove from recent opened” takes no effect"
Issue Type: <b>Bug</b>

1. On the Welcome screen click More... below Recent to open a recent list.
2. click ×
3. It should have remove some items but actually do nothing

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14:58:53.203Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-

[2018-10-09 05:30] #60242 closed

[2018-10-09 05:31] romanoledergerber commented on #60202
Same Issue !

VS Code 1.28.0; 64 bits
OS: Windows 10 Pro; 64 bits 1809 update (10.0.17763.1)

[2018-10-09 05:33] kieferrm commented on #60231
@eegod, just to be sure, you enabled portable mode from the zip install, correct? That's the only supported configuration for portable mode. So, in step 2, you downloaded the 1.28 zip and you copied the data folder from your 1.27.2 zip install over to the 1.28 zip install?

[2018-10-09 05:36] pradeepvish1213 opened #60244 "VS Code Windows Shaking Issue"
Dear warmest,

### i got issue long time ago to till Now in vs code when cursor move in any of section in vs code and show title box then window shaking. please resolve this

[2018-10-09 05:37] kieferrm commented on #60223
Please have a look at https://code.visualstudio.com/updates/v1_28#_extension-host-unresponsive.

[2018-10-09 05:41] kieferrm commented on #60215
This is a performance issue with the formatter. Pls file an issue against https://github.com/Microsoft/vscode-python/issues. Thanks!

[2018-10-09 05:48] kieferrm commented on #60243
On Mac I see the following behavior:
- Ctrl+R
- remove one or more entries by clicking the `x`
- ESC
- Ctrl+R
-> the previously removed entries are back in the list

[2018-10-09 05:54] bpasero commented on #60243
@chrmarti picker related?

[2018-10-09 05:57] wkosea commented on #37114
The problem still exist at version 1.28 with no way to fix the bug.
I even don't know that until I upload my code to gitHub, then I saw a large number of ??.

[2018-10-09 05:59] cleidigh commented on #56883
@chrmarti
another typical tag the community could probably do is "needs more info"
this could result in faster additions by the original poster
just a thought...

[2018-10-09 06:01] cleidigh commented on #56978
@RMacfarlane
If you need anything on this, let me know.
I can also pick this up if you wish.

[2018-10-09 06:06] kafeile7983 opened #60245 "内存占用太高"
Issue Type: <b>Performance Issue</b>

使用VSCODE打开android源码工程时占用内存过高

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4460  CPU @ 3.20GHz (4 x 3192)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_

[2018-10-09 06:06] bpasero commented on #60163
After bisecting for 2 hours I found this to be a regression from https://github.com/Microsoft/vscode/commit/836c4fc8d4f01a9b4a9f785fa53192132f7d3b60. Specifically, this change:

[code]

Changing it back to:

[code]

fixes it.

[2018-10-09 06:15] shanmukhananda opened #60246 "Bottom status bar should match the theme"
**Pre-requisite:**
Current theme Dark+ (default dark)
**Action:**
View > Appearance > Show Status Bar
**Expected Behavior: (New Feature Request)**
Bottom status bar should be Dark colored
**Current Behavior:**
Bottom status bar is in Blue color

[2018-10-09 06:18] jrieken commented on #60168
This might be related to us now using cached data for extensions

[2018-10-09 06:19] jlelong opened #60247 "No snippets suggestion beyond character 100 if not at end of line"
This is a follow up on #58807.
The snippet suggestions mechanism stops working beyond character 100 if the cursor is not at end of line (the test in [snippetsService.test.ts#L264](https://github.com/Microsoft/vscode/blob/43c2879d2e365c4542126c36f3b75e4805d0d6f2/src/vs/workbench/parts/snippets/test/electron-browser/snippetsService.test.ts#L264) only checks it at the end of line)

- VSCode Version:

[2018-10-09 06:29] bm-stschneider opened #60248 "Latest update killing a lot of extensions"
Issue Type: <b>Bug</b>

It seems that the latest updated went pretty bad for some extensions.
Any workaround to recover from that?
![image](https://user-images.githubusercontent.com/30625381/46650584-5b7ca700-cb9d-11e8-8281-c939d9176d83.png)

VS Code version: Code - Insiders 1.29.0-insider (9e017425b3d38cfc2d31a7375a28ff6d833ea4ae, 2018-10-09T05:11:01.507Z)
OS version: Darwin x64 17.7.0

<details>

[2018-10-09 06:30] jrieken commented on #60203
That is very, very unlikely... We always use the `userDataPath`

[2018-10-09 06:30] egamma commented on #60246
The status bar color is themable, so this depends on the theme.  I suggest to try out another theme that uses a different color.

The Dark+ color scheme is established and we have no plan to change the coloring for now.

[2018-10-09 06:30] #60246 closed

[2018-10-09 06:32] egamma commented on #60248
Duplicate of #60168.

[2018-10-09 06:32] #60248 closed

[2018-10-09 06:33] doberkofler commented on #60194
[code]

[2018-10-09 06:36] egamma commented on #60245
Translation:
Using VSCODE to open the android source project, the memory is too high.

This is a C++ workspace. Please file the issue against the C++ extension.

![image](https://user-images.githubusercontent.com/172399/46650855-52400a00-cb9e-11e8-820a-13a52f2d2a46.png)

[2018-10-09 06:36] #60245 closed

[2018-10-09 06:37] jrieken commented on #60203
@roblourens Can you update the steps? What exactly are you doing? Also, check the `CachedData` dirs in `~/Library/Application Support/Code - OSS/CachedData` and `~/Library/Application Support/Code - Insiders/CachedData`

[2018-10-09 06:37] dandananddada opened #60249 "org mode outline please."
Plugin or integration, org mode outline please.
Vs code is pretty a wonderful edit tools, I usually organize my documents on it too. Hope can supply feature like org mode outline, It's quite convenient to manage document outlines.

[2018-10-09 06:38] L0CTAR0GAR opened #60250 "Toolbars"
Issue Type: <b>Feature Request</b>

Toolbars don't follow the theme color. White is good.

VS Code version: Code 1.28.0 (431ef9da3cf88a7e164f9d33bf62695e07c6c2a9, 2018-10-05T14:58:53.203Z)
OS version: Windows_NT x64 10.0.15063

[2018-10-09 06:39] jrieken commented on #60194
/duplicate of #60168

[2018-10-09 06:39] #60194 closed

[2018-10-09 06:40] egamma commented on #60250
VS Code does not have tool bars do you mean menu bars? Can you pls  include a screenshot of what you would like to see

[2018-10-09 06:41] doberkofler commented on #60194
@jrieken Starting with "--no-cached-data" worked for me.

[2018-10-09 06:41] egamma commented on #60249
pls see https://marketplace.visualstudio.com/items?itemName=tootone.org-mode

[2018-10-09 06:41] #60249 closed

[2018-10-09 06:44] jrieken commented on #60247
Oops, that was an oversight...

[2018-10-09 06:45] egamma commented on #60238
running npm happens outside of VS Code.

Please provide detailed steps so that we can try to reproduce the problem.

[2018-10-09 06:47] jrieken commented on #60188
Simple case works for me... @johnpapa Please provide reproducible steps

<img width="822" alt="screenshot 2018-10-09 at 08 45 44" src="https://user-images.githubusercontent.com/1794099/46651312-e199ed00-cb9f-11e8-9471-29da53679bf2.png">