[2020-03-09 20:33] Colengms opened #92290 "Light bulb influences code indent when tabs-based whitespace is rendered (Remoting)"
This was originally reported against the C/C++ Extension ( https://github.com/microsoft/vscode-cpptools/issues/5081 ), but appears to be specific to VS Code.  Transfering the issue here, as the user requested.  @mikedld

**Describe the bug**
- OS and Version: Linux
- VS Code Version: 1.43.0-insider (was present on previous versions as well)
- C/C++ Extension Version: 0.26.3 (was present on previou

[2020-03-09 20:35] #91828 closed

[2020-03-09 20:48] mjbvz commented on #92246
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-03-09 20:50] mjbvz commented on #91755
Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

[2020-03-09 21:01] mjbvz commented on #86788
@jdneo In VS Code, we've update the proposal to use a `CodeActionProviderMetadata .documentation` property instead of a static contribution. Try using that and let me know if you run into any issues

[2020-03-09 21:03] mjbvz commented on #92205
I can't repo this. Tested with 1000 brackets.

Does this reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all [extensions disabled](https://github.com/microsoft/vscode/wiki/Performance-Issues#run-with-extensions-disabled)?

If so, please share an example file that triggers this

[2020-03-09 21:16] aaronbuchwald opened #92292 "Sometimes a bunch of my files are duplicated and a 2 is appended to the filename"
This is a very strange issue when I'm using visual studio, sometimes some of my files get duplicated and there's a 2 at the end of the name of the file. For instance mod.mk gets duplicated to create a file called "mod 2.mk"

[2020-03-09 21:17] #77817 closed

[2020-03-09 21:17] #79511 closed

[2020-03-09 21:28] Tyriar opened #92293 "update.mode none should not require a restart"
I use this for testing and it's annoying that it pops up a dialog on all windows saying a restart is required. It seems like making the update polling component should just be disposed in this case.

[2020-03-09 21:40] weinand commented on #92218
@bpasero do we have a list of variables that can be used in settings.json?
(The variables available in launch.json and tasks.json are specified here: https://code.visualstudio.com/docs/editor/variables-reference)

[2020-03-09 21:45] #91862 closed

[2020-03-09 21:57] lauradondiego opened #92296 "Extensions do not work"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2020-03-09 22:12] zjopy opened #92297 "Replace underbar in Parameter Hints with color"
I find the Parameter Hints in VS Code very hard to read in comparison to IntelliJ.

The main distraction is the underbar which hinders the read flow.

Instead of an underbar below the current parameter, using a color would be a much better choice for the eyes. I'd personally like the orange bold color for the current parameter like in Webstorm, but would already be happy if just the underbar were

[2020-03-09 22:18] rebornix commented on #92296
@lauradondiego could you provide more details about what's happening on your machine?

[2020-03-09 22:20] akos127 commented on #92240
![image](https://user-images.githubusercontent.com/15962488/76262408-88366180-625c-11ea-8d76-67d13858a8be.png)
There is no ANSI encoding what i need.

[2020-03-09 22:21] lauradondiego commented on #92296
Sure! My extensions haven’t worked in months and it’s super frustrating!!
Every time I start typing, the extensions shut down and I get a message
“extension host terminated unexpectedly”. I would GREATLY appreciate some
help. Tried everything from stack overflow!

On Mon, Mar 9, 2020 at 6:18 PM Peng Lyu <notifications@github.com> wrote:

--
*Laura Don Diego*
*Realtor*
C: 908-907-0012

[2020-03-09 22:23] rebornix commented on #92292
@aaronbuchwald can you help confirm

1. you are using VS Code, other than Visual Studio
2. Do you run into the same issue when you have extensions disabled?

[2020-03-09 22:26] krupenja commented on #86418
I am also having a similar issue with the steps similar to the ones in electron/electron#21393:
1. Connect MacBook to a non-retina display.
2. Open VSCode.
3. Unplug the display.

Interestingly, I only get the blurriness in the terminal:
![image](https://user-images.githubusercontent.com/26354715/76262631-90df6580-6265-11ea-8427-7fb21d7c3d9d.png)

[2020-03-09 22:42] #88549 closed

[2020-03-09 22:44] charlesg99 commented on #21849
@alexdima Just tried the new minimap and I wanted to say **Thank you so much**! Fantastic work!

[2020-03-09 22:47] #91700 closed

[2020-03-09 22:48] deepak1556 commented on #90491
The current VS Code stable `1.43` ships with crashes reporting to appcenter on macOS, linux and windows. There are some followup issues that needs work and help from appcenter

1) Crash reports from windows don't show up on appcenter, although they are sent are from the client and there is a successful correlation id.

Mathias Wenz from the Appcenter team spent time investigating this on the serve

[2020-03-09 22:51] haugerbr commented on #2743
I just saw the preview and wanted to input that syncing snippets should also be included.

[2020-03-09 22:58] mjbvz commented on #91690
The more I think about it, the more I like approach two. This is basically the delegate based approach we already tried. This would move `CustomEditorEditingCapability` to a property on `CustomEditorProvider` and update each of the `CustomEditorEditingCapability` methods to take `CustomDocument` as its first argument.

I believe this would also play more nicely with any future methods we may add t

[2020-03-09 23:03] martinjankov commented on #23902
+1 This is very frustrating. If I have scrolled down in sidebar and then close the tab, it scrolls me back up to the position of the next active tab.  Please fix this.

[2020-03-09 23:04] sandy081 commented on #2743
Syncing snippets and global state is planned for March milestone - https://github.com/microsoft/vscode/issues/86678

[2020-03-09 23:05] bronson commented on #85619
Yes please. Having a view that shows what changed over time is very useful.

Example: https://github.com/bronson/dotfiles/commits/master/.vscode/settings.json

[2020-03-09 23:08] octref commented on #92297
@misolori Makes sense to me, what do you think?

[2020-03-09 23:16] ldsands opened #92298 "Search Editor for current document"
Hi all,

First off I love this new Search Editor feature! One thing that would be handy is the ability to use the `search.action.openInEditor` command to lauch the editor from the search box if the cursor is in the search box. By search box I mean the little search box that comes up when pressing `Ctrl` + `F` not the search sidebar.

Thank you for this new feature I'll be using it a lot!

[2020-03-09 23:22] misolori commented on #92297
I'd be up to try this, we could either use the blue highlight we use for fuzzy search:

![image](https://user-images.githubusercontent.com/35271042/76265362-90bd7680-6221-11ea-84dd-c4cd64c35bd0.png)

Or make the default text a shade of the foreground and make the highlight brighter:

![image](https://user-images.githubusercontent.com/35271042/76265550-0aedfb00-6222-11ea-9b22-3564999a169a.png)

We

[2020-03-09 23:32] Inventrohyder commented on #92173
Sure,

Normally, at night, it has the following dark theme

<img width="1542" alt="Screenshot 2020-03-10 at 04 59 07" src="https://user-images.githubusercontent.com/22187034/76265955-ec244e80-628b-11ea-89d0-42b4790c2564.png">

However, when I open the diff of a Jupyter notebook,
It turns to the light theme

<img width="1542" alt="Screenshot 2020-03-10 at 05 00 37" src="https://user-images.githubus

[2020-03-09 23:34] zjopy commented on #92297
Wow, I think the second one looks really good! The bright white highlight points directly to the relevant information and the shaded text doesn't distract anymore. I have to change my mind about color and and vote for simple bold white.

Btw. You guys are awesome for responding that fast and thanks for trying this change out!

[2020-03-09 23:44] raberana commented on #12622
If I double-clicked multiple files, the first file I opened is lost in oblivion. So I need pinned tabs

[2020-03-09 23:50] xsoheilalizadeh commented on #77061
Same Issue
[code]

[code]
[code]

[2020-03-09 23:54] #91656 closed

[2020-03-09 23:57] ajdvoynos opened #92300 "[json] Trying to set local JSON Schema file, generates empty files while typing the filename"
Issue Type: <b>Bug</b>

1. Open new tab
2. Set language to JSON
3. Create an empty json object
4. Start typing a "$schema" property that points to a local schema file (in the same folder for example)

Expected: No other tabs are created while typing
Actual: VSCode starts creating new tabs with the partial filename that I'm writing.

For example, if I try to set the schema to "./schema.json" it wou

[2020-03-09 23:57] JacksonKearl commented on #92298
How would this work exactly? Start a new workspace search with the configuration you have in you in-editor search?

[2020-03-10 00:03] fabiospampinato opened #92301 "Revisit usage of box-shadow"
IMO the shadows used in the app are weird, here's a notification with its default shadow:

[code]

![image](https://user-images.githubusercontent.com/1812093/76266745-5c1cdf80-6260-11ea-94c4-7ae190821820.png)

That shadow is unnatural, shadows are caused by objects obstructing a light source, the object in this case is the notification itself and for that shadow to happen the light source should c

[2020-03-10 00:04] fabiospampinato commented on #92301
I wonder how the bot would think this issue is about a slow startup, maybe sun -> star -> start-up? 🤔

[2020-03-10 00:21] lovekaizen commented on #90542
Got the same issue, without Auto Rename Tag installed, need to investigate issues with other installed plugins though:
![image](https://user-images.githubusercontent.com/12876691/76266292-e7957100-625e-11ea-8eaf-981178710886.png)

[2020-03-10 00:22] ArturoDent commented on #92286
Enable this setting:

`Workbench > List: Horizontal Scrolling`

[2020-03-10 00:23] aldwong commented on #91983
Hi @weinand

It appears that this issue is not caused by the python extension as detailed in the comment linked below.
https://github.com/microsoft/vscode-python/issues/10436#issuecomment-596810525

The suggestion issue was reproducible in C# and JavaScript as mentioned by @kimadeline.
Could this issue be reopened?

[2020-03-10 00:26] ldsands commented on #92298
That is what I had in mind. Though now that I think about it, it might be nice to have an option to just search the current document and open those results in the search editor.

[2020-03-10 00:31] JacksonKearl commented on #92298
That could be cool.

[2020-03-10 00:39] KamasamaK opened #92302 "contributes.jsonValidation fileMatch should allow array"
The [contributes.jsonValidation](https://code.visualstudio.com/api/references/contribution-points#contributes.jsonValidation) `fileMatch` appears to only accept `string`, but the `json.schemas` configuration `fileMatch` accepts `array`. I think they should both accept `array`.

[2020-03-10 00:40] YugeCse opened #92303 "v1.43.0的bug - ActivityBar侧边栏[打开文件夹]按钮不可用,显示了Markdown代码"
Issue Type: <b>Bug</b>

你尚未打开文件夹

**[打开文件夹](命令：workbench.action.files.openFolder)**

....

**[打开文件夹](命令：workbench.action.files.openFolder)**  显示的是 `[打开文件夹](命令：workbench.action.files.openFolder)`

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|C

[2020-03-10 00:52] #90371 closed

[2020-03-10 01:15] KamasamaK commented on #92297
I think using color for this purpose would basically prevent #55044

[2020-03-10 01:33] xy1xy opened #92304 "IBM Common User Access (CUA) paste (SHIFT + INSERT) not working as expected"
- VSCode Version: Code-OSS - Version: 1.42.1
- Commit: c47d83b293181d9be64f27ff093689e8e7aed054
- Date: 2020-02-17T09:32:31.598Z
- OS Version: Linux x64 5.4.23-1-MANJARO

Steps to Reproduce:

1. Select some text you would like to copy
2. Press CTRL + INSERT (Copy key combination)
3. Select another section of text you would like to paste over
4. Press SHIFT + INSERT (Paste key combination)
5. BUG:

[2020-03-10 01:37] xy1xy commented on #92304
Duplicate - found a fix: https://github.com/microsoft/vscode/issues/90222

Settings -> `"editor.selectionClipboard": false`

[2020-03-10 01:37] xy1xy commented on #92304
Also this one: https://github.com/microsoft/vscode/issues/88683 (Shift+Ins performing Copy instead of Paste)

[2020-03-10 01:39] xy1xy commented on #92304
Closing since there is a work-around

[2020-03-10 01:39] #92304 closed

[2020-03-10 01:58] rebornix commented on #92303
@YugeCse could you please share a screenshot of what you are seeing?

[2020-03-10 01:59] #92286 closed

[2020-03-10 02:06] heroboy opened #92305 "Disable or remove specific code action/fixes/refactoring"
Because when some code action is available, there will be a icon shows on the code editing area.
If some fixes I always not want, it's annoying that the clickable icon will show every time my cursor move on the code or select some code or some other actions. Especially when the current line left is not white spaces, the icon will show at previous line and cover the privious line code.

For example

[2020-03-10 02:11] dy55 opened #92306 "Localization mistakes"
Issue Type: <b>Bug</b>

I just found some problems related to localization.

Select "zh-cn" (Simplified Chinese) as display language, and reopen VS Code.

And then you will see something wrong with the "Open Folder" button and "Clone Repository" button in the explorer at the side bar. They should be "[打开文件夹](command: workbench.action.files.openFolder)" and "[克隆存储库](command: git.clone)".

And there

[2020-03-10 02:14] JimAmuro commented on #8641
I have upgraded to 1.43 stable version on mac, but my 4/5 buttons still doesn't seem to work... Do I need to turn on some settings? Thanks!

[2020-03-10 02:17] monouno opened #92307 "There are two duplicate formatters item appear on the selector UI"
- VSCode Version: version 1.43
- OS Version: macOS 10.15.3

Steps to Reproduce:

1. Install and enable vscode-go extension.
2. Enable formatting on save but no default formatter is set.
3. VSCode notification "There are multiple formatters for 'GO' files. Select a default formatter to continue."
4. Two duplicate formatters appear on the selector UI, both are "ms-vscode.Go".

![A](https://user-imag

[2020-03-10 02:32] jdneo commented on #86788
Thank you @mjbvz

In our case, the Java language server will directly return the code actions to the client so we do not have a code action provider at the client side. I tried to registered a dummy provider like following:

[code]

No matter I return `[]` or `undefined` or `[new CodeAction('dummy')]` in `provideCodeActions()`, the document command does not appear in the context menu. Was there an

[2020-03-10 02:33] zhaohaiyanggit commented on #92306
I met the same problem. And the ‘Run and debug’  button can't work when use Chinese (Traditional) Language Pack for Visual Studio Code

[2020-03-10 03:10] Ghost---Shadow opened #92308 "TypeScript / JavaScript syntax highlighting changes after a few seconds"
I just updated and my javascript syntax highlighting broke.

- VSCode Version: 1.43
- OS Version: Windows 10

Does this issue occur when all extensions are disabled?: Yes

![Capture](https://user-images.githubusercontent.com/7743925/76275968-aaef6700-62aa-11ea-9707-13e320747f33.PNG)

EDIT: I rolled back to January. Much better now

----

Edit by @aeschli (VSCode team):

What you see is the new sem

[2020-03-10 03:15] jdcornelison commented on #92308
Can confirm. Using the Monokai theme, after the Javascrity/Typescript Language Features finish loading my syntax highlighting gets all jacked up. Revered to 1.42.1 and it works.

Same info as OP

[2020-03-10 03:17] joshuaiz commented on #92308
Same issue here. I rolled back to v 1.4.2 using this link:

https://code.visualstudio.com/updates/v1_42

Screenshots using my theme Bio Dark (https://marketplace.visualstudio.com/items?itemName=studiobio.bio-dark-theme)

Before: v 1.4.2
<img width="569" alt="Screen Shot 2020-03-09 at 10 12 25 PM" src="https://user-images.githubusercontent.com/1096738/76276206-405f0c80-6253-11ea-8207-c42ff60e2742.p

[2020-03-10 03:18] Happin3ss commented on #8641
If you have `SensibleSideButtons` running on your mac, try to turn it off. I tested the this feature is only works with `SensibleSideButtons` disabled, so I have to choose between browser navigation or VSCode navigation.

[2020-03-10 03:20] wangbh0722 commented on #91525
So have you found the reason of this issue? And how long should I wait before it is fixed?

[2020-03-10 03:39] MatiasOlivera commented on #92308
The identifiers that the themes use to apply colors to variables, functions, classes, etc. have been updated.

The solution is to set this configuration:

[code]

[Changelog](https://code.visualstudio.com/updates/v1_43#_typescript-semantic-highlighting)

[2020-03-10 03:42] IsaacLf commented on #92308
Aww man, that happens when you don't read the complete changelog u.u (my case), thx good man.

[2020-03-10 03:52] MatiasOlivera commented on #92308
You're welcome, glad to help you. I only knew what it was because I made a color theme

[2020-03-10 03:57] he0119 commented on #92303
![image](https://user-images.githubusercontent.com/5219550/76278242-15fa6700-62c6-11ea-99d3-69f453438965.png)
Just like this.

[2020-03-10 04:03] jdcornelison commented on #92308
Thanks for the info @MatiasOlivera Seems strange that you now need to set a custom setting to use themes without them breaking though. Is this something theme creators are going to be able to override or is this just a thing now?

[2020-03-10 04:04] nikoksr commented on #90542
So it does not necessarily have to be an extension problem?

Has the problem occurred to someone who did not have any extensions enabled?

[2020-03-10 04:19] SheepDomination opened #92310 "Task error with Powershell script ?"
I have a task which loads a PowerShell script, the `command` property is used within the `tasks.json` file; besides changing the name of the Powershell script, the path location is the same but my previous script worked, my changed script is not working, same path, different file name ?

The error I'm getting is this;

Here is a snippet of the first part of the task;

[code]

I would like to know

[2020-03-10 04:33] fnoot opened #92311 ""Unreachable code" after JS IIFE"
Issue Type: <b>Bug</b>

After today's update Code is reporting all code after an IIFE that returns within try and catch blocks as unreachable.

Demonstration:

[code]

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:44:52.965Z)
OS version: Linux x64 5.3.0-40-generic

[2020-03-10 05:14] dinanathsj29 opened #92312 "Welcome -> Interface Overview Screen - Title Text for the first two features (Search & File explorer) Needs to change/swap"
Interface Overview Screen - Title Text for the first two features (Search & File explorer) Needs to change/swap

- VSCode Version: Visual Studio Code - Version: 1.41.1
- OS Version: Mac OS

Steps to Reproduce:

1. Initial Welcome screen (Help Menu -> Welcome)
2. Click on Interface Overview from Right Side Learn Section

Does this issue occur when all extensions are disabled?: Yes/No: Its common is

[2020-03-10 05:16] sysdl132 opened #92313 "Is this a bug?"
- VSCode Version:1.43.0
- OS Version:windows 10 1903

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/54708046/76281691-cf5e3a00-62d0-11ea-9072-06e138051cf0.png)

直接打开vscode就像这样
if I open the vscode directly,it will like this.

使用：Chinese (Simplified) Language Pack for Visual Studio Code
Used:Chinese (Simplified) Language Pack for Visual Studio Code

Does this issue occur w

[2020-03-10 05:17] jaminthorns opened #92314 "Partial line preservation character (%, ⏎) incorrectly displayed for new integrated terminals"
Issue Type: <b>Bug</b>

When a new integrated terminal is opened and the prompt renders very quickly, a character is shown incorrectly. For the `zsh` shell, it's the `PROMPT_EOL_MARK` character (`%` by default):

<img width="353" alt="Screen Shot 2020-03-09 at 11 16 22 PM" src="https://user-images.githubusercontent.com/6618434/76279651-51ad1680-625d-11ea-9159-ca3b605cb570.png">

For the `fish` she

[2020-03-10 05:18] sysdl132 commented on #92313
same in 2 windows.
![image](https://user-images.githubusercontent.com/54708046/76282065-a0949380-62d1-11ea-9de4-07073cfa6ac8.png)

[2020-03-10 05:22] imvikramn opened #92315 "App crashed on pressing Esc key without selecting Color Scheme"
Issue Type: <b>Bug</b>

App crashed on pressing Esc key without selecting Color Scheme from the list.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:34:44.548Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz (4 x 2600)|
|GPU Status|2d_canvas: enabled<br>flash_3d:

[2020-03-10 05:34] jibberishclient opened #92316 "Inconsistent Syntax Highlighting for React"
- VSCode Version: latest
- OS Version: Windows 10

Does this issue occur when all extensions are disabled?: Yes

![image](https://user-images.githubusercontent.com/11995299/76282727-e8ce9a00-626e-11ea-8177-20bee53594e4.png)

For one reason or another, the syntax highlighting for JavaScript (Babel/React) looks fine up until the point when VS Code's TS/JS features initialize as indicated by a loader

[2020-03-10 05:38] MatiasOlivera commented on #92308
Color themes should use the new identifiers to fix syntax highlighting problems.

Custom settings will be required until the color theme you are using is updated. Once that happens, you can either delete the custom setting or set it to "true".

[2020-03-10 05:41] chrischiaro commented on #87509
Also seeing this happen:
![image](https://user-images.githubusercontent.com/1839411/76282870-55896a80-6256-11ea-87fd-09e0d373d1ca.png)

In my case, I'm running using VSCode with a React Native project and it results in the app hanging with the simulator reporting

Eventually, the bundler reports, `Error: not opened at WebSocket.send...`

Happy to help diagnose by providing whatever other info I ca

[2020-03-10 05:44] MatiasOlivera commented on #92316
Duplicate of #92308

[2020-03-10 05:55] JimAmuro commented on #8641
Thanks for telling me this. I don't have that software running, but indeed I am using Logitech Options driver, which might rebind my 4/5 keys to some other keys called "forward/back". Although it works on chrome, it doesn't work in vscode. After killing the driver deamon, the 4/5 keys work in vscode, but other custom keys dead... So I have to live with Logi driver. Don't know why it functions well

[2020-03-10 05:58] YugeCse commented on #92303
@he0119 you are right, i dont know how to upload image, i dont find the location where to add image.

[2020-03-10 06:02] devin-fee-ah commented on #90696
Does a thumbs up count as an upvote?

[2020-03-10 06:13] mrarjunbgupta opened #92317 "Failed to add a new environment: 'isExtensible' on proxy: trap result does not reflect extensibility of proxy target (which is 'true')"
Issue Type: <b>Bug</b>

Upgrade VScode to latest version then install IBM blockchain platform extension on Macbook Pro. Then, click on IBM blockchain extension to get this error.

Failed to add a new environment: 'isExtensible' on proxy: trap result does not reflect extensibility of proxy target (which is 'true')

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T1

[2020-03-10 06:18] mrarjunbgupta commented on #92317
I am not the extension developer. I am using the IBM blockchain extension in VScode on Macbook pro which is giving me this error. Could you please let me know what is solution.

[2020-03-10 06:46] iliazeus commented on #90517
@jrieken should I rename the issue to better reflect the proposal?

[2020-03-10 06:51] bpasero commented on #92289
Please report this against [Electron](https://github.com/atom/electron), we use their API for this purpose which seems unsupported on Linux:

https://github.com/electron/electron/blob/7-1-x/docs/api/app.md#appaddrecentdocumentpath-macos-windows

[2020-03-10 06:51] #92289 closed

[2020-03-10 06:52] bpasero commented on #92218
Forwarding to @roblourens @sandy081  do we have a complete list of variables that can be used in settings.json?

Maybe they should be showing up in IntelliSense?

[2020-03-10 06:53] bpasero commented on #92240
@akos127 isn't that just Windows 1252 (https://en.wikipedia.org/wiki/Windows-1252)?

[2020-03-10 06:53] bpasero commented on #92274
@FerrariAndrea can you clarify how you experience these minutes of waiting? Maybe with screencast?

[2020-03-10 06:55] bpasero commented on #92276
I think this is a duplicate of https://github.com/microsoft/vscode/issues/89370 or https://github.com/microsoft/vscode/issues/84754

[2020-03-10 06:55] #92276 closed

[2020-03-10 06:56] bpasero commented on #92110
@poshcodebear to clarify, you close the dirty editor, you get a dialog and you select "Don't Save" and the editor closes, but comes back after reload?

If that is true, can you see if anything gets logged to the developer tools "Console" when you do Help > Toggle Developer Tools when you do these steps?

[2020-03-10 06:58] chrmarti commented on #92270
Sorry, what font change? What's actual vs. expected behavior?

[2020-03-10 07:02] Shafran123 commented on #87509
Same Issue here please open this

[2020-03-10 07:02] thomcc opened #92318 "When relaunching for 1.43.0 update, vscode tries to open ~80 old workspaces"
Issue Type: <b>Bug</b>

After updating to 1.43.0, when VSCode relaunched, it brought up around 80 editor windows from old projects I hadn't opened in quite some time. (spooky workspace necromancy)

Perhaps obviously this made my computer behave quite poorly. I tried adding "window.restoreWindows": "none" to my `<config>/User/settings.json` with another text editor, but it didn't seem to be respect

[2020-03-10 07:08] Skeeve opened #92319 "Please support Relaxed JSON"
You already support JSON with comments. I'd love to see this going one step further to [Relaxed JSON](http://www.relaxedjson.org/).

It not only has comments in but also allows for trailing commas, which really is a relief when you want to add more elements to an array or object. You do not need to remember to add a comma in the line before and do not need to not put a comma at the end. You simply

[2020-03-10 07:11] thomcc commented on #92318
FWIW this *does* seem to be respected now and I haven't changed anything, maybe indicating that it was being ignored for some reason during all this? Not sure if this is important, but worth noting I guess.

[2020-03-10 07:15] bpasero commented on #92109
@rebornix I can reproduce and the crash seems to happen in piece tree:

![image](https://user-images.githubusercontent.com/900690/76288489-1b948480-62a7-11ea-9625-eb90c4ad2e2d.png)

I verfied on my end that I am just calling [`this.modelService.updateModel`](https://github.com/microsoft/vscode/blob/ffcd280b5382e89571e16b17c7157de0ed925b7f/src/vs/workbench/common/editor/textEditorModel.ts#L152) wit

[2020-03-10 07:26] tayfunyasar commented on #65979
I see different versions than my current project's node_modules on typescript .cache directory. Its not a very good solution i think.

[2020-03-10 07:28] jrieken commented on #91606
For language features we actually have LIFO because you can force yourself coming after a particular extension by defining a dependency.

Alternatively, and in combination with the protection dialog you could show a picker-like UX that allows me to select the extension. This is what we do for formatting.

[2020-03-10 07:33] deimi commented on #84233
It seems that 1.43 is working fine. At least for me.
The others (@askvortsov1 @3v1n0 @tasmanianfox) should check as well, so we can close this issue.

@deepak1556 either it was the update to Electron 7.0 or any other change

[2020-03-10 07:33] bpasero commented on #92179
@mjbvz this is not fixing it entirely I can still get into the issue if I:
* open 2 images side by side
* in the first: reopen with vscode
* then click on "open as text"

I feel we should first have the discussion how custom editors register as working copies if they are not using the text document based approach before doing this.

[2020-03-10 07:34] jrieken commented on #90517
👍

Reactions during the API meeting were positive, so I am confident that we can finalize this during the current milestone. One feedback item was to always have a value for `code`, e.g. let its default value be something like `FileSystemError` or `Unspecified`

[2020-03-10 07:37] #65815 closed

[2020-03-10 07:39] jrieken commented on #91983
<img width="719" alt="Screenshot 2020-03-10 at 08 39 08" src="https://user-images.githubusercontent.com/1794099/76289972-9f03a500-62aa-11ea-8825-b27307d754cb.png">

Does not reproduce for me, please add repro steps that allow me to

[2020-03-10 07:40] PinkiePieStyle opened #92320 "Icon setting restored"
Issue Type: <b>Bug</b>

After update to "March 2020 (version 1.44)" icons are restored on each start

VS Code version: Code - Insiders 1.44.0-insider (1876b51870e30e9ba8f35dc0dcfaf49a3799a8ef, 2020-03-09T19:46:29.230Z)
OS version: Windows_NT x64 10.0.18363

[2020-03-10 07:41] soocute opened #92321 "中文插件导致资源管理器那一栏的button按钮变成代码"
![24de026396b4922cd240e71497e4295](https://user-images.githubusercontent.com/39860072/76289979-50273100-62e5-11ea-9d4a-7a8c3bb041bb.png)
![3f5c001e96433c8afef903dcc807d08](https://user-images.githubusercontent.com/39860072/76289985-51585e00-62e5-11ea-9066-2ab26e4a3042.png)
![298eed528d03d5155ce4be719dd8f44](https://user-images.githubusercontent.com/39860072/76289993-54534e80-62e5-11ea-9567-b00337d

[2020-03-10 07:43] bpasero commented on #92287
I really think this test should leverage mock debug and not require a process to start.

[2020-03-10 07:45] ArthurWietzorek commented on #26729
I, too, think that such a feature would be a great addition to VSCode.

[2020-03-10 07:49] soocute commented on #92303
我也是这样，是我电脑的问题，还是插件的问题？
请问，你的vscode修复了这个bug没？
我记得我上个礼拜新装vscode是没有这个问题的。

[2020-03-10 07:57] DanTup commented on #73845
If a debugger decides to "escape" newlines here, won't it break the "Copy value" functionality? The user will then end up with a string with these characters escaped, rather than literal?

[2020-03-10 07:58] b00f commented on #90126
That's true. I don't know why they close this issue when this is really a headache for developers.

[2020-03-10 08:03] bpasero commented on #92105
@st0le it would be relatively simple to just print the contents of the file we use for stdin reading when it closes by adding something like `console.log(fs.readFileSync(stdinFilePath).toString());` right before:

https://github.com/microsoft/vscode/blob/2697ae50402a713965cf075054cc309378959a0c/src/vs/code/node/cli.ts#L346

However I see 2 issues:
* you only want this printed to `stdout` if anothe

[2020-03-10 08:04] gjsjohnmurray commented on #92316
/duplicate thanks @MatiasOlivera

[2020-03-10 08:04] #92316 closed

[2020-03-10 08:06] RomanovaDI commented on #92012
It didn't help me =(

[2020-03-10 08:17] blindrood opened #92322 "Icons in Git panel are invisible"
- VSCode Version: 1.43
- OS Version: Windows 10

Steps to Reproduce:

1. Update to 1.43
2. Open git panel

![image](https://user-images.githubusercontent.com/48821393/76292532-b2653f00-62af-11ea-92b5-24b4644ae1e4.png)

Buttons for commit, refresh etc. are invisible. They are there, still working, have label but invisible

[2020-03-10 08:17] leonardder commented on #91061
In VS Code Insiders, I can now get the actual number of selected items, this is great. I will look into making this work more smoothly in NVDA by means of a pull request.

[2020-03-10 08:19] #71134 closed

[2020-03-10 08:21] Sh1d0w commented on #43270
@jrieken Pardon me, but this is a huge problem and very annoying for users. It is impossible to get a proper autocomplete after you autocomplete once, as afterwards everything is highlighted and you need to press extract ESC in order to deselect... This is pretty annoying and counter productive.

![](https://i.stack.imgur.com/bZHk7.gif)

Please reconsider you decision.

[2020-03-10 08:32] dlucazeau opened #92323 "All the extension icons in the activity bar are gone after last update"
Issue Type: <b>Bug</b>

Since the last update, this bug is now in VSCode not only in Insiders (@see https://github.com/microsoft/vscode/issues/88814#issuecomment-586848250).
This bug affects also the explorer when using extensions theme icons like (Material Icon Theme)

See also https://github.com/microsoft/vscode/issues/92322#issue-578407406

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d36

[2020-03-10 08:34] jrieken commented on #43270
@Sh1d0w Please re-read this issue to understand what it is about

[2020-03-10 08:35] bpasero commented on #69648
/duplicate https://github.com/microsoft/vscode/issues/25925

[2020-03-10 08:35] #69648 closed

[2020-03-10 08:39] tytannial commented on #5402
Column selection and copy from visual studio to vscode is easy. But how to back.
Column selection copy from vscode to visual studio, VS can't handle that.😭

Version: 1.43.0

[2020-03-10 08:45] YugeCse commented on #92303
@soocute 就是更新这个版本出的问题的，This problem ocurred after I updated this version.

[2020-03-10 08:47] isidorn opened #92324 "Orca not reading languages list"
In Ubuntu, Orca doesn't speak the language modes when pressing ctrl+k, m when in Code Insider's.
Ubuntu 20.04, Orca master (3.37.1 pre), Code Insider's 1.44.

1.	Start Orca.
2.	Load Code Insider's.
3.	If not in an editor, press ctrl+n to create one.
4.	Press ctrl+k, m for a language.
5.	Press up/down arrows, or start typing your favorite programming language.

Actual results: Orca only speaks the

[2020-03-10 08:49] AGhost88 opened #92325 "1.43 Update brakes again the Serial COM port selection"
- VSCode Version: 1.43
- OS Version: Windows 10
- Arduino plugin: 0.2.29

same as issue: #84192  #76538
Steps to Reproduce:

1. update from 1.42.1 to 1.43
2. Try change serial port for arduino project

Does this issue occur when all extensions are disabled?: Without extension serial port selection not available

[2020-03-10 08:54] theusersimons opened #92326 "Changing theme colors"
Sometimes the syntax colors change when working. For example, the color of the name of getters and setters in JS changes to the color of normal variables and the text becomes poorly distinguishable.

[2020-03-10 08:56] bmix commented on #88424
Nice, this definitely needs built in editor support!

As somebody working a lot with XML files, I'd really appreciate a solid mirroring of element tags and relatives. My use cases are:

* cut/delete element tag
* rename element tag
* un/indent element tag
* visually mark opening and closing element tag
* jump to matching (opening/closing) element tag
* if I close an element inline (making it effec

[2020-03-10 09:00] llgcode commented on #86180
We also need it to add/remove menu conditionally on ScmResourceGroup or ScmResource. It will help us organize our menu efficiently

[2020-03-10 09:06] dbaeumer commented on #86140
That explains it. But it wouldn't be necessary for errors when running in ipc transport since stderr and stdout are capture correctly on the client side.

[2020-03-10 09:07] dbaeumer commented on #86140
@Tyriar I tried to reproduce this using teh en.gb LP but can't. Any additional steps ?

I would like to understand why this is happening before I add some protection code.

[2020-03-10 09:11] imAliAzhar opened #92327 "Fonts switch to incorrent styles after a split second of selecting a theme"
- VSCode Version:  1.43.0
- OS Version: MacOS Catalina, 10.15.3

Steps to Reproduce:

1. Switch color themes

Does this issue occur when all extensions are disabled?: Yes (for defaults themes like Red, Solarized Dark etc)

In the GIF, observe `dispatch` function, it updates color after selecting a theme.
![vscode-themes-bug](https://user-images.githubusercontent.com/18743730/76296811-96c25e80-62d8

[2020-03-10 09:15] markrazorx opened #92328 "Can't find VS Code in Start Menu"
Issue Type: <b>Bug</b>

Can you please share where the .exe file is so I can manually add it to the Start Menu

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.17763

Extensions: none

[2020-03-10 09:16] gjsjohnmurray commented on #92327
Some themes haven't yet been updated by their maintainers to support semantic highlighting. See https://github.com/microsoft/vscode/issues/92308#issuecomment-596885893 for a workaround.

[2020-03-10 09:17] isidorn commented on #73845
@DanTup No, I do not think so. Since the copy value functionality invokes the `evaluation` with the context `variables`. So the debug adapter can handle this on their side.

[2020-03-10 09:17] gjsjohnmurray commented on #92326
/duplicate - see https://github.com/microsoft/vscode/issues/92308#issuecomment-596885893 for a workaround.

[2020-03-10 09:17] #92326 closed

[2020-03-10 09:17] llgcode opened #92329 "When clause startsWith operator"
Hi,
It will be handy to test if a string startsWith a substring in the case of displaying a menu when declaring it in package.json.

It will be reasonable to have also other operators like:
- startsWith
- endsWith
- contains

[2020-03-10 09:18] zxgm opened #92330 "Does the vscode not support multi-thread view on debug?"
Does the vscode not support multi-thread view on debug? The vscode have not the feature on current?

[2020-03-10 09:19] isidorn commented on #92287
The problem was that the re-retry did not clear the previous state.
Now we should be good. Fixed via c91e2b62d7
If it keeps on failing I will look into using mock debug

[2020-03-10 09:19] #92287 closed

[2020-03-10 09:20] tgquan67 opened #92331 "SSH remote not working in 1.43"
- VSCode Version: 1.43
- OS Version: Windows 10 1903

Steps to Reproduce:

1. Update from VSCode 1.42.1 to 1.43
2. Connect to a remote host through its alias declared in %UserProfile%/.ssh/config

Expected behavior: An SSH session can be established to the remote machine.
Behavior in reality: VSCode cannot connect, throwing "cannot resolve hostname" error. The problem can be partly mitigated by pu

[2020-03-10 09:21] Juggern4ut opened #92332 "Not able to sync settings"
Issue Type: <b>Bug</b>

My settings don't sync and whenever I reopen VS Code Insiders it will reset my settings to default.

I'll get the following output in the sync-output.

[code]

My settings.json includes only very basic settings so I don't think it should be a problem here.
[code]

VS Code version: Code - Insiders 1.44.0-insider (1876b51870e30e9ba8f35dc0dcfaf49a3799a8ef, 2020-03-09T19:46:29.

[2020-03-10 09:25] riderx commented on #90851
Same here it broke my dev path everyday .... why did you change that ?

[2020-03-10 09:26] jrieken commented on #90851
@riderx What do you think did we change?

[2020-03-10 09:26] tiptronic85 commented on #92331
Same for me, this morning i updated to 1.42 to 1.43 and now SSH does not work.

Another annoying issue is that when it loses connection with SSH i have to re-open all tabs again and again

[2020-03-10 09:29] jvesouza opened #92333 "The 'show accessibility help' command is associated with the alt + f1 key but that key is used in gnome."
Issue Type: <b>Bug</b>

In gnome the shortcut alt + f1 is used to Switch between overview and desktop.
In VSCode, the same combination is used to activate accessibility in the editor.
Priority ends up being the gnome that handles this key combination preventing it from being used by VSCode.
@isidorn  Would it be possible to use another shortcut instead of alt + f1?

VS Code version: Code - Insider

[2020-03-10 09:29] isidorn commented on #92301
Forwarding to @bpasero and @misolori since this is notifications.

[2020-03-10 09:31] gr4nt3d commented on #92262
Could have thought about that myself, thank you for the hint:
[code]
Please also note, that I have [upgraded my bash](https://itnext.io/upgrading-bash-on-macos-7138bd1066ba) and set `"terminal.integrated.shell.osx": "/usr/local/bin/bash"` in my `settings.json`.

[2020-03-10 09:32] isidorn commented on #92333
@jvesouza of course, we can change the default for Linux. What would be your suggestion of a keybinding?
To not potentially break users muscle memory I would just add an additional keybinding on Linux.
@jvesouza is that keybinding taken only on Gnome or on most Linux platforms?

@alexdima fyi

[2020-03-10 09:34] isidorn commented on #91061
@leonardder great thanks!

[2020-03-10 09:37] isidorn opened #92334 "Disk File Service "after each" hook for "readFile - FILE_TOO_LARGE - streamed""
Electron unit test failure here https://dev.azure.com/vscode/VSCode/_build/results?buildId=39020&view=logs&j=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&t=08e986c2-058e-5f01-51da-ae4278e2d74e

[2020-03-10 09:45] CombeeMike opened #92335 "Latest update to 1.43.0 broke color theme "Atom One Dark""
- VSCode Version: `1.43.0`
- OS Version: `Win 10 v1909`

Steps to Reproduce:

1. Download & activate theme [Atom One Dark](https://marketplace.visualstudio.com/items?itemName=akamud.vscode-theme-onedark)
2. Tokens are colorized different then in previous versions
3. In "side by side" diff view, correct colors are shown on the left side (the original):

![2020-03-10_10h25_27](https://user-images.gi

[2020-03-10 09:48] zhou-shuai commented on #35711
我遇到了相同的问题，期待修复

[2020-03-10 09:48] DanTup commented on #73845
@isidorn but the above text specifically mentions `variables`:

In order to fix this, the DA needs to escape newlines to `\n` when it gets an evaluateRequest for `variables`, and that means **Copy Value** will get the escaped version too. The DA cannot distinguish the copy requests from display (though supporting this has come up before - but been rejected - at https://github.com/microsoft/vscode/

[2020-03-10 09:48] bpasero commented on #92301
We do not have to support to specify more than one shadow color for theme authors. We use `widget.shadow` currently:

https://github.com/microsoft/vscode/blob/12979c45f17ca571cab023d3542626940d7f3ab6/src/vs/workbench/browser/parts/notifications/notificationsToasts.ts#L452

If we want to revisit `box-shadows`, we should probably do this consistently throughout all of our uses, there are many more.

[2020-03-10 09:51] tgquan67 commented on #92331
@tiptronic85 you can try downgrade the extension `Remote - SSH` version to 0.49.0, that worked for me. VSCode 1.43 automatically updated the extension to version 0.50.0.

[2020-03-10 09:51] #92334 closed

[2020-03-10 09:52] bpasero commented on #92334
I added a larger timeout of 10s vs 5s and want to monitor if this helps. As last resort, I can disable this test for operating systems that have a bad file system implementation (Windows).

[2020-03-10 09:54] #92264 closed

[2020-03-10 09:54] hookxs opened #92336 "Cursor position after deselection and line wrap"
Normally, when a text a selected and either left or right arrow is pressed, the text is deselected and the cursor is placed before the first or after the last character of the selection, respectively, regardless of its previous position. This is very useful behavior. However, when the selected text is wrapped due to "word wrap"=on (not because multiple lines are selected) and left arrow is pressed

[2020-03-10 09:54] isidorn commented on #92264
Good catch. I have pushed a fix for this which you can see in vscode insiders from Wednesday. Let us know if it works for you know (though I verified and it is fixed for me).
Thanks!

[2020-03-10 09:55] DanTup commented on #43270
@Sh1d0w thanks for the gif - I hadn't noticed that bug (I don't use the main snippet). It's the same issue described here, but it's caused by using the wrong placeholder (`$1` instead of $0`) in the Dart snippet. I've opened https://github.com/Dart-Code/Dart-Code/issues/2296 for it.

[2020-03-10 09:55] llgcode opened #92337 "SCM - Provide multiple ScmResourceGroup in menu commands"
Hi,
When implementing a menu on a ResourceGroup in SourceControl view. There is always only one group in command args even if the user select multiple ResourceGroup and perform a common menu action there.

[code]

The expected behavior is to have the list of SourceControlResourceGroup in command args like when selecting multiple SourceControlResource and execute a common menu action.

[code]

Rega

[2020-03-10 09:57] jrieken opened #92338 "TS symbol search is broken"
* latest 1.44.0 insider
* open the VS Code project
* use symbol search, it is broken 9 of 10 cases

<img width="728" alt="image" src="https://user-images.githubusercontent.com/1794099/76301018-ea737e80-62bd-11ea-88fc-b248b658ed65.png">

[2020-03-10 09:58] jrieken commented on #92338
oh, also using 3.9.0-dev.20200304

[2020-03-10 10:00] Sh1d0w commented on #43270
@DanTup Thanks for the quick reaction. Just FYI it is not problem only with the main snippet, it is problem with every Flutter widget (I am using Flutter VSCode dart extension), and if I enable placeholder auto insert option, I get stuck there as well once I autocomplete a widget suggestion.

Should we open an issue somewhere else or this one will resolve that issue as well?

[2020-03-10 10:01] alexr00 commented on #91988
@Tyriar Do you have any ideas about what could be going on here? @ronniehicks is getting this error when running a very simple task:
`The terminal process command 'C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe -Command echo testing' failed to launch (exit code: {2})`
 The command doesn't require that anything be on the path: `C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe -C

[2020-03-10 10:02] themeler commented on #92335
I've the same problem (Base16 Tomorrow Dark theme). Colors are completly messed up.

[2020-03-10 10:02] janwilmans opened #92339 "after find/replace, documents are saved, but when 'format on save' is enabled, there are not formatted."
after find/replace, documents are saved (en mass) but even when 'format on save' is enabled, they are not formatted before saving.

Its hard to determine where to report this, but since find/replace and format-of-save are core-features (I think?) I'm reporting here.

[2020-03-10 10:02] jvesouza commented on #92324
When I'm in an editor and I press ctrl + k + m, I only hear the number of languages ​​found.
I press up arrow and down arrow but the orca is silent.
Am I doing something wrong?

[2020-03-10 10:06] alexr00 commented on #92262
Ok, it looks like your path isn't getting set in the way you expect when you launch VS Code. Related (but not identical I think) issue: https://github.com/microsoft/vscode/issues/21655
In the dev tools console, can you run `getLazyEnv().then(e => console.log(e))` and share the output from that?
There are a lot of difficulties around getting the path set nicely when VS Code is launched, so you can

[2020-03-10 10:09] DanTup commented on #43270
Yeah, those are the problematic ones because of this issue. The `main` snippet was a trivial error - it had a "tab stop" in the middle of the body, which triggers this issue, but it really should've been the "final tab stop" (which means it exits this snippet mode immediately).

When completing something that has arguments, and one of those arguments is a function, I don't really have a fix and th

[2020-03-10 10:10] Dongsheng-Fan opened #92340 "行注释快捷键无效"
Issue Type: <b>Bug</b>

行注释快捷键“Ctrl+/”无效

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:44:52.965Z)
OS version: Linux x64 4.15.0-88-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 4010)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d

[2020-03-10 10:12] toja83 commented on #86180
Agree, please fix this issue!

[2020-03-10 10:13] cuddeford commented on #92335
This is also happening for me with Ruby Blue

[2020-03-10 10:14] marcocavanna opened #92341 "While Debugging, Theme is changed"
Issue Type: <b>Bug</b>

Hi,

when running a Debug instance of a NodeApp my Theme will stop working and some keyword are changing color to default (white). This happens only after installed last release

Thanks,

Marco

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:34:44.548Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Valu

[2020-03-10 10:20] janos-kasa commented on #92335
This comment helped me: https://github.com/microsoft/vscode/issues/92308#issuecomment-596885893

Themes need to be updated to support semantic highlighting.

[2020-03-10 10:22] SidoShiro commented on #65971
Good job !

[2020-03-10 10:23] cuddeford commented on #92335
The workaround worked for me

[2020-03-10 10:26] dijitali commented on #92318
Hit the same issue here, open up a few hundred projects and my mac nearly fell over:

[2020-03-10 10:27] tiptronic85 commented on #92331
What do i have to do to downgrade the extension ?

[2020-03-10 10:30] tiptronic85 commented on #92331
I have another problem, sometimes when it loses connection, all tabs were closed.
Do you have the same problem? Any hint?

[2020-03-10 10:31] #92324 closed

[2020-03-10 10:31] isidorn commented on #92324
The issue here seems to be that the @chrmarti Quick Input does not provide an `accessibilityProvider`  to the list and manually sets it on each element. I believe this can cause to `ariaLabels` not being properly set and potetnially overwritten by the tree.

Thus I have pushed a potential fix for this. I have tried it out on my mac and now I see
@jvesouza can you please verify with vscode insiders

[2020-03-10 10:32] CombeeMike commented on #92335
Works for me as well. Am I correct in assuming that the theme maintainer need to update their themes to work with the new semantic highlighting as well?

[2020-03-10 10:33] gr4nt3d commented on #92262
Tried to split the lines a bit:
<details>
<summary> <code> getLazyEnv().then(e => console.log(e))</code></summary><p>

    Promise {<pending>}
    __proto__: Promise
    catch: ƒ catch()
    arguments: (...)
    caller: (...)
    length: 1name: "catch"
    __proto__: ƒ ()
    apply: ƒ apply()
    arguments: (...)
    bind: ƒ bind()
    call: ƒ call()
    caller: (...)
    constructor: ƒ Function()

[2020-03-10 10:33] jrieken commented on #91503
Early adopters! Do this:

* run `yarn watch` so that non-emitted files, like css, images, fonts etc, are copied to the out folder.
* kill the `yarn watch` but remember to restart it when new resources arrive (seldom)
* run `npx tsc -p src/tsconfig.json --assumeChangesOnlyAffectDirectDependencies --watch`. Note that this only compiles VS Code but not the extensions-folder, for now more tsc-processe

[2020-03-10 10:34] dlucazeau commented on #92323
It is the same bug reappeared in VSCode Insiders but new in VSCode

[2020-03-10 10:39] jrieken commented on #90208
We have decided for option 2 but not yet on the details of its implemenation corner cases, e.g should a file-uri with windows-path on unix be treated as win32-path or as posix-path?

[2020-03-10 10:41] raynym commented on #92331
I got the following in the output panel when trying to connect from Mac to Linux with version 0.50.0 of `Remote - SSH`:
[code]
VS Code was just hanging doing nothing. Going back to `Remote - SSH` 0.49.0 solved this for me too.

[2020-03-10 10:42] Will-W commented on #90170
I had the same issue, having never set this setting. Specifically:

Steps

- editor.find.autoFindInSelection set to its default value (never)
- Select a word (that appears multiple times on the page)
- Press ctrl+f to bring up the find box

Expected:

- `Find in selection` unchecked, and multiple results are found

Actual

- `Find in selection` is checked, and only one result is found (because it'

[2020-03-10 10:43] kamilbiela commented on #92331
In my case Vscode was complaining about ssh key being incorrect format, then prompting for password. After entering pass, it connected and in logs I saw the motd from server. Then it complained about not being able to create symlink and disconnected.

Downgrading plugin fixed the issue (thanks @tgquan67, you saved my life ;) ).

[2020-03-10 10:45] przemo1983 commented on #92331
In my case downgrading did not help.

[2020-03-10 10:46] isidorn opened #92342 "List AccessibilityProvider should be mandatory"
List accessbiilityProvider should not be optional but mandatory. Currently clients of the list / tree forget to implement this and it is a core feature which must be supported always.
@jrieken also rasied this point

@joaomoreno we could make it mandatory in the `options` or it could be another paramter after the `renderers` in the list. Let me know what you think and prefer

---

⚠️  **Action Req

[2020-03-10 10:48] isidorn opened #92343 "Terminal integration tests failing on Browser"
Here's the failing build https://dev.azure.com/monacotools/Monaco/_build/results?buildId=69339&view=logs&j=935a53e5-ce00-51d1-185d-b2f737723cea&t=78251e6f-ceae-58b8-b69e-6d3a7d24b6bc

`Window namespace tests Terminal sendText immediately after createTerminal should not throw:`

[2020-03-10 10:52] cuddeford commented on #92335
As far as I can tell, yes. Here's is some reference reading: https://github.com/microsoft/vscode/wiki/Semantic-Highlighting-Overview

[2020-03-10 10:53] igolskyi commented on #23931
Can I set hotkeys on `"search.searchEditor.doubleClickBehaviour": "goToLocation"` instead of double click behavior?

[2020-03-10 10:56] pedrofsantoscom opened #92344 "Using "Find in files" shortcut while a text is selected, doesn't trigger the search"
Issue Type: <b>Bug</b>

1. Highlight a text
2. Press "Find in files" shortcut (mine is CTRL+SHIFT+F)
3. Text is sent to SEARCH tab on the sidebar but no search is done. Needs a key event on the textbox to trigger the search

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summar

[2020-03-10 10:57] rickstaa commented on #79932
@isidorn thanks for your response. By @mickare requesting it to be reopened I guess there is still support for this idea. I, therefore, think that reopening the issue till the vscodebot closes it again might be a good way to check for support.

[2020-03-10 11:00] critical-bug commented on #77382
Same with me.
Code installed with snap can't input hiragana in commit message box. ver c47d83b2 (rev 25), ver 78a4c914 (rev 26).
My environment is Fedora 31, ibus 1.5.21, ibus-mozc 2.23.2815.182.
snap is installed according to official document https://snapcraft.io/docs/installing-snap-on-fedora .
rpm-version Code can.

[2020-03-10 11:14] tgquan67 commented on #92331
@przemo1983 it's a bit messy, but you can try open a local window of VSCode, uninstall `Remote - SSH` extension, then install VSCode version 1.42.1. After that reinstall the extension. That also worked for me.
@tiptronic85  I have never been disconnected in the middle of a session, just when I connect to a server without turning the server on first, it will throw an error, and if I choose to close

[2020-03-10 11:33] isidorn opened #92345 "Smoke test failure: checks if 'Go to Line' works if called from the status bar"
Smoke test failure

https://monacotools.visualstudio.com/Monaco/_build/results?buildId=69344&view=logs&j=a5e52b91-c83f-5429-4a68-c246fc63a4f7&t=05af1eac-c39c-5c75-1e3f-dd115ec8907d

[2020-03-10 11:40] felipe7229 commented on #28795
i'm waiting solution. Somebody?

[2020-03-10 11:41] babakks commented on #92323
I'm seeing such strange things, too. When I open VS Code Insiders or even open a new window, the line in `settings.json` where it set the icons theme, just disappears and file icons reset to default. The only new thing I tried today, was enabling the brand new auto sync feature. Now, even if I disable it, the problem still exists.

[2020-03-10 11:45] midou35000 commented on #92098
![cppfil](https://user-images.githubusercontent.com/6606027/76309275-c2d7e280-62cc-11ea-838b-83ce47f82d97.png)

Note that my system language is set to Norwegian. That's why you see "cpp-fil".

[2020-03-10 11:47] lonix1 opened #92346 "Behavior changed for middle click window title in linux"
**ENVIRONMENT:**
linux ubuntu 19
vscode 1.43.0 (released today)

**WHAT USED TO WORK:**
I'm using the mouse middle click to lower a window - so I can easily cycle through open windows. This setting is set via the shell, or the gnome tweaks tool.

**HOW IT WORKS NOW:**
That changed in this latest update. It doesn't honor that gnome setting anymore. So a middle click on the vscode titlebar does noth

[2020-03-10 11:55] REPTILEHAUS opened #92347 "Colouring Issue with VScode update February 2020 (version 1.43)"
- VSCode Version: February 2020 (version 1.43)
- OS Version: macOS Catalina v 10.15.3 (19D76)

Version: 1.43.0
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:34:44.548Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0

Steps to Reproduce:

1. open code

Does this issue occur when all extensions are disabled?: Yes

Colours

[2020-03-10 11:55] caub commented on #92308
1.43.0 has another annoying thing for React:

![2020-03-10-125357_547x29_scrot](https://user-images.githubusercontent.com/3134574/76310019-47773080-62ce-11ea-8abf-75b9ecbf8370.png)

All 3 imports are React components, it doesn't matter if they are functional components or class components, it's more distracting than useful

Can this change be reversed?

[2020-03-10 11:56] REPTILEHAUS commented on #92347
Closing as fixed with this
`"editor.semanticHighlighting.enabled": false` as per recommendation in https://github.com/microsoft/vscode/issues/92308

[2020-03-10 11:56] #92347 closed

[2020-03-10 11:57] IllusionMH commented on #92330
/needsMoreInfo

What language and debug extension you are using?

This functionality is supported by VS Code, but extension needs to provide this info to VS Code. [Example for C++](https://code.visualstudio.com/docs/cpp/cpp-debug#_multithreaded-debugging)

[2020-03-10 11:57] syd619 commented on #92341
I have a similar issue after the latest update, class names, require, as well as class getters & setters appear in light blue (see screenshots attached).

Version: 1.43.0 (user setup)
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:47:57.235Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

![vscode2](https://user-

[2020-03-10 12:05] antonGritsenko opened #92348 "[json] Wrong resolution of relative path in JSON schema reference"
- VSCode Version: 1.42.1
- OS Version: Windows 10 1903

Steps to Reproduce:

1. Create new json schema
2. Create new json file, reference schema to newly created schema using **file URI** and relative path.

Sample:
D:\test\schema.json
D:\test\my.json
in my.json:
[code]
Error: _Unable to load schema from '\schema.json': ENOENT: no such file or directory, open 'd:\schema.json'_

The VS Code resolve

[2020-03-10 12:07] KevinGuancheDarias commented on #92033
Able to reproduce. In todays build of VSCode Insider (2020-03-09T19:46:29.230Z)

The problem seems to be similar to one already fixed with the Git extension itself, when working with drives. other than `C:`

I have a `G:` drive that is "subst" device, it points to `C:\Users\kevin\Development`

When opening the folder in the `G:` drive, no changes are detected, when opening the folder in `C:` it wo

[2020-03-10 12:12] mazuk6 opened #92349 "Syntax Highlighting for PHP in HTML-Documents"
Issue Type: <b>Feature Request</b>

I use .htm/.html documents as templates to have full code-completion and highlighting available in editors.
PHP-Snippets in the HTML-code arent recognised as PHP. Some simple highlighting would really help.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

![Unbenannt](https:

[2020-03-10 12:14] przemo1983 commented on #92331
@tgquan67 your workaround works for me. thank you!

[2020-03-10 12:26] thernstig opened #92350 "Add .npmrc file association as ini-file"
.npmrc files are INI-files so it would be nice to automatically associate the language mode, like so:

[code]

Since VS Code [support Node.js out-of-the-box](https://code.visualstudio.com/docs/nodejs/nodejs-tutorial) it would be nice it also then supports .npmrc out of the box.

[2020-03-10 12:28] thernstig commented on #92350
I'll send a PR.

[2020-03-10 12:31] Alexander-Ivanov91 opened #92351 "console key word is with different color"
Issue Type: <b>Bug</b>

Write console.log and observe the color of the console keyword. Used to be green an this way is much more recognisable. When VS code initializes console keyword is green, but when VS code is initialized it becomes blue.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary

[2020-03-10 12:34] keremispirli commented on #92015
This issue seems to be fixed in 1.43.0.

[2020-03-10 12:40] caub commented on #92308
Also object props and values have same colors now, it's a bit disturbing
![2020-03-10-134013_342x116_scrot](https://user-images.githubusercontent.com/3134574/76313161-bce5ff80-62d4-11ea-894b-c6b9aba7422f.png)

[2020-03-10 12:46] gjsjohnmurray commented on #92351
/duplicate of #90379

As a workaround you could disable semantic highlighting.

[2020-03-10 12:46] #92351 closed

[2020-03-10 12:57] dbaeumer opened #92352 "Translation export fails"
Exporting translation fails with the following error message:

[code]

[2020-03-10 13:08] MatiasOlivera commented on #92308
@caub Are you using the [Babel javascript](https://marketplace.visualstudio.com/items?itemName=mgmcdermott.vscode-language-babel) extension?

This extension uses identifiers that are different from the built-in ones.

A workaround is to disable the extension and add this custom setting:

[code]

This solution is likely to cause other problems in syntax highlighting.

[2020-03-10 13:09] Alexander-Ivanov91 commented on #92351
Thank you, gjsjohnmurray!

[2020-03-10 13:09] dbaeumer commented on #92352
I couldn't reproduce this on tag `1.43.0`.

The exception is generated since the actual message is the empty string. There is not reason why we shouldn't allow this.

[2020-03-10 13:09] folke commented on #92320
Fixed for me in the latest build! b0791e5236f462fbb785e9a00319705607cefb9d

[code]

[2020-03-10 13:10] kladnik commented on #92346
Just noticed the same issue. Hopefully there is an easy solution.

[2020-03-10 13:16] folke opened #92353 "[json] Problems loading reference with schema service"
- VSCode Version: 1.44.0-insider
- OS Version: Darwin x64 19.3.0
[code]

Steps to Reproduce:

1. Open any `package.json` or `tsconfig.json` file
2. The schema will fail loading with the following error:

Does this issue occur when all extensions are disabled?: **Yes**

**Edit:** I'm not using a proxy

[2020-03-10 13:18] Ghost---Shadow commented on #92308
Custom settings will be required until the color theme you are using is updated. Once that happens, you can either delete the custom setting or set it to "true".

I am using the default VSCode theme bundled with VSCode.

Did nobody test this before pushing out the release?

[2020-03-10 13:19] fivepoint-0 opened #92354 "Typescript crashing constantly"
Issue Type: <b>Bug</b>

Simply creating and modifying typescript project. I initiated a project with 'tsc --init', configured and installed tslint, and also installed express. I cannot get intellisense to work with express apps.

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</s

[2020-03-10 13:20] tiusnonos commented on #21849
@alexdima Thank you so much for this amazing work on the minimap!!! I was waiting for it a long time ago, it will really increase my productivity!

[2020-03-10 13:23] AlexAegis commented on #92331
We experience the same issue in our company. The investigation is quite a setback. The first stderr lines are bash related

[code]

Maybe some script broke?

[2020-03-10 13:24] gjsjohnmurray commented on #92354
Maybe try updating to 1.43 which just released.

[2020-03-10 13:27] hitesh-parmar commented on #46886
I still face this issue. It is not possible to resize breakpoints view. I have many breakpoints and it is frustrating to scroll and look for a breakpoint you want to deactivate. I interchanged the position of the breakpoints view but still no luck.

Any reason why it is the way it is? I feel the behaviour should be same for all the panes.
@isidorn Could you please have a look again and see if this

[2020-03-10 13:27] ckr1989 opened #92355 "Windows OS - Horizontal scroll using trackpad"
In Windows settings, trackpad scroll is set to "Natural Scrolling".

In VScode, only vertical scroll works as per this setting, whereas, the horizontal scroll works in opposite direction.

This is not consistent. It should work in any one particular way. Either both vertical and horizontal do a natural scroll or a regular scroll.

This is only with "Two finger" trackpad scroll. VSCode version: 1.4

[2020-03-10 13:30] AlexAegis commented on #92331
We can confirm that reverting the Remote SSH extension to 0.49 is enough, no need to downgrade VS Code itself, no need to delete anything.

![image](https://user-images.githubusercontent.com/16900547/76316977-b14a0700-62db-11ea-8958-4ac80546c7c2.png)

[2020-03-10 13:32] janbaltus commented on #92352
c:\_shift\vscode\vscode>gulp --max-old-space-size=8192 vscode-translations-export

[06:13:20] Node flags detected: --max-old-space-size=8192
[06:13:20] Respawned to PID: 6408
[06:13:42] Using gulpfile c:\_shift\vscode\vscode\gulpfile.js
[06:13:42] Starting 'vscode-translations-export'...
[06:13:42] Starting clean-out-build ...
[06:13:45] Finished clean-out-build after 3333 ms
[06:13:45] Starting c

[2020-03-10 13:33] dbaeumer commented on #92352
@janbaltus is this on master ?

[2020-03-10 13:35] VipSaran commented on #20530
Cmon, it's ridiculous. The search looks in open files by default **only** if the file was focused after it was opened!

We need an option to automatically look in all opened files (in the window).

[2020-03-10 13:35] dbaeumer commented on #92352
Could reproduce on master. For 1.43.0 (the stable build from yesterday) please export the translation on that version

[2020-03-10 13:37] dbaeumer commented on #92352
The problematic code is here:

https://github.com/Microsoft/vscode/blob/master/src/vs/platform/theme/common/iconRegistry.ts#L144

@aeschli can you comment on why you need to externalize empty strings?

[2020-03-10 13:39] joaomoreno commented on #91503
@mjbvz Any plan on having the tsc watcher simply copy resources, in order to prevent having yet another watcher in parallel?

[2020-03-10 13:40] Kirkhammetz commented on #92308
Thank you! It was driving me insane!

[2020-03-10 13:45] moritzwilksch opened #92356 "VSCode randomly closes"
Issue Type: <b>Bug</b>

At random times, when working with jupyter notebook or the interactive Python window, VSCode just quits. This also happens, when the window is just open in the background.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:34:44.548Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Int

[2020-03-10 13:46] dbaeumer commented on #92352
@janbaltus can you comment on whether your translation platfrom can handle items with an empty message (e.g. `""`).

[2020-03-10 13:47] Tyriar commented on #91278
Released this yesterday.

@nicholasengleman sometimes things get delayed due to bugs we find late or issues we hit during release.

@usernamehw added the expected release day note, I'm not changing the link to the release notes md though as that would require yet another thing for the endgame master to do every month.

[2020-03-10 13:47] #91278 closed

[2020-03-10 13:47] janbaltus commented on #92352
The localization platform can handle empty string.

[2020-03-10 13:49] IllusionMH commented on #92311
/duplicate of https://github.com/microsoft/TypeScript/issues/36828

[2020-03-10 13:50] #92311 closed

[2020-03-10 13:55] #92352 closed

[2020-03-10 13:56] sandy081 commented on #2743
All, As you know from our latest release that Settings Sync feature is previewed in insiders. So, please try out the feature using our insiders and provide us with the feedback - https://code.visualstudio.com/insiders/

[2020-03-10 13:57] jmarandet opened #92357 "Settings Sync : Allow for costum Git backend"
According to the Settings Sync Plan #90129 and to the Settings Sync documentation ( https://code.visualstudio.com/docs/editor/settings-sync ) it seems that only Microsoft and public Github account are supported.

What if we wanted to user a Github Enterprise backend, or any other git remote ( Gitlab, Gogs, whatever... ) ?

[2020-03-10 13:58] IllusionMH commented on #92311
In meantime you can use nightly builds of TS where this problem was resolved.
Easiest way - [JavaScript and TypeScript Nightly extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-next)

[2020-03-10 13:58] thw0rted opened #92358 "Allow Shift+Delete to remove recently opened entries from quick pick"
The "Go To File..." (CTRL+P) menu shows a mix of files that match from the current workspace, other files you've opened recently, and who knows what.  Sometimes these results rank things I don't want (e.g. files with same names from another workspace) higher than the file I'm actually trying to open.  I'd like to be able to "delete" suggestions so they don't appear again in the future.

There are

[2020-03-10 13:58] sandy081 commented on #17634
All, As you know from our latest release that Settings Sync feature is previewed in insiders. So, please try out the feature using our insiders and provide us with the feedback - https://code.visualstudio.com/insiders/

[2020-03-10 13:58] noadek commented on #89104
I had the same issue, had to use the terminal until I found the fix. Turns out one of the extensions was initialising or trying to but couldn't. In my case it was the angular language service extension and since I was working on a react project, I disabled this for the workspace (from extensions, click on the gear button then select Disable (Workspace)) and after the reload Git explorer was back.

[2020-03-10 13:59] zxgm commented on #92330
Thank you very mush.

[2020-03-10 13:59] #92330 closed

[2020-03-10 14:01] Tyriar commented on #91503
Nice! After this is smoothed out a bit we can explore using project references to explicitly declare dependencies between components which should boost performance and could also act as a framework for code splitting where components not used are lazy loaded.

[2020-03-10 14:01] prashantvc commented on #92106
@yhvicey I am curious to know what is your use case to have a internal/local marketplace feed.

[2020-03-10 14:01] sandy081 commented on #92357
We have plans to open backend for other service providers but it depends on the demand.

[2020-03-10 14:02] MariuzM opened #92359 "VSCode 1.43 messed up my theme color codes"
The color codes for various JS names/object/var's and so on are different. The color style is different compared to previews version of VSCode.

[2020-03-10 14:03] IllusionMH commented on #92357
See https://github.com/microsoft/vscode/issues/84332#issuecomment-572296595

[2020-03-10 14:03] Whitefox98 opened #92360 "Enable JS/TS language features change the assets of VS Code"
- VSCode Version: 1.43.0
- OS Version: Windows 10

Steps to Reproduce:

It happens with all custom themes in my case Material Theme but also I try with other themes and and it happens with all themes. This is happening since I update the VS to february version.

1. Open some TS/JS file with imports, routering...
2. It seems to be correctly but after Initializing JS/TS Features load, seems complete

[2020-03-10 14:05] Whitefox98 commented on #92335
Same problem

[2020-03-10 14:06] MariuzM commented on #92359
Not duplicate this looks like a different issue that VSCode is not setting colors properly you BOT

[2020-03-10 14:09] seanthegeek opened #92361 "HDR regression in 1.43.0"
In the newly released version 1.43.0, with Electron 7.1.7, or the latest 1.44 insiders, the window is dim, and the text area has a gray box in it when HDR is enabled in Windows 10. This seems to be a regression of issue #68069, so this is probably an upstream Electron bug again. This issue was not present in VSCode version 1.42, with Electron 6.1.6.

[Screenshots are posted here](https://imgur.com

[2020-03-10 14:09] MariuzM commented on #92359
For a split second when i open this new version colors look ok but then they change:
Good colors:
<img width="1440" alt="Screenshot 2020-03-10 at 14 08 59" src="https://user-images.githubusercontent.com/36937039/76320560-c7a29380-62d8-11ea-8266-312fa7fd54db.png">

Bad colors
<img width="1440" alt="Screenshot 2020-03-10 at 14 09 00" src="https://user-images.githubusercontent.com/36937039/76320571-c

[2020-03-10 14:10] dhershman1 commented on #92359
+1 to this

I was looking into this because the themes I built had whackiness going on, it's reading certain functions as variables now instead which is totally blocking my custom changes. There's nothing I can really change to address this either. So if we could go back to the old way that'd be cool, or maybe what I should do to migrate correctly?

[2020-03-10 14:15] MariuzM commented on #92359
I love the VSCode team you done amazing job, but lately i feel it's becoming like Microsoft that ships windows updates with full of bugs. VSCode team please do longer testing before shipping new version. I personally don't need most of these new features that you have apart from and hoping some performance improvements, so from my point please take more time to test your app.

[2020-03-10 14:18] jeancarlos-cpu commented on #92359
Same here. Both on Ubuntu and Windows after the update.

[2020-03-10 14:19] ChayMartis opened #92362 "Commit warning covers the button "Stage all changes""
Issue Type: <b>Bug</b>

Minor visual issue:
- Long commit message warning box covers the button "Stage all changes".

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.17763

[2020-03-10 14:20] surajmandalcell commented on #92353
+1 Same
OS: Windows 10 x64

[2020-03-10 14:20] AbitEncrypted commented on #92092
Sorry. Indeed after re-reading it I'm also confused:-)
I'm still not convinced that an extension is not responsible.  The reason I'm thinking this way is that the problem does not manifest itself in a green field installation of VSC. Yet it does manifest itself in an installation of VSC with all the extensions disabled.  Ideas?

[2020-03-10 14:21] seanthegeek commented on #88491
This regression is still present in the 1.43 final release and 1.44 insiders. It looks like the upstream Chromeium bug mentioned by @deepak1556  [has been fixed](https://bugs.chromium.org/p/chromium/issues/detail?id=1038770) upstream just 16 days ago. @bpasero can you integrate that fix? I'm not even sure if it has made it's way into a stable release of Chromium or Electron yet though.

[2020-03-10 14:21] giubatt commented on #92359
Same here

[2020-03-10 14:22] seanthegeek commented on #92361
Closed as duplicate of issue #88491

[2020-03-10 14:22] #92361 closed

[2020-03-10 14:27] weinand commented on #92087
Sorry, but "F5" is not a helpful answer as F5 starts the debugger that the user has selected in the launch configuration drop down, but I don't know what debugger extensions you have installed and which one you have selected...

So let me try to ask again with different wording:
what debugger extension do you have installed and what are you using?
E.g. Node.js, Python, C++, PHP, etc.

[2020-03-10 14:28] isidorn commented on #46886
Sure we can reopen this. Though still not planned.

[2020-03-10 14:30] mkxbl commented on #46403
almost two years, why so hard?

[2020-03-10 14:32] StingyJack opened #92363 "The "Problems, Output, Debug Console, Terminal" panel needs to be minimize-able to a tabstrip or something"
When I'm typing it eats up screen real estate. I just need it minimized then.

If I start to debug, then I will need it restored. When I stop debugging, it should return to its pre-debugging state.

[2020-03-10 14:34] #91825 closed

[2020-03-10 14:35] weinand commented on #92117
This issue has been closed because it needs more information and has not had recent activity. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

[2020-03-10 14:35] #92117 closed

[2020-03-10 14:37] jabdr commented on #92331
The new version of the extension seems to completly ignore the config file. I use a different username and I overwrite sometimes the hostname and it doesn't recognize it anymore.

Furthermore it seems that doesn't use the Windows 10 ssh agent... this worked previously.

[2020-03-10 14:40] Azeveco opened #92364 "Remote WSL messing with themes highlight"
- VSCode Version: 1.43
- Extension Version: 0.42.3
- OS Version: Windows 10 Home SIngle Language - Build 1903

Theme syntax highlightning not working properly with Remote-WSL extension.

Steps to Reproduce:

1. Install Remote WSL extension and reload
2. Open a new remote wsl window
3. Create a new .js file and fill it with some content
4. Bring up the command pallet (F1) and search for "Color Them

[2020-03-10 14:43] seanthegeek opened #92365 "[Mitagated] Screenshots of VSCode in Windows 10 with HDR are washed out"
Note: This is not related to issues #68069  #88491 #92361

When taking screenshots of HDR apps and games in Windows 10, including, but not limited to other Electron apps (i.e. this is also a problem when taking screenshots or streaming DirectX games with HDR) like Microsoft Teams, the colors are washed out.

[Example screenshot](https://imgur.com/a/ZZ1oZqX)

As a result, you need to turn off HDR i

[2020-03-10 14:49] #92340 closed

[2020-03-10 14:49] ole1986 opened #92366 "Permission denied (publickey) using public key and `ForwardAgent yes` on second machine"
Version: 1.43.0 (user setup)
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:47:57.235Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Use ssh-keygen to generate a private and public key
2. Add the public key to remote host <HOST 1> into .authorized keys
3. Add the public key to another re

[2020-03-10 14:50] #92321 closed

[2020-03-10 14:54] leonardder commented on #91061
@isidorn Is there an accessible way to inspect de html tray that's being generated by the VS Code gui? There seem to be some small inconsistencies with the preferred design pattern that cause item counts to fail.

Besides that, it doesn't seem to be possible to get a reliable reference from a child node of the tree view to the tree view itself. In the IA2 tree, all children have the tree view as t

[2020-03-10 15:03] Joinyy commented on #91988
After updating to `1.43` I am also unable to run any shell tasks. Instead it just opens a shell, when exiting the shell it "finishes" the task.

Settings for my integrated terminal:
[code]

The task I tested to run:

[code]

I tried to specify the shell without any commands in the `"option"` setting, as I am using the CMDer init batchfile in my standard VS Code shell settings. But that didn't help

[2020-03-10 15:05] syd619 commented on #92359
+1 class names in general and when extending in class definition, require, class getters & setters and others seem to have wrong colors

[2020-03-10 15:07] syd619 commented on #92359
Version: 1.43.0 (user setup)
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:47:57.235Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

![vscode2](https://user-images.githubusercontent.com/5445023/76310254-1cdda580-62d7-11ea-8c0d-e29d4d731355.PNG)
![vscode](https://user-images.githubusercontent.com/5445023/7631025

[2020-03-10 15:10] vasavi730 opened #92367 "Flutter Daemon has terminated"
Issue Type: <b>Bug</b>

I'm getting the errors as
1) The Flutter Daemon has terminated
2)THe Dart Analyzer could not be started
Can you help me in fixing this problem

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A6-9220 RADEON R4, 5

[2020-03-10 15:10] MatiasOlivera commented on #92359
Duplicate of #92308

[2020-03-10 15:12] #92320 closed

[2020-03-10 15:13] clintbingo opened #92368 "visual studio code opens ttwo windows when i open the ws code"
Issue Type: <b>Bug</b>

When i click on the vs code shortcut on my taskbar it opens to instances of the vs code editor with two different projects in each window. Obviously i only want one window open the first time and open more if needed.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 6.3.9600

[2020-03-10 15:13] Yanpas opened #92369 "VSCode since 1.43 freezes on deleting line in c++ file"
- VSCode Version: 1.43
- OS Version: kubuntu 19.10

Steps to Reproduce:
Can't upload file. But I'm using vscode with ccls extension editing c++17 source code.
After I hit keyboard shortcut "delete current line" several times I often get vscode window to stuck in some infinite loop. The process that is stuck has the following cmdline:
[code]

GDB backtrace:
[code]

![image](https://user-images.gith

[2020-03-10 15:16] jvesouza commented on #92324
I just updated the VSCode and coincidentally the update for this problem is present in this update.
As we say here in Brazil: "show de bola"!
Which means to say that it was excellent. Problem solved.
Congratulations and thank you.

[2020-03-10 15:18] maxrothman opened #92370 "Allow sync storage locations other than web"
Web sync storage backends might be the right solution for many users, but they're inflexible and won't work for everyone. For example, users who work in internet-restricted environments, or whose configs contain sensitive or proprietary information (e.g. in build tasks) won't be able to use public sync backends, and the companies they work for might not be willing to dedicate the time to running a

[2020-03-10 15:18] Starling2804 commented on #92087
Sorry, my English is bad. I installed some Golang packages, may be i can just send you some VS Code journal? Is there somthing like "make response" button?-- С уважением,Саркисов Мосес+ 7 (915) 014-37-68mos575@yandex.ru

[2020-03-10 15:22] weinand commented on #92087
So you are debugging "Go", correct?

[2020-03-10 15:22] betterthanclay commented on #90708
I have seen this issue too, it appears to be caused the the customise-ui extension. Disabling this extension and reloading the monkey patch code causes the SCM side bar to function properly again.

I've created a new issue on the extension repo, here: https://github.com/iocave/customize-ui/issues/35

[2020-03-10 15:29] FernandoMiguel commented on #84332
i'm on the latest insider.
was trying to enable sync.
I have multiple chrome profiles, a mix of personal and work.
the current implementation open a link randomly on the last chrome used.

can an option to copy paste the login link be added?
also, can i not login with just githubs?
keeps asking for a microsoft account after creating the trust with github

[2020-03-10 15:29] Patrick-Remy commented on #86913
Perhaps not a VSCode, but a VirtualBox bug, you both have virtualbox kext loaded. Same issue here.

[2020-03-10 15:29] MatiasOlivera commented on #92364
Maybe this will help you: https://github.com/microsoft/vscode/issues/92308#issuecomment-596885893

[2020-03-10 15:30] themire opened #92371 "Auto-search on CMD+SHIFT+F"
Issue Type: <b>Feature Request</b>

Previously pressing CMD+SHIFT+F while highlighting text would automatically search for the text. Now I have to press that and press return to search.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:34:44.548Z)
OS version: Darwin x64 19.3.0

[2020-03-10 15:31] hrahimi270 opened #92372 "Trouble with selecting RTL texts in codes in new update"
Issue Type: <b>Bug</b>

In the latest update, there is a trouble with selecting RTL texts in VSCode.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:34:44.548Z)
OS version: Darwin x64 19.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz (4 x 2300)|
|GPU Status|2d_canvas: enabled<br>flash_3d: e

[2020-03-10 15:32] MatiasOlivera commented on #92360
Duplicate of #92308

[2020-03-10 15:34] alexr00 commented on #91988
@Joinyy in the future, please open a new issue if it isn't 100% clear that your issue is the same.

Your task also doesn't work in 1.42 because you don't have any `args` here:
[code]
And it doesn't work without the `options` because you specify args here and they conflict with the args that tasks automatically uses:
[code]
I recommend removing the `options` from your task and setting `"terminal.in

[2020-03-10 15:34] Meti27 opened #92373 "problem with selecting persian/arabic charachters in 1.43 release"
vscode : `1.43`
problem with selecting persian/arabic charachters in new release

![Untitled Project](https://user-images.githubusercontent.com/11253027/76329486-e406f600-6301-11ea-8b8e-b229cc063a33.gif)

[2020-03-10 15:40] octref commented on #92270
Sorry, for some reason, I thought the blue text became larger, whereas it was just offseted by the gear icon... 🤦‍♂

[2020-03-10 15:40] #92270 closed

[2020-03-10 15:40] Starling2804 commented on #92087
Yes, you are right. С уважением,Саркисов Мосес18:22, 10 марта 2020 г., Andre Weinand <notifications@github.com>:So you are debugging "Go", correct?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-10 15:41] sbatten commented on #90995
@dbaeumer team had some resistance to this, thus leaving it to candidates.

[2020-03-10 15:41] #92087 closed

[2020-03-10 15:42] weinand commented on #92087
Please file this issue against the GO extension: https://github.com/Microsoft/vscode-go/issues

[2020-03-10 15:42] rickstaa opened #92374 "File icons keeps resetting to seTi"
Issue Type: <b>Bug</b>

Every time I startup vscode insiders the file icons are reset back to the SETi icon theme. This behavoir is also present when disabling all extensions.

VS Code version: Code - Insiders 1.44.0-insider (1876b51870e30e9ba8f35dc0dcfaf49a3799a8ef, 2020-03-09T20:10:25.732Z)
OS version: Linux x64 5.3.0-40-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|

[2020-03-10 15:45] Joinyy commented on #91988
@alexr00 thanks for your recommendation, I'll take a closer look at the issues in the future.

The tasks are working now for me, so something might have changed from 1.42 on as you mentionned.

[2020-03-10 15:45] jpmcb commented on #8641
@JimAmuro same - I am using a Logi ergo mouse with Logi Options and the daemon running and I do not get back and forward working ...

@bpasero Is there a setting in VSCode that would detect this context and enable this to work with logi options?

[2020-03-10 15:47] tukiato1 opened #92376 "Moving the cursor stops working 5 seconds after startup"
Issue Type: <b>Bug</b>

1) Open a .cs file with the editor
2) Wait 5 seconds
3) Try to move the cursor with arrow keys (or emacs shortcuts)

NOTE: my intellisense is also broken after the VSCode update.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---

[2020-03-10 15:48] wwmyers opened #92377 "A better rating system for extensions"
I think I've figured out a better way to rate someone's extension in VSCode.

Problem:
I feel like just displaying an install count with a star rating isn't very accurate in VSCode. Most seem to just uninstall the extension if they don't like it instead of rating it. Many that do rate it are probably just friends helping out. I've seen extensions with several thousands of installs with very few ra

[2020-03-10 15:51] bpasero commented on #8641
No there is no setting and I doubt Electron would provide the APIs for us to detect this. If you feel strong about it, ask for it over at https://github.com/atom/electron

I suggest we stop discussion here and move to new issues as needed to reduce the spam for people subscribed to this otherwise closed issue.

[2020-03-10 15:57] bpasero opened #92378 "Debug picker: consider to show a gear icon to configure config"
Compare with tasks:

![image](https://user-images.githubusercontent.com/900690/76331840-eb250880-62ef-11ea-9ebd-19f9ee6b1ab8.png)

I wonder why debug does not have this action:

![image](https://user-images.githubusercontent.com/900690/76331867-f37d4380-62ef-11ea-8e48-8b03901fcf57.png)

With the new quick access, this is trivial to add and I would only add it there since we go with it soon. Here i

[2020-03-10 15:59] yirenli commented on #92331
I found that you can delete the vscode-server on your remote machine. My remote machine is linux. It will start work again aftern the vscode install the server on the remote machine.

[2020-03-10 16:08] Starling2804 commented on #92087
Ok, thank you! С уважением,Саркисов Мосес18:42, 10 марта 2020 г., Andre Weinand <notifications@github.com>:Please file this issue against the GO extension: https://github.com/Microsoft/vscode-go/issues

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-10 16:12] jaxspades commented on #10546
@Bessonov I want terminal tabs but I'm not at Microsoft so I have no say. I want them as an editor though, not in that tiny window at the bottom of the screen. So version 1.43 just shipped with Search Editors, so my hope is that Terminals will soon follow. @Tyriar, does Search Editors help us get closer to Terminal Tabs/Editors?

[2020-03-10 16:13] isidorn commented on #92090
Added deemphasize color via 89e1209b33

[2020-03-10 16:14] aeschli commented on #92327
@gjsjohnmurray Themes don't need any adoption. Themes continue to work on the same textmate scopes as input. But the input is no longer just coming from the TextMate grammar, but also from the semantic highlighter.
Some identifiers have been re-categorized based on their resolved symbol.

`dispatch` is a parameter and now gets the parameter color everywhere.
What's special here is that dispatch is

[2020-03-10 16:15] isidorn commented on #92324
Show de bola it is then :)
Great, adding verified label. Thanks for letting us know it works.

[2020-03-10 16:16] arg9244 opened #92379 "everything looks wierd"
Issue Type: <b>Bug</b>

https://imgur.com/FdosNjq
it happened after the update
when vscode is in background happens but not in foreground
im using latest windows 10 and latest nvidia driver

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|A

[2020-03-10 16:20] isidorn commented on #91061
@leonardder the only way to inspect the generated HTML is via Chrome dev tools. However I am not sure how accessible they are. Can you try it out and if it is not good let me know and i can help
`F1 > Toggle developer tools`  Navigate to the `Elements` tab and there you should have the whole HTML tree.

Can you elabore on your second point, what is exactly not in line with aria best pracites regar

[2020-03-10 16:24] weinand opened #92380 "Properly report if external terminal isn't available"
- create a launch config for a debug type that supports configuration of an "external terminal"
- enable "external terminal" in that launch config
- set external terminal to some invalid application, e.g.
[code]
- start debugging

Observe:
no error is reported and a debug session does not start

[2020-03-10 16:28] isidorn commented on #92378
`OpenConfigFile` would have to add an argument to open on a specific name [here](https://github.com/microsoft/vscode/blob/89e1209b3326c1d0a932468155f844094b0cb5a1/src/vs/workbench/contrib/debug/browser/debugConfigurationManager.ts#L576)
So that opening config files opens on the correct location.
Not sure how tasks does it, and if they can open on the exact line number. Because without the line num

[2020-03-10 16:38] RM-Eric opened #92381 ""Add folder to workspace" prompt duplicates itself if you add and then remove a folder from the workspace repeatedly"
- VSCode Version: 1.43.0
- OS Version: Windows 10

Steps to Reproduce:

1. Add a folder to the workspace
2. Remove the folder from the workspace, so that there are no folders in the workspace.
3. Add another folder to the workspace
4. Remove that folder from the workspace
5. Repeat

![image](https://user-images.githubusercontent.com/59585041/76336139-9075b780-62c3-11ea-84cd-d787c7809103.png)

Does

[2020-03-10 16:40] #87026 closed

[2020-03-10 16:46] rebornix commented on #92335
thank you all for feedback, let's track this issue in https://github.com/microsoft/vscode/issues/92308 and for now you can turn off the semantic syntax highlighting feature by changing below setting:

[code]

[2020-03-10 16:46] #92335 closed

[2020-03-10 16:47] bpasero commented on #92378
@isidorn opened https://github.com/microsoft/vscode/pull/92382. This was actually easier than I thought. Let me know why `openConfigFile` would not focus on the launch I picked, I would probably expect that. Otherwise seems to work fine.

To try it out you can do F1 > Quick Access > Debug

[2020-03-10 16:47] RMacfarlane commented on #84332
@FernandoMiguel There's an existing issue to add an option to copy the sign in link: https://github.com/microsoft/vscode/issues/86083

Currently, a Microsoft account is still required for settings sync, and GitHub can only be used as a link to a new or existing Microsoft account. I'll update the documentation to clarify this.

[2020-03-10 16:48] rebornix commented on #92359
thank you all for feedback, let's track this issue in https://github.com/microsoft/vscode/issues/92308 and for now you can turn off the semantic syntax highlighting feature by changing below setting:

[code]

[2020-03-10 16:49] #92359 closed

[2020-03-10 16:49] LeahCim commented on #85592
@DanielHabenicht , it's the Widows 10 **app launcher for VS Code**, so it's in the Start menu/screen or on your task bar. Just right-click the launcher, then rigth-click "Visual Studio Code" in the launcher menu that shows, then choose `Properties` > `Compatibility` > `Change high DPI settings` > `Override HDP scaling behaviour.` (check) | `Scaling performed by: System (Enhanced)`

[2020-03-10 16:51] rebornix commented on #92360
thank you for the feedback, it's caused by the semantic syntax highlighting and for now you can turn off the semantic syntax highlighting feature by changing below setting:

[code]

@aeschli I didn't close this issue as duplicate as this one is also talking about slow js/ts initialization leading to theme change, which I don't know how we can solve properly.

[2020-03-10 16:51] PanosBougas commented on #92366
I am having the exact same issue. Yesterday when I was using 1.42.1 version I wasn't experiencing any issue at all.

[2020-03-10 16:53] rebornix commented on #92313
mnemonics is broken in localization.

[2020-03-10 16:53] isidorn commented on #92378
Commented on the PR, thanks a lot for creating it.

[2020-03-10 16:53] #92307 closed

[2020-03-10 16:53] mjcrouch opened #92383 "Convert to template string incorrectly adds escaped backslashes"
- VSCode Version: 1.43.1
- OS Version: Windows 7 Pro

Steps to Reproduce:

1.  Add the following text to a typescript file (have not tried javascript):
[code]
2. Choose refactor -> Convert to template string
3. Observe the following output:
[code]

This contains too many backslashes - there should only be one escaped slash in each location

Does this issue occur when all extensions are disabled?:

[2020-03-10 16:55] petekinnecom opened #92384 "SearchEditor does not respect `search.useIgnoreFiles`"
- VSCode Version: 1.44.0 (built on master branch)
- Commit: f618e507fbeec9bc23e1a04cae63e767fb601b2d
- OS Version: Darwin x64 19.2.0

Steps to Reproduce:

1. Add `thing.txt` to `.ignore` file
1. `echo searchquery >> thing.txt`
1. Set `"search.useIgnoreFiles": false` in `settings.json`
2. Open a search editor
3. Search for a `searchquery`
4. No results found
5. Search for `searchquery` using sideba

[2020-03-10 16:57] bpasero commented on #92318
Yeah, I expected this to happen. Works now "correctly" after @aeschli pushed https://github.com/microsoft/vscode/commit/55307ef33097a619bac96f94cd6c8f4a3f1cc60d

This is expected hot exit behaviour.

[2020-03-10 16:59] #92380 closed

[2020-03-10 17:00] rebornix commented on #92356
@moritzwilksch when do you start to see this problem? Do you see the same issue if you have  all extensions disabled?

[2020-03-10 17:08] rebornix commented on #92325
Please file issues against the arduino extension , thanks!

[2020-03-10 17:08] jrieken commented on #91503
ping @Danielrosenwasser for https://github.com/microsoft/vscode/issues/91503#issuecomment-597090804

[2020-03-10 17:08] #92325 closed

[2020-03-10 17:08] poshcodebear commented on #92110
I didn't see anything when I launched, so I was going to try to replicate it with a fresh install...only to learn it survives reinstall.  So, I uninstalled again and hunted down any straggler folders and found ~/AppData/Roaming/Code - Insiders remains, so I renamed it and reinstalled, which eliminated the bad file loading.

So, I took a look at what was different, and under storage.json, it had th

[2020-03-10 17:10] MidSpike opened #92385 "Syntax Highlighting In JavaScript Broke After The Latest Update"
Issue Type: <b>Bug</b>

2000+ lines of javascript now show wonky colours in the wrong places for syntax highlighting. Specifically calling/defining methods are blue in some spots instead of yellow.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2020-03-10 17:11] isidorn commented on #92341
Thanks for filling this issue. Can you reproduce using Visual Studio Code Insiders https://code.visualstudio.com/insiders/

[2020-03-10 17:13] rebornix commented on #92385
/duplicate of #92308 , thanks for your feedback!

[2020-03-10 17:13] #92385 closed

[2020-03-10 17:15] rebornix commented on #92372
@hrahimi270 could you please provide a recording of the screen to help demonstrate the problem you run into?

[2020-03-10 17:17] thomasvl opened #92386 "Auto linking in terminals doesn't handle `+` in file paths."
Issue Type: <b>Bug</b>

1. Open new VSCode window
1. Open new Terminal
1. In terminal: `cd /tmp && echo "foo" > Foo.h && echo "foo" > Foo+Bar.h`
1. In terminal: `ls -l $(pwd)/*.h`
1. Hold in Cmd and mouse over the two listing name.

Only the /tmp/Foo.h will be clickable.  `Foo+Bar.h` won't be because of the `+`.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19

[2020-03-10 17:18] aeschli commented on #92308
First, apologies for the confusion caused by the new semantic highlighting feature and thanks for everyone for taking the time to report.

It's not that the themes have changed (or need updating), it's the input the themes get that has been augmented. It's still passed in the same form (TextMate scopes, e.g. `entity.name.type.class` for classes.) but now is created using by the TextMate grammar pl

[2020-03-10 17:18] rebornix commented on #92322
@sbatten any idea of what's going on?

[2020-03-10 17:19] rebornix commented on #92372
/duplicate of https://github.com/microsoft/vscode/issues/92373

[2020-03-10 17:19] #92372 closed

[2020-03-10 17:20] mattacosta opened #92387 "Lost ability to scroll through content in panel"
Issue Type: <b>Bug</b>

Steps to reproduce:
1. Show the output panel.
2. Depending on the output length, try to scroll from the top to the end.
3. The scroll bar goes right off the edge when using a mouse, or can not scroll at all if clicking somewhere and using arrow keys (mainly when the content is long enough to be in the hidden area, but short enough to not need scrolling).

![output_panel_1](

[2020-03-10 17:21] rebornix commented on #92367
Please file issues against the Flutter extension you are using, thanks!

[2020-03-10 17:21] #92367 closed

[2020-03-10 17:31] kimadeline commented on #91983
Behaviour 1 (the letter doesn't show up in any of the suggestions):
- Create a new C file in vs code
-  Press Ctrl + Space to trigger suggestions
- Start typing in letters that don't match any of the suggestions ( For example: yyyy)
- Suggestions list does not update to reflect suggestions to what is currently typed

Example:

![suggestions_no_letter](https://user-images.githubusercontent.com/5172

[2020-03-10 17:37] adunndevster opened #92388 "https://vscode-update.azurewebsites.net/api/releases/stable appears to be down"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. yo code

Error [ERR_UNHANDLED_ERROR]: Unhandled error. ({ responseText:
   'Unable to connect to https://vscode-update.azurewebsites.net/api/releases/stable. Error: connect ETIMEDOUT 40.83.182.206:443',
  status: 404 })
    at module.exports.emit (events.js:187:17)
    at module.exports.EventEmitter.emit (domain.js:448:20)
    at Immediate.s

[2020-03-10 17:38] roblourens commented on #92331
Can someone share the full log from the Remote-SSH output channel? And, are you using a non-bash shell on the remote?

As a workaround, disabling the "useLocalServer" setting for ssh might help.

[2020-03-10 17:43] DanielRosenwasser commented on #91503
Hey all, we don't have any plans to introduce file copying. We've discussed it in the past at https://github.com/microsoft/TypeScript/issues/30835 and don't believe it falls within TypeScript's scope.

[2020-03-10 17:44] David-Else commented on #92308
semanticHighlighting is awesome, it looks wrong now without it.

[2020-03-10 17:48] webdevnerdstuff commented on #92308
This new setting `editor.semanticHighlighting.enabled` should be FALSE by default.

It's going to break a lot of peoples color schemes and cause headaches for people who have themes in the VSCode Marketplace. Not everybody is going to read through support Issues to figure this out.

[2020-03-10 17:51] jrieken commented on #91503
Yeah, I kinda agree but it is a pity that we run yet another file-watcher along all those others...

[2020-03-10 17:52] jordan-schneider opened #92389 "Jupyter code cell folding feature request"
When you have a python file with jupyter code cells (using `# %%`), it would be nice if I could fold individual cells, like I can fold functions.

![2020-03-10-125037_612x111_scrot](https://user-images.githubusercontent.com/1740270/76343380-054def00-62ce-11ea-9877-b89c12ec4410.png)

[2020-03-10 17:52] jrieken commented on #91983
Thanks for clarifying

[2020-03-10 17:54] webdevnerdstuff opened #92390 "Themes Syntax Color Issue: "editor.semanticHighlighting.enabled" (Release v1.43.0)"
VSCode Version: 1.43.0

This new setting `editor.semanticHighlighting.enabled` should be set to **false** as the default.

It's going to break a lot of peoples color schemes and cause headaches for people who have themes in the VSCode Marketplace. Not everybody is going to read through support Issues to figure this out.

For anybody having the issue, add this to your settings.
[code]

[2020-03-10 17:54] vballworld commented on #92369
Perhaps related, but the newest release seems to freeze on my C++ repo all the time.

[2020-03-10 17:55] 3v1n0 commented on #84233
I can confirm this works, you can close the issue from my POV.

[2020-03-10 17:56] jordan-schneider commented on #92389
Oh this is a vscode-python issue isn't it?

[2020-03-10 17:59] joshuaiz commented on #92308
Semantic highlighting seems like a cool feature and as a theme creator (and user), I'd like to fully support it in my theme.

All that said, no one at Microsoft or the VSCode team thought to inform theme creators about this change before rolling it out unilaterally?

I *use* VSCode for my day-to-day work and can't afford to run the sometimes unstable insider builds which I subscribed to for a whil

[2020-03-10 18:03] amkoehler commented on #85592
The workaround solution provided by @matt13rox is working for me as well. I can confirm that this is still an issue with v1.43.0 which was released this week.

[2020-03-10 18:03] Joe-Pena commented on #92390
Thank you! I was wondering why suddenly every theme except the default ones were broken.

[2020-03-10 18:05] thiagosaife opened #92391 "Search project bug"
Issue Type: <b>Bug</b>

1 - Command+Shift+F (Mac) to search anything in project.
2 - Search panel doesn't update with the results.
3 - Update only after one interacts with _Match case_, _Match whole word_ or refresh buttons.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:34:44.548Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|It

[2020-03-10 18:07] jrieken commented on #91983
This is actually the designed behaviour - let me explain what's happening: There are two modes of IntelliSense - "auto" and "manual".
1. "auto" is IntelliSense-as-you-type and others,
1. "manual" is explicit IntelliSense request by a user gesture. like Cmd+Space.

In auto-mode IntelliSense hides when there are no more matches, in manual mode we don't do that. The reasoning is that you explicitly r

[2020-03-10 18:07] #91983 closed

[2020-03-10 18:14] JacksonKearl commented on #92371
/duplicate #91901

[2020-03-10 18:14] #92371 closed

[2020-03-10 18:15] SidShetye commented on #88491
Can VSCode have a unit test around HDR to prevent these regressions? This isn't the first time this issue has been [reported](https://github.com/microsoft/vscode/issues/68069)

[2020-03-10 18:17] Tyriar commented on #10546
Again, this is on the roadmap, it will happen in time. You don't need to tell me, I likely want it more than everyone here and am well aware that it's the 2nd most voted issue. However, it's not as trivial a task as it may seem on the surface. We are actively investing into flexible workbench layout:

- Search in the panel
- Search in the editor
- All panel and viewlet views being interchangeable

[2020-03-10 18:20] dalisoft commented on #92236
Latest update fixes this issue

[2020-03-10 18:20] #92236 closed

[2020-03-10 18:23] kamilbiela commented on #92331
@roblourens My setup: Windows 10 with ssh installed connecting to VM with ubuntu 19.10 using private key (all defined in ssh config file with some port forwarding).

[code]

[code]

[2020-03-10 18:25] #91881 closed

[2020-03-10 18:26] connor4312 commented on #92047
This is because extension host debugging is contributed by node2, and the other settings are contributed by node1. I will just remove the v3 setting from node2, since we're pointing people towards `usePreview` now.

[2020-03-10 18:27] sbehara opened #92392 "shell server"

[2020-03-10 18:28] JacksonKearl commented on #23931
@igolskyi I'm not sure what you mean. You can configure keybindings using the Keybindings Editor
https://code.visualstudio.com/docs/getstarted/keybindings

[2020-03-10 18:28] photocurio commented on #90542
The issue is NOT limited to Auto Rename Tag.  I don't use that one.  I have a slow problem if I try to run PHP Code Beautifier.

[2020-03-10 18:29] connor4312 commented on #92047
Actually, I'll leave it there for people who still want to toggle things individually, but just move it to node1. It's slightly weird because node1 doesn't provide extension host debugging, but I think it's the simplest way for what will be a temporary flag regardless.

[2020-03-10 18:33] sbehara commented on #92392
From 1.42 version onwards (also on VS Code Insiders), when I run a container in vs code with remote development - I receive 'Shell server terminated (code: 2, signal: null)" in the terminal and container fails to come up.

[988 ms] Start: Run in container: test -d /root/.vscode-server-insiders
[991 ms]
[991 ms]
[992 ms] Start: Run in container: set -o noclobber ; mkdir -p '/root/.vscode-server-ins

[2020-03-10 18:40] igolskyi commented on #23931
@JacksonKearl Yes, I want to configure keybinding for command "goToLocation" but I don't know how does it (command by double click) names.

[2020-03-10 18:41] wolf99 opened #92393 "Sync mutliple settings profiles"
Settings sync is recently introduced in insiders.
(I don't run insiders, I just saw the announcement in the release notes so this may already be present)
To date I have used an extension for this that operates very well (mega props to the dev): https://github.com/shanalikhan/code-settings-sync

This extension uses private GitHub gists to sync settings, this means that there can be multiple gists f

[2020-03-10 18:45] #92047 closed

[2020-03-10 18:46] ajborka commented on #92324
After updating to the newest build 20 minutes ago, I can verify that this bug is now fixed. Thanks for the quick work!

[2020-03-10 18:46] abgrac opened #92394 "Large JSON formatting adds '}' at the end of file."
Hello,

I've already checked with other formatters online and my JSON apparently is fine. All of them formats the file normally. VSCode somehow adds a single } at the end of file, as seem here:

* Before:
`{"uid":43,"suspects":112,"refuses":75},{"uid":50,"suspects":6,"refuses":11},{"uid":51,"suspects":5,"refuses":2},{"uid":52,"suspects":14,"refuses":14},{"uid":53,"suspects":41,"cases":1,"refuses":

[2020-03-10 18:47] wolf99 opened #92395 "Stop reloading release notes when refocusing"
Today I am reading the release notes for 1.43.0.
Great release with many brilliant updates (the notes _look_ great too)!

Often when reading about features I like to go try them out and then come back to continue reading.
However, because the release notes page reloads every time I leave and return to that tab (single column view), or when the tab layout is changed, I lose my reading place 😢 . It

[2020-03-10 18:48] #92388 closed

[2020-03-10 18:49] wolf99 commented on #92395
/duplicate of #27498

[2020-03-10 18:50] #92395 closed

[2020-03-10 18:52] moritzwilksch commented on #92356
Issue only started with the February Update 1.43.0. Before the update VSC was stable.
I'll try to disable all extension (except for the python one), but since I can't specifically reproduce the issue it might take some time to check. VSC just quits at random in the background (most of the times) or even while using (only a few times until now)

[2020-03-10 18:57] mjbvz commented on #92338
Also with TS 3.8.3. I see the server returning the correct info so need to look into what's going on here

[2020-03-10 19:08] Azeveco commented on #92364
That's it! Thank you, @MatiasOlivera !

[2020-03-10 19:08] #92364 closed

[2020-03-10 19:11] ekoschik opened #92396 "Disable Italics."
holy shit. i wrote up a discription, got a box as i submitted saying it would be clipped. hit ok, and its gone. are you kidding me?

How do i disable italics? If there's no way, shame. Shame shame shame. What on earth is a code editor doing italicizing text? randomly? by default, without a way to disable.

Someone thought they were clever. Someone was WRONG. LET ME SHOW MY DAMN CODE WITHOUT IT BEI

[2020-03-10 19:12] sirmspencer commented on #3742
I created a cleaned up version of the auto hide extension after getting an update to vscode to directly close the sidebar and panel (instead of forcing focus then toggling).  It feels a good bit smoother than vtools https://marketplace.visualstudio.com/items?itemName=sirmspencer.vscode-autohide

[2020-03-10 19:17] mjbvz commented on #87509
If you are see perf problems, please open separate issues. They are very likely have different root causes than what the OP reported

[2020-03-10 19:17] jvesouza commented on #92333
I believe that all distros that use gnome will have the shortcut alt + f1 with this function.
The suggestion would be to use alt + shift + f1

[2020-03-10 19:19] mjbvz commented on #86788
@jdneo Your provided needs to return one or more code actions of the given type (such as refactoring) for the documentation to show up.

[2020-03-10 19:25] rebornix commented on #92389
Please file issue against Python extension which provides this feature, thanks!

[2020-03-10 19:25] #92389 closed

[2020-03-10 19:27] rebornix commented on #92390
/duplicate #92308

[2020-03-10 19:27] #92390 closed

[2020-03-10 19:29] rebornix commented on #92315
@imvikramn does it happen all the time when you switch themes?

[2020-03-10 19:30] #92317 closed

[2020-03-10 19:32] mjbvz commented on #92305
You can disable the lightbulb by setting: `"editor.lightbulb.enabled": false`

Disabling individual actions is up to the extension that provides these actions. Please open individual issues for these

[2020-03-10 19:32] #92305 closed

[2020-03-10 19:36] rebornix commented on #92303
/duplicate of https://github.com/microsoft/vscode/issues/92306

[2020-03-10 19:36] #92303 closed

[2020-03-10 19:38] #92338 closed

[2020-03-10 19:38] tgquan67 commented on #92331
This is the log when I use extension version 0.50.0, right after updating:
[code]
And this is the log when I use version 0.49.0
[code]

[2020-03-10 19:38] JacksonKearl commented on #92344
/duplicate #91901

[2020-03-10 19:38] #92344 closed

[2020-03-10 19:39] octoxan commented on #18071
This is a much needed feature, switching back to PHP Storm till `<div attr=` auto opens. There's nothing else you would be typing after the equal sign. If you're not using quotes around your value, you're a monster.

[2020-03-10 19:39] JacksonKearl commented on #92391
/duplicate #91901

[2020-03-10 19:39] #92391 closed

[2020-03-10 19:40] nrayburn-tech commented on #92394
According to this, https://github.com/microsoft/vscode/issues/91125#issuecomment-595657468, it should be fixed in the most recent stable version.

[2020-03-10 19:43] sebastianbertoli opened #92399 ""Go to Symbol in Workspace" not working with default settings."
**Setup:**

- VSCode Version: 1.43, 1.44
- Extensions: Python
- OS Version: Ubuntu 18.04.3 LTS, Windows 10 Pro

**Steps to Reproduce:**

1. Start from a clean VSCode install with default user settings.
1. `Open folder` containing some python files.
2. Hit `ctrl + t` or from the menu click on `Go to Symbol in Workspace...`
3. Search for one of the symbols in your .py files. E.g. the test function i

[2020-03-10 19:48] st0le commented on #92105
I can confirm your second point, I'm not sure why the second process starts before the first ends. Although the second process is still reading the stdin.

For instance, running `cat - | code -` in cmd.exe starts the editor but shows nothing. In the console If I type text and I Hit Ctrl+D, the text appears in the editor.

I guess we can suppress displaying the editor until we have read something f

[2020-03-10 19:52] #92135 closed

[2020-03-10 19:56] eamodio opened #92400 "Migrate viewlet-level progress indication to view-level"
Refs: #92135

Now that we can support view-level progress indication, there doesn't seem like much reason to have viewlet-level progress.

This can also address the concerns here: https://github.com/microsoft/vscode/pull/92136#pullrequestreview-371744519

/cc @bpasero @sbatten

[2020-03-10 20:10] octref commented on #92297
I would say adding a theme color.
@KamasamaK Yourn concern is valid. @misolori can we also try using a highlight overlay on top of current parameter, and source the color from editor selection background?

![image](https://user-images.githubusercontent.com/4033249/76354850-77273800-62d0-11ea-9bcb-2cb3b1ab37c7.png)

[2020-03-10 20:16] ajborka commented on #92149
In Insider's 1.43 and later, NVDA and JAWS can access status bar customization features by pressing the applications or shift+f10 keys on the keyboard when the screen reader's navigation cursor is positioned on the status bar. This also works with Orca screen reader in Ubuntu 20.04. I assume it would work in Ubuntu 18.04 and later, but haven't tested that fact. Thus, this issue can be closed if re

[2020-03-10 20:19] gilescope commented on #92226
You're suggesting it's a feature request - is it not possible then to remove a keybinding as an extension at the moment? I'm just trying to get clarity on this point.

[2020-03-10 20:23] ajborka commented on #91085
Confirmed in 1.44 build. True that pressing ESC should result in no action when in toolbars and trees.

[2020-03-10 20:24] rdnlsmith commented on #30562
Now that [global tasks](https://code.visualstudio.com/updates/v1_42#_user-level-tasks) are supported, you can use something like this (at least on Linux). You can then [assign a keybinding](https://code.visualstudio.com/docs/editor/tasks#_binding-keyboard-shortcuts-to-tasks) if you want.

(If anyone knows the appropriate `command` to do this on Windows, that would be amazing! Of course, it's easie

[2020-03-10 20:27] akos127 commented on #92240
![image](https://user-images.githubusercontent.com/15962488/76356044-95fbed80-6315-11ea-8cc1-9b36f999150a.png)
Not same. "ű" "Ű" "ő" "Ő" and many other characters are wrong

[2020-03-10 20:30] akos127 commented on #92240
So I'm forced to use another program and it would be very good because it has a lot of good features.

[2020-03-10 20:39] Divlo commented on #92308
Agreed that's absolutely mess, I hate that new feature. Already set it to false and will stay like that until they improve it!

[2020-03-10 20:41] dbaeumer commented on #92313
The latest translation packs have not been shipped yet. So I would wait investigate until they are out.

[2020-03-10 20:41] dbaeumer commented on #92313
@janbaltus can you please ping when the LP are available.

[2020-03-10 20:54] ajborka commented on #91061
Is this discussion the reason why the settings tree doesn't speak with Orca? It appears that the focus and selection states are different. For example, Open settings, put focus on the tree, press orca+a to enter focus mode, then try navigating the tree. The result is that Orca fails to speak the new leaf/node name even though the tree item gains focus. Will this get fixed soon?

[2020-03-10 21:06] joanmarie commented on #91061
@ajborka I have VSCode built locally the other day and Orca master, and Orca speaks the items in the tree. So I think the answer is that it is already fixed. (?)

[2020-03-10 21:07] DanielRosenwasser commented on #92318
Hit this last night as well and it completely froze my machine up for minutes opening at least 40 windows. I get why this is an expected fix for a bug, but I it made my computer totally unresponsive and probably could have used a more progressive one-time rollout.

[2020-03-10 21:08] Tyriar commented on #92318
@bpasero so things are working as designed now by correctly opening all folders with active changes? In what cases were they not opening before?

[2020-03-10 21:13] JacksonKearl commented on #23931
@igolskyi the command run on double click will either be 'editor.action.goToDeclaration' or 'editor.action.openDeclarationToTheSide' depending on `search.searchEditor.doubleClickBehaviour`. Does that help? You can rebind those in the keybindings editor.

[2020-03-10 21:17] igolskyi commented on #23931
@JacksonKearl yes it's `editor.action.goToDeclaration` ) Thank you so much )

[2020-03-10 21:19] Tyriar commented on #92318
So it looks like this was a regression in 1.42 (https://github.com/microsoft/vscode/issues/90949) and it's now fixed as it's designed. It's designed this way so that by default, backups don't go "missing" by accidentally closing window(s) and forgetting which one had your notes in it.

I can attest to the fact that it's awful when many windows unexpectedly restore as it happened to me when testing

[2020-03-10 21:21] grantborthwick opened #92401 "Completion of staging a file removes keyboard focus from the message box"
Issue Type: <b>Bug</b>

1. Open a folder with a git repo
2. Make a change to a file
3. Click the stage button next to the item in the source control sidebar
4. While the file is being staged, click in the message box
5. Start typing a commit message
6. When the file is successfully staged, subsequent letters that you type will be shown in the search box for the source control instance.
![image](ht

[2020-03-10 21:29] NikxDa commented on #65539
I second the closing. With an extension in place & the syntax being occupied in the meantime, I don't think there's a nice way for this to go forward in core. If extension installations are an indicator, the feature isn't hugely popular either.

[2020-03-10 21:31] JacksonKearl commented on #92384
@roblourens how is "search.useIgnoreFiles" supposed to interact with the "Use Exclude Settings and Ignore Files" option?

[2020-03-10 21:35] DanielRosenwasser commented on #92318
Just to clarify, for anyone coming to this thread who's hosed with 40+ windows, it sounds like what you're saying is the workaround is

* set `files.hotExit` to `onExitAndWindowClose` so that we don't have to go through a ton of different "do you want to save this?" prompts when we try to close every window.
* set `window.restoreWindows` to `none` (or another reasonable setting) so that VS Code do

[2020-03-10 21:35] lamafab commented on #92331
Can confirm that downgrading `Remote - SSH` to `0.49.0` worked for me, too.

[2020-03-10 21:36] NonozgYtb opened #92402 "My extensions no longer work (v1.43.0)"
- Version : 1.42.1 (user setup)
- OS : Windows_NT x64 10.0.18362

By being forced to do the update (automatic) when I coded this evening, the window to reload, and all my extensions no longer work so that they are activated and up to date.
I have downgrade to v1.42, it didn't fix the problem.

[2020-03-10 21:42] michaeljota commented on #88491
@seanthegeek @SidShetye See [the releases notes](https://code.visualstudio.com/updates/v1_43#_electron-70-update)

[2020-03-10 21:46] slokhorst opened #92403 "Version in package.json incorrect at tag 1.43.0"
Looking at `package.json` at the 1.43.0 tag, it says `"version": "1.44.0"`: https://github.com/microsoft/vscode/blob/1.43.0/package.json

I think this is the cause of some version mismatch error I am getting during runtime.

Note that for the e.g. [1.42.0](https://github.com/microsoft/vscode/blob/1.42.0/package.json) and [1.41.0](https://github.com/microsoft/vscode/blob/1.41.0/package.json) tags,

[2020-03-10 21:47] pavelloz commented on #86913
Both reports are from me, ;)

[2020-03-10 21:54] rebornix commented on #92387
I'm seeing the same issue in Search View in Panel.

[2020-03-10 21:55] PanosBougas commented on #92366
I have reverted to version **0.49** for both **Remote - SSH** and **Remote - SSH Editing Configuration Files** modules and the issue is gone. I think this issue is duplicate of https://github.com/microsoft/vscode/issues/92331

[2020-03-10 21:55] eamodio commented on #92387
I'm seeing the same as well.

[2020-03-10 22:04] ajborka commented on #91061
I have the latest 1.44 build and the settings tree doesn't read reliably with Orca master. Is there a different build you are using? If VSCode master, how did you build it?

[2020-03-10 22:06] radcool commented on #92331
If I read the release notes right on **1.4.3**, Remote SSH has changed the default of option `remote.SSH.useLocalServer` to `true`. It appears that this option, combined with a connection to an SSH server and user where the default shell is either 1) not BASH, 2) or is FISH (my case), the connection establishment hangs indefinitely.

Setting `remote.SSH.useLocalServer` to `false` OR setting the de

[2020-03-10 22:12] mjbvz commented on #90110
@alexdima I'm going to look into adopting the UndoRedoService within the model layer of custom editors, similarly to how you've adopted it in `TextModel`. Will copy you on the PR

[2020-03-10 22:15] JacksonKearl opened #92405 "Debug viewlet panes out of order and imporperly rendered"
Notice the breakpoints pane is untitled. Ran into this while debugging a node app using the debugger terminal @connor4312

![image](https://user-images.githubusercontent.com/8586769/76364209-dc375980-62e1-11ea-8431-6f5c2b0d5808.png)

[2020-03-10 22:17] Luciden opened #92406 "Default terminal powershell doesn't respect folder casing"
When I open the integrated powershell terminal the casing for the folders is always lowercase even though my foldernames have mixed cases. This causes an error in npm run build in certain situations, e.g. having a VueJs folder based project within a DotNet core project.

Default: PS D:\projects\repos\...
What it should be: PS D:\Projects\Repos\...

[2020-03-10 22:17] lauradondiego commented on #92296
Could I get some assistance with this issue?

On Mon, Mar 9, 2020 at 6:21 PM Laura Don Diego <lauradondiego@gmail.com>
wrote:

--
*Laura Don Diego*
*Realtor*
C: 908-907-0012

[2020-03-10 22:18] connor4312 commented on #92405
We saw this before when the welcome view was initially added. I don't think we ever got a consistent repro, does it happen reliably for you?

cc @isidorn

[2020-03-10 22:22] JacksonKearl commented on #92405
No, I think @eamodio ran in to this as well in the timeline pane and the issue was the one pane gets added first and gets the viewlet stuck in the single pane mode. But it doesn't reliably repro. I've only seen it the one time and I'm not quite sure how I got there.

[2020-03-10 22:26] tgquan67 commented on #92331
@radcool you are right, changing it to `false` did the trick. I totally missed the changelog of [remote development 1.43](https://github.com/microsoft/vscode-docs/blob/master/remote-release-notes/v1_43.md).
From what I can see in my case, somehow the local server used the SSH client bundled with Git instead of Windows' SSH client, and totally missed the SSH config file.

[2020-03-10 22:28] ole1986 commented on #92366
iMO it's related but not dup since the remote connection does work for me

[2020-03-10 22:29] connor4312 commented on #92405
Oh, okay. Maybe it's not specific to the debug view then and adding the welcome view just triggered the same behavior somehow.

[2020-03-10 22:40] mjcrouch commented on #92329
You can definitely do contains using `key =~ /<value>/` - it is a regular expression, though I haven't tested the anchor characters to confirm that they work

[2020-03-10 23:22] deepak1556 commented on #88012
The fix is available in our latest stable `1.43`.

[2020-03-10 23:22] #88012 closed

[2020-03-10 23:23] deepak1556 commented on #87664
@isidorn can we close this, now that the electron update has made into `1.43` ?

[2020-03-10 23:24] deepak1556 commented on #86905
@isidorn can we close this ?

[2020-03-10 23:28] deepak1556 commented on #84754
The fix should be available with our latest stable `1.43`, @grandprixgp can you please confirm. Thanks!

[2020-03-10 23:30] deepak1556 commented on #84574
@pipobscure @rogererens can you confirm if the issue still happens with latest stable `1.43` ? Thanks!

[2020-03-10 23:31] jmadelaine opened #92407 "Update 1.43 Italic imports and theme not recognizing function names TypeScript"
After updating to VS Code v1.43 (macOS Mojave v10.14.6) all of my default imports are now displayed in italics and the color is wrong.

For example, if I import using destructing, the imports are not italicized, and imported functions are displayed correctly in blue (my theme's function color).

For example:

[code]

The default import `styled` is now italicized, and when I call `styled(...)` the

[2020-03-10 23:34] #90809 closed

[2020-03-10 23:46] jmadelaine commented on #92407
Okay so this looks like it is caused by the new semantic highlighting functionality. Most themes don't support it yet, so you can disable it in settings with `"editor.semanticHighlighting.enabled": false`.

[2020-03-10 23:47] jmadelaine commented on #92396
I had the same issue.

This looks like it is caused by the new semantic highlighting functionality. Most themes don't support it yet.

You can disable it in settings with `"editor.semanticHighlighting.enabled": false`.

[2020-03-10 23:55] grandprixgp commented on #84754
I will test it first thing tomorrow morning ;) Good job!

[2020-03-11 00:01] joeparislbcc opened #92409 "Emojis in Integrated Terminal Do Not Display Correctly"
Issue Type: <b>Bug</b>

Even after the update to VS Code 1.43.0 using Unicode 11 some emoji do not display correctly.

## Steps to Reproduce:

1. Write code that will output text containing emoji
1. Run the code, outputting to the integrated terminal
1. Note the broken wide characters

## Sample Code (Python)

[code]
## Expected Results

(screenshots taken from Windows Terminal 0.9.433.0)

### Pow

[2020-03-11 00:08] PresKhaled commented on #91840
It's a feature request.

[2020-03-11 00:17] nurmohammed840 opened #92410 "syntax highlight broken."
- VSCode Version: 1.43.0
- OS Version: Windows_NT x64 10.0.18363

Vscode( 1.43.0 ) omit "textmate scopes" and syntax highlight not working.

[2020-03-11 00:17] #92387 closed

[2020-03-11 00:19] sbatten commented on #92328
`C:\Users\<user>\AppData\Local\Programs\Microsoft VS Code\Code.exe` is the user install location

[2020-03-11 00:19] #92328 closed

[2020-03-11 00:23] sbatten commented on #92405
@JacksonKearl Are you still in the state? Can you get more info about what views are "supposedly" visible by right-clicking the header of the viewlet?

[2020-03-11 00:26] deepak1556 commented on #92379
@arg9244 How does it look when you disable hardware acceleration https://code.visualstudio.com/updates/v1_40#_disable-gpu-acceleration ?

[2020-03-11 00:27] nurmohammed840 commented on #92385
change setting : "editor.semanticHighlighting.enabled": false,

[2020-03-11 00:28] GustavoASC commented on #22439
I believe we don't need to develop this setting anymore since we can configure suggestion background color with _editorSuggestWidget.background_. The result is something like this:

![image](https://user-images.githubusercontent.com/10179520/76370426-8e3c4900-6315-11ea-8e66-5fdc6febcc15.png)

[2020-03-11 00:30] deepak1556 commented on #92365
@seanthegeek how does it look with chrome beta release https://www.google.com/chrome/beta/?platform=win64 ?

[2020-03-11 00:32] isaiah218s opened #92411 "i cant run my program!"
Issue Type: <b>Performance Issue</b>

My name is Isaiah Thompson im 16 and from Detroit Michigan and i want to be a Machines Engineer and i wanted to learn how to program and your pc application is very helpful on giving a coding playground,but i cant run the small programs that i make. I'm not sure if it's because i'm using a school computer that owned by my schools,school district or i'm didn't

[2020-03-11 00:35] Unrelenting2 opened #92412 "Terminal is blank"
Issue Type: <b>Bug</b>

the Terminal is blank.  Just blinking and I can not type anything inside

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 6.2.9200

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4030U CPU @ 1.90GHz (4 x 1896)|
|GPU Status|2d_canvas: enabled<br>flash_3d:

[2020-03-11 00:40] deepak1556 commented on #92369
@Yanpas how do things look when you run with `--disable-extensions` ?

@vballworld are you also using the ccls extension ? can you try with `--disable-extensions` ?

[2020-03-11 00:57] DaCurse commented on #92353
Same issue happens to me, same error message, not using a proxy, Windows 10 64 bit

[2020-03-11 01:00] deepak1556 commented on #86913
There is not much VS Code can do here, would be better to file a bug with virtualbox and once they narrow down the cause, can proceed further if its a VS Code specific issue. Thanks!

[2020-03-11 01:10] JacksonKearl commented on #92411
Hey Isaiah, what language are you using?

[2020-03-11 01:13] deepak1556 commented on #92315
I am unable to repro the crash

@imvikramn can you also follow the steps from https://github.com/microsoft/vscode/wiki/Native-Crash-Issues#macos and attach the crash report.

Does it happen when you run with `--disable-extensions` ?

[2020-03-11 01:19] heroboy commented on #92305
hi @mjbvz ,  the code actions are queried and show the ui by vscode, vscode has a way to filter them.
And it's more generial if this implement in the vscode side.

[2020-03-11 01:19] deepak1556 commented on #92346
I am not aware of change on the electron side responsible for this, can you see if the issue repros when running electron fiddle application https://github.com/electron/fiddle/releases/tag/v0.12.0 ? Thanks!

/cc @bpasero

[2020-03-11 01:22] PanosBougas commented on #92366
@ole1986 can you try this in your local settings?
`    "remote.SSH.path": "C:\\Windows\\System32\\OpenSSH\\ssh.exe",
    "remote.SSH.useLocalServer": false`
It worked for me with the 0.50 version. Before that I had the same issues with my VM when I was trying to access another host by agent forwarding.

[2020-03-11 01:30] rebornix commented on #92376
@tukiato1 do you see the same issue with all extensions disabled?

[2020-03-11 01:34] rebornix commented on #92410
@nurmohammed840 can you confirm if its a duplicate of #92308

[2020-03-11 01:36] deepak1556 commented on #90491
Update:

1) Have obtained internal bug report id https://dev.azure.com/msmobilecenter/Mobile-Center/_workitems/edit/77695

2) Awaiting response.

3) Was requested further debugging info, provided them today. Awaiting issue confirmation.

[2020-03-11 01:37] phiat commented on #92318
Is all I need to stop the window tsunami.

[2020-03-11 01:45] Tyriar commented on #92318
@DanielRosenwasser if you just set `"files.hotExit": "onExitAndWindowClose"` you should be fine if you then open a new folder (`code somedir`) and then close the window. This is actually how I've always used hot exit and recommend it if you haven't tried, it takes the rails off and was meant so that you can close windows arbitrarily even on macOS as well as not restoring all windows with backups w

[2020-03-11 01:46] jdneo commented on #86788
Thank you @mjbvz

I've tried to return a valid code action, like `return [new CodeAction('dummy', CodeActionKind.Refactor)];`, but still cannot see the documentation:
<img width="501" alt="Screen Shot 2020-03-11 at 9 30 40 AM" src="https://user-images.githubusercontent.com/6193897/76373391-3b957800-637b-11ea-8bca-38ed16465eb7.png"> 🤔

[2020-03-11 01:49] 0x78f1935 commented on #92206
Would be nice to see this as a feature ! =)

[2020-03-11 01:55] younggeun0 opened #92413 "JS Intellisense not working in "with" statement"
Hi, I found JS intellisense issue when I use 'with' statement.
Please check this out.

- VSCode Version: 1.43.0
- OS Version: Windows10

Steps to Reproduce:

1. make some simple.js file and type 'with' statement codes like below
[code]

2. press ctrl+space next to "document." for built-in JS intellisense, but it dosen't work.

Does this issue occur when all extensions are disabled?: Yes

[2020-03-11 02:00] seanthegeek commented on #92365
Same issue with Chrome Beta. Since this also happens in games, I think this is a Windows bug, rather than a Chrome/chromium/Electron bug like the other HDR problems.

![image](https://user-images.githubusercontent.com/44679/76374666-3d7b1f00-631a-11ea-825a-cdecdb4cb94d.png)

![image](https://user-images.githubusercontent.com/44679/76374786-8af78c00-631a-11ea-8e51-473e59dede27.png)

[2020-03-11 02:03] djmisterjon commented on #89729
@sbatten just want say thank you so much sbatten, i just tested and this was awesome feature and will help a lot my workflow.
Your awesome !

[2020-03-11 02:16] zcl1995 opened #92414 "autocompletion when adding new file"
Hi, when adding new file in the left explorer panel, we need to input new file name. I hope there is auto completion for file name. Thanks

[2020-03-11 02:22] CQBoyBrand opened #92415 "VS Code Terminal Bug"
Issue Type: <b>Bug</b>

Input method input characters in Chinese state, and then switch to English or multiple identical characters appear。

![](https://imgchr.com/i/8kmb34)

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:34:44.548Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750

[2020-03-11 02:22] leandroluk opened #92416 "sometimes does not recognize venv in python"
Issue Type: <b>Bug</b>

sometimes, when i install a new library or pull the project in git, vscode does not recognize these changes and says that the code is invalid or that the library is not found in the virtual environment. yes, i am activating virtualenv using the command "python3 -m venv venv" and then "source ./venv/bin/activate" to then install the requirements and any other library and eve

[2020-03-11 02:29] CQBoyBrand commented on #92415
like this
[![8kmb34.gif](https://s2.ax1x.com/2020/03/11/8kmb34.gif)](https://imgchr.com/i/8kmb34)

[2020-03-11 02:35] benkonz commented on #92241
Just tested, the problem still happens in VSCode version `1.43`

[2020-03-11 03:01] actboy168 commented on #73845
I agree that `Copy Value` should have its own context. A year ago, `Copy Value` still used `null` as its context. Although it is not documented, at least it works. I have also requested that it be documented #69768.

[2020-03-11 03:02] VAggrippino commented on #92368
I seem to be having this problem too. I usually open VSCode from the WSL command line, but it occurs when I open it using the icon too.

I think this started after I updated to the latest version yesterday.

From the command line (`code .`) it opens one window for the intended project and the other window for an old project that I have since deleted. So, the second window actually shows the name o

[2020-03-11 03:05] lanten opened #92417 "[less] color info missing"
- VSCode Version: 1.43.0
- OS Version: macOS 10.15.3

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/16203518/76378258-f6c40e00-6387-11ea-9753-10dc155a2d30.png)

Does this issue occur when all extensions are disabled?: Yes

[2020-03-11 03:36] #91853 closed

[2020-03-11 03:48] ThaddeusJiang commented on #92409
MacOS has same issue
<img width="664" alt="Screen Shot 2020-03-11 at 12 42 12" src="https://user-images.githubusercontent.com/17308201/76380515-54f7ed80-6396-11ea-8045-4e09a4c2414b.png">

expect:
 ♻️Refactoring

[2020-03-11 03:53] steida opened #92418 "VSCode truncate type"
Please add an option to show full not truncated type. This is unreadable.

<img width="835" alt="Screenshot 2020-03-11 at 04 52 34" src="https://user-images.githubusercontent.com/66249/76380835-2b1dd700-6354-11ea-8fa8-943214321f01.png">

[2020-03-11 04:07] deepak1556 commented on #92365
Thanks for testing! I can't speak for the windows bug, but the steam client you are referring also has chromium components, I wouldn't be surprised if its affected by it.

There seems to be an upstream bug https://bugs.chromium.org/p/chromium/issues/detail?id=964759 for this issue, I would suggest to follow that and also mention the issue you are facing.

I will leave this bug open to avoid duplic

[2020-03-11 04:09] chaanto commented on #20224
Any update for search result in tree view ?

[2020-03-11 04:09] peckas13 opened #92419 "Color theme bug"
Since yesterday I experiment a bug that makes the editor be unable to take the font color properly and the text turn almost as the same color and hard to read.

[2020-03-11 04:14] vuongggggg opened #92420 "[Meta] Crash with webview after updated to 1.43.0"
Issue Type: <b>Bug</b>

Actual:
- Crash after updated to 1.43.0 successfully (when VSCode tries to restart).
- Crash when click on Restart Required of extension randomly.

Instead of restart editor, it just stops.

Reproduce steps:
It's random, cannot reproduce.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:34:44.548Z)
OS version: Darwin x64 19.3.0

<detail

[2020-03-11 04:20] eamodio commented on #92387
Fix looks good!

[2020-03-11 04:22] eamodio opened #92421 "Add extension support for view-level progress indicators"
Refs: https://github.com/microsoft/vscode/issues/92135

Now that we can support view-level progress indicators, we should expose this ability to extensions.

Current proposal:
https://github.com/microsoft/vscode/blob/eb4ebee6a3310df8ff5f36f78f209c2658cfcdfc/src/vs/vscode.proposed.d.ts#L1828-L1845

Alternative # 1:
[code]

Alternative # 2:
[code]

//cc @jrieken

[2020-03-11 04:24] roblourens commented on #92331
Recommended workaround for now - disable `remote.SSH.useLocalServer` as described above. Tomorrow morning I will push out an update reverting the change to enable that by default.

[2020-03-11 04:24] renjeeshn opened #92422 "Opening multiple vscode on simple call because of the cache file."
when try to open the current directory of the project using vscode it opening the other opened projects are opening that time.

[2020-03-11 04:30] #91840 closed

[2020-03-11 04:31] roblourens commented on #91840
You may want to check out source control systems like Git, sounds like it may help

[2020-03-11 04:36] yoshiotobe commented on #92353
I'm having the same issue.
After installing Nuxt.js, all json file get the error message inside the nuxt directory.
However, outside the nuxt directory, it does not happen.
Nuxt seems to be working fine but I'm not sure if I have to fix this problem or just ignore it.
It's a bit annoying to see the error message.

・Host OS: Windows 10
・Guest OS: Ubuntu 18.04 (Vagrant)
・VSCode: 1.44.0-insider
・Usag

[2020-03-11 04:36] eamodio commented on #92421
I think I prefer alt #2, but I chose the first, because neither alt 1 or 2 can be implemented in `vscode.proposed.d.ts`

[2020-03-11 04:41] dhairyanadapara opened #92423 "Remote Extension is not working in Insider build"
- Version: 1.44.0-insider (user setup)
- Commit: b0791e5236f462fbb785e9a00319705607cefb9d
- Date: 2020-03-10T11:23:10.498Z
- Electron: 7.1.11
- Chrome: 78.0.3904.130
- Node.js: 12.8.1
- V8: 7.8.279.23-electron.0
- OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Open VSCode
2. Open Remote Extension
3. No hosts are shown in list

Error in Remote Extension.
[code]

![image](https://user-images

[2020-03-11 04:42] roblourens commented on #92384
The `disregardIgnoreFiles` option is `boolean | undefined`, so only set it if you want to override the setting.

[2020-03-11 04:48] roblourens commented on #92199
On mac, the default keybinding is cmd+alt+f, does that work for you?

[2020-03-11 04:51] deepak1556 commented on #89255
Thanks for the updates,  closing this as a duplicate of https://github.com/microsoft/vscode/issues/84745

Virtualbox issues linked at https://github.com/microsoft/vscode/issues/84745#issuecomment-561645280

Also you can disable gpu following https://code.visualstudio.com/updates/v1_40#_disable-gpu-acceleration

[2020-03-11 04:51] #89255 closed

[2020-03-11 04:52] deepak1556 commented on #84470
Thanks for confirming, closing this as duplicate of https://github.com/microsoft/vscode/issues/84745

Virtualbox bugs are linked at https://github.com/microsoft/vscode/issues/84745#issuecomment-561645280

[2020-03-11 04:52] #84470 closed

[2020-03-11 04:53] akbarsahata opened #92424 "TS Server fatal error: Cannot read property 'path' of undefined"
Issue Type: <b>Bug</b>

**TypeScript Version:** 3.7.5
**Steps to reproduce crash**
1.
2.
3.
**TS Server Error Stack**
[code]

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:34:44.548Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8279U CPU @ 2.40GHz (8 x 2400)|
|GPU Status|2d_canvas

[2020-03-11 04:53] deepak1556 commented on #90059
@aradiuk can you try disabling gpu with https://code.visualstudio.com/updates/v1_40#_disable-gpu-acceleration

closing this as a duplicate of https://github.com/microsoft/vscode/issues/84745

[2020-03-11 04:53] #90059 closed

[2020-03-11 05:00] smcenlly opened #92425 "Bug Report: Scroll stops working in Output Window"
Version: 1.44.0-insider (user setup)
Commit: b0791e5236f462fbb785e9a00319705607cefb9d
Date: 2020-03-10T11:23:10.498Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. From the command-line, launch vscode insider's build with `code-insiders --disable-extensions`
2. Maximize the VS Code window.
3. Run the command,

[2020-03-11 05:06] wKich commented on #92407
@jmadelaine, thanks a lot for figure out why highlighting is changing on opening vscode. I spent few hours to try understand why my code goes to ugly highlighting.

[2020-03-11 05:10] b00f opened #92426 "Unable to save the file, possible of loosing data"
vscode is unable to save the files. It can't be easily reproduced and looks happens randomly.
Specially when the user enabled 'auto save'.
This bug has been reported by users frequently. However the vscode team claims that this is extensions issue. Even an extension have internal bug, it shouldn't affect saving file.

You can find similar bugs here:
https://github.com/microsoft/vscode/search?q=%22

[2020-03-11 05:13] imvikramn commented on #92315
It happened only once. I tried to reproduce the issue, it's not happening now.

[2020-03-11 05:14] roblourens commented on #92218
They do show up in intellisense, but they are only supported as special cases for specific settings.

[2020-03-11 05:16] adamreisnz commented on #92308
I am glad that I am not the only one that found all of their syntax highlighting in jumbles.
Will disable semantic highlighting for now until it is fixed.

[2020-03-11 05:21] imvikramn commented on #92315
It happened only once. Happened immediately after updating the app. Also the app icon was not visible in the Dock until yesterday while the app is running.

Looks like everything works fine now.

[Electron_2020-03-10-104858_Negup-Mac.txt](https://github.com/microsoft/vscode/files/4316161/Electron_2020-03-10-104858_Negup-Mac.txt)

[2020-03-11 05:29] sanket-bhalerao commented on #92423
i am getting following error.
i could connect to the server before update to 1.44 insiders build.
![image](https://user-images.githubusercontent.com/9264813/76385271-58d04380-6387-11ea-92de-35f4192bcc1e.png)

[2020-03-11 05:38] sanket-bhalerao commented on #92242
vscode 1.44 update seems to have broken the remote connection.
#92423

[2020-03-11 05:42] iliazeus commented on #90517
#92427

I did a quick search of the codebase, and it looks like `'Unknown'` is usually used for such cases in the various error code enums.

[2020-03-11 05:45] sandyman96 opened #92428 "cannot scroll down debug console"
Issue Type: <b>Bug</b>

1. create a node app.js file.
2.create many console.log() commands to will the debugger console.
3.press F5 to run as debugger.
4. The debugger window wil not scroll, even though there are texts beneath it.

VS Code version: Code - Insiders 1.44.0-insider (b0791e5236f462fbb785e9a00319705607cefb9d, 2020-03-10T11:34:00.960Z)
OS version: Linux x64 4.15.0-88-generic

<details>

[2020-03-11 05:59] ryuukibeat commented on #92422
I think it's because you are connected to WSL. Let it open, and then "close remote connection".

I had multiple open too before, one window is my opened project folder, another one is the WSL project. I just close the remote connection from that opened folder, then whenever I open new vscode window or open project folder, it no longer launch double window in my case.

[2020-03-11 06:10] germayneng opened #92429 "python doc string underscore"
Currently any arguments with _ will result in a backslash:

I am following the format of the numpy doc string:

![Screenshot 2020-03-11 at 2 08 13 PM (2)](https://user-images.githubusercontent.com/22788747/76387489-07817d80-63a2-11ea-8132-00aa95dcb200.png)

cant seem to find any solution to this! Thanks

[2020-03-11 06:19] Ahmdrza commented on #60697
Getting same issue now. Closing adobe creative cloud fixed it for me.

[2020-03-11 06:20] bpasero commented on #92400
@eamodio I guess one problem is that extensions can still use API to report progress on the viewlet container right? I forgot about that when I suggested this, so we may not easily be able to remove this.

[2020-03-11 06:20] bpasero commented on #92105
Ok thanks for the reply, I think I am going ahead and close this as I see now easy way to get there.

[2020-03-11 06:20] #92105 closed

[2020-03-11 06:22] eamodio commented on #92400
Yeah, we won't be able to remove it, but we *could* deprecate it to encourage view-level use.

I've added an API proposal here for extensions: https://github.com/microsoft/vscode/issues/92421

[2020-03-11 06:22] bpasero commented on #92110
Thanks, great analysis. I will try to reproduce as well. I wonder if this could be some artifact of a very old version of VSCode starting with this bad path and then a newer version of VSCode hashing the path in a different way so that we fail to remove this entry. This would be something I cannot easily fix. Could it be that you recently updated from an very old version?

[2020-03-11 06:24] bpasero commented on #92240
Can you maybe find your encoding in this list: https://github.com/ashtuchkin/iconv-lite/wiki/Supported-Encodings

That is the library we are using and most of those encodings are also enabled in VSCode.

[2020-03-11 06:25] sanket-bhalerao commented on #92423
it is caused by extn Remote-ssh
downgrade it to earlier version and remote works fine.
![image](https://user-images.githubusercontent.com/9264813/76388412-190d5a00-638f-11ea-8ac5-0491061ec2c1.png)

[2020-03-11 06:25] bpasero commented on #92358
@thw0rted you can do this today already, what is missing?

![image](https://user-images.githubusercontent.com/900690/76388473-8a3a1680-6369-11ea-8ece-18fcdac1c8e1.png)

[2020-03-11 06:26] mjbvz commented on #92424
You are using an old TS version (3.7.5)

Do yo see this with TypeScript 3.8+?

[2020-03-11 06:26] #65539 closed

[2020-03-11 06:27] #92149 closed

[2020-03-11 06:29] bpasero commented on #92368
@clintbingo @VAggrippino there is a setting `window.restoreWindows` that you can set to `one`. Does that help?

[2020-03-11 06:30] bpasero commented on #92346
@lonix1 @kladnik do clarify, you middle-click into the window title? Are you using the native title or the custom one?

[2020-03-11 06:34] bpasero opened #92430 "SCM View does not span available hight"
Seeing this running out of sources on macOS:

![image](https://user-images.githubusercontent.com/900690/76389018-adb19100-636a-11ea-864b-98464645098c.png)

[2020-03-11 06:34] #91960 closed

[2020-03-11 06:35] raynym commented on #92331
@radcool Thanks! I can confirm that setting `remote.SSH.useLocalServer` set to `false` worked for me too. I have default shell TCSH and that in combination with `remote.SSH.useLocalServer` set to `true` does not work.

[2020-03-11 06:36] bpasero commented on #92430
Also in insiders from today.

[2020-03-11 06:37] eamodio commented on #92430
I think this issue with the SCM message box is related too
![image](https://user-images.githubusercontent.com/641685/76389249-3a475980-6341-11ea-9ba4-b7fad6ac3261.png)

[2020-03-11 06:38] eamodio commented on #92430
Related: https://github.com/microsoft/vscode/issues/92387

[2020-03-11 06:39] akbarsahata commented on #92424
I just updated the ts version. will update if same issue occurs

[2020-03-11 06:40] borishere opened #92431 "Show wrong branch name in status bar on startup"
1. Switch to branch other than 'master'.
2. Start VSCode.
3. You will see 'master' branch in status bar, it will be changed only when you open some file.
![Screenshot_6](https://user-images.githubusercontent.com/4622497/76389390-2836dc80-637c-11ea-812e-feb159734870.png)

Issue Type: <b>Bug</b>

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS ver

[2020-03-11 06:42] janbaltus commented on #92313
1.43.2 which is latest LP contain this issue. We will fix for 1.44.0

[2020-03-11 06:43] dhairyanadapara commented on #92423
@sanket-bhalerao Tried downgrading the `Remote-SSH` extension to `0.49.0` and `0.48.0`. But, still it's not working.

[2020-03-11 06:44] sysdl132 commented on #92313
Thanks for your answer

[2020-03-11 06:44] deepak1556 commented on #91643
@graph just to confirm is this on windows ?

[2020-03-11 06:45] sanket-bhalerao commented on #92423
it seems to work for me, that is the only extn i have downgraded. for me the version is 0.49.0 (i downgraded from 0.50.0)

[2020-03-11 06:47] sanket-bhalerao commented on #92430
there are blank areas in the extension viewlet as well. is this related to same issue?
![image](https://user-images.githubusercontent.com/9264813/76389862-4c051d00-6392-11ea-8b17-ae81f641b315.png)

[2020-03-11 06:50] deepak1556 commented on #92315
Thanks for the trace, symbolicated crashed thread

[code]

[2020-03-11 06:51] deepak1556 commented on #92315
Closing this as duplicate of https://github.com/microsoft/vscode/issues/91509 , please ping in the other issue if you see the crash again.

[2020-03-11 06:51] #92315 closed

[2020-03-11 06:52] renjeeshn commented on #92422
Im not running on WSL

it is opening this file files when I launch the code
"telemetry.machineId": "",
    "openedPathsList": {
        "workspaces3": [
            "file:///home/user/personal/messagemanagerrestapi",
            "file:///home/user/personal/usermanagement",
            "file:///home/user/.config"
        ],
        "files2": [
            "file:///home/user/.config/.shutdown"

[2020-03-11 07:00] borishere commented on #6995
Still doesn't work for me. Can someone confirm that it is fixed?

[2020-03-11 07:01] bpasero opened #92432 "Terminal: the "+" could be a dropdown when asking for cwd?"
In a multi-root workspace when I click on the "+" in the terminal panel to open a new terminal, the picker opens to ask for the cwd far away from the "+" action location.

Wouldn't it make more sense to simply show a dropdown at the "+" where I can pick the CWD folder from?

![image](https://user-images.githubusercontent.com/900690/76390874-8066e200-636e-11ea-9053-600655d67c2f.png)

[2020-03-11 07:02] TylerLeonhardt opened #92433 "VS Code not honoring some completion results from language server"
- VSCode Version:
- OS Version: macOS Catalina

Steps to Reproduce:

1. Install the PowerShell extension
2. Ppen a new PowerShell file (wait for the integrated console to start up) and add the following code:
[code]
At the end of process, trigger completions with ctrl+space.

### Expected

You see a completion result for `Stop-Process` and `Start-Process`

### Actual

You don't see any completion

[2020-03-11 07:03] WEBhicham opened #92434 "Explorer cuts the tree off."
When you resize the explorer the explorer stop showing you the entire tree. It also seems that the tree is cut of in the middle somewhere

![bug_report](https://user-images.githubusercontent.com/27362642/76390949-a5f3eb80-636e-11ea-843d-44313f2f4224.gif)

- VSCode Version: 1.44-insiders build
- OS Version:  Microsoft Windows 10 Pro 10.0.17763 N/A Build 17763

Steps to Reproduce:

1. make your expl

[2020-03-11 07:04] KevinGrealish opened #92435 "Add recent search strings to Search"
Issue Type: <b>Feature Request</b>

When using search (ctrl-shift-F) there is no recnt searched for strings so to search for the prior value I searched for I have to retyp it. All other tools I use have a drop-down or auto-complete that offers recent search strings. Please also provide this.

VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:46:03.121Z)
OS versi

[2020-03-11 07:04] RBNico commented on #92434
Same here

[2020-03-11 07:05] alexdima commented on #6995
@borishere Are you using insiders? Stable does not have that change yet.

[2020-03-11 07:07] navin-moorthy commented on #92434
More Info on the same issue:

Version: 1.44.0-insider
Commit: eb4ebee6a3310df8ff5f36f78f209c2658cfcdfc
Date: 2020-03-11T05:31:25.663Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0

[2020-03-11 07:09] amitgupta4078 opened #92436 "Word wrap still not fixed"
Issue Type: <b>Bug</b>

I have opened a file with long strings. When I click on Toggle Word Wrap, I expect the horizontal scrollbar to go away and panel on right side to intermix perfectly with page rather than appearing as a over-the-top panel. I am on latest version but this is still not working. This is so frustrating.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 202

[2020-03-11 07:10] borishere commented on #6995
@alexdima I'm using a stable version. Thanks for clarification.

[2020-03-11 07:10] amitgupta4078 commented on #90686
Issue still persists in latest version of VS Code

I have opened a file with long strings. When I click on Toggle Word Wrap, I expect the horizontal scrollbar to go away and panel on right side to intermix perfectly with page rather than appearing as an over-the-top panel. I am on latest version but this is still not working. This is so frustrating.

VS Code version: Code 1.43.0 (78a4c91, 2020-03-

[2020-03-11 07:11] #92436 closed

[2020-03-11 07:15] bpasero opened #92437 "Debug: ILaunch#openConfigFile() should focus on launch"
Quick access for debug offers a configure action and it would be great if calling `ILaunch#openConfigFile()` has a way to focus on the line/col of the launch.

The code is here:

https://github.com/microsoft/vscode/blob/b8c1023dd8114b8821c28ce558634fe8c0f5d04d/src/vs/workbench/contrib/debug/browser/debugQuickAccess.ts#L68

![image](https://user-images.githubusercontent.com/900690/76391710-5e6e5f00

[2020-03-11 07:16] bpasero commented on #92378
via https://github.com/microsoft/vscode/commit/b8c1023dd8114b8821c28ce558634fe8c0f5d04d

[2020-03-11 07:16] #92378 closed

[2020-03-11 07:20] christianalfoni commented on #92308
We also have this issue related to a library. We heavily depend on syntax highlighting for "CONST" like properties. For example:

[code]

Now the `RED_500` text is no longer highlighted, given that the theme highlights it.

For me this seems to be a bug with the `semanticHighlighting` though. Cause:

[code]

I do find it weird that `semanticHighlighting` is set to default as it breaks community cr

[2020-03-11 07:22] mandaputtra opened #92438 "File Tree Exploler not Showing all files, when there are still space"
Issue Type: <b>Bug</b>

Open folder with lot of files, the files tree should show them all not hiding it.

![Only some files and folder is shown](https://user-images.githubusercontent.com/23342943/76392142-8a570800-63a3-11ea-9597-929274ad89ec.png)

![Next that not showings](https://user-images.githubusercontent.com/23342943/76392131-83c89080-63a3-11ea-9a51-b7b9d8e228d4.png)

[code]

VS Code versio

[2020-03-11 07:23] mandaputtra commented on #92438
https://github.com/microsoft/vscode/issues/92434 already explain it.

[2020-03-11 07:23] #92438 closed

[2020-03-11 07:24] Tyriar commented on #92318
I'm struggling to find a way to properly fix this for users without just changing the behavior something since this change in behavior looks to have been in [since 1.32](https://github.com/microsoft/vscode/commit/7b681aa2fb49229e8a51443f782270937a175588). Maybe some restriction on the maximum number of windows that can be opened at once, with a dialog if it's over 5 or something?

@bpasero do you

[2020-03-11 07:26] thw0rted commented on #92358
I hadn't seen that, thanks.

The original intent of the issue was to point out that the Open Recent picker has a nice "X" button:

![image](https://user-images.githubusercontent.com/943160/76391909-ca50c780-6370-11ea-93be-c62a5a917237.png)

but the Go To File picker does not:

![image](https://user-images.githubusercontent.com/943160/76392055-1ef44280-6371-11ea-8d0d-086ab3d339a8.png)

and neither

[2020-03-11 07:34] leonardder commented on #91061
The point is that information like aria-posinset and aria-setsize only tells the screen reader how many items there are and what number the current item has in the group. It still relies on the several sets (e.g. sub folders) belong into their own group container, as noted in the best practise. At the moment, no positional information other than level is communicated.
Would it be possible to wrap

[2020-03-11 07:35] alexdima commented on #90686
@amitgupta4078 Please create a new issue and also include the file that is problematic or a file that is very similar and that you can share. I would like to try to reproduce.

[2020-03-11 07:35] Regzanate opened #92439 "Remote SSH cannot be used"
Issue Type: <b>Bug</b>

I was able to connect via SSH normally before updating to the latest version, but after updating I was unable to connect.
This is output to the log.

Stopped parsing output early.Remaining text: OpenSSH_7.9p1, OpenSSL 1.1.1a 20 Nov 2018Can't open user config file "C: \\ Users \\\ xxx \ xxx \ xxx \ xxx \ xxx \ xxx \ xxx \ xxx \ xxx \ xxx \ xxx \ xxx \\. ssh \\ config ": No s

[2020-03-11 07:35] wilson-weets commented on #92323
Hi, I have the same problem. Hope it will be fixed soon.

[2020-03-11 07:35] alexdima commented on #90686
@amitgupta4078 Can you please include the file that is problematic?

[2020-03-11 07:45] arg9244 commented on #92379
that fixed it
thank you

On Wed, Mar 11, 2020 at 3:56 AM Robo <notifications@github.com> wrote:

[2020-03-11 07:46] rbadapanda opened #92440 "The explorer panel renders contents only in half of its available space"
Issue Type: <b>Bug</b>

Install latest insider. check the explorer pane contents

VS Code version: Code - Insiders 1.44.0-insider (eb4ebee6a3310df8ff5f36f78f209c2658cfcdfc, 2020-03-11T05:31:25.663Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7660U CPU @ 2.50GHz (4 x 2500)|
|GPU Status|2d_canvas: enabled<br>flash_3d: en

[2020-03-11 07:47] MaledongGit opened #92441 ""Run" doesn't have a quick shortkey in the menu"
Issue Type: <b>Bug</b>

For "Run" in the menu of VS Code, there's only a "&", where is the letter "R"? Maybe it should look something like "运行(R)"?

PS: Just this is found in the Chinese version, not sure whether English or other versions have this problem or not.

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:37:31.640Z)
OS version: Windows_NT ia32 10.0.183

[2020-03-11 07:49] feidianbo opened #92442 "Explorer don't display full size at vertical"
Issue Type: <b>Bug</b>

The left explorer don't display full size at vertical, whever how to resize.

VS Code version: Code - Insiders 1.44.0-insider (eb4ebee6a3310df8ff5f36f78f209c2658cfcdfc, 2020-03-11T05:33:39.535Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4570 CPU @ 3.20GHz (4 x 3193)|
|GPU Status|2d_canv

[2020-03-11 07:50] bpasero commented on #92358
@thw0rted understood, I can see about adding it to quick open.

As for recently opened, that sounds like a bug to me! I do not see that:

![image](https://user-images.githubusercontent.com/900690/76394125-48af6880-6375-11ea-8914-bfe93fa8851e.png)

Do you see that with latest VSCode?

[2020-03-11 07:50] yj7 opened #92443 "Replace All Does not work"
Version: 1.43.0 (user setup)
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:47:57.235Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Search for a string in the sidebar
2. Open the search in the search editor
3. Change the sidebar from search to search and replace
4. Enter the replace str

[2020-03-11 07:51] bpasero commented on #92318
@Tyriar I am quite sure we opened 1 window per backup directory with backups. So ended up always restoring every window that has backups. We decided with this approach to ensure we always bring back dirty files into their windows independent from any setting (other than the hot exit one at least).

Btw untitled workspaces behave exactly the same for the same reasons because they may contain settin

[2020-03-11 07:54] alexdima commented on #92373
As a workaround, you could use `"editor.renderWhitespace": "none"`.

[2020-03-11 07:57] clshu opened #92444 "All recently opened files are opened at the same time when I start code"
I just updated vscode today  2020/03/10. vscode behaved differently. It opened all the recently oped files at the same time. It created many windows. I cleared recently opened file from File -> Open Recent -> Clear Recently Open but it still opened a lot of files. After a while, it seems to be back to normal. I want to keep the list of recently opened files but only open when I clicked on it. Not

[2020-03-11 07:57] deepak1556 commented on #92379
Thanks for confirming, closing as no further action can be taken from VS Code at the moment, might want to check with the flag removed in future releases.

[2020-03-11 07:57] #92379 closed

[2020-03-11 07:58] Tyriar commented on #92318
@bpasero I think you're describing the designed behavior, I mean to ask about the behavior [from 1.32](https://github.com/microsoft/vscode/commit/7b681aa2fb49229e8a51443f782270937a175588) to 1.43 so that it's clear how having `foldersToAdd` caused the backups to behave and why backups stacked up not getting restored (was this because they weren't being saved to workspaces.json anymore?).

[2020-03-11 08:00] Tyriar commented on #92432
There's already a request to change the + into a shell selector dropdown to align with Windows Terminal, cmder, etc. https://github.com/microsoft/vscode/issues/45444

Since this is often requested and we'd be optimizing for the more common case (non-multi root workspaces) I think we should use the dropdown for that.

[2020-03-11 08:00] #92432 closed

[2020-03-11 08:02] stefaanMLB commented on #3742
Interesting,
Unfortunately it won't install on vscode version 1.42.1
![image](https://user-images.githubusercontent.com/50827063/76395203-0c7d0780-6377-11ea-9184-ff4fd7c88865.png)

[2020-03-11 08:05] kladnik commented on #92346
@bpasero Yes exactly. I was using custom and it was working in the previous version, but not in 1.43. Just tested using the native title and there the function still works. So this can be a current workaround until a proper solution is found.

[2020-03-11 08:06] alexdima commented on #92226
@gilescope Yes, it is possible to add keybindings rules, but it is not possible to remove keybindings rules. Keybinding rules are documented [here](https://code.visualstudio.com/docs/getstarted/keybindings#_keyboard-rules).

So in your case you can just map `alt-left` and `alt-right` to do whatever you want. The built-in keybinding will be shadowed by your keybindings. It is not necessary that you

[2020-03-11 08:07] bpasero opened #92445 "Composite progress will not work in this case"
Not a regression from your work but more likely to happen now: the `withCompositeProgress` method may be called with a progress indicator that is `undefined` because the composite may not have been instantiated yet. This can happen if a view is opened in a viewlet that was previously not opened but someone reports progress for it.

I think the progress service for composites would need to listen f

[2020-03-11 08:07] KennanChan commented on #92417
Same issue after updating to 1.43.0

[2020-03-11 08:08] alexdima commented on #92336
Duplicate of #65815 . Today's insiders should already contain a fix.

[2020-03-11 08:08] #92336 closed

[2020-03-11 08:10] bpasero commented on #92318
I think @aeschli can comment if there was some intention behind the change or just an oversight.

[2020-03-11 08:12] Tyriar commented on #92409
For Windows this is a known issue as conpty is emitting something different to nix ptys, this is currently tracked in https://github.com/xtermjs/xterm.js/issues/2693 /duplicate

@ThaddeusJiang for mac I believe it's a font config issue

[2020-03-11 08:12] #92409 closed

[2020-03-11 08:14] Tyriar commented on #92241
/duplicate https://github.com/Microsoft/vscode/issues/69665

[2020-03-11 08:14] #92241 closed

[2020-03-11 08:20] isidorn commented on #69768
@actboy168 looking at the code Copy Value shuold pass the `variables` context. Is that not enough for what you are looking for?

@weinand If this is not enough we should look into this so debug authors could distungish between copy value and other evaluations potentially needed for https://github.com/microsoft/vscode/issues/73845

[2020-03-11 08:24] lonix1 commented on #92346
@bpasero Yes, I middle click on the window title. (Just for reference: in gnome there's an option to "lower" the window, so the result is you can quickly cycle between open windows on that workspace by just middle clicking on the window title).

@kladnik Please tell me how you did the workaround? I'm not sure what is meant by "native title" - where do I find that option?

[2020-03-11 08:24] kolpav commented on #23931
I almost get this feature set up perfectly but I am unable to figure out how to always reuse the search tab I don't need new one for every search I make any ideas?

Btw this keybindings greatly improved my search experience. You open search editor with whatever shortcut you have it mapped to, start typing your search query press `enter` and it will focus search result window, press `ctrl+n` to go

[2020-03-11 08:24] llgcode commented on #92329
Hi @mjcrouch ,
Really sorry, I didn't read the doc well.
Thanks
Laurent

[2020-03-11 08:24] #92329 closed

[2020-03-11 08:25] borgdylan commented on #92428
Encountered the same issue on the insiders build.

[2020-03-11 08:31] bpasero commented on #92346
//cc @sbatten on the fact that this does not work with custom title.

[2020-03-11 08:31] mattacosta commented on #92430
The explorer view is also chopped off.

![exporer_view](https://user-images.githubusercontent.com/1007463/76396770-0d8e4480-6337-11ea-9961-0851b4de5569.png)

[2020-03-11 08:32] llgcode commented on #92329
I wrote this to have startsWith:
`key =~ /^prefix-/`

You may add the operator to this list:
https://code.visualstudio.com/docs/getstarted/keybindings#_conditional-operators

[2020-03-11 08:37] isidorn commented on #87664
@deepak1556 yes, we should. Thanks for the ping.

[2020-03-11 08:37] #87664 closed

[2020-03-11 08:40] sandy081 commented on #92430
Caused by #92387.

Fixed.

[2020-03-11 08:40] #92430 closed

[2020-03-11 08:41] boypro2007vn opened #92447 "Text color show incorrect after last update."
Some text color show incorrect after last update.
https://imgur.com/a/jH51pVX

[2020-03-11 08:44] Tyriar commented on #92403
Good find, not sure what happened there.

[2020-03-11 08:44] alexdima commented on #82631
I agree that the implementation was not very good. A lot of these weird cases now work better with 811c4b5552e4165262cb25eeb6480e04c295bd9a.

The commands are about moving the selected text left or right. I will rename them to "Move selected text left" and "Move selected text right".

[2020-03-11 08:44] WatchJiang opened #92448 "Remote SSH user name always uppercase"
I use Remote SSH to connect to linux server, it was working until I upgraded vscode to 1.43 recently.
For linux user in uppercase and lowercase are treated as different user.
But now Remote SSH always use uppercase username to connect to target server.

- VSCode Version: 1.43
- OS Version: Windows 10

Steps to Reproduce:

1. configure a ssh connection with lowercase username say usera, host 123.ab

[2020-03-11 08:45] Devjacky opened #92449 "Highlighted areas next to lines of code that aren't selected"
Issue Type: <b>Bug</b>
![pic 1](https://user-images.githubusercontent.com/13607101/76398004-728d7d00-63bf-11ea-82e6-f7f2c8c086c0.png)
![pic 2](https://user-images.githubusercontent.com/13607101/76398016-76210400-63bf-11ea-8c17-295eedb7a933.png)

Regardless of file type and color theme, there are highlighted areas next to lines of code that aren't currently selected. When I move my cursor to the li

[2020-03-11 08:45] zhoufight opened #92450 "vscode 异常关闭"
所需的数据太大，无法直接发送。我们已经将其写入剪
Issue Type: <b>Bug</b>

visual Studio code 打开一段时间，老是自动关闭软件

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br

[2020-03-11 08:46] Tyriar commented on #92403
Fixed, thanks.

[2020-03-11 08:46] #92403 closed

[2020-03-11 08:46] #82631 closed

[2020-03-11 08:47] FerrariAndrea commented on #92274
The screen does not give much more detail, this is Visual Studio blocked on startup:
![image](https://user-images.githubusercontent.com/33545798/76396643-e016ba80-6379-11ea-9291-2072943c9658.png)
And this is the folder offline, after the startup of Visual Studio Code:
![image](https://user-images.githubusercontent.com/33545798/76397023-a2fef800-637a-11ea-9040-ec7b3ee4fbeb.png)

The NodeRealRobot i

[2020-03-11 08:50] actboy168 commented on #69768
Thank you, `Copy Value` has its own context, but still a few problems.

1. In watch view, click `Copy Value` does not send EvaluateRequest.
2. In watch view, variables without variableReference do not display the UI of `Copy Value`. In the variables view, it just depends on whether there is an evaluateName.I think the variable view is the correct behavior.
3. The `variables` context is not documen

[2020-03-11 08:55] sandy081 commented on #92357
Yes. #84332 is for auth provider API. This is one piece of Settings Sync. This issue is for second piece - custom back ends for which we need standardise the settings sync service end point API.

@Tyriar FYI

[2020-03-11 08:56] isidorn commented on #69768
1. We can fix it, so it is consistent. Currently it does not send `EvaluateRequest` because the watch is already evaluated
2. This is correct behavior, watch variables require the `evaluateName` property, without it we do not know what we need to evaluate. We will not change this
3. We can document it

[2020-03-11 08:59] sanket-bhalerao commented on #92439
@Regzanate  can you try to downgrade "Remote - SSH" extension version to 0.49.0?

[2020-03-11 08:59] isidorn commented on #84857
We are open to a PR which adds the `disabled` option to the `incrementalNaming` setting.
Code pointer https://github.com/microsoft/vscode/blob/970f3543b8fb3a35ea2ba36587859297d851ac18/src/vs/workbench/contrib/files/browser/fileActions.ts#L353

[2020-03-11 09:01] sanket-bhalerao commented on #92440
possible duplicate of #92430

[2020-03-11 09:01] alexander-zolotykh opened #92451 "Search results window doesn't fill all awailable space in sidebar"
Issue Type: <b>Bug</b>

See video https://take.ms/sT9Nf and https://take.ms/XWZYO

VS Code version: Code - Insiders 1.44.0-insider (eb4ebee6a3310df8ff5f36f78f209c2658cfcdfc, 2020-03-11T05:31:25.663Z)
OS version: Darwin x64 19.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2200)|
|GPU Status|2d_canvas: enabled<br>flash_3d:

[2020-03-11 09:02] alexdima commented on #80165
@PowerSheetAI We now can trust our logging (because we flush after each log statement). Does the crash still occur for you?

[2020-03-11 09:02] dagi3d commented on #92442
+1
seems to happen in all the containers inside the side bar
![screenshot](https://i.imgur.com/AzpHrAZ.png)

[2020-03-11 09:04] rickstaa commented on #92374
Thanks! The problem appear to be fixed in the last insider release:

**Version:** 1.44.0-insider
**Commit:** eb4ebee6a3310df8ff5f36f78f209c2658cfcdfc
**Date:** 2020-03-11T05:33:48.554Z
**Electron:** 7.1.11
**Chrome:** 78.0.3904.130
**Node.js:** 12.8.1
**V8:** 7.8.279.23-electron.0
**OS:** Linux x64 5.3.0-40-generic

[2020-03-11 09:09] actboy168 commented on #69768
For the second point, I mean that currently in the watch view, only the variable without variableReference will show `Copy Value`.
![2](https://user-images.githubusercontent.com/1836844/76400151-cea1d280-63ba-11ea-8912-47801fa21e2f.gif)

[2020-03-11 09:10] alexdima commented on #84119
@ahdung I am sorry for the delayed response. I now understand what is different between those two lines:
- the font is detected as monospace
- the second line contains only ASCII characters and we create a `FastRenderedViewLine`. For such lines, we do not go and ask the browser for character positions. We simply take the width of one character and multiply by the number of characters and thus dete

[2020-03-11 09:10] #84119 closed

[2020-03-11 09:14] KyleNee opened #92452 "VSCode资源管理器显示文件（文件夹）不正常"
Issue Type: <b>Bug</b>

Resource manager displays files (folders) incorrectly
like:
--------------------
|
|
|
|
|
|
|
|
|
|

VS Code version: Code - Insiders 1.44.0-insider (eb4ebee6a3310df8ff5f36f78f209c2658cfcdfc, 2020-03-11T05:33:39.535Z)
OS version: Windows_NT x64 10.0.18363

[2020-03-11 09:14] KyleNee opened #92453 "VSCode资源管理器显示文件（文件夹）不正常"
Issue Type: <b>Bug</b>

Resource manager displays files (folders) incorrectly
like:
--------------------
|
|
|
|
|
|
|
|
|
||
||

VS Code version: Code - Insiders 1.44.0-insider (eb4ebee6a3310df8ff5f36f78f209c2658cfcdfc, 2020-03-11T05:33:39.535Z)
OS version: Windows_NT x64 10.0.18363

[2020-03-11 09:17] surajmandalcell commented on #92353
Can confirm it gets fixed after switching to previous point release. Its bugged for current release only.

[2020-03-11 09:17] luthfikw opened #92454 "VSCode abnormal while saving"
Version: 1.43.0
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:34:44.548Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 18.7.0

Steps to Reproduce:

1. After do update, 5 min vscode close unexpected
2. Then i running again (look like normal)
2. Then open existing file (in my case golang file)
2. Saving with CTRL+S or via menu

[2020-03-11 09:19] lukaschal commented on #92306
On review.

SRC: In order to use git features, you can open a folder containing a git repository or clone from a URL. [Open Folder](command:vscode.openFolder) [Clone Repository](command:git.clone) To learn more about how to use git and source control in VS Code [read our docs](https://aka.ms/vscode-scm).

TGT: 为了使用 git 功能，可打开包含 git 存储库的文件夹或从 URL 克隆。 [打开文件夹](命令: vscode.openFolder) [克隆存储库](命令: git.c

[2020-03-11 09:20] krainboltgreene opened #92455 "Missing keyboard shortcuts in command palette"
Issue Type: <b>Bug</b>

Many of the cursor/selection commands seem to be missing from the command palette but have shortcuts.

<img width="654" alt="Screen Shot 2020-03-11 at 2 00 38 AM" src="https://user-images.githubusercontent.com/334809/76401020-7b8a3a00-633e-11ea-8fda-2ecc93962d9d.png">
<img width="607" alt="Screen Shot 2020-03-11 at 2 04 22 AM" src="https://user-images.githubusercontent.com/

[2020-03-11 09:20] KyleNee opened #92456 "Resource manager displays files (folders) incorrectly"
Issue Type: <b>Bug</b>

Resource manager displays files (folders) incorrectly

like:
------------------
|test                   |
|  1.txt                |
|  2.txt                |
|  3.txt                |
|  4.txt                |
|                         |
|                         |
|                         |
|                         |
|                         |
------------------
-------

[2020-03-11 09:23] #92453 closed

[2020-03-11 09:24] midou35000 commented on #92098
Alright so apparently the issue was my windows display language.
After changing the language of the system to English all the icons are showing now after opening them.
Maybe this could be a bug submission as well?

![icons](https://user-images.githubusercontent.com/6606027/76401572-62a37800-6382-11ea-9398-e709ffe8f28d.png)

[2020-03-11 09:24] #92456 closed

[2020-03-11 09:26] NonozgYtb commented on #92402
When I closed VSC, it redid the update, I cut the computer and this morning, when I got up my extension worked!
( I live in France)

[2020-03-11 09:26] #92402 closed

[2020-03-11 09:26] bpasero commented on #92274
@FerrariAndrea how long does vscode stay how it is shown in the first screen shot? is vscode loaded from some share or local?

[2020-03-11 09:27] Tyriar commented on #92393
@wolf99 can you give an example of what sort of profiles you use and how they differ (just settings, or extensions too)?

[2020-03-11 09:33] sayan0020 opened #92457 "Creatre a project like any other IDE."
I like to create a project like any other IDE creates in them. Create a project locally or create a project from remote. Right now I have to download or clone the codes locally. Then install a plugin & configure it to sync with the remote server.

In my opinion, this feature should be on VS Code/Insider by deafault. Now, you guys decide which is best.

[2020-03-11 09:33] JennyMet opened #92458 "vscode ext point json not working"
I’ve create a new contribution point like following

[code]
This is how my extension structure look
[code]

This is the launch.json
[code]

I run the ext locally using F5  (extension host)
and when you open the `mant.json` file  the schema is not triggered (not working), when open **the devtools I see the following error:
  ERR No application in the Launch Services database matches the input crite

[2020-03-11 09:33] phihakan commented on #92451
I noticed that the height grows when change the width to be greater,  and gets smaller(height) when you make it the width smaller

[2020-03-11 09:34] FIAPT opened #92459 "Remote SSH uses hostname instead of username"
- VSCode Version: 1.43.0
- OS Client: Windows 10
- Remote: Ubuntu

When upgrading to Remote-SSH Extension Version 0.50.0 from Version 0.49.0 the Extension uses username of the host instead of username of the remote for connecting to remote.

[2020-03-11 09:34] yhvicey commented on #92106
@prashantvc For example there's an internal programming language and I'd like to create an extension for it, however I'm not sure if publishing such extension (which includes syntax parser, language specific binaries and some other internal tools) would violate company compliance.
If there's an internal feed for VSCode users within the company, it'd be great for developing the plugin & get feedbac

[2020-03-11 09:36] mrmckeb commented on #10546
Thanks for the updates @Tyriar. That sounds great - solving all of these issues together makes a lot of sense. If there are any opportunities for user testing, do let us know.

[2020-03-11 09:37] alexander-zolotykh commented on #92451
@phihakan like this https://take.ms/XWZYO?

[2020-03-11 09:39] phihakan commented on #92451
Yes, I think the height is equal to the width of the component. probably a small mess up in the styling

[2020-03-11 09:40] Regzanate commented on #92439
@sanket-bhalerao It was available after downgrading. Thank you.

[2020-03-11 09:41] sanket-bhalerao commented on #92439
great :)

[2020-03-11 09:43] sanket-bhalerao commented on #92459
possible duplicate of #92439

[2020-03-11 09:44] sandy081 commented on #92357
Assigning to @chrisdias, @egamma and @kieferrm.

[2020-03-11 09:48] sanket-bhalerao commented on #92442
/duplicate #92430

[2020-03-11 09:48] inca commented on #38878
Whilst I appreciate the issue is valid and exists, here's a slightly different perspective to the whole story.

I have directories like `node_modules` or all sorts of `out` and `dist` which I never want to see in tree view (they are not sources after all). But also I have files like `.env` which _are_ sources — but it's [recommended](https://www.npmjs.com/package/dotenv#should-i-commit-my-env-file

[2020-03-11 09:49] sanket-bhalerao commented on #92451
/duplicate #92430

[2020-03-11 09:50] Frix-x commented on #92451
I can confirm that I get the same behavior on VSCode Insiders. It looks to be caused by https://github.com/microsoft/vscode/issues/92387 and was fixed a couple hours ago.

Version: 1.44.0-insider (user setup)
Commit: eb4ebee6a3310df8ff5f36f78f209c2658cfcdfc
Date: 2020-03-11T05:33:39.535Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-03-11 09:51] alexr00 commented on #92310
It looks like the current working directory (CWD) that you have doesn't exist. Some ideas to get you started:
- Is "\Custom Program Settings\Projects.Code" a valid path on your system?
- Where might "\Custom Program Settings\Projects.Code" be coming from?
- Is the folder you have open unusual in some way (is it not on your local system for example)?
- Does the problem happen if you disable all ext

[2020-03-11 09:51] #92310 closed

[2020-03-11 10:00] vianneyguesdon commented on #87157
This has been solved in another way with the "close all folder" button introduced in the 1.42.
Great work ! This 1.43 is really good !!

[2020-03-11 10:07] fullenw1 commented on #10546
Not sure this idea has been mentioned, though I've been gone through the whole comments:
We (also) need terminal tabs not because of the look, but because currently all editor tabs are linked to the same terminal.

Currently, if I want to output the run of editors in **another** terminal I have to open a new VS Code console.

Beeing able to link an editor pane to another terminal is especially use

[2020-03-11 10:08] ahdung commented on #84119
@alexdima Thank you very much, but:
![image](https://user-images.githubusercontent.com/12094247/76404948-57703c80-63c2-11ea-8072-9eca5e762d93.png)

I tried restart vscode.
I think your explanation can't explain why just `sql` occurred.

[2020-03-11 10:09] Sendami commented on #92199
Hi Rob,

That's exactly what it's not working. So when I use the keybinding, it's
searching in the folder of my previous search, not in the new one.

I need to do it manually right-clicking with the mouse, to have it working.

Cheers,

El mié., 11 mar. 2020 a las 5:49, Rob Lourens (<notifications@github.com>)
escribió:

--
Sendamí Luque Liñán

[2020-03-11 10:18] nikdiklic opened #92460 "Main window margin"
Issue Type: <b>Bug</b>

Upon updating to 1.43.0, The main window seems a bit off.
The title bar is pushed up and left, and there are black margins on the bottom and right sides.
Please see the screenshot here: https://imgur.com/a/USMPpe4

![screenshot](https://i.imgur.com/TGgzv8G.png)

Thanks

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS vers

[2020-03-11 10:21] mattacosta commented on #92434
Duplicate of #92430 (which just got fixed).

[2020-03-11 10:26] AnthonyB955 opened #92461 "Failed to install Visual Studio Code update."
While checking and installing updates for Visual Studio Code on a Microsoft Windows 10 Version 1909 (OS Build 18636.719), vscode icon disappears and updates do not complete and throw an error with this message:

"Updates may fail due to anti-virus software and/or runaway processes.  Please try restarting your machine before attempting to update again."

I've checked all this and everything is good

[2020-03-11 10:27] GeorgeWL commented on #85592
This worked for me.

[2020-03-11 10:28] pavelloz commented on #86913
I dont know how you did you get that its virtualbox issue, but thats not the case. Kernel panic is clearly pointing to VScode.

[2020-03-11 10:33] ggedde commented on #10546
@Tyriar ,
Along with your notes I would also like to be able to see "Problems" and a "Terminal" window at the same time side by side.  I hope that is also possible.
Thanks

[2020-03-11 10:33] dy55 commented on #92306
---

Thank you so much for the info🤝

The main problem is some words or code should not be translated, but they are done.

The buttons such as `[Open Folder](command: vscode.openFolder)` should be translated to `[打开文件夹](command: vscode.openFolder)` (Just translate words in the square brackets).

In addition, the translator software usually translates English punctuation marks to Chinese ones, but

[2020-03-11 10:37] SharakPL opened #92462 "WebView width is too low"
WebView width is limited to 780px.
![obraz](https://user-images.githubusercontent.com/5007456/76405552-95506f00-6388-11ea-9c33-a821819f49de.png)

It shrinks all images included what makes them barely readable. What's the point of this limit? It should be set to either 100% or more reasonable 1200px, but would be best to manage it through settings.json.

- VSCode Version: 1.43
- OS Version: Windows

[2020-03-11 10:38] manospasj commented on #85592
Although this works and VS Code looks better in the secondary low resolution monitor, it makes text in the primary high resolution monitor blurry.

[2020-03-11 10:39] IllusionMH commented on #92442
/duplicate

Thanks @sanket-bhalerao

[2020-03-11 10:39] #92442 closed

[2020-03-11 10:41] IllusionMH commented on #92460
Wonder if workaround proposed in https://github.com/microsoft/vscode/issues/85592#issuecomment-596416698 helps here

[2020-03-11 10:42] IllusionMH commented on #92440
/duplicate

[2020-03-11 10:42] #92440 closed

[2020-03-11 10:46] IllusionMH commented on #92435
You already can access history in Find in files and Find (in editor) with <kbd>Alt</kbd>+<kbd>↑</kbd>/ <kbd>↓</kbd> (however usually simple <kbd>↑</kbd> and <kbd>↓</kbd> works)
No dropdown though

[2020-03-11 10:47] IllusionMH commented on #92435
/duplicate of #23099

[2020-03-11 10:47] #92435 closed

[2020-03-11 10:49] thw0rted commented on #92358
I had a pending update, on restart I now see the X on `Open Recent...`.  That gets it down to one (`Go To File...`) but unfortunately that's the one I actually use all the time.

[2020-03-11 10:50] bpasero commented on #92358
/duplicate https://github.com/microsoft/vscode/issues/84271

[2020-03-11 10:51] nikdiklic commented on #92460
Yes, it fixes the margins.
Thanks

[2020-03-11 10:55] IllusionMH commented on #92419
/needsMoreInfo

Do you have a screenshot?

What language are you using? If it's JS/TS then please check if its same as #92308

[2020-03-11 10:55] 0x0006e commented on #13953
any news

[2020-03-11 10:56] rickstaa opened #92463 "Left sidebar panes are not scaling correctly"
Issue Type: <b>Bug</b>

The results of a `search in file` search (linux: ctrl + shift + F)` are not rendered correctly. The results field doesn't use all possible space (See gif). Behaviour also appears with all extensions disabled.

![search panel not maximized](https://user-images.githubusercontent.com/17570430/76410127-b8cae800-638f-11ea-8158-a4eb34091260.gif)

VS Code version: Code - Insiders

[2020-03-11 10:58] PayShop opened #92464 "Slow startup"
## System Info

* Code: 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a)
* OS: win32(10.0.18362)
* CPUs: Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz(8 x 1992)
* Memory(System): 7.85 GB(1.20GB free)
* Memory(Process): 226.94 MB working set(205.30MB private, 0.52MB shared)
* VM(likelyhood): 0%
* Initial Startup: true
* Has 0 other windows
* Screen Reader Active: false
* Empty Workspace: true

## Perfo

[2020-03-11 10:58] mattacosta commented on #92308
@joshuaiz The release notes always contain a "Preview features" section for exactly this purpose. Here is the relevant section from last month: [Semantic highlighting for TypeScript & JavaScript](https://code.visualstudio.com/updates/v1_42#_semantic-highlighting-for-typescript-javascript). Additionally, everything being worked on is listed on the current month's pinned iteration plan, and for comp

[2020-03-11 11:00] shivprasad94 opened #92465 "VS Code : Sign In Error :You appear to be offline. Please check your network connection"
VS Code : Sign In Error :You appear to be offline. Please check your network connection
![image](https://user-images.githubusercontent.com/13836633/76410374-ce530880-63b5-11ea-96e2-1abd0994a1f1.png)

[2020-03-11 11:01] 0x0006e commented on #13953
good job~

[2020-03-11 11:03] IllusionMH commented on #92460
/cc @deepak1556

[2020-03-11 11:04] IllusionMH commented on #92434
/duplicate

Thanks @mattacosta

[2020-03-11 11:04] #92434 closed

[2020-03-11 11:04] IllusionMH commented on #92451
/duplicate

[2020-03-11 11:05] #92451 closed

[2020-03-11 11:12] MythicalFish commented on #92443
I'm having the same issue on Mac.
Clicking "Replace all" opens up the new Search Editor, but with none of the results replaced.
I'm able to edit the results but I can't save or apply.

[2020-03-11 11:13] furai commented on #92463
I'm getting same issue but with all the panes in on the left. They are all cutting off midway. Seems like the height of the pane with search/files is set to whatever is the current width of the pane right now.

[2020-03-11 11:17] sanket-bhalerao commented on #92423
Have you reloaded the window once the downgrade is completed?

On Wed, 11 Mar, 2020, 12:14 Dhairya Nadapara, <notifications@github.com>
wrote:

[2020-03-11 11:18] RobertLuo123 opened #92466 "Cannot access remote server"
Issue Type: <b>Bug</b>

keep asking for password

VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-3770 CPU @ 3.40GHz (8 x 3392)|
|GPU Status|2d_canvas: unavailable_software<br>flash_3d: disabled_software<br>flash_stage3d:

[2020-03-11 11:25] aeschli opened #92467 "No longer restore backuped folders and workspaces"
Followup for #92318

Due to a bug in 1.32 we haven't been restoring the windows for back-up'ed folders. No one complained until we enabled it again for 1.43 as restoring caused trouble for users that have a large number of back-up'ed folders. We suspect they use the setting `"files.hotExit": "onExitAndWindowClose"`. They are never forced to save their unsaved files and therefore end up with large

[2020-03-11 11:28] weinand commented on #92380
With the fix an error alert is shown:

![2020-03-11_12-25-59](https://user-images.githubusercontent.com/1898161/76412408-da2dd300-6393-11ea-8767-88b585ad7d80.png)

[2020-03-11 11:31] Tyriar commented on #10546
@fullenw1 interesting idea I hadn't heard of yet, thanks!

@ggedde we're actively discussing how this would work in UX meetings.

[2020-03-11 11:34] christianalfoni opened #92469 "semanticHighlighting: Support numbers in "constant" properties"
With the following code:

[code]

We get the following behaviour with the `semanticHighlighting` highlighting:

[code]

I would expect **colors.RED_500** to be highlighted just like the two other properties.

This could maybe be considered a bug, but it could also be considered a lacking feature 😄

[2020-03-11 11:38] MooseTheCoder opened #92470 "Minimap shows like static and sometimes out of place"
- VSCode Version: 1.43
- OS Version: Ubuntu 18.04.4 LTS

![MapIssue](https://user-images.githubusercontent.com/16779909/76412832-3f7dc600-638c-11ea-8c22-6624a2cf9f26.png)

Steps to Reproduce:

1. Open a file with a large Minimap
2. Lock the computer w/ `Ctrl+L`
3. Wait a short time
4. Unlock the machine to Vscode

At this point, the Minimap will display like static (see attached screenshot), and s

[2020-03-11 11:38] bpasero commented on #92467
👍

//cc @Tyriar

[2020-03-11 11:39] alexdima commented on #90915
Ok, I can now reproduce when using `"editor.fontLigatures": true`. This is what is going on:
* the font is identified by VS Code as being monospace.
* when leaving `"editor.fontLigatures": false` (the default), VS Code can make some monospace assumptions. So it will assume that the offset of character 112 is 112 times the character width. This assumption works across all lines and the cursors are

[2020-03-11 11:41] #90915 closed

[2020-03-11 11:41] alexdima commented on #90915
Complete settings to reproduce:
[code]

[2020-03-11 11:42] aeschli commented on #92302
Fixed by https://github.com/microsoft/vscode/commit/785eb0872a97f18775ca294fe2a4e4e35fc6a10e

[2020-03-11 11:42] #92302 closed

[2020-03-11 11:47] rickstaa commented on #92463
@furai Ah thanks a lot for pointing that out. I didn't notice the other panes being off. I updated the title.

[2020-03-11 11:49] isidorn commented on #91061
@ajborka you are talking about the settings, that is a special implementation of the list. Can you please file a new issue and ping me on it, thank you. In the meantime as a workaround you can usee the settings in json via `F1 > Preferences: Open Settings (JSON)`. @joanmarie just uses latest insiders bulid like you, but she is talking about the Explorer tree and you are talking about Settings (whi

[2020-03-11 11:49] aeschli commented on #92319
Relaxed JSON looks great but we currently have no plans of supporting another JSON flavor. We do so for JSON with comments as it's what we use in our settings files.

[2020-03-11 11:50] ChiefORZ opened #92471 ""Running Save Participants""
![image](https://user-images.githubusercontent.com/6916518/76413556-f599dd80-6395-11ea-91c0-84bd3988dc8a.png)

vsocde is trying to execute `ESLint` in my `.sh` files in an endless loop.

it is not definied in any config file that he should format it with eslint^^

[code]

[2020-03-11 11:50] #92319 closed

[2020-03-11 11:50] isidorn commented on #86905
Yes this works just fine now. Thanks a lot!

[2020-03-11 11:50] #86905 closed

[2020-03-11 11:51] IljaDaderko opened #92472 "[BUG] css language server fails to parse scss file that has "using" option alongside @inclue"
- VSCode Version: 1.43.0
- OS Version: macOS 10.15.3

Steps to Reproduce:
1. Create following scss mixin in your `_mixins` file or anywhere else
[code]
2. Use this mixing in any other scss file like so
[code]

scss continues to compile and work as expected, however vscode css-language-server now always throws following error:
[code]

Does this issue occur when all extensions are disabled?: Yes

[2020-03-11 11:52] HikaruEgashira opened #92473 "trimmed end whitespace when create new file"
## specification

[code]

## current

![image](https://user-images.githubusercontent.com/39324739/76413211-5d711800-63d8-11ea-964f-41484b4f9ae9.png)
type: `mian.yml `←exist whitespace

![image](https://user-images.githubusercontent.com/39324739/76413227-6661e980-63d8-11ea-925f-8bc548a72831.png)
filename: `main.yml `←exist whitespace

## expect

![image](https://user-images.githubusercontent.com/39