[2016-04-18 15:00] Heather commented on #5331
@dbaeumer @lucaslra not currently it's complicated for me, maybe later, but it's just the button which hides menu bar in version 1.0 in Russian, shouldn't be hard to find thought

[2016-04-18 15:03] lukaschal commented on #5405
Fixed.

File: src\vs\languages\less\common\less.contribution.nls.resx
ID: ".resx", 0; "lessLint"
SRC: Controls LESS validation and problem severities.
TGT: Contrôle la validation LESS et la gravité des problèmes.

File: src\vs\languages\sass\common\sass.contribution.nls.resx
ID: src\vs\languages\sass\common\sass.contribution.nls.resx
SRC: Controls Sass validation and problem severities.
TGT: Contr

[2016-04-18 15:04] #5405 closed

[2016-04-18 15:07] bpasero commented on #5283
Sounds good to me.

[2016-04-18 15:08] bpasero commented on #5440
#tabs

[2016-04-18 15:08] #5440 closed

[2016-04-18 15:18] dbaeumer commented on #5453
You can only build the OSS version of code using gulp vscode-win32 (or other platforms). There is no public command to build the identical MS VS Code version due to product specific settings.

@chrisdias can you provide more details?

[2016-04-18 15:20] dbaeumer commented on #5452
This is TS related. Moving...

[2016-04-18 15:21] jbsulli commented on #5356
Just editing the file. I created a new project and it seems to not be happening. I have a pretty large Node.js project that it happens consistently. I'm going to see if I can track down any files or settings that trigger it and get back to you guys.

[2016-04-18 15:21] dbaeumer commented on #5452
This issue was moved to Microsoft/TypeScript#8146

[2016-04-18 15:21] #5452 closed

[2016-04-18 15:23] dbaeumer commented on #5450
Dups #4679

[2016-04-18 15:23] #5450 closed

[2016-04-18 15:23] dbaeumer commented on #5449
Moving to TS.

[2016-04-18 15:25] outcoldman commented on #5453
What about publicly available Nightly builds?

[2016-04-18 15:25] dbaeumer commented on #5449
This issue was moved to Microsoft/TypeScript#8147

[2016-04-18 15:25] #5449 closed

[2016-04-18 15:30] dbaeumer commented on #5451
The task service uses the config service to react to changes to the tasks.json file. The config service relies on file events.

@bpasero are you aware of any problem with FS events and mapped network drive. I had the experience that this worked

[2016-04-18 15:31] alefragnani opened #5454 "Message service should show a little more"
When you use `vscode.window.showErrorMessage` (_Information_ and _Warning_ too), the message that is displayed is _limited_ to one line with a certain length.

It would be good to have a way to _expand_ the message (maybe like the _Read more_ available in Intellisense), showing the entire content.

Thanks in advance

[2016-04-18 15:35] outcoldman commented on #5453
Also does `gulp vscode-win32` produces actually a package, like "OSS Version Code.app" or just set of files which I need to package inside Electron on my own?

@dbaeumer why have you closed this issue? My question has not been answered yet.

[2016-04-18 15:49] isidorn commented on #5356
@jbsulli great, a small reproducable sample would be great

Unassigning myself since it is not debug, but editing.

[2016-04-18 15:50] alefragnani opened #5455 "OnClick event on Gutter"
How could I handle `OnClick` events on _Gutter_, similar to how _breakpoints_ does?

The intention was to connect it with a _decorator_ (previously created with `vscode.window.createTextEditorDecorationType`) so the user should _Click_ on the Gutter and create/destroy the decorator assigned to the line where the user clicked.

Thanks in advance

[2016-04-18 15:54] stephenmartindale commented on #224
The team and the people in charge really need to make one simple decision: **is VS Code a Human-Computer-Interaction experiment or is it supposed to be a solid, usable IDE** that _gives developers what they want?_ If the former, that's OK. Personally, I'll stop bothering and move elsewhere because I want to get my work done, not be part of a HCI experiment, but I'm sure that their experiment will

[2016-04-18 15:57] outcoldman commented on #5453
Ok, I have found that `gulp vscode-darwin` outputs `VSCode-darwin/` outside of the source folder (which is not great), but understandable. Please document these steps.

[2016-04-18 15:59] stephenmartindale commented on #224
@Tyriar: I tried your `autoReveal` setting in v.1.0.0-insider and it did nothing for me, either. The explorer still jumps about when I don't want it to - most irritatingly, when it scrolls completely to a different place when I use go-to-definition and that opens another file.

This is what I put in my preferences file:  `"explorer.autoReveal": false,`

[2016-04-18 15:59] Tyriar commented on #224
@anyong @stephenmartindale you're right, I didn't realize how new this setting was. It should be available on the next Insiders build.

[2016-04-18 16:04] af4jm commented on #224
Well said @stephenmartindale. Without tabs all we have is notepad.exe with its own version of Alt-Tab (which as noted many time above, is broken).  I've been trying to use "Working Files" as if they were side tabs, but after a week I'm pretty much ready to go back to Sublime and it's issues, particularly that there's no way to make that sidebar always be there no matter what else is going on in th

[2016-04-18 16:04] Tyriar commented on #5379
@biij5698 you should be able to launch from the terminal on all platforms:

- On Windows you need to check add code to PATH in the installer
- On Linux you need to install via a .deb or .rpm package (or setup a symlink manually)
- On Mac you need to install the command to PATH via the command palette (<kbd>F1</kbd>) from within the editor.

[2016-04-18 16:09] jbsulli commented on #5356
Doh... after poking around it looks like I must have originally mistyped the "--disable-extensions" flag as doing it this time fixed the issue. Launched Code again and uninstalled the "jshint" extension and that fixed the issue. So it looks like the issue is with their extension. Sorry for wasting your time.

[2016-04-18 16:09] #5356 closed

[2016-04-18 16:11] isidorn commented on #5356
Np, glad we got to the bottom of the issue.

[2016-04-18 16:16] abdullam commented on #2553
I am having the same problem. Breakpoint not hit although they are red filled and show up under the "BREAKPOINTS" list.
`{
	"version": "0.2.0",
	"configurations": [
		{
			"name": "Launch",
			"type": "node",
			"request": "launch",
			"program": "${workspaceRoot}/app.js",
			"stopOnEntry": false,
			"args": [],
			"cwd": "${workspaceRoot}",
			"preLaunchTask": null,
			"runtimeExecutable": null,

[2016-04-18 16:18] bpasero commented on #5356
Cool

[2016-04-18 16:22] abdullam commented on #2553
if I change the "stopOnEntry" property to "true" inside launch.json
then it stops at the start of the program. And I can step thru my code. However, if I hit run it runs to the end without stopping at any of the breakpoints.

[2016-04-18 16:30] edumunoz commented on #5364
The C++ extension does not include a `totalFrames` attribute in the `StackTraceResponse`.

Let me know if there is an easy way to turn on logging on the messages sent and received by VSCode to the debug adapter.

[2016-04-18 16:32] JVimes commented on #4039
No point in arguing text editor vs IDE (VSCode's selling points include features of both). Thin and popular features go into the base product, heavy or niche features into extensions.

Correct indentation on paste and formatting support for more languages are obvious candidates for base product.

[2016-04-18 16:33] Heather commented on #5331
![default](https://cloud.githubusercontent.com/assets/2656965/14611739/d346f9be-05a4-11e6-9d7a-76d24dd567be.JPG)

[2016-04-18 17:00] weinand commented on #2553
@abdullam what version of node and VSCode are you using? What OS?

[2016-04-18 17:04] bialix commented on #4170
Can I have English, please?

[2016-04-18 17:06] oriSomething opened #5456 "adding support for a custom `node path` or setting version with NVM"
adding support for a custom `node path` or setting version with `NVM`. currently it only works with default alias of `NVM`. since the workspace i'm using it would be a hassle every time to change the default alias of `NVM` for every project.

- VSCode Version:
1.0.0
- OS Version:
OS X 10.10.5

[2016-04-18 17:21] akq commented on #5295
@dbaeumer Thanks for your quick response.
I can reproduce this bug, and I know the cause after reading the source code. But I haven't set up the debugging environment yet, so hopefully you can easily resolve it.

1. My previous version is 0.10.11, its UI is English by default. In this version, there is no `Configure Language ` command, and no locale.json as well. To reproduce this issue, **remove

[2016-04-18 17:41] bpasero opened #5457 "TypeError: Cannot read property 'startLineNumber' of null"
- VSCode Version: 1.0.0-alpha
- OS Version: Mac OS X 10.11

Found this in the logs while navigating between files, not sure how it got triggered:

[code]

[2016-04-18 17:48] Tyriar opened #5458 "Build and distribute Snappy packages"
Ubuntu 16.04 is going to include a new type of package that installs the application in a more isolated manner.
- https://developer.ubuntu.com/en/desktop/
- https://developer.ubuntu.com/en/snappy/#tour
- http://www.pcworld.com/article/3056668/linux/ubuntu-1604-will-support-snaps-alongside-deb-packages-for-improved-software-installation.html

[2016-04-18 17:50] bpasero commented on #5433
The only place I found a ".ignore" is in https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/comment/common/lineCommentCommand.ts#L139

Moving to @alexandrudima thereby, though I am not sure if this is really being hit.

@T0toro
Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions`

[2016-04-18 17:52] bpasero commented on #5437
Please use `workbench.action.files.openFileFolder` on Mac !

[2016-04-18 17:52] #5437 closed

[2016-04-18 17:53] SturmB commented on #224
As most of the previous 259 comments have stated, I would very much like to see tabs in VS Code, similar to how they operate in Sublime Text. I, too, would gladly switch if it weren't for this one missing feature. As strange as it sounds, I do need the ability to have at least four documents open in the same window so I can switch between them rapidly.

Oh, and if Microsoft doesn't want VS Code to

[2016-04-18 17:55] bpasero commented on #3132
Updating to reflect the issue exists for tasks as well.

[2016-04-18 17:55] bpasero commented on #5451
@adamzerok can you check if any file event occurs from the mapped drive? I would assume this does not apply just for tasks.json but any other file as well.

Otherwise I am merging this into https://github.com/Microsoft/vscode/issues/3132

[2016-04-18 17:55] #5451 closed

[2016-04-18 17:58] bpasero commented on #5260
@be5invis just curios, our rules seem to be this:

`font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback"`

Does it already work better if you remove the last rule so that `sans-serif` becomes the fallback:

`font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif`

[2016-04-18 17:59] bpasero commented on #5003
@egamma if I had to guess, I would think this is our "reg.exe" spawning on Windows to find out the machine identifier for telemetry.

[2016-04-18 18:05] be5invis commented on #5260
@bpasero

No.
`Droid Sans Fallback` is Android-only, so on Windows and OS X the rule is identical to `font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif`.

My suggestion is:

* For `zh-CN` : `font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans SC", sans-serif`
*

[2016-04-18 18:32] eyalsk commented on #224
@SturmB Sublime is not the only editor that exists and I don't think they made VSCode to be yet another Sublime copycat, much like Atom isn't Sublime but all editors are sharing features which is a good thing, that's how you get choices!

VSCode isn't acting like Sublime at all because they are very different, VSCode aims to be the middle ground between a code editor and an IDE whereas Sublime doe

[2016-04-18 18:36] adamzerok commented on #5451
Events are seen when the tasks.json or any other file are changed.  There is no problem with file creation, editing or saving.

Changes to the script are applied when it is run with ctrl-shft-B

However, the updated tasks.json just isn't being used. It uses the copy present when VS Code launches.  If i make a change to tasks.json it isn't used unless i restart VS Code.

[2016-04-18 18:51] d4rkb1ue opened #5459 "Support goto symbol for markdown files"
- VSCode Version: 1.0.0
- OS Version: os x 10.11.4

Steps to Reproduce:

1.open a markdown file like this:

[code]

2.press "shift+cmd+o" to open Goto Symbol feature "@"

always says: "we have no symbol information for this file."

[2016-04-18 19:03] helmbold commented on #224
I like the working files concept. Tabs don't scale well when many files are open. Whatever happens, please keep the working files control!

[2016-04-18 19:07] joeaudette commented on #3451
@roterdam I'm facing this problem with vscode 1.0.0 on ubuntu 14.4 LTS but when I try to edit the file as you indicated with vi, it says pattern not found

[2016-04-18 19:15] dbaeumer commented on #5456
@oriSomething can you please describe the use case? Doyou need this for debugging ?

[2016-04-18 19:17] dbaeumer commented on #5454
@jrieken +1. I have a use case for this as well.

[2016-04-18 19:32] oriSomething commented on #5456
yes.
i'm trying to debug... but then i get the wrong node version. because in my computer i need by default to use older version (v0.12.x) of node (need of most of the projects), and this specific project depends on capabilities of node >= v4.
in the debugger i see messages of version 0.12.13 while i need it to be version 4. the only option i have is to change in NVM to default "alias" of the vers

[2016-04-18 20:21] egamma commented on #5273
@NikosEfthias FYI the issue got moved to the TypeScript repository, where it is open. It got closed in this repository.

[2016-04-18 20:23] dbaeumer commented on #4433
The html lang part is covered by #3841 for which I created a PR
The font part is in length discussed in #5260

I therefore close this one.

[2016-04-18 20:23] #4433 closed

[2016-04-18 20:26] joeaudette commented on #3451
for anyone else encountering this, I worked around this problem by uninstalling xrdp and installing tigervnc on my ubuntu box, then I installed tightvnc viewer on my windows 10 box and now when I remote in vscode works for me. rdp seems a little nicer to me than vnc so hoping maybe when ubuntu 16 LTS comes out I can change back to rdp

[2016-04-18 20:26] bpasero commented on #5451
@adamzerok ok this will be covered when we work on #3132

[2016-04-18 20:27] bpasero commented on #5260
Thanks much, I can apply these rules and people will have a chance to verify these improvements from our next insider build later this week.

[2016-04-18 20:28] weinand commented on #5456
@oriSomething you can set the "runtimeExecutable" of your launch config to the desired node.js version.

[2016-04-18 20:28] #5456 closed

[2016-04-18 20:57] Tyriar commented on #4478
#3495 fixes this issue, thanks again @pflannery

[2016-04-18 21:00] Tyriar opened #5461 "Test: "Open in Terminal" not working on Fedora"
Test plan for #4478

- [x] Fedora @aeschli

### Basic test case

1. Open a folder
2. Right click a folder in the explorer
3. Select open in terminal

[2016-04-18 21:03] Tyriar opened #5462 "Support custom terminal launch settings on OS X"
Linux and Windows support was added in https://github.com/Microsoft/vscode/pull/3495

[2016-04-18 21:04] #5079 closed

[2016-04-18 21:04] #5242 closed

[2016-04-18 21:04] #5247 closed

[2016-04-18 21:05] bpasero commented on #4862
We decided today in our UX meeting that we will keep the behavior of closing files when they get deleted. We might revisit this in the future but for now this is as it is.

[2016-04-18 21:05] #4862 closed

[2016-04-18 21:14] joaomoreno commented on #5444
I don't think automatically staging anything is the correct behaviour for a tool such as Code. You might be correct that those are the *chances* but in the cases that they are not, Code would be doing the wrong thing unsolicited. This clashes especially with advanced git users that have expectations as to when and how their changes might be staged or otherwise.

I do see you have an specific workf

[2016-04-18 21:14] #5444 closed

[2016-04-18 21:17] Tyriar opened #5463 "Test: Custom terminal launch settings"
Test plan for #3495 #597

- [x] Windows @bgashler1
- [x] Ubuntu @joaomoreno
- [x] Fedora @joaomoreno

### Windows test case

**Default**

1. Right click a folder in the file explorer and ensure it launches a terminal with the default settings

**COMSPEC environment variable https://github.com/Microsoft/vscode/issues/597**

1. Install the [TCC/LE cmd replacement](https://jpsoft.com/tccle-cmd-replac

[2016-04-18 21:17] #597 closed

[2016-04-18 21:17] Wenzil commented on #5213
@weinand Any update on this?

[2016-04-18 21:23] weinand commented on #5213
@Wenzil as I said this is native node.js behaviour. Working around this would be a new VS Code feature that takes some time to plan and implement (and I'm currently on vacation). What do you see when using node-inspector?

[2016-04-18 21:25] Wenzil commented on #5213
Will let you know when I get home

[2016-04-18 21:43] abhinav-shah commented on #4931
here you go -

➜  vscode git:(master) scripts/code.sh --verbose
[14:42:43] Using gulpfile ~/Downloads/vscode/gulpfile.js
[14:42:43] Starting 'electron'...
[14:42:43] Finished 'electron' after 447 μs
{ [Error: ENOENT: no such file or directory, open '/Users/abhishah/Library/Application Support/Code-Development/storage.json']
  errno: -2,
  code: 'ENOENT',
  syscall: 'open',
  path: '/Users/abhishah

[2016-04-18 22:18] edumunoz commented on #4623
@weinand It doesn't seem that way. The `DebugService` only updates the model with new threads when receiving a `ThreadEvent` (via a call to `rawUpdate`).

If a `started` `ThreadEvent` wasn't received for a specific thread, a `StoppedEvent` for that thread will cause that thread not to show in the `CallStack` viewlet, since it won't be in stored in the debug model.

[2016-04-18 22:30] bpasero commented on #4931
Can you see if /Users/abhishah/Library/Application Support/Code-Development exists with user permissions to write to it or otherwise create this?

[2016-04-18 22:32] jcramirez commented on #5459
Is this also not working for Python??

[2016-04-18 22:44] weinand commented on #4623
@isidorn please make sure that the DebugService works the way it is documented in http://code.visualstudio.com/docs/extensionAPI/api-debugging: "Whenever VS Code receives a stopped or a thread event, VS Code requests all threads that exist at that point in time and displays them if there are more than one. If only one thread is detected, the VS Code UI stays in single thread mode. Thread events ar

[2016-04-18 23:04] anyong commented on #224
@helmbold I am genuinely curious - *how* do you use them efficiently? I've *tried* and I just cant figure out how to make sense of the mess that is WF. (Also, somewhere way up in this issue, the team said that working files was really just an afterthought, not a planned feature.)

[2016-04-18 23:18] anyong commented on #224
@eyalsk:

Pretty much everyone here has said they hope the tabs will be controlled by a setting for exactly this reason. That being said, while some software during early iterations of tabs years ago wasn't very nice to use, these days it's usually pretty good. Code has Sublime, Atom, and non-editors like browsers to look to for making tabs "right."

One feature I'd like to see that I haven't seen

[2016-04-18 23:27] abhinav-shah commented on #4931
I created a file "storage.json" under  /Users/abhishah/Library/Application Support/Code-Development.

The contents of storage.json are {}.

Now when I run code.sh i get the following:

➜  vscode git:(master) scripts/code.sh --verbose
[16:25:01] Using gulpfile ~/Downloads/vscode/gulpfile.js
[16:25:01] Starting 'electron'...
[16:25:01] Finished 'electron' after 461 μs

However, I still don't get the

[2016-04-18 23:45] gregvanl opened #5464 "Text selection performance is poor on 1.0 alpha"
- VSCode Version: 1.0.0-alpha
- OS Version:Windows 10

Steps to Reproduce:
1. Open vscode-docs vnext branch in VS Code and open the vMarch.md file.
2. Go to the Downloads: section which has 8 links for the various VS Code platform flavors.
3. Select some text with the mouse from the first line.  - seems fine
4. Select some text with the mouse from the last line (ex. 32 bit .rpm link) - really slow

[2016-04-18 23:55] coe-jeubanks commented on #5355
Respectfully, I believe this is still an issue that should be looked at, specifically in the portion of code that processes snippets. I checked my settings for "editor.detectIndentation", and here's what I found:

if "editor.detectIndentation" is set to true, and the document uses tabs for indentation:
All "\t" characters in a snippet are translated to tab characters in the document. (correct)

if

[2016-04-18 23:58] chrisdias commented on #5283
eventually we will use:

http://go.microsoft.com/fwlink/?LinkId=786907?lang=XX

[2016-04-19 00:09] abdullam commented on #2553
Windows 7
Node js : v4.4.3
![image](https://cloud.githubusercontent.com/assets/13737944/14623550/2fc2db12-05a1-11e6-8fde-056dce959ed7.png)

just curious why the Node version says 4.1.1 on the "about" window of VS code

[2016-04-19 01:04] eyalsk commented on #224
@anyong sure! adding options isn't a problem at all, I mean the problem starts when you're asking yourself what options are redundant and what options are actually useful, programs that were designed with tabs in mind from the get go have it really easy for multiple reasons but mainly because tabs isn't an afterthought, also, it's not possible to compare one editor to another or even to another pr

[2016-04-19 01:29] cnwarden commented on #224
:+1:

[2016-04-19 01:41] johnliu2016 commented on #5439
Thanks for the s/s, @GoBijan is this Git panel resizable by user?

[2016-04-19 02:11] OneOfOne commented on #5464
Why are you reporting a bug on an alpha release that you said doesn't happen on the stable release?

[2016-04-19 02:14] anyong opened #5465 "ES6 generator syntax highlighting (generator name and `yield` keyword)"
- VSCode Version: 1.0.0-insider
- OS Version: Win 10

Steps to Reproduce:

1. Write a generator function
2. The name and yield keywords don't get highlighted

VS Code:

![image](https://cloud.githubusercontent.com/assets/6260469/14625630/42e25bca-0617-11e6-82f2-0ab08f8aa2b5.png)

Expected result (from Sublime Text):

![image](https://cloud.githubusercontent.com/assets/6260469/14625642/6aa68744-061

[2016-04-19 02:18] alexblair opened #5466 "Can not Replace Enter or New Line"
- VSCode Version:1.0
- OS Version:windows 10 (1511)

Steps to Reproduce:

1. open New File.

2.Ctrl+H

3. USE \n

4.can not find ENTER OR newline

![image](https://cloud.githubusercontent.com/assets/4616320/14625698/f3c8f7fa-0617-11e6-96a5-0d5bc9247556.png)

[2016-04-19 02:30] spywhere commented on #5441
I think this issue is related to #5386 ?

[2016-04-19 03:29] chwentao opened #5467 "Resize find widget"
- VSCode Version:1.0.0
- OS Version:win7

as the title said, when find message long,we need change the search form bigger,
but vscode can't as so far.

[2016-04-19 03:29] chwentao commented on #5467
fox example the picture.
![qq 20160419111710](https://cloud.githubusercontent.com/assets/13378254/14626882/02210f9a-0622-11e6-948d-027168bd9ca4.png)

[2016-04-19 03:40] Thojad opened #5468 "HTML error comment with Key Binding"
- VSCode Version: 1.0.0
- OS Version: Linux Mint 17.3 cinnamon 64-bit

Steps to Reproduce:

1. I use key binding Ctrl+Shift+A or Ctrl+}
2. The result is that on HTML the comment line looks like this:

![captura de pantalla de 2016-04-18 22 36 46](https://cloud.githubusercontent.com/assets/11011637/14627021/142816e6-05b6-11e6-8be1-82480bd2803e.png)

As you can see the coment line is {# my comment#}

[2016-04-19 03:49] transtone opened #5469 "Spacemacs(evil) Style Key binding"
the key bindings is the last thing I hate vscode. the vim/emacs extentions can't work as expected.

[2016-04-19 04:02] siamore commented on #127
+1

[2016-04-19 04:44] thamathar opened #5470 "PHP PDO ?! Not showing on intellisense"
- VSCode Version: 1.0.0
- OS Version: Windows 10 Pro

Steps to Reproduce:
1. Trying to call the PDO class, for example PDOException, after I type the D the Intellisense doesn't show anything more, and it should show the PDO class

[2016-04-19 05:00] owtotwo commented on #5411
It dizzied me...but I do not want to give up the vscode... it is a nice application for developers...

[2016-04-19 05:40] bpasero commented on #4931
Ok, seems unrelated then. Though I wonder why this file could not be created in the first place. Are you running Code with a different user account or permissions?

[2016-04-19 05:47] juol opened #5471 "File association for bash_profile not working"
- VSCode Version: 1.0
- OS Version: OS X Yosemite

Steps to Reproduce:

`files.associations {
    "*bash_profile": "sh"
}`

[2016-04-19 05:52] kumarharsh commented on #4974
Don't *even* count node_modules! :stuck_out_tongue:

[2016-04-19 06:03] JCaraballo113 opened #5472 "jsconfig not working for ES6"
- VSCode Version: 1.0
- OS Version: Win10

Steps to Reproduce:

1. Open any javascript project
2. Use any ES6 feature such as: () =>

It tells you to use ES6 which I already set up in my jsconfig.json but it still shows errors when using es6 code such as const

I have tried resetting vscode multiple times.

[2016-04-19 06:09] bpasero commented on #4679
Pushed a change that introduces a new keyword property for workbench and editor actions. Command palette filters on either the action label (translated) or these keywords (english) to show results. We do not show the keywords in the UI anywhere. Feedback (in our next insider build) is welcome.

[2016-04-19 06:10] sswangifly opened #5473 "vscode 1.0 can't auto detect charset"
- VSCode Version:1.0
- OS Version:windows 10

Steps to Reproduce:

1. open GB2312 /ASCI charset file with vscode
2. vscode open file with utf8 charsset and chinese characters are not displayed properly

[2016-04-19 06:12] bpasero commented on #5471
@juol I cannot reproduce. does it not work after a restart even?

[2016-04-19 06:14] Treri commented on #4679
vote for above

[2016-04-19 06:15] Timmmm commented on #5441
Ah yeah that is the same issue.

[2016-04-19 06:15] #5441 closed

[2016-04-19 06:19] hristokkanchev commented on #670
Almost every PHP developer will need this feature in order to pick VSCode as their primary editor.

We need this issue to be fixed in order to target more developers.

Yesterday I tried bumping my head against this problem but unfortunately my lack of TypeScript skills are holding me back to help you on this issue.

[2016-04-19 06:24] bpasero commented on #4679
@chrisdias @stevencl @bgashler1 what do you suggest? should we show the keywords after each command maybe only for some languages?

[2016-04-19 06:26] juol commented on #5471
Ok, works on opening code from command line in a directory:
`code .`

But not from command line when opening file directly:

`code .bash_profile`

[2016-04-19 06:32] matthiasg commented on #703
Same issue here. In one project it works in another (was a copy of the first) it doesnt. Same content in jsconfig.json. Typings are underlined though.

[2016-04-19 06:40] Treri commented on #4679
To everyone

For now, I didn't even know why should we **must** locallize all commands? I think the command should be **accurate english**, so we can know what we should input without changing IME.
If we want to add localized description, we can show localized desc after the accurate command.
rather than now, the command is localized, and the description is a little fuzzy compare to the real comma

[2016-04-19 06:51] spywhere commented on #5277
I think this also a dup of #747.

[2016-04-19 07:00] espresso3389 commented on #5260
@be5invis,

For `ja`, `"Hiragino Kaku Gothic Pro"` seems better than `"Hiragino Kaku Gothic"`.
At least, I cannot find web sites using `"Hiragino Kaku Gothic"`.

[2016-04-19 07:00] bpasero commented on #5471
Also works for me. Are you sure you are not mixing insiders release with stable release maybe and the setting only applies to the insiders?

[2016-04-19 07:17] dbaeumer opened #5474 "Garbage collector end point missing under Windows"
- VSCode Version: 1.0.0 - alpha
- OS Version: Windows 10

Steps to Reproduce:

1.  From time to time when I start Code Alpha I see the following dialog. Started after Electron upgrade

![capture](https://cloud.githubusercontent.com/assets/1931590/14630681/77ca594e-060f-11e6-890b-d5305b288806.png)

[2016-04-19 07:20] Vishal-Isharani opened #5475 "File Converted Into Either Binary Or Unsupported Text Encoding"
- VSCode Version:1.0.0
- OS Version:Windows 10

Steps to Reproduce:

1.Current Unsaved File
2. Either System Restart Or Crash Or Electricity Problem The File Converted To Binary Or Unsupported Text Encodding
![vscode issue](https://cloud.githubusercontent.com/assets/10386581/14630746/2e515e3e-062d-11e6-9f75-462ee7b42fc7.jpg)

[2016-04-19 07:21] #5439 closed

[2016-04-19 07:21] joaomoreno commented on #5439
It is. I've also added a `title` attribute, so the user will get the full information on hover.

[2016-04-19 07:22] juol commented on #5471
Using 1.0.0,

`"Vagrantfile": "ruby"`

works fine, so the new setting is there.

I don't have a shebang at the top of my `.bash_profile` as it is sourced and not executable. That's why I'm trying to do this. Still not working on my box.

[2016-04-19 07:23] GoBijan commented on #5439
Thx guys! You're doing an awesome job with VSCode :) 👍

[2016-04-19 07:29] bpasero commented on #5474
@dbaeumer I cannot reproduce though, do you maybe have a broken installation?

[2016-04-19 07:37] dbaeumer commented on #5472
This works for me without any problems:

![capture](https://cloud.githubusercontent.com/assets/1931590/14631152/508c9290-0612-11e6-9305-4b8e480bfadc.png)

Any additional hints. Could you share your example?

[2016-04-19 07:45] alexandrudima commented on #5278
fcb8e57 affects no functionality whatsoever except the UI language name. The change in that commit forces that the language name (the label that shows in the bottom right corner) is always used from the first time a language was contributed.

Here is what gets contributed when installing `MagicPython`:

* from our default python extension:
[code]

* from `MagicPython`:

[code]

VSCode correctly re

[2016-04-19 07:45] biij5698 opened #5476 "I fond that I begin to love vscode,But I not found the mutiple window function in vscode"
The sublime text have a function:mutiple window to open more files,But I not foud this function in vscode

[2016-04-19 07:48] mbana commented on #446
@egamma do you have a rough date on when this might be available?

[2016-04-19 07:50] isidorn commented on #5355
Issues can always be reopened, no need to create a new one.
Thanks for the detailed analysis

[2016-04-19 07:52] v-pavanp opened #5477 "Debug pointer should not highlight blank line while debugging (with F10)."
- VSCode Version: 1.0.0-alpha
- OS Version: Windows10

Steps to Reproduce:

1. Launch VSCode and open a folder which contains .ts project.
2. Set configuration for launch.json (sourceMaps : 'true') and tasks.json.
3. Perform build with CTRL+SHIFT+B and verify app.js is generated.
3. Now set break point to app.ts and start debugging.
4. Keep debugging with F10 and verify debug pointer.

Actual: Loo

[2016-04-19 07:57] T0toro commented on #5433
@T0toro
Can you try to run VS Code without extensions? From the command line, execute: code --disable-extensions

i try but in not help.

[2016-04-19 08:06] vscodeerrors opened #5478 "e.getViewer is not a function"
Issue Id: <b>ef04b088-9261-5b22-3e6d-a246bcf92a7c</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />-  67567498285c2081312077cc24370d97676fc20a<br />*Stack* <br />TypeError: e.getViewer is not a function<br />[/vs/workbench/parts/files/browser/explorerViewlet.ts#L159:22 (getViewer)](https://github.com/microsoft/vscode/blob/c1d66b6e47c9da4c768ce7f

[2016-04-19 08:06] vscodeerrors opened #5479 "Cannot read property 'onTokensChanged' of undefined"
Issue Id: <b>6b553026-d0b5-2a73-0da5-98aeb3d226dd</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />*Stack* <br />TypeError: Cannot read property 'onTokensChanged' of undefined<br />[/vs/editor/browser/view/viewLayer.ts#L228:18 (onTokensChanged)](https://github.com/microsoft/vscode/blob/c1d66b6e47c9da4c768ce7f216da14e7e4ac06ff/src/vs/editor/brows

[2016-04-19 08:07] vscodeerrors opened #5480 "Cannot read property 'document' of null"
Issue Id: <b>b69492db-3cc4-2c53-d056-ead1327be4a4</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />*Stack* <br />TypeError: Cannot read property 'document' of null<br />    at e.Object.defineProperty.get [as document] (\out\vs\workbench\node\pluginHostProcess.js:19:10563) <no sourcemaps><br />    at QuickInfo__handle_$ (\Ionide.Ionide-fsharp-1.6

[2016-04-19 08:08] vscodeerrors opened #5481 "Illegal value 31 for `line`"
Issue Id: <b>9d49987e-1058-1c47-d977-23b53a6f81d2</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />*Stack* <br />Error: Illegal value 31 for `line`<br />    at t.lineAt (\out\vs\workbench\node\pluginHostProcess.js:18:29390) <no sourcemaps><br />    at Object.t.lineAt (\out\vs\workbench\node\pluginHostProcess.js:18:28204) <no sourcemaps><br />

[2016-04-19 08:09] vscodeerrors opened #5482 "Uncaught TypeError: Cannot read property 'id' of null"
Issue Id: <b>a5adadac-37e8-375a-8df8-2d3c51fe5de2</b><br /><br />*Versions* <br />- 0.10.14-insider<br />-  67567498285c2081312077cc24370d97676fc20a<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />-  c1d66b6e47c9da4c768ce7f216da14e7e4ac06ff<br />*Stack* <br />TypeError: Cannot read property 'id' of null<br />[/vs/base/parts/tree/browser/treeVi

[2016-04-19 08:09] vscodeerrors opened #5483 "Cannot read property 'getControl' of null"
Issue Id: <b>ceb1061b-bd78-2902-7380-dff41dc460e6</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />*Stack* <br />TypeError: Cannot read property 'getControl' of null<br />[/vs/workbench/api/node/mainThreadEditors.ts#L297:16 (getControl)](https://github.com/microsoft/vscode/blob/c1d66b6e47c9da4c768ce7f216da14e7e4ac06ff/src/vs/workbench/api/node/m

[2016-04-19 08:10] alapolloni commented on #92
@joaomoreno I checked and the info.plist was in fact from April 13th.(before the install of the new Code)

[2016-04-19 08:11] vscodeerrors opened #5484 "Cannot read property '_acceptIsDirty' of undefined"
Issue Id: <b>25627564-167f-0fb7-fa66-53028cfa6eb6</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />*Stack* <br />TypeError: Cannot read property '_acceptIsDirty' of undefined<br />    at e._acceptModelReverted (\out\vs\workbench\node\pluginHostProcess.js:18:26765) <no sourcemaps><br />    at t.e.handle (\out\vs\workbench\node\pluginHostProcess.j

[2016-04-19 08:12] biij5698 opened #5485 "Is vscode can open files by mutiple window?"
I'm not foud vscode can open files by multiple window

[2016-04-19 08:13] vscodeerrors opened #5486 "source: property 'sourceReference' is missing"
Issue Id: <b>d5dcdace-c7a4-00bf-a1be-26363e63eb51</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />-  67567498285c2081312077cc24370d97676fc20a<br />*Stack* <br />Error: source: property 'sourceReference' is missing<br />[/vs/workbench/parts/debug/node/rawDebugSession.ts#L79:29](https://github.com/microsoft/vscode/blob/c1d66b6e47c9da4c768ce7f216d

[2016-04-19 08:14] vscodeerrors opened #5487 "Uncaught TypeError: Cannot read property 'length' of undefined"
Issue Id: <b>43418210-210f-1bd4-eacf-2de69959e569</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />-  67567498285c2081312077cc24370d97676fc20a<br />*Stack* <br />TypeError: Cannot read property 'length' of undefined<br />[/vs/base/common/filters.ts#L64:24 (length)](https://github.com/microsoft/vscode/blob/c1d66b6e47c9da4c768ce7f216da14e7e4ac06ff

[2016-04-19 08:15] vscodeerrors opened #5488 "i.label.toLowerCase is not a function"
Issue Id: <b>42fc3186-6df1-540a-23be-a1c1eadf88e5</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  c1d66b6e47c9da4c768ce7f216da14e7e4ac06ff<br />*Stack* <br />TypeError: i.label.toLowerCase is not a function<br />[/vs/editor/contrib/suggest/browser/completionModel.ts#L32:63 (toLowerCase)](https://github.com/microsoft/vscode/blob/fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8/src/vs/editor/contrib

[2016-04-19 08:19] biij5698 opened #5490 "How to index functions in vscode?"
We can index functions by Ctrl + R in sublime text,But I'm not found this function in vscode

[2016-04-19 08:20] joaomoreno commented on #92
And what does the `CFBundleExecutable` value have?

[2016-04-19 08:25] lukaschal commented on #5250
Fixed as suggested.

[2016-04-19 08:26] #5250 closed

[2016-04-19 08:31] OMGtechy opened #5491 "Freeze up after leaving running overnight"
Version 0.10.11
Commit f291f4ad600767626b24a4b15816b04bee9a3049
Date 2016-03-11T16:19:03.130Z
Shell 0.35.6
Renderer 45.0.2454.85
Node 4.1.1
Using the C++ extensions

Ubuntu 14.04 LTS

Steps to Reproduce:

1. Leave VS Code running overnight with laptop lid shut
2. When I return the next morning, it's unresponsive and eventually prompts me to close it

It's not the only program that has this issue w

[2016-04-19 08:32] vscodeerrors opened #5492 "Uncaught Error: Not an extension entry. Found quickOpenService,openOnPreview,... instead."
Issue Id: <b>2c520e53-f8e2-50a2-cf78-14f70a65534c</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />-  67567498285c2081312077cc24370d97676fc20a<br />-  17fa1cbb49e3c5edd5868f304a64115fcc7c9c2c<br />*Stack* <br />Error: Not an extension entry. Found quickOpenService,openOnPreview,... instead.<br />[/vs/workbench/parts/extensions/electron-browser/e

[2016-04-19 08:33] JabX commented on #5131
Well, it turns out it only worked on my PC: my colleagues still have the error on their machines.
We have the exact same local config, the same global `.npmrc`, the same environnment variables (if any of that helps). The only difference we have if that I use Windows 10 and they're on Windows 7. And I used the insider version before the official release (which wasn't working for me anyway).

[2016-04-19 08:34] vscodeerrors opened #5493 "Cannot read property 'title' of undefined"
Issue Id: <b>f6eccf3f-a68e-17a8-643a-53d2157deb53</b><br /><br />*Versions* <br />- 0.10.15-insider<br />-  fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8<br />-  c1d66b6e47c9da4c768ce7f216da14e7e4ac06ff<br />-  43ff6af3d4564f59196caa9be4897fc33c15f24c<br />*Stack* <br />TypeError: Cannot read property 'title' of undefined<br />[/vs/editor/contrib/quickFix/browser/quickFixSelectionWidget.ts#L35:80 (titl

[2016-04-19 08:35] dbaeumer commented on #5490
Actually VSCode supports that for language that provide symbol index features. To get the symbols for a single document use Ctrl+Shift+O. To get the symbols for a whole workspace use Crl+T and type the symbol name you are searching for.

![capture](https://cloud.githubusercontent.com/assets/1931590/14632654/33f491b6-061a-11e6-9337-ce24260e9da6.png)

![capture](https://cloud.githubusercontent.com/a

[2016-04-19 08:35] #5490 closed

[2016-04-19 08:38] dbaeumer commented on #5476
We don't have multiple window support tight now. But you can open more then one file in the editor. To switch between the files use Ctrl+Tab or the working file list in the explorer.

![capture](https://cloud.githubusercontent.com/assets/1931590/14632765/b765c7a4-061a-11e6-83c9-01d73b2398b2.png)

@bpasero moving to you for the multi window request.

[2016-04-19 08:38] vscodeerrors opened #5494 "Illegal value 82 for `line`"
Issue Id: <b>552da819-3bfd-3cb0-7b94-8ab0a0d035c4</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  c1d66b6e47c9da4c768ce7f216da14e7e4ac06ff<br />*Stack* <br />Error: Illegal value 82 for `line`<br />    at t.lineAt (\out\vs\workbench\node\pluginHostProcess.js:18:29390)<br />    at Object.t.lineAt (\out\vs\workbench\node\pluginHostProcess.js:18:28204)<br />    at Guides.getRangesForLine (\sp

[2016-04-19 08:39] aeschli commented on #5494
Lets rename the exception to 'Illegal line number' without mentioning the line.

[2016-04-19 08:41] jrieken commented on #5454
The API should be fit for it but it's a limitation of our underlying message service.

[2016-04-19 08:41] biij5698 commented on #5476
I hope vscode can open files by multiple windows like sublime text.thanks

[2016-04-19 08:42] vscodeerrors opened #5495 "Internal module service_remote.js not found."
Issue Id: <b>b31506ae-f51c-5973-11b1-cddf1965e801</b><br /><br />_Versions_ <br />\- 1.0.0-insider<br />_Stack_ <br />Error: Internal module service_remote.js not found.<br />[/vs/workbench/parts/debug/node/rawDebugSession.ts#L79:29](https://github.com/microsoft/vscode/blob/c1d66b6e47c9da4c768ce7f216da14e7e4ac06ff/src/vs/workbench/parts/debug/node/rawDebugSession.ts#L79:29)<br />[/vs/base/common/w

[2016-04-19 08:42] dbaeumer commented on #5491
@bpasero assigning to you since I remember you looked into a similar issue. Interesting is that @OMGtechy points out Slack (which is an electron app) has similar behavior.

[2016-04-19 08:42] vscodeerrors opened #5496 "number is not a function"
Issue Id: <b>ff51dcb3-b140-604a-a550-5e79e2b239c5</b><br /><br />*Versions* <br />- 1.0.0-insider<br />-  c1d66b6e47c9da4c768ce7f216da14e7e4ac06ff<br />*Stack* <br />TypeError: number is not a function<br />[/vs/editor/browser/config/elementSizeObserver.ts#L75:9 (changeCallback)](https://github.com/microsoft/vscode/blob/fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8/src/vs/editor/browser/config/elementS

[2016-04-19 08:43] aeschli commented on #5495
Also:
/vs/workbench/parts/debug/node/rawDebugSession.ts#79:29
 /vs/base/common/winjs.base.raw.js#1470:0 (onError)
 /vs/base/common/winjs.base.raw.js#1176:0 (_notify)
 /vs/base/common/winjs.base.raw.js#1343:0 (enter)
 /vs/base/common/winjs.base.raw.js#1316:0 (_run)
 /vs/workbench/parts/debug/node/v8Protocol.ts#79:5 (errorDispatch)
 /vs/workbench/parts/debug/node/v8Protocol.ts#147:5 (clb)
 /vs/workb

[2016-04-19 08:43] lukaschal commented on #5425
Fixed as suggested.

[2016-04-19 08:43] #5425 closed

[2016-04-19 08:45] dbaeumer commented on #5480
This is a problem with the ionide fsharp extension.

[2016-04-19 08:45] #5480 closed

[2016-04-19 08:46] biij5698 commented on #5490
But it doesn't work in PHP by Ctrl + T and Ctrl + Shift + O.

[2016-04-19 08:46] biij5698 commented on #5490
@dbaeumer

[2016-04-19 08:48] biij5698 commented on #5379
@Tyriar what is via and how to get it?

[2016-04-19 08:50] dbaeumer commented on #5485
Dups #5476

[2016-04-19 08:50] #5485 closed

[2016-04-19 08:51] dbaeumer commented on #5487
@bpasero starting with you since this might come from the quick open controller.

[2016-04-19 08:56] lukaschal commented on #5345
Strings fixed.

Linguistic answer:

Instead of the original or suggested translation is used "markdown" to keep consistency with TS: there is one occurrence of the term “markdown” in TermStudio for ko-KR (markdown file, src ID 2355577) and “markdown” is kept in English.

[2016-04-19 08:56] #5345 closed

[2016-04-19 09:01] biij5698 opened #5497 "vscode can not index functions in PHP files"
vscode can index functions like javascript But In PHP files it not work("Ctrl + Shift + O" and "Ctrl + T")

[2016-04-19 09:01] isidorn commented on #5486
This should be fixed on latest alpha, @weinand filled a bug regarding this 2 weeks ago but I can not find it right now

[2016-04-19 09:01] #5486 closed

[2016-04-19 09:02] isidorn commented on #5495
This is coming from the node adapter, forwarding to @weinand

[2016-04-19 09:04] djpereira opened #5498 "Crash when copying large amounts of data to clipboard"
- VSCode Version: 1.0.0
- OS Version: Windows 10 v1511

Steps to Reproduce:
1. Open a large file (35MB or more).
2. Select All (Ctrl+A)
3. Copy to clipboard (Ctrl+C)

The file opens and you can navigate very quickly. That works great, but trying to copy the whole file to clipboard makes the app crash. I am not sure there are any logs that I can pull to help diagnose the problem.

![image](https://

[2016-04-19 09:05] isidorn commented on #5477
We are highlighting the blank line because the adapter sends the stop event on that line.
I believe this is desired behavior, what do you get when you use node-inspector in the same setup?

Forwarding to @weinand so he can decide if this is as designed

[2016-04-19 09:11] bpasero commented on #5491
Likely #508. I have a change pushed to test something out in insiders.

[2016-04-19 09:11] #5491 closed

[2016-04-19 09:11] #5478 closed

[2016-04-19 09:13] bpasero commented on #5473
@sswangifly you need to set the encoding in your settings either globally or per workspace.

#5388 is the duplicate.

[2016-04-19 09:13] #5473 closed

[2016-04-19 09:17] stevencl commented on #224
@bpasero, @bgashler1 and I have started working on the UX designs for improving document management. We're watching all the feedback on this issue carefully and have spoken to a handful of you already to get more details about your own unique experiences and perspective.

We would now like to share our early designs with you to get your feedback. We will host a Google hangout on Thursday 21st Apri

[2016-04-19 09:17] bpasero commented on #5471
@juol actually it seems that any .bash_profile is associated to shell. When you look at the language indicator in the bottom right corner, what language is shown for .bash_profile?

See my video how it shows the language to be shell:

![untitled](https://cloud.githubusercontent.com/assets/900690/14633979/edea8cfe-0617-11e6-846d-e4f94cfc0320.gif)

[2016-04-19 09:19] pavestru commented on #1974
Regarding this, as a newcomer to VS Code I found [the official docs](https://code.visualstudio.com/Docs/languages/javascript#_disable-syntax-validation-when-using-non-es6-constructs) very helpful.

[2016-04-19 09:28] #5487 closed

[2016-04-19 09:30] bpasero commented on #5475
For this we need https://github.com/Microsoft/vscode/issues/1161

Marking as duplicate.

[2016-04-19 09:30] #5475 closed

[2016-04-19 09:30] bpasero commented on #5454
@stevencl @bgashler1 this should be one input to our notifications discussion.

[2016-04-19 09:32] #5494 closed

[2016-04-19 09:32] jrieken commented on #5481
duplicate of  #5494

[2016-04-19 09:32] #5481 closed

[2016-04-19 09:33] jrieken commented on #5484
duplicate of #5016

[2016-04-19 09:33] #5484 closed

[2016-04-19 09:33] bpasero commented on #5474
This is scar but not reproducible and seems to indicate a half broken installation.

@joaomoreno fyi if you ever saw this before. happened after the nightly update.

[2016-04-19 09:33] #5474 closed

[2016-04-19 09:34] #3841 closed

[2016-04-19 09:42] jrieken commented on #5360
I have files https://github.com/Microsoft/TypeScript/issues/8168 to clarify the TypeScript part of this

[2016-04-19 09:43] 1dot75cm commented on #5250
Thanks @lukaschal

[2016-04-19 09:45] #5360 closed

[2016-04-19 09:50] 1dot75cm commented on #5250
@johnliu2016  Where is these files? How to participate i18n?

[2016-04-19 10:14] be5invis commented on #5260
@espresso3389 thanks

[2016-04-19 10:31] #5387 closed

[2016-04-19 10:58] rebornix opened #5499 "Go to Definition doesn't work in Diff View"
- VSCode Version: 1.0.0
- OS Version: Mac OSX

Steps to Reproduce:

1. Open any git repository
2. Make changes to a file
3. Navigate to Git pane and pick the changed file
4. On the left side pane, right click on any function as below
![image](https://cloud.githubusercontent.com/assets/876920/14636789/1de4cbde-0660-11e6-8c5f-e7d4aa8a4364.png)
5. `Go to Definition` doesn't work, nothing happens. Whi

[2016-04-19 12:05] #5015 closed

[2016-04-19 12:12] dbaeumer commented on #4750
Got addressed by @isidorn refactoring around output channels.

[2016-04-19 12:12] #4750 closed

[2016-04-19 12:14] dbaeumer commented on #4679
@bpasero is there anything I need to do. If so please assign back to me and let me know what I can do.

[2016-04-19 12:20] nadako opened #5500 "JSON completion extensibility"
I love how VS Code completes e.g. npm library names when editing `package.json`, that's really great!
However could this be more pluggable, so a vscode extension could provide own `IJSONWorkerContribution`? I'd be interested in implementing one similar to NPM handler.

[2016-04-19 12:22] dbaeumer commented on #4662
@v-pavanp I tried to reproduce this but failed. Can you point me to the example you used.

[2016-04-19 12:22] dbaeumer commented on #4638
Fixed for April.

[2016-04-19 12:22] #4638 closed

[2016-04-19 12:27] isidorn commented on #5229
Closing this. Please reopen @dbaeumer if you still see it

[2016-04-19 12:27] #5229 closed

[2016-04-19 12:52] worldcoding opened #5501 "suggest give a plugin for user-defined snippets"
- VSCode Version:1.0.0
- OS Version:win7

I hope have a plugin like bootstrap-3-snippets, we can use it quote myself snippets from localhost or server(for example github).

[2016-04-19 12:59] bgse commented on #5476
@biij5698 In case you didn't already know, you can open two (or three) files side-by-side in the same window.

For example, if you left-click a file in the file explorer it will open. If you left-click another file while pressing 'ctrl'-key, it will open in a second editor area. This way you can see both files at the same time.

You can load another file in the left-side editor by simple left-clic

[2016-04-19 13:03] lukaschal commented on #5332
Fixed as suggested.

[2016-04-19 13:03] #5332 closed

[2016-04-19 13:14] dbaeumer opened #5503 "Add support to configure the UI Language through menu entries"
- VSCode Version: 1.0.0
- OS Version: all

Currently users have to edit a json file. We should provide menu entries for this.

[2016-04-19 13:15] bpasero commented on #4679
@dbaeumer sorry, I only assigned this to you to verify this issue since my intent was to close it.

The general issue of not being able to find commands using english in other languages is fixed. Wether to show keywords within the UI or not translate the commands at all is up for discussion.

[2016-04-19 13:17] dbaeumer commented on #4613
@aeschli the locale.json file is living in ~/AppData/Roaming/Code - Alpha/User. Can I register a shema for this location?

[2016-04-19 13:18] dbaeumer commented on #4613
When I discussed this with @egamma and @chrisdias we actually thought a menu would be nicer. I opened #5503 to track the menu option

[2016-04-19 13:22] dbaeumer commented on #5499
IMO we should disable language feature for the left hand side of a diff viewer? @jrieken what is your take.

[2016-04-19 13:25] dbaeumer commented on #5501
@chwentao are you suggesting such a extension should come out of the box with VS Code. VSCode's Extension API allows to implement such a extension.

[2016-04-19 13:26] jrieken commented on #5362
I trust your screen shot but I have failed to reproduce this. Also the code looks pretty straight forward... @shardulm94 anythings else that would allow me to reproduce this?

[2016-04-19 13:31] bpasero commented on #5476
@biij5698 can you explain to me in more words what exactly you are missing to do in VS Code?

[2016-04-19 13:32] isidorn commented on #4613
Our menus might be getting cluttered. I would still prefer to have schema validation as this keeps a consistent story across all our settings.

[2016-04-19 13:36] v-andrew commented on #508
1.0 crashes almost every night.
Windows 10 Ent.

[2016-04-19 13:47] jrieken opened #5504 "don't use setter injection"
It seems the workbench has established a pattern of [setter-injection](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/workbench.ts#L364) for spreading the instantiation service. Either convince me of why that is good or use constructor injection.

[2016-04-19 13:50] jrieken opened #5505 "let's avoid cycling service dependencies"
We have a couple of cycling dependencies between services, like `KeybindingService` depends on `MessageService` and vice versa. Such dependencies are undesirable and we should strive to remove them/not have them in the first place. Let's collection cycling dependencies first and then come up with a plan on how to get rid of them.

[2016-04-19 13:50] jrieken commented on #5505
fyi @bpasero @alexandrudima

[2016-04-19 13:57] dbaeumer commented on #5474
Uninstalling and reinstalling fixed the issue. However A simple reinstall didn't.

[2016-04-19 13:59] dbaeumer commented on #5490
@biij5698 agree and we have a feature request for this.

[2016-04-19 13:59] bpasero commented on #5505
👍

[2016-04-19 14:05] aeschli commented on #5500
If you look at the latest in head, the PackageJSONContribution is now part of the JavaScript extension.
It is used by the `JSONCompletionItemProvider` in `javascript/src/features/jsonContributions.ts` and is a regular completion item processor. All the JSON parsing logic is in a new node_module `jsonc-parser`.

The idea is that you do it the same way. You can basically copy jsonContributions.ts to

[2016-04-19 14:05] #5500 closed

[2016-04-19 14:07] dbaeumer commented on #4170
Put en-US into the locale.json file open via the command 'Configure Language'.

[2016-04-19 14:09] jrieken commented on #5499
The actions should be disabled when there no providers for that file. To my knowledge we register the left hand side with some `git-index`-scheme, so TypeScript and no one else is offering a provider - @dbaeumer given TypeScript registers like so `{ scheme: file, language: typescript}`. I'll investigate...

[2016-04-19 14:12] jrieken commented on #5504
I believe, I should understand this is as a fishy workaround for not having a `onDidCreateServices` event in the lifecycle service. Once each and everyone consumer received an instantiation service it will use it to create more things...

[2016-04-19 14:18] bpasero commented on #5504
@jrieken yes that sounds right about why I need this workaround.

[2016-04-19 14:20] jrieken commented on #5499
@dbaeumer The issue is the TypeScript extension registers for typescript models not only for those it can reason about - files on disk. Instead of the simple document selector it should use one that selects files that are associated to _typescript_ AND that sit on disk. The context menu of the left hand side editor will then honour that.

[2016-04-19 14:20] nadako commented on #5500
Nice, thanks!

[2016-04-19 14:21] jrieken commented on #5499
This is how it looks for C#/Omnisharp which registers like this: https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/omnisharpMain.ts#L39

![screen shot 2016-04-19 at 16 21 03](https://cloud.githubusercontent.com/assets/1794099/14642437/bbab8968-064a-11e6-8069-3a069e896d64.png)

[2016-04-19 14:26] aeschli commented on #4613
@dbaeumer Check out `vscode/extensions/json/package.json`: There we register `settings.json` to a schema:
[code]

In the case of 'settings.json' the schema is provided by the vscode schema content provider, which gets the schema from the IJSONContributionRegistry (`platform.Registry.as(jsonContributionRegistry.Extensions.JSONContribution)`).

But the url can also be a relative location in the exte

[2016-04-19 14:36] aureole82 opened #5506 "Why is the version 1.0 in German?"
- VSCode Version: 1.0.0
- OS Version: Windows 10 Pro

The new version is in German???

[2016-04-19 14:42] dbaeumer commented on #5453
I thought my explanation was good enough on how to build VSCode yourself. Obviously not :-(. We also discussed making nightly builds available but haven't reached a conclusion yet.

[2016-04-19 14:44] dbaeumer commented on #5499
@jrieken makes sense.

[2016-04-19 14:45] dbaeumer commented on #4613
@aeschli thanks.

[2016-04-19 14:50] dbaeumer commented on #5330
@venil7 it could. Can you launch vscode from the command line using the switch --disable-extensions and check if it reproduces. If yes, could you provide the content of the JS file and the jsconfig.json

[2016-04-19 14:53] outcoldman commented on #5453
Yes, it was a little bit confusing how to produce own build. I believe that `gulp vscode-darwin` is not documented anywhere. But this gave me some idea where to look, so I finally made my own build (using it for my unmerged PR).

@dbaeumer Could you please keep this feature request open to track "nightly builds" status?

Honestly I do not see a reason why I (or anybody else) cannot setup "nightly

[2016-04-19 14:55] stevencl commented on #5226
I have to admit I had never really noticed that before. I don't feel very strongly about it. Consistency is good though, so if it was a simple, inexpensive change to make I would be for it. If it was to change, I'd expect it to change in search too.

[2016-04-19 14:58] dbaeumer commented on #5295
@akq thanks a lot for the detailed response. We discussed a solution for this back and force and we landed on the following improvements:

- when possible we honor OS locale. So the installer and VSCode will start by default in the locale of your OS
- for commands we will allow typing them in English and the picked UI language. So although VSCode might show Chinese you can still type git pull to e

[2016-04-19 15:01] bialix commented on #4170
There is one "small" problem with this suggestion: when I have Russian interface, and I press F1 then start to type "Configure Language" - I have no matches in command palette. Direct translation of "Configure Language" to Russian - still nothing.

Do you understand this problem, guys?

Please, provide some way to change language from File -> Preferences. It's just ridiculous to have to google and

[2016-04-19 15:02] dbaeumer commented on #5506
VSCode 1.0.0 ships in 9 language now. You can control the language by editing the locale.json file. Press
![capture](https://cloud.githubusercontent.com/assets/1931590/14643914/7d3533ea-0650-11e6-9309-67175d3656cc.png)
F1 and type Spracke konfigurieren. Enter "en" as the locale value.

[2016-04-19 15:02] #5506 closed

[2016-04-19 15:11] outcoldman opened #5507 "Consider to change development process"
Follow up discussion on:
- PR https://github.com/Microsoft/vscode/pull/5443#issuecomment-211401340
- Nightly builds https://github.com/Microsoft/vscode/issues/5453

Current development process:

- developers commit directly into `master`
- you cannot be 100% sure that you can build `master`.
- there are no way to setup Nightly Builds, because there are huge chance that build can be broken in maste

[2016-04-19 15:20] jtlowe commented on #670
:+1:

[2016-04-19 15:21] outcoldman commented on #3685
@dimdin implemented it with PR #5423
Please review unit test https://github.com/Microsoft/vscode/pull/5423/files#diff-03a74fc8e046bdf7481eefdc7cce74c8R2147 to check that I have not missed anything

[2016-04-19 15:48] #4970 closed

[2016-04-19 15:59] aureole82 commented on #5506
**F1 and "Sprache konfigurieren" did it!** It created the `%APPDATA%\Code\User\locale.json` which doesn't exists before.

But how should I know that?

[2016-04-19 16:02] Tyriar commented on #5379
Via means "with" in this case. You can download deb and rpm files from the homepage

[2016-04-19 16:03] RyanEwen commented on #224
I have been using VSCode exclusively (came from WebStorm) and I haven't been missing tabs. Initially I thought that I would, but I started to like Working Files more since I could see more in less space and without having to think about how to arrange or group things on screen. Now I use CTRL+TAB primarily.

I think if anything traditional tabs should be an official _extension_ or an opt-in _optio

[2016-04-19 16:04] RyanEwen commented on #224
One other suggestion.. It would be nice to have a better default key combo to view the list of Working Files for when the sidebar is hidden. I just recently discovered that CTRL+K CTRL+P shows what I want but it's more difficult to pull up than CTRL+TAB. Like I suggested with CTRL+TAB, the Working Files popup could benefit from some context based on the active editor pane. Maybe it could be sorted

[2016-04-19 16:09] brunolemos commented on #151
Same problem.
VS Code v1.0
OS X El Capitan

[2016-04-19 16:17] gregvanl commented on #5464
Hi @OneOfOne, I can see how that name would be confusing.  "Alpha" is the name of the Microsoft internal latest builds of VS Code.  It has the very latest changes before we release to the Insiders build (weekly) and stable (monthly).  We test alpha internally to find issues early.

[2016-04-19 16:22] brunolemos opened #5508 "There is no search history"
Can't easily redo previous search, which is very annoying and decreases productivity.

- VSCode Version: 1.0.0
- OS Version: OS X 10.11.4

Steps to Reproduce:

1. Press Shift+Cmd+F
2. Search for something
3. Search for another thing
4. Press UP key (or Cmd+Z or whatever)

Expected: Show previous search term, like all other editors
Result: Nothing happens

VS Code:
![VS Code Search Example]
(https:

[2016-04-19 16:25] Holyphoenix commented on #206
+1

[2016-04-19 16:27] tarurar commented on #5413
Yes, you are right. Sorry. You can close the issue.

[2016-04-19 16:27] #5413 closed

[2016-04-19 16:37] JCaraballo113 commented on #5472
This is what I see:

![capture](https://cloud.githubusercontent.com/assets/6374766/14647379/7b02ca62-062b-11e6-82b1-8902e0c36af1.PNG)

[2016-04-19 16:46] #5260 closed

[2016-04-19 16:47] bpasero commented on #5260
Pushed a change to pick up the font-family from https://github.com/Microsoft/vscode/issues/5260#issuecomment-211505841

We plan to release a new insider soon so that this can be verified.

Thanks for everyone's help and looking forward to hear back how this change goes!

[2016-04-19 16:53] KayLeung commented on #224
@RyanEwen I guess you're not a shortcut user before? Because Intellij Idea platform has same shortcuts and able to place the Tabs anywhere (Top, Bottom, Left, Right, None). When it placed on Left / Right, it works similar to Working Files in VSCode.  It would be great to do some experiment. Going back to WebStorm using CTRL + TAB combo with top Tabs to see if you don't need it or being forced to a

[2016-04-19 17:11] davidpmccormick opened #5509 "Don't auto-add closing quotes in HTML outside tags"
When entering characters in HTML, VS Code will auto-close all quotes.

This seems like sensible behaviour within a tag, but outside tags (i.e. in copy) a single-quote could easily be being used as an apostrophe.

[2016-04-19 17:12] sibeliusseraphini commented on #224
:+1:

[2016-04-19 17:15] chrisdias commented on #5283
this is now in the website, we still need to update the product.

- need to update `privacyStatementUrl` in `product.json` to point to fwlink: http://go.microsoft.com/fwlink/?LinkId=786907
- need to append `?lang=XX` to the url

[2016-04-19 17:19] weinand commented on #5477
@v-pavanp this looks like a source map problem. Could you please verify with this tool http://sokra.github.io/source-map-visualization/#typescript that the source map is correct (or zip up the three files and attach them here so that I can investigate).

[2016-04-19 17:23] bpasero commented on #5504
@jrieken I pushed a change to reduce the calls to setInstantiationService() from the workbench for all the parts. There is still 2 places where we use this pattern:
* to inject the instantiation service into other services
* to inject it into registries that are created too early to be created with the instantiation service

[2016-04-19 17:36] FeaRCODE commented on #2465
Is there an ETA on when this might be implemented @joaomoreno? Sometimes I find it difficult to read clearly. I had a similar question as well: https://github.com/Microsoft/vscode/issues/3795

[2016-04-19 17:37] rakkarage opened #5510 ".vscode folder for empty text document?"
- VSCode Version: 1.0.0-insider
- OS Version: Windows 10

Steps to Reproduce:

1. create new text document on desktop and open with vscode
2. now i have a hidden .vscode folder with a database on my desktop?

is there anyway to not create this file and folder unless there is a project? or at least some parse-able data?
is there a way to centralize or disable this cache?

thanks

[2016-04-19 17:41] anyong opened #5511 "Line-final cursor position incorrect with Unicode combining characters 0x300 - 0x363"
- VSCode Version: 1.0.0-insider
- OS Version:Windows 10

Steps to Reproduce:

1. Write text with a Unicode combining character
2. Try to move the cursor to the end of the line, it jumps back to the beginning

![](http://i.imgur.com/UP3rHt1.gif)

[2016-04-19 17:50] venil7 commented on #5330
turning off extensions didn't help - I can still reproduce it.

here is my `jsconfig.json`

[code]

[2016-04-19 17:59] be5invis commented on #5260
@bpasero Where is the `lang` attribute assigned to? If it is not assigned to the element you specify a CSS to (i.e. `.monaco-shell`) the style will not work.
If the `lang` attribute is assigned to the `<html>`, the style should be this: (for `.monaco-shell`):

[code]

[2016-04-19 18:05] RyanEwen commented on #224
@KayLeung I have CTRL+E before, but since there were tabs I would allow myself to go for them using the mouse more often than not. I recently used a tabbed editor (Koding.io) when I didn't have access to VSCode and can confidentially say that I don't miss setting up/arranging tabs. It seems tedious compared to just having a history. I found myself always get caught-up in how I want things laid out

[2016-04-19 18:24] RyanEwen commented on #224
I just tried Adobe Brackets, and their Working Files list is split up by pane. If you have a Left and a Right pane then there are 2 lists of working files ("Left" and "Right") in the sidebar instead of one as in VSCode. Not a bad solution. Wouldn't mind something like that (in addition to my other suggestion of adding context to CTRL+TAB based on the active editor pane).

[2016-04-19 18:46] dbaeumer commented on #5506
Agree. We are working on a more discoverable solution.

[2016-04-19 18:49] dbaeumer commented on #5510
@rakkarage actually we should only create the .vscode folder if you edit workspace settings, create a task runner or debug.

@bpasero in case there is something happening which creates an unwanted .vscode folder

[2016-04-19 18:51] dbaeumer commented on #5508
@kieferrm heard you are taking over search :-)

[2016-04-19 18:54] dbaeumer commented on #5453
Reopening.

@chrisdias I assign to you because of the request of public nightly builds and the request of being able to run their own full VSCode builds

[2016-04-19 19:03] dbaeumer commented on #5505
@jrieken @bpasero @alexandrudima any volunteer. Want to get it out of the inbox :-)

[2016-04-19 19:06] dbaeumer commented on #5472
When you hover over these errors what do they show. Do the have [js] in front or something else (e.g. [eslint])

[2016-04-19 19:12] dbaeumer opened #5512 "Infer locale on first creation of the locale.json file from the current ui language"
- VSCode Version: 1.0.0
- OS Version: Windows 10

Steps to Reproduce:

1. Run Configure Language
2. Observe: on first creation the locale filled in is always en-US.

[2016-04-19 19:18] tjpeden commented on #4690
I'm having a similar problem. My git was working and then it stopped working and constantly says "Failed to execute git". I've tried settings git.path with no success.

[2016-04-19 19:18] #5512 closed

[2016-04-19 19:19] dbaeumer commented on #5295
See https://github.com/Microsoft/vscode/issues/5512

[2016-04-19 19:22] JCaraballo113 commented on #5472
Here you go, also thanks for the replies :D

![hover](https://cloud.githubusercontent.com/assets/6374766/14652485/8bc1b234-0642-11e6-94c4-ccacd24387f3.png)

[2016-04-19 19:23] dbaeumer commented on #5330
@venil7 could you share the content of the js file showing the behavior. Would ease tracking this down.

[2016-04-19 19:24] dvlsg commented on #5402
Looks good to me, I think.

Is there any hope of support for multi-cursors that aren't necessarily next to each other?

For a contrived example, say I have JSON with integer values, but they really should be doubles. With multi-cursors, I can accomplish that fairly easily. Will this be possible with the proposed block column selection?
![multi-cursor-select](https://cloud.githubusercontent.com/ass

[2016-04-19 19:28] dbaeumer commented on #4170
We are aware of these problems and we are working on improving this in two ways:

- you will be able to always type the English command even if you are in a different UI language. For example you will be able to type 'git pull' or 'configure language' even if you are in Russian interface.
- we are looking into ways to integrate UI Language switching into the Menu.

[2016-04-19 19:30] Tyriar commented on #1037
Integrated terminal issue: https://github.com/Microsoft/vscode/issues/143

[2016-04-19 19:31] shardulm94 commented on #5362
@jrieken

I created a sample vscode extension to demonstrate the same. I have just added two listeners: `onDidChangeActiveTextEditor` and `onDidChangeTextEditorSelection`.

Steps to reproduce:
1.Have the `30linefile.ts` open with cursor on line 30
2.Have the `10linefile.ts` open with cursor on line 10 (Please ignore all output until this point)
3.Switch from `10linefile.ts` to `30linefile.ts`. Her

[2016-04-19 19:41] #5499 closed

[2016-04-19 19:42] dbaeumer commented on #5499
Disabled the language features for the left hand side of a diff.

[2016-04-19 19:54] juol commented on #5471
I have a repo for my dot files. In this repo I have renamed `.bash_profile` to `bash_profile` so it is not hidden. I symlink to this from my home directory.

So I hoped that `"*bash_profile": "sh"` would pick up both these files. It doesn't seem to on my machine.

The simplest way to reproduce this seems to be:

[code]

Now `code .bash_profile` works but `code bash_profile` doesn't, It reports as

[2016-04-19 19:58] v-pavanp commented on #5477
I tried with the provided tool and after loading all the required files, I am getting error "Unable to get property 'substr' of undefined or null reference"
Find the attached zip file which contains all the three files.
[app.zip](https://github.com/Microsoft/vscode/files/226723/app.zip)

[2016-04-19 20:08] KievJunta opened #5513 "Comment"
private char GetChar()//Метод возвращающий
Comment isn't become green

[2016-04-19 20:13] dbaeumer commented on #4613
@aeschli I tried to get this to work but failed. Could you have a look here and advice: https://github.com/Microsoft/vscode/tree/dbaeumer/4613

[2016-04-19 20:17] dbaeumer commented on #5513
@KievJunta Is this C#?

[2016-04-19 20:19] nicholas-brooks commented on #5426
I can reproduce this using VSCode 1.0.0 on OSX 10.11.4 and Windows 10 with the standard Format Code shortcut (⇧⌥F) - no auto-format is required to be enabled.

As @mbergeron indicated, replacing the top-level `<template/>` tag with `<div/>` causes it to work as expected.

Context: I'm learning Aurelia where the html templates must be wrapped in `<template/>`.  I upgraded to VSCode 1.0.0 and ⇧⌥F no

[2016-04-19 20:21] bpasero commented on #5510
I would be surprised. If you use workspace settings, debug or tasks, you will need the .vscode folder.

[2016-04-19 20:26] bpasero commented on #5471
The fix is to use the following setting:

files.associations { "*bash_profile": "shellscript" }

[2016-04-19 20:26] #5471 closed

[2016-04-19 20:29] anyong commented on #5466
I have noticed a number of similar regex issues, like not being able to select `.*` and others. I didn't open issues but it seems like the regex search feature needs some work.

[2016-04-19 21:06] Keith-Cancel commented on #3964
Sweet!

[2016-04-19 21:25] abhinav-shah commented on #4931
nope, i am not running code with a different user account / permissions

[2016-04-19 22:53] rakkarage commented on #5510
the folder is created when i open an empty text file
no debug, tasks, or workbench settings, just open new text file
you are claiming this should not happen? or does not happen?
thanks

[2016-04-19 23:20] berik commented on #275
How to install and use .Net Core Debugger is written here http://tattoocoder.azurewebsites.net/setting-up-asp-net-core-debugging-in-vs-code/

[2016-04-19 23:21] v-pavanp opened #5514 "unable to remove extension from the update extension list, getting error "Cannot find the extension"."
- VSCode Version: 1.0.0-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch app and open any folder which contains ts project.
2. Click on extension update icon from status bar to get info about extension to be updated.
3. Try to uninstall any previously installed extension by clicking on remove extension icon from update extension list.
![image](https://cloud.githubusercontent.com/assets

[2016-04-19 23:53] kyamamoto03 opened #5515 "Window menu shortcuts do not work when Japanese IME is active"
- VSCode Version:1.0.0
- OS Version:Windows7

ファイルを保存するときにAlt+F+Sを使いますが、日本語入力の時にSが反応しません。

[2016-04-19 23:57] bording opened #5516 "Unusable and laggy when used with NVIDIA G-SYNC monitor"
I recently upgraded to a new monitor that supports NVIDIA's G-SYNC refresh rate syncing technology, and ever since then, Visual Studio Code is completely unusable if I have G-SYNC enabled.

Whenever the window has focus, graphical updates for the entire screen slow to a crawl, because something in VS Code is triggering G-SYNC's ability to adjust the refresh rate of the monitor to match some intern

[2016-04-20 00:24] biij5698 opened #5517 "Is vsocde can support tpl files?"
It seems that vscode can not support tpl files like html

[2016-04-20 00:28] biij5698 commented on #5304
yes,thank you @BillyONeal

[2016-04-20 00:45] biij5698 opened #5518 "I hope vscode can index javascript functions in html files"
We known the sublime can index javascript functions in html files but vscode can not index javascript functions in html files.

[2016-04-20 01:06] Tyriar commented on #5515
I believe this issue is about not being able to access the menu options while the Japanese IME is active. <kbd>alt</kbd>+<kbd>f</kbd> (file menu) then <kbd>s</kbd> to save, but the IME has likely taken the s captive until it's completed a character.

[2016-04-20 01:13] v-pavanp commented on #4988
Info provided so removing more-info label.

[2016-04-20 01:16] Tyriar commented on #5505
After this is cleaned up could the `InstantiationService` or service registry be modified to prevent this from being introduced again? Keeping a service->dependency map would make it easy to detect cycles at service registration/creation.

[2016-04-20 01:23] Tyriar commented on #5466
Duplicate of https://github.com/Microsoft/vscode/issues/313

[2016-04-20 01:23] #5466 closed

[2016-04-20 01:30] 17twenty opened #5519 "Copy File in explorer should stop once something else was copied in the editor"
- VSCode Version: 1.0.0
- OS Version: Ubuntu 14.04.4 LTS

Steps to Reproduce:
1. Have a number of open files
2. Right-click and copy one of these files and paste it somewhere else in the tree.
3. Copy text from an open file
4. Move to another open file where you can paste the text
5. CTRL+V to paste and watch as it pastes another copy of the file instead of pasting the text.

[2016-04-20 01:48] shea-sollars opened #5521 "Clicking on intellisense/autocompletion suggestions not working"
- VSCode Version: 1.0.0
- OS Version: Windows 10 (version 1511 build 10586.218)

Steps to Reproduce:

1. Create a new JavaScript file, and/or ensure the language mode is in JavaScript
2. Begin typing any standard global function or variable (such as `location`)
3. Typing `locat` brings `location` up to the first option
4. Click on `location` with your mouse
5. The intellisense autocompletion sugge

[2016-04-20 02:08] v-pavanp opened #5522 "User needs to manually restart VSCode to unplug tslint extension."
- VSCode Version: 1.0.0-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch VScode and install tslint extension.
2. Open folder which contains .ts file.
3. Verify it should highlight linter related issues.
4. Now uninstall the extension and verify app behavior.

Actual: After uninstallation user is not getting any message pop-up to restart app.
Expected: User should get restart pop-up mes

[2016-04-20 02:11] Wenzil commented on #5213
@weinand node-inspector behaves as expected: unchecking "Pause on caught exceptions" causes the debugger to continue its execution without breaking on the thrown error.

[2016-04-20 02:20] Lonefy opened #5523 "Allow to open multiple folders in the same window"
just like sublime does

[2016-04-20 02:27] innerlee opened #5524 "Increase height of horizontal scroll bar"
- VSCode Version: 1.0.0
- OS Version: Ubuntu 15.04

The horizontal scroll bar is too narrow to grab. And lower half being taken by updown arrow (see pic below) makes the situation worse.

![ffff](https://cloud.githubusercontent.com/assets/9464825/14661695/495a2656-06e2-11e6-849e-723a2ecc8a4d.png)

[2016-04-20 03:05] qiuyi21 opened #5525 "Search bar hide match word at first line"
- VSCode Version: 1.0.0
- OS Version: OS X 10.11.4

Steps to Reproduce:
1.  Long text at one line
2.  Ctrl + F (Command + F) search the keyword
   <img width="1165" alt="2016-04-20 10 56 40" src="https://cloud.githubusercontent.com/assets/3156921/14662294/640976be-06e7-11e6-953f-355c7ac9abf1.png">
   <img width="1168" alt="2016-04-20 10 56 12" src="https://cloud.githubusercontent.com/assets/315692

[2016-04-20 03:25] rkhat opened #5526 "Command extension runs indefinitely"
- VSCode Version: 1.0.0
- OS Version: Windows 10

Steps to Reproduce:

1. Add following code to main.ts

[code]

2. Add this to package.json (remember to change main value to compiled js)

[code]

3. When you run the command multiple times, the previous instances don't shutdown. This will create an issue especially if a continuous command (such as watcher) is running. The only way to stop commands

[2016-04-20 03:52] fantacytyx commented on #397
@egamma When will develop this feature？

[2016-04-20 04:04] Thojad commented on #5468
Hey, i just uninstall this extension "vscode-twig-pack" and the problem is gone.

[2016-04-20 04:04] #5468 closed

[2016-04-20 04:05] riclf commented on #224
@RyanEwen you have made a very good point. I always work with 2 panes for any open instance of my IDE. I may have 2 open instances over 2 screens, for 4 open panes. I couldn't quite put my finger on it but you did. Having a single list when there are two (or more?) open panes, is the problem with current the Working Files implementation that has made it unusable for me. Thank you for being specifi

[2016-04-20 04:11] yi-huan opened #5528 "Custom theme problems"
- VSCode Version: 1.0.0-insider
- OS Version:win8.1

**Following from the automatic translation:**
I think the built-in theme colored parts too small, so my own custom themes, problems encountered in this process are as follows:

- All:
  I hope I can define background color with RGBA, now only defines the color and font style.

- In CSS part（Dark Visual Studio）:
  1.
![2016-04-20_114035](https://

[2016-04-20 04:35] sinaku-developer opened #5529 "not display the space replacement character in string middle"
- VSCode Version:1.0.0
- OS Version:OS X EI Capitan 10.11.4

Steps to Reproduce:
1. ```
   // エディターで空白文字を表示するかどうかを制御します
[code]

[2016-04-20 04:46] nrkn opened #5530 "Show project init errors"
- VSCode Version: 1.0.0
- OS Version: Windows 10 Pro

I have no extensions installed. node.js v5.10.1

Error highlighting has stopped working in our node.js app - I was able to reduce it to a very minimal test case:

A single index.js containing an erroneous line so you can see if error highlighting is on
A single subfolder containing a package.json with grunt and grunt-browserify packages and a n

[2016-04-20 05:16] nrkn commented on #5530
BTW, there are a ton of ways to fix the min case so that it works, like adding node_modules to the exclude in jsconfig.json - but none of these fixes helps in our full app. Am at quite the loss as to how to proceed. Please let me know if I can provide any more info.

[2016-04-20 05:41] OlegLustenko commented on #2684
same here:

# **VSCode**
![vscode_oceanic](https://cloud.githubusercontent.com/assets/11524061/14664404/4f2fbec4-06d3-11e6-828b-1a072e76e398.png)
#  Sublime
![sublime_oceanic](https://cloud.githubusercontent.com/assets/11524061/14664405/4f31464a-06d3-11e6-8161-cfc57028a47e.png)

[2016-04-20 05:45] bpasero commented on #5510
We do not create a .vscode folder unless you open a folder with VS Code and use one of these features: settings, tasks or debug.

[2016-04-20 05:46] bpasero commented on #5515
@kyamamoto03 can you please update the description in english?

[2016-04-20 06:19] Cryrivers commented on #446
+1 please make it possible

[2016-04-20 06:26] bpasero commented on #5505
I pushed a change to get rid of the keybindingservice <-> messageservice cycle.

[2016-04-20 06:34] dbaeumer commented on #5530
@nrkn thanks a lot for this nice test case. I was able to reproduce this immediately. First analysis shows that the tsserver which is powering JavaScript language smartness throws on reading the project info. We need to do two things here:

- let the user know that reading the project info failed.
- make a issue for the TS team.

[2016-04-20 06:35] dbaeumer commented on #5530
This issue was moved to Microsoft/TypeScript#8212

[2016-04-20 06:38] dbaeumer opened #5532 "TypeScript extension should send telemetry about failed tsserver requests"
- VSCode Version: 1.0.0
- OS Version: Windows 10

Now that we have telemetry in extensions we should send events about failed tsserver requests. I will adopt the code.

[2016-04-20 06:38] dbaeumer commented on #5530
Reopening and moving to @jrieken: can you add code that informs the user that reading the project info for JS validation failed and why. This would allow users to report easier bugs. I also created https://github.com/Microsoft/vscode/issues/5532 to send telemetry events for failed requests.

[2016-04-20 06:47] RobertoMalatesta commented on #397
On some projects where LOC > 10k and with 50+ files and classes, it is a serious drawback.

File Explorer is very basic and gets clobbered quickly.

Having a tab (on the right of screen) listing all entities at least for Typescript and .d.ts definitions would allow a smarter navigation inside the code.

Tsc compiler API should be able to provide it:
https://github.com/Microsoft/TypeScript/wiki/Usi

[2016-04-20 06:50] dbaeumer commented on #5519
@bpasero marking as important since it sounds a little scary.

[2016-04-20 06:52] dbaeumer commented on #5517
@biij5698 what kind of template files are you referring to? Can you give me an example?

[2016-04-20 06:57] dbaeumer commented on #5516
@bpasero I move this to you since this seems to be an underlying electron issue and can only be fixed there.

[2016-04-20 06:59] dbaeumer commented on #5505
@bpasero thanks. OK to close ?

[2016-04-20 07:03] joaomoreno commented on #2465
Let's do it in April

[2016-04-20 07:03] dbaeumer commented on #5472
@JCaraballo113 I am pretty confident that this message doesn't come from VSCode itself since errors reported from the JS language service are prefixed with js

![capture](https://cloud.githubusercontent.com/assets/1931590/14665913/b33e5738-06d6-11e6-8f18-5d358d6833a4.png)

Do you have a JS linter extension installed? If you start code form a command prompt using --disable-extensions do you still s

[2016-04-20 07:04] joaomoreno commented on #4690
@kyberias @tjpeden Can you run `echo %PATH%` and show me the result?

[2016-04-20 07:08] joaomoreno commented on #5514
Duplicate of #4970

[2016-04-20 07:08] #5514 closed

[2016-04-20 07:11] bpasero commented on #5505
@dbaeumer maybe assign this back to @jrieken in case he found more cycles.

[2016-04-20 07:12] bpasero commented on #5523
@Lonefy currently not, sorry.

[2016-04-20 07:14] anyong commented on #3008
Is there any progress on this issue? Judging by the other issues linked here, I'm assuming this is the same problem; it happens about half the time I do object destructuring in a render method with JSX, depending on where the newlines are.

![image](https://cloud.githubusercontent.com/assets/6260469/14666148/5bcb18b8-070a-11e6-8efb-54840649fd2b.png)

[2016-04-20 07:16] bpasero commented on #5438
@aeschli good catch Martin, my regex ended up to do Catastrophic Backtracking (http://www.regular-expressions.info/catastrophic.html).

I pushed a change to simplify it. A "**" is now anything that starts with a path or ends with a path.

[2016-04-20 07:19] bpasero commented on #5516
@bording we have an internal version of VS Code running with the latest Electron that includes Chrome 49. Can you give [1] a try to see if it changes anything?

[1] https://az764295.vo.msecnd.net/alpha/c83fa467d071a784a3cdeacc69c29fdfdbc91fce/VSCode-win32-alpha.zip

[2016-04-20 07:26] bpasero commented on #5519
Now after you have pasted I am clearing out the pasted target so that subsequent pastes are not causing the same file to be pasted again.

[2016-04-20 07:31] 17twenty commented on #5519
Is that a good fix? What if someone wants to paste the same file multiple
times?

I would've thought clearing the chosen file in a text copy would've been
better?
On 20 Apr 2016 5:27 p.m., "Benjamin Pasero" <notifications@github.com>
wrote:

[2016-04-20 07:39] bpasero commented on #5519
Actually the copy file feature is such a hack (it bypasses the clipboard) that I would argue to rather try to implement it using the clipboard APIs of Electron.

[2016-04-20 07:42] echpiel opened #5533 "Panels always on top in Gnome 3.20"
- VSCode Version: 1.0.0
- OS Version: Any Linux with Gnome 3.20 (tested with Arch Linux and OpenSUSE Tumbleweed, both up to date, Wayland deactivated)

Steps to Reproduce:

1. Install VS Code and open it.
2. Try to change focus to any other application or go to the Activities. See that only the title bar and menu are sent to the back, the panels stay on top.

The error must be an Electron one beca

[2016-04-20 08:07] JCaraballo113 commented on #5472
JSHint was causing the issue. Uninstalled it and voila. Sorry for polluting the issues D:

[2016-04-20 08:07] #5472 closed

[2016-04-20 08:16] jrieken commented on #5505
yeah, I will keep looking for more cycles

[2016-04-20 08:16] idstef opened #5534 "Auto Complete Does Not Recognioze Object Properties"
- VSCode Version: 1.0.0
- OS Version: Ubuntu 14.04

Steps to Reproduce:
1. Define object with full namespace and meta-tags
   ![screenshot from 2016-04-20 10 08 04](https://cloud.githubusercontent.com/assets/10683550/14667654/91a5fed2-06e0-11e6-8e8f-fdc7fa09c9ac.png)
2. Press ctrl+space and there are no suggestions for object properties / methods. Also, auto-complete did not give any suggestion on

[2016-04-20 08:16] #5532 closed

[2016-04-20 08:18] Souren09 opened #5535 "Language Code Detection"
- VSCode Version:1.0.0
- OS Version: windows10.0.10586

Steps to Reproduce:

1. Open file with language code GB2312
2. Detected code is UTF-8.

[2016-04-20 08:19] venil7 commented on #5330
Sure, the js file in GIF above is here: `https://github.com/Financial-Times/email-manual-editor/blob/master/src/app/components/stats/stats.directive.js`

but for me bug manifests in _any_ file where indentation needs to be preserved

[2016-04-20 08:23] kyamamoto03 commented on #5515
When a file is saved , and are using the JapaneseIME Alt + F (FileMenu) + S (SaveAs) does not work

[2016-04-20 08:26] jrieken commented on #5526
The code of your command is basically an endless loop and there is no way we can stop that from the outside. You should store the handle `setTimeout` returns and invoke [`clearTimeout`](https://developer.mozilla.org/en-US/docs/Web/API/WindowTimers/clearTimeout) before proceeding with another run.

[code]

[2016-04-20 08:26] #5526 closed

[2016-04-20 08:30] bpasero commented on #5504
Third one
* MessageService.setWorkbenchServices()

[2016-04-20 08:30] bpasero commented on #5505
There is a very ugly setWorkbenchServices() call in MessageService that I would tackle as part of https://github.com/Microsoft/vscode/issues/5504

[2016-04-20 08:31] jrieken commented on #5504
@bpasero I will add an event ala `onDidStart` to the lifecycle service such that there are no more excuses (minus singleton registries)

[2016-04-20 08:33] aeschli commented on #4613
@did you try to add a entry to `contributes/jsonValidation` in `extensions/json/package.json` ?

[2016-04-20 08:34] jrieken commented on #5505
@Tyriar We already do that and `createInstance` will explode when a cycle in [detected](https://github.com/Microsoft/vscode/blob/master/src/vs/platform/instantiation/common/instantiationService.ts#L163). The problem is that we create the instantiation service from a service collection that we in parts populate manually. That manual setup (shell.ts/workbench.ts) is the issue...

[2016-04-20 08:38] jrieken opened #5536 "Lifecycle service has two shutdown events"
Today, the lifecycle service has two logic events (1) `onShutdown` and (2) `addBeforeShutdownParticipant`. The former is signal while the latter also supports veto. There should only be one event, like `onShutdown` and it should send an event which support veto, similar to `preventDefault` in DOM events

[2016-04-20 08:39] jrieken commented on #5536
fyi @bpasero

[2016-04-20 08:43] #5283 closed

[2016-04-20 08:43] bgashler1 commented on #5226
Sorry I let this one slip by me in not replying quickly.  I also agree with Steven that consistency is key.

I tend to lean towards not having the monospaced code font in the input box.  The reason why is that the input box is a UI overlay, and UI has its own non-monospaced font.  We're not editing inline—we're merely entering something as input to the overlay which then makes the change on our be

[2016-04-20 08:44] isidorn commented on #5226
Then it makes sense to keep this closed, thanks for feedback.

[2016-04-20 08:45] rbanffy opened #5537 "fontFamily not always working (at least with one specific font)"
- VSCode Version: 1.0.0
- OS Version: OSX 10.11.4

Steps to Reproduce:

1. Download and install IBM 3270 font (https://github.com/rbanffy/3270font/, installing from ZIP file is fine)
2. Edit your settings file to have "editor.fontFamily" set to "IBM 3270"
3. Save the file
4. Font setting does not quite catch: to see the weirdness, change it to "Monaco", then to "IBM 3270", then to "Arial Narrow" (

[2016-04-20 08:54] #4613 closed

[2016-04-20 08:56] jrieken commented on #5226
so how did this change then?

![screen shot 2016-04-20 at 10 56 04](https://cloud.githubusercontent.com/assets/1794099/14668868/7e4bdbee-06e6-11e6-8774-efe2539c622f.png)

[2016-04-20 08:57] joaomoreno commented on #5226
I just saw it and I love it. It always felt weird to me that it was non-monospace, regardless of the other input boxes. The same goes for the find & replace.

[2016-04-20 08:58] isidorn commented on #5226
I did not change it, but I do like it. Thanks misterious contributor

[2016-04-20 08:58] bpasero commented on #5536
@jrieken having only one event will not work. there are handlers that are **not** interested in vetoing and dispose resources on shutdown (e.g. file watchers) and there are handlers that are interested in vetos (e.g. the dirty file handler).

I distinguish between before close and on close for this reason, otherwise one handler might dispose resources that are still needed when a handler after fir

[2016-04-20 09:02] jrieken commented on #5536
Understood, still it should be an event and not a participant which is just another way of eventing. It should be `onWillShutdown` and `onShutdown`

[2016-04-20 09:04] 17twenty commented on #5519
Could we leave this as open until remedied?

[2016-04-20 09:05] bpasero commented on #5519
Hehe sorry, I reverted my commit and GH closed this issue again. I really think reverting should have left this issue open...

[2016-04-20 09:05] bpasero commented on #5536
@jrieken that is good for me, yeah.

[2016-04-20 09:11] bpasero commented on #5504
@jrieken I wonder if we need this in all cases. For example, when I look into https://github.com/Microsoft/vscode/blob/master/src/vs/platform/thread/common/abstractThreadService.ts#L33 it seems to me the setter is not doing any follow up work so it seems the instantiation service could just be passed in.

The real issue is that we need the instantiation service within a service but the instantiati

[2016-04-20 09:11] GodLesZ commented on #534
@joaomoreno you changed the title of the issue which now matches exactly my (and @jchadwick) request, but missmatches the authors request.

Disappearing context menus because of different user-level installations are not related to "allow installations in different user-levels" or: I want to install VS Code without admin privilegs.

[2016-04-20 09:14] bpasero commented on #5535
Duplicate of #5388

[2016-04-20 09:14] #5535 closed

[2016-04-20 09:14] jrieken commented on #5504
That is not true. We do create it [very early](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/electron-browser/shell.ts#L165) but it doesn't have all services yet. So, someone that received the instantiation service during its ctor-call doesn't know if all services are present yet which in return means contributions it creates might miss a service

[2016-04-20 09:18] bpasero commented on #5504
@jrieken ok so as long as the service is not using the instantiation service it would be safe to pass it in via ctor.

[2016-04-20 09:19] jrieken commented on #5226
Sorry, reverted. IMO consistency goes over personal preference

[2016-04-20 09:19] bpasero commented on #5533
@echpiel please report this to Electron.

[2016-04-20 09:20] biij5698 commented on #5517
Oh,Your staff have told me the answer:
Something like:
"files.associations": {
	"*.tpl": "html"
}
in your user preferences may work.
And  I have tried this way,This can be!
Thanks!

[2016-04-20 09:20] biij5698 commented on #5517
@dbaeumer

[2016-04-20 09:20] KievJunta commented on #5513
@dbaeumer  yes, C#. If there is no space between class declaration and comment, comment isn't become green.

[2016-04-20 09:20] dbaeumer commented on #4680
The proposed ___dirname is a word in that file (observe the file icon in front). The JS intellisense proposes words in the file as well.

If you install the node.d.ts file using tsd install node and then do _<code complete> you will see

![capture](https://cloud.githubusercontent.com/assets/1931590/14669619/e779779a-06e9-11e6-9f4e-0f6d53205ffe.png)

because the JS language service then knows about

[2016-04-20 09:21] jrieken commented on #5504
If it's not using the service it should not ask for it. If it's using the service under some condition later in the code it must be very careful to know that everything is in a well-defined state. That's why I propose to have an event that signals that.

[2016-04-20 09:22] dbaeumer commented on #2047
Moving to May. This is more complicated then I thought and requires some more investigation.

[2016-04-20 09:22] biij5698 commented on #5517
you can close this issues,Thanks vscode,I have already fallen in love with vscode.It was wonderful!

[2016-04-20 09:25] SilentTiger commented on #5300
@weinand It can not stop more than one project by break poins at sametime.
But I still think it's a great feature to run two or more projects in one VSC window. In fact, I can first set break point in project A to pause the process and then set a break point in project B to pause the process later without restart them.
Maybe you could have a try on VS2015 about this feature.

Of course, VS2015 has

[2016-04-20 09:31] dbaeumer opened #5538 "Add support to confirm messages shown at the top with the keyboard"
- VSCode Version: 1.0.0
- OS Version:

Steps to Reproduce:
1. Do something that shows a message box at the top of the windows
2. Try to confirm that message with the keyboard.

This is very hard. You have to tab a lot and at some point to get focus there. If you then confirm your last focus position is lost. It would be nice if we can confirm with some special characters (shift+Enter) without loos

[2016-04-20 09:32] joaomoreno commented on #5226
Consistency goes both ways.

You seem to be on the side of **widget** consistency: most text input widgets show non-monospace font, so this one should to. Examples are in the search and git viewlets' input boxes, quick open, find and replace. Counter examples are the debug evaluate input box and watch expressions, both of which use monospace font, imo correctly.

I don't agree with that type of co

[2016-04-20 09:33] dbaeumer commented on #214
I opened https://github.com/Microsoft/vscode/issues/5538 for the general request of confirming a message box with the keyboard.

I looked for a free keyboard shortcut but it is very hard to find one that makes sense (for example Ctrl+Shift+C and Ctrls+Shift+X are taken)

Since you can bind your own keyboard short cut I suggest doing this (File -> Preferences -> Keybroad)

[2016-04-20 09:33] #214 closed

[2016-04-20 09:37] stephenmartindale commented on #2047
Colour me disappointed! This issue is causing me to waste hours scrolling up and down the output panel and manually eye-balling file names and line numbers - particularly when refactoring or renaming a variable or class member.

Perhaps you could implement a "band-aid" fix in the interim: simply shelve the concept of problem ownership clear all "problems" when a build starts and register them from

[2016-04-20 09:38] joaomoreno commented on #534
They do not *disappear*. They are configured in the registry under `HKCU`, meaning they are scoped under the user who ran the installation. Had the installer been able to be run per user, independently, you'd have these actions in any user you'd like.

There always the possibility of adding some commands to Code that would install and uninstall these shortcuts for your user, as commands in the com

[2016-04-20 09:39] bpasero commented on #5538
Good idea.

[2016-04-20 10:04] stevencl commented on #5226
That's a very compelling argument @joaomoreno, I agree.

[2016-04-20 10:12] #5364 closed

[2016-04-20 10:21] bpasero opened #5539 "Group extension suggestions by glob pattern"
But I do not think we expose extension tips anytime except when I explicitly ask for recommendations?

@jrieken @joaomoreno fyi

[2016-04-20 10:22] jrieken commented on #5539
I have seen that...

[2016-04-20 10:24] isidorn commented on #5364
Nice catch. The issue was connected with #4623 in that a thread thought it's callstack length was a callStack length of some other thread. Fixed this by always respecting what the debug adapter says about the totalFrames, so if they are not supported this will not be possible. Will not look into the other bug...

[2016-04-20 10:31] jrieken commented on #5226
I think we agree on consistency, I just disagree about making that change in small increments and starting with a random widget. If we can establish and formulate a rule then we should go by it.

[2016-04-20 10:33] #5536 closed

[2016-04-20 10:41] bpasero commented on #5539
This is the number of glob.match calls we do when I open a file. I also notice that we match the same pattern over and over again if the recommendation uses the same pattern.

[code]

[2016-04-20 10:46] bpasero commented on #5438
This caused a severe performance regression. Have to really add performance tests for the pattern we use to not get into this again...

[2016-04-20 10:47] jrieken opened #5540 "instantiation services fails to caches services in cases"
It might happen that a service dependency is cached not properly and therefore created again on subsequent calls.

[2016-04-20 10:48] #5540 closed

[2016-04-20 10:54] diryboy commented on #2267
+1, I also miss this feature. Commenting to get notification.

[2016-04-20 10:55] jrieken commented on #5438
This is the cause for  #5539

[2016-04-20 10:58] dbaeumer commented on #5539
@jrieken assigning to you to have an owner.

[2016-04-20 10:59] lukaschal commented on #5331
Fixed.

[2016-04-20 10:59] #5331 closed

[2016-04-20 11:00] weinand commented on #5300
@SilentTiger "It cannot stop more than one project by breakpoins at the same time." That's exactly one of the issues we want to avoid in VS Code. But that would require to be able to show multiple threads, stacktraces, variables, debug console etc. Doing this with multiple windows is much clearer and simpler than squeezing it into one window.

[2016-04-20 11:06] vvekic commented on #5537
I've tried to reproduce, and detected additional weirdness:

In step 4, when switching back to 'IBM 3270", I didn't get the serif-monospaced thing, instead, the font remained the same (Arial Narrow), only the entire editor shifted right by a few pixels. The font then doesn't change no matter what you put as the font family, as long as it has at least 2 words, the first being "IBM", e.g. "IBM 3270x

[2016-04-20 11:13] dbaeumer commented on #4162
Still seeing this. Running code directly in node however prints the correct statement. See screenshot.
![capture](https://cloud.githubusercontent.com/assets/1931590/14672688/a3cbf346-06f9-11e6-8718-885ac11ef00d.png)

Assigning to @joaomoreno to further investigate.

[2016-04-20 11:58] joaomoreno commented on #5539
I'd fix this by not using glob in here, but simple regexes. I would not drop the current behaviour of reacting every time a file is open.

[2016-04-20 11:59] joaomoreno commented on #4162
I use `toLocaleTimeString()`, as discussed earlier. If you open dev tools and try to run that method on a Date, what do you get?

[2016-04-20 12:09] rkhat commented on #5526
The issue is how can I know whether another task is invoked. You can't access or check other tasks from within a running task unless I missed something in the API.

You can change the example to invoking a child process:
[code]

This task runs indefinitely. If the user wants to change a setting (extension supports extra settings) or accidentally invoked the same task again, you get multiple instan

[2016-04-20 12:12] jrieken commented on #5539
The historical reason for the eager compute is that we had (and according to discussions maybe will again) hint that there are extensions before the user does something. For that reason I would also not change the model to a lazy one.

[2016-04-20 12:17] jrieken commented on #5539
@joaomoreno Agree with the simple regexes, tho I assume that glob optimises for this and the I remember in typescript land I had [glob2](https://github.com/Microsoft/vscode/blob/0.10.10/src/vs/languages/typescript.workbench/common/projectResolver.ts#L555)

[2016-04-20 12:17] DGideas opened #5541 "How to use vscode on website?"
I saw some website like http://try.buildwinjs.com/ use code editor like vscode. And I want to know how to use vscode on my website? I haven't see any topic on vscode wiki.
Thanks

[2016-04-20 12:25] isidorn opened #5542 "Cannot launch unsigned Code anymore"
[code]

[2016-04-20 12:34] dbaeumer opened #5543 "SmokeTest: vscode offers to create jsconfig.json although it exists"
- VSCode Version: 1.0.1-Insider
- OS Version: Windows 10

Steps to Reproduce:

1. Express smoke test
2. Observe: green light bulp shows up although jsonfig.json file exists. Clicking on it prompts to create one.

![capture](https://cloud.githubusercontent.com/assets/1931590/14674555/ecd8f966-0704-11e6-96c5-e0cd5116a94a.png)

[2016-04-20 12:42] dbaeumer opened #5544 "A11y: actions within the tree are not read by screen readers"
- VSCode Version: 1.0.1 - Insider
- OS Version: Windows 10, NVDA

Steps to Reproduce:
1. Put workbench in tab mode
2. Tab into the working files section in the explorer
3. Observe: the x button to remove a file gets focus but nothing useful is read.

[2016-04-20 12:48] FeaRCODE commented on #2465
Awesome! Feel free to close my issue #3795 if you want to.

[2016-04-20 12:51] dbaeumer commented on #4162
![capture](https://cloud.githubusercontent.com/assets/1931590/14675054/6187cede-0707-11e6-84f4-24101c510afb.png)

[2016-04-20 12:52] dbaeumer commented on #4162
Might be an electron issue. I tested it with older node version as well and they behave correctly.

[2016-04-20 13:02] SetTrend opened #5546 "Regular expression in Find dialog can't cope with backticks"
![vscode regexerror](https://cloud.githubusercontent.com/assets/9283914/14674939/bf991772-0706-11e6-8f59-5010c4d29edd.png)
<br/>
I can't replace text containing backticks. Visual Studio Code doesn't correctly deal with those:
<br/>
![vscode regex error](https://cloud.githubusercontent.com/assets/9283914/14675320/bc4b680c-0708-11e6-8222-0613fefa850e.gif)

[2016-04-20 13:05] dbaeumer commented on #2047
@stephenmartindale sorry about that. There are several possible interim fixes for your specific problem:

- if you only want to rely on the problems produce by the external gulp file keep your gulp owner in the problem matcher and add the following setting to your workspace settings
[code]
This basically 'emulates' clearing all errors on build
- assuming that your gulp task is not a watching task

[2016-04-20 13:08] #5517 closed

[2016-04-20 13:08] SamVerschueren opened #5547 "Add a global action to add a new file in the explorer"
- VSCode Version: 1.0.0
- OS Version: OSX 10.11.3

I noticed that we can set `workbench.action.files.newFolder` to a keybinding. Which creates a nice input field in the sidebar to create the directory at the current selected position.

![screen shot 2016-04-20 at 15 06 05](https://cloud.githubusercontent.com/assets/1913805/14675479/7f52a86a-0709-11e6-9f55-4253728f5cb5.png)

But there is no possibi

[2016-04-20 13:10] dbaeumer commented on #5513
@jrieken assigning to you. Not sure were we get the TextMate grammar from

[2016-04-20 13:27] tw1nk commented on #5541
There is already a feature request open for this here:
#446

[2016-04-20 13:31] dbaeumer commented on #5330
This is really strange. I cloned the repository and tried to reproduce but failed. Here is what I see.

![bug](https://cloud.githubusercontent.com/assets/1931590/14676247/f6250c82-070c-11e6-9f88-ca6e993d8948.gif)

Can you think of any difference? We are aware that we loose indentation when you insert two empty lines in a row and there is a corresponding issue in the TS land for this.

[2016-04-20 13:32] jrieken opened #5548 "insider build complains about my language settings"
I had this configure from the previous test run. Should be proper according to [this](https://code.visualstudio.com/docs/customization/locales)

![screen shot 2016-04-20 at 15 27 47](https://cloud.githubusercontent.com/assets/1794099/14676249/f788fdae-070c-11e6-9d24-7a495fe593a4.png)

[2016-04-20 13:33] kataras commented on #446
+1 ,I think that this feature will bring closer to this project many people who don't use the vs code yet

[2016-04-20 13:33] dbaeumer commented on #5548
Good catch. Actually the proper value is en. I will add both to make json happy.

[2016-04-20 13:36] jrieken commented on #2351
Got some time to reason about this. I am against adding something to the `TextDocumentContentProvider` and the label of an uri isn't part of the `TextDocument` e.g. it cannot be retrieved from a document. It should be more like a UriLabelProvider that given a uri can provide some sort of title.

[code]

[2016-04-20 13:44] epicgirl1998 opened #5549 "javascript doc comments don't work for a parameter named `type`"
- VSCode Version: 1.0.0
- OS Version: Windows 8.1

Steps to Reproduce:

1. create a .js file containing the snippet below
2. hover over the function's name

[code]

the type hint for `type` should be `string`, but instead it is `any`

other parameter names do not suffer from the issue

i made a screenshot for your viewing pleasure:

![type](https://cloud.githubusercontent.com/assets/18557590/14675

[2016-04-20 13:48] bpasero opened #5550 "Create new conf files with right indent settings"

[2016-04-20 13:50] bpasero commented on #5550
Setting optimistically for April, but might slip to May. @outcoldman fyi

[2016-04-20 13:53] jrieken opened #5551 "debug - merge Watch and Variables section"
When debugging I feel often distracted by the _Watch_ section and I would propose to merge its information with the _Variables_ section. It should be shown as a subgroup similar to scope variables.

For me, and I believe I am not alone with that, the Variables and the Callstack sections are the most important. Now, my problem is that I actually use the Watch-section and therefore cannot just colla

[2016-04-20 13:54] jrieken commented on #5551
@isidorn  We talked about this. fyi @stevencl @bgashler1

[2016-04-20 13:56] jrieken opened #5552 "Debug exploration: Async Callstacks"
In chrome and node dev tools you enable async callstacks which means calls like setTimeout are not without parent but it shows where setTimeout was invoked when debugging its callback function. Pretty handy

[2016-04-20 14:01] #5095 closed

[2016-04-20 14:05] paramquery commented on #1741
+1

much needed feature.

[2016-04-20 14:07] jrieken commented on #5448
We should have `MessageOptions` similar to how we have `QuickPickOptions` which allows to control this. Like

[code]

[2016-04-20 14:10] joewood commented on #4951
The debugger for node is pretty much unusable right now. Will this be fixed any time soon? This is using node 4.4.2. VS Code 1.0.  I don't see this related to large data structures, I see this when stepping any code, nothing in the watch window.

[2016-04-20 14:13] jtsom commented on #5255
And yet in Omnisharp, they are saying the "fix" has been merged in, and yet it is still broken.

[2016-04-20 14:18] biij5698 commented on #5476
@bpasero  I want to open multiple files by the way of multi-window, such as sublime text

[2016-04-20 14:19] tjpeden commented on #4690
What is it you're looking for?

[2016-04-20 14:22] venil7 commented on #5330
I'm not sure that `code --disable-extensions .` disables extensions, because I can still see extensions if i type `Show Installed Extensions` into command line

So my previous experiment may not have been clean.

[2016-04-20 14:24] venil7 commented on #5330
One other observation - I can see that when I hit `[Enter]` cursor goes to where it should be.. and then immediately goes to beginning of line.. :(

[2016-04-20 14:28] bpasero commented on #5476
@biij5698 you can do File > New Window and open files in there? Can you explain your scenario better?

[2016-04-20 14:42] rakkarage commented on #5510
![folder](https://cloud.githubusercontent.com/assets/962340/14678647/9963bc14-06e4-11e6-8d9a-708813fa9703.gif)

[2016-04-20 14:43] alexanderby opened #5553 "Dark Theme JSX attributes grayed out"
- VSCode Version: 1.0.0
- OS Version: Windows 7, 10

See the screenshot, Dark theme compared to Monokai theme. Only strings are colored inside JSX attributes.

![vscode-jsx-dark-theme-bug](https://cloud.githubusercontent.com/assets/9638588/14678634/3207fc3e-071f-11e6-8a4f-b74d16d457c4.png)

[2016-04-20 14:47] bpasero commented on #5510
@rakkarage yeah maybe, what is inside the folder?
Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions`

[2016-04-20 14:52] kyberias commented on #4690
I'm not going to paste my full %PATH% here but at the end there's:

C:\Users\jaakk_000\AppData\Local\Programs\Git\cmd;C:\Program Files (x86)\Microsoft VS Code\bin

Does a 32-bit (?) VS Code work with 64-bit git?

[2016-04-20 14:53] rakkarage commented on #5510
https://marketplace.visualstudio.com/items/ms-vscode.cpptools
this causes it :)
thanks

[2016-04-20 14:56] csholmq opened #5554 "Make pinning of editors configurable"
There is a desire to configure preview editors via settings:
* allow to always pin an editor when it opens
* allow to always pin a file when it opens from quick open

**Original Post**:
I would expect Ctrl+P opening a new editor (which it does) and then adding that file to working files (which it doesn't). Instead the file is just revealed in the tree view and I have to double click on it to add i

[2016-04-20 14:57] bpasero commented on #5510
@rakkarage so what kind of file does it put in there?

[2016-04-20 14:58] jrieken commented on #1741
This is an issue with TypeScript. For JavaScript this actually works a lot better then for TypeScript...

[2016-04-20 14:58] jrieken commented on #1741
This issue was moved to Microsoft/TypeScript#8218

[2016-04-20 14:58] #1741 closed

[2016-04-20 14:59] timwieman commented on #901
As another data point, just yesterday I had Visual Studio **2015 Update 1** stage 3 files for deletion. Git version 2.7.2. Windows 10 Version 1511 (OS Build 10.586.218).  I had modified and committed 3 files in git locally, and I did a pull (within VS 2015's Team Explorer window) that also had the 3 files modified. Instead of merging them, it deleted them from the local file system. I **DID** have

[2016-04-20 15:02] jrieken commented on #5016
hard to understand... It can only be that we create an untitled document which then isn't sync over to the extension host...

[2016-04-20 15:08] jrieken commented on #5016
Moving to May in the hope that the additional assertion provides more insights

[2016-04-20 15:11] outcoldman commented on #5510
Is the ms cpptools extension open sourced?

@bpasero `.browse.VC.db`

[2016-04-20 15:14] bpasero commented on #5510
Yes, please file this at https://github.com/Microsoft/vscppsamples/issues

[2016-04-20 15:14] #5510 closed

[2016-04-20 15:22] Debonnys commented on #5183
An "Open current folder" button under the open Folder button or something equally easy would be a very welcome feature!

[2016-04-20 15:25] bording commented on #5516
@bpasero I just tried the version you linked, and there is no change in behavior. It's doing the same thing as 1.0.0.

Looks like it still hasn't been fixed in Electron yet.

[2016-04-20 15:25] outcoldman commented on #5510
I guess it is documented in https://github.com/Microsoft/vscppsamples/issues/14

[2016-04-20 15:26] bpasero commented on #5516
Ok thanks.

[2016-04-20 15:39] VanCoding opened #5555 "dotnet run works, but vs code shows lots of errors"
Hi guys!

I use VS Code to develop my ASPNetCore application. It highlights over 50% of my code as errorous from the beginnging, even if `dotnet run` works just fine. I first thought that it's just a bug that you are aware of and are going to fix in a coming version. But when you guys released V1.0, I began to doubt that.

Also, VS Code constantly tells me that I need to restore, even if I have ma

[2016-04-20 16:24] Fozzy0007 opened #5556 "Alt-F-S doesn't save the current file"
- VSCode Version:
- OS Version:

Steps to Reproduce:
1. edit a file (VSCode marks it as needing to be saved)
2. Alt+F+S

file doesn't save.  in any other windows program, chording Alt+F (let go of F, keep holding Alt) + S will save the file.

if you let go of "Alt" between F and S, it works.  my muscle memory is messing with me.

[2016-04-20 16:34] outcoldman opened #5557 "Indent Patterns are not defined/work for Python"
- VSCode Version: 1.0.0
- OS Version: OSX 10.11.4

Steps to Reproduce:

1. Create new `.py` file
2. Start typing `def test():`
3. Press enter

Expected:
Code editor should indent function body.

Actual:
Editor keeps old indention

![python-indent](https://cloud.githubusercontent.com/assets/597158/14682544/e8699d60-06da-11e6-9bf3-5bd179cc73dd.gif)

[2016-04-20 16:35] KalitaAlexey commented on #4308
I had that on my Linux Ubuntu 14.04.3 x64. I have fixed with the following steps:

* I had removed visual-studio-code
[code]
* I had removed everything that was not deleted. I had found this with
[code]

[2016-04-20 16:39] mphaney commented on #1749
Definitely +1 on this issue :-)

[2016-04-20 16:42] outcoldman opened #5558 "Allow to ignore extensions"
## Proposal:

Allow to specify the list of extensions you want to ignore / include in the runtime, when you are opening the folder.

For example, at current moment Microsoft CPP extension always creates `.vscode/.browse.VS.db` in every folder you open. With the allowing to be able to ignore / include extensions I could use something like
### user settings

[code]
### In few projects / folders wher

[2016-04-20 16:42] isidorn commented on #4623
@edumunoz This does not seem to be true, the debugService updates the model both when receiving a [ThreadEvent](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L275) and a [StoppedEvent](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/electron-browser/debugService.ts#L245).

So in your case you should not se

[2016-04-20 16:42] #4623 closed

[2016-04-20 16:45] isidorn commented on #5348
Asigning to me to investigate

[2016-04-20 16:47] outcoldman opened #5559 "List of required extensions for project"
## Proposal

Allow projects to specify list of recommended/required extensions.
### Proposed solution

For example, vscode may have in the `.vscode/settings.json`

[code]

When user will open this project - he will see a message if extension has not been installed

[2016-04-20 16:47] weinand commented on #4951
@joewood could you please try to debug the same code with node-inspector?

[2016-04-20 16:56] Tyriar commented on #3795
Duplicate of https://github.com/Microsoft/vscode/issues/2465

[2016-04-20 16:56] #3795 closed

[2016-04-20 16:58] outcoldman opened #5560 "Light themes (and some others) do not recognize all python keywords"
- VSCode Version: 1.0.0
- OS Version: OSX 10.11.4

Steps to Reproduce:

1. Sample code

[code]

Expected `not` and `in` should be recognized as keywords in all themes, but looks like only imported from Textmate (like monokai) are recognize them as keywords.

![python-themes](https://cloud.githubusercontent.com/assets/597158/14683226/7573cf7a-06de-11e6-8821-f0655cdc4c22.gif)

[2016-04-20 17:11] jakepearson commented on #5161
@otbe While I wait for a proper release, how do I set `useCaseSensitiveFileNames`? Thanks!

[2016-04-20 17:15] Tyriar commented on #5556
This is an Electron issue https://github.com/atom/atom/issues/10732

[2016-04-20 17:19] Tyriar opened #5561 "Use specific user data directories when running as root"
Instead of needing to use `--user-data-dir` while running as root, this should be handled before Electron is launched.

[2016-04-20 17:44] Tyriar commented on #3884
@bpasero what are your thoughts on getting this in for April? My experience with playing around with user data to date is that it seems fairly contained and can be moved without any issues.

The reason I want to do this soon is I'd like to have a set root user data dir as one is required to run under `sudo` (https://github.com/Microsoft/vscode/issues/5561). That would mean that instead of:

- `~/.

[2016-04-20 17:45] v-pavanp commented on #5200
Today, while building my ts project I found that there are again two version of the ts files and error message is only displaying with one version. Tthat is really confusing me as both the files are identical but VSCode treat them differently. This is really annoying and confusing for end user so please fix this issue.

![image](https://cloud.githubusercontent.com/assets/17735796/14684399/9e382f4a

[2016-04-20 17:47] weinand commented on #4623
@isidorn  we need to send a 'thread' request to the adapter because the 'stopped' event does **not** provide the list of threads. It just has one 'threadId' (which does not even include the thread's name). In order to render the list of threads you need all of them and their names. And this information is not part of the stopped event

[2016-04-20 17:48] vsccarl commented on #5369
Here's the error that it produces: ![multipledebugerror](https://cloud.githubusercontent.com/assets/12900364/14684522/323dda6e-06e5-11e6-844f-7a7aaadaa299.PNG)

The project is [node-js-sample](https://github.com/heroku/node-js-sample)

[2016-04-20 17:52] weinand commented on #4308
@KalitaAlexey does this mean you have uninstalled and then installed VS Code again and now extension debugging works fine?

[2016-04-20 17:53] KalitaAlexey commented on #876
This is closed in 1.0

[2016-04-20 17:53] #876 closed

[2016-04-20 17:56] KalitaAlexey commented on #4308
@weinand Yes.

[2016-04-20 17:56] weinand commented on #5369
@vsccarl the `EADDRINUSE` is an indication that your code tries to serve the same port '5000' more than once. Please use a different port for the second program.
This is not a VS Code problem.

[2016-04-20 17:57] otbe commented on #5161
@jakepearson
Instead of hacking the source of vscode/typescript you can use a nightly build of typescript (e.g. ```1.9.0-dev.20160420```) and set ```typescript.tsdk``` in your user settings of vscode.

I utilize my project version of typescript for that:
[code]

[2016-04-20 17:57] #5369 closed

[2016-04-20 18:00] weinand commented on #4308
@KalitaAlexey thanks for trying this. I still have no clue why this is problem occurs and why it can be solved by reinstalling VS Code.

@bpasero do you have an explanation?

[2016-04-20 18:05] KalitaAlexey commented on #4308
@weinand It happens to me after I tried **VSCode for insiders** and then installed **VSCode 1.0**.
I got insiders from https://code.visualstudio.com/download?insiders=true
I got stable from https://code.visualstudio.com/download?insiders=true#stable-downloads

[2016-04-20 18:10] aeschli commented on #5513
This issue was moved to OmniSharp/omnisharp-vscode#225

[2016-04-20 18:10] #5513 closed

[2016-04-20 18:18] vsccarl opened #5562 "C# does not autocomplete closing quotation"
- VSCode Version: 1.0.1-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open a c# file and start typing a method that accepts a string.
2. Console.WriteLine( Type a " here

Actual:
Does not autocomplete the ending ". This is not the behavior of Visual Studio 2015.

[2016-04-20 18:19] dbaeumer commented on #5541
Yes, this is a dup of #446

[2016-04-20 18:19] #5541 closed

[2016-04-20 18:19] egamma commented on #397
@fantacytyx  currently this item is on the backlog and has no planned date, sorry.

@RobertoMalatesta did you try the `Open Symbol by Name` action (typing # in the command palette followed by the symbol name).

[2016-04-20 18:19] aeschli commented on #5560
The python tokenizer uses the scope `keyword.operator` for `not` and `in` as well as for other operators such as `+` and `=`
In the VS default themes (light and dark) we chose to color these with the background color.
I'd recommend you to use e.g. Monokai or Solorize Light if you prefer the coloring of the operators.

[2016-04-20 18:19] #5560 closed

[2016-04-20 18:24] #5493 closed

[2016-04-20 18:28] dbaeumer commented on #5513
This issue was moved to OmniSharp/omnisharp-server#212

[2016-04-20 18:28] aeschli commented on #5465
This issue was moved to Microsoft/TypeScript-TmLanguage#146

[2016-04-20 18:28] Krisa commented on #178
Would love that too. The Git tab is very handy but this is for another purpose - having colors like in Atom would be very complimentary to see at a glance what's changed and where (with the color propagating automatically up to the top directory). That's probably the feature I miss the most from Atom.

Usually, you don't have 10s or 100s of modified files uncommitted, so it's unlikely to look like

[2016-04-20 18:28] #5465 closed

[2016-04-20 18:30] dbaeumer commented on #5549
This issue was moved to Microsoft/TypeScript#8222

[2016-04-20 18:30] #5549 closed

[2016-04-20 18:30] aeschli commented on #5431
This issue was moved to Microsoft/TypeScript-TmLanguage#147

[2016-04-20 18:30] #5431 closed

[2016-04-20 18:31] DaFri-Nochiterov opened #5563 "VS Code resets keyboard layout"
- VSCode Version: 1.0.0
- OS Version: Ubuntu 15.10, 16.04 (Cinnamon DE)

Steps to Reproduce:
1. Open Visual Studio Code

VS Code resets keyboard layout to "es"

I also recorded video: https://youtu.be/aZX5QGP-t0g

[2016-04-20 18:39] borgdylan opened #5564 "Regression: Code fails to tokenize files"
- VSCode Version: 1.0.1-insider
- OS Version: Ubuntu 15.10 on Linux 4.2

Steps to Reproduce:

1. Open code and load a folder.
2. Observe 'The mode has failed while tokenizing the input.' in a message on opening a file.
![code1 0 1-regression](https://cloud.githubusercontent.com/assets/7761010/14686212/fe2ea35e-0737-11e6-8008-5e9ba7abcba3.png)

[2016-04-20 18:42] dbaeumer commented on #5330
The switch is correct. It disables extensions for that specific run.

[2016-04-20 18:43] dbaeumer commented on #5330
I tried this on Windows so far. Will try on Mac.

[2016-04-20 18:44] dbaeumer commented on #5330
@jrieken: can you please check if you can reproduce this on the Mac. I can't under Windows. Just to be sure.

[2016-04-20 18:45] dbaeumer commented on #5330
This comment has instruction where to find the repository: https://github.com/Microsoft/vscode/issues/5330#issuecomment-212319726

[2016-04-20 18:46] ThomasWeiser opened #5565 "AutoSave when app looses focus"
When working with automatic rebuild/refresh tools (e.g. in web development) it would be handy if vscode would save all modified files as soon as its window looses the focus when switching to another application.

There is an option `files.autoSave: onFocusChange`. There should be another option `onWindowDeactivation` or something like that.

JetBrains' line of IDEs has this option. IMHO it's very

[2016-04-20 18:47] borgdylan commented on #5564
To clear stuff up: this happens on any file I tried to open.

[2016-04-20 18:53] borgdylan commented on #5564
It was a mix up: updating by just overwriting yields a broken install, deleting teh isntall and unzipping afresh in the emptied folder fixes the issue.

[2016-04-20 18:53] #5564 closed

[2016-04-20 18:57] OliverJAsh opened #5566 "TypeScript syntax highlighting: improve function expressions"
- VSCode Version: 1.0.0
- OS Version: Mac OS X latest

Steps to Reproduce:

1. Add the following to a TS file: `const foo = (): Model => ({ 'bar': 'baz' })`

Result: the function body expression has no detail.

![image](https://cloud.githubusercontent.com/assets/921609/14686724/02f506c2-0732-11e6-8d97-5432dbec081c.png)

This is true for larger expressions too:

![image](https://cloud.githubusercon

[2016-04-20 19:08] dbaeumer opened #5567 "Add en-US as a locale since we proposed it as a default."
- VSCode Version: 1.0.0-alpha
- OS Version: Windows

[2016-04-20 19:09] #5567 closed

[2016-04-20 19:19] isidorn commented on #4623
@weinand got it, there was an issue around this which should get fixed via b06cd81 so @edumunoz make sure to try it with that commit included

[2016-04-20 19:27] aeschli commented on #5426
We use the beautify-html library. It has a option '"html.format.unformatted" that lists all html tags that should be kept on the same line. The default value is the list of elements named here: https://www.w3.org/TR/html5/dom.html#phrasing-content.
You see that 'template' as one of the tags that should not be formatted.
To have it formatted, you have to define the setting yourself. E.g.
[code]

[2016-04-20 19:31] jakepearson commented on #5161
@otbe That worked. Thanks a bunch.

[2016-04-20 19:39] aeschli commented on #5553
caused by #3008

[2016-04-20 19:39] #5553 closed

[2016-04-20 19:50] espresso3389 opened #5568 "IME Composition font is different from the font specified by editor.fontFamily"
- VSCode Version: 1.0.1-insider
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. Turn IME on and type some characters.
2. You can see the font during IME composition is different from the font specified by editor.fontFamily.

![animation](https://cloud.githubusercontent.com/assets/1311400/14688163/349df892-077c-11e6-9372-a877d4cd197d.gif)

[2016-04-20 19:53] wind39 opened #5569 "Error starting OmniSharp"
- VSCode Version: 1.0.0
- OS Version: Kubuntu 16.04

Steps to Reproduce:

1. Install C# extension.
2. Try to edit an existing C# project, already containing a .csproj file in the folder.

[INFO] Starting OmniSharp at '/home/william/Documents/Projects/SQL/SQL.sln'...
[INFO] Started OmniSharp from '/home/william/.vscode/extensions/ms-vscode.csharp-0.3.7/bin/omnisharp' with process id 13156...
System

[2016-04-20 20:01] a8775 opened #5571 "nodejs debug not working - sometimes..."
- VSCode Version: 1.0.0
- OS Version: Windows 10
- NodeJS: 4.1.1

Steps to Reproduce:
It happen on one computer sometimes on other never.... I'm not able to reproduce 100% on this one that it happen.

The effect of starting debugging is:
- on top debug panel that disappear after 2-3 seconds,
- in debug console typical 2 lines:
[code]

I would like to make some more research on this issue. Please g

[2016-04-20 20:10] isidorn commented on #1703
@felixfbecker first of all, sorry for the slow response, this somehow went under my radar.
Can you please try to reproduce this issue with the latest alpha vscode available [here](https://az764295.vo.msecnd.net/alpha/939cc3097a2fc3a6f7f10255def4b9618afb3791/VSCodeSetup-alpha.exe) that includes some of the potential fixes for this issue.

If you still see it, please attach a small php sample for wh

[2016-04-20 20:15] purplecabbage commented on #1348
+1 Please map ctrl+- to editor view, or better yet, whichever view has focus.
The icons in the top left changing size makes it obvious that the whole window is just one big webview ...
personally, I would not expect the icons to be zoomable via ctrl-+

[2016-04-20 20:16] vsccarl opened #5572 "Paused on exception text not translated"
- VSCode Version: 1.0.1-alpha
- OS Version:

Steps to Reproduce:

1. Set a breakpoint and start debugging

![pausedonexception](https://cloud.githubusercontent.com/assets/12900364/14688979/0b3129f2-06fa-11e6-8bda-fe3cd5fb0316.PNG)

"PAUSED ON .." is not being translated. It is translated correctly in 1.0 release.

[2016-04-20 20:26] dbaeumer opened #5573 "Add support to log tsserver communication to output channel."
- VSCode Version: 1.0.0

[2016-04-20 20:29] aeschli commented on #5381
- added the '.pug' file association
- once the new name is established and e.g. the pug-lang.com website is up and ready, we can also rename the extension, the label and the language id.

[2016-04-20 20:29] #5381 closed

[2016-04-20 20:31] #5573 closed

[2016-04-20 20:35] pcgeek86 opened #5574 "Weird auto-completion results for Azure Storage Account type"
- VSCode Version: 1.0.1-insider
- OS Version: Windows 10 RTM

Steps to Reproduce:

1. Invoke auto-completion (CTRL + SPACE) for the Azure Storage Account type property in an ARM JSON Template

**NOTE**: It used to provide blank results, but after the most recent VS Code upgrade, it started providing these really odd results.

![image](https://cloud.githubusercontent.com/assets/466713/14689580/28a7

[2016-04-20 20:54] aeschli commented on #5361
The build-in default themes do - by design- not highlight variable, method and function references.
The dark/light theme colorize however declarations.

@chmln Which custom theme to you use?

[2016-04-20 20:56] aeschli commented on #5349
This issue was moved to Microsoft/TypeScript-TmLanguage#148

[2016-04-20 20:56] #5349 closed

[2016-04-20 20:56] rbanffy commented on #5537
- VSCode Version: 1.0.0
- OS Version: Ubuntu 15.10

Unsurprisingly (it was very unlikely to be platform-specific), the problem exists on Ubuntu too.

[2016-04-20 20:58] aeschli commented on #5307
Yes, that was intended. It used to be red bold and was IMO not very pretty.
Now we use the default color for html tags.

[2016-04-20 20:58] #5307 closed

[2016-04-20 20:59] #5304 closed

[2016-04-20 21:00] aeschli commented on #5245
I looks like this is fixed now in 1.0
![image](https://cloud.githubusercontent.com/assets/6461412/14690287/bbac73e4-074b-11e6-8a1b-29b516aac2ea.png)

[2016-04-20 21:00] #5245 closed

[2016-04-20 21:01] aeschli commented on #5132
closing, assuming my assumption was right. Please comment if not...

[2016-04-20 21:01] #5132 closed

[2016-04-20 21:03] aeschli commented on #5216
related to #3008

[2016-04-20 21:03] #5216 closed

[2016-04-20 21:09] pcgeek86 opened #5575 "Collapsing XML isn't working correctly"
- VSCode Version: 1.0.1-insiders
- OS Version: Windows 10 RTM

Steps to Reproduce:

1. Open `Microsoft.PowerShell.Commands.Management.dll-Help.xml`
2. Collapse the first `<command:syntax>` XML element you come across
3. Notice that the collapsing is prematurely canceled

![image](https://cloud.githubusercontent.com/assets/466713/14690564/e374e2ae-0709-11e6-99f7-fa936e227315.png)

Cheers,
**Trevor

[2016-04-20 21:12] chmln commented on #5361
*One Dark*

I have tried all the popular color themes, and not a single one has colored variables, methods, etc.

Logically, that can be explained by two scenarios:
* It is impossible to color variables, methods, and function references
* All the color scheme authors are closet notepad fans

[2016-04-20 21:12] chmln commented on #5361
![1](https://cloud.githubusercontent.com/assets/11352152/14690555/9bd18810-071a-11e6-92de-57084534303b.png)
![2](https://cloud.githubusercontent.com/assets/11352152/14690552/9bb22dd0-071a-11e6-85a3-60bd9c475373.png)
![3](https://cloud.githubusercontent.com/assets/11352152/14690551/9bb1f89c-071a-11e6-8b70-76169bf985fb.png)
![5](https://cloud.githubusercontent.com/assets/11352152/14690553/9bb3ea26-0

[2016-04-20 21:13] v-pavanp opened #5576 "Controls are not visible when user try to perform uninstall action on the selected item from the installed extension list."
- VSCode Version: 1.0.0.1-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch app and press F1 to launch command palette.
2. Enter extension keyword and select installed extension option.
3. It will display the list of the installed extensions .
4. Select any item from the extension list and verify controls for "Readme", "License" or "Uninstall extension".

Actual: Controls are not visibl

[2016-04-20 21:16] felixfbecker commented on #1703
@isidorn Tried the alpha release, but the problem described above still exists (stack disappears, exit ignored). When I try to continue the already-exited thread, my debug adapter sends an error response with "Unknown Thread ID". I also noticed another issue in the alpha build that is not in stable or insiders, the TerminatedEvent is ignored too.

Any PHP file will do for reproducing, like https:/

[2016-04-20 21:51] Tyriar commented on #5361
The root issue here is that https://github.com/Microsoft/TypeScript-TmLanguage does not scope variables and method calls.

[2016-04-20 22:02] chmln commented on #5361
That explains it.
I see issues like https://github.com/Microsoft/TypeScript-TmLanguage/issues/72 so I surely can't be the first one to notice those shortcomings.

[2016-04-20 22:03] weinand commented on #4951
@joewood since you are the first who reports that node debug "is unusable in VS Code 1.0" it cannot be a wide spread issue. Could you please share some details about your problem so that we can investigate.

[2016-04-20 22:09] espresso3389 opened #5577 "Bad Japanese (ja) translation for "Select All Occurences of Find Match""
- VSCode Version: 1.0.1-insider

"Select All Occurences of Find Match" is currently translated as "一致項目のすべてのオカレンスを選択".
But it should be "すべての出現箇所を選択". At least, "オカレンス" is not a Japanese word.

![image](https://cloud.githubusercontent.com/assets/1311400/14692076/ccad8040-078f-11e6-8da8-096ddf98f9d2.png)

[2016-04-20 22:24] lukehoban opened #5578 "Function completion does not work across multiple cursors"
_From @sparrc on April 20, 2016 5:10_

First off, thanks for the great vscode plugin!

Here's a full dummy script to reproduce my problem:

[code]

steps are:
1. select the first `8`
2. ctrl+d or cmd+d to select both `8` variables
3. begin typing `buf.Le...` and wait for completion of `buf.Len()` to appear
4. select `buf.Len()` with tab or enter

When I do this, only the first of the `8` variables

[2016-04-20 22:24] lukehoban commented on #5578
It appears this only happens for your repro steps if you have `"go.useCodeSnippetsOnFunctionSuggest": true`.

In that case, the item you are selecting in the completion list is a snippet.

It appears that when there are multiple cursorts, and a user tries to complete on a snippet, VS Code only inserts it in the first location.

That appears to be a bug/limitation in VS Code.  I'll move over to tha

[2016-04-20 22:59] vsccarl opened #5579 "[java] Colorization could be improved for import text"
- VSCode Version: 1.0.1-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Open a java file with imports

![javacolorcode](https://cloud.githubusercontent.com/assets/12900364/14693074/bbcc93b2-0710-11e6-8c5f-5d5acfd5e76e.PNG)

In other editors (Atom) import and static are blue while the package has a color similar to a class name (e.g. green)

[2016-04-20 23:03] vsccarl opened #5580 "Explorer should have a horizontal scroll"
- VSCode Version: 1.0.1-alpha
- OS Version: Windows 10

When folders/files are deeply nested, such as a java application under many packages (src\main\java\com\google\android\etc..) the only way to see the full file name is to have a large explorer window.

[2016-04-20 23:06] vsccarl opened #5581 "Hover on a file name in explorer should display file name"
- VSCode Version: 1.0.1-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Shrink the explorer window to where some file names are cut off and show an ellipsis.
2. Hover over a file.

Hover should show a message with the file name like this:
![hoverfilename](https://cloud.githubusercontent.com/assets/12900364/14693220/d295786a-0711-11e6-81bc-ee252fd791c8.PNG)

[2016-04-20 23:27] vsccarl opened #5582 "Extension Development Host messes up layout after going to debug tab"
- VSCode Version: 1.0.1-alpha
- OS Version: Windows 10

Steps to Reproduce:

1. Create a VS Code extension following the [guide doc](https://code.visualstudio.com/docs/extensions/example-hello-world)
2. Debug 'Launch Extension'
3. In the Dev Host click the debug tab to open it
4. Click Explorer tab, click search tab

Actual:
The layout of the explorer and search sections are not in the right place

[2016-04-20 23:37] v-pavanp opened #5583 "Make the error message in the output window clickable to navigate to the error position."
- VSCode Version:1.0.1-alpha
- OS Version: Windows10

Steps to Reproduce:
1. Launch app and open folder which contains node.js TS express project (or any other proj)
2. Configure tasks.json, tsconfig.json and launch.json to build and debug.
3. Build project with CTRL+SHIFT+B
4. Verify output window.

Actual: Error message in the output window is not clickable to reach to the error position (Line n

[2016-04-20 23:38] Murriouz commented on #1491
Sublime remembers last non-fullscreen window size and restore it when reopen. VSCode won't remember last non-fullscreen window size and atom will restore fullscreen when reopen. I think the sublime's behavior is the best.

[2016-04-20 23:43] infininight commented on #1467
This has been corrected in the TextMate repository, but I have not tested the changes in VSCode.

[2016-04-20 23:56] sparrc commented on #5578
thanks @lukehoban, here's my full user settings config for reference:

[code]

[2016-04-21 00:07] m-brt opened #5584 "Javascript symbol search / outline is truncated"
- VSCode Version: 1.0.0
- OS Version: Windows 8

Steps to Reproduce:

Use this simple JS and press Ctrl-Shift-O

function myNewClass() {}
myNewClass.prototype.firstFunction = function() {};
myNewClass.theSecondFunction = function() {};

I tried different files in our project but it seems all found symbols/functions are truncated with ellipsis after 17 characers...

![outline](https://cloud.githubu

[2016-04-21 00:17] warmsun-li opened #5585 "cant find the DEBUG Button"
- VSCode Version: 1.0.0
- OS Version: OS X 10.11.3

Steps to Reproduce:
1. click the fourth button on the left
2. in the debug view , I cant find "DEBUG"-name button

[2016-04-21 00:18] didierfranc commented on #825
I made this to get everything working OOTB https://github.com/didierfranc/vscode-react-intellisense

[2016-04-21 00:19] Tyriar opened #5586 "Test: Provide command to open most recently closed file/editor"
Test plan for https://github.com/Microsoft/vscode/issues/3989

- [x] Test Linux @isidorn
- [x] Test Windows @bpasero
- [x] Test OS X @kieferrm

This feature is supposed to reopen working files that are removed from the working files list. It does not work for preview files that are not yet in the working files list. This feature contributes a command (<kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>t</kbd>)

[2016-04-21 00:35] RobertoMalatesta commented on #397
To use  ^P# when you're already knowing what you're looking for.
Its interaction is less immediate than a toggable right column that starting from tsconfig.js lists all symbols in a tree. The latter is a birdseye view and inspector of the whole project structure. With that you can visually click-inspect an review the shape itself and the functionalities of the Project.
Much like any C++ Editor/Rad

[2016-04-21 00:39] Tyriar opened #5587 "./scripts/test.sh needs ./scripts/code.sh to run first"

[2016-04-21 00:54] jessicah opened #5589 "Can't open sub-folder in a new window"
- VSCode Version: 1.0.1-insider
- OS Version: Windows 10.0.14316

Steps to Reproduce:

1. Open a folder in vscode
2. One of the following:
2. a. Right click a sub-folder, Open with Code
2. b.1. Open a new vscode window
2. b.2. Explorer pane, Open Folder button
2. b.3. Select the sub-folder
3. Visual Studio Code will activate the already open window of the folder initially opened.

Prior to this re

[2016-04-21 00:56] Tyriar commented on #5575
I believe this is a duplicate of https://github.com/Microsoft/vscode/issues/3422, @pcgeek86 can you verify with the XML you're using?

[2016-04-21 00:57] jessicah commented on #5589
Nevermind, I just realised on re-launch, it opened the second window, not the first :( Would be nice if relaunch remembered all the windows I had open though!

[2016-04-21 00:57] #5589 closed

[2016-04-21 01:25] 1msoft opened #5590 "Command Palette's command maybe not locale"
- VSCode Version:1.0
- OS Version:osx

Steps to Reproduce:

1. set locale to zh-CN
2. F1 open Command Palette, press "Tasks", nothing.

[2016-04-21 01:30] Treri commented on #5590
#4679

[2016-04-21 01:30] Tyriar commented on #5590
Closing as duplicate of https://github.com/Microsoft/vscode/issues/4679

[2016-04-21 01:30] #5590 closed

[2016-04-21 01:36] Tyriar commented on #4740
Haven't seen this personally since then, closing.

[2016-04-21 01:36] #4740 closed

[2016-04-21 01:45] #5587 closed

[2016-04-21 02:24] LearnShare commented on #4679
Update to Insiders 1.0.1 now, and changed "locale" from "zh-CN" to "en-US", and then to "zh-CN", the command works now:

![image](https://cloud.githubusercontent.com/assets/3265208/14696016/242c7168-07aa-11e6-9610-950a660cae58.png)

But I think we still shouldn't translate the words, just show what we types:

![image](https://cloud.githubusercontent.com/assets/3265208/14696092/ce3b52c8-07aa-11e6-9

[2016-04-21 02:27] pcgeek86 commented on #5575
@Tyriar sure, it's the `c:\windows\system32\windowspowershell\v1.0\en-US\Microsoft.PowerShell.Commands.Management.dll-help.xml` file.

[2016-04-21 02:30] Treri commented on #4679
@LearnShare

Yes, I agree to you. I think the command labels shouldn't be translated.
If VSCode team think the command descriptions are necessary, maybe the localized command descriptions should appear following the english commands.

Anyone agree to me?

[2016-04-21 02:43] djabraham commented on #5334
Swagger 2.0 defined a $ref as this, but the code at [jsonSchemaService.ts#L432](https://github.com/Microsoft/vscode/blob/master/extensions/json/server/src/jsonSchemaService.ts#L432) assumes its a string, instead of an object. It crashes on split.

    "jsonReference": {
      "type": "object",
        "required": [
          "$ref"
        ],
          "additionalProperties": false,
            "p

[2016-04-21 03:02] x5lcfd commented on #3702
+ sidebar font

[2016-04-21 05:01] #5575 closed

[2016-04-21 05:53] joaomoreno opened #5591 "Extension query doesn't work by `name`"
Only by display name.

This breaks the instructions we provide on each extension's marketplace page. Eg: `ext install cpptools`.

[2016-04-21 06:05] kumarharsh commented on #637
Although I really like the willingness to improve the user experience, I have a few concerns I would like to put out there. There is this one thing I **really** dislike about atom - I have to leave my keyboard and use my mouse to install extensions. It's only a minute worth of time, but the experience is very jarring, and I have found myself trying to avoid installing packages until absolutely nec

[2016-04-21 06:12] lravindr opened #5592 "Indendation for Python is incorrect"
- VSCode Version: Version 1.0.0 (1.0.0)
- OS Version: Mac Yosemite

Steps to Reproduce:
1. Wrote a Python script with multiple static methods. When I try to run python, it couldn't detect all of the methods. Attached are the screenshots of Emacs and VSCode editors of the same script. VSCode has the incorrect indentations.
![screen shot 2016-04-21 at 11 36 35 am](https://cloud.githubusercontent.com

[2016-04-21 06:13] balachandar88 commented on #3132
is there a fix for this issue?

[2016-04-21 06:24] bpasero commented on #3884
@Tyriar happy to accept a PR on such a change and migration.

[2016-04-21 06:27] bpasero commented on #5547
@SamVerschueren sounds like a good example for a PR?

[2016-04-21 06:28] bpasero commented on #3884
@Tyriar ah nice, did not see your PR until now!

[2016-04-21 06:29] bpasero commented on #3132
This issue is currently assigned to the backlog. Every sprint we pick items from the backlog to plan for the current iteration. Please see https://github.com/Microsoft/vscode/wiki/Issue-Tracking#planning

[2016-04-21 06:31] SamVerschueren commented on #5547
Yes I looked into it but to be honest, I have to clue where to start :). So if you can point me in the right direction, I would be very happy to do one :).

[2016-04-21 06:32] bpasero commented on #4691
A fix has landed in insiders. You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

Happy for feedback!

[2016-04-21 06:32] bpasero commented on #5260
A fix has landed in insiders. You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

Happy for feedback!

[2016-04-21 06:34] bpasero commented on #959
We pushed a major update to the UI framework to our insiders release and would appreciate feedback if this issue got resolved. You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

Happy for feedback!

[2016-04-21 06:34] bpasero commented on #254
We pushed a major update to the UI framework to our insiders release and would appreciate feedback if this issue got resolved. You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

Happy for feedback!

[2016-04-21 06:34] bpasero commented on #1334
We pushed a major update to the UI framework to our insiders release and would appreciate feedback if this issue got resolved. You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

Happy for feedback!

[2016-04-21 06:34] bpasero commented on #1896
We pushed a major update to the UI framework to our insiders release and would appreciate feedback if this issue got resolved. You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

Happy for feedback!

[2016-04-21 06:35] bpasero commented on #5411
We pushed a major update to the UI framework to our insiders release and would appreciate feedback if this issue got resolved. You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

Happy for feedback!

[2016-04-21 06:35] bpasero commented on #508
Ok, an insiders release is out with my change included. Would be happy for someone to give it a try: http://code.visualstudio.com/Download#insiders

[2016-04-21 06:37] bpasero commented on #5547
@SamVerschueren I would start by fulltext search for the action id (workbench.action.files.newFolder) and that brings you here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/browser/fileActions.ts#L590

From there you can get a feeling how this global action works and maybe add the new one. You will also see the one on top for creating an untitled file (which is not

[2016-04-21 06:40] SamVerschueren commented on #5547
Alright, awesome. Thank you very much @bpasero. Will see what I can do :).

[2016-04-21 06:41] zhengbli commented on #959
![capture](https://cloud.githubusercontent.com/assets/1171301/14699928/0a555b96-0751-11e6-90cf-40b97cc37067.PNG)

Issue still exists.

Before scrolling:
![1](https://cloud.githubusercontent.com/assets/1171301/14699968/4a8161ba-0751-11e6-9668-9dd962a34702.PNG)
After:
![2](https://cloud.githubusercontent.com/assets/1171301/14699972/4e96edec-0751-11e6-8884-544a61b16d3e.PNG)

[2016-04-21 06:43] bpasero commented on #5547
👍

[2016-04-21 06:44] aeschli commented on #5361
Looking at Atom JS grammar it seems they use the `support.function` scope for function references.
For variable references it's `variables.other.object`.
We would still need a scope that stands for just the variable declaration.
Moving this to the TM/JS grammar team for consideration. I personally think we should stick to what we have.

[2016-04-21 06:44] aeschli commented on #5361
This issue was moved to Microsoft/TypeScript-TmLanguage#149

[2016-04-21 06:44] dbaeumer commented on #5584
The text comes back truncated from the TSServer. Moving to TS team.

[2016-04-21 06:45] dbaeumer commented on #5584
This issue was moved to Microsoft/TypeScript#8238

[2016-04-21 06:45] #5584 closed

[2016-04-21 06:48] dbaeumer commented on #5583
@isidorn I give this to you since you worked on the output view. IMO we need to allow output channel clients to register link matchers. I know that @bpasero tried to solve the generically but that will either miss stuff or produce too many false positives.

[2016-04-21 06:49] dbaeumer commented on #5582
@bpasero assigning to you since all views seem to be affected. Looks like a workbench issue.

[2016-04-21 06:51] jrieken commented on #5562
@vsccarl Stop filing C# issues in this repository. The correct repository is https://github.com/OmniSharp/omnisharp-vscode

[2016-04-21 06:52] #5562 closed

[2016-04-21 06:53] dbaeumer commented on #5578
@alexandrudima not sure if this is you or @aeschli

[2016-04-21 06:55] jrieken commented on #5559
@outcoldman Actually there is an [extension](https://marketplace.visualstudio.com/items?itemName=webstp.extension-manager) for this. We should consider promoting that.

[2016-04-21 06:56] dbaeumer commented on #5574
@aeschli might be something we want to fix for April.

[2016-04-21 06:56] bpasero commented on #5544
Seems to be true for any action in trees, I am quite sure this used to work but no longer is. No clue why so far...

[2016-04-21 06:56] joaomoreno commented on #4162
cc @bpasero

[2016-04-21 06:57] dbaeumer commented on #5572
@isidorn ignore if there is a nls.localize. We haven't received any new translation input yet.

[2016-04-21 06:57] jrieken commented on #5555
This issue was moved to OmniSharp/omnisharp-vscode#228

[2016-04-21 06:57] #5555 closed

[2016-04-21 06:58] joaomoreno commented on #4690
Sure. Which version of git do you have installed?

Does it work when you specify git's path exactly in the `git.path` configuration setting? In @kyberias's case, it would be `C:\Users\jaakk_000\AppData\Local\Programs\Git\cmd\git.exe`.

[2016-04-21 06:59] bpasero commented on #5582
I can reproduce for any empty folder. @isidorn could it be that debug viewlet crashes in empty folder setup?

shell.ts:454 Cannot read property 'map' of undefined: TypeError: Cannot read property 'map' of undefined
    at file:///C:/Program Files (x86)/Microsoft VS Code Alpha/resources/app/out/vs/workbench/parts/debug/browser/debugViewlet.js:4:6062
    at __dirname.undefined.t.Class.define.then (f

[2016-04-21 07:00] dbaeumer commented on #5569
This issue was moved to OmniSharp/omnisharp-server#213

[2016-04-21 07:00] #5569 closed

[2016-04-21 07:00] jrieken commented on #5330
I believe this is only happening on the second (!) line of trivia. It's a known issue with TypeScript/JavaScript format on type.

[2016-04-21 07:01] jrieken commented on #5330
I'd say it's related to https://github.com/Microsoft/vscode/issues/3797. Tho is reproduces for me only on the second line

[2016-04-21 07:04] joaomoreno commented on #5576
I cannot reproduce. Any more details...?

[2016-04-21 07:05] johnliu2016 commented on #5577
@lukaschal Improper JPN translation in following locations

[find.nls.resx.lcl](https://monacotools.visualstudio.com/DefaultCollection/Monaco/_git/MonacoLocalization#path=%2FLocalize%2Fjpn%2Fvscode%2Fsrc%2Fvs%2Feditor%2Fcontrib%2Ffind%2Fbrowser%2Ffind.nls.resx.lcl&version=GBmaster&_a=contents)

      <Item ItemId=";selectAllOccurencesOfFindMatch" ItemType="0;.resx" PsrId="211" Leaf="true">

[2016-04-21 07:05] dbaeumer commented on #5563
@alexandrudima don't know where to start :-). Since the editor has a native keyboard module I start with you. But could be an electron bug as well. @bpasero does this ring any bell to you?

[2016-04-21 07:07] bpasero commented on #5563
No ringing.

[2016-04-21 07:10] jrieken commented on #5330
checked with the repo from above, doesn't happen with the first but the second Enter. I remember this behaviour being present in a previous version of TypeScript and their 'fix' made it work for the first enter. @venil7 might not be on 1.0

[2016-04-21 07:11] dbaeumer commented on #5330
Exactly. His steps are with one line. This is why I keep investigating. Would like to understand his issues.

[2016-04-21 07:13] jrieken commented on #825
Closing since we now use TypeScript for this.

[2016-04-21 07:13] #825 closed

[2016-04-21 07:22] isidorn commented on #5585
Fixed with latest vscode insiders release, please try it there. Otherwise it will be available in the stable release in the next couple of weeks

[2016-04-21 07:22] #5585 closed

[2016-04-21 07:23] bpasero commented on #5519
@alexandrudima is there an event emitted when a command is executed like "Copy" in the editor?

[2016-04-21 07:28] mAiNiNfEcTiOn commented on #55
@bpasero would it be interesting to have something like: https://github.com/ggreer/the_silver_searcher as a dependency and use it? Seems powerful for file searches.

#justMy2Cents

[2016-04-21 07:29] isidorn commented on #5572
There is a [localize call](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/debug/browser/debugViews.ts#L289)

[2016-04-21 07:29] #5572 closed

[2016-04-21 07:33] #5361 closed

[2016-04-21 07:37] aeschli commented on #5241
What you see is that colors of the default theme are shining through (in the case the turquise for the definition).
I fixed this for 1.0.

[2016-04-21 07:37] #5241 closed

[2016-04-21 07:38] isidorn commented on #5571
Please check out these docs https://code.visualstudio.com/docs/editor/debugging
If you still see the issue let us know and please find a small reproducable sample repository where the issue happens.
Closing for now, will reopen if more data is provided

[2016-04-21 07:38] #5571 closed

[2016-04-21 07:39] jrieken commented on #5543
Problem is a bad `jsconfig.json` files. It read

[code]

Note the 4 w's, not 3. I have updated the test

[2016-04-21 07:43] samuell commented on #1681
Another option that might be very helpful is [Eclim](http://eclim.org/). It is used to provide Eclipse-level Java support in Vim, Sublime and other editors.

[2016-04-21 07:46] #5582 closed

[2016-04-21 07:48] isidorn commented on #5582
@bpasero yes, debug crashed for no folder workspace
This is a serious regression, not sure if we want to push it out to our insiders - marking as candidate to consider it.

ping @egamma

[2016-04-21 07:52] octref commented on #1668
@bpasero

[marked](https://github.com/chjj/marked) seems to be dead https://github.com/chjj/marked/issues/724

Maybe switch to a more well-maintained markdown library like https://markdown-it.github.io/ ?
Otherwise this issue can't be fixed.

[2016-04-21 07:55] Treri commented on #1668
@octref subscribe #4668 please

[2016-04-21 08:04] aeschli commented on #5592
@lravindr Can you paste your code here? Or make a screenshot with 'render whitespaces' turned on? What are the tab/spaces settings (you can see this in the status bar)

[2016-04-21 08:12] venil7 commented on #5330
Yes, happens on first [Enter], with `"editor.formatOnType": true,`

[2016-04-21 08:14] sinaku-developer opened #5593 "Display of monospaced font has shifted"
- VSCode Version:1.0.0
- OS Version:OS X EI Capitan 10.11.4

Steps to Reproduce:

1.Enter the double-byte and single-byte characters.

2.character is off the correct position.

あああああ
aaaaaaaaaa

[2016-04-21 08:20] isidorn opened #5594 "URI error on debug repl open"
- VSCode Version: alpha
- OS Version: os x

Steps to Reproduce:

1. open debug console -> notice error

Not sure if we changed some uri validation recenetly but I was not seeing this yesterday. Giving first to @bpasero, also ping @jrieken

![screen shot 2016-04-21 at 10 18 01](https://cloud.githubusercontent.com/assets/1926584/14702419/8e1eeb32-07aa-11e6-85f2-8aa91bba2201.png)

[2016-04-21 08:20] #5539 closed

[2016-04-21 08:24] #4519 closed

[2016-04-21 08:26] phraemer commented on #1896
Unfortunately not on Windows 10
150% text size on a 3840x2160 monitor.

![image](https://cloud.githubusercontent.com/assets/143631/14702518/34985598-07ab-11e6-9ed7-b91152109772.png)

[2016-04-21 08:27] isidorn commented on #4519
@delmyers now on every call stack changed we are expending the debugged thread and selecting the debugged stack frame in the call stack tree. Please try it out and let us know what you think.

On a side note, if I want to file a bug against a C++ extension I did not find a git hub repo but a mail [address](c_cpp_support@microsoft.com). Is that the process for filing bugs right now?

[2016-04-21 08:38] ups216 commented on #446
+1 really looking forward this, Monaco is hidden too deep in azure and Microsft should definitely make the best WebIDE available as a standalone service.

[2016-04-21 08:39] nrj commented on #1923
I'm still seeing really long load times on version 1.0.0 when using as my external editor for Unity. For example triggering IntelliSense via hotkey with my cursor at the end of `Mathf.Clamp` takes 8 seconds to offer me suggestions. Consecutive invocations do not get any faster.

[2016-04-21 08:44] dbaeumer commented on #1923
@joaomoreno moving back to you to response to additional comments.

[2016-04-21 08:47] nrj commented on #1923
[
![screen-shot-2016-04-21-at-10 44 28](https://cloud.githubusercontent.com/assets/149472/14703103/50591814-07ae-11e6-89ae-784642f1cf1a.png)
](url)

Even a variable in the same scope takes ~5 seconds of loading.

[2016-04-21 08:48] isidorn commented on #5594
Ok, I can no longer easily repro this, but let me know if you need more details if I hit it again

[2016-04-21 08:49] isidorn commented on #5583
Dup of https://github.com/Microsoft/vscode/issues/586

[2016-04-21 08:49] #5583 closed

[2016-04-21 08:54] stevencl commented on #224
A friendly reminder that we (myself, @bpasero and @bgashler1) will be sharing our latest designs for tabs and working files later today at 4pm British Summer Time.

Join us on this link at 4pm BST:  https://hangouts.google.com/call/u3wnrhjja5h47ovt7piatelkxme. We would love to hear your feedback.

[2016-04-21 08:56] bpasero commented on #3884
Given my feedback, I am not suggesting to do this so late in the milestone.

[2016-04-21 08:56] dbaeumer commented on #5330
@venil7 I added code to trace what we get back from the TS language server in your setup to better understand why this is happening. I will ping you as soon as this lands in a public available build with instructions how to produce a trace. I don't know how to track this down otherwise.

[2016-04-21 09:02] aeschli commented on #5557
duplicate of #3754

[2016-04-21 09:02] #5557 closed

[2016-04-21 09:09] dbaeumer commented on #4662
Moving to May.

[2016-04-21 09:11] padpanik commented on #101
Same here, hot_exit is mandatory to try something else than sublime... would like to try, but can't imagine working again with editor that can't give me this security feelings that sublime is giving to me.

I often switch between 2 or 3 projects, that hot_exit let me do that with abslolutly no pain. Have to check code in another project, 3 new files in the current, no problem, project switch in th

[2016-04-21 09:13] jarod51 opened #5595 "Allow to scope settings by platform"
Hi

I develop on 3 different platform. When synchronizing settings, snippets and so on, i often must change path, adjust font-size, etc...

So, it could be great if we had a per platform settings set (Windows, Mac, Unix)

[2016-04-21 09:24] dbaeumer commented on #4449
Reading through the Python docs it looks like that python buffers stdout & stderr when running as a child process. Calling python with the -u switch works as expected.

![bug](https://cloud.githubusercontent.com/assets/1931590/14704147/99e966fa-07b3-11e6-86e8-4a0e99c2892c.gif)

[2016-04-21 09:26] dbaeumer commented on #4449
Wasn't able to reproduce the freeze on latest alpha. Closing.

[2016-04-21 09:26] #4449 closed

[2016-04-21 09:28] dbaeumer commented on #4578
Still waiting on TS team to provide a fix for this.

[2016-04-21 09:31] kyberias commented on #4690
I've installed the latest 64-bit version of Git from the above link at the time of opening this issue. As you can see from the installation directory, I've probably installed it only for my user account in Windows.

Look, I'm not looking for tips to workaround this issue. I've reported enough information to reproduce it. I don't think you need more information. **Have you tried reproducing it?**

[2016-04-21 09:33] kyberias commented on #4690
Also I think @tjpeden's issue here is a totally different one. It even has a different error message. Don't mix the two.

[2016-04-21 09:38] Wosi commented on #1923
@nrj Your screenshot shows the initial loading process for code completion which is handled by a plugin. VSCode's internal code completion filtering (= the topic of this ticket) takes place after the plugin has delivered the suggestion items. The bahviour you are facing seems to be an issue of the plugin which provides the code completion (I guess it's OmniSharp).

[2016-04-21 09:40] aeschli commented on #1467
@infininight Great, I updated our grammar. The original issue seems to be fixed. thanks!

One comment mentions the async and await syntax. This seems to be still open. I created https://github.com/textmate/python.tmbundle/issues/53

[2016-04-21 09:40] #1467 closed

[2016-04-21 09:42] #5579 closed

[2016-04-21 10:02] espresso3389 commented on #4679
@bpasero
You were talking about other GUIs like Windows start menu.
In this area, we (Japanese) also have same pain on searching programs.
On Windows start menu, there are many *undocumented* keywords for the pre-installed tools, calc for "電卓", feedback for "Windows フィードバック", paint/pbursh for "ペイント" and so on.
We memorize many of them to deal with the problematic Windows GUI; the start menu is any

[2016-04-21 10:03] jrieken commented on #5594
That's a parse error from URI which happens if you create it with invalid strings. The rule, as contained in the error, is  _ If a URI contains an authority component, then the path component must either be empty or begin with a slash ("/") character_ which means you cannot create a uri form `file:////ddd` or `file://ddd`.

To explain what is what check this: https://github.com/Microsoft/vscode/bl

[2016-04-21 10:06] lwsrbrts commented on #1668
I've since updated the linked readme.md so it no longer suffers from the issue but the following link is to the point in the repo where I reported the bug.

https://raw.githubusercontent.com/lwsrbrts/PoSHue/4718c4f933031d8c2c8bcdc2bf0561ebe01e067a/README.md

[2016-04-21 10:08] aeschli commented on #5574
@jrieken the JSON provider returns a CompletionList with an empty array of items.
If I understand right that should prevent the textual proposals to show up.

[2016-04-21 10:17] StarNamer opened #5596 ""ext install " fails with EACCES error using corporate proxy"
I originally reported this on StackOverflow but it was suggested by Benjamin Pasero that I log this as an issue.

I am working behind a corporate firewall which has outgoing authentication by Active Directory username. When I try the "ext install " command, after a some time I get the message "Error connect EACCES 191.238.172.191:443".

I've tried setting the "http.proxy" value to all variations o

[2016-04-21 10:17] aeschli commented on #5574
@jrieken Maybe it would make sense to make the 'showTextualProposals' a setting on CompletionList.
It's more explicit. It would also allow to have your own proposals together with textual proposals

[2016-04-21 10:20] bpasero commented on #4679
Reopening this given the discussion that happens.

[2016-04-21 10:21] bpasero commented on #4679
@egamma @chrisdias I would appreciate if a decision could be made by either PM lead or Dev Lead how we should handle this issue and then plan with the team how we do the adoption (if needed).

[2016-04-21 10:26] be5invis commented on #4679
@bpasero @egamma @chrisdias My suggestion is to display both English command and translated command together, but I prefer translate first, then English.

[2016-04-21 10:31] bpasero commented on #4679
Some ideas on the UI (ignore the fact that both show up as english - we just have to decide which comes first english or translated):

<img width="634" alt="screen shot 2016-04-21 at 11 29 23" src="https://cloud.githubusercontent.com/assets/900690/14706073/8303bc50-07b4-11e6-9a31-6a5b1e819600.png">
<img width="630" alt="screen shot 2016-04-21 at 11 30 21" src="https://cloud.githubusercontent.com/a

[2016-04-21 10:31] bpasero commented on #4679
I actually like the second option and would probably show english first and then the translation.

[2016-04-21 10:33] be5invis commented on #4679
@bpasero Second one looks good. You can simply replace the keyword line with English commands (and also, reduce text size)

[2016-04-21 10:35] bpasero commented on #5544
I found out that the fact we assign `role: tree` seems to cause this and changing it to `role: listbox` seems to fix it. However I am not feeling comfortable making such a change because the role should actually be tree.

@zersiax any clue what might be going on? we have a `tree` with `treeitem` and each `treeitem` can have one or more `button` that have a `tabindex` to navigate to. Once I change

[2016-04-21 10:36] bpasero commented on #4679
@be5invis so you would prefer to see translated commands first and the english values below?

[2016-04-21 10:36] be5invis commented on #4679
@bpasero My preference is translated first, but some people may prefer English first.
Make it configurable?

[2016-04-21 10:36] bpasero commented on #5260
@be5invis any chance you could check if the insiders released has fixed this issue for you?

[2016-04-21 10:37] nemo22 commented on #207
So if  no folders are open, opened files are not reopened after restart VSC? A bit dumb.

[2016-04-21 10:39] be5invis commented on #5260
@bpasero Hold on i am installing

[2016-04-21 10:39] zersiax commented on #5544
May have something to do with chromium bug 601933  https://bugs.chromium.org/p/chromium/issues/detail?id=601933
Have a look around the accessibility tree if something similar might be going on. I am guessing that changing the role to listbox breaks navigation among levels?

[2016-04-21 10:41] bpasero commented on #4679
What about other places where we show commands in quick open. Would you expect this to be consistent everywhere where you can search for something?

![image](https://cloud.githubusercontent.com/assets/900690/14706358/f561b328-07b5-11e6-8c7a-7965b9a9be9a.png)

[2016-04-21 10:41] be5invis commented on #5260
![image](https://cloud.githubusercontent.com/assets/240091/14706356/a0bb9e70-07f0-11e6-824f-bb04aa237e87.png)
@bpasero It works (at least for Simplified Chinese).

[2016-04-21 10:41] bpasero commented on #207
Yes, only if you open a folder we remember all UI state.

[2016-04-21 10:42] bpasero commented on #5260
Ok nice.

[2016-04-21 10:42] dbaeumer commented on #5595
@bpasero, @aeschli  FYI.

[2016-04-21 10:43] anyong commented on #5260
I will check zh-Hant-TW later.
On Apr 21, 2016 6:42 PM, "Belleve Invis" <notifications@github.com> wrote:

[2016-04-21 10:44] bpasero commented on #5544
@zersiax interesting, though I see this even with Chrome 45. I have not tested any other a11y feature after changing to listbox. I still keep role treeitem for the elements within and that seems to at least let NVDA read out the collapsed/expanded state and hierarchy level of the tree :)

[2016-04-21 10:52] be5invis commented on #4679
@bpasero I think the two-line configuration is universal, this UI pattern can be used on all of these interfaces, including commands, file jump, or something else.

[2016-04-21 10:54] be5invis commented on #4679
@bpasero Or maybe display translated and English commands in one line, but right-align the secondary item, together with the shortcut keys.

[2016-04-21 10:56] weinand commented on #5264
@v-pavanp the creation time stamps on the source maps clearly showed that the maps were stale. Your build setup does not produce any source maps. After adding the sourceMap option to your task.json breakpoints were hit correctly:
[code]

[2016-04-21 10:56] #5264 closed

[2016-04-21 11:03] lukaschal commented on #5577
Waiting for linguistic input.

[2016-04-21 11:08] owtotwo commented on #5411
@bpasero
It seems not to be improved... Maybe it is my computer problem....?
![image](https://cloud.githubusercontent.com/assets/13444035/14706917/294b9292-07f4-11e6-92f2-2b8617bbf88d.png)

[2016-04-21 11:08] weinand commented on #5477
@v-pavanp since in similar issue #5264 your source maps weren't up-to-date, could you please make sure that your source maps have the same time stamps as the generated JavaScript files.

If this is not the issue, please let me know and I will reopen this issue.

[2016-04-21 11:08] #5477 closed

[2016-04-21 11:10] owtotwo commented on #5411
@bpasero
It seems not to be improved... Maybe it is my computer's problem....?
![image](https://cloud.githubusercontent.com/assets/13444035/14707002/9e81a042-07f4-11e6-8d26-17d335653db2.png)

[2016-04-21 11:14] bpasero commented on #4679
@be5invis how would this be needed for the file jump quick open that is not talking about commands?

[2016-04-21 11:14] be5invis commented on #4679
@bpasero Perhaps second line for directory?

[2016-04-21 11:29] owtotwo commented on #5411
But it is no problem in win7 installed in the same computer...
![image](https://cloud.githubusercontent.com/assets/13444035/14707421/562b54c0-07f7-11e6-8950-4200ca996efc.png)

[2016-04-21 11:48] #3132 closed

[2016-04-21 11:49] bpasero commented on #3132
@isidorn the change is for debug and tasks to fetch latest config from disk so that you do not get stale results. one use case to verify is to F5 with a dirty launch.json and making sure everything works including the dirty changes that get saved right after.

[2016-04-21 11:55] isidorn opened #5598 "Closing the debugee window - debugger is still in debug mode"

[2016-04-21 11:55] #3265 closed

[2016-04-21 11:56] isidorn commented on #3132
Awesome!

[2016-04-21 11:57] isidorn opened #5599 "Focus debugger only on breakpoint hit"

[2016-04-21 12:00] bpasero commented on #4679
@be5invis that seems to me unrelated to this CJK issue.

[2016-04-21 12:01] #5547 closed

[2016-04-21 12:16] aeschli commented on #2208
There has been new work in the [TextMate's Python bundle](https://github.com/textmate/python.tmbundle). So I've updated the grammar to the latest.

I'm still open to update to any other grammar if the community has a clear preference. But then, as said, thanks to the extension model it's possible to add grammars as extensions and each user is free to choose what to use.

[2016-04-21 12:26] liuyuxun opened #5600 "new feature,how about change working file list to tabs"
because the working file becomes a long list easily
when to find a new file it's a very tough task

[2016-04-21 12:27] #5594 closed

[2016-04-21 12:28] isidorn commented on #5594
Thanks man! This happened when trying to handle a link in repl which turned out to be an incorrect URU

[2016-04-21 12:32] satokaz opened #5601 "Mac OS X Shortcut key: cmd + F1 (Move Focus to Next Window) not usable"
OSX Shortcut key: `command + F1` (Move Focus to Next Window) was no longer work.
Can not be switched vscode window.

`command + F1` Key assignments have been added in the vscode side?
At least until the vscode 1.0.0 was functioning.

- VSCode Version: 1.0.1-insider
- OS Version: Mac OS X 10.11.4 (15E65) - Japanese locale

Steps to Reproduce:

1. Open multiple vscode window
2. Check the `command +

[2016-04-21 12:33] jrieken commented on #5574
Actually, I was wrong about the empty array, _falsy_ values and the empty array are considered to be a not good [result](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/test/node/api/extHostLanguageFeatures.test.ts#L847) which means delegate to next level of suggest. This is the defined behaviour and should be like this ever since JSON became an extension.

Suggest works by keepin

[2016-04-21 12:34] JamesHenry opened #5602 "Request to change jade/pug line comment to //-"
- VSCode Version: 1.0.0
- OS Version: OSX 10.11.4

Steps to Reproduce:

1. Open a jade file
2. Press `cmd+/`

In the language config, a jade line comment is currently defined as `//`:
https://github.com/Microsoft/vscode/blob/master/src/vs/editor/standalone-languages/jade.ts#L17

This is certainly valid jade, but it gets compiled to an HTML comment, e.g.

**index.jade**
[code]

...becomes

**index.

[2016-04-21 12:35] #5599 closed

[2016-04-21 12:38] SamVerschueren opened #5603 "Allow `Delete` keyboard shortcut to remove file from explorer"
- VSCode Version: 1.0.0
- OS Version: 10.11.3

It's not possible to bind a key to the `Delete File` action from the explorer. I think it would be a nice addition.

// @bpasero yes I will look into doing a PR this evening ;)

[2016-04-21 12:39] pietie opened #5604 "Support for custom editors registered via file extensions"
Similar to Visual Studio extensions, I would like to register a specific file extension and swap out the code editor for a custom UI experience when that file opened.

[2016-04-21 12:48] #5598 closed

[2016-04-21 12:53] boyvinall opened #5605 "Feature request: symbols tree view"
VSCode very quickly got to _nearly_ being my default editor.  One thing I'm missing is something like https://atom.io/packages/symbols-tree-view where I can view the structure of a file whilst editing. I've used this view across many editors for years.

[2016-04-21 12:59] NikosEfthias opened #5606 "cannot add more than one task and documentation does not help at all"
- VSCode Version:![](http://i.imgur.com/0pD5Bbv.png)
- OS Version:ubuntu 15.10
i have following task file ![](http://i.imgur.com/OVbB3nd.png) i tried to make an array containing objects or just adding more objects to the file both wont work .
In documentation there are examples whic are already in example tasks.json file with a normal human being with an average iq can read from the example json f

[2016-04-21 13:04] espresso3389 commented on #4679
@bpasero
I prefer English (untranslated) first.

At least for Japanese, for command typing purpose, we will *never* type translated ones to execute commands.
There are two major reasons why we don't want to see the translated commands first are:
- Typing Japanese is anyway painful and time consuming
- Wording order in Japanese sometimes disturbs programmers thinking

The Japanese wording order is

[2016-04-21 13:04] bgse commented on #5605
Ideally, it would expose API this for extension authors.

[2016-04-21 13:09] be5invis commented on #4679
@bpasero Agree with @espresso3389 .
So design like this?

* UI: Display both translated and English
* Matching: Translated, English and keyword list

[2016-04-21 13:16] dbaeumer commented on #5605
This is available though not as a separate view and a flat list. You can press Ctrl+Shift+O to get a symbol outline of the currently open file.Ctrl+T shows all symbols in the workspace. You can type in there to filter the list down.

![capture](https://cloud.githubusercontent.com/assets/1931590/14710009/f0e17d88-07d3-11e6-8c23-a9344ebb081d.png)

[2016-04-21 13:17] dbaeumer commented on #5604
@bpasero @alexandrudima @jrieken FYI.

[2016-04-21 13:22] jrieken commented on #2351
@bpasero Since the title would now come asynchronously from the extension host I wonder if the input get send an event that title and description need to be updated? I see the input being an event emitter but I don't see an event

[2016-04-21 13:27] boyvinall commented on #5605
Thanks Dirk.  Yes, I saw that already, but I find it less of an interruption when that view is constantly onscreen in a separate panel.  Also, the ability to filter this list so as e.g. not to include variables is useful - which is harder to do in a pop-down view.

[2016-04-21 13:34] dbaeumer commented on #5601
I checked and we don't Cmd+F1 out of the box. But could be it is on your version. Can you open the Keybindings (File > Preferences > Keybindings) and check if there is a binding for Cmd+F1. You can search in the file.

[2016-04-21 13:35] mizujin opened #5607 "HTML Wrap selection with tags and adding class adds it to both tags"
- VSCode Version: 0.10.11
- OS Version: Windows 8

Steps to Reproduce:

1. In an HTML document, make a text selection to wrap and using Alt + W to wrap them with tags
2. Define the tags and immediately continue with a class statement.
3. class="" is added to both starting/ending tags.

[2016-04-21 13:35] bgse commented on #5605
@dbaeumer Sometimes, this seems to cut off unnecessarily early, see here:

![vscode_outline](https://cloud.githubusercontent.com/assets/8385202/14710619/6c7f7a6a-07d6-11e6-9d01-0c733a9b45c4.png)

Thinking about it, I probably even like the current approach better, need to get used to it a little, but it is faster to use compared with traditional outline presentation.

[2016-04-21 13:35] ralfstx opened #5608 "JS syntax highlighting with conditionals"
- VSCode Version: 0.10.11
- OS Version: Ubuntu 15.10

In JavaScript, the value that follows the colon in a conditional statement is not highlighted. For example, in the following statement, the `null` won't be highlighted.

[code]

[2016-04-21 13:47] ArianeLu opened #5609 "Don't use English font family for Chinese UI"
- VSCode Version: 1.00
- OS Version: Windows 10 Version 1511

Steps to Reproduce:

1. Change system language to Chinese (Simplified)
2. Install Visual Studio Code
3. Open 'File Panel', take a look at Chinese char.
3. They are blue , and not clear, very hard to read

We should use Microsoft YaHei for Chinese char, like toolbar and window title

**ScreenSnap:**
![bad](https://cloud.githubusercontent

[2016-04-21 13:53] Treri commented on #4679
@bpasero Agree with @espresso3389 too

I prefer English (untranslated) first.

[2016-04-21 13:58] aeschli commented on #5602
I can make the change, thanks for the suggestion, I think you are correct.

[2016-04-21 14:01] pcgeek86 commented on #5574
I think both mindsets (bullet points) above make sense, and I can certainly see a case for both scenarios. Personally I enjoy the "strictness" of JSON schema, but I can see how "useful-but-not-entirely-accurate" auto-completion provides some value also. User-configurable sounds like a good way to go.

[2016-04-21 14:01] bpasero commented on #2351
@jrieken I already need to update the title in case the editor becomes dirty so I would assume that you could just reuse the `EDITOR_INPUT_STATE_CHANGED` event to force the editor to update the title from the input.

[2016-04-21 14:02] medifle commented on #5609
+1

[2016-04-21 14:04] #5602 closed

[2016-04-21 14:06] bpasero commented on #4679
Well if we put english as first label then I would also do the sorting based on english labels. We would put the translated ones below or to the side, would still allow to match on them. I would probably ditch the concept of keywords altogether if we keep the english label. I do not think we should have both keywords and english label.

[2016-04-21 14:07] joaomoreno commented on #1923
Thanks @Wosi, you are absolutely right.

@nrj You should file an issue to the page of the extension which provides those suggestions.

[2016-04-21 14:08] lychichem commented on #4679
I don't care the order, just make me see the full text of en-US command and zh-CN command at the same time is okay. Or make me see the command with tool tip is also okay.

[2016-04-21 14:09] joaomoreno commented on #5596
What's your proxy address?

[2016-04-21 14:12] aeschli commented on #5566
This issue was moved to Microsoft/TypeScript-TmLanguage#150

[2016-04-21 14:12] #5566 closed

[2016-04-21 14:13] espresso3389 commented on #4679
@bpasero

For me (and possibly all the Japanese people), everything seems OK.

[2016-04-21 14:15] bpasero commented on #5600
Closing for #224

[2016-04-21 14:15] #5600 closed

[2016-04-21 14:17] bpasero commented on #5603
@SamVerschueren it should be bound to Cmd+Backspace though? See https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/files/browser/views/explorerViewer.ts#L387

Making all explorer actions keybinding friendly is on the backlog but honestly not a straight forward thing to do :-/

[2016-04-21 14:18] Treri commented on #4679
1. the translated ones order is not important, just based on english labels
2. the translated ones are just explanation to english command. match or not match is okay.

[2016-04-21 14:18] bpasero commented on #5604
I am tempted to close this one because I do not think our goal would ever be to support this scenario. But since I cannot look into the future, I leave it open.

[2016-04-21 14:18] joaomoreno commented on #4690
No need to poke, [here it is](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/git/electron-browser/electronGitService.ts#L94). As you can see, we do look for it in some predefined folders, but ultimately we also simply try to execute it straight from the `%PATH%`.

Now, for some reason, in your system, `spawn('git'...)` doesn't seem to work. Meaning, `git` is definitely not

[2016-04-21 14:21] avikenjale opened #5610 "Ubuntu Visual Studio dnx Run Command"
- VSCode Version: 1.0.0
- OS Version: Ubuntu 14.04

I have created a simple WEB API application using Visual Studio Code on Ubuntu(on my VMWare). I completed all prior steps to install & configure .NET core, VS Code & mono libraries and packages. my `package.json` file contains following parameter as:

`"commands": {
    "web": "Microsoft.AspNet.Server.Kestrel"
}`

when I use 'ctrl+shift+p' to get

[2016-04-21 14:23] JamesHenry commented on #5602
Great, thanks!

[2016-04-21 14:30] satokaz commented on #5601
@dbaeumer

Thank you for your reply.
I do not define the `command + F1`.

![2016-04-21 22 42 51](https://cloud.githubusercontent.com/assets/13635244/14711205/6e49f5a4-0813-11e6-8df2-ff31dddefa7f.png)

Use the [Display keystroke utility: KeyCast](https://github.com/cho45/KeyCast) was recorded operation.
Is displayed on the left side is a key stroke character is actually the input of the ⌘[F1] (comm

[2016-04-21 14:31] egamma commented on #4679
Thanks for trying out the Insider build and for providing great feedback. We will discuss in the UX team and come back with the outcome from this discussion.

[2016-04-21 14:34] Dragod commented on #4810
I think this is related to an extension https://github.com/Zignd/HTML-CSS-Class-Completion as I had same problem with a big html file where I had same error: "HTML CSS Class Completion:Fetching CSS rules frome CSS files,please wait". Unistalling the extension solved it

[2016-04-21 14:42] TrexinanF14 opened #5611 "Intellisense stops working after adding jsconfig file"
- VSCode Version: 1.0.0
- OS Version: Windows 10

It seems after I have Code generate a jsconfig file, the intellisense for my imported es6 module seems to quit working.

Initially I have just two files in a folder:
script1.js:
[code]
script2.js:
[code]

Code gives nice completion while typing in script2.js, telling me MyVar has an a and b property.

I then generate the default jsconfig file. At t

[2016-04-21 14:50] anyong commented on #5260
Everything looks fine here :+1:

[2016-04-21 14:52] EWhite613 opened #5612 "Feature: Working files should reload on refresh"
Currently only the project tree reloads. But if a file was modified outside vscode the working file is never updated. You have to close the file and re-open.

So working files should have some sort of message that a file has been modified outside vscode, and give the option to reload. But at the very least the functionality to reload the project tree should also reload the working files if they ha

[2016-04-21 15:00] bpasero opened #5613 "Electron Update"
- [x] Test Linux  @vsccarl
- [x] Test Windows  @gregvanl
- [x] Test OS X @alexandrudima

Electron has been updated to 0.37.6 from 0.35.6 and that brings updates to Chrome (45 -> 49) and node.js (4.1.1 => 5.10.0).

Do some exploratory testing to see if something suspicious shows up. Focus on
* no data loss (quit, close window, etc. with dirty or untitled)
* native features (dialogs, multi window ma

[2016-04-21 15:00] aeschli commented on #5346
@EWhite613 Can you explain more? In step 4, do you make changes to the theme?
Why do you have to switch to the dev Theme again? To refresh it?
I recommend to keep the Extension Host window open and press `Ctrl + r` to refresh.
Does that help?

[2016-04-21 15:03] bpasero commented on #5612
@EWhite613 it should reload its contents when it changed outside.

[2016-04-21 15:04] jrieken opened #5614 "KeybindingService is many services"
The keybindings service is great but also a monster. It does multiple things and I wonder if we can break it up into the following:

* a service that manages context key and its values
* a service that manages and executes commands
* a service that dispatches a key event to a command execution

[2016-04-21 15:04] jrieken commented on #5614
related to #5505

[2016-04-21 15:04] EWhite613 commented on #5346
Step 4 I'm in the Extension Host window on a file like `config.js`. I switch files to `default.js` (Still in the same window), theme switches to back to my non-dev theme (Ex. `Dark+`). So now I have to open up Theme preferences again and switch back to my dev theme

[2016-04-21 15:05] bpasero commented on #5609
@ArianeLu @medifle this should be much better with our new insiders release.
You can give it a try from our insiders release today: http://code.visualstudio.com/Download#insiders

Closing in favor of https://github.com/Microsoft/vscode/issues/5260

[2016-04-21 15:05] #5609 closed

[2016-04-21 15:06] anyong commented on #224
Reminder for anyone who was planning to join the hangouts - it's on now so click the link above. Only ~5 people so far.

[2016-04-21 15:07] jrieken opened #5616 "Get rid of platform/selection"
We have `platform/selection/` which defines a few things around selection, like `ISelection` and `StructuredSelection` tho these things are never actually used. I can find a lot of implementation of getSelection because of [this](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/common/composite.ts#L45) but the only use case, caller, is the [history](https://github.com/Microsoft/vsc

[2016-04-21 15:07] CherryDT commented on #4039
The "paste and format" thing is only partly a solution for me. I would like to have the indention adjusted without any other modification of the pasted content - like it's in Sublime.

The thing is, I sometimes accidentally introduce "wrong coding style" into a file in a repo which uses different coding style than what VSCode is configured to use. For example, I paste-and-format a piece of JS and

[2016-04-21 15:07] jrieken commented on #5616
unsure who that is to be assigned to

[2016-04-21 15:08] EWhite613 commented on #5612
@bpasero are you not able to reproduce? I've had it happen on big and small projects. Our files change after git pull and we have to close and close re-open all the files to see the changes. So has my co-worker

[2016-04-21 15:12] bpasero commented on #5612
Right, it is known to not work with git so well due to bugs in node.js. Closing as duplicate of https://github.com/Microsoft/vscode/issues/2592

[2016-04-21 15:12] #5612 closed

[2016-04-21 15:18] #5550 closed

[2016-04-21 15:19] bpasero commented on #5550
To verify: launch.json and task.json are using the whitespace as configured in settings when you create them for the first time.

[2016-04-21 15:22] RyanEwen commented on #224
I would have really liked to be there but it's 11am and I'm at work unable to join. I assume someone will have some stuff to share in writing afterwards? :D

[2016-04-21 15:23] balachandar88 commented on #3132
@bpasero Great!!! you fixed the issue. If I download the latest visual studio code, will it be having the fix incorporated?

[2016-04-21 15:38] #5616 closed

[2016-04-21 15:39] bpasero commented on #3132
@balachandar88 end of month, next release!

[2016-04-21 15:43] be5invis commented on #4679
@bpasero Keywords may be helpful since it contains synonyms of English label words. I think when the user chooses to display translated label as primary, keywords should be enabled.

[2016-04-21 15:46] scryb3 opened #5617 "[ruby] auto-close for quotes in ruby not working"
- VSCode Version: 1.0.0
- OS Version: Windows 7 and 10

Steps to Reproduce:

1. open new file, save with .rb extension
2. type a common pattern like a['thing'] (or just ' or ") and there is no auto-closing quote. In large files this causes distracting visual noise as all code below gets quoted and unquoted during typing of a small string.
note: Writing ruby in English, I almost never use an apostr

[2016-04-21 15:47] kossel commented on #1772
I want this feature too! I even created a stackoverflow question to know that it doesn't exist yet.

[2016-04-21 15:51] ArianeLu commented on #5260
@bpasero Don't use PingFang / Noto Sans / Source Hans on Windows, fonts order need adjust.

If user install those fonts on Windows will cause text blur and difficult to read.

[2016-04-21 15:59] anyong commented on #224
Brief overview:

1. Tabs and working files (renamed "open editors") behave exactly the same way, it just depends whether you want the visuals on top (tabs) or to the left (working files)
2. Tabs are grouped by panel visually at the top, open editors are grouped together under headers "Left", "Right"
3. Single click a file to open a preview tab (or "open editor"); double-click the file, edit the fi

[2016-04-21 15:59] indiejames commented on #224
I was only able to join for the last 15 minutes or so. Was it recorded?

I was disappointed (but not surprised) to see that tabs are likely to
become the default. A hope you will continue to preserve the lightweight
environment of VS Code and to explore progressive workflows.

Thanks,

James

On Thu, Apr 21, 2016 at 11:07 AM, anyong <notifications@github.com> wrote:

[2016-04-21 16:02] bpasero commented on #5260
@ArianeLu so you say there should be a different order of font-families depending on the OS? or could we do this all in one CSS declaration (preferred).

[2016-04-21 16:03] bpasero commented on #4679
@be5invis agree, keywords can be a useful concept in cases where you can describe the command with different words. I am fine leaving that in for matching but I would not show keywords anywhere in the UI.

[2016-04-21 16:04] StarNamer commented on #5596
OK. I tried all the tests again, restarting Code between each one.

1.
    "http.proxy": "http://10.200.68.75:8080/",
    "http.proxyStrictSSL": true

Does nothing. Command line closes after a minute or so. No error.

2.
    "http.proxy": "http://proxy2.emr.com:8080/",
    "http.proxyStrictSSL": true

Does nothing. Command line closes after a minute or so. No error.

3.
    "http.proxy": "http://p

[2016-04-21 16:05] be5invis commented on #4679
@bpasero But if you decide to display English label as primary, then the keywords is less useful, but I think it is still worth preserving.

[2016-04-21 16:07] bpasero commented on #4679
To be clear, the keywords currently are english and are not translated. If we decide to keep keywords, the interesting challenge is that you would probably need to have both translated keywords and english. Hence I am thinking of not keeping keywords (we never had them and imho they are separate from the discussion here and just nice to have).

[2016-04-21 16:08] RyanEwen commented on #224
Sounds like there were some good ideas. I look forward to seeing this in action.

FWIW (and if it's still relevant) I still think it's better not to have tabs in the UI _by default_. A nice clean editor header that can be clicked to see a list of files if I don't have the sidebar visible, or CTRL+TAB, is what I'm really hoping for :)

[2016-04-21 16:10] bgashler1 commented on #224
Thanks for everyone who was able to attend and give us feedback today.  We've taken notes and have been continuously following the GitHub issue here.  We're listening to everyone.

@indiejames and @RyanEwen yes we took notes, and we will be posting soon.  We have not decided for sure on the default behavior yet

[2016-04-21 16:12] be5invis commented on #4679
@bpasero My main idea is that, if users can directly see the English label clearly (which means that the primary label is in English, not translated), then the English keywords are less important. However, if what they directly see is translated, then they may come up with synonyms of the English command, and the keywords are very useful now.
Translated keywords are unnecessary.

[2016-04-21 16:15] espresso3389 commented on #5260
On Japanese environment, the new build looks fine on OS X and Windows.

[2016-04-21 16:19] be5invis commented on #5260
@ArianeLu I don't think most Windows users will install PingFang, except for font enthusiasts. In the CSS I suggested, the Source Han Sans family is placed after Windows fonts.

[2016-04-21 16:23] ArianeLu commented on #5260
@bpasero

I think this one is best for zh-cn:

"Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", "Microsoft Yahei UI", "Microsoft YaHei", "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC", "Source Han Sans CN", "Source Han Sans", "WenQuanYi MicroHei" ,sans-serif

YaHei UI available in Win8+, may better than YaHei
WenQuanYi MicroHei is for CentOS/SUSE, better than

[2016-04-21 16:24] anyong commented on #5260
@bpasero @ArianeLu It's fine with `Noto Sans`, the CJK fonts are called different names (i.e. `Noto Sans CJK SC`, `Noto Sans CJK TC` and so on). I have these Noto Sans CJK fonts installed on my computer (Win 10 + zh-Hant-TW locale) and the UI font being displayed is Jhenghei as expected.

[2016-04-21 16:26] be5invis commented on #5260
@anyong My stylesheets does not contain `Noto Sans CJK`. For `Source Han Sans`, it is after Windows fonts so on Windows it will not be used (and most users will not install them).

[2016-04-21 16:28] ArianeLu commented on #5260
@be5invis

I have installed PingFang and Noto Sans, they are blur on my screen.

For other os, because of copyright, only few user installed YaHei, adjust fonts order will not cause any bad change

[2016-04-21 16:29] grazies commented on #5260
Cool

YOTOV LIMITED[😏]

________________________________
From: ArianeLu <notifications@github.com>
Sent: 21 April 2016 17:23
To: Microsoft/vscode
Subject: Re: [Microsoft/vscode] Use proper font family for East Asian languages (CJK) (#5260)

@bpasero<https://github.com/bpasero>

I think this one is best for zh-cn:

"Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", "Microsoft Yahei U

[2016-04-21 16:29] anyong commented on #5260
@ArianeLu You have `Noto Sans` (a latin alphabet font) listed after the CJK fonts - that doesn't make any sense. Latin fonts should come first, because the latin characters in CJK fonts are notoriously bad.

[2016-04-21 16:31] bpasero commented on #4679
Well I propose to show english **always** and the translated label below less prominent, hence we both agree that keywords are not needed.

[2016-04-21 16:31] be5invis commented on #5260
@ArianeLu Your problem is caused by PingFang, not Noto.
And you forgot Office for Mac.

[2016-04-21 16:32] be5invis commented on #4679
@bpasero Agree with you.

[2016-04-21 16:38] ArianeLu commented on #5260
@be5invis So, We just need add Microsoft YaHei UI, WenQuanYi, and move PingFang?

Good night , everyone in Asia(UTC+8, 0:36)

[2016-04-21 16:43] be5invis commented on #5260
@ArianeLu @bpasero
Hmmm, maybe rearrangement is acceptable, since the original CSS's Latin part is also in the "Windows -- OSX -- Linux" order. So this:

is acceptable either.

[2016-04-21 16:43] kostadinnm commented on #5217
bpasero, I think it's not fixable in VSCode. Those who are interested into the details, may take a look at the discussion for Atom:
https://github.com/atom/atom/issues/11442

IMHO, it's a pity simple things like this typography issue are plaguing these wonderful new tools.

We came to an agreement to close the Atom's issue for now - do you think we should do it for VSCode as well?!

[2016-04-21 16:53] Loren-Johnson commented on #396
I would also like support for projects and multiple git roots. The code I frequently use is found in several git repos and being unable to switch between them without closing my current workspace and opening another just to turn around and close that one to open the previous is exhausting. If I add the parent folder where all my repos are housed then I gain the ability to navigate and search among

[2016-04-21 16:57] eyalsk commented on #224
@bgashler1 you mention that you're looking into a solution of working files, tabs or both what about none? is that an option?

[2016-04-21 16:58] stevencl commented on #224
Thanks to everyone who took the time to join the call today and provide feedback, we really appreciate it. @anyong has done a great job already summarising what we presented but I will add a few more details below and some screenshots.

### Visual design
First, this image indicates how we think tabs might look in VS Code:
![image2](https://cloud.githubusercontent.com/assets/1704059/14716846/b384ac