[2016-06-17 05:57] ddotlic commented on #7730
@aeschli FYI, works like a charm. Y'all gonna spoil us with such a quick turnaround times 😃

[2016-06-17 06:01] forethoughtde commented on #7766
I have warnings.
Overwriting extension <<.handlebars>> to now point to mime <<text/x-handlebars>>
workerClient.ts:366Overwriting extension <<.hbs>> to now point to mime <<text/x-handlebars>>

[2016-06-17 06:43] bpasero commented on #7732
@Tyriar maybe we want to keep a lightweight style to the UI by reducing heavy UX components. What I am arguing is that, while we do not have room for UX exploration in the editor space in terms of tabs, lets sit down for the terminal and actually design something. Why do we rush this in if the alternative with a dropdown is a good start as well?

[2016-06-17 06:45] bpasero commented on #7732
Also, whatever solution we come up with should work for the output case as well or any other thing that shows in the panel with multiple panes.

[2016-06-17 06:46] thewhitetulip commented on #7732
@bpasero

Having multiple tabs is a major plus and just because we have tabs doesn't give the heavy look and feel.

However, I do agree that there is space for designing something in the terminal space.

[2016-06-17 06:46] axefrog commented on #6925
I've just spent the last 15 minutes looking for a solution to exactly the same problem as described in this issue. Both Atom and Sublime Text allow me to specify editor settings on a per-language basis.

[2016-06-17 06:46] sandy081 commented on #7721
@abierbaum Really appreciate your interest on this. We use tree navigation (similar to Search results) in multiple places like Explorer, Problems view. Behavior has to be consistent across all.

Here are some code references:

[2016-06-17 06:47] axefrog commented on #2253
Agreed. This issue is also described in #6925.

[2016-06-17 06:54] sandy081 commented on #7540
That is a valid point. But since we are simplifying views by getting them under single section, it is also important to have consistent behavior.

All views:

- specific command to show and toggle focus between active editor and themselves
- cmd + B to toggle side bar
- cmd + J to toggle bottom bar

I think users might like this simplification and consistency and accept the change.

[2016-06-17 06:57] joaomoreno commented on #7741
Code uses multiple processes to execute. Can you try to figure out which process spikes the CPU? [Process Hacker](http://processhacker.sourceforge.net/) is a great tool for that.

[2016-06-17 06:59] joaomoreno commented on #5770
We wouldn't have it any other way. 😉

[2016-06-17 07:01] joaomoreno commented on #7798
AFAIK Code just lets OS X know that it *can* edit SVG files, that is all. Right, @weinand?

[2016-06-17 07:02] sandy081 commented on #7773
I do not understand one thing here.. I am getting this issue only on git.contribution.css file but not on other css files.

Only difference I see is that git.contribution.css file has already a warning, I do not know how it matters.

Why is it so special about one file and not other files?

[2016-06-17 07:21] egamma opened #7800 "Emmet: Support to wrap with abbreviation"

[2016-06-17 07:22] forethoughtde opened #7801 "Abort on running script on intregrated terminal does not respond."
- VSCode Version: 1.2.1
- OS Version: Fedora 23

Steps to Reproduce:

1. Open a VSCode
2. Run a PHP script which runs forever
3. Try to kill the running PHP script by Ctrl+C.

What is happening?
It does not abort the running script.

[2016-06-17 07:23] egamma commented on #5420
Support for wrapping an abbreviation is now tracked in #7800

@Spinarooni fully agreed that emmet should be a full extension, we have added emmet support before we had the extension model in place. This is a debt item we have on our backlog.

[2016-06-17 07:37] dbaeumer commented on #7773
I agree that we look silly here, however this is nothing the marker service should decide. It currently has special code for the counting ignoring these resources but that's a patch for the broader underlying problem described by @aeschli.

Not syncing inmemory:// resources is IMO not a good solution. I can easily think about use cases where inmemory:// resources needs to travel to the extension h

[2016-06-17 07:38] dbaeumer commented on #6778
Assigning back to @jrieken to respond to comments.

[2016-06-17 07:40] alexandrudima commented on #7773
I suggest that we clean up how these files are created.

fyi @joaomoreno @bpasero
The git files IMHO should use `git-head://FILE_PATH` or `git-index://FILE_PATH` or whatever. Then, git would register itself as a document provider and the workbench would be able to open these files.

That is step number 1, that these files are actually addressable in our system. That would allow IMHO for the workbe

[2016-06-17 07:41] alexandrudima commented on #6925
Let's track this in #2253

[2016-06-17 07:41] #6925 closed

[2016-06-17 07:42] alexandrudima commented on #2253
@bpasero @aeschli Any thoughts here? The editor API can handle this as it's all dynamic anyways, we would need something in the configuration service.

[2016-06-17 07:45] admmasters opened #7802 ""scss.lint.unknownProperties" : "ignore" does not work on latest insiders build"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Using an unknown property (working with the Lost grid) - such as lost-column.
2. Set "scss.lint.unknownProperties" to "ignore".
3. VSCode complains about lost-column being an unknown property.

This occurs in the recent builds and I'm fairly sure is as a result of the recent refactor - this does not occur in the main.

Just as a side note -

[2016-06-17 07:47] jrieken commented on #7720
Because of that

[2016-06-17 07:50] jrieken commented on #7780
The problem is that the extension providing the actual content isn't necessarily active that that point. We would need to introduce an activation event ala `onDocumentRequest:markdown` which I am not super keen on.

[2016-06-17 07:54] jrieken commented on #6778
@jods4 A little detail would be helpful

[2016-06-17 07:58] alexandrudima commented on #7749
@eamodio PR welcome! :)

It is in https://github.com/Microsoft/vscode/blob/master/src/vs/editor/browser/controller/mouseHandler.ts#L272

I would extract the code that does the focus:

[code]

to a closure called `focus` inside the method.

Then, at https://github.com/Microsoft/vscode/blob/master/src/vs/editor/browser/controller/mouseHandler.ts#L296 you can call `focus()` and then `e.preventDefault

[2016-06-17 08:00] jrieken commented on #7773
I agree with @alexandrudima. The diff view should not use the `inmemory` scheme cos that's the default for any editor model. It's good that the css brain can work on those models. For LHS diff editor resources we should use a different scheme that everyone knows to ignore or maybe the diff editor creates a 'random' mode on the fly which only reuses tokenisation.

[2016-06-17 08:00] sandy081 commented on #7801
@Tyriar Not sure if it is related/duplicate of #7740

[2016-06-17 08:01] ChendrayanV opened #7803 "Feedback"
- VSCode Version: 1.3.0 Insider
- OS Version: Windows 10

using module is not supported
Toggle Output option is missing in view menu

[2016-06-17 08:02] alexandrudima commented on #7784
I do not write `monaco.d.ts` unless it has changed https://github.com/Microsoft/vscode/blob/master/gulpfile.js#L133 to avoid needless compilation.

It is possible that while pulling the files that `monaco.d.ts` uses as a source are changing (becoming empty or invalid and then recovering)... That is the only reason IMHO that this would change. The question is then why do those files become empty/in

[2016-06-17 08:03] sandy081 commented on #7799
@ArianeLu Can you please provide complete lines?

[2016-06-17 08:06] sandy081 commented on #7795
This issue was moved to Microsoft/TypeScript#9224

[2016-06-17 08:06] #7795 closed

[2016-06-17 08:08] sandy081 commented on #7792
This issue was moved to Microsoft/TypeScript#9225

[2016-06-17 08:08] #7792 closed

[2016-06-17 08:08] ArianeLu commented on #7799
![vscode](https://cloud.githubusercontent.com/assets/4962408/16144457/a923544a-34a5-11e6-83fc-a58962339493.png)

@sandy081 Look, no need complete lines, the code in picture have same issue

[2016-06-17 08:10] gordey4doronin commented on #3527
@kumarharsh Yes, I saw the issue #541

However.. I'm curious why we call it _subword_?

If we have something like this `command-with-few-words`, then it works fine.
It sees there are 4 word separated with `-` symbol which is taken from `"editor.wordSeparators": "~!@#$%^&*()-=+[{]}\\|;:'\",.<>/?"`.

And when we have `commandWithFewWords`, why it became _subwords_ rather than _words_?
My expectation

[2016-06-17 08:13] alexandrudima commented on #7797
@gregvanl I am not seeing this slowness. Can you please profile and attach the CPU profile trace. Here I am doing it:

* F1 > Developer tools
* Profile tab
* Start profiling
* Do the typing or whatever causes slowness
* Stop profiling
* Save the cpu profile

It would be preferable if you could do this in a dev environment such that the function names are not all garbled, but I would take it anyway

[2016-06-17 08:14] gordey4doronin commented on #541
The plugin works fine!

However, this is such a default functionality (at least in other IDEs).
Shouldn't it be out of the box?

[2016-06-17 08:15] #7781 closed

[2016-06-17 08:16] isidorn commented on #7781
I am now also using the index of the editor input in the group to generate the id - so it should be trully unique.
Unfortuently I could not repro your test case since the markdown preview throws an error when I try it in out of source built vscode.

[2016-06-17 08:17] alexandrudima commented on #3527
You are correct, they are very similar in nature.

But technically, one is called word navigation (as it involves separator characters between groups of characters that become a word, so `command-with-few-words` is a group of characters containing 4 words if `-` is defined as a separator) and one is called subword navigation (as it involves examining the contents of a word `commandWithFewWords` is

[2016-06-17 08:20] sandy081 commented on #7783
@tylucaskelley it got fixed in latest build (1.3). Thanks for reporting.

[2016-06-17 08:21] forethoughtde commented on #7801
It is about integrated terminal. The other one is external terminal.

[2016-06-17 08:30] sandy081 commented on #7764
@forethoughtde May I know are you using any extension for PHP debugging?

[2016-06-17 08:32] sandy081 commented on #7803
@ChendrayanV Output menu option is moved under View->Views section. We are discussing to get this back to main section.

May I know what do you mean by using module is not supported?

Thanks

[2016-06-17 08:33] alexandrudima commented on #7609
The `refCount` property is not initialized on `DecorationTypeOptionsProvider`, making `provider.refCount++` turn it into NaN, making this code in `removeDecorationType` not succeed:

[code]

[2016-06-17 08:35] forethoughtde commented on #7764
I am using PHP Debug 1.9.1

[2016-06-17 08:35] sandy081 commented on #7788
@dilijev IMO Help > Report Issues functionality will definitely overcome this problem. I am closing this issue in favor of using this new functionality.

Please use #3362 for any suggestions on help dialog.

Thanks

[2016-06-17 08:35] #7788 closed

[2016-06-17 08:36] lnicola commented on #7712
Works for me in newer Insiders builds, closing.

[2016-06-17 08:36] #7712 closed

[2016-06-17 08:37] alexandrudima commented on #7609
Fixed while merging #6553 with 9e7b462601a72536ef4ab646266df6c6b6f20211

[2016-06-17 08:37] #7783 closed

[2016-06-17 08:39] mkyjakova commented on #7701
Hi, thanks for your reply. I think it's fine for the moment. I let the translators know.

[2016-06-17 08:39] sandy081 commented on #7764
Thanks @forethoughtde

I would suspect this could be a bug in the extension. Please report the same on the extension.

[2016-06-17 08:39] #7764 closed

[2016-06-17 08:42] #7701 closed

[2016-06-17 08:44] sandy081 commented on #7768
duplicates #396

[2016-06-17 08:44] #7768 closed

[2016-06-17 08:47] kisstkondoros commented on #6669
ping

[2016-06-17 08:51] Tyriar commented on #7767
I don't see a `launcher.terminal` in the latest insiders, are you sure this isn't a custom keybinding?

[2016-06-17 08:59] #5251 closed

[2016-06-17 09:05] bpasero commented on #7781
@jrieken @kieferrm I saw this too, could it be that we miss to npm install in this extension?

[2016-06-17 09:10] sandy081 commented on #7716
@kimmosh I just checked and it is working on stable build on Windows 10

Can you please provide more information like
- what is your set up
- what you are trying and what you noticed..

Note: We (Dev team) use Auto save as default and it is working.

Thanks

[2016-06-17 09:18] OliverJAsh opened #7805 "Add shortcut command for show type/signature"
I want to show the type/signature of an identifier, like when hovering over an identifier, but instead by pressing a keyboard shortcut. Is this possible?

[2016-06-17 09:20] aeschli commented on #7799
This is about the editor rendering being fuzzy on line 2

[2016-06-17 09:21] aeschli commented on #7778
Yes, we renamed the SCSS mode id from sass to scss. The doc will be updated when we make the stable release.

[2016-06-17 09:26] jods4 commented on #6778
@jrieken
I open a folder containing `.md` files (through command line `code .`).
I have a `.vscode\settings.json` containing
[code]
When I open intellisense all words suggestions appear.
![md-bug](https://cloud.githubusercontent.com/assets/3832820/16146426/4858f272-347e-11e6-89d6-0c79598ad74f.png)

[2016-06-17 09:28] ChendrayanV commented on #7803
Thanks - It will be good if we have it in main section. Using Module is for PowerShell Extension -  I will post it over there!

[2016-06-17 09:42] weinand commented on #7798
Yes, we are registering VS Code as a editor for SVG files, but how VS Code has become the default editor for SVG is unclear to me.

You can change the default here:
![2016-06-17_10-26-22](https://cloud.githubusercontent.com/assets/1898161/16144872/088adf78-3476-11e6-9b69-ffc7d957337b.png)

[2016-06-17 09:45] jumpinjackie opened #7806 "[TypeScript]: Need to (F12/Goto definition) twice on destructured imports to get to actual definition"
- VSCode Version: 1.2.1
- OS Version: Windows 8.1 x64

Steps to Reproduce:

1. Import a module member using destructuring syntax
2. F12 / Goto definition on the destructured import symbol

The first F12 takes you to the destructuring expression. The second F12 then takes you to the actual definition

See attached gif for an example

![destructured_import](https://cloud.githubusercontent.com/assets

[2016-06-17 09:47] Arrow7000 commented on #7720
Right I see. I was confused because it was saved and had a name, albeit the name was `Untitled-1.js`. But I just tried it with the identical file, only difference being a different filename and it does work as before.

![image](https://cloud.githubusercontent.com/assets/13225609/16146983/c30a8554-3478-11e6-934e-f3a59ca61bb7.png)

At least it's consistent then but the primary problem still appears.

[2016-06-17 09:48] kumarharsh commented on #3527
@alexandrudima Oh... I was going to take a shot at it this weekend, but hadn't thought the case for localization at all. :disappointed:

[2016-06-17 09:55] kumarharsh commented on #6669
Can this be floated in an insider build? Would really be helpful if we could use and give some feedback on this.

[2016-06-17 09:56] bgse commented on #7796
@ventis07 I've used VSCode for Ionic (both v1 and v2) quite a bit, and I think the problem is more your approach.

Just to give a few ideas, you build the projects with the ionic-cli, not directly from inside VSCode.

For debugging, you wouldn't "run" the project from inside VSCode either, you'd "ionic serve" and either remote-attach with the chrome remote debugging extension, or just use chrome d

[2016-06-17 09:57] bpasero commented on #2253
Well, no further thinking has happening in this space. I think it boils down to finding a good syntax in our settings file so that you can express per language settings. We have not decided on a syntax to express this. Whatever we come up with also needs to support validation within, so it might be more tricky.

[2016-06-17 09:58] #7803 closed

[2016-06-17 09:59] bpasero commented on #7780
@jrieken I see, so URIs for the markdown inputs are only valid if the extension is activated. I thought all we need is to wait for extension host having started in https://github.com/Microsoft/vscode/blob/ben/dnd/src/vs/workbench/common/editor/resourceEditorInput.ts#L60 but turns out the extension would also have to be activated.

I think in general it would be cool if an extension that brings in

[2016-06-17 10:02] bpasero commented on #7784
OK maybe it is not the monaco.d.ts generation but ever since 1 week I often get multiple full compilation runs when pulling in changes. I notice this most on Windows where a typical full build takes 80 seconds for me, making this behaviour unusable.

I also notice - though not sure if related - that I cannot make a quick change, switch to the target and reload it to have the changes picked up. Not

[2016-06-17 10:08] bpasero commented on #6669
The PR cannot be accepted because of a layout glitch I documented in https://github.com/Microsoft/vscode/pull/6997#issuecomment-226732188.

[2016-06-17 10:09] bpasero commented on #7765
We do not delete user content to not have data loss.

[2016-06-17 10:09] #7765 closed

[2016-06-17 10:09] bpasero commented on #7787
DND into Code is being revamped for our June release. Please reopen if you still see it from latest.

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Down

[2016-06-17 10:09] #7787 closed

[2016-06-17 10:10] bpasero commented on #7786
@dilijev does it reproduce using our insiders build?

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-06-17 10:17] ventis07 commented on #7796
@bgse, Thanks for your response but thats completely different from the ideas that all resources i have read from ionic framework and vscode features. Could you please post me resources that explains what you just pointed our in your response, perhaps all along, i have been doing the wrong thing. If i run ionic serve the app runs on my chrome but i need to be able to debug and step into my breakpo

[2016-06-17 10:20] weinand commented on #7744
@isidorn Another issue: the error returned by `setVariableRequest` is not yet shown. For now you can show it as an error notification. In the future we could use a similar approach as in the explorer:

![2016-06-17_12-19-54](https://cloud.githubusercontent.com/assets/1898161/16147813/d2e9c81a-3485-11e6-8ff5-9d958c721c95.png)

[2016-06-17 10:21] joaomoreno commented on #6669
:-1: I'd rather just have it inline without any grammar, like the find widget:

![image](https://cloud.githubusercontent.com/assets/22350/16147818/eb8ce046-3485-11e6-8f98-3d1c81d61fcb.png)

Adding a line and writing text makes it both look ugly and take longer to understand since the user'll have to read the sentence.

[2016-06-17 10:25] rebornix commented on #780
+1 here.

Working from Costa now and VS Code starts to download newest version automatically. But unfortunately the file downloaded was somewhat corrupted. The first idea came into my mind was opening VS Code and triggered the check for update button again, but unfortunately I had to download the bits only from site.

[2016-06-17 10:27] #4580 closed

[2016-06-17 10:30] sandy081 commented on #6669
I think we would need to show the number once we have Replace functionality.

If it is only count, How about showing in the title bar just like in Problems view? Side bar is already narrow and compressing the search bar by adding more info / details make it more cumbersome.

[2016-06-17 10:31] sandy081 commented on #6669
Also Badge like in Git view?

[2016-06-17 10:35] isidorn opened #7807 "Set variable should show an error in a nice way"
From @weinand

<img width="662" alt="screen shot 2016-06-17 at 12 34 51" src="https://cloud.githubusercontent.com/assets/1926584/16148143/ed2d3f7a-3487-11e6-9677-a7a591be27fe.png">

[2016-06-17 10:38] bpasero commented on #7773
I appreciate the ideas around introducing git URIs. The UX issue I have is that I see warnings for resources I cannot edit. Whatever we decide on doing, please do not show me warnings for resources that I cannot edit. I might be able to open them if we do all the things talked about here but I can still not fix the warnings.

I am not sure how to express myself better, sorry :)

[2016-06-17 10:44] jrieken commented on #7781
@bpasero What is the algorithms that defines the ID? This is where we create input: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/html/browser/html.contribution.ts#L35

[2016-06-17 10:46] jrieken commented on #6778
That will be fixed with the June release as we have moved out markdown into an extension

[2016-06-17 10:52] bpasero commented on #7781
@jrieken this is about IDs for tree items. I would think that taking an inputs resource is a good ID (@isidorn you should use it if you have it together with the position of the editor in the groups).

Editor inputs do not need an ID but the idea is that an editor input gets identified by its resource e.g. to find out if an editor is already opened or not. Some editor inputs do not have a resource

[2016-06-17 11:00] stevencl commented on #7732
We need to think about this holistically. For example, we need to think about navigation between file tabs and (potentially) terminal tabs (e.g., what does ctrl-tab do when focus is in the terminal, how do I navigate to a terminal tab when focus is in the editor)

There is the question of tabs or no tabs, what the tabs look like, can we show progress, status badges etc on the tabs.

I can definite

[2016-06-17 11:13] Tyriar commented on #7798
This is on my relatively new macbook, I have Chrome and Code Insiders installed, I was expecting to view the image not the code when I opened it.

[2016-06-17 11:16] tht13 commented on #7805
Is `ctrl+k ctrl+i` what you're looking for? I'm on the insiders build so it could be a new shortcut.

[2016-06-17 11:22] bgse commented on #7796
@ventis07 I'll see to give some more info for you here once I'm at my personal workstation, don't have access to my bookmarks or projects right now.

Probably the easiest way to get started with Ionic2 TypeScript projects is to use Chrome developer tools for debugging them, just develop in vscode and debug in chrome, there is no additional setup needed for this.

You'd just "ionic serve" your proj

[2016-06-17 11:22] OliverJAsh commented on #7805
Exactly, thanks! Do you know the name of the command?

On Fri, 17 Jun 2016 at 12:16 Thomas Townsend <notifications@github.com>
wrote:

[2016-06-17 11:33] tht13 commented on #7805
`editor.action.showHover`

[2016-06-17 11:35] ventis07 commented on #7796
@bgse, Thanks. Will get into the links and await further for any other ones. Hope that with the resources, i can get this challenge over with. Many Thanks

[2016-06-17 11:44] abierbaum commented on #7721
@sandy081 Thanks for the pointers.  I took a look and realize it would take longer than I thought so I may have to delay this.  In the meantime if anyone with more experience with the code could add this change, I think many keyboard users would appreciate it.

[2016-06-17 11:51] benyaminl opened #7808 "Hide GIT Button"
- VSCode Version: 1.2.1
- OS Version: Win 7 Pro x64

Is there anyway to hide Git button on VS Code?

[2016-06-17 12:08] ZCShou opened #7809 "Drag the selected contents"
- VSCode Version: Code1.3.0-insider
- OS Version: Win10
Steps to Reproduce:

1. As the title！

[2016-06-17 12:57] tikotal opened #7810 "open terminal view (ctrl-j) after exiting the previous session with exit command, will fail"
- VSCode Version: 1.2.1
- OS Version: Windows 10

Steps to Reproduce:

1. Open terminal using ctrl-'
2. in the terminal enter "exit" and press enter
![image](https://cloud.githubusercontent.com/assets/1773701/16151124/eca46c06-34a3-11e6-8793-07e6da7a5cfb.png)

3. the terminal view will close itself
4. now toggle back to terminal view using ctrl-j
5. ERROR: an empty terminal view is shown
![image](

[2016-06-17 13:36] hakanostrom commented on #7727
Can confirm it effects on a new installation of v1.2.1 and on windows.
Folders causing this for me is when opened as "root" and containing swedish letters (åäö)

[2016-06-17 13:43] weinand commented on #7798
@Tyriar then you'll have to make Chrome the default viewer for *.svg

[2016-06-17 13:49] Guema commented on #4039
Hi. i wanted to add a very modest idea : could be nice to have a line padding preference, defining the space between each line like in sublime text. at the moment we can only define line height, it also change caret and line hightlight size, even if police size remain the same, that is not really nice to read. it could be nice to have an option to change the margin beween each line.

Also, the ava

[2016-06-17 13:53] #7798 closed

[2016-06-17 13:54] isidorn opened #7812 "Setting variable values"
Tests https://github.com/Microsoft/vscode/issues/7744:

- [x] any platform - @sandy081

During a debugging session it is now possible to change a value of any primitive variable (leafs in the variable tree). Currently this is only supported in node-debug. The accepted syntax is the same as for watch expressions and the REPL.

Verify:
* you can use the context menu / double click to change the valu

[2016-06-17 13:55] moshahmed commented on #7345
Windows7 Start > cmd > cd c:\gitportable-209-x64\bin > bash.exe
user@host MING64 /bin
$ ast<backspace becomes space>

This problem is probably due to using incompatible versions of the cygwin DLL.
Search for cygwin1.dll using the Windows Start->Find/Search facility
and delete all but the most recent version.  The most recent version *should*
reside in x:\cygwin\bin, where 'x' is the drive on which

[2016-06-17 14:07] aeschli commented on #7609
Thanks @alexandrudima !

[2016-06-17 14:13] isidorn opened #7813 "Bad extensions rankings"
The current extension ranking is bad, here are a couple of examples:
Due to this finding the correct extension right now is extermely difficult.

![screen shot 2016-06-17 at 16 10 12](https://cloud.githubusercontent.com/assets/1926584/16153294/ff140d2c-34a5-11e6-8750-e0bcbb0df622.png)

![screen shot 2016-06-17 at 16 10 47](https://cloud.githubusercontent.com/assets/1926584/16153317/18b0fa2e-34a6-1

[2016-06-17 14:15] isidorn commented on #7652
@aruneshchandra welcome. Is the chakra debug adapter extension published - I could not find it? Is there some way we can try this out - since we woudl ike to add it to our test plan.

[2016-06-17 14:16] bpasero commented on #7647
I have pushed a change to restore Cmd+1/2/3 functionality and instead add Cmd+Shift+[1-9] to navigate to the index independent of if tabs are enabled or not.

We still have to decide about the default. However I already got a very surprising @Tyriar when he had tabs disabled and Cmd+1/2/3 was not doing what it used to do.

[2016-06-17 14:16] tylucaskelley opened #7814 "[js] syntax highlighting: Regular expressions are hard to read"
- VSCode Version: 1.2.1
- OS Version: 10.11.5

Steps to Reproduce:
1. Write a RegExp literal
2. Note the lack of any highlighting to distinguish different elements of the regular expression

![screen shot 2016-06-17 at 10 14 44 am](https://cloud.githubusercontent.com/assets/5448759/16153445/596e6862-3474-11e6-85e1-d0327a91cb2f.png)

I prefer the way Atom handles this:

![screen shot 2016-06-17 at

[2016-06-17 14:17] #7777 closed

[2016-06-17 14:17] aeschli commented on #7802
duplicate of #7777

[2016-06-17 14:17] #7802 closed

[2016-06-17 14:18] isidorn opened #7815 "Draggable debug toolbar"
Test for https://github.com/Microsoft/vscode/issues/4580:

- [x] Windows - @chrmarti
- [x] OS X - @jrieken
- [x] Linux - @Tyriar

By request from users #4580 it is now possible to drag the debug actions widget horizontally across the workspace window.

Start a debugging session and verify:
* You can drag the debug toolbar on the horizontal axis
* You can not drag the debug toolbar out of window
*

[2016-06-17 14:22] aruneshchandra commented on #7652
@agarwal-sandeep can tell you more about this.

cc:@curtisman

[2016-06-17 14:22] wiltonpolesca commented on #206
+1

[2016-06-17 14:25] egamma opened #7816 "Add a link to the settings description from the default settings.json"
In the header:
![image](https://cloud.githubusercontent.com/assets/172399/16153696/b94f5844-34a7-11e6-8994-0c86c6923993.png)

add:

See http://go.microsoft.com/fwlink/?LinkId=808995 for the most commonly used settings.

@seanmcbreen pls chime in with regards to words.

[2016-06-17 14:25] joaomoreno commented on #7813
Forwarded to Marketplace team.

[2016-06-17 14:28] richarddavenport opened #7817 "Integrated terminal scrolling not working in oh-my-zsh"
- VSCode Version: 1.3.0-insider 93e65224d7598017bfa0b188a0d82b66a2ee9698
- OS Version: OS X 10.11.5

Steps to Reproduce:

1. Make more content in the integrated terminal than can fit in the panel.
2. Try scrolling to the top of the content. Doesn't work for me...

[2016-06-17 14:36] alexandrudima commented on #7773
well, how can a language service extension recognize read-only resources. Are all the inMemory read only resources?

[2016-06-17 14:37] lucnoc commented on #6375
Thanks! confirming that http://code.visualstudio.com/Download#insiders is fixed

[2016-06-17 14:38] dbaeumer commented on #7773
@bpasero I fully agree that I don't want to see errors for read-only resource. Having a git-* schema would allow all validators to exclude those.

[2016-06-17 14:41] yisibl commented on #7800
Demo and doc: http://docs.emmet.io/actions/wrap-with-abbreviation/

[2016-06-17 14:47] bpasero commented on #7773
@alexandrudima as of today you cannot edit any resource in the editor that has a different schema than `file` or `untitled`. That seems like a good start to filter...

Are we planning to allow extensions to open editors with other schemas and making those writeable? If not, we should start simple and only validate `file` and `untitled`.

Nevertheless, +1 for using domain-specific schemas if possib

[2016-06-17 14:48] alexandrudima commented on #7605
Yes, since we updated to the newer electron version, Chromium always shows ligatures, even without our enabling them.

[2016-06-17 14:50] jrieken commented on #7793
This issue was moved to Microsoft/TypeScript#9228

[2016-06-17 14:50] #7793 closed

[2016-06-17 14:51] alexandrudima commented on #7598
I don't think I understand. You have a `gulp watch` that you started on commit A and you want the same version of gulp watch from commit A to be able to compile arbitrary commit B from the past?

[2016-06-17 14:51] jrieken commented on #7781
+1 for all inputs having a resource associated. Tho, it might still be the same resource for different inputs

[2016-06-17 14:53] egamma opened #7818 "Folding actions have no effect in read-only editor"
1) Open Preferences>User Settings
2) Execute a Folding command from the command palette

-> the folding action has no effect

[2016-06-17 14:54] egamma opened #7819 "Settings - The Default settings should be folded to level 2 when first opened"

[2016-06-17 14:57] sandy081 commented on #7773
Outcome of discussion is to come up with a new schema say private and do not send to extension host at all just like large files.

- Left hand side of diff-editor uses this private schema.

I think for in memory files, markers owners should be responsible for cleaning / removing the markers when the file is closed. This would

- Let the user know if there are real problems (just like the case in D

[2016-06-17 14:57] cindoum commented on #2246
any update on it?

[2016-06-17 15:04] bpasero commented on #7781
Also, usually we do an instance of check too, so that 2 inputs can have the same associated resource but are considered different.

[2016-06-17 15:11] isidorn commented on #4131
Not sure if this is still an issue, forwaring to @weinand to decide

[2016-06-17 15:22] shpleef opened #7820 "when i do alt-sht-f to format code it adds a semicolon to places with a starting parentheses and a starting curly bracket!!"
- VSCode Version:
- OS Version:

Steps to Reproduce:
![screen shot 2016-06-17 at 17 21 59](https://cloud.githubusercontent.com/assets/16339855/16155497/0a6efac4-34b0-11e6-89ca-899de54e44bc.png)

1. vscode 1.20
2. MacOsX El Captain

[2016-06-17 15:32] MIchaelMainer opened #7821 "VS Code incessantly invokes an OpenSSH dialog"
- VSCode Version:1.0.0
- OS Version: 10.0.10586

I'm using the git bash terminal on Windows 10 to work with repos. When I use a repo where I used SSH to connect to the remote repo, I get an OpenSSH dialog that requests my passphrase with 'Enter passphrase for key /c/..id_rsa'. The dialog gives me an OK and Cancel button. I press either one, the dialog goes away. It seems to pop up about every 5 to

[2016-06-17 15:50] bpasero commented on #7662
@isidorn did it happen?

[2016-06-17 15:51] bpasero commented on #7046
The action is now available in the context menu anywhere if you right click in the title area:

<img width="701" alt="screen shot 2016-06-17 at 17 50 44" src="https://cloud.githubusercontent.com/assets/900690/16156330/09e45cb2-34b4-11e6-85a9-8e0d2bcaf741.png">

I am still not sure if we should expose it as primary action though given the close button is already there.

[2016-06-17 15:54] tills13 commented on #7820
Fill out the OS version/vscode version as well - it really helps the devs out.

[2016-06-17 16:02] cadupedroni commented on #4975
The error was caused by lack of permission in the folder/Users/youruser/Library/Application Support

With the command -> sudo chmod 775

Was solved

[2016-06-17 16:02] #4975 closed

[2016-06-17 16:02] bpasero opened #7822 "Conflict detected, command `cursorWordStartLeft` cannot be triggered by alt+left due to editor.action.moveCarretLeftAction"
[code]

[2016-06-17 16:05] vogler opened #7823 "Expose command for "Switch to Inline View""
- VSCode Version: 1.2.1
- OS Version: OS X 10.11.4

The "..."-menu in the "Changes View" offers "Stage Selected Lines" and "Switch to Inline View"/"Switch to Side by Side View", which are (sadly) not listed in the API.
Also, a command for staging the current hunk would be nice.

[2016-06-17 16:08] leedonhyun opened #7824 "When resizing tab width smaller, Find window truncated."
- VSCode Version:

Version 1.3.0-insider
Commit 93e65224d7598017bfa0b188a0d82b66a2ee9698
Date 2016-06-17T05:08:31.587Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0
- OS Version:
  windows 10
1.

![animation3](https://cloud.githubusercontent.com/assets/8449892/16156842/fc588aea-34f0-11e6-983b-90f451df9921.gif)
1.

[2016-06-17 16:29] tills13 opened #7825 "Only Render Whitespace on Selection"
- VSCode Version: any
- OS Version: any

In Sublime, there's an option to only show whitespace when text is highlighted.

<img width="363" alt="screenshot 2016-06-17 09 19 42" src="https://cloud.githubusercontent.com/assets/1269421/16157344/fb07502e-346c-11e6-990a-c7ffa44d511f.png">

In my opinion, this helps with code readability, while still allowing you to see whitespace if you need to. Code cu

[2016-06-17 16:45] aeschli commented on #2246
@cindoum Sorry, no, we currently have no plans adding this.
I recommend you using the emmet expansion
enter `script`, press tab. This expand to `<script></script>`

[2016-06-17 16:47] jacdavis commented on #7731
It is working now on the insiders drop after a reinstall. I think the problem is the link http://code.visualstudio.com/Download#insiders still points to the released build unless you click the little link to get the insiders, so I most likely just re-downloaded the released bits.

[2016-06-17 16:47] jacdavis commented on #7731
And yes, this looks like what I was hoping for. Thanks!

[2016-06-17 17:27] tills13 opened #7826 "Tabs Not Showing in Insiders Build (June 17th Build)"
- VSCode Version: 1.3.0
- OS Version: OSX 10.11

Steps to Reproduce:

1. enable tabs using `"workbench.showEditorTabs": true`
2. open more than one context
3. the contexts should open in separate tabs, but open in the traditional "stack" instead.

[2016-06-17 17:29] isidorn commented on #7662
@bpasero not today

[2016-06-17 17:34] jbeaudoin11 opened #7827 "Prevent goto definition when trying to copy"
Hi !

I posted in the closed issue #189 but nobody replied after 4 days..
So I create a new one so I can get some help with that.

I wanna know if it's possible to disable the goToDefinition bind to Ctrl + Click ?
This is so annoying ! Every time I copy/paste I end up to somewhere else in the code...
Since I'm not using the goToDefinition, I wanna disable it.

Tried to overwrite the key bind like

[2016-06-17 17:36] bgashler1 commented on #7649
Agreed.  Steven and I will be meeting next week to discuss.

[2016-06-17 17:44] tills13 commented on #7827
try `{ "key": "ctrl+[mouse button]",   "command": "-cursorWordLeft" }`

[2016-06-17 17:47] jbeaudoin11 commented on #7827
Still doesn't work

[2016-06-17 17:48] Tyriar commented on #7647
Yes I've become used to using <kbd>ctrl</kbd>+num to split as well as focus, instead of remembering a new keybinding.

<kbd>ctrl</kbd>+`num` makes more sense to focus tab number `num` when <kbd>ctrl</kbd>+<kbd>tab</kbd> is not a most recently used list, like in browsers. When it is a MRU list, if <kbd>ctrl</kbd>+`num` opens tab at `num` there are 2 different models for navigating your tabs; most r

[2016-06-17 17:50] Tyriar commented on #7727
I had a look at this and it appears to be an upstream issue, moving to backlog.

[2016-06-17 17:51] Tyriar commented on #7712
@lnicola https://github.com/Microsoft/vscode/pull/7350 is the PR that fixed the bin command.

[2016-06-17 17:53] kieferrm commented on #6688
@bpasero, we still provide the same support. We still need to retest this scenario.

[2016-06-17 17:53] lnicola commented on #7712
@Tyriar no, I meant the extra newline in the temporary path.

[2016-06-17 17:54] Tyriar commented on #7740
@NCC1701M does the command not stop on the integrated terminal or the external (system) terminal?

[2016-06-17 17:55] Tyriar commented on #7801
This is a duplicate of https://github.com/Microsoft/vscode/issues/7554, it is somewhat fixed but still needs https://github.com/sourcelair/xterm.js/issues/134 to be looked at for better performance.

[2016-06-17 17:55] #7801 closed

[2016-06-17 17:56] Tyriar commented on #7766
@forethoughtde could there be an operating system override that captures <kbd>ctrl</kbd>+<kbd>\`</kbd> before it reaches vscode?

[2016-06-17 17:57] Tyriar commented on #7712
No idea on that one

[2016-06-17 17:58] Tyriar commented on #7630
Oh Powershell too? I found Clink completely unusable because of this.

[2016-06-17 18:05] Sequoia opened #7828 "How do I debug vscode itself?"
- VSCode Version: Version 1.2.1 (1.2.1)
- OS Version: OSX 10.11.5

Having an issue loading another jsonschema via `$rel`, trying to figure out what domain it's sending the request to (not going to localhost I expected). I'd like to turn on vscode debugging to see what vscode is requesting.

[2016-06-17 18:24] stofte opened #7829 "Git submodule support"
- VSCode Version:
  1.2.1
- OS Version:
  Windows 8.1 x64

Steps to Reproduce:
1. git clone --recursive repo-with-sub-module
2. code .
3. Edit file in the submodule folder and save
4. Change to git panel
5. Click the changed file
6. VS Code warns "Can't open this git resource."

Is there support for this handy git feature?

[2016-06-17 18:25] agarwal-sandeep commented on #7652
@isidorn Node-ChakraCore is supposed to work with vscode-node-debug adapter as Node-ChakraCore will support the debugging protocol without extensibility.

@roblourens had added a 'back' stepaction to 'continue' command in the vscode-node-debug adapter prototype. https://github.com/roblourens/vscode-node-debug/commit/fdc0ea24d08b5e0213642d048791ce2fd920216d that change needs to be in adapter if UI

[2016-06-17 18:41] bill-mybiz opened #7830 "Git commit message templates"
The primary goal is to have awesome git messages through the power of templates + snippets.

We were looking to use git's commit templates for [better git commit messages](https://robots.thoughtbot.com/better-commit-messages-with-a-gitmessage-template), similar to [Angular's conventions](https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md#commit). But we also love the super easy git

[2016-06-17 18:45] BurtHarris commented on #7568
With Version 1.2.1, I'm getting different behavior, but still seems buggy.    Starting a fresh project, I create a tasks.json using the template for grunt.   But now when I press Ctrl+Shift+B, I get a message saying "No built task configured".

[code]

[2016-06-17 18:51] forethoughtde commented on #7766
I do not think so

[2016-06-17 18:55] Sequoia commented on #7828
Installed for local development but now I can't install the chrome debug extension-- there's no "`ext install`" option in the version I run with `./scripts/code.sh`

![jsonschema-vscode](https://cloud.githubusercontent.com/assets/317498/16161410/593ad1ce-349b-11e6-8397-f2187969161d.gif)

[2016-06-17 19:00] Tyriar commented on #7766
I'm out of ideas, you might want to just use a different keybinding since you can rebind it without issues. If I was to guess I think something outside of VSCode is swallowing the key event before it reaches the app. Going to close this off for now, please comment if you find out more.

[2016-06-17 19:00] #7766 closed

[2016-06-17 19:01] BurtHarris commented on #7568
P.S. the root cause of this is that the docs at https://go.microsoft.com/fwlink/?LinkId=733558 are too complex.

[2016-06-17 19:05] Sequoia opened #7831 "jsonschema $ref not loading relative URL"
- VSCode Version: Version 1.2.1 (1.2.1)
- OS Version: OSX 10.11.5

Steps to Reproduce:

## Setup
Serve the following from `localhost:8090`

### test-parent.json
[code]

### external.json
[code]

## Include from another project

Create `instance.json` in a separate project:
[code]

[2016-06-17 19:06] Sequoia commented on #7831
Cannot reproduce running vscode via local `./scripts/vscode.sh` debug install 😦

[2016-06-17 19:25] kieferrm opened #7832 "Markdown extension: Needs to contribute markdown.style configuration option"
The markdown extensions still supports the `markdown.styles` configuration option but does not contribute it in its `package.json` file.

[2016-06-17 19:30] aruneshchandra commented on #7652
@agarwal-sandeep are you saying that the current VSCode implementation for stepBack functionality is not complete ?

[2016-06-17 19:37] kieferrm opened #7833 "First level allOf contributions in package.json should be handled as top level contributions"
The css extension contributes configuration options for css, css, and less using allOf at the top-level:
[code]

The css, scss, and less contributions should be shown as top-level contributions in the default user settings.

[2016-06-17 19:40] Tyriar opened #7834 "Move terminal process related code to node/"

[2016-06-17 19:44] #7832 closed

[2016-06-17 19:44] #7833 closed

[2016-06-17 19:45] agarwal-sandeep commented on #7652
node.exe (Chakracore) needs to know that step back is requested and it is not in debugging protocol so adapter needs to send a different action in continue command and I don't see it in https://github.com/Microsoft/vscode-node-debug/blob/master/src/node/nodeDebug.ts

@roblourens @weinand how will adapter notify the process?

[2016-06-17 19:47] kieferrm commented on #7776
Forgot to contribute the actual configuration option...  fixed in #7832.

[2016-06-17 20:09] blachawk opened #7835 "Using for as a prefix for snippets, does not allow comments to be included"
- VSCode Version:1.2.1
- OS Version: Windows 10

Steps to Reproduce:

1. create a javascript snippet with the prefix for.
2. try to add a comment to the snippet, along with the javascript code.
3.processing the snippet does not allow comments to be shown, until you change the prefix name to something else.
4.more on my initial fiinding can be seen here - http://stackoverflow.com/questions/37889412

[2016-06-17 20:40] orrybaram commented on #7732
It would be great if we could split terminal windows like the editor windows

[2016-06-17 20:48] Tyriar commented on #7732
@orrybaram I created an issue for that and eventually closed it since tools like tmux and screens exist.

[2016-06-17 20:57] weinand commented on #7652
@agarwal-sandeep we have implemented the UI as requested in https://github.com/Microsoft/vscode-node-debug/issues/72. Currently the UI can be controlled by a capability returned from the debug adapter. Our assumption was that Chakra would have its own debug adapter and that would enable the capability and implement a 'step back' request. https://github.com/Microsoft/vscode-node-debug/issues/72 did

[2016-06-17 21:06] orrybaram commented on #7732
@Tyriar rad, i didn't know about those!

[2016-06-17 21:11] #7287 closed

[2016-06-17 21:12] #6738 closed

[2016-06-17 21:16] JonathanMEdwards opened #7836 "Breakpoints don't work on imported TypeScript modules"
- VSCode Version: 1.2.1
- OS Version: OS X 10.11.5
- node version 4.4.2
- tsc version 1.8.9
[chorus copy.zip](https://github.com/Microsoft/vscode/files/321280/chorus.copy.zip)

Steps to Reproduce:

1.  Open attached project
2.  Set breakpoint on src/subtext/subtext.ts line 2 (console.log...)
3.  run debugger on "all tests"
4. debugger hits the "debugger" statement on line 3 but skips the breakpoin

[2016-06-17 21:32] chase-brenchley opened #7837 "Peek Definition doesn't show up when right-clicking"
- VSCode Version: Latest
- OS Version: Mint

Right clicking does not open the option to peek at the definition. I could do this not 4 hours ago but can't now.

[2016-06-17 21:57] nevadascout commented on #3683
I've been working on a PHP code-completion plugin called Crane. It's still in the early stages, but already it's a huge improvement over the built-in intellisense.

https://github.com/HvyIndustries/crane

[2016-06-17 22:16] reactivize commented on #7767
Hey Tyriar,
That's interesting
I have the latest builds, I get them every night.
I didn't modify the Default Keyboard Shortcuts file, plus it's readonly.

[Link to my screenshot image](https://s31.postimg.org/f1p5xa8nf/launcher_terminal.jpg)

[2016-06-17 22:17] WayneKoorts commented on #2465
I'm keen to help with implementing a fix for this "bug" (more of a feature IMHO ;-).  It would be great if we could nail down requirements for this.  My suggestion, based on looking at this ticket's history and some of the linked ones, would be:

- By default, suggestion and parameter hints inherit editor fontSize and lineHeight.
- If suggest.fontFamily exists, override suggest fontFamily with tha

[2016-06-17 22:21] FeaRCODE commented on #2465
@WayneKoorts I would think this would be a necessity considering they pushed "Accessibility", which this clearly is. Also, I feel it would be easier (and suite more people) if we could control the font Size of the tooltips/IntelliSense separate from the font size / line-height of the editor.

[2016-06-17 23:31] ventis07 commented on #7796
@bgse Thanks for your update. I managed to get the vscode chrome debuggin method but now though its able to attach to google chrome but am stucked at this error anytime i fire my debug process "Not allowed to load local resource: file:///C:/IONIC2/TRIALS/testblank/index.html" where file:///C:/IONIC2/TRIALS/testblank is my {$webspaceRoot}. Any ideas???

[2016-06-18 00:43] bgashler1 commented on #6759
@bpasero I just verified that the fix for this is to add `font-weight:300` to the `.monaco-shell`.  This should fix it for all exiting fonts.  Would you like me to push the change up myself?

[2016-06-18 01:21] ventis07 commented on #7796
@bgse @weinand Guys, thanks i eventually solved these problems. I stopped all processes running Google Chrome and then from my cmd executed "C:\Program Files (x86)\Google\Chrome\Application>chrome.exe --remote-debugging-p
ort=9222 --allow-file-access-from-files". Just that now my breakpoints are not hit. If you think you might know why this is hapenning pls let me know otherwise, i will keep googl

[2016-06-18 03:47] nikhiljanshali opened #7838 "Formating code is not working"
- VSCode Version: 1.2.1
- OS Version:  10.0.10240

After updating last version i have an issue of basic intellisense and formatting code.

[2016-06-18 03:47] OneOfOne commented on #7821
Not really a solution, but `"git.autofetch": false` in your `settings.json` might help.

[2016-06-18 05:12] MikeVan1234 opened #7839 "Sometimes SVG icons do not show up on Windows 7"
- VSCode Version: 1.2.1
- OS Version: Win7

After installing latest, I noticed many items seen on site documentation are missing in my installed. I have now realized they are there I just can't see them. I am using the out of the box set up. Attached is a shot showing the debug menu (top), apparently there are other items along the top, and I have one or more break points set that also can’t be se

[2016-06-18 05:22] kreso22 opened #7840 "Save yourself time and do not use vscode with OSX & Unity."
- VSCode Version: any
- OS Version: OSX
  Also, using Unity

Steps to Reproduce:
1. Follow any instruction you can find online (vscode website, unity, stack overflow, .net, mono, omnisharp, etc etc etc)
2. Follow any issue you can find, even search broadly, and spend 30-40 hours trying to have things work.
3. Fail over and over again.

Or:

Do not use vscode.
Such a shame, beta looked way more pro

[2016-06-18 05:49] jcmielle commented on #7640
I can confirm that scrolling works correctly in Chrome on Windows so it should be possible to fix this in VSCode.

[2016-06-18 06:02] typekpb opened #7841 "rhel 7.2: after upgrade to 1.2.1 symlink: `/usr/bin/code` not present"
- VSCode Version: 1.2.1-1465908640
- OS Version: RHEL 7.2

Steps to Reproduce:

1. installed latest package

		[sudo] password for pb:
		Preparing...                          ################################# [100%]
		Updating / installing...
		   1:code-1.2.1-1465908640            ################################# [ 50%]
		Cleaning up / removing...
		   2:code-1.2.0-1465219835            ########

[2016-06-18 06:10] typekpb opened #7842 "search for extensions via command line"
- VSCode Version: 1.2.1-1465908640
- OS Version: RHEL 7.2

I've noticed there is a way to manage extensions via cli: https://code.visualstudio.com/docs/editor/extension-gallery#_command-line-extension-management

One step I miss in the cli is however to search for extensions.
I'd love to have some command for that, possibly something like:

[code]

where `<string>` could be substring in the extens

[2016-06-18 06:15] typekpb commented on #7841
OK, now I see, duplicate of: #5840 (#7791)

[2016-06-18 06:15] #7841 closed

[2016-06-18 06:15] bpasero commented on #7826
Setting name changed to `workbench.editor.showTabs`

[2016-06-18 06:15] #7826 closed

[2016-06-18 06:17] bpasero commented on #7731
@jacdavis can you explain where you clicked and got the stable bits? we should fix that.

[2016-06-18 06:17] #7731 closed

[2016-06-18 06:21] bpasero commented on #7647
@Tyriar well I am not sure we can make people happy without having support for `Ctrl+<Number>` support to open a tab at index. You are quite right that there are different ways of navigating tabs. The complete list is:
* `Ctrl+Tab`: navigate in MRU order
* `Ctrl+PageUp/Down`: navigate in spatial order across all tabs in all groups
* `Ctrl+<Number>`: navigate in spatial order to tab in index in one

[2016-06-18 06:21] bpasero commented on #6688
Great, thanks.

[2016-06-18 06:22] bpasero commented on #6759
@bgashler1 if you do a PR I can have a look at it. Thanks.

[2016-06-18 06:25] NikosEfthias opened #7843 "vscode reports a wrong typescript error and there's no way to ignore it ."
- VSCode Version:`1.2.1`
- OS Version:`Arch linux`
i have following code which works perfectly for node.js  but visual studio reports me that the inheritance is illegal.
[code]
![](http://i.imgur.com/3svxmv5.png)

[2016-06-18 06:42] bpasero commented on #7168
This is not the extension host process staying around, but a process spawned from the extension host that does not terminate. I just had this issue again and noticed 2 ts-server processes running even though no other VS Code was running (+ many git processes which I think @joaomoreno fixed recently).

<img width="1572" alt="screen shot 2016-06-18 at 08 38 06" src="https://cloud.githubusercontent.c

[2016-06-18 06:50] Tyriar commented on #7767
@reactivize It appears to be the https://github.com/ilich/vscode-launcher extension causing the conflict.

[2016-06-18 06:50] #7767 closed

[2016-06-18 06:54] JimiC commented on #7568
@BurtHarris Give it dome time to get familiarized with all the "new" tooling. I get frustrated too some times but acquiring knowledge takes time, unfortunately.

[2016-06-18 07:19] reactivize commented on #7767
Good catch Tyriar,
I guess the take-home lesson here is that an installed extension may cause unintended behavioral changes by overriding existing IDE shortcuts.

[2016-06-18 07:35] Tyriar commented on #7767
@reactivize in the future you can run `code --disable-extensions` to help prevent this sort of confusion :)

[2016-06-18 08:19] bpasero opened #7844 "Debug toolbar: Can be dragged a bit out of the window"
<img width="287" alt="screen shot 2016-06-18 at 10 18 31" src="https://cloud.githubusercontent.com/assets/900690/16169862/0aac5958-353e-11e6-82c6-b34c96f5e326.png">

[2016-06-18 08:19] bpasero opened #7845 "Debug toolbar: Grab cursor too early"
I suggest you copy what I do when you DND editor groups around: Show the grab cursor until you click and then the grabbing cursor: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/editor/media/titlecontrol.css#L75

[2016-06-18 08:54] mrmlnc commented on #7312
@maxshutyak, Today I will add an extension that solves this problem.

[2016-06-18 09:05] jonathanhotono commented on #446
+1 looking forward to get the full Javascript solution of vscode. This is exciting!

[2016-06-18 09:35] warpdesign opened #7846 "[Update] cannot update: the setup files are corrupted"
- VSCode Version: 1.1.1
- OS Version: Windows 10

On a computer which was running an old version of VSCode, I decided to update it. When clicking on the update popup that appeared, I got the following message:

![setup](https://cloud.githubusercontent.com/assets/199648/16170125/a0c4126e-3548-11e6-9fa0-c37fdeec431d.png)

Restarting VSCode and choosing "check for updates" brings the same message aga

[2016-06-18 10:11] GRIM2D opened #7847 "Allow custom object types in JSDoc"
I'm using "vanilla" javascript for development. If I write custom object type in JSDoc, it appears as `any` or `void` . It will be more helpful, if one can type custom types.

- VSCode Version: 1.1.1 (1.1.1)
- OS Version: OSX (10.11.4)

Steps to Reproduce:

1.
[code]
![screen shot 2016-06-18 at 3 07 53 pm](https://cloud.githubusercontent.com/assets/6705445/16170266/b3f9bf6e-3566-11e6-9661-3868cf13

[2016-06-18 10:42] bpasero opened #7848 ""Opened Editors" view: can collapse groups using keyboard"
Using the keyboard I can collapse the groups with arrow left/right.

[2016-06-18 12:39] BRS999 opened #7849 "String interpolation confounds text coloring"
- VSCode Version: 1.2.1
- OS Version:  OSX 10.11.5

Background: I was playing around with some new C# features when I noticed the text coloration became wonky in VSCode.

Steps to Reproduce:

1. Add this line of code to a blank cs file `public void Print() => WriteLine($"Your name is {FirstName} and {LastName}");`
2. Add this line of code after it `public void sqrt() => WriteLine(Sqrt(3 * 3 + 4 +

[2016-06-18 12:58] wallverb opened #7850 "Integrated terminal: execvp(3): failed. No such file or directory"
- VSCode Version: 1.2.1
- OS Version: OSX 10.11.5

Steps to Reproduce:

1. Start VSCode
2. Command Palette: Toggle Integrated Terminal

Terminal panel shows for a second with `execvp(3): failed. No such file or directory` and then closes.

It used to work in the past, not sure what happened that it stopped. Redownloaded VSCode but still the same problem

[2016-06-18 14:08] infinnie opened #7851 "Is JavaScript IntelliSense forever gone?"
- VSCode Version: 1.2.1
- OS Version: Windows 10 Build 14342.rs1_release

Steps to Reproduce:

1. Set language mode to JavaScript.
2. Type something.

Only keywords will be popped up.

Update: it was my fault but I wish that JS IntelliSense were added to JavaScript files outside a folder.

[2016-06-18 14:23] glen-84 commented on #7312
@aeschli Could you please re-consider? I'm working on a linting extension that supports both `sass` and `scss` syntax, and I'd like to do something like:

[code]

[2016-06-18 14:28] glen-84 commented on #7825
Duplicate of #1477.

[2016-06-18 14:33] glen-84 commented on #4418
Duplicate of #2192 and #1477.

[2016-06-18 14:37] glen-84 commented on #2085
Related to #1477.

[2016-06-18 15:32] wallverb commented on #7850
This problem does not happen if i start `code` from terminal. It only happens when I start it from Finder/Spotlight.

[2016-06-18 15:41] wallverb commented on #7850
Ok, found the problem, not sure why it happens though:

When I start VSCode from Finder then User Settings have this:

`"terminal.integrated.shell.osx": "/bin/zsh\nCOM_GOOGLE_CHROME_FRAMEWORK_SERVICE_PROCESS/USERS/GOD/LIBRARY/APPLICATION_SUPPORT/GOOGLE/CHROME_SOCKET=/private/tmp/com.apple.launchd.dMvrDCzGvG/ServiceProcessSocket",`

but when i start `code` from Terminal then it is:

`"terminal.inte

[2016-06-18 15:44] bpasero opened #7852 "Drag and Drop editors and tabs"
- [x] win - @stevencl
- [x] mac - @egamma
- [x] linux - @chrmarti

Drag and drop for editors has been rewritten and needs testing across platforms. You can now
* drop into any opened tab in the title area
* drop to the empty space of the title area
* drop into the editor area (left, center, right)

Verify
* you can reorder and move tabs via DND and you see feedback
* you can open 1-N files at a sp

[2016-06-18 15:55] iloveyo123u1 opened #7853 "Install extensions from Marketplace in China"
- VSCode Version:1.2.1
- win Version:10 64x

Steps to Reproduce:

 connect ETIMEDOUT 191.238.172.191:443

i'm try 10 times， install python Extensions

[2016-06-18 16:24] bpasero opened #7854 "Tabs"
- [x] win - @alexandrudima
- [x] mac - @isidorn
- [x] linux - @Tyriar

Enable tabs by setting the `workbench.editor.showTabs` setting to `true`. Verify:
* you see tabs for each opened editor and the active tab is always revealed and stands out from others
* you can interact with a tab from its context menu
* you can move tabs around with drag and drop
* when not all tabs can fit the available spac

[2016-06-18 16:25] bpasero commented on #7047
@alexandrudima ping

[2016-06-18 17:46] ghost opened #7855 "follow link issue"
- VSCode Version: 1.3.0-insider
- OS Version: Windows 10 14366.rs1_release

Steps to Reproduce:
1. download https://github.com/ms-iot/samples/blob/develop/IotCoreService/README.md
2. open this file
3. the file contains an url at Line 24
4. set mouse cursor over url or try to open the url (ctrl +)

the last char ')' should not be part of the url...

[2016-06-18 18:17] #7843 closed

[2016-06-18 18:29] normalser opened #7856 "Debugger + NodeJS + Error Stack + SourceMaps (TypeScript)"
It would be awesome if debugger would use source maps when outputting stack for an Error.

Right now it will output:

[code]

and you can click that file name to jump to file (but it jumps to built js file - not source typescript file)

ideally if it showed:

[code]

and you could click it to go to the TypeScript source file and proper location.

Thanks

[2016-06-18 21:47] CreepGin commented on #4642
+1 on the `$(filename)`.

I'd like to add that doing a general `**/*.js.map: true` is not the way to go because deleting the corresponding `.ts` file will not reveal the `.js.map` file. I believe this should be the reason why `when` is desired in the first place.

[2016-06-18 23:15] ankyo opened #7857 "hotkey 'ctrl+c' invalid in outer terminal"
- VSCode Version: 1.21
- OS Version: win10

hotkey 'ctrl+c' invalid in outer terminal when open from vscode

[2016-06-18 23:51] johnfn commented on #2771
Yeah. We need this for zt and zb as well. As far as I can tell there is not even a way to hack it.

[2016-06-19 00:12] Tyriar commented on #7857
Duplicate of https://github.com/Microsoft/vscode/issues/6451

[2016-06-19 00:12] #7857 closed

[2016-06-19 01:51] bmingles commented on #7532
I have an extension that can run arbitrary shell commands whenever a user saves a file (using vscode.workspace.onDidSaveTextDocument). I have some users of the extension that are running commands that modify the source file after save and are asking if it could update the active file after the commands run. The goal would be to explicitly refresh it in the extension after commands run and not base

[2016-06-19 04:02] biaocy opened #7858 "[js] highlight break"
- VSCode Version: 1.2.1
- OS Version: Windows 7

Steps to Reproduce(disable extension):

![image](https://cloud.githubusercontent.com/assets/7885426/16175072/699206a2-3615-11e6-846c-cbdf73dd6d77.png)

[2016-06-19 05:49] bpasero opened #7860 "Support to use groups over position in IEditorGroupService"
We should retire the concept of `Position` and use stacks model concepts instead.

[2016-06-19 06:09] bpasero opened #7861 ""Unsaved" label stays around in opened editors view"
* new untitled file while explorer is visible
* switch to git viewlet
* close the untitled file without saving
* back to explorer

=> "opened editors" view is still indicating 1 dirty file

[2016-06-19 07:10] prashaantt opened #7862 "No auto-suggest for React components' props interface"
- VSCode Version: 1.3.0-insider
- OS Version: macOS 10.11.5
- TypeScript versions: 1.8.10 and 1.9.0-dev

Steps to Reproduce:

1. Declare an interface to define a React component's props.
2. There's no suggestion for the interface while declaring the component's `props` generic.
3. The interface name *is* available for auto-complete inside the component body itself and works as expected.
4. A simil

[2016-06-19 07:33] whitecolor opened #7863 "Allow to run multiple tasks concurrently"
Didn't find this issue. Allow to run multiple tasks concurrently. Currently it ask s to terminate running one.

This actually for watching tasks. And also seem that tasks are run some way differently that upcoming workbench terminal as they do not keep colors inside running scripts. Terminal and task runner seem to be very relative technically.

[2016-06-19 07:45] bpasero commented on #7449
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-06-19 07:45] #7449 closed

[2016-06-19 07:46] bpasero commented on #7322
A number of days has past without answer on the questions asked. I am thereby going to close this issue to clean up our backlog of issues. Once you can answer on the questions, the issue can be reopened again. Thanks for understanding this process!

[2016-06-19 07:46] #7322 closed

[2016-06-19 07:56] bpasero commented on #224
We are happy to announce that you can now enable tabs in our nightly insider builds (http://code.visualstudio.com/Download#insiders). The related setting is `workbench.editor.showTabs`. Please refer to our [release notes](https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/June_2016.md#workbench) for more details on the concept of editor stacks and tabs.

![image](https://cloud.githu

[2016-06-19 08:25] eyalsk opened #7865 "Show/hide open editors and/or tabs"
As previously discussed here #224 it was mentioned that we would have the ability to opt-in/out to/from both tabs and open editors but as far as I can see in the latest insider build there's only an option to show/hide tabs.

Is it something you're still working on? what's the progress on that?

[2016-06-19 08:36] antoniomquadrosfilho opened #7866 "error from the extension host: spawn /usr/share/code/code (deleted) ENOENT"
- VSCode Version: 1.1.1
- OS Version: Fedora 23
- Node 5.10
- Shell 0.37.6

Steps to Reproduce:

1. Update to version 1.2.1

Problem

1. I continued at version 1.1.1
2. The package spawn was broken
3. The code isn't colorized, how if vs code doesn't support php code

[2016-06-19 08:47] lxp521125 opened #7868 "中文出现乱码了"
- VSCode Version:1.2.1
- OS Version: win7 x64

命令行 不能正常显示中文

[2016-06-19 09:16] bpasero commented on #7865
That is possible by configuring `"explorer.openEditors.visible": 0`

[2016-06-19 09:16] #7865 closed

[2016-06-19 09:17] bpasero commented on #7662
ok, please reopen if it still happens.

[2016-06-19 09:17] #7662 closed

[2016-06-19 09:38] eyalsk commented on #7865
Okay thanks.

[2016-06-19 09:44] lijunle commented on #2973
Will the repo include the insider builds?

[2016-06-19 14:42] xsjqqq123 opened #7869 "c/c++ features request. pointer and function list."
- VSCode Version:1.2.1
- OS Version:win 7

Steps to Reproduce:

1. I develop c++ app using this soft. I had installed most the c++ plugins,the operator "." work well when show functions list, but the operator "->" don't show any tips.
2. can this soft show a "function list" like source insight? when a click a func name ,can jump it fast?

[2016-06-19 15:29] xiaopai commented on #7868
VSCode Version 1.2.1
OS Version OSX 10.10.5

In terminal  the Chinese characters were garbled

[2016-06-19 16:06] maorhayoun commented on #7683
+1

[2016-06-19 16:45] satokaz opened #7871 "can not Markdown preview an image file that contains a space in the file name"
- VSCode Version: 1.3.0 Insiders 2016-06-17T05:01:41.413Z
- OS Version: OS X 10.11.5（15F34）

If there is a space in the file name of the image file can not be displayed in the Markdown preview.
It can be displayed if you use the HTML img tag

[code]

<img width="1476" alt="2016-06-20 1 30 34" src="https://cloud.githubusercontent.com/assets/13635244/16178563/0cd46cbc-3687-11e6-842f-0dc2589b1146.png

[2016-06-19 17:02] egamma commented on #7800
@yisible thanks 🌷 . Looks like we had the same plan and do some work on this over the weekend 😄. I'm about to checkin some of these features. I'll ping when done. Pls review and then I suggest we join forces.

[2016-06-19 17:46] andreipaz commented on #7826
Thanks @bpasero. Now I can breathe :)

[2016-06-19 18:14] LarryWeiss opened #7872 ""zoom in" vscode key mapping needs to be [Ctrl +] instead of [Ctrl =]"
- VSCode Version:1.2.1
- OS Version: Windows 7

Steps to Reproduce:

1. start a vscode edit session
2. use F1 with search term "zoom"

You see a mapping of [Crtl =] to zoom in.

It would be more consistent if this was mapped to [Ctrl +]
For example, zoom out is mapped to [Ctrl -]

Most keyboards have + and = on the same key-cap, but not all.

[2016-06-19 19:39] rabel001 opened #7873 "Right-Click Context Menu No Longer Opens Files in Current Code.exe Window"
- VSCode Version: 1.2.1
- OS Version: Windows 10 Home

Steps to Reproduce:

1. Checked, deleted and recreated [HKEY_CLASSES_ROOT\*\shell\Open with VS Code\command]
@="\"C:\\Program Files (x86)\\Microsoft VS Code\\Code.exe\" \"%1\""
2. Reinstalled and checked all the options with regards to this issue.
3. Ran code.exe followed by a filename, and the file spawned a new Code.exe window.
![image](http

[2016-06-19 19:51] ammario commented on #1690
This is the only thing keeping this editor from being my primary choice. It's a simple thing to implement but it saves SOOOOO much time.

[2016-06-19 19:55] egamma commented on #7800
@yisibl the changes are committed please verify them in the insiders build.

[2016-06-19 19:55] #7800 closed

[2016-06-19 20:00] csvn opened #7874 "Can't install dependencies with npm >= 3.9"
I was thinking of making a pull request, and tried checking out and building the vscode source, but I get the error `MSVSProject' object has no attribute 'iteritems'` when I try to run `scripts\npm install`.

![image](https://cloud.githubusercontent.com/assets/8770194/16179512/4f48970e-3668-11e6-905b-fa96240cb9d0.png)

I followed the instructions [How to run from Source](https://github.com/Microso

[2016-06-19 20:36] pr0g commented on #101
+1 - I would absolutely love this feature!

[2016-06-19 21:39] tkelman commented on #7854
This is really wonderful so far. Is the state of which tabs are open saved somewhere persistent? Would be fantastic if the previously-open set of tabs could be reopened automatically without having to manually click through "Open Recent" for each one after restarting Code.

[2016-06-19 22:17] Tyriar commented on #2973
@lijunle the insiders build will be available via repo yes.

[2016-06-19 23:01] jd-carroll opened #7875 "Nested Launch Configurations"
Would it be possible to have VS Code scan for any child `.vscode` folders or other files named `launch.json` and include those in the debug configuration available?  I have a git project where there are many sub-modules and I would like to have the debug configuration contained in each sub-module.

I am happy to contribute this myself if someone could point me in the right direction.
(I think look

[2016-06-20 00:41] csnover commented on #7323
I’m encountering this problem, similar backtrace (FatalProcessOutOfMemory), with no .git directories in my home directory or in the workspaces affected by this problem. The windows crash at random, sitting in the background for several hours, not being interacted with. I see a slow memory leak in the affected window’s Electron Helper, about 2MB per minute. There is a distinct stair-stepping patter

[2016-06-20 02:34] BurtHarris commented on #7568
Yes @JimiC, please recognize I'm a experienced dev (30+ years, more than half at Microsoft), and understand tool learning curve should be.   The original issue got blocked, under 1.2.1 I think there's a bug in the template **tasks.json** file generated for grunt; and bugs don't get better by giving them time.

My comment was intended be a suggestion that documentation on the tasks.json file format

[2016-06-20 02:36] kai-iak opened #7876 "Allow to use Ctrl P/N for up and down navigation in quick open"
- VSCode Version: 1.2.1
- OS Version: 10.11.5

Steps to Reproduce:
1. Invoke command palette
2. Begin typing a query i.e. ext
3. Attempt to move up/down the list with ctrl+p and ctrl+n

I installed the latest version of VS Code (1.2.1) on El Capitan. When I used the Atom (and ST2?) text editor and invoked the command palette I could cursor up/down the list using ctrl+p/ctrl+n.

For example, if I l

[2016-06-20 02:36] BurtHarris commented on #7568
I'm going to go ahead and close the spinning indicator bug and open a new one for the template bug.

[2016-06-20 02:36] #7568 closed

[2016-06-20 02:42] androllen commented on #7400
when vs code is updated, this issue is resolved

[2016-06-20 02:56] DonJayamanne commented on #2208
@MattDMo , have you had any luck in building an extension for VS Code. I'm certain there would plenty of people within the community and the VS Code team willing to help you with this.

[2016-06-20 03:33] BurtHarris opened #7877 "Confusing message: No build tasks configured"
- VSCode Version: 1.2.1
- OS Version: Windows 10
- Node.js version 4.4.5 (LTS) version probably not critical...

Steps to Reproduce:

1.   Setup Node.js, then install the grunt-cli globally from a command prompt:   `npm install -G grunt-cli`

2.  Install source files from attached zip into an empty directory.  [junk.zip](https://github.com/Microsoft/vscode/files/322685/junk.zip)

3.  Then from com

[2016-06-20 03:35] BurtHarris commented on #7877
Here's the generated tasks.json generated by VSCode 1.2.1:
[code]

[2016-06-20 04:41] xpcode commented on #7210
@rajeshbhagat can you tell me how to solve? thank you

[2016-06-20 05:22] bpasero commented on #7854
@tkelman yes all view state is stored and restored when you restart as long as you open a folder with VS Code. We never stored any view state when you open Code empty and restart.

[2016-06-20 05:25] bpasero commented on #7323
@csnover really happy with your comment, I am very interested in finding out why there is a constant memory increase and I hope you are willing to help us out here a bit more if you don't mind. First of all I do have a couple of questions:
* does the memory grow without you doing anything in the application, just by having it in the background?
* is this reproducible every time you let Code run in

[2016-06-20 05:36] jahewson opened #7878 "Regression: ES6 & TypeScript "go to definition" jumps to import"
- VSCode Version: 1.2.1
- OS Version: OS X 10.11.5

I the past week (or two?) the "go to definition" feature for ES6 and TypeScript has changed from jumping to the original definition to jumping to the import at the top of the current file. That's the old broken behaviour which was reported in #263 (and despite that issue being open still, was actually fixed and has worked nicely for several month

[2016-06-20 05:55] tkelman commented on #7854
Ah I see. I imagine many of us used to tabs-only workflows may not really notice the "open folder" so if we only have individual files opened in different tabs, does that count as what you called "empty"?

[2016-06-20 05:59] rebornix commented on #7871
We've already moved to markdown-it and it's using commonmark, so this is expected. You can take a look at the same issue on markdown-it repo https://github.com/markdown-it/markdown-it/issues/147 and the commonmark related spec http://spec.commonmark.org/0.21/#link-destination . Unfortunately spaces in links are not allowed.

BTW, we are still open to community's opinions about the markdown render

[2016-06-20 06:02] iloveyo123u1 opened #7879 "could you write extensions for bootstrap v4 ?"
http://v4-alpha.getbootstrap.com/

[2016-06-20 06:34] bpasero commented on #7854
@tkelman yes, we only associate view state with an opened folder. this is independent from using tabs or not.

[2016-06-20 06:36] marvinhagemeister commented on #7879
Just curious: what kind of features would that extension have?

[2016-06-20 06:39] psquickitprageet commented on #5908
+1, same issue. just updated the vscode

[2016-06-20 06:55] joaomoreno commented on #7605
Awesome! Should we remove the setting in VS Code at least then?

[2016-06-20 06:55] #7605 closed

[2016-06-20 06:57] joaomoreno commented on #7598
Well, it appears to just have crashed the whole gulp at [this point](https://github.com/Microsoft/vscode/blob/master/build/monaco/api.ts#L40) when the file doesn't exist. It would be cool to just keep compilation running as usual when the file is missing... but I can live with killing gulp and launching it again. 👍

[2016-06-20 06:57] #7598 closed

[2016-06-20 06:58] joaomoreno commented on #2465
I believe we're gonna keep both font sizes linked. Either `1:1` or some other proportional ratio that pleases the eye. 👀

[2016-06-20 06:58] aeschli commented on #7312
@glen-84 Not sure what you want me to reconsider... Our team is too small to be able to provide support for all the features requested. But we added an extension API so that the community can jump in, fill gaps and innovate. If there's a API missing or anything we need to do on our side to have extensions fully work, please let us know, or file a pull request. We're happy to help.

@mrmlnc Why not

[2016-06-20 07:09] mrmlnc commented on #7312
@aeschli I'm working on it. I have not made the pull request because my proposed version is a hack. Yesterday I found a better way.

[2016-06-20 07:18] thekidder commented on #6923
Tried VS Code for the first time today and this confused me a fair bit. I'm very used to the Sublime/Atom behavior so I'm definitely biased; but it seems very odd that the first choice in this menu is something that will never be used. When is it useful to navigate to the file I'm already in? This behavior just adds another keystroke when I want to open a recently-accessed file.

[2016-06-20 07:29] #7848 closed

[2016-06-20 07:32] bingzheyuan commented on #7868
This should be the same with #7036.

[2016-06-20 07:33] rebornix commented on #3746
Firstly we missed the fenced code syntax detecting in markdown tmlanguage, just added it https://github.com/kieferrm/vscode-markdown/commit/bd395e1fdd02e99c169f8bef9c11f47bac0a42a0 .

But we still have problem with plist injecting, which makes the inner code highlighting doesn't work. I'm looking into it right now.

[2016-06-20 07:36] #7861 closed

[2016-06-20 07:49] zhangmx commented on #3399
I have the same problem. my console.app 's log:

[2016-06-20 07:54] dbaeumer commented on #7568
@BurtHarris I tried to reproduce this and was able to do so in the following case:

- you have grunt installed glopally but not locally in your workspace.

Then grunt can't execute and the tasks.json file generated contains an empty task array which is problematic. It should generate a tasks.json file with no task array. Then on the next execution you would see:

[code]

[2016-06-20 07:54] isidorn opened #7880 "Keybinding conflicts 'cursorWordStartLeft', 'cursorWordEndRight' in console"
1. Build workbench out of source
2. Notice warnings in console

![screen shot 2016-06-20 at 09 53 05](https://cloud.githubusercontent.com/assets/1926584/16186802/e3628b16-36cc-11e6-9288-309bf1083517.png)

[2016-06-20 07:56] dbaeumer opened #7881 "Grunt autodetection fails if local grunt is not installed"
- VSCode Version: 1.2.x

Steps to Reproduce:

1. Workspace with grunt file but no local grunt installed
1. Global grunt cli installed
1. Configure task runner.

Observe: generate tasks.json with empty tasks array which hide the original problem of grunt not auto detecting.

[2016-06-20 07:57] dbaeumer commented on #7568
Created https://github.com/Microsoft/vscode/issues/7881

[2016-06-20 07:58] #7844 closed

[2016-06-20 08:00] fluffynuts opened #7882 "Pressing <Tab> key adds tab to incorrect editor pane"
- VSCode Version: 1.3.0-insider, commit f8bb4ade94ba5c9401419d3ec1e12fbe8719e0c1
- OS Version: Windows 10

Steps to Reproduce:

1. open two panes side-by-side
2. press tab in right-hand side (for example); notice that cursor doesn't move. Press tab a lot -- notice that left-hand pane starts scrolling horizontally. Focus left pane with ctrl-1 and see a large number of tabs appended to the current l

[2016-06-20 08:04] bpasero commented on #7882
@egamma I can reproduce, might it be https://github.com/Microsoft/vscode/commit/f8bb4ade94ba5c9401419d3ec1e12fbe8719e0c1 ?

[2016-06-20 08:42] dbaeumer commented on #7168
Yes it does. When its stdin stream closes it exits. Since we use our own pipes for stdiin / stdout to talk to an electron node process it might be that we need some explicit code in stdFork to close them. @alexandrudima is this something we need to add?

[2016-06-20 08:46] dbaeumer commented on #6375
Marking as verified based on comment https://github.com/Microsoft/vscode/issues/6375#issuecomment-226786223

[2016-06-20 08:50] dbaeumer commented on #7790
@danvk in step 3 how do you reload all files. Do you reload the VS Code window?

[2016-06-20 08:54] joaomoreno commented on #3399
Closing as: please install VS Code in a directory that your user has modifying rights.

[2016-06-20 08:54] #3399 closed

[2016-06-20 09:01] #7845 closed

[2016-06-20 09:14] rebornix commented on #6113
Fixed via https://github.com/kieferrm/vscode-markdown/commit/81f52f5ebfa0ebf84529c4538985c17bc58f735d

[2016-06-20 09:16] CreepGin opened #7883 "1.3.0-insider breaks alt+left/right word skipping"
- VSCode Version: 1.3.0-insider
- OS Version: OS X El Capitan 10.11.3

Steps to Reproduce:

1. Create/open an empty file
2. Type the text "Hello World"
3. While the cursor is at the end of the line, press Alt-Left
4. Expected behavior is that the cursor will jump to the left of the letter 'W'
5. Actual behavior is that the cursor just jumps to the left of the letter 'd'

[2016-06-20 09:16] bpasero commented on #6113
@rebornix cool! would it not make more sense to push your changes directly to master given that we pushed vscode-markdown into VSCode?

[2016-06-20 09:18] rebornix commented on #6113
I'll send out my PR real quick (I'd like to have the push privilege after my onboard).

[2016-06-20 09:30] Vishal-Isharani commented on #7882
in my case it doesn't work in the single panel

[2016-06-20 09:48] rebornix opened #7885 "Diff tool will not identify tabs additions if there is any real code change"
- VSCode Version: 1.3.0-insiders
- OS Version: Windows 10

Steps to Reproduce:
1. Put some tabs before code like below
   ![image](https://cloud.githubusercontent.com/assets/876920/16189801/c9257c76-370e-11e6-849a-a02d7ad31015.png)
2. Add some real code change
   ![image](https://cloud.githubusercontent.com/assets/876920/16189818/dd58dd0a-370e-11e6-86f2-9e34ecaae5d1.png)

With this tiny bug, you m

[2016-06-20 09:51] jnath commented on #7882
same for me it doesn't work in the single panel too

[2016-06-20 10:00] chadrien opened #7886 "Tmux and integrated terminal"
- VSCode Version: 1.2.1 (fe7f407b95b7f78405846188259504b34ef72761)
- OS Version: OS X 10.11.5

Steps to Reproduce:

1. Open the terminal window (<code>cmd+`</code>)
2. Open a new tmux session (`tmux new`)
3. Close the terminal window (<code>cmd+`</code>)
4. Open the terminal window (<code>cmd+`</code>)

When using tmux in terminal window everything works fine, but as soon as you close the window a

[2016-06-20 10:11] NCC1701M commented on #7740
On the external (system) terminal.

[2016-06-20 10:32] pocesar commented on #7882
oh wow, this one is a real blocker for me, it can really break code and builds when working with 2 panes

[2016-06-20 10:50] yisibl commented on #7883
Because now this shortcut into the text to move around(https://github.com/Microsoft/vscode/pull/6887)

I have said in issue(https://github.com/Microsoft/vscode/issues/5251), do not change the system level of general shortcuts. This will The loss outweighs the gain.

I think <kbd>control</kbd> + <kbd>cmd</kbd> + <kbd>←/→</kbd> is better(Atom 1.8).

@alexandrudima @kisstkondoros Please change the sh

[2016-06-20 11:08] yisibl commented on #5251
You can modify the shortcut key configuration, this is a temporary solution.

[code]

[2016-06-20 11:08] yisibl commented on #7883
You can modify the shortcut key configuration, this is a temporary solution.

    {
        "key": "alt+left",
        "command": "cursorWordStartLeft",
        "when": "!editorHasSelection && editorTextFocus"
    },
    {
        "key": "alt+right",
        "command": "cursorWordEndRight",
        "when": "!editorHasSelection && editorTextFocus"
    }

[2016-06-20 12:02] bpasero commented on #7882
We are looking into the issue. Until then please use our stable release.

[2016-06-20 12:21] #7880 closed

[2016-06-20 12:23] alexandrudima commented on #7883
Sorry about that, I merged a PR that overwrites the word navigation keys. Fixed in f81582e1925161700751638e26e85bd6e0048745

[2016-06-20 12:24] #7883 closed

[2016-06-20 12:27] csnover commented on #7323
Yes, that’s correct.

Nope, I have 3 or 4 open VSCode windows in the background and not all of them are leaking (though to be clear, different windows leak at different times, it is not always the same one window). There is some trigger event that must occur for this to happen, and I am not sure what that is yet.

The next time I catch it happening I will do this. Unfortunately the window from yes

[2016-06-20 12:34] decker67 commented on #7851
Maybe they want you to use TypeScript ;-(

[2016-06-20 12:34] bpasero commented on #7323
That would be great, thanks. And I agree it must be some action or environmental thing that causes this because not everyone is hitting it.

I am so curious because it might also be an explanation of our ever green: https://github.com/Microsoft/vscode/issues/508

[2016-06-20 12:38] bpasero commented on #3613
@kieferrm fyi this might be fixed now?

[2016-06-20 13:05] scarint commented on #7193
Did a format and re-install of Win10 from the feedback from the Visual Studio crowd and other searching on that error above. It appears to be an issue with my system, as everything is working fine now.

[2016-06-20 13:05] #7882 closed

[2016-06-20 13:06] vogler opened #7888 "⌘⇧/ should focus `Help > Search`"
- VSCode Version: 1.2.1
- OS Version: OS X 10.11.4

⌘⇧/ should focus `Help > Search`, as it's the default behavior on OS X and it isn't mapped to anything else.

[2016-06-20 13:19] isidorn opened #7889 "Double click on empty header area should open a new tab"
We need some action to easily open a new tab via mouse. Chrome has that small square and sublime has double click on empty area to open a new tab.

Since I might not like rendering the extra square, I vote for double click on empty header area opens a new tab - same as sublime.

[2016-06-20 13:21] isidorn opened #7890 "Tab context menu actions to open a new tab"
1. Context menu on a tab header
2. Only actions to close, I would expect some actions to open a new tab (new, open) - similar to sublime and chrome

[2016-06-20 13:36] bpasero commented on #7890
I am not convinced this adds a lot of value...

[2016-06-20 14:05] isidorn commented on #7889
Same as cmd + N - new untitled-1

[2016-06-20 14:07] isidorn commented on #7890
I think we need some mouse gesture to quickly open a new tab. If you do not like this then I would push more for #7889

I also think the context menu might benefit from this - currently it is just a bunch of close actions. A new and a seperator might actually improve the visuals while making it consistent with what other editors are doing.

[2016-06-20 14:08] xtbe opened #7891 "Markdown preview doesn't apply transparency to linked transparent png image"
- VSCode Version: 1.2.1
- OS Version: Windows 7 Enterprise SP1

Steps to Reproduce:
1. Create a Markdown file with an image link to a transparent PNG file
2. Show the preview.

If you're using the dark theme in visual studio code the transparency isn't applied

[2016-06-20 14:09] bpasero commented on #7890
@isidorn not true, if you open the context menu on a diff editor, there is a lot more entries. We put all editor actions into the context menu as well.

[2016-06-20 14:11] isidorn commented on #7890
@bpasero yeah I know, but for the most common case it is just a bunch of close actions as far as I see it

[2016-06-20 14:14] alexandrudima commented on #7168
@dbaeumer the stdFork behaves the same as stdin (I hope), given all the `unref` dancing at https://github.com/Microsoft/vscode/blob/master/src/vs/base/node/stdForkStart.js#L159

So if there are no more listeners on stdin, the fake stdin stream gets unrefed by me and node will shut down gracefully. Maybe stdin behaves differently?

[2016-06-20 14:15] alexandrudima commented on #7168
Is it that if the standard `stdin` closes, node implicitly unrefs it?

[2016-06-20 14:17] weinand commented on #7745
@virtyaluk I still don't know what node.js version you are using.

Does it make a difference if you change your launch.config as follows:

[code]

So instead of launching your program from the TypeScript source, it will be launched from the generated JavaScript (which should live in the 'js' subfolder).

[2016-06-20 14:24] bpasero commented on #7890
UX meeting topic I guess.

[2016-06-20 14:24] bpasero commented on #7889
UX meeting topic I guess.

[2016-06-20 14:26] mike-ward opened #7892 "Starting code from console emits what looks like debug information."
- VSCode Version: 1.2.1
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. From Windows console type: code <enter>

Problem:

The program starts successfully but emits a bunch of text into the console.

[code]

[2016-06-20 14:47] rebornix commented on #7891
I've just tried PNG file with transparent background and find it Okay. Do you mind helping provide following info:

1. What's the real background colour of the image? A snapshot will be better, otherwise you may want to provide a sample image which breaks in your env.
2. Can you help verify this issue with our latest insider build? Our latest markdown feature is on the Insider version.

[2016-06-20 14:51] #7193 closed

[2016-06-20 14:51] joaomoreno commented on #7193
Thanks for the info!

[2016-06-20 14:57] Tyriar commented on #7740
Is this cmd.exe? VS Code should not have any effect on the external terminal, any other details? A screenshot might be helpful.

[2016-06-20 15:04] xtbe commented on #7891
I re-created another image with less information as this couldn't be published and I saw it was displayed correctly. When I repeated the steps on the original image it wasn't correctly refreshed. After closing the MD preview and reopening it the image was displayed correctly.

[2016-06-20 15:09] xtbe commented on #7891
I also found the refresh button now, so when replacing an image on the filesystem you need to press "refresh" as well in order to get the updated image.

[2016-06-20 15:16] rebornix commented on #7891
@xtbe thanks for your detailed info and patience! The second issue you mentioned is already logged in https://github.com/Microsoft/vscode/issues/5687 , we will add local file monitor later on but for now I'm not sure whether we should keep an eye on local image links in markdown content.

Besides, I'd like to keep this open for a while to see if we can reproduce the problem constantly.

[2016-06-20 15:21] BurtHarris commented on #7568
Thanks.   I created #7877 with a package.json which should have installed grunt locally.   This may be a separate bug.

[2016-06-20 15:32] BurtHarris commented on #3686
Finally reproduced this, of course it was my silly mistake - I had changed my Numlock preference in the BIOS.

[2016-06-20 15:44] BurtHarris commented on #7877
Possible dupe of #7881

[2016-06-20 15:47] BurtHarris commented on #7877
Note however, that the **No build tasks configured.** message can be generated for a number of different reasons, e.g. a JSON syntax error in tasks.json.   Better explanation in this message would be valuable.

[2016-06-20 15:49] ktajeran commented on #7741
@joaomoreno The process that is spiking in cpu usage is the following, let me know if additional information is required on your end:

"C:\Program Files (x86)\Microsoft VS Code\Code.exe" --type=renderer --no-sandbox --lang=en-US --app-user-model-id=Microsoft.VisualStudioCode --node-integration=true --enable-pinch --device-scale-factor=1 --enable-delegated-renderer --num-raster-threads=1 --gpu-rast

[2016-06-20 15:57] guidorice opened #7893 "tweet feedback button - make it hideable"
- VSCode Version: 1.2.1
- OS Version: OS X 10.9.5

I do not use Twitter, and so don't want to see the Tweet Feedback icon/smiley all the time. Add a setting to hide this, please.

[2016-06-20 16:01] Tyriar commented on #7886
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

[2016-06-20 16:02] TheColorRed opened #7894 "[php] syntax highlighting issue with strings"
- VSCode Version: 1.2.1
- OS Version: Windows 10

Steps to Reproduce:
1. See images

![invalid highlight](https://cloud.githubusercontent.com/assets/1571806/16201220/27e58a6e-36d6-11e6-8b86-2238ccca5a0d.PNG)
[code]
![invalid highlight 2](https://cloud.githubusercontent.com/assets/1571806/16201298/69a80076-36d6-11e6-91f8-93038c7619e0.PNG)

[2016-06-20 16:38] agarwal-sandeep commented on #7652
Thanks @Weinand, I have open issue https://github.com/Microsoft/vscode-node-debug/issues/77.

For capability detection is it feasible to use some environment variable?

[2016-06-20 16:39] rcarmo commented on #3451
There is a much cleaner workaround that won't break other apps:

[code]

Obviously, you can tweak your `.desktop` files and other launchers to set the environment variable solely for VS Code.

I just tested this on Xenial (Ubuntu 16.04) inside vnc4server. Of course the real issue needs to be fixed upstream in Electron (I have to wonder why they don't have cleaner fallbacks for lack of graphics acc

[2016-06-20 16:42] MIchaelMainer commented on #7821
@OneOfOne Thank you! That removed the annoying dialog prompt scenario.

[2016-06-20 17:10] sksea commented on #1690
👍

[2016-06-20 17:25] guillaumejenkins opened #7895 "Variable view update on variable changes from the debugger console"
Copying an issue opened in our vscode-cordova repo, because it appears to be VSCode-specific:

I was able to repro this using VSCode 1.2.1 with the built-in NodeJS debugger.

Is this by design?

[2016-06-20 17:46] BurtHarris opened #7896 "Windows: F1 should open some kind of help and not command pallette"
- VSCode Version: 1.2.1
- OS Version: Windows 10

My keyboard has the word **Help** stamped right on the **F1** key's legend.   As a long-term Windows and Visual Studio user, I expect **F1** to mean Help!   Preferably context-sensitive help that focuses on what I'm focused on (DWIM.)  So for example, when I'm editing README.md, I sort of hope that F1 to produce a Markdown cheat sheet.

While I app

[2016-06-20 17:54] BurtHarris commented on #7269
I don't understand why you would expect F1 to do this in the "terminal window".   By "terminal window", I assume you mean the a CMD prompt window, such as displayed by pressing Ctrl+Alt+C under version 1.2.1.

Non system-wide keyboard shortcuts depend on what window has the focus.

[2016-06-20 17:57] nojvek commented on #508
I  had VSCode Insiders build running over the weekend. Came in Monday morning and saw a crash.

I'm wondering if there is any telemetry crash/dump data that is automatically sent when VSCode crashes? Sort of like watson reports.

[2016-06-20 18:05] varunagrawal commented on #6554
Hi @bpasero.
I apologize for the delay in responding. I have created the video and you can find it here: https://youtu.be/WlOKSGDQ9rg

As you can see, I create a folder and a file, then open the file in Code. When I move the file to a different folder from the terminal, VS Code does not throw any (clear) warning and on saving the file, creates a duplicate. I am not sure if this is intended functio

[2016-06-20 18:09] varunagrawal commented on #6554
As you mentioned, it does not save the file to disk unless it is dirty, but neither does it update itself to show that the file has moved. The location bar continues to display the X folder as the location rather than the parent VSCodeTest folder.

[2016-06-20 18:12] virtyaluk commented on #7745
@weinand, as I mentioned earlier I'm using Node `v5.10.0`.

Now I'm getting this:

[code]

It works fine if I'm using `tsc` from command line using arguments from `tasks.json`.

The only workaround for me now is to use more suitable TypeScript editor\IDE so i'm about to use WebStorm instead. Once issues with Code would be fixed I'll switch back.

Thanks!

[2016-06-20 18:13] celador opened #7897 "Install Extension fails: does not properly install node_modules into extension folder"
- VSCode Version:
1.3.0
- OS Version:
Mac OS 10.11.5

Steps to Reproduce:

1. Install extension ForceCode
2. Open in Visual Studio Code - Insiders Build v. 1.3.0 while not debugging.
3. Attempt to activate extension with compile
4. Get the error 'No handler found for the command ...' An extension might be missing an activation event.

Notes:  Extension works properly when `npm install` is run in t

[2016-06-20 18:20] #7837 closed

[2016-06-20 18:24] WayneKoorts commented on #2465
@joaomoreno Why do you want to keep both linked?  The only reason I can think of would be due to giving the user too many options to have to consider, but my suggestion of keeping them linked by default and having an override solves that.

[2016-06-20 18:29] maxdec commented on #446
\o/ https://github.com/Microsoft/monaco-editor

[2016-06-20 18:37] glen-84 commented on #7312
@aeschli I meant reconsider adding very basic (language ID + maybe syntax highlighting) for `.sass` files.

Regardless, if I want to support indented syntax, would I just include `sass-indented` in the activation list? I'm assuming (hoping) it won't result in any activation errors if the extension is not installed.

[2016-06-20 18:40] dbaeumer commented on #7892
Don't know if this is you or Ben,

[2016-06-20 18:42] weinand commented on #7745
@virtyaluk it seems that you did not transpile your TypeScript into JavaScript: there seems to be no app.js in the 'js' directory. Did you run your build task?
Debugging won't work until a JavaScript file has been created.

[2016-06-20 18:43] dbaeumer commented on #7879
Chris, assigning to you as this is more a produce decision.

[2016-06-20 18:44] dbaeumer commented on #7878
This is actually a problem in the tsserver. Moving to the TS team.

[2016-06-20 18:45] dbaeumer commented on #7878
This issue was moved to Microsoft/TypeScript#9274

[2016-06-20 18:45] #7878 closed

[2016-06-20 18:47] dbaeumer commented on #7881
Dups #7877

[2016-06-20 18:47] #7881 closed

[2016-06-20 18:52] gregvanl opened #7898 "Markdown preview no longer shows images"
- VSCode Version:1.3.0-insiders
- OS Version:Windows 7

Steps to Reproduce:

1. Open a vscode-docs topic with an image (/docs/editor/codebasics.md)
2. Use Markdown preview

No image is shown, only link name.
[code]
![VS Code Layout](images/codebasics/layout.png)

[2016-06-20 18:52] hladik-dan opened #7899 "Right alt key does not work in terminal"
- VSCode Version: 1.2.1
- OS Version: Windows 10 Pro (Build 1511)

Right Alt key does not work in integrated terminal. Ctrl + Alt works fine.

Steps to Reproduce:

1. Set Czech QWERTZ keyboard layout in Windows
2. Toggle integrated terminal in VSCode
2. Right Alt + Q (should produce \\)

[2016-06-20 18:53] dbaeumer commented on #7873
@joaomoreno marking as important since this might be a regression.

[2016-06-20 18:56] celador commented on #7897
Looking through the Developer Tools with the extension open, I'm getting lots of "Cannot find module ..." errors.

I am using node 6.2.1 and npm 3.9.3

[2016-06-20 18:57] dbaeumer commented on #7869
This issue was moved to Microsoft/vscppsamples#76

[2016-06-20 18:57] #7869 closed

[2016-06-20 18:59] dbaeumer commented on #7866
Might be @alexandrudima

[2016-06-20 19:00] dbaeumer commented on #7863
Dups #981

[2016-06-20 19:01] dbaeumer commented on #7862
Moving to TS team.

[2016-06-20 19:02] sevin7676 commented on #446
@maxdec , thank you for the link.

The issue is now resolved!

https://github.com/Microsoft/monaco-editor

[2016-06-20 19:02] #446 closed

[2016-06-20 19:02] dbaeumer commented on #7862
This issue was moved to Microsoft/TypeScript#9275

[2016-06-20 19:02] #7862 closed

[2016-06-20 19:05] dbaeumer commented on #7853
Might be a proxy issue.

[2016-06-20 19:06] celador commented on #7897
Which versions of NPM and Node are recommended to be used for development?  It seems that I have the correct Node modules in my node_modules folder, but they are not registering for Code

[2016-06-20 19:08] dbaeumer commented on #7851
@infinnie what exactly do you mean with outside the folder. Outside the workspace you have open or is the file an untitled file (doesn't exist on disk). The second one is currently not working the first one should.

@decker67 out goal is to have good JS and TS support :-)

[2016-06-20 19:09] celador commented on #7897
@alexandrudima I opened up the extension and ran `npm install` in the extension folder, and the extension works properly now.

[2016-06-20 19:09] dbaeumer commented on #7847
Moving to TS team.

[2016-06-20 19:09] shanselman opened #7900 "Incorrect rendering of some ASCII in Terminal. Try F7"
- VSCode Version: 1.2.1
- OS Version: Win10 10586

Steps to Reproduce:

1. Open Terminal. Do some commands.
2. Press F7

![image](https://cloud.githubusercontent.com/assets/2892/16206917/814e44ca-36df-11e6-87fb-50da8a4772b3.png)

I tried it on VSCode 1.3.0 and it is closer, but there's weird spacing:

![image](https://cloud.githubusercontent.com/assets/2892/16206956/ae3a5168-36df-11e6-90a6-187d1ef

[2016-06-20 19:10] dbaeumer commented on #7847
This issue was moved to Microsoft/TypeScript#9276

[2016-06-20 19:10] #7847 closed

[2016-06-20 19:15] dbaeumer commented on #7839
@joaomoreno starting with you since it sounds like an update bug.

[2016-06-20 19:19] dbaeumer commented on #7838
@nikhiljanshali in which language. And can you provide sample code that demonstrate the behavior you are seeing.

[2016-06-20 19:19] seanmcbreen commented on #7840
@kreso22 that does not sound good - two common issues exist:
1. You need to install a specific C# extension
2. There is a unity extension that helps

These items are covered off on this doc page:
http://code.visualstudio.com/docs/runtimes/unity

Have you tried these?

If so we may need to dig into your specific issue more.
Sean

[2016-06-20 19:24] dbaeumer commented on #7827
@alexandrudima not sure if you or @jrieken with his new menu support.

[2016-06-20 19:28] dbaeumer commented on #7823
@joaomoreno adding you for the "staging current hunk" request.

[2016-06-20 19:30] dbaeumer commented on #7820
Moving to the TS team which own the formatter.

[2016-06-20 19:30] dbaeumer commented on #7820
This issue was moved to Microsoft/TypeScript#9277

[2016-06-20 19:30] #7820 closed

[2016-06-20 19:31] jrieken commented on #7849
This issue was moved to OmniSharp/omnisharp-roslyn#588

[2016-06-20 19:31] #7849 closed

[2016-06-20 19:32] dbaeumer commented on #7809
@ZCShou which view are you talking about. The explorer, editor, ...

[2016-06-20 19:33] dbaeumer commented on #7806
Moving to TS team.

[2016-06-20 19:33] dbaeumer commented on #7806
This issue was moved to Microsoft/TypeScript#9278

[2016-06-20 19:33] #7806 closed

[2016-06-20 19:34] dbaeumer commented on #7805
@OliverJAsh OK to close ?

[2016-06-20 19:36] joaomoreno commented on #7741
This is great news. Could you run a profile for about a minute in the `Developer Tools` of your Code window, and send me that? That'll tell us where the time is spent.

Let me know if you need help with that, I'll guide you.

[2016-06-20 19:37] dbaeumer commented on #7743
@bpasero assigning to you since this could be caused by the new editor / tab code. And according to https://github.com/Microsoft/vscode/issues/7743#issuecomment-226363567 this is language agnostic.

[2016-06-20 19:38] OliverJAsh commented on #7805
Yup thanks

On Mon, 20 Jun 2016 at 20:35 Dirk Bäumer <notifications@github.com> wrote:

[2016-06-20 19:38] tills13 commented on #7826
@bpasero this brings up a good point about "release notes" for insider builds. It's not always evident from looking at recently closed tickets what has changed.

[2016-06-20 19:39] dbaeumer commented on #7618
@aeschli not sure if you or @alexandrudima

[2016-06-20 19:41] dbaeumer commented on #7572
@jrieken not sure if you or @isidorn @weinand

[2016-06-20 19:43] dbaeumer commented on #7561
@robertleeplummerjr OK for you to move the discussion over ?

[2016-06-20 19:44] basarat opened #7901 "Monaco API: Standalone editor doesn't support markdown"
After building the latest run:

[code]
And you will not see `markdown` in there :rose:

[2016-06-20 19:46] dbaeumer commented on #7473
@Tyriar assiging to you because of the deb package mentioning.

[2016-06-20 20:00] dbaeumer commented on #7332
@dslpp056193 can you give 1.2.1 a try. We fixed issues around performance https://github.com/Microsoft/vscode/issues?q=milestone%3A%22June+13th+Stable+Recovery%22+is%3Aclosed

[2016-06-20 20:01] dbaeumer commented on #7283
No response received from issue creator. Closing after 14 days

[2016-06-20 20:01] #7283 closed

[2016-06-20 20:02] dbaeumer commented on #7038
Closing since this will be fixed in next stable release.

[2016-06-20 20:02] #7038 closed

[2016-06-20 20:04] ktajeran commented on #7741
@joaomoreno Will this suffice? https://github.com/Microsoft/vscode/files/317180/cpu_profile.zip

[2016-06-20 20:15] weinand commented on #7572
@dbaeumer C# and C# debugging are a separate extension. I suggest to always move this to https://github.com/OmniSharp/omnisharp-vscode/issues

[2016-06-20 20:29] gregvanl commented on #7898
Looks like it can not resolve the relative paths.  It will work if the path is relative to the workspace but not relative to the Markdown file location.

[2016-06-20 20:46] robertleeplummerjr commented on #7561
Already done.  Thanks for the helpful bump.

[2016-06-20 20:46] #7561 closed

[2016-06-20 20:53] martypdx opened #7902 "Focus and scroll issues with built-in terminal window"
- VSCode Version: 1.2.1
- OS Version: OSX 10.11.4

Steps to Reproduce:

Focus issue:

1. Open the terminal window
2. Run a command
3. Click or select some text in the window above
4. Try and type, it doesn't do anything
5. Click or select a second time and the text will respond as expected

Scroll issue

1. Have enough output in the terminal window that causes it to scroll
2. Scroll to the top of

[2016-06-20 21:00] gwynjudd commented on #508
I got a new machine last week. When I set it up, I only put the release build (not insiders) - I haven't noticed it crash since then.

[2016-06-20 21:01] whitecolor commented on #7863
@dbaeumer
I've seen this issue, I thought that the question was a little bit different, it is about defining multiple tasks, a this issue is about concurrent execution, including tasks that are supposed to run "forever" like server/watching/etc.

[2016-06-20 21:14] tjsail33 commented on #7743
FWIW I am no longer experiencing this as of the update the day after my comment.

[2016-06-20 22:04] CreepGin commented on #7883
Went to bed, woke up, and there's a new vscode update. Problem fixed. Loving your iteration speed.

[2016-06-20 22:11] gregvanl opened #7903 "Reconsider using the term "editor" for files and views on files"
- VSCode Version:1.3.0-insiders
- OS Version:Windows 7

I think users will be confused by the term "editor" for a view on a file. Users think of VS Code as an "editor" of their "files".

I noticed this confusion when I started on the June_2016.md release notes.  We have sentences like "As a preparation for enabling Tabs in the workbench, we revisited how you can interact with editors in VS Code. M

[2016-06-20 22:21] weinand commented on #7836
@JonathanMEdwards thanks for providing the zipped project. That made it very easy to identify this issue as a duplicate of https://github.com/Microsoft/vscode/issues/6549.
The simplest workaround is to rename the 'src' folder something else.
This issue will be fixed in the June release.

[2016-06-20 22:21] #7836 closed

[2016-06-20 22:29] #6549 closed

[2016-06-20 22:30] weinand commented on #7836
@JonathanMEdwards fix will be available in next Insider build

[2016-06-20 22:30] weinand commented on #6549
@JonathanMEdwards fix will be available in next Insider build

[2016-06-20 22:36] gregvanl opened #7904 "Why do we differentiate preview open files with italic font?"
- VSCode Version:1.3.0-insiders
- OS Version:Windows 7

I'm not sure there is benefit differentiating preview open file (with italic font) from fully opened files. What information does this give the user and how would they act on it?

Italics in the heading doesn't look good on some lower resolution monitors.
![italic](https://cloud.githubusercontent.com/assets/12818376/16212473/b8a4a302-36fc-11e

[2016-06-20 22:37] eByte23 commented on #508
@bpasero I haven't seen any crashes since 1.3, running windows 10 insider build >= 14367

[2016-06-20 22:42] weinand commented on #7652
@agarwal-sandeep sure, node-debug could use an environment variable as an indicator that node.js is actually chakra.

Please suggest how the env var should be named.

Please note that this env var cannot be set in the launch config but must be set globally.
Let me know if this would work for you (until we've fixed the real issue).

[2016-06-20 22:46] agarwal-sandeep commented on #7652
@aruneshchandra @mrkmarron for their feedback. We can use NODE_DEBUG_SUPPORTS_STEPBACK=1

[2016-06-20 23:03] k-y commented on #3451
Worked on CentOS 7 on x2go ; TYVM for this tip!

[2016-06-20 23:25] gregvanl commented on #7903
If we move away from term "editors" for files, the breaking changes to the command ids called out in https://github.com/Microsoft/vscode/issues/6605 can be greatly reduced.  Users and extension builders may be unhappy when their custom key bindings no longer work.

I'm also not sure there is real benefit in changing "Editor" to "EditorGroup" in the command ids.  The editor window stays the "Editor

[2016-06-20 23:34] mprobst opened #7905 "Allow configuring language explicitly"
- VSCode Version: 1.2.1 (1.2.1)
- OS Version: Mac OS X 10.11.5 (15F34)

Steps to Reproduce:

1. Set Mac OS X to e.g. German locale
2. Start VS Code
3. VS Code is now localized in German, including configuration files

I'd like an option to control localization myself. I like my OS in German, but would strongly prefer to keep all developer tools (like VS Code) in English.

[2016-06-20 23:39] edumunoz opened #7906 "Bogus "Canceled" error message when stopped debugging in certain scenarios"
- VSCode Version: 1.2.1
- OS Version: All

Steps to Reproduce:

1. Start debugging with a debug adapter which won't send a response (e.g., there's a bug in the debug adapter, or the debug adapter is waiting for an external event (attaching a debugger to it)) for a request from VSCode.
2. When stopping the debug session (`disconnect` request), there is an error popping up in the VSCode UI that read

[2016-06-21 00:24] aruneshchandra commented on #7652
@agarwal-sandeep how is this supposed to get set ? Is the user is expected to set this ?

[2016-06-21 00:32] rebornix commented on #7897
Here is the thing, currently vscode will not do anything after the extension bits are uploaded to the marketplace or after installing the extension to local disk, so when you publish the extension and the node_modules you referenced in the code are not included in the extension bits, they will not show in users' machine.

A proper solution is use `.vscodeignore` to handle file inclusion/exclusion,

[2016-06-21 00:39] rebornix commented on #7898
@gregvanl works as charm on my Mac with latest Insider build, I'll give it another try once I have my Windows.

BTW, you may want to close the preview pane and trigger the preview again, or reload the window then preview once more, then if the image is shown correctly, I'll say it can be some file detecting issue. People are running into similar issue in other cases.

[2016-06-21 00:56] csnover commented on #7323
So, the good news is that I got some heap snapshots of a leaky VSCode window. The bad news is that (1) the window crashed while I was looking through the retainers, and after restoring the heap snapshots I lose the ability to look up referenced functions, (2) it contains proprietary information so I can’t give it to you, and (3) there was no clear smoking gun.

The JS heap grew by 1.3MB between th

[2016-06-21 01:38] wooramy opened #7907 "No way to apply four slashes //// using shortcut"
- VSCode Version: 1.2.1
- OS Version: OS X 10.11.3

Description:
I use four slashes //// to differentiate commented out code from actual comments but vscode inserts a space between two slashes // // if I apply line comment twice.

Steps to Reproduce:
1. Set focus on a line in the editor
2. Press cmd+k, cmd+c to comment out the code with //
3. Press cmd+k, cmd+c again

(Expected)
//// var foo;

(Ac

[2016-06-21 02:10] dilijev commented on #7786
@bpasero Thanks for pointing me to the preview release. I'll run that for a while and see if I happen to observe this again.

[2016-06-21 02:28] celador commented on #7897
@rebornix I had a .vscodeignore file  I copied the one you linked and removed a few lines from mine, then tried to publish again, but with the same results.  The package works on one machine, but not the other.  I don't understand why some packages would install, but not others, but then when I run `npm install` in the extension folder, it installs all the packages it needs.

I'm currently going t

[2016-06-21 02:30] dilijev commented on #7788
@sandy081 Thanks, that's definitely an improvement. Although the value populated for OS seems very non-specific. I end up still transcribing from winver.

[2016-06-21 02:49] dilijev opened #7908 "Multiple-Integrated-Terminal discoverability/usability issues"
- VSCode Version: Code - Insiders 1.3.0-insider (62f0272219dc72fda5246d330640e6af52a10cd0, 2016-06-20T22:45:16.666Z)
- OS Version: Windows_NT ia32 - Windows 10 14342.1000 (Insider)

Hitting the hotkey (Ctrl+Shift+\`) again seems to refresh the Integrated Terminal window and the content of the already opened window disappears. I figured that this opened a fresh terminal -- but because there is no U

[2016-06-21 03:14] rebornix commented on #7897
Repro on my machine, only part of the npm packages are downloaded, seems not all dependencies are included into the final extension vsix. @joaomoreno any ideas?

[2016-06-21 03:40] yisibl commented on #7800
@egamma  We should support real time preview, is so cool 👻
![](https://img.alicdn.com/tps/TB1Vj..KpXXXXbnaXXXXXXXXXXX-360-235.gif)

[2016-06-21 03:47] yisibl opened #7909 "Emmet: support all the features"
Now we only support:

* Expand Abbreviation
* Wrap with Abbreviation
* Remove Tag
* Update Tag

@egamma Are you planning to support [other features](https://github.com/emmetio/emmet/blob/master/lib/action/main.js#L75-L95)? I can submit a PR.

[2016-06-21 03:51] rebornix commented on #7909
I'm willing to see the PR :+1:

[2016-06-21 03:53] yisibl commented on #5427
@traktraktrugui This experience is not very good.

[2016-06-21 03:58] rebornix commented on #7898
Finally the root cause came back to my mind. After switching the markdown preview to extension, we start to use web view instead of a single iframe to show the generated html for better security, but webview has no idea what those relative URIs mean. We have a fix for bookmarks in https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/html/browser/webview.html#L77 and we should hav

[2016-06-21 04:28] JimiC commented on #7572
In VS Code you can't define the startup project for the debugger but you can set multiple configurations  that correspond to each project.

Here's an example:
[code]

This is of course for an Electron app (Node.js) but you get the idea.

[2016-06-21 05:01] rebornix commented on #7898
@jrieken may have valid reasons when designing this baseUrl setting, let's wait and see his input.

[2016-06-21 05:07] NCC1701M commented on #7740
Yes, it's cmd.exe. Well it sometimes work and sometimes not but when it doesn't work it's always started via ctrl+shift+c from VSCode. Is there a special way VSCode starts cmd.exe?

I can post you a screenshot but you won't see when I hit ctrl+c

[2016-06-21 05:12] bpasero commented on #7826
@tills13 https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/June_2016.md

[2016-06-21 05:13] bpasero commented on #7896
You are free to rebind any keybinding we picked.

[2016-06-21 05:15] bpasero commented on #7888
@vogler please report this against https://github.com/atom/electron

[2016-06-21 05:15] #7888 closed

[2016-06-21 05:24] bpasero commented on #7743
@Brocco @tjsail33 could it be that it always happens with the same file you open? this could point to an issue with our tokenizer.

[2016-06-21 05:27] eByte23 commented on #7572
Its more a problem with the c# extension as it used to work if I have multiple projects I don't want to manually have to define every project. especially when I am building the project like that is just stupid.

I should just say build and it builds my entire .net app.
But for example if I only have one project with an entry point and I say run debugger it should automatically run the project with

[2016-06-21 05:27] #7572 closed

[2016-06-21 05:31] bpasero commented on #7498
For some reason "1" becomes "typeof number" when we parse arguments.

[2016-06-21 05:35] BurtHarris commented on #7896
Yes, of course.   The point is that the choice you picked is confusing and goes against the longstanding Windows UI guidelines.   Your changed title sort of misses that.

[2016-06-21 05:35] bpasero commented on #7903
@gregvanl thanks for your suggestion but imho it does not make sense to call "editor" => "file" because there are many editor types that are not about files (e.g. markdown preview, the new extensions management editor).

[2016-06-21 05:36] bpasero commented on #7904
@gregvanl see https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/June_2016.md#preview-editors

[2016-06-21 05:54] BurtHarris opened #7910 "Question on Build and Run From Source instructions: Node version"
The wiki [instructions](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source) say that I'll need Node.JS, at least version 5.10.   For unrelated reasons, I'm reluctant to install anything later than the latest [LTS](https://github.com/nodejs/LTS#lts_schedule) release (v4.4.5) on the default PATH on my dev system.

Is v5.10 still the best release for working on vscod

[2016-06-21 05:56] Platzer commented on #7898
## Setup:
- Version 1.3.0-insider
- Commit 62f0272219dc72fda5246d330640e6af52a10cd0
- Date 2016-06-20T22:45:16.666Z
- OS Version:Windows 7

## Tests:
1. :+1: Absolute path without whitespace and slash (`/`) as delimiter
  `![](C:/workspace/markdown/screenshots/pic.jpg)`
1. :-1: Absolute path with whitespace and slash (`/`) as delimiter
  `![](C:/workspace/markdown/screenshots/pic one.jpg)`
1. :-1:

[2016-06-21 06:08] isidorn commented on #7895
Dup of #2399

[2016-06-21 06:08] #7895 closed

[2016-06-21 06:22] csholmq opened #7911 "Terminal lines appears to have margin"
When pressing F7, the list of previous commands appears to have margin:
![term](https://cloud.githubusercontent.com/assets/1297882/16219781/0e56f534-3789-11e6-9008-ebbd3abf6e74.gif)

Here's the Windows command prompt:
![console](https://cloud.githubusercontent.com/assets/1297882/16219783/11ad070a-3789-11e6-8893-91f24bae7cbe.gif)

1.3.0-insider
Win10

[2016-06-21 06:50] wmjordan commented on #1046
What the h*ck is going on with Code?
It took more than one year for them to implement this feature!?

[2016-06-21 06:58] Spown commented on #1046
@wmjordan how much did you pay for VSCode?

[2016-06-21 07:08] joaomoreno commented on #7892
@mike-ward What is in your `%PATH%`?

[2016-06-21 07:09] joaomoreno commented on #7874
The error occurs in `fsevents`, which is an optional dependency. It is expected to fail in Windows, you can continue as if the error didn't occur.

[2016-06-21 07:13] jrieken commented on #7520
Alex is correct - if you really need to access a http(s) resource, I'd reckon to define an html page that embeds an iframe pointing to the http(s) page

[2016-06-21 07:13] #7520 closed

[2016-06-21 07:14] jrieken commented on #7617
The cursor is set by the edit operation

[2016-06-21 07:15] wllfoxe13 opened #7912 "Big Error"
- VSCode Version:1.2.1
- OS Version:Win10-10586
Steps to Reproduce:
SQLite :https://www.sqlite.org/download.html
SQLite Soure Code  sqlite3.c Error.....

[2016-06-21 07:15] jrieken commented on #7572
This issue was moved to OmniSharp/omnisharp-roslyn#589

[2016-06-21 07:16] wllfoxe13 commented on #7912
Big File Error...

[2016-06-21 07:20] jrieken commented on #7898
The problem is that we encode the window drive letter `file:///d%3A/` vs `file:///d:/`

[2016-06-21 07:26] Tyriar commented on #7911
This was introduced by customizable line height, it makes selections look a bit wonky too.

[2016-06-21 07:29] aeschli commented on #7312
@glen-84 Yes, just add `sass-indented` to the activation list. The language definition dies not have to be present.

[2016-06-21 07:32] aeschli commented on #7858
duplicate of https://github.com/Microsoft/TypeScript-TmLanguage/issues/167

[2016-06-21 07:32] #7858 closed

[2016-06-21 07:33] joaomoreno commented on #7853
@iloveyo123u1 Did you configure your [proxy settings](https://code.visualstudio.com/docs/setup/setup-overview#_proxy-server-support)?

[2016-06-21 07:33] dbaeumer commented on #7912
@wllfoxe13 what exactly causes a Big File Error. Can you please provide additional steps.

[2016-06-21 07:34] mrmlnc commented on #7909
Right now I'm working on adding support for settings and profiles.

[2016-06-21 07:34] joaomoreno commented on #7846
Duplicate of #780

[2016-06-21 07:34] #7846 closed

[2016-06-21 07:36] joaomoreno commented on #7839
cc @bpasero @alexandrudima a little help here? It seems the all the user's svgs are missing from the workbench.

[2016-06-21 07:36] dbaeumer commented on #7905
F1 > Configure Language.

Put en into that file. This makes VS Code run in an English locale even if your OS is German.

[2016-06-21 07:36] #7905 closed

[2016-06-21 07:37] isidorn commented on #7828
As you figured out you need the chrome debug extension to debug vscode itself. Just launch
`scripts/code.sh --remote-debugging-port=9222` and attach to the port from the "real vscode" that has the chrome debug extension installed.

If for some reason you still need extensions in your `./scripts/code.sh` you can just install them to your "real vscode" and copy them over from vscode_app/resources/ap

[2016-06-21 07:37] #7828 closed

[2016-06-21 07:38] dbaeumer commented on #7805
Closing.

[2016-06-21 07:38] #7805 closed

[2016-06-21 07:38] joaomoreno commented on #7830
Unfortunately there is no API around the git view, especially the message editor.

[2016-06-21 07:39] Tyriar commented on #7908
It will soon have a dropdown just like the output pane and the left and right buttons will go away (the commands will remain though). See https://github.com/Microsoft/vscode/issues/7732 for a discussion on the long term solution which probably won't make it in for June.

[2016-06-21 07:39] #7908 closed

[2016-06-21 07:39] joaomoreno commented on #346
Please reopen if there are more details.

[2016-06-21 07:39] #346 closed

[2016-06-21 07:41] joaomoreno commented on #7823
These two commands are easy to add, wanna give it a try with a PR?

[2016-06-21 07:42] joaomoreno commented on #7821
Disabling auto fetch or setting up a credential manager solves it.

[2016-06-21 07:42] #7821 closed

[2016-06-21 07:42] dbaeumer commented on #7863
The reason why I folded them is that if we allow running multiple tasks supporting multiple commands is almost a must. That we we plan to solve them together in one go.

[2016-06-21 07:42] #7863 closed

[2016-06-21 07:42] isidorn commented on #7875
There are some limitations in this approach - the user can not have an unrelated launch.json file anywhere as it will screw up the debug configurations.

If we were to do this we should do the same for tasks.json - as it also lives in the .vscode folder and it should have the same charateristics.

Both task service and the debug service use the configuration service here
https://github.com/Microso

[2016-06-21 07:43] joaomoreno commented on #7808
You can disable git in the user settings, but you won't be able to hide the button.

[2016-06-21 07:43] #7808 closed

[2016-06-21 07:43] dbaeumer commented on #7823
@jrieken I assigned you because of the API request:

The "..."-menu in the "Changes View" offers "Stage Selected Lines" and "Switch to Inline View"/"Switch to Side by Side View", which are (sadly) not listed in the API.

[2016-06-21 07:44] joaomoreno commented on #7741
Hm, it doesn't have much info... was the CPU spiking during that profile?

[2016-06-21 07:47] rebornix commented on #7823
Anyone wants to add a new command to the diff view menu bar can take a look at https://github.com/Microsoft/vscode/pull/6896 , it's as simple as that.

[2016-06-21 07:51] dbaeumer commented on #7168
@alexandrudima the problem is not that the extension host (which creates the fake stdin pipe/socket) doesn't exit. It does. But somehow the fake stdin doesn't closed hence the tsserver doesn't exit. What I was trying to say is: do we need a close call on the fake stdin/out when the extension host shuts down.

[2016-06-21 07:53] aeschli commented on #7831
I made a fix for this with #7730. The $ref is resolved against the actual location of the file ('file:///...), the id is not considered.
I'm closing tis assuming you just verified this with what on HEAD. If not, please reopen.

[2016-06-21 07:53] #7831 closed

[2016-06-21 07:55] nevadascout opened #7913 "Pressing tab in a PHP file inserts an XML tag"
- VSCode Version: 1.2.1
- OS Version: OS X 10.11.5

Steps to Reproduce:
1. Type a variable in a PHP file
2. Put your cursor at the end of the variable
3. Press tab

![php-tab-xml](https://cloud.githubusercontent.com/assets/377089/16222036/ee598760-378d-11e6-818b-353950e960e1.PNG)

[2016-06-21 07:57] joaomoreno commented on #7897
This issue was moved to Microsoft/vscode-vsce#100

[2016-06-21 07:57] #7897 closed

[2016-06-21 08:03] aeschli commented on #7669
We currently have no plans to support this.

[2016-06-21 08:04] joaomoreno commented on #7910
- https://github.com/creationix/nvm
- https://github.com/coreybutler/nvm-windows

[2016-06-21 08:04] #7910 closed

[2016-06-21 08:05] bpasero commented on #7839
Yes, very likely the SVG issue (https://code.visualstudio.com/docs/setup/windows#_next-steps). The activity bar shows its icons because they are inlined as data URIs.

[2016-06-21 08:05] aeschli commented on #7618
Themes can set the background colors, but in VCOde we ignore these as it conflicts with other background colors (selection, mark occurrence, find replace...)
To make this work we would need to invest time in using transparency everywhere.

[2016-06-21 08:17] chadrien commented on #7886
Correct, it's been fixed in insider version.

Thanks

[2016-06-21 08:17] #7886 closed

[2016-06-21 08:46] weinand opened #7914 "Setting variable value results in a changed value highlight on next step"
Steps to Reproduce:

-  use this snippet:
[code]
- start debugging: debugger stops on first 'debugger' statement
- change the value of x to "bar": after closing the edit box the new value is shown
- step once

Notice: the value "bar" is shown as changed even if it has not.

The correct behaviour would be to highlight the value on dismissing the edit box (and if the new value is really different fr

[2016-06-21 08:55] #7047 closed

[2016-06-21 09:15] basarat commented on #7901
Sorry. I should have tried harder. Its been done (just 7 hours before I made this issue) :rose:

[2016-06-21 09:15] #7901 closed

[2016-06-21 09:20] hummervee opened #7915 "Crash/not responding after Filesearch in big Project"
Every Time I use the file search (F1 -> enter Filename) the Editor starts lagging and stop responding a while later (maybe half an hour, sometimes longer) and forces me to restart after "not responding"-message.

- VSCode Version: 1.2.1
- OS Version: Win10
- current Project: ~148.000 Files,  ~25.000 Folders

Steps to Reproduce:

1. "Open Folder" of big Project
2. Search for files and open them (F1

[2016-06-21 09:24] NikosEfthias opened #7916 "cannot use placeholder such as {{file}} in gulpfile"
- VSCode Version:1.2.1
- OS Version:arch linux

Steps to Reproduce:

1. write a gulpfile
2. write a task specificly designed to be run within vscode containing {{file}} such as run current file
3. open tasks and run that task from vscode
4. it fails

[2016-06-21 09:25] bpasero opened #7917 "Editor hover is easily lost in editor content"
I am not a big fan of our hover when it has lots of contents because the content blends too easy into the other contents of the editor making it hard to read.

![image](https://cloud.githubusercontent.com/assets/900690/16224554/c9e51f4c-37a2-11e6-8c17-06b18d24fc45.png)

At the minimum the hover should have a different background color. Also in this example the JS doc comments look very similar to

[2016-06-21 09:27] stevencl commented on #7904
We do this so that users aren't surprised when the content of a file they are looking at is replaced with the content of a new file that they single click on. We think that we need to distinguish these files. Doing so is a common pattern - Sublime Text italicizes these files and Visual Studio positions them to the far right of the document well. Knowing that a file is open in a preview tab would t

[2016-06-21 09:29] #7904 closed

[2016-06-21 09:35] isidorn commented on #7906
@edumunoz thanks for the nice analysis.

[2016-06-21 09:45] #7914 closed

[2016-06-21 09:49] db4 opened #7918 "problemMatcher vs zero-based column values"
- VSCode Version: 1.2.1
- OS Version: Windows 10

I'm trying to parse error messages of OCaml compiler like this:

[code]

with a a following problemMatcher:

[code]

Column range of error (characters 0-1) is zero-based while VS Code expects that column numbers starts from one; so I have an error marker in VS Code shifted one position to left

Is it possible to add additional problemMatcher proper

[2016-06-21 10:00] mrqtsfr commented on #7913
Same in:

VSCode Version: 1.2.1
OS Version: Windows 10

[2016-06-21 10:00] warrenbuckley opened #7919 "Monaco: Plans for publishing to Bower?"
With Monaco now a separate project that can be used in sites with NPM, is there any plans to be able to fetch & install Monaco using Bower?

[2016-06-21 10:06] stevencl commented on #224
As @bpasero has mentioned you can now enable tabs in our nightly insider builds.

If you have tried this and can spare 30 minutes to share your feedback, please sign up for a chat here: https://calendly.com/stevencl/vs-code-tabs/

Unfortunately I can only offer time slots during the day my time (I am in Edinburgh, Scotland) Monday and Tuesday next week.

[2016-06-21 10:19] stevencl opened #7921 "UX meeting agenda 22 June 2016"
- Tab context menu actions to open a new tab #7890 - @isidorn
- Double click on empty header area should open a new tab #7889  - @isidorn
- Multiple integrated terminal UX #7732 - @Tyriar
- Reconsider using the term "editor" for files and views on files #7903 - @gregvanl

[2016-06-21 10:24] nippur72 opened #7922 "case of colorization error with inline string template"
- VSCode Version: 1.2.1
- OS Version: Windows 7

The following code is not colorized properly in VSCODE (.ts file)
[code]
Screenshot:
![screen1](https://cloud.githubusercontent.com/assets/2598443/16226191/875b79b6-37aa-11e6-87b1-13f7d6eaedbb.png)
(but is correct in Visual Studio 2015).

[2016-06-21 10:36] bgse commented on #7872
Bit confused here, zooming functions are mapped [Ctrl +] and [Ctrl -] out of the box for me, both on Linux and Windows10, german keyboard.

[2016-06-21 10:41] bgse commented on #7840
I'm using VSCode as my primary code editor with Unity, works fine for me. I'm just using

https://github.com/dotBunny/VSCode

for Unity integration, and obviously the C# extension.

[2016-06-21 10:54] Thaina commented on #7520
@alexandrudima @jrieken What I have heard is `vscode.previewHtml` is not render animation and execute javascript am I wrong? If so then how can I preview angularjs page which heavily based on js?

[2016-06-21 10:55] yisibl commented on #7909
@mrmlnc Waiting for your PR.

[2016-06-21 11:02] yisibl commented on #7757
@aeschli Development of animation will often used.

[2016-06-21 11:04] spywhere opened #7923 "[Idea] Cursor animations"
It would be nice to be able to have various style of cursor animations. As someone who personally wants the smooth cursor animation instead of flat blinking.

Here is the fiddle I made: https://jsfiddle.net/rxercv6v/
And here is the preview of that fiddle:

![cursor](https://cloud.githubusercontent.com/assets/1087399/16227353/49e62006-37da-11e6-95b5-80dac0863d11.gif)

In the above gif
- `blink` on

[2016-06-21 11:32] csvn commented on #7874
Yes, `fsevents` is optional and should fail, but npm should not exit with error code 1 because of it, preventing further installs or postinstall hook from running.

I figured out the cause of this though, I tried this on another machine where `install` worked. When I updated npm it stopped working. The latest working npm version seems to be 3.8.9. npm@^3.9.0 seems to cause the `install` to fail.

[2016-06-21 11:36] sandy081 opened #7924 "Default settings: Incorrect type for the property ``markdown.styles``"
Open Default settings file and see

A warning is generated for the property ``markdown.styles``

[2016-06-21 11:58] isidorn commented on #7921
ping @Microsoft/vscode so interested people can join

[2016-06-21 12:00] bpasero commented on #7921
From me:
* View Menu : UX Ideas https://github.com/Microsoft/vscode/issues/7700
* Cmd + number should focus editor at index and not focus groups or split https://github.com/Microsoft/vscode/issues/7647

We should also discuss progress on:
* Find widget does not blend well when tabs enabled https://github.com/Microsoft/vscode/issues/7649
* Wrong input box color in dark theme https://github.com/Micr

[2016-06-21 12:33] mrmlnc commented on #7909
@yisibl, Well, I tried #7926

[2016-06-21 12:48] mike-ward commented on #7892
[code]

[2016-06-21 12:57] bill-mybiz commented on #7830
Thanks @joaomoreno. I was afraid that was the case (hence the question). Well, instead of an extension (unless someone can think of a different workflow), I guess I'll dive into trying to build vscode from source and look into at least implementing the template. Seems like it would be as straight-forward of a contribution as possible: hook the load event, load any existing message, if none, try lo

[2016-06-21 13:24] cfjedimaster commented on #7414
Just happened. Opened up Activity Monitor, Memory tab. Code is taking 68.4MB of ram, which seems pretty small. For CPU, it is relatively small - like 0%.

I checked Electron Helper (that's related, right?) and for memory, I've got 3 processes, all small too (<35MB each).

Anything else I can check?

[2016-06-21 13:32] bpasero commented on #7414
@cfjedimaster well but if you checked for memory after the crash happened, it is likely that the memory is already freed. So it would be interesting if memory grows large while using Code (when it gets to 1 GB on a specific process, it will soon die with an out of memory crash).

[2016-06-21 13:33] con-ssc commented on #7706
I can narrow it further down. Kaspersky blocks https traffic for apps that it doesn't know. It doesn't report that nor gives feedback to the user, it just cuts off the connection. If you disable the supervision on port :443 the extension connection works.

[2016-06-21 13:34] cfjedimaster commented on #7414
Ok - I'll start checking every couple of hours or so.

[2016-06-21 13:35] cfjedimaster commented on #7414
Btw - what process should I focus on, Code or Electron Helper?

[2016-06-21 13:50] egamma commented on #4960
Closing, no action on upstream issue.

[2016-06-21 13:50] #4960 closed

[2016-06-21 13:53] dslpp056193 commented on #7332
All works, thanks, fine work!

[2016-06-21 13:53] sr105 opened #7927 "VSCode never starts the second time"
- VSCode Version: 1.2.1 fe7f407b95b7f78405846188259504b34ef72761
- OS Version: OS X 10.11.5

Steps to Reproduce:

1. Download VSCode
2. Unzip
3. Run (from Finder or Alfred)
4. Quit
5. Run (never opens, crashes on start-up)

     6/21/16 9:40:09.385 AM com.apple.xpc.launchd[1]: (com.microsoft.VSCode.445792[5119]) Service exited with abnormal code: 1

6. Go back to step 1 and you can run it once.

I

[2016-06-21 13:58] bgse commented on #7854
- (...) the active tab is always revealed and stands out from others
- verify tabs are looking good in all themes including high contrast theme

Not sure how to answer these questions, personally I'd say tabs would need to stand out a little more in all color themes.

While it does work as intended, I find myself squinting my eyes a lot trying to make out tab boundaries.

Active tab is easy due to

[2016-06-21 13:59] weinand commented on #7652
@agarwal-sandeep yes, the user would have to do this (which would be a pain). We are currently looking into how to fix this issue.

[2016-06-21 14:06] bpasero commented on #7414
@cfjedimaster ideally find a tool that is able to show you a detailed list of all processes below Code so that we find the one responsible.

[2016-06-21 14:08] bpasero commented on #7854
Yeah I do agree that the colors needs more tweaking, we have this captured in https://github.com/Microsoft/vscode/issues/7649 and https://github.com/Microsoft/vscode/issues/7648

[2016-06-21 14:08] #7807 closed

[2016-06-21 14:09] isidorn commented on #7807
@weinand please tune the error message coming from the adapter so it nicely fits in the error box - looks decent thus far though

[2016-06-21 14:30] mprobst commented on #7905
Thanks @dbaeumer. FYI, I looked for this in the regular User Settings (`Cmd-,`) and the `Code > Preferences` menu. Maybe this setting should be exposed somewhere in the UI, so it's a bit more findable?

[2016-06-21 15:07] vogler commented on #7823
Some other things I noticed:
- there's no "Unstage Selected Lines" for staged changes
- "Stage Selected Lines" always uses the right side of the diff for selection, which makes deletions hard to handle: selecting the line before the hunk, stages the whole hunk, i.e., selecting single lines isn't possible. Also, selecting one change on the right, then another change on the left, I would expect the

[2016-06-21 15:24] weinand commented on #7652
@agarwal-sandeep we are planning to enhance VS Code so that the `supportsStepBack` capability can be returned from the `launch` and `attach` requests.

[2016-06-21 15:40] ktajeran commented on #7741
@joaomoreno Yes, that profile was taken while the CPU was spiking.

I figured out the root cause of my issue. On my laptop there are two GPUs, an embedded one from Intel and a discrete one from Nvidia. There is a bios option called "Hybrid Graphics" mode that allows the system to dynamically use the embedded one when there are no high-demand GPU intensive programs running. Disabling this hybrid gr

[2016-06-21 15:41] #7172 closed

[2016-06-21 15:42] aruneshchandra commented on #7652
@weinand yes that's much better than expecting users to set the env variable. Thanx!

[2016-06-21 15:48] ktajeran commented on #7570
I have noticed this problem as well. Opening two visual studio code instances by running `code --verbose` twice has resulted in the second instance opening/starting correctly.

[2016-06-21 15:59] xenopeg commented on #7912
I'm assuming that by "Big File Error" it was something related to the size of the "sqlite3.c" from SQLite's source code.

I tried opening it and indeed VSCode crashed soon after while highlighting the code.

[2016-06-21 16:17] gregvanl commented on #7903
@bpasero I realize there are special views on files (preview, diff) and synthetic files that show up in an editor window but I think the 95% case is file system files.  The term "editor" is already used to describe VS Code itself ("editor" versus an IDE) and also the three editor windows (LEFT, CENTER, RIGHT).  I think using the term "editor" to also describe the items in the editor window is conf

[2016-06-21 16:34] bpasero commented on #7903
@gregvanl can you summarize where exactly you would want to talk about "files" instead of "editor"? we already have command Ids out there that talk about editors and we actually talk about editors since our initial release so I am not sure why this issue is suddenly an issue.

[2016-06-21 16:42] weinand commented on #7807
@isidorn I've tuned the error message to be short.

One issue which the variables view shares with the explorer: if the error box is open the view can be scrolled with the mouse wheel which detaches the error box from the item being edited.

[2016-06-21 16:49] Tyriar commented on #7886
Awesome, thanks for confirming :smiley:

[2016-06-21 16:51] MIchaelMainer commented on #7821
Thank you @joaomoreno ... As of today, disabling auto fetch appears to be the only option when using SSH.
https://github.com/Microsoft/Git-Credential-Manager-for-Windows/issues/25

[2016-06-21 16:52] Tyriar commented on #7866
@antoniomquadrosfilho can you try install the rpm again via command line? I find sometimes it doesn't work when updating via the GUI at least.

[2016-06-21 16:58] Tyriar commented on #7473
@dbaeumer can you link where eslint is called into that triggers this error in the extension?

[2016-06-21 16:59] Tyriar commented on #7902
Both are already fixed in v1.3.0, you can try it out in the [insiders build](https://code.visualstudio.com/insiders).

[2016-06-21 16:59] #7902 closed

[2016-06-21 17:03] tills13 commented on #7826
Perfect. Thanks.

[2016-06-21 17:04] Tyriar commented on #7740
`cmd.exe` is spawned with the following code:

[code]

Where `command` is `%COMSPEC%` if it's defined, otherwise `cmd.exe`. So this is the command that would be used:

[code]

You could try using the 64-bit cmd and see if that fixes your problem:

[code]

[2016-06-21 17:06] Tyriar commented on #7788
@dilijev apparently it is [as easy as running `os.release()`](http://stackoverflow.com/a/14989382/1156119) to get this. I didn't realize, I'll add this now, thanks :smiley:

[2016-06-21 17:09] juniordiscart opened #7928 "Performance degradation in a few minutes"
- VSCode Version: 1.2.1
- OS Version: OS X 10.11.5

Steps to Reproduce:

1. Open (relatively) large C# Unity project (±420 scripts)
2. Work for about 10-15 mins

Hi
Since update 1.2 (still persists in v1.2.1) Visual Studio Code started having performance degradation after a few minutes of working. The Intellisense is fluent and rapid in the first few minutes (< 1second for suggestion) but graduall

[2016-06-21 17:14] coreh opened #7929 "Support `-r` flag when combined with `-w`"
- VSCode Version: 1.2.1
- OS Version: OS X 10.11.5

Steps to Reproduce:
1. Have an existing VSCode window open
2. Run `code -w -r file.js`
3. Only the `-w` flag gets honored, but not `-r`. (So file opens in a separate window)

In that circumstance `-w` should probably wait for the _editor_ to be closed (and not the window, since that's reused)

[2016-06-21 17:24] JonathanMEdwards commented on #7836
Thanks for the quick fix!

On Mon, Jun 20, 2016 at 6:30 PM Andre Weinand <notifications@github.com>
wrote:

[2016-06-21 17:27] Tyriar commented on #7900
Duplicate of https://github.com/Microsoft/vscode/issues/7911 - should be fixed soon.

[2016-06-21 17:34] #7900 closed

[2016-06-21 17:40] bill-mybiz commented on #7830
So I've got the code up and going, and I've had an initial grok of the overall code. Whew! 8-O

Here's a naive screenshot from just directly setting the input's value just after it is created/initialized:
![01 super_naive_git_vs_code_message](https://cloud.githubusercontent.com/assets/1253349/16235012/e1b871a0-3798-11e6-95cf-f25439506837.png)

So apparently, there are quite a few pieces that could

[2016-06-21 17:54] coreh opened #7930 "OSX: Automatically close (non-project) windows when their last editor is closed"
On OS X, VSCode can persist without any open windows, and remain perfectly usable through the menu bar / dock icon. (Which is great, since it matches OS X's document-centric UI conventions 100%.)

Because of that, I believe it doesn't make a lot of sense to keep non-project (purple) windows open on OS X without any open editors on them, like on this screenshot:

![](https://cloudup.com/cE42l-2NmsT

[2016-06-21 17:55] Tyriar commented on #7810
I believe this is already fixed, can you see if you can reproduce in the [Insiders build](https://code.visualstudio.com/insiders)?

If not, could you open developer tools (via help menu) and check for errors in the console?

[2016-06-21 17:55] #7810 closed

[2016-06-21 17:57] Tyriar commented on #7817
Are you scrolling using mouse/trackpad? Can you try <kbd>ctrl</kbd>+<kbd>shift</kbd>+arrow/page up/page down (or whatever the OS X equivalent is).

[2016-06-21 17:58] Tyriar commented on #7036
Duplicate of https://github.com/Microsoft/vscode/issues/7062

[2016-06-21 17:58] #7036 closed

[2016-06-21 17:58] Tyriar commented on #7868
Duplicate of https://github.com/Microsoft/vscode/issues/7062

[2016-06-21 17:58] #7868 closed

[2016-06-21 18:01] Tyriar commented on #7269
The problem here is knowing which key sequences vscode should capture and which should be passed to the terminal. If vscode consumes <kbd>F1</kbd> then any terminal applications that rely on this will no longer work. Going to leave this one for now unless many people report as there is always the workaround of closing the terminal or using the other keybindings.

[2016-06-21 18:18] eamodio opened #7931 "(Nightly) Lose ability to open side panel after opening an extension from the new extensions panel"
- VSCode Version: `Version 1.3.0-insider (1.3.0-insider)` 06d108b4a0aa6c031e7c1e61a463c069809d6019
- OS Version: `OS X El Capitan 10.11.5`

Steps to Reproduce:

1. Open the extension panel and click on one of the extensions
2. Click on the extension button (on the panel) again to hide the panel (or the shortcut key)
3. (BUG) If you try to click on the extension button yet again to reopen the panel

[2016-06-21 18:21] Tyriar commented on #7850
Can you try this out in the insiders build to see if that fixes your problem? Otherwise it's an issue with our environment parsing code.

[2016-06-21 18:35] Tyriar opened #7932 "Close panel 'x' button should be a minimize button '_'"
It's particularly confusing with the terminal panel, a `x` is ambiguous whether it will kill the terminal process when really this is purely a minimize button `_` for all panels.

[2016-06-21 18:37] Tyriar commented on #7921
Additional:

- Close panel 'x' button should be a minimize button '_' #7932
- @gregvanl is wanting to do an early preview of terminal docs, this will be blocked until new terminal and close terminal buttons are determined (assuming a simple dropdown is going in for June).

[2016-06-21 18:41] unional opened #7933 "Highlighting for string type in generic"
![image](https://cloud.githubusercontent.com/assets/3254987/16241929/e1d73e26-37a4-11e6-8410-035636c629c3.png)

Likely a TypeScript issue, but filed here as a start.
Using `typescript@1.9.0-dev20160614-1.0`

[2016-06-21 18:57] bill-mybiz commented on #6190
This seems like it would be a perfect combination for issue #7830 about allowing for more powerful git messages. Whatever the persistence mechanism would be for previous git commit message, if none listed, it could then check for the [`commit.template` config setting](https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#Basic-Client-Configuration). In that issue, I've also made some no

[2016-06-21 19:09] dilijev commented on #7788
@Tyriar Thanks! It now works the way I'd expect as of version Insiders 1.3.0-insider (06d108b4a0aa6c031e7c1e61a463c069809d6019

[2016-06-21 19:18] dilijev opened #7935 "Add files to Recent Files list when brought in via DND"
- VSCode Version: Code - Insiders 1.3.0-insider (06d108b4a0aa6c031e7c1e61a463c069809d6019, 2016-06-21T17:55:32.931Z)
- OS Version: Windows_NT ia32 10.0.14342

Steps to Reproduce:
1. Open VS Code
2. Open some files by DND from file browser onto VS Code
3. Close VS Code
4. Try to use File > Open Recent > ...
5. Observe that the files that had been opened recently are not in this list.

![image](http

[2016-06-21 19:34] szokekaroly opened #7936 "VSCode doesn't run the Node.js program"
- VSCode Version:1.2.1
- OS Version:Fedora 24 Linux, x86_64, kernel 4.5.7

Steps to Reproduce:

1. Open Node.js project
2. Press F5, run the program
3. Appear the info message: Please set up the launch configuration file for your application.
4. I have got a correct launch.json file, but the info message appear again, and the JavaScript program doesn't run
5. Workround: go to the debug mode, then

[2016-06-21 19:38] coreh commented on #7932
Would be really nice if it was on the left side on OS X, as well.

[2016-06-21 19:47] Tyriar commented on #7932
@coreh I doubt that would happen as it would need to be applied globally or be inconsistent (working files, find, tabs, etc.). Lots of work in design/maintaining 2 behaviors for little payoff imo. In general we tend to go for consistency across platforms, adopting some platform-specific behaviors where it's easy and makes sense.

[2016-06-21 19:47] be5invis commented on #4772
Any progress? I'd like to rename my extension `be5invis.julia` into `be5invis.syntax-julia`, but the old one cannot be removed.

[2016-06-21 19:48] coreh commented on #7872
Ideally it should say `⌘+` on the menu, and be bound to both that and `⌘=`, that way you don't need to use shift.

[2016-06-21 19:52] eamodio commented on #7931
This seems fixed by https://github.com/Microsoft/vscode/commit/5474147bb83618975409dad7d8aa96151d7d1ea1

[2016-06-21 19:56] coreh commented on #7932
Makes sense. Y'all are moving so fast with the features and improvements that it's easy to forget the resources are actually finite.

Maybe someday 🙃

[2016-06-21 19:58] coreh commented on #7911
Wow! Out of curiosity, how do you open that menu? Is that a new Windows 10 feature?

[2016-06-21 20:04] delfinof commented on #2472
Still problems with 1.2.1.

You set breakpoint in the .ts file, the debugger stops when the breakpoint is hit, but the "red dot" in the ts file is moved to the corresponding line in the js file.

How we can help?
I have a test project running with docker for windows + vscode in case you need it for further investigation.

[2016-06-21 20:45] yas666 opened #7937 "intellisense doesnt work on osx"
- VSCode Version: latest
- OS Version: OSX El capitan

Steps to Reproduce:

1. download visual studio code on osx
2. download and install unity
3. use ext install to install legacy c# tools
4. try and access unity engine api.
5. type transform in void start or a similar function
6. use dot notation to access methods and find that you cannot get the list.

[2016-06-21 21:03] kieferrm commented on #7066
No planned activity.

[2016-06-21 21:03] #7066 closed

[2016-06-21 21:13] weinand commented on #2472
@delfinof it would help a lot if you could produce a screen recording that shows what you are doing and how and when the "red dot" moves.

[2016-06-21 22:06] johnfn commented on #7343
I also have this issue.

Opening vscode on the command line (`$ code-insiders`) makes the problem go away.

[2016-06-21 22:06] electrohope commented on #5131
I have the same issue with Windows 7

[2016-06-21 22:12] notoriousFF opened #7939 "@notoriousFF high CPU use after some time"
- VSCode Version: 1.2.1
- OS Version: 10.11.5

Steps to Reproduce:

1. Two monitors;
2. VSCode open in one of them full screen;
3. After some hours the computer slows down and after checking Activity Monitor I get these:
4. With VSCode Opened: https://gyazo.com/450ede25910e78895f60983ac7edd260
5. After Closing VSCode: https://gyazo.com/55d576e7d75363dbe77c813e4dd286e7

[2016-06-21 22:13] weinand commented on #7343
@johnfn what version of VS Code are you using?
We've fixed something in that area last week.

[2016-06-21 22:21] jtsom commented on #7343
Fwiw I used the new command line arguments setting to add -l and that made it work for me.

[2016-06-21 22:23] johnfn commented on #7343
@weinand I updated earlier today.

[2016-06-21 22:25] weinand commented on #7343
@joaomoreno VS Code should use the system global paths in /etc/profile (which has the Homebrew added /usr/local/lib path), right?

[2016-06-21 22:26] lawrencebr opened #7941 "Debugging hangs for a powershell script containing git commands."
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. Create a script with "git clone" in it, my script is below:

`Write-Host "Start Git Test";

$result = git clone <git repo> "$PSScriptRoot\test.git" 2>&1;

Write-Host "Finished Git Command";
Write-Host $result;`

please note that the <git repo> I am attempting to clone is a local bare repository on my hard drive, so no credentials are needed.

[2016-06-21 22:49] weinand commented on #2472
Remote debugging scenarios with source maps are a bit special and VS Code support for this is weak.
Some tipps and tricks:
- VS Code can only find source maps for remote files if the source maps are inlined in the generated files. Use `"inlineSourceMap": true` in your tsconfig.json.
-  keep a copy of the generated JavaScript file (with the inlined source map) in the local workspace so that VS Code

[2016-06-21 22:51] achshar opened #7942 "An option to disable current line highlight."
- VSCode Version: 1.2.1
- OS Version: Win 10

There should be an option to disable current line highlight. Sublime has it. I find it quite distracting.

There are other closed issues on this with no real explanation why.

![Current line highlighting](https://cloud.githubusercontent.com/assets/3441158/16246080/51d80bb6-3821-11e6-81f2-78829d4570c3.png)

[2016-06-21 23:06] satokaz commented on #7871
@rebornix, Thank you for explanation. I understand.

I was able to display! thanks!

[2016-06-21 23:24] basarat commented on #446
Just made a release of [alm](alm.tools) that uses monaco : `0.1.0`. Let me [know how it goes](https://github.com/alm-tools/alm) :rose:

[2016-06-21 23:43] rebornix commented on #7823
@vogler Try Insider build and you will see the "Unstage" feature.

[2016-06-21 23:54] lurdan commented on #7874
Also, it should be fixed because npm stopped at the fsevents so following modules won't be set up.
(I've been required to do so manually, npm install vscode-languageclient, vscode-languageserver, jsonc-parser, ...etc)

[2016-06-22 00:00] dilijev opened #7943 "When word wrap is disabled text still wraps until word wrap is toggled on and off again"
- VSCode Version: Code - Insiders 1.3.0-insider (5474147bb83618975409dad7d8aa96151d7d1ea1, 2016-06-21T19:35:37.900Z)
- OS Version: Windows_NT ia32 10.0.14342

Steps to Reproduce:
1. Open VS Code
2. Ensure that word wrap is already not set (otherwise set it and reopen VS Code)*
3. Paste a large amount of text (over 300 columns long)
4. Observe that the text DID wrap at some arbitrary length (at som

[2016-06-22 00:16] stephenlautier commented on #2204
@Maus3rVonDutch  Thanks for this temporarily solution! The only ugly way obviously is to set it up, otherwise it would be brilliant.

[2016-06-22 00:44] eByte23 commented on #508
@bpasero with tabs enabled, opened a c# project and vscode is crashing error couple of minutes after latest update to insider commit hash: 5474147bb83618975409dad7d8aa96151d7d1ea1

[2016-06-22 01:03] jd-carroll commented on #7875
@isidorn How will this screw up the debug configurations? The clean way to implement this would be to also add a new variable like ${file-location} for use in the debug configurations. That way your configs are always relative to the location of the launch.json and not the workspace root.

[2016-06-22 01:29] jokeyrhyme commented on #446
Will VSCode use this newly extracted Monaco? Will they be synchronised? Will they diverge?

[2016-06-22 01:32] AaronFriel commented on #7389
I would be a proponent of never seeing the message and having it automatically update in the background. That's how evergreen ought to be, yeah?

[2016-06-22 01:33] TheColorRed opened #7944 "openssh-askpass keeps poping up"
- VSCode Version: 1.2.1
- OS Version: Ubuntu 16.04

I am not sure what is causing this, but whenever I one of my projects I keep getting this popup. It locks up everything so I couldn't do a print screen. Anyways No matter what I do, it keeps opening. If I Press `Cancel` or `Ok` it goes away then pop back up a few minutes later. If I try entering a password, or `Yes`/`No` into the input box it sti

[2016-06-22 02:24] rebornix commented on #7389
I'm eager to see that there is no popup window anymore, Besides, it would be perfect if the Windows binary doesn't require admin privilege (just a wish, not ask for it as I know there must be some limits).

I have Insider build on both my devbox and laptop, so the first thing to do everything during coffee time is manually re-installing VS Code twice. We may want to put this issue in the backlog t

[2016-06-22 03:04] androllen commented on #7400
but can not formate code.please view output window for details.
Command failed: autopep8 --diff "d:\Program Files (x86)\Visual Studio 2015\Projects\Python\Demo\main.py"
'autopep8' �����ڲ����ⲿ���Ҳ���ǿ����еĳ���
���������ļ���

[2016-06-22 03:10] reggieboyYEAH commented on #2394
any update on this? i am using v1.2.1

[2016-06-22 03:42] kieferrm opened #7945 "Test: Markdown extension"
Test plan for #6106

- [x] Windows - @bpasero
- [x] OS X - @sandy081
- [x] Linux - @aeschli

Verify
- syntax highlighting in markdown source in all built-in themes
- working markdown preview in all built-in themes
- "open preview" file explorer context menu contribution
- "Show preview", "Open Preview to the Side", "Show source" editor action bar contributions
- keybindings for open/toggle preview

[2016-06-22 03:42] kieferrm commented on #6106
Done-Done criteria:
- [x] Test Plan Item created
- [x] Keyboard accessible
- [x] Screen reader accessible
- [x] Works with the different themes, including the high contrast theme
- [x] Telemetry events in place
- [ ] Release notes updated

[2016-06-22 04:14] wallverb commented on #7850
Insiders build seems not to have this problem. Although it does have problem with scrolling of terminal as described in here: #7817

[2016-06-22 04:19] wallverb commented on #7817
1. shift+fn+up/down arrow allows to scroll on my OSX 10.11.5 (insider build)
2. Scrolling with trackpad does not scroll
3. Trying to highlight more text from terminal that is visible does not trigger scroll (although this also does not work in 1.2.1)

[2016-06-22 04:32] #7850 closed

[2016-06-22 04:41] dongritengfei commented on #4846
I have many projects, some of them are GBK encoded, other are UTF-8 encoded, so what can I do for setting different encoding for each project. appreciate for any help

[2016-06-22 05:07] bpasero commented on #508
@eByte23 can you verify this is related to having tabs enabled or not by trying without tabs?

[2016-06-22 05:10] bpasero opened #7946 "Extensions viewlet: search input looks different compared to others"
It
* is very narrow in height for some reason
* shows an ugly focus ring on Mac

<img width="420" alt="screen shot 2016-06-22 at 07 09 43" src="https://cloud.githubusercontent.com/assets/900690/16255247/581c03b6-3848-11e6-897d-6eb66d283ab6.png">

[2016-06-22 05:13] TurkeyMan opened #7947 "Multiple copies of the same file being opened with different paths"
- VSCode Version: 1.2.1
- OS Version: Xenial

I am seeing frequent cases of multiple instances of the same file being opened with different paths.

For instance, I have in my 'Working Files' area:
  MySource.cpp  - myproj/src
  MySource.cpp  - ///home/myuser/blah/blah/myproj/src

One copy is opened relative to my project directory, the other has a strange absolute path, and they're both the same f

[2016-06-22 05:21] Tyriar opened #7948 "DND is broken when using Linux VMs (parallels)"
DND of tabs and editors is broken/works bad on Linux.

[2016-06-22 05:25] bpasero commented on #7948
DND is really quite broken on Linux...

[2016-06-22 05:30] eByte23 commented on #508
@bpasero still happening when tabs are disabled, but no where near the severity with tabs enabled.

But is heavily noticeable and reproducible when working with images, clicking between large images quickly in both insider and v1.2.1

[2016-06-22 05:33] bpasero commented on #508
@eByte23 I suggest to open a new issue on that with as much detail as you can provide (e.g. does memory grow?).

[2016-06-22 05:35] eByte23 commented on #508
Sure can do. I haven't done a huge amount of investigation around it yet but I'll get some in-depth details for you a bit later.

[2016-06-22 05:39] gregvanl opened #7949 "File > Close Editor with no open file, closes VS Code (crash?)"
- VSCode Version:1.2.1-stable, 1.3.0-insiders
- OS Version:Windows 10

Steps to Reproduce:

1.Open a file
2. File > Close Editor   - this closes the file
3. File > Close Editor   - this exits VS Code (same as File > Close Window)

Not sure if this is crash or just a regular exit.

[2016-06-22 05:39] srinath29 opened #7950 "Linux: watcher can produce ENOSPC when too many handles open"
- VSCode Version: 1.2
- OS Version: CentOS 7 running on VMPlayer 12

The error which I am getting is

[code]

I think while exiting suddenly (Because of sudden OS shutdown) it is unable to close some files or something.

[code]

[2016-06-22 05:45] eByte23 opened #7951 "Images do not show updated when changed on disk"
**New description @bpasero**
Depends on https://github.com/electron/electron/issues/6275

**Old**

- VSCode Version: 1.2.1-1.3.0 latest
- OS Version: windows(test) most likely all

1- Steps to Reproduce:

1. Open a folder with 5 or so large images in vscode
2. click between them quickly
3. vscode crashes

2- Steps to Reproduce:

1. Open a project in vscode
2. Enable tabs
3. Open some large files q

[2016-06-22 05:47] mind0n opened #7952 "Visual Studio Code type definition for string lacks methods such as startsWith"
- VSCode Version:1.2.1
- OS Version:1511 10586.318

Steps to Reproduce:

1. let s:string = "ok";
2. s.startsWith('$', 0);

There should be no error information below for method startsWith
error TS2339: Property 'startsWith' does not exist on type 'string'.

Hit F12 in VSCode on existing method "charAt" of string type and go to the lib.d.ts and the method startsWith doesn't exist in interface strin

[2016-06-22 05:47] eByte23 commented on #7951
Will add further details later e.g. memory usage, dumps etc.. /cc @bpasero (If you want to track)

[2016-06-22 05:53] srinath29 commented on #7950
It got solved when followed this [SO](http://stackoverflow.com/a/17437601/2869667)

[2016-06-22 05:53] bpasero commented on #7951
@eByte23 how large are those images? can you attach the files you use?

[2016-06-22 05:54] #7952 closed

[2016-06-22 05:55] mind0n commented on #7952
ES5 doesn't contain this method.

[2016-06-22 05:55] phevose commented on #646
@bpasero This is an annoying problem,every time when I run the build script i have to close vscode first,but my present job require electron,so I have to consider other editor?

[2016-06-22 05:55] NikosEfthias opened #7953 "A reload or restart option could be great."
- VSCode Version:1.2.1
- OS Version:arch linux

when i updated some definition files or some path it does not show in vscode instantly so i have to close vscode and reopen .
If there is a reload option like just after installing extensions it would be great

[2016-06-22 05:58] eByte23 commented on #7951
@bpasero I can't provide the images as the are client images probably copyrighted also.

But here are the sizes and types
![image](https://cloud.githubusercontent.com/assets/8544875/16256008/1a190ed4-3892-11e6-8271-b66e8a1cb53c.png)

[2016-06-22 06:00] joaomoreno commented on #7917
cc @jrieken

[2016-06-22 06:00] joaomoreno commented on #7917
Duplicate of #2330

[2016-06-22 06:00] #7917 closed

[2016-06-22 06:01] riona2 commented on #4783
but guys i tried Long Path Tool to clean this mess and it worked properly

[2016-06-22 06:03] joaomoreno commented on #7874
Oh. It always returned error code 0. `3.9.0` might've changed it, it's worthwhile to look into.

[2016-06-22 06:04] isidorn commented on #7807
@weinand I think we are good for that if no user noticed the issue in the explorer for the last 2 years :)

[2016-06-22 06:04] joseph-iussa commented on #7727
Can confirm this is happening for me as well (just updated to 1.2.1 and currently on Windows 10). Behaviour is exactly as shown in VitorLuizC's image, except that I have no special characters in my path, and in fact the problem still occurs with no folders or files open and just the initial untitled document displayed.

I recently upgraded to Windows 10 from Windows 7 and the problem was not prese

[2016-06-22 06:05] joaomoreno commented on #7892
Can you remove `C:\Program Files (x86)\Microsoft VS Code` from your `PATH` and try again? It should've been removed during the setup phase...

[2016-06-22 06:06] joaomoreno commented on #7741
@ktajeran Great to know, thanks for the insights!

@bpasero Heard of this before?

[2016-06-22 06:06] #7741 closed

[2016-06-22 06:09] bpasero commented on #2330
I am not a big fan of our hover when it has lots of contents because the content blends too easy into the other contents of the editor making it hard to read.

![image](https://cloud.githubusercontent.com/assets/900690/16224554/c9e51f4c-37a2-11e6-8c17-06b18d24fc45.png)

At the minimum the hover should have a different background color. Also in this example the JS doc comments look very similar to

[2016-06-22 06:10] bpasero commented on #7951
Thanks. And the files you open are all of the same file type and similar size?

[2016-06-22 06:10] joaomoreno commented on #7830
Let's boil it down a bit. I've renamed the issue to better focus on what I think is that you want to achieve.

How will you manage the templates? Will you have a collection of them? How will you store them? How will you show a template picker, for when the user needs to type a commit message?

All those questions need to be answered before diving into the code.

[2016-06-22 06:11] joaomoreno commented on #4772
cc @egamma This could be an alternative for renaming.

[2016-06-22 06:13] joaomoreno commented on #7343
I don't really understand the question. Opening the Developer Tools (<kbd>F1</kbd>, `Developer`) and typing `process.env.PATH` in the console will print out the `PATH`.

[2016-06-22 06:14] maorui2014 opened #7954 "Why is there a line here?"
- VSCode Version: 1.3.0-insider (commit: 5474147)

I have severe obsessive-compulsive disorder.
There is a nasty line here:

![abc](https://cloud.githubusercontent.com/assets/18439500/16256276/8dfa3332-3883-11e6-96e4-bdf0e5c3fc2b.png)

[2016-06-22 06:14] joaomoreno commented on #7823
@vogler You've caught it all. 😄 There's quite a bit of work to be done there.

[2016-06-22 06:18] bpasero commented on #646
I will see if there is a way to prevent the locking from happening.

[2016-06-22 06:20] rebornix commented on #7953
Invoke command palette and type `reload` then you can reload JavaScript/TypeScript/Window :)

[2016-06-22 06:29] eByte23 commented on #7951
Just varying of all those types, it was happening switch between the biggest file in the list to others very quickly

[2016-06-22 06:35] Vishal-Isharani commented on #7953
but a button on side pane would be great

[2016-06-22 06:37] rebornix opened #7955 "Extensions viewlet: add some in-progress hint for update"
- VSCode Version: 1.3.0-insider
- OS Version: Mac OSX

Steps to Reproduce:

1. Have an extension out of date
2. Navigate to Extension Viewlet, it shows a update button, click it.

Expected: The update button switches to a install-in-progress image similar to what we have in command palette.
Actual: Nothing happens. We don't know whether it's updating or not.

[2016-06-22 06:38] rebornix commented on #7955
When we install new extensions in Extension Viewlet, the install button will be greyed out after clicking it. This can be another option.

[2016-06-22 06:46] IgorNovozhilov opened #7956 "Cannot read property 'id' of undefined (shell.ts:411)"
- VSCode Version:
![2016-06-22_09h43_45](https://cloud.githubusercontent.com/assets/3082812/16256902/d2031132-385d-11e6-8841-525a5f805a0b.png)

- OS Version: win 7

Steps to Reproduce:

1.

![2016-06-22_09h44_31](https://cloud.githubusercontent.com/assets/3082812/16256921/eea419f8-385d-11e6-93da-9505fed02aa0.png)

2.

![image](https://cloud.githubusercontent.com/assets/3082812/16256955/0ef9ff9c-38

[2016-06-22 06:47] kodfodrasz opened #7957 "With hungarian layout '\' cannot be entered to the the nested terminal"
- VSCode Version: 1.2.1
- OS Version: Windows 10 Professional versin 1511 build 10586.420

Steps to Reproduce:

1. Start VSCode
2. Press the Ctrl+ö keys, which toogle the terminal (why not Ctrl+0, the key placed to the same position as Ctrl+` on the US layout?
3. Press AltGr+q to input '\' on hungarian layout

Expected result:
Terminal opens with cmd.exe, and \ appears in the terminal.

Actual res

[2016-06-22 07:13] jrieken commented on #7520
That isn't true

[2016-06-22 07:22] isidorn opened #7958 "No keyboard shortcut to open extensions viewlet"
1. There is not shortcut to open the extensions viewlet (like all other viewlets have it)

I propose shit + cmd + x

[2016-06-22 07:24] isidorn opened #7959 "Extensions icon might need polish"
If we are ever going to change the extensions icon now is the time.
I am not the biggest fan of the current icon so creating this issue just to raise my concern.

When I look at the current icon 'extensions' is not the first term that comes to my mind.
This is just my opinon so feel free to close

![screen shot 2016-06-22 at 09 23 56](https://cloud.githubusercontent.com/assets/1926584/16257831/1b5

[2016-06-22 07:27] Tyriar opened #7960 "With tabs enabled, cannot view the active tab's file path without using mouse"
It seems this is very cumbersome to do:

- Copy path to active file command and paste somewhere
- Open in file viewer and look at the OS explorer

[2016-06-22 07:28] NikosEfthias commented on #7953
@rebornix well i didint know that thanks :)

[2016-06-22 07:32] Tyriar commented on #7953
It's a very destructive action that is only really needed for developers of vscode or users that install an extension and dismiss the dialog. I'm going to close this off since I don't see this happening.

If you need to use it more frequently for some reason I recommend either adding a keybinding or accessing it via command palette (I use <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>p</kbd>, "rew", <kbd>

[2016-06-22 07:32] #7953 closed

[2016-06-22 07:32] isidorn opened #7961 "Treating extensions description editor as regular editors?"
Currently the extensions description window is just like any other editor - which means I can quick open away from it, I can split editor it eg...

Do we want to allow all these actions or we need to treat it in some special way?
My argument is that the user never wants to see more than 1 and the user does not want to see this once he is not in the extensions viewlet.

If we treat them as regular

[2016-06-22 07:33] rebornix commented on #7953
I had no idea about this command until I saw @Tyriar used it. A button on the side pane would be intuitive but we can't move all commands to it, @Vishal-Isharani right?

Maybe we can have something like Ubuntu hot key map when you press `Windows` button for a few seconds, this might be a good extension, what do you think @Tyriar

[2016-06-22 07:35] siegebell commented on #2402
@egamma @aeschli - [I've managed to implement a rudimentary prettify symbols mode](https://github.com/siegebell/vsc-prettify-symbols-mode) using #7181 (before & after decorations) -- thanks!

But there are a couple bugs in #7181 and limitations elsewhere that need to be addressed, so I'll be filing a few more related issues soon.

[2016-06-22 07:36] isidorn opened #7962 "Clear button not visible enough"
The current extensions input clear has some flaws:
1. Too far away from input
2. Looks disabled
3. Too small
4. Mouse does not transform to click while hovering over it
5. No hover information
6. Looks out of style compared to our other input buttons (find, search)

Due to this reasons this button can easily get ignored

![screen shot 2016-06-22 at 09 35 10](https://cloud.githubusercontent.com/ass

[2016-06-22 07:38] kumarharsh opened #7963 "Problems with git commands and vscode"
- VSCode Version: ANY
- OS Version: Windows 10 (should be any)

When I try to run commands such as `git checkout`, `git rebase`, or even `git stash pop` from the command line (powershell), many times it fails to complete the command, failing with this error, or an equivalent:
[code]
The command also fails and thus leaving me to do a lot of manual cleaning up to restore to previous version.

It see

[2016-06-22 07:40] isidorn opened #7964 "Install button in extension header too small"
The install button in the extensions header is the same size as the install button in the list - that is nice for consistency but:
1. there is too much empty space in the header
2. this is the most important action a user can take

Due to these reasons I believe the install button should be larger in the extensions header
Same for the uninstall button for the installed extensions header

![screen

[2016-06-22 07:42] isidorn opened #7965 "Uninstall button color blends too much in extensions header background"
The uninstall button needs a clearer distinction from the extensions header background. Currently it blends too much and the user can easily ignore this button.
I like how it looks in the list, and I think it should have consistent color with the one in the header but I believe we can find a color which will work for both places.

Maybe increasing the size as suggested in #7964 might fix this issu

[2016-06-22 07:47] isidorn opened #7966 "Not possible to install / uninstall extension via keyboard"
I like how the keydown starts going through the list and how enter opens the extension description.
I would exprect that an enter on already selected list item installs / uninstalls that extension.

The alternative is that you open extension description on each up / down and on enter install / uninstall. I think this might also work nicely

[2016-06-22 07:49] isidorn opened #7967 "Screen reader support missing in extensions viewlet"
1. Turn on VoiceOver
2. Go to extensions viewlet -> whatever you do screen reader is silent
3. I would expect I hear out the text in the input box, and the currently selected extension is read out

[2016-06-22 07:51] egamma opened #7968 "Extensions Viewlet: Don't see extension's icon on Windows"
![image](https://cloud.githubusercontent.com/assets/172399/16258584/cd968196-385e-11e6-8082-4ee8c89b59ea.png)

[2016-06-22 07:52] egamma opened #7969 "Extensions: where is progress?"
When clicking 'update' in the extensions viewlet you don't see progress as the extension is updated and you do not get prompted to restart.

[2016-06-22 07:52] isidorn opened #7970 "Scrollbar out of style for extension descriptions"
1. Open an extension description
2. Notice the native scrollbar which looks out of style since we do not use it anywhere else in VSCode
3. I would expect our regular scroll bar which we use everywhere else (also for markdown preview)

![screen shot 2016-06-22 at 09 50 23](https://cloud.githubusercontent.com/assets/1926584/16258599/db95e750-385e-11e6-8971-08852af7e468.png)

[2016-06-22 07:54] dbaeumer commented on #7963
@kumarharsh this might be caused by a bug we know exists in TS server which holds locks onto directories. However this should only affect renaming or deleting folders, not creating them. Can you reproduce the problem with normal text files?

[2016-06-22 07:55] Tyriar commented on #7953
@rebornix I don't think it's a common case for users to need to reload outside of the extension install prompt. If they do you can always add a simple keybinding to make it easy:

[code]

On adding it to the side panel, we need to be *very* careful when adding buttons to the UI, especially prominent places like on the activity bar. The UI is intentionally minimalistic in order to keep the UI light

[2016-06-22 07:57] isidorn opened #7971 "Clicking on a markdown preview does not set focus on editor"
1. Open markdown preview of a file
2. Click somewhere else so your editor loses focus
3. Click somewhere in the markdown preview - notice how the editor does not gain focus. If you click on its tab header the editor nicely gains focus
4. Clicking on the editor should always give it focus

This is now more visible since we show extensions description using a markdown preview.
fyi @joaomoreno

[2016-06-22 08:03] isidorn opened #7972 "Feedback that a restart is required is missing"
1. Extensions viewlet -> install material theme
2. Once installed -> choose switch theme and get puzzled why the material theme is missing
3. The issue is that the user did not get notified in any way that a restart is required to the extension gets fully functional

So we need some state in the viewlet that would show the user the extension will get enabled only after a restart.

[2016-06-22 08:04] dbaeumer commented on #7956
@joaomoreno assigning to you since the new extension management code has properites metadata and id

[2016-06-22 08:08] isidorn opened #7973 "Install the extension marketplace story needs update"
1. Most of the extensions currently have a description on how to install that extension (by opening quick open and pasting some commands) - example: https://marketplace.visualstudio.com/items?itemName=mousetraps.quicksnippet#review-details
2. Due to the introduction of the extension viewlet all those install descriptions become depracted

So we should somehow notify the extension writers that this

[2016-06-22 08:08] dbaeumer commented on #7950
@bpasero looks like a problem with the file system watcher under Linux.

[2016-06-22 08:12] dbaeumer commented on #7947
@TurkeyMan assuming that you have the C++ extension installed. This is a dup of https://github.com/Microsoft/vscppsamples/issues/68.

[2016-06-22 08:12] dbaeumer commented on #7947
Please ping if this is not the case.

[2016-06-22 08:15] lordgreg commented on #1501
Still having this issue.

El Capitan 10.11.5 (15F34)
Visual Studio Code 1.2.1 (1.2.1)

[2016-06-22 08:19] dbaeumer commented on #7944
Very likely caused by git.

[2016-06-22 08:22] dbaeumer commented on #7941
This issue was moved to PowerShell/vscode-powershell#214

[2016-06-22 08:22] #7941 closed

[2016-06-22 08:22] leegee opened #7974 "Key binding error or docs... or operator...?"
I'm getting the below message when using the key binding you can see in the same screenshot.

I took the 'command' from the docs at https://code.visualstudio.com/Docs/customization/keybindings

In this Insiders build, 'ctrl+shift+m` is mapped to `workbench.actions.view.problems`, and that does work, but is different action to the above. Has the above feature been withdrawn and replaced?

[image](h

[2016-06-22 08:23] csholmq commented on #7911
Nothing in latest insiders. Did it miss the train?

[2016-06-22 08:24] dbaeumer commented on #7939
@notoriousFF could you provide me with the command line of the ElectronHelper executable. This would help understanding what is causing this.

@bpasero does this ring a bell?

[2016-06-22 08:26] dbaeumer commented on #7974
@sandy081 we should open the error list now. Right.

[2016-06-22 08:26] jumpinjackie opened #7975 "[question]: Can HTML previews fetch/XHR content from virtual document URIs?"
I was very delighted to find out that HTML previews could run JavaScript, which is the whole reason my vscode-map-preview extension (https://github.com/jumpinjackie/vscode-map-preview) exists.

One of the questions I have, is that the HTML preview I generate with the extension is not so much content, but a combination of an interactive viewer "container" into the actual content that is also embedd

[2016-06-22 08:27] dbaeumer commented on #7937
@jrieken assigning to you since he installs the legacy tools.

[2016-06-22 08:29] joaomoreno commented on #7964
YES!

[2016-06-22 08:30] joaomoreno commented on #7965
Yeah I think #7964 will fix it

[2016-06-22 08:30] #7965 closed

[2016-06-22 08:30] dbaeumer commented on #7929
@joaomoreno not sure if you or @bpasero

[2016-06-22 08:31] bpasero opened #7976 "Close/Dirty button on tabs is not centered nicely on Windows/Linux"
Looks like the 1px border bottom is causing this.

[2016-06-22 08:32] bpasero commented on #7960
@Tyriar how do ST, VS, Sublime solve this?

[2016-06-22 08:32] sandy081 commented on #7974
@dbaeumer Yes Ctrl+Shift+M opens problems view. But, I changed the command id to ``workbench.actions.view.problems.`` I think, I should either revert/support the old command ``workbench.action.showErrorsWarnings``

[2016-06-22 08:32] bpasero commented on #7971
@isidorn please file markdown issues against @kieferrm

[2016-06-22 08:33] dbaeumer commented on #7927
@joaomoreno starting with you because of the reference to the .bash_profile

[2016-06-22 08:33] joaomoreno commented on #7970
You are like an eagle 🐦

[2016-06-22 08:34] bpasero commented on #7949
Yeah as designed. Last close closes the window. Has been like that from day 1.

[2016-06-22 08:34] #7949 closed

[2016-06-22 08:35] joaomoreno commented on #7955
Thanks for the issue! Closing as duplicate of #7969

[2016-06-22 08:35] #7955 closed

[2016-06-22 08:36] bpasero commented on #7786
Ok please comment if it reproduces. We can reopen then.

[2016-06-22 08:36] #7786 closed

[2016-06-22 08:36] joaomoreno commented on #7973
I will keep the `ext install foo` and redirect the user to the viewlet for now.

[2016-06-22 08:37] joaomoreno commented on #7944
You can disable auto fetching with `"git.autofetch": false` in your settings.

[2016-06-22 08:37] #7944 closed

[2016-06-22 08:37] bpasero commented on #7935
@dilijev we only add items there if you go via File > Open...

Do you open files differently and expect them to show up?

[2016-06-22 08:38] dbaeumer commented on #7916
Can you provide the tasks.json file you are using.

[2016-06-22 08:38] joaomoreno commented on #7931
Thanks for the issue and the encouragement! 😄

[2016-06-22 08:38] #7931 closed

[2016-06-22 08:38] isidorn commented on #7936
This should be fixed in the latest insiders and will the fix will be available in the june release of vscode

[2016-06-22 08:38] #7936 closed

[2016-06-22 08:40] bpasero commented on #7915
@hummervee you say you use F1 but this is the command palette. Can you share screenshots what you do?

[2016-06-22 08:40] dbaeumer commented on #7913
@aeschli do you know of anything special we are doing here?

[2016-06-22 08:41] joaomoreno commented on #7927
Strange that it works with `open Visual\ Studio\ Code.app` but not double click.

When it is running, can you install the `code` shortcut in the `PATH` (<kbd>F1</kbd>, `Install 'code' command in PATH`), quit and then try running it with `code` from your terminal?

[2016-06-22 08:41] dbaeumer commented on #7332
Closing then.

[2016-06-22 08:41] #7332 closed

[2016-06-22 08:42] bpasero commented on #7492
@Urahara ping

[2016-06-22 08:43] dbaeumer commented on #7400
@androllen I assume you have the python extension installed. Please file the issue there since the error message comes from that extension.

[2016-06-22 08:43] #7400 closed

[2016-06-22 08:43] leegee commented on #7974
FWIW, `workbench.action.showErrorsWarnings` is handy both for its limited scope, and that it is easy to close. (If `workbench.actions.view.problems` could easily be toggled that'd be great -- reaching for the mouse is such a stretch)

[2016-06-22 08:44] dbaeumer commented on #7912
@xenopeg @wllfoxe13 do you have any C/C++ extensions installed.

[2016-06-22 08:46] joaomoreno opened #7977 "Prevent link clicking in extension markdown editor"

[2016-06-22 08:46] joaomoreno opened #7978 "Bring back extension telemetry events"

[2016-06-22 08:47] sandy081 commented on #7974
@leegee There is a keyboard shortcut to toggle display of views in bottom bar - Ctrl + J (Just like Ctrl + B for toggling side bar views)

We are in the discussion of making views behavior consistent across. Side bar views and bottom bar views - See #7540

[2016-06-22 08:49] will-xlz commented on #206
+1 svn

[2016-06-22 08:50] isidorn opened #7979 "Native input box out of style from the rest of vscode"
In the extensions viewlet we use a native input box.
1. It looks out of style compared to rest of vscode
2. It looks very bad on linux

![screen shot 2016-06-22 at 10 49 07](https://cloud.githubusercontent.com/assets/1926584/16260290/11634c30-3867-11e6-817a-4656f0ba1af6.png)

[2016-06-22 08:51] isidorn commented on #7962
Also looks horrible on linux

![screen shot 2016-06-22 at 10 50 35](https://cloud.githubusercontent.com/assets/1926584/16260325/3802200a-3867-11e6-9a01-7aeedc7ef409.png)

[2016-06-22 08:52] isidorn commented on #7970
Also looks horrible on linux + the other scroll bar should get hidden

![screen shot 2016-06-22 at 10 51 37](https://cloud.githubusercontent.com/assets/1926584/16260356/5c267274-3867-11e6-887b-971ea31db3d4.png)

[2016-06-22 08:53] #7954 closed

[2016-06-22 08:54] joaomoreno opened #7980 "Add installs, ratings to extension viewlet list"

[2016-06-22 08:55] joaomoreno commented on #7979
#7946

[2016-06-22 08:55] #7979 closed

[2016-06-22 08:55] dbaeumer commented on #7921
I can't join however if you have time: do we need to have a global progress indication in the workbench. I am working on a builder for TS and want to report progress. I started to have my own TS specific status bar item, however if we have more builders then we will end up with quite some status items to show progress.

[2016-06-22 08:56] xenopeg commented on #7912
No extensions installed, using the Insiders build.

[2016-06-22 08:58] dbaeumer commented on #7473
@tosho if you open a terminal on the same workspace and type eslint --version what do you get ? And what do you see with which eslint. This might be an environment problem as well.

[2016-06-22 08:59] Tyriar commented on #7911
It's fixed but it's sitting on a branch, will likely be merged tomorrow for the next Insiders.

[2016-06-22 08:59] dbaeumer commented on #7905
We do have a issue requesting this.

[2016-06-22 09:02] dbaeumer commented on #7912
Them marking as important since we shouldn't crash.

[2016-06-22 09:15] Tyriar commented on #7960
Not sure, haven't used them in quite a while.

[2016-06-22 09:17] Vishal-Isharani commented on #7953
i got it thank you @Tyriar  and @rebornix

[2016-06-22 09:18] Tyriar commented on #7957
Duplicate of https://github.com/Microsoft/vscode/issues/7061

[2016-06-22 09:18] #7957 closed

[2016-06-22 09:22] isidorn opened #7982 "Errors in console while browsing extension descriptions"
1. Open extensions viewlet
2. Open multiple extension descritpion
3. After some time notice errors in console
4. Everything works fine though but I would expect the console to stay clean

![screen shot 2016-06-22 at 11 21 04](https://cloud.githubusercontent.com/assets/1926584/16261356/83d04580-386b-11e6-8ac3-ffcd68cc1ce0.png)

[2016-06-22 09:24] joaomoreno commented on #7982
Can you check whether those files exist in disk at all?

[2016-06-22 09:28] joaomoreno opened #7983 "Duplicate definition of searchQuery module"
Saw this in the console:

`Duplicate definition of module 'vs/workbench/parts/search/common/searchQuery'`

[2016-06-22 09:28] AlexLeung opened #7984 "Hover obscures previous code"
- VSCode Version: 1.2.1
- OS Version: Windows 10

Steps to Reproduce:
1. write function name followed by open paren `(` character

When typing in the parameters to a function, I want to see the code I just wrote, but the automatic Parameter Hinting pop-up box often covers up the previous lines, sometimes hiding up to the previous 4 lines of code! This can be especially annoying when the parameters

[2016-06-22 09:29] isidorn commented on #7982
Well they do not extist anymore because I have deleted all my extensions. Let me try to get better steps for this...

[2016-06-22 09:31] isidorn opened #7985 "Update extension button doesn't disable when clicked"
1. Open extensions viewlet - some extensions need update
2. Click the update button - there is no indication that an update is taking place
3. I can click on the update button infinite number of times. I would expect the update button gets disabled after first click

[2016-06-22 09:31] isidorn commented on #7982
Ok here are the steps:
1. Install extension
2. Uninstall that extension -> it is still present in list -> click on it -> notice error in console

[2016-06-22 09:33] bpasero commented on #7960
They show a hover on the tab, same as we do.

[2016-06-22 09:34] #7960 closed

[2016-06-22 09:36] isidorn opened #7986 "Uninstalling an extension only removes latest version of that extension"
Not sure if this is expected.
1. Manually change the version of an extension you have installed
2. Start vscode - get offered an update to that extension -> update it
3. Now uninstall that extension
4. Restart vscode -> notice the extension is still in the list and an update is offered

The issue is that the uninstall only removed the latest version of my extension. I would expect that all version

[2016-06-22 09:37] leegee commented on #7974
Thanks for the tip! I missed that one because I simply had to map CTRL+J to
'join lines' :-)

On 22 June 2016 at 09:47, Sandeep Somavarapu <notifications@github.com>
wrote:

[2016-06-22 09:39] isidorn opened #7987 "Improve tab overflow UX"
I know this is how it is desgined but just to raise my concern that the overflow cut of tab headers seems too strong for me. And when I look at the layout in some cases I feel like it is broken because of this. Not sure how to solve this issue, but we should somehow make this cut softer imho

![screen shot 2016-06-22 at 11 38 12](https://cloud.githubusercontent.com/assets/1926584/16261964/f7bce4d8

[2016-06-22 09:42] NikosEfthias commented on #7916
my tasks are resolved from my gulpfile.js automatically by vscode

[2016-06-22 09:43] NikosEfthias commented on #7916
![](http://i.imgur.com/Cth0okF.png) here is the tasks json generated by vscode

[2016-06-22 09:45] joaomoreno commented on #7956
@IgorNovozhilov What is inside your extensions folder? Do you have any extensions installed at all?

[2016-06-22 09:45] NikosEfthias commented on #7916
![](http://i.imgur.com/qAOp3uT.png) and here is the gulpfile

[2016-06-22 09:46] joaomoreno commented on #7986
Expected.

[2016-06-22 09:46] #7986 closed

[2016-06-22 09:48] isidorn opened #7988 "Installing the extension via command line does not update extension viewlet"
1. Have an extension installed
2. Open the extension viewlet
3. Uninstall that extension from the command line
4. Go back to vscode - the extension still apears as installed and you can click uninstall
5. The extension now gets installed - even though I clicked uninstall

Perfectly the viewlet would update as soon as you use the command line. If that is not possible I would at least not expect tha

[2016-06-22 09:49] sandersaares opened #7989 "Git integration fails to see merged file as staged if I reject all incoming edits"
VS Code Version 1.2.1
Commit fe7f407b95b7f78405846188259504b34ef72761
Date 2016-06-14T13:00:22.146Z
Shell 0.37.6
Renderer 49.0.2623.75
Node 5.10.0
Windows 10 Enterprise x64, latest non-Insider
git version 2.9.0.windows.1

Description: during a Git merge process, VSCode can sometimes show no pending changes and refuse to let me commit, while command-line Git believes a merge is in progress and lets

[2016-06-22 09:52] egamma commented on #4772
@joaomoreno yes, but this would still have the statistics issue in that the download count is now accounted to 2 extensions. For a not yet popular extension this is not an issue, but for a popular one it is. So I still think we need support for this from the market place.

[2016-06-22 09:53] BurtHarris commented on #7269
Agreed, I believe this is then not a bug but by design.

[2016-06-22 09:54] egamma commented on #7840
Assigning to @seanmcbreen he was driving the unity documentation.

[2016-06-22 09:55] BurtHarris commented on #7910
Thank you, looks perfect.

[2016-06-22 09:57] joaomoreno opened #7990 "Show 'no installed extensions' affordance"

[2016-06-22 10:00] isidorn opened #7991 "SideBySideEditorControl: can not read property done of undefined"
Can not easily repro this. But I got it with having two editor groups, and closing all of the tabs in one group one by one. Got an exception in the console

![screen shot 2016-06-22 at 11 59 30](https://cloud.githubusercontent.com/assets/1926584/16262673/e87d6ff8-3870-11e6-9962-1d5d98dad901.png)

[2016-06-22 10:01] bpasero commented on #7991
@isidorn yes I am hunting this down for a while, super hard to reproduce. Happy to hear if you can find steps to reproduce.

[2016-06-22 10:01] chadrien opened #7992 "Signature help binding?"
- VSCode Version: Version 1.3.0-insider (1.3.0-insider) – d808ba31a697998f36c9c2cbdfc5f8d8e8b16ca2
- OS Version: 10.11.5 (15F34)

Is there a way to trigger/bind a keyboard shortcut to open the signature help window?
For now when it's closed I can't find any way to reopen it, apart from cheap hacks like removing the arguments already written or adding a coma after an argument.

[2016-06-22 10:02] bpasero opened #7993 "Git diff: sometimes the left hand side of the diff shows up as empty"
Have not yet found a way to reproduce but sometimes in selfhost I see the left hand side of a git editor suddenly be empty (likely disposed).

[2016-06-22 10:04] isidorn commented on #6298
Since this is a bit hard to reproduce and not a huge issue I propose to fix this once the C++ extension starts supporting `totalFrames` attribute. Then I can investigate on my machine why this is happening.

[2016-06-22 10:08] joaomoreno commented on #7962
#7946

[2016-06-22 10:08] #7962 closed

[2016-06-22 10:10] joaomoreno commented on #7964
Do it in `extensionsEditor.css`.

[2016-06-22 10:33] zhaoleis opened #7994 "terminal 中文显示有误"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
![image](https://cloud.githubusercontent.com/assets/10767337/16263591/be6942a0-38a7-11e6-9ac0-120dceebca0c.png)

[2016-06-22 10:37] joaomoreno commented on #7910
Yeah. Some Code dependencies are shared between Code and the dev tools. Some of them are binaries, compiled against Code's node version. If you have the same node version as your dev tools, you will benefit from better performance when running `gulp watch`.

[2016-06-22 10:38] joaomoreno commented on #7988
Tricky.

[2016-06-22 10:41] jrieken commented on #7975
No, that's currently not possible and I wouldn't know how to do that... The implementation uses loads the document in an iframe that runs out of process.

What you can do (and other do that) is starting a server on local host which serves the actual document content.

[2016-06-22 10:41] #7975 closed

[2016-06-22 10:42] jrieken commented on #7928
This issue was moved to OmniSharp/omnisharp-roslyn#590

[2016-06-22 10:42] #7928 closed

[2016-06-22 10:43] jrieken commented on #7937
This issue was moved to OmniSharp/omnisharp-roslyn#591

[2016-06-22 10:43] #7937 closed

[2016-06-22 10:45] #7946 closed

[2016-06-22 10:50] isidorn opened #7995 "Update button weridly cut off"
Have the extensions viewlet very slim -> notice how the update button gets cut off half way. I would expect it is not shown if there is not enuogh space, and not to show it partially

![screen shot 2016-06-22 at 12 48 52](https://cloud.githubusercontent.com/assets/1926584/16264078/b97cf1b8-3877-11e6-829b-6ce9e12c7293.png)

[2016-06-22 10:50] bpasero commented on #7991
@isidorn if it helps to reproduce, this must be related to closing the last editor in a group in the left area such as the right group moves to the position of the left one. Somehow during this move, I end up opening an editor which does not know in which group it belongs to...

[2016-06-22 11:04] csholmq commented on #7911
Oh, ok. Just wanted to know in order to verify the fix.

[2016-06-22 11:11] TurkeyMan commented on #7947
Looks about right, except I'm not using C++ symbol search, I'm just using ctrl-shift-f, ie, text-based find-in-files. So from that perspective, I find it hard to imagine how it's related to the C++ plugin? Find-in-files works without the C++ plugin installed (although I am using it too).

[2016-06-22 11:13] Emeryao commented on #7994
insider 版本已经改好了 等着release就行了
另外 个人感觉title写中文不太好吧 毕竟都是老外

[2016-06-22 11:22] Urahara commented on #7492
@dbaeumer @bpasero you want file that have locked? Sorry i didn't understand.

[2016-06-22 11:32] heshuimu opened #7996 "The error and warning list increments with the same items after every typing."
- VSCode Version: 1.2.1
- OS Version: macOS Sierra 10.12 Beta(16A201w)

Steps to Reproduce:

I was using VS Code with **Legacy OmniSharp** to develop Unity projects. There is a plugin I used has a wrapper script used a namespace that Unity somehow did not expose (although the code compiles since the namespace does exist), which shows as an error. There are also several warnings due to unnecessary

[2016-06-22 11:49] dbaeumer commented on #7947
@TurkeyMan thanks for the info. Will reopen then.

[2016-06-22 11:49] dbaeumer commented on #7947
@sandy081 can you please try to reproduce this on Linux with search only.

[2016-06-22 11:52] scloudyy opened #7997 "1.2.1 can't input chinese"
- VSCode Version: 1.2.1
- OS Version: win7

Steps to Reproduce:

When using Chinese input method to type one word, just like '沈' which is composed by 'shen', but there will appear a lot of unexpected words.
This bug appears only after 1.2.1

![qq 20160622194309](https://cloud.githubusercontent.com/assets/15358886/16265443/fa9ef274-38b1-11e6-8d15-a7db86b8721a.png)

![qq 20160622194321](https://clou

[2016-06-22 11:56] rcarmo opened #7998 "Support cygwin git"
- VSCode Version: 1.2.1
- OS Version: Windows 10 Build 14367

Steps to Reproduce:
1. Install Cygwin
2. Edit .vscode/settings.json to set `git.path` to point to `"\\cygwin64\\bin\\git.exe`
3. VS Code throws up an error message of `ENOENT: no such file or directory, lstat 'C:\cygdrive'`, as described [here](http://stackoverflow.com/questions/36508177/visual-studio-code-cannot-detect-cygwin-git-exe-p

[2016-06-22 11:56] dbaeumer commented on #7492
We need the command line of the Code.exe holding a lock on one of the files. To do so select one of the file handles, which reveals it on the process explorer main window. Then select properties from the context menu and let us know about the command line.

[2016-06-22 12:20] oaabhilash opened #7999 "Type script syntax highlighting error"
- VSCode Version: 1.2.1
- OS Version: Windows 7

Steps to Reproduce:

1.  Create a type script file with the following content
[code]
2. The syntax highlighting after line 8 of the code above is not correct.
Tested for following themes
Default (Dark)
Visual studio Dark and
Visual Studio light
![syntaxhighlightpreview](https://cloud.githubusercontent.com/assets/10986887/16266253/dea44e58-3851-11e6-

[2016-06-22 12:23] Emeryao commented on #7994
I think it's better to use English for issues Xiongdi

[2016-06-22 12:26] sr105 commented on #7927
I installed the code command and it works (repeatedly). Is there a way to get more debugging output on startup?

It's really strange. After running it with code and open, It opened once from Finder, but then it stopped again. Also, yesterday, I saw this behavior. It failed to open from the terminal with a specific path, but only at first. I'm beginning to suspect some other issue and these are all

[2016-06-22 12:27] Emeryao commented on #7999
[code]

these code work fine on my vs code:1.3.0-insiders

[2016-06-22 12:30] arakno commented on #2394
@reggieboyYEAH , have you tried creating an .eslintrc file at the root dir of your project with
`{
    "compilerOptions": {
        "target": "ES6",
        "module": "commonjs"
    }
}`

in it?

That solved it for me as suggested above

[2016-06-22 12:34] Emeryao commented on #7997
maybe it's related to your input method.
可以换个输入法试试兄弟，我输入中文是OK的