[2016-08-25 22:05] mrmlnc commented on #9213
@SDXC, I can write this extension on this week.

@hashhar, if you want to write this extension, I'll be happy with that.

It's your PR and I am not a team member VS Code. So I would advise to wait @bpasero.

[2016-08-25 22:19] frolov-alexey opened #10978 "JavaScript code highlighting doesn't work"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. Highlighting breaks in the file which has lots of nested if / functions with 37 spaces in the left
![image 3](https://cloud.githubusercontent.com/assets/6369486/17987844/40b6d07c-6ad7-11e6-96d2-942cbe87eb25.png)

[2016-08-25 22:28] GuardRex commented on #981
@dbaeumer On the backlog for an awfully long time (and related issue: https://github.com/Microsoft/vscode/issues/6496). Is this just not going to happen in the foreseeable future?

I'm getting a little bit of negative feedback (https://github.com/GuardRex/vscode-status-bar-tasks/issues/8) regarding my extension over this problem persisting. My extension is opinionated on this point, where I have i

[2016-08-25 22:31] rod-stuchi commented on #10935
That would be great!
[Demo videos **atom-react**](https://orktes.github.io/atom-react/)

[2016-08-25 22:45] rbuckton opened #10979 "Suggestion: Start VSCode debugger from the command-line"
It would be nice to be able to start the VSCode debugger from the command line, for example:

[code]

In addition, it would be nice to be able to launch another instance of vscode in debug mode as part of a debug configuration entry in .vscode/launch.json.

This would serve to make extension development easier (e.g. debug with the language client in one vscode instance, and start another instance

[2016-08-25 23:04] hashhar commented on #9213
@mrmlnc I think you should go ahead and author an extension or maybe add the feature to lfurzewaddock/vscode-opn because honestly I don't think I'll be able to maintain the extension.

[2016-08-25 23:50] roblourens opened #10980 "Debug console won't show more than 2 lines of input"
Below is the input, above is what is visible after pressing enter
![image](https://cloud.githubusercontent.com/assets/323878/17989631/c5c3aa18-6ae3-11e6-896d-302b356aa156.png)

FYI @isidorn

[2016-08-25 23:52] csakis opened #10981 "node does not run from built in terminal"
- VSCode Version: 1.4.0
- OS Version: windows 10 1607

Steps to Reproduce:
**Node works:**
1. Open VS Code by double clicking on its icon.
2. Open terminal (ctrl-`).
3. Write node -v in terminal.
4. Everything works fine

**Node does not work:**
1. Open VS Code by right-clickin on a Folder and Opan in VSCode
2. Open terminal (ctrl-`).
3. Write node -v in terminal.
4. Node will not work.

[2016-08-26 00:15] giggio commented on #10860
Ok, I did not know about how you handle issues, but be aware that closing issues signals you are not going to work on them, not that they are not in your 12 month plan. It is unusual.

One scenario that I use often is to use git submodules in my dot files, you can see that on my Posh files, and on my Vim files. I cannot gather other peoples work on other git repos using an extension.
Also, I am no

[2016-08-26 00:15] harisbotic opened #10983 "Code Format Bug - Insider Preview 1.5.0"
- VSCode Version: 1.5.0 Insider
- OS Version: OSX El Captain 10.11.5

Steps to Reproduce:

In My MyFile.cs, when I use Code Format feature, the code gets destroyed totally

*** BEFORE USING CODE FORMAT ***
[code]

*** AFTER USING CODE FORMAT ***

[code]

[2016-08-26 00:23] harisbotic commented on #10983
Looks like a started having problems on other files too now, but its definitely a bug, I restarted window, and also vs code it self

[2016-08-26 00:24] Huachao commented on #10341
@weinand , I think you can close the issue now, the first time delay takes less than 10 seconds, and after that everything is OK. Thanks for your explanation.

[2016-08-26 00:24] sprinkle131313 commented on #9534
@bpasero How about adding a "defaultSize" setting into user settings? For me at least, it would be fine if I could just change the default to be something more in my preference. I prefer to have a horizontally skewed rectangle than a square (which it is closer to). So then when I open a new window that isn't associated with a workspace/folder it will read from the user settings instead. Another se

[2016-08-26 00:33] harisbotic commented on #10983
Also this part can't get formatted

[code]

[2016-08-26 00:41] Tyriar opened #10984 "Italic text in markdown shouldn't be colored in the default themes"
Dark+

Current:

![image](https://cloud.githubusercontent.com/assets/2193314/17990472/f6c2147c-6aea-11e6-9de6-6ddea6bd1573.png)

Without coloring shows link color for example:

![image](https://cloud.githubusercontent.com/assets/2193314/17990487/0bcb33ee-6aeb-11e6-94ce-3cb62c8437d2.png)

[2016-08-26 00:44] maryamsoprano commented on #3166
Hi,

I tried all procedures. My express server is listening on identified port now. but after starting the web site, breakpoints does not work.
my launch.json is:
{
 "version": "0.2.0",
  "configurations": [
        {
            "name": "Launch",
            "type": "node",
            "request": "launch",
            "program": "/home/soprano/workspace/myui/server.js",
            "stopOnEntry":

[2016-08-26 01:11] guogaigai commented on #10917
ok ,thank you very much@Tyriar

[2016-08-26 01:31] qlqllu commented on #10877
p1 is listed in sublime.

[2016-08-26 01:51] agektmr opened #10986 "shortcut in Japanese keyboard"
- VSCode Version: 1.4.0
- OS Version: Mac OS X 10.11.6
- Apple wireless Japanese keyboard
- Karabiner 10.21.0
    - "Use Japanese Keyboard as US Keyboard" turned on.
    - Some other assignments are on but I think they are not related.

Steps to Reproduce:
When I press "CMD+]" it splits the window where indent is expected.
I'm using Karabiner to match the behavior with US keyboard but it doesn't s

[2016-08-26 01:56] 8bitslime opened #10987 "Feature request: Option to disable auto creation of the ".vscode" folder"
I know I'm not alone when I say I use VS Code as just a text editor and not an IDE, yet the editor still forces that annoying .vscode folder into any directory you open the program in. I don't need it to save project or workplace settings. I just want a good looking text editor without any residue of where it's been used. I'm getting tired of deleting the folder every single time. Please add an op

[2016-08-26 02:17] bwqgithub opened #10988 "open in browser？"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-08-26 02:19] shines77 commented on #10938
@sandy081
Thanks, I got it.

[2016-08-26 04:09] letientai299 opened #10989 "[Feature request] Provide shortcut keys and context menu action to clear the output windows"
I want to trigger the __Clear output__ button without click into it.
There's should be a __Clear__ menu when right click into the Output window.

[2016-08-26 04:21] letientai299 opened #10990 "[Bug] Keybindings.json command is not surrouned by double quotes when auto-complete"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04

Steps to Reproduce:

1. Open `keybindings.json` via Preferences: Open Keyboard Shortcuts.
2. Move the end of the file, and add new key block by type:
[code]

3. Now type `cur`, it would show completion for cursorBottom, cursorBottomSelect, etc...
4. Press `<tab>`.  Expect to see `"cursorBottom"`. But saw `cursorBottom` without double quotes.

Als

[2016-08-26 04:38] andradei commented on #1009
I'm seeing this issue on version 1.4.0 for OS X El Capitan.

<img width="586" alt="screen shot 2016-08-25 at 22 29 15" src="https://cloud.githubusercontent.com/assets/2653546/17994266/2f54542a-6b14-11e6-94aa-8e39d7cad79c.png">

I notice this only happens _after_ I open my project's `.gitignore`, the file is pretty small in size (2.5K), so this might be a different issue with the same outcome.

[2016-08-26 05:31] vt5491 opened #10991 "insertLineAfter exhibits strange scrolling behavior when the same file is in split-screen configuration"
- VSCode Version: 1.4.0
- OS Version: Windows 10 pro

Screen sometimes "auto-scrolls" to line one when inserting a line with ctrl-enter (command editor.action.insertLineAfter).  Problem only occurs when the same file is present in two visible editors in the window.  The problem is dependent on where the cursor is at in the other editor.

Steps to Reproduce:
1. Have a file with more than one screen

[2016-08-26 06:23] bpasero commented on #10959
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-08-26 06:23] bpasero commented on #10951
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-08-26 06:25] bpasero commented on #9534
Please open a new issue with your desire 👍

[2016-08-26 06:26] bpasero commented on #1009
@andradei can you check the full arguments of the process to see which of our processes are causing it?

[2016-08-26 06:33] #10980 closed

[2016-08-26 06:51] isidorn opened #10992 "Long string input cut off in debug repl"
Refs: #10982

Steps to Reproduce:

1.  Open debug console
2. Paste the following string into the repl input
`a77e9c0b77e9c0b77e9c0b77e9c0b77e9c0ba77e9c0b77e9c0b77e9c0b77e9c0b77e9c0ba77e9c0b77e9c0b77e9c0b77e9c0b77e9c0ba77e9c0b77e9c0b77e9c0b77e9c0b77e9c0ba77e9c0b77e9c0b77e9c0b77e9c0b77e9c0ba77e9c0b77e9c0b77e9c0b77e9c0b77e9c0ba77e9c0b77e9c0b77e9c0b77e9c0b77e9c0ba77e9c0b77e9c0b77e9c0b77e9c0b77e9c0ba77

[2016-08-26 06:52] sandy081 commented on #10848
This issue was moved to PowerShell/vscode-powershell#265

[2016-08-26 06:52] #10848 closed

[2016-08-26 06:53] sandy081 commented on #10848
@maxcli I moved this issue to Powershell repository

[2016-08-26 06:57] sandy081 commented on #10964
@Motassem-MK Here are some selection actions key bindings.. you can pick the one you are using and can change the key binding

[code]

[2016-08-26 06:59] sandy081 commented on #10920
@Tyriar Are you aware of any such terminal crashes?

[2016-08-26 07:01] sandy081 commented on #10877
@qlqllu Ok that's interesting. I will redirect this to our js language server team and see if they can build such symbols too.

[2016-08-26 07:03] qlqllu commented on #10877
Thanks!

[2016-08-26 07:03] kumarharsh opened #10993 "Multiple-cursors are not visible on first column"
- VSCode Version: 1.5.0-insider  2f2d65
- OS Version: Windows 10

Steps to Reproduce:

1. select multiple lines using multiple cursors, or break a multi-line selection into multiple cursors.
2. press HOME to move all cursors to first column
3. Only the first cursor shows up, that too partly covered by the gutter.

Additional details:

Theme: Dark+
[code]

[2016-08-26 07:05] joaomoreno opened #10994 "Publish sourcemaps for built-in extensions"

[2016-08-26 07:07] Tyriar commented on #10920
This is common when the path is incorrect to your shell. Make sure the path to git bash is correct, there are some instructions here to help https://code.visualstudio.com/docs/editor/integrated-terminal#_configuration

[2016-08-26 07:07] #10920 closed

[2016-08-26 07:07] isidorn opened #10995 "Test: Multi level variable paging"
Test for #9537:
Complexity: 2

- [x] anyOS - **@ramya-rao-a**

Write or use a js/ts program with an array/buffer/map/set with more than 10000 items and verify:

* data structures with a large number of children are displayed in multi level chunks (these chunks are displayed collapsed and the children are fetched lazily on expand). For example, an array of 100000 elements will first split all the e

[2016-08-26 07:13] joaomoreno commented on #10905
You might want to follow #10923

[2016-08-26 07:13] isidorn opened #10996 "Test: multi line debug repl input"
Test for #8115
Complexity: 2

- [x] win **@octref**
- [x] mac **@kieferrm**
- [x] Linux **@rebornix**

Debug repl input now expands / shrinks as the input grows up to a limit. Verify:
* Typing / pasting large strings into the debug repl input makes the input expand
* Shift + enter expands the input
* Input shrinks intuitivly
* Once entered the expression is properly displayed in the debug repl

[2016-08-26 07:16] sandy081 commented on #10990
@letientai299 Thanks for filing the issue but I am not reproducing this from my side. I am on latest insiders.

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from:
http://code.visualstudi

[2016-08-26 07:16] #10990 closed

[2016-08-26 07:18] isidorn opened #10997 "Test: suggestions in debug repl"
test for #8114:
complexity: 3

- [x] any OS - **@alexandrudima**
- [x] any OS - **@stevencl**

As per feature request #8114, debug repl now supports suggestions. Start a node debug session and verify:
* When typing in the debug repl input you get inteli-sense suggestions which make sense
* Upon accepting a suggestion the text in the repl input is properly replaced
* Be creative and use the multi l

[2016-08-26 07:24] joaomoreno commented on #10860
It just doesn't sound _Linuxy_ to build this into Code itself, when it could be done on the outside. Each tool for its task.

You could maintain that list yourself in such a `~/.extensions` file, just like you'd do with any other tool:

[code]

And you could restore them with:

[code]

You could even alias `code` to always running that command before it executes `code` itself.

[2016-08-26 07:26] joaomoreno commented on #10436
How about from within Node?

[code]

I get `200` out of that command.

[2016-08-26 07:27] joaomoreno commented on #10907
This will likely not happen, since we try to be as close to the git flow as possible, in which there is simply a single staging area.

[2016-08-26 07:27] #10907 closed

[2016-08-26 07:28] jcw007 commented on #10890
@bpasero In my case, I didn't see any crash dialog. VS Code just became unresponsive. I had to close it though Task Manager. Btw, I am using Node 4.4.5.

[2016-08-26 07:28] #10341 closed

[2016-08-26 07:37] #10992 closed

[2016-08-26 07:38] roblourens commented on #10992
Oops, thanks for catching that. I'll see if I can add a unit test for this tomorrow.

[2016-08-26 07:40] isidorn commented on #10992
Unit tests would be lovely! Any suggestions on how to improve the coverage of the debug land is really appreciated.

[2016-08-26 07:42] joaomoreno commented on #10340
Sounds good to me!

[2016-08-26 07:44] bpasero opened #10998 "Disconnect icon in debug toolbar"
I think the icon is really bad, I liked the strong red icon for stopping to debug and now you have to really search for the action when doing extension development:

![image](https://cloud.githubusercontent.com/assets/900690/17997890/a89dedde-6b71-11e6-8e77-a137b0fd2226.png)

[2016-08-26 07:47] mrmlnc commented on #7913
@egamma,

Maybe do as plugin for Sublime Text?

https://github.com/sergeche/emmet-sublime#tab-key-handler

[2016-08-26 07:48] bpasero commented on #10987
@8bitslime what files are in that folder and what contents?

[2016-08-26 07:49] bpasero commented on #10972
We do some active changes in this area, wondering if our insiders release makes this experience any better for you?

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visual

[2016-08-26 07:50] bpasero commented on #10948
@matejkramny you can configure keybindings to get this behaviour:

`{ "key": "cmd+1",                "command": "workbench.action.openEditorAtIndex1" }`

[2016-08-26 07:50] #10948 closed

[2016-08-26 07:53] isidorn commented on #10998
ping @joaomoreno
related issue: https://github.com/Microsoft/vscode/issues/9740

[2016-08-26 08:01] jrieken commented on #10925
We do this with the global events ala `window.onDidCloseTerminal` like this [active editor event](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3321).

@Tyriar On question regarding `hide` vs `dispose`. Are they the same? So when hiding a terminal its like killing it? Iff so we should revisit the API around that and remove either hide or dispose.

[2016-08-26 08:03] jrieken opened #10999 "Terminal.name is not readonly"
The  [name](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L3321) of a terminal isn't readonly. Which means folks can assign it which might lead to wrong expectation. My trick for this is using a [getter](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHostDiagnostics.ts#L40)

[2016-08-26 08:06] jaswant100 opened #11000 "Installation issue in Windows 7"
- VSCode Version:
- OS Version:
  ![error](https://cloud.githubusercontent.com/assets/4330430/17998357/872168dc-6b91-11e6-8afb-9db2a6b03dfb.png)

Steps to Reproduce:
1. https://code.visualstudio.com/Docs/?dv=win
2. running VSCodeSetup-stable
3. Iam using windows 7 service pack 1

[2016-08-26 08:15] minjunlan opened #11002 "Use Sogou appear two Chinese characters"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
![image](https://cloud.githubusercontent.com/assets/7425981/17998604/df52fac8-6ba7-11e6-9213-54a22ede3376.png)

2. press space key

3.
![image](https://cloud.githubusercontent.com/assets/7425981/17998678/348f1c56-6ba8-11e6-8e29-b58d3fdf9c36.png)

4. Repeated Chinese characters

[2016-08-26 08:26] bpasero commented on #10583
@rebornix from your examples it sounds to me that all you need to know is if a setting is defined by the user or not. You do not seem to care if the setting is defined in the workspace or as a global setting.

I am fine with the suggested API in https://github.com/Microsoft/vscode/issues/10583#issuecomment-242436985 though I am not sure if an extension would need to know if a setting is defined in

[2016-08-26 08:27] joaomoreno commented on #9256
I'll close this as duplicate of #8124, let me know if that's not enough.

[2016-08-26 08:27] #9256 closed

[2016-08-26 08:28] boyvinall commented on #10941
Hi @bpasero, I raised this on electron as you can see, but it seems they think this is a VSCode issue.

[2016-08-26 08:33] isidorn opened #11004 "Remove 'insiders builds are becoming daily builds' message on startup"
1. Download an insiders vscode on a fresh machine
2. Notice the message on startup 'insiders builds are becoming daily builds'
3. This message is stale and this should be communicated on our web site, no need to spam the user

[2016-08-26 08:35] bpasero commented on #10932
@FAQinghere I cannot reproduce. I am on Mac and I Alt+Tab out of the window and then come back. Can you try if this reproduces with extensions disabled:

From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-08-26 08:35] #8422 closed

[2016-08-26 08:37] ArtemGovorov opened #11005 "Allow to register a language for an output channel"
I have taken the idea from this extension https://github.com/formulahendry/vscode-code-runner and created a language + grammar to highlight the output of my extension:

[code]

![screen shot 2016-08-26 at 6 31 37 pm](https://cloud.githubusercontent.com/assets/979966/17999152/5feb3a20-6bbb-11e6-8e69-9dc2e5633170.png)

It seems to work ok, but because of using the `text/x-code-output` mime type, the

[2016-08-26 08:44] bpasero commented on #10941
I disagree with their assessment and added a comment.

[2016-08-26 08:46] #10132 closed

[2016-08-26 08:50] matejkramny commented on #10948
oh awesome! You're a lifesaver :)

[2016-08-26 08:51] isidorn commented on #10040
@sebasijan do you still see this issue with vscode 1.4? If you keep using the ${workspaceRoot} do you end in this situation every time you try to start debugging?

[2016-08-26 08:52] jrieken commented on #9256
@joaomoreno Extensions should just update automatically.. Why do I have to press buttons all the time...

[2016-08-26 08:52] isidorn commented on #10168
This is the current limitation of the debug hover. Closing as designed.
Will be improved in the future once we incorporate more language knowledge into the debug hvoer

[2016-08-26 08:52] #10168 closed

[2016-08-26 08:54] isidorn commented on #10210
Assigning first to @weinand to investigate how to solve this on the debug protocl level, and once we come to a conclusion I can implement it on the vscode side.

[2016-08-26 08:55] zichen2011 opened #11006 "Replace enable while nothing write for replace text input."
- VSCode Version: 1.4.0
- OS Version: Mac OS 10.11.5

Steps to Reproduce:

1. search something
2. click replace

expected:
   replace button disable before type something to replace
now:
   can replace without replace content

[2016-08-26 09:00] boyvinall commented on #10941
Thanks

[2016-08-26 09:06] vsamy opened #11007 "Mulitline copy/pasting"
- VSCode Version: 1.4.0
- OS Version: ubuntu 14.04

Steps to Reproduce:
1. shift+alt to get multicursors on several lines
2. ctrl+x to cut
3. ctrl+c to paste

![out](https://cloud.githubusercontent.com/assets/8289611/18000166/0b569e98-6b7d-11e6-87b7-e9f3818eb854.gif)

[2016-08-26 09:13] sprinkle131313 opened #11008 "Implement User Setting to Allow Customizing Default Size of New Windows."
Basically as the title says, to have some "window.defaultSize" setting to allow customizing the default size of new windows. Currently the default size is not ideal for some people, this would allow those users to customize it to their preference.

[2016-08-26 09:14] shanquan commented on #10760
seems to be caused by '[vscode-icons](https://marketplace.visualstudio.com/items?itemName=robertohuertasm.vscode-icons)'. see the solution [here](https://marketplace.visualstudio.com/items?itemName=robertohuertasm.vscode-icons#windows-users)

[2016-08-26 09:14] FAQinghere commented on #10932
Thanks for the quick follow-up. After disabling the only installed extension (just a syntax/color theme), everything seems to working correctly (on the Mac, I don't have the SP4 with me today).

Even after re-enabling the extension(s), everything still seems to be working just fine.

I'll let you know if it pops up again. Thanks again.

[2016-08-26 09:15] mrmlnc commented on #9500
@egamma, done.

[2016-08-26 09:26] virgafox commented on #4039
if "Format Code" could take rules from .eslintrc.json, it would be awesome.

[2016-08-26 09:26] crazyluffy commented on #10883
thanks,i'll try it.

[2016-08-26 09:26] ProfMars opened #11010 "No Intellisense available"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

For some reason Intellisense does not seem to work anymore. It broke at some point. Unknown when or where the first occurrence was.

Steps to Reproduce:

1. Remove Visual Studio Code
2. remove any lingering files as described on http://apple.stackexchange.com/questions

[2016-08-26 09:33] jrieken commented on #10956
we won't change this behaviour

[2016-08-26 09:33] #10956 closed

[2016-08-26 09:40] dbaeumer commented on #10237
This is actually very tricky since the cmd.exe doesn't have any commands to find the background tasks spawned from it. The background tasks are not child tasks of VS Code anymore and destroying the streams doesn't help either since they are owned by the conhost. Sending Ctrl+Break didn't help either.

At the end of the day there is little VS Code can do since I haven't found a way to find the back

[2016-08-26 09:43] weinand commented on #3166
@chanpod you have two launch configurations in your launch.json. Before we can find out what is wrong with them, we have to find out which launch config are you using.

Are you launching your server with VS Code (with the launch configuration "Launch") or are you have launching your server from the command line, e.g. via "npm" and then you attach the debugger with the launch configuration "Attach

[2016-08-26 09:44] jrieken commented on #10455
@aeschli ping.

[2016-08-26 09:46] zhoudotnet commented on #10603
Hi Alexandrudima,
When this function can be implemented?

[2016-08-26 09:48] jrieken commented on #1396
@bpasero What does happen with a 'setting' come from task.json or launch.json? Is that a `user` setting and can it just be updated like a real setting?

[2016-08-26 10:10] alexandrudima commented on #10945
PR submitted: atom/node-oniguruma#57

[2016-08-26 10:12] alexandrudima commented on #10937
@Ruikuan @fantacytyx Can you please try today's insiders version, where we made a fix in this area for mac dead key handling (input was doubled), I believe that fix might fix this issue too.

![image](https://cloud.githubusercontent.com/assets/5047891/18002113/540670ec-6b86-11e6-9875-5d61ce86e725.png)

[2016-08-26 10:13] alexandrudima commented on #10937
The relevant commit is 26f5824005d31dffebd1235dc997088f7ee76754

[2016-08-26 10:13] #10904 closed

[2016-08-26 10:13] isidorn commented on #10904
@wallverb thanks for the great bug descriptions!

[2016-08-26 10:14] alexandrudima commented on #10760
Closing in this case.

[2016-08-26 10:14] #10760 closed

[2016-08-26 10:15] joaomoreno opened #11011 "OSX: Can't undo on any text input box"
Find widget, search viewlet, git viewlet, extensions viewlet, etc...

It seems that the editor is getting the Undo command. When all editors are closed I get this message:

![image](https://cloud.githubusercontent.com/assets/22350/18002217/c82dccae-6b86-11e6-8e44-46f123da71b3.png)

[2016-08-26 10:17] alexandrudima commented on #10366
I have a mini "SMT solver" in there, that's why I kept the language constrained to have only `&&`. I can prove if one keybinding item absolutely overwrites another keybinding item.

https://github.com/Microsoft/vscode/blob/a3493c75934a67ddadff71818ab8f7201eeb0fbf/src/vs/platform/keybinding/common/keybindingResolver.ts#L205

[2016-08-26 10:17] #8022 closed

[2016-08-26 10:17] bpasero commented on #10970
Thanks much for the steps, I was waiting for steps to reproduce. Unfortunately I am not able to find a good fix to prevent the gray from showing up in this scenario but I pushed a fix so that the workbench removes the overlay when the mouse moves into the workbench. This fixes the issue with having a non-functional workbench around.

[2016-08-26 10:18] joaomoreno commented on #8022
It is now possible to sort any query by nothing (relevance), install count and ratings. The sort order is also customisable.

- `python`
- `python @sort:installs`
- `python @sort:installs-asc`
- `@sort:installs`
- `@sort:ratings`

[2016-08-26 10:19] bpasero commented on #10919
https://github.com/Microsoft/vscode/issues/6502

[2016-08-26 10:19] #10919 closed

[2016-08-26 10:19] alexandrudima commented on #11011
@joaomoreno If you remove the Undo entry from the mac menu, does it work?

https://github.com/Microsoft/vscode/blob/master/src/vs/code/electron-main/menus.ts#L486
https://github.com/Microsoft/vscode/blob/master/src/vs/code/electron-main/menus.ts#L507
[code]

[2016-08-26 10:20] joaomoreno commented on #10366
Pretty cool, I'll give it a try.

[2016-08-26 10:20] bpasero commented on #10946
@wallverb can you attach a larger screenshot that shows the full box and where the results are coming from? this smells like a duplicate of https://github.com/Microsoft/vscode/issues/6502

[2016-08-26 10:21] bpasero commented on #10919
@whitecolor I am assuming that your results are from the editor history. If not, please let me know. Maybe attach a larger screenshot that shows where the results are coming from in that box 👍

[2016-08-26 10:22] joaomoreno commented on #11011
Negative, still doesn't work. But, with that change, I no longer receive the console warning when no editors are open.

[2016-08-26 10:30] alexandrudima commented on #11011
Does undo work in native elements of the electron sample app?

[2016-08-26 10:38] dbaeumer commented on #10237
I found no way to kill the background tasks since I didn't find a way to query for them. If someone knows how, please let me know.

I changed VS Code so that you can still exit. But it will warn you about the situation and you have to double confirm the exit.

[2016-08-26 10:40] #10237 closed

[2016-08-26 10:42] whitecolor commented on #10919
@bpasero I'not sure but it seem to wok ok now, was something fixed in latest insiders?

[2016-08-26 10:43] jaswant100 commented on #11000
VSCode Version:1.4
OS :windows 7

[2016-08-26 10:45] bpasero commented on #10932
@FAQinghere seems unlikely that this extension would cause an issue. It rather sounds to me that your issue is not as easy to reproduce as you described in your steps so there must be something else going on that causes it.

I managed to find an issue which I am planning to fix:
* open some tabs and make them dirty
* wait for a few seconds
* press "Save All"
* go to each tab and try to undo

=> yo

[2016-08-26 10:48] #10932 closed

[2016-08-26 10:49] bpasero commented on #10563
This could be https://github.com/Microsoft/vscode/issues/10932

[2016-08-26 10:49] bpasero commented on #7169
See also https://github.com/Microsoft/vscode/issues/10932

[2016-08-26 10:49] bpasero commented on #10067
This is https://github.com/Microsoft/vscode/issues/10932

[2016-08-26 10:49] bpasero commented on #3443
This is https://github.com/Microsoft/vscode/issues/10932

[2016-08-26 10:49] bpasero commented on #9492
This is https://github.com/Microsoft/vscode/issues/10932

[2016-08-26 10:50] FAQinghere commented on #10932
Ah, that would explain why I saw it while working in real projects, but not when doing a little single file test project today. Thanks for sticking with it! I've been using Atom for a couple of months because of this, but I keep trying VSCode and look forward to coming back to it full time.

[2016-08-26 10:50] dbaeumer commented on #981
@GuardRex I see your frustration around this (and from the others). Believe me.

Since we are a small team of developers, there is only so many feature requests and issues we can work on for one milestone. Every month we pick items from the backlog to plan for the current iteration. Please see https://github.com/Microsoft/vscode/wiki/Issue-Tracking#planning for more information. Nevertheless we al

[2016-08-26 10:53] bpasero commented on #11011
@alexandrudima @joaomoreno this is a known issue that was reported already before.

We do some magic with Cut, Copy, Paste where we send the command to the browser if no editor is focussed. I think we should do the same for Undo/Redo if possible.

See https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/clipboard/browser/clipboard.ts#L28

[2016-08-26 10:53] dbaeumer commented on #6534
@tiansivive when started from the Desktop (not terminal) can you do the following:

- F1 > Toggle Dev Tools
- in the console could you check if the process.env.PATH contains your custom global npm bin folder which contains the gulp script.

[2016-08-26 10:53] bpasero commented on #8439
Related https://github.com/Microsoft/vscode/issues/11011

[2016-08-26 10:54] bpasero commented on #10919
@whitecolor not really in that area I think...

[2016-08-26 10:54] dbaeumer commented on #10916
@waderyan yes it is and they have fixed it with 2.0.

[2016-08-26 10:54] bpasero commented on #10919
The key thing is that there a file results in quick open and history results. If your history is empty, you might think the bug is fixed. But as soon as you build up history entries, you will see entries again that are not excluded with the patterns. That is described in #6502

[2016-08-26 10:55] bpasero commented on #10932
@FAQinghere great, I actually see that many people have reported this. The fix is also available in our insider release on Monday if you want to try it earlier.

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our pr

[2016-08-26 10:56] dbaeumer commented on #7015
@styfle it should work with VS Code without additional integration effort. But please note that VS Code still ships with 1.8.10 and I think the feature will not make it out of the box into 2.0 either.

[2016-08-26 11:00] bpasero opened #11012 "Some dependencies to window from common"
Noticed the following calls to the global `window` object in folders that live inside `common`:
- https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/worker/simpleWorker.ts#L197
- https://github.com/Microsoft/vscode/blob/master/src/vs/base/common/worker/workerClient.ts#L80
- https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/wordHighlighter/common/wordHighlighter.

[2016-08-26 11:04] tiansivive commented on #6534
@dbaeumer it doesn't. It has my .rvm folder for gems but not my .nvm folder for npm modules.

I checked my profile files and the .zshrc exports both rvm and nvm, which gets picked up by VScode when I run it in the terminal. .bashrc exports rvm and .bash_profile adds everything from .bashrc and adds npm to it.
I thought vscode might be picking up on .bashrc so I added the nvm there but still nothin

[2016-08-26 11:06] bpasero commented on #10537
Still bad.

[2016-08-26 11:10] ProfMars commented on #11010
Ah, missed the homebrew / openssl requirements. My bad....closing issue

[2016-08-26 11:10] #11010 closed

[2016-08-26 11:14] whitecolor commented on #981
@dbaeumer wanted to say thank you to all you guys, despite all current limitations and issues VSCode became my editor of choice, you are doing really great job.

[2016-08-26 11:38] kpachar opened #11013 "Issues with the Find box"
- VSCode Version:1.4.0
- OS Version:Windows 10

Steps:
First of all, thank you for this good editor. It's nice and I enjoy using it.
The Find box has some minor issues:
Suppose you want to search for a certain phrase and make some modifications near that phrase.
Eg: Consider this text:
[code]

Say you want to change it to this:

[code]

(for whatever reason),

You'd hit Ctrl+F and type in "process

[2016-08-26 11:51] tht13 commented on #10439
I have had problems with the insider builds over the last 2-3 days where the editor freezes while I am editing typescript files. It usually begins lagging during the linting process. I thought this might have to do with some typescript refactor/import helper tools I have installed but removing these hasn't helped.

[2016-08-26 11:57] spraguey commented on #10890
@bpasero Okay, I rolled back to Node 5.10 and it works. What do you need me to do? Would you prefer to PM?

[2016-08-26 12:00] aeschli commented on #10804
- I renamed the contribution point from 'fileIcons' to 'iconTheme'. For now only file icons will be part of the theme, but we want to keep the name general enough for future developments.

- I removed the `files.iconTheme` and `explorer.showFileIcons` user settings. To select a theme, now use the 'File > Preferences > Icon Theme' menu item. The setting is persisted per VSCode application. We are o

[2016-08-26 12:03] joaomoreno commented on #11011
Duplicate of #8439

[2016-08-26 12:03] #11011 closed

[2016-08-26 12:07] wallverb commented on #10946
@bpasero Here is attached larger screenshot. I did `CMD+K CMD+W` which closed all the tabs, restarted vscode, but it still shows up (a little bit weird that it shows Recently Opened on the right side - not sure if there is some cache that survives restarts and if I can clear it somehow)

![image](https://cloud.githubusercontent.com/assets/1723815/18004700/8b6becce-6b63-11e6-8168-4358905de276.png)

[2016-08-26 12:08] Tekbr commented on #10845
I believe that an option to be able to disable this behavior is not in the plans. I am sure?

[2016-08-26 12:13] akosyakov opened #11014 "It should be possible to lookup global symbols without openning an editor"

[2016-08-26 12:15] mikehaas763 opened #11015 "Cannot rename class reference used within the class itself (JavaScript)"
- VSCode Version: 1.4.0
- OS Version: OS X El Capitan 10.11.6

Steps to Reproduce:

1. Create an ES6 class in JavaScript (not sure if issue is in TypeScript or not).
2. Reference that class in a method of the class.
3. Try rename using the reference symbol.
4. An info message appears "You cannot rename this element."

[code]

[2016-08-26 12:18] joaomoreno commented on #10439
cc @dbaeumer

[2016-08-26 12:25] maryamsoprano commented on #3166
Thanks for your response.
I have tried both of them.
First, I chose lunch, and in this state, breakpoints were not triggered. And just listen to the port . And I could see localhost:port on firefox.
Secondly, I tried attach, in this part, nothing happened. And debug did not start.

Sent from my iPhone

[2016-08-26 12:31] DanTup opened #11016 "Support committing the selected completion item with keys like `(`"
In Visual Studio, pressing an open paren `(` will commit the selected item in the completion list.

eg.:

[code]

With the cursor after the `c` on the last line and the completion list having `funcA` selected, pressing `ENTER` will complete the item. However pressing `(` will not, it will just result in `func(`.

It would be really nice if when you register a completion item provider you can provi

[2016-08-26 12:35] DanTup commented on #11016
There are a couple of mentions of things that might be related (like https://github.com/Microsoft/vscode/issues/6237) but if this is already supported, I can't figure out where I'm supposed to configure it?

[2016-08-26 12:35] bpasero commented on #1396
@jrieken I pushed a [change](https://github.com/Microsoft/vscode/commit/23d44e2f95c1a0bbfe4619f5b574a9056092cdf5) to carry the error inside the promise as discussed. The error state of the promise has the shape:

[code]

Currently this object travels to the extension, so the error code leaks a little bit. On the other hand, we do not make any statements about the shape of the error in the API eith

[2016-08-26 12:36] bpasero commented on #10890
@spraguey awesome, can you reproduce the error while doing your steps from the version that you run out of sources?

[2016-08-26 12:37] bpasero commented on #8439
We do some magic with Cut, Copy, Paste where we send the command to the browser if no editor is focussed. I think we should do the same for Undo/Redo if possible.

See https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/clipboard/browser/clipboard.ts#L28

[2016-08-26 12:37] bpasero commented on #10946
Thanks, this is https://github.com/Microsoft/vscode/issues/6502 where we fail to apply the exclude patterns on the editor history.

[2016-08-26 12:39] bpasero commented on #10845
Let's reopen to consider this as feature request.

[2016-08-26 12:40] newbiedoodle commented on #327
How can I reenable this behavior? I quite like being able to wrap things in brackets, parens, etc.

[2016-08-26 12:42] jrieken opened #11017 "code actions with arguments don't work from F8"
* have a code action provider
* made it return fixes for marker that use command arguments
* press F8, select a quick fix
* 🐛 nothing happens

[2016-08-26 12:43] #10912 closed

[2016-08-26 12:48] DanTup commented on #10912
@jrieken Am I right in thinking I can test this in Insiders from tomorrow?

[2016-08-26 12:52] dbaeumer commented on #6534
@joaomoreno can you check this comment pls: https://github.com/Microsoft/vscode/issues/6534#issuecomment-242703168 @tiansivive is using zsh and it looks like his environment isn't sourced into VSCode.

[2016-08-26 12:54] dbaeumer commented on #10595
Fixed for 1.5.

[2016-08-26 12:54] #10595 closed

[2016-08-26 12:55] spraguey commented on #10890
@bpasero Funny thing about that... The npm install runs and the watcher seems to work and recompile it when I change a file. However, nothing I see in the instructions tells me how to run the application or where it is.

[2016-08-26 12:55] dbaeumer commented on #10266
@jrieken and I discussed that again over lunch and we agreed that we should investigate into a language neutral solution to not have to many language specific settings. Moving to September and adding @jrieken as an owner.

[2016-08-26 12:58] bpasero commented on #10761
@albertsmus so this issue is about the errors in the editor around the "include"?

[2016-08-26 12:59] joaomoreno commented on #6534
@tiansivive Which version are you on? Did you try on the [latest Insiders release](https://code.visualstudio.com/insiders)?

[2016-08-26 13:00] bpasero commented on #10890
@spraguey see https://github.com/Microsoft/vscode/wiki/How-to-Contribute#validate-your-changes

[2016-08-26 13:01] joaomoreno commented on #327
@newbiedoodle Wrapping works for me. What file type are you on?

[2016-08-26 13:02] spraguey commented on #10890
@bpasero Sorry, found it under "Validate your changes".  Yes, I can replicate the issue on the source version.

[2016-08-26 13:05] #10906 closed

[2016-08-26 13:06] saggafarsyad commented on #8104
Hello, I'm having this problem too. I reproduce the same approach but intellisense is not working. Here is my vscode version:

![screenshot_13](https://cloud.githubusercontent.com/assets/7218502/18006164/7c557c18-6bc8-11e6-82ed-770509b7aca1.png)

[2016-08-26 13:07] isidorn commented on #9894
This got fixes as parst of 1a2701b

[2016-08-26 13:07] #9894 closed

[2016-08-26 13:08] bpasero commented on #10890
@spraguey great, so lets start to comment out some things. Can you comment out https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/files/node/fileService.ts#L109 and https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/files/node/fileService.ts#L111 to disable our file watcher and try if it still reproduces?

You are on Mac OS X right?

[2016-08-26 13:09] isidorn commented on #9290
We have slightly imrpoved the debug hover so this specific bug is resolved.
Though debug hover still has the limitation that it does not understand the language syntax

[2016-08-26 13:09] #9290 closed

[2016-08-26 13:09] isidorn commented on #4059
Fixed by pr #9821

[2016-08-26 13:09] #4059 closed

[2016-08-26 13:10] isidorn commented on #4043
This is fine, closing as designed.

[2016-08-26 13:10] #4043 closed

[2016-08-26 13:11] weinand commented on #3166
@maryamsoprano I've changed my original comment from above because I noticed that you are using 'launch'. So please read my comment from above again and follow my suggestions.

[2016-08-26 13:12] isidorn commented on #10899
There were some improvments in the debug hover that should take care of this issue. Can you please try again and let me know if you still see it.
You can try on Monday with the insiders release - thanks!

[2016-08-26 13:12] #10899 closed

[2016-08-26 13:12] bpasero opened #11018 "Test: Auto save when app looses focus"
- [x] any OS **@octref**

As per feature request #5565, you can now configure VS Code to save all dirty files when switching windows.
* Verify dirty files save once you configure this new auto save option and focus moves out of the window

[2016-08-26 13:15] bpasero opened #11019 "Test: Keep quick open visible on focus lost"
- [x] any OS **@gregvanl**

As per feature request #444, you can now configure VS Code to keep quick open visible even when focus moves out of it.
* Verify you can configure this option and quick open remains usable as before and stays open on focus lost
* Verify you can always close quick open with the ESC key

[2016-08-26 13:18] joaomoreno commented on #8124
![image](https://cloud.githubusercontent.com/assets/22350/18006562/5f0c81e2-6ba0-11e6-9549-cbb25cd95204.png)

[2016-08-26 13:19] #8124 closed

[2016-08-26 13:19] bpasero opened #11020 "Test: New actions to move tabs within a group"
- [x] any OS **gregvanl**

As per feature request #10291, we added new actions to move tabs in a group left or right.
* Verify this works as expected and you can assign keybindings to these actions
* The command IDs are `workbench.action.moveEditorLeftInGroup` and `workbench.action.moveEditorRightInGroup`

[2016-08-26 13:20] joaomoreno opened #11021 "Add auto-update extensions setting"
`extensions.autoUpdate`

[2016-08-26 13:20] #11017 closed

[2016-08-26 13:26] alexandrudima commented on #10744
@bgashler1 In the above gifs I do not do rename (F2), I use a text-only technique based on multicursor that works in any language. Visual Studio has a great rename experience nowadays (they moved away from the modal text box) but I am not presenting rename in this thread.

With multicursor you can go quite far for any language, even those we don't have rich language services for. This works also f

[2016-08-26 13:26] jrieken commented on #10912
yep. we now listen to marker updates. If the F8 windows still shows at a marker we reconcile the quick fixes, else we hide quick fixes. Also the border changes. Like so:

![aug-26-2016 15-26-23](https://cloud.githubusercontent.com/assets/1794099/18006760/7c55e058-6ba1-11e6-8bb7-10ba2076c5ed.gif)

[2016-08-26 13:27] spraguey commented on #10890
@bpasero Yes, Mac OSX. I changed those two lines, and watch process appeared to compile it.  I can Code again from there, and it appears to show the same error behavior.

Terminal shows this, among other things...
2016-08-26 09:24:14.435 Electron[69990:5847776] Communications error: <OS_xpc_error: <error: 0x7fff794a6b60> { count = 1, contents =
	"XPCErrorDescription" => <string: 0x7fff794a6fa8> {

[2016-08-26 13:27] dbaeumer commented on #10139
Translation process is back to normal again. Will close. For 1.5 we need to do a final translation verification anyways since we want to ship fully localized.

[2016-08-26 13:27] #10139 closed

[2016-08-26 13:27] jrieken commented on #10912
So, it is important to update the diagnostics (since that is driving quick fixes). My sample code goes like this

[code]

[2016-08-26 13:28] dbaeumer commented on #10136
Rest of the work will happen in September.

[2016-08-26 13:29] dbaeumer commented on #9825
@hulang it is our plan that 1.5 will be fully translated.

[2016-08-26 13:30] Motassem-MK commented on #10964
thank you but the one I want is not a combination, its just the "alt" and i couldn't find it to change it with Ctrl

[2016-08-26 13:30] jrieken opened #11022 "Lightbulb should not show when F8 windows shows"
![screen shot 2016-08-26 at 15 30 12](https://cloud.githubusercontent.com/assets/1794099/18006867/ff8a2a7e-6ba1-11e6-81a2-5fdf7c8ea637.png)

[2016-08-26 13:30] joaomoreno commented on #11021
cc @Microsoft/vscode @jrieken

[2016-08-26 13:31] #11021 closed

[2016-08-26 13:31] DanTup commented on #10912
Excellent, thanks! Our document edits will automatically trigger re-calculation of diagnostics so they'll be updated as new ones arrive/we're told to clear them.

I'll give it a test tomorrow and ensure it's all working together. Thanks again! :+1:  :smile:

[2016-08-26 13:32] bpasero opened #11023 "Test: Configuration and environment service cleanup"
- [x] win **@isidorn**
- [x] os x **@weinand**
- [x] Linux **@joaomoreno**

In order to work on extension API for configuration management, quite some debt in `configuration` land and `environment` handling (cli) was removed and lots of code refactored. We should make sure that we did not introduce regressions while doing so in the areas touched:
* All our command line arguments passed to VS Code

[2016-08-26 13:32] dbaeumer commented on #9522
@con-ssc do you have any steps to reproduce this. Whay is happening is that the eslint library gives me a problem on a negative line (which of course is bogus) and we log that exception.

Will move to vscode-eslint since there is nothing vscode can do to fix this.

[2016-08-26 13:34] dbaeumer commented on #9522
This issue was moved to Microsoft/vscode-eslint#120

[2016-08-26 13:34] #9522 closed

[2016-08-26 13:35] alexandrudima opened #11024 "Search Viewlet does not select text in editor when replace is revealed"
If the Replace field is not revealed, clicking on a search result selects the found text in the editor. This is what I expect.

If the Replace field is revealed, clicking on a search result does not select the found text in the editor. This is unexpected.

It also leaves behind a decoration when moving the selection away.

![search-viewlet-weird](https://cloud.githubusercontent.com/assets/5047891/

[2016-08-26 13:35] dbaeumer commented on #8754
@isidorn I think we push that to September :-)

[2016-08-26 13:36] bpasero opened #11025 "Test: contribute actions to folders in the explorer"
- [ ] any OS **@alexandrudima**

In #10433 we introduced a new context key `explorerResourceIsFolder`  that extension writers can use to contribute actions to folders in the explorer
* Write an extension and verify you can add a functional action to a folder in the explorer

[2016-08-26 13:40] bpasero commented on #10890
@spraguey can you open the Console application and see if you find the full crash dump in there? See my screenshot where to look for:

![image](https://cloud.githubusercontent.com/assets/900690/18007237/77be1068-6ba3-11e6-8ad9-d0c969c91778.png)

[2016-08-26 13:43] sandy081 commented on #10964
I do not think there is a key board configuration for menu. I also think it's in built from under-lying electron and wonder we cannot change it.

[2016-08-26 13:43] #10964 closed

[2016-08-26 13:48] tiansivive commented on #6534
@joaomoreno v1.4, I'm using ArchLinux so I'm always on the latest version.

I'll try with the insiders release as soon as possible.

[2016-08-26 13:53] #8562 closed

[2016-08-26 13:55] alexandrudima commented on #9631
@bgashler1 I have narrowed down the difference in what we are seeing to a bug in the search viewlet. It appears the search viewlet **does not select** the result when the replace field is revealed. I believe this is a recent bug, from when the replace logic was added. Let's track that in #11024 . It is especially mean that it makes you think you have a selection there when in fact you don't (look

[2016-08-26 14:00] spraguey commented on #10890
@bpasero Yes, I have it. "Code - OSS Helper", though, not Electron right?  I don't have anything that says Electron. Do you want me to paste the entire thing here?

[2016-08-26 14:09] joaomoreno commented on #10179
Actually now that I think about this... I'm not sure we should be making requests to fetch the release notes Markdown files directly from GitHub. We might get throttled.

Any chance we can host the markdown files directly on our website so Code would fetch from it?

cc @waderyan

[2016-08-26 14:09] dbaeumer commented on #8474
Thanks. The msCompiler pattern is used for MS compilers including C/C++.

[2016-08-26 14:10] #8474 closed

[2016-08-26 14:12] dbaeumer commented on #6550
@codyrigney92 is working on this here: #10676, but PR is not ready yet. Moving to September.

[2016-08-26 14:13] dbaeumer commented on #5503
Moving to the backlog based on our planning discussion.

[2016-08-26 14:14] dbaeumer commented on #8367
Builder work got push out of TS 2.0 by the TS team. Moving.

[2016-08-26 14:20] joaomoreno commented on #10366
@alexandrudima Any pointers on how to get a hold of **all** registered keybindings along with their configured `when` clause?

[2016-08-26 14:20] shanalikhan commented on #9918
Is it available on the stable build yet ?

[2016-08-26 14:27] isidorn commented on #9061
For this we are depending on the API for extensions to write to configuration files. Currently in discussion with @bpasero and @jrieken since optimally this would be the same API extensions use to change the user / workspace configuration.
Will probably be pushed out to september.

[2016-08-26 14:28] sandy081 commented on #11014
@akosyakov There is a command to see all symbols without opening any editor - `Show All Symbols`

[2016-08-26 14:30] dbaeumer commented on #8081
I fix this by taking the active document as the context. However TS still doesn't provide a global workspace search. The search is always limited to a TS project.

[2016-08-26 14:30] sandy081 commented on #11008
This is related to #10864

[2016-08-26 14:30] #11008 closed

[2016-08-26 14:31] #8081 closed

[2016-08-26 14:32] dbaeumer opened #11026 "Fake workspace symbol search by sending requests to project of all open documents."

[2016-08-26 14:32] dbaeumer commented on #8081
Opened https://github.com/Microsoft/vscode/issues/11026 to see if we can fake this.

[2016-08-26 14:32] hagata commented on #1636
+1 🙌

[2016-08-26 14:33] sandy081 commented on #11007
@vsamy I am not sure if I understand what is your requirement / issue here. Can you please elaborate more?

[2016-08-26 14:34] newbiedoodle commented on #327
Oh, I missed the part about it only happening for certain file extensions. I'm in a .cpp; I didn't realize it only happened for .js or .ts.

[2016-08-26 14:36] sandy081 commented on #11006
Replace all is enabled so that user can replace with empty string.

[2016-08-26 14:36] #11006 closed

[2016-08-26 14:36] Instagit opened #11027 "Multiple selections: disable context detection"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 14.04

Steps to reproduce:

Example code:

[code]
1. Set language to JavaScript.
2. Place two cursors at `<CURSOR>`
3. Enter something like `\"sometext\"`
4. You end up with

[code]

This may not be the best example, but it shows that typing with multiple cursors has the potential to not do what the user expects (the entered text being the same at all c

[2016-08-26 14:36] DarceyLloyd commented on #10744
Multi-caret occurrence editing selection capabilities:

- Select next occurrence (single)
- Select all next occurrences (multi after cursor position)
- Select previous occurrence (single)
- Select all previous occurrences (multi before cursor position)
- Select all occurrences

Should/Needs to work regardless of the language, it should be as easily accessible as possible via shortcuts and mouse bu

[2016-08-26 14:36] Motassem-MK commented on #10964
so you're saying its impossible to use "Ctrl" instead of "Alt" for multi-selection because "Alt" triggers something else at the same time?

[2016-08-26 14:37] ph84172 commented on #206
+1

[2016-08-26 14:40] jrieken commented on #1396
My concern is that once we allow for that (updating of task.json/launch.json) what does `global` in the update call mean? Maybe it's better to not expose `update` like I have proposed now, but wire it up inside a richer object (maybe returned from `inspect`). Like so:

[code]

The `key` property would be the fully qualified name, like `editor.tabSize`, the `source` property needs refinement but th

[2016-08-26 14:40] jrieken commented on #1396
@isidorn requesting `launch.json` updates via the API

[2016-08-26 14:41] joaomoreno commented on #11000
Does it always happen? Even after restarting? Even after fully uninstalling?

[2016-08-26 14:41] sandy081 commented on #10989
Reason is that we do not want to have duplicate. I am closing this and wait to see if we get more requests for this.

Thanks

[2016-08-26 14:41] dbaeumer commented on #7877
The problem is that the task runner doesn't detect any grunt task that looks like a build tasks. Adding
[code]
Fixes the problem. Should look into a better error message. On top we should make the default task the build task if no better is found.

[2016-08-26 14:42] sandy081 commented on #10988
@bwqgithub There is not much information here. Can you please provide enough details about your requirement or issue.

[2016-08-26 14:42] #10988 closed

[2016-08-26 14:46] sandy081 commented on #10986
Yes it is related. Marking it as dup of #6020

[2016-08-26 14:46] #10986 closed

[2016-08-26 14:47] sdbip opened #11028 "Automatic update fails"
- VSCode Version: 1.3.1
- OS Version: Mac OS X El Capitan 10.11.6
- Note: I'm logged on as a "standard" user and need to logon as administrator to install

1. I received the notification for a new version (1.4.0)
2. Quit and restarted VS Code
3. …still running the same version.
4. There was never any dialog asking for my password nor the administrator password

Had to download the app from the web

[2016-08-26 14:48] #10655 closed

[2016-08-26 14:50] jrieken commented on #1396
related to/must fulfil requirements for: https://github.com/Microsoft/vscode/issues/9061

[2016-08-26 14:53] jrieken commented on #9918
No - on our calendars `August 2016` is not yet over. Still, you can try that with the [insider build](https://code.visualstudio.com/insiders) we publish once per day.

[2016-08-26 14:54] #10385 closed

[2016-08-26 14:56] jrieken commented on #11016
Your extension can do that by defining a keybinding. Take our TypeScript extension as a sample: https://github.com/Microsoft/vscode/blob/master/extensions/typescript/package.json#L204

[code]

Note the `^` in front of the command id, which mean *insert character AND run command*

[2016-08-26 14:56] #11016 closed

[2016-08-26 14:56] #10384 closed

[2016-08-26 14:56] joaomoreno commented on #10144
@Tyriar @bgashler1 Please review 37212c76232aab67d0d7256ce2223ac63c0a0419

[2016-08-26 14:57] alexandrudima commented on #10993
@kumarharsh This is caused by `window.zoomLevel`. My personal recommendation is to not use that. Please see #9634. You can also upvote #10605

[2016-08-26 14:57] #10993 closed

[2016-08-26 14:58] isidorn commented on #9886
@weinand what you think about @joaomoreno suggestion to do this computation on the vscode side? I can do it, but we have not done things like this on the vscode side so far, so I am a bit relucatant to add it.
We can also go back to auto-expanding, though I must admit I like chrome's feature.

[2016-08-26 14:58] sandy081 commented on #10966
This issue was moved to PowerShell/vscode-powershell#266

[2016-08-26 14:58] #10966 closed

[2016-08-26 14:58] alexandrudima commented on #11002
@minjunlan  What precise version are you on? Can you please share a screenshot of the Help > About?

Here is an example of what I mean:
![image](https://cloud.githubusercontent.com/assets/5047891/18009861/4abbc424-6bae-11e6-8c76-26af7230d678.png)

[2016-08-26 15:00] bgashler1 commented on #9631
@alexandrudima you convinced me.  That's an excellent argument with the regex multiple result.  I also like your rationale for lineHighlight being the go to decoration for pointing out something you are looking for, whether it be outline, go to line, find, search, etc.

Responding to theme colors that we don't yet respond to such as selection and lineHighlight are great plans along with a computed

[2016-08-26 15:00] joaomoreno commented on #9916
@sandy081 You seem to have broken the hover feedback for this button in some places with 73339b066a3deee4bb2911780b67de37e0c9fd03.

[2016-08-26 15:00] fantacytyx commented on #10937
@alexandrudima This issue has been fixed. But I find a new problem that the charset of the input is difficult to undo by using keyboard Ctrl+z.

[2016-08-26 15:00] #9837 closed

[2016-08-26 15:00] joaomoreno commented on #9837
🎆

[2016-08-26 15:01] jrieken commented on #10974
The indirection of `command_id ` to `function` and UI-guesture to `command_id` is on purpose and don't plan to indicate what gesture triggered a command. Also note that with `executeCommand` and redefined keybindings your command can be triggered from anywhere in any condition.

*Today* you can workaround this by having separate command and bind them accordingly, in the *future* we will allow to d

[2016-08-26 15:01] #10974 closed

[2016-08-26 15:03] #8096 closed

[2016-08-26 15:08] sandy081 commented on #10983
@harisbotic Can you please try this by disabling the extensions you have in vs code. You can start vscode from command line using code --disable-extensions

[2016-08-26 15:10] waderyan commented on #10877
Thank you for opening this issue @qlqllu. Moving to JavaScript language service team.

[2016-08-26 15:10] waderyan commented on #10877
This issue was moved to Microsoft/TypeScript#10558

[2016-08-26 15:10] #10877 closed

[2016-08-26 15:12] sandy081 commented on #10978
This might be related to #10878.

[2016-08-26 15:14] sandy081 commented on #10971
@embc89 Can you please give more details about the issue

[2016-08-26 15:14] waderyan commented on #10717
@dbaeumer here is the feature request.

[2016-08-26 15:15] alexandrudima commented on #11002
Dup of #10937

[2016-08-26 15:15] #11002 closed

[2016-08-26 15:16] Tekbr commented on #10845
@bpasero Thank you.

[2016-08-26 15:16] alexandrudima commented on #10937
@fantacytyx Thank you for confirming. Indeed, let's track the undo problem in #9675

[2016-08-26 15:16] #10937 closed

[2016-08-26 15:16] akosyakov commented on #11014
@sandy081 it does not show anything with a closed editor.

[2016-08-26 15:17] waderyan commented on #10975
@bdoss thank you for opening this issue and for creating the easy to understand gif! I am going to migrate this to the TypeScript language service repo.

[2016-08-26 15:17] waderyan commented on #10975
This issue was moved to Microsoft/TypeScript#10559

[2016-08-26 15:17] #10975 closed

[2016-08-26 15:17] alexandrudima commented on #10978
@frolov-alexey Can you please provide a full example in textual form so we can check if this is an issue with the grammar?

[2016-08-26 15:19] waderyan commented on #10916
@keepitterron thank you for bringing this up. This is fixed for TypeScript 2.0. Closing for now unless it reappears after 2.0.

[2016-08-26 15:19] #10916 closed

[2016-08-26 15:20] waderyan commented on #10960
I see. Good find and thank you for sharing the files.

Migrating this issue to TypeScript language service team.

[2016-08-26 15:21] waderyan commented on #10960
This issue was moved to Microsoft/TypeScript#10560

[2016-08-26 15:21] #10960 closed

[2016-08-26 15:21] sandy081 commented on #10942
This issue was moved to Microsoft/vscppsamples#170

[2016-08-26 15:21] #10942 closed

[2016-08-26 15:22] sandy081 commented on #10931
@xyyjk This might be a good candidate for extension. Feel free to contribute. Thanks.

[2016-08-26 15:22] #10931 closed

[2016-08-26 15:25] alexandrudima commented on #10908
@waderyan yes, we have similar issues. I opt not to collapse them until we find the root cause in each of them.

[2016-08-26 15:25] DarceyLloyd commented on #10744
Sure and thanks again.

[2016-08-26 15:26] alexandrudima commented on #10891
This has already been fixed on master. @victorschinaider the fix will come out with the August stable release or you can get it already now using the Insiders channel.

[2016-08-26 15:26] #10891 closed

[2016-08-26 15:26] #10744 closed

[2016-08-26 15:26] chrmarti commented on #55
There is an npm package implementing a simplified version of Boyer-Moore mentioned in the above article: https://www.npmjs.com/package/streamsearch

[2016-08-26 15:27] sandy081 commented on #11014
@akosyakov Yes you are right.

[2016-08-26 15:35] sandy081 commented on #9916
Bad.. will fix it

[2016-08-26 15:37] DanTup commented on #11016
@jrieken Great! Though I don't seem to be able to get it to work; I've got this:

[code]

Unlike your example, we have two keybindings, so this is an array instead of a single object. My guess is that it's related to `suggestionSupportsAcceptOnKey` but I can't see whether I need to do something to say I support this, I can't find anything about this in the docs :(

I've got `prin` and the completi

[2016-08-26 15:47] aeschli commented on #10943
Unless there are more requests for that I'd rather add not add such an option in order to keep the number of options small.

[2016-08-26 15:48] aeschli commented on #10944
duplicate of #1505

[2016-08-26 15:48] #10944 closed

[2016-08-26 15:49] mbougarne opened #11029 "Request Features : Multi Selection"
Hello :smile:

I don't know if this is requested before or not, but I hope to think about adding this feature with the next version.

- Multi selection

Thank You.

[2016-08-26 15:50] aeschli commented on #10944
FYI, you can disable css validation with `css.validate: false` in the settings

[2016-08-26 16:17] Ruikuan commented on #10937
@alexandrudima fixed. Thank you.

[2016-08-26 16:36] 4c74356b41 opened #11030 "Feature request"
- VSCode Version: 1.4.0 (says no updates available)
- OS Version: w10, 1511 10586.545

Its not a bug report, but could you implement a feature to set default language? I'm using powershell 90% of the time and the fact that I have to manually switch to powershell when editing any files is disturbing.

[2016-08-26 16:40] eklavyamirani commented on #9784
@kieferrm Couple of updates on this:

1. trying to highlight both lines at the same time, the way I was trying above doesn't look practical. It automatically highlights the current line assuming a match of the begin, until it finds a non matching end/while (Basically the line highlights, and if the next line isn't a '-{3,}' then the syntax goes back to normal mode.

2. The alt heading 2 syntax (ju

[2016-08-26 16:41] andradei commented on #1009
@bpasero How do I do that?

[2016-08-26 16:52] #9916 closed

[2016-08-26 16:54] andradei commented on #1009
I found out that an extension was causing this for me:

I'll leave the issue reference here in case it is helpful.

https://github.com/kantlove/vscode-todo-parser/issues/21

[2016-08-26 16:56] sandy081 opened #11031 "Init button in Git view loses focus"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1. When git repo is not initialized
2. Toggle Git view

Observe that Init button loses focus after 1 second

[2016-08-26 17:03] craxal opened #11032 "Line breaks in JSDocs/Markdown comments render inconsistent space in Intellisense boxes."
- VSCode Version: 1.4.0
- OS Version: Windows 10

If I have a JSDocs header like this:

[code]

VS Code's Intellisense box renders it like this:

When I'm expecting something more like this:

[2016-08-26 17:29] sramam commented on #10951
Thanks for the quick response.

You are spot-on - this does seem to be the problem.
However, now I have different problem -  with ~30 extensions installed!

Do you have ideas on how I can isolate which extension is causing the issue?
Debug log? Or perhaps disabling all the extensions from the command line, and enabling them on one-by-one.

[2016-08-26 17:34] Tyriar commented on #10655
@joaomoreno does https://github.com/Microsoft/vscode/commit/69df5034e46e98bfc8d5ae419a50556f3e9fc5d1 need to be reverted?

[2016-08-26 17:35] Tyriar commented on #10981
What does it say when node doesn't work? If it says it can't find node then can you check your `echo %PATH%` to make sure it's on the path?

[2016-08-26 17:41] usagi opened #11033 "cannot set a font included '+' in a name"
- VSCode Version: 1.4.0 6276dcb0ae497766056b4c09ea75be1d76a8b679
- OS Version: Microsoft Windows 10 Pro

Steps to Reproduce:
1. install a font include '+' in a name; for example, I tried ["Rounded Mgen+ 1mn medium"](http://jikasei.me/font/rounded-mgenplus/) ( Japanese ).
2. run the VSCode and open the `settings.json`
3. set the font; for example, to set `"editor.fontFamily": "Rounded Mgen+ 1mn med

[2016-08-26 17:46] Tyriar commented on #10144
I tried it out and didn't work exactly as I expected. Since vscode is built on Electron it doesn't actually pull the system fonts but instead uses a default set of fonts designed for the web. So after https://github.com/Microsoft/vscode/commit/37212c76232aab67d0d7256ce2223ac63c0a0419 the explorer is being rendered as Arial.

Old:

![image](https://cloud.githubusercontent.com/assets/2193314/1801488

[2016-08-26 17:48] egucciar opened #11034 "Insider version terminal broke after recent update"
- VSCode Version: see picture (insider version)
- OS Version: Windows 7

![image](https://cloud.githubusercontent.com/assets/2848185/18015001/989b254c-6b93-11e6-8ac9-dcfaa4502687.png)

Steps to Reproduce:

1. Open Terminal
2. Observe it is not working :(

Downloaded and installed insider version this morning and it was pretty great, but a few hours later, the terminal stopped working!

[2016-08-26 17:54] Tyriar commented on #10925
@jrieken I should flesh this out in the jsdoc if it wasn't clear, but hide will close the panel if that terminal is currently active, dispose kills the terminal but keeps the panel up.

[2016-08-26 18:05] johnfn commented on #10451
The bug has evolved: now I have a fully-featured Vim inside my debug console. This is actually kind of awesome. But not really expected.

[2016-08-26 18:23] #10999 closed

[2016-08-26 18:28] chrmarti opened #11035 "Test: QuickOpen file search"
- [x] Windows **@bpasero**
- [x] OS X **@kieferrm**
- [x] Linux **@aeschli**

Testing QuickOpen's file search for regressions from #55.

Functionality:

- [ ] Search term is fuzzy matched to file names in the workspace
- [ ] "files.exclude" and "search.exclude" settings are applied
  - [ ] except for absolute file paths
  - [ ] except for workspace relative file paths
- [ ] Adding/removing files/f

[2016-08-26 18:30] csakis commented on #10981
Node is in the path. If I open a command line and wrrite node -v, I get the
proper response. Furthermore, if I open VSCode normally just by duble
clicking on its icon and opening a terminal inside VSCode the node -v
command works.
However is I open VSCode by right clicking on a folder and telling it to
open in VSCODE, the terminal inside VSCode does not see node.

[2016-08-26 18:54] Tyriar commented on #10981
Please tell me the exact message, "node will not work" and "vscode does not see node" is very ambiguous.

[2016-08-26 19:04] jnegron357 opened #11036 "Display members of a file in explorer"
It would be great to drill down to members of a component within the explorer tree or in an outline view of the selected file. This is extremely useful when you have many objects in one file and you're struggling to find that one function that you need to finish a task. See below for example from VS:
![image](https://cloud.githubusercontent.com/assets/3504712/18017173/4275f9de-6b9e-11e6-8b65-0143b

[2016-08-26 19:11] sandy081 commented on #10451
Yes this is expected. Debug console is made from editor now and hence in Vim mode it will be also behave same.

[2016-08-26 19:15] letientai299 commented on #10989
I understand that the new context menu would be duplicate with the current button. But IMHO, right click anywhere in the Console or Output window, and press a character to trigger the *Clear* action is far easier to click into the button in top right corner.

How do you think?

[2016-08-26 20:14] amejias101 commented on #4616
is it me or is this still an issue? I see that it is closed but I still experience it, even with the current nightly version

[2016-08-26 20:23] theideaofnorth2 commented on #4309
`option+command+c` doesn't work on OS X. I just checked and I have the latest version of VSC.
Why is this issue closed? it isn't resolved at all.

[2016-08-26 20:39] harisbotic commented on #10983
When I disable all extensions, I don't even have to option to Format Code, so I guess thats c# extensions thing.

I will close the issue since its not vs code related

[2016-08-26 20:39] #10983 closed

[2016-08-26 21:32] skolmer commented on #10804
It would be nice if you could do something like this:
[code]
This could be useful if you want to individually style launch.json, tasks.json e.g. in .vscode folder

[2016-08-26 21:42] johnfn commented on #10451
How is this expected behavior? The debug console will appear broken for anyone who uses the Vim plugin.

[2016-08-26 21:49] ericmaier opened #11037 "Searching within files causes windows defender (antimalware.exe) to run and takes over my computer for 30 minutes"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:
1. Bring up search (Ctrl + Shift + F)
2. Search
3. Antimalware.exe process starts and computer cpu goes to 100%. Search never completes and progress indicator stops updating at 90%.

[2016-08-26 22:01] giggio commented on #10860
I don't need VSCode to do anything for me but to keep the user info in only one place. Extensions are user specific artifacts, as are keybindings, snippets and settings, which currently are stored together. But, for whatever reason, extensions go to `$HOME/.vscode/extensions`, while all the rest goes somewhere else.
Why not just keep every artifact under `$HOME/.vscode`?
This way, I could manage t

[2016-08-26 22:03] bmenees commented on #4855
I always use VS Code in a Linux VM (in VirtualBox) against a shared folder that's mounted under /media/.  VS Code's Delete command always prompts for whether I want to Move To Trash, but then it always fails to move it to the trash presumably because the file was on a mounted folder/drive.  So then I have to click the Delete Permanently option.  It sure would be nice if VS Code was smart enough to

[2016-08-26 22:50] pcgeek86 commented on #9085
@joaomoreno Any updates on this? I went looking for `git clone` in the Command Palette, but can't find it.

[2016-08-26 23:45] brunnopleffken commented on #10144
I like @bpasero's idea of allowing to override the default UI font the same way we can change the editor font.

[2016-08-27 00:26] pcgeek86 opened #11039 "VSCode Git doesn't see files moved into subdirectory"
- VSCode Version: 1.4.0
- OS Version: Windows 10 Anniversary Update
- Git Version: `git version 2.8.1.windows.1`

Steps to Reproduce:

1. Clone a Git repository (https://github.com/SocketCluster/sc-sample-inventory)
2. Move everyting from root folder into subfolder
3. VSCode doesn't show / commit changes

![image](https://cloud.githubusercontent.com/assets/466713/18023772/8d3fc99c-6bba-11e6-9347-f

[2016-08-27 01:02] haraldrudell opened #11040 "[bash] syntax coloring should accept options on shebang line"
A bash script may have its first line
[code]
to modify the behavior of the bash session.

The Visual Studio Code syntax colorizer cannot handle this as of version 0.1.0
to fix add a “.*” after bash:

[code]

To verify fix
1. Open a file with first line `#!/bin/bash -eu`
2. Verify in status bar on lower right that colorizer is Shell Script (Bash)

[2016-08-27 01:13] swimmernewman opened #11041 "VS Code crashes frequently while typing in a PHP file."
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

I have a Laravel PHP project that I am editing with Visual Studio Code. It will work fine for hours, and then it will crash a dozen times in a row while I am trying to type code in a PHP file. I don't have any reliable steps as there doesn't seem to be any rhy

[2016-08-27 03:14] 8bitslime commented on #10987
@bpasero It doesn't seem to be making the folder anymore. I remember it had only a .db file in it. I figured it was for storing workplace settings in a specific folder, but it seems to be gone, so problem solved? All I know is it was a hidden folder named ."vscode" and I couldn't find anything else about it online. I guess I'll come back to this thread if it shows up again with a more detailed des

[2016-08-27 03:32] JPRock opened #11042 "I'm a iMac OS X Yosemite and Visual Studio novice. Why can't I seem to install the VSCode app on this Mac?"
- VSCode Version: VSCode-darwin-stable.zip
- OS Version: OS X Yosemite

Steps to Reproduce:
1. Download file.
2. Unzip file.
3. When the app icon is created, I drop it into Applications.
4. When I launch the app, I can briefly see it start on the Dock for a moment and then it's gone.

[2016-08-27 04:13] netjune commented on #10281
No. Same error as 1.4.0.

[2016-08-27 04:20] robertoclavijob opened #11043 "Font color issue"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1. Create a .js file
2. Add multiple lines
3. Verify font colors

Expected result
The color font should be preserved

Actual result
In some point all the fonts come in a same white color, if set all the code in a single line the colors are

[2016-08-27 04:23] agektmr commented on #6020
Hi, I'm having the similar issue (merged issue #10986). As I noted there, the biggest problem is Karabiner not working on VSCode. It works without any problems on SublimeText or Atom.
Can you take a look? This is the only blocker for me to use VSCode.

[2016-08-27 04:59] maryamsoprano commented on #3166
Hi,
And thanks for your suggestion.
My javascript is not in another folder. It is beside typescript file.
For example we have ui/lib/contacts folder and in this folder, there are some html and js and ts files. Also some files resists in ui/lib/components(includs ts,js and html) and etc.
In this way what should be my outdir?
And also program path is out of my project. It points the path of my nodej

[2016-08-27 07:19] bpasero commented on #11037
We just changed search a lot, maybe you could try to reproduce from our insiders build?

We are releasing preview releases of the next stable VS Code version for everyone to try and give feedback. These preview releases are not 100% tested and might be unstable but contain our latest features and bugfixes. You can give our preview releases a try from: http://code.visualstudio.com/Download#insiders

[2016-08-27 07:24] bpasero commented on #10890
@spraguey yes Code OSS helper is also good, can you attach the log you have there? This might point to the reason of the crash.

[2016-08-27 07:27] bpasero commented on #55
Our full text search matching actually uses RegExp matching on a full line (see https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/search/node/textSearch.ts#L121) and part of the reason is that we allow for searches with regular expressions.

I wonder how much faster BM would be in this case given that RegEx matching is highly optimized. We should just start an experiment an

[2016-08-27 07:29] albertsmus commented on #10761
No the isssue is when i try to open a file using the context menu (right click on a file and open with Visual Studio Code) i the file with no contents in. The same issue is when i use Fire ftp from mozilla and i try to open a local file.
When i open the file via the open menu from visual studio code the file open's with it's contents in.

[2016-08-27 07:29] W4RH4WK commented on #10546
If tabs are going to be added, I'd like to have a config option to disable them / force a single instance of the integrated terminal. If I require such *advanced* features, I typically resort to using the (external) terminal of my choice.

[2016-08-27 07:30] bpasero commented on #10951
@sramam I fear there is no easy solution. I would first check if any of the extensions has an impact on text editors. Once we found the extension that is causing this I would be interested to find out the name and possibly sourcecode to see what kind of pattern is causing this.

Closing, since this is an extension issue. But please keep posting here for the findings.

[2016-08-27 07:30] #10951 closed

[2016-08-27 07:32] bpasero commented on #10987
@8bitslime we heard that the C++ extension was creating this file all the time, maybe they updated and fixed it?

[2016-08-27 07:32] #10987 closed

[2016-08-27 07:51] FLWrd opened #11044 "Task builder icon keeps turning"
- VSCode Version: 1.4.0
- OS Version: 10.11.6

Steps to Reproduce:
1. Build a typescript project

Expected outcome: once the compilation has finished, the running icon should stop.

Actual outcome: this doesn't always happen. In particular, only the first build stops the icon from running, it seems.

Settings:

tsconfig.json:

[code]

[2016-08-27 07:51] W4RH4WK opened #11045 "Run Custom Commands (filter)"
There already a couple of extensions available doing a very similar thing, running a custom command. I am not talking about something like the Task runner which is already part of vscode, but of extensions like these:

- [vscode-filtertext](https://github.com/yhirose/vscode-filtertext)
- [vscode-shell](https://github.com/bbenoist/vscode-shell)
- [LaunchTerminal](https://marketplace.visualstudio.co

[2016-08-27 08:01] yaxinlx opened #11046 "I strongly recommend to remove the "drag and move folder" feature."
- VSCode Version:

1.4

- OS Version:

debian 8

Steps to Reproduce:

For many times, I didn't intend to drag and move a folder, but for whatever reason, maybe my mouse is too sensitive, a folder was moved. The moving process is so fast that I didn't notice it.
Some time later, I found the folder was missing. Ok, you know how confusing I am. ...

[2016-08-27 08:04] bpasero commented on #1396
@jrieken it would be easy for my `writeConfiguration` method to support task/launch.json, the ugly part is that it needs hardcoded knowledge about these 2 files which is odd because the concept of task and debug should not be wired into the configuration service. On the other hand, we already have a separate service for editing, so it is not super bad. The debt is to make the concept of `task.json

[2016-08-27 08:11] bpasero commented on #10761
@albertsmus using the context menu on the native Ubuntu file explorer you mean? Or is that another tool besides the Fire FTP?

[2016-08-27 08:33] #10946 closed

[2016-08-27 08:53] whitecolor commented on #10546
I would aslo consider such thing as terminal split (more advanced split) so all the running (maybe more then two) important terminals outputs where before the eyes even partly.

[2016-08-27 09:17] formulahendry commented on #10715
For [Auto close / rename tags like in VS](https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/8243982-auto-close-rename-html-tags-like-visual-studio), extensions exist: [Auto Close Tag ](https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-close-tag) and [Auto Rename Tag ](https://marketplace.visualstudio.com/items?itemName=formulahendry.auto-rename-ta

[2016-08-27 09:28] shanalikhan commented on #8975
There should be a small example to do this.
I also want to open the untitled file and add text content on it.
I have opened the JSON file by using this code
`  var setting: vscode.Uri = vscode.Uri.file(en.APP_SETTINGS);
        vscode.workspace.openTextDocument(setting).then((a: vscode.TextDocument) => {
            vscode.window.showTextDocument(a, 1, false);
        });`

How to open the untitle

[2016-08-27 09:29] shanalikhan opened #11048 "How to open untitled file and add text content in it"
There should be a small example to do this.
I also want to open the untitled file and add text content on it.

I have opened the JSON file by using this code

`var setting: vscode.Uri = vscode.Uri.file(en.APP_SETTINGS); vscode.workspace.openTextDocument(setting).then((a: vscode.TextDocument) => { vscode.window.showTextDocument(a, 1, false); });`

I get error

untitled:c:/Users/shana/AppData/Roamin

[2016-08-27 09:42] Alirezanet commented on #11028
i had same problem before

[2016-08-27 10:08] mirao opened #11049 "Text cursor stops blinking in integrated terminal if you run external command"
- VSCode Version: 1.4.0, 1.5.0-insider 2016-08-26T08:02:25.854Z
- OS Version: Ubuntu 16.04

**Steps to Reproduce:**

user setting: `"terminal.integrated.cursorBlinking": true`

1. Open integrated terminal - the text cursor is blinking :white_check_mark:
2. Run `less file.txt` or `man awk` or `mc`
3. Quit the external command ("q" or F10)

**Expected result**
* the text cursor is blinking

**Expect

[2016-08-27 10:29] DanTup commented on #10852
If delaying the startup is a concern, if new builds are generally consistent, you could possibly make an assumption about whether there's an update based on the date of current build and current date?

That would allow fast startup when you're (probably) already on the latest version, avoid the restart when you're (probably) not on the latest version, and if you get it wrong the penalty is minor (

[2016-08-27 10:42] ornithocoder opened #11050 "Disambiguation when two or more snippets conflict"
- VSCode Version: 1.4.0
- OS Version: OS X El Capitan 10.11.6

Since two or more extensions can use the same ``prefix`` to register different snippets, it would be nice if Visual Studio Code could show which extension the snippet belongs to.

I created the gif below showing how the disambiguation could work - a label placed on the right side showing which extensions is responsible for that snippet

[2016-08-27 10:43] SomeGuy54321 opened #11051 "Cannot copy/paste from Ubuntu VSCode into virtual machine guests"
- VSCode Version: 1.4.0
- OS Version: Ubuntu 16.04

Steps to Reproduce:
1. Get a Ubuntu 16.04 PC
2. Install VSCode
3. Setup two VMware Player (v12.1.1 build-3770994) machines
   - OSX 10.11
   - Windows 10
   - install VMware Tools in both
4. Open a guest
5. Copy something from the editor of the Ubuntu VSCode
6. Try to paste it anywhere in the guest (won't work)
7. Go back to host
8. Paste the tex

[2016-08-27 11:04] rotaercl opened #11052 "Can't download extension:c/s"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.
2.

[2016-08-27 11:04] rotaercl opened #11053 "Can't download extension:c/c"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.
2.

[2016-08-27 11:05] rotaercl opened #11054 "Can't download extension:c/c++ for vsc"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.
2.

[2016-08-27 11:06] rotaercl commented on #11054
always remain downloading

[2016-08-27 11:16] albertsmus commented on #10761
Inside the native Ubuntu file explorer

[2016-08-27 11:16] albertsmus commented on #10761
But also from Fire Ftp

[2016-08-27 12:43] bpasero commented on #10761
@albertsmus can you try with a file in a folder that uses ASCII characters? from the screenshot it almost looks like an encoding issue with the folder name where Cars.php is in.

[2016-08-27 12:44] bpasero commented on #11046
As a workaround you can configure `explorer.enableDragAndDrop: false` to disable drag and drop.

[2016-08-27 12:51] helphi commented on #5047
+1

[2016-08-27 14:12] drew-wallace opened #11055 "[decorators] contentIconPath doesn't follow URLs like gutterIconPath"
- VSCode Version: 1.4.0
- OS Version: OSX 10.11.6

Steps to Reproduce:

1) Create a text decoration with DecorationRenderOptions
[code]
2) Set the decoration and notice the gutter icon appears, but the inline icon is missing

[2016-08-27 15:20] rmunn commented on #9123
I was just looking for a command to select the brace (and contents) that matches the one the cursor is next to. It's highlighted already; I'd just like a single keyboard shortcut to select to that highlighted brace so I can copy (or cut) it, and then paste it elsewhere. That seems strongly related to this feature request, so rather than opening a second feature request for the "select to matching

[2016-08-27 15:39] XVincentX commented on #9956
Thanks a lot! Would it worth to update the documentation about that? It's a bit confusing.

[2016-08-27 17:32] SynCap commented on #1046
Must have!!!
Especially dragging text between docs, editors, drag text to another apps, such as browser, and vice versa.

[2016-08-27 18:58] prezmo commented on #9937
This issue touches some of files in my current project. VS Code version: 1.4.0. If you have any concerns with tokenization performance could you at least make this feature customizable in settings?

Does insider version resolves the issue?

[2016-08-27 20:00] 8bitslime commented on #10987
@bpasero It looks like the extension managed to uninstall itself; I'll take that as problem solved. Thanks. (but you may want to tell the guys working on the extension that the file should be opt-out)

[2016-08-27 20:34] probonopd commented on #10857
@joaomoreno are the binaries at https://vscode-update.azurewebsites.net/latest/linux-deb-x64/stable generated by a Travis CI run, and if so, where is the respective code? I could try to hook in there and send a PR which also builds an AppImage using the binaries generated anyway for the deb.

[2016-08-27 22:10] faustinoaq commented on #11054
Can you show us the installation logs?

I'm using C/C++ extension in Manjaro Linux KDE and works well.

Can you try to install manually on Windows via git?

[2016-08-27 22:10] faustinoaq commented on #11053
#11054

[2016-08-27 22:10] faustinoaq commented on #11052
#11054

[2016-08-27 22:21] faustinoaq commented on #11051
Can you try to copy/paste with chromium?

I'm using VSCode in VirtualBox with Archlinux and the clipboard works fine.

[2016-08-27 22:26] derekperkins commented on #1636
🙏 Praying this makes it into the August milestone

[2016-08-27 22:28] faustinoaq commented on #11050
I have the same problem with Java.
Would be fine to implement something like *enable* Atom keybindings for each package.
![disable-keybinding](http://i.imgur.com/VYHbbHQl.png)

[2016-08-27 22:33] faustinoaq commented on #11049
I have the same issue.

* VSCode Version: 1.4.0
* OS Version: Manjaro KDE Linux

[2016-08-27 22:47] faustinoaq commented on #11048
You can try to analyze [this code](https://github.com/dkundel/vscode-new-file/blob/master/src/extension.ts#L13), looks pretty simple.
Also you can look inside some code beautifiers that already exist :-)

[2016-08-27 22:56] faustinoaq commented on #11045
Maybe a plugin that puts it all together. XD

[2016-08-27 23:02] faustinoaq commented on #11043
Cute [callback hell](http://callbackhell.com/) in the first screenshot XD

I have the same issue just when I scroll too fast large files, but after a seconds, looks ok again.
Maybe a performance issue?

[2016-08-27 23:15] faustinoaq opened #11056 "Too many issues for VSCode XD"
- VSCode Version: 1.4
- OS Version: Manjaro KDE Linux

Just a comment :-)

![atom-issues](http://i.imgur.com/e8zm0te.png)
![vscode-issues](http://i.imgur.com/va65V76.png)

The six first pages of vscode/issues have issues for the last five days.

We need something like this [Codetriage](https://www.codetriage.com/atom/atom)

Hey guys, VSCode is Open Source! :-)

[2016-08-27 23:17] realee94 opened #11057 "[PHP] Syntax highlighting broken by part of my code."
- VSCode Version: 1.5.0-insider (had this issue in older builds as well)
- OS Version: Windows 10 64bit (Anniversary Update)

**I tried with different color themes as well. Same issue.**

First of all, I know that having such long php files is not a good thing. BUT the syntax highlighting breaks in my php file after a certain section (which has a lot of quotation marks and apostrophes).

My file i

[2016-08-27 23:22] faustinoaq commented on #11057
related? #11043

[2016-08-27 23:28] realee94 commented on #11057
Definitely looks familiar.

[2016-08-27 23:31] EthelEleanor opened #11058 "mywindows"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1.
2.

[2016-08-27 23:32] mrmlnc commented on #11057
Most likely all of these issues relate to https://github.com/Microsoft/vscode/issues/9937#issuecomment-242934557, where there are answers from developers.

[2016-08-28 03:46] whitecolor commented on #9959
@Tyriar
Is it possible to have in terminal features that exist in debug console output like ability to inspect/extend objects ala browser console? Also clickable links to code? Are they based on totally different technologies?

[2016-08-28 04:20] maverickwoo commented on #10643
Lately I start to notice our discussion could actually be a broader design consideration in VSCode, namely where the focus should go to when there is some kind of conceptual popup. As an example, F8 `editor.action.marker.next` would also become (imo) more convenient to non-screen-reader users if the focus can remain in the editor.

[2016-08-28 06:17] wuzhijiexia opened #11059 "The C/Cpp Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted."
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.14393

Steps to Reproduce:

1. Install C/C++ extension
2. Started the extension then the error appear
3. Can't go to definition and declaration

[2016-08-28 06:37] axefrog opened #11060 "Snippet completion of repeated tokens fails when first token autocompletes with a preceding character"
- VSCode Version: 1.4
- OS Version: Windows 10

Completing a snippet, where the `$1` token occurs more than once and where the first instance of the token is preceded by a character that triggers autocompletion in the editor, causes subsequent completions of the `$1` token to overwrite the preceding character with the preceding characters from the autocompletion.

![image](https://cloud.githubuser

[2016-08-28 07:44] bpasero commented on #8552
Was fixed meanwhile.

[2016-08-28 07:44] #8552 closed

[2016-08-28 08:13] RafalWilinski commented on #1009
VSCode `1.4.0`
I've also encountered this issue, I'm seeing one `Code Helper` instance eating 100% of one core power.

Full arguments to the process:
[code]

My `settings.json`:
[code]

Extensions I'm using:
[code]

[2016-08-28 08:40] rambul commented on #11042
+1

For me it only shows is the taskbar but doesn't show the actual VS Code window :(

[2016-08-28 09:09] bpasero commented on #1009
@RafalWilinski does it also reproduce when running without extensions loaded:

I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the ext

[2016-08-28 09:22] sklivvz opened #11061 "Broken syntax highlighting in for loops in JavaScript"
Repro:

![generator js - steven - visual studio code 2016-08-28 10 16 04](https://cloud.githubusercontent.com/assets/750257/18032771/b0903a54-6d08-11e6-8c41-8dbc2c7f0c07.png)

- VSCode Version: 1.4.0
- OS Version: WIn 8.1

Steps to Reproduce:

1.  create a js file
2.  type

[code]

[2016-08-28 09:34] sklivvz commented on #2072
This should be reopened, it was closed in Omnisharp but it still happens in vs v.1.4.0

![program cs - basic - visual studio code 2016-08-28 10 34 17](https://cloud.githubusercontent.com/assets/750257/18032825/fee199da-6d0a-11e6-9ce5-db6ebec78b24.png)

[2016-08-28 09:46] jaswant100 commented on #11000
iam installing it first time, it occur when i try to install VSCodeSetup-stable.exe, error comes even  after restarting windows.

[2016-08-28 10:08] whitecolor commented on #10765
Actually editor option that I just became aware of `editor.formatOnType: true` solves this

[2016-08-28 10:15] whitecolor commented on #10865
@sandy081
I still would like to draw your attention on this. Because **typings can be quite complex** and I'm sure tooltip needs to be more functional while displaying helper information about such types.

![image](https://cloud.githubusercontent.com/assets/736697/18033039/7d425f8c-6d31-11e6-8638-e49566d95c79.png)

Click on this tooltip in any place causes next overloaded definition to show, and a

[2016-08-28 10:15] sandeep100690 opened #11062 "nice editor but missing emmet extension"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-08-28 10:21] mrmlnc commented on #11062
Emmet is built into the editor. See https://code.visualstudio.com/docs/introvideos/codeediting or https://code.visualstudio.com/docs/languages/css#_emmet-snippets

[2016-08-28 10:37] pungggi opened #11063 "crash on content delete"
- VSCode Version: Code - Insiders 1.5.0-insider (31f1acb8c82b8a19256d5d56127d3f81edce3745, 2016-08-26T08:00:03.472Z)
- OS Version: Windows_NT ia32 10.0.14393

vsc crash!

Steps to Reproduce:
1. delete a lot of content inside a md file
2. in git tab try to discard the changes..

[2016-08-28 11:57] magpier84 opened #11064 ""Go to definition" command show wrong file."
- VSCode Version: 1.4.0
- OS Version: OSX 10.11.2
- C/C++: 0.8.1

Steps to Reproduce:

1. Select header file of some class in workspace file browser.
2. Go to definition of some its methods.
3. Cpp file is opened but its path isn't relative to root of the workspace. In "Open Editors" section it is displayed as path from root of the drive (cut on left side: "t/subfolder/file.cpp") with hint  "/User

[2016-08-28 12:05] DanTup commented on #10311
@jrieken Is it expected that contents indented with 4 spaces will be treated as code blocks? Currently they only seem to come through as code if they have explicit backticks around them, but not if just indented.

[2016-08-28 12:06] DanTup commented on #11016
@jrieken Same in insiders, this doesn't seem to work (see above comment). I presume the issue is `suggestionSupportsAcceptOnKey` but I can't find anything on it in the docs, nor by searching GitHub :(

[2016-08-28 12:11] DanTup commented on #10311
Actually, I think they are coming from code (they're whiter than the rest), it's probably just because it doesn't know what language they should be.

[2016-08-28 12:16] DanTup commented on #10311
Ignore last comment; this is fixable by us :)

[2016-08-28 12:31] DanTup commented on #10311
@jrieken I think the fix for this may have introduced more spacing than expected. Check out this sample:

[code]

and here's how it renders:

![Hovers](https://cloud.githubusercontent.com/assets/1078012/18033706/bd661864-6d23-11e6-9341-b7528ae92a6a.png)

[2016-08-28 13:40] RafalWilinski commented on #1009
I've just removed all extensions and reopened project - same thing happens.

Project I'm opening: https://github.com/RafalWilinski/ember-gmail
Let me know if you need more info.

[2016-08-28 14:08] robertoclavijob commented on #11043
when I checkout the code in other enviroment, xubuntu, I open the same file and had the same issue

[2016-08-28 14:50] DanTup commented on #7340
May I also request that if this is implemented such that we can return the text to pre-fill in the box (or reject the request to rename) that it supports returning as a `Promise`? (I suspect you'd do it this way anyway, but I can only get this value asynchronously from the language service).

[2016-08-28 15:07] stinghz opened #11065 "search not working"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.0.0

Steps to Reproduce:

1. search for something
2.always no result found

[2016-08-28 15:08] stinghz commented on #11065
was not working, reopen the IDE and it is working now

[2016-08-28 15:15] stinghz commented on #11065
still not working

[2016-08-28 15:49] DanTup commented on #5605
If you do add support for a tree; could you also consider allowing it to be used for type hierarchy too? Had that request too, but current ideas (eg. using quick pick) kinda suck: https://github.com/Dart-Code/Dart-Code/issues/133

[2016-08-28 16:00] bpasero commented on #1009
@RafalWilinski so you say you have a single folder with lots of files within? what kind of folder is that? maybe we should consider adding it to the default watcher exclude setting.

[2016-08-28 16:08] bpasero commented on #1009
Btw I just setup this project and do not see a 100% CPU core (Mac OS X).

[2016-08-28 16:09] RafalWilinski commented on #1009
In my project there was a `tmp` folder generated by babel. Inside, there are around 20000 subfolders and `tree | wc -l` = 522100 files & directories overall with total weight of 1.2GB(!), it took a couple of seconds to even `rm -fr /tmp` it.

I don't `tmp` folder should be ignored by default.

@bpasero Because repo does not have `/tmp` folder in it, it accumulates over the time.

[2016-08-28 16:26] kirillta opened #11067 "Console corrupts non-latin output encoding"
Tests, programm output, etc.

[code]

[code]

- VSCode Version: Code - Insiders 1.5.0-insider (31f1acb8c82b8a19256d5d56127d3f81edce3745, 2016-08-26T08:00:03.472Z)
- OS Version: Windows_NT ia32 10.0.14393

[2016-08-28 16:29] kirillta commented on #11067
![image](https://cloud.githubusercontent.com/assets/19779590/18035042/ac580fdc-6d55-11e6-914c-819763228001.png)

[2016-08-28 16:59] MehdiDehghani opened #11068 "[Feature request] Supporting Vash (expressjs view-engine)"
Hello,

I know there is tones of Feature requests, but because I love `vscode`, I want to this editor support everything !

If is possible please add syntax highlighting and intellisense for `.vash` files.

Thank you !

[2016-08-28 17:06] joaomoreno commented on #10655
It should although both options will works.

[2016-08-28 17:07] joaomoreno commented on #10860
You'll wanna follow #3884 for that.

[2016-08-28 17:09] joaomoreno commented on #10857
@probonopd They are generated from our internal build. Building and distributing VS Code is not open source, so you'll have to leave picking this up to us for now.

[2016-08-28 17:25] JPRock commented on #11042
@rambul When you refer to the “taskbar” are you referring to the MS Windows Taskbar or Mac OS X Dock? Is your issue a Windows or OS X one?

[2016-08-28 18:47] elmerbulthuis commented on #178
+1

[2016-08-28 18:58] rbenson commented on #10643
@alexandrudima Thanks for the clarification. I read it as "we are planning to make `cmd-k cmd-i` work only if we can sniff a screen reader", which was a bad decision in my opinion. As long as the whole tooltip shows, on keypress.

[2016-08-28 20:37] hhubik opened #11069 ""Format Code" command fails to format Angular2 template file"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.3.9600

Steps to Reproduce:

1.  Open the test file in the attached [zip archive](https://github.com/Microsoft/vscode/files/441345/test.zip) in VS Code.
2. Execute "Formate Code" command (Alt-Shift-F).
3. Lines 68 and 79 are **not** properly indented as shown in this sn

[2016-08-28 20:48] #10880 closed

[2016-08-28 20:51] weinand opened #11070 "node-debug: replace 'externalConsole' attribute with new 'console' attribute"
see #10574

[2016-08-28 20:55] weinand commented on #10574
@isidorn For node-debug I've introduced a new `console` attribute with these values:
"internalConsole", "integratedTerminal", "externalTerminal"

The `externalConsole` attribute has been deprecated in hover help. If it is still used, a value of true is identical to `"console": "externalTerminal"`.

[2016-08-28 20:57] #11070 closed

[2016-08-28 21:23] alexandrudima opened #11071 "Remove `scrollYToX` and use existing option `flipAxes` in ScrollableElement"

[2016-08-28 21:29] alexandrudima commented on #11071
Oh now I notice they don't do the same thing

[2016-08-28 21:29] #11071 closed

[2016-08-28 21:55] mrmlnc commented on #11065
Please, provide more details. Also try reproduce your problem without extensions (`code . --disable-extensions`).

[2016-08-28 21:57] mrmlnc commented on #11058
Please, provide more details and reproduce steps.

[2016-08-28 22:01] mrmlnc commented on #11068
Great idea to create the extension.

[2016-08-28 22:06] Tyriar commented on #10655
Done

[2016-08-28 22:12] mrmlnc commented on #11059
Please move this issue into repository of C/C++ extension: https://github.com/Microsoft/vscppsamples/issues.

![chrome_2016-08-29_01-11-18](https://cloud.githubusercontent.com/assets/7034281/18037142/a827bcd4-6d85-11e6-960a-74ffe90ad745.png)

[2016-08-28 22:19] mrmlnc commented on #11030
Good idea to create the extension, but the current API does not allow you to change the language of document.

[2016-08-28 22:24] mrmlnc commented on #11030
You try use this extension https://github.com/brpaz/vscode-file-templates-ext?

[2016-08-28 22:40] maryamsoprano commented on #3166
I should add that my server.js ,just start the project as following :

var express = require('express');
var app = express();

app.use(
    "/", //the URL throught which you want to access to you static content
    express.static("/home/soprano/git/ui") //where your static content is located in your filesystem
);

app.listen(3002, function () {
  console.log('Express server listening on port 3001!

[2016-08-29 00:21] rafaelstz opened #11073 "OSX does not Debug Extension"
- VSCode Version: 1.4.0
- OS Version: OSX El Capitan 10.11.6

Steps to Reproduce:

1. Open extension folder.
2. Try debug and simulate extension with **F5**

![screen shot 2016-08-28 at 21 20 54](https://cloud.githubusercontent.com/assets/610598/18037936/573c4ec2-6d65-11e6-8f6f-ccb32301ec91.png)

[2016-08-29 01:17] #11073 closed

[2016-08-29 01:18] liqianglai opened #11074 "Frequent prompt update"
- VSCode Version: July 2016 (version 1.4)
- OS Version: win10
1. Update is complete, open again, and prompt update

[2016-08-29 01:42] devoncarew opened #11075 "Shorten the editor labels for git changes diff editor"
- VSCode Version: 1.4 (latest stable)
- OS Version: MacOS

The title for the git comparison editor can be very long and doesn't leave a lot of room for displaying other tab titles:

<img width="715" alt="screen shot 2016-08-28 at 6 37 09 pm" src="https://cloud.githubusercontent.com/assets/1269969/18038591/e5c45f20-6d4e-11e6-9a1b-150e71403ace.png">

Perhaps the tab text can be shortened a bit? Inst

[2016-08-29 03:11] rkeithhill commented on #10705
@weinand We fixed this in the 0.7.1 release of the PowerShell extension.  We were incorrectly setting `expensive` to `true` for the `Autos` container.  I believe you can close this issue now.

[2016-08-29 03:25] kantlove commented on #2067
It's been several months and I notice that there is no related information. So I'd like to ask if there is an event for opening a folder now.

[2016-08-29 04:23] faustinoaq commented on #11043
#9937

[2016-08-29 04:26] shailesh-sangekar opened #11077 "There should be at least one conflict resolver or merger integrated for git hub with Visual Code"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-08-29 04:27] embc89 commented on #10971
I open an ASP file with ANSI enconding. When i open the file with Visual Code, it changed to UTF-8 format.

[2016-08-29 04:34] bpasero commented on #1009
ok thanks, for me the folder was much smaller. you can get the CPU down by adding this folder to the watcher exclude and it would also make sense to add it to search excludes.

[2016-08-29 05:10] roblourens opened #11078 "Navigating back after a 'go to declaration' might leave the cursor in a slightly different spot"
Say you have this code -
[code]

1. Click in the middle of `setInterval`, then next to `f`
2. Press F12 to go to the declaration
3. Press ctrl+- to navigate back
4. The cursor will be in the middle of `setInterval`, not where it was when pressing F12.

Looks like we don't save cursor position changes unless they are somewhat far from the previous position, so when navigating back, we end up somewh

[2016-08-29 05:30] zhoudotnet commented on #3828
Hi Alexandrudima,
When this function can be implemented?

[2016-08-29 05:34] #10537 closed

[2016-08-29 05:43] bpasero opened #11079 "Quick open: out of workspace results no longer showing up"
Steps to Reproduce:

1. open a folder as workspace
2. open some files that are outside of that folder via File > open
3. clear editor history (from F1 list)
4. start to search in quick open for the out of workspace files

=> no results show up

This seems to be caused by the cached query not setting any `extraFileResources`

@chrmarti please review my attempt to fix this in https://github.com/Micr

[2016-08-29 05:44] #11079 closed

[2016-08-29 06:02] aeschli commented on #10900
blocked by #3422

[2016-08-29 06:11] vsamy commented on #11007
Sure.

In vscode to copy/cut paste a line you usually do a ctrl+x/ctrl+c then a ctrl+v. This is very convenient but it only can be done one line at a time. If i have multicursor and try to cut/copy paste all the line at the same time it does not work and leave blank lines. Maybe i missed a shorcut on multiline copy pasting.

It is like a '4dd' 'p' in vim for example.

I hope it is more clear to yo

[2016-08-29 06:14] mysticatea opened #11080 "False positive of hangs and ESC key reboot vscode unexpectedly."
- VSCode Version:
    - 1.5.0-insider
    - 31f1acb8c82b8a19256d5d56127d3f81edce3745
    - 2016-08-26T08:00:03.472Z
    - Shell: 0.37.6
    - Renderer: 49.0.2623.75
    - Node: 5.10.0
- OS Version:
    - Windows 7 Pro

Steps to Reproduce:

1. Show context menu in file explorer of vscode.
2. Keep showing 30s. Then VSCode shows hang up dialog unexpectedly.
   ![false-positive](https://cloud.githubus

[2016-08-29 06:18] aeschli commented on #10840
As the contain property is still only a draft, we'd rather wait with adding it.

[2016-08-29 06:26] aeschli opened #11081 "Support embedded modes for TextMate grammars"
With TextMate grammars we no longer support embedded modes which control the behaviour of smart editing (brackets, comments).

Text mate scopes can be used for that, but we should fix the flattening of scopes first (#3008)

[2016-08-29 06:28] aeschli commented on #10825
Also related to #11081

[2016-08-29 06:28] aeschli commented on #10797
duplicate of #11081

[2016-08-29 06:28] #10797 closed

[2016-08-29 06:31] #9459 closed

[2016-08-29 06:33] bpasero opened #11082 "Test: reopen closed tabs opens at previous index"
- [x] any OS @gregvanl

We landed https://github.com/Microsoft/vscode/issues/9459 and need to verify that:
* you can reopen closed tabs via `File | Open Recent | Reopen Closed Editor` as before
* editors that reopen will be opened at the index they previously closed, thus maintaining the ordering of editors if possible

[2016-08-29 06:35] aeschli commented on #10757
@hemmingway Need more information here. I'll close the issue for now, but will gladly reopen once I undertand the request

[2016-08-29 06:35] #10757 closed

[2016-08-29 06:38] ArtemGovorov commented on #11005
From the API perspective, it'd be nice if the
[code]
function also accepted a `languageId: string`, or perhaps ai instance of `DocumentSelector`, but this may be an overkill for this specific purpose.

[2016-08-29 06:39] bpasero commented on #11080
Thanks for reporting this issue. Please use the issue search next time to see if there is a duplicate already. In this case, the issue has already been reported.

[2016-08-29 06:39] #11080 closed

[2016-08-29 06:41] bpasero commented on #10245
We fixed this for August 👍

[2016-08-29 06:41] #10245 closed

[2016-08-29 06:45] mysticatea commented on #11080
@bpasero I'm sorry, I could not find the issue. I used keywords: `context menu false positive`, `false positive`, `context menu`, `context menu esc`, `context menu hang`.

Chould you tell me the issue, please?
I'd like to track the issue.

[2016-08-29 06:47] #11068 closed

[2016-08-29 06:48] sandy081 commented on #11067
@kirillta May I know if the above log is coming through any extension?

[2016-08-29 06:49] egamma opened #11083 "Disabling font ligatures has no effect"
- enable FiraCode
- disable font ligatures

 != -> is still rendered using ligatures, pls see the attached screenshot

![image](https://cloud.githubusercontent.com/assets/172399/18043036/6f697b90-6dc5-11e6-9a04-654feb3c3a9e.png)

[2016-08-29 06:50] sandy081 commented on #11065
@stinghz As requested, please provide more details. It could be a specific case/scenario if you as it is working in general for us.

[2016-08-29 06:51] sandy081 commented on #11064
This issue was moved to Microsoft/vscppsamples#177

[2016-08-29 06:51] #11064 closed

[2016-08-29 06:53] #11062 closed

[2016-08-29 06:56] sandy081 commented on #11059
This issue was moved to Microsoft/vscppsamples#178

[2016-08-29 06:56] #11059 closed

[2016-08-29 07:00] sandy081 commented on #11057
@aeschli Could be related to #9937, assigning to you initially so that you can take a look from php side and dup it if it is.

[2016-08-29 07:00] bpasero commented on #11080
@mysticatea [Leaving a right-click menu open for about 30 seconds causes a This Window Is No Longer Responding error](https://github.com/Microsoft/vscode/issues/6414)

[2016-08-29 07:05] aeschli commented on #10746
@JacobGunther12 Can you add an example?
I tried this
[code]
and it seems to colorize fine

[2016-08-29 07:06] mysticatea commented on #11080
Thank you very much!

[2016-08-29 07:08] whitecolor opened #11084 "Rollback insiders update"
Is it possible to rollback insiders version update?

[2016-08-29 07:08] sandy081 commented on #11056
@faustinoaq Thanks for pointing this out. But, VS Code team does actively triage the incoming issues every day. Take a look at our [issue tracking](https://github.com/Microsoft/vscode/wiki/Issue-Tracking) process. Community (also including you :)) is also helping us in validating or requesting additional info or finding duplicates except assigning owner. Currently our inbox is less than two pages

[2016-08-29 07:08] #11056 closed

[2016-08-29 07:13] sandy081 commented on #11053
Duplicates #11054

[2016-08-29 07:13] #11053 closed

[2016-08-29 07:13] sandy081 commented on #11052
Duplicates #11054

[2016-08-29 07:13] #11052 closed

[2016-08-29 07:14] JacobGunther12 commented on #10746
Yes, @aeschli that is exactly what I mean. It turns out that it works differently on my MacBook. Possibly my MacBook updated VSCode and my PC didn't? By the way, I saw this in Minecraft YAML configuration, there must of been something that triggered a syntax error... Oh well :/

[2016-08-29 07:14] PatrickChen83 opened #11085 "Char array should be shown as string, not as nornal array"
- VSCode Version: 1.3.1
- OS Version: Linux 4.7.1

As title, character array is shown as a normal array everywhere, which can be annoying when watching on a very long string.

![normal array](http://imgur.com/rTOwqeH.jpg)

Steps to Reproduce:

1. Install C/C++ plugin
2. Set up `launch.json` and start debugging.
3. Set an breakpoint to view variables.

[2016-08-29 07:14] jrieken commented on #10311
That's a problem with list-tag-element we are tracking separately

[2016-08-29 07:20] jrieken commented on #1396
Apart from reading, how do their values end-up in the configuration service without their files naming being known?

[2016-08-29 07:22] jrieken commented on #11014
That's a matter of [activation events](https://code.visualstudio.com/docs/extensionAPI/activation-events). By default extension register when one of their files opens but can activate also eager or on commend execution. @akosyakov Please file a request against the extension you are excepting this to work with

[2016-08-29 07:22] #11014 closed

[2016-08-29 07:27] akosyakov commented on #11014
@jrieken if i would like to file for typescript extension, should it be filed against this repo?

[2016-08-29 07:28] bpasero commented on #1396
@jrieken also ugly, but less hardcoded: this all happens in https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/services/configuration/common/model.ts#L54 and the idea is that any JSON file in the `.vscode` folder is being looked at. Contents with `settings.json` are being put top level, any other file contents is being added under a key that matches the name of the file. If you have

[2016-08-29 07:30] DanTup commented on #10311
@jrieken Great; thanks. I can't find a case so if you know what it's called so I can subscribe to it let, let me know (not a big deal if not easy to find though). Thanks!

[2016-08-29 07:36] alexandrudima commented on #11061
Moved to Microsoft/TypeScript-TmLanguage#251

[2016-08-29 07:36] #11061 closed

[2016-08-29 07:36] DanTup commented on #10574
@weinand This sounds great; we'll give it a go! With https://github.com/Microsoft/vscode-node-debug/issues/85 closed does this mean there's a working example of for Node runnable in insiders from Monday?

[2016-08-29 07:37] alexandrudima commented on #11083
Dup of #8253

[2016-08-29 07:37] #11083 closed

[2016-08-29 07:39] bpasero commented on #1396
Rethinking how this could work for task and debug I think these are new `ConfigurationTargets` for the `writeConfiguration` call and should not be done in an implicit way: Debug and task should be able to tell the configuration editing service that there are new targets for configuration values by providing the full path to this file. When calling into `writeConfiguration` you can use the contribu

[2016-08-29 07:41] bpasero commented on #11078
https://github.com/Microsoft/vscode/issues/62

[2016-08-29 07:41] #11078 closed

[2016-08-29 07:45] alexandrudima commented on #9937
@prezmo Tokenization works based on a stack state machine. We interpret the rules the grammars define and transition between states, and push new states on the stack or pop them. We have received hard to reproduce bugs that were leading to out-of-memory crashes, with their root cause being invalid grammars. Think of it like a stack overflow which leads to OOM. We now have the limit of 30 states on

[2016-08-29 07:45] jrieken commented on #11014
In theory yes, but the TypeScript server is written in such a way that it *always* needs to know at least one file. Already today we depend on [tricks](https://github.com/Microsoft/vscode/blob/master/extensions/typescript/src/features/workspaceSymbolProvider.ts#L35)... So, in this specific case it's sort of an upstream issue in the TypeScript lang

[2016-08-29 07:47] joaomoreno commented on #10968
During VS Code's installation you are given that option.

![image](https://cloud.githubusercontent.com/assets/22350/18044300/80ddaf42-6dcd-11e6-8401-6b2319d55c41.png)

[2016-08-29 07:47] #10968 closed

[2016-08-29 07:47] joaomoreno commented on #9886
Regardless, not expanding without a summary is a step back. So don't keep it the current way.

[2016-08-29 07:48] jrieken commented on #11005
Cool, idea. I'd go with `languageId` or an `Uri` when creating a channel.

[2016-08-29 07:49] joaomoreno commented on #10928
This is a good project idea. But not within the VS Code scope.

Note that the [Monaco editor is open source](https://github.com/Microsoft/monaco-editor), in case someone wants to pick it up.

[2016-08-29 07:49] #10928 closed

[2016-08-29 07:49] jrieken commented on #10965
dup of #5745

[2016-08-29 07:49] #10965 closed

[2016-08-29 07:50] joaomoreno commented on #10927
You need to configure the [proxy settings](https://code.visualstudio.com/docs/setup/setup-overview#_proxy-server-support) in VS Code itself.

[2016-08-29 07:50] #10927 closed

[2016-08-29 07:53] joaomoreno commented on #9085
Nothing, it's in the backlog.

[2016-08-29 07:54] jrieken commented on #11060
Thanks. Nice find.

[2016-08-29 07:54] joaomoreno commented on #10144
Closing this as designed.

@brunnopleffken That falls within the scope of #3112.

[2016-08-29 07:55] alexandrudima commented on #4309
`cmd+alt+c` is the keybinding we ship with by default for `toggleFindCaseSensitive` on OSX. @theideaofnorth2 Can you please open a find widget (such that you can observe the state of the case sensitive toggle) and press `cmd+alt+c`:

![case-sensitive](https://cloud.githubusercontent.com/assets/5047891/18044493/7998f664-6dce-11e6-9df1-48a7bf11ec0b.gif)

If this does not work for you, can you please

[2016-08-29 07:55] isidorn commented on #1396
Keys in the `launch.json` are contributed by each extension, vscode is aware of them by reading the `package.json` of that extension. So it does not make a lot of sense that VSCode should verify them since the extension contributes those keys in the first place.

[2016-08-29 07:55] dbaeumer commented on #10973
Dups #3550

[2016-08-29 07:55] #10973 closed

[2016-08-29 07:56] aeschli commented on #10746
Do you have any extension installed that might replace the Yaml grammar?
Do you have a URL of the Minecraft Yaml file?

[2016-08-29 07:57] alexandrudima commented on #10922
Relevant animations in https://github.com/Microsoft/vscode/blob/master/src/vs/editor/browser/viewParts/viewCursors/viewCursors.css#L59

PR welcome

[2016-08-29 07:59] joaomoreno commented on #11039
The screenshot shows that you have opened `inventory-app`, not `sc-sample-inventory`. It also shows a bunch of files that are not in that repository (`docker-compose.yml` for example).

Also into which subfolder should I move everything?

[2016-08-29 08:10] joaomoreno commented on #10281
Do you have another machine you can try VS Code on?

I have a feeling your machine has a very strange setup somehow.

[2016-08-29 08:11] joaomoreno commented on #11028
#3520

[2016-08-29 08:11] #11028 closed

[2016-08-29 08:13] mysticman commented on #11065
I have also not working the search. It happens quite often I don't know what is the problem. Sometimes working sometimes not.

There was some error in the devtools windows but after delete and search again no error occurred.

![vscode error search](https://cloud.githubusercontent.com/assets/2445639/18045017/ec6d0a70-6dd0-11e6-9d90-1495ff359de7.png)

[2016-08-29 08:21] Emasoft opened #11086 "Please display the current absolute character cursor position (in the entire document)"
Sometimes instead of getting errors relative to the lines (i.e. line 5, position 14),  you get errors relative to the absolute position of the character in the entire file. Errors messages like this:

[code]

It would be useful to be able to know what the 116th character of the entire file is. Currently there is no way to know that in Visual Studio Code.

The only information displayed in the bott

[2016-08-29 08:26] joaomoreno commented on #10852
Feel free to write such a script on your machine.

The URL to figure out whether there is an update to download is:

[code]

Where `VERSION` is your current Code commit hash version, which you can find out with the following command:

[code]

The URL will return 200 with a JSON object describing where to download the update, or 204 when there is no update available.

Updating is just unzipping and

[2016-08-29 08:26] #10852 closed

[2016-08-29 08:26] akosyakov commented on #11014
@jrieken just not really smooth UX, when you first have to look for a typescript file, would be nice if you can just type a symbol name

[2016-08-29 08:27] joaomoreno commented on #11077
#5770

[2016-08-29 08:27] #11077 closed

[2016-08-29 08:29] joaomoreno commented on #11074
What's your current commit hash version?

![image](https://cloud.githubusercontent.com/assets/22350/18045520/7a1067bc-6dd3-11e6-84a6-c2501204c087.png)

[2016-08-29 08:30] joaomoreno commented on #11063
Can you provide a video recording of this? Also, the contents of that md file?

[2016-08-29 08:30] joaomoreno commented on #11054
Are you behind a proxy?

[2016-08-29 08:30] mrmlnc commented on #11065
@mysticman, In your case the search is enabled on the selected text.

![chrome_2016-08-29_11-29-18](https://cloud.githubusercontent.com/assets/7034281/18045543/f93303c6-6ddb-11e6-9162-15ae9d68a720.png)

[2016-08-29 08:33] sprinkle131313 commented on #5862
Can't reproduce with current version of VSCode, tried pushing a ~100 MB random file with and without git-lfs support. Was able to do both.

[2016-08-29 08:35] bpasero commented on #8937
Reopening for supporting tasks and debug as well.

[2016-08-29 08:40] joaomoreno commented on #10366
Decided to remove the conflicts out of this plan item.

[2016-08-29 08:40] #10366 closed

[2016-08-29 08:41] mysticman commented on #11065
And how did you know that. I cannot find the button or option that search just in the text. I am coming from the VS world and for CTRL + F always searched in the current doc. Am I doing something wrong?

[2016-08-29 08:41] joaomoreno commented on #5862
Thanks for letting us know!

[2016-08-29 08:41] #5862 closed

[2016-08-29 08:43] prembo commented on #205
+1

[2016-08-29 08:51] aeschli commented on #10600
New contribution point got added and is available in the latest insider builds.
See #10804 for the documenatation

[2016-08-29 08:51] #10600 closed

[2016-08-29 08:53] mrmlnc commented on #205
@ivodopiviz, @phonicmouse, @ChiggerChug, @prembo, please use GitHub emotions.

![chrome_2016-08-29_11-50-52](https://cloud.githubusercontent.com/assets/7034281/18046101/e81fae10-6dde-11e6-9cde-7d90857865d4.png)

[2016-08-29 08:55] weinand commented on #10705
@rkeithhill great, thanks!

[2016-08-29 08:55] #10705 closed

[2016-08-29 09:01] weinand commented on #9061
@isidorn this feature request is about the *initial configuration* and not about modifying the launch.json at any time. I'm not sure that this feature has to go through the extension API for write to configuration files.

[2016-08-29 09:02] sandy081 commented on #11041
@lgreenlee Very sorry to hear that VS Code is crashing. In order to know the root cause for it would you let us know

- How big is the project?
- Is it a Git repository
- Do you have a special setup?

When this happens would you be able to run a CPU profile from the developer tools (help > toggle developer tools) to see where we spend so much time?

Also, did this not happen with the previous rele

[2016-08-29 09:04] #7877 closed

[2016-08-29 09:05] sandy081 commented on #10972
@egucciar Very sorry to hear that VS Code is crashing. In order to know the root cause for it would you let us know

- How big is the project?
- Do you have a special setup?
- When this happens would you be able to run a CPU profile from the developer tools (help > toggle developer tools) to see where we spend so much time?

Also, did this not happen with the previous release?

[2016-08-29 09:08] aeschli commented on #10565
IMO the best is if snippets are contributed by separate external extensions, so it's possible to uninstall them.
Note that if you don't like snippets at all you can disable them in code assist with
  `"editor.snippetSuggestions": "none"`

[2016-08-29 09:09] sandy081 commented on #11029
@mbougarne We already support multi selection in our editor. Refer to our documentation for [Multiple Selections](https://code.visualstudio.com/docs/editor/editingevolved#_multiple-selections)

If you are looking for more, please add more details to your requirement.

Thanks

[2016-08-29 09:09] #11029 closed

[2016-08-29 09:12] sandy081 commented on #11030
@4c74356b41 Please use the [Power Shell language extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.PowerShell) for editing. If it does not works, please file an issue against the Power Shell extension repository. Thanks.

[2016-08-29 09:12] #11030 closed

[2016-08-29 09:21] sandy081 commented on #11043
@robertoclavijob This looks pretty similar to #9937. I am marking this as dup of #9937. I would suggest to subscribe to the original issue to be in loop. Thanks.

Duplicates #9937

[2016-08-29 09:21] #11043 closed

[2016-08-29 09:22] isidorn commented on #4616
Just checked and this particular issue seems to work fine. Though VSCode debug console has issues regarding the colorizing of ansi characters - you can search previous bugs to find more details regarding [this](https://github.com/microsoft/vscode/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20debug%20console%20color%20).

[2016-08-29 09:28] sandy081 commented on #11045
@W4RH4WK Main goal of VS Code is to be simple, fast and light weight. We made it open to the community to extend and customize it based on the needs. Those who are using it as a simple editor might not need this functionality.

Above requirement is a perfect example of customizing it and using it as required.

Thanks.

[2016-08-29 09:28] #11045 closed

[2016-08-29 09:28] kirillta commented on #11067
Current log is xunit, but I got same issues with F# console app, even when I tried to override Console.OutputEncoding property.

[2016-08-29 09:28] #11046 closed

[2016-08-29 09:30] #11048 closed

[2016-08-29 09:41] sandy081 commented on #11065
@mysticman Is Find not working only with this search term or do you observe with other terms? Also can you provide us the error you see in the devtools?

[2016-08-29 09:41] joaomoreno commented on #11042
@JPRock Can you simply double click the app before moving it into `Applications`?

[2016-08-29 09:44] mrmlnc commented on #11068
@MehdiDehghani, I see that the syntax highlighting in the Sublime is outdated and, I think, that I'm able to write his own. You can provide any real file with Vash syntax?

[2016-08-29 09:47] sandy081 commented on #10396
Closing this issue since we did not get enough info. Please provide required info and reopen. Thanks.

[2016-08-29 09:47] #10396 closed

[2016-08-29 09:47] sandy081 commented on #10419
Closing this issue since we did not get enough info. Please provide required info and reopen. Thanks.

[2016-08-29 09:47] #10419 closed

[2016-08-29 09:47] sandy081 commented on #10434
Closing this issue since we did not get enough info. Please provide required info and reopen. Thanks.

[2016-08-29 09:47] #10434 closed

[2016-08-29 09:48] sandy081 commented on #10431
Closing this issue since we did not get enough info. Please provide required info and reopen. Thanks.

[2016-08-29 09:48] #10431 closed

[2016-08-29 09:48] sandy081 commented on #10460
Closing this issue since we did not get enough info. Please provide required info and reopen. Thanks.

[2016-08-29 09:48] #10460 closed

[2016-08-29 09:51] joaomoreno opened #11088 "Missing extension update telemetry event"
cc @kieferrm @seanmcbreen

[2016-08-29 09:53] joaomoreno opened #11089 "Missing extension recommendations telemetry"
cc @kieferrm @seanmcbreen

[2016-08-29 09:54] sandy081 commented on #10785
@whitecolor Yes these are provided through theme extensions only not through user settings.

[2016-08-29 09:54] #10785 closed

[2016-08-29 09:54] #10016 closed

[2016-08-29 09:59] dbaeumer commented on #10494
Closing since no response happened in 14 days.

[2016-08-29 09:59] #10494 closed

[2016-08-29 10:01] sandy081 commented on #10451
@alexandrudima and @isidorn Assigning this back to you so that you can provide the discussed solution for this.

Thanks

[2016-08-29 10:03] sandy081 commented on #10989
Instead of introducing one more UI action, I would think of introducing a new command for clearing console which can configured through a key board binding.

[2016-08-29 10:11] PawelGIX opened #11090 "Can't type Polish characters in editor"
- VSCode Version: 1.4.0 (1.4.0)
- OS Version: MacOS 10.10.5 (14F1808

Steps to reproduce:

1. Add Polish Pro keyboard in System Preferences and try type in editor

2. ALT + z
3. ALT + c
4. ALT + n

Expected results:
2. ż
3. ć
4. ń

[2016-08-29 10:20] dbaeumer commented on #5954
I can't reproduce this with the upcoming 1.5 bits anymore (even with an open lib.d.ts). I will close the issue. Please ping if you still see this in 1.5
![capture](https://cloud.githubusercontent.com/assets/1931590/18048519/eb1771f8-6de2-11e6-93e4-7d71d9457861.png)

[2016-08-29 10:20] #5954 closed

[2016-08-29 10:25] weinand opened #11091 "Test: debug target launching in integrated terminal"
Test for #10574:
complexity: 4

- [x] Windows - **@ramya-rao-a**
- [x] OS X - **@sandy081**
- [x] Linux - **@rebornix**

In this milestone it is now possible to launch the node debug target in the 'integrated terminal' which helps when developing node.js-based command line applications that read from input and/or need to control the terminal they are running in.

Since there are now three options

[2016-08-29 10:29] bpasero commented on #10971
@embc89 you can set the encoding either as a setting or from the status bar.

[2016-08-29 10:29] #10971 closed

[2016-08-29 10:37] 4c74356b41 commented on #11030
How does that help?

[2016-08-29 10:40] weinand commented on #10998
Consider to show the plug on top of a red square. With this the icon is always strong and red but in case of disconnect, it conveys the slightly different semantics.

[2016-08-29 10:53] alexandrudima commented on #10451
@johnfn The state we will ship with in August is that the debug repl will be vim-enabled (just another regular TextEditor as far as extensions are concerned). This makes it possible to use vim-style keybindings in the repl:

![console-vim](https://cloud.githubusercontent.com/assets/5047891/18049285/939aa274-6de7-11e6-9dea-2fa70ec2d7a3.gif)

[2016-08-29 10:57] alexandrudima commented on #11086
The model already supports (offset,len) <-> (line,col) conversions.

This feature request asks for:
* adoption in go to line @bpasero
* adoption in status bar @bpasero
* adoption in API @jrieken

[2016-08-29 10:59] bpasero commented on #11086
@Emasoft I suggest to file separate issues for the 3 components of this one.

[2016-08-29 11:02] jeff881208 commented on #1023
We need this feature

[2016-08-29 11:04] bpasero commented on #10794
@SetTrend you can use the `workbench.action.showAllEditors` command to show editors across all groups and navigate to them. By default its keybinding is `Ctrl+K Ctrl+P` but that can be changed.

[2016-08-29 11:23] visualperception opened #11094 "request for new system variable of ${worskpaceRootFolderName}"
- VSCode Version: 1.4.0
- OS Version: Windows 7

currently there is the system variable ${workspaceRoot}. This returns the full path to the workspace root so if your open folder is:

c:\folder1\folder2 then that is what ${workspaceRoot} returns.

that is fine if you want the full path returned but if you are developing a website and want to use tasks to intiate running the open file in a browser o

[2016-08-29 11:23] alexandrudima commented on #10945
Does not look like they will accept the PR in time for the August code freeze.

[2016-08-29 11:30] alexandrudima commented on #9384
Upon further thought, there is a bug hiding in here. `registerCommand` returns a `Disposable` which, when disposed, should unregister your custom `type` handler and revert back to the built-in `type` handler.

@jrieken - we discussed about this.

[2016-08-29 11:31] sandy081 opened #11095 "Extract the colors defined by editor as vs code custom settings in themes"
Currently editor has feature contributions those define some colors which does not go well with different themes. Extract those colors as vs code custom settings (non standard) in TM themes. This will allow theme writers to provide an appropriate matching color for these features.

### Range highlight (Find, Go to line, Go to symbol)
- [x] rangeHighlight

### Find / Replace
- [x] findMatch
- [x] c

[2016-08-29 11:38] sandy081 commented on #9631
@bgashler1 Implementation of reading VS Code specific (non standard) settings in TM themes is tracked here #11095. List of settings defined there are already extracted. Please feel free to add more if you think of any.

[2016-08-29 11:38] #10613 closed

[2016-08-29 11:38] #11055 closed

[2016-08-29 11:38] #10541 closed

[2016-08-29 11:38] sandy081 commented on #1636
Extraction some non standard VS Code specific colors into TM themes is implemented here - #11095.

Next step is to compute a reasonable color if missing

[2016-08-29 11:43] johanbove opened #11096 "Code Helper is overloading CPU"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Open Visual Studio Code
2. Open a project
3. Open activity monitor and check that % CPU is over 100

ActivityMonitor analysis .txt file: https://www.dropbox.com/s/0zrsjo7c1aas4qs/ActivityMonitorCodeHelperAnalysis.txt?dl=0

[2016-08-29 11:43] formulahendry opened #11097 "Fall back to read contributes.configuration?"
- VSCode Version: 1.4
- OS Version: Windows 10

I have an [extension](https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner) which will read the contributes.configuration called "code-runner.executorMap". (GitHub repo: https://github.com/formulahendry/vscode-code-runner)
By default, it is like below:
[code]
After I remove the `"javascript": "node"` in User Settings or Works

[2016-08-29 11:46] bgse commented on #11065
@mysticman It is a little hard to notice, the little "text lines" buttons is active when it searches only in current selection, see screenshot.

![search_selection](https://cloud.githubusercontent.com/assets/8385202/18050435/d8621e80-6dee-11e6-8f26-3866d3a590f3.png)

[2016-08-29 11:47] johanbove commented on #11096
Seems like a duplicate of #9572

[2016-08-29 11:47] robertoclavijob commented on #11043
ok thanks @sandy081 @faustinoaq

[2016-08-29 11:51] #10934 closed

[2016-08-29 11:51] alexandrudima commented on #10934
@sandy081 Please verify this one

[2016-08-29 11:52] lgreenlee commented on #10850
@sandy081 Hello! Thanks for getting back to me. The project is relatively small less than 50 classes, it is a C# project. It is in a private git repo, I will be unable to share it as it is company confidential. I have nothing that would be considered "special". I have a handful of extensions and I tried disabling all of the extensions (except the c# extension, which I need) however, this action di

[2016-08-29 11:54] JPRock commented on #11042
@joaomoreno When I download the "VSCode-darwin-stable.zip” file from Microsoft’s server, it goes into the “Downloads” folder by default. Then I extract the contents of the archive and a "Visual Studio Code.app" file is created.

I can double click the .app file from the Downloads folder and I’ll briefly see the icon appear and bounce a couple of times in the Dock. But from what I’ve read from onli

[2016-08-29 11:56] dbaeumer commented on #11096
@bpasero assigning to you. I saw that you had similar issues as well.

@johanbove could you please provide the command line of the Code Helper process causing the high CPU usage. And can you reproduce this without having any extension installed.

[2016-08-29 11:57] ruchanb opened #11098 "c# code with #region, "" and / formatting issue"
- VSCode Version: 1.3.1
- OS Version: Windows 10

Steps to Reproduce:

![image](https://cloud.githubusercontent.com/assets/11032047/18050645/97367156-6e0f-11e6-81fe-bbce94bd8000.png)

The formatting goes bad when the `#region` has `""` and `/` on it.

[2016-08-29 11:58] dbaeumer commented on #11094
@visualperception a good opportunity for a PR.

[2016-08-29 11:58] MehdiDehghani commented on #11068
As you know `Vash` engine offers `Razor like syntax`, so if you want something official, I think you need to take a look on Razor example in `ASP.NET MVC`, here is screenshot of a Razor file in `VS2015`:

![untitled](https://cloud.githubusercontent.com/assets/9152330/18050507/43775bda-6e04-11e6-91d4-73583eaf7b02.jpg)

The very important feature that you should care about in your extension, is mixi

[2016-08-29 11:59] alexandrudima commented on #10908
From debugging, each nested level increases the rule stack by 4 elements. Rule stack length at the end of each line:

[code]

[2016-08-29 11:59] alexandrudima commented on #10908
Let's track in #9937

[2016-08-29 12:00] alexandrudima commented on #9937
From #10908 ... looks like the JS grammar pushes +4 rules per embedded function.

[2016-08-29 12:01] #10908 closed

[2016-08-29 12:01] #11098 closed

[2016-08-29 12:02] ruchanb commented on #11098
I think this issue is to posted to csharp plugin provider

[2016-08-29 12:02] #10479 closed

[2016-08-29 12:02] #11040 closed

[2016-08-29 12:02] dbaeumer commented on #11098
This issue was moved to OmniSharp/omnisharp-vscode#731

[2016-08-29 12:04] alexandrudima commented on #11090
@PawelGIX Did you install any extensions? Are you perhaps pressing `AltGr`? What happens when you type the same key combination in the `Define keybinding widget` (`Preferences` > `Keyboard Shortcuts`):

![image](https://cloud.githubusercontent.com/assets/5047891/18050864/6cb0f3ac-6df1-11e6-9fda-4513bb3f34a5.png)

You can then search for the displayed string in the default keybindings (in the left)

[2016-08-29 12:05] mrmlnc opened #11099 "Invalid text selection with two @ symbols"
- VSCode Version: 1.4.0 + 1.5.0 (92d3324e3d05a6d2b765c08651d89e9ec1d19f4c)
- OS Version: Windows 10 redstone 1

Steps to Reproduce:

  1. Create document with any syntax.
  2. Write: `<p>@@</p>`
  3. Double-click on `@@`

![2016-08-29_15-01-07](https://cloud.githubusercontent.com/assets/7034281/18050806/6f4b2ecc-6df9-11e6-92c1-f6adf4a10e09.gif)

P.S.: Sorry if this issue already exists. I tried to

[2016-08-29 12:06] #8509 closed

[2016-08-29 12:08] alexandrudima commented on #10800
@isidorn I am looking into creating a boolean option for this

[2016-08-29 12:08] dbaeumer commented on #6578
To much catchup work in August. What I implemented so is to show only a auto closing message if the task is a watch task and the user tries t o start it again. Will also ease this implementation since the task system now tells a caller about the state of the system.

[2016-08-29 12:13] alexandrudima commented on #5892
This ability exists through themes => closing this

[2016-08-29 12:13] #5892 closed

[2016-08-29 12:16] thorn0 commented on #10497
I'm facing this issue with the latest Insiders builds. Even though, I have `"update.channel": "none",` in `settings.json`, it keeps updating itself and the `Check for updates...` menu item is still there. I'm on mobile data now and would be happy to disable these updates ASAP.

[2016-08-29 12:16] isidorn commented on #10800
@alexandrudima that would be lovely!

[2016-08-29 12:17] visualperception commented on #11094
Thanks muchly.
And I would its just the folder name without any slashes. Slashes are easy to add in arguments but not easy to take out of variables in json

[2016-08-29 12:18] alexandrudima commented on #10937
@Ruikuan @fantacytyx I have started some time ago a Wiki page where we collect different manual tests for different input methods. Please notice how the tests are written "for dummies" with all the needed steps spelled out.

https://github.com/Microsoft/vscode/wiki/IME-Test

Is it possible that maybe you comment in here such a test for the Sogou pinyin Chinese input method such that in the future

[2016-08-29 12:22] PawelGIX commented on #11090
@alexandrudima
Thanks. That was default keybindings. I just override it with empty command like this:
[code]

[2016-08-29 12:23] joaomoreno commented on #10497
@thorn0 Are you on OS X?

[2016-08-29 12:24] thorn0 commented on #10497
Windows 7, x64.

[2016-08-29 12:25] joaomoreno commented on #11032
@jrieken Isn't this up to each language to implement? Understanding `@summary` and `@description`?

[2016-08-29 12:25] alexandrudima commented on #10874
@bpasero I cannot reproduce. I did touch code in this area and this is worrying, but simply opening a diff editor doesn't seem to trigger the issue for me.

[2016-08-29 12:27] isidorn commented on #10326
Same as for the editor you have to 'Toggle use of tab key for setting focus' after that you can tab out of the debug repl input

[2016-08-29 12:27] joaomoreno commented on #11042
Try running it from the Terminal. Open the `Terminal` application and execute the application from the command line:

[code]

[2016-08-29 12:31] dbaeumer opened #11100 "Test: ESLint"
Test for https://github.com/Microsoft/vscode-languageserver-node/issues/79
Complexity: 3

- [x] any OS - **@isidorn**
- [x] any OS - **@roblourens**

The module resolving algorithm to load the eslint library has been re-implemented. It now looks for the eslint module in the parent folder of the workspace folder as well. Frist install this ESLint extension
[vscode-eslint-1.0.1.zip](https://github.c

[2016-08-29 12:32] isidorn commented on #11067
Debug console has limitations in this area, dup of #6845

[2016-08-29 12:32] #11067 closed

[2016-08-29 12:34] isidorn commented on #10998
Sounds good to me that the red should be the dominant color. @bgashler1 can you please update the icon?

[2016-08-29 12:35] jrieken commented on #11032
I believe this is about spacing in LI-tags

[2016-08-29 12:36] #11090 closed

[2016-08-29 12:37] alexandrudima commented on #11051
I'm also suspecting this is a Chromium / Electron issue

[2016-08-29 12:39] spraguey commented on #10890
@bpasero
[Code - OSS Helper_2016-08-26-092437_mac-6.txt](https://github.com/Microsoft/vscode/files/442397/Code.-.OSS.Helper_2016-08-26-092437_mac-6.txt)

[2016-08-29 12:39] jrieken commented on #11097
`getConfiguration` is a mirror of the equivalent method in the service. unsure why the value is still there but my guess is that it's a default value

[2016-08-29 12:39] alexandrudima commented on #10800
@isidorn I will track the work in #7942

[2016-08-29 12:41] joaomoreno commented on #10497
Thanks for the ping, @thorn0

[2016-08-29 12:41] #10497 closed

[2016-08-29 12:42] #10989 closed

[2016-08-29 12:43] joaomoreno opened #11101 "Fix lists in hover widget"

[2016-08-29 12:44] joaomoreno commented on #11032
I don't think so.

@craxal If the list item spacing bothers you, #11101 is the issue to follow. If, on the other hand, You want the language server to understand `@summary` and `@description` in docs, [`vscode-typescript`](https://github.com/Microsoft/vscode-typescript) is where you should file that issue.

[2016-08-29 12:44] #11032 closed

[2016-08-29 12:44] isidorn commented on #10989
I have added the clear output global workbench action, clear debug console was added last week and should be available in the insders vscode

[2016-08-29 12:49] #7942 closed

[2016-08-29 12:49] alexandrudima commented on #10800
@isidorn Option is `renderLineHighlight`

[2016-08-29 12:52] isidorn commented on #9886
Went back to the previous behavior. Moving this to the backlog until we decide if we want to show a preview for each object.

[2016-08-29 12:53] #11088 closed

[2016-08-29 12:53] #11089 closed

[2016-08-29 12:54] joaomoreno commented on #9886
It's also not about _if_... I think we can all agree that showing a preview is better than not showing one, in a collapsed state.

[2016-08-29 12:54] aeschli commented on #10338
@snicholson13 I'd still need a reproducible example.
Do you have a 30 objects nested in each other? That would explain it. It would be the same issue as #9937

[2016-08-29 12:54] #10800 closed

[2016-08-29 12:54] isidorn commented on #10800
@alexandrudima works like a charm!

[2016-08-29 12:55] DanTup commented on #10912
@jrieken After playing with this, I think still having the diagnostic text hang around even though it's been fixed (the squiggle gone and gone from problems list) is a bit confusing; it looks like a bug that the error wasn't cleared (it references a misspelled call that doesn't exist anymore).

![Code fix](https://cloud.githubusercontent.com/assets/1078012/18052011/e0216eea-6def-11e6-870e-3b93ccbe

[2016-08-29 12:56] jkarr opened #11102 "The Find/Replace window covers the content"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.Open a file with lots of content
2.Press Ctrl+F or Ctrl+H and the content underneath the find/replace is hidden

[2016-08-29 12:57] markhuang1212 commented on #4369
@Jakeii Will it get fixed recently? Since this issue has existed for months.

It's really important for me because inline script is more convenient for creating web components.

[2016-08-29 12:58] Qiudays opened #11103 "Python raw_input and input"
- VSCode Version:1.4.0
- OS Version:win7 x64

Steps to Reproduce:

1. Python 的 raw_input 和 input 函数没法交互执行。

[2016-08-29 12:59] JacobGunther12 commented on #10746
@aeschli Nope, just a couple of extensions for PHP debug and C++ C# stuff that I might use in the future. The file I'm editing is on my PC.

[2016-08-29 13:04] aeschli commented on #10294
We've added a new contribution point 'iconThemes'. See #10804 for more information

[2016-08-29 13:04] #10294 closed

[2016-08-29 13:05] jrieken commented on #10868
After experimenting with this we decided not to show the light bulb on hover. Since you can hover anywhere (far away from your cursors) it a little unclear to what position the light bulb refers to. Also it's unclear it then two light bulbs should show (one for the hover position and one for the cursor position) or how the light bulb should move

![aug-29-2016 15-01-36](https://cloud.githubusercon

[2016-08-29 13:05] #10868 closed

[2016-08-29 13:06] DanTup commented on #10912
@jrieken Sorta-related, if the diagnostic gets replaced (eg. the text changes because you edit the document) it also doesn't update, so you end up with an incorrectly-worded diagnostic in the popup.

See here, I edit the doc so that `mai` is `mi` and the diagnostic in the problems window updates, but not the popup.

![Code fix update](https://cloud.githubusercontent.com/assets/1078012/18052295/6c3

[2016-08-29 13:09] isidorn commented on #10813
Closing until more data is provided .

[2016-08-29 13:09] #10813 closed

[2016-08-29 13:14] isidorn opened #11104 "Special ReplEditor"
When creating an editor I should be able to list the contributions I want my editor to have.
My use case is the debug repl input which only needs a limited set of conttributions.

[2016-08-29 13:15] isidorn commented on #10976
Only copying what is currently visible is dup of https://github.com/Microsoft/vscode/issues/2163

[2016-08-29 13:21] isidorn commented on #11085
This is an issue with the C++ extension, since this knowledge is coming from the C++ debug adapter, vscode is just displaying it.
Can you please move this issue to https://github.com/Microsoft/vscppsamples/issues
Thanks!

[2016-08-29 13:21] #11085 closed

[2016-08-29 13:24] jhaisley opened #11105 "Support msdepoy/publishsettings"
VS Code should support MS Deploy & publishsettings files, webmatrix users are directed to VS.Code, and are unable easily work with Azure app services as a result of the lack of support.

[2016-08-29 13:30] #11022 closed

[2016-08-29 13:31] lgreenlee commented on #10850
I am having some difficulty collecting the CPU profile. The UI remains partially responsive, resizing works however the panels in the UI do not refresh. After this happens the ability to stop and save the profile goes away. I will keep trying.

[2016-08-29 13:32] egamma commented on #11084
@whitecolor insiders update only go forward. Our approach is to fix an issue on the same day. The development team is using the insider channel for all the development work. If the insiders build is broken then users can fallback on the stable version.

The icon extension depends an internals and is always at risk of being broken, we cannot keep all internal stable. To fix this we have added an AP

[2016-08-29 13:32] #11084 closed

[2016-08-29 13:33] jrieken commented on #6874
Closing. The remaining work is  #10561

[2016-08-29 13:33] #6874 closed

[2016-08-29 13:33] jrieken commented on #10455
Moving to September as this grew larger but also into a more powerful future-proof story.

[2016-08-29 13:36] ywaby commented on #10696
@alexandrudima
![image](https://cloud.githubusercontent.com/assets/12198203/18052750/b73f2a46-6e2e-11e6-8b45-3e86ac23beb8.png)
my default set is
[code]
alter add setting.json, problem has solve . unknow reason.
[code]
![image](https://cloud.githubusercontent.com/assets/12198203/18053023/0d3b8f06-6e30-11e6-80e2-18ed89f3e4a1.png)

[2016-08-29 13:38] bpasero commented on #4512
Pushed as `search.quickOpen.includeSymbols` (disabled by default).

[2016-08-29 13:38] #4512 closed

[2016-08-29 13:40] bpasero commented on #5954
@dbaeumer this is because some changes made the symbols disappear in quick open due to timing. I now provide a setting so that you can force the symbols from showing up (see https://github.com/Microsoft/vscode/issues/4512).

No matter what, please verify using Ctrl+T (open symbol) to be sure you hit the language service properly.

[2016-08-29 13:40] bpasero commented on #5638
The delay is no longer being used once the file search cache is hot (which it is quickly). Closing.

[2016-08-29 13:40] #5638 closed

[2016-08-29 13:41] bpasero commented on #5638
Verifier: run a quick open once for files and in the future verify that results are coming in fast and without noticable delay.

[2016-08-29 13:45] bpasero opened #11106 "Test: new setting to include symbols in quick open"
- [x] any OS **@sandy081**

With https://github.com/Microsoft/vscode/issues/4512 there is a new setting `search.quickOpen.includeSymbols` to include symbols in quick open (`Cmd+P`) search.
Verify:
* by default this is disabled and file results are coming in fast and reliable
* when enabled you also see symbol results coming in (as with 1.4) but now we are waiting for the results to actually come i

[2016-08-29 13:46] jrieken commented on #10925
(NOTE: Terminal has now been disposed, but extension is not aware of this)

@Tyriar I am a little confused because of that. I assume that is the same as calling `hide` where `ctrl+c` is like `dispose`

[2016-08-29 13:46] whitecolor commented on #11084
Ok just wanted to make sure if it is possible.

[2016-08-29 13:48] rafa-acioly commented on #5908
same here.

[code]

[2016-08-29 13:48] sVathis opened #11107 "C color coding stops after line with specific syntax"
[foo.zip](https://github.com/Microsoft/vscode/files/442500/foo.zip)

- VSCode Version: Code - Insiders 1.5.0-insider (92d3324e3d05a6d2b765c08651d89e9ec1d19f4c, 2016-08-29T06:09:51.858Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. Unzip attached file
2. Open included foo.c
3. Goto line 93. All code after that line is not colored.

All extensions were disabled

Same behavior also

[2016-08-29 13:51] weinand commented on #9886
The variableRequest already has the notion of a 'preview' for structured objects: it is the `value`attribute. And this value is already used in the REPL (and in the Variables view).
The only thing that is missing is that debug adapters return more info than just 'Object' or 'Array[5]'.

I suggest that we switch to the non-auto-expand behaviour now. We cannot wait until all debug adapters have impr

[2016-08-29 13:51] jrieken opened #11108 "Test stable quick pick/input"
#9918 **@bpasero**

- [x] any OS

Test that `showQuickPick` and `showInput` now support a `ignoreFocusOut` flag which makes them not close when focus is lost. Test all sort of combinations with API'ish quick pick and 'our' quick pick, like the command palette

[2016-08-29 13:56] jrieken commented on #11108
FYI - to test against the latest API do the following:

* open your extensions `package.json` file
* change the `engine.vscode` property to `*`
* run `npm run postinstall` (assuming you have the `vscode` module as dev-dependency)
* undo the engine-version change from step 2

[2016-08-29 13:56] lycaste opened #11109 "is there any other ways to install extensions,it always 'end of central directory record signature not found'"
- VSCode Version:Version 1.4.0 (1.4.0)
- OS Version:MacOS 10.11.6

Steps to Reproduce:
some extensions like  Debugger for Chrome always 'end of central directory record signature not found'.
but some small extensions are ok.

[2016-08-29 13:59] jrieken opened #11110 "Test cancelable input/quick pick"
- [x] any os **@bpasero**

tests #9377

The calls for `showInputBox` and `showQuickPick` now allow to pass in a cancellation token that hides them again. Test that cancelling programmatically yields the same results as manually (promise resolves to `undefined`).

[2016-08-29 14:00] jrieken commented on #11110
FYI - to test against the latest API do the following:

* open your extensions `package.json` file
* change the `engine.vscode` property to `*`
* run `npm run postinstall` (assuming you have the `vscode` module as dev-dependency)
* undo the engine-version change from step 2

[2016-08-29 14:00] alexandrudima commented on #10696
That is most weird, but I'm happy it fixes the problem for your machine.

[2016-08-29 14:00] #10696 closed

[2016-08-29 14:01] jrieken opened #11111 "Test completion enhancements"
- [x] any os **@joaomoreno**

tests #6874

We enriched the suggest API such that suggestions are now able to specific additional text edits and an additional command to run. Test that thing work as you would expect them to work.

[2016-08-29 14:01] jrieken commented on #11111
FYI - to test against the latest API do the following:

* open your extensions `package.json` file
* change the `engine.vscode` property to `*`
* run `npm run postinstall` (assuming you have the `vscode` module as dev-dependency)
* undo the engine-version change from step 2

[2016-08-29 14:01] sVathis commented on #11107
Possibly related to #9937 or #11043?

[2016-08-29 14:03] pcgeek86 commented on #11039
@joaomoreno Yes, the `inventory-app` is a private fork of `sc-sample-inventory`. That is why you see a slight discrepancy between the screenshot and the repro steps. We don't allow access to the private fork.

We moved everything into a subfolder named `frontend`, though in theory, the name of the subfolder should be irrelevant.

[2016-08-29 14:03] ivancuric opened #11112 "Add an option to prevent copying an empty selection"
Like the title says, when nothing is selected, copying shouldn't copy a blank character.

[2016-08-29 14:06] jrieken opened #11113 "Test lazy WorkspaceSymbolProvider"
- [x] any **@joaomoreno**

tests #890

Test that you can now implement a 'lazy' workspace symbol provider. That is one that returns incomplete symbol information but offering a `resolve` method that is invoked when a symbol is selected in the UI.

[2016-08-29 14:06] jrieken commented on #11113
FYI - to test against the latest API do the following:

* open your extensions `package.json` file
* change the `engine.vscode` property to `*`
* run `npm run postinstall` (assuming you have the `vscode` module as dev-dependency)
* undo the engine-version change from step 2

[2016-08-29 14:10] #10754 closed

[2016-08-29 14:18] siegebell commented on #10161
@leafli7 you could also try the [incremental-search extension](https://marketplace.visualstudio.com/items?itemName=siegebell.incremental-search).

For your example, either:
a) create a new cursor for each line (`ctrl+alt+down`), type `ctrl+i`, type `9`, and then press `enter`; or
b) with just one cursor, type `ctrl+i`, type `9`, type `shift+alt+i` 8 times (to add to the selection), and then press

[2016-08-29 14:20] jrieken commented on #10865
@whitecolor What you are seeing there is signature help which API-wise is something different from a tooltip (HoverProvider vs SignatureInfoProvider). With the former you can in theory already do this (depends on each language extensions) the latter you cannot and it will require breaking API changes which we are not eager to make any time soon.

[2016-08-29 14:21] jrieken commented on #10293
Closing as there is now a better heuristic for this and since the real change will require API breakage which we aren't eager on

[2016-08-29 14:21] #10293 closed

[2016-08-29 14:22] zhenzhenkeai commented on #8928
Not see the prompt in Html file write the javascript

[2016-08-29 14:23] jrieken commented on #10751
closing as dup of #10266

[2016-08-29 14:23] #10751 closed

[2016-08-29 14:23] zhenzhenkeai commented on #8928
I want to vscode add the javascript prompt in the html file

[2016-08-29 14:24] siegebell commented on #8341
see also #8003.

@aeschli are you implying that empty ranges should not be supported? If so, then the documentation should be updated.

[2016-08-29 14:24] joaomoreno commented on #11039
The thing is: I can't reproduce it. I also doubt you can reproduce it in another repository.

Without those original bits, it's hard for me to know what kind of setup your repository has and let you know what the problem is.

[2016-08-29 14:35] whitecolor commented on #10865
@jrieken
Ok I just wanted to draw attention on this problem, you know better is possible and what is not)

[2016-08-29 14:39] #11039 closed

[2016-08-29 14:40] pcgeek86 commented on #11039
@joaomoreno We literally just forked the repository and cloned it locally. Thanks for trying to reproduce it. Let me see if I can repro using our private fork again, and I'll reopen with more specific steps.

[2016-08-29 14:47] bpasero opened #11114 "Quick open: resolveHandler() being called often and complicated?"
I am a bit puzzled why we call `resolveHandler` in https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/browser/parts/quickopen/quickOpenController.ts many more times than we used to and why there is such a complicated logic to handle this.

As a reference here is how it used to work: https://github.com/Microsoft/vscode/blob/1.4.0/src/vs/workbench/browser/parts/quickopen/quickOpenContr

[2016-08-29 14:47] ericmaier commented on #11037
I thought this was just ported with VSIX from VS-SDK. I will update my install and see what happens. I'm having to perform project searching with a 3rd party text editor (sublime). Not the ideal development environment.

[2016-08-29 14:59] bpasero commented on #10874
@alexandrudima I can reproduce and show you if you want, just drop by

[2016-08-29 15:03] ericmaier commented on #11037
Updated my VS Code install and performed search like normal and experienced a new behavior. I initiated a search from the VS Code search GUI and in my task monitor window I watched Antimalware Service Executable kicked off like it has been. But then for the first time, search completed with results and the Antimalware Service went from 100% CPU to back down to <5% CPU as its normal state. The enti

[2016-08-29 15:03] bpasero commented on #10890
@spraguey is it ok to share this with the Electron team via issue? I can file it if you want.

[2016-08-29 15:05] DanTup commented on #10912
@jrieken Sorry for all the comments! Also noticed that when you have this popup open, any keypress seems to remove focus from the editor, so it's impossible to edit the document (first keypress works, further keypresses do not)!

[2016-08-29 15:07] bpasero commented on #11037
Ok great to hear. My feeling is that your OS configuration just protects access to file resources. We made search a lot faster so you notice it less, but I think the issue still persists.

Leaving for @chrmarti to decide how to continue with this issue.

[2016-08-29 15:08] spraguey commented on #10890
@bpasero Yes, feel free to share.

[2016-08-29 15:09] bpasero commented on #11097
Yup thats it: https://github.com/formulahendry/vscode-code-runner/blob/master/package.json#L80

[2016-08-29 15:09] #11097 closed

[2016-08-29 15:11] bpasero commented on #10874
![untitled](https://cloud.githubusercontent.com/assets/900690/18056308/a4722ac6-6e0b-11e6-90ff-d1b6d5e791dc.gif)

[2016-08-29 15:15] aeschli commented on #10361
fixed by vscode-css-languageservice@0844f07c25a8dc6e4a1a83ca3bff0d613b65e4f5

[2016-08-29 15:15] #10361 closed

[2016-08-29 15:17] bpasero commented on #10890
@spraguey ok filed as https://github.com/electron/electron/issues/7022

Back to trying to understand what is going on, some questions:
* does it also happen if you do File > Close Folder, then open any file from the drive via File > Open and then the network drive going down?
* does it happen if you open a folder from the network drive without having any file open? try to close all files first and

[2016-08-29 15:18] #9797 closed

[2016-08-29 15:19] #10653 closed

[2016-08-29 15:21] dantesun commented on #9572
I have the same issue here. The cpu load becomes high once I opened a package.json file. Below are the package.json file and "Code Helper" command lines. So I think it might related to npm intellisense.
`
{
  "name": "ng-book2-reddit",
  "version": "1.0.0",
  "private": true,
  "scripts": {
    "clean": "rm -f ./*.js; rm -f ./*.js.map; rm -f ./intermediates/*.js; rm -f ./intermediates/*.js.map",

[2016-08-29 15:22] cbolivar82 commented on #10968
Hi @joaomoreno thank you for your response!, but I mean when you need "Open folder" from the context menu (right click). You can see this example like "Atom" has this option:
![image](https://cloud.githubusercontent.com/assets/7227181/18056633/ab87cb44-6dda-11e6-8a76-3c0baa30f117.png)

That is my point, We don't have available this option in the context menu.

Thanks!
@

[2016-08-29 15:23] egucciar commented on #11034
seems like this was an issue with not running the VSInsiders with elevated rights and/or the VSInsiders not being start up the right way. working now

[2016-08-29 15:23] #11034 closed

[2016-08-29 15:24] joaomoreno commented on #11101
Actually, merging into #2330

[2016-08-29 15:24] #11101 closed

[2016-08-29 15:25] joaomoreno commented on #2330
Started to work on this: https://github.com/joaomoreno/vscode/tree/hover

Moving to September though.

[2016-08-29 15:28] joaomoreno commented on #10968
![image](https://cloud.githubusercontent.com/assets/22350/18056855/ed4955e2-6e0d-11e6-922c-b7344ae0b5af.png)

![image](https://cloud.githubusercontent.com/assets/22350/18056865/fe7e218a-6e0d-11e6-94e5-a9a737cc4b1f.png)

[2016-08-29 15:39] Matt-Butler commented on #10943
+1, I would really like this feature too! I prefer to use the color highlight extension

[2016-08-29 15:43] pelicanenglw opened #11116 "Debugger fails to connect OSX 10.11.6 - ReactNative Project"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:41:29.513Z)
- OS Version: Darwin x64 15.6.0

Steps to Reproduce:

1. Press Green play button.
2. Get Error - Cannot launch debug target (spawn node ENOENT).

Node - v4.2.1
ESLint - v3.4.0

VSCode extension versions
![screen shot 2016-08-29 at 12 42 31 pm](https://cloud.githubusercontent.com/assets/1039491/1805736

[2016-08-29 15:44] pelicanenglw commented on #11116
Target is iOS.  Have not tried Android.

[2016-08-29 15:47] gregvanl commented on #10179
Why don't we pull down the release notes .md file from GitHub during the build and include the markdown in the product install?  That way offline users can still read the release notes and we don't have the complication of a web call.
The only time we'd update the notes post release would be a recovery build which would pull down the updated Markdown file.

[2016-08-29 15:47] Lywangwenbin commented on #9865
VS Code V1.4, Mac OS X EI Captian 10.11.6. suddenly pop up with "Unable to open the file because the associated text model is undefined.。"Then I restart the visual code, there is no wrong.

[2016-08-29 16:10] #9384 closed

[2016-08-29 16:22] alexandrudima commented on #10874
Ok, I can reproduce with the additional step:
* keep focus in the git viewlet

[2016-08-29 16:26] alexandrudima commented on #10874
Alternative steps:
* click on the git viewlet
* the diff editor pops up
* keep focus in the git viewlet
* press ctrl+f

[2016-08-29 16:27] alexandrudima commented on #10874
Nice catch!

[2016-08-29 16:27] #10874 closed

[2016-08-29 16:28] alexandrudima commented on #9384
Nice!

[2016-08-29 16:36] LBLuffy commented on #1046
A feature that is in visual studio obviously should be in visual studio as well.

[2016-08-29 16:46] jgoshi commented on #10868
Ok sounds good. Thank you.

[2016-08-29 16:47] pulkitsinghal opened #11117 "Cannot exit visual studio"
- VSCode Version: `1.4.0`
- OS Version: `10.11.6 (15G31)`

Steps to Reproduce:

1. Open Terminal
2. run `code .`
3. quit visual studio
4. dock still shows icon and cannot `force quit`, it even blocks restart because process cannot be killed but there are no more processes named `code` or `code helper` in the `Activity Monitor`

<img width="95" alt="screenshot 2016-08-29 11 54 29" src="https://clou

[2016-08-29 16:48] joaomoreno opened #11118 "Test: Extension details view"
- [x] Windows **@stevencl**
- [x] macOS **@waderyan**
- [x] Linux **@gregvanl**

Complexity 2
Tests #10366

--

When viewing extensions in the Marketplace, you should now be able to see [which contributions](https://github.com/Microsoft/vscode/issues/10366#issuecomment-239848685) they bring in.

[2016-08-29 16:49] joaomoreno opened #11119 "Test: Improve extension bulk update story"
- [x] any OS **@isidorn**
- [x] any OS **@sandy081**

Complexity 2
Tests #8124

--

There is now an action to update all extensions under the `...` actions of the extension viewlet.

Also, there is an `extensions.autoUpdate` setting which will automatically update extensions when detected that they are out of date.

[2016-08-29 16:49] joaomoreno opened #11120 "Test: Support other sorting orders in the extensions viewlet"
- [x] any OS **@kieferrm**
- [x] any OS **@gregvanl**

Complexity 2
Tests  #8022

Under the `...` dropdown menu of the Extensions viewlet you'll now find sorting options.

[2016-08-29 16:53] FructuosoRobles opened #11121 "Divs in html don't make match"
- VSCode Version: 1.4.0
- OS Version:

HTML tags not matching I cannot see where my div ends in a large html, Im using .ejs engine

[2016-08-29 16:59] alexandrudima commented on #5678
Implemented with 0d5d779

[2016-08-29 16:59] #5678 closed

[2016-08-29 17:00] alexandrudima commented on #9897
pushing out, we need a spec first

[2016-08-29 17:16] bpasero commented on #10794
https://github.com/Microsoft/vscode/issues/4314

[2016-08-29 17:16] #10794 closed

[2016-08-29 17:16] bpasero commented on #2082
@marforic given the new option to keep quick open opened even on focus lost, would you agree this issue is resolved?

[2016-08-29 17:17] bpasero commented on #6554
https://github.com/Microsoft/vscode/issues/4870

[2016-08-29 17:17] #6554 closed

[2016-08-29 17:18] #10732 closed

[2016-08-29 17:20] alexandrudima commented on #10535
We need to figure out where we can take a shortcut. My thinking is that https://github.com/Microsoft/vscode/blob/master/src/vs/platform/commands/common/commandService.ts#L23 could be the place

[2016-08-29 17:25] alexandrudima commented on #10567
Here is the analysis. There is definitely some sort of grammar bug in there, but it doesn't look too bad. By the end of the file, there are 7 rules on the stack (instead of the expected 1):

[code]

[2016-08-29 17:27] alexandrudima commented on #9937
From #10567 ... The maximum reached depth is 31

[2016-08-29 17:27] pcherkasova opened #11123 "Support for csv/tsv files. Please."
- VSCode Version: Version 1.4.0 (1.4.0)
- OS Version: Mac OS

Steps to Reproduce:
1.
2.

[2016-08-29 17:33] pelicanenglw commented on #11116
Updated node to v6.5.0 no change

[2016-08-29 17:33] alexandrudima commented on #10567
I've extracted the grammar bug to Microsoft/TypeScript-TmLanguage#252

We should also bump the protection limit from 30 to some larger value. Let's track that in #9937

[2016-08-29 17:33] #10567 closed

[2016-08-29 17:36] #9937 closed

[2016-08-29 17:36] craxal commented on #11032
To clarify, I see these problems when writing in Typescript. Apologies if this should be brought to the Typescript team.

This is about line spacing more than the `@summary` and `@description` tags. The Intellisense boxes (or whatever they're called) render lots of extra whitespace. For example, it doesn't seem to distinguish paragraphs well. When I break up a long description comment into multipl

[2016-08-29 17:37] alexandrudima opened #11124 "Remove ITextModelWithTrackedRanges & co."

[2016-08-29 17:48] #1490 closed

[2016-08-29 17:50] sandy081 commented on #1636
5c70d8d4b1f16ff642761b55279ec24ae9573533 - Implements computing of selection highlight color from background and selection color when selection highlight color is not provided in the theme.

A less prominent color (relative to selection color) is computed based on the contrast between selection and background color. When themes have very small or big contrasts then we fall back to our default sele

[2016-08-29 17:52] sandeep100690 opened #11125 "#newFeature how to sync all extensions and setting to another machine"
- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

[2016-08-29 17:53] sandy081 commented on #1636
@alexandrudima Please verify this.

Please install various themes and verify only the computed / default selection highlight color.

[2016-08-29 17:53] #1636 closed

[2016-08-29 17:57] Tyriar commented on #10925
The `workbench.action.terminal.kill` command (bin icon) will kill the terminal instance, currently the API only goes one way so an API terminal does not know that a terminal has been disposed via the command. I'll look into making an `window.onDidCloseTerminal` similar to https://github.com/Microsoft/vscode/blob/1f412b5a1e52c661eb60f203fbdc43507430d5df/src/vs/vscode.d.ts#L3321

[2016-08-29 17:59] alexandrudima commented on #1490
Just merged the PR from @hashhar. Thank you @hashhar!

[2016-08-29 18:01] Tyriar commented on #11034
@egucciar strange, you shouldn't have needed to launch with elevated rights. I just updated on my Windows 10 machine and it all went smoothly. If you have any more issues please reopen and paste in the contents of the develop tools log (Help > Toggle Developer Tools) and also any terminal-related settings in your `settings.json`.

[2016-08-29 18:04] Tyriar commented on #9959
@whitecolor there is stuff happening around bringing the integrated terminal and debugging a little closer, that's the main use case for #9957 but we're only just exploring it right now. Clickable links is being tracked here #7321, before starting on this I think the upstream issue relating to the linkify addon needs to be looked at https://github.com/sourcelair/xterm.js/issues/27

[2016-08-29 18:07] hashhar commented on #1490
Thanks.

[2016-08-29 18:14] sandy081 opened #11126 "Tests for custom TM theme settings"
Test for #11095

- [x] Any OS - @bgashler1

Complexity 3

## Set up

- Clone the repository [VS Code Extension Samples](https://github.com/Microsoft/vscode-extension-samples)

- Open VS Code on **theme-sample**
- Run the extension using Launch Extension.

This will show Sample theme in themes selection dialog

Open **Sample_Dark.tmTheme** and **Sample_Light.tmTheme** files and play around with dif

[2016-08-29 18:26] johnfn commented on #10451
@alexandrudima I completely understand that, I just think it's unexpected and surprising behavior. I'm particularly concerned that users will believe that VSCodeVim has broken the debugging console, because they won't realize they have to go into insert mode first to start typing.

It took me a while to realize this, and I'm the *author* of the plugin!

Again, I think that this behavior should be

[2016-08-29 18:33] joaomoreno commented on #10179
Are we always done with the release notes at the time of the build?

[2016-08-29 18:36] Tyriar commented on #7345
Cannot repro:
- `"terminal.integrated.shell.windows": "\\windows\\system32\\cmd.exe"`
- `"terminal.integrated.shell.windows": "\\windows\\sysnative\\cmd.exe"`
- `"terminal.integrated.shell.windows": "powershell.exe"`
- `"terminal.integrated.shell.windows": "C:\\Windows\\sysnative\\WindowsPowerShell\\v1.0\\powershell.exe"`

Can repro:
- `"terminal.integrated.shell.windows": "C:\\Program Files\\Git\

[2016-08-29 18:39] waderyan commented on #11044
@sandy081 thank you for opening this issue. Below are the steps I have taken in an attempt to reproduce your issue. Can you run through these steps on your machine or clarify where I am in error?

1. Create a new folder with `test.ts` (copy and paste code below).
2. Create `tsconfig.json` with the code below.
3. Open the command palatte.
4. Type "Configure Task Runner"
5. Choose "TypeScript - tsco

[2016-08-29 18:45] sandy081 opened #11127 "Test Scrolling and Folding API commands"
Test for #9609 and #9786

- [x] Any OS **@weinand**

Complexity 4

## Set up

- Clone the repository [VS Code Extension Samples](https://github.com/Microsoft/vscode-extension-samples)
- Go to the folder **vim-sample** and do npm install
- Open VS Code on **vim-sample**
- Run the extension using Launch Extension.

This will run Vim sample extension and is referred as Vim editor from here after. Ver

[2016-08-29 18:51] #11095 closed

[2016-08-29 18:57] sandy081 commented on #11044
@waderyan I am not the author of this issue, I just triaged it :)

Pinging the author @FLWrd

[2016-08-29 19:04] Tyriar opened #11129 "Hovering cursor over integrated terminal on Mac shows a low-contrast cursor"
- VSCode Version: Code - Insiders 1.5.0-insider (06d85431730fe33beff7c56b5ef6f4514ad326ba, 2016-08-09T16:02:06.523Z)
- OS Version: Darwin x64 14.5.0

[2016-08-29 19:05] waderyan commented on #11044
Whoops! Sorry about that @sandy081. Mistyped.

[2016-08-29 19:21] aeschli opened #11130 "Test file icons themes (user experience)"
- [x] OSX  **@bpasero**
- [x] Linux **@isidorn**
- [x] Windows **@dbaeumer**

Test the new file icon theme from a user perspective
- Install the Seti icon theme from https://github.com/Microsoft/vscode-theme-seti

User experience:
- Test the icon theme picker at `File > Preferences > File Icon Theme`
  - test that you see a preview while browsing through the themes, but only in the current window

[2016-08-29 19:23] aeschli opened #11131 "Test file icon theme (developer experience)"
- [x] Font icon theme **@weinand**
- [x] svg or png icon theme **@sandy081**

Create your own icon theme using the documentation at https://github.com/Microsoft/vscode/issues/10804

[2016-08-29 19:24] JPRock commented on #11042
@joaomoreno Thanks. I copied the command from your post and pasted it into the `Terminal` and nothing happened. How bizarre.

[2016-08-29 19:33] pipja commented on #10927
Unfortunately it did not work, the only way I can do it was by installing the vsix package manually

[2016-08-29 19:39] #10774 closed

[2016-08-29 19:50] aeschli commented on #10456
@alexandrudima Alex, do you have an opinion on this one? I can set white-space: pre; but it would not look right if a proportional editor font is used.

[2016-08-29 19:50] aeschli commented on #8341
Empty ranges are not supported. I will update the documentation.

[2016-08-29 19:54] whitecolor commented on #9959
Cool. Though that seems a lot of work)

[2016-08-29 20:00] gregvanl commented on #10179
The past few releases we've been done with the release notes several days before the final build which happens after some days of Insiders bake time.  I don't think enforcing a head deadline would be a burden since the dev team has usually moved on to working on the next milestone by the time we release.

[2016-08-29 20:03] aeschli commented on #8014
duplicate of #10774

[2016-08-29 20:03] #8014 closed

[2016-08-29 20:05] JPRock commented on #11042
@joaomoreno Furthermore, I `cd` to the `Applications` directory and then `ls` and can see all the apps installed including `Visual Studio Code.app`. I suspect Microsoft’s version of VS Code for Mac OS X is not complete.

[2016-08-29 20:09] wprater commented on #3431
@bpasero was a new ticket opened?  I'd say this is a usability defect when working on macOS.

Seems we may need to add a new API to electron.

[2016-08-29 20:12] aeschli commented on #8014
@siegebell Thanks for the nice test case!
After the fix it looks like this:
![image](https://cloud.githubusercontent.com/assets/6461412/18065613/d869fd4e-6e34-11e6-94a0-00d204fa5326.png)

I realize that the after decoration inherits the text styles (strikethrough)...

[2016-08-29 20:23] aeschli commented on #8003
@siegebell Thanks a lot for the great example!

The problem is that we need a range of length >= 1. That unfortunately prevents annotating empty lines.
We will have to think about it more; there's no easy fix.

Closing as duplicate of #8341.

[2016-08-29 20:23] #8003 closed

[2016-08-29 20:23] #8341 closed

[2016-08-29 20:36] alexandrudima commented on #10456
@aeschli Perhaps we can do the replace on our side? I would not use `white-space: pre` on the line's spans, maybe you can only target the `:before` and `:after`

[2016-08-29 20:47] aeschli commented on #10456
The `white-space: pre` would only be on the :before/:after

[2016-08-29 20:49] frolov-alexey commented on #10978
@alexandrudima I don't have rights for that. But I can say that it doesn't have any jslint warnings/errors, and it is highlighted properly in Atom editor.

[2016-08-29 20:54] #10918 closed

[2016-08-29 20:55] alexandrudima commented on #10451
We are in a position (in the core) where we can block extensions from seeing this editor, but perhaps it is best to expose this editor and allow each extension to do as it pleases. For example, there could be an extension that contributes useful text commands in general, and end users would want them available in the repl (since the repl now uses an editor and no longer an `input` as its implement

[2016-08-29 20:58] Gama11 commented on #11130
That link seems dead? (getting a 404 page not found)

[2016-08-29 21:00] Tyriar opened #11132 "Write tests for terminal API in vscode-api-tests"

[2016-08-29 21:00] Tyriar commented on #9957
Closing this off as it believe it's done, forking the test task to https://github.com/Microsoft/vscode/issues/11132

[2016-08-29 21:00] #9957 closed

[2016-08-29 21:00] alexandrudima commented on #10978
Ok, that is not a problem. We have already some good cases for this in #9937

[2016-08-29 21:00] #10978 closed

[2016-08-29 21:03] alexandrudima commented on #10456
I think either ways could work fine. I don't think `white-space: pre` works only with monospace fonts. AFAIK it just control the behaviour of repeated spaces

[2016-08-29 21:03] siegebell commented on #10456
In 1.4.0, `white-space: pre` seems to work fine for monospaced fonts. I also tested it with Arial and Times New Roman, and it *almost* works: the before decoration is corrected, but the after decoration has an extra half-space between the As.

MWE: (this uses a code injection hack)
[code]

Observed:
![capture](https://cloud.githubusercontent.com/assets/16118166/18067381/8673d91c-6e0a-11e6-8977-490

[2016-08-29 21:11] Tyriar opened #11133 "Test: Integrated terminal API"
Test for #9957

- [x] Windows **@octref**
- [x] Linux **@rebornix**
- [x] Mac **@ramya-rao-a**

---

An API for the integrated terminal was added. See [`window.createTerminal`](https://github.com/Microsoft/vscode/blob/ae7e12fda1f81a7ecd7579bef7f140f2459ee307/src/vs/vscode.d.ts#L3497) and [`vscode.Terminal`](https://github.com/Microsoft/vscode/blob/ae7e12fda1f81a7ecd7579bef7f140f2459ee307/src/vs/vs

[2016-08-29 21:12] johnfn commented on #10451
Hmm... interesting. I'll float the idea to the vscodevim community and see what they think.

[2016-08-29 21:13] Tyriar opened #11134 "Test: Integrated terminal scroll bar"
Test for #10320

- [x] Windows **@ramya-rao-a**
- [x] Linux **@rebornix**
- [x] Mac **@kieferrm**

---

A scroll bar was added to the integrated terminal, try to break it! Some suggestions:

- Scroll one page at a time (ctrl+shift+pg up/down)
- Scroll one line at a time (see https://github.com/Microsoft/vscode/commit/7c734490c7ae54a217f7390a2a888f94ef3653e0, #10302)
- Scroll using mouse wheel/trac

[2016-08-29 21:17] Tyriar opened #11135 "Add commands to scroll to top and bottom of terminal"
`gnome-terminal`: shift+home/end
`cmd.exe`: ctrl+home/end
Mac terminal: home/end

[2016-08-29 21:20] nadako opened #11136 "images with relative paths in extension's README.md aren't shown in the extension manager"
- VSCode Version: 1.4.0
- OS Version: Windows 10

Steps to Reproduce:
1. Have an extension which has a README with images with relative path, e.g. https://raw.githubusercontent.com/vshaxe/vshaxe/master/README.md
2. Open extension manager, click on that extension - images aren't shown:

![](http://i.imgur.com/iqmry3h.png)

Note that those images are shown in Marketplace, on Github and when using VS

[2016-08-29 21:23] Tyriar opened #11137 "Test: True integrated terminal keybinding support"
Test #7269

- [x] Mac **@gregvanl**
- [x] Windows **@gregvanl**
- [x] Linux **@octref**

---

The new setting `terminal.integrated.commandsToSkipShell` was added that specifies a list of commands whose keybindings will not be processed by the shell first and instead propogate up to the vscode keybinding handler. For example the default is:

[code]

This ensures that all terminal commands are handl

[2016-08-29 21:26] waderyan commented on #10340
cc @seanmcbreen see above on design iterations.

[2016-08-29 21:36] digeff commented on #9556
+1 It takes several seconds when I use Open in Code to see the file, and I'd love for this to be instantaneous...

[2016-08-29 21:45] leira opened #11138 "How to find the current word under cursor in files?"
I know ⇧⌘F can start find in files, but is there a short cut can take the current word under cursor and start search, rather than select, copy, find in files, paste and enter?

[2016-08-29 21:53] alexandrudima commented on #10386
@edmundmk Rather than jumping and changing the seeding behaviour of `ctrl+f`, I am wondering if in step 4 for you , `f3` would be a more suitable shortcut. If you want to repeat the search, `f3` will take you to the next search hit without even losing focus in the editor.

[2016-08-29 21:55] alexandrudima commented on #10386
@edmundmk Here I am using `F3`. Is this the sort of thing you are trying to do?

![f3](https://cloud.githubusercontent.com/assets/5047891/18068914/0f927e54-6e44-11e6-85b2-dac0a1f3b9b0.gif)

[2016-08-29 21:57] #11132 closed

[2016-08-29 21:58] egamma opened #11139 "Test: Enable emmet for other languages #9500"
Test for #9500

- [x] Windows and Mac **@ramya-rao-a**, **@waderyan**
- [x] Any OS **@aeschli**

Complexity 1

You can enable emmet for other languages both as a user and as a language contributor.

## Enable emmet for a new language as a user.

As a user you can define an emmet syntax profile and associate an emmet supported profile to a language. For a list of supported emmet profiles see https:

[2016-08-29 22:03] #10922 closed

[2016-08-29 22:03] alexandrudima commented on #10922
Just merged in the PR from @sprinkle131313 . Thank you @sprinkle131313  !

[2016-08-29 22:09] frolov-alexey commented on #10978
@alexandrudima OK, looks like I'll have to remove VS Code and use another editor.

[2016-08-29 22:20] Tyriar opened #11140 "Increase contrast of default integrated terminal colors"
Will probably need to have 2 different color sets depending on the base theme.

[2016-08-29 22:21] Tyriar commented on #6979
Splitting the contrast task into a new issue https://github.com/Microsoft/vscode/issues/11140

[2016-08-29 22:30] #10650 closed

[2016-08-29 22:36] waderyan commented on #10551
FYI - this is what Atom does.

![image](https://cloud.githubusercontent.com/assets/2449568/18069805/4d157754-6dfe-11e6-9842-0a99d41f5d6f.png)

[2016-08-29 22:36] alexandrudima commented on #10978
@frolov-alexey I'm sorry you feel that way. I have simply closed this issue as a duplicate of another issue that was created before this one. Tomorrow's insiders build will contain the fix for #9937 and if you want to help us out you can try the insiders build to see if the file you cannot share with us gets colored.

[2016-08-29 22:53] alexandrudima opened #11141 "Test: Option to wrap at specified column only when window is larger than the specified number of columns"
Test for #1490 (came in via PR #7029)

- [x] Any OS **gregvanl**

Complexity 1

There is a new setting `editor.wordWrap` that interacts with `editor.wrappingColumn`:

| wrappingColumn  | wordWrap | Effect                                                                                                      | New? |
| --------------------------- | ----------------------------- | ---------------------

[2016-08-29 22:55] alexandrudima opened #11142 "Test: Allow workspaceContains to specify directories"
Test for #8295 (came in via PR #9394)

 - [x] Any OS **dbaeumer**

Complexity 2

Test that if you have an extension with an activation event `workspaceContains:filename` you can now use a top level workspace folder name besides a file name (file names worked before).

https://code.visualstudio.com/docs/extensionAPI/activation-events#_activationeventsworkspacecontains

[2016-08-29 22:59] alexandrudima opened #11143 "Test: Should allow adjusting font weight"
Test for #381 (came in via PR #10515)

- [x] Any OS **dbaeumer**

Complexity 1

Adds two new settings `editor.fontWeight` and `terminal.integrated.fontWeight`. If `terminal.integrated.fontWeight` is missing, `editor.fontWeight` will be picked up by the terminal.

Please check that you can change the editor's and the terminal's font weight.

[2016-08-29 23:08] alexandrudima opened #11144 "Test: An option to disable current line highlight."
Test for #7942 and #5678

- [x] Any OS **dbaeumer**

Complexity 1

There is a new option `editor.renderLineHighlight` that controls if the current line highlight should be rendered or not.

[2016-08-29 23:09] alexandrudima opened #11145 "Write integration test for new option bag in `TextEditor.test`"
This is so we don't need to manually test #8096

[2016-08-29 23:17] rebornix commented on #11127
As VSCodeVim is doing differently as Vim example, I'd like to test against latest VSCode Vim bits as well. The only difference is the setup steps

- [ ] any OS

* Clone the repository [VSCodeVim](https://github.com/VSCodeVim/Vim)
* Install dependencies by following https://github.com/VSCodeVim/Vim/blob/master/.github/CONTRIBUTING.md#first-time-setup
* Open VS Code on VSCodeVim
* Run the extension

[2016-08-29 23:18] robertohuertasm commented on #10804
Hi @aeschli, I'm starting to integrate the extension but I have a couple of questions:

1. How does the folderNamesExpanded work? I'm setting my icon definition, then I create my folderNamesExpanded with a reference to the name of the folder and the icon definition. Finally, never gets to work. It's always showing the not expanded version.
[code]

2. Can users modify the default associations? I me

[2016-08-29 23:20] alexandrudima opened #11146 "Test IME"
"Known" IME tests (collected from various bugs) are available at https://github.com/Microsoft/vscode/wiki/IME-Test
Please feel free to improve the IME tests wiki entry, especially if you are on mac or on linux. Perhaps the windows tests provide inspiration on how IME should work on mac/linux.

- [x] VSCode Windows - complexity 2 **@roblourens**
- [x] VScode Mac - complexity 2 **@jrieken**
- [x] VS

[2016-08-29 23:43] rebornix opened #11147 "Test Scrolling and Folding API commands within VSCodeVim"
As VSCodeVim is doing differently as Vim example, I'd like to test against latest VSCode Vim bits as well, all test scenarios are the same as #11127. The only difference is the setup steps

- [x] any OS **@alexandrudiam**

* Clone the repository [VSCodeVim](https://github.com/VSCodeVim/Vim)
* Install dependencies by following https://github.com/VSCodeVim/Vim/blob/master/.github/CONTRIBUTING.md#fir

[2016-08-29 23:46] marktrz commented on #2312
The problem seems to stem from this function:

https://github.com/Microsoft/vscode/blob/master/src/vs/editor/common/modes/snippetsRegistry.ts#L108

For some reason it looks like it is being compiled to code that parses the entire line, instead of just the 100 character cap. The translated of said function javascript:

`export function getNonWhitespacePrefix(model: IReadOnlyModel, position: IPositi

[2016-08-29 23:46] rebornix commented on #11145
Currently we are implementing the undo feature from scratch ourselves so it's a big move to leverage this new `edit` command instead. So for this sprint, this feature can not be tested as it requires a rewrite of the undo feature of VSCode Vim. I'll write a prototype which leverages this API to do `undo`.

[2016-08-30 00:14] rebornix commented on #10451
It feels weird that only Debug Console pane supports Vim key bindings besides the core editor IMHO. My current feeling is anything but the core editor is supposed to follow Code's bindings.

I'm not against current behavior but if Debug Console supports Vim bindings, people should be able to navigate to the pane by Vim command `ctrl-w j`, similar to navigating through editor groups. Do we already

[2016-08-30 00:22] johnfn commented on #10451
@rebornix has a good point - you certainly wouldn't expect Vim shortcuts to work in the search panel, or the go-to-file panel, or the git commit message textbox. I think this is why it feels unexpected for them to work in the debug console.

[2016-08-30 00:25] artagnon opened #11148 "Align more keybindings with Mac conventions"
I know I can override my keybindings, but this bug is about sensible defaults.

Take the simple <kbd>Cmd+{</kbd>. iTerm2 is sitting beside vscode, and I <kbd>Cmd+Tab</kbd> to it and use this keybinding. When I <kbd>Cmd+Tab</kbd> back to vscode, this key combination suddenly does folding. I'm supposed to use <kbd>Ctrl+$digit</kbd> to switch between tabs here. And <kbd>Cmd+$digit</kbd> means somethi

[2016-08-30 01:14] xirzec opened #11149 ".gitignored files removed by "Clean All" action"
- VSCode Version: 1.4.0
- OS Version: Windows 10 (1607 / build 14393.82)

If you select "Clean All" while you have changes staged, then a .gitignored `.vscode/launch.json` file will be unexpectedly removed.

Steps to Reproduce:
1. Create an empty folder
2. Open the folder in VS Code
3. Switch to the git tab
4. Initialize the git repository
5. Hit F5
6. Select "Node.js" to create a launch.json
7. C

[2016-08-30 01:24] ahmetb opened #11150 "Changing multiple occurrences when they are adjacent loses one of the occurrences"
- VSCode Version: 1.4.0
- OS Version: OS X 10.11.6

Note how `11` turns into `2`.

![](https://cl.ly/203h0f0v0N2A/Screen%20Recording%202016-08-29%20at%2006.22%20PM.gif)

[2016-08-30 01:25] bgashler1 commented on #10998
@isidorn we're working on a revision for this right now with red being the dominant color.  It will be a red plug that's struck through.  I will post it as soon as it's ready.

We also will have an icon for "Connect" back to the debugger, in case that's desired.  We tried the red square with a plug in it, and it didn't look quite right.

FYI: @chryw

[2016-08-30 01:29] ahmetb opened #11151 "Iterating multiple occurrences changes the search filter when occurrences are adjacent"
- VSCode Version: 1.4.0
- OS Version: OS X 10.11.6

I'm just trying to select all dashes by selecting one dash and pressing Cmd+D. However after a while, selection filter turns  into `----`. This is a bit unexpected to me coming from Sublime Text.

![](https://cl.ly/0N0X302P3J23/Screen%20Recording%202016-08-29%20at%2006.27%20PM.gif)

Compare this with Sublime Text:

![](https://cl.ly/3T0Z0k3P462r/

[2016-08-30 01:43] ramamurthynagaraj commented on #10386
@alexandrudima I was taking sublime as a reference. The seeding doesn't happen even with the first cmd+f. Both vscode and sublime has cmd+d to seed the current focused word, which can suit your fav https://github.com/Microsoft/vscode/pull/10969#issuecomment-243269090 use case.

I think find next/previous shortcut should suffice @edmundmk use case.
I personally use cmd+f to bring the focus to find

[2016-08-30 02:03] yzpTsubasa opened #11152 "Can't use shortcut "Ctrl + D" to select multiple word in a new document I didn't save"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 6.1.7601

Steps to Reproduce:

1. Open an exsisted document: A.example
2. Create a new document:B.example
3. Type or paste some words into B.example
4. Switch to A.example
5. Switch to B.example
6. Select one word of B.example
7. Use shortcut "Ctrl + D" but doesn't work

[2016-08-30 02:31] ShashankaNataraj opened #11153 "Feature request for modifying ending tags automatically"
- VSCode Version:1.4.0
- OS Version:0.11.6

Steps to Reproduce:

1. Have this in your html code: `<h5>Hello, World</h5>`
2. Now try to modify `h5` to `H6`
3. The ending tag doesn't automatically change to `H6` like it does in webstorm

[2016-08-30 02:44] wallverb commented on #11152
Fixed in insiders version https://github.com/Microsoft/vscode/issues/10075

[2016-08-30 03:02] moldauder opened #11154 "open new editor tab when current file are not modified"
- VSCode Version: 1.4.0
- OS Version: 10.11.6

when files are not modified, open file will reuse the current editor tab, it is not well for me. please support do not reuse current editor tab.

[2016-08-30 03:04] keyiis opened #11155 "please don't replace opened file!"
- VSCode Version: Code 1.4.0 (6276dcb0ae497766056b4c09ea75be1d76a8b679, 2016-08-04T16:45:31.680Z)
- OS Version: Windows_NT ia32 10.0.10586

Steps to Reproduce:

1.when i open new file in vscode,it always replace opened file.
2.it's very damnabl!i must modify opened file(insert space) then open a new file.

has some config can close the issues or is bug?

[2016-08-30 03:18] itskhurram commented on #10559
Hello Alexandrudima,
is there any way to get markers because i see a function of getMarkers in Line object but it does not has information for markers.

khurram

[2016-08-30 04:26] bpasero commented on #3431
No ticket opened so far.

[2016-08-30 04:28] bpasero commented on #11155
`"workbench.editor.enablePreview": false`

[2016-08-30 04:28] #11155 closed

[2016-08-30 04:29] bpasero commented on #11117
I am very sorry to hear you are having issues with VS Code. I wonder if this issue is being caused by an installed extension. Can you try to run VS Code without extensions? From the command line, execute: `code --disable-extensions` and try your steps again to see if it reproduces. If you see it is an issue with the extension, please file it against the extension repository itself.

[2016-08-30 04:31] bpasero commented on #11154
Settings: `"workbench.editor.enablePreview": false`

[2016-08-30 04:31] #11154 closed

[2016-08-30 04:57] frolov-alexey commented on #10978
@alexandrudima alright, sounds good. I'll let you know if that update fix the issue. Thanks.

[2016-08-30 05:07] dqywill opened #11156 "Chinese MSBuild output gibberish"
- VSCode Version: 1.4
- OS Version: Windows 10 14393.103 (1611)

Steps to Reproduce:

1. Press F1, input build
2. Create build task, use msbuild option
3. Run msbuild task
![screen shot](https://cloud.githubusercontent.com/assets/3927006/18076661/76152b90-6eb2-11e6-9da4-984f13b3c680.png)

[2016-08-30 05:14] kksevta commented on #9652
well this is not happening with the latest release.
typing something in terminal window restore the window properly.

[2016-08-30 05:49] aeschli commented on #11130
@Gama11 It's currently only internal...

[2016-08-30 06:05] aeschli commented on #10804
@robertohuertasm I pushed a fix for the `folderNamesExpanded` issue. Thanks for reporting!

You can't customize the language associations. You could give all js-language files the jsx icon, but I guess that's not what you want. Currently the language associations are stronger than the file extension associations. Do you think this should be reversed?

[2016-08-30 06:06] Ruikuan commented on #10937
- Add the Sogou pinyin Chinese input method
   - Download Sogou pinyin Chinese input method from [this link](http://pinyin.sogou.com/)
     ![download link](https://github.com/Ruikuan/Img/raw/master/inputinstall.png)
   - Install Sogou pinyin Chinese input method
      - Double click downloaded install exe
        ![install exe](https://github.com/Ruikuan/Img/raw/master/install_exe.png)
      - Cl

[2016-08-30 06:26] simonguo opened #11158 "Unsupported format for ecmascript-rest-spread"
![0d17f687-2426-4fe4-958c-12b537d7ac77](https://cloud.githubusercontent.com/assets/1203827/18078403/ea9a15f6-6ebd-11e6-8338-b7df390936ac.png)

.editorconfig

[code]

I can't bear it

[2016-08-30 06:47] aeschli commented on #11069
We're using the html beautifier from beautify-web/js-beautify.
Trying the example on http://jsbeautifier.org/ shows that the issue is with formatter.