[2018-09-19 13:51] sandy081 commented on #48487
This is fixed now.

[2018-09-19 13:51] #48487 closed

[2018-09-19 13:51] bpasero commented on #50848
We are building exploration builds that use a much newer version of Electron (our UI framework). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/86ff36a1cca2c5763c9c57bda2ec8d3443538c89/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/86ff36a1cca2c5763c9c

[2018-09-19 13:52] joaomoreno commented on #53225
/duplicate #30562

[2018-09-19 13:52] #53225 closed

[2018-09-19 13:52] ptorres11 commented on #58789
Solved on latest update

[2018-09-19 13:52] bpasero commented on #52778
@formulahendry
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2018-09-19 13:55] joaomoreno commented on #53346
Closing this, as it shouldn't occur many times and it's better to be safe than sorry.

[2018-09-19 13:55] #53346 closed

[2018-09-19 13:55] #58888 closed

[2018-09-19 13:55] #25823 closed

[2018-09-19 13:56] joaomoreno commented on #53576
Actually we changed the default to always open sticky, since it is an explicit action.

[2018-09-19 13:56] #53576 closed

[2018-09-19 13:57] bpasero commented on #30144
We are building exploration builds that use a much newer version of Electron (our UI framework). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/86ff36a1cca2c5763c9c57bda2ec8d3443538c89/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/86ff36a1cca2c5763c9c

[2018-09-19 13:58] bpasero commented on #36675
Still happening?

[2018-09-19 13:59] #8540 closed

[2018-09-19 13:59] isidorn commented on #58388
Ok, after some analysis it seems the issue is that the `extensionDevelopmentPath`, `extensionTestsPath` or `outFiles` are now comparing paths differently.
Did you change something in this area recently @bpasero @roblourens @weinand

We have not changed anything in how we handle source files in debug land which would break this.

@StephenWeatherford following your steps I get a weird error. Are the

[2018-09-19 13:59] bpasero commented on #3451
@hannesne do you still see this?

[2018-09-19 14:00] bpasero commented on #52525
/duplicate https://github.com/Microsoft/vscode/issues/23968

[2018-09-19 14:00] joaomoreno commented on #54040
If #10561 gets resolved, you can write an extension which does this.

[2018-09-19 14:00] #52525 closed

[2018-09-19 14:01] bpasero commented on #58745
/duplicate https://github.com/Microsoft/vscode/issues/22010

[2018-09-19 14:01] bpasero commented on #28323
/duplicate https://github.com/Microsoft/vscode/issues/22010

[2018-09-19 14:01] #28323 closed

[2018-09-19 14:02] bpasero commented on #7570
We are building exploration builds that use a much newer version of Electron (our UI framework). I wonder if this issue reproduces with one of these builds, could you try? Download:
* macOS: [Download](https://az764295.vo.msecnd.net/exploration/86ff36a1cca2c5763c9c57bda2ec8d3443538c89/VSCode-darwin-exploration.zip)
* Linux: [Download](https://az764295.vo.msecnd.net/exploration/86ff36a1cca2c5763c9c

[2018-09-19 14:03] joaomoreno commented on #54407
Actually we had done this. Git just changed the message in some version.

[2018-09-19 14:03] #54407 closed

[2018-09-19 14:03] weinand commented on #58388
I'm not aware of "outFiles" changed in node-debug or node-debug2.
But the `extensionDevelopmentPath` now supports URIs (thanks to @aeschli).

[2018-09-19 14:04] joaomoreno commented on #54512
/duplicate #26952

[2018-09-19 14:04] bpasero commented on #58388
@isidorn you should talk to @aeschli and @sandy081. quite possible that something changed when moving from fsPath to URI or for remote scenarios.

[2018-09-19 14:04] #54512 closed

[2018-09-19 14:05] joaomoreno commented on #54657
/duplicate #41232

[2018-09-19 14:05] #54657 closed

[2018-09-19 14:06] joaomoreno commented on #54886
Merging with #30562

[2018-09-19 14:06] #54886 closed

[2018-09-19 14:06] segux commented on #49028
Im testing and now looks fine.  Good job!

[2018-09-19 14:07] weinand commented on #58388
I'd hope that the outcome of the move towards URIs is that URI comparisons are more lenient...

[2018-09-19 14:07] #58170 closed

[2018-09-19 14:08] #58477 closed

[2018-09-19 14:08] sjdawson commented on #52778
@bpasero although not aimed at me, I tried the steps I outlined here: https://github.com/Microsoft/vscode/issues/52778#issuecomment-401064283 with the latest insider build, which is still causing VS code to hang the desktop environment to all but keyboard input with the dialog.

**Verbose output:**

[code]

Also happening in latest live build, 1.27.2

[2018-09-19 14:08] #44992 closed

[2018-09-19 14:08] Astrantia commented on #58913
@bpasero The provided icons are not customizable and some people may like the ones provided by you and some may not. Most people are used to having no icons at all and a change that updates them without their permission is going to make some unhappy.

[2018-09-19 14:12] joaomoreno commented on #55110
@eamodio Let's push for this. Would exposing [this `getURI` call](https://github.com/Microsoft/vscode/blob/f8092f7573e25b0e97ed0f161809daf0f644790c/extensions/git/src/commands.ts#L256) be enough?

[2018-09-19 14:12] jrieken commented on #28215
This is now in master and will be in tomorrows Insiders build: [`http://code.visualstudio.com/insiders/`](http://code.visualstudio.com/insiders/)!

Try it and let me know what you think. This is how it works

* the `editor.tabCompletion` setting has now new values `off` (was `false`), `onlySnippets` (was `true`), and `on` for the full tab completion behaviour
* when tab completion is `on` it will

[2018-09-19 14:12] joaomoreno commented on #54040
Can you show an example?

[2018-09-19 14:13] joaomoreno commented on #55152
/duplicate #50481

[2018-09-19 14:13] #28215 closed

[2018-09-19 14:13] #55729 closed

[2018-09-19 14:23] sandy081 opened #58961 "SelectBox: Able to select the separator in drop-down"
- Open Debug view or Output panel
- Click on Debug configurations or Output channels

🐛 I can select the separator

![image](https://user-images.githubusercontent.com/10746682/45759520-62f90200-bc28-11e8-9766-2cd7d14d8eeb.png)

[2018-09-19 14:27] basictheprogram commented on #58853
Can duplicate the problem with sshfs mounted file system too.

Local filesystem works fine.

What's odd is this worked fine before I upgraded to 1.27.2 (sorry, do not know what version I was running before the upgrade).

[2018-09-19 14:27] Tyriar commented on #16733
@bpasero I think we should reconsider this, is the reason it's not possible still the same as above? The link is broken, can you provide a new pointer? (always press `y` before linking in GitHub)

[2018-09-19 14:27] carlosrovira commented on #47775
Great,

I think so, since CSS is open its capabilities and used in many new ways that can't be controlled.
Here's a screenshot of a typical Apache Royale use case:

![captura de pantalla 2018-09-19 a las 16 23 24](https://user-images.githubusercontent.com/1701640/45759524-642a2f00-bc28-11e8-828c-57a01e9bd5f3.png)

I expect that we can remove the css lint error configuring in some way a config file

[2018-09-19 14:28] Tyriar commented on #58837
@beebeeep no problem, also for future reference, any language-specific issues we redirect to the language extension. So https://github.com/Microsoft/vscode-go would have been the place to report that one.

[2018-09-19 14:29] segux commented on #49028
@bpasero  wow, this is what i was wanting for long time ago. I hate to download every new version and install manually.

Thanks! I love vscode and i love what are you doing guys. Javascript will dominate the world hahaha

[2018-09-19 14:29] Tyriar commented on #58256
@b00f did you update to 1.27.2? Please report a new issue if so.

[2018-09-19 14:30] jstgermain commented on #43188
This is a great idea. I don't want to add another root to my workspace, I want a second workspace. The folder thing is great in certain scenarios, but not what I am looking for. I hope to see this as a feature soon.

[2018-09-19 14:32] bpasero commented on #58913
Actually I would assume that this would work:

![image](https://user-images.githubusercontent.com/900690/45760078-90927b00-bc29-11e8-9f5b-67b77dd14762.png)

@joaomoreno to confirm

[2018-09-19 14:33] bpasero commented on #16733
Oh, I did not mean to indicate that this was not possible to implement. After all we are doing software and not hardware :). I just wanted to close issues that I think I will not work on in the next months. Since this issue is opened since 2 years now I would say its safe to assume that its not super critical.

[2018-09-19 14:34] #49028 closed

[2018-09-19 14:35] david-middleton-at-resolver commented on #54261
While disabling the "TypeScript and JavaScript Language Features" extension resolved the issue, upgrading to VSCode 1.27.2 also seems to do the trick.

[2018-09-19 14:38] jrieken commented on #54040
There you go: https://github.com/Microsoft/vscode-extension-samples/blob/master/completions-sample/src/extension.ts

[2018-09-19 14:38] sjdawson commented on #52778
Sure,

Sadly, the same problem is present in the exploration build; output of `code-exploration --verbose` (some pathnames snipped for privacy):

[code]
[code]
[code]

The middle of the three blocks is the message in the console at the exact time the dialog is displayed.

[2018-09-19 14:46] aeschli commented on #58883
This issue was moved to dotnet/csharp-tmLanguage#137

[2018-09-19 14:46] #58883 closed

[2018-09-19 14:47] Tyriar commented on #58944
I can't seem to reproduce:

<img width="301" alt="screen shot 2018-09-19 at 7 45 58 am" src="https://user-images.githubusercontent.com/2193314/45760944-18ec2e00-bbe0-11e8-9808-016acb04c812.png">

Note that this only works currently if the _initial_ current working directory is the one that contains `source/` and `tests/` as we don't track the cwd changes yet.

[2018-09-19 14:47] bpasero commented on #52778
@sjdawson I think the output is something I have also seen. What happens in VSCode when the dialog opens?

[2018-09-19 14:48] bpasero commented on #36634
@Otiel @eteeselink so how would this work? The seed of the commands is the same as the current "Go Back" / "Go Forward" commands, but they would simply stop to work once either going backwards or forwards would jump to a different editor than the active one?

[2018-09-19 14:48] vkovic commented on #26284
... one more ...

[2018-09-19 14:49] bpasero commented on #45233
Yeah agreed.

[2018-09-19 14:49] Tyriar commented on #58937
/duplicate https://github.com/Microsoft/vscode/issues/10546

[2018-09-19 14:49] #58937 closed

[2018-09-19 14:53] #57431 closed

[2018-09-19 14:53] #58417 closed

[2018-09-19 14:54] bpasero commented on #46833
Happend.

[2018-09-19 14:54] #46833 closed

[2018-09-19 14:55] bpasero commented on #1569
Closing, given the workaround.

[2018-09-19 14:55] #1569 closed

[2018-09-19 14:55] bpasero commented on #50022
Closing, given the workaround.

[2018-09-19 14:55] #50022 closed

[2018-09-19 14:56] bpasero commented on #35654
Closing, the default has changed.

[2018-09-19 14:56] #35654 closed

[2018-09-19 14:57] Tyriar opened #58962 "Terminal find widget toggle buttons break the input's overflow behavior"
Terminal:

<img width="239" alt="screen shot 2018-09-19 at 7 55 53 am" src="https://user-images.githubusercontent.com/2193314/45761674-8a78ac00-bbe1-11e8-8100-4ee6bbb5fef6.png">

Editor:

<img width="441" alt="screen shot 2018-09-19 at 7 56 03 am" src="https://user-images.githubusercontent.com/2193314/45761685-8cdb0600-bbe1-11e8-8cab-95dab1c32f57.png">

[2018-09-19 14:57] bpasero commented on #32853
Happened.

[2018-09-19 14:57] #32853 closed

[2018-09-19 14:58] sjdawson commented on #52778
Interestingly, after testing that build and swapping back to stable, I opened the same repository as where I was testing. Since it was still in the "dirty" state, I followed the same process to change my branch.

To my surprise, I was able to close the dialog using the mouse - no hang ups occurred. (Though the same error message about transient parent was visible in the output).

I seemed to be ab

[2018-09-19 15:01] DanTup commented on #58388
Which test do you mean? I forced the drive letter to lowercase in my test script (see https://github.com/Dart-Code/Dart-Code/commit/11a6f5e54709944bf2b1e619d4f7c0bd9860e591) and a bunch of my Windows issues linked here went away. What was the error you saw?

[2018-09-19 15:02] dwt commented on #58618
Thanks, that helps. Can you tell me what the rationale is to have this feature off by default? There is (to my knowledge) almost no other OS X application that behaves this way.

[2018-09-19 15:09] StephenWeatherford commented on #58388
@isidorn No, no other requirements.  The tests won't fully pass without docker installed, but you should be able to get far enough to verify the problem (just tried this on my home machine without docker).  Can you not open the test\test.code-workspace workspace in vscode?

[2018-09-19 15:12] sandy081 commented on #39512
Filters are part of the state we retain when settings/keybindings editor are closed and opened. Closing this as designed.

[2018-09-19 15:12] #39512 closed

[2018-09-19 15:18] seanpoulter commented on #20224
I'll put it out there again -- if this something we should get going in a PR @roblourens? I've been using the editor pretty much every day for the last year and it's the only one thing I'd change in the core.

[2018-09-19 15:18] diegoandresalvarez commented on #15532
+1 for this

[2018-09-19 15:27] joaomoreno commented on #58674
@robjs827 Can you show me how it looks when the badge doesn't show?

[2018-09-19 15:32] joaomoreno commented on #54040
Excellent, great example!

[2018-09-19 15:33] #54040 closed

[2018-09-19 15:34] guywald1 commented on #58730
I added a PR to add tests and also fix a small bug (when explicitly settings items on a `QuickPick` the field was not properly propagated).

Additional thoughts I had (should open another issue for discussion?):

* In my opinion, items that should always be shown shouldn't display search highlights. The highlights are possibly redundant and IMO it would look more elegant without

* I feel like aft

[2018-09-19 15:35] akbyrd commented on #58745
@bpasero I'm not entirely sure this should be closed as a duplicate. This and the other issue are describing two different behaviors. They *may* have the same underlying cause, but that's not known currently. It seems like any fix should explicitly verify that this behavior is fixed. And it seems like it should be prioritized higher than 'the window size is slightly wrong' because it breaks basic

[2018-09-19 15:35] #34980 closed

[2018-09-19 15:35] #37269 closed

[2018-09-19 15:36] #38825 closed

[2018-09-19 15:36] dromer commented on #51744
Also getting similar behavior in ```1.27-2``` on Ubuntu 18.04.
vscode opens links with chromium, even though my systemwide default browser is firefox.

In this case it should use ```x-www-browser``` as that is where the default browser is configured to (which is then symlinked by update-alternatives etc.)

[2018-09-19 15:36] sandy081 commented on #55034
I would not agree for this. Pack is just a bundle of independent extensions to install together. Enabling the extensions user disabled just a pack is installed might not be expected for the user.

[2018-09-19 15:36] #55034 closed

[2018-09-19 15:36] joaomoreno commented on #38825
Marking out of scope. The endgame for built-in extensions is to move the out of the repo.

[2018-09-19 15:37] joaomoreno commented on #39280
Seems lost in history. Closing.

[2018-09-19 15:37] #39280 closed

[2018-09-19 15:37] joaomoreno commented on #40163
This no longer happens with Windows background updates.

[2018-09-19 15:37] #40163 closed

[2018-09-19 15:38] #40680 closed

[2018-09-19 15:39] joaomoreno commented on #41025
@mjbvz Can we strip BOM before giving it to the Markdown parser?

[2018-09-19 15:40] joaomoreno commented on #41218
@michalzobec Is this still an issue for you?

[2018-09-19 15:41] joaomoreno commented on #42150
Closing as won't fix. Just search for `code`. Thanks for understanding.

[2018-09-19 15:41] #42150 closed

[2018-09-19 15:41] #42745 closed

[2018-09-19 15:43] curxxx opened #58964 "Incorrectly marking JS syntax as invalid"
So for some reason this just started a few months ago and has persisted after resetting my Code installation including removing all installed extensions.

I have a .JS file which contains lots of JavaScript, including some jQuery.

Now, for some reason, a few seconds after opening the file, Code marks almost every line as containing a syntax error - incorrectly. The file has no syntax issues whats

[2018-09-19 15:43] #43517 closed

[2018-09-19 15:44] JourdanClark commented on #54261
After upgrading to 1.27.2 and enabling "TypeScript and JavaScript Language Features", I no longer get [ts] errors when using optional chaining, ie
[code]

@illusive-man What error are you getting? Can you provide an example of some code that is giving you the error? You have upgraded to 1.27.2, correct (you can check your version by going to `Help` -> `About`)?

[2018-09-19 15:44] joaomoreno commented on #43793
/duplicate #7426

[2018-09-19 15:44] #43793 closed

[2018-09-19 15:45] smarter opened #58965 ""code --install-extension" sometimes prompt the user, making it unsuitable for batch use"
When running:
[code]

If `a.b` has already been installed and a newer version exists, a prompt appears:
[code]

It'd be nice if there was a command option like `--yes` that answered yes to all questions. There's already `--force` but it doesn't fit exactly: if the extension has already been installed and no newer version exists, it will redownload the extension from the marketplace anyway.

[2018-09-19 15:46] smarter commented on #58965
Relevant code: https://github.com/Microsoft/vscode/blob/1dd732608fa588652d4f01aa16e54e8695b0320a/src/vs/code/node/cliProcessMain.ts#L141-L157

[2018-09-19 15:46] joaomoreno commented on #48817
We're actually changing this in #57636

[2018-09-19 15:46] #48817 closed

[2018-09-19 15:48] fischeme commented on #58910
At the time this occurred I had two projects under git control and both broke.  I added a new project, and it broke too.  As a sanity check, I opened one of the projects in the Netbeans IDE and it correctly integrated with git, showing project status, current branch, and allowing me to diff a changed file in the IDE. So I think git and the git repo are fine.
The first symptom I noticed of the prob

[2018-09-19 15:48] #44243 closed

[2018-09-19 15:50] joaomoreno commented on #45947
This specific issue should be fixed by now. Can you confirm @IgorNovozhilov ?

[2018-09-19 15:50] joaomoreno commented on #46312
/duplicate #44685

[2018-09-19 15:51] #46312 closed

[2018-09-19 15:51] aliak00 commented on #58944
Ah! I see. Ya I seemed to have opened it from a different cwd indeed ! Does
work fine otherwise 🙇‍♂️
On Wed, 19 Sep 2018 at 16:49, Daniel Imms <notifications@github.com> wrote:

[2018-09-19 15:53] carlocardella commented on #58955
This extension can help: https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync
The Marketplace offers a few different sync extensions if this one does not suits you

[2018-09-19 15:54] joaomoreno commented on #49986
This is fixed now.

[2018-09-19 15:54] #49986 closed

[2018-09-19 15:56] jrieken commented on #57613
Does the num pad work inside the editor and does it work inside the breadcrumbs picker when having started with another character?

[2018-09-19 15:57] logg-sar commented on #44094
Windows PE is Windows **P**reinstall**E**nvironment
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/winpe-intro?f=255&MSPPError=-2147217396
and thats the environment I _have_ to work.

But its ok to close it, because its a PE (or to be exact dotnet core issue) which will be fixed with dotnetcore 3.

Maybe.

Probably.

[2018-09-19 15:57] joaomoreno commented on #50336
/duplicate #56665

[2018-09-19 15:58] #50336 closed

[2018-09-19 15:59] joaomoreno commented on #51236
Merging with #18180

[2018-09-19 15:59] #51236 closed

[2018-09-19 16:00] joaomoreno commented on #51921
/duplicate #50596

[2018-09-19 16:00] #51921 closed

[2018-09-19 16:00] warpdesign opened #58966 "Windows: Update process icon doesn't use correct color for its window icon"
On Windows, when VSCode is being updated, for a brief moment, a small window with a progress bar is opened.

In the Windows task bar, this window always has the blue VSCode icon, no matter which version is being updated: Code, Code-insiders.

This is a bit misleading, especially when both versions are installed on the same computer. It gives the impression that it's the stable version that's being

[2018-09-19 16:01] Otiel commented on #36634
@bpasero Not exactly. It should stop only if there is no more history to go to for the current tab, and it should "jump over" the history of other tabs.

Consider this seed of cursor positions:
* `Tab 1, Ln 1, Col 1`
* `Tab 2, Ln 2, Col 2`
* `Tab 1, Ln 1, Col 11`
* `Tab 1, Ln 1, Col 111`

At that point, if the focus in on `Tab 1` and I'm using the "Go Back" command twice, it should jump to `Tab 1,

[2018-09-19 16:01] joaomoreno commented on #52958
#47841

[2018-09-19 16:01] #52958 closed

[2018-09-19 16:03] joaomoreno commented on #53857
/duplicate #58853

[2018-09-19 16:03] #31301 closed

[2018-09-19 16:03] #7337 closed

[2018-09-19 16:05] joaomoreno commented on #38569
/duplicate #30114

[2018-09-19 16:05] #29661 closed

[2018-09-19 16:05] #38569 closed

[2018-09-19 16:08] joaomoreno commented on #55629
Currently, we render everything as wrappable monospace font. Needs better support.

[2018-09-19 16:09] gdh1995 commented on #7570
The crash of Resolver in dns.js disappears if my Wi-Fi card is disabled when I use the above exploration version.

Win 10 x64 Edu v1809 b17760.1, VS Code Exploration x64 v1.28.0.

[2018-09-19 16:09] #56447 closed

[2018-09-19 16:09] isidorn commented on #58388
@DanTup I mean following your steps from here https://github.com/Microsoft/vscode/issues/58815#issue-360871239
@StephenWeatherford I can repro now following your stpes, the breakpoint gets hit wtice but both times I see capital `C`.

Anyways let's wait for @aeschli and @sandy081 to comment

[2018-09-19 16:09] joaomoreno commented on #56458
Let me know if it comes back.

[2018-09-19 16:09] #56458 closed

[2018-09-19 16:11] joaomoreno commented on #56686
This won't likely happen from our side. Sorry guys.

[2018-09-19 16:11] StephenWeatherford commented on #58388
FYI, when I did my original investigation if I remember correctly I believe the earlier vscode ended up with paths where the casing matched, whereas with the newer vscode they didn't.  I.e., I'm not sure that the comparison logic changed, but rather that the path casings being passed in to load module changed (the ones brought in by Mocha and the ones brought in by vscode).

[2018-09-19 16:11] #56686 closed

[2018-09-19 16:11] eamodio commented on #55110
I think that will help some, but I've recently abandoned the usage of a `TextContentProvider` in favor of implementing a `FileSystemProvider` for git (see https://github.com/eamodio/vscode-gitlens/blob/develop/src/git/fsProvider.ts). Using that structure, it solves the encoding issues and image issues since it leverages all the existing work in vscode to handle those things. I also added it for mo

[2018-09-19 16:13] hoofman commented on #10121
i would love to detach debugger console so as to view on 2nd monitor

[2018-09-19 16:15] isidorn commented on #57702
Sorry for the slow response I was on vacation.

I can not reproduce this with a simple exmaple.
Can you please try with latest vscode insiders https://code.visualstudio.com/insiders/
If you can reproduce can you write a simple JS program which outputs the text which you can not select.
Thanks a lot

[2018-09-19 16:15] bpasero commented on #52778
Weird, I cannot explain that behaviour...

[2018-09-19 16:16] bpasero commented on #36634
@Otiel but would you expect this to go all through one stack of history? Imagine you did go back once and it jumped over tab 2 but now you navigate forward with the normal "Go Forward", would you expect to end up in Tab2?

In other words: should this feature run from a completely separate history stack than the one we already use.

[2018-09-19 16:18] bpasero commented on #7570
@gdh1995 great to hear, so to verify: you can start without issues using that version and it does not work with our current stable?

[2018-09-19 16:27] Otiel commented on #36634
No, if I'm in Tab1, I should stay in Tab1 whether I'm calling "Go Backward" or "Go Forward".

I would think that it would be easier to implement if there was one history stack per opened tab.

[2018-09-19 16:32] roblourens commented on #58834
I didn't notice that, thanks!

[2018-09-19 16:33] #58834 closed

[2018-09-19 16:34] antonio-petricca commented on #58847
It works for me too, thank you!

[2018-09-19 16:37] vikrantsahoo opened #58967 "N of VS code image run on background process"
I am using Windows 7 and whenever I open VS Code my PC performance went down, when I checked performance monitor my CPU and memory is using all, and in process I found N number of VS Code is running even for one VS Code editor and when I close my Code editor Memory and CPU usage number went down.
Its really very frustrating to work with slower environment, Kindly take a look

[2018-09-19 16:39] octref commented on #58866
Please follow the issue reporting guideline: https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md#reporting-issues.

[2018-09-19 16:41] cait1inhennessy commented on #57996
@bpasero OK, thanks for the info.

[2018-09-19 16:42] mjbvz commented on #58964
Please share the full text of a minimal piece of code that shows this problem

[2018-09-19 16:45] eamodio commented on #46571
So if I wanted to submit a PR for this -- I assume just adding `vscode` and `vscode-insiders` to this regex would be fine. https://github.com/Microsoft/vscode/blob/b2a361e9899cd20679a7592e1050487292c9a094/src/vs/workbench/common/notifications.ts#L328

But for `command:` links, I know when we talked about getting them in hovers there was security concerns and `MarkdownString` was added with the `is

[2018-09-19 16:57] the-ress commented on #53857
@joaomoreno #58853 isn’t a duplicate of this issue

[2018-09-19 17:02] roblourens commented on #22761
It just sounds like your sourcemaps don't include the necessary info to resolve the path to the soruce. There is no automatic detection, we just look at the path in the sourcemaps.

You said that adding a sourceRoot fixes the problem, I think that is the correct fix.

[2018-09-19 17:02] #22761 closed

[2018-09-19 17:02] jacoby opened #58968 "File Name can be interpreted as a digit"
- VSCode Version:  1.27.2
- OS Version: Ubuntu `6.04 LTS

Steps to Reproduce:

1. Mount a remote file system with SMB
2. make a subdirectory named dev/project2fortress within that filesystem
3. make file with a name like 2551.e1280822 (like TORQUE/PBS STDERR files) in that directory
4. code -n 2551.e1280822

Code interprets that file name as Infinity

Not in ~/. Not in /mount/fs. Not mounting same

[2018-09-19 17:04] LuizCostaa commented on #58955
wow, i did not know about this plugin, lot of thanks!!

[2018-09-19 17:04] #58955 closed

[2018-09-19 17:06] roblourens commented on #27733
Many things in search have changed - please let me know if this is still an issue.

[2018-09-19 17:06] #27733 closed

[2018-09-19 17:14] #58516 closed

[2018-09-19 17:28] rswerve commented on #54485
Would I be better off opening a new issue with the debug details?  Not sure this one is being checked anymore.

[2018-09-19 17:31] IllusionMH opened #58969 "Custom title menu bar and context menus look washed on windows after background change"
Issue Type: <b>Bug</b>

I think this change appeared in VS Code Insiders couple builds ago.
New background for dropdowns in title menu bar and context menus (`window.titleBarStyle` is set to `custom`) now have brighter background, which has to much contrast with editor background and makes it harder to read text on it.
Also it appears much brighter than backgrounds for auto-suggestions dropdown an

[2018-09-19 17:33] #46026 closed

[2018-09-19 17:35] soundstripe opened #58970 "Menubar does not respond to pen"
Issue Type: <b>Bug</b>

1. Open VS.Code.
2. Touch File menu with tip of stylus.

*Expected Outcome:* File menu is displayed, and a choice can be made with the pen/stylus
*Actual Outcome:* No menu is displayed, Menu header does not highlight. Stylus touch appears to have no effect.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows

[2018-09-19 17:36] Jikodis commented on #54261
@JourdanClark @illusive-man @david-middleton-at-resolver ,
Look at my comment above. I am on version 1.27.2 and I am still getting errors with this code:

![image](https://user-images.githubusercontent.com/3253360/45770651-d5052300-bbf7-11e8-8efa-ac948dbe57fc.png)

[2018-09-19 17:41] roblourens commented on #58716
This only happens when using `"console": "integratedTerminal"` right? In that case we can't see the error output or know that launching npm failed. We can only send text to the terminal then attach to the port we were given.

[2018-09-19 17:42] rebornix commented on #53296
Our tokenizer and highlighter is line based and it starts from the first line to the last. Improving the speed and syntax highlighting is always on our radar so we can close this issue.

[2018-09-19 17:42] #53296 closed

[2018-09-19 17:43] roblourens commented on #58541
I can still repro. It looks like you're following the steps correctly. So let me know how I can help debug.

[2018-09-19 17:44] KubaSzostak commented on #57990
The same here. I was migrating from system wide setup to portable setup v1.25. It was copy-pasted to `W:\Programs\VSCode`. Then after self-update to v1.27 my 'data' folder was deleted. After that I deleted `%APPDATA%\Code` and `%USERPROFILE%\.vscode\extensions` folders. But today after self-update to 1.27.2 'data' folder is gone again.

So I went to _Control Panel_ and I found _Microsoft Visual St

[2018-09-19 17:46] rebornix commented on #45791
Duplicate of https://github.com/Microsoft/vscode/issues/43190 .

[2018-09-19 17:46] #45791 closed

[2018-09-19 17:47] ntodorov commented on #57028
in my case with the same error - rebooting the Windows helped.

[2018-09-19 17:49] rebornix commented on #43880
For reading the first line content, we now ask directly the piece tree for the content, which always return a string (if none, then return empty string) so this NPE will not happen.

[2018-09-19 17:49] #43880 closed

[2018-09-19 17:50] cleidigh commented on #58961
Actually yes in a related context.  The debug viewlet passes a separator even when there are no configurations.  I was going to remove that, at the same time I noticed being able to select it.

Adding to my list.  I'm doing a variety of cleanup since we've had so many additions...

[2018-09-19 17:51] roblourens commented on #58623
Oh, I didn't notice that the keyboard shortcut still works. That's good enough for me, but showing the toolbar might help other people.

[2018-09-19 17:52] Tyriar commented on #58944
@aliak00 good news 🙂, here's the feature request for tracking the cwd for links https://github.com/Microsoft/vscode/issues/27107

[2018-09-19 17:52] #58944 closed

[2018-09-19 17:54] sbatten commented on #58375
@akbyrd in the above gif, I can see the editor tab shift down. This is with the custom titlebar?

[2018-09-19 17:57] SEAPUNK commented on #58863
I am getting this issue too. Latest VSCode insiders, running Git 2.19.0.

This started happening yesterday for me as well; I did not install/update any new extensions between that time.

Running without extensions seems to make the source panel work again. I'll go through the extension list and see which one is causing problems.

[2018-09-19 17:58] roblourens commented on #58901
Duplicate of https://github.com/Microsoft/vscode/issues/58038

[2018-09-19 17:58] #58901 closed

[2018-09-19 18:00] akbyrd commented on #58375
Yea, this is with the custom title bar. Sorry, didn't realize the recording cut the window top off. In the gif I'm just mashing the alt button to show/hide the title bar repeatedly.

[2018-09-19 18:02] SEAPUNK commented on #58863
Disabling the vscode-database plugin by `Bajdzis` seems to fix the git panel.

[2018-09-19 18:02] roblourens commented on #58038
From #58901

I agree that this is confusing. I think that supporting this for power users could also be confusing for newer users. Imagine if they click a checkbox on a bool setting to modify it, then click it again to "unmodify" it. Most people won't expect that action to have side effects, but it would have the side effect of writing the default value to the JSON.

I want to keep thinking about

[2018-09-19 18:03] aziz commented on #58240
This is not a duplicate and it's a real issue

[2018-09-19 18:05] manikanta-talanki opened #58971 "Extension Host is unresponsive."
Issue Type: <b>Bug</b>

Extension Host is unresponsive.

VS Code version: Code - Insiders 1.28.0-insider (45986ca7abf63460dc96409a61fb2f0c98ba0b70, 2018-09-19T09:26:20.526Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz (8 x 2800)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>fla

[2018-09-19 18:06] roblourens commented on #50827
"Overridden in User" sounds like "this scope is overridden in User" which is not true. Going the other direction it might be true ("Overridden in Workspace" seen from the User scope, it may be true that the User value is overridden by the Workspace).

Also there is no one "actual value" since you can have a setting configured in multiple folders in a workspace. Basically I want to give the user a

[2018-09-19 18:07] sbatten commented on #58375
@akbyrd can you possibly make a new gif with the whole window so I can see what's happening with the rest of the UI?

[2018-09-19 18:07] roblourens commented on #58724
I guess I am thinking of the case when the user is looking at a non-configured enum setting, and it says "default", and that is obvious since the setting is not configured. But it could be useful if they are running through all the enum values without expanding the control.

[2018-09-19 18:08] roblourens commented on #54689
Thanks for verifying!

[2018-09-19 18:10] #58376 closed

[2018-09-19 18:11] roblourens commented on #58923
I think that using a button for "Edit settings.json" makes sense.

What do you mean "starting on"?

[2018-09-19 18:12] roblourens commented on #58939
https://github.com/Microsoft/vscode/issues/164

[2018-09-19 18:12] #58939 closed

[2018-09-19 18:14] roblourens commented on #48289
Well, something like that is still out of scope

[2018-09-19 18:15] roblourens commented on #58891
https://github.com/Microsoft/vscode/issues/58538

[2018-09-19 18:15] #58891 closed

[2018-09-19 18:17] AJamesPhillips opened #58972 ""Find all references" does not work with javascript require when files closed"
- VSCode Version: 1.28.0-insider
- OS Version: Mac OSX 10.13.6 (17G65)

Steps to Reproduce:

1.  Clone this demo repo: https://github.com/AJamesPhillips/demo-find-all-references (or set up the repository structure shown below)
2. With only file1.js open and the cursor on `createRouter`, pressing shift + F12.  The "Find all references" only shows references in the current file.

If index.js is also

[2018-09-19 18:17] davec21 commented on #58936
If you click the 3 dots to the right side of the settings GUI you have the ability to edit the .json file.

I agree though, why have a super easy and simple gui for changing settings when you could be manually editing a text file... /s

[2018-09-19 18:20] roblourens commented on #58960
You can use ctrl+shift+f, or if you want to change the keybinding yourself, see our docs: https://code.visualstudio.com/docs/getstarted/keybindings

[2018-09-19 18:20] #58960 closed

[2018-09-19 18:20] akbyrd commented on #58375
Steps to repro:

Add to settings.json
[code]

Open release notes (Help > Release notes)
Scroll to bottom
Press Alt

[2018-09-19 18:25] octref opened #58973 "DevTool hijacks input"
1.27.2 or Insider:

- Open DevTools
- Focus editor
- Start typing

Expected: Characters shown in editor
Actual: Characters shown in DevTools

[2018-09-19 18:28] roblourens commented on #54485
This one was specifically for the error `Cannot read prop "replace" of null.` which sounds like it went away, so I'm going to close it, but you can open a new one @rswerve. Looking at your log, I see you set breakpoints in a file but I don't see that file being loaded.

[2018-09-19 18:28] #54485 closed

[2018-09-19 18:29] moseleyi commented on #58840
Totally understandable @bpasero

I, on the other hand, use it to create files in many different folders and navigating through them every time I want to save a file is a bit of a pain. Would be nice to be able to configure this.

[2018-09-19 18:31] JasonMFry commented on #30562
Would love to see this feature implemented.

[2018-09-19 18:36] sbatten commented on #58375
@akbyrd Unfortunately I am unable to repro this with 1.27.0, 1.27.2 or 1.28.0-insiders currently.

[2018-09-19 18:36] IgorNovozhilov commented on #45947
@joaomoreno. Yes, for the latest updates I no longer received this error. Thanks.

[2018-09-19 18:36] #45947 closed

[2018-09-19 18:40] sbatten commented on #17172
Thanks for getting back. Closing as resolved.

[2018-09-19 18:40] #17172 closed

[2018-09-19 18:40] sbatten commented on #51841
Awesome, thanks for the feedback. Closing as resolved.

[2018-09-19 18:40] #51841 closed

[2018-09-19 18:49] illusive-man commented on #54261
@JourdanClark, please, mate - don't tell me how to check software version. It's kinda stupid. If I told you that in 1.27.2 I still have that [ts] error it means that (surprise!) in 1.27.2 I still have that [ts] error. :)

![ts_errorjpg](https://user-images.githubusercontent.com/25516639/45774391-7373a180-bc55-11e8-8d30-0526b41a80de.jpg)

@Jikodis, no need to tell that to me, I'm in the same boat!

[2018-09-19 18:51] ramya-rao-a commented on #58726
I agree. We are not being consistent here. This is available in the Details and Changelog section, but not in the Contributions.
Another issue is the weird text shown on hover:

![image](https://user-images.githubusercontent.com/16890566/45774334-88264a00-bc01-11e8-95ce-318e36be032a.png)

Yes, the style in the settings editor does look modern and much better

It already is sticky. i.e when you scr

[2018-09-19 18:53] ramya-rao-a commented on #51253
@aviau Can you elaborate on why those options wouldnt work for you?

[2018-09-19 18:56] #57736 closed

[2018-09-19 18:57] jkaster opened #58974 "ts-lint and the editor disagree on indentation"
Issue Type: <b>Bug</b>

- Create a new typescript file
- Write some typescript that has indentation. e.g.:
[code]
- when you hit `Tab` on the `expect` line, the code will be indented 4 spaces rather than 2, and the lint checker will complain about spacing

- **Detect Indentation from Content** is already enabled.

- My tab stops are set to 4, but according to what I've read, the default tab stops

[2018-09-19 18:57] octref commented on #57407
Reference: https://github.com/Microsoft/vscode-textmate/issues/12

I modified the original grammar so that the begin part of `media-query-list` captures some whitespace and prevents this warning.

[2018-09-19 19:03] ProTip opened #58975 "Terminal resize slow with high CPU usage"
Since upgrading from 1.25.1 there have been a number of performance related issues with the terminal:
- #57279
- #56628

It appears the performance issues related to typing in the terminal have been resolved, however the high CPU usage and slowness when resizing the terminal persists for me. I have downgraded to `1.25.1` and back up to confirm the issue was not present in that version.

The proble

[2018-09-19 19:19] Zunawe opened #58976 "Slow double click in explorer can open two files"
The double-click window is just long enough that you can get a different file with the second click because the "Open Editors" section of the explorer moves the file explorer down. The timing is a little tricky, and it seems like it only works if you don't move the mouse.

- VSCode Version: 1.27.2
- OS Version: High Sierra 10.13.6

Steps to Reproduce:
In this gif, I only click twice (once per file

[2018-09-19 19:28] Tyriar commented on #58015
I'm going to leave the behavior as is for non-Windows, for Windows `$LANG` will no longer be set unless the setting is true (this could be useful for WSL).

[2018-09-19 19:34] bitcrazed commented on #49713
We'd recommend wsl.exe instead of bash.exe for Spring 2018 Update or later.

Rich Turner | Sr. Program Manager | Windows Console & Command-Line | Microsoft

e: richturn@microsoft.com<mailto:richturn@microsoft.com> | t: @richturn_ms<https://twitter.com/richturn_ms> | c: +1 (425) 445-5755

________________________________
From: Daniel Imms <notifications@github.com>
Sent: Friday, May 11, 2018 11:03

[2018-09-19 19:34] Tyriar commented on #58975
The high CPU usage is due to a lot of things that need to happen when the terminal is resized, and this problem is amplified when you have more terminals. https://github.com/xtermjs/xterm.js/blob/290c95ad71f8b1264139a7ed6f070c4741a8987e/src/Buffer.ts#L112

We're working on improvements, see:

- https://github.com/xtermjs/xterm.js/issues/791
- https://github.com/xtermjs/xterm.js/issues/1685
- https

[2018-09-19 19:42] armchairdeity commented on #28636
I'm glad to now I'm not crazy...

Just to add my $0.02 to the conversation, if you set the trackpad to tap-to-click and put the mouse pointer over the middle of a block of selected text and tap... it *always* delects... I have a Magic Mouse and it pretty much _never_ works, even if I move my hand off the mouse and just activate the click with my fingertip. I can 99% guarantee you that the mouse it

[2018-09-19 19:44] cleidigh commented on #58923
by start on I mean the first element landed on by Tab within an element setting.

For input boxes you have the first tab index on the input element and from a reader perspective we read out the element title and then the extended description which may include links.

On several of the glob settings or others, the first tab index is a link within the description so in excess ability user does not g

[2018-09-19 19:51] TomasHubelbauer commented on #58933
I don't understand how the language detection issue relates to this problem, sorry.

For the read/write access API, I know about that issue and I will have great use for it once it lands, but I don't understand how is that supposed to tell me what VS Code considers to be a binary file and what it considers to be a text file either.

I am trying to find a logic which for a given URI will determine

[2018-09-19 19:54] ProTip commented on #58975
Is this a known performance regression from `1.25`? I'm only using one terminal per the repro steps, and this issue is not present in `1.25`.

[2018-09-19 19:57] Tyriar commented on #57724
The only way to do this is to prevent your profile or rc file from running, that's how the default paths are getting injected/rearranged.

Note that the terminals inherit VS Code's path which is created by launching a login shell:

https://github.com/Microsoft/vscode/blob/2eb78b54ed3c2f31205b5f11d023bef49cab9fc2/src/vs/code/node/shellEnv.ts#L27

So when the task is run, you will still get those cu

[2018-09-19 19:58] Tyriar commented on #47661
@FancyBanana I think the OP wants the active terminal split pane to go full screen, including the side bar. Your issue is a problem though which I'll fix up now.

[2018-09-19 20:00] Tyriar commented on #47661
@FancyBanana coming in 1.28 https://github.com/Microsoft/vscode/commit/aacaecc68ac0c53dd595ba20dfc969a186a3139c

[2018-09-19 20:01] jacoby commented on #58968
I made another directory named project2fortress.

touch 2541.e10
code -n 2541.e10

File tab says it's 25410000000000, which is 2541 * 10 to the power of 10.

So you can forget all that stuff about mounting directories

[2018-09-19 20:09] edoantonioco opened #58977 "Styled components doesnt offer preview of the colors"
So on CSS on vscode next to the colors that you write (like background-color: #ffffff) appears a small box that shows what color it is about.

But on styled components, at least on ReactJS (react native), there is no small box that let me know what color I am typing.

So it would be nice to get that feature that you already implemented on CSS, to have it available on styled components on javascrip

[2018-09-19 20:12] jacoby commented on #58968
But it is very much via `code <file>`; you can't open from Explorer and get it to work this way.

![replicated](https://user-images.githubusercontent.com/56015/45778491-b5d1ba00-bc26-11e8-8ae3-f350ab81ca8b.PNG)

[2018-09-19 20:31] sbatten commented on #48341
Some of these commands do indeed exist in the core product, but they are not shown in the menu. I believe we prefer keeping them accessible primarily via the command palette. As for commands that are implemented via extensions, it isn't currently possible to add them to the edit menu, but it could be in the future.

/cc @bpasero @jrieken

[2018-09-19 20:32] roblourens commented on #58923
I think that it's important for tab order to follow the document order, I think that's what people expect.

[2018-09-19 20:34] weinand commented on #58716
@roblourens no, this is was with the internal debug console.

[2018-09-19 20:38] CaptainN opened #58978 "Click task icon on second virtual desktop to switch to active app in other v-desktop in Windows"
If I have VSCode running a second virtual desktop, and I click on the VSCode icon on the first virtual desktop, it should switch to the other virtual desktop, and focus the already running copy.

What it does now is start a second copy on the current virtual desktop, which is sometimes useful, but is useful less often than switching to the right virtual desktop would be. If there are multiple copi

[2018-09-19 20:39] mjbvz opened #58979 "URIError when opening tsserver log"
Issue Type: <b>Bug</b>

1. In a workspace with a js file
1. With the js file active, run the `TypeScript: Open TSServer log` command
1. Back in vscode, open developer tools

**Bug**
In console, see

[code]

VS Code version: Code - Insiders 1.28.0-insider (45986ca7abf63460dc96409a61fb2f0c98ba0b70, 2018-09-19T09:26:20.526Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|It

[2018-09-19 20:40] TomasHubelbauer commented on #48674
Here's an updated snippet which will return URIs of workspace files except for those ignored either by `search.exclude` or `files.exclude` or `.gitignore`:

[code]

I would much rather VS Code extension API provided this out of the box, but alas. I am noticing some new development like [`FileSearchProvider`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.proposed.d.ts#L265) which na

[2018-09-19 20:43] roblourens commented on #58716
In that case I just see `Starting inspector on 127.0.0.1:9229 failed: address already in use` in the debug console, and it doesn't attach to the running program.

[2018-09-19 20:44] busticated commented on #57724
ah, nice - thanks @Tyriar 🙏 :+1:

[2018-09-19 20:47] weinand commented on #58716
For me the debugger actually connects successfully for a brief moment to the other node.js program but then terminates because npm terminates because of the blocked port.

[2018-09-19 21:00] WardenGnaw opened #58980 "Relative problem paths don't take `cwd` into account"
From https://github.com/Microsoft/vscode-cpptools/issues/2518
by @galgalesh
--------------------------------------------------------

**Type: LanguageService**

**Describe the bug**
- OS and Version: Ubuntu 18.04
- VS Code Version:  1.27.1 5944e81f3c46a3938a82c701f96d7a59b074cfdc x64
- C/C++ Extension Version: 0.18.1
- Other extensions you installed (and if the issue persists after disabling them)

[2018-09-19 21:00] vrobertbaruch opened #58981 "Add pyformat to supported python formatters"
The current Python extension supports autopep8, black, and yapf formatters. Can it also support [pyformat](https://pypi.org/project/pyformat/)?

[2018-09-19 21:04] octref commented on #56478
![image](https://user-images.githubusercontent.com/4033249/45781448-d3962380-bc14-11e8-8527-0d10da9bcd0e.png)

@aeschli Decided to only generate symbol for top-level selector. You can still access `.selected` in quick pick.

[2018-09-19 21:19] #58961 closed

[2018-09-19 21:25] cleidigh opened #58984 "Debug Configurations/SelectBox: No Configurations state should not have separator"
Separator after single entry (No Configurations) should not appear

If no objections, I will PR.

![image](https://user-images.githubusercontent.com/25272315/45782400-cdae3b80-bc30-11e8-9e18-9f3a372bd865.png)

[2018-09-19 21:27] bdonnahue commented on #5243
Im having the same problem running vs code over x11. It is hosted on a centos virtual box vm on my laptop. I am ssh'int to localhost

[2018-09-19 21:29] rjmholt opened #58985 "textDocument/hover sends escaped colon after drive letter"
- VSCode Version:
[code]
- OS Version:
[code]

I work on the PowerShell extension/language service for VSCode, and we have [a bug report](https://github.com/PowerShell/vscode-powershell/issues/1518) where PowerShellEditorServices crashes because we render the wrong path; there's a `#` character in the path and `System.Uri` in C# drops everything after the `#` as a fragment. Easy fix -- we shouldn'

[2018-09-19 21:32] cleidigh commented on #58923
actually I misspoke, if an input box has a link in the description, you do 'start' there.

What do you think about the fact that the reader then reads the link but the user does not know what the element is.  Would not starting on the input element with its associated labels make sense?

Otherwise we could add the element title to the links? Just a thought .

[2018-09-19 21:40] cleidigh commented on #58724
after playing with this, I am making the new option interface include a primary option entry and a right justified 'extra' field.  This way a client can include a variety of indicators.  In this scenario we will pass in
the extras in the same way as the extended descriptions.

For settings, Asterix or '(default)' ?

[2018-09-19 21:41] alexandrudima commented on #58973
@octref I cannot reproduce

![58973](https://user-images.githubusercontent.com/5047891/45783236-81312300-bc65-11e8-89ea-4af03cf8147e.gif)

[2018-09-19 21:42] dontsave opened #58987 "moving TypeScript files in explorer fails to update/prompt imports when containing folder is moved"
- VSCode Version: 1.27.2
- OS Version: Win 10
- Typescript: 3.0.3

Steps to Reproduce:

0. Set update imports on move typescript setting to prompt
1. Create an empty project with 2 typescript files, one importing from the other.
2. In the explorer manually move the depended upon file to a new directory. You will be prompted to update the import. This works fine.
3. Now move that directory into ANO

[2018-09-19 21:54] graph opened #58988 "duplicate files open one in normal case and one in lower case"
Version: 1.27.2 (system setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

On windows 10

Steps to Reproduce:

1. create and open eXAmple.cpp (case sensitive)
2. make compiler output an error with by printing in lowercase. Sometimes MSVC does this for some reason I don't know

[2018-09-19 22:04] rebornix commented on #29663
Duplicate of #19420, let's track it here.

[2018-09-19 22:04] #29663 closed

[2018-09-19 22:05] roblourens commented on #58724
What happens when they run into each other?

[2018-09-19 22:08] roblourens commented on #58716
I can see how that could happen timing-wise, although I haven't seen it repro. But the process starts, prints some output, then exits.

I'm not sure how to prevent it. Wait 500ms to see if the target will exit immediately before attaching?

[2018-09-19 22:10] rebornix commented on #30079
No longer see this issue as described in the description.

![auto-indent-paste](https://user-images.githubusercontent.com/876920/45784588-258f7700-bc1e-11e8-9331-a3f5b862756a.gif)

[2018-09-19 22:10] #30079 closed

[2018-09-19 22:11] sbatten commented on #53134
These appear to be the same symptoms as reported https://github.com/Microsoft/vscode/issues/26121#issuecomment-383857298

[2018-09-19 22:11] #53134 closed

[2018-09-19 22:13] rebornix commented on #30497
We no longer indent after entering on a line without opening bracket, which means entering after `if (some)` will get

[code]

The following typing works as expected.

[2018-09-19 22:13] #30497 closed

[2018-09-19 22:19] rebornix commented on #31179
it's actually duplicate of #30872 , onEnter rules still kicks in when auto indent is disabled even.

[2018-09-19 22:34] CaptainN commented on #58978
Hmm, it seems #35240 and #14619 are saying it used to do what I'd like it to do, but then it was changed to the current (less useful IMHO) behavior. Can there be an option to put it back?

[2018-09-19 22:36] BobFrankston opened #58991 "Overriding index signatures"
I'm sure this has been discussed but I can't find it.

The Index signature is a very useful feature but the current implementation runs into the power of JavaScript objects in being able to have exceptions. I'm using a file generated by EXIFTOOL which is a JSON dump of meta information from images. So it makes sense to declare a string indexer. But when it comes to linking I want to add extra fiel

[2018-09-19 22:37] #55799 closed

[2018-09-19 22:37] CaptainN commented on #14619
For me, the old behavior (click launch icon, switch to existing v-desktop) would be more useful, more of the time. Is there an option to toggle it back to the original behavior?

[2018-09-19 22:38] CaptainN commented on #35240
It seems to work the way this issue requests now - but I'd actually like it to work the way it used to (as I have described in #58978) - is there a way to change it back with a setting?

[2018-09-19 22:40] rebornix commented on #31255
No longer see this issue with latest version with both issues described above.

![31255](https://user-images.githubusercontent.com/876920/45785716-3b9f3680-bc22-11e8-8ebc-50281e443a70.gif)

![31255-1](https://user-images.githubusercontent.com/876920/45785721-3e9a2700-bc22-11e8-8f81-53f44351e809.gif)

[2018-09-19 22:40] #31255 closed

[2018-09-19 22:41] rebornix commented on #31256
This issue is already fixed. Pressing * will not lead to an indent adjustment.

[2018-09-19 22:41] #31256 closed

[2018-09-19 22:43] Tekbr commented on #39512
-- Sorry for the English, I used Google Translator --

@sandy081 I still see with a problem. For a comparison, Atom does not keep the information after we close the Settings tab. I hope that in the future it will be changed.
If I closed the tab I do not want to search for what was typed.

[2018-09-19 22:44] cleidigh commented on #58923
sounds good
I can help with that whenever

[2018-09-19 22:49] cleidigh commented on #58724
💥 🔥🔥🔥

I'm thinking the extra will collapse and favor the primary

[2018-09-19 22:50] rebornix commented on #32328
Duplicate of https://github.com/Microsoft/vscode/issues/30859, let's track it there.

[2018-09-19 22:50] #32328 closed

[2018-09-19 22:51] rebornix commented on #32513
![32513](https://user-images.githubusercontent.com/876920/45786117-e3693400-bc23-11e8-8038-03da4890c688.gif)

This issue no longer exists in latest.

[2018-09-19 22:51] #32513 closed

[2018-09-19 22:52] octref commented on #58973
Interesting, I noticed it requires 2 specific behavior to repro:

1. You need to have the devtool undocked beforehand. Try to undock it, reload VS Code and open devtool to repro it.
2. Help -> Toggle Developer Tools does it, but my shortcut Cmd+Shift+I doesn't.

Peng also noticed it doesn't repro on Windows.

![devtool](https://user-images.githubusercontent.com/4033249/45786146-f67c0400-bc23-11e8-

[2018-09-19 22:52] mjbvz commented on #57749
Extension example show it as deprecated now :) https://github.com/Microsoft/vscode-extension-samples/tree/master/previewhtml-sample

Will also update documentation for next release

[2018-09-19 22:53] rebornix commented on #32660
![32660](https://user-images.githubusercontent.com/876920/45786187-29be9300-bc24-11e8-9d61-8c804ac753fe.gif)

This issue is gone in latest version.

[2018-09-19 22:53] #32660 closed

[2018-09-19 22:55] rebornix commented on #32817
This issue shares the same root cause of https://github.com/Microsoft/vscode/issues/32320. The root cause we check onEnter rules on wrong content when moving down. Let's track this issue there and thanks for the feedback.

[2018-09-19 22:55] #32817 closed

[2018-09-19 22:58] rebornix commented on #33011
![33011](https://user-images.githubusercontent.com/876920/45786321-cbde7b00-bc24-11e8-92b1-21c3c9bf2a8f.gif)

This issue was already fixed.

[2018-09-19 22:58] #33011 closed

[2018-09-19 23:07] rebornix commented on #33025
Duplicate of #19420.

[2018-09-19 23:07] #33025 closed

[2018-09-19 23:13] Tekbr commented on #1240
-- Sorry for the English, I used Google Translator --

I know the team has put a lot of resources into the VSCode. So much that it has much prominence in Windows, OS X and Linux and in several languages and not only in English.

And because of this dimension, I think you can already pay attention to Keyboard Layout for a variety of languages. Regardless of the number of votes. As I see it is a tri

[2018-09-19 23:14] rebornix commented on #34846
This shares the same root cause as https://github.com/Microsoft/vscode/issues/29589, let's track it there.

[2018-09-19 23:15] #34846 closed

[2018-09-19 23:16] rebornix commented on #35952
This issue shares the same root cause as #30859 , let's track it there.

[2018-09-19 23:16] #35952 closed

[2018-09-19 23:26] Tekbr commented on #26488
-- Sorry for the English, I used Google Translator --

@jrieken , you put this issue out of scope, but you did not pay attention after the last response, if you were able to reproduce the problem.

I ask you to reopen the case ... it is a very annoying situation. At Atom it works fine.

As I said above, if I saved the document it's because I do not need the suggestion any more. I believe you have

[2018-09-19 23:28] rebornix commented on #41639
Duplicate of #30872

[2018-09-19 23:29] #41639 closed

[2018-09-19 23:31] rebornix commented on #42543
Duplicate of #30859 , let's track it there.

We don't have good support for auto indentation of multiple line of expressions, right now you can disable auto indent by `editor.autoIndent` and use a formatter which supports this style.

[2018-09-19 23:31] #42543 closed

[2018-09-19 23:33] Tekbr commented on #30974
-- Sorry for the English, I used Google Translator --

@bpasero , in case #42657 it looks like @DavidLudwig was wanting to send a PR, I do not know if he came to see .. or could that question only be resolved by the members?

[2018-09-19 23:33] rebornix commented on #41702
Duplicate of https://github.com/Microsoft/vscode/issues/43244, let's track it here.

[2018-09-19 23:33] Tekbr commented on #30972
-- Sorry for the English, I used Google Translator --

@bpasero , in case #42657 it looks like @DavidLudwig was wanting to send a PR, I do not know if he came to see .. or could that question only be resolved by the members?

[2018-09-19 23:36] Almenon opened #58992 "TextDocumentContentProvider does not render content correctly when it is in a quarter panel"
- VSCode Version: 1.27.2
- OS Version: Windows 10

Steps to Reproduce:

1. Close any open docs
2. create a new doc (control-n)
3. open arepl extension (or any other extensiont that uses TextDocumentContentProvider, for example live server preview extension) and the preview will appear on the right
4. drag the preview down to the bottom half of the screen.
5. Create a new doc
6. Drag the new doc to

[2018-09-19 23:37] Almenon commented on #58992
@mjbvz can you mark this as wont fix please?

[2018-09-19 23:42] #41702 closed

[2018-09-19 23:43] adamsteer opened #58993 "VScode will not permit long file names"
Using VScode Version 1.27.1 (1.27.1), on MacOS High Sierra (10.3.6), with a HFS+ formatted volume:

VScode reports that my filenames need to be less than 31 characters long.

This is not a restriction inherent in MacOS, or other systems being interacted with (eg github; other Linux platforms).

Ideally, VScode would permit whatever the underlying OS/filesystem permits.

[2018-09-19 23:47] rebornix commented on #45849
Reindent command is using 4 indentation rules to adjust the indentation and that's not always accurate. When reindenting a large content, we will recommend using formatters which ensure the correct output. For more details, please see https://github.com/Microsoft/vscode/issues/19140.

[2018-09-19 23:47] #45849 closed

[2018-09-19 23:48] rebornix commented on #46381
Shares the same root cause as https://github.com/Microsoft/vscode/issues/29589. Let's track it there.

[2018-09-19 23:49] #46381 closed

[2018-09-19 23:52] rebornix commented on #49217
Duplicate #35709

[2018-09-19 23:52] #49217 closed

[2018-09-19 23:52] mjbvz opened #58994 "Adopt TypeScript 3.1"
Tracks picking up [TypeScript 3.1](https://github.com/Microsoft/TypeScript/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22TypeScript+3.1%22). We plan to ship this as the bundled typescript version with the September release of VS Code

Relevant tooling work:

- [ ] #50899 - Folding js/ts header before use strict
- [X] #51175 - Trigger rename on import path
- [X] #57542 Cancel geterr
- [ ] #54972 Com

[2018-09-19 23:55] rebornix commented on #50582
![50582](https://user-images.githubusercontent.com/876920/45787963-b8371280-bc2c-11e8-9dbc-06787da1f0d6.gif)

This issue is not reproduceable in vanilla VSCode.

[2018-09-19 23:55] #50582 closed

[2018-09-19 23:56] mjbvz commented on #58981
Please file this feature request against the python extension: https://github.com/Microsoft/vscode-python

[2018-09-19 23:56] #58981 closed

[2018-09-19 23:57] mjbvz commented on #58991
This issue was moved to Microsoft/TypeScript#27228

[2018-09-19 23:57] #58991 closed

[2018-09-20 00:01] pxwee5 opened #58995 "Settings UI - Not Showing Language Specific fields"
Issue Type: <b>Bug</b>

User settings JSON:
[code]

Settings UI - Not showing language specific fields at all. Just a general tab size.
![image](https://user-images.githubusercontent.com/14123790/45788139-da806d00-bccc-11e8-9116-363f783295c6.png)

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:04:11.329Z)
OS version: Darwin x64 16.7.0

<details>
<summary>Syst

[2018-09-20 00:07] YangHanlin commented on #58847
It works for me as well. Thanks!

[2018-09-20 00:08] jamesray1 opened #58996 ""Unable to open 'rpc.proto': File not found (filepath) error every time I open the program, due to a reorg"
Issue Type: <b>Bug</b>

I get three file not found errors every time that I open the program.

E.g.:

"Unable to open 'rpc.proto': File not found (file:///home/james/Rust/jrl/floodsub/rpc.proto)."

This file still exists but just has a different path due to a restructure of the workspace.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version:

[2018-09-20 00:10] prmichaelsen commented on #58936
@davec21 I’m glad you agree

[2018-09-20 00:30] geekley commented on #58038
Well, if a user checks and unchecks a setting, they will immediately notice that the setting now has a blue line, which wasn't there before. Even new users that don't know the exact meaning of the blue line will at least notice that something changed and didn't unchange.

If this wasn't intended, the first thing they will do (after possibly trying CTRL+Z) is look inside the gear icon. This is the

[2018-09-20 00:36] roblourens opened #58998 "'r' file icon overflows"
Change file icon theme to `Seti (Visual Studio Code`, find a .r file

![image](https://user-images.githubusercontent.com/323878/45788986-5e394b80-bc32-11e8-92fc-063ef864afea.png)

![image](https://user-images.githubusercontent.com/323878/45789002-6db89480-bc32-11e8-8d3e-784b04a7bbb2.png)

Looks kind of cool but probably not on purpose?

[2018-09-20 00:41] roblourens commented on #58038
Yes but that's not a good thing, because they will be confused.

I disagree. I think many users will never notice or explore the context menu.

A checkbox is the simplest control in the world. It works the same on every form or in every settings page in every app, everywhere. If we change its behavior by introducing a mysterious third state, controlled by a different command in a hidden menu, we r

[2018-09-20 00:48] geekley commented on #58038
Ok then, how about erasing the setting only if it wasn't already there before the settings tab was first open?
Then the current behaviour can be mantained, while people that already have a custom setting won't risk losing it unless they use the reset button.

[2018-09-20 00:55] geekley commented on #50827
Maybe it would be less confusing if each workspace setting had an "Override in this workspace" checkbox before the setting. The override option would never be faded out, and the setting would be faded out (half opacity) only if the override option is not set. This avoids the confusion with disabled, and makes the action of overriding more explicit.

[2018-09-20 01:02] mjbvz commented on #58711
Thanks. Unfortunately I'm unable to reproduce this on any machine so I need a bit more information from you:

1. What are the exact steps to take to show the code action menu and the select the desired refactoring? Are you using the mouse? The keyboard?

1. In a TypeScript file, if you write:

[code]

Can you successfully trigger the quick fix that adds the missing super call in the constructor?

[2018-09-20 01:06] geekley commented on #58038
My previous comment was for user settings.

In the specific case of this issue, (not being able to override the Workspace setting) [this solution](https://github.com/Microsoft/vscode/issues/50827#issuecomment-423004412) (an override checkbox before each setting) would solve it better, I think.

[2018-09-20 01:07] Eskibear commented on #40699
Supposed to be resolved. Close it.

[2018-09-20 01:07] #40699 closed

[2018-09-20 01:34] robjs827 commented on #58674
![image](https://user-images.githubusercontent.com/19618859/45790422-bff3c700-bcbf-11e8-802d-f33334354d54.png)

@joaomoreno This snapshot shows the `normal` (exactly `recovered`) case after vscode gets restarted.
When it went wrong, I couldn't see the badge on the `GIT` icon (the red circled part) although there were some changes on git tree. i.e. typing `git status` shows git changing list in red

[2018-09-20 01:34] #58674 closed

[2018-09-20 01:34] eli-schwartz commented on #56686
We currently have this building using the system electron package. See https://git.archlinux.org/svntogit/community.git/tree/trunk?h=packages/code

Would you be interested in incorporating any of these changes or making them easier to integrate?

[2018-09-20 01:42] qdechochen commented on #54523
Hi @mjbvz,

please clone this repository to debug.

[](https://github.com/qdechochen/osql.git)

Open it in code, then open ast-translator.js (or some other files), outline will be loading and loading. (sometimes, this step may be short.) Then you type something, do some change, outline will then be loading and loading, and may last for 30+ seconds after you stop typing.

[2018-09-20 01:44] #21686 closed

[2018-09-20 01:47] ramya-rao-a commented on #31378
@aadon Your example is SQL code. I am guessing your using an extension for this. When copying the row, are you copying from the editor where you typed the sql query or from the results that show up in a different editor?

[2018-09-20 01:52] babakness commented on #58711
Hey, so I just noticed something. If I click on the lightbulb icon when I select code, it works! But it doesn't work if I select the code, right click on the selected code, choose "Refactor..." then choose "Move To New File"

Log output

[code]

Nothing else!

[2018-09-20 01:54] babakness commented on #58711
Oh here is potentially useful log, last one was from `Log (window)` this one is from `Log (Extension Host)`

[code]

[2018-09-20 02:04] Tyriar opened #59000 "Terminal does not remeasure characters after changing fontFamily"
Repro on Ubuntu:

1. Open terminal with no editor or terminal font family set:

    ![image](https://user-images.githubusercontent.com/2193314/45791432-829b2500-bc3e-11e8-8465-caa595fb519f.png)

2. Set `"terminal.integrated.fontFamily": "Ubuntu Mono"`

   ![image](https://user-images.githubusercontent.com/2193314/45791462-9d6d9980-bc3e-11e8-8b9f-eaa346936d1e.png)

3. Remove the setting:

   ![imag

[2018-09-20 02:04] formulahendry opened #59001 "Context menu will disappear when there is new text appeneded in Output Channel"
Issue Type: <b>Bug</b>

I could confirm this bug only repro when `window.titlebarStyle` is `custom`

![bug](https://user-images.githubusercontent.com/1050213/45791482-705fcc00-bcbc-11e8-9249-49d7f930750f.gif)

VS Code version: Code - Insiders 1.28.0-insider (45986ca7abf63460dc96409a61fb2f0c98ba0b70, 2018-09-19T09:34:25.276Z)
OS version: Windows_NT x64 10.0.17134

<details><summary>Extensions (3)</

[2018-09-20 02:04] jkaster commented on #58974
I'll check the ts-lint configuration. I do still find it peculiar the lint checker expects 2, but the editor expects 4. I think the Detect indentation from content should also consider lint rules.

[2018-09-20 02:06] gdh1995 commented on #7570
Yes, the new one (exp 1.28.0) works both when a Wi-Fi card is disabled and if hardwares enabled but no active Wi-Fi connections.

The current one (1.27.2) can not work:

[2018-09-20 02:29] ma11hew28 opened #59003 "Bind L not I to expandLineSelection by default"
#### Summary

I think the default keybinding to select the current line should be <kbd>Ctrl</kbd>+<kbd>L</kbd>, not <kbd>Ctrl</kbd>+<kbd>I</kbd>.

#### History

Looking at the history, I've deduced that <kbd>I</kbd> (instead  of <kbd>L</kbd>) was bound to `expandLineSelection` by mistake. (That's why I chose the type "bug report" and not "feature request" for this issue.)

In issue #950, @benkaise

[2018-09-20 02:34] ghiscoding commented on #45693
@Tyriar

Just curious, is this big change planned for the 2018 roadmap or will it be next year? I'd be happy to see a more reliable terminal. Thanks and keep up the great work 😃

[2018-09-20 02:36] indraraj26 opened #59004 "Extension host terminated unexpectedly"
- VSCode Version: 1.27.2
- OS Version:

![image](https://user-images.githubusercontent.com/23274631/45792150-35ed3380-bcaa-11e8-8517-7c48b87dfda8.png)

![image](https://user-images.githubusercontent.com/23274631/45792160-400f3200-bcaa-11e8-93b6-7ed8ba6e8a81.png)

Steps to Reproduce:

Add this following extension in your VS code studio and do some work you will get popup of extension host terminate

[2018-09-20 02:39] VNXtreme opened #59005 "Performance issue"
Issue Type: <b>Performance Issue</b>

Happen: after recent update and a little while of usage.
Edited: RAM goes high. VS code has taken almost 50% CPU without me doing anything. Code suggestion no longer works.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Val

[2018-09-20 02:42] programmingj commented on #45693
I am having to have my entire machine re-imaged because I still can't
get a terminal or get Code to see/run the dotnet CLI (I can run dotnet
commands from a CMD window separately from Code), even after uninstalling
ALL Visual Studio 2015 related installs (except for SQL Server MS and the
framework versions) and every version of the SDK then reinstalling the SDK
and Code after deleting the Code fol

[2018-09-20 02:47] aviau commented on #51253
I like to see all the text. Whether it is under my cursor or below my cursor, I want to be able to read it.

Also, displaying the information in another window would allow me to set the intellisense window to appear all the time, with **no delay** and **no key to press**. Disabling the delay or key shortcut would be extremely annoying if it appears over the text. However, if it is in a separate pa

[2018-09-20 02:56] vronney commented on #58750
Here is  a screen shot.
I circle the areas to show as an example.  The code editor is formatting
the tags in the following manner.  It separates the tag.  Makes it hard to
read.  How can I fix this?
[image: image.png]

On Wed, Sep 19, 2018 at 3:18 AM João Moreno <notifications@github.com>
wrote:

[2018-09-20 03:02] ccchaooo opened #59006 "can't update vscode"
[vscode-inno-updater-1537412043.log](https://github.com/Microsoft/vscode/files/2399448/vscode-inno-updater-1537412043.log)

- VSCode Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-09-20 03:07] ccchaooo commented on #59006
Does this issue occur when all extensions are disabled?
 Yes

[2018-09-20 03:29] Tyriar commented on #35901
A temporary workaround was merged for Ubuntu that tweaks the font family/size if it's not set https://github.com/Microsoft/vscode/pull/56429

[2018-09-20 04:03] Lynn-cc opened #59008 "Entering “Tab” is always moving focus instead of inserting a tab in code."
- VSCode Version: 1.27.1
- OS Version: windows7

Steps to Reproduce:

1.C-M or not，entering  ‘tab’ is always moving the focus。
2.

Does this issue occur when all extensions are disabled?: **Yes**

[2018-09-20 04:36] eamodio commented on #58422
It would be wonderful if extensions could get in on this too!

[2018-09-20 04:55] agurodriguez commented on #50128
Regarding the underline don't appearing I'm trying this solution https://github.com/agurodriguez/xterm.js/commit/be4142d79582765600229103cb7a1e1bc2ac9058, and it seems to work (I'm going to sleep right now, but tomorrow I'll make some testing).

Do you think it's a feasible solution?

[2018-09-20 05:02] nealot commented on #58726
I meant something like https://www.w3schools.com/howto/howto_js_sticky_header.asp where the extension information is separate from the navigation and is hidden when scrolling.

[2018-09-20 05:05] justnull opened #59009 "can not run ./scripts/test.sh"
- VSCode Version: developing version.
- OS Version: ubuntu 18.04 in virtualBox hosted on win10.

Steps to Reproduce:
after "yarn run watch",I had see  "Finished compilation" . but when I run "./scripts/test.sh",
`[13:03:34] Using gulpfile ~/js/vscode/gulpfile.js
[13:03:34] Starting 'clean-electron'...
[13:03:34] Finished 'clean-electron' after 12 ms
[13:03:34] Starting 'electron'...
internal/strea

[2018-09-20 05:07] #48713 closed

[2018-09-20 05:08] #41158 closed

[2018-09-20 05:08] #43348 closed

[2018-09-20 05:08] #58524 closed

[2018-09-20 05:08] #58543 closed

[2018-09-20 05:08] #58262 closed

[2018-09-20 05:08] #49681 closed

[2018-09-20 05:08] #50768 closed

[2018-09-20 05:08] #58420 closed

[2018-09-20 05:08] #57121 closed

[2018-09-20 05:35] #58998 closed

[2018-09-20 05:36] PeterChen1997 opened #59010 "syntax highlighting has a problem in identifying vue.js‘s file"
- VSCode Version:1.24.1 (1.24.1)
- OS Version: macOS High Sierra (10.13.6)

Steps to Reproduce:

1.git clone git@github.com:vuejs/vue.git
2.open file src/core/vdom/create-elemenet.js and scroll to line 55

Does this issue occur when all extensions are disabled?: Yes/No

YES

![image](https://user-images.githubusercontent.com/21072589/45797807-e9b9e780-bcd9-11e8-9a19-1ce977a832f5.png)

and the gith

[2018-09-20 05:37] rahultrivedi180 opened #59011 "Extensions not working properly"
Issue Type: <b>Bug</b>

It is very frustrating that i can't disable java debugger extension. I can't even uninstall extensions.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.15.0-34-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-6100U CPU @ 2.30GHz (4 x 2300)|
|GPU Sta

[2018-09-20 05:38] btruhand opened #59012 "Keybindings with when clause editorTextFocus is being ignored for some key combinations when terminal is focused"
- VSCode Version: 1.27.2
- OS Version: MacOS High Sierra 10.13.6

I have my own user-defined keybinding for moving line up and down. For me I like to set it to `shift+j` and `shift+k`. I've set up the `when` clause to be `"editorTextFocus && !editorReadOnly && vim.mode != 'Insert'"` for both of them. However when I type `shift+k/j` in the integrated terminal, unexpectedly the lines in opened edito

[2018-09-20 05:41] #59011 closed

[2018-09-20 05:46] BIMSOMS opened #59013 "VS code shuts down while hovering over help menu"
Issue Type: <b>Bug</b>

cklick the help menu and hover over the entries for a couple of minutes. VS code shuts down without any message

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz (8 x 2592)|
|

[2018-09-20 05:48] bpasero commented on #58961
Thanks

[2018-09-20 05:48] bpasero commented on #7570
Great, thanks.

[2018-09-20 05:54] ramya-rao-a commented on #58726
Ah, that definitely is a good idea

[2018-09-20 06:03] baobz opened #59014 "fold code"
- VSCode Version:1.27.2
- OS Version:

Steps to Reproduce:

1. Fold the code in vscode, close vscode and open it again, the code is not folded
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2018-09-20 06:10] zavr-1 opened #59015 "No suggestions for extended classes."
Issue Type: <b>Bug</b>

There are no suggestions of the `super` class's methods.

VS Code version: Code - Insiders 1.28.0-insider (cd9d71a31f731baf17330a84448c3efdeabc873f, 2018-09-17T05:12:08.581Z)
OS version: Darwin x64 15.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)2 Duo CPU     P7350  @ 2.00GHz (2 x 2000)|
|GPU Status|2d_canvas: unavailable_soft

[2018-09-20 06:18] bpasero commented on #56644
@cboillat @Koljasha @overburner can you please try this:
* `git clone https://github.com/electron/electron-quick-start.git`
* `cd electron-quick-start`
* `npm install`
* open `main.js` and replace the contents with the contents below
* `npm start`
* look at the console for the output "Tracing data recorded to..."
* attach that data as zip file

main.js:

[code]

[2018-09-20 06:34] llfylwg opened #59016 "git status changes slowly"
when my project is very big , the git status changes slowly,even i can not open compare tag

[2018-09-20 06:39] overburner commented on #56644
@bpasero - tracing data: [data.zip](https://github.com/Microsoft/vscode/files/2399965/data.zip)

[2018-09-20 06:52] MoayyadMaswadeh commented on #58758
Hi @samjacobclift,
Unfortunately, I tried this but it didn't work.

Not just that, I uninstalled VSCode completely, deleted all related files under the %USERPROFILE% and AppData including extensions, then I downloaded the latest version (1.27.2) installer from Microsoft website, installed again, and I'm experiencing the same issue even though I haven't installed any extensions.

Anyone with the sa

[2018-09-20 07:02] Koljasha commented on #56644
@bpasero data:
[data.zip](https://github.com/Microsoft/vscode/files/2400056/data.zip)

[2018-09-20 07:06] itamark commented on #58891
@roblourens @ramya-rao-a I saw the bug in my insiders build, but I can't see it in OSS build. Am I missing something?
<img width="732" alt="screen shot 2018-09-20 at 10 05 57 am" src="https://user-images.githubusercontent.com/1757393/45801544-d2b8cc80-bcbc-11e8-86bb-25f0610e408a.png">

[2018-09-20 07:07] bpasero opened #59018 "Allow to record content traces on startup"
Leverage https://github.com/electron/electron/blob/2-0-x/docs/api/content-tracing.md

[2018-09-20 07:17] #59018 closed

[2018-09-20 07:18] jeryckho commented on #58868
Ok, worked for me.

To be noticed, I had to uninstall `Microsoft Visual Studio Code (User) 1.27.2` _**and**_ `Microsoft Visual Studio Code 1.26.0`.
I don't know why 1.26.0 was still installed.

[2018-09-20 07:19] remcohaszing commented on #40233
Instead of using `${workspaceRoot}/.vscode/settings.local.json`, I believe these settings should be stored outside of the VCS repository. I tend to use `git clean -xdf` a lot to get a pristine working directory. This would remove the local settings.

My current workaround is to create `${workspaceRoot}/.git/.vscode` and symlink it after I remove it by accident. This workaround works, because I bel

[2018-09-20 07:27] bpasero commented on #40009
Ok, closing thereby.

[2018-09-20 07:27] #40009 closed

[2018-09-20 07:28] #58868 closed

[2018-09-20 07:29] testforstephen commented on #58327
Verified the multiple threads case, it works in the 2018-09-20 windows insider.

[2018-09-20 07:31] fenying commented on #32513
@rebornix Well thanks. This is a pretty useful feature.

[2018-09-20 07:33] joaomoreno commented on #58674
I see. So... the Git icon is there... it's just the counter badge that does not show up. Would it show up if you run the Refresh action? This is likely a missing file events issue.

[2018-09-20 07:34] joaomoreno commented on #53857
Thanks @the-ress, my bad.

[2018-09-20 07:35] joaomoreno commented on #53857
@jotrueck Can you go through this checklist, so we figure out what goes wrong?

Here is a **checklist** to find out more about the freeze/slow/crash
- [ ] it reproduces with extensions disabled (`code --disable-extensions` from the command line - NOT the integrated terminal of Code)
    - if it does not reproduce with extensions disabled, you can stop testing and report this!
- [ ] it was not happ

[2018-09-20 07:36] mjbvz commented on #58711
Thanks @babakness. I can repo now using the refactoring menu

@sbatten and @bpasero I believe I have tracked this down to the refactor context menu seemingly not firing its actions when the user select an item. This may because the refactor context menu is triggered from within another context menu. I'll keep debugging tomorrow but let me know if you have any ideas on what may be going wrong here

[2018-09-20 07:37] joaomoreno commented on #58730
:+1:

Nah, sounds like a very good default value.

[2018-09-20 07:38] bpasero commented on #19400
The behaviour of the commands for toggling panels has changed as outlined in https://github.com/Microsoft/vscode/issues/19400#issuecomment-421038167. To get back the previous behaviour, simply configure a keybinding to close the panel when the related panel is active, e.g. for output:

[code]

The list of panel identifiers is:
* `workbench.panel.terminal`
* `workbench.panel.markers`
* `workbench.p

[2018-09-20 07:38] joaomoreno opened #59020 "Git: Support glob patterns in 'git.ignoredRepositories'"
From https://github.com/Microsoft/vscode/issues/45098#issuecomment-422594343

cc @jd-carroll

[2018-09-20 07:39] joaomoreno commented on #45098
Created https://github.com/Microsoft/vscode/issues/59020

[2018-09-20 07:39] joaomoreno commented on #26185
Are you sure Code did that? Can you reproduce that with `--disable-extensions`?

[2018-09-20 07:39] bpasero commented on #58711
@mjbvz does it reproduce with the custom menu but not the native menu?

[2018-09-20 07:41] PeskovV opened #59021 "Open setting's windows"
Issue Type: <b>Bug</b>

When i open setting's windows (icon pinion), it is opened relatively mouse cursor. I think it should opening in certain place.

![screenshot_1](https://user-images.githubusercontent.com/26106827/45803214-ac496000-bcc1-11e8-8747-c56dd947c48b.png)
![screenshot_2](https://user-images.githubusercontent.com/26106827/45803222-b23f4100-bcc1-11e8-9f94-9bfa11e009ac.png)

VS Code ver

[2018-09-20 07:41] Lev09 commented on #45768
@joaomoreno after getting few updates that problem seems to be solved for me.
Now I am using following version of VSCode

Version: 1.27.2
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T07:11:15.873Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

[2018-09-20 07:44] eli-schwartz commented on #56686
* We use a custom loader script `[code.js](https://git.archlinux.org/svntogit/community.git/tree/trunk/code.js?h=packages/code)`
* The executable in /usr/bin/ is a wrapper script calling `electron /usr/lib/code/out/cli.js /usr/lib/code/code.js`
* We sed out .yarnrc with the electron version from the system installation
* We install `VSCode-linux-x64/resources/app/` as `/usr/lib/code`

[2018-09-20 07:48] mjbvz commented on #58711
This is on MacOS, so native context menus

[2018-09-20 07:51] mathertel opened #59022 "Foldername displayed instead of submodule name in git window"
- VSCode Version: 1.27.2
- OS Version: Windows

## Steps to Reproduce

in an existing project add a submodule. e.g.
[code]

In the Git window the repository now is labeled with "v0001" instead of "gimmick".

Because having multiple versions in our project is essential we see multiple v00xx folders and easily get confused.

Please fix by displaying the module name given

- Does this issue occur whe

[2018-09-20 07:55] jyavenard opened #59023 "Can't define a Windows' specialized problemMatcher"
- VSCode Version: 1.27.2
- OS Version: Windows 10

Steps to Reproduce:

1. Have a task setup to build

[code]

Now, this configuration will work great on mac and linux, because clang error code will match exactly that regex:
/Users/jyavenard/Work/Mozilla/mozilla-central/dom/media/platforms/ffmpeg/FFmpegVideoDecoder.cpp:315:6: error: expected expression

On Windows however, this will be:
c:/Users/j

[2018-09-20 07:58] bpasero commented on #58711
@mjbvz that would be very weird. I am not even able to bring up anything when I click on "Refactoring...", is this broken? E.g. I selected some code and triggered it and was at least expecting something like "Extract method".

[2018-09-20 07:59] bpasero commented on #58711
Ok I can reproduce, steps:
* click "Source actions..."
* click "Organize Imports"

=> nothing happens

Works fine when invoked from the command palette.

[2018-09-20 08:00] eli-schwartz commented on #56686
Do you mean to say you just want to know, in order to make sure it's not infringing the Microsoft copyright? I'm really unsure what that means, since after all the source code repository we use is MIT-licensed, which gives us a tremendous amount of latitude.

Do you mean you want to know if it's licensed in a way that allows merging? Then you should ask @FFY00 to agree to license it under the same

[2018-09-20 08:00] izdwuut commented on #58880
Thanks. Now I see that the problem is more complex. And common, too. I've just checked how Notepad++ handles it and this syntax confuses him as well. On top of that I was wrong before. The snippet that I posted:
[code]
Doesn't pass the validation as well. It just didn't strike me at first. I think that it invalidates (what an irony!) my point. What a cool feature would it be, though!

[2018-09-20 08:02] #58128 closed

[2018-09-20 08:02] isidorn commented on #58128
Thanks for trying it out, closing

[2018-09-20 08:03] isidorn commented on #58327
@testforstephen thanks a lot for verifiing, adding verified label

[2018-09-20 08:03] joaomoreno commented on #56686
- Would this custom loader script be useful for other scenarios? It seems to be very specific to the situation of launching vanilla electron against Code's resources.
- I don't think the `.yarnrc` changes would make sense to go upstream.
- The install location is already defined for the deb and rpm packages, I don't think we want to change it now.

Yeah I meant it that way. Everything in this repo

[2018-09-20 08:09] shengaiyishi opened #59024 "使用vscode写js文件变卡了"
您好，最近使用vscode for Mac版本才写了4000行的js文件，写代码的时候会有卡的现象，比如说，点击折叠代码的+没有任何效果，或者写了一个fun也没有任何提示，插件才装了16个

[2018-09-20 08:11] jrieken commented on #58933
Language detection includes detecting if a file is binary or textual.

[2018-09-20 08:11] alexrussell commented on #28636
This is 100% not a solution to the issue, but as a suggestion to work out whether it's what you say, try turning the mouse upside down so the laser isn't doing its job and then click with your nail (so the swipe-scrolling mechanism has a minimal change of kicking in).

When I do that, it deselects 100% of the time, so I maintain that the magic mouse is just prone to a 1px (and apparently visually

[2018-09-20 08:11] BOLL7708 opened #59025 "Option to ignore known file extensions for file sorting order in the Explorer sidebar"
Currently file order in the Explorer view matches on the whole file name plus the file extension, including for known file-types. This makes the order of files unintuitive for me. See sample image below where I expected `config.php` to be at the top and `config.stage.local.php` to be at the bottom.
![image](https://user-images.githubusercontent.com/12276837/45804515-9dac7a00-bcbc-11e8-91ce-5b12ec8

[2018-09-20 08:15] DanTup commented on #58388
@isidorn

So you cloned that repro and ran the test on macOS but it failed? You didn't get the same result as my screenshot in that comment? 🤔

I can't explain that - it passes here on macOS, fails on Windows, but if I change `{workspaceFolder}` to a full FS path on Windows it will a) pass if the drive letter is lowercase and b) fail if the drive letter is uppercase.

Note: I'm testing with Stable

[2018-09-20 08:16] costincaraivan commented on #47661
Yes, I want the active terminal split pane to go full screen, filling at least the terminal side bar to 100%.

Ideally, if the terminal evolves and can be placed anywhere, including a normal tab, the terminal will have the ability to be maximized and terminal splits will also have this ability (+ the ability to be restored to their previous size).

Check out tmux for clarification: https://sanctum

[2018-09-20 08:19] #8301 closed

[2018-09-20 08:19] sandy081 commented on #8301
A new command to focus problems from filter is added with default keybinding `cmd+down` and another command to focus filter from problems panel with default keybinding `cmd+f`.

[2018-09-20 08:19] eli-schwartz commented on #56686
Hmm, uh.

Well, there is https://github.com/Microsoft/vscode/issues/31168 and https://github.com/Microsoft/vscode-wiki/pull/30, plus the ignored https://github.com/Microsoft/vscode-wiki/pull/34
Which seem to be sort of conflicting.

I don't see anywhere where it is spelled out, whether it is intended that open-source builds be *allowed* to access the marketplace -- or whether that is simply not en

[2018-09-20 08:20] DraganGrbic commented on #58889
It was issue with Angular Language Service add-on. Closing the issue.

[2018-09-20 08:20] #58889 closed

[2018-09-20 08:27] dbaeumer commented on #58980
I see the point. The problem is that the `cwd` in options is for the process we start and the `cwd` for the problem matcher the current `cwd` of the VS Code process. But I see that in this constellation it would make sense to treat the `cwd` the same. But it might be a breaking change since it will change the behavior for exist tasks if we change this. Need to change this with care.

[2018-09-20 08:27] fuzihaofzh commented on #28432
Still exists in OSX. Can anyone help to solve?

[2018-09-20 08:27] #13735 closed

[2018-09-20 08:29] sandy081 commented on #16490
You can use glob patterns now in the filter input box.

[2018-09-20 08:29] #16490 closed

[2018-09-20 08:31] #56794 closed

[2018-09-20 08:32] jrieken commented on #42167
The problem here is that quick suggestions (suggestion that show as you type) only appear at word ends and not when typing inside a word. What a word is is defined by the language. Having said this, with todays [Insiders](https://code.visualstudio.com/insiders/) builds tab completion has gotten much smarter. Set the option `on` and pressing tab will complete your snippet.

[2018-09-20 08:32] #42167 closed

[2018-09-20 08:33] sandy081 commented on #18685
@jrieken Is it possible to get the markers in the order of creation?

[2018-09-20 08:35] sandy081 commented on #36982
Duplicate of #33931

[2018-09-20 08:36] #36982 closed

[2018-09-20 08:36] isidorn commented on #52578
@RMacfarlane is it ok if we look into this in September? It seems low hanging and we need this to achieve a better accessibility grade.

[2018-09-20 08:38] isidorn commented on #52562
@RMacfarlane is there any chance we look into this? Not sure how to solve it though.

[2018-09-20 08:40] isidorn commented on #52383
Assigning this to September since a lot of accessibility issues are tied to this one
@chrmarti if you do not have time for this feel free to move to October

[2018-09-20 08:42] isidorn commented on #52274
Assigning to september since we need this for the better accessibility grade. So we try to find some solution, feel free to move out to October

[2018-09-20 08:42] isidorn commented on #52154
@AccessibilityTestingTeam-TCS can you please answer @sandy081 question

[2018-09-20 08:43] isidorn commented on #52036
@alexandrudima I think we should close this as invalid.

[2018-09-20 08:44] getfox opened #59026 "print function is unfunctional"
Issue Type: <b>Bug</b>

after correctly install vs code and python3.6, the"print("hello world.")" command pops :'NoneType' object has no attribute 'write'. but other  python code are running correctly. If I run .py files use the terminal, it will print functionally.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.16

[2018-09-20 08:44] isidorn commented on #51986
Assigning to October so we discuss if something can be done here.

[2018-09-20 08:45] isidorn commented on #51983
Same as the other welcome issue, assigning to October so we see what we do here.

[2018-09-20 08:46] smbkr opened #59027 "Three column conflict resolution view"
A three column git merge conflict resolution view could be really useful. Currently, a single column is used, showing both incoming changes and changes from HEAD, as well as the eventual merged state.

An alternative to this would be to use three columns for the three different states, ie. incoming changes on the left, the state of HEAD on the right, and the output of the merge once changes are pi

[2018-09-20 08:46] isidorn commented on #51824
@bpasero would you be willing to do some tweaking for this?
We need it for a better accessibility grade.
Anyways assigning to October so Christof looks once he is back if you do not have time this week

[2018-09-20 08:46] Yanpas opened #59028 "Middle click selection in extension search doesn't copy text to 2nd clipboard linux"
- VSCode Version: 1.27.2
- OS Version: kubuntu 18.04

Steps to Reproduce:

1. enter some text to extension search bar
2. select it (by the way I can only select whole text, not part of it)
3. Text isn't copied to the second clipboard (this is linux specific, middle button clipboard)

![peek 2018-09-20 11-44](https://user-images.githubusercontent.com/7345761/45806821-ac9a2900-bcca-11e8-83ae-61467e8

[2018-09-20 08:47] smbkr commented on #59027
Closing as this is a duplicate of #37350

[2018-09-20 08:47] #59027 closed

[2018-09-20 08:47] isidorn commented on #52564
@rebornix do we plan to change the keyboard focus order. If yes than can we do this in september.
If no, then we should close this as invalid with a good reason.
Assigning to September and adding under-discussion

[2018-09-20 08:47] smbkr commented on #37350
The newly released [Sublime Merge](https://www.sublimemerge.com) has a similar implementation.

[2018-09-20 08:48] isidorn commented on #52683
@AccessibilityTestingTeam-TCS can you please answer my questoin

[2018-09-20 08:49] svipben commented on #28215
@jrieken What can I say... It's the best feature, I'm in heaven 😄

I'm using these settings and it feels amazing, no more annoying suggestions popup and I can easily autocomplete my changes by pressing `tab`.

[code]

You did really great job because it surpassed my expactantions, it works perfectly!!!

[2018-09-20 08:49] maxthemillion commented on #25887
+1

[2018-09-20 08:50] isidorn commented on #52676
@bpasero do we plan to do something here? If no we should close as invalid and explain why
@misolori fyi since it is a contrast issue

[2018-09-20 08:51] isidorn commented on #52664
@ramya-rao-a do we plan to tackle this in September? It would be great since we depend on this one for a better accessibility score?

[2018-09-20 08:52] isidorn commented on #52611
@ramya-rao-a as the other one, would be great if we tackle this in september

[2018-09-20 08:53] isidorn commented on #52047
@alexandrudima we need this for a better accessilibity grade. Do you mind if I tackle it with a simple esc command that is enalbed only when the popup is active?

[2018-09-20 08:58] bpasero commented on #51824
Probably no time.

[2018-09-20 08:58] bpasero commented on #52676
I am happy for suggestions.

[2018-09-20 09:00] alexandrudima commented on #52047
Perhaps I should migrate the popup to use of the new dialog service methods.

[2018-09-20 09:02] danieldbird commented on #28636
FWIW I'm using a Logitech 403 mouse. I can say with almost 100% certainty it is the inadvertant moving of the mouse at least 1px whilst clicking that causes this issue.

[2018-09-20 09:04] jrieken commented on #18685
nope, they are "indexed" by resource and owner but they don't have a timestamp field on them

[2018-09-20 09:05] bpasero commented on #56644
@overburner @Koljasha thanks. could you run another test: see if this still reproduces with Electron 2.0.10 that was just released: [Download](https://github.com/electron/electron/releases/download/v2.0.10/electron-v2.0.10-win32-x64.zip)

[2018-09-20 09:05] jrieken commented on #28215
Thanks for the nice feedback!

[2018-09-20 09:05] bpasero commented on #56644
Oh, looks like you did that already in https://github.com/Microsoft/vscode/issues/56644#issuecomment-422801816 and it reproduces still.

[2018-09-20 09:09] sandy081 commented on #49215
How about showing error code at the end as @egamma mentioned

![image](https://user-images.githubusercontent.com/10746682/45808200-8aea7300-bcc5-11e8-8803-38a904eef271.png)

[2018-09-20 09:10] sveinse commented on #37947
Thank you @javier-moreno-tridonic-com for the procedure in how to circumvent this issue by adding the projects to the workspace in inner->outer order. That helps a lot until this issue is fixed.

[2018-09-20 09:16] ly1016799291 opened #59029 "connect launcher timeout"
Issue Type: <b>Bug</b>

The runtime is not connected to launcher 10060, but right click can run in the terminal.

VS Code version: Code 1.26.0 (4e9361845dc28659923a300945f84731393e210d, 2018-08-13T16:29:31.933Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) m3-6Y30 CPU @ 0.90GHz (4 x 1512)|
|GPU Status|2d_canvas: ena

[2018-09-20 09:17] Inter-Net-Pro commented on #58286
@mjbvz Please tell me the localization files should be in the root directory or in a separate folder to be stored?

[2018-09-20 09:27] joaomoreno commented on #48676
Nah, to the `vscode.diff` API command.

[2018-09-20 09:27] jrieken commented on #49215
Maybe not at the end-end but before the line/column info?

[2018-09-20 09:29] isidorn commented on #58106
Please file this against the python extension. And make sure you can reproduce with latest vscode insiders https://code.visualstudio.com/insiders/
Python is probably sending wrong paths for UNC paths to vscode

[2018-09-20 09:29] joaomoreno commented on #58629
Strange... What is the actual change made to the system variables? Can you check?

[2018-09-20 09:29] #58106 closed

[2018-09-20 09:30] sanket-bhalerao opened #59030 "Angular app, ctrl+click on a function/variable does not take you to its definition."
Issue Type: <b>Bug</b>

In Angular app, ctrl+click on a function/variable does not take you to its definition.
This used to work before insiders 1.28 update.

VS Code version: Code - Insiders 1.28.0-insider (b0787a2b87988dcddb6c33b356e59e568c255a77, 2018-09-20T08:35:33.941Z)
OS version: Windows_NT x64 10.0.15063

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2018-09-20 09:31] joaomoreno commented on #15667
@alexandrudima It seems to have changed to `editor.parameterHints.enabled`: https://github.com/Microsoft/vscode/pull/55354 cc @jrieken

[2018-09-20 09:31] isidorn commented on #57409
@joaomoreno andre refactored a lot and this might no longer be happening
We should try to repro in the office and if we can than I can investigate further on your machine. Maybe tomorrow?

[2018-09-20 09:33] tboby commented on #49215
Oh, please prioritise it over message on narrow screens (like line numbers currently do)
![image](https://user-images.githubusercontent.com/447391/45809637-92f3e400-bcc0-11e8-81b6-01862603548a.png)

Also, having line/column as far right causes things to line up nicely!

[2018-09-20 09:37] joaomoreno commented on #15581
Love it! I'm using `Number.MAX_VALUE` instead of checking for the line's length, works pretty well.

[2018-09-20 09:38] #15581 closed

[2018-09-20 09:40] joaomoreno commented on #58913
That will skip associating files with Code. I think the request is to keep the association but not have custom icons per file type.

[2018-09-20 09:41] lifesthateasy opened #59031 "VS Code won't update"
Issue Type: <b>Bug</b>

I get a popup telling me to restart VS Code to update it. I click restart, VS Code quits. Nothing happens for minutes. I start VS Code again, same message. This has happened on previous versions, too, only way to update was to remove the installation and reinstall the newest version from scratch.

VS Code version: Code 1.27.1 (5944e81f3c46a3938a82c701f96d7a59b074cfdc, 2018-

[2018-09-20 09:44] joaomoreno commented on #55110
This is probably something that should also be done by git itself. Would possibly fix these issues: #36219, #48038, #48038

Maybe we can join forces as well and bring that over to the git extension and you could leverage it?

Hm... not sure I understand this one.

Just talked to @bpasero about this yesterday. Guess what? https://github.com/Microsoft/vscode/commit/4e3f58f2f4e81fd6ebe5a5a7da7587c924

[2018-09-20 09:49] sandy081 commented on #49215
Before line numbers

![image](https://user-images.githubusercontent.com/10746682/45810521-14507400-bccb-11e8-9c04-e35843a59be4.png)

@tboby

![image](https://user-images.githubusercontent.com/10746682/45810570-2f22e880-bccb-11e8-88b9-d2faba7e024e.png)

[2018-09-20 09:53] joaomoreno commented on #48674
Here's the API: https://github.com/Microsoft/vscode/blob/master/extensions/git/src/api/git.d.ts

Here's usage example: https://github.com/Microsoft/vscode-pull-request-github/blob/master/src/extension.ts#L53

It is still pioneering work, so there's no official docuemntatio

[2018-09-20 09:54] joaomoreno commented on #58750
Sorry, the screenshot still does not appear. Come to GitHub and upload it in the browser.

Closing this issue for now.

[2018-09-20 09:54] #58750 closed

[2018-09-20 09:55] joaomoreno commented on #58910
No repository works, then?

Are the repositories located in a special file system, eg remote?

[2018-09-20 09:59] joaomoreno commented on #59016
How slow is git in the command line for that project?

[2018-09-20 09:59] #45768 closed

[2018-09-20 10:00] joaomoreno commented on #59022
/duplicate #40548

[2018-09-20 10:01] #59022 closed

[2018-09-20 10:03] flddr opened #59032 "Distraction free mode: hide comments"
Today most lines in code are comments - about 70-80%? It becomes harder and harder to view the real things, scrolling and eye-filtering increases more and more. Because _comments_ themselves are recognizable in _every_ language - would it be possible to become a switch like **hide comments** in VS Code? As every IDE would need that, it would be fantastic if VS Code becomes the first one that imple

[2018-09-20 10:04] mobisga opened #59033 "Mix on inline/external defined properties corrupt javascript intellisense"
Issue Type: <b>Bug</b>

Defining a variable:
var test = { prop1: '' }; test.prop2 = '';
intellisense does NOT recognize prop2 as a property belonging to test

Whereas defining:
var test = {  }; test.prop2 = '';
intellisense does recognize prop2 as a property belonging to test as it should

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version:

[2018-09-20 10:08] alexandrudima commented on #15581
To avoid doubles, I always use `Constants.MAX_SAFE_SMALL_INTEGER` which is kinda large even though it's called small integer.

[2018-09-20 10:12] mobisga commented on #59033
![jsvscodebadintellisense](https://user-images.githubusercontent.com/43438245/45811831-78c10280-bcce-11e8-9c4d-a3488770608d.png)
![jsvscodeokintellisense](https://user-images.githubusercontent.com/43438245/45811833-78c10280-bcce-11e8-8159-7d464cf4b5e9.png)

[2018-09-20 10:34] pxlotus opened #59034 "debugging"
We have written the needed data into your clipboard because it was too large to
Issue Type: <b>Bug</b>

my debug after the update is nolonger fast. it continually stops the launch with .json'settings. how can i improve that?

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summa

[2018-09-20 10:37] zhangenming opened #59035 "Offer buttons to access first/last/before/next tabs"
![2018920-183445](https://user-images.githubusercontent.com/21235555/45812983-f6ebcc00-bd03-11e8-990b-03e33853c563.jpg)

when i open too much tabs  will hard to select the first or last tabs just throw the Horizontal scroll axis
can you provide some buttons such as first/last/before/next ?
thanks

[2018-09-20 10:38] #58956 closed

[2018-09-20 10:41] aeschli opened #59036 "completion hovers with markdown have larger margins"
- open the classic settings editor
- do code completion for properties
- enable info hovers
- go through the properties

Note how the markup hovers look different from the regular hovers

![screenshot from 2018-09-20 12-41-05](https://user-images.githubusercontent.com/6461412/45813282-7e204c00-bcd2-11e8-88e9-e29d38322201.png)
![screenshot from 2018-09-20 12-41-13](https://user-images.githubusercon

[2018-09-20 10:46] aeschli commented on #58880
The right way would be if there's a extension for your templating language. That extension could correctly parse the document and generate a real html document to pass it to the html service for validation.

That's quite some work of course. I take your point that this is a common use case and we're constantly discussing what we can do to provide better support for templating languages, but no act

[2018-09-20 10:52] alexandrudima commented on #58276
Let's track in #1027

[2018-09-20 10:52] #58276 closed

[2018-09-20 10:52] yoyo837 commented on #59033
Hey guy, why is this closed?

[2018-09-20 11:07] #7759 closed

[2018-09-20 11:08] YangHanlin opened #59037 "Status bar appearance not restoring after debugging program terminates"
- VSCode Version: 1.28.0-insider (user setup)
- OS Version: Windows 10.0.17760.1

Steps to Reproduce:

1. Start debugging any C++ program (I meet this problem when debigging C++, **but I am not sure whether it occurs when programming with other languages**);
2. You will see the status bar change color;
3. Terminate the built executable and exit debugging;
4. You will **not** see the status bar res

[2018-09-20 11:09] #8094 closed

[2018-09-20 11:10] #9689 closed

[2018-09-20 11:16] #13497 closed

[2018-09-20 11:26] #14162 closed

[2018-09-20 11:27] alexandrudima commented on #14756
This has been implemented via `TextEditor.visibleRanges`

[2018-09-20 11:27] #14756 closed

[2018-09-20 11:28] #16472 closed

[2018-09-20 11:30] Domvel opened #59038 "VS Code Ignore (hide) Warnings in Problems Tab"
I wondering if there is already a feature to hide all warnings from problems tab.
If not here's the feature request. In my case I use unity with a few 3rd party assets.
There are "many" warnings about deprecated usage of Unity features. Whatever ...
It would be great if I could hide these warnings on the problems tab.
I want "Problems 0" but on the bottom of VS Code the indicator errors and warnin

[2018-09-20 11:40] FFY00 commented on #56686
One place I would see this being extremely helpful would be when developing/making changes to vscode. You wouldn't need to recompile anything, just make the changes and launch it. You can invoke electron directly in the code. If anything you would need to regenerate the modified typescript files. IMO this would help everytone by increasing your productivity and allowing us to package vscode proper

[2018-09-20 11:42] cboillat commented on #56644
@bpasero tracing data : [data.zip](https://github.com/Microsoft/vscode/files/2401085/data.zip)

[2018-09-20 11:48] MicrosoftEurope commented on #56686
+1

On Thu, Sep 20, 2018, 2:42 PM Filipe Laíns <notifications@github.com> wrote:

[2018-09-20 11:52] mxschmitt commented on #59031
Looks like your System is out of Memory. (8.00GB (0.03GB free))
That could be the reason, that the updater cannot be started.

[2018-09-20 11:53] isidorn commented on #59025
No worries, we have trouble searching most of the time ourselves

[2018-09-20 11:53] may215 opened #59039 "V 1.27.2: Go To Definition Not Working (Javascript)"
Issue Type: **Bug**

Right-click on Javascript method of class
Select Go-To-Definition
UI reports definition doesn't exist.

- VSCode Version: 1.27.2
- OS Version: Ubuntu 16.04

Does this issue occur when all extensions are disabled?: Yes

**List of extensions:**
christian-kohler.npm-intellisense@1.3.0
christian-kohler.path-intellisense@1.4.2
donjayamanne.githistory@0.4.2
DotJoshJohnson.xml@2.3.2

[2018-09-20 11:58] g-arjones commented on #58828
@jrieken @dbaeumer @bpasero Would anyone confirm this, please?

[2018-09-20 12:02] sandy081 commented on #57950
@misolori Shifting to the left of the twisty might not be a good idea it can break the children alignment. Other option is to have a tree gutter area which needs to go into tree. I am afraid we can implement tree gutter for this requirement. Other option is to go back to my initial idea of overlaying light bulb on the error icon

![image](https://user-images.githubusercontent.com/10746682/42762255

[2018-09-20 12:04] #49215 closed

[2018-09-20 12:07] bpasero commented on #58711
@mjbvz I verified that the "Organize Imports" action is triggered, so it does not seem to be an issue with the menu.

[2018-09-20 12:07] #29674 closed

[2018-09-20 12:14] techniq commented on #26185
@joaomoreno hmm, I typically have VSCode, Visual Studio for Mac, and SourceTree open for the same project which could all culprits.

I just closed everything down and added a new file via the command line, and `git status` shows the file already staged.  I have a very simple `.gitconfig`, but at this point, I'm not sure it's VSCode (to be honest I wasn't sure what the culprit was, but when I saw t

[2018-09-20 12:27] alexandrudima commented on #23873
Let's track in #1800 which would allow for an extension to implement any behavior.

[2018-09-20 12:27] #23873 closed

[2018-09-20 12:28] sandy081 commented on #18685
Is it possible If the user wants to view problems in the order they come into the system?

[2018-09-20 12:28] techniq commented on #26185
@joaomoreno Actually, while I thought I had shut down all 3, Visual Studio for Mac was still open, and closing it stopped the auto-staging, so I think I found, my culprit.

---

While there isn't a setting in Visual Studio for Mac, disabling version control globally resolved my issue.  Sorry for the noise :)

![image](https://user-images.githubusercontent.com/177476/45818220-1573a800-bcaf-11e8-9c3

[2018-09-20 12:29] galgalesh opened #59040 "Please add MIME type for .code-workspace file"
A Visual Studio Code workspace file is currently recognised in Linux as a normal plain text file. This is because there isn't a MIME type for this file. Applications can provide additional MIME types as described here:

https://developer.gnome.org/integration-guide/stable/mime.html.en

Not having a MIME type has a couple of issues, for example the files are shown as plain text files in the GUI, wh

[2018-09-20 12:38] #24862 closed

[2018-09-20 12:45] borekb commented on #57907
Just noticed another "feature" of locked issues that I'd like to note here while I can: referencing an older locked issue doesn't create a back-link from that old issue back to the newer one. I find the back-links useful when looking for possible newer workaround or implementations.

[2018-09-20 12:48] #26185 closed

[2018-09-20 12:50] #30293 closed

[2018-09-20 12:55] borekb opened #59041 "Enhanced typescript.preferences.quoteStyle"
Since #49653, it's possible to set a preference for auto-imports and generated code to either `single`, `double` or `auto`.

`auto` means "infer from other imports in the file" which is a sensible behavior but doesn't quite work if the current auto-import is the first one in the file. On a project that uses single quotes, I get double quotes with `auto`. Not sure if this has an elegant solution, I

[2018-09-20 12:56] jrieken commented on #18685
this is the place in which you would add that: https://github.com/Microsoft/vscode/blob/50375162385359a4b40a773e8edb315eeb94efc6/src/vs/platform/markers/common/markerService.ts#L181

[2018-09-20 13:00] isidorn commented on #58541
First set a breakpoint [here](https://github.com/Microsoft/vscode/blob/5bae3f69d92fdda9bf0096841259a548703d21e7/src/vs/workbench/parts/debug/electron-browser/rawDebugSession.ts#L339) and check if the exception breakpoints are properly set to the debug adapter.
If yes then check if there is a stop event coming [here](https://github.com/Microsoft/vscode/blob/5bae3f69d92fdda9bf0096841259a548703d21e7/

[2018-09-20 13:03] #32266 closed

[2018-09-20 13:03] SetTrend commented on #48519
Looks like everything is working fine now:

![github context menu working](https://user-images.githubusercontent.com/9283914/45820079-47543100-bce6-11e8-8730-153e02558793.gif)

Thanks a lot for taking the time and effort!

Case closed.

[2018-09-20 13:03] #48519 closed

[2018-09-20 13:05] #33195 closed

[2018-09-20 13:05] #33235 closed

[2018-09-20 13:06] #33487 closed

[2018-09-20 13:06] #33643 closed

[2018-09-20 13:06] sandy081 commented on #39512
I see Atom does it that way. But we have this behaviour for a long time and it is good (not many complaints). Not sure if I would like to change the behaviour now which is not buggy.

[2018-09-20 13:08] #34647 closed

[2018-09-20 13:08] bpasero commented on #14298
I am merging this https://github.com/Microsoft/vscode/issues/23107 which talks about having a setting to control if a change outside of VSCode should bring up a confirmation or not.

@euginio can you please explain how this behaviour means you lost work?

**Others:** would like to understand why it is so important to be notified when a file changed externally? What is the benefit of getting a conf

[2018-09-20 13:08] #14298 closed

[2018-09-20 13:12] alexandrudima commented on #35181
Let's track in #1027

[2018-09-20 13:12] #35181 closed

[2018-09-20 13:13] sandy081 commented on #58845
Duplicate of #2809

[2018-09-20 13:13] #58845 closed

[2018-09-20 13:13] #35314 closed

[2018-09-20 13:13] #35470 closed

[2018-09-20 13:15] shaneis opened #59042 "Unable to use HelpMessage attributes in the VSCode terminal"
There does not appear to be any current issues for this.

- VSCode Version: 1.27.2 (user setup)
- OS Version: Windows 10 Pro

**About VSCode:**

Version: 1.27.2 (user setup)
Commit: f46c4c469d6e6d8c46f268d1553c5dc4b475840f
Date: 2018-09-12T16:17:45.060Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

Steps to Reproduce:

1. Create an advanced function includi

[2018-09-20 13:15] #35775 closed

[2018-09-20 13:18] alexandrudima commented on #37628
Let's track in #19749 and #3915

[2018-09-20 13:18] #37628 closed

[2018-09-20 13:19] alexandrudima commented on #38084
Let's track in #27112

[2018-09-20 13:19] #38084 closed

[2018-09-20 13:26] #14680 closed

[2018-09-20 13:26] alexandrudima commented on #43174
Let's track in #1800. Once #1800 is in, one can write an extension that does anything in this area.

[2018-09-20 13:26] #43174 closed

[2018-09-20 13:27] #16752 closed

[2018-09-20 13:27] #19297 closed

[2018-09-20 13:28] #44920 closed

[2018-09-20 13:29] #19333 closed

[2018-09-20 13:29] #45066 closed

[2018-09-20 13:29] alexandrudima commented on #45180
Let's track in #11770

[2018-09-20 13:29] #45180 closed

[2018-09-20 13:29] isidorn commented on #23436
This works now thanks to the new menu bar yeeey

[2018-09-20 13:29] #23436 closed

[2018-09-20 13:30] #45751 closed

[2018-09-20 13:30] isidorn commented on #22741
Once we have it for the Git I will adopt it here. No need to keep this issue around

[2018-09-20 13:30] #22741 closed

[2018-09-20 13:33] isidorn commented on #29497
Will not fix, even though it is a bug

[2018-09-20 13:33] #29497 closed

[2018-09-20 13:34] isidorn commented on #29590
@Tyriar do we want to look into this now maybe?

[2018-09-20 13:38] #31157 closed

[2018-09-20 13:39] #32533 closed

[2018-09-20 13:40] #35231 closed

[2018-09-20 13:40] #36653 closed

[2018-09-20 13:44] isidorn commented on #38327
@weinand should we close this?

[2018-09-20 13:44] isidorn commented on #42499
I acknowledge the bug but I do not plan to fix it in the forseable future

[2018-09-20 13:44] #42499 closed

[2018-09-20 13:45] Tekbr commented on #39512
@sandy081 All right ... Anyway thanks for the feedback. 👍

[2018-09-20 13:45] #40288 closed

[2018-09-20 13:46] #42508 closed

[2018-09-20 13:46] #42600 closed

[2018-09-20 13:48] isidorn commented on #39783
I am not passionate about this.
Ping @ramya-rao-a @sandy081 who own things in the extension view in case they want to reopen and look into this

[2018-09-20 13:48] #39783 closed

[2018-09-20 13:48] #39678 closed

[2018-09-20 13:49] isidorn commented on #39657
I acknowledge the issue but have no plans of fixing it -> closing

[2018-09-20 13:49] #39657 closed

[2018-09-20 13:51] sborkin commented on #53544
it shouldn't be done manually on the command line, I see it as an automatic logic done internally by vscode:

1. we add a new ui option to vscode `set a unique title per window`
2. we add a new ui option to vscode to `open all files which are not part of any open project in a window with a title...`
3. user sets above option (2nd) as "title_2"
4. user opens `window1` for a `project1`
5. user opens

[2018-09-20 13:53] #38765 closed

[2018-09-20 13:54] #43045 closed

[2018-09-20 13:55] bitjson commented on #38327
@isidorn is this functionality available somehow? I'd love to be able to provide a parameter to a contributed command (for use in `launch.json`).

It doesn't seem like there's even a good hack to make that happen though – even if I parse the configuration to consume the parameter in a different way, the user is shown an error on unrecognized configuration options. So the only way to provide inform

[2018-09-20 13:55] #45895 closed

[2018-09-20 13:56] #44423 closed

[2018-09-20 13:56] sborkin commented on #53544
again the use case is I have 3 open windows in parallel for different projects.

 also I have few files with some common bash commands, stored links, or some other info for example, they are not part of any of the projects

I would be nice that if I open the file with the bash commands it would not open in any of the open windows for the projects but in a separate window which I can always switch

[2018-09-20 13:56] #44280 closed

[2018-09-20 13:57] #55313 closed

[2018-09-20 13:58] isidorn commented on #44522
I acknowledge the issue but I have no plans to fix it

[2018-09-20 13:58] #44522 closed

[2018-09-20 13:58] #45996 closed

[2018-09-20 13:59] #46287 closed

[2018-09-20 13:59] isidorn commented on #44693
I acknowledge the issue but I have no plans to fix it -> closing

[2018-09-20 13:59] #44693 closed

[2018-09-20 14:00] landoncope commented on #26284
+1

[2018-09-20 14:00] isidorn commented on #44912
This wokrs fine now - yeey

[2018-09-20 14:00] #44912 closed

[2018-09-20 14:00] isidorn commented on #44827
I acknowledge the issue but I have no plans to fix it

[2018-09-20 14:00] #44827 closed

[2018-09-20 14:03] alexandrudima commented on #48006
We are now using `ProviderResult` in `monaco.d.ts`.

[2018-09-20 14:03] #48006 closed

[2018-09-20 14:04] #48865 closed

[2018-09-20 14:04] #49633 closed

[2018-09-20 14:04] paterasMSFT commented on #30191
Why was this closed? explorer.scrollbar.verticalScrollbarSize still doesn't work, and editor.scrollbar.verticalScrollbarSize still has an unknown setting warning (though it does work).

@aeschli, you reference #24755, which you've closed, saying an issue about scrollbar width should be opened. But you've also closed this issue, which is about scrollbar width. You even referencing this issue when y

[2018-09-20 14:05] borekb commented on #59041
Yes, sorry, it's indeed a duplicate.

[2018-09-20 14:05] #59041 closed

[2018-09-20 14:06] isidorn commented on #44694
I acknowledge the bug but I have no plans to fix it

[2018-09-20 14:06] #44694 closed

[2018-09-20 14:06] alexandrudima commented on #50023
@Gruntfuggly @fishpen0 This is as designed. The quick diff shows a diff from the index to the file on disk.

[2018-09-20 14:06] #50023 closed

[2018-09-20 14:06] loliprotector commented on #7570
I can confirm the exploration build fixed it for me.
The current latest build still doesn't.

[2018-09-20 14:07] alexandrudima commented on #50087
I think this is best handled by tweaking the `pug` surrounding pairs. Surrounding pairs for a language should be based on the syntax of said language. So, if `` ` `` are used for strings in pug, then `` ` `` should be in the surrounding pairs.

[2018-09-20 14:07] #50087 closed

[2018-09-20 14:08] alexandrudima commented on #50801
Let's track in #17977

[2018-09-20 14:08] #50801 closed

[2018-09-20 14:08] isidorn commented on #45328
No plan to fix this, also might be fixed in latest

[2018-09-20 14:08] #45328 closed

[2018-09-20 14:09] joaomoreno commented on #56579
IPC is now TPromise free!

[2018-09-20 14:09] #56579 closed

[2018-09-20 14:09] #57274 closed

[2018-09-20 14:14] alexandrudima commented on #48364
I suggest we continue tracking in #54147, as #54147 has a more clear description and avoids the decoration pitfall by mentioning new explicit API for tracked ranges.

[2018-09-20 14:14] #48364 closed

[2018-09-20 14:15] erickbrenesLT opened #59043 "Allow for block relation line colors."
I am trying to see if you can update the colors for each block relation line. Similar to how [Bracket Pair Colorizer](https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer) extention works when coding JS in VSCode. Nothing is more annoying than tracking the same color line down. As you can see in the pic they are all light gray. It would be nice to have a couple diff

[2018-09-20 14:15] joaomoreno commented on #57854
- [x] Status bar: https://github.com/Microsoft/vscode/issues/25281
- [ ] Count
- [ ] Context key
- [x] File decorations: this is a hard one to figure out since decorations can change even if the index does not change. Can't fix this one.
- [ ] Get original resource

[2018-09-20 14:16] #46663 closed

[2018-09-20 14:16] #49154 closed

[2018-09-20 14:17] #50360 closed

[2018-09-20 14:18] isidorn commented on #58319
Dup of https://github.com/Microsoft/vscode/issues/58466

[2018-09-20 14:18] #58319 closed

[2018-09-20 14:18] alexandrudima commented on #54586
Interestingly, #58597 has the exact opposite problem where the text is inserted and not replaced. If we could only swap behaviors in these two cases.

![completion-bug-now](https://user-images.githubusercontent.com/5047891/45484934-1f008b80-b756-11e8-9432-03c12788054a.gif)

[2018-09-20 14:18] #53580 closed

[2018-09-20 14:18] #54175 closed

[2018-09-20 14:19] #53930 closed

[2018-09-20 14:19] bpasero commented on #53544
I appreciate the clarification but I do not see us implementing this in the future. I will close this as "out of scope".

[2018-09-20 14:19] #55007 closed

[2018-09-20 14:19] #53544 closed

[2018-09-20 14:19] #53016 closed

[2018-09-20 14:20] #53024 closed

[2018-09-20 14:26] #32956 closed

[2018-09-20 14:29] joaomoreno commented on #58589
Not gonna do this.

[2018-09-20 14:29] sandy081 commented on #34972
Currently we have performance issues with Collapse all action on a tree and we are working on a new tree implementation which is more performant. I will add this support after this.

[2018-09-20 14:30] aeschli commented on #30191
@paterasMSFT This issue is still open. #24755 was about to issues: color and width. For colors we added some new color ids. Width is covered by this issue.

[2018-09-20 14:34] #44557 closed

[2018-09-20 14:36] xxjapp commented on #58758
Exactly the same problem on two windows 7 pc.

[2018-09-20 14:39] isidorn commented on #45467
@bpasero weirdly we have electron 2.0 but the menus are still async and I do not get any event while a context menu is shown. Why is that? Am I misunderstanding the concept?

[2018-09-20 14:40] alexandrudima commented on #58897
There is no problem here. This is also how native textareas work in browsers. AFAIK only word editors (where they break selections at the model layer in order for them to paint as a single selection at the view layer)

Screen recording of Chrome (the same happens in Edge and in Notepad):

![58897](https://user-images.githubusercontent.com/5047891/45825991-cef46c80-bcf3-11e8-8029-0d1fad8362e2.gif)

[2018-09-20 14:40] #58897 closed

[2018-09-20 14:41] paterasMSFT commented on #30191
Oh, sorry, I thought the Closed label after the reference to #24755 referred to you closing this issue.

[2018-09-20 14:42] alexandrudima commented on #58602
@Sparksss Can you please let us know what do you mean?

[2018-09-20 14:42] rjmholt commented on #59042
This is a PowerShell extension feature request. I've moved the issue over to https://github.com/PowerShell/vscode-powershell/issues/1538. This issue can be closed

[2018-09-20 14:45] itamark commented on #58538
Hey - @roblourens @ramya-rao-a I see the issue in insiders build, but can't see it in OSS - do you?

<img width="732" alt="screen shot 2018-09-20 at 10 05 57 am" src="https://user-images.githubusercontent.com/1757393/45826320-f8fe5c80-bcfc-11e8-90cc-36a3c57b2b06.png">

[2018-09-20 14:47] no-more commented on #58881
Thanks, I'll have to try each plugin to find the faulty one.

Sorry for the disturbance.

[2018-09-20 14:47] #58881 closed

[2018-09-20 14:48] isidorn opened #59044 "acceptSuggestionsOnEnter: smart not working properly"
Have `"acceptSuggestionsOnEnter": "smart"`
Open a javascript file and type `console`, notice how I get auto intelisense. After `console` is typed press `enter`, I would expect a new line to be entered, however the suggestion is accepted which is not what the setting is supposed to do.
This is particularly noticable when using the debug console.
This was working before, so it feels like a regressio

[2018-09-20 14:49] aryarovana opened #59045 "Mac git enter passphrase no input"
Hey sorry if it's a duplicate or something been bugging me for more than a year and can't figure this thing out:

https://ibb.co/jBs4We

I can't seem to figure out how to fix it, every other git app works fine, but I prefer to use my IDE for most of my development process.

when I type "git pull" in the embedded terminal of vscode things work fine, but when I use the Command Palette "Git Pull" thi

[2018-09-20 14:50] alexandrudima commented on #57854
:+1: Nice!

[2018-09-20 14:50] juanpablob opened #59046 "Issues with "Jump to definition" CSS links introduced in August release"
- VSCode Version: 1.27.2
- OS Version: macOS 10.13.6

Steps to Reproduce:

1. Create a CSS file called `hello-world.scss/css`
2. Create another CSS file, and put `@import 'hello-world.scss`
3. After ⌘/Ctrl + clicking the path, you'll get this error: `Unable to open 'hello-world': File not found (file:///fakepath/css/hello-world).`

While naming `hello_word.scss` don't trigger any error. As I can g

[2018-09-20 14:51] xxjapp commented on #58758
Uninstalling 1.27.2 (NG) and installing 1.26.1 solved my problem.
[https://code.visualstudio.com/updates/v1_26](https://code.visualstudio.com/updates/v1_26)

[2018-09-20 14:52] #59042 closed

[2018-09-20 14:52] jrieken commented on #59044
works for me

[2018-09-20 14:58] alexandrudima commented on #55605
@rebornix It looks like typing is forcing tokenization (via auto indent typing):

![image](https://user-images.githubusercontent.com/5047891/45827263-5b079380-bcf6-11e8-828a-a2a7d882f4d4.png)

[2018-09-20 15:00] alexandrudima commented on #56832
There is a setting `editor.wordWrap` which can be saved on disk.

It is also possible to configure this per file type (per language type).

[2018-09-20 15:00] #56832 closed

[2018-09-20 15:05] eli-crow opened #59047 "Git: Support sync cancellation"
I'd like to be able to cancel running tasks in the source control panel. I use a VPN for work and sometimes forget to connect to it. I try syncing the repo, which obviously doesn't work, then connect to the VPN, then have to wait ~30 seconds for the source control panel task to timeout to be able to use it again. This happens daily.

[2018-09-20 15:07] BrandonLWhite commented on #38425
While trying to get envFile to work, a workaround I discovered is to set the `WSLENV` to contain all of the vars you want to manifest in the WSL environment.

- launch.json
[code]

launch.env
[code]

[2018-09-20 15:12] isidorn commented on #59044
@jrieken did you try with an emtpy user dir and just with that setting? Because it easily reproduces for me than.
You can also drop by my machine to investigate more.

[2018-09-20 15:16] mjbvz commented on #59010
Try  installing a flow syntax highlighting extension and then set the language mode on the file to `flow`. We don't support flow out of the box

[2018-09-20 15:16] #59010 closed

[2018-09-20 15:17] mjbvz commented on #59039
Please provide a code example or small example project that demonstrates the problem

[2018-09-20 15:18] #29911 closed

[2018-09-20 15:20] #46825 closed

[2018-09-20 15:20] #46769 closed

[2018-09-20 15:21] xxjapp commented on #58758
After 1.26.1 is installed, vs code auto-upgraded to 1.27.2 on background. But this time the excluding input works now after restart vscode.

[2018-09-20 15:21] #46476 closed

[2018-09-20 15:21] #46536 closed

[2018-09-20 15:26] psummitt opened #59048 "Node Debug Auto-attach"
- Extension Name: debug-auto-launch
- Extension Version: 1.0.0
- OS Version: Linux x64 4.18.7-200.fc28.x86_64
- VSCode version: 1.28.0-insider

 We have written the needed data into your clipboard. Please paste:```json
{
	"activationTimes": {
		"startup": true,
		"codeLoadingTime": 8,
		"activateCallTime": 1,
		"activateResolvedTime": 0,
		"activationEvent": "*"
	}
}
[code]

[2018-09-20 15:26] #51916 closed

[2018-09-20 15:26] psummitt opened #59049 "emmet"
- Extension Name: emmet
- Extension Version: 1.0.0
- OS Version: Linux x64 4.18.7-200.fc28.x86_64
- VSCode version: 1.28.0-insider

 We have written the needed data into your clipboard. Please paste:
[code]

[2018-09-20 15:27] ScenK commented on #58863
Same issue here. Disabling all the plugins could not work. Reinstalling code-insider still could not make it work.

[2018-09-20 15:28] jrieken commented on #1800
This is API now

[2018-09-20 15:28] psummitt opened #59050 "Git"
- Extension Name: git
- Extension Version: 1.0.0
- OS Version: Linux x64 4.18.7-200.fc28.x86_64
- VSCode version: 1.28.0-insider

 We have written the needed data into your clipboard. Please paste:

[code]

[2018-09-20 15:28] #1800 closed

[2018-09-20 15:29] isidorn commented on #49881
I do not feel like anybody got really convinced -> out of scope
Passionate people please reopen

[2018-09-20 15:29] #49881 closed

[2018-09-20 15:34] fischeme commented on #58910
Joao, looks like we posted at the same time (see my comment above)... strangely a Windows system update solved the problem. To answer your last question though, all repositories were affected and they were in the local file system.  So there is a strange dependency on some aspect of the OS.  I'm going to close this issue.

[2018-09-20 15:38] alexr00 commented on #45279
It looks like this is no longer happening. I can't reproduce from insiders or master.

[2018-09-20 15:38] #45279 closed

[2018-09-20 15:47] #58131 closed

[2018-09-20 15:48] mahmad-labib opened #59051 "[ts]"
Issue Type: <b>Bug</b>

errors every where for nothing at typescript files

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD A8-6410 APU with AMD Radeon R5 Graphics     (4 x 1996)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disab

[2018-09-20 15:48] #34205 closed

[2018-09-20 15:49] anthcool commented on #56848
Just a heads up:
I try to update Git itself to version 2.19.0 from 2.18.0.windows.1 and am having this same problem.  If I try to update Git as described, using the installer downloaded from [https://git-scm.com/downloads](https://git-scm.com/downloads), and get to the default editor picker part, as soon as I go to choose VS Code as the default, or anything other than Vim, the Next button grays ou

[2018-09-20 15:52] #50862 closed

[2018-09-20 16:01] bpasero commented on #45467
@isidorn are you using custom or native menus? It could well be that even though the menus are async, we still do not get the event.

[2018-09-20 16:01] #53747 closed

[2018-09-20 16:02] #50532 closed

[2018-09-20 16:02] #51341 closed

[2018-09-20 16:03] #51402 closed

[2018-09-20 16:04] #51433 closed

[2018-09-20 16:04] #53072 closed

[2018-09-20 16:04] #52423 closed

[2018-09-20 16:05] #52992 closed

[2018-09-20 16:06] alexandrudima commented on #41024
I can reproduce in Chrome and have filed https://bugs.chromium.org/p/chromium/issues/detail?id=887519

[2018-09-20 16:06] isidorn commented on #45467
@bpasero native menus on the mac

[2018-09-20 16:09] #50919 closed

[2018-09-20 16:09] mjbvz commented on #59051
Please see this guide on what to include in a proper issue report: https://github.com/Microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-feature-requests

Start with reproducible steps and what you expected versus what you actually saw.

[2018-09-20 16:12] bpasero commented on #20071
Unfortunately I will close this "as designed". We have a ton of state that is associated with the workspace folder path that would need to be migrated to the new path.

[2018-09-20 16:12] #20071 closed

[2018-09-20 16:14] bpasero commented on #50099
I will have to close this as "designed". There is no way for VSCode to know that the dialog was used to delete the file.

[2018-09-20 16:14] #50099 closed

[2018-09-20 16:30] #30431 closed

[2018-09-20 16:30] jhandby commented on #50099
Surely it's possible to suspend polling for changes / deletion of file X while you have the Save As dialog open for the buffer which vscode thinks corresponds to file X?

---- Benjamin Pasero wrote ----

I will have to close this as "designed". There is no way for VSCode to know that the dialog was used to delete the file.

—
You are receiving this because you authored the thread.
Reply to this em

[2018-09-20 16:31] #41492 closed

[2018-09-20 16:32] ProTip commented on #58975
@Tyriar there is severe lag in both resizing and scrolling when the terminal is filled with text that is not present in version `1.25`. Running with `code --ignore-gpu-blacklist` does not appear to resolve the issue, and I have not seen this particular regression addressed or acknowledged in the other issues. Should I open a new issue that's more explicit about this being a performance regression

[2018-09-20 16:33] #43036 closed

[2018-09-20 16:34] fabiospampinato commented on #42890
I've just realized that the readmes aren't indexed at all.

I searched for "cyclomatic" in the marketplace, and I've got this result:

<img width="674" alt="screen shot 2018-09-20 at 18 27 56" src="https://user-images.githubusercontent.com/1812093/45832685-ebe46c00-bd02-11e8-85ec-3cf9dc21ad82.png">

Then I tried searching for "marketplace cyclomatic" on Google, and this is the result:

<img width=

[2018-09-20 16:36] mjbvz commented on #58711
This is a bug with how we handle context menus. I added these log points in `vscode/src/vs/base/parts/contextmenu/electron-browser/contextmenu.ts`

<img width="728" alt="screen shot 2018-09-20 at 9 35 12 am" src="https://user-images.githubusercontent.com/12821956/45833055-82d80680-bcb8-11e8-85c7-0dc4f756bf13.png">

which shows the following sequence of events.

<img width="410" alt="screen shot 20

[2018-09-20 16:36] bpasero commented on #50984
Merging into https://github.com/Microsoft/vscode/issues/37877

[2018-09-20 16:36] #51454 closed

[2018-09-20 16:40] bpasero commented on #58711
Where?

[2018-09-20 16:41] bpasero commented on #53376
Duplicate of https://github.com/Microsoft/vscode/issues/38695

[2018-09-20 16:41] #53376 closed

[2018-09-20 16:43] bpasero commented on #44252
Merging into https://github.com/Microsoft/vscode/issues/43806

[2018-09-20 16:43] #44252 closed

[2018-09-20 16:44] bpasero commented on #47303
I find this a bit weird to have because there maybe many reasons to click into the title of an editor (to focus the contents) where you do not want to loose the current position. I feel like we would not implement this, even though it is a nice thing to have for touch devices and browsers.

[2018-09-20 16:44] #47303 closed

[2018-09-20 16:44] alexandrudima commented on #2352
I don't feel passionate about this issue. It is fine for me to close it.

[2018-09-20 16:45] bpasero commented on #2352
Ok think so too, thanks.

[2018-09-20 16:45] #2352 closed

[2018-09-20 16:48] roblourens commented on #58538
I can, I actually fixed it yesterday (and just pushed the commit) sorry

[2018-09-20 16:48] #58538 closed

[2018-09-20 16:49] bpasero commented on #47023
/duplicate https://github.com/Microsoft/vscode/issues/36634

[2018-09-20 16:49] #47023 closed

[2018-09-20 16:51] jhandby commented on #50099
I'll try to explain what I mean a bit better.

If a user opens vscode and selects File > New File, they have a vscode buffer, never saved, that does not yet correspond to a file on disk. Vscode knows this, so it must have a way to represent a buffer in that state.

After the user first saves the file, a link is established between the vscode buffer and a file on disk. Vscode will monitor the state

[2018-09-20 16:52] AlCalzone opened #59052 "[v1.27.2] Source file links still not clickable."
Followup to https://github.com/Microsoft/vscode/issues/54788, https://github.com/Microsoft/vscode/issues/57987 and https://github.com/Microsoft/vscode/issues/58256
I'm using version v1.27.2 now and the issue still persists. This is a huge pain in a monorepo I'm currently working on. What more information can I provide you guys with to get this resolved?

cc @Tyriar

[2018-09-20 16:56] Tyriar commented on #51276
Cannot repro on 1.28 Insiders/macOS:

<img width="401" alt="screen shot 2018-09-20 at 9 55 45 am" src="https://user-images.githubusercontent.com/2193314/45834174-5d98c780-bcbb-11e8-9232-270b3c7e618b.png">

Let us know if you still see it happening or if there are additional repro steps.

[2018-09-20 16:56] #51276 closed

[2018-09-20 16:57] KashyapCKotak opened #59053 "Syntax highlighting messed up after 1.27.2 update."
Does this issue occur when all extensions are disabled?: Yes

After I recently updated my VS code, all the syntax highlighting is messed up. I have some file with HTML, a bit of PHP and JS contained in it and all the JS code is white. also in files with on JS code (.js files), the syntax highlighting is not working. Attached the screenshot:
![image](https://user-images.githubusercontent.com/204765

[2018-09-20 16:59] bpasero commented on #27112
@alexandrudima fyi this would require a little bit more information in the `ICursorPositionChangedEvent` how it was triggered. Currently I see `source: "api"` which seems to be too generic. If there was more types how a change happened, we could start building a history only for that. It would also help me fix another issue where upon invoking "Find > Next" many times, lots of history locations ar

[2018-09-20 17:01] mjbvz commented on #58711
The editor and refactor menus both register a close event handler. When the editor context menu is closed, both of the menus receive the same close event so we end up removing the refactor menu’s click handler too even though is only just started showing

[2018-09-20 17:09] matsieftw opened #59054 "Way to disable horizontal scrolling"
I currently have word wrap on, but my files still horizontal scroll unnecessarily. This is especially evident when I use a Mac Magic Mouse. I'd love to be able to toggle the horizontal scrolling off completely (regardless of whether I have word wrap on).

[2018-09-20 17:13] rebornix commented on #31869
This issue is talking about indentation of multiple line expression, which shares the same root cause as https://github.com/Microsoft/vscode/issues/30859, let's track it there. Thanks @QwertyZW for doing the investigation into the solution for this problem.

[2018-09-20 17:13] #31869 closed

[2018-09-20 17:16] nathanjd opened #59055 "ES5 Exports No Longer Colored Properly"
The preferred pattern for es5 exports is no longer colored properly. I expect this to either:

1. Be colored properly.
2. Allow for switching code coloring from es6 to es5 mode.

https://nodejs.org/api/modules.html#modules_exports_shortcut

- VSCode Version: Version 1.27.2 (1.27.2)
- OS Version: 10.12.6 (16G1408)

Steps to Reproduce:

1. Create a file with the following content:

[code]

2. See th

[2018-09-20 17:20] rebornix commented on #19150
Reindent all lines and reindent selected lines now take care of this case. For other issues we still track in #19140.

![19150](https://user-images.githubusercontent.com/876920/45835357-ba49b180-bcbe-11e8-819e-6adc2e70bbac.gif)

[2018-09-20 17:20] #19150 closed

[2018-09-20 17:27] rebornix commented on #25213
Let's use https://github.com/Microsoft/vscode/issues/30859 to track. The root cause here is we don't have a way to support multiple line indentation rules yet, all indentation rules are single line based now.

[2018-09-20 17:28] #25213 closed

[2018-09-20 17:31] rebornix commented on #36550
This is another case of our shortage of handling multiple line expressions. Let's track it in https://github.com/Microsoft/vscode/issues/30859.

[2018-09-20 17:32] rswerve opened #59056 "Debugger doesn't hit breakpoints when running Jest tests"
Issue Type: <b>Bug</b>

Trace attached.
[debugadapter.txt](https://github.com/Microsoft/vscode/files/2402407/debugadapter.txt)

Steps to Reproduce:

1.   Write Jest tests
2.  Set breakpoints in the tests
3.  Use launch.json to run the tests

The breakpoints say "breakpoint set but not yet bound" and remained grayed out for the duration of the tests.

I'd expect the breakpoints to be hit.  Console.

[2018-09-20 17:32] #36550 closed

[2018-09-20 17:35] rebornix commented on #31229
For this feature, I'll suggest to use a formatter instead of the indentation adjustment, which is more stable and accurate and we can control when the formatting should be run, typing, pasting or saving.

[2018-09-20 17:35] #31229 closed

[2018-09-20 17:37] rebornix commented on #31709
Right now the behavior of entering after `<style>` tag is

![31709](https://user-images.githubusercontent.com/876920/45836244-21686580-bcc1-11e8-817c-e6bb744ebf69.gif)

We don't indent after `<style>` tag as we think it's the multile language boundary.

[2018-09-20 17:37] camwar11 commented on #57613
Yes to both.

[2018-09-20 17:38] rebornix commented on #31709
let's track this issue in https://github.com/Microsoft/vscode/issues/46426 which has more conversations. Your feedback is really helpful, thanks!

[2018-09-20 17:38] #31709 closed

[2018-09-20 17:39] #22461 closed

[2018-09-20 17:41] guywald1 opened #59057 "[search] Add option to exclude globs from .gitignore"
Currently, when searching, it is only possible to have all the globs to exclude in a single input.

A toggle to also exclude files from `.gitignore` would be really useful.

[2018-09-20 17:44] rebornix commented on #53975
Sorry for reaching out late, can you share more about the details? Like what does the file you pasting into look like? What's the content you copy from Chrome Dev Tools look like? I can't reproduce this issue.

[2018-09-20 17:44] ramya-rao-a commented on #39783
There is some user interest in having this and is being tracked in #57969

[2018-09-20 17:48] ramya-rao-a commented on #57969
We have the `Developer: Show Running Extensions` command that
- shows all the running extensions
- their startup time
- Link to report issue
- Option to profile the extensions.

Therefore, we don't really need another "view" i.e an option in the menu shown below for running extensions

<img width="575" alt="screen shot 2018-09-20 at 10 47 47 am" src="https://user-images.githubusercontent.com/16890

[2018-09-20 17:50] ramya-rao-a commented on #39783
We should definitely support the `@running` query in the search box. This is being tracked in #57969

[2018-09-20 17:52] mjsarfatti opened #59058 "Emmet doesn't work on sass files (new issue)"
I know there have been similar past issues, and they were all closed/solved.
I still have the issue today though.

The issue is present in both Code 1.27.2 and 1.28.0-insiders
Emmet works in CSS and SCSS files, but not in SASS files.

- VSCode Version:
- OS Version: macOS High Sierra 10.13.6

Steps to Reproduce:

1. Download VSCode Insiders
2. Open/create a sass file

Does this issue occur when al

[2018-09-20 17:55] #58536 closed

[2018-09-20 17:56] mjbvz commented on #58396
Closing in favor of #58711 which is newer but has more context about what is going wrong. Will submit PR with fix shortly

[2018-09-20 17:56] #58396 closed

[2018-09-20 17:56] octref commented on #58973
Findings this morning with @roblourens:

- While in the corrupted state, VS Code window is not focused (notice the titlebar color) although it is brought to the foreground on click.
- While in that state, clicking on activity bar icons to bring out viewlets works, but focusing into any input field in Search viewlet doesn't work.
- I cannot repro it on my own laptop.
- When I try to do `code --disa

[2018-09-20 17:56] #58973 closed

[2018-09-20 17:56] maziac commented on #50532
Sorry to hear that.
Please re-consider your decision.
The reason why this does not get so many upvotes is that the current way of selection seems to work unless you install another extension which uses similar file extensions.
And the other problem is that there is no language defined for assembler and the developer has to do it himself.
So for all the other extension provider developers there is

[2018-09-20 17:57] #35766 closed

[2018-09-20 17:59] #55641 closed

[2018-09-20 18:00] mjsarfatti commented on #59058
I take it back, it's not a bug I guess, but a strange behavior and it could be useful for others: the problem was an unclosed multiline comment up above in the file:

[code]

[code]

[2018-09-20 18:00] #59058 closed

[2018-09-20 18:01] #42676 closed

[2018-09-20 18:06] octref commented on #58204
Moving to October since introducing a FS Provider to the Language Service is more work.

[2018-09-20 18:08] #32345 closed

[2018-09-20 18:10] ramya-rao-a commented on #52664
Yes, this is for September

[2018-09-20 18:10] ramya-rao-a commented on #52611
Yes, this is for September

[2018-09-20 18:11] ramya-rao-a commented on #30797
This is similar to #33752

[2018-09-20 18:13] arrowplum commented on #40009
I just got this same issue yesterday with the latest. So for me anyways.. still happening. You sure you want to close?

[2018-09-20 18:13] arrowplum commented on #40009
@bpasero

[2018-09-20 18:14] alexr00 commented on #50128
@agurodriguez , we probably don't want to handle the tooltip location in xterm.js since xterm.js should just be providing all the info it has in the mouse event without making specific assumptions about how that info will be used. I'll let @Tyriar comment on the underline 😊

[2018-09-20 18:18] jakepark commented on #15667
Thank you both. I can confirm that this fixes the parameterHints display issue.

`"editor.parameterHints.enabled": false`

Tooltips and its discussion is still relevant for this ticket.

[2018-09-20 18:26] sbatten commented on #9337
duplicate of  #1772

[2018-09-20 18:26] #9337 closed

[2018-09-20 18:27] roblourens commented on #58758
Please do the following

- Run the command "Set log level" and change it to "Trace"
- Run the search again
- Show the search-related messages in the "Log (Window)" output panel

![image](https://user-images.githubusercontent.com/323878/35987940-02aae15a-0cb2-11e8-83f1-d95c5dc3881b.png)

[2018-09-20 18:28] octref commented on #59048
Pleas follow our [issue reporting guideline](https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md#reporting-issues).

[2018-09-20 18:28] #59048 closed

[2018-09-20 18:29] roblourens commented on #59057
This is supported by default, assuming you  have not turned off the `search.useIgnoreFiles` setting, or turned off the "Use Exclude Settings and Ignore Files" button (bottom right)

![image](https://user-images.githubusercontent.com/323878/37785522-9b4d3162-2db7-11e8-9011-5ca513e789b9.png)

[2018-09-20 18:31] #56109 closed

[2018-09-20 18:31] #26745 closed

[2018-09-20 18:32] roblourens commented on #59034
I don't understand the issue. Can you explain in more detail?

[2018-09-20 18:33] #59030 closed

[2018-09-20 18:35] justingrant commented on #58396
Cool, thanks @mjbvz for your help on this.

[2018-09-20 18:36] guywald1 commented on #59057
Wow, TIL 😅 I barely use the search panel (use vim for searching) but tried giving it a shot and with a stroke of brilliance didn't assume it could be in the settings.
It is turned on by default but did not work earlier for some strange reason, probably my fault.

Thanks, closing.

[2018-09-20 18:36] #59057 closed

[2018-09-20 18:36] octref commented on #59013
Are you using the custom title bar?

[2018-09-20 18:37] wm-v-michaels commented on #4490
I don't know if I'd go that far.  Its a pretty great editor to me, but this feature would bring it to parity with lesser editors when it comes to being able to replay actions.

[2018-09-20 18:37] ruiblaese opened #59061 "debug not disconnect"
Issue Type: <b>Bug</b>

I debug in nodejs and execute process.exit(0)... debug is running forever

VS Code version: Code - Insiders 1.28.0-insider (af3614909b837c46a260666cb7baab7a8468a9c8, 2018-09-20T14:09:20.109Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-4570 CPU @ 3.20GHz (4 x 3193)|
|GPU Status|2d_canvas:

[2018-09-20 18:38] octref commented on #59009
It seems your computer failed to access api.github.com. Try opening https://api.github.com/ in your browser. Does it work?

[2018-09-20 18:39] FateLight commented on #51132
@samelhusseini What is the resolution of your display?

[2018-09-20 18:39] ruiblaese commented on #59061
code exemple

`const a = require('./a');
const a = require('./../../../a');
const a = require('./../../../a');
const a = require('./../../../a');

require('events').EventEmitter.defaultMaxListeners = 0;

async function mainTeste() {

    .
    .
    .

    logger.info("finalizando execucao!");
    process.exit(0);
}
mainTeste();`

[2018-09-20 18:41] octref commented on #59005
What's the perceived performance issue? Anything that becomes slow?

@aeschli Since its seems to come from htmlServer.

[2018-09-20 18:44] ruiblaese commented on #59061
![image](https://user-images.githubusercontent.com/12955543/45839938-0b23cf00-bcec-11e8-887c-cd7f8141119a.png)

[2018-09-20 18:44] alexandrudima commented on #59054
@matsieftw Can you provide steps? Do you use a font which is non-monospace?

[2018-09-20 18:45] octref commented on #59004
I suggest that you report this to https://github.com/angular/angular. They have a bunch of issues for its language service: https://github.com/angular/angular/issues?q=is%3Aopen+is%3Aissue+label%3A%22comp%3A+language-service%22

[2018-09-20 18:45] #59004 closed

[2018-09-20 18:46] noamyogev84 commented on #42838
Hi @jrieken, Thanks for this detailed howto, appreciate it.
I'm about to finish this one though I do encounter one issue:
Following **step 0** I modified the type to be `['string', array']` , but when i'm creating a new snippet with a **prefix** array e.g. `["foo","foo2"]` I get a warning **Incorrect type. Expected string**.

besides that, everything works fine.
any tips on how to solve this befor

[2018-09-20 18:46] #58996 closed

[2018-09-20 18:47] octref commented on #58996
It should go to https://github.com/rust-lang-nursery/rls-vscode.

[2018-09-20 18:47] ruiblaese commented on #59061
I never sent any errors to any project, if you are doing something wrong please tell me.

the problem started today
before using command "process.exit (0)" the debug would automatically shut down.

[2018-09-20 18:51] octref commented on #58988
Well, it's not that hard to repro...

- Create foo.txt
- `mv foo.txt FOO.txt`
- Now you can open two tabs for the same file.

I have run into this problem myself.

[2018-09-20 18:55] octref commented on #58985
Although I guess the escaping happens in `vscode-languageclient` -> @dbaeumer, still @jrieken FYI.

[2018-09-20 18:55] alexandrudima commented on #27112
We could add `source` arguments to the `editor.setSelection`, `editor.setSelections` and `editor.setPosition` APIs. We could start with the current default, `api`, and work from there. I have already added the `source` argument to `setSelections`, but only in the `CodeEditorWidget` (and not in the `ICodeEditor`) for now.

So I guess the work to implement this feature request should consist also of

[2018-09-20 18:59] aardvarkk opened #59062 "Unable enter text or navigate with the keyboard"
Issue Type: <b>Bug</b>

I was editing a specific file and was trying to append to the end of a line. I could type a period, but as soon as I went to type the remainder of the word, the navigation would lock up and no longer accept my text. I could edit the file fine in NVim. I tried disabling all of my extensions, but the problem persisted. The UI is still responsive, but none of my insertion comm

[2018-09-20 18:59] noamyogev84 commented on #26694
Hi, can I jump in? :) new to this repo

[2018-09-20 18:59] octref commented on #58971
Please follow our [issue reporting guideline](https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md#reporting-issues).

[2018-09-20 18:59] #58971 closed

[2018-09-20 19:03] rebornix commented on #55605
Indent on type, suggest, snippet or any contribution checks whether it's cheap or not to tokenize when the content changes are affected. Now I added a line length check (2048) for the `cheapToTokenize` check, which ensures that it won't take longer than 20~30 ms most of the time.

[2018-09-20 19:04] alexandrudima commented on #59008
@Lynn-cc I cannot reproduce. When I open for example an untitled file and press <kbd>Tab</kbd> I get the `\t` character or 4 spaces (depending on my settings) inserted in the editor.

[2018-09-20 19:05] octref commented on #58967
Those are processes that help VS Code perform its functions. Can you follow https://github.com/Microsoft/vscode/wiki/Performance-Issues to report a new issue? Thanks.

[2018-09-20 19:05] #58967 closed

[2018-09-20 19:09] alexandrudima commented on #55605
🎉 Nice

[2018-09-20 19:28] winzig commented on #13155
libgrep team closed their issue on August 20. Looks like it was fixed in this PR: https://github.com/BurntSushi/ripgrep/pull/1017

When will we be able to see this in vsc?

[2018-09-20 19:28] usernamehw opened #59063 "Visual glitch: close tab button on dnd with shrink text"
Issue Type: <b>Bug</b>

Settings:
[code]

[code]
Trying to dnd tab:
![screenshot 49](https://user-images.githubusercontent.com/9638156/45841885-cfa4f700-bd23-11e8-806e-bde3cda3e2ea.png)

Probably the same is when srarting dnd in default `dark+` theme:
![screenshot 51](https://user-images.githubusercontent.com/9638156/45842046-3f1ae680-bd24-11e8-8351-a03c63235fdc.png)

VS Code version: Code - Insid

[2018-09-20 19:28] weinand commented on #59037
@isidorn I can reproduce this in today's Insiders on Windows.

[2018-09-20 19:29] weinand commented on #59061
@isidorn I can reproduce this in today's Insiders on Windows.

[2018-09-20 19:42] psummitt commented on #59050
OK, you got me, octref.  Why invalid and why remove insiders?

[2018-09-20 19:43] psummitt commented on #59049
Same question, octref.  Why invalid and why remove insiders?

[2018-09-20 19:44] psummitt commented on #59048
You are really helpful, octref.  Thanks.

[2018-09-20 19:49] octref commented on #58958
You can try to use Process -> Open Process Explorer to find out the culprit. If it's not caused by extension, feel free to reopen.

[2018-09-20 19:49] #58958 closed

[2018-09-20 19:50] roblourens commented on #58995
Yes, this is not supported. We consider this an advanced feature and you will still have to use the json settings editor for this.

[2018-09-20 19:52] #58953 closed

[2018-09-20 19:52] octref commented on #58953
Please open issue for angular-cli.

[2018-09-20 19:53] rebornix commented on #59062
@aardvarkk can you type in other UI components? Like the terminal, input box of Find Widget or Search viewlet?

[2018-09-20 19:53] #58946 closed

[2018-09-20 19:54] octref commented on #58947
Please try out [Performance Issue Reporting Guideline](https://github.com/Microsoft/vscode/wiki/Performance-Issues).

[2018-09-20 19:54] #58952 closed

[2018-09-20 19:55] mjbvz commented on #59015
This issue was moved to Microsoft/TypeScript#27241

[2018-09-20 19:55] #59015 closed

[2018-09-20 19:56] SavchukSergey opened #59064 "String quoting improvement"
It would be nice to escape single/double quotes inside selected text when quoting it
This is applicable for most programming languages

Here is c# use case:
1. Create c# file.
[code]
3. Select text in quotes including surrounding quotes
4. Press " (double quote) on keyboard

I would expect inner quotes to be escaped to look like below
[code]

[2018-09-20 20:00] alexr00 commented on #59012
@btruhand , You'll need to add those actions to "terminal.integrated.commandsToSkipShell" in your user settings. Related #19770

[2018-09-20 20:00] #59012 closed

[2018-09-20 20:04] aardvarkk commented on #59062
Yes — typing into other components is fine. And some keyboard commands (Select All) operate correctly. I can select all and then tab/untab and that works. But as soon as I try to type, nothing happens.
On Sep 20, 2018, 12:55 PM -0700, Peng Lyu <notifications@github.com>, wrote:

[2018-09-20 20:27] JasonWThompson commented on #9798
The way Eclipse does this is through a regex replace token \C.

So I can search for foobar and replace it with \Cbazqux and it will work as expected.

[2018-09-20 20:32] #3011 closed

[2018-09-20 20:32] Arnavion opened #59065 "`editor.selectionClipboard: false` still copies to clipboard when selecting text in global Search sidebar"
- VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
- OS version: openSUSE Tumbleweed, KDE PlasmaShell, X11

Steps to Reproduce:

1. Set `editor.selectionClipboard` to `false` in user settings.
1. Copy something to the primary buffer from another application, like double-clicking some text in a terminal.
1. Invoke the global Search sidebar (<kbd>Ctrl

[2018-09-20 20:39] diminutivesloop commented on #58629
Well now that I'm trying to reproduce this defect I can't anymore. I guess I'll wait till the next update and if the issue is still present I can share more details and if not then we can just close the issue.

[2018-09-20 20:44] octref commented on #58934
Please follow our [issue reporting guideline](https://github.com/Microsoft/vscode/blob/master/CONTRIBUTING.md#reporting-issues).

[2018-09-20 20:44] #58934 closed

[2018-09-20 20:45] #588 closed

[2018-09-20 20:46] joelgetaction commented on #58661
I still see this issue constantly.  I have upgraded to the latest build and it did not help.  I am on Version 1.28.0-insider (1.28.0-insider) at af3614909b837c46a260666cb7baab7a8468a9c8.

Any suggestions?  This is making it difficult to use VSCode because all my save on format, etc is all messed up and it's really slowing me down ... :-(

[2018-09-20 20:47] #14106 closed

[2018-09-20 20:48] #14090 closed

[2018-09-20 20:48] #14098 closed

[2018-09-20 20:49] #14096 closed

[2018-09-20 20:49] #14104 closed

[2018-09-20 20:50] #14101 closed

[2018-09-20 20:51] mjbvz commented on #15780
Duplicate of #2743

[2018-09-20 20:51] #15780 closed

[2018-09-20 20:54] #17334 closed

[2018-09-20 20:55] #14097 closed

[2018-09-20 20:57] mjbvz commented on #17362
The `onDidChangeTextEditorVisibleRanges` api covers this

[2018-09-20 20:57] #17362 closed

[2018-09-20 21:03] #58919 closed

[2018-09-20 21:03] #19544 closed

[2018-09-20 21:04] #21671 closed

[2018-09-20 21:06] octref commented on #58917
@ddzy Can you provide more info? What was the actions you were performing before the crash? What does the pop-up window say? Before it crashes, can you run `code --status` in command line and paste the content here?

[2018-09-20 21:06] GandalfSaxe opened #59066 "Trigger Suggest (⌃Space) does nothing in "Interactive Playground""
Issue Type: <b>Bug</b>

When I put the cursor in front of the error underline and press ⌃Space in the "Interactive Playground" demo, nothing happens. This is without any extensions:
<img width="884" alt="image" src="https://user-images.githubusercontent.com/12127864/45846973-a9825580-bd29-11e8-9aaf-608d9b196b4c.png">

Why is it not working?

VS Code version: Code - Insiders 1.28.0-insider (af36149

[2018-09-20 21:07] #25715 closed

[2018-09-20 21:07] octref commented on #58906
Possibly a js-beautify issue.

[2018-09-20 21:07] #35824 closed

[2018-09-20 21:08] rebornix commented on #58940
@leoste sorry I don't quite understand the issue you run into, do you mind sharing a gif or something to help troubleshoot?

[2018-09-20 21:09] #17100 closed

[2018-09-20 21:09] #21769 closed

[2018-09-20 21:10] rebornix commented on #42720
This issue shares the same root cause as https://github.com/Microsoft/vscode/issues/40634 so let's track it there.

[2018-09-20 21:10] octref opened #59067 "The titlebar should center window title"
Issue Type: <b>Bug</b>

In these cases it's clearly not centered:

![image](https://user-images.githubusercontent.com/4033249/45847121-cd6c7980-bcde-11e8-9c32-2774dcfb056c.png)

![image](https://user-images.githubusercontent.com/4033249/45847132-d9f0d200-bcde-11e8-8134-f9da738f6f13.png)

VS Code version: Code - Insiders 1.28.0-insider (af3614909b837c46a260666cb7baab7a8468a9c8, 2018-09-20T14:01:25.

[2018-09-20 21:10] #42720 closed

[2018-09-20 21:11] mjbvz commented on #58905
What language are you writing?

[2018-09-20 21:12] #55945 closed

[2018-09-20 21:12] #579 closed

[2018-09-20 21:12] octref commented on #58902
Can you also link to the issues that were closed?

[2018-09-20 21:13] #14093 closed

[2018-09-20 21:13] octref commented on #58899
Toggle on "Match Case":

![image](https://user-images.githubusercontent.com/4033249/45847278-669b9000-bcdf-11e8-886f-2ffcc7868258.png)

[2018-09-20 21:13] #58899 closed

[2018-09-20 21:13] rebornix commented on #36195
Shares the same root cause as https://github.com/Microsoft/vscode/issues/51794 since we are using the Hover for the color picker. Let's track it there.

[2018-09-20 21:14] #36195 closed

[2018-09-20 21:14] mjbvz commented on #13025
I believe this has been fixed

[2018-09-20 21:14] #13025 closed

[2018-09-20 21:16] #14094 closed

[2018-09-20 21:16] cdeutsch opened #59068 "Option to disable Image Preview's Zoom on Click"
I love that there is a way to preview an image in VS Code and the default zoom is spot on, unfortunately I spend a ton of time having to reset the zoom, because I accidentally zoom in when I click back on to the editor.

It'd be great if there was an option to disable that feature and just allow zooming via keyboard or from the bottom menu.

[2018-09-20 21:19] Tyriar commented on #59052
@AlCalzone

1. What directory did you open the terminal in?
2. Is the link you're pointing at relative to the directory the terminal was opened in?
3. Can you provide a screenshot?

[2018-09-20 21:28] Tyriar commented on #50128
@agurodriguez I made some comments on the underline, looks pretty close to what we're after. I created https://github.com/xtermjs/xterm.js/issues/1704 to track this, a PR would be fantastic! You would also want to remove the line in xterm.d.ts that says link underlines are not supported.

[2018-09-20 21:29] roblourens commented on #58936
You can still use the JSON editor any time you want, and if you prefer, you can change the default by setting `"workbench.settings.editor": "json"`

[2018-09-20 21:29] #58936 closed

[2018-09-20 21:30] auchenberg commented on #48339
@harishkragarwal

[2018-09-20 21:31] christer54 commented on #58905
Writing C++ code. Using VS Code on Mac OS X.

[2018-09-20 21:33] moe123 commented on #58902
Hello,

https://github.com/Microsoft/vscode/issues/41894
https://github.com/Microsoft/vscode/issues/45016

[2018-09-20 21:34] roblourens commented on #58927
This is a good idea, I will roll it into https://github.com/Microsoft/vscode/issues/58038

[2018-09-20 21:34] #58927 closed

[2018-09-20 21:40] rebornix commented on #52564
I don't think we are going to change the order of focusing into the find widget. When the find widget is launched and focused, we want to allow users to directly type in query keywords. We have the same experience for Search Viewlet (when it's opened, the focus is in the input box, not the left side toggle button), Git viewlet (focus in the textarea, instead of the top-corner expand/collapse butto

[2018-09-20 21:42] rebornix commented on #32660
@usernamehw above gif was tested when `editor.autoIndent` was set to `true` and the language for the file is JSON, I'd love to see more information about how to reproduce.

[2018-09-20 21:44] roblourens commented on #58038
@RedTailBullet had a good suggestion, that the default in the Workspace settings would match the configured value in the User settings. So here's how I interpret this:

- Starting clean with no configured settings
- Open User settings, see editor.insertSpaces is checked by default
- Open Workspace settings, editor.insertSpaces is checked by default
- Go back to User settings uncheck editor.insertS

[2018-09-20 21:47] alexandrudima commented on #59062
Does typing work if you disable the vim extension?

[2018-09-20 21:48] rebornix commented on #58867
I would suggest to implement this feature in an extension ;)

[2018-09-20 21:52] rebornix commented on #58618
@dwt we have this turned on by default at the very beginning but later on we found that it will lead to a lot of troubles. We can have multiple editors open and each one of them can have a find widget, if we share the find query and everytime when you switch the editor, we will update the query in the find widget in that specific editor, which makes finds in multiple editors impossible to use.

[2018-09-20 21:53] rebornix commented on #38575
We can already fetch the first visible line in the editor and `ctrl+d` is improved months ago (a PR from me).

[2018-09-20 21:53] #38575 closed

[2018-09-20 21:53] roblourens commented on #59056
https://github.com/Microsoft/vscode/issues/54485

I don't see the files with breakpoints being loaded. What's your launch config like? Have you seen the docs?

[2018-09-20 21:54] aardvarkk commented on #59062
Actually yes, that fixes the issue.

I had mistakenly said before that I had tried disabling all extensions, but I had neglected to *reload after disabling them*. Disabling the vim extension fixes the issue, and I can type again.
On Sep 20, 2018, 2:49 PM -0700, Alexandru Dima <notifications@github.com>, wrote:

[2018-09-20 21:58] rebornix commented on #56982
@drummy2 did you try command palette or menu bar to run `Find` when this happens? Does that work?

[2018-09-20 21:58] roblourens commented on #59065
The search sidebar doesn't use the `editor.selectionClipboard` but it also doesn't explicitly put selected text in the clipboard. Is it possible that's an OS feature? That textbox is a normal html <input>, if you see the same on webpages I would expect it to work the same. I'm not familiar with how this feature is supposed to work.

[2018-09-20 22:02] mjbvz commented on #58905
Thanks. Please file this issue against the c++ tools extension

[2018-09-20 22:02] #58905 closed

[2018-09-20 22:04] rebornix commented on #15579
This is already fixed in Insiders.

[2018-09-20 22:04] #15579 closed

[2018-09-20 22:05] amueller commented on #53346
Sorry but I disagree. This happens all the time and basically means you
can't commit restructured text files with vscode.

Sent from phone. Please excuse spelling and brevity.

On Wed, Sep 19, 2018, 14:57 João Moreno <notifications@github.com> wrote:

[2018-09-20 22:06] mjbvz commented on #59055
This is fixed in the current vscode insiders builds:

<img width="491" alt="screen shot 2018-09-20 at 3 05 29 pm" src="https://user-images.githubusercontent.com/12821956/45849421-b29e0300-bce6-11e8-9415-3a7f126c3262.png">

[2018-09-20 22:06] #59055 closed

[2018-09-20 22:09] mjbvz commented on #59033
This issue was moved to Microsoft/TypeScript#27245

[2018-09-20 22:09] #59033 closed

[2018-09-20 22:10] rebornix commented on #56982
It looks like https://github.com/Microsoft/vscode/issues/28237 and setting `keyboard.dispatch: "keyCode"` in your settings may fix it.

[2018-09-20 22:11] rebornix commented on #26344
This is a duplicate of https://github.com/Microsoft/vscode/issues/28046 and should already be fixed. Try setting `keyboard.dispatch: "keyCode"` in your settings file.

[2018-09-20 22:11] #26344 closed

[2018-09-20 22:14] mjbvz commented on #58977
This should come from an extension. Here's a feature request tracking it for the styled components extension: https://github.com/styled-components/vscode-styled-components/issues/95

[2018-09-20 22:14] #58977 closed

[2018-09-20 22:15] #58992 closed

[2018-09-20 22:20] mjbvz commented on #53545
This should be fixed in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/). I can no longer repo with that example file.

Let me know if you still see this issue when using VS Code insiders

[2018-09-20 22:21] mjbvz commented on #57216
This should be fixed in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) by #58852

Let me know if you still see this issue when using VS Code insiders

[2018-09-20 22:21] #57216 closed

[2018-09-20 22:28] mjbvz commented on #56674
We made some fixes in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) for this. Please test this on a recent insiders build and let me know if you still see this issue

[2018-09-20 22:28] #56674 closed

[2018-09-20 22:30] octref opened #59069 "y is cut off in terminal"
Issue Type: <b>Bug</b>

![image](https://user-images.githubusercontent.com/4033249/45850190-09590c00-bcea-11e8-98b6-029e498edf0e.png)

VS Code version: Code - Insiders 1.28.0-insider (af3614909b837c46a260666cb7baab7a8468a9c8, 2018-09-20T14:01:25.124Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x

[2018-09-20 22:30] rebornix commented on #29256
Right now we don't support multiline search string (tracked in #9051) and to replace whitespaces in your case, you can use regex to archive that.

[2018-09-20 22:31] #29256 closed

[2018-09-20 22:31] sbatten commented on #30173
Duplicates:
Indicate mismatched brackets: https://github.com/Microsoft/vscode/issues/36779
Highlight brackets when inside: https://github.com/Microsoft/vscode/issues/45920

[2018-09-20 22:31] #30173 closed

[2018-09-20 22:33] sbatten commented on #40073
duplicate of #19534

[2018-09-20 22:33] #40073 closed

[2018-09-20 22:34] rebornix commented on #32595
To find in a selection, you may want to select the range, toggle find in selection first to lock the selection, and then type in the query keyword. Find widget searches incrementally when you type so that's why the selection is not locked.

[2018-09-20 22:34] #32595 closed

[2018-09-20 22:35] rebornix commented on #32617
This is already fixed in Insiders.

[2018-09-20 22:35] #32617 closed

[2018-09-20 22:38] octref commented on #58555
What I ended up with:

![image](https://user-images.githubusercontent.com/4033249/45850053-6bfdd800-bce9-11e8-842b-7417b4b7efb0.png)

PR at https://github.com/Microsoft/vscode/pull/59070.

[2018-09-20 22:39] mjbvz commented on #55544
Does this still reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled? Are you using any typescript plugins?

[2018-09-20 22:40] CoryOwens opened #59071 "workbench.action.terminal.deleteWordLeft Doesn't Work, Outputs ^W"
Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Open the VS Code terminal (`` Ctrl+` ``, by default).
2. Type a command or a word into the terminal. (Ex: `foo`)
3. Press `Ctrl+Backspace`.  (By default, `Ctrl+Backspace` is bound to `workbench.action.terminal.deleteWordLeft` when `terminalFocus`.)

Expected result: The word to the left of the cursor is deleted.

Actual result: The character `^W` app

[2018-09-20 22:40] rebornix commented on #44702
Already fixed in Insiders.

[2018-09-20 22:40] #44702 closed

[2018-09-20 22:42] #59062 closed

[2018-09-20 22:43] mjbvz commented on #22614
6ec7423 adds a "TS server is initializing" indicator to the status bar. This will also show if the server crashes and is restarting

We automatically restart the TS server if it crashes and alert the user if the server crashes multiple times rapidly. There's also a `restart ts server` command that you can use to manually trigger a restart

I believe this addresses the original points from this iss

[2018-09-20 22:43] #22614 closed

[2018-09-20 22:46] mjbvz commented on #58972
Try creating a [`jsconfig.json`](https://code.visualstudio.com/Docs/languages/javascript#_javascript-projects-jsconfigjson) at the root of your project with the contents:

[code]

This tells vs code to treat all js files in the workspace as part of the same project, even if they are not open

[2018-09-20 22:46] #58972 closed

[2018-09-20 22:48] sbatten commented on #1772
Seems this is working and should be closed.

[2018-09-20 23:00] SavePointSam opened #59072 "editor.action.selectHighlights automatically"
I really like being able to see all the occurrences of something I highlight easily. Atom has this capability and I don't see any reference to this being a default feature in Code.

I would like to highlight a string and highlight occurrences of that string, automatically, in the same file, but also all other files that are open. This commonly comes up when I'm verifying prop-drilling in react app

[2018-09-20 23:02] mjbvz commented on #49338
I can't reproduce in the [latest VS Code insiders build](https://code.visualstudio.com/insiders/) with all extensions disabled and a simple command that just runs:

[code]

Let me know if you are still hitting this problem. (although it's also generally a good idea not to hold onto the active editor object as it may be invalid by the time the `then` is evaluated)

[2018-09-20 23:02] #49338 closed

[2018-09-20 23:03] coolit opened #59073 "cls command doesn't work if ctrl+HOME"
- VSCode Version:
latest
- OS Version:
win10 amd64
Steps to Reproduce:

1. In the terminal, run 'cls'
2. run some other command
3. press ctrl+HOME
4. all the old info before running cls, comes back again

[2018-09-20 23:04] mjbvz commented on #48191
Duplicate of #27498 and #36310

[2018-09-20 23:04] #48191 closed

[2018-09-20 23:08] mjbvz commented on #59053
Please share the text of the code along with screenshots

[2018-09-20 23:10] Tyriar commented on #36897
Looks like it was introduced in Windows 17063

https://blogs.windows.com/windowsexperience/2017/12/19/announcing-windows-10-insider-preview-build-17063-pc/

[2018-09-20 23:13] Arnavion commented on #59065
It's an OS feature, yes. In that case, why does it not behave the same for the textbox in the Extensions sidebar?

[2018-09-20 23:16] simonhaenisch commented on #46287
Still keen to have this resolved by making the buffer-region aware of the indentation settings for that language...

For example with this `.editorconfig`:

[code]

I would hope that e. g. a `yaml` region within a `html` file (front-matter) would take the `yaml` language-specific indent setting rather than the global one.

[2018-09-20 23:17] rswerve commented on #59056
I have read the docs, but the tests are running as expected, so I'm not sure what "loaded" means here.

I think the launch config is in the trace, but here it is, including commented options that I tried changing to no avail.

        {
            "type": "node",
            "request": "launch",
            "name": "Jest Tests",
            "program": "${workspaceRoot}/node_modules/platform-vic/l

[2018-09-20 23:19] RMacfarlane commented on #52562
@isidorn yeah, I'll look into this. Also not sure how to solve it, but will do more investigation

[2018-09-20 23:29] prmichaelsen commented on #58936
I wasn’t aware you can change the default. Thanks for the info 🤗

[2018-09-21 00:11] corbinu commented on #52629
@rebornix If your going to recommend authors can now use use NAPI to improve performance. Would it be also reasonable to note that Node 10 as stable support for WASM so they can also use WASM to get similar benefits: https://github.com/rustwasm/wasm-pack

[2018-09-21 00:32] af6140 commented on #59024
Translation here: Recently he wrote a js(javascript) file with vscode for Mac, in the process he experienced pauses/lags. For example, when click on the folding "+" symbol and nothing happened. Some times there is no code completion prompt. He has 16 plugins installed.

[2018-09-21 00:41] Moniarchy commented on #58176
@jrieken is this something that is open for me to work on?

[2018-09-21 00:51] q592840919 opened #59075 "You must use command netsh winsock reset to open."
Issue Type: <b>Bug</b>

You can't open it all the time. The lookup method is to use the Netsh Winsock reset command to open it, but you have to use this command every time you start it

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2018-09-21 00:55] roblourens commented on #59065
Because that's actually not a native `<input>` but an instance of the editor that is capable of using that setting.

I'm not sure whether it's possible for us to turn it off for every native input field in the electron window. @Tyriar any idea?

[2018-09-21 00:55] 406722575 opened #59076 "pytest can't stop Discovening Tests"
Issue Type: <b>Bug</b>

I don't know which plugin is installed, it will run automatically once every few minutes.
![image](https://user-images.githubusercontent.com/39303693/45854134-0e669b80-bd7c-11e8-9601-6a5ffe0947ed.png)

![image](https://user-images.githubusercontent.com/39303693/45854149-22120200-bd7c-11e8-8aa8-19fe5234fe8b.png)

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4

[2018-09-21 00:56] 406722575 commented on #59076
Thank you

[2018-09-21 00:57] roblourens commented on #59056
I meant to paste the link to the Jest docs for vscode in my last comment, and left it out by mistake. https://jestjs.io/docs/en/troubleshooting#debugging-in-vs-code

They recommend using `"--runInBand"`, normally it spawns a new process for the test code, which is just what the log shows. That flag loads the test code in the process which is being debugged.

[2018-09-21 01:17] #55795 closed

[2018-09-21 01:19] VNXtreme commented on #59005
RAM goes high. VS code has taken almost 50% CPU without me doing anything. Code suggestion no longer works

[2018-09-21 01:31] rswerve commented on #59056
Thanks, I had seen those docs and had tried "--runInBand".  Attached is the trace of trying that again just now, which unfortunately didn't make a difference (I can see that the test files are being run one-by-one, so it has an effect, but the breakpoints still aren't hit.)
[debugadapter.txt](https://github.com/Microsoft/vscode/files/2403578/debugadapter.txt)

[2018-09-21 01:34] rebornix commented on #52629
@corbinu definitely, wasm is another good solution to improve the performance and it has its special benefits

* broader language support
* OS independent

The second advantage above can be seen as disadvantage as it can't support talking to the system but it's up to extension authors which one to use. Thanks!

[2018-09-21 01:54] testforstephen commented on #57253
In 2018-09-20T 14:09:20.109Z insider, the thread status chaos issue got resolved. But it still cannot auto switch to the stopping thread.
![threadswitching1](https://user-images.githubusercontent.com/14052197/45855764-3528d000-bd84-11e8-93a8-e376e3514f42.gif)

[2018-09-21 01:56] #40658 closed

[2018-09-21 02:03] justnull commented on #59009
@octref
![qq 20180921095950](https://user-images.githubusercontent.com/724861/45855975-33134100-bd85-11e8-895c-958fa802e536.png)
still have No such file or directory.
`[09:55:09] Using gulpfile ~/js/vscode/gulpfile.js
[09:55:09] Starting 'clean-electron'...
[09:55:09] Finished 'clean-electron' after 25 ms
[09:55:09] Starting 'electron'...
events.js:183
      throw er; // Unhandled 'error' event

[2018-09-21 02:04] siran commented on #14298
Is this closed as in "won't do"?

[2018-09-21 02:28] PeterChen1997 commented on #59010
Hi mjbvz, i think it's real a problem for flow

before:
![image](https://user-images.githubusercontent.com/21072589/45856831-bb471580-bd88-11e8-811a-5e33811449d8.png)
after:
![image](https://user-images.githubusercontent.com/21072589/45856899-095c1900-bd89-11e8-971f-91def5040bb4.png)

and i fixed it by using this extesion:https://marketplace.visualstudio.com/items?itemName=joshpeng.sublime-babel-v

[2018-09-21 02:33] buckeyeconroy commented on #56644
@bpasero tracing data :
[data.zip](https://github.com/Microsoft/vscode/files/2403711/data.zip)

[2018-09-21 02:37] DaFri-Nochiterov opened #59079 "Updating turns monitor to sleep"
Issue Type: <b>Bug</b>

When you press “Restart to Update”, VS Code closes and Updater starts, right before the “Updating VS Code” window appears, your monitor goes to sleep.

It's more looks like Windows goes to sleep, but this one isn't ”Hibernated” (when your PC completely shuts down and leaving only Power indicator blinking), this one just disabling the monitor and once you click with mouse or

[2018-09-21 02:37] msftrncs commented on #20488
I want to add, that this problem is not unique to embedding grammers, such as JS or CSS in HTML.

It also occurs with complex and quirky languages such as Batch Script.  Its related in that some commands, like the comment, consume the rest of the line.   This can be handled with an exception to the line end, but usually its a hack that doesn't fully conform with the language.

Instance:
[code]
The

[2018-09-21 02:39] Arnavion commented on #59065
Okay, thanks. If you can't figure out a way of disabling it for the Search sidebar textbox you can close this issue. I'm investigating how to disable the feature globally in KDE anyway.

[2018-09-21 03:19] ParkourKarthik commented on #59020
@joaomoreno I tried the `npm link` for a module with git. But, VSCode doesn't recognise the git repository of the linked module as it exists under `node_modules` which is ignored in `.gitignore`.
Have there been any recent changes regarding this? Or Am I missing something here?
If this is the expected case, let me know how the glob patterns should actually work?

Note: `Auto Repository Detection`

[2018-09-21 04:00] chrisdias commented on #15916
[Live Share!](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare)

[2018-09-21 04:00] #15916 closed

[2018-09-21 04:03] chrisdias commented on #16168
This is already a recommendation, just not an `important` one.

[2018-09-21 04:03] #16168 closed

[2018-09-21 04:09] bpasero commented on #40009
@arrowplum what is your setup?

[2018-09-21 04:11] bpasero commented on #58988
/duplicate https://github.com/Microsoft/vscode/issues/12448

[2018-09-21 04:11] chrisdias commented on #22001
We are grooming our issue backlog this month (see #58224). This issue doesn't meet the criteria we've established for keeping the issue open ([criteria](https://github.com/Microsoft/vscode/wiki/Issue-Grooming): not enough votes, unlikely to be done in the next 6-12 months, doesn't align with roadmap).

[2018-09-21 04:11] #22001 closed

[2018-09-21 04:11] #58988 closed

[2018-09-21 04:17] chrisdias commented on #38211
hi - thanks for the suggestion.  this functionality can be contributed through an extension, so this is a good community project.  closing.

[2018-09-21 04:17] #38211 closed

[2018-09-21 04:18] bpasero commented on #59063
@Dari-K do you want to take this? It is possible that this is a regression from some work we did, though I cannot remember something during this milestone.

[2018-09-21 04:19] chrisdias commented on #36577
hi - thanks fo the suggestion. we're cleaning up our backlog this milestone and this doesn't meet the criteria for keeping it open - not enough community support and it is unlikely to make our backlog in the next 6-12 months.  thanks for the suggestion though, keep them coming!

[2018-09-21 04:19] #36577 closed

[2018-09-21 04:20] bpasero commented on #14298
@siran how is my comment in https://github.com/Microsoft/vscode/issues/14298#issuecomment-423176393 indicating that?

[2018-09-21 04:27] chrisdias commented on #46521
there are a quite a few [ruby extensions in the marketplace](https://marketplace.visualstudio.com/search?term=ruby&target=VSCode&category=All%20categories&sortBy=Relevance).  if there are issues, please do submit an issue with the extension you are using.

[2018-09-21 04:27] #46521 closed

[2018-09-21 04:29] chrisdias commented on #33921
hi - we're [grooming our backlog this milestone](https://github.com/Microsoft/vscode/wiki/Issue-Grooming) and this request is unlikely to make our backlog in the next 6-12 months so i'm closing this suggestion.

[2018-09-21 04:29] #33921 closed

[2018-09-21 04:31] chrisdias commented on #32180
the monaco editor has been integrated into the Azure Cloud Shell: https://azure.microsoft.com/en-us/blog/cloudshelleditor/

as far as running on iOS, we're grooming our backlog this milestone and it is unlikely to make our backlog in the next 6-12 months so i'm closing this suggestion.

[2018-09-21 04:31] #32180 closed

[2018-09-21 04:36] chrisdias commented on #37737
We've done quite some work to improve VSCode's auto-update on Windows such that it should happen in the background when you restart, and you don't see the dialog.  worst case scenario, you can turn off automatic updates (see our [FAQ](https://code.visualstudio.com/docs/supporting/faq#_how-do-i-opt-out-of-vs-code-autoupdates)).

[2018-09-21 04:36] #37737 closed

[2018-09-21 04:41] chrisdias commented on #14241
I'm resolving this as a duplicate of https://github.com/Microsoft/vscode/issues/50341.  if that's not the case, please let me know and i'll reopen and assign accordingly.  cc @alexandrudima

[2018-09-21 04:41] #14241 closed

[2018-09-21 04:44] Mohamed-Fayed commented on #56468
Ok, I used it and it works properly on the text editor. :)
Thank you so  much , :)
Sincerely,
Mohamed E. Fayed

On Sep 17, 2018, at 6:43 PM, Daniel Imms <notifications@github.com<mailto:notifications@github.com>> wrote:

I can't hear what I type ,which is the same problem in text editor

The text editor is accessible, make sure you enable accessibility mode using alt+f1 on mac. Also we're don't fu

[2018-09-21 04:46] chrisdias commented on #27553
thanks for the suggestion. we're [grooming our backlog](https://github.com/Microsoft/vscode/wiki/Issue-Grooming) this iteration and this is unlikely to make it on our roadmap for the next 6-12 months, so closing.

[2018-09-21 04:46] #27553 closed

[2018-09-21 04:47] chrisdias commented on #11357
We are [grooming our backlog](https://github.com/Microsoft/vscode/wiki/Issue-Grooming) this milestone and it is unlikely that we'll address this issue in the next 6-12 months.

[2018-09-21 04:47] #11357 closed

[2018-09-21 05:13] tomByrer commented on #41909
@bpasero  The nice-index author switched to VSCode also, & is awaiting the API ;)

[2018-09-21 05:28] luanft commented on #40009
I think that the issue is from the video memory card. On window I have 128MB but on linux I only have 16MB.

[2018-09-21 05:29] RedTailBullet commented on #58038
Thanks roblourens! That's exactly what I mean.

[2018-09-21 05:36] dabedoc commented on #58931
nope. I am not seeing anything. In fact update function doesn't even resolve so the line below it doesn't run either.

[2018-09-21 05:37] RedTailBullet commented on #58038
One thing as well, the actual config.json for workspace setting should also be based on user settings.

For example:

* In user setting, the editor.insertSpaces is unchecked (which is not the default).
* In workspace setting, the editor.insertSpaces is checked again (which is the global default), and the json of the workspace setting actually have `editor.insertSpace: true`.

[2018-09-21 05:45] inessaid opened #59080 "problems tab always showing "no problems have been detected in the workplace so far""
Issue Type: <b>Bug</b>

problems tab always showing "no problems have been detected in the workplace so far" even when I purposely type errors, it does not show them anymore.
It was working a few hours ago but I'm not sure what changed.

VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T16:17:45.060Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System

[2018-09-21 05:50] datoml commented on #41909
That's great news. I hope they implement it soon.

[2018-09-21 05:59] #38695 closed

[2018-09-21 05:59] bpasero commented on #38695
There is now a new command "Save without Formatting" with the keybinding `Cmd+K S`. If someone has a better name, feel free to suggest (initially I had "Save without Participants" but that seems a bit too technical).

[2018-09-21 06:03] #58942 closed

[2018-09-21 06:08] viradhamMS commented on #48339
@pkuma-msft to look in to this

[2018-09-21 06:12] trumanpurnell opened #59081 "File search incomplete"
- VSCode Version: version 1.27
- OS Version: 10.12.6 Sierra

Steps to Reproduce:

1. CMD - P
2. Search for a file

Does this issue occur when all extensions are disabled?: Yes

Only local files not finding certain ones! The files have underscores

[2018-09-21 06:12] AlCalzone commented on #59052
1. like I wrote in https://github.com/Microsoft/vscode/issues/57987#issue-357364727, its a kinda long path with a space in it: `C:\users\....\Something with space\Repositories\repo-name`. This is the directory I open inside VSCode. I then press <kbd>CTRL</kbd> + <kbd>ö</kbd> (german version) to open the terminal in that directory.
2. Yes, inside the directory is (among others) a directory `src`. I

[2018-09-21 06:16] bpasero commented on #59035
/duplicate https://github.com/Microsoft/vscode/issues/39059

[2018-09-21 06:16] #59035 closed

[2018-09-21 06:30] doberkofler opened #59082 "Search in editor (CTRL-F) changes focus to search in PROBLEMS panel"
Issue Type: <b>Bug</b>

When using a shortcur to search in the editor, the focus changes to the search box in the PROBLEMS panel. When using the menu this works as expected.

VS Code version: Code - Insiders 1.28.0-insider (2558a72d6902015b142ef45c57b664ce1f09e03f, 2018-09-21T05:19:52.215Z)
OS version: Windows_NT x64 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|

[2018-09-21 06:36] dbaeumer commented on #58985
@jrieken assigning to you as our URI expert. I call on the URI I get in the vscode API `toString()` before sending it to the LSP server.

[2018-09-21 06:37] dbaeumer commented on #58985
Please assign back if there is something you think needs to be done in the LSP client.

[2018-09-21 06:52] #996 closed

[2018-09-21 06:59] #576 closed

[2018-09-21 07:00] #1824 closed

[2018-09-21 07:01] alexandrudima commented on #2355
I think this use-case is handled now via the keybindings editor.

[2018-09-21 07:01] #2355 closed

[2018-09-21 07:08] alexandrudima commented on #58661
@joelgetaction Here is how you can profile extensions -- https://github.com/Microsoft/vscode/wiki/Performance-Issues#profile-the-running-extensions -- use those steps to identify which extensions consume a lot of CPU.

[2018-09-21 07:11] alexandrudima commented on #58921
@mitchellpalermo Does the keybinding reach vs code? If it does not, then there is nothing we can do about it, you must have some other software that is eating it up. Have you been successful in using this keybinding in other applications on the same machine?

![keyboard-input](https://cloud.githubusercontent.com/assets/5047891/25478333/fe31c830-2b40-11e7-865c-b2c3bb10dd75.gif)

[2018-09-21 07:12] izdwuut commented on #58880
Certainly. Well, I think that we're done here. Thanks for your assistance and have a nice day!

[2018-09-21 07:17] aeschli commented on #59014
That's already implemented and should work. I tried with the latest insiders and all looked good to me.

Do you have the same file open in two editors? Did you make modifications to the file while VSCode was closed?

[2018-09-21 07:18] alexandrudima commented on #56982
@drummy2 Can you search for Ctrl+F in the keybindings editor and show a screenshot here. e.g.

![image](https://user-images.githubusercontent.com/5047891/45865882-402d3180-bd7f-11e8-880f-01a51b403175.png)

[2018-09-21 07:18] aeschli commented on #59005
@VNXtreme Can you open the VSCode process explorer (Help > Process Explorer) and see which VSCode process is busy?

[2018-09-21 07:19] FHFS commented on #27733
![untitled](https://user-images.githubusercontent.com/9058444/45865938-66eb6800-bd7f-11e8-958c-6b309a51490c.png)
As you can see some of the find-all results are ok, but some are not visible.

[2018-09-21 07:19] dsanz006 opened #59083 "Keyboard shortcuts: "when": "activePanel == 'workbench.panel.match'" doesn't seem to work"
So I have a couple of customized keyboard shortcuts, they look like this:

`{`
`    "key": "meta+t d",`
`    "command": "workbench.action.closePanel",`
`    "when": "activePanel == 'workbench.panel.terminal'" //when terminal is visible`
`},`

`{`
`    "key": "meta+r d",`
`    "command": "workbench.action.closePanel",`
`    "when": "activePanel == 'workbench.panel.match'" //when problems view is vi

[2018-09-21 07:27] aeschli commented on #59032
You can fold all comments with the `Fold comments` command.

https://github.com/Microsoft/vscode/issues/40338 is about being able to define an initial folding state.

[2018-09-21 07:27] #59032 closed

[2018-09-21 07:34] aeschli commented on #58906
The problem is that the django syntax seems to allow quotes inside the template
`"{% static "frontend/main.js" %}"`

The HTML formatter sees this as two strings : `"{% static "` and `" %}"` and adds spaces.

The solution is to either to
- use a formatter that can handle the django language. I don't know if that exists but check out the marketplace.
- disable format on save (`"editor.formatOnSave":

[2018-09-21 07:34] #58906 closed

[2018-09-21 07:36] jrieken commented on #58985
This is the design, as we do minimal to none scheme specific encoding. To encode minimal you can use `someUri.toString(true)`.

@rjmholt How do you use the URI? What library to you use to parse an uri-object from that string? I am asking because escaping too much shouldn't be a problem.

[2018-09-21 07:39] dsanz006 opened #59084 "Keyboard Shortcuts: more "when" clause contexts are required related to Focus."
So I am customizing my VS Code shortcuts and I like them to behave differently depending on where my cursor is focusing. For instance, if I am focusing on the editor, the shortcut "Ctrl+Alt+D" does one thing, because in the definition of this shortcut I added `"when": "editorFocus"`. If I do "Ctrl+Alt+D" inside the terminal context, then the command does another thing, because I have `"when": "ter

[2018-09-21 07:41] jrieken commented on #58929
Yeah, I have seen this too

[2018-09-21 07:45] jrieken commented on #58948
Try `editor.tabCompletion: 'onlySnippets'`

[2018-09-21 07:52] jrieken commented on #57613
Ok, let try the following

* F1 > Open Keyboard Shortcuts File
* in the lower right, press 'Define Keybinding'
* press one of the keys on the numpad and write down what 'name' it has, e.g. `numpad8`
* Then `F1 > Inspect Key Mappings` and find the name from the step before and share the info

[2018-09-21 07:55] isidorn commented on #52564
@rebornix agree with what you outlined. Closing as designed

[2018-09-21 07:55] #52564 closed

[2018-09-21 07:58] sandorvasas opened #59085 "Font Family dropdown"
Personally I'm a font-fanatic, I love exploring for new fonts and setting them according to my mood along with the theme, so I really miss the font-family dropdown. Currently I need to find the font in another application and copy it's name to the setting.

[2018-09-21 07:59] isidorn commented on #59061
Dup of https://github.com/Microsoft/vscode/issues/59037

[2018-09-21 07:59] #59061 closed

[2018-09-21 08:00] isidorn commented on #57253
@testforstephen thanks for checking. We can investigate this in the following milestone

[2018-09-21 08:02] jrieken commented on #58176
Of course it is! Check this: https://github.com/Microsoft/vscode/blob/141f055452864ff34898c07e159210551bd4c207/src/vs/workbench/browser/parts/editor/breadcrumbsControl.ts#L322-L326

That the handler that runs when something in the picker has been selected. The `data` argument has a payload property which eventually gets you to the actual event that has triggered this. Extract the middle click data

[2018-09-21 08:03] ndsvw opened #59086 "Could you make IntelliSense working independently from the order of the "multi cursoring"?"
IntelliSense works fine for me (mostly):
<img width="622" alt="bildschirmfoto 2018-09-21 um 09 14 37" src="https://user-images.githubusercontent.com/21332313/45866154-28a27880-bd80-11e8-9882-0ab2be463e49.png">

And when I write a string, it does not suggest me anything (as expected):
<img width="610" alt="bildschirmfoto 2018-09-21 um 09 14 50" src="https://user-images.githubusercontent.com/2133231